[2020-09-10 18:52] ulfjack commented on #11782
(The service is supposed to document what acceptable values for `keepalive_time` are.)

[2020-09-10 18:53] ulfjack commented on #11782
The first stack trace from @coeuvre looks exactly like what I've seen in my tests. I haven't seen anything like the second stack trace, but it could be the same root cause.

[2020-09-10 19:52] rkube opened #12084 "Installing bazel on linux/ppc"
Hi,
I'm trying to install bazel on linux/ppc and am following these instructions: https://docs.bazel.build/versions/master/install-compile-source.html#bootstrap-unix

When running the compilation script I'm getting a lot of java errors. Does anyone have an idea how to resolve these?
[code]

[2020-09-10 20:05] #7923 closed

[2020-09-10 20:29] ejona86 commented on #11782
@ulfjack, the _grpc implementation_ should increase the keepalive time automatically on GOAWAY+too_many_pings. That should prevent outages but probably doesn't avoid the errors entirely. As an application author you can just notice the errors and respond to it out-of-band with code/flag changes.

[2020-09-11 00:42] linzhp opened #12086 "rule_implementation_hash is unsound when a rule definition site is a macro in b.bzl, but that macro is invoked from a.bzl, and that invocation passes along e.g. an implementation function object"
### Description of the problem / feature request:

Since Bazel 3.4, `rule_implementation_hash` in `bazel query`'s proto output doesn't always change for rule implementation changes

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[code]

[code]

### What operating system are you running Bazel on?

macOS

### What's the output of `baz

[2020-09-11 02:04] keith commented on #7998
Looks like this change is related? https://github.com/bazelbuild/bazel/commit/aa5592ed6b7539cf6467ec6f758a19e41aa7c5d8

[2020-09-11 02:44] benjaminp commented on #12086
@alexjski 9f2cab5d84678e492d8f5848525633f1c73f0994 is suspect as the rule hash is now the transitive hash of the defining module not necessarily the top-level loading one.

[2020-09-11 03:54] haxorz commented on #12086
@linzhp Thank you very much for filing this! @michajlo saw this Github entry and suspected the underlying bug was the explanation for some very mysterious nondeterminism we've been recently seeing internally at Google with a system that relies on caches of the `rule_implementation_hash` thing. After staring at your repro (ty for that!) and 9f2cab5, I'm pretty sure this issue is relevant.

@benjami

[2020-09-11 04:01] haxorz commented on #12086
Github isn't letting me assign to @alexjski (Github "org" membership issue?) but, rest assured, Alex will work on this.

[2020-09-11 04:03] haxorz commented on #12086
@alandonovan , for awareness

[2020-09-11 07:42] ulfjack commented on #8508
This seems to be working as expected from Bazel's point of view. You should bring this up with, err, RBE team? @EricBurnett @bergsieker

So, I created a remote execution service that artificially causes GOAWAY like the one you are seeing. Bazel retries the error 5 times (for a total of 6 calls) with exponentially increasing delays between calls. The default exponential backoff configuration is sti

[2020-09-11 08:40] Flamefire commented on #12059
That is `--subcommands`, yes. Already using it and lead me to seeing where the action_env is missing. Now I would like to know the rule invocation chain to see where it might be coming from and why the action_env is missing there.

I noticed that for `SUBCOMMAND: # //tensorflow/core/framework:summary_proto_genproto [action 'ProtoCompile tensorflow/core/framework/summary.pb.cc', configuration: 8b4a

[2020-09-11 11:21] angrad opened #12089 "why fetching one url by fetch is so slowly as different as wget?"
### Description of the problem / feature request:

fetching one url http://.....a.tar.gz  on my local server looks like idle, which is so slowly,
but when I use command 'wget http://.....a.tar.gz' in the terminal,  that is so fast.
any suggestion for me, my boss?
thanks a lot.

### Feature requests: what underlying problem are you trying to solve with this feature?

1. I post url http://.....a.tar

[2020-09-11 12:44] alandonovan commented on #12086
The rule definition environment (RDE---a concept that desperately needs an explanatory doc comment somewhere, not least because the term is overloaded as the name of an unrelated Java class) is based on the hash of the source of the .bzl file containing the immediate call to `rule()`, plus all bzl files it transitively loads. It is not based on the .bzl file that is being initialized. In other wor

[2020-09-11 13:15] Flamefire commented on #12059
Ok, it looks like you were on the right track with #4008. I bisected the TF sources between 2.2 and 2.3 to find the commit which introduced the breaking changed and found it to be this one: https://github.com/tensorflow/tensorflow/commit/f827c023906e7d30f0e5f2992b111ab34153310a The parent commit 3006330ea0c3e88651195ac7c7de654291377ebb works. However in that case it isn't "tools" but "exec_tools"

[2020-09-11 13:55] tomdegoede commented on #12062
I have re-produced my changes https://github.com/tomdegoede/bazel/commit/cc81ce9469881f790004166903619c05e83341cb for what it's worth :)

[2020-09-11 14:16] mthurlin opened #12092 "BRDA lines not correctly copied over when using the CoverageOutputGenerator"
# Description of the problem

The BRDA lines of a lcov report are incorrectly transformed when using `--combined_report=lcov`

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Create a folder and create a file in it called `test.dat`, containing:

[code]

Run `bazel run @bazel_tools//tools/test/CoverageOutputGenerator/java/com/google/

[2020-09-11 14:40] #12056 closed

[2020-09-11 14:51] benjaminp commented on #12086
What is the use for that definition? In the most extreme thought experiment, every rule in the universe could have the same hash if they all where defined through the `make_a` in  haxorz 's example.

I suggest the innermost module at rule export time as a more intuitive and—in the context of this bug, anyway—correct definition.

`head -v` for the filenames.

[2020-09-11 14:57] c-mita commented on #12092
This is resolved with the recent fixes to branch coverage information in the merge tool (b12a1e54d), just pending the next release.

[2020-09-11 14:57] #12092 closed

[2020-09-11 15:00] c-mita commented on #12092
Running the provided repro at HEAD:
[code]

[2020-09-11 15:00] Flamefire commented on #4008
I currently experienced something very similar in TensorFlow. But there it was due to use of `exec_tools` while `tools` works.

[2020-09-11 15:08] haxorz commented on #12086
+1 to what @benjaminp said. I was going to say the same thing (and give the same thought experiment). The current/new meaning of "rule definition environment" is not useful. The old meaning was more useful. Let's go back to something as useful as the old meaning.

Alan, chat me internally if you want to see some real examples of code like my `make_a`.

I admittedly wasn't part of that discussion,

[2020-09-11 15:10] keith commented on #12040
If possible I think we should cherry pick https://github.com/bazelbuild/bazel/pull/12046 once it lands. Without it in sandboxed builds on darwin you get log spew for every static archive action:

[code]

[2020-09-11 15:11] alandonovan commented on #12086
Good question; I'm struggling to page back into memory our length conversations about this, which unfortunately left no residue in the code. A superficial observation: the offending CL at least made the treatment of the label portion consistent with the digest portion. Before, the label came from the innermost and the digest from the outermost .bzl file on the call stack.

At least a part of the c

[2020-09-11 16:12] aiuto commented on #11885
@meteorcloudy  Is it time to try a 3.5.1 with the cherrypick of https://github.com/bazelbuild/bazel/commit/b3ac8f60973ba60d578ae6a653cdd993a2d206d7
or is there more to do?

[2020-09-11 16:13] aiuto commented on #11885
Actually, @vbatts, perhaps you are in the best situation to test, as you have the right compiler environment.
If you patch that commit into the 3.5.0 sources does your build then work?

[2020-09-11 17:24] dfreese commented on #7364
I've run into a similar situation where this would be extremely helpful.  When testing allocation failures, asan will complain.  This requires setting ASAN_OPTIONS.  Being able to set ASAN_OPTIONS="allocator_may_return_null=1" for a specific test, would be extremely helpful.

The alternative, currently, is to tag the test, filter it from our primary asan config, and create a secondary "asan_alloc_

[2020-09-11 17:36] iubica commented on #6989
I solved my own problem listing the --output_base location in .bazelignore. The output_base can also be listed as a startup option in the .bazelrc file, to not have to repeat it manually in all bazel commands.

[2020-09-11 18:00] #8583 closed

[2020-09-11 18:01] vbatts commented on #11885
tested b3ac8f6, and it seems to rely on other files than are included in
3.5.0:

[code]

[2020-09-11 18:23] SanjayVas opened #12094 "Permission denied in Bazel container: /usr/local/lib/bazel only accessible by root"
### Description of the problem / feature request:

Running the Bazel container [as documented](https://docs.bazel.build/versions/3.5.0/bazel-container.html) results in the following error:

Exploring the container shows that the `/usr/local/bin/bazel` in `PATH` is a symlink to `/usr/local/lib/bazel/bin/bazel`. However, the directory `/usr/local/lib/bazel` has permissions of 0600/drw-------. Theref

[2020-09-11 18:38] siggisim commented on #12050
Thanks for reporting @SrodriguezO and for the background @ulfjack.

We've bumped the default max grpc limit in https://github.com/buildbuddy-io/buildbuddy/commit/7cd6929ac9663439d63d74ab201fca72cc3b9054 which should go live in the next release (targeting this afternoon). Configurability incoming as well.

Feel free to upstream your changes in the future @zachgrayio!

[2020-09-11 18:42] SrodriguezO commented on #12050
Closing this as it doesn't seem to be a Bazel bug after all. Thank you @siggisim for the quick turnaround!

[2020-09-11 18:42] #12050 closed

[2020-09-11 18:56] benjaminp commented on #11811
b7590a03b48b353b72415a1896d014130740b535 gives filesets but not tree artifacts the requested behavior.

[2020-09-11 19:14] SanjayVas opened #12095 "Docker sandbox cannot access external repo targets"
### Description of the problem / feature request:

Attempting to build with Docker sandboxing (`--spawn_strategy=docker`) results in permission denied errors when attempting to access anything in the `external` tree of the execution root. I assume this is because only the current workspace directory under the execution root is mounted as a Docker volume, rather than the entire `execroot` directory

[2020-09-11 19:58] ThomasCJY commented on #11445
close this since it has been fixed by https://github.com/robolectric/robolectric-bazel/pull/10

[2020-09-11 19:58] #11445 closed

[2020-09-11 20:21] katre commented on #12040
My work to remove TransitionMode introduced some issues with Android builds: the symptoms are that android builds that set `--fat_apk_cpu` start seeing errors during one version checking (which appears to be in Bazel). To fix it, we need to cherrypick 1ae143b005f6982dc3150ae49d6f5ae9e9fd6b33 and 23b0b8a45a103f78d37f9338f0e80caffa076d6f, which I think will apply clearly.

Also, #12069 was filed abo

[2020-09-11 20:39] vbatts commented on #11885
applied 26cbf776e0cdd8fbb9a40aca4c1be6f5313b6eb4 also
and local build is making it further, so i've kicked off https://copr.fedorainfracloud.org/coprs/build/1658045

[2020-09-11 20:53] liuliu commented on #6578
Started to work on this last night. I modified TensorFlow / Joe Toth's Bazel CUDA rules and made it available https://github.com/liuliu/rules_cuda as a remote git repository. It uses the most up-to-date TensorFlow rules so far.

[2020-09-11 22:20] alexjski commented on #12086
@benjaminp, you are absolutely right that my change (9f2cab5) caused the issue described -- that's an excellent find. @linzhp, thank you for filing that issue and for the repro.

We have a fix for the bug already (b9bb10252a004047f9a997165aa1ab7d6c6fa2e7). We will cherry-pick that into Bazel 3.5.1 release.

Personally, I would like to apologize to everyone involved for having caused that issue. I

[2020-09-11 22:21] #12086 closed

[2020-09-11 23:17] linzhp commented on #12086
Thanks for getting this resolved so quickly

[2020-09-12 00:09] vbatts commented on #11885
Those two commits did the trick.
(The two failures are the couple of aarch64 that have consistently been failing)

[2020-09-12 02:21] aiuto commented on #11885
Thanks.

I started a 3.5.1 run with those two cherrypicks + correctness bug fix from https://github.com/bazelbuild/bazel/commit/b9bb10252a004047f9a997165aa1ab7d6c6fa2e7.
[code]
Alas, it seems to fail on an unrelated issue.
[code]
https://buildkite.com/bazel/bazel-bazel/builds?branch=release-3.5.1rc1.

I'll have to dig into that.

[2020-09-12 04:33] bjacklyn commented on #8508
@ulfjack I have a reproducible example, although I haven't been able to narrow it down to a small example repro I can share here. In order to hopefully collect more information I built bazel from source and replaced the `netty-all-4.1.34.jar` with the latest `netty-all-4.1.52.jar` and the new `netty`, however it provides a similar stacktrace without much info.
https://mvnrepository.com/artifact/io

[2020-09-12 06:51] philwo commented on #11885
@aiuto This looks like an incompatibility between Bazel 3.5.x and a too new Android SDK. IIRC we added a newer version of the Android build-tools on the CI machines in the meantime due to a request from the Android folks. Because Bazel's WORKSPACE build does not pin the tools to a fixed version, Bazel 3.5.x now picks up that latest version, but is not yet compatible with it.

[2020-09-12 08:40] loshca opened #12098 "Virtual File System For Git got unsupported since the 3.5.0 release"
### Description of the problem / feature request:

[Virtual File System For Git](https://github.com/microsoft/VFSForGit) got unsupported since the 3.5.0 release

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Make build with Bazel in mounted GVFS repository

### What operating system are you running Bazel on?

Windows

### What's th

[2020-09-12 11:38] 4ilo opened #12099 "Gcno instrumentation for cc_binary"
### Description of the problem / feature request:

When executing bazel build on a cc_binary or cc_library with gcc option --coverage gcno files are generated next to the object files. However the gcno files are not present in the bazel-out folder.
When executing Bazel with --sandbox_debug the gcno files are generated inside of the sandbox, but not extracted as build artifacts.

### Feature reques

[2020-09-12 15:30] aiuto commented on #11885
On Sat, Sep 12, 2020 at 2:51 AM Philipp Wollermann <notifications@github.com>
wrote:

It does look like that.

Wouldn't Bazel at head fail in CI if we did not have a corresponding change
at head to account for the new SDK?
Last night I started looking through all the commits between Aug 7 and now
but did not find evidence of that.
Perhaps it was just too long a day.

Are there notes about how we p

[2020-09-13 03:57] bjacklyn commented on #8508
@ulfjack -- I have created a small repo that reproduces the issue by building an open source project (protobufs): https://github.com/bjacklyn/bazel-remote-download-failure-repro

I can file a separate github issue for this. It would be great if you can confirm that you are able to reproduce what I am seeing ^ though. There seem to be a lot of dials and knobs in order to hit the issue, but if my un

[2020-09-13 07:32] #11371 closed

[2020-09-13 18:02] peter197321 opened #12100 "build with gcc/windows"
I've got running gcc/g++ compiler on Win10 machine...

[code]

I'd like to set a project build with this compiler. How can I get info on which compiler is applied or how to set up this compiler for the C/C++ project build?

[2020-09-14 02:30] coeuvre commented on #11989
After #12064 merged, you should be able to fall back to local build with flag `--remote_local_fallback`.

[2020-09-14 04:29] yfheng opened #12101 "Mutiple projects with one WORKSPACE"
Current I have multiple projects share with one WORKSPACE, so I put all package in the WORKSPACE file
The problem is every time when I  build projectA, it would download unnecessary packages which may use by projectB

Is there any way that Bazel manage them without downloading unnecessary packages

[2020-09-14 09:47] ulfjack commented on #12065
I don't think the team will implement this 'just for you'. If your compiler doesn't support having the generated files in a separate tree, then either fix the compiler or copy the files to a temporary merged tree. I understand that it's more work for you, but adding code to Bazel 'just for you' is probably even more work.

[2020-09-14 12:27] meteorcloudy commented on #12100
Looks like you have gcc installed via MSYS. Bazel supports building with MSYS gcc compiler via `--compiler=msys-gcc`.
See https://github.com/bazelbuild/bazel/blob/master/tools/cpp/BUILD.windows.tpl#L55

[2020-09-14 12:30] meteorcloudy opened #12102 "Bazel CI: Tulsi broken in downstream"
https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1646#1191460e-5611-4c21-b712-4a4ecf0d2d8e
[code]

Probably caused by https://github.com/bazelbuild/bazel/commit/f8b51ffc2a8a953f64657ae4a21c9e1f1793dae2

[2020-09-14 12:32] meteorcloudy commented on #12102
/cc @keith Should this be fixed from Tulsi side?

[2020-09-14 12:45] BalestraPatrick commented on #11989
@coeuvre Are there flags to control the number of retries and timeouts as well?

[2020-09-14 13:04] alanfalloon commented on #11371
@4ilo Why did you close this issue?

We still need a fix for this, so can it be reopened please?

[2020-09-14 13:08] alandonovan commented on #12086
Alex, the fault was mine: you worked on the clean-up at my behest, and the suggestion to make the behavioral change along with the refactoring was mine based on a misunderstanding of the inconsistency between the label and digest portions. Thanks again for making the change, and for unmaking it when the problem emerged.

[2020-09-14 13:43] peter197321 commented on #12100
Is that possible to have gcc/windows10 which installed with MSYS, to be used in Bazel?

[2020-09-14 14:14] #11989 closed

[2020-09-14 14:19] jmmv commented on #12102
Yes, f8b51ff is most likely the cause. We should probably roll that back until Tulsi is fixed...

cc @trybka @DavidGoldman

[2020-09-14 14:24] trybka commented on #12102
Rollback seems reasonable to me. Surprised that wasn't caught in CI during
presubmit...

On Mon, Sep 14, 2020 at 10:19 AM Julio Merino <notifications@github.com>
wrote:

[2020-09-14 15:05] DavidGoldman commented on #12102
On the Tulsi side we'd need to make sure that the new tools/objc targets are available in the mock workspace which seems a bit tricky.

[2020-09-14 15:10] trybka commented on #12102
We could just revert the gcov/mcov targets?

[2020-09-14 15:16] DavidGoldman commented on #12102
Ah I missed that, yeah it does seem like a breakage in `macos_unit_test`, but it looks like that was removed in rules_apple in https://github.com/bazelbuild/rules_apple/commit/9822cfe2cf5347198413bd7427adb51c9d0179a5. This might just be a versioning issue using the new Bazel with an older rules_apple?

[2020-09-14 15:22] meteorcloudy commented on #12100
Yes, `--compiler=msys-gcc` should make the gcc installed with MSYS2 work.
Does `c:\msys64\usr\bin\gcc` actually exist?

[2020-09-14 15:29] meteorcloudy commented on #12102
Yes, I think eventually the solution is for Tulsi to update the rules_apple version. But we should remove the dead code after Tulsi migrated in order not to cause breakage in downstream.

[2020-09-14 15:32] alandonovan commented on #10746
@aiuto Tony, should I be able to reproduce this in a cross build? I tried `bazel build --cpu=ppc  src/bazel` (with 3.5.0) and I got this error:
[code]
Any help much appreciated.

[2020-09-14 15:32] DavidGoldman commented on #12102
Yeah, that should need to be updated here: https://github.com/bazelbuild/tulsi/blob/e890fb6c88846454c4f69abd8d265a302c0e80e4/WORKSPACE#L5.

But not removing the gcov/mcov targets for now makes sense

[2020-09-14 15:34] keith commented on #12102
Here's the fix, but yea if we want to not remove those for now that's fine https://github.com/bazelbuild/tulsi/pull/175

[2020-09-14 15:34] peter197321 commented on #12100
I do have gcc :)

[2020-09-14 15:35] keith commented on #12102
Not removing those for now is likely safer because other projects with upstream tests could use rules_apple and therefore would also be broken. It's too bad there's not a better way to do this in lockstep.

[2020-09-14 15:51] keith commented on #12102
Given https://github.com/bazelbuild/continuous-integration/commit/4a79466336de761bd28d00065d3791938c5b5d10 maybe it's only tulsi that's broken? In which case maybe it's fine to fix it forward?

[2020-09-14 15:56] aiuto commented on #10746
Perhaps https://github.com/bazelbuild/bazel/commit/38c85a4770ff678cbeb5638b76fad0800ebefb52should have added ppc64le instead of replacing it?
It is also unclear why the default condition is empty rather than ":jni_md_header-linux".
Having to enumerate every platform while one is a good default is brittle.

[2020-09-14 16:07] keith commented on #12102
Here's a partial rollback for these empty scripts https://github.com/bazelbuild/bazel/pull/12103

New plan is to do a release with rules_apple that doesn't reference these, give users some time to update, and then remove these in the future

[2020-09-14 17:04] asuffield opened #12104 "java_common.merge discards annotation_processing (aka JavaGenGarsProvider)"
https://cs.opensource.google/bazel/bazel/+/master:src/main/java/com/google/devtools/build/lib/rules/java/JavaInfo.java;l=174;drc=2e8d89a95e68a66bd4adb3b99ff711a79c69c22a

b/65618333 may contain relevant details

There's no way to inject this value into JavaInfo from starlark, so reproduction requires the use of java_common.compile. I don't have a neat reproduction case for this one yet, it came up

[2020-09-14 18:24] alanfalloon commented on #11371
I'm not convinced that the requirements are mutually incompatible. @octalthorpe mentioned above that is is possible to pass the TTY to a child process in native code, it just can't be done with a bash script.

AFAICT both Mac and Linux were observing the same behaviours.

Perhaps things appear different for Windows, but isn't that always the case? Especially when talking about things like terminal

[2020-09-14 18:31] keith commented on #11782
I discovered a potentially interesting knock on effect of this. In our case we end up killing this bazel process, and the next bazel invocation on the machine sometimes hangs waiting for the previous one to finish:

[code]

Yet when queried that other pid doesn't exist. I assume this is unrelated to the root cause, and is a side effect of poor cleanup.

[2020-09-14 18:38] alandonovan commented on #10746
The two conditions have equal definitions, so I don't see why that should matter.
https://github.com/bazelbuild/bazel/blob/master/src/conditions/BUILD#L37

Linux is only a good default if you're actually using Linux. I'd rather it fail fast than use the wrong header.

[2020-09-14 19:12] aiuto commented on #11885
@philwo The obvious question is you say "we *added* a newer version.  If you really mean added, rather than replaced, this should only require pinning the version in the WORKSPACE.

[2020-09-14 19:21] philwo commented on #11885
@aiuto Yes, we added Android build-tools 30.0.1 and removed unused versions 28.0.3 and 29.0.0: https://github.com/bazelbuild/continuous-integration/commit/050153de261cd0cca54d59760b2dc0ca95a49e0a.

Before this change, Bazel would have used build-tools 29.0.3, after this change it would use 30.0.1.

Bazel at HEAD and Bazel 3.6 are compatible with build-tools 30.0.1, but Bazel 3.5 is not yet compati

[2020-09-14 19:41] alanfalloon commented on #5588
Here are some of the ways that this behaviour has broken my rules:

- Rules that build archives by first producing the directory tree suddenly have entirely wrong permissions in the archives. Some tools, like GNU tar provide flags to work-around this. Other tools, like zip, do not.
- Rules that use hard-linking instead of copies (when possible) will have the modes changed on sources mysteriously.

[2020-09-14 20:33] EricBurnett commented on #11371
The issues I'm aware of that were being balanced:

- Contrary to documentation in the test-setup.sh script, bazel was implicitly relying on SIGTERM being sent to all processes - the test-setup.sh wrapper *and* all its children. This doesn't always work - for example, when running an action in a docker container, a signal can only be sent to the top-level process. Bazel's wrapper needs to actually

[2020-09-14 21:24] achew22 commented on #7444
@aiuto are there any tracking bugs beyond this that I can follow for that progress?

Thanks so much!

[2020-09-14 23:09] alexeagle commented on #9171
@brandjon ping again for an update - should we just start on a starlark implementation of the python rules?

[2020-09-15 01:12] coeuvre commented on #11989
Yes, please check `--remote_retries` and `--remote_timeout` [here](https://docs.bazel.build/versions/master/command-line-reference.html#build-options).

[2020-09-15 05:56] jin commented on #12101
If you have a way to reproduce this, that would be great. Bazel would not download external dependencies unless the requested targets to build transitively depends on them.

Closing as there is not enough information to proceed further.

[2020-09-15 05:56] #12101 closed

[2020-09-15 05:58] jin commented on #12098
The associated PR looks like this is impacts Windows hosts. Categorizing as `area-Windows`.

[2020-09-15 06:01] jin commented on #12089
We need more information about your setup to proceed further. What host are you on? What does your network setup look like? Are you using any proxies? Do you have any data to describe the actual performance of the fetches?

[2020-09-15 06:01] #12089 closed

[2020-09-15 06:39] TheKaur commented on #2602
@meisterT What version is this fixed in?

[2020-09-15 06:48] meisterT commented on #2602
I don't know exactly. I just tried to repro at HEAD and could not. Does it still show up for you?

[2020-09-15 07:41] meteorcloudy commented on #12102
Thanks for the fix, I'll reenable Tulsi in downstream now.

[2020-09-15 07:41] #12102 closed

[2020-09-15 07:50] meteorcloudy commented on #12100
Oh, I see, maybe you only have the mingw gcc installed. Can you try with `--compiler=mingw-gcc`?

[2020-09-15 08:47] meteorcloudy commented on #12098
The PR has been merged. I'll close this issue now.

[2020-09-15 09:14] peter197321 commented on #12100
I have installed MSYS2, gcc under 64-bit environment.

[2020-09-15 09:16] meteorcloudy commented on #12040
b3ac8f60973ba60d578ae6a653cdd993a2d206d7 and 26cbf776e0cdd8fbb9a40aca4c1be6f5313b6eb4 was cherry picked for 3.5.1 for fixing https://github.com/bazelbuild/bazel/issues/12056, we should probably cherry-pick for 3.6.0 as well.

[2020-09-15 09:21] meteorcloudy commented on #12100
Did you somehow touched `C:/_bazel_nxa18908/install/5ae8cabc4b9be067994d8893f859e371`? If so, you have to completely delete this directory, otherwise Bazel will complain its installed directory is modified.

[2020-09-15 09:26] peter197321 commented on #12100
OK - deleted - now build. Thank you!

How about to debug?

[2020-09-15 10:44] meteorcloudy commented on #12100
Great!

Sorry I don't have any knowledge about configuring debug in VS Code.

[2020-09-15 10:44] #12100 closed

[2020-09-15 13:29] mihaigalos commented on #5139
+1.

[2020-09-15 18:21] TheKaur commented on #2602
@meisterT I am on 1.0.0. I'll try a new version.

[2020-09-15 18:32] janakdr commented on #7962
Internally at Google, we use something more like @haxorz 's [(1)](https://github.com/bazelbuild/bazel/issues/7962#issuecomment-552945740). For that reason, I think it's unlikely that we'll prioritize exposing such a transitive hash. However, the action sketch mentioned by @ericfelly seems like it could be a good option in concert with aquery. It's basically all open-sourced already, so PRs to inte

[2020-09-15 19:13] janakdr commented on #8174
Sorry this went uninvestigated for so long. Do you have a minimal repro? Trying `bazel build //external:*` with Bazel 3.5.0 actually gives me a crash (which is a separate problem!). It sounds like just depending on a file in a different package should do it, but I couldn't repro: my `build` command failed as expected.

[code]

[2020-09-15 19:17] janakdr commented on #4448
This is still an issue, easily reproducible.

[2020-09-15 19:43] jschaf commented on #8174
I haven't used Bazel in a while. The repro from the initial report was:

[code]

[2020-09-15 19:53] janakdr commented on #8450
I think this is working as documented. The rollout of tracking source directories is a separate issue.

[2020-09-15 19:53] #8450 closed

[2020-09-15 19:55] janakdr commented on #8800
@michaeledgar

[2020-09-15 19:59] bduffany opened #12107 "Documentation issue: Concepts and terminology"
Documentation URL: https://docs.bazel.build/versions/3.5.0/build-ref.html

This page references the term "rule" (in the repositories section) before defining what a rule is.

[2020-09-15 20:41] janakdr commented on #10177
I have a change out for internal review that allows the workspace_status_command to overwrite these values. So /bin/true wouldn't work, but
[code]
should be ok. Hopefully that's enough to work around your issue?

[2020-09-15 21:05] #10177 closed

[2020-09-15 21:09] janakdr commented on #10365
No longer crashes. I think the issue was just that when we were evaluating globs, we might hit this symlink cycle and we previously didn't tolerate it. Now we do. Please reopen if there's anything else to be done.

[2020-09-15 21:09] #10365 closed

[2020-09-15 21:37] janakdr commented on #10601
Sounds like this is specific to sandboxing?

[2020-09-15 21:56] #10502 closed

[2020-09-15 22:11] janakdr commented on #10633
Is there anything more to that stack trace? It on its own shouldn't lead to a hard crash. There might be something more in the bazel logfile, even if not on the console?

[2020-09-15 22:13] janakdr commented on #10974
https://github.com/bazelbuild/bazel/issues/5506 may be related.

[2020-09-16 01:01] benjaminp commented on #10974
This particular issue can be fixed with `--experimental_no_product_name_out_symlink`.

[2020-09-16 01:38] jin commented on #4448
Closing as dupe of #4508 - the "external" directory and package are special cased for external repositories, which means that BUILD targets in this package would have unexpected behavior. See the linked main issue for details.

[2020-09-16 01:38] #4448 closed

[2020-09-16 03:41] janakdr commented on #4448
It's always a Bazel bug if we crash hard. That's never the desired state of
affairs: no user input should cause that.

[2020-09-16 03:47] jin commented on #4448
I agree that it's a Bazel bug, but the root cause is #4508 and it's being worked on (cc @gyias)

[2020-09-16 05:08] cpsauer commented on #11748
Came across this looking to build and bundle together binaries, one for each platform, some of which would need to get built remotely. This would be awesome for that!

Could I ask what use case originally inspired this feature request?

Also, @gregestren: I was just building on some of your great examples around transitions. Thank you for those!

[2020-09-16 05:14] mokagio commented on #126
I had the same problem trying to build [the `UrlGetClasses` example](https://github.com/bazelbuild/examples/blob/b29794fb55f6714442dd86946c77f8908321a430/tutorial/ios-app/BUILD#L4-L12) form [the tutorial](https://docs.bazel.build/versions/master/tutorial/ios-app.html)

`bazel build UrlGetClasses` would fail with

[code]

Adding the `--ios_sdk_version` flag didn't help, but this fixed it for me

[c

[2020-09-16 11:55] #6993 closed

[2020-09-16 12:31] katre commented on #11748
We have mixed-backend builds we'd like to do, mostly around developers who are working on Mac laptops but want to use the Linux remote build backends, so we'd like to get that moving. There's a lot of cruft to clean up first, though, so I'm not sure when we'll be moving forward.

Mixed binaries like you want can be done with transitions, however, so I am glad you found the examples for those helpf

[2020-09-16 12:47] guibou commented on #10177
Thank you!

[2020-09-16 13:09] attilaolah opened #12110 "--toolchain_resolution_debug output not ordered"
### Description of the problem / feature request:

When running a build with `--toolchain_resolution_debug`, the output lines seem to come in random order, each time different, making it really hard to debug the underlying issue.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[code]

[2020-09-16 14:42] ulfjack opened #12111 "Bazel should accept ALREADY_EXISTS for byte stream uploads"
### Description of the problem / feature request:

`com.google.devtools.build.lib.remote.ByteStreamUploader` only treats uploads as successful when they return an OK status. Naively, this seems fine - Bazel first checks if the file exists remotely and then uploads it. However, this is a check-then-act race, where either another thread in the same Bazel process or another Bazel process may finish a

[2020-09-16 14:51] devjgm commented on #8217
@jerrode I'm trying to upload bazel's `coverage.dat` files to codecov.io now and I see a generic "There was an error processing coverage reports." message. Should I expect codecov.io to work with bazel's `coverage.dat` files now?

[2020-09-16 15:05] ulfjack commented on #11748
We have successfully run some builds where Bazel runs on a Mac and the build runs on Linux, although that required a patch to the bazel-toolchains repository which currently looks at the local host to determine the remote host (which is obviously incorrect in this case).

[2020-09-16 15:34] ulfjack commented on #6091
Is this still an issue? As far as I can tell, Bazel should be downloading files fully concurrently. For the HTTP cache, it uses HTTP/1.1, but it does reuse the connection.

[2020-09-16 15:38] #10508 closed

[2020-09-16 15:42] ulfjack opened #12113 "Duplicate file uploads over gRPC"
### Description of the problem / feature request:

Bazel does not deduplicate file uploads across actions, so it may attempt multiple uploads of the same content in parallel. If these are large files, then this causes significant network overhead.

For remote builds of TensorFlow over the public internet, this makes the build take a very long time.

### Bugs: what's the simplest, easiest way to re

[2020-09-16 15:44] ulfjack commented on #12113
I have a patch to deduplicate uploads, which has shown significant reductions in build times across a number of different builds and network configurations.

[2020-09-16 15:44] benjaminp commented on #6091
It's still the case that HTTP cache output uploads are serial.

[2020-09-16 15:45] ulfjack commented on #12113
My patch is here: https://github.com/ulfjack/bazel/tree/blob-existence-cache

I am currently in the process of cleaning it up and splitting it into smaller PRs.

[2020-09-16 15:48] ulfjack commented on #6091
Are you saying that Bazel is uploading outputs of a locally run action serially?

[2020-09-16 15:49] mariusgrigoriu commented on #6091
Yes, the Go standard library mentioned at the top can take 20 minutes to build with remote caching enabled, when there is a remote cache miss. By contrast, it takes about 30s to build from scratch without remote cache involved. The problem is with the upload, not the download.

[2020-09-16 15:55] benjaminp commented on #6091
To the HTTP cache, yes.

[2020-09-16 19:29] ulfjack commented on #6091
Err... so the API uses futures, and the HTTP client uses futures, but apparently the glue code between the two is blocking. That is ... unfortunate, but luckily easy to fix.

[2020-09-16 20:27] ulfjack commented on #6091
Ok, I sent a patch.

[2020-09-16 20:42] susinmotion commented on #10601
@jmmv is this something you're familiar with?

[2020-09-16 20:48] laurentlb commented on #12040
I'll create a new candidate with the cherrypicks on Monday (sorry for the delay, I'm on vacation this week).

[2020-09-16 20:50] jmmv commented on #10601
Yes, I'm assuming this is specific to sandboxing. The sandbox won't propagate unknown outputs into the output tree, and that's very much by design.

What's the use case here? If you are passing extra options to generate new files, then the rules should know about them. They could use a tree artifact to capture those unknown outputs though.

[2020-09-16 20:59] nacl commented on #9171
Linking in #6841, which seems to be asking for the same thing.

[2020-09-16 21:14] ulfjack commented on #10799
We have a use case where we want to run tests on a different architecture from builds. Ideally, this would not require annotating every test rule individually, for example, this could be inferred from the target platform (does such a thing exist?). As far as I can tell from the source code, there is no working mechanism for this right now. I'd also be happy to file this as a separate bug - it migh

[2020-09-16 21:15] susinmotion commented on #12049
@gregestren is this something you'd be able to advise on?

[2020-09-16 23:17] luxe opened #12116 "Advice on testing bazel trunk"
### Description of the problem / feature request:

We'd like to test the latest commits of bazel prior to releases.  This will help us catch upgrade issues early.
Building from source was easy, thanks! [(docs)](https://docs.bazel.build/versions/master/install-compile-source.html)
[code]

Would this be the ideal way to test the latest bazel, or if you have any other general advice in doing so?
I su

[2020-09-16 23:44] konste opened #12117 "--ui_event_filters=-INFO does not suppress the last INFO message in the output"
### Description of the problem / feature request:

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Run any build with `--ui_event_filters=-INFO`. You still going to see `INFO: Build completed successfully, 1 total action` at the end of the console output.

### What operating system are you running Bazel on?

Linux, Windows

### What'

[2020-09-16 23:47] konste commented on #12040
I just opened a bug https://github.com/bazelbuild/bazel/issues/12117. Don't know if it is big enough to be considered a release blocker for 3.6.0, but on the other hand, it looks like a glaring omission and hopefully is easy to fix.

[2020-09-17 01:43] chetgnegy commented on #12051
Good news for anyone who might be helping me debug this: gtest was unrelated. It's actually the interaction between cc_test and transitive objc dependencies that causes the issue.

This is more clear in my updated example:
https://github.com/chetgnegy/bazel_issue_9_4_2020/commit/dfb9e59038c0b24487260b89b5a3164050f2ec88

[2020-09-17 01:51] chetgnegy commented on #12051
You can also view the diff in the verbose build commands between the cc_binary and an otherwise equivalent cc_test here:
https://www.diffchecker.com/oiBe1FsH

[2020-09-17 02:07] chetgnegy commented on #12051
Alright. The next logical thing to do is to add linkstatic = 1 to the cc_library target "MyLib", and sure enough that fixes all my build problems!

I'll leave it to the experts to decide if this is a bug or working as intended.

[2020-09-17 02:32] chetgnegy commented on #12051
One more update. It turns out that it is necessary to link the library under test and not just the library that is directly including the objc_library. The library under test shouldn't be responsible for its dependencies' dependencies. To me that means we're in bug territory.

[2020-09-17 02:38] jin commented on #12116
You can look at the exact set of test targets Bazel CI runs on postsubmit here: https://github.com/bazelbuild/bazel/blob/master/.bazelci/postsubmit.yml

[2020-09-17 03:53] aiuto commented on #7444
This is the tracking bug.  I have not replicated my TODO list of Google internal bugs to github because they are mostly about cutting over legacy systems which are not part of the new scheme.

[2020-09-17 10:14] ulfjack commented on #12116
You can build a dev release like so:
[code]

I'd recommend not to use `//src:bazel-dev` as it may not accurately reflect the release (the main difference is in how much of the JDK is embedded into the binary).

[2020-09-17 11:43] janakdr commented on #10974
Thanks @benjaminp ! I think that closes this issue.

[2020-09-17 11:43] #10974 closed

[2020-09-17 12:03] janakdr commented on #11103
The documentation is incorrect. We should fix it.

[2020-09-17 12:07] #11008 closed

[2020-09-17 12:08] Sebelino commented on #11103
The name of the flag is also misleading; a more accurate name would be `--build_manual_targets`.

[2020-09-17 12:54] meisterT commented on #12076
This is still stale, but now with a different error:

[code]

[2020-09-17 12:57] meisterT commented on #12116
Instead of building your own bazel binary, you can use bazelisk with `USE_BAZEL_VERSION=last_green`, see https://github.com/bazelbuild/bazelisk#how-does-bazelisk-know-which-bazel-version-to-run

[2020-09-17 13:22] #12076 closed

[2020-09-17 13:23] janakdr commented on #10653
The basic problem here is that the bazel-$WORKSPACE convenience symlink is blindly traversed by Bazel: you can even do `bazel build //bazel-$WORKSPACE/...` and it will load the labels without any issues, and even build the targets there if you're lucky. When you switch output bases, the symlinks are broken, but the fundamental issue is visiting that convenience symlink in the first place.

My sugg

[2020-09-17 13:39] janakdr commented on #11151
Unfortunately this would be a bit tricky to fix in general. At the time an action fails, we may not know which outputs are needed (we know at least one is needed). In the case that A produces two outputs, A_important and A_unimportant, if B and C both depend on A, B runs first, and requests A_unimportant, while C would request A_important but hasn't yet executed in the build (because of scheduling

[2020-09-17 14:07] janakdr commented on #11194
We have some functionality internally to serialize analysis objects like this, but performance and serialized size would probably not be good enough for this to be a useful feature at present, especially if the use case is for clean builds, where the full analysis graph would have to be materialized in memory. Our use case is focused on individual targets, which means that there's duplication of s

[2020-09-17 14:35] Mathiasdm opened #12121 "bazel coverage fails with sandboxfs"
### Description of the problem / feature request:

Running 'bazel coverage' with sandboxfs results in a failure in the execution of remote_coverage_tools. We had this issue in our tests, but it occurs with a simple example as well.

Error output from our build (with irrelevant directories replaced)
[code]

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal e

[2020-09-17 15:07] janakdr commented on #11216
Could you expand a bit on the use case here? Within a Bazel invocation, Bazel should print out enough information to identify the failing rule. This is for the case of debugging failed actions on the remote execution server?

I don't think that currently build actions have any environment variables set, so this would be a completely new thing. I think that a two-line hacky change to [AbstractActio

[2020-09-17 15:18] benjaminp commented on #12121
This is #4033.

[2020-09-17 16:17] acecilia commented on #8230
Could the slowness be due to notarization? https://sigpipe.macromates.com/2020/macos-catalina-slow-by-design/

Seems like since notarization was introduced, all scripts that run for the first time are firing a network request to apple. Since bazel uses sandbox, potentially all scripts there are considered new by the system.

I could not check this theory though

[2020-09-17 16:18] endobson commented on #11151
If the idea is to tell the user which action failed then tell them that, not which output failed to build. I think it is much preferable to give the user less precise information if it is irrelevant. Thus adding information to error message without taking out the wrong file name isn't really fixing the issue.

[2020-09-17 16:19] susinmotion commented on #12049
Actually, this may be an Apple Rules issue, not an --action_env issue. @googlewalt , is this in your wheelhouse?

[2020-09-17 16:29] Yannic commented on #12117
I ran into this today as well (Bazel 3.4.1 & HEAD). The message is written to the terminal here: https://cs.opensource.google/bazel/bazel/+/master:src/main/java/com/google/devtools/build/lib/runtime/UiStateTracker.java;l=1084;drc=e3285b8b4593a0672284e577de79d368a50d8596

[2020-09-17 16:53] janakdr commented on #11151
I don't think it's technically the wrong file name: the action was supposed to produce that file, and it failed to do so. But I take your point. It looks like this error message has been present internally for over 13 years, so there may be quite a blast radius if we change it. I'll take a look.

[2020-09-17 17:18] edias opened #12123 "Failed Linking Static Library(Libtool + Darwin)"
### Description of the problem / feature request:

I'm try to build a library using `swift_library` and I'm getting a `linking` issue with `libtool`.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[code]

### What operating system are you running Bazel on?

MAC OS Catalina 10.5.6

### What's the output of `bazel info release`?

baz

[2020-09-17 17:32] keith commented on #12123
I believe this happens when your glob doesn't match anything, can you verify some sources are actually being compiled here? You can probably change your glob to `glob(["Pods/Valet/*.swift"], allow_empty=False)` to error sooner

[2020-09-17 17:55] kreuzerkrieg opened #12124 "cant build with bazel and ccache"
### Description of the problem / feature request:
Bazel fails to build `tcmalloc` with message

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

I guess no special steps needed. `ccache` works fine, I'm able to build without using `sudo` with CMake, for example

### What operating system are you running Bazel on?
Ubuntu 20.04

### Wha

[2020-09-17 18:07] thekyz commented on #4685
This has been opened for more than 2 years now. Can’t this be escalated a bit?

[2020-09-17 19:03] googlewalt commented on #12049
I think there are two issues:
1. AFAICT, based on code inspection, action_env does not work on bazel.  @gregce can you confirm?  @keith do you know of instances where it works?
2. bazel does not set a default PATH for actions.

In both cases, the issue seems to be that `BazelRulesModule` does not have some setup code we have internally, that does both (1) and (2).

[2020-09-17 19:26] googlewalt commented on #12049
Sorry.  I found the setup code in `BazelRulesModule`.

[2020-09-17 19:29] googlewalt commented on #12049
Have you tried `--incompatible_strict_action_env`?

[2020-09-17 19:31] JaredNeil opened #12125 "clean --async doesn't delete unwritable directories"
### Description of the problem:
`bazel clean --async` doesn't delete files in folders that are missing the `w` permission.
Basically, I think something about `declare_dir` removes the write permission from the directory, then when `clean --async` [runs `rm -rf`](https://github.com/bazelbuild/bazel/blob/2b21225ac3b7adf12b0066df2548a9725e504b54/src/main/java/com/google/devtools/build/lib/runtime/com

[2020-09-17 19:56] peter197321 opened #12126 "build with debug"
I'm trying to enable debugging my example code with Bazel build
[code]
when I'm loading it with `gdb`  I cannot set  a breakpoint

[code]

but using `gcc` compiler

[code]

How do Iset properly the debugging option?

[2020-09-17 20:17] keith commented on #12049
I have tried that flag, AFAICT that flag is only read here:

https://github.com/bazelbuild/bazel/blob/84834db3a0d5ac2b1c71c5706f259e7dff4a4f0e/src/main/java/com/google/devtools/build/lib/bazel/rules/BazelRuleClassProvider.java#L187-L201

and IIRC this codepath isn't even hit, otherwise action_env would work as well:

https://github.com/bazelbuild/bazel/blob/84834db3a0d5ac2b1c71c5706f259e7dff4a4f0e

[2020-09-17 22:04] cpsauer commented on #11748
Thanks, both of you, for replying.

@katre, just to confirm, I *can't* currently use transitions to have parts of the graph build remotely, right? That's what it seemed like from my experience playing around with transitions, and this seemed like the issue that would lead to the change from reading the design doc ([link if anyone else is looking](https://docs.google.com/document/d/1U9HzdDmtRnm244C

[2020-09-18 00:32] dld-woven opened #12128 "O365: some webhooks don't result in a calendar sync"
Lookin in detail at one hour of O365 webhooks and syncs:

[code]
1754 webhook requests hit the load balancer

[code]

1284 were valid sync requests on 207 different calendars

[code]

1276 event syncs started on 206 calendars
10 full syncs started on 10 calendars

[code]
synced 141 new events on 71 calendars

[code]
synced 510 updated events on 151 calendars

[code]
398 master events synced on 79

[2020-09-18 00:34] dld-woven commented on #12128
sorry, wrong project.

[2020-09-18 00:34] #12128 closed

[2020-09-18 00:53] googlewalt commented on #12049
I verified that this behavior is not specific to apple rules, and it has been this way since at least bazel 1.0.  I would have expected the SHELL_ACTION_ENV to be applied to all the rules that run a shell, but I'm not familiar with exactly how that logic works.  The most recent non-trivial refactoring of this code was done in commit 8626623106fc0f9f83781990f7c235074926d196.  Perhaps someone more f

[2020-09-18 00:55] keith commented on #12049
cc @lberki (author of that commit)

[2020-09-18 02:50] edias commented on #12123
Thank you very much @keith , I just changed the rule to navigate sub-levels. The source code was actually in a source subfolder.
`
swift_library(
    name = "Valet",
    srcs = glob(["Pods/Valet/**/*.swift"]),
)
`

[2020-09-18 02:53] keith commented on #12123
No problem! Sounds like should close this then?

[2020-09-18 07:13] chetgnegy commented on #5318
I just hit a similar version of this where my objc_library wasn't getting the c++14 flag set in my bazelrc (I'm building ObjC++ files). Fortunately for me, specifying c++14 again in my objc_library as a copt is an acceptable solution, but I think it makes sense for me to not have to do that.

[2020-09-18 07:40] oquenchil commented on #4685
I'm working on this. Hopefully, I have a fix soon.

[2020-09-18 07:53] coeuvre commented on #12074
Implemented in #12130

[2020-09-18 07:54] coeuvre commented on #10636
Implemented in #12130, can you please have a try?

[2020-09-18 07:56] edias opened #12131 "objc_library can not find header files"
### Description of the problem / feature request:

I'm trying to build a obj-c library but it seems the headers can not be found inside the library.

`Pods/Trustkit/Trustkit/TSKTrustKitConfig.m:12:9: fatal error: 'TSKTrustKitConfig.h' file not found
#import "TSKTrustKitConfig.h"`

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[code

[2020-09-18 09:31] ulfjack commented on #11748
@cpsauer, even if you could, the code still has other problems. In particular, it looks at the OS that Bazel runs on to select things like path style (windows with backslashes vs. linux/mac with forward slashes). Right now, even running Windows actions remotely from a Linux/Mac machine (and vice versa) is not working.

[2020-09-18 10:27] jiridanek commented on #12124
My guess is that bazel sandboxing is blocking access. If that is the case, try building with ` --sandbox_writable_path=$HOME/.ccache`

Your workaround using `sudo` suggests sandboxing may not be to blame, but the option may be worth trying anyways. If file permissions on your file system are to blame, then try `sudo chown -R $USER:$USER /home/user/.ccache` before running bazel. There may be files/

[2020-09-18 10:30] jiridanek commented on #12124
It is usually useful to run bazel with `-s --sandbox_debug --verbose_failures` and include the output from this.

[2020-09-18 11:27] kreuzerkrieg commented on #12124
[sandbox_debug.txt](https://github.com/bazelbuild/bazel/files/5245181/sandbox_debug.txt)

here you go

[2020-09-18 11:29] kreuzerkrieg commented on #12124
as of `sudo chown -R $USER:$USER $HOME/.ccache` cmake with gnumake or ninja works fine with this folder without any `sudo`, so I guess `chown` should make no difference, am I missing anything?

[2020-09-18 11:40] katre commented on #11748
Sorry, I meant that you can use transitions to build the bundle of libraries for different platforms, _if_ they can all be built on the same platform in individual Bazel invocations. The updates to execution strategy that would be needed for mixed local/remote builds is still in the planning phase.

[2020-09-18 11:49] jiridanek commented on #12124
Your reasoning makes sense. I just personally prefer one bold try with `chown` over doing much up-front thinking about causes; I prefer to do that afterwards. That's all.

Sandboxing can be switched off, or you may try less powerfull sandbox, by doing either `--spawn_strategy=standalone` or =`--spawn_strategy=processwrapper-sandbox`. This is what I'd certainly try, besides `--sandbox_writable_path

[2020-09-18 11:56] jiridanek commented on #12124
BTW, bazel has a background daemon. It is sometimes useful to kill it and restart it, because it might be remembering some now out-of-date state, with `bazel shutdown`. Probably not the case here, but its helpful to think of this when you want to try some steps again with a completely clean state.

[2020-09-18 12:21] lberki commented on #12049
I'm certainly not that "someone familiar with this code" :( The commit https://github.com/bazelbuild/bazel/commit/8626623106fc0f9f83781990f7c235074926d196 was meant to be a refactoring without user-visible effects; do you have a reason to believe that this is what caused the behavior change?

Looking at https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/baz

[2020-09-18 12:34] kreuzerkrieg commented on #12124
`sudo chown -R $USER:$USER ~/.ccache` same result
`bazel shutdown` same result
`bazel build --spawn_strategy=standalone //tcmalloc/...` worked as expected

Dont get it, am I the only one who have a problem with sandboxing? it is quite fresh machine, 3 or 4 weeks, I remember having the same problem with previous machine with Ubuntu 18.04. Mystery...

[2020-09-18 12:36] jiridanek commented on #12124
In that case, what does setting `--sandbox_writable_path=$HOME/.ccache` do?

[2020-09-18 12:43] kreuzerkrieg commented on #12124
worked too

[2020-09-18 12:49] jiridanek commented on #12124
Awesome. That's expected behavior. Sandboxing limits the writable paths the build can write into. If you want ccache to work from inside a Bazel build with sandboxing turned on, you have to add $HOME/.ccache to the write allowlist. This is how the other Bazel+ccache issues I found turned out, too.

One thing I don't understand is why sudo also ended up, in effect, disabling the sandbox.

[2020-09-18 13:08] kreuzerkrieg commented on #12124
then it is odd the problem is not easily searchable on the net, since it sounds as something quite usual.
BTW, where is I'm whitelisting `.ccache` folder? I dont want to (remember and) add it to command line each time I run bazel

[2020-09-18 13:12] jiridanek commented on #12124
You can create config file `$HOME/.bazelrc` with the option, https://docs.bazel.build/versions/master/guide.html#bazelrc-syntax-and-semantics.

[2020-09-18 14:16] lberki commented on #12049
No worries! Unfortunately, I won't be able to help further then :(

[2020-09-18 14:21] benjaminp commented on #12049
No actions in rules_apple seems to employ `use_default_shell_env`, which means `--action_env` will be ignored for them.

[2020-09-18 15:15] aiuto commented on #12098
This is causing RBE problems.

[2020-09-18 15:46] dws opened #12133 "--show_task_finish no longer has an implementation"
### Description of the problem / feature request:

I tried using the `--show_task_finish` option with `bazel build --curses=no`, and discovered that it had no effect on the output.

I looked in the bazel code, and noticed that while it was recognized as an option, the option no longer had an implementation.

The last use of `showTaskFinish` was removed in 3e9eec42f9523bd835d3185f98e5cacc431bb4bd.

[2020-09-18 16:03] meteorcloudy commented on #12098
https://github.com/bazelbuild/bazel/commit/acd33154322de3447c016009754e2ed275017c81 will fix the RBE breakage

[2020-09-18 16:58] steeve opened #12135 "Id tokens support for Google Credentials"
### Description of the problem / feature request:

Provide support for Id token based `--google_` flags.

### Feature requests: what underlying problem are you trying to solve with this feature?

I am running a Bazel cache on Cloud Run.
[Cloud Run only support IdToken/JWT based authentication](https://cloud.google.com/run/docs/authenticating/service-to-service), while Bazel passes a OAuth2 Access

[2020-09-18 18:44] jmmv commented on #11284
As of 2bb3b73d5739fd9cae152a3626b4a6c203d8cef6, you can tag actions with `supports-graceful-termination` to request that a `SIGTERM` be sent instead.

[2020-09-18 18:44] #11284 closed

[2020-09-18 19:04] aiuto commented on #11669
@swsnider   Can you describe the overall intent a little more. Do you build a filesystem and expect it all to be in a tree artifact that you pass directly to a consuming rule? Or, do you build it and bundle it into a .iso, which is a dep of other rules.

[2020-09-18 19:07] justinhorvitz commented on #11669
@swsnider I'm also a bit confused because your example mentions a genrule that outputs mknod, but the stack trace you give is for a tree artifact (not a genrule). Can you please clarify?

[2020-09-18 20:15] trybka commented on #12040
#12046 is in, and per @keith's comments, it would be good to cherry pick this.

[2020-09-18 20:38] gregestren commented on #12117
Assigned based on https://github.com/bazelbuild/bazel/commit/5bb3becc09ef535276576a31d98d8686b248bbea.

[2020-09-18 20:45] gregestren commented on #12107
Candidate for a glossary link? https://docs.bazel.build/versions/master/glossary.html#rule

[2020-09-18 20:49] michajlo commented on #12117
This predates my cleanup. To suppress it you can set `--noshow_progress`.

[2020-09-18 21:28] keith commented on #12131
There are likely some other issues around about this, but in general this comes down to how bazel handles headers differently from Xcode. Bazel does not automatically map these header imports to the full path. You have a few remediation options depending on the case.

1. You can do what google does and make headers absolute like `#import "Pods/Trustkit/TrustKit/TSKTrustKitConfig.h"`. This likely w

[2020-09-18 21:28] justinhorvitz commented on #11669
I've confirmed that it is technically possible to create special files using `mknod` from a genrule in combination with `sudo`. Some special file types don't work, however - for example:

- A named pipe will make bazel hang indefinitely (assuming no writes to the pipe) because it tries to read the file to digest its contents.
-  The "zero" special file mentioned in the original report won't work b

[2020-09-18 22:08] konste commented on #12117
Thank you @michajlo for the tip about `--noshow_progress`. It is better than no workaround at all but worse than the actual fix. We definitely want to keep seeing the progress, just to know that it is actually working when it takes too long. We want to see errors as well to know if something went wrong. But that last INFO message (as well as all other INFO messages) we don't want to be produced as

[2020-09-18 22:30] michajlo commented on #12117
Internally it's not actually an `INFO` event but part of the progress reporting (https://cs.opensource.google/bazel/bazel/+/master:src/main/java/com/google/devtools/build/lib/runtime/UiStateTracker.java;l=419;drc=cb1f9f6038f361a22b501e958bb0710985e561c5;bpv=0;bpt=1). That it's using `INFO` as the status string is an unfortunate coincidence. Making it something like `SUCCESS` could be a good compro

[2020-09-18 22:39] konste commented on #12117
As far as I can see [here](https://cs.opensource.google/bazel/bazel/+/master:src/main/java/com/google/devtools/build/lib/events/EventKind.java;l=64?q=EventKind&ss=bazel) there are event kinds START and FINISH. Can this naughty event be recategorized as the one of a FINISH kind?

[2020-09-18 23:02] swsnider commented on #11669
I have a new rule set developed in house for building Centos images for putting onto machines. The rules invoke the normal tools to do this, such as mknod. I summarized this as 'genrule' because I misunderstood what the pertinent info would be.

The huge problem we have is that we want to pass the directory containing the rootfs around between rules that construct 'layers' on top of that rootfs so

[2020-09-18 23:02] swsnider commented on #11669
To be clear, right now we're working around it by tar-ing up the rootfs, then *deleting* the original dir at the end of *every* rule. The beginning of every rule untars so that everything continues to work.

[2020-09-18 23:03] swsnider commented on #11669
@justinhorvitz I can't assign back to you, but this is my response, hope it helps.

[2020-09-18 23:03] pcjanzen opened #12137 "Bazel sometimes execs file downloaded from remote cache before executable bits have been set"
# Description of the problem / feature request:

When using remote execution or remote caching and --remote_download_minimal, when a binary must be downloaded to the local machine from the remote, occasionally Bazel will attempt to execute the file before setting its executable bits.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

I

[2020-09-18 23:04] swsnider commented on #11669
@aiuto we have a set of rules that add to the fs in a layered fashion, then a final rule that squashfs-es it all together.

[2020-09-19 00:32] steeve commented on #12135
The implementation is fairly easy, although blocked by https://github.com/googleapis/google-auth-library-java/pull/469

[2020-09-19 00:48] justinhorvitz commented on #11669
I think it will be fine to remove the ban on special files in a tree artifact, and that is trivial. However I'm concerned that there will still be more changes necessary to support outputting the device nodes, and if so we will have to consider the cost of maintaining the support for an obscure use case (I personally had no experience working with special files prior to this issue and I'm sure the

[2020-09-19 10:09] edias commented on #12131
Thank you very much @keith , it seems you are on the top of everything here 👍

[2020-09-19 11:33] steeve commented on #12135
All in all, the core is pretty simple to turn an access token into an id token:
[code]

The issue is in the target audience, which must be that of the service. So I'm torn. I think the best way forward is to make `com.google.devtools.build.lib.authandtls.GoogleAuthUtils#newCallCredentials` accept a URL so that the cred can be swapped transparently.

[2020-09-19 11:40] steeve commented on #12135
Also, the issue is that some services only support Id Tokens (IAP, Cloud Run, Cloud Functions) whereas other support Access Tokens, so I think there's a UX issue here in that the auth type may need to be provided by service...

[2020-09-19 16:56] bduffany commented on #12107
I feel like that would break the linear flow of that article, since the `Rule` is such a central concept.

[2020-09-19 18:38] luxe commented on #12116
thanks all.  Bazelisk is the easiest to integrate with its latest_* options.
we'll only build from source if we need to test something not landed

[2020-09-19 18:38] #12116 closed

[2020-09-20 13:10] systemlogic commented on #10134
Any fix for Mac? On Rhel it works.
[code]
please help.

[2020-09-20 13:10] systemlogic commented on #10134
Any fix for Mac? On Rhel it works.
[code]
please help.

[2020-09-20 13:10] systemlogic commented on #10134
Any fix for Mac? On Rhel it works.
[code]
please help.

[2020-09-20 13:10] systemlogic commented on #10134
Any fix for Mac? On Rhel it works.
[code]
please help.

[2020-09-21 04:53] Mathiasdm commented on #12121
Indeed. Using the changes to the coverage output generator listed [here](https://github.com/bazelbuild/bazel/issues/4685) works to get around this bug.

[2020-09-21 05:53] pauldraper commented on #5879
Yes

[2020-09-21 07:48] #6091 closed

[2020-09-21 08:20] oquenchil commented on #10134
The flag wasn't flipped as far as I can tell nor will it be flipped any time soon.

[2020-09-21 11:53] katre commented on #12110
This makes sense, but I'm not sure if I'll have time to tackle it.

The relevant code is in [`SingleToolchainResolutionFunction.resolveConstraints`](https://source.corp.google.com/piper///depot/google3/third_party/bazel/src/main/java/com/google/devtools/build/lib/skyframe/SingleToolchainResolutionFunction.java;rcl=282570615;l=135). I think the right approach is to sort the loop values (i.e., `tool

[2020-09-21 13:25] #5879 closed

[2020-09-21 14:01] juliexxia commented on #12006
cc @lberki

[2020-09-21 14:21] zachgrayio commented on #5413
looks like this got handled by this PR: https://github.com/bazelbuild/bazel/pull/9314

[2020-09-21 14:23] zachgrayio commented on #5413
however we are seeing that in some cases, manifest classpaths beyond a certain length fail at runtime (truncated?), maybe a java 8 issue; so maybe shouldn't close it just yet.

performance: ✅
long classpaths work perfectly: 🚫

[2020-09-21 14:59] systemlogic commented on #10134
As I said earlier. Error is only coming in OSX not on linux(rhel/ubuntu). Behavior is not consistent in two platform.

[2020-09-21 15:22] devjgm commented on #12009
Any update on this?

[2020-09-21 15:53] aiuto opened #12141 "Fix and enable tests under src/test/java/com/google/devtools/build/lib/buildtool/BUILD"
Many rules migrated from Blaze to Bazel in https://github.com/bazelbuild/bazel/commit/5c730b8904a4eb5f539502039fac7b75f04fd0db
Too many are tagged `manual` and being skipped.

[2020-09-21 16:03] c-mita opened #12142 "IncompatibleMergeException in branch coverage for C++ headers"
_This only occurs when C++ branch coverage is enabled._
_Add `-b` to the gcov command line in collect_cc_coverage.sh and rebuild bazel._

An assumption made in commits 3481d5ec and 51ec2228 is that the number of branches recorded in coverage reports for a given line are constant across the reports to be merged from a single bazel invocation. This is not a valid assumption, at least for header file

[2020-09-21 16:08] #11699 closed

[2020-09-21 16:53] keith commented on #12131
FYI here's an example macro that would make option 2 above easier https://github.com/bazelbuild/bazel/issues/2670#issuecomment-369674735

[2020-09-21 17:18] philwo commented on #3791
@coeuvre For reference, this was fixed in cl/260916180, but rolled back in cl/261644804.

[2020-09-21 17:26] konste opened #12143 "Allow to control the degree of parallelism for specific actions"
### Description of the problem / feature request:

Feature request: provide a way to advise Bazel scheduler on how many instances of particular action it may schedule to run in parallel.

### Feature requests: what underlying problem are you trying to solve with this feature?

Scenario #1:
One of our custom rules runs the action which is very much network I/O bound and not CPU bound at all.
For th

[2020-09-21 18:08] o0JoDu0o opened #12144 "Windows: any build fails with clang-cl 11.0.0 rc2 installed, even when not using clang-cl"
### Description of the problem / feature request:

Bazel fails to build any C/C++ code, even when not using clang-cl on Windows, if llvm 11.0.0 rc2 is installed.
Following error is generated:
[code]
The _cc_toolchain_config_ looks like this:
[code]

### Feature requests: what underlying problem are you trying to solve with this feature?

n/a

### Bugs: what's the simplest, easiest way to reproduce

[2020-09-21 20:20] #11342 closed

[2020-09-21 20:23] janakdr commented on #11365
@ulfjack it seems like @michajlo has a repro of at least the more limited issue around --test_output?

[2020-09-21 20:26] janakdr commented on #11373
So there are some progress events that are dropped, but the "mandatory" events are all there?

[2020-09-21 20:48] janakdr commented on #11392
I'm guessing this is actually a bug with the remote worker, since it requires the remote_executor option to trigger it. Passing over to remote-exec team.

[2020-09-21 20:49] #11468 closed

[2020-09-21 21:26] ulfjack commented on #6118
I'm seeing the issue described in #6475 on Windows, even with a JDK installed, unless I *also* set JAVA_HOME. It would be very good if the error message could be improved because this just ate a couple of hours of eng time.

To make it more interesting, some command-line variants of setting JAVA_HOME result in a warning that JAVA_HOME does not point to a JDK. For example, the standard terminal aut

[2020-09-21 21:36] janakdr commented on #12065
@Esben2 Normally we handle a situation like the one you're describing by providing the compiler with two include paths to search. You can give it the output root and the source root. Is that an option for you?

Otherwise, I don't really see how to implement this feature, even if we wanted to. There would have to be checks that output files and source files didn't have the same names, which is not

[2020-09-21 21:42] linzhp opened #12146 "Printing failed action twice in verbose_failures"
### Description of the problem / feature request:

Bazel prints out the failed action/command twice when there is `--verbose_failures`.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[code]

### What operating system are you running Bazel on?

macOS

### What's the output of `bazel info release`?

release 3.5.0-homebrew

### Any ot

[2020-09-21 21:52] #11532 closed

[2020-09-21 22:25] keith commented on #12049
Are you suggesting all actions should set that? Is that the right switch for this? It surprises me a bit that that would be the way to make this work. Because that means that all non-native rules would need to set that to `True` (and when would you want to set that to `False` given this issue?)

Somewhat related I guess:

https://github.com/bazelbuild/rules_go/blob/b4c392fcfc0a44f2cc5ee3dbb884121d

[2020-09-22 00:14] jerrymarino commented on #12131
+1 to what @keith mentioned to use a headermap rule and adding many `includes` will really bog down clang/swift due to file system lookups on each directory.

Also another strategy if you've got a handful of dependencies - PodToBUILD can auto-generate BUILD files with the `new_pod_repository` workspace rule or copy pod source code into your tree. Overall, I've found it to be helpful to manage/upda

[2020-09-22 00:32] keith opened #12147 "Improve piped output during WORKSPACE downloads"
When piping bazel stderr to a file and running a build, downloads triggered by WORKSPACE rules are not shown in the output, which can make it look like bazel is not making any progress. It would be great if there was some indication downloads were progressing.

Example build without piping with good progress output:

[code]

Example build with piping where progress output isn't shown:

[code]

Thi

[2020-09-22 02:50] cpsauer commented on #11748
Thanks all. Remote builds and tests that trancend platforms... what an awesome goal.

[2020-09-22 03:36] aiuto commented on #12143
A few of us were talking about this today. We think that Excution Groups would be the right place to hold this information, but it will still require scheduler changes for something like parallelism. https://docs.bazel.build/versions/master/exec-groups.html

Within Google, we are using execution groups to specify that some action types (e.g. C++ linking) require much more memory than default. The

[2020-09-22 04:23] benjaminp commented on #12049
The [documentation recommends](https://cs.opensource.google/bazel/bazel/+/4c0febc02fab5e9fda3f40532a62854fb1c45631:src/main/java/com/google/devtools/build/lib/analysis/actions/SpawnAction.java;l=946) all actions set it.

Native rules must also opt in, but some effort was historically put into fixing them (#3320).

The `env` parameter to `actions.run(_shell)` is ignored under `use_default_shell_env

[2020-09-22 05:41] lberki opened #12148 "Errors during resolving `//...` target patterns get swallowed in `--keep_going` mode"
if `ProcessPackageDirectory` encounters an error, instead of re-throwing the exception as it should, it swallows it and only calls `reportErrorAndReturn()`, which, although it does report an error on the UI, does not raise an error to Skyframe.

This results in Bazel erroneously returning the exit code 0 even when there are errors.

Reproduction:
[code]

This yields the exit code 0 and the message

[2020-09-22 06:07] lberki commented on #12062
This is not surprising. `TEST_UNUSED_RUNFILES_LOG_PATH` is vestigial in Bazel and is used in our internal version for reporting tests that have way more inputs than they need but not for test caching.

I think it would be a nice feature but its implementation would be a little more complicated than that of `unused_inputs_list` because the inputs of tests are all runfiles.

[2020-09-22 07:09] systemlogic opened #12150 "Toolchain problem. The behavior of bazel is different on different platform."
### Description of the problem / feature request:

project https://github.com/systemlogic/learn-bazel compiles fine on linux(rhel/ubuntu) however the same project complains problem on MacOs. It seems to me that some toolchain is not found. I have following logs on my MacOs, but not sure, how to fix it.
[code]

### Feature requests: what underlying problem are you trying to solve with this feature?

[2020-09-22 07:11] ulfjack commented on #12143
I think the request is primarily for local execution, for which the ResourceManager controls parallelism. This could be added there. In order to work properly, the ResourceManager would have to be refactored (or rewritten) to support async operation. This used to be on my todo list for async execution.

[2020-09-22 07:50] meteorcloudy commented on #12144
Thanks for reporting this bug!

[2020-09-22 08:26] ulfjack commented on #12135
Technically, Google Run services can implement whatever authentication they want. You are not required to use id tokens.

Also see: https://cloud.google.com/run/docs/authenticating/end-users

[2020-09-22 08:58] ulfjack commented on #10846
We are seeing a problem in recent Bazel versions that they *do not cancel* downloads when the build is interrupted with Ctrl-C, i.e., Bazel keeps downloading the output files in the background, but drops the received data. I'm wondering if it's related to the changes that happened here.

[2020-09-22 09:25] edias commented on #12131
How about if the pods are hosted locally and not remotely? Does the URL parameter work with local directories instead of URLs?

[2020-09-22 09:25] Mathiasdm opened #12151 "Unmount sandboxfs if we detect that it was left behind by a killed Bazel instance"
### Description of the problem / feature request:

When interrupting Bazel with multiple Ctrl-C's, sandboxfs gets in a stuck state in the next builds. You need some (bad) luck: you need to press Ctrl-C fast enough to get this issue.

Interrupted build:
[code]

Later build:

[code]

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Star

[2020-09-22 09:41] #12144 closed

[2020-09-22 10:10] oquenchil commented on #10134
Can you please point me to where this flag was flipped in native Bazel code? I can't find it, it might be that it's in your bazelrc.

[2020-09-22 10:54] purkhusid commented on #8494
I came across this need when trying to use `rules_scala` for our Scala codebase. The `scala_proto_library` rules in `rules_scala` is aspect based which is very nice for performance reasons but not as nice when it comes to flexibility. The exact use case for me is:

I have a `.proto` file that is declared like this:

[code]

The extra option I'm declaring makes it so that the scala protobuf compile

[2020-09-22 11:47] steeve commented on #12135
Thank you for your response. Unfortunately services who validate tokens themselves only accept ID tokens, not Access tokens.

Right now I'm sort of hacking it together via a `tools/bazel` wrapper, but I find it's pretty gross:
[code]

[2020-09-22 12:01] CaichaoGitHub opened #12152 "how to specify platforms while querying"
### Description of the problem / feature request:

i wanted to query the dependencies at specific target and platform , but i did not know how to specify platforms while querying ;

if i queried target's dependencies by default , the bazel would complain platforms' errors , so i need to specify platforms while querying

My command is at blew:
bazel query "deps(mediapipe/examples/desktop/autoflip:r

[2020-09-22 12:44] katre commented on #12152
Bazel's `query` command is not aware of configurations, such as the target platform, or other flags. You might want to use `cquery`, which is aware of the configuration, and uses the same set of flags as `bazel build`. See the docs on [`query` vs `cquery`](https://docs.bazel.build/versions/master/configurable-attributes.html#bazel-query-and-cquery) for more details on how they are different.

Your

[2020-09-22 12:51] steeve commented on #12135
I stand corrected, apparently access tokens can be verified using the `https://www.googleapis.com/oauth2/v1/tokeninfo` endpoint. From what I can read though, it seems it's legacy, and ID tokens seem to be the new preferred way.

Indeed though, that solves my problem for now, I'll just patch bazel-remote to support this.

However, since Google Cloud is apparently moving to these tokens, it may be w

[2020-09-22 12:56] #4008 closed

[2020-09-22 13:02] systemlogic commented on #12150
@katre FYI

[2020-09-22 13:06] ulfjack commented on #12135
Instead of `/oauth2/v1/tokeninfo` you can also use `/oauth2/v3/userinfo`.

[2020-09-22 13:09] katre commented on #12150
Based on the output of `--toolchain_resolution_debug`, the only discovered toolchains have the OS set to "ios", so they're for building Apple ios apps, not for building macos/darwin binaries. You will need to install a C++ toolchain locally that can be used.

Unfortunately, I don't use a Mac, so I can't offer any advice on what to install or how to configure Bazel to use it, although I do know tha

[2020-09-22 14:06] ulfjack commented on #11365
I can repro the issue with `experimental_replay_action_out_err` in combination with `test_output`. There is an even simpler repro:
[code]

This is because the `TerminalTestResultNotifier` is not aware of `experimental_replay_action_out_err` and unconditionally prints the test log for *cached passing* tests when `test_output=all` is set (with default setting of `cache_test_results`), or of *cached

[2020-09-22 14:23] steeve commented on #12135
Oh nice. I'll guess I'll use `email_verified` and `hd` to authorise users from a certain domain. I guess that'll do for the time being.
Less elegant than letting Google itself authenticate and let the service do it, but should work with reasonable effort in the meanwhile.

[2020-09-22 15:00] haxorz commented on #12148
I think this is WAI from ProcessPackageDirectory's perspective. Assigning to @anakanemison to confirm.

[2020-09-22 15:10] lberki commented on #12148
It's definitely not a WAI from the user's perspective, is it, though?

[2020-09-22 15:12] haxorz commented on #12148
Yes, I agree. I wanted Mark's thoughts on ProcessPackageDirectory first though.

[2020-09-22 15:29] keith commented on #12131
The Apple rules don't support mixed source frameworks (and likely never will at this point). I would recommend you break them up if possible. If you cannot there is a rule for this in this repo https://github.com/bazel-ios/rules_ios

[2020-09-22 16:03] TheButlah commented on #11560
Strangely out of the blue, I'm having this issue again, where bazel is complaining that `The repository '@toolchain' could not be resolved`. `bazel clean` and `bazel clean --expunge` and `rm -rf ~/.cache/bazel` doesn't do anything, the issue remains.

[2020-09-22 16:18] MartinRenaudin commented on #10879
I still have this issue, even with the fix (build then run binary) , I have "exec: ../io_bazel_rules_closure/java/io/bazel/rules/closure/webfiles/server/WebfilesServer: not found"
I use ubuntu 18.04 on docker, i tried with different versions of bazel until the latest 3.5.0.  I tried running bazel with --host_jvm_args="-Djava.net.preferIPv4Stack=true" . Nothing worked, when I try on my ubuntu 18.04

[2020-09-22 16:33] keith commented on #12049
It looks like this is mutually exclusive with setting `env` on these, which doesn't work for Apple actions since they use env to propagate Xcode version info. I guess we might not be able to have it both ways?

[2020-09-22 17:00] susinmotion commented on #12121
Closing this as a duplicate of #4033.

[2020-09-22 17:00] #12121 closed

[2020-09-22 17:06] susinmotion commented on #12124
It looks like this is a documentation request at this point, to clarify that users should pass --sandbox_writeable_path to enable ccache with sandboxing. Does that sound right to you?

[2020-09-22 17:07] keith commented on #12049
Example of the failures caused by this in the Apple toolchain https://github.com/bazelbuild/rules_swift/pull/497

[code]

[2020-09-22 17:10] susinmotion commented on #12049
Yeah, it sounds like it might make sense to go back to your first suggestion, to set a conservative default PATH for Apple-related actions. We do need the environment that's set for Apple rules, but it's ok to add to it.

[2020-09-22 17:12] susinmotion commented on #12063
@trybka is this something you can weigh in on?

[2020-09-22 17:13] susinmotion commented on #12123
Closing-- thanks @keith!

[2020-09-22 17:13] #12123 closed

[2020-09-22 17:20] kreuzerkrieg commented on #12124
Whatever discoverable by google search will do, I guess

[2020-09-22 17:48] anakanemison commented on #12148
I agree with both statements, "this is not WAI from the user's perspective" and "this is WAI from ProcessPackageDirectory's perspective".

The behavior in ProcessPackageDirectory descends from this change made to the implementation of RecursivePkgFunction:

https://cs.opensource.google/bazel/bazel/+/f7ff616b36a980e344d240066c909b8995a1ea37

The problem which that change was meant to address was th

[2020-09-22 18:23] janakdr commented on #11365
Intuitively, seems like (c) makes the most sense, since test output is
already pretty special.

However, this flag doesn't appear to be widely used. We're considering
removing it internally. Are there any known widespread usages?

[2020-09-22 19:17] trybka commented on #12063
The diagnosis and proposed solution seem spot-on to me.

The apple_generate_dsym change is a good example of moving the config up out of objc-only compilation to be accessible for C++. As @keith notes, it does have more logic around it, but should still be straight-forward.

[2020-09-22 19:32] systemlogic commented on #12150
Not sure, how to fix. I have reinstalled my xcode. Can someone help me?

[2020-09-22 19:38] katre commented on #12150
You might have better luck on bazel-discuss@ or Stack Overflow.

Closing this as not being a reproducible issue, but I hope you are able to find assistance.

[2020-09-22 19:38] #12150 closed

[2020-09-23 07:29] loudmouth commented on #10134
you can always just add the flag to your `.bazelrc`

[code]

[2020-09-23 08:02] mihaigalos opened #12158 "Use git hash as hashing function"
Original title: `No evaluation of inode equality in FileContentsProxy`

### Description of the problem / feature request:

### Feature requests: what underlying problem are you trying to solve with this feature?

### What operating system are you running Bazel on?

### What's the output of `bazel info release`?

### Any other information, logs, or outputs that you want to share?

[2020-09-23 08:24] dorranh opened #12159 "Improved Jacoco coverage support"
### Description of the problem / feature request:

I'd like to discuss/request a feature which improves coverage support for developers of rules for JVM languages: a new format for Bazel's internally-used `-paths-for-coverage.txt` file.  I've experimented with an implementation of this feature request, but wanted to get some general feedback from you all before submitting a PR since you may have o

[2020-09-23 10:34] Yannic commented on #11694
This is ready for flipping once https://github.com/googlecloudrobotics/core/pull/54 lands 🎉.

[2020-09-23 10:44] o0JoDu0o commented on #12144
@meteorcloudy Thanks for fixing.
For anyone encountering the bug:
As workaround, rename _clang-cl.exe_ to _clang-cl-original.exe_ in your LLVM bin directory and place _clang-cl.bat_ with following content there:
[code]

[2020-09-23 11:13] lberki commented on #11512
This isn't really related to Java. The dependency cycle is as follows:

1. The meaning of the implicit `@remotejdk11_linux` repository added at the end of the WORKSPACE file depends on the contents of the WORKSPACE file
2. The contents of the WORKSPACE file depends on what `output.bzl` contains
3. The contents of `output.bzl` depend on what `repo_rule()` does
4. What `repo_rule()` does depends on

[2020-09-23 11:32] Monnoroch commented on #11512
Thanks for explaining it! Is there a good way to work around this issue? Currently I manually create a `@remotejdk11_linux_for_repo_rule` repository with the copy of `@remotejdk11_linux` and it's working just fine. But I have to download the same archive twice, plus I have to remember to update my copy whenever the original updates, which is especially tricky considering it is implicit and not ver

[2020-09-23 11:47] lberki commented on #11512
Paging @philwo

I can't think of anything other than manually copy-pasting the `remotejdk11_linux` stanza from `jdk.WORKSPACE` at the beginning of your WORKSPACE file. But you'd still need to update that manually.

Philipp, maybe you have a better idea?

[2020-09-23 11:47] al-tu commented on #7470
hello. any progress on this issue? It's actually a blocker, would have switched to a sandboxed strategy otherwise.
Using: sandboxfs ver 0.2.0, bazel ver 3.4.1, testing with gtest

[2020-09-23 11:55] Monnoroch commented on #11512
Also it could be that I'm not using Java in my rule the right way. I approached it naively, but perhaps there's a better way.

[2020-09-23 12:18] lberki commented on #12148
Cheh, I gave a talk about Skyframe to the Nooglers in Munich yesterday, and I said that error handling in Skyframe was complicated, but we eventually nailed it down. Apparently, that was wishful thinking 👍

I like the idea of the in-error return value of SkyFunctions with useful data. It appears that a SkyFunction can return the following things:

1. A "was I successful" bit (for Skyframe to act u

[2020-09-23 12:22] philwo commented on #11512
@Wyverald, could you have a look at this?

Even if we have no current solution rather than to clone the JDK definition and thus extract it twice, we should make sure that we don't accidentally recreate the problem with our new design for external dependency management.

[2020-09-23 13:52] systemlogic commented on #10134
@oquenchil my repository is https://github.com/systemlogic/learn-bazel. This repo works without any config on linux, but throw an error as stated above in the original message.

[2020-09-23 14:13] systemlogic commented on #10134
Please note I have installed xcode and cpp and cc are in path.

[2020-09-23 14:48] #11663 closed

[2020-09-23 14:49] philwo commented on #11119
@coeuvre Could you please check this issue and associated PR https://github.com/bazelbuild/bazel/pull/11120 whether we should go forward with them or not?

[2020-09-23 14:51] #11686 closed

[2020-09-23 15:39] #8969 closed

[2020-09-23 17:00] laurentlb commented on #12040
Cherrypick list so far: 1ae143b, 23b0b8a, 144d514, b3ac8f6, 26cbf77

#12117 doesn't seem critical and I haven't seen any fix for it.
I've added a comment to clarify https://github.com/bazelbuild/bazel/pull/12046#issuecomment-697696840

[2020-09-23 17:04] susinmotion commented on #10854
It looks like 3.6 is the next breaking release? Are things set to flip the flag then?

[2020-09-23 17:59] alexeagle commented on #9171
@hicksjoseph FYI, the issue we discussed

[2020-09-23 18:00] susinmotion commented on #12131
Is this ready to be closed, or is there a need for a fix or documentation?

[2020-09-23 18:02] keith commented on #12131
I think it would be nice if this documentation lived somewhere, but I'm not sure there's a good place for this, I think this can be closed.

[2020-09-23 18:23] michajlo commented on #11365
Another option would be to stop pretending the test log is stdout/err in skyframe and do all of the reporting via `TerminalTestResultNotifier` or whatever else is responsible for printing test logs now. This could lead to other simplifications like removing `Action#showsOutputUnconditionally()`, which seems like it only still exists as a workaround for `TestRunnerAction` + `test_output`.

[2020-09-23 18:39] philwo opened #12164 "Fix broken Bazel tests on Ubuntu 20.04"
In order to fully support Bazel on Ubuntu 20.04 LTS, we have to ensure our test suite passes.

The following tests are currently broken on this new platform:

- [x] `//src/test/shell/bazel/android:android_ndk_integration_test`
- [x] `//src/test/shell/bazel/android:android_ndk_integration_test_with_head_android_tools`
- [x] `//src/test/shell/bazel:python_version_test`
- [x] `//src/test/shell/bazel:

[2020-09-23 18:53] #12131 closed

[2020-09-23 19:14] viveksjain opened #12165 "Global max worker instances limit"
### Description of the problem / feature request:

Provide some way to provide a global limit on worker instances across all instance types, shutting down older workers as needed.

### Feature requests: what underlying problem are you trying to solve with this feature?

In our large multi-language repo, if we run `bazel build //...`, the workers usually OOM crash (causing build to fail) because ea

[2020-09-23 21:12] DavidGoldman commented on #10733
I can see the argument for making `arm64` the default, but I think most developers build/run on the simulator by default so this would be a breaking change for them. I don't think we should default to  `armv7,arm64,i386,x86_64` since that will build your code 4 times, which is expensive for larger apps. The best option here is a bazelrc tailored to your use case.

[2020-09-23 21:34] cpsauer commented on #10733
Happy to fold if not useful to others :) .bazelrc'd for myself

[2020-09-23 21:35] keith commented on #12049
Using `aquery` here's a quick list of mnemonics in our iOS build that don't have a PATH set even when I pass `--action_env=PATH=something`

Action
AssetCatalogCompile
BundleApp
BundleResources
CcStrip
CompileRootInfoPlist
CppCompile
CppLink
CppModuleMap
ExecutableSymlink
ExtractFromProvisioningProfile
FileWrite
GenProtoDescriptorSet
Genrule
ImportedDynamicFrameworkProcessor
Middleman
ObjcCompile
O

[2020-09-23 22:02] cpsauer commented on #10733
Happy to fold if not useful to others :) Not blocking me--just filed bc I thought others might want the same thing. Sounds like not--at least in this form.

_Before I close it down, though, a few related things that might be useful:_

I'm realizing that there's also a new development that might change or affect things here:
Apple Silicon will switch simulator builds over to arm64 on some machines,

[2020-09-23 22:14] keith commented on #10733
I'm not really sure what you mean by having rules for these? `bazel run //:someapp` does work for the simulator. Most workflows for building to device include some sort of Xcode integration such as [tulsi](https://github.com/bazelbuild/tulsi) or [xchammer](https://github.com/pinterest/xchammer) and uploading to the app store is handled outside of bazel, potentially with actool which ships with Xco

[2020-09-23 22:53] cpsauer commented on #10733
Ah! Okay. From the [iOS tutorial](https://docs.bazel.build/versions/master/tutorial/ios-app.html#build-the-app-for-the-simulator), I'd assumed run didn't work and deploying with pure bazel (i.e. without tulsi) was a goal.

To explain where I'm coming from: We're moving over from buck, where iOS build and deploy is built in as a command, similar to what bazel does for Android. We're generally quite

[2020-09-23 23:40] DavidGoldman commented on #10889
Ah, I completely missed the objc/clang part of this. Hmm, we could try to use a symlink for `__BAZEL_XCODE_SDKROOT__` - we'd need a symlink for the Xcode part of the path.

Another option would be to upstream changes to Clang to allow -debug-prefix-map to apply to these paths if it doesn't already, and then remap them in the debugger.

[2020-09-23 23:46] keith commented on #10889
FWIW I made swift remap isysroot with debug-prefix-map https://github.com/apple/swift/pull/32580 does anyone know right now if that doesn't work for clang?

[2020-09-23 23:49] DavidGoldman commented on #10889
From a quick check it looks like Clang supports remapping the sysroot [here](https://code.woboq.org/llvm/clang/lib/CodeGen/CGDebugInfo.cpp.html#634) but not the SDK path?

You could test this out by adding the following line [here](https://cs.opensource.google/bazel/bazel/+/master:tools/osx/crosstool/wrapped_clang.cc;l=219;drc=930424b77fb029faf794c2b503f90b6f2d307bf1):

`arg = "-fdebug-prefix-map=

[2020-09-23 23:51] DavidGoldman commented on #10889
From Adrian's reply it seems LLDB doesn't rely upon that value for Swift? https://github.com/apple/swift/pull/32580#pullrequestreview-439299553 Wonder if it's the same for Clang as well.

[2020-09-24 00:14] keith commented on #10889
Yea for us we do still set that in our lldbinit, so we'd prefer the values be scrubbed, but yea it would be great if that would work for everyone too!

[2020-09-24 02:55] CaichaoGitHub commented on #12152
thanks for replay
the project is a cross platform project [mediapipe](https://github.com/google/mediapipe) ,  if i am working on my mac , i can't configure the windows and android environment ,
anyway ,

[2020-09-24 02:55] #12152 closed

[2020-09-24 03:03] CaichaoGitHub opened #12167 "incorrect debug symbol path"
### Description of the problem / feature request:

i built my program successfully , like this
bazel build -c debug --define MEDIAPIPE_DISABLE_GPU=1 mediapipe/examples/desktop/autoflip:run_autoflip

however i could not debut it cause no symbols found

warning: Could not open OSO archive file "/private/var/tmp/_bazel_xx/07508732310aa91419787129ed4e7e53/sandbox/darwin-sandbox/2760/execroot/mediapipe

[2020-09-24 04:43] uri-canva commented on #6477
From the discussion so far it sounds like having `ResourceManager` interpret `exec_properties` would be exactly what we're looking for. @juliexxia what are the reasons why it might not be a good idea?

[2020-09-24 05:38] systemlogic commented on #12150
As you said, you have don't have Mac machine, which means you have not tried to MacOS.
Issue is simple to produce by clone and running `bazel build ...`. You might not able to produce since you run in on Linux machine.

[2020-09-24 08:17] larsrc-google commented on #12165
Hi Vivek,

Yes, --worker_max_instances sets the max number of instances per WorkerKey (~=mnemonic). If you have an unbounded number of WorkerKeys for a given mnemonic, you should fix that.

Do try with --worker_max_instances=1, some other users have found that to be the fastest, much to my surprise.

Using multiplex workers would help, since there would then only be one actual process per WorkerKe

[2020-09-24 08:25] ipetel commented on #11953
Try to install Bazel by using Bazelisk as follows:

1. `cd ~`
2. `wget https://github.com/bazelbuild/bazelisk/releases/download/v1.6.1/bazelisk-linux-amd64`
3. `chmod +x bazelisk-linux-amd64`
4. `sudo ln -s ~/bazelisk-linux-amd64 /usr/bin/bazel`
5. to test run: `bazel version`

[2020-09-24 09:32] Wyverald commented on #11512
Do I understand correctly that the surprising dependency link `@remotejdk11_linux -> @test_cycle` is only because the `remotejdk11_linux` declaration comes _after_ the `test_cycle` declaration?

If so, then yeah, manually copying the `remotejdk11_linux` definition at the top would work.

I _am_ a bit worried about the fact that `@test_cycle` can depend on `@remotejdk11_linux` at all, though. In th

[2020-09-24 12:09] googlewalt commented on #10854
Yeah I'm ready to flip the flag at earliest opportunity, but I think 3.6 doesn't allow flag flip.  Hopefully soon.

[2020-09-24 12:13] katre commented on #12150
Allow me to clarify: I don't have a mac machine, so I cannot give you instructions for how to install a C++ compiler and use it with Bazel. However, many people do use this configuration, and may be able to help you on the support channels I listed. In addition, we have a closet full of Mac Pros running as part of out CI system, and they do not see this error.

[2020-09-24 12:49] Wyverald commented on #11512
Actually, thinking about this again, this is fine in the new setup. You can actually use `@remotejdk11_linux` from `@test_cycle`'s fetch_fn with no problem -- you just can't use it in the resolve_fn. What @Monnoroch tried to do in the OP (somehow use the path to the remote JDK to generate a .bzl file) is okay since it's equivalent to what you'd do in a fetch_fn in the new setup. The surprising dep

[2020-09-24 12:49] #11512 closed

[2020-09-24 12:49] tobbe76 opened #12169 "Bazel fails to build when moving generated header file"
### Description of the problem / feature request:
Build fails when moving location of a generated header file, the header file is still present in bazel-out under its old location.
The compiler will take the header file that is first in the include search paths.

When used together with a cache it's very hard to clean up after the error has occurred.

### Bugs: what's the simplest, easiest way to

[2020-09-24 12:58] philwo commented on #11512
@Monnoroch Hope this helps, feel free to comment if there's anything unclear!

If you copy & paste without renaming, it should work and not do the duplicate extraction. Also, the definition of remotejdk11_linux should be pretty stable, so the risk of copying it over is IMHO low. We might bump the patch level version of that JDK in the future, but so far we've been rather conservative with that. I'

[2020-09-24 13:32] Monnoroch commented on #11512
Thanks, will try that!

[2020-09-24 14:10] DavidGoldman commented on #10889
Posted on the swift forums: https://forums.swift.org/t/lldb-usage-of-dw-at-llvm-isysroot/40575

[2020-09-24 14:56] TheButlah commented on #11560
This is still an issue and is preventing me from doing anything in C++ with bazel. I am pretty sure its a bug. I'm happy to help provide whatever additional info possible - I've done everything I can on my end to troubleshoot the issue including completely reinstalling bazel and its caches. @aiuto Can you label as a bug rather than support?

[2020-09-24 16:20] keith commented on #10889
Through some more testing with Swift I found many of these entries, that were also able to be remapped:

[code]

AFAICT remapping this in the binary has no impact on debugging.

[2020-09-24 16:35] keith commented on #10733
FWIW you can do a `bazel build` for device, and then run it by installing via Xcode's organizer. So if your workflow prefers that it will work.

I definitely get the value in the mobile_install setup, there was a stab at this here: https://github.com/bazelbuild/rules_apple/pull/364 which you could probably expand on if you were interested.

I think the problem is that this glosses over massive amo

[2020-09-24 19:17] sohaibiftikhar commented on #11119
I don't think the solution I proposed is very good. I have noticed this with other actions as well and it leads to a lot of inefficiencies. I think the strategy to [unlink files after each command](https://cs.opensource.google/bazel/bazel/+/master:src/main/java/com/google/devtools/build/lib/remote/RemoteModule.java;l=729?q=RemoteModule&ss=bazel) needs to be revisited.

[2020-09-24 20:14] elklein commented on #3582
@ulfjack just wondering if you had had any time to look at this this year. My organization is in the process of moving rather a lot of people over from cmake/ninja to bazel, and this is one of the frequent bits of feedback that we're getting, that the moving count is a pain point.

If you find that this isn't something you'll be able to get to, is it something that somebody else could take on? Eve

[2020-09-24 21:11] tinder-maxwellelliott commented on #7962
I finally got around to open sourcing our target selection system, seen here https://github.com/Tinder/bazel-diff. It is a ready to go CLI system to allow you to perform target selection on massive codebases (handles massive Bazel query argument lists, and massive Bazel Protobuf's via the streamed-proto output option)

[2020-09-24 21:29] haxorz commented on #7962
@tinder-maxwellelliott Cool! I skimmed through your code and it LGTM!

Fyi: You would have been bit by https://github.com/bazelbuild/bazel/issues/12086 (specifically at https://github.com/Tinder/bazel-diff/blob/master/src/main/java/com/bazel-diff/BazelRule.java#L24), so I just wanted to make sure you're aware of that bug (and its fix!).

[2020-09-24 21:36] tinder-maxwellelliott commented on #7962
Basically we cannot rely on `rule_implementation_hash` until a new Bazel release? Unsure what action I can take right now in the repo to resolve this

[2020-09-24 21:44] haxorz commented on #7962
Yes, using `rule_implementation_hash` (aka `skylark_environment_hash_code` in `build.proto`-land) will give you false negatives wrt the "has this target been directly affected?" decision (using my lingo in https://github.com/bazelbuild/bazel/issues/7962#issuecomment-552945740). There's no action you can take in your code (I guess you could be super-duper conversative and pretend that all targets o

[2020-09-24 22:43] rohansingh commented on #7962
Bazel v3.3.0 is the first release that included the bug.

[2020-09-24 23:06] amberdixon opened #12171 "Output directory hash differs if the same build settings are applied via transition vs. command line"
### Description of the problem / feature request:

When the output directory hash for the bazel-out subdirectory for generated artifacts is computed on a transition, it is based upon a delta of the build settings before and after the transition. As a result, multiple output directories with different hashes are getting generated for targets that are built with the exact same build settings.

### B

[2020-09-24 23:27] nickgeorge commented on #12069
What is the best way for repos to inoculate themselves to this?  I tried exporting  a bogus dir for ANDROID_HOME but it expects a real sdk.  Or are we saying that 3.5 is just borked?

[2020-09-24 23:29] linzhp commented on #7962
Yes, the `rule_implementation_hash` issue is still affecting Uber's code base. Any time line when the fix can be released?

[2020-09-24 23:34] nickgeorge commented on #12069
FYI - we seem to be tickling this bug through @io_bazel_rules_go//proto:def.bzl- in other words, we don't have any control over the android_sdk_repository rules in question

[2020-09-25 02:38] coeuvre commented on #11119
@sohaibiftikhar

I am working on the action rewinding feature. Once landed we can discover new inputs during executing phase which means we don't have to ensure all the inputs are presented before execution. This might be helpful with the performance of symlink actions.

Can you share some details of what actions and why they are inefficient?

Can you share your concerns and suggestions?

@ulfjack

[2020-09-25 06:16] meisterT commented on #7962
cc @aiuto for the 3.5.1 patch release and @laurentlb for the 3.6.0 release

[2020-09-25 11:08] sohaibiftikhar commented on #11119
Let's say you have a large binary that can be compiled/built remotely but requires some hardware to run so the test execution needs to be local. Let's say the test is super simple (like a smoke test) but you want to force execution so you do `--cache_test_results=no` (maybe because you want to check for flakiness). When you run the test the binary will be fetched from the remote cache and then run

[2020-09-25 12:21] katre commented on #12069
If you can't remove the `android_sdk_repository`, you'd need to set ANDROID_HOME to a real SDK checkout, until 3.6 is released with the fix.

[2020-09-25 13:58] aiuto commented on #11885
I am trying the cherrypicks.   I'll know if this works in about 50 minutes.
[code]

[2020-09-25 14:44] rdelfin commented on #11187
Seems like it's been done before but wasn't added to this specific HttpConnector: https://github.com/bazelbuild/bazel/pull/7601/files

[2020-09-25 15:39] shahms opened #12173 "[BEP] Provide some signal that a NamedSetOfFiles will not be referenced in the future"
### Description of the problem / feature request:

Currently, the build event stream protocol requires clients collect and record all of the NamedSetOfFiles events ever seen in that stream, even if no future event will refer to that set of files again.  This is wasteful, especially for clients which incrementally process the stream for very large builds as robustness dictates that they checkpoint

[2020-09-25 15:50] aiuto commented on #11885
Pushed release: 3.5.1rc1
- https://releases.bazel.build/3.5.1/rc1/index.html
- https://github.com/bazelbuild/bazel/tree/release-3.5.1rc1

@vbatts @petemounce @excitoon :  Could you please test that this can be repackaged in your respective systems.

[2020-09-25 16:31] michaeleisel opened #12174 "Fetching for git_repository with a commit sha doesn't take the fast, shallow path"
Even when the server supports uploadpack.allowReachableSHA1InWant, e.g. as GitHub does, shallow fetching still fails. It seems like the commands go:
[code]
This seems to fail, causing it to use this fallback in git_worker.bzl:
[code]
So, it's failing to use the fast path even when it could. I've never seen this workflow of doing a `git init` + `git remote add` instead of a `git clone`, but it seem

[2020-09-25 16:43] ulfjack commented on #10159
I'm not sure if my change fixes the 'ssl handshake' issue. Please let me know if you still see issues with my commit (not released yet, should be in 3.6.0).

[2020-09-25 22:02] keith commented on #2287
Note this is still an issue and there are actually still good uses for `--script_path` over `bazel run`.

1. If you want to exec bazel with different environment variables than you want to run with, say you want to use a restrictive `$PATH` for your build, but you want to run the tool with a more lenient one
2. It makes it easier to silence bazel output while building without losing the output fro

[2020-09-25 23:52] keith opened #12176 "`--instrument_test_targets` doesn't apply if source rule and test rule are split"
When using `--instrument_test_targets=false` (the default), sources from test target's single dep are not excluded. This affects test targets which do not accept `srcs`.

For example if you have this setup:

[code]

The sources from `lib` will still be instrumented even though they are actually test sources.

Ideally there would be some way to exclude these source files from instrumentation (outsi

[2020-09-26 06:23] FatemeKhodayari commented on #11953
Seems that the issue is solved now. So I'm closing this.

[2020-09-26 06:23] #11953 closed

[2020-09-26 06:32] allada opened #12177 "--action_env (or any other env) does not apply to ACTION_NAMES.lto_backend"
### Description of the problem / feature request:
We use environmental variables to provide our remote execution environment with which docker image we want the build to be performed under (remote only). We recently started experimenting with thinlto and discovered it fails on the `LTO Backend Compile` final part of the step because environmental variables do not get sent.

We also tried:
[code]

[2020-09-26 16:19] keith commented on #12177
Kinda related https://github.com/bazelbuild/bazel/issues/12049

[2020-09-26 22:21] michaeleisel commented on #12174
Looks like I made a mistake in the investigating, and that github enterprise does not turn on that setting by default. Closing.

[2020-09-26 22:21] #12174 closed

[2020-09-27 05:56] MegaPanchamZ commented on #7157
@joshburkart

Can confirm the error still exists in Bazel 3.x.x

[2020-09-28 00:50] chandlerc opened #12178 "Allow rule attributes to be a list of lists of strings"
### Description of the feature request:

Currently, rule attributes can be a list of strings (`string_list`) or a dictionary of lists of strings (`string_list_dict`), but not a list of lists of strings (maybe `string_list_list`?). I'd like to see that last one added.

### Feature requests: what underlying problem are you trying to solve with this feature?

At least for a `repository_rule` it is of

[2020-09-28 04:57] scele commented on #10159
Thanks @ulfjack for the fixes!!

Unfortunately it's not easy for me to verify the fix, because the issue was only reproducing in high-volume CI builds, and we are currently using grpc in CI.

But if you believe the issue is fixed, or at least significantly improved, I'd be perfectly fine with closing this bug - we can always re-open or file a new ticket if we still see issues after 3.6.0.

Thanks!

[2020-09-28 08:35] comius commented on #10168
The documentation is here
https://docs.bazel.build/versions/master/skylark/lib/JavaInfo.html#JavaInfo

it looks like the link in the description is missing .html ending or this was perhaps already fixed?

[2020-09-28 08:35] #10168 closed

[2020-09-28 09:52] comius commented on #7006
There is now a function java_common.pack_sources. It creates a jar from any collection of files and jars (not necessarily sources), without a timestamp.

[2020-09-28 09:52] #7006 closed

[2020-09-28 10:02] lberki commented on #2287
Sure thing, although I don't think we'll be able to get to this anytime soon; As discussed before, `--script_path` is only mostly kept in life support. Maybe you can work around this by using `--run_under <some script that dumps the command line to where you want>` instead of `--script_path`?

[2020-09-28 10:38] lberki commented on #12006
/cc @alandonovan

Are there any motivating use cases other than #10799 ? (which is kinda weird because test execution doesn't require toolchains, only `exec_compatible_with` properties)

My first thought is that the addition of this feature would only save passing two arguments because as I understand it, exec groups have two properties: the list of required toolchains and the list of `exec_compat

[2020-09-28 12:36] igorgatis commented on #10961
Is there a way to spot the flag which is causing this issue? Say, comparing logs?

[2020-09-28 14:14] benjaminp commented on #12178
https://cs.opensource.google/bazel/bazel/+/c924b4d42a4e74975bf9f96a4ea978682f147915:src/main/java/com/google/devtools/build/lib/packages/Type.java;l=57-80

[2020-09-28 14:15] juliexxia commented on #12006
I would consider this the main use case with the test exec properties being a nice example of this. Exec groups were originally built as a response to a (long standing and high priority) request that we give users a way to specify per-target per-action execution properties. They weren't originally designed for that, but they were a nice way to tie in forge's request to a feature that was already h

[2020-09-28 14:59] Mathiasdm commented on #7470
Note sure if it helps narrow this down, but: we run Bazel within a docker container with CentOS 7.
If our host machine is also CentOS 7, we don't see this issue. If our host machine is Arch, we do see this issue.

It might be related to the kernel version?

[2020-09-28 15:45] iubica commented on #2351
The bazel symlinks are absolute paths, and this makes it almost impossible in gitlab to break bazel build steps into multiple stages.

[2020-09-28 17:30] nickgeorge opened #12183 "Bazel should provide an error message if it can't write to the output base"
### Description of the problem / feature request:

I've hit a failure mode where any bazel command just hangs, except for bazel --version (3.4.1)

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

bazel info release

### What operating system are you running Bazel on?
linux (glinux workstation)

### What's the output of `bazel info rel

[2020-09-28 17:34] keith commented on #12183
Can you test out the `SIGQUIT` instructions mentioned here https://docs.bazel.build/versions/3.5.0/guide.html and provide the stack trace it reports?

[2020-09-28 17:36] nickgeorge commented on #12183
Tried runnign `kill -3 $(bazel info server_pid)` but it doesn't return, because.... bazel info hangs indefinitely

[2020-09-28 17:40] nickgeorge commented on #12183
in case it's relevant,
^\kill: usage: kill [-s sigspec | -n signum | -sigspec] pid | jobspec ... or kill -l [sigspec]

[2020-09-28 17:42] keith commented on #12183
this wouldn't cause it to return, just to write some extra info to the file mentioned in the docs

[2020-09-28 17:45] nickgeorge commented on #12183
Ah gotcha.  Do you know what `$(bazel info output_base)` should resolve to on glinux?  I can't find the file because `bazel info` doesn't return :(  I also don't see any generated bazel-out/in/genfiles directories

[2020-09-28 17:49] nickgeorge commented on #12183
Not sure I understand how to follow this:
`Since you may not be able to run bazel info if bazel is hung, the output_base directory is usually the parent of the bazel-<workspace> symlink in your workspace directory.`

My WORKSPACE is /tmp/fhir/WORKSPACE, and I don't see any bazel-out/bin/genfiles directories getting created

[2020-09-28 18:35] nickgeorge opened #12184 "Bazel keeps auto-updating to 3.5"
### Description of the problem / feature request:
Bazel 3.5.0 is unusable to me due to https://github.com/bazelbuild/bazel/issues/12069#issuecomment-698640174

So I manually install 3.4.1 using
[code]
Consistently, a  hour or so later I

### Feature requests: what underlying problem are you trying to solve with this feature?

### Bugs: what's the simplest, easiest way to reproduce this bug? Please

[2020-09-28 18:36] #12184 closed

[2020-09-28 18:36] nickgeorge commented on #12184
hit post too soon, sorry

[2020-09-28 18:40] nickgeorge opened #12185 "Bazel downgrade to 3.4.1 keeps reverting to 3.5.0"
### Description of the problem / feature request:
Bazel 3.5.0 is unusable to me due to https://github.com/bazelbuild/bazel/issues/12069#issuecomment-698640174

So I manually install 3.4.1 using
[code]

This yields `bazel --version 3.4.1`
Consistently, a  hour or so later I find `bazel --version 3.5.0`, which is again broken

### Feature requests: what underlying problem are you trying to solve wit

[2020-09-28 19:07] nickgeorge commented on #12183
That workaround has stopped working.  I'm pretty jammed here, unable to build any targets even after entirely uninstalling and reinstalling bazel

[2020-09-29 01:30] pauldraper commented on #2882
`outputs` is deprecated https://github.com/bazelbuild/bazel/issues/2882

[2020-09-29 03:33] gxkevin commented on #6751
@dgrnbrg hi，have u build the orc with bazel succssful?  Do u have the workspace/BUILD?

[2020-09-29 07:14] oquenchil commented on #4685
Hey Ulf, it looks like I have something that is working after splitting coverage post-processing into its own spawn. But now I was wondering why your initial thought was to split it into a different spawn in the same action and not a new separate action altogether.

[2020-09-29 07:25] JanJamaszyk-FlyNow opened #12186 "Runfile path needs to be specified with leading '__main__' prefix"
As described in https://github.com/bazelbuild/bazel/issues/11212#issuecomment-619418866
We need to append a leading `__main__` to our relative path in order to reference data dependencies from our tests:
[code]
This looks like a python artifact and should likely be appended inside the `runfiles->Rlocation` function.

[2020-09-29 09:35] philwo opened #12188 "Release 3.7 - October 2020"
# Status of Bazel 3.7

- Target baseline: 2020-10-01
- Expected release date: 2020-10-15
- [List of release blockers](https://github.com/bazelbuild/bazel/labels/Release%20blocker)

To report a release-blocking bug, please file a bug using the `Release blocker` label, and cc me.

Task list:

- [x] Update GitHub issues for incompatible changes
- [x] Pick release baseline: a991db7c2f66a354666388d888d

[2020-09-29 09:36] philwo commented on #12188
We need these commits in the release to fix an error regarding invalid authentication credentials when using remote execution:
- https://github.com/bazelbuild/bazel/pull/12106
- https://github.com/bazelbuild/bazel/pull/12156

[2020-09-29 11:59] pauldraper commented on #5246
Yeah, many tools generate the HTML report at the same time as the XML.

[Jenkins Cobertura Plugin](https://github.com/jenkinsci/cobertura-plugin) is popular though that's pretty tied into Jenkins.

[ReportGenerator](https://github.com/danielpalme/ReportGenerator) uses a number of formats (Cobertura, JaCoCo, lcov) into HTML reports.

[2020-09-29 12:35] alandonovan commented on #2882
The word "deprecated" gets used a lot in this code base. All it means is "we wish we hadn't added this feature". It does not mean "this feature will be deleted by <date>", although on some occasions that does happen. It is not a reason not to document a feature; indeed, deprecated functions usually warrant _more_ documentation, to explain the acknowledged mistake in their design and to help users

[2020-09-29 12:41] comius commented on #4269
It seems that all the listed methods already accept JavaToolchainProvider:
- java_common.create_provider - now [JavaInfo constructor](https://cs.opensource.google/bazel/bazel/+/389e0da1fedc7543e243267a1052f9209b4dd395:src/main/java/com/google/devtools/build/lib/starlarkbuildapi/java/JavaInfoApi.java;l=240)  doesn't need toolchains
- [java_common.compile](https://cs.opensource.google/bazel/bazel/+/

[2020-09-29 12:41] #4269 closed

[2020-09-29 13:26] loshca opened #12190 "Bazel fails with "Invalid RunRequest: bad cookie""
### Description of the problem / feature request:

Periodically Bazel fails with bad cookie error on our CI:
[code]

We have CI with two sequential launches of docker container with Bazel invocations in both and docker launches use a common mounted directory for the Bazel "outputRoot".

In other words: we have few Bazel launches then killing a Bazel server process (no proper shutdown, just stop th

[2020-09-29 14:30] ling2yt opened #12191 "gcc: error trying to exec '/usr/lib/gcc/x86_64-linux-gnu/7/collect2': execv: Argument list too long"
### Description of the problem / feature request:

I got the error "gcc: error trying to exec '/usr/lib/gcc/x86_64-linux-gnu/7/collect2': execv: Argument list too long" when I run "bazel build ..."

The whole information:
[code]

I check the parameters file and the information is as follows:
[code]

### Feature requests: what underlying problem are you trying to solve with this feature?

I do some

[2020-09-29 15:27] benjaminp commented on #12191
This is a GCC bug that was [fixed in GCC 9](https://gcc.gnu.org/git/?p=gcc.git&a=commit;h=e7208389c8381feaf8c7c60d975b06c446978006).

[2020-09-29 15:43] alejandrolozano2 opened #12193 "https://mirror.bazel.build/github.com/unicode-org/icu/archive/release-62-1.tar.gz"
### Description of the problem / feature request:

### Feature requests: what underlying problem are you trying to solve with this feature?

Hi!
https://mirror.bazel.build/github.com/unicode-org/icu/archive/release-62-1.tar.gz is no longer available.
https://github.com/unicode-org/icu/archive/release-62-1.tar.gz has a different sha256.  This breaks the meta-tensorflow compilation.  Will the mirror

[2020-09-29 16:38] aiuto commented on #11885
Since yesterday was a holiday, I will let this age one more business day before dropping the "rc1" and upgrading to 3.5.1

[2020-09-29 20:29] ulfjack commented on #4685
Good point. I think I simply didn't consider it. Putting it in a separate action definitely has advantages.

[2020-09-29 20:34] ulfjack commented on #6477
I'm in favor of making `ResourceManager` obey `exec_properties` where appropriate. It seems like a good way to unify local and remote execution, rather than treating them as inherently separate.

IIRC, @katre said in another thread that `exec_properties` is purely for remote execution; adding him here for visibility.

[2020-09-29 21:02] katre commented on #6477
I think I wasn't clear in my previous emails with @ulfjack: `exec_properties` isn't only for remote execution, it's for any execution strategy that is interested in the execution platform (and with the [Execution Platforms vs Strategies](https://docs.google.com/document/d/1U9HzdDmtRnm244CaRM6JV-q2408mbNODAMewcGjnnbM/edit#) proposal in development, that's all of them).

However, Bazel does not curr

[2020-09-30 02:45] uri-canva opened #12195 "Add a member for the jar containing only classes (class jar?) on java_output."
### Description of the problem / feature request:

`java_output` contains a `class_jar` member, but that references the output jar containing both classes and resources (for example `libfoo.jar`) instead of the jar containing only classes (`libfoo-class.jar`). It's not clear if this is a bug or an unintuitively named symbol, but we can assume a lot of code in wild depends on this behaviour now.

h

[2020-09-30 15:20] Monnoroch opened #12197 "Don't download repositories when both remote execution and remote downloader are enabled"
When both remote execution and remote downloader are enabled what essentially happens is repositories are downloaded locally from remote cache just to be subsequently uploaded back to the remote cache for remote execution. Since with remote downloader enabled repositories are already inside the remote cache and have digest ids they can be pulled directly from the remote cache by the remote executo

[2020-09-30 17:05] segiddins commented on #12171
cc @juliexxia, this is a regression we found in Bazel 3.5 in the configuration workstream, and I think you're the right person to triage this?

[2020-09-30 17:37] juliexxia commented on #12171
Yep! apologies, I'm a little confused by the issue: historically, starlark transitions *always* updated the output directory. What 6360ff7 did was make it so that this only happened in cases where options were actually given new values. The output directory of starlark transitioned targets being different isn't new so I'm confused about what the regression is here. Are you saying the output direct

[2020-09-30 17:49] juliexxia commented on #12171
FWIW, you're right, the repro above should not have an updated transition directory fragment because as you say, it's the same configuration.

[2020-09-30 17:51] segiddins commented on #12171
So I _think_ I can sum up the issue as: "bazel is using multiple output directories for configurations _that are otherwise identical_". This means targets are getting configured & built multiple times for identical configurations, and can mess up things like rules that try to do IDE configuration, because targets that should be unique in fact are showing up under multiple output directories.

This

[2020-09-30 18:02] juliexxia commented on #12171
Yep! This all makes sense and I agree. *Before* 6360ff7, this wasn't the case, we were hashing all the values that were set by transitions regardless of they were the same value as they came into the transition. *After* 6360ff7, what you're saying should hold true as we slimmed down the group of post-transition configurations that get an updated output directory to those where the transition actua

[2020-09-30 18:12] DavidANeil opened #12198 "location "make" variable expansions should avoid external"
### Description of the problem:

The `$(location label)` make variable (and both `rootpath` and `execpath`) will give the path to an external file through the `external` directory.  When `--nolegacy_external_runfiles` is enabled then this `external` directory will not exist, which will lead to a runtime error for the particular executable in most cases.

### Change request:

These expansions shoul

[2020-09-30 18:28] nikhilm commented on #2537
Trying to understand exactly what the deficiency here is, because it seems the `macos_*` rules from rules_apple can build dsyms.
Specifically, if one wants a dylib on macOS

[code]
will not produce a dsym (nor will dwarf debug info be preserved in the dylib itself)

but

[code]
when built with `--apple_generate_dsym` will generate valid dSYMs. I also see that wrapped_clang has a notion of `DSYM_HI

[2020-09-30 19:23] segiddins commented on #12171
I think we maybe were seeing updating output directory paths, but they were being updated to the same value? Because all the outputs were being taken into consideration?

Again, pure speculation, but I feel like what needs to be done is look at the entire output configuration diffed against the "default" configuration, rather than only considering the diff of transition input/output flags against

[2020-09-30 19:59] juliexxia commented on #12171
It would be really helpful to get confirmation/clarification about what you were seeing in old bazel that you're seeing differently in new bazel and why it's causing issues for you.

That's the purpose of the "affected by starlark transition" bit. So the way the logic works:

[code]

The key here is that we maintain a list of affected options over an entire build and we only update the transition

[2020-09-30 20:01] juliexxia commented on #12171
I said *in theory** in the previous post because it sounds like you're getting different results. But again, need some clarity on what you're seeing.

[2020-09-30 21:06] aiuto opened #12200 "rename 'master' branch to 'main'"
Because we should

[2020-09-30 21:23] philwo commented on #12200
Do you have experience with and guidance on how to do this without breaking all the tools and scripts that currently have the old branch name hardcoded? I acknowledge the importance of this, but I'm a bit at a loss on how to do this technically without breaking everything and everyone.

As a rough estimate of the work involved:

grep over our CI repo:

<img width="1179" alt="Screen Shot 2020-09-30

[2020-09-30 21:32] segiddins commented on #12171
What would help provide that clarity? Given I have the sort of single-file repro, I'm happy to do whatever debugging / logging you think would be helpful

[2020-09-30 21:35] philwo commented on #11885
Can we release Bazel 3.5.1? Due to a bug in Bazelisk (https://github.com/bazelbuild/bazelisk/issues/170), certain builds around the world are failing until we do so.

[2020-09-30 21:44] meisterT commented on #12200
See https://github.com/github/renaming for some guidance, specifically the mention that this will be more seamless later this year.

[2020-09-30 22:12] aiuto commented on #11885
I will tonight. I was hoping to get a thumbs up from the downstream
packagers, but I don't want to keep you blocked.

On Wed, Sep 30, 2020, 5:35 PM Philipp Wollermann <notifications@github.com>
wrote:

[2020-09-30 23:09] ElectricRCAircraftGuy commented on #5511
It appears the output of bazel commands is already output to a file, no? In `command.log`, located some place like this: `/home/username/.cache/bazel/_bazel_username/3e8af127f8b488324cdf41111355ff4c/command.log`.

[2020-09-30 23:49] pauldraper commented on #2882
It doesn't work --incompatible_no_rule_outputs_param .

AFAIK no one creates such a flag unless they intend to remove the feature in a future (breaking) release.

https://docs.bazel.build/versions/master/backward-compatibility.html

[2020-10-01 00:49] keith commented on #12049
Thinking about this more I kinda thing we should make action_env apply to all actions instead. I think that makes sense from a user perspective and it would solve more issues than just the PATH one. Maybe we would also provide a default PATH though. Thoughts?

[2020-10-01 04:29] aiuto commented on #12200
I had seen that page before, but not the "seamless" renaming coming later.  I did this with rules_pkg a month ago and learned some pain points
- old PRs are against master.  If you don't remember to rebase them off main, they go to the wrong branch.
- copybara pulls from 'master' by default, not from the default branch. Easy to fix, but the copy.bara.sky files all need update
- CI seems to work wi

[2020-10-01 05:36] ob commented on #11974
I have something similar when building using Gazelle... if I add

[code]

to my dependencies, I get:

[code]

if I remove that dependency:

[code]

any tips on how to debug what the actual problem is?

[2020-10-01 08:51] castler commented on #5716
@meisterT since you unassigned @iirina I am assuming she is no longer working on the coverage topics. Since I had quite some headache which the baseline generation (and I still think that it needs to be improved because it is not working correctly) I would like to ask if external contributions in this area are right now welcome or more certainly could not be reviewed. If the former I would try to

[2020-10-01 13:12] asuffield opened #12203 "--experimental_remote_grpc_log and --build_event_binary_file together result in bazel hanging"
This one's bizarre. I've been able to get it to happen with bazel 3.4.1 and 3.5, but haven't narrowed down a reproduction case yet; filing the bug now in case it's more obvious to somebody else what is going on. I also have remote cache enabled for this particular build.

The build will complete normally, and then bazel will print "Waiting for build events: BinaryFormatFileTransport" forever and n

[2020-10-01 13:52] Monnoroch commented on #12178
Perhaps a more productive solution would be to add a proper generic list type. Something like `attr.list_of(attr.string)`.

[2020-10-01 14:22] meisterT commented on #5716
@c-mita is the best person to answer your question

[2020-10-01 14:30] welshm commented on #3433
Was there another issue filed? Or a SO article? This is where I ended up searching for a resolution to the same issue

[2020-10-01 14:36] benjaminp opened #12204 "query processes cycles without comment"
The query reference says that Bazel's query engine is [robust to cycles](https://docs.bazel.build/versions/master/query.html#cycles-in-the-dependency-graph). However, the user is not even notified that they are in unspecified and unreliable territory:
[code]
SkyQuery tells largely the same story, though it spices things up with cryptic warnings:
[code]
I would expect query to treat cycles as it do

[2020-10-01 15:41] jmmv commented on #8425
OK, then let's close this as a duplicate of #12049.

[2020-10-01 15:41] #8425 closed

[2020-10-01 15:41] rohansingh commented on #12086
Am I wrong or did the fix not make it into 3.5.1 after all?

[2020-10-01 16:04] laurentlb commented on #12040
Created 3.6.0rc3 using:
`scripts/release/release.sh create --force_rc=3 3.6.0` aa0d97c0bfc4c09ec6f45303aa80052ba28afbd9 1ae143b005f6982dc3150ae49d6f5ae9e9fd6b33 23b0b8a45a103f78d37f9338f0e80caffa076d6f 144d5149a0c50e464dd1be0769fed2ce33ab26a4 b3ac8f60973ba60d578ae6a653cdd993a2d206d7 26cbf776e0cdd8fbb9a40aca4c1be6f5313b6eb4

https://releases.bazel.build/3.6.0/rc3/index.html

[2020-10-01 16:13] meisterT commented on #12086
@rohansingh what makes you think so? I tried the opening example with bazelisk and 3.5.0 and could repro. After switching to 3.5.1 the hash changed.

[2020-10-01 16:16] rohansingh commented on #12086
I was just going by the fix commit that @alexjski mentioned above, b9bb102. That commit doesn't seem to be in 3.5.1 according to GitHub.

[2020-10-01 17:45] aiuto commented on #11885
I just pushed release: 3.5.1

https://github.com/bazelbuild/bazel/releases/tag/3.5.1

@vbatts @petemounce @excitoon : Could you please repackage this for your respective systems.

[2020-10-01 18:20] juliexxia commented on #12171
Do you mind verifying for me that you're running Bazel 3.5.0? Is it possible to run it with Bazel 3.5.0 proper and see if you get the same results? I notice you're running bazelisk - are you setting the bazel version anywhere? See: https://github.com/bazelbuild/bazelisk#how-does-bazelisk-know-which-bazel-version-to-run

I'm running the following repro (adapted from yours) with regular bazel 3.5.1

[2020-10-01 18:28] juliexxia commented on #12171
Another helpful verification would be at what bazel version were you *not* seeing this behavior because I would expect this behavior to be in all bazel versions before 3.5.0

[2020-10-01 18:37] segiddins commented on #12171
https://github.com/segiddins/bazel-config-multiple-hashes.git shows this is a regression between 3.4.0 and 3.5.0

[2020-10-01 18:55] juliexxia commented on #12171
There seem to be some build failures In that repro. Where are the config hashes that you use at the end coming from? I don't see them show up anytime before the config command:

"bazel config 1908601e8157a3765e39ede2fc98d23c9c1be24080e5589fc71fa6a15d7d9ff1 28e83bd7c518774a6378a7ee5024c969ab10fdacb062577d0f528bb70b3e6917"

Can you run the repro I wrote above? It's smaller and should give a clear si

[2020-10-01 19:35] segiddins commented on #12171
The build failures are intentional -- that's how I grab the pair of configs to diff.

I or @amberdixon will try to run your repro.

[2020-10-01 19:41] ulfjack commented on #12204
That is not generally possible the way query is designed, and changing it seems like it might be expensive.

[2020-10-01 19:47] ulfjack commented on #12204
Bazel build detects cycles through Skyframe: if there is a cycle then eventually the work queue is empty but some top-level nodes have not been computed. Query is mostly separate from that, and primarily designed for fast DAG traversals. While there are algorithms to detect cycles during a depth-first traversal, they require keeping track of the nodes on the path from a root node. The code does no

[2020-10-01 19:54] benjaminp commented on #12204
Right, I was thinking this would be most easy to fix in the case of SkyQuery, where the expectation is of transitive loading of the universe rather than a lazy traversal.

[2020-10-01 19:57] amberdixon commented on #12171
Hi Julie! Sorry about the delayed response here. Here are my responses to your comments and my notes about the repro case.

That's fine that the output directory gets updated. But it seems like the parameters used to compute the new directory hash should be a function of all the build settings in the new configuration, not just the changed settings. If you only look at the changed settings on the

[2020-10-01 19:59] ulfjack commented on #11974
@ob The "com_github_mattn_go_isatty" thing is probably a red herring. Also, I find your terminology a bit confusing. We usually say 'dependencies' when we mean the `deps` attribute on a rule, whereas the `go_repository` invocation probably goes into your `WORKSPACE` file (which I guess is also a dependency of sorts, but we usually don't call it that? Do we?).

The `--verbose_failures` flag doesn't

[2020-10-01 20:11] juliexxia commented on #12171
This isn't true because the "affected by starlark transition" is a list that is maintained and grown over the entire build. This list is what's used to determine what options will be hashed to form the output directory. So what happens in the code is that D should have the same output directory regardless of it was built via E or C (assuming they set the same values) because in both cases, the lis

[2020-10-01 20:39] #4615 closed

[2020-10-01 20:43] susinmotion commented on #10733
Thank @keith for all of the info! I am going to close this but feel free to comment with further discussion.

[2020-10-01 20:43] #10733 closed

[2020-10-01 20:46] ob commented on #11974
@ulfjack Sorry for the confusing terminology... should I call them `WORKSPACE` dependencies? You are right that `go_repository()` is a repository rule.

The `//:release` rule is a `pkg_tar()` that includes a binary built with `rules_go`

[2020-10-01 21:45] amberdixon commented on #12171
Ah yes, you are right, the "affected by starlark transition" does seem to aggregate settings that are affected by transitions. However, I still think there are some problems with the current implementation. In my company's repo, I have a scenario where all the build settings for a target are the same, regardless of where we traverse into it from:

AppTarget -> D
TestTarget -> D
D

In each case, D

[2020-10-01 22:00] vbatts commented on #11885
Fedora and Centos builds are kicked off: https://copr.fedorainfracloud.org/coprs/build/1691954

[2020-10-02 04:10] haxorz commented on #12204
`bazel query` erroring out on a target-land cycle used to be a thing, but it was removed in 6596f9c0ed34f3c0b51846eb0c3922bb8a4a001a (cc @juliexxia in case she has thoughts)

Assigning to @alandonovan because that commit was motivated by the following comment by him:

[I wasn't involved with this discussion/commit back then, but I do happen to remember reading the discussion and commit after the f

[2020-10-02 04:16] haxorz commented on #12204
As for SkyQuery, it'd be pretty easy to have the code report cycles detected during universe loading, but the code simply doesn't do that. The original intent of SkyQuery was for it to be usable on large universes that may have lots of weird stuff going on: target-land cycles, symlink cycles, symlink ancestor infinite expansions, etc. Maybe we should document this intent somewhere.

[2020-10-02 04:27] uri-canva opened #12206 "Fish completion string match unknown option"
### Description of the problem / feature request:

When sourcing fish completions:

[code]

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Source fish completions.

### What operating system are you running Bazel on?

ProductName:	Mac OS X
ProductVersion:	10.15.7
BuildVersion:	19H2

fish, version 3.1.2

### What's the output of `baz

[2020-10-02 04:28] uri-canva commented on #12206
cc @tmandry @akirabaruah

[2020-10-02 04:30] uri-canva opened #12207 "Fish completion complete: -l requires a non-empty string"
### Description of the problem / feature request:

When sourcing fish completions:

[code]

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Source fish completions.

### What operating system are you running Bazel on?

ProductName:	Mac OS X
ProductVersion:	10.15.7
BuildVersion:	19H2

fish, version 3.1.2

### What's the output of `baz

[2020-10-02 04:30] uri-canva commented on #12207
cc @tmandry @akirabaruah

[2020-10-02 04:32] uri-canva opened #12208 "Fish completion suggested completions have quadruple dashes"
### Description of the problem / feature request:

When completing an option:

[code]

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Source fish completions, try to autocomplete `bazel info --`.

### What operating system are you running Bazel on?

ProductName:	Mac OS X
ProductVersion:	10.15.7
BuildVersion:	19H2

fish, version 3.1.

[2020-10-02 04:32] uri-canva commented on #12208
cc @tmandry @akirabaruah

[2020-10-02 04:34] uri-canva opened #12209 "Fish completion suggested completions have double parentheses"
### Description of the problem / feature request:

When completing an option:

[code]

Note how the description of the options are wrapped in two sets of parentheses like `((none, all, packages or subpackages; default: "none"))`.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Source fish completions, try to autocomplete `bazel info

[2020-10-02 04:34] uri-canva commented on #12209
cc @tmandry @akirabaruah

[2020-10-02 04:35] haxorz commented on #12204
I poked around and, "haha", I already debugged this internally in Jan 2019. Alan and Julie, please look at internal bug 122472781. You'll find basically the same complaint that @benjaminp made here, followed by basically the same response from me there that I made here.

[2020-10-02 04:40] uri-canva opened #12210 "Fish completion takes a long time to load on every shell start"
### Description of the problem / feature request:

After sourcing fish completions, autocomplete a bazel command, note how the shell hangs while the completion script parses the output of various bazel invocations.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Source fish completions, try to autocomplete `bazel info --`.

### What

[2020-10-02 04:40] uri-canva commented on #12210
cc @tmandry @akirabaruah

[2020-10-02 09:43] ulfjack commented on #11974
@ob Have you tried to narrow down where the error is coming from? Clearly, removing the `go_repository` doesn't help.

If I understand correctly, everything worked, and then you made some code changes and ran gazelle, and then you got a failed build without a proper error message. Is that right?

[2020-10-02 12:43] EricCousineau-TRI opened #12212 "analyze-profile: Docs are out of date? `--html`, `--dump`, etc. are not in `help --long`?"
### Description of the problem / feature request:

Docs seem stale; seems like it documents the old profiling setup (ye olde profile file), not the current one (JSON).
Also, `--dump` and `--html` do not seem to work as indicated on the docs.

### Feature requests: what underlying problem are you trying to solve with this feature?

Just profiling build, namely to get test timing info w/o parsing te

[2020-10-02 13:49] laurentlb commented on #12040
Created 3.6.0rc4 using:

`scripts/release/release.sh create --force_rc=4 3.6.0` aa0d97c0bfc4c09ec6f45303aa80052ba28afbd9 1ae143b005f6982dc3150ae49d6f5ae9e9fd6b33 23b0b8a45a103f78d37f9338f0e80caffa076d6f 144d5149a0c50e464dd1be0769fed2ce33ab26a4 b3ac8f60973ba60d578ae6a653cdd993a2d206d7 26cbf776e0cdd8fbb9a40aca4c1be6f5313b6eb4 8b29b6a2dda8d2a9424f43380023ea7141b5c417

https://releases.bazel.build/3.6

[2020-10-02 14:10] vbatts commented on #11885
I forgot to remove the cherry-picked patches, so that build failed.
Kicked off a new build: https://copr.fedorainfracloud.org/coprs/build/1692951

[2020-10-02 14:17] benjaminp commented on #12212
03b527073531119aec19d2aacebf3b567e024b9b

[2020-10-02 14:24] juliexxia commented on #12171
Gotcha, that doesn't sound right. Thanks in advance for the repro. That would be very helpful. Is it possible the flags on the original command line/blazerc is different in the different cases? That would also lead to different directory hashes even if D ended up in the same configuration across the builds.

The last sentence is correct! Thanks for clarifying. Using your repro I was unable to get

[2020-10-02 15:16] mattsplats commented on #11994
Just following up on this - I can submit a PR if it would help. Thanks!

[2020-10-02 15:20] EricCousineau-TRI commented on #12212
Sweet! But that only tackles `--html` - is there something that can be used for `--dump=raw`?

[2020-10-02 18:04] meisterT commented on #12212
Feel free to send a PR to update the docs, otherwise I'll fix this next week.

[2020-10-02 18:06] meisterT commented on #12185
Cc @philwo

[2020-10-02 18:08] meisterT commented on #12198
Cc @lberki @jin

[2020-10-02 18:09] meisterT commented on #12197
Cc @coeuvre

[2020-10-02 18:10] meisterT commented on #12183
Can you use `strace` to see where it hangs?

[2020-10-02 18:12] meisterT commented on #12151
Cc @jmmv

[2020-10-02 20:23] EricBayer commented on #6145
I just ran into this myself.  I have a fairly complex rule that calls existing tools that I'd like to work for test and for several complex interactive debugging features (currently chosen via command line options)... The only work around I found for now is to make a macro front end to duplicate this once with `test = True` and once with `executable = True`, both using the same implementation but

[2020-10-03 01:00] thii commented on #12040
May I request to cherry-pick abc2211329d3b4c9016a96e2cd1a25c469e87c35? This is a long-standing bug that the only workaround was to uninstall `python@2` from Homebrew, even though we're not using any Homebrew installed tools.

[2020-10-03 01:45] konste opened #12213 "Filter out ANSI escape codes from command.log file"
### Description of the problem / feature request:

Every time Bazel executes a command it saves all the console output in its output folder in the file `command.log`. Unfortunately, ANSI escape sequences used to move the cursor around to optimize console output get to `command.log` file as well, which pollutes the file and reduces its readability substantially.

### Feature requests: what underlyi

[2020-10-03 04:22] tsawada opened #12214 "FR: Option to suppress cached test results and testlogs"
### Description of the problem / feature request:

When I ran `bazel test //...` in a repository with many tests, some of them already been cached, bazel prints out results of all tests, one line per each test.
[code]
Bazel also put log files for each test, whether or not they are actually executed, into `bazel-out/*/testlogs/**/test.log`

It'd be great if Bazel has an option to not to output cach

[2020-10-03 06:44] tsawada opened #12215 "FR: Option to treat non-reproducible external repository as an error"
### Description of the problem / feature request:

When I forget to add `sha256` attr for an `http_archive`, I get a DEBUG message:
[code]
But the build goes on.
It'd be great if there's an option to treat this as an ERROR and the build to fail after the message.

### Feature requests: what underlying problem are you trying to solve with this feature?

Would like to make sure my repository to be a

[2020-10-03 06:45] akirabaruah commented on #12210
Seems like the simplest way to speed things up is to generate fish completions at build time like we do for bash. I'm happy to make that change, if needed - should be able to do so by the end of this weekend.

[2020-10-03 06:55] akirabaruah commented on #12206
Hmm, I'm unable to repro using fish 3.1.2 and bazel 3.5.0 on linux. Nonetheless, I agree that we should use `--` to avoid parsing inputs as options to the `string` command.

@uri-canva since I can't repro myself, would you mind testing the script on your machine with the `--` replacements that you mentioned to verify the fix? I'm happy to upload a patch for you to try if needed - just let me know.

[2020-10-03 06:57] akirabaruah commented on #12207
@uri-canva were you able to verify whether adding `--no-empty` to the `string split` calls fixed this issue for you? (I can't reproduce the error on fish 3.1.2 and bazel 3.5.0)

[2020-10-03 07:19] uri-canva commented on #12207
Yes it does. (I tested it with `-n` which is the equivalent short option)

I also verified it happens with bazel 3.5.1, albeit with bazel 3.3.1's completions (brew doesn't install fish completions for bazel, only for bash and zsh: https://github.com/Homebrew/homebrew-core/blob/d7d8324f0c48640a6b9acf70e4f3442a6ccce7fb/Formula/bazel.rb#L44).

[2020-10-03 07:21] uri-canva commented on #12206
Yup, I've tested adding it in a couple of places and it resolved the issue.

[2020-10-03 07:27] uri-canva commented on #12207
Reproed it on bazel 3.5.1 with bazel 3.5.1 completions (still on macOS though, not Linux).

[2020-10-03 07:31] uri-canva commented on #12207
cc me on the PR and I can test it locally.

[2020-10-03 08:48] chandlerc opened #12216 "Starlark crashes evaluating `repository_ctx.which("")`"
# Description of the problem / feature request:

I have a repository rule with `repository_ctx.which("")` (the empty string comes from some computation, but its not relevant here).

The result is:
Caused by: net.starlark.java.eval.Starlark$UncheckedEvalException: java.lang.IllegalArgumentException: Child must not be empty string ('')

(and a bunch of stack trace)

### Bugs: what's the simplest, ea

[2020-10-03 20:39] michaeleisel commented on #11846
this is now done, released in 3.5 (with a fix for a regression it introduced in 3.6 rc4). @trybka let's close?

[2020-10-03 20:48] keith commented on #11846
I don't think it made 3.5? 3.6 is the first release with both I think?

[2020-10-03 21:09] michaeleisel commented on #11846
ah is that right? (we've been on a fork with both anyways). in any case, this seems resolved

[2020-10-03 21:22] trybka commented on #11846
I don't think I have any specific bits to close these?

@oquenchil probably does.

[2020-10-03 21:23] #11846 closed

[2020-10-04 08:55] sohaibiftikhar commented on #11119
@coeuvre

This would be awesome btw. Is there someplace I can track progress on this?

[2020-10-04 16:37] limdor commented on #10134
@hlopko could you update the part "Will be flipped:" to reflect the current plan? Looks like with not happen soon right?

[2020-10-05 04:12] jin commented on #12198
@gyias

[2020-10-05 04:31] jin commented on #12214
Have you tried `--test_summary=terse`? https://docs.bazel.build/versions/master/command-line-reference.html#flag--test_summary

[2020-10-05 06:11] lberki commented on #12198
Definitely. Unfortunately, it's a also a Very Incompatible Change so we'll either have to consciously do such a change or live with it.

[2020-10-05 06:27] DavidANeil commented on #12198
If we just made `--incompatible_disable_legacy_external_runfiles` do this location change plus what `--nolegacy_external_runfiles` currently does, it would be doable, right?

[2020-10-05 07:04] lberki commented on #12198
Yep, that sounds like it (although I admit I haven't thought it through very carefully)

[2020-10-05 07:18] hlopko commented on #10134
Hi all,

done.

@systemlogic the error message says "maybe" the flag was flipped :) This flag is not flipped by Bazel, so it's either flipped by your workspace, or it's not flipped and the culprit is elsewhere.

In general, the presence of the flag in the Bazel binary doesn't mean anything, the backwards compatibility process allows us to create flags and then abandon them (when e.g. we discovered

[2020-10-05 07:42] lberki commented on #11486
This is WAI; the `.jdeps` file contains about a single compiler invocation.  the result of `java_common.merge()` is not the result of a Java compilation, so its jdeps file will be empty.

[2020-10-05 07:42] #11486 closed

[2020-10-05 07:48] lberki commented on #10423
This is WAI. This is because the `owner` of a file is the label of the rule or aspect that generated it. In this case, `java_proto_library()` propagates an aspect over the `proto_library` rules in its transitive closure and the `.jar` file gets generated when the aspect reaches the respective `proto_library` rule. Consider the case when a `.jar` file is generated for two `java_proto_library` rules

[2020-10-05 07:48] #10423 closed

[2020-10-05 08:29] lberki commented on #2689
We have the `ctx.expand_location()` function which does the exact same thing. You can call it from anywhere you can call `java_common.compile()`.

[2020-10-05 08:29] #2689 closed

[2020-10-05 08:32] lberki commented on #11928
Is this a good idea? If we allow people to construct any `JavaInfo` instance, it's possible to construct inconsistent ones.

[2020-10-05 08:40] lberki commented on #11996
It would be nice to handle TreeArtifacts. Is this bug "only" about TreeArtifacts or is there something special about React?

[2020-10-05 08:43] lberki commented on #12004
Why is this needed? Java tests should generally find the JVM even without this variable.

[2020-10-05 08:45] lberki commented on #11893
@katre , what do you think? It looks like it's a bad idea to add a `--host_jvmopts` command line option because then we'd eventually have to duplicate every configuration flag.

[2020-10-05 08:47] lberki commented on #11861
"every other time" is weird.

[2020-10-05 08:48] lberki commented on #11845
@cushon , WDYT? This doesn't look like a bug in Bazel itself but in header compilation.

[2020-10-05 08:49] lberki commented on #10839
This is obsolete; We gave up on `--incomplete_load_java_rules_from_bzl`.

[2020-10-05 08:49] #10839 closed

[2020-10-05 08:49] lberki commented on #10838
We gave up on that flag :(

[2020-10-05 08:49] #10838 closed

[2020-10-05 08:51] lberki commented on #11382
@comius , WDYT? It looks like this is something for which a fix may fall out from your toolchain work?

[2020-10-05 08:51] lberki commented on #11381
Echoing @cushon's opinion, at the very least, this should not be hardcoded into Bazel itself but in the individual Java toolchains.

[2020-10-05 08:54] lberki commented on #11327
I don't think we'll be able to do much with this without a reproduction. Please re-open with one if this is still an issue and apologies for not tending to this bug for a long time.

[2020-10-05 08:54] #11327 closed

[2020-10-05 08:54] lberki commented on #11262
@comius , another use case for your platformization work?

[2020-10-05 09:23] lberki commented on #10162
Somewhat embarrassing.

[2020-10-05 09:24] lberki commented on #11705
This is working as intended; `java_binary` and `java_test` don't produce a `JavaInfo` because that would make it possible for them to be in the `deps` of other Java rules, which would result in confusion between e.g. `java_binary` and `java_library`.

[2020-10-05 09:24] #11705 closed

[2020-10-05 09:25] lberki commented on #8746
We gave up on this :(

[2020-10-05 09:25] #8746 closed

[2020-10-05 09:33] AutomatedTester commented on #11996
I believe it's only about tree artifacts as we have been able to get around it by fudging the react stuff into a tree artifact that the Java libraries can understand.

[2020-10-05 10:25] limdor commented on #10134
@hlopko but then, shouldn't `all_incompatible_changes` be discouraged? From the docs looks like it is ok to use `all_incompatible_changes `but from what I understand from you comment is that it is not a good idea to use `incompatible_use_cc_configure_from_rules_cc `or am I missing something?
Or wouldn't make sense to have two `all_incompatible_changes`? One that has all of them and one that has th

[2020-10-05 11:36] lberki commented on #11996
I'll rename this bug then; React or not, it's a pretty reasonable requeset.

[2020-10-05 12:16] steeve commented on #10423
Thank you. Is there another way to get the transitive export jars ?

[2020-10-05 12:23] katre commented on #11893
Yes, that's the problem with host flags.

Currently, we're ignoring the value of `--javaopts` in [JavaOptions.getHost](https://cs.opensource.google/bazel/bazel/+/master:src/main/java/com/google/devtools/build/lib/rules/java/JavaOptions.java;l=677;bpv=1;bpt=1?ss=bazel&q=JavaOptions), in favor of just setting them to `-XX:ErrorFile=/dev/stderr`. Does that still make sense? Should we be copying the j

[2020-10-05 12:24] lberki commented on #10423
Good question! I don't think so :( I think the best would be to add a method that contains the jar files so that you don't have to guess, but we don't have that at the moment.

What do you need this for? I'm surprised that you need this since you should in principle treat jars from direct dependencies and from transitive exports in the same way.

[2020-10-05 12:45] lberki commented on #11893
You could ask the same question about almost every single language-specific configuration flag.

I don't know whether that value in particular makes sense, but what I do know is that it comes from 2009 February (b/1632370 for the initiated), so I have my doubts. What's "the previous flag?"

[2020-10-05 12:57] katre commented on #11893
By "the previous flag" I meant "the value of `--javaopts` from the command line".

[2020-10-05 12:58] laurentlb commented on #12040
Cherrypicks are usually for recent regressions (something that worked with the previous version of Bazel). Since we're already late with Bazel 3.6 (and Bazel 3.7 process is starting this week), I'd rather not add any delay.

[2020-10-05 13:04] MikhailTymchukFT commented on #12004
@lberki
As I mentioned earlier:

[2020-10-05 13:19] thii commented on #12040
Totally makes sense. We can wait for 3.7.

[2020-10-05 13:29] lberki commented on #11893
I think the current approach of the host flag being independent from the target flag is good for `--jvmopt` in particular. But then we'd either need a `--host_jvmopt` or some other way of saying "the value of this flag should be that in on the exec platform".

In the short term, adding yet another `--host_*` flag is reasonable, but it would be nice not to have to duplicate everything in the long t

[2020-10-05 14:26] philwo commented on #12185
Hi Nick,

your system seems to be auto-upgrading all installed Debian packages on a regular schedule. There's nothing Bazel can do about that, as we only provide the packages - only your system administrator can help you configure your computer so that this package isn't auto-upgraded.

That said, if your project needs to use Bazel 3.4.1, I would recommend to add a `.bazelversion` file to its top-

[2020-10-05 14:26] #12185 closed

[2020-10-05 14:26] philwo commented on #12185
Forgot to say, please feel free to ping me on our internal chat (username philwo@) if you need help, happy to help you out. :)

[2020-10-05 14:44] oquenchil commented on #12178
Going by the comment linked by Benjamin above I will close this feature request. There are alternatives and it seems the benefits of adding a new type are not worth the cost.

[2020-10-05 14:44] #12178 closed

[2020-10-05 14:54] philwo commented on #11994
@mattsplats Thank you! Sorry, I didn't get around to update the docs myself, but I'd be happy to review a PR.

[2020-10-05 14:54] vonschultz opened #12218 "Documentation issue: Command-Line Reference"
Documentation URL: https://docs.bazel.build/versions/master/command-line-reference.html

`"auto" sets a reasonable default based onhost resources.` should be `"auto" sets a reasonable default based on host resources.` (missing space, `onhost` should be `on host`).

It looks like it comes from https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/runtime/Loadin

[2020-10-05 15:01] #12191 closed

[2020-10-05 15:06] oquenchil commented on #12193
Is that tar in Bazel's workspace file or Tensorflow's? If it's Tensorflow's, please file a bug against them.

[2020-10-05 15:14] oquenchil commented on #12203
It would be really hard to know what's going on without more data, please feel free to close until you have a repro.

[2020-10-05 15:17] c-mita commented on #5716
I don't think we're really ready to take PRs in this area. The means to output fleshed out baseline coverage files, including line numbers etc, will differ between languages and Bazel needs some mechanism to facilitate that.

I don't really like the idea of just sticking ad-hoc magic into the C++ rules until we've got some idea of what that would look like, unless there's a compelling reason to do

[2020-10-05 15:43] oquenchil commented on #12176
I don't see how Bazel could ever know that's the behavior you want without introducing yet another flag. Since the instrumentation filter flag should work for that I will close this bug for now. Feel free to re-open if you come up with a way that wouldn't add much more complexity.

[2020-10-05 16:01] #11457 closed

[2020-10-05 16:26] cushon commented on #11845
`com.google.common.util.concurrent.internal.InternalFutureFailureAccess` is defined in a separate jar (`external/maven/v1/https/jcenter.bintray.com/com/google/guava/failureaccess/1.0.1/failureaccess-1.0.1.jar`) which isn't on the classpath for the turbine action.

turbine uses direct classpaths, and relies on Strict Java Deps enforcement and 'repackaging' transitively symbols that may be transitiv

[2020-10-05 18:30] pauldraper commented on #5153
How? Is that possible per action?

[2020-10-05 19:45] mobileink commented on #11984
If you're collecting error messages that need fixing, here's another one:

[code]

This is not much better than "Your build failed".  It will be totally opaque to users who do not know that "output" has special meaning for Bazel rules.  It does not mean the compile failed; it might have failed, but it might have succeeded yet failed to put the output in the right place.  Worst of all is "[not] cre

[2020-10-05 20:16] alexeagle commented on #5153
Rules could just not include inputs in runfiles and instead pass them in some runtime-specific provider

[2020-10-05 20:16] gregestren commented on #11984
Thanks, Gregg. Excellent and subtle point on the "A or B" phrasing. I'll dig in when I get a chance to see what options we have for those errors.

[2020-10-05 20:22] ulfjack commented on #12176
I think the existing `--instrument_test_targets` flag should *also* consider the `testonly` flag. That seems like it may be sufficiently close to current semantics without too much of a migration period.

[2020-10-05 20:28] keith commented on #12176
+1 to that option, alternatively a tag could work for this.

I find that working in these detached source and test targets actually need this knowledge quite a bit, for example to compile a bit differently including paths to test dependencies you don't also want to leak into production builds. Currently in rules_apple / rules_swift we do use `testonly` for this.

I was getting at the issue with th

[2020-10-05 20:28] MikhailTymchukFT commented on #8746
@lberki Can you please elaborate?
And what about [tracking issue](https://github.com/bazelbuild/bazel/issues/8741)?

[2020-10-05 20:31] ulfjack commented on #10159
Adding @coeuvre to decide whether to close this. I don't have the access to do it myself anyway.

[2020-10-05 20:33] ulfjack commented on #11365
I added this before I left Google for some people who had repeatedly asked for it (for years). Personally, I also think this makes more sense than the haphazard semantics of 'if it happens to be cached, we don't print the output'.

[2020-10-05 20:39] ulfjack commented on #8508
@bjacklyn, is that related to this bug? I fixed a bug in the HTTP cache uploader / downloader that was due to a race condition where it tried to acquire a closed channel. That fix is here: https://github.com/bazelbuild/bazel/commit/e6089c9630daf60ea57b930d1d66d9b92980c0d6

Can you still repro the issue after that change?

[2020-10-05 22:31] mattsplats commented on #11994
No worries. There seems to be a delta between [the Github readme](https://github.com/bazelbuild/bazel/blob/master/site/docs/install-ubuntu.md) and the [web instructions](https://docs.bazel.build/versions/3.5.1/install-ubuntu.html#install-on-ubuntu) - is there a pipeline that should publish the document? I can submit changes but want to be sure they make it to the website.

[2020-10-05 22:41] mattsplats opened #12222 "Latest release (3.5.1) lacks an arm64 build, breaks Bazelisk"
Not sure if this is intentional or there's been a silent regression. [3.5.1 lacks an arm64 build for Linux](https://github.com/bazelbuild/bazel/releases/tag/3.5.1) that was [present on 3.5.0](https://github.com/bazelbuild/bazel/releases/tag/3.5.0) and since 3.4.

This also breaks installing via Bazelisk:
[code]

[2020-10-05 22:41] mattsplats opened #12223 "Apt repository lacks arm64 binary"
Installing on Ubuntu via apt is still [one of the top recommendations](https://github.com/bazelbuild/bazel/blob/master/site/docs/install-ubuntu.md#install-on-ubuntu), but the apt repo doesn't contain any releases for arm64.

See also:
https://github.com/bazelbuild/bazel/issues/11994
https://github.com/bazelbuild/bazel/issues/12222

[2020-10-06 05:37] philwo commented on #12222
I'm sorry - I'll push that right away (and will finally add the missing automation for arm64). 😬

[2020-10-06 06:03] philwo commented on #12222
This is fixed now!

[2020-10-06 06:03] #12222 closed

[2020-10-06 06:13] hlopko commented on #10134
@lberki can we remove `--all_incompatible_changes` flag? :)

Yup, I'd say don't use `--all_incompatible_changes`, it's an old flag that was used for Starlark evolution long before Bazel adopted a backwards compatibility story. Those 2 approaches are incompatible and `--all_incompatible_changes` is (supposed to be) discouraged. If you want to keep an eye on Bazel's incoming changes, I'd recommend u

[2020-10-06 07:02] meisterT commented on #12218
thanks: https://bazel-review.googlesource.com/c/bazel/+/141810

[2020-10-06 09:24] #12218 closed

[2020-10-06 11:35] lberki commented on #8746
Erm, sorry for the curt answer. We decided not to require everyone to add a `load()` statement to every single BUILD file because it's too much churn. The current plan is to "pretend" that the eventual C++/Java rules written in Starlark are `load()`ed everywhere.

We might revisit this decision once they are reasonably stable and once we decide where exactly they need to be `load()`ed from, but no

[2020-10-06 11:36] lberki commented on #8741
Update: We decided not to require everyone to add a load() statement to every single BUILD file because it's too much churn. The current plan is to "pretend" that the eventual C++/Java rules written in Starlark are load()ed everywhere.

We might revisit this decision once they are reasonably stable and once we decide where exactly they need to be load()ed from, but now is not the time.

[2020-10-06 11:36] #8741 closed

[2020-10-06 11:36] lberki commented on #8743
Update: We decided not to require everyone to add a load() statement to every single BUILD file because it's too much churn. The current plan is to "pretend" that the eventual C++/Java rules written in Starlark are load()ed everywhere.

We might revisit this decision once they are reasonably stable and once we decide where exactly they need to be load()ed from, but now is not the time.

[2020-10-06 11:36] #8743 closed

[2020-10-06 11:43] lberki commented on #10134
Let's wait a bit with that; I'd like to remove it, but let's do that only when the LTS release model is active.

[2020-10-06 13:28] philwo commented on #11994
@mattsplats This part of the webseite is versioned together with Bazel and the linked commit came after Bazel 3.5.x was cut from the `master` branch. If you switch the shown version to `master` in the drop-down in the top-left corner of the website, it should show the latest version. :)

[2020-10-06 14:17] mattsplats commented on #11775
Just following up, thanks!

Related:
Docs for arm64 install: https://github.com/bazelbuild/bazel/issues/11994
Missing arm64 in apt repo: https://github.com/bazelbuild/bazel/issues/12223

[2020-10-06 14:17] katre commented on #12188
3.6.0 is now released, so I will start preparing 3.7.0 today.

[2020-10-06 14:19] laurentlb commented on #12040
Released Bazel 3.6
https://github.com/bazelbuild/bazel/releases/tag/3.6.0

cc @vbatts @petemounce @excitoon

[2020-10-06 14:19] mattsplats commented on #11994
Ahh, got it, thanks.

[2020-10-06 14:20] katre commented on #12188
Last night's downstream run was green (https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1687), using a991db7c2f66a354666388d888dcef9b0d0f70c0 as the baseline.

[2020-10-06 14:50] philwo commented on #12188
arm64 binaries uploaded.

[2020-10-06 14:50] philwo commented on #11885
Bazel 3.5.1 arm64 binaries uploaded to GitHub and https://releases.bazel.build/3.5.1/release/.

[2020-10-06 14:51] philwo commented on #12040
Bazel 3.6.0 arm64 binaries uploaded to GitHub and https://releases.bazel.build/3.6.0/release/.

[2020-10-06 15:03] vbatts commented on #12040
Fedora and Centos builds kicked off
https://copr.fedorainfracloud.org/coprs/build/1696184

[2020-10-06 15:04] vbatts commented on #12040
@philwo can you share the full build flags used to invoke your arm64 builds? I'm wondering if it's memory issues or such, that cause all the aarch64 builds to fail on fedora and epel.

[2020-10-06 15:23] philwo commented on #12040
@vbatts Sure! This is the full script used to build the binaries. There aren't any special flags, except the `--sandbox_tmpfs_path=/tmp` due to https://github.com/bazelbuild/bazel/issues/3236.

[code]

It runs inside this Docker container (`centos7-releaser`): https://github.com/bazelbuild/continuous-integration/blob/master/buildkite/docker/centos7/Dockerfile#L50

In order to get the initial `baze

[2020-10-06 15:47] UebelAndre commented on #12200
Hey, would someone be able to elaborate on:

?

[2020-10-06 16:03] meisterT commented on #12200
The term `master` is offensive to some people. There's nothing special about the name in how git treats branches it was just historically the name for the first branch.

[2020-10-06 16:05] philwo commented on #12200
Hey @UebelAndre :)

Terms like "master / slave" or "whitelist / blacklist" are considered as offensive by many people (e.g. reminding them of slavery or racism). Obviously the *intent* of using these terms was not to provoke these negative feelings - they just somehow happened to become standard terms in the IT, but if there's a good neutral term available to replace them, I think it's just kind t

[2020-10-06 16:05] katre commented on #12188
RC1 is available: https://releases.bazel.build/3.7.0/rc1/index.html

[2020-10-06 16:09] philwo commented on #12188
arm64 binaries have been uploaded for Bazel 3.7.0rc1!

[2020-10-06 16:09] UebelAndre commented on #12200
@meisterT @philwo Thanks guys! This ticket makes me very happy 😄

[2020-10-06 16:11] katre commented on #12188
Downstream tests are starting: https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1688

[2020-10-06 16:38] katre commented on #12188
Target release date is currently October 20, 2020, assuming no release blockers in the meantime.

[2020-10-06 17:25] octalthorpe opened #12225 "Internal error thrown during build. Printing stack trace: java.lang.RuntimeException: Unexpected Exception 'null' when closing BEP transports, this is a bug."
### Description of the problem / feature request:

I was updating from bazel 3.4.1 to 3.5.0, and after flipping to use 3.5.0 our builds started to fail with the following exception:

[code]

Unfortunately I do not have an exact reproduction case, as this appears to be an underlying timing issue, and occurs when we have a large set of build/test targets run using a BRE environment.

The error only

[2020-10-06 19:42] katre commented on #12188
Downstream tests all pass.

[2020-10-07 05:10] dws-uber commented on #11820
I've also noticed this.  With a `BUILD` file as follows:

[code]

With `expand_template.bzl` exactly as @laurentlb supplied it in https://github.com/bazelbuild/bazel-skylib/issues/191

With `file.py.in`:
[code]

With `prog,py`:
[code]

With `util.sh`:
[code]

and an empty `WORKSPACE`, I can
[code]
with no problems, but with
[code]
I get an error due to `$Irootpath :util)` expanding to two paths in

[2020-10-07 07:49] #11885 closed

[2020-10-07 14:10] octalthorpe commented on #12225
I have tried to create a simple reproduction case, but still cannot get the same failure behaviour.  The case I tried was a macro that created N tests, that are made up of generating a shell script with a random value in it that feeds to a sh_library() , that puts a random sleep in a sh_test(), this all runs in a BRE environment.  See below.

There is a sleep in the genrule that creates the shell

[2020-10-07 14:14] vbatts commented on #12040
@philwo good info. I don't have direct access to the arm machines used on the copr.fedorainfracloud.org/ build-infra, but fired up a pine64 (2G ram/1G swap; 4 cores), and the `./compile.sh` got the system load up to 56 and then it seized.
So maybe only beefy machines like the Ampere on Packet (Equinix Metal?) will work now?

[2020-10-07 16:49] dws-uber commented on #11820
Even simpler: if we list the sh_binary label in the `srcs` of a genrule, then `$(rootpath)` breaks, but if we list it in the `tools` of a genrule, then `$(rootpath)` works:
[code]

[2020-10-07 18:22] vbatts commented on #12040
alrighty. I spun up a c1.large.arm on equinixmetal (on flatcar :train:  ), ran a docker fedora:32 container, and in it:
[code]
And it successfully built the binary rpm in 570s or so. (`/root/rpmbuild/RPMS/aarch64/bazel3-3.6.0-0.fc32.aarch64.rpm`)

Given the cryptic failures I'm seeing on aarch64 on the copr.fedorainfracloud.org, it is my guess that their machines are too small, or that the bazel b

[2020-10-07 18:46] TheButlah commented on #2505
This blog article still exists - I tried to do this today

[2020-10-07 19:35] dan-cohn opened #12227 "FR: Share extracted external libraries across workspaces"
### Description of the problem / feature request:

I would like Bazel to be able to share _extracted_ repos across workspaces. In other words, the "repository cache" should go deeper than simply making downloaded archives available in a centralized location. It would help save time and space if the unpacked contents were also shared.

### Feature requests: what underlying problem are you trying to

[2020-10-07 19:47] #11871 closed

[2020-10-07 19:54] TheKaur commented on #11847
Any update on this? @jin @comius

[2020-10-07 21:20] haberman commented on #2537
@nikhilm I am concern about the statically-linked binary case, not dylib.

In my view, this bug is fixed when I can:

1. build a `cc_binary()` in Bazel using `-c opt` or `--copt=-g`
2. run the binary in gdb/lldb/Instruments/etc
3. have full debugging symbols available.

When I do this today, I get no debugging symbols available.

[2020-10-07 21:31] keith commented on #2537
dSYMs are the solution for both of those cases. A workaround on macOS could actually even be to build a [`macos_command_line_application`](https://github.com/bazelbuild/rules_apple/blob/master/doc/rules-macos.md#macos_command_line_application) just for the dSYM support.

[2020-10-07 22:13] keith commented on #12176
I wonder if another option for this info is to use a `features = ["test_target"]`? The interesting thing about `testonly` is you could have `testonly` targets that you still want coverage info for. In our case this is running the unit tests against a "test helpers" type module. The "test helpers" module is `testonly = True,` but we still want to see coverage for it when running its own unit tests.

[2020-10-07 23:34] amberdixon commented on #12171
I have tried the following on bazel versions 3.5.0 and 3.5.1, but am seeing the same behavior.

TestTarget -> D
D

I think this particular issue has to do with the way the AppleCrosstoolTransition from the AppleBinary rule in the bazel repo gets applied. (There is different from the issue I reported in the initial description in the bug report, where the directory output hash differs, depending on

[2020-10-07 23:41] jin commented on #11847
I'll defer to @comius for long term plans, but there is nobody assigned to work on this right now.

[2020-10-08 12:48] mobileink commented on #11984
Here's another useless error message:

[code]

I have `@bazel_skylib//lib:paths.bzl` in a dozen files; which is it?  Surely Bazel knows.  I also have multiple workspaces. Bazel should be able to tell me where the problem is.

Gregg

[2020-10-08 12:50] #8731 closed

[2020-10-08 13:47] jmmv commented on #12143
This is another form of #10443 so closing as a dup of that.

[2020-10-08 13:47] #12143 closed

[2020-10-08 13:49] jmmv commented on #12151
Can you define "stuck state?

Do you mean that sandboxfs is left mounted and you have to manually unmount it for the next Bazel to work?

This is kinda... normal. If you forced Bazel to exit with repeated Ctrl+Cs, then Bazel does not have a chance to unmount sandboxfs and it will be left behind.

If that's the case, we probably should add some extra logic to attempt to unmount the sandboxfs instan

[2020-10-08 13:51] jmmv commented on #12183
If `bazel info` hangs, Bazel is most likely already running (unless we are hanging in the client). Use `ps ax` to find the PID of the Bazel server process and then use `jstack PID` to get the state of that server.

[2020-10-08 13:58] mzeren-vmw commented on #10443
I don't see this as a requirement, at least not until someone provides a use case. We have a local patch that lets us set concurrency and we have cases where the tool may peek briefly at 4 threads but empirically has a steady state of 2 threads, for example. A multi-threaded process does not usually consume cores in 100% core increments.

[2020-10-08 14:25] zls88 opened #12230 "Java annotation processors appear hardcoded to JDK 8"
### Description of the problem / feature request:

It seems like the header generation step of annotation processors always uses JDK 8, even if the toolchain is set to, say, JDK 11. This is a problem because the annotation processor won't understand some language features that have been introduced since Java 8, and will fail.

### Bugs: what's the simplest, easiest way to reproduce this bug? Pleas

[2020-10-08 14:31] philwo commented on #12193
Hi Alejandro,

If the file is not on mirror.bazel.build, then it was never uploaded there (but people probably didn't notice until now, because Bazel automatically used the file from GitHub). Probably, because TensorFlow linked it from their WORKSPACE file, but then they didn't upload it.

I would love to help out, but unfortunately, if the sha256 on GitHub has already changed, we have no way of s

[2020-10-08 14:31] #12193 closed

[2020-10-08 14:37] Mathiasdm commented on #12151
With stuck state, I indeed mean that a manual unmount is needed for the next Bazel call to work.

I understand this is normal behaviour, but it would indeed be more user-friendly if Bazel would be able to handle this by doing the unmount at startup.

In our case, we now do the unmount as part of a Bazel wrapper.

[2020-10-08 14:50] philwo commented on #12214
One thing we do on Bazel's CI is to parse the BEP JSON (https://docs.bazel.build/versions/master/build-event-protocol.html) to find the test logs that we want to upload. The BEP should contain the information whether the test was a cache hit or not, so you could skip these when uploading.

[2020-10-08 14:58] philwo commented on #12107
@sventiffe Can we have a `team-Documentation` and our tech writers on GitHub so that they could directly look into this? I don't think this is really actionable for my team, but I also don't know a better team to assign it to. 🤔

[2020-10-08 14:59] #12098 closed

[2020-10-08 14:59] philwo commented on #12098
After Yun's comment, I'm assuming this is fixed.

[2020-10-08 16:04] philwo commented on #12094
@smukherj1 Is this something you could look into? 🤔

If you tell me (just one more time, promise.. 😆) where the Dockerfile for this `l.gcr.io/google/bazel` container is, I can also add the required fix.

[2020-10-08 16:08] philwo commented on #12084
@rkube Are you bootstrapping from a `git clone` or from an extracted distribution archive, e.g. https://releases.bazel.build/3.6.0/release/bazel-3.6.0-dist.zip?

[2020-10-08 16:11] philwo commented on #12024
Please feel free to reopen if you want to follow up on this.

[2020-10-08 16:11] #12024 closed

[2020-10-08 16:18] smukherj1 commented on #12094
The build logic is collectively defined [here](https://github.com/GoogleCloudPlatform/layer-definitions/blob/master/layers/ubuntu1604/bazel/BUILD) and [here](https://github.com/GoogleCloudPlatform/container-definitions/tree/master/ubuntu1604_bazel).

The image build is done using rules_docker + Bazel. Not using Dockerfiles. You might be able to inject the command [here](https://github.com/GoogleCl

[2020-10-08 16:30] smukherj1 commented on #12094
Also I'm looking into why the Bazel 3.5.1 & 3.6.0 images weren't published.

[2020-10-08 17:07] janakdr commented on #12225
There have been some changes in the area of computing digests. @justinhorvitz made one, https://github.com/bazelbuild/bazel/commit/2983d0454ace4fcbe84c118eff0d7be6c7db7339. I audited it and didn't see anything obvious that would cause this failure. It looks like this codepath is unexpected: RemoteActionFileSystem is supposed to have fast digests, so we should never get to the point where we're loo

[2020-10-08 17:15] octalthorpe commented on #12225
If you pass on a patch, I can build locally, and repo.
Thanks

[2020-10-08 18:03] philwo commented on #12010
Seems like we just hit this on Bazel CI: https://buildkite.com/bazel/bazel-bazel/builds/14172#d7d32a9c-47f3-4d71-87cb-d2ccd872b831

[code]

@b0ri5 Do you remember if your log looked the same?

[2020-10-08 18:06] philwo commented on #12010
I found the log thanks to your hint "search internally for the hash"! 🕵️

That looks like the same issue. Bumping this to P1 - we should log a better error and be smarter when the download unexpectedly fails (retry?).

[2020-10-08 18:39] janakdr commented on #12225
First, as a workaround, I think you can set `--cache_computed_file_digests=0` on the command line.

I'm a bit confused about how this could happen. The only way for this bad [getNodeId](https://github.com/bazelbuild/bazel/blob/1a975e4b181435121ac66c6a45edd6a12e4a8485/src/main/java/com/google/devtools/build/lib/remote/RemoteActionFileSystem.java#L317) call to happen is via [stat](https://github.com

[2020-10-08 19:56] cushon commented on #12230
This is a duplicate of #8585

[2020-10-08 19:56] #12230 closed

[2020-10-08 20:02] cushon commented on #8585
cc @comius since this relates to Java >= 11 support

[2020-10-08 20:44] keith commented on #12049
So there was some confusion with the list above, the problem is that some actions don't print their env with aquery. I'll try to submit a follow up for some of those. This fixes some of my use case https://github.com/bazelbuild/rules_swift/pull/502

but it's not perfect. Firstly piping `ctx.configuration.default_shell_env` through everywhere can be cumbersome. But more importantly that doesn't inc

[2020-10-08 20:59] octalthorpe commented on #12225
So setting `--cache_computed_file_digests=0`does prevent the exception.  I will pull your patch @janakdr and let you know the results.

Thanks

[2020-10-08 21:56] EricCousineau-TRI commented on #12212
I think @benjaminp's PR resolves the `--html` side of things.

I actually just went through some steps to view the JSON output in Chrome / Chromium, so I'll send a WIP PR covering those bits too.

[2020-10-08 22:15] keith commented on #12049
The CppLinkAction is one of the ones where its environment doesn't show up in aquery because it doesn't implement SpawnAction

[2020-10-08 22:44] EricCousineau-TRI commented on #12212
Filed: https://github.com/bazelbuild/bazel/pull/12234

[2020-10-09 02:00] ling2yt commented on #12191
Sorry for the late replay. I updated to gcc 9 and got the same error.
[code]

[2020-10-09 02:15] xiay-nv commented on #10062
Any update on this?  This is quite troublesome.

[2020-10-09 03:42] ArekSredzki commented on #10601
@jmmv One such use case is described in #9047. Put otherwise, we'd like `cc_library` to configurably support additional output artifacts. If you use `-ftime-trace` with Clang, it will produce a `.json` alongside the other artifacts for each build unit. It's desirable to be able to retain those artifacts while retaining sandboxing. What's the easiest way to do this?

[2020-10-09 03:50] ArekSredzki commented on #4005
@hlopko Is there anyone that we could ping regarding the timeline for supporting C++20 modules?
There appears to be significant community interest in this feature, it'd be good to set expectations :)

[2020-10-09 04:14] xiay-nv commented on #10062
@beasleyr-vmw The first section of your fix is not necessary, the second section alone is enough for it to work.  But never the less it breaks patching.

[2020-10-09 07:14] coeuvre commented on #10159
Closing. Please feel free to re-open if this is still an issue.

[2020-10-09 07:14] #10159 closed

[2020-10-09 08:07] staalb opened #12238 "__init__.py still created, despite --incompatible_default_to_explicit_init_py"
### Description of the problem / feature request:

When `--incompatible_default_to_explicit_init_py` is passed, no `__init__.py` files are created for a `py_binary` target. However, when that target is used in a `genrule`, still the `__init__.py` files are created.

### Feature requests: what underlying problem are you trying to solve with this feature?
I have a code generator written in Python, w

[2020-10-09 08:08] sventiffe commented on #12107
Yes, this sounds plausible. I'll take this one for the time being as well.

[2020-10-09 09:10] hlopko commented on #4005
@oquenchil and @c-mita are authorities there.

[2020-10-09 09:28] glukasiknuro opened #12239 "Provide documentation for sandboxing (e.g. block-network)"
### Description of the feature request:

Sandboxing is very nice feature of bazel, but there is no single place with detailed documentation.
Best documentation I found so far is https://bazel.build/designs/2016/06/02/sandboxing.html , which has disclaimer that it's not description of current functionality.

Would be great to have documentation of sandboxing somewhere in https://docs.bazel.build/

[2020-10-09 10:17] comius commented on #11847
@c-mita or @oquenchil might be more familiar with coverage

[2020-10-09 12:05] #11940 closed

[2020-10-09 12:53] octalthorpe commented on #12225
Here is the exception with your added logging

[code]

[2020-10-09 12:55] janakdr commented on #12225
Yeah, unfortunately the name of the file is not in the RemoteFileArtifactValue, which I knew, but was avoiding confronting :) . Will mail you a PR not for submission that adds more debugging.

[2020-10-09 13:03] janakdr commented on #12225
https://github.com/bazelbuild/bazel/pull/12240/files

[2020-10-09 14:52] octalthorpe commented on #12225
So with the extra path logging I ran the scenario three times and each time the path pointed to a test binary created from a cc_binary() rule.  The binary would have been compiled for host in BRE and run in BRE during test.

The path to the binary was always a test binary, but was a different test binary 2/3 runs.

I unfortunately cannot post the full path as the path and binary name have some sen

[2020-10-09 15:24] trex58 commented on #12084
I have the same issue on Fedora32/x86_64.
Using: https://github.com/bazelbuild/bazel/archive/3.6.0.tar.gz

[code]

[2020-10-09 15:37] philwo commented on #12084
@trex58 Can you please send the output of these commands? I suspect in your case the JDK you're using might not be compatible. It would be interesting to see which kind and version it is.

[code]

[2020-10-09 15:47] juliexxia commented on #12006
To be clear, the only update I definitely want to make right now is allow inheriting from the rule. I think creating an API to do this that lends itself to an extension down the road that allowing inheritance from other exec groups is a good idea. But I'm not aware of pressing use cases for exec group to exec group inheritance today the way I see it for rule to exec group inheritance.

[2020-10-09 15:51] katre commented on #12006
One of the impulses behind adding this is our experience with platforms: initially inheritance wasn't allowed, and users ended up with a lot of workarounds (mostly using ugly macros) to fake it. Finally after investigating #8766 and related issues, we added the feature and it's been very useful for users, and much cleaner in BUILD files. I feel like we're at a similar point with exec groups: uses

[2020-10-09 15:55] ling2yt commented on #12191
Sorry for the late response. I updated to gcc-9 and got the same error.

(00:31:48) INFO: From Compiling proto/dataset_migrator_service.pb.cc:
In file included from /usr/include/string.h:494,
                 from /usr/include/c++/9/cstring:42,
                 from external/com_google_protobuf/src/google/protobuf/io/coded_stream.h:118,
                 from bazel-out/k8-opt/bin/proto/dataset_migr

[2020-10-09 16:25] gregestren commented on #10843
Tentatively good news: I prototyped `cquery --output=graph` yesterday successfully, and I think the approach its feasible and not too hard. I'm going to try to put up a proper PR today. I'll update this thread by EOD either way.

[2020-10-09 16:59] gregestren commented on #12107
Let's get @floriographygoth's input on this as a next step.

[2020-10-09 18:04] comius opened #12244 "Java_tools tests don't pass on windows"
### Description of the problem:

Java_tools tests don't pass on Windows. The tests pass on Linux and MacOS.
First failing commit is https://github.com/bazelbuild/bazel/commit/e906f89 Update java_toolchain to properly declare config transitions.

Failing build: https://buildkite.com/bazel-trusted/java-tools-binaries-java/builds/146#3727aefe-9cca-4ffc-8aad-bd77a8841428

The test that fails is bazel_

[2020-10-09 19:26] ArekSredzki commented on #9047
Someone at our company was able to add support for this using an aspect. I've asked them to chime in here if they have time.

[2020-10-09 19:26] ArekSredzki commented on #10601
Someone at our company was able to add support for this using an aspect. I've asked them to chime in here if they have time.

[2020-10-09 20:08] janakdr commented on #12225
Can you give any further information on the format of the filename? I'd
like to give you a patch with further logging to try to narrow down what's
happening, but the place I'm thinking of will probably overwhelm the logs
without some further filtering.

[2020-10-09 20:15] katre opened #12245 "serve-docs.sh script broken"
There is an error with option parsing, leading to this crash on my system (with updated ruby gems and jekyll):
[code]

[2020-10-09 21:04] #11994 closed

[2020-10-09 21:52] janakdr commented on #12225
https://github.com/bazelbuild/bazel/pull/12247 should give a lot more detail. Can you try that, synced past e24bab2?

[2020-10-09 22:26] octalthorpe commented on #12225
For sure thanks,  it’s Canadian Thanksgiving so won’t get to it until
Tuesday next week.

Thanks for all the effort!
Cheers

On Fri, Oct 9, 2020 at 6:12 PM Janak Ramakrishnan <notifications@github.com>
wrote:

[2020-10-09 22:36] SrodriguezO commented on #10288
We figured out what was causing this issue for us. It was a problem with our multiplex worker implementation. The issue occurred whenever the worker encountered a Fatal exception, in which case the worker would neither report the failure nor exit. More details [here](https://github.com/lucidsoftware/rules_scala/pull/6)

The change I linked seems to have resolved the issue entirely for us. It seems

[2020-10-09 23:06] gregestren commented on #10843
EOD update: didn't get time to put in tests, but basic PR at https://github.com/bazelbuild/bazel/pull/12248.

[2020-10-10 03:38] akirabaruah commented on #12210
Took a bit longer than expected, but I've put up PR #12249 to generate the fish completion script at build time. Sourcing the generated file is significantly faster (~200ms vs. ~3s on my machine), while maintaining the same functionality as before.

Here's an example script ([bazel.fish.gz](https://github.com/bazelbuild/bazel/files/5358406/bazel.fish.gz)) built at d69744dca68f8258762d53a01d8dca3af

[2020-10-10 04:05] akirabaruah commented on #12210
Since we no longer have to parse strings in fish itself, the fix for this issue might supersede these:
- #12206
- #12207
- #12208
- #12209

[2020-10-10 21:12] #11632 closed

[2020-10-10 23:03] sandeepganage opened #12251 "Tensorflow bazel build error : Failed to load Starlark extension '@io_bazel_rules_closure//closure/private:java_import_external.bzl'."
### Description of the problem / feature request:
I am trying to build tensorflow on windows. (https://github.com/tensorflow/tensorflow.git). While building the code I get the following output

WARNING: The following configs were expanded more than once: [monolithic, cuda, using_cuda]. For repeatable flags, repeats are counted twice and may lead to unexpected behavior.
INFO: Options provided by th

[2020-10-11 21:44] baranyildirim opened #12253 "Bazel does not build on Linuxbrew"
On Linuxbrew, the compilation script does not seem to work.
The JAVA_HOME directory is incorrect in the formula, but even after fixing that bazel will not successfully build.
Trying to fix this with https://github.com/Homebrew/linuxbrew-core/pull/21161 but cannot figure out a way to fix the build error.

### Description of the problem / feature request:

Bazel does not build correctly on Linuxbrew

[2020-10-12 05:01] jin commented on #12245
I noticed that you are using Jekyll 3.8.3, but the site infra is pinned to Jekyll 3.8.6: https://github.com/bazelbuild/bazel/blob/master/scripts/docs/Gemfile a

Could you try using 3.8.6?

[2020-10-12 05:07] jin commented on #12245
For some reason, your stacktrace says that Jekyll 3.8.7 is being used:

[code]

[2020-10-12 05:55] coeuvre commented on #12074
Closing. Feel free to reopen or create another issue if the implementation doesn't work for you.

[2020-10-12 05:55] #12074 closed

[2020-10-12 05:55] coeuvre commented on #10636
Closing. Feel free to reopen or create another issue if the implementation doesn't work for you.

[2020-10-12 05:55] #10636 closed

[2020-10-12 07:20] coeuvre commented on #11119
Sorry for the delay. I was OOO.

Good point! I will look into this.

This is still under the design stage and will publish once finalized.

[2020-10-12 07:39] lberki commented on #12006
Thanks for your patience! I'm a little over-booked these days.

Inheriting only from the rule makes the situation much simpler indeed. I don't understand, though, how this would solve #10799 and #10866: my understanding is that the requirement is that they want the exec properties of the test action to be different from the build action, so the syntax `exec_properties = { "test.mem": "20G" }` is e

[2020-10-12 08:49] davido commented on #12244
@comius @katre

Would it be an option to temporarily disable this test on Windows to not delay releasing new `java_tools` release and switching to new `java_tools` release per default in upcoming Bazel release, to suppoer new and shiny Java 15 release?

Let's face it: we do not really care about Windows OS, don't we?

[2020-10-12 09:59] sitaktif commented on #10636
Thanks @coeuvre, and sorry I haven't taken the time to test it yet but I do intend to. I'll chime back in either way.

[2020-10-12 13:16] benjaminp commented on #12191
To debug further, I think we'd need to know what makes the argument list so long or a reproducer.

[2020-10-12 15:15] Ignas commented on #4341
FYI you also sometimes need  `build --host_copt=-DGRPC_BAZEL_BUILD` not just `--copt` in user `.bazelrc` to fix the issue.

[2020-10-12 15:19] jtattermusch commented on #4341
I think that was before https://github.com/grpc/grpc/pull/24247. See https://github.com/grpc/grpc/issues/13856 for more details.

[2020-10-12 15:22] Ignas commented on #4341
Nope, I have my build fail on master unless I pass both options, also the `--copt=-DGRPC_BAZEL_BUILD` is still in https://github.com/grpc/grpc/blob/master/tools/bazel.rc#L4 so I'd assume it would get removed once not required anymore.

[2020-10-12 15:29] jtattermusch commented on #4341
What is the exact command you're running in "your build"?

[2020-10-12 15:36] Ignas commented on #4341
I am including grpc as a dependency of my project. I can't seem to reproduce the issue using grpc repository directly. Still I wanted to put the `host_copt` out there for people using non-master versions. I am not sure how/where the difference between grpc from a git clone and from building it as an http_archive appears in my pipeline.

[2020-10-12 15:50] janakdr commented on #12141
@aiuto should team-Core be the owner here? I don't think we're planning to do any work on this.

[2020-10-12 16:32] susinmotion commented on #10288
Hooray! @larsrc-google

[2020-10-12 17:09] Ignas commented on #4341
Ok, when I tried master, I tried it a week ago, when the fix was not yet landed. I can confirm that `--copt` and `--host_copt` are only needed for versions prior to the fix. Current master builds successfully without any additions to bazelrc on mac both in darwin_fastbuild and host.

[2020-10-12 18:07] juliexxia commented on #12006
Very understandable (:

The inheritance is used to create the "test" exec group during rule definition. This bit:
[code]
Without this bit, `exec_properties = { "test.mem": "20G" }` won't have an exec group to apply to. The exec properties attr can only reference existing exec groups.

[2020-10-12 18:36] limdor commented on #8324
@iirina @hlopko I am aware that this is closed, but would it be possible to set the coverage label? It is just to make it easy to find all related code coverage issues. Thanks

[2020-10-13 00:56] eagleonhill opened #12254 "Test coverage instrumented file do not exist in coverage mode."
I have a custom test coverage exporter that collects coverage report for `.py`, `.js` code.
Unlike C++ where the source info is part of compilation, during collection of test coverage, it needs access to the source code.

The `instrumented_files` file contains the path to the file relative to `execroot`, however, those files do not exist when running in sandbox mode. They do exist under runfiles o

[2020-10-13 02:25] uri-canva commented on #12210
Yes, have tested https://github.com/bazelbuild/bazel/pull/12249 and I can build it, and it solves all 5 issues! Thanks for the quick response.

[2020-10-13 07:04] ling2yt commented on #12191
This is a converter service which needs to link many interface definition.

The internal interface we need links:
$cat bazel-out/k8-opt/bin/server-2.params | grep _idl | wc -l
673

The .o we need links: (the external -o is
[external.para.txt](https://github.com/bazelbuild/bazel/files/5369522/external.para.txt)
 )
$cat bazel-out/k8-opt/bin/server-2.params | grep .o | wc -l
2773

And I don't know wh

[2020-10-13 07:14] lberki commented on #12006
I'm even more confused :( This rule definition doesn't create an exec group called `test`, it creates one called `foo` but then how does that make the key `test.mem` valid? Maybe you wanted to write `"foo": exec_group(inherits = "rule")`?

The part I don't understand is how inheritance helps with tests. I thought that:

1. Test actions themselves don't need any toolchains
2. Building a test binary

[2020-10-13 08:13] sventiffe commented on #12251
We are testing building TensorFlow@HEAD with Bazel@latest_release on CI: https://buildkite.com/bazel/tensorflow

Please upgrade Bazel and retry.

[2020-10-13 12:37] katre commented on #12245
This is what I just did (I have no idea how ruby gems work):
[code]

You're right, this is using jekyll 3.8.7, but I don't know how or why.