[2017-03-07 08:44] ittaiz commented on #685
@laurentlb this might be a different issue so feel free to ask me to open a new one but it feels very related- WDYT about supporting a more concise string interpolation format?
In Scala one can say:
[code]
and the above will of course return `Hello laurent`.
I've just been reading a lot of .bzl files lately and the verbosity of the .format with the repetition of the variable names impedes readabil

[2017-03-07 08:44] aehlig opened #2642 "bazel 0.4.5rc4: error-prone stops building third_party/checker_framework_dataflow"
From the announcement of 0.4.5rc4

[code]
Cherry-picking a library update into a release candidate is a bold strategy. In any case,
the error-prone in 0.4.5rc4 stops `third_party/checker_framework_dataflow` being compiled when bazel builds itself during bootstrap.

[code]

There is an easy fix for this, and I think it should be cherry-picked to the release as well, if we want to have that error-pr

[2017-03-07 08:52] iirina commented on #970
@ittaiz Could you provide a little (non-working of course) demo for the scala_junit_test? Just a few Java and scala files and a BUILD fille to reflect how you would like the API to look like? It would make me more confident that my solution would work for your case and I would realize faster what needs to be done.

[2017-03-07 08:55] cushon commented on #2642
I suppressed the error for that library, but the fix didn't make it into the RC: 81ae08bbc13f5f4a04f18caae339ca77ae2699c1

[2017-03-07 08:55] abergmeier-dsfishlabs commented on #2217
@dslomov noticed that but did not follow that in depth - is there a "ordinary" set by now?

[2017-03-07 08:58] mhlopko commented on #2639
Is there any error message when you run the entire gcc command by hand? You can check if `--sandbox_debug` gives you better error message, or you can run `bazel build //src:bazel -s` to see all the commands executed.

[2017-03-07 09:01] dslomov opened #2643 "'Reference' link in Extensions on Docs page is broken"
'Extensions | Reference' in NavBar goes to https://bazel.build/versions/master/docs/skylark-overview.html which does not exist

[2017-03-07 09:03] dslomov commented on #2643
@fweikert could you take a look?

[2017-03-07 09:04] dslomov commented on #2217
Not yet,  you can use dict with None keys though.

[2017-03-07 09:22] ulfjack opened #2644 "Bootstrap broken at head"
When setting JAVA_VERSION=1.7, bootstrap is broken depending on the order in which jar files are picked up by find.

This is due to commit 0785cbb672357d950e0c045770c4567df9fbdc43 by cushon.

Also see https://bazel-review.googlesource.com/#/c/8971/.

    🍃  Building Bazel from scratch../usr/local/buildtools/java/jdk8-google-v7-64/bin/javac -classpath third_party/apache_velocity/velocity-1.7.jar:th

[2017-03-07 09:24] mhlopko commented on #2502
Interesting, so I assume old macos clang silently ignores -fuse-ld=gold. Thanks Paul! I'm gonna upload the fix.

[2017-03-07 09:43] tux21b commented on #1580
It looks like I have encountered the same problem as described in #2352, which had been merged into this ticket. But I think this ticket is sightly misleading. I am not interested into supporting Python 3 (which might be a long term goal), I am interested in getting bazel to run right now using Python 2. Editing the $PATH so that "python" also points to py2 doesn't work either. Any suggestions?

[

[2017-03-07 09:45] damienmg commented on #2642
As suggested by @aehlig, filed a separate branch for testing that bootstrap. We use to have that test in the Bazel jobs

[2017-03-07 09:52] damienmg commented on #2472
So more cherry-picks yay!

For #2642: 81ae08b
For #2621: cl/149316508 and cl/149369076 when they hit the git repo

[2017-03-07 09:53] ulfjack opened #2646 "VanillaJavaBuilder crash"
I see a crash in VanillaJavaBuilder for code that isn't Java 7 compatible. The code in question was a method call that expected an ImmutableList<ActionInput> and the call passed ImmutableList.of() (no generic type arguments).

ERROR: /private/var/netboot/workspace/ddc67438cdfa06f96f3626c4c01ca16f_434048_19216/tmp/execution_root/src/main/java/com/google/devtools/build/lib/BUILD:511:1: Couldn't buil

[2017-03-07 09:56] abergmeier-dsfishlabs commented on #1580
@tux21b I would then perhaps create a new Issue since this here is really intended for Python3 specifically.

[2017-03-07 10:19] ulfjack commented on #2644
I didn't want to download a dist archive, so I took these steps:

    bazel build //third_party/protobuf:protoc //third_party/grpc:grpc-java-plugin
    cp bazel-bin/third_party/protobuf/3.0.0/protoc bazel-bin/third_party/grpc/grpc-java-plugin /tmp
    export JAVA_VERSION=1.7
    PROTOC=/tmp/protoc GRPC_JAVA_PLUGIN=/tmp/grpc-java-plugin ./compile.sh

On my machine, the classpath happens to contain

[2017-03-07 10:33] damienmg commented on #2644
Let's fix compile.sh to get the good version of guava for now.

[2017-03-07 10:49] #2621 closed

[2017-03-07 11:49] hermione521 commented on #2472
the above one and 869d52f145c077e3499b88df752cebc60af51d66 are for #2621

[2017-03-07 11:52] ekarem opened #2647 "Bazel client: don't die if the filesystem doesn't support file locking"
Hi

I built bazel on a Centos system and have limited authorization (I'm not on the sudoers list) on the system. When I try to execute bazel, I show an error like Error: unexpected result from F_SETLK: Function not implemented. How can I handle it?

[2017-03-07 11:53] ulfjack commented on #1118
There's an instrumented_files provider that can be instantiated from Skylark:
https://bazel.build/versions/master/docs/skylark/rules.html#coverage

It's a bit wonky, but it should work.

[2017-03-07 11:59] lberki commented on #2606
@iirina : how about a `sourcepath` argument instead? In general, I prefer Bazel understanding what it does (as opposed to passing through random command line options)

[2017-03-07 12:14] damienmg commented on #1704
There is no real action we can take on this one, closing.

[2017-03-07 12:14] #1704 closed

[2017-03-07 12:17] damienmg commented on #2560
Closing as duplicate

[2017-03-07 12:17] #2560 closed

[2017-03-07 12:21] damienmg commented on #2644
Mailed a fix in internal code review.

[2017-03-07 12:23] iirina commented on #2606
Yes I also agree that this should be as transparent as possible. At the same time I would like to keep the API as simple as possible. Having an argument with the same name as the `javac` argument, doing the same thing, that can be also passed through `javac_opts` is repetitive and may be confusing to some users(?). I'm also afraid that if we introduce a `sourcepath` argument, users would want to a

[2017-03-07 12:26] damienmg commented on #2606
The requirement is for having also "-implicit:none" for those source so changing the name might be a good idea. JavaBuilder support --sourcepath now.

[2017-03-07 12:30] iirina commented on #2606
Ah ok, sorry, I forgot about `-implicit:none`. So in this case it might be worth to add a new argument to `java_common.compile`, let's say `sourcepath_noclass` or something similar.

If we add this, JavaBuilder will drop the support for `--sourcepath`?

[2017-03-07 12:32] damienmg commented on #2606
I don't think so (you still need that flag for resolving that bug), but it will drop support for `-sourcepath` in javacopts

[2017-03-07 12:34] fweikert commented on #2643
David, any idea how to integrate the newly added skylark-overview.html into the Bazel documentation?

Context: I replaced the dropdown menu in our navigation with a single overview page, which is also being generated dynamically.

[2017-03-07 12:35] lberki commented on #2606
As they say, the API should as simple as possible, but no simpler :) Since we do have a requirement to support `-sourcepath`, I think it's better to put it on the API. Even if `-implicit:none` wasn't an issue, we'd eventually end up parsing Java command lines so that we can figure out that value of `-sourcepath` and there lies madness.

[2017-03-07 12:35] fweikert commented on #2643
The file exists at https://bazel.build/versions/master/docs/skylark/lib/skylark-overview.html

[2017-03-07 12:36] iirina commented on #2606
Very well then. SGTM. Do we need to cherry pick the solution for the next RC?

[2017-03-07 12:38] damienmg commented on #2606
nope we have the temporary solution in the current RC (supporting `-sourcepath` in javacopts) so we can take the time to have a proper API for this use case.

[2017-03-07 13:03] ittaiz commented on #2539
I have something working in my fork of the scala rules and I'm trying to see if/how it can be generalized to being it's own rule.
My general approach is to support the stock Maven features of running all junit classes which adhere to a prefix.
Basically I just list the entries of the archive, grep the relevant ones and output to a file. Later on in my custom runner I read the names of classes from

[2017-03-07 13:39] laurentlb commented on #2581
Did you find this in a real situation, or was it just to test the limits of the system? :)

[2017-03-07 13:48] kchodorow commented on #2317
I'm actually working on a change right now that will make the execution root basename be the workspace name (so `basename $(bazel info execution_root)` would give you the workspace name).  Would that be sufficient for your use case?

[2017-03-07 13:48] laurentlb commented on #1351
So the workaround is: call the glob function twice and take the difference.

[2017-03-07 14:01] laurentlb commented on #1344
I don't think we should support that natively. `set` is renamed to `depset` and we don't want to encourage this kind of operation (which removes all benefits of the depset). Documentation has been recently improved: https://bazel.build/versions/master/docs/skylark/depsets.html

So I'd encourage to write an intersection function in a .bzl file instead.

[2017-03-07 14:01] #1344 closed

[2017-03-07 14:06] laurentlb commented on #2443
Skylark doesn't transform characters, so it shouldn't be an issue.
Maybe the input file and the terminal disagree on the encoding?

[2017-03-07 14:11] laurentlb commented on #1346
A file can contain `@` and you might want to match it. The only thing we can do is detect `//`, but apparently it's already done?

[2017-03-07 14:42] junyongyou opened #2648 "Bazel installation on Windows 7"
I tried to install the "bazel-0.4.4-windows-x86_64.exe". I have installed msys64 (version 20160205), msys-2.0.dll is in my PATH, and set BAZEL_SH=d:/msys64/usr/bin/bash.exe. But I don't know how to set JAVA_HOME="$(ls -d C:/Program\ Files/Java/jdk* | sort | tail -n 1)", because my JAVA_HOME is already set as the JDK directory (I have JDK8). I put d:/msys64/usr/bin in the first in my PATH. I also d

[2017-03-07 15:02] aj-michael commented on #2638
First off, thanks for setting up such a detailed repro case in this bug report. 👍

@ahumesky Probably has a better idea of what's going on here than I do, but isn't the backtrace in the middle of your output a stacktrace of libtensorflow_inference.so? That would lead me to believe that libtensorflow_inference.so is being successfully loaded by your app. It appears to me that libtensorflow_inferenc

[2017-03-07 15:27] #1676 closed

[2017-03-07 15:28] ittaiz commented on #970
@iirina I actually have something working already in my [fork](https://github.com/ittaiz/rules_scala/tree/junit_support)
It's very basic but it shows the gist. I still need to evolve it to support class patterns.
It also uses JUnitCore and not the bazel runner which is not as feature rich.
I think that in essence this could be minimized to just building the scala library and generating the list of

[2017-03-07 16:10] meteorcloudy commented on #2648
The simplest way to install Bazel on Windows is using chocolatey.
Can you follow https://bazel.build/versions/master/docs/install.html#install-on-windows-chocolatey ?
A simple `choco install bazel` should do.

[2017-03-07 16:13] meteorcloudy commented on #2648
BTW, if you don't need to built TensorFlow, you can just install their Python pip package.

[2017-03-07 16:22] ulfjack commented on #2296
I think this is very likely a dupe of #1593.

[2017-03-07 16:22] #2296 closed

[2017-03-07 16:23] ulfjack commented on #1413
I wonder if the change above fixed this. Can someone try with head?

[2017-03-07 17:08] steren commented on #1387
Update on my update: `ios_test` is just the skylark rule, not the test runner.

[2017-03-07 17:14] Carmezim commented on #2594
@meteorcloudy back at that error again
`.bashrc`
[code]

[code]

[2017-03-07 17:15] #2644 closed

[2017-03-07 17:35] damienmg commented on #2472
And last cherry-pick: https://github.com/bazelbuild/bazel/commit/d72bc57b60b26245e64f5ccafe023a5ede81cc7f for #2644

[2017-03-07 17:48] mahmoodm2 commented on #2639
@mhlopko thanks for your replay. I ran the build using `bazel build //src:bazel -s `command and this is its very long result, hope it is useful:
[code]
end.

[2017-03-07 18:02] cushon commented on #2606
I think that the javac options for files and search paths deserve arguments. (We're already doing that for `-source`, `-classpath`, `-bootclasspath`, ...). Setting `-sourcepath` via `javacopts` is clumsy because it still requires a way to express the dependency on the sources, and then doing manual `$(location ...)` expansion in `javacopts`.

And `-implicit:none` appears to be a javac-only feature

[2017-03-07 18:04] junyongyou commented on #2648
Thanks a lot. I need to build TensorFlow, so I will try chocolatey.

[2017-03-07 18:04] #2648 closed

[2017-03-07 18:27] johnynek opened #2649 "Add a metric to track wasted build time."
One issue we have is that most engineers don't want to think much about build. So they add dependencies until things compile, but don't always remove them back down to get a minimal set.

An idea for a metric for bazel to track occured to me: build precision:

It is (out of date build time)/(total build time).

So, if I rebuild something, but then it was already up to date, this does not count tow

[2017-03-07 19:12] cushon commented on #2646
Thanks, I repro'd and mailed a fix.

[2017-03-07 19:14] gunan commented on #2594
I think the biggest problem is due to nccl TF side windows bazel build has been broken for a long time.
So many breakages have crept into the build.
@meteorcloudy, could you help us clean the `tf-master-win-bzl` build on ci.tensorflow.org ?
I suspect this issue will be resolved once we get the continuous build back healthy.

[2017-03-07 19:38] laurentlb commented on #685
Your example is very simple, but you can write:
[code]
or
[code]

It's the same verbosity as your Scala example. I don't think it's worth adding complexity to the language, just to support yet another string syntax.

[2017-03-07 20:19] andrewmed opened #2650 "'$' sign in java filegroup class (not allowed?)"
I have this rule:
[code]
bazel cant include this file in the filegroup:
[code]
is not a dollar sign a legit java class name?

my setup
[code]

[2017-03-07 20:39] andrewmed commented on #2650
hmmm.. I tried to exclude `target` dirs with:
[code]
still get the same error. glob goes into the target directories...

[2017-03-07 21:00] coroner4817 commented on #2638
Yes, you are right. It can successfully load the lib, but cannot use the symbol inside.

[2017-03-07 22:30] skycoop commented on #1580
Is there any word yet on plans for this? This is breaking parts of Tensorflow, which explicitly supports Py3.

In some cases, simply switching to using `six` imports would solve the problem. For example, using `from six import StringIO` on this [line](https://github.com/bazelbuild/bazel/blob/master/tools/build_defs/pkg/archive.py#L17) would solve the problem and maintain compatibility with Python

[2017-03-07 22:31] natebosch commented on #1082
related to this it would be awesome if a failure because of bad data on stdout also comes with a easier way to find the relevant worker-log.

Today my process is:

- See [this message](https://github.com/bazelbuild/bazel/blob/d72bc57b60b26245e64f5ccafe023a5ede81cc7f/src/main/java/com/google/devtools/build/lib/worker/WorkerSpawnStrategy.java#L410)
- Hope that the worker also crashed and look above

[2017-03-07 23:37] apelisse commented on #190
is there a way to make this the default (config, env)?

[2017-03-07 23:45] davidzchen commented on #2643
Looks like the link needs to be fixed. The overview page is in the `skylark/lib` directory under `docs/` but the link just points to `https://bazel.build/versions/master/docs/skylark-overview.html`.

[2017-03-08 02:54] mikedanese commented on #190
@apelisse in your .bazelrc you can add
[code]

e.g. here: https://github.com/kubernetes/kubernetes/blob/master/.bazelrc#L3

[2017-03-08 06:51] lswith opened #2652 "PHP Build Rules"
### feature request:
are there any rules for PHP7/HHVM?

[2017-03-08 08:35] petemounce opened #2653 "Installer script broken on macOS / 0.4.3, 0.4.4, 0.4.5rc5: symlink is incorrect if the path to --prefix arg is relative"
### Description of the problem / feature request / question:

When I try to install bazel using the bash script, it fails when uncompressing the installation.

It looks like the `{prefix}/bin/bazel` symbolic link is broken (but I don't know why, and attempts to recreate it manually have yielded the same results. I wasn't able to find how the installer is created, either, to add debugging to it).

[2017-03-08 09:06] meteorcloudy commented on #2594
Yes, sorry for that. We'll soon have the release of 0.4.5. See https://github.com/bazelbuild/bazel/issues/2472

I have tested building TensorFlow with the latest Bazel release candidate, it works fine.

And TensorFlow is also now building with Bazel@HEAD, http://ci.bazel.io/job/TensorFlow/BAZEL_VERSION=HEAD,PLATFORM_NAME=windows-x86_64/706/console
Only one test is failing: `//py_test_dir/tensorflo

[2017-03-08 09:47] dinowernli commented on #2317
Yes, that would be great. Thanks.

[2017-03-08 10:40] hermione521 commented on #2472
All commits above are cherry-picked.
We reach rc5 with 12 cherry-picks :)

[2017-03-08 10:48] #2572 closed

[2017-03-08 11:03] petemounce commented on #2653
This happens with 0.4.4 too.

[code]

[2017-03-08 11:07] petemounce commented on #2653
0.4.5rc5 as well:
[code]

[2017-03-08 11:08] petemounce commented on #2472
Please note #2653; not a regression, but an installation failure that's quite painful.

[2017-03-08 11:48] damienmg commented on #2653
The solution is to provide an absolute path to the installer:
`./bazel-0.4.5rc5-installer-darwin-x86_64.sh --prefix=$PWD/.local_bazel --bazelrc=$PWD/.local_bazel/bazelrc`

We should maybe try to get a complete path when creating the symlink

[2017-03-08 11:51] meteorcloudy commented on #2594
@gunan Looks like `//py_test_dir/tensorflow/python/kernel_tests:matmul_op_test` is already fixed from TF HEAD.
TF is green on bazel ci with Bazel@HEAD now, http://ci.bazel.io/job/TensorFlow/

[2017-03-08 12:17] petemounce commented on #2653
@damienmg no; sorry, I should have said. I tried that via `$(pwd)/.local_bazel` and got the same result.

[2017-03-08 12:23] damienmg commented on #2653
Wait I just tried with $PWD/.local_bazel (the command I gave) and it worked without problem, withou $PWD I can repro. Can you give me the full command you run?

[2017-03-08 12:24] meteorcloudy commented on #2472
Please cherry-pick https://github.com/bazelbuild/bazel/pull/2599 after it's submitted. It's needed by TensorFlow to build JNI library on Windows.

[2017-03-08 13:28] petemounce commented on #2653
Huh. When I tried `./bazel-0.4.3-installer-darwin-x86_64.sh --prefix=$(pwd)/.local_bazel --bazelrc=$(pwd)/.local_bazel/bazelrc` then it worked fine. Same if I used `$PWD` instead of `$(pwd)`.

[2017-03-08 13:56] #2502 closed

[2017-03-08 13:56] #2635 closed

[2017-03-08 14:14] meteorcloudy commented on #2472
92ecbae is the commit from #2599 , please cherry-pick it.

[2017-03-08 14:25] abergmeier-dsfishlabs commented on #2649
IMO it would be better to have a way to mark an action as hermetic and path independent. This means if all inputs have the same "content" you could reason that building is not necessary.

[2017-03-08 14:27] fweikert commented on #2643
https://github.com/bazelbuild/bazel/commit/a1ea9963d33f87ed61739c72c495f73246119eea and https://github.com/bazelbuild/bazel/commit/3b99ad4144bc8530dc7454c539472ec5c7f415e8 fixed this problem:
https://bazel.build/versions/master/docs/skylark/lib/skylark-overview.html

[2017-03-08 14:27] #2643 closed

[2017-03-08 15:14] rosun82 opened #2654 "generate_workspace failed with "Exception in thread "main" java.lang.UnsatisfiedLinkError: no unix in java.library.path""
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:

src/tools/generate_workspace/generate_workspace failed with

Exception in thread "main" java.lang.UnsatisfiedLinkError: no unix in java.library.path
	at java.lang.ClassLoader.loadLibrary(ClassLoader.java:18

[2017-03-08 15:17] kchodorow commented on #2317
Marking as a dup of #1681, then. Hopefully should be fixed in a couple of days (won't make it into 0.4.5, though).

[2017-03-08 15:17] #2317 closed

[2017-03-08 15:22] philwo commented on #2235
@ekuefler I didn't have time to check this out yet, but it's the next thing I'll focus on. I have to get one feature for Bazel ready and a failure on Windows has been holding me up for over a week now. It's close to completion now though. Sorry for the delay :(

[2017-03-08 16:23] aj-michael opened #2655 "Support Android NDK14"
This will be the tracking issue for android_ndk_repository supporting Android NDK14.

NDK14 was released on March 3, 2016: https://groups.google.com/forum/#!topic/android-ndk-announce/JI9jMFEGxA0

FYI: Bazel 0.4.5 will be the first Bazel release to support NDK13.

[2017-03-08 17:16] pcj commented on #2502
Thanks for working on this @mhlopko

[2017-03-08 17:28] meteorcloudy commented on #2510
TensorFlow with HEAD is already green again, latest will be green after having the release.

[2017-03-08 18:01] #2642 closed

[2017-03-08 18:03] Carmezim commented on #2594
No problem folks, I really do appreciate your help and patience. Looking forward to bazel 0.4.5.
Thanks for the amazing work.

[2017-03-08 18:06] #2594 closed

[2017-03-08 19:10] Helcaraxan commented on #2618
I'm also encountering this issue currently... surprisingly also when using gRPC as a dependency. Might this be because of some things they do internally in their BUILD files? I'm currently upgrading from gRPC 1.0.1 to 1.1.4 and I did not have this issue up to now.

The most troubling thing with this is that it looks impossible to find out what the offending twice-used name is (none of my own's pro

[2017-03-08 19:40] kchodorow commented on #2618
It should be a dependency of the target named in the error.  E.g., above, the error message says `Unrecoverable error while evaluating node 'CONFIGURED_TARGET://lb:ip-forwarder-main`, so you'd look at `//lb:ip-forwarder-main`'s deps.  Does that help narrow it down?

There is a fairly long discussion on #1952.

[2017-03-08 19:41] johnynek commented on #2649
I *thought* all actions should have this property @abergmeier-dsfishlabs ?

I think this is already how bazel works, unless i'm confused. What I am talking about is the down-side of this: when we needlessly skip the cache because the user incorrectly claims to depend on something they don't really need.

[2017-03-08 19:49] cushon commented on #2650
This is a duplicate of #374

[2017-03-08 20:11] Helcaraxan commented on #2618
Thank you very much for the quick answer @kchodorow! I was able to trace it back that way. It was an issue that I had not spotted earlier on with a third party dependency.

Also thanks for the link to #1952. I do understand better now that there is a growing consensus behind the deprecation of `bind()` but it would indeed, as noted in the discussion, require a great number of existing Bazel users

[2017-03-08 22:04] hazelnusse opened #2656 "new_http_archive incorrectly reports a symlink pointing to a file outside of the zip archive"
When using new_http_archive to fetch a zip archive containing a symlink, bazel incorrectly reports that the symlink points outside of the directory.

Minimal working example can be found here:
https://github.com/hazelnusse/bazel-tests
https://github.com/hazelnusse/archive

the bazel-tests repo tries to fetch a very simple archive.zip file from the archive repository. This repository has a README.m

[2017-03-09 02:31] hazelnusse opened #2657 "new_http_archive sandboxing breaks build"
### Description of the problem / feature request / question:
I'm attempting to build flatbuffers with bazel using new_http_archive()

### If possible, provide a minimal example to reproduce the problem:
A standalone example of the problem can be seen by trying to build flatc with bazel here:
https://github.com/hazelnusse/flatbuffers-bazel/tree/master

The same BUILD file, when used without new_htt

[2017-03-09 02:35] hazelnusse commented on #2657
[all_output.txt](https://github.com/bazelbuild/bazel/files/829576/all_output.txt)

[2017-03-09 02:41] hazelnusse commented on #2657
[all_output_successful.txt](https://github.com/bazelbuild/bazel/files/829585/all_output_successful.txt)

[2017-03-09 02:42] robbiexperiel commented on #2657
I've ran into the same issue before (also with flatbuffers) and resolved it by adding `includes = ["include", "grpc"]` to the flatc cc_binary rule.

It definitely doesn't seem like the correct solution, but it got around the issue for now.

[2017-03-09 02:45] hazelnusse commented on #1997
I've created a minimal working example of this problem here:
https://github.com/hazelnusse/bazel-tests

I see this problem whenever there is a symlink that points to a file that is higher in the directory tree than the symlink is.

[2017-03-09 02:46] hazelnusse commented on #2656
Possible duplicate of:
https://github.com/bazelbuild/bazel/issues/1997

[2017-03-09 02:46] hazelnusse commented on #1997
Possible duplicate of:
https://github.com/bazelbuild/bazel/issues/2656

[2017-03-09 03:25] hazelnusse commented on #2657
@robbiexperiel Thanks for the workaround. Do you understand what the root cause is? I'm perplexed how the same build file works in isolation but not when used by new_http_archive()

[2017-03-09 05:58] ekuefler commented on #2235
No problem, I'll watch here for updates.

[2017-03-09 07:15] mnlandicho commented on #1275
anyone who got this issue fixed?

[2017-03-09 07:49] laszlocsomor commented on #2604
373879d81e45a36c24322d725604e051f172d7b4 fixed this issue.
When building with `--verbose_failures` or with `-s`, we still report a long path, but that's purely cosmetic, see https://github.com/bazelbuild/bazel/blob/cb8a5e25382cb67a80449ac1fb78ae9680650b92/src/main/java/com/google/devtools/build/lib/util/CommandFailureUtils.java#L101.

[2017-03-09 07:49] #2604 closed

[2017-03-09 07:50] laszlocsomor commented on #2538
@philwo : can we close this?

[2017-03-09 08:01] laszlocsomor commented on #2406
Ok, I was testing more with longer paths and found a couple things:

1. MSVC `cl.exe` cannot deal with long paths at all. I can write a hello world program that takes a long path argument and can CreateFileW at that path (after prepending the path with "\\\\?\\"), therefore this is not a limitation of cmd.exe but of cl.exe

2. We have no way of shortening paths in the msvc python wrapper. I couldn

[2017-03-09 08:04] laszlocsomor commented on #2306
This has been fixed for a while now, we should no longer create output roots with "$" in the name.

[2017-03-09 08:04] #2306 closed

[2017-03-09 08:05] laszlocsomor commented on #1842
Assigning this to @dslomov who agreed to work on it. Thanks!

[2017-03-09 08:06] laszlocsomor commented on #1744
For the record this doesn't happen with the msys-less version.

[2017-03-09 08:09] laszlocsomor commented on #1683
With 6 more months of experience, I now suspect this is due to a rogue System.getenv call somewhere in the java code. We should not be using System.getenv at all, and always receive the latest state of the environment from the client via --client_env flags.

Assigning to @dslomov .

[2017-03-09 08:25] petemounce commented on #2472
I've pushed RCs 4-6 inclusive.

[2017-03-09 08:25] abergmeier-dsfishlabs commented on #2406
With regards to "general" handling, I would rather have a special commandline flag where you can tell Bazel to pass shortened label paths a certain Mnemonic.

Everything else is up to the action implementation. Actually most of our actions e.g. are working fine with prefixed paths.

[2017-03-09 08:31] laszlocsomor commented on #2406
What do you mean? Can you show an example?

[2017-03-09 08:39] ddwolf commented on #2640
# this is not bazel's problem
It is different between `bazel test` and maven's surefire plugin.

When dealing with shutdown hooks, bazel just wait , but surefire will launch a thread to forcibly halt the jvm, this can be found at [surefire's ForkedBooter.java#L245](https://github.com/apache/maven-surefire/blob/master/surefire-booter/src/main/java/org/apache/maven/surefire/booter/ForkedBooter.java#

[2017-03-09 08:39] #2640 closed

[2017-03-09 08:45] abergmeier-dsfishlabs commented on #2406
I was thinking about in `bazel.rc`:

    # Force paths exposed to MyAction to be "shortened"
    build --path_variant=MyAction=shortened-paths

in `myaction.bzl`:

    ctx.action(
        outputs = [output],
        inputs = [f.path for f in ctx.files.srcs],
    )

where inputs gives you a `\\?\` path by default and a "shortened" with the above rc entry.
Everything else should IMO be handled by th

[2017-03-09 09:04] laszlocsomor commented on #2406
It's actually desirable that actions *don't* get an absolute path for inputs [1] because this way the execroot can be anything, enabling actions to be reproducible and deterministic, regardless of the machine or the execroot path they run under. Every action has a working directory (AFAIK this is always the execroot), and all their inputs are available as relative paths underneath it.

Requiring a

[2017-03-09 09:31] mhlopko commented on #2502
Thank you for your help @pcj! :)

[2017-03-09 11:54] ulfjack commented on #1000
I did some research to find out how we can fix this, and it does not look good. I checked ccache and distcc, and apparently they are rewriting the output files after compilation to remove the absolute paths:
http://jlebar.com/2010/3/21/ccache_3.0.html
https://lists.samba.org/archive/ccache/2011q1/000735.html
https://ccache.samba.org/manual.html

The tricky part about -fdebug-prefix-map is that we

[2017-03-09 11:57] lberki commented on #1000
An alternative would be post-processing object files instead in a separate action?

I just told @mhlopko that I'd prefer post-processing because that doesn't assume that there is a bash shell wherever the compiler runs, but then again, post-processing has to know the format of the .o files, which is  a bigger deal.

I guess a wrapper script is okay as long as we can come up with a way not to manda

[2017-03-09 12:51] ittaiz commented on #970
@iirina please see my [pull request](https://github.com/bazelbuild/rules_scala/pull/163) to see how I worked around it. IIUC the main changes I'll need to make will be that in `_scala_junit_test_impl` I will replace the creation of the launcher and the scala binary with calling `native.java_test` and passing to it the generated test suite name and a jvm arg which is needed. Any news byw?

[2017-03-09 13:00] ulfjack commented on #1000
Note that this mainly affects MacOS right now, where we already use a wrapper script. Extending that to also handle -fdebug-prefix-map doesn't sound too bad. On Linux, we set PWD=/proc/self/cwd, which makes the outputs deterministic. On Windows, we need to check whether MSVC is even writing absolute paths, and whether it has options to suppress that. Or are you concerned about gcc / clang on Windo

[2017-03-09 13:02] ulfjack commented on #1000
I'm recategorizing this as a bug since it's preventing cache hits with remote caching / execution. We may need to fix this soon-ish-er.

[2017-03-09 14:12] vladmos commented on #2650
Closing as a duplicate.

[2017-03-09 14:12] #2650 closed

[2017-03-09 15:36] mhlopko commented on #1000
lberki: Action-based post processing would require changes to bazel, wrapper script is hidden behind the crosstool, which I think is a better place for this arguably toolchain-specific logic. Or we want to move forward with crosstool-triggered extra actions, that would give us best of both solutions. Which is not as stupid idea as it may sound, as we could then move lto and fdo to crosstool, too.

[2017-03-09 15:56] ulfjack commented on #1000
It's preventing cross-user caching between Mac machines when debugging is enabled. The current implementation is experimental, but we'll need to improve the situation in the coming months, as we get more and more users who want remote caching or execution. We should target 0.7 at the latest.

[2017-03-09 15:59] mhlopko commented on #1000
Understood. Thank you!

[2017-03-09 15:59] ulfjack commented on #2472
I think the non-msys2 binary isn't ready yet.

[2017-03-09 16:58] damienmg commented on #2472
MSYS2 dependency should be dropped for 0.5 (still estimate, we technically have reached the 0.5 milestone already).

[2017-03-09 17:30] kchodorow commented on #2472
We haven't reached 0.5, which must include #1262.

[2017-03-09 17:33] damienmg commented on #2472
Indeed you are right!

On Thu, Mar 9, 2017 at 6:30 PM Kristina <notifications@github.com> wrote:

[2017-03-09 19:55] robbiexperiel commented on #2657
I don't remember the details, but at a high level I believe it has to do with the fact that when flatbuffers is pulled in as an http_archive, it gets placed in bazel-master/external/<name> rather than living in the root directory, which messes with include paths.

I assume this is a bug, not intended behavior. Would someone from the bazel team be able to confirm?

[2017-03-09 20:03] werkt opened #2659 "ExtraAction overexecution via CppCompileAction include pruning"
### Description of the problem:

Races between ExtraActions/ExtraActionInfoFileWriteActions and their shadowedAction when that shadowedAction has unknown inputs cause overexecution of both.  Keys, generated by both ExtraAction-actions, are invalidated when the inputsKnown is eventually evaluated, and seen in large builds as a constant no-op build cost.  The change to CppCompileAction to make input

[2017-03-09 21:44] werkt commented on #2659
This also applies to the new getExtraActionBuilder implementation returned by CppCompileAction - ExtraActionInfoFileWriteAction depends upon its representation to computeKey, and this changes from before to after building.  It should probably be using getInputsWhenSkippingDiscovery, instead of varying its behavior depending upon whether the inputs are known.

[2017-03-09 22:32] jawsthegame commented on #2536
any resolution on this problem?

[2017-03-09 23:43] benjaminp opened #2660 "disk action cache can become out of sync with in-memory action cache"
Let's begin with a reproducible example of this bug (output omitted where it's not relevant):
[code]
As you can see, Bazel now thinks `a` is out of date despite us doing nothing but restarting the server!

I believe the problem is `CompactPersistentActionCache.ActionMap`'s ability to retain the cache journal on `save()`. Specifically, Bazel has a heuristic that if the action cache journal is much

[2017-03-10 03:16] dflems opened #2661 "Support different deployment targets for ios_extension, etc."
There should be a way to set the iOS minimum deployment target on a per-rule level, at least for certain types of iOS rules.

For example, I have an iMessage app extension which requires a minimum deployment version of 10.0. The minimum iOS deployment target for our application is 8.0 (set with `--ios_minimum_os` on the command line). Setting this causes ALL targets to have that 8.0 minimum deploy

[2017-03-10 08:10] mhlopko commented on #2573
Let me close this one as it is a duplicate of #2537, let's continue the discussion there

[2017-03-10 08:10] #2573 closed

[2017-03-10 10:12] lberki commented on #1000
If we implement it in CROSSTOOL, everyone who writes a CROSSTOOL file will have to add a wrapper script (I'm not saying it's a bad thing, just noting it). I agreee in principle that CROSSTOOL-triggered extra actions would work, but they aren't happening soon enough, are they?

I think as long as we are fine with a naive CROSSTOOL leaking absolute paths, a wrapper script is fine, at least for the t

[2017-03-10 10:21] lberki commented on #1000
Note that fixing gcc doesn't help people who have to live with older versions of it.

[2017-03-10 10:29] #2601 closed

[2017-03-10 10:59] lberki commented on #1000
So, after some spelunking and trial-and error, I realized that this works, at least with gcc 4.8.4 and Clang 3.8:

`PWD=/proc/self/cwd gcc a.cc -o a -g -fdebug-prefix-map=/proc/self/cwd=/kitten`

This will report `a.cc` under `/kitten`. Clang in addition understands `-fdebug-prefix-map=.=/kitten`.

That said, this won't help OS X much because it doesn't have `procfs`.

[2017-03-10 11:14] r4nt commented on #1000
On OS X we don't care about gcc though, right?

[2017-03-10 11:44] lberki commented on #1000
That's correct, I think.

[2017-03-10 11:51] ulfjack commented on #2528
The auto_value_tests doesn't have any code for which Bazel could collect coverage. I'm not sure why we report an error if there's no coverage, I think in Blaze we're only reporting a warning.

In any case, I looked for a test that does have sources:

    $ bazel coverage //gerrit-sshd:sshd_tests

This gives more interesting output. The test is marked as passed, but there's a stack trace in the log

[2017-03-10 12:04] ulfjack commented on #2528
Somehow, Bazel built from HEAD ends up with a broken JacocoCoverage_deploy.jar. Dunno why, but I get better results with a JacocoCoverage_deploy.jar built from head.

JUnit4 Test Runner
.SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder".
SLF4J: Defaulting to no-operation (NOP) logger implementation
SLF4J: See http://www.slf4j.org/codes.html#StaticLoggerBinder for further details.
.
T

[2017-03-10 12:13] ulfjack commented on #2528
Ah, my bad. I didn't delete the old lcov files. I got coverage results now.

[2017-03-10 12:17] ulfjack opened #2662 "Bazel binary installer contains empty file"
$ unzip -l bazel-0.4.4-installer-linux-x86_64.sh
Archive:  bazel-0.4.4-installer-linux-x86_64.sh
  Length      Date    Time    Name
---------  ---------- -----   ----
     2714  1980-01-01 01:00   bazel
    84737  1980-01-01 01:00   bazel-complete.bash
146761588  1980-01-01 01:00   bazel-real
        0  1980-01-01 01:00   tools/
        0  1980-01-01 01:00   tools/defaults/
        0  1980-01-01 0

[2017-03-10 12:19] ulfjack opened #2663 "JacocoCoverage deploy jar is broken"
Exception in thread "Thread-0" java.lang.VerifyError: Bad type on operand stack
Exception Details:
  Location:
    com/google/testing/coverage/BranchDetailAnalyzer.mapProbes(Lorg/objectweb/asm/ClassReader;)Ljava/util/Map; @21: invokevirtual
  Reason:
    Type 'org/jacoco/core/internal/flow/ClassProbesAdapter' (current frame, stack[1]) is not assignable to 'org/objectweb/asm/ClassVisitor'
  Current

[2017-03-10 12:24] ulfjack commented on #2663
It looks like the jarjar rewrite is breaking the deploy jar. This patch fixes the issue:

[code]

[2017-03-10 12:26] ulfjack commented on #2528
I filed #2663 for the deploy jar issue. With that fixed, I get coverage results for //gerrit-sshd:sshd_tests.

[2017-03-10 12:29] ulfjack commented on #2528
I can get an HTML coverage report with:

    genhtml -o report/ --no-source -p "$(readlink -f bazel-gerrit)" bazel-testlogs/gerrit-sshd/sshd_tests/coverage.dat

Source doesn't work because the file names are all wrong. It would be good if we could fix that.

[2017-03-10 12:40] meteorcloudy opened #2664 "cc_test doesn't work with MSYS toolchain"
Simple repro:

[code]

Although we are getting rid of msys, but it would be nice to also have support for MSYS toolchain in case people need it.

[2017-03-10 13:39] vladmos commented on #2630
Fixed now.

[2017-03-10 13:39] #2630 closed

[2017-03-10 14:05] damienmg commented on #2662
wow also in 0.4.5rc

[2017-03-10 14:13] damienmg commented on #2662
https://github.com/bazelbuild/bazel/blob/master/scripts/packages/BUILD#L83 this is because of this line that wasn't removed when we packaged the bazel_tools repository inside bazel

[2017-03-10 14:20] lberki commented on #2659
That's interesting. We have specific machinery in place to prevent this by special-casing actions that discover inputs in the action cache:

https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/actions/cache/ActionCache.java#L158

and updating the inputs of the action from the action cache on server startup:

https://github.com/bazelbuild/bazel/blob/master/sr

[2017-03-10 14:33] lberki commented on #2659
@janakdr FYI

[2017-03-10 14:42] werkt commented on #2659
That the ActionCache specifically handles discoversInputs actions (including on server shutdown) is definitely not in question here - what's going on is simply that both the ExtraAction and the ExtraActionInfoFileWriteAction don't depend on the satisfaction of inputsKnown in their shadowedAction.  This results in a race between them and discoversInputs shadowedActions that require their action's e

[2017-03-10 14:48] lberki commented on #2659
Argh, my bad, I didn't notice the `#getInputs()` call in `CppCompileAction#getExtraActionInfo()`. Should maybe put my brain in gear... which makes it clear where the race condition lives :)

That said, I don't think there is a race condition between the extra action and the shadowed action because this line makes sure that the former is executed only after the latter:

https://github.com/bazelbuil

[2017-03-10 15:02] werkt commented on #2659
It appears my reproduction of this was mixed between 0.4.2 and my master copy - yes, that discoversInputs() addition in the spec looks like it should be satisfactory (0.4.2 didn't have such a distinction).

That fix should also cover the FileWriteAction, but here's some food for thought: we see a pretty hefty analysis overhead cost associated with adding extra actions (won't get into numbers, but

[2017-03-10 15:13] vladmos commented on #2647
@laszlocsomor , you commented on a similar issue #2012, perhaps you know what's the solution here?

[2017-03-10 15:17] ysagon commented on #2534
Any clue?

[2017-03-10 15:18] damienmg commented on #2534
Try to export CC?

[2017-03-10 15:26] ysagon commented on #2534
Is it doing like this not enough?

    AS=$(which as) CCX=$(which g++) CC=$(which gcc) ./compile.sh

I tried like that:

    [sagon@master bazel]$ export CC=$(which gcc)
    [sagon@master bazel]$ export CCX=$(which g++)
    [sagon@master bazel]$ export AS=$(which as)
    [sagon@master bazel]$ echo $CC
    /opt/ebsofts/Core/GCCcore/5.4.0/bin/gcc
    [sagon@master bazel]$ echo $CCX
    /opt/ebsofts/

[2017-03-10 16:20] damienmg commented on #2534
pulling in @mhlopko because gcc 5.4 should definitely build bazel (maybe it is a too recent version of gcc?).

[2017-03-10 16:21] damienmg commented on #2652
What is HHVM?

What is special with php7 vs earlier version of php? I think there is some contribution from the community for PHP but I don't remember where.

[2017-03-10 16:24] damienmg commented on #2660
What is the version of Bazel you are using? We had a bug in 0.4.4 (#2490) and we are currently testing 0.4.5 that address that issue, could that be it?

/cc @ulfjack also

[2017-03-10 16:24] damienmg commented on #2654
Assigning to @kchodorow for investigation

[2017-03-10 17:26] benjaminp commented on #2660
I'm using 0.4.3—I actually avoided upgrading because the cpp input pruning code change looked unstable—but from code inspection it looks like the issue has been present since the dawn of Bazel through today. (You have to get into a very special state to see this issue.) This issue looks like a problem with `PersistentMap` and doesn't involve any fancy like input-discovering rules as #2490 does.

[2017-03-10 17:41] #2551 closed

[2017-03-10 17:41] #2570 closed

[2017-03-10 17:53] werkt commented on #2659
Having tried to apply the same fix (adding actionToShadow.getOutputs() to the InfoFileWriteAction), I still ran into invalidations of the ExtraAction itself: validateArtifacts indicated differences during explain.

It is likely due to https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/rules/extra/ExtraAction.java#L83, where it is relying on initially consis

[2017-03-10 18:26] werkt commented on #2659
And not to drive this into the ground, but I also had to prevent passthrough of the inputsKnown/discoversInput values from the shadowedAction, otherwise discoverInputs would be called and incorrectly update the now-always-known inputs.

[2017-03-10 19:00] KGan opened #2665 "Output file availability - transitive dependency not building?"
Edit: reformatting for the sections required:

### System/Bazel info

0.4.5-homebrew
Mac os Sierra

### Description of problem

Hey, pretty new to bazel. I am trying to get an electron build up and running through getting these two libraries, [rules_closure](https://github.com/bazelbuild/rules_closure) and [rules_node](https://github.com/pubref/rules_node) , to work with one another (let me know i

[2017-03-10 19:39] harmank commented on #2662
@damienmg Should I just remove line #83 and open a pr ?

[2017-03-10 19:49] royalharsh commented on #2662
@harmank, I just sent a pull request for this issue.

[2017-03-10 20:28] harmank commented on #2583
@damienmg Should the exception be added in [this file](https://github.com/bazelbuild/bazel/blob/c484f19a2cf7427887d6e4c71c8534806e1ba83e/src/main/java/com/google/devtools/build/lib/syntax/GlobCriteria.java) ?

[2017-03-10 21:19] damienmg commented on #2583
I don't think so, if you [look for "illegal character"](http://cs.bazel.build/search?q=r%3Abazel+%22illegal+character%22&num=50), you find that [test](https://github.com/bazelbuild/bazel/blob/413415c6abe48153593deaa05487f40b9ce3df07/src/test/java/com/google/devtools/build/lib/packages/PackageFactoryTest.java#L790) which tends to means it was intentional to have '(' as an illegal character.

Lookin

[2017-03-10 21:28] damienmg commented on #2583
So this behavior dates back from the beginning of Blaze, there is no explanation whatsoever why those characters are not allowed in globs. I guess they wanted to reserve them to expand the glob pattern syntax. I would try to remove that restriction and run the test suite and see what it says :).

[2017-03-10 21:36] dfabulich commented on #1413
I think distributed test caching is just not working in head revision 413415c6abe48153593deaa05487f40b9ce3df07, so it "passes" by not using caching. e.g. when I add a 10s sleep to the test and run/re-run it with `bazel clean && bazel test :apptest` it takes 10s every time, when it should be using the cache.

I've updated the https://github.com/dfabulich/hazelcast-junit-test test repo; it should re

[2017-03-10 23:58] steven-johnson opened #2666 "Bazel 0.4.4 for Windows can produce partial/inscrutable warnings with templates"
(1) Write a templated function that, when instantiated, can give an modest warning, most commonly, implicit integer conversion

[code]

(2) Compile it using Bazel 0.4.4 with --cpu=x64_windows_msvc and MSVC 2017

Expected: at default settings, MSVC would produce something like

[code]

Actual: msvc_tools.RunBinary() tries to eliminate all the warnings, but only manages to eliminate the first line,

[2017-03-11 08:19] royalharsh commented on #2467
I would like to work on this issue.

[2017-03-11 11:16] mnlandicho opened #2667 "Unable to compile bazel from source - C++ compilation of rule '//src/main/tools:linux-sandbox' failed"
Hi, I am having problem compiling bazel from source. Below are the details of my operating system.

[code]

Here's my gcc which I compiled from source.

[code]

And here's the error I encountered.

[code]

[2017-03-11 13:18] pedrosimao commented on #2387
I am having the exact same issue. That's so annoying...

[2017-03-11 13:24] zsrkmyn commented on #1050
Still have this problem when building Tensorflow. Something (but not all) are downloaded once and once again. I am not familiar with bazel and don't know what details I should provide, so feel free to ask me for more information if you need.

[2017-03-11 14:05] ittaiz commented on #1050
Stephen,
When you open a new ticket you can see a template of all common etails that
help the team when handling a ticket.
You can open a new ticket (without creating it) to see the template.
On Sat, 11 Mar 2017 at 15:24 Stephen <notifications@github.com> wrote:

[2017-03-11 18:18] royalharsh commented on #2467
Can you provide some details on this? I was looking through [ImplicitOutputsFunction.java](https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/packages/ImplicitOutputsFunction.java). Is this the file which is related to this issue?

[2017-03-11 20:21] aj-michael commented on #2522
b35a0c086152ac6e5e0e695b21cacfd61de68b51 updated the desugarer to desugar calls to `requireNonNull(Object o)` so I'm going to close this issue. Unfortunately, that commit won't be in the Bazel 0.4.5 release that is happening Monday, but it will be in the next one.

[2017-03-11 20:21] #2522 closed

[2017-03-12 07:41] zsrkmyn commented on #1050
@ittaiz Thanks for the great template! So the details are:

### Description of the problem / feature request / question:

When building Tensorflow more than one time, something are downloaded even they have been downloaded before. I took a look at the `~/.cache/bazel/_bazel_stephen/', finding that there are five things in total:

[code]

And I also noticed that only things in `7800d4e597bb062e39f8

[2017-03-12 08:08] hochhaus opened #2668 "external repo with objc_framework generates incorrect include path"
### Description of the problem / feature request / question:

I am using bazel to pull in an `objc_framework()` from a external repo. The external repo has the following `BUILD` file:

[code]

In my repo's `WORKSPACE` file, I add the extrernal repo:

[code]

Then, in my relevant target's `BUILD` file I add:

[code]

During build the compile fails due to an incorrect path:

[code]

The reason is be

[2017-03-12 08:14] forumulator commented on #1468
@damienmg Can you please elaborate a little more on this? What exactly do you mean by "using a pl file as a tool from skylark rule"? I'm trying to work on this.

[2017-03-12 08:20] damienmg commented on #1468
The problem is that we cannot use  Perl script as an executable input for
Skylark because we restrict the file types that can be executable when they
are not coming from rules.

On Sun, Mar 12, 2017, 9:14 AM Pranjal Agrawal <notifications@github.com>
wrote:

[2017-03-12 11:10] skyred commented on #2652
PHP 7+ are the only supported versions. http://php.net/supported-versions.php

[2017-03-12 14:21] ittaiz commented on #2371
@hermione521 happened again to me today but since I'm generating a big bazel codebase (rather generating hundreds of builds files via a migration tool from maven) I don't think I can generate a minima example. Mainly since I don't know why this happens.
Any chance you can give me a few concrete steps you'd like me to take when this occurs to capture the state of the workshop?

[2017-03-12 14:32] ittaiz opened #2669 "Port isolation on sandboxing on OS X doesn't work"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:

I'm trying to run tests in parallel which both use the same port. I was under the assumption that sandboxing applies to networking as well as to filesystem.

### If possible, provide a minimal example to re

[2017-03-12 20:10] ittaiz commented on #2669
Two more notes:
1. `tags = ["block-network"]` doesn't help
2. This sounds to me like this is a real limitation on the degree of parallelism one can gain from moving to bazel, isn't it?

[2017-03-13 03:24] lswith commented on #2652
HHVM is the [HipHop VM](http://hhvm.com/).

Having rules for PHP7 would be super helpful.

[2017-03-13 07:44] laszlocsomor commented on #2387
@pedrosimao : could you provide us some information about this bug? The questions I asked on Jan 23 are still relevant.

[2017-03-13 08:02] laszlocsomor commented on #2647
That message suggests `fcntl(2)` with `F_SETLK` is not implemented on CentOS. The only place where we use this functionality is in [`blaze_util::AcquireLock`](https://github.com/bazelbuild/bazel/blob/89f296f0d712e8a8ad2b545d72d00fbe63047fd8/src/main/cpp/blaze_util_posix.cc#L428) which prevents two Bazel instances from running concurrently in the same output root, and overwriting each others output

[2017-03-13 10:03] lberki opened #2670 "Add an option to `cc_*` rules that lets one specify include directories only for the current rule"
Currently, this is done by `copts=["-I<dir>"]` .This has two problems:

* The actual include path depends on whether the rule is in the main repository or not (it shouldn't, but it'll take a lot of time to fix that)
* It encodes knowledge about the compiler used in the BUILD file.

Thus, it'd be better to express this in a compiler-independent way just like we have the `includes` and `defines` att

[2017-03-13 12:26] #1654 closed

[2017-03-13 12:28] iirina commented on #500
I'll close this as duplicate of #970.

[2017-03-13 12:28] #500 closed

[2017-03-13 13:05] junyongyou opened #2671 "Bazel chocolatey installation error"
I want to install Bazel on Windows 7 64bit. I am using Chogolatey v0.10.3, and then I ran "choco install bazel", and got an error: Method invocation failed because [System.Object[]] doesn't contain a method named 'Split'.

How can I install Bazel. I have tried to use the binary distribution with no success already. Thanks a lot.

[2017-03-13 13:20] lberki commented on #2659
@werkt : what do you mean by "initially consistent values for getInputs()"? CppCompileAction should return consistent values there in general. It changes, of course, but updateInputs() calls should take care of that.

[2017-03-13 13:34] werkt commented on #2659
Since the result of CppCompileAction#getInputs changes, the test performed in validateArtifacts fails, because the computed key based on the previous input set (pre-compilation, and evaluated at the time that the ExtraAction is created, not when it is executed) no longer matches the digest of the inputs that ActionCacheChecker computes on the next run.

This is actually very easy to replicate: obs

[2017-03-13 13:43] lberki commented on #2659
I'm somewhat surprised at this, because we have code to handle this specific case. In fact, actions discovering inputs are special-cased in the action cache just for this reason...

(I'm currently spelunking in ExtraAction to debug an issue that may turn out to be this exact one...)

[2017-03-13 14:00] pedrosimao commented on #2387
Hey, I actually found what the problem was.
It was not related to Bazel. Thanks for asking!

[2017-03-13 14:03] petemounce commented on #2472
Would it be possible to get the cherry-picks section of the release notes to render like a list, like the `incompatible changes`, `new features`, and `important changes` sections?

When [there are many cherry-picks](https://storage.googleapis.com/bazel/0.4.5/rc6/index.html), it's quite hard to read.

[2017-03-13 14:16] katre commented on #2467
The problem is with invalid explicit (not implicit) outputs. I haven't looked into the code carefully enough to determine where, however.

Thanks for investigating this!

[2017-03-13 15:43] laszlocsomor opened #2672 "Bazel client (Windows/MSVC) crashes in server mode"
The MSVC version (MSYS-less) bazel crashes if you run it in non-batch mode and the server isn't running.

The culprit is pretty complex and took days to debug. It consists of the following parts:

1. I narrowed down the problem to the Bazel client trying to connect to the non-running server, failing to do so, and trying to print an error. The printing code was segfaulting.

   The printing logic a

[2017-03-13 16:00] iirina commented on #970
(sorry for the late reply!)

I'm not sure what you would like to turn into a macro? `scala_junit_test`? I don't think that's feasible, as you'll have to make use of the `java_common` module and return providers.

Are you asking about details on your current implementation of `scala_junit_test` or about when you would use the `java_common` module? Also, what jvm arg is needed?

I added the possibil

[2017-03-13 16:20] ittaiz commented on #970
Re macro- In a nutshell I mainly need to change `scala_library` to return the providers but then I'll have other issues. To keep this issue sane I'll skip the rest of the details but if this of interest to you I'd really appreciate continuing this on #2539

About my question about the launcher creation never mind- It relates to my implementation of scala_junit_test and it might be unclear. Again f

[2017-03-13 17:01] iirina commented on #970
I would actually like to have #2539 for tracking the progress on fixing that issue from the native `java_test`. If you would like to discuss this particular issue with `scala_library` the best way would be to send an email to [bazel-discuss@googlegroups.com](bazel-discuss@googlegroups.com) and I'll reply there. The same goes for other issues that you are trying to solve.

Yes, you should be able t

[2017-03-13 17:28] dflems commented on #2670
This would solve a lot of problems we're having migrating a large legacy library to build with bazel. Having an option like `private_includes` or something of that nature on `cc_*` rules would be enormously beneficial and make our current setup less fragile.

[2017-03-13 19:26] robbiexperiel commented on #1279
Has there been any progress on this? I'm currently trying to build an ios_application with cc_library dependencies, and the cc_libraries get compiled to the host architecture even though I pass in `--ios_cpu=arm64`. I think it's the same bug as [this](https://github.com/bazelbuild/bazel/issues/257), and from what I understand, building the cc_libraries using a  CROSSTOOL for ios would fix the issu

[2017-03-13 19:31] c-parsons commented on #1279
This is in progress; I've had to delay this work for other priorities, but I plan to be actively working on this later this week.

[2017-03-13 20:43] hochhaus commented on #1911
I think that this issue is similar to (or maybe the same as) one I just ran into (https://github.com/bazelbuild/bazel/issues/2668).

In my case, I suspect that the underlying issue is that paths are built incorrectly when referring to headers in external repos. For example, I'm seeing file paths along the lines of:

```/Users/ahochhaus/Desktop/ll/external/[redacted]_webrtc_ios/WebRTC.framework/Hea

[2017-03-13 22:17] harmank commented on #2583
@damienmg I tried the changes (remove [illegal character declaration](https://github.com/bazelbuild/bazel/blob/413415c6abe48153593deaa05487f40b9ce3df07/src/main/java/com/google/devtools/build/lib/vfs/UnixGlob.java#L140) and its [assertion in the test](https://github.com/bazelbuild/bazel/blob/413415c6abe48153593deaa05487f40b9ce3df07/src/test/java/com/google/devtools/build/lib/packages/PackageFactor

[2017-03-13 22:34] PiotrSikora commented on #1468
FWIW, there is [bazelbuild/rules_perl](https://github.com/bazelbuild/rules_perl).

[2017-03-14 01:45] hochhaus commented on #2668
Playing a bit more, I found that if I hand modify `[target].xcodeproj/project.pbxproj` to insert the missing directory (`bazel-ll`) the build works in XCode and the app runs in the XCode simulator.

I modified all of the `FRAMEWORK_SEARCH_PATHS` sections of the xml file. For example:

[code]

[2017-03-14 07:38] ddwolf opened #2674 "Question: what's the real cache strategy of bazel?"
when I modified a java file, and then set the mtime to the time before it's modified, then I found bazel doesn't actually found the diff -- when run `bazel run`, it used cached result.

the program that modify the utime:

[code]

my bazel version is : 0.4.4

[2017-03-14 08:41] iirina commented on #2472
Please also cherry-pick 36958806f2cd38dc51e64cd7bcc557bd143bbdb6, thanks!

[2017-03-14 08:42] damienmg commented on #2674
This is the same root cause as https://github.com/bazelbuild/bazel/issues/1525

[2017-03-14 08:59] damienmg commented on #1468
Sorry so I went again on the bug. The basic problem is perl files can be executable but are not allowed as source for sh_binary. As pointed by @PiotrSikora, bazelbuild/rules_perl allow people to depends on perl binary but ultimately there is no reason for being so restrictive in sh_binary

[2017-03-14 09:00] damienmg commented on #2583
@harmank the log is just telling me which test has failed. It output the test log file that you can look at to the see the actual test failure.

[2017-03-14 09:01] meteorcloudy commented on #2434
This is fixed.

[2017-03-14 09:01] #2434 closed

[2017-03-14 09:04] damienmg commented on #2660
Ok @ulfjack is definitely way more able to understand the action cache that I am, so reassigning.

Setting to P1 because correctness

[2017-03-14 09:22] damienmg commented on #2472
And also 8c00f398d7be863c4f502bde3f5d282b1e18f504 b6ea0d33d3ab72922c8fb3ec1ff0e437af09584d

[2017-03-14 09:28] meteorcloudy opened #2675 "Windows `repository_ctx.execute(command)` sometimes returns incomplete result"
This is causing https://github.com/bazelbuild/bazel/issues/2434 and the internal Kokoro Windows Flakiness: missing "LIB"
[code]

[2017-03-14 09:30] meteorcloudy commented on #2671
@petemounce Do you have any idea about this?

[2017-03-14 09:36] meteorcloudy commented on #2666
Sorry for that, I'll fix this

[2017-03-14 09:43] meteorcloudy commented on #2667
Looks like your `sed` doesn't support `-E` option, can you install the right version of `sed` or change `-E` to `-r` wherever it is used?

[2017-03-14 09:59] forumulator commented on #1468
But the sh_binary does accept .pl files in it's source list. For example, the following rule builds and runs as expected
``
sh_binary (
    name = "pl_rule",
    srcs = ["a.pl"]
)
``
I still didn't grasp the exact problem. (I'm sorry about that, I'm kinda new here).

[2017-03-14 10:26] mhlopko commented on #2667
Just a quick info from a walkbyer :) My local sed also doesn't have -E, and quick googling shows that the flag is there on macos. So there might be some misconfiguration in bazel, letting -E through for linux build.

[2017-03-14 10:30] laszlocsomor opened #2676 "Windows, shell scripts: `find` is sometimes `find.exe`"
If the `PATH` is not set up just right and a shell script (typically a genrule's cmd, or just any SpawnAction executing a shell command) tries to run `find`, it will run `c:/windows/system32/find.exe` instead of `/usr/bin/find`.

Possible solution is to adjust the `PATH` when creating SpawnActions that are shell commands (only on Windows) to have `<msysroot>/usr/bin` and `<msysroot>/bin` where `<m

[2017-03-14 10:31] laszlocsomor commented on #2676
@dslomov FYI

[2017-03-14 10:34] ulfjack commented on #1413
The way it's implemented right now, it only looks for a cache hit if remote execution is enabled. It also does not write local results to the remote cache.

[2017-03-14 10:44] Fex021 opened #2677 "Compilation error because of vague JDK version check"
### Compilation error because of vague JDK version check

I try to compile bazel-0.4.4 on a cluster. On that cluster I can load a module that sets the environment for Java 1.8. Loading the module sets JAVA_HOME in the following way:
`JAVA_HOME= [some_path]/java_jdk/1.8.0u112`

`wget https://github.com/bazelbuild/bazel/releases/download/0.4.4/bazel-0.4.4-dist.zip`
`unzip bazel-0.4.4-dist.zip`
`./co

[2017-03-14 11:01] ulfjack commented on #1413
There's simply no code to combine local execution with remote caching. It's not hard to implement, which I did in a few minutes. It doesn't work for tests yet, because we're not uploading stdout/stderr. I'm also reluctant to merge this change into master because it's not how I want this to work.

My change is here:
https://github.com/ulfjack/bazel/tree/remote-caching

The failure is most likely be

[2017-03-14 11:06] ulfjack commented on #1413
I think what happened is that we rewrote RemoteSpawnStrategy in a way that dropped the remote caching part. Previously it was failing because it was trying to upload non-existent files - it tried to upload all files declared on Spawn, but the files declared are all optional, and - for tests - several are rarely generated. When re-implemented remote caching, I got the same error and changed it to o

[2017-03-14 11:28] ulfjack commented on #1415
@damienmg just changed labels to allow ' ', '(', ')' and '$'. Maybe we can add '&' to that list as well?

Other than that, I'm still not sure what to do about directory inputs. RemoteSpawnStrategy certainly does not check whether input files are directories and does not upload directories. This is good for correctness - we can't track directories at that level. If we want to support directories, w

[2017-03-14 11:36] damienmg commented on #1415
'&' is not problematic for any case (except for unquoted shell), we can add it right away.

[2017-03-14 11:37] ulfjack commented on #2609
You're saying it's crashing for actions that have no inputs, right?

[2017-03-14 11:39] ulfjack commented on #2574
This is definitely on our todo list.

[2017-03-14 11:49] ulfjack commented on #1922
Bazel requires all files in the action graph to be on local disk (or on an in-memory or network file system), and if a file is missing, it'll re-execute the action (or re-download from the remote cache). In this case, when you build y, it'll see the dependency on the big rule and check that the big output file exists. If not, it'll execute big, i.e., download the file.

I'm not sure how what you'r

[2017-03-14 11:52] ulfjack commented on #487
The remote strategy doesn't support runfiles right now, see #1593.

Independently of that, for Skylark actions, you need to create the action in just the right way to make sure that runfiles are setup correctly. That should work today, but I'm not sure what the right Skylark incantation is.

[2017-03-14 12:00] petemounce commented on #2472
Pushed rc7: https://chocolatey.org/packages/bazel/0.4.5-rc7

[2017-03-14 12:03] petemounce commented on #2671
@junyongyou please would you more details?

* Powershell version - run `$PSVersionTable.PSVersion` within a powershell.
* the log resulting from `choco install bazel`
  * the error you got doesn't provide me with enough context to figure out which part has failed - please include a full copy/paste of the output.
* which bazel version you're trying to install

[2017-03-14 12:37] damienmg commented on #2557
FWIW, getting the CAS interface unified for repository feature and remote cache would be good. As with the [prototype of on disk cache](https://bazel-review.googlesource.com/#/c/8133/), where I tried to share the on-disk cache for both of those.

Indeed sharing the `RemoteActionCache` implementation might be good, in which case we might want to extract an interface `RemoteCASCache` that `RemoteAct

[2017-03-14 12:50] junyongyou commented on #2671
@petemounce Thank you very much. I am using the default PowerShell Windows7 has, and the the version information is:
`Major Minor Build Revision
2         0         -1     -1`.

The version of Chocolatey is v0.10.3, and I am using "choco install bazel", which should install the latest version of bazel. Actually I can see the Bazel version is v0.4.4.20170306.

Below is the result in the log:
`2017-

[2017-03-14 13:34] petemounce commented on #2671
bazel.0.4.4.20170306 is the package fix that I pushed to remove the dependency on powershell v3 a week or so ago, so that's legit.

Based on `2017-03-14 13:46:53,817 [ERROR] - ERROR: Method invocation failed because [System.Object[]] doesn't contain a method named 'Split'.` it might be while executing
[code]
(the error doesn't give the line number within the chocolateyinstall.ps1 :( ).

Please wou

[2017-03-14 13:58] ulfjack commented on #2660
That's why you shouldn't write your own database. I don't think there's a correctness issue here, it's 'just' forgetting stuff, presumably resulting in slower than necessary builds. Correct?

[2017-03-14 14:00] junyongyou commented on #2671
@petemounce Thank you. I just downloaded the bazel nupkg from "https://chocolatey.org/api/v2/package/bazel/0.4.4.20170306", not using "Invoke-webrequest https://chocolatey.org/api/v2/package/bazel/0.4.4.20170306 -outfile bazel.0.4.4.20170306.zip", because I am not familiar with PowerShell (and also didn't figure out how to copy the output in PwerShell console yet). Then I unzipped it and entered t

[2017-03-14 14:00] junyongyou commented on #2671
@petemounce So actually I couldn't run write-host "split: $p" at all.

[2017-03-14 14:05] ulfjack commented on #2660
If the analysis above is correct, then this bug is many years old already.

[2017-03-14 14:12] dfabulich commented on #1922
Yes, I'm saying that it shouldn't download intermediate files at all.

[2017-03-14 14:13] petemounce commented on #2671
Ok, great - please now try (in the same powershell if it's still open)
[code]

[2017-03-14 14:16] junyongyou commented on #2671
@petemounce Yes, they showed up.

[2017-03-14 14:25] ulfjack commented on #1922
Ok. We first need to make remote caching / execution actually work before we could possibly work on this. I'm not sure if this will work well with Bazel's current design, but it's not completely out of the question either.

Within Google, we've solved the problem of downloading large files outside of Bazel. We use a FUSE file system that downloads files on-demand and provides fast access to checks

[2017-03-14 14:29] petemounce commented on #2671
Perfect. I think `bazel.0.4.4.20170314` will fix your problem - please try it out from https://chocolatey.org/packages/bazel/0.4.4.20170314.

[2017-03-14 14:38] junyongyou commented on #2671
@petemounce Thanks a lot. I have downloaded this version and unzipped it. Could you please tell me how I install it? Using Chocolatey?

[2017-03-14 14:41] junyongyou commented on #2671
Can I use the command: choco install https://chocolatey.org/packages/bazel/0.4.4.20170314? Sorry again, this is actually my first time to use PowerShell, Chocolatey...

[2017-03-14 14:43] petemounce commented on #2671
Oh, sorry - run, in an administrator prompt, `choco install bazel --version 0.4.4.20170314`.

[2017-03-14 14:47] junyongyou commented on #2671
@petemounce Great, thanks a lot. Now Bazel has been installed. Thank you very much.

[2017-03-14 14:54] petemounce commented on #2671
@junyongyou my pleasure :)

@meteorcloudy turns out I did. Please would you process #2671? I've already pushed fixes for 0.4.4 stable and 0.4.5-rc7.

[2017-03-14 15:23] meteorcloudy commented on #2671
@petemounce The issue is already closed by our user. Thanks for helping us!!

[2017-03-14 15:26] junyongyou commented on #2671
@petemounce Sorry, maybe I closed this issue too early. Even though it seems I have installed Bazel 0.4.4, it seems it doesnæt run. After the first time I installed it, and then I typed "bazel" in cmd, and got some information. After that, when I tried to use it to build something, nothing happened. Now if I type "bazel" in cmd, nothing happens. I tried to reinstall it again, but still, bazel does

[2017-03-14 15:38] ittaiz commented on #2539
@damienmg following our conversation I'll wait your update if you think this can be done outside of the team, right? If so I'll try to find volunteers.

[2017-03-14 15:46] junyongyou commented on #2671
@petemounce There was one thing. As I said, bazel could run for the first time. After that, I entered a path which has a space in the name, and then I tried to build TensorFlow. The bazel said it couldn't run in the path name with space, and then quit. After that, bazel didn't run any more.

[2017-03-14 15:56] petemounce commented on #2671
It's important that the msys64 installation's \usr\bin (on my machine that's `c:\tools\msys64\usr\bin`) appears ahead of any reference to git in your PATH environment variable.

Additionally, have you tried moving your TensorFlow clone to a path on your drive that has no spaces in it?

(It helps us to diagnose your problem if you copy/paste the commands that you ran and their output, and the direc

[2017-03-14 15:59] petemounce commented on #2671
@meteorcloudy I meant the linked PR that adjusts the package so that @junyongyou can install it successfully.

[2017-03-14 16:02] junyongyou commented on #2671
@petemounce Thank you. Actually my PATH environment variable like this: D:\msys64\usr\bin;C:\ProgramData\chocolatey\lib\msys2;C:\tools\msys64;d:\Anaconda3;... D:\msys64\usr\bin is the first one. I actually tried to move TensorFlow to a path without space, and then I found bazel doesn't work.

Now when I type bazel in cmd, wherever the path is, nothing shows up.

[2017-03-14 16:08] junyongyou commented on #2671
@petemounce I also tried to put C:\tools\msys64 at the first, and then ran bazel, but still, nothing showed.

[2017-03-14 16:10] meteorcloudy commented on #2671
@petemounce Oh, you mean #2678, I'll take care of it.

And @junyongyou , you should make sure `C:\tools\msys64\usr\bin` is before anything starts with `D:\msys64`

[2017-03-14 16:13] junyongyou commented on #2671
@meteorcloudy Yes, I did that, put C:\tools\msys64\usr\bin at the first place. But again, nothing shows after typing bazel in cmd.

[2017-03-14 16:42] petemounce commented on #2671
If you run first `bazel`, then, afterwards,
* (if you're using `cmd`) run `echo %LASTEXITCODE%`
* (if you're using `powershell`) run `echo $LASTEXITCODE`

what happens?

[2017-03-14 16:42] benjaminp commented on #2660
Right, I don't believe this can cause incorrect incremental builds.

I note that if this problem did lead to correctness issues, it would highlight defects more systemic than just this bug in `PersistentMap` or at least in the assumptions of `PersistentMap`'s clients. Since `PersistentMap` only updates its backing store periodically and never `fsync`s , clients have to expect to receive garbage fr

[2017-03-14 17:19] tylernisonoff commented on #2609
Correct

[2017-03-14 17:45] ulfjack commented on #942
Let me mark this as a dupe of #1413.

[2017-03-14 17:45] #942 closed

[2017-03-14 19:55] #2672 closed

[2017-03-14 20:58] lberki commented on #2672
Woahdude. That was one hell of a bug. Nice debugging! :)

[2017-03-14 21:16] ulfjack commented on #2669
Looking at the code, "block-network" ought to work. At least it's hooked up in the sandbox strategy.

[2017-03-14 21:16] ulfjack commented on #2669
On Linux only. There's no network sandboxing on Mac as far as I know. Oh, I see.

[2017-03-14 21:35] ulfjack commented on #2669
I can't find any supported way to virtualize the network on MacOS. I can't see how Docker is doing it, if it is doing it at all.

[2017-03-14 21:37] ulfjack commented on #2669
Maybe we can provide a way to reliably pick a per-test port in a way that doesn't conflict? Would that work for you @ittaiz ?

[2017-03-14 22:13] hochhaus commented on #2668
@calpeyser  @c-parsons @sergiocampama - I see you are the major obcj contributors. Can you help me debug further?

[2017-03-14 23:21] prestonvanloon opened #2680 "Remote worker throwing exception on upload of docker_build cache"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:
Remote worker throwing exception on upload of docker_build cache.

Genrule:

[code]

Docker build:
[code]
Bazel build exceptiong:
[code]

Build worker logged exception:

[code]

### If possible, provide a mi

[2017-03-14 23:24] philwo commented on #2669
I'm not aware of any mechanism on macOS to virtualize the network and I thus don't think that there's any other software out there that can do it.

I would recommend to use a dynamic port (listen on TCP port 0, then the operating system will automatically and atomically assign you a random free port), then write the port number to a file that is read by whatever wants to connect to it. :)

Another

[2017-03-15 01:23] renning22 commented on #52
I failed to compile Bazel from head by Bazel. When will this feature be distributed?

[2017-03-15 02:04] cgrushko commented on #52
Next bazel release. There should be an issue open for it.

[2017-03-15 02:49] forumulator commented on #311
Hi. I see that commit @75dd495 fixes most of the warnings above, and as of today, `bazel build third_party/ijar/... src/main/cpp/... //src/test/cpp/...` does not generate any warnings in third_party/ijar (though there are quite a few `-Wunused-function` and `-Wmisleading-indentation`s in thirdparty/protobuf) . Is there anything remaining for this issue?

[2017-03-15 04:17] ittaiz commented on #2669
Docker indeed does that. Don't know how.
Do you know anyone who is intimately familiar with docker-Mac who we can
query?

Re dynamic ports- that's of course an option but that would mean we have to
change all of our end to end tests to get value. We're taking about many
thousands of tests and I'm not sure we can make that investment in the
foreseeable future.

Re alias- sounds to me like it's the

[2017-03-15 05:30] AustinSchuh opened #2681 "tools/bazel doesn't handle nested WORKSPACE files"
I have a repository with the following files:

//:WORKSPACE
//third_party/protobuf:WORKSPACE
//tools:bazel

When I call bazel from // or //third_party or anywhere but //third_party/protobuf, //tools:bazel gets called called.  If I call it from //third_party/protobuf/, it calls my host bazel.  The end result is that I get a different bazel version if I build third_party/protobuf as //third_party/pr

[2017-03-15 05:36] ittaiz commented on #2669
This blog post about unikernels and docker for mac looks like a good place to start.
https://blog.docker.com/2016/05/docker-unikernels-open-source/

[2017-03-15 05:47] ittaiz commented on #2424
@philwo is it possible to run only some things in the sandbox? asking since if the price is on the symlinks maybe one can pay a smaller price for the critical targets. My use-case mainly talks about running ~30% of our tests in the sandbox for filesystem/network isolation.

[2017-03-15 07:37] ittaiz commented on #2669
Specifically VPNKit sounds really relevant but I'm guessing @philwo will be a much better judge

[2017-03-15 09:03] junyongyou commented on #2671
@petemounce Sorry for the late response. I tried to run echo %LASTEXITCODE% after running bazel in cmd, and got "%LASTEXITCODE%"; also tried echo $LASTEXITCODE in powershell, and got 541541187.

[2017-03-15 09:05] junyongyou commented on #2671
But a strange thing is that: I tried to run echo %LASTEXITCODE% several times, during which I ran bazel once, and got the information output (I mean guidance about using bazel). However, when I tried to repeat it, running bazel didn't give me anything.

[2017-03-15 09:09] aehlig opened #2682 "Bazel cannot use its own `java_proto_library` rules"
The documentation seems to hint that using [`proto_library`](https://bazel.build/versions/master/docs/be/protocol-buffer.html#proto_library) and [`java_proto_library`](https://bazel.build/versions/master/docs/be/java.html#java_proto_library) seems to be the idiomatic way of building java proto libraries. (There is also a documentation issue here, as there is no indication about the difference betw

[2017-03-15 10:24] philwo commented on #2669
Thanks for the pointers! I had a look at that stuff. Docker's HyperKit and VPNKit is pretty exciting technology, but - unless I'm completely missing something here - what they in the end do, is launch a Linux VM for each container that you're running. VPNKit is only usable when you also use HyperKit to run stuff in a VM, not on its own.

That's why Docker does not support running native macOS soft

[2017-03-15 10:35] laszlocsomor opened #2683 "Windows: cannot set d:/ as output root"
[code]

[2017-03-15 10:46] ittaiz commented on #2669
I see...
Do these help as inspirations?
https://github.com/NetBSDfr/sailor (mainly with concepts to look at chroot and pkgin)
https://github.com/vito/houdini (mac garden backend)

[2017-03-15 11:30] #2671 closed

[2017-03-15 11:54] junyongyou commented on #2671
@petemounce It seems you pushed a commit that can fix my issue. Could you please tell me how I can install bazel now? Should I uninstall the previous v0.4.4.20170314 and then install a new one? If so, what version would it be? Thank you very much.

[2017-03-15 12:23] petemounce commented on #2671
That notification was because the PR for the original fix was closed. I think you now have a second issue.

[2017-03-15 12:37] ulfjack commented on #2669
I also looked at VPNKit, and I had the same impression as Philipp.

[2017-03-15 12:50] junyongyou commented on #2671
@petemounce Here is the result of echo %PATH%:
C:\tools\msys64\usr\bin;
C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v8.0\bin;
C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v8.0\libnvvp;
C:\ProgramData\Oracle\Java\javapath;
C:\Program Files\Common Files\Microsoft Shared\Windows Live;
C:\Program Files (x86)\Common Files\Microsoft Shared\Windows Live;
C:\Program Files\NVIDIA GPU Computing

[2017-03-15 12:53] meteorcloudy commented on #2681
@kchodorow Can you help with this? Thanks

[2017-03-15 12:53] junyongyou commented on #2671
C:\tools\msys64\usr\bin appears twice in PATH because I set it as the first one in "User variables", but maybe I should put it in System variables, so I put it as the first one in System variables. But again, running bazel doesn't give me anything...

[2017-03-15 13:08] mhlopko commented on #2253
Can you come up with a build file that demonstrates the problem? Is the missing symbol defined in the direct dependency of cc_binary or in transitive?

If it is in the direct dependency, it should work and I need more information to debug this. If it is in the transitive dependency, this will not work at the moment, although we're fixing it soon.

[2017-03-15 13:11] buchgr commented on #2654
I am getting the same error. It works for me when only specifying `--maven_project`, but adding `--bazel_project` crashes.

[code]

[2017-03-15 13:42] hermione521 commented on #2424
It's possible to disable sandboxing for some of your targets with `tags = ["local"]`

[2017-03-15 14:02] iirina commented on #2606
I'm trying to reproduce the example in the first comment with bazel built @ HEAD, but it fails. I thought this should have been fixed? Also, the sourcepath test from bazel_java_test passes and I'm confused why.

[2017-03-15 14:08] philwo commented on #2424
It's also possible to only enable sandboxing for certain kinds of actions (e.g. Java compilation, genrules, tests, ...) by using the --strategy flag.

Example to run only tests with sandboxing and nothing else:
bazel test --spawn_strategy=standalone --strategy=TestRunner=sandboxed

The --spawn_strategy=standalone part disabled sandboxing globally.
The --strategy=TestRunner=sandboxed part enables i

[2017-03-15 14:26] petemounce commented on #2671
Hm, I'm mystified. @laszlocsomor @dslomov ?

[2017-03-15 14:29] meteorcloudy opened #2684 "Windows: Error: Cannot terminate server process with PID 4284: (error: 5): Access is denied."
Output is like
[code]

If revert c8cd6bd2728e93c052ea217b5a93707a8a876f40, the problem is gone. So it should be the culprit

[2017-03-15 14:38] laszlocsomor commented on #2684
I'll take a look

[2017-03-15 14:50] laszlocsomor commented on #2671
In "cmd", you need to run `echo %ERRORLEVEL%` to get the last exit code, not `echo %LASTEXITCODE%`.

@junyongyou : Some questions:
1. How long do you wait for Bazel to print anything?
2. Does it exit on its own, or do you have to kill it from Task Manager?
3. Can you try starting an MSYS shell, and running bazel from there, instead of running it from cmd.exe? What happens?
4. Please show us the ex

[2017-03-15 14:52] laszlocsomor commented on #2671
Note also that in my point (4) in the example command, there's a single "--" before "examples/cpp:hello-world". Notice that there's a space between them. The role of "--" is to tell Bazel that the rest of the command line is the targets to build, not flags. It's optional, I could've left it out. I wrote it in my example command to clarify exactly what flags I'm passing (though it may have had the

[2017-03-15 15:19] junyongyou commented on #2671
@laszlocsomor Thanks a lot. Now I manage to make bazel run. What I have to do is to first run C:\tools\msys64\usr\bin\bash.exe, and then bazel can run. I don't know why, or maybe this is the way that bazel runs? But thank you very much for your help.

[2017-03-15 15:25] junyongyou commented on #2671
@laszlocsomor I also found that bazel can run in cmd, just if I am running the bash.exe. But if I close bash.exe, bazel doesn't run in cmd.

[2017-03-15 15:28] laszlocsomor commented on #2671
@junyongyou : That's great news! Thanks for bearing with us. I think it's safest to always run Bazel from the MSYS shell, though I think it *should* also work from cmd.exe... apparently it doesn't.

FYI, we're working hard to detach Bazel from MSYS, and are very close now. Follow #2107 if you're interested.

And @petemounce , you're awesome, thanks for having tried to help @junyongyou !

[2017-03-15 15:36] junyongyou commented on #2671
@laszlocsomor @petemounce Thank you soooo much for your helps. I really appreciate. I will follow #2107 and thank you again for making bazel.

[2017-03-15 15:39] mnlandicho commented on #2667
I manage to fix the sed error prompt and the missing git but the error is still present when I compile bazel. Any idea on the error? Thanks!

[code]

[2017-03-15 16:13] laszlocsomor commented on #2684
I think the behavior is WAI -- every time we run on the CI, it's a new binary and new bazel client, so it shouldn't assume it can connect to the server from the previous binary.

I can repro this locally by building an msys-less binary, running it in server mode, then changing the source and rebuilding (thus simulating new changes on the CI), rebuilding, and running again in the same output root a

[2017-03-15 16:19] laszlocsomor commented on #2684
Ah, there it is: we try to kill the process twice. The first attempt succeeds, the second fails and prints the error. Let me find out why we do this and fix it.

[2017-03-15 16:21] cushon commented on #2606
What failure are you seeing? It works for me:

[code]

[2017-03-15 16:24] iirina commented on #2606
Damien helped me figure it out. It was because my files were under ` java/com/google/somename `and the expected location of `B.jar` was `com/google/somename/B.jar`. Thanks!

[2017-03-15 17:19] laszlocsomor commented on #2684
The culprit is the VerifyServerProcess method -- on Windows it always returns false, meaning that the PID we read from the pid file doesn't correspond to a bazel server, assuming the PID was handed out to another process (because the machine was restarted since, or something). This is of course too conservative, and I have a pending change that'll verify the server process the same way we do it on

[2017-03-15 17:30] tomwickert opened #2685 "Coverage no longer creating coverage.dat"
### Description of the problem / feature request / question:

I'm running the following command: bazel coverage ...

In 0.4.2rc2, this worked well and produced coverage.dat files as expected. In the latest version 0.4.5rc7, this does not work. The coverage.dat files are not being produced. I receive the following errors:

ERROR: /home/tomw/dev/build_test_bazel/cpp/utils/policies/BUILD:19:1: output

[2017-03-15 20:32] kush-c opened #2686 "Specifying --output_base to something under /tmp does not work"
This passes: bazel //src/test/shell/bazel:bazel_example_test
This fails: bazel --output_base=/tmp/bazelhead/usr/local/google/home/kush/bzlclean test //src/test/shell/bazel:bazel_example_test

(This is true for other integration tests as well)

I see errors of the form:
src/main/tools/linux-sandbox-pid1.cc:257: "mount(/tmp/testbazel/usr/local/google/home/kush/bzlclean/bazel-sandbox/0c3169c3-1a84-44

[2017-03-15 21:08] trainman419 commented on #671
The lack of runfiles in pkg_tar has been a major pain point for my team, so I've put together an initial implementation that's about 90% complete: https://github.com/bazelbuild/bazel/pull/2687 . Comments welcome.

[2017-03-15 22:19] steren commented on #903
Update: This is actively being worked on and should land by end of Q2.

[2017-03-15 22:43] mwitkow commented on #2557
@ola-rozenfeld is there an upper limit to Blob sizes in CAS? i.e. if we had a large external dep tar-gzed in there, would it exceed it?

[2017-03-15 23:48] renning22 opened #2688 "Failed to compile by "bazel //src:bazel"."
I tried to clone and build bazel from head by using different dist binary versions 0.4.3, 0.4,4, 0.4.5rc7. But got the same error message "ccache: failed to create /nonexistent/.ccache (No such file or directory)" essentially.

Full:

ERROR: /usr/local/google/home/ningr/Downloads/bazel/src/main/tools/BUILD:20:1: C++ compilation of rule '//src/main/tools:build-runfiles' failed: linux-sandbox failed

[2017-03-16 00:42] renning22 commented on #2472
Link for non-windows users: https://storage.googleapis.com/bazel/0.4.5/rc7/index.html

[2017-03-16 04:05] kamalmarhubi commented on #903
@steren does this mean both `android_test` and `android_robolectric_test`?

[2017-03-16 06:05] forumulator commented on #2682
@aehlig About the main issue, I think the upgrading Bazel to include protobuf 3.2.0 is blocked on [this](https://github.com/google/protobuf/pull/2848) pull request which fixes the freeBSD build.

As for the `java_proto_library` and `java_lite_proto_library`,  the latter also includes the transitive Proguard dependencies of it's deps. I'd love to help documenting this issue, but I'm a little confus

[2017-03-16 06:43] mnlandicho commented on #2667
Hi @damienmg any idea on the error? Thanks!

[2017-03-16 08:09] damienmg commented on #903
Both are being worked on but Android robolectric test might arrive slower
(android_test is prioritized over the other)

On Thu, Mar 16, 2017, 5:06 AM Kamal Marhubi <notifications@github.com>
wrote:

[2017-03-16 08:18] damienmg commented on #2667
Sandbox flags are not present apparently, we could have a detection code that falls back to not having the sandbox if we cannot compile it.

@philwo will have more insight than me on that.

[2017-03-16 08:19] damienmg commented on #2472
Maybe we should post the release announcements to the bug number...

On Thu, Mar 16, 2017, 1:42 AM Ning Ren <notifications@github.com> wrote:

[2017-03-16 08:32] iirina opened #2689 "Make javac_opts of java_common.compile expandable"
The `javac_opts` argument of `java_common.compile` doesn't accept expandable locations right now. Something like `$(GENDIR)/$(location :stub)` should be supported (the same as is supported in `javacopts` of `java_library`).

[2017-03-16 08:38] #2676 closed

[2017-03-16 08:53] meteorcloudy commented on #2685
@hermione521 Any idea on this?

[2017-03-16 08:57] meteorcloudy commented on #2680
@philwo Can you help with this?

[2017-03-16 09:02] meteorcloudy commented on #2688
@philwo Looks like some problem with sandbox?

[2017-03-16 09:25] mhlopko commented on #1740
Is there anything that needs to be done here? Feel free to reopen if yes. I guess Steven's point is valid, so if you still think this should be fixed, please open a separate issue. Thank you everybody!

[2017-03-16 09:25] #1740 closed

[2017-03-16 09:44] bogardon commented on #1385
I would love to have this for my own clang based tools for objective-C projects. Has there been any movement here?

[2017-03-16 11:30] philwo commented on #2688
Hi @renning22! Thanks for checking out Bazel. :)

The issue is that we currently don't support ccache together with sandboxing. As a workaround, you can either disable sandboxing for C++ (by adding "build --strategy=CppCompile=standalone" to your ~/.bazelrc) or not use ccache on your system.

I will explain in more detail what's happening:

You're trying to use ccache, ccache is trying to create a

[2017-03-16 11:32] philwo commented on #2680
Pinging @ola-rozenfeld and @hhclam, our experts on remote execution.

[2017-03-16 11:41] philwo commented on #2667
These are normal mount options and not sandbox specific (even though we only *use* them inside the sandbox code). MS_REC is available since Linux 2.4.11 - I would be very surprised if that definition isn't available on SuSE Linux Enterprise 11.2.

@mnlandicho According to the man-pages on my Ubuntu system (and from what I can see on the internet) the constants like MS_REC and MS_RELATIME should be

[2017-03-16 12:07] mhlopko commented on #2534
Well gcc 5.4 changed a [few things](https://gcc.gnu.org/gcc-5/changes.html) :) But nothing that immediately rings the bell. I will take a look.

[2017-03-16 12:51] ola-rozenfeld commented on #2680
I'll investigate, will update.

[2017-03-16 13:18] damienmg commented on #2472
https://github.com/bazelbuild/bazel/releases/tag/0.4.5 <-- release \o/

[2017-03-16 13:50] ulfjack commented on #2686
IIRC, output base can't be under /tmp. There's probably a bug for this already.

[2017-03-16 13:56] aj-michael commented on #2686
I believe the bug was #1882 but that was supposedly fixed by @philwo in 52f4e8bbaf18ea489acd2db464f267757e8eb6d4.

[2017-03-16 13:58] petemounce commented on #2472
https://chocolatey.org/packages/bazel/0.4.5 Pushed, in the queue. Thanks for the heads up :)

[2017-03-16 14:25] manjunaths commented on #1050
If the bazel developers have their internet connections to be tethered via a 2g phone for a week. This issue will get fixed in a few hours. It is physically painful.

[2017-03-16 14:57] iamironz commented on #1391
Jack is now deprecated (https://android-developers.googleblog.com/2017/03/future-of-java-8-language-feature.html). Feature request are not actual.

[2017-03-16 15:47] david-german-tri opened #2691 "0.4.5 - Possible breaking-change to cycle analysis in toolchains"
### Description of the problem / feature request / question:

I've upgraded to Bazel 0.4.5, and when I build [RobotLocomotion/drake](https://github.com/RobotLocomotion/drake) with `bazel build ...`, I get an error from Bazel that doesn't occur on 0.4.3 or 0.4.4.

It's entirely possible that our BUILD files are defective and Bazel is right to report an error.  We're actively investigating.  However

[2017-03-16 15:50] hermione521 commented on #2472
Finally have a release! Closing this.

[2017-03-16 15:50] #2472 closed

[2017-03-16 15:53] hermione521 opened #2692 "Release 0.5"
Quote from last release manager: hopefully this time it can be 0.5!

[2017-03-16 18:41] kush-c commented on #2686
Yup. changing the output_base to something other than /tmp fixed the problem.

#1882 dealt with blaze not working well when running inside /tmp, which was fixed. But specifying the --output_base to something under /tmp still fails.

I couldn't find another bug in the internal list or out here, so keeping this open.

[2017-03-16 19:52] #2270 closed

[2017-03-16 20:18] truatpasteurdotfr commented on #1357
https://gist.github.com/truatpasteurdotfr/d541cd279b9f7bf38ce967aa3743dfcb for an updated version, and the corresponding Dockerfile

[2017-03-16 21:51] gregestren opened #2694 "Add Android data binding support"
Bazel already has internal support for [Android data binding](http://www.androidauthority.com/data-binding-in-android-709747/) (e.g. [here](https://github.com/bazelbuild/bazel/blob/0302155631c1f60a2a0a69e1a8ee70684e08f5a8/src/main/java/com/google/devtools/build/lib/rules/android/DataBinding.java)). But hooks haven't been exposed to link this to the SDK support libraries or toggle the feature on fo

[2017-03-16 21:53] renning22 commented on #2688
Thanks Philipp for the complete explaination,

I tried that by adding "--strategy=CppCompile=standalone" is not enough to get rid of the error, but also need "--strategy=CppLink=standalone".

This command works for me!
bazel build --strategy=CppCompile=standalone --strategy=CppLink=standalone src:bazel

[2017-03-16 23:28] gregestren commented on #2694
Context: https://groups.google.com/d/msg/bazel-discuss/AOO6T6UpTRY/y74pENzmBAAJ

[2017-03-17 02:03] mnlandicho commented on #2667
@philwo surprisingly, there is no  MS_REC and MS_RELATIME in sys/mount.h of my SuSE Linux Enterprise 11.2.

[mount-h.zip](https://github.com/bazelbuild/bazel/files/849448/mount-h.zip)

I found out the this file sys/mount.h is provided by glibc-devel package. The default installed version of glibc on my system is 2.11.3-17.31.1.

If I install a newer version of glibc, how can I tell my gcc to look

[2017-03-17 07:34] brunobowden commented on #2551
I've verified this as fixed.

The Skylark pages are now 404s but that appears to be by design. All the other pages redirect correctly to versions/master/docs/...

[2017-03-17 08:56] ulfjack commented on #1385
I'm afraid there hasn't been any progress. :-/

[2017-03-17 09:14] meteorcloudy opened #2695 "Windows: MSVC Bazel build is failing on CI"
http://ci.bazel.io/job/bazel-tests/BAZEL_VERSION=HEAD,PLATFORM_NAME=windows-x86_64/650/console
[code]

But it is building on my local machine. Maybe ENABLE_VIRTUAL_TERMINAL_PROCESSING is not available in different Windows version?

@laszlocsomor  Sorry, I'll rollback this first.

[2017-03-17 09:26] forumulator commented on #2467
@katre While looking at another bug, I stumbled onto this. On investigating, it turns out that the problem **is** in the ImplicitOutputsFunction. The `SkylarkRuleContext` constructor while adding the implicit outputs calls `calculateOutputs` [here](https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/packages/ImplicitOutputsFunction.java#L132),  which in turn

[2017-03-17 09:59] meteorcloudy commented on #2627
This is done! \o/

[2017-03-17 09:59] #2627 closed

[2017-03-17 10:03] ulfjack commented on #2675
Any progress? This is killing my presubmits.

[2017-03-17 10:24] laurentlb commented on #1674
@ahyangyi Thanks, we've now fixed the error messages.
Please file a new bug if you still see confusing messages.

[2017-03-17 11:22] wiktortomczak opened #2696 "Very slow git repository downloads"
Bazel repeatedly hangs when fetching large external git repositories (defined in the WORKSPACE file with git_repository). At some point the object count reported in the console (as in INFO: Cloning https://github.com/grpc/grpc.git: Receiving objects (171939 / 255634)) gets stuck and does not increase for 10+ minutes, or even for hours. This problem occurs non-deterministically, however when it doe

[2017-03-17 12:01] truatpasteurdotfr commented on #1122
https://people.centos.org/~tru/bazel-centos6/ contains the spec file, source and binary bazel 0.4.5 rpms. It's just a POC, the packages are unsigned on purpose. You can rebuild yourself with rpmbuild -ba bazel.spec (cf https://wiki.centos.org/HowTos/SetupRpmBuildEnvironment)

[2017-03-17 12:12] meteorcloudy commented on #2675
Still haven't found the root cause, but looks like there is already a workaround for the Kokoro presubmit?(cl/150360798) I'll keep digging...

[2017-03-17 13:16] meteorcloudy commented on #2696
//cc @kchodorow Can you take a look?

[2017-03-17 13:16] #2695 closed

[2017-03-17 13:46] meteorcloudy opened #2698 "CI is broken due to IllegalArgumentException"
http://ci.bazel.io/job/bazel-tests/BAZEL_VERSION=HEAD,PLATFORM_NAME=linux-x86_64/651/console

[code]

@ulfjack Do you think it's caused by 59180a4ea66b1395b5b85defd732859ecae919ea? It's weird that I cannot reproduce the failure on my local machine.

[2017-03-17 14:07] kchodorow commented on #2696
Yes, right now we're using jGit for the git_repository backend, which is suboptimal.  If you're cloning from GitHub, I highly recommend using http_archive() to download the tarball instead: it has retries, timeouts, and will essentially give you a "shallow clone."

[2017-03-17 14:09] wiktortomczak commented on #2696
Thanks, I'll try http_archive().

[2017-03-17 14:32] katre commented on #2467
You're right, that looks like the cause.

Throwing an exception there will be fine, but it needs to be a checked exception so we can fix all of the callers to handle it properly.

[2017-03-17 14:44] aj-michael commented on #348
Augh, I should not have closed this. Per the documentation of android_library:

https://bazel.build/versions/master/docs/be/android.html#android_library

So the .aar output of android_library will not contain the .so from the cc_library.

I'm going to use this as the tracking bug for support transitive-closure-aars from android_library.

[2017-03-17 14:48] aj-michael commented on #1547
This is a duplicate of #348.

[2017-03-17 14:48] #1547 closed

[2017-03-17 14:58] andrewharp commented on #348
This would also be useful for TF so that we can build a full Android distributable in a single file (using only Bazel) during our [nightly build process](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/ci_build/builds/android_full.sh).

[2017-03-17 15:14] wiktortomczak commented on #2696
http_archive() works much better indeed.

[2017-03-17 15:15] forumulator commented on #2467
Understood. Should I fix this and submit to Gerrit?

[2017-03-17 15:16] katre commented on #2467
I'll be happy to review a patch.

[2017-03-17 15:18] forumulator commented on #2467
Great, I'll get on this, then. One question, in the handling of this exception, the callers must further throw an exception, right? I mean, this is an error, right?

[2017-03-17 15:20] katre commented on #2467
Generally, yes, the exception should either be wrapped in whatever exceptions the caller is already throwing, or handled in another fashion.

[2017-03-17 16:17] ulfjack commented on #2698
I tried to make sure that the change is a no-op, but it's possible I've missed something. I don't see any obvious connection.

[2017-03-17 20:29] sebright opened #2699 "Spurious errors when building 'java_proto_library' target with -Xlint:all and -Werror."
We just switched to the new Proto library build rules in the [instrumentation-proto](https://github.com/google/instrumentation-proto) repository, by following the instructions at https://bazel.build/blog/index.html#protocol-buffers-in-bazel.  Here is the pull request: https://github.com/google/instrumentation-proto/pull/26

Then we updated a git submodule to bring the changes into [instrumentation

[2017-03-17 21:30] alegou commented on #2680
It seems you are running into a limitation of the cache. The blob that is being set for upload is too large:
https://github.com/bazelbuild/bazel/blame/bb5901ba0474eb2ddd035502663026bcb0c05b7c/src/main/java/com/google/devtools/build/lib/remote/ConcurrentMapActionCache.java#L146

I'm looking into what can be done here. At the very least I'll include a more informative error message in the IllegalArg

[2017-03-17 22:43] hhclam commented on #2680
Good catch! The hazelcast / rest cache implementation does not support objects larger than 500MB for memory consumption reasons. I wanted to keep the implementation simple. The gRPC caching api does support chunking and will solve this problem.

[2017-03-18 00:06] ajayramesh23 commented on #2545
Hi ,
I am participating in GSoC-2017, getting drenched in Bazel ecosystem for contributions. Please, can someone assign this issue to me?
Thank you
Ajay 👨🏻‍💻

[2017-03-18 03:09] jemdiggity opened #2700 "http.bzl http_archive downloads multiple times if build_file is specified"
### Description of the problem:
If you override the native rule for http_archive by loading http.bzl, and provide a build_file argument to http_archive, bazel downloads the file 3 times. If build_file_content is provided as empty or neither build_file_content or build_file are provided, it downloads 1 time as expected.

I was trying to write my own repository rule based on http.bzl and found that

[2017-03-18 09:22] royalharsh commented on #1468
I couldn't reproduce this bug. Here's my BUILD file:
[code]
I also tried with a perl executable(made with [pp](http://search.cpan.org/~autrijus/PAR-0.85_01/script/pp)):
[code]
But everything seems to work fine.
[code]
It would be great if you could explain a bit on how you ran into this bug?

[2017-03-18 10:08] damienmg commented on #1468
Ok I digged into the history and that bug has been fixed long ago by @jmmv (commit 0c0bfe6297bdc6c061a88c91c4eaff1776f6ef23)

[2017-03-18 10:08] #1468 closed

[2017-03-18 10:15] cpietsch commented on #2535
having the same error when trying to compile guetzli with ``bazel build -c opt //:guetzli``

[2017-03-18 10:36] Rikorose opened #2701 "Provide an rpm package for CentOS/RHEL/Fedora"
Ideally the installation process would be
[code]
or
[code]
Alternatively an standalone rpm package or an external repository for Fedora would be great.

[2017-03-18 12:33] nmpatsal opened #2702 "Code Quality Enhancement If-else instead of multiple if"
Dear Bazel Team,
I was reading the code to check the quality and I would like to suggest an enhancement, correct me please if I am wrong. We could use if-else statement instead of multiple if statements as they are used in options/Converter.java so the code would be more readable and maintainable for the future.

https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/com

[2017-03-18 13:55] jin commented on #2702
In your example, if `input` is `null`, calling `toLowerCase()` on it will cause a NullPointerException.

The conditional logic will also end in the `else` block, therefore never reaching the throwing of `OptionsParsingException`, which the original code is intended to do if the input doesn't match any of the specified conditions.

[2017-03-18 14:36] nmpatsal commented on #2702
Ok if I add the `OptionsParsingException` in the else condition does it change?
If `toLowerCase()` is over if condition or under it, it will run anyway, am I wrong?

[2017-03-18 17:41] royalharsh commented on #2677
https://bazel-review.googlesource.com/#/c/9454/

[2017-03-18 19:55] wiktortomczak opened #2704 "alias()-like rule for repositories"
Would it be possible to introduce a new WORKSPACE rule for aliasing an already-defined external repository under a different name?

eg. My WORKSPACE already defines an external repository `@protobuf`. The same repository is needed by another external repository under the name `@com_google_protobuf`.  Currently the options are: 1. Define, download and use two copies of the same repository, under tw

[2017-03-18 21:39] davido opened #2705 "Strange test failure without explicitly setting -Dsun.jnu.encoding = UTF-8"
I'm seeing strange junit_test failure, when UTF-8 chars are used in file name:

[code]

With this test rule:

[code]

This is failing here with this exception: [1]. Note, the value of `sun.jnu.encoding = ANSI_X3.4-1968`. I don't see that problem if I create `java_binary` with the same code and run it with: `bazel run foo`. I also do not see the problem with Buck or executing the test from Eclipse

[2017-03-18 22:18] truatpasteurdotfr commented on #600
I have packeged bazel in a nice rpm without stripping it, but if prelink is installed, it will default strip it on it's daily maintenance duty.. maybe a big fat warning should warn people about it? OTOH, couldn't bazel be offered as the expanded " a Java server that is extracted from the zip file and then persisted between builds" ?

[2017-03-19 04:08] dpursehouse commented on #2705
@davido what platform are you using?  I'm on OSX and don't get the failure that you mentioned on [the jgit build](https://git.eclipse.org/r/#/c/93346/6).

I have not however tried it with the repro case in this issue.

[2017-03-19 05:47] davido commented on #2705
I'm on Linux:

[code]

[2017-03-19 07:15] forumulator commented on #2467
@katre I have fixed this and pushed to Gerrit for review([c9490](https://bazel-review.googlesource.com/#/c/9490/)), please review when you get the time.

A couple of things to note:
1. The invalid variables now give an error like so
[code]
2. I couldn't add the exact placeholder name in the error message because the function `substitutePlaceholderIntoTemplate` is called from `SafeImplicitOutputsFu

[2017-03-19 21:23] yurivict opened #2706 "Randomly crashes with deletion of ~/.cache helping the problem"
On FreeBSD 11 bazel-0.4.4 randomly crashes while building tensorflow. It works immediately after deleting /root/.cache, and crashes during subsequent runs.

It looks like cache gets into the invalid state that causes crashes.

[2017-03-20 00:27] jemdiggity commented on #2700
Putting _ctx.download_and_extract_ at the end of function __http_archive_impl_ seems to fix the multiple downloads. Not sure why....

[2017-03-20 07:45] davido opened #2707 "select: bazel test is failing with repository named 'jgit' could not be resolved"
We would like to optionally consume JGit from the development tree.
To achieve that, we define this config in `lib/BUILD`:

[code]

define this `local_repository` in `WORKSPACE` file, that is normally commented out:

[code]

and use `select` depending on the definition of `jgit-dev`, e.g.:

[code]

Consuming the JGit from the development tree works, when i uncomment `jgit` local repository, both b

[2017-03-20 08:04] laszlocsomor commented on #2695
Sorry about the breakage and thanks for quickly rolling it back, that was the right thing to do!

[2017-03-20 09:52] jemdiggity commented on #2625
I made a repository rule similar to http_archive but selects archive based on the OS.
https://github.com/jemdiggity/rules_os_dependent_http_archive

[code]

[2017-03-20 10:25] meteorcloudy opened #2708 "Windows: Bazel 0.4.5 has a regression in python stub template"
http://ci.bazel.io/job/bazel-tests/BAZEL_VERSION=latest,PLATFORM_NAME=windows-x86_64/651/console

[code]

This happens when build `bazel_bootstrap_distfile_test` on Windows.

The bug shouldn't happen with python2 due to 95dac7050d0d7f0cd2a4c7fad1859daceed556af, but unfortunately it's not cherry-picked into 0.4.5. And even with 95dac7050d0d7f0cd2a4c7fad1859daceed556af, it's still broken with python

[2017-03-20 10:27] damienmg commented on #2708
Impact?

[2017-03-20 10:35] hermione521 commented on #2707
@kchodorow can you help please?

[2017-03-20 10:38] hermione521 commented on #2706
Hi, the latest release is 0.4.5. Did you try if it works?
Also @aehlig for FreeBSD

[2017-03-20 10:39] meteorcloudy commented on #2708
@damienmg
1. bazel_bootstrap_distfile_test will keep failing on Window
2. py_binary built by 0.4.5 is not runnable with python2 on Windows
3. TensorFlow GPU build on Windows is broken (but not many people are using it, probably)

[2017-03-20 10:46] hermione521 commented on #2702
Hi, we follow the code style to avoid multiple else statement (and also nested code blocks). It's clearer and less error-prone. Sorry I couldn't find a link now.

[2017-03-20 10:46] #2702 closed

[2017-03-20 11:24] damienmg commented on #2708
Is it fixed at head? Why haven't we caught it on our test suite?

On Mon, Mar 20, 2017, 6:39 AM Yun Peng <notifications@github.com> wrote:

[2017-03-20 11:26] hermione521 commented on #2705
Hmm sorry, I don't think it's supported now. But we are actively working on it.
Duplicate of #2550

[2017-03-20 11:27] hermione521 commented on #2704
@kchodorow what do you think?

[2017-03-20 12:07] hermione521 commented on #2700
@kchodorow can you help please?

[2017-03-20 12:10] meteorcloudy commented on #2708
Yes, it is fixed at HEAD by 95dac70, but only for python2. python3 is still broken we don't have tests for python3.

[2017-03-20 12:22] damienmg commented on #2708
Ok, in which case I recommend we deactivate the test for Windows until it
is fixed and work on good testing for the feature and fixing the py3 case.

Track all that work on that issue and block 0.5 on it.

On Mon, Mar 20, 2017, 8:10 AM Yun Peng <notifications@github.com> wrote:

[2017-03-20 12:34] meteorcloudy commented on #2708
OK, Will do it, thanks!

[2017-03-20 13:07] hermione521 commented on #2691
Hi, I tried to build your project with bazel 0.4.4 but I get the following error. Is there anything that I should configure? Thanks.

[code]

[2017-03-20 13:57] soonho-tri commented on #2691
@hermione521 , http://drake.mit.edu/ubuntu_trusty.html#other-prerequisites lists the required dependencies. Could you install them and build it again?

[2017-03-20 14:02] david-german-tri commented on #2691
@soonho-tri's reference is good, but I hate to put the Bazel team to that much trouble.  I'll try to produce a smaller repro example.

[2017-03-20 15:11] ulfjack commented on #1682
If the HazelcastException wraps an InterruptedException, we should unwrap and throw the InterruptedException, not throw a CacheNotFoundException.

[2017-03-20 15:12] aj-michael opened #2709 "Android malformed resources crashes with NoSuchMethodError"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:
The Android rules' tools depend on `//third_party:android_common_25_0_0` which contains jars that were built against Guava 17.0 (http://mvnrepository.com/artifact/com.android.tools/common/25.0.0). However, t

[2017-03-20 15:15] ulfjack opened #2710 "Hazelcast cache isn't cleaning up threads"
I'm told that the hazelcast cache implementation is creating a new thread for every action and not cleaning up the threads afterwards, which can lead to OOMs for large(r) builds.

[2017-03-20 15:23] ittaiz commented on #2371
@hermione521 ping? happened to me again. a small repro isn't likely but maybe I can dig some more details if you point me to the right direction

[2017-03-20 15:49] yurivict commented on #2706
This is for 0.4.5,

[2017-03-20 17:54] laurentlb commented on #2022
I don't think we should write a message each time user starts a Bazel command. Showing the pid is almost never useful, so I'll remove it (you can still see it with 'bazel info').
Maybe print a message only when the server starts?

[2017-03-20 18:00] laurentlb commented on #2611
I need more context. Are you talking about the C++ rules?

[2017-03-20 18:04] laurentlb commented on #813
In most cases, I think it would be easier to loop over the input yourself (since we don't have lamdas).

[2017-03-20 18:27] aj-michael opened #2711 "android_library AAR output containts different timestamps on Mac vs Linux"
Repro case:

[code]

Mac:

[code]

Linux

[code]

Note the `bX` vs `bl` and the `69-Dec-31 19:00` vs `80-Jan-01 00:00`.

[2017-03-20 18:32] mattmoor opened #2712 "bazel run of Tarball based images doesn't correctly load base."
### Description of the problem / feature request / question:

The incremental load logic doesn't load layers that aren't produced by `docker_build` into the Docker daemon cache, which breaks cases such as when folks check in a base image tarball, or download it in their workspace.

### If possible, provide a minimal example to reproduce the problem:

`bazel run` [this](https://github.com/bazelbuil

[2017-03-20 18:32] mattmoor commented on #2712
@damienmg Opening this to track, now that my test is in and released.

[2017-03-20 18:59] damienmg commented on #2712
Thanks Matt :)

[2017-03-20 20:05] c-parsons commented on #800
Update here -- we are internally testing and verifying an ios_framework rule written in skylark, and are working to open source this. We anticipate this should be available in a couple of weeks.

[2017-03-20 20:06] c-parsons commented on #365
Update here -- we are internally testing and verifying an ios_static_framework rule written in skylark, and are working to open source this. We anticipate this should be available in a couple of weeks.

[2017-03-20 20:07] raza15 commented on #2583
@damienmg i would like to take up this issue. Can i start working on it?

[2017-03-21 03:23] dfabulich opened #2713 "Decouple Error Prone version from Bazel version"
Bazel 0.4.5 upgraded Error Prone, and in so doing introduced new build failures that weren't there in Bazel 0.4.4. We weren't able to upgrade to Bazel 0.4.5 until we addressed all of the new Error Prone failures. The same thing happened with Bazel 0.4.4.

Those Error Prone issues are valuable, but I wish we could pin our version of Error Prone to an older version while upgrading to Bazel 0.4.5, so

[2017-03-21 08:38] davido commented on #2713
-1.

Current design is not only valuable but also the way I would expect it to work. I don't want to care what EP version a specific Bazel version is using. What new check to enable in new Bazel/EP version. Also note, EP has some dependencies that must be shipped in bagel for it to work.

I expect to upgrade Bazel and implicitly upgrade EP (and all other dependent Bazel library for the matter). I'

[2017-03-21 09:53] laszlocsomor commented on #2558
It's possible that `file.isDirectory()` returns true but `file` is actually a junction. In that case `file.list().length > 0` may rightfully be true but it's still safe to delete the junction. Does that sound plausible?

[2017-03-21 09:53] laszlocsomor commented on #2558
Oh no wait, that can't be, `file.delete()` a few lines above would succeed for that. Never mind.

[2017-03-21 10:12] meteorcloudy commented on #2692
In https://bazel-review.googlesource.com/#/c/9461/, bazel_bootstrap_distfile_test is disabled temporarily on Windows due to https://github.com/bazelbuild/bazel/issues/2708

We need to test it manually before release 0.5

[2017-03-21 10:37] laszlocsomor opened #2714 "Bazel client, Windows: changing --output_user_root path casing causes server restart"
### Description of the problem / feature request / question:

Changing the casing in the `--output_user_root` flag's argument makes Bazel believe that the directory has changed. This is true on Linux but not on Windows.

[2017-03-21 12:02] hanwen opened #2715 "skylark doc is confusing Artifact and File."
print( ctx.outputs.executable)
=>
WARNING: /usr/local/google/home/hanwen/vc/gerrit/tools/bzl/gjf.bzl:8:3: Artifact:[[/usr/local/google/home/hanwen/.cache/bazel/_bazel_hanwen/3dd1ab8ef3a0892fac2e8f719daba681/execroot/gerrit]bazel-out/local-fastbuild/bin]api_format_test.

the docs describe this type as File, see https://bazel.build/versions/master/docs/skylark/lib/File.html

when you print it, it sa

[2017-03-21 12:06] drwael opened #2716 "Steps to evaluate model"
I have installed Bazel,TensorFlow, NumPy, scikit-learn,Natural Language Toolkit (NLTK)and gensim.
then i downloaded:
- skip_thoughts_uni_2017_02_02 and skip_thoughts_uni_2017_02_02.
- skip-thoughts GitHub repository
- the CR (customer review) dataset
then i executed the following commands:
CHECKPOINT_PATH="${HOME}/skip_thoughts/model/train"
VOCAB_FILE="${HOME}/skip_thoughts/exp_vocab/vocab.txt"
EM

[2017-03-21 12:35] hermione521 opened #2717 "//src/test/shell/bazel:bazel_java_test is broken on CI with jdk7"
http://ci.bazel.io/job/bazel-tests/BAZEL_VERSION=HEAD-jdk7,PLATFORM_NAME=linux-x86_64/654/console

[2017-03-21 12:49] hanwen opened #2718 "clarify 'data' name in cookbook example"
See https://bazel.build/versions/master/docs/skylark/cookbook.html (fragment below):

this uses "data" as both an attribute and a configuration name.

      "data": attr.label_list(cfg="data", allow_files=True),

That's confusing; I think the attribute can have any other name, and it would help if the docs picked another name.

def _impl(ctx):
  executable = ctx.outputs.executable
  command = ctx.

[2017-03-21 12:55] hanwen opened #2719 "expand_location is missing example code"
there is an example of https://bazel.build/versions/master/docs/skylark/lib/ctx.html#expand_location

but there is no live example (in tested .bzl code) by which I can verify how it is supposed to work:

  http://cs.bazel.build/search?q=r%3Abazel+expand_location&num=50

[2017-03-21 12:56] #2684 closed

[2017-03-21 12:56] #2708 closed

[2017-03-21 12:59] hermione521 commented on #2371
Hmm.. I don't have any idea except clean them manually.. Let's ping @philwo to see if it helps.

[2017-03-21 13:19] laszlocsomor commented on #2634
I have a fix for this bug.

The problem is that the proto compiler uses POSIX open(2) to open files which on Windows is declared in `<io.h>` and uses the ANSI Windows API, not the Unicode one. Fortunately the `_w` variant (e.g. `_wopen`) use the Unicode API and work with UNC-prefixed Windows paths.

[2017-03-21 13:21] mhlopko commented on #2692
Thanks for letting me know!

[2017-03-21 13:35] meteorcloudy commented on #2634
Nice, that's good to know!

[2017-03-21 13:36] cgrushko commented on #2699
I'm glad you tried it out :)

Re errors in `@com_google_protobuf_java//:protobuf_java`:
@xfxyjwf can we fix these build errors?
It's also possible we're building it with the wrong flags.

Re a way to only fail if warnings come from the targets in the BUILD file:
@damienmg do we have anything like this?

[2017-03-21 13:57] philwo commented on #2371
I'm currently doing a big round of bug-fixes and will try to fix whatever might cause this. I'll specifically look into whether there are any race conditions in Bazel's process management on macOS.

I'll follow up on this, but if I don't, please ping this bug in ~1 week and I'll send a status update. :)

[2017-03-21 14:04] shyamalschandra opened #2720 "When is bazel going to be integrated into VS2017 for Mac, Eclipse, and Xcode for Mac?"
When is bazel going to be integrated into VS2017 for Mac, Eclipse, and Xcode for Mac?

[2017-03-21 14:25] hermione521 commented on #2720
Nice question for @steren ! Do we have a plan?

[2017-03-21 14:39] hermione521 commented on #2716
The 'build' command is only supported from within a workspace. And the workspace is a directory with a file named `WORKSPACE`. You can run `bazel build` from any directory under workspace, for example [here](https://github.com/tensorflow/models/tree/master/skip_thoughts).

Thank you for using bazel! If you have any further question on a specific project (like tensorflow), please file an issue agai

[2017-03-21 14:39] #2716 closed

[2017-03-21 14:43] hermione521 commented on #2713
@cushon what do you say?

[2017-03-21 16:08] hermione521 opened #2721 "multiple tests in bazel-tests failing on Windows"
http://ci.bazel.io/job/bazel-tests/BAZEL_VERSION=HEAD,PLATFORM_NAME=windows-x86_64/656/console

culprit: https://github.com/bazelbuild/bazel/commit/dd142c93fd4939aaec30726f275644ca9446fea2

[2017-03-21 16:16] philwo commented on #2721
My guess is that this comes from me changing TEST_TMPDIR from an MSYS-style path to a Windows-forward-slashes-style PATH.

I will try to reproduce and fix it tomorrow on my Windows workstation.

[2017-03-21 16:22] shyamalschandra commented on #2720
I just tried the Xcode and Eclipse plugins and it is not very clear by their documentation how to setup my bazel project.  Any ideas on a step-by-step instructions because there aren't any blogs or pages for tensorflow setup with bazel?

[2017-03-21 17:00] steren commented on #2720
The Xcode plugin is only to build iOS applications.
The Eclipse one is very experimental at the moment.

The more mature plugin is the IntelliJ one: http://ij.bazel.build/docs/bazel-plugin.html

TensorFlow related questions should be asked to the TensorFlow team (either on Stackoverflow or on GitHub issue if something is missing, like build documentation)

[2017-03-21 17:24] hanwen commented on #2707
select wants all of the dependencies to be there, eg. so query (which is evaluated before taking conditions into account), can return a correct (albeit too large) result set.  I can think of two options:

1. add comments on the aliases under //lib

2. have the JGit be remote git repository by defaultl, and offer a commented override for a local git repo.

[2017-03-21 17:33] cushon commented on #2717
I think the issue is that `VanillaJavaBuilder` doesn't support `-sourcepath` yet: https://github.com/bazelbuild/bazel/blob/44c322b4e654930dfe8a7260843695289b9ecf39/src/java_tools/buildjar/java/com/google/devtools/build/buildjar/VanillaJavaBuilder.java#L241

[2017-03-21 17:42] cgrushko commented on #2699
@xfxyjwf, should we pass `javacopts = ["-source 6"]` to `@com_google_protobuf_java//:protobuf_java` ?

[2017-03-21 17:46] cushon commented on #2713
@damienmg has been creating a procedure for rolling out breaking changes that we'll follow for Error Prone once it's ready. The tentative plan is to leave it enabled by default and keep enabling new errors if they meet the critera: http://errorprone.info/docs/criteria.

Also, the version of Error Prone in the next Bazel release will support a flag to disable all checks (`XepDisableAllChecks`), so

[2017-03-21 18:00] dfabulich commented on #2713
I see it this way. Every time Error Prone is upgraded, it's a breaking change. It's usually a desirable breaking change, but it's a break, nonetheless. This certainly can't keep going on once Bazel hits 1.0. Upgrading to Bazel 1.1 shouldn't cause your build to fail if it works in Bazel 1.0.

[2017-03-21 18:08] bogdandrutu commented on #2699
Also another problem that I had with this is the fact that the protoc gets re-compiled all the time and I couldn't get it to work on my macOs with Santa (https://github.com/google/santa) because it has a different signature all the time.

Am I doing something wrong?

[2017-03-21 18:18] cushon commented on #2713
That's the motivation for the policy @damienmg is working on for backwards incompatible changes.

[2017-03-21 18:27] steven-johnson opened #2722 "Defining android_ndk_repository() will prevent non-Android targets from building if ANDROID_NDK_HOME is unset"
Using Bazel 0.4.5 on OSX.

Create trivial build environment like so:

WORKSPACE:
[code]

BUILD:
[code]

main.cc:
[code]

Ensure that both ANDROID_HOME and ANDROID_NDK_HOME are unset, then `bazel build //:ndktest`

* Expected:

since the target doesn't use the Android SDK or the Android NDK, should build fine even though the env vars aren't set.

* Actual:

`ERROR: in target '//external:android/cro

[2017-03-21 18:29] david-german-tri commented on #2691
@hermione521 Here's a much smaller repro project that builds with Bazel 0.4.4, and errors in the same manner as the OP on Bazel 0.4.5:

https://github.com/david-german-tri/bazelbuild2691

Thanks very much for your willingness to take a look!

[2017-03-21 18:29] aj-michael commented on #2559
As of 65b49a2, `bazel test //src/...` no longer builds `//src/tools/android/java/com/google/devtools/build/android/incrementaldeployment:incremental_split_stub_application` so marking this as closed.

[2017-03-21 18:29] #2559 closed

[2017-03-21 19:20] damienmg commented on #2713
/cc @brandjon @laurentlb

We have an almost finished policy about how we are going to handle backwards incompatible changes and we will publish it soonish. Error-prone checks are definitely going to be included in it.

[2017-03-21 19:21] aj-michael commented on #2722
Hmm, this seems specific to `android_ndk_repository`. `android_sdk_repository` does not have this problem.

[2017-03-21 19:22] nglorioso commented on #1071
https://github.com/bazelbuild/bazel/commit/0eaff4437cf23da52983a659456e707d6fd372e3 is the start: we've plumbed the one version enforcement glue into the build graph for `java_binary` rules.

There are as-of-yet-not-fully-specified plans to open up the binary to actually do enforcement, which might require a bit of retooling for open-source (different data storage format, having prebuilts for the

[2017-03-21 20:10] aj-michael commented on #2722
Hmm, I think I've narrowed it down to something in the AndroidSplitTransition. Adding @ahumesky for expertise on that.

https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/rules/android/AndroidRuleClasses.java#L172

[2017-03-21 20:39] Carmezim commented on #1275
Encountered the same error, this issue could be re-opened

[2017-03-21 20:46] aj-michael commented on #2722
\+ @gregestren

Results of some digging:

So, the AndroidConfiguration is loaded for all builds (including your cc_binary). The android_crosstool_top option in the AndroidConfiguration defaults to //external:android/crosstool. Which by default is bound to @bazel_tools//tools/cpp:toolchain. However, the android_ndk_repository rule external bindings function also declares that it binds //external:an

[2017-03-21 22:16] xfxyjwf commented on #2699
@cgrushko The warning about AbstractMessageLite might not be feasible to fix because adding type parameters will break source compatibility. Maybe we should add some javacopts to disable that specific warning? The other warning about "List" should be easy to fix.

[2017-03-21 22:22] cgrushko commented on #2699
Yep, see https://github.com/bazelbuild/bazel/issues/2699#issuecomment-288160163

[2017-03-22 02:46] salguarnieri opened #2723 "bazel query rdeps broken for Objective-C with latest release (0.4.5)"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:

We use bazel and phabricator for out project (http://kythe.io). Our presubmit executes a bazel query to find the tests that need to be executed. We have some Objective-C targets in our repository. Now with

[2017-03-22 02:54] salguarnieri commented on #2723
To fix the kythe setup, I did this change: https://phabricator-dot-kythe-repo.appspot.com/D1441 but it seems like that shouldn't be necessary.

[2017-03-22 08:41] davido commented on #2707
I assumed that the select is not working lazy in all cases, though it's unclear why `bazel build lib/jgit/org.eclipse.jgit:jgit` still works. It should reference undefined dependency.

I already added comments on the alias under//lib. A developers would need to touch several places in the tree to preform the swap. That's unfortunately.

We consume the JGIt fro the Central per default. This should

[2017-03-22 09:52] coroner4817 commented on #2638
I fix this issue by using the reflected `.o` instead of the reflected `.cpp` or the shared library.

The shared library only work for ndk-build. Any other build tools, need to go with the `.o`

[2017-03-22 09:52] #2638 closed

[2017-03-22 10:19] #2634 closed

[2017-03-22 10:48] hanwen commented on #2707
as an aside: why do you use alias? Can't you just do

  exports = select({
     ...
  })

?

[2017-03-22 10:55] #2677 closed

[2017-03-22 10:55] #2717 closed

[2017-03-22 11:49] ittaiz commented on #1506
@ulfjack- @dkomanov might work on this soon. Any objections? If not, any chance you can help with a few pointers?

[2017-03-22 12:53] philwo commented on #2355
@xingao267 Friendly ping :)

[2017-03-22 12:55] philwo commented on #2235
FYI, I've started on Monday to work through all open sandbox bugs and will try to fix them during this week.

[2017-03-22 13:03] philwo commented on #1666
All required code changes have been made as of https://github.com/bazelbuild/bazel/commit/9504827b21217aaa28a248ce499dd25c6a415d6e.

The last step is to actually integrate this into our release pipeline so that we build release artifacts of the new target. I think @damienmg wanted to have a look at this when he has some time.

[2017-03-22 13:36] meteorcloudy opened #2724 "Output of MSVC Bazel is not colorful under MSYS"
And it doesn't refresh, just output everything to the terminal.
[code]
//cc @laszlocsomor

But works like a charm under cmd.exe, thanks for all your awesome work!

[2017-03-22 13:38] laszlocsomor commented on #2724
I suppose you mean it doesn't update the build status, right?

Yes, this runs now as if you passed `--color=no --curses=no` (the latter is the one enabling/disabling this "update" feature), because bazel believes that msys is not a "standard" terminal, i.e. it may be a file that we redirected the output to, so we don't print control characters.  I can take a look at this.

[2017-03-22 13:43] meteorcloudy commented on #2724
Yes, thanks, but it's not very urgent problem.

[2017-03-22 14:05] laszlocsomor opened #2725 "Windows, msys-less: support other shells (cygwin, powershell)"
### Description of the problem / feature request / question:

The MSYS-less version should, by definition, work under other shells.

At https://github.com/bazelbuild/bazel/commit/c34320d27b5360e24c36b1bdca1d3081828a64fb it works under cmd.exe, Powershell 5.0.10586.672, MSYS2 20161025, and potentially other versions of these too, but these are the ones I tried.

It however doesn't work under Cygwin

[2017-03-22 14:12] ulfjack commented on #1506
TestStrategy.parseTestResult parses the XML file into a blaze.TestCase protobuf. When test results are printed with --test_summary=detailed, the TerminalTestResultNotifier calls into TestSummaryPrinter, which gets individual test cases from blaze.TestCase and prints them.

I think the current way of printing test results is not very user friendly, and I'd like to see improvements in that area. It

[2017-03-22 14:13] ulfjack commented on #1506
Another example with --test_summary=detailed:
[code]

[2017-03-22 14:15] hermione521 commented on #2691
Thank you for the repro! Let's see if @gregestren can help with this.

[2017-03-22 14:16] ulfjack commented on #1506
Note that TestStrategy.parseTestResult only parses the XML if --test_summary=detailed is enabled.

[2017-03-22 15:13] #2721 closed

[2017-03-22 15:28] damienmg commented on #1666
I don't think I will have time for it soon enough, but just adding the target in //scripts/package to build the deb and .sh with jdk and then reference them in scripts/ci/build.sh for them to be pushed should be enough.

[2017-03-22 15:50] ahyangyi commented on #1674
Thank you, @laurentlb !

[2017-03-22 16:03] laszlocsomor opened #2726 "Log spam from MSVC"
MSVC is **very** chatty, I see miles and miles of output for building C++ with `--cpu=x64_windows_msvc`, e.g.:
[code]

[2017-03-22 17:10] meteorcloudy commented on #2726
The error message is incomplete, we should not filter them in msvc_tools.py, but that would only increase the size of output.
But try adding `--copt=/w --host_copt=/w`, the world will be quiet immediately.

[2017-03-22 17:53] cuadue opened #2727 "File permissions in bazel-bin are incorrect (all files are executable)"
### Description of the problem / feature request / question:

Every file in `bazel-bin/**/` is executable, including `*.runfiles_manifest`, `*.so`, `*.a` and `*.params`. It would be preferable if only files which can be executed have the executable permission bits set. This would make it easier to look through the produced files.

A quick comparison of files in `/usr/lib` shows that `*.so` and `*.

[2017-03-22 18:13] thaidn commented on #1718
+1 for a workaround.

Also what can we do to prioritize fixing the blocking issues?

[2017-03-22 18:19] laszlocsomor commented on #2726
cool, i'll try that tomorrow, thanks!
note that these messages are not errors but nots; for whatever reason msvc thinks it's important to make a note about each and every template instantiation, it seems

[2017-03-22 18:28] cgrushko commented on #2699
Fiiine I'll do it myself :)
https://github.com/google/protobuf/pull/2897

[2017-03-22 18:53] gregestren commented on #2691
Thanks for the detailed analysis and simplified repro, David. That's indeed suspicious if you see clearly different behavior in 0.4.4. vs. 0.4.5. I'm looking in further now...

[2017-03-22 19:43] gregestren commented on #2691
David,

This is indeed an incompatible change between 0.4.4 and 0.4.5 that did not make the release notes. Specifically: https://github.com/bazelbuild/bazel/commit/1f42581891cc5f463edc94f8e96502f1b3aff033#diff-dc563e4148084671f7d953e1fee35737R55 ("_Update GenRule to include the Cpp and Jdk toolchains and properly handle_").

What this change did was make it possible for genrules to write code like

[2017-03-22 19:43] #2691 closed

[2017-03-22 20:29] davido commented on #2707
Indeed, we can do it with one exception (I think that was the reason I did it): jgit sources:

[code]

Unrealted to using `alias` vs. `java_library` directly, i looked deeper into
what is the reason fo the breakage, because a *lot* of targets that depend
on `jgit` can be built successfuly.

The reason for the breakage is the license generation too chain. If I comment it out: [1] then all is fine:

[2017-03-22 20:30] david-german-tri commented on #2691
@gregestren Awesome, thanks for the explanation!  I've worked-around by converting the genrule that makes `ccache.txt` into a Skylark rule, which seems to avoid the implicit `:cc_toolchain` dependency.

https://github.com/RobotLocomotion/drake/pull/5595

[2017-03-22 20:52] cgrushko commented on #2699
@bogdandrutu can you try updating your protobuf to head and trying again?

[2017-03-23 03:01] ahyangyi opened #2729 "genrules now implicitly depends on the current C/C++ toolchain. Is it intended?"
Hi,

I was using a workspace one file of my toolchain comes from a `genrule`.
I upgraded to Bazel-0.4.5 today. Building targets in this workspace no longer works. The error message says there is a cycle in the dependency graph:

//path/to/my:target
@bazel_tools//tools/cpp:stl
//path/to/my:toolchain
//path/to/my:toolchain_generated_files (host)
//path/to/my:genrule (host)
//path/to/my:toolchain (ho

[2017-03-23 04:42] aj-michael commented on #2729
See #2691 for discussion of this change.

[2017-03-23 09:35] zubroid commented on #1308
Hi everyone!
The previous answer helped me in the begging of compilation, but in the very end I get the same again even with extra options. The error code:

`ERROR: /home/iwi/bazel/src/main/java/com/google/devtools/build/lib/standalone/BUILD:5:1: Java compilation in rule '//src/main/java/com/google/devtools/build/lib/standalone:standalone' failed: Worker process sent response with exit code: 1.
An

[2017-03-23 09:50] #2467 closed

[2017-03-23 09:50] #2606 closed

[2017-03-23 10:03] hermione521 commented on #2727
Hmm I can only see we do this for runfiles, and I couldn't find how we do this for other files.
@damienmg what do you think?

[2017-03-23 10:29] hermione521 commented on #2723
Confirmed

[2017-03-23 11:49] damienmg commented on #2727
I think that's nice to have but a lot of small work to do everywhere. With little impact, let's mark it as P4

[2017-03-23 12:01] zlalanne opened #2730 "Difference in design doc and real doc is confusing"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:

The documentation seems to be inconsistent when talking about the `use_default_shell_env` parameter of ctx.action

[Here](https://bazel.build/designs/2016/06/21/environment.html) it specifies that `use_defa

[2017-03-23 12:32] hanwen commented on #2707
query runs before analysis, so it walks all the config settings.

you have to either

1) provide a valid repo to use for the local repo setting. I'd suggest a clone. It's 22M. That's large, but not excessive compared to the 100M of deps we already download

2) comment out the things that lead into the local repo.

Maybe you can define the alias as

[code]

[2017-03-23 13:42] hermione521 commented on #2730
Well the first link is a design that published long time ago.. I'm not sure if we should modify the history design doc to match the current implementation.. @aehlig the author can decide.

[2017-03-23 14:07] davido commented on #2707
Thanks for clarifying, then i guess there is nothing we can do about it.

The difference is obvious the former is not needed by 99% of dev, the latter is needed by 100%. That why we can't do that.

Yes, That's exactly what I did.

[2017-03-23 14:07] #2707 closed

[2017-03-23 14:19] laszlocsomor commented on #1744
I haven't seen this for a long time, even in the msys-ful version.

[2017-03-23 14:19] #1744 closed

[2017-03-23 14:34] laszlocsomor commented on #1843
This is not a problem when running from cmd.exe

[2017-03-23 14:37] laszlocsomor commented on #2238
This has been fixed a long time ago.

[2017-03-23 14:37] #2238 closed

[2017-03-23 14:39] laszlocsomor commented on #2447
This bug is related to https://github.com/bazelbuild/bazel/issues/2725

[2017-03-23 15:14] lababidi commented on #1920
@mhlopko how can we help? where should we begin?

[2017-03-23 15:20] mhlopko commented on #1920
I don't think there is anything you could do right now. I'm discussing the design internally and soon I'll publish a design doc to bazel-discuss. Then I'll start implementing.

[2017-03-23 15:24] laszlocsomor commented on #2538
AFAIK this was fixed and I haven't seen this occurring in a long time.

[2017-03-23 15:24] #2538 closed

[2017-03-23 15:35] ulfjack commented on #1920
How about publishing the doc now, and having the discussion on bazel-discuss?

[2017-03-23 15:56] zlalanne commented on #2730
Ahh, I understand. It is a bit confusing because you land on that page when searching for how to use environment variables in Bazel, but it doesn't actually match the implementation.

[2017-03-23 17:56] #2319 closed

[2017-03-23 18:18] steven-johnson commented on #2722
Not sure how to interpret this response. Is there any workaround for 0.4.5?

[2017-03-23 18:24] laurentlb opened #2731 "Bazel-Publish-Site and Bazel-Push-Benchmark-Output is failing"
My blog post
https://github.com/bazelbuild/bazel/blob/master/site/blog/_posts/2017-03-21-design-of-skylark.md
doesn't appear no the website (https://bazel.build/blog/).

Anyone knows why?

@davidzchen

[2017-03-23 18:25] aj-michael commented on #2722
Sorry, that response was more for myself and other Bazel developers than for you.

Unfortunately I don't think there is a workaround for 0.4.5.

[2017-03-23 18:28] #2699 closed

[2017-03-23 18:56] gregestren commented on #2729
Hi Yi,

I have a pending fix for this, about to go up for review. That'll make those dependencies only happen when the genrule has "$(CC)", etc. in its command line.

[2017-03-23 18:59] ajayramesh23 commented on #2653
Just a heads up - I am participating in GSoC, I am currently working on this issue.

[2017-03-23 19:06] kchodorow commented on #2731
I don't think pushing the site has succeeded in several days: http://ci.bazel.io/view/Bazel%20bootstrap%20and%20maintenance/job/Bazel-Publish-Site/.

[2017-03-23 19:36] bpicolo opened #2732 "Bazel fails rebuilds for top-level directories starting with '_' (Source forest creation failed)"
### Description of the problem / feature request / question:
`bazel build //_foo:bar` fails rebuilds when _foo is underscored

### If possible, provide a minimal example to reproduce the problem:
[code]

### Environment info
* Operating System:
Mac 10.12.3 sierra
* Bazel version (output of `bazel info release`):
0.4.5-homebrew

###  Have you found anything relevant by searching the web? (e.g. GitH

[2017-03-23 20:09] aj-michael commented on #2732
This looks like the same issue as https://github.com/bazelbuild/bazel/issues/1998

[2017-03-23 20:10] bpicolo commented on #2732
Ah yeah, this is indeed the same:
https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/buildtool/SymlinkForest.java#L57

Unfortunate blacklist =(

[2017-03-23 20:26] ahumesky commented on #2722
Yeah bazel is trying too hard to get the ndk to work with the build, sorry for the inconvenience here. You can work around this by passing `--android_crosstool_top=` (that is, clearing the flag) when you build the non-android target.

[2017-03-24 06:16] davido commented on #1410
FWIW: Gerrit Code Review project created own version of `maven_jar` Skylark rule and extracted it to bazlets repository: [1]. It does not use `mvn`, though.

* [1] https://gerrit.googlesource.com/bazlets/+/master/tools/maven_jar.bzl

[2017-03-24 09:58] steren commented on #2542
This should be clarified in an upcoming version of the install doc s

[2017-03-24 10:06] hermione521 commented on #2730
Yes, I understand it's confusing. I would say we should make the pages of doc, design doc and blog more different. @steren

[2017-03-24 10:09] hermione521 commented on #2731
Yes, the job is failing after jenkins update :(

[2017-03-24 11:41] ittaiz commented on #2730
Maybe the design docs should be updated with a link to the implementation
docs after they've been implemented. Their status also needs to update so
just do it in the same go
On Fri, 24 Mar 2017 at 13:06 干悦 Yue Gan <notifications@github.com> wrote:

[2017-03-24 11:43] steren commented on #2730
This is very good feedback.
Even internally at Google, design docs and actual implementation may differ a bit, and also diverge over time.

We will take this into account when we redesign the website: blog posts should look different than documentation, and design docs should clearly be identified as design docs. With "status: Implemented" and a link to the doc.

[2017-03-24 11:55] steren commented on #2730
Let me send a patch to the design doc to link to the doc.

[2017-03-24 12:21] #1593 closed

[2017-03-24 12:21] #2284 closed

[2017-03-24 12:41] steren opened #2733 "Need "Using Bazel with Jenkins" documentation page"
Bazel is used both for local development and in continuous integration systems.
Jenkins is a very popular tool to setup continuous integrations.

This is a feature request to add a dedicated page in our documentation explaining how to setup a Bazel build job with Jenkins. Even if it is easy, we should provide snippets of a Jenkins config to run Bazel build and tests.

[2017-03-24 13:07] ittaiz commented on #2733
+1
On Fri, 24 Mar 2017 at 15:41 Steren <notifications@github.com> wrote:

[2017-03-24 13:12] steren commented on #2733
@damienmg and @ittaiz: since both of you configured bazel on Jenkins (or plan to), feel free to share any snippet or content in this thread, we'll use it for a documentation page.

[2017-03-24 13:26] krzysg commented on #2647
Hi,

I have a similiar problem. I am using:
Build label: 0.4.5- (@non-git)

on CentOS. I have no problem running `bazel --output_user_root=$HOME/bazel` but when I want to change directory to some project directories I get message `Error: unexpected result from F_SETLK:` (on Linux machine)
Of course it is worth to mention that my project directories are kept on Lustre infrastructure. I have checked

[2017-03-24 14:24] steren commented on #1387
An update: A new team member will be owning this work as a top priority.
We'll keep you posted when we have an estimate date.

[2017-03-24 16:19] ittaiz commented on #2733
Haven't gotten to it yet...
If we'll get to it before the issue closes we'll update here

On Fri, Mar 24, 2017 at 4:12 PM Steren <notifications@github.com> wrote:

[2017-03-25 04:22] butterl opened #2734 "Plan bazel to support Android Studio in Windows?"
Hi ,

 I'm new to bazel .Because of the build speed with Gradle in Android Studio , I want to change my build from Gradle to bazel , but from the offical web page  https://bazel.build/blog/2016/10/20/intellij-support.html

 Sadly I  use Android Studio as the IDE in windows.

And in the roadmap  https://bazel.build/roadmap.html  said:

 Is there any plan for bazel to support  Android Studio in Wind

[2017-03-25 16:40] thinlizzy opened #2737 "bazel run routes stdin to /dev/null for C++ applications"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:

When using bazel run to execute a C++ application that uses cin, it skips all cin reads.
If I manually execute the binary generated by bazel, it works as expected.

### If possible, provide a minimal exampl

[2017-03-25 20:04] lefromage opened #2738 "bazel 0.4.5 dist build failing on redhat 6.8 : //src:install_base_key-file failed"
I am getting this error when running : ./compile.sh
on bazel 0.4.5 dist , build failing on redhat 6.8
I am using
- jdk1.8.0_112
- scl enable devtoolset-4 bash
- gcc version 5.3.1 20160406 (Red Hat 5.3.1-6) (GCC)

I am able to build fine in redhat 6.8 in virtualbox.
but this is for production system which is setup differently.

INFO: From JavacBootstrap src/java_tools/buildjar/java/com/google/devto

[2017-03-25 20:45] lefromage commented on #2738
**this error also happens on bazel 0.4.4 dist**

**for bazel <= 0.4.3 (0.4.3 , 0.4.2, 0.4.0)** , I get a different error: **//src:bazel-bin failed
zip error: Output file write failure (write error on zip file)**

INFO: From Building src/main/java/com/google/devtools/build/lib/worker/libworker.jar (11 source files):
Note: src/main/java/com/google/devtools/build/lib/worker/WorkerSpawnStrategy.java u

[2017-03-25 21:21] lefromage commented on #2738
SOLVED: found the issue:
this is due to /tmp being limited to 1GB on the production system

the workaround is  to set TMPDIR to a directory that can grow larger

**mkdir /local/tmp
export TMPDIR=/local/tmp
./compile.sh**

and it works:

Target //src:bazel up-to-date:
  bazel-bin/src/bazel
INFO: Elapsed time: 186.093s, Critical Path: 173.89s
WARNING: /local/tmp/bazel_s6pBUHAr/out/external/bazel_too

[2017-03-25 21:21] #2738 closed

[2017-03-25 21:54] nick-jonas opened #2739 "Building TensorFlow example APK - cannot locate Android SDK"
I might be doing something really stupid as it's my first time using Bazel (in which case apologies), but when following [these instructions](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/examples/android) to build the TensorFlow Android examples, I run this command:

```bazel build -c opt //tensorflow/examples/android:tensorflow_demo```

And get the following error:

[code]

I'm

[2017-03-26 05:06] coroner4817 commented on #2739
I get the same issue here and what I did is version back TF to r1.1 and use bazel 0.4.3. Then you should build the app.

[2017-03-26 05:52] gunan commented on #2739
Are you sure you uncommented the androidsdk fields in the WORKSPACE file in TF repository root?
TensorFlow CI seems to be happily building the android demo with bazel 0.4.5 without any problems:
http://ci.tensorflow.org/job/tensorflow-master-android/

[2017-03-26 18:51] nick-jonas commented on #2739
@gunan yea, my WORKSPACE looks like this:

[code]

You can tell it's looking down the right path, but then for some reasons errors on this:

```/Users/njonas/Library/Android/sdk/system-images/.DS_Store is no longer an existing directory.```

[2017-03-26 19:43] nick-jonas commented on #2739
@coroner4817 I have those versions and I now get this error when running ```bazel build```:

[code]

I'm using ```pip install tensorflow==1.1.0rc0```, is it perhaps giving me a GPU instead of CPU version?  These are the versions offered up from pip: ```0.12.0rc0, 0.12.0rc1, 0.12.0, 0.12.1, 1.0.0, 1.0.1, 1.1.0rc0```

[2017-03-26 19:54] coroner4817 commented on #2739
@nick-jonas try to do this:
[code]
Then
[code]
If not 0.4.3, then try `brew switch bazel 0.4.3` or install bazel 0.4.3 from [Bazel release page](https://github.com/bazelbuild/bazel/releases/tag/0.4.3)

[2017-03-26 20:16] hochhaus opened #2740 "swift-stdlib-tool verbosity"
### Description of the problem / feature request / question:

Currently swiftstdlibtoolwrapper [passes](https://github.com/bazelbuild/bazel/blob/master/src/tools/xcode/swiftstdlibtoolwrapper/swiftstdlibtoolwrapper.sh#L70) `--verbose` to `swift-stdlib-tool`. This results in extraneous logging during builds. Could `--verbose` no longer be on by default?

[code]

### If possible, provide a minimal ex

[2017-03-26 20:46] nick-jonas commented on #2739
That worked!  Should I leave this open as it requires a rollback?

[2017-03-26 21:07] aj-michael commented on #2739
@nick-jonas can you paste the output of `ls -al /Users/njonas/Library/Android/sdk/system-images` and `bazel version`?

Bazel 0.4.5 should work fine with this, so I would like to understand what's going wrong on your machine. FWIW, Bazel 0.4.5 is the first version that `android_sdk_repository` looks at your SDK's `system-images` directory (we are preparing some rules that allow for testing Android

[2017-03-26 21:11] aj-michael commented on #2734
Hi @butterl , there is already an Android Studio plugin for Bazel (https://plugins.jetbrains.com/plugin/9185-android-studio-with-bazel). However, Bazel does not yet support Windows. The roadmap that you linked to has

[2017-03-27 07:24] damienmg commented on #2733
There is that: https://bazel.build/blog/2016/01/27/continuous-integration.html

[2017-03-27 07:25] damienmg commented on #2733
Also the TF team has been doing that a lot

[2017-03-27 08:54] damienmg commented on #2542
Adding items for this bug since 1fbef39741cb5bb21dfb698cce94dca7a87ae335 has landed:

1. We still support 14.04 until its end of life, we just requires an extra step if you are not installing from the apt repository (installing openjdk8). We should add it back to the doc.

2. We do not test for ubuntu 16.04, I don't feel comfortable adding official support for it whereas we do not have test for it

[2017-03-27 08:57] steren opened #2741 "Test for ubuntu 16.04"
Ubuntu 16.04 is an LTS release. Bazel must support it, so we must test Bazel on this Ubuntu version.

[2017-03-27 08:59] steren commented on #2542
2: I created #2741

[2017-03-27 08:59] steren commented on #2741
This seems like P0 to me.

[2017-03-27 09:01] damienmg commented on #2741
I send a Docker tests for now, we want to update all our 15.04 slaves to 16.10 so we run the full test suite on LTS but only bootstrapping on non LTS, sounds good?

[2017-03-27 09:01] steren commented on #2741
That sounds like a plan.
Thanks a lot

[2017-03-27 09:03] Carmezim opened #2742 "[MSYS2] Executing genrule @protobuf//:generate_js_well_known_types_embed failed"
Windows 10 x64
Msys2 v20160205
Bazel at HEAD (51b3a08e926d24c294b63b7354af77a9bfe8df67)
Visual C++ 2015

Error building TensorFlow

[code]

Steps to reproduce:
- Build bazel from source
- Build TensorFlow with generated binary on MSYS2

[2017-03-27 09:53] #2510 closed

[2017-03-27 10:52] hermione521 opened #2743 "Flag to export permissions in android_library() and android_resources() rules"
export reference id: 28599920
(sorry it's pretty old and I just noticed)

Sometimes users add information to manifests that include permissions required for the correct operation of the module.
The current behavior of Bazel strips permissions from android_library / android_resources rules that set exports_manifest=1 which means that users of a library need to explicitly list permissions by trawlin

[2017-03-27 11:36] damienmg commented on #2741
(reducing to P1, please keep P0 for immediate emergency)

As @philwo is moving the VM around he will make the Ubuntu 15.10 migrate to 16.04.

I already added the docker tests and it will hit the repo at next export.

[2017-03-27 11:39] #1460 closed

[2017-03-27 11:39] #1948 closed

[2017-03-27 11:39] #1973 closed

[2017-03-27 11:39] #2056 closed

[2017-03-27 11:39] #2508 closed

[2017-03-27 11:39] #2730 closed

[2017-03-27 11:56] meteorcloudy opened #2744 "CI failure: MSYS version Bazel hangs on `bazel info output_base` command"
http://ci.bazel.io/job/TensorFlow/BAZEL_VERSION=HEAD,PLATFORM_NAME=windows-x86_64/745/console
The `bazel info output_base` command hangs forever here.

I also noticed that, on my local machine, if you run `bazel info` twice, the second time still took a long time.

This doesn't happen with MSVC version Bazel.

//cc @laszlocsomor I suspect there is still some unsolved issues from https://github.com

[2017-03-27 12:19] steren opened #2745 "Links to Ubntu and OSX installation documentation are broken"
Go to https://bazel.build/versions/master/docs/install.html

Click on the left nav links 'Install on Ubuntu'.
Browser opens on https://bazel.build/versions/master/docs/install-ubuntu.html

Expected: installation doc
Observed: 404

it is the same for the following pages: https://bazel.build/versions/master/docs/install-os-x.html

Is this a problem with the website deployment mechanism?

[2017-03-27 12:23] michelleirvine commented on #2745
A third link is broken as well: **https://bazel.build/docs/windows-chocolatey-maintenance.html**

I'll look into this and fix asap

[2017-03-27 12:51] steren commented on #2745
Thanks. As I mentioned. Chances are that the problem lies within our deployment mechanism, and not in the documentation markdown. @damienmg can help you troubleshoot.

[2017-03-27 12:57] ulfjack commented on #2646
I'm still seeing this issue (or an issue exactly like it) in a presubmit today:
[code]

[2017-03-27 13:28] philwo commented on #2742
Hi @Carmezim,

could you please check and post the output of the following?

ls -l bazel-out/host/bin/external/protobuf/js_embed.exe
file bazel-out/host/bin/external/protobuf/js_embed.exe

I'm curious why that file cannot be executed and gives an "Exec format error".

[2017-03-27 13:28] ulfjack commented on #1413
I've made some progress on the underlying infrastructure, and I just put a change together this morning to reimplement remote caching in the new infrastructure. However, I don't have tests yet, and the code also still needs to be hooked up in the right way. It's probably still a few weeks before this is fixed.

[2017-03-27 13:30] ulfjack commented on #2646
If we check in a jar, maybe we just haven't updated that yet?

[2017-03-27 13:31] philwo commented on #2740
@dmishe Could you have a look at this?

[2017-03-27 13:59] michelleirvine commented on #2542
Do you need to install OpenJDK 8 when compiling from source? We have one set of instructions for compiling on source which covers all platforms, and we don't currently mention OpenJDK 8. See: https://bazel.build/versions/master/docs/install-compile-source.html

In the doc for using binary installer for Ubuntu, the first step is to install OpenJDK 8. Is this needed for all three Ubuntu versions?

[2017-03-27 14:10] Carmezim commented on #2742
Sure
[code]

[2017-03-27 14:13] philwo commented on #2742
@laszlocsomor It looks like this build somehow generated a non-executable exe file, which "file" only recognizes as "data". :|

@Carmezim If you don't mind, could you attach the js_embed.exe file to this bug report? I really wonder what it is, if it's not a valid exe file.

[2017-03-27 14:14] michelleirvine commented on #2542
Also - should I add this change (now supporting 16.04, will continue to support 14.04) to the release notes? Do I do that with the RELNOTES: tag in the change description?

[2017-03-27 14:15] philwo commented on #2744
Happened again: http://ci.bazel.io/job/TensorFlow/BAZEL_VERSION=HEAD,PLATFORM_NAME=windows-x86_64/746/console

[2017-03-27 14:20] damienmg commented on #2542
OpenJDK installation is not needed if you install from APT repositories. It's is needed when using the shell installer / compiling from source.

We do not need to add that to release notes, new support should be reflected on the documentation.

[2017-03-27 14:25] dmishe opened #2746 "macOS installation page is broken"
https://bazel.build/versions/master/docs/install-os-x.html results in 404

[2017-03-27 14:26] Carmezim commented on #2742
There you go
[js_embed.zip](https://github.com/bazelbuild/bazel/files/872701/js_embed.zip)

[2017-03-27 14:26] steren commented on #1413
The REST remote caching API will not change and after Ulf's changes, it will be called when building with Bazel.

[2017-03-27 14:44] mwitkow commented on #1413
@steren @ulfjack can you please clarify?

We're interested in the [`remote_protocol.proto`](https://github.com/bazelbuild/bazel/blob/master/src/main/protobuf/remote_protocol.proto) interfaces. Is that what you consider REST APIs? Hopefully these are also affected by @ulfjack fixes to the caching, since this is one of the primary blockers for us.

[2017-03-27 15:03] adamhowardprice opened #2747 "Feature Request: Private Includes"
cc @dflems, plz fill in more info

[2017-03-27 15:04] nick-jonas commented on #2739
@aj-michael
[code]

I now installed Bazel 0.4.3 from the release page, so I get this with ```bazel version```:
[code]

I *did* have Android Studio open, so maybe I should try with it closed and with 0.4.5?

[2017-03-27 15:08] aj-michael commented on #2739
I would suggest trying this:

1. Delete /Users/njonas/Library/Android/sdk/system-images/.DS_Store
2. Reinstall bazel 0.4.5
3. Paste the output of `bazel version` here
4. Try building the example app again

(To be clear, this definitely seems like a Bazel bug. I'm just not sure what's causing it and I cannot reproduce it.)

[2017-03-27 15:18] philwo commented on #2646
This is blocking the merge of a contributed CL by Alpha. I'll have a look at whether we forgot to create / update a checked in JAR in Bazel tomorrow.

[2017-03-27 15:27] aj-michael commented on #2739
Actually, I can reproduce this (but I am not sure if my repro case really constitutes a bug)

[code]

[2017-03-27 15:43] aj-michael commented on #2739
So @nick-jonas , I think something was just modifying the .DS_Store in your system-images directory while bazel was reading it. In fact, older versions of Bazel don't read system-images, but they do read other parts of the SDK (like the top level and build-tools). So even with bazel 0.4.3, you could encounter this same error if something wrote $ANDROID_HOME/.DS_Store or $ANDROID_HOME/build-tools/.

[2017-03-27 17:04] softprops commented on #2746
I noticed this as well. It appears to be fixed now

[2017-03-27 17:04] softprops commented on #2745
This is a dup of https://github.com/bazelbuild/bazel/issues/2746. It seems to be fixed now

[2017-03-27 17:05] softprops commented on #2745
well not for windows but osx and ubuntu are now fine

[2017-03-27 17:18] michelleirvine commented on #2746
This is being resolved in [#2746](https://github.com/bazelbuild/bazel/issues/2745) - closing this duplicate issue.

[2017-03-27 17:18] #2746 closed

[2017-03-27 18:05] steren commented on #1413
Yes, I was underlining the [REST API of remote caching](https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/remote/RemoteOptions.java#L23) but I suppose that the other APIs will not be affected either by @ulfjack's work. He is fixing the underlying implementation.

[2017-03-27 18:09] thomasmarsh opened #2748 "Receive "no such package 'tools/objc': BUILD file not found on package path." on Bazel queries"
We don't have the root cause isolated, but we experience the following error:

[code]

It is possible to get past these by using the "--keep-going" and these aren't too hard to ignore, but it did cause us some initial difficulties as we mistook this as the cause of build failure.

### Environment info
* Operating System:
macOS

* Bazel version (output of `bazel info release`): release 0.4.5

[2017-03-27 19:04] nick-jonas commented on #2739
Thanks @aj-michael , with Bazel 0.4.5 I confirmed that it still will throw an error on .DS_Store but simply deleting that file will result in a successful build:

```bazel version```:

[code]

I'm not sure if this is considered a bug? While very minor it seems like one a lot of people on OSX would encounter, no?

[2017-03-27 19:35] aj-michael commented on #2739
I'm unsure of what needs to occur for someone to encounter this. My theory is that this will only happen if the following sequence of events happens:

1. Start a bazel build
2. Open /sdk/system-images in Finder for the first time (or when there is not a .DS_Store there) before bazel build finishes.

If the .DS_Store exists before the build, or is created after the build, everything should be fine.

[2017-03-27 20:46] aj-michael commented on #2743
This bug contains references to a bunch of stuff that isn't in Bazel.

The relevant part of this issue is that the `exports_manifest` attribute of `android_library` defaults to 0 while it probably should default to 1.

[2017-03-28 03:47] dflems commented on #2747
Basically, this is to request the same functionality provided by `includes`, but to add relative header search paths to the compiler flags *only* for the current library and not export the flag to any libraries that depend on it. Right now, this can be accomplished by manually adding `copts` like `-Ipath/too/foo`, but that's not exactly compiler independent, and the flag must be relative to the wo

[2017-03-28 04:40] dflems commented on #2747
This actually appears to be a dupe of #2670 (I thought I had commented on this matter before, but couldn't find it in a search)

[2017-03-28 08:18] sdtwigg opened #2749 "@bazel_tools//tools/jdk:java|javac don't depend on a JDK"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:

@bazel_tools//tools/jdk:java and @bazel_tools//tools/jdk:javac alias to
@local_jdk//:java and @bazel_tools//:javac, respectively. Both of which are merely filegroups. However, they are essentially prebuilt

[2017-03-28 08:20] sdtwigg commented on #2749
Suggestion is that instead of being filegroups, they should be some other rule that exposes the single files as executables with runfiles as the jdk.

[2017-03-28 09:14] laszlocsomor commented on #2744
Does anyone have repro instructions? I tried it with bazel built at 7cd006a16 and everything worked fine:

[code]

[2017-03-28 09:22] meteorcloudy commented on #2744
I just tested this, found out that it happens if you use Windows path as output_user_root, for example
`bazel --output_user_root=C:/tmp5 info output_base `

[2017-03-28 09:25] qiaohaijun commented on #2485
I met the same issue,

[2017-03-28 09:35] laszlocsomor commented on #2744
Thanks, I can repro now!

First 3 runs are with a Windows-style path and they take a long time indeed.
Then with a MSYS path it's fast. I'll look into it.

[code]

[2017-03-28 09:36] meteorcloudy commented on #2744
Great, thanks!

[2017-03-28 09:39] hlopko opened #2750 "Simplify link_dynamic_library.sh handling"
Simplify code around `link_dynamic_library.sh` using Tool { with_feature: '' }. See if we really have to always add the script as a dependency to C++ rules.

[2017-03-28 09:52] laurentlb commented on #2731
Apparently, it has been fixed: https://bazel.build/blog/2017/03/21/design-of-skylark.html

[2017-03-28 09:52] #2731 closed

[2017-03-28 10:32] ittaiz commented on #2485
Klaus,
I agree it's documented but I think it might be somewhat hidden. Maybe this
should be highlighted better (not sure where) since it's very typical in
the OSS to checkout a project and try to build it intuitively (like using
compile.sh).
Wdyt about renaming compile.sh?
Also- Does the error message link to the above page in the site? If not
maybe it should
On Tue, 28 Mar 2017 at 12:25 qiao hai

[2017-03-28 10:43] ulfjack commented on #2646
I think our CI is running with released Bazel, which doesn't contain the fix. I tried running at HEAD and that works.

[2017-03-28 10:43] #2646 closed

[2017-03-28 10:44] ulfjack commented on #2646
Well, it works in the sense that it'll give a reasonable error message, not crash - you still need to fix the code to work properly. If you have a working Bazel binary, here's how to do a build with Java 7:

[code]

[2017-03-28 12:12] philwo commented on #2646
Thanks @ulfjack for the easy to use reproduction steps!

I was able to find the compilation issue preventing the presubmit for Alpha's change from passing using that. It was then just a one-line fix to make that code Java 7 compatible.

[2017-03-28 12:31] philwo commented on #2742
The js_embed.exe consists of 2097152 bytes that all have the value 0. I don't know what happened there. Personally, I've also seen the MSYS compilers sometimes generate empty files as outputs...

If you delete it and just "bazel build" again, it should work. Obviously this shouldn't happen, we'll have to stress test Bazel on Windows a lot more to catch and fix all these bugs.

[2017-03-28 13:20] Carmezim commented on #2742
MSYS doesn't seem really robust and reliable as you pointed out. I will test as instructed and can update you if all goes fine.
Thanks!

[2017-03-28 13:24] steren commented on #2539
@ittaiz that works we would be happy to review your changes

[2017-03-28 13:25] damienmg opened #2751 "End to end test for bazel rules are hard to write"
In Bazel we use //src/test/shell to do end to end tests, those tests are in shell so hard to maintain and we do not expose that framework for rules writer.

We could:
   - Clean-up our e2e support
   - Expose it in @bazel_tools
   - Expose the bazel binary as a dependency so we can write those tests.

/cc @steren @or-shachar

[2017-03-28 14:38] Carmezim commented on #2742
I was building on a new TF clone and got this error now

[code]

[2017-03-28 14:53] philwo commented on #2742
@meteorcloudy FYI

[2017-03-28 15:03] meteorcloudy commented on #2742
Hi @Carmezim , I don't know how to fix "Exec format error" as well.

But for `AssertionError: Could not find python binary: python3.exe`, I noticed Bazel doesn't take `python3_path` for host build when specifying `--host_python_force_python=py3`.

Can you delete `--host_python_force_python=py3`, and rerun the build again?

[2017-03-28 15:20] laszlocsomor commented on #2742
I'm bumping this to P1. Sounds like we may have a correctness issue here if we indeed generate corrupt output files. We need to investigate whether it's a problem with bazel or with the compiler/linker. And this time it was the MSVC toolchain; i've only seen the rare corrupt output with GCC.

[2017-03-28 15:21] meteorcloudy opened #2752 "Windows: Bazel doesn't take python3_path when using --host_force_python=py3"
[code]

A simple repro for this:
[code]
Then try to build `:gen`, you'll get:
[code]

[2017-03-28 15:25] meteorcloudy commented on #2742
@laszlocsomor Yeah, sounds like a P1 to me as well.

@Carmezim I just filed https://github.com/bazelbuild/bazel/issues/2752 for the python3 error.

[2017-03-28 15:44] meteorcloudy commented on #2752
Just noticed this also happens on Linux, but there is usually `python3` available under `/usr/bin`.
But it is not intended to ignore the python3_path for host build, right? @damienmg

[2017-03-28 15:44] Carmezim commented on #2742
@meteorcloudy  here is the log after deleting `--host_python_force_python=py3` from `bazelrc`
[code]

[2017-03-28 16:40] steren commented on #2747
Let's mark it as duplicate of #2670 and close it

[2017-03-28 16:40] #2747 closed

[2017-03-28 17:10] petemounce commented on #1941
@dslomov @meteorcloudy @damienmg is there anything else I can provide to help?

[2017-03-28 17:23] kchodorow commented on #1941
Sorry about the delay, this got lost in my inbox!

The maven_jar skylark rule is failing at `ctx.which('openssl')`.  I'm not sure what implementation of `which` Skylark is using on Windows, but I'm guessing that if it can't find openssl, it's wrong.

[2017-03-28 17:42] StevenEWright commented on #125
Friendly Ping :)

![Ping](https://s-media-cache-ak0.pinimg.com/originals/a9/2e/11/a92e1152e626c096499d940b3d67371f.gif)

[2017-03-28 17:54] allevato commented on #125
In addition to the objc-to-CROSSTOOL work that @calpeyser mentioned, there has also been an ongoing effort to move the application bundling rules for Apple platforms to Skylark that we hope to have released in the coming weeks. Once both of those pieces are in place we plan to have some macOS rules ready for folks to try out.

So... things are happening. Please stay tuned :)

[2017-03-28 18:49] petemounce commented on #1941
Ah. Which does not exist on Windows out of the box. `cmd` gives you `where`, PowerShell gives you `Get-Command`.

[2017-03-28 19:53] #2666 closed

[2017-03-28 19:53] #2714 closed

[2017-03-28 19:53] #2729 closed

[2017-03-28 23:32] gregestren commented on #2691
I've fixed the underlying issue: https://github.com/bazelbuild/bazel/commit/bf0b990f5c00b9fb3d60f1c54956f4a22cabc687

[2017-03-29 02:12] dmishe commented on #2740
Fixed in f1792e3a67a110d74eb134a93c6331aa0b61bf3c

[2017-03-29 02:12] #2740 closed

[2017-03-29 07:51] ittaiz commented on #2371
Ping :)
On Tue, 21 Mar 2017 at 15:57 Philipp Wollermann <notifications@github.com>
wrote:

[2017-03-29 08:20] meteorcloudy opened #2753 "Windows: TensorFlow GPU Bazel build is broken"
There are several issues found by @Carmezim:
1. https://github.com/bazelbuild/bazel/issues/2752: python3_path is not taken for host config
2. https://github.com/bazelbuild/bazel/issues/2742#issuecomment-289812880
[code]

@Carmezim, I also tried to build tensorflow using [this script ](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/ci_build/windows/gpu/pip/build_tf_windows.sh

[2017-03-29 08:21] meteorcloudy commented on #2742
@Carmezim I filed a separate issue for TF GPU build, please check https://github.com/bazelbuild/bazel/issues/2753

[2017-03-29 08:32] damienmg commented on #1941
According @meteorcloudy, `repository_ctx.which` is implemented the same way on windows that we do on Linux: we iterate over the PATH to find the environment variable.

Could that be a problem with casing of the environment?

[2017-03-29 08:33] damienmg commented on #1941
/cc @laszlocsomor

[2017-03-29 08:37] laszlocsomor commented on #1941
About envvars: on Windows the Bazel client will [uppercase a few envvars](https://github.com/bazelbuild/bazel/blob/05e5b86e79c656da70cb049deb1b42447b153e8f/src/main/cpp/option_processor.cc#L464-L465), the rest of them are passed to the server as-is. Even if `$PATH` is defined as `Path`, as it is on Windows, we will pass it on as `PATH`.

[2017-03-29 08:39] laszlocsomor commented on #1941
This error could be related to https://stackoverflow.com/questions/42341374.

[2017-03-29 09:37] laszlocsomor commented on #2744
https://github.com/bazelbuild/bazel/commit/78b8be6486d4cd0e1515e5cc19b865671e01c743 fixed this.

[2017-03-29 09:37] #2744 closed

[2017-03-29 09:58] laszlocsomor commented on #2647
@krzysg : sounds like Lustre doesn't support file locking. That is plausible given that Lustre is a distributed file system where locking is difficult. Bazel could give a better error message and continue though.

[2017-03-29 10:36] Carmezim commented on #2753
@meteorcloudy Thanks for looking into it. I will try your suggestion later today and update you.

[2017-03-29 10:44] hewei05 commented on #2739
I got the same problem

ERROR: /Users/xxx/workspace/git-workspace/tensorflow/WORKSPACE:25:1: no such package '@androidsdk//': com.google.devtools.build.lib.skyframe.InconsistentFilesystemException: Inconsistent filesystem operations. /Users/xxx/AndroidSDK/sdk/system-images/.DS_Store is no longer an existing directory. Did you delete it during the build? The results of the build are not guaranteed

[2017-03-29 12:32] #2715 closed

[2017-03-29 12:43] ulfjack commented on #2609
We shouldn't crash for actions with no inputs. I'll fix this as soon as I get everything else working again.

[2017-03-29 13:43] laszlocsomor opened #2754 "Windows: running a cc_test requires presence of `//tools`"
### Description of the problem / feature request / question:

`cc_test` rules can only be run if there's a `//tools` directory.

### If possible, provide a minimal example to reproduce the problem:

[code]

Then:
[code]

### Environment info
* Operating System: Windows 10
* Bazel version (output of `bazel info release`): 0.4.5

[2017-03-29 13:54] michelleirvine commented on #2745
These links are all fixed

[2017-03-29 13:54] #2745 closed

[2017-03-29 13:58] michelleirvine commented on #2542
Doc for installation on Ubuntu has been updated: https://bazel.build/versions/master/docs/install-ubuntu.html

[2017-03-29 13:58] #2542 closed

[2017-03-29 14:22] Carmezim commented on #2753
@meteorcloudy I modified as instructed and executed the script but it hangs during bazel clean.

[code]
common_env.sh
[code]

[2017-03-29 14:28] meteorcloudy commented on #2753
This is a known issue, https://github.com/bazelbuild/bazel/issues/2744,
But it's already fixed, can you rebuild Bazel from HEAD?

[2017-03-29 14:32] Carmezim commented on #2753
@meteorcloudy Good catch. I will do and follow up

[2017-03-29 15:27] #2698 closed

[2017-03-29 15:28] damienmg commented on #2418
Deactivated the test.

[2017-03-29 16:51] aj-michael commented on #2739
Ah, I have found the problem. It was right there in the error message all along.

Because .DS_Store was never a directory, it is a file. `android_sdk_repository` is making an assumption that all files under `/sdk/system-images` are directories, which is true in the official SDK distribution, but in practice anyone can write any files there whenever they want. (Such as the Mac Finder application wr

[2017-03-29 16:57] vladmos commented on #2115
Hello. Sorry for the late answer.

You need to explicitly provide the generated file from the rule implementation function, for example:

    def _impl(ctx):
      ctx.file_action(
          # Access the default outputs using ctx.outputs.<output name>.
          output=ctx.outputs.my_output,
          content="Hello World!"
      )
      return struct(runfiles=ctx.runfiles(files=[ctx.outputs.my_ou

[2017-03-29 16:57] #2115 closed

[2017-03-29 17:33] #1490 closed

[2017-03-29 23:14] YanYas opened #2756 "bazel.exe Entry Point Not Found"
Hi,

### Description of the problem / feature request / question:

_If asking a question or requesting a feature, also tell us about the underlying problem you're trying to solve._

I managed to build Bazel on Windows 8 okay using Chocclatey (it took a couple goes because of script permissions) but everything seemed to be okay.
Running the following command in CMD with administration privileges

`

[2017-03-30 01:07] jart commented on #1868
Ping since this is very stale for a P1. Fixing this helps Bazel keep its promises w.r.t. resources. It doesn't seem like something that would be high effort.

[2017-03-30 01:12] jart commented on #438
Respectfully closing this issue, because it's a subset of #1733 and I might already have a Skylark solution to the superset.

[2017-03-30 01:12] #438 closed

[2017-03-30 01:23] lswith commented on #2652
Rules for [Hacklang](https://docs.hhvm.com/hack/) is what I meant by referring to HHVM. I think building in the [Hackificator](https://docs.hhvm.com/hack/tools/hackificator) and the [hack transpiler](https://docs.hhvm.com/hack/tools/transpiler) would be useful in these circumstances.

[2017-03-30 01:27] jart commented on #1733
@kchodorow I've defined the Skylark rule [java_import_external](https://github.com/bazelbuild/rules_closure/blob/master/closure/private/java_import_external.bzl) which has served Nomulus, TensorFlow, Closure Rules, and Webtesting Rules well for months. This Skylark rule addresses all the concerns raised in this issue.

Is it time for this rule to graduate to the Bazel project? If so, please take a

[2017-03-30 01:31] jart commented on #1950
@philwo I'm helping with OKR planning. Is it possible this issue is the cause of the sandbox bug workaround we've had to employ here? https://github.com/tensorflow/tensorflow/blob/a86b86a2d25efbc5767ac5d270725bf85db183ff/tensorflow/tensorboard/defs.bzl#L34

[2017-03-30 03:06] sergiocampama opened #2757 "Transitive workspace dependencies not working"
### Description of the problem / feature request / question:

I have a github repo/workspace where I define some new rules in https://github.com/sergiocampama/bazel-msp430. This github repo has 2 dependencies on external binaries using the new_http_archive repository rules, which can be seen in https://github.com/sergiocampama/bazel-msp430/blob/master/WORKSPACE.

I am trying to create a developmen

[2017-03-30 03:20] sergiocampama commented on #2757
I can manually add the following to make the bazel_issue_repro/WORKSPACE file and it works, but I'm wondering if there's a better way to accomplish what I want without having users of the msp430 rules configure this in their WORKSPACE:

(notice the `build_file` attributes)

[code]

[2017-03-30 07:31] damienmg commented on #1868
P1 means blocking the milestone, but the milestone is 0.6 we are still addressing 0.5. Anyhow, @philwo can you have a look for planning at least?

[2017-03-30 07:56] mariaBio commented on #2387
I have exactly the same with bazel 0.4.3. To reproduce: echo 'Bob did not bring pizza to Alice.' |syntaxnet/demo.sh --conll. Result is copy-pasted bellow.
@pedrosimao , could you please tell how did you solve the problem?
Thank you very much for any help you could provide!

2017-03-30 09:54:46.006039: W external/org_tensorflow/tensorflow/core/platform/cpu_feature_guard.cc:45] The TensorFlow librar

[2017-03-30 08:04] pedrosimao commented on #2387
Maria, I did reinstall everything, and did a reboot. I also decided to use Anaconda. I am not sure of what was causing the problem for me. I am sorry if I can't be more helpful...

[2017-03-30 08:13] mariaBio commented on #2387
Pedro,  Thank you very much for your quick reply. I just found the solution for that specific problem, maybe it would be of use. This question was addressed here: http://stackoverflow.com/questions/37875614/how-to-use-syntaxnet-output/38012558#38012558
To get the output in conll format one has to comment the last line of the demo.sh script. Then, redirect the output to some file. Hope it helps.

[2017-03-30 08:17] sdtwigg commented on #970
I have been working with this experimentally and have had a few rough parts:
Original stream-of-conscious discussion here https://github.com/bazelbuild/rules_scala/issues/164#issuecomment-290275055 but will try to distill into better action items. The key items are in bold, my analysis will follow after each item. I apologize in advance that they aren't necessarily 'ordered' well....

* **'java_sk

[2017-03-30 08:18] philwo commented on #1868
So, a bug like this is a P1 and should be fixed ASAP. But I can't reproduce this and can't remember hearing a similar report from anyone else. We also have integration tests that ensure that this works and they pass (and the only time they didn't was when they were flaky).

[code]

[2017-03-30 08:22] philwo commented on #1868
I just verified that I can also not reproduce this when using --worker-sandboxing:

[code]

[2017-03-30 08:23] philwo commented on #1868
@jart Can you try to reproduce this with the newest Bazel? And if it still happens, can you give me some more information about your environment, so that I can try to reproduce it?

[2017-03-30 09:11] royalharsh commented on #2399
It would be great if anyone could review this: https://bazel-review.googlesource.com/#/c/9610/

[2017-03-30 09:58] iirina commented on #970
Thanks for all your feedback, Stephen! To address your items:

Yes, you are right. `exports` should also allow rules that return `JavaProvider`. This can be easily fixed.

`JavaProvider` was first designed as a black-box until `java_common` had a pretty stable API. The plan was to open it up steadily, as soon as there was a need for something. Returning a `compile_jars` is a very reasonable and ea

[2017-03-30 10:13] jart commented on #1868
It's been awhile since I reported this. What you reported sounds so convincing that I consider this matter satisfactorily resolved. If I encounter this again, I'll let you guys know.

[2017-03-30 10:13] #1868 closed

[2017-03-30 10:55] laszlocsomor commented on #2756
Which version of MSYS do you have installed?
Can you try and bootstrap 0.4.5 from source and see if it works? (Just download the [distribution archive](https://github.com/bazelbuild/bazel/releases/download/0.4.5/bazel-0.4.5-dist.zip) and run `./compile.sh` from an MSYS shell.)

[2017-03-30 10:57] philwo commented on #1868
@jart Thanks a lot! Sure, let me know whenever you see this happening again - it would definitely be a pretty big issue that I'd want to fix! :)

[2017-03-30 10:57] laszlocsomor commented on #2756
Also, what's your `PATH`?

[2017-03-30 11:25] Carmezim commented on #2753
I received this one building
[code]

[2017-03-30 11:53] meteorcloudy commented on #2753
Hi @Carmezim, I also got this error.

It happens because we hit a bug from MSVC linker. When using `/WHOLEARCHIVE` option on system lib files, for example, '/WHOLEARCHIVE:external/local_config_cuda/cuda/lib/cublas.lib', the linker will produce an error like this.
It happened before, https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/bazel-discuss/tDGrTAtaxYw/bolMYX0TCAAJ

The

[2017-03-30 12:34] Carmezim commented on #2753
Cool, thank you for the thorough explanation and great work :)

[2017-03-30 12:38] damienmg opened #2759 "Action Cache on macOS without sandboxing throws an exception on TF when removing a workspace"
Reported by the TF team, its breaking their presubmit on macOS:

Someone from our team is working on cl/150259144
This adds a new compile time external dependency to TF, snappy.

They ran a presubmit for this, and it happened to run on mac5 on our jenkins cluster.
And it was a passing build:
http://ci.tensorflow.org/job/tensorflow-cl-mac/18149/

However, every single build that got scheduled on th

[2017-03-30 12:42] damienmg commented on #2759
So it is C++ specific, we can only repro on the ci machine. /cc @gunan fyi

It fails when building `//tensorflow/core:lib_internal`:
[code]

Content of the .bazelrc:
[code]

Content of /etc/bazel.bazelrc:
[code]

And finally chaging the output base with -s give those command-line:
[code]

[2017-03-30 12:45] damienmg commented on #2759
(note that the target does only link action not compile action)

[2017-03-30 13:05] philwo opened #2760 "test_sandbox_mount_customized_path fails on Ubuntu 16.04"
test_sandbox_mount_customized_path fails, because a binary it creates segfaults on Ubuntu 16.04.

The test fails in the last action, where it tries to run the bazel-bin/hello-world binary with the linux-sandbox while mounting "source" to "target":

philwo@philwo-test:~/test$ $linux_sandbox -D \

src/main/tools/linux-sandbox.cc:169: linux-sandbox-pid1 has PID 28912
[...]
src/main/tools/linux-sandbo

[2017-03-30 15:32] kchodorow commented on #2757
Unfortunately, heirarchical workspace files are not supported, yet (which is what you're trying to accomplish).  See #1943 for the relevant bug.  For now, you do have to specify all repositories.  One thing you can do to make your users lives a little easier (possibly) is define a skylark function in msp430_rules like `msp430_repositories()` that looks like:

[code]

Then the user can load() and e

[2017-03-30 20:22] EricCousineau-TRI opened #2761 "Error message in `_find_cc` (`cc_configure`) should use value in `$CC` rather than directly stating `gcc`"
I had made a typo in my environment variables, accidentally setting `export CC=clang-4.9` (rather than `clang-3.9`); however, the error message returned was:
```Cannot find gcc, either correct your path or set the CC environment variable.```

It could be better stated as something like:
```Cannot find gcc or $CC (clang-4.9), either correct your path or set the CC environment variable.```

[2017-03-30 21:03] bluecmd commented on #89
The way I read the comment was not that it was awkward to do it, but that way proposed would make it awkward.

Doing transitive dependency resolution automatic is a sure way to make dependencies you have no idea that you're using end up in your build artifacts, something that scares me.

FWIW, I'm using `generate_workspace` and it works pretty well. Not the most user-friendly thing in the neighbor

[2017-03-30 21:35] rohitsaboo opened #2762 "Ability to specify per_file_copt for external repositories"
I want to be able to add the following to my .bazelrc in order to silence unused parameter warnings from protobufs. However, per_file_copt does not seem to work with the leading `@` to identify other repositories.
`--per_file_copt=@com_google_protobuf//.*,@com_google_protobuf//.*@-Wnounused-parameter`

(Of course other personally less appealing alternatives include setting `-Wnounused-parameter` f

[2017-03-30 21:49] ittaiz commented on #970
thanks @sdtwigg for leading this integration in the rules_scala area! I'm sure we're all waiting eagerly for progress there

[2017-03-30 23:28] pauldraper commented on #89
And you generally don't need to know. Encapsulation + abstraction. You don't care how a library is implemented, just as long as it works. True, there are times when that is relevant, and you can check.

Regardless, running a program (generate_workspace) to generate a program (WORKSPACE) to generate a program (jar) is odd. A build tool should be able to combine those steps through automation.

[2017-03-30 23:39] shamanskyh opened #2763 "ios_test rules can't depend on dynamic objc_framework"
Hi, I'm trying to integrate a third-party dynamic framework with our existing binary but I'm having some trouble doing so.

In our WORKSPACE file, we define the following external dependency:
[code]
I then try to depend on it in a test target in one of our BUILD files:
[code]
But when I call `bazel build --ios_minimum_os=9.0 --verbose_failures  '//Platform/InternalObjCLibrary:UnitTests'`, I get th

[2017-03-31 00:41] jiayiliu commented on #1035
+1, esp. if the home dir is on NFS.

[2017-03-31 06:07] gunan commented on #2759
we just saw this in a gpu build too:
https://ci.tensorflow.org/job/tensorflow-pull-requests-xla/297/console

[2017-03-31 08:15] steren commented on #2763
@aragos would you be able to provide some guidance? or route to somebody who could?

[2017-03-31 08:15] bluecmd commented on #89
I can think of plenty of cases where you would care. I care what licenses we use, and besides sometimes Maven dependencies needs tuning ("I'm not using MySQL, and this package depends on it for a single mode of operation"*). A developer simply +1'ing the version and causes a new dependency to get pulled in is bad. Sure, we could have presubmits and what not, but those would be Maven specific. We h

[2017-03-31 09:44] mwitkow commented on #2557
@damienmg Would you guys accept upstream patches if we were to contribute them?
 * optionally fetching github GIT urls as http archives
 * uploading these post-factum to remote cas cache

[2017-03-31 10:41] aljabrr commented on #2662
@royalharsh @harmank Has the PR been merged? I could love totake on it.

[2017-03-31 10:44] aljabrr commented on #2571
@philwo, @iirina any progress on this yet?

[2017-03-31 10:47] royalharsh commented on #2662
PR hasn't been merged yet.

[2017-03-31 10:51] philwo commented on #1950
@jart I can't follow. I got here from a document that listed outstanding issues from the TensorFlow team. This bug is about a generated C++ header not being symlinked by the sandbox for cc_binary targets. But the file you linked to concerns TypeScript?

Could you give me a minimal reproduction example of what is supposed to work? Then I can turn it into an integration test and fix the underlying i

[2017-03-31 11:00] philwo commented on #2571
@aljabrr I don't think anyone of us is working on it. Please feel free to send a patch via Gerrit. :)

The help string for that option is here:

https://github.com/bazelbuild/bazel/blob/94fbad5b230ae0c02a88100f1978d40d17d57b71/src/main/java/com/google/devtools/build/lib/bazel/rules/BazelRulesModule.java#L51

It is used to automatically build the documentation on the website, so just changing that

[2017-03-31 12:12] afking commented on #2221
@dmishe any updates on support for mixed swift/objc libraries? When will it be possible for Bazel to build iOS apps with swift?

[2017-03-31 12:29] afking commented on #875
@c-parsons any updates on the new skylark solution?

[2017-03-31 13:15] kchodorow opened #2765 "Bazel should re-execute actions when switching between sandboxed/non-sandboxed runs"
Right now, if I do `bazel build //foo; bazel build --sandbox_strategy=standalone //foo`, the second build will just be the cached results from the first.  However, obviously I wouldn't have turned off sandboxing if I expected it to have the same results as the first build.

Right now, the only workaround I know is to manually delete outputs or run a full `bazel clean`.

[2017-03-31 13:41] kchodorow opened #2766 "Crash in implicit outputs string interpolation"
For example, I had: `outputs = {'b' : 'b%{testonly}'}` and got:

[code]

Full rule for ease of testing:

[code]

It doesn't have to work, but it should probably print something nicer.

[2017-03-31 14:42] dmishe commented on #2221
It is possible, you just have Objective-C sources in an objc_library, and Swift sources in swift_library.

[2017-03-31 14:43] kchodorow commented on #1733
I like it, ship it.

Maybe we could have a wrapper that makes it a bit more like your example in https://github.com/bazelbuild/bazel/issues/1733#issuecomment-245172371: takes an artifact identifier and populates some likely repos.

[2017-03-31 14:57] sergiocampama commented on #2763
I see that your path for `framework_imports` is just the root folder, but it actually needs all the files in the framework. Can you try this?

[code]

[2017-03-31 15:09] sergiocampama commented on #2668
@kchodorow the path seems to be wrong for where it's trying to find the external WORKSPACE, wdyt?

[2017-03-31 15:15] #1681 closed

[2017-03-31 15:15] #2739 closed

[2017-03-31 15:15] #2753 closed

[2017-03-31 15:16] sergiocampama commented on #2624
We know there is a gap in functionality for ios_test... we are actively working on a replacement for this and should be released in the near future.

We are also working on a replacement for ios_test in the new [Apple Rules](https://github.com/bazelbuild/rules_apple) for Bazel. Stay tuned.

[2017-03-31 15:36] bluecmd commented on #1073
If you're using a keyphrase on your SSH key and using the native git_repository you will get this error:
[code]

This error comes from Jsch failing to authenticate, so it's a +1 on the issues with Jsch.

[2017-03-31 16:58] shamanskyh commented on #2763
Thank you so much, @sergiocampama - I really appreciate your help. That did the trick and the `ios_test` rule builds as expected now.

[2017-03-31 16:58] #2763 closed

[2017-03-31 18:05] aj-michael commented on #903
An update:

Android emulator testing support is being actively worked on. The tools that Bazel uses for testing Android applications will not be bundled as part of Bazel, but instead will be accessible at https://github.com/google/android-testing-support-library.

The first step towards android testing support was checked in last night in 6dd0292fb522f68ea18371107d68934c3f7eee22. It is a new rule

[2017-03-31 19:48] philwo commented on #2741
This is done. As of https://github.com/bazelbuild/continuous-integration/commit/977fedbafce889a1a798ae8947b2fde6d86beb32, Bazel's CI now uses Ubuntu 16.04 LTS VMs instead of Ubuntu 15.10.

[2017-03-31 19:48] #2741 closed

[2017-04-01 08:18] jingcangcang opened #2767 "bazel test ... error"
question:
After bazel test ...
the terminal generate an error: there is one case failed
the error information is as follows:

//syntaxnet:parser_trainer_test                                          FAILED in 1 out of 2 in 41.9s

Executed 50 out of 50 tests: 49 tests pass and 1 fails locally.
There were tests whose specified size is too big. Use the --test_verbose_timeout_warnings command line opt

[2017-04-01 23:20] philbinj commented on #1525
Any further updates here?

[2017-04-03 02:34] benvanik opened #2768 "py_binary zipapp error on Windows under cmd"
I'm trying to run a py_binary (via bazel run as well as genrules) on Windows and getting a path error in the zipapp __main__.py that bazel is embedding. It works correctly under msys/cygwin.

The exact error as returned on bazel 0.4.5:
[code]

The issue is the `os.listdir` in [GetRepositoriesImports](https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/bazel/

[2017-04-03 02:35] aj-michael commented on #1410
Do any of the skylark maven rules work on Windows?

[2017-04-03 06:28] davido opened #2769 "Worker process crashes after bazel clean"
/CC @hanwen @damienmg

I'm using Bazel 0.4.5. To reproduce, use Gitiles project: [1].

The sequence `bazel build gitiles; bazel clean; bazel build gitiles` consistently leads to worker process crash:

[code]

Workaround: killing the worker process with `bazel shutdown` fixes the problem:

[code]

* [1] git clone https://gerrit.googlesource.com/gitiles

[2017-04-03 09:12] ulfjack commented on #1525
Not really. I talked to Lukacs, and he brought up some questions that I didn't know the answer to. I need to find some time to dig even deeper.

[2017-04-03 09:49] jbasila opened #2771 "The use of 'select' is broken when used in a dependency of a cc_binary"
### Description

When creating a 'cc_binary' rule for creating a dynamic library which depends on a static library rule (cc_library) that has a 'select' for it's sources an error of 'Conflicting actions' occur:

**BUILD:**
[code]
**a.c**
[code]
**dummy.c**
[code]
When trying to build the **liba.so** target, this is the output:
[code]

[2017-04-03 10:36] meteorcloudy commented on #2753
Hi @Carmezim, I think now you can now build TensorFlow with GPU support with Bazel from HEAD (bdb4fe4).
You might get this issue https://github.com/tensorflow/tensorflow/issues/8919. if you don't have patch installed in MSYS. But should be easy to fix.

[2017-04-03 11:01] Carmezim commented on #2753
@meteorcloudy That's great! Thank you very much for your help!

[2017-04-03 12:25] Carmezim commented on #2753
I started to get some errors about cuDNN path not found when building but configuring was successful. cuDNN is properly installed and not happening before. TensorFlow side?
`Auto-Configuration Error: Cannot find cudnn install path.`

[2017-04-03 12:39] meteorcloudy opened #2772 "Windows: Bazel shouldn't depend on msvcrt.dll"
The Bazel binary, no matter MSYS or MSVC version, depends on msvcrt.dll.
The reason is we link against [advapi32.lib, ,ole32.lib, shell32.lib](https://github.com/bazelbuild/bazel/blob/master/src/main/cpp/BUILD#L54), and they depend on `msvcrt.dll`
[code]

//cc @laszlocsomor Is it possible to avoid these dependencies?

@dslomov

[2017-04-03 12:43] laszlocsomor commented on #2772
`msvcrt.dll` is a very common system library, not depending on it (transitively) would be very difficult if not impossible. What's the motivation to break this dependency?

[2017-04-03 12:48] meteorcloudy commented on #2753
Are you using `build_tf_windows.sh`? If so the cuda path is set to `C:\tools\cuda` in [bazel_test_lib.sh](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/ci_build/windows/bazel/bazel_test_lib.sh#L189), you might also want to modify this.

[2017-04-03 12:56] meteorcloudy commented on #2772
See discussion [here](https://groups.google.com/a/google.com/d/msgid/bazel-androidstudio/CAOZBPs6%3D0X0iA9SwhJycf1Wu483rUb2Z%2Br3xLTL%3DHXFH%3DDFSLA%40mail.gmail.com?utm_medium=email&utm_source=footer).
It would be nice to not have this dependency, but maybe it's not urgent.

[2017-04-03 12:59] laszlocsomor commented on #2772
I see, thanks! It's a very basic library, contains implementation for many POSIX API functions that we use, avoiding it seems to be rather difficult if at all possible. I see no problems with static linking though.

[2017-04-03 13:03] Carmezim commented on #2753
I am using bazel build as in the TensorFlow docs after building bazel at HEAD on. I will do with buld_tf_windows with cudnn path figured. Thanks!