[2022-09-29 19:54] c-parsons commented on #16345
Sure thing. Will follow up by next week.

[2022-09-29 20:14] fmeum commented on #10923
@jheaff1 Would an analogue of `$(location //foo)` that returns the correct path for `rlocation` help you realize this? I could see that being more user-friendly than yet another "some type of name of a repo" thing.

[2022-09-29 20:26] brandjon commented on #16323
I believe so. I hit a snag that I need to create a second incompatible flag to flip alongside it, but I don't believe that'll stop me.

[2022-09-29 20:33] brandjon opened #16355 "incompatible_package_group_has_public_syntax"
**Description:** This flag adds the new string constants `"public"` and `"private"` as allowed values for `package_group`'s `packages` attribute. `"public"` admits every package into the package group, which is the same behavior as `"//..."` prior to `--incompatible_fix_package_group_reporoot_syntax` (#16323). `"private"` admits no packages and has the same effect as omitting it from the list; it

[2022-09-29 20:38] jheaff1 commented on #10923
@fmeum Absolutely that would be very useful. Ive found that using `$(rootpath` rather than `$(location` provides exactly what `$(rlocation` requires apart from the workspace name.

[2022-09-29 21:54] c-parsons commented on #16296
Apologies, I don't quite follow the suggestion. How would we pass PropagationHints with "root", "roots", and "shared" to a cc_shared_library target? Presumably you're suggesting cc_shared_library would define PropagationHints which can be constructed with a string list of attribute names, and then use the value of a passed PropagationHints to know which attributes to propagate the aspect? But I'm

[2022-09-29 22:07] Yannic opened #16356 "incompatible_remote_downloader_send_all_headers"
**Description**: This flag changes the JSON sent to the gRPC remote downloader as qualifier `bazel.auth_headers` from a map of strings to a map of list of strings.

**Rationale**: Headers can, in general, be defined multiple times, not just once.

**Migration**: Flipping this flag might cause failures when using the Remote Assets API when the server supports reading this qualifier. Contact your se

[2022-09-29 22:08] Yannic commented on #16356
cc @tjgq

Please add the following labels: `breaking-change-6.0`, `incompatible-change`

[2022-09-29 23:06] ismell commented on #16136
Which release did this land in?

[2022-09-29 23:48] bsilver8192 commented on #13569
Noting that this still seems to be true. Also the flag is no longer experimental or Windows-specific, so it's now called `--watchfs`, which would make this easier to find if the title and tags were updated.

I might try fixing this soon, no promises.

[2022-09-29 23:57] konste commented on #13569
Wow, I missed when experimental flag got removed. Title updated. Not sure I have permissions to update tags.
Want to assure you that this issue is still very much actual and important.
"No promises" implied, but thanks for the hope!

[2022-09-30 01:13] jwnimmer-tri commented on #11775
The Debian (Ubuntu) package is more that just the raw `bazel` binary that's provided on each releases' github page.

The Debian package **also** includes the bash and zsh completion files [1,2], as well as the `/usr/bin/bazel` bash script that implements the `tools/bazel` project-specific hook [3].

I think the installing the shell completion files system-wide is an important part of the user expe

[2022-09-30 01:21] jwnimmer-tri commented on #16104
The instructions at https://bazel.build/install/ubuntu#install-on-ubuntu worked just fine[1] for me on Ubuntu 20.  It's not clear to me what the call to action is here.

Could you clarify?

---

[1]
[code]

[2022-09-30 08:55] meteorcloudy commented on #16323
I see, please add `migration-ready` label when the flags are available at HEAD so that the flags get tested in https://buildkite.com/bazel/bazelisk-plus-incompatible-flags 's nightly run, you can also [trigger a downstream test](https://github.com/bazelbuild/continuous-integration/blob/master/docs/downstream-testing.md) for flipping those flags.

[2022-09-30 09:22] bsilver8192 commented on #13569
I looked at the `.bazelignore` part of this a bit, and there's some complications because the `DiffAwareness` code processes `Root`s, but `IgnoredPackagePrefixesFunction` looks for a `.bazelignore` at the root of each repository. I think it can use something related to `PathPackageLocator` to check if the `Root` is for the main repository. Or maybe just have `SequencedSkyframeExecutor` pass the in

[2022-09-30 10:26] oquenchil commented on #16296
cc_shared_library built-in code defines and exposes the provider PropagationHints. Your custom rule can instantiate this provider which the graph structure aspect will be able to see.

In the PropagationHints instance that you create, you place in a list field the attributes of your custom rule through which you want propagation to happen. I think this separates responsibilities cleanly. For examp

[2022-09-30 15:36] meteorcloudy commented on #16356
Please don't forget adding `migration-ready` label, otherwise the incompatible flags pipeline won't test this one.

[2022-09-30 15:38] meteorcloudy commented on #16353
Should we close this issue since `incompatible_remote_dangling_symlinks` is already true at HEAD?

[2022-09-30 15:40] meteorcloudy commented on #16345
I assume you want this to be fixed before 6.0 cut? Therefore, adding the `6.0.0 release blockers` milestone.

[2022-09-30 15:54] fweikert opened #16360 "Status of Bazel 6.0.0-pre.20220922.1"
- Expected release date: 2022-09-30

Task list:

- [x] Pick release baseline: [4e7d2a24](https://github.com/bazelbuild/bazel/commit/4e7d2a24715130ea5aec098e44f43fa603fad6b7)
- [x] Create release candidate: https://releases.bazel.build/6.0.0/rolling/6.0.0-pre.20220922.1rc1/index.html
- [x] Post-submit: https://buildkite.com/bazel/bazel-bazel/builds?branch=release-6.0.0-pre.20220922.1rc1
- [x] Push

[2022-09-30 15:59] tjgq opened #16361 "Decide how to handle a symlink inside a remotely produced tree artifact"
Tree artifacts are defined as a collection of regular files. However, a remotely executed action may produce a tree artifact containing a symlink (as reported by the remote execution protocol). The current behavior is to reject such a symlink if it's absolute, and to transparently dereference it to a regular file *in the context of the local filesystem* if it's relative. This is arguably a bad ide

[2022-09-30 17:47] UebelAndre commented on #16232
@fmeum wondering if you have thoughts on this one. Could this be handled similar to the proposal for `RunEnvironmentInfo.arguments` (https://github.com/bazelbuild/bazel/issues/16076) where [RunEnvironmentInfo](https://bazel.build/rules/lib/RunEnvironmentInfo) gains a `run_under` field that:
- If set will follow the standard `--run_under` behavior.
- If set to `None`, will explicitly disable `--run

[2022-09-30 18:29] konste commented on #13569
It should be perfectly fine as there is (would be) easy workaround - use .bazelignore to exclude external workspaces.

Wow, progress!

[2022-09-30 18:38] Gorbush opened #16364 "MacOS + Docker + Cache on the VirtioFS volume => "ERROR: Failed to initialize sandbox: /sandbox/inaccessibleHelperDir (Permission denied)""
### Description of the bug:

When I run the bazel build (Even of bazel itself) inside the Docker container on the MacOS host, with the build cache residing on the mounted volume - the build fails with the error below.
I have found a way to patch the flow to make it pass for this case - by reordering the operations of setting the attributes for file and folder "inaccessible".
See the zip file with

[2022-09-30 18:40] Gorbush commented on #16364
Docker container [bazel-mac-issue.zip](https://github.com/bazelbuild/bazel/files/9686911/bazel-mac-issue.zip)
Includes:
diff.patch - suggested patch to reorder the file operations
error.message - the error message I see

[2022-09-30 18:43] Gorbush commented on #16364
To reproduce the issue - run
`make build run`

And it will produce the volume folder with the following files:
* 00_build_original.log  - log of the build to check that the regular run is good
* 01_build_patched.log - log of the build to produce the patched version of bazel-dev
* 02_build_broken.log - log of the build with the cache residing on the mounted volume (/opt/workspace)
* 03_build_by_pat

[2022-09-30 18:43] Gorbush commented on #16364
the last build is also failing with some other error, much after the initial failure with unpatched version

[2022-09-30 18:45] Gorbush commented on #16364
BTW this is also reproducible using any other way of redirecting the cache folder:
* ln -s /opt/workspace/.bazel-cache  ~/.cache/bazel
* adding startup --output_base=/opt/workspace/.bazel-cache to .bazelrc
* defining export TEST_TMPDIR=/opt/workspace/.bazel-cache

[2022-09-30 18:50] Gorbush commented on #16364
It feels like the VirtioFS does not allow to change the permissions if the file is not Readable.
https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/sandbox/LinuxSandboxedStrategy.java#L58
I tried to change the order of the operations, and it passed that stage.
Instead of current
[code]

I reordered them into
[code]

[2022-09-30 19:04] #16290 closed

[2022-09-30 20:20] brandjon opened #16365 "Delete flag incompatible_package_group_has_public_syntax"
Tracking issue for the removal of --incompatible_package_group_has_public_syntax after it's flipped.

Blocked on the actual flip (https://github.com/bazelbuild/bazel/issues/16355). (I created the tracking issue early just to reference it in TODOs.)

[2022-10-01 00:39] mauriciogg opened #16368 "D8 dex merger fails when a synthetic class is placed on a different shard than its container class"
### Description of the bug:

 a desugared lambda is packed in a different shard than the one
from its original class D8 will fail with the following message:

`Attempt at compiling intermediate artifact without its context
`
e.g.

I'm encountering an issue when compiling my app with the following classes:
`org/chromium/base/MemoryPressureListener
``org/chromium/base/MemoryPressureListener$$Externa

[2022-10-01 00:52] chiragramani commented on #10702
Yeah, we are seeing this issue as well.

![image](https://user-images.githubusercontent.com/11925399/193376366-be2f2612-ae2d-4a6a-ae41-83592523c6dd.png)

- Linking took ~8.5 seconds but actuallyCompleteAction took 6.4 seconds. (this makes the overall linking action take ~15 seconds)
- Symlink creation takes significant time. (~12.5 seconds)
![image](https://user-images.githubusercontent.com/119253

[2022-10-01 18:19] cameron-martin commented on #16298
Putting all the toolchain proxies into one repository seems to work. Shall I close this issue?

[2022-10-01 20:23] vapier opened #16370 "bzlmod crashes when it can't resolve a module"
### Description of the bug:

trying to use a local registry, but bzlmod crashes when it can't find the module

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[code]

### Which operating system are you running Bazel on?

Linux

### What is the output of `bazel info release`?

release 5.3.1

### If `bazel info release` returns `development

[2022-10-02 00:11] veblush opened #16371 "`-std=c++14` in `tools/bazel.rc` ignored when building external repos"
### Description of the bug:

Recently gRPC bumped the version of C++ to 14 and its [tools/bazel.rc](https://github.com/grpc/grpc/blob/6fdbe6794695be853cdb87095a6b90868517f985/tools/bazel.rc#L5) got `--cxxopt='-std=c++14'` option to handle this. This worked and gRPC started having more C++14 code. But this began to have an issue when gRPC tried to upgrade protobuf to the version which started using

[2022-10-02 03:35] aryeh-looker opened #16373 "Link to `rule(...)` Documentation from https://bazel.build/rules/lib/rule"
https://bazel.build/rules/lib/rule has little information about how to use the `rule` callable. Add a link to https://bazel.build/extending/rules to help users learn more.

[2022-10-02 03:37] aryeh-looker opened #16374 "Document How to Properly Document a Rule"
i.e. should it be `"""docstring"""` at the top of a `def.bzl` file? etc.

Should probably live here https://bazel.build/extending/rules

[2022-10-02 05:27] aryeh-looker opened #16375 "Error Message Could be Improved for `http_file`"
### Description of the bug:

_No response_

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

_No response_

### Which operating system are you running Bazel on?

_No response_

### What is the output of `bazel info release`?

_No response_

### If `bazel info release` returns `development version` or `(@non-git)`, tell us how you built Baze

[2022-10-02 20:43] aranguyen commented on #16139
@jfirebaugh The way `config_setting_group` is currently implemented such that at the top level analysis, Bazel is not seeing different things in `config_setting_group` for specialization resolution to happen so the behavior you’re seeing is actually as intended. The original design for `config_setting_group` is meant for AND_ing and OR_ing config settings only. Although to be fair, it was not clea

[2022-10-02 20:58] HappyCerberus commented on #4005
There seems to be some progress on the Clang side: https://releases.llvm.org/15.0.0/tools/clang/docs/StandardCPlusPlusModules.html

Any corresponding changes on Bazel's side?

[2022-10-02 21:33] aaronmondal commented on #4005
@HappyCerberus This is the one we implemented in `rules_ll`. The current state is likely not stable enough for native rules. For instance, lambdas are not merged correctly in certain cases and we cannot use Clang's BMI caching system when building modules with Bazel.

Currently, BMIs contain absolute paths to their sources at the time of precompilation. This means that sandboxed precompilations ar

[2022-10-02 21:36] martis42 commented on #14950
@oquenchil
I see `interface_deps` has been reverted back to `implementation_deps`. Can we expect it to stay this time, or are there further breaking changes planned for this feature?

Should we close this issue, now that `interface_deps` and the associated migration issues are no longer present?

[2022-10-03 04:35] sgowroji commented on #16375
Hello @aryeh-looker, Could you please share the expected error messaging for the above observation. Thanks!

[2022-10-03 04:36] sgowroji commented on #16374
Hello @aryeh-looker, Could you please elaborate your query with complete details. Thanks!

[2022-10-03 04:37] sgowroji commented on #16373
Hello @aryeh-looker, Could you please elaborate your query on the above request. Thanks!

[2022-10-03 08:42] jerone opened #16378 "Support VS2022 Build Tools"
### Description of the feature request:

Projects that are using Bazel, cannot upgrade to the latest version of [.NET 6](https://dotnet.microsoft.com/en-us/download/visual-studio-sdks).
For .NET 6 support for [Build Tools for Visual Studio **2022**](https://visualstudio.microsoft.com/downloads/#build-tools-for-visual-studio-2022) is required.
Right now Bazel [support](https://bazel.build/install/w

[2022-10-03 13:48] katre commented on #16298
I'd prefer to leave the issue open but low priority. While there's a workaround, it's good to track that there's a gap in our functionality and I would like to see if it can be addressed.

[2022-10-03 14:41] #16104 closed

[2022-10-03 15:09] #16356 closed

[2022-10-03 15:17] jfirebaugh commented on #16139
I have a workaround, so (1) is fine with me. Although I would also propose that if it's intended that this configuration does not work in the way that I believe most users would expect, it should be made to produce a runtime error.

[2022-10-03 15:34] #13829 closed

[2022-10-03 17:34] octalthorpe opened #16379 "Runfile collisions across transitions"
### Description of the bug:

When building up runfiles there can be cases where the 'short_path' is identical
yet the actual file is different due to transitions. So when a rule is building up runfiles using ctx.runfiles
only one of the files that collides will be present in the runfiles.
The collision can be silent, giving no errors or indications it has occurred.

The attached zip contains a pro

[2022-10-03 17:52] tetromino commented on #13605
I believe this should be fixed by cf99f8476df4110ac749deda15340ebde74a2116 + dfa9c62abda21dcf187df9d2a2c00ecefda223e0 + 16b82af1b7eac1a13fa73390a68fa03297a29630

[2022-10-03 17:52] #13605 closed

[2022-10-03 18:40] nkoroste commented on #16368
@ahumesky

[2022-10-03 20:48] vdye opened #16380 "Support internal dependencies that are resolved on-disk via another tool"
### Description of the feature request:

Add "filesystem adapter" API(s) so that when a source file isn't found on-disk during the [loading phase][bazel-loading-phase], Bazel can fall back on a user-specified function to vivify the file (if it exists) rather than throwing an error.

This request comes from a desire to have Bazel work in a Git [sparse-checkout][git-sparse-checkout] environment _wit

[2022-10-04 00:24] konste commented on #14023
We use `--experimental_output_directory_naming_scheme=diff_against_baseline` and noticed that it works well for Bazel built-in (or just well known) platforms, but does not work for custom platforms. For example we have very simple custom platform for Emscripten:
[code]
When we build for that platform directly output goes to `asmjs-opt` folder, but when we arrive at exactly the same configuration t

[2022-10-04 07:39] lberki commented on #10298
@larsrc-google do I understand correctly that the last blocker was #16290 which just got fixed?

[2022-10-04 07:49] larsrc-google commented on #10298
No more blockers from my side. @tjgq is tracking the RBE-related bits.

[2022-10-04 08:00] fmeum commented on #10923
@lberki I have been thinking about proposing a `$(location ...)` variant that returns the correct path for Rlocation for a while. The way runfiles work with Bzlmod would almost make this a requirement for location expansion to remain useful in `args`. What do you think?

[2022-10-04 08:02] lberki commented on #10298
...and @meisterT says that it's all good on the remote execution side, so then I assume all bits are ready, except for flag administration (we don't want this to be enabled within Google)

[2022-10-04 10:41] Wyverald commented on #10923
We already have `native.repository_name` and it does what it says on the tin (https://bazel.build/rules/lib/native#repository_name). @fmeum's & @jheaff1's question is more about the runfiles/execpath use case, where we sometimes need the *workspace name*, which is only accessible right now in a rule ctx object (https://bazel.build/rules/lib/ctx#workspace_name; also to note, *not* the same as [Labe

[2022-10-04 10:42] Wyverald commented on #15685
@meteorcloudy FYI, we could maybe look into this

[2022-10-04 10:50] lberki commented on #10923
@Wyverald I'm embarrassed! I specifically looked for the identifier called `repository_name` and didn't find it in the source code. My bad.

[2022-10-04 10:52] lberki commented on #10923
The issue with making the (global) workspace name available in Starlark code is that then the evaluation of BUILD files in external repositories would be a function of the content of the main repository, which isn't too intuitive (it's problematic enough for `ctx.workspace_name()`, but we can't help that because that's how runfiles work at the moment.

[2022-10-04 11:02] meteorcloudy commented on #15685
@petemounce Thanks! I filed an issue to track this: https://github.com/bazelbuild/continuous-integration/issues/1456

[2022-10-04 11:09] meteorcloudy commented on #16370
This is already fixed at https://github.com/bazelbuild/bazel/commit/00bd2910bf76df9a10d7fff466fab6485ad71cbe

[2022-10-04 11:09] #16370 closed

[2022-10-04 11:14] lberki commented on #16353
@coeuvre can you tell me a bit more about why the decision is made solely based on whether the symlink is dangling or not?

Naively, I would think that `UploadManifest.addFiles()` would take into account whether the action output being uploaded is an unresolved symlink or not, but that information is not even available in that method.

[2022-10-04 11:20] lberki commented on #16355
To make our discussion on Friday less obscure: why is this planned to be implemented in the `packages=` attribute as opposed to e.g. two new `public=` / `private=` attributes which would be mutually exclusive with each other or `packages=` or in some other way that doesn't involve making `packages=` possibly mean two different things?

One of the long-standing and nigh-unfixable issues with the ru

[2022-10-04 11:21] lberki commented on #16345
@brandjon what's the impact of this issue? All things being equal, I'd much rather this doesn't take energy away from e.g. .bzl visibility and I don't immediately see why this is urgent enough to warrant the status of being a release blocker.

[2022-10-04 11:22] lberki commented on #15365
@Wyverald how's progress on this issue?  What's still missing from `modquery`?

[2022-10-04 11:24] fmeum commented on #10923
@lberki That plus the fact that having yet another `workspace_name` would be confusing made me think that being able to get Rlocation paths out of location expansion may indeed be the best solution to this issue (see also the comment by @jheaff1). Since `native.repository_name` returns the right identifier for everything *except* runfiles discovery, why not add a way for users to get the full runf

[2022-10-04 11:34] Wyverald commented on #15365
We still need to merge @andyrinne12's remaining changes; they're all sent to me but I haven't had time to review them in depth.

[2022-10-04 11:44] #16360 closed

[2022-10-04 12:08] meteorcloudy commented on #15365
I'm changing this to P2 just in case we don't have enough time to fix all 6.0 release blockers before the cut.

[2022-10-04 12:17] hisener commented on #15650
As @cushon mentioned, indeed `org.immutables.generator.SourceExtraction.JavacSourceExtractor` only works when the type element is `com.sun.tools.javac.code.Symbol.ClassSymbol`.

![image](https://user-images.githubusercontent.com/7688949/193810419-9871f8ee-0b78-4319-91e4-813774710b31.png)

I think we can introduce a new `SourceExtractor` to handle `TurbineTypeElement`s.

[code]

However, there are

[2022-10-04 12:20] lberki commented on #12932
Bumping this down to P2 to indicate our collective desire to get this into Bazel 6.0, but also that we won't postpone the release cut for this, should this and other P2s be the only things that remain.

[2022-10-04 12:20] lberki commented on #12933
Bumping this down to P2 to indicate our collective desire to get this into Bazel 6.0, but also that we won't postpone the release cut for this, should this and other P2s be the only things that remain.

[2022-10-04 12:21] lberki commented on #16345
Bumping this down to P2 to indicate our collective desire to get this into Bazel 6.0, but also that we won't postpone the release cut for this, should this and other P2s be the only things that remain.

[2022-10-04 12:30] lberki commented on #11261
@brandjon Do I understand correctly that these two issues are blockers for this one:

https://github.com/bazelbuild/bazel/issues/16323
https://github.com/bazelbuild/bazel/issues/16355

?

[2022-10-04 12:31] lberki commented on #15365
SGTM. It would be a pity, but we are quickly running out of room to postpone the 6.0 cut, so I think it's a good decision to put this in the "not a hard requirement" category.

[2022-10-04 14:49] meteorcloudy commented on #16159
We still need more time to finish implementing features (https://github.com/bazelbuild/bazel/issues/16124, https://github.com/bazelbuild/bazel/issues/11261), fix breakages (https://github.com/bazelbuild/bazel/issues/16296) and flip incompatible flags, therefore we are pushing the 6.0 cut by another two weeks (to 2022-10-24).

[2022-10-04 15:09] c-parsons commented on #16345
That's fine. Having this issue fixed in 6.0 is not something that matters to my project, for a couple of reasons:

- `--incompatible_unambiguous_label_stringification` no longer breaks us in either the true or false case (the root issue where I discovered this underlying bug).; we've made our integration resilient to the value of this flag.
- Our project cuts a Bazel at HEAD frequently. We won't b

[2022-10-04 16:47] fmeum commented on #16375
Just thinking out loud: Why not go further and create an alias at `@available_port_finder//:AvailablePortFinder.java`? Not all file names will be valid labels, but the overwhelming majority will be.

[2022-10-04 17:03] cushon commented on #15650
Those classes are deliberately non-public, the expectation is that processors should go through the supported JSR-269 APIs, instead of relying on processor-specific internal data structures.

[2022-10-04 18:32] hisener commented on #15650
That's fair, but I am not sure how much work that would require on the Immutables side. :man_shrugging:  Do you have any recommendations?

[2022-10-04 19:40] #11997 closed

[2022-10-04 19:51] rickeylev opened #16382 "Allow ctx.expand_location to skip mixing in hard-coded attributes"
### Description of the feature request:

Essentially, add an arg to `ctx.expand_location` to tell it to _not_ mixin hard-coded attribute names. Or otherwise expose args to help control this behavior.

Today, ctx.expand_location will automatically mixin files from various attributes in [LocationExpander.java](https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/li

[2022-10-04 20:45] rickeylev commented on #15897
Per request, I've put together a public doc that talks about hurdles for moving the implementation over to Starlark. There's still more in the internal doc I need to move over, but it currently covers the major parts.

https://docs.google.com/document/d/1-dC4QAxX67r7qK77D5nrnpykBgZEN-I9KBGTBVZba4M/edit?resourcekey=0-jYhsNDu8EKga8kTuMX4u9Q#

[2022-10-04 21:21] jfirebaugh opened #16383 "register_toolchains and other globals are documented twice"
### Description of the bug:

`register_toolchains` is documented twice with slightly different documentation text.

https://bazel.build/rules/lib/globals#register_toolchains() is the permalink to both. If you visit that link you'll see both items. One reads "Register an already-defined toolchain..." and the other "Specifies already-defined toolchains...".

`register_execution_platforms()` and `rep

[2022-10-04 21:46] #14386 closed

[2022-10-04 21:53] f0rmiga commented on #16382
Thanks. I'd add that this makes moving native rules to Starlark rules more easily without unexpectedly breaking current behaviours.

[2022-10-04 21:54] f0rmiga commented on #16382
Also interested in more control over `expand_location`: https://github.com/bazelbuild/rules_python/pull/846.

[2022-10-05 08:37] larsrc-google commented on #15363
Yes, it would be appropriate to create the directories for the inputs. That would add a lot of directories to create. It'd be best to use the code in src/main/java/com/google/devtools/build/lib/sandbox/SandboxHelpers.java, which has been optimized a fair bit by now.

[2022-10-05 08:40] larsrc-google commented on #15340
Looping in @frazze-jobb who wrote the hermetic sandbox code.

[2022-10-05 08:49] larsrc-google commented on #14298
No, I can't say I know much if anything about the testing infrastructure either.

[2022-10-05 09:00] larsrc-google commented on #15018
@wilwell has run some statistics on memory usage, and there are frequently outliers that we don't see an easy way to predict. I suspect there are some cases where it's just the behaviour of the tool, particularly VM-based tools, but an easier way to find this problems could be useful.

[2022-10-05 10:13] larsrc-google commented on #15340
Leaving out `--experimental_use_sandboxfs` doesn't change this but reduces the problem space.

[2022-10-05 12:04] lberki commented on #10923
The reason why I was confused is that for some reason, I thought `$(rlocation)` is already a thing in Bazel so I went on a wild goose chase trying to figure out what *else* you want :)

I think both adding `$(rlocation)` and the same method to File is reasonable. @Wyverald , it looks like you also agree?

[2022-10-05 12:39] oquenchil commented on #14950
You can expect it to stay like this.

[2022-10-05 12:39] #14950 closed

[2022-10-05 12:45] coeuvre commented on #16353
Inside `UploadManifest` if the path is symlink, it is unresolved symlink. Resolved symlink will be resolved to the target ahead of time.

[2022-10-05 12:48] kotlaja opened #16385 "incompatible_disallow_java_import_empty_jars"
**Description:** We’re making java_import stricter by not allowing users to use it without specifying at least one jar file. In other words, “jars” attribute of java_import must not be empty.

In case you’re affected with this migration (you have an empty java_import.jars attribute), you’ll get the error “empty java_import.jars is no longer supported”.
Until you completely migrate, use the incompa

[2022-10-05 12:50] Wyverald commented on #16383
This is an unfortunate result of our documentation setup. One `register_toolchains` is for the WORKSPACE function and the other is for the MODULE.bazel function. cc @fweikert @meteorcloudy I was planning to do something about this after the branch cut.

[2022-10-05 12:54] kotlaja opened #16386 "Delete flag incompatible_disallow_java_import_empty_jars"
Tracking issue for the removal of _`--incompatible_disallow_java_import_empty_jars`_ after it's flipped.

Blocked on the actual flip (https://github.com/bazelbuild/bazel/issues/16385).

[2022-10-05 13:06] meteorcloudy commented on #16353
Can we close this one since the default value is already true for this flag? Is there any other follow up work needed?

[2022-10-05 13:08] coeuvre commented on #16353
Yeah, I think we can close this issue.

[2022-10-05 13:08] #16353 closed

[2022-10-05 13:15] meteorcloudy commented on #10298
Can someone clarify what else action items are needed for this issue? If none, let's close this one to reduce the number of release blockers for 6.0.

[2022-10-05 14:16] brandjon commented on #16355
The reason to support these in the `packages` attribute is to avoid asymmetry between `package_group` and bzl visibility. Under this approach, the only difference in the kinds of package specifications they accept is that bzl visibility can't tolerate negations.

Having "public"/"private" be valid package specifications for `package_group` is more of an aesthetic benefit than a practical one. I do

[2022-10-05 14:18] brandjon commented on #11261
Yes, and I'm about to add a third blocking flag as well. (Logically these are all the same flag though, in terms of the amount of migration work they represent.)

[2022-10-05 14:33] mvukov opened #16388 "--incompatible_default_to_explicit_init_py not respected when py_binary called from a rule with cfg="exec""
### Description of the bug:

In a .bazelrc I have defined `build: --incompatible_default_to_explicit_init_py`, needed for proper handling of automatically generated Python code for some Protobuf files. This auto-generated code is used in a py_binary. The binary works normally and the build option is respected. However, when I use the binary from a rule as e.g.

[code]
then I get an import error re

[2022-10-05 14:47] #16180 closed

[2022-10-05 15:12] sdtwigg commented on #14023
Having an ST hash with platforms changes is a known behavior (as simply removing the hash was causing action conflicts in rare, but predictable circumstances). There are some ideas for a more intricate changes that would obviate the need for the hash here.

Were you seeing correctness or performance issues because of the hash in this case? Or, is this mostly an ergonomics concern?

[2022-10-05 15:17] larsrc-google commented on #10298
I do believe that covers everything needed for 6.0.

[2022-10-05 15:20] fmeum commented on #10298
@larsrc-google Aren't we missing a commit that removes the `experimental`, enables the flag by default and disables it in Google's `.bazelrc`?

[2022-10-05 15:29] stnma7e opened #16390 "aquery: have a better error message in case of interruption from an IOException"
### Description of the bug:

When trying to run `aquery` on a target, I get the following error:
[code]

I had it print a stack trace using a local copy of Bazel@390d212d76e91f413f143b53a997b0bf846c453a:
[code]

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Not sure. None of my teammates can reproduce, and it just started happened (as fa

[2022-10-05 15:33] stnma7e commented on #16390
Also, this behavior has persisted across Bazel server restarts (and different Bazel versions, as mentioned above).

[2022-10-05 15:47] stnma7e commented on #16390
I just found the root cause of this. I had changed the `libraries_to_link` feature in the cc toolchain, and got to this exception after some digging:
[code]

[2022-10-05 16:16] konste commented on #14023
I don't understand how come `diff_against_baseline` works without appending a hash for some platforms and causes hash appended for other platforms.

It is not about ergonomics, it is really about build performance. Here is the scenario on the high level. We have a multiplatform build for the target platforms A, B, C. Many targets are built for the platform A, but they are also reachable through th

[2022-10-05 16:27] larsrc-google commented on #10298
Arg. Yes, you're right. Starting on that.

[2022-10-05 16:40] brandjon opened #16391 "incompatible_package_group_includes_double_slash"
**Description:** This flag causes the values in `package_group`'s `packages` attribute to no longer have the leading `"//"` stripped when output in `bazel query --output=proto` (or `--output=xml`). For instance, `//pkg/foo` would previously output as `"pkg/foo"`. This bug did not arise for package specifications that live outside the main repo, which always printed as `"@repo//pkg/foo"`.

**Migrat

[2022-10-05 16:41] brandjon opened #16392 "Delete flag incompatible_package_group_includes_double_slash"
Tracking issue for the removal of --incompatible_package_group_includes_double_slash after it's flipped.

Blocked on the actual flip (https://github.com/bazelbuild/bazel/issues/16391). (I created the tracking issue early just to reference it in TODOs.)

[2022-10-05 17:36] brentleyjones commented on #11920
@coeuvre how hard would this be to get fixed?

[2022-10-05 20:12] brown commented on #16161
I described in my bug report how I believe the problem can be reproduced.  Here are some more details.  You need to run Bazel in a configuration where it is unable to download remote repositories without using a proxy.  In this configuration check out tag 5.3.0 of the Bazel source code and perform a build using Bazel version 5.3.0 as follows:

    bazel build --jobs=2 //src:bazel_nojdk //scripts:b

[2022-10-05 20:53] brown commented on #16161
Today I cannot reproduce the problem using Bazel 5.3.1 compiling tag 5.3.1 of the Bazel source code, so I will close this issue.

[2022-10-05 20:53] #16161 closed

[2022-10-05 20:58] c-parsons commented on #16296
It probably does, but I haven't had the cycles to verify. I hope to get you an answer tomorrow. Sorry about this!

[2022-10-05 23:42] jfirebaugh opened #16395 "Improve documentation for create_cc_toolchain_config_info"
### Description of the feature request:

It would be helpful for developers of custom toolchains to have more complete documentation for [create_cc_toolchain_config_info](https://bazel.build/rules/lib/cc_common#create_cc_toolchain_config_info).

The existing documentation does not really explain many of the parameters. Specifically, the documentation for `features`, `action_configs`, `artifact_nam

[2022-10-06 01:53] kshyanashree commented on #16388
Hello @mvukov , It will be helpful if you could provide the minimal steps to reproduce the above request like sample repo? Thanks!

[2022-10-06 02:37] ahumesky opened #16396 "Migrate NDK integration documentation to rules_android_ndk"
Migrate documentation and examples, e.g.
https://bazel.build/docs/android-ndk

to use
https://github.com/bazelbuild/rules_android_ndk

[2022-10-06 02:38] ahumesky commented on #16316
Yes like keith said, please try https://github.com/bazelbuild/rules_android_ndk, it supports NDK 25

NDK integration going forward will happen there.

(We should update the documentation on NDK integration: https://github.com/bazelbuild/bazel/issues/16396)

[2022-10-06 02:38] #16316 closed

[2022-10-06 02:41] ahumesky commented on #13050
With https://github.com/bazelbuild/bazel/pull/13653 I'll close this, please feel free to reopen if this is still a problem

[2022-10-06 02:41] #13050 closed

[2022-10-06 02:42] ahumesky commented on #12840
Bazel's NDK integration has been rewritten into a separate Starlark implementation, you might try using the new rules:
https://github.com/bazelbuild/rules_android_ndk

[2022-10-06 07:26] #13185 closed

[2022-10-06 08:21] illicitonion commented on #11495
In a non-remote-execution world, that dependency on a directory causes the empty directory to be added to the sandbox. If you want the contents, you'd need to depend on a `filegroup` or similar which globs (or otherwise references) the contents.

I would assume remote execution should work similarly.

[2022-10-06 08:30] meteorcloudy commented on #16296
@c-parsons No worries, we pushed the release another 2 weeks back (2022-10-24), so we'll have some extra time for this. That said, this is still one of the few hard [release blockers](https://github.com/bazelbuild/bazel/issues?q=is%3Aopen+is%3Aissue+milestone%3A%226.0.0+release+blockers%22) for 6.0.

[2022-10-06 08:44] cameron-martin commented on #11495
That's not what I'm seeing for runfile directory dependencies during local execution of tests, which I believe should use the same sandboxing as tests. The whole directory gets symlinked into the sandbox in this case.

[2022-10-06 08:48] #14731 closed

[2022-10-06 09:24] OparinE opened #16398 "Create a tag or command line option for downloading final target results from remote cache server without local rebuild"
### Description of the feature request:

Let take a look on example. Bazel 5.3.1
BUILD.bazel:
[code]
build commands:
1) `bazel build :main --remote_cache=http://127.0.0.1:8080 –remote_download_toplevel --modify_execution_info=CppCompile.*=+no-remote-cache-upload`
2) `bazel clean`
3) `bazel build :main --remote_cache=http://127.0.0.1:8080 –remote_download_toplevel --modify_execution_info=CppCompile

[2022-10-06 09:30] fmeum commented on #11495
Tracking of directory deps is unsound without the `BAZEL_TRACK_SOURCE_DIRECTORIES` JVM property enabled via startup flags. The recommended alternative is to use globs.

[2022-10-06 11:34] coeuvre commented on #11920
IIUC, there are two problems here:
  1. For toplevel mode, runfiles of toplevel targets are not downloaded.
  2. For minimal mode, `bazel run ...` doesn't work because files needed to run the target are not downloaded.

I agree both issues should be fixed. I am looking into the solutions.

[2022-10-06 12:32] cameron-martin opened #16410 "Symbol error when consuming transitive imported static libraries with linkstatic = False"
### Description of the bug:

I have three libraries: test, foo, bar, where test depends on foo and foo depends on bar. Bar is a static library imported using `cc_import`, foo is a library built from source using `cc_library`, and test is a `cc_test`. Because by default `cc_test` uses `linkstatic = False`, test is linked to foo dynamically. However, bar is statically linked into test, presumably be

[2022-10-06 12:48] cameron-martin commented on #11495
@fmeum Thanks for the info.

Do you know of any proposals to fix this unsound behaviour?

[2022-10-06 13:54] carlosgalvezp opened #16411 "Runtime dependencies for binaries in external repositories not in the sandbox in Remote Execution"
### Description of the bug:

Hi,

We have the following use case. A `cc_binary` defined in external workspace `@foo`, that has a `dep` on a `cc_library` `@bar//:baz` from the current workspace `@bar`. When building, the `cc_binary` gets an RPATH like this:

[code]

This is correct and makes the `cc_binary` work fine when running it locally via `bazel run` or directly outside Bazel.

However, this

[2022-10-06 13:57] fmeum commented on #16411
Could you check whether this is fixed by https://github.com/bazelbuild/bazel/pull/16215?

[2022-10-06 13:58] fmeum commented on #11495
There is a lot of context on https://github.com/bazelbuild/bazel/pull/15774, but no issue yet - you could create one to track this.

[2022-10-06 14:00] somethingvague opened #16412 "Upgrade JaCoCo from 0.8.7 to 0.8.9-SNAPSHOT"
### Description of the feature request:

Please upgrade to the latest JaCoCo distribution which adds official support for Java 17/18 and experimental support for Java 19 classes.

Happy to try workarounds if there are any suggestions.

### What underlying problem are you trying to solve with this feature?

Instrumentation for Java 19 targets

### Which operating system are you running Bazel on?

D

[2022-10-06 14:45] brentleyjones commented on #10702
[code]

You can then look at the `Linking iOSApp/Source/iOSApp_bin`, `Creating symlink bazel-out/applebin_ios-ios_sim_arm64-fastbuild-ST-4e6c2a19403f/bin/iOSApp/Source/iOSApp_lipobin`, and `Creating symlink bazel-out/applebin_ios-ios_sim_arm64-fastbuild-ST-4e6c2a19403f/bin/iOSApp/Source/iOSApp-intermediates/iOSApp_ExecutableName` actions:

<img width="902" alt="CleanShot 2022-10-06 at 09 41 57@2x"

[2022-10-06 17:33] ismell commented on #15454
Looks lie the two issues stated have been fixed. What's the status of the RBE branch?

[2022-10-06 17:36] fmeum commented on #15454
@ismell `--experimental_allow_unresolved_symlinks` should just work with RBE with Bazel HEAD. The flag is planned to be flipped for Bazel 6. I don't think that support covers unresolved symlinks in tree artifacts though.

[2022-10-06 17:49] fmeum commented on #15454
I don't know, but I think @larsrc-google does.

[2022-10-06 18:08] brandjon commented on #11261
Update: Incompatible flags are submitted, will run downstream pipeline to see about flipping them. Other implementation commits to come shortly.

[2022-10-06 19:27] rickeylev commented on #16245
This is probably fairly easy to do by adding a `precompiler` attribute to the toolchain that the rules can use.

The tricky part I'm not sure of is what that attribute points to. It can't point to a py_binary itself, since that would be a circular dependency. But we have to use Python to run py_compile _somehow_.

Maybe allow it to be an executable or a single py file? If it's an executable, run i

[2022-10-06 19:36] garymm opened #16413 "linker warnings on macOS XCode 14: `ld: warning: -undefined dynamic_lookup may not work with chained fixups`"
### Description of the problem / feature request:

`cc_binary` built on MacOS with XCode 14 results in warnings link the following being printed:
`ld: warning: -undefined dynamic_lookup may not work with chained fixups`

Maybe due to this?
https://github.com/bazelbuild/bazel/blob/32d56b67eeb93c52cb9393d1d7f72d8d1506407f/tools/osx/crosstool/cc_toolchain_config.bzl#L1130

### Bugs: what's the simple

[2022-10-06 19:51] keith commented on #16413
As a temporary workaround you can pass `--linkopt=-Wl,-no_fixup_chains` to disable the chained fixup feature of the linker. AFAIUI that feature has runtime (or maybe just launch time) performance benefits, but it isn't otherwise required and only defaults to enabled on newer OS versions. I doubt this will ever change on the linker side given that `-undefined dynamic_lookup` says that it's deprecat

[2022-10-06 21:25] nikhilkalige commented on #13569
I just moved the output to the workspace directory and did a comparison on the max number of ionotify usage by running `bazel build //...`

Outside Repo =  38698
Inside Repo  = 586552

[2022-10-06 22:35] febrifahmi opened #16416 "Cannot build/bootstrap Bazel 5.3.0 from source in Raspberry Pi (Raspbian Buster)"
### Description of the bug:

I try to build Bazel 5.3.0 from source since Bazel on arm always failed to build tflite_support following the steps described in [Bazel docs](https://bazel.build/install/compile-source#bootstrap-bazel). However, it always killed in the process and it also took a long time to build (more than 5 hrs on my Raspberry Pi).

Here is the log:

[code]

here is line 201 in `bui

[2022-10-06 22:54] fmeum commented on #15919
@meteorcloudy I think that this should be labeled a release blocker. For example, `rules_jvm_external` uses `genrule` to generate its `@maven` "alias" repo, which means that it currently can't be used on Windows at all.

[2022-10-06 22:58] keith commented on #15350
https://github.com/bazelbuild/bazel/pull/16417

[2022-10-06 23:37] rickeylev commented on #15546
A quick brain dump of some known points of customization:

* Being able to invoke pyc compilation as part of library building; similarly where to put such files in the output
* Writing out the executable script (internally, we replace this with a C executable; aspect does something to create venv-startup wrapper thing; internally we use a different stub script)
* Attaching aspects to various attri

[2022-10-07 01:55] c-parsons commented on #16296
OK, I have confirmed the approach described [above](https://github.com/bazelbuild/bazel/issues/16296#issuecomment-1263395886) fixes my project. Furthermore, after about another day of diagnosing and debugging, I've determined we would only need to add `PropagationHints` to a single additional rule, to support the attribute `"root_target"`.

In light of this finding, we technically have a workaroun

[2022-10-07 02:34] brentleyjones commented on #13912
@coeuvre @meteorcloudy Can we get an issue tracking the path to non-experimental for `--experimental_action_cache_store_output_metadata`? I just re-discovered this bug, and forgot that one needed to set this flag. It would be nice to have it enabled by default if there aren't known issues with it.

[2022-10-07 03:13] aiuto commented on #16105
@rickeylev   Do you want to take a crack at this.   I think tools/python is the last mention of PY2.
If not, we can close out the bug, it's just noise for something we can do for Bazel 8.

[2022-10-07 04:08] sgowroji commented on #16416
Hello @febrifahmi, Have you tried the steps from [here](https://github.com/koenvervloesem/bazel-on-arm/blob/master/README.md). Thanks!

[2022-10-07 04:22] febrifahmi commented on #16416
Yes, I already install Bazel on arm before on my pi. Bazel on arm installed successfully and can run, but it failed when build tflite-support ~ see [this issue here](https://github.com/tensorflow/tensorflow/issues/57947).

[2022-10-07 06:37] carlosgalvezp commented on #16411
Thanks for the quick answer @fmeum ! We are using `bazelisk` pinning a release version of Bazel. Do you have any tips on how we could test #16215 easily?

[2022-10-07 06:38] carlosgalvezp commented on #16411
@sgowroji You added the `more data needed` tag - please let me know if I can provide any more information.

[2022-10-07 06:43] sgowroji commented on #16411
Wanted to see the above [comment](https://github.com/bazelbuild/bazel/issues/16411#issuecomment-1270100374)  helped ? Please wait for @fmeum update on it. Thanks!

[2022-10-07 07:39] meteorcloudy commented on #15919
OK, I'll look into this today

[2022-10-07 07:41] larsrc-google commented on #15454
Unresolved symlinks in tree artifacts are not currently being worked on, to the best of my knowledge.

[2022-10-07 07:45] lberki commented on #15454
@larsrc-google correct; we had a discussion with @tjgq and the outcome was that it's highly non-trivial how to handle them, because technically, each file in tree artifacts could require different treatment (Bazel could either resolve any symlink or not) and there isn't an obvious way to tell Bazel about each file what to do.

The simplest way to resolve that to make the decision at the level of t

[2022-10-07 07:52] larsrc-google commented on #15454
I'm adding this to the docs in my CL removing `experimental_`.

[2022-10-07 07:52] meteorcloudy commented on #16296
Thanks @c-parsons for such detailed analysing, I agree with your suggestion! I think we can even cherry pick the solution in 6.x minor releases if necessary, ideally it should be made backwards compatible, but since cc_shared_library is still under the experimental flag, I guess it's even fine to make some small incompatible change?

[2022-10-07 08:15] fmeum commented on #16411
@carlosgalvezp You can either check out the branch and build Bazel from source via `bazel build //src:bazel-dev` or wait for the PR to get merged and then specify the commit on master as your `USE_BAZEL_VERSION`.

[2022-10-07 08:53] shs96c opened #16420 "Provider instances created inline aren't immutable"
### Description of the bug:

When creating a `provider` instance and immediately adding to a `depset`, the error: `Error in depset: depset elements must not be mutable values` is displayed and the build fails. If the `provider` instance is created via a function, then everything works as expected.

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if poss

[2022-10-07 08:53] shs96c commented on #16420
Note, as of e8547351f7f840950f0d7309bfba99783c57b31e this problem still occurs, so it's not just a Bazel 5 issue.

[2022-10-07 08:57] coeuvre commented on #13912
Yes, i will create an issue for it. However, I would not like to remove the `experimental_` prefix and enable it by default in `6.0` since there are still some improvements to be done which might also able to prevent build failures for most cases in the event of remote cache eviction without using action rewinding.

[2022-10-07 09:00] meteorcloudy commented on #16323
Almost all downstream projects are broken by this flag, check https://buildkite.com/bazel/bazelisk-plus-incompatible-flags/builds/1291

E.g.
[code]

[2022-10-07 09:02] meteorcloudy commented on #16391
https://buildkite.com/bazel/bazelisk-plus-incompatible-flags/builds/1291
[code]
Looks like this flag is query only, the incompatible flag pipeline cannot test query only incompatible flags. But you can still do a [downstream test](https://github.com/bazelbuild/continuous-integration/blob/master/docs/downstream-testing.md) manually.

[2022-10-07 09:04] meteorcloudy commented on #16355
https://buildkite.com/bazel/bazelisk-plus-incompatible-flags/builds/1291

This flag should be safe to flip (the rules_nodejs failure is unrelated).

[2022-10-07 09:05] meteorcloudy commented on #16355
Oh, I see, this flag depends on the other one.

[2022-10-07 09:08] meteorcloudy commented on #16323
Looks like many breakages are within bazel_tools, so probably should be easy to fix, but not sure if any downstream projects also need to be fixed.

[2022-10-07 09:48] lberki commented on #16124
The most likely future seems to be that we'll standardize on Python imports _not_ containing the repository name, in which case bzlmod is a no-op.

It's not an optimal solution because it requires an entry in `$PYTHONPATH` for each repository in the transitive closure of the Python binary, but it's the status quo and I'd much prefer thinking up a solution to that (e.g. binary-specific symlink tree

[2022-10-07 09:49] #15350 closed

[2022-10-07 10:26] coeuvre commented on #16398
I see you have `--modify_execution_info=CppCompile.*=+no-remote-cache-upload` in the command 1 which means the results of compilation (.obj files) will not be updated to remote cache. I think this explains why you see recompilation in command 3.

[2022-10-07 10:52] oev88 commented on #16398
Yes, but how can I force the bazel to get libs and exes from cache server and not to rebuild source files? (This is the major motivation, because we spend server and net resources)

[2022-10-07 11:06] fmeum commented on #16053
@sgowroji This has been resolved by #15006.

[2022-10-07 11:18] sgowroji commented on #16053
Thank you @fmeum, we are closing this issue with this reference https://github.com/bazelbuild/bazel/issues/16053#issuecomment-1271450181.

[2022-10-07 11:18] #16053 closed

[2022-10-07 11:42] shs96c commented on #16420
Here's an example workspace showing the problem [example.tar.gz](https://github.com/bazelbuild/bazel/files/9733570/example.tar.gz)

[2022-10-07 12:54] brentleyjones commented on #15983
cc @DavidGoldman

[2022-10-07 13:37] hashar commented on #15616
I encounter the same issue with Bazel 5.3.1. To start a fresh build we do `find bazel-out -delete` and that chokes on the lack of writable permission ([see also our issue tracker](https://phabricator.wikimedia.org/T320251))

[2022-10-07 14:49] sitaktif opened #16421 "junit_test is incompatible with JDK 18+ - "java.lang.UnsupportedOperationException: The Security Manager is deprecated""
### Description of the bug:

Running a trivial `java_test` with JDK 18+ yields the following (with the test failing):

[code]

Having JDK 17 (or older) on the PATH fixes the issue above.

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

#### Sources

`WORKSPACE.bazel`:

[code]

`java/example/BUILD.bazel`:

[code]

`java/example/ExampleTest.

[2022-10-07 14:55] k1nkreet opened #16422 "Bazel is hanging when outputs got evicted from remote execution cache with --remote_download_toplevel enabled"
### Description of the bug:

Since 5.3, Bazel is hanging infinitely when something got evicted from remote execution cache with Build without Bytes enabled. Before 5.3 it was raising `FileNotFoundException` and there is a [PR](https://github.com/bazelbuild/bazel/pull/14126) trying to use this behavior to overcome this issue of BwoB

### What's the simplest, easiest way to reproduce this bug? Pleas

[2022-10-07 14:58] carlosgalvezp commented on #16411
@fmeum Thanks, seems like it's easier for us to wait. Do you have an estimate for when the PR could be merged?

[2022-10-07 14:58] c-parsons commented on #16296
Relatedly, it looks like https://github.com/bazelbuild/bazel/commit/21904a92b800139499f2f62c7c4c11351fa8bc0c somewhat contradicts the philosophy we've discussed here.

[2022-10-07 14:59] fmeum commented on #16411
You can follow #16215 for updates, looks like merging the PR requires some more complicated procedure within Google.

[2022-10-07 15:31] fmeum commented on #13944
@comius I am using `NONPREBUILT_TOOLCHAIN_CONFIGURATION` as a workaround, but am seeing the following error on macOS with `layering_check` enabled:

[code]

[2022-10-07 15:56] meteorcloudy commented on #16296
/cc @fmeum

[2022-10-07 15:58] meteorcloudy commented on #16296
I see looks like https://github.com/bazelbuild/bazel/commit/21904a92b800139499f2f62c7c4c11351fa8bc0c is blocking the rollback of https://github.com/bazelbuild/bazel/commit/dadc49e437018f482640ed76fae5307daf9911a8

[2022-10-07 15:58] fmeum commented on #16296
@c-parsons @meteorcloudy I created this commit over half a year ago, feel free to change the logic in any way you see fit - including rolling it back. It only affects the non-Starlark implementation anyway.

[2022-10-07 16:20] rickeylev commented on #2636
cc @rickeylev

[2022-10-07 16:33] jheaff1 commented on #10254
I'm facing the same issue when using rules_foreign_cc. It seems that if a `cc_test` depends on a shared library built by rules_foreign_cc, the required dylibs aren't loaded. rules_foreign_cc too uses `cc_common.create_libraries_to_link`. Do you happen to have any decent workaround?

[2022-10-07 18:12] katre commented on #14444
After thinking some more, I still think that the ability to select on "is tool configuration" is problematic: in general, if tools are being built with special logic and configuration, it becomes very difficult to test and debug them (since any testing has to be in the context of a full build that uses the tool).

Ideally, it would be possible to build any tool directly just by building for the co

[2022-10-07 19:48] adam-azarchs commented on #16245
Yeah, this is kind of a similar problem as the one faced for the coverage tool in #15590.  However, there's an important difference: `py_compile` is part of the python standard library.  Given that, I don't really see a need to offer an option to customization of the compilation tool - `bazel` could just hard-code running `$interpreter -m py_compile`, which as far as I can tell would work for all

[2022-10-07 20:37] fmeum commented on #10923
@lberki `$(rlocation)` seems reasonably easy to do, but `File.rlocation_path` is difficult: Without `--experimental_sibling_repository_layout`, that function needs to know the workspace name. I'm not sure how the API for that would look like, should we just let the user pass in `ctx`?

[2022-10-07 22:50] DavidGoldman commented on #15983
This seems like a reasonable FR, but a couple of things:
- Not all toolchains will support this (only Apple Clang can)
- I wonder if a tree artifact or zip file is better to store the indexstore output, if you go the route where each TU has its own index store, there can be a lot of duplicate record files making the indexstore output fairly large

[2022-10-08 00:51] aryeh-looker commented on #10653
I'm seeing something like this when I specify `--output_base` on CI

[2022-10-08 02:19] aiuto commented on #16105
I've cleaned out everything I can in bazel_tools. The remainder is all python rules.

[2022-10-08 02:19] #16105 closed

[2022-10-08 06:39] fmeum commented on #16421
You can specify `--jvmopt=-Djava.security.manager=allow` on the command-line or add `common --jvmopt=-Djava.security.manager=allow` as a workaround that allows you to use JDK 18.

[2022-10-08 06:45] fmeum commented on #16421
@sgowroji This is essentially a duplicate of https://github.com/bazelbuild/bazel/issues/14502, but, in my opinion, a real bug - `java_test` should work with any released JDK by default.

[2022-10-08 06:55] fmeum commented on #16232
I'm not too familiar with `--run_under` to have a qualified opinion.

Would your proposal work with both simple commands and Bazel targets passed in as `--run_under`? Could you give an example where a rule would need to act on the particular value of `--run_under` at analysis time?

[2022-10-08 07:00] sgowroji commented on #16421
Agreed, Thanks for sharing the workaround and marking it to Java team.

[2022-10-08 12:29] fmeum commented on #16076
@UebelAndre I just submitted https://github.com/bazelbuild/bazel/pull/16430, which implements `arguments` but does not yet expose it to Starlark. This address cover your original request while evading potentially difficult questions around what the right Starlark API representation of such arguments would be and whether this could cause memory issues.

Note that the argument takes in a list of str

[2022-10-08 16:10] UebelAndre commented on #16076
I'm not sure what you mean by this. Looking at the PR it seems like you added the ability to set `arguments` in starlark rules. Are you saying I'm not able to read that parameter from existing rules? An example being I have `foo_binary` which returns `RunEnvironmentInfo(arguments=["foo"])` as a dependency of `bar_binary` which tries to index the `RunEnvironmentInfo` provider and read `arguments`.

[2022-10-08 16:15] fmeum commented on #16076
You can obtain the `RunEnvironmentInfo` provider instance and e.g. forward it, but you (with this PR) can't get the `arguments` out of it. Making that possible would require more thought - I don't want to propose an API that lends itself to memory regressions by e.g. encouraging recursive list building.

[2022-10-08 16:30] UebelAndre commented on #16232
Today I have the `rust_test` rule which looks something like the following

[code]

The way this is written, I'm able to run a similar command to the following to start the test and attach a debugger to the test binary.

[code]

This works because the argv for the test roughly looks like `["/usr/local/bin/lldb", "bazel-bin/my/test"]`. However there's a feature request to do some preprocessing befo

[2022-10-08 16:31] UebelAndre commented on #16076
I see, that sounds totally reasonable to me! Thank you so much for working on this!

[2022-10-08 16:43] fmeum commented on #16232
Thanks for the extensive example, that definitely helped.

It looks a much simpler API may suffice for this use case: Adding a `run_under_variable` argument to `RunEnvironmentInfo` that, if set to `FOO_RUN_UNDER`, would run the executable with the environment variable `FOO_RUN_UNDER` set to the binary or command pointed to by `--run_under` instead of prepending that command to the test invocation'

[2022-10-08 16:56] UebelAndre commented on #16232
Yeah, great idea! This particular feature would help immensely in the developer workflow story for many projects I work on.

[2022-10-08 17:30] limdor commented on #8195
For the moment the tracking list is here https://github.com/bazelbuild/bazel/pull/15327#issue-1213646746

[2022-10-08 21:24] abhillman commented on #10134
Here's a very simple repo on Mac OS X:

**WORKSPACE**
[code]

**BUILD**
[code]

**src/fun/aryeh/HelloWorld.java**
[code]

**Error**
[code]

[2022-10-09 09:58] hofbi opened #16434 "Possible Typo in Bazel Tutorial: Configure C++ Toolchains"
### Description of the bug:

In the Bazel Tutorial: Configure C++ Toolchains, setting up a CC toolchain with clang is explained. However, the lines [L267](https://github.com/bazelbuild/bazel/blob/master/site/en/tutorials/ccp-toolchain-config.md?plain=1#L267) and [L391](https://github.com/bazelbuild/bazel/blob/master/site/en/tutorials/ccp-toolchain-config.md?plain=1#L391) show this configuration:

[2022-10-10 07:40] rickeylev commented on #16245
I think invoking the interpreter directly like that is a workable intermediate solution. So I'm +1 on doing that for now. I'm fairly certain we need a custom program to ensure deterministic behavior and pass the necessary info, though. The cli of -m py_compile isn't sufficient.

However, I need to make a few architectural points about why such solutions make it hard or impossible to take full adva

[2022-10-10 07:56] sluongng opened #16436 "[Mirror] zstd-jni v1.5.2-3"
### Please list the URLs of the archives you'd like to mirror:

Please help mirror `zstd-jni v1.5.2-3` to help with https://github.com/bazelbuild/bazel/pull/16394

URL: https://github.com/luben/zstd-jni/archive/refs/tags/v1.5.2-3.zip

[2022-10-10 07:59] adam-azarchs commented on #16245
Worth noting mostly for the sake of code archeology that there's this comment in the code currently: https://github.com/bazelbuild/bazel/blob/6d72ca979f8cf582f53452d5f905346e7effb113/src/main/java/com/google/devtools/build/lib/rules/python/PythonSemantics.java#L69-L71
however as far as I can tell the implementation https://github.com/bazelbuild/bazel/blob/9d0163002ca63f4cdbaff9420380d72e2a6e38b3/s

[2022-10-10 08:06] sgowroji commented on #16436
Below mirror artifact :
https://mirror.bazel.build/github.com/luben/zstd-jni/archive/refs/tags/v1.5.2-3.zip

[2022-10-10 08:06] #16436 closed

[2022-10-10 08:28] sgowroji commented on #16003
Hello @AustinSchuh, Are you still seeing this issue with Release 5.3.1 ?

[2022-10-10 08:47] meteorcloudy commented on #16296
@meteorcloudy @c-parsons I guess we should rollback https://github.com/bazelbuild/bazel/commit/21904a92b800139499f2f62c7c4c11351fa8bc0c as well.

[2022-10-10 08:55] coeuvre commented on #16398
Bazel will get libs and exes from cache server if these are actually there.

In your example, since objs are not uploaded to remote cache in command 1, Bazel will not able to get them from cache server for command 3. But I believe Bazel will download the outputs from link actions (e.g. libs and exes) from cache server for command 3.

[2022-10-10 08:55] garryqian commented on #3216
I have the same issue. Use %workspace% as file path prefix does not work. Any progress on this FR?

[2022-10-10 09:01] meteorcloudy commented on #8195
@limdor The list seems to track the progress of fixing Bazel itself? There are many downstream projects also broken, which should also be migrated first before flipping the flag: [https://buildkite.com/bazel/bazelisk-plus-incompatible-flags/builds/1253](https://buildkite.com/bazel/bazelisk-plus-incompatible-flags/builds/1253#01833aea-8848-4562-976c-916e87f33b6b)

[2022-10-10 09:03] oev88 commented on #16398
But this not happens.
Anyway, does bazel have another mechanism for uploading step results only without publishing intermediate steps?
I don't want to publish .obj files and recompile source files when results of the target (.exe(s), .lib(s)) were sent to the server.

[2022-10-10 09:27] siketyan commented on #6502
I experienced this on building [GoogleContainerTools/distroless](https://github.com/GoogleContainerTools/distroless), which tries to download many deb files from `snapshot.debian.org` . I tried adding `--loading_phase_threads 2` and it worked!

[2022-10-10 09:45] limdor commented on #8195
Initially was, but I'm planning to extend it. Any chance to leave the migration ready flag? If not it's quite hard to track and I have to ask every time.

[2022-10-10 10:12] meteorcloudy commented on #8195
@limdor Sure, as long as someone is actively working on this, I'm happy to enable the test!

[2022-10-10 10:14] limdor commented on #8195
Thanks! As active as can be doing it in my free time.

[2022-10-10 11:16] lberki commented on #10923
Not necessarily; there is `BazelStarlarkContext`, which is available to the Java implementations of Starlark functions without an extra argument and it, weirdly, already contains the repository name of the tools repository. So I could imagine plumbing the workspace name in there that way, too. Rule implementations need to know the name of the main workspace anyway, so it would probably not require

[2022-10-10 11:19] meteorcloudy commented on #8195
@limdor Thank you so much!

[2022-10-10 11:49] fmeum commented on #10923
@lberki I will give that a try. We will have to make a concession though: Using `StarlarkThread` is incompatible with `structField = True`, so this will have to be a function instead.

[2022-10-10 11:54] lberki commented on #10923
Today I Learned. It seems to be an artificial choice and not an inherent limitation of how Starlark works, though, and I don't see an immediate reason why that would be the case. @c-parsons , so you remember why you added this limitation in 73e1016 ?

[2022-10-10 15:55] oev88 commented on #16398
Otherwise, how do you tell the exe is built from the most recently modified sources?
-> As compiler does. Look on the changes of source files

Can you please provide more information, e.g execution log?
-> I'll publish test example with logs on github soon

[2022-10-10 16:07] meteorcloudy commented on #12932
I believe it's due to https://github.com/bazelbuild/bazel/commit/a3a4cf8c486d1d27e72d9e595c9d718efb21071a, some projects are failing with
[code]
https://buildkite.com/bazel/bazelisk-plus-incompatible-flags/builds/1294

[2022-10-10 18:13] gregestren commented on #12932
Thanks @meteorcloudy . Looking...

[2022-10-10 18:15] AustinSchuh commented on #16003
5.3.1 works for me.  I'm hitting https://github.com/bazelbuild/bazel/issues/16108 but that feels separate.

[2022-10-10 18:20] gregestren commented on #12932
Where is this failure in https://buildkite.com/bazel/bazelisk-plus-incompatible-flags/builds/1294?

[2022-10-10 18:40] kshyanashree commented on #16003
Thanks for the update @AustinSchuh!

[2022-10-10 20:03] pjk25 opened #16441 "global archive_override does not support patch_cmds as implied by docs"
### Description of the bug:

Using `patch_cmds` with `archive_override` yields

[code]

https://bazel.build/rules/lib/globals#archive_override suggests the attribute should be supported.

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Create a directory with an empty `WORKSPACE` and empty `BUILD.bazel`.

Create a `MODULE.bazel` with:

[co

[2022-10-10 20:07] praetorian-thendrickson opened #16442 "bazel golang dependency build error"
### Description of the bug:

I'm trying to build a third party dependency with bazel (`github.com/microsoftgraph/msgraph-sdk-go v0.42.0`) https://github.com/microsoftgraph/msgraph-sdk-go. However, this third party dependency has a folder called "external" in it, which I think is bugging the bazel build system out. I reproduced the issue in a minimal bazel build configuration to confirm. I tried to

[2022-10-10 20:57] kshyanashree opened #16443 "Release 5.3.2 - October 2022"
# Status of Bazel 5.3.2

-   Expected release date: 10.19.2022
-   [List of release blockers](https://github.com/bazelbuild/bazel/milestone/43)

To report a release-blocking bug, please add a comment with the text `@bazel-io flag` to the issue. A release manager will triage it and add it to the milestone.

To cherry-pick a mainline commit into 5.3, simply send a PR against the `release-5.3.2` bran

[2022-10-10 21:08] bazel-io opened #16444 "[5.3.2] Update GrpcRemoteDownloader to only include relevant headers."
Forked from #16439

[2022-10-10 21:25] dpoluyanov opened #16445 "Build hangs in com.google.devtools.build.lib.remote.RemoteExecutionCache ensureInputsPresent"
### Description of the bug:

We've discovered some builds, hanging on `"Compiling Java headers"` for indefinite state in remote execution. Hacking around and passing some kill -3 commands to bazel in our runner I've discovered that there are two skyframe-evaluator threads sitting in `blockingAwait()` in com.google.devtools.build.lib.remote.RemoteExecutionCache.ensureInputsPresent(RemoteExecutionCa

[2022-10-10 21:31] martis42 commented on #16388
@kshyanashree
I can confirm this bug. It is annoying me for some time as well.
Most likely this issue is related, although it is about genrules: https://github.com/bazelbuild/bazel/issues/12238

I created a small example project showcasing the bug for `ctx.actions.run`. See https://github.com/martis42/example_ignored_incompatible_default_to_explicit_init_py

Hopefully this helps reproducing and an

[2022-10-10 21:59] keith opened #16446 "HEAD crash after incompatible_enforce_config_setting_visibility"
### Description of the bug:

[code]

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Clone rules_swift, run `USE_BAZEL_VERSION=174c67f0911c1cb013658f9b2b2d8959d6ef388c bazelisk build ...`

I bisected to 174c67f0911c1cb013658f9b2b2d8959d6ef388c, setting the flag to false does not avoid it

CI logs: https://buildkite.com/bazel/rules-swift-sw

[2022-10-10 21:59] keith commented on #16446
cc @gregestren

[2022-10-10 22:52] gregestren commented on #16446
Thanks for the repro: I was trying to figure out how to trigger this from https://github.com/bazelbuild/bazel/issues/12932#issuecomment-1273536368.

[2022-10-10 23:03] gregestren commented on #16446
More direct:

[code]

[2022-10-10 23:44] gregestren commented on #16446
Found a minimal repro:

[code]

[code]

    $ bazel build //aa:foo --incompatible_enforce_config_setting_visibility --trim_test_configuration
    <crash>

This is how I found it:

- `$ bazel query --output=build //doc:test_setup`
- Built a filegroup target with the same `select()` as in the above.
- That succeeded.
- Since Bazel didn't crash, I could run `$ bazel config 630c 6a72`
- That showed me

[2022-10-11 00:48] gregestren commented on #12932
https://bazel-review.googlesource.com/c/bazel/+/205341 will fix.

[2022-10-11 00:48] gregestren commented on #16446
https://bazel-review.googlesource.com/c/bazel/+/205341 will fix.

[2022-10-11 02:28] jfirebaugh opened #16447 "Error message for `%sysroot%` refers to nonexistent option"
### Description of the bug:

If you use an include directory that contains the prefix `%sysroot%` with a toolchain that does not pass a `builtin_sysroot` value to [`create_cc_toolchain_config_info`](https://bazel.build/rules/lib/cc_common#create_cc_toolchain_config_info), then Bazel [issues the following error](https://github.com/bazelbuild/bazel/blob/8e9b667961fbb4e704c90a6926f2fe1594b09ebe/src/m

[2022-10-11 03:50] aldersondrive commented on #10250
FYI, the port is now updated to [Bazel 6.0.0-pre.20220922.1](https://github.com/aldersondrive/bazel_openbsd_port).

[2022-10-11 07:23] chenqingguo commented on #13919
Same question. Add --action_env=COVERAGE_GCOV_OPTIONS=-b get branch  @yanglimingcn, I wonder where did you find the flag.

[2022-10-11 07:42] meteorcloudy commented on #12932
If you click any of those jobs:
<img width="1158" alt="image" src="https://user-images.githubusercontent.com/4171702/195026057-1a33f39c-19cd-4289-a951-d9a110dacb42.png">

<img width="1065" alt="image" src="https://user-images.githubusercontent.com/4171702/195026280-50d5eba6-5914-43fc-b487-ce8676414a85.png">

[2022-10-11 07:47] aiuto commented on #15277
Before you bother trying to fix that pipeline, talk it over with the
Rules-sig and hear their opinion on incompatible changes. It doesn't help
anyone to try with all of them, only the ones that we believe should be
turned true as soon as possible and then deleted (because they are the new
default behavior).
cc: @jdob

On Tue, Apr 19, 2022 at 8:37 AM Yun Peng ***@***.***> wrote:

[2022-10-11 07:48] meteorcloudy commented on #16446
Looks like the fix still need some tweaks, I'm rolling back the flag flip first.

[2022-10-11 07:52] aiuto commented on #15671
I'm on vacation for the next 2 weeks. I don't know a tracking issue offhand
but the idea is in the horizon.

I will create a tracking but when I get back

On Thu, Jun 23, 2022, 8:54 AM Keith Smiley ***@***.***> wrote:

[2022-10-11 07:54] aiuto commented on #14847
Good question about removing the declarations.

Let me get back to you on that next week.

On Fri, Apr 22, 2022 at 12:21 PM Mihai Maruseac ***@***.***>
wrote:

[2022-10-11 08:16] uajith commented on #13823
Is it possible to run a "sleep" and kill any pending bazel processes ?

On Sun, 10 Apr 2022, 22:08 hbc, ***@***.***> wrote:

[2022-10-11 08:20] sgowroji commented on #16445
Hello @dpoluyanov, Could you please provide minimal steps to reproduce the issue with sample code repo. Thanks!

[2022-10-11 08:23] sgowroji commented on #16447
Hello @jfirebaugh, Could you please provide minimal steps to reproduce the above issue with sample code changes. Thanks!

[2022-10-11 08:27] sgowroji commented on #15671
Reopening this issue as per the above discussion.

[2022-10-11 08:46] sdtwigg commented on #15732
I took a brief look b/c saw this email:

I can think of 2-3 fixes thus far:

1. Add the defaults to the cache key (or, similarly, the
buildSettingsPackages parameter). This seems easiest and safest. Need to
verify hashability of the added parameter.

2. Move `addDefaultStarlarkOptions` to before the caching. This means
fromOptions will have the proper defaults instead of null. HOWEVER, also
will n

[2022-10-11 08:54] justonelov commented on #4301
Thank you

On Mon, Jun 6, 2022, 1:23 PM Shawn Tabai ***@***.***> wrote:

[2022-10-11 09:38] meteorcloudy commented on #15277
@aiuto The pipeline has been fixed for a while and is working well: https://buildkite.com/bazel/bazelisk-plus-incompatible-flags/builds/1294

[2022-10-11 11:24] meteorcloudy commented on #16441
The `patch_cmds` attribute is only added recently at HEAD, it'll be available in 6.0 but will not be backported to 5.x, so please try with Bazel@HEAD

[2022-10-11 11:24] #16441 closed

[2022-10-11 12:47] meteorcloudy commented on #16416
It looks like you are building with JDK8, which we no longer support, can you please upgrade the JDK version and try again?

[2022-10-11 12:50] meteorcloudy commented on #16442
This is a known issue that repositories having `external` folder in their source root will break with Bazel, can you file this issue against the original repo and find out a solution? (potentially avoid having the `external` directory).

[2022-10-11 14:20] joeleba commented on #16390
I guess the action item here is to provide better error messages in case of such an error.

[2022-10-11 14:47] aiuto commented on #15277
I don't know where that comment came from.  At 10:44 EST this morning it says "7 hours ago".  That would have been 3:44 AM my time, and I was asleep.
ISTR that I wrote it it a few weeks ago after the rules-sig meeting where they were talking about incompatible changes, and wanted better guidance one what is going to flip soon.

[2022-10-11 14:48] meteorcloudy commented on #15277
Haha, not sure what was going on.

[2022-10-11 14:51] aiuto commented on #15277
Oh... even weirder.  My mail thread shows that comment was made on April 19th.
My new goal for the day is to resist any temptation to come up with a theory on what went wrong with github messaging.

<img width="765" alt="Screen Shot 2022-10-11 at 10 49 27 AM" src="https://user-images.githubusercontent.com/3044252/195124513-dbe0c100-dc85-4884-be06-03f35e58ace6.png">

[2022-10-11 14:53] meteorcloudy commented on #16355
OK, IIUC, flipping this flag would actually fix breakages of https://github.com/bazelbuild/bazel/issues/16323, if so, please do so.

[2022-10-11 14:57] pjk25 opened #16452 ""Cycle detected but could not be properly displayed due to an internal problem. Please file an issue.""
### Description of the bug:

This occurs when a platform is chosen that affects toolchain resolution, in the context of bzlmod.

Given the project in question, it's not clear to me there actually is a cycle. The implication from the logs to me is that a `platform` target depends on a `constraint_value`, and vice versa, but that is not how I understand platforms to work.

[code]

### What's the sim

[2022-10-11 15:02] pjk25 commented on #16452
I am also able to reproduce this without bzlmod

[2022-10-11 15:02] #16446 closed

[2022-10-11 15:08] jfirebaugh commented on #16447
@sgowroji I don't think it's really necessary because I linked to the error message in the source, and the issue is self-evident.

[2022-10-11 15:11] pjk25 commented on #16452
I have narrowed this down, the cycle occurs with `rules_erlang 3.7.2`, but not with `rules_erlang 3.6.3`. I'll be taking a look at the diff.

[2022-10-11 15:27] pjk25 commented on #16452
rules_erlang is probably not the cause. I forgot that there are other changes at play, mainly moving dependencies from a module extension to top level `bazel_dep`s

[2022-10-11 15:28] katre commented on #16452
Can you share your repository, or a minimized reproduction? It's unclear to me from the cycle report exactly what's wrong, but it seems to be related to platform `//bzl/platforms:erlang_linux_25_platform` and I'd like to see how that is declared.

[2022-10-11 15:34] pjk25 commented on #16452
https://github.com/rabbitmq/ra will repro this if the `rules_erlang` version in the MODULE.bazel is updated to `3.7.2`. With `bazel test //... --config=rbe-25`, it will fail. `bazel test //...` will not fail analysis, but will probably fail later if you don't have erlang.

[2022-10-11 15:36] katre commented on #16452
Thanks, I'll take a look.

[2022-10-11 15:37] #12932 closed

[2022-10-11 15:41] dpoluyanov commented on #16445
Probably, it's not as easy as it seems, the issue is sporadic, I'll try to reproduce it with a minimal subset of similar steps as we do, but not sure of success in reproduction.
Is there some debug information, or additional flags/outputs which I can turn on or capture from output in order to help to discover root-cause?

[2022-10-11 16:10] keith opened #16453 "[Mirror] rules_cc 2f8c04c04462ab83c545ab14c0da68c3b4c96191"
### Please list the URLs of the archives you'd like to mirror:

https://github.com/bazelbuild/rules_proto/blob/fcfc67b0ab862ff54d312970548fb91b2b721334/proto/private/dependencies.bzl#L110

[2022-10-11 16:38] sgowroji commented on #16453
Please find the below mirror artifact

https://mirror.bazel.build/github.com/bazelbuild/rules_cc/archive/2f8c04c04462ab83c545ab14c0da68c3b4c96191.tar.gz

[2022-10-11 16:38] #16453 closed

[2022-10-11 16:42] chris-codaio opened #16454 "More error detail when read/write against remote cache fails"
### Description of the feature request:

I was recently banging my head against trying to figure out why we were seeing intermittent 403 errors coming from our remote cache. Turns out it was due to an overzealous AWS WAF rule that was identifying some of the files we were trying to upload as malicious.

It would have been really convenient to have bazel spit out which files it was having issues wi

[2022-10-11 19:06] rickeylev opened #16455 "Remove extra action support from Python rules"
Extra actions are deprecated [docs](https://bazel.build/reference/be/extra-actions), but the Python rules still have a couple small code paths to support them.

This issue tracks removing support for them from the Python rules.

Per the docs, extra actions are replaced by aspects.

ref: internal issue 253059598

[2022-10-11 19:42] pjk25 commented on #16452
replacing the selects with the `//conditions:default` value didn't seem to make a difference

[2022-10-11 19:53] kshyanashree opened #16456 "Release 4.2.3 - October 2022"
# Status of Bazel 4.2.3

-   Expected release date: 10.18.2022
-   [List of release blockers](https://github.com/bazelbuild/bazel/milestone/44)

To report a release-blocking bug, please add a comment with the text `@bazel-io flag` to the issue. A release manager will triage it and add it to the milestone.

To cherry-pick a mainline commit into 4.2, simply send a PR against the `release-4.2.3` bran

[2022-10-12 00:45] AustinSchuh commented on #16108
Phew, that was a pain to test.  No difference with `rootpath`

[2022-10-12 08:11] jin commented on #16442
I don't think we ever tested the aforementioned flags in the context of external repos. AOSP's issue is with //external in the main repo.

[2022-10-12 08:11] fmeum commented on #16108
I see, thanks for checking. I assume that should be fixed by https://github.com/bazelbuild/bazel/pull/16215 then, but I'm not completely sure.

[2022-10-12 08:46] fansehep commented on #2537
I meet thie problem in my archlinux too.
bazel version: 5.3.1
archlinux version: 5.19.3
gcc version: 12.2.0
gdb version: 12.1
Even if i use -dbg or debug mode useless.
but seems the gdb find the symbols. but don't display.
The gdb tui display Reading symbols from bazel-bin/src/base/test/..., but don;t display.

[2022-10-12 09:12] coeuvre commented on #16445
Probably related https://github.com/bazelbuild/bazel/pull/16423.

[2022-10-12 09:24] lberki commented on #16442
Yeah, these flags only allow packages *under* `//external` but not `//external` itself (that'd be an even bigger change)

Where does `BUILD.bazel` come from and why does it reference `//external`?

[2022-10-12 09:37] fmeum commented on #16442
The `BUILD.bazel` is presumably generated by Gazelle because the `external` directory contains a Go source file. Other Go targets in the repo reference it and since Gazelle doesn't treat `external` as anything special, it ends up referencing `//external:external` (Gazelle defaults to creating a `go_library` named after the package).

Gazelle could try to work around this by renaming any top-level

[2022-10-12 09:51] lberki commented on #16442
I don't think there is anything blocking such a rename, other than that then there would be a conflict with the string `__bazel-external__` :)

I'll defer to @meteorcloudy as to whether that is workable; `//external` is currently used for querying repository rules and replacing it with an ugly string would make that use case much uglier (`bazel query //__bazel-external__:$REPO` instead of `bazel q

[2022-10-12 09:56] meteorcloudy commented on #16442
The module query mechanism is entirely based on the new Bzlmod resolution result, we don't require the `//external` package. `bind` is also not supported in Bzlmod. So I don't see any blocker from Bzlmod side.

I think we can try to rename this with an incompatible flag, the migration would only be easier if Bzlmod is widely adopted.

[2022-10-12 10:09] robin-wayve commented on #15013
@Yannic have the `credentialHelper` changes in Bazel 5.3 been hooked up to `http_archive` and `http_file`? I am trying to find out for myself in the meantime.

[2022-10-12 10:54] robin-wayve commented on #15013
maybe this comment answers my question https://github.com/bazelbuild/bazel/issues/15856#issuecomment-1227265783

[2022-10-12 11:43] pjk25 commented on #16452
I think I have some more info on this.

`rules_erlang` contains a repository rule, `erlang_config`, that generates constraints and platforms according to the host erlang and any erlang versions that should be build internally in bazel. They are generated in such a way that it's intended to be possible to be able to target an erlang major, matching the first of any erlang minors of that major.

Her

[2022-10-12 12:02] pjk25 commented on #16452
The `selects.config_setting_group` rules in the generated `erlang_config` repo were introduced in the diff between `rules_erlang 3.6.3 and 3.7.2`, so I think there is a good chance they are the culprit. I don't yet totally understand why that is the case yet.

[2022-10-12 12:06] sgowroji commented on #16177
Thank you for the reply. We will be waiting to hear it from you.

[2022-10-12 12:09] sgowroji commented on #13791
I will close this issue now. Please reach us back if you are looking for support.

[2022-10-12 12:09] #13791 closed

[2022-10-12 12:10] #13396 closed

[2022-10-12 13:11] lberki commented on #16442
How about instead a flag that 1. disables `bind()` 2. disables `//external`? I'm not sure how easy it is to implement (IIRC `//external` was implementation shortcut which ended up growing usages) but that's more forward-looking than an incompatible flag that just renames the package.

[2022-10-12 14:08] lberki commented on #16442
Yeah, flipping `--experimental_sibling_repository_layout` would be nice, but I thought it's a big enough change that it should be a big-ticket item for Bazel 7.0 instead of just casually flipping it in response to this bug.

I thought that if the above flag was implemented, people who need it can also use `--experimental_sibling_repository_layout` because having to use an ugly flag is better than

[2022-10-12 14:27] tom-cnops commented on #16119
Is there anything I could do to make a review easier? I could make myself available for a call or try to write some more background on this change.

[2022-10-12 17:23] bazel-io opened #16461 "[5.3.2] Avoid unnecessary iteration on action inputs."
Forked from #16118

[2022-10-12 17:45] pjk25 commented on #16452
I had a look at the implementation of [selects.config_setting_group](https://github.com/bazelbuild/bazel-skylib/blob/main/lib/selects.bzl), and they expand to a chain of aliases with selects. This effectively puts selects in the plaform defintion, which, unsurprisingly, is not recommended: https://bazel.build/docs/configurable-attributes#faq-select-platforms

[2022-10-12 19:48] brandjon commented on #16323
Yes, it looks like bazel_tools needs to atomically switch to the new public syntax, and then we can see if there are any remaining breakages downstream (using runs that also set `--incompatible_package_group_has_public_syntax`).

[2022-10-12 21:09] brandjon commented on #16355
One potential migration issue is that users who have `packages = ["//..."]` in their package groups, and who want this to mean public, will have to change to `packages = ["public"]` in sync with their upgrade to use Bazel 6.0. Rewriting to `public` before upgrading Bazel isn't possible, and upgrading Bazel before rewriting to `public` means that in the interim the package group will have reduced v

[2022-10-12 21:18] brandjon commented on #16355
Now that I write that out, it sounds like a reasonable plan: Change the `@bazel_tools` allowlists to be `public` and split them into `BUILD.tools` files to not break bootstrapping of Bazel. Do that atomically with flipping this flag. Run the downstream projects pipeline with a pending change to do that and flip the other two incompatible flags. If it passes, submit these changes into 6.0. After 6.

[2022-10-12 22:11] rickeylev commented on #8704
It's been several years since this was filed. Are there plans to enable, or known blockers to enabling, symlinks on windows? Some light searching seems to indicate Windows has had this support for many years; perhaps long enough has passed that whatever versions had a problem aren't really supported anymore?

In particular, i found https://github.com/bazelbuild/bazel/issues/5807 which seems to ind

[2022-10-12 22:45] qyang-nj commented on #5318
Bazel never fails to surprise me what flag it offers. `--per_file_copt` works in this case. Thanks!

It's probably still better for `objc_library` to handle this directly though.

[2022-10-12 23:48] aiuto commented on #15671
Duplicate of #16331

[2022-10-13 00:13] AustinSchuh commented on #16108
Got it.  Let's let the dust settle on 16215 then (looks like it is still in flight) and I can try again.

[2022-10-13 06:15] sventiffe commented on #14745
Done.

[2022-10-13 06:15] #14745 closed

[2022-10-13 06:15] #15644 closed

[2022-10-13 06:17] sventiffe commented on #15343
@jdob let's discuss this request

[2022-10-13 07:04] pjk25 commented on #16452
I've narrowed down the breakage to `3.6.3` and `3.7.0`: https://github.com/rabbitmq/rules_erlang/compare/3.6.3...3.7.0

This commit introduced platforms with constraints that are `selects.config_setting_group` instances, and this does seem to be the source of the problem. I guess I can see how that's a cycle. The platform is setting a constraint_value, which due to the way the macro expands, depen

[2022-10-13 08:40] meteorcloudy commented on #8704
Note that, here symlink actually means "file symlink", we use junction for directory symlink on Windows, it has always been working.

But for creating file symlinks, the user still requires admin right (to run bazel or to enable developer mode). We don't want to add this hard requirement for Bazel users.

[2022-10-13 10:19] #10298 closed

[2022-10-13 11:14] brentleyjones commented on #10298
@meisterT what about the rename?

[2022-10-13 11:16] meisterT commented on #10298
See my comment here: https://github.com/bazelbuild/bazel/pull/16458#discussion_r993132063

[2022-10-13 11:50] meteorcloudy commented on #16296
This is strange, after rolling back both commits, TF still failed with the same error:
https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/2675#0183d0a7-0257-4221-aa4a-b29ab6dc0908

[2022-10-13 12:36] GMNGeoffrey commented on #14022
This is the file: https://github.com/iree-org/iree/blob/300335a6fa/runtime/src/iree/hal/drivers/BUILD

We'd like to enable Cuda by default if OS=X, for some value(s) of X.

[2022-10-13 12:45] meteorcloudy commented on #16296
[code]
indicates some library was probably linked twice.

[2022-10-13 13:00] meteorcloudy commented on #16296
I found there are still some differences of `cc_shared_library` between Bazel HEAD and Bazel 5.3.1:
https://gist.github.com/meteorcloudy/392355424b6986a8c7eb3361813d3849

@oquenchil My guess is some change caused the failure by making some libraries linked twice. Can you help debug this to see if this is a bug in cc_shared_library or TF?
I can help confirm if reverting all changes in cc_shared_lib

[2022-10-13 14:44] wangjia184 commented on #2120
For bazel v5.3,  use `--features=static_link_msvcrt` parameter

[2022-10-13 14:53] cjohnstoniv opened #16467 "Remote Executor Not Respecting Test Timeout"
### Description of the bug:

When running Bazel (5.3.1, observed in previous versions as well) with a remote **executor** it seems that the "test timeout" functionality of Bazel isn't properly working.

When running with remote **cache** a test that takes greater than the allotted max time based on its size DOES take effect and these tests clearly fail with timeouts.

However when running with rem

[2022-10-13 15:25] #16422 closed

[2022-10-13 15:57] tjgq commented on #16315
@dpoluyanov Are you able to verify whether https://github.com/bazelbuild/bazel/pull/16469 is sufficient to fix this issue?

[2022-10-13 16:45] brandjon commented on #16355
I ran a [downstream test run](https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/2677) with all three flags flipped. Test failures would most likely be from `--incompatible_fix_package_group_reporoot_syntax`, though it's possible we'll see one from `--incompatible_package_group_includes_double_slash`.

This test run missed an android change for `@bazel_tools`, so it's possible the an

[2022-10-13 17:11] dpoluyanov commented on #16315
Yes, I'll try to build & check it tomorrow

[2022-10-13 19:53] brandjon commented on #16355
Failures are:
- Bazel Remote Cache: CalledProcessError from .bazelci/migration-test.sh, looks like a failure to obtain a Go environment during setup.
- TensorFlow: already failing in latest [scheduled build](https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/2673)
- rules_kotlin: couldn't get `@io_bazel_rules_kotlin//kotlin` while computing main repo mapping. Sounds like an unrelated

[2022-10-14 00:25] cpsauer commented on #6862
Re "Work seamlessly with IDEs": Is the thought that IDEs would need to be able to automatically pull generated headers to correctly provide code assistance without spurious errors?

[2022-10-14 01:11] ThomasCJY opened #16471 "[Android] `proguard_top` option failed to pass the target binary data runfile correctly"
### Description of the bug:

When `build --proguard_top={proguard_binary_target}` is applied in android repo, the `data` file defined under `proguard_binary_target` didn't get correctly pulled into sandbox environment.

[code]

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

I created this sample repo with detailed repro steps. https://git

[2022-10-14 01:16] cpsauer opened #16472 "Feature Request: local_includes for cc_library, making an easy path for good cross-platform hygiene"
Hi wonderful Bazelers,

This is a small-scope cc feature request.

As background: cc_library lets you specify include directories for its headers, automatically handling the package. This is very nice for interface headers but bad problematic for implementation headers you don't want to propagate to dependents. [The docs](https://bazel.build/reference/be/c-cpp#cc_library.includes) steer you to add

[2022-10-14 08:19] meteorcloudy commented on #12933
Flipping this flag is breaking downstream projects: https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/2678#_

@gregestren Please check https://buildkite.com/bazel/bazelisk-plus-incompatible-flags/builds/1297 before flipping the flag

[2022-10-14 08:54] coeuvre commented on #16467
Can you provide a minimal repro? might be duplicate of #12349.

[2022-10-14 09:14] coeuvre commented on #6862
IDE need to tell Bazel what artifacts it needs, there are two ways:
1. use `--experimental_remote_download_regex`
2. still WIP, but with toplevel mode, Bazel can download output groups requested by `--output_groups`.

With these two method, we are able to work with IDE seamless using internal equivalent.

[2022-10-14 09:42] kouckma commented on #14918
Have you solved this issue? I run into the same problem.

[2022-10-14 10:11] cpsauer commented on #6862
Ooh, I didn't know about --experimental_remote_download_regex. Looks very handy indeed.

[2022-10-14 12:12] #16339 closed

[2022-10-14 13:08] #16296 closed

[2022-10-14 13:20] #12238 closed

[2022-10-14 13:20] #16388 closed

[2022-10-14 14:40] fmeum commented on #4685
@davido Could you try again with `--experimental_fetch_all_coverage_outputs`?

[2022-10-14 15:49] fmeum commented on #4685
@adam-azarchs I was able to reproduce the `VerifyError` with Bazel's integration tests. Adding a suitable `--experimental_remote_download_regex` fixed it, which I turned into a PR. Could you try https://github.com/bazelbuild/bazel/pull/16475?

With this PR and the two flags `--experimental_fetch_all_coverage_outputs` and `--experimental_split_coverage_postprocessing`, remote coverage with `--remot

[2022-10-14 18:54] dpoluyanov commented on #16315
Couldn't find a linux machine to build binary and relaunch remote test, so still need a few days to test

[2022-10-14 20:23] stabai commented on #10496
This doesn't appear to be open for discussion any more, but I think that having a flag control this would make the most sense. Many CLIs (e.g. git) have a flag to instruct the tool that output needs to be stable and machine readable (or the opposite, a flag that instructs the tool that output should be optimized for a human reader). This is already the case with things like [--color](https://bazel

[2022-10-14 20:36] jfirebaugh commented on #16309
Another situation where this is necessary is if you want to create a hermetic llvm toolchain that supports both macOS and sanitizers. On macOS [sanitizer runtimes _must_ be dynamically linked](https://gcc.gnu.org/bugzilla/show_bug.cgi?id=55599). Thus the macOS LLVM distribution provides prebuilt sanitizer dylibs, e.g. `libclang_rt.asan_osx_dynamic.dylib`. The custom toolchain needs to be able to:

[2022-10-14 22:09] jfirebaugh opened #16479 "Docs for `cc_test` should mention that the `linkstatic` default is different on macOS"
### Description of the bug:

The [docs for `linkstatic`](https://bazel.build/reference/be/c-cpp#cc_test.linkstatic) say that the default is `linkstatic = False` for `cc_test` targets. This isn't true on macOS because the osx toolchain does not provide a `supports_dynamic_linker` feature, which is required for `linkstatic = False` support. See https://github.com/bazelbuild/bazel/commit/ec5553352f2f

[2022-10-14 22:15] jheaff1 commented on #11820
This issue still exists in Bazel 5.3.2, is there a good workaround for it?

[2022-10-15 11:12] mvukov commented on #16388
@martis42 Thanks for providing a sample repo to easily reproduce the bug.

[2022-10-15 18:42] fmeum commented on #16273
This bazel-discuss thread has another example of a situation where this would be useful: https://groups.google.com/g/bazel-discuss/c/YiFe0KR77xM/m/pBfxl5C2BAAJ

[2022-10-16 09:06] HappyCerberus commented on #6615
I just tested it and this statement seems to be incorrect. Adding `--features=layering_check` doesn't prevent the inclusion of private headers (listed in srcs).

[2022-10-16 22:06] seanmor5 opened #16484 "Bootstrapping Bazel within an Alpine Docker container hangs forever"
### Description of the bug:

I am attempting to Bootstrap Bazel 5.3.0 within an Alpine Docker Container, but it ends up hanging forever at:

[code]

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

This is the Dockerfile:

[code]

And then I run:

[code]

And it hangs with the output above forever

### Which operating system are you running

[2022-10-17 00:02] rickeylev commented on #15546
From Phillip Shrader over slack, the sort of customization they do at Aurora:

So another potential interest of mine is to maybe combine the bazel generated wrapper with our shell script to reduce the number of steps involved in setting up all the hermetic stuff.

[2022-10-17 07:32] arunkumar9t2 opened #16486 "`JavaBuilder` Worker JVM does not use jvm flags specified with `--jvmopt`"
### Description of the bug:

When compiling a large Android app we are seeing too many open files error when using workers similar to issue described [here](https://github.com/bazelbuild/bazel/issues/15278). We would like to let worker JVMs use max open file descriptors limit specified on the shell with `-XX:-MaxFDLimit` JVM args.

Ideally this can be done with `build --jvmopt="-XX:-MaxFDLimit"` w

[2022-10-17 09:16] meteorcloudy commented on #14361
I believe this is fixed by https://github.com/bazelbuild/examples/commit/7fc3f8b587ee415ff02ce358caa960f9533a912c

[2022-10-17 09:16] #14361 closed

[2022-10-17 09:57] c-mita commented on #4685
`--experimental_fetch_all_coverage_outputs` and `--experimental_split_coverage_postprocessing`?

I don't really know of a fundamental reason why they couldn't be enabled by default, although there may be one or two lingering issues that should be resolved first (https://github.com/bazelbuild/bazel/issues/15363 comes to mind).

[2022-10-17 10:22] oquenchil commented on #6615
Yes, this requires Clang to work.

[2022-10-17 12:04] ulrfa commented on #15340
@frazze-jobb is on another project now. I worked with him on this sandbox and answer instead.

Thanks for reporting this issue.

I will try to find time to investigate this and planning to create test cases for a few related special cases.

[2022-10-17 12:51] comius commented on #16421
Closing as duplicate of https://github.com/bazelbuild/bazel/issues/14502

[2022-10-17 12:51] #16421 closed

[2022-10-17 12:53] comius commented on #16412
cc @cushon

[2022-10-17 13:36] meisterT commented on #8162
Nope, I though @meteorcloudy did, but I don't see a sign. Do you want to try it?

[2022-10-17 13:43] meteorcloudy commented on #8162
Sorry, I didn't, it was a drop-by comment when I was fixing something else.

[2022-10-17 14:09] alexeagle commented on #16138
Thanks @larsrc-google I hope it could be this simple to flip it: https://github.com/bazelbuild/bazel/pull/16490

Would be nice to have for 6.0 since it seems necessary for good rules_js performance, and some users are averse to being experimented on :)

[2022-10-17 14:35] cushon commented on #16412
[code]

Is the jacoco in Bazel using a vendored ASM, or is the immediate problem actually that we need a newer ASM?

Either way, upgrading to the latest versions SGTM. Anyone want to send a PR?

[2022-10-17 14:53] brandjon commented on #16355
Planning on submitting flips to these flags' defaults in the Java code tomorrow.

[2022-10-17 15:24] comius commented on #8162
https://github.com/bazelbuild/bazel/pull/16491

[2022-10-17 16:30] #16319 closed

[2022-10-17 21:35] jfirebaugh commented on #4605
This is also an issue with clang, which does not support `-fno-canonical-system-headers`, and `-no-canonical-prefixes` does not seem to help.

[2022-10-18 07:28] adam-azarchs commented on #4685
I'm on PTO this week but can check it out next week.  However the last time I tried those flags in combination I got something that passed but didn't record any coverage information.

[2022-10-18 08:15] tp-woven commented on #6341
I just came across this issue while looking for something like gencquery, and was wondering if this was still being considered or if this is something that shouldn't be exposed to the build?

For a little context, we ran into a situation where our code (Cargo build script) needs to reference the file locations of one of its dependencies' outputs. The `cargo_build_script` rule allows us to pass in

[2022-10-18 08:56] carlosgalvezp opened #16496 "Inconsistent naming convention in rctx.download_and_extract for `stripPrefix`"
### Description of the bug:

All arguments to `rctx.download_and_extract` are written in `snake_case` format, except `stripPrefix`. It should be renamed to `strip_prefix` for consistency.

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

_No response_

### Which operating system are you running Bazel on?

_No response_

### What is the outp

[2022-10-18 09:06] tshaynik opened #16497 "Allow setting `target_compatible_with` and `exec_compatible_with` in calls to `local_java_runtime`"
### Description of the feature request:

When defining a local custom java toolchain with `local_java_runtime`, it is useful to be able to set constraints, using the `target_compatible_with` and `exec_compatible_with` arguments to `native.toolchain`. It would be useful to be able to provide those arguments directly to the `local_java_runtime` function, and have them be passed on to the invocation

[2022-10-18 09:17] coeuvre commented on #16467
Closing. Feel free to reopen it if you think it's not a duplicate.

[2022-10-18 09:17] #16467 closed

[2022-10-18 09:22] sgowroji commented on #16496
Hello @carlosgalvezp, Can you point us more details on the above request like document links or any other references. Thanks!

[2022-10-18 09:22] #16138 closed

[2022-10-18 09:24] carlosgalvezp commented on #16496
Hi @sgowroji ! Sure, the documentation is here:
https://bazel.build/rules/lib/repository_ctx#download_and_extract

You can see the function has an argument `stripPrefix`.

[2022-10-18 09:24] fmeum commented on #16496
For backwards compatibility, we could add a new parameter for the correct spelling while keeping the old but making it undocumented.

[2022-10-18 09:25] carlosgalvezp commented on #16496
@fmeum Perhaps mark it as deprecated?

[2022-10-18 09:25] carlosgalvezp commented on #16496
This creates a lot of confusion when you also use e.g. `cc_library`'s `strip_include_prefix`:
https://bazel.build/reference/be/c-cpp#cc_library.strip_include_prefix

[2022-10-18 09:27] Wyverald commented on #16496
yep, this is rather annoying. Should be fairly easy to fix though, so if anyone could send a PR, it would be greatly appreciated :)

[2022-10-18 10:16] meisterT commented on #12117
I looked into #16085 yesterday and agree with https://github.com/bazelbuild/bazel/issues/12117#issuecomment-695113868 - the issue is that we use progress reporting for this. I think the proper way to fix this bug is to not make it a progress bar update.

[2022-10-18 10:27] #16351 closed

[2022-10-18 11:57] digit-google opened #16499 "Bazel 6 regression: cc_library() targets do not collect runfiles from data dependencies correctly."
### Description of the bug:

When trying to use the latest Bazel 6.0.0-pre.20220922.1 pre-release (or even ToT from 2022-10-18), our build rules actually fail to work properly. I could debug it to a regression when the implementation of `cc_library()` was switched from Java to Starlark.

I have uploaded a reproduction case, but a potential fix and my analysis of the problem at: https://github.com/

[2022-10-18 12:23] meteorcloudy commented on #16378
Bazel should work with VS2022, can you give a reproduce case for the failure case?

[2022-10-18 12:25] meteorcloudy commented on #16484
Can you reproduce the same error on a Linux machine instead of macOS? Just wonder if it's because Linux docker doesn't work well on mac

[2022-10-18 12:42] jayzhuang opened #16500 "Bazel fails to start up if $USER is not set plus no valid UID can be retrieved"
### Description of the bug:

Bazel tries to [get user name to figure out output_user_root](https://github.com/bazelbuild/bazel/blob/756be22f6445d6052a0a9cce66fdb7f7b3a8f300/src/main/cpp/startup_options.cc#L124) even if `--output_user_root` is passed in. However, `GetUserName` is a fallible call in an environment where $USER is unset, and `getuid` or `getpwuid` don't work properly. Such situation i

[2022-10-18 13:11] febrifahmi commented on #16416
Building Bazel from scratch using JDK11 failed with more or less same error:
[code]

[2022-10-18 13:20] meteorcloudy commented on #16416
@febrifahmi Can you just download the Linux arm64 binary from https://github.com/bazelbuild/bazel/releases/tag/5.3.1? I don't think bootstrapping Bazel will make a different for the tflite build. We also never tested bootstrapping on the specific platform.

[2022-10-18 14:00] febrifahmi commented on #16416
Unfortunately, I don't think that binary could run in my old pi (armv6l Raspberry Pi model B rev 002).

[2022-10-18 15:22] oquenchil commented on #16499
LGTM

I can send a change with David's solution and Fabian's addition.

[2022-10-18 15:33] digit-google commented on #16499
Thank you, I was not aware of #15043 but I agree that adding the DefaultInfo.files as well seems much more logical here (and that the fact that the Java implementation didn't collect them for CcLibrary was a bug).

[2022-10-18 16:23] jonmeow opened #16502 "bazel crash: ExceptionInInitializerError / InaccessibleObjectException"
### Description of the bug:

This was reported to us by @vit1251 at https://github.com/carbon-language/carbon-lang/issues/2268:

[code]

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

gh repo clone github.com/carbon-language/carbon-lang
cd carbon-lang
bazel build //explorer/...

### Which operating system are you running Bazel on?

Not pr

[2022-10-18 16:28] dfr commented on #944
It seems to be available in bazel 5.3.0 but it would be nice if the docs mention it

[2022-10-18 16:47] oquenchil commented on #16499
Please take a look at the PR. I will write the proper attribution when merging internally.

[2022-10-18 17:03] #15919 closed

[2022-10-18 18:27] #16499 closed

[2022-10-18 19:29] adam-singer opened #16505 "[bazel clean] Enable async options for darwin/bsd clients"
### Description of the bug:

It seems like the `setsid` issue as reported in https://github.com/bazelbuild/bazel/issues/1906 is no longer an issue. It seems that  https://github.com/bazelbuild/bazel/commit/06a6d36202e2fe5b644d71c8022b8fb5c94a71c8 changed the implementation of `--async` to use the daemonizing implementation which calls `setsid` vis c runtime vs command line. Darwin and BSD clients

[2022-10-18 20:42] haxorz commented on #16085
Oh I missed that @meisterT already mailed a PR for fixing the underlying issue. https://github.com/bazelbuild/bazel/pull/16495#issue-1412693170 has his summary of the situation :)

[2022-10-18 21:18] chiphogg opened #16507 "Support googletest structured output"
### Description of the feature request:

Googletest can produce structured output, in [XML](http://google.github.io/googletest/advanced.html#generating-an-xml-report) or [JSON](http://google.github.io/googletest/advanced.html#generating-a-json-report) format, via the `--gtest_output` option.  However, the resulting file isn't a declared output artifact, so it gets deleted along with the sandbox.

[2022-10-18 21:31] #16391 closed

[2022-10-18 21:31] #16355 closed

[2022-10-18 21:31] #16323 closed

[2022-10-18 22:09] Bencodes commented on #15751
@ted-xie to quickly circle back here - this doesn't seem to be an issue using R8 instead of Proguard.

[2022-10-18 23:04] vit1251 commented on #16502
Yep. ArchLinux update version.

[2022-10-19 00:11] ergleb78 commented on #6005
Are there any updates on this? It looks like it's still an issue. It causes to use weird combination of bazel and standalone coverage reporting tools.

[2022-10-19 00:25] ergleb78 commented on #15254
It looks like I'm facing the same issue. No matter what I test the report file has zero bytes in length.

[2022-10-19 05:39] sgowroji commented on #16502
Dupe of https://github.com/bazelbuild/bazel/issues/14548

[2022-10-19 05:41] sgowroji commented on #16502
Can you try the workaround mentioned  here https://github.com/bazelbuild/bazel/issues/14548#issuecomment-1016025098

[2022-10-19 06:14] fmeum commented on #15254
@ergleb78 Are you using Bazel 5.3.1? A number of possible causes have been fixed since the original report.

[2022-10-19 06:51] lberki commented on #16380
Then @haxorz WDYT? I thought @meteorcloudy is appropriate because he has all the state about external dependencies in hi head, which is (partially) relevant.

[2022-10-19 09:07] coeuvre commented on #10880
I didn't get this. Can you share more details?

I still think the ultimate solution for this is action rewinding and it is still working in progress https://github.com/bazelbuild/bazel/pull/14126#issuecomment-1231956715.

However, if we look closer to the issue, there are two scenarios:

1. The generating action and the consuming action are executed **within the same invocation**. i.e. the file is

[2022-10-19 11:05] brentleyjones commented on #10880
It's number 2 we run into. And I 1000% agree Bazel should call `fibdMissingBlobs`. I believe it's an REAPI spec violation that it's currently not. Have no that time be user flag configurable would be best IMO. I know some Buildbarn AC checking optimizations even allow you to set a value the same way, so matching that on the Bazel side would be perfect (so being able to say something like "I know m

[2022-10-19 12:54] dmivankov commented on #7291
`--treat_no_tests_as_success_return_code` would be great to have, usecase is using `bazel query` to select test targets, for example to
- pick `--jobs N` differently for different test sets
- choose running `bazel coverage` vs `bazel test` depending on some query

Filtering all test by tags isn't always expressive enough.

[2022-10-19 13:34] #14727 closed

[2022-10-19 14:05] meteorcloudy commented on #16338
Why is this `area-Bzlmod`?

[2022-10-19 14:22] larsrc-google commented on #15153
Possibly related to issue #7470.

Could you show a command line that prompts this behaviour, and what you're seeing that you didn't expect? A couple of tries didn't get me to get sandboxfs to work for tests at all.

[2022-10-19 14:57] lberki commented on #16338
AFAIU bzlmod is the only significant user of repo mapping, so mainly by association

[2022-10-19 15:11] dfr commented on #4942
I used the stable-status.txt file to embed a git hash into my build:

[code]

The ```STABLE_GIT_COMMIT``` value comes from a script which I'm using with the workspace_status_command flag:

[code]
There are probably more elegant ways to do this but this works for me. Without ```stamp = 1``` it is flaky which I only discovered by reading old issues found with Google. The ```stable``` attribute is me

[2022-10-19 15:18] lberki commented on #16338
I'm glad my crystal ball worked well this time :)

[2022-10-19 16:44] brandjon commented on #11261
Hm, best reopen this as release blocker until I submit the documentation as well.

[2022-10-19 17:42] Vertexwahn opened #16511 "[Mirror] zlib-1.2.13"
Please mirror https://zlib.net/zlib-1.2.13.tar.gz
should be available under "https://mirror.bazel.build/zlib.net/zlib-1.2.13.tar.gz"

Required here: https://github.com/nelhage/rules_boost/pull/270 and here: https://github.com/AcademySoftwareFoundation/openexr/pull/1288

[2022-10-19 19:12] aiuto commented on #7377
@brandjon
Does the starlark visibility stuff close this?

[2022-10-19 19:33] vdye commented on #16380
Hello! I'd like to add a bit of context around why I submitted this, what I'm looking for, etc. w.r.t your comments.

For some background: while I'm new to Bazel, I contribute pretty actively on Git (especially `git sparse-checkout` and the associated [sparse index](https://github.blog/2021-11-10-make-your-monorepo-feel-small-with-gits-sparse-index/) feature) and am generally interested in Git's s

[2022-10-19 19:52] jwbee commented on #5042
Mostly just subscribing to this ... but I have to say the way bazel subverts the Linux CPU mask is quite annoying. It starts a number of parallel tasks equal to the number of logical processors in the machine, yes, that's weird, but it's not as weird as the fact that it runs on all CPUs regardless of the fact that I run it under `taskset -c 10 bazel test ...`. My intention is to isolate it on one

[2022-10-19 20:03] kshyanashree commented on #15685
5.3.2 is now out!

@petemounce @excitoon [@vbatts](https://github.com/vbatts) Could you please update relevant package managers? Thanks!

[2022-10-19 21:15] brandjon commented on #7377
No, this is a separate matter of target visibility. Still on my radar but not this release cycle.

[2022-10-19 22:21] linzhp opened #16513 "New exit code for remote cache errors"
### Description of the feature request:

It would be better if Bazel can have a different exit code for remote cache errors. Currently:

* cache misses in build without the bytes returns 1: https://github.com/bazelbuild/bazel/blob/e7218d556a2a265183a10a19fcaa21c0277820ad/src/main/java/com/google/devtools/build/lib/remote/RemoteActionInputFetcher.java#L99
* remote cache time out returns 36 with mes

[2022-10-19 22:44] nikhilkalige opened #16514 "Invalid/missing output file"
### Description of the bug:

I have genrule that creates two output files
[code]

I then run a build
[code]
Everything looks good till now, but If I do
[code]

My first assumption, was someone deleted the file inside of the bazel-out directory, so bazel thinks it already generated it. So, I did a `bazel clean --expunge` and rebuilt it, but I still see the same problem.

However, `bazel shutdown; b

[2022-10-19 23:25] haxorz commented on #6552
Is there still a complaint here given the improved warning message added in https://github.com/bazelbuild/bazel/pull/14098?

[2022-10-20 00:36] GregBowyer commented on #15897
@rickeylev does this cover hermetic toolchains ala https://github.com/bazelbuild/rules_python/issues/691 ?

[2022-10-20 00:41] rickeylev commented on #15897
The toolchain rule and providers will also move into Starlark, yes.

[2022-10-20 00:43] aiuto commented on #6552
How time appropriate that you should ask. Configurability is about to declare bug bankruptcy and go through all our old ones and close the P3s and P4s that are not likely to be staffed in the next year or more.

I'm going to close it because no one will ever try to fix it and no one notices it enough to care.

[2022-10-20 00:43] #6552 closed

[2022-10-20 01:03] GregBowyer commented on #15897
Sorry I will be more clear, with the rule and providers does this go towards working through your concerns and considerations as per https://github.com/bazelbuild/rules_python/issues/691#issuecomment-1160833532

I ask because right now, we run a very hermetic world using bazel and NixOS, but this leads us to hacks like https://github.com/ticketmaster/rules_python/commit/299cb8946e2c372562d320894e2

[2022-10-20 02:50] haxorz commented on #6552
Ah, @michajlo points out that d72eb8deabe6be6a1f7ec39269ec0c9d3ff9f0f8 is relevant too.

That commit removed the "--batch mode is deprecated" warning. And the commit I pointed out in my previous comment caused Bazel to explain why it was automatically turning on `--batch`.

So we definitely no longer have the ironic e2e behavior of Bazel silently automatically enabling `--batch` and then complaini

[2022-10-20 03:56] brandjon commented on #10225
I'd be interested in possibly flipping this for Bazel 7.0.

Note that there appears to be a edge case bug in the current implementation. `//foo:BUILD` is always considered a source file target of `//foo`, even if this BUILD file does not contain a mention of its own label. Yet if `//foo:BUILD` does not appear in an `exports_files` declaration, it will inherit the package's default visibility (not

[2022-10-20 03:58] rickeylev commented on #15897
Ah ok. The rewrite into Starlark doesn't _directly_ address those problems. It does make it much easier to address those problems, though, because (1) you can use Starlark instead of Java, and (2) changes won't be coupled to Bazel releases

[2022-10-20 04:36] sgowroji commented on #16511
Please verify the above it is mirrored. Fixed.

[2022-10-20 04:36] #16511 closed

[2022-10-20 04:40] sgowroji commented on #16514
Hello @nikhilkalige, Can you provide us an example to verify the above. Thanks!

[2022-10-20 05:20] Sinn opened #16515 "bazel coverage generating empty coverage.dat on single workspace"
### Description of the bug:

[code]
[code]

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

bazel clean ; bazel coverage --combined_report=lcov --instrumentation_filter='' --nocache_test_results  src/base:expected_test

### Which operating system are you running Bazel on?

PRETTY_NAME="Debian GNU/Linux rodete" NAME="Debian GNU/Linux" VERSI

[2022-10-20 06:47] nikhilkalige commented on #16514
I would have if possible, but I highly doubt I can come up with an example.

I can possibly debug it, if I can get some help as to where to look

[2022-10-20 07:58] sgowroji commented on #16515
Dupe of https://github.com/bazelbuild/bazel/issues/16208

[2022-10-20 08:00] petemounce commented on #15685
Done. Ping on https://github.com/bazelbuild/continuous-integration/issues/1456

[2022-10-20 08:57] coeuvre commented on #10880
I will work on the fix for 2 in a few days.

[2022-10-20 09:40] #10091 closed

[2022-10-20 10:55] fweikert opened #16516 "Status of Bazel 6.0.0-pre.20221007.4"
- Expected release date: 2022-10-20

Task list:

- [x] Pick release baseline: [5d0e5a7b](https://github.com/bazelbuild/bazel/commit/5d0e5a7ba415b981390bf9579da644e1065b2a36) with cherrypicks [512d9b5c](https://github.com/bazelbuild/bazel/commit/512d9b5cf784cc4450baf50362ab3d88cd815184) [ff927f72](https://github.com/bazelbuild/bazel/commit/ff927f72644b4d1c3036ea8b3b821c58c34c92fa) [c5ccb06c](https:

[2022-10-20 11:18] vit1251 commented on #16502
Change Java execution binary with `sudo archlinux-java set java-11-openjdk` allow me to make next step. Thanks.
But here I receive next one issue:

[code]
`libunwind` is already installed in our system.

[2022-10-20 12:13] wilwell commented on #10702
Thanks @brentleyjones for reproduction code.
I was able to reproduce your example only  on M1 machine.
I investigated `Linking iOSApp...` action. On that case the difference between `ActionContinuation.execute` and `subprocess.run` is `sandbox.delete` and `sandbox.CopyOutputs`, which is reasonable.

But `actuallyCompleteAction` following  `ActionContinuation.execute` is more interesting. I'm not s

[2022-10-20 12:16] brentleyjones commented on #10702
My concern is more the symlinks actions taking the same amount of extra time. Those shouldn't be sandbox copy and delete times, since it's just a symlinks. So I agree, the more concerning part isn't the sandbox but the `actuallyComplete` portion.

[2022-10-20 13:38] tjgq commented on #16513
Yes, this should probably be an exit code 34 (REMOTE_ERROR): https://cs.opensource.google/bazel/bazel/+/master:src/main/java/com/google/devtools/build/lib/util/ExitCode.java;l=60;drc=00bd2910bf76df9a10d7fff466fab6485ad71cbe

[2022-10-20 14:03] adrianimboden commented on #16309
I also have the same challenge.

I tried quite some hours now to do the same thing using `dynamic_runtime_lib` in the `cc_toolchain` call now.

It seems to me that this parameter would be the canonical way to support this use case, no?
This however does not work because of this cyclic dependency:
[code]

@local_config_cc//:libc++:
[code]

It kind of makes sense, but what I do not understand is, wh

[2022-10-20 14:07] #15678 closed

[2022-10-20 15:06] meteorcloudy opened #16518 "Integration tests are not cached in presubmit on trivial change"
There is only a change in a [java test file](https://bazel-review.googlesource.com/c/bazel/+/205878/4/src/test/java/com/google/devtools/build/lib/runtime/UiEventHandlerStdOutAndStdErrTest.java) between two Bazel presubmits runs:
- https://buildkite.com/bazel/google-bazel-presubmit/builds/60390
- https://buildkite.com/bazel/google-bazel-presubmit/builds/60386

Ideally, only that particular changed

[2022-10-20 15:59] jonmeow commented on #16502
Closing this: blaze is not just a build system, it's not setting choosing the flags to pass to lld, that comes from Carbon. You can ask on Carbon's forums, but it's probably another arch-specific issue and as I said before we're mostly Debian and Ubuntu: libunwind.a should be in /usr/lib/llvm-14 alongside the rest of the libraries.

[2022-10-20 15:59] #16502 closed

[2022-10-20 16:28] fmeum commented on #16309
The difference may be explained by `--custom_malloc` being a [direct dependency of all `cc_*` target](https://cs.opensource.google/bazel/bazel/+/b927d81ea4bb9d2b99f23109d66454e108914cb8:src/main/java/com/google/devtools/build/lib/bazel/rules/cpp/BazelCppRuleClasses.java;l=548;drc=d4bb077554fad048b1bda32bd8d9a5d7c2ea1390;bpv=0;bpt=1) rather than one brought in by the toolchain. Essentially, with `-

[2022-10-20 16:45] adrianimboden commented on #16309
ah interesting, I thought that it must be a cc_import/cc_library so that the rpath thing works, but I have not tested the filegroup approach at all.

I will try that soon and write back here :+1:. Thank you for your fast response.

[2022-10-20 17:10] adrianimboden commented on #16309
I shortly tried it with this target:
[code]
and
[code]
It does not link against the library.
When I put `--linkopt -lc++` to make it "work", the bazel-run directory also does not have the `.so` files in the tree at all:
[code]

I think, using `cc_import` or `cc_library` is needed to make linking and rpath possible.

[2022-10-20 18:10] chiphogg commented on #16507
Update: I realized that a `bazel test` run, with _no_ `--gtest_output` flag, will produce the results under `bazel-testlogs/` in XML format.

I had previously seen these XML files, but they looked like simpler versions which simply copied the test log, lacking the structure I needed.  (This behaviour is explained by the [`XML_OUTPUT_FILE` documentation](https://bazel.build/reference/test-encyclope

[2022-10-20 18:19] yuzhy8701 commented on #16309
@adrianimboden I think your problem is that bazel by default links binary in static mode - and it will use `static_runtime_lib`, not `dynamic_runtime_lib`. (You can add "-v" to the compiler flags to see the actual linker command called by clang.) (Note: you cannot feed `so` files to `static_runtime_lib` or bazel will crash with hard-to-understand errors).

Currently there are 2 conditions to make

[2022-10-20 19:19] fweikert commented on #16516
Post-submit is very red due to a broken bzlmod integration test, which has been fixed at HEAD (https://github.com/bazelbuild/bazel/commit/0c03ebf0b8d7534fd85f2286c5ba2dcb705dcc4b).

[2022-10-20 19:34] yuzhy8701 opened #16520 "Make `cc_toolchain` to always link `(static|dynamic)_runtime_lib` attributes"
### Description of the feature request:

Currently, the `(static|dynamic)_runtime_lib` attributes of `cc_toolchain` are ignored when the feature `static_link_cpp_runtimes` is disabled. When `static_link_cpp_runtimes` is enabled, the toolchain will link `static_runtime_lib` statically in static mode, or `dynamic_runtime_lib` dynamically in dynamic mode.

This FR asks that when `static_link_cpp_runt

[2022-10-20 19:35] fweikert opened #16521 "Some Android shell tests don't build on Apple Silicon CI workers"
### Description of the bug:

I'm working on adding M1 Mac Studio Ultra machines to our CI worker pool. These machines come with Android build-tools 31.0.0 since the older versions running on CI so far (28.0.2 and 30.0.3) cannot be installed on M1 machines.

Unfortunately this means that some of our Android shell tests started failing. This is due to 31.0.0 replacing dx with d8, but some of our tes

[2022-10-20 19:59] #16516 closed

[2022-10-20 20:44] adrianimboden commented on #16309
Ok i have to admit that I did not come very far with `--custom_malloc` :smile:. The reason is that tools that are being used in the build process itself (in my case ubp from grpc) will not use the given `--custom_malloc`. I don't now why that makes sense at all, but so be it.

So I tried your suggestion anyway and adding `static_link_cpp_runtimes` in combination with `dynamic_runtime_lib` and `sta

[2022-10-20 21:06] adrianimboden commented on #16309
Also, interestingly `cc_test` targets do not use the given `dynamic_runtime_lib` or `static_runtime_lib`. `cc_binary` targets work fine.

[2022-10-20 21:23] fmeum commented on #16309
That's because both `--custom_malloc` and `--dynamic_mode` are reset to their default values in the exec configuration (https://cs.opensource.google/bazel/bazel/+/b927d81ea4bb9d2b99f23109d66454e108914cb8:src/main/java/com/google/devtools/build/lib/rules/cpp/CppOptions.java;l=345;drc=4201c697b9249acc02197b8d9951eaf09c2cddf4;bpv=1;bpt=1). Whether that's an oversight or intentional I don't know.

Sta

[2022-10-20 21:36] adrianimboden commented on #3592
For future reference, I had to add this feature to the cc_toolchain config:
[code]

(it's https://github.com/bazelbuild/bazel/issues/3592#issuecomment-579726086 but starlark syntax)

[2022-10-20 21:59] limdor commented on #8195
Update: All PRs in Bazel have been merged except the flag flip itself. The remaining part is the downstream projects that are tracked here https://github.com/bazelbuild/bazel/pull/15327

[2022-10-20 22:55] umap341 commented on #2537
On windows also facing same issue: (No debugging symbols found in bazel-bin/examples/application/application). Any solution to this?

[2022-10-21 03:16] Sinn commented on #16515
I'm slightly confused by what you mean 'external' repositories. All the code being tested here is under the projects workspace.
[code]

[2022-10-21 05:32] ergleb78 commented on #15254
@fmeum I'm on 5.3.2, actually
It looks like all the tests are being executed, but the report file is empty:

-5.3.2-linux-x86_64...
bazel 5.3.2

//<package....>/tests:test_service_endpoints                                PASSED in 3.4s
//<package...>/tests:test_code                                                        PASSED in 15.5s

Executed 2 out of 2 tests: 2 tests pass.
INFO: Build complete

[2022-10-21 07:24] sgowroji commented on #16334
@coeuvre Above PR is merged, Can we close this issue ?

[2022-10-21 07:28] sgowroji commented on #15741
@ted-xie, Could you please respond on the above [comment](https://github.com/bazelbuild/bazel/issues/15741#issuecomment-1178176928). Thanks!

[2022-10-21 07:32] sgowroji commented on #15432
@mauriciogg, Can you please respond on the above reply comments. Thanks!

[2022-10-21 07:56] larsrc-google opened #16522 "Get rid of implicit fallback from sandbox to local execution"
### Description of the bug:

Bazel has a legacy feature where local sandboxed execution can silently fall back to non-sandboxed if an action can't be run in a sandbox. This is a legacy behaviour that should now instead be controlled with setting strategies. This behaviour is currently enabled through the `--incompatible_legacy_local_fallback`. This flag defaults to `true` (old behaviour) and will

[2022-10-21 10:06] #16315 closed

[2022-10-21 10:13] tjgq commented on #16315
I went ahead and submitted the tentative fix. Please reopen if it still doesn't work.

[2022-10-21 12:22] #8581 closed

[2022-10-21 12:27] tjgq commented on #11119
I believe this was fixed in 32b0f5a. Internal actions that create a symlink should no longer cause the symlink's target to be downloaded when `--remote_download_minimal` is enabled.

[2022-10-21 12:27] #11119 closed

[2022-10-21 12:41] fweikert opened #16525 "Apple Silicon: Some tests fail with '@bazel_tools//tools/cpp:everything' does not contain a toolchain for cpu 'darwin_arm64'"
### Description of the bug:

- //src/test/java/com/google/devtools/build/lib/buildtool:KeepGoingTest: [log](https://storage.googleapis.com/bazel-untrusted-buildkite-artifacts/0183fa35-2b92-4a37-a98f-cc52f0f2432c/src/test/java/com/google/devtools/build/lib/buildtool/KeepGoingTest/test.log)
- //src/test/java/com/google/devtools/build/lib/buildtool:DanglingSymlinkTest: [log](
https://storage.googleap

[2022-10-21 12:46] fweikert opened #16526 "Some tests still require a `python` binary (Python 2)"
### Description of the bug:

On our new M1 Mac Studio CI workers the following tests fail due to Python 2 no longer being installed by default:

- //src/test/shell/bazel:bazel_example_test fails with `io_bazel/src/test/shell/bazel/bazel_example_test: line 135: python: command not found` [log](https://storage.googleapis.com/bazel-untrusted-buildkite-artifacts/0183fa35-2b92-4a37-a98f-cc52f0f2432c/sr

[2022-10-21 12:51] lberki commented on #16380
Wow, that's an impressive amount of research!

Does the sentence "Bazel came up in nearly every conversation" imply that a majority of the folks who have huge git repositories use Bazel?

My heart is saying that we should have some sort of functionality like this in Bazel, but my head is very reluctant for the reasons already elaborated above. I was about to ask who exactly this would benefit, but

[2022-10-21 13:01] coeuvre commented on #10618
I think this is fixed with recent development. Free feel to reopen if it sill happens to you on latest version.

[2022-10-21 13:01] #10618 closed

[2022-10-21 13:05] coeuvre commented on #10971
I think this is fixed by #16123. Closing.

[2022-10-21 13:05] #10971 closed

[2022-10-21 14:06] Sinn commented on #16515
There was a mixup of llvm and gcc, nvm.

slack discussion: https://bazelbuild.slack.com/archives/CA31HN1T3/p1666335963259669

[2022-10-21 14:06] #16515 closed

[2022-10-21 15:06] lripoche commented on #15762
still occurring with bazel 5.3.2, any update on this ?

[2022-10-21 15:08] tjgq commented on #11942
This became a warning instead of an error at some point between 4.x and 5.x (likely in e855a26).

[2022-10-21 16:35] seanmor5 commented on #16484
@meteorcloudy I finally got around to checking this, I am able to make actual progress building bazel within an Alpine container on a Linux machine. You are probably right that it is only problematic in macOS

[2022-10-21 17:02] meteorcloudy commented on #16484
Glad to hear that, then I'm closing this issue now

[2022-10-21 17:02] #16484 closed

[2022-10-21 17:08] mauriciogg commented on #15432
sorry this issues was addressed here https://github.com/bazelbuild/bazel/issues/15957

[2022-10-21 17:37] franciscocpg commented on #15831
@cushon
How to do that? I've tried `--jvmopt=--add-opens=java.base/java.nio=ALL-UNNAMED` unsuccessfully.

[2022-10-21 17:46] cushon commented on #15831
I think you want `bazel --host_jvm_args=--add-opens=java.base/java.nio=ALL-UNNAMED build ...`, see https://bazel.build/docs/user-manual#host-jvm-args

This needs to be passed to the JVM running Bazel itself, `bazel build --jvmopt=...` is configuring JVM flags for the JVM in the target configuration (e.g. for a `java_binary` or `java_test`)

[2022-10-21 18:12] franciscocpg commented on #15831
The command executed successfully but it didn't fix my issue. Still seeing `Unable to make java.lang.String(byte[],byte) accessible: module java.base does not "opens java.lang" to unnamed module`.

Anyway, as a workaround, I'm using `asdf` to use the `openjdk-11` in my project for now.

Thank you for your help.

[2022-10-21 18:14] cushon commented on #15831
That one requires `--add-opens=java.base/java.lang=ALL-UNNAMED`, not `--add-opens=java.base/java.nio=ALL-UNNAMED`, you might need to pass multiple `--add-opens=` flags

[2022-10-21 18:16] #16461 closed

[2022-10-21 18:27] haxorz commented on #16380
+1. @vdye, thank you for the incredibly thorough and thoughful FR!

@michaeledgar has a lot of prior experience with sparse checkout in both Git and Mercurial and he's coincidentally on `team-Core`, so I'd like him to take a look and give his technical opinion.

+1 to this. Ideally we can come up with something that doesn't involve intrusive changes to Skyframe (Bazel's core execution and incremen

[2022-10-21 18:36] #15980 closed

[2022-10-21 18:54] lberki commented on #16380
Without taking sides, @vdye 's design doc is _not_ coupled to git, so on that side, we're good.

I thought a bit about how this could look like in Skyframe and I _think_ I could come up with a way to make this as unintrusive as possible to Skyframe (essentially: make `PackageFunction` and `BzlLoadFunction` fetch the files they care about, or maybe `PackageLookupFunction`), if git's sparse checkout

[2022-10-21 19:09] franciscocpg commented on #15831
Thank you @cushon. The command above worked:
[code]

[2022-10-21 21:36] alexeagle opened #16528 "Canonical repo for root workspace (@) has workspace_root "external""
### Description of the bug:

`Label("@@//js/private/node-patches:fs.js").workspace_root` returns "external".

I'm not sure if this is expected behavior of canonical labels (https://github.com/bazelbuild/bazel/issues/15593) or not. The  workspace_root of a label in the root workspace with apparent label literal (single "@") is the empty string.

/cc @Wyverald

### What's the simplest, easiest way t

[2022-10-22 02:48] #11261 closed

[2022-10-22 10:07] fmeum commented on #16528
@Wyverald Looked into this and I *think* I know what's happening: The repro ends up evaluating `Label("@//js/private/node-patches:fs.js")` from the `rules_js` module's repo, which, since there is no repo with apparent name `""` visible from there, creates a label with a non-visible empty `RepositoryName`, which however doesn't compare equal to `RepositoryName.MAIN`. Thus, in this `RepositoryName`'

[2022-10-22 14:47] Vertexwahn opened #16529 "[Mirror] bzip2-1.0.8"
Please mirror:

- https://sourceware.org/pub/bzip2/bzip2-1.0.8.tar.gz

Expected mirror URL:
- https://mirror.bazel.build/sourceware.org/pub/bzip2/bzip2-1.0.8.tar.gz

Intended use:
- https://github.com/nelhage/rules_boost/pull/273

[2022-10-24 11:56] fweikert opened #16537 "Status of Bazel 6.0.0-pre.20221012.2"
- Expected release date: 2022-10-24

Task list:

- [x] Pick release baseline: [849f706a](https://github.com/bazelbuild/bazel/commit/849f706ac227b1a18f26070cb772c9825583a1b3) with cherrypicks [1ab8498a](https://github.com/bazelbuild/bazel/commit/1ab8498a536cab2ff77cc221e4052ef7a6c7b778) [c5ccb06c](https://github.com/bazelbuild/bazel/commit/c5ccb06cb40dff72c69ea774e63cb8a1eea8ea1e) [977d7fb3](https:

[2022-10-24 13:57] #11834 closed

[2022-10-24 13:57] #13625 closed

[2022-10-24 13:57] #10525 closed

[2022-10-24 14:21] #16528 closed

[2022-10-24 14:32] brentleyjones commented on #10525
@coeuvre Was your commit supposed to close this? I don't think we have async downloads of outputs yet, do we?

[2022-10-24 15:11] hobofan commented on #14778
There is some parallel discussion in the BCR repo: https://github.com/bazelbuild/bazel-central-registry/issues/131

[2022-10-24 15:16] hobofan opened #16538 "Add docs for concept of "yanked version""
Yanked versions have recently been implemented (https://github.com/bazelbuild/bazel/issues/16180), and the first modules have been yanked as well. However there doesn't seem to be an section in the official documentation that explains the purpose and behaviour of yanked versions yet.

In order to provide a good user experience on https://registry.bazel.build as well and not leave users puzzled wha

[2022-10-24 15:20] brentleyjones commented on #10525
The feature request says this though:

So I believe what is desired is similar to fully async bes uploading, for the downloading to continue in the background, after the command completes and returns the prompt to the user.

[2022-10-24 16:02] coeuvre commented on #10525
Can you help me understand user cases for this?

IMO, if users request toplevel outputs, they expect outputs are there after the build complete. Otherwise, they can just use `minimal` mode. If the consumer is IDE or other tools, it would confuse them if the build complete but outputs are not there.

[2022-10-24 16:05] brentleyjones commented on #10525
Maybe @shs96c can elaborate more.

I know personally for some of my projects that there is a set of outputs that if they appear asynchronously it would be fine. I'm also fine with this "go as fast as possible during the build, but block at the end for any remaining downloads" behavior.

[2022-10-24 16:18] matawed commented on #6196
Is this really still an issue? According to https://github.com/bazelbuild/bazel/blob/6578b5b808eac6aa22aa325a38e59d364ac2fea3/src/main/java/com/google/devtools/build/lib/bazel/repository/downloader/ProxyHelper.java authenticated proxies set by env vars should be supported, shouldn't it?

[2022-10-24 17:24] fweikert commented on #16526
Some more failing tests:

- [//src/test/shell/bazel:python_version_test](https://storage.googleapis.com/bazel-untrusted-buildkite-artifacts/0183fad8-e903-41d9-9390-287093f4c8fa/src/test/shell/bazel/python_version_test/test.log)
- [//src/test/shell/bazel:bazel_workspaces_test](https://storage.googleapis.com/bazel-untrusted-buildkite-artifacts/0183fae5-7499-46b8-bccc-e52aeda9336f/src/test/shell/baze

[2022-10-24 17:25] fweikert commented on #16525
More failing tests:

- [//src/test/java/com/google/devtools/build/lib/buildtool:CompileOneDependencyIntegrationTest](https://storage.googleapis.com/bazel-untrusted-buildkite-artifacts/0183fad8-e903-41d9-9390-287093f4c8fa/src/test/java/com/google/devtools/build/lib/buildtool/CompileOneDependencyIntegrationTest/test.log)
- [//src/test/java/com/google/devtools/build/lib/rules/objc:BazelJ2ObjcLibraryT

[2022-10-24 17:27] benjaminp opened #16539 "[Mirror] s390x and ppc64le jdk 17s"
### Please list the URLs of the archives you'd like to mirror:

https://github.com/adoptium/temurin17-binaries/releases/download/jdk-17.0.4.1%2B1/OpenJDK17U-jdk_ppc64le_linux_hotspot_17.0.4.1_1.tar.gz
https://github.com/adoptium/temurin17-binaries/releases/download/jdk-17.0.4.1%2B1/OpenJDK17U-jdk_s390x_linux_hotspot_17.0.4.1_1.tar.gz

[2022-10-24 21:41] chiragramani commented on #10702
Came across this issue - https://github.com/bazelbuild/bazel/issues/14125 that also talks about some overhead involved with`actuallyCompleteAction`
[code]

[2022-10-24 23:12] nikhilkalige commented on #16514
Somehow, removing the flag `build --remote_download_toplevel` seems to fix the problem

[2022-10-24 23:41] brentleyjones commented on #16514
@bazelbuild/remote-execution

[2022-10-25 07:33] lberki commented on #16380
cc @maxious @arxanas @dbernadett @linzhp

[2022-10-25 09:13] #16505 closed

[2022-10-25 10:47] LKreutzer commented on #4685
The same issue can come up with a `py_test` target. In our case it was solved by not using any `--remote_download_minimal` or `--remote_download_toplevel` options.

[2022-10-25 11:10] larsrc-google commented on #16522
The old behavior has effectively quietly made `dynamic_local_strategy` default to `worker,sandboxed,standalone`, because anything that didn't support sandboxing would then do standalone instead. I'll make that explicit before I can flip the flag.

[2022-10-25 11:28] meteorcloudy commented on #16159
Bazel 6.0.0rc1 is now available for those that want to try it out.

You can download it from:
https://releases.bazel.build/6.0.0/rc1/index.html.

Please report regressions to https://github.com/bazelbuild/bazel/issues as soon as possible.

For any cherry-pick requests, please send PRs to the [release-6.0.0](https://github.com/bazelbuild/bazel/tree/release-6.0.0) branch.

[2022-10-25 12:00] tjgq commented on #16514
@nikhilkalige Can you share the full set of flags you're invoking Bazel with, including the .bazelrc?

Since you mentioned `--remote_download_toplevel`, I'm assuming this is a remote build. I tried to repro with Bazel 6.0.0-pre.20220720.3 and a minimal `genrule`, but the bazel-bin directory seems to be populated correctly, even if I delete the file manually and rerun Bazel.

[2022-10-25 12:19] fweikert commented on #16526
Most (all?) tests are actually PY3 compatible, i.e. a symlink to the python3 binary solved most of the problems.

//src/test/shell/bazel:python_version_test is the only remaining failing test since it requires a `python2` binary.

[2022-10-25 12:24] tjgq commented on #10702
Sadly, `ctx.actions.symlink` with a `declare_file` or `declare_directory` output parameter doesn't actually optimize out the copy. The action itself does create a symlink in the filesystem, but Skyframe dereferences it and loses track of the fact that it was a symlink when the action outputs are collected (which explains the additional checksumming and copying overhead).

One possible solution is

[2022-10-25 12:29] meteorcloudy commented on #15529
Close as duplication of https://github.com/bazelbuild/bazel/issues/12947

[2022-10-25 12:29] #15529 closed

[2022-10-25 13:28] maxwellE opened #16546 "Allow `cc_helper` to be consumed by end users"
### Description of the feature request:

Currently [`cc_helper`](https://github.com/bazelbuild/bazel/blob/675172439552055398c480990e277bb2f39d6aaa/src/main/starlark/builtins_bzl/common/cc/cc_helper.bzl) contains generally useful functionality that should be publicly available to rulesets

### What underlying problem are you trying to solve with this feature?

Preventing duplication of this logic a

[2022-10-25 14:26] shreyax commented on #15977
I will keep this issue assigned to me

[2022-10-25 15:02] larsrc-google commented on #16522
On second thought, changing `dynamic_local_strategy` might be worse - without local lockfree, it would block the remote when it rather than just leave it to remote-only. That would be a subtle performance regression. Once we get local lockfree to be the standard, we can reasonably revisit the defaults.

[2022-10-25 15:03] larsrc-google commented on #16364
An interesting behaviour of VirtioFS, but the reordering looks fine, so I'm applying that.

[2022-10-25 15:04] larsrc-google commented on #15864
I have updated the documentation.

[2022-10-25 15:04] #15864 closed

[2022-10-25 15:17] #16364 closed

[2022-10-25 19:26] ahumesky commented on #16087
@cushon

[2022-10-25 19:29] ahumesky commented on #16014
cc @larsrc-google

[2022-10-25 19:32] ahumesky commented on #15837
cc @katre

[2022-10-25 19:40] ahumesky commented on #15804
we would also need to update our dependencies internally for blaze.

however if someone from the community wants to update this, we can update android_tools

[2022-10-25 19:45] ahumesky commented on #15760
cc @comius

[2022-10-25 19:50] ahumesky commented on #15521
out of curiosity, do you have sandboxing off? seems like this should only happen with sandboxing off

[2022-10-25 19:57] ahumesky commented on #15144
we're moving away from the "classic" desugarer to D8-based desugaring in bazel 6.0 (and released in recent pre-releases) so this might not be an issue with the D8 desugarer

[2022-10-25 20:03] oliviernotteghem commented on #15144
@ahumesky : issue reproes also on Bazel 5.1

[2022-10-25 20:04] ahumesky commented on #14776
this is only intended for the starlark migration of the android rules, so we'll be deleting this at some point

[2022-10-25 20:04] #14776 closed

[2022-10-25 20:06] ahumesky commented on #14771
we're replacing this with a starlark implementation in the near future (in particular, android_common.multi_cpu_configuration is the most important thing in there)

[2022-10-25 20:06] #14771 closed

[2022-10-25 20:09] ahumesky commented on #14579
let us know if this still fails with a recent pre-release version of bazel

[2022-10-25 20:11] ahumesky commented on #14523
cc @tjgq

[2022-10-25 20:15] ahumesky commented on #14260
We're replacing the native version of `android_ndk_repository` with a starlark-based implementation at https://github.com/bazelbuild/rules_android_ndk you might consider trying this version out to see if it avoids the problems here (it also supports the latest ndk version)

[2022-10-25 20:18] ahumesky commented on #14260
hmm actually since this is about registering toolchains, and you still register toolchains with the starlark version of android_ndk_repository, it might still have the same problem

[2022-10-25 20:19] ahumesky commented on #13684
bazel 6.0 and recent pre-releases use D8-based desugaring, so it's probably worth a try with a recent pre-release to see if this is still a problem.

[2022-10-25 20:19] #13684 closed

[2022-10-25 20:24] ahumesky commented on #14229
the resource processor relies on sandboxing in a few places like this, because as you saw aapt2 expects a directory rather than a list of files. you could try [`--worker_sandboxing`](https://bazel.build/reference/command-line-reference#flag--worker_sandboxing) to see if this avoids the issue

[2022-10-25 20:27] ahumesky commented on #13825
we're moving to d8-based desugaring, and we're updating the version of d8 that bazel uses in bazel 6.0 and recently released pre-releases, it's probably worth a try with a recent pre-release to see if this is still an issue

[2022-10-25 20:28] ahumesky commented on #16177
let us know if this is still an issue

[2022-10-25 20:28] #16177 closed

[2022-10-25 20:30] #15432 closed

[2022-10-25 22:50] linzhp opened #16550 "Bazel fails to patch external repos on macOS 13"
### Description of the bug:

Bazel uses local `patch` command by default to apply patches to external repositories. macOS 13 downgraded the system patch command from 2.5.8 to 2.0, causing many patches in Bazel repositories failed to apply:

On macOS 12:

[code]

On macOS 13:
[code]

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

1. Create

[2022-10-25 23:03] kshyanashree commented on #16550
Hi @linzhp! It would be really helpful if you can provide a minimal reproduce case with Sample code, Thank you!

[2022-10-25 23:27] maxious commented on #16380
👋 One of those monorepo maintainers that wrote their own sparse checkout on bazel chiming in.

I am vaguely aware of the google virtual file system (srcfs?) and[ the way you can implement extended file attributes for hashes](https://www.youtube.com/watch?v=rQd9Zd1ONOw).
Unfortunately the place where we would want to use this most (developer laptops on macos) has been very shaky in terms of FUSE su

[2022-10-25 23:48] keith commented on #16550
Repro would def be nice, I've been using macOS 13 for a while with repo patches without issue. At some point (not sure when) bazel started using an internal patch command, (maybe only in some cases?), so maybe somehow that difference is the key

[2022-10-26 01:07] jungleraptor opened #16551 "Enable setting C/C++ standards as a toolchain feature"
### Description of the feature request:

Proposal to add a handful of new "features" to the default c++ toolchain that enables setting C/C++ standards (names tentative):
- default_cxx_standard (respects `BAZEL_CXXOPTS`, default `-std=c++0x`)
- cxx14_standard
- cxx17_standard
- etc...

I've got an initial implementation of this capability that currently works on linux & macos, and does not break ba

[2022-10-26 02:38] CareF commented on #12808
Still get a warning message of this for bazel 5.1.0

[2022-10-26 04:05] sgowroji commented on #16539
Please find below artifacts

https://mirror.bazel.build/github.com/adoptium/temurin17-binaries/releases/download/jdk-17.0.4.1%2B1/OpenJDK17U-jdk_ppc64le_linux_hotspot_17.0.4.1_1.tar.gz
https://mirror.bazel.build/github.com/adoptium/temurin17-binaries/releases/download/jdk-17.0.4.1%2B1/OpenJDK17U-jdk_s390x_linux_hotspot_17.0.4.1_1.tar.gz

[2022-10-26 04:10] sgowroji commented on #16529
Please find the below mirror artifact
https://mirror.bazel.build/sourceware.org/pub/bzip2/bzip2-1.0.8.tar.gz

[2022-10-26 04:10] #16529 closed

[2022-10-26 06:34] luojc0517 commented on #15254
by upgrademy gcov version

[2022-10-26 06:42] larsrc-google commented on #16014
@ahumesky Not sure why you think I'm the person for AndroidLint issues?

[2022-10-26 06:59] anthpi commented on #13473
From the end-user perspective, he/she provides a flag in .bazelrc file for the build command. As a side-effect, for some reason, those flags are even propagated to **clean** and **info**. He/she gets a WARNING that is not very useful as there is no way for the end-user to fix this. You are going to be surprised how many people are still searching for "WARNING" in their logs and fail tests due to t

[2022-10-26 08:15] coeuvre commented on #14523
I think this can be solved by a similar approach like #16545.

[2022-10-26 08:30] digit-google opened #16553 ""bazel build ..." fails with any project."
### Description of the bug:

Trying to build the "..." target with any project, even simple one, fails with messages related to labels used in @bazel_tools being invalid (e.g. `//tools/build_rules:java_rules_skylark.bzl`, but the exact error can change between build attempts, or bazel projects / releases).

An example when trying to run one of the projects from https://github.com/digit-google/baze

[2022-10-26 08:41] fmeum commented on #16553
I ran `USE_BAZEL_VERSION=5.3.2 bazel build ...` in some of the projects in your repo (`bazel6-data-deps-runfiles-regression`, `custom-flags-with-define`) and it worked (with 5.3.2).

Could you share more concrete instructions that reproduce this issue for you?

[2022-10-26 08:49] digit-google commented on #16553
Sure, try https://github.com/digit-google/bazel-experiments/tree/main/pic-vs-pie/transitions-4

We also see the problem in the Fuchsia platform build (but you don't want to check out our sources): https://bugs.fuchsia.dev/p/fuchsia/issues/detail?id=113184

[2022-10-26 08:53] fmeum commented on #16553
Instead of the failure you described, I get:
[code]

[2022-10-26 08:55] fmeum commented on #16553
Based on the Fuchsia ticket, it seems like you may be picking up an old version of `rules_java` or Bazel itself.

What is the output of `bazel query --output=build //external:rules_java`?

[2022-10-26 08:59] digit-google commented on #16553
This is puzzling. My output is:

[code]

[2022-10-26 09:04] digit-google commented on #16553
It looks like `bazel clean --expunge` does not get rid of the problem, but nuking my `~/.cache/bazel/bazel_digit/` repository does actually solve it (the conflict you see is normal for this sample).

Note that I routinely switch between different versions of Bazel for my work, but I would expect them to place their data files under different sub-directories of my `output_user_dir`. I will try to c

[2022-10-26 09:06] digit-google commented on #16553
Oh, and for clarity, the query output after removing the `output_user_dir` and rebuilding is now is the same:

[code]

[2022-10-26 09:17] oquenchil commented on #16124
Would users have to write that line or is it part of a file that is automatically generated?

I don't mind adding whatever will make it easier but if it gets too magical it should maybe be wrapped so that the details aren't visible to the user unless they want to look.

[2022-10-26 09:21] fmeum commented on #16124
@oquenchil I would want to make that magic part of the runfiles library header so that users don't have to write it themselves.

What I am worried about is having an `Rlocation` macro mess with people's existing codebase since there doesn't seem to be a way to put it in a namespace or restrict it to member functions only.

[2022-10-26 09:25] oquenchil commented on #16124
Aren't we in control of the name of the macro? Can we rename it to something that would be very unlikely to clash with anything?

[2022-10-26 09:35] fmeum commented on #16124
We can call it something else, we just won't be able to have existing C++ codebases use the new repo mapping-aware lookup automatically if we do so. But of course having to replace all `runfiles::create()` calls with something else won't be too bad.

[2022-10-26 09:44] chenqingguo opened #16554 "How to get valgrind xml report"
Bazel version is 5.3.1. Here is my test job
`bazel test --test_verbose_timeout_warnings --run_under='valgrind --tool=memcheck --leak-check=full --xml=yes --xml-file=valgrind.xml'  --test_output=streamed //...`
The tests running is ok, but where is the valgrind.xml that should be produced?
Anyone can help? Thanks.

[2022-10-26 09:51] sluongng commented on #16380
Hi @vdye,

Big fan of your work over the Git Dev mailing list!

I think https://github.com/bazelbuild/proposals/pull/277 is quite solid and I am in favor of it personally.

However, I would like to note that FUSE usage with Bazel does provide a bit more than just "lazy file loading", which I believe to be the core thesis of `git-sparse-checkout` and `partial-clone`(filtered clone) today
Perhaps th

[2022-10-26 10:06] oquenchil commented on #16124
If the macro name is Rlocation and that may start clashing with people's code in C++ files then I think it would be prudent to rename it if we decide to go with the macro.

I guess the call to make here is how much of a breaking change this is compared to the benefit of passing BAZEL_CURRENT_REPOSITORY automatically for users. I would say that the benefit is not too great but as far as I understoo

[2022-10-26 10:11] Wyverald commented on #16553
That's not the case; we don't want a Bazel version update to cause users to have to rebuild their entire tree. If you switch between Bazel versions and want different directories when you switch, you could pass in `--output_base=...` manually.

[2022-10-26 10:11] #16553 closed

[2022-10-26 11:50] cshsoft opened #16557 "Release 5.x - 'rules_jvm_external' not found in repo"
INFO: Repository rules_jvm_external instantiated at:
  E:/opensource/lyra/WORKSPACE:143:13: in <toplevel>
Repository rule http_archive defined at:
  C:/users/cshsoft/_bazel_cshsoft/xcvtuzjs/external/bazel_tools/tools/build_defs/repo/http.bzl:370:31: in <toplevel>
DEBUG: Rule 'com_google_protobuf' indicated that a canonical reproducible form can be obtained by modifying arguments commit = "fd8aabf3

[2022-10-26 11:51] sgowroji commented on #16554
@chenqingguo Did you check it in bazel-testlogs ?  If not did you see any error stacktrace ?

[2022-10-26 11:53] sgowroji commented on #16557
Hello @cshsoft, Could you please provide more details on the above request. Thanks!

[2022-10-26 11:58] Wyverald commented on #16557
This looks like the URL is returning a 404 for you. (It worked fine for me.) Please check your network settings.

[2022-10-26 11:58] #16557 closed

[2022-10-26 11:58] oakad opened #16558 "Regression: NDK sandbox breakage with Bazel v5.3"
### Description of the bug:

Was not happening with older versions of Bazel.
Does not happen on Windows (where there's no sandbox)

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Compile any NDK project on Linux. In my case, I'm using:
SDK API Level 28
Build tools version 30.0.3
NDK API Level 29
NDK version 21.4.7075529

All this used to

[2022-10-26 12:05] oakad commented on #16558
A full dump of the failure:
[code]

[2022-10-26 12:20] cshsoft commented on #16557
I'm try to build lyra (An audio encoder ) on windows ,this project using bazel build，when i try to build it,  an error occurred, In my experience, the hint is that this file is not found in the repo,   https://github.com/bazelbuild/rules_jvm_external/archive/4.0.zip,  In fact, the file does not exist,  I'm in downtown Shenzhen, China,  Even though we've been dubbed the world's largest LAN,  but Ho

[2022-10-26 12:59] oquenchil commented on #16083
This should be caught if you enable the layering_check.

[2022-10-26 12:59] #16083 closed

[2022-10-26 13:48] #16266 closed

[2022-10-26 13:49] oquenchil commented on #16546
We are not planning to do this until we have finished starlarkifying the C++ rules. The future owners of the C++ ruleset can then properly review the functionality there to create a proper public API that may have be maintained for a long time. For now feel free to copy the code there.

[2022-10-26 13:49] #16546 closed

[2022-10-26 13:56] sgowroji commented on #16558
Hello @oakad, can you provide an example repo to reproduce the same. Thanks!

[2022-10-26 14:04] #16265 closed

[2022-10-26 14:14] brentleyjones commented on #10880
@coeuvre Gentle ping to see where you are with this 🙏

[2022-10-26 14:35] linzhp commented on #16550
Updated the ticket with repro

[2022-10-26 14:41] oakad commented on #16558
For me, this stuff breaks on the simplest of repos, always:

https://github.com/oakad/bazel_issue_16558

[2022-10-26 15:26] coeuvre commented on #10880
Still exporting some internal code to BwoB and will look into this after that (probably next week).

[2022-10-26 15:38] sgowroji commented on #16539
Let me re-check and update!

[2022-10-26 16:58] UebelAndre commented on #16159
Would it be possible to get some resolution for the following PRs to see if we can get that in the 6.0 release?
- https://github.com/bazelbuild/bazel/pull/16430
- https://github.com/bazelbuild/bazel/pull/16540

[2022-10-26 18:15] adam-azarchs commented on #4685
@fmeum I tried a coverage build with `refs/pull/16475/merge`, and now coverage for our go and python rules actually works!  So that's nice.  However, it seems to break coverage for some of our internal rules; I guess I'll need to figure that one out myself.

[2022-10-26 18:18] fmeum commented on #4685
Could you also try https://github.com/bazelbuild/bazel/pull/16556 when it's ready? That approach is much more reliable than #16475.

The most common reason is that `InstrumentedFilesInfo` isn't propagated correctly, see https://github.com/bazelbuild/rules_go/commit/ba48db528deb81c023fe9a98aa3b4600e52a8b73 for an example of how we fixed that in rules_go.

[2022-10-26 18:24] bazel-io opened #16567 "[6.0.0] Infer CPUs for tvOS and watchOS when on Apple Silicon"
Forked from #16547

[2022-10-26 19:15] SalmaSamy opened #16571 "Bazel CI: Cargo, rules_rust & Kythe are broken with Bazel@HEAD"
Following projects: [Cargo](https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/2706#01841278-52d1-41bf-964a-cb6a0bc3e821), [rules_rust](https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/2706#01841278-52d1-41bf-964a-cb6a0bc3e821), and [Kythe](https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/2706#01841277-c6cd-4440-8ca2-d4d6936565fe) are failing.
Accordin

[2022-10-26 19:30] brandjon commented on #10727
Update: It's very unlikely we'll have bandwidth to work on this in the foreseeable future.

[2022-10-26 19:39] brandjon commented on #15605
Taking the last entry seems preferable over taking the first, since it's more consistent with `dict.update`, the `dict()` constructor, etc. But it's not clear whether that's better or worse than failing. We could also make it an option, i.e. a named arg to decode, but I'm not sure I want to complicate that API.

[2022-10-26 19:42] konste commented on #16159
Something is wrong with no-jdk Windows binary https://releases.bazel.build/6.0.0/rc1/bazel_nojdk-6.0.0rc1-windows-x86_64.exe
It fails to start with the message `FATAL: Failed to find member 'install_base_key' in zip file 'C:\1\bazel.exe'`

[2022-10-26 19:52] brentleyjones commented on #8902
To recap since this has bitten me again: if you have `--xcode_version` set, you need to make sure `DEVELOPER_DIR` or `xcode-select -s` is set to the same version. Otherwise your `wrapped_clang` binary might mismatch. On a mismatch you probably won't get any remote cache hits.

We probably want a fix that uses `apple_host_system_env` as mentioned above.

[2022-10-26 20:05] brandjon commented on #13576
Tried this just now with a cycle `f() -> g() -> h() -> f()`. Here's the output I get in Bazel 5.3.2.

[code]

So we're currently including the stack trace. Is there anything else that would be needed?

[2022-10-26 20:13] binoche9 opened #16573 "Non-runfile files from an executable get included in the input for `ctx.actions.run()`"
### Description of the bug:

(Not 100% sure if it's a bug but it didn't match my expectation so at least asking here)

When a run a `ctx.actions.run()` action with an executable label, the `DefaultInfo.files` files always seems to get added to the input of the action even though I try to prevent that by not including it in `DefaultInfo.runfiles`.

When I run `bzl aquery //:foo_library` with the se

[2022-10-26 20:26] brandjon opened #16574 "Tracking issue for standard builtins API inconsistencies"
This bug is for collecting known API inconsistencies with the Starlark spec and/or Python 3. At some point we should do a full audit of all standard builtins.

Mainly the kinds of inconsistencies I expect involve parameter processing, e.g.:
- accepting a keyword arg when the param should be positional-only
- keyword parameters that have the wrong name
- optional parameters whose default value beha

[2022-10-26 20:52] brandjon commented on #11437
Nothing has changed on this project since the update last year. But we should at least remove the flag, since builtins injection is now an essential and mandatory piece of Bazel.

There's a bunch of minor TODOs that reference this issue so I'll leave it open for the moment.

[2022-10-26 21:12] katre commented on #15837
Is there a list of allowed names?

Is there a reason to not just use these names as the platform names?

[2022-10-26 21:14] fmeum commented on #16573
With this diff I get the desired behavior:
[code]

Given that `ctx.outputs.executable` is [marked as deprecated](https://bazel.build/rules/lib/ctx#outputs), maybe this behavior is just one of the reasons for why that is so?

[2022-10-26 21:15] ssripadham commented on #16164
Any update on this issue?

[2022-10-26 21:37] linzhp opened #16576 "[Mirror] Gazelle v0.28.0"
### Please list the URLs of the archives you'd like to mirror:

https://github.com/bazelbuild/bazel-gazelle/releases/download/v0.28.0/bazel-gazelle-v0.28.0.tar.gz

[2022-10-26 21:48] fmeum commented on #16124
I have experimented a bit more with APIs while working on the corresponding change for Java (https://github.com/bazelbuild/bazel/pull/16549).

What I now like more than the macro approach is to have users (optionally) pass in a canonical repository name when creating the `Runfiles` instance and default to that repo in `Rlocation` calls, while providing ways to override the default with an overload

[2022-10-26 22:37] ahumesky commented on #16558
Thanks for the example, I can see the same issue. It does seem that it might have something to do with sandboxing, because adding `--spawn_strategy=standalone` gives a different error about headers (`missing dependency declarations for the following files included by 'test.cpp'`). Not totally sure what's going on, because I see the same error even as far back as Bazel 3.0.0. This all used to work

[2022-10-26 22:45] kshyanashree commented on #16571
Hello @SalmaSamy! It would be really helpful if you can provide a minimal reproduce case with Sample code, Thank you!

[2022-10-26 23:00] binoche9 commented on #16573
Doesn't that work because you removed `files` from `DefaultInfo`? Adding `files` back in doesn't give me the right behavior because I want some output to show up in my bazel output by default without showing up in my runfiles

[2022-10-26 23:37] Yannic opened #16577 "[6.0.0rc1] `cc_proto_library` analysis failure"
### Description of the bug:

[code]

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

_No response_

### Which operating system are you running Bazel on?

Linux, macOS

### What is the output of `bazel info release`?

6.0.0rc1

### If `bazel info release` returns `development version` or `(@non-git)`, tell us how you built Bazel.

_No respo

[2022-10-26 23:37] Yannic commented on #16577
@bazel-io flag

[2022-10-26 23:46] Yannic commented on #16577
[code]

[2022-10-27 00:23] keith commented on #16550
Looking at this a bit it seems that macOS 13's version of patch is just more strict about the patch content than gpatch. The problem is your patch content doesn't appear to match what is generated in the BUILD file in that example before the patch:

[code]

If you update the patch to have less content:

[code]

Or to have the new correct content:

[code]

Things do work as expected. I'm not sure w

[2022-10-27 01:59] chenqingguo commented on #16554
@sgowroji I checked bazel-testlogs as well as bazel-bin&bazel-doe&bazel-out, which doe is my project name. My gtest running is ok, And I didn't see any error stacktrace.
If I run this `bazel test --test_verbose_timeout_warnings --run_under='valgrind --tool=memcheck --leak-check=full' --test_output=streamed //...`,I can see valgrind's memory check result printing on my terminal. I think every thing

[2022-10-27 05:05] sgowroji commented on #16576
Mirror artifact:

https://mirror.bazel.build/github.com/bazelbuild/bazel-gazelle/releases/download/v0.28.0/bazel-gazelle-v0.28.0.tar.gz

[2022-10-27 05:05] #16576 closed

[2022-10-27 05:46] oakad commented on #16558
1. https://github.com/bazelbuild/rules_android_ndk/issues/19 <- this here is me. Not yet figured out what to do. Also, we need it to run on Windows and Mac because of various existing flows.
2. I'm quite sure that v5.1 was working fine.

[2022-10-27 07:00] comius commented on #15029
Hey all. I've finally got some tactile knowledge about repo remappings and how to use them in runfiles library.
i recently discovered there's a small custom runfiles library in kotlin_rules.

So at the moment we add an additional repo_mappings file as described in fmeum's comment: https://github.com/bazelbuild/bazel/issues/15029#issuecomment-1072112309, option `#2`.

Basically we have two maps:
[c

[2022-10-27 08:04] meteorcloudy commented on #16539
https://www.w3schools.com/tags/ref_urlencode.ASP

I believe it's because `%2B` in the URL, which should be translated to `+` before mirroring.

- https://github.com/adoptium/temurin17-binaries/releases/download/jdk-17.0.4.1+1/OpenJDK17U-jdk_ppc64le_linux_hotspot_17.0.4.1_1.tar.gz

- https://github.com/adoptium/temurin17-binaries/releases/download/jdk-17.0.4.1+1/OpenJDK17U-jdk_s390x_linux_hotspot_1

[2022-10-27 08:45] sgowroji commented on #16539
Hello @benjaminp, Can you please check, it is working now. Thanks!

[2022-10-27 09:17] fmeum commented on #15029
In fact, many runfiles libraries out there are already broken in one way or another. In the best case, they just don't work in some situations (on Windows, on Linux without a runfiles directory, ...), in the worst case they non-hermetically pick up runfiles from the output base. I do see value in having these converge towards a single, reliable implementation per language.

Monorepos using the off

[2022-10-27 09:24] lberki commented on #16553
Have you by any chance used `--experimental_sibling_repository_layout`?

I have two guesses:

1. You ran Bazel from the execroot of another Bazel instance (bazel then emits a warning, but it continues to run). This is a bad idea, but it used to be common enough that we had to add a warning, so this is my first guess.
2. There is some sort of odd bug when one flips the value of `--experimental_sibl

[2022-10-27 09:40] digit-google commented on #16553
Thanks.

I never used `--experimental_sibling_repository_layout`, and also never run Bazel from an execroot.

In the case of the Fuchsia build, we use `--output_user_root`  and `--output_base`  to point to specific directories under our Ninja build directory, so `~/.cache/bazel/` is never used. But I do routinely change the bazel binary that is invoked to perform the build (to verify that our rule

[2022-10-27 10:06] brgl opened #16579 "Unable to execute the bazel binary on a yocto-based linux system"
### Description of the bug:

I'm running a custom linux distro. Arch is qemu x86-64. The system is generated by yocto (current kirkstone branch). I installed bazelisk from npm and want to build mediapipe. The build crashes right away because the bazel executable placed by bazelisk under `/home/$USER/.cache/bazelisk/downloads/bazelbuild/bazel-5.0.0-linux-x86_64/bin/bazel` cannot be executed.

It fa

[2022-10-27 10:12] #16119 closed

[2022-10-27 10:13] laszlocsomor opened #16580 "Uncaught exception with ctx.action.symlink and remote caching"
### Description of the bug:

Using `--experimental_allow_unresolved_symlinks` with `--remote_cache` and `ctx.action.symlink`, I get a crash.

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Create a workspace:

[code]

Run a remote cache (using https://github.com/buchgr/bazel-remote):

[code]

Run the build to repro the crash:

[code]

###

[2022-10-27 10:23] laszlocsomor commented on #16580
An even simpler repro:

[code]

[2022-10-27 10:24] fmeum commented on #16580
Does this repro with Bazel 6.0.0rc1? It looks like the expected failure of `ctx.actions.declare_symlink` with RBE before all the recent improvements to `--experimental_allow_unresolved_symlinks`.

[2022-10-27 10:29] comius commented on #15029
I agree that's a "theoretical" worst case. Not also that you only get a conflict when both repo name and path matches and point to a different file. Do you have data what would happen in large bazel repos? Tensorflow would be an example, but it's not using bzlmod. I suspect maven dependencies might create conflicts or perhaps not.

Note also you don't need existence check in the case you use runfi

[2022-10-27 10:30] laszlocsomor commented on #16580
It doesn't! Nice find @fmeum , thanks.

[2022-10-27 10:31] #16580 closed

[2022-10-27 10:46] fmeum commented on #15029
Even the not so bad average case of having every module depended on via its module name and the legacy repo name ("protobuf" vs "com_google_protobuf") would already double the number of symlinks with sandboxed execution. Given that creating these symlinks is already a performance concern right now, a factor of 2 may actually be pretty bad.

That is actually a major problem: I don't know of anybody

[2022-10-27 11:03] brentleyjones commented on #16085
@bazel-io flag

[2022-10-27 11:22] meisterT commented on #16085
Brentley, I am not sure whether we should cherry pick this already into Bazel 6. I would like to see it used a bit both internally (through Blaze) and externally (through rolling releases) before making a call.

[2022-10-27 11:30] comius commented on #15029
The number of symlinks created by protobuf would double, right. Can we count how many there are on tensorflow pre--bzlmod perhaps? My guess is it's a small number.

You can improve for almost a factor of 2 by flipping `--legacy_external_runfiles` on the whole number of symlinks.

Is there a link about this issue?

I agree. I think a more backwards compatible API I'm proposing is also clearly defin

[2022-10-27 11:43] brentleyjones commented on #16085
Sure. Can we leave it flagged for now to keep it on the radar?

[2022-10-27 12:09] bazel-io opened #16581 "[6.0.0] Relax `Label` repo visibility validation"
Forked from #16578

[2022-10-27 12:10] bazel-io opened #16582 "[6.0.0] Ensure repository names don't start with `~`"
Forked from #16564

[2022-10-27 12:10] Wyverald commented on #16582
might need to layer on top of https://github.com/bazelbuild/bazel/pull/16530

[2022-10-27 12:15] meteorcloudy commented on #16159
@konste I'll look into the Windows issue

[2022-10-27 12:15] fmeum commented on #15029
That's a good idea, we'll see whether we can get some numbers and extrapolate from there.

It was just my perception given the investment in sandboxfs and the rumor I picked up that Google doesn't use sandboxed execution internally due to performance concerns. I certainly know less about this than you though :-)

Sorry, I didn't mean to say that your proposal doesn't offer a clearly defined API! I

[2022-10-27 12:16] meteorcloudy commented on #16577
/cc @buildbreaker2021

[2022-10-27 12:18] buildbreaker2021 commented on #16577
Will take a look

[2022-10-27 12:27] bazel-io opened #16584 "[6.0.0] Remove references to io_bazel repository"
Forked from #16559

[2022-10-27 12:34] lberki commented on #15029
@fmeum the rumor is half true: Google doesn't use sandboxed execution, but not due to performance concerns, but because most of our builds run remotely and thus a sandbox is not necessary. Or maybe you have better information than I do :)

@Wyverald has thought a lot about how runfiles could work sensibly with bzlmod, but he hasn't found any solution that is:
* backwards compatible
* doesn't requi

[2022-10-27 12:57] 80degreeswest opened #16587 "Bazel gets hung indefinitly when remote_timeout is exceeded for downloads"
### Description of the bug:

When --remote_timeout is set to a fairly small value (ex: 2m) and bazel is trying to download a large blob (ex: 2GB) over a fairly saturated network from Buildfarm RBE, exceeding the remote timeout, bazel gets stuck indefinitely with Executing..... message.

Increasing --remote_timeout to a larger value resolves the issue.

[code]

### What's the simplest, easiest way

[2022-10-27 14:04] comius commented on #15029
@lberki
I think the proposal I've put forward is simpler, backwards compatible has a decent performance in practice and requires the same amount of magic as the proposal that is being pursued at the moment.

Now, should we drop it without fairly evaluating it?

[2022-10-27 14:20] sventiffe commented on #10727
With the initial results from 2021 that hinted towards compiling Starlark code might not have the desired impact on performance, shouldn't we close this issue for now?

[2022-10-27 14:23] fweikert opened #16590 "Status of Bazel 6.0.0-pre.20221020.1"
- Expected release date: 2022-10-27

Task list:

- [x] Pick release baseline: [e7218d55](https://github.com/bazelbuild/bazel/commit/e7218d556a2a265183a10a19fcaa21c0277820ad)
- [x] Create release candidate: https://releases.bazel.build/6.0.0/rolling/6.0.0-pre.20221020.1rc1/index.html
- [x] Post-submit: https://buildkite.com/bazel/bazel-bazel/builds?branch=release-6.0.0-pre.20221020.1rc1
- [x] Push

[2022-10-27 14:39] #16571 closed

[2022-10-27 14:42] linzhp commented on #16550
I think in general, Bazel should not call local `patch` command. It should download and manage the version of `patch` command. We also run into some CI containers where `patch` command is not available at all.

[2022-10-27 14:43] brandjon commented on #10727
That depends on your threshold for P4 vs close. The advantage of leaving it open is that it serves as a persistent reference for this FR should anyone else think to request it -- kind of like an FAQ. The disadvantage is that it adds to our P4 queue. But even if we closed P4s aggressively we'd still have an outsized number of them relative to any other priority.

Compare with #7468. That's another

[2022-10-27 14:51] brandjon commented on #10727
FTR, let me provide a little more context what happened.

There were 3-5 different compilation strategies we considered. Of those, only one had a reasonably good chance of being worth its weight in code complexity: the "exectree" format. This was a compilation of the AST into another linked tree structure that simply inlined a little more information for more efficient lookups by the evaluator. We

[2022-10-27 14:55] meteorcloudy commented on #15029
@comius
I do think your proposal will have significantly performance impact for TensorFlow because the python tests of tensorflow often have a lot of runfiles (all transitive python sources for the test will end up in the runfiles tree), creating the runfiles tree is especially slow on macOS and Windows. I believe another script language rules_nodejs could also depend on a large runfiles symlink t

[2022-10-27 15:03] fmeum commented on #15029
I don't actually see the two proposals as being exclusive and if we are willing to do the work, we _could_ implement and benefit from both:

If we get the order of lookups in the Bazel-provided runfiles libraries right, they should remain drop-in compatible with a hypothetical `--bzlmod_compatibility_runfiles` flag that expands the runfiles tree in the way @comius proposes. Since the flag would be

[2022-10-27 15:13] bazel-io opened #16592 "[6.0.0] Relnotes python script"
Forked from #16569

[2022-10-27 16:15] lberki commented on #16553
Thanks! I'm looking forward to it, I love mysteries :)

[2022-10-27 16:24] minor-fixes commented on #8436
Does "non-determinism" in this context mean that if `deps` are reordered, the `NestedSet` (and thus the file order, etc.) are unchanging?

In Bazel 5.1.1, we're seeing changing the order of entries in `deps` change the order of file entries in the zip (which probably doesn't matter) and the order of the `PYTHONPATH` in [this substitution](https://sourcegraph.com/github.com/bazelbuild/bazel/-/blob/

[2022-10-27 16:28] bazel-io opened #16593 "[6.0.0] Use "apparent name" instead of "local name" in Bzlmod docs"
Forked from #16548

[2022-10-27 16:50] keith opened #16594 "params files don't correctly encode utf-8 filenames"
### Description of the bug:

When you have a source file named `a 进行正式友好访问 2.swift` and use a rule that uses args objects with params files, the params file content incorrectly encodes the file name, such that in this case the content is:

[code]

Which likely leads the underlying tool to fail, as the file path here doesn't exist.

### What's the simplest, easiest way to reproduce this bug? Please

[2022-10-27 19:51] binoche9 commented on #16573
Thanks for going the extra mile to dig in the source code and come up with a workaround! I really appreciate it ❤️

Unfortunately in my case I have npm dependencies which makes for a long list of runfiles 😅 I'll have to see if it's worth it.

I don't think I fully follow the reasoning here

[2022-10-27 19:54] fmeum commented on #16573
Only the actual files in runfiles are staged for the action, other runfiles features such as `symlinks` and `root_symlinks` are not supported with this workaround. If you know that the `runfiles` object provided by `foo_binary` doesn't use those features, that would not be a problem.

A completely different and much less hacky way to get what you want could be to move the files from `DefaultInfo.f

[2022-10-27 21:08] ahumesky commented on #16558
With Bazel 5.1, I get the error with NDK 21e but not with NDK 20:

[code]

Is it possible you were using NDK 20 with Bazel 5.1?

[2022-10-27 23:28] rickeylev commented on #16379
For an easy-to-reproduce example of this within Google, see `//third_party/py/elfzipimport:cython_par_test`. (or in general, put any 2 `py_binary` in `data` of a rule type that consumes default runfiles (not data runfiles) and turn stamping on).

The (Google variant of the) Python rules do `symlinks={"<fixedpath>": <target-specific file>}`. When multiple binaries are built together, runfiles mergi

[2022-10-27 23:35] haxorz commented on #16379
Assigning to me to triage.

[2022-10-28 04:32] mobileink opened #16597 "Provider custom initialization fails"
### Description of the bug:

I copied the code at [Custom initialization of providers](https://bazel.build/extending/rules#custom_initialization_of_providers):

[code]

Then I load it (but do not use the provider), and when I build I get this:

[code]

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Copy the example code and edit (e.g. del

[2022-10-28 06:44] fmeum commented on #16597
[The commit](https://github.com/bazelbuild/bazel/commit/fc13ba271f138c804869d0f99d751e25518b5326) doesn't seem to be in 5.3.2. Could you run your example with 6.0.0rc1?

[2022-10-28 06:54] oakad commented on #16558
21.4.7075529  25.1.8937393

I've got v25 for the new rules_android_ndk. Haven't change thins config in months.

I also found out that upgrading build-tools past v30 breaks the build in a different way. :-)

[2022-10-28 07:30] Kernald opened #16598 "bazel_tools seems to be missing a dependency on android_tools"
### Description of the bug:

In a repo with Android targets and bzlmod enabled, updating from Bazel 5.3.2 to 6.0.0rc1 breaks:

[code]

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

(I haven't tried this outside of my own repo)

In a repo with Android targets, using Bazel 6.0.0rc1, enable bzlmod support.

### Which operating system are yo

[2022-10-28 07:38] sgowroji commented on #16598
Hello @Kernald, Can you share a minimal steps to reproduce the above error. Thanks!

[2022-10-28 07:47] Kernald commented on #16598
I'll try uploading a minimal repro sample next week!

[2022-10-28 07:49] lberki commented on #15029
@comius sorry, I let my enthusiasm for cleaning up legacy behavior shine through.

I think that it has merit, modulo the performance concerns voiced by @meteorcloudy and the fact that then the there would be two ways the runfiles library would have to check potentially two entries to find a particular runfile.

An argument against `--bzlmod_compatibility_runfiles` is that we already have a number

[2022-10-28 07:50] lberki commented on #16379
Related: https://github.com/bazelbuild/bazel/issues/15029

[2022-10-28 08:16] fmeum commented on #15755
Curious because I also encountered this while working on https://github.com/bazelbuild/bazel/issues/16573#issuecomment-1292864530: Do you think that the repro you linked should fail with a more descriptive error instead of crashing Bazel or would you actually expect it to build without errors?

[2022-10-28 08:44] meteorcloudy commented on #16598
@ahumesky @ted-xie Do you have time to check the [android_tools](https://cs.opensource.google/bazel/bazel/+/master:src/main/java/com/google/devtools/build/lib/bazel/rules/android/android_remote_tools.WORKSPACE;l=7?q=%22android_tools%22&ss=bazel&start=11) to the [BCR](https://github.com/bazelbuild/bazel-central-registry)? So that we can make it a dependency of [bazel_tools](https://cs.opensource.go

[2022-10-28 08:55] fmeum commented on #16379
https://github.com/bazelbuild/bazel/issues/13281#issuecomment-1057001554 is also related. It is slightly simply in that the consumer of the transitioned runfiles is an ordinary native rule, not an aspect.

[2022-10-28 08:58] fmeum commented on #15029
I may be missing an interaction, but doesn't the set of flags you mentioned neatly divide into two parts, one of which we can mostly ignore?

1. Flags controlling in which form the collection of runfiles is represented during execution and in the output tree, but not affecting the collection itself: `--build_runfile_manifests`, `--build_runfile_links`, `--enable_runfiles`, `experimental_skip_runfi

[2022-10-28 09:00] buildbreaker2021 commented on #16577
https://github.com/bazelbuild/bazel/commit/f5711170da68d0d212710283f0e6e2b3254ccc86
Should fix it.
However I could not reproduce the failure since it was not specified how I could do so - please close the issue if the commit fixes it.

[2022-10-28 09:09] #16590 closed

[2022-10-28 09:15] illicitonion opened #16599 "cquery --output=files ignores source files"
### Description of the bug:

I try to use `bazel cquery --output=files` to replace `bazel run --run_under=echo` in order to find the path to files which may later be run (or e.g. passed as arguments to other scripts).

Sometimes this is for complex targets, e.g. an alias where on some platform we use a pre-built binary and on another we build a binary, e.g. something like:

[code]

However, `bazel

[2022-10-28 09:19] lberki commented on #15029
I am on board with ignoring flags in group (1) if we can manage to simplify our collective lives, but I don't know if the are orthogonal enough with the new repo mapping file to be able to do so. @Wyverald ? (if he doesn't chime in, let's ignore them because I think it's likely that we can do so(

re: `--enable_bzlmod` you are right in the sense that it doesn't change the way the runfiles tree and

[2022-10-28 09:22] fmeum commented on #15029
If we settled on "nobody uses repository mappings with `WORKSPACE`", then yes, that would be true, but note that @phst's example that started this issue specifically doesn't use `--enable_bzlmod".

Regarding #16379: Given that Bazel's configuration identifiers probably aren't something we want users to hardcode (which is the opposite of the situation for apparent repository names), I don't think #

[2022-10-28 09:26] fmeum commented on #16599
This was done to mimic the output of `bazel build <target>`, but I agree that having this functionality would be very useful, not just for complex `select` statements but already for simple `filegroup`s.

@gregestren What do you think, could we mimic `--starlark:expr` and add a flag similar to `--files:include_source_files`?

[2022-10-28 09:57] lberki commented on #15029
Indeed! I was assuming @phst was using bzlmod and it's just that he formulated the bug with repo mappings to be minimal, but maybe not.

[2022-10-28 09:58] Wyverald commented on #16577
@bazel-io fork 6.0.0

[2022-10-28 09:58] bazel-io opened #16600 "[6.0.0] [6.0.0rc1] `cc_proto_library` analysis failure"
Forked from #16577

[2022-10-28 10:23] Wyverald commented on #15029
Pretty sure we can ignore those, as they are exercised by tests and the change to add the repo mapping manifest still passed those tests.

While that's true, we've essentially treated all repo mappings bugs so far as "bzlmod bugs", if nothing else then because repo mappings basically did *not* work for anything past "translating labels in BUILD files". Pretty much any other usage you can think of

[2022-10-28 11:48] fmeum commented on #16599
I created #16602 with a proposal for an implementation. It is not touching the default value.

@illicitonion Could you check whether that PR works as expected in the realistic scenarios you would want to use it in?

[2022-10-28 12:09] fmeum commented on #16577
@buildbreaker2021 @Yannic I think that neither of your changes fix this issue:

1. #16585 would need to move the `toolchains` definition from the rule to the aspect definition. It comes with a test that indeed fails because of this.
2. https://github.com/bazelbuild/bazel/commit/f5711170da68d0d212710283f0e6e2b3254ccc86 adds the toolchain type as a label attribute rather than to `toolchains`. Greppi

[2022-10-28 12:19] lberki commented on #16379
#13281 is different, I think: it's not about runfiles, but about unnecessarily building things twice.

[2022-10-28 12:26] illicitonion commented on #16599
That works perfectly for my use-cases - thanks so much!

[2022-10-28 12:29] buildbreaker2021 commented on #16577
Thanks for your input @fmeum

I will defer to the author of the issue to answer if the fix works or not - as for the test https://github.com/bazelbuild/bazel/pull/16585 seems to have some failures I did not have a good look into it, but I assumed that I could not use it until it was green.

[2022-10-28 12:34] meteorcloudy commented on #16577
I believe the test failure in https://github.com/bazelbuild/bazel/pull/16585 is exactly the integration test that reproduces this error, which we want to fix. You can patch that test based on HEAD and check if it passes. If not, we probably need further fix.

[2022-10-28 12:39] fmeum commented on #16379
@lberki The original problem described in the issue is different, but the particular comment I linked to starts a sub-discussion about another situation in which runfiles collide due to transitions. As to why that was brought up as part of the other issue I don't know.

[2022-10-28 13:15] fmeum commented on #16593
@Wyverald Can be closed, I don't know why the PR merge didn't do that automatically.

[2022-10-28 13:24] octalthorpe commented on #16379
The comment in #13281 that is worrisome

IMHO I am not abusing a rule, this is fundamentally a problem with transitions and runfiles and the missing ability to expose these transitions.  This is likely a really tough problem as there needs to be some way to isolate the runfiles under separate trees (for each transition), and then having some way to expose that to the action for consumption.

[2022-10-28 13:52] fmeum commented on #16379
@octalthorpe I agree that you are not abusing anything, it's a shortcoming of the current runfiles system.

I don't think the solution necessarily has to be complicated though. We could roughly do the following:
1. When runfiles conflict, additionally stage them under `repo/bazel-out/config/bin/pkg/file` in the runfiles, where they don't conflict.
2. Pass this path into the binary (in this case th

[2022-10-28 14:20] Wyverald commented on #16593
PR merges into non-main branches don't close linked issues, apparently by design /shrug

[2022-10-28 14:20] #16593 closed

[2022-10-28 15:12] bazel-io opened #16605 "[6.0.0] Remove logic that increases delay between progress updates over time"
Forked from #16221

[2022-10-28 18:28] katre commented on #15041
We keep coming back to this, sorry.

After some discussion with the cc toolchain owners, I think we've come to a consensus on an appropriate solution, at least:

1. Bazel's `@bazel_tools` repo needs some degree of minimal cc toolchain for macos users, so that host tools can be built as needed. However, Bazel doesn't (and shouldn't) define cc toolchains for building ios apps, and so we should rmeov

[2022-10-28 18:32] Yannic commented on #16577
Rebasing #16585 to master and removing my fix still reproduces the issue: https://buildkite.com/bazel/bazel-bazel-github-presubmit/builds/12978#01841fd2-6d67-4003-b75a-c6e1d6c2f289

[2022-10-28 19:27] keith commented on #15041
yes https://github.com/bazelbuild/apple_support/blob/master/constraints/BUILD

So if I understand what you're suggesting, I think this PR https://github.com/bazelbuild/apple_support/pull/113 mostly shows an example of how this would work, with the slight difference that we might also want to move some other things that are in tools/ such as `tools/cpp/osx_cc_configure.bzl` and related files. At wh

[2022-10-28 19:34] katre commented on #15041
I think so. I think the `darwin_foo` variants should still be in Bazel (so that host tools build), but aside from that it seems right.

[2022-10-28 19:36] keith commented on #15041
Do we need explicit Darwin constraints vs the ones that are automatically picked up in the case you force the non-Xcode toolchain today?

[2022-10-28 19:39] katre commented on #15041
That's a good question, I'm not sure offhand. We can experiment and see.

[2022-10-28 21:16] hauserx commented on #16587
Got this problem when upgrading from 5.2.0 to 5.3.1. Looks like this commit contains fix for this problem, and possibly should be included in 5.3.3 release?

https://github.com/bazelbuild/bazel/commit/8b61746cf18d3d8413b569e0b5fca639d28914ea

For reference, here is a sample jstack when this problem occurs.

[code]

[2022-10-28 21:19] HappyCerberus opened #16607 "Matching platform constraints do not match"
### Description of the bug:

Using platform constraints on a target:

[code]

Results in an error:
[code]

Despite the autodetected configuration in `constraints.bzl` being this:
[code]

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

_No response_

### Which operating system are you running Bazel on?

Linux

### What is the output of `baz

[2022-10-29 00:52] ahumesky commented on #16558
Ok, I think I figured it out what's going on..... This line in one of the ndk templates:

https://github.com/bazelbuild/bazel/blob/902a0b5763dddc445f75637c08a1396de8395411/src/main/java/com/google/devtools/build/lib/bazel/rules/android/android_ndk_cc_toolchain_template.txt#L41

gets expanded to:

[code]

and the `glob(["ndk/toolchains/llvm/**"])` should be picking up clang:

[code]

But it returns

[2022-10-29 00:55] ahumesky commented on #16558
Are you getting something about dx.jar being missing? That should be fixed in bazel 6.0.
You can try these flags with bazel 5.x to work around it:
[code]

[2022-10-29 00:56] ahumesky commented on #16598
Thanks we'll have a look next week

[2022-10-29 01:00] #16558 closed

[2022-10-29 07:43] HappyCerberus commented on #16607
One extra data point I can provide is that when I define a local platform with the same content, then bazel fails to match the linux version of jdk (fails to match any version for that matter).

This implies to me that the constraints in my BUILD files for whatever reason never match the constraints in the dependencies, despite referring to the same target.

[2022-10-29 07:52] HappyCerberus commented on #16607
After writing my last post I had a lightbulb moment and tried explicitly depending on platforms in my `MODULE.bazel`. This fixed the issue.

As far as I understand, this is bug in module resolution:

- I should be implicitly depending on platforms already
- the implicitly pulled version of platforms is the same
- even if this isn't the case, this should result in a dependency error, not resolve to

[2022-10-29 07:59] HappyCerberus commented on #16607
OK, further into the strangeness. So this seems to be the crux of the issue here:

This is an expected failure, but I have no idea where the expansion to `@platforms~0.0.5` is coming from, I'm guessing that the reason why this matches `@platforms//cpu:x86_64` is because that also silently expands into `@platforms~0.0.5//cpu:x86_64`, both in `@local_config_platform//:host` and in the constraint.

[

[2022-10-29 08:08] fmeum commented on #16607
It would be helpful to know whether this reproduces if you create an empty `WORKSPACE.bzlmod` to disable any kind of `WORKSPACE` dependency loading. I suspect that is where the incompatible `@platforms` is coming from.

[2022-10-29 08:14] HappyCerberus commented on #16607
That seems to be the place:

[code]

[2022-10-29 21:50] fmeum commented on #16159
@meteorcloudy rules_jni Windows CI builds running against `last_green` with a local JDK 17 started failing with `Caused by: java.lang.reflect.InaccessibleObjectException: Unable to make java.lang.String(byte[],byte) accessible: module java.base does not "opens java.lang" to unnamed module` in `ParameterFilesWriteAction` on 902a0b5763dddc445f75637c08a1396de8395411 and last succeeded on 50b87c1ec0a5

[2022-10-30 08:21] oakad commented on #16558
So this is down to the bug in `rules_android_ndk`? Nice find and also explains a lot.

We do need both NDK rule sets to work in parallel in order to ensure smooth transition. For example, in my test project I have one branch configured the old way and another using the new approach.

[2022-10-30 10:51] ittaiz commented on #7953
FYI what helped me with both IJWB and java-tutorial in the examples was `--tool_java_runtime_version=remotejdk_11 --java_runtime_version=remotejdk_11 --java_language_version=8 --tool_java_language_version=11`.
It's a shame a simple bazel build fails and one needs to deep dive into google...

[2022-10-30 11:19] fmeum commented on #7953
@ittaiz In a clean docker container, I get the following error message when running `bazel build --define=ij_product=intellij-2021.2 //ijwb:ijwb_bazel_zip` in the IntelliJ plugin repo:
[code]

That looks pretty decent. Is it possible that you are seeing https://github.com/bazelbuild/bazel/issues/15452 instead?

[2022-10-30 11:27] ittaiz commented on #7953
It's possible.
It's a bit long so I'll try and skim it again to see if I can tell if I'm indeed like that person or not.
Thanks.

[2022-10-30 11:35] ittaiz commented on #7953
@fmeum which version are you using? I'm using 5.3.2
and indeed `JAVA_HOME` isn't set

[2022-10-30 11:36] fmeum commented on #7953
Try with 6.0.0rc1, which includes one further improvement to this error message. If that still raises an exception without any additional info, that would be a new issue.

[2022-10-30 20:00] phst commented on #15029
Your assumption is correct :)

[2022-10-30 20:47] voxeljorge commented on #13185
I just want to mention in case anyone else sees this that I've been encountering this problem with both of these flags enabled on bazel 5.2.3. Unfortunately I'm not able to try and contribute a minimal repro case, but if anyone else sees this they should chime in so that this issue could maybe be re-opened if it isn't actually resolved.

[2022-10-31 01:28] pauldraper commented on #15153
**WORKSPACE.bazel**

[code]

**BUILD.bazel**

[code]

**test.sh**

[code]

**data.txt**

[code]

Run

[code]

Notice that the symlink `bazel-bin/test.runfiles/example/data.txt` is created. If there are many files (scripting languages, external dependencies, end-to-end tests, etc), the runfile tree can take a long time to populate.

Sandboxfs (when enabled) could be used to avoid materializing the

[2022-10-31 04:21] sgowroji commented on #16607
Hello @HappyCerberus, Can you provide an example to reproduce the above error logs. Thanks!

[2022-10-31 06:23] fmeum commented on #16607
@sgowroji I think that this fits the external deps team better since it only occurs when mixing `WORKSPACE` and `MODULE.bazel`.