[2019-06-06 12:26] #2381 closed

[2019-06-06 12:58] lberki commented on #3601
I think that automatically choosing a Java singlejar implementation would be actively harmful, because it would open the way towards accidental slowdowns that are hard to track down. Better be explicit than implicit.

[2019-06-06 13:29] brandjon commented on #8538
I'm still seeing [failures](https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1021#0e97657f-36db-482a-a385-eb492d1e2153), can you confirm whether those are the same Python-related issues?

[2019-06-06 13:30] brandjon commented on #8538
Gah, that was the previous failure at head, nevermind.

[2019-06-06 13:30] #8538 closed

[2019-06-06 13:56] philwo commented on #7816
Please note that we finished the migration to Ubuntu 16.04 for release builds and all other pipelines on Bazel CI now. This means that 0.27.0rc3 and following versions will be built on Ubuntu 16.04 and will no longer compatible with Ubuntu 14.04.

We will mention this in the release notes, too.

[2019-06-06 14:25] #6670 closed

[2019-06-06 14:36] #8539 closed

[2019-06-06 14:39] iirina commented on #7816
@laurentlb 6ef6d879ab69225d54ecab3db847fb4eff33bbeb fixes #8539 and should be cherry picked for backwards compatibility.

[2019-06-06 15:24] gregestren commented on #8565
I think basing fetch on cquery instead of query could make this work.

[2019-06-06 15:25] gregestren commented on #8565
But it's true that that wouldn't work as well for people who want to build with multiple configurations.

[2019-06-06 15:32] Profpatsch opened #8575 "py_test/sh_test pulls in unnecessary java repositories at runtime (0.26)"
### Description of the problem / feature request:

Bazel 0.26 tries to download `remote_java_tools_linux` for a trivial `BUILD` file using the `py_binary` rule.

I’d expect bazel to support its builtin rules without depending on external repositories.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Please see the minimal repro here:

[2019-06-06 16:12] aiuto commented on #8489
https://github.com/bazelbuild/rules_pkg/pull/27

[2019-06-06 16:36] brandjon commented on #8537
As a first step I'd file this bug with tensorflow/tensorflow. The error occurs in that project, not in Bazel. (That's not to say we aren't a cause, but they're in the better position to diagnose.)

Looking at the [repo rule](https://github.com/tensorflow/tensorflow/blob/a0b0a503287d019a28ef4f670b157eb3605a12f3/third_party/py/python_configure.bzl#L289) producing that error though, I see that `_get_

[2019-06-06 17:04] laurentlb commented on #7816
rc3 created with:

Available here: https://releases.bazel.build/0.27.0/rc3/index.html

[2019-06-06 17:40] brandjon opened #8576 "Fix non-strict toolchain's precedence and diagnostic message"
052167e907373ac7ea43238c3049739f6e94a9d1 (for #8547) added a non-strict Python toolchain to reduce pain in migrating for [`--incompatible_use_python_toolchains`](https://github.com/bazelbuild/bazel/issues/7899). However, there are two critical bugs in this change, which has already been cherrypicked into the 0.27 RC:

1. The Python rules workspace suffix does not specify which order the toolchains

[2019-06-06 17:41] brandjon commented on #7816
Filed #8576 for bugs I just noticed in 052167e907373ac7ea43238c3049739f6e94a9d1. (Sorry.) Working on it now.

[2019-06-06 17:54] aiuto commented on #8370
I have not found anyone a Google who wants this. For now, let's just recommend the jmillikin repo is the definitive one.

[2019-06-06 19:50] kkiningh commented on #8573
There's quite a few issues with the [1.0 tag](https://github.com/bazelbuild/bazel/labels/bazel%201.0) left, including some that seem fairly significant. Which ones does the Bazel team still expect to address before the release?

[2019-06-06 20:27] cgruber opened #8577 "Permit turning off android resource merging"
### Description of the problem / feature request:

Now that name-spaced resources are supported, teams that exclusively use this feature have no need for the expensive resource merging work.

### Feature requests: what underlying problem are you trying to solve with this feature?

Reduce unnecessary work during an android build.

### Bugs: what's the simplest, easiest way to reproduce this bug? Pl

[2019-06-06 21:28] steeve commented on #7157
Small ping, still happening in 0.25.3

[2019-06-06 22:18] #8576 closed

[2019-06-06 23:48] konkers commented on #6519
Would this allow one target to depend on the output of another target with a different platform?

An example of this could be developing a piece of hardware with its own firmware and a companion app.  The firmware and app target different platforms (say an ARM Cortex M0 microcontroller and windows x86_64)  If the app wants to be able to bundle the firmware update, it needs to depend on the output

[2019-06-07 00:09] brandjon commented on #7816
Fixed #8576 with 50fa3ec27efdd95771c70faa38a4543d4fed44f2, please cherrypick.

[2019-06-07 03:30] siberex opened #8578 "--action_env with defined value is not working as expected"
### Description of the problem:

According to the [docs](https://docs.bazel.build/versions/master/command-line-reference.html#flag--action_env), `--action_env` could be used to set name=value pairs:

If such values are set either via CLI arguments or via `.bazelrc` like this:
[code]
then only `--test_env` works as expected and passes env correctly.

`--action_env` does not pass value to the binary

[2019-06-07 05:03] davidzchen commented on #8445
+cc @andromedaf

[2019-06-07 08:04] irengrig commented on #7816
Please cherry-pick https://github.com/bazelbuild/bazel/commit/6efc5b787ad3164cc2fb779c73377695032b4524, a fix for #8564.

[2019-06-07 08:20] hlopko commented on #8485
Proto toolchain is something that we will eventually do. Pretty much every user of protobuf shares your concern that recompiling protobuf all the time can slow down the build. We are in the middle of many big migrations that all block this effort (Starlark configuration options, and toolchains and platforms most notably)

But I find that in practice the issue is not so bad - especially if you use

[2019-06-07 08:25] hlopko commented on #8462
Yes there is a more general problem, and @ishikhman is working on fixing it.

@ishikhman is there a tracking issue so I can close this one as duplicate? Thank you!

[2019-06-07 08:27] hlopko commented on #8450
@ulfjack is there any progress planned on `-DBAZEL_TRACK_SOURCE_DIRECTORIES` rollout? Thanks!

[2019-06-07 08:30] hlopko commented on #8443
@brandjon what do you recommend? :)

Also ccing @aiuto as he's been working on packaging rules recently.

[2019-06-07 08:34] hlopko commented on #8399
CC @iirina, since you're working on coverage, you might know how hard would it be to implement this option for tests. What do you recommend? Is it doable for an external contributor? ;)

[2019-06-07 08:39] hlopko commented on #8399
Thinking about it, could you put the suppression file as a `data` dependency of the test? That way you can get the file into your test action, and you can do it on a per-test basis. With `--test_support` you'd potentially add the file also into unrelated tests.

[2019-06-07 08:44] hlopko commented on #8336
@laszlocsomor is the person who's spent a lot of time in this area, maybe he could review the PR? :)

@laszlocsomor do you have plans to work on the `test-setup.sh` in the near term, maybe in the context of https://github.com/bazelbuild/bazel/issues/5265?

[2019-06-07 08:46] hlopko commented on #8326
CC @iirina

[2019-06-07 08:47] hlopko commented on #8324
CC @iirina can you pls shed some light there? Thank you!

[2019-06-07 08:49] hlopko commented on #8306
Have you tried to use [`--explain`](https://docs.bazel.build/versions/master/command-line-reference.html#flag--explain)? What information do you miss there?

[2019-06-07 08:52] hlopko commented on #8272
I presume it's the on the individual rules side, e.g. [rules_go](https://github.com/bazelbuild/rules_go/blob/master/proto/BUILD.bazel#L21) implement this on their side as well. Let me know if I'm missing smth. Thanks!

[2019-06-07 08:52] #8272 closed

[2019-06-07 08:55] hlopko commented on #8271
@lberki apart from a painful migration (I'm sure many depend on the current behavior), is there anything on top of your mind that would make this not feasible?

[2019-06-07 08:55] srikanthjoshi commented on #7943
Hi - I tried with --host_javabase=@local_jdk//:jdk, it didn't work either. I got pre-built package. So, I am proceeding further with pre-built package. However, we might need to address this.

[2019-06-07 08:55] laszlocsomor commented on #8336
Thanks for the report and repro! Gentle facepalm at the culprit.

Currently I'm not planning to work on `test-setup.sh`, but I could quick-fix this (e.g. display warning message, ignore error). That'd let the test succeed -- failing to zip up the undeclared outputs is arguably a nuisance but no fatal flaw. How does that sound?

[2019-06-07 08:56] ishikhman commented on #8462
@hlopko here it is: https://github.com/bazelbuild/bazel/issues/7766

[2019-06-07 08:57] hlopko commented on #8462
Thank you! Therefore closing in favor of #7766.

[2019-06-07 08:57] #8462 closed

[2019-06-07 08:58] hlopko commented on #8260
CC @aiuto since he's been working with packaging rules recently.

[2019-06-07 09:00] hlopko commented on #7005
Oh this issue slipped under the radar! I'm sorry for that. Is it still unresolved?

[2019-06-07 09:42] #8523 closed

[2019-06-07 10:01] dslomov commented on #7598
what is the status of this in 0.26?

[2019-06-07 10:03] dslomov commented on #7153
What is the status of this change wrt migration/planned flag flips?

[2019-06-07 11:48] hlopko commented on #8055
Hi @emusand, is this flag migration ready (meaning it can be announced and tested on the CI)?

[2019-06-07 11:49] hlopko commented on #7691
Hi @excitoon, I just discovered this flag. Is it still relevant? If so, could you pls  update the issue to follow https://bazel.build/breaking-changes-guide.html? Thank you!

[2019-06-07 11:51] lberki commented on #8271
Off the top of my head: machine-generated Bazel invocations that knowingly make the choice of "if no output group is present, do nothing"?

[2019-06-07 11:52] hlopko commented on #7598
Still not flipped. I updated labels now.

[2019-06-07 11:53] hlopko commented on #7153
This will be flipped in 1.0. Migration is ongoing :)

[2019-06-07 11:54] hlopko commented on #7152
And it also wasn't flipped for 0.26 or 0.27, so 1.0 it is :)

[2019-06-07 11:56] dslomov commented on #5821
What is the migration status for this issue?

[2019-06-07 12:03] hlopko commented on #5821
@dslomov am I just 5 minutes late on every issue? :)

[2019-06-07 12:05] hlopko commented on #7990
Hi Liam, could you pls update this issue to follow https://bazel.build/breaking-changes-guide.html? (e.g. the title of the issue is not right, I could fix that myself but that link is quite nicely written and contains useful advice :).

[2019-06-07 12:07] hlopko commented on #8061
Hi @ishikhman, just in the improbable case you didn't see it, we have a page with infomation how to roll out breaking changes over at https://bazel.build/breaking-changes-guide.html. There are some minor things missing in this issue (title format, missing migration-ready label)

Thanks!

[2019-06-07 12:08] hlopko commented on #7130
This issue does not strictly follow the policy. Could you pls update the title and provide rationale and migration instructions? This page summarizes the steps quite well: https://bazel.build/breaking-changes-guide.html. Thank you!

[2019-06-07 12:14] hlopko commented on #7949
This flag looks like it needs some update of labels :) Is it still relevant?

[2019-06-07 12:15] ishikhman commented on #8061
thanks @hlopko! updated the issue accordingly.

[2019-06-07 13:03] dslomov commented on #8573
We will do a review of those. If you think a specific issue is particularly important to address for 1.0, please comment on it.

[2019-06-07 13:45] hlopko commented on #7445
@gregestren I'm thinking whether to close this issue as done and create new one for the migration that rules team will own, or to move this one over.

I just didn't want to steal the issue from you without first asking :)

[2019-06-07 13:45] philwo opened #8581 "--experimental_remote_download_outputs breaks symlink outputs"
### Description of the problem / feature request:

When using `--experimental_remote_download_outputs` no matter whether `=minimal` or `=toplevel`, Bazel fails to build rules_go with these errors:

[code]

Failing build with the flag: https://buildkite.com/bazel-testing/rules-go-golang/builds/181
Working build without the flag: https://buildkite.com/bazel-testing/rules-go-golang/builds/182

### Wh

[2019-06-07 14:17] hlopko commented on #8548
Not so related, but out of all variables you pass only `CC=armclang` is consumed by Bazel.

In the error log you sent it seems the right clang is used I see:

[code]

What did you expect to happen and what happened instead?

[2019-06-07 14:44] chsigg commented on #3864
Any progress on this? Bazel 0.24 still doesn't allow external packages in package_groups.

[2019-06-07 15:11] LukeIreland1 commented on #8548
It's used in parts, but not all over. I need Bazel to use custom GCC provided instead, which it does mostly.
`which gcc` confirms that the version of gcc to be used has been changed to the custom GCC, but somehow Bazel uses the system GCC.

The error message may not be as a direct result of the system GCC being used, but I can't isolate it while it uses the system GCC.

I expect it to pass and bui

[2019-06-07 15:19] hlopko commented on #8548
I'm sorry, you'll have to isolate the problem more on your end. It's not even clear this is a Bazel problem or Host system configuration that's incompatible. Check for different versions of tools, libstdc++, other libraries, PATH, include directories...

[2019-06-07 15:32] beasleyr-vmw commented on #8336
Sounds good to me. :)

[2019-06-07 15:40] laurentlb commented on #8574
cc @buchgr, @ishikhman

[2019-06-07 15:41] c-parsons commented on #5821
@iirina @ittaiz do you have any context here? I'm unsure of what remains to be done for rules scala

[2019-06-07 15:43] c-parsons commented on #7949
Still relevant, still needs to be flipped. (Internally, a number of teams still depend on this. I'm going to have to evaluate the downstream projects to see if they need to be migrated. I've already migrated a number of our tests which still use this syntax, but there's probably more, too.

[2019-06-07 16:03] cushon commented on #7990
The docs say the title should start with the name of the flag, which is `incompatible_require_java_toolchain_header_compiler_direct`. The [example](https://github.com/bazelbuild/bazel/issues/6611) has a similar title. Did you already update the title, or am I missing something?

[2019-06-07 16:04] adzenith commented on #8399
I actually want this file included in all tests, because I'm building the whole workspace with the sanitizer.

I mentioned "add[ing] a runtime dependency on the file" in the original description as something I can do right now but I'd rather not do, because I either have to update `data` for every test in the workspace, or make a new macro that wraps `cc_test`, which then involves adding a `load`

[2019-06-07 16:17] rohansingh opened #8582 "Query with rbuildfiles frequently throws IllegalStateException"
### Description of the problem / feature request:

In our CI system, we run the following query to determine if any modified files are dependencies of any BUILD files:

[code]

Frequently, this results in an exception that looks like this:

[code]

The affected filename differs on each build, but the stack trace is always the same, with the exception coming from `RBuildFilesVisitor`.

### Feature

[2019-06-07 16:20] rohansingh commented on #8582
Note that simply retrying the query almost always succeeds.

[2019-06-07 16:41] aiuto commented on #8489
I am pleased to announce an initial release of the decoupled pkg_{deb, rpm, tar} rules.
https://github.com/bazelbuild/rules_pkg/releases/tag/0.1.0

With that, I am closing this issue. Future issues and PRs should be against that repository. Go forth and innovate.

[2019-06-07 16:41] #8489 closed

[2019-06-07 17:36] katre commented on #8449
This issue looks like it is caused because the ios_unit_test and swift_library rules are in different configurations. I don't know enough about those rule implementations to specifically pinpoint the cause of that, but the different output directories point at that.

Which of the following is the problem:
1.  You are seeing incorrect build results (compilation failures, or binaries that don't exec

[2019-06-07 17:42] keith commented on #8449
We're only seeing the second problem you mentioned. Which stops us from ever being able to use any form of ... to do builds.

Cc @thomasvl @sergiocampama @allevato to comment on the toolchain issue

[2019-06-07 17:51] thomasvl commented on #8449
I believe there has been talk in the past about not having *_library rules in `:all` and `/...`because builds without the transitions are of questionable value; but I think for legacy reasons this hasn't be done.  You can somewhat avoid the issue by doing `bazel test --build_tests_only ...`

[2019-06-07 19:09] gregestren commented on #7445
I think smaller, focused issues is a good idea when possible.

For next steps see "[Migrating @bazel_tools to @platforms](https://docs.google.com/document/d/1EArrWYUDugqJzBcb0-OxY5BH1FFPYV3jxLIXbJpD9RY/edit?ts=5cf7f510#heading=h.5mcn15i0e1ch)", by @hlopko.

[2019-06-07 19:09] #7445 closed

[2019-06-07 19:20] jin commented on #7816
Please cherry pick https://github.com/bazelbuild/bazel/commit/e2a626c4f61fe4ceb79a5675d09a6f25ca7b5b22 for https://github.com/bazelbuild/rules_jvm_external/issues/165 and https://github.com/googlesamples/android-testing/issues/279

Thank you!

[2019-06-07 20:09] laurentlb commented on #7816
rc4 created with:

https://github.com/bazelbuild/bazel/pull/8564#issuecomment-499796063 was not included.

Download rc4: https://releases.bazel.build/0.27.0/rc4/index.html
Status of downstream projects: https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1027

[2019-06-07 20:11] gregestren opened #8583 "Provide ability to directly select() on constraint_value"
### Description of the problem / feature request:

A common and annoyingly redundant pattern is:

[code]

It would be nice to be able to just write:

[code]

### Feature requests: what underlying problem are you trying to solve with this feature?

Unnecessary bloat for situations where `config_setting` is just abstraction overhead.

###  Have you found anything relevant by searching the web?

Exam

[2019-06-07 20:17] gregestren commented on #8583
@katre I tried mocking up an implementation of this since it's conceptually at least easy (and `select` was always designed to support rules beside `config_setting`).

Some challenges that arose that I appreciate your perspective on:

1. `config_setting` implements https://github.com/bazelbuild/bazel/blob/af53a11104b549cca8b593a1f8cac224a21727da/src/main/java/com/google/devtools/build/lib/packages

[2019-06-07 20:18] gregestren commented on #8583
@hlopko

[2019-06-07 20:28] gregestren commented on #6519
That should automatically fall out of this, yes.

[2019-06-07 20:29] katre commented on #8583
1. The `supportsPlatforms` method is badly named (and if I ever think of a better one, I will). It's intended to allow rules to opt *out* of toolchain resolution, because those rules are themselves used in toolchain resolution (in this case, toolchain resolution loads platforms, which the load constraint values). If `constraint_value` needs to access the current platform in order to correctly prov

[2019-06-07 20:30] gregestren commented on #8583
Promising, thanks! I'll try to whip this up into a proper PR in my spare time.

[2019-06-07 20:44] konkers commented on #6519
That's super exciting.  Thanks!

[2019-06-07 20:49] kkiningh commented on #2537
Is this still planned on being fixed for the [1.0 release](https://github.com/bazelbuild/bazel/issues/8573)?

[2019-06-07 21:02] jin commented on #6670
https://github.com/bazelbuild/bazel/commit/9b0e64a7e36186bf3fddd6c956326acd2124b9ea, for some reason, suppresses the error message when the Android SDK is not configured correctly.

Previously, users will see this if `android_sdk_repository` is not configured with a path or the `ANDROID_HOME` environment variable isn't set:

[code]

After https://github.com/bazelbuild/bazel/commit/9b0e64a7e36186bf

[2019-06-07 22:26] gmishkin opened #8585 "Header compilation doesn't work on Java 11 source code"
### Description of the problem / feature request:

Recently started using the Bazel 0.27 release candidates to try out the default Java toolchain with our Java 11 code base, passing `--javacopt="--release 11"` to `build`. But when something depends on one of these targets, it tries to build an hjar, and that fails with errors about language features that are newer than Java 8.

[code]

Details fro

[2019-06-07 22:36] jin commented on #5236
This has been implemented. https://github.com/bazelbuild/bazel/issues/8342

[2019-06-07 22:36] #5236 closed

[2019-06-07 22:55] gregestren commented on #8339
Expected sequence of initial PRs (these are mostly written and now just being split up into submittable form with appropriate tests):

1. (already submitted): Add --experiment_output_paths=content
1. Provide the ability to declare which artifacts opt into this experiment
1. Add a global map from config-based paths (`bazel-out/x86-fastbuild/...`) to content-based paths (`bazel-out/$(CONTENTDIGEST)/

[2019-06-07 22:59] jin opened #8586 "Reduce OOM risks with --persistent_android_resource_processor by limiting the number of default workers"
On a 12-thread machine, building https://github.com/google/google-authenticator-android with `--persistent_android_resource_processor` and aapt2 spawns `23` JVM workers:

[code]

We should cap the number of workers for the resource processor to reduce OOM risks, especially for large builds.

[2019-06-07 23:37] jin commented on #8586
Here's a benchmark of `shutdown && clean && build //java/com/google/android/apps/authenticator` of various default values for `--worker_max_instances` for the mnemonics covered by `--persistent_android_resource_processor` on a 12-thread linux machine.

| worker_max_instances | wall time | number of workers | total heap size of all workers | average heap size of a worker | max heap of a worker |
|-

[2019-06-07 23:37] jin commented on #8586
cc @meisterT

[2019-06-08 00:53] LukeIreland1 commented on #8548
Yes, in order to isolate the problem, I need to be able to get Bazel to use my GCC. It's not, so I can't. The fact that it's not, is a problem on it's own, and the only reason, after much investigation, I've found that stops the build from completing.

[2019-06-08 07:35] malkia commented on #5254
Need to verify this (I'm on my Chromebook right now), but I think under windows "bazel.exe" actually runs "java.exe" (as expected), but unlike Linux, the name still comes as "java" during "tasklist" or "pslist" (from Sys Internals). Probably all it takes to rename "java.exe" to "bazel.exe", and then it can be killed.

Again need to verify this next week, when I have windows machine again!

[2019-06-08 11:33] slonka commented on #6327
@steeve for me `--apple_generate_dsym` does not work. I'm trying to debug https://github.com/envoyproxy/envoy. I have the version of the bazyl clion extension linked here: https://github.com/bazelbuild/intellij/issues/494#issuecomment-498830916 .

My setup is:
CLion 2019.1.3 Build #CL-191.7141.37, built on May 6, 2019
macOS 10.14.4
Build label: 0.26.0-homebrew
Build target: bazel-out/darwin-opt/bi

[2019-06-08 13:44] steeve commented on #6327
@slonka can you try to disable the sandbox? `--spawn_strategy=standalone`
The reason is that paths in DWARF can reference the sandbox, not the actual path.
You can either disable sandboxing, or use a sourcemap.

Also, `apple_generate_dsym` works only for `macos_application`, but not `cc_binary` (which was my comment).

As for CLion, I don't know how to make it work, but I managed to do it in VSCod

[2019-06-08 13:50] slonka commented on #6327
@steeve I tried with "--spawn_strategy=standalone" and "--sandbox_debug" they did not work in clion. Do you think it's an issue for bazel or the clion plugin?

[2019-06-08 16:14] davido commented on #8585
Is this related to https://github.com/bazelbuild/bazel/commit/6ef6d879ab69225d54ecab3db847fb4eff33bbeb that was added in 0.27.0rc3? Does it work with 0.27.0rc2?

[2019-06-08 16:14] balkon16 opened #8588 "tensorflow from source gcc: error trying to exec 'cc1plus': execvp: No such file or directory"
### Description of the problem / feature request:

I'm trying to build tensorflow from source using bazel. Unfortunalety I stumple upon a problem when executing the following step from [here](https://www.tensorflow.org/install/source):

`$ bazel build --config=opt --config=cuda //tensorflow/tools/pip_package:build_pip_package --verbose_failures`

If I run the command listed above with `--verbose_f

[2019-06-09 01:20] monamimani opened #8589 "Bazel is not working with visual studio 2019"
### Description of the problem / feature request:

I want to compile a simple helloworld project but Bazel fails early he seems to be confused about where to find what he need.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

execute this commands in powershell
bazel build Project1/HelloWorld --compilation_mode=dbg --verbose_failures

[2019-06-09 01:28] monamimani commented on #8589
Reading closely the log output.
It seems the paths are setup for MSVC 14.21 but is calling cl.exe from MSVC 14.16

[2019-06-09 05:13] monamimani commented on #8589
I found a workaround. here https://github.com/bazelbuild/bazel/blob/master/site/docs/windows.md
by using BAZEL_VC_FULL_VERSION and setting it to 14.21.27702 it now compiles.

I had to find this env var in the github, maybe if it is the official solution for this it should be in install-windows troubleshooting of the install-windows page.

I still feel there is a bug here. it should at least by def

[2019-06-09 05:35] monamimani commented on #8589
Ok I spoke too fast it doesn't fix the issue all the time.
the behavior is actually really random. Sometimes after a clean and killing the server process it might actually compile something but then after if you change the cmd line like remove --verbose_failures --subcommands or even edit code and re compile it will fail.

[2019-06-09 05:37] monamimani commented on #8589
the only thing that works is having only 1 folder under the MSVC folder.

[2019-06-09 07:15] philwo commented on #8432
Just for the record, this is still happening with 0.26.1: https://buildkite.com/bazel/bazelisk-plus-incompatible-flags/builds/138#d21aa528-4497-4f2b-964e-c97623a5294e

But I think ulfjack's patch isn't in that release yet. It will be in 0.27.0, so we can see if it still happens with that version.

[2019-06-09 08:43] marcohu commented on #5092
I've been pondering a bit more about the C++ support. I think the `includes` parameter really is warranted and necessary (and only _feels_ weird to a non-C++ developer), because with ANTLR you want to make the headers available to dependent rules.

And there seems to be a way to simplify the process for the user via a custom toolchain. This is the route that rules_flex takes and as it might become

[2019-06-09 08:43] #5092 closed

[2019-06-09 14:18] steeve opened #8590 "Support for playstore images in Android SDK"
### Description of the problem / feature request:

It seems Android SDK provides images with `google_apis` and `google_apis_playstore` images.
See my layout:
[code]

### Feature requests: what underlying problem are you trying to solve with this feature?

Trying to run an image with `playstore` in Android tests.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a mi

[2019-06-09 14:18] steeve commented on #8590
cc @jin as he seems to the be person of interest here.

[2019-06-09 14:23] steeve commented on #8590
For the record:
[code]

[2019-06-10 08:32] JulesGM commented on #4948
this would be cool

[2019-06-10 08:37] emusand commented on #8055
Hi @hlopko,

Unfortunately this flag is not migration ready yet, as the [commit](https://github.com/bazelbuild/bazel/pull/6919) that introduces it is not ready to be released.

I am mainly waiting for comments on if the way I implemented the flag is OK. I had to introdude the flag in the client, instead of in the server, which might be controversial. But if you think that flag is OK, I can rebase

[2019-06-10 10:13] davidzchen commented on #8445
@oquenchil Is there a way to work around this issue in the meantime?

[2019-06-10 15:14] brandjon commented on #8443
If this tool is meant to run under either Python 2 or Python 3, there ought to be `py_test` targets for both values for `python_version`.

If this tool is used in a non-host config, it'll only ever be analyzed for whichever version is declared in its own `python_version` attribute, or PY3 if none is specified. If the tool is used in the host config, it'll be analyzed as whatever version --host_for

[2019-06-10 15:34] aiuto commented on #8443
Let's take this over to the new place for these rules.
https://github.com/bazelbuild/rules_pkg

@c4urself Would you like to place the issue (or more) there, or are you happy with me copying them over.

But, to answer one question here.

For the Apple users who have to struggle to use Python3.
That said, there is hope. With the rules in Bazel, we are going to opt for the backwards compatibility. Wi

[2019-06-10 15:38] aiuto commented on #7370
See https://github.com/bazelbuild/rules_pkg/issues/35

[2019-06-10 16:33] agoulti commented on #7254
I'd say the problem is the combination of these two factors:
- Currently the platform definition does not capture enough information to know if the pre-built binary will work on that platform
- We can't reliably tell if we're on the host platform. Since Bazel doesn't transition platforms properly yet, a common workaround is to set the local platform to be remote, so even if we had a way of checkin

[2019-06-10 16:35] brandjon commented on #8536
FTR, the rules_nodejs issue is fixed by adding `--action_env=PATH` to the bazelrc.

I think that `action_env` is only read by `py_test`, not `py_binary`, so this may not work for gerrit. Still investigating.

[2019-06-10 16:37] LukeIreland1 commented on #8548
It's likely related to [this issue](https://github.com/bazelbuild/bazel/issues/4510). It is failing when it tries to use the headers in  `/usr/include/c++/4.8.5`, instead of those at `/opt/arm/gcc-8.2.0_Generic-AArch64_RHEL-7_aarch64-linux/include/c++/8.2.0/`.

These headers, and things like glibc and libstdc++ are needed by the Arm compiler too, so the problem is how to convince Bazel to use the

[2019-06-10 17:38] jin commented on #8588
Please open Tensorflow related issues on the TF repository.

[2019-06-10 17:38] #8588 closed

[2019-06-10 18:07] fbaldassarri commented on #7471
Same issue, but with "arm" instead of "armv6l". (I am not sure this is really caused by the same issue.)

🍃  Building Bazel from scratch..
....
🍃  Building Bazel with Bazel.
.WARNING: --batch mode is deprecated. Please instead explicitly shut down your Bazel server using the command "bazel shutdown".
DEBUG: /tmp/bazel_55EbxDW9/out/external/build_bazel_rules_nodejs/internal/common/check_bazel_versi

[2019-06-10 18:21] asuffield opened #8592 "Building in environments with restricted network access"
This is an overview bug for a broad problem space: we want to have a sensible development experience in an environment where direct access to the internet is not available.

For context, I'll start by describing our particular scenario and what we've done about it, but I expect that we're not the only people who have this problem.

We cannot make direct connections to the internet, inbound or outb

[2019-06-10 19:23] gmishkin commented on #8585
Nope, tried that, set up a minimal reproduction here: https://github.com/gmishkin/bazel_8585

[2019-06-10 19:38] exchgr commented on #7330
Is there a way to construct a jar of jars instead of the way it's done now?

[2019-06-10 19:46] brandjon commented on #8425
After doing more experimentation for #8536, it appears that the action environment, whether set by `--action_env` or by `--incompatible_strict_action_env`, does not override the client's environment when using `bazel run` to launch a `py_binary` target. However, it does override it for a `py_test` target (whether using `bazel run` or `bazel test`). It also overrides it for genrule actions, e.g. wh

[2019-06-10 19:51] brandjon commented on #8575
This is not specific to Python. I'm able to reproduce it for `sh_test`. Note that this happens when you build a `py_test` but not when it's just a `py_binary` target.

[2019-06-10 20:02] irengrig commented on #8491
Hi Greg, any updates on that?

[2019-06-10 20:07] brandjon commented on #8425
I can confirm that this same environment behavior is present for the java rules: `--action_env` and `--incompatible_strict_action_env` affect `java_binary` when it's used as a tool, and `java_test` when it's the end-target, but not `java_binary` when it's the end-target.

So the real issue here is how Python artifacts depend on the `PATH`, and not the fact that `PATH` is propagated in different wa

[2019-06-10 20:10] brandjon commented on #8536
See [discussion in #8425](https://github.com/bazelbuild/bazel/issues/8425#issuecomment-500567109). It seems that `PATH` is being treated correctly by `--incompatible_strict_action_env` and `--action_env`. So the answer is that if you're relying on the autodetecting toolchain, make sure the Python interpreter (both versions) are in your `PATH`, by using `--action_env` if necessary.

[2019-06-10 20:32] gregmagolan commented on #8491
Hi Irina. Thanks for looking into this. Not super high priority as its not blocking anyone but would be interesting to find out the underlying cause.

The web_package test is known to fail on Windows and you can filter it out with "fix-windows"
[code]

The other 2 look like build failures due to local changes from previous builds but not 100% sure. A clean checkout would answer that question. I'll

[2019-06-10 21:20] aiuto commented on #5089
The rules now exist in https://github.com/bazelbuild/rules_pkg.
All users should start using those rules, as we will be removing them from Bazel over the next few months.

[2019-06-10 21:20] #5089 closed

[2019-06-10 21:27] aiuto commented on #5049
This is obsolete. The rules are moved to github.com/bazelbuild/rules_pkg.

[2019-06-10 21:27] #5049 closed

[2019-06-10 22:11] brandjon commented on #7899
Update:

* Tensorflow is still not running in CI, so can't reproduce.

* rules_apple may be fixed in CI, not confirmed yet, but downstream projects shouldn't be blocked

* rules_nodejs should have a simple fix available

* Can't repro the gerrit failure due to other CI failures

[2019-06-10 22:11] brandjon commented on #7816
Update on toolchain downstream breakages [here](https://github.com/bazelbuild/bazel/issues/7899#issuecomment-500613748).

[2019-06-10 22:58] viettrungluu commented on #8565
I guess that bazel sync uses cquery (since it works in the above situation)? It's surprising to me that sync works while fetch doesn't, since I'd expect the former to be more complete than the latter.

I tend to favor cquery, since as projects get bigger and more complex, not only do the chances of non-functional configs increase, but the cost of fetching things for all configs also increases (wor

[2019-06-11 02:44] kamathhrishi opened #8593 "Error while building"
[code]
Not sure why this is occuring. it uses Bazel 0.20.0 on Ubuntu 16.04.

[2019-06-11 04:03] davido commented on #7899
The other CI failures have been fixed in: https://gerrit-review.googlesource.com/c/gerrit/+/227252. This change was merged up to master.

[2019-06-11 04:04] benjaminp opened #8594 "--override_repository twice crashes"
[code]

[2019-06-11 06:15] ittaiz commented on #7773
@dkelmer any update? We're nearing three months on it. I have a workaround but I'm not sure when it will break

[2019-06-11 09:02] buchgr commented on #8592
Hi Andrew,

I believe this proposal from @jmillikin would solve your problems https://docs.google.com/document/d/1aagKnM8kRmMvLqSXasShsI-NYOBZYtgNrbYWLPwBoBg/edit#.
E-Mail discussion thread here: https://groups.google.com/forum/#!topic/bazel-discuss/V0YFIrZAK7Q/discussion

Best,
Jakob

[2019-06-11 09:16] hlopko opened #8596 "Embed a release of @platforms into the Bazel binary"
This is a tracking issue implementing the effort described at [Migrating @bazel_tools to @platforms](https://docs.google.com/document/d/1EArrWYUDugqJzBcb0-OxY5BH1FFPYV3jxLIXbJpD9RY/edit?pli=1#heading=h.5mcn15i0e1ch) design doc.

The main goal is to bundle a snapshot of [@platforms](https://github.com/bazelbuild/platforms) into Bazel binary into implicit external repository named `@platforms`. This

[2019-06-11 09:17] hlopko commented on #8596
CC @katre, @gregce, @aiuto.

[2019-06-11 09:27] buchgr commented on #8570
I believe `--build_event_publish_all_actions` will solve your problem. Please re-open if it doesn't.

[2019-06-11 09:27] #8570 closed

[2019-06-11 11:09] lberki opened #8598 "`.short_path` is not usable for output artifacts in external repository"
If I create an artifact with

[code]

In package `@l//lp`, its various paths will be as follows:

`.path`: `bazel-out/k8-fastbuild/bin/external/l/lp/out`
`.root.path`: `bazel-out/k8-fastbuild/bin`
`.short_path`: `../l/lp/out`

`.short_path` is not really usable: it's probably relative to the `bin` directory of rules in the main repository, but since that directory is not available anywhere (`ctx.b

[2019-06-11 11:43] laurentlb commented on #8574
This is blocking the release of Bazel. Can you take a look?

[2019-06-11 11:47] buchgr commented on #8574
Please ignore the error. I believe the pipeline should be removed from downstream.

[2019-06-11 11:49] laurentlb commented on #8574
Thanks!

(cc @philwo)

[2019-06-11 11:52] asuffield commented on #8592
Yes, that sounds like a viable approach. We'd need to see enough of the rule definition to intercept things like git_repository, which is a little bit deeper than the current design, but only a little bit.

[2019-06-11 11:53] ishikhman commented on #8574
why do you think so?

[2019-06-11 12:00] buchgr commented on #8574
That was more by accident than by design :). We are using pre-generated toolchains for remote execution. So in downstream testing, Bazel built from HEAD will use the toolchains of the released version of Bazel.

[2019-06-11 12:04] laurentlb commented on #8568
We should provide a proper error message, but attribute names may not start or contain special characters like `:`.

[2019-06-11 12:09] ishikhman commented on #8574
ah, I see, thanks!

[2019-06-11 14:27] katre commented on #7773
Unfortunately @dkelmer is no longer working on Bazel. I'm going to try and figure out who can take over this work.

[2019-06-11 14:59] benjaminp commented on #8568
Okay, but writing '$'-prefixed attributes has at least historically been essential for working on around bugs like #6293.

[2019-06-11 15:04] jdrouet opened #8602 "Building tutorial with emscripten doesn't work"
### Description of the problem / feature request:

The example with emscripten doesn't work.
I've tried to implement the tutorial about how to use bazel with emscripten and build it in a Docker container, but it looks like it doesn't work.
I created a repo [here](https://github.com/jdrouet/bazel-emscripten-test) and it's building on circleci [here](https://circleci.com/gh/jdrouet/bazel-emscripten-

[2019-06-11 15:33] brandjon opened #8603 "Add an autodetecting host toolchain"
Add a repo rule to autodetecting the Python toolchain on the host machine.

For cases where the target platform is the host machine, this avoids issues with relying on `PATH` at execution time to find the right system Python interpreter, e.g. #8536. It does not completely eliminate runtime dependence on `PATH` though, due to the stub script shebang; see also #6817 and #8446.

[2019-06-11 16:13] laurentlb commented on #8568
The only convention that's supported is `"_myattr": attr.label()`.
In 6293, I see the commit is using `"_lcov_merger"` (https://github.com/jayconrod/rules_go/commit/593d26982abe26ff06ab080dda08c2fd3b84ccad), so that's fine for me.

[2019-06-11 16:13] Ubehebe commented on #6245
@cushon, can you clarify how to use this feature? Bazel at head [defines](https://github.com/bazelbuild/bazel/blob/master/tools/jdk/BUILD#L392) toolchain_java8 and toolchain_java9, but not toolchain_java10 or toolchain_java11. I was able to roll my own like this:

[code]
then activate it by default from my bazelrc:
[code]

But now building a simple java_library fails with the following:

[code]

I

[2019-06-11 16:19] laurentlb opened #8604 "Add a test to ensure Bazel can build offline"
This has been discussed a few times in the past. Bazel shouldn't depend on Internet implicitly.

Recent user report: https://github.com/bazelbuild/bazel/issues/8575

We could have an integration test that we run without Internet access.

[2019-06-11 16:21] benjaminp commented on #8568
I used the name `$lcov_merger` successfully in my project. My point here is that enforcing such a restriction is an incompatible change.

[2019-06-11 16:28] laurentlb commented on #8568
Yes, I agree.

[2019-06-11 16:33] katre commented on #7773
Re-assigning to @dslomov to find a new owner.

[2019-06-11 16:38] buchgr opened #8605 "remote: retry Execute() with status OK but empty ExecuteResponse"
If a server closes an Execute()/WaitExecute() call with status OK and an ExecuteResponse.done=false then Bazel should retry the call. This was discovered / requested by @werkt.

[2019-06-11 17:36] c-parsons commented on #8541
I suspect this might be because you are defining the providers from inside an rule implementation function. In other words:

[code]

Might be problematic

Instead do:

[code]

Still, we should always avoid a Bazel stacktrace, and should provide a more helpful error, when this sort of thing occurs. I'll work on a fix.

[2019-06-11 17:40] brandjon commented on #8536
In [debugging](https://bugs.chromium.org/p/gerrit/issues/detail?id=10953#c11) the gerrit failure, I see that they're using a genrule-within-a-genrule. What's happening is that the outer genrule transitions to the host config for its tools, so the inner genrule itself (not just its tools) gets built in the host config. But the host config does not propagate `--action_env`, leading to the breakage.

[2019-06-11 17:41] brandjon commented on #8536
I'd like to do 1 or 2 and cherrypick into the release, so bumping priority.

[2019-06-11 17:42] c-parsons commented on #8541
(Confirmed, my suspicion was correct)

[2019-06-11 17:43] brandjon commented on #7816
#8536 is now release-blocking as I decide how to address the gerrit breakage. The error mode only occurs when

1. using `--incompatible_strict_action_env` in combination with
2. the default Python toolchain
3. on a mac, and
4. in a build that includes a genrule-within-a-genrule (or genrule underneath another host-configured target)

This combination should be pretty rare.

[2019-06-11 17:53] philwo commented on #8536
Thank you for debugging! We should definitely do 2 (it’s just wrong to not include /usr/local/bin) and probably also do 1, but that can be done afterwards.

[2019-06-11 18:09] laurentlb commented on #8536
From https://github.com/bazelbuild/bazel/issues/7816#issuecomment-500949851, you say it happens only when `incompatible_strict_action_env` is set. We normally provide guarantees for incompatible flags (whose default value is false). So I suggest no cherrypick, no delaying of release, but we can make sure the fix is included in 0.28.

(I would vote for releasing 0.28 quickly, but no everyone seems

[2019-06-11 18:12] JLLeitschuh opened #8607 "incompatible_disallow_unverified_http_downloads: ignore plain `http` URLs (as opposed to `https` URLs) when downloading a file without given hash"
[![mitm_build](https://user-images.githubusercontent.com/1323708/59226671-90645200-8ba1-11e9-8ab3-39292bef99e9.jpeg)](https://medium.com/@jonathan.leitschuh/want-to-take-over-the-java-ecosystem-all-you-need-is-a-mitm-1fc329d898fb?source=friends_link&sk=3c99970c55a899ad9ef41f126efcde0e)
[Want to take over the Java ecosystem? All you need is a MITM!](https://medium.com/@jonathan.leitschuh/want-to-ta

[2019-06-11 18:17] brandjon commented on #8536
To some extent people have been using `--incompatible_strict_action_env` as a feature flag, independent of its incompatible / experimental status. In particular, projects often use it for caching advantages, e.g. when `PATH` contains a different temporary directory on each invocation.

The flag had previously been flipped on and rolled back. I don't know if anyone is actively working on trying to

[2019-06-11 18:27] philwo commented on #8536
There was a long discussion on bazel-discuss about this and it was agreed upon that the whole idea of having a "strict PATH" that's valid for "any Linux installation" or "any Windows installation" is flawed and does not work. Thus, the flag and mechanism should go away, instead Bazel should simply use the PATH set by the user's shell.

Users would then be able to override this either by using a Ba

[2019-06-11 18:46] brandjon commented on #8536
Sounds like someone should own a bug for removing the flag then. Would there be an easy way to opt into an environment variable being unavailable by default, instead of inherited by default?

[2019-06-11 18:56] philwo commented on #8536
I don’t understand - what do you mean with opt-in to an environment variable being unavailable by default? And what’s the relation to the above ideas how to fix this?

[2019-06-11 19:00] eytankidron opened #8608 "Inconsistent order for choosing execution platform and toolchains"
When bazel (0.26.1) chooses what remote execution platform to use (and as a consequence what toolchains to use) for a particular target, it seems to follow the following order of precedence:
* --extra_execution_platforms (in the order specified in .bazelrc)
* --extra_execution_platforms (in the order specified in the bazel command line flag)
* register_execution_platforms (in the order specified i

[2019-06-11 19:08] brandjon commented on #8536
Sorry, I was digressing away from this problem. I was wondering, if we're getting rid of the strict environment flag, but we're supporting `--action_env` to set specific env vars, what about arbitrary env vars that the user wants to filter out but doesn't know about to enumerate them in `--action_env`? Or is the idea to let a wrapper script do that part?

Anyway, for this issue I'm working on a qu

[2019-06-11 19:56] robbertvanginkel commented on #8485
Although performance of compiling protoc is one of the reasons I'd like to have a precompiled one, its not the only one. We use bazel in a few repositories with mostly go and proto code, and users now need a c toolchain just to compile protoc. We rely on bazel's autoconfiguration and don't have a hermetic c toolchain by default, this led to issues like https://github.com/protocolbuffers/protobuf/i

[2019-06-11 20:29] wesleyw72 commented on #3595
Hi @hlopko is there any update on the above since your last post. I'd like to do something very similar to the author and change the RUNPATH of a deployed binary built with Bazel

[2019-06-11 20:33] brandjon commented on #7899
The root cause of the gerrit issue is tracked in #8536. rules_apple is fixed. rules_nodejs is probably fixed but waiting on tomorrow's downstream CI run to confirm. That just leaves tensorflow, which is still disabled, and which I assume we're not blocked on.

[2019-06-11 20:35] brandjon commented on #7816
#8536 is fixed by a pending commit (blocked on transient infrastructure failures).

Laurent mentions that since this bug only manifests itself with `--incompatible_strict_action_env`, we may be allowed to break this use case and fix it in the next release with no cherrypick. However, some users have come to rely on this flag. It arguably functions more like an ordinary feature flag than an incompa

[2019-06-11 20:54] robbertvanginkel opened #8609 "Add support for reading a list of target patterns for from a file"
### Description of the problem / feature request:

Add support for reading a list of target patterns for from a file for `bazel {build,test}` (in addition to supporting target patterns in argv)

### Feature requests: what underlying problem are you trying to solve with this feature?

We have a command based on query that selects a set of targets (based on this [bazel-discuss](https://groups.google

[2019-06-11 21:07] c-parsons commented on #5903
Flag: --incompatible_run_shell_command_string

Motivation
The motivation for this change is described in #6241

Migration
Use OutputGroupInfo instead.

# Before
def rule_impl(ctx):
    ...
    dep_bin = ctx.attr.dep.output_group.bin
    ...

# After
def rule_impl(ctx):
    ...
    dep_bin = ctx.attr.dep[OutputGroupInfo].bin
    ...

[2019-06-11 21:19] #8536 closed

[2019-06-11 22:53] #8541 closed

[2019-06-12 00:37] gregmagolan commented on #8491
Yes. The 2nd two failures only happen on Windows on 2nd run of that test. You can avoid it with a clean checkout. I'll fix that up as its annoying and rebase the https://github.com/gregmagolan/rules_nodejs/tree/user-node-modules-proto-windows-flake branch.

I read the description again for this issue and I was actually not able to reproduce even once it locally on my Windows machine. It was only s

[2019-06-12 01:17] aiuto commented on #8030
My bad on the mis-categorization

[2019-06-12 01:47] juliexxia opened #8610 "Incremental correctness issue with starlark build settings"
Repro:

# bzl
my_flag = rule(implementation = _imp, build_setting = config.string(flag = True))

# BUILD
load(...)
my_flag(name = 'my_flag')
java_library(name = 'unrelated_target')

$ bazel build //stuff/unrelated_target --//stuff/my_flag=foo
... (works fine)

*delete //stuff/my_flag target *

$ bazel build //stuff/unrelated_target --//stuff/my_flag=foo
... (works fine)

$ bazel build //stuff/unre

[2019-06-12 01:50] juliexxia commented on #7816
Request for a cherrypick for #8610

There's a change currently inside the release candidate that flips --experimental_build_setting_api to true. I've just found a pretty major incremental correctness concern with build settings so I think we should patch a flip back. Apologies for the added complexity!

[2019-06-12 02:11] gregmagolan commented on #8491
Update on my last comment. There is an error in that test that only happens on Windows as described but I took a look at the logs again in your comment and those failures are because `bazel run @nodejs//:yarn` is a pre-req for that test.

https://github.com/bazelbuild/rules_nodejs/pull/848 is in progress which removes the pre-req and also fixes the Windows issue above.

[2019-06-12 02:13] #8593 closed

[2019-06-12 02:28] jin commented on #8609
You can achieve this using:

[code]

Would that work for you?

[2019-06-12 02:59] brandjon commented on #7816
#8536's fix is in as 3a4be3c93813987a27a97dade3f9ebbc5770e349. Please cherrypick if creating a new RC.

[2019-06-12 03:42] kastiglione commented on #8609
I would like this feature too. Bazel supports actions that use args files, so maybe why not bazel too?

The bazelrc approach would not work for us, our repo has a checked in .bazelrc.

[2019-06-12 04:10] gregmagolan commented on #8491
@irengrig https://github.com/bazelbuild/rules_nodejs/pull/848 which fixes the `//internal/npm_install/test:test` failures you saw is done and just waiting to land. In the meaintime I rebased https://github.com/gregmagolan/rules_nodejs/tree/user-node-modules-proto-windows-flake on top of it so if you do a clean clone of that branch you should be able to do a complete build to try to repro.

You'll

[2019-06-12 06:34] Globegitter commented on #8609
@kastiglione you can probably use `try-import` to have a secondary bazelrc that is on gitignore. Also @robbertvanginkel given the background of this ticket you might be interested in: https://github.com/bazelbuild/bazel/issues/8521

[2019-06-12 06:36] davido commented on #7347
I have problem with this migration in gerrit. This is a new attempt: [1]. Trying to build with Bazel@HEAD, I'm getting this error:

[code]

`bower_component` is defined as follow:

[code]

that is referencing to `_common_attrs.items()` , that is defined as follow:

[code]

@laurentlb @c-parsons What am I missing?

* [1] http://paste.openstack.org/show/752789/

[2019-06-12 08:19] iirina commented on #6245
With bazel@HEAD `@bazel_tools//tools/jdk:toolchain` is a toolchain for java 11, but still targets JDK 8.

I tried reproducing with your example but I could run a Java 11 binary. Make sure that you are using bazel built@HEAD otherwise the `default_java_toolchain` still points to a Java 10 toolchain.

We are planning to soon make available the toolchains for java version 9-12 under https://github.co

[2019-06-12 09:24] laurentlb commented on #7773
Klaus, can you take a look at what needs to be done here (and how much work it is)?

[2019-06-12 09:46] buchgr commented on #8608
Wouldn't one want to always want for the command line flag to override everything else, including .bazelrc?

[2019-06-12 10:33] katre commented on #8608
@buchgr: Yes, that would be best, but there's not a good way to do that with Bazel's current handling of allowMultiple options.

The actual issue here is the legacy support to prefer the host platform when there are no toolchains required. This should be easy enough to remove.

[2019-06-12 10:47] irengrig commented on #8491
Thank you for the comments! I was able to reproduce the original problem on the Windows VM as well, but as there were other failures as well, I was not sure.
Will give it another try.

[2019-06-12 11:16] laurentlb commented on #8607
Klaus, what do you think?
Maybe we could forbid HTTP dependencies without a sha256? Any good alternative?

[2019-06-12 11:23] buchgr commented on #8608
Agreed. In addition to that it will allows us to specify one fewer flag when configuring Bazel for remote execution (--host_platform=@rbe_default//config:platform) which is great!

[2019-06-12 11:34] buchgr commented on #8574
I have removed the pipeline from downstream.

[2019-06-12 11:34] #8574 closed

[2019-06-12 12:02] laurentlb commented on #8610
Rollback CL is https://github.com/bazelbuild/bazel/commit/536a166270590a8dbc701718550383f3a07cc763

I can cherry-pick it for 0.27

[2019-06-12 12:06] laurentlb commented on #7816
I've create rc5 with 3 new cherry-picks. Unless I missed something, all cherry-pick requests from the thread have been included.

scripts/release/release.sh create --force_rc=5 0.27.0 c5f93b88d13631a01530fb78213dfb575486d675 6efc5b787ad3164cc2fb779c73377695032b4524 3a4be3c93813987a27a97dade3f9ebbc5770e349 5c1005c0947b010ee36ca851b8ba07c9479cf682

[2019-06-12 12:25] laurentlb commented on #7816
Test of downstream projects: https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1034
Expected release date: next Monday
Try the new candidate: https://releases.bazel.build/0.27.0/rc5/index.html

[2019-06-12 13:08] bradleyjames commented on #8450
If I'm understanding this issue correctly the Concepts and Terminology article contains this documentation.  From https://docs.bazel.build/versions/master/build-ref.html#label_directory:

[2019-06-12 13:19] #8610 closed

[2019-06-12 13:30] ishikhman commented on #7766
Design doc [link](https://docs.google.com/document/d/1X2GtuuNT6UqYYOK5lJWQEdPjAgsbdB3nFjjmjso-XHo/edit?ts=5ca70ed0#heading=h.5mcn15i0e1ch)

[2019-06-12 13:35] laurentlb commented on #8558
(this topic is between Configurability and Starlark, but there's a lot of documentation work to do on the Starlark side, I hope Configurability team can take it)

[2019-06-12 14:17] irengrig commented on #8491
Great! I cloned your repository & branch, and this is what I got on the second run (so the Bazel caches were alive):

ERROR: C:/users/ichern/_bazel_ichern/yv2jimq7/external/fine_grained_deps_npm/BUILD.bazel:13:1: error loading package '@fine_grained_deps_npm//node_modules/.bin': Unexpected short read from file 'C:/users/ichern/_bazel_ichern/yv2jimq7/external/fine_grained_deps_npm/node_modules/.bin

[2019-06-12 14:58] kastiglione commented on #8609
I didn't know about `try-import` thanks. I still think bazel should support an args file, it's very common.

[2019-06-12 15:44] iirina opened #8614 "java_tools' ijar and singlejar don't build on windows"
The ijar embedded in java_tools doesn't build from source on Windows.

Repro:

Build one of the java_tools zips in the bazel repo:

[code]

[code]

The log includes:

[code]

The failing target is a `cc_library` which uses `strip_include_prefix` (from a naive point of view this looks like the culprit).

The BUILD file where the targets are defined is [tools/jdk/BUILD.java_tools](https://github.com

[2019-06-12 15:45] iirina commented on #8614
Not P1 because on Windows the java_tools use the prebuilt ijar binary.

[2019-06-12 16:22] c-parsons commented on #7347
In your `attr.label_list(providers = ` section, you are declaring which Providers are expected from labels referenced in the `deps` attribute. With your change, I believe you should be expecting `LicensesZipfilesVersions` instead of the three strings that you have in the above snippet.

[2019-06-12 16:24] cushon opened #8615 "Java 11 doesn't work with Android builds"
Using Bazel at head (4aa48f9d83ae3c34ceebb172dc4479607cc54fbc) and configuring the Java 11 language level with `--javacopt='--release 11'` (as currently suggested in https://github.com/bazelbuild/bazel/issues/6245#issuecomment-494879374) doesn't allow building Android targets.

Repro:

[code]

Create a minimal `WORKSPACE` and `BUILD`:

[code]

Building with default options works:

[code]

Building

[2019-06-12 16:46] laurentlb commented on #8517
There's a correctness issue.
I tried with this BUILD file:

[code]

It correctly reports the files from the current package. Then I modify the file (e.g. add a comment), and I get an error:

[code]

Looking at Bazel code, I see the error is raised by [`globUnsorted`](https://source.bazel.build/bazel/+/master:src/main/java/com/google/devtools/build/lib/packages/GlobCache.java;l=134?q=globUnsorted).

[2019-06-12 17:01] haxorz commented on #8517
cursory analysis (i merely skimmed the source code and didn't e.g. repro in a debugger):
- on the 2nd build, we get skyframe cache hits for the GlobValue deps. so that's why PackageFunction.SkyframeHybridGlobber#runAsync's 'globsToDelegate' is empty.
- we should have implemented the 'allow_empty' feature in PackageFunction.SkyframeHybridGlobber, *not* in GlobCache. i'm sorry for not noticing this

[2019-06-12 17:20] cgbystrom commented on #6515
Seems like this commit solves the problem: https://github.com/bazelbuild/bazel/commit/67641005d14eb21612f765f788f9df6da4d742eb

[2019-06-12 18:48] davido commented on #7347
Well, it is embarrassing, that I missed that.

Thanks again for your help, it is done now: [1].

[1] https://gerrit-review.googlesource.com/c/gerrit/+/227592

[2019-06-12 19:24] robbertvanginkel commented on #8609
@jin thanks for the suggestion, I did not know you could put build targets into the bazelrc.

I guess that technically fixes my issue, although I agree with @kastiglione that having general argfile support would be nice. Should I open a general issue for that or do you want to keep this one open and rename it to "Add support for argfiles".

[2019-06-12 20:28] robbertvanginkel commented on #8609
@jin I tried this and it works for the number of targets we have in our repository today, but when I tried to do it with a list double the number of targets I get an odd grpc error:

[code]

Any idea why this could be?

[2019-06-12 21:10] gregmagolan commented on #8491
Nice! Glad you could reproduce it.

[2019-06-12 21:25] ah-edg opened #8618 "Make workspace_status_command output available for custom rules"
### Description of the problem / feature request:

The output of workspace_status_command is a file, available in custom rules under `ctx.info_file` (`STABLE_`...) and `ctx.version_file` (others).
It is not possible to retrieve the contents as parsed variables that are universally useable (e.g. in a dict).

Reading the file from custom rules seems to be unsupported in Starlark, probably to guarant

[2019-06-12 23:35] gregmagolan commented on #8487
Tested 0.27.0rc5 in my repro repo and the first case of the node_modules folder being deleted is fixed:

[code]

[2019-06-12 23:37] gregmagolan commented on #8487
The 2nd case described where node_modules is deleted and then manually re-created with `yarn install` or `npm install` outside of Bazel is still broken:
[code]

[2019-06-13 00:18] zachgrayio commented on #2694
Hey there - just checking in and see what the status is on this as lack of databinding support is a big blocker for us on adopting bazel in the manner we'd like to.

Is there anything we can do to contribute to this effort?

[2019-06-13 06:55] HVP1621 opened #8619 "Unable to fetch image from a repository during bazel build. Call stack points towards a syntax error in the __init__.py of httplib2."
I am using bazel to build my own Docker images. As a toy example, I would like to pull an image from the gcr and extend custom layers on top of it. Below are my WORKSPACE and BUILD files.
## WORKSPACE
[code]
## BUILD

[code]
When build the target `bazel build //foo:layer1`,  I get the following error:
[code]
Below is the complete error message which is returned

[code]
## Bazel Release Version
` r

[2019-06-13 07:07] #8596 closed

[2019-06-13 08:05] gsagula commented on #4314
@redisliu 👍 🥇

[2019-06-13 08:34] iirina commented on #8614
cc: @laszlocsomor for windows expertise, @hlopko for C++

[2019-06-13 08:40] iirina commented on #8615
cc @jin

[2019-06-13 08:41] iirina commented on #8497
cc: @laszlocsomor

[2019-06-13 08:47] aehlig commented on #8607
That should work. What we most likely cannot drop is the "plain http but known-good checksum" use case. And of course, such a change can only become active in a release that allows incompatible changes.

[2019-06-13 08:48] hlopko opened #8622 "incompatible_use_platforms_repo_for_constraints: Don't use constraints from @bazel_tools, use @platforms instead"
Available since: 0.28
Tracking issue: https://github.com/bazelbuild/bazel/issues/6516

### Motivation

Bazel currently provides common constraints for [platforms](https://docs.bazel.build/versions/master/platforms.html) and [toolchains](https://docs.bazel.build/versions/master/toolchains.html) in `@bazel_tools//platforms`. We are migrating these out of the Bazel binary to a principled, standalone

[2019-06-13 08:48] meteorcloudy opened #8623 "Bazel CI: Downstream jobs are broken by git_repository refactoring"
https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1035

Bazel Codelabs
[code]
Culprit: 50a2d6c9b9c55776ec747a656a2edd971e723771
https://buildkite.com/bazel/culprit-finder/builds/165

/cc @irengrig

FYI @buchgr for Green Team rotation.

[2019-06-13 09:20] buchgr opened #8626 "Envoy fails on Bazel CI with Bazel@HEAD"
Hey @brandjon,

we are seeing a Python error with Bazel@HEAD that we are not seeing with Bazel 0.26.1
[code]

I believe you updated the Python rules to pick python3 instead of python2 by default in master?

[code]

[2019-06-13 10:15] hlopko commented on #8438
CC @scentini

[2019-06-13 10:17] jonywalker1998 opened #8627 "Unable to build tensorflow from source with bazel for C++"
I tried to build tensorflow r1.13 GPU with bazel on windows, and followed the instruction
https://www.tensorflow.org/install/source_windows extractly, but without success.
I am new using bazel, normally I use cmake build, but the cmake build is no more supported. I used bazel 0.21 since the 0.23 not accepted. Following are the build output:

WARNING: The following rc files are no longer being read

[2019-06-13 10:22] hlopko commented on #8548
Oh one critical question I should've asked right at the beginning. Are you cross compiling? Bazel's C++ autoconfigured toolchain only works for host compilations. If you need to cross-compile, you need to write your own toolchain. See https://docs.bazel.build/versions/0.26.0/tutorial/cc-toolchain-config.html and https://docs.bazel.build/versions/0.26.0/cc-toolchain-config-reference.html.

[2019-06-13 10:41] iirina commented on #6245
1d82cf8b51171f2e1c01c582529d8f558940f41b introduced `@bazel_tools//tools/jdk:toolchain_java10` and `@bazel_tools//tools/jdk:toolchain_java11`. You can try them out with bazel@HEAD.

[2019-06-13 10:58] nlopezgi commented on #8619
I do think this issue belongs in rules_docker repo. Have you tried adding the flags recommended in https://github.com/bazelbuild/rules_docker/blob/master/.bazelrc#L18?

[2019-06-13 11:22] asimonov-hitachi commented on #2622
that oracle-java8-installer PPA is not supported anymore?

https://askubuntu.com/questions/790671/oracle-java8-installer-no-installation-candidate

shall bazel install instructions be updated with a working java install for Ubuntu?

[2019-06-13 12:48] ishikhman commented on #8224
@buchgr did you mean `--remote_default_platform_properties` flag?

[2019-06-13 12:50] buchgr commented on #8224
Yes!

[2019-06-13 13:02] ngalaiko commented on #4201
Thanks, that's awesome!

[2019-06-13 14:37] iirina commented on #8585
I looked into it and discovered that Turbine always builds the compile time jars for Java 8 ([JavacTurbine.java#L245](https://github.com/bazelbuild/bazel/blob/master/src/java_tools/buildjar/java/com/google/devtools/build/java/turbine/javac/JavacTurbine.java#L245)) @cushon is this still the case? Is there a way to override the javacopts for Turbine or do you see any issues with overriding them?

[2019-06-13 15:03] meteorcloudy commented on #8623
@philwo found out this fix is lost after refactoring: https://github.com/bazelbuild/bazel/commit/39688b2454965eb45aa2f02a3f078adeee06ccd1

[2019-06-13 15:05] #8608 closed

[2019-06-13 15:19] keith commented on #8626
I should be able to fix this on the envoy side when I'm back in the office next week

[2019-06-13 15:36] jin commented on #8615
+ @ahumesky

[2019-06-13 15:42] LukeIreland1 commented on #8548
If I'm literally just wanting the change the path of the gcc, is it not possible to just edit the existing toolchain, and any occurrences of gcc there? If not, I assume I'll have to add the path in here: "toolchain/cc_toolchain_config.bzl", as given in the example.

[2019-06-13 15:46] buchgr commented on #8626
thanks @keith!

[2019-06-13 15:47] ishikhman commented on #8395
fixed by bazelbuild/continuous-integration#663

[2019-06-13 15:47] #8395 closed

[2019-06-13 15:50] hlopko commented on #8548
You did change the path of the gcc. You see it in your log: `/opt/arm/arm-hpc-compiler-19.2_Generic-AArch64_RHEL-7_aarch64-linux/bin/armclang`. Is that not the right armclang? Bazel will use this binary for anything it needs to do with C++ compiler.

It is the expected builtin include directory for your armclang: `/usr/lib/gcc/aarch64-redhat-linux/4.8.5/../../../../include/c++/4.8.5/`? In your log

[2019-06-13 16:11] LukeIreland1 commented on #8548
/usr/lib/gcc/aarch64-redhat-linux/4.8.5/../../../../include/c++/4.8.5/ is the system GCC, and I want it to use gcc at /opt/arm/gcc-8.2.0_Generic-AArch64_RHEL-7_aarch64-linux/. I've tried changing all the files I could find with this GCC path, but somehow Bazel is still using the system GCC path for GCC. I'll make my own toolchain if it's going to be easier than just replacing paths, but I was wond

[2019-06-13 16:24] hlopko commented on #8548
Did you try passing `--sysroot=/opt/arm/gcc-8.2.0_Generic-AArch64_RHEL-7_aarch64-linux/`? Or passing `-isystem=/...`? You can use Bazel's --copt option.

Bazel doesn't not tell the C++ compiler where to look for system headers. armclang is using its defaults. You can see what defaults are by running `armclang -E -xc++ - -v`.

[2019-06-13 16:38] brycearden commented on #7959
Is there a roadmap for this feature? The import package precedence issues seems to cause a lot of non-trivial issues when using python3 for me. (Even when using the new python-toolchain flow)

[2019-06-13 16:41] #8517 closed

[2019-06-13 16:55] LukeIreland1 commented on #8548
`[lukire01@vcn-man-apps ~]$ armclang -E -xc++ - -v
Arm C/C++/Fortran Compiler version 19.2 (build number 155) (based on LLVM 7.1.0)
Target: aarch64--linux-gnu
Thread model: posix
InstalledDir: /opt/arm/arm-hpc-compiler-19.2_Generic-AArch64_RHEL-7_aarch64-linux/bin
Found candidate GCC installation: /opt/arm/gcc-8.2.0_Generic-AArch64_RHEL-7_aarch64-linux/lib/gcc/aarch64-linux-gnu/8.2.0
Found candida

[2019-06-13 16:56] LukeIreland1 commented on #8548
It correctly selects the right GCC version. I'll try those two flags you gave me.

[2019-06-13 17:37] henryqinshield opened #8631 "CROSSCOMPILE on 0.26.0 for ARM returns with no matching toolchains found for types @bazel_tools//tools/cpp:toolchain_type`"
### Description of the problem / feature request:

We are trying to crosscompile our targets using bazel 0.26.1 for ARM. Everything works when we try to run using k8, however, when we switch to `--cpu=arm` we get the following error:

[code]

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Setting --cpu=arm causes the issue to manife

[2019-06-13 17:43] LukeIreland1 commented on #8548
`gcc: error: unrecognized command line option '-armpl'` It's now compiling with gcc instead of armclang, which isn't what I wanted. It should only use gcc when necessary. Same as if you're cross compiling for clang.

[2019-06-13 19:53] SrodriguezO commented on #8216
Hey @ishikhman! Have you had a chance to look any further into this?

[2019-06-13 20:09] juliexxia opened #8633 "ctx.split_attr broken nondeterministically with Starlark transitions"
ctx.split_attr builds itself for every starlark rule, encompassing every attribute with a split transition. In doing so it actually applies transition but doesn't do any of the set up or tear down work necessary for starlark transitions to properly be applied.

[2019-06-13 20:12] juliexxia commented on #8633
ctx.split_attr also automatically keys on cpu which means it doesn't return the right mapping for transitions keyed on anything else and can throw IllegalStateExceptions.

Unfortauntely I'm just now finding this issue though it seems to have been broken forever. 49862c5fa66f65deb513ee938d3d052b9e4cfbbe puts a bandaid on the issue by just disallowing ctx.split_attr to include starlark transitioned

[2019-06-13 20:14] juliexxia commented on #7816
Woof, Is it possible to add another cherrypick for #8633 ? 49862c5fa66f65deb513ee938d3d052b9e4cfbbe is the commit. Right now bazel can crash because of the issue. Sorry to delay the release timeline again!

[2019-06-13 20:32] brandjon commented on #7806
Reconsidering this FR, I'm not sure this is something we really want to add.

If the `PyInfo.python_version` field just means "The Python version of this target, as specified by its configuration", then we're really just duplicating information from the configuration. Presumably in most cases the parent target that would consume this provider already knows its child's configuration. (Maybe that's

[2019-06-13 21:09] laurentlb commented on #8633
I don't think we should delay (again) the release for this, unless it worked with Bazel 0.26.

[2019-06-13 21:42] juliexxia commented on #8633
I get that. The only reason I ask is because it can lead to hard bazel crashes which I thought upped the priority level of bugs. But I leave the decision up to you as release manager!

[2019-06-13 22:53] sgreenstein commented on #6515
Agreed, that commit and passing `--bes_upload_mode=fully_async` achieves the effect that I wanted: exiting with code 0 if the build succeeds, regardless of BES upload status.

[2019-06-13 22:53] #6515 closed

[2019-06-14 04:11] HVP1621 commented on #8619
Hey!! Thanks for pointing towards the above resource. Unfortunately, even after adding the flag(s) to the `.bazelrc` file, it gives me the same errors :(
I have noticed that it gives similar errors while trying to push an image onto any registry, its just that it cannot find `email.FeedParser` module when parsing some code in `httplib2`.

[2019-06-14 05:33] davido commented on #8536
@brandjon I am trying to build on Mac OS now, with 10.15.4 and seeing this breakage:

[code]

[2019-06-14 07:26] ittaiz commented on #6862
Is anyone using this feature on CI? I'd love to hear how you're getting around the lack of BES/BEP together with lack of artifacts.
We really need this perf win (many minutes of ridiculously long build times for fully cached build :( )

[2019-06-14 07:49] iirina commented on #8614
I also checked that the file `java_tools/src/main/native/windows/file.h` exists in the zip archive in #8621.

[2019-06-14 08:26] davido commented on #7816
I have a call to document in the release notes for 0.27, that Python 3 is now required for Bazel.

I am able to build Gerrit Code Review on Mac OS on Bazel 0.26 without having Python 3 installed, see this comment: [1].

With 0.27.0rc5 I am not able to build Gerrit Code Review any more. I have to install Python3. Looking into release notes on https://releases.bazel.build/0.27.0/rc5/index.html the o

[2019-06-14 08:59] buchgr commented on #8216
@SrodriguezO we love contributions :)

[2019-06-14 09:18] aehlig commented on #6670
It was, because I believed that the [new error message](https://github.com/bazelbuild/bazel/blob/b41bf69e416c10a74def052ef67cf4712b8b9d2e/src/main/java/com/google/devtools/build/lib/skyframe/SkyframeDependencyResolver.java#L141-L149) contained all the information needed. What I did miss, however, was adding `e.getMessage()` to the message string as well.

What about fixing it that way by extending

[2019-06-14 09:25] laurentlb commented on #7816
For the release announcement, see:
https://docs.google.com/document/d/1wDvulLlj4NAlPZamdlEVFORks3YXJonCjyuQMUQEmB0/edit#heading=h.ibnqhsyprlp8
or:
https://github.com/bazelbuild/bazel-blog/pull/178

[2019-06-14 11:46] davido commented on #7816
@laurentlb Thanks, that document clarifies the issue.

[2019-06-14 12:36] meteorcloudy commented on #6664
@aehlig

Is this behavior documented somewhere? I found it very important to figure out which definition of a repository is loaded.

[2019-06-14 12:42] #8435 closed

[2019-06-14 15:30] brandjon commented on #7816
@davido, glad the (updated) release notes helped.

FTR, Bazel 0.27 shouldn't *require* Python 3 in order to function. But it may cause Bazel to try to use Python 3 by default where it didn't before. This can be worked around to restore the pre-existing behavior as per #7899.

[2019-06-14 15:53] SrodriguezO commented on #8216
We're happy to help! Just wanted to avoid duplicate efforts, since the issue's assigned. We can start looking into it next week.

[2019-06-14 16:03] eytankidron opened #8636 "Toolchain resolution problems with multiple platforms and remote execution"
When playing around with remote execution platform selection, I'm hitting toolchain resolution error with bazel 0.26.1

In .bazelrc, I'm setting:
build:remote --incompatible_enable_cc_toolchain_resolution
build:remote --extra_toolchains=@rbe_default//config:cc-toolchain
build:remote --extra_execution_platforms=//:plain_platform,@rbe_default//config:platform
build:remote --host_platform=//:plain_pl

[2019-06-14 16:05] SrodriguezO commented on #8216
We'll still hold off to hear back from @ishikhman though (to avoid duplicate efforts)

[2019-06-14 16:13] brandjon commented on #8536
Yep, the error was because your machine didn't have Python 3 installed, and prior to 0.27 it worked because the default behavior effectively was to use Python 2 in spite of the way the gerrit codebase (and many others) are set up.

Your options were to
1. install python 3, which you did
2. pass `--extra_toolchains=@bazel_tools//tools/python:autodetecting_toolchain_nonstrict`, telling Bazel to igno

[2019-06-14 16:38] rlewkowicz opened #8637 "type 'NoneType' has no operator [](string) using env["FOO"], env["BAR"]"
### Description of the problem / feature request:

python formatted bazel seems unable to access env as in `env["PATH"]` after 24.1.

### Feature requests: what underlying problem are you trying to solve with this feature?

I'm just trying to build tensorflow 2.0 with avx and or mkl

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

VS

[2019-06-14 16:58] rlewkowicz commented on #8637
I'm missing something. It's trouble some everything just gets immediately esoteric. I'm like patching everything as I go, but I'm missing something

[2019-06-14 16:58] #8637 closed

[2019-06-14 17:24] steeve opened #8638 "Stack overflow in DexBuilder"
### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Given the following:
[code]

`BUILD.bazel.in`
[code]

When building an `android_binary` that uses it, DexBuilder fails with the following stack trace:
[code]

### What operating system are you running Bazel on?

macOS

### What's the output of `bazel info release`?

`release 0.25.3`

[2019-06-14 17:30] aiuto commented on #8631
@katre @hlopko

[2019-06-14 17:52] aehlig commented on #8607
Proposed implementation https://bazel-review.googlesource.com/c/bazel/+/103031 (plus a flip of that flag, once we're in the next window that allows incompatible changes).

[2019-06-14 17:56] laurentlb commented on #8607
Thanks!
Please send an email to bazel-dev@ for feedback about this change.

[2019-06-14 18:07] aiuto commented on #6989
Have you tried this workaround

mkdir $HOME/bazel_output_base
cd <top of workspace>
ln -s $HOME/bazel_output_baze .bazel
add .bazel to .bazelignore

That seems to work for me.
I am not sure if this is a feature request or a bug.  Allowing users to put the output_base back into the workspace is possibly an open-ended set of bugs down the path. I can see people wanting feedback loops from one build

[2019-06-14 18:10] steeve commented on #8638
Here is the content of jar archive, just in case:
[code]

[2019-06-14 18:14] steeve commented on #8638
It seems to be the same problem as https://github.com/bazelbuild/bazel/issues/6299#issuecomment-478474952

[2019-06-14 18:14] steeve commented on #8638
cc @jin as you seem to be always the one responding to Android issues

[2019-06-14 18:21] jscheid-ventana commented on #1147
Hitting this also in 0.25.0.
Note that the bug does not exist when doing the same thing (generated file in data) in an equivalent py_binary.

[2019-06-14 19:03] tfoggoa commented on #6989
Hi @aiuto ,
I don't think this fixes the issue, because the content of build output would then be $HOME/bazel_output_base. We actually want the build output in a directory off the workspace root.
This is due to some historical reasons and using legacy build systems.
Also, we would not want multiple workspaces to share .bazel_output_base.
Thanks,
-Todd

[2019-06-14 19:08] steeve commented on #8638
I tried to run it in proguard first, with the following rules:
[code]

And it still crashes.

[2019-06-14 19:52] katre commented on #8636
Can you create a plain git repository with this example that I can clone and test? I'd like to be verifying as close as possible to what you are using.

The cc toolchain dependency was removed from genrule a few releases ago, and shouldn't still exist, so that's confusing.

I'll investigate this as I can.

[2019-06-14 19:56] katre commented on #8631
Do you have a sample repo I can clone and demonstrate the problem with?

[2019-06-14 19:58] c-parsons opened #8640 "Allow exported name override for rules"
When a rule is defined, the first name of that rule gets special treatment as the forever-name of the rule (for example, under `bazel query`)

For example:

[code]

When querying `foo_library` targets using `bazel query`, the targets will show up as type `_fake_rule_name` because that was their first name.

This is counter-intuitive, and it often becomes problematic in cases when users would like

[2019-06-14 20:46] #8590 closed

[2019-06-14 21:47] c-parsons commented on #7281
Update: The work remaining here is to remove SkylarkSignature from PackageFactory, which is a tricky refactoring. To kill off this SkylarkSignature annotation from Bazel entirely (which would be a great refactoring win), we also need to swap out SkylarkSignature usages in Runtime for another annotation which is no-op except for providing documentation for docgen. (Useful for documenting top-level

[2019-06-14 22:20] steeve commented on #8638
So reading on #6299, it seems it's the jar that's not valid.
I've managed to make it work ultimately by passing it through proguard with the following options:
[code]

[2019-06-14 22:22] steeve commented on #8638
For the poor souls that wander to these lands, here is a handy rule:
[code]

[2019-06-14 22:28] #8638 closed

[2019-06-14 22:33] steeve commented on #6299
For anyone who wants a quick fix, here goes:
[code]

You can then depend on `:good_jar`

[2019-06-14 22:57] alexeagle commented on #7816
@laurentlb the rc5 breaks rules_nodejs. This isn't visible in the BuildKite build because it doesn't build all the tests in nested Workspaces. A failure is visible on Ubuntu in https://circleci.com/gh/bazelbuild/rules_nodejs/20685#tests/containers/2 - this is from a PR where we tried to update the rules_nodejs monorepo to 0.27 rc5

Failure is in compiling `ts_library` rules.
Adding `--strategy=Typ

[2019-06-15 04:54] bofeiw commented on #6327
Also experiencing this issue, I got this error when I debug the C++ program:
[code]

[2019-06-15 16:07] laurentlb commented on #7480
Could you improve the release notes about it?
See https://github.com/bazelbuild/bazel/issues/7816#issuecomment-502304725

[2019-06-16 20:15] anticrisis commented on #6552
Another confused new user here. Just figured I would take `bazel` out for a test spin, and installed it via `scoop` on Windows. Here's a brief transcript of my session so Team Product can see the confusion this warning generates. My favorite part was:

 `Please instead explicitly shut down your Bazel server using the command "bazel shutdown".`

followed by

 `WARNING: Running command "shutdown" in

[2019-06-17 06:09] hlopko commented on #8631
Do you provide your own arm toolchain? Bazel's autoconfigured C++ toolchain at @local_config_cc only works for host compilation (so no cross compiling), and the generated arm toolchain in @local_config_cc is only a placeholder toolchain for android rules, so it cannot build anything anyway.

There are some cross-compilation toolchains for Bazel on the Github, but I'm not sure how well they work. I

[2019-06-17 06:47] hlopko commented on #8631
To double check, this never worked for you right? I want to make sure it's not a Bazel upgrade issue.

[2019-06-17 07:20] Globegitter commented on #3015
Yeah I would be curios to see how unified runfiles would look like - it would certainly make the API much simpler and easy to understand. If for some reason it is not possible to have unified runfiles it would probably help a lot to have clear examples demonstrating the differences, as the descriptions are quite abstract to me.

[2019-06-17 07:23] Globegitter commented on #6908
Yeah I think this will also go a long way with helping to understand the `DefaultInfo` provider better and being able to sett the runfiles correctly.

Also see https://github.com/bazelbuild/bazel/issues/3015

[2019-06-17 08:05] ishikhman commented on #8216
unfortunately, not yet. That would be really great if you could look into it! Removed myself from the assignment ;)

[2019-06-17 08:18] #8111 closed

[2019-06-17 08:25] meteorcloudy commented on #8623
The breakage has been fixed by rollback

[2019-06-17 08:25] #8623 closed

[2019-06-17 08:26] #8372 closed

[2019-06-17 08:28] meteorcloudy opened #8645 "Bazel CI: Downstream jobs are failing on RBE platform"
https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1039
Culprit Finder:
https://buildkite.com/bazel/culprit-finder/builds/167#cb5afd49-aaf5-4716-8af6-7a9506b3a002
Culprit: 332379ad6f8c49b0e087b504d73d3483c529e399

[2019-06-17 08:33] meteorcloudy commented on #8645
FYI This week's Green Team Sheriff @c-parsons

[2019-06-17 08:36] ishikhman commented on #7932
TODO (during implementation): check whether new tags need to be white-listed (see #8612 for details)

[2019-06-17 08:48] ishikhman commented on #7480
hm, it is in release notes (I've checked https://github.com/bazelbuild/bazel-blog/pull/178) and blog post is coming right after 0.27 release (https://github.com/bazelbuild/bazel-blog/pull/173).

The release notes are already rather long, so what I can suggest is to include a link to the blog post. WDYT?

[2019-06-17 09:44] laurentlb commented on #7480
Sounds good to me.

[2019-06-17 09:50] meteorcloudy commented on #8084
This is fixed now

[2019-06-17 09:50] #8084 closed

[2019-06-17 10:00] #8645 closed

[2019-06-17 11:27] buchgr opened #8646 "the dynamic spawn strategy is broken for remote execution"
We have received several bug reports about the dynamic spawn strategy not working properly with remote execution / caching. I took some time to look through the code to better understand the issue. I believe to now understand the heart of the issue.

The dynamic spawn strategy in a single line:
[code]

This line takes the result of the first callable to finish and calls `Future.cancel(mayInterrupt

[2019-06-17 11:28] buchgr commented on #8646
The fix is to call `SpawnExecutionContext.lockOutputfiles()` before starting downloading of outputs.

[2019-06-17 11:36] rongjiecomputer commented on #8627
This is because you did not specify the build target (`//tensorflow/tools/pip_package:build_pip_package`) you want to build, so Bazel exits without doing anything.

Run `bazel build --config=opt --config=cuda --define=no_tensorflow_py_deps=true //tensorflow/tools/pip_package:build_pip_package` instead (copied from the doc you posted).

[2019-06-17 12:16] buchgr opened #8647 "dynamic spawn strategy does not take download time into account"
The dynamic spawn strategy does not take downloading of output files into account when being used with remote execution but will only take cache hit/miss + execution time into account.

We'll need to change the SpawnRunner interface to differentiate between generation of action outputs (execution + download) and moving the outputs into the correct place.

Related https://github.com/bazelbuild/baze

[2019-06-17 13:09] aehlig commented on #8607
https://groups.google.com/forum/#!topic/bazel-dev/sa0mkKXouoQ

[2019-06-17 13:45] laurentlb commented on #7816
Bazel 0.27 is released.
https://github.com/bazelbuild/bazel/releases/tag/0.27.0

Announcement will be published soon.

cc @vbatts @petemounce @excitoon

[2019-06-17 14:13] michisaak opened #8649 "C++ compilation of rule '//tensorflow/core/kernels:reduction_ops' failed"
System information
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Debian 9
TensorFlow installed from (source or binary): https://github.com/tensorflow/tensorflow
TensorFlow version (use command below): 1.10.0
Bazel version (if compiling from source): 0.26.1

Describe the problem
Hi! I am new to Linux and I am trying to bazel build the graph tool for tensorflow with the below command : ba

[2019-06-17 14:19] brandjon commented on #6552
@aiuto for triage (or for finding a triager). Probably simple to hack around by adding a hidden option or something, but maybe there's someone who owns this bit of client/server interaction?

[2019-06-17 14:19] excitoon commented on #7816
Cool! ScoopInstaller/Main@2a62d2949a0e4d32204b64be42ff4068fa0379ba

[2019-06-17 14:23] KOLANICH opened #8650 "Get rid of bundled stuff"
### Description of the problem / feature request:
Bundling dependencies is an extremily bad practice. Instead packages installed into OS should be used.

### Feature requests: what underlying problem are you trying to solve with this feature?

1. The size of Bazel distributions proposed to be downloaded is too large.
2. I don't want to use the bundled java.
3. I don't like binaries unpacking stuff

[2019-06-17 14:36] vbatts commented on #7816
https://copr.fedorainfracloud.org/coprs/vbatts/bazel/build/936671/

[2019-06-17 15:01] vbatts commented on #7816
Is there are hard dependence on python3 now?

[2019-06-17 15:20] laurentlb opened #8651 "incompatible_skip_genfiles_symlink: Remove bazel-genfiles symlink"
Since Bazel 0.25 (and https://github.com/bazelbuild/bazel/issues/6761), both `bazel-genfiles` and `bazel-bin` point to the same location.

When the flag `incompatible_skip_genfiles_symlink` is set, the `bazel-genfiles` symlink is not created. This flag will be introduced in Bazel 0.29 and enabled by default in Bazel 1.0.

This may break external scripts that refer to the `bazel-genfiles` symlink.

[2019-06-17 15:28] vbatts commented on #7816
f[edora 30](https://copr-be.cloud.fedoraproject.org/results/vbatts/bazel/fedora-30-x86_64/00936671-bazel/builder-live.log) and [epel (centos7)](https://copr-be.cloud.fedoraproject.org/results/vbatts/bazel/epel-7-x86_64/00936671-bazel/builder-live.log) failed due to python2.7

[2019-06-17 15:30] brandjon commented on #7816
@vbatts There is no hard dependency, it's just a default that is now correctly being followed. Buried in the log output is an error message about using `--host_force_python` and/or the non-strict Python toolchain. See #7899.

[2019-06-17 15:36] adzenith commented on #8399
I've figured out a workaround using `prelude_bazel`, which I read about [here](https://groups.google.com/forum/#!msg/bazel-discuss/igMsIXf0kUQ/EVRhdRXlCQAJ). This in turn led me eventually to [here](https://github.com/bazelbuild/BUILD_file_generator/blob/master/tools/build_rules/prelude_bazel), where there's a working implementation that I was able to copy.

In the end, `prelude_bazel` lets me ove

[2019-06-17 15:37] henryqinshield commented on #8631
I was able to get this to build over the weekend. We were using our own arm toolchain. This had worked in 0.21.0 but during the upgrade to 0.26, it broke. We had to register create a toolchain from our cc_toolchain and then register it in our WORKSPACE. The documentation was a little bit hard to follow since I didn't see anything in the tutorial about registering a toolchain in the WORKSPACE. But

[2019-06-17 15:37] jin commented on #3732
FWIW, rules_jvm_external has been using @erickj's bazel-json parser in Starlark and we haven't ran into any issues with it since the beginning of the project.

[2019-06-17 16:12] phb commented on #6862
Tested this out on 0.27.0 and some initial feedback
 - Speedups are incredible. I wish we could use this.
 - The fact that runfiles are not available either with minimal or toplevel is unfortunate and I don't really understand how these modes can be useful without them. Can at least bazel error out and let you know that the runfiles are not available  (when using bazel test or bazel run) (versus r

[2019-06-17 16:17] luser commented on #3082
I've been trying out a bazel build at my new workplace (to replace an existing maven build) and I had this exact same thought. I love the reproducibility of bazel's model but the user experience of having to specify everything is pretty rough. Do you know if anyone has made a specific proposal in this vein or is this just an idle thought? It'd be awesome to be able to specify simple tags/branches/

[2019-06-17 16:24] jin commented on #3082
@luser check out github.com/bazelbuild/rules_jvm_external. The lockfile support is being done in https://github.com/bazelbuild/rules_jvm_external/pull/169

[2019-06-17 16:25] jin commented on #3082
I think this is completed by @aehlig's work on WORKSPACE.resolved for the general case?

[2019-06-17 16:47] katre commented on #8636
Thanks for the sample repo, this made it much easier to debug the problem. I encountered three issues when building your sample:

1. The platform `//:plain_platform` is defined to not have any `constraint_values`, which means that it cannot match any of the registered cc toolchains (all of which have at least os and cpu-level constraints).  The toolchain resolution debug output shows this, althoug

[2019-06-17 17:12] mattklein123 opened #8652 "bazel 0.27 appears to no longer run on Trusty/RHEL/CentOS due to glibc compat"
[code]
Is this expected or should Bazel still support these platforms?

[2019-06-17 17:12] mattklein123 commented on #8652
cc @moderation

[2019-06-17 17:18] jin commented on #8652
cc @philwo @fweikert @laurentlb

[2019-06-17 17:19] jin commented on #8652
See https://github.com/bazelbuild/bazel/issues/7816#issuecomment-499504379

[2019-06-17 17:22] mattklein123 commented on #8652
Hmm, yikes. Dropping support for Trusty before EOL seems not great but maybe understandable, but I'm guessing that also dropping support for RHEL/CentOS is going to be very problematic for lots of people. Is there any chance of reconsidering this?

[2019-06-17 17:23] jin commented on #8649
Please open an issue on the Tensorflow GitHub repository instead.

[2019-06-17 17:23] #8649 closed

[2019-06-17 17:28] jin commented on #8590
`@android_test_support` upstream also needs to be updated to support these images. @steeve could you please file an issue there too?

[2019-06-17 17:38] moderation commented on #8652
Error on RHEL 7 is:
[code]

[2019-06-17 17:40] laurentlb commented on #8652
There was a discussion here: https://groups.google.com/d/msg/bazel-dev/_D6XzfNkQQE/8TNKiNmsCAAJ

It looks like the change is breaking more things than intended. I'll wait for Philipp's feedback, but I suspect we'll do a new release to fix this.

[2019-06-17 17:56] mzeren-vmw commented on #8652
FWIW our internal build of bazel links libstdc++ statically to resolve this type of issue.

[2019-06-17 18:00] mattklein123 commented on #8652
+1 it would be awesome if the bazel official builds could do this also.

[2019-06-17 18:03] SrodriguezO commented on #7932
Is the design for this finalized somewhere? We have a huge interest in seeing this done soon, and I'd be happy to open a Pull Request :)

My understanding of the desired behaviors is:
- `no-remote-cache`: prevent remote caching, but allow local caching (I believe this is the current behavior of `no-cache`)
- `no-remote-exec`: prevent remote execution, but allow remote caching
- `no-remote`: combin

[2019-06-17 18:24] pspeter3 opened #8653 "TypeScript Incremental Compilation"
### Description of the problem / feature request:

[TypeScript](https://www.typescriptlang.org/) supports incremental compilation as of [v3.4](https://devblogs.microsoft.com/typescript/announcing-typescript-3-4/). In order to cache this information, it creates a `.tsbuildinfo` for each compilation with a well known path. With Starlark, it does not seem possible to provide this output file as an in

[2019-06-17 18:25] laurentlb commented on #7347
Apart from the difficulty of migration, are there blockers?

I suggested in https://github.com/bazelbuild/bazel/issues/7347#issuecomment-480080111 to have two flags to help with the migration. Would that work?

[2019-06-17 18:38] eytankidron commented on #8636
Just to be clear, I intentionally set up //:plain_platform to *not* support the cc_toolchain by not having clang in its docker image and by not specifying the constraint_values. I also intentionally put it first in the order of platforms to be considered. This was by design, in order to get different targets to use different platforms. I realize that if I give @rbe_default//config:platform a highe

[2019-06-17 19:02] c-parsons commented on #7347
I think so. We also need to update/migrate a large amount of Bazel tests to reflect this change.

[2019-06-17 19:08] philwo commented on #8652
tl;dr I'll fix this and will add official support for CentOS (we'll have to see which versions of CentOS we can do, but 7.x and 8.x sound very likely - does anyone still need CentOS 6.x?).

@mzeren-vmw, could you share your patches (if any) / build command-line for Bazel that you use to statically link libstdc++? Maybe we can just use the same for our official releases.

The change dropped officia

[2019-06-17 19:50] moderation commented on #8652
@philwo I'd be happy to test release candidate builds on RHEL. Where is the best place to track rc releases? They are not published on https://github.com/bazelbuild/bazel/releases and I don't see announcements on https://groups.google.com/forum/#!forum/bazel-dev

[2019-06-17 19:53] davido commented on #7347
FTR, even on Bazel@HEAD (01bb1f97035af58d6750b29ed0c737e27386fb4b) I am still not able to build gerrit with `--incompatible_disallow_struct_provider_syntax` enabled:

[code]

[2019-06-17 19:55] philwo commented on #8652
@moderation Thank you! I'll see that we can upload release candidates as pre-releases to GitHub.

They are currently announced on the bazel-discuss group, e.g. see here: https://groups.google.com/forum/#!topic/bazel-discuss/9BFvKuEsEbg.

Bazelisk also [supports a "last_rc" version](https://github.com/bazelbuild/bazelisk#how-does-bazelisk-know-which-version-to-run) which will automatically use the

[2019-06-17 19:57] mattklein123 commented on #8652
@philwo FWIW, I think the static link fixes would also fix Trusty, at least in the short term, with the understanding it is not fully supported. We would really, really appreciate it if you could do this there also.

[2019-06-17 19:58] gennadiycivil commented on #8652
This is affecting googletest builds as wellSucceeding: bazel (0.26.1)
Failing: bazel (0.27.0)
https://travis-ci.org/google/googletest/builds/546825101
https://travis-ci.org/google/googletest/jobs/546825103

[2019-06-17 20:00] philwo commented on #8652
@mattklein123 I'm happy to do the static linking as soon as someone tells me how. I can also do a quick manual test that the resulting binaries work on Trusty and CentOS. :)

[2019-06-17 20:01] philwo commented on #8652
Travis CI uses Ubuntu 14.04 by default, but also supports Ubuntu 16.04. You (or the googletest owners) will have to update their Travis CI config to use Ubuntu 16.04.

[2019-06-17 20:04] katre commented on #8636
At no point does the genrule require a cc toolchain. The genrule declares a tool dependency, and `//:hello-world-lib` requires a cc toolchain (because it is a `cc_library`).

In your initial example, there is no platform that can build `//:hello-world-lib`:
-  The genrule `//:echo` selected `//:plain_platform` as its execution platform
-  Therefore, `//:plain_platform` is the target platform for `

[2019-06-17 20:05] guibou opened #8655 "Stream the output of repository command"
### Description of the problem / feature request:

A lot of uses cases appears on which users want more control on the output of `repository_ctx.execute`. For now we have two options:

- Use `quiet = False` and let everything be dumped to standard output. That's not convenient because it breaks `bazel query` (#8077) and may also be too verbose for the user. As rule developer, we may also be intere

[2019-06-17 20:06] mattklein123 commented on #8652
Ultimately it comes down to passing `["-static-libstdc++", "-static-libgcc"]` to compilation. I'm not familiar with the bazel build though. Hopefully @mzeren-vmw can provide a diff.

[2019-06-17 20:16] gennadiycivil commented on #8652
Yes I will update relevant VMs to xenial.

[2019-06-17 20:20] mzeren-vmw commented on #8652
Unfortunately, we do this by substituting a wrapper for cc and cxx which jams `-l:libstdc++.a -lm` on the command line. Not an upstream-able thing. :(.

[2019-06-17 20:26] vbatts commented on #8652
i would love for someone on the core team to own the fedora and RHEL builds :smile_cat:
Currently I build them: https://copr.fedorainfracloud.org/coprs/vbatts/bazel/

[2019-06-17 20:28] lizan commented on #8652
@philwo @mattklein123 see the wrapper script in Envoy https://github.com/envoyproxy/envoy/blob/master/bazel/cc_wrapper.py, basically `-static-libstdc++` doesn't work with `gcc -x c++` but `g++` though bazel does invoke former.

[2019-06-17 20:29] #8631 closed

[2019-06-17 20:40] henryqinshield opened #8656 "Linking Issues with GCC in Bazel 0.27"
### Description of the problem / feature request:

We have just upgraded to bazel 0.27. When we go to build, we are seeing a problem with build outputs in that they are not linking properly. We are using GCC to compile and link. We are also using our own custom crosstool as seen in the attached file.

When we set --incompatible_do_not_split_linking_cmdline=false, everything seems to link and run p

[2019-06-17 20:44] philwo commented on #8652
Thank you @mzeren-vmw and @lizan!

@hlopko Could you help me set up static linking of libstdc++ for Bazel’s own build using the current best practices? What’s your recommendation for this?

[2019-06-17 20:59] gmishkin opened #8657 "grpc compile error on RHEL 7: TCP_USER_TIMEOUT"
### Description of the problem / feature request:

Similar to #7890 I am having a problem building Bazel on RHEL 7.1 ppc64le. I looked at the headers on the system and `TCP_USER_TIMEOUT` is not present in `tcp.h` even though the glibc version is 2.17. I downloaded the sources from http://ftp.gnu.org/gnu/glibc/ and it looks like the symbol wasn't defined until 2.18 actually.

I changed that `__GLIB

[2019-06-17 21:07] petemounce commented on #7816
Published to chocolatey.

[2019-06-17 21:12] eytankidron commented on #8636
Why? Can't @rbe_default//config:platform be that platform?

I thought the whole point was that different targets in the same invocation can be handled by different platforms. Is that not the case?

[2019-06-17 22:24] steeve commented on #8590
Absolutely!

[2019-06-17 23:40] SrodriguezO commented on #8216
Silly me.. I just realized this won't actually solve our problem :(

We're exploring a move to RBE and are hoping to utilize its remote cache, but it isn't compatible with local disk caching in the first place :/

[2019-06-18 03:18] alexeagle commented on #8653
Bazel pretty much has this built-in, long before TypeScript added the feature. What are you hoping would behave differently?
That said we think there might be a chance to simplify as an internal refactoring.

[2019-06-18 03:56] pspeter3 commented on #8653
Can you explain how? I know that I can shard compilation and make it incremental by splitting packages. However, at the size of our build graph, using TypeScript's type check cache would be leveraged. The compiler can use the `.tsbuildinfo` files to skip type checking files it has already checked. I view this as similar to the bazel Scala rules which use a worker process to cache information.

[2019-06-18 05:09] hlopko commented on #5821
Friendly ping @ittaiz :)

[2019-06-18 05:11] hlopko commented on #7990
Oh sorry for the confusion it was me who should read the docs. I thought the format has to be `<flag-name>: Description` (note the colon). Sorry again :/

[2019-06-18 05:12] hlopko commented on #8631
Yeah you're right, we don't mention that in the docs. I'll go and fix it.

[2019-06-18 06:45] jin opened #8658 "Use rules_jvm_external to manage Bazel's third_party Java dependencies"
Once https://github.com/bazelbuild/rules_jvm_external/pull/169 is merged, rules_jvm_external will be able to resolve Maven dependencies transitively using `maven_install.json`, a pinned list of transitive artifacts. This file is generated with an initial call to Coursier via rules_jvm_external. Subsequent calls will use `http_file` with sha256 checksums to verify integrity and take advantage of Ba

[2019-06-18 06:50] philwo commented on #8652
It seems like CentOS 7 has a slightly older glibc (2.17 vs. 2.19) and its libstdc++ is only newer by a patch-level bump (4.8.5 vs. 4.8.4) compared to Ubuntu 14.04. If we build our release artifacts on CentOS 7, the resulting binaries might work on all platforms that we intend to support.

Statically linking libstdc++ would increase the binary size by a few megabytes, which we'd like to avoid and a

[2019-06-18 06:52] aehlig commented on #8655
Thank you for your feature request. Unfortunately, with the current execution model, streaming is pretty hard. cc @philwo who is our expert on command execution; in particular, as the way we execute subcommands has to be changed anyway, so that we take care of child processes (#6879).

[2019-06-18 06:54] aehlig commented on #3082
I also think, that [resolved files](https://blog.bazel.build/2018/09/28/first-class-resolved-file.html) solve this problem. The only thing missing is to declare them non-experimental, but they're certainly not going away.

[2019-06-18 07:23] guibou commented on #8655
@aehlig thank you for answering.

I was also thinking about a simpler approach: we can add a `report_progress` attribute to `execute` which, when set to `True`, will copy the output of the command to the `report_progress` during the execution.

I think this can be hacked here:

https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/bazel/repository/skylark/Skyl

[2019-06-18 08:05] ittaiz commented on #6862
@buchgr @dslomov is there any chance this will make 0.28 rc?

[2019-06-18 08:16] scentini commented on #8656
cc/ @oquenchil

[2019-06-18 08:37] hlopko commented on #8652
Re the size increase, its 47_434_606 bytes with statically linked libstdc++, and 45_176_063 with it being linked dynamically.

[2019-06-18 08:56] meisterT commented on #8586
cc @jmmv
see also https://github.com/bazelbuild/bazel/pull/6857

[2019-06-18 10:30] luser commented on #3082
This sounds great, thanks for the pointers! I think with a few tweaks to streamline their usage resolved files will strike a great balance between usability and reproducibility.

[2019-06-18 10:36] vmax opened #8659 "Exception when trying to depend on target with transitive dependency of JAR resource"
### Description of the problem / feature request:

When trying to depend on a repo that declares a `java_binary` which depends on something [in different external repo] via `resources`, `bazel` throws

[code]

### Feature requests: what underlying problem are you trying to solve with this feature?

I'm reusing custom `singlejar` implementation in multiple repos. My custom implementation happens to

[2019-06-18 10:46] buchgr commented on #8216
@SrodriguezO it's just not been implemented yet. It should be a straightforward PR. Would also love your contribution :)

[2019-06-18 11:16] buchgr commented on #7932
@SrodriguezO you are correct. I believe we agreed on the design and it's just a matter of implementation. @ishikhman would be the person to synchronize with about this. She'd also be handling reviews.

[2019-06-18 11:17] hlopko commented on #8652
So, I'm not a big fan of linking against libstdc++ statically. What if we created additional released binaries for old `libstdc++` in addition to our current binaries? I'm hopeful that this will work (didn't try):

[code]

Some background to why there is this libstdc++ incompatibility: https://gcc.gnu.org/onlinedocs/libstdc++/manual/using_dual_abi.html.

[2019-06-18 11:57] aehlig commented on #8607
Once https://bazel-review.googlesource.com/c/bazel/+/103031 is submitted, a flag `--incompatible_disallow_unverified_http_downloads` will be available that, if set, disallows downloads from `http` URLs if no checksum is provided.

Migration: add a checksum or at least one `https` source for fetching the file. Note that if no checksum is given, the `http` URLs will be ignored but it is no error if

[2019-06-18 11:58] aehlig commented on #8607
@laurentlb Do we need a separate design document for that incompatible change, or is the information linked from this issue enough?

[2019-06-18 12:19] hlopko commented on #6989
CC @aehlig / @irengrig

[2019-06-18 13:15] vbatts commented on #7816
i'm still having issues getting this built for fedora and centos

[2019-06-18 14:00] brandjon commented on #7816
@vbatts Can you open a new issue and we'll debug there? Did you pass `--host_force_python=PY2`? Please include the full output (in case there was anything emitted by the failing target aside from that error log line), invocation line, and platform.

[2019-06-18 14:25] katre commented on #8636
it is entirely possible that different targets have different execution platforms. Every configured target has two platforms it is concerned with: the target platform (where the output will execute) and the execution platform (where build actions will execute).

The target `//:hello-world-lib` ends up with a target platform of `//:plain_platform`. There is no cc toolchain, however, that can genera

[2019-06-18 14:32] moderation commented on #8652
@hlopko I just built 0.27.0 from source on RHEL 7 using the command above and it worked! I had 0.26.1 installed on the system prior. The downside is that when using this method to build `bazel version` returns `0` but I did receive a compilation error that said it was Bazel 0.27.0 so I think it is working.

[2019-06-18 14:35] mzeren-vmw commented on #8652
_GLIBCXX_USE_CXX11_ABI=0 is unlikely what you want. The platform libstdc++ supports binaries compiled either way. This macro is more about compatibility with third party libraries. Try the same build w/o it.

[2019-06-18 14:41] vbatts opened #8665 "0.27.0 build failure on fedora: python3 not detected"
Attempting to build the fedora release rpms for v0.27.0 (https://copr.fedorainfracloud.org/coprs/vbatts/bazel) using the spec file at https://github.com/vbatts/copr-build-bazel

### Description of the problem / feature request:

full build log [bazel-f30.log](https://github.com/bazelbuild/bazel/files/3302032/bazel-f30.log)
relevant snip:
[code]

### Bugs: what's the simplest, easiest way to reprod

[2019-06-18 14:42] vbatts commented on #7816
nojdk issue: https://github.com/bazelbuild/bazel/issues/8665

[2019-06-18 14:46] meisterT commented on #8665
From the log:
[code]
@brandjon

[2019-06-18 14:49] vbatts opened #8666 "bazel build failure: error: ambiguating new declaration of 'long int gettid()'"
### Description of the problem / feature request:
https://copr.fedorainfracloud.org/coprs/vbatts/bazel/ || https://github.com/vbatts/copr-build-bazel

This build issue has been happening since around v0.25.1, but since this is on fedora rawhide which is their rolling development head, this could be due to a latest gcc, glibc, etc

full build log [bazel-fedora-rawhide.log](https://github.com/bazelb

[2019-06-18 14:54] crorvick commented on #7057
@buchgr @ulfjack, do you have any further thoughts on this?  This continues to be an infrequent source of confusion, and it's still not clear to me why Bazel should be navigating symbolic links at all.  Thanks!

[2019-06-18 15:06] benjaminp commented on #8666
This is a gRPC issue: grpc/grpc#18950

[2019-06-18 15:09] meteorcloudy commented on #8458
Looks like Bazel already sort the test summary by a certain order:
https://github.com/bazelbuild/bazel/blob/29981f324e123fd1ff1a4aa3ac65beba4c35f725/src/main/java/com/google/devtools/build/lib/runtime/TestSummary.java#L470

I checked with the latest Bazel release, it does work.

I'll try to add another --test_summary choice to skip cached tests.

[2019-06-18 16:36] hlopko commented on #8399
Yeah using `prelude_bazel` is frowned upon :) But we're going to migrate the world to force using `load` statements with C++ rules for Bazel 1.0, so you can just go ahead and fetch https://github.com/bazelbuild/rules_cc repo and use it in your workspace. And since you're loading `cc_test` anyway, you can load your macro instead, and it won't look surprising.

[2019-06-18 16:37] alexeagle opened #8668 "0.27 new bash runfiles init doesn't set RUNFILES_MANIFEST_ONLY"
I tried updating rules_nodejs to the new bash runfiles init boilerplate that was announced in 0.27
https://github.com/bazelbuild/rules_nodejs/pull/873/files
but it fails with
https://circleci.com/gh/bazelbuild/rules_nodejs/21792

[code]

[2019-06-18 16:41] buchgr commented on #8652
that's expected. in order to get the version you'll need to add a few additional flags.

[2019-06-18 16:44] brandjon commented on #8665
So previously you passed `--python3_path`? That flag's deprecated (and I believe a no-op) since before 0.27.

The failure comes from the [stub script's shebang](https://github.com/bazelbuild/bazel/blob/123c68daed17b19927372e4df7f7a2256db6b80e/src/main/java/com/google/devtools/build/lib/bazel/rules/python/python_stub_template.txt#L1), before Python 2 vs Python 3 differences come into play (the stub

[2019-06-18 16:46] lizan commented on #8652
@hlopko You don’t even need that define if you build on CentOS/RHEL7, the toolchain is forcing CXX11ABI off.

[2019-06-18 17:09] buchgr commented on #8658
AFAIK we'll still need to vendor them for two reasons:
1. there is a security requirement that every dependency added needs to be code reviewed by a  Bazel contributor
2. we need to be able to bootstrap without internet

However, I believe what rules_jvm_external should be able to do is generate the vendor directory automatically based on a maven_install.json?

[2019-06-18 17:10] vbatts commented on #8665
It worked up to 0.26.0 to manually point to `/usr/bin/python3`

`python` is not in the build chroot.

This is something in rpm dependency magic of what provides that name (or _string_), which use to be python 2.7, but Fedora is pushing everything to be python 3 now.

[2019-06-18 17:12] buchgr commented on #8658
@ulfjack will know all the details. it's been proposed in the past ...

[2019-06-18 17:13] sergiocampama commented on #7977
Looks like this is incompatible with rule transitions, I get the following error:

[code]

Granted, this is also an issue with implicit outputs, just wanted to bring this into attention in case the solution is different.

[2019-06-18 17:37] jin commented on #8658
Correct. The files would be generated into `$output_base/external`, but we can copy it back into the source tree.

Is the SHA256 checksum of a dependency a sufficient proxy for the dependency itself?

This will be possible using the distdir_tar, like how we currently manage remote_java_tools and remote_android_tools.

[2019-06-18 17:45] buchgr commented on #8658
The last few times we talked about this it was not ...

[2019-06-18 17:45] jayconrod opened #8670 "rules_go coverage tests broken with 0.27.0"
### Description of the problem / feature request:

Several rules_go tests that run `bazel coverage` are failing with Bazel 0.27.0. They pass with 0.26.1, and there haven't been any recent changes to rules_go coverage functionality.

https://buildkite.com/bazel/rules-go-golang/builds/1197#7fba7969-7a88-4201-b0a4-8982d9ebf8d0 is set of test results for an unrelated change. It looks like this is also

[2019-06-18 17:47] jayconrod commented on #8670
cc @iirina who I think is the coverage expert. Any idea what might be wrong?

[2019-06-18 17:53] jin commented on #8658
Fair enough. I have a PR that allows rules_jvm_external to write directly into a source tree and use the new `workspace.managed_directories`: https://github.com/bazelbuild/rules_jvm_external/pull/168

[2019-06-18 18:23] vbatts commented on #8665
@brandjon I just found that if I _also_ install python 2.7, such that there is a `python` in the `PATH`, that this issue is no longer failing. This seems broken. It may be using `python3`, but expecting `python` to just exist?

[2019-06-18 18:40] cgruber opened #8671 "aar_import does not offer a srcjar option"
### Description of the problem / feature request:

aar_import doesn't provide a facility to link a source-jar, which limits IDEs abilities to materialize the sources of imported .aar libraries.

### Feature requests: what underlying problem are you trying to solve with this feature?

Improved IDE integration.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minim

[2019-06-18 18:41] brandjon commented on #8665
I strongly suspect it wasn't doing anything and could've been removed prior to 0.27 without affecting the build.

Nope, it's working as intended. `python` (whether it's Python 2 or Python 3) must be on `PATH` for the execution of any `py_binary` or `py_test` target. This requirement has existed long before 0.27 (it might've been since the beginning of Python support in Bazel).

The `python` comman

[2019-06-18 18:41] brandjon commented on #8665
See also #8446.

[2019-06-18 19:14] brandjon commented on #7805
0.28 it is.

[2019-06-18 19:15] vbatts commented on #8665
sorry, this is not making sense.
You're telling me this is not the case, but I am looking at the fact that only `python3` being there is insufficient, and when I install a `/usr/bin/python` which is 2.7, it does in fact build.
I'm truly not being contrary, but just doing a best-effort to keep a community build of bazel for fedora and rhel/centos community.

[2019-06-18 19:31] brandjon commented on #8665
Sorry for not being clear -- there definitely must be a Python interpreter available on `PATH` that can be  invoked as the command `python`. On some distros `python` is an alias for `python2`, on others it is an alias for `python3`. Bazel doesn't care which it is, either will work fine, so long as a `python` command exists.

From the point of view of the Bazel 0.27 release, the important changes a

[2019-06-18 19:42] cgruber commented on #3732
That's good to hear, @jin - I was looking at it as well. Glad to hear you're having good success with it.

[2019-06-18 20:39] iceb0y opened #8672 "fully_static_link is broken"
### Description of the problem / feature request:

`fully_static_link` is broken.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

WORKSPACE
[code]
BUILD
[code]
a.cc
[code]
Build command and output:
[code]

### What operating system are you running Bazel on?

Linux

### What's the output of `bazel info release`?

`release 0.27.0`

##

[2019-06-18 20:45] benjaminp commented on #8670
I believe this is a consequence of 384e1cbc6a62e415648721f56b641001c0a7ae8b, which broke the https://github.com/bazelbuild/bazel/issues/6293#issuecomment-429905557 workaround. My current hack is `--test_env=LCOV_MERGER=/bin/true`.

[2019-06-18 22:08] steeve commented on #7944
Hello,
What was the rationale behind removing `@import` support from `obc_library`? That seems like a step backward from a user standpoint ?

[2019-06-18 22:12] lizan commented on #8626
@buchgr this is fixed in https://github.com/envoyproxy/envoy/pull/7305

[2019-06-18 22:16] keith commented on #8626
I've submitted a PR to re-enable it on CI here https://github.com/bazelbuild/continuous-integration/pull/729

[2019-06-18 22:22] emidln commented on #8652
Having multiple binaries would be unfortunate for users of tools like `bazelbuild/bazelisk` who happen to be on Centos7. I'm in this camp, and while I've built a forked bazel/bazelisk internally for my company in the past, I'd kinda like to avoid this in the future. Further, detecting the issue from bazelisk seems awkward too, although I suppose it could technically investigate the system libstdc+

[2019-06-18 22:22] cphang99 opened #8673 "RE combined with BES is slow with large output artifacts"
### Description of the problem / feature request:

When BES is used in conjunction with remote-execution, output artifacts tagged `no-remote` and `no-cache` are uploaded to the CAS. When these outputs are large in size, this can result in significant performance penalties.

More concretely, we have seen significant performance penalities when BES is used in conjunction with RE, but *not* when each

[2019-06-18 23:00] emidln commented on #8657
This was fixed by an update to grpc. In the meantime, you can hack grpc like this prior to `bazel build`:

[code]

[2019-06-19 00:30] SrodriguezO commented on #7932
Awesome. I'll create a Draft PR when I get a chance over the next couple days. I'm currently trying to familiarize myself with the code and with how the Bazel project is structured. I'll keep you posted :)

[2019-06-19 07:15] ishikhman commented on #7932
Great, thanks! looking forward to it! ;) If you have any question - feel free to ping me here :)

[2019-06-19 07:58] Globegitter opened #8674 "repository_ctx.path should be able to handle an alias to an exported source file"
### Description of the problem / feature request:

If I try to call `repository_ctx.path` on a label that corresponds to an alias that points to an exported source file I get the error `Not a regular file: ...`. I would expect that to just give me the path of the actual source file.

### Feature requests: what underlying problem are you trying to solve with this feature?

In https://github.com/baz

[2019-06-19 08:08] meisterT commented on #8672
cc @hlopko

[2019-06-19 08:26] lberki commented on #7364
More use cases and more people to whom this would be useful.

[2019-06-19 09:02] depthwise commented on #7636
FWIW, here's how I solved this problem: by putting stuff on S3 and downloading it from there with this here rule: <https://github.com/1e100/cloud_archive/blob/master/cloud_archive.bzl>. Not super principled maybe, but it works.

[2019-06-19 09:58] gregoryEvlash commented on #6584
@Globegitter
I added `export CC=/usr/bin/g++` to my .bashrc and errors disappeared.

[2019-06-19 11:10] annaken opened #8675 "Compiling from source fails because of assumptions about JAVA_VERSION"
### Description of the problem:

I'm building bazel 0.25.2 for Docker image openjdk:8-slim from source, but the compile stage fails like

    env EXTRA_BAZEL_ARGS="--host_javabase=@local_jdk//:jdk" bash ./compile.sh
    ...
    Building Bazel from scratchscripts/bootstrap/compile.sh: line 79:
        [: 8u212-b04: integer expression expected
    ERROR: JDK version (1.8) is lower than 8u212-b04, pl

[2019-06-19 11:24] buchgr commented on #8673
Interesting. Are you suggesting that we should not reference these files at all then in the BEP?

[2019-06-19 11:27] aehlig commented on #7773
Hi @katre,

thanks for the detailed description of how things work at the moment. However, I have a question on your conclusion.

Why is it necessary, to move the pattern expansion out of the skyfunctions? Wouldn't it be an alternative to perform the repository mapping (with the current map based on the currently loaded repository) at the level of target patterns? As far as I can see, pattern expa

[2019-06-19 11:40] KrzysztofKarol opened #8676 "Insufficient system resources exist to complete the requsted service."
### Description of the problem / feature request:
Bazel installed by scoop or downlaoded binary crashes on run.
Prerequisites + curl + versions/python27 installed.

[code]
### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[code]

### What operating system are you running Bazel on?

[code]
[code]
[code]

### What's the output of `bazel

[2019-06-19 12:12] irengrig commented on #8653
Thank you for the issue.

As far as I know, accessing any file by a path is already possible with current implementation of sandboxing. I.e. the tools like typescript compiler can already use those local files provided they access it with absolute paths on your local system.

Also, as Alex replied, Bazel in general already have incremental builds feature, it will only rebuild the targets with the

[2019-06-19 12:39] Globegitter commented on #6584
@gregoryEvlash Thanks, we resolved the issue by switching to the go version of jsonnet.

[2019-06-19 13:15] ishikhman commented on #8673
Hm, can it be because those tags are not properly propagated?
What rules were you using for those tagged targets?

[2019-06-19 13:16] ittaiz commented on #8188
We indeed don't use test sharding so didn't encounter this...

[2019-06-19 13:39] #8545 closed

[2019-06-19 14:04] aehlig commented on #8665
Unless you fix the shebang line, which is a standard step in many packaging frameworks. For the FreeBSD ports, the [`SHEBANG_REGEX`](https://www.freebsd.org/doc/en_US.ISO8859-1/books/porters-handbook/uses-shebangfix.html) `.*(sh|txt|_stub|stub_.*|bazel|get_workspace_status|protobuf_support|_so)` [is used](https://svnweb.freebsd.org/ports/head/devel/bazel/Makefile?revision=502889&view=markup#l30).

[2019-06-19 14:08] katre commented on #7773
Hmm, I think this would work. You're entirely correct that target patterns can't change the repository, only the "local" package and targets selected.

I believe @dannark was working on something similar: she had several changes which added the concept of repo mapping to target pattern evaluation (771cb7a026f2c9034fb016966dfd0e154c48ff2e, which was rolled back in dac2135710e7a8b7752226578a2cdf52e4

[2019-06-19 14:25] pspeter3 commented on #8653
I believe that there would be a performance gain for Bazel.

Currently we use Bazel to produce `*.d.ts` and `*.js` files from `*.ts` files. We only use the `*.d.ts` files from input packages and get caching from Bazel if the `*.d.ts` files do not change. I think this is what you are referring to as incremental compilation? _(I want to make sure I am using the correct terms)_

TypeScript's `--incre

[2019-06-19 14:35] hlopko commented on #8656
You can run your build with `--subcommands` to see full gcc invocations and you can diff the command line before and after the `--incompatible_do_not_split_linking_cmdline` flip. That will help you isolate the problem. Maybe a simple reordering of features in your `crosstool_config.bzl` will be enough afterwards.

[2019-06-19 15:14] #8646 closed

[2019-06-19 15:40] gregestren commented on #8558
@ittaiz can you link the code snippet here?

Are you asking for detailed documentation or just a mention that aspects can also use the interface and a link to https://docs.bazel.build/versions/master/toolchains.html?

[2019-06-19 15:51] buchgr commented on #7816
If there will be a patch release, please cherry-pick 484ffae78ff592fa44c2da9b131c1437800c8283 and  d75b6cf85c211fd284c302941bc5efc1b361b83a

[2019-06-19 15:57] irengrig commented on #8657
If it was fixed by grpc, can I close the issue? Or is it still something with Bazel? Thank you

[2019-06-19 16:03] gmishkin commented on #8657
I assumed he meant it was fixed in grpc upstream; the copy in bazel still uses the glibc 2.17 check instead which I was thinking should be 2.18.

[2019-06-19 16:04] irengrig commented on #8657
Thank you for the clarification.

[2019-06-19 16:12] philwo commented on #8581
@buchgr Friendly ping. This is blocking the „remote builds without bytes“ rollout on CI.

[2019-06-19 16:21] irengrig commented on #8676
/cc @meisterT

[2019-06-19 16:33] meisterT commented on #8676
Can you try with an explicit argument for `-Xmx`, e.g.
`bazel --host_jvm_args=-Xmx4g info`?

[2019-06-19 18:08] LintYourLife commented on #8676
Great idea! I didn't think about it. Unfortunately I will test it on Monday.

[2019-06-19 20:32] vbatts commented on #8665
@aehlig good pointers. I've just tried several permutations of that to no avail.
Something like has gotten closest:
[code]
but still `/usr/bin/env: 'python': No such file or directory`

[2019-06-19 20:52] vbatts commented on #8665
It looks like the hacki'est winner is simply forcing a `python` into the path.
[code]

[2019-06-19 20:56] jin opened #8681 "Expand Build Encyclopedia on docs.bazel.build to a Global Build Encyclopedia encompassing all open sourced Starlark rules"
https://docs.bazel.build/versions/0.27.0/be/overview.html currenty lists native rules, embedded Starlark rules, and a list of popular rulesets.

I believe it'll be a lot more useful to see a global list of rules (not just links to rulesets) across the open source ecosystem in a "Global" BUILD encyclopedia.

Some high level work include:

* Aggregrating / indexing a list of rulesets (e.g. from http

[2019-06-19 20:57] jin commented on #8681
Labeling this under Starlark instead of Product, since this is something that the Bazel Frontend team can own.

[2019-06-19 20:57] jin commented on #8681
cc @laurentlb

[2019-06-19 21:09] jin commented on #4853
Downgrading to P4 as there's a new emulator launcher in the works.

[2019-06-19 21:17] SrodriguezO commented on #7932
I'm noticing that there are two types of cache: one for Spawns (the `SpawnCache`), and another for Actions (the `AbstractRemoteActionCache`).

I'm not familiar with how these two types of cache interface.. The `--disk_cache` and `--remote_cache` options seem to exclusively affect the Action caches, but the current `no-cache` tag seems to exclusively affect the Spawn cache.

Is part of the goal to

[2019-06-19 22:15] steeve commented on #5574
hey @gregestren, is there a reason the whitelist (`@//tools/whitelists/function_transition_whitelist`) is still needed for transition now that the flag is no longer required ?

[2019-06-19 22:38] jin commented on #6907
This flag is scheduled to be flipped on September first, the end of the current stability window.

[2019-06-20 00:04] cphang99 commented on #8673
I think so. We should not reference them with bytesream paths if that results them being uploaded to the CAS.

[2019-06-20 00:08] laurentlb commented on #8681
This is just about listing the rule names (not the full documentation)? What's the benefit?

I'd expect you either need the list of rule sets (to know if there are rules for a specific language), or the full documentation (to use it).

[2019-06-20 00:09] cphang99 commented on #8673
We’re using a custom rule, but we can verify that the `no-remote` and `no-cache` tags are being correctly propagated.

For a particular target that produces 2GB artefacts, with `no-remote` and `no-cache` tags set, a bazel build of that target is 10x slower, but *only* when BES + remote execution is enabled. Interestingly, this is not shown in the elapsed time, but only on using a `time` command.
[

[2019-06-20 00:49] jin commented on #8681
Yes, just like the native rules. It's useful (especially for new Bazel users, or to a casual passerby) to see the entire ecosystem of rules at a glance, aggregated in a single location. In a way, it's about surfacing the encyclopedia with rules in the ecosystem in an automated fashion.

e.g. Adding rules for Scala, Rust, Swift and JavaScript make it look like this:

<img width="707" alt="Screen Sh

[2019-06-20 01:22] cnsgsz commented on #8050
I ran into the same issue. Is there any update on the bug or suggestions for work around? Thanks!

[2019-06-20 08:09] hlopko commented on #6584
This looks like a typical thing that happen after upgrading gcc, can you repro with `gcc` as `CC` after first running `bazel clean --expunge`?

[2019-06-20 09:42] excitoon commented on #4575
I'd like to make little patches to implement this as it blocks me now.

[2019-06-20 10:39] annakhaimovich-babylon opened #8682 "Error during the bazel build"
Hi, I tried with bazel version 0.27.0 and 0.26.1
This is an error which I have.
ERROR: /private/var/tmp/_bazel_anna/4a5a8dc24223cbce1398873ead9ee5e3/external/org_tensorflow/third_party/gpus/cuda_configure.bzl:115:1: load() statements must be called before any other statement. First non-load() statement appears at /private/var/tmp/_bazel_anna/4a5a8dc24223cbce1398873ead9ee5e3/external/org_tensorflow

[2019-06-20 13:24] vbatts commented on #8665
I've worked around this issue for now, but requiring `python` just to be in the path, when `python3` is detected does not seem like working as intended.

[2019-06-20 13:26] vbatts commented on #7816
fedora, centos7 and rhel8 rpms pushed.
https://copr.fedorainfracloud.org/coprs/vbatts/bazel/build/941771/

[2019-06-20 13:54] jin commented on #8682
Have you tried passing the flag `--incompatible_bzl_disallow_load_after_statement=false`?

Please open issues about TF builds on the [Tensorflow repository](https://github.com/tensorflow/tensorflow/issues). Thanks!

[2019-06-20 13:54] #8682 closed

[2019-06-20 14:29] excitoon commented on #4575
It seems like it is pretty easy  :)
@buchgr

[2019-06-20 14:38] c-parsons commented on #8626
Since this test was re-enabled, it hasn't had a green run with Bazel@HEAD

The errors continue to look like python issues.

[code]

and

[code]

[2019-06-20 14:41] jgavris commented on #4575
@excitoon That might help for some cache backends, but for people on say, Google Cloud Storage as their cache backend, it does not do [compressive transcoding](https://cloud.google.com/storage/docs/transcoding) (this would be *very* expensive with respect to CPU time). What Jakob and I were discussing offline was a scheme to store compressed blobs in GCS, and then detect and decompress them in the

[2019-06-20 14:41] brandjon opened #8685 "Allow customizing Python stub script's shebang in the Python toolchain"
Currently the stub script requires (via its shebang) that the target system have a `python` command available on `PATH`. If the target is PY3, the user might reasonable expect that it work if `python` is not available but `python3` is. We can modify the shebang in this case to be `#!/usr/bin/env python3`. However doing so might break if the system has a (Python 3) `python` command but not a `pytho

[2019-06-20 14:42] brandjon commented on #8665
Since this problem was worked around I'll close this issue. I filed #8685 to track not requiring a `python` command for PY3 targets. The general feature of not being so dependent on the target system's Python interpreter for the stub script is tracked in #8446.

[2019-06-20 14:42] #8665 closed

[2019-06-20 14:47] brandjon commented on #8665
@aehlig, it looks like you patched the wrapper script that invokes Python on the payload code in order to locate a Python 3 interpreter for the payload. That shouldn't be necessary -- you can define a Python toolchain that knows the exact path to the Python 2 and Python 3 interpreters, and use that in place of the autodetecting toolchain (so the wrapper script isn't called at all).

The issue with

[2019-06-20 14:49] brandjon commented on #8685
More generally, we can support customizing the shebang as part of the Python toolchain. I'm not clear on how useful this feature would be in the short to medium term. Long term we'd like to eliminate the Python stub altogether and replace it with a C++ one.

[2019-06-20 14:58] brandjon commented on #8626
That "client" target you updated with `python_version = "PY2"` appears to still be using Python 3. That probably means it's being used in the host config and you need to add `--host_force_python=PY2` to the top-level bazelrc (for the "build" command).

[2019-06-20 15:09] keith commented on #8626
I'm trying to use that flag, but based on @lizan's PR that only set a few of our py_binary targets to PY2, so I'm not sure it will work still. https://github.com/envoyproxy/envoy/pull/7337

Is there any way we can trigger that bazel job against this PR if it does end up being green on normal envoy CI?

[2019-06-20 15:12] c-parsons commented on #8626
I'm not sure (hoping @buchgr or @meteorcloudy can chime in), but you could manually build a bazel@HEAD and try to replicate the build locally? That would at least give us a good guess on whether things are fixed

[2019-06-20 15:13] jin commented on #8185
Taking a stab at this now. Having the unversioned navigation sidebar makes this more tricky; I think that needs to be complete first. If not, the sidebar's Starlark link will 404.

[2019-06-20 15:14] JoshSullivan11 opened #8686 "run multiple binaries at once based on tags"
### Description of the problem / feature request:

### Feature requests: what underlying problem are you trying to solve with this feature?

### What operating system are you running Bazel on?

### What's the output of `bazel info release`?

### What's the output of `git remote get-url origin ; git rev-parse master ; git rev-parse HEAD` ?

073ae3230e73ccb77a7805382fea73540f190cb1
a62544247d0d49ebd

[2019-06-20 16:32] #7805 closed

[2019-06-20 17:24] vbatts commented on #8382
I've made it further (past the OOM failures) in the `aarch64` build for centos/fedora.
Now I'm finding that the build is still trying to use a bundled JDK, despite flags to use the host jdk:
[code]
full build log: [bazel-fedora-aarch64.log](https://github.com/bazelbuild/bazel/files/3311459/bazel-fedora-aarch64.log)

[2019-06-20 17:37] nlopezgi opened #8687 "Updating a 0.23.0 compatible cc_toolchain_config.bzl for 0.27.0 (or supporting custom tool for link actions out-of-the box)"
### Description of the problem / feature request:

I have a C/C++ toolchain configuration that works with Bazel 0.23.0 - 0.26.0 but fails with 0.27.0. I'm trying to create an equivalent toolchain config for 0.27.0.

This is the working 0.23.0 config:
https://github.com/bazelbuild/bazel-toolchains/tree/master/configs/experimental/ubuntu16_04_clang/1.2/bazel_0.23.0/ubsan

This is my (work in progres

[2019-06-20 17:42] gregestren commented on #5574
Hi @steeve  - those are somewhat orthogonal.

Non-experimental means the API is stable and functional, and basically usable for production code. But the [performance](https://github.com/bazelbuild/bazel/issues/6524) [challenges](https://github.com/bazelbuild/bazel/issues/6526) remain real. "Unskilled" use of transitions could blow up build graphs and make builds way more sluggish than expected.

W

[2019-06-20 17:43] gregestren commented on #5574
Regarding:

Starting documentation available at https://docs.bazel.build/versions/master/skylark/config.html.

[2019-06-20 17:47] brandjon opened #8688 "Cleanup legacy code paths for old PY2 default"
Since #6647 has been closed as of 0.25, we should remove the flags `--incompatible_py3_is_default` and `--incompatible_py2_outputs_are_suffixed`.

Blocked on #7903, and the fact that these flags are still in use internally to Google.

[2019-06-20 18:47] excitoon commented on #4575
Yep, I know about buchgr/bazel-remote#12 , this is just a client-side thing. Anyway, it is at least a progress on this task!

[2019-06-20 20:19] keith commented on #8626
Well my PR was merged upstream so we can wait for the next run and see if that fixed this case.

[2019-06-20 21:54] SrodriguezO opened #8690 "Allow for multi-level caching with the gRPC cache and the local disk cache"
### Description of the feature request:

Feature Request: Allow for multi-level caching with the gRPC cache and the local disk cache

### What underlying problem are you trying to solve with this feature?

A local cache can make builds much faster for developers, especially if they frequently change branches. However, there is no local cache option available for projects using remote build executi

[2019-06-20 21:58] SrodriguezO commented on #8216
@buchgr I dug around a bit and it seems a bit involved. I opened a draft PR to test things out as well as a feature request to formalize the process and to get some input. I'd love your feedback. https://github.com/bazelbuild/bazel/issues/8690

[2019-06-20 23:45] cnsgsz opened #8691 "Build with devtoolset on centos7 for c++14"
I was on an earlier version of bazel (0.8 I think) and compilation of my project works fine with:
export CC=/opt/rh/devtoolset-4/root/bin/gcc
build --cxxopt "-std=c++14"

I updated it to 0.27 but got the following errors, which seems to me linker is not picking up c++14 libraries?

[2019-06-20 23:56] cnsgsz commented on #8691
It seems that I need to use "export CC=/opt/rh/devtoolset-4/root/bin/g++" instead, which is reasonable. Closing the bug.

[2019-06-20 23:56] #8691 closed

[2019-06-21 04:37] yongtang commented on #8652
I think this might have an impact on TensorFlow as TF 1.14 is still built on Ubuntu 14.04.  /cc @gunan @perfinion @angersson @martinwicke I remember the discussion about TF with manylinux2014 is to move to CentOS 7.0? Wondering if the timeline of 2.0 fit in this scenario.

[2019-06-21 05:33] jackwish commented on #4255
FYI: alternatively, you guys may try this https://github.com/jackwish/bazel which is to make the process easier.

[2019-06-21 05:33] keith commented on #4255
on macOS the zsh completions are installed automatically if you install via homebrew

[2019-06-21 06:52] Globegitter commented on #8674
What makes this even less ideal is that if we want to make it configurable by the user, so they could set themselves what node to run in the repository rules there is no nice way to let them set that with just one label.

[2019-06-21 06:56] Globegitter commented on #1485
@katre I am running into an issue where I would like the users to be able to customize what nodejs to use to run in the repository rules (to run the package manager etc). They might also want to provide a path to a nodejs on their system but without a select for WORKSPACEs there is no nice way to let them pick different paths for different platforms (e.g. node.exe for windows). I could use a dict

[2019-06-21 08:58] hlopko opened #8693 "Bazel crashes with "Not-yet-present artifact owner""
Repro:

With `ANDROID_HOME` and `ANDROIDNDK_HOME` properly setup do:

[code]

The value of the option is not important, it can also be omitted. The build succeeds.

Now change the value of the option:

[code]

And Bazel crashes:

[code]

[2019-06-21 08:59] hlopko commented on #8693
CC the attack team: @meteorcloudy @aehlig @buchgr @philwo @jmmv @meisterT :)

[2019-06-21 09:07] aehlig commented on #8665
That script is also embedded into bazel, so it has to work also in the installed bazel, not just when boostrapping bazel. And here, Python 3 is special in that I know the path of a good Python 3 interpreter&mdash;the one that is a `RUN_DEPENDS` of `bazel`. So I can improve the "auto-detection" of a working Python 3 interpreter to work even if no `python3` is on `PATH` (which will be the typical si

[2019-06-21 09:18] meisterT commented on #8693
Also fails for 0.26.1 and 0.25.3, so downgrading to P2.

[2019-06-21 09:19] meteorcloudy commented on #8626
We have no way to trigger a CI build with Bazel@HEAD for a PR from envoy. But it's easy to get a Bazel binary built from HEAD.
[code]

[2019-06-21 10:35] hlopko commented on #8693
Also with 0.23.1 and 0.20.0..

[2019-06-21 11:01] philwo commented on #8693
Pretty mysterious (does that flag work in other circumstances? Or did it just never work?), but at least it doesn't open a print dialog, so we have that going for us...

[2019-06-21 11:29] steeve commented on #5574
That is a very nice and detailed explanation, thank you!

[2019-06-21 13:10] brianwa84 commented on #8652
@csuter this is the tracker for the TFP 0.27 issue

[2019-06-21 14:09] katre commented on #1485
@Globegitter: The solution that you want is to define a toolchain type for nodejs, and then allow users to define different toolchains for Windows, linux, Mac, etc. Bazel will then use the platforms and toolchain information to choose the correct toolchain implementation and get the correct paths for the system where execution is happening. This will also allow Bazel to select the correct toolchai

[2019-06-21 15:43] vbatts commented on #8666
I'm carrying your patch for now, @benjaminp, so that I can build on fedora rawhide

[2019-06-21 16:26] SrodriguezO commented on #7932
@ishikhman friendly ping ^ :)

[2019-06-21 16:29] hlopko commented on #8030
Hi Robin, could you pls check that https://github.com/bazelbuild/bazel/pull/8683 fixes your problem?

[2019-06-21 16:51] gunan commented on #8652
For 1.14, we already set the max bazel version to 0.25.2:
https://github.com/tensorflow/tensorflow/blob/r1.14/configure.py#L1386

Even on master, 0.26.1 is the max version:
https://github.com/tensorflow/tensorflow/blob/master/configure.py#L53

So as far as I am concerned, this is a bazel 0.27 upgrade blocker, rather than a bug in TF build system.

[2019-06-21 16:52] hlopko commented on #3595
Hmm it's quite depressing, but nope, no progress on this since 2017.

[2019-06-21 16:52] hlopko commented on #8583
CC @jayconrod who wanted this too :)

[2019-06-21 17:20] vbatts commented on #8652
have you tried my centos build? https://copr.fedorainfracloud.org/coprs/vbatts/bazel/
I have 0.27 there now.

[2019-06-21 17:22] s-jeckel-mxn opened #8694 "copts containing quotes and remote execution"
### Description of the problem:

I have a cc_library containing quotes in its copts to define a string. When executed locally, the string is passed on correctly. When executed remotely, the quotes are removed and the build fails.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

main.cpp
[code]
[code]
Locally, MY_DEFINE is substituted

[2019-06-21 17:38] yongtang commented on #8652
@vbatts I tried with CentOS 7 + your bazel build and it works correctly. Thanks! 👍

[2019-06-21 17:48] bmuschko opened #8695 "The actions run and run_shell should provide a way to capture standard output/error"
### Description of the problem / feature request:

The actions run and run_shell should provide a way to capture standard output/error. Right now there's no way to further process the output.

### Feature requests: what underlying problem are you trying to solve with this feature?

Sometimes you want to do something with the output. For example a tool might indicate its version by running `<tool-n

[2019-06-21 17:57] vbatts commented on #8652
@yongtang good to hear

[2019-06-21 17:58] vbatts commented on #8666
success: https://copr.fedorainfracloud.org/coprs/vbatts/bazel/build/943012/

[2019-06-21 19:43] jayconrod commented on #8670
Gentle ping

[2019-06-21 20:08] laurentlb commented on #8670
P1, because it's a regression in Bazel 0.27 (also it breaks tests in rules_go).

[2019-06-21 22:32] benjaminp commented on #8693
Bazel's `android_local_test` rule is very naughty and caches artifacts globally.
[code]

[2019-06-22 00:01] wchargin opened #8697 "ctx.actions.run#tools param doesn't include all expected runfiles"
### Description of the problem / feature request:

A `ctx.actions.run` action with declared `tools` runs without some of
the dependencies of those tools. Declaring the dependencies explicitly
(as additional `tools`) changes the behavior of the build.

### Feature requests: what underlying problem are you trying to solve with this feature?

N/A

### Bugs: what's the simplest, easiest way to reprodu

[2019-06-22 00:24] abhishek-carbon3d opened #8698 "bazel0.26.0: genrule outputs files in both gendir and bindir irrespective of the value of output_to_bindir"
### Description of the problem / feature request:

genrule outputs files in both gendir and bindir irrespective of the value of output_to_bindir

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

genrule(
   name = "test",
   srcs = [
   ],
   output_to_bindir = False,
   outs = ["test.txt"],
   cmd = "echo hello > $@",
)

test.txt is

[2019-06-22 02:16] jin commented on #8693
Nice catch @benjaminp! Would you like to submit a PR for that?

cc @ahumesky

[2019-06-22 07:06] jin commented on #8586
Here are some more stats on a 2018 2-core i7 Macbook Pro, using this benchmark project: https://github.com/jin/simple_tree

![graph](https://user-images.githubusercontent.com/347918/59960608-8ba07780-9498-11e9-89dd-35ad03975307.png)

I extended `--persistent_android_resource_processor` to also include Javac, Desugar and DexBuilder actions, and renamed it to `--android_persistent_workers`. In the s

[2019-06-22 17:09] benjaminp commented on #8698
#6761

[2019-06-22 17:25] Quarz0 opened #8702 "starlark cyclic structures cause a stack overflow"
### Description of the problem:

In the Go implementation, cyclic structures are supported, and in the Rust implementation, cyclic structures are detected and handled by throwing an error message "Unsupported recursive data structure" without crashing.

### What's the simplest, easiest way to reproduce this bug?

[code]

### What's the output of `bazel info release`?

### Any other information, lo

[2019-06-22 19:24] oskrpko opened #8703 "git_repository dependency branch not followed"
### Description of the problem / feature request:
#### git-repository dependency on a branch is not properly followed. Example:
* Project `bz-main-project` depends on `bz-commons-values`. Both are git repositories and the branch in the git_repository dependency is set to `master`
* On initial build of `bz-main-project`, the build properly clone `bz-commons-values project` and uses the values from

[2019-06-23 08:26] buchgr commented on #6862
@phb can you share a reproducer please? Runfiles should be available...

[2019-06-23 08:26] buchgr commented on #6862
@ittaiz BES support has been merged in master and will be in 0.28.

[2019-06-23 10:24] philwo commented on #8458
This does not seem to reliable work with Bazel 0.27.0. The results are only "mostly" sorted - there's a long list of PASSED tests, then a mix of FAILED and PASSED tests at the bottom.

It's interesting that all of the tests that are in the mixed list seem to be sharded tests, as they all have a line like: "Stats over 3 runs: max = 0.4s, min = 0.3s, avg = 0.3s, dev = 0.1s".

Example:
![Screenshot f

[2019-06-23 13:06] ittaiz commented on #6862
OMG! I'm literally dancing right now. Thanks! Any chance this is something I can pick a commit or two into 27 to try it out?

[2019-06-23 15:26] buchgr commented on #6862
@ittaiz https://github.com/buchgr/bazel/commits/0.27.0-with-bes ... I believe this should work.

[2019-06-23 16:38] endobson commented on #4008
I believe I'm running into this in relation to #7899 on macOS. The default path that bazel uses does not find my installation of python3 (macports, `/opt/local/bin`), and I cannot use action_env to make it find it for the actions that run without `use_default_shell_env` which I cannot fix as they are in dependencies.

I currently have a 'workaround' with `--extra_toolchains=@bazel_tools//tools/pyt

[2019-06-23 19:49] irengrig commented on #8695
Thank you for the feedback.
Redirection of the stdout/stderr will help with run_shell().
However, it is indeed a missing feature for run().

[2019-06-23 19:56] irengrig commented on #8697
@c-parsons do you mind assigning it to you?

[2019-06-23 22:27] marcohu commented on #5092
FYI, the final solution was amazingly simple. You just have to return a CcInfo provider with the compilation context!

In the BUILD file you have to provide the generating rule as a dependency as well as input:

[code]

[2019-06-23 22:40] phb commented on #6862
@buchgr That's great to know. I'll dig into it and see what's happening.

[2019-06-24 05:13] benjaminp commented on #8693
Someone with access to `BlazeAndroidLocalTest.java` (or whatever that's called) will probably have an easier time doing a proper fix. I imagine `getJvmFlags` will have to take an additional parameter in order for the rule analysis logic to avoid computing the `roboelectric-deps.properties` artifact twice.

[2019-06-24 05:22] hlopko commented on #8371
Well, you can convince your peers and your CI to also use colors :) Or setup one CI pipeline that will populate caches for you.

In general you cannot tell bazel that this option is safe. It's also not so given that adding color is safe, what if my rule saved the compiler output in a file and used the file later in the build for smth?

I'll close this issue now since there's no action item at this

[2019-06-24 05:22] #8371 closed

[2019-06-24 06:40] hlopko commented on #6989
@irengrig is this something that your managed directories can solve?

[2019-06-24 07:39] laszlocsomor commented on #5254
True, it's "java.exe" in Task Manager.

@philwo : WDYT of renaming the embedded JDK's java.exe to bazel-server.exe or something?

[2019-06-24 08:14] laszlocsomor opened #8704 "Windows: enable symlink support by default"
Windows 10 version 1703 (Creators Update) brought unprivileged symlink support to Windows. (After enabling Developer Mode.)

It might be time to enable symlink support in Bazel on Windows by default.
Bazel could possibly also detect if symlinks are supported (i.e. try to create one) and fall back to no support if that failed.

Version: 0.26.0

[2019-06-24 08:57] laszlocsomor opened #8705 "Windows: bug with glob + exclude"
### Description of the problem / feature request:

`glob.exclude` is buggy on Windows when the glob matching pattern uses path casing (e.g. "foo") different from the exclusion pattern (e.g. "Foo").

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

https://github.com/laszlocsomor/projects/tree/7e9b9c565248d77c5baca9ed80a9cf3dc8bcf146/b

[2019-06-24 09:06] scentini opened #8706 "incompatible_disable_nocopts: Disallow 'nocopts' attribute from cc_* rules"
**Flag:** `--incompatible_disable_nocopts`
**Available since:** 0.28
**Will be flipped:** 1.0

The `nocopts` attribute in cc_* rules is used to specify a pattern for filtering out flags from C++ compilation command line.
We are deprecating it because:

- it prevents migration of C++ rules to Starlark: we don’t have regex in Starlark currently
- we don’t need to do it - we can disable features to h

[2019-06-24 09:24] ishikhman commented on #7932
It actually affect both :)
Think of the `SpawnCache` as of a kind of wrapper around the `AbstractRemoteActionCache`, which allows an execution module to interact with a remote cache without exposing what kind of cache it is.
This is why only the `SpawnCache` is aware of those tags.

`SpawnCache` might be using `GrpcRemoteCache` inside, as well as `SimpleBlobStoreActionCache` which can use Http(`--

[2019-06-24 09:45] r4nt commented on #8652
If I remember correctly, last time this happened I saw libc symbol problems, too, in which case statically linking libstdc++ won't help.

The simplest solution for now would probably be to use the manylinux2010 devtoolset gcc to compile bazel.

https://github.com/pypa/manylinux
image is at quay.io/pypa/manylinux2010_x86_64
@philwo - let me know if you need more info, feel free to drop by my desk

[2019-06-24 09:57] ishikhman commented on #8690
Thanks a lot for looking into this!

We had a discussion with @buchgr recently about doing this and it seems to be a logical step to make gRPC cache treated as one of the `SimpleBlobStores`. There is no good reason why gRPC and Http cache implemented in different ways - it just happened historically, so I do not expect any serious implications here. This will also make code cleaner :)

So I'd sugg

[2019-06-24 11:16] laszlocsomor commented on #8668
Thanks for reporting!

The old init code also didn't set the envvar. The culprit is the `set -u` in the new init code [1] that you copied over. The old init code also sets this [2] but `./internal/node/node_launcher.sh` and the other files omitted that line from the boilerplate.

You can fix the problem in `./internal/node/node_launcher.sh` -- change `$RUNFILES_MANIFEST_ONLY` to `${RUNFILES_MANIFE

[2019-06-24 11:16] #8668 closed

[2019-06-24 11:23] laszlocsomor commented on #8589
Thanks for reporting.

What other versions do you have installed, i.e. what other subdirectories are there under `C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\VC`? Do you have any other versions than 2019 Community installed, e.g. `2019\BuildTools` or `C:\Program Files (x86)\Microsoft Visual Studio\2017`?

[2019-06-24 11:46] laurentlb commented on #8698
This is working as intended: we're removing the distinction between `bazel-bin` and `bazel-genfiles`. Is it breaking your code in any way? Can you avoid using `output_to_bindir`?

We plan to remove the `genfiles` directory: https://github.com/bazelbuild/bazel/issues/8651

[2019-06-24 12:11] iirina commented on #7943
What error are you getting with `bazel build tensorflow_serving/... --host_javabase=@local_jdk//:jdk`?

[2019-06-24 12:16] KrzysztofKarol commented on #8676
Unfortunately
[code]

[code]

I tried also setting the initial memory allocation pool without luck

[code]

[2019-06-24 12:40] iirina commented on #8324
@engineerCYB thanks for the report!

The baseline coverage format is:

[code]

which is a valid lcov format. The error you're getting is because genthml doesn't find any coverage data so it can't create a report. The baseline coverage report is an intermediate artifact and its purpose is to make sure all the files are included in the final coverage report. I assume it doesn't include all the `DA:`

[2019-06-24 12:40] #8324 closed

[2019-06-24 12:41] iirina commented on #8326
Closing as duplicate of #4033.

[2019-06-24 12:41] #8326 closed

[2019-06-24 12:46] meteorcloudy opened #8707 "Windows: cc_binary has multiple output artifacts when depending on DLLs"
[code]
In a normal case, building `//foo.dll` will only generate one output artifact `foo.dll` in the default output group.

When the cc_binary depends on an dll, for example:
[code]
In this case, Bazel uses `bar.lib` at `foo.dll`'s linking time and copies `bar.dll` to the directory of `foo.dll` in order to make it available at runtime. But, Bazel also adds `bar.dll` to the default output group of

[2019-06-24 12:48] meteorcloudy commented on #8707
@baskus @brills

[2019-06-24 12:50] philwo commented on #5254
Quite a hack, but yeah, why not 😅 It would get confusing if we ever used the embedded JDK to run something other than the Bazel server, but I don't think that should happen anymore (@meisterT maybe knows?).

[2019-06-24 13:14] dslomov commented on #5254
I like this. "Java? Who is Java? I am Bazel Server!"

[2019-06-24 13:23] dslomov commented on #8619
Please file this in https://github.com/bazelbuild/rules_docker

[2019-06-24 13:23] #8619 closed

[2019-06-24 13:24] meisterT commented on #5254
We should not run anything else than Bazel itself on the embedded JDK anymore, so feel free to rename.

[2019-06-24 13:25] dslomov commented on #8607
Please set a priority for this feature request.

[2019-06-24 13:40] laszlocsomor commented on #5254
Thanks for the feedback!
Let's rename then. (And not symlink, because that's still not supported widely enough on Windows.)

[2019-06-24 13:49] laszlocsomor commented on #8497
Stellar bug report with the test cases and their descriptions -- thank you!

[2019-06-24 13:56] iirina commented on #8670
Sorry for the trouble, I came back from vacation today. 384e1cb renamed the attribute from `$lcov_merger` to `:lcov_merger`, which is a breaking change. For the time being I'll change the test runner to check both attribute names and then introduce an incompatible flag to remove the former.

[2019-06-24 14:03] philwo opened #8708 "Coverage tests fail on CentOS 7"
I have managed to get Bazel to build and pass its own test suite completely on CentOS 7, except for three coverage tests. From the logs, I don't know how to fix them or what's actually wrong - maybe it's just a missing dependency that I can install in the Docker container, but I don't know.

@iirina Could you have a look and let me know your thoughts?

//src/test/shell/bazel:bazel_cc_code_coverage

[2019-06-24 14:35] iirina commented on #8708
Somewhere in the log very well hidden: ` gcov_location: unbound variable`, which makes me think that gcov is not installed.

[2019-06-24 14:49] philwo commented on #8708
Mhm... I installed the `lcov` package, which provides a `/usr/bin/gcov` file:

[code]

[2019-06-24 14:53] iirina commented on #8708
Ok then, let me take another look.

[2019-06-24 15:37] benjaminp commented on #8702
This is the same as #2581.

[2019-06-24 15:39] cblichmann commented on #8672
@hlopko We're also having this problem. We need fully static binaries because of sandbox policies.
Bazel seems to use the C-compiler to link. If I run `g++ @bazel-out/k8-fastbuild/bin/a-2.params`, I get the expected, fully-static binary.

[2019-06-24 15:54] cblichmann commented on #8672
One way to link this with the C compiler is to link libstdc++ with the `-Wl,--whole-archive` option. This leaks the underlying compiler, though, as for Clang, this would be different.

[2019-06-24 16:29] keith commented on #6862
https://github.com/bazelbuild/bazel/issues/8508 is a blocker for this feature to us, is there any chance that could be prioritized?

[2019-06-24 17:07] hlopko commented on #8693
I'll give it a shot. Thanks Benjamin!

[2019-06-24 17:16] timokau commented on #5915
Is there a way for distro maintainers to override a `tool_path` without having to patch the source? Something like setting an environment variable `BAZEL_AR_PATH=/some/path/to/ar`.

[2019-06-24 17:59] SrodriguezO commented on #8690
Sweet. I'll start looking into it and post here if we run into any issues.

[2019-06-24 18:33] abhishek-carbon3d commented on #8698
It was breaking some home grown rules for nodejs/ts (hoping to switch over to the rapidly evolving official nodejs toolchain soon :).

We have fixed our rules, but I thought I would report this in case it was not intentional. Closing.

[2019-06-24 18:33] #8698 closed

[2019-06-24 18:55] jayconrod commented on #8670
@iirina Thanks for fixing this! This means `_lcov_merger` can still be used from Starlark rules, right? I think that's equivalent to `$lcov_merger` for Starlark rules. `go_test` currently defines `_lcov_merger` as a workaround for #6293.

Speaking of #6293, could you comment on what rules_go + Bazel + CI should do here? I understand that Bazel needs a tool to merge lcov files from multiple tests w

[2019-06-24 19:21] hlopko commented on #7347
AFAIK this flag is not in the migration windows, so we shouldn't migrate for it just yet right?

I'll also mention that protobuf and grpc both use the struct proto provider with no alternative to migrate to (constructor of ProtoInfo is not exposed in Starlark).

[2019-06-24 19:26] philwo commented on #8652
I got Bazel to build and pass its entire test suite on CentOS 7.

I’ll verify that the binaries work on all platforms that we supported before and then change our CI to build release binaries on CentOS 7 tomorrow.

@r4nt Thanks, I’ll have a look at that!

[2019-06-24 19:36] scentini commented on #8687
The key difference between the two toolchain configs you provided is the existence of the `no_legacy_features` feature in the first one:

Unless `no_legacy_features` feature is specified, Bazel [adds/moves around some features](https://docs.bazel.build/versions/master/cc-toolchain-config-reference.html#legacy-features-patching-logic). Part of this toolchain config manipulation is defining all the

[2019-06-24 19:36] #8687 closed

[2019-06-24 19:59] justincely commented on #4248
changing $TEST_TMPDIR seems to have other implications than _just_ changing the output directory.    setting $HOME did work for me though.

[2019-06-24 20:54] cgruber commented on #2581
Isn't a stack-overflow the quintessential evidence of a cycle in your data? I think for things like Join you might have very different behavior than a walk of an str() call, and adding the state management needed to detect cycles might not be worth the payoff here.  Doing this right probably would mean going and finding all recursive algorithms and deciding how to handle a cycle, add a reference s

[2019-06-24 21:16] SrodriguezO commented on #8690
Ah okay. @borkaehw will begin looking into it this week. We'll address questions to you, @ishikhman, if that's alright with you :)

[2019-06-24 22:01] cgruber commented on #8577
I want to put some weight on this one - based on our profiles, we're doing immense amounts of resource merging, and we've turned it off in Gradle, which is making clean builds of gradle 1/4 or less of the time of a bazel clean build. While that's not the normal case we imagine (low incrementality) it occurs in a variety of situations, and it's probably a quality-of-life blocker to our bazel adopti

[2019-06-24 23:05] cphang99 commented on #8673
One suggestion:

We have observed that enabling `—experimental_remote_download_outputs` i.e. builds without the bytes makes the issue go away in 0.25.3. We have tracked this down to here

https://github.com/bazelbuild/bazel/blob/0.25.3/src/main/java/com/google/devtools/build/lib/remote/RemoteModule.java#L250-L267.

We understand that from bazel 0.28, BES will be supported with builds without the b

[2019-06-24 23:16] monamimani commented on #8589
I only have one version of community 2019 but it has 2 versions of the compiler. 14.61 and 14.21.
After all this I instralled the build tools with only the compiler 14.21 and that is what I am using.
I also have insltalled community 2017 with the compiler 14.16. Plus C:\Program Files (x86)\Microsoft Visual Studio 11.0, 12.0 and 14.0

The issue is that the include path is not consistent with the co

[2019-06-25 01:04] benjaminp commented on #8670
Yeah, can we fix coverage to not try to invoke lcov if the rule doesn't have the lcov attribute?

[2019-06-25 01:05] HackAttack commented on #8543
I have what feels like the same issue, but with `repo_env` on 0.27.0

[code]
[code]
[code]
Once the `repo_env` is added, the repository rule stops executing, and removing it doesn’t make it start executing until a `clean --expunge`.
[code]

[2019-06-25 05:19] hlopko commented on #8672
gcc is not a problem, you'll get your libstdc++ linked statically when you pass -static-libstdc++ and -l:libstdc++.a.

The problem is how to put these flags in the right places on the command line. With Bazel 0.28 you'll be able to use BAZEL_LINKLIBS env var to set flags that will go after default link flags, after libraries to link, and after user link flags. That will allow you to link libstdc++

[2019-06-25 05:26] hlopko commented on #8399
I actually like the macro solution more than the `--test_support` hook. I'll leave to @iirina to decide whether to add it or to recommend to use macros.

[2019-06-25 05:40] meisterT commented on #6862
cc @ishikhman

[2019-06-25 06:18] c-parsons commented on #8697
Perfect. We've already had some discussion on the issue in https://github.com/tensorflow/tensorboard/pull/2368#discussion_r296321399

[2019-06-25 06:20] c-parsons commented on #7347
Indeed, I don't think we are ready to migrate this flag.

[2019-06-25 06:47] ishikhman commented on #8690
great, thanks! Sure, I'll be happy to help :)

[2019-06-25 07:14] laszlocsomor commented on #8589
Thanks. I couldn't repro this bug yet, but let's assume it's a Bazel bug until proven otherwise.
/cc @meteorcloudy

[2019-06-25 07:27] meteorcloudy commented on #8589
Hi @monamimani , I fixed exactly this issue at https://github.com/bazelbuild/bazel/commit/e5b7bd6f2d02d09d83533fc52cff5171558a4ed0, `BAZEL_VC_FULL_VERSION` is only available since 0.27.0, that's why it didn't work for you.

And with 0.27.0, the include directories should be consistent with the compiler even if you don't specify `BAZEL_VC_FULL_VERSION`

[2019-06-25 07:27] #8589 closed

[2019-06-25 07:35] #8670 closed

[2019-06-25 07:49] iirina commented on #8708
I'm looking at [gcov documentation for Centos 7](https://www.unix.com/man-page/centos/1/gcov/) and the `-i` option (which bazel uses) is not present.

Let's test what gcov actually does on centos. Can you tell me what's the output of the following commands?

[code]

[2019-06-25 07:52] hlopko opened #8711 "incompatible_do_not_emit_buggy_external_repo_import: Do not emit imports containing external and repo names."
Added in: 0.28
Will be flipped in: 1.0

## Motivation

Because of https://github.com/bazelbuild/bazel/issues/8030 the only way to import protos that use `import_prefix` and that crossed the external repo boundary was to use ugly paths like `<import_prefix>/external/<repo_name>/<proto_path>`.

This was fixed, and the import path is now what is expected: `<import_prefix>/<proto_path>`. This incompat

[2019-06-25 08:00] philwo commented on #8708
Sure, here's the output:

[code]

[2019-06-25 08:00] iirina commented on #7816
@laurentlb is there going to be a patch release? d4589630428c1c1bc08a9baf36257e636fe9d746 should be cherry picked (fixes #8670 which is a regression in bazel 0.27).

[2019-06-25 08:01] philwo commented on #8708
Here's the list of files in the current directory after the commands above ran:

[code]

[2019-06-25 08:03] philwo commented on #8708
Here's the output of just running `gcov` without `-i`:

[code]

[2019-06-25 08:05] iirina commented on #8708
Thanks @philwo! This concludes that Bazel C++ coverage doesn't work on CentOS 7, so I suggest disabling the 3 failing tests.

[2019-06-25 08:07] iirina commented on #8708
Some more explanations: the `-i` option outputs a format that bazel can understand, parse and convert to bazel's standard coverage output. The standard gcov format is not supported by bazel.

[2019-06-25 08:09] philwo commented on #8708
Oh, OK! Thanks for checking this out. Alright, I've disabled the three tests. :)

[2019-06-25 08:10] #8708 closed

[2019-06-25 09:09] brandjon commented on #8626
@keith, looks like the [httplib failure](https://storage.googleapis.com/bazel-untrusted-buildkite-artifacts/df6b6191-1a51-47bb-b763-bc0d8dc68a31/test/integration/hotrestart_test/attempt_1.log) is [still there at head](https://buildkite.com/bazel/envoy/builds/817#df6b6191-1a51-47bb-b763-bc0d8dc68a31), which is why the downstream pipeline [hasn't picked up your other change](https://github.com/envoy

[2019-06-25 09:11] cblichmann commented on #8672
Ok, but then I can't easily switch compilers to Clang, for example.

This is actually not what I'm after. I only need a few targets to be fully statically linked.

How so? It did seem to work (at least for us) in earlier releases (0.25.0 IIRC). Are there examples for using `cc_configure` even if it's still experimental?

[2019-06-25 09:15] brandjon commented on #8626
See also [this comment](https://github.com/envoyproxy/envoy/issues/7379#issuecomment-505357431) about how to ensure `httplib` is available in the Python environment. But it sounds like you already have httplib available for PY2 and just need to make this target PY2.

[2019-06-25 09:43] iirina commented on #8670
Yes, `_lcov_merger` can still be used from Starlark rules. I'm not sure how the conversion from Starlark `_lcov_merger` to native `$lcov_merger` or `:lcov_merger` is happening. @laurentlb how can a Starlark private attribute be converted to a native late bound attribute (`_x` -> `:x`)?

I'll address the other questions on #6293.

[2019-06-25 09:49] #8707 closed

[2019-06-25 09:53] hlopko commented on #8672
1) you can achieve similar thing with clang
2) ack
3) Are you sure? All the changes that I'm aware of related to `fully_static_link` are backwards compatible (they were just moving logic from place to place, but not changing the logic). Because of that I extrapolate it never worked. Re cc_configure, you're already using it, that the thing that autoconfigures your C++ toolchain when you don't speci

[2019-06-25 10:02] cblichmann commented on #8672
Re 3., kinda. Ou build broke, once I updated our Docker container to the latest Bazel :)

Ok, so for now I'll work around the issue. I just really want people to be able to clone our repo ([Sandboxed API](https://github.com/google/sandboxed-api)) and just do a `bazel build ...` without additional options (at least at first).

[2019-06-25 10:11] brandjon opened #8713 "Add a macro to define PY2-or-PY3 target"
Create a macro for defining a binary/test that uses either PY2 or PY3, whichever is available on the target platform.

Background: Currently, `py_binary` and `py_test` have a `python_version` attribute that is completely authoritative (asterisk: except when overridden by `--host_force_python`) for whether the target gets analyzed as `PY2` or `PY3`. This choice is then enforced by the Python toolch

[2019-06-25 10:15] iirina commented on #6293
@jayconrod  @benjaminp  Addressing the questions from #8670.

Bazel does need a tool to merge lcov files from multiple tests, but that is not /usr/bin/lcov. Bazel uses an embedded tool called `CoverageOutputGenerator` which is faster than lcov. the `_lcov_merger` attribute in go_test can also point to this tool, although I'm not sure what go_test generates in coverage mode.

lcov is only needed fo

[2019-06-25 10:16] laurentlb commented on #8670
This depends on the default value of the attribute. See `createAttribute` in [SkylarkAttr.java](https://source.bazel.build/bazel/+/master:src/main/java/com/google/devtools/build/lib/analysis/skylark/SkylarkAttr.java;l=145).

cc @c-parsons

[2019-06-25 10:47] baskus commented on #8707
@meteorcloudy Great! Thanks for fixing this!

What release do you expect this fix will make it into?

[2019-06-25 11:16] meteorcloudy commented on #8707
This will be in next month's release (0.28.0) ;)

[2019-06-25 11:56] LukeIreland1 commented on #8548
So I take it my only option is building a new toolchain.

[2019-06-25 13:42] Globegitter commented on #7347
How come this does not have a Priority label? Is the plan to have this in for 1.0? While a very difficult migration indeed I do think this would be a pretty big win in the long run to get in by 1.0.

[2019-06-25 14:08] philwo commented on #7816
I did all required changes to fix https://github.com/bazelbuild/bazel/issues/8652 now. If a patch release for 0.27.0 is created, it will automatically be built on CentOS 7, which will fix the linked issue and restore compatibility with Ubuntu 14.04, CentOS 7 and RHEL 7.

[2019-06-25 14:16] vbatts commented on #7816
Cool cool to see official rpms. We'll see how well they work for Fedora. I'm glad to offload that from my copr.
As for transitioning the thousands of subscribers to my builds:
* Are you going to make a yum repo for these centos rpms?
* Is this a beta build for now?
* Is there going to be an announcement? (With transition steps for users)

-------- Original Message --------
On Jun 25, 2019, 10:08,

[2019-06-25 14:23] philwo commented on #7816
@vbatts For this change, I just did the work on Bazel to pass its test suite on CentOS 7 (required a few small patches due to e.g. an older Git version in CentOS 7) and create a Docker container for our CI that contains what we need to build and test Bazel.

Then I added CentOS 7 as a supported platform to our CI and changed our scripts to build the "default" Linux binaries on it. I verified that

[2019-06-25 14:29] timokau opened #8715 "Globally override tool path"
### Description of the problem / feature request:

This falls somewhere in between a support request and a feature request. I hope this is the right place. I'd like to be able to authoritatively override the location of a tool like `ar` during a bazel build, for example by setting an environment variable:

[code]

Bazel should then give this override priority over all other possible sources of inf

[2019-06-25 14:31] philwo commented on #8652
@r4nt FWIW, I cannot build Bazel inside that container, it fails with C++ errors:

[code]

(I also can't build it in a vanilla CentOS 6 container with similar errors - I guess we just use a too new version of C++ that isn't supported by CentOS 6's libstdc++ and compilers yet?)

[2019-06-25 15:35] perfinion commented on #8652
@philwo devtoolset-8 should be a new enough GCC and libstdc++, its supposed to statically link in the missing bits but maybe that part is going wrong? (Note, devtoolset links to the proper centos7 libstdc++ what it can and only statically links the bits that are missing, it doesnt just statically link everything)

[2019-06-25 15:44] vbatts commented on #7816
@philwo ah okay. so the *.zip of binaries is good to go for those folks. Then I will keep rolling with the copr builds for now.

If you were to make rpms and a yum(dnf) repo, copr is about as handy as anything. It does purge older builds, but if you're tagging releases, then folks can rebuild something about as equivalent. There is some automation to automatically trigger builds, but I haven't tak

[2019-06-25 16:43] NaurisSadovskis commented on #6359
This would be a great feature for stateless builds.

[2019-06-25 17:38] hlopko commented on #8672
Interesting. And are you sure libstdc++ was linked statically before?

[2019-06-25 18:05] jayconrod commented on #6293
`go_test` currently emits coverage data in the same format that the external Go tool expects. This was implemented before Bazel had a standard coverage format, so users are expected to analyze the data manually with `go tool cover -html=coverage.dat`. We declare an `_lcov_merger` attribute on `go_test` as a workaround for this issue (the coverage wrapper script fails without it if `/usr/bin/lcov`

[2019-06-25 18:52] timokau commented on #8715
It turns out this already exists in some form, [namely](https://docs.bazel.build/versions/master/tutorial/cc-toolchain-config.html) with `--crosstool-top`. Also my problem with tensorflow was a little bit more complicated than just forcing it to use the default system tools. It only occurs with `cuda`, since `cuda` requires a special set of tools (in addition to the normal ones) which are configur

[2019-06-25 18:52] #8715 closed

[2019-06-25 19:13] LukeIreland1 commented on #8548
I noticed those guides you linked are for 0.26.2 and I'm on 0.19.2. Will they work fine?

[2019-06-25 19:47] nlopezgi commented on #8687
Great, thanks @scentini !
do you know which release will include
[b984716](https://github.com/bazelbuild/bazel/commit/b9847161fa972c3afa76f0dcf7d5d81f9e52ccc6)?
Thanks again!

[2019-06-25 20:12] scentini commented on #8687
Our RCs are cut at the beginning of each month, so 0.28 will contain it.
Thank you!

[2019-06-25 22:23] keith opened #8716 "incompatible_enable_cc_toolchain_resolution breaks ios_unit_test targets"
### Description of the problem / feature request:

When using `--incompatible_enable_cc_toolchain_resolution` to build a `ios_unit_test` target, the build fails with an error like:

[code]

Because it appears to be being passed the wrong flags.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Clone [rules_apple](https://github.com/ba

[2019-06-25 22:23] keith commented on #7260
We found a case with master / 0.27.0 where this doesn't work for iOS builds https://github.com/bazelbuild/bazel/issues/8716

[2019-06-25 22:41] rpaquay opened #8717 "Singlejar: Add support for long paths on Windows"
### Description of the problem / feature request:

Invoking "singlejar.exe" sometimes fails on Windows when then argument file (the ".params" file) is located in a path longer than 260 chracters.

### Feature requests: what underlying problem are you trying to solve with this feature?

Add support for long path to singlejar.exe. There is a TODO comment in the source file that long path support sho

[2019-06-25 22:44] rpaquay commented on #8717
Here is an example of output with the failure"

[code]

[2019-06-25 22:45] rpaquay commented on #8717
Also, regarding the comment in the source code, I don't think it is required to add a dependency on protobuf to support long paths on Windows. A simple(r) fix would be to call "_wfopen" instead of "fopen" with an absolute path prefixed with "\\?\".

[2019-06-25 23:10] keith commented on #8626
This should be fixed by https://github.com/envoyproxy/envoy/pull/7391

[2019-06-25 23:49] keith opened #8718 "Execution log file doesn't expand params files"
### Feature requests: what underlying problem are you trying to solve with this feature?

Currently the file produced with `experimental_execution_log_file` doesn't expand the params file arguments being passed to commands. This makes it difficult to debug actions when you're using workers where params files are required.

### What's the simplest, easiest way to reproduce this bug? Please provide

[2019-06-26 01:44] benjaminp commented on #6293
My problem is that if you have a coverage-enabled test and don't define a `_lcov_merger` attribute, Bazel will still try to invoke the lcov merger in `collect_coverage.sh`. It would be nice to completely opt of that.

[2019-06-26 02:50] ittaiz commented on #7773
@aehlig can you explain what will be the implications of `disallowing the currently possible forward-referencing toolchain declarations, etc.`? I'm not sure I fully understand

[2019-06-26 06:07] Globegitter commented on #1485
@katre Thank you for the response - that works for normal rules, but do repository rules have any concept of toolchains? I have actually implemented them already in rules_nodejs: https://github.com/bazelbuild/rules_nodejs/pull/827 and that is also the PR where I was running into the issue, that as far as I can see repository rules / the WORKSPACE file does not really have a notion of platforms / t

[2019-06-26 06:29] laszlocsomor opened #8719 "Windows: rename embedded JDK's java.exe"
Branched from https://github.com/bazelbuild/bazel/issues/5254#issuecomment-500103972.

Let's rename the embedded JDK's "java.exe" to something Bazel-specific, e.g. "bazel-server.exe".

Rationale:
- easier to find and terminate in Task Manager
- the embedded JDK should only be used for Bazel itself (https://github.com/bazelbuild/bazel/issues/5254#issuecomment-505008097)

Version: Bazel 0.27.0 on Wi

[2019-06-26 06:31] laszlocsomor commented on #8719
@meisterT : not sure if you're the right assignee, please reassign if adequate

[2019-06-26 06:33] laszlocsomor commented on #8719
Caveat: the bazel client must be aware that java.exe may be called bazel-server.exe, and it must handle both.

[2019-06-26 06:38] laszlocsomor commented on #8614
How can I help?

[2019-06-26 06:47] katre commented on #1485
No, repository rules are not configured and so cannot take the current platform into account, so there is no way to have toolchain resolution work there.

What you can do is have a non-workspace rule for the dependency, and that rule resolves the correct toolchain to invoke to download the dependency. Then your repository rule can create the targets of that rule as needed for the required dependen

[2019-06-26 06:57] laszlocsomor commented on #8336
I can't print a warning to the console because Bazel prints no output for passing tests. So I'll print the warning to the test log.

[2019-06-26 07:22] laszlocsomor commented on #8273
Useful info from @meteorcloudy : https://github.com/bazelbuild/bazel/commit/a3dd7775d2dbf7e4368712626e11c15be7a23efd#diff-457360df3a98d4f91f49ccc5c8f3b35a has exposed functions we could use to find the Windows SDK and the resource compiler within.

[2019-06-26 07:23] laszlocsomor commented on #8273
We could put the Starlark rule into https://github.com/bazelbuild/rules_cc.

[2019-06-26 07:26] laszlocsomor opened #8721 "Windows, C++: support selecting the Windows SDK"
### Feature requests: what underlying problem are you trying to solve with this feature?

If multiple Windows SDK versions are installed, the user may want to select which one to use. Currently there's no way to do so.

### What operating system are you running Bazel on?

Windows 10

### What's the output of `bazel info release`?

release 0.27.0

###  Have you found anything relevant by searching

[2019-06-26 07:26] laszlocsomor commented on #8721
cc @meteorcloudy @hlopko

[2019-06-26 07:39] Globegitter commented on #6584
Yep, we did also run `bazel clean --expunge` and it did not fix the issue.

[2019-06-26 09:18] Quarz0 opened #8722 "starlark range inconsistencies with spec"
- The Starlark [spec](https://github.com/bazelbuild/starlark/blob/master/spec.md#range) mentions that `Range values are not hashable.`. However, they could be added as keys to dictionaries, for example, ```x = {range(10): 1}``` is allowed.

- In the spec it is mentioned that `The x in y operator, where y is a range, reports whether x is equal to some member of the sequence y; the operation fails u

[2019-06-26 09:20] aiuto commented on #8681
This is a product issue. I will certainly be doing a single doc set for bazel plus rules in the federation. We can expand that to other rules too, once the basics are in place

[2019-06-26 10:05] guibou opened #8723 "rule_test does not use tags since bazel 0.27"
### Description of the problem / feature request:

Starting from bazel 0.27, a `tags` attribute on `rule_test` is not correctly taken into account when filtering with `--build_tag_filters`.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Create a workspace, with an empty `WORKSPACE` and the following `BUILD` file:

[code]

Here, the

[2019-06-26 10:08] guibou commented on #8723
Some informations:

commit 77b987524ad0988dd0d21cd5e9dcadb897bedd26 introduced `test_rule` suffixed by `_impl`. If I'm running bazel with `-- -//:test-bar_impl` to ignore the `_impl` rule, I don't have the build failure.

[2019-06-26 10:43] Quarz0 opened #8725 "starlark partition/rpartition accept 0 parameters"
The [spec](https://github.com/bazelbuild/starlark/blob/master/spec.md#stringpartition) does not mention that the parameter `x` or `sep` for partition is optional yet partition and rpartition are allowed to be called with 0 parameters with `sep` getting the default value `' '`.

[2019-06-26 11:17] Quarz0 opened #8726 "starlark split/rsplit inconsistencies with spec"
- It's mentioned in the [spec](https://github.com/bazelbuild/starlark/blob/master/spec.md#stringsplit) that `If sep is the empty string, split fails.`, however split is allowed to be called with `sep` as an empty string.
[code]

- The spec also mentions `If sep is not specified or is None, split uses a different algorithm: ...`. However split does not have a default value for `sep` and complains i

[2019-06-26 13:06] Quarz0 opened #8727 "starlark string.splitlines line terminators"
The Starlark [spec](https://github.com/bazelbuild/starlark/blob/master/spec.md#stringsplitlines) says that the splitlines function `splitting S at line terminators (currently assumed to be a single newline, \n, regardless of platform).`
The current implementation assumes line terminators are `'\n'`, `'\r'` and `'\r\n'`.

For example `'\r\r'.splitlines()` should return `["\r\r"]` according to the s

[2019-06-26 13:13] Quarz0 opened #8728 "starlark list.clear() not implemented"
The `list.clear()` method mentioned in the [spec](https://github.com/bazelbuild/starlark/blob/master/spec.md#listclear) is not implemented in starlark.

[2019-06-26 14:06] Quarz0 opened #8729 "starlark built-in functions bool, list, tuple have no default argument"
According to the spec, the functions [bool](https://github.com/bazelbuild/starlark/blob/master/spec.md#bool), [list](https://github.com/bazelbuild/starlark/blob/master/spec.md#list) and [tuple](https://github.com/bazelbuild/starlark/blob/master/spec.md#tuple) should be able to be called with no arguments however an error occurs as no default value is specified in these functions.

[2019-06-26 15:43] jin commented on #8577
@cgruber are your comparisons with remote caching enabled?

[2019-06-26 15:49] laurentlb commented on #8681
Why did you close the issue?

[2019-06-26 15:57] simon0191 commented on #8245
@ob are you planning to add support for GRPC headers?

[2019-06-26 17:36] Quarz0 opened #8730 "Update dict hashability check, once the language spec is updated"
According to the [spec](https://github.com/bazelbuild/starlark/blob/master/spec.md#membership-tests), `The meaning of membership varies by the type of the second operand: the members of a list or tuple are its elements; the members of a dict are its keys; the members of a string are all its substrings.`.

This implies that to use the `in` operator with dict as a right operand, the left operand has

[2019-06-26 18:47] mvonarx opened #8731 "Coverage Header & INL Files"
### Description of the problem / feature request:

For a C++ project including various layers of `*.hh` and `*.inl` files, running `bazel coverage ...` produces different results when compared with manually running the executable and assembling the generated `*.gcda` files with the `*.gcno` files from compile time stored in `bazel-bin`.

### Feature requests: what underlying problem are you trying

[2019-06-26 19:25] Quarz0 opened #8732 "missing optional parameters in enumerate and list.index"
The spec says that [`enumerate`](https://github.com/bazelbuild/starlark/blob/master/spec.md#enumerate) takes an optional parameter `start` and [`list.index`](https://github.com/bazelbuild/starlark/blob/master/spec.md#listindex) takes two optional parameters `start` and `end`.

These parameters are missing from the current implementation of starlark.

[2019-06-26 20:01] keith commented on #8626
Envoy CI is now on 0.27.0, so I'm hoping we're good on the next bazel CI run now

[2019-06-26 21:34] jayconrod commented on #7816
@laurentlb Gentle ping on @iirina's comment above: will there be a patch release?

rules_go coverage tests are failing in CI with 0.27.0, and d458963 should fix it. We don't have a workaround for this issue at the moment.

[2019-06-26 22:04] dvulpe opened #8733 "Using bazel remote cache from GKE with workload identity is broken"
Running bazel with remote cache configured on GKE using Workload Identity metadata server is broken. This is due to the validation and a bug in an upstream library  https://github.com/googleapis/google-auth-library-java/issues/282

The gke metadata server logs read:
[code]

which is due to a problem upstream: https://github.com/googleapis/google-auth-library-java/issues/282 which appears to be fix

[2019-06-27 00:44] ob commented on #8245
I'm not sure how to do that. I'm not familiar with that section of the code. I'll take a look but if you have any pointers on what would need to be done I'd appreciate it.

[2019-06-27 03:55] rongjiecomputer commented on #8717
Oh, I missed this TODO comment when I ported singlejar on Windows. PR coming.

[2019-06-27 07:24] meteorcloudy commented on #8626
Envoy is green on Bazel CI! Thanks for the fix!

[2019-06-27 07:24] #8626 closed

[2019-06-27 08:24] shs96c opened #8735 "`java_library` should allow `java_toolchain` to be specified per-target"
### Description of the problem / feature request:

When compiling a complex codebase, it is sometimes useful to have multiple java toolchains in play at the same time. Take, for example, the case where you're building a multi-release jar, and so want most classes to target Java 8. However, you also want to offer features to Java 11 developers. The simplest way to do this would be something like:

[2019-06-27 08:35] #8717 closed

[2019-06-27 09:19] iirina commented on #6293
Thanks @jayconrod @benjaminp for your explanations! Answers inline below.

I agree this should be the long term solution and fits well with #5885.

This depends on the design of the Starlark mechanism for coverage. My initial idea was for every language to define a tool that converts from their format to lcov so that we can have consistency across the rules sets. `_lcov_merger` can point to `Cover

[2019-06-27 09:26] iirina opened #8736 "Expose CoverageOutputGenerator's label in a configuration"
In the native rules we have the late-bound attribute `:lcov_merger` which looks at the build configuration to see if coverage is enabled and returns the label of `CoverageOutputGenerator` or null (see [BaseRuleClasses#115](https://source.bazel.build/bazel/+/master:src/main/java/com/google/devtools/build/lib/analysis/BaseRuleClasses.java;l=115?q=BaseRuleClasses&ss=bazel)).

We need the Starlark rul

[2019-06-27 11:38] excitoon opened #8737 "`http_archive` shall try other mirrors if a mirror returned wrong hash"
Latest release, Windows.

[code]

See bazelbuild/rules_cc#21

@hlopko

[2019-06-27 11:52] excitoon commented on #8737
0.27.0, Linux:
[code]

[2019-06-27 13:04] beasleyr-vmw commented on #7293
Should we move this to the bazelbuild/rules_pkg repository?

https://help.github.com/en/articles/transferring-an-issue-to-another-repository

[2019-06-27 14:04] dvulpe commented on #8733
I would have raised a PR to fix this but I noticed the actual binaries are in checked in 😬

[2019-06-27 14:32] laurentlb commented on #7816
Bazel 0.27.1rc1 is available here: https://releases.bazel.build/0.27.1/rc1/index.html

It was created with:
`scripts/release/release.sh create 0.27.1` c82eb4878c7dc829455caeb915affe36c89df06f d4589630428c1c1bc08a9baf36257e636fe9d746

So it's a cherry-pick of Irina's commit.
Please give it a try.

[2019-06-27 14:41] hlopko commented on #8721
I don't think I'll have the capacity to design/implement this, but I'll gladly review the proposal.

[2019-06-27 15:04] #8336 closed

[2019-06-27 15:05] philwo commented on #7816
Dear users, please also verify that Bazel 0.27.1rc1 restores compatibility with Ubuntu 14.04 and CentOS 7.

[2019-06-27 15:47] beasleyr-vmw opened #8738 "Unable to reference @bazel_tools//src/main/protobuf targets"
### Description of the problem / feature request:

I am unable to use Bazel's protobuf targets and sources---specifically extra_action_base_java_proto---directly from `@bazel_tools//src/main/protobuf` because of an unsatisfied dependency on `@bazel_tools//tools/build_rules:genproto.bzl`.

As a workaround, in order to use extra actions, my project's WORKSPACE needs to refer to and clone Bazel's sou

[2019-06-27 16:19] DarkaMaul commented on #6726
Hi,

The problem is still present, even if the version of bazel is more recent.
As #2550 mention, the problem is occurring when a non-ascii character is present in path.

Step to reproduce:
[code]

Configuration:
[code]

Workaround: Move the executable to another directory (path) with only ascii charachters inside name

[2019-06-27 16:56] meteorcloudy commented on #8721
This won't be hard to implement it, I will do it!

[2019-06-27 17:28] jayconrod commented on #7816
I've verified 0.27.1rc1 fixes #8670 (bazelbuild/rules_go#2100), both locally and on CI ([log](https://buildkite.com/bazel/rules-go-golang/builds/1222#da7ba059-d9d8-40ab-a0a7-ec72dbe968c6)). Thanks!

[2019-06-27 21:14] laurentlb commented on #8722
@alandonovan
Why would range values not be hashable?
Why should `in` fail in this case? Returning False looks good to me.

[2019-06-27 21:25] laurentlb commented on #8727
cc @alandonovan

Python3 returns `["", ""]`. We may update the spec instead.

[2019-06-27 21:28] laurentlb commented on #8726
For the empty separator, we're tracking it here: https://github.com/bazelbuild/bazel/issues/7355

I don't think it's useful to support split without argument. The behavior doesn't feel consistent.
cc @alandonovan

[2019-06-27 21:30] laurentlb commented on #8725
In Python3, the argument is mandatory too.
Looks like a bug in our implementation.

[2019-06-27 21:52] vitarb opened #8739 "Obtaining output paths of the build artifacts"
There seem to be no easy way of getting location of the artifacts built by bazel, which results in a lot of unnecessary complexity and potentially faulty assumptions in tooling that needs to access build artifacts.

Most difficulties arise from the fact that `bazel` adds various sub-folders in the output such as "external", "$platform_$arch_[stripped|opt]", "$target_name.runfiles", etc. which requ

[2019-06-27 22:53] borkaehw commented on #8690
This is the current state of work https://github.com/bazelbuild/bazel/pull/8740. I have removed `GrpcRemoteCache.java` from the workspace and replace it with `GrpcBlobStore.java`. The code compiles, and I am currently testing the code correctness. @ishikhman I appreciate if you can take a look to make sure we are heading to right direction.

[2019-06-27 23:26] m3rcuriel commented on #5881
@iirina I'm struggling to understand the status of this (and clang coverage in general). I have `--experimental_use_llvm_covmap` generating the `coverage.dat` files (aka the `.profdata`) files. What is the next step in resolving this issue? What functionality am I still missing?

Thanks for your work on coverage!

[2019-06-28 02:48] benjaminp commented on #6293
What if the rule can produce lcov output natively without the help of lcov merger? The current situation is that Bazel tries to invoke a tool that it purposely didn't add as an input to the test. That's not a useful behavior.

[2019-06-28 05:39] meisterT commented on #8719
Since that change is an incompatible change and cannot be guarded behind a flag, I'll have to wait for the next incompatible release before I can do the change.

[2019-06-28 06:06] philwo commented on #8719
@meisterT With that approach, people will not have a migration window over some releases where they can get used to the new binary name. I'm not sure if we can ever make this change.

[2019-06-28 06:09] philwo commented on #8719
Alternatively we could ship both a java.exe and a bazel-server.exe in the binary and then use an incompatible startup flag to decide which one to execute. OK, our binary size will be double for a while, but oh the sweet backwards compatibility, I'm sure everyone will love it. 😀

[2019-06-28 06:30] meisterT commented on #8719
Having that doubled doesn't sound too bad - since at least on Linux the java binary only has 10k.

[2019-06-28 06:41] laszlocsomor commented on #8719
Why would the binary size double? We'd only copy java.exe not the other JDK files.

[2019-06-28 06:44] laszlocsomor commented on #8719
Which part of this change is incompatible?

[2019-06-28 06:55] philwo commented on #8719
@laszlocsomor True, we can just duplicate the java.exe! For a moment I thought we’d have to include two entire JDKs. 😅

[2019-06-28 07:04] laszlocsomor commented on #8719
Actually, why copy and not just rename? Nothing but that particular Bazel version should use the embedded JDK. There's nothing to be backwards compatible with.

[2019-06-28 07:18] laszlocsomor commented on #7945
It does now.

[2019-06-28 07:18] #7945 closed

[2019-06-28 07:19] laszlocsomor commented on #7620
https://github.com/bazelbuild/bazelisk solves this.

[2019-06-28 07:19] #7620 closed

[2019-06-28 07:30] philwo commented on #8719
Rename wouldn’t work because multiple servers can run from the same install base with different values for that incompatible flag.

[2019-06-28 07:38] laszlocsomor commented on #8719
But all of those servers are the same Bazel version. So there's no need for an incompatible flag, no?

Which part of the change is incompatible?

[2019-06-28 07:44] meisterT commented on #8719
Laszlo: the name is exposed (otherwise we would not change it). Assume someone wrote a script that (outside of bazel) uses the process name, e.g. monitors the CPU usage over time.

[2019-06-28 07:58] #7814 closed

[2019-06-28 08:54] iirina opened #8741 "Force loading the Java rules from the rules_java repo"
This big breaking change will force users of the Java rules to use the Starlark rules from the [rules_java repository](https://github.com/bazelbuild/rules_java). The rules there are currently only wrappers around native rules, but they will soon be rewritten.

To save our users from this big migration after Bazel 1.0, we will implement an incompatible flag and provide migration instructions before

[2019-06-28 09:29] laszlocsomor commented on #8614
Found the culprit.

"lib-file" and "lib-util" were merged a few weeks ago. Let me update `tools/jdk/BUILD.java_tools`.

[2019-06-28 09:41] iirina commented on #8614
Thank you @laszlocsomor for looking into this! Can you explain why merging the two targets fixes this issue? In theory they're the same files and it shouldn't matter if they're one or two targets. I'm probably missing something.