[2018-03-06 14:56] #577 closed

[2018-03-06 14:59] helenalt commented on #4502
#592

[2018-03-06 15:19] laszlocsomor commented on #4765
@AnchoretBaladev : when you wrote the following:

...did you copy-paste this from somewhere or are these your own words? If the former, where's the source? I don't know if the compiler Bazel is using is indeed right or wrong, but the person who wrote the text (whether it was you or someone else) may know better than me.

[2018-03-06 15:22] jmmv commented on #592
How is setting a path for the build unsustainable? Pretty much every other piece of software out there supports customizing the layout of installed files—and we must do as well if we want Bazel to play well with the variety of Unix-like systems that exist out there. If we cannot do this (when the most trivial autoconf-based project can), it highlights more of a problem in Bazel than in the request

[2018-03-06 15:29] haxorz commented on #4734
https://github.com/bazelbuild/bazel/commit/4f647e859203dc3a2f26ab088b95ef1a58c2e3ea is relevant, not for this bug but for the history of the code. before this commit, FileContentsProxy was using FileStatus#getLastModifiedTime, the WindowsFileSystem implementation of which is the same as the one you gave, just without the comment.

so what's the deal here? ignoring this issue and only thinking abou

[2018-03-06 15:34] cvcal commented on #592
What I meant is that requiring the path to be passed on the command line for every build is not good. It shouldn't be copied every time.

The next-to-bazel-binary location of the bazelrc file is one of the proposed rc locations that we just read, so in the install location case this is fine. I meant that having a custom masterrc path that is neither in a standard location or in the install locatio

[2018-03-06 16:02] cvcal commented on #592
Talked with Julio offline, I didn't realize that he meant the default location should be modified at compile-time. That sounds better than what I was imagining.

[2018-03-06 16:13] laszlocsomor commented on #4755
Found the culprit:
- the test uses [InMemoryFileSystem](https://github.com/bazelbuild/bazel/blob/85e8c3846e4cf582bdeff312545231d8f62b5e52/src/main/java/com/google/devtools/build/lib/vfs/inmemoryfs/InMemoryFileSystem.java)
- when we [update the mtime](https://github.com/bazelbuild/bazel/blob/85e8c3846e4cf582bdeff312545231d8f62b5e52/src/test/java/com/google/devtools/build/lib/skyframe/FilesystemValu

[2018-03-06 16:13] laszlocsomor commented on #4755
/cc @haxorz : see my comment above

[2018-03-06 16:13] laszlocsomor commented on #4734
found the culprit for https://github.com/bazelbuild/bazel/issues/4755, see https://github.com/bazelbuild/bazel/issues/4755#issuecomment-370835018

[2018-03-06 16:15] c-parsons commented on #4780
I'll issue a rollback.

[2018-03-06 16:33] gkossakowski commented on #4769
Yeah, I'm referring to the computation of the digestKey for the action that point at the local jdk. `bazel dump --action_cache` prints:

[code]

The digestKey is different between docker instances due to files I mentioned earlier.

[2018-03-06 16:43] gkossakowski commented on #4776
Great to hear it's planned. Do you have a sense when you'll get down to implementing it?

Re: per-rule breakdown: it's very useful for forming a quick guess whether an issue is with home-grown rules or the ones that ship with bazel. These two categories have distinct profiles in terms of risk and how you approach debugging them.

[2018-03-06 16:44] gkossakowski commented on #4776
And on profiling: the problem is that often cache hit misses will be non-deterministic (in case of a bug) and non-continuous monitoring might have a hard time catching these problems.

[2018-03-06 16:54] werkt opened #4783 "remote ex builds print error when interrupted"
### Description of the problem / feature request:

When interrupted (with Ctrl-C) bazel builds with remote ex print an extra ERROR message before indicating 'build interrupted'

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Interrupt (with Ctrl-C on linux) a build running with active operations in remote execution:

You could see,

[2018-03-06 17:27] alexeagle opened #4784 "installation instructions are too daunting"
discussed with @laszlocsomor

There are several problems with the first-time user experience. I estimate that many frontend developers haven't or won't try Bazel because of things like a Java dependency. Ideally we could measure install abandon rate, but let's try to improve it without metrics:

1) https://github.com/bazelbuild/bazel/blob/master/site/docs/install.md includes platform-specific stuf

[2018-03-06 18:07] gregestren commented on #4714
I wouldn't be surprised if @local_jdk//:jdk-default is overly broad, especially if this is inherited from the Google implementation where platforms are more consistent and extra files aren't as big a deal.

We've encountered this kind of issue in the past for other toolchains and have often successfully mitigated by simply declaring these rules more finely or breaking them down into sub-rules whic

[2018-03-06 18:12] gregestren commented on #4769
@philwo (who was involved with the current definition of jdk-default): do we have room for more granularity here? (also see the discussion #4714)

[2018-03-06 18:20] philwo commented on #3959
I'm working to get this pushed as a release, but am currently fighting with our scripts a bit. Sorry for the delay! Hope to get it out by tomorrow.

[2018-03-06 18:35] philwo commented on #3959
I had to recreate the release branch on my machine, as otherwise the script wouldn't let me release it.

Steps:
[code]

Now waiting for CI to build the binaries, will verify that they're fine and will run the release steps for GitHub, GCS and the apt repository then.

[2018-03-06 18:48] jin commented on #4777
I'm only able to reproduce this with `cmath` so far. Have you stumbled upon this with other headers too?

[2018-03-06 19:39] jin commented on #4777
Rroot cause: the same sysroot is being used for both compile and link time. The compile time sysroot should be `$ndk/sysroot/usr/include` and link time sysroot `$ndk/platforms/android-$api/arch-$arch`.

[2018-03-06 19:47] gregestren commented on #1623
Right, this is similar to AND chaining of `selects` (`select({config_setting1 && config_setting2: value}`). The intermediate library is the best current workaround. You can also define another Skylark macro that automatically creates that intermediate library. These approaches don't always work well for non-dep-oriented attributes (like `genrule` `cmd`).

The only philosophical caution I would men

[2018-03-06 19:59] ola-rozenfeld commented on #4783
I know what caused this, fixing.

[2018-03-06 20:01] mikelikespie commented on #4780
I should have a fix for this in the next day or so that makes my change work for both cc_proto_library as well as j2objc's proto library.

I think there's a difference in the codegen plugins where the j2objc one will output.

for protoc ```-Icards_proto/cards.proto=external/com_github_pmbethe09_dtac/cards_proto/cards.proto```

j2objc will output
[code]

and the c++ will output
[code]

[2018-03-06 20:04] fardream commented on #4748
@meteorcloudy Thanks for the information. We are actually right now using cc_library.

[2018-03-06 20:06] pmbethe09 commented on #4780
SGTM.  I am working on an integration test to catch this sort of thing for cc_proto_library

[2018-03-06 20:08] RNabel commented on #4664
@buchgr Does the caching code `PUT` new targets regardless of whether they already exist?

I'm hitting a similar error (`DEBUG: Upload to remote cache failed: Download failed with Status: 403 Forbidden`) on all but the builds working with a clean cache, and am investigating which limits could be hit.

[2018-03-06 20:27] dslomov commented on #4784
@laszlocsomor for Windows updates

@philwo, @dslomov - let's decide whether the story on Mac should be `brew cask` or just plain installer.

@spomorski for documentation update.

[2018-03-06 20:49] etnu commented on #4777
Not sure, I hit it with cmath as well (I guess markdown ate my example)

[2018-03-06 21:01] gkossakowski commented on #4714
thanks greg! is there a way to exclude these files declaratively from my workspace without forking bazel and modifying it there? The relevant filegroup that needs modification is this: https://github.com/bazelbuild/bazel/blob/master/src/main/tools/jdk.BUILD#L104

[2018-03-06 21:14] gregestren commented on #4714
Good point. Can you clone the file before making your changes, then redirect Blaze to that JDK with [`--javabase`](https://docs.bazel.build/versions/master/user-manual.html#flag--javabase)? ([this](https://github.com/bazelbuild/bazel/blob/cf79305f79f627ae20c4da5e832a633fc3994d5a/src/main/java/com/google/devtools/build/lib/rules/java/JavaOptions.java#L69) is the default)

[2018-03-06 22:18] #4783 closed

[2018-03-06 23:15] eiennohito commented on #592
I was proposing to set the global config location at the installation time as well, if possible, so the downloaded binary versions of bazel would still work without rebuilding everything from source.

[2018-03-06 23:47] jin commented on #4663
I ran this test and it passes with --remote_http_cache=url-to-buildkite-cache on our Ubuntu CI test machine.

[2018-03-07 00:08] gregestren commented on #1623
So I proof-of-concepted nested selects: check out https://bazel-review.googlesource.com/c/bazel/+/44230/1#message-c2bbb6b8973380ea2eb65483e2364f600c07f295

Short story is the basic change is surprisingly easy. But there are a bunch of corner cases that substantially complicate it. So I put up this change as a starting point for further discussion and consensus.

If anyone *really* wants nested sel

[2018-03-07 00:42] cvcal commented on #592
I'm not sure how that would work - the value needs to be somewhere, either in the source code, in a file, or in the environment. Envvars aren't great, source needs the value at compilation time, and file leaves the where-does-the-file-live problem exactly where we left it. I'm unfamiliar with how other projects get configured though, is there a fourth option I'm missing?

[2018-03-07 01:13] gkossakowski commented on #4714
I just tried setting the `--javabase` but it seems like not all actions are picking it up. Is there a way to determine which actions are still dependent on `local_jdk`?

[2018-03-07 01:46] eiennohito commented on #592
Binary patching :p

One option would be to pass that value from the wrapper script, I believe.
About files: maybe searching global relative to (but not neccesary in the same dir as) the bazel-real. Placing configs in bin directory does not look good for me.

[2018-03-07 05:36] agoulti commented on #4776
I am aimingto implement the basic stats by the end of the month. Current approach would break executions down by type: e.g., show how many were remote, local sandboxed, local non-sandboxed etc. One of those types would be for remote cache hits. From that you should be able to infer cache rate.
The plan is to include this brief summary at the end of every run.

It is not planned to be per-target th

[2018-03-07 06:13] Manja6918 commented on #3692
can you please do share , and help me doing it

[2018-03-07 07:48] ulfjack commented on #4776
It should be pretty easy to do a breakdown by action mnemonic once we have a place where we collect the data.

[2018-03-07 07:52] laszlocsomor commented on #4784
Thanks Alex, I really like these suggestions. I'll rework the Windows page.

[2018-03-07 08:16] ulfjack commented on #4691
Note that this is the fallback code path, so if you make sure that your test framework generates a test.xml, that should workaround the issue.

Any suggestions on what to do here? We do need to escape the characters when generating the test.xml.

[2018-03-07 08:21] #4731 closed

[2018-03-07 09:07] laszlocsomor commented on #4755
In the first comment on this bug:
- testTraversalOfGeneratedDirectory is failing because it relies on creating symlinks; I'm not sure what exactly causing the failure, maybe that Bazel fails to create the symlink or that it creates a copy instead and some later assertion fails; need to investigate
- testCacheBypassingActionWithMtimeChangingInput looks like a timing flake similar to testExplicitFil

[2018-03-07 09:23] ulfjack commented on #4608
Assigning to myself for the long-term fix.

[2018-03-07 10:48] davido commented on #4784
You cannot drop Java dependency to use Bazel. You can hide Bazel dependency on Java, but I fail to see how this would help anyone.

So the right question to ask is not "How/where to hide the Bazel dependency on Java." but rather: "Why must Bazel depend on MSVC on Windows"?

This is not related to the documentation issues for frontend (JavaScript) projects, but rather to all backend projects as wel

[2018-03-07 11:43] RNabel commented on #4664
Thank you for the quick reply - `gsutil cp` illustrated the problem. The service account was lacking `storage.objects.delete`, but had read and write permissions. I'm happy to do a PR to add an additional `HEAD` request. Feel free to shoot me an email if you have initial pointers / thoughts on how this could be done.

[2018-03-07 12:23] buchgr commented on #4652
The error is still happening: https://buildkite.com/bazel/bazel-with-downstream-projects-bazel/builds/141#82dedeac-aa58-46f9-99bf-d03d8da5a03e

[2018-03-07 13:41] laszlocsomor commented on #4734
@haxorz :

It doesn't! On the testing Windows VM (which has the same image as the CI VMs), I see that the mtime is correct. The atime is wrong though.

Demo:
[code]

The run this:
[code]

Modify the file contents, see the `mtime` updated but not the `atime`:
[code]

In fact nothing that I tried changes the `atime`, neither changing file attributes nor dumping the file's contents. So I don't know w

[2018-03-07 14:29] #4738 closed

[2018-03-07 14:47] dbabkin commented on #3769
changes pushed.

[2018-03-07 14:47] #3769 closed

[2018-03-07 15:12] philwo commented on #3959
Release was built successfully: https://buildkite.com/bazel/release/builds/11
and released: https://groups.google.com/d/msg/bazel-discuss/lmuaMaYiY-o/r8CCYqO6AAAJ 🎉

[2018-03-07 15:16] hugares commented on #3602
Even if --batch workaround is working, it would be nice to not have to use --batch.

I know this is a Pulse Secure issue because it prevents bazel client from connecting to server but I found out that if I patch bazel to use IPv4 to start server instead of IPv6, it works. IPv4 is already supported and used in case IPv6 is not supported. Would it be possible to add an option to make bazel use IPv4?

[2018-03-07 15:42] vbatts commented on #3959
fedora and centos build is kicked off:
https://copr.fedorainfracloud.org/coprs/vbatts/bazel/build/725354/

On Wed, Mar 7, 2018 at 10:19 AM Philipp Wollermann <notifications@github.com>
wrote:

[2018-03-07 16:07] laszlocsomor commented on #4784
Actually it shouldn't be, since version 0.8.0 (see https://github.com/bazelbuild/bazel/commit/1f61472985203b63d1ef2368c33a107a4497c677). We accidentally omitted this from the release notes (I have proof that this was an honest mistake) and we forgot to update the documentation.

Do you see Bazel complaining about the missing compiler?

[2018-03-07 16:21] jin commented on #4663
I renamed the directory from `build` to `_build` and the issue persists:

[code]

[2018-03-07 16:51] buchgr commented on #3959
tyvm @vbatts

[2018-03-07 17:12] buchgr commented on #4664
@RNabel sent you an e-mail the ucdavis.edu address (from your profile).

I don't know whether HEAD requests would help with e.g. performance in that I don't know how frequent this happens and for which artifacts. I ll open a separate issue.

[2018-03-07 17:16] buchgr opened #4789 "remote/performance: check if blob exists before uploading."
In issue https://github.com/bazelbuild/bazel/issues/4664 @RNabel noticed that Bazel was trying to upload a file to the remote cache that was already there.

Bazel currently doesn't check whether a blob already exists before uploading but maybe it should. I am aware that some files (like the empty file) or java manifest files are uploaded multiple times as many actions produce these artifacts. Thes

[2018-03-07 17:25] buchgr commented on #4776
looking forward to this! cc: @alexeagle

[2018-03-07 17:28] buchgr commented on #2980
This can be closed: https://docs.bazel.build/versions/master/remote-caching.html

[2018-03-07 17:28] #2980 closed

[2018-03-07 17:36] buchgr commented on #4595
will fix.

[2018-03-07 17:59] jin commented on #4072
Sorry for the delay, this is fixed with the release of NDK 15/16 support:

[code]

Do you mind trying out Bazel on master and let me know if it still doesn't work for you?

[2018-03-07 18:01] jin commented on #4072
Closing this issue for now, please reopen if you are still facing related issues. Thanks!

[2018-03-07 18:01] #4072 closed

[2018-03-07 18:29] ittaiz commented on #4544
I’d say this is very important though not a blocker. Having to turn off strict deps for proto doesn’t sound that wise to me

[2018-03-07 18:30] ittaiz commented on #4584
@iirina wdyt?

[2018-03-07 18:42] jin opened #4791 "Support Android P"
https://android-developers.googleblog.com/2018/03/previewing-android-p.html

[code]

[2018-03-07 18:42] gregestren commented on #4714
We can examine on a per-action basis, but I'd still like to see if we can work through the query approach, since there are less targets than actions.

I forgot above to include `--host_javabase`, which is the same thing, but for building host tools (tools that run as part of the build). When I include both `--javabase` and `--host_javabase` I see no more dependencies on `local_jdk`.

About setting

[2018-03-07 19:26] mobileink commented on #4072
Will do, but it may be a few days before I can get to it.

Thanks!

On Mar 7, 2018 12:14 PM, "Jingwen" <notifications@github.com> wrote:

[2018-03-07 20:34] defunctzombie opened #4792 "Rule documentation should consistently prefer True/False over 1/0"
### Description of the problem / feature request:

The bazel documentation is unclear in the preference of `True` or `False` vs `1` or `0` when dealing the boolean fields.

There are instances in the documentation where a boolean type field indicates a value of `1` is true and other pages of the documentation that describe the `bool` type and indicate that `True` and `False` are the value values.

[2018-03-07 20:37] defunctzombie commented on #4792
Related issue: https://github.com/bazelbuild/buildtools/issues/114 and mine is likely considered a duplicate.

[2018-03-07 20:56] davido commented on #4784
Thanks, for the pointer, I missed that (and it was long overdue). In fact, I stopped all activities related to Bazel on Windows after spending days in investigating inaccurate build outcomes on Windows in context of #4108. It turned out, that the most critical Bazel integration tests, like compiler integration e.g.: #4165 are inherently broken or not activated on that platform.

[2018-03-07 21:56] gregestren commented on #1619
Note we have some support for CPU-based skipping now:

https://groups.google.com/d/msg/bazel-discuss/U6sFbPWiXGM/_hjddzwdFwAJ

[2018-03-07 22:02] jmmv commented on #592
In my opinion the **binaries** that **we** ship are fine as they are. We, as the Bazel team, have to decide how our preferred installation looks like and ship that. There is no need for us to provide fancy mechanisms to tune those binaries (like the binary patching idea). If you get our binary, you get what we have decided and thus what we commit to supporting; period.

For example, if users don't

[2018-03-07 23:11] #4777 closed

[2018-03-07 23:20] jin commented on #4777
This should be fixed with ebdd92d now.

[2018-03-08 01:44] gkossakowski commented on #4714
I recalled from my notes that I did debug the problem with `platformclasspath` digest keys disagreeing. At the time, it was due to differences in `$PATH` that were mitigated by `--experimental_strict_action_env`. I gave this a whirl but no success in making digests match.

[2018-03-08 04:31] ittaiz commented on #3769
Thanks!
Any chance for a link to the commit?

[2018-03-08 06:19] tianshilei1992 opened #4794 "Error occurred when trying to build with precompiled library on macOS"
### Description of the problem / feature request:

I'm trying to build the TensorFlow with Intel MKL on macOS, which depends on a precompiled library Intel MKL. The building process failed, and it told `dyld: Library not loaded: @rpath/libmklml.dylib`, which is the mentioned third party library. I've set the rule according to the [document](https://docs.bazel.build/versions/master/cpp-use-cases.ht

[2018-03-08 06:46] davido commented on #4709
I fixed Checker Framework fork mess, but Bazel build with Java 9 is still broken: [1], that's on:

[code]

[1] http://paste.openstack.org/show/694663

[2018-03-08 07:46] benjaminp commented on #4691
Perhaps rewrite `test-setup.sh` in a language like C++ or Python where text processing is easy to do portably? That might also be helpful for solving subtle test-setup.sh issues like #4608. (I can't imagine bash is very fun to run on Windows either.)

Relatedly, I would like the ability to customize the test setup executable. One can usually use `--run_under`, but then the user loses the ability t

[2018-03-08 07:50] davido commented on #4709
I added another CL to pass `--add-modules=jdk.unsupported` to the compiler,
and now it is failing later:

[code]

[2018-03-08 07:57] laszlocsomor commented on #4791
/cc @ahumesky @aj-michael @dkelmer @cvcal  (I don't know who else works on Android, sorry if I left people out)

[2018-03-08 08:00] hmemcpy commented on #3201
We found a problem with this patch... seems that tests that are added dynamically by the test runner (in our case, specs2 'examples' that are generated with `Fragments.foreach`) do not appear in the xml!
I'm investigating the reason (I suspect they are added to the model with the wrong initial state, and do not transition to `STARTED`).

In the meantime, and after a discussion with @ittaiz, I'd li

[2018-03-08 08:14] laszlocsomor commented on #4792
Could you link to examples? In rule documentation I see "default is {0,1}" in abundance but not "default is {true,false}" [2].

---

[1] [inurl:docs.bazel.build "default is 1"](https://www.google.de/search?rlz=1C1GCEA_enDE775DE775&ei=6e-gWuaeGcONkgWjt7n4Bw&q=inurl%3Adocs.bazel.build+%22default+is+1%22&oq=inurl%3Adocs.bazel.build+%22default+is+1%22&gs_l=psy-ab.3...1637.1637.0.2309.1.1.0.0.0.0.94.94

[2018-03-08 08:46] dbabkin commented on #3769
https://github.com/bazelbuild/bazel/commit/bb64d2f299e39788f7d1e80fb1e3c92536e498a2

https://github.com/bazelbuild/bazel/commit/cf79305f79f627ae20c4da5e832a633fc3994d5a

[2018-03-08 08:59] mhlopko commented on #4383
Sorry for the silence. I just looked into the code and it looks like you should be able to write a skylark rule that will provide this behavior. https://docs.bazel.build/versions/master/skylark/lib/runfiles.html and https://docs.bazel.build/versions/master/skylark/rules.html#runfiles should help you get started.

[2018-03-08 09:32] ulfjack commented on #4691
We discussed that, but it means that we'd unconditionally need a C++ compiler in order to run tests. We could bundle a pre-compiled binary into Bazel, but what platform would it be compiled for? For cross-compilation, you need a binary for the target platform, not the host platform. We could bundle a binary and also ship the source, but then you still need a C++ compiler in order to do cross-compi

[2018-03-08 10:39] drigz opened #4798 "maven_jar doesn't download sources when hitting the repository cache"
### Description of the problem:

If I use `maven_jar` with `sha1` specified and `--experimental_repository_cache` in my .bazelrc, then it  does not download sources if it hits the cache. If I do not specify `sha1` or disable or clear the repo cache, then the sources .jar get downloaded.

### Reproduction:

Put the following in WORKSPACE:

[code]

Then run:

[code]

The sources have been downloaded

[2018-03-08 10:40] dslomov commented on #4784
@davido, I think your comments on this bug (and on some others as well) cross the boundary of constructive criticism into the realm of ranting and derailing.

[2018-03-08 11:24] laszlocsomor commented on #4789
/cc @ola-rozenfeld @nlopezgi

[2018-03-08 11:26] laszlocsomor commented on #4794
@mhlopko : could you please confirm that this is an issue with the C++ rules, and if so, comment on priority / best person to work on it / ETA?

[2018-03-08 11:33] tianshilei1992 commented on #4794
Actually, I'm pretty curious about the inconsistency of the building behavior on different platform, since this building rules can work well on Linux.

[2018-03-08 11:34] mirh commented on #3020
Checking if dmesg has an oom-killer entry with <your-process-name> on the second of the SIGKILL would be as effective as it is dirty, also, imo.

[2018-03-08 14:29] afking opened #4801 "Bazel j2obc WORKSPACE sha is invalid"
### Description of the problem / feature request:

Bazels j2obc WORKSPACE file sha is different to the githubs release https://github.com/bazelbuild/bazel/blob/master/WORKSPACE#L39 .

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Running `bazel fetch @bazel_j2objc//...` outputs:

[code]

### What operating system are you running Ba

[2018-03-08 14:43] buchgr commented on #3959
ty @petemounce !

[2018-03-08 14:44] alexeagle opened #4802 "workspace_status_command should accept program on the PATH"
Currently workspace_status_command requires a path to a script in the project.

[code]

This is hard to make portable between platforms. Making this a shell script means Windows developers on the team can't stamp binaries.

There is some discussion about this:
https://stackoverflow.com/questions/48159516/default-platform-specific-bazel-flags-in-bazel-rc
https://github.com/GerritCodeReview/gerrit/c

[2018-03-08 14:58] werkt opened #4803 "remote: ManagedChannelImpl allocation trace for close without shutdown{,Now}"
### Description of the problem / feature request:

io.grpc prints a warning about not shutting down connections with `shutdown()/shutdownNow()` and `awaitTermination()` at the end of a failing build. If it is running this at termination, there is certainly enough capacity to shut down these connections and limit this noise in the log files.

### Bugs: what's the simplest, easiest way to reproduce

[2018-03-08 15:00] kcooney commented on #3201
As a maintainer of JUnit I'd like to point out that i am not sure if dynamically-created tests are officially supposed for JUnit4-style tests (by this Iean tests that don't exist until the test starts running). It may happen to work, but there is no framework support for it.

@hmemcpy did you verify that dynamically-generated tests were included in the XML before (and had the correct status on pas

[2018-03-08 15:11] hmemcpy commented on #3201
@kcooney hey, I may have described it wrong by calling them "dynamically-created", but yeah, before the check for `FILTERED` in the xml writer, all of them were added to the report. They are reported started in `JUnit4TestXmlListener`, but still they appear as filtered when test run completes... Still investigating.

[2018-03-08 15:17] ola-rozenfeld commented on #4789
Note: this only applies to non-grpc remote cache. In gRPC cache, we always check if a blob exists before uploading, in more than one way (GetMissingBlobs, in particular).

[2018-03-08 15:45] buchgr opened #4804 "remote/usability: better error messages for GCS caching"
Besides HTTP status code, Google Cloud Storage gives pretty useful error messages. We should print them in a user-friendly way.

For Example:

[code]

[2018-03-08 15:56] philwo commented on #4582
The current baseline looks pretty good. I'll likely cut an RC today.

[2018-03-08 15:57] philwo commented on #4582
We should investigate whether we should point this out in the release notes, in case others have the same issue:

https://github.com/tensorflow/tensorflow/pull/17508

[2018-03-08 15:59] ittaiz commented on #3201
@kcooney @iirina we're dedicated to resolving this correctly but we'd really appreciate rolling it back currently since we need to use 0.12.0-RC1 (which @philwo wants to cut today) and we won't be able to use it if this commit is in.
cc @helenalt

[2018-03-08 16:06] buchgr opened #4805 "remote/usability: better error handling"
Special case:
* java.net.URISyntaxException
* io.netty.channel.ConnectTimeoutException
* java.net.UnknownHostException

[2018-03-08 16:08] aj-michael commented on #4791
We had the same issue when they previewed "android-O": https://github.com/bazelbuild/bazel/issues/3672

[2018-03-08 16:30] laszlocsomor commented on #4582
@philwo: would it be possible to wait for https://github.com/bazelbuild/bazel/pull/4806 ?

[2018-03-08 16:43] kcooney commented on #3201
FYI I am not on the Bazel team (I just worked on parts of the JUnit integration). Hopefully someone on the team will so a roll back.

[2018-03-08 16:57] philwo commented on #3201
@hmemcpy @ittaiz I'll send a rollback for this and make sure that it will be part of the next release.

[2018-03-08 17:09] buchgr commented on #4789
@ola-rozenfeld you only do that for inputs though, no? This particular issue is about action outputs.

[2018-03-08 17:54] ola-rozenfeld commented on #4789
No, I always do it. https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/remote/GrpcRemoteCache.java#L281

[2018-03-08 18:03] #4749 closed

[2018-03-08 18:39] jin opened #4807 "Android NDK mips64 linking is broken from r13 and higher"
This occurs with released Bazel versions that support r13 and higher. Trying to build any Android-transitioned `cc_*` target and targeting `mips64` will cause `ld` to crash:

[code]

The missing libraries are in `%mips64_sysroot%/usr/lib64`. From r12 to r13, the contents of `%mips64_sysroot%/usr/lib` were removed, leaving the folder empty. During link time, `ld` goes through search paths in the sy

[2018-03-08 18:41] ittaiz commented on #3201
@philwo thanks!
We really appreciate it.
@hmemcpy will update next week about his findings
On Thu, 8 Mar 2018 at 18:57 Philipp Wollermann <notifications@github.com>
wrote:

[2018-03-08 18:41] jin commented on #4807
Marking this as P2 since it has been out for a while and we haven't seen anyone report this issue.

[2018-03-08 19:17] aj-michael commented on #4807
Demoting to P4 because Android NDK is deprecating MIPS:

https://developer.android.com/ndk/guides/mips.html

Also, I went into the play store console and filtered the device catalog by architecture. It shows that there are three known devices that use mips and none that use mips64. Furthermore, the three mips devices seem to be uncertified, user-registered device models. Device names: gs701b, NV31

[2018-03-08 19:19] jin commented on #4807
SGTM.

[2018-03-08 20:26] davido commented on #4709
@cushon I added a workaround to use Java 9 `@Geberated` annotation and add the patch to the PR linked to this issue. Now I'm, able to build bazel with Java 9.

Trying to use it Bazel built that way with Java 9, I'm seeing something strange, the transitive dependency is not correctly detected, and build is aborted. SUT is my bazel_printy repository:

[code]

But, the `guava` dependency is already t

[2018-03-08 20:27] gregestren commented on #4714
I emptied out `srcs` just as a proof of concept for query / cquery. Since that should also empty out javac, I wouldn't expect that to build at all (when I `bazel build` with the same options as my last comment I get `/usr/bin/bin/javac: No such file or directory`).

What command did you run exactly? Do you see any diffs in `libexample-java.jar-2.params`, or are the diffs just in its inputs?

I'd e

[2018-03-08 23:08] zanes2016 commented on #3857
I'm also seeing this with `.../__main__/.#out.json` on Mac OSX with Bazel version 0.11.0

[code]

It works if I manually remove the file. However, I then have to manually remove that file before/after every build. `bazel clean` has the same affect: it must be run before/after every build.

[2018-03-08 23:13] akashgangil commented on #3857
Also seeing this issue,
`ERROR: Source forest creation failed: /home/jenkins/workspace/piran/master/origin/master/execroot/__main__/.git (File exists)
`
[code]
On ubuntu 16.04.3

[2018-03-08 23:35] benjaminp opened #4808 "standalone test strategy counts scheduling time against reported test processing time"
[code]

As you can see, the test timing stats are bogus, and I certainly don't deserve a warning about suspect incorrect timeouts.

The cause is that `StandaloneTestStrategy` reports the total time to schedule and execute the underlying spawn for both the `test_process_times` and `run_duration_millis` `TestResultData` fields. With the advent of `SpawnResult`, it should possible to extricate the tr

[2018-03-08 23:37] benjaminp commented on #1028
The fallback xml now includes a `duration` field, so I think this is fixed?

[2018-03-09 00:10] samertm opened #4809 "Platform-specific master bazel.rcs"
### Description of the problem / feature request:

Add platform-specific bazel.rc. E.g. when Bazel runs on a Windows host, it will load tools/bazel-windows.rc and tools/bazel.rc, running on Linux will load tools/bazel-linux.rc and tools/bazel.rc, etc.

### Feature requests: what underlying problem are you trying to solve with this feature?

On Windows, I need to build with the option "--output_use

[2018-03-09 02:09] nelsonjr opened #4810 "Fedora RPM fails to build"
### Description of the problem / feature request:

Building //scripts/packages/fedora:bazel fails

### Feature requests: what underlying problem are you trying to solve with this feature?

Attempting to build the Fedora RPM.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

    bazel build //scripts/packages/fedora:bazel

### What ope

[2018-03-09 04:35] jxy commented on #760
Why can't bazel simply respect my PATH?

Such was what I kept screaming to google until it led me to this issue.  When I set up my compiler tool chain, I expect the first cc and ld found in my PATH to be the working combination.  Yet bazel secretly used my cc and instructed my cc to pick a funny ld.

[2018-03-09 04:46] xgalaxy opened #4811 "Clang for Windows support"
### Description of the problem / feature request:

Setting env `CC` doesn't work on Windows and are thus unable to specify something other than an MSVC toolchain. I'd like to see support for 'clang' and 'clang-cl'.

### Feature requests: what underlying problem are you trying to solve with this feature?

To be able to use bazel on Windows to compile C/C++ programs with LLVM/Clang for Windows.

###

[2018-03-09 05:36] ronshapiro commented on #4467
Is this on the horizon? Is there a pointer to where this should be implemented?

[2018-03-09 08:12] davido opened #4812 "Java 9: Missing strict dependency is erroneously reported"
### Description of the problem / feature request:

Bazel built with Java 9 from HEAD, with this [PR](https://github.com/bazelbuild/bazel/pull/4795) applied, is reporting missing strict dependency. The reported missing dependency is in place.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

- Apply this [PR](https://github.com/bazelbu

[2018-03-09 09:19] laszlocsomor commented on #4582
Thanks @philwo for waiting! My PR was merged as https://github.com/bazelbuild/bazel/commit/b961b0ad6cc2578b98d0a307581e23e73392ad02, I'd love to have this in the RC.

[2018-03-09 09:20] laszlocsomor commented on #4582
Also, note to self and to @philwo: I'd like to write about https://github.com/bazelbuild/bazel/commit/b961b0ad6cc2578b98d0a307581e23e73392ad02 in the release notes.

[2018-03-09 09:58] meteorcloudy opened #4813 "Windows: Bazel should be able to build non-c++ rules when VC is not installed correctly"
Bazel currently can ignore VC configuration if VC isn't installed at all. But a wrong VC installation could block the configuration even when we don't need to build C++ rules.
See https://github.com/bazelbuild/migration-tooling/issues/85

[2018-03-09 09:59] laszlocsomor commented on #4813
/cc @davido

[2018-03-09 10:01] oswcab commented on #3602
Another workaround (when possible) is to disable IPv6.

[2018-03-09 10:03] #4755 closed

[2018-03-09 10:22] DmytroLapshyn commented on #3940
0.11 still seems to have it not fixed

[2018-03-09 10:32] davido commented on #4813
I agree with this approach but I would also mention that it could be hard to try to detect/ignore all possible currupted MSVC installations. And in context of another C++ based project: LibreOffice, we generally advice developers to always avoid messing around with multiple MSVC installations on the same Windows machine/VM. And we always tweaking this detection/ckecing machinery: https://github.co

[2018-03-09 10:35] laszlocsomor commented on #4809
@lfpino : WDYT?

[2018-03-09 10:42] mhlopko commented on #3592
Hi Jean, sorry for the silence. Is the only problem that bazel emits $EXEC_ORIGIN instead of $ORIGIN with your crosstool?

[2018-03-09 11:59] laszlocsomor commented on #4811
@meteorcloudy : WDYT? Is this feasible? Is this in scope?

[2018-03-09 12:04] davido commented on #4811
+1 for the feature request. LibreOffice does that: [1], Mozilla does that: [2] and that makes a lot of sense to offer such custom toolchain for Bazel.

[1] https://wiki.documentfoundation.org/Development/clang-cl
[2] https://developer.mozilla.org/en-US/docs/Mozilla/Developer_guide/Build_Instructions/Building_Firefox_on_Windows_with_clang-cl

[2018-03-09 12:07] meteorcloudy commented on #4811
@xgalaxy We have a different cc configure mechanism on Windows.

It would be great to have clang support on Window. And I believe Bazel itself already have all features for supporting it on Windows. But we need someone who have knowledge on how to write the CROSSTOOL. I can try to do that when I have time.

[2018-03-09 14:04] katre commented on #4810
I'm looking into this, the problem was introduced in 67c32d40dd42f54ee79fb532b61a4a9ad46f648b.

[2018-03-09 14:17] laszlocsomor commented on #4808
Assigning it to @aehlig, though frankly I doubt it's a UI bug. Klaus, if you're super busy, feel free to reassign (to me I guess).

@benjaminp , thanks for the detailed bug report! I don't think anybody owns this area, so if you happen to want to contribute a PR to fix it, I'd be happy to review. Otherwise I'm afraid this won't get fixed soon. :(

[2018-03-09 14:20] emcfarlane opened #4815 "py_binary doesn't automatically pick a Python runtime matching the requested version"
### Description of the problem / feature request:

Running `py_test()` and `py_binary()` rules under bazel doesn't select `python3` when only `srcs_version="PY3", default_python_version="PY3"` attributes are set on the rules. How do you specify python2/3 builds?

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

I wrote an integration

[2018-03-09 14:26] laszlocsomor commented on #4801
Hm, you're right, I just downloaded the zip file and computed sha256 on it, getting `a36bac432d0dbd8c98249e484b2b69dd5720afa4abb58711a3c3def1c0bfa21d`. /cc @kstanger

[2018-03-09 14:29] laszlocsomor commented on #4802
I think this is a reasonable request and I can't think of a good workaround.
Implementation shouldn't be too hard: the Bazel client should look up the --wsc's argument from the PATH.

@lfpino : can the bazel client do this -- what I just wrote in the prev. sentence -- especially considering bazelrc files?

[2018-03-09 14:31] laszlocsomor commented on #4803
@buchgr , @ola-rozenfeld , @nlopezgi : could you help me triage this please?

[2018-03-09 14:32] laszlocsomor commented on #4798
/cc @aehlig

[2018-03-09 14:33] laszlocsomor commented on #4687
/cc @jayconrod : WDYT about feasibility? (If you're not the right person to comment, please let me know!)

[2018-03-09 14:34] laszlocsomor commented on #4659
Can we close this?

[2018-03-09 14:42] philwo commented on #4659
Not yet, this is still broken.

[2018-03-09 15:10] lfpino commented on #4802
This issue reminds me of https://github.com/bazelbuild/bazel/issues/964.

About your idea Laszlo, --workspace_status_command is parsed in the server so I don't see how the client can inspect the argument.

Maybe the solution is to bundle a platform-independent workspace_status_command in Bazel as suggested in https://github.com/bazelbuild/bazel/issues/964 and make it the default value of the flag.

[2018-03-09 16:09] jfroy commented on #3592
It's not clear at all to us how we can craft a CROSSTOOL that will allow, say, `bazel test` to work without having to specify our runtime libraries as a data dependency. That's our current workaround, using custom cc rules for all our targets. It's not ideal, since we now have custom rules implicitly adding a dependency on a specific crosstool.

Our CROSSTOOL's BUILD file looks something like this

[2018-03-09 16:39] derekmauro opened #4819 "`bazel version` build time string is incorrect"
[code]

The line `Build time: Tue May 14 07:48:23 +50148 (1520362424903)` is wrong. The problem seems to stem from the computation confusing seconds with milliseconds.

[code]

[2018-03-09 16:40] ola-rozenfeld commented on #4803
I'm having a problem reproducing this -- is the error printout from the server/jvm.out log, or the console? I tried to compile hello-world with HEAD with remote execution, and interrupt it in the middle of compile.

[2018-03-09 18:23] cushon commented on #4812
This is effectively a duplicate of #3410.

In particular, see:
* https://github.com/google/error-prone-javac/commit/9901a45ff63c1d7bc9263007147dc866272b7fdc
* https://github.com/bazelbuild/bazel/blob/9b79b00107949194911fba11a805fe0eb81fcb38/tools/jdk/default_java_toolchain.bzl#L32

[2018-03-09 18:23] #4812 closed

[2018-03-09 18:59] ajrepp commented on #4819
Seems related to #4469.

[2018-03-09 22:10] davido commented on #4812
@cushon Thanks for the pointer. What is your recommendation to fix strict dependency problem when https://github.com/bazelbuild/bazel/pull/4795 (or equivalent) is merged and we sorted out gRpc issue? Do we really need to patch javac in Java 9 for strict dependency to work properly?

[2018-03-09 23:10] oscar-stripe commented on #3701
what's the story here? This has become import for us. Any news?

@dslomov @cgrushko ?

[2018-03-09 23:13] oscar-stripe commented on #3701
PS: it seems like we can consume the provider via skylark: https://docs.bazel.build/versions/master/skylark/lib/ProtoSourcesProvider.html but I don't see how we can create a provider.

Context: we would like to download some protobuf descriptors in a repository rule and consume them in the current repo. We can download the providers, but we have no way to get them back as consumable by proto_libra

[2018-03-09 23:16] cgrushko commented on #3701
@iirina

[2018-03-10 13:01] davido commented on #4812
I'm asking, because for now, strict dependency is the last unresolved issue for building Bazel and Gerrit Code Review eco-system with Java 9 (Bazel, Gerrit, JGit and Gitiles).

There are two known workarounds for this problem:

- Pass `--strict_java_deps=OFF` to diable strict java deps feature
- Dynamically detect the Java runtime and disable that feature, because we do know, it doesn't work: [1]

[2018-03-10 16:28] ola-rozenfeld commented on #4767
PTAL at https://docs.google.com/document/d/12c3oAPgedckLpue2yj0xGgJTEOyUm4mXWWBJ157J-8I/edit#heading=h.sg3la2izb6yt to address both this and https://github.com/bazelbuild/bazel/issues/4766
Thank you!

[2018-03-10 19:54] ittaiz opened #4821 "[Feature Request] Add a new "non-transitive" java strict deps enum value"
### Description of the problem / feature request:

Add a new `strict_java_deps` value- "non-transitive"
### Feature requests: what underlying problem are you trying to solve with this feature?

The underlying problem I'm trying to resolve is that `ijar` is less than optimal for scala code which means using strict-deps as it's used in java rules (always pass the full transitive classpath as inputs)

[2018-03-11 01:11] jin opened #4822 "java.lang.IllegalAccessException when calling path methods in a repository_rule ctx"
### Description of the problem / feature request:

In a `repository_rule` implementation, calling methods on a `path` resolved by `repository_ctx.path()` throws an `IllegalAccessException`.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

In `repro.bzl`,

[code]

In `WORKSPACE`,

[code]

Then, run `bazel fetch @repro//...`. This shou

[2018-03-11 01:12] jin commented on #4822
cc @laurentlb

[2018-03-11 05:32] rtsai opened #4824 ""bazel --batch" and "bazel shutdown" seem to invalidate cached action_listeners"
### Description of the problem / feature request:

Issuing any of "bazel shutdown" or  "bazel --batch" seem to cause action listeners to be unnecessarily re-executed even though compiles are not re-executed.

### Feature requests: what underlying problem are you trying to solve with this feature?

N/A

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal examp

[2018-03-11 05:39] rtsai commented on #4824
[foo.tar.gz](https://github.com/bazelbuild/bazel/files/1800081/foo.tar.gz)

[2018-03-11 13:08] erickj opened #4825 "conflicting documentation re: naming standards of externally hosted java dependencies and requests for comments"
while this issue may be a discussion starter appropriate for bazel-discuss@ it seems more appropriate as a github issue since it's due to claims made in https://github.com/bazelbuild/bazel/blob/master/tools/build_defs/repo/java.bzl vs public documentation.

*tldr; bazel/tools/build_defs/repo/java.bzl actively contradicts public documentation*

`java_import_external` claims to be replacing maven_ja

[2018-03-11 15:50] davido commented on #4825
There are currently a number of out of the box ways in Bazel to consume external dependencies:

- Native `maven_jar` rule
- Skylark based `maven_jar` rule:

[code]

- Skylark based `java_import_external` rule:

[code]

I would expect that all three different rules provided by Bazel are compatible with each other. This is currently not the case.

This unnecessary complicates the integration of diff

[2018-03-11 22:52] davido commented on #4798
This seems to e a known issue and was already commented [here](https://github.com/bazelbuild/bazel/commit/7a7c41d7d342cd427e74f091b55690eed13e280d#r23873813). And it looks like the implementation of #308 was not completed yet.

I believe, it is not sufficient to extend the backend implementation (`MavenDownloader.java`) to download the source JAR, without actually extending the interface of `maven

[2018-03-11 23:48] erickj commented on #4825
Thanks @davido

In writing a reply to you I've realized that I'm simply rediscovering suggestions that have already been made in this very long thread on deprecating bind:

https://github.com/bazelbuild/bazel/issues/1952#issuecomment-272222888

which became sidetracked primarily in a discussion on standardizing naming conventions betwen @jart and @johnynek where I believe the conversation on maven

[2018-03-12 07:09] tianshilei1992 commented on #4794
Hi @laszlocsomor, in order to verify whether there is issue in the rules, I built a toy project, which only depends on the external library. Here is the project files structure:

[code]

The contents in those relative files are:

[code]

[code]

[code]

where the `//third_party/mkl:intel_binary_blob` is same with those in #1.

Now build the project via `bazel build //:main`, it is ok.

[code]

And

[2018-03-12 08:16] laszlocsomor commented on #4659
Thanks Philipp! Do you know who's working on it?

[2018-03-12 08:22] laszlocsomor commented on #4802
@lfpino :

Can we change that? I mean can we parse the args in the client and if the argument starts with `--workspace_status_command=` or it's equal to `--workspace_status_command` then parse the path from it / from the following arg?

Alternatively, the server needs to know `clientEnv["PATH"]` to look up the path. I don't know if the server's options parser has access to the clientEnv. @lfpino ,

[2018-03-12 10:24] laszlocsomor commented on #4802
Luckily, all the machinery is in place: https://github.com/bazelbuild/bazel/blob/658662136e65f54f93a0c81c7fb78dd6b46b55a6/src/main/java/com/google/devtools/build/lib/bazel/BazelWorkspaceStatusModule.java#L102-L113

This is where Bazel creates the Command to run the WSC. The `clientEnv` is already there, so Bazel could just look up the binary from `clientEnv[PATH]`.

[2018-03-12 11:05] driveraid opened #4827 "Bazel does not forward cc_binary arguments to the .stripped target"
### Description of the problem / feature request:

Bazel does not forward arguments specified in the `cc_binary` `args` parameter in the implicit stripped target.

### Feature requests: what underlying problem are you trying to solve with this feature?

Easily deploy production binaries containing specified arguments.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provid

[2018-03-12 11:52] lfpino commented on #4809
@cvcal and @aj-michael can probably say more about this than me.

[2018-03-12 12:07] LanYangXiXi opened #4828 "bazel can't build tensorflow successfully"
### Description of the problem / feature request:

I use bazel 0.11.0 to build tensorflow 1.3.0, but it comes

ERROR: /home/nvidia/.cache/bazel/_bazel_nvidia/d2751a49dacf4cb14a513ec663770624/external/io_bazel_rules_closure/closure/stylesheets/closure_css_library.bzl:27:13: The function 'set' has been removed in favor of 'depset', please use the latter. You can temporarily refer to the old 'set' co

[2018-03-12 13:54] philwo commented on #4582
This looks like a good baseline to me: https://github.com/bazelbuild/bazel/commit/b33e5afa313322a7048044c44d854cbb666b988e

[2018-03-12 13:55] philwo commented on #4582
[code]

[2018-03-12 14:57] xcv9685 opened #4829 "How can I gdb tfcompile by using bazel build?"
tfcompile is a binary file to compile an inference graph into executable code for tensorflow XLA which created by bazel build.
If I want to gdb tfcompile file on ubuntu 16.04, it will return message

    Reading symbols from /PWD/tfcompile...(no debugging symbols found)...done.

It seem that should make bazel compile with something flag like -g?
I have tried to use

    bazel build XXX --compilati

[2018-03-12 15:09] #4810 closed

[2018-03-12 15:16] jayconrod commented on #4687
I'm not directly familiar with `--java_debug`, but from the help text, it sounds like this expands a few flags: `--test_arg=--wrapper_script_flag=--debug --test_output=streamed --test_strategy=exclusive --test_timeout=9999 --nocache_test_results`. The Java test runner must know what to do with `--wrapper_script_flag=--debug`. That would be pretty simple to setup in the Go test runner.

In general,

[2018-03-12 16:40] joshburkart commented on #3517
At the very minimum, I need to be able to have a single codebase with both Python 2 and Python 3 code, and then manually specify in the individual test/binary which interpreter to use. Is this possible somehow? A temporary workaround would be fine. A global flag is unsuitable, since I need to be able to do e.g. `bazel test //...`.

(This is in particular necessitated by **Google-developed** Python

[2018-03-12 17:02] laszlocsomor commented on #4770
Sorry about the silence!

Do you also see different binaries if you `bazel build //third_party/ijar` on various machines, or is it only when building using `./compile.sh`? If the former, then the cc_* rules might be non-deterministic on Mac -- that'd be bad. If the latter, then just compile.sh might be non-deterministic. Still bad, but not less so.

[2018-03-12 17:24] jmillikin-stripe commented on #4770
I've been helping Grzegorz debug this a bit. We've seen different ijar SHA1s from `bazel build //third_party/ijar` on various MacOS machines. The SHA1 is consistent when built on the same machine, which makes me think the issue is somewhere in the XCode toolchain. It's possible that there's some machine- or installation-specific identifier being embedded.

[2018-03-12 18:14] philwo commented on #4582
Release has been successfully cut, branch has been pushed (https://github.com/bazelbuild/bazel/tree/release-0.12.0) and I managed to convince Buildkite to build our release artifacts with the correctly embedded version number:

https://buildkite.com/bazel/release/builds/20

Tomorrow I'll work on the release scripts to finish the Buildkite support and will then do the rest of the release process (v

[2018-03-12 18:28] jmillikin-stripe commented on #4770
I built ijar on my corp and personal laptop, and verified Apple's Clang is generating different object code and linking options on different machines at the same compiler major version. Some of this is probably due to the OS version skew, but it's evidence that the binaries are far more machine-dependent on MacOS than they are on Linux.

Notably, the Clang on my personal laptop seems to be linking

[2018-03-12 19:20] buchgr commented on #3517
@lberki can you take this please?

[2018-03-12 19:29] davidstanke commented on #1294
Closing this; see #3796 for a more recent discussion of this same issue, with explanation for why it happens.

[2018-03-12 19:29] #1294 closed

[2018-03-12 19:33] helenalt commented on #169
Re-triaged, still a P3

[2018-03-12 19:36] helenalt commented on #372
@gregestren are you still the right assignee for this issue?

[2018-03-12 19:37] davidstanke commented on #242
Reprioritized to P4

[2018-03-12 19:40] philwo commented on #4801
Any idea why the hash changed?

[2018-03-12 19:44] davidstanke commented on #1047
Update: the error no longer says "blaze."

[2018-03-12 19:45] helenalt commented on #1055
@ahumesky is this still in progress (and P1)?

[2018-03-12 19:47] davidstanke commented on #718
@iirina is this still an issue as of v.0.12?

[2018-03-12 19:53] helenalt commented on #982
@cvcal this seems related to #592, could you see if it needs to be incorporated into a solution proposed in  #4502. If so, let's close this bug and reference the one that has a proposal.

[2018-03-12 19:55] helenalt commented on #1379
@meteorcloudy is this still an issue and is P3 accurate?

[2018-03-12 19:57] helenalt commented on #1096
re-triaged, seems accurate issue/priority

[2018-03-12 19:58] davidstanke commented on #622
@dslomov -- can you comment on how this relates to the deps work you're doing? (And close this bug if it's no longer useful)

[2018-03-12 20:00] helenalt commented on #953
@jmmv if alias solves the problem is there anything else to do here or should this issue be closed?

[2018-03-12 20:44] dws-uber commented on #4680
I see much the same thing with an `sh_test` tagged with `no-cache` using bazel-0.11.1.

[2018-03-12 20:52] ahumesky commented on #1055
Yes, for example we've put the tools for android_device and android_instrumentation_test in separate repositories. We're moving the rest of the rules to skylark, and once those are ready we'll move the tooling out of bazel.

[2018-03-12 20:55] jmillikin-stripe commented on #4770
On some machines, Bazel invokes the linker with `-fobjc-link-runtime`. This is coming from CROSSTOOL, some machines have `action_config { name: "c++-link-executable" implies: "contains_objc_source"}` and others don't.

I looked a little bit at the CROSSTOOL generator but it doesn't seem to be doing anything obviously wrong.

[2018-03-12 21:28] gregestren commented on #372
This was fixed by https://github.com/bazelbuild/bazel/commit/291032ae5dd7776422d692298d36d3dae96b39ed#diff-dc563e4148084671f7d953e1fee35737.

[2018-03-12 21:28] #372 closed

[2018-03-12 23:07] jmillikin-stripe commented on #4770
I think I've found the root cause: my work laptop doesn't have Xcode installed, which makes Bazel think it's not using Apple's toolchain. Some unknown set of MacOS-specific options are not being set in CROSSTOOL, but compilation seems to work fine for c/c++ stuff.

Here's the output of `xcode-select` and Bazel's Xcode locator tool on my laptop:
[code]

[2018-03-13 00:13] benjaminp commented on #4691
FWIW, Bazel doesn't work at all without a C++ compiler on the system:
[code]

[2018-03-13 00:53] jin commented on #242
I think this is fixed? Bash completion works on the toplevel package now.

[2018-03-13 01:48] xzy256 opened #4834 ""bazel build -c dbg //tensorflow/core/kernels:matmul_op_test" occur error"
I executed `bazel build -c dbg //tensorflow/core/kernels:matmul_op_test` ,  i got error . My bazel version is `0.11.1`, it is bigger than `0.4.5`. Why do i get error `Closure Rules requires Bazel >=0.4.5 but was 0.11.1`? The log trace as follow.

[2018-03-13 07:44] ulfjack commented on #4691
That's true, and we should fix that independently of this problem. I'd rather not add another dependency on having a C++ compiler available.

[2018-03-13 07:51] laszlocsomor commented on #4770
@jmillikin-stripe : thanks for your debugging efforts!
/cc @c-parsons @rupertks -- does this look familiar?

[2018-03-13 07:52] zhongleiwang opened #4836 "bazel should have better support of proxy"
### Description of the problem / feature request:
bazel doesn't read and configure properly when downloading maven and downloading go protos.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

I can reproduce the problem by building kythe (http://kythe.io)
bazel build //kythe/release

Our network is behind proxy so traffic has to go th

[2018-03-13 07:52] laszlocsomor commented on #4691
+1

I'd give another +1 if I weren't out of them already.

[2018-03-13 08:02] laszlocsomor commented on #4801
They may have force-pushed a new version.
This is what @kstanger wrote to me:

[2018-03-13 09:37] iirina commented on #718
According to 55828e256af4fe04e95f1c342a73d649d8525435 this should be fixed.

[2018-03-13 09:37] #718 closed

[2018-03-13 11:41] ahippler commented on #4691
python is already required as per documentation:
[https://docs.bazel.build/versions/master/install-ubuntu.html#1-install-required-packages](ubuntu)
[https://docs.bazel.build/versions/master/windows.html#software-requirements](windows)

[2018-03-13 13:59] #4801 closed

[2018-03-13 14:27] cvcal commented on #982
IIUC, I don't think it's the same issue - this has to do with a path accessed during the installation of bazel, not during every run thereafter. It's already possible to pass a bazelrc to bazel help, with the `--bazelrc` flag, so my guess is this issue is specific to the installer.

[2018-03-13 14:30] cvcal commented on #982
@philwo, I think, knows more about the installer. Do you think Kristina's solution is still applicable?

[2018-03-13 14:34] laszlocsomor commented on #4691
@ahippler : Like with C++, that's true and we should fix that independently of this problem. In fact it'd be best if Bazel would only require toolchains that it needs for the build, i.e. if you don't build Python rules then Bazel shouldn't require a Python installation.

Only exception (if you could call it an exception) should be Java: the JDK is always available because we bundle one with Bazel,

[2018-03-13 14:58] illicitonion commented on #4766
(Ugh, apparently I don't get notifications for issues here for some reason... Sorry for the delay!)

@ola-rozenfeld These blocks are much less clear: https://github.com/googleapis/googleapis/blob/master/google/devtools/remoteexecution/v1test/remote_execution.proto#L306-L335

Because `"/"` is an expected value, it implies that these may not be expected to be the same.

Are you happy to make `""` th

[2018-03-13 15:03] illicitonion commented on #4766
Oh, I see that this was all addressed on https://github.com/bazelbuild/bazel/issues/4767 and in https://docs.google.com/document/d/12c3oAPgedckLpue2yj0xGgJTEOyUm4mXWWBJ157J-8I/edit#heading=h.sg3la2izb6yt - all sounds good to me :) Thanks!

[2018-03-13 15:03] illicitonion commented on #4767
LGTM

[2018-03-13 15:04] cvcal commented on #4502
At this point the list is looking like the following, in load order:

- global: `/etc/bazel.bazelrc`. (modifiyable at compile time for platforms that don't like `/etc/`), turn this off with `--[no]global_bazelrc`
- per-workspace: `$WORKSPACE/.bazelrc`, turn this off with `--[no]workspace_bazelrc`
- per-user: `$HOME/.bazelrc`, turn this off with `--[no]user_bazelrc`
- user-specified: `--bazelrc` (t

[2018-03-13 15:17] davido commented on #4502
What about backwards compatibility? Gerrit currently uses `tools/bazel.rc` and I would expect that this place remains supported, even after transition to more standard location `$WORKSPACE/.bazelrc`.

[code]

[2018-03-13 15:20] buchgr opened #4838 "remote/performance: support HTTP/2.0 for remote caching"
Bazel's remote caching protocol currently opens roughly as many TCP connections as there are concurrent actions running. It does use a connection pool, but it's still quite a lot of connections that can overwhelm a backend. We should transparently support HTTP/2.0 so that Bazel can use it if the backend does. GCS supports HTTP/2.0 too.

[2018-03-13 15:24] buchgr opened #4839 "remote/performance: don't construct a merkle tree for remote caching"
Remote caching doesn't benefit from constructing a merkle. Some users reported significant performance overheads from constructing the merkle tree. We might just want to compute the hash of the list of input file hashes instead.

cc: @benjaminp

[2018-03-13 15:26] ittaiz commented on #4502
Does this mean that per user completely cancels out per workspace?
On Tue, 13 Mar 2018 at 17:17 David Ostrovsky <notifications@github.com>
wrote:

[2018-03-13 15:34] cvcal commented on #4502
We want Bazel 1.0 to have this issue resolved, so we won't maintain backwards compatibility forever. Part of the problem here is that these files are loaded in a confusing, inter-dependent way, and having "check `$WORKSPACE` and if that doesn't work check `$WORKSPACE/tools`" logic does seem to contradict that purpose. It's also pretty easy to make a `WORKSPACE/.bazlerc` file that contains exactly

[2018-03-13 15:48] drigz commented on #4502
Perhaps Bazel 0.x could keep the current behaviour, but warn if `tools/bazel.rc` is loaded without the presence of `import %workspace%/tools/bazel.rc` in `%workspace%/.bazelrc`?

Alternatively, Bazel 1.0 could print a warning if it finds a `tools/bazel.rc` but doesn't load it.

[2018-03-13 16:13] jin commented on #4663
@buchgr ping, is this a problem with external repositories? The NDK external repository is a directory of symlinks to a local path.

This test has been disabled for 3 weeks now and I'd like to help debug to get it back up again.

[2018-03-13 17:28] steeve commented on #3923
Hum, it seems `libc++_static.a`, `libandroid_support.a` are not part of the generated CROSSTOOL, which creates linking issues when the sandbox is enabled. Test on today's `master`.

cc @jin

[2018-03-13 17:32] steeve commented on #3923
But actually I do see them in the `deps` graph of the toolchain, which is weird. But when listing the files via `@bazel_tools//tools/cpp:current_cc_toolchain` or `//tools/defaults:crosstool` I don't see them listed.

I think basically all the files in `<NDKROOT>/sources/cxx-stl/llvm-libc++/libs/<ARCH>/`:
[code]

[2018-03-13 17:36] jin commented on #3923
Are you building the `cc_library` dep by itself, or through an `android_library` transition? Building the `cc_library` by itself defaults to using the host CROSSTOOL that doesn't include the NDK libraries.

[2018-03-13 17:38] steeve commented on #3923
@jin I'm running a custom link rule that calls the native `ld_executable` with its args. It seems the STATIC and DYNAMIC filegroups are not declared as outputs to the toolchain by itself. Should I declare that filegroup too?

[2018-03-13 17:40] steeve commented on #3923
My rules is declaring this as an implicit dependency:
[code]

The uses it as input for a `ctx.actions.run` command.

[2018-03-13 17:42] cvcal commented on #4502
Absolutely, there'll be warnings either before/after the change or both. Not sure it'll be exactly at the 1.0 mark, but it will be around one of the major (monthly) releases and will be clearly communicated.

What I want to avoid is reading both files, since that is neither the previous state nor the new state, and we don't want anyone relying on some sort of in-between compromise. I realize that

[2018-03-13 17:45] jin commented on #3923
Can you please try

        "_crosstool": attr.label(default = Label("//external:android/crosstool")),

instead? `//tools/defaults:crosstool` is not the NDK CROSSTOOL.

[2018-03-13 17:46] steeve commented on #3923
@jin i'm starting bazel with:
[code]

[2018-03-13 18:13] aj-michael commented on #4663
Perhaps this is due to the fact that the test has an input that is a filegroup that contains a directory:

https://source.bazel.build/bazel/+/master:src/main/java/com/google/devtools/build/lib/bazel/rules/android/android_ndk_build_file_template.txt;l=22?q=android_ndk

[2018-03-13 18:48] ben-clayton commented on #4734
Hi folks.

Are there any updates on this bug?

It's a bit of a scary one that's putting [us](https://github.com/google/gapid) off developing on Windows as we're uncertain whether our builds are taking changes. If there's anything we can do to help move this along, please let me know.

Cheers,
Ben

[2018-03-13 18:57] philwo commented on #4663
@aj-michael Yes, I remember that directory inputs are very very problematic. They cannot be cached, the sandbox may fall over its own feet, Bazel has no clue when stuff inside that directory changes...

Is there any way we could get rid of that directory filegroup? Maybe replace it with a glob?

[2018-03-13 19:05] jin commented on #4663
Thanks @aj-michael @philwo, let me try switching it to a glob.

[2018-03-13 19:08] jmmv commented on #953
I have no idea if it's sufficient nor I have had a chance to validate, but I'll trust @bsilver8192's latest update for now. If we get more data otherwise we can always reopen in the future.

[2018-03-13 19:08] #953 closed

[2018-03-13 19:49] aj-michael commented on #4663
@philwo - my understanding is that directory inputs are something that is (unfortunately) supported in Bazel for historical reasons. Does remote caching not work with it at all? If so, I suspect there will be other users who are broken.

Also, I wonder why our SDK integration tests do not have this problem. They have a glob with exclude_directories = 0:

https://source.bazel.build/bazel/+/master:t

[2018-03-13 19:52] jin commented on #4663
For example, the NDK contains many paths with the string `c++`, and a few with `!`.

[2018-03-13 19:54] philwo commented on #4663
@ulfjack for advice. Not sure how to proceed then :(

@buchgr Can we mark individual tests as uncachable?

[2018-03-13 20:05] jin commented on #4663
There's the `no-cache` tag: https://docs.bazel.build/versions/master/remote-caching.html#exclude-specific-targets-from-using-the-remote-cache

However, I tried marking the integration test with this tag and it's still failing with the same error. Maybe it's not doing what I think it's doing?

[2018-03-13 21:34] cvcal commented on #4809
I'm trying to address the variety of bazelrc concerns in  https://github.com/bazelbuild/bazel/issues/4502#issuecomment-372697374. The "global" rc should allow platform-specific flags to be kept separate from the workspace-level options that are the same regardless of platform. /etc/ would be where this path lives for linux, but will be modifiable for other platforms using preprocessor macros (our

[2018-03-13 21:57] samertm commented on #4809
That would be a reasonable workaround, though Windows doesn't have a system-wide Bazel path defined yet: https://github.com/bazelbuild/bazel/blob/f74f9fecbdcccd49dbc4b8924a9aac7f913c7702/src/main/cpp/blaze_util_windows.cc#L232

Assuming we add a Windows path there, then we can require our Windows devs to set their config up correctly.

[2018-03-13 23:21] rtsai commented on #3961
Attached a sample workspace demonstrating the issue
[clang_gcc.tar.gz](https://github.com/bazelbuild/bazel/files/1809020/clang_gcc.tar.gz)

[2018-03-13 23:25] jin commented on #3923
@steeve do you mind creating a new issue with a minimal repro example, please? It'll help me to understand how you're writing the custom rule.

[2018-03-14 01:37] cvcal commented on #4809
Well, yes, I'm not saying this is possible at the moment, otherwise the other issue wouldn't be open. It sounds like we agree that the work proposed in issue #4502 will address the platform-specific concern mentioned here, so I'll close this as duplicate. Thank you!

[2018-03-14 01:37] #4809 closed

[2018-03-14 02:44] benjaminp opened #4840 "reject symlink outputs from cachable actions"
The remote caching protocol doesn't know about symlinks, and the remote spawn strategy currently converts all symlink into regular files when uploading to the cache. This behavior is insidious because local execution preserves symlinks. So, local and remote execution may yield different results if symlinks are involved:
[code]
Handling symlinks in remote caching seems tricky. (What if the link tar

[2018-03-14 05:25] mmorearty opened #4842 "Enhancement request: Warn if `stamp = True` is used with no other input files"
### Description of the problem / feature request:

It is a feature, not a bug, of build-stamping (genrule `stamp = True`) that the genrule will only be re-executed if one of the input files _other_ than `bazel-out/volatile-status.txt` has changed.

This is a good feature; but it is subtle, and seems to be something that a lot of people miss. One example, apparently from within Google: See step 3 u

[2018-03-14 07:50] laszlocsomor commented on #4809
For Windows, I think [`SHGetKnownFolderPath`](https://msdn.microsoft.com/en-us/library/windows/desktop/bb762188(v=vs.85).aspx)`(`[`FOLDERID_ProgramData`](https://msdn.microsoft.com/en-us/library/windows/desktop/dd378457(v=vs.85).aspx)`, ...)` would work well.

[2018-03-14 08:24] meteorcloudy commented on #1379
This bug was filed originally by @philwo internally. I think it's already obsolete. I'm closing this.

[2018-03-14 08:24] #1379 closed

[2018-03-14 08:38] laszlocsomor commented on #4734
I'll take a look at this right now. It sounds like a correctness bug.

[2018-03-14 10:01] buchgr opened #4844 "remote/feature: support AWS S3 as a remote caching backend"
We have heard from many users who want to use AWS S3 as a remote caching backend for Bazel just as they currently do with Google Cloud Storage. This is useful when running inside Travis or CircleCI (https://github.com/notnoopci/bazel-remote-proxy) as these SaaS products already run inside AWS.

From skimming over the AWS S3 API documentation it seems that the APIs are mostly compatible, except for

[2018-03-14 10:06] laszlocsomor commented on #4734
I found the reason for this on https://msdn.microsoft.com/en-us/library/windows/desktop/ms724284(v=vs.85).aspx:

[2018-03-14 10:20] buchgr opened #4845 "remote/performance: support rsync compression"
I have a prototype implementation of rsync compression for Bazel's remote cache. The idea is that for incremental builds the rsync algorithm determines deltas between Bazel's local output's from a different source state and remote outputs and only fetches these deltas from the remote side using http content-range headers.

In early experiments we are seeing up to 90% reduction in required download

[2018-03-14 10:29] ittaiz opened #4846 "Strict deps infraction passes when it should fail- regression in 0.12.0-RC1"
### Description of the problem / feature request:

Bazel 0.12.0-RC1 (built from https://github.com/bazelbuild/bazel/commit/b33e5afa313322a7048044c44d854cbb666b988e) passes a strict deps infraction using rules_scala scala_import when it correctly fails it on 0.11.1

`BUILD.bazel`:
[code]
### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[2018-03-14 10:29] ittaiz commented on #4846
cc @dslomov this is the issue we talked about

[2018-03-14 11:15] #4813 closed

[2018-03-14 11:50] steeve commented on #3923
@jin there you go: https://github.com/steeve/bazel_libcpp_android_issue
Just do:
[code]

[2018-03-14 11:54] steeve commented on #3923
If I add `//external:android/crosstool` as a `src`, then somehow I see `gnu-libstdc++` files too.

[2018-03-14 12:01] buchgr commented on #4846
cc: @philwo

[2018-03-14 12:04] philwo commented on #4582
This seems like a potential release blocker: https://github.com/bazelbuild/bazel/issues/4846

[2018-03-14 12:14] laszlocsomor commented on #4582
https://github.com/bazelbuild/bazel/issues/4734 is also a potential blocker, though I doubt it's a regression.

[2018-03-14 12:24] laszlocsomor commented on #4582
@philwo : where can we download the RC1 binary?

[2018-03-14 12:31] meteorcloudy commented on #4828
@LanYangXiXi Yes, you should choose a newer version of TensorFlow or use an older version of Bazel.
Bazel is just a binary on your machine. If you installed bazel via `sudo apt-get install bazel`, you can do `sudo apt-get remove bazel`, otherwise just delete the Bazel binary.

[2018-03-14 12:33] laszlocsomor opened #4847 "windows: Bazel built at head always restarts the server"
### Description of the problem / feature request:

Bazel built at current HEAD (https://github.com/bazelbuild/bazel/commit/48e205a19bed1cccaa51c7bbfbef6c2fbe47e3de) always restarts the Bazel server.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[code]

[code]

### What operating system are you running Bazel on?

Windows 10

### Wh

[2018-03-14 12:33] laszlocsomor commented on #4847
/cc @cvcal

[2018-03-14 12:40] laszlocsomor commented on #4582
Another possible blocker: https://github.com/bazelbuild/bazel/issues/4847
I'm looking for its culprit now.

[2018-03-14 13:03] ulfjack commented on #4663
I have a partial change to properly support directory inputs, but haven't had time to finish it.

Unfortunately, due to a change by @ola-rozenfeld, the ```no-cache``` flag still uploads to the remote cache. @buchgr has a proposal for fixing that, but hasn't had time to work on it.

[2018-03-14 13:06] ulfjack commented on #4663
It's change https://bazel-review.googlesource.com/c/bazel/+/29872 - it's incomplete because it's not returning the correct metadata and it's not adding the metadata to the MetadataHandler.

That said, even with that change, I think it'll still require a patch to RemoteSpawnCache / RemoteSpawnRunner.

[2018-03-14 13:07] laszlocsomor commented on #4847
Ironically the culprit seems to be one of my commits: c2b332b45e6ea41a14ecbd3c5f30782bcdeec301.
I'll roll it back and investigate.

[2018-03-14 13:11] philwo commented on #4582
@laszlocsomor You can download the binaries here: https://buildkite.com/bazel/release/builds/20 (check the "Artifacts" tab for each platform).

I'm right now working on getting it out via the usual channels as well.

[2018-03-14 13:11] laszlocsomor commented on #4847
Even more ironically and sadly, the `//src/test/py/bazel:bazel_server_mode_test` passes at this commit.

[2018-03-14 13:16] ola-rozenfeld commented on #4663
Jakob told me yesterday he is actually working on this right now.

[2018-03-14 13:26] philwo commented on #4847
Do we have to cherrypick the rollback into 0.12.0?

[2018-03-14 13:26] laszlocsomor commented on #4847
Yes we do. Thanks!

[2018-03-14 13:28] buchgr commented on #4663
There's a workaround that will let us enable it.Instead of using `--experimental_remote_spawn_strategy`, we can use `--spawn_strategy=remote --genrule_strategy=remote --strategy=Javac=remote --strategy=Closure=remote` and then tag the test with `no-remote`. I just tested it. Works.

[2018-03-14 13:49] laszlocsomor commented on #4734
[@aj-michael 's comment](https://github.com/bazelbuild/bazel/issues/4734#issuecomment-370509886) is relevant: apparently on both Windows and Linux, Bazel creates `bazel-bin/test_merged/test/AndroidManifest.xml` with mtime=0, but while on Linux the file has a nonzero ctime, the WindowsFileSystem returns the mtime as the ctime, so the file seems to never change, and that's why Bazel doesn't reexecut

[2018-03-14 14:06] laszlocsomor commented on #4734
Apparently the Android rules set the mtime to 0 on purpose:
https://github.com/bazelbuild/bazel/blob/d6a98282e229b311dd56e65b72003197120f299a/src/tools/android/java/com/google/devtools/build/android/AndroidResourceOutputs.java#L302-L303

There are 4 more occurrences of `setLastModifiedTime`.

[2018-03-14 14:15] aj-michael commented on #4734
Cc @corbinrsmith-work

[2018-03-14 14:30] Steve-Munday commented on #4838
I would love to see this.  I am running builds in Circle CI and implemented Remote caching using GCS as the back end.  Circle CI runs in AWS.  I posted about this in (bazel-discuss)[https://groups.google.com/d/msg/bazel-discuss/1QetqWCjZFI/izCeo3W-AAAJ].

The performance benefit from adding the remote cache was cancelled out by the network overhead of fetching 5000+ files from GCS.  I turned it of

[2018-03-14 14:32] philwo commented on #4663
@buchgr I think your change accidentally disabled sandboxing on all platforms, as the RemoteSpawnRunner uses the normal LocalSpawnRunner as its fallback.

[2018-03-14 14:33] laszlocsomor commented on #4734
Unfortunately commenting out those lines doesn't solve the problem. Let me keep looking for the culprit.

[2018-03-14 15:05] laszlocsomor commented on #4734
Ok, this *was* the culprit after all, I just didn't comment out occurrences of `setLastModifiedTime` in other files. :) I'll send a PR shortly.

[2018-03-14 15:24] laszlocsomor commented on #4847
https://github.com/bazelbuild/bazel/commit/369409995bd75eeb0683fd24f7585d2a90320796 is merged, closing.

[2018-03-14 15:24] #4847 closed

[2018-03-14 15:25] laszlocsomor commented on #4582
Please cherrypick https://github.com/bazelbuild/bazel/commit/369409995bd75eeb0683fd24f7585d2a90320796 to fix
https://github.com/bazelbuild/bazel/issues/4847.

[2018-03-14 15:25] buchgr commented on #4838
I think you commented on the wrong issue :-)

[2018-03-14 15:29] laszlocsomor commented on #4734
@philwo, heads-up that we'll need to cherrypick this into 0.12.0 too (https://github.com/bazelbuild/bazel/issues/4582).

[2018-03-14 15:44] buchgr opened #4849 "//src/test/shell/bazel:bazel_determinism_test is given too short a timeout on macOS"
https://buildkite.com/bazel/bazel-bazel/builds/711#e8dcaba1-ff40-423c-b766-f2f567e7e9a5

See also https://github.com/bazelbuild/bazel/issues/4770

[2018-03-14 15:59] katre opened #4850 "Remove global bazelrc from Bazel distribution packages"
After a lot of discussion, we've decided that the existing global bazelrc file (https://source.bazel.build/bazel/+/369409995bd75eeb0683fd24f7585d2a90320796:scripts/packages/bazel.bazelrc) is not helpful for both general users, and is causing issues with remote execution in many cases.

See #4475 for an example. This will probably impact #4502 .

The best solution is to remove the global bazelrc en

[2018-03-14 15:59] katre commented on #4475
This should be fixed by #4850.

[2018-03-14 16:06] Steve-Munday commented on #4838
Not sure that I did?  Maybe I misunderstood your feature request.  I was just providing my real-world example.

I tried to use Bazel Remote Cache and found that the network latency between AWS <--> GCP was enough to cancel out any benefit of using a cache.  I have confirmed cache hits but my build time was the same as a clean build.  My action cache (in the GCS bucket) contains thousands of items

[2018-03-14 16:13] buchgr commented on #4838
We already do connection pooling, so tcp/tls handshaking shouldn't matter much but it might help a little. I was thinking that you would like this feature request more: https://github.com/bazelbuild/bazel/issues/4844 :smile:

[2018-03-14 16:23] Steve-Munday commented on #4838
Ahhh I see.  Thanks for clarifying.  Also, I just figured out that you are the same person who responded to my bazel-discuss post, so thanks again!  😄

AWS S3 is tougher for me because my company is all-in on GCP; we do not have any Amazon infrastructure at all.  It might be worth investigating though.

[2018-03-14 16:41] buchgr commented on #4838
@Steve-Munday I don't know whether you tried that, but in your CircleCI you run a script that tests throughput and latency to GCS buckets in different regions. I don't know in which AWS regions CircleCI runs but I think it would make sense to pick a GCP region close by.

[2018-03-14 18:25] cushon commented on #4846
@tomlu fyi, see also b/74765278

[2018-03-14 18:46] philwo commented on #4582
I got the release stuff working at last and just sent out the announcement to bazel-discuss@. Binaries are available on [our website](https://releases.bazel.build/0.12.0/rc1/index.html) and via apt-get in the testing branch.

Note that I had to rebuild the binaries one more time, because the release notes embedded in the installers were wrong due to an error in the release pipeline script. If you

[2018-03-14 19:31] davidstanke commented on #4628
Thanks willsc79 for the background. @buchgr can we proceed to implement the flag?

[2018-03-14 21:38] davido commented on #3042
@ittaiz @Globegitter home directory resolution (~) should be supported now, see https://github.com/bazelbuild/bazel/pull/4852.

[2018-03-14 21:49] jin opened #4853 "android_instrumentation_test: adb forked server process is kept alive after tests"
When an `android_instrumentation_test` completes, the forked `adb` servers are not cleaned up and it leads to this:

[code]

[2018-03-14 22:12] davido commented on #3042
@ulfjack

What LruCache are you referencing? Buck triggers cache directory clean after checking on each store operation if dir cache max size was configured and whether or not the current directory size exceeds this limit:

https://github.com/facebook/buck/blob/master/src/com/facebook/buck/artifact_cache/DirArtifactCache.java#L198-L203

Where `deleteOldFiles` is:

https://github.com/facebook/buck/

[2018-03-14 22:27] ahippler opened #4854 "skylint does not check missing rules docstring"
### Description of the problem / feature request:

skylint does not check for missing docstring of rules.

### Feature requests: what underlying problem are you trying to solve with this feature?

public variables of type rule and repository_rule should throw an error like:
`rule 'foo' has no docstring [missing-rule-docstring]`

### Bugs: what's the simplest, easiest way to reproduce this bug? Ple

[2018-03-15 01:55] #4846 closed

[2018-03-15 02:02] cushon commented on #4582
@philwo can you cherry-pick dbf779869751cc893ba240402d352c6e70be2978 for #4846?

[2018-03-15 05:51] nicolov commented on #4840
Agree, this impacted us too until I sprinkled some "no-cache" tags.

[2018-03-15 07:50] buchgr commented on #4849
I have temporarily disabled bazel determinism test on macOS

[2018-03-15 08:33] ulfjack commented on #3042
Apparently I misremembered - I thought we had a LruCache class for the repository cache. Sorry for the confusion.

[2018-03-15 09:09] laszlocsomor commented on #4794
@tianshilei1992 , thank you for such a detailed bug report!

I started looking at it, but something I noticed and wanted point out, in hopes it would happen to be the solution: have you looked at the [`cc_import`](https://docs.bazel.build/versions/master/be/c-cpp.html#cc_import) rule to import the .so/.dylib instead of using a `cc_library`?

[2018-03-15 09:37] mhlopko commented on #4643
cc @ulfjack

[2018-03-15 09:43] ittaiz commented on #4846
This is crucial to our work, any chance  a test will be added for this?
@cushon (and cc @iirina) this sounds related to #4584 in the sense that the current SJD behavior is very optimistic but breaks for many cases in the wild (maven jars and exports IMHO)

[2018-03-15 09:50] mhlopko commented on #4643
cc @philwo is https://github.com/bazelbuild/bazel/pull/4304 related?

[2018-03-15 09:53] laszlocsomor commented on #4794
@tianshilei1992 , I have good news and bad news.

The somewhat good news is that this is a known issue. The bad news is, as @mhlopko tells me, that fixing it is going to take more time.

The other somewhat good news is that I reduced your example to an even smaller one: https://github.com/laszlocsomor/projects/commit/c802b5953c4ca9046d1023ba59b4e6bcfb384ce2

[2018-03-15 11:27] burkpojken opened #4856 "It is not possible to get .asm files handled as assembly with C preprocessor files"
Feature requests:
In our big projects we use our own tool chain.
Unfortunately all our hand written assembly files are named .asm instead of .S
Bazel handles .asm as .s files (lower case s) and then they are not seen as preprocessed and no .d file is requested.
Our .asm files can use #include and then the target is not rebuilt when a dependent .h file is changed.
I is a big thing for us to rename

[2018-03-15 11:57] buchgr commented on #4840
That sounds good to me. We should probably output a decent error message indicating that this action should be tagged "no-cache". Do you want to work on this @benjaminp?

[2018-03-15 11:58] buchgr commented on #4840
@nicolov for which rules did you encounter this behavior?

[2018-03-15 12:02] mhlopko commented on #3592
I'm not sure I understand the problem, are you saying that you want to specify cc_toolchain without having to provide toolchain inputs via `":all_files-k8"`?

One detail, I see you have `supports_embedded_runtimes: false` but yet you provide `static_runtime_libs` and `dynamic_runtime_libs` filegroups on cc_toolchain. If your toolchain doesn't support embedded runtimes these filegroups are ignored.

[2018-03-15 13:56] ahippler opened #4858 "not possible to declare_file to genfiles_dir"
### Description of the problem / feature request:

since ctx.new_file() is deprecated ctx.actions.declare_file() should be a replacement.
with ctx.new_file() it was possible to generate files to genfiles_dir which I tried with ctx.actions.declare_file()

[code]

produces

[code]

### Feature requests: what underlying problem are you trying to solve with this feature?

it must be possible to use a

[2018-03-15 14:43] #4734 closed

[2018-03-15 14:53] jin commented on #4853
`dbus-daemon` as well:

[code]

[2018-03-15 15:01] jfroy commented on #3592
The problem is, with that CROSSTOOL, if I do
[code]
All the tests will fail because libc++ and libc++abi will not be in the sandbox.

If I set `supports_embedded_runtimes: true`, then bazel does copy them, but uses `EXEC_ORIGIN`, which causes any program to fail to launch on Debian and Ubuntu (my desktop is a Debian unstable derivative).

The absolute paths solve some strange problems we've had wi

[2018-03-15 15:10] mhlopko commented on #3592
Heh maybe you encountered the same problem we're discussing with @jayconrod at this very moment over here: https://github.com/bazelbuild/rules_go/issues/1357

If you put libc++ library into `all_files-k8` it will be in the sandbox. Will that help?

[2018-03-15 15:15] laszlocsomor commented on #4582
@philwo please cherrypick 4c3098cfa6f00f90c7530b6f40d3e93062931c1d to fix https://github.com/bazelbuild/bazel/issues/4734

[2018-03-15 15:23] laszlocsomor commented on #4621
I'm closing this because we already have `--test_tmpdir` and that seems to work. @ittaiz please let me know if that's not the case!

[2018-03-15 15:23] #4621 closed

[2018-03-15 15:28] laszlocsomor commented on #4109
Closing due to inactivity.

[2018-03-15 15:28] #4109 closed

[2018-03-15 15:29] laszlocsomor commented on #1340
Bazel only supports 64-bit platforms. Unfortunately we can't help with building it on 32-bit platforms.

[2018-03-15 15:29] #1340 closed

[2018-03-15 15:33] laszlocsomor commented on #2307
I understand this is a pain (I also wanted to use Bazel on a 32-bit machine but couldn't), and I'm sorry about that, but we just don't have the capacity to work on supporting 32-bit builds nor is it a priority for us. I'm afraid we can't help here.

[2018-03-15 15:33] #2307 closed

[2018-03-15 15:56] nicolov commented on #4840
This applies for all rules that try to symlink. For example, tensorflow has
some genrules that gather headers from the system and symlink them into the
execroot.

On Thu, Mar 15, 2018 at 4:58 AM Jakob Buchgraber <notifications@github.com>
wrote:

[2018-03-15 17:17] benjaminp commented on #4840
Sure, I can work on a patch.

[2018-03-15 17:25] buchgr commented on #4840
Thank you @benjaminp

[2018-03-15 19:25] zrlk opened #4861 "Symlinks in zip archives are incorrectly rejected"
### Description of the problem / feature request:

If an http_archive pulls in a zip that contains a relative symlink (a/b/c points to ../d/e), Bazel rejects it outright ("Zip entries cannot refer to files outside of their directory").

### What operating system are you running Bazel on?

Debian.

### What's the output of `bazel info release`?

release 0.9.0

###  Have you found anything relevant

[2018-03-15 19:30] zrlk commented on #4861
Fixed somewhere at or before 0.11.1.

[2018-03-15 19:30] #4861 closed

[2018-03-15 21:15] ittaiz commented on #4846
ok, I've tested out the commit but it doesn't restore the previous condition.
in 0.11.1 we had incorrect messages which we could tranform (via a script) to understand the real dependencies.
in 0.12.0-RC1 we have no messages
given this commit we have error messages but they are partial and somewhat misleading:
[code]
If you try to apply these buildozer commands you get an error since no label  is n

[2018-03-15 21:16] ittaiz commented on #4846
IMHO the correct solution is to restore the previous condition and work on #4584 to resolve the problem in a more thorough manner.

[2018-03-15 21:24] ittaiz commented on #4846
I hope I'm not spamming this issue too much but the way we currently handle a missing label in rules scala is print:
[code]
This is not a good solution but I think it's better than not printing anything.
The ultimate solution IMHO is to have the JavaInfo contain a map of labels->jarPaths and pass that along to compiler plugins. That way all dependencies which stem from rules which output JavaInfo

[2018-03-15 21:52] cushon commented on #4584
This is also something that could be handled by the tool used to fix deps, instead of baking it into SJD.

We usually want the most precise deps for Java that provides the jar, instead of a target that export that dep, except e.g. if D is a private implementation detail that is always used with C.

[2018-03-15 21:54] erickj opened #4862 "ascii hexcodes and String.codepoints and chr & ord globals"
The Java skylark language reference lists `codepoints` as a method on Strings, but that seems to be a documentation oversight as it's not implemented:

https://github.com/bazelbuild/bazel/blob/master/site/docs/skylark/spec.md#strings

That being said, the go skylark implementation exposes globals `chr` and `ord` and `String.codepoints` with the notice that it's not provided by the Java implementat

[2018-03-15 21:58] steeve commented on #3923
@jin did you get a chance to look into the repo ?

[2018-03-15 21:58] cushon commented on #4846
it has test coverage, the test coverage is not open source. I don't know what Bazel team's plans are there, maybe @iirina does?

I'm not sure what this means. Have bugs been filed for the cases where it breaks?

There are still messages, but the summary at the end with the add_dep command is broken.

This part is WAI:

[code]

This part is incorrect:

[code]

The reason the add dep command is brok

[2018-03-15 22:03] tomlu commented on #4846
On Thu, Mar 15, 2018 at 5:59 PM, Liam Miller-Cushon <
notifications@github.com> wrote:

I have no opinion except that we should not go back to a map-based
approach, either in the providers (as was suggested earlier in this
thread), nor in the command lines.

[2018-03-15 22:38] jin commented on #3923
I just got some time to look at the repo: a quick workaround is to include the relevant `filegroup` in `srcs`:

[code]

[code]

Next: figure out why the `libs` directory isn't part of the implicit outputs.

[2018-03-15 22:40] steeve commented on #3923
Indeed, the issue however is that the name platform dependent... But it can be worked around it via select maybe.

Thank you for looking into that.

[2018-03-15 23:11] marcushines-zz opened #4863 "When using buildstamping for c++ targets only limited information is available"
### Description of the problem / feature request:
When using buildstamping I have a custom script to insert custom values into the build stamp information.  This is properly injecting the key/value pairs into the files.

[code]

however since the cpp buildinfo is based on a class there is no way to additional information.  This would be really helpful if instead a struct it was a map so users coul

[2018-03-15 23:15] jin opened #4864 "NDK runtime libs are not part of the toolchain's all_files outputs"
For `libc++`, the runtime libs are not in the outputs of the toolchain, causing linktime errors in sandboxed mode. Sample of affected files:

[code]

See conversation at https://github.com/bazelbuild/bazel/issues/3923#issuecomment-372750002 for more details.

Cause: the generated `%toolchain%-all-files` filegroups does not contain the `libs` folder:

Generated `external/androidndk/BUILD.bazel` sni

[2018-03-15 23:15] jin commented on #3923
@steeve I found the root cause, filed #4864

[2018-03-15 23:23] jmhodges commented on #4303
Since bazel 0.10 is out and fixes this, this ticket can be closed. So, I'm doing that.

[2018-03-15 23:23] #4303 closed

[2018-03-15 23:45] steeve commented on #4864
That's perfect.
I think the crux of the matter is at https://github.com/bazelbuild/bazel/blob/d1119fa583ff659a80828d1b67cc980b04f6b386/src/main/java/com/google/devtools/build/lib/bazel/rules/android/AndroidNdkRepositoryFunction.java#L337

[2018-03-15 23:46] jmillikin-stripe opened #4865 "git_repository doesn't print any warning or error on duplicate conflicting definitions"
Three (or more) bugs here. They're all in the `git_repository` so I put them in the same issue, feel free to refactor if they should be separate.

The below behavior _might_ be working as intended, but at minimum I would expect some warnings to be printed out. Other repository types such as `local_repository` print errors in similar configurations.

### BUG 1: Native `git_repository` silently over

[2018-03-15 23:52] steeve commented on #3923
Thank you that was fast

[2018-03-16 01:59] tianshilei1992 commented on #4794
@laszlocsomor , thanks for your notification. It's really sad to hear that.

Thanks for your refinement. My original idea is to build the codes on different platforms with the same command, thus some conditional statements are involved.

[2018-03-16 02:24] MikoyChinese commented on #4834
This the error of Tensorflow, they compare with the 0.11.1 with 0.4.5, just like the math number, so 0.4.5 > 0.11.1, caused the error. You can run change the 0.4.5 to 0.0.0 then it will success!

[2018-03-16 09:33] xzy256 commented on #4834
it run correctly,thanks.

[2018-03-16 09:33] #4834 closed

[2018-03-16 10:03] MikoyChinese commented on #4828
There are two ways to solve this problem. First, congratulate you never see the problem about"bazel version 0.4.5 > version, but was 0.11.1.", and if you have this problem, you can change like this #4834[https://github.com/bazelbuild/bazel/issues/4834]. And refer to your problem now, I met the same problem. And I solved this just build it again, I think it is just the network problem, so you can b

[2018-03-16 10:31] MikoyChinese commented on #4828
And if you are just interested in installing tensorflow 1.3.0 , here a wheel file you can install just like pip install. url[https://github.com/jetsonhacks/installTensorFlowJetsonTX]. It is for Jetson TX.

[2018-03-16 10:41] LanYangXiXi commented on #4828
really thx，I have fix the problems and installed TensorFlow 1.3.0 in Jetson
TX2 successfully, later I’ll try to install the latest version of
TensorFlow, and thank you.

On Fri, 16 Mar 2018 at 18:31 MikoyChinese <notifications@github.com> wrote:

[2018-03-16 10:53] MikoyChinese commented on #4828
Thx, can you show how you fix the problem about this issue? My way is just building it again. If you wanna install the lastest version of Tensorflow, I have a wheel which I built successfully. contact me email [ emailmikoy@163.com ], then on the next Monday I will send you this file . Or you wanna build it yourself, then I will write a document about to install it and some problem I met.

[2018-03-16 11:01] LanYangXiXi commented on #4828
Bazel 0.11 can not build TensorFlow 1.3.0 successfully so I use Bazel 0.5.2
and it works. And notice, Jdk version should be 121, otherwise Bazel could
not be built.

On Fri, 16 Mar 2018 at 18:54 MikoyChinese <notifications@github.com> wrote:

[2018-03-16 11:03] jainrahul1 commented on #2945
@dmitry-xnor I am facing problem in building bazel for PINE A64 board.
Error:
Building Bazel from scratch..scripts/bootstrap/buildenv.sh: line 186:  9352 Killed

[2018-03-16 12:06] MikoyChinese commented on #4828
Here is my document to build Tensorflow1.5.0.
http://note.youdao.com/noteshare?id=3779eaea012bfec0fd1dc3e6b27a2b62
Another web:
https://www.jianshu.com/p/d53d231e8cf0

[2018-03-16 12:27] LanYangXiXi commented on #4828
好的，学习了，我之前装1.5.0也遇到了同样的bazel问题，我以为是版本不支持就没有再尝试了

On Fri, 16 Mar 2018 at 20:07 MikoyChinese <notifications@github.com> wrote:

[2018-03-16 12:30] ittaiz commented on #4584
I think we might have a terminological gap here. By the above do you mean buildozer as an example or the something else?

I thought export semantically meant exactly the above "D is a private implementation detail". BTW, I think maybe a more precise phrasing is that "D is a private implementation detail and C will always bring it with them"

[2018-03-16 12:36] ittaiz commented on #4846
I think the important thing I understand from what @cushon is writing above
is that you've changed the  way strict deps *labels* and *messages* is
being implemented but without a public discussion.
The reason I think this is wrong is because we (Scala/Kotlin people like
@hsyed) are trying to implement strict deps in the JVM ecosystem and
interop with java.
Mandating ijar as well as deciding that i

[2018-03-16 12:39] philwo commented on #4846
I agree.

[2018-03-16 12:47] buchgr commented on #4840
Hey @benjaminp,

I have discussed this issue with a few people on the Bazel team:

- We must *not* cache actions that output symlinks to absolute paths.
- We *may* cache relative symlinks to inputs or outputs of that particular action, but that's an optimization that doesn't need to be included in your patch (and might make things just more complicated).
- Downstream actions (actions having a syml

[2018-03-16 14:19] buchgr commented on #4815
@lberki can you take this please?

[2018-03-16 14:22] buchgr commented on #4824
@dslomov seems skylark related? can you triage this issue please?

[2018-03-16 14:24] buchgr commented on #4825
cc: @aehlig @dslomov @cgrushko

[2018-03-16 14:26] buchgr commented on #4829
Can you please ask this question on SO or on our mailinglist and we are happy to answer it there. That way many more users can benefit from the answer. Thanks!

[2018-03-16 14:26] #4829 closed

[2018-03-16 14:26] buchgr commented on #4836
@cgrushko I believe you are now working on the maven rules?

[2018-03-16 14:28] cgrushko commented on #4836
@buchgr not really, but it might be I'm the closest to this now. Let's ask @dslomov if that's the case.

[2018-03-16 14:30] philwo commented on #4819
Reassigning to @laszlocsomor, who had a fix for this (but AFAIK it had to be rolled back?).

[2018-03-16 14:31] buchgr commented on #4858
cc @laurentlb

[2018-03-16 14:32] buchgr commented on #4865
assigning @aehlig who is working on repositories I believe?

[2018-03-16 14:34] laszlocsomor commented on #4819
Yes, sadly we had to roll back the fix because it was breaking an internal test. I didn't have the time to fix it yet.

[2018-03-16 14:58] laszlocsomor commented on #4819
I'm closing this as a duplicate of #4469.

[2018-03-16 14:58] #4819 closed

[2018-03-16 14:59] laszlocsomor commented on #4469
Unfortunately the bugfix was breaking some Google-internal tests that I didn't yet have the time to debug. I'll update this thread once I've found the culprit and have an ETA for the fix.

[2018-03-16 16:10] mhlopko commented on #4856
cc @meteorcloudy
Yun is going to work on configuring extensions from crosstool, Yun, will your work cover this use case?

[2018-03-16 17:25] jin commented on #4864
Yes, I have a fix to generate this: https://gist.github.com/jin/7d9fcf924fa33ab8fbc4c43c97676ab3

[2018-03-16 17:53] cushon commented on #4584
I mean the tool referenced by the `** You can use the following buildozer command:` message. Bazel uses buildozer, but the SJD side of this is factored so another tool could be used, e.g. something with more sophisticated handling of exports or visibility.

That is one use-case for exports, not a definitions of its semantics.

[2018-03-16 20:38] philwo commented on #4846
I'm not very knowledgeable about this part of Bazel, but I looked at the involved changes and it seems like this is impossible to rollback. Now, what do we do with Bazel 0.12.0?

@ittaiz I totally agree that this should have been discussed in the open. It's really not OK to break the work that our contributors do for Bazel. :(

@tomlu I think your answer is not really sufficient. You can't just br

[2018-03-16 20:44] tomlu commented on #4846
On Fri, Mar 16, 2018 at 4:38 PM, Philipp Wollermann <
notifications@github.com> wrote:

I'm happy to assist of course. I certainly didn't mean to be snarky, I
meant as in "between the two options that were discussed I don't have an
opinion on which is better", not "I don't care you guys figure it out".

[2018-03-16 22:33] steeve commented on #4582
Please cherry-pick https://github.com/bazelbuild/bazel/pull/4866, fixes Android's `libc++`

[2018-03-16 22:50] ixdy opened #4867 "add quiet mode to bazel run"
### Description of the problem / feature request:
`bazel run` always prints out a few INFO log messages before running the command, and there seems to be no way of suppressing that output.

For example, I want to suppress all of these `INFO:` lines when running the following in kuberentes/kubernetes:
[code]

### Feature requests: what underlying problem are you trying to solve with this feature?
I

[2018-03-16 23:09] benjaminp commented on #4840
Thanks for the guidance.

I think it should be an error. Warnings are fine for informing users about transient conditions like the remote cache being down. An action producing symlinks is similar to an action not producing promised artifacts. It's an unambiguous deterministic function of the (gen)rule implementation.

[2018-03-17 09:21] buchgr commented on #4840
Sounds reasonable :)

[2018-03-17 10:31] Jayoprell commented on #3018
Hi, what is your problem? Could you please tell me more details with it?  Are you Chinese? If you are, we can communicate in Chinese😊😃
________________________________
发件人: caiyufeng <notifications@github.com>
发送时间: 2018年3月17日 5:23
收件人: bazelbuild/bazel
抄送: Jayoprell; Mention
主题: Re: [bazelbuild/bazel] Building Bazel from source fails (#3018)

@Jayoprell<https://github.com/jayoprell> can you tell

[2018-03-17 17:51] mboes commented on #2037
@damienmg said in 2016:

But that turned out incorrect at the time:

What about now (a year and a half later)? If the aforementioned CL exists, has it been merged?

[2018-03-18 02:38] erickj commented on #3732
FTR - simply for kicks and because I was curious about using JSON content as filters in an aspect rule... I've written this toy program to parse JSON using a push down automaton:

https://github.com/erickj/bazel_json/blob/master/lib/json_parser.bzl

some examples of how to use it here:
https://github.com/erickj/bazel_json/blob/master/test/BUILD

It needs quite a bit more work, but it should be a g

[2018-03-18 03:56] RootFunction commented on #4670
Why is this tagged as a feature request rather than a bug?

[2018-03-18 05:16] ittaiz commented on #2367
cc @or-shachar (as our maintainer of a very poor WORKSPACE + BUILD file parsers)

[2018-03-18 05:35] ittaiz commented on #4584
@cushon I think that it will be very hard for a tool to reverse engineer the data and decide if it needs to add `C` or `D`. Maybe SJD needs to emit the offending graph.

[2018-03-18 13:41] erickj commented on #4862
I've also just seen the [String interpolation](https://docs.bazel.build/versions/master/skylark/spec.html#string-interpolation) section of the Skylark spec which lists defines replacement `c` as:

[code]

However trying to use it in a live example, e.g. `print("%c" % 65)` results in this error:

[code]

[2018-03-18 13:42] erickj commented on #4862
FTR this is with:

[code]

[2018-03-18 14:55] tongchao199 commented on #4483
### my  env, reslove this problesm
* CentOS Linux release 7.4.1708 (Core)
* 3.10.0-693.5.2.el7.x86_64
* glibc-2.17-196.el7_4.2.x86_64
* gcc-4.8.5-16.el7_4.2.x86_64
* gcc-c++-4.8.5-16.el7_4.2.x86_64
* java-1.8.0-openjdk-1.8.0.151-1.b12.el7_4.x86_64

[2018-03-18 23:08] cushon commented on #4584
@carmi for thoughts on visibility/exports handling and dependency management

SJD doesn't have a graph to emit. Bazel has knowledge of the graph, and provides access to it e.g. via bazel query. SJD is not the right place to put handling of visibility/exports for dependency management: we want that logic to be useable by other dependency management tools.

[2018-03-18 23:58] ppenzin opened #4869 "@CompileTimeConstant violation on FreeBSD"
### Description of the problem / feature request:

Development version fails to build on FreeBSD.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

On FreeBSD 11.1 with bazel 0.9.0 and openjdk 1.8 (both installed from pkg):
[code]
### What operating system are you running Bazel on?

FreeBSD 11.1-RELEASE-p4

### What's the output of `b

[2018-03-19 08:59] LossyRedgement commented on #4794
Hi @laszlocsomor ,
I have encountered a similar situation with that mentioned above.

I am curious to know, if there would be a rough idea about when to expect this fixing? And if it might take quite a period, would there be a patch provided to almost solve this problem?

Thanks in advance!

[2018-03-19 09:06] meteorcloudy commented on #4856
Yes, I believe this will eventually be solved by letting making the extensions configurable on different platforms.

[2018-03-19 09:16] laszlocsomor commented on #2037
Damien no longer works on the team.
/cc @dslomov to triage

[2018-03-19 10:37] buchgr opened #4870 "improve --experimental_local_disk_cache"
Many users like the `--experimental_local_disk_cache` option, but it needs some improvements.

- Replace the two options `--experimental_local_disk_cache` and `--experimental_local_disk_cache_path` with one `--local_disk_cache=/path/to/disk/cache`.
- Add a `--local_disk_cache_size=SIZE` option to specify an upper bound on the folder. A LRU cache is probably fine. We'll probably need to introduce a

[2018-03-19 11:03] davido commented on #4870
Actuall there are three options. The one you havn't mentioned: `--experimental_strict_action_env`. Without this options, the caches is useless, if the workspace changed (clone project in two different locations). See also discussion on the original issue where local action cache was introduced.

I agree with your suggestions. I can look into renaming the options and I agree that we lose experiment

[2018-03-19 11:08] ittaiz commented on #4870
Why lock it?
On Mon, 19 Mar 2018 at 13:04 David Ostrovsky <notifications@github.com>
wrote:

[2018-03-19 11:28] doompadee opened #4871 "Binary installation without jdk not working"
Hello,

I'm having problems with the most recent Bazel releases when I use the binary installer option without an embedded OpenJDK.

Installation is done as outlined in the docs:

    chmod +x bazel-0.11.1-without-jdk-installer-linux-x86_64.sh
    ./bazel-0.11.1-without-jdk-installer-linux-x86_64.sh --user

For testing I try to build the Java example from the tutorial:

    git clone https://githu

[2018-03-19 11:41] buchgr commented on #4870
@davido good point, but --experimental_strict_action_env is not specific to the local disk cache. We should certainly document it.

Yes, Bazel currently doesn't have that, *but* the remote module could just have it's own LRU cache that it keeps in memory while the server is running. That should be sufficient I think.

@ittaiz Not a strict requirement, I just imagine it to be difficult to keep the

[2018-03-19 11:51] hsyed commented on #4584
The C and D selection is quite easy if the labels are gathered via aspects. At the moment in my wip for kotlin I produce a list of candidates -- ordered by most precise label. Consider the example with an additional intermediary `C'`exporting `D` or `C`.

[code]

In the Kotlin Wip I currently prefer `C'` as `C'` could be a `neverlink` forwarding rule exporting a plugin.  I don't know if this is to

[2018-03-19 11:58] hsyed commented on #4584
@ittaiz Another thought, I can see the point of selecting the leaf target in the workspace -- i.e., `D`. What about pushing this to a refactoring / quick-fix in the ide.

The intellij plugin sync model already has a package to target mapping and it loads the jdeps file. Intelligence for composing build files should be added to the intellij plugin anyway. It is a bit of work.

[2018-03-19 12:34] hmemcpy commented on #3201
After further analysis, I pinpointed the source of the problem -- it has to do with the value used for `hashCode` in the `Description` objects that are produced by specs2, in case of tests generated in a loop (e.g. `Fragments.foreach` API). This causes bazel to incorrectly build the testMap (due to the hashCode being the same, only one test actually appears in the model).

I've sent a PR to the au

[2018-03-19 13:58] buchgr commented on #4870
@davido would you want to work on this?

[2018-03-19 14:25] laurentlb commented on #4862
Thanks for pointing this out. We should remove this from the documentation. Do you have a use-case for non-printable characters?

To insert special characters, you can use the octal notation (apparently missing from the doc above): `"\52" == "*"`. Ideally, we would support hexadecimal notation (`"\x35"`), but I don't think I have seen requests for this before.

[2018-03-19 14:28] davido commented on #4870
@buchgr Yes, feel free to assign it to me ;-)

[2018-03-19 15:21] alexeagle commented on #4842
@buchgr related, the issue @mmorearty points out in rules_nodejs is because I couldn't find a way to apply a stamp to arbitrary rules (I'd rather have it on my `*_package` rules).
In my experimentation, `stamp` only gathers the `volatile-status.txt` input for genrule and other native rules. Can you suggest an alternative?

[2018-03-19 16:10] philwo commented on #3201
@hmemcpy No problem, I can just revert the revert automatically.

Just to make sure: In your research you found out that the original code in this PR was fine (the bug was in a third-party library) and thus we don't have to cherrypick the revert into the 0.12.0 releaes anymore, right?

[2018-03-19 16:13] philwo commented on #4871
This is crashing inside `SkyframeExecutor.java`.
@janakdr @haxorz any idea?

@doompadee Can you reproduce this with Bazel 0.12.0rc1? (see https://releases.bazel.build/0.12.0/rc1/index.html)

[2018-03-19 16:17] erickj commented on #4862
"Do you have a use-case for non-printable characters?"

A kludge one, in the absence of more complete unicode support, I would like to use them to identify invalid state transitions in a JSON parser. I believe if I can represent all ascii characters in a state transition table, then I can use the absence of a character to act as a kludge placeholder for identifying (and accepting) unicode codepoin

[2018-03-19 16:22] haxorz commented on #4871
the crash in 0.10.1 was fixed by https://github.com/bazelbuild/bazel/commit/659974ed5e1fbd2122efc98ed7e1a0e3d5e59472.

the issue now manifests itself as an error message, as seen in output-0.11.1.txt.

ERROR: /home/doompadee/.cache/bazel/_bazel_doompadee/7eb93458c81b9689e868338db26168c0/external/bazel_tools/tools/jdk/BUILD:185:1: no such package '@local_jdk//': error globbing [bin/**] - [**/*%*/**

[2018-03-19 16:29] doompadee commented on #4871
@philwo Still the same problem with 0.12.0rc

    doompadee@jessie:~/Dev/examples/java-tutorial$ bazel version
    Build label: 0.12.0rc1
    Build target: bazel-out/k8-opt/bin/src/main/java/com/google/devtools/build/lib/bazel/BazelServer_deploy.jar
    Build time: Sat Mar 24 03:42:37 +50170 (1521052227757)
    Build timestamp: 1521052227757
    Build timestamp as int: 1521052227757
    doompadee@

[2018-03-19 16:42] doompadee commented on #4871
Like the error message says, there is a permission problem. Using `sudo` makes things work, but that is not desirable.

[2018-03-19 16:55] philwo commented on #4871
How are the permissions set for your custom JDK in /opt? Can your user list all directories and read all files in there?

[2018-03-19 17:24] tomlu commented on #4846
I've synched with @cushon on this.

Strict deps support has been fixed (modulo possibly some delay in pushing
to GitHub), this was a pure bug in the implementation.

Where there *is* a publicly visible change is for add_deps support. Each
jar manifest will need to contain the "Target-Label" attribute for add_deps
to understand where it came from, and it's up to the tools to put it there.
We intend

[2018-03-19 17:35] philwo commented on #4846
Thank you, @tomlu! :)

[2018-03-19 17:40] doompadee commented on #4871
That was it! The src folders did not have read permission for others. My apologies for the false alarm.

Thanks much for your kind help!

[2018-03-19 17:40] #4871 closed

[2018-03-19 18:23] xingao267 commented on #4652
We are seeing this error in our tensorflow remote tests using Bazel 0.12.0rc1.

https://sponge.corp.google.com/target?id=b099f31b-f2ac-40a5-ba50-88503ffae0f7&target=alphasource-toolchains%2Fnightly%2Fremotebuild-test%2Ftensorflow-host_xenial-exec_debian8-clang-bazel_0120&searchFor=

and here https://kokoro.corp.google.com/job/alphasource-toolchains/job/nightly/job/remotebuild-test/ (search tensorf

[2018-03-19 18:37] laurentlb commented on #3732
Where does the input come from? Are you inserting the string inside a .bzl file and you want to parse it? In that case, why do you use json?

In general, parsing/transforming json should be done during execution (outside Skylark).

[2018-03-19 18:49] burkpojken commented on #4856
Sounds good, is there time plan for it?

[2018-03-19 19:52] #4862 closed

[2018-03-19 20:06] tomlu commented on #4846
Well, the ijar investigation ended pretty quickly in the negative :( As far
as we understand it a macro implementation can call anything from the full
compile time classpath, so we can't strip anything from the jar.

We are left with adding the Target-Label manifest entry via a separate
action. Since use_ijar should be pretty uncommon, it's probably better to
do it in as an explicit action in the

[2018-03-19 20:29] cushon commented on #4846
We can't strip anything from the jar *or from any jars with methods that are reachable from the macro implementation*. Macros seem to break the compile-time/runtime jar distinction in a way that I'm not sure is really fixable, unless we restrict ourselves to a subset of uses of macros. Keeping macro implementations on a separate classpath (similar to what is achieved for annotation processors by `

[2018-03-19 22:57] simontoens opened #4876 "Make maven_jar.artifact available in custom Skylark rules"
### Description of the feature request:
In my Skylark rule, I am looking through all my deps - some of them are maven_jar instances defined in my WORKSPACE file. For those maven_jar instances, I would like to access the value of maven_jar.artifact

### Feature requests: what underlying problem are you trying to solve with this feature?
We are adopting Bazel at our organization, which is currently

[2018-03-20 06:22] ittaiz commented on #4876
Hey,
Two small comments:
1. @Bazel people- We also pursued a similar direction originally and I
think Carmi needed this feature for another reason so maybe these data
points are helpful.
2. @Simon- we invested in this approach and found significant issues in
translating the different semantics (exclusions, provided and maybe more)
from bazel to maven and if you try to also solve the case where a B

[2018-03-20 06:52] ittaiz commented on #4846
@philwo thank you, I appreciate it.

@tomlu @cushon thank your for your efforts; I think smarter people than me do have a few thoughts about how ijar can be fixed (IIUC you can classify macros and so tweak how much to strip given a macro but I might be wrong) over in #632 and if we can continue it there (even if just to finish the thought experiment and close that issue as won't fix) that would be

[2018-03-20 07:11] ittaiz commented on #4584
ok continuing the design discussion that started in #4846 about an "API" for strict-deps labels passing between JVM rules.
There are currently 3 options as far as I can tell:
1. Pass a Map of Labels->Jar Paths in the providers.
1.1 Pro- Allows redefining label ownership post jar creation for example for exports, Easy to integrate via JavaInfo and can be pretty seamless via JavaInfo collecting the

[2018-03-20 08:34] dslomov commented on #4584
First of all, there is little design discussion on these change anywhere - @tomlu, @cushon do you have a design document for the change that caused #4846 to share? It is absolutely not great to break non-ijar-generating use case. And it is not ok to break other JVM languages with unilateral change to JavaBuilder.

My guess is that Map -> Jar paths in providers is perceived to be problematic memory

[2018-03-20 09:00] laszlocsomor opened #4878 "runfiles,Python: move to //tools/python/runfiles"
### Description of the problem / feature request:

The language-specific tools should be under `//tools/<language>/<tool>` but the Python-specific runfiles library is currently under `@bazel_tools//tools/runfiles:py-runfiles` (in Bazel 0.12.0 release candidate).

See also https://github.com/bazelbuild/bazel/pull/4873

[2018-03-20 09:06] meteorcloudy commented on #4856
@burkpojken I'm planning to make it happen next quarter

[2018-03-20 09:09] meteorcloudy commented on #4652
@xingao267 Are you building TensorFlow@HEAD, https://github.com/tensorflow/tensorflow/pull/17508 should have fixed the problem.

[2018-03-20 09:59] erickj opened #4881 "FR: more flexible checksum algorithms for repository `download` rules"
FR: Extend repository rules `download` and `download_and_extract` to support more checksum algorithms.

Currently the rules are limited to sha256. This isn't flexible enough.

For example, NPM 5 has introduced package-lock.json files in order to help facilitate reproducible builds. The [package-lock.json model for checksum descriptors](https://docs.npmjs.com/files/package-lock.json#packageintegrit

[2018-03-20 10:06] hmemcpy commented on #3201
@philwo yeah, the original PR was fine, we're good in having it in 0.12.0. Thanks again!

[2018-03-20 12:37] lberki commented on #4584
My understanding is that we changed from propagating this information in providers/command lines to propagating them in the .jar files due to memory use concerns for our internal version (which has to contend with ginormous dependency graphs).

Instead of the above three alternatives, I think there are two problems:
 1. How to tell JavaBuilder the strict dependency information, in particular, the

[2018-03-20 12:56] burkpojken commented on #4856
Ok thanks for info, then we will use our patched version until then

[2018-03-20 13:00] laszlocsomor commented on #4878
Blocking https://github.com/bazelbuild/bazel/issues/4582

[2018-03-20 13:40] lberki commented on #4821
Not ever adding the transitive dependencies to Java compile actions doesn't work, because javac needs to read the class files in transitive dependencies in some cases (unfortunately, it escapes me what those are :( )

In addition to that, I'd much rather not complicate our Java rules with yet another strict deps mode for something Scala specific. How about making a separate flag for Scala? Even be

[2018-03-20 13:46] aehlig commented on #4869
Unfortunately, bazel is still changing quickly. Can you update bazel (the [port](https://svnweb.freebsd.org/ports/head/devel/bazel/) is currently at version 0.11.0)? Then it should work. However, you should notice that in order to get a working bazel, you have to manually do the shebang fixes that the port does when building bazel, as bazel embeds a bunch of scripts that it uses during the build.

[2018-03-20 13:46] #4869 closed

[2018-03-20 13:46] lberki commented on #4584
Let's continue the discussion on this thread: https://groups.google.com/d/msg/bazel-discuss/mt2llfwzmac/1in7UTq1AQAJ

[2018-03-20 13:50] tomlu commented on #4584
I'll respond to everyone in this comment, then I'll follow up with proposals.

Responding to @ittaiz:

Like others guessed that is O(N^2) on memory so sadly that show stops there. Square might not sound like a big deal but it can and does become gigabytes of resident heap :(

This is what we used to do for JavaBuilder as of one month ago. It would figure out the jar creator of each jar on the clas

[2018-03-20 13:58] kcooney commented on #3201
I believe Jukito can also create multiple identical Description values for parameterized methods, so some users will see issues there. I wonder how other build tools handle it; from JUnit's perspective it can't tell which result comes from which test.

[2018-03-20 14:03] jasharpe opened #4883 "Incorrect visibility rule breaks remote builds on Windows"
### Description of the problem / feature request:

On Windows, building a C++ Hello World program with `--define=EXECUTOR=remote` fails with a visibility problem.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

The WORKSPACE is empty.

Here's the exact command I'm running:

[code]

Here's my BUILD file:

[code]

Here's my `hello.cc`

[2018-03-20 14:07] jasharpe commented on #4883
Workaround is using `--nocheck_visibility` on builds affected by this.

[2018-03-20 14:09] philwo commented on #2422
Maybe interesting for others: It seems like macOS High Sierra comes with an even higher maxfiles out of the box. It was 98304 on our Mac Pro, so the sysctl command that we had in our CI scripts actually reduced it. I've removed it from our setup.

[2018-03-20 15:25] #2054 closed

[2018-03-20 15:28] laszlocsomor commented on #4582
Please cherry-pick https://github.com/bazelbuild/bazel/commit/b1be5816ec1bf8e1172c1bed4f29b4e6c6bb7202 to fix #4879, and also remove the following "New features" relnotes entry: "python,runfiles: You can now ..."

[2018-03-20 15:37] RNabel opened #4885 "@bazel_tools//tools/jdk:jar ERRORs on Windows 32-bit build"
### Description of the problem / feature request:

Bug: when building  `@bazel_tools//tools/jdk:jar` with `--cpu=x86_windows` bazel returns ERROR.

### Feature requests: what underlying problem are you trying to solve with this feature?

Not certain, but the `windows` condition is selected only when the cpu is `x64_windows` (see [`conditions/BUILD:43`](https://github.com/bazelbuild/bazel/blob/mast

[2018-03-20 16:18] ittaiz commented on #4821
What is a “—define”?
On Tue, 20 Mar 2018 at 15:40 lberki <notifications@github.com> wrote:

[2018-03-20 17:00] mmorearty opened #4887 "Suggestion: Rename DONT_FOLLOW_SYMLINKS_WHEN_TRAVERSING_THIS_DIRECTORY_VIA_A_RECURSIVE_TARGET_PATTERN to something a little less... hilariously long?"
### Description of the problem / feature request:

The [user manual](https://docs.bazel.build/versions/master/user-manual.html#target-patterns) says:

Uhh... that is a useful feature. But the filename, `DONT_FOLLOW_SYMLINKS_WHEN_TRAVERSING_THIS_DIRECTORY_VIA_A_RECURSIVE_TARGET_PATTERN`, is extremely long and attention-grabbing. It screams for attention in any directory listing. You can't fault it

[2018-03-20 17:23] ivucica commented on #2420
tl;dr I've run into this:
[code]

First goal: get Bazel to invoke a functional equivalent `clang inputfile.m -c -o inputfile.o`

Current attempt:

1. I've tried copying the `tools/cpp/CROSSTOOL` as shipped inside my locally installed Bazel binary (i.e. I took it from `~/.cache/bazel`). I took `tools/osx/crosstool/CROSSTOOL.tpl` from the same path as my reference material.
2. I then duplicated the

[2018-03-20 17:57] edwardmjm commented on #1052
I hit this issue as well, what's the conclusion?
I'd like to run a test in my source tree, but can't find a way to address it.
Both `local = 1` and `tags = ["local"]` put my tests into a sandbox.
My bazel version is 0.10.0

[2018-03-20 19:15] alexeagle opened #4888 "Add ability to exclude subdirectories from the workspace"
We have a `dist` folder in the Angular project, which is in the `.gitignore` and we have configured editors and so on to ignore this folder. It's a very common setup for frontend projects. This folder also happens to get a copy of the `@angular/bazel` npm package, which has some BUILD files.

We want to teach Angular developers to `bazel build //...` but the expansion of the label wildcard descend

[2018-03-20 21:15] gkossakowski commented on #4714
Sorry got sidetracked by other work. I just tried `bazel build //example-java --javabase=//example-java:jdk --host_javabase=//example-java:jdk` and it builds successfully for me.
I pushed my branch with an example to https://github.com/gkossakowski/bazel-scala-example/tree/gkk-reproducibility

I'll check the `.params` file across machines and report back.

[2018-03-20 21:17] mhlopko commented on #3263
Closing since cannot repro.

[2018-03-20 21:17] #3263 closed

[2018-03-20 21:18] mhlopko commented on #1576
I declare 2. fixed :)
3 coming as soon as I have a free evening :)

[2018-03-20 21:20] mhlopko commented on #4794
@tianshilei1992 I expect that this is caused by how @rpath works on darwin, I think we just have to patch the binary to find dylibs properly. https://github.com/bazelbuild/bazel/blob/master/tools/cpp/osx_cc_wrapper.sh.tpl shows what we do already. But I cannot repro because unsupported option '-fopenmp', do you build with clang or gcc? Which version? How did you install on mac?

Also can you try w

[2018-03-20 21:22] gkossakowski commented on #4714
The contents of `bazel-out/k8-fastbuild/bin/example-java/libexample-java.jar-2.params` is the same on both machines but `libexample-java.jar` have different digest key.

[2018-03-20 21:25] mhlopko commented on #3811
Hi Allen,
sorry this took so long, have too few free evenings. I tried to build `bazel build :use_main` with bazel build@HEAD (to make sure https://github.com/bazelbuild/bazel/commit/f98a7a2fedb3e714cef1038dcb85f83731150246 is included) and it passed. Can you verify it works for you and ideally also if https://github.com/tensorflow/tensorflow/issues/13243 is fixed as well?

Thank you so much!

[2018-03-20 22:23] ivucica commented on #2420
@calpeyser suggested using `--apple_crosstool_top` and optionally `--ios_multi_cpus=k8`. This necessitated creating a toolchain for the `ios_k8` CPU. In this scenario, compiler is statically set to be `compiler`.

Therefore I added a toolchain with key `ios_k8|compiler` to the BUILD file, and `target_cpu: "ios_k8"`+`compiler: "compiler"`toolchain in the CROSSTOOL file.

This results in:

[code]

A

[2018-03-20 23:27] GregBowyer commented on #4844
#4889 is a stab at this

[2018-03-20 23:36] allenlavoie commented on #3811
Huh. I just built at https://github.com/bazelbuild/bazel/commit/06e1781a95f16bb4b1840fc50ae705b9cdb98b34 and I'm seeing the same issue. Are you running the repro on a Mac (https://github.com/bazelbuild/bazel/commit/f98a7a2fedb3e714cef1038dcb85f83731150246 looks Mac-specific)? Possibly it's working there but not on Linux (FWIW I'm on Debian).

[2018-03-20 23:46] jmillikin-stripe commented on #4714
gkossakowski and I have been looking a bit at the minimal hello world, using javabase flags. When I run `bazel build -s` in a clean repo it shows all the commands being invoked, and when I shasum the files involved the only difference is in `platformclasspath-impl.jar` and `platformclasspath.jar`. I know gregestren said a few comments ago that these two jars shouldn't matter for compiling normal t

[2018-03-21 00:11] rltvty commented on #3736
this works on `registry`, `repository` and `tag`.  Is there a way to do it on `image` as well?

[code]

yields error:
[code]

[2018-03-21 00:45] jmillikin-stripe commented on #4714
Using a patched bazel to have deterministic `platformclasspath.jar` and `stable-status.txt` (hardcoding hostname), all input actions have the same `digestKey` value but the output action still has a varying `digestKey` across machines:

Machine 1:
[code]

Machine 2:
[code]

[2018-03-21 00:50] allenlavoie commented on #3811
Now that I look at my repro again, "main" has an undeclared dependence on "libsecond_dep.so" even though it is declared as a tool dependence. Adding that explicitly fixes things. So probably the repro has the correct behavior wrt Bazel not doing transitive binary deps? With the more recent Bazel version, "bazel run :main" fails, which makes things a bit more clear.

It looks like we've essentially

[2018-03-21 01:15] jmillikin-stripe commented on #4714
I've verified that the above change to platformclasspath.jar generation causes both machines to generate the same action cache digest key.

[2018-03-21 01:46] cushon commented on #3171
@lberki @iirina

The support for e.g. `.jar` files in `java_library.deps` is a historical accident that will eventually be fixed. Additional addition support for using files (or `filegroups`) is not a goal.

This use-case is handled by `java_common.create_provider` or (when #632 is addressed) by `java_import`.

[2018-03-21 03:26] opencici2006 commented on #4794
@mhlopko We build with clang, you could install on Mac through
`brew install llvm` and `brew install libomp` and then set the env `CC=/path/to/new/clang` and `CXX=/path/to/new/clang++`.

[2018-03-21 03:42] benjaminp opened #4890 "http remote cache client logs warnings about SO_TIMEOUT"
The HTTP-cache based on Netty logs a lot of lines like this to the java log:
[code]
It seems the reason is that the nio channels don't support this `SO_TIMEOUT` option.

[2018-03-21 04:09] jmillikin-stripe opened #4891 "Bazel's action graph is very hard to introspect and debug"
### Feature Request
Please add logging throughout Bazel, enableable via a command-line flag, that can be used to introspect and debug Bazel's build logic and internal state. A particular focus on the action graph and remote caching/execution seems prudent given the relative immaturity of remote features.

This is related to the debugging @gkossakowski and I did in https://github.com/bazelbuild/baz

[2018-03-21 04:27] ittaiz commented on #3171
We can close as far as I’m concerned (don’t remember if I authored this
issue)
On Wed, 21 Mar 2018 at 3:46 Liam Miller-Cushon <notifications@github.com>
wrote:

[2018-03-21 04:42] jmillikin commented on #3732
See the original post -- the JSON is coming from an external binary, which uses it as a machine-readable output format. Even if `cmake` wrote out Skylark-compatible Python expressions, it'd be hard to parse them from Skylark.

That's fine for normal builds, but for repository_rule implementations it would be nice if we could do at least basic parsing without having to shell out to some very large

[2018-03-21 05:50] benjaminp commented on #4887
On the other hand, screaming for attention is very useful is you're a `...` user wondering why your wildcard isn't being expanded in some directory the normal way. A hidden dot file seems particularly bad for discoverability.

[2018-03-21 06:05] mmorearty commented on #4887
I’m fine with it not being a dot file, although I tend to disagree re discoverability. `.gitignore` serves a roughly similar purpose; and in general the use of dot files for meta-information about a filesystem has become a more common pattern in recent years.

[2018-03-21 06:30] pcj commented on #4891
I'd like to see a flag that enables the action graph to be output in the BEP.

[2018-03-21 09:45] lberki commented on #3171
So be it then!

[2018-03-21 09:45] #3171 closed

[2018-03-21 09:51] laurentlb commented on #4858
Long-term plan is to get rid of the root and the distinction between `bin_dir` and `genfiles_dir` (cc @lberki).

We might add the feature for now, but it should be clear it will go away.

[2018-03-21 09:57] lberki commented on #4821
The `--define` Bazel command line option; for better or worse, it allows one to define `$(VAR)`-style variables in BUILD files. Mind you, I consider that as a misfeature, but I thought `--define` was sufficiently well entrenched so that another use for it is preferable to adding a command line option to Bazel for something that's implemented in Skylark. However, I just realized that it's not avail

[2018-03-21 09:59] lberki commented on #4858
We can add that knob, but instead, can you get by by putting that file under `bazel-bin` instead?

[2018-03-21 10:49] edwardmjm commented on #1052
Sorry, I misunderstand the `sandbox` here.
I think it means `read-only` environment here.
What I want is to have a fully mirror of my codebase in the test running environment.

[2018-03-21 10:52] ittaiz commented on #4821
Thanks for the explanation.
On Wed, 21 Mar 2018 at 11:57 lberki <notifications@github.com> wrote:

[2018-03-21 11:29] jin commented on #1052
As long as the sources are declared as inputs to your test, Bazel will make them available at test runtime.

Do you have a use case where this is not sufficient?

[2018-03-21 11:39] phenomenes opened #4893 "no such attribute 'proto_source_root' in 'proto_library' rule"
### Description of the problem:

Bazel fails to build target when using `proto_source_root` attribute in `proto_library` rule. As specified in the documentation:
https://docs.bazel.build/versions/master/be/protocol-buffer.html#proto_library

[code]

### Steps to reproduce

create a `proto_library` rule:
[code]

and the `person.proto`
[code]

build the target
[code]

### What operating system are y

[2018-03-21 11:48] mhlopko commented on #4726
Friendly ping, can this issue be closed? Can you use cc_library for your use case and the bug is not present with cc_library? Note that since https://github.com/bazelbuild/bazel/commit/5494ce4d63660f0c958a56c9cf6a5a8836967a97 cc_inc_library is not provided by bazel.

[2018-03-21 11:51] lberki commented on #4821
Sure :) Would you be okay with a separate flag, however it is implemented, for Scala strict deps?

[2018-03-21 11:53] edwardmjm commented on #1052
It is sufficient, but it needs huge amount of unnecessary work.
I am migrating from cmake to bazel. In a folder, basically it is some python and some genrules.
We had a test script run all the python tests in this folder recursively.
So basically I need all py files under this folder as `data` for the test script.
But given there are some `genrule` I need to run, there are some BUILD files, so tha

[2018-03-21 12:04] ittaiz commented on #4821
Yes

On Wed, Mar 21, 2018 at 1:51 PM lberki <notifications@github.com> wrote:

[2018-03-21 12:06] ittaiz commented on #4893
AFAIR this feature is in 0.12.0-RC1.
Can you check with it and report back?

On Wed, Mar 21, 2018 at 1:40 PM Jimena Cabrera Notari <
notifications@github.com> wrote:

[2018-03-21 12:08] meteorcloudy opened #4894 "CI: //src/test/java/com/google/devtools/build/lib/rules/cpp:cpp-rules-tests broken on Windows"
https://buildkite.com/bazel/bazel-bazel/builds/862#601013f9-a3d3-45b8-99b0-ad910208cba7
Culprit: https://github.com/bazelbuild/bazel/commit/3c5a1098af0c5ae80d4e3b1fc52dd1fef6027d43

@mhlopko

[code]

[2018-03-21 12:21] mhlopko commented on #3811
I just confused this issue with one of many we have open for linking on darwin. I think this issue is still valid, and boils down to cc_binary cannot depend on cc_binary. And the solution for that are transitive libraries, that are currently on hold but hopefully eventually going to be implemented. If you can wait until then, let's keep this issue closed, if not, feel free to reopen.

[2018-03-21 12:39] laurentlb commented on #4858
Maybe try to build your code with `--noexperimental_separate_genfiles_directory`? This way, this will merge the `bin` and the `genfiles` directories. It hasn't been much tested yet, but I hope it can make things simpler.

[2018-03-21 13:47] ola-rozenfeld commented on #4311
We have also seen some crashes with 0.10.1 and some nightly builds, last one on Feb 26. We're running on Ubuntu. I will try adding the --batch and --client_debug as well.

[2018-03-21 13:52] #4864 closed

[2018-03-21 14:06] phenomenes commented on #4893
There is no such tag, but I built from `development` and it is indeed implemented.
I can't find the right documentation for v0.11.1, the main page points to master.

[2018-03-21 14:06] buchgr commented on #4311
thanks @ola-rozenfeld

I don't recall having seen these issues on our own CI.

[2018-03-21 14:16] mhlopko commented on #4894
Rolled back in https://github.com/bazelbuild/bazel/commit/67549a752c2316234b19d7b50ea84a8ae80d3669

[2018-03-21 14:16] #4894 closed

[2018-03-21 14:58] jin commented on #1052
Thanks for the comprehensive explanation on your use case! It does seem tedious to perform this particular migration. Do you mind creating a question with what you've posted so far on [StackOverflow](https://stackoverflow.com/questions/tagged/bazel), tagged with `bazel`? This issue is closed and will not get as many eyeballs as StackOverflow.

[2018-03-21 15:04] buchgr commented on #3752
I think this can be closed

[2018-03-21 15:04] #3752 closed

[2018-03-21 15:22] alexeagle opened #4897 "Failed worker protocol error doesn't explain that stdout is reserved for worker protocol"
When a user just adds a `console.log` to a nodejs worker (or `System.out.println` to a Java one) they get a big error that looks to them like they crashed Bazel, and no indication that a Worker process is not allowed to write things to stdout.

This makes it very hard to recover from a basic attempt to debug problems.

(It helps a lot that we now print the thing that was written to stdout, like `n

[2018-03-21 15:24] ulfjack commented on #4891
@ola-rozenfeld has a pending change [1] to output the action graph. Personally, I'm wondering whether to put it into the BEP as BEP events, or whether to put it into a separate file that's referenced in the BEP.

[1] https://bazel-review.googlesource.com/c/bazel/+/45055

[2018-03-21 15:24] mhlopko commented on #4893
Therefore I can

[2018-03-21 15:24] #4893 closed

[2018-03-21 15:24] buchgr commented on #4378
Can this be closed?

[2018-03-21 15:24] philwo commented on #4582
Trying to create 0.12.0rc2 now:

$ scripts/release/release.sh create 0.12.0 b33e5afa313322a7048044c44d854cbb666b988e \
  369409995bd75eeb0683fd24f7585d2a90320796 \
  dbf779869751cc893ba240402d352c6e70be2978 \
  4c3098cfa6f00f90c7530b6f40d3e93062931c1d \
  a1068c44a700ec2cff84cbd12592e9bfea25d754 \
  b1be5816ec1bf8e1172c1bed4f29b4e6c6bb7202

[2018-03-21 15:25] buchgr commented on #4353
Can this be closed @laszlocsomor?

[2018-03-21 15:29] #904 closed

[2018-03-21 15:31] buchgr commented on #3570
I believe this has been fixed.

[2018-03-21 15:31] #3570 closed

[2018-03-21 15:33] #3649 closed

[2018-03-21 15:34] buchgr commented on #4361
Please retry with 0.11.1 and re-open if it's still a problem

[2018-03-21 15:34] #4361 closed

[2018-03-21 15:38] philwo commented on #4582
Will also cherrypick @meteorcloudy's https://github.com/bazelbuild/bazel/commit/0a4622012ff796429220fe57d3217f262cc208a8 and https://github.com/bazelbuild/bazel/commit/3c5373c50c7c492842f8a468906eda2c0bc90787

[2018-03-21 15:41] philwo commented on #4582
[code]

[2018-03-21 15:47] meteorcloudy commented on #4883
This is fixed.

[2018-03-21 15:47] #4883 closed

[2018-03-21 15:49] laszlocsomor commented on #4353
I don't know what was the original issue or if it got resolved. Since there were no more updates, I can only assume a transient failure and as such declare this bug non-reproducible.

[2018-03-21 15:49] laszlocsomor commented on #4378
No, this bug is not yet fixed.

[2018-03-21 15:50] mhlopko commented on #4849
Friendly ping, @c-parsons @rupertks, deprioritizing since it's not a breakage when the test is disabled :)

[2018-03-21 15:51] meteorcloudy commented on #4885
Bazel is not supporting for building for x86 Windows currently, `x86_windows` is not a vaild cpu value. But we do have an external contributor working on that, see https://github.com/bazelbuild/bazel/pull/4579
Closing this.

[2018-03-21 15:51] #4885 closed

[2018-03-21 15:53] meteorcloudy commented on #4894
Not fixed yet, reopening

[2018-03-21 15:54] #4828 closed

[2018-03-21 15:55] meteorcloudy commented on #4894
I believe there are two culprits. Another one is
https://github.com/bazelbuild/bazel/commit/3dab964407a2f1e12feb439d8507079bc06cb769, responsible for
[code]

[2018-03-21 15:59] mhlopko commented on #4765
I'm sorry I don't think this is really a bazel issue.

[2018-03-21 15:59] #4765 closed

[2018-03-21 16:01] #4736 closed

[2018-03-21 16:02] #4721 closed

[2018-03-21 16:02] #4720 closed

[2018-03-21 16:02] #4660 closed

[2018-03-21 16:03] #4659 closed

[2018-03-21 16:04] #4567 closed

[2018-03-21 16:04] #4497 closed

[2018-03-21 16:05] mhlopko commented on #4682
@ulfjack who is the most knowledgeable here?

[2018-03-21 16:05] #4267 closed

[2018-03-21 16:08] mhlopko commented on #4636
I'm closing since there's nothing we plan to do on this front.

[2018-03-21 16:08] #4636 closed

[2018-03-21 16:10] ittaiz commented on #4582
@philwo rc2 will include the junit fix, right? (Meaning you won’t cherry
pick the revert)
On Wed, 21 Mar 2018 at 17:41 Philipp Wollermann <notifications@github.com>
wrote:

[2018-03-21 16:11] ittaiz commented on #4893
Yes, it’s a known issue of documentation.
@philwo
Isn’t there such a tag?
On Wed, 21 Mar 2018 at 17:24 Marcel Hlopko <notifications@github.com> wrote:

[2018-03-21 16:18] laszlocsomor commented on #4536
Was this fixed?

[2018-03-21 16:21] philwo commented on #4582
@ittaiz The revert hasn't been cherrypicked, so rc2 should be fine. :)

[2018-03-21 16:25] meteorcloudy commented on #4536
It is fixed by your change, I believe it's this one https://github.com/bazelbuild/bazel/commit/46cd4fd2e120fe3c5f08f44422bc5d3ddaecde42

[2018-03-21 16:25] #4536 closed

[2018-03-21 16:27] ittaiz commented on #4582
Thanks!
On Wed, 21 Mar 2018 at 18:21 Philipp Wollermann <notifications@github.com>
wrote:

[2018-03-21 16:27] philwo commented on #4893
@ittaiz Our release scripts don't create tags for release candidates currently. We're considering adding that, though (and also publishing pre-release version on GitHub).

[2018-03-21 16:30] philwo commented on #4648
@borisbrodski Can you please let me know the output of `java -version` on your system?

[2018-03-21 16:34] meteorcloudy commented on #4894
https://buildkite.com/bazel/bazel-bazel/builds/882
@mhlopko You might want to rollback 3dab964 as well.

[2018-03-21 16:35] ittaiz commented on #4893
I see. Thanks!
On Wed, 21 Mar 2018 at 18:27 Philipp Wollermann <notifications@github.com>
wrote:

[2018-03-21 16:36] philwo commented on #4867
Agree that this would be nice to have.

Realistically, I won't have time to work on this in the next months, even though this should not be a huge change.

@ixdy Is the [--script_path flag](https://github.com/bazelbuild/bazel/blob/3c5a1098af0c5ae80d4e3b1fc52dd1fef6027d43/src/main/java/com/google/devtools/build/lib/runtime/commands/RunCommand.java#L125) a possible workaround for your usecase?

[2018-03-21 16:39] ulfjack commented on #4711
What kind of client are you running bazel test in?

[2018-03-21 16:42] mhlopko commented on #4602
Closing since we don't plan to investigate more and it seems like this is not a bazel bug.

[2018-03-21 16:42] #4602 closed

[2018-03-21 16:43] soonho-tri commented on #4711
You mean a specific project that I'm building/testing? It's https://github.com/RobotLocomotion/drake .

[2018-03-21 16:47] mhlopko commented on #4574
This is probably better suited for stack overflow, could you ask there?

[2018-03-21 16:47] #4574 closed

[2018-03-21 16:50] mhlopko commented on #4568
Please could you re-ask this question on stack overflow? This is more a support issue than a bug/feature request. Thank you!

[2018-03-21 16:50] #4568 closed

[2018-03-21 16:53] mhlopko commented on #4538
Closing, we don't plan to introduce deterministic execution order.

[2018-03-21 16:53] #4538 closed

[2018-03-21 16:54] #4523 closed

[2018-03-21 16:55] philwo commented on #4580
Closing as we can't do anything about it - TensorFlow has to update their version check.

[2018-03-21 16:55] #4580 closed

[2018-03-21 16:55] mhlopko commented on #4516
Closing since we don't expect to work on this more.

[2018-03-21 16:55] #4516 closed

[2018-03-21 16:56] philwo commented on #4648
1.8.0_111 is a pretty old build - can you easily upgrade to a newer one in your environment?

[2018-03-21 16:59] mhlopko commented on #4510
You can set `CC` environment variable to point to the compiler to be used. Please reopen if you couldn't make it work. Thanks!

[2018-03-21 17:03] #4475 closed

[2018-03-21 17:03] philwo commented on #4505
Unfortunately, each Bazel server only knows about its own workspace and doesn't have a mechanism to know or signal other running Bazel servers / workers on the system.

[2018-03-21 17:04] mhlopko commented on #4458
Friendly ping, what shall be done here?

[2018-03-21 17:06] c-parsons commented on #4615
The problem is that xcode-locator-bin has no meaning outside of bazel. I posit that your "strawperson" proposal does not help understand the issue, nor provide any actionable information to the user at all.

I'm open to other proposals -- this is easy enough to change, I just don't have any good ideas what information we can provide the user, given that we don't even really have any idea how to re

[2018-03-21 17:09] mhlopko commented on #4431
cc @philwo
seems we no longer have syntaxnet on our ci? I'll therefore close this issue.

[2018-03-21 17:09] #4431 closed

[2018-03-21 17:10] #3959 closed

[2018-03-21 17:10] #3958 closed

[2018-03-21 17:10] #3820 closed

[2018-03-21 17:11] #3795 closed

[2018-03-21 17:12] mhlopko commented on #3038
Is this still valid issue? Should be long fixed. Please comment if not. Thanks!

[2018-03-21 17:12] #3038 closed

[2018-03-21 17:14] mhlopko commented on #2925
As discussed in #3585 you can use mode" parameter in pkg_tar explicitly if needed.

[2018-03-21 17:14] #2925 closed

[2018-03-21 17:15] mhlopko commented on #2652
We don't plan to write these rules ourselves, therefore closing this issue.

[2018-03-21 17:15] #2652 closed

[2018-03-21 17:17] mhlopko commented on #1492
Closing since this is not really an issue anymore?

[2018-03-21 17:17] #1492 closed

[2018-03-21 17:19] mhlopko commented on #850
Closing since this is quite obsolete now. Please open a new issue in case you think this still need investigation.

[2018-03-21 17:19] #850 closed

[2018-03-21 17:20] mhlopko commented on #663
Is this issue still valid?

[2018-03-21 17:21] mhlopko commented on #660
Closing since long obsolete, please file new issue if you discover problems

[2018-03-21 17:21] #660 closed

[2018-03-21 17:22] mhlopko commented on #600
I don't think we expect any work on our side for this issue, therefore closing.

[2018-03-21 17:22] #600 closed

[2018-03-21 17:22] #599 closed

[2018-03-21 17:45] jmillikin-stripe opened #4899 "DumpPlatformClassPath.java (part of Java toolchain) is non-deterministic"
See https://github.com/bazelbuild/bazel/issues/4714#issuecomment-374795250 for context.

### Description of the problem

tools/jdk/DumpPlatformClassPath.java is used to generate `platformclasspath.jar`, which as part of the Java toolchain is a direct dependency of ~every `java_binary`, `java_library`, and various language-specific rules built on JVM.

Its behavior is not deterministic because it w

[2018-03-21 17:46] ulfjack commented on #4842
@alexeagle - are you saying that there's no way to add stamp inputs for Skylark actions? That's independent of this feature request?

[2018-03-21 17:51] gregestren commented on #4457
Just as in https://github.com/bazelbuild/bazel/issues/967, [bazel cquery](https://docs.bazel.build/versions/master/cquery.html) should resolve this.

Feel free to re-open if anything remains amiss.

[2018-03-21 17:51] #4457 closed

[2018-03-21 17:53] borisbrodski commented on #4648
I think, that is the most recent version on my system (ArchLinux ARM, aarch64)
I'm not sure, if I'm able to compile OpenJDK from source on a smart phone :/
If I don't find binaries, I will have to wait til the official update.

[2018-03-21 19:15] ulfjack commented on #4565
Working as intended. You aren't supposed to set BAZEL_INTERNAL_INVOCATION_ID at all unless you're running a cloud build service and you need to post BES streams with the same invocation id as Bazel, but you need to start posting streams before actually invoking Bazel. That's the only supported use case for this env variable.

Assuming you are running a cloud build service, you must set different v

[2018-03-21 19:15] #4565 closed

[2018-03-21 19:26] ola-rozenfeld commented on #4565
Go it. We ran into it because we now pass the invocation_id as a flag to Bazel in our Guitar tests, and we need to remember to remove it from the command if we want to manually trigger the same command again. But I guess it's fine. Thank you!

[2018-03-21 19:29] jin opened #4901 "android_binary: building with a GMS Ads AAR results in missing R$styleable.class error"
### Description of the problem / feature request:

This issue was discovered by @paladine: repro project is https://github.com/jin/bazel_gmscore_crash

This crash happens when attempting to use `com.google.android.gms.ads.AdView` from [gmaven_rules](https://github.com/aj-michael/gmaven_rules) target `@com_google_android_gms_play_services_ads_11_8_0//aar`.

The `android_binary` target compiles succ

[2018-03-21 19:40] lukeweber commented on #4762
Any ideas on when this will be released?

[2018-03-21 19:45] allenlavoie commented on #3811
Taking another look at the original https://github.com/tensorflow/tensorflow/issues/13243, I do think this is a real issue with rpaths regardless of the transitive libs issue. Probably my repro just fails to capture some nuance of the situation.

I don't think it's necessary to reproduce this yourself (feel free to skip this bit), but just for completeness the command I'm running is:

[code]
With

[2018-03-21 19:59] davido commented on #4762
@lukeweber The fix is included in March Bazel release: #4582. I could already tesr rc1 of this upcoming release, see this announcement: https://groups.google.com/d/topic/bazel-discuss/Z5BH_SEjvDY/discussion.

[2018-03-21 20:01] ulfjack commented on #3155
I am definitely against bundling any additional things into the bazel binary.

I could maybe be convinced to add another git repo that only contains a copy of the proto (maintained by us) so that you can declare it as a workspace dep. On the other hand, I think it's also fine if you copy the proto to where you need it.

[2018-03-21 20:24] edwardmjm commented on #1052
OK, here it is.
https://stackoverflow.com/questions/49415876/how-to-run-test-on-the-source-tree-in-bazel

[2018-03-21 20:51] jin commented on #1052
I just thought of a method and answered in the post. Hope that works for
you.

On Wed, Mar 21, 2018 at 4:24 PM edwardmjm <notifications@github.com> wrote:

[2018-03-21 21:42] philwo commented on #4582
RC2 pushed: https://releases.bazel.build/0.12.0/rc2/index.html

[2018-03-21 21:45] ulfjack commented on #3155
Let me rephrase that: I'd prefer not to bundle more things into the Bazel binary. Protos are forward and backwards-compatible (as long as we only make certain kinds of changes), so it shouldn't be necessary to use exactly the same proto as Bazel is using.

[2018-03-21 21:59] cushon commented on #4897
A better diagnostic would be helpful, but the problem could also be avoided by not using stdout to communicate with workers, e.g. #2832

[2018-03-21 22:06] philwo commented on #4897
@cushon Absolutely. Unfortunately I won't have time to work on that before Q3. :|

I prepared a fix for this that adds a more helpful message in this case.

[2018-03-21 22:11] phenomenes commented on #4893
@ittaiz @philwo thanks for clarifying

[2018-03-21 23:49] jin commented on #4822
@laurentlb @brandjon any ideas?

[2018-03-21 23:51] #4401 closed

[2018-03-21 23:58] jin commented on #3849
Closing as it's no longer reported as flaky.

[2018-03-21 23:58] #3849 closed

[2018-03-22 01:08] brandjon commented on #4822
Hm. Apparently path.exists is a boolean, not a function that returns a boolean. (Though you could be forgiven for missing that when reading its doc.)

https://source.bazel.build/bazel/+/2410e1ab3e035382abe519003c618271a69a7b8e:src/main/java/com/google/devtools/build/lib/bazel/repository/skylark/SkylarkPath.java;l=102?q=skylarkpath.java

You should use it without trying to call it. But that's no ex

[2018-03-22 02:22] jin commented on #4822
@brandjon oops, thanks! Yes, a more helpful Skylark error will be useful.

[2018-03-22 03:25] jmillikin-stripe opened #4903 "repository rules always re-execute if WORKSPACE mtime is before last edit to rule.bzl"
Given this minimal workspace:
[code]

If I build `@the_repo//:hello` repeatedly, the repository rule gets re-executed every time:

[code]

If there are many such repository rules and they need some expensive setup, this can cause very slow build times with no obvious cause (because the repo rules are run in analysis phase).

However, the behavior is dependent on `WORKSPACE` mtime!

[code]

Changin

[2018-03-22 05:51] davido commented on #4899
cc @cushon

[2018-03-22 09:45] mhlopko commented on #4794
In the meantime, can you try with bazel build from HEAD? See "Compiling bazel" from https://www.bazel.build/contributing.html.

[2018-03-22 09:46] meteorcloudy commented on #4561
@excitoon I noticed this problem when I was implementing dynamic linking on Windows. The thing is you can not tell Bazel "this action may or may not generate this file". There's no way we can know if any symbols will be exported before the linking action. So the interface library (.ifso) has to be a mandatory output of the action.

However, I think it's meaningless if you build a DLL that expose n

[2018-03-22 10:11] #4542 closed

[2018-03-22 10:15] meteorcloudy commented on #4560
@excitoon Actually, we are able to build DLL from `cc_library`, but there are two caveats:

1. The extension is `.so` instead of `.dll`, I'm planing to fix the file extensions on Windows in next quarter.
2. Due to lack of ability to build [C++ transitive library](https://docs.google.com/document/d/1d4SPgVX-OTCiEK_l24DNWiFlT14XS5ZxD7XhttFbvrI/edit#heading=h.jwrigiapdkr2). The DLL only contains code

[2018-03-22 10:41] s-pace commented on #4600
@spomorski @jin Let me know if you have any question.

In the meanwhile, I have updated your DocSearch index. It is live.

We would be happy to help, give guidance.

Cheers

[2018-03-22 10:46] ahippler commented on #4858
I didn't know the plan to remove the genfiles directory. Wich version will remove the separation and did you report this anywhere?

[2018-03-22 10:51] laurentlb commented on #4858
It's unclear at the moment how we'll proceed. The separation is not useful and it adds complexity. I would be very happy if we could remove it. It's still here for legacy reasons, so we need to investigate and see how much work there is to do before we can switch the default.

[2018-03-22 11:27] #4897 closed

[2018-03-22 11:32] meteorcloudy opened #4904 "Bazel 0.12.0 rc2: Remote caching failed on Windows"
Tested on my local machine with remote caching on GCS.
@buchgr Is any file handler not closed after uploading?
[code]

[2018-03-22 12:27] meteorcloudy commented on #4778
As I explained, this doesn't seem to be a bug in Bazel, so closing. Reopen if it's still a problem.

[2018-03-22 12:38] meteorcloudy commented on #3542
This looks like fixed.

[2018-03-22 12:38] #3542 closed

[2018-03-22 12:39] #3524 closed

[2018-03-22 12:40] #4890 closed

[2018-03-22 12:40] s-pace commented on #4600
I have made a 2 sec bootstrap:
http://bazel-docsearch.surge.sh/

[2018-03-22 14:17] mhlopko commented on #4894
FTR, all is fixed after all rollbacks, leaving closed.

[2018-03-22 14:26] #4850 closed

[2018-03-22 14:29] jgavris commented on #4850
Will this remove the contents of the file for existing installations? I've been using `--nomaster_bazelrc` to deal with this.

[2018-03-22 14:34] katre commented on #4850
Debian package upgrades will overwrite the file if it hasn't been changed. If you have local edits then the file will not be changed and debian will prompt you during upgrade to resolve the matter.

[2018-03-22 15:15] jayconrod commented on #4544
Is there any chance this can be fixed soon? It's a really high priority for rules_go. It's one of the biggest pain points for Kubernetes.

Kubernetes' proto import paths typically don't match their locations within repositories. For example, see [k8s.io/apimachinery/pkg/apis/meta/v1/generated.proto](https://github.com/kubernetes/apimachinery/blob/master/pkg/apis/meta/v1/generated.proto). That impo

[2018-03-22 16:14] jmillikin-stripe commented on #4544
@jayconrod that sounds like https://github.com/bazelbuild/bazel/issues/3867, I believe this issue is for a slightly different behavior (something about proto import aliases?).

[2018-03-22 16:26] jayconrod commented on #4544
@jmillikin-stripe You're right, #3867 is what I really want.

[2018-03-22 17:09] #4899 closed

[2018-03-22 17:24] jmhodges commented on #3867
I just got hit by this in https://github.com/bazelbuild/bazel-gazelle/issues/162 and have worked around it by forking k8s.io/api and k8s.io/apimachinery to my own forks and deleting all of the proto files within them!

Trying to add client-go to my repo has been a source of a lot of pain over the last week while I tried to get other bazel-related blockers fixed for this one goal of getting client-

[2018-03-22 17:32] johnynek commented on #4899
I'm happy this was closed, but before we close can we comment on how we can add tests to catch and prevent this? I imagine reproducibility regressions will be really common if we don't have tests catch.

[2018-03-22 18:02] gkossakowski commented on #4899
a good tactics for reproducibility tests would be of interest for scala rules https://github.com/bazelbuild/rules_scala/issues/447

[2018-03-22 18:22] cushon commented on #4899
That is a good question. This specific genrule is temporary to support both JDK 8 and 9 host_javabases, but having a way to test for this category of error would be helpful. I started a thread of bazel-dev@:
https://groups.google.com/d/topic/bazel-dev/YOkJA769ol8/discussion

[2018-03-22 18:58] soonho-tri commented on #4711
I guess it's because `0.11.0-homebrew` and `0.11.1-homebrew` did not pick up this commit: https://github.com/bazelbuild/bazel/commit/bc09735be8868f345a25f9013e7c995d0871a8b4

[2018-03-22 19:01] ulfjack commented on #4711
Yeah, that sounds about right (GitHub says the commit was not picked up by any release). I'll close this as fixed then.

[2018-03-22 19:01] #4711 closed

[2018-03-22 19:44] mhlopko commented on #4827
I didn't even know we have `args` attribute :)

[2018-03-22 20:53] robfig commented on #4398
Can I ask why this is not a higher priority? It seems like sort of a big issue in running coverage, and I was under the impression bazel considered java coverage to be production ready. For example, we have to run all of our coverage with j=1, which is a LOT slower than when running the equivalent bazel test at full parallelism. This results in none of the teams wanting to use it.

Or, is there a

[2018-03-22 21:33] deeglaze opened #4905 "BUILD_TIME is an incorrect Unix epoch conversion in 'bazel version'"
The current release (0.11.1) was on March 6, 2018. When you run

bazel version

You get the following:

Build label: 0.11.1
Build target: <redacted>/devtools/build/lib/bazel/BazelServer_deploy.jar
Build time: Tue May 14 07:48:23 +50148 (1520362424903)
Build timestamp: 1520362424903
Build timestamp as int: 1520362424903

If you run 1520362424903 through epochconverter.com, you get the expected GMT

[2018-03-22 22:14] alexeagle commented on #4842
@ulfjack I haven't found a way to do it yet.

Also the only resource I could find on stamping has an empty-`srcs[]` on the genrule too: https://www.kchodorow.com/blog/2017/03/27/stamping-your-builds/

[2018-03-23 05:46] davido opened #4906 "Bump auto-value version"
Since https://github.com/google/auto/commit/f04406c1f11d3796bd93ed89ae160f47bcb4b7e4 the right version of @Generated annotation is used. We should upgrade Bazel to use auto-value version that includes this fix. These are: auto-value-1.5.4 auto-value-1.5.3.

[2018-03-23 10:45] meisterT commented on #4891
I've added support to dump the action graph as of analysis, see https://docs.bazel.build/versions/master/user-manual.html#dump

But for this bug execution information is necessary, so assigning back to Ola.

[2018-03-23 10:48] meisterT commented on #3187
Already done in 784bb52613feb484221c3aa6756de45012163088

[2018-03-23 10:48] #3187 closed

[2018-03-23 10:50] meisterT commented on #4569
@agoulti is working on printing a summary after a build.

[2018-03-23 12:08] mhlopko commented on #4751
Probably the same error is on re2 project in this build: https://buildkite.com/bazel/bazel-with-downstream-projects-bazel/builds/174#76e869fc-616e-4893-a2d6-f86403c64dc0

[2018-03-23 12:09] mhlopko commented on #4751
failed: Unexpected IO error.: /private/var/tmp/_bazel_buildkite/5325b99c04dd286d6e24d5b36b141d80/execroot/com_googlesource_code_re2/external/bazel_tools/tools/test/test-setup.sh (No such file or directory)
 

[2018-03-23 13:09] hlopko opened #4907 "Find a way to invalidate non-hermetic external repositories"
We don't have a good answer for people using non hermetic external repositories regarding repository invalidation.

Example:
Currently when users use our autoconfigured C++ toolchain, and then they upgrade the compiler (or OS), bazel doesn't notice and will happily use old include directories.

The only way how to automatically invalidate the repo is to make it depend on the environment variable a

[2018-03-23 13:09] mhlopko commented on #4907
cc @aehlig

[2018-03-23 13:17] pcj commented on #4891
Thanks for that @meisterT, FYI I saw this on 0.10.0:

[code]

[code]

[2018-03-23 14:08] #4149 closed

[2018-03-23 14:25] jin commented on #4907
/sub, affects Android NDK as well.

[2018-03-23 17:13] kavehv commented on #1831
I don't think this problem has been resolved yet.  We still don't have an avenue to easily query for changes to those BUILD files.  Furthermore, I came across another example of this when updating our WORKSPACE file to point to a new tag of Google's re2 repo.  Every dependency on this re2 target should have been specified by my rdeps query to bazel, but it was not.

[2018-03-23 17:22] janakdr commented on #1831
What were your results using the rbuildfiles operator?

[2018-03-23 17:28] katre commented on #4905
This looks to be the same as #4469, closing it as a duplicate.

Unfortunately, trying to fix the underlying issue is difficult, as various projects currently have dependencies on the broken behavior.

[2018-03-23 17:28] #4905 closed

[2018-03-23 17:36] kavehv commented on #1831
Perhaps I'm just not reading the right part of the documentation, but I cannot seem to concoct a query using rbuildfiles that doesn't result in a syntax error.  An example in the documentation would be supremely helpful.

[2018-03-23 17:39] janakdr commented on #1831
Did you read the section on [Sky Query](https://docs.bazel.build/versions/master/query.html#sky-query)?

[2018-03-23 17:48] kavehv commented on #1831
Yes, and again, an example would be useful here.  Unless I misunderstand you and the documentation, I don't see how I could query with `--universal_scope="//"`?

`$ bazel --bazelrc=devtools/bazel.rc query --universe_scope="//" --order_output=no 'buildfiles(rbuildfiles(WORKSPACE))'
ERROR: Skipping '//': the empty string is not a valid target
ERROR: Skipping '//': the empty string is not a valid tar

[2018-03-23 17:52] janakdr commented on #1831
"//" isn't a valid target pattern. If you want to query your whole workspace, "//..." is a valid pattern. "//...:*" will include things like output files (non-rules).

[2018-03-23 18:15] alexeagle commented on #4842
See discussion in https://groups.google.com/d/msgid/bazel-discuss/CAP4t0yjHEy%2BuHtTq%3Dw4j3-%2BX%2B95XSrmiHoceuxRPe5h_GQ9g6w%40mail.gmail.com?utm_medium=email&utm_source=footer

[2018-03-23 18:31] kavehv commented on #1831
Thanks, using that I can get a list of rules with

`
bazel --bazelrc=devtools/bazel.rc query --universe_scope="//..." --order_output=no 'kind(rule, siblings(buildfiles(rbuildfiles(WORKSPACE))))
`

However, when I try to expand it to multiple BUILD files it fails:
`
bazel --bazelrc=devtools/bazel.rc query --universe_scope="//..." --order_output=no 'kind(rule, siblings(buildfiles(rbuildfiles(WORKSPA

[2018-03-23 18:45] janakdr commented on #1831
Try separating your arguments with commas.

[2018-03-23 19:20] kavehv commented on #1831
Aha...this worked, thanks.  It's not optimal, but it's at least doable.  I still think that this is something rdeps should provide when pointed to any BUILD file.

[2018-03-23 19:24] erickj commented on #3732
+1 for use during repository rule execution. Using the parser I linked above above I've found it useful to read and write intermediate build info in JSON, then just `execute cat` -> `json_parse` to get a structured object.

Also I've recently found a convenient pattern in using JSON to serialiaze highly structured data to enable using providers as a pseudo interface between macros and repository r

[2018-03-23 21:48] alexeagle opened #4910 "skylint doesn't indicate lack of function doc on rules"
The most important documentation in skylark code is on rule implementations

[code]

yet skylint doesn't complain when this function doc is missing.

[2018-03-24 02:35] jwnimmer-tri commented on #4910
Possibly duplicates #4854?

[2018-03-24 13:07] excitoon commented on #4560
Thank you very much.

[2018-03-24 13:08] excitoon commented on #4560
It's resolved for me, I don't know if I am to close this.

[2018-03-24 22:18] #4560 closed

[2018-03-25 21:56] Reflexe opened #4912 "No way to run action with a modified version of default_shell_env"
First of all, I started writing this issue as a bug since a recent commit broke my code but then I thought it could be also a feature request. If you think it is more of a FR than a bug, please tell me and I will edit it to match the correct format.

### Description of the problem / feature request:

Since 0f5679ef95611e457a6e39313cf88feac8b2278f, `ctx.configuration.default_shell_env` would return

[2018-03-26 02:45] tianshilei1992 commented on #4794
@mhlopko I'm tried to build the latest bazel (HEAD->master) using `bazel build //src:bazel`, and use the generated binary in `bazel-bin/src/bazel` to build the tensorflow, but it failed to detect the target CPU with the error `error: unknown target CPU 'armv7-a'`, actually I was building on the macOS. In addition to the tensorflow, I've also tried to build my toy project mentioned above with the g

[2018-03-26 06:37] mhlopko commented on #4794
This is super strange. Please verify following:

    bazel clean --expunge && bazel build //tensorflow:foo

works with bazel 0.11.0, and fails with bazel@HEAD. That would be very strange because we have tensorflow on our CI and it's green currently. No local changes? No extra options passed to bazel?

The same info would be useful for your toy project. The error message says that your C++ toolchai

[2018-03-26 07:56] tianshilei1992 commented on #4794
@mhlopko Yes, released bazel could build the toy project, only build, and the generated binary file failed to execute due to the @rpath problem.

Xcode was not installed. I used the clang installed via HomeBrew (`brew install llvm`) to support the OpenMP flags. The relative env `CC` and `CXX` have been set correctly.
[code]

When using my built bazel, the contents of `$execroot/external/local_conf

[2018-03-26 09:58] dslomov commented on #4907
/cc @dslomov

[2018-03-26 10:36] 18222278799 opened #4914 "Extension 'third_party_gpus_cuda_configure.bzl' has error"
Dear Mr.or Mrs.
After i installed Bazel,i want to run bazel texst. i have a error .i only use it with CPU,without GPU.

ERROR:/home/zhang/.cache/bazel/_bazel_zhang/..../externel/org_tensorflow/third_party_gpus_cuda_configure.bzl:120:22: The function "set" has been removed in favor of "depset",please use the latter
ERROR:error loading package ' ':Extension 'third_party_gpus_cuda_configure.bzl' has

[2018-03-26 10:39] 18222278799 commented on #4914
i installed by using our custom APT repository step by step.

[2018-03-26 16:16] lfpino commented on #4652
This is still happening according to https://buildkite.com/bazel/bazel-with-downstream-projects-bazel/builds/177#10f9cdaa-75bc-416a-b635-633153fa1e8b, @meteorcloudy can you please follow up?

[2018-03-26 16:41] lfpino commented on #4914
This is probably better suited for stack overflow, could you ask there?

[2018-03-26 16:41] #4914 closed

[2018-03-26 23:38] alexeagle commented on #4910
yup, sorry

[2018-03-26 23:38] #4910 closed

[2018-03-27 02:21] alexeagle commented on #4778
I can still reproduce this:

`BUILD.bazel`
[code]

`WORKSPACE`
[code]

`index.bzl`
[code]
`repro.js`
[code]

[code]

Maybe it's somehow related to nodejs specifically, but if I just run the program like this, I don't see the problem:
[code]

[2018-03-27 04:26] cushon commented on #3332
Downgrading priority based on (in)activity, but I still think it's worth investigating.
I'm also not sure why this was assigned to me.

[2018-03-27 08:46] aehlig commented on #4888
I'm not sure, I would classify this as related to external repositories;  the feature request to ignore certain directories is valid even if not external repositories are involved. Basically, a more flexible form (e.g., allowing to specify only via prefixes) of the `--deleted_packages` option is requested.

[2018-03-27 09:29] meteorcloudy commented on #4652
Sure, filed an issue to TensorFlow_serving, following up at https://github.com/tensorflow/serving/issues/825

[2018-03-27 10:51] dslomov commented on #4888
Hmm, seems like the "ignored" directories should still go into the WORKSPACE file.
What would be the good design?

[2018-03-27 12:11] #4652 closed

[2018-03-27 12:14] lfpino commented on #4906
Cal, can you please triage accordingly?

[2018-03-27 12:36] buchgr commented on #4904
[code]

Why do you think this is related to remote caching?

[2018-03-27 12:44] meteorcloudy commented on #4904
The problem seems to be Bazel failed to clean up some directories after action finished.
[code]
I only see this error while running `bazel build //src:bazel` with remote caching.

[2018-03-27 12:45] buchgr commented on #4904
I see. So you suspect that Bazel's remote cache keeps a file handle open?

[2018-03-27 12:46] meteorcloudy commented on #4904
We often saw the `Action failed to execute` error message, however it's not really causing any problem, but we should definitely fix it.
See https://buildkite.com/bazel/bazel-bazel/builds/1046#d6a5f20d-14cd-41ae-b2dc-84b4b5ed8d21

[2018-03-27 12:46] meteorcloudy commented on #4904
@buchgr Yes

[2018-03-27 12:50] buchgr commented on #4904
This is probably the same issue as
*https://github.com/bazelbuild/rules_go/issues/1402
<https://github.com/bazelbuild/rules_go/issues/1402>*
On Tue, Mar 27, 2018 at 2:46 PM Yun Peng <notifications@github.com> wrote:

--

Jakob Buchgraber

Software Engineer

Google Germany GmbH

Erika-Mann-Straße 33

80636 München

Geschäftsführer: Paul Manicle, Halimah DeLaine Prado

Registergericht und -nummer: H

[2018-03-27 15:39] mpuncel commented on #2460
+1 for this, I have a problem where our CI system pushes branches called BUILD whenever a successful build completes. You can probably guess how that interferes with `bazel query  'kind(go_test, rdeps("//...", //client:client.go))`. --deleted_packages doesn't seem to stop rdeps from trying to analyze the BUILD files in the .git directory

[2018-03-27 17:12] chaoren commented on #4374
I'm running into the same problem.

[code]

[2018-03-27 17:13] chaoren commented on #4374
I don't know why the error shows `/usr/crosstool/v18/x86_64-grtev4-linux-gnu/lib64/libstdc++.so.6` while ldd shows `/usr/lib/x86_64-linux-gnu/libstdc++.so.6`.

[2018-03-27 17:25] chaoren opened #4922 "mobile-install --device without accompanying --adb_arg's causes exception."
[code]
This is caused by [`args.add` here](https://github.com/bazelbuild/bazel/blob/e666d3b88efb59f2a8f10b18882c9f13801508d9/src/main/java/com/google/devtools/build/lib/rules/android/WriteAdbArgsAction.java#L151). `adbArgs` is presumably an immutable list if there are no `--adb_arg`s supplied on the command line. I would fix this myself, but I'm blocked by [another bug](https://github.com/bazelbui

[2018-03-27 18:09] ilya-biryukov opened #4923 "Backwards-compatible constraints in Skylark"
### Description of feature request:
Add support for backwards-compatible `constraint_value`s or a similar mechanism to Skylark.

### Feature requests: what underlying problem are you trying to solve with this feature?

Each `constraint_value` defined in skylark is currently completely independent of any other values defined for the same `constraint_setting`.

This lack of information about unrelat

[2018-03-27 18:23] katre commented on #4923
This is definitely something we need to support for the config_setting case. I am a bit concerned about how this would work with [toolchain resolution](https://docs.bazel.build/versions/master/toolchains.html). Consider the following toolchain declarations, using the above glibc versions:

[code]

If we are trying to build a target and the execution platform is ':system_glibc_2.13', which toolchai

[2018-03-27 18:43] buchgr commented on #4751
I have managed to get a stacktrace for the error:
[code]

After Bazel crashes, the file in question exists however. The error is hard to reproduce and I have only ever managed to reproduce it when the machine was under load. The error only seems to happen for files from remote repositories.

[2018-03-27 18:49] buchgr commented on #4751
Some more instances of the error:

https://buildkite.com/bazel/publish-bazel-binaries/builds/50#fc59eefc-b8d3-4c53-9854-5df86d2061d1
/Users/buildkite/builds/buildkite-macpro-1-1/bazel/publish-bazel-binaries/src/main/cpp/util/BUILD:32:1: Couldn't build file src/main/cpp/util/_objs/file/src/main/cpp/util/file.o: C++ compilation of rule '//src/main/cpp/util:file' failed: Unexpected IO error.: /privat

[2018-03-27 18:54] ilya-biryukov commented on #4923
Good point, `exec_compatible_with` looks like a case where you would prefer to do non-exact matches and pick the most specialized one. I wouldn't expect such detailed constraints to be used in `exec_compatible_with` much.

I have only considered `target_compatible_with` case before, for which I find exact matches to be the right default. At least in examples that I mentioned earlier, both glibc an

[2018-03-27 18:59] buchgr commented on #4751
The code that triggers this error is
[code]
with `exectRoot` being a `Path` object and `Path.isExecutable()` leading to the `stat` system call.

cc: @ulfjack

[2018-03-27 19:16] buchgr commented on #4751
It's also quite possible that this is a bug in `NativePosixFileSystem`, as it only ever appears on macOS. I have never seen this error on Windows or Linux. I suggest setting `io.bazel.EnableJni=0` for macOS on Buildkite and see if the error continues to happen.

[2018-03-27 19:20] ulfjack commented on #4751
So far, I think we've only seen this error for executable files, right? I wonder if it's something in MacOS, maybe related to its verification of executable files?

[2018-03-27 19:28] buchgr commented on #4751
@ulfjack IIUC all output files of an action are marked executable in Bazel?

[2018-03-27 19:35] ulfjack commented on #4751
None of the paths posted so far contain "bazel-out". I'm not sure how exactly the files under external/ come into existence - the paths are related to external repositories, but that doesn't really help us narrow it down. It could be coincidence that we only see it happen for external repositories paths. The remote cache is implicitly sorting the files by name, so maybe it's just the external/ pat

[2018-03-27 19:53] buchgr commented on #4751
I have disabled the `NativePosixFileSystem` and this error then happens also with the `JavaIoFilesystem`.
[code]

[2018-03-27 19:56] buchgr commented on #4751
@aehlig @dslomov can you comment on how files from external repositories come into existence in the execroot?

[2018-03-27 20:04] katre commented on #4923
Ideally, we'd have the same selection rules for `exec_compatible_with` and `target_compatible_with`, in order to simplify what people need to know to use platform constraints properly.

Still thinking about what this will look like.

[2018-03-27 20:11] ulfjack commented on #4751
The next thing to do is rule out the likely answers. Does the file exist when we do the call?

[2018-03-27 20:16] ulfjack commented on #4751
Also, if we're writing the file, are we properly closing it afterwards?

[2018-03-27 20:25] buchgr opened #4924 "java.exe failures on Buildkite"
https://buildkite.com/bazel/google-bazel-presubmit/builds/588#60311e60-e262-4ee1-83c9-270ce5296aa4

INFO: From Compiling Java headers src/main/java/com/google/devtools/build/lib/libbuild-base-hjar.jar (455 files):

  | Action failed to execute: java.io.IOException: ERROR: src/main/native/windows/processes-jni.cc(161): CreateProcessWithExplicitHandles("D:\temp\_bazel_buildkite\ogez2d-n\execroot\io_

[2018-03-27 20:38] karantza opened #4925 "cc_library hdrs that match the target name are treated as a label rather than a file"
### Description of the problem / feature request:

I'm attempting to write bazel BUILD files for some of our project's precompiled dependencies, and noticing that a few of them follow a pattern where they provide a single master header file - the name of the project with no extension - at the root of the project. When I specify that in 'hdrs', I get a rule error: `cycle in dependency graph.` It th

[2018-03-27 21:02] buchgr commented on #2614
can this be closed?

[2018-03-27 21:21] rupertks commented on #4849
From the logs the test doesn't actually seem broken, just that it takes a long time and is timing out.

Normally I would suggest we increase the timeout, but the timeout is already set to 'eternal'.

Specifically, the test builds bazel, uses the built bazel to build bazel again, and compares that the outputs (e.g. bazel-bin/*) for both builds were the same. So it's gonna be slow.

It looks like bo

[2018-03-27 21:47] buchgr commented on #4751
I added the following code before constructing the `TreeNodeRepository`.

[code]

According to `java.io.File.isFile()` all files for which `Path.isExecutable()` threw an exception do indeed exist. What's more interesting is that after having added this code, there are no more failures in the `TreeNodeRepository`. So either the call to `Path.isExecutable()` or `File.isFile()` seems to influence the

[2018-03-27 22:23] #4849 closed

[2018-03-27 22:28] Yannic opened #4926 "PublishBuildEvent out of sync with googleapis repo"
The return type for RPC PublishBuildToolEventStream was "recently" (in July) changed to PublishBuildToolEventStreamRequest, but the googleapis repo does not reflect this change.
Any chance we can get this updated?

See
https://github.com/bazelbuild/bazel/blob/master/third_party/googleapis/google/devtools/build/v1/publish_build_event.proto#L63
https://github.com/googleapis/googleapis/blob/master/go

[2018-03-27 22:56] sdtwigg commented on #2614
I think there is a latent question on making sure native dependencies are propagated in the non-java part of  the sandwich (as exposed via https://docs.bazel.build/versions/master/be/java.html#java_binary.launcher).

However, that might be better as a separate issue?

[2018-03-28 01:46] rupertks commented on #4849
What was the resolution here? Did we remove the --test_timeout=900 override to allow 'eternal' timeouts again... ?

[2018-03-28 05:17] ittaiz commented on #2614
I think we can close it.
There are still missing bits (strict deps for example) but they’re not
tracked here
On Wed, 28 Mar 2018 at 1:56 Stephen Twigg <notifications@github.com> wrote:

[2018-03-28 08:06] laszlocsomor commented on #4924
Started debugging.

Known so far:
- this was a presubmit test of https://bazel.googlesource.com/bazel/+/29587f5487d3bbef9c5074f2f83b85e6cb4234a6 which was later merged as https://bazel.googlesource.com/bazel/+/f5c8c0bb0f53cd7289d65672955b37ffcff7d6c4.
- the "Action failed to execute ... command is longer than CreateProcessW's limit (32768 characters)" error is known and it's non-fatal, though I'm

[2018-03-28 09:18] #2614 closed

[2018-03-28 09:35] lfpino commented on #4925
Hi Alex, this question is better suited for Stack Overflow (https://stackoverflow.com/questions/tagged/bazel), can you please ask there and @jin will follow up?

[2018-03-28 09:35] #4925 closed

[2018-03-28 09:43] laszlocsomor commented on #4096
This is still not fixed, see first message on https://github.com/bazelbuild/bazel/issues/4924.

I found the culprit:
- `JavaHeaderCompileAction` creates a "two-tiered spawn": https://github.com/bazelbuild/bazel/blob/73088a8a010232ae540080eacb78153612c1ce93/src/main/java/com/google/devtools/build/lib/rules/java/JavaHeaderCompileAction.java#L472-L476
- the two-tiered spawn runs one command, and upon

[2018-03-28 09:44] meteorcloudy commented on #4149
Hey, everyone, this issue has been resolved by https://github.com/bazelbuild/bazel/commit/bb9ae6a174b8cd255a62249f01919426f1d817f8.
You can now use `--experimental_shortened_obj_file_path` option to have a short object file path with Bazel@HEAD. This change will be released with 0.13.0 and the short object file will be default in the future. For more details of this change, please read the commit

[2018-03-28 09:46] laszlocsomor commented on #4924
@buchgr , the first error ("Action failed to execute ... command is longer than CreateProcessW's limit (32768 characters)") is https://github.com/bazelbuild/bazel/issues/4096

[2018-03-28 09:48] laszlocsomor commented on #4096
This problem isn't specific to Windows, Bazel might trigger it on other platforms too, if the two-tiered spawn's first command is longer than the platform's limit but the second one isn't.

[2018-03-28 10:00] laszlocsomor commented on #4096
The failing command is in [turbine-failure.txt](https://github.com/bazelbuild/bazel/files/1855449/turbine-failure.txt).

Using a parameter file works:

[code]

[2018-03-28 10:14] buchgr commented on #4849
No, the test has been completely disabled on macOS for the past month because of https://github.com/bazelbuild/bazel/issues/4770. Once that has been fixed, we can enable it again

[2018-03-28 10:15] buchgr commented on #4770
Has this been fixed? The test works on my macbook with latest released Bazel.

[2018-03-28 11:00] laszlocsomor commented on #4096
I talked with @aehlig and @dslomov about this problem. Here's what we thought out:
- Evaluating the `CustomCommandLine` to count its length beats the purpose of using one, and a `CountingCustomCommandLine` (or its `Builder`) would still need to flatten NestedSets. However that is exactly what `SpawnAction.Builder.buildCommandLine()` does: https://github.com/bazelbuild/bazel/blob/73088a8a010232ae54

[2018-03-28 11:15] buchgr commented on #4926
I have filed a bug against the internal team: b/77183232

[2018-03-28 11:22] buchgr commented on #4751
The following patch seems to fix the problem, which makes me conclude that it's a problem with both our `FileSystem` implementations.

[code]

[2018-03-28 11:40] lfpino opened #4928 "TensorFlow job in Bazel CI is red but only in Ubuntu 14.04"
The TensorFlow job is failing with:
[code]
Looks like a remote execution issue, assigning to @buchgr to diagnose.

Full log in: https://buildkite.com/bazel/bazel-with-downstream-projects-bazel/builds/179#415760a7-1156-4b75-897e-c2ed29db585a

[2018-03-28 11:50] philwo commented on #4878
Can we close this issue or is it still a release blocker for 0.12.0?

[2018-03-28 11:50] buchgr commented on #4928
This is due to a recent change to remote caching, where we no longer can cache actions that generate symlinks as outputs. I ll take a look.

[2018-03-28 11:50] buchgr commented on #4928
cc @meteorcloudy

[2018-03-28 11:51] philwo commented on #4582
Last known release blocker:
- https://github.com/bazelbuild/bazel/issues/4904

[2018-03-28 11:51] laszlocsomor commented on #4878
It's no longer a blocker, but it's also not resolved.

[2018-03-28 11:53] laszlocsomor commented on #4904
FYI all, the `Action failed to execute` error is #4096 and it's a legitimate bug.

[2018-03-28 11:53] laszlocsomor commented on #4904
...as in, it's legitimately a bug :) We should fix it.

[2018-03-28 11:56] meteorcloudy commented on #4904
But that's not causing this `java.nio.file.DirectoryNotEmptyException`, right?
I can dig more on this if no one else is already working on it.

[2018-03-28 12:25] buchgr commented on #4904
@meteorcloudy that's normal and harmless.

[2018-03-28 13:32] tomlu commented on #4096
I have a design doc out for review request that would address this, but as
of yet nobody has been looking at it :(

Look at our internal queue. We could promote this document to a public one
with some light scrubbing (eg. project names and benchmarks).

On Wed, Mar 28, 2018 at 7:00 AM, László Csomor <notifications@github.com>
wrote:

[2018-03-28 13:37] philwo commented on #4678
Friendly ping @dkelmer

[2018-03-28 13:39] ah-edg opened #4929 "Feature request: query in workspace status scripts with stamping"
### Description of the problem / feature request:

`bazel query` should be executable in workspace_status scripts for stamping. Trying to do so deadlocks the build right now.

### Feature requests: what underlying problem are you trying to solve with this feature?

I want to make sure the build artifact does not contain any files that are not committed.
This should also work with glob and it shoul

[2018-03-28 13:44] laszlocsomor commented on #4924
I don't know how to repro this  and cannot spend more time looking for it. Please reopen if you see it again.

[2018-03-28 13:46] rongjiecomputer commented on #4149
@meteorcloudy Just boostraped Bazel with this flag on and it works flawlessly! Will try to build Tensorflow with this flag when I am free (though it looks like Tensorflow's Bazel Windows CI is red again).

I notice that the change only affects C++. `com\google\devtools\build\android` repeats twice in `C:\Users\me\GitHub\bazel\bazel-bin\src\tools\android\java\com\google\devtools\build\android\_java

[2018-03-28 13:48] dslomov commented on #4678
sorry for late reply: @dkelmer  and I took a look at this and realized that the easiest way to fix it would be in  the context of fixing diamond splits (https://docs.google.com/document/d/1254CQ8T4Rmeasg4NO1NPail2kLPC50VJ7Ok6JsoSe-c/), which is being worked on by @dkelmer (expanding on my prototype implementation https://bazel-review.googlesource.com/c/bazel/+/42172)

[2018-03-28 13:50] laszlocsomor commented on #4802
FYI, I don't have the capacity to work on this.

[2018-03-28 13:52] mhlopko commented on #4149
\o/

[2018-03-28 13:52] meteorcloudy commented on #4149
@rongjiecomputer Glad to hear it worked! I'm working on fixing the TF's Windows build and setting up a presubmit for it. Should be done next week.

Yes, this change only affected C++, because it's only `cl.exe` (and other MSVC build tools) that doesn't support long path. I tested with `java.exe` and `javac.exe`, they both accept long path. So we are saved here.

[2018-03-28 13:52] laszlocsomor commented on #4096
Sorry, I can't look at the doc, just don't have the mental bandwidth for it.

[2018-03-28 14:00] laszlocsomor opened #4930 "Windows, testing: make //src/test/shell/... run on Windows"
Blocked by:
- Bash runfiles library (https://github.com/bazelbuild/bazel/issues/4460)

Blocking:
- "Windows, testing: make all tests work on Window" (https://github.com/bazelbuild/bazel/issues/4292)

[2018-03-28 14:18] cushon commented on #4096
@tomlu's doc looks great to me. What is the priority of this bug? Can we wait for the principled solution?

Conditionally creating a params file the way that is currently supported has unacceptable performance overhead. Unconditionally creating a params file would address this bug, but also has performance overhead.

[2018-03-28 14:22] laszlocsomor commented on #4096
I don't think it's urgent, because Bazel still builds, but it displays this error message. I guess we can wait

[2018-03-28 14:26] laszlocsomor commented on #4083
I think this is a duplicate of https://github.com/bazelbuild/bazel/issues/4096.

[2018-03-28 14:26] #4083 closed

[2018-03-28 14:32] laszlocsomor commented on #4753
Duplicate of https://github.com/bazelbuild/bazel/issues/3663

[2018-03-28 14:32] #4753 closed

[2018-03-28 14:39] aehlig commented on #4808
I'm pretty sure it has nothing to do with the UI. The numbers come, as the original bug report reported correctly, from the respective test strategy. As @ulfjack is currently refactoring related code, he is probably the best person to look at. But it still might be low priority.

[2018-03-28 14:39] laszlocsomor commented on #4171
Duplicate of https://github.com/bazelbuild/bazel/issues/4171

[2018-03-28 14:39] #4171 closed

[2018-03-28 14:42] laszlocsomor commented on #929
Duplicate of https://github.com/bazelbuild/bazel/issues/4292

[2018-03-28 14:42] #929 closed

[2018-03-28 14:43] laszlocsomor commented on #931
Duplicate of #4319

[2018-03-28 14:43] #931 closed

[2018-03-28 14:45] laszlocsomor commented on #1163
Closing, since the bug title is "Figure out what to do ..." and we've been doing find with copying.

[2018-03-28 14:45] #1163 closed

[2018-03-28 14:45] laszlocsomor commented on #1533
Duplicate of https://github.com/bazelbuild/bazel/issues/4334

[2018-03-28 14:45] #1533 closed

[2018-03-28 14:48] laszlocsomor commented on #1926
As of now, `ctx.action` is deprecated: https://docs.bazel.build/versions/master/skylark/lib/ctx.html#action

[2018-03-28 14:48] #1926 closed

[2018-03-28 14:53] rupertks commented on #4849
Do you know if this test was also failing in our CI, before we disabled it?

My impression from the log is that it was timing out, but not necessarily failing.

[2018-03-28 14:57] laszlocsomor commented on #2196
Someone else will have to do this for `--async` though.

[2018-03-28 14:59] laszlocsomor commented on #3024
Closing due to inactivity.

[2018-03-28 14:59] #3024 closed

[2018-03-28 14:59] laszlocsomor commented on #3040
Closing due to inactivity.

[2018-03-28 14:59] #3040 closed

[2018-03-28 15:07] buchgr commented on #4849
@rupertks yes it was definitely failing, although I don't have a log for you to proof that :).

[2018-03-28 16:07] jmillikin-stripe commented on #4770
@buchgr Which test? I don't think there's been any test added to verify that presence of XCode doesn't affect ijar builds.

[2018-03-28 16:23] aj-michael commented on #4922
I can take a stab at this

[2018-03-28 16:45] buchgr commented on #4904
@meteorcloudy did you run it twice to get cache hits?

[2018-03-28 16:59] buchgr commented on #4770
I think I have mixed things up. I was under the impression that this made the `bazel_determinism_test` fail.

[2018-03-28 21:01] jasonaden commented on #4603
@jmmv This fails more than occasionally. It's at least 4-5 times per week, meaning on average I have to go through the steps to fix this on a daily basis. It would really help if we could get this fixed.

[2018-03-28 21:13] nglorioso commented on #4682
Sorry folks! The feature is still under development (we're hashing out some issues with how strictly to enforce one version on java classes, for example: android resource files, and mechanisms to allow some sort of whitelisting process for codebases with existing violations who want to ease into enforcement).

Looks like I'm missing a few precondition checks like https://github.com/bazelbuild/baze

[2018-03-29 00:52] alexeagle commented on #4603
+1 this is really biting the Angular team and harming our internal adoption
of Bazel

On Wed, Mar 28, 2018 at 2:01 PM Jason Aden <notifications@github.com> wrote:

[2018-03-29 02:51] jin commented on #4603
FYI @lfpino (current Bazel sheriff)

[2018-03-29 03:04] jin commented on #4374
@chaoren, this is a bug with Bazel on Rodete. Check out the internal go/bazel FAQ page.

[2018-03-29 06:58] laszlocsomor commented on #4582
I just noticed this entry in the release notes:

Please remove it, the feature was rolled back in cfe5994540f20901906ce0c39d6f57d3ad02d677.

[2018-03-29 07:09] philwo commented on #4582
FYI, the Bazel release 0.12.0 will be delayed until April 9th due to one remaining release blocker and me being on vacation from tomorrow. I think that's better than rushing it out only to find out that there's an issue and then I'm not there to fix it :)

Bazel 0.12.0rc2 should be pretty much what goes out as final, as I'm not aware of any other known issues, except for the remote caching on Wind

[2018-03-29 07:26] meteorcloudy commented on #4904
Yes, it happened at the second run

[2018-03-29 07:39] ittaiz commented on #4582
Will this mean 0.13.0 will also be delayed?

On Thu, Mar 29, 2018 at 10:09 AM Philipp Wollermann <
notifications@github.com> wrote:

[2018-03-29 08:08] philwo commented on #4582
@ittaiz I think we can cut 0.13.0-rc1 as planned.

[2018-03-29 08:57] philwo opened #4935 "SimpleBlobStoreActionCache#downloadBlob should timeout when backend doesn't answer"
We had a hanging `bazel build` job on CI this morning:
https://buildkite.com/bazel/bazel-with-downstream-projects-bazel/builds/180#94b43a46-ccf2-44f9-8b8f-2a7703a60111

I saved the stack trace from the machine:
[code]

Here's the relevant output:
[code]

Full log is attached: [jvm.txt](https://github.com/bazelbuild/bazel/files/1859311/jvm.txt)

[2018-03-29 08:57] meteorcloudy commented on #4928
Since it's only failing since Wednesday, it should be caused by some change between (b8765a6656415eb6380fffd20202515918880d96, 73088a8a010232ae540080eacb78153612c1ce93]

[2018-03-29 08:58] meteorcloudy commented on #4928
This is a regression, so it will be a release blocker for 0.13.0, but not for 0.12.0 because it's cut before the breaking change.

[2018-03-29 08:59] lfpino commented on #4603
@sergiocampama can you please take a look since Julio is on vacation?

[2018-03-29 09:13] philwo commented on #4935
I think it would be good if we could add a few flags to tune the exact behavior here, for example `--experimental_remote_cache_expected_throughput` (so that we can abort when a file hasn't been downloaded in a "reasonable" amount of time), `--experimental_remote_cache_blobstore_retry_backoff` (implement exponential backoff, possibly with a lower bound of 0.1s and an upper bound of 1s) and `--exper

[2018-03-29 09:16] lfpino commented on #4583
https://github.com/bazelbuild/bazel/issues/4928 may be a blocker for this release.

[2018-03-29 11:31] lfpino commented on #4929
@ericfelly can you please triage?

[2018-03-29 11:46] lfpino commented on #4928
TF is back to green today (https://buildkite.com/bazel/bazel-with-downstream-projects-bazel/builds/180) but we still need to investigate what's going on here.

[2018-03-29 14:44] ImJasonH opened #4936 "bazel version reports incorrect build time"
### Description of the problem / feature request:

`bazel version` (running 0.11.1) reports "Build time" as `Tue May 14 07:48:23 +50148 (1520362424903)`

The timestamp appears to be milliseconds (1520362424 is March 6, 2018), but is being interpreted by `bazel version` as seconds, which is May 14, 50148.

Bazel is awesomely futuristic, but I doubt it's actually built forty-eight thousand years in

[2018-03-29 14:49] buchgr commented on #4770
I have verified that the `bazel_determinism_test` does not work on our CI machines.

https://source.cloud.google.com/results/invocations/0cedab47-afb6-4f3b-9d57-6e7aa89802f2/targets/%2F%2Fsrc%2Ftest%2Fshell%2Fbazel:bazel_determinism_test/tests

[2018-03-29 14:52] laszlocsomor commented on #4770
I'm likely the wrong assignee for this bug. Mac is neither my domain of expertise, nor do I have the capacity to work on this.
@buchgr , you've been making great progress on this bug, thank you! Let me actually assign it to you because that makes more sense to me.

[2018-03-29 15:13] sergiocampama commented on #4603
I believe this is something related to some dependency framework that VSCode is built with, as when I tried switching to [Brackets](http://brackets.io/) the same problem happened. I've also tried with Atom and Sublime 3, and those last 2 work correctly.

I don't really know what we can do from this side of the table. We could file a bug against VSCode but I don't expect this to be looked at anytim

[2018-03-29 16:11] spomorski commented on #4737
JavaScript is required by site navigation. Not sure if we can do this?

[2018-03-29 16:12] deeglaze commented on #4936
This is a dup of my issue [#4905](https://github.com/bazelbuild/bazel/issues/4905) which is again a dup of [#4469](https://github.com/bazelbuild/bazel/issues/4469) :(

[2018-03-29 16:50] deeglaze opened #4937 "crosstool doesn't resolve relative paths"
### Description of the problem / feature request:

My toolchain provides some supplemental implementations of POSIX and system headers within its own package, which is on top of another toolchain repo.

My CROSSTOOL has flags like the following:
 compiler_flag: "-isystem" compiler_flag: "relative/posix/include"

And my cc_toolchain has its files fields refer to a filegroup such as
[code]

I want m

[2018-03-29 17:29] chaoren commented on #4374
Ah, thanks. Would that work for this user on centos6 as well?

[2018-03-29 18:57] spomorski commented on #4517
This will be a massive search-and-replace effort on both docs.bazel.build and GitHub. Prioritizing low unless someone objects.

[2018-03-29 19:34] deeglaze commented on #4937
I then tried adding `builtin_sysroot: "/opt/toolchain/x86_64-elf/"` and changed that prefix in my `cxx_builtin_include_directory:` path prefixes, and got an exception:
[code]

[2018-03-29 20:02] jwnimmer-tri opened #4939 "Bazel is using python user site packages by default"
### Description of the problem / feature request:

See https://docs.python.org/3/library/site.html#site.ENABLE_USER_SITE for background.

When Bazel runs build actions, we want them to be hermetic by default, maybe with opt-out for certain cases or enforced-through-sandbox for others.

Python by default uses `PYTHONPATH` to find modules, which is easy enough to make hermetic by not including it in