[2019-08-13 20:11] #9104 closed

[2019-08-13 20:20] #7081 closed

[2019-08-13 20:21] rohansingh commented on #8582
@haxorz You're exactly right about the CI workflow. The CI uses long-running Buildkite agents. Except in the case of an agent crash or restart, the Bazel server will already be running.

Some random agent gets assigned to build a commit, and it updates its local filesystem with the new commit. This is done by using `git` in a build directory, and then using `rsync` to copy any changed files to the

[2019-08-13 20:22] katre commented on #6849
This feature is now enabled. Leaving this open to track the cleanup and removal of old code (after the 1.0 release).

[2019-08-13 20:24] haxorz commented on #8582
^^ that's enough of a lead for us to debug. so, an INFO log is probably not needed.

thanks for the bug report!

[2019-08-13 20:25] ericfelly commented on #6151
Dupe of #5439?

[2019-08-13 22:04] lberki commented on #9075
This is now fixed with the above commit. If there are any bugs, let's tackle separately.

[2019-08-13 22:04] #9075 closed

[2019-08-14 03:54] snowzach commented on #7135
I have been playing with this as well. The zipper in question is not from python. It's a built in third party tool. I have been able to build zipper manually by doing the following:
[code]
The compile.sh builds the `bazel_build` bootstrapped bazel that can build the release bazel. This `bazel_build` can be used to build zipper which is in `third_party/ijar:zipper`

It almost looks like the depende

[2019-08-14 03:57] adamporich commented on #9122
I don't believe so the full python toolchain definition is
[code]
and the (mildly censored) build log is
[code]

[2019-08-14 07:35] madsager commented on #5150
What is the status of this? Dx is no longer supported and bazel is the only one using it by default. I am getting reports from a couple of bazel users that are seeing dx fail on their code and d8 does not fail. Is there anything I can do to help move this forward?

[2019-08-14 08:26] #5821 closed

[2019-08-14 08:32] lberki commented on #9162
https://github.com/bazelbuild/bazel/commit/ef8b6f68cc8ffd2e6523a894034ae383e87ec74c is the fix to be cherry-picked, isn't it?

[2019-08-14 08:35] iirina commented on #9162
@lberki yes, @katre already cherry picked it in [rc6](https://github.com/bazelbuild/bazel/issues/8572#issuecomment-520898465)

[2019-08-14 08:47] lberki commented on #9162
Oh, ok. Then I'm not up-to-date enough :) Should we close this bug then?

[2019-08-14 08:47] #9162 closed

[2019-08-14 08:58] buchgr opened #9166 "descriptive error message on bes file upload error."
Internal users report that when uploading local files via BES to RBE fails due to permission errors with the remote cache then we do not print any error messages but just fail with exit code 38. We should print a clear error message.

[2019-08-14 09:44] meteorcloudy commented on #9104
I did a bisect, it turned out the failure of `res_test` is indeed caused by flipping `--incompatible_auto_configure_host_platform`. I supposed it affected how windows sdk toolchain was selected. Maybe we should fix from the test side. /cc @laszlocsomor can you take a look?

[2019-08-14 09:47] katre commented on #9104
Thank you for debugging. I was confused because that didn't fail in the actual CI run, only the downstream.

[2019-08-14 09:48] laszlocsomor commented on #9104
Yes, I'll take a look.

[2019-08-14 09:49] meteorcloudy commented on #9104
Yes, because that's not a shell test, it's somehow affected by the Bazel binary that runs the test.

[2019-08-14 09:49] meteorcloudy commented on #9104
@laszlocsomor Thanks!

[2019-08-14 09:55] #7152 closed

[2019-08-14 10:23] laszlocsomor commented on #9104
*confusion intensifies*

Without the flag:
[code]

With the flag:
[code]

Confusing bit:
[code]

[2019-08-14 10:50] katre commented on #9104
I think this is because `//:default_host_platform` is inheriting from the old `@bazel_tools//platforms:host_platform`. Previously, this had the cpu and os constraints magically added based on the `--hpst_cpu` flag, but with the incompatible change they are not set, and so `//:default_host_platform` also has them unset.

I'll send a PR shortly to fix `default_host_platform` to inherit correctly. Wi

[2019-08-14 10:54] katre commented on #9104
Right, I can't update `default_host_platform`: see https://github.com/bazelbuild/bazel/issues/9148 for details.

[2019-08-14 11:10] steeve commented on #9078
@katre do you need a sample repo ?

[2019-08-14 11:39] meteorcloudy commented on #9104
OK, looks like we should do the same for `res_test`?

[2019-08-14 11:55] katre commented on #9104
Yes, I think so.

On Wed, Aug 14, 2019, 7:39 AM Yun Peng <notifications@github.com> wrote:

[2019-08-14 12:12] laszlocsomor commented on #9104
Sorry, I don't follow.
https://github.com/bazelbuild/bazel/issues/9148 says:

Sorry again, do what?

[2019-08-14 12:27] laszlocsomor commented on #9152
@philwo , could you take a look?

[2019-08-14 12:48] meteorcloudy commented on #9104
I suppose if we want to fix the tests (`//src/tools/singlejar:combiners_test` and `//src/test/res:res_test`) after enabling --incompatible_auto_configure_host_platform, we'll have to break them with 0.28.1? Therefore we should disable the tests first, wait for the release of 0.29.0, then enable them with the fix. @katre Did I understand correctly?

[2019-08-14 12:49] laszlocsomor commented on #9104
Thanks @meteorcloudy ! I'm fine with that.

[2019-08-14 12:56] kormat opened #9170 "turn off progress by default when stdout is a pipe"
### Description of the problem / feature request:

Bazel's progress output can overwrite other tools in a terminal. It would be a lot better if `--show_progress` can be `auto` by default, and disable it when output is not a tty.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[code]

### What operating system are you running Bazel o

[2019-08-14 13:12] meteorcloudy commented on #9080
FYI, @irengrig I'm now working on this ;)

[2019-08-14 13:15] irengrig commented on #9080
Great!

[2019-08-14 13:28] emranbm commented on #9095
Fair enough.
Thanks!

[2019-08-14 13:28] #9095 closed

[2019-08-14 13:37] emranbm opened #9171 "paths to Python packages may not contain '-'. WHY?"
Would you please tell why it's illegal for a `py_binary` rule to have `-` in its paths?
And is there any way to bypass that?

https://github.com/bazelbuild/bazel/blob/2f42d174cefa9b7def2e4cb5117a43d434bbbf12/src/main/java/com/google/devtools/build/lib/rules/python/PyCommon.java#L933-L940

[2019-08-14 13:57] meteorcloudy commented on #8955
We're seeing failure caused by this issue here again:
https://buildkite.com/bazel/bazel-federation/builds/19#ee3795da-1088-4c27-b81e-2636e30e3587

[2019-08-14 14:03] katre commented on #9078
@steeve Yes, if you can that would be very helpful.

[2019-08-14 14:03] katre commented on #9104
Thanks! I'll take care of cleaning up this (and combiners_test) after the release.

[2019-08-14 14:04] katre commented on #9148
0fdb1f4dc3b5639a79e5531d90c4adb1c868943d will also need to be fixed after the 0.29.0 release.

[2019-08-14 14:15] laszlocsomor commented on #7847
Here's the explanation of what happens.

Two of the first things the Bazel server in BlazeCommandDispatcher.execExclusively is parsing command line options and initializing modules. (Modules are Bazel-internal components.)

Parsing the flags consists of two phases:

1. Tokenizing the flags and storing the raw values as strings. This step is done eagerly.

2. Parsing values out of the strings and a

[2019-08-14 14:18] meisterT commented on #9170
should be fixed in the current 0.29 RC by @michajlo with https://github.com/bazelbuild/bazel/commit/ac5a971097a05e72a4c011cde6fbb3f347067b1e#diff-3a83e4f30ace13af1057a82b4821db2e

[2019-08-14 14:18] #9170 closed

[2019-08-14 15:04] meteorcloudy opened #9172 "Windows: Bazel cannot share cpp cache between two projects with different workspace name"
If you try to share cache between two projects with different workspace name, when the cache is hit for a C++ compilation, the header check will fail because the header paths printed by MSVC's `/showInclude` option are absolute paths, which contains the workspace name.

You can reproduce with:
https://github.com/meteorcloudy/my_tests/tree/master/cpp_cache_with_different_workspace_name

[code]

Not

[2019-08-14 15:07] meteorcloudy commented on #9172
We had a similar bug before because output base was different. https://github.com/bazelbuild/bazel/issues/6847#issuecomment-446966864
That issue was fixed at https://github.com/bazelbuild/bazel/commit/a1aa5c14782b38d8edf86953230f76ba2662378d, but it doesn't take different workspace names into consideration.

[2019-08-14 15:18] brandjon commented on #9122
Are you doing a wildcard build of the package containing the windows toolchain? If so, modify your invocation to exclude these targets. If not, what is your command line?

[2019-08-14 16:20] #8605 closed

[2019-08-14 16:22] mdasari823 commented on #8874
I am getting same error.

`🍃  Building Bazel from scratch..find: ‘src/tools/xcode-common/java/com/google/devtools/build/xcode/common’: No such file or directory
find: ‘src/tools/xcode-common/java/com/google/devtools/build/xcode/util’: No such file or directory
....
🍃  Building Bazel with Bazel.
.WARNING: --batch mode is deprecated. Please instead explicitly shut down your Bazel server using the co

[2019-08-14 16:36] sergiocampama commented on #8874
That's a different error: `Could not find a JDK for host execution environment, please explicitly provide one using --host_javabase`

The xcode path one is just a warning.

[2019-08-14 17:20] mdasari823 commented on #8874
Aah, sorry. Thanks for pointing it out. It works well when I give the JDK execution environment explicitly using `env EXTRA_BAZEL_ARGS="--host_javabase=@local_jdk//:jdk" bash ./compile.sh`

[2019-08-14 17:27] shahms opened #9174 "Starlark-based repository rules no longer warn about mismatched workspace names"
### Description of the problem / feature request:

When the repository rule `name` of an external repository didn't match the `workspace`-specified name in that external repository, the native repository rules used to issue a warning about this mismatch (e.g. #4495).  This warning could, in theory, help encourage consistent naming of external repositories between projects.  During the switch to St

[2019-08-14 17:57] moroten opened #9176 "Windows: glob(["**"]) in external root is non-recursive"
### Description of the problem

`glob(["**"])` inside a `new_local_repository()` does not search subdirectories on Windows, it only reports files in the root directory. The external repository seems to be created with all root files copied in, including the `BUILD.bazel` file, and all subdirectories linked using junctions (`dir | select FullName,LinkType,Target` in Powershell tells me it's a junct

[2019-08-14 20:03] Utsav2 commented on #6727
Is this a priority? This would really help us evaluate if we want to move towards remote execution in a prototype.

[2019-08-14 21:48] brown commented on #5821
Thanks very much for the snippet of code.  It seems to work well.
I will patch the library rule.  Thanks again!

On Mon, Aug 5, 2019 at 10:40 AM Irina Iancu <notifications@github.com>
wrote:

[2019-08-14 22:16] trybka commented on #9153
In theory,  but I think it's delayed on reviews,  and possibly incompatible change resolution.

[2019-08-15 00:01] adamporich commented on #9122
Yes that is the problem. I was running
[code]
which fails.

But if I run
[code]
excluding the windows python toolchain it works even though python targets are still being built.

[2019-08-15 01:38] ulysses4ever opened #9177 "Custom build flags choke on prefix workspaces"
### Description of the problem

I believe custom build flags don't play well with proper `@namespace//...`-like references.

### Bugs: what's the simplest, easiest way to reproduce this bug?

I set up [a repository with a repro](https://github.com/ulysses4ever/bazel-user-settings-example/) -- check out the README. It follows closely the running example of drinks and flavors [in the documentation](

[2019-08-15 01:41] brandjon commented on #9122
Glad we found an explanation!

One of the motivations for a lot of the configurability work being done recently is to make it easier for `bazel build //...` to "just work". Unfortunately there's no general mechanism (yet?) to automatically exclude targets that can't build in a given configuration, or to automatically change their configuration, so we get situations like this.

[2019-08-15 01:41] #9122 closed

[2019-08-15 07:53] buchgr commented on #8220
This has been shipped

[2019-08-15 07:53] #8220 closed

[2019-08-15 08:34] buchgr commented on #6727
It's not a super high priority but it's definitely on our roadmap.

[2019-08-15 13:49] johnedmonds commented on #9115
Good news: I've tested bumping the grpc version used by google-cloud-cpp and now it successfully compiles with bazel 0.29.0rc6. I've got the google-cloud-cpp changes required for the version bump internally and I can work on open sourcing them. We can probably mark this bug as closed.

[2019-08-15 14:39] c-parsons opened #9180 "Limit depset depth"
Bazel throws a StackOverflowException upon flattening a a depset of very high depth (~5000 for my default memory settings)

We should institute a fix that Bazel throws a more reasonable exception when flattening a too-deep depset. This should result in only a build failure instead of a server crash.

This github issue, going forward, can serve as record for an FAQ of this particular issue.

**Why

[2019-08-15 14:43] sergiocampama commented on #9180
What would be a better approach should clients find pieces of code like that example snippet?

[2019-08-15 14:48] c-parsons commented on #9180
Append all elements to a list, and add them as the "direct" elements of a single returned depset.
In the toy example,
[code]
becomes:
[code]

*size* (number of elements) of a depset is not an issue here, only depth.

[2019-08-15 14:49] Quarz0 opened #9181 "string.replace incorrectly handles negative value for count"
### Description of the problem:

According to the [spec](https://github.com/bazelbuild/starlark/blob/master/spec.md#stringreplace), a negative value for `count` in `string.replace` should be ignored and this is also what python and the Go implementation do.
[code]

**Side Note:** The parameter `count` of `string.replace` is incorrectly named `maxsplit` in the definition of `replace` [here](https:/

[2019-08-15 15:04] ahumesky opened #9182 "java.lang.ClassCastException: class com.google.devtools.build.lib.actions.Artifact$SourceArtifact cannot be cast to class com.google.devtools.build.lib.actions.Artifact$DerivedArtifact"
### Description of the problem:

Crash:
[code]

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Repro:
https://gist.github.com/duarten/5c8ca4b45f593e54a435f92f279ec71f

### Any other information, logs, or outputs that you want to share?

Context:
https://groups.google.com/d/topic/bazel-discuss/6I6Af4JgtgE/discussion

[2019-08-15 15:46] jin commented on #374
cc @alandonovan

[2019-08-15 16:47] Jonathan34 commented on #7834
that is actually a must to understand what s going on and fix the deps and import path. Thank you for that!

[2019-08-15 17:59] clintharrison commented on #7433
@lberki this is not consistently true. I'm able to reproduce the output you have, _but_ if you "change" the BUILD file after that, you'll see a different result:

[code]

[2019-08-15 18:19] sergiocampama commented on #2486
This just bit me as well, any chance it could be looked at as corporate infrastructure is moving into IPv6?

[2019-08-15 19:00] gregestren commented on #6812
I'm not sure what's going on with this specific cycle. But I'm not reproducing with Bazel 0.26.0 on a clean grpc checkout. Is this still an issue?

[2019-08-15 19:06] danieldanciu commented on #2486
What version of basel/java/mac are you using? The problem went away for me, and I think it was the upgrade to Bazel 0.28 that did it.

[2019-08-15 20:09] mattklein123 commented on #6727
FWIW I was about to open an issue on this. I just started playing around with using RBE for local dev, and it would be really great to better understand how much bandwidth I'm using, how much time was spent waiting on network, etc.

[2019-08-15 20:28] laurentlb opened #9184 "incompatible_disallow_dict_lookup_unhashable_keys"
When the flag is set to true, dict key lookups using `in` or `dict.get` will fail with unhashable types (instead of returning False).

e.g.
[code]

[2019-08-15 21:11] #8956 closed

[2019-08-15 22:15] steeve commented on #9078
@katre here you go: https://github.com/steeve/bazel_issue_9078

[2019-08-15 22:48] mzeren-vmw commented on #374
Somewhat related: C++ SG15 has been discussing how to name files in JSON, and current thinking is use JSON UTF-8 for "bags of bytes" that roundtrip through UTF-8 (with no normalization allowed) and arrays of integers for everything else. https://wg21.link/P1689.

[2019-08-15 23:10] mattklein123 commented on #8385
FYI I'm still hitting this issue on bazel 0.28.1. Is there anything I can do to provide more info? When I manually delete the workspace file everything works fine.

[2019-08-15 23:29] #8953 closed

[2019-08-16 03:03] keith commented on #9153
Let me know if there's anything I can do to expedite merging the new crosstool!

[2019-08-16 03:06] keith commented on #8902
@scentini do you have a suggestion for how to fix this? Having to `clean --expunge` whenever switching versions here is a pain for our large team

[2019-08-16 03:15] mattklein123 commented on #8385
I verified that the above fix is in 0.28.1 so I guess it's some other issue. @buchgr LMK if you would like me to open a fresh issue on this.

[2019-08-16 06:49] lberki commented on #7433
Oof.

[2019-08-16 07:00] laszlocsomor commented on #9172
Thanks for the report!

Why wouldn't we?

[2019-08-16 07:22] lberki commented on #9115
Closing them. Apologies for the breakage. The good news is that protobuf support built into Bazel is _almost_ out of the woods now: all I'll need to do is to remove `[ProtoInfo].check_deps_sources` and then no more breaking changes are expected for a while.

[2019-08-16 07:22] #9115 closed

[2019-08-16 08:05] meteorcloudy commented on #9172
Exactly, I don't have any good reason to object it.
Then, I might know how to fix this, will send a change today.

[2019-08-16 08:06] buchgr commented on #8385
Do you have a reproducer or is it the same as the initial bug report?

[2019-08-16 08:06] #7847 closed

[2019-08-16 09:08] meteorcloudy opened #9187 "Bazel CI: RBE builds are failing in downstream"
https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1147#_

[code]

Culprit finder:
https://buildkite.com/bazel/culprit-finder/builds/203
https://buildkite.com/bazel/culprit-finder/builds/204

Both points to 8eb1dbbdf62c143b479f198aa2387cbad5822c0d

[2019-08-16 09:09] laszlocsomor commented on #6709
I can still repro with Bazel 0.28.1 on Linux.

[2019-08-16 09:12] laszlocsomor commented on #6574
Repro without nuking your actual Bazel cache:

[code]

[2019-08-16 09:19] laszlocsomor commented on #6709
Same bug with `--nosystem_rc` and with `--noworkspace_rc` (provided `<workspace>/.bazelrc` exists).

[2019-08-16 10:21] mihaigalos commented on #8882
@marianopeck , I tried in vain to set up a qemu vm on Ubuntu on my PC and cross-compile bazel for the Pi there. Would you be so kind as to share the compiled bazel artefacts?

[2019-08-16 10:28] steeve commented on #9078
For the record, this is blocking us from upgrading to 0.28 (at least), because we ship a framework with `arm` inside. That said, a per workspace workaround would be fine to us.

[2019-08-16 10:31] steeve commented on #9078
Here is the output of the sample project:
[code]

The weird thing is that it doesn't matter if I enable or disable the `:ios` constraint for arm, `armeabi-v7a` is always selected. If I do this on the `ios_arm64` platform, it fails (as it should).

[2019-08-16 10:37] steeve commented on #8572
Kindly asking for the fix to https://github.com/bazelbuild/bazel/issues/9078 to be included in the release when it's solved, if possible

[2019-08-16 11:58] #8531 closed

[2019-08-16 14:01] #9155 closed

[2019-08-16 14:25] marianopeck commented on #8882
Hi @mihaigalos
Not sure if it would help, but [here](https://dev.to/martinezpeck/the-battle-continues-build-tensorflow-c-binding-for-raspberry-pi-in-2019-553j) I wrote some more issues I found with it. In fact, in that post, I comment [this place](https://github.com/PINTO0309/Bazel_bin) where you can find pre-build binaries for bazel.
Let me know if that helps.

[2019-08-16 15:17] mattklein123 commented on #8385
@buchgr I don't have an exact reproducer, but the symptom is exactly the same as the original bug report. Let me know if there is any info I can provide. I've gotten around it right now by just deleting the stable-status.txt file before I run any build commands. I can remove that hack and help debug if you tell me what to look for.

[2019-08-16 15:18] AngusDavis opened #9189 "remote_jdk11 doesn't include required security policy configs"
### Description of the problem / feature request:

When running with --config=docker-sandbox or --config=remote and using a --javabase/--host_javabase of @bazel_tools//tools/jdk:remote_jdk11, attempting to initialize SSL (e.g., from tests) fails with the following:
[code]
TestSsl looks like the following:

[code]

Adding debug print statements shows that when running locally, the directory specifi

[2019-08-16 16:03] katre commented on #9078
Thanks for the repo, investigating now.

[2019-08-16 16:40] katre commented on #9078
Okay, found the problem, it's in [osx_archs.bzl](https://source.bazel.build/bazel/+/master:tools/osx/crosstool/osx_archs.bzl;l=27):

1. This defines architectures for `armeabi-v7a`, `ios_armv7`, and many others.
2. The order is defined by `OSX_TOOL_ARCHS`, which means that `armeabi-v7a` has higher precedence than `ios_armv7`.
  1. Also, `armeabi-v7a` doesn't define an os constraint, which is weird

[2019-08-16 16:40] katre commented on #9078
Also pinging @sergiocampama directly.

[2019-08-16 16:41] katre commented on #8572
@steeve: I don't think #9078 is a release blocker, since we aren't yet telling people to enable `--incompatible_enable_cc_toolchain_resolution`. One of the blockers is, specifically, iOS toolchain selection, which is the heart of the issue.

Your workaround is to continue using the legacy cc toolchain selection mechanism.

[2019-08-16 17:08] #9139 closed

[2019-08-16 18:08] steeve commented on #9078
@katre why is it ignoring the ios constraint? armeabi shouldn't be equivalent to a perfect match, should it?

[2019-08-16 18:12] ccate commented on #9171
ditto for py_library...

even a dir without dashes (src/mymodule/BUILD) cannot use srcs from a filegroup group rule in a path with dashes (src/python/my-python-module)

[2019-08-16 18:12] katre commented on #9078
Toolchains are matched if every constraint present in the toolchain is present and the same value in the platform. This allows platforms to define new constraints that the toolchains are not aware of. For example, rules_go could define a new `:use_cgo` constraint, and users could add it to their platforms. This shouldn't stop apple toolchains from being used, because apple toolchains aren't aware

[2019-08-16 18:23] ccate commented on #9171
#8010

[2019-08-16 18:32] chronal-xnor opened #9190 "`cc_test`s with a large dependency tree eventually exceed the Mac `dyld` load commands size limit"
### Description of the problem / feature request:

Symptom:
`cc_test`s with a large dependency tree eventually exceed the Mac `dyld` load commands size limit:

[code]

I believe the underlying issue is that `cc_test`s force all their `cc_library` dependencies to be build with `-shared` if `dynamic_mode` is `default`. So the list of `.so`s that the dynamic linker must load becomes very long. This i

[2019-08-16 20:50] ulysses4ever commented on #9177
May I ping @juliexxia who did most of the job of implementing this exciting feature!

[2019-08-16 21:05] steeve commented on #9078
Super clear, thank you!

That said, that seems a pretty dangerous thing, if I define a toolchain that matches on "Linux", then it can steal all matches to it, even if another has other matches.

I would wager that a toolchain matching all constraints should win over another having a partial match because of missing ones.

I'm trying to find a way to override this in my current workspace. I'm using

[2019-08-16 21:12] katre commented on #9078
We've discussed changing toolchain resolution from "first match" to "best match", where "best" means "most constraint values match". Unfortunately in discussions with users this isn't always easy to follow, and toolchain resolution is already complicated enough. We're definitely open to revisiting the idea, however.

[2019-08-17 03:01] googlewalt commented on #7944
Sorry for the delay in response.

Internally, use of @import is problematic because it requires modules, and the current method of caching of modules does not scale in a parallel remote execution environment.  There are interoperability issues with internal tools as well.

As for support for @import in bazel, you can use @import statements in some cases, but it depends on how the corresponding mod

[2019-08-17 07:27] mihaigalos commented on #8882
@marianopeck , I lolled (again) when (re-)seeing your article. Awesome one. Nice one with the binaries. I'm unfortunately on Ubuntu 18.04 on the RPi3B+ and cannot use the arm64 ones. Perhaps the bazel binary has some OS-specific stuff baked in. I'll consider switching to Raspian! Many thanks! :thumbsup:

[2019-08-17 11:42] marianopeck commented on #8882
ohhh I didn't know you wanted `arm64`. If so, you might try [these builds](https://dl.photoprism.org/tensorflow/nvidia-jetson/bazel/) that were used originally for the nano?
Let me know.

[2019-08-17 14:18] mihaigalos commented on #8882
@marianopeck , I could get it running with `bazel` 0.27 and building a demo with `bazel build //... --host_javabase=@local_jdk//:jdk`! Many thanks! :+1:

[2019-08-17 14:40] marianopeck commented on #8882
Excellent news @mihaigalos!!

[2019-08-17 18:18] moroten opened #9192 "Cquery's Transitions output format breaks following builds"
### Description of the problem / feature request:

`bazel cquery --transitions=full` affects the next bazel command. The error message in my example is `transition inputs [//:type] do not correspond to valid settings`.

The commands I run are
[code]

(My major concern is if there are more bugs where the state, what I've been running before, affects the output.)

### Bugs: what's the simplest, easi

[2019-08-17 19:22] ittaiz commented on #8916
@iirina any updates?

[2019-08-18 00:08] jin commented on #622
generate_workspace has been deprecated. Please use [rules_jvm_external](https://github.com/bazelbuild/rules_jvm_external) instead.

[2019-08-18 00:08] #622 closed

[2019-08-18 00:10] jin commented on #395
Closing as generate_workspace is no longer being maintained in favor of https://github.com/bazelbuild/rules_jvm_external.

[2019-08-18 00:10] #395 closed

[2019-08-18 00:13] jin commented on #562
I have an experimental Gradle to Bazel generator here. https://github.com/jin/rules_experimental_android#gradle-to-bazel-project-generator

It parses the output of `gradle dependencies` and generates the corresponding rules_jvm_external declaration in the WORKSPACE file. It's still in a prototype phase and constrained to Android projects, but please try it out and provide feedback if you have any.

[2019-08-18 00:52] jin commented on #1573
Closing this as generate_workspace is no longer maintained.

[2019-08-18 00:52] #1573 closed

[2019-08-18 00:53] jin commented on #3136
Closing this as generate_workspace is no longer maintained. Please open Maven-related issues on [rules_jvm_external](https://github.com/bazelbuild/rules_jvm_external) instead.

rules_jvm_external uses Coursier as its resolver, which works well with version ranges.

[2019-08-18 00:53] #3136 closed

[2019-08-18 00:54] jin commented on #2654
Closing this as generate_workspace is no longer maintained. Please open Maven-related issues on [rules_jvm_external](https://github.com/bazelbuild/rules_jvm_external) instead.

[2019-08-18 00:54] #2654 closed

[2019-08-18 00:55] jin commented on #1800
Closing this as generate_workspace is no longer maintained. Please open Maven-related issues on [rules_jvm_external](https://github.com/bazelbuild/rules_jvm_external) instead.

rules_jvm_external supports `http_proxy` and `https_proxy`.

[2019-08-18 00:55] #1800 closed

[2019-08-18 00:56] jin commented on #1783
Closing this as generate_workspace is no longer maintained. Please open Maven-related issues on [rules_jvm_external](https://github.com/bazelbuild/rules_jvm_external) instead.

rules_jvm_external supports declaring multiple `maven_install` instances, enabling multiple versions of an artifact namespaced by an external repository.

[2019-08-18 00:56] #1783 closed

[2019-08-18 00:57] jin commented on #1782
Closing this as generate_workspace is no longer maintained. Please open Maven-related issues on [rules_jvm_external](https://github.com/bazelbuild/rules_jvm_external) instead.

rules_jvm_external supports custom Maven repository URLs through the `maven_install.repositories` attribute.

[2019-08-18 00:57] #1782 closed

[2019-08-18 00:58] jin commented on #1131
Closing this as generate_workspace is no longer maintained. Please open Maven-related issues on [rules_jvm_external](https://github.com/bazelbuild/rules_jvm_external) instead.

rules_jvm_external supports pinning artifacts with their SHA256 values encoded in a version-controllable `maven_install.json` file.

[2019-08-18 00:58] #1131 closed

[2019-08-18 00:59] jin commented on #358
Closing this as generate_workspace is no longer maintained. Please open Maven-related issues on [rules_jvm_external](https://github.com/bazelbuild/rules_jvm_external) instead.

[2019-08-18 00:59] #358 closed

[2019-08-18 01:05] jin commented on #3981
Closing as 0.7.0 is pretty old, please open a new issue if you're hitting errors with the latest versions.

[2019-08-18 01:05] #3981 closed

[2019-08-18 03:41] segiddins commented on #7944
Both (2) and (3) are very important to us -- currently we build all of our (350+) libraries as static frameworks, and make use of `<>` imports and `@import`s exclusively, in many cases using custom module maps.

[2019-08-18 05:30] mboes opened #9193 "Missing fragments trigger exception"
### Description of the problem

Omitting a fragment that should have been declared in the rule definition causes an exception to be raised, rather than a user-friendly error.

### Bugs: what's the simplest, easiest way to reproduce this bug?

Remove the `fragments = ["cpp"]` line from any rule that uses the `cpp` fragment. `bazel build` will result in:

[code]

### What operating system are you ru

[2019-08-18 19:32] mboes commented on #7130
I agree that this (very breaking) change would be very desirable. rules_haskell just changed names to follow the new convention that was previously documented in the deploying guide, but unfortunately the convention has now changed again! rules_haskell is not part of the bazelbuild org, so technically we should now rename back to io_tweag_rules_haskell. Thing is, several of our users got caught ou

[2019-08-19 03:48] riking commented on #119
I am currently getting 'k8' on linux - is this complete?

[2019-08-19 09:27] aehlig commented on #1943
@gnossen No. When @dslomov decided on the priorities for Bazel 1.0, recursive workspaces were not in scope. So, unfortunately, nobody will be working on recursive workspaces before Bazel 1.0 is out.

[2019-08-19 09:36] meteorcloudy commented on #9187
Fixed

[2019-08-19 09:36] #9187 closed

[2019-08-19 09:52] bssung opened #9196 "How to cross-compile in bazel 0.5.3?"
How to cross-compile in bazel 0.5.3?　
The "configuring CROSSTOOL" document is for bazel 0.21?   But I'm using bazel 0.5.3.
Do you know can bazel 0.5.3 supports cross-compiling?

[2019-08-19 11:27] asuffield opened #9198 "path resolution as a cache key for repository rules"
Currently the cache keys for repository rules can include the literal value of an environment variable. This lets us down for things like PATH, where it's hard to precisely match the change you cared about with the correct cache invalidation. The most common case is c++ compiler autodetection and looking up gcc in PATH.

I just had a neat idea. Suppose we had a function (ideally in pure starlark)

[2019-08-19 11:48] katre commented on #119
No, we still are not ready to deprecate the `--cpu` flag or the target_cpu value.

[2019-08-19 12:03] aehlig commented on #8937
aaff22cadcb59f5497b9a84879ca2ca2a3b1323b was rolled back in 04e2ebfb6476b373dfccf728aa2a465ed814cc12 so effectively rolling forward af7fc3b75a62edc3b4b62de25b733b03c3ff925e, hence closing this issue.

[2019-08-19 12:03] #8937 closed

[2019-08-19 12:17] laszlocsomor commented on #8981
@aherrmann :

Only on older Windows versions. Since Windows 10 v1703 you can enable Developer Mode to create symlinks in non-elevated processes. (Not sure if that applies to Windows Home.) Does that help?

[2019-08-19 12:45] laszlocsomor commented on #9112
Thanks for the report!

How to repro though? I built `//scripts:bash_completion`, sourced the result, but `complete -o nospace -o default -F _bazel__complete` fails: `complete` requires one more argument, the name of the command it activates on (e.g. `bazel`).

[2019-08-19 12:47] laszlocsomor commented on #9112
...and if I call `complete -o nospace -o default -F _bazel__complete foo`, tab-completion works with your example.

[2019-08-19 12:58] aherrmann commented on #8981
@laszlocsomor Thanks for pointing that out. Yes, that is true, though AFAIK enabling developer mode itself also requires admin privileges. For now, we were able to work around this limitation in this particular case by using a `sh_binary` instead of a `py_binary`.

[2019-08-19 13:40] philwo commented on #9152
@bplotnick I've been thinking of replacing the current mechanism where we create a uid/gid for our purposes inside the image with a different one that seems to be working quite well on our remote execution and CI, where we also use Docker: Just mount /etc/passwd and /etc/group from the host inside the container, then use `-u` and `-g` to run the command inside the container as the current user. WD

[2019-08-19 13:46] scentini commented on #8706
This flag was flipped in 8b840e1.

[2019-08-19 13:46] #8706 closed

[2019-08-19 13:52] #9172 closed

[2019-08-19 14:16] laszlocsomor commented on #8981
Good point -- I don't know for sure, but sounds likely.

I'm curious, what is the workaround? Add a `sh_binary` that `data`-depends on the `py_binary` so the runfiles are rolled up to the sh_binary and no zip is built?

[2019-08-19 14:56] katre commented on #8572
Given the lack of new bug reports since I sent out RC6, I plan to release Bazel 0.29.0 tomorrow, August 19th. Please update this issue if you know of a release blocker.

[2019-08-19 15:42] mboes opened #9199 "select() is needlessly banned from workspace macros"
### Description of the feature request:

Say I have two macros, `workspace_macro(x)` and `build_macro(x)`, typically called in `WORKSPACE` and `BUILD` files respectively. The following is legal:

[code]

The following should also be legal:

[code]

### Feature requests: what underlying problem are you trying to solve with this feature?

Currently, the latter example above fails with an error messa

[2019-08-19 16:13] aherrmann commented on #8981
@laszlocsomor No, the workaround was to replace the `py_binary` by a `sh_binary`. It's a fairly simple script for Windows, so it's feasible to implement in bash instead of Python.

[2019-08-19 16:29] #9084 closed

[2019-08-19 16:46] laurentlb commented on #8147
@vladmos Can you provide instructions for migration?

[2019-08-19 16:57] vladmos commented on #8147
The command is `buildifier --lint=fix --warnings=keyword-positional-params`, you'll need to either build Buildifier manually from head or wait for 0.29 which should be released this week.

Note that it will only fix (and warn about) the following top-level functions: https://github.com/vladmos/buildtools/blob/fe14be0e63262168393387d0f7c87250c44be5d2/warn/warn_bazel_api.go#L842-L856
Various methods

[2019-08-19 18:32] Yannic opened #9203 "Move Protobuf rules documentation from Bazel site to rules_proto"
With the ongoing migration of Protobuf rules to Starlark, we'll eventually need to move the docs to rules_proto as well.

Right now, https://docs.bazel.build/versions/master/be/protocol-buffer.html points users to the `rules_proto` repo, which tells users to look at the documentation for the native rules.

Similar to #8996, this isn't a high priority task. Please assign `P3`. Thank You.

[2019-08-19 19:11] steeve opened #9205 "android: Unable to use AAPT2 when building an AAR"
### Description of the problem / feature request:

When generating an AAR file with `aapt2` enabled, the following crash occurs:
[code]

I can safely reproduce when manually running `aapt2`. Replacing `main` in the package with `no.name` work. I think it's looking for a dot in the package name.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if p

[2019-08-19 19:13] steeve opened #9206 "android: android_binary.android.native_deps is a NestedSet"
### Description of the problem / feature request:

When using the `.android.native_libs` attribute of an `android_binary` target, the splits are there but the values are `NestedSet`, which are not accessible from Starlark.

### Feature requests: what underlying problem are you trying to solve with this feature?

Make `android_binary.android.native_libs` consumable from starlark.

### What operatin

[2019-08-19 19:15] steeve opened #9207 "android: persistent_android_resource_processor doesn't work when building AAR"
### Description of the problem / feature request:

When building an AAR and using `--persistent_android_resource_processor`, the worker fails with the following:
[code]

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Build an AAR with `--persistent_android_resource_processor`

### What operating system are you running Bazel on?

mac

[2019-08-19 19:27] steeve commented on #9207
I did manage to reproduce when flipping only `--internal_persistent_busybox_tools`

[2019-08-19 19:44] kayasoze commented on #3219
I suggest this bug be reopened, as the use-case identified by @Globegitter, which I share the need for, remains unsolved.

[2019-08-19 19:48] jin commented on #9205
aapt2 enforces this. `main` is an invalid package for Android. There needs to be at least one period in the package.

https://stackoverflow.com/questions/55599876/error-attribute-package-in-manifest-tag-is-not-a-valid-android-package-name

[2019-08-19 19:49] jin commented on #9207
For a quick workaround, pass `--strategy=AARGenerator=sandboxed` after `--persistent_android_resource_processor`.

Does the error show up at all if you don't use the persistent workers flag?

[2019-08-19 20:33] jerrode commented on #8217
Hey @jinfwhuang, Jerrod from Codecov here, interested in supporting Bazel further, but need to know a bit more about the coverage.dat file and what it looks like. Can you send me a link or attach an example .dat file so we can see?

cc: @codesuki

[2019-08-19 21:32] steeve commented on #9205
@jin indeed, but the package being `main` is not my doing. I think it's done by the dummy manifest writer in bazel. hence this issue.

[2019-08-19 21:33] steeve commented on #9207
@jin it doesn't. actually, I only need to use `--internal_persistent_busybox_tools` for it to show up

[2019-08-19 21:36] steeve commented on #9207
The workaround you suggested is working! Thanks

[2019-08-19 21:37] jin commented on #9205
Odd. Can you make a reproducer project please? I'm not seeing this issue across Bazel's tests and downstream Android projects.

[2019-08-19 21:45] steeve commented on #9205
Sure thing

[2019-08-19 22:18] steeve commented on #9205
Ok I think I found the cause, the `android_library` sits in a `java/main` package, and somehow `main` it is propagated

[2019-08-19 22:22] steeve commented on #9205
Indeed, my bad, it was because the layout was:
[code]

[2019-08-19 22:22] #9205 closed

[2019-08-19 22:34] jin commented on #9205
Yes, the Android rules tries to be helpful and infer the custom package from R. If you want to override this, use `custom_package`.

[2019-08-20 00:09] codesuki commented on #8217
@jerrode I made a, somewhat hacky, Bazel rule that works for us. I'll make it available soon. Regarding the example .dat file, do you have an email address where I could contact you?
Just uploading the files worked for a week and suddenly even though the upload script succeeds there are no contents on the codecov dashboard. Maybe you could have a look.

[2019-08-20 06:00] laszlocsomor commented on #8981
Thanks!

Is there anything left to do for this issue? `py_binary` on Windows is slow because zipping is slow, the workaround is `--build_python_zip=false` and `--enable_runfiles=true`.

[2019-08-20 07:07] jerrode commented on #8217
@codesuki thanks! jerrod [at] codecov.io please :)

Interesting the files worked for a week and then stopped working. My initial guess is that the .dat uploaded file is being recognized as a coverage file by Codecov but then not processed (we see similar behavior in unique coverage files from Xcode --> .xccov).

For checking this out, can you tell me the github org / repo in question so I can also

[2019-08-20 08:11] libsamek opened #9208 "Document --version"
Since version `0.27.0` there is lightweight version checking `bazel --version`. This should be documented in command line reference (https://docs.bazel.build/versions/master/command-line-reference.html).

[2019-08-20 08:19] meteorcloudy commented on #8955
https://buildkite.com/bazel/bazel-federation/builds/19#ee3795da-1088-4c27-b81e-2636e30e3587
The issue turned out to be https://github.com/bazelbuild/bazel/issues/9172, it has nothing to do with this one.

[2019-08-20 08:31] #9112 closed

[2019-08-20 08:36] meteorcloudy commented on #7081
Since this flag is already flipped, I'm temporarily removing the `migration-0.29` label from it because https://github.com/bazelbuild/bazel/issues/9104 is preventing the incompatible flags pipeline to give correct result on Windows and our update to Bazelisk is not ready yet.

FYI @dslomov

[2019-08-20 08:56] meteorcloudy opened #9209 "Provide the target platform information in Starlark rule implementation"
### Description of the problem / feature request:

When implementing a Starlark rule, sometimes we need to know what is the target platform. For example, if the target platform in Linux/macOS, we can generated a shell script as the executable, but if the target platform in Windows, the executable should be a batch script or something else that is natively runnable on Windows (powershell script, .e

[2019-08-20 10:03] aherrmann commented on #8385
@buchgr I can still reproduce the issue with the same steps given in the original issue above on current master of digital-asset/daml@f11e09f60f. This is using
[code]
built with Nix as defined in the same repository.

[2019-08-20 10:38] fweikert commented on #9172
Nice, thank you Yun!

[2019-08-20 10:42] dslomov commented on #3219
If the usage is in your own project, why can't you just rename the references with a simple search and replace? It is more maintainable and less confusing than aliases.
If your other dependencies expect different names, use [repo_mapping](https://docs.bazel.build/versions/master/external.html#shadowing-dependencies) to remap.

[2019-08-20 14:22] zegl commented on #8572
What is the expectations of "no breaking changes"? Is it that all projects that builds with 0.28.1 also should build with 0.29.0?

If that's the case, please take a look at https://github.com/zegl/bazel-0-29-incompat-repro. It contains a project that does build with 0.28.1, but not with rc6.

[2019-08-20 14:25] scele commented on #8869
I'm seeing this issue as well. It makes --repo_env command line option unusable in practice.

[2019-08-20 14:41] katre commented on #8572
For the "no breaking changes" promise, we specifically mean "no incompatible flags will have their default value changed". If there are further regressions we will try to find and mitigate them. I will look into the issue with io_grpc_grpc_java.

[2019-08-20 14:56] Yannic commented on #8572
This is the same error that happened in https://github.com/bazelbuild/bazel/issues/9032#issuecomment-518631754 with gRPC.

[2019-08-20 15:01] katre commented on #8572
@Yannic Thanks for pointing this out.

@zegl Given that there is a patch in grpc (https://github.com/grpc/grpc/pull/19860), I don't think there's anything further we need to do.

[2019-08-20 15:02] steeve commented on #8572
The issues are because of https://github.com/bazelbuild/bazel/issues/7157. Most, but not all repos have been updated.
I just opened a PR for rules_swift: https://github.com/bazelbuild/rules_swift/pull/288

[2019-08-20 15:19] Yannic commented on #8572
0.29 removes `--incompatible_disallow_load_labels_to_cross_package_boundaries` which was available in 0.28 (defaulted to true). Is this allowed under the incompatibility policy?

https://github.com/bazelbuild/bazel/commit/4efb6c2563b7d96bfbd9b30175f1ab9b969708da

[2019-08-20 15:21] katre commented on #8572
@dslomov, please clarify the policy for removing incompatible flags.

[2019-08-20 15:26] dslomov commented on #8572
Yes. The `--incompatible_` flags themselves are not subject to the policy. Once they have been flipped to on, they can be immediately removed. That is why our guidance is to [never rely on `--incompactible_*` flags for production builds](https://docs.bazel.build/versions/0.28.0/backward-compatibility.html#at-a-glance)

[2019-08-20 15:30] laurentlb commented on #9209
cc @gregestren, @katre

[2019-08-20 15:32] #8316 closed

[2019-08-20 15:36] katre commented on #9209
@schmitt We were discussing this a few weeks ago.

[2019-08-20 15:39] aehlig commented on #9050
Yes. This is a correct description of the semantics of those rules.

For backwards compatibility, these rules also support the old, deprecated, way ...

...of specifying a path (and that legacy behavior is tested as well). But, as we do not want to encourage using the deprecated behavior, the documentation only describes the intended way of using this attribute.

I don't see a problem with this ap

[2019-08-20 15:56] brandjon commented on #9050
The problem I see is that if the legacy behavior is not supported and goes away, it is not trivial to depend on a local repository that is not hosted underneath the main workspace, at least not without duplicating its top-level BUILD file's content as an inlined string. That's the situation for this test, where the local repo appears within the runfiles tree of the test.

I do what the rationale i

[2019-08-20 16:03] laurentlb commented on #8572
Projects that build with 0.28 should build with 0.29, assuming you don't pass any `incompatible_` or `experimental_` flag.

By this definition, 0.29 is not compatible with 0.28, as shown by https://github.com/zegl/bazel-0-29-incompat-repro

[code]

I'll defer to @dslomov or @katre to decide whether it needs a cherrypick.

[2019-08-20 16:12] dslomov commented on #8572
Thanks, it does look bad indeed. @lberki or @hlopko, do you know what is going on there?

[2019-08-20 16:36] steeve commented on #8572
@dslomov most likely because of https://github.com/bazelbuild/bazel/issues/7157

[2019-08-20 16:43] aehlig commented on #9050
I don't see what the problem is. As a label is used, the `BUILD` file can also come from another external repository, which might well be a local repository. Note that local repositories don't have to be below the main workspace; in fact, usually, they are not.

If you want to just use the local repo's `BUILD` file, you don't need a `new_*` rule (where the `new` part refers to "adding `BUILD` file

[2019-08-20 16:44] aiuto commented on #9196
Is there a need to use such an obsolete version of Bazel? You will probably have a better experience using a recent source distribution.

[2019-08-20 16:47] aiuto commented on #9198
Giving this to external deps on the basis that this is about repository rules. Feel free to debate who owns it and reassign.

[2019-08-20 16:51] brandjon commented on #9050
Wait, what? I always assumed the non-`new_`-prefixed rules were deprecated and that eventually there'd be some kind of renaming dance done. I had totally misinterpreted how "new" is intended here. Can we update the docs to clarify when you do and don't want to use the `new_*` rules?

[2019-08-20 17:01] aehlig commented on #9050
The [current documentation](https://docs.bazel.build/versions/master/external.html#supported-types-of-external-dependencies) states the following.

and

What would you add to it?

[2019-08-20 17:11] brandjon commented on #9050
Ah, didn't see that. That wording's perfect. The only thing I'd add is a note to the first or second paragraph of [`new_local_repository`'s documentation](https://docs.bazel.build/versions/master/be/workspace.html#new_local_repository), saying to use `local_repository` if no modification to the project's top-level BUILD or WORKSPACE file is required.

[2019-08-20 17:41] alandonovan commented on #374
I have a change to Blaze (Googlers: cr/263443121) that makes it use UTF-8 for all external text strings, and UTF-16 for all internal strings. If all goes well it should land this week.

[2019-08-20 18:01] katre commented on #8572
Given this discussion, I am not going to release 0.29.0 today, while we figure out what needs to be updated.

[2019-08-20 19:06] ChankiWu commented on #3796
I set --symlink_prefix, and every time when I run bazel build it will generate all the "bazel-out", etc files with the parameters I set. ANd it is really annoying. How could I reset this command to let bazel generate files as default?

[2019-08-20 19:33] #9050 closed

[2019-08-20 20:09] wchargin opened #9213 "Bad incremental build after APT update: undeclared inclusions"
### Description of the problem / feature request:

Building a tree that worked fine yesterday now fails with this error:

[code]

These four include files are provided by `libgcc-8-dev:amd64`, which was
updated this morning between the successful build and the failing build.
This seems like a probable culprit?

A coworker of mine, @caisq, encountered the exact same failure
yesterday, with the same

[2019-08-20 20:44] wchargin commented on #9213
I need to expunge this cache to proceed with my work, but I have
archived my `bazel info output_base` directory and can provide it to
Googlers upon request.

[2019-08-20 20:59] thomasvl commented on #8572
Looks like a few PR are being filed against things for protos for different languages, given the original statement of _This release will have no breaking changes._, this doesn't appear to be the case.

Where are the proto changes documented so rule authors can update things?  The PRs with references to _virtual_imports_ is all something I can't say I've run into before, and I don't see anything i

[2019-08-20 21:08] brandjon commented on #9006
Update: We will not be flipping this flag (or the analogous flags for java and cc) in Bazel 1.0. The main reasons are:

- The blast radius is high. Pretty much every BUILD file in every project needs to be updated. There is tooling to do this automatically in buildifier, however...

- The tooling does not yet automatically update WORKSPACE files. Users instead have to manually copy/paste the right

[2019-08-20 21:12] brandjon commented on #8893
Update: We will be [deferring](https://github.com/bazelbuild/bazel/issues/9006#issuecomment-523195423) this until Bazel 2.0. In the meantime, projects can and should continue to migrate to using rules_python and not rely directly on bundled Python rules APIs. Note that currently migration is automated with buildifier except for adding the entry to the WORKSPACE file.

[2019-08-20 21:13] brandjon commented on #8572
Updated the draft release notes doc to no longer say the rules python flag is being flipped in 1.0. (Not sure if changes are still being pulled in from that doc.)

[2019-08-20 21:18] aiuto commented on #9213
My hunch is that this only happens with auto-configured toolchains. Those are essentially non-hermetic, so an OS update can break us in cache-poisoning ways.

The best short term solution is  `bazel clean --expunge`.

[2019-08-20 21:47] wchargin commented on #9213
I used `--toolchain_resolution_debug` on the relevant target:

[code]

This is the same output that I see when I build a `cc_library` in a
fresh workspace:

[code]

Does this mean that the default toolchains as of Bazel 0.28.1 are
non-hermetic? (I have no user-level `.bazelrc`.)

[2019-08-20 22:43] aaliddell commented on #9006
What's the timescale on 2.0? It 'sounds' a long way off but that depends on the release cycle chosen for Bazel after 1.0.

Also, is the intention to replace the native implementations with the Starlark implementations (similar to @bazel_tools, but without the `load`) during the 1.0 lifetime, but not force the manual addition to workspace and load in BUILD until 2.0? That doesn't solve having to su

[2019-08-20 23:44] phb commented on #3791
@buchgr it looks like your fix https://github.com/bazelbuild/bazel/pull/8983 got rolled back and as far as I can tell, not included in 0.29

[2019-08-21 00:17] katre commented on #9213
Yes, the entire `@local_config_cc` repository is boxing up the locally installed cc compiler found on the system and making it available to Bazel. This is, unfortunately, non-hermetic. If you want a fully hermetic toolchain, you'll need to check one in reproducibly, either in the main repo or as an http_archive.

I'm not sure what we can do about the actual error: @hlopko and @lberki, is there any

[2019-08-21 00:17] katre commented on #8572
@brandjon Yes, please continue to update the release notes until I change the status from "DRAFT" to "PUBLISHED".

[2019-08-21 05:35] hlopko commented on #9213
There is no such support in Starlark repositories, but @aehlig
just made me aware of https://github.com/bazelbuild/bazel/commit/4a1380fed159f09b29df461b85e0469f8cd81d34 which adds `bazel sync --configure` that will be used in this situation in the future (after we teach C++ autoconfiguration to use this mechanism). I'll assign to @aehlig now to close/mark this issue as duplicate/comment further.

[2019-08-21 07:37] lberki commented on #8572
@thomasvl , I am the culprit! I reshuffled a bit `proto_library` works and was confident in my judgement that it's not a user-visible change. Then it turned out that gRPC relied on the *exact* old source tree layout.

The fix is https://github.com/grpc/grpc/commit/e2ba3aa07009292617c3cabe734e8e44099b22ac and I'm ambivalent about it: we didn't change the spec but what if someone depends on implemen

[2019-08-21 08:05] scele commented on #8869
@bjacklyn seems that `--repo_env` is correctly invalidating repository rules that have `local = True`, so that might be a valid workaround for you?

[2019-08-21 08:17] iirina commented on #5821
@brown That's great to hear, thanks for trying it out!

[2019-08-21 08:44] lberki commented on #8572
...actually, the fix is https://github.com/grpc/grpc-java/commit/b22017851560197a41015acd90f443f7b9519984 . I'm looking at why https://github.com/zegl/bazel-0-29-incompat-repro does not pull that in.

[2019-08-21 08:48] laszlocsomor commented on #8009
Could you give an example of that? What exactly fails?

[2019-08-21 08:49] lberki commented on #8572
Got it. It appears that the above repository pulls the version of `grpc-java` specified here:

https://github.com/stackb/rules_proto/blob/master/deps.bzl#L327

which is https://github.com/grpc/grpc-java/commit/3c24dc6fe1b8f3e5c89b919c38a4eefe216397d3, a version from 2019 March 9. So I'm afraid the only answer I have is either to patch https://github.com/grpc/grpc-java/commit/b22017851560197a41015a

[2019-08-21 09:13] dslomov commented on #8572
I don't think that a good enough answer. If a fix for #7175 is a breaking change, it should have followed the policy. Is there a way to make it so? (If there is, I am willing to accept a cherry-pick to 0.29)

[2019-08-21 09:25] lberki commented on #8572
Yeah, thanks for keeping me honest :)

I think you have the wrong link (https://github.com/bazelbuild/bazel/pull/7175 is a random pull request), but I'll cook something up. Fortunately, it'll be easily cherry-pickable if the gods don't frown upon me today.

[2019-08-21 09:29] dslomov commented on #8572
I meand #7157 (updated)

[2019-08-21 09:31] lberki commented on #8572
Well, that'll be collateral damage :( I will roll forward the fix as soon as it lands so that the time frame for regressing on that is as small as possible.

[2019-08-21 09:34] buchgr commented on #3791
yeah it did get rolled back :(. I broke tons of code internally. I ll try to rollforward for the 1.0 release.

[2019-08-21 10:27] RNabel commented on #6394
@buchgr Could you comment on @ittaiz [question](https://github.com/bazelbuild/bazel/issues/6394#issuecomment-451748650) for future reference:

And if this is a workaround, could you describe how `--local_resources` interacts with `--jobs`? It is not clear what would happen if you set `--jobs=200` and `--local_cpu_resources=4` at the same time.

[2019-08-21 10:41] lberki opened #9215 "incompatible_generated_protos_in_virtual_imports: put generated `.proto` files into a virtual proto source root directory"
If a `proto_library` rule has both generated and non-generated sources, it would give rise to multiple source roots (one in the source tree and one in the output tree). This is unintuitive and incompatible with the `ProtoInfo` provider that has place for only one (`[ProtoInfo].proto_source_root`).

To resolve this, we create a virtual source root under `bazel-bin/<package>/_virtual_imports/<rule>`

[2019-08-21 11:26] katre commented on #8572
Once @lberki submits the rollback of behavior, I'll cut a new RC and we can test that out.

Thanks, everyone!

[2019-08-21 11:57] laszlocsomor opened #9216 "Windows: incremental correctness issue when repo name casing is wrong"
### Description of the problem / feature request:

Given `@MyRepo//:x`, Bazel correctly fails to build `@myrepo//:x`, but then also can't build `@MyRepo//:x` until you restart the Bazel server.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[code]

### What operating system are you running Bazel on?

Windows 10

### What's the outp

[2019-08-21 12:02] iirina commented on #9189
Thanks for filing the issue. You are right that adding the conf directory in the `jdk` target in  `jdk.BUILD` solves this problem. I'm hesitant to make this change for two reasons: 1) the jdk target contains only a minimal set of files and adding more increases the cache usage for everyone (not an incompatible change but a rather unpleasant one), 2) bazel moves in the direction of eliminating the

[2019-08-21 12:07] iirina commented on #9116
Thanks for filing the issue. I sent the fix in #9217.

[2019-08-21 12:14] lberki commented on #8572
Proto rollback here: https://github.com/bazelbuild/bazel/commit/209175ff8ffeb05628ed8a187dd414a3d2935c55

[2019-08-21 12:25] laszlocsomor commented on #9216
Likely culprit: https://github.com/bazelbuild/bazel/blob/209175ff8ffeb05628ed8a187dd414a3d2935c55/src/main/java/com/google/devtools/build/lib/cmdline/RepositoryName.java#L282-L284

[2019-08-21 14:02] brandjon commented on #9006
At this point the only thing set in stone about 2.0 is that it'll be [at least 3 months](https://blog.bazel.build/2019/06/06/Bazel-Semantic-Versioning.html).

Note that there is no Starlark implementation of the native Python rules -- only redirects in rules_python that export the native implementations as if they were defined in Starlark. Migrating the implementation to Starlark is not necessaril

[2019-08-21 14:09] katre commented on #8572
Created rc7:
[code]

Waiting for release jobs and tests.

[2019-08-21 14:45] thomasvl commented on #8572
So we should close https://github.com/bazelbuild/rules_swift/pull/288 as not need thanks to the rollback?

Is this change going to happen again?  Any docs on what it will be some rule teams can read up/understand it in advance?

[2019-08-21 14:45] thomasvl commented on #8572
ps - should changes to the grpc repos also get rolled back then?

[2019-08-21 15:07] chrismcbride commented on #1147
Also running in to this issue on 0.28.1, before I could work around it by manually collecting the default_runfiles and passing that as an input to the action, but now that --incompatible_no_support_tools_in_action_inputs has been flipped, that is no longer allowed since the default_runfiles of a sh_binary target contain executables.

[2019-08-21 15:17] katre commented on #8572
Downstream testing for rc7: https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1155

[2019-08-21 15:36] excitoon opened #9218 "Formatting text before `fail()` fails when initializing workspace mentioned in `--crosstool_top`"
Given code:
[code]

Run one of these:
[code]

and get:
[code]

Errors shall not appear without `fail()` and specifying toolchain in `--crosstool_top`.

Windows 10 x64, Bazel 0.28.1

Please kindly look at [reproduction case](https://github.com/excitoon/bazel-issues/tree/master/formatting-puzzle).

[2019-08-21 15:55] wrowe commented on #5163
Just to reiterate the open question, we believe this issue can be closed on the cc side once it is determined whether this becomes Bazel's default.

(There is an unrelated issue with respect to envoy bazel build invoking the protoc compiler during tests, with a very similar error message stream, but an unrelated solution.)

[2019-08-21 16:06] zzmp commented on #9112
@laszlocsomor I didn't have this issue. I could set a `complete` default by omitting the last argument. Maybe it's different on your system?

[2019-08-21 16:16] AngusDavis commented on #9189
Thanks @iirina. The first argument doesn't seem to be too strong, imo (except for the fact caches might be invalidated). The jdk/lib directory is included at ~55M while the conf directory is ~44K. An increase of 0.1% doesn't seem to be too unpleasant when the alternative is tests / genrules(?) not working as expected with a bundled runtime.

That said, if the direction is to move away from bazel_t

[2019-08-21 16:18] katre commented on #8572
rules_go is failing with an error related to proto import paths: https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1155#3154f4a3-c377-4ed1-a9cc-0fdb27008fb1

@lberki is this due to your commit, and if so, does this mean we need to roll back changes in rules_go or elsewhere?

[2019-08-21 16:28] jinfwhuang commented on #8217
@jerrode @codesuki

I made a simple example in the following. The goal would be able to so to speak, "call test coverage", within a rule's implementation.

https://github.com/jinfwhuang/bazel-examples

[2019-08-21 16:50] katre commented on #8572
Confirmed: the rules_go failure is due to `proto_library` failing when "--incompatible_generated_protos_in_virtual_imports" is disabled.

[2019-08-21 16:56] gnossen commented on #1943
Understood. I'd just like to raise awareness that this gap is causing a fair bit of pain. Related: https://github.com/census-instrumentation/opencensus-cpp/pull/378

[2019-08-21 17:32] katre opened #9219 "legacy proto_library does not work with incompatible_generated_protos_in_virtual_imports"
Reproduction: https://gist.github.com/katre/8a13e84a4ef27b766fd572fe99ce33a6

[code]

[2019-08-21 17:32] katre commented on #8572
I've filed https://github.com/bazelbuild/bazel/issues/9219 as a release blocker while I investigate the problem.

[2019-08-21 17:43] katre commented on #9219
Running a bisect, because I've identified two endpoints.

- ce65de4ee8e006137c8d927fa474384c0d940cb2 - Build works correctly (with the experimental flag disabled)
- 7e83721d6bd30d83252488d4164bb871bd356223 - Build fails (with the experimental flag disabled)

[code]

[2019-08-21 17:49] katre commented on #9219
Bisect indicates that 6a667c6630824baca569dda7aaaffc2f913ce2a4 is the culrpti: assigning to @lberki to figure out a safe rollback.

[2019-08-21 17:52] katre commented on #8572
@lberki is finding a fix for #9219: once that is ready I'll create rc8.

[2019-08-21 18:09] kayasoze commented on #3219
My use case involves a dependency (e.g. TensorFlow) which defines the versions of dependencies for the entire project (e.g. protobuf, Absel, gRPC, etc.).  I need other dependencies to use the versions defined by TensorFlow.

[2019-08-21 18:58] #7800 closed

[2019-08-21 20:21] ozio85 commented on #8009
I have created a repro:
[repro.zip](https://github.com/bazelbuild/bazel/files/3527144/repro.zip)

So first compiling:
bazel.exe build ///Mymixedcaseroot/...

Contents of manifest file:
[code]

bazel.exe build ///MyMixedCaseRoot/...

Contents of manifest file remains the same, (and fetching runfiles will fail).

[2019-08-22 01:49] artem-zinnatullin commented on #5354
Posted PR that updates Android tutorial on the website to use rules_android: https://github.com/bazelbuild/bazel/pull/9220

[2019-08-22 02:10] bssung opened #9221 "A fatal errro when install bazel 0.21 from source on aarch64: bash failed: error executing command"
I want to install bazel 0.21 in my aarch64 board. When I compile bazel source code, I encounterd the promble below. I really need your help. Thanks very much!

-----------------------------------------------------------------------------------------------------------

[code]
-----------------------------------------------------------------------------------------------------------

[2019-08-22 02:22] bssung commented on #9196
@aiuto I use this version because there is a big project based on this version.  It's a big work load to change to a recent version.  I expect if there are some guide for using bazel 0.5.3 cross-compiling.

[2019-08-22 05:41] laszlocsomor commented on #5163
pinging @oquenchil about making `--features=compiler_param_file` the default

[2019-08-22 05:43] laszlocsomor commented on #9112
Possibly. I have GNU Bash 4.4.23(1)-release, what's yours?

[2019-08-22 07:37] moroten commented on #8981
@aherrmann Can you share this "fairly simple script"?

[2019-08-22 09:23] aherrmann commented on #8981
@moroten The bash script is here https://github.com/tweag/rules_haskell/pull/1039/files#diff-5a327d69f8f6d0dc769c7c2bd7866f31, the python script is part of the same PR.

@laszlocsomor Ideally, `py_binary` would not be slow on Windows without the need to workaround it with `--enable_runfiles=true`, which requires admin rights/developer mode. Also, as I understand the discussion between @nicolov and

[2019-08-22 09:25] meteorcloudy opened #9222 "Windows: --incompatible_use_native_patch doesn't work with some patch format generated by diff"
Breakages after flipping --incompatible_use_native_patch:
https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1154#d51abae7-8a0d-4aa4-9e6d-6bafb05386c7

When doing diff on one liner file, it'll output such diff content:
[code]

Note that `@@ -1 +0,0 @@` and `@@ -0,0 +1 @@` is not the complete header format.
(should be `@@ -1,1 +0,0 @@` and `@@ -0,0 +1,1 @@`)

The native patch should s

[2019-08-22 09:28] meteorcloudy commented on #8572
Please waiting for a fix for https://github.com/bazelbuild/bazel/issues/9222

[2019-08-22 10:03] baslas commented on #8009
Hello,

We had a similar issue in May. In our case it also impacted the content of generated code with protoc. In the `deps` of one of our target, we referred to a C++ gRPC library as `//Foo/bar/v0:bar_cpp_grpc` instead of `//Foo/Bar/v0:bar_cpp_grpc`.

When building the target, the file `bar.proto` was moved to a folder `/Foo/bar/v0`. This path was then used by protoc to generate code. For example

[2019-08-22 10:15] steeve commented on #7767
@iirina what is the new target one should use ?

[2019-08-22 10:20] emranbm commented on #9171
@ccate No. Suppose we have only one `py_binary` rule at all:
[code]
Run `bazel run path-to-py:main`.
It errors:
[code]

[2019-08-22 10:33] #9222 closed

[2019-08-22 10:36] meteorcloudy commented on #8572
@katre Please cherry-pick https://github.com/bazelbuild/bazel/commit/644060b7a4bc98384b66e3d2343b950b875b5e35 to fix #9222 , thanks!

[2019-08-22 10:42] iirina commented on #7767
@steeve you can use  `@remote_java_tools_linux//:JarJar`

[2019-08-22 11:42] iirina commented on #9189
That's true, but adding the conf directory raises more questions regarding which other directories to add and how do we make the choice.

[2019-08-22 11:56] laszlocsomor commented on #8009
@ozio85 : I see, thanks! So the runfiles manifest is wrong.

@baslas : Thanks for describing your use case. That looks similar to @ozio85's repro -- a generated file is affected by the wrong casing.

[2019-08-22 12:09] steeve commented on #7767
@iirina it seems on my machine (macos) it's `@remote_java_tools_darwin//:JarJar`. It makes it hard to depend on since the repo name has the os inside :(

[2019-08-22 13:05] rsairam34 opened #9223 "Adding wrapper to compiler tool chain for the integration of external tool like coverage tool or static analysis tools."
### Description of the problem / feature request:

Integration of external testing tools (open source/commercial) involves source code instrumentation.

Irina Iancu, in one of her presentation, have explained to get coverage data instrumenting source code or instrumenting intermediate code and runtime collection of the coverage data is at most important, similar to that we support a commercial too

[2019-08-22 13:22] eanmikale commented on #962
sudo apt-get --purge remove bazel - Worked like a charm. Needed to revert from 0.28 to 0.26. Hope this helps someone else!

[2019-08-22 13:25] #9219 closed

[2019-08-22 13:27] iirina commented on #8916
Not yet. I'm still trying to finish the .java -> JavaInfo migration. I'll post more updates.

[2019-08-22 13:28] jin commented on #962
You can use bazelisk (https://github.com/bazelbuild/bazelisk) to switch your Bazel version on the fly, without having to work with system installations.

[2019-08-22 13:30] iirina commented on #7767
You can add an alias if you want:

[code]

or use any of the repos since JarJar is a deploy jar and is platform agnostic:

[code]

[2019-08-22 13:31] brandjon commented on #8981
#7959

[2019-08-22 13:56] aehlig commented on #8572
Another relevant fix is pending as https://bazel-review.googlesource.com/c/bazel/+/111374/

--
Klaus Aehlig
Google Germany GmbH, Erika-Mann-Str. 33, 80636 Muenchen
Registergericht und -nummer: Hamburg, HRB 86891
Sitz der Gesellschaft: Hamburg
Geschaeftsfuehrer: Paul Terence Manicle, Halimah DeLaine Prado

[2019-08-22 14:01] aherrmann commented on #8981
@brandjon Thanks! Closing this then.

[2019-08-22 14:01] #8981 closed

[2019-08-22 14:14] chrismcbride commented on #1393
Im a little confused as to how I should be setting the srcs_version, the bazel error led me to this issue but Im happy to open a new one if this is not the right spot for this conversation.

Im using bazel 0.28.1 and have a BUILD file like so:

[code]

`bazel test :test` works and correctly uses python2, however if I do `bazel build :lib` (or `bazel test ...`) I get the following error:

[code]
Se

[2019-08-22 14:20] sergiocampama commented on #9075
is #7514 resolved by this issue?

[2019-08-22 14:21] aiuto commented on #9196
The basic doc set is versioned going back to 0.17, but we did not start doing that before it.
You could go back through github history to see what CROSSTOOL files looked like at the old version. No one is going to write new docs about CROSSTOOL because toolchains has replaced it.

[2019-08-22 14:25] brandjon commented on #1393
The badness of the `PY2` vs `PY2ONLY` naming aside, you can avoid the error by building the `:lib` target for PY2. This happens automatically when you build `:test` because it has a `python_version = "PY2"` attribute, but `py_library` has no such attribute, so you have to set it with a command line flag:

    bazel build :lib --python_version=PY2

[2019-08-22 14:28] chrismcbride commented on #1393
But I have a repo with mixed PY2 and PY3 targets, and we currently run tests by doing `bazel test ...` at the root. I assume that wouldnt be possible by using the --python_version flag?

[2019-08-22 14:28] aiuto commented on #9221
I am not sure there was aarch64 support at that version. It has certainly improved over the last few months.

[2019-08-22 14:42] #9133 closed

[2019-08-22 14:48] brandjon commented on #1393
`bazel test ...` should filter out non-test targets so `py_library` shouldn't give you any issues there. For `bazel build ...` you'd want to change to `srcs_version = "PY2ONLY"` until the stub 2to3 is removed.

[2019-08-22 14:50] chrismcbride commented on #1393
`bazel test ...` is giving me that same error on that sample repo I posted (https://github.com/chrismcbride/py2-bazel-bug), it appears to be building hte py_library targets too

[2019-08-22 15:01] cstrahan opened #9224 "CC wrappers should gracefully handle response files"
### Description of the problem / feature request:

The CC wrappers ([osx_cc_wrapper.sh.tpl](https://github.com/bazelbuild/bazel/blob/d96e1cdbe71d117f76e55c668bb4a0f976bf0bc0/tools/cpp/osx_cc_wrapper.sh.tpl), [linux_cc_wrapper.sh.tpl](https://github.com/bazelbuild/bazel/blob/d96e1cdbe71d117f76e55c668bb4a0f976bf0bc0/tools/cpp/linux_cc_wrapper.sh.tpl)) should gracefully handle [response files](https:

[2019-08-22 15:05] steeve commented on #7767
That's great thank you !

[2019-08-22 15:09] brandjon commented on #1393
So it appears. I guess the filtering I'm thinking of applies only to running the tests, not to building the targets.

[2019-08-22 15:23] dslomov commented on #8572
The change will now be guarded under [`--incompatible_generated_protos_in_virtual_imports`](https://github.com/bazelbuild/bazel/issues/9215) that we expect to flip in the next release. Please follow up on #9215 if migration steps are not clear.

[2019-08-22 15:23] lberki commented on #9075
No, i specifically did not want to resolve it... that issue is about "traditional", i.e. resolved symlinks.

I did create a Starlark API for it (`symlink` when called on an artifact produced by `declare_file` does exactly that), but I put it behind an experimental flag and I'm not planning to enable it by default.

[2019-08-22 15:27] thomasvl commented on #9215
Can you maybe give an example of what does/doesn't change because of this so one can better assess the impact on LANG_proto_library rules?

[2019-08-22 16:14] #6586 closed

[2019-08-22 16:28] laurentlb opened #9225 "Documentation of embedded rules should say the label"
Our documentation lists some functions and rules:
- https://docs.bazel.build/versions/0.28.0/repo/git.html
- https://docs.bazel.build/versions/0.28.0/repo/http.html
- https://docs.bazel.build/versions/0.28.0/repo/utils.html

But it doesn't say how to load them.

[2019-08-22 16:44] laurentlb opened #9226 "Documentation of `workspace` is misplaced"
The page https://docs.bazel.build/versions/0.28.0/be/functions.html lists functions available in BUILD files.

However, the `workspace` seems out of place (not available in BUILD files). I think it should be moved out of this file. Instead, it could be documented at the same place where we document the syntax and behabior of WORKSPACE files.

[2019-08-22 17:12] aiuto commented on #9143
Aggh.  This is a botched issue entry.

The root cause was
1. Follow instructions here: https://docs.bazel.build/versions/master/install-os-x.html
bazel-0.28.1-installer-darwin-x86_64.sh
../bazel-0.28.1-installer-darwin-x86_64.sh --user
   Failure about jdks

But this was on my laptop at home, so I can not repo now.  I'll try tonight and either close the bug or edit the description to make sense.

[2019-08-22 17:42] katre commented on #8572
Waiting for https://bazel-review.googlesource.com/c/bazel/+/111374/ before I created RC8.

[2019-08-22 17:52] swsnider opened #9227 "`--distdir` does not work as documented"
### Description of the problem / feature request:
https://docs.bazel.build/versions/master/guide.html#distdir says about `--distdir`: "A file is taken from such a directory if the file name is equal to the base name of the URL and additionally the hash of the file is equal to the one specified in the download request (again, no file is taken from a distdir, if no hash is specified)."

However, in

[2019-08-22 18:45] steeve commented on #8572
@thomasvl the PR should be safe to apply wether or not the flag is flipped

[2019-08-22 20:34] tetromino commented on #9143
Please check if you have a .bazelrc - you might be accidentally passing in an invalid javabase.

[2019-08-22 21:35] deeglaze opened #9229 "Native patch does not handle appended diffs without "diff -flags left right" headers."
### Description of the problem:

A patch created with diff -Nur and appended with individual diffs results in files that look ambiguous, but are still treated in a way by the linux patch tool that produces our expected outcome.

new_file.patch:
diff -Nur didnt_exist.md didnt_exist.md
--- didnt_exist.md
+++ didnt_exist.md
@@ -0,0 +1,1 @@
+Contents
--- /dev/null
+++ new_file.md
@@ -0,0 +1,1 @@
+Uh o

[2019-08-22 23:45] bplotnick commented on #9152
@philwo I've definitely done that exact thing (mounting the files and running the container as the user) in a number of my docker-based builds before. Though this seems like it flies in the face of Bazel's hermeticity philosophy, but maybe that's not such a big deal? And i wonder how this would work with things like NIS/LDAP (non file-based name service source) users and groups.

One alternative o

[2019-08-23 07:25] lberki commented on #9215
Consider the following code say, in `x/BUILD`:

[code]

At HEAD, this results in the proto_library having a `proto_source_root` of `x`. However, `a.proto` and `b.proto` are not actually siblings (one is under `x`, the other, under `bazel-bin/x`, thus, logic is required to figure out what command line to pass to `protoc`.

When this flag is flipped, the two `.proto` files are both symlinked into a

[2019-08-23 07:34] aherrmann commented on #2656
This seems to be still an issue in Bazel 0.28.1, see https://github.com/digital-asset/daml/pull/2642#discussion_r316999137
cc @cocreature

[2019-08-23 09:04] aehlig commented on #8572
https://bazel-review.googlesource.com/c/bazel/+/111374/  has been submitted as 76ed014e77d7b862f6eb2894600ae525ea570f11.

[2019-08-23 09:07] aehlig commented on #9213
This will happen in https://bazel-review.googlesource.com/c/bazel/+/111372

However, to keep the property that bazel at HEAD can be built with the latest released bazel, this change will only be submitted after the release of bazel 0.29.0 (which will be the first bazel release containing the concept of configure rules).

[2019-08-23 09:20] aehlig commented on #9213
@katre Watching the compiler binary for changes is not enough: the compiler calls other programs, or might even be wrapper itself; auto-configured tool chains also depend on other files like, as in this case, the location of standard header files. So, a complete check would basically mean rerunning the auto-configuration rules unconditionally. This, however, is too expensive to do at every build (

[2019-08-23 09:38] #9116 closed

[2019-08-23 12:12] aehlig commented on #3115
Interestingly, the issue is not fully solved by (the current implementation of) `--incompatible_remap_main_repo` (#7130). Consider the following test cases
- https://bazel-review.googlesource.com/c/bazel/+/111890/1
- https://bazel-review.googlesource.com/c/bazel/+/111891/1

The first test passes, whereas the second fails in [the build with remapping](https://bazel-review.googlesource.com/c/bazel/+

[2019-08-23 12:43] scentini commented on #9224
cc/ @hlopko

[2019-08-23 12:43] scentini commented on #9223
cc/ @hlopko

[2019-08-23 12:45] scentini commented on #8902
cc/ @hlopko

[2019-08-23 13:08] jin commented on #9224
This is making CLion (a popular C++ IDE) unusable for the Envoy project. Please see the linked issue to IntelliJ for more context.

[2019-08-23 13:24] hlopko commented on #7427
This is fixed! :) https://docs.bazel.build/versions/master/skylark/lib/CcToolchainInfo.html#all_files

[2019-08-23 13:24] #7427 closed

[2019-08-23 14:27] katre commented on #8572
Created RC8:
[code]

Waiting for tests to complete the release process.

Assuming no new issues, this needs to bake until next Tuesday (August 27) before it can be released.

[2019-08-23 14:32] hlopko commented on #2537
Hi all,

so I finally tried to look into this. Do you all agree that you can debug binaries on a mac just fine when you build them using `bazel build -c dbg --spawn_strategy=local`? Because that's what I'm seeing. I'm not trying to suggest disabling the sandbox is the fix for this issue, just that this workaround is not as complicated anymore as what was proposed in https://github.com/bazelbuild/b

[2019-08-23 14:37] beasleyr-vmw commented on #8494
For the benefit of outside parties who may want to implement this, would a Bazel developer please comment on why this restriction exists? This wasn't explained in original commit https://github.com/bazelbuild/bazel/commit/74558fcc8953dec64c2ba5920c8f7a7e3ada36ab. Thanks!

[2019-08-23 14:45] katre commented on #9192
This also fails if `--transitions=lite` is passed, so the error appears to lie within [`TransitionsOutputFormatterCallback`](https://source.bazel.build/bazel/+/master:src/main/java/com/google/devtools/build/lib/query2/cquery/TransitionsOutputFormatterCallback.java;l=91).

This is pretty odd, the error seems to indicate that the output callback is actually changing the transition state somehow. Sti

[2019-08-23 15:36] lberki commented on #9215
Sorry, I meant `/_virtual_imports/` (including the leading underscore)

I wanted to provide enough information in providers so that you can construct the command line without assuming things about paths, or, even better, provide a Starlark method to do so, but I couldn't make it in time for Bazel 1.0. So I decided that I'll be satisfied with that being possible without backwards-incompatible chang

[2019-08-23 15:37] katre commented on #8572
RC8 is available for testing: https://releases.bazel.build/0.29.0/rc8/index.html

Downstream tests are running: https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1159

[2019-08-23 15:42] katre commented on #9192
Okay, debugged this a bit, there are two actual errors here:

1. In [`TransitionsOutputFormatterCallback.processOutput`](https://source.bazel.build/bazel/+/master:src/main/java/com/google/devtools/build/lib/query2/cquery/TransitionsOutputFormatterCallback.java;l=147), the `fromOptions` object doesn't have any starlark build options set, so when the transition is executed and control passes into [`

[2019-08-23 15:46] c-parsons opened #9234 "Better documentation around output groups and implicit outputs"
I've received several questions around the best way to define implicit outputs and output groups in a post- https://github.com/bazelbuild/bazel/issues/7977 world. Our documentation should address these concerns explciitly.

[2019-08-23 16:00] thomasvl commented on #9215
Assuming `b.proto` is the only generated file, the three `proto_library` usages should then all vend in `ProtoInfo.proto_source_root` from the libraries would have `bazel-bin/x/_virtual_imports/p`, `.`, and `.` respectively?  And we can get the relative path for each proto file by trimming off their respective roots (if they aren't `.`)?

[2019-08-23 16:17] katre commented on #8572
Downstream tests all pass.

[2019-08-23 16:19] jin commented on #6799
This incompatible change is not happening for Bazel 1.0. The ecosystem is still heavily dependent on `maven_jar`, with many having built infrastructure on top of the rule like Gerrit.

[2019-08-23 16:20] aiuto commented on #4808
Giving to LocalExecution team on the grounds that they are closest to all strategy selection.

[2019-08-23 16:38] JLLeitschuh commented on #6799
@jin can you warn users in the logs about their insecure usage.

In Gradle, we will be shipping a release in 6.0 that will begin to warn users about formally deprecating the use of HTTP to resolve dependencies and plan to require explicit opt in in Gradle 7.0.

[2019-08-23 16:52] dclarkNV commented on #3780
Love the proposals here, is this still on anyone's radar?

[2019-08-23 16:56] katre commented on #3780
@dclarkNV Yes, it's absolutely still active, just that @gregestren is out for the next week or so.

[2019-08-23 17:03] AustinSchuh commented on #3780
And @gregestren and I are like 20 pages and a dozen emails into a proposal.  I think we have converged on an idea that solves all our problems.  I'm going to be taking another stab at writing it up next week while Greg is out to see if we are actually in agreement or not.

[2019-08-23 17:54] katre commented on #9192
Bumping the priority down to P2 since this only affects starlark transitions and there is a workaround (shut down bazel between calls).

Assigning to Greg to investigate when he returns.

[2019-08-23 18:55] jin commented on #6799
@JLLeitschuh see https://github.com/bazelbuild/bazel/pull/9235

[2019-08-23 19:42] tomaszstrejczek opened #9236 "http_archive, unrecognized file mode for [Content_Types].xml: 0x80"
### Description of the problem / feature request:

http_archive fails with the exception: java.io.IOException: Error extracting '2.2.0.zip': Unrecognized file mode for [Content_Types].xml: 0x80.
The same file is handled without any problems by common zip programs (winrar on Windows, unzip on Ubuntu).

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal exampl

[2019-08-23 21:25] Toxicable commented on #6359
Our team is very keen to see this progressed.

We've been struggling with flakey CI for awhile now due to `connect timed out` errors randomly accross many different external hosts, similar to this:
[code]

To alleviate this we've tar'd up our external folder and stored it on an internal file server, which we download and extract before CI, while it works to reduce flakyness it is rather manual whe

[2019-08-23 23:11] jin commented on #6799
Coming in #9237, `maven_jar` will compute the sha256 checksum for you, if the new `sha256` checksum is not specified. This should help with migration to jvm_maven_import_external or similar rules..

[2019-08-23 23:47] lizan opened #9238 "Feature request: add `nolinkopts` for cc_{binary,test}"
### Description of the problem / feature request:

Specifically, I want to remove `-lstdc++`/`-lc++` from generated toolchain for specific target to link libstdc++ statically while keep other cc targets linked dynamically, there's no `-static-libc++` but `-static-libstdc++`. Passing both `-lc++` and `-l:libc++.a` results a dynamic link.

[2019-08-24 01:29] alex-xnor opened #9239 "Python stub can import modules from inside the application due to sys.path[0]"
### Description of the problem / feature request:

The Python stub template that Bazel uses begins by importing a number of modules from the standard library. However, as it is a Python script like any other, Python will put the directory containing it at the start of `sys.path`. So, if there are any Python files in the same directory that happen to be named the same as a standard library module,

[2019-08-24 01:39] alex-xnor commented on #9239
I have a very small patch that fixes this (just does `import sys` and `del sys.path[0]` in the stub after the `__future__` import but before everything else), but I am trying to see if I can add some tests before submitting it.

[2019-08-24 05:45] mboes commented on #9199
I get that. But my use case detailed above does not need a configuration. The user is providing a `select` in the `WORKSPACE` file that a macro is writing to a `BUILD` file.

As far as I can tell, `select()` does not eagerly resolve to one of its branches during `BUILD` file evaluation. `select()` evaluates to a special `select` structure, which the analysis phase resolves to one of the `select()`

[2019-08-24 19:48] endobson opened #9241 "OutputRoot is incorrectly documented"
### Description of the problem / feature request:

The output directory structure is documented here: https://docs.bazel.build/versions/master/output_directories.html

It says

This is incorrect on macOS and likely doesn't even make sense on windows since / isn't the directory separator.

The macOS value is defined here.
https://github.com/bazelbuild/bazel/blob/12c7942f45185e15ac26c383644b5d63a3c2

[2019-08-24 20:04] endobson opened #9242 "BUILD event protocol documentation has bad links"
https://docs.bazel.build/versions/master/build-event-protocol.html has text that looks like
`[Build Event Protocol]` in paragraphs and a bunch of lines at the bottom that look like
[code]

Given a different markdown flavor this would end up generating links, but whatever tooling that is used to generate the site doesn't support this.

[2019-08-24 20:21] endobson opened #9243 "BuildEventArtifacts aren't uploaded to remote cache unless it is a grpc cache"
### Description of the problem / feature request:

I would expect that when setting `--experimental_build_event_upload_strategy=remote` that my logs would get uploaded to the remote cache. This isn't the case if the cache is an http cache as the code to initialize the non local uploader is never run.

https://github.com/bazelbuild/bazel/blob/4ba404f7ed0473df3f0effa016c107ef677464f6/src/main/java/c

[2019-08-25 05:06] emfree commented on #8385
We ran into this as well. Not very familiar with the internals here, but it looks like the issue possibly goes like this:
- The `BazelWorkspaceStatusModule` calls `FileSystemUtils.maybeUpdateContent` on the `stable-status` file: https://github.com/bazelbuild/bazel/blob/4ba404f7ed0473df3f0effa016c107ef677464f6/src/main/java/com/google/devtools/build/lib/bazel/BazelWorkspaceStatusModule.java#L193-L1

[2019-08-25 11:15] emranbm commented on #5741
Same issue. Any update?

[2019-08-26 03:53] jmillikin-stripe commented on #3732
There's now a couple implementations of a JSON API in non-Bazel tools built on Starlark. To see if we can settle on a reasonable shared JSON API, I sent https://github.com/bazelbuild/starlark/pull/83 as a proposed standard JSON module in the Starlark spec.

[2019-08-26 06:31] dstiers-1109 commented on #8571
Thank you

[2019-08-26 07:07] lberki commented on #9215
Yep. For the time being, that's the best option.

[2019-08-26 13:06] philwo commented on #5400
I think we can consider this fixed with the new automatic strategy selection having been released. :)

[2019-08-26 13:06] #5400 closed

[2019-08-26 17:02] buchgr commented on #9164
`bazel-bin/pkg/blah.runfiles/__main__` should be empty though?

[2019-08-26 17:17] buchgr opened #9248 "Revisit --enable_runfiles"
The flags `--build_runfile_manifests` and `--build_runfile_links` govern whether runfile manifests and runfile trees should be created at the time of _building_ a binary. `bazel run/test` has extra logic to create runfile trees on-demand if `--nobuild_runfile_links` is set. This is where `--enable_runfiles` comes in. It disables _any_ runfile trees creation and instead only copies the input manife

[2019-08-26 17:40] kastiglione opened #9249 "Bazel output roots are never cleaned"
### Description of the problem request:

For each workspace, there's an `output_base`. These directories are never cleaned, and so the output root can build up clutter over time.

For a reference point, the default `TMPDIR` is cleaned up by the OS after being 3 days stale. That seems way too short for Bazel, but having some sort of stale cleanup would be nice.

### Bugs: what's the simplest, easie

[2019-08-27 04:53] phb commented on #8899
Hi @buchgr,

I just wanted to give a quick ping on this issue. Can you think of any workaround? We have a deploy target that we generally run from our CI, but we are unable to run it without turning off minimal downloads and trigger a full rebuild.

[2019-08-27 07:54] buchgr opened #9258 "rules_foreign_cc broken in downstream"
https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1167#891aff35-2acc-491f-8102-7c62e3635276

[2019-08-27 08:29] ali5h opened #9254 "wrong link order of system libraries in cc rules"
### Description of the problem / feature request:

protoc (protobuf v3.8.0 and v3.9.1) build fails with bazel 0.27.1, 0.28.1, 0.29.1 and 1.0.0 on centos 7 with `devtoolset-{7,8}`. We don't have any CROSSTOOL defined

bazel 0.26.1 works with no issues

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[code]

### What operating system a

[2019-08-27 09:28] #5055 closed

[2019-08-27 10:39] laurentlb commented on #7355
Flipped in https://github.com/bazelbuild/bazel/commit/67cc4263dbfc5827fe5928195f2898a85cbc33ca

[2019-08-27 10:39] #7355 closed

[2019-08-27 11:58] buchgr opened #9257 "examples broken on macOS in downstream pipeline"
[code]

https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1167#5154e04d-23ff-47c7-9d3c-d6cb6cbfb905

[2019-08-27 11:59] meteorcloudy commented on #9257
Culprit is 903a7b91dc1a668275f92052e6bbef78678c764c

@keith

[2019-08-27 14:08] #2981 closed

[2019-08-27 14:16] philwo commented on #3106
Amazingly, this still seems to be broken, but in a different way. Repro:

[code]

results in output like this:

[code]

I have no idea why the time for test3 and test2 keeps counting up, even though the test is already finished.

The end result is shown correctly though:

[code]

I can repro this no matter whether I use the darwin-sandbox or local strategy.

[2019-08-27 14:17] #4181 closed

[2019-08-27 14:17] #5732 closed

[2019-08-27 14:18] #7288 closed

[2019-08-27 14:19] #8432 closed

[2019-08-27 14:54] laurentlb opened #9260 "Documentation for @platforms"
Since https://github.com/bazelbuild/bazel/commit/324dc44e6bafb487331724ae83d67bc18ed8a8aa, a repository `@platforms` is declared by default. However, I don't see it in the documentation (https://docs.bazel.build/search.html?q="%40platforms").

cc @hlopko

[2019-08-27 15:47] lberki commented on #9215
You mean that the import paths of `@a//x:y.proto` and `@b//x:y.proto` are the same?

Yes indeed, that is the case, but that's no different from Bazel 0.28 or any version before that (or the logic of C++ include scanning): repository roots have always been proto source roots.

[2019-08-27 16:25] trybka commented on #9258
Unfortunately it still doesn't have the libtool invocation in that log. :(

On Tue, Aug 27, 2019 at 12:21 PM Jin <notifications@github.com> wrote:

[2019-08-27 18:49] #9227 closed

[2019-08-27 19:27] steige2 opened #9261 "compile.sh java problem"
### Description of the problem / feature request:

Attempting to bootstrap bazel-0.25-1, I:
unzip bazel-0.25.1-dist.zip
(lots of output, finishes without error)
./compile.sh
(lots of output, many actions complete then:)
...
Exception in thread "main" java.lang.AssertionError:
Could not find java.lang.Object on bootclasspath; something has gone terribly wrong.
Please file a bug: https://github.com/

[2019-08-27 19:58] katre opened #9262 "In select, invalid config targets from other packages cause silent errors"
See the reproduction in https://github.com/katre/demo-select-error.

If a `select` is written with an invalid config condition which is in a different package, like so:
[code]

Then when the build is executed it will fail, but the actual error is swallowed:
[code]

A similar select with an invalid condition from the same package gives an error:
[code]

[2019-08-27 20:29] clnperez opened #9263 "Failure builing on ppc64le: Executing genrule filter_netty_dynamic_libs"
### Description of the problem / feature request:

I can no longer build bazel on Power. I'm trying to use the dist bundle and building version 0.28.1. I'm not sure what this zip error is all about:
`zip error: Nothing to do! (bazel-out/ppc-opt/bin/third_party/netty_tcnative/netty-tcnative-filtered.jar) `

[code]

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a m

[2019-08-27 21:31] c-parsons opened #9264 "@bazel_tools//... doesn't build"
I'm not quite sure where to file this, so I'm putting it under Starlark team for now (as my motivation is that I'd like to see all Starlark files under `@bazel_tools` to be globbed under a BUILD target. See https://github.com/bazelbuild/skydoc/issues/166 and https://github.com/bazelbuild/skydoc/issues/185 for motivation.

It seems as if attempting:

[code]

fails with a *number* of unresolved depe

[2019-08-27 21:54] #9264 closed, assigned to c-parsons

[2019-08-27 22:48] swsnider opened #9265 "Make --distdir easier to test"
### Description of the problem / feature request:

Please provide a verbose output option that outputs exactly where bazel is sourcing externally-fetched resources from (i.e. repository_ctx.download/respository_ctx.download_and_extract), especially whether `--distdir` had a hit or not.

### Feature requests: what underlying problem are you trying to solve with this feature?

I use `--distdir` in o

[2019-08-28 05:35] aehlig commented on #9265
This is expected and not a bug. Note that `bazel` tries to avoid using the network when possible. So when `bazel` needs an external repository,
- it first checks if it has an up-to-date copy according to the [invalidation semantics](https://bazel.build/designs/2016/10/18/repository-invalidation.html); this is specific to the workspace and indeed cleaned with `bazel clean --expunge`.
- If the repos

[2019-08-28 06:55] laszlocsomor commented on #9176
This is glob() bug with junctions on Windows, not an external repository bug.

Here's a simpler repro in the main workspace:
[code]

There's a junction (`foo2\bar2 -> foo\bar`) that the recursive glob fails to follow. The control files (`foo\b.txt` and `foo2\c.txt`) are matched though, indicating the glob() willfully ignored `foo2\bar2`.

[code]

There's an additional bug: as soon as I add a new f

[2019-08-28 09:01] hnnsgstfssn commented on #5891
@philwo Could the official release binaries perhaps include a statically linked binary as part of of this issue or should that be a separate request? I would find a statically linked official release binary helpful and preferable. Linking statically, if I understand correctly,   fixes this issue and would also cover all distributions regardless of C library implementation.

[2019-08-28 11:48] laszlocsomor commented on #9176
Found the culprit: WindowsFileSystem.stat returns a FileStatus whose isSpecialFile calls attribute.isOther():
https://github.com/bazelbuild/bazel/blob/b774f65768eae01b5930dbec770eaca920ee3e82/src/main/java/com/google/devtools/build/lib/windows/WindowsFileSystem.java#L144

The Java 8 documentation about isOther() says: "Tells whether the file is something other than a regular file, directory, or sy

[2019-08-28 11:52] laszlocsomor commented on #9176
...And because the FileState reports the junction as a special file, FileSystem.direntFromStat says it's an UNKNOWN dirent: https://github.com/bazelbuild/bazel/blob/b774f65768eae01b5930dbec770eaca920ee3e82/src/main/java/com/google/devtools/build/lib/vfs/FileSystem.java#L588

And the symlink-specific logic in GlobFunction and DirectoryListingStateFunction are skipped.

[2019-08-28 12:36] GhostDZ9 opened #9268 "Build Failed - ubuntu"
### Description of the problem / feature request:
When executing the following command:
`bazel build :all`

I have confirmed that all the files are in the location specified.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

I receive the following error:
`Starting local Bazel server and connecting to it...
INFO: Analyzed 50 targets (

[2019-08-28 13:46] joeleba opened #9270 "Bazel performance regression caused by b321444"
### Description of the problem / feature request:

The nightly benchmarking today showed a regression in MacOS env from commit e2a9e4a to 242acd6:
https://perf.bazel.build/bazel/2019/08/27_orig/report.html

After running the benchmarking again for the range of commits that potentially regressed Bazel performance, there's significant evidence to suggest that b321444 caused a regression of 4-7% when

[2019-08-28 13:48] joeleba commented on #9270
@iirina could you help triage this?

[2019-08-28 15:48] vbatts commented on #8572
Fedora & Centos build:
https://copr.fedorainfracloud.org/coprs/build/1023211

[2019-08-28 15:55] iirina commented on #9270
Thanks for the report @joeleba. I can think of either https://github.com/bazelbuild/bazel/pull/8964 or https://github.com/bazelbuild/bazel/commit/10db812ec3d911e904717f4a3f9e1cf0389ff3ff#diff-15230e5dad94ffaefa7b526c0c1e89e5 that could cause performance regressions from java_tools.  How can I reproduce this? Do you think this is a release blocker for bazel 1.0?

cc @benjaminp @cushon

[2019-08-28 18:09] cstrahan opened #9275 "Current guidance on repository naming bound to fail in presence of diamond-dependencies"
### Description of the problem / feature request:

The official Bazel guidance for repository naming causes problems for projects with diamond dependencies. Take for example:

[code]

The Bazel build system for the third-party C++ library attempts to generate C++ for the [`gogo/protobuf`](https://github.com/gogo/protobuf) proto library (`@com_github_gogo_protobuf`). Then, the [`rules_go`](https://

[2019-08-28 18:22] lberki commented on #7157
Nope, ended up causing unexpected trouble: https://github.com/bazelbuild/bazel/issues/9219

I had to turn the fix into an incompatible flag, to be flipped in 1.0: https://github.com/bazelbuild/bazel/issues/9215

Sorry about that. Couldn't make it work without breaking people :(

[2019-08-28 21:56] mostynb opened #9276 "GrpcRemoteCache's requestRead method should sanity check the offset"
### Description of the problem / feature request:

GrpcRemoteCache's requestRead method (used by downloadBlob) doesn't sanity-check responses from the server, and can subsequently send out of range requests to the cache server.

Ideally, bazel should notice if the cache server responds with too much data, print a user-visible warning, ignore the result returned by the cache, and continue.

### Bug

[2019-08-29 00:51] sgammon commented on #7157
@lberki no worries, thank you for the update

[2019-08-29 07:10] gertvdijk commented on #5741
Please be more specific on your system/environment. I've been using the approach [I commented earlier](https://github.com/bazelbuild/bazel/issues/5741#issuecomment-418071387) for a year now. Are you able to apply a work-around like that? (probably needs adjustments to your system if not Debian/Ubuntu-like.)

[2019-08-29 07:42] lberki commented on #9215
Fix for the only failing project (`rules_swift`) is https://github.com/bazelbuild/rules_swift/pull/298

[2019-08-29 07:44] joeleba commented on #9270
To reproduce, you first need to clone the benchmarking tool: https://github.com/bazelbuild/bazel-bench.
Then from the bazel-bench project's root, run the following:
[code]
The tool builds a bazel binary for each bazel commit, then performs `bazel build //src:bazel` with those binaries.

[2019-08-29 07:55] #7598 closed

[2019-08-29 08:26] meteorcloudy commented on #8147
rules_rust is failing in downstream due to the flip of this flag:
https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1169#cc99beed-1b8a-468f-83fa-ffa0475c5b73

[2019-08-29 09:45] #8240 closed

[2019-08-29 09:55] systemlogic opened #9278 "Strip version does not works properly even with simple Hello world program on java."
### Description of the problem / feature request:  Require heavy bundle of bazel which does have required tooling. Strip version of bazel is failing in most of the cases.

java.io.IOException: Error downloading [https://mirror.bazel.build/bazel_java_tools/releases/javac11/v4.0/java_tools_javac11_linux-v4.0.zip]

### Feature requests: what underlying problem are you trying to solve with this featur

[2019-08-29 10:10] iirina commented on #9278
@aehlig do you know what could cause the `Connection reset` error?

@systemlogic in 70eea9343d4106cdbd549dfd089ec35cba8ef63b I added github urls for java_tools zip in addition to the ones on mirror.bazel, hopefully that works. The change is going to land in bazel 1.0, but you can try it out with bazel@HEAD as well. I couldn't reproduce on my machine.

[2019-08-29 10:21] systemlogic commented on #9278
@iirina you committed your changes 22 hours back and bazel binary is created 18 hours ago. So if I am not wrong, changes might have already in the latest binary. Is in it ?

[2019-08-29 10:25] iirina commented on #9278
Unfortunately no, my commit is not in the latest release. bazel 0.29 was released yesterday, but its baseline was at the beginning of the month. See more in #8572.

[2019-08-29 10:26] systemlogic commented on #9278
Just in case, My project details
[code]

[2019-08-29 10:50] amrithadevadiga opened #9279 "bazel-bin folder is missing"
i am using centos-7 machine to build a TF model server from source code when i executed a bazel build command "bazel build --cxxopt=-std=c++11 -c opt tensorflow_serving/... --incompatible_remove_native_http_archive=false --incompatible_package_name_is_a_function=false"it is not giving any error but bazel-bin directory is not available.
please find output of the command and help me out to find the

[2019-08-29 10:51] iirina commented on #9270
Thanks! Is there a way I can point to my local bazel repository? And what's the difference between project_source and bazel_source?

[2019-08-29 11:09] aehlig commented on #9278
Well, whatever makes Java's `UrlConnection.connect()` throw such
an error. It could be the foreign host resetting the connection,
but also a timeout in trying to establish the connection; given
the observed timing, the latter sounds more likely. That _could_
mean, the host is not up, but also it could also mean that someone
on the way drops the packages, e.g., a misconfigured firewall on
your host

[2019-08-29 11:43] joeleba commented on #9270
`bazel_source` can either be a local bazel repo or a remote one, from which you build your bazel binaries.
`project_source` is a local/remote repo on which you run benchmarking. In this case, `project_source=https://github.com/bazelbuild/bazel.git` because I'm benchmarking the performance of `build //src:bazel`.

[2019-08-29 12:32] #8385 closed

[2019-08-29 14:32] systemlogic commented on #9278
yes, It is fire wall issue. But I am surprised how come bazel is not able to download `https://mirror.bazel.build/openjdk/azul-zulu11.2.3-jdk11.0.1/zulu11.2.3-jdk11.0.1-linux_x64.tar.gz` and wget works fine in same network.

[2019-08-29 14:56] c-parsons commented on #8147
Are you sure it's failing due to this flag? The failure looks unrelated., and building rules_rust with release bazel at that flag seems to exhibit no failure on my machine...

[2019-08-29 15:12] egechir commented on #7313
We are trying to evaluate the sandboxfs on RHEL 7.3 with kernel version 3.10  and the user has sudo access. However, we got the the following error from sandboxfs.log
**sandboxfs: Failed to mount /home/egechir/.cache/bazel/_bazel_egechir/57066e830434106ff94272c4669f2f6b/sandbox/sandboxfs: Caught signal 15**

Although we have set the Rust env variable RUST_LOG='info,debug,error ', we do not see any

[2019-08-29 15:22] philwo commented on #7313
@egechir I would recommend to file your bug in the sandboxfs repository: https://github.com/bazelbuild/sandboxfs. You could also try to run sandboxfs manually and see if it works or also crashes. That way you should be able to get all the output of the command.

[2019-08-29 15:30] c-parsons commented on #8147
Also looks like manually flipping the flag to false at HEAD Bazel doesn't fix the issue
Running culprit finder. https://buildkite.com/bazel/culprit-finder/builds/210#c0afdadf-fdc2-494d-a35b-4de47e9f4538

[2019-08-29 15:35] c-parsons commented on #8147
Culprit is 0c8f22e07a6fb7c31b2a9564a9ce4ae1196bb594, so unrelated to this change.

[2019-08-29 15:40] meteorcloudy commented on #8147
Ah, thanks for looking into this!

[2019-08-29 16:34] wesleyw72 opened #9282 "Add customisable test sizes"
We have some tests that we would like to give more resources (memory and time) than the largest size (enormous) that bazel provides. We are currently getting around this by using `bazel run` on the test target. However it would be better if we could provide some custom conditions for a test or even just ignore the constraints for a specific test.

[2019-08-29 16:56] egechir commented on #7313
@philwo ,
Thank you for the recommendation.  Should I post this under the [issues ](https://github.com/bazelbuild/sandboxfs/issues)section ?
As you suggested I ran the sandboxfs manually and this time I managed to get more logs. The problem is that the sandboxfs hangs when trying to mount. This is the [sandboxfs.log](https://github.com/bazelbuild/bazel/files/3556597/sandboxfs.log).

The last messa

[2019-08-29 17:02] Jdban commented on #8746
I pasted this into my `WORKSPACE` file
[code]

I get this error:
[code]

This is on bazel `0.29.0`. I haven't modified my build files yet, but I did not expect to see `'@rules_java//java:repositories.bzl': file doesn't exist` as an error.
Did I miss something?
Is there documentation on `rules_java` at all? It is absent from the java rules documentation on docs.bazel.build: https://docs.bazel.build

[2019-08-29 19:36] v-mr opened #9284 "Bazel 0.29 contains a regression with Remote Build Execution backend"
### Description of the problem / feature request:

Bazel 0.29.0 (https://github.com/bazelbuild/bazel/issues/8572) has regression with Remote Build Execution backend.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

ERROR: <redacted>/test/BUILD:205:5:  failed (Exit 34). Note: Remote connection/protocol failed with: execution failed FA

[2019-08-29 19:51] katre commented on #9284
I am investigating with @v-mr

[2019-08-29 21:26] lizan commented on #9284
We're seeing same issue in envoyproxy/envoy#8074, seems this only happens when `--nocache_test_results` is passed to bazel. I can reproduce it with `--nocache_test_results` but not without it.

[2019-08-29 21:50] ccate commented on #3219
mature projects (ie the family of protobuf projects) have over time changed the names of expected repos, as well as their strategies for fetching dependencies. Working with older versions of protobuf is a nightmare. I believe the request for aliasing repo's is valid.

[2019-08-29 21:54] katre commented on #9284
Thank you for the data point, @lizan.

@v-mr has given me a repoduction case and I am bisecting now.

[2019-08-29 22:32] katre commented on #9284
@lizan It's possible that the difference with `--nocache_test_results` is that when it is not set the tests aren't executed, which seems to be where the failure is.

[2019-08-29 22:51] lizan commented on #9284
@katre I doubt so because I changed the our RBE image SHA at same time, which should revoke all cache in the first time when I ran without `--nocache_test_results`.

[2019-08-29 23:20] katre commented on #9284
Bisect has eventually told me that the culprit is e4ccba45376f74d24ce3506fb4057e1268f01a59. I have no idea why that is, but reverting it from master causes my reproduction to be fixed.

I'm going to debug this further to try and determine _why_ this change causes this failure.

[2019-08-29 23:57] alschult-saildrone opened #9285 "Zipped python binaries don't clean up properly when getting a KeyboardInterrupt or other signal"
### Description of the problem / feature request:

Python binaries build with --build_python_zip don't clean up their runfiles when they are killed with a keyboard interrupt or other signal.  In addition, signals are not passed to the child, which is annoying but less harmful than filling up /tmp.

### Feature requests: what underlying problem are you trying to solve with this feature?

Make pytho

[2019-08-30 00:20] katre commented on #9284
That commit is the one that caused the action key to change, which is apparently what causes the bug to be visible. It's not the commit that actually causes the error.

[2019-08-30 01:15] flaub commented on #4327
This issue is cropping up when I try to use an in-build `py_runtime`. Assuming I have a way of acquiring a python installation (I'm using conda in my case), it so happens that it will have filenames with spaces in them (for pretty core packages like `setuptools`).

Here's an example:

`BUILD`
[code]

`@conda//BUILD`
[code]

I have a conda-based repository_rule which fetches the conda environment i

[2019-08-30 03:13] dpursehouse opened #9286 "Upgrade error-prone to 2.3.3?"
It looks like Bazel is still using 2.3.2 snapshot version.  Any chance to upgrade to the latest 2.3.3 release?

[2019-08-30 04:50] jmillikin-stripe commented on #8572
While upgrading a build from 0.27 to 0.29, I discovered there was a regression in v0.28 for git_repository pulling at a tagged commit. The fix is merged in https://github.com/bazelbuild/bazel/pull/9059, would it be possible to cherry-pick this into v0.29.1 ?

[2019-08-30 05:38] buchgr commented on #9284
Trying to repro. PRECONDITION_FAILED hints at inputs not being uploaded.

[2019-08-30 05:54] buchgr commented on #9284
I believe the root cause is this line: https://source.bazel.build/bazel/+/master:src/main/java/com/google/devtools/build/lib/remote/RemoteSpawnRunner.java;l=250?q=RemoteSpawnRunner

[2019-08-30 06:47] buchgr commented on #9284
https://github.com/bazelbuild/bazel/pull/9287

[2019-08-30 07:17] buchgr commented on #9284
Here's a patch that applies cleanly on 0.29.0: https://github.com/buchgr/bazel/commit/c475d7d98a457e36a261f92ced9f9303e3f84c44

[2019-08-30 08:22] buchgr opened #9288 "deps attribute of _java_library_srcs does not have mandatory providers: 'java'."
This broke Bazel itself in our downstream pipeline.

https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1170#2e6b9acd-313e-4190-87e6-839cc6616241

`
(02:07:57) ERROR: /var/lib/buildkite-agent/.cache/bazel/_bazel_buildkite-agent/f348148a30d03c9d7c17e6a8c9ebda1a/external/googleapis/BUILD.bazel:35:2: in deps attribute of _java_library_srcs rule @googleapis//:google_watch_v1_java_proto_s

[2019-08-30 08:58] philwo commented on #7313
@egechir Thanks for filing the issue there about your specific problem. Let's continue the discussion about it there.

[2019-08-30 09:03] TannerYoung opened #9290 "Add ctx.expand_label_variables function"
### Description of the problem / feature request:

Support expanding make/label variables as defined [here](https://docs.bazel.build/versions/master/be/make-variables.html#predefined_label_variables) to the available functions on context such as [ctx.expand_location](https://docs.bazel.build/versions/master/skylark/lib/ctx.html#expand_location) and [ctx.expand_make_variables]( https://docs.bazel.b

[2019-08-30 09:07] davido opened #9291 ""Cycle in the workspace file detected" breakage when consuming java rules from Starlark"
After loading all occurences of java rules from Starlark (`--incompatible_load_java_rules_from_bzl` option) gerrit build is failing with:

[code]

Note, that we ran the latest buildifier version with `--lint=fix` option to make the changes.

Interestingly, java rules are used in a number of Starlark files in gerrit build tool chain, but the problem occurs with `java_import` only in one Starlark fi

[2019-08-30 09:14] iirina commented on #9288
I'll send a fix asap

[2019-08-30 09:22] buchgr commented on #9288
Thanks!

[2019-08-30 11:02] petemounce commented on #8572
Pushed to chocolatey.

[2019-08-30 11:22] katre commented on #8572
@jmillikin-stripe Please open an issue and assign it to me so I can track fixing the regression.

[2019-08-30 11:23] katre opened #9293 "Release 0.29.1 - August 2019 (stable)"
A patch release is needed after 0.29.0 (#8572) to address the following issues:

- #9284 - Failures in remote execution when tests are not cached
- *TO BE FILED* - Regression in git_repository.

[2019-08-30 11:23] katre commented on #8572
Filed #9293 to track the 0.29.1 point release: since 0.29.0 is finished I am closing this issue.

[2019-08-30 11:23] #8572 closed

[2019-08-30 11:38] laszlocsomor commented on #8572
Thanks @petemounce !

[2019-08-30 11:58] #9288 closed

[2019-08-30 12:08] #9225 closed

[2019-08-30 12:23] laurentlb commented on #9180
Related documentation: https://docs.bazel.build/versions/0.29.0/skylark/performance.html#reduce-the-number-of-calls-to-depset

Note that Builidifier will also report examples like the first snippet (https://github.com/bazelbuild/buildtools/blob/master/WARNINGS.md#overly-nested-depset), with some limitations (it uses a very simple syntax-based check).

[2019-08-30 12:24] #9284 closed

[2019-08-30 12:36] meteorcloudy opened #9294 "--nolegacy_external_runfiles doesn't affect host configure target"
### Description of the problem / feature request:

`--nolegacy_external_runfiles` has no effect when building a target with host configuration

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

We have the following two repo, B depends on A
[code]
Now build `//:gen` with `--nolegacy_external_runfiles` and check the runfiles of `//:bin`

[2019-08-30 12:46] meteorcloudy commented on #9294
We also need a plan to remove this flag

[2019-08-30 12:56] #8869 closed

[2019-08-30 13:37] #8651 closed

[2019-08-30 14:25] hlopko opened #9296 "Invalid cache hits for compilation actions using different version of CC - the other side of the coin"
Typical problem that Bazel C++ users face is that they have to run `bazel clean --expunge` or with Bazel 1.0 `bazel sync --configure` each time they upgrade their compiler or system header versions.

A variation of this problem that `bazel clean --expunge` doesn't fix is remote cache poisoning. Action outputs produced by the old version of CC are stored in the cache and used for builds with the ne

[2019-08-30 14:27] hlopko commented on #9296
I'll mark this as a release blocker, even though this is not strictly a regression, it was always like this.

[2019-08-30 14:28] hlopko commented on #9293
Can we consider a fix for https://github.com/bazelbuild/bazel/issues/9296 to be cherrypicked into 0.29.1?

[2019-08-30 14:32] katre commented on #9293
Yes, I think #9296 is valid.

[2019-08-30 14:55] buchgr commented on #8899
I wrote a patch that should make it work. Can you give it a try please: https://github.com/bazelbuild/bazel/pull/9298?

[2019-08-30 15:24] jmillikin-stripe opened #9299 "Regression from v0.27 -> v0.28 in git_repository with tagged non-branch commits"
While upgrading a build from 0.27 to 0.29, I discovered there was a regression in v0.28 for git_repository pulling at a tagged commit. The fix is merged in #9059, and didn't make it into v0.29.0. would it be possible to cherry-pick this into v0.29.1?

[2019-08-30 15:25] jmillikin-stripe commented on #9299
cc @katre

[2019-08-30 15:25] jmillikin-stripe commented on #9293
Filed https://github.com/bazelbuild/bazel/issues/9299 for the git_repository regression from v0.28

[2019-08-30 15:26] katre commented on #9293
@jmillikin-stripe Thanks!

[2019-08-30 16:02] katre commented on #9293
Since the fix for #9296 isn't ready, and at this point in the day, before a US holiday weekend, I am going to wait until Tuesday (Sept 3) to cut the first RC for 0.29.1.

[2019-08-30 17:26] aiuto opened #9300 "BazelCon 2019. December 11-12, Sunnyvale, CA"
Official site: https://events.withgoogle.com/bazelcon-2019/

Call for papers: https://forms.gle/oAwwX7LbhzrbhZok9

[2019-08-30 17:27] aiuto commented on #9300
Note to gardening team. Do not triage. This is a pinned as an annoucement.

[2019-08-30 18:15] mboes commented on #9199
That's exactly what I would like to be able to do, yes.

I'm not sure why. Could you clarify?

They would need to define the tolochain in a separate repository so that `bazel build //...` doesn't pick it up on incompatible platforms. They would need to redo by hand all the things that the workspace rule does. In our case, the workspace rule is non-trivial. See the `BUILD` file that the workspace p

[2019-08-30 19:40] JLLeitschuh commented on #6799
@jin will Google be the CNA for the CVE issued for this vulnerability or should I begin the issuance of the CVE number via MITRE?

[2019-08-30 20:30] jin commented on #6799
@JLLeitschuh I do not have the answer for you at the moment. I am following up with folks from the security team with your question on issuing a CVE, the next steps, and also to verify our remediation approaches (#9237, #9235, https://github.com/bazelbuild/bazel/commit/b065b1318641db2e75b12ca6a29c89d9265f3389, original sha1 issue ref: https://github.com/bazelbuild/bazel/issues/8880)

[2019-08-30 21:19] katre commented on #9199
Responding to the first half of your comment:

Passing BUILD-style Starlark as a string is error-prone because there are no compilation checks where it is written: any errors would be reported in the BUILD file you inject it into.

Consider a WORKSPACE macro like this:
[code]

The errors in this code (missing parens for the select, the incorrect package name "//conig", etc) will not be reported fr

[2019-08-30 21:26] katre commented on #9199
Responding to the second half:

Toolchains are not executed by default. I am not sure why it would be a problem for them to be analyzed as part of "bazel build //...".

You can certainly provide helpful macros for users to create their own toolchains simply.

I think, in general, that you are confused about why "select" and related functions are forbidden in WORKSPACE. While we call functions in B

[2019-08-31 17:35] wno-git commented on #8989
This means every ruleset utilizing `git_repository` needs to list `git` (and `patch`) as dependencies.

After 9cf8ebd it's now at least easier to pinpoint a build failure to missing `git`. However, I believe it would be helpful and save time if the dependencies of core rules, such as `git_repository`, were listed as recommended dependencies of Bazel itself.

Similar to the author I ran into this i

[2019-09-01 04:42] emranbm commented on #5741
@gertvdijk Oh, why didn't I see that?!
Solved my problem. Thanks a lot!

[2019-09-01 09:30] Delostik opened #9303 "No ToolChain found Mac OSX"
### Description of the problem / feature request:

I'm trying to use gcc9.2(from homebrew) compile my c++ project

returns

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

### What operating system are you running Bazel on?

### What's the output of `bazel info release`?

###  Have you found anything relevant by searching the web?

[2019-09-01 18:19] paladox opened #9304 "Bazel on mac 10.15 fails with "“bazel-real” can’t be opened because its integrity cannot be verified.""
### Description of the problem / feature request:

When i upgraded to Mac 10.15, bazel stopped working. bazel build release fails with (“bazel-real” can’t be opened because its integrity cannot be verified.)

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

* bazel build release (in the gerrit project)

### What operating system are y

[2019-09-01 18:48] paladox commented on #9304
Work around is to do:

sudo spctl --master-disable

Which brings backs the option of "Anywhere" to Security & Privacy.

[2019-09-01 21:50] davido opened #9305 "Support minimum supported bazel version check from bazelisk's .bazelversion"
Gerrit Code Review project is optionally supporting [Bazelisk](https://github.com/bazelbuild/bazelisk), by providing `.bazelversion` file. In the same time, we are checking the minimum supported Bazel version in `WORKSPACE` file by using bazel_skylib's `versions.check()` function (in case the build is invoked with Bazel and not with Bazelisk command), e.g.:

[code]

However, this is disadvantageou

[2019-09-02 08:02] meteorcloudy opened #9306 "legacy_external_runfiles => incompatible_disable_legacy_external_runfiles"
We should rename `--legacy_external_runfiles` to `--incompatible_disable_legacy_runfiles` and roll it out as an incompatible change.

[2019-09-02 08:15] #9294 closed

[2019-09-02 10:57] #8571 closed

[2019-09-02 11:23] dslomov commented on #8573
Current list of blockers is https://github.com/bazelbuild/bazel/labels/bazel%201.0

[2019-09-02 11:24] dslomov commented on #9215
What is the ETA for this?

[2019-09-02 11:25] dslomov commented on #8813
Still blocker for 1.0?

[2019-09-02 11:25] dslomov commented on #8783
This is closed, I assume.

[2019-09-02 11:25] #8783 closed

[2019-09-02 11:27] dslomov commented on #8622
What is the status of this for 1.0?

[2019-09-02 11:28] scentini commented on #6790
This will not make it into 1.0.

[2019-09-02 11:31] dslomov commented on #6622
What are the ETA for the flag flip?

[2019-09-02 11:33] dslomov commented on #8763
Is this still a blocker for 1.0?

[2019-09-02 11:34] philwo commented on #8813
@dslomov No, we couldn't get it to work in time and Laszlo is on vacation now - let's ship this later. I'll remove the label.

[2019-09-02 11:34] dslomov commented on #7348
Does not seem to be on track for 1.0

[2019-09-02 11:35] dslomov commented on #7362
What's the ETA for the fix?

[2019-09-02 11:36] hlopko commented on #8622
Not flipping in time for 1.0

[2019-09-02 11:38] #9215 closed

[2019-09-02 11:39] hlopko commented on #7362
Running TF presubmits right now.

[2019-09-02 11:43] lberki commented on #9215
Done. I thought I had submitted the fix, but apparently it was just a green *presubmit* run.

[2019-09-02 11:49] dslomov commented on #6217
Is it still a 1.0 blocker?

[2019-09-02 11:53] scentini commented on #6217
This is WIP, I don't think we should treat is as a blocker.

[2019-09-02 11:56] iirina opened #9309 "Remove legacy .java provider from native bazel."
The flag disabling the provider was already flipped in c8a32f2bdb6cf77aeec2be16ded49632c9699e3e (see more details in #7598).

[2019-09-02 11:57] iirina commented on #9309
cc @hlopko @lberki

[2019-09-02 12:03] dslomov commented on #9309
Why removing the provider is a blocker for 1.0?

[2019-09-02 12:04] dslomov commented on #6525
Is this still a blocker for 1.0?

[2019-09-02 12:06] lberki commented on #9309
So that we don't need to do it after Bazel 1.0 (there is a tiny chance that this is an incompatible change due to the way @iirina implemented its incompatible flag and I'd rather have that happen before 1.0)

[2019-09-02 12:08] iirina commented on #9309
We'd get a nice clean slate for Java-Starlark APIs, minimizing technical debt and confusion. :) I have a pending internal CL for removing it, awaiting a new rules_android release.

[2019-09-02 12:10] dslomov commented on #9309
ok, what's the ETA?

[2019-09-02 12:13] hlopko commented on #9309
I say let's submit & close right now. And push rules_android to release before we release 1.0

[2019-09-02 12:14] dslomov commented on #8147
Closing since the flag is flipped

[2019-09-02 12:14] #8147 closed

[2019-09-02 12:15] dslomov commented on #7949
Closing since the flag is flipped

[2019-09-02 12:15] #7949 closed

[2019-09-02 12:16] dslomov commented on #6437
Closing since the flag is flipped.

[2019-09-02 12:16] #6437 closed

[2019-09-02 12:18] iirina commented on #9309
We'd break internal projects that use rules_android if we push right now. ETA depends on when rules_android are released internally. Best case scenario: release & submit this week.

[2019-09-02 12:32] dslomov commented on #9309
so why does this change break rules_android again? Is it incompatible? The change that could have broken rules_android was an incompatible flag flip, no?

[2019-09-02 12:53] meisterT commented on #9270
I think this is a release blocker for Bazel 1.0. cc @dslomov as the release manager to decide.

[2019-09-02 13:09] dslomov commented on #9270
I would like to understand what exactly caused the regression before making a call on 1.0 blocking

[2019-09-02 13:29] atomgalaxy commented on #258
I'd like to chime in and say that I don't think this solution is good enough. Bazel should ship something like a standard target to do this instead of relying on 3rd-party rules. Compilation databases are really important for running any kind of tooling that does proper parsing of the source code, and having to rely on hacky (albeit mostly-working) solutions is not ideal.

[2019-09-02 14:34] iirina commented on #9270
I'm running the performance script. It takes a while. I'll post the findings when it's done.

[2019-09-02 14:39] iirina commented on #9309
It only breaks the internal rules_android and only the released version. Everything is migrated at head, now the changes have to be propagated to the release version.

[2019-09-02 14:46] meisterT commented on #9270
I did look at the action times in the JSON profile (on Mac). Some actions are faster, some are slower, but the sum of differences is amounts to ~250s compared to the faster build. Divided by the number of threads (12) this is roughly the slowdown that we see.

I agree with Irina that https://github.com/bazelbuild/bazel/pull/8964 is the most likely culprit.

[2019-09-02 14:58] #8899 closed

[2019-09-02 15:14] #9296 closed

[2019-09-02 19:23] nicolov commented on #9248
Just to add to the list, `--enable_runfiles=false` doesn't seem to work with `bazel test`, the symlink tree is created anyway: https://github.com/bazelbuild/bazel/issues/9164

[2019-09-03 06:08] emman27 opened #9312 "cpp-use-cases gtest example doesn't work"
### Description of the problem / feature request:

### Feature requests: what underlying problem are you trying to solve with this feature?

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

### What operating system are you running Bazel on?

### What's the output of `bazel info release`?

###  Have you found anything relevant by sear

[2019-09-03 07:52] iirina commented on #9270
The script finished but it doesn't show me the results for all the commits I wanted.

Here is the command I ran:

[code]

I actually wanted results for the last 2 commits I specified, which are my local commits using two different java_tools versions. Is there a way I can debug and see what went wrong?

[2019-09-03 08:11] dslomov commented on #9309
Summarizing offline discussion: this turned out to be an incompatible change. So we need to follow the incompatible change policy here. We are not removing the .java in 1.0 (but we are removing all its attributes, so that it is just an empty struct)

[2019-09-03 08:11] meteorcloudy opened #9316 "Windows: Bazel sometimes crash during startup on Bazel CI"
[code]

https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1177#cdad2bab-64c0-4621-8535-78e6230f9df0
https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1177#e7ed76ba-f1d1-4ced-a7e9-15043f62e84e
https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1177#ae175667-0688-4266-926f-6d858da37764
/cc @laszlocsomor

[2019-09-03 08:25] meteorcloudy commented on #9316
Crash also happens to 0.29.0, but with different error message

https://buildkite.com/bazel/rules-nodejs-nodejs/builds/3780#326af6fb-62b5-41c2-a212-015308d4522a

[2019-09-03 08:26] meteorcloudy commented on #9316
/cc @philwo Could this be some infrastructure issue?

[2019-09-03 09:33] dslomov commented on #8763
ping @katre

[2019-09-03 09:36] dslomov commented on #6622
ping @meteorcloudy

[2019-09-03 09:39] meteorcloudy commented on #6622
We have one last broken project, fix is here: https://github.com/bazelbuild/rules_typescript/pull/469
I think we can flip this now to catch up the 1.0 cut.

[2019-09-03 09:41] dslomov commented on #6622
lovely, let's do it.

[2019-09-03 10:42] ulfjack commented on #6394
At this time, --jobs determines how many threads Bazel creates internally, and local_cpu_resources determines how many subprocesses Bazel is allowed to run concurrently. However, Bazel threads block on local & remote subprocesses. Therefore, if --jobs is less than --local_cpu_resources, then --local_cpu_resources is effectively ignored, and Bazel runs at most --jobs subprocesses.

For remote build

[2019-09-03 11:05] iirina commented on #9270
@joeleba helped me to debug the script and it doesn't work with branches other than master. I'll rebase into my local master and re-run the script. I hope we'll get results by the end of day.

[2019-09-03 12:37] iirina commented on #9291
Interesting case. Thanks for flagging it! I'll take a look.

[2019-09-03 12:57] philwo commented on #9316
Yun suspected that the health check on Windows might be causing these problems. I'm not sure about this, because I couldn't see any health check failures in the logs, but I also can't think of anything else that recently changed, so I've disabled it temporarily for the bk-windows instance group.

[2019-09-03 13:05] meteorcloudy commented on #9316
Thanks! Let's see if it helps ;)

[2019-09-03 13:10] katre commented on #8763
I am not aware of any uses of this that are required for 1.0, since we de-prioritized enabling toolchain resolution for CC rules.

[2019-09-03 13:11] katre commented on #8763
Also, I don't know when anyone will have time to work on it.

[2019-09-03 13:14] laurentlb opened #9319 "Generated documentation doesn't respect versioning"
Go to https://docs.bazel.build/versions/master/skylark/lib/skylark-overview.html
Check any link url, e.g. "Global Functions"

Actual: https://docs.bazel.build/versions/0.29.0/skylark/lib/globals.html
Expected: https://docs.bazel.build/versions/master/skylark/lib/globals.html

[2019-09-03 13:15] strican commented on #8763
My understanding is that this is a requirement for `rules_go` and `rules_docker` to work together. See bazelbuild/rules_go#2089. This seems like an important scenario to me at least.

[2019-09-03 13:16] laurentlb commented on #9305
Do you really need the version check? If you use Bazelisk and Bazelisk uses the `.bazelversion`, you should be fine.

Bazel doesn't know about `.bazelversion`.

[2019-09-03 13:18] laurentlb commented on #9290
@c-parsons, what do you think?

[2019-09-03 13:20] katre commented on #9293
Planning to cut RC1 today. Assuming everything works, we can release on Thursday.

[2019-09-03 13:35] #6622 closed

[2019-09-03 13:53] katre commented on #9293
Release command:
[code]

[2019-09-03 14:06] c-parsons commented on #9290
Does [ctx.var](https://docs.bazel.build/versions/master/skylark/lib/ctx.html#var) not work?

[2019-09-03 14:11] iirina commented on #9270
I managed to get some results \o/

[code]

`0bd7273c74b0385baee503a0199e4fac70df8468` is the commit with java_tools built without Turbine update.
`79892e8a6aba1a880e68c214edce628fb63dfd13` is the commit with java_tools built without G1 change.
I'm not sure the report is helpful :confused:

[2019-09-03 14:11] iirina commented on #9270
There's a high pval for both commits.

[2019-09-03 14:13] iirina commented on #9270
I think I should have compared them individually with a baseline.

[2019-09-03 14:14] iirina commented on #9309
I linked the wrong issue in 06fcb83c550606cc2bf331006d4e276e490724ed.

[2019-09-03 14:16] iirina commented on #9270
The commits are pushed here https://github.com/bazelbuild/bazel/pull/9318

[2019-09-03 14:17] joeleba commented on #9270
What is `e6f2f5b17c85956db9c2318788b4e715767b7aca`?

A high pval (0.99983) means there's strong evidence that there's a difference in the distribution of the wall time measured between `0bd7273c74b0385baee503a0199e4fac70df8468` and `e6f2f5b17c85956db9c2318788b4e715767b7aca`. In this case, `0bd7273c74b0385baee503a0199e4fac70df8468` is ~9.03% faster (median).

So you can say that removing the Turbin

[2019-09-03 14:18] c-parsons commented on #9290
never mind -- reading through this again, I believe I had misunderstood.
Indeed, a strawman here might be:

`ctx.expand_label_variables("rootpath", "//foo/bar:baz")` gives you the string that would be given from expanding `$(rootpath //foo/bar:baz)`

[2019-09-03 14:19] philwo commented on #8986
I think I understand the problem. The proposal seems rather complex to me, but maybe I'm lacking context here. Why is it a problem if the integration tests just use the global WORKSPACE file? Bazel shouldn't download anything that's not used, even when it's present in the WORKSPACE, so why do we want to minimize the things in each test's WORKSPACE file?

Assigning to Florian to think about it a bi

[2019-09-03 14:21] iirina commented on #9270
`e6f2f5b17c85956db9c2318788b4e715767b7aca` is the commit that was at head when I started the script (e6f2f5b17c85956db9c2318788b4e715767b7aca)

[2019-09-03 14:26] Yannic commented on #9305
I think you can get the version from `.bazelversion` with a custom repository rule.

`WORKSPACE`:
[code]

`bazelisk_version.bzl`:
[code]

[2019-09-03 14:28] philwo commented on #8998
I don't see how xProduct can help here - reassigning to the flag owner for triaging.

[2019-09-03 14:31] iirina commented on #9270
cc @cushon

Thanks Joe for the details! If I didn't mess anything up when performing the benchmark, the Turbine update in 10db812ec3d911e904717f4a3f9e1cf0389ff3ff made building bazel slower. Liam, do you know of any potential reasons why that may happen?

[2019-09-03 14:38] philwo commented on #9261
@steige2 Do I understand correctly that you're using CentOS 7? Which Java version do you have installed and enabled (output of `javac -version` and the value of `$JAVA_HOME` would be helpful)?

I can try to reproduce your issue then.

[2019-09-03 14:40] philwo commented on #9263
From the output I don't see what's causing the failure. Unfortunately I don't currently have a PowerPC machine to debug this, but when I get one, I'll try to reproduce.

[2019-09-03 14:44] katre commented on #9293
Release announcement sent: https://releases.bazel.build/0.29.1/rc1/index.html

Waiting for tests: https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1179

[2019-09-03 14:45] philwo commented on #9268
Are you sure that these files exist on your system? Could you please run the following command and paste the full output:

[code]

[2019-09-03 14:47] sergiocampama commented on #7348
`objc_proto_library` has been deleted from the native codebase, but not all native support has been removed. We would have liked to remove this sooner, but there are still unresolved blockers.

[2019-09-03 14:49] philwo commented on #9279
In case Bazel wasn't able to create the symlinks for bazel-bin, the error would have been printed as one of the first message of a build, so we can't see this from the screenshot. You can check via "bazel shutdown && bazel build" - maybe your directory is read-only or you don't have write permissions there?

However, you should be able to find the output files in the directory printed by this comm

[2019-09-03 15:18] davido commented on #9291
Thanks @iirina!

Just to let you know, that you wouldn't be able to reproduce the problem easily, because the mentioned CL was merged today. I could upload a change to gerrit, that reverts the woraround part from that CL, so that you could reproduce the problem. Please, let me know, it you need this.

[2019-09-03 15:22] ale64bit opened #9321 "Tree artifacts don't seem to work on Windows"
### Description of the problem / feature request:

Tree artifacts don't seem to work on Windows.

### Feature requests: what underlying problem are you trying to solve with this feature?

Generate a `cc_library` from an unknown number of source files, e.g. because they are produced by a tool.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if pos

[2019-09-03 15:26] aiuto commented on #8986
That is an important question.  Our current tests do not. They carefully craft just what they need. But I didn't write any of them and they all predate me, so I don't know why we got here.

I do know there are several Java integration tests which create a WORKSPACE and BUILD. They could just as easily copy the top level WORKSPACE. It would get rid of a bunch of test scaffolding.

[2019-09-03 15:39] jin commented on #4032
Closing this as obsolete. Please create a new issue if you're running into this problem with the latest Bazel versions.

[2019-09-03 15:39] #4032 closed

[2019-09-03 15:39] c-parsons commented on #6607
I believe this was fixed in https://github.com/bazelbuild/bazel/commit/f13f9fc39a7e48cc3233f763caa499bcf9ec4a9a

[2019-09-03 15:39] #6607 closed

[2019-09-03 15:40] jin commented on #4044
cc @hlopko, please triage if this is still relevant.

[2019-09-03 15:41] jin commented on #4054
cc @philwo please triage if this still relevant.

[2019-09-03 15:42] jin commented on #4059
cc @jmmv please triage if this issue is still relevant.

[2019-09-03 15:43] jin commented on #4060
cc @jmmv please triage this issue if it's still relevant and P1.

[2019-09-03 15:44] jin commented on #4075
cc @jmmv please triage this issue if it's still relevant.

[2019-09-03 15:45] jin commented on #4139
Closing as

[2019-09-03 15:45] #4139 closed

[2019-09-03 15:47] jin commented on #4150
Moving to the local exec team and back into the untriaged pool.

[2019-09-03 15:48] jin commented on #4153
cc @buchgr @ishikhman with https://blog.bazel.build/2019/06/19/list-strategy.html and other work on strategy selection recently, is this issue resolved?

[2019-09-03 15:49] aiuto commented on #6525
Greg is OOO this week, so I will put words in his mouth. I don't see how this impacts the 1.0 release. We can provide guidance documentation at any time, regardless of when the code is frozen.

[2019-09-03 15:54] aiuto commented on #7130
@dslomov  So this is going to not flip for 1.0?   I'll put in a last plea that we should flip it even though things break downstream.  We know 1.0 will break many projects downstream. This is the chance to correct a very strange bit of behavior that is incredibly hard to work around.

[2019-09-03 16:06] jin commented on #1601
Closing this as obsolete (Bazel 0.3.1), please reopen if this is still affecting you with the latest Bazel versions.

[2019-09-03 16:06] #1601 closed

[2019-09-03 16:07] jin commented on #871
Closing as we're moving away from --cpu to platforms.

[2019-09-03 16:07] #871 closed

[2019-09-03 16:11] c-parsons commented on #6784
As a workaround, can you write your own test rule to customfit an appropriate test action? (That is, not use sh_test in macros for the tests but create the appropriate test action in starlark rule logic)

[2019-09-03 16:13] jin commented on #4161
Assigning to product excellence team as this is an issue dealing with user experience.

[2019-09-03 16:13] #4191 closed

[2019-09-03 16:20] jin commented on #4264
All of the Android stuff are moving out of Bazel core. Tracked in https://github.com/bazelbuild/bazel/issues/5354

[2019-09-03 16:20] #4264 closed

[2019-09-03 16:23] katre commented on #9293
Downstream tests all pass (after several retries).

[2019-09-03 16:24] c-parsons commented on #8697
Rephrasing this bug (with repro case):
It seems that specifying a `files_to_run` object as the `tools` parameter to an action sometimes does not include all of the files one should expect.

See https://github.com/tensorflow/tensorboard/pull/2368#discussion_r296321399 for a repro.

[2019-09-03 16:25] jin commented on #9321
cc @laszlocsomor

[2019-09-03 16:27] steige2 commented on #9261
$ javac -version
javac 1.8.0
$ echo $JAVA_HOME

(That is echo $JAVA_HOME returns nothing)

Nothing left but madness
When theres nothing left to lose

Scott Teige PhD
Deep Learning
Indiana University Research Technologies
steige@iu.edu
Office: +1 812 856 7331

[2019-09-03 16:27] steige2 commented on #9261
$ javac -version
javac 1.8.0
$ echo $JAVA_HOME

(That is echo $JAVA_HOME returns nothing)

Nothing left but madness
When theres nothing left to lose

Scott Teige PhD
Deep Learning
Indiana University Research Technologies
steige@iu.edu <mailto:steige@iu.edu>
Office: +1 812 856 7331

[2019-09-03 16:47] buchgr commented on #9321
Chatted about this with @meteorcloudy this week. We don't expand them in the manifest as we do in the runfiles tree. Will send a fix.

[2019-09-03 17:07] Profpatsch commented on #6784
I don’t know, it’s nearly been a year. We worked around it somehow back in the day.

I would consider it less of a feature request and more of a bug.

[2019-09-03 17:09] meteorcloudy commented on #9321
@buchgr This looks like a different issue, `_dotd/main/gen_tree/foo.obj.d` shouldn't be required on Windows.

[2019-09-03 17:09] meteorcloudy commented on #9321
Maybe using tree artifact triggered some code path that should not run on Windows.

[2019-09-03 17:40] ccontavalli-j commented on #7020
@katre is there a recommended way to use multiple C++ toolchains in the same project, to support, eg, libraries that require gcc, and libraries that require clang?

[2019-09-03 17:42] purkhusid commented on #7962
@vitarb You don't happen to have anything that you can share? I've been looking for something that solves this problem but I've found no concrete solutions. Pants has a flag `--changed-parent=<git hash here>` that takes care of this but something similar is very much needed for Bazel

[2019-09-03 17:48] #9312 closed

[2019-09-03 17:49] katre commented on #7020
You would need to ask the cc rules maintainers. I suggest asking on the bazel-discuss mailing list.

[2019-09-03 17:57] Monnoroch commented on #7020
I don't think this is about cc_rules. It's a fundamental build system issue. Most languages have multiple toolchain options and code is very often toolchain-dependent. Doesn't matter, what the language is, be it C or D or Go or even Python, there's always going to be room for building different targets with different compilers.

My research on this topic tells me that currently this is impossible,

[2019-09-03 18:33] jin commented on #6799
I have verified with the security team that the referenced remediation approaches for the SHA-1 issue are sufficient.

1) The docs for the maven_jar rule have been updated to discourage use of sha1, and use sha256 instead. https://docs.bazel.build/versions/master/be/workspace.html#maven_jar

"A SHA-1 hash of the desired jar.

If the downloaded jar does not match this hash, Bazel will error out. It

[2019-09-03 19:44] clnperez commented on #9263
@philwo you can request one here: https://osuosl.org/services/powerdev/request_hosting/
You can use me (Christy Norman) as your advocate, choose whatever distro you want (I'd recommend Ubuntu as you can apt install docker there for a recent version), and choose to have the lab create the instance for you.

[2019-09-03 19:48] brandjon commented on #9164
Hm, it is empty. So I'm not sure what the intended behavior is here.

[2019-09-03 20:37] brandjon commented on #9284
Came across this issue from a buildkite "Emergency" [message](https://buildkite.com/bazel/bazel-federation/builds/61). Since this issue is closed (and the message refers to a solution "later today"), can the message be removed?

[2019-09-03 21:58] brandjon commented on #8746
Is it possible you need to run `bazel sync`? I believe there's a built-in `@rules_java` for migration purposes, and if you add the workspace entry without syncing it might still be using the dummy built-in implementation. I just hit something like that.

But now that I've synced (and using the latest rules_java commit), I still get failures within `@bazel_tools`, under `@bazel_tools//tools/jdk:dum

[2019-09-03 22:15] clnperez commented on #9263
actually -- it seems to just be an issue with the default here: https://github.com/bazelbuild/bazel/blob/0.28.1/third_party/BUILD#L528-L530

my experiment:

[code]

[2019-09-04 01:35] KEINOS commented on #1492
[F.Y.I.] For those who're looking for the latest Bazel Alpine package (apk file like I do), check:

https://github.com/davido/bazel-alpine-package/releases

- Currently (2019/09/04) available Bazel versions:
  - PreRelease: Bazel v0.26.1
  - Latest: Bazel v0.22.0

[2019-09-04 02:44] wang703 opened #9323 "build tensorflow serving error"
The following error occurred when I build tensorflow serving, may I ask what the problem is ?
Thank you very mach!

DEBUG: /opt/bazel/4f8ec4b658b1c361a6a9d73c1034bafc/external/bazel_tools/tools/cpp/lib_cc_configure.bzl:115:5:
Auto-Configuration Warning: 'TMP' environment variable is not set, using 'C:\Windows\Temp' as default
ERROR: /opt/bazel/4f8ec4b658b1c361a6a9d73c1034bafc/external/org_tensorfl

[2019-09-04 02:53] scw00 opened #9324 "Load packages offline"
### Description of the problem / feature request:

### Feature requests: what underlying problem are you trying to solve with this feature?

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

### What operating system are you running Bazel on?

### What's the output of `bazel info release`?

### If `bazel info release` returns "developm

[2019-09-04 04:03] jin commented on #9324
Yes, [see the `--distdir=<path-to-directory>` flag](https://docs.bazel.build/versions/master/guide.html#distdir).

[2019-09-04 04:03] #9324 closed

[2019-09-04 05:28] troshko111 opened #9325 "Common dependencies are hard to reuse"
### Description of the problem / feature request:

Bazel UX for dealing with common dependencies is less than ideal at the moment, one needs to:

- Define a `project_dependencies`-like function accepting a ton of `omit_xxx` flags deciding whether to load a particular sub-dependency or not (in case one is available already).
- Rely on the name match for common dependencies (aka hope the dependency

[2019-09-04 05:29] buchgr commented on #9164
That's the indented behavior :)

[2019-09-04 05:37] cheister commented on #6415
Are there any plans to make the `annotation_processor_additional_inputs` option available to java_library?

[2019-09-04 05:44] davido commented on #9305
Thanks @Yannic. Would it be an option to implement that check in `bazel_skylib`, as this use case may be interesting for other projects as well.

@laurentlb Not all users and developers of Gerrit switched to Bazelisk, and still using Bael directly, so that yes, unfortunately we still need that check in WORKSPACE file.

[2019-09-04 05:44] #9305 closed

[2019-09-04 07:28] iirina commented on #8746
@brandjon It is not migration ready

[2019-09-04 08:32] jbduncan commented on #5255
I'm not entirely sure if this issue is intended to be resolved by the time Bazel 1.0 is released. (I understand from https://blog.bazel.build/2019/06/06/Bazel-Semantic-Versioning.html that Bazel 1.0 is intended to be a "milestone" for implementing the Bazel Vision, and that implementing this issue is part of the vision.)

Could someone clarify this for me? :)

[2019-09-04 08:52] #8673 closed

[2019-09-04 08:59] joeleba commented on #9270
Btw, with bazelbuild/bazel-bench#66, you can now specify *pre-built bazel binaries* to benchmark (as an alternative to the rebasing-your-local-change-onto-master workflow). Example:

[code]

[2019-09-04 09:11] iirina commented on #9270
That sounds great @joeleba! That should also make the script faster. Do you still need to specify `bazel_commits` when `bazel_binaries` are set?

[2019-09-04 09:28] joeleba commented on #9270
In general:
- `--bazel_commits` is for commits available in branch `master` of whichever repo you specified in `--bazel_source`. The script takes care of building the binaries from those commits.
- `--bazel_binaries` can be used for any pre-built binaries (it could very well be a WIP, doesn't have to be associated with any commit). This provides more flexibility, but requires you to build the bina

[2019-09-04 09:29] iirina commented on #9270
Nice! Thanks for making these improvements!

[2019-09-04 10:53] ishikhman commented on #7988
will be available in Bazel 1.0 (already available in HEAD) under the flag `--experimental_allow_tags_propagation`. Feel free to try it out!

Please let us know, if you face any issues with it, here is a tracking issue #8830

[2019-09-04 10:53] #7988 closed

[2019-09-04 11:27] #7362 closed

[2019-09-04 11:43] scentini commented on #9238
There's no plan to add `nolinkopts` to Bazel, in fact, the next release will not have `nocopts` as well: https://github.com/bazelbuild/bazel/issues/8706.

Bazel has a `BAZEL_LINKOPTS` variable, which defaults to `-lstdc++:-lm`, and which you can change to remove `-lstdc++`. Then, you'll need to add `-lstdc++` to `linkopts` of the targets where you want `libstdc++` linked dynamically, and `-l:libc+

[2019-09-04 11:43] #9238 closed

[2019-09-04 12:26] ishikhman commented on #8004
Done as of 58d3f17. Follow-up in #8830

[2019-09-04 12:26] #8004 closed

[2019-09-04 12:55] ishikhman commented on #4153
Yes, I think so. It seems that it's been covered by https://github.com/bazelbuild/bazel/issues/7480

Closing the issue for now.

[2019-09-04 12:55] #4153 closed

[2019-09-04 13:23] katre commented on #9284
@brandjon The core issue won't be fixed until 0.29.1 is released, hopefully tomorrow.

[2019-09-04 13:33] ulfjack commented on #3106
There was a fix to the status lines a couple weeks ago. Which bazel version did you use?

[2019-09-04 13:49] scentini commented on #9190
Another way to do this is to add [`linkstatic = 1`](https://docs.bazel.build/versions/0.29.0/be/c-cpp.html#cc_test.linkstatic) to your `cc_test`.
The argument for `cc_test` having dynamic linking as default is that one makes small changes and tests often, and with each change we would have to re-do the final linking step, wasting time in the process.

[2019-09-04 13:49] #9190 closed

[2019-09-04 13:51] dslomov commented on #7130
The problem is, @aehlig has discovered some issues with implementation of this (related to interactions between repository mappings and toolchain registration) that are hard to investigate and fix. it is not that downstream projects are broken, it is that the implementation is not fully ready. So, regrettably, we will have to keep this off.

[2019-09-04 13:53] dslomov commented on #6525
Thanks @aiuto !

[2019-09-04 13:57] dslomov commented on #8763
@hlopko / @katre: thoughts? Are rules_go + rules_docker broken? Or it is it just for platform-based C++ rules?

[2019-09-04 13:57] dslomov commented on #8763
Keeping this blocking 1.0 until the comment is addressed.

[2019-09-04 13:59] scentini commented on #9085
The `cc_library`'s produced shared libraries are considered an internal implementation of Bazel, thus they are not meant to be used in this way. You need to use cc_binary instead.

[2019-09-04 13:59] #9085 closed

[2019-09-04 14:01] jmmv commented on #7322
I think this makes sense. But given the change in semantics, maybe it'd be worth adding this feature as a new `--test_tag_filter` (singular) flag that takes just one override (like `--action_env` does for example) and then migrate people to the new flag?

And it'd be worth assessing if we have other similar flags in Bazel so that we can address all of them in one go, with the same syntax.

[2019-09-04 14:07] katre commented on #8763
The fixes for https://github.com/bazelbuild/rules_go/issues/2089 require widespread work, not just this issue regarding multiple constraint values (See @hlopko's [comment](https://github.com/bazelbuild/rules_go/issues/2089#issuecomment-507583536) for details). The work to add [host platform generic autodetection](https://github.com/bazelbuild/bazel/issues/8766) hasn't even been fully specced out,

[2019-09-04 14:23] dslomov commented on #8763
Thanks @katre!

[2019-09-04 14:34] brandjon commented on #8746
In that case, should we remove the tags `migration-ready` and `migration-0.29`? I believe the latter controls whether this flag is tested by the bazelisk pipeline in buildkite.

[2019-09-04 14:50] philwo commented on #9304
@paladox I can reproduce this on a test machine with macOS 10.15.

It is because of the new notarization requirement. We will have to find a way how to correctly notarize our release binaries for macOS.

As a workaround, you can download the Bazel installer or binary not using a web-browser, but using "wget" or "curl", which doesn't mark the file as "having been downloaded from the internet", so m

[2019-09-04 15:08] paladox commented on #9304
Ah thanks! I just went for the "sudo spctl --master-disable" option :)

[2019-09-04 16:01] katre commented on #9262
Fixed by 13e38ed63a96081880adcf127a868e52b63bb6be (which tagged the wrong issue).

[2019-09-04 16:01] #9262 closed

[2019-09-04 16:02] c-parsons commented on #6784
Apologies that this fell through.

It's quite possible users have come to depend on this "quirk" of the API:
A "fix" here would likely warrant an overall API change and require some design (it would likely be an incompatible change).

[2019-09-04 16:25] dhalperi commented on #7130
This really seems like it should be a blocker. Why is timeline rather than
functionality driving the cut?

On Wed, Sep 4, 2019 at 06:52 Dmitry Lomov <notifications@github.com> wrote:

[2019-09-04 17:04] SashaOv commented on #6721
Hi @lberki , please take a look at https://clang.llvm.org/docs/JSONCompilationDatabase.html and https://github.com/grailbio/bazel-compilation-database.

`compilation_database.json` is a very important feature, it helps IDEs to parse the code correctly and enables features like IntelliSense which accelerate coding dramatically.

Please consider making this into a supported feature. I am sure a lot

[2019-09-04 17:04] c-parsons commented on #5010
Marking fixed, as #8147 is fixed.

[2019-09-04 17:04] #5010 closed

[2019-09-04 19:19] ccontavalli-j commented on #6926
Also consider environments where multiple compilers may be available and necessary to build different targets. For example, having a dependency on a library that can only be built with gcc, and a different library that can only be built with clang.

A way to do this would be to extend cc_configure and/or cc_autoconf.* to take parameters, so one can specify a path for the compiler to use, for examp

[2019-09-04 20:22] JLLeitschuh commented on #6799
+1 on the mention of shattered in your warning message.

Do you want me to move forward with the CVE issuance process via MITRE or will you?

If you want me to do it, I need to know the first 'fixed' version as well as the commit hash/hashes or PR that fixes this issue.

Some context here: I'm actually not a Bazel user, I do work for Gradle though & in my free time I focus my software security res

[2019-09-04 21:39] cgruber commented on #8505
Found another one.

[code]

Bazel workers should be trapping any and all output by their underlying tools, and avoiding publishing it to stdout - and if they run things in-process, they should use `System.setOut` to defensively capture standard out from libraries.

[2019-09-04 21:40] cgruber commented on #8505
Meh - sorry, it's the same error.  It just keeps happening all over the place.

[2019-09-04 21:42] cgruber commented on #8505
Ah - but I was working around this bug via `build --strategy=AndroidResourceMerger=standalone`, but as of 0.29.0, that is not working.  Was this functionality split out into a different worker, with a different mnemonic?

[2019-09-04 21:56] keith opened #9327 "[Security] netrc support passes original credentials on HTTP redirects"
### Description of the problem / feature request:

When you have a `~/.netrc` file with these contents:

[code]

Downloads of GitHub tarballs fail with this error:

[code]

If you copy the curl request of what bazel is doing, you can see why:

[code]

Removing the Authorization header from the request fixes this issue. Switching the `Basic` auth to `bearer` or `token` and providing that directly d

[2019-09-04 21:56] keith commented on #9327
cc @genrym

[2019-09-04 21:57] keith commented on #7770
Related https://github.com/bazelbuild/bazel/issues/9327

[2019-09-04 22:44] keith commented on #9293
FYI it seems like a new feature in 0.29.0 broke github archive downloads in some cases https://github.com/bazelbuild/bazel/issues/9327 I'm not sure if this warrants a revert or not

[2019-09-04 22:48] cgruber commented on #8505
At this point, it seems to work if I disable workers for all three fo AndroidResourceMerger, ManifestMerger, AND AndroidCompiledResourceMerger.  Or disable `--persistent_android_resource_processor` of course.

[2019-09-05 00:41] ob commented on #6018
I'm also interested in trying to get actionable error messages from the build log. Bazel knows what actions failed and what their output was, is there no way to get at that information other than parsing stderr?

[2019-09-05 02:10] alex-xnor opened #9328 "//src/tools/remote:worker does not implement GetTree"
### Description of the problem / feature request:

The remote execution API v2 [specifies a `GetTree` RPC][GetTree]. There is no mention of it being optional, so all implementations should support it. [`//src/tools/remote`] attempts to provide an implementation of the remote execution API. However, it does not implement `GetTree`, so some clients using it fail.

  [GetTree]: https://github.com/baz

[2019-09-05 03:19] jin commented on #9327
cc @aehlig

[2019-09-05 03:20] jin commented on #9323
Can you access either https://mirror.bazel.build/github.com/grpc/grpc/archive/69b6c047bc767b4d80e7af4d00ccb7c45b683dae.tar.gz or https://github.com/grpc/grpc/archive/69b6c047bc767b4d80e7af4d00ccb7c45b683dae.tar.gz?

[2019-09-05 03:27] wang703 commented on #9323
Thank you very much for your reply
I can go to the second site and download it

[2019-09-05 07:29] wang703 commented on #9323
The following error occurred when I build tensorflow serving
Could you tell me how to do ?

ERROR: Skipping 'tensorflow_serving/...': no targets found beneath 'tensorflow_serving/util/net_http/client/testing/tensorflow_serving'
WARNING: Target pattern parsing failed.
ERROR: no targets found beneath 'tensorflow_serving/util/net_http/client/testing/tensorflow_serving'

[2019-09-05 07:36] emlrsua commented on #7313
We've gotten sandboxfs to work, although so far only independently of Bazel.

We have tested the Bazel sandbox feature on linux redhat 7.3 and 7.5, and always get the processwrapper sandbox chosen, not the linux-sandbox that we would like.  Investigation shows that the system command "clone" does not work on our linux test machines.  It appears that certain flags used with clone are not working: C

[2019-09-05 08:08] dslomov commented on #7130
Look, I agree it is unfortunate. The question is, is it a 1.0 blocker? It is not a recent regression - this has always been this way, since very early Bazel releases, and people were able to work around this. If we can fix the underlying issues fast and be confident that the implementation of this fix is rock-solid, I would gladly wait. But it does not look that way at the moment.

[2019-09-05 08:28] dslomov commented on #9327
cc @laurentlb this looks like a release blocker for 0.29 /cc #9293

[2019-09-05 08:51] buchgr commented on #9293
@katre

An important internal project found a serious bug in remote execution where output files would sometimes not get deleted between builds. In this particular instance we found this to lead to zombie test results. That is test cases showing up as failed that no longer exist in the codebase. I have fixed this problem in master for different reasons not understanding the impact of this bug: htt

[2019-09-05 10:03] dslomov commented on #8573
97a8264 is a 1.0 baseline I am going to try. Failing downstream projects:
* TensorFlow: https://github.com/bazelbuild/bazel/issues/7362#issuecomment-527115823
   *  Need fixes from TensorFlow
* rules_foreign_cc: https://github.com/bazelbuild/rules_foreign_cc/pull/309
  *  Needs fix from rules_foreign_cc
* rules_typescript: fix in flight
* rules_nodejs: rules_nodejs/.bazelci/presubmit.yml was chang

[2019-09-05 11:55] meteorcloudy commented on #9316
This no longer happens when we revert to use an old version of buildkite agent. So it should not be a Bazel bug, closing.

[2019-09-05 11:55] #9316 closed

[2019-09-05 12:32] scentini commented on #9303
I couldn't reproduce this locally, but I have an idea of what might've gone wrong. Are you `rules_apple` or some other external rules?

[2019-09-05 12:39] dslomov commented on #8573
Stuck on https://github.com/bazelbuild/continuous-integration/pull/810, will retry the build once that goes in.

[2019-09-05 13:03] ishikhman commented on #7480
I just checked that this is no _exactly_ the case. There are 2 use cases where `remote_local_fallback_strategy` was used:
1) when target is marked as `no-remote` or `no-remote-exec`: [link](https://github.com/bazelbuild/bazel/blob/11a98a51095bfda494ddf7ba69d8ad80309ef63c/src/main/java/com/google/devtools/build/lib/remote/RemoteSpawnRunner.java#L181)
2) when remote execution failed and was caused N

[2019-09-05 13:35] katre commented on #9293
@buchgr Please file a github issue so I can track the reason for the cherrypick.

[2019-09-05 13:36] katre commented on #9327
Do we know what Bazel commit caused this to stop? Does it work with 0.28.1?

[2019-09-05 13:43] katre commented on #9293
There already is an issue: https://github.com/bazelbuild/bazel/issues/8385

[2019-09-05 13:50] genrym commented on #9327
@keith the PR referenced there is not the final implementation, and it was scrapped. The final implementation is pretty different.

Just to clarify, the same configuration works well with bazel `0.28.1`?

[2019-09-05 13:56] dslomov commented on #9327
The original functionality went in in https://github.com/bazelbuild/bazel/commit/c26e3396cb341e173b4be5c780cafac3ec386df5, so should already be present in 0.28.  Does this work with 0.28 for you @keith?

[2019-09-05 14:17] laurentlb commented on #9327
I think c26e3396cb341e173b4be5c780cafac3ec386df5 was released only in 0.29 (it has only the 0.29 tag on GitHub; the baseline of 0.28 was from July 1st, so a few days before).

[2019-09-05 14:29] katre commented on #9327
Is the solution to roll back c26e3396cb341e173b4be5c780cafac3ec386df5, then?

[2019-09-05 14:32] ptychu opened #9333 "env_sets not supported by action_config"
### Description of the problem / feature request:

Adding env_sets to build actions by adding them to [action_config](https://github.com/bazelbuild/bazel/blob/292f90988b667e0eab57e16f0d6ee37a86fd13e5/tools/cpp/cc_toolchain_config_lib.bzl#L461) is not supported as docs suggest. ([cc-toolchain-config-reference](https://docs.bazel.build/versions/master/cc-toolchain-config-reference.html#action-config

[2019-09-05 14:36] dslomov commented on #9327
The rollback might not be that easy... Can we investigate an actual fix?

[2019-09-05 14:59] joybhallaa commented on #9208
Can I work on this issue?

[2019-09-05 15:06] lisaonduty opened #9334 "cquery on "kind source file" broken when using option --nohost_deps"
### Description of the problem:

**Short description:** cquery on source files when using --nohost_deps option, only give output from the package that is used as input.

**Longer description:**
I found a strange behaviour of cquery when I analyzed our own source code.
The background for the analysis was that I wanted to list the source files that are used for different select() statements.
Therefo

[2019-09-05 15:19] katre commented on #9327
I am afraid I don't understand the error. What is wrong with the "Authorization" header that Bazel is generating in the curl command?

[2019-09-05 15:39] dslomov commented on #9327
I can reproduce the problem with 0.29.0 (with Bazel not with curl). I assume some versions of curl remove duplicate `Authorization:` headers and some don't.

[2019-09-05 15:44] dslomov commented on #9327
(meaning one header comes from .netrc and another provided on the command line)

[2019-09-05 16:14] katre commented on #9327
Oh, is curl also reading .netrc? I was not clear why there are two Authentication headers

[2019-09-05 16:24] RichardHabeeb opened #9335 "constraint_value, config_setting, platform undefined in bzl files."
### Description of the problem / feature request:
We cannot write macros using constraint and platform rules because they are not defined for bzl files.

### Feature requests: what underlying problem are you trying to solve with this feature?
It is useful for some embedded projects with many levels of platform inheritance (e.g. arch, microarch, SoC, machine) to want config_settings, constraint_val

[2019-09-05 16:29] katre commented on #9335
You need to refer to native rules via the `native` module in macros, so `native.constraint_setting`, `native.constraint_value`, and `native.platform` should work.

[2019-09-05 16:29] #9335 closed

[2019-09-05 16:41] buchgr opened #9336 "Add a linter for file system accesses"
I propose to add a flag `--lint_fsa` to Bazel that when enabled traces file system accesses in the execution phase. An initial use case is to detect underspecified actions. The flag could emit warnings and/or generate a report that one could use to better understand which files a build depends on that are not tracked by Bazel. In particular, I imagine this tool to be a useful addition to the debug

[2019-09-05 17:01] thomasvl opened #9337 "ProtoInfo created descriptor sets should include the proto file comments"
`ProtoInfo.*_descriptor_sets` appear to be built without the source comments from the proto file. Well done proto generators also relay the comments into the generated source so IDEs that do source indexing and pick them up to provide contextual tooltips/documentation/etc.

While there are way to a developer to invoke bazel with extra args to work around this (`--protocopt=--include_source_info`)

[2019-09-05 17:11] keith commented on #9327
I can confirm this isn't a problem with 0.28.1 for me. If curl is reading the netrc that's happening with the default macOS curl:

[code]

[2019-09-05 18:42] kastiglione commented on #3054
Was just about to create an issue for this. +1 we want this too.

[2019-09-05 20:19] timpeut opened #9339 "LabelList not supported for accessing late bound defaults from Starlark"
I have a late bound default defined in native that I'd like to access from Starlark. Usually this would be exposed to Starlark using the [@SkylarkConfigurationField](https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/analysis/skylark/annotations/SkylarkConfigurationField.java) annotation but this only supports labels and not label lists.

Specifically, I wa

[2019-09-05 20:57] davido commented on #9327
Gerrit users started to report build breakage already, so that we urgently need a fix here. Unfortunately we bumped `.bazelversion` in gerrit repository to 0.29.0.

[2019-09-05 21:12] katre commented on #9327
Sent https://github.com/bazelbuild/bazel/pull/9341 as a rollback of the offending commit, since no one seems to know how to fix it. I can't reproduce, can either @keith or @davido please test and verify?

[2019-09-05 21:20] keith commented on #9327
This would definitely fix the issue, to actually fix this @artem-zinnatullin brought up that the issue is probably bazel passing authorization headers through to redirects, which is also likely a security problem, but some services might be depending on this.

[2019-09-05 21:23] davido commented on #9327
@katre Thanks for reverting the offending commit.

I am able to reproduce the problem on Gerrit repository, stable-3.0 branch:

1. clone gerrit repository recursively:

[code]

2. Add this line to you ~/.netrc file:

[code]

3. Try build gerrit with:

[code]

[2019-09-05 21:24] artem-zinnatullin commented on #9327
We've spent more time with @keith looking at it, it seems that Bazel passes Auth headers along when server issues 3xx redirects even if target host changes (!) and that's why download from GitHub fails — it redirects to AWS S3 with AWS auth headers but Bazel also adds GitHub basic auth header on top and then S3 bails out because multiple auth methods are passed.

**This sounds like a pretty scary

[2019-09-05 21:26] katre commented on #9327
I'm just the release manager: if there are security implications then @dslomov needs to weigh in.

[2019-09-05 21:38] artem-zinnatullin commented on #9327
My 2 cents:

- First: From release perspective, I think reverting `~/.netrc` support and releasing 0.29.1 ***ASAP*** is the right thing to do, this will stop exposing credentials listed in `~/.netrc` to final destination servers like AWS S3 in this case.
- Then:
    - A carefully crafted, tested and reviewed PR needs to be made to stop passing auth headers for redirects when the host changes
    -

[2019-09-05 21:45] katre commented on #9327
That sounds like a reasonable plan.

[2019-09-06 01:40] alex-xnor opened #9342 "--experimental_check_desugar_deps (on by default) breaks Android builds with remote execution"
### Description of the problem / feature request:

When building an `android_binary` using remote execution and without explicitly passing `--noexperimental_check_desugar_deps`, the build will fail with this error:

    singlejar_cc_bin: external/remote_java_tools_linux/java_tools/src/tools/singlejar/singlejar_main.cc:27: Desugar checking not currently supported in Bazel.

### Feature requests: wh

[2019-09-06 06:46] laszlocsomor commented on #9321
@buchgr : thanks for the info! Do you have a repro?

[2019-09-06 06:48] laszlocsomor commented on #6622
Thank you 😂

[2019-09-06 06:54] laszlocsomor commented on #9248
Sounds like `--[no]test_runfile_links` means the same as `--[no]enable_runfiles`, is that correct?

[2019-09-06 07:50] dslomov commented on #9327
Ouch, thanks for taking a look!

Reverting .netrc is not enough: the underlying API - `auth` parameter to [`download`](https://docs.bazel.build/versions/master/skylark/lib/repository_ctx.html#download) and [`download_and_extract`](https://docs.bazel.build/versions/master/skylark/lib/repository_ctx.html#download_and_extract) - is a security vulnerability. Thankfully it only exists since 0.28.

I'll

[2019-09-06 08:29] ulfjack commented on #9336
@laszlocsomor

[2019-09-06 08:49] laszlocsomor commented on #9336
Intriguing. Curious, where do you imagine plugging this in? Would this sit atop the existing VFS tracing (with `--profile` / JSON profile)?

Could you explain that a bit?

[2019-09-06 09:34] buchgr commented on #9336
I was thinking about plugging it into the execution strategies. If `--lint_fsa` is set instead of `gcc ...` we'd run `fstrace gcc ...`.

The biggest problem in remote caching are undeclared inputs. That is, we store outputs under a key that does not fully describe the inputs that went into generating them. If we could detect and report these cases a developer could be better made aware of these po

[2019-09-06 09:48] laszlocsomor commented on #9336
Thanks for explaining!

Bazel already goes to great length to make actions hermetic. I wonder how we breach that, is it by using tools from `/usr/bin`?

[2019-09-06 09:52] buchgr commented on #9336
Yep. I believe actions accessing absolute paths is the main problem.

[2019-09-06 09:53] laszlocsomor commented on #9336
Or tools on the PATH.

[2019-09-06 09:54] laszlocsomor commented on #9336
...meaning `genrule` and shell actions (`ctx.actions.run_shell`)

[2019-09-06 09:54] buchgr commented on #9336
Yep. All of that too.

[2019-09-06 10:59] buchgr commented on #6359
We are currently trying to agree on an API. Here's a proposal similar to @jmillikin-stripe's that we are currently discussing: https://docs.google.com/document/d/10ari9WtTTSv9bqB_UU-oe2gBtaAA7HyQgkpP-RFP80c/edit?disco=AAAADULntWg&ts=5d5eecc1

[2019-09-06 11:01] #9327 closed

[2019-09-06 11:47] buchgr commented on #9248
@laszlocsomor no. `--[no]build_runfile_links` and `--[no]test_runfile_links` combined are the same as `--[no]enable_runfiles`

[2019-09-06 11:51] laszlocsomor commented on #9248
Ah, gotcha. They individually control runfiles link generation in build phase vs. test phase.

[2019-09-06 12:05] dslomov commented on #9293
Please cherry-pick a0e3bb207fe2044120a2555a37162ee1f2b17500 (fix for #9327)

[2019-09-06 12:06] dslomov commented on #8573
Cherry-picking a0e3bb207fe2044120a2555a37162ee1f2b17500 - fix for #9327

[2019-09-06 12:11] dslomov commented on #8573
[code]

[2019-09-06 12:47] laszlocsomor opened #9344 "Windows: connect stdin for "bazel run //foo:test""
### Description of the problem / feature request:

Bazel users use "bazel run" on test rules to debug a test binary (without having to set high test timeout limits) and, more importantly, to support hot-reloading browser-based tests when only data-dependencies change.
(More info in https://github.com/bazelbuild/bazel/pull/8322#issuecomment-526661643 and https://github.com/bazelbuild/bazel/pull/832

[2019-09-06 12:48] ale64bit commented on #9321
Is there a workaround I can use in the meanwhile?

[2019-09-06 13:42] katre commented on #9293
Creating RC2:
[code]

[2019-09-06 13:46] katre commented on #8573
I also cherrypicked 5c02b92c45b5422971b3164685d9edb771367a1b into 0.29.1, is that in 1.0.0?

[2019-09-06 14:06] dslomov commented on #8573
I believe so.

[2019-09-06 14:49] laszlocsomor commented on #9321
@ale64bit : I don't think so.

/cc @hlopko , @oquenchil , @scentini:
Meanwhile I found it's CppCompileActionTemplate unconditionally creating a `.d` output: https://github.com/bazelbuild/bazel/blob/ed68a81f7938067d05fd7525f4aece6db59326b3/src/main/java/com/google/devtools/build/lib/rules/cpp/CppCompileActionTemplate.java#L130-L132

If I comment that out and make `dotdFileArtifact = null`, and comm

[2019-09-06 14:51] fontanf opened #9345 "Library is not re-compiled when only a header is modified"
Hi everyone!

### Description of the problem / feature request:

As indicated in the title, if I only modify a header file, then bazel doesn't re-compile the corresponding library.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

I have the following structure:
[code]

`BUILD`:
[code]

`main.cpp`:
[code]

`lib.hpp`:
[code]

Then, I r

[2019-09-06 14:51] katre commented on #9293
0.29.1RC2 is available: https://releases.bazel.build/0.29.1/rc2/index.html

Waiting for downstream tests: https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1184

[2019-09-06 14:56] #8976 closed

[2019-09-06 15:35] katre commented on #9293
Downstream tests pass! Assuming no further blockers, I should be able to finalize the release on Tuesday, September 10.

[2019-09-06 17:28] yuqli commented on #739
I have the same problem and I have no idea why I don't own ~/.cache/bazel. I ran this command `sudo ./bazel-0.29.0-installer-linux-x86_64.sh --user`. After changing ownership of ~/.cache/bazel things worked.

[2019-09-06 18:03] susinmotion commented on #9143
I'm not able to reproduce this on my laptop.
There's been a recent fix by Alex that lets you know where your JDK is being set, which I think should solve this problem in the next release, so I'm closing even though I can't test it.

[2019-09-06 18:03] #9143 closed

[2019-09-06 18:06] susinmotion commented on #3453
It looks like this is fixed based on the comment above. Please reopen if you are still having issues here.

[2019-09-06 18:06] #3453 closed

[2019-09-06 19:35] abergmeier commented on #7884
Would extending Java rules to also be able to handle Graal a subtask of this or should Graal (for now) be a separate ruleset. And if, should this ruleset then be supported "natively" in Bazel?

[2019-09-06 19:40] perezd commented on #7884
My intuition would be that graalvm should be integrated via toolchains, given the java compiler is designed to be a drop in replacement. However, the native image/AOT side of things should likely be a new ruleset that takes a java_binary as input along with targets for specifying configs. This ruleset should not be natively supported, I would expect it to be something a user could import into thei

[2019-09-06 20:06] clnperez commented on #9263
submitted https://github.com/bazelbuild/bazel/pull/9346 to work around for power

[2019-09-06 22:16] AustinSchuh commented on #9345
Re-run your test with -s to get more details.

My first read is this looks like bazel is re-building only the binary target because there is no library because it only has a header in it.  So that is the correct behavior.

[2019-09-06 23:37] jin commented on #7884
Also see https://github.com/andyscott/rules_graal

[2019-09-07 01:49] yuqli commented on #739
After changing privilege of this `~/.cache/bazel` to user, I later had problem in that I ran into permission issues using bazel in docker. So I had to change the permission again.

[2019-09-07 05:10] fontanf commented on #9345
First run:
[code]

After modifying `lib.hpp`:
[code]

The problem also happens if I add a `lib.cpp` file to the library. The, if `lib.cpp` is modified, the library is re-compiled, but not if only `lib.hpp` is modified

[2019-09-07 10:12] fontanf commented on #9345
Well, I've found the culprit: I had the folder `/home` in my `CPLUS_INCLUDE_PATH`. If I remove it, everything works fine. I really don't understand why though

[2019-09-08 03:35] ohler commented on #4327
I am running into this problem, and in my case, an easy fix (I think) is to change the runfiles manifest file format to use some character other than space as a separator.  I briefly tested this (using TAB as separator) and it seems to be working, but I didn't test in much depth since I wanted to ask here first if such a change would be acceptable.   (The main challenge was bootstrapping Bazel wit

[2019-09-08 07:32] pauldraper commented on #8653
Basically correct. For a long discussion on stateful compilers, see https://groups.google.com/forum/#!msg/bazel-discuss/3iUy5jxS3S0/9HtzLEVIEQAJ

There are two exceptions:

1. Dependency pruning. Native rules have long had this, and it was recently added to Starlark as [`unused_inputs_list`](https://docs.bazel.build/versions/master/skylark/lib/actions.html#run). This allows actions to declare cert

[2019-09-09 02:31] Delostik commented on #9303
@scentini I think there's no external rules...

[2019-09-09 07:26] laszlocsomor commented on #4327
We could use a different character than space, and adjust code that reads manifest files to be backwards-compatible, i.e. check for the new character first, then fall back to splitting on space.

[2019-09-09 07:46] mostynb opened #9348 "bash-completion should not be a hard dependency in the .deb package"
### Description of the problem / feature request:

The bazel .deb package includes a hard dependency on the bash-completion package, which makes it annoying for users who don't want bash-completion features.

I think bash-completion should be moved to a weaker dependency type, preferably Suggests ("This is used to declare that one package may be more useful with one or more others. Using this fiel

[2019-09-09 08:09] scentini commented on #9303
Can you please provide a simple repro?

[2019-09-09 09:11] dslomov commented on #8573
1.0.0rc2 is available: https://releases.bazel.build/1.0.0/rc2/index.html
Downstream projects: https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1183.
Failures:
 * rules_foreign_cc: https://github.com/bazelbuild/rules_foreign_cc/pull/309
 * TensorFlow: https://github.com/bazelbuild/bazel/issues/7362#issuecomment-527115823

[2019-09-09 09:20] laszlocsomor commented on #4327
More things rely on the current manifest format than I anticipated:
- build-runfiles.cc
- runfiles libraries (`@bazel_tools//tools/<lang>/runfiles`)
- Bash runfiles library init code, which is copy-pasted wherever used
- diff_test rule in Skylib: https://github.com/bazelbuild/bazel-skylib/blob/90ea6feaf33e8ef12fdac9981b2efccc6a25c727/rules/diff_test.bzl#L41 character 61, and https://github.com/baz

[2019-09-09 11:07] wimzyLive opened #9350 "typescript “relative imports” are turned into “absolute imports” when building with @bazel/typescript:0.37"
I am not really sure if this is a typescript issue or the way bazel compiles typescript, but in summary the issue is that if I compile a typescript file that contains "relative import" it turns into absolute import when compiled to javascript. I am using ts_library rule.

bootstrapper.ts:
[code]
tsconfig:
[code]
BUILD File:
[code]
compiled file looks like this:
[code]

This is what I get back but

[2019-09-09 11:51] excavador commented on #9080
Any updates?

[2019-09-09 12:51] philwo commented on #7313
@emlrsua It seems like RHEL 7 / CentOS 7 disable user namespaces by default.

I tested with RHEL 7.7 and CentOS 7.6 and got it working like this (no other kernel parameters or anything required):

[code]

Tested successfully as a regular user with

and

I couldn't find older versions of CentOS 7 on Google Cloud. It might be that 7.3 and 7.5 are too old or require additional tweaks to the kernel co

[2019-09-09 12:58] irengrig commented on #9080
Hi @excavador, @meteorcloudy, who is working on this, is on vacation until 27th of September.

I wonder if you also need to ignore files in external repositories for some other use case then for rules_nodejs?

[2019-09-09 13:11] philwo commented on #9261
I cannot reproduce this with a fresh CentOS 7.6 VM:

[code]

My Java:
[code]

What JDK do you have installed? Maybe `java -version` tells us a bit more. 🤔

[2019-09-09 14:30] davido commented on #8573
It seems, that 1.0.0rc2 broke Gerrit (stable-2.14 release):

[code]

This is the place in the code: [1].

All is fine on 0.29.0 release.

[1] https://github.com/GerritCodeReview/gerrit/blob/stable-2.14/tools/bzl/javadoc.bzl#L20-L21

[2019-09-09 16:14] laurentlb opened #9353 "Bazel 1.0.0rc2 broke Gerrit (stable-2.14 release)"
_Originally posted by @davido in https://github.com/bazelbuild/bazel/issues/8573#issuecomment-529503057_:

[2019-09-09 16:17] laurentlb commented on #9353
Did it work with Bazel 0.29 with `--incompatible_disallow_legacy_java_provider`?

[2019-09-09 16:20] #9258 closed

[2019-09-09 17:02] pspeter3 commented on #8653
Yeah, my thought was that we could build this as a worker. Are workers allowed to read/write files that get shared by remote caching? It would be nice to share the .tsbuildinfo across multiple machines.

[2019-09-09 17:04] c-parsons opened #9354 "Test infrastructure for query of Starlark-defined rules and aspects"
We have some gaps in test coverage pertaining to Starlark-defined rules and aspects, namely we do not have tests that verify that `bazel query` operates correctly on them.

For example, we should have a test that verifies, if we that a Starlark rule `my_rule` which attaches a Starlark-defined aspect `my_aspect` along its `deps` attribute, that, for a rule target `//package:x` of `my_rule`:

[code]

[2019-09-09 17:30] iirina commented on #9353
According to https://gerrit-review.googlesource.com/c/gerrit/+/234724 there were some targets that were not built on Bazel's Gerrit CI and this failure wasn't caught when building with `--incompatible_disallow_legacy_java_provider`. @davido added the missing target in https://github.com/bazelbuild/continuous-integration/pull/815.

The next step is migrating `gerrit/tools/bzl/javadoc.bzl` as well.

[2019-09-09 17:41] JLLeitschuh commented on #8607
Sanity check: Does this check that any redirects are HTTPS based as well, or only the declared host is HTTPS based?

In Gradle, we are checking both that the declared host is HTTPS based, and all redirects are HTTPS based as well.
https://github.com/gradle/gradle/pull/10065

[2019-09-09 17:58] #4461 closed

[2019-09-09 17:58] dwtj opened #9355 "A trivial `java_binary` rule with `main_class` but without `srcs` does not run"
### Description of the problem:

A trivial "Hello, World" `java_binary` target doesn't `bazel run`correctly if the `main_class` is set but the `srcs` attribute is not set.

If I understand [the `main_class` attribute's documentation](https://docs.bazel.build/versions/master/be/java.html#java_binary.main_class) correctly, declaring a `java_binary` target with just a `main_class` and without `srcs`

[2019-09-09 18:03] davido commented on #9353
@laurentlb @iirina Thanks you for helping out with the migration. The fix is here: [1].

* [1] https://gerrit-review.googlesource.com/c/gerrit/+/236272

[2019-09-09 18:04] mason-bially opened #9356 "Windows DLL naming conflicts"
### Description of the problem / feature request:

Having a `cc_binary` rule that outputs a dll and a `cc_library` rule of a similar (but not exact same) name causes a difficult to understand error.

### Feature requests: what underlying problem are you trying to solve with this feature?

currently my strategy is to use various shared objects (of different platforms) wrapped in a common `cc_librar

[2019-09-09 18:36] ohler commented on #4327
Thanks for working on this!  That compatibility feature of leaving manifest entries without spaces in the paths unchanged seems like the easiest way to get Bazel bootstrapping to work (when I was testing, I got the impression that, during bootstrapping, Bazel produces manifests with one version and then reads them with another; but I could be mistaken).

An alternative approach that is also compat

[2019-09-09 19:26] davido commented on #4221
Gerrit Code Review is affected by this issue, see this CL: [1]

Before the migration the code was:

[code]

After the migration I have to construct depset from list type:

[code]

[1] https://gerrit-review.googlesource.com/c/gerrit/+/236272

[2019-09-09 22:37] chronal-xnor opened #9357 "Crash with configuration transition when .so in deps"
### Description of the problem:

When using a configuration transition with a C++ build rule, if there is a `.so` file in the transitive deps of the transitioned target, Bazel crashes with the following stack trace:

<details>
<summary>Stack trace</summary>
<pre>
Internal error thrown during build. Printing stack trace: java.lang.RuntimeException: Unrecoverable error while evaluating node '//:foo-

[2019-09-10 01:00] nkoroste opened #9358 "Error in Bash completion"
### Description of the problem / feature request:

After adding:
source /Users/n.korostelev/.bazel/bin/bazel-complete.bash

And trying to use `bazel bui<tab><tab>` I get the following output
[code]

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

source /Users/n.korostelev/.bazel/bin/bazel-complete.bash
bazel bui<tab><tab>

### What

[2019-09-10 02:46] rdeushane opened #9359 "Ability to apply compiler flags to certain directories, without using .bazelrc"
### Description of the problem / feature request:
Ability to selectively apply flags when compiling sources located in certain directories;

I would like to use stricter warning flags during compilation, but part of my code base is externally pulled via `http_archive` or sub-modules and I have little control over it.

### Feature requests: what underlying problem are you trying to solve with this

[2019-09-10 04:35] powderluv commented on #8833
you may still hit this issue: https://github.com/bazelbuild/bazel/issues/7135 but workaround suggested there seems to work

[2019-09-10 05:40] davido commented on #9353
The fix was merged. This issue can be closed.

[2019-09-10 08:37] Kailiangdong opened #9360 "Change in WORKSPACE not function"
Hi.Execuse me. I am a fresh man of bazel. I'd like to use bazel to build somethings in docker.  It is written by others but I need to change a little in WORKSPACE.  But even I change the url in WORKSPACE, during building , it will use no change WORKSPACE, everything return to default.
Can anyone give me some advice? Thank you very much.

[2019-09-10 09:10] #9360 closed

[2019-09-10 10:57] dslomov commented on #8573
Well, yes #7598 is a breaking change in 1.0 (marked as such). Use `j[JavaInfo].transitive_deps` instead (per  [backwards compatibility policy](https://docs.bazel.build/versions/master/backward-compatibility.html) and [Updating Bazel](https://docs.bazel.build/versions/master/updating-bazel.html) guidance.

[2019-09-10 11:04] #9353 closed

[2019-09-10 13:24] alexeagle commented on #7026
Is anyone working to roll this flag forward again?

In node, it's common to run Bazel underneath some other workflow tool, and these can set a different environment every time (yarn sets `$PATH` with a new temp directory for each run). Users will observe non-incremental builds until they discover the need for this flag.

[2019-09-10 13:37] katre commented on #9293
I am finalizing this release today.

[2019-09-10 14:01] katre commented on #9293
Release is available at https://github.com/bazelbuild/bazel/releases/tag/0.29.1

@petemounce, @excitoon, and @vbatts, please update your packages.

[2019-09-10 14:29] BrunoChevalier opened #9362 "channel close should not throw a RuntimeException"
### Description of the problem / feature request:

We are seeing the following error:
[code]
The connection to our remote cache has been closed and we are getting this RuntimeException.

### Feature requests: what underlying problem are you trying to solve with this feature?

Reliable remote cache

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example i

[2019-09-10 14:46] laszlocsomor commented on #4327
Thanks for the suggestions!

Interesting idea!
- Pro: consistency, the first space on the line is always the delimiter.
- Con: must replace space with special character on every manifest line when writing the manifest, and every time we look up paths in the manifest.

Current PR's approach is using the special delimiter only if the link path has space:
- Pro: no path escaping necessary
- Con: more

[2019-09-10 15:15] vbatts commented on #9293
fedora and centos build: https://copr.fedorainfracloud.org/coprs/build/1031249

[2019-09-10 15:16] laurentlb opened #9363 "ctx.info_file is not documented"
In a rule implementation, `ctx.info_file` exists, but it's not documented anywhere.

[2019-09-10 15:17] laurentlb commented on #9363
Also, `ctx.version_file`.

[2019-09-10 17:00] nlopezgi opened #9364 "Error messaging when BUILD file not present at top level directory is unclear"
### Description of the problem / feature request:

`go_repository` now reads a configuration file, which, by default is WORKSPACE in the main workspace.
The implementation of this feature is such that the error messaging when the file is not present is as follows:
[code]
This error message is already causing issues for rules_docker customers, as now this BUILD file is needed in all projects that d

[2019-09-10 17:03] ahyangyi opened #9365 "The tutorial "Configuring C++ toolchains" uses deprecated mechanisms"
### Description of the problem / feature request:

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

### What operating system are you running Bazel on?

### What's the output of `bazel info release`?

### If `bazel info release` returns "development version" or "(@non-git)", tell us how you built Bazel.

###  Have you found anything r

[2019-09-10 17:07] ahyangyi commented on #9365
Well, actually removing the `cpu = ...` line in `cc_toolchain` (but **not** the `target_cpu = ...` line) fixes the issue.

Anyway, this is a bug report for the documentation.

[2019-09-10 17:34] nkoroste commented on #9116
Looks like I'm still getting this issue on 0.29.0:

[code]

[2019-09-10 17:41] EliRibble commented on #9213
Is there a workaround for this issue? I've tried `bazel clean --expunge` and `bazel sync --configure` but I still get the same error afterwards.

[2019-09-10 18:49] qaiffluke opened #9366 "Alarming-looking log output when worker process dies"
### Description of the problem:

### What operating system are you running Bazel on?

### What's the output of `bazel info release`?

### What's the output of `git remote get-url origin ; git rev-parse master ; git rev-parse HEAD` ?

###  Have you found anything relevant by searching the web?

### Any other information, logs, or outputs that you want to share?

[code]

[code]

Thank you!

[2019-09-10 20:44] iirina commented on #9116
The fix is landing in bazel 1.0.

[2019-09-10 21:14] ccontavalli-j commented on #8802
BTW, stumbled on the same issue. I am creating a custom rule using the cc toolchain.

The rule needs to invoke the `ld` executable selected by the toolchain mechanics directly. ld_executable is deprecated, but could not find any ACTION_NAME that would provide the path of ld directly.

I also tried to achieve the same result by invoking `gcc` or `clang` with linking flags, but did not find a combin

[2019-09-10 22:07] powderluv commented on #8833
Here is a 0.29 binary built with ubuntu 18 aarch64 and JDK8
https://github.com/powderluv/bazel-bin/blob/master/bazel-aarch64-29

[2019-09-10 22:10] powderluv commented on #7135
I think the issue with PythonZipper issue only happens with Qemu or docker because Zip seems to be referring to /proc/self/exe or something like that. The same works ok when built with AWS F1.

I have a binary at https://github.com/powderluv/bazel-bin/blob/master/bazel-aarch64-29 if anyone wants it (Ubuntu 18.04 aarch64 JDK8)

[2019-09-10 22:12] sgammon opened #9368 "SHA512 dependency checking"
### Description of the problem / feature request:

Some news outlets are reporting that SHA256 was broken some time ago. It may be time to lay the piping to support SHA512 for dependency verification.

### Feature requests: what underlying problem are you trying to solve with this feature?

I'm requesting an upgrade to SHA512, or at least support for SHA512 in addition to SHA256. For example:

htt

[2019-09-11 01:48] georgewu2007 commented on #6450
So what is correct command to generate the coverage output?

[2019-09-11 06:33] emlrsua commented on #7313
When you ran this test, did you run it in a shell with root privileges?  Or was that unnecessary?

[2019-09-11 07:28] irengrig commented on #9258
rules_foreign_cc are now built in Bazel@HEAD+Downstream successfully.

[2019-09-11 07:52] philwo commented on #7313
@emlrsua I ran it as a normal user. Running with “sudo” didn’t seem to change things.

[2019-09-11 07:55] irengrig commented on #9345
P1 because of potential correctness problem.

[2019-09-11 08:04] irengrig commented on #9350
It looks like an issue to https://github.com/bazelbuild/rules_typescript.
Please file an issue to them.

/cc @alexeagle @gregmagolan

[2019-09-11 08:20] irengrig commented on #9362
/cc @buchgr  P1?

[2019-09-11 08:37] irengrig commented on #9366
Hi @qaiffluke , thank you for reporting the issue!
I wanted to clarify, if this issue is persistent, or you can get the build to work after some repeating attempts?

[2019-09-11 08:54] jtattermusch opened #9369 "cannot find a NameResolver for grpcs://remotebuildexecution.googleapis.com on Windows (bazel 0.29.1)"
### Description of the problem / feature request:

After migrating to bazel 0.29.1 on windows, we're getting this error:

[code]
I think the problem is new in 0.29.1 because on 0.29 we didn't have that problem (but there was another bazel bug that forces upgrade to 0.29.1).

### Feature requests: what underlying problem are you trying to solve with this feature?

we're trying to migrate bazel RBE