[2021-03-19 18:49] limdor commented on #13220
@meteorcloudy I created this PR to extend the documentation https://github.com/bazelbuild/bazel/pull/13247

Could you elaborate a bit more on what is the problem? Is it in the rules_cc or in Bazel itself? I would not expect Bazel the need to know about the compiler. What would happen if I want to add a custom C++ compiler? Would this not be possible or it would only be possible without using the c

[2021-03-20 02:07] philsc commented on #13099
That would certainly be nice to cherry-pick it. It's possible that it'll require some cherry-picking that folks aren't happy with. I'm not sure.
At the very least it would require a cherry-pick of 9868455f017ddf00eaef02cb52551b45212d4136.

[2021-03-20 03:51] nothorian opened #13249 "Documentation issue: Starlark language says that lambdas aren't supported"
Documentation URL: https://docs.bazel.build/versions/master/skylark/language.html

In the "Differences with Python" section:
"lambda and nested functions."

But lambdas are now supported: https://github.com/google/skylark/blob/master/doc/spec.md#lambda-expressions

[2021-03-20 03:57] duarten opened #13250 "Bazel crashes when specifying target_compatible_with to rust_binary"
### Description of the problem / feature request:

When using `rules_rust` and specifying `target_compatible_with`, Bazel crashes:

[code]

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

My WORKSPACE file is:

[code]

And my target is:

[code]

### What operating system are you running Bazel on?

macOS

### What's the output of `baz

[2021-03-20 10:55] davido commented on #7849
Was it intentional that on Bazel@HEAD (ec7ecd74705ceadc064fd21aea6c04b0a0f749e4) this option cannot be unflipped any more?

Example from Gerrit@HEAD (ca87b681a0854801cbcdc67db4da3e940c7f1026)

[code]

Also the description of this issue seems to be staled:

[code]

This option wasn't flipped in 4.1.0rc1. And if I try to flip it manually, build doesn't seem to work any more:

[code]

[2021-03-20 14:27] phlax commented on #7157
it would be great if this was fixed (and i guess the bug reopened)

we would like to make warnings into errors to prevent other proto generation issues, but i think these warnings make that not possible

[2021-03-20 18:19] MaskRay opened #13251 "Replace Clang's legacy -gcc-toolchain option with --gcc-toolchain="
`-gcc-toolchain path` is an uncommon separate from driver option which has been replaced by `--gcc-toolchain=path` (available in Clang since 2013-06). The following occurrences may need changes:

[code]

[2021-03-20 18:29] MaskRay opened #13252 "Replace -fuse-ld=/path/to/ld with -fuse-ld={gold,lld,bfd} --ld-path=/path/to/ld for clang>=12.0.0"
### Description of the problem / feature request:

In Clang, `-fuse-ld=/path/to/ld` was abused to detect the linker flavor (by looking at known infixes like "lld" - which is brittle) and provide linker option suggestions (clang driver needs to know the linker flavor to provide different options in some cases). In GCC, only `-fuse-ld={bfd,lld,gold}` are supported (no `-fuse-ld=/path/to/ld`).

Clang

[2021-03-20 23:56] philsc commented on #13250
Oh dear. That's no good. I'll take a look.

[2021-03-21 00:25] philsc commented on #13250
Okay, I figured it out. The problem is that `@rules_rust//rust/platform:linux` is a `config_setting()` that wraps the `@platforms//os:linux` constraint.

AFAICT using the `@platforms//os:linux` constraint directly should work for you. `target_compatible_with` doesn't support config settings.

That being said, that crash should instead convey a useful error message. I'll try to get that fixed soon.

[2021-03-21 00:26] philsc commented on #13250
@gregestren FYI.

[2021-03-21 06:48] duarten commented on #13250
Awesome, thanks for looking into this!

[2021-03-21 07:52] kekxv opened #13253 "how get absolute path in .bzl?"
### Description of the problem / feature request:

### Feature requests: what underlying problem are you trying to solve with this feature?

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

### What operating system are you running Bazel on?

### What's the output of `bazel info release`?

###  Have you found anything relevant by sear

[2021-03-21 16:06] comius commented on #13099
I released java_tools 10.6, please cherrypick:
- [ ]  d34cc2b5a622e4c9c141383e2d0671b77889c50a

[2021-03-21 17:45] guibou commented on #11858
@mai93 Thank you for your workaround. Is there a way to "copy" the executable flag of the source file, instead of setting it unconditionally at `True` as your example does?

[2021-03-21 18:06] comius commented on #7849
No. @katre the error seems related to your recent commits.

Fixed it.

[2021-03-21 19:39] philsc commented on #13250
Okay, this one took me a bit to untangle.  It turns out the original patch discarded `RuleContext` errors. I submitted a patch that should fix that ( #13254). AFAICT it still passes all the tests.

[2021-03-21 21:11] guibou commented on #11858
I've found how to copy the executable bit, see https://github.com/tweag/rules_nixpkgs/pull/161/files

[2021-03-22 09:25] meteorcloudy commented on #13099
@brentleyjones I'm adding CI support to build for Apple Silicon, see https://github.com/bazelbuild/continuous-integration/pull/1123. Although we currently don't have Apple Silicon machine on CI, we can still do cross compile for the platform.

[2021-03-22 12:26] katre commented on #7849
I'll investigate the error.  @comius, should we add tests to cover this use-case?

[2021-03-22 14:08] #13250 closed

[2021-03-22 15:19] meteorcloudy commented on #13220
So with gcc style compilers, Bazel depends on the compiler to output a dependency file that declares what actual header files are used for a compiling action, see [this](https://stackoverflow.com/questions/1049189/how-to-know-which-headers-are-included-without-looking-at-the-preprocessed-code).

But this feature is not available in MSVC. Instead, MSVC provides this information by printing out the

[2021-03-22 16:12] katre commented on #13243
Looking into this further today, this may be a bigger problem than I thought. Continuing to dig.

[2021-03-22 19:04] gregestren commented on #12559
Sorry about the IntelliJ problems. I haven't had any issues on Linux, so hopefully that approach works.

The core issue, I believe, is there are different kinds of data typing in Bazel. When you set a value to `None`, you're setting it to a type in the Starlark language. Transitions ultimately set that to pure Java types. For example, `copt` is [ultimately](https://github.com/bazelbuild/bazel/blob

[2021-03-22 19:34] katre commented on #7849
Yes, this is related to my changes to split ToolchainInfo out of JavaToolchainProvider and JavaRuntimeInfo's class hierarchy.

The good news is, I already have a change ready to fix this (see https://github.com/katre/bazel/tree/java-runtime-info).

The bad news is, I keep having to delay submitting it because I find more incorrect builds inside google.

I should be able to submit this week, howeve

[2021-03-22 22:29] limdor commented on #13220
This java code is part of Bazel, but this is part of rules cpp. Is this part of the code that in the long term should go in rules_cc in starlark? If that is the case, everything start making sense now.

Should I create another ticket for the documentation or what would be your proposal? Seems that it is not obvious where to document it.

[2021-03-22 22:41] alexeagle commented on #13099
rules_nodejs is waiting on a cherry-pick to cut our next version:

[ ] c9e2be5

[2021-03-23 07:16] cushon commented on #13138
That's the result of [JEP 396: Strongly Encapsulate JDK Internals by Default](https://openjdk.java.net/jeps/396)

That specific failure can be worked around with the JVM flag `--add-exports=jdk.compiler/com.sun.tools.javac.util=ALL-UNNAMED`.

We'll likely need to start passing similar flags to other tools that use internal javac APIs (including JavaBuilder).

FWIW `DumpPlatformClassPath` has alway

[2021-03-23 08:15] eustas commented on #13138
Oh, I see. I was confused by `--add-exports=jdk.compiler/com.sun.tools.javac.platform=ALL-UNNAMED` already set by Bazel, and thought it was enough. Thanks.

[2021-03-23 08:36] meteorcloudy commented on #13220
Yes, you're right. The reason it's in Java is because C++ rules are still native rules. In the long term, they will be starlarkified.

Yeah, maybe adding it here: https://docs.bazel.build/versions/master/tutorial/cc-toolchain-config.html ?

[2021-03-23 12:21] axeluhlig commented on #8250
Hi @coeuvre any update on this issue? It's blocking us from using builds without the Bytes.

[2021-03-23 13:19] oquenchil commented on #4005
Is a new rule absolutely necessary?

Support for clang modules is in the Bazel [codebase](https://cs.opensource.google/bazel/bazel/+/master:src/main/java/com/google/devtools/build/lib/rules/cpp/CcCompilationHelper.java), just not wired up, only for the internal version. For clang modules we don't need a new rule and we automatically generate maps. I was hoping that something similar could be done

[2021-03-23 13:24] anuragverma77 opened #13259 "Generating C++ proto_library"
### Description of the problem / feature request:
I am getting an error while running a run_demo.sh file provided in (https://github.com/google-research/google-research/tree/master/automl_zero) and followed the same steps as mentioned.

The error I am getting is in **Generating C++ proto_library.**
The error looks like this:

[361 / 443] 2 actions running
    @com_google_protobuf//:protobuf; 3s pr

[2021-03-23 18:04] #13243 closed

[2021-03-23 19:47] arxanas commented on #4248
In our case, neither `$HOME` nor `--output_user_root` seemed to be sufficient to ensure that the `.cache` directory wasn't populated with some items.

We fixed it by setting the JVM user home. That is, we added the following option to `.bazelrc` (dynamically generated by a wrapper script):

[code]

Here is their analysis:

[2021-03-23 19:55] pabloVecchio opened #13261 "Setting up VC environment variables failed (WINDOWSSDKDIR) - bazel 4.0.0"
### Description of the problem / feature request:

Trying to follow : https://docs.bazel.build/versions/master/tutorial/java.html
can't build 'Bazel Tutorial: Build a Java Project' -> bazel build //:ProjectRunner

### What operating system are you running Bazel on?

Windows 10 Pro - Version 1909

### What's the output of `bazel info release`?

release 4.0.0

###  Have you found anything relevant b

[2021-03-23 20:00] rnburn commented on #4005
The concept of clang's module maps, where you express how header files are mapped to modules, really doesn't exist with C++20 modules. C++20 does have header unit modules, but they are explicit. For example, if I might write a module like this
[code]
What clang does where it implicitly translates #includes to use modules isn't part of c++20 modules and I don't know that you would gain much by tryi

[2021-03-23 20:04] rnburn commented on #4005
You could try to reuse cc_library, but I think it's cleaner to add a new rule. For each module, there is one source fille with `export module <name>` that generates the compiled module artifact. If you were to add attributes to cc_library to express which modules get generated and which source files generate those modules, I think things would get messy.

[2021-03-23 20:31] philsc commented on #13047
AFAICT this is also the reason that we can't specify constraints in the `compatbility.all_off()` helper that @trybka is working on: https://github.com/trybka/bazel-skylib/pull/1

I.e. `selects.config_setting_group()` is implemented using aliases.

[2021-03-23 22:27] gregestren commented on #13047
I'd love to see this get solved. It's such a frustrating itch.

It seems  2. is the winning approach:

- it solves the problem
- it's something we want to do anyway, and makes Bazel (marginally) more efficient

@katre would having `platform` rules auto-set to the null configuration be sufficient? Like, would that automatically propagate to the `constraint_values` the platforms reference?

Then we'

[2021-03-23 22:29] gregestren commented on #13047
Oh, I can think of approach 4 the classic "quick hack, probably works, terribly unrobust":

If an `alias` has a `select()`, perform platform resolution on it. Else don't. Then either assume or find some way to enforce that `aliases` on `constraint_value`s don't use `select(), which today's instances don't.

[2021-03-23 22:34] katre commented on #13047
Oh, one more potential solution I just thought of: for an alias, resolve the target (not the configured target) pointed to by `actual`, and check to see if that rule supports toolchain resolution or not. Apply this recursively for alias chains.

We're going to need to load that target anyway when we start handling the alias's dependencies, so it's a reordering, not a new skyframe call.

[2021-03-23 22:39] katre commented on #13047
And, replying to @gregestren: yes, if the platform rules had no configuration, that would propagate to dependencies. I think we'd need to finish a few cleanups first, though, because there are still uses of [platform auto-configuration](https://cs.opensource.google/bazel/bazel/+/master:src/main/java/com/google/devtools/build/lib/rules/platform/Platform.java;drc=24d086446f74606819dc53c3a436caa056ff

[2021-03-23 23:16] gregestren commented on #13019
@philsc - while I agree with our conclusion about not relying on string-based heuristics, I don't remember the specific problem scenarios we identified to reach that conclusion. Do you?

Could there be some way to re-use https://github.com/bazelbuild/bazel/blob/acdf1d3d72aad1c804f001672e0bb52f5456fee7/src/main/java/com/google/devtools/build/lib/buildtool/AnalysisPhaseRunner.java#L84 just on the pr

[2021-03-24 00:10] ulfjack commented on #13099
It would be good to cherry-pick 9a5cd854e0613f91d52075973e2454b1e009e1ef, which fixes an issue with remote execution metadata.

[2021-03-24 00:29] gregestren commented on #6526
Update:

Seeing promising results on various sample builds (including real builds, not just toys) with Java compilation. Complications to take into account:

- .jdeps files <sup>1</sup> <sup>2</sup> <sup>3</sup> are manifests of a Java target's deps' jars. Since I'm messing with their paths, they need special processing to not break.
- Have to take care when the same input appears in different con

[2021-03-24 00:32] keith commented on #6526
This was the use case we're the most interested in here, could version or something be used instead as the inputs?

[2021-03-24 00:40] keith commented on #10303
Sorry, this issue was probably a bit too prescriptive based on the recommendation from the linked PR

I tried your recommendation here, it's pretty nasty since we don't actually create the libraries ourselves, we just forward the CcInfo so instead of doing this https://github.com/bazelbuild/rules_swift/blob/2a20daa7ce087195b3fe0dbde78f7c5209526946/swift/internal/linking.bzl#L235

We have to do som

[2021-03-24 02:25] coeuvre commented on #8250
Still working on #12665. Maybe I can find time to work on this in Q2.

[2021-03-24 05:58] Bencodes commented on #13099
It would be great to make sure the commits for https://github.com/bazelbuild/bazel/issues/13144 are cherry picked into this release.
- Turbine fix https://github.com/bazelbuild/bazel/commit/57672aca01b3be895382c952b550c9f8edf6c9f2
- `java_rules` release with the above fix https://github.com/bazelbuild/bazel/commit/c0ac45cd7a6834bc51ebd8df9df7592755739e43

[2021-03-24 06:05] jlaxson opened #13262 "4.1.0rc1 regression: Extraneous cache misses with --remote_download_toplevel"
### Description of the problem / feature request:

When building with --remote_download_toplevel, some actions that are definitely in the cache are missed.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[code]

The second build should have 100% hit rate, but does not.  At the end of this is a build log diff [1] showing a rebuild wh

[2021-03-24 06:12] guw commented on #6526
To echo that - our need for caching is being able to produce the Java related caches on Linux and ability to consume them on Macs. Both Linux and Mac JDKs produce the same cross-platform output files and should be treated as one configuration by Bazel.

[2021-03-24 06:38] comius commented on #13099
java_tools 11.2 are unfortunately not compatible with Bazel 4.x.x

[2021-03-24 08:12] #13244 closed

[2021-03-24 08:14] oquenchil commented on #13227
@katre Is this the problem you fixed recently?

[2021-03-24 11:45] axeluhlig commented on #8250
Cool, thanks for the update!

[2021-03-24 13:50] katre commented on #13227
What version of Bazel is this?

@yurivict: You can provide more debugging information by re-running the Bazel invocation with the flag `--toolchain_resolution_debug=@bazel_tools//tools/cpp:toolchain_type` with Bazel built from HEAD. With an older Bazel, the flag is `--toolchain_resolution_debug` (with no argument) and produces much more data. In either case, please save the output as a log and att

[2021-03-24 17:21] jlaxson commented on #13262
A git bisect points to this commit: ceaac966a7b977461b69ce9501df6a467f4a93b2 (release-4.1.0rc1) and b6e3ba8abf033c6d3a318be8484021eff6a40dde (master) from #12820 cc @coeuvre

[2021-03-24 17:33] katre commented on #13047
Greg and I discussed this with the team further this morning. Here are our takeaways:

1. Forbidding the use of `alias` in creating constraints and platforms continues to be unreasonable.
2. My idea to have `alias` check the target being pointed to to determine whether to perform toolchain resolution is flawed, because we'd need to resolve the aliased target, which would require full analysis incl

[2021-03-24 18:21] mchinen opened #13264 "Android ndk toolchain building with -c opt incorrectly adds debug info"
### Description of the problem / feature request:

When building using the android ndk toolchain `-c opt` adds debugging information, which makes the binary size very large.  In particular it adds the '-g' flag.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

1. Clone the bazel examples repo at https://github.com/bazelbuild/examples

[2021-03-24 20:45] ahumesky commented on #11956
The reason that changing ScopedTemporaryDirectory.java and rerunning the build didn't rebuild the tool is that these tools are prebuilt and downloaded to save on bazel's binary size. To see changes here you build the tools archive and tell bazel to use that, e.g.:

[code]

[2021-03-24 23:05] KinanBab commented on #11082
I ran into this with bazel 4.0.0, using `cc_binary` and `linkshared = True`

However, one quick fix seems to be to provide the full file name (with extension) as the name of the rule. So instead of using `name = "mylib"` which ends up generating `libmylib.so`, I use `name = "libmylib.dylib"` and it generates `libmylib.dylib`!

For my purposes this seem to work fine (I am doing something with JNI s

[2021-03-24 23:25] philsc commented on #13099
I'd also appreciate 706f5acd02363e48076dc97e37613fd968932d03 to make it in if possible.

[2021-03-25 01:04] Bencodes commented on #13099
@comius Is it possible to cut a `java_tools` release with the turbine patches?

[2021-03-25 02:16] oakad commented on #12889
Also, #13191
Layout change appears to break bazel outright

[2021-03-25 09:27] #12987 closed

[2021-03-25 09:35] coeuvre commented on #13262
Thanks for reporting! I can reproduce this bug locally. Just need more time to investigate the root cause.

[2021-03-25 12:41] pete-gillin-privitar commented on #4157
Given that the [best practices doc](https://docs.bazel.build/versions/master/bazel-and-java.html#directory-structure) says to prefer Maven directory structure, I think the FR should include making anything with `src/main/java` in its path visible to the corresponding `src/test/java` package.

(In the meantime, if there's a way to make this easier with a starlark macro, I'd love to know...)

[2021-03-25 14:27] philwo opened #13267 "Consider merging repoEnv and repoEnvFromOptions"
From a recent code review (cl/364984586):

[2021-03-25 15:46] brentleyjones commented on #8508
We are still hitting this with 4.0.0, with Google RBE gRPC remote cache:
[code]

[2021-03-25 15:49] meisterT commented on #8508
@coeuvre is there a fix that we can cherrypick in 4.1?

[2021-03-25 16:03] nresare opened #13268 "Unpacking certain tar archives fail on case insensitive filesystems"
### Description of the problem:

Certain tar archives will currently fail to unpack with trunk bazel on popular systems with case insensitive file systems, instead failing with an `IOException Permission denied`. To the casual user, this problem is a bit tricky to get to the bottom of as the failure happens early in bazel execution and the `tar.gz` referenced unpacks successfully using the `tar` u

[2021-03-25 16:05] gregestren commented on #6526
I get what you're saying from a user perspective. From an implementation perspective that's a different focus. There are three implementation themes at play here:

- Improve how output paths (`bazel-out/x86-fastbuid/...`) are formed, so changing `x86` or `fastbuild` doesn't by itself invalidate caches. That's what I'm focusing on now.
- Verify the output consistency of cross-platform JDKs. I know

[2021-03-25 16:14] keith commented on #6526
For reference the Xcode selection logic is an interesting example of how the actual inputs are abstracted away from some identifier, in this case the version number, which allows different versions potentially to be treated the same, and at the very least abstracts the direct inputs away from the inputs as bazel sees it.

[2021-03-25 23:16] chancila commented on #10904
+1 for this change, it would be cleaner than having to use some wrapper to basically to do the same thing via try-import

[2021-03-26 02:14] jeffzoch commented on #7448
Do we have any plans to allow /bin/ps? It seems a strange omission

[2021-03-26 03:11] jlaxson commented on #13099
Possible to get e3b7e17b05f13ff183a4d7efec8ec797f3f5eaa3?

[2021-03-26 09:50] elftech commented on #11187
Facing the same issue. Does anyone have a solution or workaround?

[2021-03-26 11:36] cvigo commented on #8578
Another example of this limitation: [OpenAPI generator](https://github.com/OpenAPITools/openapi-generator-bazel), that generates source code from API definition (swagger) files. If you want the generated source files to be go-formatted, you must set the environment variable `GO_POST_PROCESS_FILE="/usr/local/bin/gofmt -w"`

I tried

1. `GO_POST_PROCESS_FILE="/usr/local/bin/gofmt -w" bazel build ...

[2021-03-26 22:01] igorgatis commented on #7084
I'm facing the same issue. @ob any recommendations?

[2021-03-26 22:57] Buzz-Lightyear opened #13269 "An `--execution-log-level=` flag that determines the level of execution logging"
### Description of the problem / feature request:

I'd like an `--execution-log-level=` flag that determines the level of execution logging we'd like. Currently there's a single `--execution_log_binary_file` which is pretty large and contains more info than we might need at times.

### Feature requests: what underlying problem are you trying to solve with this feature?

Given the option to set the

[2021-03-27 09:08] davido commented on #13138
`ABSOLUTE_JAVABASE` was removed in Bazel@HEAD (in 2a07fedf87eae77ce53bc6f0807cc41d1ac743ab). So that there is no currently an easy way to support unsupported JDK versions in future Bazel releases, starting from Bazel 5.x.

[2021-03-27 09:24] davido opened #13270 "Java 16 toolchain support"
### Description of the problem / feature request:

Support for java 16 to be used with toolchain resolution for java rules, e.g. with this section in `.bazelrc`:

[code]

This build command should fetch remote JDK 16 and produce major java version 16:

[code]

### Feature requests: what underlying problem are you trying to solve with this feature?

Build Java code and produce major java version 16

[2021-03-27 10:02] comius commented on #13138
The way to use an unsupported JDK has changed. Adding `local_jdk_repository` to WORKSPACE, `default_java_toolchain` targets and registering it in the WORKSPACE, should not be considered too complex in my opinion. Documentation is here
https://docs.bazel.build/versions/master/bazel-and-java.html#configuring-additional-execution-toolchains
https://docs.bazel.build/versions/master/bazel-and-java.html

[2021-03-27 12:42] davido commented on #13138
@comius

Thanks for clarifying. I will try to put together a change to add support for JDK 16 using `remote_java_repository` and `default_java_toolchain`.

@cushon

There is another issue with exporting of `jdk.compiler/com.sun.tools.javac.api`, so that this diff in Bazel@HEAD fixed it:

[code]

[2021-03-27 12:54] davido commented on #13270
As the workaround, I'm trying to add support for building with JDK16 using `remote_java_repository` and `default_java_toolchain` for Gerrit Code Review: [1].

Unfortunately it doesn't work yet:

[code]

Even though, the external OpenJDK was fetched as expected:

[code]

@comius Any isea, what I am missing?

[1] https://gerrit-review.googlesource.com/c/gerrit/+/301362

[2021-03-27 17:17] ob commented on #7084
I ended up debugging this by a combination of logging in the remote cache and sniffing the protocol... definitively not ideal.

[2021-03-27 17:29] oehme opened #13271 "FilesystemValueChecker should use a shared Thread pool"
I'm writing tests for a system that interacts with Bazel and I'm trying to get the test times as low as possible. I got to a minimum of 30ms for a no-op Bazel invocation. About 20ms are spent in `handleDiffs` (even when nothing has changed). During profiling I noticed that [FilesystemValueChecker creates new threads on every build](https://github.com/bazelbuild/bazel/blob/1e7e51978a4872a28b8354a73

[2021-03-27 19:24] eric-skydio commented on #12067
This is hitting us too, and also seems to be resulting in actual `.tmp` files being created in `bazel-bin/` for __every__ output from the offending action, even those not in the conflicting directory. Interestingly, it appears that this _might_ only be happening for files created _after_ the first conflicting file.

This is a build correctness issue for us, since the directory artifact is a declar

[2021-03-27 20:50] oehme opened #13272 "PersistentStringIndexer should keep the journal if it is small"
As mentioned in #13271, I'm writing tests for a system that integrates with Bazel and I'm trying to make my tests as fast as possible. I've noticed that saving the filename index takes a considerable amount of time for small changes. I dug into the code and found that the action map [keeps its journal](https://github.com/bazelbuild/bazel/blob/8346ea4cfdd9fbd170d51a528fee26f912dad2d5/src/main/java/

[2021-03-27 23:18] sschwebach commented on #12067
Doing a bit more digging the definition of _after_ seems to be based on the path of the output files (alphabetically by the looks of it). This means if `some/dir/some_file.txt` is the first conflicting file, `test_file.txt` will result in a `.tmp` file being created (and placed in `bazel-bin`) while the file `another_file.txt` would not have this issue. It indeed seems to apply to any output file

[2021-03-28 02:25] mobileink commented on #12171
Any news on this issue?  I believe I have run into the same issue using my OCaml rules, and unfortunately it may be a show-stopper.  The problem in a nutshell:

* OCaml artifacts are not namespaced
* OCaml compiles an interface file (.cmi) and implementation file (.cmx) separately
* Critically, it records in each artifact a hash of the artifacts it depends on
* So if e.g. the same interface file i

[2021-03-29 01:59] tobiade commented on #12559
Hey! Sorry about the delay - thanks, that makes sense. First  approach sounds good to me - consistent, and probably safe enough to infer that the user actually means `[]`. I'm looking into it now.

[2021-03-29 07:12] hlopko opened #13275 "Add an ability to print line number or stack trace of the failing assert in unit tests in Starlark"
Hello dear Bazel maintainers :)

I'm re-filing this feature request from https://github.com/bazelbuild/bazel-skylib/issues/290.

Right now there is not a way to print an assertion failure with the stack trace. We currently print the assertion error with the location `.../external/bazel_skylib/lib/unittest.bzl:351:10:`. It would be much more useful if we either printed the entire stack trace, or sh

[2021-03-29 09:15] coeuvre commented on #13262
The root cause is that the executable bit of an output file is changed after action execution by `ActionMetadataHandler#getMetadata`.

Repro:

[code]

Explain:
1. To build `:test`, we need the output of `:dep`.
2. The first build
    1. Build `:dep` and upload its output `dep` to the remote cache with the executable bit set to `false`.
    2. Change file mode of `dep` with `chmod 555`.
    3. Buil

[2021-03-29 12:01] ozio85 opened #13277 "The G3_BUILD_TARGET, G3_TARGET_NAME and GPLATFORM are passed with escape characters on Windows"
### Feature requests: what underlying problem are you trying to solve with this feature?
The the values of the following flags:
-DG3_BUILD_TARGET=\\"bazel-out/path_to_my_binary:target\\"
-DG3_TARGET_NAME=\\"@workspace//path_to_my_binary:target\\"
-DGPLATFORM=\\"my_platform\\"

Are passed to the compiler with escape character (\\" instead of ") on Windows.

It seems like:
src\main\java\com\google\d

[2021-03-29 17:46] Kernald commented on #13050
Is there any work-around to this that would be usable from Android Studio? Obviously running `bazel build //my_target && adb install bazel-bin/.../my_target.apk` in a terminal works (albeit slowly compared to `mobile-install`), but it's a bit unwieldy.

[2021-03-29 20:46] limdor commented on #13220
@aiuto @meteorcloudy thanks for your feedback. I will continue the discussion here.

I will take a look, seems like a good starting point, in the end this is exactly what I was looking for when I created https://github.com/bazelbuild/bazel/issues/12767

Fine for me, however I'm doing this during my free time, not sure when I will finish it. At work I am only working on Linux.
My plan was:

1. Get

[2021-03-29 23:29] cpsauer commented on #12889
One thing I ran across that might raise the priority of this--and supporting newer API levels and NDKs more generally: [Google Play is requiring API level 30, starting in August](https://developer.android.com/distribute/best-practices/develop/target-sdk).

[2021-03-30 02:15] zachgrayio commented on #6526
I'm all for getting creative here to make this work--we do a lot of this stuff in our backend systems, but this actually sounds pretty similar to some of the hacks people are already doing today to fix the output paths issue to work towards sharing artifacts that "should be" shared. It's not really very ergonomic for everyone to have to solve it over again for their org when adopting the tool.

[2021-03-30 04:23] mobileink commented on #6401
On MacOS, I inadvertently capitalized a package label - `//Plugins/ltac` instead of `//plugins/ltac`. Since the filesystem is case-insensitive, I presume, Bazel did not complain.  But this is a HUGE problem for OCaml - the targets get compiled twice, or rather once per "spelling" of the package, since the output goes into a directory whose path includes the Bazel package path.  And this causes OCa

[2021-03-30 07:56] comius commented on #13157
The problem might be, that `default_java_toolchain`, `java_runtime = "@jdk_11_macos//:jdk" is selecting only MacOS, which then breaks on remote execution with Linux.

The default configuration (i.e. leaving out java_runtime argument) will select JDK version 11 for arbitrary OS. Even if you have your own JDKs version 11 registered in the WORKSPACE it will select those.

[2021-03-30 10:52] steeve commented on #12889
For the record, here is the [Build System Maintainers Guide](https://android.googlesource.com/platform/ndk/+/ndk-release-r22/docs/BuildSystemMaintainers.md) for this r22.

[2021-03-30 11:05] illicitonion commented on #13157
I tried switching from having two platform-specific toolchains registered to having one with `java_runtime` set to select between the two `remote_java_repository` targets based on `@platforms//os` and saw the same effect of trying to run a darwin action remotely...

I believe that we do _need_ to specify some `java_runtime` because we want to use our own JDK, though removing the attribute entirely

[2021-03-30 11:11] aherrmann opened #13281 "Duplicate builds due to transitions of targets that don't depend on build settings"
### Description of the problem:

Targets that don't depend on a user defined build setting are effectively duplicated when depended upon by targets that depend on a build setting and use a configuration transition.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

- Check out https://github.com/aherrmann/bazel-configuration-rebuild/co

[2021-03-30 11:16] comius commented on #13157
Two platform-specific toolchains (default_java_toolchain) would work only if you selected them using `--extra_toolchains` flag. Without it they are missing criteria that would know how to distinguish them. Currently the only criteria is --java_language_version flag (coming from how source_version attribute is set).

Selects should work though. I suspect problem is with "platform properties", but I

[2021-03-30 11:53] illicitonion commented on #13157
Absolutely! Running locally on a mac at with a bazel built at f1826459f21b5ee8aec4f93686dd7ce8d063466e with 7149f578006a4ad0d51df69830a6986749b34df5 reverted:
[code]

works and gives me:
[code]

Running the same but additionally setting:
[code]

gives me:

[code]

I think this line is the problem, showing that toolchain resolution is selecting my remote ubuntu platform as an execution platform for

[2021-03-30 11:58] illicitonion commented on #13157
Oh, sorry, you wanted `java_runtime` not set - ^^ was with it set to a select.

Unsetting it, with the remote flags, I get:

[code]

[2021-03-30 12:09] jheaff1 commented on #8438
Is there a resolution for the "first workaround", i.e using wrappers around the tools.
I have defined a custom cc toolchain, using the wrapper workaround, and the documentation states that [`create_cc_toolchain_config_info`](https://docs.bazel.build/versions/master/skylark/lib/cc_common.html#create_cc_toolchain_config_info) requires `tool_paths`. These `tool_paths` must be of type [`ToolPathInfo`]

[2021-03-30 12:32] jheaff1 commented on #7746
Is there any update on this?

It appears that rules_foreign_cc does not work with non-hermetic toolchains (and wrapper scripts provided to the `tool_paths` required by `cc_common.create_cc_toolchain_config_info`).  See https://github.com/bazelbuild/bazel/issues/8438#issuecomment-810168376

[2021-03-30 12:49] comius commented on #13157
Sorry I was wrong. Default configuration of default_java_toolchain pins java_runtime to remotejdk_11 (not to arbitrary version 11).

Couple of problems:
- your jdk_11_macos_toolchain is not selected (java_toolchain8 from Bazel is); `--{,tool_}java_language_version=11` needs to be set; perhaps you also forgot to register it in the WORKSPACE, (be careful to register "jdk_11_macos_toolchain_definitio

[2021-03-30 13:27] philwo commented on #3360
@buchgr @ulfjack Does anyone remember why this flag isn't enabled by default? 😅 Is it because of the "There may be cases where the Linux kernel delays writing of files, which could cause false positives." part in the documentation of the flag?

[2021-03-30 13:47] illicitonion commented on #13157
I think that's a step in the right direction; setting `--host_javabase` to point at a `java_runtime_version_alias` which looks like:

[code]

I still get an error because bazel tries to run macOS actions with the remote execution system, but my resolution looks better:

[code]

Notably, this entry looks good:

[code]

But then it looks like this entry is actually used?

[code]

_Also_, now that it

[2021-03-30 15:14] comius commented on #13157
There is still one @remotejdk11_macos selected. Are you defining `remote_java_repository` using `prefix = "applejdk"`? The default value is `remotejdk`.

`java_runtime_version_alias` looks ok. Please note that `selected_java_runtime` is only for backwards compatibility and will be removed when the incompatible flag is removed (but removing it now still breaks things). The selection only happens on

[2021-03-30 15:48] weegreenblobbie opened #13282 "Documentation issue: Remote caching does not explain how caching works"
Documentation URL: https://docs.bazel.build/versions/master/remote-caching.html

I'm looking for information on how caching works, for example, if I build an executable, which has objects and library dependencies, will bazel check for the executable in the cache first and just pull that binary on cache hit?  Or does it always evaluate all actions and either builds or pulls the outputs for all acti

[2021-03-30 15:49] illicitonion commented on #13157
Yep, we're setting `prefix = "applejdk"`.

👍 Presumably it will automatically do the resolution correctly before it's deleted?

I also get a deprecation warning for `host_javabase` when setting this - will it be un-deprecated, or will there be a replacement, or will `java_runtime_version_alias` simply be deleted when unnecessary, or...?

Here's what I'm seeing when I grep for `jdk:runtime_toolchai

[2021-03-30 18:28] aiuto commented on #6401
I've come to the conclusion that the only scalable way to do cross platform development is on case sensitive file systems. I always make my Mac development partitions case sensitive so that I can play well with code bases that assume that. It is not just Bazel which might have problems. Every tool in the chain could be a weak link. Whatever we could do in Bazel, might not be enough.

[2021-03-30 21:09] NainSale opened #13283 "ERROR: Could not build Bazel - Raspberry pi 3 model B - error: undefined reference to '__atomic_fetch_add_8'"
### Description of the problem / feature request:
I am getting an error while trying to compile Bazel 4.0.0 on a Raspberry Pi 3 Model B.

I need Bazel in order to run Mediapipe.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.
On a Raspberry Pi 3 Model B terminal:
[code]
then changing kine 182 after get_cpu_value:

(this last part I d

[2021-03-30 21:15] brandjon commented on #13275
Interesting idea. It sounds useful, though in general we try to shy away from probing the call stack.

[2021-03-30 22:41] cpsauer commented on #716
FWIW, I'm seeing this work correctly when used a little differently.

The specific case: I'm passing "-Wl,--version-script,$(location example.ldscript)" into a cc_library's linkopts, and seeing things get compiled correctly by an android_binary that indirectly depends on it.

[2021-03-30 23:55] uri-canva commented on #3360
According to the comments above the issue happens on macOS too. We disabled it regardless of that because the overhead is very high, but I assume since it's not enabled by default there haven't been many eyes on that anyway.

[2021-03-31 02:48] coeuvre commented on #13239
Fixed by 662cf54de7a103db30e04ebae2d2b919437c4846.

[2021-03-31 02:48] #13239 closed

[2021-03-31 02:52] coeuvre commented on #13099
Commits for 4.1.0rc2

Remote Execution
- [ ] 9a5cd854e0613f91d52075973e2454b1e009e1ef in https://github.com/bazelbuild/bazel/issues/13099#issuecomment-805364130
- [ ] 09c621e4cf5b968f4c6cdf905ab142d5961f9ddc
- [ ] 662cf54de7a103db30e04ebae2d2b919437c4846 fix for #13239
- [ ] Fix for #13262
- [ ] Implementation for #13113.

[2021-03-31 03:05] aiuto commented on #13268
I assume this is in the context of an HTTP archive, so I sent it to external deps.
Personally, I think this is not Bazel's problem. There is no good way to win with most development tools using case-insensitive file systems.

[2021-03-31 03:13] aiuto commented on #13277
This may depend on what your command interpreter is.
With bash, bazel build **-Dfoo=\"bar\"**   would result in   **foo** having the value **"bar"**, so it should be escaped when passed to a subprocess.
Are you using cmd.exe or something else?

[2021-03-31 03:18] ozio85 commented on #13277
These options are internal Bazel flags added on linkstamp compilation

[2021-03-31 03:19] ozio85 commented on #13277
These options are internal Bazel flags added on linkstamp compilation

[2021-03-31 03:20] aiuto commented on #13277
Then this is the C++ team's problem. Re-triaged

[2021-03-31 04:05] aiuto commented on #10904
The reason for not allowing it is that it is going to add complexity for little real gain.

[2021-03-31 04:12] aiuto commented on #13204
Can you provide more information. There is no problem described here.

[2021-03-31 04:16] aiuto commented on #13206
Please provide a more detailed reproduction.

[2021-03-31 04:18] aiuto commented on #13186
@sdtwigg    Is this a duplicate of the work you are doing with trim test?

[2021-03-31 04:18] chandlerc commented on #11628
Should this be closed given that there hasn't been a release yet with this support?

[2021-03-31 04:28] aiuto commented on #13202
Looking at stdout for IDE/editor integration is a going to be an ongoing game of whack-a-mole.  Users can define all sorts of things in action mnemonics.

[2021-03-31 04:29] aiuto commented on #13208
It is unclear if this is a problem with Bazel or rules_go.

[2021-03-31 04:33] aiuto commented on #13174
You should ask this question on StackOverflow or slack. There is a a large community of people building remotely there.

[2021-03-31 04:33] #13174 closed

[2021-03-31 04:44] smolkaj commented on #13186
Thanks for looking into this, @aiuto.

It may be worth adding that this is a non-trivial issue for us. The usual developer workflow is to edit code, then run `bazel build //... && bazel test //...`. Due to this issue, that command takes 2h (!) to complete, and we do not know of a workaround. Just running `bazel test //...` is not good enough because not all build targets are covered by tests.

[2021-03-31 04:47] aiuto commented on #13209
Since it says something like "not a regular file .... BUILD", my hunch is that RxSwift has a  BUILD file and a build directory and you are using a case-insensitive file system.  Can you try again on a case sensitive one.

[2021-03-31 04:49] aiuto commented on #13217
@ulfjack  I think you added this flag.  Any thoughts?

[2021-03-31 04:56] zachgrayio commented on #13186
doesnt `bazel test ...` fall back to `build` for non test targets? we dont really ever rely on this but I thought I read that somewhere once. seems to be the case in quick local test but unsure 🤷

and can you share output or anything at least here? are you seeing `<message>, discarding analysis cache.` or anything between runs? are `build` and `test` commands getting the exact same config settings

[2021-03-31 05:17] smolkaj commented on #13186
Thanks for the various pointers, @zachgrayio.

Not that I know, but will give it a try.

We're using the Bazel defaults, which I assume is a disk cache.

I will share the output of Bazel once I have it.
For now, here is our `.bazelrc`:
[code]

Thanks, I'll give that a try.

[2021-03-31 05:23] anthpi commented on #10904
@aiuto For us this feature is rather important. Especially in our complex environment when we have several workspaces and several repositories. This feature will also simplify environment for many users as they no longer have to maintain a wrapper around bazel in order to achieve same functionality. Complexity of the proposed implementation we can discuss in the commit review. Implementation in ht

[2021-03-31 06:21] hlopko commented on #13275
If that helps, this is a test that is super hard to debug without stacktrace/callsite location: https://github.com/bazelbuild/rules_rust/blob/main/test/unit/cc_info/cc_info_test.bzl#L9

[2021-03-31 06:40] oakad commented on #12889
Considering how big and important Android platform is, Bazel should assign some more priority to it.

The people are suffering with cmake here, for god's sake. :-)

[2021-03-31 06:53] mmorearty commented on #3360
If this context helps, I can tell you that I don’t know how we would use Bazel if this flag wasn’t available. (We are a Mac shop.) Before this flag existed, corruption of our remote cache was somewhat rare, but when it did happen — perhaps once a month — we were pretty mystified and would have to spend a long time trying to figure out what happened and what to do about it.

[2021-03-31 08:49] ulrfa commented on #7313
Excellent work @frazze-jobb! The PR also resolves #7091 and bazelbuild/rules_python#382.

[2021-03-31 09:35] aaliddell commented on #13208
There were originally two related issues listed, but the second of these turned out to be linked to rules_go doing odd things with go_googleapis.

The remaining issue that is Bazel related is that there are multiple strict_proto_deps modes with the same behaviour:

- strict and error are identical
- warn does not warn but is instead again the same as error
- off works as expected

Most of that is

[2021-03-31 11:46] steeve commented on #12889
The bazel team is like you, me and any other team out there: flooded with tasks and constrained by time. If not support, let's at least show empathy. If you want to help, you could try taking a jab at this.

This one is bad though.

[2021-03-31 21:19] quval opened #13284 "Allow excluding --config flag sets, instead of just accumulating them"
### Description of the problem / feature request:

`--config` selects flag sets from an rc file. It would be useful to have mutually-exclusive flag sets, e.g. by specifying a `--noconfig` flag (or `--config=-value`, which is probably not so good since `-` is currently allowed, and using this notation might break existing rc files).

### Feature requests: what underlying problem are you trying to s

[2021-03-31 21:50] floriographygoth commented on #13032
Hi Dave,

With the changes made to close https://github.com/bazelbuild/bazel/pull/13031 do we need to further clarify labels? https://docs.bazel.build/versions/master/build-ref.html#labels

[2021-04-01 00:36] cpsauer opened #13285 "Cross-Platform Control of Symbols Exported by a Shared Library"
### Description of feature request:

In going with Bazel's cross-platform goals and the general magic of semantically expressing the build you want and having it work across platforms:

**It'd be awesome if cc_library rules had a cross-platform attribute for controlling which symbols are exported from a shared library, forming its binary interface.**

I'm imagining the best interface would be an a

[2021-04-01 04:17] cpsauer opened #13287 "Android NDK, no Link-Time Optimization?"
Hi awesome Bazel folks,

I was debugging an NDK build and looking at the link commands being run. I happened to notice that dbg and opt builds are getting the exact same set of linker flags--no `-flto` (or `-O#`) flags in either case. That made me wonder if Bazel is accidentally omitting link-time optimization (LTO) in optimized builds.

[I'm assume Bazel (a) intends to have optimized (opt) builds

[2021-04-01 04:44] oakad commented on #12889
The rules in question are in the older java part of Bazel. Similar c++ stuff was ported to starlark. Not something to undertake on one's own initiative (because effort is big and chances of merge are nil).

On the other hand, Bazel is a Google product and Android is also a Google product. Don't think it's somehow unreasonable to expect a bit more synergy between them.

[2021-04-01 05:40] cpsauer commented on #11869
@trybka, any thoughts or updates on the iOS stripping situation?

[2021-04-01 07:33] lberki opened #13288 "`bazel query //external:` is not consistent with what Bazel actually does"
If one overrides a repository in the `WORKSPACE` file that is also present in the default workspace suffix, `bazel query` will report the definition in the default workspace suffix but Bazel will use the version in the WORKSPACE file.

Example WORKSPACE file:

[code]

`bazel query --output=build //external:rules_cc` will report that the repository is a `http_archive()` because that's how it's defi

[2021-04-01 07:33] lberki commented on #13288
/cc @c-parsons @lizkammer

[2021-04-01 08:10] steeve commented on #12889
My second ever PR in the bazel core was adding support for NDK r21 (albeit probably _a lot_ easier), so I tend to disagree. Not to say it'll be easy, but if somebody were to do it, I'm sure they would be glad and would gladly merge it. As they did with mine.

[2021-04-01 08:12] coeuvre commented on #8508
Sorry to be late. It looks like there are different issues posted on this thread.

1. AC exists, but failed to download from CAS. https://github.com/bazelbuild/bazel/issues/8508#issuecomment-509755175, https://github.com/bazelbuild/bazel/issues/8508#issuecomment-800649425
    - This requires action rewinding and I will try to find time working on this in Q2.
2. `load_shed` issue. https://github.co

[2021-04-01 08:31] meisterT commented on #13271
@oehme did you verify that after keeping the threadpool around it's actually any faster?

[2021-04-01 09:25] oehme commented on #13271
[Yes, significantly so.](https://github.com/bazelbuild/bazel/files/6242495/profiles.zip)

The reason is simple: The default size for this thread pool is 200 threads, which Bazel eagerly starts at the beginning of each build. That takes a long time. Reusing that thread pool completely removes that cost.

[2021-04-01 09:57] meisterT commented on #13271
I am confused - the line that you link above in the `FilesystemValueChecker` is not controlled by any flag (and is not 200), but depends on the number of cores on the machine, see line 190. What am I misunderstanding? Feel also free to just send a PR (if you already have one).

[2021-04-01 10:49] oehme commented on #13271
Sorry I had linked the wrong executor line, here's the [right one.](https://github.com/bazelbuild/bazel/blob/1e7e51978a4872a28b8354a73aeba46c0c541e8b/src/main/java/com/google/devtools/build/lib/skyframe/FilesystemValueChecker.java#L587). The argument applies to any thread pool though - If it is unlikely to change size between builds, it should probably be reused.

I don't have a PR, I only quickly

[2021-04-01 12:13] meteorcloudy commented on #13220
Maybe https://github.com/bazelbuild/examples is a good place to store those examples?
Tutorials can be put at https://github.com/bazelbuild/bazel/tree/master/site/docs/tutorial

[2021-04-01 12:38] brentleyjones commented on #8508
That was with `--verbose_failures` on. It's odd that it was a one-liner without a stacktrace.

[2021-04-01 12:45] brentleyjones commented on #13099
If possible, can we get https://github.com/bazelbuild/bazel/commit/47edc57806056f3c8764241ed41b8acc72bd2ebf as well?

[2021-04-01 13:32] larsrc-google commented on #13271
ThreadPoolExecutor doesn't create these threads eagerly, but only by need. Are you saying that setting the size of the thread pool to 1 makes it faster? Is the flag you mention `--experimental_fsvc_threads`?

[2021-04-01 13:35] larsrc-google commented on #13272
The tests for Bazel itself actually mostly start a fresh Bazel, for hermeticity reasons, so they wouldn't benefit much from this. I'm curious what forces you to run each test as a separate Bazel invocation (IIUC), that's definitely not the behaviour that Bazel optimizes for.

[2021-04-01 13:46] oehme commented on #13271
Yes, that's the flag and yes it makes it faster, as you can see in the profiles I've provided above. You're right that it might not eagerly start them, but simply pushing a bunch of requests into that thread pool will start a ton of threads given the high core pool size. I assume these requests are for external locations that Bazel doesn't use file system watching for.

[2021-04-01 13:53] oehme commented on #13272
My tests reuse the workspace and output base for performance reasons. They just clean up the project-specific parts in between test methods. Waiting several seconds per test case for Bazel to start up and do all its analysis again is not an option for me, as I expect to have 1000+ test cases, just like we have for Maven and Gradle integration.

I think you misunderstood what I'm doing - My tests i

[2021-04-01 14:24] keithkml commented on #1027
Just noticed that this issue is closed even though the fix was reverted several years ago. Shouldn't the issue be reopened?

[2021-04-01 15:18] #12759 closed

[2021-04-01 15:23] philwo commented on #13099
Hi folks, just wanted to let you know that I'm still on vacation this week and will review your additional fixes / cherry-picks asap when I'm back and then create 4.1.0rc2! 😊

[2021-04-01 15:23] philwo commented on #13099
Hi folks, just wanted to let you know that I'm still on vacation this week and will review your additional fixes / cherry-picks asap when I'm back and then create 4.1.0rc2! 😊

[2021-04-01 16:03] keith commented on #8508
happy to track wherever you'd prefer!

[2021-04-01 16:50] communikit commented on #13172
Hi @JRodDynamite , the location of the Getting started page is here: https://github.com/bazelbuild/bazel-website/blob/master/basics/getting_started.md (in the bazel-website repo).

Sorry about the delay in response, do you still have the bandwidth to help with a PR?

[2021-04-01 17:15] ecunal commented on #13099
Is it possible to get this fix too please https://github.com/bazelbuild/bazel/commit/f8606e5e76579442a1c6563e718ea54c673f1a04 ?

[2021-04-01 17:29] JRodDynamite commented on #13172
Raised a PR for it. https://github.com/bazelbuild/bazel-website/pull/307

[2021-04-01 20:12] aiuto commented on #13285
I see more than one request here.
The first is simply to have a cc_library shared library portably name symbols to export. That seems obviously useful.
I think this could be enhanced by having direct dependents on such a library be able to further specify the symbols they require from the library - limited to a subset of the symbols exported. At link time, we would filter down to the union of symb

[2021-04-01 20:25] nicmcd commented on #716
@cpsauer, how did you declare the example.ldscript file? Did you add it to "data"?

[2021-04-01 20:30] aiuto commented on #13197
@comius

[2021-04-01 20:44] aiuto commented on #10106
Closing for lack of action.

[2021-04-01 20:44] #10106 closed

[2021-04-01 20:44] aiuto commented on #10555
Closing for lack of action.

[2021-04-01 20:44] #10555 closed

[2021-04-01 20:45] aiuto commented on #10559
closing for lack of action

[2021-04-01 20:45] #10559 closed

[2021-04-01 20:46] aiuto commented on #10633
closing for lack of action

[2021-04-01 20:46] #10633 closed

[2021-04-01 20:46] aiuto commented on #10594
closing for lack of action

[2021-04-01 20:46] #10594 closed

[2021-04-01 20:48] aiuto commented on #12263
Closing for lack of action

[2021-04-01 20:48] #12263 closed

[2021-04-01 20:59] sdtwigg commented on #11772
For sh_test, won't it actually accept the executable directly as the source file? Then you don't even need a wrapper.

[2021-04-01 21:25] aiuto opened #13289 "Add capability to serve head docs as https://docs.bazel.build/versions/head/..."
This is a would be a convenient first step towards #12200
- versions/master/... and versions/head/... would both serve the same document
- this allows us to change all of the /docs/... tree and bazel-website before renaming the branch itself.

Next steps after all .md files are fixed
- in Bazel CI, push tarball under the new branch name
- eventually, stop serving the old links.

@philwo @floriogra

[2021-04-02 00:31] cpsauer commented on #13285
Very interesting! Thanks for thinking carefully about it, @aiuto.

I think you might be able to get the first enhancement you mention basically for free given symbol name control. Different libraries could declare different subsets of the interface to export and (since the command line flags for linux/mac are chain-able and propagated to the linker) you could depend on the subsets you need and hav

[2021-04-02 00:37] cpsauer commented on #13285
@nicmcd, I saw your post in my email, and then not, here, so I'm assuming you deleted it. Did you get things working okay?

[Googled your name to find your Github username. Cool stuff you're working on!]

[2021-04-02 12:39] oehme commented on #13271
Another option (if you don't want the complexity of a reused pool) would be to have a smaller core pool size (say, number of processors) and a high max size. That way it would only start up lots of threads if there is significant work to do. I haven't tried this, but it might be a good balance.

I can send a PR if you'd like.

[2021-04-02 12:40] oehme commented on #13272
I can send a PR for this change if you'd like.

[2021-04-02 12:41] oehme commented on #11823
Are there any plans for this? Would a PR be welcome? If so, could you give me some code pointers to get started?

[2021-04-02 19:18] #13172 closed

[2021-04-03 00:56] dmaclach opened #13291 "bazel does not honour certain mac qos settings"
Bazel does not honour certain mac quality of service settings (notably user-interactive, user-initiated, default). The posix spawn APIs on Darwin do not let you set those levels.

It appears that https://github.com/bazelbuild/bazel/blob/master/src/main/cpp/blaze_util_darwin.cc#L203 is expecting `posix_spawnattr_set_qos_class_np` to return a -1 on error when it actually returns an errno value (in t

[2021-04-03 01:28] dchichkov commented on #1035
It had been some time since 2016, it'd be great for this to get higher priority.

To give some context, I'm on 2TB drive and have to keep fighting with Bazel for living space.  My ~/.cache/bazel is consistently eating up to 0.7TB of free space (in 2-3 weeks). I have to purge it then.  And that results in multi-GB downloads (CUDA, etc).

It'd be great to add a limit and an LRU-type of behavior to t

[2021-04-03 03:22] siddharthab opened #13292 "No way to add generated metadata files to InstrumentedFilesInfo"
### Description of the problem / feature request:

Currently there is no constructor available for InstrumentedFilesInfo and coverage_common.instrumented_files_info does not allow a way to add generated files. For example, if my rule implementation generates .gcno files, then there is no way to add these to the metadata_files field of the provider. I suppose this will also be a problem when rules_

[2021-04-03 03:48] uday-cb opened #13293 "Documentation: default values of git_repository attributes - init_submodules"
This is purely related to the documentation at
https://docs.bazel.build/versions/master/repo/git.html
Can this doc specify what the default values of some of key attributes are? For eg., it's not clear what the default value for `init_submodules` is, which may be pretty important to know. I assume the default is to not clone submodules. On this note, cloning submodules is different from "init" (on

[2021-04-04 09:09] advancedwebdeveloper commented on #12683
I shall check that, today

[2021-04-04 10:17] erikgb commented on #12000
@ZhiyuanChen I had a similar problem, and in my case it was resolved by making sure that the python-executable that Bazel looks for, was available **on your PATH**. In my case, I had an alias in my `.bashrc` file:
[code]

This alias will not be used by the Bazel server, so it has to be on the path. I fixed it by creating a symlink:
[code]

Hope this helps! 😄

[2021-04-04 10:45] limdor commented on #7260
What is the new way to select a specific toolchain without crosstool_top if multiple toolchains apply? I found several documentation and examples when it comes to a different toolchain for a different platform, but not for different toolchains for the same platform.
The use case that I am trying to model is something like:

- **Host:** Windows, x64
- **Target:** Windows, x64
- **Toolchains:** MSVC

[2021-04-04 10:52] limdor commented on #13220
Thanks, I will see if I can put them somewhere there, for the moment I will play around in my repo and once I have it ready I will create the PR.
Create the toolchain from the generated one was easy, now the problem is to make use of the toolchain without crosstool_top and making sure that the generated one is not available and not selected.
https://github.com/bazelbuild/bazel/issues/7260#issuecom

[2021-04-04 17:30] nicmcd commented on #13285
@cpsauer, yes I got it figured out. I've slowly been making a library of BUILD files that take open source software and bazelize them (https://github.com/nicmcd/pkgbuild). numactl required some extra hacking :). An example of using it is here: https://github.com/nicmcd/numaex. I sent you a linkedin request. Let me know if you want in on any of the fun!

[2021-04-04 18:04] kitterion opened #13295 "ResourceProcessorBusyBox crashes with a lot of assets"
### Description of the problem / feature request:
ResourceProcessorBusyBox crashes with `Argument list too long` if android_{binary,library} has a lot of assets, even if they are all in the same folder:
[code]

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Having this code in a `BUILD.bazel` file and trying to build `bin`, Resource

[2021-04-04 19:00] cushon commented on #13270
The `JDK9_JVM_OPTS` include `--patch-module=` flags which override the JDK's javac with the one from `java_tools`, which isn't a JDK 16 javac. That vendored javac version is only needed for older JDK versions, JDK 13 and newer include the fixes that are needed by Strict Java Deps.

[code]

[2021-04-04 20:06] davido commented on #13270
@cushon Thanks, it's embarrassing I missed that.

I've updated gerrit CL and it works as expected. Unfortunately, I still need to patch Bazel with this [PR](https://gerrit-review.googlesource.com/c/gerrit/+/301362).

[2021-04-04 20:13] davido commented on #13099
For Java 16 (and newer) toolchain support we need this [fix](https://github.com/bazelbuild/bazel/pull/13273) for this [issue](https://github.com/bazelbuild/bazel/issues/13138), because of [JEP 396](https://openjdk.java.net/jeps/396).

It would be great if we wouldn't have to wait for years for Java 16 (and newer) toolchain support in Bazel.

[2021-04-05 11:17] SuperBo commented on #10327
@stellaraccident : thank you, you saved my day :D

[2021-04-05 13:02] katre commented on #7260
The best approach would be to continue to use the `--compiler` flag, with the new `target_settings` attribute on the `toolchain` rule, like this:

[code]

This will allow you to pass `--compiler=msvc` to select the msvc toolchain, etc, while still respecting your other constraints for the execution and target platform.

[2021-04-05 13:29] aiuto opened #13298 "The tutorials and example code are inconsistent w.r.t. versioning."
Tutorials start in the versioned docs set. https://docs.bazel.build/versions/4.0.0/tutorial/cpp.html
But the examples they point to are in https://github.com/bazelbuild/examples, and not versioned.

This means that as Bazel evolves, the examples should change too. But then, the tutorials for older LTS versions of Bazel might point to broken examples.

A better situation would be for the tutorial p

[2021-04-05 13:33] aiuto commented on #13291
@susinmotion

[2021-04-05 13:43] aiuto commented on #11746
Closing on lack of action.

[2021-04-05 13:43] #11746 closed

[2021-04-05 15:09] eagleshine commented on #1000
Encountered an issue recently with `/proc/self/cwd` in the source file path: the tool `/usr/lib/rpm/debugedit` from rpmbuild is not able to find the debug sources file list.

The relevant command is like: `/usr/lib/rpm/debugedit -b /tmp/rpmbuild/BUILD -d /usr/src/debug -i -l /tmp/rpmbuild/BUILD/debugsources.list <path to the .so file>`

So instead of fix the prefix to be `/proc/self/cwd`, can we p

[2021-04-05 16:57] sayrer opened #13299 "Invalid null return can be conflated with uninitialized variable"
### Description of the problem / feature request:

In https://github.com/bazelbuild/rules_rust/issues/635 , we hit a confusing error with the `cc_toolchain`. It was producing an error that made it look like a variable wasn't in lexical scope when it was. Maybe its assignment triggered something like an exception or an undefined value, but it was assigned in a lexical sense.

I assigned this variab

[2021-04-05 17:37] haxorz commented on #374
Re colons - What would the plan be for existing code, both inside and outside of Bazel, that splits a label string on the color char to separate out the package name and target name? Presumably there will be a Bazel flag like `--incompatible_allow_colon_chars_in_target_names`, but it seems difficult to be able to flip that flag's value.

[2021-04-05 18:12] aiuto commented on #374
If we were going to do this, I would approach it by requiring that Bazel usage escape the : which is not the delimiter. So  `//foo\:bar:baz\:1`, is the target `baz:1` in the package `foo:bar`
We could probably make this change to Bazel. Maybe even very cleanly in a few places. And then the real fun begins.

I have no way to estimate the number of scripts and rules that could break if users actuall

[2021-04-05 18:21] #13138 closed

[2021-04-05 18:29] adam-azarchs commented on #374
That escaping is also an issue in starlark:
[code]
would be a syntax error - you'd need to either make it an `r""` string in the BUILD file or use `\\` there as well.  The problem with this approach is that it gets more confusing if you for some reason had a filename with literal `\:` in it.  Now it would be `"foo\\\\\\:thing"`, or `r"foo\\\:thing"`?  I think, if I counted up my slashes correctly?

[2021-04-05 18:40] googlewalt commented on #10674
The migration is complete.  The migration incompatible flags were flipped in Bazel 4.0, and subsequently deleted.

[2021-04-05 18:40] #10674 closed

[2021-04-05 18:41] davido commented on #13099
^^^ aka https://github.com/bazelbuild/bazel/commit/74f35d4b2448d356b1fb86c6ba0d377f2e524aa2.

@philwo Can you cherry-pick this CL?

[2021-04-05 20:02] cvrebert opened #13300 "Documentation: FAQ about reading files and alternatives"
I not-infrequently see internal questions about reading files in Starlark or (equivalently) defining targets (e.g. generating library targets or generating tests) based on (non-BUILD/bzl) files. FWICT, the Bazel docs currently don't address this directly. Thus, similar questions get asked and answered, wasting effort. Since these questions are about somewhat obscure corners of Starlark, they don't

[2021-04-06 00:41] codesuki commented on #7962
To save people from digging, it seems the issue @haxorz mentioned is fixed in 3.7.
https://github.com/bazelbuild/bazel/issues/12086#issuecomment-715659624

[2021-04-06 00:43] cpsauer commented on #10837
Another thought, after some more time working around/with NDK builds:
Perhaps we should auto-stripping the .so libraries in opt (release) builds, using `-Wl,--strip-all` or similar? [Looks like iOS is moving this direction](https://github.com/trybka/scraps/blob/master/Apple_Stripping.md), and I'm seeing ~24x size reductions from doing so. Plus, released binaries probably shouldn't have debug info

[2021-04-06 02:40] coeuvre commented on #11823
We currently have no bandwidth to work on this but a PR is welcome.

- [`SpawnLogContext#logSpawn`](https://github.com/bazelbuild/bazel/blob/09cd1fccbe37f9be3ae772db2c313eb5f8508486/src/main/java/com/google/devtools/build/lib/exec/SpawnLogContext.java#L73) is where the logs get written to execution log.
- [`BuildEventServiceModule`](https://github.com/bazelbuild/bazel/blob/09cd1fccbe37f9be3ae772db

[2021-04-06 07:26] meteorcloudy commented on #13241
@comius Any idea on this issue?

[2021-04-06 07:37] meteorcloudy commented on #8685
This issue shouldn't be P4 anymore since Python 2 has already been deprecated.

[2021-04-06 07:37] meteorcloudy commented on #12485
Related issue is https://github.com/bazelbuild/bazel/issues/8685

[2021-04-06 07:56] comius commented on #13157
The resolution already happens without using `selected_java_runtime` attribute. It's used only when incompatible flag is unflipped.

host_javabase is going to be deprecated. It is not used in the resolution.

java_runtime_version_alias is going to stay, because it is necessary to get a specific version of JDK (that is one used for compiling).

1. One toolchain is resolved as a JVM used to run bina

[2021-04-06 11:22] chenmy0917 commented on #8963
I also encountered this problem, can you help me, look forward your reply @laurentlb

**OS**: Ubuntu 16.04

**Bazel Version**:
![image](https://user-images.githubusercontent.com/22138217/113702954-c37bbc00-970c-11eb-88c9-74eda50cec03.png)

**Error**:
![image](https://user-images.githubusercontent.com/22138217/113703033-e1e1b780-970c-11eb-8c17-c56a10fce046.png)

[2021-04-06 12:31] sitaktif commented on #6342
I think this feature was addresed by the downloader rewrite feature: https://github.com/bazelbuild/bazel/pull/12170

[2021-04-06 13:12] meteorcloudy commented on #13220
Sounds good!

Check the `BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN` env var.
https://github.com/bazelbuild/bazel/blob/master/tools/cpp/cc_configure.bzl#L49

[2021-04-06 14:00] larsrc-google commented on #13272
Yes, please!

-Lars

On Fri, 2 Apr 2021 at 14:40, Stefan Oehme ***@***.***> wrote:

[2021-04-06 14:36] katre opened #13301 "cquery fails on remote jdk repository"
Attempting to run cquery on the remote jdk repository (`@remotejdk11_linux`) incorrectly reports that there are no targets.

[code]

The deprecation warnings are very strange here.

An error is probably being swallowed somewhere.

[2021-04-06 15:10] illicitonion opened #13302 "java_runtime should allow jvm_opts"
### Description of the problem / feature request:

Sometimes you want to set JVM options whenever a JVM is run. An example is wanting to use [`--enable-preview`](https://docs.oracle.com/en/java/javase/15/language/preview-language-and-vm-features.html) - if this flag was used when compiling code, it must also be set when running it.

Currently, `java_toolchain` has a `jvm_opts` attribute which is u

[2021-04-06 15:13] gregestren commented on #8963
Hey @chenmy0917 . While this is the same error (`File name too long`), I think the cause is coming from a different place (it's not related to `FunctionTransitionUtil`). I recommend starting a new, dedicated bug for your failure.

[2021-04-06 15:24] #13262 closed

[2021-04-06 16:13] tetromino opened #13304 "Wrong line number reported for `type 'string' is not iterable` errors"
Consider the following .bzl file with an attempt to iterate over the characters of a string in the inner loop:

[code]

When we try to use my_func from a BUILD file, we will get the following confusing error, implying that the problem is with the completely legal `range(10)` expression in the  _outer_ loop:

[code]

By contrast, other kinds of type errors have the line number reported correctly. F

[2021-04-06 16:26] katre commented on #13301
Debugging this is interesting. The failure occurs in [`RecursivePackageProviderBackedTargetPatternResolver.findTargetsBeneathDirectory`](https://cs.opensource.google/bazel/bazel/+/master:src/main/java/com/google/devtools/build/lib/skyframe/RecursivePackageProviderBackedTargetPatternResolver.java;bpv=1;bpt=1;l=178?ss=bazel&q=RecursivePackageProviderBackedTargetPatternResolver&gsn=findTargetsBeneath

[2021-04-06 16:56] puraminy commented on #9612
I also set the proxy to https://127.0.0.1:8118 and got the same error:

ERROR: Analysis of target '//tensorflow/tools/pip_package:build_pip_package' failed; build aborted: error running 'git fetch origin refs/heads/*:refs/remotes/origin/* refs/tags/*:refs/tags/*' while working with @io_bazel_rules_docker

[2021-04-06 17:36] katre commented on #13301
It looks like that universe scope is defined from the [`PostAnalysisQueryEnvironment`](https://cs.opensource.google/bazel/bazel/+/master:src/main/java/com/google/devtools/build/lib/query2/PostAnalysisQueryEnvironment.java;l=110). However, the code is clearly wrong: `//...` does not mean "all patterns", it means "all patterns in the main repository". I'm going to investigate if this can be fixed.

[2021-04-06 18:16] puraminy commented on #9612
Setting `git` proxy can resolve the problem, however it should be `https` and not only `http` proxy.

    git config --global https.proxy https://127.0.0.1:8118

If you run this command in the docker container, you must use `--network=host` option for the docker to recognize the localhost IP address. The `--net=host` option is used to make the programs inside the Docker container look like they ar

[2021-04-06 18:31] slamdev opened #13305 "java_plugin stopped working after upgrading to bazel 4.0.0"
### Description of the problem / feature request:

**java_plugin** stopped working after upgrading to bazel **4.0.0**.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

To display the issue, I created this repo: https://github.com/slamdev/bazel4-java-plugin-issue

When you run the code with bazel **3.7.2**, everything works fine, but

[2021-04-07 00:59] cpsauer commented on #13287
Aha, so after some more reading, perhaps here's a better way of framing it:

The first source of confusion was my expectation that `--compilation_mode=opt` was supposed to provide something like a release build and dbg, a debug build--at least on mobile. Bazel gets quite close to that on iOS with a strip options that auto-invokes only on opt (though there are issues there, too). But to the extent

[2021-04-07 03:51] chenmy0917 commented on #8963
okay, thanks for your suggestion

[2021-04-07 04:01] chenmy0917 opened #13307 "Bazel crashes on Ubuntu with "failed to delete output files before executing action""
### Description of the problem / feature request:
My compilation failed, the error message is:
1. File name too long [36]
2. failed to delete output files before executing action

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

### What operating system are you running Bazel on?

### What's the output of `bazel info release`?

### If

[2021-04-07 04:53] chandlerc opened #13308 "Replace hard-coded `-g0` flags with a feature that can be used in the toolchain configuration."
Just stumbled across some lingering hard-coded compiler flags:

https://github.com/bazelbuild/bazel/blob/76a849808d48d96588cda665102aa1b31cc0f58d/src/main/java/com/google/devtools/build/lib/rules/cpp/CppOptions.java#L1093-L1094

Could these be removed?

Specifically, it'd be nice to have a feature similar to `opt` and `fastbuild` that can be used as a condition to enable flags specifically in the

[2021-04-07 06:03] lberki commented on #12630
Sounds like a correctness issue, why was this classified as P3 in the first place?

@jin @oquenchil  It doesn't seem to have a lot to do with C++ though, it's more like an issue with either the Starlark loading phase machinery or the external repositories.

@GMNGeoffrey , it'll be hard to fix this without a reproduction that works at least some of the time. Mind coming up with something that repro

[2021-04-07 06:05] lberki commented on #12630
@philwo , the external repository machinery is more likely to be the culprit than Starlark because otherwise we'd se regular reports of this in google3, so assigning this to you for further routing (or a clever idea)

[2021-04-07 06:27] coeuvre commented on #8508
@brentleyjones Feel free to open a new issue with your problem.

Let's track this issue in #8250. Closing.

[2021-04-07 06:27] #8508 closed

[2021-04-07 06:28] cushon commented on #13305
This is a duplicate of https://github.com/bazelbuild/bazel/issues/12837.

Upgrading to lombok 1.18.20 shows the following error:

[code]

[code]

[2021-04-07 06:28] #13305 closed

[2021-04-07 06:36] cushon commented on #13302
Note that there's [`--jvmopt`](https://docs.bazel.build/versions/master/user-manual.html#flag--jvmopt) flag (and as of #11893) a corresponding `--host_jvmopt` flag that pass JVM flags to tests and binaries.

[2021-04-07 07:39] philwo commented on #12630
@Wyverald Could you have a look at this?

[2021-04-07 09:27] finn-ball commented on #13193
Fixed in :

https://github.com/bazelbuild/bazel/commit/ab1da7beb367147d7d2df17f53bbf0ed78118b69

[2021-04-07 09:27] #13193 closed

[2021-04-07 09:34] Wyverald commented on #12630
@GMNGeoffrey Could you provide some repro steps? Running _what_ Bazel command gives you the error message?

I tried to clone the llvm-bazel repo and build it according to the [Usage section](https://github.com/google/llvm-bazel#usage), but only get the following error immediately:

[code]

[2021-04-07 12:22] Wyverald commented on #13288
This is essentially a dupe of https://github.com/bazelbuild/bazel/issues/12947.

Your description of the cause of the bug is exactly as I understand it, but the fix should probably be that we fix `blaze query` to behave according to what is fetched (ie. like RepositoryDelegatorFunction). We probably allow redefinition of repositories because of the deps.bzl pattern (only guessing here). We _do_ di

[2021-04-07 12:22] #13288 closed

[2021-04-07 14:38] illicitonion commented on #13099
Can I throw in a request for 5593358a58b66f06c4e421bb48856de94c3fd625 which fixes https://github.com/bazelbuild/bazel/issues/13243?

[2021-04-07 15:34] aiuto commented on #13142
@qaisjp  Could you provide a small reproduction?

[2021-04-07 15:39] aiuto commented on #13231
@meteorcloudy You added this flag. Can you comment on it? It's not really Configurability's wheelhouse.

[2021-04-07 16:28] GMNGeoffrey commented on #12630
@Wyverald looks like you didn't init submodules. One sec I'll provide a more detailed review of the things I see.

[2021-04-07 16:37] meteorcloudy commented on #13231
This looks like a bug, I'll take a look

[2021-04-07 17:27] aiuto commented on #13231
This feature has some problems as implemented. Most of the time people use config:xx to specify the **target** platform configuration.  The examples that people pointed out in #5055 are mostly about the need to auto-specify different options based on the **host** platform.

The fact that it just selects on 'linux' makes it too easy to fall into the trap of putting both host specific and target spe

[2021-04-07 19:49] GMNGeoffrey commented on #12630
Ok further details:

This happens to me with both https://github.com/google/iree and https://github.com/google/llvm-bazel. These repositories use different versions of Bazel: 3.3.1 and 3.7.1. Fetching new commits does not appear to be the proximate cause, as I had originally guessed. Rather it seems to happen whenever the Bazel server starts up again. The error is not for a consistent package (lik

[2021-04-07 20:21] #12631 closed

[2021-04-07 21:27] shirchen opened #13312 "BEP events future is stuck when running with experimental_remote_grpc_log option"
### Description of the problem / feature request:

While debugging a timeout for uploading BEP events
[code]

I tried running build with `experimental_remote_grpc_log` option, however, it looks like build event future has gotten stuck and build hangs indefinitely.

[code]
Explicitly setting bes_timeout didn't help and future remains stuck.

### Feature requests: what underlying problem are you try

[2021-04-08 03:32] bkotsopoulossc commented on #7534
Any suggestions on this?

[2021-04-08 08:00] comius commented on #13157
I created a reproduction https://github.com/comius/bazel_issue_13157.

It is a bug in the old resolution, but there is nothing to worry about, because the right JDK is used for both compilation and execution. I'll check if I can fix this, if not, this will be fixed once old resolution is removed.

[2021-04-08 09:35] chandlerc opened #13315 "Restore `host` and `nonhost` toolchain features (reversing #7407)"
### Description of the problem / feature request:

Currently it is necessary to pass `--incompatible_dont_enable_host_nonhost_crosstool_features=false` to get `host` and `nonhost` features back in the C++ toolchain.

In #7407 these were suggested to be removed because there may not be a separate host and target platform or toolchain. That is true, but features in C++ toolchains control much more t

[2021-04-08 09:42] illicitonion commented on #13157
Fantastic, thanks!

It looks like our issues are a combination of https://github.com/bazelbuild/bazel/issues/13302 (for local execution) and needing https://docs.google.com/document/d/1U9HzdDmtRnm244CaRM6JV-q2408mbNODAMewcGjnnbM/edit (for mixed local/remote execution) - closing in favour of those :)

[2021-04-08 09:42] #13157 closed

[2021-04-08 10:11] nresare commented on #13268
Thank you for tagging it to the right recipient. It is in the context of an http archive, yes.

I can definitely agree that in an ideal world, everyone would 1) have their filesystem be case sensitive and 2) have their toolchain tarballs be set up such that they could be unpacked using bazel (u+w permission everywhere) but I think that there is an argument to be made that bazel can be user friendl

[2021-04-08 11:29] larsrc-google commented on #10498
Reading through this again, it seems to be a bigger issue than just workers. If I understand correctly, your action runs a binary that loads some dynamic library, but this library is not declared as part of the runfiles (or some of its further dependencies aren't declared). But that would mean that your build, regardless of use of workers, is not properly hermetic, since a change that Bazel is not

[2021-04-08 12:06] Wyverald commented on #12630
I tried building llvm-bazel, shutting down the Bazel server after that, and then re-building llvm-bazel again, and nothing has gone wrong yet so far. But as you said the problem doesn't always happen after a server restart, so I'll try a rebuild every now and then to see if I can catch a repro.

What's your RBE setup? Maybe that could be related?

Also could you go into `$outputBase/external/bazel

[2021-04-08 14:36] trybka commented on #11869
No thoughts beyond https://github.com/bazelbuild/bazel/pull/13123#issuecomment-806090314 and https://github.com/trybka/scraps/blob/master/Apple_Stripping.md

I think your commit to add `-x` to improve bundles is reasonable, though.

@googlewalt is working on more unification of the C++ and Objc underlying rule support, and I think that will unblock the way to share more of the common idioms (like

[2021-04-08 15:42] meteorcloudy opened #13316 "Implement Bzlmod in Bazel"
Implement the new dependency management system proposed in https://docs.google.com/document/d/1moQfNcEIttsk6vYanNKIy3ZuK53hQUFq1b1r0rmsYVg/edit?usp=sharing

[2021-04-08 15:44] meteorcloudy commented on #13316
We'll first build a MVP in the bzlmod branch.

[2021-04-08 16:05] #11883 closed

[2021-04-08 17:09] endobson commented on #10498
All of my tools are intended to be hermetic and I use bazel to generate them. The underlying racket vm/runtime is an external repository in my WORKSPACE and I'm using toolchains to find them for the rules (https://github.com/endobson/minimal-racket/blob/master/WORKSPACE).

What I think you are referring to as the dynamic library is the `bazel-tools/racket-compiler` library that I use here: https:/

[2021-04-08 17:45] larsrc-google commented on #10498
After chatting, we found that the four lines from https://github.com/endobson/minimal-racket/blob/3ad8f443f517b1ece4a1e7bbd1b8ee2b37b7919f/racket.bzl#L108 should go into `tools` instead of `inputs`. @endobson will try this out.

[2021-04-08 17:52] GMNGeoffrey commented on #12630
Yeah I also haven't been able to repro by just manually shutting down the server. Maybe something with idle server shutdown? It seems to happen the first time I go to build for the day (which was why I thought it had to do with syncing, since I usually do that). The RBE setup is in the [.bazelrc](https://github.com/google/llvm-bazel/blob/cb35dc3ccfbee295788c50fb473182166c68ef0c/llvm-bazel/.bazelrc

[2021-04-08 17:59] GMNGeoffrey commented on #12630
Same issue with rules_cc:

[code]

vs

[code]

And then if I `bazel clean --expunge` the directory is deleted. `bazel test ...` passes.

[code]

The directories are correctly populated. So... something is deleting those files?

I'm poking around looking for linux utilities to tattle on a process that deletes a file.

[2021-04-08 18:44] GMNGeoffrey commented on #12630
Ok so more details. I tried following https://askubuntu.com/questions/48844/how-to-find-the-pid-of-the-process-which-has-deleted-a-file to audit the deletion of that file, but couldn't get it to work. In the meantime, manually deleting $outputBase/bazel_skylib/BUILD causes the same issue, unsurprisingly. No server restart necessary.

[2021-04-08 19:24] GMNGeoffrey commented on #12630
Ok I think I've set up an auditd rule to watch for deleting of bazel_skylib, so we'll see how that goes.

[2021-04-08 19:27] GMNGeoffrey commented on #12630
Realized I never answered this question. Any bazel build/test of the repository basically. Simplest is just `bazel test ...` from the llvm-bazel subdirectory

[2021-04-08 19:32] mishas opened #13317 "Cross compiled Go (and possibly other languages), fully rebuilds when unrelated skylib flags change"
### Description of the problem / feature request:

When adding a flag (e.g. `string_flag` rule) from skylib, and passing that flag to a build for a Go binary that has `goos` and `goarch` set for it (even if not cross-compiling) - everything fully rebuilds (including host-run tools, like protoc).
This happens even if that flag is not used anywhere (see example below).

This happens without protoc a

[2021-04-08 19:43] GMNGeoffrey commented on #12630
Oh no... I think I know the problem... and it's my fault... :facepalm:

[code]

Bazel kept on using up all of my disk space, so I figured I could empty out old cache entries. It's called "cache" so surely it must be ok to delete things from a correctness perspective. Apparently that's not true :grin:

But also

[code]

that doesn't seem right?

So I did a bad thing for sure and this is my fault. I

[2021-04-08 21:49] xyt0056 opened #13318 "Provide an option to run bazel server as a container"
### Description of the problem / feature request:
We use docker containers to test our builds in CI and use bazel query to query the targets needed to be tested. However, since our monorepo is large containing hundreds of project, we found that the query takes long to finish in each container; compared to if we run the job directly on host without docker, subsequent queries can take advantage of p

[2021-04-09 02:21] coeuvre commented on #13312
This should be fixed by #12416 which is included in `4.0.0`.

[2021-04-09 03:06] spincraft commented on #13204
thanks for your reply.
open RUN and type bazel, gives the error dialog;
Windows can not find Bazel
From the Command Prompt bazel gives
bazel is not a recognized internal or external command
So, I suspect the PATH env. variable needs to be setup.
C:\Users\DP\AppData\Local\Programs\Microsoft VS Code\bin

your comments are welcome.

[2021-04-09 03:16] aiuto commented on #13204
Have you followed the installation instructions at https://docs.bazel.build/versions/4.0.0/install-windows.html

[2021-04-09 03:42] endobson commented on #10498
Haven't yet got to seeing if tools versus inputs will solve my particular problem, but I'm fairly confident we correctly identified the issue. But I spent some more time thinking about it and I think the original point that the distinction between deps and tools is not sufficient for workers solely given their definitions. But it might be made sufficient with documentation on how workers treats th

[2021-04-09 06:44] lberki commented on #12630
I don't think Bazel (or any software) can be resilient to deleting various data files from under it.

I am somewhat surprised about Bazel using hundreds of gigabytes of storage. It should create exactly one directory directly under `.cache/bazel` for each workspace root and the disk usage within one such directory is should be a function of the amount source code being built.

If you want to clean

[2021-04-09 06:44] #12630 closed

[2021-04-09 06:50] coeuvre opened #13320 "Bazel CI: Downstream projects broken due to the change to StarlarkToolchainContext"
https://buildkite.com/bazel/bazel-auto-sheriff-face-with-cowboy-hat/builds/486

Caused by https://github.com/bazelbuild/bazel/commit/627c16e0e4ae70161c5694a369acd21af87e3d50.

rules_docker:
[code]

rules_go:
[code]

rules_jvm_external:
[code]

rules_webtesting:
[code]

[2021-04-09 06:50] coeuvre commented on #13320
cc @katre

[2021-04-09 07:34] davido commented on #11674
jacoco (min 0.8.6) and asm (min 9.0 beta) update also needed for Java 16 toolchain support.

[2021-04-09 08:24] Wyverald commented on #12630
I wanted to add to a few points:

That's true. You can nuke the entire cache directory and Bazel will still work fine. You can even nuke some subdirectories under there (for example ~/.cache/_bazel_gcmn/<some_hash>). But I don't think it's fair to expect Bazel to keep working when random files are deleted in the cache folder.

If you mean the mtime being in 1999 doesn't seem right, that's on bazel

[2021-04-09 08:28] lberki commented on #12630
The mtimes are that old for reasons of hermeticity; we don't want the exact time used for the build to influence its outputs so we stub out the timestamps.

[2021-04-09 09:30] agoulti opened #13321 "Bazel head breaks RBE tests"
This is a tracking bug to ensure that all the fixes are cherrypicked into the release.

[2021-04-09 12:19] katre commented on #13320
Huh, that wasn't supposed to have a change in behavior. @brandjon, can you see where I went wrong?

I'll investigate and fix this. @coeuvre, do you prefer a rollback, or can I investigate and fix?

[2021-04-09 12:47] illicitonion commented on #13302
Good point - there is _a_ way - I'd argue that being able to couple "This java_runtime always uses these flags" is still a useful feature, but it's probably lower priority given you can just set `--jvmopt` in parallel with configuring the `java_runtime` (as long as you're only using one `java_runtime`).

[2021-04-09 15:54] GMNGeoffrey commented on #12630
Thanks @Wyverald for asking the critical question that made it possible for me to figure out what was going on here:

This was key :-)

Agreed. I misunderstood which things were safe to delete. Sorry about that!

I'm going to try not cleaning things up for a little bit and see what starts filling up. I think it was some combination of these caches and the bazel disk cache, and it's possible that w

[2021-04-09 16:29] hyeygit commented on #13241
Is anyone looking at the issue? Could someone help find an assignee possibly?

[2021-04-09 17:29] davido opened #13323 "com.sun.management.ThreadMXBean#getCurrentThreadAllocatedBytes() is missing in remote JDK 11"
If I install recent Open JDK 11 on Linux or Mac Os X, the method is there: `getCurrentThreadAllocatedBytes`:

[code]

And the method is there:

[code]

If I try to build with Bazel 4.0.0 a class that is trying to use this method: [1], the build will fail:

[code]

And in fact, with javap of provided remote JDK 11:

[code]

We can confirm that this method is missing:

[code]

Even though, the metho

[2021-04-09 20:26] Bellagitout16 commented on #13238
I reverted this CL (which removed mention of CLion) per Danielle's request since the CLion issue will be resolved soon

[2021-04-09 20:31] Bellagitout16 commented on #13238
Note from aliceks@
As in the last years, the IntelliJ team is still exporting the Bazel IntelliJ plugin and this includes a version for CLion. We're currently just lagging a bit behind with the IDE versions but are working on catching up (b/175568614; see also go/bazel-plugin-2021 but please don't spread it further, especially not outside of Google). Catching up takes some time as especially 2020.

[2021-04-09 23:24] gregestren commented on #6842
https://github.com/bazelbuild/bazel/commit/ebac27ec5a6063556482841da98d63d1abcf1e44 did it!

[2021-04-09 23:24] #6842 closed

[2021-04-10 00:30] arxanas commented on #9422
Here is a full example of the new invocation:

[code]

For example, to show just the names of the providers which are available, you can call `.keys()` on the resulting `dict`:

[code]

[2021-04-10 01:48] nfelt commented on #12110
I would like to +1 that with the current output this flag honestly provides net negative value in debugging because the output is so confusing.  Here's a completely bare-bones example of the output I get on my gLinux workstation with Bazel 3.7.0 (which I realize is not latest, but it doesn't seem like much has changed other than converting the flag to take a regex filter).

Command:

[code]

Outpu

[2021-04-10 02:45] keith commented on #13156
@susinmotion can you move this over to rules_apple?

Right now bazel can't run directly to an iOS device. This PR was a take on this https://github.com/bazelbuild/rules_apple/pull/364

The simulator running support is implemented here https://github.com/bazelbuild/rules_apple/blob/master/apple/internal/templates/ios_sim.template.py I'm not sure off the top of my head how we would reuse an existing

[2021-04-10 06:55] cpsauer commented on #10738
This was fixed, I'm pretty sure by #10674--given what I've learned about Bazel since writing this long ago.

Thanks, @googlewalt! Really appreciate your making C++ -> Obj-C dependencies work :)

[2021-04-10 06:55] #10738 closed

[2021-04-10 09:21] regisd commented on #6356
It seems some people have managed to run nullness checks using Uber's nullway.
https://stackoverflow.com/questions/48555320/run-checker-framework-with-bazel

[2021-04-10 09:56] StarOnTheSky opened #13324 "Failed to build on Linux aarch64"
### Description of the problem / feature request:

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

`❯ bazel build //src:bazel                                                          DEBUG: /root/.cache/bazel/_bazel_root/6171aa1425ff53eef39f25e54576898b/external/bazel_toolchains/rules/rbe_repo/version_check.bzl:68:14:

[2021-04-11 03:46] y3llowcake commented on #1920
I ran into this while working on a project that is mostly developed under bazel, but then needs to be exported as a monolithic static archive so it can be linked against from a different build system. I was quite surprised to find this capability was not supported natively via cc_rules.

After reading through this issue and digging around on github I was unable to find a rule to crib from. I manag

[2021-04-11 11:25] xloem commented on #10746
I'm on i686 debian bullseye and running into this issue trying to build bazel 3.7.2 from the dist archive.  It's unclear how to make it work, generally, on an unsupported or failing system.

[2021-04-11 11:45] evalphobia commented on #11379
I'm running into same error on m1-chip Macbook and docker buildx to create amd64 image.

[code]

[code]

This error also happen on GCP's docker image on my environment.

[code]

ref: https://github.com/GoogleCloudPlatform/cloud-builders/tree/master/bazel

Then I tried the uncomment sed lines on Dockerfile, (ref: https://github.com/PINTO0309/Bazel_bin/issues/2 )
the installation process seemed to b

[2021-04-11 18:05] mzhaom opened #13325 "cxx_flags is passed to C compiler when compiling C file"
### Description of the bug:

I tried to use `CC=clang bazel build` to build a project, for example https://github.com/bazelment/trunk, with
[code]

### My understanding

Looking at `bazel-trunk/external/local_config_cc/BUILD`, I noticed the `cxx_flags = ["-std=c++0x"],`
My impression is `cxx_flags` should be only used when compiling C++ files, not C files.

So I guess there might be miswiring ther

[2021-04-11 18:26] mzhaom commented on #13325
Workaround:

[code]

Set `BAZEL_CXXOPTS` to empty to disable cxx_flags to the generated toolchain config, and use `--cxxopt` to specify a global cxx option.

[2021-04-11 20:23] jayeye opened #13326 "Documentation issue: Command-Line Reference"
Documentation URL: https://docs.bazel.build/versions/master/command-line-reference.html

The entry for `--workspace_status_command` says:
_A command invoked at the beginning of the build to provide status information about the workspace in the form of key/value pairs. See the User's Manual for the full specification. Also see tools/buildstamp/get_workspace_status for an example._

Two problems:

1

[2021-04-11 21:23] jakeleventhal commented on #8230
Bump on this

[2021-04-11 22:30] nirvana-msu commented on #5893
In case it helps someone, here's a recipe on how one could build a recent Bazel version on RHEL 6.

It is largely based on the [building bazel on CentOS-6](https://gist.github.com/truatpasteurdotfr/d541cd279b9f7bf38ce967aa3743dfcb) gist using `devtoolset-7`, however starting from a certain Bazel release, the build was failing. The missing part was to specify `BAZEL_LINKLIBS=-l%:libstdc++.a` as was

[2021-04-12 02:32] coeuvre commented on #13320
Thanks for the quick fix!

[2021-04-12 02:38] coeuvre opened #13328 "Bazel CI: Downstream projects broken due to the flip of trim_test_configuration"
https://buildkite.com/bazel/bazel-auto-sheriff-face-with-cowboy-hat/builds/488

Caused by https://github.com/bazelbuild/bazel/commit/ebac27ec5a6063556482841da98d63d1abcf1e44.

rules_haskell:
[code]

Intellij Plugin Aspect:
[code]

@sdtwigg, since the breakages are described in the commit message, are they indented behaviors for the flip so we should let downstream to update accordingly?

[2021-04-12 03:03] alexeagle commented on #8230
I think this problem is especially noticeable under nodejs rules, where the number of inputs is easily an order of magnitude more than most other ecosystems due to lack of archive files (every file in the package is a separate input) and the dependency problem in JS (hundreds of transitive dependencies for common tools like react-scripts).
We're working on a fix in rules_nodejs to provide each pac

[2021-04-12 03:54] baisijian opened #13329 "how to run all test in bazel"
### Description of the problem / feature request:
java_test(
    name = "sleep0",
    srcs = glob(["src/test/java/com/example/*Test.java"]),
    test_class = "com.example.XXTest",
    runtime_deps = [":xxx"],
)
there are three test XXtest, YYTest,ZZTest, how to run all?

### Feature requests: what underlying problem are you trying to solve with this feature?

### Bugs: what's the simplest, easiest

[2021-04-12 04:49] thii opened #13330 "Bazel crashes when user sets their own `DEVELOPER_DIR`"
### Description of the problem / feature request:

Bazel crashes when the user sets their own `DEVELOPER_DIR` environment variable.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Set `DEVELOPER_DIR` environment variable to a value in the Apple CROSSTOOL file and build with that.

### What operating system are you running Bazel on?

[2021-04-12 07:25] davido opened #13333 "Bazel regularly crashes"
We are regularly seeing Bazel crashes on the CI:

[code]

I'm not sure how to reproduce, but the CI Job is using this arguments:

[code]

Here the last failures: [1]. The build is executing on GCloud instance.

Used Bazel version: 4.0.

Gerrit Code Review is here: https://gerrit.googlesource.com/gerrit.

[1] https://gerrit-ci.gerritforge.com/view/Gerrit/job/Gerrit-bazel-java11-stable-3.4/11/consol

[2021-04-12 09:52] philwo commented on #8230
I have recently tried replacing symlinks with APFS copy-on-write copies and also putting Bazel's output_base on a separate APFS volume, unfortunately it wasn't a clear win and sometimes even slower (although it should be much better for hermeticity).

Next thing I wanted to try was whether it's faster to keep persistent sandboxing directories around and only apply the changes required (e.g. remove

[2021-04-12 09:58] larsrc-google commented on #8230
At
https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/worker/WorkerExecRoot.java#L148,
the worker sandbox deletes files that shouldn't be in the sandbox for the
action, but it doesn't remove the inputs that are already there from
`inputsToCreate`. I can't tell if there's a reason for that, nor whether
re-creating them takes significant time.

-Lars

On Mon,

[2021-04-12 10:07] philwo commented on #8230
The main reason for that special behavior for the sandboxed persistent worker case was that as the worker process stays running, we cannot delete files that it already has opened on Windows, so just removing and recreating everything doesn't work.

However, I think only making the required changes is much faster than deleting and recreating everything, too. For example, on macOS the Spotlight inde

[2021-04-12 10:09] larsrc-google commented on #8230
I wasn't suggesting recreating everything, rather the opposite: We should
take existing files out of inputsToCreate. I just don't know if there's
some reason that's not already done.

-Lars

On Mon, 12 Apr 2021 at 12:07, Philipp Wollermann ***@***.***>
wrote:

[2021-04-12 10:16] philwo commented on #8230
Ohhh! Sorry, now I understand. Maybe we did that because we couldn't (or just didn't?) verify that the input files were unmodified? We definitely want to avoid the case where a sandboxed process modifies the input files and then those get reused by a following action.

[2021-04-12 11:26] meteorcloudy commented on #13241
Ping @comius @cushon

[2021-04-12 11:54] meteorcloudy commented on #13241
It's mostly like something is wrong with the JDK installed. I reply to the internal issue and hopefully we can find a way to debug this.

[2021-04-12 11:55] katre commented on #12110
@nfelt: Have you tried with a Bazel that includes fbf9f9d?I find that filtering the toolchain types I want reported makes the output much more useful. If that's not the case, I'd be curious to know more about why.

[2021-04-12 12:52] fweikert commented on #13320
Bazel auto-sheriff is convinced that the culprit here also caused this very different error: https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1990#284aa31e-ee16-447a-af9f-7a30606fc5a5

[2021-04-12 13:08] katre commented on #13320
There shouldn't be any behavior changes (after b120d4f), but I will investigate.

[2021-04-12 13:11] #13301 closed

[2021-04-12 13:23] fweikert commented on #13320
I wonder whether https://github.com/bazelbuild/bazel/commit/ebac27ec5a6063556482841da98d63d1abcf1e44 is the actual culprit, based on the commit message.

[2021-04-12 13:28] katre commented on #13320
I can reproduce the error with bazel at head, and it goes away when I run with `--notrim_test_configuration`, so that seems more likely.

[2021-04-12 13:34] fweikert commented on #13328
These errors still show up in the latest downstream build: https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1990#ef50ceea-a88d-4401-b746-bd817e0fafc7

katre@ [confirmed](https://github.com/bazelbuild/bazel/issues/13320#issuecomment-817812018) that setting `--notrim_test_configuration` fixed the problem.

[2021-04-12 13:35] fweikert commented on #13320
John, thanks for testing! I discovered another GitHub issue that I hadn't noticed before. Sorry for the noise.

[2021-04-12 13:35] #13320 closed

[2021-04-12 15:01] mtippmann commented on #12968
is that really noise? I'm also seeing bad-path elements with 4.0.0 but the files are non-existent like in xalan example from @uri-canva - when running the build the jvm also throws classpath-exceptions. in maven this works fine, there is probably a bug somewhere else? Is this related to optional dependencies like for xalan: https://mvnrepository.com/artifact/xalan/xalan/2.7.2

fwiw in 3.7.2 there

[2021-04-12 15:42] sdtwigg commented on #13328
The rules_haskell breakage is a little odd. I would expect the `--trim_test_configuration` change to break the build here with an analysis error if it was going to have any effect rather than subtly change the list of files. I definitely would like for them to look into why this happened and try to fix forward.

The c++ action conflict for the Intellij plugin aspect is definitely not surprising. I

[2021-04-12 15:50] finn-ball commented on #13099
Can we have this in please? It fixes RE + cc_test coverage:

https://github.com/bazelbuild/bazel/commit/ab1da7beb367147d7d2df17f53bbf0ed78118b69

[2021-04-12 17:41] fweikert commented on #13328
The rules_haskell failure can be fixed by setting `--notrim_test_configuration`:

Without the flag:
[code]

With the flag:
[code]

[2021-04-12 17:43] devjgm opened #13337 "FR: Make it easy to run `clang-tidy` with bazel"
### Description of the problem / feature request:

Feature Request

### Feature requests: what underlying problem are you trying to solve with this feature?

I want to run `clang-tidy` over my large C++ project. It's easy to do with CMake, but I don't know how to do this with bazel.

I *do* know how to use https://github.com/grailbio/bazel-compilation-database to get a compilation DB out of bazel,

[2021-04-12 19:15] jondo2010 commented on #6481
This is still a problem with `v4.0.0`

[2021-04-12 21:16] dws commented on #13037
I get the same error with an `sh_binary` target, so it doesn't appear to be specific to C++:
[code]

[code]

[2021-04-12 21:24] dws commented on #13037
There's a similar problem with using `...` as a target name:

[code]

I would have expected a diagnostic similar to what I get when using a `*` as a target name:
[code]

[2021-04-12 21:37] gregestren commented on #12559
@stefanbucur what was your expected value with `None`. "Empty" or "default"? https://github.com/bazelbuild/bazel/pull/13286#discussion_r605309466 discusses the idea of it meaning default.

I also acknowledge in https://github.com/bazelbuild/bazel/issues/12559#issuecomment-800353573 you suggested simply disallowing `None`.

[2021-04-13 00:13] wisechengyi commented on #13099
If possible, can we add https://github.com/bazelbuild/bazel/commit/61da1d2bf10eabba4c75de959b0374f302d89d70 as the review process took 3 months? It would be nice if we don't have wait for another release.

[2021-04-13 00:57] mobileink opened #13338 "Please fix the genrule documentation!"
### Description of the problem / feature request:

It's way too hard to figure out how to use genrules for the trivial case of generating and depending on multiple c header files.  I have a very simple cc_binary rule that needs headers generated by:

[code]

By trial and error I discovered this works:

[code]

which is obviously a hack. After too much time searching the web, I found:

[code]

This

[2021-04-13 09:26] lberki commented on #10904
_"Though a program be but three lines long, someday it will have to be maintained."_

I agree with @aiuto here; this looks like something that's easy to achieve with a wrapper script and thus provides little gain for the additional implementation complexity.

Looking at #13266 , a number of issues come to mind:
* it's unclear how tokenization works (what if the environment variable contains spaces

[2021-04-13 12:25] theimeto commented on #13337
I believe action listener is the most reasonable approach:

`bazel build --experimental_action_listener=<clang_tidy_listener> foo:bar`

Where `clang_tidy_listener` is target in some BUILD file as:
[code]

The `clang_tidy_launcher` will be invoked (in parallel with the normal build action) with a filepath to a serialized `ExtraActionInfo` proto and in an environment identical with the build action

[2021-04-13 12:43] fweikert commented on #13328
Filed https://github.com/tweag/rules_haskell/issues/1536 to track the rules_haskell issue (since there might be something weird going on in their bzl files).

[2021-04-13 13:02] brentleyjones opened #13340 "Should be allowed to set `remote` `--spawn_strategy` without `remote_executor` set"
### Description of the problem / feature request:

Currently, if you set a manual `--spawn_strategy` that includes `remote`, but `remote_executor` isn't set, you get an error about an unknown spawn strategy (because the `RemoteModule` isn't loaded). This makes it very difficult to customize the spawn strategy that should be used (e.g. disabling sandboxing on macOS, but conditionally enabling remot

[2021-04-13 13:02] psigen commented on #10904
Perhaps I can walk through some of the issues I have had with using a wrapper script in these cases, to demonstrate a bit about why this is not something that's particularly easy to emulate with a wrapper script.

There are a few primary use cases that I have for this functionality (others may have additional):
1. Many cloud-based CI systems pass settings/tokens via environment variables by defaul

[2021-04-13 14:49] brentleyjones opened #13342 "`--modify_execution_info` should be additive"
### Description of the problem / feature request:

Calling `--modify_execution_info` multiple times results in the last version being used, instead of allowing the addition/removal of current execution info. It should be additive, or a new flag should exist that allows it to be called multiple times.

### Feature requests: what underlying problem are you trying to solve with this feature?

In diff

[2021-04-13 14:50] lberki commented on #9006
Ow, this bug is still open? After careful consideration, we decided that this would be change that causes way too much breakage, so we decided to take another approach instead: we'll teach Bazel to be able to carry Starlark rules with itself just like it does ones implemented in Java now. We'll have to figure out how to decouple these rules from Bazel, of course, but that's a next step. (My crysta

[2021-04-13 14:50] #9006 closed

[2021-04-13 15:36] siddharthab commented on #10075
For all who are still struggling with this issue, consider just making your volatile status files constant through your workspace status command. You can use an environment variable to control this behavior, which can be set or unset depending on whether you are testing or deploying. If the status files themselves are constant, you don't have to worry about how they are handled by bazel and any la

[2021-04-13 15:40] bansalvinayak opened #13344 "Compression Support"
### Description of the problem / feature request:
Remote Execution API has released support for Compressed Transfer (https://github.com/bazelbuild/remote-apis/pull/168), and it would be good for bazel to take advantage of it

### Feature requests: what underlying problem are you trying to solve with this feature?
Save network bytes and speed up upload and download transfers for network constrained

[2021-04-13 16:40] brandjon commented on #11437
Status update: This (internal) feature is enabled and we can proceed to cleanup old code paths.

[2021-04-13 17:28] jayeye opened #13345 "Documentation issue: Macros"
Documentation URL: https://docs.bazel.build/versions/master/skylark/macros.html

Where does `native` come from? I get
`ERROR: /home/ji/foo/src/WORKSPACE:131:5: name 'native' is not defined`

[2021-04-13 17:53] davido opened #13346 "Error Prone is broken on Bazel@HEAD"
EP was recently upgrades to 2.6.0, but some transitive dependencies, most notably `checker framework` was missed to be updated:

[code]

Here is upstream CL: https://github.com/google/error-prone/commit/d1b93d468d6b5f81aefd10b0660657799fa4741e.

[2021-04-13 18:40] jerrymarino opened #13349 "/dev/null in action cache, remote caches, etc ( `/cas/e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855` )"
### Description of the problem / feature request:

Hello! I noticed today about 100x more requests for a certian object in a remote http cache. `/cas/e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855`

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[code]
[code]

### What operating system are you running Bazel on?

ma

[2021-04-13 18:45] ghvg1313 commented on #12320
Yeah I meant `order_output=full`

[2021-04-13 19:00] ozio85 commented on #5433
Hmm. We see error quite frequently also in Bazel 4.0.0

[2021-04-13 20:30] jerrymarino commented on #13349
PS: It looks like atleast of the AC entries for a .d file for C++ this.

For now, if anyone is looking for a mitigation without extra an extra proxy or file system, adding a `disk_cache` infront of the remote cache [the client will download it from there first](https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/remote/disk/DiskAndRemoteCacheClient.java#L139

[2021-04-14 02:24] brunobely opened #13350 "Documentation issue: Building JavaScript Outputs"
Documentation URL: https://docs.bazel.build/versions/master/build-javascript.html

From #6319:

But this docs page still uses the old file and Bazel issues a warning when running:

[code]

[2021-04-14 04:55] nfelt commented on #12110
Thanks for the response.  I haven't tried Bazel with the new flag (since it's not in 4.0.0 and I'm not aware of a particularly straightforward way to get a nightly build).  But is it functionally any different from just grepping the output?

For my actual problem, even grepping the toolchain resolution output for lines containing `py`, I still get something takes a lot of scrutinizing for it to ma

[2021-04-14 06:17] laszlocsomor commented on #5433
Unassigning, since I no longer actively work on Bazel.
/cc @meisterT

[2021-04-14 07:31] meteorcloudy commented on #5433
@ozio85 Sounds like you are experiencing a different problem that this one, can you please fill another issue with some reproducing steps if possible? I'll close this one since the original issue was resolved.

[2021-04-14 07:31] #5433 closed

[2021-04-14 08:01] jin commented on #13350
cc @alexeagle

[2021-04-14 08:03] jin commented on #13346
Looks like https://github.com/bazelbuild/bazel/commit/1eb6cc078af9c6aba1a88521d36f46eac4ed1f9a is merged, could you verify that it's resolved?

[2021-04-14 08:04] jin commented on #13345
`native` can only be used in `.bzl` files, not WORKSPACE or BUILD. Perhaps we can improve the documentation to add a note about where `native` can be used? cc @communikit

[2021-04-14 08:07] jin commented on #13333
Looks like a worker crash. cc @larsrc-google

[2021-04-14 08:09] jin commented on #13329
This may be useful: https://stackoverflow.com/questions/46365464/how-to-run-all-tests-in-bazel-from-a-single-java-test-rule

Please ask questions on StackOverflow, bazel-discuss mailing list or slack.bazel.build.

[2021-04-14 08:09] #13329 closed

[2021-04-14 08:11] larsrc-google commented on #13333
Yes, that's a know issue that I fixed back in January (https://github.com/bazelbuild/bazel/commit/a607d9dc70ac67f1aa2c32ca954177f9c77860be). I have requested the fix to be picked into the next 4.0 release.

[2021-04-14 08:12] #13333 closed

[2021-04-14 08:38] parbo opened #13351 "Make it possible to use a windows SDK without installing it"
### Description of the problem / feature request:

When building C++ for windows, you can specify the compiler tools with `BAZEL_VC`.  You can aslo specify the Windows SDK _version_ with `BAZEL_WINSDK_FULL_VERSION`. The latter however only works if that Windows SDK is _installed_ in the system. It would be helpful to have `BAZEL_WINSDK_PATH` or similar to point to a Windows SDK location without ha

[2021-04-14 12:01] phone-burner commented on #13324
🏷️ platform:linux

[2021-04-14 12:15] jin commented on #13190
A better avenue for issues that aren't bugs or FRs will be StackOverflow, bazel-discuss or slack.bazel.build.

[2021-04-14 12:15] jin commented on #13204
Closing as not a bug/FR. Please direct usage questions to slack.bazel.build, bazel-discuss mailing list or StackOverflow.

[2021-04-14 12:15] #13204 closed

[2021-04-14 12:47] davido commented on #13346
Yes, thanks.

[2021-04-14 12:47] #13346 closed

[2021-04-14 12:52] davido commented on #13333
//CC @philwo

Every second Gerrit build crashes: [1]. Can someone help to unblock us? Is the fix a part of 4.1.0rc1? Or, otherwise, can you release hotfix version with the fix ASAP?!

[1] https://gerrit-ci.gerritforge.com/view/Gerrit/job/Gerrit-bazel-java11-stable-3.4/

[2021-04-14 13:14] philwo commented on #13333
@davido Could you use `--experimental_worker_multiplex=false` to workaround until 4.1.0 is released?

[2021-04-14 13:36] colatkinson commented on #13337
I actually implemented something like this, though it's admittedly a bit of a hack: https://git.sr.ht/~colatkinson/boios/tree/92371b4219d18b1c09ec82edcaa9855b5134138e/item/utils/rules/clang_tidy.bzl

`clang-tidy` runs are represented as tests, and are attached to each target via a macro. Notably it does one run per target, not per TU, though I think that could be changed.

It leverages the compdb

[2021-04-14 13:52] devjgm commented on #13337
Thanks for the ideas and inspiration @theimeto and @colatkinson. Those may be good ideas for the bazel team. However, I want to make it clear that this Feature Request is

... for the **bazel team** to provide an **easy out-of-the-box** solution for users run clang-tidy over their code.

Like, I want to run something like `bazel test --run_checker=clang-tidy //...` (I made up the `--run_checker` f

[2021-04-14 14:24] davido commented on #13333
@philwo Thanks, I've sent this CL for review: [1].

[1] https://gerrit-review.googlesource.com/c/gerrit/+/303334

[2021-04-14 14:29] phone-burner commented on #13324
From https://github.com/tensorflow/tensorflow/issues/48453 :
I have confirmed that it's a bug of bazel's `local_config_cc` . It considers my `aarch64` device as `piii` (maybe Intel's Pentium III?) and then `bazel` cannot find the right toolchain . Temporarily fixed by modifying `/root/.cache/bazel/_bazel_root/6171aa1425ff53eef39f25e54576898b/external/local_config_cc/BUILD` .
Original file :
[code]

[2021-04-14 14:45] phone-burner commented on #13324
Still , this bug has not been fixed . I don't know where the rule `local_cc_toolchain` comes from . Later I'll try to fix it .

[2021-04-14 14:46] #11674 closed

[2021-04-14 14:56] parbo commented on #13351
NVM, I figured out that if I set `WINDOWSSDKDIR` environment variable, then `VCVARSALL.bat` will pick that instead of the installed. So I don't need a bazel option for it.

[2021-04-14 14:57] #13351 closed

[2021-04-14 14:59] janakdr opened #13352 "interrupting `bazel fetch` crashes"
[code]

Presumably there should be a message specified in https://github.com/bazelbuild/bazel/blob/8564a01b4f14555334dfd397f8bdb392ee8a53c4/src/main/java/com/google/devtools/build/lib/bazel/commands/FetchCommand.java#L154: InterruptedException often has a null message, so it's not a good candidate.

The error messages are also a bit weird. Why is the INFO message about instantiation printed after

[2021-04-14 15:22] gregestren commented on #13190
Hi @friendly-pineapple , I tagged this with `team-Performance`, who has the best insights into `query`. Hopefully they can offer some more guidance.

[2021-04-14 16:26] gregestren commented on #12731
Can you clarify your desired behavior specifically for this example?

I think I understand the basic themes, both what the bug requests and what the example does. But I don't fully parse how you want to integrate the two?

My reading of the example is:

- First build of `//myB` uses `--//test:myCmdLineFlag=True, --test:myTRansitionFlag=True`
- Second build of `//myB` uses `--//test:myCmdLineFlag=F

[2021-04-14 16:34] erenon commented on #13337
FTR, there's also https://github.com/erenon/bazel_clang_tidy

[2021-04-14 18:03] wintermoon9 opened #13353 "Homebrew installation broken"
I am trying to install Bazel. I have successfully installed Bazel many times with this command. My CI started failing yesterday. It seems the OpenJDK is no longer at this URL ?

`brew install bazel
`

I am getting this error.

[code]

What can we do about this ? I'm sure this must be effecting anyone trying to install bazel right now.

[2021-04-14 19:02] friendly-pineapple commented on #13190
Great, thank you!!

[2021-04-14 20:05] aiuto commented on #8857
Closing this out.
- rules_pkg exists
- an internal pkg_tar exists in Bazel, but it will receive no more fixes.  https://github.com/bazelbuild/bazel/issues/11183 exists to track making that inaccessible.

[2021-04-14 20:05] #8857 closed

[2021-04-14 21:09] gregestren commented on #13317
Thanks for the clear reproduction, @mishas. I tried to minimize it at https://gist.github.com/gregestren/5c999b7cafeec3718a9afbf4fe17d2bf.

I think https://github.com/bazelbuild/bazel/issues/12171 is relevant, but that's a lot to wade through.

The relevant logic is https://github.com/bazelbuild/bazel/blob/09c621e4cf5b968f4c6cdf905ab142d5961f9ddc/src/main/java/com/google/devtools/build/lib/analysi

[2021-04-14 21:23] glukasiknuro opened #13355 "Symlinks in action outputs are not yet supported by --experimental_remote_download_outputs=minimal"
### Description of the problem / feature request:

While building with `--remote_download_minimal` getting a warning:

[code]

### What operating system are you running Bazel on?

Linux

### What's the output of `bazel info release`?
Custom build on top of 3.7

###  Have you found anything relevant by searching the web?
https://github.com/bazelbuild/bazel/issues/6862

### Any other information, lo

[2021-04-14 21:25] gregestren commented on #12171
Sorry for the delay, @mobileink. Julie, who's the Bazel resident expert on this stuff, has shifted her focus off Bazel. We're trying to pick up the slack. Check out my comment at https://github.com/bazelbuild/bazel/issues/13317#issuecomment-819834807. Does that help?

Short story is there's lots we can, and should, and hopefully *will* (in a timely way) do to improve this. One of Julie's last cont

[2021-04-14 23:47] mishas commented on #13317
Thank you @gregestren for the analysis!

Some things that still don't make sense to me:
From what I understood from your comment, it seems like the hash (as part of `ST-<hash>` is different for different values of the flag. If that's correct than why doesn't it recompile everything when I don't cross-compile? I would expect the hashes to be different for regular compilation as well, wouldn't they?

[2021-04-15 00:51] vpanta commented on #10912
We just hit this when adding a `managed_directories` entry to our WORKSPACE (for `@npm`/`node_modules` with `rules_nodejs`). For some reason, adding that causes a similar error for us when building (Bazel 3.1.0)

[code]

I verified removing `--notrack_incremental_state` from our `.bazelrc` in this case allows it to build normally.

[2021-04-15 02:23] coeuvre commented on #13355
Yes, I will work on this once #12665 is implemented.

[2021-04-15 04:48] meisterT commented on #13321
Can you please be more specific. What is broken, what needs to be cherry picked? Is it broken in 4.0?

[2021-04-15 04:48] meisterT commented on #13321
cc @philwo

[2021-04-15 05:13] meisterT commented on #13307
I seem to have seen this before cc @oquenchil @meteorcloudy

[2021-04-15 05:13] coeuvre commented on #13321
This is referring to recent changes to output paths semantics.

These changes aren't included in 4.1 release but in the future if we release 7149f578006a4ad0d51df69830a6986749b34df5, make sure to include others 24c980b6d4adef456cf4b4f84ac3b8ec4580b172, e6f1066deef066df82e3e2771ef521c03c252f01, 4efeac9cb5f85325ed73f64e133a078c483cac01 and #13339.

[2021-04-15 05:31] meisterT commented on #13282
cc @coeuvre

[2021-04-15 07:08] davido opened #13358 "Test coverage doesn't work on Java 16 toolchain"
Trying to run test coverage with new and shiny Java 16 toolchain support is failing.

Reproducer: https://github.com/davido/bazel_coverage. Note, that .bazelrc already switching to Java 16 toolchain, you make sure, that your bazel version includes this [PR](https://github.com/bazelbuild/bazel/pull/13274).

[code]

The problem could be related to some new visibility/exports requirement in JDK16?

T

[2021-04-15 07:24] chenmy0917 commented on #13307
I solved this problem by reinstalling the system

[2021-04-15 07:24] #13307 closed

[2021-04-15 08:19] #13270 closed

[2021-04-15 08:38] luna-duclos opened #13359 "Bazel query hangs when using allrdeps(siblings(rbuildfiles(...))) query in certain situations"
### Description of the problem / feature request:

Bazel query hangs when running certain queries, they look as follows (snipped as this only happens in a large monorepo):

[code]

The query runs just fine when removing the allrdeps(siblings(rbuildfiles(...))) part of it

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

I unfortunatel

[2021-04-15 10:54] mvukov opened #13360 "Use of ctx.info_file and ctx.version_file in rule implementations"
### Description of the problem / feature request:

At the moment information in ctx.info_file and ctx.version_file cannot be used for rule implementation.

### Feature requests: what underlying problem are you trying to solve with this feature?

See for instance https://github.com/bazelbuild/rules_python/pull/451. Therein, I would like to use git info, routed via workspace status script, to make a

[2021-04-15 11:31] davido commented on #13358
I activated the coverage tests for Java 16 toolchain again to demonstrate the failure: https://github.com/bazelbuild/bazel/pull/13361.

[2021-04-15 11:44] comius commented on #13358
/cc @c-mita

[2021-04-15 12:00] ulrfa commented on #12731
Thanks @gregestren,

This feature request has a narrow scope: user defined build settings **set on command line** and **never touched by any transition**.

Bazel is already handling this for native options, by using affectedByStarlarkTransition:

https://github.com/bazelbuild/bazel/blob/d679546447b7fdfa201c039187ccd404656331cf/src/main/java/com/google/devtools/build/lib/analysis/config/CoreOptions

[2021-04-15 12:32] davido commented on #13358
It seems that merged jar is corrupted:

[code]

and the file is there:

[code]

But it cannot be read:

[code]

[2021-04-15 13:03] larsrc-google commented on #12165
Dropping some notes here from investigating better worker resource management: If workers were to hold on to their own resources (memory, essentially), we could risk all the resources eventually being held by workers and little progress becomes possible. Killing off idle workers would get us out of that, at the risk of cycling through creation and destruction of workers.

[2021-04-15 13:11] #6957 closed

[2021-04-15 13:17] larsrc-google commented on #1250
What's the current status? Is there an easy way to reproduce this on Linux?

[2021-04-15 13:21] larsrc-google commented on #614
With https://github.com/bazelbuild/bazel/commit/f4b5e0233341977aaa76593ca032d9ac4eba7444, interrupting a build no longer waits for workers to finish. As of https://github.com/bazelbuild/bazel/commit/e9e6978809b0214e336fee05047d5befe4f4e0c3, workers can implement cancellation to stop work when told to. I believe this addresses your issue, if not please reopen and comment.

[2021-04-15 13:21] #614 closed

[2021-04-15 13:38] FlyStory opened #13362 "Where can I find API documentation of all files?"
### I am a student. And I want to de somen research,I need to find the API documentations of all Java files,because the API documentations can teel me the function of all Java files. I hava looked for the web, but I can`t find. Can you help me

### Feature requests: what underlying problem are you trying to solve with this feature?

### Bugs: what's the simplest, easiest way to reproduce this bug?

[2021-04-15 13:38] #13362 closed

[2021-04-15 13:41] FlyStory opened #13363 "the API documentations of all Java files"
### I am a student. And I want to de somen research,I need to find the API documentations of all Java files,because the API documentations can teel me the function of all Java files. I hava looked for the web, but I can`t find. Can you help me

[2021-04-15 14:30] Spanni26 commented on #11001
Struggling at the same point....need to build a bazel project without a internet connection. I try it for days now....very frustrating.

[2021-04-15 16:45] daveyc123 commented on #13099
If it's not too late, would like to have 65d18a5221926f2beda62c1c427f8f64833109ae included as well. It just missed the 4.0 cutoff.

[2021-04-15 16:56] tsawada opened #13364 "FR: automatic strip_prefix in http_archive"
This is a feature request for http_archive.

It'd be great if `http_archive` can automatically strip prefix when a given archive has only one top-level directory in it, say when `auto_strip_prefix = True`.
IMO this will cover 99% of the use case for strip_prefix, and users don't need to maintain / repeat the archive names multiple times like people commonly do today:
[code]

[2021-04-15 17:50] gregestren commented on #13121
@communikit - do you mind attaching a P[1-4] tag to this issue depending on your interpretation of priority? Each tag includes a brief description of what it's priority level means.

[2021-04-15 17:57] gregestren commented on #13363
Hi @FlyStory . Since this is a support request, can you reshare this on Stack Overflow or bazel-discuss as described at https://www.bazel.build/maintaining/maintainers-guide.html#lifecycle-of-an-issue?

[2021-04-15 17:57] #13363 closed

[2021-04-15 18:00] alexeagle commented on #12165
Sorry I missed your questions earlier

This is up to users. A large app that expects to compile every directory independently could have hundreds, but I would advise them against that. More typical in TypeScript to have a handful of them (we could look at how many "composite projects" VSCode has, as an example)

Yes, in a non-incremental build you'd have the deoptimization of acting like local/san

[2021-04-15 19:05] gregestren commented on #13360
Where are `ctx.info_file` and `ctx.version_file` in the Bazel docs?

[2021-04-15 19:44] mvukov commented on #13360
Unfortunately, they are not documented. See https://github.com/bazelbuild/bazel/issues/9363 and https://github.com/bazelbuild/bazel/issues/11422. FWIW, I had to dig into rules_docker repo to learn how to access the workspace status.

[2021-04-15 19:56] gregestren commented on #13317
By cross-compile, do you mean do a build with a transition in it?

If a build has no transitions, the `ST-<hash>` prefix never gets added in the first place. So it doesn't matter what flags would be in that hash. Only a transition can add that prefix.

Also, I'd never expect host tools to re-compile. Can you clarify that observation?

[2021-04-15 20:01] tetromino opened #13365 "Richer generic type annotations in `@ParamType`"
Currently, in src/main/java/net/starlark/java/annot/ParamType.java, we require `generic1` to be a scalar type value:

[code]

Quoting @alandonovan from https://github.com/bazelbuild/bazel/pull/12637#discussion_r537059010:

An additional use case is to declare a container which can hold multiple types. For example, several functions in `actions` module (e.g. `actions.run_shell()`) take parameters w

[2021-04-15 20:26] konste commented on #13099
@philwo Could you please pick https://github.com/bazelbuild/bazel/commit/596653d3cf76e7b208da343e1fde5fe20273a5ff for 4.1? We really need it now.

[2021-04-15 20:57] Yannic commented on #13208
This is known issue with native proto rules. I'd like to get `warn` to work, but it's not entirely straight forward IIRC and may require a patch to `protoc` to support that.

Probably `P3` or `P4`.

/cc @comius

[2021-04-15 21:19] Yannic commented on #13132
This is something that also came into my mind a while ago (although in the context of native rules) and I'd like to see getting implemented (my context was, in `ProtoInfo`, to lazily transform `NestedSet<ProtoSource> transitiveSources` into `NestedSet<Artifact>` by applying `src -> src.getSourceFile()`).

I have a very hacky prototype in Yannic/bazel#1006 that implements this for native mapper fun

[2021-04-15 21:50] gregestren commented on #12731
Got it. I think https://github.com/bazelbuild/bazel/issues/13317#issuecomment-819834807 covers similar territory, and it's a legitimate request.

[2021-04-15 23:23] gregestren commented on #12942
Apologies that I slipped on this for a while.

I tried your repro and see the same behavior. Can you show a similar repro that *doesn't* have the JDK problem (i.e. the original issue you filed, which still had an error, but not *that* error). Maybe starting from there would make it easier to resolve, especially with a clear repro we can all experimentally adjust.

[2021-04-16 00:31] mishas commented on #13317
@gregestren, Thanks again for the swift reply.

Regarding the cross compilation / transition:

To enable cross-compilation in Go, one needs to set the `goos` and `goarch` arguments. Based on the following code, it seems like indeed without setting those values the build has no transitions:

https://github.com/bazelbuild/rules_go/blob/f2b90108b5e87faa933fde9e481b02d48ae132d5/go/private/rules/transi

[2021-04-16 02:53] tsawada commented on #13353
Can [bazelisk](https://github.com/bazelbuild/bazelisk) be used as a workaround in your case?
`brew install bazelisk`

if not, this looks more like a homebrew issue so I recommend seeking help at homebrew community.

[2021-04-16 06:30] JanJamaszyk-FlyNow commented on #12942
The JDK problem appears as soon as we register a custom c++ toolchain. The only way to get rid of it is to use the standard c++ toolchain. In the meantime we found a workaround by manually specifying host_javabase in bazelrc:
`--host_javabase=@remotejdk11_linux//:jdk`
But given we are not using java anywhere and this is a bazel internal thing we should not need to do that!

[2021-04-16 06:34] cpsauer commented on #10740
For anyone else looking, this was fixed in 4.0, along with a bunch of other objc_library issues bundled in #10674.

[2021-04-16 06:35] cpsauer commented on #10739
From the docs, this seems to have been fixed in master, though not in a yet released version of Bazel.
(Not in 4.0, unsure if in 4.1)

[2021-04-16 07:20] meisterT commented on #13359
Can you check whether the JSON trace profile reveals some useful insight? https://docs.bazel.build/versions/master/skylark/performance.html#performance-profiling

[2021-04-16 07:52] #13113 closed

[2021-04-16 08:47] coeuvre commented on #11765
To support compiling c++ on windows remotely, execution services must do a hack which they need to replace the paths of the lines matched pattern `Note: including file: <absolute path>` with relative paths (relative to action working directory) in `stdout` of `cl.exe` actions.

For example, `Note: including file: C:/bot/w/external/foo/bar.h` should be replaced with `Note: including file: external/

[2021-04-16 09:29] fweikert commented on #13328
The downstream pipeline has been red for over two weeks now :(

I'll disable rules_haskell for now since there's no response on the issue.

@sdtwigg: Can you please verify that the rules_haskell breakage is WAI from a Bazel point of view? You also mentioned a fix for IntelliJ - what's the status here?

[2021-04-16 09:33] larsrc-google commented on #12165
I guess it's a matter of definition what counts as a custom compiler.

So is the compiler process one that stays alive along with the worker process, and thus can avoid re-parsing/re-type-checking the third-party dependencies? And typically the third-party dependencies change much less often than first-party ones, yet are usually different between different ts_projects? Have you measured how much

[2021-04-16 13:06] meteorcloudy commented on #13231
The documentation says it clearly it will pick based on the host configurations, anyone who uses this flag should be aware of that. I agree we should have picked a better name, but changing it now will just break our uesrs.

I don't quite understand why should we turn it on by default or just remove it.

[2021-04-16 13:37] meteorcloudy commented on #13231
@AndersSundman

I looked a bit in to this, it doesn't seem to be caused by the `--enable_platform_specific_config` flag. Because if you turn off `--enable_platform_specific_config` and do
`bazel build //:test --config=linux --//:color=black`. The color would still be red.

[2021-04-16 13:45] meteorcloudy commented on #13231
@AndersSundman Are you sure this works?

[2021-04-16 14:20] #11869 closed

[2021-04-16 14:43] TamaMcGlinn commented on #5139
Some of you have mentioned that you have implemented your own workarounds, it would be great to post them in this thread. Because mine is just terrible; when my OS complains that it has 0 bytes left, I delete `~/.cache` and the next build will be very slow.

[2021-04-16 14:57] nouiz commented on #5139
On linux, I was using the find command to delete the oldest files. I use something like:
``` find /PATH_TO_DIRECTORY -type f -mtime +60 -delete```

The `+60` mean to delete files not changed in the last 60 days. So depending how quickly it fill, adjust this value.

Take care with that command. It is dangerous! It can easily delete foo much files too.

[2021-04-16 14:58] gregestren commented on #12942
Some more context:

[code]

That first dep on `@bazel_tools//tools/test:coverage_report_generator` comes from https://github.com/bazelbuild/bazel/blob/09c621e4cf5b968f4c6cdf905ab142d5961f9ddc/src/main/java/com/google/devtools/build/lib/analysis/BaseRuleClasses.java#L238.

I have no idea why a custom toolchain would trigger that while the default wouldn't. I'll see if I can CC someone familiar with

[2021-04-16 14:59] gregestren commented on #12942
@coeuvre - do you have any insights about the above comment? How `--coverage_report_generator` ends up producing a Java dependency, but not for the default C++ toolchain?

[2021-04-16 16:04] janakdr commented on #10912
Thanks for the report, @vpanta ! Is there a minimal repro that you can share?

[2021-04-16 16:16] communikit commented on #13121
Ah, looks like I meant to close this after the commit was added.

[2021-04-16 16:16] #13121 closed

[2021-04-16 16:37] jlaxson commented on #1813
More explicitly: this now exists: https://docs.bazel.build/versions/master/skylark/lib/json.html

[2021-04-16 16:52] GMNGeoffrey commented on #5139
I had a workaround similar to @nouiz but on a crontab

[code]

**but it ended up causing really hard to debug issues** (see https://github.com/bazelbuild/bazel/issues/12630).

Note that there are two Bazel caches here.

The one stored in `~/.cache/bazel` by default is not the disk cache referenced in this bug. It's the output directory for builds (see https://docs.bazel.build/versions/master/outpu

[2021-04-16 16:55] brandjon commented on #13365
(Moving to team-Starlark-Interpreter because the annotation system lives inside the net.java.starlark namespace.)

Emphasis on that being a separate use case. The one Alan was referring to is how `Sequence<V>` has one type variable `V` while `Dict<K, V>` has two vars `K` and `V`.

The problem with richer types is that it's a rabbit hole, and a lot of extra complexity for relatively small benefit.

[2021-04-16 19:50] cushon commented on #13358
The zip it's crashing on is `execroot/__main__/_coverage/test/test/coverage-runtime_merged_instr.jar`.

That jar is created by the singlejar invocation in the log, which is printing errors:

[code]

The correct path appears to be e.g.:

[code]

The paths in the singlejar command line are being constructed here: https://github.com/bazelbuild/bazel/blob/414f3c817079013be60bf41b6697867278f3dbda/tools

[2021-04-16 22:38] chandlerc commented on #13238
The issue will be resolved soon? That's awesome news -- do you have a link to the issue? Any way I can follow along?

[2021-04-16 22:54] benjaminp commented on #12692
8a43e0cb973ab979da8140bc31fd94651537ce5b

[2021-04-16 22:54] #12692 closed

[2021-04-16 23:08] mr-salty commented on #5139
`~/.cache/bazel` was definitely growing (apparently without bound?) for me.

I changed jobs so I'm not using bazel anymore, but this is the script I was running from cron: https://gist.github.com/mr-salty/a66119941e797d9eb49b15ea211ea968

It's mostly just `find` but takes case of some subtle issues.  I never did track down how I ended up with non-writable directories in my cache, maybe something i

[2021-04-16 23:43] gregestren commented on #13317
I'm not deeply familiar with the go rules logic either. But I think the basic principle stands that there are are reasonable scenarios where re-compilation happens and shouldn't, and we can focus this issue on that.

Re: the host deps, if you run:

[code]

this shows that those actions come from `@com_google_protobuf//:protobuf_lite` and are compiled in the `exec`, not `host` configuration. Those

[2021-04-17 00:18] mishas commented on #13317
@gregestren, Thank you for the explanation. I wasn't aware of the difference between `host` and `exec` (every day I learn something new about Bazel :) ), and it makes perfect sense for protobuf to be `exec` rather than `host`.

In any case, as you noted above, there's still recompilation when one is not necessary, and I now better understand how the issue of `ST-<hash>` change with transition is t

[2021-04-17 17:51] vlovich opened #13367 "Custom toolchain & ccache don't mix."
### Description of the problem / feature request:

There's no way to override the compiler used via CC/CXX environment variables to point to a compiler not on the path AND use ccache simultaneously. In other words, I want to CC to be invoked as "ccache <path to compiler>". bazel fails with:
`Error in which: Program argument of which() may not contain a / or a \ ('ccache /home/vlovich/myproject/dep

[2021-04-17 21:13] chancila commented on #13367
bazel already has caching mechanisms built in, both local and remote. Using ccache is unnecessary, add `--disk_cache` to enable it, there's also `--remote_cache`.

[2021-04-17 22:42] or-shachar commented on #7714
Hey,
Reviving this thread if I may... At Wix we collect this info straight form invocation log, which is not that stable like @keith mentioned. @coeuvre - any updates about that?

Thanks a lot!

[2021-04-18 00:26] samhowes commented on #8228
This would be helpful. It currently appears that the python zipper doesn't expand directories declared by `ctx.actions.declare_directory`. The output zip file appears to contain a directory, but not the contents. It is unclear if this is a bug or intentional.

example tree walk of python zip on windows:
[code]

[2021-04-18 01:32] mobileink commented on #12171
Thanks for the response.  FYI I'm hoping to get back to this next week...

On Wed, Apr 14, 2021 at 4:25 PM Greg ***@***.***> wrote:

[2021-04-18 20:54] limdor commented on #13220
Thanks for the support @meteorcloudy, I manage to create the example for linux, now I will do the same for Windows also and then we can see where would be the place to put them in the Bazel repo.
https://github.com/limdor/bazel-examples/tree/master/linux_toolchain

[2021-04-19 04:15] coeuvre commented on #12942
I am not familiar with this part so it could be wrong but it seems that the custom toolchain is using default value of `--coverage_report_generator` (`@bazel_tools//tools/test:coverage_report_generator`) which is a [`java_binary`](https://github.com/bazelbuild/bazel/blob/eccff1c376d5e8c41f80af5fdbc27d2dd67609e7/tools/test/CoverageOutputGenerator/java/com/google/devtools/coverageoutputgenerator/BUI

[2021-04-19 04:34] #13345 closed

[2021-04-19 06:36] coeuvre commented on #13282
It depends:
  - If you build from scratch (clean build), Bazel will evaluate all actions and pull the outputs of actions which hit the remote cache.
  - If you build incrementally (build, edit, build), Bazel will only evaluate targets which are transitive dependencies of changed files, and pull outputs from remote cache if neccessary.

[2021-04-19 06:52] davido commented on #13358
Thanks for analysis.

I also saw the same issues with Java 15 toolchain. classpath file is misconfigured and resulted merged jar cannot be read, but there is no error in Java 15 toolchain.

I have problem to reproduce the failure on command line. With this diff:

[code]

I can see the command that is executed:

[code]

However, if I re-run the command:

[code]

there is now failure.

[2021-04-19 07:57] #13188 closed

[2021-04-19 08:58] luna-duclos commented on #13359
Will the profiling work if I kill the process ? Since it hangs forever, happy to try it if so @meisterT

[2021-04-19 09:24] meisterT commented on #13359
Yes, it should. Just press Ctrl+C after a while and then load the profile. It should write what's available up to that point.

[2021-04-19 11:08] meteorcloudy commented on #13328
https://buildkite.com/bazel/bazel-auto-sheriff-face-with-cowboy-hat/builds/488
[code]

The Intellij Plugin Aspect project is actually failing due to another commit: https://github.com/bazelbuild/bazel/commit/627c16e0e4ae70161c5694a369acd21af87e3d50, so please ignore it for this issue, I'll file another one for it.

[2021-04-19 11:35] meteorcloudy commented on #13328
Oh, sorry, the culprit finder actually identified another error that is already fixed https://github.com/bazelbuild/bazel/issues/13320, the new error message is indeed caused by this one.

[2021-04-19 11:37] meteorcloudy commented on #13328
Looks like there is already a pending fix for rules_haskell https://github.com/tweag/rules_haskell/pull/1545, @sdtwigg can you help figure out a fix for Intellij plugin aspect?

[2021-04-19 11:42] meteorcloudy opened #13368 "Bazel CI: Envoy broken with Bazel@HEAD"
https://buildkite.com/bazel/bazel-auto-sheriff-face-with-cowboy-hat/builds/496
[code]
Culprit Finder: https://github.com/bazelbuild/bazel/commit/a750a56f8f4061516ec3056ae8a8295ea8279903

/cc @illicitonion @coeuvre

[2021-04-19 12:55] katre commented on #12110
That makes sense, I'll update the flag's documentation.

[2021-04-19 13:03] illicitonion commented on #13368
Fixed in https://github.com/bazelbuild/bazel/pull/13369

[2021-04-19 14:07] kevisminename commented on #1920
hello there, i'm a total rookie on all these bazel compiling stuff,  i managed to finished with dynamic compiling  with bazel and obtain the tensorflow_cc.so and all other necessary .o files, on base of that would u please tell a little more specifically how to use your script with bazel cmd?  much appreciated !

[2021-04-19 14:34] katre commented on #11291
Good news: I have a fix out in #13372.

For posterity: The transition was working correctly, and was in fact converting to use `//:null_checker` in the second instance of `//:check_flag`. However, all instances of `label_flag` actually had _two_ dependencies: one on the value being used, and another one on the default value. It was this default value dependency that wasn't changing (and wasn't cha

[2021-04-19 14:36] meteorcloudy commented on #13220
Wow, that's some really nice documentation! Thank you so much!

[2021-04-19 14:42] meteorcloudy commented on #13220
/cc @oquenchil probably can help with reviewing it.

[2021-04-19 15:40] meteorcloudy commented on #8685
@brandjon Is there any plan to fix this?

[2021-04-19 22:09] ulfjack commented on #13178
The problem is that Bazel uses an automatically computed default for `--instrumentation_filter`, which is
[code]

However, the `JavaUtil.java` file is in `src/main/java/com/example/JavaUtil.java` and therefore doesn't match the filter.

[2021-04-19 22:16] ulfjack opened #13376 "Coverage for java_test doesn't handle external jars"
### Description of the problem / feature request:

In a Java build using jars from external repositories, running coverage may drop some coverage results due to incorrect path computations.

Bazel writes a file containing the runtime classpath using `LazyWritePathsFileAction`. The `collect_coverage.sh` script then processes that file to generate another file containing absolute paths by prefixing

[2021-04-20 01:37] kekxv opened #13378 "How to use authorization when bazel build --remote_executor?"
### Description of the problem / feature request:

### Feature requests: what underlying problem are you trying to solve with this feature?

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

### What operating system are you running Bazel on?

### What's the output of `bazel info release`?

### Any other information, logs, or outputs t

[2021-04-20 01:40] ted-xie opened #13379 "Cannot run Bazel without /usr/bin/python, even if /usr/bin/python3 exists"
### Description of the problem / feature request:

Bazel relies on /usr/env/bin python, which no longer exists in the newest update to my operating system.

### Feature requests: what underlying problem are you trying to solve with this feature?

N/A.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Remove /usr/bin/python symlink and

[2021-04-20 01:46] kekxv commented on #13378
In addition, when I use remote compilation, use mingw to compile in ubuntu. define the command like `wine ${command}` in cc_test when I execute it?

[2021-04-20 01:59] keith commented on #13379
This is a dup of https://github.com/bazelbuild/bazel/issues/8685

[2021-04-20 02:45] cushon commented on #13376
cc @c-mita

This looks related to https://github.com/bazelbuild/bazel/issues/13358#issuecomment-821525003. I think the same incorrect paths are have started causing errors with JDK 16, patching in your fix also resolves that issue with JDK 16 for me.

[2021-04-20 02:46] kevisminename commented on #1920
@y3llowcake plz~

[2021-04-20 06:02] kekxv commented on #13378
`--run_under=wine` is working.
[code]

[2021-04-20 06:21] comius commented on #13197
The category annotation is in experimental package: `org.junit.experimental.categories.Category` and in JUnit5 it is replaced with @Tag annotation.

The PR is well written, however I'm not inclined to include this on the grounds that Gradle/Maven/SBT have it.

New feature requires maintenance.

There are also requests to upgrade to JUnit5. This migration in itself is not easy and including a featu

[2021-04-20 08:49] EwoutH commented on #12889
Would adding support for NDK r22 be more complex than for r21? If not, it would be a fairly simple PR right? Or are there changes affecting Bazel?

[2021-04-20 09:08] steeve commented on #12889
I'm not 100% sure, but it feels like the changes are more substantial than to r21.

[2021-04-20 12:36] davido commented on #11202
One year later... Any progress here?

Python 2.7 was discontinued on January 1, 2020: [1].

[1] https://www.python.org/doc/sunset-python-2

[2021-04-20 12:41] brentleyjones commented on #13099
If there is an rc3, can https://github.com/bazelbuild/bazel/commit/615e1b16a81b0defc15699ec8027d6ddd70366d1 get in it?

[2021-04-20 12:55] philwo commented on #11202
@davido I just grepped for remaining python2 pieces in our code and couldn't find anything that looked too critical. A few references in j2objc stuff and one explicit call to python2.7 in the BUILD file used to build Debian packages for Bazel releases, that I can clean up.

Do you have anything specific in mind?

[2021-04-20 12:56] philwo commented on #11202
We should also replace `#!/usr/bin/env python` with `#!/usr/bin/env python3`, I'll have to check the code for that.

[2021-04-20 12:58] davido commented on #11202
Exactly, we have similar request here: [1]. And I've sent similar CL: [2].

[1] https://crbug.com/gerrit/14175
[2] https://gerrit-review.googlesource.com/c/gerrit/+/298903

[2021-04-20 13:33] philwo commented on #13099
Additional cherry-picks:
- 11651824a9d0ffb9adb9611dcd39f4c95a59d750 to fix `//src/test/java/com/google/devtools/build/lib/analysis:AnalysisTests`
- 13031e5b3bd7c8f29b96b2fee1b380160e0e27fc to fix `//src/test/java/com/google/devtools/build/lib/skyframe:SkyframeTests`
- f31e86768579ad7ec57ba13f4c3c1348f5c2702e to fix `//src/test/shell/bazel:platforms_test`

[2021-04-20 13:51] QIvan commented on #12986
hi! Here is [a victim](https://github.com/envoyproxy/envoy/issues/16065) of this bug (I'm using Ubuntu 20.04 with ZFS and, seems like, it was set up with an `utf8only` flag, according to the original description).
I tried to investigate the problem yesterday and copy some parts of Bazel's `CompressedTarFunction.java` to a small snippet. And, probably, I've found a workaround for this issue with ju

[2021-04-20 14:45] gregestren commented on #13317
Apologies about the `host` / `exec` confusion. We need some gentler documentation in general. The info is there if you know where to look for it, but lots of people understandably don't know where to look for it!

[2021-04-20 14:45] meteorcloudy commented on #13099
Backporting Apple Silicon support to 4.1.0: 3974b47183bec745b46ee5fff921421970a075f8
I have squash necessary changes into one commit because they are customised for 4.1.0
I manually tested the cross-compiled binary on a M1 machine.

[2021-04-20 14:54] jvolkman commented on #12986
@QIvan per my understanding this breaks other cases in which an archive contains a filename as a string of non-UTF-8 compatible bytes and the destination filesystem will accept it. #7757 has more context.

[2021-04-20 15:31] #11291 closed

[2021-04-20 15:31] vlovich commented on #13367
Thanks.

[2021-04-20 15:31] #13367 closed

[2021-04-20 16:01] #13368 closed

[2021-04-20 16:49] illicitonion commented on #13099
Apologies - a750a56f8f4061516ec3056ae8a8295ea8279903 will also need 4840a68cd273a429e46d4114a3973fd11d0e3583 as a follow-up to avoid NPEs! :)

[2021-04-20 16:56] ted-xie commented on #13379
I acknowledge that but there has been little/no traction on that bug. I was hoping to revive the discussion/raise the visibility of this issue by filing a new bug.

[2021-04-20 17:00] philwo commented on #13099
@illicitonion No problem! Just in time for rc3. 😄

[2021-04-20 17:20] #13350 closed

[2021-04-20 17:26] torgil opened #13380 "starlarkdebug GetChildrenResponse message for Target types doesn't include providers"
### Description of the problem / feature request:

When debugging rules, skylark debugger doesn't return dependent target providers.

This example has target B depending on target A and location to debug where we have a target object with a custom provider.(files/log attached further down in this issue)

=== rules.bzl ====
[code]
==== BUILD.bazel ====
[code]

If we set and wait for a breakpoint at

[2021-04-20 17:36] hlopko commented on #13308
AFAIK if there is a feature named `host` it will be enabled by Bazel for host configuration. It certainly did work in the past - @oquenchil is that still true?

[2021-04-20 17:42] hlopko commented on #13308
Yup it seems we use `host` and `nonhost` internally.

[2021-04-20 17:44] hlopko commented on #13308
So I think @chandlerc can implement what they need. It would still be great if Bazel didn't add `-g0`, it seems it's one of the very few remaining hardcoded flags.

[2021-04-20 18:38] gregestren commented on #11984
@mobileink - I just submitted https://github.com/bazelbuild/bazel/commit/3d33d7b2dea8b4ea92162cc18b1ed2c7c31ad6e6 and looking for another error to polish.

For https://github.com/bazelbuild/bazel/issues/11984#issuecomment-703849350, could your version of the ideal message? In https://github.com/bazelbuild/bazel/commit/3d33d7b2dea8b4ea92162cc18b1ed2c7c31ad6e6 's description I laid out principles I'

[2021-04-20 18:51] nkoroste commented on #7595
Any updates on this?
As an experiment I just migrated our code base to have 1 test class per target instead of 1 large target with multiple test classes - this results in significantly slower overall build times.

[code]
vs
[code]

[2021-04-20 19:30] shahms opened #13381 "toolchain resolution fails for non-workspace prefixed toolchain_types if workspace name used --extra_toolchains"
### Description of the problem / feature request:

When specifying a toolchain via --extra_toolchains which includes a workspace name, toolchain resolution fails to include that toolchain if it toolchain doesn't include a workspace prefix in the toolchain_type attribute.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Given a trivia

[2021-04-20 19:47] katre commented on #13381
Good news! This was recently fixed in d23e0a1bc75510ac92ecdc4628ada33cdaa1d53a, and in a long chain of preceeding changes which, unfortunately, are captured in an internal-only issue. I should have copied it into an externally visible one.

For reference, the changes are:
- 68effbecba59c6b4ce45ee6299966c486f023657 - Create a new interface to allow Starlark objects to get a thread when getIndex is

[2021-04-20 19:48] katre commented on #10927
See #13381 for details, but this should be fixed in Bazel at head.

[2021-04-20 19:48] #10927 closed

[2021-04-20 19:48] philwo commented on #13099
**Bazel 4.1.0rc3 is out**

**Notes:**
- Please see https://github.com/bazelbuild/bazel/issues/13099#issuecomment-785109689 for an overview of successful and failed cherry-picks.

**Changes**
[code]

**Commands ran:**
[code]

[2021-04-20 20:02] philwo commented on #13099
Bazel 4.1.0rc3 passes all tests on CI, but I noticed that a few Android tests on Windows are broken since 4.1.0rc2. I'm running a bisect to find out if any of the cherry-picks is responsible for it, or if it's something infrastructure related.

[2021-04-20 21:02] shahms commented on #13381
It doesn't look like this is fixed at last_green:
[code]

It's easy enough to workaround, though.

[2021-04-20 21:07] katre commented on #13381
I'll take a look, thanks.

[2021-04-20 21:57] philwo commented on #13099
This is the culprit for the hanging Android tests on Windows in 4.1.0rc2 and rc3: c4e436a76d63d373cd51e01dbc9a03eadf0d6c94.

The symptom is that the Desugar worker just hangs and never quits, which causes the test to eventually time out.

I'll investigate tomorrow. Maybe we're missing another cherry-pick, as the culprit is part of Bazel's main branch, but we don't see the test timeouts there.

[2021-04-20 23:00] katre opened #13384 "Remove the obsolete --enable_execution_transition flag"
It didn't work well and isn't being used, so we should remove it to reduce cruft.

The general host -> exec migration is in progress but at a slower, more manageable pace. It won't be a global flip.

[2021-04-21 00:26] timsutton commented on #13099
Would it be possible to also include `darwin-arm64` in the built releases? (Or possible by the time 4.1.0 is released?)

[2021-04-21 01:04] dabrahams commented on #13202
I don't know what you mean by “action mnemonics,” but the issue here is not what users define.  It's about what bazel does OOTB.

[2021-04-21 01:26] kekxv commented on #13378
is FAILED when run `bazel test:mingw32            --run_under=wine`?

remote test:
[code]

local test:
[code]

[2021-04-21 01:39] aiuto commented on #13202
The action mnemonic is the name of the action. But that is actually not the point I was trying  to make. It's just that parsing unstructured text to get a precise error location is a hopeless game.  You need to use a structured event stream that indicates the location in the build file, the action being executed, and if the error is in the rule structure itself or if the error comes from the tool

[2021-04-21 02:02] person142 commented on #2636
The current behavior also causes strangeness in `rules_python`-see https://github.com/bazelbuild/rules_python/issues/414#issuecomment-789416360 e.g.

Would adding the `--incompatible_repo_roots_are_not_on_pythonpath` flag to disable the behavior as suggested by https://github.com/bazelbuild/bazel/issues/2636#issuecomment-474008322 be an acceptable way to get the ball rolling again here?

[2021-04-21 03:07] UebelAndre commented on #13099
I'm not quite sure how to tell, but is https://github.com/bazelbuild/bazel/commit/c2bdd034014f66ce14529cc353cda18a32320f6c included in this release?

[2021-04-21 07:33] philwo commented on #13099
@timsutton Yes, we're looking into this :)

@UebelAndre Not yet, I'll review and try to include it when I create rc4. I need to create one more rc anyway to fix the hanging worker issue on Windows.

[2021-04-21 08:05] philwo commented on #13099
Yun just merged https://github.com/bazelbuild/continuous-integration/pull/1123 so that we can build darwin-arm64 release binaries on Bazel CI. ✅

[2021-04-21 08:44] meisterT commented on #7595
We currently don't have the bandwidth to work on this. If you want to contribute, feel free to improve `--experimental_persistent_test_runner`.

Nick: what's the slow part of your tests?

[2021-04-21 09:50] torgil opened #13387 "starlarkdebug GetChildrenRequest message on rule context restarts server listener and continues starlark thread"
### Description of the problem / feature request:

=== rules.bzl ====
[code]
==== BUILD.bazel ====
[code]

If we set and wait for a breakpoint at line 4 (return statement) and send a ListFramesRequest we can see the rule context in the response as
[code]

Asking for it's children with GetChildrenRequest causes the debug server to restart and the thread to continue.
[code]

No response to the get c

[2021-04-21 11:32] TamaMcGlinn commented on #5139
@nouiz thank you for the valiant effort; but at least on my machine, I can see from this command that some if not all my bazel files were made on january 1st 1970.

[code]

If anyone wants to use find mtime to get old files, run something like that first to check that you are not just going to delete everything.

[2021-04-21 11:45] philwo commented on #13099
Potential fix for hanging worker issue was identified by @larsrc-google: 082d98772690946ed29c157e60640c97a6e1195b.

I'll prepare rc4 now.

[2021-04-21 13:09] UebelAndre commented on #13099
Did https://github.com/bazelbuild/bazel/commit/c2bdd034014f66ce14529cc353cda18a32320f6c make the cut? 😅

[2021-04-21 13:26] joehattori opened #13388 "specify `-Wl,-rpath,` with relative path"
### Description of the problem / feature request:

specify `-Wl,-rpath,` with relative path

### Feature requests: what underlying problem are you trying to solve with this feature?

Currently I cannot specify relative path to `-Wl, -rpath` in `linkopts` of `cc_library`.
If I need to specify it with absolute path, I couldn't figure out how to obtain `pwd` and embed it in `linkopt`.

### Bugs: what

[2021-04-21 13:29] #13388 closed

[2021-04-21 13:35] halhwadi opened #13389 "ERROR: error loading package '': in C:/users/windows10-desktop/_bazel_windows10-desktop/gbkcodrx/external/org_tensorflow/tensorflow/workspace.bzl: Extension file 'third_party/gpus/cuda_configure.bzl' has errors"
### Description of the problem / feature request:

I'm trying to implement [tf3d](https://github.com/google-research/google-research/blob/master/tf3d/ops/README.md), by running the followings commands:
[code]

when ruuning `bazel build build_pip_pkg` I got the below error :
**_"ERROR: Traceback (most recent call last):
        File "C:/users/windows10-desktop/_bazel_windows10-desktop/gbkcodrx/exte

[2021-04-21 13:38] nouiz commented on #5139
Thanks for the warning. I do not recall having such problem with the dates of times. It is good to know!

[2021-04-21 13:40] philwo commented on #13099
@UebelAndre I had to cherry-pick a01e94a1e7b4251670547953e93ebf2736304cf7, too, to prevent a merge conflict. Let's see how the test results are.

[2021-04-21 13:45] philwo commented on #13099
**Bazel 4.1.0rc4 is out**

**Notes:**
- Please see #13099 (comment) for an overview of successful and failed cherry-picks.
- Binaries available for download at: https://releases.bazel.build/4.1.0/rc4/index.html

**Changes**
[code]

**Commands ran**
[code]

[2021-04-21 13:57] katre commented on #13381
Debugging this, the two failing cases have the same behavior:
- The toolchain is registered as `@io_kythe//:dummy_toolchain_type`
- The lookup is looking for `//:dummy_toolchain_type`

These don't match, and so there's a failure in resolution.

@c-parsons: You were telling me recently that you wanted to change repo mapping, would this be handled by the replacement?

[2021-04-21 14:44] philwo commented on #13099
Folks, this is it: 4.1.0rc4 [passes the entire test suite](https://buildkite.com/bazel/bazel-bazel/builds/16085#_) and incorporates all cherry-picks that I could get in.

Please test this release thoroughly. 😊

If all looks good, we can release this in 1 - 2 weeks.

[2021-04-21 16:34] c-parsons commented on #13381
This is indeed the same issue I was running into with regards to cc toolchain resolution if I recall correctly. (whether or not the toolchain type was under `@rules_cc` or "current repository" (This is no longer blocking us because we hacked a workaround).

[2021-04-21 16:48] nkoroste commented on #5139
I think you want to use access time `-atime` instead of modified time `-mtime`, there could be older files that don't change frequently but are still used during each build.

[2021-04-21 16:55] nkoroste commented on #7595
I need more time to answer that question with certainty. Since I'm testing this in Android here are the three theories:
1. Each target has to build resources if resources have changed
2. Robolectric pays a cost of byte code instrumentation of the Android jars for each per JVM test invocation.
3. JVM/JIT overhead
The question is which of these 3 amounts for the most time?

[2021-04-21 16:56] katre commented on #13381
@c-parsons Is there a way for toolchain resolution to know that `//:dummy_toolchain_type` and `@io_kythe//:dummy_toolchain_type` are two labels for the same target?

[2021-04-21 17:04] nkoroste commented on #7595
Actually, do you know the difference between the following 2 outputs?
[code]
vs
[code]
I'm not sure if I'm reading this right but I believe the former is total test time for the target that includes build time? while the latter is pure test execution time?

[2021-04-21 17:05] c-parsons commented on #13381
I don't recall off the top of my head, apologies. My memory and understanding of general toolchain resolution logic has faded over the last several months.  Some of the toolchain-checking logic specific to rules_cc is inflexible with regards to repo renaming ([example](https://github.com/bazelbuild/rules_cc/blob/608c7b605fb844a20e96a3eddc9b49ad2542adab/cc/find_cc_toolchain.bzl#L66)), and this is w

[2021-04-21 17:25] nouiz commented on #5139
Good point. But atime doesn't always works. On NFS server, most of the time the update of atime is disabled.
I do not recall all the detail of why I used mtime. I found one that works well enough for me and used it ;)

TF frequently force the rebuild of the everything. So for me it wouldn't have helped.

[2021-04-21 17:28] GMNGeoffrey commented on #5139
Yeah this is what I mentioned above

apparently they do this to avoid build dependence on the timestamp of the file (and therefore loss in hermeticness/caching)

[2021-04-21 17:45] #13376 closed

[2021-04-21 17:49] cushon commented on #13358
This is fixed by https://github.com/bazelbuild/bazel/commit/8ba48ad869006d87abc84e2f699fbc59eb8470f8

[2021-04-21 17:54] cushon opened #13390 "Audit uses of LazyWritePathsFileAction"
https://github.com/bazelbuild/bazel/commit/8ba48ad869006d87abc84e2f699fbc59eb8470f8 fixed one use of `LazyWritePathsFileAction` that was causing incorrect paths to files in external repositories by migrating to `SourceManifestAction`. From the description for that commit:

[2021-04-21 17:57] katre commented on #13381
Sorry, I wasn't clear. I'm not worried about the toolchain resolution part, I can handle that. But, given two labels that are in different repositories, what do I need to do to discover that they are actually pointing to the same target?

[2021-04-21 18:10] jonesmz opened #13391 "Invalid link in bazel/site/docs/tutorial/cc-toolchain-config.md"
### Description of the problem

This paragraph in the file indicated in the issue subject has two invalid links:

[cc_toolchain_suite](../be/c-cpp.html#cc_toolchain_suite)
and
[toolchains](../be/c-cpp.html#cc_toolchain)
don't exist.

[2021-04-21 18:25] katre commented on #13391
The documentation is written for our doc site (https://doc.bazel.build). Viewed there, the links are correct (see https://docs.bazel.build/versions/master/tutorial/cc-toolchain-config.html).

The rule documentation (like for `cc_toolchain_suite` and `cc_toolchain`) is built from the relevant source code as part of the release process, and can't possibly work from the raw pages.

I'm not sure if th

[2021-04-21 18:25] #13391 closed

[2021-04-21 21:40] #13021 closed

[2021-04-22 02:54] bytearth opened #13392 "Why dropped "clang module support" and "include scanning support""
In the [roadmap](https://bazel.build/roadmaps/build-api.html), the state of feature which about "**clang module support**" and "**include scanning support**" turned to be dropped. I want to know what's going on, because these features are really powerful for us.

Have you encountered any difficulties, if so, could you tell me the detail of the reason you dropped these features.  If not, what's you

[2021-04-22 06:38] davido commented on #13358
Thanks, I can confirm that coverage works now on Bazel@HEAD. Still the https://github.com/bazelbuild/bazel/pull/13361 is needed to enable the disabled coverage tests for Java 16 toolchain.

[2021-04-22 09:55] bytearth commented on #13330
same problem with me!

[2021-04-22 11:22] davido commented on #13358
@cushon @comius @ulfjack

Can you please reopen this issue? Turns out another coverage test is still failing on Java 16 toolchain, even with 8ba48ad included (as can be seen in the PR linked to this issue).

I extracted this reproducer: https://github.com/davido/bazel_cov.

[2021-04-22 11:53] meteorcloudy commented on #13328
Ping @sdtwigg

[2021-04-22 12:43] vbartle opened #13393 "Document how to build Bazel on Raspberry Pi"
When I try to install bazel, and run `env EXTRA_BAZEL_ARGS="--host_javabase=@local_jdk//:jdk --linkopt=-latomic" bash ./compile.sh` (from [this](https://qengineering.eu/install-tensorflow-2.1.0-on-raspberry-pi-4.html) guide) I get:
`protobuf::internal::ArenaImpl::Init(): error: undefined reference to '__atomic_fetch_add_8'
collect2: error: ld returned 1 exit status
Target //src:bazel_nojdk failed

[2021-04-22 13:19] #13014 closed

[2021-04-22 13:21] #13384 closed

[2021-04-22 14:02] shs96c commented on #7312
Closing because https://github.com/bazelbuild/rules_python/issues/222 replaces this.

[2021-04-22 14:02] #7312 closed

[2021-04-22 16:02] alexeagle opened #13394 "Allow suppression of 404 code from repository_ctx.download"
Many rulesets and user configurations include several mirrors for an artifact. A common one is that mirror.bazel.build is used as a secondary url.

However it's hard to predict ahead of time which mirrors host what. For example in rules_nodejs we gave up on using mirror.bazel.build because it was too hard to mirror every single release artifact given the manual process of requesting that from the

[2021-04-22 18:05] mpictor opened #13395 "Documentation issue: "C toolchain configuration" contains extremely outdated information"
Documentation URL: https://docs.bazel.build/versions/master/cc-toolchain-config-reference.html

At the bottom:

The linked issue was closed mid-2018. If the protobuf CROSSTOOL file is no longer supported, it would be good to remove all documentation specific to it, ideally replacing with up-to-date documentation of the current mechanism.

It'd be really really nice to have a link to a few function

[2021-04-22 18:31] cushon commented on #13358
This looks like it has a similar root cause to the other issue: the coverage runtime classpath contains an entry that doesn't exist, which is now failing the test. I think the paths were wrong all along, it was just being silently ignored before.

[code]

The test depends on that deploy jar via `data`:

[code]

Note `Cov.jar` vs. `Cov_deploy.jar`. I suspect there's some weirdness about how coverag

[2021-04-22 21:48] XsongyangX commented on #4327
How is the progress on this issue? This is the only thing preventing me from considering bazel on Windows.

[2021-04-23 00:11] Vitalik-sobolev opened #13396 "Documentation issue: Installing Bazel on Ubuntu"
Documentation URL: https://docs.bazel.build/versions/4.0.0/install-ubuntu.html

I had to install tensorflow, but it had error. ubuntu version: ubuntu-18.04-desktop-amd64.iso

Uncompressing..error [./bazel-2.0.0-installer-linux-x86_64.sh]:  missing 1232 bytes in zipfile
  (attempting to process anyway)
error: invalid zip file with overlapped components (possible zip bomb)

[2021-04-23 06:40] davido commented on #13358
Yes, even if I run coverage with vanilla Java 11 toolchain, also with this diff in reproducer:

[code]

I'm still getting exactly the same misconfigured classpath:

[code]

I also observes the same behavior for java 15 toolchain. For some reasons it only failing for Java 16 toolchain, where the root cause exists for all supported toolchains.

[2021-04-23 08:11] philwo opened #13397 "Bazel 4.1.0rc4 fails to build on RBE"
Hi @comius,

I noticed this breakage when building Bazel 4.1.0rc4 on RBE: https://buildkite.com/bazel/bazel-bazel-release-candidate/builds/2#3ed2a267-143a-4a85-bb22-1986d550e650

Any idea what it could be and how to fix it?

[2021-04-23 08:19] comius commented on #13397
@meteorcloudy already asked about that.

There is a condition in bazel_toolchains and in rules_appengine, that checks Bazel's version from it's label. If there is no label (or the version >=5.0.0), it uses changes that only work at HEAD.

[2021-04-23 08:25] philwo commented on #13397
Oh.. sorry. :/ I checked that the version of Bazel has a correctly embedded label:

[code]

But maybe the version check is broken and doesn't understand release candidates?

[2021-04-23 08:37] philwo commented on #13397
Indeed, they use `go-semver` to parse the Bazel version number, but because our release candidate version numbers are not valid SemVer versions (we use: `4.1.0rc4` but correct form would be `4.1.0-rc.4`), the parsing and ordering would not work correctly. If they had used https://github.com/hashicorp/go-version like we do in Bazelisk, it would be fine. We should change our release candidate number

[2021-04-23 08:38] philwo commented on #13397
Thanks @comius for confirming that this is the same issue, I'll close this and ignore it then! 😊

[2021-04-23 08:38] #13397 closed

[2021-04-23 12:46] thymbahutymba commented on #2762
I would like to apply the flag for everything except all external deps which are out of my control but it does not seems to work. I've inserted in the .bazelrc the following line:
`build --per_file_copt=-external/.*@-Werror=unused-variable`. If instead I use package specific name it works just for such dep `build --per_file_copt=-<package name>/.*@-Werror=unused-variable`. How can I solve this?

[2021-04-23 12:55] limdor commented on #12887
protobuf_deps() is only available from protobuf 3.8.0. The question here is what is the minimum version of protobuf supported with Bazel 4

[2021-04-23 13:12] luna-duclos opened #13398 "Bazel query cannot resolve paths that are not in the root workspace"
### Description of the problem / feature request:

Given the following repo layout:

[code]

When doing a bazel query from the root workspace into the sub-workspace like so: `bazel query foo/bar/file.txt`, the query cant actually solve the file, despite this working fine in the root workspace
Instead, one has to word the query like so: `bazel query @bar//:file.txt`, which then works fine for all q

[2021-04-23 13:49] meteorcloudy opened #13399 "Bazel CI: Kythe timed out in downstream with Bazel@HEAD"
https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/2005#295b3ae4-539a-4682-bc9c-8372b8dbfba4
The build stuck at
[code]
Culprit finder: https://buildkite.com/bazel/culprit-finder/builds/1372
I had to manually rerun the culprit finder because of time out, the earliest commit that this can reproduce is:
https://github.com/bazelbuild/bazel/commit/2f5c575596a05d15e1669b661ce457798760cc1a

[2021-04-23 14:22] Marine5174 commented on #1683
Is it possible to prioritise this issue? Our team found it is confusing that the changes of environments that are passed by client_envs have no effect in Bazel server in such case, especially critical envs such as HTTP_PROXY and HTTPS_PROXY.

Naively there could be three possible solutions:
1. For each Bazel command, pass client_env from the client to the running Bazel server and invalidate all cl

[2021-04-23 14:51] stefanbucur commented on #12559
(Sorry for the delay, for some reason I missed the notification.)

Yeah, I was suggesting to disallow `None`, because it can be confusing at the use site. Without the reader being familiar with the semantics, I think it can ambiguously be interpreted as either one of these.

By the way, if "default" here means to leave the configuration value unchanged, then this begs the question of whether the c

[2021-04-23 21:46] michajlo commented on #1683
`client_env` is a _per-command_ construct that's separate from the server process's environment variables. This seems like more of an issue of making sure that misc things that should be are pulling from `client_env` and not the server's environment.

[2021-04-23 21:51] bjacklyn commented on #11943
@chancila -- I believe your `repo_env` change may also fix this issue
https://github.com/bazelbuild/bazel/commit/c2bdd034014f66ce14529cc353cda18a32320f6c

[2021-04-23 21:54] chancila commented on #11943
yea I think there's a bunch of duplicate issues around this https://github.com/bazelbuild/bazel/issues/12689

[2021-04-25 01:09] hochhaus commented on #13099
4.1.0rc4 appears to not compile upb with gcc 10 (see #12056).

According to https://github.com/bazelbuild/bazel/issues/12040#issuecomment-692585210 this fix was cherry-picked in to 3.5.1 and 3.6.0 but it seems to be missing from 4.0.0 and 4.1.0rc4. @philwo Could this be cherry-picked in?

[2021-04-25 11:55] rainmakerMa opened #13401 "win10 Extracting Bazel installation..."
I have installed the bazel 3.1.0 version

but when i try to use bazel to build, whatever i type bazel ...

it just show Extracting Bazel installation...  and quit , why is is ?

i want to use bazel to compile tensorflow, sos!!!

[2021-04-25 14:43] alexeagle opened #13402 "Typical formatting of rule docstring is unusable for Markdown output"
Commonly a rule with multi-line documentation can have a second paragraph, which developers commonly indent to be readable within the dictionary where it's declared:

[code]

However when producing Markdown-format output, the extra indent on the lines following the first causes that text to be a code block.

Bazel has [code to account for this](https://github.com/bazelbuild/bazel/blob/4.0.0/src/to

[2021-04-25 14:44] alexeagle commented on #13402
The same problem can be observed on docstrings for rule attributes. I can file a separate issue for that if the fixes go in separate PRs.

[2021-04-25 19:42] kurt-google commented on #8739
I was also looking for this functionality to integrate bazel artifacts with another build tool and found it helpful to know where various targets I built were going to land.

I have created a patch adding a simple `show-outputs` command that will work essentially the same as if you had run `build :target` just without building. You can find the patch here https://gist.github.com/kurt-google/4ff1b0

[2021-04-25 21:18] mexisme commented on #8739
I think the functionality I wanted is to be able to publish artefacts to a specific non-Bazel path (or hierarchy) rather than reach inside Bazel's own path structures.
I'm curious why you preferred to reach into Bazel's files?
(For my own learning/understanding)

[2021-04-25 22:58] stellaraccident commented on #8739
Install steps and/or user defined organization of a build tree are pretty standard, except for in bazel. Personally, the lack of such features (and its general aversion to "integration" concerns) are big parts of the reason why I strongly caution projects against using bazel outside of a corporate monorepo that is tightly controlled.

[2021-04-25 23:14] cpsauer opened #13404 "@bazel_tools//src/main/protobuf reference missing runtime"
### Description of the problem:

Bazel commands like aquery output protobufs in formats described in `@bazel_tools//src/main/protobuf`. This would make building tooling on top of them amazingly easy...except that the py_proto_libraries specify runtimes and protoc's from `//third_party/protobuf`, which doesn't seem to be included in @bazel_tools. No fun! So then you can't use the bundled definition

[2021-04-26 00:19] kurt-google commented on #8739
I'm specifically just trying to run some bazel managed executables with some flags pointing to bazel built directories. I assumed it would be easier to find all my bazel artifacts than it would be to write rules for packaging them or running them.

Perhaps the more bazel-y way is to actually write the run rule you need in bazel (See gazelle if you havent for how this works), and I was trying to av

[2021-04-26 00:49] cpsauer commented on #10374
I think this has now been fixed (though not released) as part of https://github.com/bazelbuild/bazel/issues/12063

[2021-04-26 07:28] meteorcloudy commented on #13399
Corresponding internal issue: b/186205441

[2021-04-26 07:29] meteorcloudy commented on #13399
The breakage was fixed as the culprit was rollbacked

[2021-04-26 07:29] #13399 closed

[2021-04-26 07:37] meteorcloudy commented on #13099
@hochhaus 4.0.0 does include those cherry-picks, if you check https://github.com/bazelbuild/bazel/commit/b3ac8f60973ba60d578ae6a653cdd993a2d206d7 and https://github.com/bazelbuild/bazel/commit/26cbf776e0cdd8fbb9a40aca4c1be6f5313b6eb4, you can see those two commits are included since `3.7.0`.

[2021-04-26 07:38] quval commented on #13284
I just sent a PR with an attempt at implementing this. Again, I'll be happy to iterate on details. Thanks!

[2021-04-26 09:24] odracirnumira commented on #8739
Coming again from a biased position aligned with how BUCK does this, I think an option "to publish artefacts to a specific non-Bazel path" is more complicated than necessary.

BUCK's approach is as simple and as powerful as it gets: it gives you the ability to query where the output generated by a specific rule is, and from there you can basically do whatever you want. Each rule has a well defined

[2021-04-26 18:12] gregestren commented on #12559
By "default" I mean the flag's implicit value at the command line if you never explicitly set it.

As a random example, consider [`--crosstool_top`](https://github.com/bazelbuild/bazel/blob/4571417a35fd4f86316417edebab9c083a503244/src/main/java/com/google/devtools/build/lib/rules/cpp/CppOptions.java#L116):

    $ bazel build //foo          # --crosstool_top = @bazel_tools/tools/cpp:toolchain (defa

[2021-04-26 18:56] hochhaus commented on #13099
Thanks @meteorcloudy. My issue is unrelated. Please ignore the noise.

[2021-04-26 19:19] fmeum opened #13406 "`@local_jdk` references fail with Ubuntu 20.10 OpenJDK"
### Description of the problem / feature request:

As of https://github.com/bazelbuild/bazel/commit/3733065ddd418357e0e74091789ace5884b01fef, references to `@local_jdk` lead to an error when running with the OpenJDK installed by the `openjdk-15-jre-headless` package of Ubuntu 20.10.

The stack trace is as follows:
[code]

With that package installed, the command `java -XshowSettings:properties`, w

[2021-04-26 19:34] ulfjack commented on #13099
It would be good to cherrypick 8ba48ad869006d87abc84e2f699fbc59eb8470f8 as a partial fix for Java coverage.

[2021-04-26 21:43] Bencodes commented on #13099
This would be another good one to get into the 4.1 release https://github.com/bazelbuild/bazel/commit/48eee8b4b447a2ad11df28dd81a2ccb65562b5f5

[2021-04-27 01:46] keith commented on #13406
I see this on macOS as well

[2021-04-27 01:56] keith commented on #13406
Can you test with https://github.com/bazelbuild/bazel/pull/13407 to see if it works as expected?

[2021-04-27 02:05] pscheid2 commented on #3709
I'm not sure this issue is still relevant. The error message to be improved ("Invalid SHA256 checksum.") is no longer anywhere in the repo and files touched in the old PRs on this issue don't have any special checksum validation logic.

[2021-04-27 05:24] fmeum commented on #13406
Thanks, that fixes the issue.

[2021-04-27 07:33] #8685 closed

[2021-04-27 09:39] alice-ks commented on #13238
We tracked the compatibility of the Bazel plugin with IntelliJ/CLion 2020.3 in https://github.com/bazelbuild/intellij/issues/2102. As written on that issue, we pushed a version of the plugin compatible with IntelliJ/CLion 2020.3 to the public plugin repository on April 16. It should be available to you if you search in the marketplace.

We're aware that IntelliJ/CLion 2021.1 have been released by

[2021-04-27 09:58] huangh12 commented on #11001
I have to say the indispensable internet connection and the repeat fresh downloading of dependencies(without caching) has make bazel a dammit disgusting tool for me.

[2021-04-27 14:14] caseyriebe commented on #11554
Had a similar issue with building in a `Dockerfile`. I am able to get around it with:
[code]

[2021-04-27 19:06] cvrebert commented on #13338
Is there a particular reason you chose a `genrule` over a `rule`? IME, the `ctx.files` and `ctx.outputs` APIs largely save you from having to care about the genfiles vs. bazel-bin distinction. And you don't have to deal with Make syntax/variables.

[2021-04-27 21:42] acecilia commented on #5144
For anybody getting here, this issue is solved with the addition of the `canonical_id` parameter:
* https://github.com/bazelbuild/bazel/commit/c917ab208942e7b250e4dc928863a56ea2bdaee3
* https://docs.bazel.build/versions/4.0.0/repo/http.html#http_archive

[2021-04-27 23:29] c-parsons opened #13409 "Updating android remote tools broke downstream projects"
https://github.com/bazelbuild/bazel/commit/b6f87f10ba908821cb71f8147815917829f16ebf broke a number of downstream projects (Bazel Examples, rules_jvm_external, Android Testing).

Example failure:
https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/2010#2595dff6-44ac-4996-9b38-cdacf2842215

We're issuing a rollback now, but perhaps the correct solution is to update AAPT2 on the buildbot

[2021-04-28 00:23] ahumesky commented on #13409
The new tools use a newer aapt2 flag, so we just need to update the android sdk to build tools, with the latest 30.0.3:

[code]

@philwo can you update the build image?

[2021-04-28 06:06] philwo commented on #13409
@ahumesky Will do!

[2021-04-28 06:12] philwo commented on #13401
Hi @rainmakerMa,

I'm sorry that Bazel is not working for you!

Could you post your question on our mailing list https://groups.google.com/g/bazel-discuss maybe? More people who might have had the same problem can see it there and try to help you! I'm happy to also respond there with some ideas.

If we find out that it's caused by a Bazel bug, we can continue here to track the debugging and fix.

[2021-04-28 06:12] #13401 closed

[2021-04-28 06:27] philwo commented on #13396
Hi @Vitalik-sobolev,

is it possible that your download as been truncated or corrupted? For comparison, here's the SHA256 sum of the file:

[code]

I tried to run the setup in a fresh Ubuntu 18.04 VM and it seems to work fine:

[code]

Cheers,
Philipp

[2021-04-28 06:32] philwo commented on #13389
Hi @halhwadi,

it seems like TensorFlow 2.3.0 is not yet compatible with Bazel 4.0.0. Could you please try the same with Bazel 3.1.0?

I found this information on the TensorFlow site about "Tested build configurations": https://www.tensorflow.org/install/source_windows#gpu.

Thanks! Please feel free to comment on this bug if it doesn't help and we can reopen it.

Cheers,
Philipp

[2021-04-28 06:32] #13389 closed

[2021-04-28 06:34] philwo commented on #13379
Hey @ted-xie, I'm sorry that this still isn't fixed. We'll get to it hopefully soon.

[2021-04-28 07:51] #13406 closed

[2021-04-28 08:14] halhwadi opened #13411 "release version keeps showing 4.0.0 even though I installed older versions"
### The release version doesn't change when older versions are installed

### Feature requests: what underlying problem are you trying to solve with this feature?

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

1. download the desired [bazel version](https://github.com/bazelbuild/bazel/releases)
2. type bazel in cmd

### What operat

[2021-04-28 09:04] EwoutH commented on #12889
@ahumesky, since you reviewed the PR for the NDK r21, would you be able to help out with this issue?

[2021-04-28 09:22] sventiffe commented on #13183
Yun, is this something we have capacity for? How much effort would it be?

[2021-04-28 10:31] meteorcloudy commented on #8353
Closing due to https://github.com/bazelbuild/bazel/pull/11973

[2021-04-28 10:31] #8353 closed

[2021-04-28 10:32] meteorcloudy commented on #13183
I think this is definitely doable, but the problem is that we don't have ARM Windows machines to develop locally or test on CI.
We definitely welcome contributions from the community!

[2021-04-28 13:51] janakdr commented on #13398
The logic to interpret a path as a target is here: https://github.com/bazelbuild/bazel/blob/863383aa4f67948b2024ba583b196defabb9e21d/src/main/java/com/google/devtools/build/lib/cmdline/TargetPattern.java#L340. We only ever try the main repository. This is not actually query-specific, it's about interpretation of any target pattern. Passing back to team-XProduct, since team-Core is pretty ignorant

[2021-04-28 14:57] ahumesky commented on #13409
thanks!

[2021-04-28 15:07] carl-mastrangelo commented on #11930
I too would like to voice my support for this.   Library owners need to be able to express these module dependencies on the module, even if use of modules is not widespread yet.

[2021-04-28 18:45] sluongng commented on #12339
https://github.com/bazelbuild/bazel/blob/9d2946440a43c2adc6b3cdf09739a6dbf5e29abf/src/main/java/com/google/devtools/build/lib/bazel/repository/downloader/DownloadManager.java#L170 there is probably something here that we can patch out to use the pre-rewritten url instead.

[2021-04-29 11:42] AndersSundman commented on #13231
I can confirm that it seems to be related to the string flags.

I tested the config experiment again and it doesn't seem to work. I must have confused something before.

`bazel build //:test --config=red --//:color=black` with a `build:red --//:color=red` in `.bazelrc` still makes it red.

[2021-04-29 14:33] albert-tomanek opened #13412 "Permit distribution of bazel on Flathub"
Hi,
I've [packaged bazel](https://github.com/albert-tomanek/flathub/tree/org.freedesktop.Sdk.Extension.bazel) for distribution on [Flathub](https://flathub.org/about) and as part of the publishing requirements I need to contact the authors to check whether they approve.
Could you confirm that this is ok?
Thanks

[2021-04-29 15:57] deanwampler-domino commented on #12762
I apparently wasn't subscribed to updates, so apologies for the late reply. I just attempted to create a reproducing, simplified example, but both Java and Scala examples worked as expected. I'm still using Bazel 3.7.2. Hence, I'm not sure why it failed before and this item can be closed.

[2021-04-29 15:58] deanwampler commented on #12762
Now signed in with the correct account...

[2021-04-29 15:58] #12762 closed

[2021-04-29 17:24] keith opened #13413 "Warning about mismatched remote / local Xcode versions when not running remotely"
If you have some Xcode config like:

[code]

Where 12.5 is only available locally, but you only pass `--strategy=local`, you still see this warning:

[code]

I would only expect to see this if I was actually executing actions remotely.

[2021-04-29 22:13] tobiade commented on #12559
This has now been fixed by #13286. Thanks @gregestren @stefanbucur!

[2021-04-30 06:59] aoxipo opened #13415 "bazel crashed in win10 when i delete _bazel_admin file and reinstall bazel"
### Description of the problem / feature request:

### Feature requests: what underlying problem are you trying to solve with this feature?

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

### What operating system are you running Bazel on?

### If `bazel info release` returns "development version" or "(@non-git)", tell us how you bu

[2021-04-30 07:25] anthpi commented on #10904
@lberki Thank you for your feedback.
There are several aspects of having a wrapper that are problematic:
1. From the user perspective if we modify the bazelrc file an error occurs it might be hard for the user to understand what caused it as file name printed by Bazel will point to some generated file.
2. With wrapper being triggered prior Bazel one can end up in a situation when several builds ar

[2021-04-30 09:22] davido opened #13416 "Java 17 toolchain support"
### Description of the problem / feature request:

Support for java 17 to be used with toolchain resolution for java rules, e.g. with this section in `.bazelrc:`

[code]

This build command should fetch remote JDK 17 and produce major java version 17:

[code]

### Feature requests: what underlying problem are you trying to solve with this feature?

Build Java code and produce major java version 17

[2021-04-30 14:07] hobofan commented on #12837
As it took me quite some time to figure out a good workaround (the mentioned ones didn't work) as a Bazel newcomer, here is how I got it working.

Assuming a installed version of `1.18.20` for lombok via [maven_install](https://github.com/bazelbuild/rules_jvm_external), add the following to your `BUILD` file:
[code]

`:lombok` can now be used as a dep for your `java_library`:

[code]

[2021-04-30 18:12] cushon commented on #12837
@hobofan that example isn't affected. The issue is that the API generated by lombok for `mylib` won't be visible to libraries that depend on it. If everything is compiled in one `java_library`, or if the API generated by lombok isn't used by downstream `java_library` rules, this should have always worked.

If you have an example like:

[code]

Where `B.java` refers to the lombok-generated APIs in

[2021-04-30 19:19] hobofan commented on #12837
Hmm strange. I was only trying to use the methods generated by lombok from inside the same library and this was the only way I was able to get it to work.

I don't know if the underlying cause is the same, but at least from a users perspective it looked the same as the reported issues, so maybe someone else with the same problem as me will stumble upon it and find it helpful 🤷

[2021-04-30 19:24] cushon commented on #12837
What else did you try that didn't work? Is the report more that `java_plugin` and `exported_plugins` were unintuitive?

[2021-04-30 19:43] alanfalloon commented on #5865
Also, if you use `bazel run` to run a command that produces stdout, you don't want the stdout of actions to get mingled in as well.

[2021-04-30 20:44] hobofan commented on #12837
IIRC I tried these things in roughly that order:

- Putting `"@maven//:org_projectlombok_lombok"` into `deps` of my `java_library`; Starting point, just like I was used to from Maven
- The `--nojava_header_compilation` workaround; No visible change, but I also didn't encounter the turbine warning/error mentioned above which made me think something was off
- Putting  `"@maven//:org_projectlombok_lo

[2021-04-30 21:17] acecilia commented on #4867
Seems like this issue is solved by `ui_event_filters`, no?

[code]

[2021-04-30 21:47] #13004 closed

[2021-04-30 21:47] #13005 closed

[2021-05-01 00:29] beasleyr-vmw commented on #12951
Similarly, Bazel fails to de-dupe the equivalent keys. After adding `ff3` as another allowed value, I can make Bazel 4 crash like so: `bazel build first --//:first_flag=ff1 --@//first_flag=ff3`.

PR hopefully coming shortly.

[code]

[2021-05-01 01:05] beasleyr-vmw commented on #12951
Oh! It looks like this was already fixed ~Jan-Feb on master.

https://github.com/bazelbuild/bazel/issues/11128#issuecomment-767818911

So I guess this can be resolved as a duplicate of 11128?

[2021-05-01 01:28] konste commented on #12951
@beasleyr-vmw do you know if the fix is going to make it to 4.1.0? I cannot find what the cutoff date was.

[2021-05-01 02:05] beasleyr-vmw commented on #12951
@konste It doesn't look like it. :(

A diff of master..release-4.1.0rc4 reveals the following:

[code]

juliexxia's commits might be candidates for cherry-picks (see #13099), though.

https://github.com/bazelbuild/bazel/commit/c22855857d3fb6c13ef70c48710793bbc4f195ea <-- fixes cmdline stuff
https://github.com/bazelbuild/bazel/commit/2039c75069218260c9115928774d1b7ab9e91a9d <-- prereq for next comm

[2021-05-01 03:35] konste commented on #13099
Can we also cherry pick https://github.com/bazelbuild/bazel/commit/c22855857d3fb6c13ef70c48710793bbc4f195ea if possible? It is small and looks safe to take.

[2021-05-01 03:36] konste commented on #12951
Thanks! I'll try.

[2021-05-01 12:44] phst opened #13419 "Support --compile_one_dependency in Starlark"
### Description of the problem / feature request:

`--compile_one_dependency` officially works only for built-in rules. Starlark rules can pass `attr.label_list(flags = ["DIRECT_COMPILE_TIME_INPUT"])`, but that is undocumented and doesn't work for single-label attributes (`attr.label` doesn't have a `flags` parameter). It would be great to give `attr.label` and `attr.label_list` an officially-supp

[2021-05-01 14:03] davido commented on #7849
@katre @comius

Any progress here?

I still cannot build Gerrit on Bazel@HEAD, because I cannot unflip `--incompatible_use_toolchain_resolution_for_java_rules=false`.

I tried on: 6535847b7e166947feeeb2e378b5884b06b70a42:

[code]

I also wrote this #12973: but it got P4 priority.

Bottom line: I cannot build Gerrit on Bazel@HEAD. The only workaround is to cherry-pick this issue: [1], that wasn't m

[2021-05-02 15:18] sluongng commented on #12339
I hacked around this a bit yesterday but couldnt find any tests for `distdir` in the context of DownloadManager

That would left me with only a few options:

1. Write some tests for current `distdir` interaction with DownloadManager before attempting to fix this issue
2. Try to get the Java debugger working in IntelliJ and manually test the fix with debugger in Bazel code base
3. Just compile baze

[2021-05-02 18:37] KanzaSheikh commented on #12741
Has this issue been solved? The mobile-install is still throwing error for the concurrent module. How can I run my app?

[2021-05-03 01:21] Xychen1994 commented on #12502
Any update for this ? Also got the same bug here with echo $JAVA_HOME like this
`/Library/Java/JavaVirtualMachines/adoptopenjdk-8.jdk/Contents/Home`

[2021-05-03 13:13] oquenchil commented on #13412
@sventiffe

[2021-05-03 15:26] susinmotion commented on #13413
Xcode selection happens in the analysis phase, where the strategy hasn't come into play yet.

The way we work with this internally is by passing an `--xcode_config` that only contains local versions (eg `@local_config_xcode//:host_xcodes`) if we're not using remote execution.

In order to get rid of the warning if `--strategy=local`, we'd need to reevaluate the Xcode config when the strategy chang