[2018-10-25 14:32] laszlocsomor commented on #6512
Good news: this **does not happen at HEAD**, i.e. with Bazel built at 91ea085653d5909b01cf9d959b5795a6aadfd010. Phew.

[2018-10-25 14:32] #6512 closed

[2018-10-25 14:55] rongjiecomputer commented on #2241
SingleJar is indeed fully ported. `desugar_checking` (depended by `singlejar_local`) can only be built with Bazel that includes https://github.com/bazelbuild/bazel/commit/914b4ce14624171a97ff8b41f9202058f10d15b2 (see #6292).

I will need to rebase #6251 and fix a few stuffs before saying that all singlejar tests pass (since my previous PR was changed quite a bit). Should I wait for #6513 to be imp

[2018-10-25 15:01] katre commented on #3115
@or-shachar I can't reproduce that error with 0.19.0rc9 (both downloaded from https://releases.bazel.build/0.19.0/rc9/index.html or built from the branch on github):
[code]

Are you sure which binary you're using? Let me know which version you downloaded.

[2018-10-25 15:28] or-shachar commented on #3115
@katre right. false alarm. Seems like my custom installer of RC did not really link it well.
I was running `0.13.0` 🤦‍♂️
Thanks for your quick reply!

[2018-10-25 15:34] aiuto commented on #6488
Do you think this is a generic bazel problem or a swift one?
https://github.com/bazelbuild/rules_swift/issues

[2018-10-25 15:37] jmmv opened #6514 "Document why Bazel is written in Java"
The question of why Bazel is written in Java has come up many times, and every time, the team has had to explain the same answers.

We should add an entry to the FAQ that clarifies this. In particular:

* why Bazel is Java;
* why we don't think Java is a problem for adoption;
* why we don't think Java is a problem for performance;
* and what have we done / are doing to make the use of Java transpa

[2018-10-25 15:43] aiuto commented on #6503
Can you verify that you really used https://github.com/bazelbuild/bazel/releases/download/0.18.0/bazel-0.18.0-installer-darwin-x86_64.sh on a Linux box?
That will certainly not work. The executable would be for Mach, not Linux.
The instructions for install on Linux are here
https://docs.bazel.build/versions/master/install-ubuntu.html

[2018-10-25 15:53] aiuto commented on #6459
@laszlocsomor Do you want to close as a dup or leave this open?

[2018-10-25 16:00] aiuto commented on #6401
Passing back to @jerrymarino  for more details. We would love to know what host systems and if the workspace is located on a case insensitive or sensitive partition.

[2018-10-25 16:08] laurentlb commented on #6514
Many people think they first need to install Java before being able to use Bazel.

e.g. https://twitter.com/Jakeherringbone/status/1053653932893908994

[2018-10-25 18:06] ixdy commented on #6136
We just ran into this on our CI with bazel 0.18.0.

https://gubernator.k8s.io/build/kubernetes-jenkins/pr-logs/pull/70245/pull-kubernetes-e2e-gce-device-plugin-gpu/51169/

[code]

[2018-10-25 18:50] sgreenstein opened #6515 "Bring back --bes_best_effort functionality"
### Description of the problem / feature request:

Bring back --bes_best_effort functionality

### Feature requests: what underlying problem are you trying to solve with this feature?

The BEP upload has been flaky (fails 80% of the time) for members of my team recently, one of whom uses a pipeline to build then run a script if the bazel build command succeeded. That workflow is now broken: Bazel

[2018-10-25 19:37] gregestren opened #6516 "Platform/toolchain support for C++ rules"
Tracking issue  on [Bazel Configurability Roadmap](https://bazel.build/roadmaps/configuration.html)

Goal:
* C++ toolchains can be defined with Bazel's generic [toolchain machinery](https://docs.bazel.build/versions/master/toolchains.html)
* C++ rules read these toolchains
* C++ rules resolve properly against [platforms](https://docs.bazel.build/versions/master/platforms.html)

[2018-10-25 19:45] gregestren opened #6517 ""Toolchain modes" for same-platform toolchain selection"
Tracking issue on [Bazel Configurability Roadmap](https://bazel.build/roadmaps/configuration.html) and [Bazel Platforms Roadmap](https://bazel.build/roadmaps/platforms.html)

Goal:
* Document how to define and use multiple toolchains on the same platform
* Examples: debug vs. opt mode, correctness sanitizers

[2018-10-25 19:55] gregestren opened #6518 "Obsolete old-style "platform-like" flags"
Tracking issue on [Bazel Configurability Roadmap](https://bazel.build/roadmaps/configuration.html) and [Bazel Platforms Roadmap](https://bazel.build/roadmaps/platforms.html)

Goal:
* Ad hoc, ungeneralizable "platformy" flags like `--cpu`, `--javabase`, `--apple_crosstool_top` are replaced with [`--platforms`](https://docs.bazel.build/versions/master/platforms.html#specifying-a-platform-for-a-build

[2018-10-25 20:08] gregestren opened #6519 "Let targets set what platforms they build for"
Tracking issue on [Bazel Configurability Roadmap](https://bazel.build/roadmaps/configuration.html)

Goal:
* Something like this works:

[code]

This syntax is theoretical; it may not look exactly like this. The point is rules can embed which platforms they target and all the correct toolchains get linked in without having to specify anything at the command line.

Furthermore, *different* rules nee

[2018-10-25 20:09] gregestren commented on #6519
Prerequisite work is still happening, so marking as a P3 now. This means we're not actively working on this yet. Will upgrade priority once the prereqs are out of the way.

[2018-10-25 20:14] gregestren opened #6521 "Platform/toolchain support for Java rules"
Tracking issue on [Bazel Configurability Roadmap](https://bazel.build/roadmaps/configuration.html)

Goal:
* Java toolchains can be defined with Bazel's generic [toolchain machinery](https://docs.bazel.build/versions/master/toolchains.html)
* Java rules read these toolchains
* Java rules resolve properly against [platforms](https://docs.bazel.build/versions/master/platforms.html)

[2018-10-25 20:16] gregestren commented on #6521
@katre / @aituo . - can you provide better info about the path forward?

[2018-10-25 20:28] gregestren opened #6523 ""Feature flags" let Android binaries determine which features library dependencies include"
This already exists in Bazel, but it was soft-delivered and intentionally undocumented while we kicked the tires. It's one of a few initiatives on the [Bazel Configurability Roadmap](https://bazel.build/roadmaps/configuration.html) that let binaries configure how their dependencies work.

This also covers "manual trimming", which is also undocumented but represented at, e.g., https://github.com/ba

[2018-10-25 20:28] #6523 closed

[2018-10-25 20:40] gregestren opened #6524 "Experimental Bazel mode automatically "trims" multi-configured graphs"
Tracking issue on [Bazel Configurability Roadmap](https://bazel.build/roadmaps/configuration.html)

Lots of the work on that roadmap can increase build graph size unnecessarily. For example, if two Java binaries have a common data dependency on a Go binary (either directly or transitively) and they're built in the same Bazel invocation with different JDKs <sup>1</sup>, there's no need to build the

[2018-10-25 20:53] gregestren opened #6525 "Provide early adoption guidance for custom Bazel flags and transitions"
Lots of projects on [Bazel's Configurability Roadmap](https://bazel.build/roadmaps/configuration.html) will make it *much* easier to custom-configure how builds work without having to set hard-coded flags at the command line.

This includes user-defined transitions (*"build all my deps for a different cpu"*) and user-defined flags (`--my_special_rule_flag`", possibly settable directly in the rule)

[2018-10-25 21:02] gregestren opened #6526 "Multiplatform output paths are safe, correct, and efficient"
Tracking issue on [Bazel Configurability Roadmap](https://bazel.build/roadmaps/configuration.html)

By "multiplatform" I mean any scenario where two different rules in the same build build with different settings. This also includes non-platform settings like *app version*, but "multiplatform" is a concise term to capture the essence.

Long-story short is `bazel-out/$(cpu)-$compilation_mode)/...`

[2018-10-25 21:05] gregestren opened #6527 "Java compilation doesn't include cpu in output paths"
Tracking issue on [Bazel Configurability Roadmap](https://bazel.build/roadmaps/configuration.html)

Goal:
* Changing `--cpu` shouldn't re-compile Java compilations, which don't care about CPU.

This is a specialization of https://github.com/bazelbuild/bazel/issues/6526. Currently deprioritized in favor of that issue, which technically solves this one.

I did some research a while back about what i

[2018-10-25 21:45] cyberbono3 commented on #6503
thank you!

[2018-10-25 22:00] davido opened #6528 "Recent Bazel releases don't run on Alpine Linux"
I'm trying to package 0.18.0 on Alpine Linux, on Docker using this modified docker file: [1], with these commands from this project: [2]:

[code]

It worked already last time with 0.15.2. On 0.18.0 it's failing with: [3]. This prevents me from releasing new bazel package for Alpine Linux.

[1] https://github.com/dnephin/docker-apk-build/blob/master/builder/Dockerfile
[2] https://github.com/davido/

[2018-10-26 02:52] ob commented on #6488
It feels like a Bazel error. The exception is
[code]
so it seems it fails when trying to fetch the protobuf repository.

[code]
according to the intertubes, this could happen when using policy files from a different version of the JDK. Maybe it's related to the recent JDK upgrade?

[2018-10-26 03:05] ittaiz commented on #3115
@dkelmer
Any updates about this with respect to WORKSPACE loading?
On Thu, 25 Oct 2018 at 18:29 Or Shachar <notifications@github.com> wrote:

[2018-10-26 08:58] ittaiz commented on #6417
No but I also don’t understand the current decision of only exports. Maybe
you can add a bit more info? You might be completely right, I was just
triggered by the asymmetry.
On Fri, 26 Oct 2018 at 11:25 Irina Iancu <notifications@github.com> wrote:

[2018-10-26 09:15] liues1992 commented on #79
Please don't support golang. Please.

[2018-10-26 09:15] liues1992 commented on #79
Please don't support golang.
go build is good enough.

[2018-10-26 09:20] regnat opened #6529 "The "What is the build label for" section on the query how-to is misleading"
### Description of the problem / feature request:

In [What is the build label for //path/to/file/bar.java?](https://docs.bazel.build/versions/master/query-how-to.html#what-is-the-build-label-for-path-to-file-bar-java) (and also [here](https://docs.bazel.build/versions/master/query-how-to.html#what-package-contains-file-path-to-file-bar-java) and [here](https://docs.bazel.build/versions/master/que

[2018-10-26 11:31] laszlocsomor commented on #6459
I'd like to keep it open for per-command progress reporting (i.e. for slow `repository_ctx.execute` calls).

[2018-10-26 11:34] laszlocsomor commented on #2241
Thanks for the update! If you can wait for #6513, that won't hurt, though you can also do it without I guess. But it'll be merged in 1-2 hours anyway.

[2018-10-26 13:04] mhlopko commented on #6516
Before I leave for 3 weeks of vacation, let me say I'm not aware of any work needed now that https://github.com/bazelbuild/bazel/commit/683c302129b66a8999f986be5ae7e642707e978c is submitted. John, do you know about anything?

[2018-10-26 13:10] laurentlb commented on #6529
Thanks for the report, the documentation looks wrong indeed.

`bazel query` seems to use the target syntax (like `build` or `test` commands), which is explained here: https://docs.bazel.build/versions/master/guide.html#target-patterns

[2018-10-26 13:48] katre commented on #6516
Testing, that's all. Enjoy your vacation!

[2018-10-26 14:17] laurentlb commented on #6487
I haven't looked into details, but is it related to this change? https://docs.bazel.build/versions/master/skylark/backward-compatibility.html#expand-directories-in-args

[2018-10-26 14:48] lberki commented on #6489
This is actually working as intended and the documentation is also, technically, correct because the Make variables come not from `CppConfiguration` but from an implicit dependency.

We are planning to remove the dependency of genrules on C++ toolchains, too, for this exact reason, but that's a different refactoring. Let me just clarify this in the documentation...

[2018-10-26 14:48] #6489 closed

[2018-10-26 15:33] #6529 closed

[2018-10-26 16:10] ittaiz commented on #5963
Can you please cherry pick https://github.com/bazelbuild/bazel/commit/e025726006236520f7e91e196b9e7f139e0af5f4 for #6456? Thanks! Cc @cushon

[2018-10-26 16:37] laurentlb commented on #6448
Using labels to reference directories is currently broken.
Doc: https://docs.bazel.build/versions/master/build-ref.html#label_directory
Related discussion: https://groups.google.com/d/msg/bazel-dev/vAf_k-OqFzY/BM5nGeq0BAAJ

Can you use `glob` to match the files instead?

[2018-10-26 16:47] katre commented on #6116
Barring any further blockers, I plan to release 0.19.0 on Monday.

[2018-10-26 16:47] benjaminp commented on #6489
Ah, thanks for the explanation. I assumed it was going to be a similar story to the Java-related make variables.

[2018-10-26 17:36] jmcmullan opened #6530 "ctx.actions.declare_directory() - all contents marked with executable permissions"
### Description of the problem / feature request:

When using `ctx.actions.declare_directory()`, any directory contents resulting from a `ctx.actions.run(.., output = [ directory ], ...)` end up with executable permissions set, regardless of the permissions set by the action.

### Feature requests: what underlying problem are you trying to solve with this feature?

I'd like the output directory to

[2018-10-26 17:59] ob opened #6531 "Expansion of $(location) on path with spaces double-quotes argument."
Tested with Bazel 0.18.0 and master as of d4e3ad8951.

Small test to reproduce at: https://github.com/ob/bazel-tests/tree/master/spaces

If I run:
[code]
I get this output (paths removed and output elided for clarity):

[code]

And the build succeeds. However, if I run:

[code]
DEBUG: arule.bzl:3:5: Expanding Location Placeholders...
DEBUG: arule.bzl:4:5: Values: ["-c", "$(location a dir/foo.c)"]

[2018-10-26 18:31] benjaminp commented on #6530
This is the behavior for all action outputs, directory or not.

[2018-10-26 19:11] bergsieker commented on #6393
@cushon What is the priority of this issue? I believe it was originally filed as a result of a regression related to updates in javabase handling, and I don't want remote execution to be blindsided by future updates.

[2018-10-26 19:15] jmcmullan commented on #6530
Is there a 'rationale' for this behavior?

I would expect this of the output of rules tagged as 'executable = True' or 'test = True', but to make _all_ output files executable seems... just wrong.

[2018-10-26 20:00] natalieparellano commented on #5163
Hey @mhlopko @laszlocsomor any progress on this? The workaround we are using to compile Envoy may be on its last legs, as we are getting close to the character limit again even after making "_virtual_includes" as short as possible.

[2018-10-26 20:55] ixdy opened #6533 "bazel reporting %workspace%/.bazelrc is no longer being read when it is a symlink"
### Description of the problem / feature request:
In kubernetes/kubernetes, we have a `.bazelrc` in the root of our workspace. (It's actually a symlink to a subdirectory - maybe that's the source of this bug?)

Running bazel 0.19.0rc8, it's now complaining that this `.bazelrc` is no longer being read:
[code]

... though it appears that it is still being read, since `--config=unit` works, which we

[2018-10-26 20:57] ixdy commented on #6533
The symlink is `.bazelrc -> build/root/.bazelrc`.

If I delete the symlink and copy `build/root/.bazelrc` to the workspace root, this error message goes away.

So that does appear to be the bug.

[2018-10-26 21:13] borkaehw commented on #2832
We have a design doc from Lucid Software, it basically follows Design No. 1: Multiplex. We would like to take feedback and open a PR after we address everyone's concerns.

https://docs.google.com/document/d/1OC0cVj1Y1QYo6n-wlK6mIwwG7xS2BJX7fuvf1r5LtnU/edit?usp=sharing

[2018-10-26 21:19] jin commented on #2832
@borkaehw thank you for the doc! could you please read the [Bazel Design Review process](https://bazel.build/designs/) and follow the steps there? This will improve the visibility of the doc to the entire Bazel ecosystem ([bazel-dev](https://groups.google.com/forum/#!forum/bazel-dev), [proposals repository](https://github.com/bazelbuild/proposals)).

[2018-10-26 21:21] borkaehw commented on #2832
@jin thanks, I would love to.

[2018-10-26 22:07] borkaehw commented on #2832
@jin just want to make sure I understand the steps.

1. Create a PR in bazelbuild/proposals for a row under `Under review`.
2. Send a greetings in bazel-dev mailing list with the design doc and discussion thread (this thread).

I am not sure if we want to make a PR to bazelbuild/bazel since some features need to be decided and not yet implemented.

Do I miss anything?

[2018-10-26 22:38] jin commented on #2832
Yes, please hold off creating a Bazel PR until your design has been
approved. The main discussion thread should be the announcement in the
bazel-dev mailing list, not this issue, but you can link to this issue
there.

On Fri, Oct 26, 2018 at 6:07 PM Bor Kae Hwang <notifications@github.com>
wrote:

[2018-10-27 00:31] dgoldstein0 commented on #6448
no.

My issue is not that I'm using a filegroup.  Rather, I have a rule that outputs a directory File in it's files provider; I would like bazel to verify that the label I pass has a files provider that only has directories.

It occurs to me, that I'm not actually sure whether bazel applies the allow_files option to validate the providers of each target in the label_list anyway... does it?

[2018-10-27 05:56] davido commented on #6528
It worked last time on Bazel 0.15.2 and is failing to build on Aline Linux in all later releases.

[2018-10-27 06:07] trainman419 commented on #5995
I'm trying to apply multiple aspects and use `required_aspect_providers` to pass data between then, and I'm running into a similar issue trying to apply the aspects from the command line:

[code]

[2018-10-27 10:24] mhlopko opened #6537 "incompatible_provide_cc_toolchain_info_from_cc_toolchain_suite: Provide CcToolchainInfo from cc_toolchain_suite, not cc_toolchain."
**Flag:** `--incompatible_provide_cc_toolchain_info_from_cc_toolchain_suite`
**Available since:** 0.20
**Will be flipped in:** 0.21
**Enclosing tracking issue:** https://github.com/bazelbuild/bazel/issues/6072

In the past, cc_toolchain was selected during the configuration construction, and we want to move it the proper analysis phase. For that we need to change which rule provides `CcToolchainIn

[2018-10-27 14:12] fajran commented on #4063
I run into the same problem. I did check the pkg_tar rule and I see the `pkg_tar` rule uses [`build_tar.py`](https://github.com/bazelbuild/bazel/blob/master/tools/build_defs/pkg/build_tar.py) script underneath. As @sghiaus mentioned, the script uses `=` as delimiter which conflicts with the file name.

[2018-10-27 14:31] fajran commented on #4063
it's interesting to see that the rule/script uses `=` as delimiter for [files](https://github.com/bazelbuild/bazel/blame/master/tools/build_defs/pkg/pkg.bzl#L47), [modes](https://github.com/bazelbuild/bazel/blame/master/tools/build_defs/pkg/pkg.bzl#L57), [owners](https://github.com/bazelbuild/bazel/blame/master/tools/build_defs/pkg/pkg.bzl#L59), and [owner names](https://github.com/bazelbuild/baze

[2018-10-27 17:48] davido commented on #6528
OK, it seems that Alpine Linux doesn't have support for Java 9: [1].

* [1] https://bugs.alpinelinux.org/issues/8089

[2018-10-27 18:18] davido opened #6539 ""Could not load //external package" error when --incompatible_no_transitive_loads option is used"
I'm trying to build Gerrit master on most recent Bazel version: 4ca2b6d5c4d201009ff21a3abbeddd9d58d4c95b.

All is fine when buildng gerrit `headless` server without `--all_incompatible_changes` option:

[code]

However, rien ne va plus, if `--all_incompatible_changes` option is used:

[code]

[2018-10-27 19:41] pauldraper commented on #4517
I too am confused about which is conventional, or the pros/cons.

What will be least confusing to contributors to my OSS project?

(And for that matter, why does Bazel need both?)

[2018-10-28 14:56] jfancher commented on #6449
Sorry, was that last question for me? I'm not sure I have enough context to answer -- I don't know what constitutes a 'regular' rule.

From a little more experimentation, neither `package_group` nor `test_suite` may be aliased. However:
- `package_group` is listed as a function, not a rule, so I'm not sure why there's the expectation that it would work in the first place.
- `test_suite` doesn't er

[2018-10-28 23:54] AustinSchuh opened #6540 "C compilations are missing -frandom-seed"
@mhlopko, I was working on upgrading our CROSSTOOL to features and noticed that C compilations don't use -frandom-seed.  Is that intentional?

[2018-10-29 03:51] aiuto commented on #6531
Not sure if this is Starlark or Execution. We'll have to sort it out.

[2018-10-29 05:45] jonasschneider opened #6542 "_solib directory placement within runfiles misses external solibs"
### Description of the problem / feature request:

I'm trying to build a plug-in `.so` to be later dynamically loaded from runfiles. However, I'm running into an issue with the case where that `.so` uses `linkshared=1` and itself depends on some other libraries (I can reproduce it with both cc_library and cc_import deps). The rpaths set in the .so can get out of sync with the actual filesystem tre

[2018-10-29 07:54] aehlig commented on #6210
I believe that commits c3bcafb68d7b50ccd3c8f9bf56a9194b887903d0 and 9cc36db79b4ed288235e203bfe419c3adb3894b2 fix the issue. Please reopen, if the problem persists after those two commits.

[2018-10-29 07:54] #6210 closed

[2018-10-29 08:40] iirina commented on #4665
cc @lberki to prioritize this issue

[2018-10-29 09:51] aehlig commented on #5963
On Fri, Oct 26, 2018 at 04:10:42PM +0000, Ittai Zeidman wrote:

scripts/release/release.sh create --force_rc=4 0.18.1  c062b1f 2834613 2579b79 faaff7f b073a18 bf6a63d c1a7b4c 71926bc 86a8217  914b4ce e025726006236520f7e91e196b9e7f139e0af5f4

--
Klaus Aehlig
Google Germany GmbH, Erika-Mann-Str. 33, 80636 Muenchen
Registergericht und -nummer: Hamburg, HRB 86891
Sitz der Gesellschaft: Hamburg
Geschae

[2018-10-29 10:28] Globegitter commented on #1289
@aehlig what is the reason that the api change would make this slow to be accepted? Could it not just be behind some experimental flag or something?

[2018-10-29 14:04] katre commented on #4517
General advice, I think, should be to always use BUILD.bazel, unless you have an existing codebase that doesn't.

Bazel has both for this reason: we have a very large codebase that uses only "BUILD" files, but there are many legitimate cases where users cannot name files "BUILD", and so they need an alternative.

[2018-10-29 14:21] meteorcloudy commented on #6485
Fixed by 914b4ce14624171a97ff8b41f9202058f10d15b2

[2018-10-29 14:21] #6485 closed

[2018-10-29 14:50] katre commented on #6116
Release 0.19.0 is live! See https://github.com/bazelbuild/bazel/releases/tag/0.19.0

@petemounce and @vbatts, can you update the packages you maintain?

[2018-10-29 15:53] katre opened #6543 "Remove sysroot information from CppConfiguration"
Currently, the ` cc_toolchain` rule is looking up the label for the sysroot from the CppConfiguration. In order to break this, we need a new cc_toolchain attribute to make this connection, and to remove the legacy handling.

Internal issue: http://b/78578234

[2018-10-29 16:10] borkaehw commented on #2832
@jin just completed the requirements. Let me know if further actions are needed. Thanks.

[2018-10-29 16:22] jjudd commented on #2832
Link to the mailing list thread for those interested: https://groups.google.com/forum/#!topic/bazel-dev/bLoQsFpd2bA

[2018-10-29 16:52] #5902 closed

[2018-10-29 17:07] katre opened #6544 "Release note generator should add contributors list"
Currently, we're manually adding the list of contributors to thank to the release notes: we should instead be generating this.

Current script:
[code]

[2018-10-29 17:13] jin commented on #6544
A small enhancement: discovering the issue(s) the contributor's commit closes, and linking to those issues too.

e.g.

[code]

[2018-10-29 17:15] katre commented on #6544
@jin Currently we're not linking individual contributors to single issues, just listing everyone who contributed. I'm not sure trying to do that is going to be useful in the release notes: anyone who is interested can check the Git history themselves.

[2018-10-29 17:16] katre commented on #6116
Blog post is live: https://blog.bazel.build/2018/10/29/bazel-0.19.0.html

[2018-10-29 18:09] timpeut opened #6545 "Java compile resource renaming"
The [native java compile builder](https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/rules/java/JavaTargetAttributes.java#L291) allows setting a path for a resource (which is where it will be placed in the jar). The [starlark implementation](https://docs.bazel.build/versions/master/skylark/lib/java_common.html#compile) does not support this, instead just us

[2018-10-29 18:38] benjaminp commented on #6543
Is "systool" supposed to be "sysroot"? I'd never heard of this term before 4dd755ab2b515fa3ec9f88e4f9e5f7d76707c1c2 nor does it appear elsewhere in the codebase.

[2018-10-29 19:02] katre commented on #6543
Yes, thank you, I apparently cannot type today.

[2018-10-29 19:03] katre commented on #6543
Sending a new patch to fix the name of the flag...

[2018-10-29 19:15] kastiglione commented on #6461
Not handy, but I will try to follow up another time with something to consider.

Agreed. I mentioned "build files" in my original comment. Within .bzl files, I have no comment here, not having `+`  is reasonable. The flip side is BUILD files where many people will not know Python and just want a convenient syntax. Such folks wouldn't know or care. I realize you can't have it available in one and n

[2018-10-29 19:18] #6218 closed

[2018-10-29 19:43] vbatts commented on #6116
https://copr.fedorainfracloud.org/coprs/vbatts/bazel/build/816673/

[2018-10-29 19:47] davido commented on #6539
I tracked this down to `--incompatible_no_transitive_loads` option, thus related to: #5636.

[2018-10-29 19:55] serynth commented on #5933
Hmmm, so, if I'm understanding correctly, the problem is that given a testonly rule `//toplevel` which uses an aspect `aspect` which depends on a testonly rule `//aspectdata`, then the application of `aspect` to a non-testonly rule `//normalrule` will fail because the testonly validation is looking at the testonly bits for `//normalrule` (false) and `//aspectdata` (true). What you would like is fo

[2018-10-29 20:06] vbatts commented on #6116
failed compile on centos7
[code]

[2018-10-29 20:07] vbatts commented on #6116
err
wrong spot
[code]

[2018-10-29 20:08] katre commented on #6116
Do you know what JDK centos7 is using?

[2018-10-29 20:09] katre commented on #6116
@cushon Do you recognize the "CompactStrings" error?

[2018-10-29 20:10] vbatts commented on #6116
update: all fedora releases and centos failed.
java-1.8.0-openjdk-1.8.0.181.b15-6.fc28

[2018-10-29 20:17] ola-rozenfeld opened #6547 "Nested output symlinks behavior for RE"
Let's discuss cornercase issues with symbolic links as outputs here, especially pertaining to remote execution. Examples:

1. Action declares outputs foo/bar and foo/. Expected: remote execution returns both the output directory digest and the output file digest. The file is not downloaded twice (as part of the output directory).

2. Action declares only bar output, but actually creates bar as a s

[2018-10-29 20:21] serynth opened #6548 "Show diff in the "flags have changed, discarding analysis cache" message"
### Description of the problem / feature request:

As discussed in pull request #6078 - when the diff is sufficiently small, display the names of the flags which have changed when discarding the analysis cache. When too many flags have changed, note that "lots of flags" have changed.

### Feature requests: what underlying problem are you trying to solve with this feature?

Sometimes it's not clear

[2018-10-29 20:24] cushon commented on #6116
I recognize the flag. It's only supported by JDK 9 and newer, not JDK 8. That use might be coming from here:

https://github.com/bazelbuild/bazel/blob/41a1e837edd6d98c1e8ebdc5b6e0ec94b413f82c/tools/jdk/default_java_toolchain.bzl#L25

Is that a regression from 0.18? Can you provide more detail about your environment? i.e. do you have anything in your `.bazelrc`, or any custom `java_toolchain` defin

[2018-10-29 20:32] vbatts commented on #6116
0.18.0 compiled just fine

[2018-10-29 20:38] cushon commented on #6116
interesting, can you start a new bug and include more detail about the configuration that build is using?

[2018-10-29 20:55] aboettcher commented on #6116
Hi,
I am currently building docker containers that also involves compiling tensorflow using bazel. While doing this I got the new bazel version and since then no build works and I get `ERROR: Config value cuda is not defined in any .rc file` is there any way to easily fix that?

[2018-10-29 21:16] ittaiz commented on #5963
Thanks!
On Mon, 29 Oct 2018 at 11:52 Klaus Aehlig <notifications@github.com> wrote:

[2018-10-29 21:31] petemounce commented on #6116
0.19.0 is published to chocolatey.

[2018-10-29 21:32] petemounce commented on #5963
0.18.1-rc4 is published to chocolatey.

[2018-10-30 06:17] cushon opened #6550 "issue bootstrapping 0.19 on centos7"
@lberki

context: see discussion in #6116 starting around https://github.com/bazelbuild/bazel/issues/6116#issuecomment-434051680

137504e8cacda23efcc4b74f7c1b03e0074da030 removed the logic that selected a `java_toolchain` based on the `--server_javabase`. Normally that logic is useless because the `--server_javabase` is always the embedded JDK 9, but the `-dist.zip` archives produce a binary witho

[2018-10-30 08:01] buchgr commented on #6547
Thanks for summarizing this!

Seems like a minor optimization.

Bazel doesn't support dangling symlinks neither with local nor remote execution. So I think this is handled correctly as is.

I am not aware of any tools behaving differently if any part of a path is a symlink. I don't think the API should support this.

[2018-10-30 08:05] buchgr commented on #6457
@alexandrvb we do know that it works for java tests, but there might be something special about your setup. Can you provide a minimal reproducer please so that I can take a look? Thanks!

[2018-10-30 08:20] buchgr commented on #6421
I am with @edbaunton on this one. It doesn't hurt anyone to sort things and potentially avoids hard to find bugs.

Furthermore, I don't think in Bazel we should aim at not changing action cache keys between releases and we also haven't done so for local action in the past. I am fine with announcing known changes to the action cache computation in the release notes.

Also, independent of what we de

[2018-10-30 08:41] meteorcloudy commented on #6116
@aboettcher From 0.19.0, bazel stops read bazelrc file at `tools/bazel.rc`, you should manually import it in your `.bazelrc` file under the source root. Basically, do
`echo import %workspace%/tools/bazel.rc >> .bazelrc`

[2018-10-30 08:47] gertvdijk commented on #6116
Hmm. That would be a behavioral change which is not mentioned on [the 0.19.0 release notes page](https://blog.bazel.build/2018/10/29/bazel-0.19.0.html), and also not found in git commit messages (e.g. `git log --grep=bazel.rc` - only shows the 0.18 release commit actually mentioning this bazel.rc file location in the workspace as a feature).

[2018-10-30 08:49] philwo commented on #4600
Hi @s-pace,

thanks again for your continuous effort here. @fweikert and me (Bazel EngProd team) will see that we can enable this on our website as part of reworking our website for Bazel 1.0.

Can you please give access to the index to philwo@google.com and fwe@google.com?

One question: Can we tweak the search to return better results for important keywords in Bazel? For example, when I search f

[2018-10-30 09:37] lberki commented on #6550
I vote for doing nothing here. `--incompatible_use_remotejdk_as_host_javabase` is going to be flipped soon and then this will just work. In the meantime, that's a reasonable workaround. WDYT?

/cc @iirina @meisterT

[2018-10-30 10:16] s-pace commented on #4600
Hi @philwo

Thank you for your feedback and the details.

Sure:
- @fweikert has already access to the analytics we provide.
- I have granted philwo@google.com. You will need to choose the `DOCSEARCH` application from the algolia dashboard (top navbar). The analytics will be available from the analytics tabs from the right hand sidebar.

Before to index it, our [engine break down compound words](ht

[2018-10-30 10:30] s-pace commented on #4600
Live [demo](http://bazel-docsearch.surge.sh/), with a typo on purpose:

[![Preview here](https://cl.ly/9a9a606253e5/download/Screen%20Recording%202018-10-30%20at%2011.28%20AM.gif)](http://bazel-docsearch.surge.sh/)

[2018-10-30 10:37] aboettcher commented on #6116
I can confirm the comment from @meteorcloudy: adding the line fixes the problem using bazel 19. But as shown below in the output of the 0.18 version this error is expected (`WARNING: Processed legacy workspace file /tmp/tensorflow/tools/bazel.rc. This file will not be processed in the next release of Bazel. Please read https://github.com/bazelbuild/bazel/issues/6319 for further information, includ

[2018-10-30 10:48] laurentlb commented on #4600
To state again my concerns:
 * We get only 5 results (the current Google Search lists all results)
 * I don't see the url before clicking on the link
 * I cannot open the results in a new tab

When I look for "starlark provider", Google Search gives me the correct link (https://docs.bazel.build/versions/master/skylark/rules.html) as the first result. Algolia doesn't even show it:
https://i.imgur.c

[2018-10-30 11:03] regisd commented on #6545
Can you clarify?

In a Maven layout, let's say you have
- `src/main/resources/foo/foo.properties`
- `src/main/resources/bar/bar.properties`

Currently, this places 2 resources in the jar:
- `foo/foo.properties`
- `bar/bar.properties`

What could you place in the `resource_renames` attributes and how would it change the resources in the jar?

[2018-10-30 11:15] regisd commented on #6531
Related to #3475

[2018-10-30 12:21] alexandrvb commented on #6457
@buchgr I created simple Vagrant configuration (you also need ansible for provision machines) with two machines with bazel and one with the cache: https://github.com/alexandrvb/bazel-cache-test

Steps for reproducing the issue:
1. `vagrant up`
2. Run tests on the first machine: `vagrant ssh node1` -> `cd /vagrant/bazeltests && bazel test --remote_http_cache=http://192.168.33.10:8080 //...`
3. Run

[2018-10-30 12:21] sevki opened #6551 "Bazel remote cache SSLEngine closed alread"
### Description of the problem / feature request:
bazel fails reading/writing to remote-cache
[code]
the certificate is valid, and issued by DigiCert, it uses `TLS 1.2` and `ECDSA`. The certificate is able to be verified with every up to date browser.

### Feature requests: what underlying problem are you trying to solve with this feature?
Ship bazel with a more up to date trust store or provide a

[2018-10-30 13:02] s-pace commented on #4600
:wave:

Thank your for sharing your concerns.

You can increase the number of displayed result [thanks to the option `hitsPerPage`](https://community.algolia.com/docsearch/behavior.html#algoliaoptions)

You definitely raise a topic which we're aware of, it will be fixed in an upcoming version.

I am a bit confused about this example. We return pages talking about `starlark`, and containing the wor

[2018-10-30 13:17] brandjon opened #6552 "Warning for --batch emitted even when --batch not specified"
This happens when stating bazel in a non-workspace. Likely culprit is

https://github.com/bazelbuild/bazel/blob/1f684e1b87cd8881a0a4b33e86ba66743e32d674/src/main/cpp/blaze.cc#L1288=L1292

where we apparently turn on --batch automatically as an optimization. But in that case it'd be nice to suppress the warning.

[2018-10-30 13:18] buchgr commented on #6551
Hey Sevik,

you seem to be using Bazel from an unofficial package. Bazel doesn't ship with a truststore but uses what's provided by it's JVM. Presumably arch linux ships its own JVM?

[2018-10-30 13:35] ola-rozenfeld commented on #6547
Yes, the not downloading twice bit is minor -- however, I have a suspicion that currently it will just crash in this case, because it always expects the output file to not exist, so we need to fix it and add a test case.

The problem is not just that the tool behaves differently if part of the path is a symlink -- which, btw, according to George is a very common case with virtually all tools -- se

[2018-10-30 13:43] katre commented on #6116
The changed location of the rc files was discussed extensively in the release process for 0.18. I agree that it should have been mentioned in the release notes. It wasn't because there was no actual change enabling it: the location change was present originally in 0.18 (and mentioned in those release notes) before being removed.

[2018-10-30 13:44] katre commented on #6550
@lberki Release 0.19 cannot be built on redhat and centos systems, meaning those users cannot upgrade past 0.18.

Is the flip for `--incompatible_use_remotejdk_as_host_javabase` going to be something we can cherrypick into a 0.19.1 release to unbreak these users?

[2018-10-30 13:45] buchgr commented on #6551
Thanks @sevki.

Apparently, the OpenJDK did a major overhaul of trusted CAs with the release of JDK10 and this list seems to also include DigiCert: http://openjdk.java.net/jeps/319. So once we upgrade Bazel's JDK to JDK10 this should solve your issues. You can do that already by specifying the --server_javabase and pointing it to a JDK10 folder.

[2018-10-30 13:46] katre commented on #6116
@vbatts and @cushon Thanks for the details.

@vbatts Would it work to update the required jdk in [bazel.spec](https://source.bazel.build/bazel/+/master:scripts/packages/fedora/bazel.spec)? Right now it specifies "java-1.8.0-openjdk-headless", I don't know if fedora or centos have a jdk9 available.

[2018-10-30 13:46] meisterT commented on #6550
@katre sounds good to me

[2018-10-30 13:48] laurentlb commented on #4600
ok, I don't want to argue about which page should come first (search engines always feel like magic).
If I search only for "provider", I get this: https://i.imgur.com/sbOSYF0.png
In other words, all 5 results point to the same page.

On https://www.algolia.com/doc/, I see you can show more results. On your site, you have 15 results per page *and* it's not limited to one page. Also, your website ha

[2018-10-30 13:58] vbatts commented on #6550
it's not just centos7 ... fedora 27, 28, 29, and rawhide.
https://copr-be.cloud.fedoraproject.org/results/vbatts/bazel/fedora-29-x86_64/00816673-bazel/build.log.gz
Scroll to the bottom for the error output

[2018-10-30 14:03] vbatts commented on #6116
@katre centos7 does not have openjdk 9, it looks like fedora does.

[2018-10-30 14:11] buchgr commented on #6551
@sevki I just talked to people responsible for updating Bazel's JDK to 10. The plan is to do that in Bazel 0.22. There are a few changes that need to happen before we can safely update to JDK10, most importantly the decoupling of Bazel's JDK and javac's JDK. After 0.22 we will be able to update to new JDKs as their are released.

[2018-10-30 14:42] sevki commented on #6551
thanks @buchgr  for the response. openjdk-10 seems to break bazel. it gets stuck somewhere in analysis stage

[2018-10-30 14:45] sevki commented on #6551
sorry doesn't break it, it's just less verbose with git

[2018-10-30 14:48] sevki commented on #6551
also openjdk-10 doesn't seem to fix the issue. still getting
[code]

[2018-10-30 14:53] katre commented on #6550
@meisterT Looks like `--incompatible_use_remotejdk_as_host_javabase` was added after the cut for 0.19.0. I tried cherrypicking that and flipping the flag's default, but the build (on fedora) fails due to the missing external repo `@remotejdk_linux//`:
[code]

I assume there are other commits that need to be cherrypicked? I'm not sure how comfortable I am with adding these to the release.

[2018-10-30 15:05] katre commented on #6550
Repro directions:

1. Start a docker container: `docker run -it fedora bash`, then `cd /root`
2. In the container, install prerequisites: `dnf install rpm-build java-1.8.0-openjdk-devel zlib-devel pkgconfig python gcc-c++`
3. Download the spec file: `curl https://copr-be.cloud.fedoraproject.org/results/vbatts/bazel/fedora-rawhide-x86_64/00816673-bazel/bazel.spec > bazel.spec`
4. Edit the spec file

[2018-10-30 15:21] meteorcloudy commented on #4811
I'm trying to support `clang-cl.exe` on Windows, please see #6553.

[2018-10-30 15:38] #6421 closed

[2018-10-30 15:52] meisterT commented on #6550
@aehlig suggests to do a similar thing like here: https://bugs.freebsd.org/bugzilla/attachment.cgi?id=198759&action=diff

other than that, the distfile doesn't contain the remote JDKs and if we include them like here
https://github.com/bazelbuild/bazel/blob/master/WORKSPACE#L219
the build succeeds.

However, it adds architecture dependent files to the distribution archive which is intended to be d

[2018-10-30 16:04] katre commented on #6550
I agree, including the jdk in the distfile is a bad choice. I'll look and see if we can include a patch like that. And then add lots of testing around it.

[2018-10-30 16:19] cushon commented on #6550
I though the plan for `--incompatible_use_remotejdk_as_host_javabase` was to ship it in 0.20 and then enable it by default in 0.21. Trying to accelerate that change in to 0.19x seems ambitious.

If you want a cherry-pick, 137504e8cacda23efcc4b74f7c1b03e0074da030 still rolls back cleanly and restores the previous behaviour: #6555

Are there problems with using `--host_java_toolchain=@bazel_tools//t

[2018-10-30 16:34] laurentlb commented on #4600
I've played with it locally (thanks for the proof of concept!). It's much nicer when I increase the number of results, and it works quite well in general.

The search results for "providers" is still annoying: https://i.imgur.com/qTDmrjw.png (all 12 results are from the same page). Other searches I've tried are quite good.

[2018-10-30 16:38] cushon commented on #6550
Something like https://bugs.freebsd.org/bugzilla/attachment.cgi?id=198759&action=diff looks fine. That's basically baking in `--host_java_toolchain=@bazel_tools//tools/jdk:toolchain_hostjdk8 --java_toolchain=@bazel_tools//tools/jdk:toolchain_hostjdk8`. You could do that a little more directly by renaming `@bazel_tools//tools/jdk:toolchain_hostjdk8` to `@bazel_tools//tools/jdk:toolchain` without mo

[2018-10-30 16:55] katre commented on #6550
Yes, I have a downstream patch I'd like to ask @vbatts to apply. I've attached the patch and the edited bazel.spec file. The edited file just uses the patch from the local system, so we'll need somewhere to host the patch so it can be applied during the build.

@vbatts Is this something that works with the COPR system? I don't know enough about how that functions.

[rpm-jdk8.zip](https://github.co

[2018-10-30 17:13] vbatts commented on #6550
i'm watching https://copr.fedorainfracloud.org/coprs/vbatts/bazel/build/817021/

[2018-10-30 17:40] c-y-koo opened #6556 "Support for the equivalent of strip_include_prefix for py_library"
### Description of the problem / feature request:

For cc_library, there is the concept of strip_include_prefix. It'll be nice to have something equivalent
like strip_import_prefix that we can apply for py_library target.

### Feature requests: what underlying problem are you trying to solve with this feature?

Currently, in our github repo, the cc codes are under the directory
"cc/component/foo/.

[2018-10-30 18:09] vbatts commented on #6550
@katre all green with your changes

[2018-10-30 18:11] katre commented on #6550
Great! Do we need another bazel release, then, or is the fedora/centos release ready now?

[2018-10-30 18:28] katre commented on #6550
Great, I think we can close this, I'll update #6116.

Thanks for your help!

[2018-10-30 18:28] #6550 closed

[2018-10-30 18:28] katre commented on #6116
RPM-based builds are fixed downstream, see #6550 for details.

[2018-10-30 18:32] katre opened #6557 "Documentation claims Bazel requires JDK8"
Currently the install documents (at https://docs.bazel.build/versions/master/install-compile-source.html#bootstrap-unix-prereq) claim that Bazel works with JDK8, but this is no longer accurate. We need to update the docs to correctly explain the required JDK versions.

[2018-10-30 18:39] katre commented on #6116
With RPM packages in place, I am closing the tracking issue for this release.

[2018-10-30 19:18] katre opened #6558 "Document the exec_compatible_with attribute"
We should document the `exec_compatible_with` attribute that can be used to influence the execution platform for a specific target.

[2018-10-30 19:19] katre commented on #6558
@spomorski, we have https://docs.bazel.build/versions/master/be/common-definitions.html, where should the `exec_compatible_with` attribute be documented? It can currently be used with any test rule, and shell rule, or genrule, but we may expand that set in the future.

[2018-10-30 19:42] spomorski commented on #6558
I think that page is fine. You didn't mention build rules, does it work
with just test/shell/genrules (I might just be misunderstanding
shell/genrules)? If it works for build rules, let's just stick it in
"Attributes common to all build rules."

On Tue, Oct 30, 2018 at 3:24 PM katre <notifications@github.com> wrote:

[2018-10-30 19:55] katre commented on #6558
Sorry, by shell rules I mean sh_library, sh_binary, and sh_test.

I'll start adding some documentation to the common definitions.

[2018-10-30 20:15] cushon commented on #6557
@lberki

It depends what "works with" means (`--server_javabase`, `--host_javabase`, or `--javabase`)? Have we decided which JDK versions are supported yet?

Those docs are talking about bootstrapping, and JDK 8 is probably still a fine choice for that. The issue in #6550 only affects the binaries without an embedded JDK.

[2018-10-30 22:48] sgreenstein commented on #6395
I'm able to repro in 0.19.0

[2018-10-31 10:04] #5264 closed

[2018-10-31 10:06] meisterT commented on #6557
@katre I just followed the steps in a docker container and it produced a working bazel binary.

[2018-10-31 10:50] dslomov commented on #6117
I suggest I co-own this release to try out [Communicating Breaking Changes](https://docs.google.com/document/d/1q5GGRxKrF_mnwtaPKI487P8OdDRh2nN7jX6U-FXnHL0/) and [Managing Breaking  Changes](https://docs.google.com/document/d/1Dj5PBLmPVg9ZyApm4GobM3y-mDgY3mVaqpRVttOe-ZQ/)

[2018-10-31 12:36] laurentlb commented on #6531
The `$(location)` command has a very subtile (and undocumented?) effect of adding single quotes when the input contains a space.

[2018-10-31 12:36] laurentlb commented on #6531
The issue is not specific to Starlark, because I can reproduce it with genrule:

[code]

[2018-10-31 13:15] laurentlb commented on #6448
If it's inside your provider, you control what you put in it. There's no check when you create your provider, and someone could put a number instead of a target, for example.

When you declare your provider, I encourage you to document the provider and its fields (https://docs.bazel.build/versions/master/skylark/lib/globals.html#provider). If you're afraid that someone else will use your construct

[2018-10-31 13:30] katre commented on #6557
@meisterT Was that comment supposed to be on a different issue?

[2018-10-31 13:59] meisterT commented on #6557
No, the comment was meant to be on this issue. However, in the meantime I was made aware that while the bootstrap succeeds and the resulting binary can build C++, it cannot build Java.

Assigning to @lberki to clarify supported Java version before we spend any time here.

cc @iirina

[2018-10-31 14:59] gongsu832 commented on #6390
I'm trying to build bazel on IBM s390x Linux and getting the same error when using IBM J9. After a bit digging, the problem is that IBM J9 boot classes are scattered in many different pieces so the ./tools/jdk/DumpPlatformClassPath.java isn't picking up all the jars. With the following hack, I was able to build bazel-0.19.0.

[code]

Forgot to mention, you also need a symlink src/main/native/jnipo

[2018-10-31 15:32] sevki opened #6563 "apt-repo Packages checksum mismatch"
follow the instructions here https://docs.bazel.build/versions/master/install-ubuntu.html#install-on-ubuntu to reproduce but it looks like [Packages.gz](http://storage.googleapis.com/bazel-apt/dists/stable/jdk1.8/binary-amd64/Packages.gz) hasn't been updated with the updated package checkums
[code]

[2018-10-31 16:00] sevki commented on #6551
Here is what I've tried and this problem still persists;
- changed server javabase to use openjdk10
- installed the latest version of [a-certificates-java](https://packages.debian.org/buster/ca-certificates-java) ran with ` --host_jvm_args=-Djavax.net.ssl.trustStore=/etc/ssl/certs/java/cacerts --host_jvm_args=-Djavax.net.ssl.trustStorePassword=changeit` after that
nothing helped

[2018-10-31 16:05] laurentlb commented on #4517
`BUILD.bazel` is more explicit. If you have a `BUILD.bazel` file on your GitHub repository, users can understand what it is more easily (or they can find out easily). It also has less risk of collision.

Downside: it's more characters to type.

[2018-10-31 16:10] dslomov commented on #5815
What is missing for migration are: migration docs, length of migration window. After these are done, please add "migration-ready" label

[2018-10-31 16:11] dslomov commented on #5816
What is missing for migration: migration docs, length of migration window. After these are done, please add "migration-ready" label

[2018-10-31 16:12] dslomov commented on #5816
What is missing for migration: migration docs, length of migration window. After these are done, please add "migration-ready" label.

[2018-10-31 16:12] dslomov commented on #5817
What is missing for migration: migration docs, length of migration window. After these are done, please add "migration-ready" label.

[2018-10-31 16:13] dslomov commented on #5830
What is missing for migration: migration docs, length of migration window. After these are done, please add "migration-ready" label.

[2018-10-31 16:14] dslomov commented on #5823
What is missing for migration: migration docs, length of migration window. After these are done, please add "migration-ready" label.

[2018-10-31 16:16] dslomov commented on #5827
What is missing for migration: migration docs, length of migration window. After these are done, please add "migration-ready" label.

[2018-10-31 16:17] dslomov commented on #5637
incompatible_disallow_load_labels_to_cross_package_boundaries:

[2018-10-31 16:17] dslomov commented on #5637
What is missing for migration: migration docs, length of migration window. After these are done, please add "migration-ready" label.

[2018-10-31 16:17] dslomov commented on #6408
What is missing for migration: migration docs, length of migration window. After these are done, please add "migration-ready" label.

[2018-10-31 16:18] dslomov commented on #6153
What is missing for migration: migration docs, length of migration window. After these are done, please add "migration-ready" label.

[2018-10-31 16:34] dslomov commented on #6385
Is there a flag?

[2018-10-31 17:38] katre opened #6565 "incompatible_disable_sysroot_from_configuration: libc_top should be set by attribute"
Flag: --incompatible_disable_sysroot_from_configuration
Available since: 0.20
Will be flipped in: 0.21
Enclosing tracking issue: #6543

The sysroot (also called `grte_top` and `libc_top`) was previously set by default in the CROSSTOOL file, using the `default_grte_top` property. As this is a build label, and creates a new dependency in the build, it needs to be moved into an actual build target.

[2018-10-31 17:39] katre commented on #6565
The new incompatible change flag will be available in the 0.20 release, and the default value will be flipped to `true` in the 0.21 release.

[2018-10-31 17:41] #6544 closed

[2018-10-31 18:27] mmorearty opened #6566 "If I do --bazelrc=<absolute path>, Bazel claims the file is "no longer being read," but in fact it is"
### Description of the problem / feature request:

With Bazel 0.19.0, if I pass `--bazelrc=/tmp/my.rc`, or any other absolute path, Bazel prints a message warning me that that RC file is not being read, when in fact it _is_ being read.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Make a file called `/tmp/my.rc`, and put something

[2018-10-31 18:35] ittaiz opened #6567 "Have BEP reflect what was cached remotely"
### Description of the problem / feature request:

Given a build which does `bazel test //...` and uses RemoteExecution then following UIs which are based on top of the BEP (and so are target driven) are very confusing since they have no indication whether a target was cached remotely or not. Even the test indication is about local caching.
I'd like for the BEP to return true/false about whether o

[2018-10-31 18:37] mmorearty commented on #6566
cc @cvcal

[2018-10-31 18:49] cvcal commented on #6566
Thanks for the bug report!

@jmmv - this should all work by string compare, as you know, so somewhere the path must be getting mutated on mac.

[2018-10-31 21:01] ob commented on #6531
Is that to work around toolchains that couldn't deal with spaces? IMHO, it seems wrong to quote at that level. I think quoting should be done as close to the `exec` as possible no?

Maybe the solution is just to remove that single-quoting from `$(location)`?

[2018-10-31 21:17] adam-azarchs commented on #374
Asking for "any" character is perhaps making this feature request more complex to implement than is really required for most users.

I think it would be reasonable, from a perspective of maintaining the cross-platform objectives of bazel, to simply allow the full set of ascii characters which are allowed in both Windows and Posix file names (that is, everything except `/`, `\`, `?`, `%`, `*`, `:`,

[2018-10-31 21:25] #6566 closed, assigned to nobody

[2018-10-31 21:33] ixdy commented on #6533
looks like it.

[2018-10-31 21:33] #6533 closed

[2018-10-31 21:48] jerrymarino commented on #6401
Hey @dslomov and @aiuto thanks for following up - I can reproduce this on my current machine:
[code]
And any other mac running Bazel.

`bazelwrapper` is a helper script I'm using to version and automatically download bazels - none the less, I can reproduce the issue by running the bazel binary directly.

[2018-10-31 23:00] aehlig opened #6569 "incompatible_remove_native_git_repository: move to Starlark rule"
Flag [`incompatible_remove_native_git_repository`](https://docs.bazel.build/versions/master/skylark/backward-compatibility.html#remove-native-git-repository)

We're moving away from native `git_repository` rules to the [Starlark versions of `git_repository`](https://github.com/bazelbuild/bazel/blob/6c19720e7bbb2fe9fdc1fe615ac155bfd38f63ab/tools/build_defs/repo/git.bzl#L235). Those can be loaded vi

[2018-10-31 23:06] aehlig commented on #6569
The flag was already flipped by a55714cab4d75ef944e815baf3f1ae5ec9418812; this issue is for documentation purpose only.

[2018-10-31 23:08] #6569 closed

[2018-10-31 23:16] aehlig opened #6570 "incompatible_remove_native_http_archive: move to Starlark version of `http_archive`"
Flag [incompatible_remove_native_http_archive](https://docs.bazel.build/versions/master/skylark/backward-compatibility.html#remove-native-http-archive)

We're moving away from the native familty of `http_archive` functions to the [Starlark version of `http_archive`](https://github.com/bazelbuild/bazel/blob/c1f6455d38399853ff9f34e3eb5e8ca26e590290/tools/build_defs/repo/http.bzl#L139). The new funct

[2018-10-31 23:16] aehlig commented on #6570
The flag was already flipped by a55714c; this issue is for documentation purpose only.

[2018-10-31 23:16] #6570 closed

[2018-10-31 23:22] dgoldstein0 commented on #6448
hm, my other rule is just using a files provider to contain the folders.
that seemed like the most straightforward implementation at the time - I
didn't really see a need for a new provider otherwise.

On Wed, Oct 31, 2018 at 6:16 AM Laurent Le Brun <notifications@github.com>
wrote:

[2018-10-31 23:50] buchgr commented on #6457
Hey @alexandrvb,

thanks! I believe the problem you are facing can be fixed by specifying --experimental_strict_action_env. We are also about to flip this flag to default: https://github.com/bazelbuild/bazel/pull/6263

[2018-11-01 00:02] buchgr commented on #6378
@ola-rozenfeld can you take care of this please?

[2018-11-01 00:05] buchgr commented on #6392
@katre is this something where platforms can help? It seems that for cross compilation we'll need separate environment variables for host and execution platform?

[2018-11-01 00:11] buchgr commented on #6288
It seems that the jdk used in the docker container does not have $javabase/bin/jmap installed. @nlopezgi does the bazel-toolchains container ship with a full jdk?

[2018-11-01 02:13] benjaminp commented on #6567
Since 1bbeadc2e3b9dd09909c0a47f86cd878aede1392, both the UI and BEP should be telling you when a test is remotely cached.

[2018-11-01 04:19] arguile- commented on #6144
We ran into this issue with protobuf as well for multiple version of Bazel on OS X Mojave (10.14) after a system update.

[code]

On Mojave with the Xcode version 10.1 and the latest system update for CLI tools (release date 2018-10-30) this is resolved for us.

[2018-11-01 04:41] siddharthab opened #6571 "sh_test coverage fails if no lcov or gcov files were generated"
### Description of the problem / feature request:

`bazel coverage some_sh_test` fails if no lcov or gcov files were generated during the sh_test. This is undesirable because someone might want to generate code coverage for an entire repository with `bazel coverage //...`.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

BUILD.bazel

[2018-11-01 06:13] ittaiz commented on #6567
Thanks!
Why does the commit talk about “standalone”? Is this a different standalone
than the strategy? Will this apply to builds with remote execution (as
opposed to only remote caching)?

Btw,
What do you think in general about this request? Do you have a target based
UI or just console output?
On Thu, 1 Nov 2018 at 4:13 Benjamin Peterson <notifications@github.com>
wrote:

[2018-11-01 06:42] ufgtb24 opened #6572 "Tensorflow build on windows with bazel failed for link error"
I'm trying to compile tensorflow with MKL support on Windows 10 64bit via Bazel with command:
`bazel build --config=mkl --config=opt //tensorflow/tools/pip_package:build_pip_package`
on the following environments:
- Windows 10 64 bit
- Tensorflow 1.12
- Bazel 0.18
I have no idea what's wrong with my config, I have tried tensorflow r1.11 and r1.12. both ending up with same problem, the log is:
`
ER

[2018-11-01 07:49] davido opened #6573 "bazel test is failing with Java version mismatch when toolchain_vanilla is used"
On most recent Bazel version (c1f6455d38399853ff9f34e3eb5e8ca26e590290) I'm trying to build (works) and run the tests on JGit project with Java 10. While build is working, tests are failing with java version mismatch. It seems, that for tests, Java 8 is used, even though Java 10 should be used:

[code]

To reproduce, clone JGit (`git clone https://git.eclipse.org/r/jgit/jgit`), apply this CL: [1]

[2018-11-01 08:54] mihnita commented on #374
_"full set of ascii characters which are allowed in both Windows and Posix file names"_

Why _"full set of ascii characters ... allowed"_ and not _"full set of characters ... allowed"_ ?
Why ASCII only? Windows and POSIX allow for Unicode characters, for a very-very long time.

Since we need a way to escape spaces, and figure out all the places we need to patch to make it work, then we can just es

[2018-11-01 09:03] petemounce commented on #5963
0.18.1 is pushed to chocolatey

[2018-11-01 09:18] buchgr commented on #3360
I am consistently able to reproduce the issue with a Bazel build, but haven't had time to dig deeper :\. Thus I am somewhat reluctant to enable it by default. I think at the very least we should document it though?

[2018-11-01 10:10] alexandrvb commented on #6457
@buchgr it doesn't help
[code]

[2018-11-01 11:20] prestonvanloon commented on #6344
Ah, so $(location README.copy) is not absolute?

That sounds like my problem, thanks! 😃

[2018-11-01 11:20] #6344 closed

[2018-11-01 11:46] ahippler commented on #5963
`bazel-0.18.1-installer-darwin-x86_64.sh` is missing while the sha and the signature are available.

[2018-11-01 13:40] calder commented on #5741
@gertvdijk: With Bazel 0.16.1 this fails with
[code]

[2018-11-01 13:49] katre commented on #6392
Yes, as @ulfjack said in the original TODO, eventually the PATH needs to be set from either the execution platform or the toolchain, so that it is correctly dependent on the actual execution system's properties.

I'm not sure anyone has had any good thoughts on how to accomplish this, however.

[2018-11-01 13:55] ola-rozenfeld commented on #6378
I did. https://github.com/bazelbuild/bazel/commit/097194ff4c751451c7cd311d8c7eab365dd1983a should have fixed this.

[2018-11-01 13:55] #6378 closed

[2018-11-01 13:58] sevki commented on #6551
I've tried doing [this](https://github.com/bazelbuild/bazel/issues/5741#issuecomment-411823309), with the both openjdk-8 and openjdk-10 and both worked no problem. bazel is still failing when I change the `--server_javabase` openjdk-10 or anything that is not embedded

[2018-11-01 14:19] asuffield opened #6574 "Flags parsing errors are unhelpful for early startup issues"
### Description of the problem / feature request:

When bazel is working correctly, a command like: `bazel build --output_user_root=foo` gives the correct response of "Unrecognised option --output_user_root=foo", because the flag is in the wrong place.

When bazel cannot start up, it doesn't get as far as parsing these flags, and the output is rather more mysterious. Notably we noticed this when -

[2018-11-01 14:34] gertvdijk commented on #5741
This indicates something is hopelessly wrong. Some things to check:

* Are you indeed running Debian/Ubuntu or a derivative?
* Do you have the `ca-certificates-java` package installed?
* Could you verify the file `/etc/ssl/certs/java/cacerts` exists?

      $ file /etc/ssl/certs/java/cacerts
      /etc/ssl/certs/java/cacerts: Java KeyStore

* Does upgrading to a current stable Bazel version help?

[2018-11-01 14:49] kevingessner opened #6575 "incremental correctness problem with java deploy jars and `build-info-redacted.properties`"
### Description of the problem / feature request:

I believe I've found a latent correctness problem with the `bazel-out/k8-fastbuild/include/build-info-redacted.properties` file that is used when assembling deploy jars with singlejar.  The order of lines in that file is inconsistent; when singlejar assembles the deploy jar, it puts that file into the jar as `build-data.properties`, preserving the

[2018-11-01 15:50] or-shachar commented on #4993
+1
still very relevant!

[2018-11-01 16:09] benjaminp commented on #6567
There's a distinction between test strategy and spawn strategy. The only extant Bazel test strategy is called "standalone", which is used regardless of the ultimate spawn strategy used to execute the test-running spawns.

I'm not sure what exactly you're requesting that isn't already present. The builtin Bazel UI shows remotely cached tests as cached. That information is also exposed in BEP as `Te

[2018-11-01 16:14] cushon commented on #6573
`bazel test` runs the test using the target javabase, i.e. `--javabase`. Are you configuring `--javabase` anywhere?

See also the [relnotes for 0.19](https://github.com/bazelbuild/bazel/releases/tag/0.19.0):

[2018-11-01 16:42] cushon commented on #6573
When it worked, which JDK was the test using?

[2018-11-01 17:36] pauldraper commented on #4772
Strict Java deps uses warnings.

It shows a good example of when rule authors (in this case, the Java rule authors) needed warning capabilities.

[2018-11-01 17:42] pauldraper commented on #4517
At the very least, documentation can include @katre and @laurentlb's prescription (unless it is not true).

Pre-1.0 would be a great time to document something as simple as a recommended file extension.

[2018-11-01 18:05] ittaiz commented on #4517
BTW,
intellij bazel plugin still creates BUILD files and doesn't even allow
customizing the default option:
https://github.com/bazelbuild/intellij/issues/368

On Thu, Nov 1, 2018 at 7:52 PM Paul Draper <notifications@github.com> wrote:

[2018-11-01 18:07] ittaiz commented on #6567
I'm talking about non test artifacts such as java_library and others. This
is so that if you have a target based UI on top of the BEP you can filter
out all cached targets so the user can see the targets that this run
impacted. This is important when running with "bazel test //..."

On Thu, Nov 1, 2018 at 6:23 PM Benjamin Peterson <notifications@github.com>
wrote:

[2018-11-01 18:30] davido commented on #6573
Java 10.

[2018-11-01 18:36] davido commented on #6573
@cushon As you assumed, JAVA_HOME was set to Java 8 in that case:

[code]

I confirmed, that both options:

1. Explicitly passing: `--javabase=:absolute_javabase`
or
2. Setting `JAVA_HOME` to Java 10: `$ JAVA_HOME=/usr/lib64/jvm/java-10 bazel test ...`

fixed this issue.

[2018-11-01 18:38] msohn opened #6577 "Missing bazel-0.18.1-installer-darwin-x86_64.sh"
### Description of the problem / feature request:

It seems the file bazel-0.18.1-installer-darwin-x86_64.sh is missing for release 0.18.1
https://github.com/bazelbuild/bazel/releases/tag/0.18.1

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Try to install bazel 0.18.1 on a Mac

[2018-11-01 18:52] cushon commented on #6573
Did you verify it was using your local `/usr/lib64/jvm/java-10`? I was wondering if it was falling back to using the embedded JDK, before support for that was removed.

[2018-11-01 19:07] davido commented on #6573
I have not.

I guess you are right. I think it WAI and as documented in the release notes. Thanks for the help.

[2018-11-01 19:07] #6573 closed

[2018-11-01 20:20] laurentlb commented on #4517
I'll be happy to review a pull request for the documentation (most of the doc is in https://github.com/bazelbuild/bazel/tree/master/site).

[2018-11-01 20:32] davido commented on #6577
/CC @aehlig.

[2018-11-01 21:36] cinfra-nvidia opened #6578 "Native CUDA support"
### Description of the problem / feature request:

Add native toolchain support for CUDA.

### Feature requests: what underlying problem are you trying to solve with this feature?

Reduce overhead to adopting bazel for CUDA software projects.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Compiling the saxpy example from https://de

[2018-11-01 21:44] bmfnvidia commented on #6578
/cc @Artem-B @jlebar

[2018-11-01 22:07] davido opened #6579 "Cannot build Gerrit with toolchain_vanilla with Java 10"
When trying to build Gerrit master with `toolchain_vanilla` with java 10 (on Bazel@HEAD) I'm seeing this failure:

[code]

//CC @cushon

[2018-11-01 22:09] davido commented on #6579
Never mind, `--define=USE_ABSOLUTE_JAVABASE=true` option was missing.

[2018-11-01 22:09] #6579 closed

[2018-11-02 00:16] Artem-B commented on #6578
This is a problem that straddles multiple domains. While it's relatively easy to solve for any given project, solving it once and for all is a bit more complicated. It's probably doable, but will take some work and may need to wait a bit until bazel configurability features mature. In order to make things work for the end user, someone will need to own, develop and maintain something very similar

[2018-11-02 02:31] achew22 commented on #3115
This also pops up if you are importing a provider. `load("@something//:foo.bzl", "MyProvider")` and `load("//:foo.bzl", "MyProvider")` are not considered equivalent. In some cases it may make it impossible to take a provider since the internal form is referring to `//:foo.bzl%MyProvider` but you're passing in a `@something//:foo.bzl%MyProvider`.

[2018-11-02 04:39] Artem-B commented on #6578
That sounds reasonable. I'm mostly concerned how to get bazel to do things I want.

[2018-11-02 07:55] Globegitter commented on #6011
@katre Thanks for the response, well babelrc does have its own syntax also with allowing e.g. `build:config`. But in fact the syntax I suggested above is also valid syntax on the command-line, so what would be the issue with supporting that?

Otherwise yeah, having the same regex syntax as `runs_per_test` for `test_env/action_env` would also solve that specific issue and would be totally fine by m

[2018-11-02 07:57] ulfjack commented on #6392
@EdSchouten is there anything specific you want to achieve here? At this time, Bazel cannot automatically detect the exec platform (it only talks to remote execution after creating the configuration). The best we can do, right now, is to have the user set a flag saying what the exec platform is, which is largely equivalent to setting `--action_env=PATH=<value>`.

[2018-11-02 08:14] ittaiz opened #6580 "--strict_java_deps=warn regression in 0.18x"
### Description of the problem / feature request:

We have code which is being compiled via `java_common.compile`.
0.17.2 running with `--strict_java_deps=warn` emits a warning (`warning: [strict] Using type org.atmosphere.wasync.impl.AtmosphereClient from an indirect dependency (TOOL_INFO: "external/org_atmosphere_wasync/wasync-2.1.5.jar").`) we parse that and add the relevant buildozer strict-de

[2018-11-02 09:04] ulfjack commented on #6567
I don't think Bazel can do that. The problem is that such an indicator is inherently unreliable, i.e., you'd be getting false positives and false negatives. If you're making workflow decisions based on whether something was a remote cache hit, e.g., whether to push updated files to production, that's dangerous, and I definitely do not recommend doing that.

In particular, the outputs of a target c

[2018-11-02 09:04] EdSchouten commented on #6392
In our case we want to do builds of software on Linux workers from Windows hosts. We currently see that  if we pass in `--action_env=PATH=<value>`, remote builds work. Unfortunately, actions run as part of repository rules (e.g., `http_archive()`'s `patches` attribute) fail. These now also use the UNIX specific `--action_env` as well.

One idea might be to split up `--action_env` into `--local_act

[2018-11-02 09:19] ulfjack commented on #6392
I see. Well, it's definitely problematic to mix up these things, but the proposal doesn't sound quite right either - there is no such distinction between local and remote (there is no spoon!). Are you sure that params passed to --action_env are passed to repository execute calls? That sounds completely wrong.

[2018-11-02 09:36] ittaiz commented on #6567
Thanks for the detailed reply.
We’re not looking to make decisions based on this info (we use checksums
for deciding on deployment for example) but we are trying to give the user
more/better information.

In your suggestion do you mean to use bazel query? Can you say how reliable
that is? Additionally can you say how performant that is?
On Fri, 2 Nov 2018 at 11:04 Ulf Adams <notifications@github.c

[2018-11-02 10:30] mprobst opened #6581 "ctx.actions.run error message doesn't match args"
### Description of the problem / feature request:

Calling `ctx.actions.run(data = [...])` give this error message:

[code]

See how it suggests `run` has an argument `list data`. That's super confusing.

https://docs.bazel.build/versions/master/skylark/lib/actions.html#run

### Feature requests: what underlying problem are you trying to solve with this feature?

Docs/confusing error message.

###

[2018-11-02 10:49] laszlocsomor commented on #5163
@natalieparellano : sorry for the silence, both @mhlopko and I have been away.
Unfortunately we made no progress on this issue.

[2018-11-02 11:11] Globegitter commented on #3645
I have run into similar issues and the `jvm.out` has nothing relevant, just the some warnings that I believe are always there.

[2018-11-02 11:18] sevki commented on #6551
@buchgr so this does not seem to be a problem with the truststore but rather a problem with the http client that bazel uses, which does not seem to support SNI

[2018-11-02 11:47] aragos commented on #6518
First step: Provide a migration path from old style flags to platforms. Tracked in #6426.

[2018-11-02 12:17] davido commented on #6577
FWIW: The darwin installer can be found [here](https://releases.bazel.build/0.18.1/release/index.html).

[2018-11-02 13:11] ittaiz commented on #6580
Ok, this happens exactly the same when I have a java_library there.
Trying to carve out a minimal example.
Might be interesting to add that the build fails when I run `bazel build //some/path/foo/...` on `//some/path/foo:some-target` but passes when I run only `//some/path/foo:some-target`.
There are other sub-packages under `foo` and other packages.

[2018-11-02 13:32] msohn commented on #6577
thanks, meanwhile I upgraded to 0.19

[2018-11-02 14:32] laurentlb commented on #6531
I agree the sane fix is to remove the quotes.

[2018-11-02 14:43] baskus commented on #6469
I'm getting the same error message for **non-symlinks** on Windows with Bazel 0.19.0:
[code]

[2018-11-02 15:00] ob commented on #6531
Having said that, I'm not sure what to do about `$(locations ...)`... the example in #3475 would still be a problem:

[code]

[2018-11-02 15:59] ittaiz commented on #6580
there's a chance this is related to our setup. Still looking. I'll update later

[2018-11-02 16:10] #6475 closed

[2018-11-02 18:36] DavidGoldman commented on #6480
As an immediate workaround, you can try giving the JVM more memory: `bazel --host_jvm_args=-Xmx15G ...`. You can try increasing/decreasing the `15G` as needed.

[2018-11-02 19:07] haberman commented on #4092
I am also finding it confusing that `native.repository_name()` returns `@` for the main repository. Files in `runfiles` are scoped to the workspace name, but there doesn't appear to be any way to get this workspace name from a macro. So how can I refer to a runfile without copy/pasting the name of the workspace from `WORKSPACE`?

[2018-11-02 19:07] brandjon opened #6583 "Revamp Python 2/3 mode selection"
This issue tracks discussion around, and implementation of, the proposal to change the Python mode configuration state from a tri-value to a boolean.

See also #6444 to track specific features/bugs relating to the Python mode.

[Design doc](https://github.com/bazelbuild/rules_python/blob/master/proposals/2018-10-25-selecting-between-python-2-and-3.md)
[Discussion mail thread](https://groups.google

[2018-11-02 19:16] gennadiycivil commented on #5640
Ping. Any updates on this? Thank you

[2018-11-02 20:14] Globegitter opened #6584 "Ubuntu 18.10 c++ build throwing undeclared inclusion(s) in rule error"
### Description of the problem / feature request:

Some of our developers like to track the latest Ubuntu releases rather than LTS and after upgrading to 18.10 building [jsonnet](https://github.com/google/jsonnet) started failing with the following error:

[code]

They also tried to run `bazel clean --expunge` and that did not help. Building it with clang instead however does work (as mentioned in

[2018-11-02 20:47] cushon commented on #6580
Hard to say for sure without a repro, but I have a few notes:

I think that's a turbine error, not a javac error. Strict deps diagnostics in header compilation (hjar) actions are best effort. JavaBuilder is the source of truth for strict deps diagnostics.

There are some optimizations to prune or repackage transitive dependencies to reduce the number of inputs to hjar actions. They don't affect co

[2018-11-02 22:06] philwo commented on #6151
@cushon This is what I'm seeing:

[code]

I guess it comes from our IntelliJ plugin?

[2018-11-02 22:08] ittaiz commented on #6580
ok, fairly convinced this isn't related to our setup and is a real issue.
Still working on carving out a repro but I'm very close.
Just in case it will trigger an aha moment (or an "it's obvious you're doing something wrong" moment) for @cushon then I'll mention that we're running with `--java_toolchain` `--host_java_toolchain` `--host_javabase` `--javabase` all pointing to an oracle jdk 8.
Could

[2018-11-02 22:10] ittaiz commented on #6580
oh, just saw your reply now. thanks. I indeed created another downstream target.
Will update soon I hope

[2018-11-02 22:28] ittaiz commented on #6580
ok, that was lengthy, unpleasant and tedious but we have a carved out minimal repro :)
https://github.com/ittaiz/strict-deps-regression-18.1
`bazel build //...` with 0.17.2 => build completes successfully with a turbine warning + strict-deps warning
`bazel build //...` with 0.18.1 => build fails to complete
Note that you should symlink your jdk to `/usr/local/lib/jvm/java-8-latest` since that's wh

[2018-11-02 22:31] ittaiz commented on #6580
I'll note that we saw this also on 0.19,0 but I think the repro needs to be changed for this (I think the `bootclasspath` of the `default_java_toolchain` changed but I'm not sure)
Also this is blocking our upgrade to 0.19.0 (to be more precise we'll probably rollback our upgrade on Sunday).
Thanks for your help!

[2018-11-02 22:49] cushon commented on #6580
Building with `--keep_going` shows that the error is being reported by the turbine action, and that the corresponding JavaBuilder action logs the expected strict deps warning.

Without `--keep_going` you won't get the warning if the turbine action finishes first, and also that the warning gets cached so it won't show up on rebuilds.

[code]

The turbine action relies on the invariants enforced by

[2018-11-02 23:59] andreamlin commented on #5599
I had run into these same errors, along with the `Server terminated abruptly (error code: 14, error message: '', log file: `.../jvm.out` message, but it turns out that I was just getting an out-of-memory error while running the bazel target in a CircleCI container with limited memory. After constraining bazel to run with a smaller memory footprint ([tips from SO](https://stackoverflow.com/question

[2018-11-03 00:00] andreamlin commented on #3020
My bazel target had been running fine on my local desktop, but failing with the aforementioned `error 14...`. Solved this by constraining bazel's memory usage (https://stackoverflow.com/questions/34382360/decrease-bazel-memory-usage).

[2018-11-03 01:17] georgewfraser commented on #5723
Is there any documentation of how to use Bazel with Java 10? The [tutorial](https://docs.bazel.build/versions/master/tutorial/java.html) seems to describe Java 8, it's not obvious from the [user manual](https://docs.bazel.build/versions/master/user-manual.html) what combination of arguments might lead to Java 10 working. When I did

[code]

I got the error:

[code]

It would be nice if there were

[2018-11-03 04:33] ittaiz commented on #6580
I’ll take a look soon but why does it fail (and so need -k)? In 0.17.2 the
build completes successfully while in 0.18.1 it fails.
On Sat, 3 Nov 2018 at 0:49 Liam Miller-Cushon <notifications@github.com>
wrote:

[2018-11-03 04:43] cushon commented on #6580
My previous comment mentions that "the turbine action relies on the invariants enforced by strict deps to optimize its classpath." If there are missing direct deps, the optimization may result in 'missing symbol' errors that weren't present before.

[2018-11-03 04:52] ittaiz commented on #6580
I’m starting to understand (forgive me if I’m still putting in the pieces).
1. The build fails because you’ve removed strict-deps fallback to javac.
2. We don’t get the message because of turbine being able to work on
sources instead of bytecode (since it means it doesn’t have to be after the
strict-deps action execution wise).
3. Turbine changed to assume strict-deps already ran?

I hope I’m buil

[2018-11-03 05:19] cushon commented on #6580
Right. With `--strict_java_deps=error` the build would have failed either way.

Right, the turbine and JavaBuilder actions happen in parallel, unlike ijar which runs after JavaBuilder. That's basically the point of header compilation: we can move the slower JavaBuilder actions off the critical path. Scheduling turbine actions after JavaBuilder would make it easier to report good strict deps diagno

[2018-11-03 05:32] cushon commented on #6580
This should work with 0.19:

[code]

The important part is `jvm_opts = JDK8_JVM_OPTS,`; the implicit defaults now assume a JDK 9 `--host_javabase`. I recommend `DEFAULT_JAVACOPTS` too, but it should work without it.

[2018-11-03 05:40] ittaiz commented on #6580
Thanks! Indeed generates it.
I think both of these changes weren't in the release notes, am I mistaken?
The frequency of java changes since 15 are hard to keep up and without big bold announcements it's even harder :(
Also,
Is there any relevance to strict-deps `warn`? Do the above changes mean it will fail often (always?)?

Again, I really appreciate your help on this.

[2018-11-03 05:50] cushon commented on #6580
You're right that there weren't relnotes for the direct classpath changes, and maybe there should have been. It was supposed to be functionally equivalent and only affect performance, but I didn't think through the effect on `--strict_java_deps=warn`.

Yeah, this is definitely a regression for `--strict_java_deps=warn` :/ I think `--keep_going` is a good work-around for your use-case, and I'll def

[2018-11-03 06:02] ittaiz commented on #6580
Thanks!
Not sure “production” is the right categorization as this is a non
experimental feature that effectively stopped working. Also for developer
machines.
I have to say that for our specific use case I think we can use -k but for
developer machines and rapid iterations maybe this is still desired.
On Sat, 3 Nov 2018 at 7:50 Liam Miller-Cushon <notifications@github.com>
wrote:

[2018-11-03 06:09] davido commented on #5723
You can configure Bazel build with Java 10 and 11. You have to use VanillaJavaBuilder for that. On Bazel master it can be easily done, because vanilla_toolchain was added to Bazel. On recent Bazel releases, it's a bit verbose to achieve, as vanilla_toolchain has to be added, but something like that should work (see working example in [Gerrit Code Review project](https://gerrit.googlesource.com/ger

[2018-11-03 06:50] cushon commented on #5723
`@bazel_tool//tools/jdk:toolchain_vanilla` made it into 0.19x.

Also keep in mind that approach is unsupported; this bug is tracking full support:

https://github.com/bazelbuild/bazel/blob/f8be43cebfe5d9ee80e838c883fb305969ece743/tools/jdk/BUILD#L227-L233

[2018-11-03 07:28] cushon commented on #6580
`java_toolchain.javac` is a legacy attribute and shouldn't have an effect either way.

The canonical `--host_javabase=<jdk8>`-compatible toolchain is `@bazel_tools//tools/jdk:toolchain_hostjdk8`:

https://github.com/bazelbuild/bazel/blob/f8be43cebfe5d9ee80e838c883fb305969ece743/tools/jdk/BUILD#L209-L215

[2018-11-03 08:52] davido commented on #5723
Thanks for pointing this out. I confirmed, that it works as expected in 0.19.0, so that I was able to remove both `toolchain_vanilla` and `absolute_javabase` and this invocation just works:

[code]

This is well known and understood. Bazel already support with JavaBuilder Java 9:

[code]

My plan is to adjust the instruction and move from VanillaJavaBuilder to JavaBuilder that would remove those r

[2018-11-03 16:41] jin commented on #6578
@aiuto @mhlopko I'm only slightly familiar with CUDA, but I'm not familiar if this should be assigned to Product or C++ team. Please reassign if needed.

[2018-11-03 18:41] endobson opened #6586 "Hard crash due to IllegalStateException when loading target patterns"
### Description of the problem / feature request:

Bazel hard crashes in the following way when I attempt to build my code. (My code is broken but bazel should not have internal errors when dealing with it).

[code]

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Running the same command line in this repo.
https://github.com/endobso

[2018-11-03 22:40] or-shachar opened #6588 "should we re-release 0.19.0?"
After the publish of bazel 0.18.1 - seems like the apt repository is confused to think that 0.18.1 is the latest version. Not sure about other packages repositories.

cc: @dslomov

See what I had to do here:
https://github.com/GoogleCloudPlatform/cloud-builders/pull/403

[2018-11-04 04:03] apjanke commented on #6552
I'm getting this same warning when attempting to build Bazel 0.19.0 from scratchon macOS 10.13.6 with JDK 7, 8, 9, 10, and 11 installed.

[code]

It would be nice if this warning, if it is in fact mistaken, could be removed, to reduce user confusion. I'm finding it somewhat intimidating to build Bazel in the first place, and reducing spurious warnings would be helpful.

[2018-11-04 04:26] apjanke opened #6589 "__STDC_FORMAT_MACROS warning when bootstrapping on macOS"
### Description of the problem / feature request:

When building Bazel "from scratch" on macOS, the following warning is emitted:

[code]

Is there an issue here? Or perhaps the `#define __STDC_FORMAT_MACROS 1` should be guarded with an `#ifndef  __STDC_FORMAT_MACROS`, just to avoid the warning? I'm no C expert, so I don't know if it's appropriate for this to be unconditionally defined here.

This

[2018-11-04 04:41] apjanke opened #6590 "Error building bazel on macOS 10.13: StrictJavaDepsPlugin.java:180: error: incompatible types: int cannot be converted to com.sun.tools.javac.code.Lint.LintCategory"
I believe this is a Bazel build issue; I apologize if this should have been just a question about how to build Bazel on macOS.

### Description of the problem / feature request:

When attempting to build Bazel 0.19.0 "from scratch" on macOS 10.13 and Xcode 9.4 or 10, the Bazel build fails with the following error.

[code]

Here's the full `compile.sh` output:

[code]

### Feature requests: what un

[2018-11-04 09:37] cushon commented on #6590
Which one is on your `PATH`, and what is `JAVA_HOME` set to?

[2018-11-04 09:55] apjanke commented on #6590
None is directly on my `PATH`, and `JAVA_HOME` is not set. On macOS, the default `java`/`javac` commands are shims that use `/usr/libexec/java_home` to detect the version of Java to use. This defaults to the latest installed. In my case, it's OpenJDK 11.

[code]

[2018-11-04 10:29] cushon commented on #6590
bootstrapping with 8 should work; 11 isn't supported yet:

[code]

[2018-11-04 11:44] apjanke commented on #6590
Bootstrapping with Java 8 using that command worked.

Bootstrapping with Java 9 also seemed to work, though it generated warnings.

Closing this as "expected behavior".

[2018-11-04 11:44] #6590 closed

[2018-11-04 20:59] jin commented on #6588
cc @katre

Release 0.19.0 ref: https://github.com/bazelbuild/bazel/issues/6116

[2018-11-04 21:01] jin commented on #6586
Looks like a hard crash while evaluating Starlark. Assigning to the Starlark team.

[2018-11-04 21:09] jin commented on #6577
@meteorcloudy has manually uploaded the installer to the release page (thank you @meteorcloudy!!)

Also see discussion on https://groups.google.com/forum/#!topic/bazel-discuss/tI6Q5QmbFCQ

Closing this now.

[2018-11-04 21:09] #6577 closed

[2018-11-04 21:13] jin commented on #6333
Shall we transfer this issue to rules_go?

https://help.github.com/articles/transferring-an-issue-to-another-repository/

[2018-11-04 21:16] jin commented on #6572
Hello, it looks like this issue is related to Tensorflow's build. This issue tracker is for Bazel's bugs and features, please create an issue on [Tensorflow's issue tracker](https://github.com/tensorflow/tensorflow/issues) instead. If you believe this issue is related to a bug in Bazel, please reopen this issue.

  Thanks!

[2018-11-04 21:16] #6572 closed

[2018-11-04 21:39] jin commented on #6563
cc @katre @aehlig

[2018-11-04 21:55] jin commented on #6552
Assigning to team-Product, because this is a matter of user experience.

[2018-11-04 22:33] jin commented on #6530
I'm also interested to learn about the rationale behind this. @ulfjack / @lberki?

[2018-11-04 22:36] jin commented on #6528
Closing this issue as it's a downstream issue on Alpine.

[2018-11-04 22:36] #6528 closed

[2018-11-04 22:41] #6503 closed

[2018-11-04 22:45] jin commented on #6499
Hello @rahul-nitkkr, thank you for creating this issue.

  The Bazel team uses GitHub Issues to track **bugs** and **feature requests** only. Your question will have a higher visibility on the [bazel-discuss](https://groups.google.com/forum/#!forum/bazel-discuss) mailing list and [StackOverflow](https://stackoverflow.com/questions/tagged/bazel), which are also read by the Bazel team and the commun

[2018-11-04 22:45] #6499 closed

[2018-11-05 00:47] msohn commented on #6577
thanks

[2018-11-05 07:33] ulfjack commented on #6530
Simplicity. On posix-like systems, it's generally not a problem if files are marked executable even if they're not. It's also simpler for users (if a bit surprising). Internally, we use a file-based CAS in combination with per-action symlink trees - since symlinks can't overwrite file permissions, having multiple copies of the same file with different permissions would multiply the size of the CAS

[2018-11-05 08:28] Globegitter opened #6592 "Update embedded JDK to 11 to fix a host of docker related issues"
### Description of the problem / feature request:

As far as I can tell bazel is currently coming embedded with openjdk 9 and it is having issues with easily running out of memory in docker containers (most prominently CircleCI it seems), or more generically not respecting cgroups for resource limits.

issues I could find that seem releated:
https://github.com/bazelbuild/bazel/issues/3886
https://

[2018-11-05 09:30] meteorcloudy commented on #6333
@jin Yes, we should do that

[2018-11-05 09:37] sevki commented on #6563
this seems to be caused by the slow roll-out process.
while CI is building and updating artifacts Packages.gz is not updated.
a very quick fix for this would be using 2 buckets. ie,

releasing 0.20.0
bazel-a.googlestroage.com <- serving 0.19.0
bazel-b.googlestroage.com #  is getting updated with 0.20.0

releasing 0.20.1
bazel-a.googlestroage.com #  is getting updated with 0.20.1
bazel-b.googlestro

[2018-11-05 09:43] dslomov commented on #6117
This baseline looks good to me: https://github.com/bazelbuild/bazel/commit/7bf7f031c332dc483257248d1c1f98ad75bbc83b.

(https://buildkite.com/bazel/bazel-with-downstream-projects-bazel/builds/558#322c009a-8d9d-4474-ad60-f6408b3377ff)

[2018-11-05 10:06] dslomov commented on #6565
If people do that, will it work without the flag?

[2018-11-05 11:18] #6261 closed

[2018-11-05 13:15] DavinciHW opened #6593 "How can i use a existed bazel repository with relative path load() as external dependencies?"
I want to use tensorflow as my external dependencies，so i add
[code]
in my porject's WORKSPACE file, when i run
[code]
then i got the errors:
[code]
but this command works well if i run it in the actual tensorflow source code directory.
I think the errors caused by  the `load()` function in tensorflow's  WORKSPACE file.

How can i fix this? this troubles me a lot... help me please...

[2018-11-05 13:20] buchgr commented on #6392
@katre could you elaborate on this a bit please?

[2018-11-05 13:43] lberki commented on #4665
@iirina is OOO so I'm taking this over -- can you provide an example that does not work? I checked this with a trivial example:

t/WORKSPACE:
[code]

t/p/BUILD:
[code]

t/p/e.proto:
[code]

t2/WORKSPACE: `<empty>`
t2/p2/BUILD:
[code]

t2/a/b/c.proto:
[code]

t2/a/b/d.proto:
[code]

then in `t`, `bazel build //p` works as expected.

[2018-11-05 13:46] Profpatsch commented on #4185
Stumbled upon this as well.

[2018-11-05 13:55] dslomov commented on #6383
Did the flag flip land?

[2018-11-05 14:06] dslomov commented on #6383
Seems not at [0.20](https://github.com/bazelbuild/bazel/issues/6117) cut

[2018-11-05 14:11] zoltanpillio commented on #6052
Is there any news here?

[2018-11-05 14:40] katre commented on #6011
Bazel (like many command-line programs) differentiates between flag-based options, and non-flag-based arguments. The target patterns used to determine what to build (or test, run, etc) are arguments to the command. The bazelrc only allows the setting of options, not arguments. If it did, then (by the logic of how bazelrc works), everytime you built, you would build the targets specified in the baz

[2018-11-05 14:48] katre commented on #6565
Yes, the migration is backwards compatible.

[2018-11-05 14:55] katre commented on #6392
@buchgr The main steps that would be needed:
1. Figure out how to tie the PATH to a specific execution platform. New attribute on `platform`? Express this as part of the (incompletely implemented) shell toolchain? Express this as a new toolchain?
2. Update existing platforms with the new data.
3. Plumb through the data everywhere that a PATH is needed.

I'm not even sure what the set of places to

[2018-11-05 15:00] katre commented on #6588
For posterity: there's no way to actually re-release, just re-running the scripts would probably break in many different ways. The best alternative would be a 0.19.1 point-release with no actual new commits.

[2018-11-05 15:31] r4nt commented on #6052
Yes, this should work now.

[2018-11-05 15:42] drigz commented on #5633
@aehlig Is there any documentation for this incompatibility? It's not mentioned in the [Backward Compatibility docs](https://docs.bazel.build/versions/master/skylark/backward-compatibility.html#remove-native-http-archive). I was only able to find out about `downloaded_file_path` by finding this issue, then clicking through benjaminp's comment.

[2018-11-05 16:49] aiuto commented on #6514
Julio: Since you started this, do you want to take a stab at writing something for the FAQs

[2018-11-05 16:52] mihaimaruseac commented on #4524
Hi. Any update on the document? I'm thinking we'll need this for OSSFuzz-tensorflow integration

[2018-11-05 16:53] natansil commented on #4665
@lberki Thanks for taking this.
I think the issue is with the providers of `proto_library`.
I will have a repro ready for you tomorrow.

[2018-11-05 17:44] htuch commented on #4524
@mihaimaruseac you can see what we did for Envoy + Bazel + oss-fuzz at https://github.com/google/oss-fuzz/blob/master/projects/envoy/build.sh.

[2018-11-05 18:01] jin commented on #6427
I believe @aehlig has a design document there https://github.com/bazelbuild/proposals/commit/f41029b212995229af03daadc76bdecc68c70956

[2018-11-05 18:08] jin commented on #6429
I agree with @regisd. Bazel should not know anything about your VCS and make decisions based on that, let alone coupling `genrule` to a Git specific file.

[2018-11-05 18:29] katre opened #6594 "Reduce warnings spam when building Bazel"
There are seveal categories of logging spam that are common when building bazel from source. We should try to remove or reduce these as much as possible so that all messages are informative and actionable.

Samples:
[code]

[code]

[code]

[2018-11-05 18:35] cushon commented on #6594
The `unknown enum constant` part is #5985.

[2018-11-05 18:40] katre commented on #6594
Thanks, that's very helpful.

[2018-11-05 18:44] katre commented on #6594
Mac-specific example:
[code]

[2018-11-05 18:45] katre commented on #6594
Another mac-specific example:
[code]

[2018-11-05 18:48] davemac327 opened #6598 "sha256 value mismatch for bazel-0.18.1-installer-darwin-x86_64.sh"
### Description of the problem / feature request:

sha256 of bazel-0.18.1-installer-darwin-x86_64.sh does not match the value in bazel-0.18.1-installer-darwin-x86_64.sh.sha256

$ shasum -a 256 bazel-0.18.1-installer-darwin-x86_64.sh
ed9671b5a78c1f7cbaa3b36abcb9329dbfa869fae4593adec4acc3d07315b7cc  bazel-0.18.1-installer-darwin-x86_64.sh
$ cat bazel-0.18.1-installer-darwin-x86_64.sh.sha256
7ba0f48f

[2018-11-05 18:59] Globegitter commented on #6011
Would it be very complex to change the behaviour there? Or would it possibly have a big impact on performance? Or the other way around, would adding regex support to `test_env/action_env` be more trivial?

[2018-11-05 19:00] katre opened #6601 "Cross-repository build violation with third_party/googleapis"
Bazel has a feature to attempt to detect and prevent referring to a package by two different labels.

Currently, from the Bazel source, it is possible to build both `//third_party/googleapis:all` and `@googleapis//:all`.

The repository form is the preferred form (since it is defined in Bazel's WORKSPACE). The third_party form does not build, because several source paths are wrong, but this should

[2018-11-05 19:00] katre commented on #6601
Discovered while testing #6595.

[2018-11-05 19:01] katre commented on #6594
One more that I've only seen on Mac:
[code]

[2018-11-05 19:08] katre commented on #6011
Adding regex support to test_env and action_env would almost certainly be easier. However, I think the Execution team needs to triage this, so I will mark it as Untriaged and they can take a look.

[2018-11-05 19:14] katre commented on #6601
Issue is that "googleapis" is a new_local_repository, not a local_repository (with an associate WORKSPACE file).

Time to try and figure out if there's a reason why.

[2018-11-05 19:16] katre commented on #6601
It looks like `@googleapis` was added by @buchgr in https://github.com/bazelbuild/bazel/commit/166f28cd620f9fc9c4694242916a7fe1a9a998da.

@buchgr, why is this a new_local_repository instead of a local_repository?

[2018-11-05 19:33] jin commented on #6598
cc @meteorcloudy @aehlig

[2018-11-05 19:34] jin commented on #6598
0.18 release ref: https://github.com/bazelbuild/bazel/issues/5963

[2018-11-05 20:11] nlopezgi commented on #6288
It does, it comes with openJDK installed via apt-get pull ... apt-get install of the following packages:
ca-certificates-java
openjdk-8-jdk-headless
openjdk-8-jre-headless

To double check can always pull the public container from gcr.io/cloud-marketplace/google/rbe-ubuntu16-04 and check its contents.
I double checked for jmap and it is indeed there in
/usr/lib/jvm/java-8-openjdk-amd64/bin/jmap
(t

[2018-11-05 20:31] jmcmullan commented on #6530
Must not have many python test cases, then.
My python dependency graph pulls in ~40K python files as runfiles (when using the native 'py_library()' rules).

With a thousand or so test cases, this easily consumes all available inodes on smaller (< 1T) filesystems.

What we really want it to be able to make a common 'python environment' directory and symlink to that instead of a symlink farm to each

[2018-11-05 20:56] brandjon commented on #6445
One question raised by these names is: What happens when there is a Python 4? At present it looks like while there are some references in PEPs and mailing lists to "Python 4", that's used as a stand-in to mean "a breaking change release". Alternative interpretations are that Python 4 will just be Python 3.10. Either way, until more concrete plans emerge from the Python developers, no sense specula

[2018-11-05 21:15] benjaminp commented on #6530
Note `declare_directory` isn't a solution to large symlink farms; when `--incompatible_symlinked_sandbox_expands_tree_artifacts_in_runfiles_tree` becomes the default, runfiles will have a symlink for every directory artifact entry. At any rate, Bazel eating all your inodes is different issue from all output artifacts being executable.

[2018-11-06 00:42] keithwyss commented on #807
What's the reason that ldscripts should only work with cc_binary rules @mhlopko  and not with cc_library rules? I'd like to understand this better and whether our team is holding it wrong.

[2018-11-06 02:03] detailyang commented on #5186
+1 please

[2018-11-06 02:13] sdtwigg commented on #6487
The behavior is the same even if you set expand_directory=True so the value of the default argument shouldn't be related.

Even so, would expect expand_directory=True to expand to multiple files and expand_directory=False to stay as the directory name. In neither case would I expect it to be nothing (unless the directory is actually empty).

[2018-11-06 06:08] benjaminp opened #6607 "omitting the executable from data_runfiles crashes Bazel"
[code]

[2018-11-06 08:33] buchgr commented on #6601
@katre I don't recall. I believe the most likely explanation is that at this point (May 2017) I wasn't knowledgeable enough to understand the difference between `local_repository` and `new_local_repository`. Do you want me to fix it?

[2018-11-06 08:37] lberki commented on #5176
FWIW, I ran into this, too, on a fresh Ubuntu 16.04 Docker container with bazel-0.18.1-dist.zip . It seems that `$JAVA_HOME` *still* needs to be set to a JDK 8 :(

[2018-11-06 08:38] lberki commented on #6557
Regrettably, bootstrapping does *not* work with JDK 9, at least on Ubuntu 16.04 and Bazel 0.18 (I just checked). So the instructions are indeed accurate.

[2018-11-06 08:55] lberki commented on #6557
Actuall

[2018-11-06 09:03] lberki commented on #6580
I would actually prefer not having `--strict_java_deps=warn` at all -- warnings have a tendency to be ignored, so in my experience, their utility is very limited.

[2018-11-06 09:34] lberki commented on #4665
Got it.

@philwo FYI -- if there is a straightforward fix, we'll need this in 0.20

[2018-11-06 10:03] aehlig commented on #6598
What happened was the following. During the release of 0.18.1, the
upload of the artifacts to github failed[1]. This was dicovered[2]
and, assuming bazel builds are reproducible, triggered the
release pipeline again. However, as it turns out, our releases
are `--stamp`ed, without setting SOURCE_DATE_EPOCH [3,4], so the
newly generated binaries actually differ. But, of course, only
those artifacts

[2018-11-06 11:46] philwo commented on #6411
Assigning to the performance team, because this has nothing to do with EngProd. :)

[2018-11-06 11:55] philwo commented on #6488
@ob That's pretty weird. I haven't seen this error before.

Could you send the output of `bazel info`? I'm mostly interested in the java-home, java-runtime and java-vm items.

[2018-11-06 11:56] philwo commented on #6588
This was fixed and the apt repository gives 0.19.0 again.

We'll improve this in the future to make sure it won't break again.

[2018-11-06 11:56] #6588 closed

[2018-11-06 11:59] philwo commented on #6589
Thanks for the detailed bug report! :) I agree that this should be cleaned up.
I think your suggestion to guard this #define with an #ifndef block is fine.

I'll fix this right now.

[2018-11-06 12:20] philwo commented on #6476
@EricBurnett Do you mind sending a PR to document this? :)

[2018-11-06 12:30] buchgr commented on #6394
@philwo @ulfjack has a prototype patch to no longer be limited by `--jobs` for remote execution.

[2018-11-06 12:41] #6589 closed

[2018-11-06 12:43] sevki commented on #6551
attached is the pcap

![image](https://user-images.githubusercontent.com/429977/48064757-a8fe2b00-e1c0-11e8-89de-d2bf565c1e79.png)

https://sevki.io/bazel-cache.pcap

[2018-11-06 12:48] natansil commented on #4665
@lberki I've managed to create a pretty simple repro [here](https://github.com/natansil/proto_source_root_many_repo)
### TL;DR
`scalapb_proto_library` target build fails due to incorrect `target.proto.transitive_proto_path` which **omits the external repo prefix**.

This `provider` comes from `proto_library` dependency, I think with user input arg such as: `    proto_source_root = PACKAGE_NAME,`

[2018-11-06 12:49] philwo commented on #6598
As Klaus described, this was an issue of mixing the uploads of two runs of the release pipeline.

I've fixed this by downloading the release artifacts from our Google Cloud Storage bucket, manually verifying the checksums and signatures and then re-uploading them to GitHub.

[2018-11-06 12:49] #6598 closed

[2018-11-06 12:51] buchgr commented on #6551
Thanks for debugging this @sevki! So we'll need to add SNI support to it. This should actually be a one liner: https://github.com/bazelbuild/bazel/blob/612b1eda0d53bb45e294786a99f825726b77aff9/src/main/java/com/google/devtools/build/lib/remote/blobstore/http/HttpBlobStore.java#L211

Instead of
[code]

call

[code]

Do you want to take a stab at it? :-)

[2018-11-06 13:01] sevki commented on #6551
Yeah sure :smile:

[2018-11-06 13:15] Mantas-Ragauskas commented on #6379
Java tests, that interact with the outside world, to be precise.
Provided there is a test, that interacts with outside world via network, running it in bazel sandbox - fail the test because of the network blocking (as expected). Running same test in debug mode - passes the test.

It isn't a critical issue, but it comes to be a nuisance when investigating the test failures

The most basic idea that

[2018-11-06 13:43] meteorcloudy opened #6610 "Windows: Bazel 0.19.0 cannot select mingw gcc correctly using --compiler=mingw-gcc"
### Description of the problem / feature request:

On Windows, users should be able to use the mingw gcc to build C++ targets by specifying `--compiler=mingw-gcc`. But with Bazel 0.19.0, it wrongly selects MSVC toolchain.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[code]

### What operating system are you running Bazel on?

Win

[2018-11-06 13:44] meteorcloudy commented on #6610
A part of the reason this happens is because we don't have tests for mingw toolchain on Windows, I'll working on adding tests for it.

[2018-11-06 14:03] jmcmullan commented on #6530
True, Bazel eating inodes is a different issues from the 'everything's executable' issue.
But now it seems that the `declare_directory` workaround for Bazel eating all my inodes is not going to be a permanent fix, anyway.

Sigh.

[2018-11-06 14:04] #6530 closed

[2018-11-06 14:10] scentini commented on #6610
Probably related to recent changes by @mhlopko on toolchain selection. Looking into it.

[2018-11-06 14:17] helenalt commented on #1922
@buchgr do you have an eta for this work

[2018-11-06 14:20] mihaimaruseac commented on #4524
I'm following that, but I thought it might be easier/more readable with `BAZEL_LINKOPT` (which is not present there).

I got it to work just now, so it should be ok, thanks

[2018-11-06 14:21] katre commented on #6601
I have changes in progress (it requires a test fix first). Just wanted to be sure there wasn't a deeper reason I'd missed.

[2018-11-06 14:23] katre commented on #6594
Thanks @philwo for fixing the warning about redefining STDC_FORMAT_MACROS in 612b1eda0d53bb45e294786a99f825726b77aff9.

[2018-11-06 14:31] laurentlb opened #6611 "incompatible_strict_argument_ordering"
Based on the discussion on https://github.com/bazelbuild/starlark/issues/13, we're going to make argument ordering stricter. It also makes the semantics simpler to understand, and can simplify tooling.

All arguments should be in this order:
- First, positional arguments
- Then, keyword arguments
- Then, an optional `*arg`
- Finally, an optional `**kwarg`

e.g. `f(a, b, c = 1, d = 2, *e, **f)`

Mi

[2018-11-06 14:41] rongjiecomputer commented on #2241
Native SingleJar is enabled for Windows in master branch. For people who are currently being blocked by this issue, please build Bazel at HEAD and test things out!

[2018-11-06 14:52] katre commented on #6610
This sounds like a regression, so let me know when we have identified a cause and if there's an easy fix for a point release.

[2018-11-06 15:06] #6558 closed

[2018-11-06 15:30] #6412 closed

[2018-11-06 15:31] #6405 closed

[2018-11-06 15:50] wmark commented on #4733
I can confirm this for Ubuntu 16.04 and 18.04 if *minizip* is providing `unzip`. As a workaround, and because any *alternative* won't be changed if `apt` is not run connected to a *terminal*:

[code]

[2018-11-06 16:11] katre commented on #6594
Another instance:
[code]

[2018-11-06 16:21] laurentlb opened #6612 "bazel run environment variables"
Document the `BUILD_WORKSPACE_DIRECTORY` and `BUILD_WORKING_DIRECTORY` variables

Context: https://groups.google.com/d/msg/bazel-discuss/Zk3W9x4x1MM/G1RYG2RUCgAJ

[2018-11-06 16:36] smukherj1 opened #6613 "Multiple toolchain rules unable to use same implementation"
### Description of the problem / feature request:

Look at the toolchain rules added by https://github.com/bazelbuild/rules_docker/pull/559 in //toolchains/docker/BUILD. There are three toolchains of //toolchains/docker:toolchain_type using the same implementation function. Bazel appears to arbitrarily pick one of these toolchains during toolchain resolution

### Feature requests: what underlying

[2018-11-06 16:53] laurentlb commented on #6586
Looks related to Skyframe, not sure which components it is.

[2018-11-06 16:57] laurentlb commented on #6539
This seems to work as intended for Bazel.

Recommendation is to stop using `lib.bzl` in skylib. It was recently deprecated: https://github.com/bazelbuild/bazel-skylib/blob/master/lib.bzl#L17
https://github.com/bazelbuild/bazel-skylib/pull/58/files

Try loading `lib/versions.bzl` instead.

[2018-11-06 16:57] #6539 closed

[2018-11-06 16:59] laurentlb commented on #6581
I'm confused, where do you see `list data`?

[2018-11-06 17:10] laurentlb commented on #5933
Not sure who's responsible for aspects core behavior.
Lukács, any opinion on this issue?

[2018-11-06 17:30] cushon commented on #6580
`--strict_java_deps=warn` is useful for scraping all of the `add_dep` commands from a build so you can fix them all at once. But with header compilation enabled you can also do that using `--keep_going`, so maybe we should encourage that approach and deprecate `--strict_java_deps`.

[2018-11-06 17:31] laurentlb commented on #6581
Ah, I see.
I think the line shows your call (and not the definition of the method).

[2018-11-06 17:34] talya commented on #6379
just for completeness sake,  tagging this as relevant to #2765 , as this can add to confusion when triaging tests in sandboxed/non-sandboxed mode.
using `--cache_test_results=false` is prob the best thing for these cases

[2018-11-06 18:38] katre commented on #6613
After some debugging, the problem is much simpler: the `--extra_toolchains` flag was not allowing multiple uses, so the last value passed was replacing the previous ones.

I'll send a patch to fix that, until that is released you can use the multiple value format:
[code]
Or, even use the target pattern version:
[code]

[2018-11-06 19:28] ahippler opened #6615 "cc_library exposes private headers"
### Description of the problem / feature request:

header files of dependent cc_libraries should only be copied to sandbox if they are added to srcs.

### Feature requests: what underlying problem are you trying to solve with this feature?

i noticed that private header files are copied to sandboxes and producing rebuilds of  of dependen cc_* targets.

### Bugs: what's the simplest, easiest way to

[2018-11-06 19:51] #6613 closed

[2018-11-06 20:05] jin commented on #1352
I don't think this is a problem anymore. Closing.

[2018-11-06 20:05] #1352 closed

[2018-11-06 20:07] davido commented on #6539
It helped with `skylib`:

[code]

However, gerrit build is still failing in `rules_clsoure` and `go-lang`:

[code]

[2018-11-06 20:08] jin commented on #1485
Closing this, superseded by @katre's series of issues around Platforms and Toolchains.

[2018-11-06 20:08] #1485 closed

[2018-11-06 20:09] jin commented on #1508
Closing this as the source tree has changed significantly. Please create a new issue if you're facing the same problem with the latest source tree.

[2018-11-06 20:09] #1508 closed

[2018-11-06 20:10] jin commented on #544
re-assigning to the Python rules category. fyi @brandjon

[2018-11-06 20:12] jin commented on #1627
Closing this issue as working as intended. @xiongchiamiov, if you have a proposal on the CLI experience, please follow our new [design review process](https://bazel.build/designs/).

[2018-11-06 20:12] #1627 closed

[2018-11-06 20:12] jin commented on #1711
I believe this is now handled by @aehlig's work on repository rule return values and `bazel sync`.

[2018-11-06 20:12] #1711 closed

[2018-11-06 20:15] jin commented on #1658
Hi @gclouding, please contact bazel-discuss if you have any further questions about MPI support. Closing this for now.

[2018-11-06 20:15] #1658 closed

[2018-11-06 20:19] jin commented on #1179
I believe we now have rules_typescript and rules_nodejs :-)

[2018-11-06 20:19] #1179 closed

[2018-11-06 20:23] jin commented on #803
It looks like this affects an older version of Bazel. Please create a new issue if you're running into similar problems.

[2018-11-06 20:23] #803 closed

[2018-11-06 20:31] laurentlb commented on #6539
Thanks, I've filed https://github.com/bazelbuild/rules_closure/issues/305

[2018-11-06 20:36] jin commented on #1628
Closing this as a duplicate of https://github.com/bazelbuild/bazel/issues/1035

[2018-11-06 20:36] #1628 closed

[2018-11-06 20:44] #2150 closed

[2018-11-06 20:55] jin commented on #2435
Just did a search on `cc_library`, the results look WAI. Closing this for now.

[2018-11-06 20:55] #2435 closed

[2018-11-06 20:56] jin commented on #1764
Closing as we've moved to another CI system.

[2018-11-06 20:56] #1764 closed

[2018-11-06 21:02] jin commented on #763
Verified that this is not an issue anymore on 0.18.1, closing for now.

[2018-11-06 21:02] #763 closed

[2018-11-06 21:09] brandjon commented on #544
I believe this issue is referring to the shebang line at the top of the stub script. At the time this bug was filed, the shebang was `#!/usr/bin/python`, but it was changed to be `#!/usr/bin/env python` in 679e911.

There's still the problem that the interpreter running this wrapper is not necessarily the same one as `%python_binary%`. We can use this issue to track that.

[2018-11-06 22:12] jin commented on #2706
Hi, please try this with a later Bazel version (0.18.1, 0.19) and create a new issue if this problem still persists.

[2018-11-06 22:12] #2706 closed

[2018-11-06 22:20] jin commented on #2727
Looks like this is WAI. Please see https://github.com/bazelbuild/bazel/issues/6530#issuecomment-435779225

[2018-11-06 22:20] #2727 closed

[2018-11-06 22:32] jin commented on #1352
@petroseskinder do you have a way to reproduce this warning spam?

[2018-11-06 22:49] jin commented on #2737
The binary can now read from `stdin` from `bazel run`:

[code]

[2018-11-06 22:49] #2737 closed

[2018-11-06 23:08] jin commented on #2896
Closing due to lack of information.

[2018-11-06 23:08] #2896 closed

[2018-11-06 23:39] jin commented on #3300
I can't reproduce on HEAD now. Closing.

[2018-11-06 23:39] #3300 closed

[2018-11-07 02:07] gregestren commented on #6449
Yeah, removing the line line sounds easiest. Will do...

[2018-11-07 02:34] uri-canva opened #6619 "Documentation for certain rules is missing"
### Description of the problem / feature request:

Documentation for certain rules (for example `java_toolchain`) is missing on latest docs.build.bazel.

### Feature requests: what underlying problem are you trying to solve with this feature?

Read the docs.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

https://docs.bazel.build/ve

[2018-11-07 03:05] ittaiz commented on #6580
We’re fairly certain we have a strong need for this in a cross repo setting
where we have two repositories with strict-deps infractions and the
dependency graph travels back and forth between the repositories.
My plan was to run Bazel with warn on both repositories and apply the fixes
for each and then switch to error.
Am I mistaken and I can achieve the same result now?
Cc @or-shachar
On Tue, 6 N

[2018-11-07 03:12] cushon commented on #6580
I think you might be able to achieve the same result using `--keep_going` instead. Can you try that experiment?

[2018-11-07 03:16] fahhem commented on #6450
I get this as well, almost filed another bug because this isn't marked as a bug.

My traceback is the same. Here's my bug details:

### What operating system are you running Bazel on?

Ubuntu 16.04.4 LTS (inside a docker, inside Ubuntu 16.04.5 LTS)

### What's the output of `bazel info release`?

`release 0.19.0`

### Other info

We've been using bazel inside this docker (with updates along the wa

[2018-11-07 03:37] fahhem commented on #6450
I get this traceback after setting the right flag:

`--coverage_report_generator="@bazel_tools//tools/test/CoverageOutputGenerator/java/com/google/devtools/coverageoutputgenerator:Main"`

[code]

[2018-11-07 06:53] meisterT commented on #6592
Cc @lberki @iirina

[2018-11-07 07:06] mprobst commented on #6581
Well, that's quite confusing :-)

[2018-11-07 07:59] aehlig commented on #6427
This issue is actually a duplicate of #1289 (and probably a few others).

The current state is that I have
- a [design document](https://github.com/bazelbuild/proposals/blob/f41029b212995229af03daadc76bdecc68c70956/designs/2018-10-29-external-repositories-reporting.md)
- an [implementation](https://bazel-review.googlesource.com/c/bazel/+/79731), and
- a [usage by `git_repository` and `http_archive

[2018-11-07 08:09] laszlocsomor commented on #2241
This is fantastic news. Thank you for all your efforts @rongjiecomputer , I'm really pleased to see this getting resolved! By using the native SingleJar on Windows we can finally drop the old Java implementation and bring the Android rule support on Windows up to par with Linux and macOS.

Thank you so much!

[2018-11-07 08:14] laszlocsomor commented on #6333
I don't have admin powers to transfer bugs, so I just opened a new issue: https://github.com/bazelbuild/rules_go/issues/1815

[2018-11-07 08:14] #6333 closed

[2018-11-07 08:43] ittaiz commented on #6427
I‘m pretty sure it didn’t make 0.19 (but not 100% sure)
On Wed, 7 Nov 2018 at 9:59 Klaus Aehlig <notifications@github.com> wrote:

[2018-11-07 08:50] aehlig commented on #6089
This is a bit of a tricky issue, as technically it is working as intended: bazel should avoid all call outs to the network, if it can. Now, if a hash is provided, this is not only a security measure, but also a promise to bazel that any file with that hash will do, no matter where it is fetched from. So the cache hit is legitimate and calling out to the network just to improve the error message in

[2018-11-07 08:50] #6089 closed

[2018-11-07 08:55] aehlig commented on #6089
Probably #5144

[2018-11-07 08:58] aehlig commented on #6089
...or #5045

[2018-11-07 08:59] aehlig commented on #5045
Sure, but as explained in #6089, I don't see a way of improving the error message without degrading the non-error case by unwanted fetches.

[2018-11-07 10:42] jmmv commented on #4706
Closing given that #4603 was addressed.

[2018-11-07 10:42] #4706 closed

[2018-11-07 10:44] jmmv commented on #4615
One extra case to handle: when we get `/Library/Developer/CommandLineTools` as a path, we should probably tell the user that things won't work and that they must use `xcode-select` to point to an Xcode directory.

[2018-11-07 10:45] jmmv commented on #4615
We also must ensure that all `xcode-locator` output ends up in the Bazel log unconditionally so that we have something to base our debugging on.

[2018-11-07 10:54] laszlocsomor opened #6622 "incompatible_windows_native_test_wrapper: enables Bash-less test execution on Windows"
# Description

The option `--incompatible_windows_native_test_wrapper` enables using the Bash-less test wrapper on Windows. This flag has NO effect on other platforms.

When using `bazel test`, Bazel does not execute tests directly. Instead Bazel runs a "test wrapper" as a subprocess, which sets up the environment for the test and runs the test.

By default, Bazel uses a Bash script (`@bazel_tools

[2018-11-07 10:56] laszlocsomor commented on #6622
Current status:
- flag is called "incompatible_windows_native_test_wrapper", will be renamed by a PR soon that will reference this issue.
- remaining logic behind the flag will be implemented in the same PR

[2018-11-07 11:12] Mantas-Ragauskas commented on #6379
While i do agree that it will help with not caching false positive test result, the issue lies in the fact, that running test in debug succeeds, while a normal run fails. And that, in turn, is caused by silently disabling the network blocking.
Usability-wise, at very least, a warning, stating that networking blocking has been disabled,  would be helpful indicator of a change in environment

[2018-11-07 11:33] ittaiz commented on #5045
I agree
On Wed, 7 Nov 2018 at 10:59 Klaus Aehlig <notifications@github.com> wrote:

[2018-11-07 13:29] petemounce commented on #896
This occurs for me on bazel 0.19.0 where tests that have been sized correctly `medium` are returning very fast because their results have been cached.

[2018-11-07 13:40] laurentlb commented on #6581
@c-parsons Now that we don't have method overloading anymore, it should be easier to get the method signature and show it there.

[2018-11-07 15:35] katre commented on #6116
Release creation command:
[code]

(Only cherrypicking the tests, first, so I can make sure they fail and catch the underlying issue).

[2018-11-07 16:02] aiuto commented on #6420
I'm prototyping a replacement for license(). While doing that, I'm working with the people who care about compliance within Google to define requirements for a checking scheme that can be implemented in Starlark. What I want to see is that the order of events is

1. come up with a useful license gathering/enforcement rule set
2. open a migration window for Google and external users to convert
3. d

[2018-11-07 16:06] aehlig commented on #6273
To be honest, I don't understand the use case.

For `http_file`, I understand the desire to set the file name, as
some tools attach some semantics to the way file is named (especially
the "ending") and that's why a similar feature was added there
recently. For `http_archive`, however, the archive is unpacked,
so only the content should matter; for the described scenario
(version-numbers embedded i

[2018-11-07 16:15] laurentlb commented on #6420
Sounds good. Can we document this on the website?

[2018-11-07 16:18] katre commented on #6116
The rbe_ubuntu error (https://buildkite.com/bazel/bazel-bazel/builds/5383#55a74208-1ed3-4ea0-a43f-5a3c2abe7719) seems to be that the worker was updated to use a later crosstool_top, but the bazel_toolchains repository in the release is too old. Ignoring this error.

[2018-11-07 16:20] katre commented on #6116
As expected, 0.19.1rc1 failed on Windows, creating RC2 with the actual fix.:
[code]

[2018-11-07 17:04] laszlocsomor opened #6624 "Windows: I/O error while writing action log"
### Description of the problem / feature request:

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Unfortunately this bug is spurious.

I was hacking on Bazel and rebuilding a target.
I kept getting the same error on every try:
[code]

"bazel shutdown" solved the problem.

Possible exception location: https://github.com/bazelbuild/ba

[2018-11-07 17:33] ob commented on #6488
[code]

Just tried it and it happened again with Bazel master as of 91e0bae614.

[2018-11-07 18:33] laurentlb commented on #382
https://github.com/bazelbuild/rules_dotnet has some documentation.
If it's not enough or if you have any problem with it, please file an issue on that repository.

[2018-11-07 18:36] katre opened #6626 "Broken formatting for packaging rules"
See [packaging rules docs](https://docs.bazel.build/versions/master/be/pkg.html#pkg_tar).

Formatting is very broken, tables render correctly but headers do not, italics start and stop at various places.
![packaging_rules_formatting](https://user-images.githubusercontent.com/326527/48152495-14fc9400-e292-11e8-8994-1637a0ceb793.png)

[2018-11-07 18:40] joshclimacell commented on #1014
I'm confused -- this is closed, but I'm not sure what the recommended solution is?

[2018-11-07 18:48] ixdy commented on #1014
@joshclimacell it was added to [bazelbuild/bazel-skylib](https://github.com/bazelbuild/bazel-skylib).

In your `WORKSPACE`, you can do something like
[code]

[2018-11-07 18:53] buchgr opened #6627 "when to create a runfiles tree"
I happened to stumble upon runfiles tree creation in Bazel today and found the current behavior to be as follows:

- Runfiles trees live in `bazel info output_path` and are as permanent as the build outputs that use them, as running a binary requires its runfiles tree to be in place (if any). IIUC there is no such contract for tests, but these runfiles still don't get deleted after a test finishes

[2018-11-07 19:07] katre commented on #6626
@laurentlb, is this possibly related to ea4840042b0c087685ab4faffab58ba6906b06f5?

[2018-11-07 19:07] katre commented on #6626
Testing locally, the docs render correctly.

[2018-11-07 19:08] katre commented on #6626
Actually, no, they just break differently. Still investigating.

[2018-11-07 19:13] buchgr commented on #6627
would also be interested in @janakdr and @ericfelly thoughts on this :-)

[2018-11-07 19:34] katre commented on #6116
Need an rc3, to update bazel-toolchains, so that CI can progress:
[code]

(CI error: https://buildkite.com/bazel/bazel-with-downstream-projects-bazel/builds/571#be600c55-5dee-457c-b5ee-8f4f3297da59)

[2018-11-07 19:42] laurentlb commented on #6626
There are two issues, I think.

- The HTML is broken. I'm fixing it. With the fix, page should render correctly when testing locally.
- Syntax highlighting is broken on the site since my update. I suspect we need to update Jekyll or Rouge (cc @philwo).

[2018-11-07 19:56] katre commented on #6626
Now that 4616fdd0e2f567ae2395803e4404054a79787b22 is in, should I close this, or keep it open and re-assign for the syntax highlighting part?

[2018-11-07 20:12] katre commented on #6626
Asking @laurentlb whether to keep this open or not.

[2018-11-07 21:11] philwo opened #6630 "Bazel shows wrong path with --verbose_failures when sandboxed actions fail"
### Description of the problem / feature request:

When a sandboxed action fails and the user specified --verbose_failures, Bazel "helpfully" prints the full command that actually failed, e.g.:

`(cd /home/user/.cache/bazel/_bazel_user/abcdef/execroot/name &&   exec env -     LD_LIBRARY_PATH=''     PATH=/usr/local/bin:/usr/bin:/bin:/opt/bin     PWD=/proc/self/cwd     TMPDIR=/tmp   /home/user/.cach

[2018-11-07 21:55] ola-rozenfeld opened #6631 "Remote exec/caching: V2 API symlinks support"
This is a tracking issue to implement the Bazel support of symbolic links as defined by RE API V2.
Design document: https://docs.google.com/document/d/1zqXCrQk1gF6kRvHXxpMiEfZGNBJ7rlVN8PeBl195_Zc/edit

[2018-11-08 00:29] jin commented on #6626
Documentation using multi-line code blocks are severely broken (https://docs.bazel.build/versions/master/android-instrumentation-test.html), I will submit a rollback to use redcarpet first.

[2018-11-08 01:19] martinwicke commented on #1014
Note that this solution works great whenever the old version of bazel is capable of interpreting the file which contains this directive. It would still be nice to have a "safe" version check which works even if the new bazel language would result in an error in the old bazel version (this has happened before, though arguably it is becoming less likely)

[2018-11-08 01:46] jin commented on #6626
The rollback (rollforward?) worked. Closing this for now.

[2018-11-08 01:46] #6626 closed

[2018-11-08 03:45] fahhem commented on #137
I took @damienmg's suggestions and added a `stub_template` attribute and a test. Hopefully that solves your (and my) problem!

[2018-11-08 05:29] codesuki commented on #2694
Hey, I am trying to convert a project to Bazel using databindings. Is there any progress on this? Even a hacky workaround would help me a lot until it's officially working.

[2018-11-08 06:01] zackhsi commented on #6018
I would also like to surface machine-readable build failure logs—parsing stderr is decidedy _icky_.

I am mostly interested in the end result of the build once it completes, as opposed to a realtime event stream. For example, I'd like to know at the end of a build what _all_ of the failures were and where they occurred. I would _not_ be as interested in getting the failures one at a time as they o

[2018-11-08 07:50] laszlocsomor commented on #6627
Some thoughts:

Seems to be useful when re-running tests.

FTR, the binary may be executed post-build, needing its runfiles.

Why?

For local execution, one or the other is enough. But don't we use build-runfiles for remote execution? If we do, we may need to maintain both.

[2018-11-08 08:12] buchgr commented on #6627
Only for local non-sandboxed execution. remote/sandboxed tests don't use them.

`--experimental_enable_runfiles` disables runfiles for tests and binaries, while `--build_runfile_links` only disables them for tests which (at least to me) seems unexpected.

Remote execution doesn't use runfiles. It's like the local sandbox.

[2018-11-08 15:58] gennadiycivil commented on #5640
Thank you for your response, lets try to go one by one:

The --define absl=1 part makes Google Test use Abseil. So Abseil tests uses
Google Test, which in turn uses the Abseil libraries. I'm not sure if the
circular project dependency has anything to do with this. Everything works
as expected without --define absl=1.

I think better way to describe this would be as follows:
--define absl=1 makes A

[2018-11-08 16:02] buchgr commented on #6091
I won't get to it any time soon, but contributions are certainly welcome. It should be rather straightforward to implement given that under the hood [HttpBlobStore](https://github.com/bazelbuild/bazel/tree/master/src/main/java/com/google/devtools/build/lib/remote/blobstore/http/HttpBlobStore.java) is already fully async. The change should mostly be about updating blocking interfaces to non-blockin

[2018-11-08 16:18] buchgr commented on #6627
also @benjaminp

[2018-11-08 16:30] buchgr commented on #6457
Bummer. For two runs, can you please generate an execlog [1] and diff it to see what's different?

[1] https://github.com/bazelbuild/bazel/tree/master/src/tools/execlog

[2018-11-08 16:45] #4063 closed

[2018-11-08 18:59] ahumesky commented on #2694
There has been significant progress, I have databinding v2 working, and I'm in the process of getting all the code reviewed and submitted. Should be in in the next couple of days.

You're seeing an NPE probably because the databinding dependencies need to be added to the rules with databinding enabled (it shouldn't give an NPE for that though, that's a bug in itself). I'm also working to make gett

[2018-11-08 19:54] timpeut commented on #6545
Discussed alternatives. Will not be proceeding with this.

[2018-11-08 19:54] #6545 closed

[2018-11-08 20:07] wcurrie commented on #5723
One (minor?) problem with the setup @uri-canva shows above. When compiling using `java_hostbase` pointed to jdk10 (or bazel packaged with nix to use jdk10) external libraries are missing from the `.jdeps` files written by `StrictJavaDepsPlugin` and `DependencyModule`.  The only real problem this causes is the intellij bazel plugin fails to import external libraries (for modules that aren't in the

[2018-11-08 21:13] cushon commented on #5723
The default javac has a fix for that issue:

https://github.com/google/error-prone-javac/commit/9901a45ff63c1d7bc9263007147dc866272b7fdc

That's one of the reasons Strict Deps doesn't work with the 'vanilla' toolchain:

https://github.com/bazelbuild/bazel/blob/44cadaf0becf43062a5d453208f8ecc741ec6e4a/tools/jdk/BUILD#L212-L214

[2018-11-08 22:05] brandjon commented on #137
Thanks a lot for the PR Fahrzin!

It doesn't surprise me that people would want to customize the stub script, but I do wonder what all the use cases are and whether they can be achieved with a more narrow parameterization. For instance, we could add a place to insert custom PYTHONPATHs and custom interpreter flags.

I have two main concerns with this proposal. First, it seems to me that stub custo

[2018-11-08 22:19] codesuki commented on #2694
Thanks for the update. That sounds good!

I tried adding
[code]

As a dependency but it had no effect. Probably it's wrong anyway.

Do you have a sample on how to add the dependency correctly? I could adapt that to my local installation. Right now I don't even know which library is the correct one. And the only one I found is the one in the SDK.
😅

[2018-11-08 22:53] codesuki commented on #2694
This is the NPE when setting `enable_data_binding = True` .
Bazel versions 0.15.2 and 0.18.1.

[code]

[2018-11-08 23:59] cgruber commented on #6151
I'm getting it, and I quote: "From parsing Android resources for //path/to/package".

Then I get the full set of warnings.  It'd be superlatively nice to shut them up, especially since literally every android_library seems to be triggering it.  I really don't want to add it to every library target.

[2018-11-09 00:55] rongjiecomputer commented on #5640
Implementing sandbox on Windows without Docker or symlink is not impossible because Chromium already does it. Chromium's sandbox uses a few Windows NT APIs (aka system calls) from `ntdll.dll` to intercept other NT APIs. Win32 APIs is built on top of NT APIs, so this is how Chromium's sandbox can control child process's access to certain resources (registry, socket, file and pipe).

NT APIs are not

[2018-11-09 03:30] hzhyhx1117 commented on #3737
@alexanderremm I tried as you said, also have errors like this

[code]

[2018-11-09 06:07] dgoldstein0 opened #6638 "feature request: `values` parameter for attr.string_list"
### Description of the problem / feature request:

`attr.string()` currently supports a `values` parameter giving the valid values for the attribute.  I believe that `attr.string_list()` should have a similar option, to define which values are legal in the given list of strings.

e.g.

[code]

### Feature requests: what underlying problem are you trying to solve with this feature?

easier validati

[2018-11-09 08:49] laszlocsomor commented on #137
Please consider also that py_* rules on Windows do not use a stub script but a pre-built [binary preamble](https://github.com/bazelbuild/bazel/tree/37889847798d8704f4726ddb4638223005d1ff8a/src/tools/launcher). I suggest pointing out this difference in documentation, i.e. customizing the stub script would have no effect on Windows.

[2018-11-09 09:13] oquenchil commented on #6537
This should not cause any breakages. The only breakages one might see if in a rule a user is checking for the rule kind. Instead the user should check for the presence of CcToolchainInfo.

[2018-11-09 09:16] laszlocsomor commented on #5640
@rongjiecomputer , thanks for the pointers! We have an open bug for sandbox support (https://github.com/bazelbuild/bazel/issues/5136) but we haven't been able to work on that yet.

[2018-11-09 09:42] Niaoutheron commented on #1308
Hello, I know this is an old post but I tried what @JaidenChiang did and still had a "system out of resources" message. @JaidenChiang still got it right! I only had to add to his line edit: _-J-Xms512m_ to become like:
_run "${JAVAC}" -J-Xms256m -J-Xmx384m –J-Xms512m -classpath "${classpath}" -sourcepath "${sourcepath}_
Hope this helps those who encountered something similar to what I had :)

[2018-11-09 10:01] PhilArmstrong commented on #4485
Because sometimes you are building host binaries that link against libraries that your target will link against (which are therefor built in Debug mode) in order to produce build artifacts those targets depend on & on windows you cannot link a Release binary against a Debug library, so you must compile these host binaries in Debug mode as well.

[2018-11-09 10:02] laszlocsomor commented on #5640
@gennadiycivil : The build works on Linux because of sandboxing. If you disable sandboxing with `--spawn_strategy=standalone`, the build breaks on Linux too:
[code]

We can fix this problem in one of two ways:
- implement sandboxing on Windows
- merge the Abseil and GoogleTest repos and remove external repo references to each other

In fact I just did that (merging the repos):

1. I looked at the

[2018-11-09 10:29] Xjs commented on #6469
Same as @baskus. Can somebody please confirm this is not the intended behaviour?

[2018-11-09 10:31] #1289 closed

[2018-11-09 10:31] #6427 closed

[2018-11-09 11:38] dslomov commented on #6117
rc1 is out:
[code]
release notes created with help of https://github.com/bazelbuild/bazel/pull/6639

[2018-11-09 12:06] ittaiz commented on #4665
@lberki,
Any news?
On Tue, 6 Nov 2018 at 14:48 Natan Silnitsky <notifications@github.com>
wrote:

[2018-11-09 12:47] lberki commented on #4665
/cc @dbabkin

Erm, sorry for dropping this on the floor. The first step is to admit that I am powerless over my inbox.

It appears that `proto_library` does the right thing as demonstrated by `bazel build @b//src/b_pkg:b_proto` working. It's "just" that `scalapb_proto_library` doesn't know about `proto_source_root` attributes and it doesn't `protoc` about them:

https://github.com/bazelbuild/rules

[2018-11-09 13:05] lberki commented on #4665
@ittaiz : turns out, I was wrong -- the data is not there in `target.proto`, only _almost_ -- it has the set of transitive proto sources and the set of source roots but (crucially) without the `external/` prefix. There are two possible options:

1. Add the necessary information to `target.proto` in a hurry.
2. Guess. That is, make `_gen_proto_srcjar_impl` look at `target.proto.transitive_proto_pat

[2018-11-09 13:13] alexandrvb commented on #6457
@buchgr I have a couple of differences in hashes of external/local_jdk/jre/lib/amd64/server/* libs, but as far as I understand it doesn't affect caching. Last diff is more interesting.

node1:
[code]

node2:
[code]

diff between test.xml files:
[code]

They differ only on timestamps. What does it mean?

[2018-11-09 13:35] ittaiz commented on #4665
I don't know how many repos with similar packages in them we might have...
(2) sounds similar to @natansil's open hacky PR in rules_scala (
https://github.com/bazelbuild/rules_scala/pull/628/files). Any chance you
can go over it and say if it makes sense in your opinion?
If so then I'd rather we use (2) while you (Bazel team) do (1) not in a
hurry. This is assuming (1) can get into 0.21.

On Fri,

[2018-11-09 13:46] buchgr commented on #6457
If there is any difference in the inputs then that explains why you are not seeing cache hits. So that seems to explain why only java is affected too.

[2018-11-09 13:56] gennadiycivil commented on #5640
Thabk you for the suggestion. googletest  is a standalone repo which is
serving thousands of users. We can't just merge it with abseil .

Looks like windows sandboxing would br the answer .

Thanks again
G

On Fri, Nov 9, 2018, 05:03 László Csomor <notifications@github.com wrote:

[2018-11-09 14:14] ulfjack commented on #6567
We've internally been using query for this for many years. There are some corner cases where it's not completely reliable, e.g., if you're selecting a different toolchain at runtime such as --crosstool_top=//custom_compiler, then this can't predict that changes to //custom_compiler will affect C++ code. It also has to be conservative if you have a lot of select() in your codebase, so changes to th

[2018-11-09 14:21] alexandrvb commented on #6457
Ok, thank you!

So I have differences in two files
[code]
Both of them are generated automatically during installation of openjdk deb packages. Unfortunately it makes remote bazel cache unusable for OpenJDK in Ubuntu.. Only one options is to run bazel inside docker container with installed JDK.

Do you plan to fix this issue? :)

[2018-11-09 14:29] lberki commented on #4665
Well, it looks like you are writing the exact same logic as we have in Java :) :

https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/rules/proto/ProtoCompileActionBuilder.java#L691

And yes, we'll export this information soon -- this is only a band-aid.

[2018-11-09 14:36] ittaiz commented on #4665
:)
Sounds good.
Thanks!
On Fri, 9 Nov 2018 at 16:29 lberki <notifications@github.com> wrote:

[2018-11-09 14:36] rongjiecomputer commented on #5640
Inspired by @laszlocsomor's solution:

In a `WORKSPACE`, specify Abseil and GoogleTest as `[new_]local_repository` or `[new_]http_archive` (so neither Abseil nor GoogleTest is the main repo `__main__`) (*), then run `bazel test --define absl=1 @com_google_absl//absl/base/...`. All tests pass.

I believe (*) is how most Bazel users consume Abseil and GoogleTest.

[2018-11-09 15:11] brandjon commented on #137
@kwatts, @benley, @fahhem: What are the exact kinds of customization people want for the stub template? It's hard for me to imagine that users should be able to manipulate the runfiles logic for instance. I understand `-S` for excluding site packages, but that can also be done by adding a one-off boolean attribute, or a list of strings for additional flags to pass to the interpreter before the scr

[2018-11-09 15:13] brandjon commented on #137
@laszlocsomor: Does that mean the windows-specific logic in [python_stub_template.txt](https://github.com/bazelbuild/bazel/blob/ef0024b831a71521390dcb837b24b86485e5998d/src/main/java/com/google/devtools/build/lib/bazel/rules/python/python_stub_template.txt) is dead code and can be removed?

[2018-11-09 15:15] buchgr opened #6642 "java_runtime rule isn't documented"
The `java_runtime` rule no longer shows up in our documentation https://docs.bazel.build/versions/master/be/java.html, but it should.

@lberki @iirina @cushon

[2018-11-09 15:18] laszlocsomor commented on #137
Sorry, forget almost everything I said, I got confused.
The Python stub **is** used on Windows, it's not dead code, so customizing it would also have an effect on Windows. It's also true that we use a launcher, which ultimately executes this stub script. Calling @meteorcloudy to verify what I said.

I got confused over the fact that for Java we also have a stub script, [which is a Bash script](htt

[2018-11-09 15:32] buchgr commented on #6642
yes thanks @jin! Something broke in our docs generator?

[2018-11-09 15:32] #6642 closed

[2018-11-09 15:33] brandjon commented on #137
Thanks for the clarification. So if we go ahead with this, I won't distinguish the case of windows vs unix.

[2018-11-09 15:34] jin commented on #6642
I’m not sure, seems to affect only a subset of rules.

[2018-11-09 15:34] jin commented on #6619
cc @lberki

[2018-11-09 15:37] clintharrison opened #6643 "Starlark type checking of select() behaves inconsistently"
### Description of the problem / feature request:

Selectors behave oddly in the type checker: they can be used in place of a string, label, or list, but they cannot be used as a string or label _in_ a list.

### Feature requests: what underlying problem are you trying to solve with this feature?

We currently use a `requirement()` function to map a short name to a more complex `py_library()` in a

[2018-11-09 17:37] sunyal opened #6645 "using androidx.work libraries causes manifest merge issue and java.lang.NoSuchMethodError"
### Description of the problem / feature request:

Using the androidx.work libraries throws an exception during the merging of the manifest step.

[code]

### Feature requests: what underlying problem are you trying to solve with this feature?

The androidx.work libraries have an AndroidManifest.xml that includes the `tools:targetApi="n"` defined and this seems to be the issue that is causing the

[2018-11-09 18:06] ulfjack commented on #6627
--build_runfile_links behavior is different in Blaze vs. Bazel; in Blaze, it is used to defer local creation of runfiles trees until needed, but still have creation of runfiles trees for remote execution, as well as for local execution (including when falling back from remote execution). Blaze doesn't use SpawnStrategy to execute tests, and therefore the test strategy knows whether it's executing

[2018-11-09 19:19] petemounce commented on #6117
Published to chocolatey

On Fri, 9 Nov 2018, 11:38 Dmitry Lomov, <notifications@github.com> wrote:

--

--
Sent from my phone. Please excuse typos and brevity, but never text speak.

[2018-11-09 20:07] brandjon commented on #6556
Interesting proposal. When we get around to revisiting how imports are handled this will be a useful use case to keep in mind.

[2018-11-09 20:34] dkelmer commented on #3115
This should work with Bazel at head now. Let me know if you get a chance to test it and encounter problems!

[2018-11-09 22:06] brandjon opened #6647 "Move to Python 3 by default"
Once #6583 is implemented, we'll want to look at switching the default Python version to PY3. The default version is the version used when no version selector attribute is explicitly set on a `py_binary` or via a top-level flag.

We can do this change by adding an incompatible flag, e.g. `--incompatible_default_python_version_is_py3`.

Another possibility is to also add an extra flag, `--default_p

[2018-11-09 23:48] ulfjack commented on #6204
We don't currently have a mechanism for strategy-specific things to end up in the action cache. Doing so would prevent us from doing cross-strategy caching (if I build something with sandboxing and then without sandboxing, I don't get a cache hit). This would be a problem in general.

[2018-11-10 05:34] xiaket commented on #1308
Sorry to leave a comment on a closed issue and bother everyone, but with the commit 09222fac in place, it is now possible to set up an environment variable and insert extra javac options, like this:

```env BAZEL_JAVAC_OPTS="-J-Xms384m -J-Xmx512m" bash ./compile.sh```

[2018-11-10 10:02] ittaiz commented on #6567
Thanks.
Don’t you have a full blown service which has the build graph in memory?

Also, I think you can close it as “should not be implemented” as it sounds
like you feel strongly against.
TBH I’m not convinced but:
1. I might not fully understand
2. It’s natural some people won’t agree to design decisions :)
On Fri, 9 Nov 2018 at 16:14 Ulf Adams <notifications@github.com> wrote:

[2018-11-10 12:30] buchgr opened #6648 "--incompatible_strict_action_env"
Starting with Bazel 0.21 the --experimental_strict_action_env option has been renamed to --incompatible_strict_action_env and is now on by default. This means Bazel will no longer use the client's PATH and LD_LIBRARY_PATH environmental variables in the default action environment. If the old behavior is desired, pass --action_env=PATH and --action_env=LD_LIBRARY_PATH. --noincompatible_strict_action

[2018-11-10 19:12] buchgr opened #6649 "Revisit and stabilize flags used for remote caching/execution"

[2018-11-10 20:37] anton-matosov commented on #2720
Are there any updates on the VS and Xcode plugins/generators?

[2018-11-11 00:49] jin commented on #2720
@anton-matosov there's a few now:

Visual Studio: https://github.com/tmandry/lavender
Visual Studio Code: https://github.com/dprogm/vscode-bazel-tools
XCode generator: https://github.com/pinterest/xchammer
XCode generator: https://github.com/bazelbuild/tulsi

[2018-11-11 01:58] jin commented on #2720
Closing this for now, as there now exist community projects for the mentioned IDEs.

[2018-11-11 01:58] #2720 closed

[2018-11-11 20:39] ulfjack opened #6651 "Bazel crashes on Windows with --compiler=msys-gcc"
Exception stack trace:
[code]

[2018-11-11 22:59] marcohu opened #6652 "--release javacopt does not link against specified version"
I was under the impression that the Java 9+ `--release` compiler flag will link against the provided platform version. But as of version 19.0 this does not seem to be the case with Bazel.

The following code compiles fine with the `--release 7` javacopt even though it uses a Java 9 API method:

`Main.java`
[code]

`BUILD`
[code]

[code]

Is this intentional or am I doing something wrong? Is there

[2018-11-11 23:30] djpetti opened #6653 "Bazel weirdness with --sysroot when cross-compilling"
### Description of the problem / feature request:

I'm attempting to build a project using a custom ARM toolchain, with a configuration based on the one posted [here](https://github.com/bazelbuild/bazel/wiki/Building-with-a-custom-toolchain).

When I attempt to compile with bazel, I get an error about missing libc.so files:

[code]
In my CROSSTOOL, I have been sure to set ```--sysroot``` correctly

[2018-11-12 00:10] andrewtvuong opened #6654 "Target //src:bazel_nojdk failed to build from brew install on Ubuntu 16.04"
Hi all, I'm not exactly sure why the brew is failing to install bazel and was hoping yall would have a better idea.

I am trying to use bazel to build from source Tensorflow.

Thanks

### Description of the problem / feature request:

[code]

### Feature requests: what underlying problem are you trying to solve with this feature?

Cannot build with "brew install bazel" on Ubuntu 16.04.5 LTS (GNU/L

[2018-11-12 03:54] andrewtvuong commented on #6654
**Latest update:**

$ brew install bazel
==> Downloading https://github.com/bazelbuild/bazel/releases/download/0.18.1/bazel-0.18.1-dist.zip
Target //src:bazel_nojdk failed to build
INFO: Elapsed time: 5.589s, Critical Path: 0.22s
INFO: 0 processes.
FAILED: Build did NOT complete successfully

ERROR: Could not build Bazel

$ java -version
java version "1.8.0_181"
Java(TM) SE Runtime Environment (bu

[2018-11-12 05:32] cushon commented on #6652
`--release` isn't yet well-supported by Bazel (in part because of issues like [JDK-8206937](https://bugs.openjdk.java.net/browse/JDK-8206937)).

The recommended way to target Java 7 is by setting `--javacopt='-source 7 -target 7'` and a JDK 7 `--javabase` (e.g. `--define=ABSOLUTE_JAVABASE=${JAVA7_HOME?} --javabase=@bazel_tools//tools/jdk:absolute_javabase`).

The platform APIs that the compilation

[2018-11-12 06:50] gkchaudhary opened #6655 "Java error on AIX"
### Description of the problem / feature request:

bazel is throwing java error on AIX

(0) root @ fcdd: /
# /home/gopesh/bazel-0.18.0/output/bazel
OUTPUT: /home/gopesh/bazel-0.18.0/output/bazel

path = /home/gopesh/bazel-0.18.0/output/bazel
Error: could not find libjava.so
Error: Could not find Java SE Runtime Environment.

(2) root @ fcdd: /
# echo $?
2

libjava.so is already present on the syst

[2018-11-12 06:54] gkchaudhary commented on #6655
# /home/gopesh/bazel-0.18.0/output/bazel info release
OUTPUT: /home/gopesh/bazel-0.18.0/output/bazel

path = /home/gopesh/bazel-0.18.0/output/bazel
Starting local Bazel server and connecting to it...
src/main/cpp/blaze_util_posix.cc:308:: No such file or directory
Server crashed during startup. Now printing /.cache/bazel/_bazel_root/d9454a1ad5f5b96f95120d234ce28bd9/server/jvm.out
Error: could not

[2018-11-12 08:29] buchgr commented on #6359
@or-shachar have you made any progress on this? I know you investigated implementing it? :-)

[2018-11-12 08:47] meisterT opened #6656 "incompatible_use_remotejdk_as_host_javabase: use remote JDK for building Java"
The option `--incompatible_use_remotejdk_as_host_javabase` allows us to remove the dependency from the host javabase on the embedded JDK.

More discussion in:
https://docs.google.com/document/d/11OGJ2QTjnZgxbkgVFrKa3eD2DQ68qnXws7UQ1czc-qQ/edit#heading=h.5dewu068k9gb

# Migration notes

* If you set the flag, Bazel will download the JDK from a remote repository (see https://github.com/bazelbuild/ba

[2018-11-12 08:50] meisterT commented on #6656
We plan to flip the flag (and remove the old code) in the 0.21 release.

[2018-11-12 08:54] dslomov commented on #6656
Could you write a more concise explanation in the issue of
- what the flag does
- who is affected
- how to fix

[2018-11-12 08:55] dslomov commented on #6656
(once that is done, add 'migration-0.20' and 'breaking-change-0.21' labels back.

[2018-11-12 09:05] meisterT commented on #6656
* If you set the flag, Bazel will download the JDK from a remote repository (see https://github.com/bazelbuild/bazel/pull/6216/files#diff-b53d77ce419e665f48b6c7bca4965357).
* This will only happen if you actually build Java or use $(JAVA) or $(JAVABASE) in your genrules. Non-java devs are not affected.
* How to fix: the version of the embedded JDK and the new default JDK are identical. And I alrea

[2018-11-12 10:37] lpapp-polatis commented on #6400
Hi, is there a short term plan to fix this?

[2018-11-12 10:38] lberki commented on #5933
@dslomov it is.

[2018-11-12 10:46] steeve commented on #1000
This is still a problem for Android builds on OSX.
Which a simple helloworld compiled with the android ndk:
[code]

The first one is fixed by adding `-fdebug-prefix-map`, but somehow the second one doesn't.

[2018-11-12 10:54] meteorcloudy commented on #137
Yes, I can confirm what @laszlocsomor said, we do use the stub template on Windows. The native python launcher is just used to run the stub template.

[2018-11-12 11:00] dslomov commented on #5933
Visibility: the only rule that makes sense is that visibility of aspect's package is used.

testonly: I think it would make sense to mark aspects at `testonly` - then only `testonly` rules can originate them.

[2018-11-12 11:17] marcohu commented on #6652
Is there an ETA when `--release` will be supported?

My actual requirement is a bit more involved than with the mentioned example. I ultimately need to be able to link different projects against different Java releases. The proposed `--javabase` approach is therefore no option.

Ideally, `java_library`, `java_binary` and `java_common.compile` would provide a distinct `release` attribute to set the

[2018-11-12 12:10] davido commented on #6656
Another approach is to include `bazel build //...` in CI docker image build step. Then the right JDK will be downloaded and cached in CI Docker image.

[2018-11-12 12:45] davido commented on #6655
Bazel is shipping Linux embedded JDK in its binary, that cannot (obviously) run on AIX.

[2018-11-12 12:53] ittaiz opened #6659 "git_repository quiet = false"
### Description of the problem / feature request:

When cloning large git repositories there is no input from Bazel which is a bad user experience. Wanted to suggest changing git_repository`s execute to use `quiet = false` and so redirect its output to the user to understand what's going on. Alternatively if the default shouldn't be changed then maybe expose it as another attribute for the user to

[2018-11-12 15:23] lberki commented on #6652
What happens if e.g. you have a `java_library` that says `--release 7` and another that says `--release 8` in the dependencies of a single `_java_binary`?

If it's okay to do built the two Java binaries that require different Java releases within different Bazel invocations, you can always have different `--javabase` arguments for them on the command line. If not, I don't think we have a solution

[2018-11-12 15:23] gkchaudhary commented on #6655
I have not taken the bazel binary which is compiled on Linux.

I am porting bazel on AIX, hence I compiled bazel using 'compile.sh' script , which is provided as a part of bazel src code.

[2018-11-12 15:34] Nimitz14 commented on #4742
When calling `./configure` in tensorflow I get
[code]
Can someone please confirm I can ignore this warning?

[2018-11-12 15:37] jin commented on #4742
Yes, you can ignore it. Bazel supports up to r18 now.

On Mon, Nov 12, 2018 at 10:34 AM Rudolf A. Braun <notifications@github.com>
wrote:

[2018-11-12 15:43] Profpatsch opened #6660 "repository_ctx: Document behavior of `which` for different inputs"
In https://github.com/bazelbuild/bazel/issues/3733 a docstring for the `program` argument was added.

It doesn’t explain the interesting semantics of that argument though, particularly:
* what happens for absolute paths?
* what happens for paths that contain a path separator (`/` on Unix)?

Right now the procedure can’t practically be used without looking at its implementation.

[2018-11-12 16:07] benjaminp commented on #6653
I suspect your problem is the same as https://stackoverflow.com/questions/52386530/linker-fails-in-sandbox-when-running-through-bazel-but-works-when-sandboxed-comm.

[2018-11-12 16:17] #6601 closed

[2018-11-12 16:17] katre commented on #6116
Release 0.19.1 is ready. @petemounce and @vbatts, can you also update?

[2018-11-12 16:52] djpetti commented on #6653
Yeah, that seems like the same issue. I was actually aware about fixing it by manually changing the linker script paths, but that's a kludge and it would be nice to avoid it. Another question is why the example in the Wiki that I linked to above doesn't suffer from this same problem.

[2018-11-12 16:53] benjaminp commented on #6648
Do you need to me to update the PR somehow?

[2018-11-12 16:59] buchgr commented on #6648
No I did the update already. Just had to submit a different change before submitting your change. should be in in a few hours.

[2018-11-12 17:12] irengrig commented on #6459
@aehlig can this be closed after https://github.com/bazelbuild/bazel/issues/6427?

[2018-11-12 17:13] irengrig commented on #6659
@aehlig is that already done with https://github.com/bazelbuild/bazel/issues/6427?

[2018-11-12 17:43] irengrig commented on #6654
My guess would be the OpenJDk should be used:
from: [Compiling Bazel from source](https://docs.bazel.build/versions/master/install-compile-source.html#bootstrap-bazel):
 sudo apt-get install build-essential openjdk-8-jdk python zip unzip

[2018-11-12 17:59] cushon commented on #6652
If a `--release 8` library depends on a `--release 7` library that usually Just Works, Java has a good binary compatibility story in that direction.

This might be something we could model with constraints and `fulfills`, and then somehow tie that to the `--release` flag.

I've thought about doing something like that for the existing `-source/-target/-bootclasspath` configuration, it might improve

[2018-11-12 18:08] jin commented on #5810
Revamped in https://github.com/bazelbuild/bazel/commit/92b14d3f5ada6c857ba9a3cefbfcf7affaf16450

[2018-11-12 18:08] #5810 closed

[2018-11-12 18:17] laurentlb commented on #6638
I agree, this feature would be useful.

[2018-11-12 18:46] boegel commented on #614
Is there a ‘bazel’ command to cleanly stop the server that was started after running Bazel? Or is there a way to prevent that the server is even started?

[2018-11-12 18:51] #6177 closed

[2018-11-12 18:59] gregestren commented on #1623
While not quite the same as the prototype described in https://github.com/bazelbuild/bazel/issues/1623#issuecomment-370974845, I just added a draft proposal to support `AND` and `OR` chaining for `config_setting`: [Config Setting Chaining](https://github.com/bazelbuild/proposals/blob/5f6dcaebf102966a358cbe69f5f83d758a53c5ac/designs/2018-11-09-config-setting-chaining.md). Hopefully that can help at

[2018-11-12 19:03] gregestren commented on #6643
Duplicate of https://github.com/bazelbuild/bazel/issues/1623

Feel free to unduplicate if you disagree.

The short story is that `select`s today *always* bind to the attribute's type. So if the attribute is a label list the `select` **must** expand to a label list. https://github.com/bazelbuild/bazel/issues/1623
 talks about loosening that up some, I think to your satisfaction. There's already a p

[2018-11-12 19:04] #6643 closed

[2018-11-12 19:04] jin commented on #6645
@sunyal What is the artifact ID of the affected AAR? I can't find androidx.work on Google Maven. The repro example also doesn't seem to have any BUILD files for repro.

[2018-11-12 19:08] cushon opened #6661 "incompatible_use_jdk10_as_host_javabase: makes JDK 10 the default --host_javabase for remote jdk"
The option `--incompatible_use_jdk10_as_host_javabase` makes JDK 10 the default [`--host_javabase`](https://docs.bazel.build/versions/master/user-manual.html#flag--host_javabase).

See also `--incompatible_use_remotejdk_as_host_javabase` (#6656).

# Migration notes

If you set the flag, Bazel will use JDK 10 as the default [`--host_javabase`](https://docs.bazel.build/versions/master/user-manual.ht

[2018-11-12 19:13] scottmin0r opened #6662 "0.19.1: `@bazel_tools//tools/cpp:cc-compiler-local-k8' is not a cc_toolchain rule`"
### Description of the problem / feature request:

C++ builds fail with:

[code]

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

On Linux/amd64, in an otherwise empty workspace with an empty WORKSPACE file, run:

[code]

### What operating system are you running Bazel on?

Linux (Debian variant)

### What's the output of `bazel info

[2018-11-12 19:18] gregestren commented on #6401
Jerry,

Exactly which error do you see?

On my Mac, when I make a simple `cc_binary` in `testapp/BUILD` and just change the target case I get:

[code]

So even if the filesystem is case-insensitive Bazel is still keeping the label case-sensitive.

When I change the package's case though things break down:

[code]

This error kind of makes sense but does look like a mismatch between Bazel and the u

[2018-11-12 19:19] gregestren commented on #6401
team-Apple: does any of this look familiar to you?

[2018-11-12 19:19] jin commented on #6645
I'm not able to reproduce this error with the following layout XML with `tools:targetApi="n"`

[code]

[2018-11-12 19:36] #5823 closed

[2018-11-12 19:49] yurivict commented on #614
Ctrl-C should just stop all processes that were started by this command.

[2018-11-12 19:55] rahul-nitkkr commented on #614
@boegel have you tried : bazel shutdown.
https://docs.bazel.build/versions/master/user-manual.html#shutdown

Ctrl + C thrice should shutdown the server immideatly , but look out for side effects mentioned in the comments above

[2018-11-12 20:33] smukherj1 opened #6664 "External repository reference not overridden by http_archive"
### Description of the problem / feature request:
Sample reproducible test case at https://github.com/smukherj1/bazel_http_archive_issue
I attempt to use the bazel_skylib repository. This is first loaded by the external repository loader macro call here (https://github.com/smukherj1/bazel_http_archive_issue/blob/master/WORKSPACE#L15) and then loaded using an explicit http_archive call here https:/

[2018-11-12 20:37] nlopezgi opened #6665 "Bazel 0.19.1 released with a bug"
### Description of the problem / feature request:
Bazel 0.19.1 was released with a bug fixed by https://github.com/bazelbuild/bazel/commit/6bc452874ddff69cbf7f66186238032283f1195f
(https://github.com/bazelbuild/bazel-toolchains/issues/198)

Bazel 0.19.0 does not have that bug.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Use baze

[2018-11-12 20:53] petemounce commented on #6116
Published to chocolatey. I noticed #6665 / #6662 were opened however :(

[2018-11-12 20:56] ittaiz commented on #6665
What are the ramifications? Any build with bazel 0.19.1 and
bazel-toolchains at HEAD fails? Any version of bazel-toolchains fails?
On Mon, 12 Nov 2018 at 22:37 Nicolas Lopez <notifications@github.com> wrote:

[2018-11-12 21:14] nlopezgi commented on #6665
There should be no ramifications for remote exec users. This will only impact our internal process to produce a toolchain configs that works with RBE for Bazel 0.19.1 (but the ones for 0.19.0 work well with 0.19.1).

[2018-11-12 21:16] katre commented on #6116
Yes, this is unfortunate, I think we'll need a 0.19.2 as soon as I can figure out the solutions.

[2018-11-12 21:17] nlopezgi commented on #6662
https://github.com/bazelbuild/bazel/issues/6665 might be related. Perhaps this is also due to https://github.com/bazelbuild/bazel/commit/6bc452874ddff69cbf7f66186238032283f1195f not being included in 0.19.1

[2018-11-12 21:19] nlopezgi commented on #6116
also mentioned in the issues, I think the problem is 0.19.1 did not include https://github.com/bazelbuild/bazel/commit/6bc452874ddff69cbf7f66186238032283f1195f

[2018-11-12 21:33] kayasoze commented on #6429
The use case is in-tree builds, where it is impossible to get incremental builds working correctly without duplicating about a thousand lines of .gitignore in the build definition.  This could be a useful option to a filegroup, or to glob, which already supports recursive wildcard expansion.

[2018-11-13 00:32] fahhem commented on #137
My current use case is that I'd like to insert code that runs in the stub for a certain subset of rules, such as enabling (and extracting) coverage instrumentation for `py_test()` rules (the `stub_template` attribute is available in `py_test()` rules too).

Other use cases in the past that would have been easier with this:
* subpar parses the current post-substitution stub for a `py_binary()` rule

[2018-11-13 09:55] lberki commented on #6655
(Why is this a P1?)

Assigning to @iirina -- she's OOO at the moment so it'll take a while before she gets to it.

[2018-11-13 09:55] lberki commented on #6655
/cc @meisterT in case he know this off the bat

[2018-11-13 10:06] lberki commented on #6665
(in the absence of @mhlopko )

[2018-11-13 10:06] meisterT commented on #6655
Can you try setting the `--server_javabase` (see https://docs.bazel.build/versions/master/command-line-reference.html#flag--server_javabase) explicitly?

[2018-11-13 10:09] ash2k opened #6666 "Document iteration order for label_keyed_string_dict, string_dict and string_list_dict"
### Description of the problem / feature request:

Currently iteration order of attribute types `label_keyed_string_dict`, `string_dict` and `string_list_dict` is not documented. Would be great to have some info on what is guaranteed and what is not.

### Feature requests: what underlying problem are you trying to solve with this feature?

I have a rule that generates content based on attribute of

[2018-11-13 10:30] lberki commented on #6665
/cc @katre -- I think if it "only" makes it harded to produce toolchain configs for RBE, let's not have a 0.19.2 . That said, it's a regrettable omission :(

[2018-11-13 10:30] talya opened #6667 "cache misses when duplicate identical --test_env values exist"
### Description of the problem / feature request:

Action cache key calculation differs for multiple identical values of test_env vars

Discovered by using the `--experimental_execution_log_file` flag and then parsing it with `bazel-bin/src/tools/execlog/parser` tool.

### Feature requests: what underlying problem are you trying to solve with this feature?

Running locally and using remote cache h

[2018-11-13 10:59] gkchaudhary commented on #6655
Tried -server_javabase="/usr/java8_64" default:""
Still getting the same error.
I was checking the commandline file , there I see for java lib path it is taking different directory

-Djava.library.path=/.cache/bazel/_bazel_root/install/b21b92f83c0f65b1f4a9484f9401a08f/_embedded_binaries/

shouldn't it take the the value from LD_LIBRARY_PATH

# echo $LD_LIBRARY_PATH
/usr/java8_64/lib:/usr/java8_64/

[2018-11-13 12:01] dslomov commented on #6661
Where does it get JDK10? Do you mean it downloads JDK10 as a remote JDK?

[2018-11-13 13:09] markorajkovic opened #6668 "Unable to upgrade bazel"
### Description of the problem / feature request:

### Feature requests: what underlying problem are you trying to solve with this feature?

### What operating system are you running Bazel on?

### If `bazel info release` returns "development version" or "(@non-git)", tell us how you built Bazel.

### What's the output of `git remote get-url origin ; git rev-parse master ; git rev-parse HEAD` ?

#

[2018-11-13 13:22] aehlig commented on #6664
It took me a while to find out what's going on here&mdash;and that it's working as specified. I'm not sure I like this semantics, but I don't know a better one at the moment (not to talk about the transition cost, as users are relying on the current semantics). The minimal reproduction example is the following `WORKSPACE` file in an otherwise empty repository.

[code]

With this `WORKSPACE`, a `ba

[2018-11-13 14:31] sunyal commented on #6645
The artifact is 'android.arch.work:work-runtime:1.0.0-alpha08'

[2018-11-13 14:31] DavinciHW opened #6669 "[BUG?]Build @jpeg//:simd_armv8a Got error"
### Description of the problem / feature request:

[code]
and bazel tells me the command line was:
[code]
I can find the missing head file `jpegint.h` rightly at external/jepg. Also, when I copy the command line and run it，Everything is OK.

## Bazel version:0.17.2
## Tensorflow version:1.8.0

Here is my CROSSTOOL:
[code]

[2018-11-13 14:54] katre commented on #6665
This may not be worth a patch, but #6662 definitely is. I am trying today to determine if they are related or not.

[2018-11-13 14:57] gelrom commented on #6662
Could the following output have the same underlying cause?
...`in cc_toolchain rule @local_config_cc//:cc-compiler-k8: Error while selecting cc_toolchain: Toolchain identifier 'local' was not found, valid identifiers are`...
This break occurs at 0.19.1. I've been unable to determine if it also occurs at 0.19, but 0.18 was definitely working. Note that this still breaks even if all backward breakin

[2018-11-13 14:58] jin commented on #6645
@sunyal Thank you -- successfully reproduced with https://github.com/jin/repro/tree/master/6645

Looking into this now.

[2018-11-13 15:03] scentini commented on #6665
They are related, the @bazel_tools//tools/cpp:default-toolchain is in error.

[2018-11-13 15:06] scentini commented on #6665
@katre, do you know when users set --crosstool_top=@bazel_tools//tools/cpp:default-toolchain instead of using the ones generated by cc_configure?

[2018-11-13 15:07] aehlig commented on #6659
No, this is a different kind of reporting; #6427 allows rule to report high-level what they're doing; this is a feature request to change the default for `quiet` for the individual `git` commands; this allows to closely follow the output produced by those commands.

[2018-11-13 15:09] aehlig commented on #6459
I would say yes, but over to @laszlocsomor to decide whether this is what he had in mind, or some form of feature request as like #6659.

[2018-11-13 15:12] scentini commented on #6662
@gelrom can you share the build command? Seems close enough, but not quite the same.

[2018-11-13 15:14] laszlocsomor commented on #6459
#6427 is a great step forward. What I had in mind was more: to report "Still running after XX seconds..." status messages similar to action execution, in case the command runs longer than a given limit (say, 5 seconds). That would give the user visual feedback that everything was still working, just taking longer than they might expect.

[2018-11-13 15:16] katre commented on #6665
@scentini I do not know that. Ask the user who reported #6662.

[2018-11-13 15:17] scentini commented on #6662
@gelrom also, could you please provide the list of valid identifiers in the error message?

[2018-11-13 15:30] scentini commented on #6662
@scottminor-google, we've confirmed that @bazel_tools//tools/cpp:default-toolchain is in error.
Why do you need to set --crosstool_top=@bazel_tools//tools/cpp:default-toolchain ?  I'm trying to determine the scope of the issue.
Thanks.

[2018-11-13 15:33] gelrom commented on #6662
@scentini bazel build --crosstool_top=//lib/bazel:toolchain //...
the list of identifiers is of each of our toolchain's toolchain_identifier

[2018-11-13 15:37] katre commented on #6665
@nlopezgi Is there a way to run the //tests/config:debian-jessie-custom-bazel-rc-version-autoconfig with a custom local version of Bazel?

[2018-11-13 15:48] aehlig commented on #6459
The current (bazel at HEAD as of now) semantics is that we show
- the last progress message, and
- time time since the beginning of the fetch (not since the last progress message change).

This is slightly different than your suggestion, but at least it is showing that bazel is still alive.

[2018-11-13 15:51] scottminor-google commented on #6662
We have a long-ish bazelrc that is explicit about each `crosstool_top` and `host_crosstool_top` that is used for each config that we define, to keep the toolchain selection as obvious and understandable as possible. `default-toolchain` is what we use mostly for `host_crosstool_top` (although that will change shortly, as we don't want to rely on a user-installed toolchain in any part of the build b

[2018-11-13 16:01] laszlocsomor commented on #6459
Thanks, these are all valuable progress messages! It's great that we have them now.

Exactly. I'm not saying what we have at HEAD is insufficient, I'm saying it's not what I'm suggesting, so strictly speaking this bug is not resolved. I'm not claiming that my idea is better, or that it must be done at all.

[2018-11-13 16:01] dslomov commented on #6117
First cherrypick: fd52341505e725487c6bc6dfbe6b5e081aa037da

[2018-11-13 16:01] ittaiz opened #6670 "External repository fetching failure should be reported in BEP and as a root cause"
### Description of the problem / feature request:

When a repository rule fetching fails I'd like the BEP to report it (with the relevant log part) and specify it as a root cause for other targets that depend on it.

### Feature requests: what underlying problem are you trying to solve with this feature?

We use ResultStore (a google based service which is bazel target based) and when the build fa

[2018-11-13 16:05] aehlig commented on #6670
cc @lfpino @ulfjack who also work on the BEP.

[2018-11-13 16:06] ittaiz commented on #5568
@aehlig following our offline discussion I think there is value in also supporting softlinks for the use-case of ephemeral workers in CI which don't care about cleanup and are short lived on the one hand but would rather minimize IO such as copying of the files and can't support hardlinks across different volumes (for example GCB).
I'm commenting here and not on a new issue since it has the contex

[2018-11-13 16:09] ittaiz commented on #6659
As discussed I'll send a PR for this change (alongside allowing users to
opt out and keep quiet=True)

On Tue, Nov 13, 2018 at 5:07 PM Klaus Aehlig <notifications@github.com>
wrote:

[2018-11-13 16:14] gennadiycivil commented on #5640
Thank you for this suggestion!
I am a bit hazy for some reason.... could you please point me to the actual
workspace file to look at?
Thanks again
G

On Fri, Nov 9, 2018 at 9:37 AM Loo Rong Jie <notifications@github.com>
wrote:

[2018-11-13 16:18] dslomov commented on #6117
rc2:

 `./scripts/release/release.sh create --force_rc=2` 7bf7f031c332dc483257248d1c1f98ad75bbc83b fd52341

[2018-11-13 16:20] dslomov commented on #6117
Actually
`./scripts/release/release.sh create --force_rc=2 0.20` 7bf7f031c332dc483257248d1c1f98ad75bbc83b fd52341

[2018-11-13 16:51] katre commented on #6116
I am going to create 0.19.2 with f7e5aef145c33968f658eb2260e25630dc41cc67 and 6bc452874ddff69cbf7f66186238032283f1195f.  @nlopezgi please advise on how I can test for issue #6665 before I do the actual release.

[2018-11-13 17:01] cushon commented on #6661
Right, see also #6656.

As discussed with @lberki I think this might be slated for 0.22 instead.

[2018-11-13 17:41] nlopezgi commented on #6665
@katre unfortunately, there is not, these tests depend on downloading an installer, you can repro the error easily though, just try to run a build form an environment in which the same env variables as those set in the docker autoconfig target are set. Specifically, you should be able to repro this by simply adding the env variable:
"CC_TOOLCHAIN_NAME": "linux_gnu_x86"
and then trying to run a bui

[2018-11-13 17:43] nlopezgi commented on #6665
and I do agree with @lberki that if this only impacts our use case it does not warrant a new version being cut (but I'd be surprised no one else is using the CC_TOOLCHAIN_NAME env variable for some other reason)

[2018-11-13 17:49] jin commented on #6668
Your installer may have installed it into `$HOME/bin`. Could you please check that directory?

[2018-11-13 17:52] mrdaulet commented on #3106
This is still the case for Bazel 0.18.0, any plans to fix it? It causes frequent timeouts for unit tests, currently working around by setting higher test timeout.

[2018-11-13 17:59] katre commented on #6665
Okay, results of testing that (using the [cpp-tutorial](https://github.com/bazelbuild/examples/tree/master/cpp-tutorial/stage3)):

With Bazel 0.19.1:
[code]

With Bazel 0.19.2rc1:
[code]

So I will continue with sending out 0.19.2.rc1.

[2018-11-13 17:59] katre commented on #6116
Release 0.19.2rc1:
[code]

[2018-11-13 19:35] katre commented on #6116
RC1 testing: https://buildkite.com/bazel/bazel-with-downstream-projects-bazel/builds/586#_
The test failures in singlejar have two causes:
- [src/tools/singlejar:output_jar_simple_test](https://source.bazel.build/bazel/+/27385b1acfbecb815862762337ba1cdde7237576:src/tools/singlejar/BUILD;l=235) references the target `@local_jdk//:jdk-default`, which may have existed when that commit was submitted b

[2018-11-13 19:49] scentini commented on #6419
Closing as suggested.

[2018-11-13 19:49] #6419 closed

[2018-11-13 20:16] katre commented on #6116
Filed https://github.com/bazelbuild/rules_apple/issues/245 for the rules_apple issue.

[2018-11-13 20:22] katre commented on #6116
It's a known flake.

[2018-11-13 20:33] marcohu commented on #6652
I have it working with Bazel 0.12 by the means of a custom `java_comon.compile` rule which luckily already accepts a toolchain argument, but I was running into problems with the toolchain under Bazel 0.19 as `-Xbootclasspath` is no longer supported. `--release` seemed like the perfect solution, but sadly doesn't (fully) work yet.

@lberki Not sure using multiple Bazel invocations could work. The J

[2018-11-13 20:34] #6631 closed

[2018-11-13 21:10] ittaiz commented on #6659
Tried fiddling with this now. Getting more info but I'm getting
[code]
instead of
[code]
When I run the same script in bash.
Any chance one of you has more info about how bazel redirects stdout/stderr?

[2018-11-13 21:33] kastiglione commented on #6659
I have an open PR to remove the noise #6468. @aehlig can you take a look?

[2018-11-13 21:34] smukherj1 commented on #6664
Thanks for explaining this! Is it currently possible to query the attributes (url, version, etc) of a resolved external repository name using bazel query? If not, does it make sense to add one to debug these situations?

Ideally, it would be most helpful if we could get some information on which load statement froze the repository resolution or the last executed http_archive location if not yet fr

[2018-11-13 21:35] smukherj1 commented on #6664
@aehlig Notifying to consider my previous comment

[2018-11-13 21:59] ittaiz commented on #6659
I'm actually trying to add "noise" in the sense of getting the rule to
output back the regular git output

On Tue, Nov 13, 2018 at 11:33 PM Dave Lee <notifications@github.com> wrote:

[2018-11-13 22:01] irengrig commented on #6667
Thank you for reporting the problem!
NB I have the feeling that there is a duplicate for that somewhere, but can not find it.

[2018-11-13 22:08] irengrig commented on #6669
Thank you for reporting the problem!

This probably means that it might work without sandbox (----spawn_strategy=standalone) as a workaround.

[2018-11-13 22:09] irengrig commented on #6669
cc @meteorcloudy

[2018-11-13 22:26] jin opened #6671 "Android manifest merger exceptions are dropped due to an unrelated crash from a Guava incompatibility"
### Description of the problem / feature request:

Bazel does not propagate messages from exceptions in `ManifestMergerAction` properly.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

See https://github.com/jin/repro/tree/master/6645

The Bazel error is:

[code]

Note:

[code]

This is because the `MergingException` class file was

[2018-11-13 22:34] jin commented on #6645
So there are two issues here:

1) Bazel is not propagating the correct error message from the wrapped exception.

I reproduced this with Blaze, and it prints this additional message:

[code]
The Bazel crash does not print the additional line: `Error: Invalid instruction 'targetApi', valid instructions are : REMOVE,REPLACE,STRICT`. Opened https://github.com/bazelbuild/bazel/issues/6671 to track thi

[2018-11-13 22:42] ahumesky commented on #6645
is the targetAPI vs targetApi just a mistake in the documentation, or is the correct capitalization consistent in later versions of the merger and lint? if the correct capitalization from later versions of lint and the merger is "targetApi" then we can consider patching

[2018-11-13 22:49] jin commented on #6645
All of the usages I've found are capitalized as `targetApi`. They are also all used in resource XMLs and not the Android manifest. The `targetApi` usage in the androidx.work library is the only occurrence of it being used in the Android manifest, so this leads me to think that this is an incorrect usage of the attribute, and that the crash is WAI (although it should print more information).

[2018-11-13 22:50] petemounce commented on #6117
Published rc2.

[2018-11-13 22:51] jin commented on #6645
@sunyal as a workaround, could you use `android.arch.work:work-runtime:1.0.0-alpha07` instead of `alpha08` for the time being? That revision compiles successfully for now.

[2018-11-13 22:54] jin commented on #6645
This issue has been filed in https://b.corp.google.com/issues/114358542, so it looks like an upstream fix. Downgrading this to P2 as it looks like a inconsistency bug between AOSP and AndroidX.

[2018-11-14 00:51] scottminor-google commented on #6662
Thanks for the fix! I rebuilt bazel from `94d51fc` to test/verify this fix against our codebase. Unfortunately, I'm running into another error:

[code]

This is reproduced in a workspace with:
* an empty `WORKSPACE` file
* `//hello_world.cpp`:
[code]
    cc_binary(
        name = "hello_world",
        srcs = ["hello_world.cpp"],
    )
[code]
bazel build //...
[code]
bazel build //... --crosstool_

[2018-11-14 00:58] scottminor-google commented on #6662
In our codebase, the error is a little different - it still complains about `@local_config_cc//:cc-compiler-k8`, but the available toolchain identifiers is one element - the toolchain_identifier specified in our custom CROSSTOOL. I have no idea why that would be interacting with `@local_config_cc` (or even what that is supposed to be).

Is there anything I can read up on to better understand C/C++

[2018-11-14 01:18] DavinciHW commented on #6669
@irengrig Thank you for your suggestion!
I tryed build target with  `--spawn_strategy=standalone`，ant got the following new errors:
[code]

[2018-11-14 03:26] wjywbs opened #6672 "Feature request: hide remote execution time if remote execution is not enabled"
### Description of the feature request:

[code]

Can these `Remote (0.00% of the time): [queue: 0.00%, setup: 0.00%, process: 0.00%]` outputs be hidden when remote execution is not enabled?

bazel 0.19.0

[2018-11-14 03:49] wjywbs commented on #6665
I'm also encountering an issue similar to this, and related to #6662 as well. I took some time to make a minimal repro in https://github.com/wjywbs/bazel-cc-toolchain-bug.

[2018-11-14 04:19] wjywbs commented on #6662
I'm encountering an issue similar to this. I took some time to make a minimal repro in https://github.com/wjywbs/bazel-cc-toolchain-bug, and posted the outputs of bazel 0.18.1, 0.19.0 and 0.19.1 in there.

[2018-11-14 04:19] benjaminp commented on #6672
Duplicate of #6208.

[2018-11-14 04:23] #6672 closed, assigned to nobody

[2018-11-14 08:33] markorajkovic commented on #6668
Yes, it is in that directory. However, there it also shows the old version. I don't understand what I am supposed to do.

[2018-11-14 08:37] scentini commented on #6662
Thanks for the repro, looking into it.

[2018-11-14 09:01] meteorcloudy commented on #6669
@DavinciHW Looks like you didn't have the right dependency declared for the `jpegint.h` and `jerror.h`, can you check the dependency of the target?

[2018-11-14 09:56] aehlig commented on #6659
As most programs nowadays, `git clone` behaves differently depending on
whether stderr is attached to a terminal or a different file descriptor;
the option to look for is `--progress`.

But given the compaints about bazel being too noisy, opt-in might be the
better choice for this behaviour.

--
Klaus Aehlig
Google Germany GmbH, Erika-Mann-Str. 33, 80636 Muenchen
Registergericht und -nummer: Hambu

[2018-11-14 11:03] rongjiecomputer commented on #5640
Sure thing! See https://github.com/rongjiecomputer/bazel-issue/tree/master/abseil

[code]

[2018-11-14 13:05] ittaiz commented on #6659
Thanks! I’ll try it out :)

Are there such complaints about external repositories? From what I see the
complaints in that area are about Bazel being too silent.
If you’re confident about it I’ll make it opt-in.
Wdyt?
On Wed, 14 Nov 2018 at 11:56 Klaus Aehlig <notifications@github.com> wrote:

[2018-11-14 13:44] natansil commented on #4665
Great news!
So this fix will make it to version 0.20 or 0.21?

[2018-11-14 14:10] or-shachar commented on #6580
We always run with the `--keep-going` but we get errors on strict deps issues of external repositories

[2018-11-14 14:33] aehlig commented on #6664
As far as I am aware, `bazel query` does not support asking for those
properties. However, if it is only about debugging, you can use the
`--experimental_repository_resolved_file` option to record which repositories
have actually been fetched. (For the primary use of this option, see
https://blog.bazel.build/2018/09/28/first-class-resolved-file.html
for a blog entry on resolved files.)

--
Klaus A

[2018-11-14 15:18] brown commented on #137
I'm aware of two common use cases that require changes to the
Python stub.

1.  Developers want an executable that has the PYTHON_PATH of a
given py_binary or py_library but behaves just like the standard
Python interpreter.  This executable would be used for
experimenting in the REPL or for deploying an interpreter with
pre-loaded libraries.

2.  Augmenting LD_LIBRARY_PATH.

[2018-11-14 15:31] meteorcloudy opened #6675 "Windows: Bazel 0.20.0rc1 won't build Protobuf 3.6.1"
To reproduce:

WORKSPACE:
[code]

[code]

To fix this issue, @scentini has submitted https://github.com/protocolbuffers/protobuf/commits?author=scentini, but they are not in any protobuf release yet.

This means, with Bazel 0.20.0, all projects depends on released protobuf will be broken (TensorFlow, rules_go, rules_typescript, etc) on Windows. Due to this issue, those projects are also removed fr

[2018-11-14 15:43] lfpino commented on #6670
Hi @ittaiz, it'd be great if you could post an example repro here and the expected output in the BEP for future reference.

[2018-11-14 16:29] #6669 closed

[2018-11-14 16:29] ittaiz commented on #3451
+1
On Wed, 14 Nov 2018 at 16:24 Petros Eskinder <notifications@github.com>
wrote:

[2018-11-14 16:59] DavinciHW opened #6677 "[BUG]Differences betweent external repositores' build target with and local repository target?"
### Description of the problem / feature request:

I use tensorflow as my external dependency repository, local_repository, and build my binary depend on some tensorflow build target like @org_tensorflow//tensorflow/core:lib.
Everything seems normal, but I find that if I compile the same goal in tensorflow's self workspace,
The generated binaries will be much smaller than the ones I compiled using

[2018-11-14 17:01] DavinciHW commented on #6677
Sorry to repeat :lib, three dependencies are :lib :all_kernels: CPU

[2018-11-14 17:12] acozzette commented on #6675
We're going to do a 3.7 release in the new few weeks, so maybe we can just get the fix into 3.7 instead of doing another 3.6 release. @meteorcloudy How soon do you expect to release Bazel 0.20?

[2018-11-14 18:07] katre commented on #6116
Testing looks good, I am going to go ahead and create 0.19.2rc2 with this additional cherrypick so it can be tested.

[2018-11-14 18:10] katre commented on #6116
Created rc2:
[code]

[2018-11-14 18:11] katre commented on #6662
I've pushed the cherrypick into the RC, please let me know if there are still issues.

[2018-11-14 18:11] katre commented on #6665
I've pushed the cherrypick into the RC, please let me know if there are still issues.

[2018-11-14 18:48] scottminor-google commented on #6662
I built bazel from `f2be11dda2` and it successfully builds a C++ target from our codebase with no additional flags. Thanks for the fix!

[2018-11-14 18:56] tetromino commented on #6401
@laszlocsomor - I remember you talked about issues with case (in)sensitivity for the Windows port of Bazel. Do you perhaps have context on this?

[2018-11-14 18:56] davidrsacks opened #6678 "Bazel coverage produces incorrect results when run concurrently"
### Description of the problem / feature request:

When running `bazel coverage`, it is observed that the coverage generated is inconsistent from run to run. Some files are entirely missing from the overall coverage report, and others show erroneously low coverage. The coverage output is non-deterministic and varies from run to run.

In addition, running `bazel coverage` with `--jobs=1` produces c

[2018-11-14 18:58] katre commented on #6116
RC2 shows serious errors in cc-rules-tests (https://storage.googleapis.com/bazel-buildkite-artifacts/e813c7da-880e-4b59-b805-c14f30289cbd/src/test/java/com/google/devtools/build/lib/rules/cpp/cpp-rules-tests/attempt_1.log)

[2018-11-14 19:54] cushon commented on #3451
This would also make it easier to iterate on the stub script, since currently you have to re-build Bazel to pick up changes.

@lberki we talked about something like this [once](http://b/69324378), and you noted it "would require making the set of `%{}` template variables and the template language itself part of the interface of Bazel."

[2018-11-14 19:56] #6548 closed

[2018-11-14 21:03] irengrig commented on #6668
Thank you for sharing the results:)

[2018-11-14 21:03] #6668 closed

[2018-11-14 21:14] irengrig commented on #6677
cc @meteorcloudy @aehlig please help with investigation, afaik it is not so easy to experiment with TF :)

[2018-11-14 23:02] laurentlb commented on #6666
Iteration order of dictionaries is documented: https://docs.bazel.build/versions/master/skylark/lib/dict.html
I expect it's the same.

[2018-11-14 23:11] jin commented on #6645
According to the issue tracker, it looks like the fix is planned for WorkManager Alpha 12.

[2018-11-14 23:48] gunan commented on #6665
This is also affecting TF

[2018-11-15 00:09] EricCousineau-TRI opened #6680 "rule, genrule: Provide option to not segregate src files that are genfiles?"
Per the docs here:
https://docs.bazel.build/versions/master/be/general.html#general-advice

This means that if one `genrule` depends on another `genrule` and is something that may not easily be connected to `$(location ...)` (in our case, it was [xacro](https://github.com/ros/xacro)), because include paths are now split between nominal source files and `genfile` source files.

Can I ask why this p

[2018-11-15 01:59] DavinciHW commented on #6677
I remove all caches and .bazelrc file.

First Simply run the follwing commans in local tensorflow repository，The following results are obtained:
[code]
Extracting Bazel installation...
WARNING: detected http_proxy set in env, setting no_proxy for localhost.
Starting local Bazel server and connecting to it...
INFO: Analysed target //tensorflow/core:lib (31 packages loaded).
INFO: Found 1 target...

[2018-11-15 04:29] ash2k commented on #5759
I think this is a dupe of https://github.com/bazelbuild/bazel/issues/671.

[2018-11-15 04:45] wjywbs commented on #6665
@katre The release-0.19.2 branch works in both of my use cases. Thanks for the fix.

[2018-11-15 07:58] laszlocsomor commented on #6401
@gregestren made a key observation: that the package path and the target name are handled differently. Indeed, the package path tells Bazel the filesystem path where it needs to open the BUILD file. That explains why the package name is treated case-insensitively on the case-insensitive filesystem, although it is surprising indeed. On the other hand, the target name lookup means looking up a strin

[2018-11-15 08:43] RaresI opened #6681 "JUnit 5 support"
### Description of the problem / feature request:
JUnit v5 (Jupiter) is a significant new version of JUnit, bringing many new features and changes.

Bazel should natively support JUnit v5 (Jupiter) tests. JUnit v5 annotations and assertions cannot be run in v4.

### Feature requests: what underlying problem are you trying to solve with this feature?

"bazel test" should run for JUnit5 tests

### B

[2018-11-15 08:54] RaresI opened #6682 "bazel test fails on Windows"
### Description of the problem / feature request:

Fix "bazel test" on Windows

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

bazel test //test/Bazel:test4

### What operating system are you running Bazel on?
Microsoft Windows [Version 10.0.16299.785]
perl -e "print $];"
5.024003
### What's the output of `bazel info release`?

rele

[2018-11-15 09:19] BlackIsTheNewBlack opened #6683 "Feature: java_library.resource_add_prefix"
### Description of the feature request:

java_library has a resource_strip_prefix property which removes a path prefix. Please add the complementary property "resource_add_prefix" which would place files in a different folder.

### Feature requests: what underlying problem are you trying to solve with this feature?

Many times resources need to be placed in specially named folders in order to work

[2018-11-15 10:47] scentini commented on #6675
Apologies for the trouble caused. For some reason I was under the illusion that 3.6.1 was released after my fix, and that I had confirmed that that is the case. Obviously, both are not true.

As it happens, the flag flip related to the incompatible change made the cut for 0.20, and the removal of the code didn't. If we could rollback 664e02d for 0.20, we'd preserve the old behavior and 0.20 would

[2018-11-15 10:55] meteorcloudy commented on #6675
@scentini Thanks for suggesting the solution, rollback 664e02d only for 0.20 sounds good to me, @dslomov does it make sense to you, you'll have to do the rollback manually on the branch of 0.20.

@acozzette 0.20.0 will be released in 1~2 week, I also prefer a protobuf 3.6.2, so that people have more time to upgrade.

[2018-11-15 11:15] laszlocsomor opened #6685 "Windows: "Failed to query DisplayName of" in Bazel client"
### Description of the problem / feature request:

Bazel displays:
[code]

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

https://stackoverflow.com/q/53307267/7778502

Culprit seems to be an unhandled error opening a registry subkey here:
https://github.com/bazelbuild/bazel/blob/cd2a036ffff99087be125253157d16d60289e33a/src/main/cpp/

[2018-11-15 12:14] lberki commented on #4665
To 0.20, hopefully!

I have a patch available: https://github.com/lberki/bazel/commit/62e5daa586bf165b6a75cde85baec6399bcfefb0

Can you take a look whether this is good enough for you? What it does is that it adds the appropriate entries `dep.proto.transitive_proto_path` so that .proto files are accessible without their `external/REPONAME` prefix.  IOW, if you have a .proto file in repository `foo

[2018-11-15 13:17] aehlig commented on #6502
Interestingly enough, for `bazel build` we already have a flag that
limits the amount of parallel fetches (even though it was designed
for a different purpose): `--loading_phase_threads`.

Maybe, a good first step would be to make `fetch` and `sync` honor
this flag in the same way?

--
Klaus Aehlig
Google Germany GmbH, Erika-Mann-Str. 33, 80636 Muenchen
Registergericht und -nummer: Hamburg, HRB 86

[2018-11-15 14:29] dslomov commented on #6675
Rolling back 664e02d  to fix this sounds good to me.

[2018-11-15 14:29] katre commented on #6116
@scentini has found the relevant commits that should fix CcToolchainTests. One applies many changes (b91d8308e1b8cf165d6b8a32f593d63684ad185c), the second rolls most of them back (00ac609c20c49fbf6433810155c10822ea94be41), but should leave the tests fixed. Trying that today, hopefully can get RC3 out. (Might also need fc7e7405ef8db508ed3c92161bf3913e0f77c079, which comes between the two.)

[2018-11-15 14:30] dslomov commented on #4665
0.20 is already cut, so it will be in 0.21

On Thu, Nov 15, 2018 at 1:14 PM lberki <notifications@github.com> wrote:

--
Google Germany GmbH
*Erika-Mann-Straße 33, 80636 München, Germany*

[2018-11-15 14:41] katre commented on #6116
Yes, it does need fc7e740.

[2018-11-15 14:44] katre commented on #6116
No, that's not enough. This is turning into a lot of cherrypicks for one test, looking into alternatives

[2018-11-15 15:20] irengrig commented on #6292
@meteorcloudy can I close it already?

[2018-11-15 15:40] vladmos commented on #6153
Can be automatically fixed with `buildifier --lint=fix --warnings=attr-cfg`

[2018-11-15 15:47] laurentlb commented on #2414
An action to run zip/tar would be useful. However, I think it should be implemented outside Bazel, in Starlark (possibly in https://github.com/bazelbuild/bazel-skylib or another repository).

[2018-11-15 15:55] laszlocsomor commented on #2414
Related to @laurentlb 's comment: https://stackoverflow.com/q/53163137/7778502

[2018-11-15 16:02] or-shachar opened #6688 "java_test does not report about skipped tests"
### Problem:
When running bazel `java_test` target with junit test with annotation `@Ignore` - the test doesn't show up in the resulting `test.xml`

### Report:
Simple test class:
[code]
Running with `java_test` target.

I made a repro [here](https://github.com/or-shachar/bazel-sample-repo/tree/java_skipped_issue):
[code]
result will show
[code]
(The skipped `testcase` is listed with time 0 and is

[2018-11-15 16:02] or-shachar commented on #6688
cc: @hmemcpy

[2018-11-15 16:03] katre commented on #6116
Since the error is known and is the result of a mis-configured tes, I'm ignoring it and releasing RC2 anyway.

[2018-11-15 16:06] sunyal commented on #6645
Great, will keep an eye out for that release

[2018-11-15 16:50] katre commented on #6116
Sent announcement about 0.19.2RC2.

[2018-11-15 17:17] johnynek commented on #2414
By putting it outside bazel we have to solve the reproducibility problem of your zip/tar toolchain.

This challenge is considerable and impacts caching. Putting something like this, which is pretty fundamental, as a library function without a need to set up any toolchain type things would be helpful.