[2022-07-13 13:36] chiahsingyu opened #15867 "Bazel doesn't ignore its own symlinks when running 'bazel --output_base=/tmp query ...:* --output=package'"
### Description of the bug:

When running 'bazel --output_base=/tmp query ...:* --output=package' (which is the command vscode Bazel extension uses to list the packages), Bazel goes into its own bazel-<workspace> symlink and fails with some error like:

ERROR: error loading package 'bazel-foo/external/bazel_tools/third_party/def_parser': Label '//tools/python:private/defs.bzl' is invalid because '

[2022-07-13 13:48] farhaven opened #15868 "[Mirror] Update mirrored golang.org/x/tools to v0.1.11"
### Please list the URLs of the archives you'd like to mirror:

https://github.com/golang/tools/archive/refs/tags/v0.1.11

[2022-07-13 14:23] ittaiz commented on #6354
Should this be fixed? Like @cushon I have a hunch (no data unfortunately) that using an argument file will perform better than a classpath jar

[2022-07-13 15:50] cushon commented on #6354
I think the main challenge is that we can only rely on this feature for JDK 9 and newer.

There was some related discussion prompted by https://github.com/bazelbuild/bazel/pull/15487/files

One option is to add some information to `java_runtime` that tells Bazel if it can rely on argument files, e.g.

* `java_runtime(..., supports_params_files = True)`
* `java_runtime(..., feature_version = 9)`
*

[2022-07-13 16:05] bazel-io opened #15869 "[5.3.0] Add a flag to force Bazel to download certain artifacts when using --remote_download_minimal"
Forked from #15638

[2022-07-13 16:15] farhaven commented on #15868
Sorry about that, the `.zip` somehow got lost. I've updated the issue.

[2022-07-13 16:39] bazel-io opened #15871 "[5.3.0] Accept tildes in --override_repository"
Forked from #15417

[2022-07-13 16:50] clintharrison opened #15872 "Remote execution build time regression with Bazel 5.1+ when action has many inputs"
### Description of the bug:

As of Bazel 5.1 (specifically, the change in #15091 -- cc @coeuvre and @Wyverald), we have seen an action take considerably more time to execute remotely. We previously saw <5 seconds spent in "upload missing inputs", and this PR has increased that to 90+ seconds in CI and several minutes on developer machines.

This action has around 600k inputs, though we see very lo

[2022-07-13 17:12] ludiccc commented on #14232
Is important to notice that the BAZEL_VC **MUST** have the double quotes. Otherwise, it breaks.

[2022-07-13 17:46] aprotyas opened #15874 "Expose a py_proto_library target for build_event_stream.proto so that way the python programs outside the Bazel repo can consume the BEP"
### Description of the feature request:

Make the `src/main/java/com/google/devtools/build/lib/buildeventstream/proto/build_event_stream.proto` file publicly visible. Alternatively, export the file with `exports_files()`.

### What underlying problem are you trying to solve with this feature?

I have a Python tool that needs to ingest the build event stream, so I'm trying to generate a Python prot

[2022-07-13 18:10] asoffer opened #15875 "`illegal option -- D` when linking in macOS"
### Description of the bug:

Any `cc_library` with a non-empty `srcs` fails to link when using a custom toolchain.

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

A minimal repro is here:
https://github.com/asoffer/bazel_macos_repro

### Which operating system are you running Bazel on?

macOS Monterey 12.4

### What is the output of `baze

[2022-07-13 18:13] keith commented on #15875
The problem is your `ar` tool on macOS must be `libtool` https://github.com/asoffer/bazel_macos_repro/blob/1e7e827d3939da87df956ee5c95f546a54ef55fe/toolchain/cc_toolchain_config.bzl#L7

https://github.com/bazelbuild/bazel/blob/352eca759926b9615000ac389f988e1db940cbe7/tools/osx/crosstool/cc_toolchain_config.bzl#L2869

[2022-07-13 18:24] essandess opened #15876 "Bootstrap of bazel 4.2.2, 3.7.2 fails on macOS 12, clang 13.1.6"
### Description of the bug:

I'm trying to build bazel 4.2 on MacPorts. Bazel 4 is a requirement for TF's `tfx-bsl` package. I'm following the instructions to bootstrap at https://docs.bazel.build/versions/4.2.2/install-compile-source.html. Bazel 4.2.2 built on previous macOS version using this Portfile: https://github.com/macports/macports-ports/blob/master/devel/bazel/Portfile

Bootstrapping 4.2

[2022-07-13 18:26] keith commented on #15875
The quickest workaround would be to add the archiver_flags feature to your custom toolchain so you avoid the default one:

[code]

[2022-07-13 18:30] keith commented on #15875
Ok so actually the issue is that bazel determines if the target is macOS or not based on the value of `target_libc`:

https://github.com/bazelbuild/bazel/blob/695d855d074b13e617f066a93fc9e74575079b22/src/main/java/com/google/devtools/build/lib/rules/cpp/CcModule.java#L1198-L1201

But in this case when it's macOS a different set of flags is added:

https://github.com/bazelbuild/bazel/blob/695d855d0

[2022-07-13 19:28] mihaimaruseac commented on #14848
CC @learning-to-play, as this might be needed to be an FYI ahead of time

[2022-07-13 19:33] asoffer commented on #15875
Both the workaround and the direct fix work. Thank you. I'm not sure what the correct action is moving forward... I suspect it would be valuable to document that an unknown target-libc does not work for macOS builds. But I'm not sure where the best place would be for this.

[2022-07-13 20:13] JaimeLotero commented on #12998
@beasleyr-vmw thank you so much for the detailed explanation, that did the job.

[2022-07-13 21:01] mbabinski-at-google commented on #8598
@brandjon This behavior makes it extremely difficult to write robust rules that depend on filename in any way. As an example, protobuf is currently [broken](https://github.com/mbabinski-at-google/bazel_pathdemo) when included as an external repo, but compiles fine when checked out standalone. This is because paths are significant to protoc, and simply having a path that can be used to open a file

[2022-07-13 22:04] haberman commented on #8598
FWIW the protobuf/protoc cases is getting solved by [proto_common](https://docs.google.com/document/d/1dY_jfRvnH8SjRXGIfg8av-vquyWsvIZydXJOywvaR1A/edit#heading=h.5mcn15i0e1ch), which will land in Bazel 5.3 I am told.

[2022-07-14 04:06] aiuto opened #15878 "We build and test against a very old version of rules_cc"
### Description of the bug:

distdir_deps.bzl points to a commit from 2020.
src/test/py/bazel/test_base.py points to a different, even older one.
Just updating them breaks some integration tests that build workspaces

My hunch is that the old versions have fewer dependencies, so they don't have problems with deps.  The newer rules_cc seems to bring in rules_pkg, but we get a cryptic error message

[2022-07-14 07:19] Tacodude7729 commented on #14548
Not graywolf, but for me updating to release just now 5.2.0 fixed the issue.

[2022-07-14 08:13] meisterT commented on #15516
When running Tiago's example with `--disk_cache` but also `--nouse_action_cache` it is not cached. So it seems we're not respecting the tag for the local action cache. `--experimental_allow_tags_propagation` doesn't change anything.

[2022-07-14 08:22] wz2wd opened #15879 "Documentation issue: Windows How to overwrite the original bazel settings?"
I have VS2017 and VS2019 installed on my current computer, and I have successfully set up bazel through MSYS2, but I just want to keep the bazel settings of VS2019. How should I solve it?

[2022-07-14 09:27] AhmedHumk opened #15880 "cant generate desugar_deploy.jar"
### Description of the bug:

i am trying to generate desugar_deploy.jar by using the following command

`bazel build //src/tools/android/java/com/google/devtools/build/android/desugar:Desugar_deploy.jar`

but it always raise an error

[code]

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

just run

`bazel build //src/tools/android/java/co

[2022-07-14 11:02] ittaiz commented on #6354
I see. Thanks.
For better and for worse rules_scala has its own fork of java_stub_template so it can do this for itself.

[2022-07-14 12:15] #15285 closed

[2022-07-14 12:16] ittaiz commented on #6354
One last thing (and really sorry for spamming) but from a few runs this is shaving for us 1s-1.5s internally and we have thousands of not more of test targets with large class paths (partially because we have fine grain build targets)

[2022-07-14 13:09] fmorency opened #15881 "[Mirror] rules_rust-v0.7.0.tar.gz"
### Please list the URLs of the archives you'd like to mirror:

Documentation in [rules_rust](https://bazelbuild.github.io/rules_rust/) lists the following URLs

[code]

However, the mirror link

`https://mirror.bazel.build/github.com/bazelbuild/rules_rust/releases/download/0.7.0/rules_rust-v0.7.0.tar.gz`

returns a 404.

[2022-07-14 13:33] aiuto commented on #15878
Ah, but updating it seems to break things, so we have badly built tests.
I'm taking a look at half the problem in a PR I am working on.
That will at least get stop using a URL embedded in the python sources and
align with distdir_deps. It should also be one less thing to hunt down when
you update integration tests for bzlmod rather than workspace.

On Thu, Jul 14, 2022 at 6:05 AM Xùdōng Yáng ***@*

[2022-07-14 14:15] meteorcloudy commented on #15878
Oh, maybe I clicked LGTM too fast? Feel free to roll it back if necessary.

[2022-07-14 14:20] aiuto commented on #15878
It was not too fast. The change about using distdir_deps.bzl is the right path forward because it aligns the tests use of rules_cc with the rules_cc we use in other places. Having different ones is confusing.
It leaves the second problem of using a rules_cc which is nearly 2 years old, which is what this issue is about.

[2022-07-14 16:22] bazel-io opened #15882 "[5.3.0] Increase osx_cc_configure timeouts"
Forked from #15877

[2022-07-14 16:23] #15756 closed

[2022-07-14 16:52] ckolli5 commented on #15832
Closed https://github.com/bazelbuild/bazel/pull/15842

[2022-07-14 16:52] #15832 closed

[2022-07-14 16:53] ckolli5 commented on #15843
Closed https://github.com/bazelbuild/bazel/pull/15844

[2022-07-14 16:53] #15843 closed

[2022-07-14 17:55] Bencodes commented on #15880
@AhmedHumk The `Desugar` target that you are building in this issue is an `sh_binary`. I think the target you are looking for is `//src/tools/android/java/com/google/devtools/build/android/desugar:Desugar_java_deploy.jar` which is a `java_binary`.

[code]

[2022-07-14 18:59] #15862 closed

[2022-07-14 19:05] Wyverald commented on #15830
This was fixed in https://github.com/bazelbuild/bazel/commit/263c24ec96e8773bdedf90c6d38830cc5a3826f5

[2022-07-14 19:05] #15830 closed

[2022-07-14 19:10] Wyverald commented on #14590
With the recent fixes around repo mapping (especially https://github.com/bazelbuild/bazel/issues/14852), the first bullet point above should be less of a problem (`@foo//:bar` is the same as `@//:bar` now even without Bzlmod). I'll go ahead and close this one but please feel free to reopen if the problem persists.

[2022-07-14 19:10] #14590 closed

[2022-07-14 19:19] clint-stripe commented on #15872
@coeuvre it's not _as_ obvious, but using https://github.com/bazelbuild/rules_nodejs/tree/stable/examples/create-react-app does appear to reproduce this pretty reliably. (Run `bazel build //:build --profile=bazel.profile` with remote execution to trigger it.)

I added a tiny bit of logging, and it looks like this action has ~30k inputs. This is much smaller than the action that caused me to report

[2022-07-14 22:06] mauriciogg commented on #15742
Looks like `--experimental_use_dex_splitter_for_incremental_dexing` creates an implicit dependency on dx.jar via  `//src/tools/android/java/com/google/devtools/build/android/dexer:DexFileSplitter` and not using this function results in `Error: Cannot fit requested classes in a single dex file (# methods: 1513902 > 65536 ; # fields: 889322 > 65536). Try supplying a main-dex list`, so atm bazel does

[2022-07-14 22:37] ahumesky commented on #15742
Hmm, the changes in https://github.com/bazelbuild/bazel/issues/15742#issuecomment-1170639928 should break that dependency. If you patched that code in and rebuilt bazel, do you happen to have `--define=android_standalone_dexing_tool=dx_compat_dx`? That's the only way I could think of that `dexer:DexFileSplitter` would still be invoked

[2022-07-14 22:45] ahumesky commented on #15742
And for what it's worth, I tested these changes with build tools version 33.0.0

[2022-07-14 23:18] beettlle opened #15886 "Bezel is stuck trying to do a build"
### Description of the bug:

I'm trying to run a build on my machine and it gets stuck on different places of the build but all have to do with fetching.  Every run locks up in different places.  I have a very flaky internet connection and, while I can't tie every time the build freezes to a connection drop, I've found my connection is a good test for if code has good retry logic.

I've attached t

[2022-07-14 23:21] mauriciogg commented on #15742
Oh I see what was going with my code. I have  the condition `if (dexArchives.size() == 1 || !multidex) {` and at master is `dexArchives.size() == 1` so i was triggering the dexsplitter.

[2022-07-15 00:49] ahumesky commented on #15742
Thanks for following up Mauricio.

I had hoped to submit the change to fix this early this week, however there are a number of failing tests because they rely on the current code paths. I have most of those fixed, but there are a few other tests that need to be updated, and apparently `@bazel_tools//src/tools/android/java/com/google/devtools/build/android/dexer:dexer` is somehow breaking. Since th

[2022-07-15 03:01] manageryzy commented on #15275
ok, I'm going to create a PR to fix it

[2022-07-15 05:35] oakad commented on #15073
The worst thing here is that this issue is not even particularly complicated, even with `WindowsOsPathPolicy` rework included (the right thing to do: support for case sensitive directories on Windows 10+ will solve a lot of problems). Yet, it breaks a whole lot of plain C libraries on Windows putting a big question mark on Bazel's viability in general.

Which is a pity.

[2022-07-15 05:47] kkpattern commented on #15073
Currently, you can workaround this by replacing `--cxxopt` with `--per_file_copt=.*\.cpp\$@`.

But I agree that it's very confusing why this issue is a feature request and is P4.

[2022-07-15 06:01] ittaiz commented on #6354
Thanks!
We'll roll out the change today or on Sunday probably but this is a divergence I obviously would like to remove.
Btw, the measurement is on my M1. We still have many people on intel chips and my colleagues tell me that there this preparation takes ~4s on many targets.
Really interested in the full rollout 😁🤞🏽

[2022-07-15 06:31] oakad commented on #15073
It won't work for flags which are set in the actual BUILD files. The primary issue here, is that bazel offers no way to say "this file is plain C" explicitly. So, in a project with several dozens of third party dependencies a lot of patching and testing is needed to get anywhere with Bazel v5.

Bazel v4 sort of works, but then it can not be used with VS2022 due to another open issue.

[2022-07-15 06:47] jxy commented on #13227
This issue is caused by Tensorflow overwriting the `platform` as `linux`, https://github.com/tensorflow/tensorflow/issues/56725. I manually patched up that file [tensorflow/third_party/remote_config/remote_platform_configure.bzl](https://github.com/tensorflow/tensorflow/blob/9584c52ecfbbc33b3be48903cdadd41b4a2bb083/third_party/remote_config/remote_platform_configure.bzl#L3-L12), with the additiona

[2022-07-15 08:26] fmeum commented on #15850
I debugged this for a bit and found it to be caused by two individual peculiarities combined:

1. Since the loading phase doesn't evaluate rule implementation functions, it can't know about implicit output files declared by rules. As a heuristic, any label in a rule attribute referring an unknown target (in particular an implicit rule output) is assumed to be referencing an input file here:
https:

[2022-07-15 09:03] tjgq commented on #15789
I had a chat with @coeuvre. We believe the issue is that we fail to create empty directories [here](https://cs.opensource.google/bazel/bazel/+/master:src/main/java/com/google/devtools/build/lib/remote/RemoteExecutionService.java;l=1183;drc=3eeae238ab38c8527439e2f79393e9b496ad89f0) when downloading from the remote cache.

[2022-07-15 09:17] oakad commented on #15073
VS2022 is broken pretty badly, we had to go back to VS2019/bazel v4 for now. We may figure something out going forward; possibly by making all sources C++ compatible (this appears to be the best option on the cost/benefit scale).

Still, not nice.

[2022-07-15 09:39] fmeum commented on #15850
@UebelAndre Could you check whether https://github.com/bazelbuild/bazel/pull/15887 fixes this?

[2022-07-15 10:17] coeuvre commented on #15872
I can't reproduce this using https://github.com/bazelbuild/rules_nodejs/tree/stable/examples/create-react-app.

There are ~188K inputs for the final `NpmPackageBin build` action. I manually force this action to fail so we can repeated build this target without hitting the cache (and also trigger the upload inputs method).

With Bazel 5.2.0, the "upload missing inputs" step on my machine takes ~2.3

[2022-07-15 13:59] clint-stripe commented on #15872
Hmm, that's definitely very strange. I added a simple log line to print `allDigests.size()`, and saw this for create-react-app:
[code]
---

I made a more specific repro: see https://github.com/clint-stripe/action_many_inputs.
You can adjust how many files are created by the repo rule with the `count` param in `WORKSPACE`.

`~/.bazel_binaries/5.2.0/bin/bazel test ... --config=remote --profile=/tmp/

[2022-07-15 14:39] coeuvre commented on #15872
Thanks for your repro! I think now I know where is the regression.

To "upload missing inputs", we need 3 steps:
a) collect digests that are new to Bazel.
b) call `findMissingDigests` for these collected digests.
c) upload missing digests.

We already uploaded missing inputs during previous builds, so c) should be identical for both cases. The mentioned change didn't touch `findMissingDigests`, so

[2022-07-15 14:45] clint-stripe commented on #15872
Ah, awesome! Thank you so much for the quick reply -- really appreciate you taking a look here.

We have an internal remote execution cluster, described a bit in a [recent blog post](https://stripe.com/blog/fast-secure-builds-choose-two). My tests were on a cloud VM, hitting the cluster in the same region, so it makes sense we have different network situations here too :)

[2022-07-15 16:06] jiawen commented on #12889
@radvani13, I second @tndhagedorn's point about C++17. I just ran into [Android NDK #609](https://github.com/android/ndk/issues/609) again. C++17 is "officially supported" in the NDK as of r21 but is in practice, broken or incomplete in many ways.

The Android NDK has always been at the forefront of Clang/LLVM development, including bleeding edge features but has never been particularly stable. It

[2022-07-15 16:44] rsalvador opened #15888 "The analyze-profile output is not properly formatted"
### Description of the bug:

The current `bazel analyze-profile` format output is not propertly formatted and looks like:
[code]

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Run `bazel analyze-profile .../command.profile.gz`

### Which operating system are you running Bazel on?

OSX

### What is the output of `bazel info release`?

dev

[2022-07-15 17:01] meteorcloudy commented on #15073
@oquenchil This issue seems to have wide user impact on Windows. Is it caused by starlarkfifying the cc rules? Do you know which exact change caused this and how hard is it to fix this?

[2022-07-15 17:10] kkpattern commented on #15073
@meteorcloudy Looks like is caused by #14005. The `.c` extension is matched with `.C` cause bazel treat it as a C++ source. I think this can be fixed like https://github.com/bazelbuild/bazel/commit/edfe2a17e3434cce660757f59b14f2e9d6ab944e . I understand bazel team has many things to do and may not have the capacity to fix this. If you have the bandwidth to review a PR I can give this a try.

[2022-07-15 17:16] facundominguez commented on #12165
`rules_haskell` needs a global limit for the maximum amount of workers to make a persistent worker feasible. The details are discussed [here](https://github.com/tweag/rules_haskell/issues/1758).

In this use case, there is only one mnemonic, but there are multiple build configurations and multiple libraries, and each combination of library and build configuration requires a different persistent wo

[2022-07-15 17:50] larsrc-google commented on #12165
We're looking into doing exactly the total max memory thing you're suggesting. And that's not even that hard to support across platforms (except Windows).

[2022-07-15 18:19] nmosier opened #15891 "Crash when referencing "--action_env" command line option in settings parameter in transition implementation"
### Description of the bug:

I need to modify the --action_env settings when transitioning, but when I access them in my transition implementation like this
[code]
Bazel crashes with this internal error:
[code]

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[action-env-bug.zip](https://github.com/bazelbuild/bazel/files/9123089/action-env

[2022-07-15 19:46] adam-azarchs opened #15892 "Config transition turns label-type attributes into lists"
### Description of the bug:

Setting `cfg` with a transition in `attr.Label` makes `ctx.attr.<attribute>` return a label list instead of a single label.  See example below.

It's quite possible that this is intended behavior.  Certainly for a one-to-many transition it would need to have this effect.  In that case this is really a documentation problem, because it certainly isn't obvious that chang

[2022-07-15 20:35] grimreaper opened #15893 "bazel should support inherited visibility"
### Description of the feature request:

It should be possible to define visibility on an inherited basis.
for example

[code]

naming is left as exercise to the readers.

### What underlying problem are you trying to solve with this feature?

We have a specific code structure we try to enforce. For example
[code]

as an entirely different example some of our directories are considered "leaf only"

[2022-07-15 20:39] pcjanzen commented on #15892
The behavior you're seeing is documented at https://bazel.build/rules/config#accessing-attributes-with-transitions

[2022-07-15 20:50] grimreaper opened #15894 "genquery should support wildcards in expression"
### Description of the feature request:

It should be possible to support wildcards in expressions in genquery

[code]

### What underlying problem are you trying to solve with this feature?

We have specific desires to be able to assert information about our build graph. For example "no target under directory X should depend on anything in package Y" or "nothing in the "src" directory should depe

[2022-07-15 21:59] #15880 closed

[2022-07-15 23:54] adam-azarchs commented on #15892
So it does!  In my defense, that document is a bit of a wall of text.  It might be a good idea to link to that later section from https://bazel.build/rules/config#outgoing-edge-transitions, to aid others who might stop reading after the section which appears to tell them what they need to know.

[2022-07-17 03:44] rickeylev opened #15897 "Port Python rules to Starlark"
This is the public tracking issue for the effort to port the Python rules from Java to Starlark.

I'll provide status updates here upon request or when there are particularly notable developments.

Internally, there's been a lot of progress on this. The work has stayed internal so far simply because, internally, Google has quite a few modifications to the rules and I am not/wasn't entirely sure ho

[2022-07-17 03:45] rickeylev commented on #15546
fyi, i created https://github.com/bazelbuild/bazel/issues/15897 as a tracking issue for the starlark rewrite

[2022-07-17 06:24] UebelAndre commented on #15897
Thanks for filing this! Is there also a tracking issue for the cc rules port (and I suppose all the other built in rules)?

[2022-07-17 12:41] martis42 commented on #15632
@daohu527 This project of mine might be interesting for you: https://github.com/martis42/depend_on_what_you_use

It aims at linting the usage of headers in Bazel C++ targets compared to the targets dependency list.

It is still in an early phase, but maybe it can help you.

[2022-07-18 00:59] daohu527 commented on #15632
@martis42 Thanks for your work, I will check out this project in detail !

[2022-07-18 04:51] bazel-io opened #15898 "[5.3.0] [credentialhelper] Implement invoking credential helper as subprocess"
Forked from #15861

[2022-07-18 07:55] meteorcloudy commented on #15073
Not sure why `.c` and `.C` should mean different file types on Windows because file names are already case insensitive. Is this a Linux convention? Can you just change files with `.C` to `.cpp`?
But given we are already making an exception in https://github.com/bazelbuild/bazel/commit/edfe2a17e3434cce660757f59b14f2e9d6ab944e, a PR to fix this sounds plausible, @oquenchil @comius should decide even

[2022-07-18 08:00] kkpattern commented on #15073
We don't actually have any `.C` files. I think it's bazel that treated all `.c` files as `.C` files causing the problem.

[2022-07-18 10:06] tjgq opened #15901 "Empty directories inside tree artifacts are not tracked"
### Description of the bug:

Skyframe doesn't track the existence of empty directories inside a tree artifact. As a result, if a tree artifact with an empty directory is produced and the empty directory is manually deleted, rebuilding doesn't recreate the empty directory. Likewise, changing a rule implementation to produce an empty directory when it previously didn't doesn't invalidate the build r

[2022-07-18 10:12] tjgq commented on #15789
I think this issue actually runs deeper: we don't track empty directories inside tree artifacts properly (see #15901). However, it should be possible to fix the disk cache issue separately.

[2022-07-18 11:10] fmeum commented on #15901
@tjgq What do you think of https://github.com/bazelbuild/bazel/issues/15789#issuecomment-1172853395? I could work on this, I always felt like #15276 wasn't as clean as it could have been due to this missing.

[2022-07-18 11:15] oakad commented on #15073
@meteorcloudy Also see #15550 for some further info.

[2022-07-18 13:04] larsrc-google commented on #15668
Since commit d7f0724, it is possible to set the expected resource usage in the rule definition, using the `resource_set` parameter. For dexing, we obviously still would have to update the Java code, but it has the same functionality available.

With the new functionality (whether in StarLark or Java), it is possible for adjust the estimates based on the number of inputs.

[2022-07-18 17:07] katre commented on #7260
I'm assuming you have a good reason for this, so the thing you need to do is use the `--compiler` and `--host_compiler` flags to indicate that clang is the main compiler but gcc should be used for host/exec. (I'm also assuming you are using toolchain resolution, if not then see the docs for [`cc_toolchain_suite`](https://bazel.build/reference/be/c-cpp#cc_toolchain_suite)).

Then, you can define a

[2022-07-18 17:16] bazel-io opened #15908 "[5.3.0] [remote] Improve .netrc test in RemoteModuleTest"
Forked from #15902

[2022-07-18 17:28] katre commented on #15847
Can I reproduce this on a linux device? I don't have an arm device handy.

Can you provide a minimal reproduction repository with your toolchain available?

To clarify, the issue is that you are building the protoc compiler from source, and it's being built for the target platform but then run on the execution platform, and that fails because you are cross-compiling?

[2022-07-18 17:30] katre commented on #15738
Can you copy and share the log messages from Bazel in the above commands? Specifically, I suspect that some flag value is changing between steps, causing Bazel to discard the analysis cache (which includes all configurations). Please re-run these commands, save all messages from the console to a file, and attach that to this issue. Thanks.

[2022-07-18 18:12] danmacklin10 opened #15909 "GPG Error on apt-update"
### Description of the bug:

When running

`apt-get update`

bazel fails with:

`Err:4 http://storage.googleapis.com/bazel-apt stable InRelease
  The following signatures were invalid: EXPKEYSIG 3D5919B448457EE0 Bazel Developer (Bazel APT repository key) <bazel-dev@googlegroups.com>
Hit:14 https://apt.puppet.com bionic InRelease
Hit:15 http://apt.puppetlabs.com bionic InRelease
Hit:6 https://osque

[2022-07-18 18:28] nikhilkalige commented on #15738
@katre I re ran the commands and have attached the output. `--watchfs` does seem to remove the cache, so I ran the commands with and without it.

[code]

[2022-07-18 19:28] bazel-io opened #15912 "[5.3.0] Remote: Fix performance regression in "upload missing inputs"."
Forked from #15890

[2022-07-18 19:28] bazel-io opened #15913 "[5.3.0] Add CommandLinePathFactory to CommandEnvironment"
Forked from #15905

[2022-07-18 19:28] bazel-io opened #15914 "[5.3.0] [credentialhelper] Add parser for flag syntax"
Forked from #15906

[2022-07-18 20:56] EdbertChan commented on #15668
@larsrc-google Cool! Could you make this a priority? I can then close out this diff and use the Bazel approved way of estimating individual resources. We are on 5.1.0 and want to bump to 6.

We also have other teams here that are interested in migrating and are facing the exact same issue.

[2022-07-18 21:08] dendi239 opened #15915 "Missing standard headers dependencies"
### Description of the bug:

Every cc rule on macOS Ventura doesn't recognise standard includes and trying to force me including them to dependcies, here's the log:
[code]

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

`WORKSPACE`:
[code]
`BUILD`:
[code]
`hello.cpp`:
[code]

### Which operating system are you running Bazel on?

macOS ven

[2022-07-18 22:25] ajrepp commented on #8809
Hi @cushon and sorry for the ping. Just curious if you had any thoughts on this issue. I work with @james-deee and we're still seeing the issue today.

For context, we're working on upgrading our repo to Bazel 5.2.0. We're also using JDK 11.0.15+10 from https://github.com/adoptium/temurin11-binaries/releases/download/jdk-11.0.15%2B10/OpenJDK11U-jdk_x64_mac_hotspot_11.0.15_10.tar.gz.

Unfortunately

[2022-07-18 22:52] codeman9 opened #15916 "`@//foo:bar` stringifies to `//foo:bar`"
### Description of the bug:

There is a rule in `rules_apple` [called provisioning_profiles_repository](https://github.com/bazelbuild/rules_apple/blob/029eab0a6bbb4147d227d623721b205eb62aca9c/apple/internal/local_provisioning_profiles.bzl#L33). This rule has an attribute `fallback_profiles` of type `Label`. Passing a string the references the main repository results in that part of the label being

[2022-07-19 00:09] ahumesky commented on #15742
I've asked for the fix to be cherrypicked into 5.3.0: https://github.com/bazelbuild/bazel/pull/15917

[2022-07-19 00:25] keith commented on #15915
I don't see this one in my slightly outdated ventura vm:

[code]

If you installed the command line tools after running bazel once you might have to `bazel shutdown` and run again. But generally these paths should always be excluded from this error:

https://github.com/bazelbuild/bazel/blob/cf67e5d567e7c76f769b21c8ebca8f8ce689e89e/tools/cpp/osx_cc_configure.bzl#L41-L44

Any more info you can provi

[2022-07-19 04:00] nmosier commented on #15891
Sorry, I neglected to include the WORKSPACE file. This should work. [action-env-bug.zip](https://github.com/bazelbuild/bazel/files/9137332/action-env-bug.2.zip)
[code]

[2022-07-19 05:06] #15908 closed, assigned to nobody

[2022-07-19 08:04] Yannic commented on #15915
I've hit something similar as well recently when installing Xcode in a non-standard location (e.g., in `/Users/yannic/Downloads/Xcode.app`).

[2022-07-19 08:23] limdor commented on #9236
@bazel-io flag

[2022-07-19 09:01] comius commented on #15874
cc @michaeledgar, BEP is under team-core, right?

[2022-07-19 09:13] comius commented on #15851
You are on the right path.

**With custom toolchain:**
To get rid of the cycle, you need to append `_definition` when registering:
[code]

**With default toolchain:**
You should omit `prefix` argument in your `remote_java_repository`. (or set it to `remotejdk`). Default toolchain uses any `remotejdk` version `11`, corresponding to you platform (OS+CPU). The ones listed in WORKSPACE take precedence

[2022-07-19 09:15] dendi239 commented on #15915
macOS version:
[code]

I tried, the same result there.

I found out that I have strange behaviour of `xcode-select`:
[code]

Well, I got it in `/Applications`.

I had the same issue with bezel 5.0.0 I installed from homebrew.
If it matters, I installed it with Monterey.

[2022-07-19 09:16] dendi239 commented on #15915
What else I could provide?

[2022-07-19 09:31] Wyverald commented on #15916
Thanks for the very detailed report! I'm acutely aware of this -- and unfortunately this is not trivial to fix. The underlying reason is that the label `@//foo:bar`, when stringified, becomes `//foo:bar`. This is a very old behavior that has been kept in Bazel since its early days.

The commit that introduced this bug (https://github.com/bazelbuild/bazel/commit/b21069fd6f2440f90c57014b900637602237

[2022-07-19 09:59] phst opened #15919 "Shell commands don't work in rolling release on Windows any more (Bash not found)"
### Description of the bug:

When using any rule that uses a shell action (e.g. `genrule`), the `rolling` release now hardcodes `c:\tools\msys64\usr\bin\bash.exe` as location of Bash, no matter where MSys64 is actually installed. Setting `BAZEL_SH` doesn't work any more. In the `latest` release, Bazel would find the MSys tools with or without BAZEL_SH.
Maybe commit eeb2e04e52cfad165a1bde33ce2d83a3

[2022-07-19 10:25] Wyverald commented on #15919
cc @susinmotion

[2022-07-19 10:33] comius commented on #12868
I don't see specific issue for Bazel here, maybe report this also on `bazel_sonarqube` repo.

[2022-07-19 11:54] phst commented on #15919
Sorry, forgot to add the logs:

[code]

[2022-07-19 12:57] bazel-io opened #15920 "[5.3.0] target pattern file: allow comments"
Forked from #15903

[2022-07-19 16:14] codeman9 commented on #15916
I appreciate the information and understand that something like this may have far reaching implications. Is there anything I can do to workaround this in the meantime?

[2022-07-19 17:56] linzhp opened #15921 "[Mirror] rules_go v0.34.0 URLs"
### Please list the URLs of the archives you'd like to mirror:

https://github.com/bazelbuild/rules_go/releases/download/v0.34.0/rules_go-v0.34.0.zip
https://github.com/golang/sys/archive/c0bba94af5f85fbad9f6dc2e04ed5b8fac9696cf.zip
https://github.com/golang/xerrors/archive/65e65417b02f28de84b55f16b46a1e789149973a.zip
https://github.com/googleapis/go-genproto/archive/073382fd740c33f92de4ffff0e52bf

[2022-07-19 18:35] gregestren commented on #15797
Confirmed, thanks.

Triage comment: as you observed, this requires `--transitions=lite`. I believe what's happening is that the `--transitions` has to "rerun" transitions in a limited form to produce its output. It's likely re-staging the transition without preemptively loading the build setting defaults, as the *actual* transition would do.

In other words, Bazel has to know about a build setting

[2022-07-19 18:38] gregestren commented on #15797
Indeed, check out:
https://github.com/bazelbuild/bazel/blob/4c735c150ee72330b7e6769a22d57c0e77e9b41d/src/main/java/com/google/devtools/build/lib/query2/cquery/CqueryTransitionResolver.java#L172-L174)

[2022-07-19 18:44] konste commented on #15797
That explanation makes sense to me, but it is still a bug with cquery, right?

[2022-07-19 19:05] gregestren commented on #15797
Yes.

[2022-07-19 20:25] dendi239 commented on #15915
I tried to reset toolchain and figured out that I have outdated Xcode. I updated it and still having the same issue, but now with different prefix:
[code]

[2022-07-19 22:06] dendi239 commented on #15915
Hi @Keith, thank you for a suggestion, here's what I have:

They have following in `BUILD`:
[code]

Which is great, but it doesn't cover `/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX.sdk/usr/include`.

[2022-07-19 22:19] keith commented on #15915
It seems like you're getting the unix toolchain, not the Xcode one, if you set `BAZEL_USE_XCODE_TOOLCHAIN=1` before your invocation does that change things? I don't think you should have to do that in general, but just wondering. The logic to generate this list otherwise comes from https://github.com/bazelbuild/bazel/blob/cf67e5d567e7c76f769b21c8ebca8f8ce689e89e/tools/cpp/unix_cc_configure.bzl#L44

[2022-07-19 22:21] dendi239 commented on #15915
Yeah, that's right, if fails to use Xcode one:

[code]

[2022-07-19 22:22] keith commented on #15915
have you opened your installed xcode so that it spins up the first launch stuff?

[2022-07-19 22:22] vsrikrishna32 commented on #7422
Is this resolved? Or is there a work-around for this?

[2022-07-19 22:23] dendi239 commented on #15915
Yeah, I did

<img width="914" alt="Screenshot 2022-07-19 at 23 23 17" src="https://user-images.githubusercontent.com/16478650/179858504-7d96c350-7413-4090-98fb-8bb1f9783c87.png">
.

[2022-07-19 22:51] keith commented on #15915
is that failure to use the xcode version the case even after a clean `bazel clean --expunge`?

[2022-07-19 22:51] nikhilkalige opened #15924 "Additional `SOURCE_FILENAME` variable in CppCompileVariables"
### Description of the feature request:

We currently define `__SHORT_FILENAME__=basename of source_file` in cmake using `COMPILE_DEFINITIONS` feature. Currently, I don't see any way to define that flag inside of bazel. I tried

[code]
but that fails to work because it gets escaped during the shell expansion with single quotes to `'-D__SHORT_FILENAME=$(basename path_to_file/file.cpp)'`.

So, would

[2022-07-19 23:44] WillEngFlow opened #15925 "--bes_backend flag appears to change behavior of "coverage" command without targets"
### Description of the bug:

Adding the `--bes_backend` flag to Bazel appears to alter the end status of an invocation running the `coverage` command.

It appears as if the existence of the flag changes the build from successful
`INFO: Build completed successfully, 1 total action`
to an error
`ERROR: No test targets were found, yet testing was requested`

### What's the simplest, easiest way to re

[2022-07-20 02:48] aiuto commented on #15644
Did we ever add the new person?  I don't remember a mail thread about that.

[2022-07-20 03:25] ahumesky commented on #15742
It doesn't look like 5.2.0 actually has this problem because it still defaults to dx, only some of the recent rolling releases have this issue, so it doesn't look like we need to cherrypick this (plus, this change depends on several other changes that will be tricky to get into 5.3.0)

[2022-07-20 06:30] achew22 commented on #15644
The new person has been added, yes. Thank you @sventiffe! I would like to leave this open to track documenting the process

[2022-07-20 07:39] bazel-io opened #15927 "[5.3.0] Add `--output=files` mode to cquery"
Forked from #15552

[2022-07-20 08:03] Yannic opened #15928 "--bes_backend doesn't support reading credentials from .netrc"
`--remote_{downloader,cache,executor}` all support reading credentials from `.netrc`: https://cs.opensource.google/bazel/bazel/+/master:src/main/java/com/google/devtools/build/lib/remote/RemoteModule.java;l=1098;drc=1bc1ce3e0d73c35047c29ef85e832db041e0f238

`--bes_backend` doesn't: https://cs.opensource.google/bazel/bazel/+/master:src/main/java/com/google/devtools/build/lib/buildeventservice/Bazel

[2022-07-20 08:03] Yannic commented on #15928
cc @tjgq

[2022-07-20 09:05] #15888 closed

[2022-07-20 11:16] dendi239 commented on #15915
Apparently, `bazel clean --expunge` helped me to resolve the issue. Thank you!

[2022-07-20 11:16] #15915 closed

[2022-07-20 11:47] Wyverald commented on #15916
There's unfortunately no easy band-aid solution that I can think of -- using a Bazel version pre-https://github.com/bazelbuild/bazel/commit/b21069fd6f2440f90c57014b90063760223777e0 could be fine for you, though it might reintroduce the fixed bug and cause toolchain resolution failures.

[2022-07-20 12:08] #11559 closed

[2022-07-20 12:52] ysfaran commented on #15851
@comius thanks for the hints.

Unfortunately it's  still not working.

On `toolchain` branch I did this change:

[code]

Build results in:

[code]

On `corretto` branch I did this change:

[code]

Build results in:

[code]

I tried different combinations and changes still can't figure out to get this running with bazel v5.. What am I missing?

[2022-07-20 13:47] jheaff1 commented on #2954
Resolved by https://github.com/bazelbuild/bazel/pull/14736

[2022-07-20 14:03] bazel-io opened #15932 "[5.3.0] Add netrc support to --bes_backend"
Forked from #15930

[2022-07-20 14:37] haxorz commented on #15874
Yes, it is, so yes we'd be the team responsible for making the proposed change.

But can someone on `team-OSS` (or someone responsible for how Bazel is used) comment on whether this sort of change is desirable in general? I reckon there are other source files in the Bazel repo that other repos would want to consume; what's the best practice for allowing them / not allowing them to do that?

[2022-07-20 14:42] haxorz commented on #15874
On second thought, there's already [`//src/main/java/com/google/devtools/build/lib/buildeventstream/proto:ild_event_stream_java_proto`](https://github.com/bazelbuild/bazel/blob/dcd85855a75789a4d7dc47254bf9163248598303/src/main/java/com/google/devtools/build/lib/buildeventstream/proto/BUILD#L18) with intentionally-public visibility. So that precedent makes me think we don't need to think about sett

[2022-07-20 15:08] comius commented on #15874
Bazel is using `py_proto_library` from `@com_google_protobuf`.
https://github.com/bazelbuild/bazel/blob/570c1f27ae8a6205c03971fcfc5ded8cc99f4bf1/src/main/protobuf/BUILD#L47

The implementation is not perfect, but using that one, should prevent any compatibility issues and it hopefully doesn't have problems crossing repo boundaries.

The bazel team plans to provide `py_proto_library` as a native ru

[2022-07-20 15:24] #13817 closed

[2022-07-20 15:48] ckolli5 commented on #9236
@bazel-io fork 5.3.0

[2022-07-20 15:48] bazel-io opened #15933 "[5.3.0] http_archive, unrecognized file mode for [Content_Types].xml: 0x80"
Forked from #9236

[2022-07-20 16:10] fmeum commented on #15858
Can be closed: https://github.com/bazelbuild/bazel/commit/0f05904171d187e6abacb431b3d7494423b027ab

[2022-07-20 17:42] katre commented on #15738
I can't reproduce this with bazel 5.2.0 (via bazelisk) and the bazel source tree.

I see from your `--announce_rc` output that several bazelrcs are being read, but none of them seem to be changing flags that would trigger an invalidation.

Can you try this once more with the `--ignore_all_rc_files` flag, just to check?

If you can't share your code, can you share the WORKSPACE and setup of the rep

[2022-07-20 18:07] nikhilkalige commented on #15738
I completely agree about the reproduction repo. Let me see if I can come up with something. In the meantime, can I ask some help on how you would go about debugging this. I can dig into the internals of the java code if necessary. So, do you run some debugger to figure out what's happening to get a better understanding.

[2022-07-20 18:18] cassandrasandquist commented on #7692
`macOS 12.4` and `bazel 5.2.0`

[2022-07-20 18:31] justinhorvitz commented on #15660
`fromEnv` is only used to compute a digest of the client environment for purposes of the action cache. We could easily change that to use a sorted map, but changing the digest function would result in the action cache having mismatches across bazel versions. It would be easy to keep the same digest for the common case of an empty map, but if the map is non-empty the user could see confusing messag

[2022-07-20 19:17] katre commented on #15738
Debugging bazel is kind of tricky, but here's a rough guide:

1.  Build a dev version of bazel: in the bazel source tree, run `bazel build -c dbg //src:bazel`
    1.  Test your build with the dev version, just in case
    2.  Or use the [`bazel-dev.sh`](https://cs.opensource.google/bazel/bazel/+/master:scripts/bazel-dev.sh) script from the bazel source: this will rebuild your dev bazel if necessar

[2022-07-20 19:24] clint-stripe opened #15934 "--noremote_accept_cached cannot be used with remote downloader as of Bazel 5.0"
### Description of the bug:

We use the [Remote Downloader](https://github.com/bazelbuild/proposals/blob/main/designs/2020-01-14-remote-downloads.md) (the `--experimental_remote_downloader` flag) to enforce security invariants in our builds and reduce dependencies on external hosts.

We _also_ occasionally run builds with `--noremote_accept_cached`.

This flag is documented as:

This means we stil

[2022-07-20 20:03] #15858 closed

[2022-07-20 20:06] gregestren commented on #14848
@meteorcloudy acknowledged.

What's the best way for us to evaluate the concern? Can anyone else help frame the problem?

I don't know what the right tool is in our arsenal to address this (there could be a few). But I'm certainly not interested in regressions a major project.

[2022-07-21 06:04] comius commented on #15874
Yes, it seems so. I didn't know that `protoc/py_proto_library` needs targets transitively (because it's not using an aspect). In this respect `grpc/py_proto_library` is better, but looking at the implementation is not handling repository boundaries correctly. :(

[2022-07-21 06:35] fmeum opened #15936 "Bzlmod: `repository_ctx.name` includes module + extension prefix"
### Description of the bug:

With Bazel @ HEAD, when a repository rule is instantiated by a module extension, the value of `repository_ctx.name` in the implementation function of the repository rule includes the `@<module name>.<extension name>~` prefix. This breaks e.g. `rules_java`, which uses the name as a base to derive further names of targets.

### What's the simplest, easiest way to reprodu

[2022-07-21 07:45] ledyba-z commented on #13944
Any updates?

I can't build bazel itself on mac M1 by this issue! (It looks CI uses x86_64 mac.)
I would like to debug bazel to solve the build issue on our project, but I can't run the debugger 😭

[code]

[2022-07-21 08:23] bazel-io opened #15937 "[5.3.0] Allow string_list flags to be set via repeated flag uses"
Forked from #14911

[2022-07-21 08:51] loeffel-io commented on #8578
+1

[2022-07-21 08:58] loeffel-io commented on #10904
any update?

[2022-07-21 09:01] loeffel-io commented on #10904
also `build --define=HELLO=${WORLD} is highly needed`

[2022-07-21 09:14] Wyverald commented on #15936
I believe rules_java needs to be fixed -- it's also somewhat of a breaking change to make `repository_ctx.name` *not* represent the canonical repo name here.

rules_java actually tried to address this in https://github.com/bazelbuild/rules_java/commit/ac7cc454f76326af731ab6f932cc3cdc6470d86d, but I think a better fix is to explicitly pass in the information needed as a separate argument, instead o

[2022-07-21 09:14] #15936 closed

[2022-07-21 09:26] comius commented on #15925
cc @c-mita
Should this be team-Core?

[2022-07-21 10:42] comius commented on #15727
cc @rickeylev

[2022-07-21 10:48] comius commented on #15677
https://github.com/bazelbuild/bazel/pull/15745

[2022-07-21 10:53] comius commented on #15627
cc @c-mita, can you triage?

[2022-07-21 11:36] fweikert opened #15939 "Status of Bazel 6.0.0-pre.20220706.4"
- Expected release date: 2022-07-21

Task list:

- [x] Pick release baseline: [ea8b99cf](https://github.com/bazelbuild/bazel/commit/ea8b99cf2a5914c67e4bd7651d83df98912bb1ed) with cherrypicks [107a54ed](https://github.com/bazelbuild/bazel/commit/107a54edcf75dc026cf643df82c13fe32a1eb043) [be0da988](https://github.com/bazelbuild/bazel/commit/be0da98839785ea83bb53a1fee7b2b2e0a11ec81)
- [x] Create rele

[2022-07-21 12:21] clint-stripe commented on #15934
@sgowroji the steps to reproduce are given in the repo I linked, but I can provide them here again:

1. Clone https://github.com/clint-stripe/remote-downloader-cache
2. Run https://github.com/buchgr/bazel-remote with the configuration in that repo; you can use `run-bazel-remote.sh` to download and run it.
3. Use Bazel 5.0, configured to use the remote downloader and cache:
[code]

This is a comple

[2022-07-21 12:40] #15649 closed

[2022-07-21 12:43] #15571 closed

[2022-07-21 14:34] #15928 closed

[2022-07-21 15:37] psigen commented on #10904
@aiuto was this document created or shared with the community at any point?

[2022-07-21 15:59] aiuto commented on #10904
Whoops.... Yes. We built an extensive use case and requirements doc. But AFAIK, we forgot to share it out.

@aranguyen If you have not done so, can you copy "Bazel Flag and rc File Possible Improvements" to a doc in bazel.build and share it with comment access to the world?

[2022-07-21 16:37] #15939 closed

[2022-07-21 17:57] ckolli5 commented on #15871
Closed https://github.com/bazelbuild/bazel/pull/15873

[2022-07-21 17:57] #15871 closed

[2022-07-21 19:13] dhalperi commented on #12894
At this point 4 is one major version behind, and Mojave is 3 behind (soon to be 4), I think it's worth closing.

[2022-07-21 19:13] #12894 closed

[2022-07-21 20:29] ckolli5 commented on #15882
Closed https://github.com/bazelbuild/bazel/pull/15942

[2022-07-21 20:29] #15882 closed

[2022-07-21 20:33] ckolli5 commented on #15685
@wisechengyi We have already cherry picked the fix that is addressing this issue to release-5.3.0. At this point we are not planing to perform any patch release.

[2022-07-21 20:34] ckolli5 commented on #15685
@ananta-code Since we are not planing for any patch release at this point, this will be cherry picked to release-5.3.0.

[2022-07-21 21:24] mauriciogg commented on #15742
@ahumesky getting the following error

`Use --sandbox_debug to see verbose messages from the sandbox
Error in bazel-out/android-arm64-v8a-fastbuild/bin/kotlin/platform/logging/_dx/logging/logging.jar.dex.zip:com/google/devtools/build/android/desugar/runtime/PrimitiveHashcode.class.dex:
Type com.google.devtools.build.android.desugar.runtime.PrimitiveHashcode is defined multiple times: bazel-out/and

[2022-07-22 05:14] bazel-io opened #15945 "[5.3.0] Move newCredentialHelperProvider into GoogleAuthUtils"
Forked from #15941

[2022-07-22 07:34] softprops commented on #12964
does anyone have a working demo of how to make this possible available on github?

I have a usecase I'd like to scan a set of annotations at compile time collect the data into a resource which another library can then consume. the path to accomplish that with bazel semantics + sandboxing is still a bit unclear

[2022-07-22 14:24] IT-Wangzi commented on #3643
I hava  the same issue, my os is also ubuntu 16.04 32bit LTS . but the bazel version is 0.21.0，
i follow https://github.com/bazelbuild/bazel/pull/3382 to modify src/main/java/com/google/devtools/build/lib/util/CPU.java (line 23-29)and
tools/cpp/lib_cc_configure.bzl like this
_# Use uname to figure out whether we are on x86_32 or x86_64
  result = repository_ctx.execute(["uname", "-m"])
  if result

[2022-07-22 14:59] haxorz commented on #15925
`team-Core` doesn't own `coverage` specifically, so is the behavior here is due to an implementation in `coverage` we probably ought not be responsible for fixing it. But we do own BES/BEP and can definitely at least try to debug and give an assessment. @michaeledgar can you please do that?

[2022-07-22 15:42] #8739 closed

[2022-07-22 16:41] #14518 closed

[2022-07-22 16:58] gregestren commented on #8739
Thank you @fmeum !

[2022-07-22 17:07] fmeum commented on #10298
While working on resolving the various remaining issues around unresolved symlinks in Bazel, I came across a subtle decision we will have to make: When an action is executed with a local symlink-based sandboxed strategy (e.g. linux-sandbox or darwin-sandbox), there are two fundamentally different ways of staging an unresolved, relative symlink:

1. Stage it as a symlink pointing to the real relati

[2022-07-22 17:40] dgoldstein0 commented on #15893
+1 to this proposal, though I'm not sure if I want the same semantics for inherited visibility and default visibility.  it's a good starting place though.

At Dropbox, we have similar problems - we have needed to go outside of bazel to enforce desired code organization.  From a social perspective, the general problem is there's some engineers who will just do the easiest thing available to them at

[2022-07-22 17:41] brentleyjones commented on #14518
@bazel-io flag

[2022-07-22 19:16] mauriciogg commented on #15742
@Bencodes did you test this change with proguard disabled? I think there are still some issues when running unproguarded builds.

[2022-07-22 19:22] gregmagolan commented on #10298
@fmeum I tested your commit that stages it as a symlink pointing to the real symlink (option 1 above), https://github.com/fmeum/bazel/commit/8e9fa6a45c0735f5d433e1118455de61a64bff12. This fixes the sandbox issues with symlinks in rules_js. In my opinion this is the principled approach as makes all artifacts in the sandbox consistent and retains all information. I.e., you can follow the symlink out

[2022-07-22 19:25] #15271 closed

[2022-07-22 19:28] alexjski commented on #10298
Wouldn't that mean that such a symlink would allow sandboxed action access undeclared inputs? Imagine the unresolved symlink points to a path of an output artifact we do not depend on. If we use strategy 2, the behavior would always be the same, as in we would get an unresolved symlink. In case of 1, depending on action execution order, could we sometimes get an actual file?

[2022-07-22 19:36] gregmagolan commented on #10298
@alexjski Can you give an example? You'd only get a symlink to a symlink in the sandbox if you have the symlink outside the sandbox as an input.

[2022-07-22 19:49] Bencodes commented on #15742
@mauriciogg I believe so. I can go back and check against master if needed to be sure. What issues are you seeing and is it worth re-opening this issue to do some further investigation?

[2022-07-22 20:06] ahumesky commented on #15742
For what it's worth, there are tests here for both the proguard and non-proguard cases:
https://github.com/bazelbuild/bazel/commit/ce55639c3ef2b9bd703d64026c40df0b7485b6a5#diff-247298e5ca47519afadcf45341d3089048f4476152c78f046cd651305a49b4c2R202

https://github.com/bazelbuild/bazel/commit/ce55639c3ef2b9bd703d64026c40df0b7485b6a5#diff-247298e5ca47519afadcf45341d3089048f4476152c78f046cd651305a49b4c2

[2022-07-22 20:14] Yannic commented on #15925
The same can be reproduced with changing `coverage` to test:

`bazel --nosystem_rc --nohome_rc --noworkspace_rc test`

[code]

`bazel --nosystem_rc --nohome_rc --noworkspace_rc test --build_event_json_file=foo.json`

[code]

I actually think that the output with `--build_event_json_file=foo.json` is correct: there is no pattern specified, so there are no tests to execute, hence the command should

[2022-07-22 20:44] mauriciogg commented on #15742
the dx.jar file does not exist in latest build tools. I dont see a way to avoid that dependency when going through the [else branch](src/main/java/com/google/devtools/build/lib/rules/android/AndroidBinary.java)
[code]
[DexSharder](https://cs.opensource.google/bazel/bazel/+/master:tools/android/BUILD.tools;l=123?q=tools%2Fandroid%2FBUILD.tools&ss=bazel%2Fbazel)
[code]

[DexFileSplitter](https://cs.

[2022-07-22 20:48] Yannic commented on #15925
This is a fun one:

Bazel always prints `ERROR: No test targets were found, yet testing was requested` when not specifying a target pattern, but overrides that line when BEP is disabled.

Repro: apply the following diff, run `bazel --nosystem_rc --nohome_rc --noworkspace_rc test` and watch the command-line!

[code]

[2022-07-22 21:14] alexjski commented on #10298
I just tested that and it seems to me like we have strategy 1, at least to some extent. That makes me think that I am missing some crucial context here and the best bet would be to see what @larsrc-google thinks about that. Anyway, let me share the example at least to show the problem and the kind of scenario I had in mind:

[code]
[code]
Now:
[code]

Let's try the same after build `:a`:
[code]

T

[2022-07-22 21:27] mauriciogg commented on #15742
this is the output or running `native_multidex_test` with tools version 33.0.0 (I deleted all other tests, there was also a failuer with missing mainDexClasses file)

[code]

[2022-07-22 21:32] gregmagolan commented on #10298
I see what you mean @alexjski . That makes sense and symlinks that pointed relatively within the sandbox would work for rules_js.

When I was testing @fmeum's WIP branch, the issue I ran into was in a runfiles tree in the sandbox which seems like a special case not handled properly yet. There was a declare_symlink input in the runfiles which I believes suffers from the same problem you just descri

[2022-07-22 21:39] fmeum commented on #10298
I'm glad to learn that the current approach can work for rules_js if we fix the runfiles tree issue - I was also worried about the implications the alternative would have had on hermiticity.

I will look into fixing the runfiles tree issue. @alexjski Would be available as a reviewer for a fix for that?

[2022-07-22 21:44] ahumesky commented on #15742
DexFileSplitter is still based on dx, unfortunately both internally and with bazel, so a new tool (i.e. wrapper around d8) has to be written (vs just open sourcing what we have internally). I see there isn't an issue filed for this, so I'll create one and we can continue there. We're aiming to get rid of all dependencies on dx for Bazel 6.0.

[2022-07-22 21:51] reddaly commented on #11523
I have also found the following commands to be necessary based on [stack overflow](https://stackoverflow.com/questions/13509293/git-fatal-could-not-read-from-remote-repository)

[code]

[2022-07-22 21:52] mauriciogg commented on #15742
@ahumesky  do you have an idea of what would be the ETA for the D8 based wrapper?

[2022-07-22 21:56] ahumesky opened #15957 "DexFileSplitter is based on dx, and dx is no more"
The last version of the build-tools in the Android sdk to include dx was 30.0.3. The last significant tool to use dx is DexFileSplitter, so ~~it should be rewritten to use D8 instead~~ import the dex parsing code from dx for DexFileSplitter. Targeting this for Bazel 6.0

[2022-07-22 21:57] ahumesky commented on #15742
Filed this: https://github.com/bazelbuild/bazel/issues/15957

The earliest we could see this is probably a few weeks from now, but ideally well in enough time to get this into Bazel 6.0

[2022-07-22 22:47] mauriciogg commented on #15957
@ahumesky are you open to contributions for this. We are open to do the implementation work here - looks like it boils down to  just figuring out the equivalent classes in the d8.jar?

[2022-07-23 01:05] gkgoat1 opened #15958 "cannot load '@build_bazel_rules_nodejs//:repositories.bzl': no such file in a monorepo with V8 and rules_nodejs"
### Description of the bug:

When I build commit 8f70e0348432b79a144be1eb6e146551418a4050 of https://github.com/portal-co/portal, this error appears even though the file exists in the repote repo. This issue has been sporadic for more of my monorepos.

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

git clone https://github.com/portal-co/p

[2022-07-23 02:37] gkgoat1 commented on #15958
bazel clean did not fix it this time

[2022-07-23 03:22] gkgoat1 commented on #15958
fixed it by vendoring rules_nodejs, but others might also run into it (and not want to vendor)

[2022-07-23 04:18] ezzieyguywuf commented on #15831
I'm not dmivankov, but I tried compling v 5.2.0 with openjdk17 and am getting the same crash. Here's a full build log:

[code]

[2022-07-23 06:13] sluongng opened #15959 "Bazel JVM does not get killed when OOM"
### Description of the bug:

We ran into this issue on our side (Bazel 5.1.0)

`java.log` prints several OOM message but the jvm process is kept alive and continue to take in subsequent commands from client.

When this happen, Bazel actually run into a dead lock right here https://cs.opensource.google/bazel/bazel/+/release-5.1.0:src/main/java/com/google/devtools/build/lib/runtime/BlazeCommandDispa

[2022-07-23 07:23] limdor commented on #15933
Fixed in 5.3 with https://github.com/bazelbuild/bazel/pull/15907, ticket can be closed

[2022-07-23 14:19] psigen commented on #13950
Does anyone have a workaround in the meantime?

[2022-07-23 17:21] coryan opened #15961 "C++ object files path is too long for some projects"
### Description of the bug:

Bazel generates very deeply nested names for the object file path.  For external dependencies this include the name of the dependency, the path of the target, the name of the target, and the name of the object within that target.  Even with `--output_user_root` that can exceed the `cl.exe` limits fairly easily.

### What's the simplest, easiest way to reproduce this bu

[2022-07-23 23:48] StrongerXi commented on #6327
MacOS with M1 chip.

For those experiencing the same issue, this is my minimal setting to get line numbers in `lldb`:

[code]

[2022-07-24 02:33] UebelAndre commented on #15850
Thanks for looking into this.

I think I concur with most of what was said in https://github.com/bazelbuild/bazel/pull/15887

However, I'm not sure this particular issue is limited to the python rules. For my uses, any file that is not generated by a repository rule or exists on disk before any action is run, then it should be a "source file" while all others should be "generated file". The incons

[2022-07-24 08:33] fmeum commented on #15850
Would using `bazel cquery` instead be an option for you? I'm not sure whether it gets this right as it is right now, but at least it would have the information available to do so.

[2022-07-24 14:13] Marcono1234 opened #15962 "Malformed `bazel query` command crashes with "Illegal char <*> at index" on Windows"
### Description of the bug:

It looks like using a malformed (?) `bazel query` command can crash Bazel on Windows:
[code]

Even if the command is invalid, it should probably not crash Bazel.

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

1. Clone the following repository at that commit: https://github.com/pawelz/gson/commit/d1aa859c61b59

[2022-07-24 20:52] keithkml commented on #14848
In case this is helpful as a data point, we found that 18% of a typical build at Stripe was targets being built a second time in host configuration (before/after being built in target configuration).

[2022-07-24 21:16] gillesmag commented on #10134
For anyone running into this issue on an Apple Silicon machine. Here is how I managed to solve it.

`WORKSPACE`
[code]

`BUILD` file example
[code]

[2022-07-24 21:42] fmeum commented on #14731
Closing as `implementation_deps` are no more. I will check whether `interface_deps` suffer from the same problem.

[2022-07-25 03:04] #15958 closed, assigned to nobody

[2022-07-25 04:19] bazel-io opened #15964 "[5.3.0] Docs should mention the new `no-remote-cache-upload` tag"
Forked from #14518

[2022-07-25 05:57] softprops commented on #7330
How are others addressing this using bazel native deploy jar?

[2022-07-25 08:30] comius commented on #14648
This seems WAI. Any integration with Bazel shouldn't scan bin-dir for the outputs. Either parsing output of `bazel test //...` or even better parsing output of a query should provide the other end with the correct set of xmls that were produced.

[2022-07-25 08:32] comius commented on #14465
Sounds like a useful feature with not too much new maintenance introduced I guess.

The Bazel team is working on Starlarkifying sh rules. Perhaps it would be easier to introduce such feature once the rules are Starlarkified.

[2022-07-25 08:35] comius commented on #13970
I can't tell if this is WAI or not.

Perhaps consider opening this issue on Go rules repository. Go rules are not part of Bazel.

[2022-07-25 10:50] bazel-io opened #15966 "[5.3.0] Wire up credential helper to command-line flag(s)"
Forked from #15947

[2022-07-25 11:15] Marcono1234 commented on #15962
I have updated the reproduction steps now to use the example project from https://github.com/bazelbuild/examples and included how I obtained the Bazel binary. Do you need any additional information?

[2022-07-25 12:22] cmumford opened #15967 "cquery returns incorrect cached results"
### Description of the bug:

Subsequent runs of `bazel cquery` do not always return the same results as the first run.

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Run the following script:

[code]

Here is the query script output:

[code]

### Which operating system are you running Bazel on?

macOS Monterey 12.4 (on Apple silicon)

##

[2022-07-25 12:31] oquenchil commented on #14731
Hold on Fabian. I got feedback a few months ago that interface_deps is an incompatible change across repos which is uncalled for given the little benefit it provides (it was about consistency with the exports attribute in other rules). I thought I could solve this via WORKSPACE magic and I tried last week but I can't. Taking that into account I will probably rollback the change that converted impl

[2022-07-25 12:39] meteorcloudy commented on #14848
@gregestren The problem is when the host and target platforms are the same, TensorFlow uses [--distinct_host_configuration=false](https://github.com/tensorflow/tensorflow/blob/b69214a7ab96e11f7c6d1deab7d39d3704394dac/.bazelrc#L373-L376) to avoid recompiling 80% of the entire build for host configuration, but after https://github.com/bazelbuild/bazel/commit/78d0fc9ff1d2f22005ddfce43384e35fbac338cb

[2022-07-25 14:20] fmeum commented on #14848
Since the exec configuration uses both different flag defaults (e.g. compilation mode and cflags) and a different output directory, it differs substantially from the target configuration. I thus wouldn't expect future solutions to #13281 and related issues to have any impact on the problem TensorFlow is facing.

[There is a code path](https://cs.opensource.google/bazel/bazel/+/2f7d965287ddfa056b16

[2022-07-25 14:42] sluongng commented on #15685
I was wondering if a change like https://github.com/bazelbuild/bazel/commit/d7f0724b6b91b6c57039a1634ff00ccebd872714 would be considered too disruptive have left for Bazel 6.x or if it's ok to be considered for 5.3?

cc: @wilwell

[2022-07-25 18:22] a9zerwer opened #15974 "Make coverage possible with use of cc_common.compile"
### Description of the feature request:

For custom C/C++ rules that compile using `cc_common.compile` it is impossible to generate coverage since there is no way to get the generated `gcno` files.  If `gcno` files are exposed in `CcCompilationOutputs` then it makes generating coverage for these rules possible. Currently I am using a forked version of [Bazel](https://github.com/SibrosTech/bazel) w

[2022-07-25 18:32] gregestren commented on #14669
It's late July. I've added this to my next sync with @katre and @aiuto and other configurability.

My current takeaways are:

- Exposing a target's providers is sort of a hack solution. It lets people write wrapper targets that set transitions over other targets. But often what people really want is just a *single* target that sets its configuration.
- But letting that run free creates performance

[2022-07-25 18:39] softprops commented on #7330
Note for others that bump into this found hack that works but take care in using it as its a hack and depends on undocumented features of bazel, namely that if you put your files under a file that falls under a [small curated list that bazel supports](https://github.com/bazelbuild/bazel/blob/09c621e4cf5b968f4c6cdf905ab142d5961f9ddc/src/java_tools/singlejar/java/com/google/devtools/build/singlejar/

[2022-07-25 19:31] gregestren commented on #15967
Quick feedback:

- Could this be the *Non-deterministic output* limitation mentioned at https://bazel.build/docs/cquery#known-issues?

[2022-07-25 20:06] kshyanashree commented on #15685
Hello all, we have decided to push the release date to 08/15/2022. Just wanted to keep you all updated. Thanks!

[2022-07-25 20:30] cmumford commented on #15967
Yep - that sure sounds like it. Do you know if there is an open issue on that? This does appear to be a duplicate.

[2022-07-25 20:34] keith opened #15977 "`rdeps` behavior differs between standard and skyquery when `--notool_deps` is set"
### Description of the bug:

When querying for the `rdeps` of a file that is part of a tool with `--notool_deps`, the tool is returned even though it is outside of the `rdeps` scope (but not outside of the universe scope), only with skyquery.

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Using this project: [rdepsrepro.zip](https://gith

[2022-07-25 20:38] gregestren commented on #15967
I'm not sure what the right end state is.

This is a user-confusing working by design. `cquery` gets its results from the Skyframe cache, which intentionally persists across builds for performance. The tradeoff is the inconsistency you see.

Would querying with `--discard_analysis_cache` suffice?

https://github.com/bazelbuild/bazel/blob/f22e63deef43141f08b63cc0210fc9b9e2fded1d/src/main/java/com/g

[2022-07-25 21:02] cmumford commented on #15967
I'm new to Bazel, but I found this behavior quite confusing and spent more than a few hours trying to figure out what was wrong with my query. It doesn't seem correct to return rules outside of the bounds of the query. I would favor correctness over performance.

Does query retrieve its results from elsewhere - i.e. not the Skyframe cache?

My preference would be to not add a `--discard_analysis_c

[2022-07-25 21:15] gregestren commented on #15967
I agree this behavior is subtle and confusing. All things being equal we don't want two identical `bazel` invocations to produce different results. That's usually true, but this is a glaring exception.

`query` indeed has its own process that it runs anew each time you invoke it, `query` can be slower because of that.

This is a resources tradeoff issue. Resolving this for `cquery` would necessari

[2022-07-25 21:37] aiuto commented on #14848
One of the problems here is that tensorflow makes the assumption that the host platform is the target platform.
The .bazelrc file magically does that here:
https://github.com/tensorflow/tensorflow/blob/de2e1fe1d809aa91ba5910f0e563b3cd47990ada/.bazelrc#L128
and then in configs, like this;
https://github.com/tensorflow/tensorflow/blob/de2e1fe1d809aa91ba5910f0e563b3cd47990ada/.bazelrc#L295

This is a

[2022-07-25 22:55] mihaimaruseac commented on #14848
Oh, so that's what that option does (I still have a TODO to document/remove it). I guess the path forward is to remove and move to `build:<os>` options as needed

[2022-07-26 00:37] gregmagolan commented on #10298
I put up a PR to make using `declare_symlink` conditional on whether or not `--experimental_allow_unresolved_symlinks` is set, https://github.com/aspect-build/rules_js/pull/283. That should be all that is needed in rules_js to use unresolved symlinks so it will be ready for use there once all of your work lands @fmeum .

[2022-07-26 07:12] bazel-io opened #15980 "[5.3.0] Fix a bug where instrumentation_filter doesn't control what files to …"
Forked from #15634

[2022-07-26 08:27] mtcoafun commented on #13970
okay

[2022-07-26 11:58] fmeum commented on #8766
@Wyverald If module extensions could depend on repositories defined in other module extensions, I think that this could be used to solve this issue in a very natural way:

1. Somewhere in `@bazel_tools`, offer a module extension with a `register_host_constraints` tag class taking a label to a `.bzl` file. The `.bzl` file is expected to export an `ADDITIONAL_HOST_CONSTRAINTS` list with constraint v

[2022-07-26 12:26] learning-to-play commented on #14848
@angerson @michaelhudgins @nitins17

[2022-07-26 13:34] haxorz commented on #15977
Interesting. Just from your report, I don't have a guess what's going wrong.

I didn't see a `.bazelrc` file in your zip. What flags does `--config=repro` expand to?

[2022-07-26 13:40] jpsim commented on #15977
It's in the zip, but it's a hidden file since it starts with a `.`. Here's the contents of `.bazelrc` from the zip:

[code]

[2022-07-26 13:55] haxorz commented on #15977
ty! Didn't realize the ChromeOS file browser UI hides hidden files by default :p

[2022-07-26 15:28] #15732 closed

[2022-07-26 17:23] aprotyas commented on #15874
Hi team, any updates on this? I'm a little blocked by this right now. Neither of the two popular `py_proto_library` rule implementations (`@com_github_grpc_grpc`, `@com_google_protobuf`), seem to expose the required target correctly.

[2022-07-26 17:57] MichaelHudgins commented on #14848
Interesting, I am already doing some tests to dial in TensorFlow's RBE usage.  I will throw in some tests to see the full impact of `enable_platform_specific_config` as well removing `enable_platform_specific_config`

[2022-07-26 20:17] brentleyjones opened #15983 "FR: Add ability to generate clang indexstore files for CC builds"
### Description of the feature request:

Allow (probably via a feature) the ability for C/C++/Obj-C files to generate clang indexstore files (`-index-store-path`) for each source file. This is similar to the https://github.com/bazelbuild/bazel/issues/15191 request.

### What underlying problem are you trying to solve with this feature?

I have an IDE integration (Xcode) use case where I want `-ind

[2022-07-26 20:34] cmumford commented on #15967
Sure, that's a fine option - as long as I don't need to:

[code]

If I didn't have to deal with the version then I'd use your proposed option - otherwise I'd stick with stopping bazel.

[2022-07-26 20:56] sdtwigg commented on #15967
Do you see consistent behavior when the `--universe_scope` flag is explicitly used?

In my mental model of cquery, the use of `--universe_scope` is essentially required; however, as a performance and slight UX optimization (e.g. debugging/looking at a previous build) allow it to be omitted and essentially presume a value based on the previous build.

[2022-07-26 23:43] adam-bedrock commented on #5768
Did this ever get fixed?

[2022-07-27 00:08] ahumesky commented on #15957
We're already looking into implementing this, thanks for the support

[2022-07-27 04:31] LittleWat opened #15985 "Get the path of `bazel info execution_root` in `BUILD.bazel`"
### Description of the feature request:

I could not find the way to get the path of `bazel info execution_root` in `BUILD.bazel`.

When I set like below;
[code]
KUBEBUILDER_ASSETS was set to `external/kubebuilder_tools/bin` (relative path).  I need the absolute path.

Is there a way to get `bazel info execution_root` in `BUILD.bazel`...?

### What underlying problem are you trying to solve with t

[2022-07-27 06:09] parke commented on #5096
If anyone is wondering why this error is happening, I found an explanation:
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=802612

Excerpt:  "A theory is that the linux kernel returns `EINVAL` when it encounters UIDs that don't exist in the user namespace."

So, when the UID exists, but is not allowed:
(a) `fchownat` returns `-1 EPERM`,
(b) `fakeroot` transforms `-1 EPERM` to success.

But insi

[2022-07-27 07:12] bazel-io opened #15987 "[5.3.0] Make cpp assembly file extensions case sensitive again"
Forked from #14131

[2022-07-27 08:04] fmeum opened #15989 "Labels passed to `--aspect` don't go through repo mapping"
### Description of the bug:

The labels passed to the `--aspect` CLI option don't go through repository mapping, which e.g. leads to issues with provider identity when using repo-absolute labels.

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[code]

### Which operating system are you running Bazel on?

Linux

### What is the output of `

[2022-07-27 10:58] meisterT commented on #15959
You can consider tweaking this flag: `--experimental_oom_more_eagerly_threshold`. Internally, we set it to 90.

[2022-07-27 11:24] comius commented on #15029
I took a quick look at the

(and this is a quick reply -I don't know all the requirements/caveats about the problem you're solving).

You probably shouldn't add a provider, new source and action building it to a `java_library` that depend on runfiles. If you do, it looks like you're handling problem at the wrong location. Why should one `java_libraries` be suddenly different from others.

BuildInf

[2022-07-27 11:52] meteorcloudy commented on #15876
@essandess Can you try to use a newer version of Bazel? TF already builds with Bazel 5.1.0, see https://github.com/tensorflow/tensorflow/blob/master/.bazelversion

[2022-07-27 13:01] fitzner commented on #7260
@katre I tried you proposal but ran into some CROSSTOOL / Toolchain Resolution Issues.

As we are using toolchain resolution we run into the topic that the compiler is not defined in cc_toolchain_suite. My understanding is that —cpu, —compiler will be deprecated when the migration to platform has been done.

`bazelisk build --compiler="gcc" //apps/app1-c:app1-c`

[code]
Regarding this issue I am w

[2022-07-27 14:16] cmumford commented on #15967
@sdtwigg I didn't fully grok the docs on `--universe_scope`. I ran it with an empty string as well as `//:skia_public`. Both worked, but the second query still included cached results from the prior query.

[2022-07-27 14:33] meisterT commented on #15934
Is this related / the same as https://github.com/bazelbuild/bazel/issues/15527?

[2022-07-27 14:41] coeuvre commented on #15934
Maybe. I will look into both.

[2022-07-27 15:11] gregestren commented on #15967
FYI I wouldn't expect you to have to gate `--discard_analysis_cache` on the bazel version.

[2022-07-27 15:35] ckolli5 commented on #15913
Closed https://github.com/bazelbuild/bazel/pull/15971

[2022-07-27 15:35] #15913 closed

[2022-07-27 15:41] fmeum commented on #15029
@comius The provider isn't strictly necessary - it is used only to keep the repository mapping manifest small (less rebuilds because irrelevant repositories change their repo mappings) and to only emit the new actions in `java_library` when needed.

I looked at `JavaBuildInfoFactory.java` and although I only have a basic understanding of what it does, I think that it can't solve the problem that t

[2022-07-27 15:53] zhengwei143 commented on #15894
I'm afraid this is by design and will not be supported: https://bazel.build/reference/be/general#genquery

[2022-07-27 16:08] meteorcloudy commented on #15876
The Bazel team is not maintaining the mac port bazel package, maybe you can ask the maintainer to see if a patch file can be applied to fix the bootstrap. Alternatively, can you use a prebuilt binary instead of bootstrapping from source? Try [Bazelisk](https://github.com/bazelbuild/bazelisk/releases).

Ideally, tfx-bsl should migrate to the latest Bazel version by fixing dependencies and adopting

[2022-07-27 17:36] pauldraper opened #15993 "Bazel combined cache not working with GCP Storage"
### Description of the bug:

As of 5.2.0, Bazel doesn't download from GCP storage when the disk cache is used.

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

**WORKSPACE.bazel**

[code]

**BUILD.bazel**

[code]

**.bazelrc**

[code]

Build:

[code]

Then clean:

[code]

Then build again:

[code]

The output for the last step shows: `2 pr

[2022-07-27 18:41] susinmotion commented on #15919
Thanks for bringing this to my attention--I almost certainly messed this up for you with my recent change to sh paths.

My intention was to use the default for cases where we care about the execution platform and to allow the override in cases where we care about the host platform. Would it work to change the default to C:\MSYS64?

[2022-07-27 20:12] konste opened #15994 "User-defined build flag bypasses its implementation function when used in transition."
### Description of the bug:

[User-defined build flag](https://bazel.build/rules/config#rule-parameter) does not execute its implementation function when it is used only in transition.

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

I have compact repro here: https://github.com/Bazel-snippets/multistring

There are two user-defined flags:

[2022-07-27 20:19] parke commented on #5096
Fyi, it appears you can prevent `fakeroot` from ever calling `chown()` by setting the undocumented environment variable `FAKEROOTDONTTRYCHOWN` to any non-empty string.

For example, inside a user namespace:

    $  touch  foo
    $  fakeroot  chown  root:root  foo  &&  echo  success
    chown: changing ownership of 'foo': Invalid argument
    $  export  FAKEROOTDONTTRYCHOWN='1'
    $  fakeroot  ch

[2022-07-27 22:08] healthy-pod opened #15995 "TestSummary considers cached tests when reporting FirstStartTime and LastStopTime"
### Description of the bug:

I need to find the wall time of testing a target. TestSummary provides FirstStartTime and LastStopTime. When a test target has some cached tests, FirstStartTime will be the time at which the earliest **cached** test started. FirstStartTime will be more helpful if it's the time at which the first test that actually ran during this call started (i.e. excluding cached tes

[2022-07-28 04:48] kshyanashree commented on #15995
Hello @healthy-pod, Could you please provide the complete steps to reproduce the above request like sample repo? Thanks!

[2022-07-28 05:06] nohe427 commented on #13553
Reproduced on release 5.2.0

[2022-07-28 08:06] meisterT commented on #15834
As mentioned on the PR (https://github.com/bazelbuild/bazel/pull/15833#issuecomment-1197805434) I think this is better done outside of Bazel.

[2022-07-28 08:06] #15834 closed

[2022-07-28 08:09] meisterT commented on #15668
cc @ahumesky

Is there a good way to predict how much resources the dexing action will need?

[2022-07-28 08:11] meisterT commented on #15513
@larsrc-google @cushon any ideas?

[2022-07-28 08:13] #15894 closed

[2022-07-28 08:23] harsh04 commented on #10134
This helped solve the issue with go. But now it has spawned another issue with
`No matching toolchains found for types @bazel_tools//tools/cpp:toolchain_type.`

[2022-07-28 09:38] larsrc-google commented on #10298
We've had some discussions about symlinks internally, and there are many more corner cases than I realized. I've started putting together the information we have, so we can avoid making more changes we later have to undo.

[2022-07-28 10:08] coeuvre commented on #15010
Unfortunately, there are 10+ direct dependences for this commit are missing in 5.3 and there are even more if we count transitive deps. I would say its to risky to cherry pick it into 5.3 and fix the merge conflicts. Closing.

[2022-07-28 10:08] #15010 closed

[2022-07-28 10:25] larsrc-google commented on #15513
Thanks for the nice repro, @ckilian867. Here's an example failing run:

[code]

The `--javacopt` values get passed in the `$bazel-out/darwin-fastbuild/bin/example/libproblem.jar-0.params` in my case, which contains

[code]

These files are the same for local and sandboxed execution. Passing this over to Liam for deeper Java knowledge.

[2022-07-28 11:34] #14519 closed

[2022-07-28 11:42] fmeum commented on #10298
Can you share this information publicly, possibly already while it is being compiled? I have already identified a number of these corner cases and would like to have a central location to collect and discuss them.

[2022-07-28 13:01] tongtongdi opened #15997 "Cross compile qnx, Bazel does not produce shared libraries."
**Description of the bug:**
 When I cross compile QNX, no dynamic library is generated. At this time, after I add
`feature( name = "supports_dynamic_linker",  enabled = True, )`， it prompts me that ld cannot be found. then i create a ld soft connection  `ln aarch64-unknown-nto-qnx7.1.0-ld ld`, this problem is solved.i'm surprised that i specified ld in the tool_path like this `tool_path(  name = "

[2022-07-28 13:53] #15872 closed

[2022-07-28 14:28] katre commented on #7260
Oh, because the rules currently work both ways, _both_ need to be defined (because the decision of which to follow happens too late to not read the data from the "wrong" side). So you need to have matching `toolchain` and `cc_toolchain_suite` setup, unfortunately.

[2022-07-28 15:48] ckolli5 commented on #15912
Closed https://github.com/bazelbuild/bazel/pull/15998

[2022-07-28 15:48] #15912 closed

[2022-07-28 16:07] sluongng commented on #15959
Hmm let me try this flag.

Is there some guidance in general about how to go about measuring and setting this value? For us, as we are setting
[code]

losing 10 percent of this is actually `1.2G` which is significant. 🤔

[2022-07-28 16:30] tjgq commented on #15993
It appears that this was introduced in 4d900ceea but later fixed in a24d1bc30d. As a result, it made it into the 5.2 release, but both 5.3 and 6.0 won't have the bug; I've confirmed that the provided test case doesn't repro at HEAD, nor in the 5.3 release branch.

[2022-07-28 16:30] #15993 closed

[2022-07-28 16:46] haxorz commented on #15959
Thanks, @meisterT . Yeah, `--experimental_oom_more_eagerly_threshold` is the existing mechanism to address issue (1).

Look at the sequence of "Memory usage after full GC" INFO log lines for a representative `bazel invocation` [^1]. This will give you a good sense of the size of Bazel's working set. If your working set is inherently above the threshold implied by `--experimental_oom_more_eagerly_t

[2022-07-28 16:51] haxorz commented on #15985
Running `bazel info` inside `bazel build` is definitely not supported. I understand and appreciate that's not your literal FR though.

Did you consider `$(location xxx)`?

Docs: https://docs.bazel.build/versions/main/be/make-variables.html#predefined_label_variables

[2022-07-28 16:54] haxorz commented on #15867
Is this related to #3268? Is the `--output_base=/tmp` essential for your repro?

[2022-07-28 16:55] pauldraper commented on #15993
Excellent!

Now we just need a 5.3.0 release 😅

[2022-07-28 17:00] sluongng commented on #15959
Worth to note that these don't happen that often for us, it only happen when our Bazel JVM instance has been kept alive for many days if not weeks and was re-used for multiple builds. I have no doubt that we internally have a memleak somewhere in our build. 🤔

I think the current approach right now is to ensure that JVM is properly shutdown when OOM happen so that we are not stuck in a deadlock. E

[2022-07-28 17:33] pauldraper commented on #15993
While I can believe that 4d900ce broke it, I am skeptical that a23d1bc fixed it.

[2022-07-28 17:44] fmeum commented on #15993
Maybe they meant https://github.com/bazelbuild/bazel/commit/4d900ceea12919ad62012830a95e51f9ec1a48bb?

[2022-07-28 18:18] tjgq commented on #15993
Sorry, copy paste error. I meant it was fixed by 40e485dc67 (originally https://github.com/bazelbuild/bazel/pull/15842).

[2022-07-28 18:30] haxorz commented on #15959
I think we first need a stronger understanding of the issue.

I read what you wrote in your original post but that doesn't match my understanding of how the code works. The java-land lock isn't being physically held by a specific client-land pid; it's being held by a java-land thread (servicing a gRPC-server-side rpc from a client, yes). From your symptom it sounds like that control flow exited fr

[2022-07-29 06:53] tongtongdi commented on #15997
Hi @sgowroji , i cross compile qnx  on x86_64 platform, my computer system is 20.04.1-Ubuntu,  I follow the instruction at `https://bazel.build/tutorials/cc-toolchain-config`, the target cpu is aarch64, and the system is qnx.
my toolchain/cc_toolchain_config.bzl is :
[code]
my toolchain/BUILD is :
[code]

my .bazelrc file is ：
[code]
you should set your qnx info in file cc_toolchain_config.bzl and

[2022-07-29 06:57] tongtongdi commented on #15997
when i enter /qnx710/host/linux/x86_64/usr/bin and create a ld soft connection `ln aarch64-unknown-nto-qnx7.1.0-ld ld`, this problem is solved, but i have set tool_path( name = "ld", path = QNX_HOST + "/usr/bin/aarch64-unknown-nto-qnx7.1.0-ld",), it still find ld not aarch64-unknown-nto-qnx7.1.0-ld.

[2022-07-29 09:46] kilian-funk opened #15999 "Make Apects accessable to bazel test"
### Description of the feature request:

Currently there is no `test` parameter to the [`aspect`](https://bazel.build/rules/lib/globals#aspect) function.

I would like to be able to do something similar to:
[code]

Adding a `test` parameter to the aspect function would be the expected API to enable this.

### What underlying problem are you trying to solve with this feature?

I would like to execu

[2022-07-29 11:21] hanneskaeufler commented on #14648
I guess yeah if diving into `bazel-*` is not intended and instead querying or parsing the stdout is the way to go, that solves it. It isn't what I had hoped would be the resolution, but I can understand that :)

[2022-07-29 11:21] #14648 closed

[2022-07-29 12:17] brentleyjones commented on #14648
Instead of parsing the stdout, you can look at the [BEP](https://bazel.build/docs/build-event-protocol).

[2022-07-29 14:46] aranguyen commented on #15845
With inheritance, precedence depends on specificity. Commands such as test and release inherit flags from build. The inheriting command is said to be more specific and thus the associated flags take precedence https://docs.bazel.build/versions/main/guide.html#bazelrc-syntax-and-semantics. So in this case because you have `test --color=no` and `test` is more specific than `build`, `test --color=no`

[2022-07-29 14:52] tjgq commented on #14647
Unfortunately, the `ctx.actions.symlink` workaround creates another problem: it causes Bazel to create a symlink from a file to a directory. This ought to be considered a bug in `ctx.actions.symlink` (it causes other parts of Bazel to become confused about whether the artifact the symlink points to is a directory or not) and I'm in the process of disallowing it.

[2022-07-29 15:11] #15989 closed

[2022-07-29 16:40] ckolli5 commented on #15927
Closed https://github.com/bazelbuild/bazel/pull/15979

[2022-07-29 16:40] #15927 closed

[2022-07-29 16:41] ckolli5 commented on #15932
Closed https://github.com/bazelbuild/bazel/pull/1597015970

[2022-07-29 16:41] #15932 closed

[2022-07-29 16:41] ckolli5 commented on #15945
Closed https://github.com/bazelbuild/bazel/pull/15973

[2022-07-29 16:41] #15945 closed

[2022-07-29 16:41] ckolli5 commented on #15966
Closed https://github.com/bazelbuild/bazel/pull/15976

[2022-07-29 16:41] #15966 closed

[2022-07-29 16:42] reddaly opened #16001 "Documentation issue: General Rules and other pages lack "load" statements"
Bazel documentation often lacks the relevant load statements and other information required for usage of rules, macros, functions, etc.

For example, after reading https://docs.bazel.build/versions/main/be/general.html, I placed the following in a `.bzl` file:

[code]

I then get an error, `name 'test_suite' is not defined`. Presumably I need a load statement to use test_suite in a .bzl file. I ha

[2022-07-29 23:41] AustinSchuh opened #16003 "Bazel 5.3 fails to run external tests"
### Description of the bug:

Bazel fails to run C++ tests in external repositories on remote execution.

Running locally passes, even with linux-sandbox.  Bazel 5.0 worked.  This has broken bazel > 5.0 for us, and is blocking all upgrades.

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

`bazel test -c opt --config=engflow --config=build_w

[2022-07-29 23:42] AustinSchuh commented on #15685
Ran 5.3 RC1 on our build against our remote execution cluster and it fails to run tests.  https://github.com/bazelbuild/bazel/issues/16003 is the bug I filed. This is a regression from 5.0, which worked with the exact same version of the code being built and the exact same command.

[2022-07-30 01:07] fmeum commented on #16003
Does https://github.com/bazelbuild/bazel/pull/14600 fix this issue?

[2022-07-30 02:40] AustinSchuh commented on #16003
Aw, I was hopeful.  I fixed some merge conflicts (looks like "../".replace() -> Strings.replace("../", ...) and I still get the same failure.

[code]

[2022-07-30 03:10] dws opened #16004 "Windows bootstrapping instructions incorrectly specify JDK 8"
### Description of the bug:

The Unix bootstrapping instructions at https://bazel.build/install/compile-source#bootstrap-unix-prereq state that JDK 11 is required.
But the Windows bootstrapping instructions at https://bazel.build/install/compile-source#bootstrap-windows-prereq state that JDK 8 is required.
I’m attempting to build the release-5.3.0 branch of bazel on Windows and it appears that JDK

[2022-07-30 03:24] ANIL80531 opened #16005 "Desugar checking not currently supported in bazel"
[code]

[2022-07-30 05:37] ANIL80531 commented on #16005
Why I'm getting this, how to resolve this. I'm using on aarch64 Linux.

[2022-07-30 06:40] xiedeacc commented on #15847
yes you're right, you can reproduce on a linux device

[2022-07-30 16:11] xushaoxiao opened #16007 "bazel build: fatal error: too many errors emitted, stopping now [-ferror-limit=]"
### Description of the bug:

INFO: Invocation ID: 6253d743-2b3b-416b-92ac-2ba75bf0188f
DEBUG: /private/var/tmp/_bazel_shaoxixu/d52061ccccc835b2a38f37a36e346e7d/external/io_bazel_rules_go/extras/embed_data.bzl:37:10: Embedding is now better handled by using rules_go's built in https://github.com/bazelbuild/rules_go/blob/master/docs/go/core/embedding.md functionality. The `bindata` rule is deprecate

[2022-07-30 21:39] fmeum commented on #16003
Could you check whether https://github.com/bazelbuild/bazel/pull/16008 fixes the issue? It includes an integration test that I distilled from your reproducer.

[2022-07-30 22:05] bedbad commented on #1258
Is there any progress on this? I repeatedly find wrong CC compiler flags when compiling dependencies such as tensorflow, which select wrong hardcoded flags like cpp standard. Additionally its very hard to debug for rules-users.

[2022-07-31 00:38] uri-canva commented on #14970
There's a `BAZEL_USE_LLVM_NATIVE_COVERAGE` enviroment variable you can try, not sure if it helps.

[2022-07-31 01:03] uri-canva opened #16009 "BAZEL_USE_CPP_ONLY_TOOLCHAIN doesn't work without Xcode / Xcode CLT installed."
### Description of the bug:

`BAZEL_USE_CPP_ONLY_TOOLCHAIN` on Darwin is meant to disable the Xcode toolchain resolution and use the common Unix toolchain resolution based on what binaries are available on the `PATH` and set with environment variables. However it will still hardcode several apple tools, like `/usr/bin/libtool`, `/usr/bin/gcc` and `/usr/bin/install_name_tool` (in `cc_wrapper.sh`).

[2022-07-31 09:34] limdor commented on #7260
@katre is there any ticket to follow this? I mean that for some situations cc_toolchain_suite is still needed?

[2022-08-01 01:24] chiahsingyu commented on #15867
It seems to be related, but the flags are different.

The command is actually invoked by vscode bazel extension, so one potential workaround is to fix that extension

[2022-08-01 02:19] xushaoxiao commented on #16007
WORKSPACE:
[code]

[2022-08-01 02:20] xushaoxiao commented on #16007
maven_dependencies.bzl
[code]

[2022-08-01 02:21] xushaoxiao commented on #16007
occurred errors when i run `bazel build //{java_project}`

[2022-08-01 02:34] xushaoxiao commented on #16007
<img width="1752" alt="image" src="https://user-images.githubusercontent.com/83151234/182061207-16d8c867-55f8-49d4-85bc-3e2f52fe0ac0.png">

cycle dependency error @sgowroji

[2022-08-01 04:16] ANIL80531 commented on #16005
Android-sdk is not available for aarch64 linux so I used this
[sdk](https://github.com/Lzhiyong/sdk-tools/releases)
then downloaded this example [project]( https://github.com/bazelbuild/examples) from bazel and followed this [tutorial](https://docs.bazel.build/versions/main/tutorial/android-app.html) available on their website.

[2022-08-01 08:15] xushaoxiao commented on #16007
@sgowroji  thanks, but i think it's not.

the bug occurred from grpc-java#services dependency.

[2022-08-01 08:39] tongtongdi commented on #15997
Hi @sgowroji ,without creating a soft link, how can i fix this. Can I use a configuration to solve this problem ?

[2022-08-01 12:23] katre commented on #7260
No, we don't have any plans to fix this short of enabling toolchain resolution and removing the legacy support. You can file a feature request for this and the C++ team can prioritize it, if you'd like.

[2022-08-01 15:33] Nov0cx opened #16013 "Bazel does not provide the right path to runfiles in c++"
### Description of the bug:

Im trying to access runfiles within c++. Im using Bazel 5.2.0. I tried to access like this:
[code]

(Example.tx is right, just to lazy to change)<br/> The program is finding a path but the path starts from the bazelisk directory and doesn't point to the binary dir.
[code]

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if p

[2022-08-01 15:35] haxorz commented on #14648
Yes this is WAI. @brentleyjones 's suggestion to use the BEP is a good one.

[2022-08-01 16:32] cushon commented on #8809
@ajrepp are you sure the failing action is using the expected JDK version? If you run with `--verbose_failures` to get the command line for the failing action, and then run `bin/java -fullversion`, can you share the output of that?

[2022-08-01 17:34] AustinSchuh commented on #16003
It does!  Great work, thanks for the prompt response and prompt resolution.  I really appreciate it.

[2022-08-01 18:32] gregestren commented on #15994
Quick glance response:

This isn't a bug, per se, but an intentional part of the configuration API (I updated the tag accordingly). Flags are set at the command line as raw unparsed strings. They're consumed by transitions as lightly parsed Starlark objects. They don't take their final form until consumed by the implementation as a dependency of some target that needs them.

That said, I undersatn

[2022-08-01 18:34] gregestren commented on #15967
Adjusted the tags - not to dismiss the value of your report but because this bug is more of a design conversation now vs. a clear issue to fix. Always happy to adjust again depending on how the conversation goes. I do understand the confusion.

[2022-08-01 19:04] sdtwigg commented on #15994
select() should trigger the implementation function since it is ultimately provider-driven. So, you would only see these raw values in transitions, which is fine. (There are performance and correctness concerns with trying to validate in the middle of transitions, especially if multiple transitions have been composed into one transition.)

[2022-08-01 19:04] yogurtearl opened #16014 ""Android IDL generation" action misses environment variables"
### Description of the bug:

"Android IDL generation" action does not pick up TMPDIR and LD_LIBRARY_PATH.

need to add something like `setEnv(actionEnvironment)` here:
https://github.com/bazelbuild/bazel/blob/2361e7492ba94f1faea69fdbc559d4e712bba457/src/main/java/com/google/devtools/build/lib/rules/android/AndroidIdlHelper.java#L403

### What's the simplest, easiest way to reproduce this bug? Plea

[2022-08-01 20:44] konste commented on #15994
First of all my repro is not artificial - it is minified version of the actual code we use, so the issue is very much practical.
As you can see from my repro even though flags are only used by transition and no target depend on them directly - transition changes `//command_line_option:platforms` and `//command_line_option:compilation_mode` based on those flags and therefore all targets behind that

[2022-08-01 21:29] AustinSchuh commented on #12821
FYI, @TLATER , https://github.com/bazelbuild/bazel/pull/16008 appears to fix the failed test for me!  Very exciting.

[2022-08-01 21:38] fmeum commented on #16013
The path you have to pass to `Rlocation` always includes the repository name, even if the runfile is contained in the main repository (aka the workspace). Based on the screenshot, you don't have a workspace name set in `WORKSPACE`, so you have to use the path `__main__/Test/Example.tx` instead.

[2022-08-01 23:03] rickeylev commented on #15727
I think overall, I'm +1 to the idea of having them as a separate attribute on the `py_*` rules. The main compelling rationales being (1) srcs are understood to be "runnable" python code (that should go in runfiles), and pyi files aren't necessarily (there's a few minor differences between pyi and py IIUC), and (2) ergonomics (putting pyi files next to py is commonplace, lets make it straight forwa

[2022-08-02 01:04] ajrepp commented on #8809
@cushon Thanks for the response! I think we figured it out. During our upgrade efforts we messed up setting up the external_java_repository. Once we got that resolved the issue went away. Apologies for the notification!

[2022-08-02 02:51] uri-canva commented on #10177
Yeah you can use `ctx.info_file` and `ctx.version_file` even without `--stamp`.

[2022-08-02 03:02] uri-canva commented on #14341
I don't think that's true, since it wouldn't be possible to know what a valid constant file would be in the presence of user defined keys, so the constant file could be missing keys that user defined rules expect, and break the rules.

The built in workspace status keys already come with a redacted value, (though there's a comment saying they should be removed https://github.com/bazelbuild/bazel/b

[2022-08-02 07:01] Nov0cx commented on #16013
Thank you. It is working now.
Closed.

[2022-08-02 07:01] #16013 closed

[2022-08-02 09:00] xu-chaojie opened #16017 "Does bazel support link opts "-Wl,--push-state" and "-Wl,--pop-state" ?"
### Description of the feature request:

Does bazel support  link opts "-Wl,--push-state" and "-Wl,--pop-state"  like this ?

<img width="405" alt="image" src="https://user-images.githubusercontent.com/5245004/182335734-8bf03172-e48c-4c54-b928-e6c867f627cd.png">

### What underlying problem are you trying to solve with this feature?

_No response_

### Which operating system are you running Bazel

[2022-08-02 09:02] limdor commented on #13618
@sgowroji the style guide still discourages to use = 1 and there are still several places where the warning still suggests to use =1.
https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/rules/cpp/CcLibrary.java#L511
Could you just reopened this ticket instead of having to create a new one? With this way it is easier to keep the history.

[2022-08-02 09:19] #15681 closed

[2022-08-02 10:41] bazel-io opened #16020 "[5.3.0] Propagate the error message when a credential helper fails."
Forked from #16012

[2022-08-02 12:53] fweikert opened #16021 "Status of Bazel 6.0.0-pre.20220720.3"
- Expected release date: 2022-08-02

Task list:

- [x] Pick release baseline: [4cd266aa](https://github.com/bazelbuild/bazel/commit/4cd266aa1dfa53d8c8de44f7895edcfd46f74725) with cherrypick [f706da83](https://github.com/bazelbuild/bazel/commit/f706da832996ab30ddd8784f2af697a3bb62852b)
- [x] Create release candidate: https://releases.bazel.build/6.0.0/rolling/6.0.0-pre.20220720.3rc1/index.html
- [x

[2022-08-02 13:28] #16004 closed

[2022-08-02 13:46] coeuvre commented on #16003
Assigning to @oquenchil since the linked fix is about cc rules.

[2022-08-02 15:01] TypeDefinition commented on #8222
Hi, I know that it has been 3 years since this thread originated. But this is the only result on Google, and I still don't know what the message means.

I see some suggestions about fixing something upstream and something about sha256. But I don't understand what these are solving.

What _does the message mean_?

[2022-08-02 15:12] paullewis opened #16024 "Feature request: allow undeclared test outputs to be collected unzipped"
### Description of the feature request:

I currently have some test runners that output XML reports, which can be collected in `TEST_UNDECLARED_OUTPUTS_DIR`. However these files are always zipped as per https://github.com/bazelbuild/bazel/blob/master/tools/test/test-setup.sh#L409-L419

I was wondering if it would be possible to add a flag/option that bypasses the zipping process and instead puts t

[2022-08-02 15:55] bazel-io opened #16026 "[5.3.0] Fix an issue that `incompatible_remote_build_event_upload_respect_no_…"
Forked from #16023

[2022-08-02 15:56] bazel-io opened #16027 "[5.3.0] Correctly report errors thrown by CommandLinePathFactory#create."
Forked from #16022

[2022-08-02 15:56] bazel-io opened #16028 "[5.3.0] Fix rpath for binaries in external repositories"
Forked from #16008

[2022-08-02 16:19] aiuto opened #16029 "testdata/runfiles_test/WORKSPACE.mock pins to a very old rules_cc"
### Description of the bug:

src/test/py/bazel/testdata/runfiles_test/WORKSPACE.mock uses an ancient commit from rules_cc.
https://github.com/bazelbuild/rules_cc/commit/8bd6cd75d03c01bb82561a96d9c1f9f7157b13d0

We should generate this file from distdir_deps.bzl using gen_workspace_stanza. That will align the tests using this declaration with the other integration tests that use the rules_cc we bui

[2022-08-02 17:03] #16021 closed

[2022-08-02 17:31] UebelAndre opened #16031 "Reduce logging for coverage invocations"
### Description of the feature request:

Whenever I run coverage I get a massive log that's largely

[code]

Would it be possible to disable these by default or at least provide a flag to reduce nose?

### What underlying problem are you trying to solve with this feature?

I would like to maintain the readability of my logs while using coverage builds.

### Which operating system are you running B

[2022-08-02 18:20] mauriciogg commented on #15957
btw I think you can get away with not doing anything special just by using a custom built r8 (https://partnerissuetracker.corp.google.com/issues/240438146). Thats what we are doing internally. The only problem is it looks like this is not officially supported. In any case its likely that just using the manve/android_sdk r8 jar to replace the old dexer code wont be possible since almost all of the

[2022-08-02 19:06] digit-google commented on #15786
Closing the issue since this is not possible, simply because, as I know understand, a repo is not a module so there is no need to define a MODULE.bazel file in repositories generated through an extension.

[2022-08-02 19:06] #15786 closed

[2022-08-02 19:09] digit-google opened #16034 "Crash when trying to call Label.relative() in a BzlMod module extension implementation function"
### Description of the bug:

As the title says, trying to call Label.relative() within a module extension implementation function results in a runtime crash.
I have uploaded a reproduction case to my github account (see below).

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

See https://github.com/digit-google/bazel-experiments/tree/main/

[2022-08-02 21:04] Bencodes commented on #15751
Just to refine this search a bit more in case it helps, it seems like the stack map issues were introduced in 2.2.60.

[2022-08-02 23:41] gregestren commented on #14669
We did chat about this. It's really just a timing and commitment issue on how to advance a design everyone is comfortable with.  @katre is working on a design within that realm that is probably worth following - exact timeframe I'm not sure.

[2022-08-02 23:43] gregestren commented on #14669
Just changed the title - not necessarily the best wording but I believe more in line with the goal. Support any further adjustments!

[2022-08-02 23:46] cpsauer commented on #14669
👍🏻 Thanks for doing and discussing, @gregestren!

[2022-08-03 04:36] Slowki commented on #9047
It only took me two years to get around to posting here - a new record :turtle:.

Here a version of my `-ftime-trace` aspect - it's fairly different than the approach I took for our internal one (which looks at original target's actions, finds the original output file location, then fiddles with the arguments in a hacky way), but I think it's probably better in general.
https://github.com/Slowki/c

[2022-08-03 05:39] hchsiao commented on #4644
Any updates?
bazelbuild/rules_foreign_cc#931 is also affected by this one.

In this case, the rule is using `cc_common.get_tool_for_action(feature_configuration, action_name)` to get the compiler.

https://github.com/bazelbuild/rules_foreign_cc/blob/0cf751c0533815747356bd3539d099015d556eb5/foreign_cc/private/cc_toolchain_util.bzl#L269-L276

The problem here is that `action_name=ACTION_NAMES.c_comp

[2022-08-03 09:40] lingithub1 opened #16037 "--workspace_status_command: handling of empty values is surprising and inconsistent"
### Description of the bug:

If the workspace status command prints a line containing a key and a trailing space, this line will be copied to `volatile-status.txt` (or `stable-statux.txt`). This is OK.

If the workspace status command prints a line containing a key only, this line gets discarded. This is somewhat surprising and undocumented.

If the workspace status command prints a line containin

[2022-08-03 13:26] Slowki commented on #9047
Oops - it’s public now.

[2022-08-03 14:03] fmeum opened #16041 "`UnsatisfiedLinkError` with `--experimental_remote_cache_compression` on Windows"
### Description of the bug:

Remote builds with `--experimental_remote_cache_compression` crash Bazel on Windows with:

[code]

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

We reliably hit this on CI for https://github.com/CodeIntelligenceTesting/jazzer/pull/431.
The bazel command we run is:

[code]

I don't expect this to be BuildBuddy

[2022-08-03 14:38] sepi83 commented on #11470
The key does not work

root@015a79c5c628:~/tensorflow# sudo apt update && sudo apt install bazel-5.2
Get:1 https://storage.googleapis.com/bazel-apt stable InRelease [2256 B]
Err:1 https://storage.googleapis.com/bazel-apt stable InRelease
  The following signatures couldn't be verified because the public key is not available: NO_PUBKEY 3D5919B448457EE0
Hit:2 http://ports.ubuntu.com/ubuntu-ports jam

[2022-08-03 16:38] ted-xie commented on #15751
Thanks, Ben. I'm marking this P2 for now; I'll try to jump back on this after a few more things clear off my plate.

[2022-08-03 16:43] digit-google opened #16042 "Error when trying to access `workspace_root` field from a `repository_ctx` object."
### Description of the bug:

The documentation for `repository_ctx` states that it has a [`workspace_root`](https://bazel.build/rules/lib/repository_ctx?hl=en#workspace_root) field that returns a `path` to the top-level workspace directory.

When trying to use this inside an actual repository rule implementation, Bazel complains with an error that says:

[code]

### What's the simplest, easiest wa

[2022-08-03 17:54] adam-singer opened #16043 "Include execution cache hit ratios"
### Description of the feature request:

It would be ideal if we could surface cache hit ratios as first class information. As it stands now I'm only aware of two ways to try and calculate cache hit ratios from a users point of view. One is to create the execution log and parse it for `remoteCacheable` and `remoteCacheHit` then calculate the standard hit ratio. The other is to use build event logs

[2022-08-03 18:05] fmeum commented on #16042
It's available on HEAD, but the cherry-pick into 5.2.0 failed [here](https://github.com/bazelbuild/bazel/issues/15312) and I don't think anybody has tried cherry-picking it into 5.3.0 again. You will probably have to wait for 6.0.0.

[2022-08-03 19:28] digit-google commented on #16042
Thanks, good to know it will be fixed eventually. I'll stick with my work-around until then :-)

[2022-08-03 19:29] katre commented on #14669
Proposal review thread: https://groups.google.com/g/bazel-dev/c/QK7CI__ReDM

[2022-08-03 19:47] gn-harness commented on #8855
I am surprised this was never fixed!

[2022-08-04 05:35] cpsauer commented on #14669
Thanks so much for writing and posting!

If useful feedback: This looks like a good step, and one we'd use, but this iteration wouldn't (yet) unblock most of the use cases that originally motivated this issue. (But maybe that's expected, and okay, especially if the main aim is something else!) That's for two reasons.

(1) We've been finding that the most valuable flags to bake into targets aren't

[2022-08-04 06:17] cpsauer commented on #14669
Writing the above got me thinking about something related--but divergent.

What if .bazelrc had a mechanism for adding configurations that auto-applied to particular platforms? This would simplify a chunk of these remaining transition use cases (though certainly not all). It'd also dodge the exponential blowup case you guys are wary of.

Like, for example, what if one could write the following in

[2022-08-04 06:24] laszlocsomor commented on #7994
Still repro'able with `release 6.0.0-pre.20220608.2`

[2022-08-04 06:36] philsc opened #16044 "Incompatible Target Skipping ignores visibility restrictions"
### Description of the bug:

With #14096, we're fixing a few usability issues with Incompatible Target Skipping. That is accomplished by moving the code to a much earlier stage of the analysis phase. Unfortunately, that means it runs before visibility is checked.

This is not _inherently_ a problem as it doesn't allow you to bypass visibility restrictions for building code. Compatible targets stil

[2022-08-04 07:44] StLeoX commented on #12124
Me too.
I remounted the ccache directory to /tmp/ccache, which is **rw**.
It doesn't work either.

[2022-08-04 10:16] hisener commented on #2713
We have another "use case" for this issue. Say you want to upgrade JDK to a version that Bazel's current Error Prone version doesn't support. In that case, the Bazel upgrade will block the JDK upgrade since it's the only way to upgrade Error Prone.

In our case, we were using Bazel 4.2.1, and we couldn't upgrade to Java 17 because [Bazel 4.2.1 uses Error Prone 2.4.0](https://github.com/bazelbuild/

[2022-08-04 11:53] dmivankov commented on #15611
There are no steps to reproduce documentation issues, sorry

[2022-08-04 12:06] #15527 closed

[2022-08-04 12:12] fmeum commented on #15791
@sgowroji I think that this issue is still valid. It isn't tied to a particular project, it's just about better error messages. @gregestren who I think has an ongoing project for more beautiful error messages.

[2022-08-04 15:16] kkpattern commented on #14859
This feature would be very useful for us. For example, assume we are developing an iOS app framework. We can provide an `ios_application` target for users to build the iOS app.

[code]

However, we don't know the bundle id of the app users wants to build beforehand. If we can pass the value of a string flag to a string attribute:

[code]

 then users can easily provide the bundle id like this:

[c

[2022-08-04 15:25] larsrc-google commented on #14734
I've added philwo@'s nice explanation to the sandboxing page.

[2022-08-04 15:25] #14734 closed

[2022-08-04 15:44] pcjanzen commented on #14669
isn't this provided by [platform_mappings](https://docs.bazel.build/versions/main/platforms-intro.html#platform-mappings)?

[2022-08-04 16:01] aiuto commented on #15201
Moving back to P1 so I get nag mail.

[2022-08-04 16:55] jasaw opened #16048 "Select on host platform and execution platform"
First of all, I apologize if I missed this info in the documentation.

I have a use case where I want my code-generator program to be compiled slightly differently for target platform, host platform, and execution platform by setting different defines.

This is a simplified example of what I'm trying to do. My target is aarch64, so that's straight forward. My host and execution platforms are the s

[2022-08-04 16:56] UebelAndre commented on #15685
Hello, would it be possible to cherry-pick https://github.com/bazelbuild/bazel/commit/9c98120f33579b72561e02826d9fccf222eccb3c (https://github.com/bazelbuild/bazel/issues/15130) for `5.3`?

[2022-08-04 18:44] cpsauer commented on #14669
Derp. Yes. I totally should have cross-ref'd that. My bad.

Maybe amend the above to:
Perhaps, (in addition to the above) a similar platforms -> flags feature to the one temporarily in platform_mappings should get a permanent home in .bazelrc?

[2022-08-04 20:26] ahumesky commented on #15957
Yeah, exactly, so D8 has APIs for getting the kind of information that DexFileSplitter uses (the "inspection" API), however they're not designed to be used in a tight loop like DexFileSplitter does. D8 has dex parsing code, but none of it is public, and in talking with the D8 team, there aren't plans to support that. So the next best thing is to just import the dex parsing parts of dx (https://git

[2022-08-04 20:35] tpudlik opened #16049 "Missing documentation of data dependencies"
The https://bazel.build/reference/be/common-definitions#typical.data section contains a link to https://bazel.build/concepts/build-ref#data, but that latter section does not exist (it's effectively a broken link). This is a shame, because it's not immediately obvious to a new user how to access bazel runfiles. It would be useful to point to https://github.com/bazelbuild/bazel/blob/master/tools/pyt

[2022-08-04 20:52] kshyanashree commented on #15685
Hi @AustinSchuh, we are awaiting review on 16008 which fixes the issue.

[2022-08-04 21:27] mrmeku commented on #14228
Hit this bug today when trying to use

[code]

so that I could do GoLinking locally while doing the rest of my build on RBE.

Not sure if that information is helpful

[2022-08-05 01:47] philwo commented on #14734
Thank you Lars!

[2022-08-05 05:05] Jacky-LinPeng commented on #12131
Fourth, is there sample code? 'm new here and I need help....

[2022-08-05 05:09] jasaw commented on #16048
@sgowroji The question is how do I write a rule that applies to execution platform only, and another rule for host platform only? Just to clarify, bazel outputs the execution platform binaries to `bazel-out/k8-opt-exec` directory, whereas the host platform binaries go to `bazel-out/host` directory.

In my pseudo code above, in the `cc_library` section, I want the `defines` to `select` different C

[2022-08-05 10:02] kaliaumem commented on #12889
NDK [r25 LTS is now out](https://github.com/android/ndk/wiki/Changelog-r25), and it includes APIs for Android 13, ASAN debugging experience, on top of what the previous versions already provided.

If there is something that we can do to help get things moving from our end, please let us know @radvani13. My team keeps having to hack around the aging toolchain, solely because of this issue, so we're

[2022-08-05 11:30] fweikert opened #16051 "Status of Bazel 6.0.0-pre.20220801.1"
- Expected release date: 2022-08-05

Task list:

- [x] Pick release baseline: [39125bea](https://github.com/bazelbuild/bazel/commit/39125beac00d697de5e319d2b81143aa50068fa6)
- [x] Create release candidate: https://releases.bazel.build/6.0.0/rolling/6.0.0-pre.20220801.1rc1/index.html
- [x] Post-submit: https://buildkite.com/bazel/bazel-bazel/builds?branch=release-6.0.0-pre.20220801.1rc1
- [x] Push

[2022-08-05 13:54] fmeum commented on #15916
@codeman9 If you really need to work around this, you could probably define an `alias` in a non-main repository pointing to the file and then provide the label of the `alias` to the repository rule.

[2022-08-05 14:45] zakcutner opened #16053 "_find_linker_path returns wrong path"
### Description of the bug:

The [`_find_linker_path` function](https://github.com/bazelbuild/bazel/blob/master/tools/cpp/unix_cc_configure.bzl#L175-L219) determines the linker path by using the output of the following command (e.g. for the `lld` linker):
[code]
It then looks for a line with `lld` in (since this is the linker we are looking for). The problem is that on my system, this also matches

[2022-08-05 15:19] zakcutner commented on #16053
Hello @sgowroji! This could be reproduced on any Bazel project that builds some C/C++ code, on a system with `-debugger-tuning=lldb` set (I'm not sure what causes this to be set by default on my system). Let me know if there are any more details that would be helpful.

[2022-08-05 15:49] keith commented on #16053
can you test this branch? https://github.com/bazelbuild/bazel/pull/15006 it should be fixed here

[2022-08-05 15:55] clint-stripe opened #16054 ""Upload missing inputs" performance regression in Bazel 5.0 and 5.3"
### Description of the bug:

cc @coeuvre -- this bug is very similar to #15872, but the regression actually occurred in the 5.0.0 release. I did a git bisect between 41feb616ae and 2ac6581, and it appears https://github.com/bazelbuild/bazel/commit/db15e47d0391d904c29e6e5c632089e2479e62c2 is the source of this slower behavior.

In the actual repo affected by this, we have ~600k inputs to some actio

[2022-08-05 16:04] brentleyjones commented on #16054
Is this fixed by https://github.com/bazelbuild/bazel/commit/f440f8ec3f63e5d663e1f9d9614f05a39422102a?

[2022-08-05 16:14] #15934 closed

[2022-08-05 16:15] clint-stripe commented on #16054
@brentleyjones it's not -- that regression took these tests from ~2s to ~45s, but it's still several times higher than in 4.2.

[2022-08-05 16:33] Parth-Mawai commented on #7393
ERROR: C:/users/parth/_bazel_parth/rqrcdjur/external/com_google_protobuf/BUILD:106:1: C++ compilation of rule '@com_google_protobuf//:protobuf_lite' failed (Exit 1): vc_installation_error.bat failed: error executing command
  cd C:/users/parth/_bazel_parth/rqrcdjur/execroot/org_tensorflow
  SET INCLUDE=msvc_not_found
    SET PATH=msvc_not_found
    SET PWD=/proc/self/cwd
    SET PYTHON_BIN_PATH=C:

[2022-08-05 17:37] zakcutner commented on #16053
Thanks @keith! I just tested your branch and it works great 😄

[2022-08-05 17:52] keith commented on #16053
great! hopefully it will be reviewed at some point

[2022-08-05 19:23] stabai commented on #4661
+1 to making this available without authentication. Having to authenticate to use the Bazel image creates a ton of extra hassle in many situations (e.g. configuring a CI workflow to run using that image). It's actually much easier to use Bazel in Docker by using the node image and running `npm install -g @bazel/bazelisk`.

[2022-08-05 19:28] stabai commented on #5891
Any update on this? Bazel is the only part of our dev toolkit that we can't get to run on Alpine, and it makes things very difficult. Either having an up-to-date APK package to install Bazel/Bazelisk (ideal), a set of instructions for getting Bazel to work on Alpine, or a prebuilt image that can be inherited from would be extremely useful.

[2022-08-05 20:34] softprops commented on #7330
I just ran into another issue but one I'm unable to control. with log4j 2 which Im assuming is ubiquitously used with java no

log4j writes available plugins to a file called `META-INF/org/apache/logging/log4j/core/config/plugins/Log4j2Plugins.dat` which isn't on the list [small curated list that bazel supports](https://github.com/bazelbuild/bazel/blob/09c621e4cf5b968f4c6cdf905ab142d5961f9ddc/src/

[2022-08-05 23:02] silas-enf opened #16056 "[Mirror] rules_rust-v0.8.1.tar.gz"
### Please list the URLs of the archives you'd like to mirror:

Searched slack for the warning 404s I'm seeing and found #15881; this is the same issue for newer releases of rules_rust (URLs listed in the release notes which don't seem to be mirrored yet).

[code]

The previous release also looks to be missing, if you could mirror that as well while you're at it:

[code]

[2022-08-05 23:33] tpudlik commented on #16049
Yes, that's right! I'm happy to make a PR, but I'm not sure what the process for modifying bazel documentation is. (I believe the relevant source is [here](https://github.com/bazelbuild/bazel/blob/ad37a3748c78e0ee903b56366322c70ab8b22187/src/main/java/com/google/devtools/build/docgen/templates/attributes/typical/data.html)?)

[2022-08-06 00:03] philsc commented on #16044
To clarify, I think that a _directly_ incompatible target should be allowed to depend on private targets without error. The point here is that directly incompatible targets don't have their dependencies analysed. This also means avoiding visibility checking.

_Indirectly_ incompatible targets, however, should honor visibility restrictions.

@gregestren , does that sound right to you?

[2022-08-06 05:32] rahul-theorem commented on #12841
Sounds like `--build_python_zip` is implicitly unsupported/unmaintained going forward? We also encountered similar cold-start times with `subpar` & are going to try to adapt it into something that supports building standalone binaries with Pex.

[2022-08-06 10:58] arunkumar9t2 commented on #15278
We got similar issue as well when Kotlin Kapt was running and the worker would fail with `Too many open files`.

According to [this](https://github.com/gradle/gradle/issues/17274#issuecomment-849491157), it seems child process by default will have default limits when parent process sets the `-XX:-MaxFDLimit` flag, however they can be increased if child process also sets the flags. In Bazel's case,

[2022-08-06 19:50] softprops commented on #7330
This log4j change which moves files to javas service loader for may help because that’s one of bazels undocumented directories that will merge resources but this change won’t land in a release until log4j3 in its release tracker

https://issues.apache.org/jira/plugins/servlet/mobile#issue/LOG4J2-2621

[2022-08-07 05:44] bazel-io opened #16060 "[5.3.0] Refactor combined cache."
Forked from #16039

[2022-08-07 08:02] elfringham opened #16061 "Download via bazelisk fails with 404 on AARCH64"
### Description of the bug:

If using .bazelversion to specify a commit hash, it fails to download the required artifact with a 404 error like this
`$ bazel --version
2022/08/06 09:47:13 Using unreleased version at commit f440f8ec3f63e5d663e1f9d9614f05a39422102a
2022/08/06 09:47:13 Downloading https://storage.googleapis.com/bazel-builds/artifacts/ubuntu1404_arm64/f440f8ec3f63e5d663e1f9d9614f05a394

[2022-08-07 20:40] fmeum commented on #8766
This actually works today without any changes to Bazel (although it is somewhat affected by https://github.com/bazelbuild/bazel/issues/15916).

As a demo, I created https://github.com/fmeum/local_config_platform, which contains a starlarkified `local_config_platform` Bazel module offering a `host_platform` module extension with a tag `add_constraints` that modules can use to specify a `.bzl` file

[2022-08-07 22:13] meme opened #16066 "Bazel reports build succeeded, but returns non-zero exit code"
### Description of the bug:

When running Bazel on an M1 MacBook from both Homebrew and latest git, Verible builds but does not install. All messages from Bazel during the install phase show that it working correctly, however it reports a non-zero exit code and does not write the binaries to the specified install path.

Verible builds fine under Linux and reports a zero status code, and writes the

[2022-08-07 22:17] softprops commented on #7330
Doing a bit more research on this merging this resource is a bit more than concatenating files

it turns out there are several solutions for this for various build tools but surprisingly I could find none for bazel

https://github.com/search?q=Log4j2Plugins.dat&type=

Surely there must be some cross section between production java users using log4j2 and bazel to build deploy jars out there

[2022-08-08 07:25] larsrc-google commented on #15278
@EdbertChan Does @arunkumar9t2's suggestion work for you?

@arunkumar9t2: `--jvmopt` only applies to Bazel itself, not to workers. There's `--worker_extra_flags`, but they are always placed at the end of the argument list, so one couldn't do a `-XX` flag there. I would rather keep this kind of specific parameter tuning in the individual worker definitions - only a minority of workers implementatio

[2022-08-08 07:25] #15278 closed

[2022-08-08 08:33] elfringham commented on #16061
@sgowroji

On a AARCH64 architecture machine
$ mkdir wksp
$ cd wksp
$ touch WORKSPACE
$ echo f440f8ec3f63e5d663e1f9d9614f05a39422102a>.bazelversion
$ wget https://github.com/bazelbuild/bazelisk/releases/download/v1.12.0/bazelisk-linux-arm64
$ chmod +x bazelisk-linux-arm64
$ ./bazelisk-linux-arm64 version

[2022-08-08 08:38] elfringham commented on #16061
@sgowroji github keeps turning the git commit hash in the above into a link, which is wrong. You should get this
`$ cat .bazelversion
f440f8ec3f63e5d663e1f9d9614f05a39422102a
`

[2022-08-08 08:59] comius commented on #16031
cc @c-mita

If the log is only noise (too much debug/info) it makes sense to just disable it, without even adding a flag to enable it. (Bazel team is trying to reduce the number of flags we have).

[2022-08-08 09:03] comius commented on #15627
Triaging to P3 with some reservation. Optimising to only instrument filtered file sounds fine. API modifications should be conservative (I didn't look into details on how this could/should be done).  Accepting PRs depends on proposed API changes being accepted first.

[2022-08-08 09:43] coeuvre commented on #16054
I will take a look but I am not entire sure whether this can be fixed.

Part of https://github.com/bazelbuild/bazel/commit/db15e47d0391d904c29e6e5c632089e2479e62c2 is to implement #13166 which by design needs lock (or similar) for every input -- I guess that's where the regression come from.

[2022-08-08 10:31] comius commented on #14652
cc @c-mita

The behaviour is weird. I'd suggest updating the documentation for now, because the implementation contains some tech-debt, which I'm unsure how it should be removed.

[2022-08-08 10:33] comius commented on #12912
cc @c-mita

[2022-08-08 10:34] comius commented on #12892
I think this issue better matches team-Configurability.

[2022-08-08 14:05] katre commented on #8766
@fmeum This is very cool, and is basically what I was thinking of. I'd like to read a design doc (hopefully with some pointers to the bzlmod docs, because I am not full up to date on that), but this is definitely looking interesting.

[2022-08-08 19:06] gregestren commented on #16044
i.e. if target A depends on B and B is both private and incompatible, we'd want a build of A to report a visibility erorr?

[2022-08-08 19:32] TheButlah commented on #1920
I had to stop using bazel in 2020 because of this issue, but I'm hoping to be able to use it now, and hoping the linkage story is more mature. Has any movement been made on this since 2020? There are a lot of comments on this post and I admit I didn't understand a lot of it.

Whats the current best solution for building a fully statically linked library? Is it @Danvil's comment?

[2022-08-08 20:30] steakknife commented on #1920
Yeah, I don't have a use for bazel. It's too slow and power user-hostile. (I forgot to unsubscribe to this issue.)

[2022-08-08 21:08] chancila commented on #16048
you seem to actually want to answer the question: if I'm building for execution, what is the target platform this tool will be used for.

afaik the execution platform doesn't know the target platform it's building for, the tool is assumed to be target agnostic...if you somehow need to change a tool's configuration due to the target platform you probably will need to use a transition somewhere high

[2022-08-08 22:50] philsc commented on #16044
Yes, that's correct. Does that sound reasonable?

[2022-08-08 22:51] gregestren commented on #16044
Yep!

[2022-08-09 08:34] castler opened #16070 "Remote Execution: Symlinks created by ctx.actions.symlink are not represented as symlinks remotely"
### Description of the bug:

Using the remote execution capabilities of Bazel the behavior differs between a local and a remote execution.

When using ctx.actions.symlink() one would expect that the declared file is a symlink to some sort of source.
On a local execution this is the case. On a remote execution the declare file is directly represented by the symlinked file.

Thus, the content of the

[2022-08-09 09:02] tjgq commented on #16070
`ctx.actions.symlink` actually does two completely different things, depending on whether the `output` argument is a `ctx.actions.declare_symlink` or a `ctx.actions.declare_file`. The first case indeed creates a symlink. The second case is akin to a file copy (I think it's unfortunate we decided to use the same API for both, but it's too late to change it now). This must be so because an action ca

[2022-08-09 10:00] oquenchil commented on #1920
He had success with the Starlark code in his comment on Windows. If someone wants to write a brief design doc, clean up that code, make it platform independent by using crosstools, test it and guard it by an experimental flag, then I'd be happy to merge.

[2022-08-09 10:12] fmeum commented on #16070
@castler If your actions really care about things being symlinks, you want to use `--experimental_allow_unresolved_symlinks`. Note that this flag doesn't properly work with RBE and runfiles yet - you can follow https://github.com/bazelbuild/bazel/issues/10298 for the ongoing effort to fix that.

[2022-08-09 10:16] tjgq commented on #16070
But `--experimental_allow_unresolved_symlinks` only applies to `ctx.action.symlink` with a `ctx.actions.declare_symlink` output argument, right? The provided repro is specifically about a `ctx.actions.declare_file` argument, which I believe is working as intended.

[2022-08-09 10:20] fmeum commented on #16070
@tjgq Yes, that's completely correct. I only wanted to draw attention to the fact that even `ctx.actions.declare_symlink` will not work as advertised, although it should be the right choice in the future when it has been stabilized.

[2022-08-09 12:14] castler commented on #16070
@tjgq :
My understanding is that I use the experimental feature  `ctx.actions.declare_symlink` if I want to allow _dangling_ symlinks that are created by an action. In my case I neither want that the action creates the symlink, nor that it can be dangling. Thus, given the current documentation, I would decide in any case for the combination of `ctx.actions.declare_file` with `ctx.actions.symlink`

[2022-08-09 12:26] andyrinne12 commented on #16034
Thanks for reporting that! I've tested your example on the latest `main` commit of this GitHub repo (i.e. using Bazilisk with the `USE_BAZEL_VERSION=last_green` option) and the issue seems to not be present anymore. However, your code fails because there is no repository called `@ext_module` with a rule called `:files`. After I fix these, your example works fine for me. Please let me know if you h

[2022-08-09 12:38] tjgq commented on #16070
`ctx.actions.symlink` with a `ctx.actions.declare_symlink` output can create both a dangling or a non-dangling symlink; whether it dangles depends on whether the target of the symlink exists. The only thing Bazel guarantees is that calling `readlink` on the symlink will return the target supplied to `ctx.actions.symlink` (irrespective of whether it was supplied as a `File`, via the `target_file` a

[2022-08-09 13:53] tjgq commented on #15639
@bazaglia I'd like to look into this, but reproducing it seems to be quite involved. Do you have a repro that does not require setting up a GitHub action? I wonder if a fake credentials file (i.e., with sensitive data replaced by random strings) is sufficient to trigger the issue.

[2022-08-09 14:18] benjaminp commented on #16024
#14568

[2022-08-09 14:41] paullewis commented on #16024
Woo! Thanks!

[2022-08-09 14:41] #16024 closed

[2022-08-09 16:22] russellhaering commented on #15639
@tjgq if you're interested I can set you up a GH repository to reproduce this pretty easily.

[2022-08-09 16:24] kylekurz commented on #15639
I was also able to reproduce this today as well on my production repo. I believe my instructions from https://github.com/bazelbuild/bazel/issues/14278 will still reproduce it with minimal effort.

[2022-08-09 18:02] #12897 closed

[2022-08-09 19:56] pcjanzen commented on #12897
Note that the refactoring done in 72787a1 doesn't solve this problem in all cases. Consider
[code]

In this case, objc_library's self-transition on --cpu leads to a transition on --platforms, and then ble's target platform is actually target_compatible_with macos again (regardless of the value for --platforms passed on the command line). So a toolchain is once again required.

[2022-08-09 22:27] Yannic commented on #16070
Note: on Windows, `ctx.actions.symlink` most likely always creates a copy: https://cs.opensource.google/bazel/bazel/+/master:src/main/java/com/google/devtools/build/lib/windows/WindowsFileSystem.java;l=96;drc=cff2ea55dafc57d7d2db813522942e2ee137ed08

[2022-08-10 01:16] LittleWat commented on #15985
@haxorz Thank you for your reply! I understand the current situation.

Yes, I used it like `$(location @kubebuilder-tools_darwin_amd64//:kube-apiserver)` but this outputs the relative path, not the absolute path.

So It would be necessary to get the absolute path in Go code like below, right?

[code]

[2022-08-10 02:04] UebelAndre opened #16076 "Add `arguments` parameter to `testing.TestEnvironment`"
### Description of the feature request:

I would like to write rules which contain an `args` attribute where users can define a test with unique command line arguments. I think it would make the most sense to expand [testing.TestEnvironment](https://bazel.build/rules/lib/testing#TestEnvironment) to support some `arguments` field where users can provide a list of arguments (or, stretch goal, an [Ar

[2022-08-10 03:14] philsc commented on #12897
Ah dang. Looks like the `platform_mappings` file is still triggering this issue. I will think about possible solutions.

[2022-08-10 03:20] LittleWat commented on #15985
@haxorz Thank you for your quick reply. Sorry for my lack of explanation.

Yes, currently I am writing `kubebuilder`  `suite_test.go` and my code is like the following codes;
https://github.com/GoogleCloudPlatform/elcarro-oracle-operator/blob/027de69d9655fa9f3df914cd8840fd3021ad433a/oracle/controllers/testhelpers/envtest.go#L177-L180

but I would not like to edit go codes.
Instead, I would like to

[2022-08-10 06:17] philsc commented on #15427
After bisecting, it looks like this issue was introduced in e8a99923af0a017e68afa3007eff01229df54f81 (https://bazel-review.googlesource.com/c/bazel/+/196876). @joeleba , would you happen to know what might be causing this? I haven't looked into it yet, but hope to do so in the next few weeks.

[2022-08-10 06:18] hcoona commented on #8252
ping again :'(

[2022-08-10 06:33] fmeum commented on #16076
This would be very useful. Just let me add that `testing.TestEnvironment` is simply a wrapper function around [`RunEnvironmentInfo`](https://bazel.build/rules/lib/RunEnvironmentInfo), which is the actual provider.

[2022-08-10 08:33] Genomorf commented on #4005
Any update here?

[2022-08-10 08:51] oquenchil commented on #8252
The fix is to replace this line:
https://cs.opensource.google/bazel/bazel/+/master:src/main/starlark/builtins_bzl/common/cc/cc_binary_attrs.bzl;drc=db36147bc66109cc2f34bcdb5bb8829182ef0346;l=65

with `providers = [CcInfo]`

A PR is welcome.

[2022-08-10 09:51] joeleba commented on #15427
I haven't looked super closely yet, but it's most likely the wrapping of exceptions (e.g. `TargetCompatibilityCheckException` by `ViewCreationFailedException`) that's causing this.
I hope this is just a visual thing and it's not impacting your productivity, as I unfortunately don't have the bandwidth now to treat this with urgency :(

[2022-08-10 12:21] Sam-sad-Sajid commented on #10055
@amit-traiana thanks a lot for your detailed walkthrough on the problem. It helped me a lot. I have a question. You generated the jar files and the pom files, then how did you upload them together to an artifact repository? So that the artifact can be downloaded by another java project.

[2022-08-10 12:32] #16049 closed

[2022-08-10 13:50] dabrahams commented on #13032
It's a very complicated explanation, which hurts its clarity, but (I think) at least it's unambiguous and not self-contradictory now.

[2022-08-10 13:52] dabrahams commented on #13024
It’s been too long; I can’t page the context of my request back into my brain. Sorry.

Sent from my iPhone

[2022-08-10 13:52] fmeum commented on #13032
@floriographygoth I think that the docs are missing the shorthand `@foo` for `@foo//:foo`.

[2022-08-10 14:18] haxorz commented on #15985
Sorry, I still don't see what's inherently wrong with the string "external/kubebuilder_tools/bin". Is something expecting an absolute path?

Regardless, I don't think we want to add the sort of feature you're asking for. The fact that the existing features documented at https://bazel.build/reference/be/make-variables#predefined_label_variables produce relative paths (making use of the convenience

[2022-08-10 15:14] fweikert opened #16081 "Status of Bazel 6.0.0-pre.20220804.3"
- Expected release date: 2022-08-10

Task list:

- [x] Pick release baseline: [8152657c](https://github.com/bazelbuild/bazel/commit/8152657c82b542a3da2ed39333941beefdeeeece)
- [x] Create release candidate: https://releases.bazel.build/6.0.0/rolling/6.0.0-pre.20220804.3rc1/index.html
- [x] Post-submit: https://buildkite.com/bazel/bazel-bazel/builds?branch=release-6.0.0-pre.20220804.3rc1
- [x] Push

[2022-08-10 15:58] tjgq commented on #15639
The difficult part for me isn't setting up the GitHub repository, it's configuring the GCP workload identity provider: the google.com GCP org policy forbids me from using `https://token.actions.githubusercontent.com` as the issuer URI. I'd probably need to set up a separate GCP org, but that's going to require a lot more steps that I'm not familiar with.

I do have a working theory, though: in #15

[2022-08-10 16:14] keddad opened #16083 "Bazel allows compilation of cc_library when code uses headers not listed in hdrs"
### Description of the bug:

Examples in [documentation](https://bazel.build/reference/be/c-cpp#cc_library) disallow including headers from library you are dependent on if they are not listed under hdrs. (In the example, foo.h can include bar.h, but can't include bar-impl.h since it is not listed in hdrs). However, this appears to not work properly, since BUILD file like this compiles just fine:
[

[2022-08-10 16:29] matthauck commented on #13135
Running into this as well. Some BUILD file changes seem to require `bazel clean --expunge` before the build works again. (This is obviously not a trivial thing to do for all CI nodes)

- We do override spawn_strategy on linux since we noticed `sandboxed` can be very slow inside a docker container
- We do not override spawn_strategy on windows.

We have witnessed this on both windows and linux, and

[2022-08-10 17:15] tiechengsu opened #16084 "java_binary doesn't work with runfiles"
### Description of the bug:

A `java_binary` target which depends on `java_library` with data dependency doesn't seem to work. If used with com.google.devtools.build.runfiles.Runfiles to access the runfiles, it gives the following error during [Runfiles runfiles = Runfiles.create()](https://github.com/bazelbuild/bazel/blob/6064a33b15251110421e566edd9ab55a8b426376/tools/java/runfiles/Runfiles.java#

[2022-08-10 17:22] kshyanashree commented on #15685
Hello @AustinSchuh! Just an update, as 16008 fixes the issue, it has been reviewed and merged to release 5.3.0. Thanks!

[2022-08-10 17:36] brentleyjones opened #16085 ""Build completed successfully" reported twice when using `bazel run` and second one isn't filtered with `--ui_event_filters=-INFO`"
### Description of the bug:

When a `bazel run` build completes successfully it reports the success twice in the terminal output:

[code]

When  using `--ui_event_filters=-INFO`, it still reports the extra line once:

[code]

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

On any project, run `bazel run //a:label` and note the duplicated `

[2022-08-10 20:20] philsc commented on #15427
Definitely not blocking anything. Just something I am hoping to resolve before bazel 6. I am hoping to investigate a potential solution in the next few weeks.

[2022-08-10 22:20] keith commented on #16081
FYI it seems like contributors in the release notes are broken:

[2022-08-10 23:13] Chang-Eric opened #16087 "Annotation processors are incorrectly run multiple times in android_local_test when using Kotlin"
### Description of the bug:

If two annotation processors are triggered on Kotlin sources within the same compilation target and then used as deps within an `android_local_test`, the annotation processors are incorrectly triggered multiple times. This usually results in a failure because the annotation processor hits conflicts trying to write the same file twice.

This occurs with Bazel 5.2.0, but

[2022-08-11 10:23] #16051 closed

[2022-08-11 11:56] Wyverald opened #16088 "[Mirror] googletest"
### Please list the URLs of the archives you'd like to mirror:

Just https://github.com/google/googletest/archive/refs/tags/release-1.12.1.tar.gz

Thank you!

[2022-08-11 12:51] fweikert opened #16089 "Contributors are missing from release notes of rolling releases"
### Description of the bug:

See https://github.com/bazelbuild/bazel/releases/tag/6.0.0-pre.20220112.2 for an example:
"This release contains contributions from many people at Google, as well as ."

I've checked several rolling releases, and all of them were affected by this issue.

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

_No respo

[2022-08-11 12:52] fweikert commented on #16081
Thanks, I filed https://github.com/bazelbuild/bazel/issues/16089 to track the issue (which seems to affect all rolling releases).

[2022-08-11 12:52] #16081 closed

[2022-08-11 13:43] Wyverald commented on #16034
As @andyrinne12 pointed out, this is fixed on HEAD. The fix is not trivial to cherry-pick back to 5.3.0, so we might just ask you to test with `last_green` instead. Thanks!

[2022-08-11 13:43] #16034 closed

[2022-08-11 14:08] hcoona commented on #8252
@oquenchil could you help to review it at your convenience?

[2022-08-11 15:26] aranguyen commented on #10904
Hello all, sorry for the delay, I was OOO for some time. Here is the link to the document https://docs.google.com/document/d/1l1qllOBSjj295pui_krJe-LQs2AICZmhZSROuruLsFU/edit?usp=sharing (Section Requested User Use Cases). Please feel free to add additional comments there to support the use case.

[2022-08-11 15:26] gmishkin opened #16090 "Copybara fails to build with header compilation off because of a strict deps failure that I think is a red herring"
### Description of the bug:

Projects, like copybara, that depend on bazel internals, like the Starlark parser, which depend on bazel-vendored third-party jars, like tomcat_annotations_api, fail to build because of a strict deps error (see repro steps below).

[code]

At first I thought the issue might be that `@bazel_tools//tools/distributions/distribution_rules.bzl%distrib_java_import` uses `ali

[2022-08-11 15:27] mwoehlke-kitware commented on #3359
So, I just ran into this... *Why is this even a thing*? Why is Bazel altering the permissions of the output file *at all*? Maybe that makes sense as a convenience if you're using some unusual mechanism to produce an executable (i.e. `executable = 1`), but it's just plain wrong for anything producing data files, which I suspect is a more common use case of `genrule`.

A simple, backwards-compatible

[2022-08-11 16:35] fweikert commented on #16061
We stopped supporting Ubuntu 14.04 binaries in June 2019: https://github.com/bazelbuild/bazel/commit/b6d78a5d0e9038fdf21732f6c6b98fc8379e7eb2

[2022-08-12 01:04] stabai commented on #10134
I found a suggestion to build my `go_image` using the `--toolchain_resolution_debug` flag. That made the error disappear for me, though I must admit, I don't yet have any idea why.

[2022-08-12 04:03] kshyanashree commented on #16090
Hi @gmishkin, Could you please provide the complete steps to reproduce the above request? Thanks!

[2022-08-12 04:32] gmishkin commented on #16090
@kshyanashree cloning https://github.com/google/copybara and running the command I gave should do it

[code]

[2022-08-12 05:10] stabai commented on #10134
rules_go v0.34.0 gave me the error mentioned by harsh, but v0.33.0 worked fine. I've filed https://github.com/bazelbuild/rules_go/issues/3269 in that repository.

[2022-08-12 07:09] jasaw commented on #16048
@chancila Yes you're right. In this case, I need the knowledge of target platform already compiled into the tool for execution.

Your suggestion makes sense, but it's not clear to me how to define it in bazel. Would you be able to show me using the simple example above?

Thanks in advance.

[2022-08-12 08:50] chenneal commented on #1920
I'm shocked that such a popular project doesn't support this most basic feature for 6 years！！！

[2022-08-12 10:15] oquenchil commented on #4005
I'm not sure whether it will just work, but here are the missing features that are in the internal toolchain:
https://gist.github.com/oquenchil/e6e39237b4c7b95b7b96396764b9a97c

[2022-08-12 11:01] varungandhi-src commented on #14681
I wonder if this is the same crash as the one I'm seeing in this branch: https://github.com/sourcegraph/scip-ruby/commit/49be9841dfa0920121142e288b0e272da138cb45 (includes full error + build step)

In my case, the keys are printed differently though:

[code]

I haven't tried minimizing that one, because I wasn't even sure where to start minimizing. 😬

[2022-08-12 13:09] varungandhi-src opened #16094 "Crash on using TEST_NAME as an environment variable name in rules"
### Description of the bug:

Passing an environment variable with the name TEST_NAME causes Bazel to crash. Renaming it to (say) MY_TEST_NAME fixes the issue.

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Repo with minimal example: https://github.com/varungandhi-src/bazel-crash/tree/042d1747b4e76c3e9e089cd72222bd3b5a36fdf5

Test with `b

[2022-08-12 13:09] varungandhi-src commented on #14681
@illicitonion I've filed https://github.com/bazelbuild/bazel/issues/16094 with a minimal reproducer, I think it's a different issue.

[2022-08-12 14:29] illicitonion commented on #16094
Currently bazel hard-codes setting the `TEST_NAME` env var itself. It's unclear whether whether this should be overridable - on the one hand, `TEST_NAME` isn't specified at https://bazel.build/reference/test-encyclopedia so it feels like it should be overrideable. On the other hand, other tooling may be surprised by this override.

At the very least, though, we shouldn't _crash_. Either we should

[2022-08-12 14:43] nresare commented on #14937
linux on arm64 is becoming a more mainstream platform with docker on Apple silicon macs as well as Amazon's Graviton offerings. It is unfortunate that specifying java language level 17 with the latest released versions of bazel will fail with a fairly cryptic error message "no matching toolchains found". Java 17 is an LTS release that was released almost a year ago.

[2022-08-12 14:49] kshyanashree commented on #15995
Hi @healthy-pod , As we are marking the above Issue as stale because it has not had any recent activity from many days.
It will be closed in 7 days if there is no further activity occurs. Thank you!

[2022-08-12 14:53] nresare commented on #15685
I would like to put forward https://github.com/bazelbuild/bazel/pull/16095 a trivial change to add support for java language level 17 to the linux-aarch64 platform

[2022-08-12 15:53] fweikert opened #16096 "Status of Bazel 6.0.0-pre.20220808.3"
- Expected release date: 2022-08-12

Task list:

- [x] Pick release baseline: [fe7deabf](https://github.com/bazelbuild/bazel/commit/fe7deabfa094e35a63b83e7912efeb8097c71bc8)
- [x] Create release candidate: https://releases.bazel.build/6.0.0/rolling/6.0.0-pre.20220808.3rc1/index.html
- [x] Post-submit: https://buildkite.com/bazel/bazel-bazel/builds?branch=release-6.0.0-pre.20220808.3rc1
- [ ] Push

[2022-08-12 15:56] varungandhi-src commented on #16094
Not crashing and emitting a useful error message would be a reasonable solution IMO. 👍🏽

[2022-08-12 16:44] illicitonion opened #16097 "Multiply-defined external repositories act as if the first is in use, but are reported by bazel query as if the last is in use"
### Description of the bug:

Given this WORKSPACE:
[code]

rules_go version 0.33.0 (the first defined) is actually used in the repo.

However, bazel query reports that 0.32.0 (the second defined) is in use:
[code]

This is very misleading.

I would suggest that the correct solution to this problem is to _require_ the use if `maybe` if pulling in multiple definitions of a repo, such that the above

[2022-08-12 20:52] pcjanzen commented on #16097
related: https://github.com/bazelbuild/bazel/issues/12947

[2022-08-12 21:48] det commented on #4005
Thanks for the missing features @oquenchil!

I will note the following line from the `header_module_compile` feature:

The string `crosstool-module-compilation` is not present in the Bazel or LLVM codebases. Is this likely to matter?

[2022-08-12 22:19] det commented on #4005
Another issue is that bazel is generating module maps with quoted module names which clang 14.0.1 does not seem to like when compiling a module map to a pcm (via `--features=header_modules`):
[code]

[2022-08-12 23:34] det commented on #4005
Shouldn't all those "-Xclang=-<flag>" be `-Xclang`, "-<flag>"? My clang doesn't (14.0.1) seem to recognize the former.

[2022-08-13 15:53] hawkinsp commented on #13227
@jxy if you want to send PRs to JAX and to TensorFlow with those fixes and tag me, I'll review/approve them.

The second patch to JAX can't be checked in as is: in particular, for JAX we support cross-compilation (and we rely on that for Mac ARM builds) so the CPU of the running Python interpreter may not match the target CPU.

[2022-08-14 01:46] philsc opened #16099 "Using `platform_mappings` triggers unnecessary toolchain evaluation"
### Description of the bug:

This is a follow-up to #12897. The fix (#14096) doesn't address the original problem when `platform_mappings` is in use.  When not using `platform_mappings`, there is no problem.

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Create this BUILD file:
[code]
The target is appropriately skipped on a Linux machin

[2022-08-14 01:47] philsc commented on #12897
Filed #16099 as a follow-up.

[2022-08-14 03:14] det commented on #4005
So I took the new module's configuration you posted for a spin, but I am still running into the same problem as I was previously. It's not clear what to do about module maps for libc/libc++. You can merge them into the [module_map](https://bazel.build/reference/be/c-cpp#cc_toolchain.module_map) artifact for the toolchain, but it will never be compiled by bazel. You must compile module maps which c

[2022-08-14 03:53] philsc commented on #16099
As per @pcjanzen's [comment](https://github.com/bazelbuild/bazel/issues/12897#issuecomment-1209812977), introducing the platform mapping for `--cpu=darwin_x86_64` does indeed introduce a transition to `//:macos`. This means the `//:objc` target is *not* incompatible and gets evaluated.

Still trying to figure out what is going on exactly (and _why_).

[2022-08-14 03:53] philsc commented on #16099
@gregestren , @katre , as always, ideas are welcome :grin:

[2022-08-14 09:46] m3rcuriel commented on #7059
I am in a similar problem and don't understand why `interface_library` shouldn't be able to take versioned `.so` files. It seems impossible to otherwise specify that `libfoo.so.21` should _not_ end up as a runfile.

[2022-08-14 19:05] steakknife commented on #1920
Work abandoned Bazel. They rewrote something internally using Rust. TBH I never use Bazel because it's slow, doesn't scale, and lacks sensible features.

[2022-08-15 07:50] nomanfound commented on #6196
squid can convert an authenticated proxy into a normal one without anthentication,  which can be used by bazel fetch.

[2022-08-15 14:46] elfringham commented on #16061
@sgowroji What is the reason for the 'more data needed' tag? I do not see a question being asked.

Also FWIW https://storage.googleapis.com/bazel-builds/artifacts/ubuntu1404/f440f8ec3f63e5d663e1f9d9614f05a39422102a/bazel is a valid download link, so while Ubuntu 14.04 may not be a supported platform, for some reason it works as a download link to reach the x86 artifact.

[2022-08-15 17:16] thomasvl opened #16104 "Support for Ubuntu Focal (20.*)"
### Description of the feature request:

Ubuntu Focal (20.04) came up in April 2020 - https://wiki.ubuntu.com/Releases.  Since most tooling has been supporting it for a while, seems like bazel/bazelisk should support it with packages so apt-get/etc. work instead of having to manually fetch things oneself.

### What underlying problem are you trying to solve with this feature?

Needing protobuf (wh

[2022-08-15 18:08] nresare commented on #16084
While I am no expert, it seems your expectations on the semantics of the data attribute does not line up with the features provided by the `data` attribute to the `java_binary` and `java_library` rules. The files referenced by a data attribute will be made available when `bazel run` is invoked, whether the data is added directly on the java_binary target or transitively to a java_library target.

[2022-08-15 18:58] gregestren commented on #16099
I'm unsure what the root problem is here.

i.e my quick reading is that a platform mapping sets the target to a Mac platform. So that's telling Bazel it should build the target for the Mac platform, which it would now expect to work?

Does your machine have no support for building for Mac at all? Even if you set a Mac `--platforms` at the command line?

[2022-08-15 19:19] aiuto opened #16105 "bazel tools should not use python2 any more"
Python2 is EOL.  We have our own tools and embedded ones that are still python2 & 3 compatible.  That requires us to include six in @bazel_tools.  It's bloat.

We could further remove the bloat by not using abseil for python flag parsing, but that should be another bug.

[2022-08-15 19:39] rickeylev opened #16106 "testing.ExecutionInfo not target-accessible from Starlark"
### Description of the bug:

In Starlark, a rule can return the `testing.ExecutionInfo` provider to influence execution.

However, that provider cannot be read from other targets in Starlark code. i.e. `target[testing.ExecutionInfo]` fails.

From what I can tell, this is because `testing.ExecutionInfo` is a function that creates the provider, rather than the provider constructor/key itself.

The u

[2022-08-15 19:47] philsc commented on #16099
The goal is to disable `objc_library` targets from getting analyzed on Linux. Or at least not make bazel error out when running on Linux.

It's possible that I'm misunderstanding how platform mappings work. My assumption was that the mapping is intended to translate between `--cpu` and `--platforms` options. But it _also_ appears to cause bazel to actually evaluate the `objc_library` target under

[2022-08-15 19:48] pcjanzen commented on #16099
The use case being discussed here is:

- A multi-platform repository, containing some apple targets (e.g., objc_library), and
- A platform_mappings file that is used to cause platform-specific constraints to be used in apple builds, and
- A desire to skip building those apple targets when building for non-apple platforms by using `target_compatible_with`

I.e., we want to log into a linux box, typ

[2022-08-15 19:54] gregestren commented on #16099
Yes, that makes sense @pcjanzen (and I hope that addresses your confusion  @philsc about why `objc_library` targets a different platform than you intended - it's set in a transition).

I understand your use case. Thanks for detailing it out. The challenge with this bug is that all pieces of functionality are working as intended. It's not a bug, per se. But you're showing how that can still produce

[2022-08-15 19:55] aiuto commented on #16105
cc: @ahumesky

[2022-08-15 20:18] philsc commented on #16099
Perhaps a related question is: What's the motivation behind `objc_library` performing this transition? Seems like it's making a decision that users should be making.  I.e. I would imagine, all use cases of `objc_library` can still be satisfied without this self-transition.

[2022-08-15 20:31] gregestren commented on #16099
I can't remember, but it might have - awkwardly enough - been so `bazel build //:all` works when the package includes `objc_library` targets?  i.e. there's no instance where building `objc_library` makes sense for non-Apple platforms so ensure by definition it's always building for an Apple platform.

@oquenchil do you remember?

[2022-08-15 23:01] jfirebaugh opened #16107 "`bazel clean --expunge` is sometimes necessary after installing Xcode to fix "clang: error: unknown argument: '-fno-canonical-system-headers'""
### Description of the bug:

This has been reported in various venues, but I can't find a canonical bug tracking the issue. I just saw a coworker encounter it. The problem seems to be that if you run Bazel before installing Xcode or Xcode command line tools, and then install Xcode, then builds will fail with "clang: error: unknown argument: '-fno-canonical-system-headers'" until you run `bazel cle

[2022-08-15 23:57] jefftrull commented on #10112
I too am frustrated by the absence of the `action_outs` directory that is clearly documented [here](https://bazel.build/docs/output_directories). How are we supposed to see the output produced by our compiler? Not everything is an error or warning.

[2022-08-16 04:29] AustinSchuh opened #16108 "Bazel 5.3.0 $(location :foo) disagrees with cc_binary's rpath with remote execution, regression from 5.0.0"
### Description of the bug:

I've got a sh_test which calls a binary as located by `$(location :foo)`.  See https://github.com/frc971/971-Robot-Code/blob/master/aos/network/sctp_lib_test.sh for the test, and https://github.com/frc971/971-Robot-Code/blob/master/aos/network/BUILD#L586 for the build rule.  That test is in an external repository.  I'm running it by running `bazel test @aos//aos/networ

[2022-08-16 04:30] AustinSchuh commented on #16003
Aw, @fmeum , looks like this fixed almost all of the tests except one which expects $(location) and RPATH to agree on the path to the shared libraries.  https://github.com/bazelbuild/bazel/issues/16108 is the issue since it smells different enough to be a new bug.

[2022-08-16 04:36] philsc commented on #16099
I can see the appeal of that logic before Incompatible Target Skipping. But now with Incompatible Target Skipping I would like to figure out what it would take to get rid of that behaviour. Or at least work around. I appreciate you looking at this during the next bug triage. Thanks!

Aside:
If I may be so bold, were I to propose a newer version of `objc_library` written today, I would remove the s

[2022-08-16 05:33] Silic0nS0ldier commented on #7595
Looks like the remaining experiment source has been removed in v6. https://github.com/bazelbuild/bazel/commit/1f33504af3ebe3a43aa91e607e94edc07b1807f8

[2022-08-16 05:56] kshyanashree commented on #16107
Hi @jfirebaugh, Could you please provide the complete steps to reproduce the above request? Thanks!

[2022-08-16 06:41] fmeum commented on #16099
It would feel natural to me if every `objc_library` would automatically behave as if it had `@platforms//os:macos` in `target_compatible_with` instead of transitioning to that platform. That's possible today by making it a macro, but a provider-based solution may be cleaner.

[2022-08-16 06:44] fmeum commented on #16107
Does `bazel sync --configure` fix this as well or is `bazel clean --expunge` required?

[2022-08-16 07:59] hlopko commented on #4005
Yeah, there are a couple of things happening in the snippet @oquenchil shared.

1. This is an internal toolchain that uses a a couple of clang wrappers. Those handle things like `-Xclang=-<flag>` flags or implement behavior needed for Bazel, for example ensuring that action doing header parsing creates an output.
2. This snippet relies on having `module_maps` feature (I think [this one](https://cs

[2022-08-16 09:04] fmeum opened #16109 "Java compilation always fails with strict deps errors with bzlmod"
### Description of the bug:

As of 34a4f13958ee225390af6f8450e3edad9ccf9acb, when using Bzlmod, every Java compilation fails with a strict deps error.

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[code]

### Which operating system are you running Bazel on?

Linux

### What is the output of `bazel info release`?

HEAD

### If `bazel inf

[2022-08-16 11:26] #16096 closed

[2022-08-16 11:26] fweikert commented on #16096
Abandoned due to infra problems

[2022-08-16 12:05] peakschris opened #16112 "Windows: Link DLL after LIB given exp file"
### Description of the feature request:

We have a massive codebase and one part of it has circular compile-time and link-time dependencies:

[code]

This is a massively simplified picture, in practice it's so large an issue it's not going to be fixed in my lifetime. I'm trying to figure out how to move our build to bazel. For the set of circularly dependent code, our current build first builds ob

[2022-08-16 12:31] zhengwei143 commented on #15894
I haven't tested this but, you could try a combination of [existing_rules](https://bazel.build/rules/lib/native#existing_rules) to define "top-level" targets per package (which has all the targets in its package under its transitive closure) and [subpackages](https://bazel.build/reference/be/functions#subpackages) to collect these "top-level" targets. Then construct the genquery accordingly.

This

[2022-08-16 14:24] kshyanashree commented on #15685
Hello @nresare , Just to let you know it is not possible for this release-5.3.0. We can pick it in next release. Thanks!

[2022-08-16 14:25] kshyanashree commented on #15685
Hello @nresare, Just to let you know it is not possible for this release-5.3.0. We can pick it in next release. Thanks!

[2022-08-16 14:36] kylekurz commented on #15639
@tjgq doesn't look like that branch fixes this:

[code]

Let me know if I can get you more information. I built off the tip of your branch this morning.

[2022-08-16 15:14] ittaiz commented on #7595
@meisterT can you share why it was removed?
And maybe more importantly if there is willingness to have this capability be contributed to bazel?

[2022-08-16 15:31] #13231 closed

[2022-08-16 15:31] #15679 closed

[2022-08-16 15:37] dws commented on #15685
Will there be a 5.3.0rc2 before the final release?

[2022-08-16 15:49] tndhagedorn commented on #12889
To add to @kaliaumem's point about r25 - only newer NDKs contain native binaries for Apple's M1.

This effectively forces all M1 Mac users to continue running the older NDK's x64 binaries under Rosetta, which can have a large impact on build performance.

[2022-08-16 15:55] fweikert commented on #16061
https://github.com/bazelbuild/bazelisk/releases/tag/v1.12.1 contains the fix

[2022-08-16 16:02] maapteh opened #16115 "error message is incorrect"
### Description of the bug:

When i forgot to include my own package in the workspace of a monorepo, lets asume `@mpth/foo` a fresh yarn install suddenly throws a message like:

[code]

While this is, and can not even be possible, not the real error. The real error was that i forgot to include the package `@mpth/foo` as part of our yarn install.

[code]

### What's the simplest, easiest way to rep

[2022-08-16 17:33] kshyanashree commented on #15685
Hi @dws! yes, we are going to announce 5.3.0rc2 before the final release. Thanks!

[2022-08-16 22:12] teeler commented on #14444
We ended up working around this in an aspect by inspecting `ctx.bin_path`, eg:

[code]

(h/t @rickeylev )

[2022-08-16 22:36] #15957 closed

[2022-08-17 02:09] aiuto commented on #14444
I put it back on our team so we can see it in the next triage.

[2022-08-17 02:53] teeler commented on #14444
Tony - do you think we could expose is_tool_configuration to non-builtins?

(That would help with the license aspect as well!)

On Tue, Aug 16, 2022 at 7:09 PM aiuto ***@***.***> wrote:

[2022-08-17 03:01] aiuto commented on #14444
I'm not sure why we don't expost that.  Perhaps, is_exec configuration would be more aligned with `cfg=exec`.

@katre Any thoughts?

[2022-08-17 05:40] yogurtearl commented on #7668
Related:

https://bazel.build/docs/configurable-attributes

https://github.com/bazelbuild/bazel/blame/364b77ed34afcd07d48313472e8fe3b260a8312f/src/conditions/BUILD

[2022-08-17 05:53] yogurtearl opened #16117 "Support `emulator/qemu/linux-aarch64/qemu-system-aarch64`"
### Description of the bug:

when `emulator/qemu/linux-aarch64/qemu-system-aarch64` exists in the android SDK on arm linux, bazel doesn't find it.

See here:
https://github.com/bazelbuild/bazel/blob/6621495b7510ff9599e103c04907598b672eab9f/src/main/java/com/google/devtools/build/lib/bazel/rules/android/android_sdk_repository_template.txt#L69-L76

### What's the simplest, easiest way to reproduce t

[2022-08-17 09:21] elfringham commented on #16061
Not fixed.

[2022-08-17 09:52] nresare commented on #15685
I see. Is there a branch cut for this release next release, to open PRs against?

[2022-08-17 10:26] coeuvre commented on #16054
Made a small improvement via #16118 but still the regression is not able to fix since we need lock for every inputs to deduplicate `findMissingBlobs` calls and share uploads by design.

I was using your test repo with `600,000` inputs to do the benchmarks. The benchmark was done several times for each setup. The numbers below among them are similar.

For the baseline (`4.2.2`), all the time in the

[2022-08-17 11:39] Wyverald commented on #16109
I did some more testing. The follow minimal repro case:

[code]

... already throws the same error about String being from an indirect dependency.

However, if I don't enable Bzlmod, everything compiles and runs perfectly even if I set up a source directory that contains tildes. I tried package directory names containing tildes ("//my~pkg:target"), external repos containing tildes in their path ("

[2022-08-17 11:41] moroten commented on #16054
The execution time increase I would expect is due to the recursive visitor pattern when building the Merkle tree. Now, that pattern is already part of the old `MerkleTree build`, so for this case I assume it the Merkle tree caching should not add any processing time. Looking at a real measurement would of course of interesting.

[2022-08-17 12:17] #16061 closed

[2022-08-17 14:30] tom-cnops opened #16119 "Progress updates become ever more scarce without terminal cursor control"
### Description of the bug:

[The docs](https://bazel.build/docs/user-manual#--progress_report_intervaln) for the option `--progress_report_interval=n` read:
`This option sets the reporting frequency, progress will be printed every n seconds.`

But this seems to not work when Bazel can not update the terminal output in place. The delay between progress updates grows linearly as time increases.

I

[2022-08-17 14:45] kshyanashree commented on #16115
Hi @maapteh, Could you please provide the complete steps to reproduce the above request? Thanks!

[2022-08-17 15:14] andyrinne12 commented on #14632
I've drafted a [design doc](https://docs.google.com/document/d/15r7LjASBX4oPOos52w9OBPmfk8zwR1jwwdW5xUZMeK8/edit#) for this feature.
Feel free to leave comments on what you think!

[2022-08-17 15:42] yskan commented on #12029
For those still looking for a solution to this problem: it is proably related to the fact that in the installations of Windows that have `bash.exe` map to WSL, the normal windows paths are not recognized by WSL and so in `third_party/py/python_configure.bzl` the `_check_python_bin` fails. You have to translate the paths between Windows and WSL (bash) using the `wslpath` util.

[2022-08-17 16:31] cushon commented on #16109
With `--experimental_enable_bzlmod`, it's using a different JDK version

[code]

vs

[code]

Strict Java Deps depends on a bug fix in JDK 11: https://github.com/bazelbuild/bazel/issues/14533.

With `--experimental_enable_bzlmod`, it's also passing `--patch-module=` flags that are supported to patch in a javac version with a bug fix. We removed that work-around as part of the bug I linked. I'm susp

[2022-08-17 16:32] kshyanashree commented on #15685
Hi @nresare! Not as of yet, we will be cutting the branch for next release after this release. Thanks!

[2022-08-17 16:45] FaBrand commented on #13821
I encountered the same issue with the `build --noshow_progress` option.

With `bazel test --nobuild` the message `ERROR: Couldn't start the build. Unable to run tests` gets hidden.

However i can always get a very short glimpse of it when i run the command.

@philwo I would argue there are two:
1) The error message is probably being removed by some shell outputs.
    Bazel returns 1 but the error

[2022-08-17 16:52] Wyverald commented on #16109
Hmm... interesting how this bug only surfaces with the tildes, then.

With Bzlmod enabled, the remote JDK is coming from rules_java 5.0.0, which is the latest release version, but doesn't contain https://github.com/bazelbuild/rules_java/commit/36a7611fd6ac6bf6970e1c4dff57a6e43e91c47e, which updates the JDK versions to match what Bazel uses itself (without Bzlmod, that is).

So we should be good if

[2022-08-17 18:24] ahumesky opened #16120 "Android java8_legacy_dex depends on dx, and dx is no more"
This needs to be moved to D8:
https://github.com/bazelbuild/bazel/blob/ff311f618a602c15f5848a317561934b0154132b/tools/android/BUILD.tools#L222-L228

This is the last piece of the Android rules which depends (by default) on dx.

[2022-08-17 18:31] fweikert opened #16121 "Status of Bazel 6.0.0-pre.20220810.1"
- Expected release date: 2022-08-17

Task list:

- [x] Pick release baseline: [5767cba4](https://github.com/bazelbuild/bazel/commit/5767cba4044c2bfd8a4c9596c44d2363630b489d)
- [x] Create release candidate: https://releases.bazel.build/6.0.0/rolling/6.0.0-pre.20220810.1rc1/index.html
- [x] Post-submit: https://buildkite.com/bazel/bazel-bazel/builds?branch=release-6.0.0-pre.20220810.1rc1
- [x] Push

[2022-08-17 19:37] adam-azarchs commented on #15013
Recently, for our internal use cases, I implemented a `git_http_archive` rule.  It's more or less a copy/paste of the [bundled http_archive rule](https://github.com/bazelbuild/bazel/blob/0177837453d54d6c0243f82eb2b5d5cc84250fd8/tools/build_defs/repo/http.bzl#L355) with a modified [`_get_auth`](https://github.com/bazelbuild/bazel/blob/0177837453d54d6c0243f82eb2b5d5cc84250fd8/tools/build_defs/repo/h

[2022-08-18 11:05] fweikert commented on #16121
The failing presubmit job is because of a deleted target.

[2022-08-18 11:36] vkresch commented on #701
@mfarrugi thanks for your example. This works when I am using pybind11. Meaning if I want to call C++ functions via python this works. But how about the other way around call python functions from C++. Can I do this then:

[code]

I tried this approach for pybind11 but the problem is here with the third party packages which do not get imported correctly since they are used in the data argument of

[2022-08-18 12:04] liyuyun-lyy commented on #15519
Agree. The description of the [document](https://github.com/bazelbuild/bazel/issues/7480) is quite confusing. Actually, we don't need to specify the spawn_strategy because the  default strategy is already `--spawn_strategy=remote,worker,linux-sandbox`.
However, it has nothing to do with `--remote_local_fallback`, and it cannot replace `--remote_local_fallback_strategy`. I'm surprised to find out t

[2022-08-18 12:05] tjgq opened #16122 "incompatible_disallow_symlink_file_to_dir"
Currently, `ctx.actions.symlink` allows symlinking a file into a directory (i.e., by passing a file as the `output` parameter and a directory as the `target_file` parameter). This confuses other parts of Bazel and makes it difficult to fix e.g. #15678.

When the `--incompatible_disallow_symlink_file_to_dir` flag is flipped, attempting to create such a symlink will result in an error:

[code]

The

[2022-08-18 12:57] fmeum opened #16124 "Implement "Locating runfiles with Bzlmod" proposal"
The ["Locating runfiles with Bzlmod" proposal](https://github.com/bazelbuild/proposals/blob/main/designs/2022-07-21-locating-runfiles-with-bzlmod.md) consists of the following individual steps:

* [x] ~Add the `RunfilesLibraryInfo` provider (#16125)~
* [x] Collect repository names and mappings of the transitive closure of a target (#16278)
* [x] Emit a repository mapping manifest for every executa

[2022-08-18 12:58] fmeum commented on #16124
@Wyverald Could you assign me and add the appropriate labels?

[2022-08-18 14:58] jiridanek commented on #12124
@createyourpersonalaccount I have the same problem now, also on Fedora 36. Trying to build for example this target in bazel itself

[code]

I can fix this by making the cache directory accessible from sandbox, by adding the appropriate parameter (as discussed in the previous comments on this issue), covering all the paths that the build desires write access to

[code]

(If I did not create .ccache

[2022-08-18 15:00] #16121 closed

[2022-08-18 16:30] dhalperi opened #16127 "`bazelrc` flag for `coverage --instrumentation_filter` is ignored"
### Description of the bug:

If you have something like `coverage --instrumentation_filter=-//foo`, then run `bazel coverage //bar`, the `--instrumentation_filter` value is ignored.

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

1. Check out this code: https://github.com/batfish/batfish/pull/8480
2. `cat .bazelrc` to confirm that `covera

[2022-08-18 16:56] doronrosenberg commented on #10134
I am getting a different error:

[code]

[2022-08-18 18:11] tpudlik opened #16128 "The `label_flag`, `label_setting` rules have no reference documentation"
### Description of the bug:

The `label_flag` and `label_setting` built-in rules are discussed in https://bazel.build/extending/config#label-typed-build-settings, but have no reference documentation listing their attributes. It should probably be documented at https://bazel.build/reference/be/general. Only by searching around the internet for code examples did I find, for example, that the `label_

[2022-08-18 20:48] c-parsons opened #16129 "sha256 sum for bazel_nojdk for 5767cba4044c2bfd8a4c9596c44d2363630b489d"
Similarly to https://github.com/bazelbuild/bazel/issues/15582 , I have noticed that the most recent Bazel [prerelease commit](https://storage.googleapis.com/bazel-builds/metadata/5767cba4044c2bfd8a4c9596c44d2363630b489d.json) does not match its checksums.

[2022-08-18 21:01] dws commented on #15685
I see that https://releases.bazel.build/5.3.0/rc2/index.html exists and is dated yesterday (2022-08-17) but I have not seen an announcement email.
Are these the official rc2 bits?

[2022-08-18 21:03] c-parsons commented on #16129
For what it's worth the last full release (5.2.0) and it's associated baseline 8d66a4171baddcbe1569972f019e54130111202c are both fine (sha256 sum matches).

[2022-08-18 21:12] uhthomas opened #16130 "http_file is missing the integrity attribute"
### Description of the feature request:

`http_archive` has an attribute called `integrity` which can be used instead of `sha256` for file verification. The attribute is missing from `http_file`. There is no technical reason for this as both `repository_ctx.download` and `repository_ctx.download_and_extract` support the `integrity` attribute.

### What underlying problem are you trying to solve wi

[2022-08-18 23:46] radvani13 commented on #12889
Hi Thank you all for your inputs and I am trying to work internally on this issue.

[2022-08-19 00:05] cpsauer commented on #12889
Thanks, Rhadika!

[One other exciting thing expected to come with these releases, continuing into r26: [A much improved story around backwards compatibility!](https://github.com/android/ndk/issues/837#issuecomment-1217276995)]

[2022-08-19 02:52] liyuyun-lyy opened #16132 "`--remote_local_fallback` lead to undeclared inclusion"
### Description of the bug:

As said in #15519, the default strategy for `--remote_local_fallback` is local, which will cause build failure and report `undeclared inclusion`. When remote_execution with clang is failed, Bazel will fallback to local strategy, find the old cache file, which is a dependency file hello.pic.d, and upload it to Buildfarm cache directly. Then Bazel looked into the .d file

[2022-08-19 04:40] madnik commented on #8222
https://github.com/bazelbuild/bazel/blob/b1be758019487d4b5dd93d46e69e216f5a7b8457/tools/build_defs/repo/git_worker.bzl#L58

The current implementation fall back to `shallow = "--depth=1"` if shallow_since is not defined.
This warning becomes unnecessary noise if I only define commit intentionally.

[2022-08-19 07:35] wangruitang opened #16133 "how to switch to compiling with g++.exe from microsoft cl.exe?"
hey, there!
when i tried to build the tcmalloc/testing:hello_main target, cl.exe was used and an error: D8021: invalid parameter “/Werror” appeared.
so, i want to switch to g++, instead of cl.
i've installed MinGW-w64, and i could use g++ in terminal or CMD.
i tried reinstall bazel but it does't work. bazel still uses cl.exe.
if anyone knows how to switch, please tell me or just post a link, thank

[2022-08-19 09:10] maapteh commented on #16115
@kshyanashree is there maybe a template for showing it in code? Since most of our setup is private it will take me some time to create one, so a scaffold will help.

[2022-08-19 10:09] #7849 closed

[2022-08-19 12:01] #16109 closed

[2022-08-19 12:49] #16130 closed

[2022-08-19 15:29] #15967 closed

[2022-08-19 15:49] fweikert opened #16134 "Status of Bazel 6.0.0-pre.20220816.1"
- Expected release date: 2022-08-19

Task list:

- [x] Pick release baseline: [70ccf591](https://github.com/bazelbuild/bazel/commit/70ccf591f21e0c0148554244b34f02869abb7d7b)
- [x] Create release candidate: https://releases.bazel.build/6.0.0/rolling/6.0.0-pre.20220816.1rc1/index.html
- [x] Post-submit: https://buildkite.com/bazel/bazel-bazel/builds?branch=release-6.0.0-pre.20220816.1rc1
- [x] Push

[2022-08-19 15:50] katre commented on #15847
Unfortunately I can't work on this further without being able to reproduce it. I'm going to lower the priority and mark this as triaged until you can get back to us.

[2022-08-19 15:56] katre commented on #14444
There has been some discussion about how to handle exec transitions with Starlark flags: this would handle the issue of `--stamp` if `--stamp` were a Starlark flag. @gregestren, can you provide an update or a link to an issue?

However, `--stamp` is a native flag, and we already have support for that, and are in fact doing that: https://cs.opensource.google/bazel/bazel/+/master:src/main/java/com/g

[2022-08-19 16:09] JaredNeil commented on #12635
https://github.com/bazelbuild/bazel/commit/f0c32de0823307ec293a882af6a9c7a48631d33b does seem to fix the issue in some cases. The publish step still fails if the test is cached completely. I've updated the repro gist to run the test before the clean instead of just building the data.

[2022-08-19 17:12] katre commented on #16048
I am confused by this: your tool (the code generator) can run on a given platform (which would be the exec), but needs to be built differently based on the target platform it will be used for?

We don't have explicit support for this case (and, honestly, it's a little confusing to me). My suggestion would be to either encode whatever changed behavior you need behind a flag, so that your rule can p

[2022-08-19 17:16] tjgq commented on #15639
I was able to repro this today. It looks like there's a bug in the `google-auth-library-oauth2-http` library. I've sent https://github.com/googleapis/google-auth-library-java/pull/984 to fix it.

[2022-08-19 17:18] inazarenko opened #16136 "Support prepending destination path in http_archive."
### Description of the feature request:

Add a parameter (e.g. `add_prefix`) to `http_archive` that would cause the downloaded archive to be unpacked into `repo_path/prefix` directory.

`download_and_extract` already supports that through its `output` parameter, so the implementation changes are minimal.

### What underlying problem are you trying to solve with this feature?

Many 3-rd party C++ l

[2022-08-19 17:29] fweikert commented on #16134
Post-submit is ok; Windows failure is due to a deleted target.

[2022-08-19 18:11] #16134 closed

[2022-08-19 18:54] fmeum commented on #14444
@katre Whenever I thought I wanted `ctx.is_tool_configuration`, what I really wanted was a way to specify how a Starlark build setting's value changes when transitioning to the exec configuration. It would be great to have APIs for that.

[2022-08-19 20:50] jfirebaugh commented on #3886
Yes, this is still an issue. We run Bazel on CircleCI at Figma and have encountered this.

[2022-08-19 20:53] alexeagle opened #16138 "Promote experimental_reuse_sandbox_directories to stable"
### Description of the feature request:

https://github.com/bazelbuild/bazel/commit/1adb51287f5826ac1a8b469c417780c84ea4b467 introduced this flag.

It has been useful to fix performance problems in actions that have a large number of inputs, such as JavaScript https://github.com/bazelbuild/bazel/issues/8230#issuecomment-1129264658 and C++ with a hermetic sysroot https://github.com/aspect-build/gcc

[2022-08-19 22:50] alexeagle commented on #16138
/cc @larsrc-google

[2022-08-20 00:17] jfirebaugh opened #16139 "Unexpected results with select that mixes config_setting_group and config_setting"
### Description of the bug:

A `select` with some labels that refer to a `config_setting_group` and some labels that refer to a `config_setting` seems to never resolve to the `config_setting_group`, even when the same condition matches in other `select`s.

If Bazel considers such a combination ambiguous, it should say so. Although this behavior happens even in situations where I would consider the

[2022-08-20 00:38] jfirebaugh commented on #3886
Here's our workaround:

[code]

[2022-08-20 07:24] wangruitang commented on #16133
at the begining, g++ had not been installed and i installed bezal.
so cl.exe was used as default compiler, i guess.
then i want g++.exe to be default, so i reinstalled bazel. but it's doesn't work.
i also deleted the environment variable of cl.exe and installed g++(filled in the PATH environment variable)
but bazel still uses cl.exe as default.
that confuses me and i've tried checking out many doc

[2022-08-20 07:31] fmeum commented on #16133
You could try `bazel sync --configure`, which let's Bazel repeat the compile search.

[2022-08-20 09:24] wangruitang commented on #16133
i found this in `windows_cc_toolchain_config.bzl` :
[code]

so i tried to change it to return false, maybe it won't use cl.exe(MSVC) again i guess.
but after i change it, bazel rejected to work and ask me to reinstall bazel.
so i think, bazel use MSVC as default in Windows.
and i don't know how to change it.

i tried, and bazel use cl.exe still.@fmeum

[2022-08-20 15:20] teeler commented on #14444
@katre a small anecdote to illustrate my difficulty.

is_tool_configuration (or something like it) is critical to understanding license compliance as it propagates through the graph.

Dependencies can carry different license obligations depending on how they're used. For example, as a compiler versus a runtime library (most compilers do not impose their licenses onto artifacts they produce, but we

[2022-08-21 10:28] blindpirate commented on #13185
According to https://github.com/bazelbuild/bazel/commit/a445cda122cb1214cc7c5beb0c1e944dfd9a0c59 , `--experimental_split_coverage_postprocessing` seems to depend on `--experimental_fetch_all_coverage_outputs`, it works for me if I enable the two flags together.

The error message should be more explicit, though.

[2022-08-22 10:55] ybagarka1 commented on #9223
I am also looking for this feature. Any update on this ?

[2022-08-22 11:05] ybagarka1 opened #16141 "Passing wrapper command to compile command"
### Description of the feature request:

Hi,

For doing the static code analysis we need to pre append a command before the compiling options in bazel.

### What underlying problem are you trying to solve with this feature?

Unable to pass the wrapper command for compiling the code.

### Which operating system are you running Bazel on?

Linux

### What is the output of `bazel info release`?

relea

[2022-08-22 12:27] trungnhat-incoder opened #16142 "Building tensorflow with tensorRT support on Windows"
### Description of the bug:

I'm trying to build TensorFlow with TensorRT support on Windows 11.
Devices specs:
Windows 11 Pro
GPU: NVIDIA Quadro P1000
RAM: 16GB
CUDA SDK Version: 11.2
cuDNN version: 8.1 (for cuda 11.2)
Build tool: MSVC build tool 2019 (latest version from VS Installer)
TensorRT version: 8.2
**I've gotten no issue when configure the build:**
d:\Nghich\tensorflow>python ./configure

[2022-08-22 13:52] Wyverald opened #16143 "Allow one module extension to `load` and use labels from a repo generated by another module extension"
Right now, module extensions cannot `load` or otherwise use any labels from a repo generated by another module extension. This would cause a cycle in Skyframe evaluation since any `load`s of a label from an extension-generated repo would request evaluation of all extensions (ModuleExtensionResolutionFunction).

Technically, this isn't strictly necessary: when a `load` from an extension-generated r

[2022-08-22 13:53] Wyverald commented on #16143
cc @fmeum

[2022-08-22 15:05] Wyverald opened #16144 "Allow usage of `download{,_and_extract}` and `file` in `module_ctx`"
So far we haven't allowed `download`, `download_and_extract`, or `file` in `module_ctx` (those methods are only present in `repository_ctx`). There is a real need for them, according to module extension authors -- for example, downloading prebuilt tool binaries. So we should look into adding these methods to `module_ctx`.

[2022-08-22 15:17] beasleyr-vmw opened #16145 "dynamic execution: tree artifact intermittently contains .tmp files"
### Description of the bug:

We are trying to prove out an internal Buildfarm deployment. One of my builds fails intermittently because tree artifacts _sometimes_ contain errant `.tmp` files. Sometimes the `.tmp` files are identical to the non-`.tmp` counterpart, but other times they are significantly smaller as if a download was interrupted (e.g. 1MiB instead of 7MiB).

- We're using dynamic exec

[2022-08-22 16:13] meteorcloudy commented on #14848
@fmeum Thanks for pointing out that! I think that sounds like the solution.
@gregestren Do you think adding such a flag is acceptable?

[2022-08-22 17:19] beasleyr-vmw commented on #16145
Here's something I don't yet understand:

In [RemoteExecutionService.downloadOutputs](https://github.com/bazelbuild/bazel/blob/5.2.0/src/main/java/com/google/devtools/build/lib/remote/RemoteExecutionService.java#L1036-L1038), there's a call to `lockOutputFiles` to prevent collision between the local and remote execution strategies. However, as far as I can tell, there are no `catch` expressions an

[2022-08-22 18:00] beasleyr-vmw commented on #16145
Actually, I'm not sure if it's at all safe for the remote branch to write to the output root _until_ it acquires the "lock".

- Suppose ActionA declares a tree artifact output, OutputDir.
- Suppose the contents of OutputDir are file1.txt and file1.txt.tmp.
- The remote strategy will download these two files as file1.txt.tmp and file1.txt.tmp.tmp.
- However, that first download will collide with th

[2022-08-22 18:14] haxorz commented on #15893
Hi, I'm the lead of the team responsible for the `team-Core` GitHub label (and the associated "Core" part of Bazel).

I'm going to reject this FR from a technical perspective. My reasoning is below. I understand the product-land motivation and merits of the FR though. If you want to pursue those I recommend filing a separate GH issue (that doesn't get routed to `team-Core`), or just reopen this on

[2022-08-22 18:15] #15893 closed

[2022-08-22 19:08] dhalperi commented on #16127
I suspect this is actually user error.

I found an old `coverage --instrumentation_filter` setting in my `~/.bazelrc`, and I guess that:

1. the `~/.bazelrc` was applied first and defaulted the flag
2. multiple applications of the flag are not merged, but the later ones are ignored
3. ignored flags are not reported by bazel, so I didn't notice. I think there is an existing issue for adding a warni

[2022-08-22 19:08] #16127 closed

[2022-08-23 04:18] uri-canva opened #16147 "`site/en/build` and `site/en/BUILD` make it hard to develop bazel on case insensitive filesystems."
### Description of the bug:

https://github.com/bazelbuild/bazel/commit/3697ca55b04ce308d8afcfeeee6bbea14ff9dbb4 introduced a conflict on case insensitive filesystems, since there is now a directory `site/en/build` which conflicts with the build file `site/en/BUILD`.

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Check out https://github

[2022-08-23 05:22] trungnhat-incoder commented on #16142
Thanks for your answer! I've checked that post and it seams isn't same as my issue. I still work around but can't find any idea to fix, may be TensorRT is just experimental on Windows is the problem.

[2022-08-23 09:09] ybagarka1 commented on #16141
@sgowroji Sure, We are trying to use a tool called Testwell CTC++ for MC/DC reports. I order to get these reports we need to instrument the code using ctcwrap utility. This utility needs to be pre-appended to the existing compiler commands. As per my understanding we don't have such mechanism in bazel to append something before the compiler commands. It would be good to have this feature or a work

[2022-08-23 09:26] trungnhat-incoder commented on #16142
Yes, definitely. My issue seems  hasn't occurred before

[2022-08-23 09:30] Wyverald commented on #16142
Please file this issue in the TensorFlow repo.

[2022-08-23 09:34] trungnhat-incoder commented on #16142
Yes, definitely. I've tried to re-setup the environment to build but still stuck there.

[2022-08-23 09:36] #16142 closed

[2022-08-23 09:45] larsrc-google commented on #16119
`show_progress_rate_limit` is also involved. The [option description](https://github.com/bazelbuild/bazel/blob/96ed590939798d24848bd6d7fc99a45b6c2932de/src/main/java/com/google/devtools/build/lib/runtime/UiOptions.java#L126) says it's a _minimum_ time. The [docs](https://bazel.build/docs/user-manual#show-progress-rate) say it's a fixed interval.

[2022-08-23 10:19] #16136 closed

[2022-08-23 10:20] Wyverald commented on #16147
@fweikert what do you think we should do here?

also cc @philomathing

[2022-08-23 12:24] nfuller opened #16149 "Maven download failure reason not clear"
### Description of the bug:

Please see: https://github.com/google/conscrypt/issues/1080

TL;DR - bazel wasn't able to automatically resolve / download an architecture-dependent jar and there were no errors reported that made it obvious what was going wrong. I've provided more info and a repro case linked to the conscrypt issue above.

The conscrypt team suggested the logging could be improved in

[2022-08-23 12:32] larsrc-google commented on #16138
I've had no problems with it, so yes, it could reasonably be flipped.

[2022-08-23 12:36] Wyverald commented on #16149
If I'm reading this correctly, this is a feature request for rules_jvm_external. Please file the issue in that repo (https://github.com/bazelbuild/rules_jvm_external).

[2022-08-23 12:36] #16149 closed

[2022-08-23 12:42] meteorcloudy commented on #16129
Rerunning the pipeline fixed the pipeline, the info in https://storage.googleapis.com/bazel-builds/metadata/5767cba4044c2bfd8a4c9596c44d2363630b489d.json is correct now, but we can keep this open for now until we figure out what's the root cause of this problem.

[2022-08-23 12:43] meteorcloudy commented on #16129
Moving this issue to the CI repo since this isn't a bazel bug.

[2022-08-23 12:43] #16129 closed

[2022-08-23 12:52] tpasternak opened #16150 "`prelude_bazel` definitions not included in `bazel info build-language` output"
### Description of the bug:

`bazelisk info build-language` provides information about rules and attributes that is very useful for external tools (in particular, the official IntelliJ Plugin). Unfortunately it ignores the rules defined in `tools/build_rules/prelude_bazel`.

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

## Project struct

[2022-08-23 13:10] #15685 closed

[2022-08-23 13:52] kshyanashree commented on #15685
5.3 is now out!

@petemounce @excitoon [@vbatts](https://github.com/vbatts) Could you please update relevant package managers? Thanks!

[2022-08-23 14:25] brentleyjones opened #16151 "`--incompatible_remote_build_event_upload_respect_no_cache` still uploads some `no-cache` outputs"
### Description of the bug:

Some test target outputs are still uploaded to the cache even when `--incompatible_remote_build_event_upload_respect_no_cache` and `--modify_execution_info='.*=+no-remote'` are set. rules_apple tests upload the binary and the zip, and `swift_test` has the runner uploaded (which it shouldn't), but not the binary...

### What's the simplest, easiest way to reproduce this

[2022-08-23 14:25] brentleyjones commented on #16151
cc: @coeuvre

[2022-08-23 15:17] dan-cohn-sabre commented on #15685
@ckolli5 I don't see this listed in the 5.3 [release notes](https://blog.bazel.build/2022/08/23/bazel-5.3.html). Can you confirm the fix has been included? Both #15762 and #15865 are still open.

[2022-08-23 15:50] sluongng commented on #12349
@coeuvre @ulfjack I am running into this problem right now where my user have a buggy / flaky `genrule` that could hang the build forever. I really want to have a global flag that enforce a certain timeout duration on all actions (especially build actions) if possible.

It seems like in this issue, the solution is deviating toward using `exec_requirements`. After having review the execution requir

[2022-08-23 15:56] brentleyjones commented on #16151
It's a git clone. I've changed the command to use https for easier use for people that don't have ssh keys setup on GitHub.