[2018-11-15 19:55] brandjon opened #6689 "Protobuf doesn't build under `--all_incompatible_changes` yet Bazel does"
The latest tagged version of protobuf is v3.6.1, but this version does not build under `--all_incompatible_changes` due to `--incompatible_package_name_is_a_function` failures in it's `//protobuf.bzl`. Despite this, I see that we currently depend on v3.6.1 via a `new_local_repository` rule.

I'm not familiar enough with our use of protobuf to understand why we're still able to build Bazel itself w

[2018-11-15 20:06] acozzette commented on #6675
I hesitate a bit to do another minor release for 3.6. The problem is just that even releases with tiny changes are a lot of work, because our release process isn't fully automated yet and we usually have to build and publish many artifacts.

But in this case is it correct that the only changes we need are just edits to a `BUILD` file and `.bzl` file? If that is true then maybe we could get away wi

[2018-11-15 20:07] Profpatsch opened #6690 "--no-as-needed, not -no-as-needed"
From `tools/cpp/unix_cc_configure`:

[code]

There is no `-no-as-needed` option to `ld`. That translates to `--nmagic --output=-as-needed` if I read the manpage correctly. Gotta love optparse.

@mhlopko, you might want to change this.

[2018-11-15 20:33] brandjon opened #6691 "Add test that incompatible flags are documented on backward-compatibility.html"
According to our incompatible change process, `--incompatible_*` flags are supposed to be documented on the [Backward Compatibility page](https://docs.bazel.build/versions/master/skylark/backward-compatibility.html). Yet there are a dozen or so flags missing from this page (code search for uses of `OptionsMetadataTag.TRIGGERED_BY_ALL_INCOMPATIBLE_CHANGES)`.

We should add an integration test that

[2018-11-15 20:34] brandjon commented on #6691
Since I'm messing with labels in a bug assigned to another team I suppose I should set untriaged...

[2018-11-15 20:37] laurentlb commented on #6691
@dslomov wanted to use GitHub bugs as the source of truth. It's not clear whether everything should be documented on that page.

(instead of an integration test, an alternative idea is to generate that page from the source code)

[2018-11-15 20:40] brandjon commented on #6691
Ooh, I like auto generating. I mean, I hate writing documentation inside java files and especially java strings, but it's better than things getting out of sync as the number of flags we have explodes.

There needs to be a centralized place to see all changes. Worst case scenario that's a `bazel help` invocation of some form. But ideally there's a nice place to go for hand-holding and an estimated

[2018-11-15 21:31] cushon commented on #5723
Yep. However it's blocked on #6316. The JDK 11 javac needs a JDK 11 `--host_javabase`, so in order to provide a JDK 11 javac without regressing support for earlier `--host_javabase` versions, we're planning to decouple the Java tools (including javac) from the Bazel distribution so you can select the appropriate version.

[2018-11-15 22:09] ittaiz commented on #2414
+1
I use the zipper currently
On Thu, 15 Nov 2018 at 19:18 P. Oscar Boykin <notifications@github.com>
wrote:

[2018-11-15 23:05] benjaminp commented on #6690
For GNU ld, the manpage states "For options whose names are multiple letters, either one dash or two can precede the option name"...

[2018-11-16 00:57] cushon commented on #6683
Consider using [AutoService](https://github.com/google/auto/tree/master/service#autoservice) for this. It's an annotation processor that generates the `META-INF/services` files for you.

It's not possible using attributes on `java_library`, but if it's necessary to have full control over the resource layout you can generate a separate `.jar`, add it to the build using `java_import`, and then add t

[2018-11-16 03:59] DavinciHW commented on #6677
@meteorcloudy Thank you for your reply.
Here is my WORKSPACE file
[code]
and BUILD file
[code]
and execute command (I have removed all .bazelrc files and bazel cache)
[code]
a 50M op_interface.so file was produced.

Then I cd to ../../third_party/tensorflow/tensorflow-1.8.0/tensorflow-1.8.0 and remove all caches，Copy my BUILD file to here and remove "@org_tensorflow", Now tensorflow's BUILD file i

[2018-11-16 04:58] benjaminp commented on #5723
You can almost get Bazel itself to build wtih Java 11 using the vanilla toolchain. However, it fails because the vendored jarjar uses an old version of asm. Is there a plan update that?

[2018-11-16 05:12] cushon commented on #5723
@benjaminp Bazel at head is using ASM 7: https://github.com/bazelbuild/bazel/commit/f4a35eb934dc4a6ac3439830c1d09c7794d14496

[2018-11-16 05:18] benjaminp commented on #5723
Right, the problem is jarjar:
[code]

[2018-11-16 05:33] cushon commented on #5723
That error message is referring to the API level, not the library version: #6692

[2018-11-16 05:43] ittaiz commented on #6683
Also another option is to use a genrule with the zipper from bazel_tools
On Fri, 16 Nov 2018 at 2:57 Liam Miller-Cushon <notifications@github.com>
wrote:

[2018-11-16 07:59] lberki commented on #4665
I'd just clone https://github.com/lberki/bazel/commit/62e5daa586bf165b6a75cde85baec6399bcfefb0 and build it. Patching on top of 0.19.1 works, too.

[2018-11-16 08:30] DavinciHW commented on #6677
The situation became clear, and I simplified my work the most, remove BUILD file and modified WORKSPACE file to the following：
[code]

I then modified the BUILD file in the tensorflow source directory （../tensorflow），
[code]
I tested three scenarios：
- In my workspace dir
[code]
This creates a 700M .so file

- in the tensorflow source directory
[code]
This creates a 125M .so file

- in the tensorf

[2018-11-16 10:45] aehlig commented on #6502
Thinking about it again, this is probably not enough, but making
`fetch` support `--loading_phase_threads` is probably a good idea
anyway, as fetching does have a loading phase.

--
Klaus Aehlig
Google Germany GmbH, Erika-Mann-Str. 33, 80636 Muenchen
Registergericht und -nummer: Hamburg, HRB 86891
Sitz der Gesellschaft: Hamburg
Geschaeftsfuehrer: Paul Terence Manicle, Halimah DeLaine Prado

[2018-11-16 11:56] irengrig commented on #6677
This may be related to .bazelrc settings, for example, this part:
`# Modular TF build options
build:dynamic_kernels --define=dynamic_loaded_kernels=true
build:dynamic_kernels --copt=-DAUTOLOAD_DYNAMIC_KERNELS
`
if you run the configuration script for TF (not sure if it runs automatically), then the parts of script from //tools seem to be copied.

So it will be a good idea to check what .bazelrc fi

[2018-11-16 12:03] irengrig commented on #6680
cc @laszlocsomor please help

[2018-11-16 12:04] DavinciHW commented on #6677
@irengrig Thank you very much, actually, to prevent inconsistencies, I deleted all the.bazelrc files.

[2018-11-16 12:05] irengrig commented on #6681
P1 because I consider this important feature.

[2018-11-16 12:06] DavinciHW commented on #6677
[code]
A configuration like this seems likely to be the cause of the problem, but is there anything else besides. Bazelrc that can affect build parameters?

[2018-11-16 12:10] DavinciHW commented on #6677
It does seem like "core:all_kernels" build target causing this problem, because when I compile within the tensorflow source directory and don't rely on "_impl" packages, links will fail.

[2018-11-16 12:13] ittaiz commented on #6502
How does it help? (Might explain why it’s not enough)
On Fri, 16 Nov 2018 at 12:45 Klaus Aehlig <notifications@github.com> wrote:

[2018-11-16 12:22] lberki commented on #6681
No can do, at least not with the urgency that P1 bugs need although I do agree that we should do this eventually.

[2018-11-16 12:33] irengrig commented on #6677
I have an idea: could you add an intermediate input to your target, for printing the setting about dynamic kernels?
For that, from a custom Starlark rule you can call this function:
`def if_dynamic_kernels(extra_deps, otherwise = []):
    return select({
        str(Label("//tensorflow:dynamic_loaded_kernels")): extra_deps,
        "//conditions:default": otherwise,
    })
`
defined in TF's build_

[2018-11-16 12:46] aehlig commented on #6502
OK, I looked at the code again. The situation is the following.
- for `bazel build` the number of threads during load is determined by the `--loading_phase_threads` option,
- for `bazel fetch` it is [200](https://github.com/bazelbuild/bazel/blob/4ecca18cfaf2c15cb87b793d6e420473ba161734/src/main/java/com/google/devtools/build/lib/bazel/commands/FetchCommand.java#L104), and
- for `bazel sync` it is

[2018-11-16 13:20] irengrig commented on #6682
Thank you for reporting the problem.
I would guess that we may need more information here, as I find the exception not descriptive enough.
1 Do you know if it is a regression from previous Bazel version?
2 Is the failure specific to the invoked test, or does it always fail with any of them?

[2018-11-16 13:23] laszlocsomor commented on #6680
Could you elaborate please? When is it not easy to use the outputs of one genrule from another? Could you show an example and point out what is happening vs. what you expect / wish for?

[2018-11-16 13:37] ittaiz commented on #6502
My 2c:
1. Unification is a good idea.
2. Bazel should allow limiting only fetching external repositories.

On Fri, 16 Nov 2018 at 14:46 Klaus Aehlig <notifications@github.com> wrote:

[2018-11-16 13:49] dslomov commented on #6117
If it is too late, can we please cherrypick both of these? Thank you!

No, we are not cherrypicking features.
Also, does `--incompatible_remote_symlinks` have an issue associated with it? (per [policy](https://docs.google.com/document/d/1q5GGRxKrF_mnwtaPKI487P8OdDRh2nN7jX6U-FXnHL0/))

[2018-11-16 13:50] dslomov commented on #6117
https://github.com/bazelbuild/bazel/issues/6675 is a release blocker

[2018-11-16 13:52] meteorcloudy commented on #6675
@acozzette

This sounds like a good solution! Because the change in `BUILD` file and `.bzl` file won't affect the built binaries. Thanks for suggesting this!

[2018-11-16 14:03] aehlig commented on #6502
Under review
- https://bazel-review.googlesource.com/c/bazel/+/82350
- https://bazel-review.googlesource.com/c/bazel/+/82351

[2018-11-16 14:10] brandjon commented on #6689
I don't know that I would call for a release of protobuf just for this issue alone. There will always be new incompatible changes in Bazel, at least until we have a slower release cycle.

[2018-11-16 15:40] tlc commented on #5261
I believe this is broken again.

[code]
[code]
[code]

[2018-11-16 15:43] jin commented on #5261
@tlc That looks like Tensorflow Serving's key
<https://www.tensorflow.org/serving/setup#installing_using_apt> and not
Bazel's?

On Fri, Nov 16, 2018 at 10:40 AM tlc <notifications@github.com> wrote:

[2018-11-16 15:48] sergiocampama commented on #6116
will 0.19.1 hit homebrew?

[2018-11-16 15:49] acozzette commented on #6675
@meteorcloudy OK, let me check with the rest of the protobuf team at our meeting on Monday. If no one has any objections to tagging a 3.6.2 release then we can go with that solution.

[2018-11-16 16:33] DavinciHW commented on #6677
@irengrig Thanks a lot．
I'm currently based on tf1.8.0, where all_kernels always seems to be static and there is no if_dynamic_kernels rule. When I switched to the branch of r1.12, I found if_dynamic_kernels and wrote the following test code:
[code]
[code]
The same target is also added to the tf's BUILD file.
unfortunate, the DEBUG outputs message is the same:  `not_dynamic`.

But I still think it

[2018-11-16 16:44] DavinciHW commented on #6677
Does the rule of if_static have any effect? Do I need to verify it...?
It seems to affect the build results for core:lib
[code]

[2018-11-16 16:45] benjaminp commented on #6689
Bazel doesn't use `protobuf.bzl` because it just contains rules and macros for generating protobufs that are superseded by the builtin aspects.

[2018-11-16 18:22] katre commented on #6116
It is supposed to, looks like the PR (https://github.com/bazelbuild/homebrew-tap/pull/17) failed in CI due to xcode versions, so I filed an issue (https://github.com/bazelbuild/homebrew-tap/issues/18) which hasn't been addressed yet, I'll poke people, but 0.19.2 should be released on Mondayish.

[2018-11-16 18:38] tlc commented on #5261
Ugh. Sorry, you're right.

[2018-11-16 18:39] sdqali commented on #6136
For what it is worth, we are seeing recurrence of this error on our CI builds as well, with version `0.18.10`.

[2018-11-16 21:47] bwkimmel opened #6694 "Custom platform cannot use built-in toolchains"
### Description of the problem / feature request:

When defining a custom platform, some built-in toolchains (e.g., `cc-toolchain-k8`) cannot be used because they declare a requirement for the `@bazel_tools//platforms:autoconfigured` constraint, which is not publicly visible. To workaround this, one would also need to register a copy of those toolchain definitions with the `:autoconfigured` requir

[2018-11-17 11:03] Profpatsch commented on #6690
Ok, nice.

[2018-11-17 11:03] #6690 closed

[2018-11-17 14:51] sergiocampama commented on #4982
this is an issue with `cc_library` not detecting the `--apple_bitcode` flag and/or the C++ crosstool being incompatible with bitcode

[2018-11-17 16:54] mboes opened #6696 "Cannot have more than one autoconfigured CC toolchain"
### Description of the problem

Bazel currently implicitly adds a call to `tools/cpp/cc_configure:cc_configure()` at the end of every `WORKSPACE` file. This autoconfigures a CC toolchain. We can override the autoconfiguration to some extent, by creating our own wrapper to `cc_autoconf_impl()`, in particular to supply a non-empty `overriden_tools` argument. But the resulting toolchain ultimately _m

[2018-11-17 17:17] mihaimaruseac opened #6697 "Incorrect behavior with libc++ and without O2"
### Description of the problem

I wrongly get undefined symbols when compiling a source file with `bazel build --cxxopt=-O1 --cxxopt=-stdlib=libc++`. Replacing `O1` with `O0` still gets the undefined symbols. Replacing with `O2` or removing the `libc++` gets the correct behavior.

### Bugs: what's the simplest, easiest way to reproduce this bug?

I got to this bug while trying to integrate tensorf

[2018-11-17 18:14] janakdr commented on #949
Obsoleting.

[2018-11-17 18:14] #949 closed

[2018-11-17 18:38] jin commented on #6101
Down-prioritizing to P2.

[2018-11-17 21:54] cushon commented on #5503
Using skylark to access the native headers via `[JavaInfo].outputs.native_headers` and extract them is the recommended way to use the feature.

We have a `java_native_headers` rule similar to the `extract_native_header_jar` example above that could be open-sourced and documented.

[2018-11-17 21:55] cushon commented on #4096
Deferred params files happened, so this should be easy to fix if it's still happening. We aren't doing the two-tiered spawn thing for header compilation anymore, though, so maybe it's no longer a problem?

[2018-11-17 21:57] cushon commented on #6580
The need for per-workspace configuration has come up before, e.g. in https://github.com/bazelbuild/bazel/issues/6353#issuecomment-429092469. I'm not sure if there are any plans in that area.

[2018-11-18 01:16] steren commented on #2397
I think all of this is done

[2018-11-18 01:16] #2397 closed

[2018-11-18 01:45] Ubehebe commented on #6601
I ran into a closely related issue: is it possible to consume the googleapi targets from a downstream repo? As @katre notes above, `bazel build //third_party/googleapis:...` is broken due to incompatible source paths in the .proto files. This means a downstream repo can't consume `@io_bazel//third_party/googleapis:...`. But as far as I know, there is no way for downstream repos to see the local re

[2018-11-18 02:03] wcurrie commented on #3857
Something to do with `.gitignore` 🤷‍♂️ ?
With https://github.com/wcurrie/bazel-kt-test I was seeing this error on the second sync:
[code]
Until I added this to `.gitignore`:
[code]
The IJ plugin does execute git for `Computing VCS working set...`

[2018-11-18 03:18] agoulti commented on #4390
We are no longer using the installer, so I wasn't able to check if it would reproduce again.

[2018-11-18 03:18] #4390 closed

[2018-11-18 03:19] #4569 closed

[2018-11-18 20:53] jbduncan commented on #6681
Good news: The JUnit 5 team have a sample for using JUnit 5 in Bazel! :)

https://github.com/junit-team/junit5-samples/tree/master/junit5-jupiter-starter-bazel

[2018-11-18 20:53] jbduncan commented on #6681
Sure, it's not native, but it at least (should) fix the problem that the other existing example, https://github.com/JeffreyFalgout/bazel-junit5.git, doesn't work.

[2018-11-19 05:17] crorvick opened #6700 "cannot run binary that dlopens shared objects from a {py,sh}_test"
### Description of the problem / feature request:

I am trying to run a `cc_binary` target as part of an `sh_test`.  Passing the binary target as a data dependency causes Bazel to build it, but it does not create the runfiles hierarchy.

### Feature requests: what underlying problem are you trying to solve with this feature?

The binary I am trying to run depends on the runfiles hierarchy existing

[2018-11-19 07:57] lberki commented on #4665
Yay! @dslomov , is this enough motivation for you to start reviewing the change? ;)

[2018-11-19 08:50] ulfjack commented on #1531
Fixed in cdf118a607ab179807cd39d0cafdb551859d1cd1.

[2018-11-19 08:50] #1531 closed

[2018-11-19 08:51] ulfjack commented on #3325
--direct_run is deprecated because it's enabled by default now.

[2018-11-19 08:53] ulfjack commented on #3582
I have a patch that may address this by making action execution not block skyframe threads - at least, that should make the number go up to the max more quickly. (Well, the patch only adds infrastructure to do so, but should be straightforward to extend.)

[2018-11-19 08:57] ulfjack commented on #5281
Remote execution has been moved.

[2018-11-19 08:57] #3805 closed

[2018-11-19 08:57] ulfjack commented on #3805
I'll consider this unable to reproduce.

[2018-11-19 09:02] ulfjack commented on #2844
Anyone hitting this, I recommend against setting "local", and instead using some subset of the more specific tags "no-remote", "no-sandbox", "no-cache".

[2018-11-19 09:02] #2844 closed

[2018-11-19 10:36] filipesilva opened #6701 ""Cannot find a good output root" on windows docker nanoserver container"
### Description of the problem / feature request:

When running `bazel info` on a Windows docker nanoserver container, I get the following error:
[code]

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

A windows machine with Docker set to Windows containers is necessary to follow this reproduction. Instructions assume using `cmd.exe`

[2018-11-19 10:36] lberki commented on #6353
Not in the short term -- I'd love to, but there probably won't be enough time before next summer.

[2018-11-19 10:44] laszlocsomor commented on #6701
Thanks for the detailed report!

I'll change the error message to advise setting `HOME`.

I also thought of updating the logic to allow for an empty home directory (it seems feasible) and work if the user passes `--output_user_root`, but it's a somewhat risky change so I'm not going to push it. AFAICT this error only occurs on Nano Server so it's a niche use case.

[2018-11-19 13:09] meteorcloudy commented on #6675
@acozzette Thank you!

[2018-11-19 13:11] mhlopko commented on #6383
Not yet, waiting for intellij plugin to migrate. Since this is not time critical and affects all plugin users I decided to wait a bit.

[2018-11-19 13:13] laszlocsomor commented on #5907
@meteorcloudy , have you seen this error with recent releases?

[2018-11-19 13:14] mhlopko commented on #6385
Edited the text.

@dbabkin do you plan to flip the flag?

[2018-11-19 13:53] #6701 closed

[2018-11-19 15:44] RaresI commented on #6683
@ittaiz
Thank you for the tip. Please notice that the zipper is not documented and requires two extra rules to manage. The same argument could be made for strip_resource_prefix, why have it when you can just merge an external archive?

@cushon
Actually I did not need it for ServiceLoader, it was just an example, I need it for a Vaadin web app, which actually requires 3 extra directory levels (META

[2018-11-19 15:48] RaresI commented on #6681
Thank you @irengrig and @lberki
Thanks @jbduncan for the tip

[2018-11-19 16:04] Ubehebe opened #6704 "--build_event_json_file does not produce valid JSON"
### Description of the problem / feature request:

[--build_event_json_file](https://docs.bazel.build/versions/master/command-line-reference.html#flag--build_event_json_file) does not produce valid JSON. The JSON spec requires one top-level value, but the file written by Bazel appears to contain one top-level [BuildEvent proto]( https://github.com/bazelbuild/bazel/blob/1f684e1b87cd8881a0a4b33e86ba

[2018-11-19 16:09] katre commented on #6601
Unfortunately, there's no good way for Bazel to make this available directly from our source tree. The ideal solution would be for googleapis to provide their own BUILD files.

You should be able to import a Bazel release as an http_archive, and then give a strip_prefix that, basically, takes out everything except "third_party/googleapis". (Or possibly handle that with a patch on top of the Bazel

[2018-11-19 16:09] katre commented on #6116
Planning to release 0.19.2 today, since I haven't seen any further blockers reported.

[2018-11-19 16:16] katre commented on #6662
Closing since 0.19.2 will be released shortly.

[2018-11-19 16:16] #6662 closed

[2018-11-19 16:16] katre commented on #6665
Closing since 0.19.2 will release today.

[2018-11-19 16:16] #6665 closed

[2018-11-19 16:34] #5718 closed

[2018-11-19 16:37] katre commented on #6116
Bazel release 0.19.2 is now available.

@petemounce and @vbatts, can you please update your packages?

I will update Homebrew now.

[2018-11-19 16:41] dslomov commented on #6117
rc3
`./scripts/release/release.sh create --force_rc=3 0.20.0` 7bf7f031c332dc483257248d1c1f98ad75bbc83b fd52341 241f28d05424db2d11ee245dc856b992258505e3

[2018-11-19 16:45] aragos commented on #6167
Fixed in c361da0

[2018-11-19 16:45] #6167 closed

[2018-11-19 16:51] sevki opened #6706 "bazel failing to read from remote-cache without any explanation why"
### Description of the problem / feature request:
When building [bazel-remote](https://github.com/buchgr/bazel-remote) caching against using it self, I get the following errors with no other explanations.
[code]
### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.
I don't think there is any easy way to reproduce this. My setup is bazel-rem

[2018-11-19 17:00] ola-rozenfeld commented on #6117
Yes, https://github.com/bazelbuild/bazel/issues/6631.
Okay, I see. Dang it, I thought I'd make it. No worries, next one.

[2018-11-19 17:16] cushon commented on #6683
I think it's worth considering deprecating [`resource_strip_prefix`](https://docs.bazel.build/versions/master/be/java.html#java_binary.resource_strip_prefix). @lberki do you remember the motivation for beccb9bfee87fb4869b5c00abd9400ebaf647bf0? I wonder if it was to work around issues like #6353?

I don't see this is a goal. I'd rather have slightly more rules that solve specific problems than havi

[2018-11-19 17:39] rahul-malik commented on #6167
@aragos - Oops sorry I didn't close this after merging

[2018-11-19 18:03] vbatts commented on #6116
On 19/11/18 11:37 -0500, katre wrote:

https://copr.fedorainfracloud.org/coprs/vbatts/bazel/build/826621/

[2018-11-19 18:06] ola-rozenfeld commented on #5073
Fixed by https://github.com/bazelbuild/bazel/commit/f600b693642b3ee2475c6222a0eebb25371c6ca6

[2018-11-19 18:06] #5073 closed

[2018-11-19 18:38] endobson commented on #5935
Can I not be marked as an assignee of this? I've given the more data. I'm not on the project and so cannot remove myself, and the new buganizer mirror made a bug assigned to me which I cannot modify.

[2018-11-19 18:47] katre commented on #5935
My apologies: I forgot to reset the "untriaged" label, and so this slipped through the cracks. I have unassigned you and am taking a look at your comments now.

[2018-11-19 18:48] schroederc opened #6707 "0.19.2 crosstool incompatibility"
### Description of the problem / feature request:

https://github.com/kythe/kythe build breaks with Bazel 0.19.2 after working with 0.19.0 and 0.19.1.
### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[code]

### What's the output of `bazel info release`?

`release 0.19.2`

### What's the output of `git remote get-url origin ; git rev-

[2018-11-19 18:49] katre commented on #5935
@dslomov Do you understand how aspects interact with testonly? Because I am very confused by it.

[2018-11-19 19:01] katre commented on #6707
Taking a look, thanks for the report.

[2018-11-19 19:02] katre commented on #6707
This relates to the release in #6116.

[2018-11-19 19:03] schroederc commented on #6707
This looks to be the correct fix on our side: https://github.com/kythe/kythe/pull/3265

[2018-11-19 19:04] katre commented on #6707
Yes, local_config_cc contains the literal text `%cc_toolchain_identifier`.
[code]

Trying to backtrack to why it isn't replaced properly by the autoconfiguration.

[2018-11-19 19:06] katre commented on #6707
That's interesting, `@local_config_cc//:cc-compiler-k8` in my local bazel repository has toolchain_identifier = "local", as expected, but from kythe it has "%{cc_toolchain_identifier}". I'm not sure why they are different.

[2018-11-19 19:10] katre commented on #6707
Oh, I see, you have you own override of the cc autoconfiguration? In the future, when we change that, how can we avoid causing problems for you?

[2018-11-19 19:11] katre commented on #6707
I am making this not a blocker for the 0.19 release, since this is specific to your version of the cc autoconfiguration, and assigning it to the CC rules team to figure out the right way forward.

[2018-11-19 19:33] schroederc commented on #6707
I believe the context to our fork is in https://github.com/bazelbuild/bazel/issues/2121

[2018-11-19 21:13] philwo opened #6709 "Bazel prints bogus warning when using --nohome_rc"
### Description of the problem / feature request:

When using `bazel --nohome_rc build //my:target`, Bazel prints the following bogus warning:

[code]

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

See above.

### What operating system are you running Bazel on?

Arch Linux.

### What's the output of `bazel info release`?

I'm runni

[2018-11-19 21:19] petemounce commented on #6116
0.19.2 is available on chocolatey.

[2018-11-19 21:20] petemounce commented on #6117
rc3 is on chocolatey.

[2018-11-19 21:22] katre commented on #6116
Thanks! Closing issue now that release is complete.

[2018-11-19 21:22] #6116 closed

[2018-11-19 22:45] jmhodges opened #6710 "rules_webtesting has started needing `--no-sandbox` to avoid crashing"
Since upgrading from bazel 0.13 to 0.18 and from macOS High Sierra to Mojave, my tests using Chrome (well, Chromium) in headless mode through rules_webtesting have started to crash.

It appears to be related to sandboxing. Adding `--no-sandbox` to the flags you run Chromium with fixes the problem. (The `--no-sandbox` flag is mentioned in Chrome's [original blog post about headless mode](https://de

[2018-11-19 23:37] #6694 closed

[2018-11-20 01:47] phb commented on #6056
This happens to me pretty much weekly and is really annoying. We don't have any C/C++ code in our project so it's quite unclear why this is happening at all.

[2018-11-20 01:47] kevin1e100 commented on #5248
Typically issues like this have to do with incorrect/incomplete classpaths given to the tool.  It looks like desugar is invoked with a whole bunch of Jars to desugar at the same time (by repeating pairs of --input X --output Y flags).  To my recollection the tool will process each --input in isolation from the others, which may be the source of confusion here.  For instance, if Jar X given as --in

[2018-11-20 05:03] jin commented on #6264
Seems like it's a bug that [none of the options](https://source.bazel.build/bazel/+/master:src/main/java/com/google/devtools/build/lib/analysis/config/BuildConfiguration.java;l=575;bpv=;bpt=1) declared in `BuildConfiguration` is generated on the user manual. Bumping to P1.

[2018-11-20 06:16] ittaiz commented on #6056
Just happened to me yesterday. Obviously no CPP code.
Bazel itself recommending clean expunge is awful IMHO
On Tue, 20 Nov 2018 at 3:47 Johan Björk <notifications@github.com> wrote:

[2018-11-20 06:18] ittaiz commented on #6683
@rarsel,
Did not mean to say your request isn’t valid just to offer a workaround.

@cushon,
Aren’t you concerned about the additional IO? One needs to unzip and zip.
Maybe I’m zooming in too much.
On Mon, 19 Nov 2018 at 19:17 Liam Miller-Cushon <notifications@github.com>
wrote:

[2018-11-20 07:58] keith commented on #5106
Was there a resolution to this?

[2018-11-20 08:12] ulfjack commented on #3034
I think the obvious fix is to move polling to a separate thread, but I won't be able to personally work on this.

[2018-11-20 08:13] ulfjack commented on #4608
Well, it took me a bit longer but I have a patch to flip the flag, as well as a patch to back out the temporary code. They should get submitted this week.

[2018-11-20 08:15] ulfjack commented on #4608
To clarify: I already flipped the flag for all Google builds and we have not observed any problems. My patch is to flip the flag in Bazel as well, and then to back out the temporary code.

[2018-11-20 08:16] amlinux commented on #5756
I was hit by `WARNING: The following rc files are no longer being read, please transfer their contents or import their path into one of the standard rc files` error message, and it was quite unhelpful. I spent a lot of time trying to find where the standard rc files were supposed to be.

Could you please update the message to something referencing the list of standard paths or at least with a link

[2018-11-20 09:02] cxws commented on #4532
- [ ] 修改本地语言成en_US,问题没有解决
 - [x] 降低jdk版本(原先是1.8.0.191),问题解决了，具体如下：
[code]

[2018-11-20 09:43] ulfjack commented on #5270
I'm afraid I won't be able to work on this.

[2018-11-20 09:44] ulfjack commented on #3360
@buchgr Are you able to reproduce with experimental_guard_against_concurrent_changes enabled?

[2018-11-20 11:37] ulfjack commented on #2015
@buchgr

[2018-11-20 11:59] ulfjack commented on #4808
We first need to make sure all spawn runners capture wall time in all cases.

[2018-11-20 12:00] ulfjack commented on #4808
Unfortunately, I'm not going to be able to work on this, although it might fall out of other work I may be doing.

[2018-11-20 12:02] ulfjack commented on #3106
This is related to #4808 I think, which has cccd7185384764a9ad4cd22ff18212602e765c22 attached to it. It seems that there is a code path not collecting wall time - sandboxing perhaps?

[2018-11-20 12:08] ashi009 opened #6712 "Allow specifying .bazelignore through flags"
### Description of the feature request:

Allow specifying the .bazelignore file to use, or allow setting the ignored directories through flags.

### Feature requests: what underlying problem are you trying to solve with this feature?

We used to use `bazel test -- //... -//experimental/...` during CI tests, which would break the test in case a build file in `//experimental` is malformatted.

After

[2018-11-20 13:39] meteorcloudy opened #6716 "Bazel CI: rules_apple is failing in downstream"
https://buildkite.com/bazel/bazel-with-downstream-projects-bazel/builds/602#994c7b9d-1e7d-4f60-b72c-6efa92867f01

Based on the [culprit finder](https://github.com/bazelbuild/bazel/commit/828b1fb23958fca29a0631c8583d5e8b777f7c53), the culprit should be 3bf685794b8568042c91d789e612af34fc3c485f

[2018-11-20 13:41] meteorcloudy commented on #6716
FYI @sergiocampama @benjaminp

[2018-11-20 14:13] crorvick commented on #6700
Is anyone able to comment on whether this is expected behavior or not?

[2018-11-20 14:20] lisaonduty opened #6718 "Map file support for cc_binary rule"
### Description of the problem / feature request:

We request support of map file as implicit output target for the cc_binary rule.
According to documentation only name.stripped and name.dwp are supported output targets. But it also seems to accept name.pdb files.
We use the sandbox-build and want to continue with that.

### Feature requests: what underlying problem are you trying to solve with th

[2018-11-20 15:01] lisaonduty opened #6719 "Support of [no] addition of --remote_http_cache build option"
### Description of the problem / feature request:

We request a [no] addition to the --remote_http_cache build option so it will be:
--[no]remote_http_cache

### Feature requests: what underlying problem are you trying to solve with this feature?

We have the remote caching on by default for our users (including the CI machinery). To be able to build without the remote server we have been adding a

[2018-11-20 15:02] lberki commented on #4665
@ittaiz : the change is *still* under review. Unfortunately, it's a bit of a breaking change. Would you be okay with running Bazel with a `--incompatible_do_proto_library_less_awfullly` flag for a release?

[2018-11-20 15:27] #5637 closed, assigned to laurentlb, brandjon

[2018-11-20 15:40] dslomov commented on #5637
There are still no migration docs in this issue. Please add some.

[2018-11-20 16:21] #6332 closed

[2018-11-20 16:40] sevki commented on #6706
building it without caching in a non cached docker container
[code]
building with remote caching
[code]

[2018-11-20 16:46] benjaminp commented on #6700
Yes, the runfiles tree of the cc_binary will be merged into the sh_test's runfiles.

[2018-11-20 17:12] crorvick commented on #6700
@benjaminp, got it, thank you for the reply.  Does that mean there is a problem with the construction of the test?
[code]
We are running the binary using the path passed in on the command line as determined using the `$(location ...)` mechanism.  In the real scenario this binary is `dlopen(3)`'ing shared objects from the runfiles hierarchy, but this fails when the binary is used in the context of

[2018-11-20 17:46] det opened #6721 "Publicly support the compilation_prerequisites_INTERNAL_ output_group"
### Description of the problem / feature request:

Make the `compilation_prerequisites_INTERNAL_` output group a publicly supported API.

### Feature requests: what underlying problem are you trying to solve with this feature?

For tools that depend on `compilation_commands.json` to work without compiling the whole tree. For example, your source code may depend on generated protobuf headers or sym

[2018-11-20 19:25] gregestren opened #6723 "Make BuildOptions immutable"
*Configuration transitions*, which are a core building block of same-build multiplatform builds, work by transforming an input set of [BuildOptions](https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/analysis/config/BuildOptions.java) into an appropriate output set.

It's important that this transformation doesn't *mutate* the input set, since that would in

[2018-11-20 19:42] katre commented on #5309
Closing this due to it not being consistent with the current direction of the code.

[2018-11-20 19:42] #5309 closed

[2018-11-20 19:46] katre opened #6724 "Richer platform constraints values"
There are several cases recently where users have noticed a need to richer semantics with platform constaints (ie, constraints created via the `constraint_value` rule).

Example cases:
- Backwards compatibility (see #4923)
- Matching version ranges (the ability to specify a constraint for "JDK9+" or similar)
- For remote execution platforms, a way to specify memory ranges (e.g. "more than 4GB memo

[2018-11-20 20:41] #6537 closed

[2018-11-20 22:43] RaresI commented on #6353
It is fine to have a default per-WORKSPACE, but please consider that many projects are put together under the same workspace, some even from different companies, so it should at least be configurable per-BUILD file. It's fine to have standards, but the configuration should fit the status-quo, not viceversa.

[2018-11-20 23:30] trchen1033 opened #6725 "Starlark http_archive cannot be referred by //external:[repo_name] from another external repo"
### Description of the problem / feature request:

A external repo pulled in by Starlark http_archive cannot be referred by //external:_[repo_name]_ from another external repo. @_[repo_name]_//:_[repo_name]_ works just fine.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[code]

### What operating system are you running Bazel on?

[2018-11-20 23:33] RaresI commented on #6683
Hello,

Please do not deprecate resource_strip_prefix unless you provide a mechanism for controlling the paths layouts in the resulting jar, which should at least be able to... strip the prefix. The layout of resources in the JARs has to be separated from the logical layout of source files and resource file, because they are guided by different requirements.

How about this:
Explicitely map the la

[2018-11-20 23:38] cushon commented on #6683
The implementation of `java_library.resources` creates a separate action to add the resources to the output jar, to avoid re-running the compilation action if only the resources change. Creating a completely separate jar for the resources should be marginally less expensive than merging the resources into the library's output jar. And either way, creating the zip is almost free compared to the cos

[2018-11-20 23:40] benjaminp commented on #6700
You'll probably want to locate the binary with the [bash runfiles library](https://github.com/bazelbuild/bazel/blob/1b157dcc72523c93655ba4fcf73cb88d50e07698/tools/bash/runfiles/runfiles.bash).

[2018-11-21 01:51] kangnak commented on #125
It seems still we need to set the command-line flag, apple_platform_type to macos to compile objc_library for macOS (https://github.com/bazelbuild/bazel/pull/6366). The flag is defaulted to ios.

[2018-11-21 05:14] sergiocampama commented on #125
this issue is about ObjC binaries, not `objc_library`

[2018-11-21 06:42] crorvick commented on #6700
@benjaminp, your suggestion sounded very promising and I was happy that we might have an easy fix, but unfortunately this does not seem to help.  I mocked up a test script around the actual binary I am having problems with and ran into the same error.  The script simply takes a label pointing to a `cc_binary` and shows what it resolved the label to using `rlocation`:
[code]
I then added an `sh_tes

[2018-11-21 08:23] PanJinquan opened #6726 "Error: LinkageError occurred while loading main class com.google.devtools.build.lib.bazel.Bazel java.lang.ExceptionInInitializerError: null"
Hi, I follow the [tutorial](https://docs.bazel.build/versions/master/install-ubuntu.html)，
`
$ chmod +x bazel-0.18.0-installer-linux-x86_64.sh
$  ./bazel-0.18.0-installer-linux-x86_64.sh
`
**but it gives me a new error like following,**
`  [Commit](https://github.com/bazelbuild/bazel/commit/d13df47)
Uncompressing......Error: LinkageError occurred while loading main class com.google.devtools.build.

[2018-11-21 10:14] buchgr opened #6727 "add network usage metrics for remote caching/execution"
It would be interesting to add stats about the bytes sent/received when using remote caching / execution. We could aggregate these stats per high level operation / proto message type i.e.
- checking for cache hit
- receiving cache hit
- syncing merkle tree
- uploading input files
- execution
- downloading build artifacts

While we currently know that almost a 100% of network bandwidth is being use

[2018-11-21 10:22] buchgr commented on #6716
fixed by @benjaminp thank you!

[2018-11-21 10:23] #6716 closed

[2018-11-21 13:03] moruowait opened #6730 "Generate and publish documentation for Starlark rules in @bazel_tools"
[patches attribute](https://github.com/bazelbuild/bazel/commit/7831d8c9be23d419a64dfbc48e09fa175e1f1536) for http_archive (and other rules) is not documented on https://docs.bazel.build/versions/master/be/workspace.html#http_archive.

Please update the BUILD Encyclopedia.

[2018-11-21 13:30] meteorcloudy opened #6731 "Windows: Malformed Bazel output"
TensorFlow recently reported a bug that they are no longer able to find error messages in Bazel's output log:
eg. https://source.cloud.google.com/results/invocations/9e5e78ac-152a-4ff8-aea0-2b587038a652/log

I can reproduce this bug by running the build of the following example on a CI machine.
https://github.com/meteorcloudy/my_tests/tree/master/missing_log_test

After bisecting, it points https:

[2018-11-21 13:33] laszlocsomor commented on #6731
Is this a regression in 0.19.x over 0.18.x?

[2018-11-21 13:34] laszlocsomor commented on #6731
I mean, do we have to make a patch release 0.19.3?

[2018-11-21 13:36] meteorcloudy commented on #6731
Actually, this is a regression in 0.18.0 over 0.17.0...

[2018-11-21 13:37] laszlocsomor commented on #6731
Sadly that means there were two minor versions with this bug.
Fortunately though, that means we *don't* have to create yet another 0.19.x patch release.

[2018-11-21 13:41] meteorcloudy commented on #6731
I'm thinking about reverting 1a95502 first and cherry-pick it into 0.20.0. How does that sound?

[2018-11-21 13:46] meteorcloudy commented on #6675
Hi @acozzette, any progress on this? Is it OK to tagging a 3.6.2 release? It will help us enabling more projects (including TensorFlow) in downstream.

[2018-11-21 13:50] laszlocsomor commented on #6731
Sounds good. Please do.

[2018-11-21 13:51] laszlocsomor commented on #6731
And thank you so much for getting to the bottom of this error. From your explanations it sounded like a particularly difficult one to track down...

[2018-11-21 14:03] meteorcloudy commented on #6731
No problem! Glad we finally find it out! I can help test if you have a fix for this. ;)

[2018-11-21 15:10] laurentlb commented on #6666
Do you think additional documentation is needed? Where?

[2018-11-21 15:16] allevato commented on #125
In addition to what @sergiocampama said, there should really be no assumption that building a `*_library` target at the top level will use a particular configuration; changing the default just inverts the set of people who need to set the flag, and many `objc_libraries` are valid for multiple configurations. Building an `{ios,macos,tvos,watchos}_application` that depends on that library will cause

[2018-11-21 15:31] laurentlb commented on #5030
For Buildifier releases, see https://github.com/bazelbuild/buildtools/releases

Skylint is going to be retired in favor of Buildifier.

[2018-11-21 15:31] #5030 closed

[2018-11-21 15:35] laurentlb commented on #4854
We're going to retire Skylint in favor of Buildifier (https://github.com/bazelbuild/buildtools).

[2018-11-21 15:35] #4854 closed

[2018-11-21 15:41] laurentlb commented on #4117
I think this has been fixed:

[code]

[2018-11-21 15:41] #4117 closed

[2018-11-21 15:43] laurentlb commented on #4119
We plan to retire Skylint in favor of Buildifier.

Adding json output to Buildifier would be a good feature!

[2018-11-21 15:43] #4119 closed

[2018-11-21 15:45] laurentlb commented on #4366
Recommendation is to avoid `outputs = {...}` and instead create the files with `ctx.actions.declare_file`. This is much more flexible.

[2018-11-21 15:45] laurentlb commented on #4366
cc @c-parsons

[2018-11-21 15:50] laurentlb commented on #4104
I think this can be closed now

[2018-11-21 15:50] #4104 closed

[2018-11-21 15:51] laurentlb commented on #4086
See Buildifier (https://github.com/bazelbuild/buildtools).

[2018-11-21 15:51] #4086 closed

[2018-11-21 15:52] ittaiz commented on #4366
Interesting, where is this recommendation documented? I didn’t know that
On Wed, 21 Nov 2018 at 17:45 Laurent Le Brun <notifications@github.com>
wrote:

[2018-11-21 15:57] laurentlb commented on #3951
Yes

[2018-11-21 15:57] #3951 closed

[2018-11-21 15:57] thomasvl commented on #5030
Doesn't skylint provide things that don't make sense the current buildifier?  i.e. - warnings about naming conventions, etc.  i.e. - not purely formatting things.  Will the "check" mode do more that formatting or will there be a new "lint" mode to catch these sorta things?

[2018-11-21 15:59] #3749 closed

[2018-11-21 16:04] laurentlb commented on #5030
There is now `buildifier --lint=warn`

https://github.com/bazelbuild/buildtools/blob/master/buildifier/README.md#linter

[2018-11-21 16:29] laurentlb commented on #3843
This has been fixed

[2018-11-21 16:29] #3843 closed

[2018-11-21 16:34] #3666 closed

[2018-11-21 16:34] aiuto commented on #5030
We should change the bug to "Provide buildifier as part of releases"
(unless that already exists)

On Wed, Nov 21, 2018 at 11:04 AM Laurent Le Brun <notifications@github.com>
wrote:

[2018-11-21 16:35] laurentlb commented on #3682
This has been fixed

[2018-11-21 16:35] #3682 closed

[2018-11-21 16:35] laurentlb commented on #3702
This is fixed

[2018-11-21 16:35] #3702 closed

[2018-11-21 16:43] laurentlb commented on #3353
I believe the documentation has been updated since this bug was filed. Please reopen if it's still not clear.

We are actively removing old-style providers, they should disappear soon.

[2018-11-21 16:43] #3353 closed

[2018-11-21 16:45] laurentlb commented on #3483
obsolete

[2018-11-21 16:45] #3483 closed

[2018-11-21 16:47] laurentlb commented on #3515
See https://github.com/bazelbuild/bazel-skylib for extra functions on paths.

[2018-11-21 16:47] #3515 closed

[2018-11-21 16:48] benjaminp commented on #3785
I thought everything was fixed by 048405374ad2dd3e0b5deedeb4fdee897fa9ad88.

[2018-11-21 16:51] laurentlb commented on #3111
Every object can be checked for equality. A common pattern is to check whether is an object is `None`. It would be very surprising if the `==` operator would raise an error.

[2018-11-21 16:53] alandonovan commented on #5637
I'm sorry for pointing this out after you've done most of the work (but at least it hasn't been released), but I'm no longer convinced this change is an improvement. Though it makes the handling of globals and locals consistent, disallowing the first print(len) in this example,

[code]

it creates a problem no smaller than the one it solves, yet gratuitously different from Python: the restriction

[2018-11-21 16:56] laurentlb commented on #3785
Thanks!

Please reopen if there's still an issue

[2018-11-21 16:56] #3785 closed

[2018-11-21 17:07] laurentlb commented on #3035
@c-parsons to triage

[2018-11-21 17:11] laurentlb commented on #2899
"data" configuration is now a no-op.
Stop using it, it will be removed very soon

[2018-11-21 17:11] #2899 closed

[2018-11-21 17:11] gkchaudhary commented on #6655
Closing it as no response.

[2018-11-21 17:21] laurentlb commented on #2813
Examples are here: https://github.com/bazelbuild/examples

[2018-11-21 17:21] #2813 closed

[2018-11-21 17:30] #1346 closed

[2018-11-21 17:33] laurentlb commented on #766
I improved this error message recently (a month ago?)

[2018-11-21 17:33] #766 closed

[2018-11-21 17:34] #861 closed

[2018-11-21 17:35] laurentlb commented on #1097
I think @vladmos fixed it?

[2018-11-21 17:36] laurentlb commented on #1046
We list some rules here: https://docs.bazel.build/versions/master/be/overview.html

I also shared a doc about it: http://doc/1oYQ-cqmqrpVE02rphobn4F_Q-lqvch4IiUlqEy9q2Fs

[2018-11-21 17:36] #1046 closed

[2018-11-21 17:44] vladmos commented on #1097
I must have been fixed with #076977e019ebcb8b822e7727d292636fadcafcca

[2018-11-21 17:44] #1097 closed

[2018-11-21 17:46] laurentlb commented on #5637
This can easily be reported by a linter. IDEs should be able to jump to definition too.

[2018-11-21 17:55] chaoren commented on #3835
So there will be no way to redefine a rule/macro without having to update every single BUILD file with load statements?

[2018-11-21 18:03] c-parsons commented on #3035
Oof. This issue is very out of date and we can almost certainly close it.
For new providers, use BuiltinProvider, and have the Info object extend Info.
You can use @SkylarkCallable for object construction, and that should be everything you need.

Here's a canonical example:
https://github.com/bazelbuild/bazel/blob/e8d450c4cbae8b733470eee6d816baaaa0162318/src/main/java/com/google/devtools/build/lib

[2018-11-21 18:03] #3035 closed

[2018-11-21 18:05] c-parsons commented on #2881
Lets close this, as I believe it's covered under https://github.com/bazelbuild/bazel/issues/6241
In short, we're going to remove the `output` parameter of `rule()` altogether.

[2018-11-21 18:05] #2881 closed

[2018-11-21 18:12] c-parsons commented on #4366
The document heading for https://github.com/bazelbuild/bazel/issues/6241 covers reasons for an imminent deprecation of `rule()`'s `outputs` parameter, and links to some best practices.

As such, I think we can close this issue. (Feel free to comment /discuss within https://github.com/bazelbuild/bazel/issues/6241 or its document, though!)

[2018-11-21 18:12] #4366 closed

[2018-11-21 19:23] acozzette commented on #6675
@meteorcloudy I just tagged a 3.6.1.1 release with the fix, so let me know if that works.

[2018-11-21 19:45] sevki commented on #6706
seems related https://github.com/bazelbuild/bazel/issues/6308

[2018-11-21 20:11] alandonovan commented on #5637
That's not relevant. The choice here is between two alternative static name resolution algorithms.

From related discussion at https://github.com/google/starlark-go/pull/14#issuecomment-440790723:

No-one disputes the value of static name resolution; that's not the issue here.

The issue is that we can statically resolve the first len in print(len); len=1; print(len) in two different ways: the Pyt

[2018-11-21 20:35] ittaiz commented on #3835
Wow, this is a feature we’re using very strongly. Why remove it?
On Wed, 21 Nov 2018 at 19:55 Chaoren Lin <notifications@github.com> wrote:

[2018-11-21 20:37] #5827 closed

[2018-11-21 21:59] laurentlb commented on #3835
I didn't want to scare you; there's no decision.

To summarize the current state:

* The prelude file is not documented (I don't think there's any reference on the website).
* It's not well tested or designed. For example, I don't even know if it works with external repositories.
* It has performance problems: when you modify the prelude (or any of its dependencies), every BUILD file has to be rel

[2018-11-21 22:01] mpictor commented on #4092
I'd also find it very useful to be able to get the "real" workspace name inside a macro, rather than having to specify it. Use case: I have a lot of include paths that include the workspace/repo name, so that it's always clear from looking at an `#include` statement exactly what header is being referenced. Currently I have to pass the name of the repo to my macro each time so it can do `hdrs=glob(

[2018-11-22 01:35] ash2k commented on #6666
I think it would be useful to add a sentence to the [attr](https://docs.bazel.build/versions/master/skylark/lib/attr.html) docs saying that iteration order of the attribute types mentioned above is described on the page you linked.

[2018-11-22 01:54] crorvick commented on #6700
@benjaminp @mhlopko, is maybe the underlying problem that Bazel just doesn't robustly support `dlopen(3)`ing shared objects?  Looking at the RPATH of my binary I see that shared objects that are linked at startup (third-party libraries included in the `srcs` attribute of a `cc_library`) are found via `$ORIGIN/../../_solib_local/...` while those that are dlopen'd (included at `data` dependencies) a

[2018-11-22 02:39] ghltshubh commented on #1970
@PiranjaF Should I use `TEST_TMPDIR` before `bazel build` as well?

[2018-11-22 03:13] ittaiz commented on #3835
👍🏽
Re external repositories- it works. There were a few bugs with it but they
were resolved.
On Wed, 21 Nov 2018 at 23:59 Laurent Le Brun <notifications@github.com>
wrote:

[2018-11-22 03:59] EricCousineau-TRI commented on #6680
Sorry for the delay!

Ultimately, yes, it was hard to locate outputs of one genrule from the other. Understandable, I could try and use `$(location ...)` for every single file that may be needed, but that doesn't seem to be all to convenient when file generation gets a little more complex (which can be the case for Xacros).

It'd ultimately be nice to hide that detail from the user, especially if

[2018-11-22 05:34] cgruber opened #6734 "repository_ctx.download needs a fail-tolerant boolean"
### Description of the problem / feature request:

`repository_ctx.download()` currently fails when a download attempt runs through all the supplied urls.  This doesn't allow for more supple use-cases, such as downloading maven sources, which may or may not succeed, but is not fatal, since not all maven artifacts are deployed with sources.

### Feature requests: what underlying problem are you try

[2018-11-22 05:59] ittaiz commented on #6734
Do you have other examples?
Re maven sources example, I’m not 100% sure but, one might argue that you
should know when you generate the dependency, either manually or via a
tool, if sources exist and generate/omit the relevant srcjar url which will
solve the problem
On Thu, 22 Nov 2018 at 7:35 Christian Edward Gruber <
notifications@github.com> wrote:

[2018-11-22 06:55] NearLinHere commented on #6196
Hello Aehlig,
Would you please help us with this issue?

[2018-11-22 08:49] laszlocsomor commented on #6680
Thanks for the repro!

I'm really sorry but I still can't say with confidence that I understand what's the problem. Is it that you don't know in advance what output files a genrule "gen1" will create, because that depends on the input file of gen1, therefore you can't declare them in gen1's `outs` attribute, therefore you can't easily list them in another genrule "gen2"'s `srcs`, and can't use `$(

[2018-11-22 09:15] meteorcloudy opened #6736 "Bazel CI: downstream projects are broken by flipping --incompatible_package_name_is_a_function"
https://buildkite.com/bazel/bazel-with-downstream-projects-bazel/builds/606#0d48853a-552a-4d49-9b70-eeafe39cbe28
[code]

What's the migration plan for `--incompatible_package_name_is_a_function`? Is there are migration window for this flag?

@laurentlb

[2018-11-22 09:15] ittaiz opened #6737 "test_filter should not cause the analysis cache to be discard"
### Description of the problem / feature request:

Currently when one runs tests in intellij and then uses the command line or even just runs two different test cases (!) the analysis cache is discarded.
This can add between 1-2 seconds to 10-15 seconds on various flows we've seen internally.
Should the test_filter argument cause Bazel to discard the analysis cache?

### Feature requests: what und

[2018-11-22 09:36] davido commented on #6734
It always worth checking how Gerrit Code Review project solved a problem you are facing. Because Gerrit is one of the biggest open source projects in the wild that use Bazel. And of course from ca. 180 third party dependencies that Gerrit is using, there are some that do not expose sources on Maven central.

And yes, we do want to fetch sources per default to provide best experience with IDE integ

[2018-11-22 09:50] laurentlb commented on #5827
To automatically fix the code and migrate, use [Buildifier](https://github.com/bazelbuild/buildtools/blob/master/buildifier/README.md):
[code]

[2018-11-22 09:56] PanJinquan commented on #4828
Which file needs to be changed?
“ If you get the error : Closure Rules requires Bazel >=0.4.5 but was 0.11.1 , see like this bazel#4834. Change all the error file the version 0.4.5 to 0.0.0. Then you will build it successfully.”
Which file should I change?

[2018-11-22 09:56] PanJinquan opened #6738 "好的，学习了，我之前装1.5.0也遇到了同样的bazel问题，我以为是版本不支持就没有再尝试了"
Which file needs to be changed?
“ If you get the error : Closure Rules requires Bazel >=0.4.5 but was 0.11.1 , see like this bazel#4834. Change all the error file the version 0.4.5 to 0.0.0. Then you will build it successfully.”

[2018-11-22 09:57] PanJinquan opened #6739 "好的，学习了，我之前装1.5.0也遇到了同样的bazel问题，我以为是版本不支持就没有再尝试了"
Which file needs to be changed?
“ If you get the error : Closure Rules requires Bazel >=0.4.5 but was 0.11.1 , see like this bazel#4834. Change all the error file the version 0.4.5 to 0.0.0. Then you will build it successfully.”

[2018-11-22 10:01] meteorcloudy commented on #6675
@acozzette Works like a charm! Thank you so much, have a nice holiday!

[2018-11-22 10:01] #6675 closed

[2018-11-22 10:47] #6738 closed

[2018-11-22 10:48] #6739 closed

[2018-11-22 11:17] ittaiz commented on #6734
Btw, java_import_external also allows this
On Thu, 22 Nov 2018 at 11:36 David Ostrovsky <notifications@github.com>
wrote:

[2018-11-22 12:33] scentini commented on #6117
@dslomov can you please cherrypick f7e5aef?
It was comitted and cherrypicked into 0.19.2 to fix users using --crosstool_top=@bazel_tools//tools/cpp:default-toolchain

[2018-11-22 13:14] lberki opened #6741 "Crash in `CompilationSupport` when building `//ios-app:UrlGetClasses` on Linux"
Reproduction on a Linux machine:

`bazel build --nobuild //ios-app:UrlGetClasses`

Output with Bazel `0.19.2` (I'll omit the top of the stack trace since the important part is the one in the configured target factory):

[code]

HEAD is the same, except for a different line number, but it's the same `XcodeConfig.getXcodeVersion(ruleContext)` that returns NULL. I suppose it's because the C++ toolcha

[2018-11-22 13:15] lberki commented on #6741
/cc @irengrig

[2018-11-22 14:12] meteorcloudy opened #6742 "Bazel CI: Projects are failing on RBE platform"
https://buildkite.com/bazel/bazel-with-downstream-projects-bazel/builds/607#b722acb8-b6a6-413f-87b6-eed40d652fe1
[code]

@mhlopko Any idea what caused this error?
FYI @nlopezgi @xingao267

[2018-11-22 15:07] shs96c opened #6743 "Latest homebrew version does not match latest released version"
### Description of the problem / feature request:

As I file this issue, the latest OS X release of Bazel is 0.19.2. The latest version available on [Homebrew](https://formulae.brew.sh/formula/bazel) is 0.18.1. Something is amiss, as I'd expected homebrew updates to be in step with published releases.

### What operating system are you running Bazel on?

OS X, Mojave

### What's the output of `baz

[2018-11-22 15:18] lberki commented on #6741
I'm surprised our integration test battery did not catch this. Bazel@HEAD crashing on our examples is a pretty awful bug...

[2018-11-22 15:18] lberki commented on #6741
/cc @dslomov -- he may want to cherry-pick this into 0.20

[2018-11-22 15:44] philwo opened #6744 "Bazel doesn't recognize that /usr/bin/python is Python 3, not 2."
### Description of the problem / feature request:

On systems where "python" on the PATH is Python 3 (e.g. Arch Linux has /usr/bin/python = Python3, also some macOS Homebrew installations seem to have /usr/local/bin/python as Python3), Bazel doesn't realize that and believes it's using Python 2.

Thus py_binary's that use PY2 (which is still the default for Bazel, so that would be almost all binar

[2018-11-22 15:44] philwo commented on #6744
@brandjon Don't know if you're the right person to assign this to - if not, please reroute. :) Thank you!

[2018-11-22 16:23] Monnoroch commented on #4661
@xingao267

If it's not too much trouble, could you attach a link to the build file that does it? I couldn't find one in this or other bazel-related repositories myself.

[2018-11-22 16:34] Monnoroch commented on #4661
@xingao267, thanks!

[2018-11-22 18:07] jin commented on #6743
Bazel has moved to using its own Homebrew tap:  https://github.com/bazelbuild/homebrew-tap/blob/master/README.md

[2018-11-22 22:18] ash2k commented on #671
`include_runfiles` is not documented here https://docs.bazel.build/versions/master/be/pkg.html#pkg_tar. Is it available already?

@codebreach if you use rules_docker then it is probably best to ask in their issue tracker. I found this issue which looks very much like the same problem https://github.com/bazelbuild/rules_docker/issues/284

[2018-11-23 02:03] jerryzj commented on #6744
That's a very stupid bug. When I tried to build TensorFlow r1.12 with CUDA 10,  I have to install the outdated python instead of python3...

[2018-11-23 04:43] benjaminp commented on #6737
Just pass `--trim_test_configuration`.

[2018-11-23 05:32] ittaiz commented on #3835
+1 if it wasn’t clear
On Fri, 23 Nov 2018 at 0:23 Petros Eskinder <notifications@github.com>
wrote:

[2018-11-23 05:37] ittaiz commented on #6737
Thanks! I’ll take a look.
Still sounds to me the FR is valid and that it’s unclear why test_filter causes the above effect.

[2018-11-23 08:53] shs96c commented on #6743
Is there some way to remove the version in homebrew itself? Or become the equivalent of choco's "trusted package"? It's confusing for users for this difference to exist, even if (it turns out) it's documented on the bazel site: who reads docs? :)

[2018-11-23 09:13] dslomov commented on #6743
If I remember correctly, it is up to homebrew folks to remove their formula (their formula is not officially supported by us) and they didn't do it (cc @buchgr to check whether I misrepresent).

[2018-11-23 09:13] #6743 closed

[2018-11-23 09:37] lberki commented on #4665
This should work at HEAD. It's still possible that the change will get rolled back if my efforts to make it backwards compatible did not succeed, so I'm keeping this bug open for the time being.

Could you verify that HEAD works for you in case the changes during the code review broke it?

[2018-11-23 09:38] aehlig commented on #6196
A work around is to fetch the files manually and put them in a directory specified via the `--distdir` option.

[2018-11-23 09:39] s-pace commented on #4600
@laurentlb Regarding these requests:

The [new release is solving it](I don't see the url before clicking on the link
I cannot open the results in a new tab). This is a huge feature now.

[2018-11-23 09:40] aehlig commented on #6196
Most likely because the `HttpDownloader` is not aware of the particular authentication mechanism. However the downloader is a complex piece of code not written by me, so I did not yet have time to verify which authentication meachanisms are supported.

[2018-11-23 09:57] ulfjack commented on #4608
Temporary code removed in b7ae7b06a6a602f2eaf3ab386e7afbffd120fae1. Next up is to flip the --experimental_split_xml_generation flag.

[2018-11-23 10:09] shs96c commented on #6743
I've filed https://github.com/Homebrew/homebrew-core/issues/34404 to try and get this resolved.

[2018-11-23 10:48] lberki commented on #3867
Update: I'm _almost_ done with tidying up the implementation of `proto_library` for this to be feasible. Stay tuned, the functionality may even make it into 0.21!

[2018-11-23 11:21] ittaiz commented on #6737
Tested it and it does solve this specific problem but I'm not sure if it doesn't introduce a new issue.

[2018-11-23 12:34] ulfjack commented on #4643
Host action_env is tracked in #6473.

[2018-11-23 12:34] ulfjack commented on #6473
Maybe we should add a --host_action_env flag?

[2018-11-23 13:09] natansil commented on #4665
Sure, I'll test this hopefully by Sunday night

[2018-11-23 16:32] #6373 closed

[2018-11-23 18:01] nlopezgi commented on #6742
This is caused by using an old toolchain config with a newer bazel version which fails due to https://docs.bazel.build/versions/master/skylark/backward-compatibility.html#disallow-using-crosstool-to-select-the-cc_toolchain-label. Please double check the WORKSPACE pin to the bazel-toolchains repo for the project that is failing and make sure its at the latest value published here https://releases.b

[2018-11-23 18:03] nlopezgi commented on #6742
Note if this is failing with Bazel head then it means a recent change in toolchain selection is breaking for using old toolchain configs. If so, this change will be problematic to release w/o proper guarding via --incompatible_xx flags.

[2018-11-23 18:53] Maronee opened #6749 "ERROR: No toolchain found for cpu 's390x'."
### Description of the problem / feature request:

While building bazel with bazel on linux for s390x an error occurs, here the full log:

🍃  Building Bazel from scratch......
🍃  Building Bazel with Bazel.
.WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by com.google.protobuf.UnsafeUtil (file:/tmp/bazel_5jaZV3Oe/archive/libblaze.jar) to field java.n

[2018-11-23 19:10] nlopezgi commented on #6749
probably related to https://docs.bazel.build/versions/master/skylark/backward-compatibility.html#disallow-using-crosstool-to-select-the-cc_toolchain-label

[2018-11-23 20:14] ittaiz opened #6750 "Add a bazel-external symlink"
### Description of the problem / feature request:

Add a bazel-external symlink in the workspace root
### Feature requests: what underlying problem are you trying to solve with this feature?

Give visibility and easy access to external repositories. We often need to browse through external repositories and even manipulate them (for example targeted expunging of an external repository) and such a s

[2018-11-23 21:13] dgrnbrg opened #6751 "Bazel fails with out of memory error"
### Description of the problem / feature request:

I am trying to use `new_http_archive` to build a complex set of dependencies. I am attempting to build Apache ORC with Bazel.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

I am using https://github.com/cschuet/snappy for my snappy build, and https://github.com/MarkusTeufelberger/B

[2018-11-23 21:26] ittaiz opened #6752 "jar stamping of external repositories is broken"
### Description of the problem / feature request:

When one uses `java_common.stamp_jar` in a target of an external repository (for example `scala_import_external` which uses `scala_import`) bazel fails:
[code]

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Create a custom jvm "import" rule which doesn't use ijar and call java_comm

[2018-11-24 20:43] jwhpryor opened #6754 "Installing ndk-bundle through sdkmanager causes bazel fetch @androidsdk//... to fail."
### Description of the problem / feature request:

I was not able to successfully build an NDK enabled application when following the instructions here:
  https://docs.bazel.build/versions/master/tutorial/android-app.html
  https://codelabs.developers.google.com/codelabs/bazel-android-intro/index.html?index=..%2F..index#2

When I install the SDK on its own (no NDK), bazel fetch @androidsdk//... wo

[2018-11-25 12:12] jdanekrh opened #6755 "`tags = ["block-network"]` is not applied when `--java_debug` is on"
### Description of the feature request:

I have a test with `tags = ["block-network"]`.  This test is failing with a network-related exception `java.net.UnknownHostException: java.sun.com`. I want to debug this test, so I specify `--java_debug` on the command line. When running under debugger, the exception is no longer raised and tests pass,

### Feature requests: what underlying problem are you

[2018-11-25 14:49] 745198699 commented on #4231
Hello,
Is there any way to select my clang as compiler?
By specifying BAZEL_USE_CPP_ONLY_TOOLCHAIN=1 and I set CC/CXX as my clang, but I got a error:
clang-6.0: unknown arguments "-fno-canonical-system-headers".
Thanks! :)

[2018-11-25 15:31] jdanekrh commented on #6755
(The cause of what I needed to debug was `http://java.sun.com/dtd/web-app_2_3.dtd` reference in one of the XML files ina .war file loaded to Jetty. Attempt to fetch the file failed under block-newtwork. Including `org.eclipse.jetty.toolchain:jetty-schemas'` jar fixed the problem for me.)

[2018-11-25 17:08] josharian opened #6756 "spec: allow parentheses on LHS of augmented assignment?"
Consider:

[code]

Python 2 and 3 both accept this, yielding a == 3.

Starlark rejects it. The spec (over in the Go implementation repo) says of augmented assignments: "The left-hand side must be a simple target: a name, an index expression, or a dot expression."

Should Starlark accept this code, to better match Python?

I originally filed this at https://github.com/google/starlark-go/issues/25,

[2018-11-25 17:12] ittaiz commented on #6755
This is dupe of #6379

On Sun, 25 Nov 2018 at 17:31 Jiří Daněk <notifications@github.com> wrote:

[2018-11-25 17:58] mboes commented on #6091
With v0.18.0, which GitHub tells me includes ff008f4, I'm still seeing significantly slower builds when caching is enabled. A from-clean-local-cache build with no remote cache of rules_haskell on my machine takes 330 seconds. Once the remote cache has been primed, a from-clean-local-cache build with remote cache turned on takes 880 seconds. This is despite the very high cache hit rate, according t

[2018-11-25 19:54] jdanekrh commented on #6755
Thanks, I searched for "block-network", so I did not find it. I disagree with the label "type: support / not a bug" on #6379, otherwise I don't mind closing this one in favour of that one.

[2018-11-25 21:45] flyhorseli commented on #5966
I have similar problem while using bazel(compiled from scratch) on linux arm32.
--copt is not passed into gcc as expected. Anybody know why?

[2018-11-25 21:59] mboes commented on #6091
Hm, so upon running `bazel build //...` in rules_haskell many more times (with remote caching on GCS turned on), it looks like my first number was an aberration. I now use `--remote_upload_local_results=false` to make sure we're not measuring any uploading (only downloading). I consistently get ~225 seconds on my connection.  Only a 30% improvement on total build time, but at least caching is now

[2018-11-25 22:41] ronshapiro opened #6757 "Add @bazel_tools//tools/jdk:javadoc"
### Description of the problem / feature request:
`@bazel_tools//tools/jdk` replaces `@local_jdk//` for many things, but there's no equivalent for `@local_jdk//:bin/javadoc`

### Feature requests: what underlying problem are you trying to solve with this feature?

I'd like to update the `javadoc_library` in github.com/google/bazel-common to a version of Bazel that supports Bazel's move away from `

[2018-11-26 08:04] lberki commented on #4665
Update: this change breaks a lot of things internally at Google, *and* rules_go and buildtools. Unfortunately, a rollback is not feasible due to the other changes I made in the area recently, so I'll improvise -- the internal issues are easy enough. to fix and I hope that rules_go and buildtools have the same root cause.

[2018-11-26 08:36] davido commented on #6757
What worked for our javadoc bazlets is: [1].

[code]

* [1] https://github.com/GerritCodeReview/bazlets/commit/13330934a0e577d60719551ffb746f64b0bb9637#diff-8d08250422c583ac3fd666c6492092be

[2018-11-26 09:00] natansil commented on #4665
Thank you for the update. Please keep us updated and good luck!

[2018-11-26 09:44] lberki commented on #4665
Update: this is fixed at HEAD.

[2018-11-26 09:56] natansil commented on #4665
👍

[2018-11-26 10:13] lberki commented on #3867
Update: please take a look at the rough draft I have here:

https://github.com/lberki/bazel/
https://github.com/lberki/bazel/commit/0b3653612aa5f13325cc125e586ac2569e80ff48

The syntax is discernible from the test case -- it essentially adds a `strip_import_prefix and an `import_prefix` attribute to `proto_library` that mirror what the `include_prefix` / `strip_include_prefix` attributes on `cc_li

[2018-11-26 11:03] filipesilva commented on #6339
Heya, I was running into this problem as well with `rm` being invoked directly for the git rule shell script.

@laszlocsomor workaround of adding the `C:\mingw64\usr\bin` directory to `PATH` got me through the missing `rm` but then I hit a missing `patch` on the http rule:
[code]

`patch` is not part of the default MSYS2 install. It can be installed, together with other commonly utilities used in

[2018-11-26 11:23] filipesilva opened #6759 "--experimental_strict_action_env does not always enforce MSYS2 binaries"
### Description of the problem / feature request:

When using bazel from within Git Bash (aka Git for Windows) and using `--experimental_strict_action_env`, errors of the type `This problem is probably due to using incompatible versions of the cygwin DLL.` can still be seen.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

The same r

[2018-11-26 12:49] ulfjack opened #6760 "Remove --genrule_strategy"
I'm planning to deprecate and remove the --genrule_strategy flag in early 2019.

As of e6263c3b0b9a467d315b91eac14162cf7915dcfd, it is no longer necessary to set --genrule_strategy in addition to --spawn_strategy if both are set to the same value. If --genrule_strategy is not set, it now defaults to --spawn_strategy. This makes --genrule_strategy superfluous - it can already be replaced with --str

[2018-11-26 12:51] ulfjack commented on #6760
Note that the first step is to make --genrule_strategy a noop, which will land in January. This only requires action for users who set --spawn_strategy to a different value than --genrule_strategy.

[2018-11-26 13:02] laszlocsomor commented on #6759
Thanks for filing this! I managed to repro the issue like so (all commands in Git Bash):

1. `git clone https://github.com/bazelbuild/bazel-integration-testing`
2. `cd bazel-integration-testing && git checkout 15273d8b0d01ce040800d172dbde3a88509d0c3d`
3. `export BAZEL_SH=c:/msys64/usr/bin/bash.exe`
4. `/c/src/bazel-releases/0.19.2/bazel.exe test --experimental_strict_action_env ...`

This gives th

[2018-11-26 13:09] laurentlb opened #6761 "incompatible_merge_genfiles_directory: unify bazel-bin and bazel-genfiles directories"
We plan to unify the `bazel-bin` and `bazel-genfiles` directories.

This means that `bazel-genfiles` will point to the same location as `bazel-bin`, since the distinction was not meaningful. This will allow us to make simplifications in Bazel and its API.

See discussion: https://groups.google.com/d/msg/bazel-dev/5iq7n1soenA/xGM_M1NOCAAJ

[2018-11-26 13:20] laszlocsomor commented on #6759
The problem is that `--experimental_strict_action_env ` does not seem to affect repository rules. Even though the git repo rule respects BAZEL_SH and so runs the msys bash, it'll use the client environment which has the git bash directories on it, so the git bash `rm` is found instead of the msys bash `rm`.

[2018-11-26 14:39] dslomov commented on #6117
Spounds like #6662 is a release blocker

[2018-11-26 14:59] ulfjack commented on #4691
I have a pending patch.

[2018-11-26 15:16] laurentlb commented on #6666
The `attr.` objects just pass the dictionary to the implementation function. I don't really see why we should repeat the information about dictionary iteration order (but we can add a link to the `dict` documentation).

Also, I discourage you from relying on a specific iteration order. The point of the `dict` is to provide a mapping from keys to values. It's surprising for an end-user if changing

[2018-11-26 15:33] laurentlb commented on #6756
Good catch!

The Go implementation doesn't seem very consistent:
[code]

Both statements are allowed by the Java implementation (used in Bazel).

I suspect it's a bug introduced by my change (https://github.com/google/starlark-go/commit/28ceca7fdc8d88c4b6a4a64453b2251e00f73f56).

I suggest that:
 * We allow both statements
 * We clarify the spec

[2018-11-26 15:45] laurentlb commented on #5827
@dslomov Why did you remove the `migration-ready` label?

[2018-11-26 15:47] jin commented on #6754
Can you please try running `bazel clean --expunge` and rebuild again?

[2018-11-26 16:03] dslomov commented on #6117
rc4:

`./scripts/release/release.sh create --force_rc=4 0.20.0` 7bf7f031c332dc483257248d1c1f98ad75bbc83b fd52341 241f28d05424db2d11ee245dc856b992258505e3 f7e5aef

[2018-11-26 16:15] dslomov commented on #6749
OS/390 port is not supported by Bazel team, but patches welcome.

[2018-11-26 16:20] dslomov commented on #6712
Well, the idea is that `experimental` is either a part of the workspace or it is not. I do not think we want to support the usecase of people checking in malformated BUILD files.

[2018-11-26 16:21] laurentlb opened #6762 "incompatible_expand_directories: Args Directory Support"
The `--incompatible_expand_directories` flag will automatically expand directories in command lines. Design doc: https://docs.google.com/document/d/11agWFiOUiz2htBLj6swPTob5z78TrCxm8DQE4uJLOwM

[2018-11-26 17:00] #6757 closed

[2018-11-26 17:30] c-parsons commented on #6730
What do you mean by "generate documentation from repository rules" ?

1. Stardoc can generate documentation for rules which depend on other repositories (for example, Stardoc can generate documentation for `//foo/bar.bzl` even if it depends on `@baz//:other.bzl`)
2. Stardoc can generate documentation for rules across repository bounds. For example, you can generate documentation for `@bazel_tools/

[2018-11-26 18:17] filipesilva opened #6764 "native.sh_binary converts binary arguments starting with /"
### Description of the problem / feature request:

When using Bazel under Windows and using `native.sh_binary` with a script that invokes a binary, arguments starting with `/` will be converted to paths according to [Posix_path_conversion]( http://www.mingw.org/wiki/Posix_path_conversion).

This becomes a problem when constructing scripts that need to take user input for which this format might be

[2018-11-26 19:34] ittaiz commented on #6737
Btw, I think also test_output=streamed (probably any value) also causes the analysis cache to be discarded...

[2018-11-26 20:01] jwhpryor commented on #6754
It fails with the same error.

On Mon, 26 Nov 2018 at 07:47, Jingwen <notifications@github.com> wrote:

[2018-11-26 20:50] gregestren commented on #6737
Assigning to @serynth, the awesome author of `--trim_test_configuration` for triage.

[2018-11-26 21:03] jmillikin-stripe commented on #3867
Just tested that branch, seems to be working in a few quick tests. @jayconrod will want to do tests with Gazelle to verify it can handle the Kubernetes case.

I found the syntax `strip_prefix="/g/bad"` to be really strange because it doesn't match the `cc_library` attribute of the same name. I expected `strip_prefix="teststrip"` to work, but instead got an error `.proto file 'teststrip/file.proto'

[2018-11-26 21:33] crorvick commented on #6700
@mhlopko @ulfjack @philwo, can anyone comment as to whether this looks like a bug or if I am doing something wrong?  Thanks!

[2018-11-26 21:45] brandjon commented on #5637
I don't think it's that important that it be a static error as opposed to a linter error. Plenty of things can be determined to fail statically, such as division by literal zero.

It can also be mis-used as follows:

[code]

In Python, only (1) uses the builtin `print`. The use case you give could be supported by adding a `builtins` module to reference the original `print`, if we feel it's importa

[2018-11-26 23:21] ash2k commented on #6666
I'm suggesting to add a link, nothing else.

[2018-11-26 23:25] mpictor opened #6767 "cc_import is more picky about header file extensions than cc_library"
### Description of the problem / feature request:

I'm currently using `cc_library` for prebuilt libraries, by setting `srcs=['path/to/libmylib.so']` and setting `hdrs` etc as normal. I thought I'd try `cc_import` since it sounded like it might work a bit differently WRT the cc_library requirement that the lib name _must_ begin with `lib`. Indeed, it works differently - but not in the way I'd expe

[2018-11-26 23:41] keith commented on #6260
@buchgr do you have an understanding of what the issue is? We're seeing this again (I believe) with another similar action. I'd be happy to attempt a patch but I'm not sure where to start

[2018-11-26 23:45] Globegitter commented on #6046
Interestingly enough I have not been able to reproduce the icon rendering issue recently (it has been very inconsistent in general), the colour issue is consistent though and can be seen in this repo: https://github.com/Globegitter/colour-icon-repro

When running `bazel test //:jest_test` one can see that the output looks different to running `bazel run //:jest_bin`, the colour is missing. Imo col

[2018-11-27 03:44] ash2k opened #6769 "pkg_tar duplicate files with include_runfiles=True"
### Description of the problem / feature request:

I'd like to use pkg_tar and have it package runfiles for my targets. I tried using the undocumented (should be documented?) flag `include_runfiles` but it turns out the implementation (https://github.com/bazelbuild/bazel/pull/5044) is buggy and it includes runfiles twice. Perhaps it should be building a depset and then turning it into a list to pa

[2018-11-27 08:09] laszlocsomor commented on #6764
Thanks for the report! Do you see any problem with `MSYS2_ARG_CONV_EXCL="*"`? Looks like that would solve the problem.

[2018-11-27 08:11] #6677 closed

[2018-11-27 08:34] lberki commented on #3867
@jmillikin-stripe , I entirely agree that this isn't very intuitive. However, `cc_library` *does* behave in the way you mentioned: relative `strip_include_prefix`es are relative to the package, absolute ones are relative to the repository root.

[2018-11-27 08:46] filipesilva commented on #6764
@laszlocsomor prepending `MSYS2_ARG_CONV_EXCL` to the binary call (`MSYS2_ARG_CONV_EXCL="*" node -e "console.log(process.argv)" /something`) will disable the path conversion.

But that puts the onus on Bazel developers to be aware of an implementation detail (usage of MSYS on Windows platforms) inside of Bazel. I'm not sure how many are aware of this caveat.

Are there any cases where the path con

[2018-11-27 09:55] rongjiecomputer commented on #6767
`<vector>` is allowed because it is provided by system includes. Normal header files without file extension also won't work for `cc_library`.

[2018-11-27 10:16] dslomov commented on #6117
(Before)[https://buildkite.com/bazel/bazel-with-downstream-projects-bazel/builds/601#1671d2d7-1161-4ebf-850c-4c3f3c13ba6e] and (after)[https://buildkite.com/bazel/bazel-with-downstream-projects-bazel/builds/612#aea531a0-53a4-476e-9926-cfa759c75a48] cherry-picking f7e5aef bazel-toolchains pass. Sounds like an AI for #6662 post-mortem - insufficient test coverage? /cc @scentini @katre

[2018-11-27 10:40] DavinciHW opened #6772 "[Feature Request]Command line for print out the full command line always ."
### Description of the problem / feature request:

I know that there is a `verbose_failures` command line that does explicit work when bazel does errors, but is there a command line like` verbose_all` that will always print out all the compiled commands that Bazel did in my build?

[2018-11-27 10:44] philwo opened #6773 "Changing --max_idle_secs on a running server doesn't have any effect."
### Description of the problem / feature request:

Changing --max_idle_secs on a running server doesn't have any effect.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[code]

### What operating system are you running Bazel on?

Linux, macOS.

### What's the output of `bazel info release`?

release 0.19.2

[2018-11-27 10:45] philwo commented on #6773
@lberki @meisterT I'm not sure which team this belongs to - performance maybe? Could you assign it to someone who can have a look? :)

[2018-11-27 10:51] dslomov commented on #6730
On Mon, Nov 26, 2018 at 6:30 PM c-parsons <notifications@github.com> wrote:

Item 3 is what I meant (http.bzl defines repository rules that need to be
documented)

--
Google Germany GmbH
*Erika-Mann-Straße 33, 80636 München, Germany*

[2018-11-27 12:08] lisaonduty commented on #6719
Hi,
If I try that (for example on Bazel's own C++ tutorial Hello World) it crashes. I've tried various ways to give an empty value:
--remote_http_cache=""
--remote_http_cache=
--remote_http_cache=\0
--remote_http_cache=NULL
--remote_http_cache
But non of the above works.
All of them gives:
java.lang.RuntimeException: java.lang.NullPointerException
BR
Lisa

[2018-11-27 13:08] brandjon commented on #6744
I am the right person. I'll add this to the overall python mode tracking bug #6444. Note that due to #4815, even when the Python mode is set, Bazel doesn't select the "python3" alias in preference to "python".

[2018-11-27 13:15] mhlopko commented on #6742
Looking into it.

CC @vladmos FYI

[2018-11-27 13:39] guw opened #6776 "WARNING: failed to raise resource limit: Invalid argument on macOS"
### Description of the problem / feature request:
[code]

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

I installed Bazel for the first time on macOS 10.14.1. Bazel was never installed on the system before. I followed the [installation guide for Homebrew](https://docs.bazel.build/versions/master/install-os-x.html).

[code]

### Wha

[2018-11-27 13:44] meisterT commented on #6773
I don't think we currently have a way to communicate new values for volatile startup options. Lukacs introduced the code in 2009, so he's a good person to look at it :-)

[2018-11-27 13:55] DavinciHW commented on #6772
@benjaminp   thank you so much!

[2018-11-27 13:55] #6772 closed

[2018-11-27 14:01] mhlopko commented on #6742
All PRs uploaded, @vladmos pls close the issue once they are all submitted (currently only rules_nodejs is pending) Thanks all!

[2018-11-27 14:40] dslomov commented on #6056
@sergiocampama ping?

[2018-11-27 15:00] sergiocampama commented on #6056
I'm sorry, but I don't have the bandwidth to look into this issue. AFAIA, this is part of the bazel infrastructure setup, so the bazel team should have way more insight into the details on how this works.

[2018-11-27 15:03] keithkml opened #6777 "Hard-coded JAVABIN path prevents running test wrapper script on different machine"
### Description of the problem / feature request:

We use [`absolute_javabase`](https://github.com/bazelbuild/bazel/blob/master/tools/jdk/BUILD#L23):
[code]

Our issue is that [BazelJavaSemantics](https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/bazel/rules/java/BazelJavaSemantics.java#L294) injects that absolute path into [java_stub_template.txt](https:/

[2018-11-27 15:38] mhlopko commented on #6700
It is absolutely a bug, quite long standing one. @oquenchil @lberki is this only about adding another rpath or there is something more involved?

[2018-11-27 16:28] katre opened #6778 "pkg_tar's remap_path option replaces too well"
The remap_path option to pkg_tar, added in bf4b7f8, replaces eagerly and can create incorrect paths.

Example reported by @alex-xnor:
[code]

This is incorrect and should be fixed.

[2018-11-27 17:46] brandjon commented on #6583
I've broken out a task list, based on the API changes / backward compatibility section of the doc.

**Phase 1:** New API and updated configuration transition
- [ ] Add new `--experimental_better_python_version_mixing` flag to the Python fragment, for gating the new behavior and API.
- [ ] Add new `--python_version` flag that is implemented as tri-value but appears to the user as a boolean. A null

[2018-11-27 18:07] jmillikin-stripe commented on #3867
Oh wow, you're right -- sorry! Must have some old cobwebs still sticking around.

[2018-11-27 20:48] jin commented on #6754
It looks like the gtest library is vendored into the Android NDK third party sources directory. The gtest library is distributed with a BUILD.bazel file, but neither the SDK or NDK repository rules require or use the gtest library. This also means that the SDK and NDK repository rules do not work with the vendored gtest library, which causes the recursive `$ bazel fetch @androidsdk//...` to fail.

[2018-11-27 21:05] #6778 closed

[2018-11-27 21:07] serynth commented on #6737
`--trim_test_configuration` is the intended solution to this. Eventually it will become the default - it's not ready for that yet - but this is the problem it was created to solve! :)

Test options like `--test_filter` are used in the process of analyzing test targets to determine the command line of the test action itself. Unfortunately, this means that when they change, we need to discard the an

[2018-11-27 21:07] #6737 closed

[2018-11-27 21:54] jin commented on #6754
sorry, didn't explain that very clearly, and sure, here's a sample app: https://github.com/jin/examples/tree/master/android/tutorial-with-ndk-gtest

Bazel requires *all* external dependencies to be loaded and declared in the  [WORKSPACE](https://github.com/jin/examples/blob/master/android/tutorial-with-ndk-gtest/WORKSPACE) file:

[code]

This means that Bazel does not transitively pull in external

[2018-11-27 22:16] ittaiz commented on #6737
Thanks! Is there a tracking issue for when this will become the default?
Would like to follow it

On Tue, Nov 27, 2018 at 11:07 PM Marissa Staib <notifications@github.com>
wrote:

[2018-11-27 22:19] Profpatsch opened #6783 "sh_test doesn’t pass non-shell_* data targets as runfiles"
Please take a look at the minimal repro for this issue: https://github.com/Profpatsch/repros/tree/02844d53cb21eee043795bfa735698d99da0aca4/bazel-sh_test-ignores-data-inputs

# `sh_test` doesn’t pass non-`shell_*` `data` targets as runfiles

This repro shows how the `data` attribute of `shell_test` silently ignores targets that are not shell rules.

This is not documented.

It is possible to work a

[2018-11-27 22:21] Profpatsch commented on #6783
This is a similar issue: https://github.com/bazelbuild/bazel/issues/4519

[2018-11-27 22:25] Profpatsch opened #6784 "`executable` shadows `files` in `DefaultInfo`"
Please take a look at the minimal repro: https://github.com/Profpatsch/repros/tree/02844d53cb21eee043795bfa735698d99da0aca4/bazel-DefaultInfo-defaults-to-executable

# `executable` shadows `files` in DefaultInfo

This repro documents the fact that it’s impossible to create a test target for another test with a macro, because the required (and afaik outdated) `executable` field in `DefaultInfo` sha

[2018-11-28 00:41] chutian52 opened #6785 "bazel build failed with mac 10.13.6"
When I follow the official examples  and just run `bazel build //main:hello-world`(examples->cpp-tutorial/stage1), it failed
[code]
My mac Xcode version
[code]
and gcc version
[code]
and bazel's version
[code]
and Mac version
[code]
How to resolve this problem? Thanks a lot.

[2018-11-28 00:59] mpictor commented on #6767
Are you saying `cc_library` has a whitelist for names that lack an extension but should still be accepted? That seems unmaintainable and arbitrary - what if I have an exotic system which has system headers whose names weren't added to this whitelist?

Or are you saying that `cc_library` accepts `<vector>` because it's on a system path? I'm using a CROSSTOOL with bundled libraries, so this one can'

[2018-11-28 01:18] rongjiecomputer commented on #6767
Something like that. Bazel will [query][1] compiler for system include paths and add them in [`cxx_builtin_include_directory`][0] of `CROSSTOOL`. If a header file's absolute path lives under any one of the `cxx_builtin_include_directory`, it will automatically be allowed without checking file extension or header dependency.

[0]: https://github.com/bazelbuild/bazel/blob/088e67d51a481fbc5bb6fff1fc5

[2018-11-28 01:49] cgruber opened #6786 "Make the volatile (and therefore non-rebuilding) build status values accessible in a dict in ctx"
### Description of the problem / feature request:

Currently, in order to get various things like build stamps or git rev-parse output into things, one must shell out to a shell-script which accesses and unpacks volatile-status.txt, depending on it as an input.  While this does allow you to (say) generate a BuildStatus.java or build_status.h or build_status.xml file, it forces you out of starlark

[2018-11-28 01:54] cgruber commented on #5154
I'm working up a google-ish-yet-maven-ish example of bazel based on my prototype at square (very much oriented towards a monorepo, with a hybrid approach to vendoring dependencies so to speak), and I plan to open-source the pattern/example.  I also am prototyping a second version more suitable for smaller project, that should feel more natural to both the bazel side and the maven side.

I think it

[2018-11-28 01:55] MikoyChinese commented on #4828
Sorry about my late replying.
I think that when you get the error, it will show the error file path and the line numbers. And you can change it bigger than 0.4.5. Or you can try the tianyufang1958's answer.
Good luck for you.

[2018-11-28 05:15] sthuthyraj commented on #3948
How to resolve this?

WARNING: /data/Sthuthy/tensorflow/tensorflow/core/BUILD:1683:12: in srcs attribute of cc_library rule //tensorflow/core:android_tensorflow_lib_lite: please do not import '//tensorflow/core/kernels:avgpooling_op.h' directly. You should either move the file to this package or depend on an appropriate rule there
WARNING: /data/Sthuthy/tensorflow/tensorflow/core/BUILD:1683:12: in

[2018-11-28 07:44] benjaminp commented on #6786
I don't see how you can implement this without defeating analysis caching. If this proposal was implemented, every stamped build would have to reanalyze the world just to see if changed volatile status affected the output of analysis.

It would also require executing the workspace status command before doing any analysis. Even though workspace status commands tend to be fast, it's not desirable to

[2018-11-28 07:57] mhlopko commented on #6380
Hi Seth,

sorry for the trouble, I'll submit a fix shortly.

[2018-11-28 08:29] mhlopko commented on #6072
I failed to add the issue number to some of my late commits. Here they come:

* https://github.com/bazelbuild/bazel/commit/ff7b8783e451b9be9e214072019b5e81398aacb6
* https://github.com/bazelbuild/bazel/commit/d37e18e03b120bd9b15bd8843e46b36294aa7649
* https://github.com/bazelbuild/bazel/commit/734934d2c4e8e8343a72c73aba9eb7150d333dbe
* https://github.com/bazelbuild/bazel/commit/123f3abe9155c59fd63

[2018-11-28 08:30] mhlopko commented on #6072
And with this I declare the issue fixed.

[2018-11-28 08:30] #6072 closed

[2018-11-28 08:33] mhlopko commented on #4571
And the migration is done (https://github.com/bazelbuild/bazel/issues/6434). Declaring this issue fixed.

[2018-11-28 08:33] #4571 closed

[2018-11-28 08:47] mhlopko commented on #6516
I'm back! :)

Could you give me a list of behaviors/features that I should test? I don't know where to start :)

[2018-11-28 08:58] ulfjack commented on #6700
The path changes depending on the name of the binary that includes the dynamic library. I'm not sure whether adding an rpath will be sufficient.

[2018-11-28 09:34] DavinciHW commented on #6308
@bayareabear  In my case, it was because my Nginx config did not set keepalive_requests.  -----  Does the nginx server print logs about this error? I also encountered this problem, occasionally failed, and failure always occurs on the same file compilation.

[2018-11-28 10:27] hlopko opened #6788 "Remove gcc assumptions from param files for linking"
### Problem 1

LinkCommandLine parses the command line and removes `-Wl,` prefix. Flags without the prefix are then written to the params file, and the param file is passed to the compiler as `-Wl,@param.file` (which skips the compiler handling and is passed verbatim to the linker).

Instead, we should not massage the flags, and pass the param file directly to the compiler as `@param.file`.

### P

[2018-11-28 10:30] hlopko opened #6789 "Deprivilege stdc-predef.h"
stdc-predef.h is unconditionally included to every compilation if present in sysroot. We can remove it and migrate users to the CROSSTOOL and cc_toolchain.

[2018-11-28 10:34] hlopko opened #6790 "Improve include directories support"
Project to improve expressiveness of includes. We need non transitive includes, proper support in the crosstool, and we need to stop parsing copts to detect all includes for header validation.

Problems:

* 'includes' produce '-isystem'
* Using strip_include_prefix changes -isystem into -I
* Non transitive includes are only possible using copts, bazel parses copts to collect all include directorie

[2018-11-28 10:43] hlopko opened #6791 "incompatible_make_thinlto_command_lines_standalone: Make ThinLTO actions fully configured in the CcToolchainInfo"
**Flag:** `--incompatible_make_thinlto_command_lines_standalone`
**Available since:** 0.26
**Will be flipped in:** 1.0

### Motivation

Before this flag, `lto-indexing` action reuses flags from plain C++ linking actions. `lto-backend` uses `GCC` tool from [`tool_paths`](https://docs.bazel.build/versions/master/skylark/lib/cc_common.html#create_cc_toolchain_config_info), not action configs as it sh

[2018-11-28 10:44] mhlopko commented on #6791
While at it, let's document thinlto features, and make Bazel crosstools support thinlto.

[2018-11-28 10:46] hlopko opened #6792 "Implement toolchain libraries"
Implement toolchain libraries as designed in https://docs.google.com/document/d/1w3nYuuzAeWSmv5UiPrxNE5sHJfsw1t2ywJp1v6HEndg/edit.

[2018-11-28 11:07] #6540 closed

[2018-11-28 11:24] hlopko opened #6793 "Make cc_import story excellent"
Todos:

* rewrite in Starlark
* support includes
* support only specifying linkopts
* [Using cc_import with system libraries](https://docs.google.com/document/d/1xBfiGarsODBeuTTTlkjA_K4bVS9W77dTS6OLqueaJcc/edit)

Anything else?

[2018-11-28 12:22] meteorcloudy commented on #6731
@dslomov Please cherry pick d2920e32ec7f3f8551a693d33c17b19f1b802145 into 0.20.0 to fix this issue.

[2018-11-28 12:39] dslomov commented on #6117
I will cherry-pick #6731 fix as a 'serious bug' exception to release policy (as far as we know the original commit didn't actually fix any issue and was speculative)

[2018-11-28 12:41] dslomov commented on #6117
rc5: `./scripts/release/release.sh create --force_rc=5 0.20.0` 7bf7f031c332dc483257248d1c1f98ad75bbc83b fd52341 241f28d05424db2d11ee245dc856b992258505e3 f7e5aef d2920e3

[2018-11-28 12:43] lberki commented on #3867
/cc @haberman

[2018-11-28 12:43] lberki commented on #3867
Update: some concerns were raised that `strip_import_prefix` and `import_prefix` together are too powerful, so instead of submitting something quickly so that it makes it into 0.21, we'll take a bit more time. So 0.22 it is.

[2018-11-28 13:01] dslomov commented on #6056
@aragos @jmmv who is the right person to look at this?

[2018-11-28 13:16] lberki commented on #6700
/cc @laszlocsomor

Well... the problem is that what RPATH you use is actually important no matter where you use the binary. So I'd rather we take a step back and figure out how RPATH and dynamic library loading should look like instead of a quick band-aid.

FWIW, the runfiles of the `cc_binary` are merged into the runfiles of `sh_binary` so they should be available there. Worst case, you can try r

[2018-11-28 14:30] laurentlb commented on #5821
I got this error message:

Documentation is not great (https://docs.bazel.build/versions/master/skylark/lib/java_common.html#create_provider doesn't even say it's deprecated) and it's not clear how to migrate the existing code.

(cc @lberki)

[2018-11-28 14:38] benjaminp commented on #6700
I think this is why you want your runtime dynamic linker to support `$EXEC_ORIGIN`.

[2018-11-28 14:56] laurentlb opened #6794 "Documentation about legacy C++ toolchain"
1. On https://docs.bazel.build/versions/master/skylark/backward-compatibility.html#disable-legacy-c-toolchain-api, there are references to `find_cpp_toolchain` and `find_cc_toolchain`. I expect one of them is a typo.

2. Migration doc asks me to use `find_cpp_toolchain`, but it's not documented (https://docs.bazel.build/search.html?q=find_cpp_toolchain).

3. Migration docs talk about `ctx.fragment

[2018-11-28 15:00] crorvick commented on #6700
@benjaminp, can you point me to something that elaborates on this?  Is this a thing outside of Google?

[2018-11-28 15:43] meisterT opened #6795 "Add filtering options to aquery"
### Description of the problem / feature request:

aquery does allow you to inspect the actions, relationships between artifacts and actions and action command lines. It's currently not easy to specify any filters, however users are e.g. interested in the action that generated a specific output file.

Add various filter options, e.g. inputs/outputs/mnemonics.

[2018-11-28 15:57] gregestren commented on #1907
The message: `Label '//testapp:foo.c' is duplicated in the 'srcs' attribute of rule 'cs'`

To support something like this we'd have to disable loading time duplicate label checking and move that to post-select time or just not do it.

Another conceptual problem is cases where `:foo` and `:foo_2` aren't *intrinsically* mutually exclusive. So the duplicate may or may not happen depending on how the

[2018-11-28 16:00] gregestren commented on #704
https://docs.bazel.build/versions/master/skylark/lib/skylark-configuration-fragment.html provides more context the first report. Plus the new [Starlark build configuration](https://docs.google.com/document/d/1vc8v-kXjvgZOdQdnxPTaV0rrLxtP2XwnD2tAZlYJOqw/edit#heading=h.pn8nbhno42p5) design goes into details explaining what fragments are (and in fact makes that user-definable Starlark libraries). The

[2018-11-28 16:00] #704 closed

[2018-11-28 17:23] ahippler commented on #6615
@scentini whats the status of that issue? Why was untriaged removed?

[2018-11-28 17:39] jmillikin-stripe commented on #3867
If a less powerful version of those two is merged, I'm going to open a new issue asking for the full-power version. Bazel should be useful for building code that depends on third-party dependencies, even if those dependencies are not compliant with Protobuf best practices regarding import paths.

Specifically: the custom Starlark go_proto_library I wrote to get this feature supports both, and I us

[2018-11-28 17:39] jmmv commented on #6056
I can take a look at why Xcode selection fails (not at why rules_scala needs C++), but I'm afraid this doesn't have enough data for me to reproduce the issue.

The fact that `xcodebuild -version` was terminated by a signal is very suspicious though.

Is there a deterministic reproduction process for this bug?

Are you running Santa and/or VSCode by any chance?

The next time this happens, could yo

[2018-11-28 17:56] bbarnes52 opened #6796 "disabling skylint checks with a comment"
I cannot use skylint and write custom rules because rules are defined as global variables in .bzl files and generate a "no-effect" lint error. I would like to be able to disable this warning on a case-by-case basis, e.g. I would like to use the "no-effect" check in general, but disable it in specific instances, by annotating expressions with something like #skylint: disable-check=no-effect

[2018-11-28 18:07] mpictor commented on #6767
So why would it make sense for system headers to be importable with `cc_library` but not `cc_import`?

[2018-11-28 18:39] ittaiz commented on #6056
This happened with 0.19.2 (first reported when I used 15 but upgraded a few
versions since).
I’ll try shutdown.
Btw,
I think that rules_scala isn’t relevant here and that any starlark rule
with toolchains can cause this but I’m not really sure
On Wed, 28 Nov 2018 at 19:39 Julio Merino <notifications@github.com> wrote:

[2018-11-28 18:53] ittaiz commented on #6786
I might be off here but you can already use variables from the status in
variables which support make substitutions, right? Why isn’t that a
performance problem
On Wed, 28 Nov 2018 at 9:44 Benjamin Peterson <notifications@github.com>
wrote:

[2018-11-28 19:37] mpictor commented on #6767
I forgot to mention, `cc_library` gives a different error for my example `extensionlessheader` than `cc_import` does - the latter complains about the extension, while the former complains that the header doesn't exist. If I create the files, cc_library proceeds further and tries to link, while cc_import's error remains the same.

[2018-11-28 20:19] gregestren commented on #4335
Joseph, could you sketch a simple example of what you mean?

I get your point. But this seems like a request that needs careful design consideration: what relationships should be in BUILD files vs. query vs. somewhere else? Whatever the answer, I think it's better for us to have principled reasons behind said answer vs. an incomprehensible mishmash.

We've faced similar issues when organizing Baze

[2018-11-28 20:21] gregestren commented on #5020
Is there anything else we should do for this issue?

[2018-11-28 20:46] ittaiz opened #6797 "BEP should contain workspace name"
### Description of the problem / feature request:

BEP should contain the workspace name of the current workspace

### Feature requests: what underlying problem are you trying to solve with this feature?

I'm trying to use information from the BEP file in a many-repo setting. In such a setting knowing information about a label is worthless if you don't know the workspace name it belongs to. For ex

[2018-11-28 20:54] aiuto commented on #5861
The error message seems to point to a problem. That is a strange looking path for your jdk.
ERROR: /home/stig/.cache/bazel/_bazel_stig/6ca3e3526b8a3784d87f5ed89cfd92bb/external/openjdk_linux/file/BUILD.bazel:2:1: @openjdk_linux//file:file: invalid label 'zulu10.2%2B3-jdk10.0.1-linux_x64-allmodules.tar.gz' in element 0 of attribute 'srcs' in 'filegroup' rule: invalid target name 'zulu10.2%2B3-jdk10

[2018-11-28 21:12] gregestren commented on #5574
Discussion context for parameterized transitions (transitions that change a flag on dependencies but read some attribute on the attached rule to determine what to change to): https://groups.google.com/d/msg/bazel-dev/Lvmz6f_p9jY/XlzyT3T8AwAJ

[2018-11-28 21:12] jin commented on #4679
Downgrading to P4 as there's a rewrite of the `android_device` rule happening, and the launcher will also be rewritten with multiplatform support as a goal.

[2018-11-28 21:14] serynth commented on #6680
@laszlocsomor Assigning you for now since you're working with this - not sure if this qualifies as configurability (it maybe has something to do with output paths?)

[2018-11-28 21:38] ixdy commented on #4888
Are there any plans to address symlink loops?

[2018-11-28 22:42] phb commented on #6056
Just had this happen again with 0.18.1.
$ bazel build //... --nobuild
DEBUG: /private/var/tmp/_bazel_me/60a181658afb41895a4dba3b821290b1/external/bazel_tools/tools/osx/xcode_configure.bzl:87:9: Invoking xcodebuild failed, developer dir: /Applications/Xcode.app/Contents/Developer ,return code 256, stderr: Process terminated by signal 15, stdout:
<normal build output after this>

I still don't have

[2018-11-28 22:50] sethkoehler opened #6798 "--test_output=streamed does not relay remote execution error messages"
### Description of the problem / feature request:

Error messages issues by a remote execution server should be displayed when --test_output=streamed is used, just as they are when the flag is not used.

### Feature requests: what underlying problem are you trying to solve with this feature?

Use of test_output=streamed is confusing when the user has incorrectly specified something, but doesn't se

[2018-11-29 01:38] pcj commented on #6026
FWIW I've observed this error on bazel 0.17.2.  Just upgraded to 19.2 and not seeing it anymore.  Checked  it on 0.18.0 and seems fixed there as well.

[2018-11-29 02:25] dkelmer opened #6799 "incompatible_remove_native_maven_jar"
The native maven_jar rule will no longer be available with this flag set to true.

---

**(Update: managed by @jin as of July 12)**

A migration tool will be provided to automatically convert `maven_jar` targets to `rules_jvm_external`'s `maven_install` rule, and modify BUILD files to use the new labels.

See https://docs.google.com/document/d/1CqxPv-TwvFWBHgtg7_QhVfck4vH4rnmCU_IuMdC7O2M/edit# for

[2018-11-29 04:39] ittaiz commented on #6056
Did shutdown help? Also are you doing changes related to toolchains?
On Thu, 29 Nov 2018 at 0:42 Johan Björk <notifications@github.com> wrote:

[2018-11-29 04:52] phb commented on #6056
Yes shutdown helped.

We do register a custom toolchain (internal compiler).

It looks vaguely like this
[code]

[2018-11-29 08:17] purewater0901 opened #6800 "cp: cannot stat '/apollo/bazel-apollo/bazel-out/local-opt/bin/modules/perception/cuda_util/libintegrated_cuda_util.so': No such file or directory"
When I executed followed command the above error occured while I try to install and run apollo in my computrer.

bash apollo.sh release

OS Ubuntu18.04LTS
GPU nvidia GeForce 1080Ti

[2018-11-29 09:12] meisterT commented on #5226
Our plan is to improve `--experimental_generate_json_trace_profile` rather than investing time in the `analyze-profile` command.

[2018-11-29 09:12] #5226 closed

[2018-11-29 09:37] meisterT commented on #3259
Close as duplicate.

[2018-11-29 09:37] #3259 closed

[2018-11-29 09:38] irengrig commented on #6741
/cc @jmmv @tetromino please have a look, seems it's an easy fix and P1

[2018-11-29 09:41] meisterT commented on #3021
Closing this as we are not working on it.

[2018-11-29 09:41] #3021 closed

[2018-11-29 09:57] meisterT commented on #1042
Seems to be fixed by now.

[2018-11-29 09:57] #1042 closed

[2018-11-29 10:08] lberki commented on #6752
I don't think so -- @iirina is coming back next week which is already after the official cutoff date. Sorry :(

[2018-11-29 12:43] laurentlb commented on #6796
We're moving away from skylint, it will be replaced with https://github.com/bazelbuild/buildtools

As such, it's unlikely we work on this and I'm going to close this issue.

[2018-11-29 12:43] #6796 closed

[2018-11-29 13:01] laurentlb commented on #2207
This limitation has been removed.

The function is also deprecated, see the replacements:
 - `ctx.actions.run_shell`: https://docs.bazel.build/versions/master/skylark/lib/actions.html#run_shell
 - `ctx.actions.run`: https://docs.bazel.build/versions/master/skylark/lib/actions.html#run

[2018-11-29 13:01] #2207 closed

[2018-11-29 14:01] meteorcloudy opened #6803 "Building TensorFlow Android Demo is failing with 0.19.0"
https://buildkite.com/bazel/tensorflow/builds/1743

I have disabled `"//tensorflow/examples/android:tensorflow_demo"` temporarily.
https://github.com/bazelbuild/continuous-integration/commit/bc365f361c27182332c283a080e7516f8e739bd1

[2018-11-29 14:15] laurentlb opened #6804 "Get rid of tools/build_rules/test_rules.bzl"
If the code is useful, it can be moved to skylib.

[2018-11-29 14:34] excitoon commented on #2307
Hi. As a second attempt to finally solve this I made almost seamless solution to this. Please check it out here:
https://github.com/excitoon/bazel-win32-toolchain
https://github.com/excitoon/bazel-win32-toolchain-test

It does not require merging anything into Bazel source tree and therefore any capacities to support it from Google.

[2018-11-29 18:30] c-parsons commented on #1447
I know this bug is old, so I'm not sure if the use case is still relevant / a blocker. Can anyone confirm?

I don't fully understand why this is required. Can't one access the relevant executable output from [ctx.executable](https://docs.bazel.build/versions/master/skylark/lib/ctx.html#executable) and then pass that as the executable param?

In other words, instead of `executable = pybin` (where `

[2018-11-29 18:43] nlopezgi commented on #6516
I'd like to see tests that run with custom values for some of the ENV variables that cc_config uses. Most of the times we have seen issues is because we set custom values for some of these ENV variables in our rules (https://github.com/bazelbuild/bazel-toolchains/blob/master/rules/environments.bzl#L30).

[2018-11-29 18:46] nlopezgi commented on #6516
This is a bigger ask: I would like to see changes that impact crosstool/c_toolchain compatibility to be guarded behind --incompatible flags. Let me expand that: Currently, when there are changes to the CROSSTOOL / c_toolchain, there is no guarding them behind an --incopatible flag (afaik). For users that have hand built or checked in versions of a CROSSTOOL / c_toolchain, they have no way of preve

[2018-11-29 18:51] nlopezgi commented on #6516
The other problem I had in the past is that adding the
enabled_toolchain_types=@bazel_tools//tools/cpp:toolchain_type
made it so that the OPT toolchain was always selected and linkopt files were not passed (https://github.com/bazelbuild/bazel/issues/5291)
(not sure if this is relevant to this thread or if it has been fixed already)

[2018-11-30 00:45] jin commented on #6803
error:

[code]

I cannot seem to reproduce the error locally with 0.19.2 on HEAD TF.

[code]

[2018-11-30 00:45] jin commented on #6803
I also cannot reproduce the error by building the full app:

[code]

[2018-11-30 01:14] jin commented on #6803
The continuous build started failing from build number [1528](https://buildkite.com/bazel/tensorflow/builds/1528#051ccc5d-fdcb-44a6-854c-a7231bc40979).

It was ok at [1527](https://buildkite.com/bazel/tensorflow/builds/1527#ee794440-2a5a-4c34-ae4f-9b6db4428b69)

and both builds were using Bazel 0.18.0.

[2018-11-30 06:02] NelsonPython commented on #5599
Ubuntu 18.04.1 Server, JDK 8
Attempting to load bazel using:
./bazel-0.18.0-installer-linux-x86_64.sh --user
worked great last week.  now get
## Build informations
- [Commit] (https://github.com/bazelbuild/bazel/commit/d13df47)
Uncompressing...WARNING:  An illegal reflective access operation has occurred
WARNING: Illegal reflective access by com.google.protobuf.UnsafeUtil

Can't load bazel - any i

[2018-11-30 06:48] irengrig commented on #6741
It crashes when Blaze Intellij plugin tries to build Bazel (in more complicated case).
And it is not the plugin itself, it is Bazel 0.19.2.

[2018-11-30 07:48] ulfjack opened #6806 "Unbounded thread pool in ByteStreamBuildEventArtifactUploader"
It's possible that this is causing our CI to be flaky.

[2018-11-30 07:53] ulfjack commented on #6806
@meteorcloudy has a patch at:
https://github.com/bazelbuild/bazel/commit/377670e89e2a89a6b656d1d5adf00ba48cabd08e

[2018-11-30 07:58] lfpino commented on #6806
For reference, the unbounded thread pool is located at: https://github.com/bazelbuild/bazel/blob/48b672c53698309d4ae0b3dac85d739a4b2b25ef/src/main/java/com/google/devtools/build/lib/remote/ByteStreamBuildEventArtifactUploader.java#L45

[2018-11-30 08:37] meteorcloudy commented on #6806
@ulfjack Do you want me to submit this change?

[2018-11-30 09:08] ulfjack commented on #6806
Yes, ASAP.

[2018-11-30 09:08] ulfjack commented on #6806
:-D

[2018-11-30 10:29] agoulti opened #6807 "improve usability of --experimental_execution_log_file"
I want to move --experimental_execution_log_file and --experimental_workspace_rules_log_file flags out of experimental and made some adjustments to their usability.

Currently these flags dump binary proto files. So to use the logs, the users currently need to compile their respective parsers from source. I want to add the ability to output them in json, similar to how
[Build Event Protocol](https

[2018-11-30 12:45] basavaraj29 opened #6809 "Bazel 0.9.0 sorts keys of `attr.label_keyed_string_dict` implicity"
### Description of the problem / feature request:

We are currently running Bazel 0.9.0. We've defined a custom Bazel rule. In one of the fields, we are using a `attr.label_keyed_string_dict`. While processing the keys during evaluation phase, the keys are being sorted implicitly. Is there any flag/option using which we can disable this feature. I've checked version 0.14 in which the keys aren't s

[2018-11-30 13:19] scentini commented on #6615
Hi there,
The untriaged is removed because this issue now has an assignee.
However, I haven't gotten to it just yet, so there is no progress.

[2018-11-30 13:53] vladmos commented on #6742
All PRs are submitted.

[2018-11-30 13:53] #6742 closed

[2018-11-30 15:02] mhlopko commented on #5291
Hi John,

is this already fixed? TLDR: target platform saw linkopts from the host configuration, because platforms were analyzed in the host configuration.

[2018-11-30 15:04] mhlopko commented on #6516
Hi Nick!

1) tests for cc_configure, absolutely, but since we plan a big rewrite of cc_configure because https://github.com/bazelbuild/bazel/issues/5380, we will only add tests during the rewrite. I think it's independent from this issue.
2) we (C++ rules) already do that, and we did that before it was cool. This is the flag for the change that broke you: https://github.com/bazelbuild/bazel/issues

[2018-11-30 15:10] katre commented on #6516
Also, this issue is specifically for "cc rules work when --enabled_toolchain_types=@bazel_tools//tools/cpp:toolchain_type is passed". Other cc rules issues should be filed separately.

[2018-11-30 15:10] katre commented on #5291
Sadly not: I have plans for fixing configuration transitions for toolchains, but they aren't prioritized currently. I'm hoping to get back to that next quarter.

[2018-11-30 15:22] mhlopko commented on #5291
Pardon my ignorance, does it mean that we cannot reasonably use linkopts with platforms currently?

[2018-11-30 15:37] katre commented on #5291
This doesn't just affect linkopts, it affects any case where the host_foo flag is different from the foo flag.

The core problem here is that it's not obvious which version should be used: the common case is that the toolchain is executing on something more like the host platform than the target, but that's not always the case.

Can the linkopts be set on the cc_toolchain itself? That seems superi

[2018-11-30 15:45] alandonovan commented on #5637
Correction: I was under the misapprehension that Python's name resolution statically resolved the distinction between predeclared names and global names, but this is not the case. It treats all global names the same, and the LOAD_GLOBAL op does a dynamic lookup first in globals, then in builtins.

So, rephrasing: perhaps we should specify that name resolution statically resolves all global names t

[2018-11-30 16:05] #6383 closed

[2018-11-30 16:40] mhlopko commented on #5291
You ask good questions. I think we can actually delete `--host_copt`/`--host_linkopt` and friends, and have them unified. They're not used much. Let me investigate on Monday.

[2018-11-30 16:41] tetromino commented on #6741
I tried it on Linux now, cannot reproduce the crash with bazel head (c3e2de37b24160a987762c8fad233d8ed4937ac0). At what commit did you see the crash? Can you still reproduce it?

[2018-11-30 16:47] irengrig commented on #6741
It crashes with Bazel 0.19.2 and sorry, I think I already updated the HEAD so I am not sure about that variant.

[2018-11-30 17:06] tetromino commented on #6741
Bisect shows that this was fixed on Monday by @mhlopko with 3aa807910cf31428ae40a99567682b09b94e5acc.

[2018-11-30 17:06] #6741 closed

[2018-11-30 17:09] irengrig commented on #6741
Great! Thank you so much!

[2018-11-30 18:16] jin commented on #6469
/sub, this is causing confusing issues on the Mac too. The system_rc is `/etc/bazel.bazelrc` on the Mac, but `/etc` is a symlink to `/private/etc`. This results in confusing warning messages like:

[code]

[2018-11-30 18:39] alexeagle opened #6811 "bazel build with no targets doesn't give an error"
Have a novice user who was confused because `bazel build` succeeds, with output
[code]

But then a related binary fails to run because it can't be built.

Of course, with no additional arguments, `bazel build` is a no-op, but this is confusing for users who are accustomed to other build tools where the `build` command is sufficient, eg. `yarn build`

I imagine we need to preserve the behavior that

[2018-11-30 19:32] dgrnbrg commented on #4248
This is also an important feature for my use case--I need to specify a different path than $HOME/.cache/bazel, but I want each user to have their own unique path.

[2018-11-30 20:21] josharian commented on #6756
The Go implementation now accepts both statements, so the only thing left here is the spec change. I’ll leave that for Alan or Laurent.

[2018-11-30 20:43] keith commented on #6260
Spent some more time debugging this with the help of @sergiocampama. We've come to the conclusion that getting a null aha is expected and your remote cache implementation should handle it.

We also believe there's a bug in Bazel that in the case the remote cache doesn't return a response for this key, if the action was to create a directory, that doesn't happen. Where it should likely fall back to

[2018-11-30 21:00] plopresti commented on #4248
Yeah it's kind of ridiculous there is no way to prevent this tool from littering $HOME.

In fact the only work-around, to my knowledge, is to set $HOME itself

[2018-11-30 22:34] markdroth opened #6812 "bazel crash while trying to build grpc"
### Description of the problem / feature request:

Bazel crashes with when trying to build grpc on my machine (see output below).  Note that @nicolasnoble has tried exactly the same command on his machine and did not see the same problem, but I don't know what in my environment might be triggering it.

### Feature requests: what underlying problem are you trying to solve with this feature?

Not cr

[2018-11-30 22:49] JonMcDevitt opened #6813 "Bazel Build fails to find local_config_cc for gRPC"
### Description of the problem / feature request:

When calling `bazel build :all`, cannot find package '@local_config_cc'. Currently I am unsure whether this is a gRPC issue or whether this is an issue stemming from the Chocolatey installation of bazel.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

1. Following the instructions i

[2018-11-30 23:20] jin opened #6814 "mobile-install v1 umbrella bug"
This is an umbrella bug to track issues related to mobile-install v1.

- [x] Incompatibility with aapt2 https://github.com/bazelbuild/bazel/issues/5799, will unblock https://github.com/bazelbuild/bazel/issues/4103
- [ ] `adb push` permissions issue https://github.com/bazelbuild/examples/issues/77
- [x] mobile-install on Android 9: `java.lang.NoSuchMethodException: android.content.res.AssetManager.

[2018-11-30 23:20] jin commented on #6814
cc @jgavris

[2018-11-30 23:22] JonMcDevitt commented on #6813
As an addendum, I've built this with three BAZEL environment configurations:

1. BAZEL_VC defined, BAZEL_VS undefined
2. BAZEL_VC undefined, BAZEL_VS defined
3. Both defined

[2018-12-01 00:49] rongjiecomputer commented on #6813
The issue is not about your Visual C++ installation, it is caused by `BAZEL_SH`.

[code]

I am guessing that `c:/windows/system32/bash.exe` is from WSL? WSL does not work with Bazel for now. Only Msys2 is officially supported (though Git bash might work too).

[2018-12-01 16:49] baryluk commented on #6557
In bootstraping doc, I also found that it uses openjdk-8-jdk package as an example, but I think it is better to use `default-jdk-headless` (Debian/Ubuntu) , and if needed it will install newer JDK. User will still need to verify it is at least JDK 8 or 9.

[2018-12-01 17:23] baryluk opened #6815 "bootstraping fails with bazel 0.20 dist and JDK 11"
As in title.

using `bazel-0.20.0-dist.zip`

[code]

[code]

Debian GNU/Linux, testing, amd64

[code]

Using openjdk-8-jdk works, but bazel is the only dependency on my system that would need JDK 8, and I do not want to mess with my paths to compiler and libraries all the time in command line.

Line 180 is this:

[code]

extra context:

[code]

I believe this is because javac.util.AbstractLog has

[2018-12-01 17:38] baryluk commented on #6815
Maybe this is because of thi https://hg.openjdk.java.net/jdk/jdk11/rev/ef3557eb4306   ?

[2018-12-01 19:07] baryluk commented on #6318
Not a perfect methodology, but I just took a pre-compiled bazel 0.20 for 64-bit Linux, run it and then done some tests on `~/.cache/bazel/_bazel_user/install/3aadb0885b1cb52846820562c39bed63/_embedded_binaries` directory.

AMD 2950X, DDR4-3200 ECC, all input and output data in memory backed filesystems and caches. Linux 4.18.

Test name                 | Size      | Runtime
-----------------------

[2018-12-02 02:47] Globegitter commented on #6046
Aahh interesting, I have managed to get colour output and also no icon issue. Turns out `rules_nodejs` wraps every test in a `sh_test` rules, see: https://github.com/bazelbuild/rules_nodejs/blob/master/internal/node/node.bzl#L383 - if I exchange that with
[code]

then everything seems to work, but then `bazel test` itself is not working anymore.

I have also noticed that the `sh_test` rules is cau

[2018-12-02 17:20] dhshdi123 opened #6816 "What's the problem? help me (bazel build)"
bazel version : 0.17.2
cuda/cudnn : 10.0/7.4.1
python : 3.6.7

INFO: From Compiling external/grpc/third_party/address_sorting/address_sorting_windows.c:
cl : Command line warning D9002 : ignoring unknown option '-std=c99'

ERROR: C:/users/amsokol/development/tensorflow-build/tensorflow/tensorflow/contrib/lite/schema/BUILD:58:1: Generating flatbuffer files for schema_fbs_srcs: //tensorflow/contrib/

[2018-12-02 21:10] mboes opened #6817 "Document effect of --incompatible_strict_action_env on autodetecting the Python interpreter"
### Description of the problem

Assume the following:

[code]

Now let's say that some rule `foo`'s implementation has as one its actions to execute the `cmd.py`. While `bazel run //:cmd` works, executing `cmd.py` as part of an action, surprisingly, does not always work. The reason is that the `python_binary` rule will create a stub based on [python_stub_template.txt](https://github.com/bazelbuild

[2018-12-03 00:00] solomatov commented on #6253
Are there any update on this? Can we help somehow with fixing this issue?

[2018-12-03 00:39] ghorn commented on #4888
@ixdy upgrade to latest bazel and add a `.bazelignore` file with a list of directories you want to ignore

[2018-12-03 03:45] mpictor commented on #3760
This should reproduce for you @mhlopko .
Platform  amd64, gcc version 7.3.0, bazel 0.17.2. My CROSSTOOL is in the below repo at `tools/amd64_compiler/CROSSTOOL`

[code]

----

My results:
$ `bazel info release`
[code]
$ `bazel build --crosstool_top=//tools/amd64_compiler:toolchain --cpu=k8 --verbose_failures //:lib`
[code]

[2018-12-03 04:59] dpursehouse commented on #1083
Can this be closed?  See #4888

[2018-12-03 05:43] qzmfranklin opened #6818 "pkg_deb fails with Bazel 0.20.0 and Python3 --python_top"
### Description of the problem / feature request:
Bazel 0.20.0 fails to build `pkg_deb` targets when the Python toolchain is set to use python3 (via --python_top).

# Repro
[code]

[code]

Then, `bazel build` *any* `pkg_deb` targets would yield something similar to the following:
[code]

The issue seems to be that `make_deb.py` imports a python2-only module `StringIO`. To make it work with the pyt

[2018-12-03 10:02] iirina commented on #6800
There aren't many details on this error. Please check with the apollo team first. If they confirm it's a bazel bug, please provide more context.

[2018-12-03 10:02] #6800 closed

[2018-12-03 10:10] iirina commented on #6807
@agoulti can you assign a priority according to [priority levels](https://www.bazel.build/maintainers-guide.html#priority)?

[2018-12-03 10:13] #6806 closed

[2018-12-03 10:36] philwo opened #6820 "C++ SingleJar on Windows can't deal with empty files"
### Description of the problem / feature request:

It seems like C++ SingleJar on Windows crashes when it encounters an empty file as an input:

[code]

You can easily repro this by changing this line:
https://source.bazel.build/bazel/+/cb9b2afbba3f8d3a1db8bf68e65d06f1b36902f5:src/main/java/com/google/devtools/build/lib/BUILD;l=1273

to just

[code]

and then build Bazel as usual:

[code]

### Wha

[2018-12-03 10:40] laszlocsomor commented on #6820
Thanks for the report!

The error comes from here:
https://github.com/bazelbuild/bazel/blob/7fc967c4d6435de2bb4e34aac00ca2e499f55fca/src/tools/singlejar/mapped_file_windows.inc#L66

The caller is here:
https://github.com/bazelbuild/bazel/blob/7fc967c4d6435de2bb4e34aac00ca2e499f55fca/src/tools/singlejar/output_jar.cc#L909

The comment above the failing line in `mapped_file_windows.inc` explains tha

[2018-12-03 10:55] laurentlb commented on #6809
Hi!
Sorry, we don't maintain older versions of Bazel. I'd recommend you to upgrade to the newest version.

If you have trouble upgrading, please file a new bug for that.
Thanks!

[2018-12-03 10:55] #6809 closed

[2018-12-03 11:35] johnmarkwayve opened #6821 "Bazel 0.20.0 "internal error" crash with new skylark `http_archive` rule"
### Description of the problem / feature request:

Having upgraded to bazel 0.20.0, I get the following ugly crash:

[code]

The `@python_runtime` repository is created with a `http_archive` rule, from `load("@bazel_tools//tools/build_defs/repo:http.bzl", "http_archive")` as per the 0.20.0 changes. The exact same rule worked perfectly with the old native `new_http_archive` rule.

### Bugs: what's

[2018-12-03 11:50] johnmarkwayve commented on #6821
More data:

Running with `-s --verbose_failures` prevented the crash and showed me errors with other antiquated uses of `native.http_archive` and `native.new_http_archive` that needed fixing. Having fixed those, the build now appears to be proceeding fine.

Nonetheless, it would be good if the root cause of the original, rather ugly, crash could be identified and fixed.

[2018-12-03 12:43] solomatov commented on #6253
We investigated it further, and this problem was our fault. We created a symlink to a directory with a huge number of small files. It's no wonder that bazel tries to rescan it, and it's slow. I think, you can close it dependning on how important you think it is but it's not a problem for us anymore.

[2018-12-03 12:56] lberki commented on #2287
I'm closing this as obsolete: `bazel run` now executes the binary in question with terminal I/O available and as a direct child of the shell running Bazel, so `--script_path` is obsolete now (the only reason it still exists is that some people at Google still depend on it, unfortunately)

[2018-12-03 12:56] #2287 closed

[2018-12-03 13:20] johnmarkwayve opened #6824 "Keep (at least a few) old versions in the apt repository"
### Description of the problem / feature request:

Please keep at least a few older releases available in the apt repository.

### Feature requests: what underlying problem are you trying to solve with this feature?

AFAICT, bazel only maintains the latest release in the apt repository. This means that if bazel updates with a breaking change and some users in your company have it installed via apt

[2018-12-03 13:30] laurentlb commented on #6818
cc @dslomov

[2018-12-03 13:43] meteorcloudy commented on #6816
Can you tell me which Windows platform you were running on? And what's the exact build command?

[2018-12-03 13:46] meteorcloudy commented on #6813
Starting from 0.20.0, Bazel won't fail when `BAZEL_SH` isn't set. See https://github.com/bazelbuild/bazel/commit/f66086d1515866207b42e0ce55ffe6772ecf6b7d.
Please try upgrading Bazel to 0.20.0

[2018-12-03 13:46] #6813 closed

[2018-12-03 13:47] hlopko opened #6825 "incompatible_dont_emit_static_libgcc: Don't unconditionally emit --static-libgcc"
Flag: `--incompatible_dont_emit_static_libgcc`
Available since: 0.22
Will be flipped in: 0.23
Enclosing tracking issue: #6185

### Observable changes

If true, Bazel will not add --static-libgcc to the linking command line, it will be the responsibility of the C++ toolchain to append this flag.

### Migration

Bazel already handles the migration in the case of a CROSSTOOL file that doesn't define

[2018-12-03 13:51] hlopko opened #6826 "incompatible_linkopts_in_user_link_flags: Expose linkopts in `user_link_flags`, not in `legacy_link_flags`"
Flag: `--incompatible_linkopts_in_user_link_flags`
Available since: 0.22
Will be flipped in: 0.23

When enabled, flags coming from `--linkopt` Bazel option will be exposed in the `user_link_flags`, not in `legacy_link_flags`. Since these features very often come right after each other (or are added by Bazel automatically), this is very unlikely to break anybody, and in case it does, workarounds wi

[2018-12-03 13:54] dslomov commented on #6725
Accessing things via `//external:<repo-name>` is not recommended. However you seem to hit some other issues, starting with the processing of your WORKSPACE file. We definitely should not crash.

[2018-12-03 14:33] laurentlb commented on #6815
cc @cushon @meisterT @dslomov

[2018-12-03 14:38] meisterT commented on #6318
Thanks for testing! Do you happen to have a script handy to do that? If so, please rerun on the a bazel built from HEAD (with minimal JDK, after commit a7f07cb45358f84bc2c1b74c7b21481385845b6d).

[2018-12-03 14:42] keithkml opened #6827 "Allow `bazel query` to find targets which provide a given Java class"
### Description of the problem / feature request:

It would be great to be able to run:

[code]

or maybe:

[code]

It would be really awesome if this also included class files in JAR files used by `java_import` etc.

### Feature requests: what underlying problem are you trying to solve with this feature?

Sometimes you don't know why you depend on a certain class. This information is important in

[2018-12-03 14:50] katre opened #6828 "toolchain docs should mention issues with repository names"
The [toolchains documentation](https://docs.bazel.build/versions/master/toolchains.html) gives details on creating a toolchain and using it in the same repository. Due to the way Starlark handles loads and target equivalence, when a toolchain is used via an external repository, it must be referred to by the fully qualified label (including the repository) everywhere, including in the rule definiti

[2018-12-03 15:01] laszlocsomor opened #6829 "toolchain docs: toolchain_type attributes should use absolute label"
### Description of the problem / feature request:

The toolchain docs give an example where the toolchain rule references the toolchain_type by relative label:

[code]

https://docs.bazel.build/versions/master/toolchains.html

This is wrong -- even though it's syntactically correct, toolchain resolution will not work if this rule is ever used from an external repository.

Instead, the toolchain_ty

[2018-12-03 15:23] clubremy commented on #6390
As pointed out above, the reported compilation issue is not directly an issue with AIX. It is actually an issue with use of the IBM JDK. I had the same compilation problem with bazel 0.20.0 on PPC64 with IBM JDK 1.8.0_181. The patch [above ](https://github.com/bazelbuild/bazel/issues/6390#issuecomment-434720443) fixed my issue, but needed to take into account the system architecture (aka System.ge

[2018-12-03 15:38] drigz commented on #4022
This is fixed in Bazel 0.20.0.

[2018-12-03 16:06] JonMcDevitt commented on #6813
Hi @rongjiecomputer,

I changed the BAZEL_SH to point to that, and I get the same message. I ran a clean --expunge, and then tried again with `BAZEL_SH=D:\dev\MSYS2\64\msys2.exe`, and it gave the following message:

[code]

[2018-12-03 16:41] jin commented on #6754
@jwhpryor did my explanation above answer your question?

[2018-12-03 16:50] mhlopko commented on #4231
That should work, if you're trying with the latest bazel version, and it's passing that flag, please file a new issue. Thanks!

[2018-12-03 16:51] meisterT commented on #6318
Scratch that. We broke the build and the commit was rolled back. I'll update the bug once this is in a testable state again.

[2018-12-03 16:58] katre opened #6831 "Skyframe cycle in RegisteredExecutionPlatformsFunction"
GRPC has reported a hard Bazel crash due to a cycle arising from RegisteredExecutionPlatformsFunction.

Command and error:
[code]

[2018-12-03 16:59] katre commented on #6831
I was able to work around this by changeing grpc's WORKSPACE file to not use `:all` target patterns for `register_execution_platforms` and `register_toolchains`:
[code]

However, we still need to fix this and make sure it cannot happen again.

[2018-12-03 17:01] katre commented on #6831
Email comment from @haxorz: is such a skyframe cycle possible? if so, SkyframeExecutor#createCyclesReporter needs to be updated?

[2018-12-03 17:14] katre commented on #6831
This appears to be fixed in Bazel HEAD, I'm trying to bisect back to see where that happened.

[2018-12-03 18:31] dslomov commented on #6342
What would be the design for this?

[2018-12-03 18:52] katre commented on #6831
Bisecting reveals that the issue is fixed by commit 402fd8bb9b505e555c39dc3c87c318453273cbca.

The next question to address is why.

[2018-12-03 18:54] laurentlb opened #6832 "missing input file '@androidsdk//:platforms/android-24/android.jar'"
I'm cutting a new release candidate for 0.21.0. Downstream projects are failing, see "Test Bazel" with JDK 9 and JDK 10 (but not JDK 8).

https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/643#6db77711-b53a-4981-a2ec-4d02cc5c73b3

Error messages include:
[code]

Errors can also be seen here: https://buildkite.com/bazel/bazel-bazel/builds/5781

However, it was passing this morning at

[2018-12-03 18:58] dslomov commented on #6458
@aehlig is there anything more to do here?

[2018-12-03 19:01] dslomov commented on #6307
This is weird - the flags should apply to all targets. Is there a simple repro for this?

[2018-12-03 19:04] laurentlb commented on #6493
Candidate created with:
`$ scripts/release/release.sh create --force_rc=2 0.21.0 cb9b2afbba3f8d3a1db8bf68e65d06f1b36902f5 `

However some tests are failing: https://github.com/bazelbuild/bazel/issues/6832

[2018-12-03 19:04] dslomov commented on #6751
Is this a BEP issue? /cc @lfpino
Is this reliably reproducible @dgrnbrg ?

[2018-12-03 19:05] katre commented on #6831
Okay, that commit fixes the problem by causing the `toolchain` rule to not require toolchain resolution. While this is the correct result, it's not a good general solution, because based on this, any use of `register_execution_platforms` with a wildcard target that expands to a target which _does_ require toolchain resolution will fail with this cycle error.

The target pattern expansion for `regi

[2018-12-03 19:20] kastiglione commented on #6307
I don't have a simple repo at the moment. I can try to make one.

[2018-12-03 19:56] laurentlb commented on #6661
The flag was not flipped. Is it planned for 0.22 instead?

[2018-12-03 19:58] cushon commented on #6661
Yep, that's still the plan.

[2018-12-03 20:03] laurentlb commented on #6661
@dslomov Please create the label "breaking-change-0.22" (and others).

[2018-12-03 20:56] davido commented on #6493
Gerrit Code Review cannot be built with this RC, because of outdated `protobuf` version in `rules_closure`. Is this expected, to flip the default for any option, until some **core** bazel rules still depend on those options?

This is the [issue](https://bugs.chromium.org/p/gerrit/issues/detail?id=10112) in Gerrit issue tracker.
This is the [PR](https://github.com/bazelbuild/rules_closure/pull/313)

[2018-12-03 22:00] allevato opened #6834 "Issue finding gold linker if not in the same directory as clang?"
### Description of the problem / feature request:

rules_swift uses the `cc_common` APIs to invoke link actions using the C++ toolchain (specifically `clang`; on Linux we specify `CC=clang` to force it).

Starting around mid-October, our Linux builds on Travis started failing with the error `clang-5.0: error: invalid linker name in argument '-fuse-ld=gold'`. Looking back, this roughly coincided wi

[2018-12-03 23:20] jin commented on #6493
@davido I think everyone's waiting for 3.6.1.2 to be released https://github.com/protocolbuffers/protobuf/pull/4650#issuecomment-443896241

[2018-12-04 00:00] AustinSchuh commented on #6342
@buchgr, my requirement is that I need to be able to go back in time and fully re-create an artifact in 5 years.  That means that I need to properly track all the dependencies that are downloaded and make sure they are going to be available on my timeline, not someone else's timeline.  Our current solution is to edit every dependency we add to change the URLs to point to a server under our control

[2018-12-04 02:09] C00IHandLuke opened #6835 "--experimental_resolved_file_instead_of_workspace error symbol is private and cannot be imported"
### Description of the problem / feature request:

sync --experimental_repository_resolved_file=resolved.bzl
build --experimental_resolved_file_instead_of_workspace=resolved.bzl
build --experimental_repository_hash_file=resolved.bzl
build --experimental_verify_repository_rules=@bazel_tools//tools/build_defs/repo:git.bzl%git_repository

### Bugs: what's the simplest, easiest way to reproduce this b

[2018-12-04 02:15] lidizheng commented on #6812
Same for gRPC Python build. It works for my MacBook Pro, not for my desktop.

### Worked Release on macOS
[code]

### Not Working Release on Desktop
[code]

### Error log
[code]

[2018-12-04 04:34] ittaiz commented on #6827
+1
An example use-case it to implement strict-deps by giving the compiler
direct deps or limited deps and then from the error finding the FQN and
using the above finding the needed target.

Two thoughts for workarounds:
1. jar -tvf on all jars in bazel-bin and external and using grep (from
talking to pants people I think that’s how they do it)
2. We’ve built a server which indexes FQN to labels fo

[2018-12-04 05:31] davido commented on #6493
@jin Thanks for the pointer, but why Bazel is flipping the bit **before** 3.6.1.2 was released, and **before** the update to consume `protobuf` from HEAD is merged?

[2018-12-04 07:33] davido commented on #6493
Right, so can we avoid destroying other people work? I reverted 86013a0a23a232d5549bfe1085ebb0fabcd9b23f here: [1]. Can this CL be merged and cherry-picked here?

* [1] https://bazel-review.googlesource.com/c/bazel/+/83630

[2018-12-04 08:15] laszlocsomor commented on #6458
Yes, there's more.

With Bazel 0.20.0 the repo rule no longer seems to execute the binary. Latest demo: https://github.com/laszlocsomor/projects/tree/d58298f88a209e90aa74139857813b26dcff580e/bazel/slow-repo-rule

[2018-12-04 08:21] laszlocsomor commented on #6458
Wait a second, something was wrong in my repro.

The repo rule indeed executes the binary. But there's still no output on stdout _while it's running_, only _after it's completed running_.

[2018-12-04 08:49] laszlocsomor commented on #6816
[code]

Might be a tool failure. A better error message might be helpful.

[2018-12-04 09:31] laszlocsomor commented on #6764
Here's an even better demo: https://github.com/laszlocsomor/projects/tree/c3caa558c7fe59388df734b9f59baac92dae86fe/bazel/msys-path-conv

[2018-12-04 09:52] laszlocsomor commented on #6759
I think repo rules should avoid using Bash commands as much as possible, and AFAIK @irengrig is working on a Bash-less version of the `git_repository` rule.

Bash-less repo rules are certainly our long-term goal. Windows users should not have to install MSYS. (Having to install Git is fine; Bazel ought not reimplement Git. However Git being bundled with MSYS is Git's own business that should not a

[2018-12-04 10:06] laszlocsomor commented on #6651
Do you have a repro?

I can build cc_* targets with `--compiler=msys-gcc` with Bazel 0.20.0

[2018-12-04 10:54] laurentlb commented on #6493
Hi,
We test a number of downstream projects on the CI. Protobuf was updated 6 months ago, other rules were updated more recently. The only exception is rules_closure, but there are pending PRs (it's one-click from being fixed). I think Gerrit just need to update its dependencies too.

I agree that the slow releases of Protobuf are annoying, which is why we want to separate the repository (https://

[2018-12-04 12:03] meteorcloudy commented on #6493
We now have [a new pipeline](https://buildkite.com/bazel/bazel-at-release-plus-incompatible-flags) for testing `Bazel@Release + incompatible flags + downstream projects@last_green_commit`
See [this document](https://docs.google.com/document/d/19qd-qxizeFHmS7P0M0u3n0xLjix5oB1ioWSTZdY23uo/edit?usp=sharing) for more details

It will catch those failures earlier and help the downstream projects to mig

[2018-12-04 12:08] meteorcloudy commented on #6813
Can you try `bazel clean --expunge`?

[2018-12-04 12:55] jin commented on #6493
This pipeline should help us avoid issues like this in the future. Thanks for working on it!

@davido It’ll not be cherrypicked because there’s a workaround by flipping the  incompatible_* flags, which is the mechanism to deal with unintended breaking changes.

[2018-12-04 12:55] #6820 closed

[2018-12-04 14:11] ittaiz commented on #6737
@serynth ping?

[2018-12-04 14:24] ittaiz commented on #6752
@iirina any thoughts?

[2018-12-04 14:33] mhlopko commented on #3760
I think I don't understand the problem? The command line is:

[code]

And `gcc-ar` compains that @ is not recognized option. What you need to do is to replace gcc-ar with a custom script, that will read the params file coming after @, and pass those flags to gcc-ar inline. I'll now close this issue, since there's no plan to fix this in Bazel in any other way than with a wrapper script.

[2018-12-04 14:33] #3760 closed

[2018-12-04 15:45] werkt commented on #6488
I observed this on a build following having upgraded to bazel 0.20 from 0.19 (apt) and switching the io_bazel_rules_docker tag from v0.4.0 to 0.5.1 without an expunge. An expunge cleared the problem out, so it looks like it is something resident (or absent) when switching to starlark git_repository perhaps?

[2018-12-04 15:47] #6769 closed

[2018-12-04 16:12] philwo commented on #6117
Update: I found a possible workaround and sent it to Yun for code review.

[2018-12-04 16:13] JonMcDevitt commented on #6813
Hi @meteorcloudy,

This was done after a `clean --expunge`; between every build or command I call that to make sure I'm working with a clean environment.

~Jon

[2018-12-04 16:22] joeleba commented on #6795
TODO:
- [ ] inputs function
- [ ] outputs function
- [ ] mnemonics function
- [ ] Combination with existing functions

[2018-12-04 17:17] brandjon opened #6841 "Allow hyphen in package path"
We prohibit `-` in the package path of python code (though not in source filenames). The reasons seem historic and google-specific, so we should probably eliminate this restriction.

[2018-12-04 18:28] #6831 closed, assigned to katre

[2018-12-04 18:36] lfpino commented on #6751
Doesn't look like BEP to me, this is a different kind of Event.

[2018-12-04 19:04] brandjon commented on #6583
We ran into a snag during implementation. There's no existing mechanism to inject new behavior into `select()`s over native flag names, so we can't make `select()`s on `"force_python"` conditionally defer to `"python_version"` when the experimental flag is enabled. This isn't surprising. But it looks like there used to be functionality for this called "late bound options" that was recently removed

[2018-12-04 19:14] programmablereya opened #6842 "Make --trim_test_configuration the default"
This is pending some work on making sure that there are no legitimate reasons for test rules to depend on each other, and if needed, revising it to have more support for this case.

[2018-12-04 19:14] serynth commented on #6737
Sorry for the silence! :) I've created #6842 for tracking this!

[2018-12-04 20:18] brandjon commented on #6841
The opinion of our internal Python team seems to be that, at least for Google's monorepo, hyphens are unnatural enough in Python that we should not allow them. So the question is whether there's a compelling case for permitting them for other Bazel users, even though to use them you'd have to resort to weirdness like `__import__()`.

[2018-12-04 20:36] aiuto commented on #5521
@philwo Do you think this issue is Team-EngProd or do you want me to take it in Team-Product

[2018-12-04 20:36] gregestren commented on #3022
On account of the last comment, I'm going to mark this closed du to #4502.

Feel free to re-open if something is still missing.

[2018-12-04 20:36] #3022 closed

[2018-12-04 21:08] soheilhy commented on #6812
I'm also hitting exact same error for `release 0.20.0`.

[2018-12-04 21:18] gregestren commented on #6431
FYI, I've been prototyping a different output path scheme for https://github.com/bazelbuild/bazel/issues/6526 (this also affects platform-independent Java compilation in https://github.com/bazelbuild/bazel/issues/6527).

The idea is to use a scheme that's more correct and scalable than what we have today. i.e. you can do `bazel build //foo:all` where different rules in `//foo` auto-configure thems

[2018-12-04 21:23] gregestren commented on #3780
I've had a few detailed email conversations with @katre about this, to the point where I'm interested in speccing up a brainstorm proposal of what it might look like.

With Bazel's platform integration steadily humming along, now may be a good time to follow through on this. If there's still interest. There are still some unresolved design considerations, hence the desire for the brainstorm propos

[2018-12-04 21:33] laurentlb commented on #1447
Closing as obsolete.

You may file a new one (using [the new API](https://docs.bazel.build/versions/master/skylark/lib/ctx.html#actions)) if there's still an issue for you.

[2018-12-04 21:33] #1447 closed

[2018-12-04 21:48] sesmith177 commented on #5163
This issue is still causing us problems when building Envoy on Windows. In addition to the workaround of renaming  the `"_virtual_includes"` directory to `"v"`, we also find it necessary to strip off empty include directories from the command line. (our non-portable hack: https://github.com/greenhouse-org/bazel/commit/876b1995e70f1ad4e35d9f6cad5f599499a2349e)

So we're not 100% blocked right now,

[2018-12-04 21:49] aiuto commented on #188
I am in the process of looking at (and rebuilding) license checking for Google internally. I don't have a design ready for review but the important points are
- completely Starlark rule based and not built into the core code
- suggested taxonomy of license type labels (GPL, LGPL, Apache, MIT, ...). This is user extensible
- tooling to gather licenses used in a binary
- tooling to allow any organiz

[2018-12-04 21:50] katre commented on #6543
This work is done, and I believe @mhlopko has removed the legacy code path.

[2018-12-04 21:50] #6543 closed

[2018-12-04 23:58] keith commented on #6260
Ok so the second case we found of this is still the same case. The problem seems to be that the rule has a directory defined in its `outputs` that bazel doesn't actually create. This directory is defined with `declare_directory` and it seems like bazel normally creates those (which I'm a bit surprised by), but when it gets a 404 (or other error) from the remote cache, it doesn't create the directo

[2018-12-05 01:50] tinhkyaw commented on #3880
Seems like this patch didn't make it into 0.20 release.  Will this patch be available with 0.21?

[2018-12-05 01:58] tinhkyaw commented on #3880
just saw it's included in release-0.21.0.  When will 0.21 be released?  Thanks in advance!

[2018-12-05 02:01] lidizheng opened #6844 "Python Namespace not handling correctly"
### Description of the problem

The order of Python import will affect the build result. I'm using `protobuf` and `googleapis-common-protos`. Both of them are under `google.` package prefix. `googleapis-common-protos` includes multiple generated Python proto files. If I import the `googleapis-common-protos` before `protobuf`, the build will fail with `ImportError`. But if I switch those two, Bazel

[2018-12-05 02:05] lidizheng commented on #6844
I have tested for `0.19.0` and `0.20.0`, both don't work.

[2018-12-05 02:18] scottmin0r commented on #3780
I would definitely like this; +1 for being part of the design discussion as well. Knowing what to build in presubmits/CI for each platform is currently one of the major pain points in our build infrastructure.

[2018-12-05 02:37] lidizheng commented on #6844
That seems to be a "feature" of package `googleapis-common-protos`

[2018-12-05 03:04] g-easy opened #6845 "New http_archive rule doesn't support repo_mapping"
### Description of the problem / feature request:

prometheus-cpp imports zlib as `@net_zlib_zlib`
grpc imports zlib as `@com_github_madler_zlib`

Previously, I could "join the diamond" by doing:

[code]

But with the new:

[code]

The repo_mapping arg doesn't exist.

### Feature requests: what underlying problem are you trying to solve with this feature?

Join the diamond when dependencies disagr

[2018-12-05 07:52] laszlocsomor commented on #4950
@excitoon : Are you still interested in adding the links?

[2018-12-05 07:59] laszlocsomor commented on #5163
@sesmith177 : thanks for the update!
@lberki, @mhlopko : what's your timeline to fix this issue?

[2018-12-05 08:16] iirina commented on #6842
Please add a priority based on the [priorities in the Maintainers guide](https://www.bazel.build/maintainers-guide.html#priority).

[2018-12-05 09:58] iirina commented on #6752
Hi Ittai,

I tried to reproduce it but wasn't successful. I think I've lost you at the repository rule that creates the BUILD file. Can you sketch where that fits in with the layout of the repro? This is what I have right now:

[code]

And I build `:java_lib` in `current_repo_dir`.

In your example, is the original jar that was stamped under `external/io_bazel_rules_scala_scalactic`?

[2018-12-05 10:08] meteorcloudy commented on #6813
@JonMcDevitt Can you show me more error message?

[2018-12-05 10:46] meteorcloudy opened #6847 "Bazel CI: Android Testing is failing on Windows with Bazel@HEAD"
https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/649#8425be19-6d12-4ec4-934b-228d76be474c

[code]

[Culprit Finder](https://buildkite.com/bazel/culprit-finder/builds/40#90be0109-566e-4cfc-b98d-5c25ae1b6e94) says d235a06ede2247479dd8e5c315d55df4d657a618 is the culprt

@laszlocsomor

[2018-12-05 10:47] meteorcloudy commented on #6847
FYI @buchgr

[2018-12-05 10:55] meteorcloudy commented on #6153
Flipping this flag will causing many projects to fail in downstream, please help the downstream projects to migrate (filing issues, pinging the project owner, etc)
https://buildkite.com/bazel/bazel-at-release-plus-incompatible-flags/builds/13#37dd9512-9d32-4430-befb-ce3d371014e7

This is flag was planned to release in 0.21.0, but it's not flipped when 0.21.0 was cut, so looks like we should extend

[2018-12-05 11:54] mhlopko commented on #2121
This looks fixed to me, please shout if it's not true.

[2018-12-05 11:54] #2121 closed

[2018-12-05 11:56] mhlopko commented on #6707
I believe there's nothing to be done here, please shout if I'm wrong. Thanks!

[2018-12-05 11:56] #6707 closed

[2018-12-05 12:49] buchgr commented on #6260
The expected behavior is that if there is a problem downloading output artifacts from the remote cache that bazel deletes all outputs that have been downloaded and executes the action locally. Is that not what you are seeing?

[2018-12-05 12:57] keith commented on #6260
If I'm correct that Bazel is creating this directory which is my current understanding, then yes.

[2018-12-05 12:57] laszlocsomor commented on #6847
@meteorcloudy , how do i find the commit that Bazel was built at? I cannot repro this locally with Bazel built at f2b3bec088cd24062df07056a7b7061ced812b09.

Also, the output root on CI is under `C:/windows/system32/config/systemprofile` -- that doesn't look good.

[2018-12-05 13:03] laszlocsomor commented on #6847
Never mind, found it in the "Build Bazel (Windows)" task on the same page!

[2018-12-05 13:05] meteorcloudy commented on #6847
Great, we explicitly set the output user root to `D:/b`, so it shouldn't be `C:/windows/system32/config/systemprofile`
https://github.com/bazelbuild/continuous-integration/blob/master/buildkite/bazelci.py#L856

[2018-12-05 13:06] laszlocsomor commented on #6847
Oh, you're right! I was looking at the "Bazel Info" part of the log. That does not use the `--output_user_root` flag.

[2018-12-05 13:06] laurentlb commented on #6832
This now works again.

I think you updated the CI, @fweikert?

[2018-12-05 13:06] #6832 closed

[2018-12-05 13:09] meteorcloudy commented on #6847
I see, but it's better we use `--output_user_root` flag also for `bazel info`. I'll send a change.

[2018-12-05 13:14] natansil opened #6848 "depending on a local target with a fully qualified label "@workspace_name//path/to:target" in repository rules (e.g. java_import_external) is considered external"
### Description of the problem / feature request:

Depending on a **local** target with a fully qualified label "@local_workspace_name//path/to:target" in repository rules (e.g. `java_import_external`) is wrongfully considered **external**.

This issue reproduces both on bazel `HEAD` and on `0.21.0rc2 (2018-12-03)`

For example if a target `foo` depends on target `bar` , where both are in the work

[2018-12-05 13:21] buchgr commented on #6260
So what's the problem then? I fail to understand.

[2018-12-05 13:34] meteorcloudy commented on #6847
I tried to rerun the job in culprit finder
https://buildkite.com/bazel/culprit-finder/builds/41#b24d1754-a989-47f4-86e9-0345e771560a
This time it says everything is passing..

Looks like it's a flaky error, d235a06 is certainly not the culprit, sorry for the noise here.

[2018-12-05 13:34] laszlocsomor commented on #6847
No worries! Thanks for looking again!

[2018-12-05 13:35] laszlocsomor commented on #6847
Are P1 and Team-Windows adequate?

[2018-12-05 13:36] natansil commented on #6848
FYI: @ittaiz @or-shachar

[2018-12-05 13:37] meteorcloudy commented on #6847
Still need to look into what caused it, it can be stably reproduced in downstream
https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/649#1064573d-b8f3-4b7a-be4c-cf6467da4312

[2018-12-05 13:39] laszlocsomor commented on #6847
As a side-note, it would help repro-ing if some step (maybe "Bazel Info") printed the client environment. Is that possible?

[2018-12-05 13:41] meteorcloudy commented on #6847
Yes, that's doable!

[2018-12-05 15:42] katre commented on #6565
Migration is done and legacy code is removed.

[2018-12-05 15:42] #6565 closed

[2018-12-05 15:45] #5462 closed

[2018-12-05 15:46] katre opened #6849 "Improve host platform autodetection"
See the proposal at https://github.com/bazelbuild/proposals/blob/master/designs/2018-10-22-autoconfigured-host-platform.md

This issue is to track progress on the work.

[2018-12-05 15:57] Monnoroch commented on #4661
@xingao267 sorry for asking it here, but seems like the most appropriate issue. When is the `0.20.0` going to be pushed? It's been almost a week since the release was published.

[2018-12-05 15:59] xingao267 commented on #4661
@Monnoroch I'm working on it today. Sorry for the delay. It should be published today or tomorrow.

[2018-12-05 16:00] sergiocampama commented on #6260
The [documentation](https://docs.bazel.build/versions/master/skylark/lib/actions.html#declare_directory) though says that the action should instead create this output directory. But if you take a look at github.com/sergiocampama/tree-artifacts, you'll see that the documentation is incorrect, as that target builds correctly and the directories get created.

@buchgr can you confirm that tree artifac

[2018-12-05 16:16] sergiocampama commented on #6260
cc @laurentlb

[2018-12-05 16:55] sergiocampama commented on #6260
Perhaps? I'm not familiar with how remote cache is expected to work. Who would be the right person to assign this to?

[2018-12-05 16:57] buchgr commented on #6260
Me :-). It should be simple enough to fix here: https://source.bazel.build/bazel/+/master:src/main/java/com/google/devtools/build/lib/remote/AbstractRemoteActionCache.java;l=268?q=AbstractRemoteActionCAche

@keith may I take you up on your offer to send a PR? :-)

[2018-12-05 17:01] jin commented on #5827
@laurentlb Protobuf was just [tagged with 3.6.1.2](https://github.com/protocolbuffers/protobuf/releases/tag/v3.6.1.2) , but the [tag has not been promoted to a release yet.](https://github.com/protocolbuffers/protobuf/releases). The latest protobuf release is still 3.6.1, which still breaks on this incompatible change. Why is the incompatible flag removed already?

Also: all `android_instrumentati

[2018-12-05 17:30] laurentlb commented on #5827
Bazel 0.21 still has the flag. Bazel 0.22 won't have the flag, but it will be released end of January.

[2018-12-05 19:08] rupertks commented on #6785
In case your Xcode version has changed recently, could you run

bazel clean --expunge

And then try building again?

[2018-12-05 19:15] mjs-sx commented on #3780
I'm still interested in this feature, for the reasons originally described.

[2018-12-05 19:15] mpictor commented on #3760
ah, ok. thanks!

[2018-12-05 19:15] rupertks commented on #6785
+sergiocampama in case he has seen this before

[2018-12-05 19:17] rupertks commented on #6776
+ jmmv in case he has seen this before

[2018-12-05 19:21] gregestren commented on #3780
Thanks for the quick feedback.

I'll try to seed a brainstorm proposal by EOY (I'll be on vacation two weeks in the middle of December) and we can iterate from there.

[2018-12-05 20:08] jmmv commented on #6776
Nope, never seen that warning before (but I wrote that code :P). Resource limit 8 corresponds to `RLIMIT_NOFILE`. Can you share what the output of the following are on the same console you are running Bazel?

[code]

Thanks.

[2018-12-05 21:07] guw commented on #6776
[code]

[2018-12-05 21:16] jmmv commented on #6776
I see. So here is the problem:

1. Bazel tries to set the soft limit (20960) to the hard limit (32768) at startup time. On macOS, the hard limit cannot be higher than the kernel-configured limit (20960).
1. Now, Bazel has provisions to deal with the case where the hard limit is set to "unlimited", in which case it will cap the setting to the kernel limit to avoid the error you are seeing.
1. But..

[2018-12-05 21:41] davido commented on #6493
@laurentlb

Protobuf v3.6.1.2 was released today. I've upgraded my [PR](https://github.com/protocolbuffers/protobuf/releases/tag/v3.6.1.2) to bump protobuf to this version in rules_closure.

Can someone push merge button then, or what we are missing?

How can Gerrit update rules_closure, if there is no commit upstream that updated protobuf dependency, and Gerrit maintainers prefer not to fork thir

[2018-12-05 21:46] juliexxia commented on #6680
+gregce for output paths

[2018-12-05 22:00] aiuto commented on #4061
This is really developer experience - but we don't have a separate team for that yet.
I'm inclined to say yes to the concept, but no to this implementation. When we start doing automation for issues and PR response time and nagging, we could provide this in that dashboard.
What I want to prevent is a large amount of label proliferation.

[2018-12-05 22:44] aiuto commented on #6342
+1 to @AustinSchuh's comment about going back in time. It is an absolute requirement for many organizations to check downloaded dependencies in to their source tree - even if they do not vendor them. Virtually every company building products with long life cycles (e.g. embedded systems, flight control software, factory automation) checks in the compilers and entire build tool chain so that they ca

[2018-12-05 22:55] jin commented on #6814
Update: I'm drafting a plan to open source mi-v2, which involves open sourcing a lot of its tool dependencies.

[2018-12-05 23:31] cgoy-nvidia commented on #2176
These rules, `pkg_tar` and `container_layer`, are pretty much broken.  `strip_prefix`/`data_path` doesn't seem to work as advertised at all.   We have two repos which are `select`ed based on a `config_setting`.  We want to be able to preserve the directory structure of a `filegroup` we are using within each repo.  Let's say we have a `filegroup` named `tools` in each repo, and our repos are named

[2018-12-06 00:01] lidizheng commented on #6844
The package `googleapis-common-protos` works fine for other environment, but only behave this way with Bazel. And I found a new way to reproduce it steadily without the Docker image, updated the issue description.

[2018-12-06 01:51] JiamingFB commented on #6814
Hi Jin, I'm facing the same bug on Android 9.

java.lang.RuntimeException: Unable to create application com.google.devtools.build.android.incrementaldeployment.StubApplication: java.lang.IllegalStateException: java.lang.NoSuchMethodException: ensureStringBlocks []

In addition, I can't disable incremental build with either "--noincremental" or "--incremental=false" flag. bazel mobile-install alway

[2018-12-06 01:58] scottmin0r commented on #3780
I'm excited to read it! I'm wondering if we can clarify what the problem is though, because I think the title of this issue is one possible solution to an underlying problem, which is defining "what should build" in a given bazel workspace.

Knowing "what should build" is useful for:
* creating/maintaining presubmit/CI systems
* being able to gain 100% confidence that local changes break no target

[2018-12-06 02:35] chutian52 commented on #6785
@rupertks it didn't work. also failed with `undeclared inclusion(s) in rule`
[code]
My Mac is new , and I just install  the latest version of Xcode, and do nothing.

[2018-12-06 04:02] EricCousineau-TRI commented on #6680
No worries!

But, the issue is not so much that I have an open set of files to generate, but rather that I'd prefer not to care if the input files to a genrule are themselves genrules *or* plain vanilla source files.
Given that the above workaround is functional, I'm not sure why the current genfile folder structure has been chosen for source files (but definitely I understand why you'd like argum

[2018-12-06 04:18] EricCousineau-TRI commented on #4594
Just checked and confirmed that the above repro steps still fail in Bazel:

[code]

[2018-12-06 07:47] davido opened #6852 "Protobuf version used in external repository interferes with protobuf version used locally"
Gerrit depends on `rules_closure`, that depends on `protobuf` for communication with workers that run closure compiler. In the same time Gerrit depends on `protobuf` to serialize data in persistent caches and for that `protobuf` version 3.6.1 is used in Gerrit build tool chain:

[code]

To exercise `protobuf` dependency `rules_closure` does this:

[code]

After https://github.com/bazelbuild/bazel/

[2018-12-06 07:53] davido commented on #6493
So, there is a huge complication with upgrade of `protobuf` version in rules_closure, unfortunately. I filed this [issue](https://github.com/bazelbuild/bazel/issues/6852).

As pointed out by @acozzette:

Why can't we re-consider to revert 86013a0, just merge this [CL](https://bazel-review.googlesource.com/c/bazel/+/83630), and re-visit this deprecation after `protobuf` 3.7 s released, and Bazel it

[2018-12-06 09:36] Profpatsch commented on #4590
See https://github.com/bazelbuild/bazel/issues/6530

[2018-12-06 09:36] Profpatsch commented on #2888
See https://github.com/bazelbuild/bazel/issues/6530

[2018-12-06 10:00] meteorcloudy commented on #6852
@laurentlb Looks like we should not depends on random protobuf commit. Can we update rules_closure to depends on 3.6.1.2, it should be compatible with 3.6.1

[2018-12-06 10:21] meteorcloudy commented on #5827
@laurentlb Is it too soon to remove this flag from HEAD? Because if we do this, there's no way we can test Android in downstream. The cannot use this flag as a workaround, nor can they upgrade protobuf (until 3.7 came out). But I'd like to keep Android Testing in downstream to catch other errors.
Does `--incompatible_package_name_is_a_function` have to be removed in 0.22.0?

[2018-12-06 12:01] laszlocsomor opened #6853 "Windows: crash when test is killed due to timeout"
### Description of the problem / feature request:

Bazel at HEAD crashes after killing a test that timed out.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

See https://github.com/laszlocsomor/projects/tree/04e4749626dd76b04227e30739050643aefba813/bazel/sleepy_test

Output:

[code]

### What operating system are you running Bazel o

[2018-12-06 12:20] laszlocsomor commented on #6853
Bisecting points at https://github.com/bazelbuild/bazel/commit/bdf7a6bdd51df38e0a38ac338404bef151b27cce as the culprit.

/cc @philwo

[2018-12-06 12:48] Zetten commented on #6845
The `repo_mapping` attribute is also missing from the `git_repository` rule. I wonder if it needs to be added explicitly to each `repository_rule` instantiation, or if it can be spliced in automatically.

[2018-12-06 13:11] dkelmer commented on #6845
It is supposed to be added to each rule automatically, but given these reports it might be working only for natively defined rules (rules written in Java and built into Bazel) and not for rules defined in starlark. I'll take a look today.

[2018-12-06 13:37] meteorcloudy commented on #5827
Good news! It turned it's fine to upgrade android_test to protobuf 3.6.1.2. See my PR https://github.com/android/android-test/pull/147 and tested with android testing at https://github.com/googlesamples/android-testing/pull/227

[2018-12-06 13:37] meteorcloudy commented on #5827
@jin, can you make sure https://github.com/android/android-test/pull/147 get merged and update the ATS commit in android_testing?

[2018-12-06 13:41] #3867 closed

[2018-12-06 13:47] moruowait opened #6855 "download_and_extract: strange characters when unzip"
### Description of the problem :

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

### What operating system are you running Bazel on?

### What's the output of `bazel info release`?

execution_root: /private/var/tmp/_bazel_wushaoqing/2abb6bb8a734577b3b589dedb12ee9ea/execroot/xrc
gc-count: 21
gc-time: 1019ms
/private/var/tmp/_bazel_wu

[2018-12-06 13:55] laurentlb commented on #6493
@lberki

If the same issue is in 0.18, 0.19, and 0.20, it shouldn't be considered as critical for 0.21.

[2018-12-06 14:16] meteorcloudy commented on #6731
This is resolved.

[2018-12-06 14:30] meteorcloudy commented on #6493
I don't think I can fully agree. Sounds like as long as a regression exists for a time long enough, it's no longer critical. But there are different reasons for a regression to exist so long:

- There is an easy workaround for the regression so that people can endure it.
- The project that will hit the regression isn't upgrading Bazel frequently (maybe due to incompatible changes).
- The regressio

[2018-12-06 14:43] jin commented on #5827
@meteorcloud wow thanks for looking into this! I’ll follow up on your work.

[2018-12-06 14:57] sergiocampama commented on #6785
can you do `sudo xcode-select -s /Applications/Xcode.app` and then `bazel clean --expunge` and try again?

[2018-12-06 16:33] endobson commented on #2888
Even if this is desired behavior, then the docs should probably be fixed.

https://docs.bazel.build/versions/master/skylark/lib/actions.html#write

[code]
If this bit is not controlling the execute bit on the file, what is it controlling?

[2018-12-06 17:07] Monnoroch commented on #6592
Related: #6661.

[2018-12-06 17:10] aehlig commented on #6725
The whole `//external` virtual package seems like a hack. A minimal
example for the crash is the following.

[code]

The error message is also quite telling: `No such attribute tags
in local_repository rule //external:local`, i.e., even though the
rule in charge for that target is a repository rule, it is treated
like a normal build rule, that should have tags, etc. That most
likely also explains

[2018-12-06 17:18] Monnoroch commented on #6656
@davido probably better to include `bazel sync`.

[2018-12-06 17:54] meisterT commented on #6592
@Monnoroch There's no requirement anymore to have the same embedded JDK version as we use for the host javabase so #6661 is talking about updating the JDK version, it's a different JDK.

Independently, we also plan to upgrade the embedded JDK after we have submitted some other changes and hopefully it'll land before we cut 0.22.

If I understand the new java container support correctly, you probab

[2018-12-06 19:18] alexeagle opened #6856 "Allow build event files to be appended in watch mode"
https://docs.bazel.build/versions/master/build-event-protocol.html#consume-in-text-formats
documents a simple way for Bazel to produce machine-readable streamed output
[code]

However when used in combination with bazel-watcher (aka `ibazel`) the file is overwritten for each time a build is triggered. This makes it very difficult to write a client for the protocol. On Mac/Linux you could use an op

[2018-12-06 19:34] philwo commented on #6853
Thanks for debugging and rolling back! :) I'll fix it in a rollforward PR.

The cause is relatively simple - due to us terminating the job object and setting `result->job_` to `INVALID_HANDLE_VALUE` in `nativeWaitFor` now, the `nativeTerminate` method that is [called explicitly](https://source.bazel.build/bazel/+/e1b99081813319da729eab84ec8f6d37a8e01572:src/main/java/com/google/devtools/build/lib/

[2018-12-06 22:44] davido commented on #6852
@meteorcloudy If I update `rules_closure` to `protobuf` 3.6.1.2 instead of to `protobuf` at HEAD, then it seems to work. IOW, `protoc` from 3.6.1.2 seems to be compatible to `protobuf-java` 3.6.1 that is used in gerrit itself.

[2018-12-07 01:46] jin commented on #6493
@davido I have written a [postmortem](https://docs.google.com/document/d/1yEvVro14iRshpum-1lnu_ZqoXcL8l7EYbmjdFTsl48Y/edit#heading=h.t36ajsmfpi40) on how we can prevent this from happening again, with a focus on the Android projects that I'm maintaining. I also mentioned the issues surrounding Gerrit and rules_closure, as we both faced similar breakages.

[2018-12-07 06:05] davido commented on #6493
@Jin Thanks, looks god! I commented on this document.

[2018-12-07 07:05] laszlocsomor opened #6859 "Windows, test wrapper: `--all_incompatible_changes` should not yet activate new test wrapper"
### Description of the problem / feature request:

The Windows-native test wrapper (see https://github.com/bazelbuild/bazel/issues/5508) is currently guarded by the `--[no]incompatible_windows_native_test_wrapper` flag, however it's not yet ready for dogfooding.
But since it's an "--incompatible..." flag, it's turned on by `--all_incompatible_changes`, which is supposedly used by some of the Bazel

[2018-12-07 07:10] laszlocsomor commented on #6859
@laurentlb : I believe this is a release blocker for https://github.com/bazelbuild/bazel/issues/6859, please confirm.

0.20.0 contains the flag as `--[no]windows_native_test_wrapper`.

0.21.0rc2 contains it as `--[no]incompatible_windows_native_test_wrapper `. If 0.21.0 is released with this flag, then anyone using the release with `--all_incompatible_changes` will activate this flag, breaking tes

[2018-12-07 07:10] laszlocsomor commented on #6493
Potential release-blocker: https://github.com/bazelbuild/bazel/issues/6859

[2018-12-07 07:47] lberki commented on #3867
Update: the full version of this change (stripping + adding prefixes) was merged in the change above and should be in 0.22 . Build a Bazel at HEAD To give it a spin ahead of time!

[2018-12-07 08:42] laszlocsomor commented on #6853
Can we use `GetExitCodeProcess(handle, &exitcode); if (exitcode == STILL_ACTIVE) {...}`? That still has a race condition (what if the process exist just *after* GetExitCodeProcess returned) but at least the race window would be narrower than now.

Thank you!

[2018-12-07 08:46] mhlopko commented on #6794
I have a cl in flight for 1) and 3).

For 2, how should would you document it? It's a tiny Starlark file with one function. I wouldn't put it into bazel.build. What I would do is to have a page about how to write rules that integrate with C++ rules. SGTY?

[2018-12-07 09:08] dslomov commented on #5763
Looks like tf's build issue.

[2018-12-07 09:08] #5763 closed

[2018-12-07 09:36] dslomov commented on #6493
Sorry for not replying earlier, I was on sick leave.

Re protobuf issue: looks like the world (including Bazel itself, rules_closure and other things) need to move to protobuf 3.6.1.2, and that is an acceptable solution to everyone, is that correct?

Re #6806: this fix should be cherry-picked under a provision for critical, high impact issues. What happened there is that it took as a while to repr

[2018-12-07 09:51] meteorcloudy commented on #6859
I think it's better to use `--experimental_...` if the feature is not yet completed. But Bazel CI doesn't use `--all_incompatible_changes`, we specify incompatible flags explicitly for now, so CI is not affected.

[2018-12-07 09:58] laszlocsomor commented on #6859
That's great to know CI is not affected. Bazel users still might, though, so let's fix this bug.

[2018-12-07 10:22] davido commented on #6493
Unfortunately, no. Can you see my comments on @jin's postmortem document linked in his previous comment?

1. 3.6.1.2 is broken, as it missed at least one commit compared to 3.5.1 protobuf release. That broke rules_closure integrations tests for protobuf_js. I uploaded a PR to fix that. After the fact, new tag 3.6.1.3 must be created. ETA is unknown.
2. 3.6.1.2 is not a complete protobuf release, b

[2018-12-07 10:36] mhlopko commented on #5187
Duplicate of https://github.com/bazelbuild/bazel/issues/5883

[2018-12-07 10:36] #5187 closed

[2018-12-07 10:42] hlopko opened #6861 "incompatible_disable_legacy_crosstool_fields: Disable legacy crosstool fields"
**Flag:** `--incompatible_disable_legacy_crosstool_fields`
**Available since:** 0.22 (January 2019 release)
**Will be flipped in:** 0.25 (April 2019 release)
**Tracking issue:** https://github.com/bazelbuild/bazel/issues/5883
**Rollout doc:** https://docs.google.com/document/d/1uv4c1zag6KvdI31qdx8C6jiTognXPQrxgsUpVefm9fM/edit#

### Motivation

CROSSTOOL grew much bigger than it was expected in 201

[2018-12-07 10:55] mhlopko commented on #6861
CC @scentini

[2018-12-07 11:45] buchgr opened #6862 "Tracking issue for "Remote Builds without the Bytes""
This issue tracks the progress towards [Remote Builds without the Bytes](https://docs.google.com/document/d/1wXPoGMhd1wmjc_4fqy-bP0RE3AlHk-IHpMUy0nDZLkU/edit?usp=sharing&resourcekey=0-1bw8YMFeUPCeK4lOLWTOBA).

## Milestones
- [x] **Implement basic support for not downloading intermediate artifacts** (In Bazel 0.25)
The feature can be enabled by adding the flag `--experimental_remote_download_outpu

[2018-12-07 13:22] meteorcloudy commented on #6847
Similar failure is happening to https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/679#0910f88b-7b15-49d8-97c6-6d73f3aa45d6

[2018-12-07 13:30] dslomov commented on #6821
The exception points to a some sort of Java initialization mishap, maybe random
what does your JAVA_HOME point to, and which `java` is on your path?

[2018-12-07 13:33] laszlocsomor commented on #6847
Let me take a look!

[2018-12-07 13:37] dslomov commented on #5697
Marking as P1 because error messages

[2018-12-07 13:55] ashi009 opened #6864 "Incomplete repository_rule overriding"
### Description of the problem:

A previously declared repository_rule cannot be fully overridden by a repository_rule with the same name. If these targets are declared in different bzl files.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

1. Download https://gist.github.com/ashi009/bf09b61d7a076aa8ed59d9c06cc6b378 as an archive an

[2018-12-07 14:04] johnmarkwayve commented on #6821
It was happening consistently, not stochastically.

I'm running a fairly normal Ubuntu 16.04 installation, with OpenJDK installed via apt (if I remember correctly).

[code]

[2018-12-07 15:10] laurentlb commented on #6794
Sounds good.

[2018-12-07 15:36] allevato commented on #6848
This also affects the Starlark debugger, because the Starlark interpreter will report different file paths (`external`-relative or workspace-relative) depending on how the `.bzl` file was loaded, and this affects breakpoint resolution: https://github.com/bazelbuild/vscode-bazel/issues/24

[2018-12-07 15:42] sergiocampama opened #6865 "bazel downloads the JDK during execution"
### Description of the problem / feature request:

When running tests with bazel, it tries to download some JDK. This makes bazel dependent on connectivity in order to run.  In our case, we do have connectivity to the internet, but if there are transitive errors when trying to download the JDK, the tests will fail. If there are no errors, it still adds extra time to the tests, which is not ideal.

[2018-12-07 15:46] sergiocampama commented on #6865
This is the actual error line we're getting:

[code]

[2018-12-07 16:15] ahumesky commented on #3948
sthuthyraj, looks like the problem is:

    java.io.IOException: Error downloading [https://mirror.bazel.build/www.kurims.kyoto-u.ac.jp/~ooura/fft.tgz, http://www.kurims.kyoto-u.ac.jp/~ooura/fft.tgz] to /home/gtornd/.cache/bazel/_bazel_gtornd/4c5bdc5ff594012a66a343eca3d8150e/external/fft2d/fft.tgz: All mirrors are down: [Connection refused (Connection refused)] and referenced by '//tensorflow/core

[2018-12-07 16:16] cushon commented on #6865
cc @meisterT

This is the result of #6656.

[2018-12-07 16:33] nlopezgi commented on #6516
Thanks for the clarifications @mhlopko , sorry for tagging along other stuff here @katre

[2018-12-07 16:33] gjasny commented on #5908
We were using a remote cache. But I have not seen the problem since a month. We could close it and I re-open once the problem re-appears.

[2018-12-07 16:35] jin commented on #5908
@gjasny sounds good! Will close this for now.

[2018-12-07 16:35] #5908 closed

[2018-12-07 17:37] katre opened #6867 "incompatible_disable_genrule_cc_toolchain_dependency: remove genrule's implicit dependency on the cc_toolchain"
Flag: --incompatible_disable_genrule_cc_toolchain_dependency
Available since: 0.22
Will be flipped in: 0.25

Currently, every genrule target has an implicit dependency on the cc_toolchain, caused by the ":cc_toolchain" late-bound attribute. With the recent migration to using the "toolchains" attribute to setting this dependency, the only remaining use of ":cc_toolchains" is to provide the CC_FLAGS

[2018-12-07 18:20] cnsgsz commented on #1449
Hi, what is the suggested way to switch between keeping the test tmp files or not?
1. os.environ.get("TEST_TMPDIR") does not seem to exist after test finishes.
2. --keep_test_tmpdir does not seem to be a valid argument to bazel.
3. os.environ.get("TEST_UNDECLARED_OUTPUTS_DIR") does not seem to exist after test finishes but becomes a zip in bazel-testlogs. So if I keep running the test with os.envi

[2018-12-07 18:46] brandjon opened #6868 "Improve python shell integration test coverage"
Namely, OSS some internal-only basic "hello world" tests demonstrating py_binary, py_library, runfiles access, and choosing the Python version.

[2018-12-07 18:57] thomasvl opened #6869 "Better documentation/controls to allow CI caching"
Sorta related to #6865

https://travis-ci.org has support for setting up a directory to be cached/reused between runs.  It would seem like for bazel, the good thing to do would be to be able to cache all the remote repo downloads and then likely the action cache.

Looking at [Output Directory Layout](https://docs.bazel.build/versions/master/output_directories.html) and `bazel help --long startup_o

[2018-12-07 19:34] jin commented on #6814
@JiamingFB I have a fix pending for that.

[2018-12-07 20:37] jin commented on #6814
I also have a fix pending for the incompatibility with aapt2.

[2018-12-07 21:21] #5799 closed

[2018-12-07 21:23] jin commented on #6814
@JiamingFB fix it out, you'll need to build Bazel at HEAD to use it, or use Bazel 0.22 when it's released.

[2018-12-07 23:18] gregestren commented on #4714
Been doing some experiments in this space recently: see https://github.com/bazelbuild/bazel/issues/6431#issuecomment-444261808. I'm personally not sure how Docker affects the story and this thread has gotten pretty big since I last visited it.

What's the most actionable request we're looking for on this issue now? Is this all contingent on docker now?

[2018-12-07 23:36] gregestren commented on #3780
Quick response before I go on vacation for two weeks:

1. Happy to discuss more as long as we need. I didn't want to imply i'd just write up a proposal in place of collaborative discussion.
1. I'd like to understand better how platform settings are embedded in your CI / external scripts. I think it's reasonable for bazel / BUILD files to fully handle this.
1. I agree testing / presubmits / CI / us

[2018-12-08 00:49] ob commented on #5047
I'm seeing this one with Bazel 0.20.0. I think a failure in the remote cache:

[code]

triggered this again:

[code]

this was with `--jobs 2000` so it might be that same race?

[2018-12-08 07:06] piratf opened #6870 "Output sharing via --output_user_root is broken"
### Description of the problem / feature request:

bug: fatal error when start bazel with --output_user_root=/data/tmp/

[code]

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

I want multiple users to share the same execution directory, so they can share one build process and the cache file is still saved after any user destroys its

[2018-12-08 07:09] cnsgsz opened #6871 "build cleaner?"
Is it possible to automatically update the dependencies of build rules, etc? It could be a huge productivity boost for users.

[2018-12-08 07:33] ghost opened #6872 "Binary releases for arm?"
Can we get a bazel binary release for arm? Compiling from source takes ages and fails in many cases where memory is limited.

[2018-12-08 08:30] iamorphen opened #6873 "Update documentation to show clearer example of http_archive"
### Description of the problem / feature request:

The `http_archive` [documentation](https://docs.bazel.build/versions/master/be/workspace.html#http_archive) refers to the new Skylark rule as being a drop-in replacement. The replacement is not drop-in, though, as the referenced build file (used when transitioning from the deprecated `new_http_archive` to the Skylark `http_archive`) is anticipated

[2018-12-08 08:50] philwo commented on #1449
I don't know anything about TEST_UNDECLARED_OUTPUTS_DIR, but can tell you about TEST_TMPDIR:

Bazel itself doesn't explicitly clean up the TEST_TMPDIR after execution (it just ensures that it's cleaned before a test runs, in case an old TEST_TMPDIR at the path still exists).

However when using sandboxing (which is the default), test TEST_TMPDIR is insides the sandbox for each test and the sandbox

[2018-12-08 14:40] qzmfranklin commented on #6818
Dear @iirina @dslomov and @brandjon

I thought Google internally uses python 2.7 (am I right?) so tests were run with python 2.7 most of the time.  I'd like to see some tests with Python3 added to Bazel's test suite so that such regressions are prevented in the future.

With `git annotate`, I found that this regression was introduced by a commit attempting to add streaming capability to `pkg_deb`

[2018-12-08 15:43] jin commented on #5799
@sunyal this is fixed, and will be available in 0.22 (or head now)

[2018-12-08 21:11] mboes opened #6874 "find_cpp_toolchain() should not test for CPP toolchain"
### Description of the problem

Since Bazel 0.20, we are required to add a hidden attribute `_cc_toolchain` to any rule that requires access to the CC toolchain. We are then asked to use `find_cpp_toolchain()` inside the rule implementation to locate the toolchain. But in an aspect this doesn't work.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal exampl

[2018-12-08 21:37] petemounce opened #6875 "Still dependent on msys2 on Windows?"
### Description of the problem / feature request:

Someone on the internet asked, on chocolatey, why msys2 is a dependency. http://disq.us/p/1xk2xaf

I think the answer _might_ at this point be, it's not a dependency. Is that accurate? cc @laszlocsomor

### Feature requests: what underlying problem are you trying to solve with this feature?

Remove a dependency from the chocolatey installer.

###

[2018-12-09 03:01] cnsgsz commented on #1449
Thanks Philipp! Your suggestion works great.

[2018-12-09 05:06] ittaiz commented on #3120
Btw,
One can also plug in through jvm_maven_import_external if a simple
maven_import rule is contributed (that will be like java_import but with
the provider).
This will have the benefit of using the import_external infrastructure
On Tue, 4 Dec 2018 at 22:25 aiuto <notifications@github.com> wrote:

[2018-12-09 05:07] ittaiz commented on #6842
If this is in by default what will this do to a java_test target that depends on a different java_test target?
We have that scenario internally

[2018-12-09 05:31] ittaiz commented on #4592
@katre is this issue the same as https://github.com/bazelbuild/bazel/issues/5462? (which is now closed) If not can you please explain how they relate?
Thanks!

[2018-12-09 07:53] mboes opened #6876 "Document how to get "mostly static" link options with new C++ toolchain API"
I don't know whether this is a bug. But it's at the very least a documentation request. It's blocking https://github.com/tweag/rules_haskell/issues/492.

### Description of the problem

Since Bazel 0.20, getting the CC linker flags is now done via the [new C++ toolchain API](https://docs.bazel.build/versions/master/skylark/backward-compatibility.html#disable-legacy-c-configuration-api). Before tha

[2018-12-09 11:52] chutian52 commented on #6785
@sergiocampama it didn't work either.
[code]
and clang's version
[code]

[2018-12-09 22:32] mboes commented on #2927
The question for me is - what was the initial motivation for Bazel detecting recursive symlinks? They seem benign to me. Not sure why Bazel is defensively excluding them.

[2018-12-10 02:30] phb opened #6879 "Switching between local_repository and git_repository can result in the local_repository directory being removed"
### Description of the problem / feature request:

When switching between local_repository and git_repository, if pressing CTRL+C at a bad time when a bazel command is started during the local_repository -> git_repository switch, the entire local repository folder can be removed.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.
1) Rep

[2018-12-10 06:24] haolongzhangm opened #6880 "how to query with args"
build command: bazel build //xxx/yyyyy:run -c dbg --cpu=android_armv7

what is the query command?

if I use:    bazel query --nohost_deps --noimplicit_deps  'deps(//xxx/yyyyy:run -c dbg --cpu=android_armv7)'

will put err  syntax error at 'dbg - -'
so How can I query the deps about target //xxx/yyyyy:run with args "-c dbg --cpu=android_armv7"

[2018-12-10 08:15] laszlocsomor commented on #6875
Unfortunately MSYS2 is still a dependency, because Bazel needs Bash to run tests.
Follow along on https://github.com/bazelbuild/bazel/issues/5508

[2018-12-10 08:42] laszlocsomor commented on #6847
I noticed something in https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/679#71068d7e-b147-46c6-a7ea-dcf6ddb97425 that I didn't before:
[code]

The error comes from `D:/b/fkulpsov/...` but it complains about an inclusion from `D:/b/hh7flgnl/...`. I have no idea what `hh7flgnl` is or where it comes from -- the output base (according to the "Bazel Info" step) is `D:/b/fkulpsov`.

[2018-12-10 08:48] laszlocsomor commented on #6847
Hmmm, a wild guess: could this be a poisoned cache result?

Header validation on Windows works by asking the compiler to write the list of included files (via the `/showIncludes` flag), then validating the list against the allowed list of files. The VC++ compiler however outputs absolute paths. and Bazel strips known prefixes from these paths (e.g. the execution root) to get relative paths.

I hav

[2018-12-10 08:54] laszlocsomor commented on #6847
More evidence for the cache poisoning:

In the previous build of "Android Testing" on Windows (678), the build failed with a similar error (https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/678#515c01ce-c6a1-4f9e-989f-ec4aef899b24):

[code]
output base was "D:/b/ncxufbua", and the missing inclusion was again from `D:/b/hh7flgnl`.

In the previous build before that (677) (https://bui

[2018-12-10 09:55] laszlocsomor commented on #6847
@lberki told me it's quite possible that Bazel stores the action's stdout in the remote cache, because that's how Bazel can replay the action's output if it was cached.

The latest "Android Testing" build as of now is 689 (https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/689#56cc7a37-3397-4d8a-b06b-ea7bb02980fe) and it's failing just like the others, only with different paths:

[co

[2018-12-10 09:59] laszlocsomor commented on #6847
@buchgr , @meteorcloudy : Do you know:
- my theory is plausible, i.e. whether Bazel really stores the compilation action's outErr in the remote cache?
- how we could postprocess the action's outErr to remove the execroot prefix, so the cached file will only have relative paths?
- if it's possible to purge bad entries from the cache, or purge the whole cache that CI uses?

[2018-12-10 10:42] #6260 closed

[2018-12-10 14:58] serynth commented on #6842
Actually, I misspoke in the initial description - the problem is when non-test rules depend on test rules. In that case, the test rule will fail to build as a dependency of the non-test rule, citing TestConfiguration being disabled.

[2018-12-10 15:06] laurentlb opened #6881 "Documentation menu for Starlark"
Feedback from the [mailing-list](https://groups.google.com/d/msg/bazel-discuss/S703wE4t_Zg/bG5io7_DBAAJ):

[2018-12-10 15:14] katre commented on #5462
Closed this because it's a dupe of #4592.

[2018-12-10 15:15] katre commented on #4592
Yes, this is the same as #5462, which I closed as a dupe.

We have committment for work on this in 2019Q1, I will try and make sure the appropriate issue is tagged in the commits relating to the work, so that interested parties can follow along.

[2018-12-10 16:23] aiuto commented on #5866
Adding EngProd to replace bootstrap, except this is probably really just C++

[2018-12-10 16:32] aiuto commented on #1491
It won't be sufficient to just download a specific version of Bazel. You will also want to get the rule sets at the versions the Bazel version was tested against. We are thinking about better versioning across core Bazel and the rules, but there may not be anything new for a quarter or so.

[2018-12-10 16:39] aiuto commented on #4836
Getting the proxy settings right is part of proxy support. We still might need to do the work to use SSL root certificates which come from the user's machine rather than what we are shipped. This is often needed at sites that use MITM decrypting proxies (for example, financial institutions). This, of course, is a security problem in itself.  The work on proxies should be combined with resolution f

[2018-12-10 16:43] jin commented on #1491
@philwo made a wrapper here: https://github.com/philwo/bazelisk

[2018-12-10 16:53] jin commented on #6880
the `query` command has no concept of configuration options like `-c` and `--cpu`. Please try `cquery` instead:

[code]

Please ask questions on [bazel-discuss](https://groups.google.com/forum/#!forum/bazel-discuss) or [StackOverflow](https://stackoverflow.com/questions/tagged/bazel) in the future, thank you!

[2018-12-10 16:53] #6880 closed

[2018-12-10 16:57] aiuto commented on #4551
In the short term, skipping the BOM bytes is an obvious win.
Does anyone have an opinion about parsing in UTF-8? I agree with @philwo that we should be doing that.

[2018-12-10 18:06] jin commented on #6871
The language rulesets typically provide their own tools, like gazelle for Go rules. Could you elaborate more on what you would like to see in this tool?

[2018-12-10 18:30] aiuto commented on #3240
@laurentlb @lberki Does this belong in Team:starlark or Team:cpp?
I'm untriaging for now and whomever picks it up can decide.

[2018-12-10 19:08] barbu110 commented on #2537
Anything on this yet?

[2018-12-10 19:46] PiotrSikora opened #6882 "`select()` doesn't work in `bind()`."
### Description of the problem / feature request:

`select()` doesn't work in `bind()`, leading to an error:
[code]

### Feature requests: what underlying problem are you trying to solve with this feature?

(same as #6883)

I'm trying to add an alternative SSL library (different build of BoringSSL, really) to Envoy, which could be selected at the build-time using `--define ssl_library=alternative`

[2018-12-10 19:46] PiotrSikora opened #6883 "Skylark macros should have access to results of evaluated `config_setting`."
### Description of the problem / feature request:

Skylark macros should have access to results of evaluated `config_setting` in order to take different actions based on the selected build-time options.

### Feature requests: what underlying problem are you trying to solve with this feature?

(same as #6882)

I'm trying to add an alternative SSL library (different build of BoringSSL, really) to En

[2018-12-10 19:57] LStAmour opened #6884 "Add official VS Code plugin to IDE documentation page"
The [IDE Integration page](https://github.com/bazelbuild/bazel/blob/master/site/docs/ide.md) is missing the [official VS Code plugin](https://marketplace.visualstudio.com/items?itemName=BazelBuild.vscode-bazel) which appears to have better external support of Bazel at the moment, including [Bazel-compatible typescript support missing from the IJ plugin](https://github.com/bazelbuild/intellij/issue

[2018-12-10 20:02] katre commented on #6882
The underlying problem here is that bind() is a WORKSPACE rule, and the WORKSPACE rules don't know about specific configurations.

The [`alias` ](https://docs.bazel.build/versions/master/be/general.html#alias) rule can appear in BUILD files, and accepts a `select` as the value of the `actual` attribute.

Your `config_setting` targets will also need to be in BUILD, not WORKSPACE.

[2018-12-11 01:32] akirchhoff-modular opened #6886 "py_runtime in third_party package conflicts with third_party.py.gflags import in Android rules"
### Description of the problem / feature request:

When using the default Python interpreter with Bazel, system and user packages are picked up. To work around that, we are creating a Python [`venv`](https://docs.python.org/3/library/venv.html) in `third_party/python_env` and hooking it up with a `py_runtime`:

[code]

(Then putting `build --python_top=//third_party/python_env` in our `.bazelrc`.)

[2018-12-11 02:34] Utsav2 opened #6887 "Workspace log proto uses Python reserved keyword"
### Description of the problem / feature request:

Workspace log proto uses Python reserved keyword

### Feature requests: what underlying problem are you trying to solve with this feature?

The protobuf field here is named `from`: https://source.bazel.build/bazel/+/master:src/main/java/com/google/devtools/build/lib/bazel/debug/workspace_log.proto;l=84?q=WorkspaceEvent.

[code]

Since `from` is a

[2018-12-11 02:40] mfarrugi opened #6888 "Expose a ctx.actions.Args() buildCommandLine to starlark"
### Description of the feature request:

[SkylarkActionFactory.Args](https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/analysis/skylark/SkylarkActionFactory.java) should expose a way to access the built command line to Starlark.

### Feature requests: what underlying problem are you trying to solve with this feature?

rules_rust has a [rule](https://github