[2021-08-09 07:33] comius commented on #13409
This is reappearing again. "Bazel requires Android build tools version 30.0.0 or newer, 28.0.2 was provided"

https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/2122#cb584520-989b-400b-ac07-5407601331ff

@meteorcloudy Can you check what's going on? If the SDK is really installed on the CI, it should error out.

[2021-08-09 07:45] meteorcloudy commented on #13816
Sure, looking into them!

[2021-08-09 08:30] meteorcloudy commented on #13816
Ha, looks like `grep` somehow failed to match Windows line endings, let me check why this is happening..

[2021-08-09 08:53] philwo commented on #13816
Maybe a bug or update in MSYS2? 🤔

Also I remembered one more thing that changed - I upgraded the base image from Windows 10 build 1909 to build 20H2.

[2021-08-09 09:35] meteorcloudy commented on #13816
https://github.com/msys2/MSYS2-packages/pull/2163#issuecomment-700216927

Turned out this is an incompatible change in grep after upgrading grep to 3.5 in MSYS. We'll fix this by removing the line ending match in those tests.

[2021-08-09 10:32] lukasz-m-maciejewski opened #13818 "Unvaried output path when using --platform flag"
### Description of the problem / feature request:

When building using using the `--cpu=custom_cpu` flags, I get my artifacts in the `bazel-out/custom_cpu-<opt|dbg>` folder.
However, when I use the new platforms flag, my build artifacts always end up in `bazel-out/k8-<opt|dbg>`, so the path is completely independent of the platform. This results in builds for different platforms clobbering each ot

[2021-08-09 11:20] #13816 closed

[2021-08-09 14:18] obruns commented on #852
@philwo, thanks for suggesting the two flags.
* the impact of `--experimental_sandbox_async_tree_delete_idle_threads=auto` is negligible compared to `tmpfs`/`ext4`.
* there seems to be decent impact of `--experimental_reuse_sandbox_directories` but Bazel from `master`/rolling releases utilizes only ~10 of 16 cores which makes it difficult to know for sure.

The 10/16 core problem probably warrants

[2021-08-09 15:44] katre commented on #13558
I am now going through internal release processes. Unfortunately this will add a few days until the release can be finalized. Please continue to test the latest RC during this period.

[2021-08-09 15:46] quval opened #13819 "Shared libraries with transitions aren't always available where expected in runtime"
### Description of the problem:

When an executable has dynamically-linked dependencies that have transitions, shared libraries aren't always placed where the binary expects them in runtime. This means, for example, that such tests cannot be run in remote execution.

The rpath where shared libraries with transitions are looked up is `$ORIGIN/_solib_k8/../../../k8-fastbuild-ST-<...>/bin/_solib_k8`,

[2021-08-09 16:37] markub3327 commented on #13813
Yes I have only Xcode CLI installed. Why is needed fully installed Xcode?

[2021-08-09 17:18] alexander-scott opened #13821 "Disabling color with bazel test --nobuild causes an error"
### Description of the problem / feature request:

When adding `color=no` to a `bazel test --nobuild` command, Bazel returns the following error message:

[code]

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

As far as I know this should be reproducible on any bazel project, e.g. the bazel examples.

First run without disabling col

[2021-08-09 17:55] philwo commented on #13797
It would be interesting to see where exactly Bazel fails in https://github.com/bazelbuild/bazel/blob/70073fd3ea1424e87e7ba16e29cd87aac7cb17e7/src/main/cpp/util/file_windows.cc#L474.

[2021-08-09 17:57] philwo commented on #13797
I wonder how Docker volumes are actually implemented on Windows.

@perezd out of curiosity, could you try not using the root directory of the volume as your workspace, but a subdirectory, e.g. `-WorkingDirectory "C:\workspace\ws"` in your entrypoint.ps1? Maybe this helps Bazel skip over the problematic behavior of the root of the volume.

[2021-08-09 19:13] perezd commented on #13797
Gave that a shot, getting the same error, just deeper:

[code]

[2021-08-09 20:59] alexeagle commented on #13799
You can opt-out of sandboxing in your parcel rule by requesting the "local" execution strategy
`execution_requirements = {"local": "1"}`
like
https://github.com/bazelbuild/rules_nodejs/blob/22673fcc436e207e7821a02914005e9e610d40d2/internal/pkg_npm/pkg_npm.bzl#L293

[2021-08-10 00:36] keith commented on #13813
Great, sounds like we can close this then?

[2021-08-10 05:23] uajith opened #13823 "Bazel clean --expunge or Bazel shutdown unable to kill stale bazel processes"
### Description of the problem:
The `bazel buld` or `bazel query` creates a stale bazel process even after the bazel build/query is completed. This prevents future invocation of other bazel commands

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

On Tekton task list we are following below commands

1. bazel query //...  (or a list o

[2021-08-10 05:48] markub3327 commented on #13813
Yes, all is working. Thanks a lot.

[2021-08-10 09:04] philwo commented on #8833
@herrahmo You can just download the Bazel file, put it somewhere and run it. I usually move it to `/home/philwo/bin` and put that directory on my `$PATH` so that I can just run Bazel by typing `bazel`. There is no need to install it or run a setup step - Bazel is a self-contained binary and will just work. :)

[2021-08-10 09:05] hlopko commented on #13308
Oh I was very wrong! It turns out `incompatible_dont_enable_host_nonhost_crosstool_features` defaults to True in Bazel, but to False internally. So internally we have a way to detect host/exec configuration (and we use it), but in Bazel we cannot.

@katre is there a way to detect if we are in the host/exec configuration in Starlark? Right now it seems the only way is to check `ctx.genfiles_dir.pat

[2021-08-10 09:06] hlopko commented on #13308
https://github.com/bazelbuild/bazel/issues/13315 is in spirit (but not really :) a duplicate of this issue.

[2021-08-10 10:21] meteorcloudy commented on #13797
Related issue https://github.com/bazelbuild/bazel/issues/11237, Bazel cannot resolve certain type of directory symlink and probably should not try to resolve them.

[2021-08-10 10:21] meteorcloudy commented on #13797
For this specific issue, https://cs.opensource.google/bazel/bazel/+/master:src/main/cpp/util/file_windows.cc;l=425 is the place the error was thrown, Bazel failed to open the symlink directory inside the docker.

[2021-08-10 12:03] #13810 closed

[2021-08-10 14:22] #13071 closed

[2021-08-10 14:24] katre commented on #13308
We are (slowly) working to enable platforms and toolchains for C++ inside google and for Bazel users. Most of the difficulty comes from the interactions of the CC toolchain with Android and Apple code, and we're actively working to resolve that.

You're going to need @oquenchil to figure out whether or not `incompatible_dont_enable_host_nonhost_crosstool_features` is still needed, I don't have eno

[2021-08-10 14:31] meteorcloudy commented on #13797
I debugged this a bit, it turned out the [GetFinalPathNameByHandleW](https://cs.opensource.google/bazel/bazel/+/master:src/main/cpp/util/file_windows.cc;l=444?q=RealPath&ss=bazel%2Fbazel) doesn't work if the path is under a symlink to the host system.

We are hitting exactly the issue described here: https://blog.sixeyed.com/docker-volumes-on-windows-the-case-of-the-g-drive/

There is no simply fi

[2021-08-10 14:35] meteorcloudy commented on #13797
Oh, the article also mentioned it's no longer an issue in Windows server 2019, can you probably upgrade the version of your docker image?

[2021-08-10 15:02] hlopko commented on #13308
@katre what about a language independent way of querying if the current configuration is target or exec from Starlark? Is there a better way than inspecting the `genfiles_dir.path`?

[2021-08-10 15:18] katre commented on #13308
We don't currently have a way to do that. I think there's an open feature request but I don't think we've figured out the right way to expose that.

[2021-08-10 17:05] perezd commented on #13797
OK so I tried the G:\ drive hack, and I can determine that the drive mapping is working (ls works) but Bazel fails in the identical way. Does this still appear as a symlink to Bazel even as a mapped drive?

[2021-08-10 17:27] fmeum commented on #13464
@gregestren Could you offer some guidance? Our current workaround is to use the target rather than the exec config, but that will no longer be feasible with cross-compilation.

[2021-08-10 18:48] perezd commented on #13797
I can confirm this error is only windows server 2016, the docker image works as expected w/ 2019.

[2021-08-10 19:10] philsc commented on #12897
Sorry for dropping the ball on this ticket. It's been a busy few months. I'm resuming work on this at the end of August.

If anyone else wants to take it over in the meantime, I can totally understand that.

[2021-08-10 21:06] oliviernotteghem opened #13825 "android_binary target fails compilation if --nojava_header_compilation + use of default method of generic interface"
### Description of the problem / feature request:

Compilation of android app will fail under these circumstances :

    1. android app is built with --nojava_header_compilation option
    2. a separate module defines a generic interface
    3. a child subclass of this interface defines a default for one of the generics interface method
    4. another module defines a subclass of child interface

[2021-08-10 22:03] #13689 closed

[2021-08-11 07:48] meteorcloudy commented on #13797
It failed in `GetFinalPathNameByHandleW` in the equivalent implementation of [realpath](https://cs.opensource.google/bazel/bazel/+/master:src/main/cpp/util/file_windows.cc;l=421?q=RealPath&ss=bazel%2Fbazel) for Windows, so don't even check if it's a symlink.

I think our best chance is to use Windows server 2019, because even if we find a workaround for Bazel, you could still encounter the same is

[2021-08-11 08:13] hlopko commented on #13308
I see, thank you!

[2021-08-11 08:14] hlopko commented on #13315
Just sharing the workaround: it seems `ctx.genfiles_dir.path.find("-exec-")` can be used to detect exec configuration.

[2021-08-11 08:21] fmeum commented on #11122
Using `clang++` as the linker instead of `clang` is just one of multiple ways to get the UBSan C++ runtime library linked in, so I don't think this is fundamentally a Bazel issue. Possible additional `linkopt` values that resolve the problem without losing features include:
* `-fsanitize-link-c++-runtime` to specifically link in sanitizer C++ runtimes,
* `--driver-mode=g++` to make `clang` behave

[2021-08-11 11:10] comius commented on #13730
To me it makes sense to optionally disable "the enforcement of top-level functions for map_each". I would accept a PR that adds an `allow_closure` parameter, defaulting to False.

This way if the user is aware of possible regression, the closure may still be used.

[2021-08-11 18:40] perezd commented on #13797
Cool, lets close this as wontfix then, I have it working just fine in 2019 now.

[2021-08-11 18:40] #13797 closed

[2021-08-11 20:36] OliverKoo opened #13826 "[Xcode 13]Error Domain=NSOSStatusErrorDomain when running xcode-select"
### Description of the problem / feature request:

when running generated xcode-select binary from https://github.com/bazelbuild/bazel/blob/master/tools/osx/xcode_configure.bzl I get
[code]
but I have xcode installed
[code]

### What operating system are you running Bazel on?

Mac Big Sur

### What's the output of `bazel info release`?

[code]

[2021-08-11 20:59] tetromino opened #13828 "StarlarkNativeModule.starlarkifyValue() ignores repo component of labels"
@brandjon noted that `StarlarkNativeModule.starlarkifyValue()` ignores the repo component when `val` is a `Label`, so that `"@somedep//pkg:foo"` is shortened to `":foo"` when `native.existing_rules()` is called inside `pkg`.

[2021-08-11 21:13] tetromino opened #13829 "Avoid throwing NotRepresentableException in StarlarkNativeModule.StarlarkifyValue()"
Quoting @brandjon in discussion of `StarlarkNativeModule.StarlarkifyValue()`:

From my point of view, StarlarkNativeModule.NotRepresentableException exists mainly as something visible that breaks if a new attribute type not exportable via `native.existing_rule()` is ever introduced. This sort of "this should not happen" condition probably ought to be instead represented by an unchecked exception.

[2021-08-11 23:03] #13826 closed

[2021-08-11 23:23] OliverKoo opened #13830 "xcode-locator `kLSApplicationNotFoundErr` with Xcode 13 beta"
### Description of the problem:

I downloaded the newest Xcode13 beta 5.
[code]
fresh clone bazel `git clone https://github.com/bazelbuild/bazel.git` then
build `bazel build //tools/osx:xcode-locator-genrule` then run the xcode-locator binary
[code]

cc [xcode-locator.m ](https://github.com/bazelbuild/bazel/blob/master/tools/osx/xcode_locator.m) authors/contributors.
@c-parsons @jmmv @katre @keith

[2021-08-12 02:42] yangelaboy opened #13831 "bazel 4.0 use gcc and ld.gold as default, how can I configure bazel to use g++ and ld?"
### bazel 4.0 use gcc and ld.gold, but it failed when linking a example of folly

I built folly from source, and wrote a simple example as follows.
It was ok to build the example with g++ and ld, but is was wrong with bazel which use gcc and ld.gold.

note: bazel is of version 4.0.0, g++ and gcc are of version 10.0.1.

- **gcc command succeed**

`g++ -std=c++17 test1.cpp -pthread -levent -ldouble-

[2021-08-12 05:38] #13831 closed

[2021-08-12 05:56] yangelaboy opened #13832 "ld cannot find file or dir @/tmp/ccOtECjS which may be generated by bazel"
### Description of the problem / feature request:

I got an error when running `bazel build --jobs 8 --verbose_failures -c dbg  -s --verbose_failures --sandbox_debug :example`
the whole infomation:
![image](https://user-images.githubusercontent.com/16263873/129144746-003c217c-5292-4f1f-b8bb-d7c5d45637cb.png)
![image](https://user-images.githubusercontent.com/16263873/129144869-d9a08a76-95b0-4b9c-9

[2021-08-12 07:14] comius commented on #13784
It shouldn't be removed from older toolchain, because it affects performance.
Additional conditional could be problematic, because source and target version don't necessarily match JDK version and it could make it impossible to use JDK16 with smaller values.
I'd go by removing the offending option from default configuration and adding it back to BUILD.tools definitions of older JDKs.

This might r

[2021-08-12 07:17] comius commented on #13736
@brandjon can you triage?

[2021-08-12 07:20] comius commented on #13664
cc @gpshead @rickeylev @brandjon

[2021-08-12 07:58] liumilan opened #13833 "bazel build failed in mac"
mac version is
Darwin-Pro.local 20.3.0 Darwin Kernel Version 20.3.0: Thu Jan 21 00:06:51 PST 2021; root:xnu-7195.81.3~1/RELEASE_ARM64_T8101 arm64
bazel version is bazel 4.1.0-homebrew
and when using bazel to build c++ code,it report Target '//:common_featurer' depends on toolchain '@local_config_cc//:cc-compiler-darwin_arm64', which cannot be found: no such target '@local_config_cc//:cc-compiler-d

[2021-08-12 08:52] thii opened #13834 "Crash with 4.2.0rc3: Unrecoverable error while evaluating node"
Doesn't happen with `last_green` Bazel, so it must have been fixed somewhere.

https://buildkite.com/bazel/rules-swift-swift/builds/2741#19c25d8a-5530-4aff-8cca-d0998059ac84 (the log was for a build with 4.1.0 but I have reproduced this locally with 4.2.0rc3).

cc @katre

[code]

### What operating system are you running Bazel on?

Linux.

[2021-08-12 10:33] katre commented on #13834
Just from checking the code, this appears to have been fixed because of 31b689ba7238abe5629a0de87fb6e245910526bb.

@oquenchil, can you take a look and let me know if I need to cherrypick that commit into 4.2.0?

[2021-08-12 11:31] zhouyuanbin opened #13835 "androidx databinding compile error 'NoClassDefFoundError: javax/annotation/processing/AbstractProcessor'"
### Description of the problem / feature request:
hi,
     When I add `androidx.databinding` to my project.  I got the compile error message as follow:

ERROR: /private/var/tmp/_bazel_herbertzhou/f7e00a0a141ff828fd6f4a361ed4aa57/external/maven/BUILD:313:11: Desugaring v1/https/maven.google.com/androidx/databinding/databinding-compiler/3.4.2/databinding-compiler-3.4.2.jar for Android failed: Worker

[2021-08-12 13:20] #13724 closed

[2021-08-12 14:42] oakad opened #13837 "verbose_failures command line option should not cause full rebuild"
Consider a larger build, many thousands of targets. The build failed for some obscure reason after a long time. No problem, we can use `verbose_failures`!

Alas, full rebuild is triggered and instead of quickly diagnosing and fixing the problem another long wait ensues.

And another, after the option is removed to revert to normal mode.

[2021-08-12 15:16] brandjon commented on #13731
In general it is not safe to convert a Label to a string and back again to a Label. The loss of info (main repo `@//pkg...` to default repo `//pkg...`) is one example, but you also have the same problem anytime there is repository remapping going on, such that `@repo//...` has a different meaning in the place where the str is converted back to a Label.

I think the real question is why building LL

[2021-08-12 15:45] #13730 closed

[2021-08-12 15:54] katre commented on #13834
According to @oquenchil this commit should handle the problem and be safe to cherrypick. I'll see if this can be done today.

[2021-08-12 16:21] thii commented on #13834
Submitted here https://github.com/bazelbuild/bazel/pull/13838. There were two conflicts, hope I fixed them correctly.

[2021-08-12 18:09] keith commented on #13830
Have you launched the new version to have it "install additional components" (or via the command line with `sudo xcodebuild -runFirstLaunch`)?

[2021-08-12 18:29] aiuto commented on #13730
I think the `clientdata` idea would serve a lot of people with minimal effort.

[2021-08-12 18:41] keith commented on #13833
Probably a duplicate of https://github.com/bazelbuild/bazel/issues/13514, you can test with the 4.2 RC to verify https://releases.bazel.build/4.2.0/rc3/index.html

[2021-08-12 19:21] keith opened #13839 "Separate `--features` and `--host_features`"
Currently if you flip a feature like `--features=tsan` that affects compilation, any host / exec tools you depend on for your build will be recompiled with the tsan features, even though you likely only care about that for your target build, not your host tools.

I think there should be some way to separate these, for example having `--features` only apply to your `target` configuration and having

[2021-08-12 20:09] jkrems commented on #13730
The issue with that is that it forces the creation of more complex data structures (and potentially expanding depsets) that then need to be retained into the execution phase. Which seems worse than allowing closures. Unless I'm missing something about that approach?

One thing that @tjgq brought up elsewhere is that we could add some validation on the `freevars` of the starlark function to make su

[2021-08-12 20:39] evantorrie commented on #10021
I too have this problem.  It seems to pull the remote java toolchain's "java" path rather than using the local host.

[2021-08-12 21:18] alexeagle commented on #13558
General question about bazel's release process: is the Google Container Registry ever going to get updates?
https://docs.bazel.build/versions/main/bazel-container.html references
`l.gcr.io/google/bazel:latest`

which is from last September

[code]

[2021-08-12 21:33] ZacxDev commented on #13558
Funny, I was looking for this exact thing last night.  They are planning on adding a container to the release artifacts but haven't gotten to it yet, tracked here: https://github.com/bazelbuild/continuous-integration/issues/1060

[2021-08-12 22:24] mlen commented on #13784
Another option is to add `-XX:+IgnoreUnrecognizedVMOptions`. This should also fix the issue for jdk16

[2021-08-13 05:10] benjaminRomano commented on #12841
Running into this as well for `pyarrow`.

[2021-08-13 05:12] alexeagle commented on #13764
Also the downloader prints SHA256 for each file at INFO level:

 https://cs.opensource.google/bazel/bazel/+/master:src/main/java/com/google/devtools/build/lib/bazel/repository/downloader/DownloadManager.java;l=237?q=DownloadManager.java

[2021-08-13 07:55] aadwived commented on #7020
Is this feature introduced in the latest releases of bazel?

What I want to do is as follows:

I intend to compile a part of the project with clang, while the rest of the project is compiled with GCC.
A clang toolchain is configured, which is only required for one dependency in the whole project.

Is there a way to specify in cc_library of this dependency what toolchain to use?

[2021-08-13 09:03] fmeum opened #13841 "Targets with `target_compatible_with = ["@bazel_tools//tools/cpp:clang"]` are always skipped"
### Description of the problem / feature request:

Targets with `target_compatible_with = ["@bazel_tools//tools/cpp:clang"]` are skipped even if `CC` is `clang`.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[code]
### What operating system are you running Bazel on?

Linux
### What's the output of `bazel info release`?

Tested wit

[2021-08-13 10:41] fweikert opened #13842 "Status of Bazel 5.0.0-pre.20210802.5"
- Expected release date: 2021-08-13

Task list:

- [x] Pick release baseline: [23f171e2](https://github.com/bazelbuild/bazel/commit/23f171e2208700dc2f2f65f5ccb32bacd7aec87d) with cherrypicks [7b4f9826](https://github.com/bazelbuild/bazel/commit/7b4f9826d2d38ac7d071a4ada7b8a40a7a78226d) [14e4a78a](https://github.com/bazelbuild/bazel/commit/14e4a78a4a6a8bd208adfd5360968750929bc3e6) [99a85e79](https:

[2021-08-13 13:00] carusd opened #13843 "While resolving toolchains for target @org_tensorflow//tensorflow/tools/git:gen_git_source: No matching toolchains found for types @bazel_tools//tools/cpp:toolchain_type."
### Description of the problem / feature request:

This is a problem of toolchain resolution, and my platform is m1 apple mbp.

I'm using org_tensorflow to build my project, and fail with the message above.

after some research, I found that it was the @local_execution_config_platform that cause the problem.

According to the BUILD file here:

`
platform(
    constraint_values = [
        "@bazel_

[2021-08-13 14:09] #13842 closed

[2021-08-13 14:24] katre commented on #13558
@alexeagle (and @ZacxDev) Thanks for pointing this out. Once the release is finalized I'll reach out to the owners of `l.gcr.io/google/bazel:latest` and see if they can manually update, since bazelbuild/continuous-integration#1060 isn't done yet.

[2021-08-13 14:37] laszlocsomor opened #13844 "Bazel 4.1.0: analysis phase NPE with --java_toolchain"
### Description of the problem / feature request:

I get an NPE when passing `--java_toolchain` to Bazel 4.1.0

The same works with 5.0.0-pre.20210802.5

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

I have an empty `WORKSPACE`, a trivial `Y.java` (`public class Y {}`), and this `BUILD` file:

[code]

Then:

[code]

The same works

[2021-08-13 14:47] laszlocsomor opened #13845 "Remote execution: java_*.exec_properties not included in execute request"
### Description of the problem / feature request:

Bazel doesn't include Java rules' `exec_properties` in remote execution requests.

This affects 4.1.0 and also 5.0.0-pre.20210802.5

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

I have an empty `WORKSPACE`, a trivial `Y.java` (`public class Y {}`), and this `BUILD` file:

[code]

[2021-08-13 15:33] katre commented on #13558
PRs for RC4:
- #13846

[2021-08-13 15:59] katre commented on #13558
With those last two PRs in, I'm going to create RC4 this afternoon and aim to release next week (probably early Wednesday). Thanks everyone for your patience.

[2021-08-13 16:48] katre commented on #13834
Fixed by #13838.

[2021-08-13 16:48] #13834 closed

[2021-08-13 17:20] benjaminp commented on #13845
I can't reproduce this exactly. But, I wonder if you're seeing the "internal" `java` invocations done by Bazel's builtin Java toolchain rather than actually building the top-level target library.
[code]

[2021-08-13 18:04] katre commented on #13558
RC4 is created and available at https://releases.bazel.build/4.2.0/rc4/index.html

[2021-08-13 18:49] devjgm opened #13847 "bazel fetch does not fetch all deps"
### Description of the problem / feature request:

`bazel fetch ...` does not fetch all the deps needed to build `...` with `--nofetch`. In order for `bazel build --nofetch ...` to work, I must explicitly list a number of rules that appear to be implementation details about bazel, like `bazel fetch ... @local_config_platform//... @local_config_sh//... @local_config_cc_toolchains//... @rules_java//

[2021-08-13 19:17] katre commented on #13558
Downstream tests have finished: https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/2137

All failures are expected or match failures in the latest nightly.

[2021-08-13 21:38] georgegiovanni opened #13848 "Sharing --repository_cache with multiple users results in cache misses and overrides of entries"
### Description of the problem / feature request:

I would like to set a system-wide local path for the repository cache (--repository_cache) so multiple users on the same system can avoid having to re-download the same external dependency. This implies setting the repository cache directory to be group readable and writable, in addition to setting the SGID bit, so new files are owned by the group

[2021-08-13 23:05] cgruber commented on #8339
A year later, any thoughts about this issue, and it's priority?

[2021-08-14 09:20] fmeum commented on #13841
Having read https://docs.google.com/document/d/12n5QNHmFSkuh5yAbdEex64ot4hRgR-moL1zRimU7wHQ/edit?pli=1&disco=AAAADknDT4c, filtering on target platform properties is clearly not the correct approach to skip targets based on incompatible compilers.

[2021-08-14 09:20] #13841 closed

[2021-08-14 09:59] tommypham opened #13849 "Build Bazel with openCV, error: Undefined symbols for architecture x86_64"
I got this error when build iOS app with openCV:

[code]
In the file wrapper.cpp , I only have this source code:
[code]
wrapper.hpp

[code]

I include from the viewcontroller like this:
`#import "wrapper.hpp"`

call the function:
[code]

[2021-08-14 10:25] fmeum commented on #12707
@oquenchil I have a (simple) fix for this bug, but am wondering about your thoughts on backwards compatibility here: If `compiler` starts to have the value `"gcc"` instead of `"compiler"` for `gcc`, this could mess with existing uses of `select`.

Envoy [may break](https://github.com/envoyproxy/envoy/pull/14857#issuecomment-769452791), but would certainly welcome the fix based on the discussion on

[2021-08-14 18:59] RandomCatGit commented on #853
This issue occurred to me suddenly. Any idea what causes this? No solution seem to work... I can fetch using GitHub Desktop App but not with Eclipse

[2021-08-15 00:40] benjaminRomano commented on #12841
Potential fix here: https://github.com/bazelbuild/bazel/pull/13850

[2021-08-15 18:18] #13813 closed

[2021-08-16 01:25] einzigsue commented on #11037
Is it the bug coming back? it can still be compiled but I have to use 4.1.0 to build new jax as it needs a new feature in Bazel not available in 3.1.0.

I am compiling 4.1.0 from the file https://github.com/bazelbuild/bazel/releases/download/4.1.0/bazel-4.1.0-dist.zip
and encountered this issue again. Please see details below.
"""
OS: CentOS 8.4.2105
Message:
DEBUG: /tmp/bazel_OeW1uwhe/out/externa

[2021-08-16 06:25] jheaff1 commented on #10687
Any update on this?

[2021-08-16 11:04] MikhailTymchukFT commented on #5947
Any immediate workaround? We cannot compile a code without this feature.

[2021-08-16 11:04] raiderx commented on #10507
I faced with an issue: I'm importing JAR [ngdbc.jar](https://mvnrepository.com/artifact/com.sap.cloud.db.jdbc/ngdbc/2.3.58). `ngdbc.jar` is a Multi-Release JAR which has 2 versions of JDBC driver:
- for Java 8 and below by default (does not work in Java 9 and above),
- for Java 9 and above (does not work in Java 8 and below).
So I can't run my jar in Java 11 because Bazel's `singlejar` builds my j

[2021-08-16 11:44] haoshengfu opened #13853 "glfw build under bazel issues"
I add glfw-3.3.4 to my bazel project, and met some problems. what i do like this:
1, Bazel WORKSPACE
http_archive(
name = "glfw",
build_file = "@//third-party:glfw_.build",
strip_prefix = "glfw-3.3.4",
sha256 = "bbd2c42c660b725e9755eb417e40b373f0d4c03138c9b2e210d02cd308bd99cd",
urls = [
"http://localhost/glfw-3.3.4.zip",
]
)
2, glfw_.build
cc_library(
name = "glfw",
hdrs = [
"include/GLFW/glfw3.h"

[2021-08-16 12:53] jheaff1 commented on #10267
Any update on this? I too get errors when using patch files that contain changes to several files

[2021-08-16 13:11] carlosgalvezp opened #13854 "actions.run - "tools" argument has wrong documentation"
### Description of the problem / feature request:

The "tools" argument from[ actions.run](https://docs.bazel.build/versions/main/skylark/lib/actions.html#run) has wrong documentation:

* It says it expects a sequence or depset. However Bazel complains:
"expected value of type 'File or FilesToRunProvider' for a member of parameter 'tools' "

* It says "Tools are inputs with additional runfiles". T

[2021-08-16 14:44] buahaha opened #13855 "when linkig MacOS SDK (Frameworks) - cc_toolchain_suite '@local_config_cc//:toolchain' does not contain a toolchain for cpu 'darwin_x86_64'"
### Description of the problem / feature request:

I'm building with Bazel on MacOS. Somehow in one moment I've go this error, and can't get rid of it.

[code]

### Feature requests: what underlying problem are you trying to solve with this feature?

This is a simple test case for google test where I want to link MacOS frameworks aka SDK's, primarly for use with Vulkan, but the program which is to

[2021-08-16 15:34] larsrc-google commented on #852
Are you saying that the same command run with Bazel 4.0.0 (or 4.1.0) uses a different amount of cores than running with a Bazel built from master? That does sound like a separate problem, yes.

[2021-08-16 16:45] keith commented on #13855
Can you test with the 4.2.0rc4 and see if that fixes the issue? https://releases.bazel.build/4.2.0/rc4/index.html

[2021-08-16 18:43] buahaha commented on #13855
Both the newest available version `5.0.0-pre.20210802.5` and the one you proposed `4.2.0rc4` gave me this result:

[code]

That's exactly the same result, meaning that I see darwin_x86_64 is not an option...

[2021-08-16 19:49] wt opened #13857 "c++ linking doesn't seem to take into consideration that ld may be in a different dir than gcc"
In this line, you can see that the "-B" arg is constructed for gcc only with the path to the cc. However, if ld is in a different directory, that also needs to be add to the -B arg so that it can be found.

In my case, I build a custom gcc toolchain (in my $PATH so no explicit bazel config), but I use the system ld. This means that the -B arg only has a directory that doesn't contain ld.

https://

[2021-08-16 20:14] obruns commented on #852
@larsrc-google Yes, all releases up to and including v4.2.0rc4 happen to utilize all cores just fine (modulo the XFS problem) but Bazel master has not been utilizing all cores for quite a while. I'll try to bisect the problem and create an issue. This may not happen until mid of September, though.

I only mentioned this because it makes testing `--experimental_reuse_sandbox_directories` impossible

[2021-08-17 00:08] Caaslund opened #13858 "Failure to Fetch VC Tools"
### Description of the problem / feature request:

I attempted to use `bazel` to build GCR distroless images ([repo](https://github.com/GoogleContainerTools/distroless)), but when running the command `bazel build //package_manager:dpkg_parser.par`, I eventually hit the following error:

[code]

The error appears to come from [windows_cc_configure.bzl](https://github.com/bazelbuild/bazel/blob/maste

[2021-08-17 00:42] benjaminp opened #13859 "dwp-less toolchains gracelessly handled"
[code]
This was regressed by 64d5bae3b805fad68e9f80512595702472f086f1 https://github.com/bazelbuild/bazel/blob/ee1bdbc680be70ac1701895aa02da5180cbac91d/src/main/java/com/google/devtools/build/lib/rules/cpp/CcBinary.java#L978 always used to pass because there was always a middleman for `dwp_files`.

[2021-08-17 01:14] GMNGeoffrey commented on #13803
(catching up because I was out of office)

Thanks for digging into this Chandler! In particular, thanks for pointing out that LLVM has to configure this explicitly in CMake. To respond to your suggestions directly:

1. includes does include both source and generated trees, but unfortunately it adds them as `-isystem` and near the end of the compilation command :disappointed: I believe the `-isyste

[2021-08-17 05:33] haoshengfu commented on #13849
I met this problem too.
https://github.com/bazelbuild/bazel/issues/13853

[2021-08-17 09:03] arianatri commented on #12433
have you found the solution?

[2021-08-17 15:06] eokeeffe commented on #8665
symbolic link also worked for me

[2021-08-17 16:03] haoshengfu commented on #13853
Is there anyone come out to solve the P0 Problem ?

[2021-08-17 16:05] haoshengfu commented on #13853
Has anyone come out to solve the P0 problem ? googler

[2021-08-17 17:56] keith commented on #13855
Oops, I should have read more carefully first, you have to have Xcode, or at least the separate command line tools package, regardless of if you use it as an IDE.

[2021-08-17 20:04] georgegiovanni commented on #13848
Same issue with Bazel 4.1.0

[2021-08-17 21:02] SickZauer opened #13860 "Documentation issue: Bazel overview"
Documentation URL: https://docs.bazel.build/versions/4.1.0/bazel-overview.html

[2021-08-17 22:20] gregestren commented on #13464
I'll up the visibility on this and we'll get you some kind of a response.

[2021-08-17 22:26] sdtwigg commented on #13464
There seems to be a broad class of issues related to action conflict detection when the owning 'rule' is an Aspect.

Unfortunately, the actual mechanism of this has been tricky to track down since the systems for both aspects and action conflict detection are a bit obscured.

[2021-08-17 23:32] kwc opened #13861 "Bazel cquery fails if paths are incompatible for platform"
### Description of the problem / feature request:

Bazel `cquery` is a useful command for finding build dependencies you wish to avoid/remove in a specific configuration.

If you use Bazel `cquery` to find `somepath` or `allpaths` to a incompatible target, it will error with:

[code]
[code]

As this is failing in a `bazel build` step, it actually does produce a relevant result, but accidentally, a

[2021-08-18 01:58] haoshengfu commented on #13849
你是华人？帮我看下我的那个配置没问题吧？

#13853

[2021-08-18 05:17] thii opened #13862 "Crash when building `objc_library`"
### Description of the problem / feature request:

[code]

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

I'll submit an example later.

### What operating system are you running Bazel on?

macOS

### What's the output of `bazel info release`?

I used `last_green` Bazel.

[2021-08-18 05:17] thii commented on #13862
cc @oquenchil

[2021-08-18 05:38] dnmiller opened #13863 "Bazel will not use homebrew gcc-ar"
### Description of the problem / feature request:

Cannot get Bazel to use homebrew gcc. It insists on using AppleClang `ar` but tries to use gcc flags, causing an error.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

I've listed a file `cc_toolchain_config.bzl` at the bottom. I created this after following along the tutorial to cr

[2021-08-18 09:19] HylkeB commented on #12768
This issue looks similar to an issue I reported to google yesterday, perhaps the knowledge of these 2 threads can be combined?

Google issue: https://issuetracker.google.com/issues/196847367

[2021-08-18 13:10] katre commented on #13558
Release 4.2.0 is now live at https://github.com/bazelbuild/bazel/releases/tag/4.2.0.

Can @vbatts @petemounce and @excitoon update their packages? Thanks

[2021-08-18 13:19] katre commented on #13558
Blog post is live: https://blog.bazel.build/2021/08/18/bazel-4.2.html

[2021-08-18 13:25] aherrmann opened #13866 "Accessing aspects from cquery Starlark output"
### Description of the feature request:

Make providers returned by aspects requested on the command-line available to cquery Starlark output.

### Feature requests: what underlying problem are you trying to solve with this feature?

I would like to process information, that is extracted from a target by an aspect, in a cquery using the Starlark output mode.

In particular, I am trying to access t

[2021-08-18 17:39] wt commented on #13857
I've worked around this in an extension ruleset with the following:

[code]

I am wondering if that should be done in the get_memory_inefficient_command_line instead of having to do it afterward.

[2021-08-18 19:12] vbatts commented on #13558
On 18/08/21 06:10 -0700, John Cater wrote:

Build still fails like 4.1.0 did
https://github.com/bazelbuild/bazel/pull/13534

I'll try their patch (and maybe carry that patch for a little while)

[2021-08-18 20:29] vbatts commented on #13558
after patching a couple spots, it's also failing on the same issue in external/com_google_absl/absl/synchronization/internal/graphcycles.cc which is not so straightforward to patch:

[code]

this is on gcc-g++ version:
[code]

[2021-08-18 21:08] fmeum commented on #13464
I think that I have identified the (much more mundane) root cause of this issue. The cc_proto_library rule depends on `@com_google_protobuf//:protobuf` in two incompatible ways: Once through `protoc` (via the exec transition since https://github.com/bazelbuild/bazel/commit/7acf9ea3fea4850d21114d84fbc5b663d105d3c7) and once through `@com_google_protobuf//:cc_toolchain` via the toolchain attr in `Cc

[2021-08-19 01:30] adam-azarchs commented on #10687
It isn't clear from this issue, the design doc, or the rules_license repository what the current status is.  I _think_ it might be safe to start building stuff around the rules (e.g. our own list of `license_kind`s) but I'd rather not put a lot of effort into this if the public rules are way out of sync with the internal version so I'd have to overhaul everything for some future update.

Another t

[2021-08-19 05:30] dnmiller commented on #13863
Upon further review, it looks like the homebrew distribution of gcc-ar somehow _invokes_ Apple ar. I'm still not sure what's going on here:
[code]

So my real problem is that there's no way to tell Bazel that the compiler is GCC but the ar is Apple.

[2021-08-19 06:46] davido commented on #13558
I bumped `absl` and `gRPC` versions in this [PR](https://github.com/bazelbuild/bazel/pull/13536) and it fixed it. Unfortunately, it broke the build on ancient OS versions, see this tracking [issue](https://github.com/bazelbuild/bazel/issues/13561).

I know, this is invasive change, but none come up with a less intrusive change yet.

[2021-08-19 11:14] fweikert opened #13876 "Status of Bazel 5.0.0-pre.20210810.4"
- Expected release date: 2021-08-19

Task list:

- [x] Pick release baseline: [ead44955](https://github.com/bazelbuild/bazel/commit/ead44955c5cf02d94152f2cf3462c40ee6659594) with cherrypicks [99a85e79](https://github.com/bazelbuild/bazel/commit/99a85e79a11cef98d0e08db21ab94833398381af) [16523615](https://github.com/bazelbuild/bazel/commit/16523615ba04c2697f436ca02d957809e6fe8dbf) [ed251187](https:

[2021-08-19 11:49] oquenchil commented on #13862
Can you include the target declaration that causes the crash?

[2021-08-19 12:42] buahaha commented on #13855
Hey @keith , I still have this problem, even after installing Xcode.

[2021-08-19 14:21] #13876 closed

[2021-08-19 15:23] thii commented on #13862
The crash was with a custom rule (from https://github.com/bazel-ios/rules_ios) that generates a header map, you can see an example with the rule source code here: https://github.com/thii/objc_library_crash, and reproduce the crash with:

[code]

[2021-08-19 15:39] keith commented on #13855
if you just installed it (and have launched it at least once to setup everything) and your `xcode-select -p` points to the right place, make sure to `bazel clean --expunge` once and try again to make it reconfigure that

[2021-08-19 16:03] shs96c commented on #9387
Tagging at @hicksjoseph after discussing with him away from GitHub.

[2021-08-19 16:29] tomrenn commented on #13804
We had a report of someone on our team experiencing this issue, and using `--google_credentials` worked for them.

They can no longer reproduce the error, and I suspect it may have something to do with Bazel caching a previous or different credential file? A sufficient workaround may be to `bazel shutdown` to use the new default credentials if they have changed, but I've not tested this

[2021-08-19 16:56] buahaha commented on #13855
Thank you @keith everything is almost where it should be, I think I will close that.

To do it you have to:
`install Xcode`
`bazel clean --expunge`
optionally `remove all unnecesairly targets (all)`
run `bazal build` again

[2021-08-19 16:56] #13855 closed

[2021-08-19 17:29] Sohail587 opened #13878 "Git Repository Commit Error - receive-pack not permitted on"
Can't connect to any URI:   receive-pack not permitted on

[2021-08-19 21:23] fanStefan commented on #11996
+1 for tree artifacts in java rules

[2021-08-19 21:39] cso-mark commented on #12660
I'm hitting this issue too. @oquenchil is there a specific pointer you can give? I'm trying to include an external library into my project. The external project uses cmake which does not have any issues with the relative `#include ../somefile.h` idiom. The [bazel documentation](https://docs.bazel.build/versions/main/bazel-and-cpp.html) says "Avoid using UNIX directory shortcuts, such as . (current

[2021-08-19 22:52] gregestren commented on #8339
Yes, with the obvious caveat this issue hasn't been updated recently. Actually I'm surprised - I've pushed through a few PRs recently but I guess I forgot to attach them here:

- https://github.com/bazelbuild/bazel/commit/bb2941bccb0d010223fcbd07139e437b219e837a
- https://github.com/bazelbuild/bazel/commit/526ea392ac50a0f11eb65fd29a6cde5962a08c97
- https://github.com/bazelbuild/bazel/commit/5f9e9f

[2021-08-20 05:43] thii commented on #13862
Okay, it wasn't related to the custom rule, but seems related to the location expansion in `copts`. (the `copts` in the example below should a no-op.

[code]

[2021-08-20 06:42] comius commented on #13736
/cc @allevato

[2021-08-20 06:42] comius commented on #13664
/cc @allevato

[2021-08-20 06:46] tsawada commented on #446
There's another implementation available in rules_jvm_external.
https://github.com/bazelbuild/rules_jvm_external/blob/master/docs/api.md#javadoc

[2021-08-20 08:00] hiberabyss opened #13880 "[Feature Request] Avoid rebuilding external packages when chang `.bazelrc`"
Sometimes, when change copts in `.bazelrc` will also caused the external packages be rebuilt, could this be avoid?

[2021-08-20 10:03] carlosgalvezp commented on #10134
Almost 2 years later, we are still coming here for **instructions** and there's no instructions :man_facepalming:

[2021-08-20 13:06] oquenchil commented on #13880
Can't be avoided because the configuration is applied to all packages including external.

[2021-08-20 13:06] #13880 closed

[2021-08-20 13:09] oquenchil commented on #13860
Please file again with the description of the actual issue.

[2021-08-20 13:09] #13860 closed

[2021-08-20 13:37] #13833 closed

[2021-08-20 13:58] #13781 closed

[2021-08-20 13:59] #13780 closed

[2021-08-20 13:59] #13723 closed

[2021-08-20 14:00] #13622 closed

[2021-08-20 14:11] brentleyjones opened #13882 "Build failure from missing files when using `--experimental_action_cache_store_output_metadata`"
### Description of the problem / feature request:

When using `--experimental_action_cache_store_output_metadata`, which was introduced in 4e29042fd77eae565a711655df6150500cb6e915, you can get build failures when going from using a remote cache to not using one.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[code]

The second comm

[2021-08-20 14:17] brentleyjones commented on #13882
cc: @coeuvre

[2021-08-20 14:47] comius commented on #13736
cc @gpshead @rickeylev

[2021-08-20 15:09] twheys commented on #13758
I was running into this issue on Bazel 4.1.0. Just tried upgrading to Bazel 4.2.0 and I still have the issue. Was this maybe missed? Does anyone know if there's a work-around for the time being?

[2021-08-20 15:49] cushon commented on #13758
@comius did the java_tools update not make it into 4.2.0?

@twheys does adding this to your `WORKSPACE` to update to the latest java_tools version make a difference? https://github.com/bazelbuild/java_tools/releases/tag/java_v11.3

[2021-08-20 16:47] jjennebzl opened #13883 "[cc_common] Linking output paths repeat parent directory of LibraryToLink"
### Description of the problem:

When passing a `name`  in `cc_common.link` to create a dynamic library, the generated file in the linking output's `LibraryToLink` has the parent directory's name repeated twice before the file name at the end. This is the case for both the dynamic library path that has been replaced into the `_S` form and the resolved symlink path too.

### Feature requests: what

[2021-08-20 16:53] keith commented on #13883
Fixed on master by b4cc44c978bc0e25b6652b66018b6aad12bff820 can you try with HEAD to verify this case?

[2021-08-20 16:58] GMNGeoffrey commented on #13731
I don't believe we were converting a label to a string and then back to a label, at least not explicitly. We're trying to allow a user to pass in a label that indicates where a dependency should find some target. This is the implementation: https://github.com/llvm/llvm-project/blob/main/utils/bazel/zlib.bzl In particular, the issue was with `llvm_zlib_external`. I'm happy to know of other ways to

[2021-08-20 17:08] jjennebzl commented on #13883
Yes, I've pulled, rebuilt and HEAD has fixed the problem - thanks for your help!

[2021-08-20 17:08] #13883 closed

[2021-08-20 17:26] gpshead commented on #13736
Forwarding signals to a child process is not a normal thing to do. Leave that to the OS. That `subprocess.call(argv)` is no different than a shell script running a program. Everything is in the same posix process group (because nothing used setpgid or setsid) so things like SIGINT (Ctrl-C) should be delivered to all of the processes in the group by the OS.

What exactly command line are you runnin

[2021-08-20 18:55] GMNGeoffrey commented on #5163
I am running into this issue for a Windows build of LLVM and only found this issue as documentation (and reading the entire history here). I second @Warchant's request that this be added to the windows documentation

[2021-08-20 20:15] wbertelsen commented on #8739
illicitonion's script didn't quite work for me, since `GoProtocGen` doesn't populate `execPath` in `artifacts`

Here's what I came up with instead if anyone else finds it useful:

[code]
I agree with the other commenters saying this is a basic build tool feature that bazel should support

[2021-08-20 21:49] brandjon commented on #13681
`default_visibility` is [parsed](https://github.com/bazelbuild/bazel/blob/09c621e4cf5b968f4c6cdf905ab142d5961f9ddc/src/main/java/com/google/devtools/build/lib/packages/DefaultPackageArguments.java#L53) using [`PackageUtils.getVisibility`](https://github.com/bazelbuild/bazel/blob/09c621e4cf5b968f4c6cdf905ab142d5961f9ddc/src/main/java/com/google/devtools/build/lib/packages/PackageUtils.java#L26), wh

[2021-08-20 21:53] brandjon commented on #11261
Update: Currently working on a design doc, expect to share it in a week or so.

[2021-08-20 22:02] brandjon commented on #2369
It kind of sounds like you want different BUILD/.bzl files in the same repo to have different views on what external repos are available. This is not planned.

You could probably get something similar with a target visibility that specified some but not all packages of an external repo. Personally I think it's dubious to provide visibility that is greater than the current repo but less than fully

[2021-08-21 19:34] konste opened #13885 "Doc bug: "Genrule Environment" doc is confusing (typo suspected)"
### Description of the problem / feature request:

[Genrule Environment](https://docs.bazel.build/versions/main/be/general.html#genrule-environment) contains this sentence: `However, Bazel (but not Bazel) passes through the value of the user's PATH environment variable` This is confusing, but more importantly it obscures the answer to the primary question this doc is supposed to answer: Does genru

[2021-08-21 19:40] konste opened #13886 "Doc bug: "Predefined genrule variables" is unclear and confusing"
### Description of the problem / feature request:

[Predefined genrule variables](https://docs.bazel.build/versions/main/be/make-variables.html#predefined_genrule_variables) contains this sentence: `WARNING: The Make variable RULEDIR should be used instead because it has simpler semantics and behaves in the same way regardless of the number of output files of the rule.`
What is absolutely unclear

[2021-08-21 20:22] rabisg opened #13887 "http_jar rule doesn't allow specifying file name when downloading"
### Description of the problem / feature request:

A simple fix would be to include a parameter to specify the name of the file. I believe keeping the name as downloaded.jar would ensure backward compatibility as well.

[2021-08-21 20:32] rabisg commented on #13887
Happy to send a PR something like [this](https://github.com/bazelbuild/bazel/compare/master...rabisg:http_jar?expand=1)

[2021-08-21 20:59] wrowe commented on #5163
It should be documented (to invert), but

This has gone on three years and wasted dozens on dozens of hours of my own and collaborators time. Demonstrates an active agenda of a 'code dump' not to promote this to default. IMO releasing 5.0.0 without switching the default state should be humiliating to the maintainers, please finally address this ahead of time so the ticket can be closed, with docs.

[2021-08-22 00:36] mexisme commented on #8739
That's disappointingly complicated.
But very, very cool of you to share!

[2021-08-22 17:10] fmeum commented on #13464
After a first misguided attempt to fix the issue, I now took a deeper look and produced a Starlark-only reproducer that does not rely on aspects (see below). The cause of the issue rather appears to be the particular chain of transitions in which the target, in this case `//:fake_protobuf`, is built:

1. Through the `library` attribute of `fake_mock`, the build transitions into the `exec` configur

[2021-08-23 06:45] fmeum commented on #13558
Bazel 4.2.0 introduced a regression in the handling of Starlark flags: In a transition, the value of such a flag cannot be read if the flag is referred to as `@repository_name//:flag_name` instead of `//:flag_name`, which as far as I know is required for that transition to be usable by other workspaces.

I noticed this while working on [rules_fuzzing](https://github.com/bazelbuild/rules_fuzzing),

[2021-08-23 12:34] katre commented on #13558
@fmeum Please file this as a separate issue so that we can triage it.

[2021-08-23 12:50] fmeum opened #13890 "Transitions cannot read Starlark flags as `@repository_name//:flag_name` in 4.2.0"
Bazel 4.2.0 introduced a regression in the handling of Starlark flags: In a transition, the value of such a flag cannot be read if the flag is referred to as `@repository_name//:flag_name` instead of `//:flag_name`, which as far as I know is required for that transition to be usable by other workspaces. Reading the flag does not work even if it is set via both `--@repository_name//:flag_name` and

[2021-08-23 12:52] fmeum commented on #13558
@katre Done: https://github.com/bazelbuild/bazel/issues/13890

[2021-08-23 14:33] aiuto opened #13892 "Remove the --all_incompatible_changes flag"
The `--all_incompatible_changes` flag should be removed.

- Its intent is not clear since the introduction of LTS tracks
  -  It originally was used to gather all breaking changes for the next major release. The team does not do that any more since changes can be introduced at HEAD at any time
- Sometimes distinct `--incompatible_*` flags can interfere with each other.
  - in theory you could have

[2021-08-23 14:40] aiuto commented on #13892
Plan over several PRs:
- Make it a no op
- Remove from any Blaze and Bazel CI configurations
- Delete the option Metadata tag TRIGGERED_BY_ALL_INCOMPATIBLE_CHANGES
- Delete it
- Clean up user test data that observes it

[2021-08-23 14:47] meteorcloudy commented on #10267
Sorry, this is still not fixed. But you can workaround by adding a blank line between the two patch sections.

[2021-08-23 14:54] meteorcloudy commented on #13779
@comius Looks like we should also upgraded our embedded JDK version to not use `11.0.6` ?

[2021-08-23 14:57] quval commented on #13819
Here's a draft: https://github.com/quval/bazel/commit/2e63f5af05559e2d967d816beb049fc6ea81fd70. Doesn't create the default `solib` directory, but does the rest. Should I send this as a PR?

[2021-08-23 15:05] meteorcloudy commented on #5163
@oquenchil Is there any plan to switch `compiler_param_file` on by default in 5.0?

One concern I have is that it makes debugging harder. For example, `--verbose_failures` won't show the whole compiling command, if the build is running on a CI, getting the parameter file is also hard. @wrowe Is there any specific reason you want this to be default?

Although this isn't a Windows specific feature,

[2021-08-23 15:06] katre commented on #13890
Investigating now. Please also file an issue at https://github.com/bazelbuild/continuous-integration/issues/new/choose to have rules_fuzzing added to our downstream CI, to prevent this happening in the future.

[2021-08-23 15:23] katre commented on #13558
Okay, preparing to start a 4.2.1 patch release to deal with the regression.

[2021-08-23 15:39] c-mita commented on #12696
I've done some more investigation into this and have made promising progress.

- Jacoco's filters operate on `AbstractInsnNode` objects (https://asm.ow2.io/javadoc/org/objectweb/asm/tree/AbstractInsnNode.html). Our branch analysis doesn't deal with these, only interesting itself with Jacoco's internal `Instruction` objects.
- We can track these objects in the same way Jacoco's regular analysis doe

[2021-08-23 15:59] comius commented on #13779
I tried upgrading jdk before, but I'm blocked by android, and nothing got resolved.
Related issues:
https://github.com/bazelbuild/bazel/issues/12512
https://github.com/bazelbuild/bazel/pull/13444
https://github.com/bazelbuild/bazel/issues/12880

[2021-08-23 16:01] comius commented on #12880
This is blocking JDK upgrade, which is required by some organisations.

[2021-08-23 16:15] cushon commented on #12880
This was fixed internally in cl/164671681, which added a `sh_binary` wrapper around desugar to set the property:

[code]

[2021-08-23 16:19] comius commented on #12880
Thanks @cushon, I'll take a look if I can do the same in Bazel and upgrade the JDK.

[2021-08-23 16:54] wrowe commented on #5163
Yes, the reason to change the windows command line limit is over 8 times smaller than even gcc's, so hitting the limit is especially inexplicable. If the default in 5.0 switched only when encountering a command line too long, then the element of surprise could be mitigated.

I've had no issues dealing with .params files... It's not hard to ensure the cumulative command is correct prior to delegati

[2021-08-24 07:21] hiberabyss commented on #13880
Is it possible to accomplish this via a flag?

In many cases, the external package is not expected changed when change option like `compilation_mode` and the  external package may need a lot time to rebuild.

[2021-08-24 07:25] twheys commented on #13758
Hi @cushon - I tried adding the java_tools 11.3 rules to my WORKSPACE file and that results in some errors about missing targets. I tried running `bazel clean --expunge` to no avail. I am on Bazel 4.2.0
[code]

[2021-08-24 07:26] hiberabyss opened #13894 "[Feature Request] Separate directory for each `compilation_mode`"
Once `compilation_mode` changed, almost all things include external package will be rebuilt. It will be very slow when switch the `compilation_mode`, is it possible to have separate cache directory for each `compilation_mode`?

[2021-08-24 07:36] hiberabyss commented on #13894
Seems already supported.

[2021-08-24 07:36] #13894 closed

[2021-08-24 08:14] meteorcloudy commented on #5163
I think the current feature doesn't work like this? @oquenchil What do you think, maybe we could implement this?

It's not only about ensuring the command is correct, it's also about when something went wrong, it should be easy to identify the problem. After all, the CI environment could differ from the local environment.

[2021-08-24 09:07] epertoso commented on #12439
@googlewalt any update on this one? On the surface, it seems it's a matter of adding the pic object files to the action that emits the `.objlist` file, but maybe is there some other reason why this isn't the case?

As a side note, al the default macOS `apple_cc_toolchain`s don't have the `supports_pic` feature at all (it's declared [here](https://github.com/bazelbuild/bazel/blob/a04cb1bfad4734f801

[2021-08-24 12:11] oquenchil commented on #5163
We don't have plans to make it the default for now.

[2021-08-24 13:47] katre commented on #13558
Cherrypicks for 4.2.1rc1:
- #13893

[2021-08-24 13:51] katre commented on #13890
This will be fixed in 4.2.1.

[2021-08-24 13:51] #13890 closed

[2021-08-24 14:27] haberman commented on #4815
[The current docs](https://github.com/bazelbuild/bazel/blob/ba8bd5b3ad6a2af3b6cddb1453ddb5cfe07b2588/src/main/java/com/google/devtools/build/lib/bazel/rules/python/BazelPyRuleClasses.java#L180-L186) for the `python_version` attribute directly link to this bug with the following warning:

This leads me to believe that `python_version` might be totally broken (eg. `py_binary()` might run my program

[2021-08-24 15:04] katre commented on #13558
[4.2.1rc1](https://releases.bazel.build/4.2.1/rc1/index.html) is now available for testing.

[2021-08-24 15:33] alexeagle commented on #13558
@katre thanks for the release! ping on

[2021-08-24 15:42] katre commented on #13558
@alexeagle I spoke to the previous team, who have handed it off to @philwo, who is still trying to automate it.

In the meantime, the directions are apparently here: https://github.com/bazelbuild/bazel/issues/12367#issuecomment-729630805

Sorry for the confusion.

[2021-08-24 16:17] vbatts commented on #13558
thanks for this @davido. This will even require some rebasing to work with the dist zip of the release.

I think I am hitting a personal wall to churn package updates for Fedora/Centos. I haven't used bazel in years, and was only spinning builds as a best-effort help. Would love to hand over https://copr.fedorainfracloud.org/coprs/vbatts/ and https://github.com/vbatts/copr-build-bazel to someone i

[2021-08-24 16:23] katre commented on #13558
Downstream tests finished: https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/2152

All failures are either in the latest nightly or are expected (Bazel Examples).

[2021-08-24 16:25] katre commented on #13558
@vbatts Thanks for all your help keeping this working, we definitely appreciate it, but if this is getting too much work we understand.

Unfortunately I don't think core Bazel devs can take this over, but if someone else in the community finds the Fedora/Centos releases useful and wants to take them over, we're happy to assist.

[2021-08-24 18:11] johncblacker opened #13897 "Build from sources on Raspberry pi fails with missing bundle for locale en_US"
BUG
### Description of the problem / feature request:

### Feature requests: what underlying problem are you trying to solve with this feature?

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

### What operating system are you running Bazel on?

### What's the output of `bazel info release`?

### If `bazel info release` returns "deve

[2021-08-24 19:13] marczych-zoox commented on #13736
My understanding is that _shells_ take a Ctrl-C and send the signal to the entire process group which the OS will send to each individual process as expected. However, running `kill $pid -SIGTERM` will send the signal only to the specified process. This works as expected for a `py_binary` that is `bazel run` or executed from some sort of artifact built via bazel. However, this does _not_ work if i

[2021-08-24 21:13] OliverKoo commented on #13830
This was resolved by needing to update my macOS version form 11.1 to 11.5.1 👍

Note to future that `xcode-locator` error can mean that the OS version is not up to the version that Xcode requires

[2021-08-24 21:13] #13830 closed

[2021-08-24 23:47] alfl commented on #10134
lol

[2021-08-25 05:58] priya23 opened #13899 "Bazel Version not dispalyed"
I am building bazel on my mac using source code and its building fine but when i do bazel version it doesnt display a version for me

***:bazel-3.7.2 priyankasharma$ bazel-bin/src/bazel version
Build target: bazel-out/darwin-fastbuild/bin/src/main/java/com/google/devtools/build/lib/bazel/BazelServer_deploy.jar
Build time: Thu Jan 01 00:00:00 1970 (0)
Build timestamp: Thu Jan 01 00:00:00 1970 (0)
B

[2021-08-25 08:02] hiberabyss opened #13900 "[Question] How to fix cpp library order problem"
In my case, I have two library:

- `folly` is installed in system and linked with link option `-lfolly`
- `fmt` library, which is the dependency of `folly`

When I add `fmt` as deps of folly, there will be compiling error because of the library order (fmt is placed before folly).

If I place the libfmt with path in linkopts after folly, there is no error. Is there any method to fix the library dep

[2021-08-25 09:13] fweikert opened #13901 "Status of Bazel 5.0.0-pre.20210817.2"
- Expected release date: 2021-08-25

Task list:

- [x] Pick release baseline: [a2cdeaa0](https://github.com/bazelbuild/bazel/commit/a2cdeaa0a1d34ba4971171391667ce79231eb029) with cherrypick [68c9ba64](https://github.com/bazelbuild/bazel/commit/68c9ba64baba9e8e733f1f03543def627cc5e002)
- [x] Create release candidate: https://releases.bazel.build/5.0.0/rolling/5.0.0-pre.20210817.2rc1/index.html
- [x

[2021-08-25 11:36] #13901 closed

[2021-08-25 13:43] andrewkatson commented on #13748
Havent gotten the chance to look at this for a bit. Hoping I can do something soon

[2021-08-25 16:18] suman-ganta commented on #10170
Ran into this. Wondering if this is being addressed?

[2021-08-25 23:29] dhalperi opened #13904 "bazel cquery deps not working in 4.2.0 or 4.2.1rc1"
### Description of the problem / feature request:

In a private repo, `bazel cquery 'deps(//some/py_binary)'` is returning empty in 4.2.0 or 4.2.1rc1. In 4.1.0, it returns a large list of dependencies.

This breaks `ibazel`.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

~I will try to recreate in public.~

See README.md at this ti

[2021-08-26 12:16] uhthomas opened #13905 "tools/http: Allow http_archive to extract deb archives"
### Description of the feature request:

Allow the `http_archive` rule to extract deb archives.

### Feature requests: what underlying problem are you trying to solve with this feature?

Debian archives are standard and widely used. There are many scenarios which require the extraction of deb archives during the loading phase. It would be great to have this natively in `http_archive`.

### What op

[2021-08-26 16:33] #13904 closed, assigned to nobody

[2021-08-26 20:05] tetromino opened #13907 "incompatible_existing_rules_immutable_view"
I'm working on the implementation for https://github.com/bazelbuild/proposals/blob/main/designs/2021-06-15-improving-native.existing_rules.md (being reviewed by @brandjon offline).

The plan is to:
* add an experimental flag (~~`--experimental_existing_rules_immutable_view`~~ `--incompatible_existing_rules_immutable_view`); if the flag is enabled, `native.existing_rule` and `native.existing_rules`

[2021-08-27 14:38] fweikert opened #13910 "Status of Bazel 5.0.0-pre.20210824.2"
- Expected release date: 2021-08-27

Task list:

- [x] Pick release baseline: [19ae1975](https://github.com/bazelbuild/bazel/commit/19ae197523191340a57b3bf93bdf8da66216ed46) with cherrypick [18bfed26](https://github.com/bazelbuild/bazel/commit/18bfed26c19bfa4505f04f73cec939f19fe47129)
- [x] Create release candidate: https://releases.bazel.build/5.0.0/rolling/5.0.0-pre.20210824.2rc1/index.html
- [x

[2021-08-27 15:52] brentleyjones opened #13912 "When using `--remote_download_toplevel`, some remote inputs are staged (downloaded) for local execution, even when they already exist on disk"
### Description of the problem / feature request:

When using `--remote_download_toplevel`, and only some of the outputs of another action are consumed as inputs to an action that is run locally, those inputs are staged (downloaded) each time the local action is executed, instead of reusing the already downloaded outputs, if not all of the outputs of the producing action have been downloaded.

###

[2021-08-27 17:19] #13910 closed, assigned to fweikert

[2021-08-28 12:20] xelmirage commented on #13108
I encountered the same bug with 0.15.2,0.16.0 and around versions.

Finally changing to 3.7.1 fixed the error, hope this can help :)

[2021-08-28 13:55] carusd commented on #13843
That should be the solution I've been looking for, thanks @meteorcloudy @katre @gregestren

[2021-08-28 13:56] carusd commented on #13843
los

[2021-08-28 13:56] #13843 closed

[2021-08-29 00:23] priya23 commented on #13899
thanks alot @benjaminp

[2021-08-29 00:23] #13899 closed

[2021-08-29 07:13] fmeum commented on #13464
I prepared https://github.com/bazelbuild/bazel/pull/13915, which resolves both this issue and the analogous one with `--host_copt` instead of `--copt`. It updates the `transitionDirectoryNameFragment` also taking into account that `--host_copt` becomes `--copt` under the exec transition.

[2021-08-29 19:37] kwc commented on #13861
In an ideal world, I was hoping that `bazel cquery` works regardless of whether or not the code is actually build-able, since my main reasons for using the command are fixing or avoiding build issues. I need `cquery` instead of `query` as `select()` statements usually divert the incompatible dependencies. This is a corner case that interrupts normal bazel graph debugging workflows.

I found this b

[2021-08-29 23:32] jwbee opened #13916 "Documentation issue: C++ toolchain configuration"
Documentation URL: https://docs.bazel.build/versions/4.2.0/cc-toolchain-config-reference.html

There's nothing about this stanza which is syntactically valid:

[code]

* `action_config` does not have `config_name` parameter.
* `action_name` doesn't want a literal string as a value, it wants the value of the variable
* `tool` does not have a `tool_path` parameter; it has `path`.

I'm not smart enou

[2021-08-29 23:37] jwbee opened #13917 "Documentation issue: Configuring C++ toolchains misleading linker invocation"
Documentation URL: https://docs.bazel.build/versions/main/tutorial/cc-toolchain-config.html

As this documentation stands it misleads the user into believing that the `ld` stanza of `tool_paths` controls the invocation of the linker, but it doesn't. If you put `/usr/games/cowsay` in for the linker, it still invokes the default host linker. I'm not smart enough to know why yet, but I guess it is be

[2021-08-30 03:34] keith commented on #12010
What's the retry logic in this case? Seems like for us that is often good enough

[2021-08-30 03:42] yanglimingcn opened #13919 "bazel branch coverage"
I use Bazel-3.7.2 to build c++ project
I use the command below, I can not get branch coverage data from "bazel-out/_coverage/_coverage_report.dat" file, is Bazel support branch coverage?

bazel --output_base=../output coverage //test/unittest/... --jobs=32 --collect_code_coverage=true --compilation_mode=dbg -s --copt -DHAVE_ZLIB=1 --define=with_glog=true --define=libunwind=true --copt -DGFLAGS_NS=

[2021-08-30 04:23] coeuvre commented on #12010
By looking at the code, the downloader retries [only if](https://github.com/bazelbuild/bazel/blob/67e41892c629bde4d588a623daa3d97a57de354c/src/main/java/com/google/devtools/build/lib/bazel/repository/downloader/HttpStream.java#L80) server supports `Accept-Ranges: bytes`. The retry logic is [here](https://github.com/bazelbuild/bazel/blob/67e41892c629bde4d588a623daa3d97a57de354c/src/main/java/com/go

[2021-08-30 11:24] yanglimingcn commented on #13919
bazel coverage --action_env=COVERAGE_GCOV_OPTIONS=-b , add COVERAGE_GCOV_OPTIONS=-b option will generate branch coverage

[2021-08-30 11:24] #13919 closed

[2021-08-30 11:57] bazingazZ opened #13920 "bazel crashed when BES connection is aborted with remote cache enabled"
### Description of the problem / feature request:

bazel crashed when BES connection is aborted with remote cache enabled

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

bazel coverage //common/... with BES and remote cache enabled.
BES fails to upload local file to remote cache causing the BES stream to be aborted. But bazel still

[2021-08-30 12:18] jheaff1 commented on #11550
Any update on this? I develop projects that must build on Linux (gcc) and Windows (MSVC) and this cc toolchain `feature` would be very useful indeed

[2021-08-30 13:14] brentleyjones commented on #12010
Hmm, but it's not retrying for us (@Keith meant that if we retry the build it will usually work).

[2021-08-30 14:56] laszlocsomor opened #13921 "Docs: repository_ctx no longer documented on "main""
### Description of the problem / feature request:

`repository_ctx` is not documented on the [main version](https://docs.bazel.build/versions/master/skylark/lib/repository_ctx.html), only on [4.2.0](https://docs.bazel.build/versions/4.2.0/skylark/lib/repository_ctx.html).

`ctx` is documented on both branches.

###  Have you found anything relevant by searching the web?

I searched the issues for

[2021-08-30 15:10] sdtwigg commented on #13464
I will take a look at your PR today. It is surprising because we had just
(late last week) identified a separate issue with AspectFunction failing to
ask for a proper, post-transition value but this seems like a different bug
entirely.

On Sun, Aug 29, 2021 at 3:13 AM Fabian Meumertzheim <
***@***.***> wrote:

[2021-08-30 15:13] Wyverald commented on #13921
Thanks for filing this! Most likely due to https://cs.opensource.google/bazel/bazel/+/5e5350311426eeab98db31809ccf627f55511d51 . I'll look into this ASAP.

[2021-08-30 15:13] laszlocsomor commented on #13921
Thank you!

[2021-08-30 15:46] katre commented on #13558
Bazel 4.2.1 is now live: https://github.com/bazelbuild/bazel/releases/tag/4.2.1

Please update your packages if possible: @vbatts @petemounce @excitoon

[2021-08-30 15:54] brandjon commented on #13892
Has there been any decision on whether the extra expansion flag logic, which was added to the options parser expressly for the implementation of `--all_incompatible_changes`, should be deleted?

I feel like options parsing is enough of a mess that removing it won't necessarily make a dent in its complexity, absent a larger scale effort.

If it remains but is now unused, we should add a TODO to con

[2021-08-30 16:57] Wyverald commented on #13921
A bit of an update: this seems to be some class loader weirdness. Nothing in the package `com.google.devtools.build.lib.bazel` nor its subpackage `com.google.devtools.build.lib.bazel.repository.starlark` (which is where the StarlarkRepositoryContext class lives) is found by the documentation generator. The weird thing is, though, that other subpackages there (for example `com.google.devtools.build

[2021-08-30 17:09] styurin commented on #13761
Should be fixed by https://github.com/bazelbuild/bazel/pull/13650

[2021-08-30 18:24] aiuto opened #13923 "Consider removing the extra expansion flag logic"
We are removing --all_incompatible_changes as part of #13892.

This leaves nothing using the feature to do more flag expansion. Someone should take a look at the potential need for the code and decide on removing, mothballing, or keeping.

[2021-08-30 18:24] aiuto commented on #13892
We did not decide that yet. Even if we do, I would like to do it in
multiple PRs. One to get rid of the use, another to remove the mechanism.
Opened https://github.com/bazelbuild/bazel/issues/13923 to track making the
choice

On Mon, Aug 30, 2021 at 11:54 AM Jon Brandvein ***@***.***>
wrote:

[2021-08-30 18:25] philwo commented on #13524
@fweikert I remember you made some improvements to Bazelisk in this regard - do you think this issue is fixed or is there something left to do?

[2021-08-30 19:11] aiuto commented on #11550
Maybe the place to ask about this is in
https://github.com/bazelbuild/rules_cc

On Mon, Aug 30, 2021 at 8:18 AM jheaff1 ***@***.***> wrote:

[2021-08-30 19:12] neilg opened #13924 "Building a project with Java record types fails with `error: unexpected identifier 'record'`"
### Description of the problem / feature request:

Building a project with Java record types fails with `error: unexpected identifier 'record'` if a target depends on the target with record types. That is, if consumer depends on  records then the build fails, however,  if the dependency is removed then the build succeeds.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please pr

[2021-08-30 19:19] vidheyoza opened #13925 "Building Bazel inside Ubuntu docker on M1 Mac"
### Description of the problem / feature request:

Problem building Bazel inside a Ubuntu docker container built for an M1 Mac.

### Feature requests: what underlying problem are you trying to solve with this feature?

Docker is designed to be as OS and architecture agnostic as possible while building a container so that development environments are as consistent inside a team as possible, but Doc

[2021-08-30 19:28] keith commented on #13925
Related https://github.com/bazelbuild/bazel/issues/11379

[2021-08-30 19:34] quval commented on #13819
@oquenchil: sorry about the ping – sort of a general question, though: is it be better to just send my patch as a PR and iterate on it, or to discuss the general approach on the ticket before sending a PR?

[2021-08-30 19:37] vidheyoza commented on #13925
@Keith thanks for mentioning that. I saw that and other issues (#7135, #11628) on this repo, and [this one](https://github.com/tensorflow/tensorflow/issues/46178) on Tensorflow and [this one](https://github.com/google/mediapipe/issues/1514) on MediaPipe.

[2021-08-31 07:11] pjk25 commented on #13761
@styurin is the preference to close this issue now, or wait until I've tried out the release that ships #13650 first? (In which case when would I expect to see the fix land?)

[2021-08-31 08:37] oquenchil commented on #13819
Hi @quval , let's discuss first what you plan to do.

[2021-08-31 08:59] TUT-jiayou opened #13926 "bazel can not generate enumeration related function xxx_Name."
### Description of the problem / feature request:

Hi, all

* I want to use bazel to build protobuf for Enumerations to generate related functions.
 follow the documents, the function *xxx_Name* should be generated, but I can not find the function in my generated cpp header file.
* But I can got the related *xxx_MIN*, *xxx_MAX*
* This is across-compile in x86 machine for aarch64.
![image](https://

[2021-08-31 09:20] quval commented on #13819
@oquenchil: Thank you!

The gist of the problem is that sometimes libraries will be looked for under the default solib dir even if the libraries themselves have transitions (this is the case e.g. in remote execution), but unless there's some non-transitioned library linked in, the default solib dir isn't added to the search path. I'm proposing to add an rpath entry to default solib dir last, as a

[2021-08-31 09:52] philwo commented on #13878
Hi @Sohail587,

Please fill out the issue template. Without any reproduction steps or version information about Bazel we cannot act on this.

[2021-08-31 09:53] #13859 closed

[2021-08-31 09:53] philwo commented on #13848
@meteorcloudy @Wyverald Could you please triage this?

[2021-08-31 10:01] philwo commented on #13847
@meteorcloudy @Wyverald Could you please triage this?

[2021-08-31 10:04] philwo commented on #13779
Was this fixed by https://github.com/bazelbuild/continuous-integration/pull/1206?

[2021-08-31 10:05] philwo commented on #13764
@meteorcloudy @Wyverald Could you please triage this?

[2021-08-31 10:05] philwo commented on #13759
Thank you for filing these!

[2021-08-31 10:06] philwo commented on #13758
FYI @comius

[2021-08-31 10:10] philwo commented on #13721
I think this is an issue on your system.

See these errors:
[code]

You'll have to make sure that the user `_apt` can read the files in `/etc/apt/trusted.gpg.d/bazel.gpg`.

[2021-08-31 10:12] philwo commented on #13613
I will look into fixing this, but I'll be busy with other stuff for the next 2 weeks.

[2021-08-31 10:13] philwo commented on #13601
We should catch this and print an error message.

[2021-08-31 10:21] philwo commented on #13595
Hi @shortcipher3,

This is apparently a bug in our `.bazelversion` wrapper: https://cs.opensource.google/bazel/bazel/+/master:scripts/packages/bazel.sh

The binary is called `bazel-3.7.2-linux-arm64` instead of `bazel-3.7.2-linux-aarch64` (see https://github.com/bazelbuild/bazel/releases/tag/3.7.2).

We should probably rewrite `aarch64` to `arm64` in the wrapper.

I think your workaround of removi

[2021-08-31 10:49] oquenchil commented on #13900
It looks like fmt then depends on folly too? What you can do then is add folly to the linkopts of fmt.

[2021-08-31 10:55] hiberabyss commented on #13900
No, fmt did not depend on folly and it could be compiled sucessfully.

[2021-08-31 11:00] oquenchil commented on #13900
It does look like you are not declaring dependencies in the right way. Not sure what depends on what in the actual code.

[2021-08-31 11:25] #13921 closed

[2021-08-31 11:25] meteorcloudy commented on #13764
I believe this is fixed at https://github.com/bazelbuild/bazel/commit/d21345dea13a8d46475cf29563a64a7fbd2d6b35 ?

Please re-open if the issue still persists.

[2021-08-31 11:25] #13764 closed

[2021-08-31 11:26] meteorcloudy commented on #13779
![image](https://user-images.githubusercontent.com/4171702/131494611-84f81d7d-692c-472b-ab1a-bc8e313b3d7c.png)
Yes no_jdk binaries for Windows are available for 4.2.1 now.

[2021-08-31 11:26] #13779 closed

[2021-08-31 11:27] laszlocsomor commented on #13921
Thanks for the rapid fix!

[2021-08-31 11:29] meisterT commented on #13837
I can't reproduce this with a build of Bazel itself. Do you have simple reproduction instructions?

[2021-08-31 11:45] meisterT commented on #13823
Do you have an easy way to reproduce this?

[2021-08-31 11:48] #13799 closed

[2021-08-31 11:51] meteorcloudy commented on #13847
Thanks for reporting!

I can even reproduce the issue without using `...`

[code]

It looks like fetch command failed to figure out the full dependencies of the target.

Also, I found `bazel query "deps(//:bin)"` doesn't report `local_config_platform` as a dependency. Maybe it's related.

/cc @katre @oquenchil Do you know how the cc toolchain depends on `local_config_platform`?

[2021-08-31 11:59] katre commented on #13847
Everything depends on `@local_config_platform`: the default values of both `--platforms` and `--host_platform` are `@local_config_platform//:host`.

The repository is defined by the [`LocalConfigPlatformFunction`](https://cs.opensource.google/bazel/bazel/+/master:src/main/java/com/google/devtools/build/lib/bazel/repository/LocalConfigPlatformFunction.java) repository rule, and added to the WORKSPA

[2021-08-31 11:59] meisterT commented on #12510
Thanks for the fix @styurin

[2021-08-31 11:59] #12510 closed

[2021-08-31 12:00] meisterT commented on #13761
Let's close the issue - feel free to reopen when it still shows up with the next rolling release.

[2021-08-31 12:00] #13761 closed

[2021-08-31 12:08] uajith commented on #13823
No other way I could see.

[2021-08-31 12:09] meteorcloudy commented on #13847
https://cs.opensource.google/bazel/bazel/+/master:src/main/java/com/google/devtools/build/lib/bazel/commands/FetchCommand.java;l=101

Ah, the fetch command does depend on the `bazel query` logic to calculate the dependencies. So the problem is why `bazel query` misses `local_config_platform` as a dependency.

[2021-08-31 12:12] katre commented on #13847
I am guessing that query doesn't evaluate the `maybe` call used to define `local_config_platform` (since aaf6457d800598d38890938156058f6025d5dc8d, in mid-2019).

Try reverting the definition just for `local_config_platform` to not use `maybe` and see if that fixes it.

[2021-08-31 13:49] katre commented on #13847
Okay, I'm not sure what the difference is. You can do `bazel query @local_config_platform//:all`, so I don't think query is the actual issue.

It looks from the error (the "External repository @local_config_platform not found and fetching repositories is disabled" message) that the `local_config_platform` repository rule isn't being executed. Possibly it is incorrectly categorized as a remote and

[2021-08-31 14:08] meteorcloudy commented on #13847
I don't think this is the case, because the repository function for this repo was never triggered.

This will actually fetch the `local_config_platform` repo. But if do `bazel query 'deps(//:bin)'", the  `local_config_platform` repo won't be fetched.

How does the cc toolchain depends on local_config_platform in the code?

[2021-08-31 14:12] katre commented on #13847
The error is coming during toolchain resolution, which runs for any rule that uses toolchains (not only cc rules). Toolchain resolution needs to read the target platform and all available execution platforms. The default target platform (and the default execution platform) is `@local_config_platform//:host`, and so this needs to be loaded and configured.

Essentially any configured target depends

[2021-08-31 15:39] sdtwigg commented on #13648
For Bazel, `--trim_test_configuration` should already be enabled by default (in the latest versions) and stopping a full throwaway of analysis (test targets will still be re-analyzed) when `--cache_test_results` is changed.

`--run_under` is unfortunately a different issue (as it does technically impact the analysis phase more than one might expect to ensure runfiles of underlying binaries are pro

[2021-08-31 16:02] clemente0420 commented on #13823
same problem for me ~ @meisterT

[2021-08-31 16:03] clemente0420 commented on #13823
meet the same problem @uajith @meisterT

[2021-08-31 16:06] clemente0420 commented on #13654
meet the same problem, but try to add "--init" doesn't work for me ~

[2021-08-31 16:25] meisterT commented on #13823
@clemente0420 in a different environment?

[2021-08-31 18:27] georgegiovanni commented on #13848
Note @oquenchil @meteorcloudy this is not a feature request, but a potential bug. Everything I've outlined should work.

[2021-08-31 19:59] sdtwigg commented on #13464
Why would users be modifying the host_* values in a transitions?
To my understanding, the host configuration is built once at the top-level based on what the host_* values are there and future changes to host_* values have no effect to the host configuration.

[2021-08-31 23:07] perezd opened #13928 "lang_proto_toolchain behaving inconsistently for javalite vs java toolchains RE: blacklisted_protos"
### Description of the problem / feature request:

I'm attempting to use the `blacklisted_protos` argument of `lang_proto_toolchain` and getting inconsistent behavior between java and javalite toolchain definitions.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

The diff we've made is here:
https://github.com/protocolbuffers/protob

[2021-09-01 01:56] clemente0420 commented on #13823
centos docker in ubuntu 1604 x86 host，use bazelisk clean ,then happens

[2021-09-01 01:58] coeuvre commented on #12010
Did you hit the same error for other links as well or just this specific one?

[2021-09-01 02:23] vikage commented on #9461
I try to use his repo but it does not work anymore. I switch to use rules_ios and write custom objc_library macro based on his repo.
[code]

To use this, you need to add <Name>.public_hmap to deps like this
[code]

[2021-09-01 02:32] bigbangvn commented on #9461
Cool, thanks @vikage
I used the trick from @acecilia https://github.com/bazelbuild/bazel/issues/9461#issuecomment-537270226
It works also but no need to depends on rules_ios

[2021-09-01 02:39] vikage commented on #9461
@bigbangvn I look like this trick doesn't work when import angled of another module like #import <Module/Module.h>.

[2021-09-01 03:08] clemente0420 commented on #13823
@uajith @meisterT  got problem, check your host zombie process

[2021-09-01 03:27] joelwilliamson opened #13930 "Make variable substitution in local_defines in C++ rule does not accept labels from `data`"
### Description of the problem / feature request:

In C++ rules, `local_defines` allow "Make" variable substitution, including `execpath`: List of defines to add to the compile line. Subject to "Make" variable substitution and Bourne shell tokenization. (https://docs.bazel.build/versions/main/be/c-cpp.html#cc_binary.local_defines)

In "Make" variable substitution, C++ rules are documented to be ab

[2021-09-01 03:34] uajith commented on #13823
Ok, it works.. Looks like the zombie process is causing the problem.

[2021-09-01 05:05] cpsauer commented on #12889
[Updated to reflect the release of r23, which is LTS.]

[2021-09-01 05:06] oakad commented on #13837
It's not an easy one.
On my side I have a large number of externals, both local and http. I think it somehow interferes with how externals are being built.

[2021-09-01 07:58] Kernald opened #13931 "Android ViewBinding support"
### Description of the problem / feature request:

Support [Android ViewBinding](https://developer.android.com/topic/libraries/view-binding) for Android apps.

### Feature requests: what underlying problem are you trying to solve with this feature?

ViewBinding allows generating at build-time a Java class with accessors for different views in a layout, without having to rely on `findViewById` etc.

[2021-09-01 11:52] BenHenning commented on #11497
FYI with help from @ahumesky I ended up rebuilding a minimalistic version of android_application for my team that works with Bazel 4.0 since we were having some difficulty getting the new rules_android changes working. Feel free to take a look if it's helpful: https://github.com/oppia/oppia-android/pull/3750. Note that there's a bunch of extra stuff in there, but folks in this thread will probably

[2021-09-01 12:43] brentleyjones commented on #12010
Also zulu11:

[2021-09-01 16:11] cmcgee1024 commented on #11371
@EricBurnett how would a contribution like in the previous comment sound?

[2021-09-01 16:37] EricBurnett commented on #11371
@cmcgee1024 I'll defer to someone on the bazel team to answer that; I can't speak for what contributions they will/won't accept. As long as it's simple to maintain, and provides a reasonable story for other platforms (bazel supports linux/windows/mac, and I *think* runs on windows via some shell emulator), sounds reasonable; might be less work overall to pursue the --interactive flag as @wolfd off

[2021-09-01 20:32] Yannic commented on #13920
/cc @lfpino

[2021-09-01 21:25] gregestren commented on #13861
This is fair. Conceptually cquery doesn't need to do *complete* analysis like in a real build. i.e. it doesn't actually need to create actions.

@katre and I have tossed around the idea of having `cquery` do more limited processing that avoids that. That would relieve this problem and reduce cases where `cquery`  doesn't work as a debugging tool because it fails just like the real build. We've not

[2021-09-01 21:29] gregestren commented on #13464
@katre, @sdtwigg, and I are definitely discussing this further soon (we've scheduled time to talk about this). Thanks for the input.

[2021-09-01 22:29] gregestren commented on #13818
My output path work (https://github.com/bazelbuild/bazel/issues/8339#issuecomment-902302769) can help, but not for actions that legitimately need different results for different platforms. In those cases we legitimately want their artifacts to reside in different places.

Yes, platform mappings are a temporary migration carryover.

I think it's fair to consider this explicitly. I'm not sure why th

[2021-09-01 23:02] ulatekh commented on #1708
I ran into this today, not in your project.
My call to CloseHandle() was hanging, and the thread calling ReadFile() didn't exit automatically.
You probably already know you have to close the "write" side of the pipe before the "read" side.

The issue turned out to be that I had to close *all* copies of the "write" side...in my case, I had a file-descriptor that had been created from the handle, us

[2021-09-01 23:27] ariccio commented on #13759
I was poking around bazel to prep for a job interview. I didn't get the job, but I always like poking around and finding bugs 😉🤗

You're welcome! Stay (type) safe.

[2021-09-02 02:22] coeuvre commented on #13920
Probably duplicate of https://github.com/bazelbuild/bazel/issues/11473.

[2021-09-02 08:57] mumbleskates opened #13932 "Documentation issue: Bazel (but not Bazel)"
Documentation URL: https://docs.bazel.build/versions/main/be/general.html#genrule-environment

[2021-09-02 09:22] mhansen opened #13933 "Documentation issue: Installing Bazel using Bazelisk"
Documentation URL: https://docs.bazel.build/versions/main/install-bazelisk.html

I tried running the 'install with go' example with the latest go version, and got:

[code]

ok let's try that...

[code]

ok let's try that...

[code]

OK, that final command worked.

Might be worth updating the blog post to the final command?

[2021-09-02 10:55] eikemeier commented on #13924
As a workaround, you can use `build --nojava_header_compilation`, see https://github.com/melsicon/value-comparison

[2021-09-02 14:23] cmcgee1024 opened #13934 "Support interactive --run_under for test targets"
### Description of the problem / feature request:

There are a number of developer workflows that require interactivity within bazel run and even bazel test. In particular, the use of interactive debuggers is common. Also, using debuggers to figure out why a test is failing is very useful. They're even more useful if they can be run within the bazel managed environment since that will more closely

[2021-09-02 14:24] cmcgee1024 commented on #13934
Hello Everyone,

I'm thinking of contributing a solution based on a very lightweight "init" written in C. Something like [tini](https://github.com/krallin/tini) might be a good starting point since it's embedded into Docker and should be fairly straight forward to adapt to other UNIX too.

Would such a contribution be acceptable for this project? Are there any extra constraints that I should be aw

[2021-09-02 15:26] alexeagle commented on #13764
The SHA256 issue is also very noisy, I should file a separate issue.

[2021-09-02 15:26] alexeagle opened #13935 "downloader prints SHA256 for each file at INFO level"
Also the downloader prints SHA256 for each file at INFO level:

 https://cs.opensource.google/bazel/bazel/+/master:src/main/java/com/google/devtools/build/lib/bazel/repository/downloader/DownloadManager.java;l=237?q=DownloadManager.java

__Originally posted by @alexeagle in https://github.com/bazelbuild/bazel/issues/13764#issuecomment-898196346__

[2021-09-02 15:58] keith commented on #13935
https://github.com/bazelbuild/bazel/pull/13937

[2021-09-03 00:32] jdubz93 commented on #1463
still not fixed till this day. Cannot build of an sdcard on linux IOT device. Have to use sdcard because space on the board is limited. really disliking the whole java build system idea.

[2021-09-03 07:27] anthpi commented on #13558
When building 4.2.0 and 4.2.1 I get "tools/jdk/BUILD:41:15: //tools/jdk:dummy_toolchain: missing value for mandatory attribute 'java_runtime' in 'java_toolchain' rule" error. Any idea what could cause it?

[2021-09-03 12:08] meteorcloudy opened #13939 "Windows: Bazel crashes when environment variable value is too long"
Context: https://github.com/bazelbuild/continuous-integration/issues/1218

[2021-09-03 13:39] katre commented on #13558
@anthpi Please file a separate issue with reproduction instructions and we'll investigate.

[2021-09-03 14:19] Abszissex commented on #8578
Why was this closed? I don't see any particular fix?

Also is there really no possibility to set an environment variable for the `bazel run` command in the `.bazelrc` file? Is pretending the environment variable before every invocation really the only way?

e.g. in my case I building docker images via `bazel run ...` the repository of the docker image and later the push to the repository (and even

[2021-09-03 14:22] fweikert opened #13940 "Status of Bazel 5.0.0-pre.20210826.1"
- Expected release date: 2021-09-03

Task list:

- [x] Pick release baseline: [f53c389d](https://github.com/bazelbuild/bazel/commit/f53c389dbd4b0ae66307e9bd4a72b36b3d284ec3)
- [x] Create release candidate: https://releases.bazel.build/5.0.0/rolling/5.0.0-pre.20210826.1rc1/index.html
- [x] Post-submit: https://buildkite.com/bazel/bazel-bazel/builds?branch=release-5.0.0-pre.20210826.1rc1
- [x] Push

[2021-09-03 15:25] philwo commented on #13565
We're seeing this flakily on Bazel CI:
- https://buildkite.com/bazel/bazel-bazel/builds/17236#8c3e1a5a-886d-40ad-8006-ce48b98ad475
- https://buildkite.com/bazel/bazel-bazel/builds/17233#a638f918-52e8-4600-b903-6bd187146d42

[2021-09-03 15:33] frazze-jobb commented on #5373
We are using an in house testing framework at Ericsson that makes use of psuedoterminals as well. And this stops us from using sandbox on our tests. We would appreciate if this was fixed!

[2021-09-03 19:12] #13940 closed

[2021-09-03 19:34] gregestren commented on #12171
Hi all.

@sdtwigg and I are actively looking into improvements for this problem.

I think we all agree that a better implementation would set hashes as a pure diff from a baseline configuration, vs. examining the exact sequence of transitions down the graph and trying to keep their results consistent. In other words, we don't really care *how* we get to a particular configuration. We ultimately ju

[2021-09-03 20:06] gregestren commented on #13317
Update:

I have an idea I'm going to try prototyping to address this specific issue. Bazel has a map of "changed" Starlark options that determines hash values. I think it adds options that are set at the command line to this map, which produces the effect you see. I also think that's unnecessary - if we exclude command-line settings from that map we'll still get correct builds without this issue.

[2021-09-03 20:09] gregestren commented on #13591
CC @sdtwigg , who's leading `--trim_test_configuration` and related.

[2021-09-03 20:28] gregestren commented on #12731
Following up, as promised (and as I've been internalizing all the related issues):

I agree with this basic thesis. We already have a clear precedent in Bazel that flags only affect outputs if transitions affect them. Because transitions create the possibility of two variations of the same output in the same build, at which point you have to have some distinction. This is not true for settings tha

[2021-09-03 20:29] gregestren commented on #12731
Assigned @ulrfa since you have the open PR, but happy to adjust ownership responsibility however make sense to everyone.

[2021-09-03 20:33] philsc commented on #13861
I think it makes sense for `cquery` to run these kinds of queries. The error that's currently being printed is really only meaningful when the user tries to build the target (since it's impossible to build an incompatible target).

[2021-09-03 22:36] gregestren commented on #13317
I think https://github.com/bazelbuild/bazel/pull/13580 will address this. I'm prioritizing the review on it now.

[2021-09-03 22:49] gregestren commented on #12171
FYI for my part: I think https://github.com/bazelbuild/bazel/pull/13580 is the solution.

[2021-09-04 02:18] jonathan-enf commented on #7755
The fix was rolled back, and this still seems broken  in bazel 4.1.0.  This bug should be re-opened.

[2021-09-04 08:31] eed3si9n opened #13943 "Segmentation fault while calling singlejar_local with pureconfig-core_2.12-0.14.1.jar"
### Description of the problem / feature request:

When building a deploy JAR (über JAR) with pureconfig-core_2.12-0.14.1.jar, singlejar_local fails with a "Segmentation fault".

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[code]

#### WORKSPACE

[code]

#### BUILD

[code]

#### App.java

[code]

### What operating system are you

[2021-09-04 10:59] devversion opened #13944 "Darwin ARM64 prebuilt binaries for java_tools are not compatible (ijar bad CPU type)"
### Description of the problem / feature request:

Currently, when using Darwin ARM64 with a remote JDK for example, the use of `ijar` in a Java project seems to fail. e.g.

[code]

I assume this happens because the prebuilt binaries are only built for Windows, Linux and macOS but there is no separation of Darwin ARM64 or x86_64. Currently only x64 binaries are being built & shipped:

https://gith

[2021-09-04 15:15] fmeum commented on #12888
I think that I identified the interaction that causes this action conflict:
In [ConfigurationResolver.applyStarlarkTransition](https://github.com/bazelbuild/bazel/blob/2e723f228efee008bcfd62ceb74a176a357c4c32/src/main/java/com/google/devtools/build/lib/analysis/config/ConfigurationResolver.java#L489), the `BuildOption`s that are later passed to the transition are obtained from [StarlarkTransition.

[2021-09-04 15:56] katre commented on #7755
Re-opening this but reducing the priority to reflect that no one is actively working on this.

[2021-09-05 14:22] #13083 closed

[2021-09-05 14:22] #13253 closed

[2021-09-05 16:44] eed3si9n commented on #13943
FWIW, `zipinfo`, available as `unzip -Z` reports "length of extra field" to be 17 bytes, not 11. Given that [Extended Timestamp Extra Field](https://opensource.apple.com/source/zip/zip-6/unzip/unzip/proginfo/extra.fld) is a variable length field of `5 + 4 * x`, 17 makes sense (likely corresponding to last modification, last access, and creation timestamps).

[code]

[2021-09-05 17:57] aiuto commented on #13925
Bazel 3.x might not build for M1 at all. Moving a newer version and newer tensorflow might be a more time effective path for you than trying to make this work.

[2021-09-05 18:01] aiuto commented on #13926
This is really a question for protobuf people.
But, it is also for bazel 0.x, you should at least try with the 4.x distribution.

[2021-09-05 18:01] #13926 closed

[2021-09-06 03:08] #12113 closed

[2021-09-06 07:35] LeoWPereira opened #13947 "Integrating AudioKit in Bazel"
Hi all,

Currently in a xcode project I use the AudioKit framework and Cocoapods for its management.

I do wanna switch to Bazel though, and I've been able to do everything but support AudioKit. Has anyone been able to use it in a Bazel project?

I though about either using the .xcframework or cloning AudioKit's repository and building it from scratch, but I couldn't make neither of them work.

[2021-09-06 10:18] comius commented on #13928
Inspecting the code, the `blacklisted_protos` mechanism is not implemented in `java_lite_proto_library` rule in particular in `JavaLiteProtoAspect` class.

I don't know if there were historical reasons for not implementing it - for example there are some issues with pre-generated/provided code and javalite proto libraries - any such problems would bubble up when trying to implement it.

There shou

[2021-09-06 16:24] emusand commented on #12843
This feature would be very useful for my work group as well.

I think that we should add this support to the `cc_library` and `cc_binary `rules as well, to keep the `cc_library `and `cc_common.compile`, and the `cc_binary` and c`c_common.link`, interfaces aligned and to avoid forcing users to write custom rules if they want to save additional compile and link artifacts in their build chains.

[2021-09-06 16:25] emusand commented on #12843
(This feature was also mentioned in the following thread: https://groups.google.com/g/bazel-discuss/c/ZlB7gjfTd7c)

[2021-09-06 17:10] Yannic commented on #13928
I agree that this should be straight forward to implement.

Java Lite protos do not allow mixing versions of protoc and the runtime [1] (which contains all/most WKPs), so doing that should be safe.

I can send a PR later this week, @comius do you have the bandwidth to import it and run it through presubmit?

[1] `we will NOT guarantee API/ABI stability for Java Lite`: https://github.com/protocolbu

[2021-09-06 17:14] comius commented on #13928
I'll make time, thanks!

[2021-09-06 17:25] perezd commented on #13928
We (protobuf team) appreciate the help!

[2021-09-06 19:43] sudomann commented on #13925
@aiuto have you managed to get newer versions building on m1 macs?

[2021-09-06 20:50] keith commented on #13925
4.2.x is the first version to support M1 macs.

[2021-09-06 21:19] pauldraper opened #13949 "Allow multiple executables (w/ runfiles) from in a single rule"
### Description of the problem / feature request:

Feature: Allow creating multiple executablew (with runfile trees) within a single rule.

### Feature requests: what underlying problem are you trying to solve with this feature?

Example: I want a rule that set up multiple related tools for a language.

[code]

And this would provide `ExampleToolsInfo`:

[code]

The `ExampleToolsInfo` would be use

[2021-09-06 22:55] psigen opened #13950 "`glob` is unable to exclude recursive symlinks from evaluation"
### Description of the problem / feature request:

`glob` throws an evaluation error when it detects an infinite recursion in a
directory traversal.  However, it detects this recursion even if the specific
subpath leading to that recursion is excluded via the `exclude=[]` argument.

This means that recursive symlinks cannot be ignored in glob expressions,
even if they occur in subtrees that bazel

[2021-09-07 03:12] aiuto commented on #13947
You would be better off asking on Stackoverflow or slack about this.

[2021-09-07 03:21] aiuto commented on #13949
This looks like you are setting up a toolchain. Did you look at that, or do you have something else in mind?
From the little you said, it feels like you could have rules to build each executable and make those private inputs to the example_tools() rule. That, in turn, would take the DefaultInfo from each and bundle them into a different provider. But, I may be mis-guessing your real intent.

[2021-09-07 04:33] benjaminp commented on #13949
Is different from #12459?

[2021-09-07 09:47] pauldraper commented on #13949
Well that's embarrassing.

[2021-09-07 09:47] #13949 closed

[2021-09-07 10:11] pauldraper commented on #13949
AFAIK toolchains are global. E.g. I can't have one, say compiler version, for target A and another for target B.

[2021-09-07 10:52] pauldraper commented on #7020
I don't see anything here that's inherently specific to C++ rules. It's a fundamental aspect of the toolchain paradigm.

I would like to understand the canonical way for rules to influence toolchain selection. For example, a library that is only compatible with glibc.

Constraints is poor solution, as it prevents the targets from being in the same build, which limits flexibility. For example, a bi

[2021-09-07 12:21] vxfury commented on #10522
also doesn't work for shared libraries.

[2021-09-07 13:40] katre commented on #7020
This is no longer an issue that can be resolved on GitHub. Please raise this on the bazel-discuss mailing list if you'd like to discuss when and whether toolchains are appropriate.

I'll go ahead and restate myself from earlier: the toolchain system that Bazel has introduced is intended to allow from cross-platform builds. If you wish to tie your code to a specific toolchain, you'll need another m

[2021-09-07 16:25] googlewalt commented on #12439
Sorry for the delay.  For Apple, clang implicitly builds with `-fPIC`, so there should be no need to specify `-fPIC` yourself (in fact for most Apple CPUs, it's not even possible to turn that off.)

It's intentional that the Apple toolchain does not support the `supports_pic` feature.  That feature doesn't just set `-fPIC`, it triggers other functionality that is not useful or supported for Apple.

[2021-09-07 16:26] #12439 closed

[2021-09-08 03:47] adamporich opened #13951 "Changing output base results in failed builds due to parsing the contents of the convenience symlinks"
### Description of the problem / feature request:

When changing the output base. Bazel no longer recognizes the `bazel-*` symlinks as it's own and parses the contents resulting in build failues

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Example repo at https://github.com/adamporich/simple-bazel-test just consists of a single p

[2021-09-08 04:41] keith commented on #13111
Also see https://github.com/bazelbuild/bazel/pull/13822

[2021-09-08 06:56] coeuvre commented on #12010
It's hard to reproduce locally but I can confirm the retry logic is enabled for those links. Not sure why retry didn't work.

What do you think if we retry the entire download when content-length is not fulfilled at [DownloadManager](https://github.com/bazelbuild/bazel/blob/d1da69661fb86f3f13d68747ab1a5a5184df1ba6/src/main/java/com/google/devtools/build/lib/bazel/repository/downloader/DownloadMana

[2021-09-08 07:43] dmivankov commented on #13951
looks related https://github.com/bazelbuild/bazel/issues/10653

[2021-09-08 08:03] anthpi opened #13955 "Unable to build 4.2 bazel version"
### Description of the problem / feature request:

Unable to build 4.2.* Bazel using 4.0.0 Bazel.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Fetch 4.2.0 or 4.2.1 tag
Bazel built using 4.0.0 bazel as well as JDK11.
Same command that I use works fine for building Bazel 4.0.0

### What operating system are you running Bazel on?

R

[2021-09-08 12:54] brentleyjones commented on #12010
This has gotten really bad for us, many times an hour. I'm up for whatever might allow these to not fail a build. I'm wondering if  `accept-ranges: bytes` sometimes doesn't come through. Maybe only in that case we should use a fresh connection? A full retry is fine for us as well (though maybe behind a flag since it could be costly for some?).

[2021-09-08 15:19] katre commented on #13740
@aiuto, is this similar to your work with licensing?

[2021-09-08 17:15] katre commented on #13818
We definitely want to address this, but I'm not sure of the timeframe. Thanks for raising it.

[2021-09-08 17:16] katre commented on #12951
Was this cherrypicked into the 4.2 series? Sorry I didn't see it before now.

If not, it will have to wait for the 5.0 release, scheduled for this Fall.

[2021-09-08 17:32] gregestren commented on #13740
It sounds like you're already familiar with the intentionally under-documented constraints language (that adds `compatible_with` and `restricted_to` for all targets)? With that plus `fulfills`, I wonder if that already accomplishes what you're proposing?

See:

- https://github.com/bazelbuild/bazel/blob/09c621e4cf5b968f4c6cdf905ab142d5961f9ddc/src/test/java/com/google/devtools/build/lib/packages/E

[2021-09-08 18:23] vidheyoza commented on #13925
@Keith I switched to 4.2.1 on my docker container, but I'm still getting the same error while building mediapipe.

[2021-09-08 18:25] keith commented on #13925
Yes I see the same

[2021-09-08 18:39] cushon commented on #13565
[code]

Based on the line numbers the build is using a version of AutoValue before https://github.com/google/auto/commit/f17d298a901683c0d1b0a05fa093a5936c7abcc5#diff-e48ebe2cbfa7884ad774ad31708c166f58b1572d20f7bf91b8766073b2754945L139

That changes is working around [JDK-6947916: JarURLConnection does not handle useCaches correctly](https://bugs.openjdk.java.net/browse/JDK-6947916) by catching an

[2021-09-08 18:46] jerrymarino commented on #7692
This one is still happening on Big Sur

[2021-09-08 19:21] regisd commented on #13900
I also don't understand the question. Instead of a screenshot, I suggest you write the two rules (what works, what doesn't work).

Also, if you have a working solution, what problem are you trying to solve?

[2021-09-08 19:25] regisd commented on #13932
Likely duplicate of #13885

[2021-09-08 21:29] gregestren commented on #12888
@fmeum are you saying that caused this specific bug? Even accounting for the `none` / `null` differences?

My hope is that the setting of `transitionDirectoryNameFragment` and [`affectedByStarlarkTransition`](https://github.com/bazelbuild/bazel/blob/3a8d07d0e53742ce7937b332b09191cf83d4083b/src/main/java/com/google/devtools/build/lib/analysis/config/CoreOptions.java#L296) can be taken out of the tr

[2021-09-08 21:35] brentleyjones commented on #13342
This is still pretty annoying for us. We've had to switch in conditionally importing different `.bazelrc` based on if we are using remote exec or not.

[2021-09-09 03:01] coeuvre commented on #12010
The linked PR will retry ContentLength mismatch error. Let's see whether it helps.

[2021-09-09 03:25] benjaminp opened #13958 "bes upload after option parsing failure can hang the UI"
Normally, when a Bazel command finishes and there is still BES upload work to do, the UI prints a status message starting with `Waiting for build events upload:`. However, if the Bazel invocation exits sufficiently early, for example in command line parsing, no BES upload status will be printed. The difference can be seen by passing a bogus `--bes_backend` value that will always cause a hang:
[cod

[2021-09-09 10:13] #13935 closed

[2021-09-09 10:22] illicitonion commented on #13785
Yes, this is mostly a convenience issue - as far as I can tell in our case we could always flatten the selects if needed.

[2021-09-09 10:49] jake-arkinstall opened #13960 "Feature request: download_and_extract(strip_prefix="*")"
### Description of the problem / feature request:

If (and only if) an archive only has one top-level directory, allow `strip_prefix="*"` to use that directory, rather than requiring the exact name to be specified.

If the archive has multiple top-level directories, error out.

### Feature requests: what underlying problem are you trying to solve with this feature?

Not all archives have top level

[2021-09-09 11:56] philwo commented on #13943
FYI @cushon

[2021-09-09 11:58] philwo commented on #13897
@johncblacker Thanks for the report. As we don't have a Raspberry Pi ready to test this on, I can't try to reproduce this. If you still have the possibility, would you mind sending the full log of commands you ran and the full output of them?

[2021-09-09 11:59] philwo commented on #13887
Thank you for the report and also the proposed patch! This looks fine to me, @meteorcloudy @Wyverald what do you think?

[2021-09-09 12:01] philwo commented on #13823
Can you confirm whether you're still seeing real (non-zombies) Bazel processes that you can't get rid off?

If these are zombie processes, I think it would help to run an init process inside your container (with Docker we like to use `docker run --init` for this purpose).

[2021-09-09 14:37] c-mita opened #13962 "Java branch coverage gives wrong results with finally blocks."
Branch coverage results may not be consistent when branches in a finally bock exist.

Consider the following:
[code]
There are three sets of branches - four for the first `if` (call it line 5), two for the second `if` (line 8), and 6 for the `if` in the finally block (line 11). (The reason there are 6 for the finally block is because it is duplicated by the java compiler to account for the three p

[2021-09-09 15:15] fweikert opened #13964 "Status of Bazel 5.0.0-pre.20210831.2"
- Expected release date: 2021-09-09

Task list:

- [x] Pick release baseline: [14fe5dff](https://github.com/bazelbuild/bazel/commit/14fe5dff967cf91f130746f646d1bb1cfc1053f2) with cherrypick [6f5c4bb4](https://github.com/bazelbuild/bazel/commit/6f5c4bb4d17abd6b9654f255c12775eb35638000)
- [x] Create release candidate: https://releases.bazel.build/5.0.0/rolling/5.0.0-pre.20210831.2rc1/index.html
- [x

[2021-09-09 15:31] c-mita commented on #13962
I believe the problem lies here:
https://cs.opensource.google/bazel/bazel/+/0741ccd274a16c7b26548a6e6c924d52aa1fea56:src/java_tools/junitrunner/java/com/google/testing/coverage/MethodProbesMapper.java;l=427

That is, the merging of `BranchExp` objects within a line is done in place. What follows is me trying to explain why I think this is wrong.

`Instruction` objects (representing Java bytecode i

[2021-09-09 15:44] shs96c opened #13965 "Java 17 support"
### Description of the feature request:

Java 17 is expected to ship during the middle of September. It's the first LTS Java release since Java 11. Once it's out, teams using Bazel will want to migrate to Java 17, and Bazel needs to support this out-of-the-box.

While Bazel ships with toolchains to support different Java versions, there's nothing for java 17 yet (understandably), and it's not obvi

[2021-09-09 15:47] shs96c opened #13966 "A stable Bazel release with Java 17 support"
### Description of the problem / feature request:

A release of Bazel that supports compiling Java 17 projects (#13965)

### Feature requests: what underlying problem are you trying to solve with this feature?

A stable release of Bazel that supports Java 17 out of the box, including being able to specify a custom Java 17 JDK.

[2021-09-09 17:03] janakdr commented on #13950
cc @haxorz

[2021-09-09 17:36] brentleyjones commented on #10252
This recently bit us as well.

[2021-09-09 18:22] ob commented on #13766
A followup from my conversation with Apple:

[2021-09-09 18:23] keith commented on #13766
A bit amusing since SwiftPM is using it as well

[2021-09-09 19:49] gregestren commented on #13464
@sdtwigg and I discussed this more today.

Thanks particularly for your spot-on summary at https://github.com/bazelbuild/bazel/issues/13464#issuecomment-903300409.

I agree completely. https://github.com/bazelbuild/bazel/commit/99f8a8f060d7b6aaa49125113ac085184fcec5a8#diff-85e08f9833efccc5033b847d466a7d3b6b7ed82c41755fcc2d1d14b3da3b8c55 was not the most rigorous patch and you're clearly showing it

[2021-09-10 00:07] brentleyjones opened #13969 "Documentation should state exit code 38 is BES related"
### Description of the problem / feature request:

https://docs.bazel.build/versions/main/guide.html#what-exit-code-will-i-get states that exit code 38 is reserved for google use. We've only seen it for BES upload related errors. Can the documentation be updated to state that (maybe lumping it with exit code 45)?

###  Have you found anything relevant by searching the web?

- https://github.com/ba

[2021-09-10 01:27] bhack commented on #13664
@haifeng-jin [Are we using instead `absltest_main`](https://github.com/tensorflow/tensorflow/blob/1b0947a3fd956256d2dd5414d6c2d9f27440df44/tensorflow/python/platform/googletest.py#L52-L55)?

So, Is this under the hood https://github.com/abseil/abseil-py/issues/128 ?

[2021-09-10 04:44] #12010 closed

[2021-09-10 05:01] weivall commented on #11020
I had this error when I misconfigured the **output_base** and **output_user_root**. They can't have the same values.

WRONG:
      --output_user_root=.bazel_cache \
      --output_base=.bazel_cache \

CORRECT:
      --output_user_root=.bazel_cache \
      --output_base=.bazel_cache/output \

[2021-09-10 05:53] fmeum commented on #13464
Thanks for providing the context.

I think that there is a trade-off to be made here:
1. Currently, `transitionDirectoryNameFragment` is only recomputed when it could possibly have changed. This may help performance, but means that the function that recomputes it needs to be called from a number of different places (including `ExecutionTransitionFactory`) and if that is forgotten, action conflicts

[2021-09-10 06:05] coeuvre commented on #12010
Please reopen if that flag doesn't help.

[2021-09-10 06:57] comius commented on #13944
There is non-prebuilt toolchain that support such use cases. Can you try with
[code]

and

`register_toolchain("nonprebuilt_toolchain")` in the WORKSPACE file.

More info on https://docs.bazel.build/versions/main/bazel-and-java.html

I'm reluctant to start compiling java_tools for one more platfort. @philwo - but if we really want to, we'd need CI for it I guess.

There are two things that could b

[2021-09-10 06:58] comius commented on #13944
I triaged to P2, but any help with fixes I mentioned above is welcome.

[2021-09-10 07:00] comius commented on #13924
cc @cushon, ijar will probably need to support new constructs in newer Java versions

[2021-09-10 07:03] comius commented on #13844
The problem is that `--java_toolchain` needs to refer to `java_toolchain` target not `java_runtime`. `--javabase` can refer to `java_runtime`.

We discussed before if we should improve error reporting. Because this flag were replaces with toolchain resolution mechanisms in versions >=5.0.0, we opted not to fix it.

[2021-09-10 07:03] #13844 closed

[2021-09-10 07:05] comius commented on #13809
@larsrc-google can you reply and triage?

[2021-09-10 07:14] comius commented on #13758
Bazel 4.2.x is using the old Java resolution mechanism, so it has java_tools 10.6. (java_tools 11.x don't work with it).

Since it's a LTS, we should update old java_tools. It requires hand crafting a back-patch.

[2021-09-10 07:15] #13962 closed

[2021-09-10 07:19] mtcoafun opened #13970 "Dose Bazel analysis go test log and product xml by log line?"
### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

![image](https://user-images.githubusercontent.com/50589627/132814138-8784d75e-2a8d-4c9a-93d1-252a12b52967.png)

![image](https://user-images.githubusercontent.com/50589627/132814310-ebb9c034-4fbe-40ad-974a-d9246b29c6e0.png)

![image](https://user-images.githubusercontent.com/50589627/1

[2021-09-10 08:47] fmeum commented on #12888
I actually think that the `None` / `null` friction is a red herring here: Note that the build settings in the original bug report are string flags with default value `"none"` - not the Starlark value `None` (note the missing double quotes). I also don't think that this problem has much to do with the `transitionDirectoryNameFragment` logic - but it can easily get hidden when a non-no-op transition

[2021-09-10 11:52] chenk008 commented on #10205
I encountered the same issue in Starlark function.

[2021-09-10 12:33] philwo commented on #13821
That's very strange. I also observe that both cases produce an exit code of `1`:

- `bazel test //examples/java-native/src/test/java/com/example/myproject:hello`: No error message, exit code 0
- `bazel test --color=no //examples/java-native/src/test/java/com/example/myproject:hello`: No error message, exit code 0
- `bazel test --nobuild //examples/java-native/src/test/java/com/example/myproject:he

[2021-09-10 12:41] philwo commented on #13821
I'm not sure yet which one is the real bug:
- That `bazel test --nobuild` does not show the error message. (In general the output seems to be pretty confusing even with `--color=no`).
- Or that `bazel test --nobuild` fails, when it should work.

[2021-09-10 15:02] #13928 closed

[2021-09-10 16:12] #13964 closed

[2021-09-10 16:52] gioipv commented on #43
It worked for me. thankyou. I installed with root permission.

[2021-09-10 18:44] brandjon commented on #13800
Have you seen [`Args.set_param_file_format()`](https://docs.bazel.build/versions/4.2.1/skylark/lib/Args.html#set_param_file_format)? Sounds like you want the "multiline" option.

Note that `Args.add_joined()` is for adding a *single* argument to the command line, so it makes sense that it'd be quoted as one unit.

If your list of values is actually a list and not a depset, you can also just format

[2021-09-10 18:49] brandjon commented on #13805
I don't quite understand the request. Test attributes like `size`, `flaky`, `shard_count`, and `timeout` make no sense for non-test targets.

[2021-09-10 18:55] UebelAndre commented on #13805
That's not what I'm suggesting. There are some "common definitions" for `test` rules which are only applied to rules written in Java (built into Bazel). Rules written in starlark have to re-implement these. The one I'm most familiar with is `env` and was trying to describe how `rules_rust` implemented similar functionality at the cost of a workflow where users would use `--run_under` to start a ru

[2021-09-10 19:03] brandjon commented on #13854
I'm not super clear on `tools` myself and the documentation is a little shaky. The relevant source code is [here](https://github.com/bazelbuild/bazel/blob/41e5c4a5a352726781ac49e041705b0ca54439a3/src/main/java/com/google/devtools/build/lib/analysis/starlark/StarlarkActionFactory.java#L576-L602). Looks like:

* If an element of the `tools` arg is a File object, it is added as an input. If it is the

[2021-09-10 19:56] aiuto commented on #13800
That won't work for my use case. I am writing a structured entry (a JSON blob actually).
The actual arg list (which includes the path to this json blob) is already multiline.

I am currently using the JSON module, but I am trying to avoid the work of instantiating a large string.

[2021-09-10 19:57] aiuto commented on #13800
Not, another way to solve this is give a lambda to ctx.actions.write() so we can encode at the last second. I think we discuss that in another issue.

[2021-09-10 22:58] guibou opened #13973 "--coverage_support --coverage_report_generator have no effect"
### Description of the problem / feature request:

I'm trying to write my own coverage collect / reporting feature for rules_haskell. I'm trying to override the default settings using `--coverage_support` and  `--coverage_report_generator` but it does not seem to have any effect.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

I do

[2021-09-11 00:02] nikhilkalige commented on #6615
@oquenchil I tried out `implementation_deps` today, to understand extra rebuilds. It worked as expected. However, I am still getting extra recompilation for private header files, as described in the examples above. I created a similar example with and without `implementation_deps`

- https://github.com/nikhilkalige/bazel-cpp-headers/commit/159b230155fa2b14f05686d482db66db90371502
- https://github.

[2021-09-11 00:09] atali opened #13974 "n_env"
### Description of the problem / feature request:

### Feature requests: what underlying problem are you trying to solve with this feature?

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

### What operating system are you running Bazel on?

### What's the output of `bazel info release`?

### If `bazel info release` returns "developm

[2021-09-11 00:30] kgreenek opened #13975 "Allow explicit attrs in aspects that are not strings"
### Description of the problem / feature request:

I have implemented [starlark rules for flatbuffers](https://github.com/kgreenek/rules_flatbuffers).

They work very similarly to the protobuf rules, e.g.

[code]

The cc_flatbuffers_library rule uses aspects to generate the C++ sources from the fbs schema definitions. It's the perfect use-case for aspects.

I would like to enable users to pass a c

[2021-09-11 00:43] keith commented on #13974
@atali looks like you didn't fill this one out?

[2021-09-11 01:11] vadimcn opened #13976 "An example of how to create a C++ compilation database is needed"
### Description of the problem / feature request:

Please provide a definitive example of how to create a [compilation database](https://clang.llvm.org/docs/JSONCompilationDatabase.html) for a Bazel-based C++ project.

### Feature requests: what underlying problem are you trying to solve with this feature?

There are numerous IDEs that rely on [clang language server](https://clangd.llvm.org/) (whi

[2021-09-11 01:11] ob commented on #13766
This diff fixes it for me:

[code]

I can start a PR if no one has any objections to it but it essentially reverts a piece of [this commit](https://github.com/bazelbuild/bazel/commit/d3de5cc7e25e56fba666e1f39a9ebf3c76fdd69c). Namely,

I don't know if that would be considered a regression or if the diff should be conditioned to macOS...

[2021-09-11 01:11] keith commented on #13976
https://github.com/grailbio/bazel-compilation-database/ can provide this

[2021-09-11 02:41] #13974 closed

[2021-09-11 03:10] benjaminp commented on #13975
#8494

[2021-09-11 04:07] vadimcn commented on #13976
That repo is no longer supported, the tool cannot deal with the `--config=...` switch and... well, did not work on the repo I have on hand.  I've spent a few hours trying to figure out what's wrong with it, but couldn't.

Would be nice to hear from Bazel devs about how this sort of tool is supposed to work.

[2021-09-11 05:07] kgreenek commented on #13975
That is super helpful, thank you! It seems to me like maybe my mental model for what aspects are is wrong.

One idea for my specific use-case: instead of enabling users to pass a toolchain to the cc_flatbuffers_library rule, I could instead require them to set up the toolchain in the WORKSPACE file. That would generate a BUILD file with a toolchain target defined that everything in the workspace w

[2021-09-11 08:09] kgreenek commented on #13975
I made that change, and now I think it is much cleaner:
https://github.com/kgreenek/rules_flatbuffers/tree/c81acb253637eb28cb4fc4b1dd5f1d9cc6a0ca29

I think it's also more in-line with other starlark rules.

I do think it would still be useful for aspects attrs to be a bit less restrictive, but I will close this issue since the other issue is already tracking it.

[2021-09-11 08:09] #13975 closed

[2021-09-11 14:32] #4792 closed

[2021-09-11 15:33] jheaff1 commented on #6997
This issue still occurs in bazel 4.2.1. Any update on when it will be fixed? @wrowe May I ask what your workaround was?

[2021-09-11 21:24] fmeum opened #13978 "Custom test rule without `_lcov_merger` attribute always fails under `bazel coverage`"
### Description of the problem / feature request:

When a custom Starlark test rule without explicit coverage support in the form of the `_lcov_merger` attribute is invoked via `bazel coverage` with Bazel after 5b216b27435aeb9eb9c3bd3c552d6498e1050cc7, it fails with
[code]

The log says:
[code]

With Bazel 4.2.1, the build succeeds:
[code]

### Bugs: what's the simplest, easiest way to reproduce t

[2021-09-12 03:23] keith commented on #13978
I'm kinda surprised this ever worked before, I think the real core issue to fix is https://github.com/bazelbuild/bazel/issues/10642

[2021-09-12 15:57] #13892 closed

[2021-09-12 23:14] freedomtan commented on #12889
I started working on making NDK r23 work, it seems there are at least 2 major issues
1. deprecation of ${NDK_ROOT}/{platforms,sysroot}
2. removal of GNU toolchain
I managed to make building a minimal hello world work on macOS with https://github.com/freedomtan/bazel/tree/ndk_r23_hacks

[2021-09-13 06:20] coeuvre commented on #13632
Fixed by #13655.

[2021-09-13 06:20] #13632 closed

[2021-09-13 06:22] coeuvre commented on #12898
Closing. Please re-open if you think there are still rooms for improvements.

[2021-09-13 06:22] #12898 closed

[2021-09-13 10:09] fmeum commented on #13978
@keith Could you take a look at #13983 and verify whether it also fixes your issue?

[2021-09-13 13:16] brentleyjones commented on #10438
What's the latest status on this? We parse the BEP as part of CI, but we want to use `--bes_upload_mode=fully_async` because it's a performance win.

[2021-09-13 13:17] philwo commented on #10438
That is an excellent question for @coeuvre! 😄

[2021-09-13 13:18] dmivankov commented on #13955
What is the full command? Is it building bazel 4.2.1 with bazel 4.0.0 or with bazel 5.x?
Tried 4.2.1 with .4.0.0 and it seems to be getting progress
Also found similar error message in https://github.com/bazelbuild/rules_appengine/issues/119#issue-779737390 referring to https://github.com/bazelbuild/bazel/commit/c8e179fc7676ec8c0f4787d470b51e9837fc9750 which I think is not a part of 4.x

[2021-09-13 14:10] brentleyjones commented on #11392
The original repo case is fixed in 4.1.0+. I only get the following warning on 4.0.0 and 3.x:

[code]

[2021-09-13 14:12] brentleyjones commented on #11408
This might be fixed in 4.1.0+?

@amarshat, is this still an issue for y'all?

[2021-09-13 15:44] gregestren commented on #6997
@meteorcloudy

[2021-09-13 16:19] quval commented on #13819
@oquenchil: friendly ping :)

[2021-09-13 16:36] #13947 closed

[2021-09-13 16:38] shs96c commented on #13965
@gregestren This issue was about getting support for Java 17 at all in the tree. #13966 is about getting an official stable release of bazel that people can download and use it without needing to compile their own version of bazel.

[2021-09-13 16:42] keith commented on #13978
With that patch it does remove the need to pass `--test_env=LCOV_MERGER=/usr/bin/true` to coverage invocations

[2021-09-13 18:02] DavidANeil opened #13985 "Actions stuck in "active" and thus "[Prepa]""
### Description of the problem:

The UiStateTracker sometimes reports actions in "Preparing" status (shortened to "[Prepa]") indefinitely.
Because this "stuck" action will be the longest running, it will often be the only displayed action (when `--curses=no`).
For example, here is what a sample CI run looks like:
[code]
Which is just ... not useful.

Note that actual action execution is not affect

[2021-09-13 18:07] brentleyjones commented on #13985
This issue also exists in the latest rolling release.

[2021-09-13 18:14] djmarcin opened #13986 ""test" exec_group is not present on starlark defined rules"
### Description of the problem / feature request:

The "test" exec_group added in https://github.com/bazelbuild/bazel/commit/0b3a5aad5818dd5bc1fd3c6b5c3ada77de85f328 does not work for starlark defined rules. It appears to only work for native rules.

### Feature requests: what underlying problem are you trying to solve with this feature?

All TestRunner actions should have the "test" exec_group

#

[2021-09-13 18:17] djmarcin commented on #13986
In addition to the analysis error, the execution log from `--execution_log_json_file=` indicates that setting the exec_properties on the platform does not propagate to these actions unless the rules_rust rust_test is augmented to declare the "test" exec group explicitly, as mentioned on the bazel slack here: https://bazelbuild.slack.com/archives/CA31HN1T3/p1631384272260600

[2021-09-13 18:32] katre commented on #13986
Thanks, this is definitely an oversight in the implementation.

[2021-09-13 23:12] Kernald opened #13987 "Update JaCoCo to 0.8.7"
### Description of the problem / feature request:

JaCoCo is [currently pinned to 0.8.6](https://github.com/bazelbuild/bazel/blob/4b3ed3bd04084dd455aea42f206a9e917ed6dbc0/third_party/java/jacoco/BUILD#L15), which has some issues with Kotlin (I'm currently hitting https://github.com/jacoco/jacoco/issues/1155). It has been fixed in [JaCoCo 0.8.7](https://github.com/jacoco/jacoco/releases/tag/v0.8.7)

[2021-09-13 23:59] djmarcin commented on #1415
@buchgr Has there been movement on this plan, or is the best way to go to declare a custom rule that uses declare_directory?

(found this due to `WARNING: Ouput ... is a directory; dependency checking of directories is unsound`)

[2021-09-14 01:02] nickbreen commented on #8809
Same problem has occurred with Bazel 4.2.0 with OpenJDK 11.0.10

[code]

[2021-09-14 01:58] coeuvre commented on #11408
Closing since this should be fixed.

[2021-09-14 01:58] #11408 closed

[2021-09-14 02:13] coeuvre commented on #11392
Closing since I think this is fixed by recent improvements.

[2021-09-14 02:13] #11392 closed

[2021-09-14 02:56] coeuvre commented on #10438
What is the expected behavior in this case? It seems to me that having local BEP files written completely before exiting Bazel contradicts to `fully_async` mode.

[2021-09-14 03:00] cpsauer opened #13988 "Regression: Compilation Unnecessarily Restricted By Scheduler in Rolling Release"
Hey awesome Team Bazel,

There seems to be a regression around parallelism. With the rolling releases, I'm seeing compilation restricted to 2 or 3 threads, with the rest (I think) held up by the scheduler.

Concretely, during build, I'm seeing output like the following, and moderately slower build times to match:
[code]

[My interpretation is that the scheduler is having the jobs wait; please corr

[2021-09-14 03:07] cpsauer commented on #13988
Interestingly, it doesn't seem to happen for other compile types, even .mm and .m files (for Apple platforms). It seems to be just cpp compilation

[2021-09-14 03:08] benjaminp commented on #13988
One might investigate the impact of 4af342870cd5a777701a3188dffcbba82ae737a5.

[2021-09-14 03:35] cpsauer commented on #13988
Blazingly fast crossref. Thanks, Benjamin!

I think something isn't working as intended here, though. There's more than an order of magnitude more memory available for the job but unused, but we're nonetheless blocking on it.

[2021-09-14 03:47] cpsauer commented on #13988
Can confirm that the issue is present in the rolling release just after that commit (5.0.0-pre.20210615.3) but not in the one immediately before (5.0.0-pre.20210604.6).  @wilwell, any chance I could ask you to take a peek?

[2021-09-14 04:05] Kernald opened #13989 "Failing to run d8_dexbuilder with buildtools 31"
### Description of the problem / feature request:

Using buildtools 31, Bazel can't build dex files anymore. With d8 disabled (default):
[code]

With d8 enabled with the following flags:
[code]

[code]

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

In a `WORKSPACE`:
[code]

(I don't think the `api_level` actually matters here.)

Tr

[2021-09-14 06:43] zeyuliu1037 opened #13990 "Skip breakpoint when debug in vscode in M1 macbook"
### Description of the problem / feature request:

### Feature requests: what underlying problem are you trying to solve with this feature?

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[code]

my tasks.json:
[code]

my src/BUILD:
[code]

my src/mian.cc:
[code]

### What operating system are you running Bazel on?

### What's the o

[2021-09-14 06:52] #13920 closed

[2021-09-14 10:19] lingithub1 commented on #8567
I'm encountering the same problem for Bazel 4.2.1 on RHEL 7.4.

[2021-09-14 12:21] dmivankov opened #13991 "No convenience method to collect test report files"
### Description of the problem / feature request:

`bazel test SOME_TESTS_EXPRESSION` does not print paths to test reports, they will be stored under `$(bazel info bazel-testlogs)/PACKAGE_PATH../TEST_LABEL`. Which could be inconvenient for report collection
- just collecting all reports may pick up reports from previous invocations
- in order to collect specific reports one needs to resolve test e

[2021-09-14 12:35] moroten commented on #10875
The experiments have resulted in #13879 which is caching Merkle trees built from each `NestedSet`. This works great, but there is still some bug to sort out. With that patch, the Remote Execution API can stay as it is.

[2021-09-14 12:39] brentleyjones commented on #10438
The events that are generated that populate the BEP can be written to disk a lot faster than uploading them to BES. The desire is for `--bes_upload_mode` to only affect BES, not BEP (the name even says BES, _not_ BEP).

For our use case, we upload the BEP in Buildkite, or do post-build logic based on what is in the BEP, but we are fine if BES continues to upload in the background.

[2021-09-14 13:35] jakeleventhal commented on #8230
Any updates on this? My team is waiting on this before moving to bazel

[2021-09-14 13:46] keith commented on #8230
I don't think there's really a way out of this in the short term. I would suggest disabling sandboxing for local dev for performance, and enabling it for CI release builds in case anything slips through. This is what most folks are doing today.

[2021-09-14 13:50] jakeleventhal commented on #8230
@keith this sucks but i guess it works. what is the long term eta on this?

[2021-09-14 13:58] philwo commented on #8230
@jakeleventhal We would love to make it faster, but I think this would require a fundamental redesign of the implementation on macOS. So far we've struggled to find a better mechanism in macOS than using `sandbox-exec`, with which we could implement faster and reliable sandboxing. The system just doesn't seem to provide any good APIs for this. If you know of any or tools which implement sandboxing

[2021-09-14 15:09] meteorcloudy commented on #13887
That looks fine, just need to ensure the `downloaded_file_path` should always be a relative path. Happy to review the PR!

[2021-09-14 15:09] meteorcloudy commented on #6997
Sorry, I don't have any update on this.

[2021-09-14 16:46] wrowe commented on #6997
We have code common to the library implementation (for iOS) shared with the windows .exe target which ignores the gcc version text section altogether, and uses a typical global static const to return the version, instead.

[2021-09-14 17:02] wrowe commented on #6997
You can observe our manual_linkstamp logic here https://github.com/envoyproxy/envoy/tree/main/source/common/version

Particularly the BUILD logic. Our top level project .bazelrc toggles manual_stamp for windows targets.

[2021-09-14 17:28] fweikert opened #13992 "Status of Bazel 5.0.0-pre.20210907.1"
- Expected release date: 2021-09-14

Task list:

- [x] Pick release baseline: [9cb59369](https://github.com/bazelbuild/bazel/commit/9cb59369a84d9328c2929eefcb58c1b972ab15f2)
- [x] Create release candidate: https://releases.bazel.build/5.0.0/rolling/5.0.0-pre.20210907.1rc1/index.html
- [x] Post-submit: https://buildkite.com/bazel/bazel-bazel/builds?branch=release-5.0.0-pre.20210907.1rc1
- [x] Push

[2021-09-14 18:40] diffent opened #13993 "bazel iOS tutorial does not work on MacOS Catalina or BigSur"
### Description of the problem / feature request:

these instructions no longer work to yield a running app:

   https://docs.bazel.build/versions/main/tutorial/ios-app.html

### Feature requests: what underlying problem are you trying to solve with this feature?

build the bazel iOS example

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if poss

[2021-09-14 19:26] #13992 closed

[2021-09-14 21:03] nickbreen commented on #8809
We managed to find a method reference (as indicated by [JDK-8210483](https://bugs.openjdk.java.net/browse/JDK-8210483)) that triggered the bug.

I cannot include our source code, and have not generated a minimal case.

It was a method reference passed to Optional.orElseGet inside a lambda. I.e.

[code]

[2021-09-14 21:37] alexeagle commented on #8487
One possible way to resolve some of the user pain is for `bazel clean --expunge` to delete the managed directory in the user's sources at the same time the external repository is deleted. At least this way there's a single method for uncorrupting the external repo state, rather than also requiring `rm -rf node_modules`

[2021-09-14 21:58] #12731 closed

[2021-09-14 22:10] gregestren commented on #13317
Should be fixed by https://github.com/bazelbuild/bazel/pull/13580.

[2021-09-14 22:10] #13317 closed

[2021-09-15 06:49] dmivankov opened #13994 "linux/darwin sandbox runner detection relies on (/usr)/bin/true"
### Description of the problem / feature request:

Sandbox health check is relying on (/usr)/bin/true binary that may potentially be missing or non-executable. It would be more hermetic if bazel tried to execute itself or maybe bundled binary or simple shell script instead (bazel does rely a lot on running shell scripts anyway).

Difference between linux (/bin/true) and darwin(/usr/bin/true) runne

[2021-09-15 06:57] dmivankov opened #13995 "no way to enforce (linux) sandboxing"
### Description of the problem / feature request:

Bazel can silently fallback to weaker symlink sandbox if `/bin/ttue` is not available (https://github.com/bazelbuild/bazel/issues/13994) or if there aren't enough privileges to execute `clone` syscall with new namespaces (say running in unprivileged docker container locally or in cloud / CI).

This makes one's CI checks weaker and difference betwe

[2021-09-15 07:06] rabisg commented on #13887
Hey @meteorcloudy  PR is here: https://github.com/bazelbuild/bazel/pull/13961

[2021-09-15 07:08] frazze-jobb commented on #5373
@philwo you have great knowledge of sandbox. It seems that there is some problem with accessing /dev/pts, I assume that it would require a change in linux-sandbox c++ code. Do you know if there is something more to it, that would make this difficult to implement?

[2021-09-15 07:39] comius commented on #13965
P3, changes are very welcome and we will offer active support to any contributors.

[2021-09-15 07:40] comius commented on #13664
assigned for triaging

[2021-09-15 14:22] #12171 closed

[2021-09-15 16:28] nikhilkalige opened #13997 "Stale transition value"
I have following code that I am using to create a transition.  It transitions on //hal/mach:mach build setting as defined below
[code]
I create the following using the above
[code]
When I change the mach to a invalid value, say `armX`, I get an error, but if I change it again to `armY`, I still get an error saying the `armX` is invalid.
[code]
I don't understand why I am still getting stale values

[2021-09-15 22:16] ob commented on #8230
FWIW, I don't think `sandbox-exec` is the bottleneck. It's just that the filesystem is much slower in creating/deleting files and symlinks than the linux filesystem. I tried the original test case submitted (clone https://github.com/alexeagle/rules_sass_repro)  with bazel as of e4a26b6391, and this is what I got:

[code]
$ bazel build --incompatible_restrict_string_escapes=false --strategy=SassCom

[2021-09-16 00:43] konste opened #13998 "Parsing of /showIncludes MSVC compiler output is incorrect when INCLUDES contains relative paths."
### Description of the problem / feature request:

On Windows Bazel uses `/showIncludes` compiler option to get the list of headers used during compilation and generate possible "undeclared header usage" errors. Unfortunately it seems the code parsing compiler output expects the paths to always be absolute. In reality MSVC follows what it is told in INCLUDES - if the path there is absolute, then t

[2021-09-16 02:52] coeuvre commented on #10438
I was thinking the case that, even we can write BEP to disk a lot faster, we still have to wait for local files be uploaded to remote server in order to get the converted URI (we can't get that ahead of time). So if we want to have local BEP files written completely before exiting Bazel, we have to wait for the file uploads.

[2021-09-16 02:55] coeuvre commented on #10438
We could probably make the URI in the local BEP files pointing to local files instead.

[2021-09-16 04:03] dannote opened #14000 "Bazel installer crashes on macOS Monterey"
### Description of the problem / feature request:

Bazel installer crashes on macOS Monterey

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[code]

### What operating system are you running Bazel on?

macOS 12.0 Beta (21A5506j)

###  Have you found anything relevant by searching the web?

Unfortunately no

### Any other information

[2021-09-16 06:57] dmivankov opened #14001 ""bazel info install_base" not working outside a workspace"
### Description of the problem / feature request:

Running `bazel info install_base ` doesn't work outside workspaces. But some of parameters aren't workspace-specific, I think, like `install_base`, `release` and jvm info.

### Feature requests: what underlying problem are you trying to solve with this feature?

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a min

[2021-09-16 08:51] Jonpez2 commented on #13965
Step one here would presumably be to upgrade errorprone to the latest version, which includes a few jdk17 fixes.  That will let us use jdk17 as the runtime, even if we can't use source/target versions.

How does one go about that?

Thanks!

[2021-09-16 10:49] meteorcloudy commented on #13998
[code]

@konste This change was introduced at for https://github.com/bazelbuild/bazel/commit/7149f578006a4ad0d51df69830a6986749b34df5 for https://github.com/bazelbuild/bazel/commit/24c980b6d4adef456cf4b4f84ac3b8ec4580b172

I actually never noticed that INCULDES could make cl.exe output relative paths for header discovery. If that's true, we can indeed take advantage of that to make Windows toolcha

[2021-09-16 12:03] #12696 closed

[2021-09-16 13:41] brentleyjones commented on #10438
We would actually like that 😍. BEP having local URI and BES having remote cache URI.

[2021-09-16 14:01] wilwell commented on #13988
Hi!
It looks like my changes could be the reason for this type of regression.
To make investigation easier could you please answer following questions:
1) Do you have some small open-source reproducible variant of this regression?
2) How much memory do you have on the machine, which runs this target?
3) Could you please collect more information about Compiling actions, e.g. number of inputs. You c

[2021-09-16 15:37] Guillaume-Garrigos commented on #7979
I would like to warn that doing this literally broke my computer : after changing my username in netplwiz, I am now unable to login, as windows thinks my password is incorrect. This way of changing the username might not be bugfree.

[2021-09-16 16:29] ob commented on #8230
I also got a trace profile:

<img width="1255" alt="image" src="https://user-images.githubusercontent.com/4950/133649996-474cd412-d288-447d-a1a5-6133b2bdac5f.png">

as you can see the sandbox setup/teardown is where most of the time is spent. This is without `--experimental_reuse_sandbox_directories`

[2021-09-16 16:40] jmmv commented on #8230
Agree with what @ob said. When I was looking into this, I patched Bazel to run all actions via `sandbox-exec` but *without* doing any of the file system work--and the performance overhead on various builds I tried was negligible.

[2021-09-16 17:00] philwo commented on #8230
Yes, you are correct. Our current sandbox  mechanism needs these containers on disk. We have experimented with various replacements and optimizations (sandboxfs, APFS clonefile copies), but they either don’t help or have other caveats.

More advanced sandboxing mechanisms like BuildXL‘s sandbox would not require building file system based sandbox containers. Instead they observe and filter the sys

[2021-09-16 17:58] gregestren commented on #12888
FYI I know I owe you more responses on your recent input...

[2021-09-16 19:21] konste commented on #13998
@meteorcloudy Thank you for the prompt response! Now that I know it is not in vain I will invest time into making the minimal repro and try to debug the relevant parts of Bazel code.

[2021-09-16 21:50] communikit commented on #13932
Closing as duplicate of #13885

[2021-09-16 21:50] #13932 closed

[2021-09-16 21:51] communikit commented on #13523
Closing as duplicate of #13885

[2021-09-16 21:51] #13523 closed

[2021-09-16 21:59] communikit commented on #13885
Closing as duplicate of #13426

[2021-09-16 21:59] #13885 closed

[2021-09-17 00:56] haifeng-jin commented on #13664
As suggested in keras-team/keras#15338, test_arg works for our case.
So this issue can be closed, unless we just want to support test_filter.

[2021-09-17 00:56] #13664 closed

[2021-09-17 01:33] bhack commented on #13664
@haifeng-jin I think instead that this ticket it Is useful, if It Is not in the abseil mentioned perimeter.
Often you need to use wildcards as you don't know the test extended name and so you need to use filter

[2021-09-17 02:10] haifeng-jin commented on #13664
@bhack I think that is based on the fact that test_filter support regular expressions.
However, test_filter only support regex for some language like C++ and Java, but not Python.

[2021-09-17 03:47] shiyalun opened #14004 "Bazel3.7.2 compiles C++ inference code of tensorflow 2.6.0 to generate so file ，anyway，fail，“cannot use 'throw' with exceptions disabled，cannot use 'try' with exceptions disabled“"
### Description of the problem / feature request:

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

#include <new>
#include <stdexcept>
#define CHECK_PTR(PTR) { if(!(PTR)) throw std::bad_alloc(); }
extern "C" {
void __real_abort();
void* __real_calloc(size_t nmemb, size_t size);
void* __real_malloc(size_t size);
void* __real_realloc(v

[2021-09-17 08:45] meteorcloudy commented on #13998
@konste Nice, thanks for looking into it!

[2021-09-17 10:10] oquenchil commented on #13819
I wonder if the fix should actually be to do the same equality comparison here: https://source.corp.google.com/piper///depot/google3/third_party/bazel/src/main/java/com/google/devtools/build/lib/rules/cpp/LibrariesToLinkCollector.java;rcl=325437765;l=270

but extracting the configuration fragment from both values before comparing, which would then trigger line 222.

I didn't understand why you add

[2021-09-17 10:19] oquenchil commented on #6615
A private header may still be used by one of your public headers. The concept of private headers only makes sense when you are using the layering_check. If you are depending on a target via deps (rather than implementation_deps), its private headers will still be propagated.

[2021-09-17 10:36] quval commented on #13819
@oquenchil: thanks!

I've actually been debating about the same, but if I remember correctly, I ultimately decided on this approach because of rpath search order – if we first look in the root, we may either pick up the wrong library (unless we mangle in the configuration fragment, which I think I added later) or waste time looking up the SO in a directory that's potentially large (I wanted to pre

[2021-09-17 10:41] oquenchil commented on #13819
So I don't know the answer to your last question. This is an area of the code that I haven't touched that much. I will try to find some time next week to run it under the debugger and gain a better idea.

[2021-09-17 11:40] dmivankov commented on #13995
related issue that has comments about sandbox fallback https://github.com/bazelbuild/bazel/issues/418

[2021-09-17 13:48] meisterT commented on #10657
To show how it looks after the most recent commit:
![image](https://user-images.githubusercontent.com/418721/133793385-afeb1375-969d-4f2b-a6f5-5b2a3e1a8781.png)

You can clearly see that the total system CPU usage spiked once Bazel started executing actions.

[2021-09-17 14:57] fweikert opened #14007 "Status of Bazel 5.0.0-pre.20210913.1"
- Expected release date: 2021-09-17

Task list:

- [x] Pick release baseline: [0017fd23](https://github.com/bazelbuild/bazel/commit/0017fd23e1ff9aea7241c92a503024e3f2a3425b)
- [x] Create release candidate: https://releases.bazel.build/5.0.0/rolling/5.0.0-pre.20210913.1rc1/index.html
- [x] Post-submit: https://buildkite.com/bazel/bazel-bazel/builds?branch=release-5.0.0-pre.20210913.1rc1
- [x] Push

[2021-09-17 15:19] brentleyjones opened #14008 "Upload failure using `--experimental_remote_cache_async` and flaky test retries"
### Description of the problem / feature request:

When using the new `--experimental_remote_cache_async` flag, we get upload failures that don't happen without the flag. It seems to be related to how the test log for flaky tests are generated.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[code]

### What operating system are you

[2021-09-17 15:19] brentleyjones commented on #14008
cc: @coeuvre

[2021-09-17 17:10] illicitonion opened #14009 "`toolchains` attribute requires `toolchain_type` target to expose provider which it can't"
### Description of the problem / feature request:

As far as I can tell, there's no way for a starlark-defined toolchain to be consumed for make variable expansion.

I wanted to use `perl` from a Perl toolchain from `rules_perl` in a genrule:

[code]

Unfortunately, this doesn't quite work for two reasons.

1. "in toolchains attribute of genrule rule //:run_perl: '@rules_perl//:toolchain_type' doe

[2021-09-17 17:10] illicitonion commented on #14009
/cc @katre @gregestren

[2021-09-17 17:25] katre commented on #14009
This is an unfortunate wart of Bazel. The `toolchains` attribute on most rules does _not_ want a `toolchain_type`: it wants something else that exposes `TemplateVariableInfo` providers. This can be several other concrete toolchains (I know CC toolchains and Java toolchains provide this, I don't know about Perl toolchains).

This was named separately from the `toolchain_type` and related rules, and

[2021-09-17 17:34] #14007 closed

[2021-09-17 22:05] devversion commented on #4327
I just wanted to post what we have been doing in the majority of Bazel projects for `rules_webtesting` compatibility (where the Chromium darwin binaries contain a space). In short: The runfile space error only seems to occur when the runfile build links are being created. With the `--nobuild_runfile_trees` flag the runfile tree creation is deferred until actually needed (this had CI cache improvem

[2021-09-19 03:25] konste commented on #13998
After many experiments I discovered that MSVC option /showIncludes indeed outputs absolute paths _most of the time_, BUT there is at least one exception: when INCLUDE env var contains relative paths AND debug information is not requested – it outputs relative paths! Bazel MSVC “discovery” toolchain does not encounter it because 1. Most of the time INCLUDE env var contains absolute paths and also 2

[2021-09-19 11:32] fmeum commented on #3236
There are more cases of files created by the JVM under hardcoded paths of the type `/tmp/<something>$PID`. A very prominent one is [`.java_pid$PID`](https://github.com/openjdk/jdk/blob/7c9868c0b3c9bd3d305e71f91596190813cdccce/src/jdk.attach/linux/classes/sun/tools/attach/VirtualMachineImpl.java#L46), which is used by the [Attach API](https://docs.oracle.com/javase/7/docs/technotes/guides/attach/in

[2021-09-19 20:45] quval commented on #13819
Thank you!

In the meantime, I've just opened a PR for the first part (#14011).

[2021-09-19 21:43] bjacklyn commented on #13985
cc @coeuvre

Also seeing this after upgrading to 4.2.1 from 4.0.0. These are the changes that have gone in since the 4.1.0 release:
[code]

It looks like there was an attempt at fixing the UI bug in `b51b31dbe7`.

By adding the below patch you can reproduce this issue:
[code]

The problem seems to be like @DavidANeil mentioned -- `actionProgress(ActionProgressEvent event)` is probably called in Th

[2021-09-19 21:45] bjacklyn commented on #13985
Also for anyone who OK with compiling bazel from source and applying a patch (patch based off `4.2.1`), this fixes it for me:
[code]

[2021-09-20 05:38] haberman commented on #4485
Please don't take away `--nodistinct_host_configuration`. As this bug illustrates, it's an invaluable tool for debugging genrules.

Even if the situation isn't as gnarly as what @jmillikin-stripe ran into, `--nodistinct_host_configuration` is still much easier than:

1. `bazel build -s`
2. watch millions of log lines fly by, try to find precisely the command you care about
3. copy and paste the co

[2021-09-20 08:52] comius opened #14012 "incompatible_require_javaplugininfo_in_javacommon"
*Flag:* `--incompatible_require_javaplugininfo_in_javacommon`
*Available since:* 2021-05-10
*Flipped in:* Bazel 5.0.0
*Planner removal*: after 5.0.0

`java_plugin` instead of `JavaInfo`, publishes `JavaPluginInfo` provider, which is allowed only on `plugins` and `exported_plugins` attributes.

 `java_plugin` targets in `deps`, `runtime_deps`, `exports` will stop working.

# Migration

When `java_p

[2021-09-20 09:45] Wyverald opened #14013 "Release 5.0 - January 2022"
# Status of Bazel 5.0

- Target baseline: 2021-10-25
- Expected release date: 2022-01-19
- [5.0 release blockers](https://github.com/bazelbuild/bazel/milestone/31)

To report a release-blocking bug, please add it to the 5.0 release blocker milestone, and cc me.

Task list:

- [x] Pick release baseline: 8d66a4171baddcbe1569972f019e54130111202c
- [x] Create release candidate: 5.0.0rc1
- [x] Check do

[2021-09-20 11:50] #13857 closed

[2021-09-20 14:13] illicitonion opened #14014 "`toolchains` attribute on all rules should merge runfiles from the toolchain into the depending target"
See https://github.com/bazelbuild/rules_nodejs/pull/2960#discussion_r712133880

[2021-09-20 14:13] illicitonion commented on #14014
/cc @katre @alexeagle

[2021-09-20 14:15] katre commented on #14014
This prevents the need to duplicate a target in both `toolchains` and `tools`.

[2021-09-20 15:50] haxorz commented on #13571
`native.cc_library` exists for me:

[code]

I'm therefore going to interpret this as an ask to make the docs slightly more helpful by linking to the list of all native rules.

If you're still having issues, please provide more information. A demo like I did above would be helpful.

[2021-09-20 16:31] aaliddell commented on #7386
Could this be added to the changes for Bazel 5?

[2021-09-20 16:43] aaliddell commented on #14013
Would you consider looking at https://github.com/bazelbuild/bazel/issues/7386 for Bazel 5? This was missed as a change on Bazel 4 and has been tripping people up for a long time. The proposed steps to change the default were begun with the addition of an incompatible flag but have got stuck there. Perhaps we can now move to flipping the default to disabling the creation of `__init__.py` files?

Bu

[2021-09-20 17:24] danieljanes commented on #14013
...and (related to @aaliddell's comment above): #12238

[2021-09-20 21:33] haxorz commented on #13571
Actually, I'm going to keep the docs as-in for now.

[2021-09-20 21:33] #13571 closed

[2021-09-20 23:34] cushon commented on #13965
I think Bazel has already been updated to the latest Error Prone release in https://github.com/bazelbuild/bazel/commit/68e14b553e746655b71aaa59b766b659888f08b6, that part might just be blocked on a `java_tools` release.

Another problem is that turbine doesn't support all of the features up to Java 17 yet (e.g. `records`: https://github.com/bazelbuild/bazel/issues/13924), I'm still working on that

[2021-09-21 02:03] yaojingguo commented on #13571
native package has the following members:

<img width="899" alt="截屏2021-09-21 上午9 46 33" src="https://user-images.githubusercontent.com/516386/134099691-79c334b3-3ec3-48ca-bc6b-d3c2d77f8df8.png">

And a check of `StarlarkNativeModuleApi.java` also shows that the native package actually has the above members. Rule `cc_library` is documented in https://docs.bazel.build/versions/main/be/c-cpp.html. A

[2021-09-21 09:14] torgil commented on #12843
For cc_common.link, this is already implemented, see  https://github.com/bazelbuild/bazel/pull/12883 for example how to extract map file

[2021-09-21 10:39] burdiyan commented on #3041
@keithl-stripe I think it doesn't help here. The `no-cache` tag disables disk-based or remote caching, but still will only re-run the rule if inputs have changed.

[2021-09-21 10:50] meisterT commented on #12075
what would you like to see there?

[2021-09-21 11:08] Wyverald commented on #14013
Thanks for flagging this; I'll check with @brandjon.

Although yeah, the purpose of this thread is more on the side of making sure any in-flight changes can make it into 5.0, rather than start prioritizing stuff now. Nevertheless, I see that this has been a long-standing issue, so let's see if we have the cycles to make it happen. (Alternatively, feel free to send PRs if you have the time!)

[2021-09-21 14:19] haxorz commented on #13571
It seems like you're concerned about the relationship between the organization of Bazel's Java source code and the user-facing documentation.

The docs are talking about "the native module" from the perspective of user `bzl` code using `native`; the organization of Bazel's source code is irrelevant for this user-facing documentation. Does that satisfy your concern, or have I misinterpreted your co

[2021-09-21 14:23] Jonpez2 commented on #13965
Oh nice thanks!

On Tue, 21 Sep 2021 at 00:34, Liam Miller-Cushon ***@***.***>
wrote:

[2021-09-21 15:10] yaojingguo commented on #13571
Thanks for the explanation. I am clear now.

[2021-09-21 17:44] #13887 closed

[2021-09-21 17:55] joshua-cannon-techlabs commented on #10660
@chickenandpork @ulfjack If you use a pytest_runner to run your pytest tests, it's a convenient place to put the lconv conversion code ;) That way you can still use standard tools (and not need to use the fork or special shell scripts)

The following requires `pytest-cov` and` coverage-lconv`
[code]

[2021-09-21 18:29] philwo commented on #14004
Hi @shiyalun, this seems to be more a question about how to use Bazel to achieve something. I don't think it's a Bazel bug. Could you ask this question on our mailing list instead: https://groups.google.com/g/bazel-discuss? Maybe another user has found a solution for this already.

Thanks,
Philipp

[2021-09-21 18:29] #14004 closed

[2021-09-21 18:30] philwo commented on #14001
Hehe. I agree with this feature request, this has annoyed me in the past repeatedly. :)

[2021-09-21 18:31] philwo commented on #14000
Thanks for the report! I'll upgrade one of my machines to Monterey and will try to reproduce.

[2021-09-21 18:31] philwo commented on #14000
@meteorcloudy FYI

[2021-09-21 18:45] keith commented on #14000
I filed an issue with Azul about this, it's a known issue:

    I understand that Zulu11 is crashing immediately upon start on your M1 Mac running on Monterey.

    I suspect that you have the latest developer build (eg. Beta-6) and if so, this is a known issue that should be remedied shortly.

    ...

    2.)  If so, there are a number of temporary work-arounds available until we release a fix.

[2021-09-21 19:35] philwo commented on #14000
Excellent! Then we can just bump our embedded JDK to the latest version once the fix is out - and maybe we have to release a patch release for 4.2.1 if Apple doesn't want to fix it on their side and restore compatibility with the older OpenJDK. 😅

FYI @katre

[2021-09-21 19:48] keith commented on #14000
It sounds like if we were on one of these versions it would already be fixed? Is updating to one of those feasible?

[2021-09-21 20:35] philwo commented on #14000
FYI @meisterT, our JDK expert.

Updating the embedded JDK to OpenJDK 17 LTS shouldn’t be too hard, but we’d need to run performance regression tests first. I also wouldn’t feel so comfortable bumping the embedded JDK from 11 to 17 in a patch release of our Bazel LTS version 😅

[2021-09-21 20:50] philwo commented on #13995
I think this can all be modelled via the `--spawn_strategy=` flag:

best effort sandboxing = `--spawn_strategy=sandboxed,local`
enforce sandboxing = `--spawn_strategy=sandboxed`
disable sandboxing = `--spawn_strategy=local`

If you like, you can even enforce a specific sandboxing strategy (e.g. the one using Linux Namespaces) via `--spawn_strategy=linux-sandbox`.

Check out the sandboxing flags he

[2021-09-21 20:50] philwo commented on #13995
FYI @larsrc-google

[2021-09-21 20:53] philwo commented on #13993
I'm moving this issue to https://github.com/bazelbuild/rules_apple, because I think they're handling this now.

[2021-09-21 20:59] quval commented on #13986
Since I've started to draft a patch for this back when @djmarcin first posted a comment on #13110, I thought I might send it as a PR to make sure this makes the cut into Bazel 5. Hope this is all right.

[2021-09-21 21:00] philwo commented on #13991
Can you get the data from the [Build Event Protocol](https://docs.bazel.build/versions/main/build-event-protocol.html)?

Check our CI script for a naive, unoptimized method how to parse the BEP JSON, get all the test logs and upload them to a server: https://github.com/bazelbuild/continuous-integration/blob/e23e1b90a3d8ce560835e7a5217241b0bbbf9b63/buildkite/bazelci.py#L2013-L2036

You can save the

[2021-09-21 21:05] philwo commented on #13985
@bjacklyn Would you mind sending your patch as a pull request?

[2021-09-21 21:18] philwo commented on #13925
What does `uname -a` print on your Mac and what does it print inside the Docker container that you're running Bazel in?

I think this is a mismatch of accidentally trying to run an x86_64 version of Bazel inside an arm64 container or the other way round.

[2021-09-21 21:32] cushon commented on #13987
We're using 0.8.7 internally and it's been working fine. Note that it still needs the same patches as 0.8.6

[2021-09-21 21:53] wt commented on #11935
I would love to see this so that I could glob in diffs for a http_repository. That would be awesome.

[2021-09-21 21:53] wt commented on #11935
Oh, and I am using release 4.1.0rc4.

[2021-09-21 23:19] bhack commented on #13664
@haifeng-jin Test filter was resolved  https://github.com/abseil/abseil-py/issues/173#event-5339072920. Supporting glob is https://github.com/abseil/abseil-py/issues/128

[2021-09-22 00:03] vidheyoza commented on #13925
@philwo thanks for the help! I think what you mentioned might be the issue, but after I `wget` the 3.7.2 arm64 release into the `/usr/local/bin/bazel` directory and try using bazel, it throws the following error:

[code]

Earlier I saw the container trying to find `bazel` in `/usr/local/lib/bazel/bin`, so I tried downloading into that directory as well, but that doesn't seem to work. Since the ima

[2021-09-22 02:58] nikhilkalige commented on #6615
In our codebase (CMAKE), we explicitly disallow inclusion of headers in the `srcs` attribute. I was hoping this could be achieved similarly in bazel too. So, all headers from a library that are exposed need to go into the `hdrs` attribute.

Is there any way to achieve this without layering checks...

[2021-09-22 03:09] nikhilkalige commented on #6615
For example, if I have library as below...

[code]

In this example, why would I want to propagate `srcs/car.h` header file. Yes, I could use `implemenation_deps`, however If my dependent lib exports `Abstract` again, then I would need to use `deps`, but I still do not want the private header file to be exported.

[2021-09-22 03:51] shiyalun commented on #14004
[image: image.png]

I executed the following command “bazel build //rnn_dict_full:all -s
--cxxopt="-std=c++14" --cxxopt="-D_FORTIFY_SOURCE=2"
--cxxopt="-fpermissive"    --copt="-O2" --copt="-fstack-protector-strong"
 --copt="-fpic"  --copt='-fpie' --copt='-pie' --copt="-enable-bind-now"
 --strip=always  --config=android  --cpu=arm64-v8a
--fat_apk_cpu=arm64-v8a” to generate the SO file, but an erro

[2021-09-22 04:08] haifeng-jin commented on #13664
Thanks for the update!

[2021-09-22 05:50] dmivankov commented on #13995
Interesting, will play with that to see if it can be used to enforce (strong) sandboxing :+1:

[2021-09-22 05:54] philwo commented on #13925
@vidheyoza Could you try running `chmod +x /usr/local/bin/bazel` after downloading it there with wget? I think that might fix the error message you've seen.

[2021-09-22 06:26] dmivankov commented on #13995
But I guess that's expected in the case when `linux-sandbox` isn't supported (like unprivileged docker-in-docker/k8s)

Changing the title to documentation improvement request: getting list of possible strategies, mnemonics, applying them also to workers etc, at least those pages: https://docs.bazel.build/versions/main/sandboxing.html and https://docs.bazel.build/versions/main/command-line-referenc

[2021-09-22 06:30] #13985 closed

[2021-09-22 06:32] dmivankov commented on #13991
Will give it a shot, looks like this prints outputs of cached tests too which is good.

Note: `--build_event_json_file_path_conversion=false` doesn't seem to change anything in json
[code]

[2021-09-22 07:33] eed3si9n commented on #8739
I implemented `bazel output-query <target>` as a custom command that calls:

[code]

### tools/output.bzl

[code]

This only lists the last item the output, but it gets the job done for the most part I think. Works like this:

[code]

[2021-09-22 07:35] lisaonduty commented on #12843
Hi @torgil,
I wrote a similar issue for cc_binary long time ago, https://github.com/bazelbuild/bazel/issues/6718.
But if I got it right your implementation will not impact cc_binary rule?
Is it something you plan to do (add the new attribute to cc_binary)?

[2021-09-22 07:46] meisterT commented on #14000
I would be hesitant as well to bump the JDK in a patch release. But we should aim to do it before Bazel 5.0 is cut.

[2021-09-22 08:56] meteorcloudy commented on #14000
@dannote
As a workaround for now, maybe you can install a compatible JDK version with Monterey and try with the Bazel binary without the embedded JDK?
https://github.com/bazelbuild/bazel/releases/download/4.2.1/bazel_nojdk-4.2.1-darwin-arm64

[2021-09-22 10:09] oquenchil commented on #6615
Unfortunately no way to achieve that without layering check. The only solution I can offer is that you separate the srcs/ headers into its own target that is depended on via implementation_deps from "abs".

[2021-09-22 13:14] carlosgalvezp opened #14022 "attribute "build_setting_default" is not configurable"
Hi,

I want to make the "build_setting_default" of a config_setting configurable based on a select:

[code]
However I get the error:
[code]

Why is that? Is there a workaround to achieve what I intend above?

[2021-09-22 13:30] vidheyoza commented on #13925
Tried but getting the same error.

[2021-09-22 13:50] dannote commented on #14000
@meteorcloudy I'll try, thank you

[2021-09-22 14:12] Wyverald commented on #14013
re: `__init__.py`, please see @brandjon's update at https://github.com/bazelbuild/bazel/issues/7386#issuecomment-924320303

[2021-09-22 14:29] katre commented on #13986
Thanks very much! I've been overwhelmed with other work and hadn't been able to tackle this, but your approach is exactly what I would have done.

[2021-09-22 14:31] dmivankov commented on #13991
With remote cache in place reports are printed as

like so
[code]

[2021-09-22 14:58] quval commented on #13986
Glad this helps! Thank you for the prompt feedback.

[2021-09-22 16:45] denyska commented on #13111
@keith #13822 is great, however it requires storing creds in multiple places: `~/.netrc` and  `.bazel_download_config`. I also expect that most of the people will put `.bazel_download_config` into source control, therefore storing per-user credentials there is not practical.

[2021-09-22 17:05] #13602 closed

[2021-09-22 17:44] torgil opened #14023 "Avoid different transition output directories when build settings have the same values"
### Description of the problem / feature request:

To avoid duplicated actions on dependencies when using build-settings it's necessary to reset build-settings to it's default value. This is currently not enough as we still can get conflicts on the "transition directory name fragment" for instance when two subsystems using different build-settings depend on a common library.

### Bugs: what's the

[2021-09-22 17:52] oftheheavens opened #14024 "STAT 545- Group 14"
This is an issue created for Exercise 4 for our STAT 545 collaborative project.

I'm trying to test out Github issues and wanting to see how to communicate best with my teammates, as well as introduce myself.

My name is Abigail, and I'm a recent BA (Hons) Psychology grad from UBC. I'm taking STAT 545 because I want to learn more about R, having forgotten most of what I picked up in my undergrad.

[2021-09-22 19:25] hicksjoseph commented on #9387
Hi Simon, I remember that we discussed this issue, but now I forget the next steps or desired outcome. Can you recap your thoughts here? Thanks, Joe

[2021-09-22 19:33] keith commented on #14000
This appears to be fixed in monterey beta 7, I can no longer repro this crash 🎉

[2021-09-22 20:37] ThomasCJY commented on #8615
Any update on this issue? This has become a blocker for us to bump java version to 11

[2021-09-22 20:43] oftheheavens commented on #14024
Editted a line

[2021-09-23 00:45] dannote commented on #14000
It looks like `bazel_nojdk-4.2.1-darwin-arm64` works fine with OpenJDK 17

[2021-09-23 01:23] dannote commented on #14000
It looks like it's a bit too early to bump to OpenJDK 17. I ran into issues related to JSR 376:

[code]

[2021-09-23 03:41] keith commented on #14000
Given the fix in beta 7, unless folks can reproduce with that newer version, we can probably close this.

[2021-09-23 03:42] shiyalun commented on #14004
When I compiled SO, the problem occurred, my BUILD configuration and errors are as follows, :
        the error is "common/abort_wrapper.cc:22:3: error: cannot use 'throw' with exceptions disabled
        throw std::runtime_error("abort called!");",

SO uses the following configuration ：
        "-Wl,--wrap=abort",
        "-Wl,--wrap=calloc",
        "-Wl,--wrap=malloc",
        "-Wl,--wrap=reall

[2021-09-23 06:47] coeuvre commented on #13409
The VMs now provide these versions:

[code]

Any ideas why the error "Bazel requires Android build tools version 30.0.0 or newer, 28.0.2 was provided" reappears?

[2021-09-23 06:56] #14000 closed

[2021-09-23 09:32] fweikert opened #14027 "Status of Bazel 5.0.0-pre.20210916.1"
- Expected release date: 2021-09-23

Task list:

- [x] Pick release baseline: [e4a26b63](https://github.com/bazelbuild/bazel/commit/e4a26b6391fd2d3112a29bf81b4397055c854184)
- [x] Create release candidate: https://releases.bazel.build/5.0.0/rolling/5.0.0-pre.20210916.1rc1/index.html
- [x] Post-submit: https://buildkite.com/bazel/bazel-bazel/builds?branch=release-5.0.0-pre.20210916.1rc1
- [x] Push

[2021-09-23 09:34] meteorcloudy commented on #13998
I think it's related to this flag [--strict_system_includes](https://cs.opensource.google/bazel/bazel/+/master:src/main/java/com/google/devtools/build/lib/rules/cpp/CppOptions.java;l=736). By default it's turned off to allow system include paths specified with "-isystem" (instead of "-i"). But on Windows, there is no such difference, so any directory specified with "/I" is allowed. If you don't us

[2021-09-23 09:41] meteorcloudy commented on #13998
Oh, this is not a bug. `includes` is supposed to be used for system include paths.
https://docs.bazel.build/versions/main/be/c-cpp.html#cc_binary.includes

[2021-09-23 09:42] meteorcloudy commented on #13998
@konste Maybe you intended to use https://docs.bazel.build/versions/main/be/c-cpp.html#cc_library.include_prefix ?

[2021-09-23 11:00] burdiyan commented on #7213
I was so surprised when I realised there's no easy way to stream action build output in Bazel. It seems like a very necessary thing to be able to do. I have a very long build process, and it would be very helpful to be able to stream the output.

So definitely a +1 from me to implement this.

[2021-09-23 12:37] #14027 closed

[2021-09-23 13:09] omercanyigit1 opened #14029 "Bazel can not work in my Mac."
I have a big problem with about the bazel. I am using the Macos Big Sur with Apple M1 and i can not load the bazel files and it can not find my npm files. Can you help me?

Error:

   Traceback (most recent call last):
	File "/private/var/tmp/_bazel_omercanyigit/100a58fa745a5d1002a5089e0960865d/external/build_bazel_rules_nodejs/internal/npm_install/npm_install.bzl", line 693, column 31, in _yarn_i

[2021-09-23 15:03] keith commented on #14029
This is an issue with rules nodejs. It looks like this has already been filed as https://github.com/bazelbuild/rules_nodejs/issues/2733 but if the solutions there don't work you should file another issue on that repo

[2021-09-23 21:29] #13986 closed

[2021-09-24 00:41] uri-canva commented on #3041
I agree that "always rerun repository rule" doesn't sound like a well defined feature, and the example use cases in this thread are very different, and some even seem to relate to rules, not repository rules. I though I'd summarise some of the existing bazel features that can help in some situations where one might want this feature:

1. `--workspace_status_command` lets you pass any input you'd l

[2021-09-24 08:48] coeuvre commented on #13409
Fix https://github.com/bazelbuild/rules_jvm_external/commit/404daf44efd3ceac5005761509bf2738f40b2b7a landed and build is green now.

[2021-09-24 09:05] meteorcloudy commented on #13409
Thanks!!

[2021-09-24 12:42] hiberabyss commented on #13900
My project depends on folly, which was installed as system library since it's difficult to compile folly with `bazel`.

Folly depends on other libraries like `fmt` which need also be installed as system library.

However, I would like my project has as little system library dependencies as possible. I compile `fmt` with bazel and add it as the dependency of `folly`, then the problem occur (there w

[2021-09-24 13:01] daveb68 opened #14033 "Documentation issue: Make Variables"
Documentation URL: https://docs.bazel.build/versions/main/be/make-variables.html

The following statement appears to be incorrect:

I believe that for adding files to the C++ linking stage, the proper attribute to add a file to use for "Predefined source/output path variables" is additional_linker_inputs.

I couldn't figure out how to add a file to the linking stage by reading the documentation wi

[2021-09-24 13:27] hiberabyss commented on #13900
Seems could specify library path via `'$(BINDIR)/external/fmt/libfmt/lib64/libfmt.a',`

[2021-09-24 13:33] meisterT opened #14034 "Drop experimental_multi_threaded_digest"
This options defaults to true since a while and should just be removed, likely with the whole `SsdModule`.

[2021-09-24 15:06] #13886 closed

[2021-09-24 15:55] vidheyoza commented on #13925
Update: Apparently I was using `chmod -x` instead of `chmod +x`. I'm handling errors with installing tensorflow now, but I think I can close this issue.

To recap for anyone in the future: if bazel installation doesn't work for any container that you use, try downloading the binary directly into the container and change permissions to it if needed. It might work much better than the installer scri

[2021-09-24 15:55] #13925 closed

[2021-09-24 16:16] matthewjh commented on #14013
What about #13879?

[2021-09-24 16:17] philwo commented on #13925
Excellent, thanks for posting the solution here @vidheyoza! 😊

[2021-09-24 16:20] #13987 closed

[2021-09-24 17:01] Warchant commented on #6038
Adding
[code]

to .bazelrc solved problem of `no-*` propagation.

[2021-09-24 17:53] shahms commented on #10686
This issue is exacerbated by the aspects-on-aspects work (with `--experimental_required_aspects`) as now any of the transitive required aspects which provide a conflicting provider or named output group will cause a conflict.  This makes it really hard for an aspect to *robustly* aggregate information from a list of other aspects which must be applied first.  It becomes really easy for one of the

[2021-09-24 18:51] timsutton opened #14037 "Unable to locate Xcode 12.5.1 when building on macOS Monterey beta 7"
### Description of the problem / feature request:

As of macOS 12 Monterey beta 7, Bazel's xcode locator logic is not able to expose Xcode 12.5.1 as a usable version.

Apple does not officially support Xcode 12.5.1 on Monterey (this is new to beta 7, but is behaviour expected to stay).

Apple isn't supporting Xcode 12 on Monterey because debugging does not work - however, it seems still very capab

[2021-09-24 18:59] keith commented on #14037
Realistically I think the most viable potential path here is to figure out specifically what launch services is using to exclude Xcode 12.5.1 from the results, and change that in your Xcode installs. In the past I had this issue with newer versions of Xcode where changing the minimum system version to be lower made launch services discover it.

I think the second most viable approach, if you're wi

[2021-09-24 19:32] gregestren commented on #13886
Also added https://github.com/bazelbuild/examples/pull/219 to fill out the examples more clearly. If/when that PR lands I'll also add more "see examples" links to the docs.

[2021-09-24 19:47] lizan opened #14038 "per_object_debug_info does not work with Clang 12"
### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.
Install clang 12 and set CC=clang CXX=clang++
In https://github.com/bazelbuild/examples/tree/main/cpp-tutorial/stage3 run:
`bazel build --fission=yes --features=per_object_debug_info //main:hello-world.dwp`

Then the output is:
[code]

### What operating system are you running Bazel on?

[2021-09-24 20:13] gregestren commented on #7444
@achew22 I've added this to a sync discussion next week to try to get a more precise response.

I'm sorry about all the pinging and slow updates on this issue.

[2021-09-24 20:35] konste commented on #13998
@meteorcloudy thank you, things become more clear now! Let me ask a couple of questions and then I will summarize the knowledge for anybody finding this issue in the future.

Is there any value then in running header check when sandbox is available and enabled? If no then how can it be disabled or it is disabled automatically?

Regarding header folders. Those are collected from multiple sources. O

[2021-09-24 21:36] gregestren commented on #12888
Got it. https://github.com/bazelbuild/bazel/issues/12888#issuecomment-916740374 makes a lot of sense. As you stated it it sounds like a no-brainer. I'll continue discussion on https://github.com/bazelbuild/bazel/pull/13971/.

Re: no-op transitions specifically, would https://github.com/bazelbuild/bazel/commit/11f2540c20cf204d1410cfc724e0346a9fd6091c help? The intent was to make no-op transitions m

[2021-09-24 21:37] gregestren commented on #12888
@stefanbucur I'm especially interested in your feedback of my suggested workaround. If it works I'd close this issue and consider the issues @fmeum mentions as distinctly focused issues / PRs.

[2021-09-25 16:42] timsutton commented on #14037
@keith Yeah, both of these approaches you suggest seem sensible.

The minimum version constraint is interesting in this case (a minimum Xcode required rather than a minimum OS version), ie nothing I see inside the app bundle's plist that would somehow constrain the macOS version (and it is fine in b6). But maybe there are some keys that b7 is programmed to reject as being incompatible.

I will kee

[2021-09-25 18:49] fmeum commented on #12888
Unfortunately that shortcut doesn't help: It applies at a point where defaults have already been added to `fromOptions` since this is already done in `ConfigurationResolver`. I verified that I also get action conflicts. The problem seems to have little to do with what the transition does, only with its declared input and output build settings.

[2021-09-26 02:31] cushon commented on #13965
@meteorcloudy could you add JDK 17 to the Bazel mirror (similar to https://github.com/bazelbuild/bazel/pull/13274#issuecomment-811876591) ?

[2021-09-27 05:22] sne4ky commented on #8578
Why is this closed? I'm running bazel in a container and neither the `--action_env` flag nor prepending the env variables work for me when I do a `bazel run`.

[2021-09-27 06:51] rodentskie opened #14043 "Bazel query error with square braces"
### Description of the problem / feature request:

Currently I'm working with a monorepo and has a NextJS project inside it, and it uses square braces
for its dynamic url parameters. Like `web/pages/profile/[id]/index.tsx`. The problem is that bazel query returns
an error because of the square braces.

Here is the result:
[code]
### Bugs: what's the simplest, easiest way to reproduce this bug? Ple

[2021-09-27 07:36] teekoksiang opened #14044 "Use http_archive to download JFrog artifactory with basic authentication"
Documentation URL: https://docs.bazel.build/versions/main/repo/http.html

I notices `url` and `urls` attributes does not support authentication. Hence, `https://username:password@myartifactory.com/xxx.zip` will not work.

There is `auth_patterns` attribute. May I know how to use `auth_patterns` for basic authentication?
I have tried the auth_patterns below, doesn't seem to work.
[code]

I also not

[2021-09-27 08:59] meteorcloudy commented on #13998
I believe it is still enabled. However, I cannot think of a case where sandbox won't catch the error but header checking will.

The code is here:
https://cs.opensource.google/bazel/bazel/+/master:src/main/java/com/google/devtools/build/lib/rules/cpp/CppCompileAction.java;l=632

Looks like dirs specified in `cxx_builtin_include_directories` are always ignored no matter if the flag is on or off.

Ye

[2021-09-27 09:29] omxpro opened #14045 "Errors"
### Description of the problem / feature request:

Bazel installer
---------------

Bazel is bundled with software licensed under the GPLv2 with Classpath exception.
You can find the sources next to the installer on our release page:
   https://github.com/bazelbuild/bazel/releases

#

## Build information
   - [Commit](https://github.com/bazelbuild/bazel/commit/02ad3e3)
Uncompressing....../home/om

[2021-09-27 09:33] shiyalun opened #14046 "bazel3.7.2 compiles tensorflow2.6.0 error"
### When I used bazel3.7.2 to compile tensorflow2.6.0, error occurred:

### the following error occurred

   Traceback (most recent call last):
        File "/home/shiyalun/.cache/bazel/_bazel_shiyalun/899e6eb6dd5de290496a7205f1ef1b01/external/io_bazel_rules_go/go/private/sdk.bzl", line 51, column 16, in _go_download_sdk_impl
                _remote_sdk(ctx, [url.format(filename) for url in ctx.at

[2021-09-27 09:57] fweikert opened #14047 "Status of Bazel 5.0.0-pre.20210921.1"
- Expected release date: 2021-09-27

Task list:

- [x] Pick release baseline: [11f1a6d3](https://github.com/bazelbuild/bazel/commit/11f1a6d3ce529a63d4b7111c62ae504ceac2a019)
- [x] Create release candidate: https://releases.bazel.build/5.0.0/rolling/5.0.0-pre.20210921.1rc1/index.html
- [x] Post-submit: https://buildkite.com/bazel/bazel-bazel/builds?branch=release-5.0.0-pre.20210921.1rc1
- [x] Push

[2021-09-27 10:21] oquenchil commented on #14029
Thanks Keith.

[2021-09-27 10:21] #14029 closed

[2021-09-27 10:30] oquenchil commented on #14033
We can improve the documentation for [cc_binary](https://docs.bazel.build/versions/main/be/c-cpp.html#cc_binary_args) to clarify how to pass a path from a file dependency.

As for future issues I cannot really comment without knowing the actual issue. Anywhere where you think that the documentation needs improvement, please let us know.

Thanks.

[2021-09-27 10:35] oquenchil commented on #14024
Hi Abigail, I believe you meant to file this issue on a different repository so I will close it now. Let me know if I misunderstood the goal of the project and if there is anything we can do to help. Good luck.

[2021-09-27 10:35] #14024 closed

[2021-09-27 10:47] oquenchil commented on #14043
So that character should be allowed in a package name but it might require you to quote it, see [here](https://github.com/bazelbuild/bazel/blob/09c621e4cf5b968f4c6cdf905ab142d5961f9ddc/src/main/java/com/google/devtools/build/lib/cmdline/LabelValidator.java#L33).

Try quoting the file path and perhaps you have to add a backslash before each square bracket.

[2021-09-27 11:01] oquenchil commented on #14045
Sorry, I'm having trouble figuring out from the report what the issue you bumped into is. Would you mind editing it and delete everything that was part of the template for filing an issue that you haven't answered?

[2021-09-27 11:02] oquenchil commented on #14046
Please file an issue on the [Tensorflow repository](https://github.com/tensorflow/tensorflow)

[2021-09-27 11:04] #14046 closed

[2021-09-27 11:58] #14047 closed

[2021-09-27 12:05] omxpro commented on #14045
Done

[2021-09-27 12:05] omxpro commented on #14045
It's a error while trying to install bazel

[2021-09-27 13:37] daveb68 commented on #14033
I am just trying to make sure I have taken all reasonable steps to be proficient with the bazel tools and am able to efficiently solve any issue that one considered competent in the use of bazel to "design and create" build environments would be able to.  Not being able to solve that last issue on my own shook my confidence.  I am looking for guidance to understand if the shortcoming is my own and

[2021-09-27 14:32] Wyverald commented on #14013
I'll check with @coeuvre.

[2021-09-27 14:39] oquenchil commented on #14033
Here in particular I would have said that you showed way more proficiency than usual by going into the Bazel code-base itself and figuring it out. If there is a short-coming on our side about something not well documented, there isn't much more you can do.

In this case I don't know what exactly your thoughts were and for how long you stayed at each step. Maybe you thought that the label would be

[2021-09-27 14:55] joshua-cannon-techlabs commented on #13973
I just ran into this as well trying to do something similar for Python

[2021-09-27 15:30] joshua-cannon-techlabs commented on #10660
The dropbox Python rules also seem to do something similar for coverage support: https://github.com/dropbox/dbx_build_tools/blob/fe5c9e668a9e6951970c0595089742d8a0247b8c/build_tools/py/pytest_plugins/codecoverage.py

[2021-09-27 17:13] cushon commented on #13965
The Java 17 test is failing with the following known issue in Error Prone 2.6.0, this needs a `java_tools` release that includes the updated to Error Prone 2.9.0 (https://github.com/bazelbuild/bazel/commit/68e14b553e746655b71aaa59b766b659888f08b6). @comius is that something you can help with?

[code]

[2021-09-27 18:19] comius commented on #13965
@hvadehra is handling release in https://github.com/bazelbuild/java_tools/issues/51, there were some issues during the release, I didn't look into it yet, perhaps @cushon, you can help?

[2021-09-27 19:01] konste commented on #13998
The summary:

[2021-09-27 21:18] georgegiovanni commented on #5588
@janakdr, perhaps the required change to address this issue is complex, but maybe the priority in this case shouldn't be determined solely based on it's complexity. I understand decisions were made way back to simplify Google's remote execution system and avoid making copies of the same file locally with hard links, but isn't it a safer security practice to not make files executable if you don't h

[2021-09-27 21:35] #11584 closed

[2021-09-27 23:14] simon-swanson-leapyear opened #14052 "`--show_task_finish` does nothing"
### Description of the problem / feature request:

I'd like to enable [`--show_task_finish`](https://docs.bazel.build/versions/main/command-line-reference.html#flag--show_task_finish) for better output in CI runs, but the flag seems to do nothing at all. This seems like it might be related to this other issue here: https://github.com/bazelbuild/bazel/issues/12133, and when I search for `showTaskFi

[2021-09-28 02:31] dws opened #14053 "test_suite visibility not checked by `test` or `aquery` commands"
### Description of the problem / feature request:

`bazel cquery` of a `test_suite` target fails when the constituent tests have not explicitly declared their visibility to that target.
This is unexpected because `bazel test` of that same `test_suite` target will run the tests without any complaints about visibility.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide

[2021-09-28 02:36] dws commented on #14053
@juliexxia for vis

[2021-09-28 08:10] rodentskie commented on #14043
You mean like this?
`bazel query "web/pages/profile/\[id\]/index.tsx"`

I also tried this one:
`bazel query "web/pages/profile/[id]/index.tsx"`

Here are the results:

[code]

[code]

[2021-09-28 09:49] EitoWayve80 opened #14054 "Only get specific BEP events with -build_event_json_file"
### Description of the problem / feature request:

I want to get the uuid of the `BuildStarted` BEP event of a large CI build, so I am currently doing this by adding the `-build_event_json_file` flag to my runs and extracting the data from there, by reading the head of the built event json file and saving that. (`BuildStarted` is the first BEP event in the build event json).

However, a lot of the

[2021-09-28 09:59] meteorcloudy commented on #13998
`parse_showincludes` feature is only effective on Windows, because it relies on the `/showIncudles` option in MSVC. On other platforms, we use the dot d file to do header check, which is enabled by [`dependency_file`](https://github.com/bazelbuild/bazel/blob/master/tools/cpp/unix_cc_toolchain_config.bzl#L1027). And on Windows, we don't have sandbox support. So this is not a bug.

[2021-09-28 12:05] hvadehra commented on #13965
[java_tools v11.4](https://github.com/bazelbuild/java_tools/releases/tag/java_v11.4) has been released

[2021-09-28 13:05] daveb68 opened #14055 "Documentation issue: C toolchain configuration"
Documentation URL: https://docs.bazel.build/versions/main/cc-toolchain-config-reference.html

                actions = ["ACTION_NAMES.cpp_compile"],

As I understand it, none of these uses of ACTION_NAMES should be in quotes except in the load statement.

[2021-09-28 14:43] joeleba opened #14057 "[Experimental] Project Skymeld: Merging Analysis and Execution Phases of Skyframe"
### Description of the problem / feature request:

In a regular build, Bazel loads and analyzes the target patterns with Skyframe to form the ActionGraph, this is the Loading-and-Analysis phase. It then performs some extra-Skyframe setup before commencing executing the actions, or the Execution Phase.

**Our hypothesis**: by allow interleaving the loading/analysis and execution phases, we could _i

[2021-09-28 14:48] benjaminp commented on #14054
One way to do this would be to send `--build_event_json_file` output to pipe instead of a file and connect a program that retains only the desired events.

[2021-09-28 15:17] michajlo commented on #14052
This just came up for other reasons (looking into flag reduction). Looks like it hasn't worked in over two years, since https://github.com/bazelbuild/bazel/commit/3e9eec42f9523bd835d3185f98e5cacc431bb4bd at least. Might be best to just remove the flag...

[2021-09-28 16:39] cushon commented on #13965
With #13416 and `java_tools v11.4` I can build individual libraries that use Java 17 features.

Header compilation is still broken (https://github.com/bazelbuild/bazel/issues/13924), that's fixed in turbine at head (https://github.com/google/turbine/commit/ec67a6e2e67de35ba2fc52a419b6363432ce72a2). I'm waiting for another turbine change to land, and then I'll send an update for that.

[2021-09-28 18:52] simon-swanson-leapyear commented on #14052
I'd prefer no flag to a non-functional flag personally :)

If the flag is removed, is there any replacement for its functionality? I'd like to see the list of tests that were targeted at a minimum, and was hoping this flag would show me the information I wanted. This may be a question for the mailing list, but I'm trying to solve the case of the totally useless output:

[code]

[2021-09-28 19:11] gabe0912 commented on #10134
Has anyone solved or at least found a workaround? Feels like 2 years is plenty of time to get some sort of direction towards a resolution.

[2021-09-28 19:23] jwnimmer-tri commented on #10134
Per the current [4.2.1 docs](https://docs.bazel.build/versions/4.2.1/command-line-reference.html#flag--incompatible_use_cc_configure_from_rules_cc) and all of the discussions upthread, this flag is _not_ flipped by default

Quoting from above:

I suggest confirming (perhaps by running with `--announce_rc`) that you have not flipped `--incompatible_use_cc_configure_from_rules_cc=true` or `--all_inc

[2021-09-28 19:23] oquenchil commented on #10134
You can ignore this incompatible flag. I believe --all_incompatible_changes will also be removed. @aiuto weren't there plans to do that?

[2021-09-28 19:25] jwnimmer-tri commented on #10134
I think the problem is that users have broken their C++ compiler (such that bazel can't find it), and in that case they receive an error message with a hyperlink to this issue, so they assume this is where to find their salvation.  It's most likely just a red herring, though.

[2021-09-28 21:19] glukasiknuro commented on #7911
Below commit allows parallel execution of exclusive tests, given that instead of using `exclusive`, users are using `exclusive:X` tag, where X specifies some resource, like GPU:
  https://github.com/glukasiknuro/bazel/commit/cfc5be1e6e4d4e6da0e605748e14c2a1b137ef8c

I may try to merge it into main repo, although it's a little hacky way of achieving that instead of being able to specify that remote

[2021-09-28 21:40] #12888 closed

[2021-09-28 22:30] gregestren commented on #13464
We may be arguing for the same thing.

I can't remember where I mentioned this, but I'd like to prioritize a refactoring that computes `transitionDirectoryNameFragment` directly in `BuildConfiguration` (or in `CoreOptions` as you describe - it's the same concept). `transitionDirectoryNameFragment`  would therefore purely be a function of the current configuration's `BuildOptions` (it's current nat

[2021-09-29 01:41] xytan0056 opened #14058 "force refetch http_archive rule"
### Description of the problem / feature request:

any invalidation of the fingerprint or folder in `$(bazel info output_base)/external` should auto invalidate cache and make fetch to redownload.

### Feature requests: what underlying problem are you trying to solve with this feature?

Despite of solution mentioned here #974 and [here](https://bazel.build/designs/2016/10/18/repository-invalidation