[2017-12-31 22:14] jschaf commented on #4371
Oh, thank you.  So, the reason the `//` reference wouldn't work is because bazel is executing it in another workspace.  Is that right?

[2017-12-31 22:14] #4371 closed

[2017-12-31 22:29] edbaunton commented on #4371
I think if you want to use a label like that you need to use `//:okio_build.bzl`.

There is a good rundown of the syntax at `bazel help target-syntax`

[2018-01-02 06:53] laszlocsomor commented on #3025
@buchgr -- I'll close this bug for now. Please reopen if you see it again!

[2018-01-02 06:53] #3025 closed

[2018-01-02 07:30] laszlocsomor commented on #1787
@sulthonzh : Can you provide repro instructions or a minimal repro project?

[2018-01-02 07:40] nimerritt commented on #1025
Any updates on this? I'm trying to generate API clients for various languages from a single Swagger spec and don't know ahead of time which files will be generated.

[2018-01-02 07:43] laszlocsomor commented on #4280
@flaub --

The user would still have to deal with the difference that Bazel generates a symlink tree on Linux, and a manifest file on Windows.

Yes, for Python, Bash, Java, and C++.

As I said, Bazel's behavior is different on Linux and Windows. I see no point in setting this envvar on Windows. WDYT?

[2018-01-02 08:01] laszlocsomor commented on #4317
Thank you for figuring that out!
Now, I didn't know about this limitation. It may have to do with how "bazel run" creates a process for the executable. @meteorcloudy : Do you know more about this?

[2018-01-02 08:27] laszlocsomor opened #4373 "CI, bazel-tests: //src/test/shell/bazel:srcs_test fails"
Culprit: https://github.com/bazelbuild/bazel/commit/46356dfa59428b665aa280ba4cbca6e449f73c5b

[code]

[2018-01-02 08:35] flaub commented on #4280
I've attempted to write such an `rlocation` function in python and found that if there was a consistent environment, writing that function would be a lot easier. My goal is to actually always use the manifest file on every platform to resolve paths to their original locations so that `rlocation` works consistently everywhere.  Another very useful env var would be something equivalent to `TEST_SRCD

[2018-01-02 08:57] laszlocsomor commented on #4373
/cc @c-parsons @cvcal

[2018-01-02 09:37] wush978 opened #4374 "compile bazel on centos6 successful but trigger /lib64/libc.so.6: version `GLIBC_2.14' not found"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:

The compiled bazel executable yields the following errors:

[code]

### If possible, provide a minimal example to reproduce the problem:

[code]

### Environment info

* Operating System: Centos 6
* Bazel v

[2018-01-02 09:44] laszlocsomor commented on #4280
I don't see how it would be a lot easier, because on Linux `rlocation` is simply `echo $RUNFILES/$1` (in case of Bash scripts, for example). Do you mean something else?

I like that idea. I'm not aware of any reason why a symlink tree would be better than using a manifest file, if one already has to use `rlocation` because of Windows. Migrating existing binaries and tests would be practical / econ

[2018-01-02 09:45] laszlocsomor commented on #4280
I meant one-time enabling in some settings menu (or maybe it is indeed registry editing; I didn't check).

[2018-01-02 10:25] laszlocsomor opened #4375 "Windows, testing: //src/test/java/com/google/devtools/build/lib/analysis/skylark/annotations/processor:SkylarkConfigurationFieldProcessorTest fails"
https://github.com/bazelbuild/bazel/commit/46356dfa59428b665aa280ba4cbca6e449f73c5b added a new test that's failing on Windows at HEAD (2ef5d2170e0558468b0c0e989b910fbb52e95368):

[code]

[2018-01-02 10:36] laszlocsomor commented on #4375
/cc @cvcal @c-parsons

[2018-01-02 10:48] laszlocsomor opened #4376 "Temp directories: respect TMPDIR/TEMP/TMP for local actions"
## Request

Respect the user's TMPDIR envvar (or TMP and TEMP on Windows) if set, fall back on `/tmp` on Linux/macOS and to temp-in-execroot on Windows.

## Summary

Unexpected effect of https://github.com/bazelbuild/bazel/commit/cfccdf1f6e93125d894ff40e0ccecaf20cc20ef5 was that it breaks socket creation because the paths are longer than 106 characters.

From https://bugs.debian.org/cgi-bin/bugrep

[2018-01-02 10:58] meteorcloudy commented on #4317
We are using the jni function to create process for bazel run:
https://github.com/bazelbuild/bazel/blob/3651c90c72e4cf57dd2b26600ea825064f720fdb/src/main/native/windows/processes-jni.cc#L217-L232
But I'm not sure why it's causing the problem, maybe the CREATE_NO_WINDOW flag?

[2018-01-02 13:28] meteorcloudy commented on #4369
@mboes cc_import does has CcSkylarkApiProvider, but the actual implementation of cc_import is not included in 0.9.0
https://github.com/bazelbuild/bazel/commit/40bc935f033412f8564c57a2bd7ec99f493538c3#diff-f636451e668d549f65db71c2d7ec923fR161

It'll be available from 0.10.0

[2018-01-02 13:29] #4369 closed

[2018-01-02 13:32] mhlopko opened #4377 "Update freebsd port to 0.9.0 to fix bazel nightly"
Since https://github.com/bazelbuild/bazel/commit/caceacd984a3f86b623ea726f4df36bd81998d25 bazel nightly on freebsd has been failing as "configuration_field" is not available in bazel 0.7.0. Now that configuration_field is available on bazel 0.9.0 now, can we update bazel version in freebsd? Or change freebsd ci scripts to use latest released bazel + bazel from HEAD like we do on other distribution

[2018-01-02 15:09] katre commented on #4372
What is the problem you are seeing? The `--extra_toolchains` flag (the older experimental version should still be recognized but is deprecated) does not override toolchain selection, it simply adds new toolchains that are available. If the execution and target constraints on the extra toolchains do not match the execution and target platforms in the build, the extra toolchains won't be used. (The

[2018-01-02 16:29] meteorcloudy opened #4378 "Windows: Error: corrupt installation"
I noticed this error in many places, my local machine, [Bazel CI](https://ci.bazel.io/blue/organizations/jenkins/bazel-tests/detail/bazel-tests/1606/pipeline), [Tensorflow CI](http://ci.tensorflow.org/job/tf-master-win-bzl/2189/console),
[code]

The interesting part is that, it happens with every old Bazel versions **in the new year**!

The file timestamps are all set to `Jan  1  2027`.
[code]

@l

[2018-01-02 16:55] mhlopko commented on #4373
Closing since the ci is green after the rollback.

[2018-01-02 16:55] #4373 closed

[2018-01-02 17:04] mhlopko commented on #4353
Assigning to Laszlo, he will know how to obtain more debug information :)

[2018-01-02 17:10] mhlopko commented on #4169
Hi @MYasin93, did you manage to get some more debug info?

[2018-01-02 17:17] mhlopko commented on #4298
Fixed by https://github.com/bazelbuild/bazel/commit/6220c72b27261fc70e63f635a86b528688cd3016. Thanks for reporting!

[2018-01-02 17:17] #4298 closed

[2018-01-02 17:20] mhlopko commented on #4270
I guess it helped (since I don't see such failures on the ci anymore). Can I close this issue now?

[2018-01-02 17:58] werkt commented on #3494
We have disabled the SandboxModule locally to combat this. I have tried augmenting this mount enumeration code to find points matching a particular filesystem type or prefix and switching those to be remounted (since private unmount doesn't seem to be a thing, and likely would exhibit the hang anyway) as a read-only empty tmpfs, similar to the extra mount point locations specified as options.

I s

[2018-01-02 18:02] buchgr commented on #4347
@gongwei

Hey! I don't have experience with BuildFarm, so I can't comment on that. I know of people using Hazelcast and they are happy with it. I am also personally using https://github.com/buchgr/bazel-remote and I know others who do too. So both of them should work.

I personally would recommend using Google Cloud Storage (GCS) as a caching backend, because it's fully managed and scales automati

[2018-01-02 18:06] or-shachar commented on #4372
@katre - thanks for clarification! Maybe it's worth to add this also to [bazel command line reference](https://docs.bazel.build/versions/master/command-line-reference.html).

Still - I don't understand where have I mistaken. I get this:
[code]
The command I'm running is:
[code]

Please kindly take a look at travis logs here https://travis-ci.org/bazelbuild/rules_scala/jobs/323554656

[2018-01-02 18:14] katre commented on #4372
Okay, this is my fault, and I definitely need to go check the documentation and update it. Checking the history, there was never a flag named `--experimental_extra_toolchains`, it has always been `--extra_toolchains`. I don't have access to the repository you're testing, but checking out the https://github.com/bazelbuild/rules_scala/pull/364 PR I can run this command successfully:

[code]

Try usi

[2018-01-02 18:35] katre commented on #4372
Sending https://bazel-review.googlesource.com/c/bazel/+/30310 for review to update the docs.

[2018-01-02 19:10] photex commented on #4068
Seeing as ndk16 is apparently what you'll be getting with a fresh android sdk install and using the sdkmanager to install `ndk-bundle` it would be great to have this resolved sooner, or perhaps more information about the issue in the getting started docs. :D

[2018-01-02 21:14] davidstanke commented on #4314
+1 - I just got this issue ("Xcode version must be specified to use an Apple CROSSTOOL") on macOS 10.12.6 Sierra, using Bazel 0.9.0 installed via Homebrew. It was fixed via `bazel clean --expunge`. (For the record, I'm building a very simple Java app, with a single local_repository external dep.)

[2018-01-02 23:34] wyan-nestlabs commented on #4378
We ran into the same problem in all our own windows builder machines. Removing C:\tmp/_bazel_pcloudy/install/* fixed it. But it is not addressing the reason for the failure.

[2018-01-03 05:58] novabyte commented on #964
@damienmg Any plans to see the default `--workspace_status_command` to be `tools/buildstamp/get_workspace_status` and bundle that script with Bazel?

[2018-01-03 07:13] damienmg commented on #964
@novabyte: I am no longer working on Bazel so I cannot answer your question.

[2018-01-03 07:31] laszlocsomor commented on #4378
@meteorcloudy : This is Windows only, right? Then it's likely a bug in this class: https://github.com/bazelbuild/bazel/blob/master/src/main/cpp/util/file_windows.cc#L156 . Yesterday was Jan 2, did you see this yesterday too, or only on Jan 1, or with Bazel installations from last year?

[2018-01-03 07:34] laszlocsomor commented on #4270
Sure. Thanks for checking!

[2018-01-03 07:34] #4270 closed

[2018-01-03 07:38] laszlocsomor commented on #4353
@susiwen8 : Is there more information, like an error code? I've seen similar errors when the `PATH` environment variable was set up incorrectly.

Try this workaround:

1. open `cmd.exe`
2. call `set PATH=c:\tools\msys64\bin;c:\tools\msys64\usr\bin;c:\python27;c:\windows\system32`

  Adjust the paths as needed for your platform.

3. Try running Bazel from this command prompt.

[2018-01-03 08:04] or-shachar commented on #4372
Thanks @katre !

[2018-01-03 08:44] meteorcloudy commented on #4378
I saw it on Jan 2 and also today Jan 3, and yes, with every bazel installations from last year.

[2018-01-03 08:47] meteorcloudy commented on #4367
@gimo You can use `-DEFAULTLIB:ws2_32.lib`

[2018-01-03 08:47] #4367 closed

[2018-01-03 08:54] laszlocsomor commented on #4378
Yeah the code looks really suspicious. Let me take a closer look.

[2018-01-03 08:54] meteorcloudy commented on #4378
@mhlopko To fix the Windows CI build, we'll have to delete the installation directories.

[2018-01-03 08:55] meteorcloudy commented on #4378
@laszlocsomor Thanks!

[2018-01-03 09:07] DavidBrayford opened #4379 "bazel build build: command not found"
When trying to build TensorFlow I get an error from bazel not finding the command build with the following command:

bazel build --config=mkl -c opt //tensorflow/tools/pip_package:build_pip_package
build: command not found

Any suggestions on what might be causing this issue?

David

[2018-01-03 09:11] laszlocsomor commented on #4378
One workaround is to delete the install directory (dirname of "A-server.jar" in the error message).
Another workaround is to run `touch -m -t 202801010101 $(find path/to/install/dir -type f)`.

[2018-01-03 10:44] laszlocsomor commented on #4378
Another workaround: rename the install directory.
This is the easiest approach. It's useful if deleting fails due to long file names. (Delete those directories from MSYS or using Total Commander.)

[2018-01-03 12:04] mhlopko commented on #4374
Which version of centos6? We have a ci job testing for centos 6.7 (https://source.bazel.build/bazel/+/master:src/test/docker/Dockerfile.centos6.7?q=centos) and it's green. I'd assume it's the problem with your configuration, maybe wrong glibc is detected because of linuxbrew. Which gcc version do you use? It would help me greatly if you could isolate the problem more (to the level of "this step in

[2018-01-03 12:07] mhlopko commented on #4370
We are currently working on a C++ sandwich. CcSkylarkApiProvider will very likely be replaced by some other thing and we'll also include corresponding cc_common functionality. We will provide a design doc for public review in Q1. Assigning to Pedro since he leads this effort.

[2018-01-03 12:11] wush978 commented on #4374
Hi @mhlopko , thanks for your reply.

We're using gcc-5.4.0 which is installed via linuxbrew.
The docker image above is based on centos-release-6-9.el6.12.3.x86_64.

Because I am new to bazel, is there any guide for understanding cc_configure.bzl?

[2018-01-03 12:15] mhlopko commented on #4365
I'm bazel sheriff this week and I'm going for 3 weeks long vacation on Friday, so I cannot promise I'll have this investigated and fixed :(

The error is a result of dependency file validation. C compiler gave us a .d file with headers that were not reported in cxx_builtin_include_directory fields in the CROSSTOOL and is complaining that the target didn't declare all its inputs.

In autoconfigurat

[2018-01-03 12:21] mhlopko commented on #4357
:)

TF people are investigating the issue, and unfortunately I don't have a bandwidth to help at this stage of investigation. Please open an issue if you discover that it's a bazel problem and please follow the issue template to provide more information that will speed up fixing it. Thanks!

[2018-01-03 12:21] #4357 closed

[2018-01-03 12:44] mhlopko commented on #4362
Ideally the sanitizers would have their own separate toolchains in CROSSTOOL and you'll switch to it using `--cpu` and `--compiler` bazel options.

Since you're using llvm toolchain provided by the tensorflow, I'd advice you to report an issue with them, there's not much we could do other than updating their crosstool. I think :)

[2018-01-03 12:44] #4362 closed

[2018-01-03 12:46] mhlopko commented on #4342
I'd advice you to ask this question on bazel-discuss, we try to keep github issues only for bugs and feature requests. Thank you for your understanding.

[2018-01-03 12:49] mhlopko commented on #4341
Can you isolate the difference between your make and bazel link invocation? You can execute bazel with `--subcommands` to emit all command lines. You can then compare which options are different between your make build and bazel build.

[2018-01-03 12:53] mhlopko commented on #4339
Nice catch. But since there's a workaround (to rename the BUILD.bazel to BUILD) and toolchain selection will be rewritten in 2018, only assigning P3.
Thanks!

[2018-01-03 12:58] laszlocsomor commented on #4379
Sorry but I'm going to close this, it's a question not a bug report.
Please ask usability questions on StackOverflow: https://stackoverflow.com/questions/tagged/bazel
Thanks!

[2018-01-03 13:00] laszlocsomor commented on #4379
Ah, I just noticed the bug template still says this may be a question.  Let me update the template. :)

As for the issue, you may have to run `./configure` from the TF directory.
What OS are you using and what's the output of "bazel version"?

[2018-01-03 13:07] mhlopko commented on #4379
If what Laszlo suggests doesn't help, what version of bazel do you have installed? What is your OS?

[2018-01-03 13:17] DavidBrayford commented on #4379
I am using version 0.7.0 on SLES12

[2018-01-03 13:30] rish321 commented on #4357
Sure, if they are investigating, its fine. I thought that because python scripts are working fine, it would be a bazel issue.

[2018-01-03 14:26] #4375 closed

[2018-01-03 15:06] mhlopko commented on #4232
Closing since it seems this is all resolved. Rules_go and bazel-watcher are green, 0.9.0 is released. Thank you all for working on this!

[2018-01-03 15:06] #4232 closed

[2018-01-03 15:46] mhlopko commented on #4289
Friendly ping, is there anything we can do to speed up things from the bazel side?

[2018-01-03 15:49] mhlopko commented on #4290
This is a dup of #2822, bazel.bazelrc imports at-that-time non existing .tf_configure.bazelrc. Closing this instance.

[2018-01-03 15:49] #4290 closed

[2018-01-03 15:55] chrisolston commented on #4289
Unfortunately it looks like the tf-core last green is still from Dec 7 -- http://ci.tensorflow.org/view/Nightly/job/nightly-matrix-cpu/TF_BUILD_IS_OPT=OPT,TF_BUILD_IS_PIP=NO_PIP,TF_BUILD_PYTHON_VERSION=PYTHON2,label=cpu-slave/734/

Hopefully good things will happen now that the holiday slowdown has passed.

[2018-01-03 15:58] mhlopko commented on #4379
Can you run `bazel version`?

[2018-01-03 16:03] mhlopko commented on #4311
Can you test if this still happens with 0.9.0? Summoning heroes @philwo @laszlocsomor, do you have ideas? :)

[2018-01-03 16:11] philwo commented on #4311
That sounds pretty bad, unfortunately I'm not sure how to debug it, if it happens on an automated machine somewhere inside a Docker container (which sounds like "hard to SSH into and poke around") and when Bazel doesn't log anything useful.

Pinging @lberki just in case, as he knows the C++ client quite well.

[2018-01-03 16:17] DavidBrayford commented on #4379
I can successfully execute bazel version, but not bazel build

[2018-01-03 16:27] excavador commented on #753
[code]

Sometime bazel server insert incorrect PATH
[code]

"bazel clean" does not help, "bazel clean --expunge" helps.
Probably, bazel shutdown will help.

[2018-01-03 16:30] mhlopko commented on #4379
This is super weird. Can you reinstall bazel? 0.9.0 is the latest released version.

[2018-01-03 16:30] excavador opened #4380 "bazel test ignores tags=["manual"]"
### Description of the problem / feature request / question:

bazel test ignores ```tags = ["manual"]``` on test rule

### If possible, provide a minimal example to reproduce the problem:

### Environment info
* Operating System: maxOS High Sierra 10.13.2

* Bazel version (output of `bazel info release`):
[code]

[2018-01-03 16:42] benjaminp commented on #4177
Thanks for merging. I suppose we may close this now?

[2018-01-03 16:47] benjaminp commented on #4380
Could you be more specific about what you're expecting to happen? As documented in https://docs.bazel.build/versions/master/user-manual.html#target-patterns, `manual` causes tests to be ignored in target expansions but not if they're explicitly listed on the command line.

[2018-01-03 17:22] #4372 closed

[2018-01-03 18:07] excavador commented on #4380
I am sorry.

I meant,
[code]
executes test, marked as "manual".

If it is important, it is my own rule, implemented in skylark
[code]

I use it in my BUILD file in following way
[code]

command
[code]
run this test

[2018-01-03 18:08] excavador commented on #4380
I am sorry.
Just found the problem in macros.

[2018-01-03 18:08] #4380 closed

[2018-01-03 18:17] vmax opened #4381 "Android: support font in XML"
### Description of the problem / feature request / question:

Bazel does not support newly-added Android feature [Fonts in XML](https://developer.android.com/guide/topics/ui/look-and-feel/fonts-in-xml.html)

### Environment info
* Operating System:
macOS 10.13.2

* Bazel version (output of `bazel info release`):
release 0.9.0-homebrew

### Log
[code]

[2018-01-03 18:17] vjpai commented on #4341
Hi there! Thanks for the response. Here's an example command from make that actually builds the relevant `.o`; note that generating the `.a` is just a matter of `libtool` in that case:

[code]

Here's the result of finding the version from the `c++` command:

[code]

And here's what I get from bazel in building the object file (which is fine):

[code]

And then what I get from bazel in actually do

[2018-01-03 18:37] dkelmer commented on #4381
The android_common jars need to be updated for this to work. I'll take a look.

[2018-01-03 19:12] tagarwal opened #4382 "ctx.action.expand_template not executing"
[charts.zip](https://github.com/bazelbuild/bazel/files/1601412/charts.zip)
In writing a rule, have a call to ctx.actions.run_shell, but the commands inside it are never executed

### If possible, provide a minimal example to reproduce the problem:
`_VERSION = "0.0.1"
def _chgver(ctx):
  for f in ctx.files.srcs:
    output_file = ctx.actions.declare_file(f.path.replace('/charts','/tmp/charts'))

[2018-01-03 20:18] sharvil opened #4383 "Package runfiles along with C++ binaries in pkg_* rules"
### Description of the problem / feature request / question:

(https://groups.google.com/forum/#!topic/bazel-discuss/5r_Ajw_j-ZI for context)

The current pkg_* rules don't package runfiles along with C++ binaries. This behavior makes it difficult to deploy an entire C++ application to machines that don't have source access.

Can we update the packaging rules to include runfiles along with binarie

[2018-01-03 20:22] Fuuzetsu opened #4384 "Bazel crashes with NPE when trying to access transitive_compile_time_jars of some java_binary dependency"
### Description of the problem / feature request / question:

We're writing bazel rules and one of the things we'd like to do is obtain information about Java dependencies, notably `dep[JavaInfo].transitive_compile_time_jars`. Sadly when I try to with what's a rather simple dependency, bazel throws NullPointerException and crashes.

As far as I remember, a couple of other fields in the same provid

[2018-01-03 20:23] #4346 closed

[2018-01-03 20:44] vladmos commented on #4346
I've removed all usages of + on dicts I could find manually. I'll test whether Bazel works with --all_incompatible_changes tomorrow and will fix the rest if anything is missing. Feel free to reopen the issue if you find anything.

[2018-01-03 20:57] ahumesky commented on #4382
The outputs of the template actions need to be added to the default outputs of the rule.
See https://docs.bazel.build/versions/master/skylark/rules.html#default-outputs

Something like this should work:

[code]

Note also that you don't necessarily need to create a new skylark rule for this. It's possible to use a `genrule`, though that requires some bash or some other program to do the substituti

[2018-01-03 20:58] #4382 closed

[2018-01-03 22:27] tagarwal commented on #4382
Thank you Alex, I was under the impression, ctx.actions.expandTemplate would generate the Default Provider to return, But your suggestion works. We wanted to write the skylark rule to make it platform independent (we started with genrule though)

[2018-01-03 23:28] alexeagle opened #4385 "@wkspc shorthand label syntax works as a dependency but not on command line"
Bazel 0.8.1
The current treatment of a label expressed as just `@wkspc` is inconsistent.

I can have `deps=["@rxjs"]` as a shorthand for `deps=["@rxjs//:rxjs"]`

But if I `bazel build @rxjs` I get
[code]

and if I try to abbreviate `bazel run @yarn//:yarn` as `bazel run @yarn` I get `ERROR: No targets found to run`

Reproduction in this repo:
https://github.com/alexeagle/angular-bazel-example

[2018-01-03 23:43] EricBurnett opened #4386 "bazel hits a NullPointerException when --auth_credentials is passed a non-existent file"
### Description of the problem / feature request / question:
When running a build with --auth_credentials provided, but the referenced file not present, bazel hits a NullPointerException then spends about 70s waiting for its server to die. This should be handled more gracefully.

### If possible, provide a minimal example to reproduce the problem:
add `--auth_credentials=blah` to an otherwise reas

[2018-01-04 02:20] vjpai commented on #4341
We've had some further discussion about this in grpc/grpc#13856. I can make this work by using thread-local variables based on `pthread_key` functions rather than using the `__thread` declaration. This seems like what we would expect from a versioning issue. Is there a way to tell what version of clang is being used with bazel or any other versioning info that would help here?

[2018-01-04 03:54] rongjiecomputer commented on #4378
I hit this bug in my local Windows 10 machine as well on Jan 3. Some Bazel files have the "01/01/202**8**" timestamp.

Reinstalling Bazel fixes the issue, but new Bazel files still have the timestamp of 01/01/2028. See screenshots.

![capture](https://user-images.githubusercontent.com/13115060/34549727-ec3c18f8-f145-11e7-9c33-78dc37be4d38.JPG)

[2018-01-04 04:55] gimo opened #4387 "linkopts / cxxopts / defines specific to static or shared libraries"
It would be nice to pass different linkopts/cxxopts/defines to the compiler depending on whether or not the library is being compiled as static or shared. I presume this problem hasn't shown up until now because linux handling of shared libraries doesn't usually require any specific code changes. However this functionality is needed to properly support windows where it is common to pass a compile

[2018-01-04 04:55] gunan commented on #4365
A user with CentOS just reported this output from the command in the unix_cc_configure:
[code]

The headers that are complained about are in:
[code]
Which should be covered by the 4th folder in the output.
Maybe these are issues with our GPU crosstool. I will check if I can build tf on centos using docker.

[2018-01-04 05:27] gunan commented on #4365
It is possible our GPU crosstool is the culprit here. I tried to reproduce this on CPU builds, and things seem to work OK for me for CPU builds.
Is there an easy way for me to reuse `get_escaped_cxx_inc_directories` rule in our GPU crosstool, or the bzl files around it? Or do you recommend I just copy the routine in our bzl files?

[2018-01-04 07:01] laszlocsomor commented on #4378
That is working as intended.

When you install Bazel, Bazel unpacks embedded binaries and sets their timestamp to Jan 1, 10+$current_year. It's 2018 now, so the timestamps are 2028/01/01.

[2018-01-04 07:15] gunan commented on #4365
Digging deeper, I was not able to reproduce the problem with the latest bazel versions. I will close this issue for now.

[2018-01-04 07:15] #4365 closed

[2018-01-04 08:12] laszlocsomor commented on #4177
Yup. Thanks for pushing through!

[2018-01-04 08:12] #4177 closed

[2018-01-04 08:21] laszlocsomor commented on #4311
@ixdy , @davidsmd : As for debugging, can you add `--client_debug` as a startup flag? (Between `bazel` and `build`.) Is there more useful output that way?

[2018-01-04 08:43] laszlocsomor commented on #4291
@dslomov owns repositories now.

[2018-01-04 08:45] laszlocsomor opened #4388 "bazel query: query for effective values of attributes"
### Description of the problem / feature request:

Feature request: bazel query operating on the effective values of attributes, e.g. querying the visibility of a target if it uses the package-default visibility.

Example -- the query should return fg1 and fg2, but it only returns fg1:

[code]

### Feature requests: what underlying problem are you trying to solve with this feature?

https://stacko

[2018-01-04 08:51] DavidBrayford commented on #4379
Thanks updating to version 0.9.0 fixed the problem.

[2018-01-04 08:53] laszlocsomor commented on #4379
Thanks!

[2018-01-04 08:53] #4379 closed

[2018-01-04 09:30] mhlopko commented on #4341
For osx-with-xcode toolchain it's a little bit complicated, you have to take a look into generated external/local_config_cc/cc_wrapper.sh file, you'll see the compiler invocation there.

[2018-01-04 09:32] mhlopko commented on #4383
cc @lberki @ventrescadeatun
Lukacs do you know if this is by design? It looks broken to me. To me pkg_tar should tar everything that's needed to execute the cc_binary, am I wrong? :)

[2018-01-04 10:20] freme commented on #3857
Is there any update on this? We are seeing this issue in CI quite often these days, most of the time with the .bazelrc or the .git folder. Would be really helpful to know what is causing this (might very well be our CI setup ...)

[2018-01-04 13:11] ilya-biryukov commented on #4365
Tensorflow does not use bazel's autoconfigure to produce the crosstool, using this script instead:
https://github.com/tensorflow/tensorflow/blob/master/third_party/gpus/cuda_configure.bzl
I've hit similar issues before, will try to follow-up on the tensorflow issue.

[2018-01-04 13:14] iirina commented on #4349
I think you should be able to write a `java_plugin` for that. @cushon knows more about plugins

[2018-01-04 16:13] vjpai commented on #4341
Hmm, found that and it's just an invocation of `/usr/bin/clang` which is the same as my standard `c++`

[code]

[2018-01-04 17:07] nclinger commented on #4342
Well, let me change this to a feature request then since I haven't seen anybody else request this yet. :)

[2018-01-04 19:00] vjpai commented on #4341
I have a workaround, if that helps. We have been using thread-local for quite a while in gRPC (using our own portable macros that effectively expand to `__thread` on Mac) but this was our first use of that in a header file. grpc/grpc#13916 removes the use of that in a header file and keeps it exclusively in the matching source file, and bazel builds with that just fine on Mac.

We can use this wor

[2018-01-04 19:11] cushon commented on #4349
Yeah, this is possible with `java_plugin`. `com.sun.source.util.Plugin`s need to be on the processor class path (which `java_plugin` takes care of) and available for service-loading (which I recommend https://github.com/google/auto/tree/master/service for), and then they can be enabed with `-Xplugin` javacopts.

Demo: https://gist.github.com/cushon/53857e654f8bb1cd126074368aeb4c71

[code]

[2018-01-04 22:13] excavador commented on #753
can you reopen issue?

[2018-01-04 22:13] excavador commented on #2867
[code]

Sometime bazel server insert incorrect PATH
[code]

"bazel clean" does not help, "bazel clean --expunge" helps.
Probably, bazel shutdown will help.

[2018-01-04 22:14] excavador commented on #2867
#753

[2018-01-05 15:27] werkt opened #4389 "bazel_test_test invalid undeclared output test"
### Description of the problem / feature request:

`test_no_zip_annotation_manifest_when_no_undeclared_outputs` in `src/test/shell/bazel/bazel_test_test.sh` has a check for the existence of the values of `TEST_UNDECLARED_OUTPUTS_DIR` and `TEST_UNDECLARED_OUTPUTS_ANNOTATIONS_DIR`, but the associated change to add this test only ensures that the undeclared outputs MANIFEST is removed if there are no

[2018-01-05 16:13] agoulti opened #4390 "Bazel installer failed to produce bazel binary"
### Description of the problem / feature request:

Bazel installer failed to produce bazel binary

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

The same script usually works, but at some point it failed for unknown reason.

On 2018/01/05 around 00:37 EST, we obtained a nightly bazel release as follows:

`curl --compressed -L https

[2018-01-05 19:26] jayconrod opened #4391 "Documentation: local_repository accepts both absolute and relative paths"
https://docs.bazel.build/versions/master/be/workspace.html#local_repository.path

This is not required to be an absolute path anymore.

cc @katre

[2018-01-05 19:31] katre commented on #4391
Thanks!

[2018-01-05 20:54] #4391 closed

[2018-01-06 02:11] cushon opened #4393 "'Prepare processor classpath masking for Java 9' breaks lombok"
### Description of the problem / feature request:

618f9816de7366dc01bca7f39a4622dbbd53fb75 (Prepare processor classpath masking for Java 9) caused a regression with lombok and header compilation actions.

Originally reported here: https://groups.google.com/d/topic/bazel-dev/buNVWN5bDeY/discussion

### Feature requests: what underlying problem are you trying to solve with this feature?

The annota

[2018-01-06 22:06] cushon commented on #4393
The issue was that lombok special-cases the filemanager implementation, and 618f981 caused turbine to use a different filemanager. I submitted a fix to lombok: rzwitserloot/lombok#1550

[2018-01-06 22:06] #4393 closed

[2018-01-07 06:50] plinnell opened #4394 "potential overlfow in 0.9.0"
openSUSE has OBS, which has a lightweight overflow checker it fails the build with the following log:

[  585s] ... running 02-check-gcc-output
[  585s] ... testing for serious compiler warnings
[  585s]     (using /usr/lib/build/checks-data/check_gcc_output)
[  585s]     (using //.build.log)
[  586s]
[  586s] I: A function overflows or underflows an array access. This could be a real error,
[  58

[2018-01-07 06:56] plinnell commented on #4195
Related: https://github.com/bazelbuild/bazel/issues/4394

[2018-01-07 13:59] excavador commented on #1462
So, problem is actual to me.

I am writing repository with rules for python (with virtualenv support)
I am writing the tool which generate BUILD-files (like gazelle).

In my rules I am generating the executable shell script, which make
- source virtualenv (dependency)
- execute python script.

If I generate script using "virtualenv.short_path" and "python_file.short_path" every rule from repositor

[2018-01-07 19:11] brunobowden opened #4395 "remote_rest_cache inaccessible error message is unclear"
### Description of the problem / feature request:

An inaccessible `remote_rest_cache` for a build will produce unclear errors that doesn't clearly explain the cause (i.e. remote rest cache couldn't be contacted):

`C++ compilation of rule '//xxxx:status' failed (Exit 34). Note: Remote connection/protocol failed with: execution failed`

### Improved Error Message
Ideally bazel would identify a hig

[2018-01-07 23:03] raliste commented on #1118
Any updates? Doing lots of python and go tests, would be nice to get them covered with Bazel.

[2018-01-08 07:50] aehlig commented on #4377
The FreeBSD port is already at version 0.9.0, see https://svnweb.freebsd.org/ports?view=revision&revision=456716

Will reimage the machines to get a clean latest version later today.

[2018-01-08 08:02] mboes commented on #1656
I think I'm running into the same problem. I can get a list of transitive static lib dependencies, but not a list of transitive dynamic lib dependencies. With the following dependency structure,

[code]

I can see `libB.so` in the outputs of libB, and `libC.a` in the `libs` field of the `CcSkylarkApiProvider` for libB, but not `libC.so`. Any solution to that?

[2018-01-08 09:45] lberki commented on #4383
Yep, this is by design.

We internally have a `pkg_runfiles` rule that packages the runfiles of a binary, which should simply be open sourced.

[2018-01-08 10:57] #4377 closed

[2018-01-08 11:39] dslomov commented on #3959
@katre - assigning to you for Feb 1. Please lmk if that does not work.

[2018-01-08 11:52] RNabel opened #4396 "Side-by-side support of different bazel versions"
### Description of the problem / feature request:

Support for multiple versions installed side-by-side by default. Maybe a built in way to switch between them. My apologies if this belongs in the `discussion starter` category.

### Feature requests: what underlying problem are you trying to solve with this feature?

Concurrent work on multiple projects using different versions of bazel. See [this

[2018-01-08 12:01] iirina opened #4397 "Bazel nightly fails due to Jenkins error"
The most recent Bazel nightly: [181](https://ci.bazel.build/view/Dashboard/job/bazel/job/nightly/181/console) ([blue ocean](https://ci.bazel.build/blue/organizations/jenkins/bazel%2Fnightly/detail/nightly/181/pipeline))

Sample error output:

`remote file operation failed: c:\jenkins\workspace\bazel\nightly\output at hudson.remoting.Channel@60136487:JNLP4-connect connection from windows-slave-2.c.

[2018-01-08 12:08] lberki commented on #4311
In addition to `--client_debug`, trying `--batch` might yield more information. Then the JVM is `exec()`ed instead of trying to daemonize it, so it's one less layer of indirection where information can be lost.

I'm intrigued about the lack of logs in `jvm.out`, though. Maybe something outside of blaze kills the JVM process before it has a chance to do anything?

[2018-01-08 12:10] ulfjack commented on #1025
You can create a directory output in a Skylark rule with ctx.actions.declare_directory, see here:
https://docs.bazel.build/versions/master/skylark/lib/actions.html#declare_directory

I can't say off the top of my head how to consume the directory from a downstream action.

[2018-01-08 12:10] #1025 closed

[2018-01-08 12:11] iirina commented on #3958
I am looking for a proper RC. Current situation:
* Latest Blaze release was on 18.12.2017, which is too old for a Bazel RC baseline.
* Latest Bazel nightly fails due to Jenkins error (#4397).

I think the best approach is to fix the Bazel nightly and try to cut a RC from there.

[2018-01-08 12:13] ulfjack commented on #1025
You can consume it by declaring a dependency on the return value from declare_directory. That'll make the directory available in the downstream action. I think it may not work with remote execution yet.

[2018-01-08 12:14] iirina commented on #3958
I rebuilt the [nightly](https://ci.bazel.build/view/Bazel%20bootstrap%20and%20maintenance/job/bazel/job/nightly/182/) just to see if the error persists.

[2018-01-08 12:52] IrynaWilson commented on #1118
I am using pycoverage, wrote a custom bazel rule to run coverage and html commands and zip up the results. Pretty clean, the only downside is that I have to install pycoverage.

[2018-01-08 13:35] raliste commented on #1118
@lberki :(

Will it be supported eventually? Is it part of your roadmap for the long future?

[2018-01-08 13:55] hwright commented on #1118
@raliste I have rudimentary python coverage support on https://github.com/hwright/bazel/tree/py-coverage.  It currently generates per-test coverage information using `coverage.py`, but I haven't gotten around to merging the results into a final report.  My goal is to get this support upstreamed at some point, but I haven't had the time recently to push it forward.  I'd accept pull requests to that

[2018-01-08 14:27] robfig opened #4398 "Exception running bazel coverage on java tests"
### Description of the problem / feature request:

"bazel coverage" produces an exception internal to bazel

[code]

The directory being complained about does not exist under output_path

[code]

### Feature requests: what underlying problem are you trying to solve with this feature?

Run java tests with coverage enabled

### Bugs: what's the simplest, easiest way to reproduce this bug? Please pro

[2018-01-08 14:40] iirina commented on #3958
There are problems with the CI and there is no reliable way of cutting a RC today. @philwo is working on updating Jenkins. I will update this issue when the situation improves or when I have an ETA.

[2018-01-08 14:47] katre commented on #3959
I can manage it.

[2018-01-08 14:53] philwo opened #4399 "Bazel's CI is broken"
Bazel's CI is broken, we're working on fixing it.

This is just used to track progress and block the release on it.

[2018-01-08 14:53] philwo commented on #4399
@iirina FYI

[2018-01-08 15:16] alexeagle opened #4400 "Deploy jar cannot execute on Debian: "bad magic number""
Repro is in a docker container that we use for CI.
[code]

Context: discussion on https://github.com/bazelbuild/bazel/commit/ba1f83c2c32159dab2640c844e73cbc6cb02ddc4 where I'm trying to run Skylint

[2018-01-08 15:46] ensonic opened #4401 "HOME missing from the action env (despite mentioned in the docs)"
### Description of the problem

https://docs.bazel.build/versions/master/test-encyclopedia.html#initial-conditions
says HOME is set to $TEST_TMPDIR. When running the sh_test with -s HOME is not printed.

I have a shell test (that runs node-js web-component-tester) and that relies on HOME being set. I can work-around in the driver script.

### Bugs: what's the simplest, easiest way to reproduce thi

[2018-01-08 15:48] jin commented on #4389
@aehlig, I saw that you last reviewed this - can you please take a look? Thanks!

[2018-01-08 16:14] jin commented on #4390
Is this a one time issue or has it happened repeatedly?

[2018-01-08 16:16] agoulti commented on #4390
One time so far

[2018-01-08 16:27] ulfjack commented on #4302
That's right. We dropped this feature a couple years ago when we moved to a more condensed action cache on-disk representation.

In the rare cases where I've had to debug such issues I've been using a patched Bazel binary, see [1]. That change is technically more powerful than --explain, but it's somewhat difficult to read the output it generates. I think --explain is basically dead, but maybe we

[2018-01-08 16:51] jin commented on #4394
It looks like the build failed because of the no-return-in-nonvoid-function error instead of overflow warning?

[2018-01-08 17:14] jin commented on #4400
Does `java -jar bazel-bin/main_deploy.jar` work?

[2018-01-08 17:17] katre commented on #4394
I don't understand what the error from OBS is saying. It looks like it has found two problems:

1. https://source.bazel.build/bazel/+/master:src/tools/singlejar/zip_headers.h;l=146?q=src%2Ftools%2Fsinglejar%2Fzip_headers.h doesn't do bounds testing before dereferencing the array.
2. https://source.bazel.build/bazel/+/master:src/main/cpp/blaze_util_posix.cc;l=341?q=src%2Fmain%2Fcpp%2Fblaze_util_pos

[2018-01-08 17:27] alexeagle commented on #4400
yes

On Mon, Jan 8, 2018 at 9:14 AM Jingwen <notifications@github.com> wrote:

[2018-01-08 17:30] brunobowden commented on #4395
Better still, this error shouldn't be seen when there's automatic failover to local build if the remote_rest_cache isn't available. That would be a much preferred fix. #2964

[2018-01-08 17:42] jin commented on #4400
I'm not sure if calling `bazel-bin/main_deploy.jar` like a native executable is the intended design. The wrapper script `bazel-bin/main` is essentially https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/bazel/rules/java/java_stub_template.txt, which sets up the OS specific mechanisms for the `java_binary` to be run "natively".

@iirina do you have any sugge

[2018-01-08 19:13] ronshapiro commented on #2080
Is there any update on this?

[2018-01-08 19:15] philwo opened #4402 "Some Bazel tests still refer to Ubuntu 15.04 and are failing"
Ubuntu 15.04 (Vivid) is EOL and thus package archives are no longer available at the regular URLs. We should turn this down and delete or upgrade tests that still reference that version of Ubuntu.

[code]

[2018-01-08 19:17] philwo opened #4403 "Android SDK installation on Ubuntu 16.04 Jenkins slaves seems broken"
Tests are failing due to the Android SDK not being found.

[code]

[2018-01-08 20:00] jin commented on #3611
@philwo is this still an issue?

[2018-01-08 20:54] ubique opened #4404 "Files without extensions are not allowed in hdrs of cc_inc_library rule"
### Description of the problem / feature request:

The Guideline Support Library ( https://github.com/Microsoft/GSL )  uses <gsl/gsl> for their main header.
When I try to specify cc_inc_library headers as hdrs = glob(["include/gsl/*"]), I got error:

[code]

### Feature requests: what underlying problem are you trying to solve with this feature?

I try to use Microsofot GSL library in my project.

[2018-01-08 21:31] jin commented on #4401
I can repro this on macOS 10.12.6 with release 0.9.0.

https://source.bazel.build/bazel/+/master:src/main/java/com/google/devtools/build/lib/exec/StandaloneTestStrategy.java;l=74?q=StandaloneTestStrategy.java sets TEST_TMPDIR, but not HOME. I'm not sure where HOME is set, if it was set in the first place.

@ulfjack is $HOME == $TEST_TMPDIR or should the docs be updated to reflect this?

[2018-01-08 22:23] appsforartists commented on #374
@fiorix I'm painted into the same corner.  I need to develop an Adobe plug-in inside `~/Library/Application Support`, but Bazel chokes on the space.  I'm going to poke at the Bazel source and see if I can find an easy way to suppress that error.

[2018-01-08 22:32] appsforartists commented on #374
Looks like the no spaces error was introduced in #167 by @kchodorow 3 years ago.  Based on the more recent comments on this issue, I'm presuming that this error is obsolete and can now safely be removed.

I don't have my machine set up to build Bazel now, but I might take a stab at removing this error and seeing what breaks.  😃

[2018-01-08 22:56] jin commented on #4349
Closing this as the feature is already supported.

[2018-01-08 23:07] cushon commented on #4349
We should consider better support for this. Having to set `javacopts=["-Xplugin:..."]` on all upstream targets is kind of limiting. We could add a `java_plugin.plugin_name` attribute (similar to `processor_class`) that caused the plugin to run on targets that the plugin is applied to.

[2018-01-08 23:46] jin commented on #4290
@mhlopko is #2822 the dupe issue? It seems unrelated to me

[2018-01-09 03:01] werkt opened #4405 "skylark_git_repository_test fails under standalone"
### Description of the problem / feature request:

Bazel's `//src/test/shell/bazel:skylark_git_repository_test` relies on execution under `test --spawn_strategy=sandboxed`.  Running it with `test --spawn_strategy=standalone` causes the test to fail with errors during `git_repository`, failing to locate the revision for reset. This appears to be less of a correctness issue for the test, than a mino

[2018-01-09 06:07] vishnubob commented on #3788
I am building tensorflow from scratch for the first time, and I immediately hit this issue.  I really did not want to restart the whole process outside of my carefully constructed pyenv environment, but could not proceed past the problem of bazel dumping the environment, but not finding any working python intrperter to run `external/local_config_sycl/crosstool/computecpp`.  Since this file is loca

[2018-01-09 07:28] benjaminp commented on #4090
Were the Google failures related to Android by any chance? I conducted some manual inspection, and it looks like `android_device` can still stick a middleman into its runfiles. That should be easily remedied: https://cr.bazel.build/31030.

[2018-01-09 07:58] ulfjack commented on #4401
If we want to set HOME, we should do it in test-setup.sh. I don't have a strong preference either way - I vaguely remember that some tools will use HOME, and maybe require it being set. Internally, we always set HOME to TEST_TMPDIR. Technically, the test encyclopedia says "recommended", whatever that means (and I'm also not sure who wrote that or why - it predates my involvement with Bazel).

[2018-01-09 08:04] ulfjack commented on #374
There are a couple things in Bazel that may not be whitespace-safe.

Bazel generates runfiles and fileset manifests in a text format which uses whitespace as a separator. There are also a few generated wrapper scripts, especially for java_binary and py_binary, as well as a test wrapper script (test-setup.sh), which may not be whitespace-safe. I don't expect any problems with the Java code as such.

[2018-01-09 08:06] ulfjack commented on #374
I started a change that allows more characters in labels, but I think it still excludes whitespace - though note that that is separate from whitespace in the path to the workspace itself.

[2018-01-09 08:24] ulfjack commented on #4264
My suggestion is to provide a way to mark - say - the src/test/java/com/google/devtools/build/android subtree as Android. That's technically a manual step, but then it applies to all test targets within that tree.

On the other hand, I'm also in favor of moving all the Android stuff out of Bazel proper (and to rules_android), which would also solve the specific issue here.

[2018-01-09 10:09] abergmeier commented on #4264
:+1:

[2018-01-09 10:13] dslomov commented on #3950
anything more to do here?

[2018-01-09 10:18] meteorcloudy commented on #3950
This issue should already be fixed from TensorFlow side. So closing it.

[2018-01-09 10:18] #3950 closed

[2018-01-09 10:28] dslomov commented on #4285
Sounds like we should just use `//foo:bar` instead of `@//foo:bar`. This is canonical way of referring to 'the same repository'. @jmillikin-stripe if you submit a PR for that I'll gladly merge it.

[2018-01-09 10:36] dslomov commented on #4156
cc @cgrushko

[2018-01-09 10:37] yiming9 opened #4406 "When is `target.runfiles` directory properly set up?"
### Description of the problem / feature request:

It's not a feature request or a bug. It's just a question: for a cc_binary (or py_binary, sh_binary), when does bazel create its runfiles directory and have all symlinks correctly set up?

* Is it created right after the cc_binary is built, and before any rule that takes this cc_binary as input, OR
* Is it created after the whole build process of

[2018-01-09 10:44] dslomov commented on #4101
This is working as intended: https://docs.bazel.build/versions/master/skylark/repository_rules.html#when-is-the-implementation-function-executed. It will be *very* costly to rerun repository rules on every build.

If you share more details on what you are trying to do, we can try to suggest a solution.

[2018-01-09 10:44] #4101 closed

[2018-01-09 10:45] dslomov commented on #4084
Closing in favor of #1653

[2018-01-09 10:45] #4084 closed

[2018-01-09 10:48] dslomov commented on #4069
This is *very* involved. It is unlikely we can get to it before Bazel 1.0

[2018-01-09 11:14] cgrushko commented on #4156
Sounds reasonable. Can you send a PR, also mentioning the solution (GitHub.com/johnynek/bazel-deps) and the template project https://github.com/cgrushko/bazel-with-maven-template ?

@dslomov which file should be modified for this?

[2018-01-09 11:42] lberki commented on #4394
I don't understand either -- `ExecuteDaemon()` does have a return statement on every code path and its return value is not used to index into anything. Peter?

[2018-01-09 11:45] lberki commented on #1118
@raliste , what we have is a vague desire to support coverage collection. Unfortunately, we have a bunch of other issues to deal with (who doesn't?) so I can't promise you a deadline.

[2018-01-09 11:53] Fuuzetsu commented on #4384
Possibly was fixed in https://github.com/bazelbuild/bazel/commit/49008a3c90e65bc4abf5292af823a931b8f4e096 , needs testing.

[2018-01-09 12:13] meteorcloudy commented on #2664
This is fixed.

[2018-01-09 12:13] #2664 closed

[2018-01-09 12:54] balazsbanyai opened #4407 "Cannot build android jni example"
# Cannot build native sources that use jni

Reproduce this bug by checking out the master branch, creating a workspace file, and running:
`bazel build //examples/android/java/bazel:jni`

[code]

My WORKSPACE:
[code]

### What operating system are you running Bazel on?
- OSX 10.12.6 as host os -> did not work
- Docker image: bitriseio/android-ndk -> did not work

### What's the output of `bazel inf

[2018-01-09 12:56] laszlocsomor opened #4408 "Windows, Java launcher: relativize paths in the classpath jar"
### Description of the problem / feature request:

On Windows, the [java_{binary,test} native launcher](https://github.com/bazelbuild/bazel/blob/master/src/tools/launcher/java_launcher.cc) should create classpath jars with relative paths in the manifest, not with absolute file URLs.

### Feature requests: what underlying problem are you trying to solve with this feature?

Motivation: JUnit testing

[2018-01-09 12:58] laszlocsomor commented on #4408
Huge thanks to @cushon and his colleagues for their help with identifying this problem.

[2018-01-09 12:58] ivucica commented on #4399
Does this issue also cover the fact that artifacts are lacking version?

I wanted to try a nightly build to try out remote caching with directory support, but not only do the filenames lack version, so does the Debian package, making it uninstallable.

Happy to open a new issue if this issue doesn't cover this.

[2018-01-09 12:58] dslomov commented on #3993
Closing for lack of additional information requested.

[2018-01-09 12:58] #3993 closed

[2018-01-09 13:01] philwo commented on #4399
I think the nightly artifacts have always lacked a version.

Not sure about the Debian package - could be that that never worked, or that is was recently broken. Please feel free to file an issue for that.

[2018-01-09 13:02] #3986 closed

[2018-01-09 13:02] laszlocsomor commented on #4408
## Repro

### 1. Source tree:

I pretend to have two source trees, `c:\tmp\cpjar\tree{1,2}`.
This way javac won't be able to find the sources of the missing class in step 4.

[code]

### 2. Compiling MyClass and creating my-class.jar:

[code]

### 3. Creating the classpath jar:

[code]

### 4. Compiling against my-class.jar works, but against classpath.jar it doesn't:

[code]

### 5. Running again

[2018-01-09 13:04] dslomov commented on #3941
This is actually a duplicate of #1943, closing

[2018-01-09 13:04] #3941 closed

[2018-01-09 13:14] ivucica commented on #4394
I think this is coming from GCC: [check_gcc_output source code](https://github.com/openSUSE/post-build-checks/blob/8f470bcade61e546593c00d2c78365f5ffdd69b7/checks-data/check_gcc_output)

Having it say that the problem is on line 402 is weird, except [it seems to be the end of the function in 0.9.0](https://source.bazel.build/bazel/+/ddd5ac16aeffa6c4693c348f73e7365240b1abc5:src/main/cpp/blaze_util_

[2018-01-09 13:15] ivucica commented on #4394
(i.e. perhaps OP should try this with the latest master?)

[2018-01-09 13:18] meteorcloudy commented on #4408
Thank you all for figuring out this, I'm looking into it!

[2018-01-09 13:19] laszlocsomor commented on #4408
Thank you!
I think all we need to do is change the classpath jar creation so it rewrites classpath entries relative to the classpath jar itself.

[2018-01-09 13:19] edbaunton opened #4409 "Fix fictional characters in test data"
### Description of the problem / feature request:

The identities used in the tests for the `git_repository` skylark rules are from `foo.com`. We should update to use globally recognised example characters as discussed in https://github.com/bazelbuild/bazel/pull/4368#issuecomment-354520872.

### Feature requests: what underlying problem are you trying to solve with this feature?

Standardisation!

[2018-01-09 13:19] edbaunton commented on #4409
I'll take care of this.

[2018-01-09 13:20] philwo commented on #3611
Let's close it. If it happens again, we can reopen or file a new issue.

[2018-01-09 13:20] #3611 closed

[2018-01-09 13:23] meteorcloudy commented on #4408
Will do it!

[2018-01-09 13:26] meteorcloudy commented on #4408
Is there a minimal repo with Bazel that I can test against?

[2018-01-09 13:29] lberki commented on #4394
I think the most plausible explanation is that the linter doesn't know that `server_pid` is set by the `ReadFromFdWithRetryEintr()` call. Even though there is a `return` statement missing after the first `pdie()`, the function as a whole still returns things.

I'll initialize `server_pid` to zero and assume that that was the problem.

[2018-01-09 13:30] laszlocsomor commented on #4408
Not yet.

@c-parsons is working on CL 180818052, which adds a new annotation processor and associated tests, which is how we found the problem.

1. Once that CL is submitted, it will add the new file `src/test/java/com/google/devtools/build/lib/analysis/skylark/annotations/processor/SkylarkConfigurationFieldProcessorTest.java`.
2. You'll need to remove the `assumeTrue(OS.getCurrent() != OS.WINDOWS

[2018-01-09 13:31] meteorcloudy commented on #4408
Very helpful, thank you!!

[2018-01-09 13:34] dslomov commented on #3806
Looks like there is no actual bug here, isn't it?

[2018-01-09 13:34] #3806 closed

[2018-01-09 13:39] dslomov commented on #3764
AFAIU, skylark maven rules are using settings.xml, so they should be used if that behavior is desired. lmk if I am wrong.

[2018-01-09 13:39] #3764 closed

[2018-01-09 13:50] dslomov commented on #3675
Clarity on path layouts for external repositories is a P1

[2018-01-09 14:53] werkt opened #4410 "build_event_stream_test `ed` dependency and confusing error"
### Description of the problem / feature request:

build_event_stream_test introduces an undeclared dependency on ed. This manifests in an extremely unclear error reporting (with stderr and the status of ed suppressed)

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Remove 'ed' from a build system and run `bazel test //src/test/shel

[2018-01-09 15:09] #4394 closed

[2018-01-09 15:13] brendandouglas opened #4411 "--test_filter flag not implemented for cc_test test runner"
Action: "bazel test --test_filter=x -- //cc_test_target", with a test class using the gtest framework.

Expected result:
--test_filter gives equivalent results to --test_arg="--gtest_filter=x"

Actual result:
--test_filter flag has no effect.

Manually replacing '--test_filter=x' with '--test_arg=gtest_filter=x' is the current workaround.

Possibly WAI, if there's no expectation that the test runn

[2018-01-09 15:25] Syeberman commented on #704
I'm also struggling with this.

[2018-01-09 15:55] jin commented on #4406
Hello @yiming9, do you mind posting this question on [StackOverflow](https://stackoverflow.com/questions/tagged/bazel) with the [bazel] tag? I'll be closing this issue since it's neither a bug or feature request.

[2018-01-09 15:55] #4406 closed

[2018-01-09 16:02] steeve commented on #348
hey guys, i'm having another issue: the `cc_library` on which my `android_library` depends is not built when building either `name` or `name.aar`

[2018-01-09 16:28] thezha opened #4412 "cc_import rule fails cc_binary dependency check"
### Description of the problem:

Following the instructions on [cc_import](https://docs.bazel.build/versions/master/be/c-cpp.html#cc_import) doesn't give expected result when importing an external pre-compiled library. Error message seems to say that "cc_import" doesn't belong to the cc_library dependency list.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a min

[2018-01-09 16:40] balazsbanyai commented on #348
+1

[2018-01-09 16:42] dbabkin commented on #3769
Hi,
Bazel contributor here. :) Terribly sorry for delay in reply.

This task is in the progress right now.
First, very limited part of new API is about to be finished. Commit will be pushed today or tomorrow.
I'm not sure about release 0.10.0. Please follow the status of release 0.10 cut on this ticket:
https://github.com/bazelbuild/bazel/issues/3958

New API supports creating JavaInfo with JavaCo

[2018-01-09 17:19] jin commented on #4407
What's your NDK version?

[2018-01-09 17:20] ittaiz commented on #3769
Hi,
Thanks for the update!
This isn't exposed to skylark right? AFAIR JavaCompilationArgsProvider
isn't exposed to skylark
On Tue, 9 Jan 2018 at 18:42 dbabkin <notifications@github.com> wrote:

[2018-01-09 17:32] jin commented on #4407
I can repro the build failure with r14b and r15c, so it doesn't seem like it's related to the NDK version.

[2018-01-09 17:40] jin commented on #4407
Related comment: https://github.com/bazelbuild/bazel/issues/348#issuecomment-356327966

[2018-01-09 17:50] jin commented on #2722
Closing this issue since dynamic configurations are in, and I cannot repro the original example in 0.9.0. Feel free to reopen if there's still an issue.

[2018-01-09 17:50] #2722 closed

[2018-01-09 17:51] philwo opened #4414 "Android desugar build broken due to errorprone-detected error"
[code]

[2018-01-09 17:54] jin commented on #4401
Related: #422

I think we should set HOME, since we're doing it internally and it should be consistent with the TE.

[2018-01-09 17:56] philwo commented on #4397
This was fixed today via https://github.com/bazelbuild/continuous-integration/commit/3fe97baa26d8a0cfd1f854e519478336c1ae52f1.

[2018-01-09 17:56] #4397 closed

[2018-01-09 17:56] jin commented on #4401
Low hanging fruit for first time contributors :-)

[2018-01-09 18:01] ctiller commented on #3851
I think I'm seeing this also.

[2018-01-09 18:11] jin opened #4415 "CI: rules_typescript: Broken on Linux"
[code]

https://ci.bazel.build/blue/organizations/jenkins/rules_typescript/detail/rules_typescript/104/pipeline/21

Doesn't look like it's Bazel specific, but an issue with an external `node` dep.

cc @alexeagle

[2018-01-09 18:21] jin opened #4416 "CI, Gerrit: failing to build on linux-x86_64"
[code]

Specific error: `/usr/bin/env: node: No such file or directory`

Started failing from https://ci.bazel.build/blue/organizations/jenkins/gerrit/detail/gerrit/2062/pipeline/

cc @davido

[2018-01-09 19:05] appsforartists commented on #374
Thanks @ulfjack.  A few things I'm not clear on:

- Are you still actively working on this?  Seems that this bug has passed through a handful of people (Kristina, Damien) who no longer work on Bazel; it may need an owner.
- Do you expect it's currently safe to use spaces in paths?
- What would need to change to get an LGTM removing the assertion that a path doesn't contain spaces?

[2018-01-09 19:07] alexeagle commented on #4415
the root cause is
https://github.com/bazelbuild/rules_nodejs/issues/77

I'm surprised you just started running into this - it seems that node used to be installed on the CI worker machines and now it isn't?

[2018-01-09 19:09] jin commented on #4415
This might be due to the recent reimaging. @philwo do you know if node has to be installed manually?

[2018-01-09 19:10] jin commented on #4416
Most likely related to https://github.com/bazelbuild/rules_nodejs/issues/77

[2018-01-09 19:10] ivucica opened #4417 "Please include version in the Debian nightly-built package"
### Description of the problem / feature request:

https://ci.bazel.build/view/Bazel%20bootstrap%20and%20maintenance/job/bazel/job/nightly/182/

I tried installing the .deb to try out a new feature, but dpkg refuses to do so as the `Version` field is empty.

`Version` field should probably have the next-release's version, plus `~git$BUILD_TIMESTAMP` or `~nightly$JENKINS_ID`. See [what tilde means]

[2018-01-09 19:12] ivucica commented on #4399
Filed #4417

[2018-01-09 19:12] ulfjack commented on #374
I am not currently working on this.

By all means, give it a try. If we audit (and, if necessary, fix) the places mentioned above, and maybe add an integration test, and it works, that's good enough for me. There may be hidden bugs, but we won't find them if nobody is trying it.

[2018-01-09 19:16] spinorx commented on #348
Use sample in https://github.com/spinorx/grpc_andr_ios to unblock urself till this is fixed.

[2018-01-09 19:19] jin commented on #4414
Which run is this from?

The suggested errorprone fix has been merged: https://source.bazel.build/bazel/+/dd6f8298529f05372d9c0c31eabf19f69d38b22e:src/tools/android/java/com/google/devtools/build/android/desugar/LambdaClassMaker.java;h=;l=84

[2018-01-09 19:21] philwo commented on #4414
I noticed it during a recent bazel-tests run. Sorry for not linking the log!

Good that the fix is in :) Let’s close this then.

[2018-01-09 19:22] philwo commented on #4414
Oh wait, the link goes to a commit from December 16, suggesting that the fix might not have worked maybe? I’ll reopen for now.

[2018-01-09 19:24] balazsbanyai commented on #4407
I tried to build it using NDK r15b

[2018-01-09 19:44] davido commented on #4416
Hm.., we are not using `rules_nodejs`.

Can it be that some external Polymer dependencies were temporarily not available for networking reasons? I just rechecked, and I can build Gerrit@HEAD with Bazel@HEAD from scratch, without any issue.

[2018-01-09 21:27] jin commented on #4336
This test is now passing on bazel-tests, closing.

[2018-01-09 21:27] #4336 closed

[2018-01-09 21:39] jin commented on #704
@gregestren @spomorski can https://docs.bazel.build/versions/master/skylark/lib/skylark-configuration-fragment.html be elaborated with more information?

[2018-01-09 21:43] jin commented on #4090
@benjaminp unified launcher is a required dep for android_device. @aj-michael do you have any suggestions for this?

[2018-01-09 21:45] jin commented on #4414
I can repro this locally at HEAD. Looking.

[2018-01-09 22:07] kgreenek commented on #4383
Major +1 for this

This also is the same for python. At area17, we want to use this for deployment, but it is difficult currently because there isn't a good way to package everything we need together (for both py and cc).

For example, for our python targets, we often depend on pip targets (which are installed within bazel via the pip_import rule). Those pip imports aren't packaged.

This would be

[2018-01-09 22:19] cushon commented on #4414
Sorry, I sent a fix: https://bazel-review.googlesource.com/c/bazel/+/31292

[2018-01-09 22:29] jin commented on #4414
Almost sent out the same fix :-) Will import. Thanks @cushon

[2018-01-09 22:31] kirilg commented on #4289
We updated TensorFlow Serving to use the latest TF from yesterday. Please let us know if your tests are still failing and thanks for catching this!

[2018-01-09 22:48] jin commented on #4289
It is passing now: https://ci.bazel.build/job/TensorFlow_Serving/1251/

Cheers and thanks @kirilg!

[2018-01-09 22:48] #4289 closed

[2018-01-09 22:53] jin commented on #4400
Perhaps it will make sense to have a rule to package a binary along with its runfiles to some single file output, like mentioned in this comment: https://github.com/bazelbuild/bazel/issues/4383#issuecomment-355920899

[2018-01-09 23:12] benjaminp commented on #4090
The patch is just an internal refactoring should preserve semantics.

[2018-01-09 23:17] jin commented on #4090
Oh, sorry, I misread.

[2018-01-10 02:06] steeve commented on #3558
hey @mhlopko, was there any work done on that front? I'm confronted with the very same issue for `rules_go` at https://github.com/bazelbuild/rules_go/blob/master/go/private/rules/stdlib.bzl#L59

Basically the stdlib is bootstrapped using Go itself and passing `CC` `CFLAGS` env vars and the like. However since the flags are incomplete, it fails to bootstrap when doing cross compilation (ie use appl

[2018-01-10 03:29] alexeagle commented on #4415
It's probably better to fix it in rules_nodejs, I'll work on that tomorrow morning.

[2018-01-10 03:33] ashi009 opened #4419 "Incorrectly converting git_repository to http_archive"
### Description of the problem / feature request:

bazel 0.9 failed to fetch git_repository rule pin to a tag with `/` in the tag name.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[code]

The root cause is that the new git fetcher assumes the tag name is always safe to use for stripping prefixes.

For the above example, the dire

[2018-01-10 03:50] alexeagle commented on #4400
I think this is exactly what `*_deploy.jar` is meant to provide, and it works this way on other platforms.

[2018-01-10 08:06] ulfjack commented on #3360
I have a fix and it turned out to be easier than expected (after several dead ends). You can find it here:
https://bazel-review.googlesource.com/c/bazel/+/31250

I don't have any tests yet, but it might be reasonable to merge without. I'll try to merge it in the next few days.

[2018-01-10 09:11] ulfjack commented on #4331
I have a fix for #3360, but it is not integrated with the local action cache yet. I'll keep this open with the intent of also fixing the local action cache.

[2018-01-10 09:15] ulfjack commented on #3793
No progress. I still have no idea what could be wrong - maybe it's related to the runfiles issue we had a few weeks ago?

[2018-01-10 10:29] iirina commented on #3769
No, it's not. It's just an implementation detail, meaning more work will be needed to make the new API 100% reliable.

I cannot tell right now if this will make the release, since it seems difficult to even cut an RC right now.

[2018-01-10 10:55] steeve commented on #3558
Actually, I'm thinking a good API would be to just get the tool and flagset for a certain action from the CROSSTOOL.

Something like:
[code]

[2018-01-10 10:57] steeve commented on #3558
For now I'm thinking we can parse the current CROSSTOOL via a homemade tool and expose this

[2018-01-10 12:12] iirina commented on #3958
We have a [nightly](https://ci.bazel.build/view/Dashboard/job/bazel/job/nightly/). I cut a RC based on that:
[code]
Next step: identify the breakages/failures in the nightly and mark them as release blockers.

[2018-01-10 12:45] iirina commented on #3958
The release [push job](https://ci.bazel.build/job/bazel/job/release/895) failed:
[code]

Looking into it.

[2018-01-10 13:25] ulfjack commented on #3296
@laszlocsomor has made some progress in 294c074fcd42ffb1154101f5156f5e9e121ab615, and also has a pending change to make TMPDIR writable in the sandbox.

[2018-01-10 13:26] ulfjack commented on #3296
I'll close this in favor of #4376, which has all the changes attached.

[2018-01-10 13:26] #3296 closed

[2018-01-10 13:36] balazsbanyai commented on #348
@spinorx thank you very much. I can build the app using the provided project, but the android_library won't build in this example either.

[2018-01-10 13:49] meteorcloudy opened #4420 "Windows, Java launcher: remove '../' in classpath jar"
"The Java platform team advised that we shouldn't rely on the JVM supporting "../" in the class path, because it's possible that the JVM won't support that in the future." -- László

We can use junctions to avoid using ../ in classpath jar.

[2018-01-10 13:51] dbabkin commented on #3769
Hi Ittai,

We do not expose JavaCompilationArgsProvider itself.
If you take a look at JavaInfo class [1], it has 4 methods based on JavaCompilationArgsProvider
 getCompileTimeJars()
 getFullCompileTimeJars()
 getTransitiveDeps()
 getTransitiveRuntimeDeps()
This methods are exported already. And during creating JavaInfo using new API, JavaCompilationArgsProvider is populated now. So you can use thi

[2018-01-10 13:57] ulfjack commented on #4137
It's a two-step process - there's a piece of code that's responsible for configuring the C++ toolchain that's separate from the rules. The rules themselves don't respect shell envs. The code that's configuring the toolchain can be swaped out as a whole for code that does not look at the local envs. If there are specific issues with the existing code for local execution, then we can discuss that se

[2018-01-10 14:10] ulfjack commented on #4343
It looks like this is due to @ola-rozenfeld's change a22d0e9c14e58b29d81f5a83bdcc6e5fce52eafe.

[2018-01-10 14:14] darrengarvey commented on #3979
I just hit this too. Isn't a simple fix for this to modify `wrapped_clang{,_pp}.tpl` like so:

[code]

[2018-01-10 14:21] dslomov commented on #3516
crash is P1, feature request seems to be not that hard to implement either

[2018-01-10 14:23] iirina commented on #3958
[Replayed the job](https://ci.bazel.build/job/bazel/job/release/898/) and it finished successfully. [RC1](https://releases.bazel.build/0.10.0/rc1/index.html) is available for testing. I will now create issues for the failing projects.

[2018-01-10 14:24] darrengarvey commented on #3979
Ah, no I see that won't work now. It was also tried in #3559.

This is quite a nasty one that I don't see an easy way for a user to work around.

[2018-01-10 14:30] iirina opened #4421 "CI rules_nodejs is failing with bazel 0.10.0 RC1"
rules_nodejs does not build on Windows. The reported error is:

[code]

The entire console output is [here](https://ci.bazel.build/job/Global/job/rules_nodejs/165/console).

This is blocking the 0.10.0 release (#3958).

[2018-01-10 14:35] iirina opened #4422 "CI BUILD_file_generator is failing with bazel 0.10.0 RC1"
BUILD_file_generator fails to build on Linux. The reported error is:

[code]

The console log can be found [here](https://ci.bazel.build/job/Global/job/BUILD_file_generator/157/console).
This is blocking the 0.10.0 release (#3958).

[2018-01-10 14:36] iirina commented on #4422
cc: @lberki can you investigate? It looks related to your recent javabase changes.

[2018-01-10 14:39] iirina opened #4423 "CI bazel-integration-testing is failing with bazel 0.10.0 RC1"
bazel-integration-testing does not build on darwin, linux and ubuntu. The reported error is:
[code]
The entire console output is [here](https://ci.bazel.build/job/Global/job/bazel-integration-testing/142/console)
This is blocking the 0.10.0 release (#3958).

[2018-01-10 14:42] iirina commented on #4423
The same error appears when trying to build [eclipse](https://ci.bazel.build/blue/organizations/jenkins/Global%2Feclipse/detail/eclipse/346/pipeline/).

[2018-01-10 14:44] iirina opened #4424 "CI rules_docker is failing with bazel 0.10.0 RC1"
rules_docker does not build on linux. The reported error is:
[code]

The console output is [here](https://ci.bazel.build/job/Global/job/rules_docker/348/console).

This is blocking the 0.10.0 release (#3958).

[2018-01-10 14:45] ola-rozenfeld commented on #4343
Interesting, that is the opposite of the behavior I was aiming for with my change. Looking into it.

[2018-01-10 14:47] iirina opened #4425 "CI projects are failing with bazel 0.10.0 RC1 due to wrongly identifying the current Bazel version"
rules_closure fails to build:

[code]

The console output is [here](https://ci.bazel.build/job/Global/job/rules_closure/347/console).

This is blocking the 0.10.0 release (#3958).

[2018-01-10 14:50] iirina opened #4426 "CI rules_go is failing with bazel 0.10.0 RC1"
rules_go fails to build with the RC: `Current Bazel version is 0.10.0rc1, expected at least 0.8.0`
The console output is [here](https://ci.bazel.build/job/Global/job/rules_go/344/console).

This is blocking the 0.10.0 release (#3958).

[2018-01-10 14:52] iirina commented on #4422
The same happens for rules_scala: [pipeline](https://ci.bazel.build/blue/organizations/jenkins/Global%2Frules_scala/detail/rules_scala/344/pipeline/)

[2018-01-10 14:52] lberki commented on #4422
Created https://github.com/bazelbuild/rules_scala/pull/384 . How do I test it?

[2018-01-10 14:55] iirina commented on #4422
Get the RC from [here](https://releases.bazel.build/0.10.0/rc1/index.html)) and try to build the scala tests:
`/path/to/bazel-0.10.0rc1 build //test/...`

[2018-01-10 14:57] iirina commented on #4425
This is also affecting Tensorflow (see [pipeline](https://ci.bazel.build/blue/organizations/jenkins/Global%2FTensorFlow/detail/TensorFlow/357/pipeline/)).

[2018-01-10 15:02] iirina opened #4427 "CI rules_k8s fails with bazel 0.10.0 RC1"
On linux the following error is reported:
[code]

Full console output is [here](https://ci.bazel.build/job/Global/job/rules_k8s/198/console).
This is blocking the 0.10.0 release (#3958).

[2018-01-10 15:05] iirina opened #4428 "CI intellij is failing with bazel 0.10.0 RC1"
The reported error is:
[code]

Full console output is [here](https://ci.bazel.build/job/Global/job/intellij/344/consoleFull).
This is blocking the 0.10.0 release (#3958).

[2018-01-10 15:10] lberki commented on #4422
`bazel test //test/...` goes further with this change in and bombs out with this error message:
[code]

So I think it's a separate issue.

[2018-01-10 15:18] lberki commented on #4422
Indeed: that one is caused by https://github.com/bazelbuild/bazel/commit/baea3b16ab9ff1b9a1b7a758760d035ae096bfd5 . I haven't looked into how it's possible that Turbine in `@bazel_tools` doesn't support it.

[2018-01-10 15:22] iirina commented on #4422
Yup, that's a different issue. @cushon can you take a look?

@lberki Thanks for the PR.

[2018-01-10 15:22] iirina opened #4429 "CI bazel tests are failing with bazel 0.10.0 RC1"
Reported error:
[code]

Full console log is [here](https://ci.bazel.build/job/Global/job/bazel-slow-tests/178/consoleFull).
This is blocking the 0.10.0 release (#3958).

[2018-01-10 15:43] spinorx commented on #348
Yeah,  android_library does not propogate needed config to cc_library yet.  See detailed discussion in:  https://github.com/bazelbuild/bazel/issues/3924

[2018-01-10 15:47] iirina commented on #4427
The same error occurs for rules_typescript (see [pipeline](https://ci.bazel.build/blue/organizations/jenkins/Global%2Frules_typescript/detail/rules_typescript/310/pipeline/)).

[2018-01-10 15:49] iirina commented on #4425
... and for rules_webtesting: [pipeline](https://ci.bazel.build/blue/organizations/jenkins/Global%2Frules_webtesting/detail/rules_webtesting/3/pipeline/)

and gerrit: [pipeline](https://ci.bazel.build/blue/organizations/jenkins/Global%2Fgerrit/detail/gerrit/345/pipeline/)

[2018-01-10 15:51] iirina opened #4430 "CI glog is failing with bazel 0.10.0 RC1"
Reported error:
[code]
Full console output is [here](https://ci.bazel.build/job/Global/job/glog/7/console)
This is blocking the 0.10.0 release (#3958).

[2018-01-10 15:53] iirina opened #4431 "CI tf_models_syntaxnet is failing with bazel 0.10.0 RC1"
Reported error:
[code]

Full console log is [here](https://ci.bazel.build/job/Global/job/tf_models_syntaxnet/345/console).
This is blocking the 0.10.0 release (#3958).

[2018-01-10 15:59] iirina commented on #3958
Currently known release blockers:

- [ ] CI rules_nodejs is failing with bazel 0.10.0 RC1 #4421
- [ ] CI BUILD_file_generator is failing with bazel 0.10.0 RC1 #4422
- [ ] CI bazel-integration-testing is failing with bazel 0.10.0 RC1 #4423
- [ ] CI rules_docker is failing with bazel 0.10.0 RC1 #4424
- [ ] CI projects are failing with bazel 0.10.0 RC1 due to wrongly identifying the current Bazel ver

[2018-01-10 16:00] iirina commented on #4425
I wonder how these projects were built before, with the previous release candidates. @laszlocsomor do you have any experience with this?

[2018-01-10 16:05] jin commented on #4425
For `rules_closure`:

[code]

[code]

[2018-01-10 16:08] aj-michael commented on #4090
From what I can tell, no the internal failures that @lberki is referring to are not related to Android.

[2018-01-10 16:10] #4414 closed

[2018-01-10 16:12] ittaiz commented on #3516
@dslomov any chance this will allow ~ or $HOME?
@davido did something like this in a different CL he got in a few months ago but I think it's only relevant for his other experimental flag (I think related to local remote cache)

[2018-01-10 16:15] iirina commented on #4425
cc: @jart

[2018-01-10 16:17] brendandouglas opened #4432 "Support supplying jdeps data via java_common.create_provider"
Jdeps data is required by IDEs. It's available in the old `java` provider, but there's no way to expose it via `java_common.provider`, when created via `java_common.create_provider`

See https://github.com/bazelbuild/intellij/issues/207

[2018-01-10 16:18] iirina commented on #4425
cc: @frankchn @sanjoy could you take a look at parsing the bazel version in `tensorflow/workspace.bzl`?

[2018-01-10 16:20] iirina commented on #4425
cc: @DrMarcII could you take a look at parsing the bazel version in rules_webtesting?

[2018-01-10 16:22] aj-michael commented on #4407
I'll take a look at this.

[2018-01-10 16:23] iirina commented on #4425
cc: @davido could you take a look at parsing the bazel version for gerrit?

[2018-01-10 16:28] buchgr commented on #3958
@iirina this is also a regression from 0.9.0 that needs to be fixed https://github.com/bazelbuild/bazel/issues/4343

[2018-01-10 16:29] buchgr commented on #4343
@ola-rozenfeld do you have time to work on it right now? This is a release blocker for 0.10.0.

[2018-01-10 16:30] jayconrod commented on #4426
I'm looking into this. Feel free to assign to me.

Our version checking code is fairly new, but it's the same as what Kubernetes and TensorFlow are using, so others may be affected.

[2018-01-10 16:33] iirina commented on #4426
Yes actually I found more similar issues in #4425. I forgot to include rules_go there. Thanks for looking into it.

[2018-01-10 16:34] iirina commented on #4426
It seems I cannot assign this to you, I don't understand why.

[2018-01-10 16:36] aj-michael commented on #4407
This is working as intended. `bazel build //examples/android/java/bazel:jni` is attempting to build a `cc_library`. Bazel doesn't know that this is an Android `cc_library`. With no flags, it assumes that you're building for the machine that you're running Bazel on using the default crosstool, which does not know about `jni.h`.

So the question is, what are you trying to do? If you really want to j

[2018-01-10 16:36] #4407 closed

[2018-01-10 16:37] iirina commented on #4432
@dbabkin FYI

[2018-01-10 16:38] aj-michael commented on #348
@steeve, see my response in https://github.com/bazelbuild/bazel/issues/4407#issuecomment-356658776 if you want to build the `cc_library` for Android directly. Note that that will not get you a `.so`. To build a `.so` outside of `android_binary`, you need a `cc_binary`.

[2018-01-10 16:42] steeve commented on #348
@aj-michael thanks! however, I'm trying to build an `aar` (not an `apk`) file that depends on the `cc_library`.
I would assume the toolchain configuration to be transitive to the `cc_library` with `android_library` the way `android_binary` does.

Also, there is the case of fat apks, which is better handled by building for the Android env via `android_{binary,library}` rules imho.

[2018-01-10 17:08] steeve commented on #3558
Basically exposing `FeatureConfiguration.get{ToolForAction,CommandLine,EnvironmentVariables}` to Skylark would be perfect

[2018-01-10 17:12] ola-rozenfeld commented on #4343
I can look at it Friday the earliest, not right now. Do you have time earlier?

[2018-01-10 17:12] DrMarcII commented on #4425
This can be fixed by parsing bazel version numbers into a tuple of ints instead of a tuple of strings.

[2018-01-10 17:28] dslomov commented on #3181
I'll have to close this as this is not really actionable

[2018-01-10 17:28] #3181 closed

[2018-01-10 17:30] dslomov commented on #3082
This very much calls for a WORKSPACE.lock

[2018-01-10 17:32] cushon commented on #4422
I mailed a fix: cl/181475810

[2018-01-10 17:44] buchgr commented on #4343
Yes, I ll fix it.

[2018-01-10 17:45] ola-rozenfeld commented on #4343
Great, thank you!

[2018-01-10 17:59] sanjoy commented on #4425
I think a quick fix for TensorFlow would also involve what @DrMarcII said above -- return ints instead of strings.  However, before I make that change -- is there some canonical way of parsing and/or comparing bazel versions?  For instance, changing the `str(number)` to `int(number)` works for `"0.10.0-rc1 $commit"` but not for `"0.10.0rc1 $commit"`.

[2018-01-10 18:16] jayconrod commented on #4425
I propose the function below:

[code]

Find the first character in the version string which is not a digit or '.', and ignore that character and everything after. Split the remaining string on '.', and convert the pieces to integer.

[2018-01-10 18:17] jin commented on #4425
I think we should format the Bazel version for RCs to include the dashes for easier downstream parsing.

[2018-01-10 18:27] jin commented on #4431
related: https://github.com/tensorflow/models/issues/2822

[2018-01-10 18:30] aj-michael commented on #348
Yes, I was responding to your comment:

`android_library` `.aar` output does not currently support bundling native libraries. This is a known deficiency that I believe @dkelmer has plans to work on.

If you're so inclined, you could workaround this deficiency by creating an additional android_binary and a genrule for the android_library, something like this:

[code]

[2018-01-10 18:40] jin commented on #4428
[code]

Log: https://ci.bazel.build/blue/organizations/jenkins/Global%2Fintellij/detail/intellij/344/pipeline

cc @brendandouglas

[2018-01-10 18:53] jin commented on #4423
To fix: https://github.com/bazelbuild/bazel-integration-testing/blob/master/bazel_version.bzl

[2018-01-10 18:56] steeve commented on #348
nice, I hadn't though about this! thanks @aj-michael

[2018-01-10 18:57] jin commented on #4429
The fix is here: 65c13dd5a4c1b4b5a072f7680b8f1cf3c5079b52 @iirina cherrypick this, please?

[2018-01-10 18:58] ixdy commented on #4425
This is also going to break the kubernetes build, since we copy-pasted the same function. :(

We'll apply whatever fix is discovered here, but it'd be handy if there were a canonical version of this check function, rather than every single project copying their own...

[2018-01-10 18:59] grswk commented on #4401
@jin Do we need any changes in TE?

[2018-01-10 18:59] jin commented on #4425
I can update https://github.com/bazelbuild/bazel-integration-testing/blob/master/bazel_version.bzl to use @jayconrod's function, and have that as the canonical version. What does everyone think?

[2018-01-10 19:05] frankchn commented on #4425
We are happy to include any fix discovered here too, and +1 on a canonical version of the version parsing function.

[2018-01-10 19:52] jin opened #4433 "Provide a canonical way to assert minimum and maximum bazel_versions in bzl files"
External repositories are implementing their own copy of Bazel version checks as seen in #4425 and causes fragmentation in implementations.

Bazel already provides this function in https://github.com/bazelbuild/bazel-integration-testing/blob/master/bazel_version.bzl, but that is still an external dependency. This is something that we can move into `@bazel_tools`, and set that as the canonical way

[2018-01-10 19:53] pmuetschard commented on #3958
Would it be possible to cherry pick f6ca78808722c8c119affdb33400838ee92d44b6 into 0.10.0? Without it Android build rules on Windows are broken.

(Excuse the lousy change description of the commit. I've added a comment at the bottom of the change.)

[2018-01-10 19:57] minorhacks commented on #1118
@lberki Is it at least still the case that C++ coverage support is P0 for the 1.0 release, as indicated by the [roadmap](https://bazel.build/roadmap.html)? I don't see any coverage-related issues in the [1.0 milestone](https://github.com/bazelbuild/bazel/milestone/7).

[2018-01-10 20:15] aj-michael commented on #348
This is a common enough request (JNI in .aar) that I decided to throw together an example repository for how to workaround it:

https://github.com/aj-michael/aar_with_jni

[2018-01-10 20:17] kwc opened #4434 "Bazel make_deb.py uses incorrect mode encoding for ar files"
### Description of the problem / feature request:

Bazel produces incorrect debian packages when using `pkg_deb`. The ar archive mode flag is encoded as a string instead of an octal. String debian package readers will fail to process this file, while others will treat the invalid encoding as mode 000 instead of 644.

The bug is in

https://github.com/bazelbuild/bazel/blob/master/tools/build_defs/p

[2018-01-10 20:20] andrewharp commented on #348
FWIW you can just use `zip -ur` to add files to an existing archive (we do this to create the [TensorFlow AAR](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/ci_build/builds/android_full.sh#L83)) for release.

[2018-01-10 20:23] gregestren commented on #704
I think the hyperlink to https://docs.bazel.build/versions/master/skylark/lib/skylark-configuration-fragment.html provides a lot of the context that was missing in the original request.

Sye (and anyone else): can you elaborate on what's still unclear?

This is really helpful feedback, so thanks for reporting this.

[2018-01-10 20:26] spomorski commented on #704
We can definitely work on this. Who can identify what's missing and
possibly provide that information?

On Wed, Jan 10, 2018 at 3:23 PM, Greg <notifications@github.com> wrote:

[2018-01-10 20:44] fahhem commented on #4433
Another implementation of this check: https://github.com/google/protobuf/pull/3968

[2018-01-10 20:45] brendandouglas commented on #4428
I'm not all that familiar with Bazel's CI system. Do you know which Bazel
commit caused the tests to start failing? (there have been no recent
IntelliJ project commits, so presumably this was caused by a Bazel commit
or CI configuration change)

On Wed, Jan 10, 2018 at 1:40 PM, Jingwen <notifications@github.com> wrote:

[2018-01-10 21:05] aehlig commented on #4332
I still cannot reproduce the issue. The error message, however, indicates an error in the setup of your ca certificates for java (no single root certificate declared as trusted).

So closing for now. Feel free to reopen with precise reproducition instructions if the error persists in a setting where the jvm you're using can connect to the respective site via https.

It is a different question whet

[2018-01-10 21:05] #4332 closed

[2018-01-10 21:06] jin commented on #4401
No, since this syncs up to TE. I see that your commit adds it in StandaloneTestStrategy.java, but by @ulfjack's suggestions can you please add it to https://source.bazel.build/bazel/+/master:tools/test/test-setup.sh instead?

[2018-01-10 21:06] aehlig commented on #3914
Bazel at head now gives a clean error message. So issue has already been fixed.

[2018-01-10 21:06] #3914 closed

[2018-01-10 21:24] jin commented on #4433
On second thought, it seems that https://github.com/bazelbuild/bazel-skylib will be a good home for  `check_bazel_version`.

[2018-01-10 21:37] aj-michael commented on #2080
I believe 2ef5d2170e0558468b0c0e989b910fbb52e95368 should have been tagged with this issue number

[2018-01-10 21:39] aj-michael commented on #4328
Hi @izzyleung , what was the solution here?

[2018-01-10 21:49] davido commented on #4425
@iirina I checked and it still works on Bazel@HEAD.

What we are doing is:

WORKSPACE:
[code]

version.bzl:
[code]

[2018-01-10 22:22] ronshapiro commented on #2080
Should it be documented in the [Build Encyclopedia](https://docs.bazel.build/versions/master/be/android.html)?

[2018-01-10 22:23] jin commented on #4430
glog has never passed since it was added to the CI on Jan 4: https://ci.bazel.build/job/glog/ cc @drigz this looks like a compile time error.

[code]

https://ci.bazel.build/blue/organizations/jenkins/glog/detail/glog/9/pipeline

[2018-01-10 22:25] jin commented on #4424
This should be fixed once node is installed properly with reimaging cc @philwo

[2018-01-10 22:37] jin commented on #4415
Green: https://ci.bazel.build/job/rules_typescript/107/

root cause: missing `node`, fixed by @philwo

[2018-01-10 22:37] #4415 closed

[2018-01-10 22:39] jin commented on #4416
Green: https://github.com/bazelbuild/bazel/issues/4416

Root cause: missing `node` on the machine, fixed by @philwo.

[2018-01-10 22:40] #4416 closed

[2018-01-10 22:44] jin commented on #4399
CI is revived. Closing this now.

[2018-01-10 22:44] #4399 closed

[2018-01-10 22:46] jin commented on #4402
Fixed in https://github.com/bazelbuild/bazel/commit/96c654d43eb2906177325cbc2fc2b1e90dbcc792, closing.

[2018-01-10 22:46] #4402 closed

[2018-01-10 22:47] jmillikin-stripe commented on #3249
I'm hitting the original JNI issue also, and the workaround of commenting out the JNI bits worked for me.

What's the JNI filesystem implementation get us over the JavaIO implementation? Performance? I'd suggest either adding a flag to control which implementation is used, or detect the JNI failure and fall back to JavaIO at initialization time.

If someone in Bazel land can review the PR, I'd be

[2018-01-10 22:53] izzyleung commented on #4328
It was possibly due to a wield network issue, I cannot reproduce this anymore.

The solution was just switch to another network environment.

[2018-01-10 23:07] jin opened #4436 "CI bazel-tests failure at HEAD"
https://ci.bazel.build/blue/organizations/jenkins/bazel-tests/detail/bazel-tests/1668/pipeline/28

Failing targets:

- [x] `//src/test/shell/bazel:persistent_test_runner_test`

Log:
[code]

- [x] `//src/test/shell/bazel:local_repository_test`

Log:
[code]

https://ci.bazel.build/job/bazel-tests/1668/

[2018-01-10 23:10] ctiller commented on #3216
Any progress on this? We'd like the feature for local gRPC builds.

[2018-01-10 23:13] mmorearty commented on #3360
Awesome, I did a quick test and your fix seems to work for me. Please note, it works when I used `--experimental_remote_spawn_cache` (which is what I actually use in my real build); it did not seem to have any effect when I used `--spawn_strategy=remote`. The latter never called `RemoteSpawnCache.store()`, where the check happens.

Also: I take it it's deliberate that `RemoteSpawnCache.store()` ca

[2018-01-10 23:32] jin commented on #4436
Green: https://ci.bazel.build/job/bazel-tests/1669/

[2018-01-10 23:32] #4436 closed

[2018-01-10 23:36] jin commented on #4434
@kwc seems like you already have the fix, would you like to submit a PR?

[2018-01-11 00:40] kwc commented on #4434
@jin I'd prefer not to as I don't want to deal with a CLA for a half-line code change

[2018-01-11 00:56] jart commented on #4425
I'm going to be exporting a change shortly for rules_closure where I just remove the version check.

[2018-01-11 01:16] jin commented on #4425
Once https://github.com/bazelbuild/bazel-skylib/pull/13 is in, repos can start to use the following:

[code]

[2018-01-11 03:03] #4128 closed

[2018-01-11 05:39] cushon commented on #4422
The issue with turbine and `--` is fixed, I'm not sure if there's anything else you want to leave this bug open to track.

[2018-01-11 05:54] ittaiz commented on #3516
Why was it undone?
On Wed, 10 Jan 2018 at 20:15 David Ostrovsky <notifications@github.com>
wrote:

[2018-01-11 06:58] grswk commented on #4401
@jin Thanks for the review. PR created.

[2018-01-11 07:06] davido commented on #3516
Because reviewers pointed out, that support for HOME-directory should be generally integrated in Bazel infrastructure.

[2018-01-11 07:07] ittaiz commented on #3516
I see.
Unlikely you'll pick that one up, right?
On Thu, 11 Jan 2018 at 9:06 David Ostrovsky <notifications@github.com>
wrote:

[2018-01-11 07:14] davido commented on #3516
Unfortunately, I cannot work on that atm.

[2018-01-11 07:33] laszlocsomor commented on #4425
No I don't, but as others already noticed, the bug is with parsing the version number into a string instead of an int.

[2018-01-11 07:49] aehlig commented on #3395
I'm surprised to here this, as I would have expected to do the respective
patching in the extract/patch phase, which sets up `WRKDIR`.

Anyway, I finally have the time now to start working on supporting
patches and patch commands in http-archives.

However, I do not have an ETA now, as I'm quite new to that part of the
bazel code base.

--
Klaus Aehlig
Google Germany GmbH, Erika-Mann-Str. 33, 8063

[2018-01-11 07:57] yurivict commented on #3395
It is of course possible to take a tarball, extract it, patch it, and repackage it with a different name, as a workaround. But this is an obvious workaround. No other port does it this way. This will cause more than a few questions, I know this for sure. And it comes down to Bazel, and its inability to patch tarballs.

[2018-01-11 08:28] lberki commented on #4422
I wanted to close this only when the Scala fix is merged, which I just did. So closing the bug.

[2018-01-11 08:31] lberki commented on #1118
It is. We won't do a 1.0 before coverage is sorted out.

[2018-01-11 08:32] ulfjack commented on #3249
I'd just use the JavaIO implementation for now. It's certainly an important performance difference for Bazel, but I'd be surprised if it was a big issue for the remote worker.

[2018-01-11 08:37] ulfjack commented on #3360
Thanks for the review, and no, it shouldn't call it twice. That was an accidental left-over from an intermediate state of the change. It's correct that it only works for experimental_remote_spawn_cache - I'll update this to also cover the spawn strategy.

[2018-01-11 08:40] balazsbanyai commented on #4407
I was trying to build an aar android library as the main artifact. I've found my answer in the referenced thread! Thank you very much!

[2018-01-11 09:02] iirina commented on #3958
@pmuetschard if it fixes a regression issue from previous releases then it can be cherry picked.

[2018-01-11 09:34] aehlig commented on #3395
I was more thinking of extracting and patching all sources needed in
`WRKDIR` during the extract and patch phases and, while there changing
the reference form `new_http_archive` to `new_local_repsoitory` so
that the ready-made patched sources of the dependencies are used. In
that way, one could also benefit from standard patch procedures such
as `USES=shebangfixes`.

[2018-01-11 10:29] drigz commented on #4430
https://github.com/google/glog/issues/282
due to
bazelbuild/bazel#3979

If we want to make sure the 0.10.0 release works on Darwin we can merge something along the lines of @darrengarvey's workaround:
https://github.com/darrengarvey/glog/commit/6644f61a4322b91a169b2d23cfa77606c38383d1

[2018-01-11 11:51] dslomov commented on #2824
Relevant to WORKSPACE.lock proposal

[2018-01-11 11:54] dslomov commented on #2814
We need to work on a better autoconf approaches in the near future.

[2018-01-11 12:24] Globegitter commented on #1083
I am currently running into the problem also. We have a mono-repository with an `experimental` folder that we want to exclude per default from everything (including ci/cd). Only if someone specifically runs  `bazel run/build/test experimental/...` this should get run, built or tested.

So we can easily separate stuff that is well, experimental, does not have to be tested necessarily and should not

[2018-01-11 12:28] ensonic commented on #1491
FYI, there is also dazel: https://github.com/nadirizr/dazel

[2018-01-11 12:40] dslomov commented on #2681
Looks like there is no bug here

[2018-01-11 12:40] #2681 closed

[2018-01-11 12:41] #4408 closed

[2018-01-11 12:52] meteorcloudy commented on #4425
@iirina We didn't embed bazel version in previous release candidates. When it's empty, the function ignores it in case users use a custom built Bazel.

[2018-01-11 13:15] dslomov commented on #2536
closing this in favor of https://github.com/bazelbuild/migration-tooling/issues/55

[2018-01-11 13:15] #2536 closed

[2018-01-11 13:19] dslomov commented on #2535
I'll have to close this since it is really not actionable :(
In particular, the log is cut after `13:21:32 Caused by: java.lang.IllegalArgumentException: Invalid EvalException:` and without specifics on what the exception was I have no clue what went astray

[2018-01-11 13:19] #2535 closed

[2018-01-11 15:57] jayconrod commented on #4426
This should be fixed now. It looks like rules_go is passing in Jenkins, so this can be closed.

[2018-01-11 16:39] dslomov commented on #2373
Is this still reproducible? If yes, we need to fix it.

[2018-01-11 16:49] dslomov commented on #2215
closing due to lack of activity.

[2018-01-11 16:49] #2215 closed

[2018-01-11 16:50] johnynek commented on #2373
no, it is not.

[2018-01-11 16:50] #2373 closed

[2018-01-11 16:53] dslomov commented on #2138
assigning to @laszlocsomor for triage

[2018-01-11 17:10] dslomov commented on #1997
Closing in favor of #2656

[2018-01-11 17:10] #1997 closed

[2018-01-11 17:12] #1960 closed

[2018-01-11 17:21] dslomov commented on #1733
Is there anything more to do @jart ?

[2018-01-11 17:23] pmuetschard commented on #3958
@iirina, yes it fixes a regression introduced by https://github.com/bazelbuild/bazel/commit/146bb7dc5da87d067e463508c6ae5462bbd3d511

[2018-01-11 17:24] dslomov commented on #1606
Fixed

[2018-01-11 17:24] #1606 closed

[2018-01-11 17:27] jart commented on #1733
We're probably better off just recommending people use [java_import_external](https://github.com/bazelbuild/bazel/blob/master/tools/build_defs/repo/java.bzl) which is now in the Bazel codebase and used by a whole bunch of projects. It has all these important attributes. There's also an Apps Script microservice web GUI for generating these configs: https://github.com/bazelbuild/bazel/pull/3946

[2018-01-11 17:27] #1733 closed

[2018-01-11 17:38] jin commented on #4426
Yes, passing - thanks @jayconrod.

https://ci.bazel.build/blue/organizations/jenkins/Global%2Frules_go/detail/rules_go/348/pipeline

 Closing.

[2018-01-11 17:38] #4426 closed

[2018-01-11 17:38] dslomov commented on #1332
@aehlig this is done, right?

[2018-01-11 17:39] #1332 closed

[2018-01-11 17:43] jin commented on #4427
Green from https://ci.bazel.build/blue/organizations/jenkins/Global%2Frules_k8s/detail/rules_k8s/199/pipeline

Closing..

[2018-01-11 17:43] #4427 closed

[2018-01-11 17:44] dslomov commented on #989
cc @spomorski

[2018-01-11 17:45] jin commented on #4424
Passing now. https://ci.bazel.build/job/Global/job/rules_docker/349/

Closing.

[2018-01-11 17:45] #4424 closed

[2018-01-11 17:45] #943 closed

[2018-01-11 17:48] spomorski commented on #989
We are working on official documentation describing how to convert Maven dependencies into Bazel packages using bazel-deps and Bfg. The Maven migration guide will also be updated to use these tools. Stay tuned!

[2018-01-11 17:50] jin commented on #4421
This is a hard crash on Windows. @meteorcloudy @laszlocsomor any ideas?

[2018-01-11 17:53] aj-michael opened #4439 "aar_import should support assets"
As of Bazel 0.9.0, the native aar_import rule ignores the assets/ directory of .aar files. aar_import should extract all assets from this directory, and pass them along to the resource processing pipeline.

[2018-01-11 18:12] edbaunton commented on #1332
It was addressed in https://github.com/bazelbuild/bazel/pull/4368 in the skylark rules only (not the built-in).

[2018-01-11 18:15] pmuetschard opened #4440 "cc_binary's linkopts should expand labels used with "-Wl,""
### Description of the problem / feature request:

Passing options to the linker requires `-Wl,<option>`. To pass an option with a value, one can do one of the following:
  - `-Wl,<option> -Wl,<value>`
 - `-Wl,<option>=<value>`
 - `-Wl,<option>,<value>`

Bazel's cc_binary rule, however, only expands labels in the linkopts field if the string "does not start with $ or -". This makes it impossible t

[2018-01-11 20:17] #3872 closed

[2018-01-11 20:44] robfig commented on #4398
Testing it on another package, I see a different exception
[code]

Full output:
[code]

[2018-01-11 21:01] katre opened #4442 "Allow users to configure the available execution platforms"
Currently, the host platform is the only available execution platform during toolchain resolution. Allow users to specify additional platforms that are execution platforms, via the command line and by registering them in the WORKSPACE file.

[2018-01-11 21:56] bcsgh commented on #4332
I can reproduce this consistently in the only environment I have available to test it in. In fact I can't make it not happen. Unfortunately I have zero experience debugging Java so I don't know how to check if "the jvm [I'm] using can connect to the respective site via https." What I do know is that I haven't seen this sort of error from anything else (and I would assume at least something I'm usi

[2018-01-11 22:25] keir commented on #3709
The error message is not clear, especially if you are new to Bazel and are gluing together pieces of other Bazel WORKSPACE files to get a project going. Here's a suggested alternate message that would make it more clear:

[code]

[2018-01-12 02:33] edbaunton commented on #4419
@ashi009 do you have a full example of a repository that can be cloned to reproduce this issue? i.e. has a `WORKSPACE` and `BUILD` since the actual error message is not included in the original report it would be useful to be able to reproduce easily.

[2018-01-12 08:43] laszlocsomor commented on #4421
I'll take a look.

[2018-01-12 09:07] laszlocsomor commented on #4421
Repro'd locally using 0.10.0rc1:

[code]

I'll look for the culprit.

[2018-01-12 09:12] laszlocsomor commented on #2138
@dslomov -- The [test log](http://ci.bazel.io/job/bazel-tests/BAZEL_VERSION=HEAD,PLATFORM_NAME=windows-x86_64/350/console) is long gone. Have you seen this issue recently?

[2018-01-12 09:20] iirina commented on #4429
Thanks @jin! I added it to the list of cherry picks.

[2018-01-12 10:06] laszlocsomor commented on #4421
Culprit: https://github.com/bazelbuild/rules_nodejs/blob/8c11abc21a96a5305004307e3d98f1d05985ac75/tools/bazel.rc#L2

Bazel picks up this bazelrc because it's in the `//tools` directory.
(This is a legacy from Blaze; the global blazerc in the internal depot is also under `//tools`.)

The build succeeds with `--symlink_prefix=` using Bazel 0.10.0rc1.
Strangely the build succeeds even with `--symlink

[2018-01-12 10:30] meteorcloudy commented on #4421
I suspect https://github.com/bazelbuild/bazel/commit/8b3ba50246fed6ff13d70299fb039cc66be465c4, where we move the MSYS path support to DependencySet, so Bazel isn't able to parse unix path on Windows.

[2018-01-12 10:38] laszlocsomor commented on #4421
The culprit is https://github.com/bazelbuild/bazel/commit/8b3ba50246fed6ff13d70299fb039cc66be465c4, which removed support for Unix-style paths on Windows. That is actually WAI.

That commit uncovered a latent bug: that Bazel doesn't actually special-case `--symlink_prefix=/`, even though the docs recommend that value to disable symlink creation. I think that recommendation relies on `/` being read

[2018-01-12 10:41] iirina commented on #4421
@laszlocsomor Noted. Thanks for looking into it.

[2018-01-12 10:44] iirina commented on #4422
Thank you both for the quick fixes!

[2018-01-12 10:45] iirina commented on #4423
Any update on this?

[2018-01-12 10:53] iirina commented on #4425
@meteorcloudy Thank you, that explains it.

Thanks all for looking into this! Can someone confirm for these projects that the issue was fixed? Please tick the boxes, thanks!

- [ ] rules_closure
- [ ] Tensorflow
- [ ] rules_webtesting
- [ ] gerrit
- [ ] rules_k8s

[2018-01-12 11:15] iirina commented on #3958
Next RC will be cut on Monday.

[2018-01-12 12:03] laszlocsomor commented on #4421
I found a very simple bugfix, sending for internal review.

[2018-01-12 13:44] dslomov commented on #3676
https://bazel-review.googlesource.com/c/bazel/+/31892 is the work towards fixing the hard crash. We need to revisit the general question of duplicate names (see also #588, #1952)

[2018-01-12 15:01] jin commented on #4423
yes, once https://github.com/bazelbuild/bazel-skylib/pull/13 is merged, I can update both bazel-integration-testing and eclipse to use the Skylib function.

[2018-01-12 15:27] katre opened #4443 "ExternalPackageUtilTest hasn't run since September"
When ExternalPackageUtilTest was moved to a new directory in d27ed80762380c0fe9da9fc512c5d40a86acc59f, a build rule was not added and the test stopped being run.

[2018-01-12 16:22] #4421 closed

[2018-01-12 16:24] #3249 closed

[2018-01-12 16:37] laszlocsomor commented on #3958
Fix for rules_nodejs: https://github.com/bazelbuild/bazel/commit/e5436745e1732f5e43fc55f0deb5b19e23ce8524

[2018-01-12 16:42] EricCousineau-TRI opened #4444 "Add definition of "repository" to "Concepts and Terminology" page?"
The terms "package", "workspace", "repository", "external", etc., can be confusing, so it's *really* nice to have the "Concepts and Terminology" page to distinguish those:
https://docs.bazel.build/versions/master/build-ref.html

That being said, there does not appear to be an explicit definition of what a Bazel "repository" is.
It's more or less implicitly defined though `repository_rule`, `*local

[2018-01-12 16:43] EricCousineau-TRI commented on #4444
Related: RobotLocomotion/drake#7743, https://github.com/RobotLocomotion/drake/pull/7713

[2018-01-12 17:37] jin commented on #4433
This was just merged into Skylib. Copy and paste this into your WORKSPACE and it should just work:

[code]

[2018-01-12 17:37] #4433 closed

[2018-01-12 17:45] ixdy commented on #4425
Was `rules_k8s` directed at me? If so, I was referring to the `kubernetes/kubernetes` and `kubernetes/test-infra` projects. I was waiting on https://github.com/bazelbuild/bazel-skylib/pull/13 to be merged, and now that it has, I'll update these projects.

[2018-01-12 18:31] pmuetschard commented on #4440
Oops, never mind `["-Wl,--version-script,", "script.ldscript"]` actually works. Sorry about that.

[2018-01-12 18:31] #4440 closed

[2018-01-12 21:00] jayconrod commented on #4425
If you're updating bazel-skylib for this check, make sure to update to bazelbuild/bazel-skylib#14. There was a small bug in bazelbuild/bazel-skylib#13 that caused the version check to fail for source builds of Bazel. It shouldn't affect official releases or RCs though.

[2018-01-12 21:46] excavador opened #4445 "Error while validating output TreeArtifact"
If I use "declary_directory" instead of "declare_file" I receive following problem with symlink to system python (only under linux, under OSX everything works fine) (just local bazel, not farm)

Is it expected behavior or another bug in bazel?
[code]

### What operating system are you running Bazel on?

Linux CentOS 7

### What's the output of `bazel info release`?

release 0.9.0- (@non-git)

###

[2018-01-12 21:53] pmuetschard opened #4446 "cc_proto_library should support cc_library parameters (like copts, linkopts, etc)"
### Description of the problem / feature request:

The cc_proto_library is, in essence a cc_library rule and should thus honor the cc_library parameters, such as copts.

### Feature requests: what underlying problem are you trying to solve with this feature?

Large protos may require the `-Wa,-mbig-obj` copt on Windows, but it is not always possible to use that flag globally (e.g. if also compilin

[2018-01-12 22:07] ixdy commented on #4065
@MarkusTeufelberger might be worth addressing this in some way if `pkg_rpm` gets imported into `rules_pkg`.

[2018-01-12 23:09] jin commented on #4423
Both PRs are merged, this should be unblocked now.

[2018-01-12 23:15] jin commented on #4423
This issue should be fixed, now that both projects are using Skylib.

[2018-01-13 00:32] Utsav2 opened #4448 "Exception when trying to test in a folder named external"
### Description of the problem / feature request:

Exception from bazel

[code]

### Feature requests: what underlying problem are you trying to solve with this feature?

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

mkdir external
bazel test external/...

### What operating system are you running Bazel on?

Ubuntu

### What's the

[2018-01-13 01:57] keir commented on #2855
I concur. I am currently fighting Bazel errors and have no way to debug. For example, I am trying to create a BUILD for an external dependency, and a file is not compiling due to being unable to find an include. When I run with -s, it looks like everything should work, but it doesn't. Sigh.

[2018-01-13 13:01] borisbrodski opened #4450 ""IOException: Illegal seek" during build v0.9.0 on Android aarch64"
### Description of the problem / feature request:

Can't compile bazel on Android aarch64 (Samsung Galaxy Note 8) under Termux/ArchLinux.

### Bugs: what's the simplest, easiest way to reproduce this bug?

On an Android device (Note 8) install:

* Termux App
* Unter Termux install ArchLinux (https://wiki.termux.com/wiki/Arch)
* ArchLinux: Install with pacman -S: wget, jdk8-openjdk, zlib
* Download

[2018-01-13 14:13] edbaunton commented on #4419
Can you paste the error output? Or link to an example project? I don't understand what you mean by `assumes the tag name is always safe to use for stripping prefixes`.

Do you have the same problem with the `git_repository` skylark rules?

[2018-01-13 14:18] ashi009 commented on #4419
@edbaunton FYR https://github.com/bazelbuild/bazel/blob/ac0d354437c15003e79ec0fec168762cc9b676de/src/main/java/com/google/devtools/build/lib/bazel/repository/GitCloner.java#L311

[2018-01-13 21:59] raliste commented on #2176
Still happening at container_image

[2018-01-13 22:59] toulouse commented on #3979
I'm on 10.12.6. Getting the same error; the temporary hack doesn't appear to work, either.

[2018-01-14 00:13] ksnamburu commented on #4347
Is the bazel remote compilation on NFS store is supported?

[2018-01-14 04:29] sergiocampama opened #4452 "Loading bazel through PATH does not work when having a bazel.bazelrc file next to it"
### Description of the problem / feature request:

Imagine for example that we have the following folder structure:

[code]

We then also have the following configuration for PATH, making it easy to call bazel from any folder.

[code]

Now we find ourselves in `~/Dev/SecretProject`. If I call `bazel` from this folder, it will be found because of the `PATH` configuration. But the `bazel.bazelrc` wi

[2018-01-14 19:28] petemounce commented on #3958
https://chocolatey.org/packages/bazel/0.10.0-rc1 is available.

[2018-01-14 20:21] toulouse commented on #3979
The hack is editing config.h.in instead of config.h.cmake.in, which I realized after staring at it for a bit. The workaround works if you add it to that.

[2018-01-15 05:47] jcayzac commented on #348
@aj-michael adding to this discussion, in my understanding the aar produced by bazel are also "incomplete" in the sense there is no (obvious) way to specify a _consumer_ proguard file.

[2018-01-15 09:23] iirina commented on #4423
@jin Thanks!

[2018-01-15 09:24] davido commented on #4425
Gerrit Code Review was fixed: https://gerrit-review.googlesource.com/#/c/gerrit/+/152290.

[2018-01-15 09:43] dslomov commented on #4450
We do not really test Bazel building on tablets. Exception seems like a protobuf issue.
Why do you need to build it in that environment?

[2018-01-15 09:49] iirina commented on #3958
I created and pushed the new RC.

[code]

[code]

[code]

There was something I didn't understand when creating the RC: e5436745e1732f5e43fc55f0deb5b19e23ce8524 couldn't be cherry picked because it was seen as empty.

New CI release job is [here](https://ci.bazel.build/job/bazel/job/release/976/).

[2018-01-15 09:49] borisbrodski commented on #4450
I would like to run tensorflow on my mobile device.

It looks like `aarch64` architecture is supported
(at least according to get_cpu_value in tools/cpp/lib_cc_configure.bzl).

Do you have any suggestions about workaround or fix this problem?
Or may be a bazel aarch64 version is available to download?

Thank you!

[2018-01-15 09:49] dslomov commented on #4445
Repro steps would really help here....

[2018-01-15 10:13] iirina commented on #3958
OK, I see now. I forgot to add the baseline when creating the new RC. Will redo everything...

[2018-01-15 10:20] iirina commented on #3958
Re-created RC2:

[code]

and pushed it:
`[...]/release.sh push`

Aborted previous CI job (976[](https://ci.bazel.build/job/bazel/job/release/976/)).
New CI release job is [978](https://ci.bazel.build/job/bazel/job/release/978/).

[2018-01-15 10:35] iirina commented on #3958
[RC2](https://releases.bazel.build/0.10.0/rc2/index.html) is now available for testing.

[2018-01-15 12:20] iirina commented on #3958
Some more cherry picks that are needed:

- 22ccdd1ebe1dc495e05d894a3325f6b05e681fb3 -> was also used to fix #4422

ALL Cherry picks needed for RC3:
- f6ca78808722c8c119affdb33400838ee92d44b6
- 65c13dd5a4c1b4b5a072f7680b8f1cf3c5079b52
- e5436745e1732f5e43fc55f0deb5b19e23ce8524
- 22ccdd1ebe1dc495e05d894a3325f6b05e681fb3

[2018-01-15 12:21] #4127 closed

[2018-01-15 12:25] dslomov commented on #3656
Cannot reproduce at HEAD, regression test: https://bazel-review.googlesource.com/#/c/bazel/+/32112

[2018-01-15 12:25] #3656 closed

[2018-01-15 12:28] dslomov commented on #2776
Duplicate of https://github.com/bazelbuild/bazel/issues/3676 (yes the latter came later, but the fix for it is already in the pipeline)

[2018-01-15 12:28] #2776 closed

[2018-01-15 12:30] dslomov commented on #2618
Dupilcate of #3676

[2018-01-15 12:30] #2618 closed

[2018-01-15 12:31] iirina opened #4453 "bazel-integration-testing fails with bazel 0.10.0rc2"
The failure is due to ErrorProne [StreamResourceLeak](http://errorprone.info/bugpattern/StreamResourceLeak) check.

Error snippet:

[code]

Should be easily fixed by using using try-with-resources.

Blocks #3958.

[2018-01-15 12:33] dslomov commented on #1693
Not reproducible at HEAD

[2018-01-15 12:33] #1693 closed

[2018-01-15 12:36] iirina commented on #4422
BUILD_file_generator still failing with RC2 ([log](https://ci.bazel.build/blue/organizations/jenkins/Global%2FBUILD_file_generator/detail/BUILD_file_generator/168/pipeline/)).

The version of rules_scala must be updated in the [WORKSPACE](https://github.com/bazelbuild/BUILD_file_generator/blob/master/WORKSPACE) file.

[2018-01-15 12:53] iirina commented on #4425
Thanks all.

Tensorflow_Serving also needs a fix (see [log](https://ci.bazel.build/blue/organizations/jenkins/Global%2FTensorFlow_Serving/detail/TensorFlow_Serving/355/pipeline/)).

[2018-01-15 13:00] iirina opened #4454 "bazel-slow-tests are failing with bazel 0.10.0rc2"
The log is [here](https://ci.bazel.build/job/Global/job/bazel-slow-tests/189/console). The problems are related to docker. It seems it cannot fetch some files.

@philwo can you take a look? Do you know what the issue is?

Blocks #3958.

[2018-01-15 13:09] iirina opened #4455 "bazel-tests fails with Bazel 0.10.0rc2"
`bazel_example_test#test_cpp` is failing on darwin. Console log is [here](https://ci.bazel.build/job/Global/job/bazel-tests/438/testReport/junit/(root)/(empty)/Run_configurations___node_darwin_x86_64____node_darwin_x86_64__Results___test_cpp/).

The error message seems to be:
[code]

Blocks #3958

[2018-01-15 13:14] iirina opened #4456 "rules_dotnet is failing with bazel 0.10.0rc2 on darwin"
Error snippet:
[code]

Full console log is [here](https://ci.bazel.build/job/Global/job/rules_dotnet/359/console).

Blocks #3958.

[2018-01-15 13:14] dslomov commented on #3234
Being fixed here: https://bazel-review.googlesource.com/c/bazel/+/32114

[2018-01-15 13:16] dslomov commented on #3676
Hard crash is fixed in 822a8b3

[2018-01-15 13:16] #3676 closed

[2018-01-15 13:18] iirina commented on #4425
Gerrit still fails with this error because of the rules_closure repository. It probably needs to update the rules_closure version it is using.

[Log](https://ci.bazel.build/blue/organizations/jenkins/Global%2Fgerrit/detail/gerrit/356/pipeline/24)

cc @davido

[2018-01-15 13:20] devnev opened #4457 "Can't query packages where ignoring conditions creates cycles."
### Description of the problem / feature request:

A vendored dependency has two packages `A` and `B` which use `select()`s in their dependencies. Depending on the target platform, they produce either an A->B dependency or a B->A dependency. Querying for deps breaks on this package.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Ho

[2018-01-15 13:21] jart commented on #4425
rules_closure is updated at head. Still needs to trickle down into the other repos.

[2018-01-15 13:23] philwo commented on #4454
Fixed with https://github.com/bazelbuild/bazel/commit/96c654d43eb2906177325cbc2fc2b1e90dbcc792

Can you please cherry-pick it? Thanks!

[2018-01-15 13:24] philwo commented on #4454
It's just a test failure due to our CI config, though! Nothing to do with the actual Bazel binary, so it's not blocking the release.

[2018-01-15 13:26] iirina commented on #4456
@dslomov Could you please help with finding the culprit for this issue?

[2018-01-15 13:32] iirina commented on #4454
Thanks! Since I cannot see the actual result of bazel-slow-tests, I considered it a release blocker. Stands in the way of finding other release blockers. :smiley:

[2018-01-15 13:46] iirina opened #4458 "rules_closure tests are failing with bazel 0.10.0rc2"
Error snippet:
[code]

Full log is [here](https://ci.bazel.build/job/Global/job/rules_closure/358/consoleFull).

@jart Can you take a look and identify if it's a bazel or rules_closure issue? Thanks!

Could block #3958.

[2018-01-15 13:55] iirina opened #4459 "rules_webtesting tests are failing with bazel 0.10.0rc2 on windows"
Error snippet:
[code]

Failed tests are [here](https://ci.bazel.build/blue/organizations/jenkins/Global%2Frules_webtesting/detail/rules_webtesting/14/tests).
Full console output is [here](https://ci.bazel.build/job/Global/job/rules_webtesting/14/console).

[2018-01-15 13:57] iirina commented on #4303
Does this need a fix cherry pick for bazel 0.10.0?

[2018-01-15 13:57] iirina commented on #4459
@dslomov Can you triage this please? It seems this project was never green on our CI.

[2018-01-15 14:04] #4376 closed

[2018-01-15 14:28] #3699 closed

[2018-01-15 14:31] laszlocsomor opened #4460 "runfiles: provide language-specific runfiles libraries"
**Update(2018/04/17)**: [link to design doc](https://docs.google.com/document/d/e/2PACX-1vSDIrFnFvEYhKsCMdGdD40wZRBX3m3aZ5HhVj4CtHPmiXKDCxioTUbYsDydjKtFDAzER5eg7OjJWs3V/pub).

### Blockers

Blocking:
- "Windows, testing: make //src/test/shell/... run on Windows" (https://github.com/bazelbuild/bazel/issues/4930)

### Feature requests: what underlying problem are you trying to solve with this featur

[2018-01-15 14:31] laszlocsomor commented on #4460
related: https://github.com/bazelbuild/bazel/issues/3839

[2018-01-15 15:13] excavador commented on #4445
@dslomov please
https://github.com/excavador/bazel_repro_4445

[2018-01-15 15:24] dslomov commented on #3638
https://github.com/bazelbuild/bazel/commit/f0711024f90541727fab60760f2d1affe12cc917 fixes (incorrect bug reference in commit message, sorry)

[2018-01-15 15:24] #3638 closed

[2018-01-15 16:02] ulfjack commented on #4090
The new check in Runfiles.ConflictChecker is triggering:
[code]

[2018-01-15 16:08] ulfjack commented on #4090
I'm not sure what kind of thing the target is, but it contains mostly C++ and protobuf.

[2018-01-15 16:33] dslomov commented on #1425
Use
[code]

This will refer to the right targets

[2018-01-15 16:33] #1425 closed

[2018-01-15 16:34] ulfjack commented on #4090
It's actually triggered by a google-specific rule that's not open source.

[2018-01-15 16:36] dslomov commented on #1247
Fixed at HEAD

[2018-01-15 16:36] #1247 closed

[2018-01-15 16:37] agoulti commented on #4390
We're seeing this repeat. E.g., sponge/4a1b1621-ae8d-4396-b371-45c675373cbc

Is there any additional information we could collect to help diagnose this?

[2018-01-15 18:58] jmhodges commented on #4303
Ooo, from this user's perspective, that would be great!

I just confirmed the patches that closed out #4376 do fix this ticket! https://travis-ci.org/jmhodges/bazel_bugs/builds/329178928

[2018-01-15 21:13] vmax opened #4461 "Bazel support for full proto on Android (for json and prototxt)"
### Description of the problem / feature request:

## Android: allow java_proto_library as dependency for android_binary
It's impossible to utilize full protobuf library on Android device if build is done by `bazel`

### Feature requests: what underlying problem are you trying to solve with this feature?

I need to include full runtime library together with `protobuf-java-util` unless there's a wa

[2018-01-16 07:12] aehlig opened #4462 "External repo: redo the actual fetching only if predicted hash changed (or is missing)"
### Description of the problem / feature request:

Feature request: in external repositories, separate the actual network access from local transformations (like patching, #3395). Also, a reaccessing the network is not necessary, if the predicted hash of the fetched artifact has not changed, same if a given commit hash in an external git repo has not changed.
While currently mitigated by our http

[2018-01-16 07:36] davido commented on #4425
Done in: [1], the CL is pending for review.

* [1] https://gerrit-review.googlesource.com/152297

[2018-01-16 08:58] ulfjack commented on #4090
The tricky part is tracking down exactly where the middleman gets added. :-(

I fixed the one rule that violates the new invariant, and am working on the second. I don't know how many are still left - I don't have a good way of getting a list of actually failing targets (if Bazel crashes, all targets in the same batch get marked as failed by our infrastructure) or of determining their rule types.

[2018-01-16 09:31] iirina commented on #4425
Thank you @davido!

[2018-01-16 09:33] Pokharaa commented on #3801
I did as told by you @katre .I downloaded the bazel-0.5.4-dist.zip file and installed bazel.
But at the end, I got an error "Couldn't build bazel" :(.
Not able to create bazel.exe file in output folder.

 My error is:
Executing genrule //src:embedded_tools failed (Exit 1): bash.exe failed: error executing command
  cd C:/tempdir/shrtpath/tmp/bazel_snP6uY1x/out/execroot/io_bazel......

Please sugge

[2018-01-16 09:45] drigz opened #4463 "Make private headers for cc_library "just work" for external and generated files"
Add a way of including private headers (ie, headers included by files in `srcs` that should *not* be available to targets that depend on this `cc_library`) that works the same when the `cc_library` is in an external repo and when the headers are generated files.

### Feature requests: what underlying problem are you trying to solve with this feature?

Currently, the only way I'm aware of including

[2018-01-16 10:50] Pokharaa commented on #3801
Sorry for the trouble @katre .
I solved it by installing the latest version of bazel0.9.0dist. :) :)

[2018-01-16 11:19] jart commented on #4458
Don't let that block your release. I thought that test might have been disabled on your end earlier. If you want, you can send me a CL internally deleting that from our third_party folder, and I'll push it to GitHub right away.

[2018-01-16 11:28] meteorcloudy commented on #4425
@jart @iirina I'm sending a PR to update rules_closure in TF repo.

[2018-01-16 11:58] buchgr commented on #4343
Ola, your change description indicates that this is exactly what you were aiming for. In there it says "regardless of whether a spawn is cacheable or not, its artifacts should be uploaded to the remote cache."

Can you please elaborate your thoughts behind this behavior - I would like to understand the problem you were trying to solve.

Thanks.

[2018-01-16 12:53] #3395 closed

[2018-01-16 12:56] meteorcloudy commented on #4459
Actually, the job doesn't run on Windows, but there are some Windows-like test running on Linux, that's why it's failing.
@DrMarcII Should we disable these tests on Linux?
[code]

[2018-01-16 13:33] excavador commented on #4445
@dslomov Good day,

1. Do you able to reproduce problem by my repo?
2. Is it bug or not?
3. If yes, can you quickly note the bug status and following steps?

[2018-01-16 13:51] ulfjack commented on #4090
All the failures I looked at were due to the same two root causes, which I have fixes for. It's possible that I still missed some since I didn't look at all the failures (several thousand).

[2018-01-16 15:10] ola-rozenfeld commented on #4343
Oh, by output you meant the artifacts? Yes. I'm really sorry, I misread the bug description. Yes, this was intentional -- if a test is marked as non-cacheable (which they are), its XML file and stdout should still be uploaded to the remote cache, to be available for viewing in the CI UI. That was, in fact, the reported bug that my change fixed (test logs were missing remotely).
I understand this i

[2018-01-16 15:20] katre commented on #4065
I can look into a better error report.

What result would you expect if you try to build an rpm file without having rpmbuild installed?

[2018-01-16 15:41] aj-michael commented on #348
@jcayzac , please file a separate issue. If I understand what you mean, that is probably a much easier problem to solve. The JNI issue is a little tricky because at the moment android_library doesn't do any linking.

[2018-01-16 15:46] scottcjt commented on #3925
Same here. Minimized reproducible sample can be found below:

https://github.com/scottcjt/bazelbug

Bazel generates the directory structure `<runfiles>/flatbuffers/python/flatbuffers` for the reference to `@flatbuffers/:runtime_py`. Then it assigns two Python paths:

* `<runfiles>`
* `<runfiles>/flatbuffers/python`

The second one is what we expected, but Python will always take the first one and

[2018-01-16 15:53] drigz commented on #3925
@scottcjt If I'm understanding right, I've run into that issue too (Python confusing the external repo with the module directory). We use one of two workarounds:

* for simple modules (with just one file, eg `mock`), use a genrule to rename `mock.py` to `__init__.py` in the repository root, so that Python can find everything in the repo root
* otherwise, make sure the repo name doesn't match the m

[2018-01-16 16:34] jfroy opened #4464 "Git hash stamping for an external repository"
### Description of the problem / feature request:

I need to get the git hash from a git_repository define in a WORKSPACE. Using a workspace_status_command option as described in #216 does not work, since the *top level* workspace ends up providing the git hash, not the external repository.

### Feature requests: what underlying problem are you trying to solve with this feature?

I need to incorpo

[2018-01-16 17:27] buchgr commented on #4343
Thanks for the clarification. I ll remove this is a release blocker. I think this will need more discussion. Essentially, we would like to upload any blob referenced by the Build Even Protocol (BEP). We should not upload anything else. It's easy to imagine a user marking a target as "no-cache" because of i.e. a humongous output size.

[2018-01-16 17:29] buchgr commented on #3958
You can remove #4343 as a release blocker. The change was intentional and more discussion is needed.

[2018-01-16 18:02] DrMarcII commented on #4459
This project has been green on the CI, but https://github.com/bazelbuild/continuous-integration/commit/abae192cfdebe179aaf3be1923dad745fc0fa78c removed the saucelabs support from Jenkins that these tests relied on. For now I suggest you go ahead and disable this project.

[2018-01-16 18:02] scottcjt commented on #3925
@drigz Yes, they do the trick. Thanks for the advice.

[2018-01-16 18:03] werkt commented on #3479
This looks like it has been fixed by prefixing hrefs with the maching version during site generation.  Closing!

[2018-01-16 18:03] #3479 closed

[2018-01-16 18:36] yurivict commented on #3395
Thanks! I will try it.

[2018-01-16 19:52] jin commented on #4461
cc @ahumesky

[2018-01-16 20:01] yuanzhedong commented on #2267
Get the same error on Mac 10.12.1 and bazel 0.9.0

[2018-01-16 20:10] BenTheElder commented on #4065
Probably just a note that `rpmbuild` appears to be missing and needs to be installed? In our use case people are blindly building the repo without necessarily knowing that RPMs are one of the artifacts.

[2018-01-16 20:58] sanjoy commented on #4425
I have checked in a fix to TensorFlow's workspace.bzl which should make it out to the open source repository in the next sync.

[2018-01-16 21:04] jin commented on #4425
@sanjoy I recommend following what Kubernetes is doing, instead of re-implementing the version check  https://github.com/kubernetes/kubernetes/commit/d8f6febc7d2ea5c045dd93ff9ec7a06f11cdf2a5

[2018-01-16 22:01] davido commented on #4425
@jin ... and gerrit https://github.com/GerritCodeReview/gerrit/commit/2e01c36cecdf92a0209b998ed0f9bb63d33219b8.

[2018-01-16 22:19] spinorx opened #4466 "iOS static framework does not build with bazel anymore"
### Description of the problem / feature request:
iOS static framework does not build with bazel 0.9.0 (and 0.8.0).  Used to work fine with 0.7.0

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.
[code]
Shows:
[code]

### What operating system are you running Bazel on?
Running on Mac 10.13 and Xcode 9.2.  More details:
[code]

### What

[2018-01-16 22:25] #4439 closed

[2018-01-16 22:28] buchgr commented on #4363
This has been fixed in 0.10.0.

[2018-01-16 22:28] #4363 closed

[2018-01-16 23:47] sanjoy commented on #4425
@jin @gunan suggested not adding a new dependency for parsing.

[2018-01-17 00:59] jcayzac opened #4467 "[Feature][Android] Support for consumer proguard files in AARs"
Following [this comment](https://github.com/bazelbuild/bazel/issues/348#issuecomment-358003363) I'd like to request support for adding consumer proguard files when creating AARs.

Currently there's no obvious way for packaging a consumer proguard file, something that's standard when using gradle and AGP to build a library.

[Anatomy of an AAR file](https://developer.android.com/studio/projects/and

[2018-01-17 00:59] jmhodges opened #4468 "nightly debs aren't installable"
If you install from a nightly build's deb ([like this one](https://ci.bazel.build/view/Bazel%20bootstrap%20and%20maintenance/job/bazel/job/nightly/195/artifact/node=linux-x86_64/variation=/bazel_-linux-x86_64.deb)), you'll get this error:

[code]

(which is a bummer because a blocker I've got was recently fixed)

[2018-01-17 01:54] jmhodges commented on #4468
(The bazel--without-jdk-installer-linux-x86_64.sh does, though, for others trying to make nightlys work!)

[2018-01-17 05:29] jart commented on #4425
I agree. I just removed the version check entirely in rules_closure. Bazel is significantly more stable these days than when I added in back in 2016.

[2018-01-17 07:31] davido commented on #4425
Not every Bazel version update is backwards compatible. Skylark will evolve, some methods will be declared deprecated or even discontinued, you will refactor your build tool chain. Especialy with big community and user base (Gerrit Code Review) you will inevitably end up with obscure error messages during the build. Minimum supported Bazel version check is very helpful in this context.

I have bet

[2018-01-17 08:11] benjaminp commented on #4090
I guess we could throw an `ExecException` instead of a preconditions failure if it yields better error reporting. It's catchable in analysis, too, but I didn't want to expand nested sets unnecessarily.

[2018-01-17 08:19] jart commented on #4425
Only until Bazel drops a 1.x release.

Internally at Google, if I rewind the repository to a few years ago, it auto bootstraps whatever version of Blaze was being used at the time. That ensures history doesn't go down the memory hole when stuff evolves, e.g. depset.

Bazel can deliver that same level of historical integrity to your codebase, if and only if you [pin and mirror dependencies](https:/

[2018-01-17 09:40] davido commented on #4425
While I see your point, what about incompatible change in your build tooth chain? Even such innocent [PR "Consume java_import_external.bzl from bazel core"](https://github.com/bazelbuild/rules_closure/pull/239), like my attempt de-duplicate `java_import_external` rule from `rules_closure` and consume it from Bazel core (that you added to Bazel core recently) would be problematic to merge, as it wo

[2018-01-17 09:48] laszlocsomor commented on #4425
version check fails on rules_nodejs too: https://ci.bazel.build/blue/rest/organizations/jenkins/pipelines/Global/pipelines/rules_nodejs/runs/179/nodes/19/log/?start=0

[2018-01-17 10:03] jart commented on #4425
@davido That's would only be a breaking change. It wouldn't be a memory-hole change.

Assuming rules_closure users are doing what I've always encouraged them to do (pin CR in WORKSPACE w/ sha + redundant mirrors) then me merging your PR would only be a minor inconvenience for users, when they choose to upgrade to the latest rules_closure.

That doesn't concern me so much. Old revisions of the user

[2018-01-17 10:27] laszlocsomor commented on #4425
No, this failure is unrelated. (It's about a Python 2 vs. 3 difference.)

[2018-01-17 10:54] laszlocsomor opened #4469 "bazel,version: non-release versions display bogus "build time""
### Description of the problem / feature request:

"bazel version" for non-release builds gives bogus "build time" entry.

UPDATE(2018-01-17 12:26 CET): the problem seems to only affect release candidates and nightlies. From-source builds reset the timestamp to 0.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Release version's tim

[2018-01-17 10:58] laszlocsomor commented on #4469
For built-at-head:
[code]

[2018-01-17 11:46] ddwolf commented on #164
I am running this problem now.
I am converting an existing project which is built by make. this project contains some header files whose names end with `.map`. So is there a solution for this?

[2018-01-17 12:45] dbabkin commented on #3769
Hi,
Small update from my side:
JavaSourceJarsProvider had been created inside JavaInfo

[2018-01-17 13:38] iirina commented on #3958
@buchgr Noted.

I replayed the CI release job ([1027](https://ci.bazel.build/job/bazel/job/release/1027/)) to figure out what blockers were fixed without cherry picks.

[2018-01-17 15:05] #4443 closed

[2018-01-17 15:18] robfig commented on #4398
The first exception does not occur if I pass "--jobs 1", so presumably this is a bug in the interaction with concurrent workers. If you have any guidance or links as to how to debug / develop a fix for it I'd be happy to try to put together a pull request. Looking at the second one..

[2018-01-17 18:14] caiosuzuki commented on #4337
Hi, I am experiencing the same errors @gongwei had. I then got the defs.bzl file that @davidstanke linked and replaced mine.

I'm trying to build tensorflow with GPU support and I got the following error:

[2018-01-17 18:30] tybook commented on #4343
This is exactly what we were doing with `no-cache` up to 0.9.0. Our remote cache hit rate is now significantly degraded because it fills up with rarely-used huge outputs.

[2018-01-17 18:38] ola-rozenfeld commented on #4343
I guess we will have to make this behavior a special case for test actions.
Ugly, but makes sense.

On Wed, Jan 17, 2018 at 1:31 PM, Ty Book <notifications@github.com> wrote:

[2018-01-17 20:07] ahumesky opened #4472 "aar_import.deps doesn't seem to add classes to the compiletime classpath"
E.g. for an app that uses AppCompatActivity, if it depends on `@com_android_support_appcompat_v7_26_1_0//aar` using the gmaven rules, java compilation can't find `android.support.v4.app.TaskStackBuilder`, even though the appcompat aar has a dep on the support-core-utils aar, which is where TaskStackBuilder comes from.

[2018-01-17 20:41] jgavris commented on #1215
+1, are there any efforts planned to add support for `-fmodules` for C/++?

[2018-01-17 22:13] jmillikin-stripe commented on #3317
This is done.

[2018-01-17 22:13] #3317 closed

[2018-01-18 08:00] aehlig commented on #3637
As there is a workaround, using `http_archive` from `@bazel_tools`, this is no longer a P1. In fact, we might even deprecate the built-in `new_http_archive` in favour of `http_archive` from `@bazel_tools`.

[2018-01-18 08:01] ulfjack commented on #1215
It's all there already, I believe, although I can't say off the top of my head how to enable it in Bazel, and it requires a fairly recent version of Clang.

[2018-01-18 10:20] laszlocsomor opened #4473 "windows,launcher: use the Unicode Windows API"
### Description of the problem / feature request:

The native launcher for {sh,java,py}_binary rules should use the Unicode Window API, e.g. CreateProcessW instead of CreateProcessA here: https://github.com/bazelbuild/bazel/blob/adecfb2101a1bb19c53ab6c0361cd59073f8b723/src/tools/launcher/launcher.cc#L170

### Feature requests: what underlying problem are you trying to solve with this feature?

To

[2018-01-18 12:02] buchgr commented on #4343
Ugly, but makes sense.

That's not enough. In order to solve this once and for all everything referenced in the BEP needs to be uploaded.

[2018-01-18 12:47] davido commented on #4425
The CL above was merged, so that Gerrit job on CI@Bazel should be green again.

[2018-01-18 13:51] dslomov opened #4474 "Tensorflow build is broken in Bazel Nightly and in 0.10"
Failure:
https://ci.bazel.build/blue/organizations/jenkins/Global%2FTensorFlow/detail/TensorFlow/375/pipeline/
Smaller repro:
[code]

[2018-01-18 13:52] dslomov commented on #4474
I bisected this to https://github.com/bazelbuild/bazel/commit/2aeaeba66857c561dd6d63c79a213f1cabc3650d @jmillikin-stripe

[2018-01-18 13:54] dslomov commented on #3958
#4474 is a release blocker

[2018-01-18 14:06] iirina commented on #3958
I cut RC3 today:

[code]

CI [release job](https://ci.bazel.build/view/Bazel%20bootstrap%20and%20maintenance/job/bazel/job/release/1046)

New TODO list:

* Rollback the culprit of #4474 (2aeaeba66857c561dd6d63c79a213f1cabc3650d)

[2018-01-18 14:18] iirina commented on #4456
Any update on this? It's failing with RC3 also

[2018-01-18 14:22] dslomov commented on #4456
Sorry I missed it - looking

[2018-01-18 14:25] dslomov commented on #4456
I'll try to repro and find the culprit

[2018-01-18 14:35] petemounce commented on #3958
https://chocolatey.org/packages/bazel/0.10.0-rc3 has been pushed.

[2018-01-18 14:51] dslomov commented on #4474
Talked with lberki@ offline, assigning to him for investigation

[2018-01-18 15:20] lberki commented on #4474
Paging @jmillikin-stripe and @htuch

This change appears to have been a mistake according to my admittedly limited knowledge. The point of mostly static linking is that every library is linked statically except for the runtime libraries, which are linked dynamically, so why would one link runtime libraries statically in that mode?

I'll send out a rollback to be cherry-picked into the 0.10.0 relea

[2018-01-18 15:29] htuch commented on #4474
I think the idea is that libstdc++ is a language/compiler library, not an environment specific runtime library. @mattklein123 for Envoy perspective on what a mostly static link should be.

[2018-01-18 16:08] iirina commented on #4456
Replayed the job [here](https://ci.bazel.build/job/Global/job/rules_dotnet/367/)

[2018-01-18 16:12] iirina commented on #3958
Replayed CI release job to rule out some flakiness: [1048](https://ci.bazel.build/view/Bazel%20bootstrap%20and%20maintenance/job/bazel/job/release/)

[2018-01-18 16:30] ensonic commented on #965
Ideally the error message would contain ".. previously defined here <file>:<line>"

[2018-01-18 17:03] ola-rozenfeld commented on #4343
Right. What are the other things referenced by the BEP?

On Thu, Jan 18, 2018 at 7:02 AM, Jakob Buchgraber <notifications@github.com>
wrote:

[2018-01-18 17:06] jmillikin-stripe commented on #4474
Yes, libstdc++ is supposed to be safe to link statically. The primary goal of "mostly-static" (as I understand it from GOOG days) is to statically link everything except glibc, which depends on dynamic linking for core functionality.

I don't know much about Tensorflow or CUDA, but I notice https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/fused_conv/BUILD is referencing shar

[2018-01-18 17:11] htuch commented on #4474
@lberki can we hold back on this for a short period; I'll reach out to you on IM.

[2018-01-18 17:12] mattklein123 commented on #4474
On the high level topic, libstdc++ should definitely be statically linked in "mostly static" builds. libstdc++ is a compiler/application library, not a system library like glibc. Thus, an application mostly statically linked to everything other than glibc can be dropped on a system that only has a compatible glibc version. There is very important.

[2018-01-18 17:45] iirina commented on #4456
The job finished in a green state and replaying the release job also didn't surface it again. Closing as flaky.

[2018-01-18 17:45] #4456 closed

[2018-01-18 18:12] cushon commented on #2585
This was fixed by 6e945ced1f3d61d2497626db9138127bcb302c77 (which included a backport of the javac fix: https://github.com/google/error-prone-javac/commit/67f328be53a1177743c0bf6477eb9911d9079e63).

[2018-01-18 18:12] #2585 closed

[2018-01-18 18:13] cushon commented on #3410
The javacopt handling has been updated to work with `--release` (and other javac flags that start with `--`):

[code]

I'm still working on migrating the default `java_toolchain` to use `--release`.

[2018-01-18 18:28] gunan commented on #4474
@jhseu and @allenlavoie  to check if he has any ideas on this.

[2018-01-18 19:02] #4472 closed

[2018-01-18 19:03] hhclam commented on #3410
Awsome! Is there a way to do select based on the java version?

[2018-01-18 21:00] allenlavoie commented on #4474
Happy to help debug, but I haven't been able to reproduce the failure.

I tried with [Bazel nightly #198](https://ci.bazel.build/job/bazel/job/nightly/198/) and TensorFlow at head (https://github.com/tensorflow/tensorflow/commit/4595f1cff635ce024e875f0f3d480172731b0b22), and I'm getting a successful build.

[code]

Could be related to the version of libstdc++? I'm using GLIBCXX_3.4.22

[2018-01-18 23:12] dws-uber opened #4475 ""build --action_env=PATH" in /etc/bazel.bazelrc removes PATH from build actions"
### Description of the problem / feature request:

When `/etc/bazel.bazelrc` is present and contains `build --action_env=PATH`, bazel _removes_ `PATH` from the environment, at least when building C++.

### Feature requests: what underlying problem are you trying to solve with this feature?

There is a discrepancy between the docs for --action_env and what it actually does. The docs say that it sho

[2018-01-19 02:16] f9rocket opened #4477 "Test executable fails only when run under bazel test"
### Description of the problem / feature request:

I have a unit test that calls certain functions in a DLL. When I run this unit test under `bazel run` or as a standalone executable the unit test passes. When I try to run the unit test through `bazel test` the test fails and only partial test output is produced.

Sample output:

[code]

But when I run it using `bazel test`:

[code]

I suspected g

[2018-01-19 09:45] dslomov commented on #4474
Ok, interesting, I can reliably reproduce on my machine, and CI machines repro this too. We need to look more.

[2018-01-19 10:08] dslomov commented on #4474
Ok, the debug yielded that:
* `//tensorflow:libtensorflow_framework.so` is linked against a dynamic version of libstdc++ (`-lstdc++` im params)
* binaries dependent on it (e.g. `//tensorflow/contrib/fused_conv:gen_fused_conv2d_bias_activation_op_py_wrappers_cc`) is linked against a static version of libstfc++ (`-l:libstdc++.a`)

This is problematic at least for gcc 4.8.4 (libstdc++.so.6.0.19)

[2018-01-19 10:12] dslomov commented on #4474
Machines that has no issues use gcc 6.3.0.

[2018-01-19 10:20] lberki commented on #4474
Let's roll back.

This is a case of linking `libstdc++` twice, but unfortunately, there is no easy workaround for TensorFlow and I'm not convinced the offending patch does the right thing: it makes dynamic libraries link `libstdc++` dynamically but binaries link it statically, thus making dynamic libraries built with Bazel and binaries built with Bazel incompatible. That doesn't sound good.

Now,

[2018-01-19 11:16] iirina commented on #4474
TF is now green on our CI, but I see no rollback. Was this fixed on TF side?

[2018-01-19 11:18] iirina commented on #3958
Replayed once more [(1066)](https://ci.bazel.build/view/Bazel%20bootstrap%20and%20maintenance/job/bazel/job/release/1066/) to see if #4474 is fixed. TF is green on the CI.

[2018-01-19 11:33] dslomov commented on #4474
I think some machines have gcc 6.3.0 and some have gcc 4.8.4, that is why we haven't detected this earlier.

[2018-01-19 11:33] dslomov commented on #4474
and also why CI is now green

[2018-01-19 12:26] iirina commented on #4474
Is there a reason why we have machines with different gcc versions for our CI?

[2018-01-19 12:39] alexanderlobov opened #4479 "bazel fails to link with libstdc++"
### Description of the problem / feature request:

bazel fails to build a project with an error

[code]

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Minimal example: https://github.com/alexanderlobov/try-bazel/tree/master/linking-with-dynamic-lib

If I build the project with bazel from brew, it works:

[code]

Then I try to build

[2018-01-19 12:50] alexanderlobov opened #4480 "`$ORIGIN` in RPATH on macOS"
### Description of the problem / feature request:

A binary built by bazel has linux-specific `$ORIGIN` variable in RPATH on macOS.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[Minimal example here](https://github.com/alexanderlobov/try-bazel/tree/master/linking-with-dynamic-lib).

To build:

[code]

To check RPATH

[code]

As a

[2018-01-19 13:07] #4474 closed

[2018-01-19 13:37] alexanderlobov commented on #1534
Is this task planned in the near future?

[2018-01-19 14:05] lberki commented on #1534
@mhlopko is OOO for five more business days; I'd rather he make an assessment. He has our grand plan for sorting out linking in his head.

[2018-01-19 15:04] dslomov commented on #3958
Please cherry-pick  f0bec36 (fix for #4474)

[2018-01-19 15:39] iirina commented on #4474
@dslomov I don't think that explains it. The rollback probably fixed this for now, but I still do not understand why the CI did not catch this.

The job is green on our CI because it uses the latest bazel release (0.9.0) to build TF and that release doesn't have this bug.

About machines with different gcc versions: Jenkins runs the job both on Ubuntu 16 and on Ubuntu 14. I checked and each of the

[2018-01-19 15:44] iirina commented on #4474
All the Tensorflow jobs built with bazel @ HEAD have been red for a while

https://ci.bazel.build/job/Global/job/TensorFlow/

I don't think anyone was checking on them.

[2018-01-19 15:58] lberki commented on #4474
Put then why did we have a green build recently? Are our CI machines not uniform enough?

[2018-01-19 16:05] iirina commented on #4300
This was actually a Bazel issue, see #4474

[2018-01-19 16:06] iirina commented on #4300
I'll close this as a duplicate, although it's the other way around.

[2018-01-19 16:06] #4300 closed

[2018-01-19 16:11] f9rocket commented on #4477
I manually ran the test exe inside msys2 and that also causes the faulty behavior, so it seems like the issue is inherent to msys2 or its bash shell.

[2018-01-19 16:47] iirina commented on #3958
Created RC4:

[code]

[CI job](https://ci.bazel.build/job/bazel/job/release/1071/)

[2018-01-19 17:15] roblg opened #4483 "java 1.8.0_162: java.util.MissingResourceException: Can't find bundle for base name com.google.errorprone.errors, locale en_US"
### Description of the problem / feature request:

On OSX, with java 1.8.0_162-b12 from Oracle, running bazel 0.9.0 `-without-jdk` installed via self-extractor or homebrew fails with an error. Earlier Java update versions work fine (e.g. u131). Bazel 0.9.0 with bundled JDK also works fine.

Error:

[code]

* Install bazel 0.9.0-without-jdk, or via homebrew
* Install Java 1.8_162
* Set JAVA_HOME to

[2018-01-19 17:28] jmillikin-stripe commented on #4479
`-l:libstdc++.a` is only supposed to be set in Linux and FreeBSD. If it's being set in MacOS, that sounds like a bug in the crosstool platform detection.

[2018-01-19 18:05] kamalmarhubi commented on #4047
@AustinSchuh

That is very fair. The package metadata includes checksums, which would presumably be validate by sdklib though I'd want to check. If you supplied your own trusted copy of the that could work.

But for the easiest implementation, sounds like a `urls` property would be good. Will take a look to see how hard this is. I really want to reduce our manual-steps-to-first-build.

[2018-01-19 19:15] jmillikin-stripe opened #4484 "Please add flag `--host_linkopt` for setting linker options on host-build tools"
### Description of the problem / feature request:
Bazel has `--host_copt` and `--host_cxxopt` flags that control C++ compiler options when building binaries for the host (e.g. as tool inputs to a genrule). This request is to add a `--host_linkopt` flag, which does the same but for the linker.

### Feature requests: what underlying problem are you trying to solve with this feature?
Some C++ flags,

[2018-01-19 19:26] jmillikin-stripe opened #4485 "Please add a way to control compilation mode in host-build tools"
### Description of the problem / feature request:
When debugging binaries written in C++, `bazel build -c dbg` is very useful for enabling assertions and debug symbols and such. However, this flag doesn't apply to binaries built for the host (e.g. as tool inputs to genrules).

Please add a way to control the compilation mode for host builds. Promising approaches include making the existing `--comp

[2018-01-20 10:09] Globegitter opened #4492 "deb with pre-extracted bazel"
### Description of the problem / feature request:

I was trying to build a docker image with bazel using `rules_docker`. See https://github.com/bazelbuild/rules_docker/issues/285. Turns out the thing that makes it very inconvenient and the resulting image very unfitting for ci jobs is that bazel has to be extracted on first run in the container.

### Feature requests: what underlying problem are y

[2018-01-20 12:28] buchgr commented on #4347
No it's not.

[2018-01-20 13:17] Jayoprell commented on #3018
/home/nvidia/installTensorFlowTX2/bazel-0.4.5-dist/src/tools/android/java/com/google/devtools/build/android/ziputils/BUILD:20:1: Java compilation in rule '//src/tools/android/java/com/google/devtools/build/android/ziputils:ziputils_lib' failed: Worker process sent response with exit code: 1.
java.lang.InternalError: Cannot find requested resource bundle for locale en_US
	at com.sun.tools.javac.uti

[2018-01-20 18:03] ubrandt commented on #4483
I'm hitting the same problem on RHEL6 with the same version of Java and bazel.
Switching back to jdk1.8.0_152 solved the issue.

[2018-01-20 18:50] jin commented on #3018
@Jayoprell Bazel 0.4.5 was released quite a while ago. Do you mind trying your build again with a later release like 0.9.0? https://github.com/bazelbuild/bazel/releases

[2018-01-20 20:38] arjantop commented on #1402
Is this still going to be implemented?

[2018-01-20 22:37] shariat commented on #3935
any update on this would be really appreciated

[2018-01-20 22:55] benjaminp commented on #4485
Independent of the merits of this and #4484, `--nodistinct_host_configuration` will cause the tools to be built with the target configuration. This can be handy way to apply various C++ configuration options to build tools if you're not cross-compiling.

[2018-01-21 02:07] Jayoprell commented on #3018
Hi, thanks for your advice.
I want to install tensorflow on Jetson TX2 and I follow the instructions [http://www.jetsonhacks.com/2017/09/14/build-tensorflow-on-nvidia-jetson-tx2-development-kit/](url) to install it. In the installing process, bazel need to be install first. For the begainning, I compile bazel 0.9.0 and it failed. The errors are as follows:
`ERROR: /home/nvidia/Desktop/bazel/bazel-

[2018-01-21 08:00] davido opened #4495 "Recommended protobuf integration triggers bazel warning: external/com_google_protobuf_java/WORKSPACE (@com_google_protobuf) does not match"
//CC @ejona86 @cgrushko as author of [Protobuf integration recommendation](https://blog.bazel.build/2017/02/27/protocol-buffers.html) and maintainer of https://github.com/cgrushko/proto_library.

In https://github.com/bazelbuild/rules_closure/pull/231, https://github.com/bazelbuild/rules_closure/pull/232 `rules_closure` [recently](https://github.com/bazelbuild/rules_closure/commit/d3e0437b6964db07

[2018-01-21 09:54] ittaiz commented on #3735
Hi,
What is the status of this issue?

[2018-01-21 09:54] ittaiz commented on #3735
@helenalt this might become another blocker

[2018-01-21 11:07] mboes commented on #2574
@ulfjack

Say I have two different two different projects, A and B, with two different WORKSPACE files (including different workspace names). Does this mean that if both projects happen to have targets (possibly differently named) where the inputs and actions are identical across both projects, then I'll get cache hits on project B after building project A?

[2018-01-21 14:08] arjantop commented on #3796
Is it planned that the behavior will change? (not unconditionally creating bazel-out)

[2018-01-21 21:50] baskus commented on #2537
What is the status of this? When will we get debug symbols without hacks?

Thanks! :)

[2018-01-22 04:41] marup commented on #3845
I have the same dependency issues you mention in your second paragraph on Dec 6, 2017. I am using aj-michael's gmaven_rules referenced above (commit 5e89b7c , but have to manually add a number of dependencies, including the ones you mentioned (android_arch_core_common_1_0_0, android_arch_lifecycle_runtime_1_0_3, android_arch_lifecycle_common_1_0_3, com_android_support_support_vector_drawable_27_0_

[2018-01-22 04:47] marup commented on #4106
I'm running 0.9.0 and still using aj-michael's workaround. I see this is targeted to 0.9. Can we expect support for this to be part of bazel soon?

[2018-01-22 07:53] laszlocsomor commented on #2574
@mboes : No, because Bazel uses different output directories for these workspaces, plus the workspace-relative file names (of the output files) are different.

[2018-01-22 08:04] PatrickLang opened #4496 "Bazel failing with VC++ compilers in "C:\Program Files""
### Description of the problem / feature request:

The default install of Visual Studio puts the C++ compiler in a subdirectory under "Program Files". When trying to build a project, it fails saying "c:\Program" does not exist:

[code]

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Prerequisites

1. [Visual Studio 2017 community ed

[2018-01-22 08:06] PatrickLang commented on #4496
Also of note - this works fine with Bazel 0.9.0 on my Centos 7 VM. Seems to be a windows specific path problem. My best guess is that when paths are passed to msys2-built tools they need " " escaped to "\ "

[2018-01-22 08:08] ulfjack commented on #2574
There are multiple caches here. You can get a cache hit on the local or remote spawn cache, but not on the action cache, which is workspace-local, or on the in-memory cache, which is also workspace-local. If the two rules are in different locations (say //foo and //bar, then the names of the output files are likely different, in which case you can't get a cache hit either.

[2018-01-22 08:59] ulfjack commented on #3796
The problem with not creating that symlink is that you won't be able to run bazel with -s and then rerun individual commands in your workspace. At the same time, keeping the symlink around doesn't hurt much, even if you run multiple builds with different output bases in the same workspace - the symlink will flip-flop around depending on what the most recent build was, but Bazel should work just fi

[2018-01-22 08:59] iirina commented on #3958
The release job failed for RC4 and it was not pushed. Investigating now.

[2018-01-22 09:05] mboes commented on #2574
@ulfjack thanks. Is there any place you can point me to, to understand the difference between the spawn cache and the action cache? Does the (local or remote) spawn cache cache action outputs, or is that the action cache?

Being able to cache action outputs is pretty important for our use case. Haskell packages are notoriously slow to build. Many of them have source code (but not binary artifacts)

[2018-01-22 09:13] ulfjack commented on #2574
The spawn caches cache action outputs, the action cache works with outputs in the output tree (it doesn't cache files separately).

[2018-01-22 09:39] katre commented on #4405
My apologies for not looking into this sooner.

I have tried to reproduce this and I cannot. Here is my command:
[code]

Can you give more details of your bazelrc or gitconfig that might be causing problems?

[2018-01-22 09:46] ulfjack commented on #3360
@buchgr reported that he's gotten a lot of warnings with my patch.

[2018-01-22 09:56] mboes commented on #2574
Gotcha. So IIUC, in the use case envisioned above, we should be able to avoid package rebuilds even across multiple (differently named) workspaces.

[2018-01-22 09:59] lberki commented on #4463
/cc @ventrescadeatun

[2018-01-22 10:15] ulfjack commented on #2574
Yes, absolutely.

[2018-01-22 10:39] #4422 closed

[2018-01-22 11:55] ittaiz commented on #2574
Ulf,
Any chance for a writeup (blog post?) about how and when the shell
environment and its paths effect the cache?

On Mon, Jan 22, 2018 at 12:15 PM Ulf Adams <notifications@github.com> wrote:

[2018-01-22 12:17] ulfjack commented on #3360
The problem occurs if an action gets marked as dirty, but turns out to be an action cache hit. Then Bazel caches the old FileArtifactValue, which is incorrect.

[2018-01-22 13:23] laszlocsomor commented on #4477
Thanks for reporting the bug and sharing as much as you could. I think we can try blind debugging.

My first thought was, perhaps your PATHs are different in the different scenarios and maybe the test fails to properly load the DLL. Try printing PATH and comparing the values in the different run scenarios.

To generalize on that idea, try replacing your entire test code with a simple `main` functi

[2018-01-22 13:29] ulfjack commented on #3360
Skyframe returns the old FileArtifactValue if the new value is equal to the old one, and I didn't update equals to also cover the ctime. So if the ctime changes but the digest is the same (e.g., on an action cache hit), then the SpawnActionRunner thinks the file was modified underneath.

[2018-01-22 13:35] iirina commented on #3958
RC4 is available for testing: https://releases.bazel.build/0.10.0/rc4/index.html

[2018-01-22 13:42] cgrushko commented on #4495
Seems like a bug in the gh.com/google/protobuf repo? If so, please reassign
/ move there.

On Mon, Jan 22, 2018, 15:15 Irina Iancu <notifications@github.com> wrote:

[2018-01-22 13:45] lberki commented on #4485
Don't use `--nodistinct_host_configuration`; it's a hack and we are planning to remove it when we get around it.

My instinct would be to close this bug as "should not be implemented" -- why do you need debug info for host binaries? If you want to debug a binary built for a particular architecture, set that as the target architecture.

[2018-01-22 13:45] laszlocsomor commented on #4496
Thanks for filing this bug and especially for the easy repro.
I can also repro this, with Bazel 0.9.0 and 0.10.0rc2.
Let me take a closer look.

[2018-01-22 13:46] iirina opened #4497 "CI bazel 0.10.0rc4: bazel-tests fails on Windows"
Error snippet:
[code]

Full log is [here](https://ci.bazel.build/job/Global/job/bazel-tests/453/console). Note there are also some test that failed on Darwin in the console log.

[2018-01-22 13:58] davido commented on #4495
That's indeed the question here, whether or not is this a bug or a feature? In case it's as feature, then Bazel should accepts the mismatch and remove the warning. Can you (or someone else) shed some light on what is the right next step here?

[2018-01-22 14:04] iirina opened #4498 "CI bazel 0.10.0rc4: baze-tests fail on Darwin"
The following tests are failing on Darwin:
- test_apple_binary_crosstool_ios
- test_apple_binary_crosstool_watchos
- test_build_hello_world_with_remote_embedded_tool_targets
- test_apple_binary_corsstool_ios
- test_apple_binary_crosstool_watchos

Error snippet:
[code]

Log is [here](https://ci.bazel.build/job/Global/job/bazel-tests/453/console)

[2018-01-22 14:08] ensonic opened #4499 "Generate a download list and design tooling to add mirror entries"
Having failing build because of a network issues is annoying and harms bazels reputation as a reliable build system.
Rules will use `ctx.download(url, ...)`. Could bazel track the urls that rules tried to download from and output them together with the rule that triggered the download.

What about some tooling that helps to add mirror urls to improve reliability or generate a list of unmirrored ur

[2018-01-22 14:36] iirina commented on #3958
RC4 failures:

- [ ] bazel-integration-testing  167
- [ ] TensorFlow_Serving  369 -> Needs update of bazel version checking function.
- [x] intellij  369 -> Related to https://github.com/bazelbuild/intellij/issues/215 (JetBrains has changed their plugin URLs from https://download.plugins.jetbrains.com to https://plugins.jetbrains.com/files.) -> Not a Bazel issue.
- [ ] rules_nodejs  190
- [ ] rule

[2018-01-22 14:38] #4430 closed

[2018-01-22 14:38] #4429 closed

[2018-01-22 14:39] #4423 closed

[2018-01-22 14:39] #4454 closed

[2018-01-22 14:40] #4455 closed

[2018-01-22 14:48] laszlocsomor commented on #4496
I don't think this is a Bazel bug, because I can repro it by just running in MSYS the command that failed:

Some setup that the `stdlib` rule performs before the actual failing command:
[code]

Then the actual failure:
[code]

[2018-01-22 14:54] iirina commented on #4425
@kirilg Can you update Tensorflow_serving to use the latest method of checking the bazel version in [tensorflow:workspace.bzl](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/workspace.bzl). Note that it was renamed from `check_version` to `check_bazel_version_at_least`. It is used in [tensorflow/serving/WORKSPACE](https://github.com/tensorflow/serving/blob/master/WORKSPACE)

[2018-01-22 14:56] chenkan0104 opened #4500 "Toolchain wrapper scripts don't have execution permission"
### Description of the problem / feature request:

I am using an external repository as toolchain to cross compile my project, and a docker image based on Ubuntu 16.04 to run the builds, but seems my wrapper script of gcc don't have execution permission.

I'm pretty sure that I've ```chmod +x``` on those files before commit and push them.
And seems that I can't make them executable before build as

[2018-01-22 14:56] laszlocsomor commented on #4496
@PatrickLang , could you please verify the same?
Run your build with the "--verbose_failures" flag, that'll yield something like:

[code]

Then start cmd.exe, `cd` into the directory in the output log (something like `C:\users\patrick\appdata\local\temp\_bazel_patrick\dmhbzmu0\execroot`) and run the command from the error log, below the `cd` line, that starts with "C:/msys64/usr/bin/bash.exe -c ex

[2018-01-22 14:58] laszlocsomor commented on #4497
Are you sure this is the correct log link? I can't find the stack trace in it.

[2018-01-22 15:00] iirina opened #4501 "CI bazel 0.10.0rc4 rules_nodejs fail to build on Windows"
Error snippet:
[code]

Console output is [here](https://ci.bazel.build/job/Global/job/rules_nodejs/190/console).

It seems to be related to https://github.com/bazelbuild/rules_nodejs/commit/c96acafb9df26e44ecc59268a5b3cc9ebafb1d87.

@laszlocsomor @gregmagolan Could you take a look?

[2018-01-22 15:11] laszlocsomor commented on #4501
Looking.

[2018-01-22 15:15] drigz commented on #4495
The warning will be resolved in grpc-java v1.10.0, which will include https://github.com/grpc/grpc-java/pull/3881. The warning is caused by grpc-java, not the recommendations (although these are indeed out-of-date - maybe worth another issue?)

[2018-01-22 15:15] laszlocsomor commented on #4501
This is not a regression in Bazel, I can repro it with Bazel 0.9.0 as well as with 0.10.0rc4.

[2018-01-22 15:15] laszlocsomor commented on #4501
...therefore it's not a release blocker. It may still be a Bazel bug though.

[2018-01-22 15:16] philwo commented on #4492
Hi @Globegitter,

I totally agree with you that the startup delay is annoying!

Here's a suggestion how you can make this work:

[code]

Inside your Docker container, you'd have to call Bazel like this:

[code]

Would that work for you?

[2018-01-22 15:18] iirina commented on #4497
I didn't double check for the error I copy-pasted.

The log link is correct. The error snippet is from the Blue Ocean view ([link here](https://ci.bazel.build/blue/organizations/jenkins/Global%2Fbazel-tests/detail/bazel-tests/453/tests), the last step under Existing failures).

In the normal Jenkins [view](https://ci.bazel.build/job/Global/job/bazel-tests/453/consoleFull) I see
[code]

[2018-01-22 15:25] ejona86 commented on #4495
The warning will be common for any project using the previous set up with `@com_google_protobuf_java` and similar. They should migrate to using `@com_google_protobuf`. This will be handled by each project individually. File a bug against the repo if it hasn't yet updated. In this case, bazelbuild/rules_closure.

@drigz, the warning will not be resolved by the grpc update, since @davido is having t

[2018-01-22 15:26] ejona86 commented on #4495
https://github.com/cgrushko/proto_library/pull/5 can be referenced to show projects how to update.

[2018-01-22 15:26] drigz opened #4502 "Change where bazelrcs are read from, and make it easier to control which ones are read."
### Description of the feature request:

Check for `bazel/bazel.rc` in addition to `tools/bazel.rc`. This could also be done for `tools/bazel` and any other special files that can be in `tools/`.

### Feature requests: what underlying problem are you trying to solve with this feature?

Projects that support multiple build systems prefer to keep the files separated as far as possible. However, Baze

[2018-01-22 15:27] drigz commented on #4495
Ah, thanks for the correction, @ejona86.

[2018-01-22 15:28] aj-michael commented on #3047
Fixed as https://github.com/bazelbuild/bazel/issues/4472.

[2018-01-22 15:28] #3047 closed

[2018-01-22 15:28] aj-michael commented on #3845
@marup - this was a bug I just fixed in aar_import: https://github.com/bazelbuild/bazel/issues/4472

Workarounds include replacing deps with exports in the gmaven bzl file, or waiting for the next bazel release.

[2018-01-22 15:30] aj-michael commented on #4106
@marup, I'm not sure if we will ever see this as part of bazel. The current trend in other languages is to offload transitive external dependency resolution into other tools. I think the right path forward will be adding support for .aar files into something like https://github.com/johnynek/bazel-deps, which generates a WORKSPACE file for you.

[2018-01-22 15:47] iirina commented on #3958
Verified that RC4 can bootstrap on Windows. Build was successful.

[2018-01-22 15:50] dslomov commented on #4170
Not really an external repo bug. It happens when an executable rule tries to provide the executable from a different package (and it is actually enabled by a  https://github.com/bazelbuild/bazel/issues/3826, where we enabled arbitrary artifacts as executables). The small(er) repro is:

src/rulez.bzl
[code]
tools/BUILD:
[code]
src/BUILD
[code]

[2018-01-22 15:52] duelinmarkers commented on #4483
Ditto on Debian Jessie. `bazel info release` -> `release 0.9.0`. `java -version` ->
[code]

[2018-01-22 16:12] dslomov commented on #4170
Suggested solution: only allow the executables created in the same rule.

[2018-01-22 16:19] werkt commented on #4405
No bazelrc specified or present
Stock 0.9.0 deb package (from the bazel.build install page) master bazelrc present
git 1.9.1 (ubuntu 14.04 LTS)
Reproduces with an absent .gitconfig
After an expunge, using the bazel 0.9.0 release on the 0.9.0 rev in git:

[code]

All shell invoked `bazel` there is the 0.9.0 from deb package.  Problem reproduces equivalently with bazel copied and invoked as produced

[2018-01-22 17:29] iirina commented on #4497
Thanks for looking into this. Do you think the XML character bug could block the release? If not, I'll remove this as a release blocker.

[2018-01-22 17:59] f9rocket commented on #4477
@laszlocsomor Thanks for getting back to me. I suspected the PATHs at first, but the DLL resides under c:\windows\system32 so that should not be a problem. I confirmed this by printing the DLL path from inside the unit test (using GetModuleFileName). When runnning under `bazel test` or directly under the command line the loaded path is always `c:\windows\system32\....dll`.

In my previous comment

[2018-01-22 18:03] laszlocsomor opened #4503 "windows,testing: bazel_bootstrap_distfile_test is slow"
### Description of the problem / feature request:

`//src/test/shell/bazel:bazel_bootstrap_distfile_test` is very slow on Windows.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

I added logging between most operations in the test, after it took 48 minutes to run.

With the logging, it took 53 min, but I kept using the machine the w

[2018-01-22 18:39] PatrickLang commented on #4496
[code]

Something that's interesting here is appears to be calling Git's bash.exe - is that expected?

[2018-01-22 18:56] minorhacks opened #4504 "Document effect of Python version on output path"
### Description of the problem / feature request:

Bazel 0.9.0 does not put `py_binary` targets with `default_python_version = "PY3"` under `bazel-bin`. Instead, built targets appear under `bazel-out/` in a python3-specific bin directory rather than the same bin directory used by other targets (the one that `bazel-bin` remains symlinked to)

I realize that Python 3 support is experimental, but is

[2018-01-22 19:20] #4170 closed

[2018-01-22 19:56] petemounce commented on #3958
https://chocolatey.org/packages/bazel/0.10.0-rc4 has been pushed.

[2018-01-22 23:46] cushon commented on #3958
@iirina can you cherry-pick 860af5be10b6bad68144d9d2d34173e86b40268c for #4483?

[2018-01-23 00:34] jmhodges commented on #4303
Hey, I've not been able to follow along with the release process. Is this stuff in the 0.10 branch? Should I make another ticket for that?

[2018-01-23 00:54] kirilg commented on #4425
Done :)

TensorFlow Serving was passing even before with the version of TensorFlow that we have pinned as a submodule. Note that if your test manually updates the TF submodule to point to head (what I assume happened to trigger this error), the test will often be broken. Instead please rely on the commit that we use in our repo which is guaranteed to be compatible with TensorFlow Serving at that t

[2018-01-23 01:20] marup commented on #4106
It's too bad Google's Android team doesn't support Google's open source build tool, but for now I'll be patient for Bazel's next release. Thank you for creating the gmaven-rules.

[2018-01-23 01:22] ahumesky commented on #4106
We're moving off milestones (see https://blog.bazel.build/2017/09/27/release-cadence.html) so I'll remove 0.9 here.

[2018-01-23 02:35] solomatov opened #4505 "bazel shutdown should have an option to kill all bazel workers including workers from other workspaces"
### Description of the problem / feature request:

I have a large number of java processes spawned by bazel hanging around when I don't need them. I have several workspaces, and bazel shutdown stops workers only from the current workspace.

### Feature requests: what underlying problem are you trying to solve with this feature?

I want to free resources occupied by them. It would be nice to introd

[2018-01-23 08:19] davido commented on #4495
On the second thought, I will let the fix for consumption of `com_google_protobuf_js` to `rules_closure` maintainers. I fixed the warning in gerrit build with this PR: [1] and here I forked `rules_clsoure` in gerrit: [2] to use this custom release: [3] until my PR is merged. Thanks again for the help.

[1] https://github.com/bazelbuild/rules_closure/pull/249
[2] https://gerrit-review.googlesource.

[2018-01-23 08:19] #4495 closed

[2018-01-23 08:25] cushon commented on #3058
The change in javac behaviour is a feature, and JDK 7 is no longer supported.

[2018-01-23 08:25] #3058 closed

[2018-01-23 08:53] laszlocsomor commented on #4497
I don't know, I need some more time to figure that out.

[2018-01-23 10:05] #3234 closed

[2018-01-23 10:21] davido commented on #4495
FWIW: both CIs are now red with my CLs:

- `rules_closure`: https://travis-ci.org/bazelbuild/rules_closure/jobs/332180567
* gerrit: https://gerrit-ci.gerritforge.com/job/Gerrit-verifier-bazel/40429/consoleText

with the same message:

[code]

That's because on both environments Bazel is tool old:

- rules_closure: 0.5.3: https://github.com/bazelbuild/rules_closure/blob/master/.travis.yml#L14
- ger

[2018-01-23 11:10] katre commented on #4405
Okay, I couldn't reproduce this because it was fixed in 0ba8307ff46746864e357d0b7834b3c4247421d0, which should be in the 0.10.0 release.

Closing this now, thanks for reporting it!

[2018-01-23 11:10] #4405 closed

[2018-01-23 12:53] karthee320 commented on #3018
I am facing the same issue as @Jayoprell reported:

Bazel 0.5.2
I tried multiple times and each time it is showing same error at different files. The error is,
java.lang.InternalError: Cannot find requested source bundle for locale en_US at(list of files) Caused by: java.util,MissingResourceException: Can't find bundle for base name com.google.errorprone.errors, locale en_US

Target //src:bazel fa

[2018-01-23 13:17] iirina commented on #4498
I managed to reproduce the failures. With the current updated HEAD it seems to be fixed though.

[2018-01-23 13:17] #4498 closed

[2018-01-23 13:25] iirina commented on #4303
It seems that last commit (https://github.com/bazelbuild/bazel/commit/2e631c99495f75270d2639542cefb531ec262d67) from #4376 didn't go into the release. We could cherry pick it if necessary.

Can you test with the latest RC to see if you still get this issue? You can try downloading RC4 from https://releases.bazel.build/0.10.0/rc4/index.html.

[2018-01-23 13:38] iirina commented on #3958
@cushon Done.

Created RC5:
[code]

CI job is [1108](https://ci.bazel.build/job/bazel/job/release/1108/)

[2018-01-23 13:48] iirina commented on #4500
Could you point us to the repositories/BUILD files that you described? A link or a BUILD snippet would be nice.

I think I'm missing something here. What files are you chmod-ing? In your own repo? As I understand, the files in case are from an external project that you cannot control, so how can you chmod +x them? Thanks!

[2018-01-23 14:06] iirina commented on #3958
Release job failed again ([piepline](https://ci.bazel.build/blue/organizations/jenkins/bazel%2Frelease/detail/release/1108/pipeline)) with the same error as the first release job for RC4:

[code]

New CI release job is [1110](https://ci.bazel.build/job/bazel/job/release/1110/). Last time the failure went away after replaying the job, probably now it's the same. *sigh*

[2018-01-23 14:19] laszlocsomor commented on #3958
The failing script was `scripts/packages/debian/convert_changelog.py`, so let's /cc @meteorcloudy

[2018-01-23 14:23] iirina commented on #3958
RC5 is available for testing:  https://releases.bazel.build/0.10.0/rc5/index.html.

[2018-01-23 14:24] meteorcloudy commented on #3958
I wrote this script a long time ago, let me take a look.

[2018-01-23 14:28] lisendong commented on #245
@damienmg  why you only add "/usr/bin or /usr/local/bin" to "$PATH" when running compile.sh ???

I think you should use system's PATH variable .

or how cound I modify the  PATH variable ???

[2018-01-23 14:47] hmemcpy opened #4507 "Allow providing an external test.xml producer"
One of the tasks of our internal migration from maven to bazel is to compare the existing test results produced by maven (via surefire/failsafe plugins) to the test.xml files produced by bazel. It turned out to be a not-so-easy task, as bazel writes the test.xml differently from maven.

In addition, we're using specs2 junit tests in scala, which further complicates things (issues like bazelbuild/r

[2018-01-23 14:50] laszlocsomor commented on #4477
What exactly is failing, the call in the DLL or the test framework? If the former, maybe the DLL is trying to do something that it can't when the test is running as a a Bash grandchild?

I know this is going to be very general and basic advice, but can you gradually remove all test cases and keep just the one that fails, then gradually remove the body of that test method to find exactly what's fai

[2018-01-23 14:53] meteorcloudy commented on #3958
@iirina @laszlocsomor It seems this script has changed a lot in https://github.com/bazelbuild/bazel/commit/332b61f416855eb5938a226eed7787473487a268, I don't know exactly what's causing the flakiness, but I can make this script more robust. Will send a change.

[2018-01-23 14:55] laszlocsomor commented on #4496
I guess Git appears sooner on your PATH than MSYS, and maybe cgo just calls `bash` somewhere? Try changing your PATH in cmd.exe to only have MSYS and the Windows directory on it:
[code]
Does that help?

[2018-01-23 15:44] Globegitter commented on #4492
@philwo That almost works, just that now bazel is complaining `Error: corrupt installation: file '/opt/bazel/_embedded_binaries/A-server.jar' modified.  Please remove '/opt/bazel' and try again. And checking, the timestamps are `Jan  1  1970`. Seems to be related to https://github.com/bazelbuild/rules_docker/issues/52

[2018-01-23 15:48] excitoon opened #4508 "One cannot have "external" top-level directory and more"
Unfortunately if one have a directory named "external" it produces some kind of race (creating junction vs creating bazel internal directory with the same name) and often source forest creation **fails**:
[code]

After second try it turns out that bazel erases source forest from bazel-bazel but **skips** directories which start from dot (see also #4060):
[code]

### Bugs: what's the simplest, easi

[2018-01-23 15:50] jin commented on #245
@lisendong This issue is closed, do you mind creating a new issue with the details of your problem?

[2018-01-23 15:56] jin commented on #3018
This issue is closed. @karthee320 @Jayoprell do you mind creating new issues? Your error messages are different from the original question.

[2018-01-23 16:03] laszlocsomor commented on #4497
I don't think this is a blocker, alas without the original test log I can't say exactly what went wrong.
I guess the culprit might be this line, but I couldn't yet trigger an XML error: https://github.com/bazelbuild/bazel/blob/b4cf329022bb4afd45e96c2990dd869c200dc739/tools/test/test-setup.sh#L153

[2018-01-23 16:37] lisendong commented on #4137
I think the problem is pretty serious.
when i install brazel from source by compile.sh

[code]

I ’m sure I have set the build --action_env
but it seems not propagate to the "exec env - " command !!!

[2018-01-23 16:39] lisendong commented on #3320
is there any progress?

[2018-01-23 16:41] dslomov commented on #3580
sorry, I do not completely understand this report. Can I have a small repro?
you have a `WORKSPACE` in `/source/ci`, and another `WORKSPACE` in `/source`:
[code]

You run `bazel build --package_path %workspace%:/source //....` in `/source/ci`.
This should give you package `//foo` and `//foo:bar.bzl`.

So far so good. What I do not understand is this bit

what are you trying to achieve? What is the

[2018-01-23 16:46] lisendong commented on #4137
@ulfjack  is there any progress about the bug "action_env is not working for all actions" ??
because of the bug, compile.sh doesn't work. I think it's a very serious bug.

[2018-01-23 17:01] iirina commented on #3958
Failing jobs of RC5:

- [x] rules_webtesting: failing tests. *not* blocking the release.
- [x] rules_nodejs: #4501 Fails on Windows. Not a regression issue (can be reproduced with bazel 0.9.0).
- [ ] tf_models_syntaxnet
- [x] rules_closure: failing tests. *not* blocking the release.
- [ ] bazel-tests: one flaky test failing (`test_failed_build`) and another failed test (`text.xml` see #4497).

[2018-01-23 17:09] iirina commented on #4497
OK, so it looks like it is not a release blocker. If it is, it would be the last one. If it's not, we can release this week. I will help tomorrow in identifying the culprit.

[2018-01-23 17:15] #4285 closed

[2018-01-23 18:51] jmhodges commented on #4303
Done! 0.10rc4 is still busted, unfortunately.

https://travis-ci.org/jmhodges/bazel_bugs/builds/332436644

Thank you for the help!

[2018-01-23 18:52] PatrickLang commented on #4496
Interesting - `C:/Program Files/Git/usr/bin` is not in my PATH, only `C:/Program Files/Git/cmd`

I do have Windows Subsystem for Linux which has a `c:\windows\system32\bash.exe` though. I can't remove `c:\windows\system32` from my PATH without breaking a lot more

[2018-01-23 19:33] aj-michael commented on #4450
@borisbrodski - what are you trying to do? If you goal is just "to run tensorflow on my mobile device", you don't need to compile bazel on your tablet..

[2018-01-23 20:01] borisbrodski commented on #4450
@aj-michael You are right. This is my goal. But how can I compile/install TensorFlow on my Android without compiling bazel first?

[2018-01-23 20:08] dclements commented on #4309
Having this problem as well and spent entirely too long dealing with it. It also happens if your test cases don't reference the main source code (local testing).

As an additional quirk in this, it reports a _test_ failure when this happens:

[code]

[2018-01-23 21:05] aj-michael commented on #4450
Do you have access to a computer other than your mobile device? Typically you would run bazel on some other machine that Bazel does support and compile an Android application (.apk) which you can then run on your device. There are some instructions here: https://www.tensorflow.org/mobile/android_build#build_the_demo_using_bazel

[2018-01-23 21:54] f9rocket commented on #4477
I removed the test framework as you suggest and pared it down to just one DLL call that fails. I was able to attach a debugger to the test binary when running under `bazel test` and a "heap is corrupted" exception is being thrown inside winnt.dll. This exception is not thrown when running from the command line or using `bazel run`. Unfortunately I can't tell what is triggering the exception due to

[2018-01-23 22:46] jeb2239 opened #4510 "Make bazel use a non system GCC on RHEL 6"
### Description of the problem / feature request:

How can I force the bazel runtime environment to use a specific LdLibrary Path ?
How can I force bazel to use a compiler installed in a non standard place?
Specifically I am trying to build some code on RHEL 6 and while I am able to use my newer compiler to compile the bazel tool when ever I try to run something it fails.

### Bugs: what's the sim

[2018-01-23 23:08] ixdy commented on #4502
Kubernetes is another project which would benefit from something like this. We currently have a `.bazelrc` in the repo root, which is overriding users' `$HOME/.bazelrc`, so we should fix this.

We don't have a `tools/` directory (though we do have a `build/`), and I'm not super excited about creating `tools/` solely for one file.

[2018-01-24 01:40] ttsugriy opened #4511 "Skylint crashes when invoked on a file with a nested function."
### Description of the problem / feature request:

[code]
will cause Skylint crash:
[code]

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

### Any other information, logs, or outputs that you want to share?

[2018-01-24 01:55] chenkan1994 commented on #4500
@iirina I'm sorry that the repository is a private project that I can't share with you.

But the toolchain was specifically made based on ```@bazel//:src/test/shell/bazel/testdata/bazel_toolchain_test_data```, and the script for testing this project uses the same trick as mine: https://github.com/bazelbuild/bazel/blob/master/src/test/shell/bazel/bazel_toolchain_test.sh#L50:56

So basically:
1. I h

[2018-01-24 04:04] robfig commented on #4398
Any feedback on this?

[2018-01-24 05:04] lisendong commented on #245
when I install bazel by compile.sh:
[code]

[2018-01-24 07:21] PatrickLang commented on #4496
If I try the same cmd script and manually replace the git bash.exe path with msys2's, it gets further but still doesn't complete

[code]

[2018-01-24 07:27] davido opened #4513 "bazel build issues warning: DumpPlatformClassPath.java uses unchecked or unsafe operations"
//CC @cushon

On Bazel@HEAD (since https://github.com/bazelbuild/bazel/commit/29a96822a3bc5a81094285a995d905a074ef5714) I'm seeing this warning while building gerrit code review with Java 8:

[code]

Environment:

[code]

[2018-01-24 07:56] ulfjack commented on #4137
What makes you think that the error you posted is due to env variables?

[2018-01-24 08:06] aehlig commented on #2780
First remark: `http_archive` does enough caching so that `bazel query` works also offline for every repository that was accessed while being online (see https://bazel-review.googlesource.com/c/bazel/+/33750/). So we can probably change the priority.

Second: In fact, a quick test with the release candidate of `0.10.0` shows that `--experimental_repository_chache` is supported for `bazel query` and

[2018-01-24 09:23] katre commented on #2461
I just re-tested this, it seems to be working now. Closing as obsolete.

[2018-01-24 09:23] #2461 closed

[2018-01-24 09:23] katre commented on #2811
This issue is fixed, closing now,

[2018-01-24 09:23] #2811 closed

[2018-01-24 09:25] katre commented on #3629
Is this still being flaky? Please re-open if it's happening again.

[2018-01-24 09:25] #3629 closed

[2018-01-24 10:08] iirina commented on #3958
One more cherry pick: 2e631c99495f75270d2639542cefb531ec262d67 (fixes #4303).

[2018-01-24 10:47] gkossakowski opened #4514 "remote/usability: NPE in RemoteSpawnCache (in bazel 0.10rc5)"
### Description of the problem / feature request:

Bazel 0.10rc5 (and 0.9.0) crash when `--experimental_remote_spawn_cache` is enabled:

[code]

### Feature requests: what underlying problem are you trying to solve with this feature?

I was following:
https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/remote/README.md#bazel-setup

I'm trying to figure out a

[2018-01-24 10:55] #4513 closed

[2018-01-24 13:45] brendandouglas opened #4515 "Feature request: expose bazel shell integration testing targets"
The IntelliJ plugin has java integration tests which actually run blaze (using testenv.sh, etc.).

We'd like to include these in our Bazel plugin repo as well, but realistically that's going to require using //src/test/shell/bazel:test_deps, which has restricted visibility.

Are there any plans to open up visibility of the shell integration testing targets, so other repos can include bazel-invokin

[2018-01-24 14:24] iirina commented on #4497
This looks like a Jenkins problem to me. Let's loop in @philwo, who also did [a recent change](https://github.com/bazelbuild/continuous-integration/commit/ae7d30ffd524eb30d47dad2fa7ab1fe5438e240e#diff-a0298033335488dc740e44e032104945) to the code that populates the CDATA section.

[2018-01-24 14:25] iirina commented on #4497
Also the problematic character seems to be escape, which is pretty weird to me.

[2018-01-24 15:11] iirina commented on #3958
Pushed RC6. It should be the last RC \o/

[code]

CI release job is [1127](https://ci.bazel.build/view/Bazel%20bootstrap%20and%20maintenance/job/bazel/job/release/1127/).

[2018-01-24 15:28] iirina commented on #3958
...aaaand the job failed. Pipelineis [here](https://ci.bazel.build/blue/organizations/jenkins/bazel%2Frelease/detail/release/1127/pipeline/22).

First error on Linux (cc: @meteorcloudy)
[code]

Second error on Darwin (cc: @philwo):
[code]

New release job [1128](https://ci.bazel.build/view/Bazel%20bootstrap%20and%20maintenance/job/bazel/job/release/1128/).

[2018-01-24 15:30] philwo commented on #4497
Would love to help out, but that change didn't touch anything related to the CDATA section...?

[2018-01-24 15:32] iirina commented on #4425
Thank you all for contributing in cleaning this up!

[2018-01-24 15:32] #4425 closed

[2018-01-24 15:32] philwo commented on #3958
I... might have "accidentally" canceled that job because I wanted to upgrade all the Mac Pros to macOS 10.13.3. 😅

[2018-01-24 15:36] iirina commented on #4497
You would think so! It touches `jenkins/lib/vars/bazelCiConfiguredJob.groovy` which is what's inside (almost) every CDATA (see [this search](https://github.com/bazelbuild/continuous-integration/search?utf8=%E2%9C%93&q=CDATA&type=)). I have no idea if it's related or not though.

[2018-01-24 15:38] iirina commented on #3958
The new job went through and RC6 is available for testing at https://releases.bazel.build/0.10.0/rc6/index.html.

[2018-01-24 16:15] jin commented on #4390
@philwo, do you mind taking a look at this?

[2018-01-24 16:24] #4065 closed

[2018-01-24 16:28] iirina commented on #4514
@buchgr Can you take a look? We need to release soon.

[2018-01-24 16:32] petemounce commented on #3958
https://chocolatey.org/packages/bazel/0.10.0-rc6 has been pushed.

[2018-01-24 16:42] iirina commented on #3958
There were some problems with the Darwin machines, I will replay the job again. This will send another email to bazel-discuss, but there are too many jobs to replay individually.

New job is [1132](https://ci.bazel.build/view/Bazel%20bootstrap%20and%20maintenance/job/bazel/job/release/1132/).

[2018-01-24 16:45] iirina commented on #3958
New release blocker #4514

[2018-01-24 16:50] philwo commented on #4390
@agoulti I can think of three possible cases:

1) The installer somehow doesn't contain a ZIP file that contains a bazel binary and thus it happily does its job, but doesn't actually extract any files and then chmod fails.
2) The installer is corrupt, but I think unzip would complain then during unzip.
3) Your environment is somehow strange and the Bazel binary doesn't exist immediately after unzi

[2018-01-24 17:11] buchgr commented on #4514
Good catch. The bug happens when you specify `--experimental_remote_spawn_cache` without specifying `--remote_*_cache`. The spawn cache flag doesn't do anything without the remote cache flag though (it needs to know the caching endpoint). So I think we should print a better error message than a NullPointerException :-). I am removing this from release blocker.

[2018-01-24 17:13] zlalanne commented on #2036
@gregestren I think I'm running into this, did you ever end up making a patch?

[2018-01-24 17:13] buchgr commented on #3958
@iirina #4514 is not a release blocker.

[2018-01-24 17:27] andybw opened #4516 "bazel-0.9.0-dist failing to build with jdk1.8.0_25 on Red Hat linux"
### Description of the problem / feature request:

bazel-0.9.0-dist failing to build with jdk1.8.0_25
I am getting numerous source code warnings and errors

### Feature requests: what underlying problem are you trying to solve with this feature?

I am trying to build bazel from source

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[2018-01-24 17:32] ittaiz commented on #4515
Brendan,
Are you familiar with Bazel integration testing repo? It's very immature
but with demand I promise to allocate more time.
Last I asked @ulfjack to expose the shell the answer was that it's not an
API they want to support
On Wed, 24 Jan 2018 at 15:45 brendandouglas <notifications@github.com>
wrote:

[2018-01-24 17:33] helenalt commented on #4502
@jhfield @lberki  please help prioritize an owner as this affects multiple users

[2018-01-24 17:36] davidstanke opened #4517 "In Docs: clarify BUILD vs. BUILD.bazel"
One can use either `BUILD` or `BUILD.bazel` as the filename for config files. AIUI, the preferred name is `BUILD.bazel` (because why? because [this](https://github.com/coreos/etcd/issues/8911)?) but the docs mostly reference `BUILD`. Can we update the docs to use the preferred version, as well as adding information about which one is preferred, and why?

[2018-01-24 17:38] ixdy commented on #4517
before commenting on that issue, I also confirmed that bazel seems to prefer `BUILD.bazel`; if you have a `BUILD.bazel` file and a `BUILD` file, it'll ignore the latter.

[2018-01-24 17:41] ixdy commented on #4517
for cross-reference, the original `BUILD.bazel` discussion was in https://github.com/bazelbuild/bazel/issues/552.

[2018-01-24 17:55] Arcank opened #4518 "actool is too verbose"
### Description of the problem / feature request:

actool output is too verbose:

/* com.apple.actool.compilation-results */
/var/tmp/Foo.resources/actool-output/AppIcon20x20@2x.png
/var/tmp/Foo.resources/actool-output/AppIcon20x20@3x.png
/var/tmp/Foo.resources/actool-output/AppIcon29x29@2x.png
/var/tmp/Foo.resources/actool-output/AppIcon29x29@3x.png
/var/tmp/Foo.resources/actool-output/AppIcon40x

[2018-01-24 19:37] mikelikespie commented on #4209
I'm interested in this working as well. I think having credentials in the URL used to work, but probably just by accident as mentioned. I don't think our security team is OK having a WebDAV server without any authentication, so having support for basic auth would be a big win

[2018-01-24 21:05] jmillikin-stripe opened #4519 "Difference between files and runfiles providers is unclear"
### Description of the problem / feature request
Given the following three files (`BUILD`, `rule.bzl`, `the_test.sh`) I would expect the output of the test to include the generated data file. However, the output does not -- it seems like files included in the DefaultInfo provider of a Skylark rule do not get used in the sh_test data or runfiles sets.

@dslomov's comment on an ancient issue from 20

[2018-01-24 21:43] sergiocampama commented on #4519
Shouldn't these be propagated using the runfiles provider?

[code]

[2018-01-25 03:22] lisendong commented on #4137
@ulfjack
`exec env -  /bin/bash -c `
this command clear all the env variables, and discard any action_env I set.
basic "cp" can not be found

[2018-01-25 08:28] ulfjack commented on #4137
What kind of setup do you have such that cp isn't in /bin or /usr/bin?

You should check if this works with a more recent bazel release. If I read the code correctly, this is from a genrule, and they should already forward the action env, even if not all actions do.

[2018-01-25 08:42] iirina commented on #3958
@buchgr Good to hear that. Thanks :smiley:

[2018-01-25 09:04] lberki commented on #4502
(assigning to @cvcal since she worked with option parsing more recently than both @lfpino and @iirina)

I think this is a good idea; `tools/bazel.rc` is mostly a heritage from our internal repository. I think using `$WORKSPACE/bazel.rc` is more reasonable than `tools`. I'm not thrilled about `$WORKSPACE/bazel/bazel.rc`, though -- why create a directory just for one file?

Migration will also need

[2018-01-25 09:13] iirina commented on #3958
Failing jobs of RC6:

- [ ] rules_scala: JRE fatal error SIGBUS.
- I cleaned up all the Ubuntu VMs.
- [Replayed job ](https://ci.bazel.build/blue/organizations/jenkins/Global%2Frules_scala/detail/rules_scala/377/pipeline)
- is now green
- [ ] intellij
- [ ] bazel-tests-remote
- [ ] bazel-tests
- [ ] rules_webtesting
- [ ] rules_closure
- [ ] tf_models_syntaxnet
- [ ] rules_go:
- [Blue Ocean](https

[2018-01-25 10:00] ittaiz commented on #4483
@cushon why did you re-open it? If I use Bazel HEAD then it's resolved?

[2018-01-25 10:39] mmm444 commented on #3196
The JDK bug has been classified as a security issue and is now fixed in Oracle Java 8u161 and 9.0.4. It even has its own CVE-2018-264. Now we only have to wait until JetBrains update the JDK bundled with IDEA.

[2018-01-25 11:40] iirina commented on #4502
Seems like the reasoning is that a lot of projects already have the `bazel` directory.

Is it possible to specify in the `WORKSPACE` file the location of the `bazel.rc` file? So that every project could put `bazel.rc` wherever they want.