[2022-03-14 19:19] keith commented on #13287
Yes this one.

What optimization level are you using? we're explicitly passing `-Osize` in this case, which results in a smaller dylib in our case than if you use a compatible `-O` and LTO in my testing.

[2022-03-14 19:54] keith commented on #13287
Here's some thin_lto setup https://github.com/bazelbuild/bazel/pull/15039 for Android, still opt-in

[2022-03-14 20:22] iangudger opened #15040 "Documentation issue: Bazel container"
Documentation URL: https://docs.bazel.build/versions/5.0.0/bazel-container.html

The container (l.gcr.io/google/bazel:latest) is out of date and contains an old version of Bazel (3.5.0).

[2022-03-14 20:43] burdiyan commented on #8230
@larsrc-google Thanks for the advice!

I've been thinking about persistent workers too, but didn't find anything existing. And for my rather simple use case I'm OK with trading off some hermeticity/reproducibility/correctness for simplicity and better interop with existing tools and language ecosystem.

I believe a lot of projects of non-Google scale, which currently use Make or custom scripts cou

[2022-03-14 22:19] jwnimmer-tri commented on #13392
For anyone else who stumbled by here, a good search term for this new feature is `interface_deps` and is currently guarded by experimental flag `--experimental_cc_interface_deps`.

[2022-03-14 22:22] aminya commented on #13823
I am having the same issue. Bazel doesn't exit after build

[2022-03-14 22:54] #14894 closed

[2022-03-15 00:36] keith opened #15041 "iOS platform constraints locations"
In order to use bazel toolchains with Apple platforms, we have to define the core set of platforms it supports. This is mostly done by https://github.com/bazelbuild/bazel/blob/96c8a9073807c9e97635ddafe2ed0365a9318d6f/tools/osx/crosstool/BUILD.toolchains

The issue is that since M1 macs were released there are now overlapping OS + CPU combos, like `ios` + `arm64` that need more specific information

[2022-03-15 00:37] keith commented on #15041
In the short term if you want to try to use this, I believe you'd have to manually override `local_config_cc_toolchains` and define some valid toolchains yourself.

[2022-03-15 00:39] keith commented on #15041
Related https://github.com/bazelbuild/bazel/pull/14844

[2022-03-15 01:28] thii commented on #15010
Will try to reduce this to a minimal repro.

Do you think this has anything to do with the empty directory tree that Bazel creates before executing local actions? I noticed that those don't have 'w' permission at all.

[2022-03-15 02:30] linzhp opened #15043 "sh_binary's data dependencies are not triggered during the build"
### Description of the problem / feature request:

When a `sh_binary` has a target in the `data` attribute, the target is not built automatically when the `sh_binary` target is built.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

* Check out [rules_docker](https://github.com/bazelbuild/rules_docker/tree/0b1a033eff28eeff474573c7ed2

[2022-03-15 03:41] altonchuzhan commented on #13269
hi, are there any ways to get remote cache hit status of one specific target.

[2022-03-15 04:08] pauldraper commented on #12954
Bazel just doesn't work with "source" directories.

That goes for is_directory, directory expansion in args, anything AFAIK.

If you want to use a directory, it has to come as the output of a rule.

[2022-03-15 06:16] zecke opened #15044 "bzlmod: bazel query doesn't work with imported repos"
### Description of the problem / feature request:

`bazel query --experimental_enable_bzlmod @default_node16_host//...` fails instead of listing targets.

[code]

### Feature requests: what underlying problem are you trying to solve with this feature?

I would like to discover the targets of a repository that I imported from a module. Or in a larger context, discover the repositories that I could

[2022-03-15 06:48] meisterT commented on #13823
If you experience this please run `jstack <pid>` where `<pid>` is the PID of the Bazel server.

[2022-03-15 09:46] SimonVleugels commented on #15035
We made progress and got our cppcheck running.

The flag `--tool_java_runtime_version=remote_jdk11` was missing and the definition of the repository in the WORKSPACE needed to be converted from `local_repository` to `local_java_repository`:
[code]

Our unittests are still facing the following error:
[code]

It seems that it's not taking the correct jdk. @lberki You made the changes in [Issue-14864

[2022-03-15 12:15] meteorcloudy commented on #14891
This seems to be a java toolchain problem on a non-officially supported platform.

[2022-03-15 12:39] #15019 closed

[2022-03-15 12:41] fmeum commented on #14944
@Wyverald Correct, should have tagged the PR appropriately.

[2022-03-15 12:42] Wyverald commented on #14944
No worries. Thanks!

[2022-03-15 12:42] #14944 closed

[2022-03-15 12:51] bazel-io opened #15049 "[5.1] Use python3 on macOS"
Forked from #15045

[2022-03-15 13:06] altonchuzhan commented on #12075
https://github.com/bazelbuild/bazel/blob/09cd1fccbe37f9be3ae772db2c313eb5f8508486/src/main/java/com/google/devtools/build/lib/exec/SpawnLogContext.java#L91-L106
I thought it could be done by filter out some big section, for example the input part.
It is quite annoying that I want to fetch a cache hit flag from 8.1G json data in my case.

[2022-03-15 13:07] altonchuzhan commented on #12075
Is there any other way to retrieve a flag fro cache hit on specific target? I got no luck when finding it in profile data.

[2022-03-15 13:15] Wyverald commented on #15029
Yes, this would be great (I'd also like a chance to understand the problem better). cc @meteorcloudy

[2022-03-15 13:45] meteorcloudy commented on #15029
This is indeed a very important problem to solve, @Wyverald can you schedule a meeting and add interested people to join the brainstorming?

[2022-03-15 15:55] guw opened #15053 "Turbine header compile issue with annotations"
### Description of the problem:

When compile some Java code with Bazel and JDK 11 I receive the following error:
[code]

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

See https://github.com/google/turbine/pull/221.

The Turbine parser isn't able to handle `SomeClass[].class` as value assignment in an annotation.

### What operatin

[2022-03-15 19:56] hevrard commented on #13612
Thanks for the follow-up!

The Android documentation pointed to via the second link starts by saying that `ANDROID_HOME` is **deprecated**:

[code]

So my request is not so much about the priority between the two envvars, but rather to have Bazel directly use `ANDROID_SDK_ROOT`. Currently, I don't think Bazel looks for `ANDROID_SDK_ROOT` at all?

I guess best would be for Bazel to actually check f

[2022-03-15 20:30] ted-xie commented on #13612
You're entirely correct that `ANDROID_HOME` is deprecated according to the documentation, and that Bazel currently does not check for `ANDROID_SDK_ROOT`.

I agree with your suggestion: the best course of action at the moment is for Bazel to check both environment variables and attempt some basic resolution strategy for the various corner cases.

[2022-03-15 21:35] gregestren commented on #15041
As next step our team should discuss.

Since these definitions are "special" - owned by Apple but intermingled with C++, my intuition is the most practical way to continue supporting now is to move whatever extra constraints we need into Bazel, I suppose next to https://github.com/bazelbuild/bazel/blob/96c8a9073807c9e97635ddafe2ed0365a9318d6f/tools/osx/crosstool/BUILD.toolchains.

i.e. cleanly bre

[2022-03-15 21:55] GMNGeoffrey commented on #15004
![image](https://user-images.githubusercontent.com/5732088/158479103-f6df3f01-991a-437c-aec1-df4986bc454f.png)

I'll give that a try

[2022-03-15 22:21] GMNGeoffrey commented on #15004
Indeed, going into the Bazel directory and editing `bazel-tensorflow/external/org_tensorflow/tensorflow/workspace0.bzl` to remove the call to `rules_cc_toolchains` fixes the issues (correctly reports the error). So is the current advice that TF should *not* be doing that?

[2022-03-15 23:15] #13649 closed

[2022-03-16 07:46] oquenchil commented on #15004
Yes, I'd advise not to rely on rules_cc.

Thank you @scentini .

[2022-03-16 07:46] #15004 closed

[2022-03-16 07:52] oquenchil commented on #15017
All the data dependencies need to be placed in the right place in the runfiles directory. This needs to be during building and cannot wait till you start testing.

[2022-03-16 10:25] hofst commented on #15017
@oquenchil Could you elaborate on that? This sounds like an unintended implementation detail of bazel that should be fixed, e.g., by putting things lazily into the runfiles directory.
Is there an alterntive way to achieve the desired behavior, i.e., have dependencies for tests that are not downloaded during build?

[2022-03-16 10:43] comius commented on #14097
The problem reported by @Mabelian and by @PiotrSikora is that Bazel doesn't resolve to local JDK by default (for tool) and the documentation is outdated.

I updated documentation to bootstrap using: `env EXTRA_BAZEL_ARGS="--tool_java_runtime_version=local_jdk" ./compile.sh`
PR: https://github.com/bazelbuild/bazel/pull/15055/files

@Mabelian, @PiotrSikora, @koenvervloesem can try using this line? T

[2022-03-16 11:57] Wyverald commented on #14097
@comius is this fixed by https://github.com/bazelbuild/bazel/pull/15055?

[2022-03-16 12:25] comius commented on #14097
I think, but I'm not 100% sure, I'd prefer to wait for users verification.

[2022-03-16 12:39] fweikert opened #15056 "Status of Bazel 6.0.0-pre.20220310.1"
- Expected release date: 2022-03-16

Task list:

- [x] Pick release baseline: [68bf2ea0](https://github.com/bazelbuild/bazel/commit/68bf2ea0064768870a2ec20514df644a6995c663)
- [x] Create release candidate: https://releases.bazel.build/6.0.0/rolling/6.0.0-pre.20220310.1rc1/index.html
- [x] Post-submit: https://buildkite.com/bazel/bazel-bazel/builds?branch=release-6.0.0-pre.20220310.1rc1
- [x] Push

[2022-03-16 13:50] comius commented on #7364
Is adding `inherited_environment` to `testing.TestEnvironment` a sufficient solution or is there something following this?

I don't see a problem, giving rule writers an option to use `inherited_environment` and this being used on some special mostly testing rules that need it.

The title of the bug says "Add common env attribute for *_binary and *_test". I oppose adding any new attributes like th

[2022-03-16 14:15] UlasSAYGINIM opened #15057 "HardenedBSD 13 java examples does not compile"
### Description of the problem / feature request:

### Feature requests: what underlying problem are you trying to solve with this feature?

Starting local Bazel server and connecting to it...
... still trying to connect to local Bazel server after 10 seconds ...
... still trying to connect to local Bazel server after 20 seconds ...
... still trying to connect to local Bazel server after 30 second

[2022-03-16 16:07] uhthomas opened #15058 "Documentation typo: test_summary option"
### Description of the problem / feature request:

`Specifies the desired format ot the test summary.` should be `Specifies the desired format of the test summary.` (`ot` -> `of`).

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

N/A

### What operating system are you running Bazel on?

macOS / Chrome

### What's the output of `bazel

[2022-03-16 16:14] UlasSAYGINIM commented on #14891
@meteorcloudy is FreeBSD not offically supported platform for bazel?

[2022-03-16 16:35] rickeylev commented on #7364
A missing part is making run + binary work. `TestEnvironment` is only respected if the rule is a test. A binary returning TestEnvironment will have the TestEnvironment provider ignored.

I'm running into this as part of Starlarkifying the Python rules, where some targets set env for a binary. Given that env is already public, without this feature, an incompatible change is inevitable. It sounds li

[2022-03-16 17:10] UlasSAYGINIM commented on #14891
@meteorcloudy thank you for answer. what i can do for the toolchain? is there any documentation for unsupported version OS? like bootstrapping from source?

[2022-03-16 17:13] tinder-cwybranowski commented on #14257
My team encountered the same issues with our wrapper over Tulsi -- subsequent `//...` queries triggered the same crash and stack trace. For our case, I resolved the issue by using [`.bazelignore`](https://docs.bazel.build/versions/main/guide.html#bazelignore) to explicitly ignore the gitignored directory where we store the generated Tulsi projects.

This solution might be unique to our setup, but

[2022-03-16 17:42] UlasSAYGINIM commented on #14891
thank you very much both of you. @Wyverald @meteorcloudy

[2022-03-16 17:49] Knowledge91 commented on #12660
I am having the same issue with importing the glm:
WORKSPACE
[code]
//third_party/glm.BUILD
cc_library(
    name = "glm",
    hdrs = glob([
        "glm/*.hpp",
        "glm/**/*.hpp",
    ]),
    includes = ["."],
    textual_hdrs = glob(["glm/**/*.inl"]),
    visibility = ["//visibility:public"],
)
[code]
In file included from gl_main.cc:10:
In file included from external/glm/glm/gtc/matrix_tran

[2022-03-16 18:21] UlasSAYGINIM commented on #14891
i got this error. do i need to wait release update?  it is Release 6.0.0-pre.20220223.1
[code]

[2022-03-16 18:45] UlasSAYGINIM commented on #14891
9 minutes ago there a new release i hope it will worjk but now there is no dist file :)
https://github.com/bazelbuild/bazel/releases/tag/6.0.0-pre.20220310.1

[2022-03-16 19:09] #15056 closed, assigned to fweikert

[2022-03-16 19:22] jesseschalken opened #15059 "MinGW toolchain produces binaries that cannot be run with ctx.actions.run"
### Description of the problem / feature request:

Bazel's default MinGW toolchain produces binaries that depend on `C:\msys64\mingw64\bin\libstdc++-6.dll` and thus cannot be run without `C:\msys64\mingw64\bin` in the PATH.

A consequence of this is that Bazel rules fail to execute `cc_binary` binaries with `ctx.actions.run` when run with `--compiler=mingw-gcc`. The rule author must pass `use_defa

[2022-03-16 20:17] fmeum commented on #7364
What I had in mind aligns with @rickeylev's option (1) and also what @jbms proposed: Introduce the equivalent of `testing.TestEnvironment` for non-test executable Starlark rules, which would then allow these rules to implement their own `env` and `env_inherit` attributes.

[2022-03-17 00:54] aminya commented on #1920
@Danvil your solution works on Linux too. Do you know how I can install the built static library?

[2022-03-17 05:58] qiuxiafei commented on #6196
Any update with this issue? It's 2022 now and still frustrating.

[2022-03-17 06:51] comius commented on #7364
This sounds reasonable.

Are there use cases where a rule would return both TestEnvironment and RunEnvironment, or we should just call it Environment (aliasing and deprecating TestEnvironment) thus covering both use cases?

Is there a use case for a library? Should there be an error if this is used in a lib?

[2022-03-17 07:01] fmeum commented on #7364
I don't see a reason for a rule to return both (in fact, this duplication could become very confusing and error-prone). It would make sense to just make a renamed `testing.TestEnvironment` the generic solution for both binary and test targets and simply preserve it as a Starlark method for backwards compatibility.

Do you have a preference for the Starlark name of the new provider? Does it require

[2022-03-17 08:18] cpsauer commented on #14257
^ .bazelignore definitely a good workaround more generally!
(Referenced above, but certainly good to say explicitly. Sorry to hear this is still causing people pain.)

However, maybe a better workaround still is to not generate the Tulsi project into your source tree, but rather to treat it as the build output by putting it in a new directory under Bazel's output. That is, e.g., passing `--outputf

[2022-03-17 10:34] UlasSAYGINIM opened #15063 "FreeBSD 13 Bazel from source gives error, bazel-6.0.0-pre.20220310.1-dist.zip"
### Description of the problem / feature request:

### Feature requests: what underlying problem are you trying to solve with this feature?

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

🍃  Building Bazel from scratch../usr/local/openjdk11/bin/javac -classpath derived/jars/com_google_protobuf/java/core/libcore.jar:derived/jars/com_

[2022-03-17 10:44] UlasSAYGINIM opened #15064 "FreeBSD 13 Bazel from source gives error, Bazel Release 5.0.0 (2022-01-19) bazel-5.0.0-dist.zip"
### Description of the problem / feature request:

### Feature requests: what underlying problem are you trying to solve with this feature?

root@fbsd_bazel:~ # cd bazel5/
root@fbsd_bazel : ~ / bazel5 # env EXTRA_BAZEL_ARGS="--tool_java_runtime_version=loc al_jdk" bash ./compile.sh
🍃  Building Bazel from scratch
ERROR: JAVA_HOME (/usr/local/openjdk8) is not a path to a working JDK.
root@fbsd_bazel

[2022-03-17 11:16] #14543 closed

[2022-03-17 12:50] #14708 closed

[2022-03-17 14:07] phst commented on #15029
That might be, though my gut feeling says that it might not be so bad in practice. Clashes only occur if the transitive workspace dependency set contains two workspaces with identical local names *and* both contain a library with an identically-named runfile *and* both libraries are linked into the same binary. I think at least the first two of these conditions are already pretty rare: people tend

[2022-03-17 14:46] tinder-cwybranowski commented on #14257
I like this idea, especially since it'll reduce the amount of repo-specific configuration needed to consume the wrapper! Will definitely add it to our backlog, and monitor this thread in case someone identifies a reason to avoid that approach.

[2022-03-17 16:39] PiotrSikora commented on #14097
I've tried to bootstrap `6.0.0-pre.20220310.1` with cherry-picked #15055, on both `mips64le` and `riscv64`.

On `mips64le`, the build still fails with the same message:
[code]

On `riscv64`, the build eventually fails with `Exception in thread "main" java.lang.OutOfMemoryError: Java heap space` (even with `--host_jvm_args=-Xmx2048m`, but maybe that doesn't work with `--tool_java_runtime_version=lo

[2022-03-17 16:48] PiotrSikora commented on #14097
FWIW, I'm testing those under QEMU (using Docker multiarch), so you should be able to test this yourself:
[code]
[code]
[code]
Note that it takes half a day for the `Building Bazel from scratch` step on those platfrorms under QEMU.

[2022-03-17 17:08] benjaminp opened #15067 "build docs on configuration need an update"
https://bazel.build/docs/build#build-config-cross-compilation talks about the target configuration and host configuration. It should be updated to discuss the exec configuration and perhaps also the role of toolchains. `--distinct_host_configuration` should not be mentioned, since it is [moribund](https://github.com/bazelbuild/bazel/commit/78d0fc9ff1d2f22005ddfce43384e35fbac338cb).

[2022-03-17 17:10] esirK commented on #3886
Still facing this issue in Bazel 5.0.0

[2022-03-18 05:29] cpsauer commented on #4549
For (future) readers of this issue: Plenty of additional discussion over in #14967.

To answer a dangling question above: It doesn't like they bothered with ijar in aar_import.
Presumably that's for the same reasons as above, and that you all didn't, namely the build-caching optimization it conveys isn't that relevant to prebuilt code.

[2022-03-18 05:32] cpsauer commented on #14257
Sg. FWIW, we haven't had any problems in a few months of usage, and it was super fast to integrate (just copy the flag).

@tinder-cwybranowski, I'm curious what goodies you guys have in your wrapper!

[2022-03-18 07:13] saltylin opened #15069 "osx_cc_wrapper.sh wrongly treats the Mac magic tokens (i.e. @executable_path, @loader_path, @rpath) as parameter files"
### Description of the problem / feature request:

osx_cc_wrapper.sh treats every parameter in form of @* as a parameter file. However, some external libraries (like `zstd`)
built with rules_foreign_cc may include the Mac magic tokens (i.e. `@executable_path`, `@loader_path`, `@rpath`) as trivial
parameters.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minima

[2022-03-18 07:53] fmeum commented on #15029
That's a great point, which to me suggests a two-layered approach that could look as follows (this includes some of the results of our discussion):

1. Introduce a flag `--legacy_best_effort_remap_runfiles` with values `on`, `off`, and `auto`, where the latter evaluates to `on` with `--enable_bzlmod` and `off` otherwise. If the flag is effectively `on`, for each repository, the runfiles directory

[2022-03-18 09:45] comius commented on #15035
I couldn't reproduce this. With the WORKSPACE and the flags from previous comment cppcheck.zip works; like you're saying.

For unittests I'd need additional reproducer.

Some additional info for debugging:
`remotejdk11_linux_name_version_setting` matches "remotejdk11_linux_11" (name + version)
`remotejdk11_linux_name_setting` matches "remotejdk11_linux"
`remotejdk11_linux_version_setting` matches

[2022-03-18 12:19] carolosfw commented on #12984
I have also seen a similar issue with Bazel 5.0.0 strangely it only affects Mac OS and only a small percentage of Mac OS machines not all.

[2022-03-18 12:51] lberki opened #15072 "Absolute and relative paths in C++ header discovery are apparently not distinguished"
This line of code insinuates that absoluet and relative paths in .d files are supposed to be treated differently:

https://github.com/bazelbuild/bazel/blob/a617b5a1f7831a01a00eb9e099f4672296ec49c6/src/main/java/com/google/devtools/build/lib/rules/cpp/HeaderDiscovery.java#L129

However, it appears that the paths are never actually relative; this is proven by adding a precondition check at the afore

[2022-03-18 13:36] foxandi opened #15073 "--host_cxxopt and --cxxopt are passed to the compiler also for .c files on Windows"
### Description of the problem / feature request:

Since Bazel 5.0.0 `--host_cxxopt` and `--cxxopt` are passed to compilers compiling .c files on Windows.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Use the autoconfigure toolchain to build (with -s) a .c file in Windows. Set `--host_cxxopt`  and `--cxxopt` in the .bazelrc and se

[2022-03-18 14:38] c-parsons opened #15074 "Several downstream projects broken with Bazel@HEAD"
It appears https://github.com/bazelbuild/bazel/commit/a151116f7f671efea9a95f3e251561e53e535cca has broken several downstream projects for Bazel@HEAD. I will be issuing a rollback.

Breakages: https://buildkite.com/bazel/bazel-auto-sheriff-face-with-cowboy-hat/builds/850

Example:
[code]

[2022-03-18 15:03] alexjski opened #15076 "Bazel crashes when running on M1 under qemu"
### Description of the problem / feature request:

Bazel fails to self-extract when running under `qemu` since it tries to treat the `qemu` binary as a self-extracting archive.

### Feature requests: what underlying problem are you trying to solve with this feature?

Running Bazel in M1 machines.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if

[2022-03-18 16:49] keith commented on #15069
Fixed by https://github.com/bazelbuild/bazel/pull/13148

[2022-03-18 17:25] jesseschalken commented on #15059
I think what the MinGW toolchain should do is instead of treating `libstdc++-6.dll` as a system library, treat it like any other dynamically linked library and add it to the runfiles so it is always available.

Same with any other default DLLs that come with MinGW but aren't in `C:\Windows\System32`.

[2022-03-18 18:15] cushon commented on #4549
To recap some of the reason ijar exists for `java_import` from (https://github.com/bazelbuild/bazel/pull/14967#issuecomment-1062505959, https://github.com/bazelbuild/bazel/pull/14967#issuecomment-1072561368), it makes incremental builds faster when the jar changes but the ABI doesn't, and it makes the jars on the compile-time classpath much smaller. Prebuilt jars may not change very often, but `ja

[2022-03-18 18:16] drewranck opened #15078 "Documentation genrule example - maybe avoid $(location ..) or $(locations ..)"
### Description of the problem / feature request:
https://docs.bazel.build/versions/main/be/general.html#genrule_examples

Elsewhere I've seen that we're not supposed to be using $(location) calls and should instead be using $(rootpath ..) or $(execpath ..)

https://github.com/bazelbuild/bazel/issues/2475#issuecomment-339318016

I just spent hours debugging why a genrule of mine didn't work, when

[2022-03-18 18:36] borancar opened #15079 "Bazel cquery crashing with a stack trace, asking to ping "b/150301500 or contact the blaze configurability team""
### Description of the problem / feature request:

Bazel cquery will crash with something similar to:
[code]
or
[code]

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Any cquery invocation has a small chance to crash. We do have a sizeable build graph.

### What operating system are you running Bazel on?

Seen this both on OSX and L

[2022-03-18 22:07] #13612 closed

[2022-03-19 07:11] sgowroji commented on #15017
Hello @hofst, Could you please provide complete details in a new issue  w.r.t your above [query](https://github.com/bazelbuild/bazel/issues/15017#issuecomment-1068964892).  Thanks!

[2022-03-19 07:33] stagnation commented on #15036
It is a little bit involved. We want to set the same invocation-id for all bazel invocations for a given commit in the CI pipeline. So staggered bazel invocations get the same priority in Buildbarn, @Gormo can explain this in further details.

The problem comes from our coverage handling. Where we have an old post-build script that we adapted from our old build systems. And we use --show_result to

[2022-03-19 09:40] hofst commented on #15017
@sgowroji
My issue is the exact issue of @flode . I think we should reopen this issue.

[2022-03-19 12:27] guw commented on #6652
@srdo-humio Do you mind sharing the setup you have working? I'm in a similar need.

[2022-03-19 14:15] janakdr commented on #15036
It seems like there's a lot going on here. I'm still unclear why you need multiple invocations to have the same invocation id. You could set `--bes_keywords`, or `--tool_tag`, or possibly other flags if you want to "tag" some invocations as grouped. Does BuildBarn actually want you to give multiple invocations the same id? It also seems like maybe you need some outer invocation to set the id, but

[2022-03-19 17:46] linzhp commented on #15043
Sorry for the delay. I pull from #15052, and built `//src:bazel-dev`. But when I used the built binary to build `//docs:update` of rules_docker, I got:

[code]

[2022-03-19 19:54] fmeum commented on #15043
@linzhp The build succeeds for me following the instructions from your initial post. Are you on Linux and does `bazel build //...` succeed for you on the repo on the commit prior to mine? The change may cause building new transitive dependencies for `//docs:update`, but if those weren't broken before, they shouldn't be now. The result of rerunning the command with `--toolchain_resolution_debug='.*

[2022-03-19 19:56] janakdr commented on #15036
You could also use the --build_request_id field if you wanted to group certain invocations together: that's what Google does internally for retrying invocations, and other use cases that sound somewhat similar to yours.

[2022-03-19 22:10] linzhp commented on #15043
Switched to macOS for Intel and tried your fix again. It worked. Thanks!

I was on macOS for Apple Silicon before. The commit before yours fails too, but Bazel 5.0.0 works. I saw:

[code]

[2022-03-20 04:17] cpsauer commented on #7475
@llhe?

[2022-03-20 05:24] llhe commented on #7475
@cpsauer Sorry for the late reply. I could not remember the exact problem (and recently not working on Android platform), but the solution might be this: https://github.com/XiaoMi/mace/blob/fa72958a647be9457cf0a19d2f1195205a4b1a58/mace/libmace/BUILD.bazel#L104. You could try.

[2022-03-20 09:23] Gormo commented on #15036
Hi,
The reason for setting the invocation Id is that buildbarn uses the toolInvocationId for scheduling all actions related to the same invocation in the order the invocations are created.

In our case we have an external CI-System that triggers multiple jobs that in turn invokes Bazel multiple times on different hosts (and even multiple platforms).

So by setting the toolInvocationId to the same

[2022-03-20 09:37] wingdi opened #15082 "Documentation issue: Installing Bazel on macOS"
Documentation URL: https://docs.bazel.build/versions/4.2.1/install-os-x.html

https://docs.bazel.build/versions/4.2.1/install-os-x.html#install-on-mac-os-x-homebrew,  This not work. this method install the newest version, not 4.2.1.

[2022-03-20 12:14] borancar commented on #15079
I now have a local repo where I can reproduce it every time. The repo is quite large (~10 GB packed), so am open to running inspection queries or suggestions how to convert it into a minimally reproducible example.

[2022-03-20 12:53] fmeum commented on #15043
That looks more like an unrelated regression. Could you create a separate issue and perhaps rerun the test with 5.1.0rc2? 5.1.0 will be released soon.

[2022-03-20 19:30] janakdr commented on #15036
Yes, the build request id is definitely what build barn should be using
here, at least to correspond to Google's internal usage.

[2022-03-20 19:39] chriscraws commented on #15002
Workaround I'm using now:

Added a `sh_binary` target at `//tools:run`

source:
[code]

Now I can overwrite with `--run_under="//tools:run"`

[2022-03-20 21:52] fmeum commented on #10022
Over the last couple of days, it has become clear that runfiles libraries will have to undergo important changes before bzlmod is officially released with Bazel 6 (see https://github.com/bazelbuild/bazel/issues/15029 for context). I will wait and see how the final design looks like.

@Wyverald to make you aware of this existing issue on runfiles (libraries) documentation.

[2022-03-21 03:03] ckolli5 commented on #15063
Reference :  https://github.com/bazelbuild/bazel/issues/14891

[2022-03-21 03:04] ckolli5 commented on #15064
Reference : https://github.com/bazelbuild/bazel/issues/14891

[2022-03-21 03:56] sgowroji commented on #15082
Hello @wingdi, We have updated the latest installation [documentation](https://bazel.build/install/os-x#install-on-mac-os-x-homebrew)  and we recommend installing using [bazelisk](https://bazel.build/install/bazelisk).

[2022-03-21 04:01] wingdi commented on #15082
Ok .

[2022-03-21 04:01] #15082 closed

[2022-03-21 09:11] #10342 closed

[2022-03-21 09:37] nresare opened #15083 "Text Block syntax unsupported by turbine, making valid java 15 syntax fail bazel build"
### Description of the problem / feature

The java Text Block was landed as JEP 378 in Java 15. Unfortunately, it seems all recent versions of bazel fails to accept the text block syntax when the turbine header compiler is used.

Looking at the main branch of the [turbine lexer](https://github.com/google/turbine/blob/main/java/com/google/turbine/parse/StreamLexer.java#L411), it is clear that it do

[2022-03-21 09:52] stagnation commented on #15036
Thank you for the feedback! Build request id sounds exactly like what we want. And I understand perfectly that we should migrate to the build event protocol. You raise a good point about piping. The main point was the build errors should be printed to the console, but that can be done by tee in the pipeline, and printing the console log in our EXIT trap. Something we introduced as part of troubles

[2022-03-21 09:59] meteorcloudy commented on #15064
Sorry, we currently don't have resource to investigate on build failures on not officially supported platforms, but if you figure out a fix, we are happy to review the change.

[2022-03-21 10:10] srdo-humio commented on #6652
@guw It's the bit I posted above.

[code]
Put that in a bazel file somewhere, then register that toolchain in your WORKSPACE, e.g.
[code]

[2022-03-21 12:05] bazel-io opened #15084 "[5.1] Remote: Don't check TreeArtifact output"
Forked from #15077

[2022-03-21 12:34] meteorcloudy commented on #15073
Maybe this is a similar bug that should be fixed like https://github.com/bazelbuild/bazel/commit/edfe2a17e3434cce660757f59b14f2e9d6ab944e?

[2022-03-21 12:35] comius commented on #15083
Our current [tests](https://cs.opensource.google/bazel/bazel/+/master:src/test/shell/bazel/bazel_java17_test.sh;l=112-137;drc=c81e175a42e17d084a5975a2d5dd4e4057f12689) are only covering java_binary, which doesn't cover turbine.

As soon as text block is in a library, turbine breaks.

cc @cushon

[2022-03-21 12:35] meteorcloudy commented on #15073
/cc @buildbreaker2021

[2022-03-21 12:38] #14433 closed

[2022-03-21 12:40] meteorcloudy commented on #15074
Fixed by https://github.com/bazelbuild/bazel/pull/15077

[2022-03-21 12:40] #15074 closed

[2022-03-21 13:50] brentleyjones commented on #10342
@bazel-io fork 5.1

[2022-03-21 13:50] bazel-io opened #15086 "[5.1] Add support for .tar.zst to http_archive"
Forked from #10342

[2022-03-21 14:26] #15086 closed

[2022-03-21 14:42] junyer opened #15088 "`cc_test` rules trigger remote JDK download (~200 MB)"
### Description of the problem / feature request:

`cc_test` rules trigger remote JDK download (~200 MB), which is undesirable when operating under constraints on storage capacity and/or network capacity. https://en.wikipedia.org/wiki/Principle_of_least_astonishment also applies.

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[code]

###

[2022-03-21 14:45] Wyverald commented on #15088
cc @comius @c-mita

[2022-03-21 14:46] meteorcloudy commented on #15088
It's seems the issue is that cc_tests unconditionally pulls those coverage tools dependencies.
https://cs.opensource.google/bazel/bazel/+/master:src/main/java/com/google/devtools/build/lib/analysis/test/TestConfiguration.java;l=255-270

[2022-03-21 14:50] #15084 closed

[2022-03-21 15:13] bazel-io opened #15089 "[5.1] Be less aggressive in interpreting flags as response files"
Forked from #13044

[2022-03-21 15:48] #15089 closed

[2022-03-21 16:17] janakdr commented on #15036
Ok, it sounds like this isn't a bug that needs fixing then? I will close as WAI.

[2022-03-21 16:17] #15036 closed

[2022-03-21 16:27] gregestren commented on #15079
Thanks for reporting this, @borancar and thanks for the clarifying error PR https://github.com/gkgoat1.

b/150301500 doesn't have much other insight beyond Googler user reports. The two other relevant comments on that bug are:

 - @janakdr : "looks like this can happen when a target in error has already declared a dep. That means there's an edge there to traverse, but no configured target on the o

[2022-03-21 16:32] janakdr commented on #15079
@borancar does your reproduction repo have any loading/analysis errors in it?

Note, by the way, that contents of source files are not relevant for cquery, only BUILD/bzl files, and existence of some source files (ones consumed by globs), so there's probably a hacky way to get it smaller, although that's probably not the direction to expend our efforts in.

[2022-03-21 17:10] gregestren commented on #15041
Update: I expect us to discuss this on Wednesday.

[2022-03-21 19:54] konste opened #15094 "Bazel does not notice compilation action finished and waits for it forever"
### Description of the problem / feature request:

Occasionally (for me specifically it happens once in a day or two) Bazel build gets into the state when it runs forever and never finishes. When this happens you can see something like the following on the console:
[code]
Pay attention to ridiculously high number of seconds the compilation is going.
Looking at the produced object files I can tell

[2022-03-21 20:43] UlasSAYGINIM commented on #15064
Thank you for your response. @meteorcloudy , i think if this software works on macos, i should work on FreeBSD.
because it is same POSIX. if i can find way to build envoy , i will inform you.
thank you.

[2022-03-21 22:05] shahms commented on #5078
Any update's here? It would be great to at least have the caveats around rule kind more loudly documented :-)

[2022-03-22 00:09] davidhao3300 opened #15095 "On timeout, notify process leader before sending SIGTERM to all processes"
### Description of the problem / feature request:

I'm trying to make our test suite dump its thread state upon hitting the timeout from bazel. Bazel sends a SIGTERM to all processes at once, making it difficult to do this without doing some weird subprocess+PGID hacks that don't play well with other tools (in our case, pdb).

According to https://github.com/bazelbuild/bazel/blob/09c621e4cf5b968f4

[2022-03-22 06:52] cpsauer commented on #7475
No, thanks so much for posting back!

Super useful as a general example. Mine are via an android_library, so I'll have to figure out how to do it in that case.

[2022-03-22 10:16] fmeum opened #15098 "`java_test` and `py_test` do not collect `cc_binary` coverage"
### Description of the problem / feature request:

Any `java_test` or `py_test` that executes a `cc_binary` at runtime will not report coverage for the `cc_binary`'s sources.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Reproducers are available as integration tests [for Java](https://github.com/bazelbuild/bazel/pull/15096/files#

[2022-03-22 10:22] fmeum opened #15099 "`rules_docker` target `//docs:update` broken on M1 mac by 5.1.0rc2"
### Description of the problem / feature request:

On an M1 Mac, rules_docker`s target `//docs:update` builds with Bazel 5.1.0rc1, but fails with a toolchain error with Bazel 5.1.0rc2, Bazel 5.1.0rc3 as well as on head.
This was initially discovered by @linzhp in https://github.com/bazelbuild/bazel/issues/15043#issuecomment-1073052013.

### Bugs: what's the simplest, easiest way to reproduce this

[2022-03-22 10:22] fmeum commented on #15099
@Wyverald

[2022-03-22 11:10] fmeum commented on #15099
My bisect points to https://github.com/bazelbuild/bazel/commit/785c7ecafa9b93e700e846397c3a13c320c1dbdd.

[2022-03-22 11:41] fmeum commented on #15099
@linzhp  Locally, on my M1 mac, the contents of `external/platforms/cpu/BUILD` indicate that `@platforms//cpu:aarch64` is not yet an alias for `@platforms//cpu:arm64`, which would explain the issue. Does `rules_docker` perhaps pull in an old version of `@platforms` that does not yet contain https://github.com/bazelbuild/platforms/commit/e20c93258af20dfd452b93c6617bedd0bc5f9359?

[2022-03-22 12:30] comius commented on #15012
I'm not familiar with `fork_mode` or what it does. There is a bunch of attributes you can set on any _test rule: https://bazel.build/reference/be/common-definitions#common-attributes-tests

Also see https://bazel.build/reference/test-encyclopedia#test-sharding

I hope something there helps answer your question.

[2022-03-22 12:33] brentleyjones commented on #15099
@thii @keith

[2022-03-22 13:31] meteorcloudy commented on #15040
Duplicate of https://github.com/bazelbuild/continuous-integration/issues/1060

[2022-03-22 13:31] #15040 closed

[2022-03-22 13:35] meteorcloudy commented on #15008
/cc @jin Can you take a look at this?

[2022-03-22 14:33] comius commented on #15057
Can you provide output when running with `--toolchain_resolution_debug`? What CPU/architecture are you running on?

[2022-03-22 14:49] meteorcloudy commented on #15099
There is a similar error reported back to rules_docker a long time ago: https://github.com/bazelbuild/rules_docker/issues/1988

rules_docker still use Bazel 4.0.0 on CI: https://github.com/bazelbuild/rules_docker/blob/094a012750a9b12f3c92634d34cb16f3314ea2c2/.bazelci/presubmit.yml#L6

/cc @[uhthomas](https://github.com/uhthomas)

[2022-03-22 15:52] Wyverald commented on #15099
huh, I cannot reproduce this on my M1 mac at all. It builds completely fine:

[code]

What's weirder is that my `$OUTPUT_BASE/external/platforms/cpu/BUILD` is indeed the old one (i.e. `aarch64` is NOT an alias).

[2022-03-22 16:17] linzhp commented on #15099
@Wyverald  I am able to build `//docs:update` using the Bazel binary downloaded by Bazelisk, but I can't build `//docs:update` using the Bazel binary built from source:

[code]

[2022-03-22 16:22] fmeum commented on #15099
@Wyverald Your Bazel is living in the (x86_64) simulation.

[2022-03-22 16:33] meteorcloudy commented on #15099
I did some debugging with the --experimental_repository_resolved_file flag, it turns out indeed it's because rules_docker is still using a very old version ([681f1ee032566aa2d443cf0335d012925d9c58d4](https://github.com/bazelbuild/platforms/commit/681f1ee032566aa2d443cf0335d012925d9c58d4)) of `@platforms`  which is introduced as follow:
[code]

I think this should be fixed from rules_docker instead

[2022-03-22 17:12] Wyverald commented on #15099
Ah, that's why. Maybe it's because I have my Bazelisk installed from `go install`? How'd you set up Bazelisk to get the arm64 version?

[2022-03-22 17:16] linzhp commented on #15099
The Python version of Bazelisk will automatically use the arm64 version if you run it on M1 mac

[2022-03-22 18:06] fmeum commented on #15099
Based on @meteorcloudy's analysis, I will close this issue as it's something that should be fixed in rules_docker. Sorry for the false alarm, I just didn't want to risk letting this go unnoticed in case it were on Bazel.

[2022-03-22 19:26] keith opened #15101 "GitHub codeowners group not working"
It looks like the rules apple team who is supposed to be an owner of some of the objc logic is not working correctly

https://github.com/bazelbuild/bazel/pull/14844#issuecomment-1061239960

You can see github reporting errors on https://github.com/bazelbuild/bazel/pull/14614/files

I believe it's because the team doesn't include the bazel repo https://github.com/orgs/bazelbuild/teams/rules_apple-t

[2022-03-22 20:15] alexeagle commented on #8216
@meteorcloudy it seems like we're missing the `incompatible-change` tracking issue for flipping the default value of --incompatible_remote_results_ignore_disk to true? Can you create it?

[2022-03-22 22:35] ted-xie opened #15103 "Bazel query fails inside of the bazel repo itself"
### Description of the problem / feature request:

### Feature requests: what underlying problem are you trying to solve with this feature?

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

### What operating system are you running Bazel on?

### What's the output of `bazel info release`?

### If `bazel info release` returns "developm

[2022-03-22 22:45] #15049 closed

[2022-03-23 00:27] #10240 closed

[2022-03-23 09:40] meteorcloudy commented on #8216
@coeuvre Can you help create the tracking issue for this remote execution flag? https://bazel.build/contribute/breaking-changes

[2022-03-23 12:07] #15103 closed

[2022-03-23 13:11] SimonVleugels commented on #4685
Is the patch ([#13193](https://github.com/bazelbuild/bazel/issues/13193)) or the [workaround ](https://github.com/bazelbuild/bazel/issues/4685#issuecomment-579692958) still working for Bazel 5.0.0?

We are facing the `Cannot locate runfiles directory` again after up-stepping to Bazel 5.0.0 (from bazel 4.2.2). With or without the workaround we are getting:
[code]

We run `bazel coverage` in CentOS7

[2022-03-23 13:25] finn-ball commented on #4685
@SimonVleugels - Looks like the patch I originally created it has been changed slightly. I haven't had time to check but I can try and take a look later:
https://github.com/bazelbuild/bazel/blob/5.0.0/src/main/java/com/google/devtools/build/lib/exec/StandaloneTestStrategy.java#L593

[2022-03-23 13:49] erenon commented on #4218
A possible workaround:

[code]

However, if plugin B depends on a plugin A, it can only depend on the cc_library target. But during runtime, on windows, it'll look for plugin_A_impl.dll, not plugin_A.dll (at that point, plugin_A.dll is already loaded). It'd be great if the complete linking of a cc_library were possible.

[2022-03-23 14:38] mpdn opened #15106 "Non-ascii filenames cause `InvalidPathException` in `java_test`"
It seems that the environment Bazel executes the JVM in on Linux does not allow for non-ascii filenames.

Example:

Test.java:
[code]

BUILD:
[code]

Executing this (on Linux):

[code]

Fails with this:
[code]

This issue seems to only happen on Linux (but I've only tried Ubuntu 20.04.3 LTS). On Mac, it works without issues. I have not tried on Windows.

Bazel version:
[code]

I have found some is

[2022-03-23 15:20] c-parsons commented on #3607
Here are some resources on receiving Bazel support:
https://bazel.build/help#community

I've also responded to the stackoverflow link you've provided.

[2022-03-23 15:39] netskink commented on #3607
Yes, I saw that.  Many thanks.  I am still trying to get it to resolve.  I'll take a look at your link.  Many thanks again!

[2022-03-23 17:05] matthewjh commented on #15010
I am suffering the same problem.

[2022-03-23 18:50] #13236 closed

[2022-03-23 19:06] gregestren commented on #15041
We chatted today and support the opinion at https://github.com/bazelbuild/bazel/issues/15041#issuecomment-1068495694.

I'd be happy to review a PR moving those constraints into `tools/osx/crosstool`. If anyone has the energy to practically migrate *everything* out of the Bazel repo, that's also welcome. But I'm guessing it's no one's top priority just yet. 😄

[2022-03-23 21:46] fmeum opened #15107 "Provide `interface_library` for `cc_binary` with `linkshared = False`"
### Description of the problem / feature request:

On Windows, dynamically linking a DLL against dynamic symbols exported by a binary requires an interface library, but it does seem like Bazel only populates the `"interface_library"` output group of a `cc_binary` with `linkshared = True`. When the `cc_binary` represents an executable, the output group is always empty.

I have prepared a failing in

[2022-03-23 21:47] fmeum commented on #15107
@meteorcloudy It looks like you wrote most of the integration tests for Windows dynamic linking. If you provide some pointers, I could look into providing a PR.

[2022-03-23 23:19] keith commented on #15041
I'm curious about what our options are for moving things out. I think it makes sense in general for these apple platform specifics to be more closely tied to the apple related rules that you are likely (besides in the case of C++ binaries) already using if you're building for apple platforms. I think if we just wanted to move the toolchains and their setup out, we could do something like this http

[2022-03-24 02:56] davido commented on #14532
OpenJDK 18 is now [available](https://cdn.azul.com/zulu/bin/zulu18.28.13-ca-jdk18.0.0-linux_x64.tar.gz).

[2022-03-24 07:18] bedbad opened #15110 "Documentation issue: General Rules"
Documentation URL: https://docs.bazel.build/versions/main/be/general.html
"
However, Bazel (but not Bazel) passes through the value of the user's PATH environment variable.

?

[2022-03-24 08:24] sgowroji commented on #15110
Hi @bedbad, Could you please share more details with respect to your above query. Thanks!

[2022-03-24 08:31] bedbad commented on #15110
That part of documentation is incomprehensible.

[2022-03-24 09:26] meteorcloudy commented on #15107
Hmm, this seems to be a very rare use case? I didn't even know that you could link to a .exe binary. @oquenchil is now the C++ rule expert, I'll let him decide whether we should support this.

If we do, we probably need to change the code here: https://cs.opensource.google/bazel/bazel/+/master:src/main/java/com/google/devtools/build/lib/rules/cpp/CcBinary.java;l=892-896
And also the C++ rules are

[2022-03-24 09:37] meteorcloudy commented on #15107
Did a quick test, it seems it works, the generated interface library are identical:
[code]

[2022-03-24 10:11] SimonVleugels commented on #15035
After some further investigating, we figured out it's caused by using `bazel coverage` for our unittests. Running `cc_test` with a local jdk is successful when using `bazel test` but isn't with `bazel coverage`.

**Reproducible example:**
- Download: [example.zip](https://drive.google.com/file/d/17DcVutAUa5WeRH0FStN8LKp_fFEKgA_o/view?usp=sharing)
- Unzip in `/tmp/example`
- In `/tmp/example` run `

[2022-03-24 11:14] guw opened #15111 "java_import not made available at runtime"
### Description of the problem / feature request:

[code]
`bazel run :mybuilder1` does not work - resources missing at runtime
`bazel run :mybuilder2` works as expected

### Feature requests: what underlying problem are you trying to solve with this feature?

`java_library` does not allow re-mapping. We have some more complicated cases which require use of `prefix` available in `pkg_files`. In Mav

[2022-03-24 11:26] uajith opened #15112 "@bazel_tools//third_party/jarjar:jarjar_bin is not getting built on Bazel 5.0"
### Description of the problem :
The target _@bazel_tools//third_party/jarjar:jarjar_bin_ is failing to build on Bazel 5.0.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

On Bazel 3.7.1 the target is getting built with

[code]
But on Bazel 5.0, it is exciting with the below error

[code]

### What operating system are you running B

[2022-03-24 11:29] UlasSAYGINIM commented on #15035
can we have installed for all needed dependencies or tools or toolchains in our build environment and tell the bazel, you can use local ones , no need to download anything? how can we replace build configs of project to look all tools and chains in local environment?

[2022-03-24 11:30] UlasSAYGINIM commented on #15035
like use google v8 javascript engine in local environment? and all of the others.

[2022-03-24 11:34] fmeum commented on #15107
Thanks for the pointers and the workaround. I will give it a try in Jazzer.

[2022-03-24 14:29] zmk-punchbowl commented on #13925
Is your fix usable yet @emidln ? I [commented there](https://github.com/bazelbuild/bazel/pull/14391#issuecomment-1077687437) that I'm running into this issue when trying to cross-compile `tensorflow` using `bazel`.

[2022-03-24 14:49] Wyverald commented on #14714
5.1 is now out!

[@vbatts](https://github.com/vbatts) [@petemounce](https://github.com/petemounce) [@excitoon](https://github.com/excitoon) Could you please update relevant package managers? Thanks!

[2022-03-24 15:15] pauldraper commented on #10299
There is hardlinking, but that only works if output root and source root are on the same device, and it doesn't work for directories.

[2022-03-24 17:36] LiyouZhou commented on #12238
Is there a workaround for this?

[2022-03-24 17:49] bazel-io opened #15116 "[5.2] fix(bzlmod): throw on json parse exception"
Forked from #15109

[2022-03-24 17:50] bazel-io opened #15117 "[5.2] fix(bzlmod): throw on json parse exception"
Forked from #15109

[2022-03-24 18:22] shahms commented on #10849
One thing that isn't covered by platforms but can be done with constraints (although awkwardly) is preventing a target from transitively depending on targets which are mutually exclusive (regardless of platform), e.g.

[code]

There shouldn't be any need to define and use a new platform to express and enforce this kind of constraing.

[2022-03-24 18:29] gregestren commented on #10849
I acknowledge platforms don't solve all use cases naturally. Product features (like "free" vs. "premium") are a prominent counterexample.

In your above example, would `a-env` and `b-env` refer to anything in particular? What's the non-platform mutual exclusivity you're thinking?

[2022-03-24 19:55] illtellyoulater commented on #8537
Thanks @ValYouW! Worked for me too!

[2022-03-24 21:18] Tomsons commented on #15112
@uajith it has been removed see [#12941](https://github.com/bazelbuild/bazel/pull/12491)

[2022-03-24 23:55] FuegoFro commented on #14346
I believe I'm running into this with non-Objective-C. Is it possible this happens for any usage of Clang?

Specifically I'm seeing issues where things like `protoc` are failing the declared dependencies check when downloaded from the remote cache, and it does indeed seem to be downloading `.d` files that have absolute paths from the CI machine in them.

For a minimal repro, I created a fresh repos

[2022-03-25 00:15] shahms commented on #10849
This case came up internally specifically around avoiding known ODR violations at build time by declaring two libraries explicitly incompatible. A fairly niche case, to be sure, but considering the hard-to-debug breakages such issues can cause seemed potentially valuable to support.

[2022-03-25 00:59] cushon commented on #15111
I cannot reproduce. Can you provide a self-contained minimal repro?

[code]

[code]

[2022-03-25 08:18] limdor opened #15120 "BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN=1 does not work for the execution platform"
### Description of the problem / feature request:

BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN=1 prevents taking the autodetected toolchain for the target platform but not for the execution platform.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

I'm trying to make sure that our project use only hermetic toolchains, I would expect that BAZEL

[2022-03-25 08:25] guw commented on #15111
I did further investigation.

I noticed that `getClass().getResource("/files/resource2.txt")` *always* works. What is actually broken is Springs' resource resolver, which allows scanning for `classpath*:/files/*.txt`. This is broken. At this point I believe it's a JDK/Spring issue. Thus, I opened https://github.com/spring-projects/spring-framework/issues/28230.

I noticed is the following: The jar

[2022-03-25 08:25] #15111 closed

[2022-03-25 08:27] cloudhan commented on #5511
I am curious why a simple non-breaking, improve everyone's life feature, can be that hard to get addressed in every project. The ctx.actions side deside not to support stdout/err redirection. The bazel command insists on capture all action stdout and garbage fill users terminal with `INFO: From Executing blahblah`. And the [f**king vendor tool side insists on garbage fill users' stdout](https://de

[2022-03-25 09:01] fmeum opened #15121 "No C++ coverage collected when a runtime object is not in runfiles"
### Description of the problem / feature request:

When a `cc_test` transitively depends on a `cc_binary` with `linkshared = True`, the latter is added to the list of runtime objects to collect coverage for. However, if e.g. the dependency on the shared library goes through a `java_binary`'s `resource` attribute, the shared library will not be available in the `cc_test`'s runfiles, which causes LL

[2022-03-25 09:10] ljessendk commented on #13847
I'm struggling with the same issue but found a workaround that works for me, instead of bazel fetch ... I use bazel aquery "deps(...)":
`bazel --output_base=..some_empty_directory.. aquery "deps(...)" --repository_cache=..place_to_store_downloaded_artifacts_for_offline_builds...`

[2022-03-25 13:01] fitzner commented on #14693
Inside a rule context you can use `ctx.configuration.default_shell_env` to read the env variables. But I determined some inconsistencies when using the `--action_env` flag:

- --action_env HOME => no value available in ctx.configuration.default_shell_env
- --action_env HOME=$HOME or --action_env HOME=/home/foo => value available in ctx.configuration.default_shell_env

An issue could that be if you

[2022-03-25 14:25] tetromino commented on #15022
I light of #15022 - let me clarify how I see the feature needs to be implemented. Naturally, we do not want to call `sorted` (finding a min or max is an O(n) time and O(1) space problem; creating a temporary a sorted copy of the list is O(n log n) time and O(n) space). But we also do not want trivial comparator-based implementations that might evaluate `key` twice on each element of the list - the

[2022-03-25 17:22] fweikert opened #15123 "Status of Bazel 6.0.0-pre.20220315.4"
- Expected release date: 2022-03-25

Task list:

- [x] Pick release baseline: [bc2f0519](https://github.com/bazelbuild/bazel/commit/bc2f0519a4e6f0ac3ea42ff50da2c9919c5b6c0e) with cherrypick [a4212885](https://github.com/bazelbuild/bazel/commit/a421288560e776d952a6b198e399b312e3a3a1b1)
- [x] Create release candidate: https://releases.bazel.build/6.0.0/rolling/6.0.0-pre.20220315.4rc1/index.html
- [x

[2022-03-25 17:55] gregestren commented on #14848
Hi @aherrmann .

I hear your point. Addressing this is a bit nuanced since we're basically deprecating `--distinct_host_configuration=false`: see https://github.com/bazelbuild/bazel/commit/78d0fc9ff1d2f22005ddfce43384e35fbac338cb.

For that reason I'm not going to prioritize this issue. But I'd love to hear what value `--distinct_host_configuration=false` serves for you. If the impact is severe en

[2022-03-25 18:19] thirtyseven opened #15124 "JacocoCoverage_jarjar_deploy.jar's shading of Guava is incomplete, causing some user tests to fail with bazel coverage"
### Description of the problem / feature request:

While upgrading our repo to Bazel 5.1 from 4.2.2, we found some Java tests that depend on Guava were now failing but only with `bazel coverage`, not with `bazel test`. Test failures gave this stacktrace:

[code]

When stepping through in the debugger, I noticed that `com.google.thirdparty.publicsuffix.PublicSuffixPatterns.EXACT` was being loaded f

[2022-03-25 19:29] gregestren commented on #15041
@trybka  if we took https://github.com/bazelbuild/bazel/blob/96c8a9073807c9e97635ddafe2ed0365a9318d6f/tools/osx/crosstool/BUILD.toolchains out of Bazel's repo, how would this complicate C++?

[2022-03-25 20:33] #15123 closed

[2022-03-25 21:50] rrbutani opened #15126 "`@bazel_tools`'s `unix_cc_configure.bzl` breaks when other link opts contain `lld`"
## Problem

When creating [`@local_config_cc` during autoconfiguration](https://github.com/bazelbuild/bazel/blob/0ba4caa5fc4bfd2d7f9af2a1653ef5b4bd83d176/tools/cpp/cc_configure.bzl#L125), `unix_cc_configure.bzl`'s [`_find_linker_path`](https://github.com/bazelbuild/bazel/blob/0ba4caa5fc4bfd2d7f9af2a1653ef5b4bd83d176/tools/cpp/unix_cc_configure.bzl#L174-L218) is used to parse [`-v` command line out

[2022-03-25 22:05] thirtyseven commented on #15124
Created a minimal test case here: https://github.com/thirtyseven/bazel-coverage-bug-example

`bazel test //java:Test` passes, but `bazel coverage //java:Test` fails.

[2022-03-25 22:28] thomasyoung opened #15127 "Bazel Fails with "undeclared inclusion(s) in rule" with custom C++ toolchain and --output_user_root"
### Description of the problem / feature request:

Have a .bazelrc file in home folder with

startup --output_user_root=<CUSTOM_FOLDER>

Using custom C++ toolchain which calls tensorflow style python wrapper of cuda compiler and gcc as needed.
Bazel is calling the compiler with MF option for dependency. In the dependency output .d file reads most lines with relative path like

external/qnx710-ga1/

[2022-03-26 16:39] alexeagle opened #15128 "Warn user when using unstable GitHub archive URL"
In https://github.com/bazel-contrib/SIG-rules-authors/issues/11 we did a bunch of research, including reaching out to GH support.

TL;DR: `http_archive` should never use `archive/v1.2.3.tar.gz` urls as the hash cannot be guaranteed to be stable. However `refs/tags/v1.2.3.tar.gz` URLs are guaranteed.

Bazel should warn users when they give an unstable URL since it's a nasty surprise when the sha256

[2022-03-27 08:23] grigoryevandrey commented on #10134
If you came here because you trying to build go containers with rules_docker package, add os and arch explicitly to your go_image declaration
`go_image(
    name = "base_image",
    embed = [":go_default_library"],
    visibility = ["//visibility:public"],
    goos = "linux",
    goarch = "amd64",
)`

Then you should delete old cache and rebuild

[2022-03-28 04:06] uajith commented on #15112
@Tomsons,
So what is the alternative?

[2022-03-28 05:14] ashione commented on #14097
Did you mean its platform repo tool should be imported manually? I never update any @platforms old version in my projects. Or bazel release package might be modified to check out and make sure lastest platform plugin could be used.

[2022-03-28 07:03] koenvervloesem commented on #14097
I tried building Bazel 5.0 on ARMv7 (Raspbian GNU/Linux 10 on a Raspberry Pi 4) with `env EXTRA_BAZEL_ARGS="--tool_java_runtime_version=local_jdk" bash ./compile.sh` and got this now:

[code]

[2022-03-28 11:38] JohnGHS commented on #8706
I have to admit that I'm only starting with Bazel, so please take the following with a grain of salt.
I'm trying to integrate a non-gcc C++ compiler into Bazel, and it is complaining about a lot of gcc-specific options that are being injected into the build. I can easily believe that this is because I'm following a tutorial that assumes a gcc builder, hence a single `load()` could be adding unnece

[2022-03-28 11:42] scentini commented on #8706
cc @oquenchil

[2022-03-28 13:21] kjlubick opened #15130 "Add support for .ar and .deb files to repository_ctx"
### Description of the problem / feature request:

I intend to add support for .ar archive files and .deb files (which are the same file format).

### Feature requests: what underlying problem are you trying to solve with this feature?

[download_and_extract](https://docs.bazel.build/versions/main/skylark/lib/repository_ctx.html#download_and_extract) supports many compressed or packaged file forma

[2022-03-28 15:22] coeuvre opened #15131 "incompatible_remote_output_paths_relative_to_input_root"
## Background

`REAPI` didn't make it clear for the server implementations on how to interpret the output paths i.e. should the output path relative to input root or working directory? https://github.com/bazelbuild/remote-apis/issues/127

With some changes, the spec is now quite clear about output paths being working directory-relative. But some implementations (correctly) implement to the spec, a

[2022-03-28 15:55] cushon commented on #10507
As of https://github.com/bazelbuild/bazel/commit/f33ce3d8192953e425f613024ec04541ceb80f1b, singlejar has a `--multi_release` jar that causes `Multi-Release: true` to be set in the output. (It was possible earlier by using `--deploy_manifest_lines 'Multi-Release: false'`.)

The tentative plan to add `--incompatible_multi_release_deploy_jars` to Bazel that causes all `_deploy.jar`s to be multi-relea

[2022-03-28 15:59] bazel-io opened #15133 "[5.2] Configure Apple crosstool to return a complete target triple that includes minimum OS version and target environment"
Forked from #14898

[2022-03-28 16:56] trybka commented on #15041
Concretely, I think it would mean that we couldn't build C++ on Apple platforms?

I think there is an argument for _reducing_ the supported surface for Apple platforms without rules_apple, however I think we still want to maintain bare minimum C++ support for darwin_* which does not require (AFAIK) xcode, for instance.

I think it is more acceptable to say that anything requiring Xcode requires ru

[2022-03-28 21:48] ptarjan commented on #6807
+1 to the sorting step being memory intensive. This flag is sadly unusable for us as it OOMs the process after an hour of working. Can the sorting be done in a less memory intensive manner? Or farmed out to unix `sort`?

[2022-03-28 22:03] pauldraper commented on #14693
Oh, I wasn't aware.

[2022-03-28 23:49] thomasyoung commented on #15127
Believe the absolute path in depencency (.d) file is from the underlying GCC somehow.

[2022-03-29 03:09] cpsauer commented on #10134
Hey, all! I tossed up a quick PR (#15135), proposing the changes that it seemed like people wanted above! Andrey's message above brought me back to this issue, and I saw the reacts, above. Would love your help getting it (or an alternative) through!

[2022-03-29 03:42] gkuga opened #15136 "https://zlib.net/zlib-1.2.11.tar.gz Not Found"
### Description of the problem

It seems that http_archive tries to download the zlib, but it is Not Found and build fails. Is this related to the release of zlib 1.2.12?

[code]

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

We are doing bazel build on CI using bazelisk, I couldn't reproduce it on mac, would it be a work around to

[2022-03-29 04:22] cushon commented on #4549
To expand on the previous comment, the option that @kevin1e100 brought up in https://github.com/bazelbuild/bazel/pull/14967#issuecomment-1062473166 of having ijar not strip classes annotated with `@kotlin.Metadata` seems like the most promising option that's been discussed to me.

We might also consider adding more validation to `java_import`, or example to detect mistakes like forgetting to add t

[2022-03-29 04:45] cpsauer commented on #4549
@cushon and @kevin1e100, a question coming from a place of true ignorance about the state of a different alternative:

I'd read @kevin1e100's comment above (https://github.com/bazelbuild/bazel/issues/4549#issuecomment-462509693) about generating ABI jars (equivalent to ijars?) via an official kotlinc plugin. I'd also seen that Kevin had contributed a fix to the other blocking issue he'd linked (aw

[2022-03-29 05:54] comius commented on #8175
I'm surprised that depending on jdk.BUILD only throws an error on query, but not already when the target is defined. It looks like there is another bug, that allows repo rules to depend on un-exported files from other packages.

[2022-03-29 08:55] ljessendk opened #15137 "Relative path for --output_base in .bazelrc resolves to %cwd% instead of %workspace_root%"
### Description of the problem:

I'd like to set the --output_base relative to the workspace directory. If I add "startup --output_base=../build" to the .bazelrc file in the root workspace directory I would expect one of the following behaviors:
1. Bazel would resolve the output_base path relative to the workspace directory ('%workspace_root%/../build) (behavior similar to how --experimental_downl

[2022-03-29 08:55] jokva opened #15138 "Using "pic" var in cc_toolchain linking actions on linkshared = True"
### Description of the problem / feature request:

It looks like pic (position independent code) is not set for linking actions, which means there is no way for cc_toolchain to pass specific flags to the link-actions when building shared objects. This is usually not a problem for gcc, but I have a compiler that expects -fpic when linking objects built with -fpic.

Either I have configured my custo

[2022-03-29 09:55] finn-ball commented on #15035
@comius - I also came across this problem with my own projects and have also managed to reproduce with the examples given in the zip file.

[2022-03-29 10:45] finn-ball commented on #7849
This breaks for me when I upgraded one of my repositories and none of the fixes here worked.

Someone else has a reproducible example here which breaks for `bazel coverage`:
https://github.com/bazelbuild/bazel/issues/15035

[2022-03-29 11:15] mathis98 commented on #15136
I have the exact same issue. Does someone know a solution?

### Description of the problem

When trying to use bazel it tries to download zlib from 'https://zlib.net/zlib-1.2.11.tar.gz' which fails with a 404.

Here is my log:

`INFO: Call stack for the definition of repository 'zlib' which is a http_archive (rule definition at /usr/ports/science/libtensorflow1/work/bazel_out/2a82c1c57c084b7f4e69f

[2022-03-29 12:46] carpenterjc commented on #12712
I have found you can delay setting the crosstool_top to the `platform_mappings` file which avoids having it globally.

For example:
[code]

[2022-03-29 14:12] comius commented on #15106
I don't see any `InvalidPathExceptions` thrown from Bazel (except in Android rules, but this isn't invoked here). https://cs.opensource.google/search?q=InvalidPathException&sq=&ss=bazel%2Fbazel

For now I'll assume this is problem with underlying filesystem/OS, unless I'm missing something.

[2022-03-29 14:39] comius commented on #15112
I replaced it in two projects:
https://github.com/bazelbuild/intellij/pull/2218
https://github.com/bazelbuild/rules_kotlin/pull/399

[2022-03-29 14:39] #15112 closed

[2022-03-29 16:37] fweikert opened #15140 "Status of Bazel 6.0.0-pre.20220324.1"
- Expected release date: 2022-03-29

Task list:

- [x] Pick release baseline: [77cd5756](https://github.com/bazelbuild/bazel/commit/77cd575685f405a2f2a9a6549b20ec439dc4ba5f)
- [ ] Create release candidate: https://releases.bazel.build/6.0.0/rolling/6.0.0-pre.20220324.1rc1/index.html
- [ ] Post-submit: https://buildkite.com/bazel/bazel-bazel/builds?branch=release-6.0.0-pre.20220324.1rc1
- [ ] Push

[2022-03-29 17:26] keith commented on #15126
It looks like I need to fixup that PR but can you test and verify your case?

[2022-03-29 17:32] keith commented on #15099
This old platforms issue might be hit by more folks as well https://github.com/google/flatbuffers/pull/7195

[2022-03-29 18:50] janakdr commented on #10912
Passing over to Justin.

[2022-03-29 18:53] janakdr commented on #14723
Since I won't be able to work on this, I'm going to close, since a workaround exists. It would be nice to understand what went wrong in case it's still lurking, but I can't say the team should prioritize it.

cc @alexjski for interest

[2022-03-29 19:40] konste opened #15141 "The flag --modify_execution_info does not allow setting values for the specified keys"
### Description of the problem / feature request:

There is a flag [--modify_execution_info](https://bazel.build/reference/command-line-reference#flag--modify_execution_info) which allows to set execution info (i.e. execution_requirements, too bad they're not named consistently) for specific actions by their mnemonic. Unfortunately there doesn't seem to be a way to pass a value to the keys in --mo

[2022-03-29 19:44] dragonsinth opened #15142 "Upgrade netty to 4.1.75"
### Description of the problem / feature request:

Please upgrade Netty 4.1.69 -> 4.1.75

On linux, we frequently run into https://github.com/netty/netty/issues/11815

This is likely solved in Netty 4.1.75 via https://github.com/netty/netty/commit/1df38d2c7be98e11fa13c7ee52aadbfbea7669e6

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible

[2022-03-29 20:51] rrbutani commented on #15126
@keith thank you! I totally missed your PR when I was searching the issue tracker

I haven't tried running a patched Bazel with your PR yet but I think it should work! The `-I` includes get filtered out because they aren't quoted at all and lines like these:
[code]
are filtered because they don't _start_ with a quote.

I'll try it out later tonight just to be sure.

[2022-03-29 23:44] keith commented on #15041
The route I'm suggesting would still have a C++ toolchain setup for macOS through the same codepath as if you don't have Xcode installed today, specifically here:

https://github.com/bazelbuild/bazel/blob/be21f194ae00d1a21e8e36a6fbb30be9e449086c/tools/cpp/cc_configure.bzl#L73

Using these toolchain configurations https://github.com/bazelbuild/bazel/blob/be21f194ae00d1a21e8e36a6fbb30be9e449086c/too

[2022-03-30 00:00] oliviernotteghem opened #15144 "Desugaring failure with bridge method when using default method interface in android project"
### Description of the problem / feature request:

Android binary project will fail to compile due to java desugaring issue, if project has a dependency on a library meeting the following criteria :
- library was compiled with `-Xjvm-default=all`. Note: this option is not available in bazel (kotlin) rules yet, so this is typically a library built with Gradle.
- library contains a kotlin interface

[2022-03-30 01:14] kevin1e100 commented on #4549
@cpsauer the jvm-abi-gen plugin I'm guessing you're asking about produces ijar-like artifacts _when compiling Kotlin sources_. I don't believe isn't usable with Jar files the Kotlin compiler previously produced, so it's not helpful in the context of `java_import` afaik.

[2022-03-30 01:32] cpsauer commented on #4549
Oh! Got it. Bummer Thanks, @kevin1e100, for taking the time to reply.

[2022-03-30 02:38] vpanta commented on #15142
I have put up a prospective PR for this upgrade, and as far as I can tell everything is still hooked up correctly in my branch.

[2022-03-30 03:52] gkuga commented on #15136
Sorry, I found the cause of my problem. The dependency we are using was prior to this commit.

https://github.com/protocolbuffers/protobuf/commit/516f8b15603b7f7613e2fb957c55bc56a36b64a6

[2022-03-30 05:20] cpsauer commented on #13287
Woo! Thanks for doing, Keith.

#### Keith, re `-Os` & linker errors:
Aha! I realized how we'd been talking past each other. Heretofore, I'd just been specifying `--compilation_mode=opt` alongside the LTO options, which (from aquery) was creating a mix of `-Os` and `-O2` when _compiling_. After some of monkeying around trying to induce that error by specifying `--copt=-Os`, I realized that you must

[2022-03-30 05:35] gkuga commented on #15136
@mathis98

Do you need to use tensorflow v1.15.5 ? If so, v1.15.5 uses protobuf v3.8.0, and it has also zlib dependency. you may be able to specify protobuf v3.10.0 or higher to build.

[2022-03-30 05:49] gkuga commented on #15136
I found a patching workaround in the tensorflow repository. I will rewrite the mirror URL in this way.

https://github.com/tensorflow/tensorflow/blob/48d0db92b9c87a255c1951e498662988a5c5a3e7/third_party/protobuf/protobuf.patch

I will close this Issue if no other good workaround seems to be available.

[2022-03-30 07:20] mpdn commented on #15106
It's not thrown from Bazel, it's thrown from the JVM that Bazel launches as part of the test, so there is no Bazel code running in that Java application. I think that, due to the environment or sandboxing or something else, the JVM believes that the filesystem does not support unicode paths on linux - which it does.

It seems like surprising behavior to me, as the JVM on linux usually has no probl

[2022-03-30 08:01] mathis98 commented on #15136
Alright. Thanks for your help. I will try the patch then.

[2022-03-30 08:05] #15136 closed

[2022-03-30 12:02] coeuvre opened #15148 "incompatible_remote_results_ignore_disk"
## Background

Disk cache is a local supplement for the remote cache and can be used solely or combined with the remote cache. When both disk cache and remote cache are enabled (combined cache), Bazel will fetch blobs from remote cache and save them to the disk cache, as well as, upload blobs to both disk and remote cache for later read.

## Problem

When disk cache was first introduced, it was tr

[2022-03-30 12:03] coeuvre commented on #8216
Created #15148.

[2022-03-30 12:04] bu3 opened #15149 "query 'deps(any_target)` fails with Bazel 5"
### Description of the problem / feature request:

While upgrading to Bazel5 I noticed that `bazel query 'deps(//projects/services/scone-gen)'` fails with the following error:
[code]
while with Bazel 4.2.0 was working correctly and returning the expected deps.

### Feature requests: what underlying problem are you trying to solve with this feature?

I'm trying to upgrade my repo to the most recent

[2022-03-30 12:30] coeuvre opened #15150 "incompatible_remote_build_event_upload_respect_no_cache"
## Background

If remote cache is enabled, Bazel will upload blobs referenced in the BEP to remote cache and replace the file path in the BEP with URI pointing to the remote CAS so that consumers of BEP can find the blobs.

## Problem

In some cases, we don't want to upload some blobs to remote cache by using tags (e.g. `no-remote-cache-upload`) or flags (e.g. `--remote_upload_local_results=false`

[2022-03-30 14:24] aiuto commented on #15130
I would like to find a way to do this by making it an external set of repository rules that can have it's own development team. The issue is that most of the core Bazel team never see .deb files. They won't be able to adequately maintain or enhance it.  I;m tied up this week and meteorcloudy@ is out on vacation. We can talk next week.

[2022-03-30 15:21] cloudhan commented on #6477
+1 for @joeljeske's ask above.
+1 for @c-nuro's case.

Why pass a callable, while the callable cannot have a full overview of the action. **Why not just let the rule author pass the resource set dict in directly, or even better, a `ResourceSetInfo`**. At the moment of `actions.run` is in construction, the rule author almost have all the information he can get, the so called `input_size` is also av

[2022-03-30 20:19] keith commented on #15074
@meteorcloudy I think we're still seeing some version of this with bazel 5.1 which has the fix you linked, should we file a new issue? https://github.com/envoyproxy/envoy/issues/20599#issuecomment-1083585322 (I don't have anymore useful info than what's on that issue)

[2022-03-30 22:57] EdbertChan commented on #13989
@Kernald How were you able to even get this to run?

I'm getting `Error: Could not find or load main class com.android.tools.r8.compatdx.CompatDx`. If you peek inside the packaged d8.jar file that is in build_tools 31.0.0, CompatDx doesn't even exist as a class. I can confirm this exists in 29.0.0 in the d8.jar. but not 31.0.0.

In fact, if you look at the R8 source, [CompatDx](https://r8.googleso

[2022-03-31 02:07] vpanta commented on #15142
Fun stuff, the `netty` update isn't working because `grpc-java` has a bug the new version of `netty` triggers. It was fixed in release `1.45.1`, which I'll need to update as well.

[2022-03-31 04:32] Tacodude7729 commented on #14548
I'm running into this on Ubuntu. Using `sudo update-alternatives --config java` to set my /usr/bin/java to the java-8-openjdk does not solve the problem.
Just trying to build the 'stage1' main target from the 'Build a C++ Project' tutorial :(

[2022-03-31 04:40] alexeagle commented on #14539
It also doesn't make sense to print that warning for `bazel run` since we don't care whether it was a build output or a source file. For example running `bazel run @go_sdk//:bin/go mod tidy` prints this warning.

[2022-03-31 05:30] vpanta commented on #15142
After attempting to bring `grpc-java` up to `1.45.1` (along with `grpc` up to `1.45.0`), I now get a new slew of build errors around not being able to find `@io_bazel_rules_go_name_hack` repository (formatted for readability):
[code]

This seems to be a [recently-removed piece of `rules_go`](https://github.com/bazelbuild/rules_go/commit/80d5afeb3f9d5eef99161e9f032a90d3c6074525), but given how deep

[2022-03-31 07:12] sgjesse commented on #13989
`CompatDx` was moved from R8 to bazel [`com.google.devtools.build.android.r8.CompatDx`](https://github.com/bazelbuild/bazel/blob/09c621e4cf5b968f4c6cdf905ab142d5961f9ddc/src/tools/android/java/com/google/devtools/build/android/r8/CompatDx.java). It was [removed from R8](https://r8.googlesource.com/r8/+/ea7348e94b745c309a3b1606784d5c90be92c330) almost two years ago.

[2022-03-31 09:07] graywolf-at-work commented on #14548
Shouldn't it be java-11-openjdk?

[2022-03-31 09:34] #15124 closed

[2022-03-31 09:36] bu3 commented on #15149
I found out what the problem is.
I didn't upgrade `remote_java_tools_linux` to 10.7, I was still using 10.6.

Upgrading fixed the problem.

Thank you anyway

[2022-03-31 09:36] #15149 closed

[2022-03-31 11:38] coeuvre commented on #15074
https://github.com/bazelbuild/bazel/pull/15151 should fix this.

[2022-03-31 11:59] burdiyan commented on #6011
This issue also seem to be talking about a similar problem: https://github.com/bazelbuild/bazel/issues/10075

[2022-03-31 14:03] TLATER commented on #12821
This was merged in https://github.com/bazelbuild/bazel/commit/00805727b867d33fd922e63ca82b0d9825ad79fe

[2022-03-31 14:33] bazel-io opened #15152 "[5.2] remote: Proactively close the ZstdInputStream in ZstdDecompressingOutputStream."
Forked from #15061

[2022-03-31 14:36] pauldraper opened #15153 "Avoid creating test runfile trees when using sandboxfs"
### Description of the problem / feature request:

Avoid creating test runfile trees when using sandboxfs.

### Feature requests: what underlying problem are you trying to solve with this feature?

The entire point of sandboxfs is avoiding creating symlinks.

But when running `bazel test`, the symlink tree is created anyway. This seems unnecessary, no?

[2022-03-31 21:46] nickdesaulniers opened #15154 "glob not finding expected directory"
### Description of the problem / feature request:

I swear `glob` is haunted. It can find a sibling dir, but not an adjacent sibling dir.

### Feature requests: what underlying problem are you trying to solve with this feature?

I'm trying use Android's NDK from a consumer using Bazel, though the NDK isn't distributed with Bazel build rules.

### Bugs: what's the simplest, easiest way to reproduce

[2022-03-31 21:57] linzhp commented on #8175
@jschaf @ahumesky  I believe this can be closed.

@comius I agree. Many repos exploited this bug. Here is another example, in which `//:third_party/zlib.BUILD` is not exported:

https://github.com/protocolbuffers/protobuf/blob/eb8976a56d3f596ada8562dcff27724fb3f3625c/protobuf_deps.bzl#L31-L37

[2022-03-31 22:20] aiuto commented on #15101
I'm about to do an audit and clean up of lots of group memberships. I'll check as part of that.

[2022-03-31 22:26] ptarjan opened #15155 "Stable sort of execution logs is unaware of shards"
### Description of the problem / feature request:

If I use
[code]

or
[code]

and then use the `./bazel-bin/src/tools/execlog/parser` to sort two exec logs together from different machines, the outputs will put shards in random orders.

For example:
[code]

appears after
[code]

in one file but after
[code]

in another

### Feature requests: what underlying problem are you trying to solve with th

[2022-04-01 02:14] constinit commented on #2537
I can see debug symbols (including line numbers) when building with `-c dbg --spawn_strategy=local` on an M1 Mac. Note that for ASAN you might need an additional environment variable.

Full command:
[code]

[2022-04-01 09:51] comius commented on #15106
If that's the case, further investigation is welcome and even a fix.

[2022-04-01 10:20] redsun82 opened #15156 "`rules_pkg` does not work with `bzlmod`"
### Description of the problem / feature request:

I cannot use `rules_pkg` when pulling the dependency via experimental `bzlmod`.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

See this minimal example:

https://github.com/redsun82/bzlmod-rules_pkg-problem

When running

[code]
I get
[code]

### What operating system are you runni

[2022-04-01 13:53] illicitonion opened #15157 "Transitions can inspect configurable attributes, but don't see a value for them"
### Description of the problem / feature request:

When a rule has a configurable attribute, a transition which operates on the rule gets an `attr` map which doesn't contain the attr name or value at all.

This can cause buggy behaviour. e.g. [this transition in rules_go](https://github.com/bazelbuild/rules_go/blob/466437caca5c3bdb3be079b0a19b874129f0658a/go/private/rules/transition.bzl#L121) look

[2022-04-01 13:53] illicitonion commented on #15157
/cc @gregestren

[2022-04-01 13:58] pauldraper commented on #13473
To add insult to injury, it doesn't properly detect Starlark flags.

It will warn for `--//:custom_flag=false`, but err for `--no//:custom_flag`.

[2022-04-01 14:32] bazel-io opened #15158 "[5.2] Remote: Don't check declared outputs for failed action"
Forked from #15151

[2022-04-01 16:01] illicitonion commented on #13997
@bazel-io fork 5.2

[2022-04-01 16:09] fweikert opened #15160 "Status of Bazel 6.0.0-pre.20220328.1"
- Expected release date: 2022-04-01

Task list:

- [x] Pick release baseline: [99ac5414](https://github.com/bazelbuild/bazel/commit/99ac541409be5fedfc8a615dbd440d463d447e66)
- [x] Create release candidate: https://releases.bazel.build/6.0.0/rolling/6.0.0-pre.20220328.1rc1/index.html
- [x] Post-submit: https://buildkite.com/bazel/bazel-bazel/builds?branch=release-6.0.0-pre.20220328.1rc1
- [x] Push

[2022-04-01 16:22] TLATER commented on #12821
I've dug a bit more into this, and I'm convinced that is a regression by now.

In a nutshell, we're building [this test](https://github.com/frc971/971-Robot-Code/blob/master/aos/util/BUILD#L327=) from the aos repository, and we're seeing this test error:

[code]

The shared library files are in the runfiles, but not found because the test is executed from a path where it can't see those libraries

[2022-04-01 18:25] nickdesaulniers commented on #15154
Here's the dependency I'm looking to write the external bazel build file for:
https://android.googlesource.com/toolchain/prebuilts/ndk/r23/

As we can see, it very obviously has a toolchains/renderscript/ and toolchains/llvm/ pair of directories at the same depth:
https://android.googlesource.com/toolchain/prebuilts/ndk/r23/+/refs/heads/master/toolchains/

Why `"toolchains/renderscript/**"` works

[2022-04-01 18:59] #15160 closed

[2022-04-01 19:05] nickdesaulniers commented on #15154
ah, @ahumesky mentioned to me that `glob` will not recurse once it finds a BUILD file.

Turns out, [the NDK had a BUILD file](https://android.googlesource.com/toolchain/prebuilts/ndk/r23/+/refs/heads/master/toolchains/llvm/prebuilt/linux-x86_64/BUILD.bazel). The NDK maintainer @danalbert [is removing this](https://android-review.googlesource.com/c/platform/ndk/+/2051548) from the NDK build, and [i

[2022-04-01 19:05] #15154 closed

[2022-04-02 00:18] keith commented on #14395
We can close this one now as the fixes have been merged into bazel 5.1

[2022-04-02 01:23] rickeylev opened #15164 "Expose Action tools/input_manifest inputs"
### Description of the problem / feature request:

### Feature requests: what underlying problem are you trying to solve with this feature?

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

### What operating system are you running Bazel on?

### What's the output of `bazel info release`?

### If `bazel info release` returns "developm

[2022-04-02 01:46] Tacodude7729 commented on #14548
Sorry yes that is what I meant. I have updated my comment.

[2022-04-02 06:10] #8175 closed

[2022-04-02 10:24] fmeum commented on #15107
@meteorcloudy I turned your idea into a macro that works very well for my use cases. I'm sharing it here in the hope that it will be useful for others that run into this rare situation.

I will close the issue as I think that more direct Bazel support isn't needed and wouldn't even be that useful: Since linking to an interface library creates a dependency of the dynamic library on the executable,

[2022-04-02 10:24] #15107 closed

[2022-04-02 11:32] goldencz opened #15165 "Query a repository rule(or bzlmod rule) to get all the attributes."
### Description of the problem / feature request:

So far there's no way to query a repository rule, i'd like to request a new feature that could do a query against a repository rule.

### Feature requests: what underlying problem are you trying to solve with this feature?

I'm working on evaluating of applying Bazel for my company, our plan is to translate all non-bazel projects to bazel because

[2022-04-04 01:33] vpanta commented on #15142
Woohoo! I've updated #15145 to do a minor re-org, update `grpc-java` to `1.45.1`, and update `netty` to `4.1.75` and things seem happy. It should be ready for review, everything in CI is passing and bazel seems to be working appropriately.

[2022-04-04 08:20] omerlh opened #15167 "Bazel coverage ignores instrumentation_filter (scala)"
### Description of the problem / feature request:

I am trying to ignore specific files from code coverage reports. Following the docs, I tried using the `instrumentation_filter` flag but it didn't worked - although I've specified it, Bazel still instrument the classes and those classes are included in the final report.

### Feature requests: what underlying problem are you trying to solve with th

[2022-04-04 09:32] larsrc-google commented on #14802
Does this flag have any effect outside of `build` commands (and their derivatives like `test` etc)? If not, put it in your `.bazelrc` as `build --experimental_remote_cache_compression`.

[2022-04-04 10:30] meteorcloudy commented on #15094
It would be really helpful if you can provide a minimal reproduce case, otherwise it's almost impossible to diagnose this issue, which might even not be a Bazel bug.

[2022-04-04 10:44] illicitonion commented on #15165
You can currently `bazel query //external:all` to get a list of all external repositories, and you can `bazel query --output=build //external:some_repository` to see its definition.

[2022-04-04 11:04] nresare opened #15168 "bazel does not build with latest macOS gcc"
### Description of the problem / feature request:

Since Apple charmingly combines their security and feature updates, it is important to be on the latest released version of their operating system and Xcode command line tools. A recent upstream update seems to have broken the ability to compile bazel.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal exam

[2022-04-04 11:08] meteorcloudy commented on #14848
As far as I know, TensorFlow also uses `--distinct_host_configuration=false` in some of their builds to speed up build time.

See https://cs.opensource.google/tensorflow/tensorflow/+/master:.bazelrc;l=361-364

[2022-04-04 11:17] #15083 closed

[2022-04-04 11:37] nresare commented on #15168
Looking at the previous PR to update gRPC, making the switch seems to be a bit of work. https://github.com/bazelbuild/bazel/pull/15169 does the super ugly "add a patch containing a patch" but it works for me^TM and being able to compile bazel on one of the supported platforms seems like a valuable thing ¯\_(ツ)_/¯

[2022-04-04 12:23] konste commented on #15094
We have not seen this problem since we switched from Bazel 5.0.0 to 5.1.0 and keep fingers crossed that maybe it took care of it somehow. But on the other hand we are on 5.1.0 for a short time, so we keep an eye on it.

I understand that it is hard do diagnose because it is hard to reproduce. There is no minimal repro or any repro at all. It just randomly happens on a large builds. The only idea I

[2022-04-04 13:39] fmeum commented on #15167
It seems to me that this could be a shortcoming of rules_scala: In [phase_coverage.bzl](https://github.com/bazelbuild/rules_scala/blob/b85d1225d0ddc9c376963eb0be86d9d546f25a4a/scala/private/phases/phase_coverage.bzl#L29), it uses `ctx.configuration.coverage_enabled` to decide whether to instrument source files or not. But this does not take the instrumentation filter into account, it only checks w

[2022-04-04 13:59] trybka commented on #14434
@brandjon I think the original proposal is in essence requesting a way to have a sentinel value. Especially for booleans which are False by default--having a None option would allow for that.

[2022-04-04 15:44] aiuto commented on #14434
+1 to allowing default=None for any attribute type.  Although the original request doesn't say it, this would be very useful in any situation where we need a computed default.

[2022-04-04 17:01] #14714 closed

[2022-04-04 17:39] Wyverald opened #15172 "Create a way for macros to "reify" string labels into label objects"
The immediately obvious answer seems to be "just call `Label(...)`", except that would anchor the string label at the current .bzl file's context. For a macro that receives string labels from BUILD files, it would probably want to convert string labels with the BUILD file's context. Example:

[code]

Here `mymacro` simply includes an extra dep before forwarding the call to `myrule`. But the check

[2022-04-04 18:11] pcjanzen commented on #15172
does
`Label(native.repository_name() + "//" + native.package_name()).relative(dep)`
solve this problem?
(since native.repository_name() and native.package_name() are relative to the caller package?)

[2022-04-04 19:28] keith commented on #14802
It is mentioned in the docs that it's also compatible with `query`, although I'm not sure how much that matters, but I think practically for flags like this, there should be some consistent way users can say "apply this all the time!" without having to know exactly which commands it affects. I imagine most folks just throw everything under `build`, but that can be risky depending on the flag https

[2022-04-04 19:54] larrytaowang opened #15174 "Make `sort_index` in trace_profile.json consistent"
### Description of the problem / feature request:

When we build `--profile bazel_trace_profile.json`, in the generated file, the metadata event for the critical path for thread 0 has a `sort_index` value of `long`.
[code]

However, for all other lines, the values of `sort_index` are `String`. For example,
[code]

I think we should make the type of `sort_index` value consistent. Ideally, we can si

[2022-04-04 19:59] nicholasjng opened #15175 "Bazel 5.1.0 toolchain resolution fails on my ARM64 Mac"
### Description of the problem / feature request:

Crosspost from [this JAX issue](https://github.com/google/jax/issues/10132) on building `jaxlib` from source.

I have been using Bazel 5.0.0 to (successfully) build `jaxlib` from source on my machine (Apple M1 Pro, macOS 12.3.1) in the past. My last successful build was about two weeks ago.

When pulling in JAX main today at HEAD and trying to bui

[2022-04-04 20:06] keith commented on #15175
You likely need to upgrade your reference to the platforms repo, which might be pulled in transitively somehow today in your project

[2022-04-04 20:16] hawkinsp commented on #15175
We also verified that this problem occurs with TensorFlow by itself, not just JAX. I'm honestly not sure how TF gets the platforms repo.

[2022-04-04 20:19] Wyverald commented on #15172
That's a nice trick! Unfortunately it breaks when repo mappings are involved. `Label(...)` resolves the text using the current .bzl file's repo mapping, but `native.repository_name()` is the "canonical" repo name (post-mapping).

However, this idea could still be valuable if we decide to fix https://github.com/bazelbuild/bazel/issues/14580 by allowing some sort of "canonical-repo-name absolute lab

[2022-04-04 20:42] gregestren commented on #15157
Just skimming this (apologies!), but I think this is an intentional design restriction described at https://bazel.build/rules/config#defining. Specifically:

https://docs.google.com/document/d/1VIRx06cZB4wLU-ASq1XKFHmx67yfHtNOCbCempaPeaA/ gets into the ugly details:

I agree that silent failure is no good. It looks like the original intention was for Bazel to communicate the problem?

Also, I thin

[2022-04-04 20:51] gregestren commented on #13473
CC @aranguyen who's been looking into these subtle quirks with `--no` vs. `...=false` and Starlark/native discrepancies recently.

[2022-04-04 21:07] aranguyen commented on #13473
@pauldraper this commit should have fixed the issue you mentioned https://github.com/bazelbuild/bazel/commit/f6cccae5b6f9c0ad0e7d0bf7bd31ea1263449316 . The change is in this release https://github.com/bazelbuild/bazel/releases/tag/6.0.0-pre.20220328.1 . Please let me know if you're still seeing the same issue.

[2022-04-04 23:27] keith commented on #15175
Can you test with bazel HEAD? They are vendored in bazel if nothing includes them and they were just updated recently https://github.com/bazelbuild/bazel//commit/676a0c8dea0e7782e47a386396e386a51566087f (probably not in 5.x). Either way likely the fastest way to fix this is to pin the newer version for now

[2022-04-05 00:32] coreywoodfield commented on #11261
@brandjon any update on this?

[2022-04-05 00:47] jxramos commented on #3020
Can anyone shed any insight into the file `jvm.out`. Does this file always get rendered by the bazel server and is kept empty until some error messages need to populate into it? I'm finding an empty file on my local system, but in the remote server where the bazel command is operating I've yet to cat the file to see what's in there.

[code]

What exactly does an empty file designate, does it imply

[2022-04-05 05:12] jgavris commented on #13287
@cpsauer at the time I wrote this, we were still on Bazel 4.2.2 (I don't think 5.0 had officially released yet). 4.2.2 only supported up to r19c.

[2022-04-05 06:06] cpsauer commented on #13287
@keith: Pretty wild, right! I feel like I read something about this long ago, but can't find doc on it for the life of me. If you do ever run into it, I'd love it if you'd say something!

@jgavris: Makes sense. We've been using Bazelisk to stay at or near HEAD with rolling releases. It's been pretty sweet. Huge thanks to Keith for (among many things) helping the rolling story get working with mobi

[2022-04-05 06:09] cpsauer commented on #13287
@gregestren, sorry to add one more thing to your plate, but could we remove the support tag? [This really isn't.](https://github.com/bazelbuild/bazel/issues/13287#issuecomment-1044070122)

[2022-04-05 07:04] sgowroji commented on #15174
Hello @larrytaowang , Thank you for sharing the above details. Have you encounter any error with sort_index value of long. Could you please share the exact steps to reproduce that error.

[2022-04-05 07:40] sgowroji commented on #15153
Hello @pauldraper,  Could you please provide more details with respect to your query. Thanks!

[2022-04-05 08:53] meteorcloudy commented on #15156
I think you are hitting https://github.com/bazelbuild/bazel/issues/14259

We have fixed the issue from the Bazel side, but we'll need to fix rules_pkg as well.

/cc @fmeum

[2022-04-05 08:55] meteorcloudy commented on #15156
Essentially in pkg/private/tar/tar.bzl:
We should change:
`_stamp_condition = str(Label("//pkg/private:private_stamp_detect"))` -> `_stamp_condition = Label("//pkg/private:private_stamp_detect")`

/cc @aiuto

In the meantime, we can add a patch file in the BCR for rules_pkg 0.5.1

[2022-04-05 09:10] meteorcloudy commented on #15156
After https://github.com/bazelbuild/bazel-central-registry/pull/75, it should work with Bazel 5.1 or later.

[2022-04-05 09:24] finn-ball commented on #4685
@SimonVleugels - bazel 5 with coverage works for me. Ensure you use:
``
--experimental_split_coverage_postprocessing --experimental_fetch_all_coverage_outputs
[code]

[2022-04-05 10:30] nicholasjng commented on #15175
Some news:

Bazel built from source at HEAD on my machine **with** the updated platforms repo **and** #14995 fails with the same toolchain mismatch errors.

Bazel built from source at HEAD on my machine **with** the updated platforms repo **but with #14995 reverted** builds `jaxlib` properly.

I did not change anything else, just branched off of master and did `git revert b858ec`.

The gist of thi

[2022-04-05 11:00] pauldraper commented on #15153
Even with sandboxfs being used, runfiles trees are still being created in the output root.

[2022-04-05 11:19] nresare commented on #15168
I can confirm that this problem is no longer reproducible in my environment as of commit ab77bd5b81ed

Since "being able to build with latest stable release of the main platforms" seems like a pretty important thing to have, I assume that this might be something to consider doing a point release for?

[2022-04-05 11:23] #15168 closed

[2022-04-05 11:34] meteorcloudy commented on #15168
@nresare Are you sure? b47aa71b21d93c9499103e9a37a6c2ffa79865b9 was just submitted after https://github.com/bazelbuild/bazel/commit/ab77bd5b81ed54d985a9a6da584afd3bfd4fdf09

[2022-04-05 12:16] lberki commented on #14298
@comius does the API team feel responsible for testing things?

[2022-04-05 12:35] #15156 closed

[2022-04-05 12:42] nresare commented on #15168
Sorry, my mistake. I had my fix to the problem as a local change in my repository.

With that out of the way, I can now confirm that the problem is indeed present with ab77bd5 but not with ab77bd5

[2022-04-05 13:11] hawkinsp commented on #15175
@Wyverald Could we look into addressing this for 5.1.1, please?

[2022-04-05 13:34] Wyverald commented on #15175
@bazel-io fork 5.1.1

[2022-04-05 13:34] bazel-io opened #15178 "[5.1.1] Bazel 5.1.0 toolchain resolution fails on my ARM64 Mac"
Forked from #15175

[2022-04-05 13:35] bazel-io opened #15179 "[5.1.1] Remote: Don't check declared outputs for failed action"
Forked from #15151

[2022-04-05 13:50] Wyverald commented on #15168
@bazel-io fork 5.1.1

[2022-04-05 13:50] bazel-io opened #15180 "[5.1.1] bazel does not build with latest macOS gcc"
Forked from #15168

[2022-04-05 15:50] sgowroji commented on #15165
Hello @goldencz, Did you get a chance to check the above [comment](https://github.com/bazelbuild/bazel/issues/15165#issuecomment-1087397801) or still you have any further queries on the same. Thanks!

[2022-04-05 16:04] meteorcloudy commented on #15165
FYI @Wyverald

[2022-04-05 17:32] Wyverald commented on #15165
What's being asked of here is already available in Bazel as @illicitonion pointed out above. For Bzlmod, though, we're going to be working on something else that exposes more than just the definition of each repository; it'll include dependency information and stuff like that too. Probably also under a different subcommand than `query`, and probably having nothing to do with the `//external` packa

[2022-04-05 17:33] #15180 closed

[2022-04-05 17:46] cushon commented on #4549
I had a quick look at kevin1e100's `@kotlin.Metadata` idea (https://github.com/bazelbuild/bazel/issues/4549#issuecomment-1081386387), and it seems feasible: https://bazel-review.googlesource.com/c/bazel/+/195202/1/third_party/ijar/classfile.cc

That will meant that ijar / `java_import` automatically don't strip Kotlin classes going forward, without needing any new attributes/configuration.

There'

[2022-04-05 18:52] linzhp opened #15185 "External repository referring unexported files"
### Description of the problem / feature request:

When an external repository refers to an unexported files, builds can still succeed, only queries with `deps` would fail. This is inconsistent.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

* Create a workspace like this:
[code]
* Run `bazel build @zlib//:all`, it would succeed
*

[2022-04-05 18:52] linzhp commented on #8175
@comius created #15185 to follow up.

[2022-04-05 22:29] bjulian5 commented on #10298
Any updates?

[2022-04-05 22:29] keith commented on #15175
@nicholasjng how did you update the platforms repo? I can reproduce the issue with jax HEAD, but if I add this to the `.bazelrc`:

[code]

to a local checkout of platforms at HEAD, it works as expected. Is it possible the way you update it didn't "stick" ? For example if you put it in the bottom of the WORKSPACE instead of the top (above the tf loading potentially)

[2022-04-05 22:30] keith commented on #15175
Since aarch64 is defined as an alias of arm64 https://github.com/bazelbuild/platforms/blob/fbd0d188dac49fbcab3d2876a2113507e6fc68e9/cpu/BUILD#L16-L20 I would expect them to be virtually interchangeable, if that's not the case maybe that should be what we attempt to fix instead? Since otherwise you could always have this mismatch just potentially in the opposite direction

[2022-04-05 23:05] keith commented on #15175
In an entirely empty project I am able to see that since bazel 5.x the version of platforms has contained this fix by using:

[code]

which makes me think that somehow TF, and transitively jax, are just pulling in older versions through some other transitive dependency.

[2022-04-05 23:12] keith commented on #15175
With this branch of jax where I bump platforms the issue goes away https://github.com/keith/jax/tree/platforms-update

[2022-04-06 03:17] goldencz commented on #15165
Thanks for feeding back.
I tried `bazel query //external:all`, but nothing out.
[code]
Anyway I tried in another way and got something:
[code]
Continued to try `bazel query --output=build //external:zlib`, I got:
[code]
Okay, I got the definition of external dependency zlib( **urls = ["https://github.com/madler/zlib/archive/v1.2.11.tar.gz"]**).
[code]
Yes, I have to say the information is there. H

[2022-04-06 03:28] goldencz commented on #15165
By the way, `bazel query //external:*` doesn't work if an external dependency is introduced by **bzlmod**

[2022-04-06 04:24] cpsauer commented on #12852
It seems like maybe there's something much more general broken with environment variable reporting for actions.

I ran back into an equivalent problem on Windows and with aquery, and it really does complicate and embrittle tooling.

I've updated the original report to reflect that.

@gregestren @oquenchil, might this merit different labels/priorities if its a more general, non-apple specific bug?

[2022-04-06 04:59] aiuto commented on #15156
I am really confused as to how the internals of the rule set impact bzlmod.
It looks like you end up with a reference to ***@***.***_pkg.0.5.1//private'.
That seems like a problem. Why doesn't this manifest in the WORKSPACE
as ***@***.***_pkg'
instead of ***@***.***_pkg.0.5.1"?

With that patch in place does the --stamp flag still work?

On Tue, Apr 5, 2022 at 8:35 AM Xùdōng Yáng ***@***.***> wrot

[2022-04-06 05:44] cloudhan opened #15187 "`resource_set` should allow specify the resource dict directly."
### Description of the problem / feature request:

Feature Request for directly specify the resoure requirement via `resource_set`

### Feature requests: what underlying problem are you trying to solve with this feature?

`resource_set` support for `actions.run` and `actions.run_shell` is added in https://github.com/bazelbuild/bazel/commit/d7f0724b6b91b6c57039a1634ff00ccebd872714

However, per the

[2022-04-06 07:21] bazaglia commented on #14278
Facing the same issue. @kylekurz, could you find a workaround while the third-party libraries aren't updated?

[2022-04-06 08:06] meteorcloudy commented on #15156
@aiuto The context is https://github.com/bazelbuild/bazel/issues/14259

[2022-04-06 08:24] #14949 closed

[2022-04-06 08:28] nicholasjng commented on #15175
I get a slightly different output, using Bazel `5.1.0` from GitHub as downloaded during the build:

[code]

Nevertheless, your patch works for me as well. `jaxlib` builds with a downloaded Bazel, which is what we want.

Does this, in turn, mean that if one target pins the `platforms` repo to some version, that version is also set globally?

Good job on finding that. I had no idea about the implica

[2022-04-06 09:23] meteorcloudy commented on #15185
I think the reason is that protobuf should use `@com_google_protobuf//third_party:zlib.BUILD` at [here](https://github.com/protocolbuffers/protobuf/blob/7f9901c5f640fe0fbcd5dbdd303a269908fb3b62/protobuf_deps.bzl#L33)

But somehow we didn't check if the label is valid when using in the WORKSPACE file.

[2022-04-06 09:33] meteorcloudy commented on #15185
I think the underlying problem is that when a label is used in the WORKSPACE file to reference a file, we are actually not loading the target (that's when we [check](https://cs.opensource.google/bazel/bazel/+/master:src/main/java/com/google/devtools/build/lib/skyframe/TransitiveBaseTraversalFunction.java;l=307) if the label is crossing boundary). But we do try to load targets from the label when r

[2022-04-06 10:18] tjgq commented on #14381
@appuser999, do you have a minimal self-contained repro? Or, failing that, could you tell us which rule this file is an input to?

Bazel has some limitations in this area because it was originally designed for ASCII-only filenames. #374 tracks fixing this in its entirety, but that's a large undertaking. With more concrete information, I might be able to fix the specific instance you're facing.

[2022-04-06 10:46] smu-ggl opened #15188 "make_deb is breaking Debian package policy. Only Description should be multiline."
### Description of the problem / feature request:

make_deb.py breaks multiple generated header fields into multiline fields. While this is allowed in source packages (for readability), `dpkg --gencontrol` reformats them into single-line entries for the binary packages.

https://www.debian.org/doc/debian-policy/ch-controlfields.html only defines the Description field as multiline. Tooling can (and

[2022-04-06 12:13] brentleyjones commented on #14949
@bazel-io flag

[2022-04-06 12:53] appuser999 commented on #14381
rules_go go_test.  I've changed all the file names to avoid this problem. Thanks

[2022-04-06 13:02] fweikert opened #15189 "Status of Bazel 6.0.0-pre.20220331.1"
- Expected release date: 2022-04-06

Task list:

- [x] Pick release baseline: [203f2c52](https://github.com/bazelbuild/bazel/commit/203f2c52cfe51152a997cf1c77e1e0dd7f8e2783)
- [x] Create release candidate: https://releases.bazel.build/6.0.0/rolling/6.0.0-pre.20220331.1rc1/index.html
- [x] Post-submit: https://buildkite.com/bazel/bazel-bazel/builds?branch=release-6.0.0-pre.20220331.1rc1
- [x] Push

[2022-04-06 14:38] hawkinsp commented on #15175
I believe the old platforms repository is being included via https://github.com/tensorflow/runtime/blob/ed92908bf93f09db579f4be41e8f4ae567bce0e1/third_party/rules_cuda/cuda/dependencies.bzl#L61

I'll manually override it in JAX for now. Thanks!

[2022-04-06 15:11] nicholasjng commented on #15175
Can confirm, it works with a normal Bazel release download from GitHub now, no patches required. Thanks for the help!

[2022-04-06 15:20] Wyverald commented on #15178
Per https://github.com/bazelbuild/bazel/issues/15175#issuecomment-1090386309, closing.

[2022-04-06 15:20] #15178 closed

[2022-04-06 15:20] #15175 closed

[2022-04-06 15:46] kylekurz commented on #14278
@bazaglia I've resigned myself to using a SA credential in a GitHub secret for now, with notes to remove it once this is fixed.

[2022-04-06 16:42] #15189 closed

[2022-04-06 17:06] brandjon commented on #14434
Yes, the original proposal is proposing a sentinel, but the cost is that the consumer must be aware of and account for the possibility of that sentinel. This effectively turns booleans into tristates, for example. (Insert something about the "billion dollar mistake" around the concept of null references.)

That said, let's be a little more concrete about how the proposal might work. I assume we wo

[2022-04-06 17:26] agoulti commented on #15155
Hi Yun! Unfortunately my team priorities don't leave me time to work on Bazel anymore.
I am happy to consult but I don't have time (or the setup) to debug and fix things.

Here is the comparison function that is being used with --execution_log_json_file to sort the file:
https://github.com/bazelbuild/bazel/blob/e58dd7e04bda4bda4a28b08ec4e49573ed6f6a2a/src/main/java/com/google/devtools/build/lib/ba

[2022-04-06 17:29] keith commented on #15175
For future reference for readers, you can see where `platforms` is coming from by doing a query like this:

[code]

And you can see the stack trace that lead to including it, and the version being used. You can also query the CPU definition directly to see if you have the old one:

[code]

Or the new one:

[code]

[2022-04-06 20:15] gregestren commented on #12852
I don't have expertise on this part of the code base (aquery, extra actions, environment variable consumption). I'm going to defer to @oquenchil .

[2022-04-06 20:25] guw commented on #14401
Just learned here about `--watchfs`. It's disabled by default. I think there is also a problem on Mac. I see lots of scanning just for simple "no-op" commands. It doesn't look like anything is cached by default.

This might be what I am seeing as well:
https://groups.google.com/g/bazel-discuss/c/E_0F1t4FITE

[2022-04-07 03:13] sgowroji commented on #15164
Hello @rickeylev, Could you please provide more details with respect to the above request. Thanks!

[2022-04-07 03:36] aiuto commented on #14434
My initial thought was that one would write `attr.bool(default = None)`.

[2022-04-07 03:38] rickeylev commented on #15164
As an example, lets say you have a tool, "packager", that takes other targets (including their runfiles) as inputs. So you'd have code like this:

[code]

This works just fine, but writing an analysis test to verify the action actually got the expected inputs is hard. In our example above, we'd want to verify that (1) `--packaged_root` flag matches the runfiles path that will be created; (2) the f

[2022-04-07 06:57] fmeum commented on #15167
@sgowroji Can be closed now that https://github.com/bazelbuild/rules_scala/commit/cd556ccfc253bfd70659631079e39be412b5402d has been merged.

[2022-04-07 07:08] sgowroji commented on #15167
Hello @omerlh, We are closing this issue now. Could you please verify the fix as mentioned [above](https://github.com/bazelbuild/bazel/issues/15167#issuecomment-1091147845) and let us know if you still have any queries. Thanks!

[2022-04-07 07:08] #15167 closed

[2022-04-07 08:59] meteorcloudy commented on #15155
Thanks, @agoulti ! That already sounds pretty helpful!

@ptarjan The Bazel team currently doesn't have much resource to look into this, but would be happy to review a PR for fix.

[2022-04-07 10:21] meisterT commented on #15187
Also cc @brandjon because of potential Starlark API changes

[2022-04-07 10:27] meisterT commented on #14821
cc @justinhorvitz

[2022-04-07 10:30] meisterT commented on #14567
closing for a lack of response - I am happy to reopen if you have a way to repro

[2022-04-07 10:30] #14567 closed

[2022-04-07 11:26] omerlh commented on #15167
Yes! I can confirm it is working now :) Thank you so much!

[2022-04-07 11:30] meisterT commented on #15018
cc @larsrc-google

[2022-04-07 11:44] meisterT commented on #14406
Actually when thinking about performance, you probably want first to build the things that are the furthest from the top level targets first because they likely have the longest critical path.

That being said: we do have some ongoing work to merge analysis and execution phases which in summary will start executing as soon as a subgraph of a top level target has been analyzed completely. That migh

[2022-04-07 11:44] #14406 closed

[2022-04-07 11:45] meisterT commented on #13520
Closing because there was no response. Feel free to comment and I will reopen.

[2022-04-07 11:45] #13520 closed

[2022-04-07 11:50] meisterT commented on #14678
cc @alexjski

[2022-04-07 11:51] meisterT commented on #13036
cc @larsrc-google

[2022-04-07 11:57] aherrmann commented on #14848
It's to avoid duplicate builds of the same targets to reduce build times. The use-case is the [daml repository](https://github.com/digital-asset/daml). One of the main components in this repository is a compiler which is both built for `target` to bundle in a release artifact as well as for `host` (`exec` really) to compile Daml code (Daml stdlib and integration tests and the like). So, in that us

[2022-04-07 12:12] meteorcloudy commented on #14848
@aherrmann That's a very similar use case as TensorFlow

[2022-04-07 12:57] brentleyjones commented on #14821
The path still _is_ `bazel-out/` under the execroot, even if no such symlink exists in the workspace.

[2022-04-07 13:14] justinhorvitz commented on #14821
To clarify what @brentleyjones said, the generated input is under `bazel-out` when it is staged in the sandbox in which the action runs. `$(location)` expands to the location relative to the working path of the action. @alexeagle are you using the result of `$(location)` outside the scope of the action?

[2022-04-07 14:46] brentleyjones opened #15191 "FR: Add ability to generate clang serialized diagnostics files for CC builds"
### Description of the feature request:

Allow (probably via a `feature`) the ability for C/C++/Obj-C files to generate clang serialized diagnostics files (`--serialized-diagnostics`) for each source file. The file should be handled similar to the `.d` file, and be a declared dependency.

### What underlying problem are you trying to solve with this feature?

I have an IDE integration (Xcode) use

[2022-04-07 15:34] mvgijssel commented on #10226
Running into this problem as well. I've overridden my PATH using action_env, but query fails because it does not pick up the newly defined PATH.

[2022-04-07 19:34] vpanta commented on #15142
https://github.com/bazelbuild/bazel/commit/68277ec256fc6827ad46e909727d8e146741814d (#15145) should allow this to be closed, at least given the initial comment.

Unfortunately, it does not seem that this change has (fully) fixed the `BAD_DECRYPT` errors we're seeing in CI (https://github.com/bazelbuild/bazel/issues/15142). We've been using a forked version based on the branch under #15145 and we j

[2022-04-07 20:25] alexeagle commented on #14821
Yes, the motivating use case here is where you build a program that you want to run from the workspace.

For example,
https://github.com/bazelbuild/bazel-skylib/blob/main/docs/private/stardoc_with_diff_test.bzl#L83
creates a little `sh_binary` for the user to run which copies files out of the `bazel-out` folder. In that example the `bazel-bin` symlink  is hardcoded, since the .bazelrc in that repo

[2022-04-07 20:30] brentleyjones commented on #14821
I have use cases that would break if it respected `symlink_prefix` 🙃.

I don't think any build actions know about the workspace layout, only the execroot layout, which is hard-coded to `bazel-out` for bindir and `external` for external repositories. To reach into the workspace I've used `bazel run` and `$BUILD_WORKSPACE_DIRECTORY` in the script, but it wouldn't know what the value of `--symlink_pr

[2022-04-07 21:26] tetromino opened #15194 "Better bash-less Windows support in actions.run_shell: add command_bat, command_ps"
### Description of the feature request:

For better bash-less Windows support,`ctx.actions.run_shell` could add `command_bat` (with the same behavior as genrule's `cmd_bat`) and `command_ps` (with the same behavior as genrule's `command_ps`).

This would, in particular, considerably simplify skylib's Windows support, where currently we are forced to write and execute temporary .bat files on Window

[2022-04-07 21:46] EdbertChan commented on #13989
@ahumesky We are running 5.1.0. We have forked it but we only have a few small diffs ontop of it mostly related to manifest merging. I am using the same configs that Kernald is using.

The error I get from --verbose_failures boils down to this line
bazel-out/k8-opt-exec-2B5CBBC6/bin/external/androidsdk/d8_compat_dx --dex '--num-threads=5' '--output=bazel-out/k8-fastbuild/bin/apps/presidio/helix/ap

[2022-04-07 22:31] #10912 closed

[2022-04-07 23:54] eric-skydio commented on #15010
This also seems to affect `--remote_download_toplevel`, in particular if the "toplevel" output includes a tree artifact it will not be downloaded correctly, and instead an empty directory will be created. We are on `5.0.0`.

[2022-04-08 00:38] QuantamHD commented on #7213
+1 For super long running actions. It's nice to be able to see where they are at progress wise

[2022-04-08 04:17] #15058 closed

[2022-04-08 06:36] comius opened #15196 "Starlarkify `java_import` rule"
Bazel team would like to rewrite all rules that are part of Java to Starlark. We're making good progress, but this could be even faster with contributions from the community.

`java_import` rule is a good "medium" difficulty rule to rewrite to Starlark by the community. Some previous experience in Starlark, previous PRs are probably needed. **This is not a good starter project.** Bazel team can pr

[2022-04-08 06:37] comius commented on #15196
cc @cushon, @hvadehra

[2022-04-08 06:47] comius commented on #14298
We don't have enough knowledge about it at the moment. Perhaps @larsrc-google is a better candidate to triage this?

[2022-04-08 08:18] TheadySong opened #15197 "It is recommended to add which line is wrong when commond executes error"
### Description of the feature request:

Prompt how the specific line is wrong  when commond executes error

### What underlying problem are you trying to solve with this feature?

For example，the following rule:

def init(name = "test"):
    native.genrule(
        name = name,
        srcs = ["1.txt"],
        outs = ["1.out"],
        cmd = """
            echo "aaaaa"
            echo "bbbbb"

[2022-04-08 08:48] comius commented on #15197
@sgowroji  I don't see what this has to do with python.

[2022-04-08 08:57] meteorcloudy commented on #15194
Related commit is https://github.com/bazelbuild/bazel/commit/d3bacfba3efef386bba80d7ff16c12c486165c4e, this is a great feature that the community can contribute when the Build API team currently doesn't have the resource.

[2022-04-08 09:14] sgowroji commented on #15197
Hello @TheadySong, Could you please provide steps and code changes to reproduce the  above error. Thanks!

[2022-04-08 09:48] coeuvre commented on #15142
Closing and feel free to create another issue.

[2022-04-08 09:48] #15142 closed

[2022-04-08 10:11] coeuvre commented on #14104
In theory, there is no guarantee to for the two builds to have same cache hits. Can you provide a repro or some logs from your setup so we can investigate more?

[2022-04-08 10:14] coeuvre commented on #14061
Thanks for the issue. We cannot simply upgrade it proto3 due internal usages. Closing.

[2022-04-08 10:14] #14061 closed

[2022-04-08 10:19] coeuvre commented on #13845
Closing. Feel free to reopen it with more information.

[2022-04-08 10:19] #13845 closed

[2022-04-08 10:19] fweikert opened #15198 "Status of Bazel 6.0.0-pre.20220405.2"
- Expected release date: 2022-04-08

Task list:

- [x] Pick release baseline: [a25dea60](https://github.com/bazelbuild/bazel/commit/a25dea6096a1a1965ffe8ce023b5121ec4d18422)
- [x] Create release candidate: https://releases.bazel.build/6.0.0/rolling/6.0.0-pre.20220405.2rc1/index.html
- [x] Post-submit: https://buildkite.com/bazel/bazel-bazel/builds?branch=release-6.0.0-pre.20220405.2rc1
- [x] Push

[2022-04-08 10:25] coeuvre commented on #13492
We don't have mac remote workers to produce this. But there are some significant changes regarding to toolchains since 5.0. Can you try with newer Bazel?

[2022-04-08 11:57] purkhusid commented on #14610
@illicitonion I'm curious if the tool you are building is open source? We currently use https://github.com/Tinder/bazel-diff but I'm interested in seeing what approaches people are using to solve the Bazel diff problem.

[2022-04-08 12:40] aherrmann commented on #14848
@meteorcloudy Thanks for the reference, that's good to know.

This sounds related to the wider issue in https://github.com/bazelbuild/bazel/issues/13281. I'm not sure if this is possible in this case. If it were, then, yes, it may well avoid the duplicate builds.

[2022-04-08 12:45] #15198 closed

[2022-04-08 13:11] UlrichEckhardt commented on #13917
The whole tutorial fails at step 7. There, it expects Bazel to throw an error, because no path to a compiler has been configured. However, it happily compiles and runs the hello world program.

For the record, I tried this using versions 4.1, 4.2, 5.0 and 5.1 on a recent Ubuntu system.

[2022-04-08 13:18] UlrichEckhardt commented on #9365
I don't see the issue in the documentation or maybe I just don't understand where you mean it's faulty. Can you give the actual filename and code? Or, maybe it was fixed and this can be closed.

[2022-04-08 14:41] aiuto opened #15201 "Debian package contains malformed fields"
### Description of the bug:

The debian package contains some fields which are wrapped to multiple lines instead of a long single line. This violates the specification and can cause other tools to fail.
The trivial fix is to update to rules_pkg release 0.7.0 or greater.
Please also backport to the 5.x release branch.

@smu-ggl

### What's the simplest, easiest way to reproduce this bug? Please pro

[2022-04-08 14:44] ddj116 commented on #2274
Late to the party but wanted to ask if there's a better way to solve this problem now.  For our use case we're trying to deploy `bazel` across a large lab environment, and `$HOME/` is NFS so the default cache location `$HOME/.cache/` is not an option. On our systems, we want the cache to default to `/local/$USER/bazel_cache`, so my naive solution was to deploy this `/etc/bazel.bazelrc` with the rp

[2022-04-08 15:01] illicitonion commented on #14610
It's not currently, but we're hoping to open source it soon. Roughly our approach is to, at both the before and after commit, cquery `deps(...)` and follow all of the `ruleInputs` edges, hashing rules and files appropriately. Watch this space :) (and very happy to chat, e.g. on the Bazel slack)

[2022-04-08 18:45] fmeum commented on #14023
@sdtwigg Thanks again for this great improvement to transition efficiency. We've been using the new `diff_against_baseline` mode for some time now and have found it to be both very reliable and quite efficient at reducing the number of distinct configurations.

Do you already have any plans on how to stabilize this feature? At least based on my experience with it so far, it seems clearly superior

[2022-04-08 19:00] sdtwigg commented on #14023
My current plan is to deploy the feature internally here (all signs pointing to this going fine) then make `diff_against_baseline` the default. After that, can start the flag deprecation process so it is the permanent behavior.

There was actually hard-to-concisely-explain-but-also-extremely-complex internal blocker on the feature (essentially related to BuildConfigurationFunction now registering

[2022-04-08 19:02] sdtwigg commented on #14023
PS: I am glad to hear that this is working well for you all externally. Please feel free to update here with any issues or feedback.

[2022-04-08 20:08] nbeloglazov commented on #7784
I'm seeing this error and still have no idea how to debug it:
[code]

I don't know where `@rules_nodejs//nodejs:yarn_repositories.bzl` is coming from. I tried doing `grep  yarn_repositories  -R` from my repo and it didn't return anything. Also `@rules_nodejs` is not used anywhere, instead `build_bazel_rules_nodejs` is used throughout the codebase.

[2022-04-08 21:57] #3359 closed

[2022-04-09 02:21] brentleyjones commented on #13997
@bazel-io flag

[2022-04-09 07:50] fmeum commented on #14626
@phst I just finished the work on https://github.com/bazelbuild/rules_go/pull/3108, which should address this issue on a fundamental level. Could you take a look and verify that it fixes this issue (I did, but better to be sure)?

[2022-04-09 21:19] nishanthkarthik commented on #8438
I hit the same error while building with rules_foreign_cc and my custom gcc toolchain. This example from https://github.com/grailbio/bazel-toolchain might help you.

https://github.com/grailbio/bazel-toolchain/blob/32d7596dd99c608015ba9a20c24b4fd5d03fdad2/toolchain/cc_wrapper.sh.tpl#L36

[2022-04-10 00:03] jlaxson opened #15206 "RBE Action Failures Don't show Error Message"
### Description of the bug:

In Bazel 5.0.0, when an action fails, its stdout/stderr is shown in the terminal.  In Bazel 5.1.0, there is an error message instead: `Invalid action cache entry c0a87968c7fcdb0db0f4eadbf63f2b2162b9591e18dc1891360bef4a9e77c7fa: expected output <file> does not exist.`

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possib

[2022-04-10 00:09] brentleyjones commented on #15206
cc: @coeuvre

Is this fixed in 5.1.1?

[2022-04-10 00:16] jlaxson commented on #15206
You're right... I missed the boat that 5.1.1 was latest.  All good.

[2022-04-10 00:16] #15206 closed

[2022-04-10 07:18] zmajew opened #15207 "How to install Bazel on Docker image for Raspbery Pi"
Hi, I am trying to install Bazel on a docker image for the ARM (Raspberry) environment. I do not see a clear example so I have followed [this](http://interstellarengine.com/build-automation/Compiling-Bazel-from-source-on-raspberry-pi.html) one. My finall goal is to install TensorFlow Lite with Bazel for some Go project.

Here is the Dockerfile:

[code]
What ever the size of the "-Xmx12g" am gettin

[2022-04-10 12:50] guw commented on #1071
What is the state of the `one_version_tool`? Will it be open source one day? Is there a spec somewhere of what's expected from the `one_version_tool` in terms of input processing and output?

[2022-04-10 16:27] bcho commented on #13823
I am having the same issue in a container environment. I am trying to narrow down the repro steps. I am using steps as follow:

1. run bazel inside the container, with customized `output_base`
2. run `bazel shutdown`
3. rerun step 1
4. now I see logs like (ignore the `stderr |` prefix):

[code]

The process 3292 is in defunct state and I cannot use jstack to dump the stacktrace:

[code]

Any hints

[2022-04-10 16:37] bcho commented on #13823
Look like my case (or if you are running bazel inside a container) is related to this init process issue: https://github.com/kubernetes/kubernetes/issues/84210

[2022-04-10 22:34] pauldraper commented on #4248
Not only does it *default* to `~/.cache/bazel`, it literally cannot be anything else.

[2022-04-10 22:54] pauldraper commented on #2351
We run builds inside a docker container.

There's no chance of getting them to align using absolute paths.

But how would making them relative fix any of the problems listed here?

[2022-04-10 22:58] kavehv commented on #2351
If these links are created within a repo inside a folder you've mapped into the docker container, relative symlinks would work as intended.

[2022-04-11 01:56] TheadySong commented on #15197
The problem is that after I run bazel build, bazel prompts that a certain piece of shell code fails to execute, but it can't tell me exactly which line went wrong. If the shell code is long, this can make troubleshooting more difficult.
And if we add set -x to the shell code, we can see which line of code execution fails when executing the shell code.
It is not possible for me to add set -x direct

[2022-04-11 08:21] meteorcloudy commented on #15207
@zmajew Can you download the Bazel binary built for Linux ARM64 platform from https://github.com/bazelbuild/bazel/releases?

This is a question can be better answered in the TensorFlow github repo.

[2022-04-11 08:26] meteorcloudy commented on #15197
This isn't a bug in Bazel, there is no way we cannot change the genrule to promot the exact location of the failure, a work around is to write your command into a shell script with `set -x`, then run that shell script in the genrule.

[2022-04-11 08:26] #15197 closed

[2022-04-11 10:04] zmajew commented on #15207
Are there here some official examples of how to install Bazel inside the docker image, since on the internet I found only some old examples from developers?

[2022-04-11 10:43] #14888 closed

[2022-04-11 12:15] TheadySong commented on #15197
Yes, this is not a bug.
But if bazel can support it, it will improve the user experience and facilitate troubleshooting. Our approach of adding set -x to the failing shell script doesn't look pretty.

[2022-04-11 15:29] ckolli5 opened #15210 "Release 5.2 - April 2022"
# Status of Bazel 5.2

-   Expected release date: 2022-06-07
-   [List of release blockers](https://github.com/bazelbuild/bazel/milestone/36)

To report a release-blocking bug, please add a comment with the text `@bazel-io flag` to the issue. A release manager will triage it and add it to the milestone.

To cherry-pick a mainline commit into 5.2, simply send a PR against the `release-5.2.0` branch

[2022-04-11 15:52] bazel-io opened #15211 "[5.2.0] Add support for .ar archives (and .deb files)"
Forked from #15132

[2022-04-11 17:40] #14568 closed

[2022-04-11 18:22] ahumesky commented on #13989
Gotcha yeah, I see now it's CompatDx vs CompatDexBuilder. We have some changes we'll push out later today that should address this

[2022-04-11 18:32] mvgijssel commented on #8780
Just ran into this issue as well, trying to include all the source files from a repository rule into another repository rule.

[2022-04-11 19:25] det opened #15214 "#13427 Broke mac C++ toolchains"
### Description of the bug:

The only use of `runtime_solib_name` in the bazel repo is this:
[code]
This line is now broken.

The way it worked previously is bazel will inject rpaths into an executable, ie:
[code]
This directory contains symlinks for all the mangled names of shared libraries that have been built.

This can only work if the install_name for a shared library is set to the mangled na

[2022-04-11 19:36] det commented on #15214
cc @Yannic (Looks like you made the original feature)

[2022-04-11 21:06] #13989 closed

[2022-04-11 21:09] kvark commented on #13589
Two independent users with similar issues reported that they solved this by (re)installing XCode/command-line-tools and rebuilding the project:
  - https://github.com/bazelbuild/bazel/issues/9303#issuecomment-603346106
  - https://github.com/bazelbuild/rules_apple/issues/650#issuecomment-1095561928

[2022-04-12 02:47] aiuto commented on #15130
The more I think about it, the more I believe this belongs to a new rule set. That would follow the pattern of jvm_external, where we built new repository rules outside of bazel itself, so they can advance at different rates. Looking at your patch, you will decompress the .deb file, but a fully fleshed out rule could have so much more.  For example, installing a package and then making the librari

[2022-04-12 03:57] larrytaowang commented on #15174
Hi @sgowroji , sorry for the late reply. Our service will parse the content of the generated  trace profile. For the `args` in the JSON file, originally we have this type `Args map[string]string`, but now we have to use `Args map[string]interface{}` since the value can be either a string or long.

This is not a big issue. But we thought it would be great if we can keep the value type of `args` con

[2022-04-12 06:28] fmeum commented on #15098
@bazel-io fork

[2022-04-12 09:09] meteorcloudy commented on #15130
Hey Tony, this features is already implemented in **https://github.com/bazelbuild/bazel/pull/15132**. I don't think this belong to a new rule, just like we are not extracting .zip, .tar files using a ruleset (this is a totally different process as building archive with rule_pkg). This is an enhancement of the functionality in repository_ctx to decompress an archive, then the repository rule can do

[2022-04-12 09:09] #15130 closed

[2022-04-12 09:14] meteorcloudy commented on #15211
Sent https://github.com/bazelbuild/bazel/pull/15218

[2022-04-12 09:16] meteorcloudy commented on #15174
I think this belongs to the build productivity team, @meisterT can you take a look?

[2022-04-12 10:03] meteorcloudy commented on #14847
Any idea on how to proceed with this? This will be a blocker for TensorFlow to adopt the next major Bazel version.

[2022-04-12 10:05] meteorcloudy commented on #14845
I think this belongs to the Build API team, @comius can you take a look?

[2022-04-12 10:07] meteorcloudy commented on #15207
Since this is not a Bazel bug, I'm closing this.

[2022-04-12 10:07] #15207 closed

[2022-04-12 11:13] meisterT commented on #15174
@larrytaowang can you send a PR that makes it consistent?

[2022-04-12 12:41] joeleba commented on #14057
1) "Merging Analysis and Execution Phases of Skyframe" is a mouthful so we renamed the project to "Skymeld". If you see Skymeld in the code, it's referring to this project.

2) The prototype is now basically able to handle `build` and `test` commands with a single `--package_path`. Things that work:

- Basic build and test commands with a single --package_path.
- Action conflict checking
- Action

[2022-04-12 12:47] hvadehra opened #15219 "Fix downstream failures due to new error prone checks"
New error prone checks since the last java_tools release now break bazel and other downstream projects (https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/2430)
This is currently blocking a java_tools release (https://github.com/bazelbuild/java_tools/issues/55).

I plan to disable the checks for now (as done before in https://github.com/bazelbuild/bazel/commit/cf573455e8205a2b79629df

[2022-04-12 14:34] jfirebaugh opened #15221 "Print contents of linker_param_file if `--verbose_failures` is enabled"
### Description of the feature request:

When a build with `--verbose_failures` fails on a link step which uses `linker_param_file`, the contents of `linker_param_file` should be printed as a regular command line would be.

This should include support for pretty printing the contents if `--subcommands=pretty_print` is enabled.

### What underlying problem are you trying to solve with this feature?

[2022-04-12 14:55] yaojingguo opened #15222 "doc: document the includes attribute for cc_import"
### Description of the bug:

`cc_import` supports `includes`  attribute. But [cc_import doc](https://docs.bazel.build/versions/5.1.0/be/c-cpp.html#cc_import) does not document it.

<img width="913" alt="截屏2022-04-12 下午10 50 23" src="https://user-images.githubusercontent.com/516386/162990331-c57ad461-85bc-45f1-93fd-60184eeedb0b.png">

And a check of `https://github.com/bazelbuild/bazel/blob/5.1.0/s

[2022-04-12 15:00] cushon commented on #15219
Disabling globally to make progress is OK with me.

These are the distinct errors I saw, which could be fixed more locally. Did you see others?

[code]

[code]

[2022-04-12 15:32] hvadehra commented on #15219
The Flogger test needs to be updated. It's been fixed internally (423382085) but for some reason has not been exported to github yet.
The latter is the one I'm attempting to fix with the global disable of ReturnValueIgnored (afaict flags allowing more fine-grained disabling have been removed)
These are the only failures related to error prone.

[2022-04-12 15:35] cushon commented on #15219
The original flogger fix was made internal only, I just mailed cl/441196089

For desugar I think you could also add the flag to the `javacopts` for the affected target, but disabling it globally to unblock the release is still fine with me

[2022-04-12 15:40] hvadehra commented on #15219
Got it, I'll mail a change to update it locally at desugar as a followup.

[2022-04-12 15:44] #15076 closed

[2022-04-12 16:36] konste commented on #15094
@sventiffe Unfortunately yes - just once, yesterday. So I can tell that the frequency of this issue reduced dramatically. On 5.0.0 we were seeing it every day. On 5.1.0 we got it once in two weeks with about the same frequency of the daily builds.

[2022-04-12 18:48] rickeylev commented on #14890
FWIW, there are probably a couple more changes that would benefit memory usage. The key thing to remember is that, even if the output isn't used, the analysis-time work to set it up in case it _is_ used is still done.

The biggest would be eliminating the remaining toList() calls.
* The `getRunfilesArtifacts().toList()` is the biggest one -- that is still  flattening the underlying depsets.
* The

[2022-04-12 18:51] gregmagolan commented on #10298
I hit this recently as well. I was using the feature to break circular deps between npm packages (which sadly exist in some 3rd party packages). Confirmed that it does not work with remote execution.

I also hit a bug in bazel itself related to this where the `--experimental_allow_unresolved_symlinks` configuration setting is not propagated to the `host` and `exec` configs so when building a targe

[2022-04-12 21:36] wiwa commented on #2539
Is anyone working on this?

[2022-04-12 22:13] rickeylev opened #15224 "Allow testing.TestEnvironment / TestEnvironmentInfo to be read from Starlark"
### Description of the bug:

Given a target that returns the testing.TestEnvironment / TestEnvironmentInfo, that provider cannot be read from the target.

This makes it impossible to easily test that the rule constructs an appropriate TestEnvironmentInfo object.

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[code]

Actual behavior:

An

[2022-04-12 22:36] rickeylev opened #15225 "testing.TestEnvironment not equal to itself"
### Description of the bug:

The `testing.TestEnvironment` object is a bit strange: it isn't equal to itself. In comparison, most provider keys are equal to themselves.

This makes it difficult to write code that can properly detect when the testing.TestEnvironment provider key was requested, e.g.

[code]
(in my particular case, I'm writing helper code for tests to assert TestEnvironment)

Also, I

[2022-04-12 23:25] brentleyjones commented on #15225
Related, I would love a way to query for the `TestEnvironmentInfo` in a `Target`. This TODO seems important: https://github.com/bazelbuild/bazel/blob/ee9727df980f268bfb2b05637d199d55963fb6d8/src/main/java/com/google/devtools/build/lib/starlarkbuildapi/test/TestingModuleApi.java#L52

[2022-04-13 03:51] wujunfen opened #15226 "use_application_default_credentials cannot recognize GOOGLE_APPLICATION_CREDENTIALS"
### Description of the bug:

I use GCP service account key to talk to the remote execution service. The issue can be reproduced using the following steps on my end:

[code]

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

_No response_

### Which operating system are you running Bazel on?

Linux

### What is the output of `bazel info relea

[2022-04-13 04:05] sgowroji commented on #15221
Hello @jfirebaugh, Could you please provide complete steps to reproduce the above error with error logs to troubleshoot further. Thanks!

[2022-04-13 04:43] sgowroji commented on #15226
Hello @wujunfen,  Can you share the error logs to investigate on the above request for further. Thanks!

[2022-04-13 05:11] wujunfen commented on #15226
Not sure which log you are referring to. Can you elaborate.

There's no test log since the build is not even started(see details in the description). BTW, already synced which chiwang@ offline who works on bazel remote execution).

[2022-04-13 07:20] sychou11 opened #15229 "pytorch(libtorch) gcc failed: error executing command"
Hi, I want to build a libtorch example with bazel, and I followed https://github.com/bazelbuild/bazel/issues/10803.

the project tree:

[code]
the libtorch BUILD file:

[code]

and the torch-example BUILD file:

[code]

However, when I ran
`bazel build  --verbose_explanations --color=yes --curses=yes   --verbose_failures  -s //example:torch-example`

it failed and turned out as following:
[code]

[2022-04-13 07:50] fmeum commented on #15225
I'm working on refactoring `TestEnvironmentInfo` into a proper exported `RunEnvironmentInfo` provider (name is TBD) that can be used for any executable target, not just tests. That should fix #15224, #15225 and #7364.

[2022-04-13 08:22] fmeum commented on #7364
@comius I just tried to refactor `TestEnvironmentInfo` into a general `RunEnvironmentInfo` provider that can be used for both executable and test rules, but ran into an issue: The `ActionEnvironment` for a target run with `bazel run` is constructed in `RunfilesSupport`, which only receives a `RuleContext` but not a `RuleConfiguredTarget` and thus doesn't seem to have access to the providers return

[2022-04-13 08:39] bazel-io opened #15230 "[5.2.0] Update java_tools 11.7"
Forked from #15209

[2022-04-13 10:12] #14900 closed

[2022-04-13 10:17] hvadehra commented on #15230
PR: https://github.com/bazelbuild/bazel/pull/15231

[2022-04-13 10:27] meteorcloudy commented on #14847
@mihaimaruseac is probably the one we need to talk to.

[2022-04-13 10:45] hvadehra commented on #15230
There are failures due to error prone, should I also cherry pick 1987af2216b3adb7d0e19a70f0e1778eee519d4c to fix them?

@coeuvre

[2022-04-13 10:56] brentleyjones commented on #14900
@bazel-io flag

[2022-04-13 12:26] meteorcloudy commented on #15191
@oquenchil Do you think it's possible to implement this as an aspect or a custom C++ toolchain?
@brentleyjones If we need to change Bazel's C++ rules, we better have a quick design doc for this. Also C++ rules are being starlarkified, maybe it can be implemented in the C++ starlark rule?

[2022-04-13 12:30] coeuvre commented on #15230
probably yes.

[2022-04-13 12:35] SimonVleugels commented on #4685
@finn-ball - With those flags `bazel coverage` does succeed, but the `coverage.dat` files are still empty for me.

[2022-04-13 13:03] brentleyjones commented on #15098
@bazel-io flag

[2022-04-13 15:28] #13648 closed

[2022-04-13 15:33] mihaimaruseac commented on #14847
We're working on removing the ci_sanity.sh and replacing it with a more modern test. @angerson is working on that. Maybe we can fully drop the license test?

[2022-04-13 15:35] bazel-io opened #15233 "[5.2.0] Add a flag to expose undeclared test outputs in unzipped form."
Forked from #15199

[2022-04-13 15:59] bazel-io opened #15234 "[5.2.0] Update turbine"
Forked from #15195

[2022-04-13 15:59] ckolli5 commented on #15098
@bazel-io fork 5.2.0

[2022-04-13 15:59] bazel-io opened #15235 "[5.2.0] `java_test` and `py_test` do not collect `cc_binary` coverage"
Forked from #15098

[2022-04-13 16:00] bazel-io opened #15236 "[5.2.0] Collect coverage from cc_binary data deps of java_test"
Forked from #15096

[2022-04-13 16:00] ckolli5 commented on #14949
@bazel-io fork 5.2.0

[2022-04-13 16:00] bazel-io opened #15237 "[5.2.0] Remove -U_FORTIFY_SOURCE when thin_lto is enabled"
Forked from #15007

[2022-04-13 16:00] ckolli5 commented on #14900
@bazel-io fork 5.2.0

[2022-04-13 16:00] bazel-io opened #15238 "[5.2.0] Uncaught NumberFormatException caused by --experimental_execution_log_file path"
Forked from #14949

[2022-04-13 16:00] bazel-io opened #15239 "[5.2.0] Bazel uploads outputs of no-remote actions when used in combination with a disk-cache"
Forked from #14900

[2022-04-13 16:01] bazel-io opened #15240 "[5.2.0] Let Starlark tests inherit env variables"
Forked from #14849

[2022-04-13 16:02] bazel-io opened #15241 "[5.2.0] Add target label to SpawnExec in the execution log"
Forked from #14818

[2022-04-13 16:02] bazel-io opened #15242 "[5.2.0] config doesn't error on duplicate `--define` values"
Forked from #14760

[2022-04-13 16:02] bazel-io opened #15243 "[5.2.0] Add incompatible flag to disable cfg="host" from Starlark"
Forked from #14383

[2022-04-13 16:02] bazel-io opened #15244 "[5.2.0] Stale transition value"
Forked from #13997

[2022-04-13 16:10] alexeagle opened #15245 "bazelrc with missing command silently does nothing"
### Description of the bug:

It's very easy to forget the command in a bazelrc file, for example this mistake in
https://github.com/aspect-build/rules_js/pull/34/files
`--host_jvm_args=-DBAZEL_TRACK_SOURCE_DIRECTORIES=1` simply has no effect because it's missing a command before the flags appear on that line, the correct way is

`startup --host_jvm_args=-DBAZEL_TRACK_SOURCE_DIRECTORIES=1`

This si

[2022-04-13 21:10] larrytaowang commented on #15174
Hi @meisterT  I created a PR for this fix.

[2022-04-13 22:14] keith commented on #14982
We hit this same case with armeabi-v7a, specifically rules_rust does the right thing and uses the triple to decide CPU constraints, and therefore created a constraint with `armv7`, which then doesn't match the C++ constraint if you want to build rust and C++ for android. I've submitted a workaround there https://github.com/bazelbuild/rules_rust/pull/1259 but ideally we would fix it here.

[2022-04-13 22:55] keith commented on #14982
I think this fixes this issue, it does in my repro with rules_rust, as in I'd no longer need the above patch. Please test your case as well!

https://github.com/bazelbuild/bazel/pull/15248

[2022-04-14 04:37] aminya commented on #12009
Confirming that adding the following to `.bazelrc` fixes the issue:
[code]

[2022-04-14 08:38] #15174 closed

[2022-04-14 09:09] luojc0517 opened #15254 "bazel coverage generate empty _coverage_report.dat"
### Description of the bug:
<img width="997" alt="image" src="https://user-images.githubusercontent.com/13957771/163352524-29247974-ebd5-4d23-a0aa-31d65fc5babf.png">

<img width="1041" alt="image" src="https://user-images.githubusercontent.com/13957771/163371188-a38c2dec-b1c8-493a-ac91-cd48ef243223.png">

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example

[2022-04-14 11:16] #15254 closed

[2022-04-14 12:14] fweikert opened #15255 "Status of Bazel 6.0.0-pre.20220407.1"
- Expected release date: 2022-04-14

Task list:

- [x] Pick release baseline: [9db58e06](https://github.com/bazelbuild/bazel/commit/9db58e0656d7456e8180e90400c2c94a76bf5c8b)
- [ ] Create release candidate: https://releases.bazel.build/6.0.0/rolling/6.0.0-pre.20220407.1rc1/index.html
- [ ] Post-submit: https://buildkite.com/bazel/bazel-bazel/builds?branch=release-6.0.0-pre.20220407.1rc1
- [ ] Push

[2022-04-14 12:18] #13415 closed

[2022-04-14 12:48] #13599 closed

[2022-04-14 19:27] phst commented on #14626
Maybe I'm doing something wrong, but with that PR I always get the error message

See e.g. https://github.com/phst/emacs/runs/6029654171

[2022-04-14 19:37] phst commented on #14626
I've now filed https://github.com/bazelbuild/rules_go/issues/3120 so that this is properly tracked in rules_go.

[2022-04-14 20:04] fmeum commented on #14626
I think that the build is failing because you are using the first (https://github.com/bazelbuild/rules_go/pull/3108/commits/9fc6d454d7b1e38deb199e0bdc13f424f994f83b) and not the last (https://github.com/bazelbuild/rules_go/pull/3108/commits/efd118d1b1091bc31309ba907e363ddf18811e8a) commit of https://github.com/bazelbuild/rules_go/pull/3108. Could you give it another try with the last commit?

[2022-04-14 20:11] brentleyjones commented on #14341
You mention `--stamp`, but `--embed_label` should also be supported, right?

[2022-04-14 20:12] phst commented on #14626
Ah, good catch, I messed up the order of the commits.

[2022-04-14 20:28] fmeum commented on #14626
@phst https://github.com/phst/emacs/runs/6030260629?check_suite_focus=true is an interesting failure: It looks like my PR ends up reenabling nogo for a Go tool dependency, which is certainly not intended. I will look into this.

[2022-04-14 20:39] phst commented on #14626
This might be another instance of https://github.com/bazelbuild/rules_go/issues/2513, though I'm wondering why Bazel 5 isn't affected.

[2022-04-14 20:50] #4549 closed

[2022-04-14 21:29] det commented on #15214
@oquenchil Created a PR (#15261) to revert this change, required minimal manual fixup after the revert to get it to compile.

[2022-04-14 23:10] kevin1e100 commented on #4549
That's amazing, thank you so much!

[2022-04-14 23:57] AGiantSquid opened #15263 "Python Namespace Bug on Windows"
### Description of the bug:

I was attempting to make a demo repo using python and Bazel. I wanted to use the python namespace package feature. While trying the repo, I noticed that the project compiled fine on Linux, but would not work on Windows. I believe this is because bazel on windows is adding in an extra `__init__.py` toward the top of the repo for some reason even when I have `legacy_crea

[2022-04-15 01:39] cpsauer commented on #4549
Wow! That's awesome. Thanks @cushon for getting it done.
(I'll update some of the other folks I'd seen blocked on it.)

[2022-04-15 01:57] Bencodes commented on #4549
Thanks for making that happen @cushon!

[2022-04-15 02:35] aiuto opened #15264 "Can we get rid of all the "breaking-change" and migration labels?"
They are clutter and, AFAIK, we don't use them for anything any more.

[2022-04-15 02:36] aiuto opened #15265 "Can we get rid of all the "breaking-change" and "migration" labels?"
They are clutter and, AFAIK, we don't use them for anything any more with the switch to LTS releases.
We can also remove that code from bazelisk

cc: jdob@ meteorcloudy@

[2022-04-15 05:53] AGiantSquid commented on #15263
If anyone else runs into this problem, you can work around it by changing the workspace name. In this case the workspace is called `acme_corp`, and the namespace for the python packages had the same name, so the extra `__init__.py` file created in Windows caused a namespace confusion. I renamed the workspace to `acme_corp_workspace`, and was able to build again on Windows. I still think that the c

[2022-04-15 08:03] cpsauer commented on #15014
I noticed some recent improvement in this general area!
Seems like cc -> objc now works for sdk_dylibs, if not for the general linker flags in the example above. That is, adding

    sdk_dylibs = ["libdoesntexist"],

to `:B`, the objc_library, above, now correctly gives `ld: library not found for -ldoesntexist`, as of Bazel rolling's 6.0.0-pre.20220331.1 but not 6.0.0-pre.20220328.1

@warriorstar-

[2022-04-15 08:04] cpsauer commented on #13205
Note, this issue seems likely fixed in the latest bazel rolling release. See https://github.com/bazelbuild/bazel/issues/15014#issuecomment-1099945513

[2022-04-15 08:22] fmeum opened #15268 "Bazel@HEAD lacks `env_inherit` on `cc_test`"
### Description of the bug:

With the Starlark flip of `cc_test` in https://github.com/bazelbuild/bazel/commit/e04735d8f5d2dc7df0eac60f2589a26d3d21710b, the rule no longer provides the `env_inherit` attribute.

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

See https://pipelines.actions.githubusercontent.com/serviceHosts/e1b19da9-c261-489

[2022-04-15 08:23] fmeum commented on #15268
@trybka since you authored https://github.com/bazelbuild/bazel/commit/e04735d8f5d2dc7df0eac60f2589a26d3d21710b.

[2022-04-15 12:34] trybka commented on #15268
The log you provided is expired, FWIW, but you're right--`cc_test` (and Starlark tests in general) lack `env_inherit` -- I'm sorry this slipped past me (none of the Bazel or downstream tests caught it!).

Since this is not an easy fix, I'll roll it back for now until we get this straightened out.

[2022-04-15 12:40] trybka commented on #15268
Oh, for some reason I missed that the commit you linked is in -- nevertheless, I will rollback while I work on that to minimize the breakage window.

[2022-04-15 13:14] trybka commented on #15268
I don't think I can close this bug or anything, but the rollback is submitted:
https://github.com/bazelbuild/bazel/commit/098e3977d492471623d9c460d234b108424f10b8

[2022-04-15 13:53] googlewalt commented on #15014
It wasn't me directly, but we did make this incremental improvement: https://github.com/bazelbuild/bazel/commit/203f2c52cfe51152a997cf1c77e1e0dd7f8e2783.

[2022-04-15 14:11] fmeum commented on #14626
The dependency chain from `//:buildifier_test` to the `go_library` that fails the nogo check is:
[code]

The last config does not have the `bootstrap_nogo` setting set to `True`, so nogo is not disabled. With Bazel 5, all of the configs are the HOST config, which prevents further transitions that could enable nogo.

All in all, I think that this is a separate issue and not caused (but also not pre

[2022-04-15 15:01] keith commented on #15221
I've generally wanted this as well but also for any action that uses a Params file. I think it might need a new flag so you could also see it with -s, even if the action didn't fail (and therefore you couldn't rely on --verbose_failures)

[2022-04-15 15:11] fmeum commented on #15268
With https://github.com/bazelbuild/bazel/pull/15232, the analogue of `testing.TestEnvironment` for the run environment will become available. This would allow implementing `env` and `env_inherit` for both `cc_binary` and `cc_test` in the same way. Perhaps it makes sense to wait for it land.

[2022-04-15 15:25] mistic commented on #8230
@larsrc-google @philwo do we have any developments on this front? Is this being prioritised somehow? I'm using Bazel under a `Node.js` with `rules_nodejs` on a project that depends on a considerable amount of `node_modules` and the `macOS` sandbox is really hurting us. As we keep adding code and dependencies it keeps getting worse. We don't want to use the `local` strategy as the isolated dependen

[2022-04-15 15:28] keith commented on #8230
Note that as far as `sandbox-exec` being deprecated goes, Apple is using it in the Swift package manager here https://github.com/apple/swift-package-manager/blob/e25a590dc455baa430f2ec97eacc30257c172be2/Sources/Basics/Sandbox.swift#L37 so I assume if it goes away they will also need a replacement,.

[2022-04-15 15:40] mistic commented on #8230
@keith Thanks for the inputs! I'm not very used to iOS or macOS development overall but what I have been reading about the theme it looks like the initially purposes by which apple created `sandbox-exec` are mostly covered by the new `App Sandbox` now. I really think Apple could just decide to remove it in one of the next upgrades as all of their internal needs are covered other way. Overall I thi

[2022-04-15 17:14] jmmv commented on #8230
@mistic As has been mentioned a few times already, sandbox-exec *is not* why macOS sandboxing is slow. The reason sandboxing is slow is for two reasons: first, the creation *and* deletion of symlinks to create each sandbox; and second, the fact that some actions create local caches that cannot be reused across actions. The latter is by far the largest performance penalty. I haven't checked, but I

[2022-04-15 17:26] mistic commented on #8230
Hi @jmmv thanks for sharing this with me!

I have been profiling and collecting a lot of stats on these lately and I don't think what I'm seeing is completed validated by what you've mentioned.

I have been running the same exact codebase, same build in the same machine both on `macOS` and `ubuntu`. On rules nodejs v5 more actions are being created around the `node_modules` inputs than in the prev

[2022-04-15 18:26] jmmv commented on #8230
@mistic I don't know enough about nodejs behavior so I cannot comment much on that. All I can say is that the massive slowdowns that have been previously observed in the Go and ObjC rules were because of 1. local caches being lost across actions and 2. some actions mapping huge SDKs into each action's execution root (the Go rules do that and thus you end up creating thousands of links for every ac

[2022-04-15 19:54] keith opened #15270 "enable_platform_specific_config had flag overrides has surprising behavior"
### Description of the bug:

If you have a bazelrc with these contents:

[code]

The `PATH` that is actually used is the passthrough defined by `--action_env=PATH`, not `/usr/bin:/macos`. If you flip the ordering to:

[code]

I would expect `--enable_platform_specific_config` to take effect after the other options have been added, but maybe there is no great default for this.

### What's the simpl

[2022-04-16 00:31] philsc opened #15271 "Aspects get falsely evaluated against incompatible targets"
### Description of the bug:

It looks like aspects run on incompatible targets when they shouldn't.

I think the answer here is that the aspects should not run and instead just provide the `IncompatiblePlatformProvider` to signify that it's incompatible as well.

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

The absolute minimal example:

[2022-04-16 00:34] philsc commented on #15271
@gregestren , FYI.

I'll work on this once the robotics season is over at the end of this month and after I finish with #14096.

[2022-04-16 02:27] kjcartledge opened #15272 "--enable-preview causes issues when using a custom toolchain"
### Description of the bug:

While attempting to use Java 17 (with preview features), I've run into an issue with the `--enable-preview` option.

[code]
Is basically straight from https://bazel.build/docs/bazel-and-java#config-compilation-toolchains.

I've tried a few different permutations in the `.blazerc` to make it happy:

[code]

Causes errors like `error: could not locate class file for java

[2022-04-16 06:47] cushon commented on #15272
It's possible to work around this by adding the flag directly to the target, but that's obviously not ideal:

[code]

The failure is from `external/rules_jvm_external/private/tools/java/rules/jvm/external/jar/AddJarManifestEntry.jar`, which explicitly passes `-source 8 -target 8`:

https://github.com/bazelbuild/rules_jvm_external/blob/433a989abe1ac26449d48c243c560bef1195939c/private/tools/java/rul

[2022-04-16 15:08] warriorstar-orion commented on #15014
@cpsauer oh man it's been a minute since i've looked at the project that surfaced to me. Let me get back to you on that.

[2022-04-16 15:53] manageryzy opened #15275 "os.execv in py_binary wrapper causes pycharm failed to debug"
### Description of the bug:

PyCham python debugger do not support os.execv, a SIGINT was sent from PyCharm during executing os.execv and casuse py_binary failed to debug.

Although this is a bug of pycharm pydev, but it is better to use other function to spawn a subprocess in `python_stub_template`

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if po

[2022-04-17 15:30] DavidGoldman commented on #15191
This seems like a reasonable FR - `-serialize-diagnostic-file` and `--serialize-diagnostics` are both available in upstream Clang (it's not specific to Apple's fork). This should be implemented by modifying the CC/ObjC rules, not via an aspect, since the additional file should be produced by the original compilation action (not via an additional action) - the overhead of producing it is minimal co

[2022-04-17 22:01] mvgijssel commented on #6359
Is it a correct assessment that the [repository execute action](https://docs.bazel.build/versions/main/skylark/lib/repository_ctx.html#execute) is never cached?

I was using [rules_ruby](https://github.com/bazelruby/rules_ruby) in the CI and locally and I was surprised that after every CI run (or `bazel clean --expunge`) Ruby was re-compiled from source. I was under the assumption that `--disk_cac

[2022-04-18 14:23] ling2yt commented on #11062
hi, I run into the same issue too. But I set this environment to **specify the cache path**, seems --test_tmpdir is not designed for  this? Is it any other paraments can be used? Thanks!

[2022-04-18 14:47] alexeagle commented on #14341
Yes, I think anything that produces non-deterministic outputs has to be user-controlled rather than rule-author-controlled.

[2022-04-18 16:28] phst commented on #15029
In addition to https://github.com/bazelbuild/bazel/issues/15029#issuecomment-1072112309, I think we should have some way to access the current repository name that assumes as little as possible from the programming language. For example, have a rule that generates a source file that contains the repository name as a constant (or function returning a constant). Such a thing should be possible in ev

[2022-04-18 16:39] #15272 closed

[2022-04-18 18:55] gregestren commented on #14982
@katre  suggested CC'ing @cpsauer regarding effective platform mappings.

@katre also said he's looking at a related issue at https://github.com/bazelbuild/platforms, although I'm not sure offhand which.

[2022-04-18 21:08] gregestren commented on #15271
Makes total sense, and I agree. Thanks for the report and commitment, and good luck with robotics!

[2022-04-18 21:30] aiuto opened #15277 "https://bazel.build/contribute/breaking-changes needs a rewrite"
https://bazel.build/contribute/breaking-changes is obsolete. Much of the process has changed since the start of LTS releases.

- it mentions migration-xx.yy flags, which are note used any more
- it talks of the bazelisk-plus-incompatible-flags pipeline, which does not do anything useful, even if it is still there.
- the migration window concept does not exist any more

There is probably more.

[2022-04-18 21:32] aiuto commented on #15277
cc: @philomathing @jdob

[2022-04-18 21:52] EdbertChan opened #15278 "Dynamically Adjust Multiplex Workers For File Descriptors"
### Description of the feature request:

The assignment of multiplex workers in WorkerParser should take into account the number of file descriptors that need to be opened. New jobs and workers should be spun up if the additional number of file descriptors that are needed would cause a worker to exceed the number of file descriptors allowed per process.

We may also want to keep track of the syste

[2022-04-18 21:56] gregestren commented on #14626
Yes, but that's in pre-design: we know we'd like a better APi than hard-coded `getHost()` but haven't committed time to what that API would look like yet.

[2022-04-18 22:04] philomathing commented on #15277
Thanks! Can you file a documentation bug
<https://b.corp.google.com/issues/new?component=110832&foundIn=https:%2F%2Fbazel.build%2Fcontribute%2Fbreaking-changes%3Fhl%3Den&template=433703>
for me?

On Mon, Apr 18, 2022 at 2:32 PM aiuto ***@***.***> wrote:

--

Lyra Levin | Writer | ***@***.*** | 415.579.8580

[2022-04-18 22:37] neilisaac commented on #4939
In case this helps anyone, you may be able to disable user site packages using env -S in the shebang of the generated py_binary wrapper scripts:
[code]

[2022-04-18 23:51] zachgrayio opened #15279 "Use of --experimental_remote_cache_async results in invalid requests to reapi"
### Description of the bug:

Looks like when this newer experimental flag is in use the bazel client often writes and attempts to read 'empty' blobs  (hash `e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855`, the shasum of an empty blob) that have a length other than zero in the BS resource identifier, eg. `e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855/103` which

[2022-04-19 00:00] aiuto commented on #15277
The github bugs mirror in to buganizer, so we should be able to find it and
pick it up there.
We don't like to make unassociated duplicates, because then we have two
things to track, rather than 1.

On Mon, Apr 18, 2022 at 6:04 PM philomath ***@***.***> wrote:

[2022-04-19 00:04] marcus-cavnue commented on #14294
I am getting this error trying `bazel test //...` simply because of the presence of a `filegroup` like this.

[code]
Remove the filegroup and the error goes away.

[2022-04-19 00:15] sdtwigg commented on #14294
This is expected because filegroup is also a non-test rule.

[2022-04-19 00:56] marcus-cavnue commented on #14294
Just though I'd give an example showing how easy it is to hit this issue, especially with a non-executable (iirc) target in the graph.

I am slightly curious that `testonly = True` doesn't help in that example.

[2022-04-19 02:20] brentleyjones commented on #15279
@bazelbuild/remote-execution

[2022-04-19 02:45] cpsauer commented on #14982
Looks great to me. **Go Keith!** Probably a breaking change for the few using it, but IMO the right one if we're looking to quickly move away from \@platforms//cpu:arm in favor of specific ones [(per the source)](https://github.com/bazelbuild/platforms/blob/fbd0d188dac49fbcab3d2876a2113507e6fc68e9/cpu/BUILD#L22).

I for one would be happy to switch when this lands--and I love that Keith is leading

[2022-04-19 06:41] sdtwigg commented on #14294
Reviewing my older notes on this, there are a few experimental flags that may help here:

`--experimental_retain_test_configuration_across_testonly` will make it so test configuration is not dropped for testonly targets. This will likely resolve the correctness issue at the expense of performance (since the domain of testonly can be rather deep under some test rules). This is not on globally becau

[2022-04-19 07:41] larsrc-google commented on #8230
@mistic Just to check: You are running with `--experimental_reuse_sandbox_directories`, yes?

[2022-04-19 07:47] sgowroji commented on #15069
Hello @saltylin, Could you please verify the Fix mentioned in the above [comment](https://github.com/bazelbuild/bazel/issues/15069#issuecomment-1072596435) after it is reflected in the release.

[2022-04-19 07:50] sgowroji commented on #15057
Hello @UlasSAYGINIM, Did you get a chance to look at the above [comment](https://github.com/bazelbuild/bazel/issues/15057#issuecomment-1075260280) and provide the requested details. Thanks!

[2022-04-19 09:48] keith commented on #15069
This can be closed

[2022-04-19 09:59] fweikert opened #15281 "Status of Bazel 6.0.0-pre.20220411.2"
- Expected release date: 2022-04-19

Task list:

- [x] Pick release baseline: [8f0034ce](https://github.com/bazelbuild/bazel/commit/8f0034ce1e7854521e259a5eaf71859b1e6f95bc) with cherrypick [a9465dfa](https://github.com/bazelbuild/bazel/commit/a9465dfa4b124e331b8bb3e8d0219ea3dff7cdb1)
- [x] Create release candidate: https://releases.bazel.build/6.0.0/rolling/6.0.0-pre.20220411.2rc1/index.html
- [x

[2022-04-19 10:06] #15069 closed

[2022-04-19 10:14] exoson opened #15283 "Remote module does not pass remote execution wall time to SpawnResult"
### Description of the feature request:

Pass remote execution wall time to the created SpawnResult objects in `src/main/java/com/google/devtools/build/lib/remote/util/Utils.java:createSpawnResult`. PR for this change is https://github.com/bazelbuild/bazel/pull/15282

### What underlying problem are you trying to solve with this feature?

Currently `src/main/java/com/google/devtools/build/lib/remo

[2022-04-19 10:52] exoson commented on #15283
https://github.com/bazelbuild/bazel/pull/15256 seems to fix this issue

[2022-04-19 10:58] exoson opened #15285 "StandaloneTestStrategy does not extract detailed execution time information from SpawnMetrics"
### Description of the feature request:

Bazel could extract the detailed execution time information from the SpawnMetrics object to the ExecutionInfo proto in `src/main/java/com/google/devtools/build/lib/exec/StandaloneTestStrategy:TestMetadataHandler:extractExecutionInfo`. SpawnMetrics has fields totalTime, parseTime, fetchTime, queueTime, uploadTime, setupTime, executionWallTime, processOutputs

[2022-04-19 11:09] fmeum commented on #15029
When a target in repo `my_repo` wants to get the path to the file `path/to/pkg/file` in the repo `other_repo`, then the `Rlocation` would need to know both `my_repo` (to look up the proper repo mapping) and `other_repo/path/to/pkg/file` (to apply the repo mapping to). We could of course split out the repository name of the rlocation path into a third argument, but that may actually make things mor

[2022-04-19 11:18] fmeum commented on #15268
@trybka FYI: There is a subtle difference in behavior between `env_inherit` on native rules and the `inherited_environment` parameter on `testing.TestEnvironment`, see https://github.com/bazelbuild/bazel/pull/14849#issuecomment-1042849614. If you want to maintain complete compatibility with native rules, you would have to drop those variables from `inherited_environment` that are also keys in `env

[2022-04-19 11:49] lberki commented on #10298
Looking at the history of this issue, the main blockers seem to be Windows and RBE support. Once those are fixed (or we decide that they don't matter), we can move this feature out of the experimental domain.

@coeuvre : What do you think about updating our RBE support to support unresolved symbolic links? I realize you are busy so I was thinking about soliciting pull requests from the community.

[2022-04-19 12:19] #14395 closed

[2022-04-19 12:37] meteorcloudy commented on #15277
This pipeline is currently broken, but I think it still can be helpful. I'll find sometime to look into fixing it.

[2022-04-19 12:37] ferraith opened #15286 "bzlmod doesn't use credentials stored in .netrc files"
### Description of the bug:

bzlmod supports to store modules in private registries. These reqistries can be pass with the `--registry` parameter to bazel. In corporate environments there could be a use case that for security reasons access to a private registry must be limited, e.g. by basic authentication with a username and password. Often these credentials are stored in a `.netrc` file.

It lo

[2022-04-19 13:14] #15281 closed

[2022-04-19 13:22] comius commented on #14341
cc @buildbreaker2021

Trying to keep things simple, I'd prefer if it's possible not to introduce additional flag. That would mean if `--stamp` is `False`, `ctx.info_file` and `ctx.version_file` should just return a "constant" file. Returning a constant file wouldn't break rules that are already using it and would still generate hermetic builds.

[2022-04-19 13:23] comius commented on #14341
Assigning to @buildbreaker2021, because he's handling BuildInfo in Java and C++ Starlark rules atm.

[2022-04-19 13:34] meteorcloudy commented on #15191
@brentleyjones I guess implementing this as a feature is relatively simple, feel free to send a PR.

[2022-04-19 13:38] meteorcloudy commented on #15191
@comius @oquenchil In generally, I think we should have a way to "inject" features for the default cc toolchain so that users don't have to fully maintain their own cc toolchain, and can just say I want to add this feature to the default cc toolchain.

[2022-04-19 13:53] #15121 closed

[2022-04-19 14:00] #15098 closed

[2022-04-19 14:13] meteorcloudy commented on #10298
@lberki My guess is that it will work correctly [--windows_enable_symlinks](with https://bazel.build/reference/command-line-reference#flag--windows_enable_symlinks), NTFS does support dangling symlinks.

Is there a simple test that I can run to verify?

[2022-04-19 15:38] bazel-io opened #15288 "[5.2.0] Fix checking remote cache for omitted files in buildevent file"
Forked from #15280

[2022-04-19 15:39] bazel-io opened #15289 "[5.2.0] Update java_tools v11.7.1"
Forked from #15258

[2022-04-19 15:39] bazel-io opened #15290 "[5.2.0] Collect C++ lcov coverage if runtime object not in runfiles"
Forked from #15118

[2022-04-19 15:39] bazel-io opened #15291 "[5.2.0] Collect coverage from cc_binary data deps of py_test"
Forked from #15097

[2022-04-19 15:39] bazel-io opened #15292 "[5.2.0] SolibSymlinkAction does not need exec platform or properties"
Forked from #14827

[2022-04-19 15:41] meteorcloudy commented on #15289
Closing due to https://github.com/bazelbuild/bazel/pull/15231

[2022-04-19 15:56] meteorcloudy commented on #15270
I think this is WAI, if you replace `build --enable_platform_specific_config` with `build --config=macos`, you'll get the same result when running on macOS. I think the idea is the latter one that gets expanded always wins in the .bazelrc file.

[2022-04-19 15:56] #15270 closed

[2022-04-19 15:58] meteorcloudy commented on #10298
This test passes on Windows
https://buildkite.com/bazel/bazel-bazel/builds/19324#75eafab1-c5ae-4830-add5-fbe84692c31e
[code]

[2022-04-19 16:02] #9236 closed

[2022-04-19 16:36] mistic commented on #8230
@larsrc-google yes I'm using it as without that flag the performance decrease is even worse

[2022-04-19 17:25] keith commented on #14982
Is there more context on this somewhere?

[2022-04-19 17:25] rickeylev opened #15294 "Python: use execpath semantics for $(location) expansion"
### Description of the feature request:

Today, the Python rules, because they're Java-implemented, use rootpath (runfiles-root relative) expansion semantics when expanding `$(location)` in e.g. env, etc. I came across this while re-implementing location expansion for the `env` attribute. (aside: i saw this for env, but i think args uses the same underlying code, but didn't actually check behavior

[2022-04-19 17:26] marcus-cavnue commented on #14294
Yes your earlier post was helpful.

Is `test` a typo there? I don't believe these args are available to filegroup() and its own doc simply says:

That sounds convenient enough to use anywhere and without restrictions. Perhaps a note about this issue can be added to the docs?

[2022-04-19 17:43] sdtwigg commented on #14294
I was referring to the dummy rule in the original post (https://github.com/bazelbuild/bazel/issues/14294#issue-1057216847). Sorry for the confusion.

[2022-04-19 17:47] hvadehra commented on #15230
#15231 is merged

[2022-04-19 17:47] #15230 closed

[2022-04-19 18:46] ted-xie commented on #13612
Hi @hevrard,

I've just learned that Android Studio has chosen to deprecate ANDROID_SDK_ROOT, so we will remove the functionality to consider that environment variable as the SDK installation location.

See https://developer.android.com/studio/command-line/variables, and screenshot below, taken on 2022 Apr 19.

![androidsdkrootandroidstudio](https://user-images.githubusercontent.com/4371677/164074

[2022-04-19 19:44] larsrc-google commented on #8230
Ouch. And the Linux/Mac difference you mention may indeed indicate that the cache is not the main problem. Like Joe, I don't know that much about nodejs behaviour, but would be willing to investigate if you can point at some code that I can reproduce it with. You should also be able to see slow setup time - if that's the problem - by using [the profiler](https://bazel.build/rules/performance#perfo

[2022-04-19 20:56] trybka commented on #15268
@fmeum concretely, you're saying:

a) for proper native compatibility, we should filter keys in `environment` out of `inherited_environment`
b) except that might be genuinely more useful and might be preferred?

I believe I implemented (b) in https://github.com/bazelbuild/bazel/commit/4ed40eea4a0a07af6d709ea24a59d4a3d19dd527, but if there's a concern, I could go add filtering.

Whatever we land on

[2022-04-19 21:41] cpsauer commented on #14982
^ Figured you'd be the guy to ask :) All I did was quickly change my platform_mappings over to armv7 to see if anything broke on iOS--and didn't seem to have any problems building. Sorry to not have more.

[2022-04-19 21:42] fmeum commented on #15268
If b) was meant to say something like "except that might be genuinely less useful and the alternative might be preferred", then yes. I prefer the solution you implemented in https://github.com/bazelbuild/bazel/commit/4ed40eea4a0a07af6d709ea24a59d4a3d19dd527 and would argue that if no one speaks up about any experienced breakage (unlikely), then this is the better of the two alternatives.

+1 on ad

[2022-04-19 21:43] keith commented on #14982
Are you building for 32 bit iOS

[2022-04-19 21:44] cpsauer commented on #14982
Yes. Definitely.

[2022-04-19 21:48] keith commented on #14982
I guess toolchain resolution, I would expect those to match for sure. Also with the recent-ish iOS fixes around it

[2022-04-19 21:50] keith commented on #14228
We're seeing what I think is the same issue with bazel 5.1.1:

[code]

Unfortunately I think we're hiding the full stack trace https://dev.azure.com/cncf/envoy/_build/results?buildId=106443&view=logs&jobId=fa3d3e18-6969-5713-c3e7-3581195704fd&j=fa3d3e18-6969-5713-c3e7-3581195704fd&t=ba370bef-ca49-52f5-0c93-7c0c0f27c465 (this log will probably rotate)

[2022-04-19 21:52] cpsauer commented on #14982
Matches all look okay. So:

w/ armv7
`
Type @bazel_tools//tools/cpp:toolchain_type: target platform //Bazel/Platforms:_ios-armv7: execution @local_config_platform//:host: Selected toolchain @local_config_cc//:cc-compiler-ios_armv7
`
And I can see it skip what looks like an arm (not v7) duplicate:
`INFO: ToolchainResolution:     Type @bazel_tools//tools/cpp:toolchain_type: target platform //Bazel/P

[2022-04-19 21:55] cpsauer commented on #14982
And then, conversely, if I revert out a switch to armv7, it selects the other:
`INFO: ToolchainResolution: Target platform //Bazel/Platforms:_ios-arm: Selected execution platform @local_config_platform//:host, type @bazel_tools//tools/cpp:toolchain_type -> toolchain @local_config_cc//:cc-compiler-armeabi-v7a`
Rejecting the one it previously selected:
`INFO: ToolchainResolution:     Type @bazel_too

[2022-04-19 21:57] keith commented on #14982
Ah this could be because there are now 2 toolchains that resolve to this in the Apple configuration. https://github.com/bazelbuild/bazel/blob/6872fd230b7fe4a15fa900d16f6f9ddd5726cdc3/tools/osx/crosstool/BUILD.tpl#L96-L112

[2022-04-19 22:00] keith commented on #14982
I just pushed an update to https://github.com/bazelbuild/bazel/pull/15248/, can you try that? Previously there was no CPU conflict, but now there is, since bazel doesn't choose the optimal match, just the first

[2022-04-19 22:05] cpsauer commented on #14982
Wait, just to be clear that we aren't talking past each other somehow: This was a quick test to see if there seemed to be a parallel problem on the iOS side, which there didn't. Isn't that PR about Android?

[2022-04-19 22:05] cpsauer commented on #14982
Oh, I see. It's selecting some android dummy toolchain we think?

[2022-04-19 22:06] cpsauer commented on #14982
I'll point Bazelisk at it and report back.

[2022-04-19 22:10] cpsauer commented on #14982
I think I need to wait until CI finishes for it to not 404, right? Or is there another, better way of my getting it?

[2022-04-19 22:11] keith commented on #14982
Probably not, short of building yourself

[2022-04-19 22:16] cpsauer commented on #14982
Don't think I'll be able to beat it by much, so I'll wait and report back. You want to know whether it builds cleanly and if different toolchains, right?

Also, Keith, thanks for chiming in on the Apple platforms selector with the useful Envoy example. Looked like you'd just cooked up platform mappings over there. Related to that and this: @katre and I were discussing more (over email) the idea of

[2022-04-19 22:20] keith commented on #14982
Yea it shouldn't impact your ability to build for 32 bit macOS for sure. Yes I think providing the default platform_mappings would be great.

[2022-04-19 22:28] cpsauer commented on #14982
Green, but still 404ing. It's my first time doing this; any guidance?
`2022/04/19 15:26:11 could not download Bazel: HTTP GET https://storage.googleapis.com/bazel-builds/artifacts/macos/120e43e0a2b777adb80e1cc8fe72a3dc87338eb0/bazel failed with error 404`

Also, anything in particular you'd like me to play around with? And to confirm, selecting `cc-compiler-armeabi-v7a` for iOS would be a problem?

[2022-04-19 22:33] keith commented on #14982
Maybe PRs don't push releases here? you might have to build it. I might have misunderstood your original issue, but I just want to verify 32 bit iOS still works, along with the armv7 android behavior

[2022-04-19 22:53] cpsauer commented on #14982
Oh, well the original thing was intended to be a non-issue; that iOS things had looked good on quick inspection. But it seems like you think otherwise--for reasons I don't understand yet.

[2022-04-19 22:54] achauvin-wish commented on #11001
Has there been any solution for this issue?

[2022-04-20 00:06] cpsauer commented on #14982
Have built your PR's branch from source and run it. Things build cleanly with armv7--and indeed now there's no android default toolchain to (erroneously) match iOS on arm (non-v7).

Thanks, Keith!

[2022-04-20 00:09] keith commented on #14982
Awesome, thanks for testing!

[2022-04-20 00:48] cpsauer commented on #4057
It looks to me like there's still an issue outstanding here somewhere. Not sure if it's a regression since #5981/https://github.com/bazelbuild/bazel/commit/81b59f05cb0853d27055edf77e62b619ff0aa4ba, or an edge case that's slipping through.

[I'm seeing this warning when building a .mm (Obj-C++) file using an objc_library.]

@tetromino, I'm hoping it's okay if I tag you, since you wrote the original

[2022-04-20 00:48] cpsauer commented on #5981
Looks like some of these are still sneaking through. Posted more in the (still open) https://github.com/bazelbuild/bazel/issues/4057#issuecomment-1103309962

[2022-04-20 00:57] keith commented on #5981
can you file a new issue with a repro? should be an easy fix

[2022-04-20 00:59] cpsauer commented on #5981
On it! Thanks, Keith. Amazed at your breadth

[2022-04-20 01:11] cpsauer commented on #5981
(You're sure you don't want it in the other issue, still open and applicable?)

[2022-04-20 01:11] keith commented on #5981
either way

[2022-04-20 01:19] cpsauer commented on #4057
@keith, here's the repro, per [#5981](https://github.com/bazelbuild/bazel/issues/5981#issuecomment-1103315925):
[empty_warning.zip](https://github.com/bazelbuild/bazel/files/8517407/empty_warning.zip)
`bazel clean && bazel build :all`

Output should show the warning in all valid cases with {cc_library, objc_library}x{C, C++, Obj-C, and Objc-++}.
That is, 6 instances of
`warning: /Applications/Xcod

[2022-04-20 01:47] keith commented on #4057
This warning is actually slightly different, and there doesn't appear to be a way to disable it:

https://github.com/keith/cctools/blob/bab7d4a19d480751ea4cba85d4c92b07991f2356/misc/libtool.c#L2915-L2925

[2022-04-20 06:35] meisterT commented on #15278
cc @wilwell

[2022-04-20 07:06] hevrard commented on #13612
Thanks for the notice, and thanks for keeping up with the latest Android envvar choices!

[2022-04-20 07:27] comius commented on #15294
LGTM

[2022-04-20 07:51] wiwa commented on #10091
@ulfjack While playing around with your patch, I noted that the change doesn't fully specify the initial `--persistent_worker` command, meaning that each remote worker would have to know this ahead of time. I was able to get Bazel to spit out this information from the `WorkerKey` you exposed in a small extra change here: https://github.com/wiwa/bazel/commit/d9c7ae9abcd01b2dc7b93e0ac449df4a2c02d76b

[2022-04-20 09:20] coeuvre commented on #10298
@lberki  I am happy to review PRs :)

cc @tjgq

[2022-04-20 09:26] meteorcloudy commented on #10298
@lberki
`test_smoke` passed on Windows with `--windows_enable_symlinks` after fixing the path style for Windows (`/nonexistent` => `C:/nonexistent`)
[code]

I believe Windows isn't really a blocker, dangling symlinks and dangling junctions both work.

[2022-04-20 10:48] #14426 closed

[2022-04-20 11:11] lberki commented on #10298
@meteorcloudy then that leaves RBE support, I guess.

(plus some glue logic to hard-wire the value of this flag to false within Google, but that, I can throw in since contributions don't work for that one)

[2022-04-20 12:18] meteorcloudy commented on #15029
I guess that's true in most cases, but not sure how it should work if you use source file from another repository. Should the current repo be the repo of the target's package or the repo of the source file? Also it may not be easy to parse out the repo name from the file path, how do you determine which segment is runfiles_dir, repo name and package path.

I'm thinking about a general solution. Pl

[2022-04-20 13:46] oquenchil commented on #15191
Totally agree with this and this has been in the back of my mind for years but never had time to work on it. A design doc for functionality that allows this injection would be very welcome.

[2022-04-20 14:54] fmeum commented on #15029
@meteorcloudy I am worried about what exactly you would put in `current_repo_name.xx`. The constant containing the canonical repository name defined in this file AFAIU has to satisfy the following two incompatible requirements:

1) Its name has to be static (e.g., not depend on either the mapped or the canonical name of the current repo) so that other source files in the repository can reference i

[2022-04-20 23:31] jfirebaugh opened #15304 "java.lang.RuntimeException: Unrecoverable error while evaluating node, Caused by: java.lang.NullPointerException"
### Description of the bug:

Bazel crashes with a NullPointerException in com.google.devtools.build.lib.rules.cpp when trying to build a target.

[code]

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

* Check out the minimized repro: https://github.com/jfirebaugh/emsdk_rules_rust_bug.
* Run `bazel build :hello-world-wasm`.

### Which oper

[2022-04-21 05:06] aiuto commented on #8622
Quick analysis.  There are only about 10 instances of @bazel_tools//platforms in the code, so this should no be that hard to fix.

It actually looks like most of the work is done, so it might be as simple as flipping the flag, then eliminating the tests.

[2022-04-21 08:55] UlasSAYGINIM commented on #15057
hi @sgowroji , i couldnt have time to look. i will look it in couple of days. i will inform you about result.
thank you for interest.

[2022-04-21 09:19] c-mita commented on #4685
Is there any evidence of non-empty `*.gcov.json.gz` files?

The first step in C++ coverage generation is the conversion of the (`gcda`, `gcno`) pair into the packed `gcov` file. This is then converted into a `coverage.dat` file.

[2022-04-21 09:53] #13905 closed

[2022-04-21 09:55] meteorcloudy commented on #15265
Yeah, I guess we can. @sgowroji Can you help deleting all `breaking-change-*` and `migration-*` labels?

[2022-04-21 10:59] sgowroji commented on #15265
Fixed https://github.com/bazelbuild/bazel/labels?q=breaking-change+%7C%7C+migration.

[2022-04-21 10:59] #15265 closed

[2022-04-21 10:59] foxandi opened #15305 "Windows Embedded JDK is not able to use Windows certificate keystore (Windows-Root)"
### Description of the feature request:

Enable using the Windows host keystore for certificates instead of the keystore of the bundeled JDK.

To achieve this, the module `jdk.crypto.mscapi` needs to be added to the Windows minimal embedded JDK.
This module (windows specific) is required to access the truststore of Windows. Which in term will allow to use the hosts keystore by adding `startup --ho

[2022-04-21 11:04] meteorcloudy commented on #15128
Is `archive/$commit.zip` guaranteed to be stable? If not, what would be the alternative?

[2022-04-21 11:32] fmeum commented on #15128
The only thing that is guaranteed to be stable (and automatically generated) is `archive/refs/tags/$tag.{zip,tar.gz}`. There is no way to reference archives for individual commits in a way that is known to be safe.

[2022-04-21 13:09] coeuvre commented on #15283
Fixed by 93029d8f1f01be440d8e06cce9585ad912f9169b.

[2022-04-21 13:09] #15283 closed

[2022-04-21 14:08] keith commented on #15128
I guess if there's a warning for this we may want an opt out because of that case.

[2022-04-21 14:33] jwnimmer-tri commented on #15128
For my part, I use `urls = [...]` plural where _one_ of the candidates is a putatively unstable github url, but where others are my own mirrors of the same, in case GitHub it down or changes the checksum.  If the unstable url is one of several choices, I'd like to request that bazel not warn in that case.

[2022-04-21 14:57] SimonVleugels opened #15307 "Bazel 5.0.0: _coverage directory no write permissions"
### Description of the bug:

When running `bazel coverage` for our unittests using sandboxfs, we are getting a permission denied when creating a symbolic link to the `gcov` binary in `bazel/tools/test/collect_cc_coverage.sh`.

The `collect_cc_coverage.sh` script tries to create a symlink:
[code]
Which translates into:
[code]
And results in a permission denied.

When printing out the permissions of

[2022-04-21 15:37] bazel-io opened #15309 "[5.2.0] Improve the --sandbox_debug error message"
Forked from #15273

[2022-04-21 15:37] bazel-io opened #15310 "[5.2.0] Store start/end timestamps of locally executed actions in the disk cache."
Forked from #15256

[2022-04-21 15:38] bazel-io opened #15311 "[5.2.0] Set keywords on appropriate lifecycle events."
Forked from #14857

[2022-04-21 15:38] bazel-io opened #15312 "[5.2.0] Add build_workspace_root to repository_ctx"
Forked from #13417

[2022-04-21 16:59] aiuto commented on #15265
Thanks!

[2022-04-21 19:23] ckilian867 opened #15314 "[Bug] Lombok @Generated not added to generated code"
### Description of the bug:

In `lombok.config` file, we specify `lombok.addLombokGeneratedAnnotation = true`. However, after decompiling the generated code, the `@Generated` annotation is not added to the code. Inspecting what Lombok is doing using a debugger, it seems that lombok is adding the annotation, but the end result does not have it.

### What's the simplest, easiest way to reproduce thi

[2022-04-22 02:09] nickbreen commented on #11996
I've just wasted a day on this :-(

I ended up writing a rule that used the "current_java_runtime" to get access to `bin/jar` and created a jar.

Then used `java_import` to import the jar output of that rule.

[2022-04-22 03:00] mistic commented on #8230
@larsrc-google Thank you for your availability to help investigating this. In order for your to test around with what I have been able to identify you can use the following branches:

**Branches:**
- rules v4.7.0: https://github.com/mistic/kibana/tree/main
- rules v5.4.0: https://github.com/mistic/kibana/tree/hold-upgrade-rules-v5

As states before the difference between those branches is the `rul

[2022-04-22 05:29] keith commented on #14602
I've submitted https://github.com/bazelbuild/bazel/pull/15316 which appears to fix this

[2022-04-22 06:59] sgowroji commented on #15314
Hello @ckilian867, Not able to reproduce it with latest  Bazel 5.1.1. Can you please try and let us know. Attaching the screenshot for reference.
<img width="1061" alt="Screen Shot 2022-04-22 at 12 25 19 PM" src="https://user-images.githubusercontent.com/48122892/164621121-984027f5-268f-4983-9778-dd2d32a5bb35.png">

[2022-04-22 08:53] cpsauer commented on #4057
Oy. I'm sorry, Keith, for feeding you a red herring. Shall we close this down, then, if we can't do better and the warning it referred to was fixed? I assume Apple wouldn't respond to feedback on something like this.

[I'd wrongly assumed that they'd just adjusted the error message, trusting a post I'd read online. Pretty cool that you've got that handy, searchable mirror of Apples open source too

[2022-04-22 11:46] #15305 closed

[2022-04-22 12:30] fmeum opened #15317 "`cc_test` on Bazel@HEAD breaks with `--experimental_enable_bzlmod` on Windows"
### Description of the bug:

On d5c788f684314916748bf418ce99014b2ef41f66, `cc_test` deps suddenly fail to link on Windows with `--experimental_enable_bzlmod`. On 092884b0118f1b8b14ba2277851baa6dcce5cac2, this did not occur.

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

1. On Windows, clone https://github.com/fmeum/rules_jni/commit/d626f

[2022-04-22 12:33] fmeum commented on #15317
@trybka since this seems related to the `cc_test` Starlark flip.
@meteorcloudy since it seems to be bzlmod-specific.

[2022-04-22 12:49] c-mita commented on #15307
I can't find anything likely that's changed between 4.2.0 and 5.0.0; the code that sets up the coverage directory (where `gcov` gets linked to) doesn't appear to have changed since early 2020.
That was when the `--experimental_fetch_all_coverage_outputs` flag was added.

[2022-04-22 13:07] SimonVleugels commented on #15307
@c-mita can you point me to the file where the `_coverage` dir is created?

[2022-04-22 13:54] trybka commented on #15317
Does it fail only with bzlmod enabled?

Note that there was a slight behavior change in `cc_test` -- namely previously it would link cc_test statically if the host was Windows, regardless of the target platform.

Now, it will link statically if the _target_ is Windows. The change in behavior is intentional, for two reasons:
1) we can't inspect the host in Starlark in the same way
2) this was the p

[2022-04-22 13:58] meteorcloudy commented on #15317
It indeed looks like Bazel is trying to link cc_test dynamically on Windows, which it shouldn't. Not sure why Bzlmod has anything to do with it.

[2022-04-22 14:03] fmeum commented on #15317
It could be the case that it is not involved in the fact that `cc_test` links dynamically on Windows directly, but maybe some code that triggers (e.g. https://github.com/bazelbuild/bazel/blob/f970db58be060a0d96faba51d05d5e72bd37fef5/src/main/java/com/google/devtools/build/lib/rules/cpp/CppHelper.java#L899) is not aware of repo mappings.

[2022-04-22 14:05] meteorcloudy commented on #15317
@fmeum I think the code is : https://cs.opensource.google/bazel/bazel/+/master:src/main/starlark/builtins_bzl/common/cc/cc_test.bzl;l=43-47

[2022-04-22 14:09] trybka commented on #15317
BTW, given that this is an experimental flag, and you have a workaround (also curious if `--dynamic_mode=off` helps), can I work on a fix forward, or is this causing significant blockage?

[2022-04-22 14:14] fmeum commented on #15317
@meteorcloudy Nice catch, didn't think about the possibility that the mapping of `@platforms` may be an issue.

@trybka No, you can fix forward. Both `--dynamic_mode` and the bzl override are decent workarounds: https://github.com/fmeum/rules_jni/actions/runs/2208189263

[2022-04-22 14:17] trybka commented on #15317
Interesting. So we actually check the constraints here:
https://cs.opensource.google/bazel/bazel/+/master:src/main/starlark/builtins_bzl/common/cc/cc_helper.bzl;l=825-831;drc=faf818b3f25314248400cad18c98f57c435a31b0

So, perhaps the canonical name (e.g. `@platforms.0.0.4`) is used when iterating through the constraints, but the attribute is using the local-ish name?

[2022-04-22 14:28] meteorcloudy commented on #15317
I'll do some debugging and report back.

[2022-04-22 15:04] c-mita commented on #15307
In your case, I believe it would be https://cs.opensource.google/bazel/bazel/+/master:src/main/java/com/google/devtools/build/lib/analysis/test/TestActionBuilder.java;l=391

[2022-04-22 15:59] meteorcloudy commented on #15317
<img width="924" alt="image" src="https://user-images.githubusercontent.com/4171702/164751167-1a7de3f8-0191-4219-9cd1-3483f62a2774.png">

It looks like indeed the labels passed to `ctx.target_platform_has_constraint` wasn't going through repo mappings. My guess it because the cc_helper.bzl file is defined in a special place, so Bzlmod has no idea how to get its repo mappings. /cc @Wyverald

[2022-04-22 16:00] alexeagle opened #15318 "Add an "analyze" command"
### Description of the feature request:

Users commonly want to check that their targets pass the analysis phase, but not actually perform the resulting actions.

Bazel has `bazel test` for "analyze, build, and test" and `bazel build` for "analyze and build" but doesn't have `bazel analyze`. Instead the third one requires the awkward-looking `bazel build --nobuild`

Presumably if there were a firs

[2022-04-22 16:12] aiuto commented on #14847
I'm happy to talk about license checks. What you are doing is probably
obsolete now that OSPO has moved everything over to the new system and the
licenses([notice]) style rules can soon start to go away.

We can do that in a separate thread.  Any requirements docs for what you
need w.r.t. licenses would be great background.

On Wed, Apr 13, 2022 at 11:33 AM Mihai Maruseac ***@***.***>
wrote:

[2022-04-22 16:16] cushon commented on #15314
I can repro with `--strategy=Javac=sandboxed`.

[code]

[code]

I think the issue is the way Lombok configuration works:

[code]

It tries to read that file off disk in the same location as the `.java` files being compiled, which isn't possible with Bazel's hermetic sandboxing approach: the files that are inputs to the action need to be declared in the build language, Lombok can't just find them o

[2022-04-22 16:21] mihaimaruseac commented on #14847
We no longer use the `ci_sanity.sh` script as of https://github.com/tensorflow/tensorflow/commit/fd97c3a7b52ab44305545a29558388d5fcfef6da

So I guess we can just remove the license part in BUILD files?

[2022-04-22 16:37] keith commented on #4057
This original issue can def be closed, but we could track that one separately, or not. Theoretically we could filter the output to just ignore that, IMO it's rarely going to indicate a real issue