[2018-05-31 18:20] evanj commented on #4054
For people who find this in the future: It seems like finding the first part of `argv[0]` that ends in `.runfiles` may be a "good" way to do this at the moment (from comments here: https://github.com/bazelbuild/rules_docker/issues/204#issuecomment-339616154 ). In general, this is well documented for tests (the `TEST_SRCDIR` [environment variable will be set](https://docs.bazel.build/versions/maste

[2018-05-31 20:37] sgreenstein commented on #4143
Possible dupe of #4628

[2018-05-31 20:59] botev commented on #2549
Unfortunately we have moved now to a new infrastructure where I no longer observe the problem, so can't confirm the fix works, but the newer tensorflow we are compiling here works. Feel free to close the issue.

[2018-05-31 21:04] jin commented on #4143
@sgreenstein yep, this is a dupe.

[2018-05-31 21:22] BenTheElder commented on #4558
Following back up on this after a while, FWIW we've been working around this for kubernetes for a wihle now by hashing the toolchains ourselves (since we run in debian container(s) we can do this pretty easily) and using this to key our cache.

- https://github.com/kubernetes/test-infra/blob/20dbd7ab8c8c9f7108cd29b09f1728f0e9ffaf0a/images/bootstrap/create_bazel_cache_rcs.sh#L37
- https://github.co

[2018-05-31 22:15] robfig commented on #1118
Any indications on whether lcov is here to stay? I'm trying to integrate code coverage into our CI pipeline and wondering if we should wait.

[2018-06-01 00:10] jgavris commented on #4647
I'm seeing this again on Bazel 0.13.1 (macOS) with the experimental remote spawn cache

[2018-06-01 00:59] kevin1e100 commented on #4549
Quick update here: commit 088d8de6584864adaec82712c8ace601404afd0b makes it so `META-INF/<module name>.kotlin_module` are no longer stripped, which should help with extension methods when using ijar, but `inline` methods are still unresolved.

[2018-06-01 01:12] jgavris commented on #4647
It just looks like this patch was lost in later refactoring https://github.com/bazelbuild/bazel/commit/d8ac06a4cfba7fe820cf61c9b865cf670cc936a9

[2018-06-01 01:52] benjaminp opened #5307 "support passing tuples to str.startswith and str.endswith"
Python supports passing a tuple to the first argument of `str.startswith` and `str.endswith` to allow testing multiple prefixes or suffixes in one go. I've now wanted this feature in Skylark a few times, so I'm formally submitting a request.

[2018-06-01 01:57] jmillikin-stripe opened #5308 "0.14 has no way to unset --disk_cache flag (interferes with remote build testing)"
### Description of the problem / feature request:
The local disk cache and remote execution action strategy are incompatible -- if both are enabled in flags or bazelrc, Bazel will refuse to run.

In 0.13, disk caching is controlled by `--experimental_local_disk_cache_path (string)` and `--experimental_local_disk_cache (bool)`. It was possible to enable caching in `/etc/bazel.bazelrc`, and disable

[2018-06-01 03:07] jmillikin-stripe commented on #5308
Related to (possible duplicate of?) https://github.com/bazelbuild/bazel/issues/4595

[2018-06-01 03:16] jmillikin-stripe opened #5309 "Please allow remote execution to have its own Platform, separate from host and target."
### Description of the problem / feature request:

Bazel distinguishes between the "target platform", which binaries are being compiled for, and "host platform", which binaries run from build actions are compiled for. The introduction of remote execution means that there's a third machine involved, the remote worker, which may be of a different platform. This confuses Bazel, because it assumes tha

[2018-06-01 03:31] jin commented on #4647
The patch should be in 0.14.0, since 0.13.0 was cut before the patch d8ac06a and 0.14.0 was cut in early this month.

https://releases.bazel.build/0.14.0/rc5/index.html

[2018-06-01 03:31] #4647 closed

[2018-06-01 03:32] jin commented on #5309
cc @katre @buchgr

[2018-06-01 06:40] iirina commented on #5246
My plan is to make Cobertura XML the final coverage report. Until Bazel can do that there are some intermediate steps to take and they imply using LCOV for the time being.

In coverage mode the test runner sets in the test environment a variable `COVERAGE_DIR`. As long as it is under that directory, `LcovMerger` will be able to find all the `.dat` files and merge them. The final merged coverage re

[2018-06-01 08:45] ittaiz commented on #5308
Actually I’d like to suggest that the empty string will mean bazel uses a sensible default (like external dependencies cache) and will  be on by default.
I agree there still needs to be a way to turn it off and in addition I think the real issue is the clash between the two cached.
I know @buchgr is working on an interim solution for this problem

[2018-06-01 08:49] hchauvin commented on #5246
That's great, there are many more options to generate, e.g., HTML reports from Cobertura XML than from LCOV.

Sorry for that, my sentence implied I was talking about the location of the .dat files, but I'm actually interested in the filenames as specified in the LCOV files (on the "FN:" lines).

I need the mapping because, I might be wrong, but I am under the impression that the source file conten

[2018-06-01 09:02] katre commented on #5309
Bazel currently has the execution platform, which is intended to represent both remote and local execution.

You can specify the available execution platforms in two ways:
- Use the [`--extra_execution_platforms` flag](https://docs.bazel.build/versions/master/command-line-reference.html#flag--extra_execution_platforms)
- Use the [register_execution_platforms function](https://docs.bazel.build/vers

[2018-06-01 09:02] iirina commented on #5246
I agree that there are more tools for Cobertura XML overall, but actually I struggled finding a HTML generator from Cobertura XML. The only one I found wasn't very pretty. Could you point me to some?

Oh OK, that makes more sense. In theory, the source filenames (it's actually the "SF:" lines) in the lcov tracefile should be relative to the workspace root. ATM Bazel doesn't *always* do that (*sigh

[2018-06-01 09:16] emusand commented on #4137
Is there any progress made for this issue?

We have to build bazel with another gcc than /usr/bin/gcc. Then we run into the problem where process-wrapper fails for targets, since the local /usr/lib64/libstdc++.so is too old:

[code]

Our machine park runs several different Linux distributions, and the local gcc is generally too old for Bazel. So building Bazel with the local compiler and install i

[2018-06-01 09:51] hchauvin commented on #5246
I don’t have a silver bullet for cobertura either, I am just noticing that
1) genhtml performance can be problematic, 2) you already have plugins for
cobertura in IntelliJ and phabricator (interestingly, there seems to be
only a plugin for LCOV in vscode), and code coverage is probably best
consumed in an IDE.

In this context, having file names relative to the workspace makes sense,
and it probab

[2018-06-01 10:39] iirina commented on #5246
True. It's also integrated with some CIs, which is a big plus.

Yes. This doesn't work in bazel coverage ATM.

This is a good question. Is there a case where someone would need coverage for generated/external files? I don't think this is a good practice and they should be excluded from the report.

[2018-06-01 10:58] mhlopko commented on #5291
I'll continue this discussion on the issue. Thanks!

On Thu, May 31, 2018 at 4:31 PM Nicolas Lopez <notifications@github.com>
wrote:

--
Marcel Hlopko | Software Engineer | hlopko@google.com |

Google Germany GmbH | Erika-Mann-Str. 33  | 80636 München | Germany |
Geschäftsführer: Geschäftsführer: Paul Manicle, Halimah DeLaine Prado
| Registergericht
und -nummer: Hamburg, HRB 86891

[2018-06-01 10:59] mhlopko commented on #5291
Nick I think the issue is that toolchains currently see host configuration when created, not target configuration which is used with legacy cctoolchain selection. I believe that if you use --host_linkopt you will see them when using toolchains.

[2018-06-01 11:16] hsyed commented on #4549
@kevin1e100 great news.

A bit more detail on the mechanics of what needs to occur with the bytecode:

1. For inline methods we also need to keep the bodies or at least the signatures of `internal` elements that are used by the inline methods these should be annotated with `@PublishedApi`.
2.  `typealias`'s also breaks after ijarification. I haven't looked into why.
3. The metadata annotations wil

[2018-06-01 11:55] emusand commented on #4137
My problem turned out to have a simple solution: We can link process-wrapper statically when we build Bazel (by updating src/main/tools/BUILD).

[2018-06-01 13:28] kcooney commented on #3476
@davido I would be surprised if Bazel is reading the output of JUnit's text UI.

My understanding is that the output from Bazel is reporting the status of test actions, not test methods. Bazel supports many kinds of test actions, and most of them don't have a concept of assumption failures. So Bazel looks at the exit value of the test process to determine the pass/fail status of the test action.

[2018-06-01 13:38] evanj commented on #4054
After some additional investigation, issue #4460 is related

[2018-06-01 13:39] kcooney commented on #3476
BTW you can get tell Bazel to provide more detailed ouput of the test (see https://docs.bazel.build/versions/master/user-manual.html#flag--test_summary). Note the from Bazel's perspective–and JUnit's–this test passed so it might not show details unless you requested verbose output. Try a test with one failing test and one assumption failure.

[2018-06-01 13:50] mhlopko opened #5311 "NPE when --experimental_remote_spawn_cache specified without --disk_cache"
Bazel crashes when --experimental_remote_spawn_cache specified without --disk_cache. Can we do so with more grace? :)

java.lang.RuntimeException: Unrecoverable error while evaluating node 'ActionLookupData{actionLookupKey=//src/main/java/com/google/devtools/build/lib:bazel/BazelServer com.google.devtools.build.lib.skyframe.BuildConfigurationValue$Key@add649a false (1492562562), actionIndex=8}' (r

[2018-06-01 14:15] lfpino commented on #5056
Pushed release:
https://github.com/bazelbuild/bazel/releases/tag/0.14.0
https://releases.bazel.build/0.14.0/release/index.html

@petemounce : Could you please update Chocolatey? Thanks!
@ilovezfs : Could you please update Homebrew? Thanks!

[2018-06-01 14:19] ilovezfs commented on #5056
https://github.com/Homebrew/homebrew-core/pull/28568

[2018-06-01 14:46] #5090 closed

[2018-06-01 14:56] lfpino commented on #5056
Thank you @ilovezfs !

[2018-06-01 15:01] mhlopko commented on #5090
Thanks Ryan, should be fixed now.

[2018-06-01 15:01] ilovezfs commented on #5056
You're welcome. 0.14.0 shipped in Homebrew.

[2018-06-01 15:07] #5056 closed

[2018-06-01 15:38] laurentlb commented on #5307
This is a reasonable feature request.
Should be easy to implement.

[2018-06-01 17:11] jmillikin-stripe commented on #5309
I understand that, but a single execution platform is not sufficient when actions within the same build might execute on different platforms.

Case 1: running Bazel with `--genrule_strategy=remote`, any tools used in that genrule must be compiled for the remote platform. They will fail to run if built for the host platform. Other tools, used in non-genrule actions, must be built for the host platf

[2018-06-01 17:45] jmillikin-stripe commented on #5309
This is not true in Bazel 0.13 (haven't updated to 0.14 yet) -- actions in the same target can execute on different platforms, depending on execution strategy:
[code]
[code]

This also appears to be untrue in 0.13 -- when I pass a target in the genrule's `tools` attr, that target's rule is called with a resolved toolchain matching the host platform. I've verified this toolchain changes when I manu

[2018-06-01 17:46] #4381 closed

[2018-06-01 17:50] katre commented on #5309
I see where I was confused. You are right, strategies such as remote, sandboxed, etc can be set per-action. However, the execution platform is set per-target. I can see where this will cause problems when being mixed together. Do you have an error case I can use to try and fix this? I know @ulfjack is planning some changes to the entire strategy system, but I don't know how that will affect remote

[2018-06-01 17:57] jmillikin-stripe commented on #5309
I'm not sure that the set of execution platforms is related to this issue. As described in the original post, I think the best way to support the use case of a multi-platform distributed build is to have a `--remote_platform` flag that would tell Bazel to resolve toolchains for that platform when running actions remotely.

[2018-06-01 19:53] oferb commented on #5260
Is the fix in `0.14`?

[2018-06-01 20:00] alexeagle commented on #5045
Sure, I'm getting used to downloading the file and running `sha256sum` myself, this is low severity.

[2018-06-01 20:06] kekePower opened #5313 "Fail to build in chrooted environment without internet access, Mageia 7 (Cauldron)"
### Description of the problem / feature request:

Trying to build 0.14.0 in a chrooted env without internet access.
This commit https://github.com/bazelbuild/bazel/commit/3c9cd82b847f3ece8ec04b2029bd5e8ad0eb7502#diff-31959a132c4ce4e1bed4ae6851cadbd3 tries to download a zip file which won't work in my environment and I've tried to put this file in various places without luck.

Where do I put https

[2018-06-01 20:37] jin commented on #5313
cc @aehlig  @kevin1e100 @ahumesky

[2018-06-01 21:12] ahumesky commented on #5313
I believe that you have to pass `--experimental_distdir` point to the directory that you put the files in.

The bootstrap script does it like this:
https://github.com/bazelbuild/bazel/commit/3c9cd82b847f3ece8ec04b2029bd5e8ad0eb7502#diff-31959a132c4ce4e1bed4ae6851cadbd3R40

[2018-06-01 21:29] ahumesky commented on #5313
Also, this is all for the android rules that are built into bazel. We're in the process of moving those to skylark, so eventually this will all go away.

[2018-06-01 21:42] robfig commented on #4398
Still happening on 0.14.0

@iirina , since I'm not sure you saw my previous question, can you advise why it's a low priority when it seems like a major blocker for calling java coverage "production ready"? How do folks in the bazel project run coverage? I can't imagine you pass --jobs 1

[2018-06-01 22:09] buchgr opened #5314 "bazel_command_log_test fails with JDK9"
https://github.com/bazelbuild/bazel/pull/5312

https://source.cloud.google.com/results/invocations/770bf9b2-9fa7-4557-9713-10add653bc5f/targets/%2F%2Fsrc%2Ftest%2Fshell%2Fintegration:bazel_command_log_test/tests

[code]

I assume we can resolve this by updating protobuf to the latest version, which should support JDK9. Maybe @cushon knows?

[2018-06-01 22:21] jbduncan commented on #5255
I'm not sure if I'm overstepping my boundaries here, but I wanted to share my thoughts about this issue.

On top of migrating from CMake for a C++ project, as #2792 discusses, this would be brilliant for other build systems, such as Gradle in my case.

I've been interested in a while now for a solution that would allow me to build my Gradle-based vanilla Java projects with Bazel (mainly so that I

[2018-06-01 22:27] jin commented on #5255
@jbduncan You might be interested in Spotify's https://github.com/menny/bazel-leaf, which lets you incrementally build Gradle modules using Bazel.

[2018-06-01 22:27] buchgr opened #5315 "//src/test/py/bazel{:runfiles_test,windows_remote_test}"
When trying to move Bazel's host javabase to JDK9 (https://github.com/bazelbuild/bazel/pull/5312) these two tests fail:

[code]

Here's a detailed log:

https://source.cloud.google.com/results/invocations/bb12c897-b46a-4e75-938f-1d956699d8dc/targets

The errors all look like:

[code]

IIUC correctly files like `jre/lib/jce.jar` no longer exist in JDK9.

cc: @jasharpe @meteorcloudy @cushon @laszloc

[2018-06-01 22:31] jbduncan commented on #5255
Thanks @jin! I'll have a proper look at it when I'm next free. :)

[2018-06-01 22:52] jin commented on #3845
@fishy gmaven_rules are now release based. Check out the releases here: https://github.com/bazelbuild/gmaven_rules/releases

[2018-06-01 22:52] #3845 closed

[2018-06-01 23:13] kekePower commented on #5313
@ahumesky Thank you. Setting `--experimental_distdir` did work as expected.

[2018-06-01 23:26] cushon commented on #5314
This is google/protobuf#3781.

Passing `--add-opens=java.base/java.nio=ALL-UNNAMED` suppresses the warning. That flag isn't backwards-compatible with JDK 8. The other option is to ignore the warning in the test :/

[2018-06-01 23:27] #5313 closed

[2018-06-01 23:49] cushon commented on #5314
Here's a fix:

[code]

(That will need to happen in the same change as #5312, since the JVM flag isn't backwards compatible with JDK 8.)

[2018-06-01 23:59] cushon commented on #5315
Are they only failing on windows?

[2018-06-02 12:32] buchgr commented on #5314
@cushon awesome! I have updated #5312

[2018-06-02 20:46] buchgr opened #5317 "TreeNodeRepository broken with Bazel at HEAD"
Some change in the `PerActionFileCache` broke the merkle tree computation for remote caching / execution. Most likely 360ed3f6b81305387f9f6dddd8cd6ef3ffddac86. Unfortunately, I don't have time to find out myself before my vacation. This is a release blocker for 0.15.0.

https://buildkite.com/bazel/bazel-with-downstream-projects-bazel/builds/279#e91882f8-4487-49c8-bf6a-26a1261a44cd

[code]

Assigni

[2018-06-02 20:51] jin commented on #5317
dupe of https://github.com/bazelbuild/bazel/issues/5296?

[2018-06-02 20:51] jin commented on #5317
If so, I bisected it and the fix is here: https://github.com/bazelbuild/bazel/pull/5299

[2018-06-02 20:54] buchgr commented on #5317
oh cool, looks like it! thanks!

[2018-06-02 20:54] #5317 closed

[2018-06-02 21:15] #5215 closed

[2018-06-02 22:45] Nickersoft commented on #632
Currently encountering this same issue when trying to use the macros defined in the [Quill](http://getquill.io) library. What's the status of this ticket?

[2018-06-02 23:22] sayrer opened #5318 "objc_library applies c++ copts to .m files"
### Description of the problem / feature request:

I need to compile .mm files with `-std=c++14`. By default, the `objc_library` rule compiles .mm files with `-std=gnu++11`. If this is overridden in `copts`, the option is applied to .m files as well as .mm files, triggering an error:

`"invalid argument '-std=c++14' not allowed with 'Objective-C'".`

### Feature requests: what underlying problem a

[2018-06-03 00:12] johnynek commented on #632
@nickersoft it is not resolved (and as far as I know not likely to be resolved any time soon).

The solution is to use the :file dependency in the maven_jar. The bazel-deps tool manages this automatically.

[2018-06-03 01:41] jmillikin commented on #5318
Does it work if you override with `--cxxopts` instead of `--copts`?

[2018-06-03 03:03] ittaiz commented on #632
Another solution is to use scala_import from rules_scala.
:file dependency isn’t supported well in intelllij
On Sun, 3 Jun 2018 at 3:12 P. Oscar Boykin <notifications@github.com> wrote:

[2018-06-03 03:14] sayrer commented on #5318
The rule only defines "copts". Maybe there's a way to do what you suggest. I just don't know how to do it, unless you are suggesting a command line param (which won't be very easy to use, since most of the system uses C++11. I was able to find a workaround, by splitting the library into two pieces based on extension (.mm and .m).

https://docs.bazel.build/versions/master/be/objective-c.html#objc_l

[2018-06-03 04:01] #2918 closed

[2018-06-03 15:36] talya commented on #5206
ping
any update on this?

also, possibly the [fix](https://github.com/bazelbuild/bazel/commit/28d9bd3d17e9532e97ce72dc9001d94b7e64368c) for this older [issue](https://github.com/bazelbuild/bazel/issues/2018) is relevant - "The behavior of the Linux sandbox was changed to not hide the local hostname by default."
but no matching Darwin code was changed to match.

[2018-06-03 19:16] warp1337 commented on #3692
Bump

[2018-06-04 05:13] #5296 closed

[2018-06-04 05:56] butterl commented on #1512
@mryellow same error happens to me and not solved yet
@efernandez Thanks for reaching out ！do you got any other update information for the old doc for this?

[code]

[2018-06-04 06:51] mryellow commented on #1512
https://github.com/bazelbuild/bazel/issues/5274#issuecomment-392233190

Are you missing a `-` at the end?

`curl https://bazel.build/bazel-release.pub.gpg | sudo apt-key add -`

[2018-06-04 06:59] butterl commented on #1512
@mryellow  thanks for reaching out ， I really missed a `-`

[2018-06-04 07:38] ulfjack commented on #1118
@iirina has a doc (which she unfortunately hasn't shared yet), where she proposes that we should go with cobertura XML as the format. We've been looking at gcovr to generate it from C/C++ coverage, and there are a lot of other tools available as well.

[2018-06-04 07:59] ulfjack commented on #4137
I have recently updated a bunch of actions to correctly take --action_env into account - the changes should all be in 0.14.0. If you know about specific actions that still don't do it correctly, please do let me know.

I would also be open to merging a patch that makes process-wrapper be statically linked by default. (And possibly change it so that it's a pure C binary and doesn't need to link aga

[2018-06-04 09:07] katre commented on #5309
The core issue is that there isn't a single remote platform: your remote execution system could have several types of workers, and they can all be used in a build.

However, I definitely see the value of having a way to specify the default remote platform for legacy cases, and will look into implementing that shortly. That should help fix your issue with genrules, if I understand it correctly.

[2018-06-04 09:19] aehlig commented on #5315
@laszlocsomor can you help triaging further and assign as appropriate? Thanks.

[2018-06-04 09:33] meteorcloudy commented on #5315
@aehlig Laszlo is on vacation this week, I can take a look at this.

[2018-06-04 10:52] aehlig opened #5323 "bazel/remote-execution is broken"
The bazel CI for remote execution is broken[1] since 452141ffc66a3cbd27c597001585ade4251a307f.
The error message reads

[code]

[1] https://buildkite.com/bazel/remote-execution/builds/2101#cc63b8e7-bf87-4dcf-9093-5d7d932cb54a

[2018-06-04 11:53] ulfjack commented on #5309
@katre, I don't think that'll work. Let me elaborate.

@jmillikin-stripe, can you confirm that this is what you want: You want to run certain actions remotely, even though the remote execution platform is incompatible with your local machine, e.g., local machine is a Mac, remote machine is a Linux machine.

This is at odds with Bazel's current design, although the existence of the --*_strategy fla

[2018-06-04 11:55] ulfjack commented on #5309
(We have been using some _hacks_ to allow certain rules to generate actions for different execution platforms.)

[2018-06-04 12:14] meteorcloudy commented on #5315
@buchgr https://github.com/bazelbuild/bazel/blob/c924cf6f464cf24ac6ba4fb1c1d34aa2fe567e3f/src/main/tools/jdk.BUILD#L74-L78

Did you see this?

@cushon Not sure why it's only failing on Windows, any idea how to fix for JDK 9?

[2018-06-04 12:36] ulfjack commented on #5270
The --watchfs infrastructure needs to be rewritten and made more generic, and yes, it should absolutely support output tree tracking as well. It's been on my todo list for a long time. :-/

[2018-06-04 13:22] jmillikin-stripe commented on #5309
I want to run heavy processes, such as compilation, remotely. The remote workers' machines are incompatible with my local machine. I want to retain the ability to run certain rules locally, such as for tests that are not yet fully hermetic. These targets would be specified by tags like `local`.

To be clear, while I've documented Bazel's current behavior here, I don't actually _want_ that behavior

[2018-06-04 13:37] ulfjack commented on #5309
What would the --remote_platform flag do, though? We can't make it available to rules because the execution platform is part of the BuildConfiguration - if we made the 'remote_platform' part of the BuildConfiguration, all rules would have access to the 'remote_platform' in addition to the execution platform. What should the rules do with that information?

Maybe the suggestion is that Bazel would

[2018-06-04 13:40] katre commented on #5309
This morning I sent out https://github.com/bazelbuild/bazel/pull/5322, which adds a flag to set the execution platform for rules that don't use toolchain resolution (including all legacy rules). This can't be any more fine-grained, there is no way during analysis to know whether a target/action will be executed remotely or locally.

[2018-06-04 13:46] ulfjack commented on #5309
If we're using the execution platform to decide where to execute the actions for a rule, then we could have a per-rule selection of execution platforms.

[2018-06-04 13:47] katre commented on #5309
@ulfjack We're not doing that currently, is that planned to be changed? I think it's a great idea but I am not sure I have time to make the change.

[2018-06-04 13:49] jmillikin-stripe commented on #5309
I would imagine that when Bazel is configuring a target, it would decide whether that target is executed entirely on "host" or entirely on "remote". Depending on this choice, it would use either `--host_platform` or `--remote_platform` to resolve toolchains.

It's named `--remote_platform` to match the existing flag it pairs with, `--remote_executor`. There are other names that might be used like

[2018-06-04 13:49] ulfjack commented on #5309
@katre this issue is currently marked as a feature request, although there may be a regression here as well because of your work?

[2018-06-04 14:06] nlopezgi commented on #5291
Using host_linkopts does solve the problem. Thanks!

[2018-06-04 15:37] IKupriyanov-HORIS opened #5325 "Nested WORKSPACE file ingnored when run build for parent workspace"
I have a project with nested WORKSPACES. Nested project uses dependencies(`//lib:commons-collections4`) and scripts (`//buils-scripts:module.bzl`) from parent.

Structure:
[code]

To get access to parent's dependencies and scripts I added parent as local repository.

nested `WORKSPACE`
[code]

nested `BUILD.bazel`

[code]

`bazel build //...` for nested workspace works fine:

[code]

But when I tr

[2018-06-04 15:55] werkt opened #5326 "test_cc_test_coverage broken since 0.11"
### Description of the problem / feature request:

`test_cc_test_coverage` in `//src/test/shell/bazel:bazel_coverage_test` has been broken since 0.11, and suppressed because the CI containers do not have `/usr/bin/lcov` installed

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

1. Install `lcov` such that it appears in `/usr/bin/lcov

[2018-06-04 16:19] #1322 closed

[2018-06-04 16:47] werkt commented on #5326
dad2276 introduced this failure. @mhlopko

[2018-06-04 17:29] siddharthab commented on #5325
This is known. There is ongoing effort to make this happen, but until then, all deps have to be listed in the workspace file of the workspace you are building. The most common way of listing deps from internal workspaces is to make the deps available through a macro, and then calling that macro from your outer workspace file. e.g., `go_rules_dependencies`.
https://bazel.build/designs/2016/09/19/re

[2018-06-04 18:15] nlopezgi commented on #5291
Hi Marcel, I've been doing some more thorough testing of the solution you suggested. It seems to work fine as long as i use the same host and target configuration (i.e., sanitizer config for both host and target), but not when I actually need to use the sanitizer configuration only for target configuration. Specifically, for asan, tsan and ubsan, the solution worked, as I am using the same crossto

[2018-06-04 19:36] cushon commented on #5315
We shouldn't be using JDK 9 as a `--javabase` yet, just as a `--host_javabase`, so that TODO shouldn't be a problem.

Can you confirm that the `JAVA_HOME` environment variable is being set correctly for those windows tests, and that this logic is locating the local JDK 8 instead of the embedded JDK 9?

https://github.com/bazelbuild/bazel/blob/f4cf006a4e1189b1ff6c757a90af22038fa6b943/src/main/java/

[2018-06-04 20:30] mhlopko commented on #5198
Hi @rongjiecomputer, somehow this issue fell of my radar, and I'm on training till Thursday. Let me come back to you on Friday.

[2018-06-04 20:37] mhlopko commented on #5326
Thanks for reporting, I'll look into it.

[2018-06-05 07:57] meteorcloudy commented on #5315
@buchgr Can you confirm the Windows setup for `JAVA_HOME`?

[2018-06-05 07:57] aehlig commented on #5325
That the file `nested/WORKSPACE` is not read is expected. Your top-level directory does not even mention `nested` as an external repository. Also, as @siddharthab mentioned, recursive `WORKSPACE` files are planned in the long run, but not implemented yet (and it probably take some time till we get there).

[2018-06-05 07:57] #5325 closed

[2018-06-05 08:16] IKupriyanov-HORIS commented on #5325
This is intended. What I was expecting is build `nested` successfully (detecting `nested/WORKSPACE` and external dependencies) or skip it entirely because of parent has no references to it. Both cases were fine for me - parent isolated from `nested` and can be build without errors, `nested` can be build by own command.
Anyway thank you for clarifications!

[2018-06-05 08:32] aehlig opened #5328 "//src/test/java/com/google/devtools/build/lib:remote-tests is very flaky"
The test `//src/test/java/com/google/devtools/build/lib:remote-tests` is flaky to an extend that it showed up several times as a spurious failure in our CI system, despite this CI system running with `--flaky_test_attempts=3`.

A quick check doing 100 runs of the test on my corp desktop showed 16 failures, but the flakyness seems to be worse of the CI machines.

[2018-06-05 09:03] aehlig commented on #5195
It is by design that the structure in all output directories follow the structure of the packages. If you need a special structure (e.g., everything under `opt` as in your example), reflecting that structure in an archive generated by [`pkg_tar`](https://docs.bazel.build/versions/master/be/pkg.html#pkg_tar) is currently the best we can offer.

We are aware that bazel is still lacking an install ta

[2018-06-05 09:03] #5195 closed

[2018-06-05 09:34] aehlig commented on #3115
Two remarks.
- The problem is the `@scratch`. Loading `@//:def.bzl` and `//:def.bzl` evaluates the file only once. So it seems that `@` and `@scratch` are treated as different repositories.
- That also fits with the debug message: the direct location of the file, and in bazel's output base under `external/scratch`---as if `@scratch` where an external repository (of type `local_repository`) located

[2018-06-05 09:38] laurentlb commented on #5057
We have a RC for Bazel 0.15: https://groups.google.com/forum/#!topic/bazel-discuss/v4f-wMyLyOo

4 projects are failing (https://buildkite.com/bazel/bazel-with-downstream-projects-bazel/builds/287):

* Bazel Remote Execution. Also failing with latest release.
* rules_python. There has been an open bug for a while: https://github.com/bazelbuild/rules_python/issues/98
* TensorFlow Serving (ubuntu 14.

[2018-06-05 09:59] laurentlb opened #5329 "Remote execution project broken at head"
https://buildkite.com/bazel/remote-execution/builds?page=4

Project is broken since this commit: https://github.com/bazelbuild/bazel/commit/452141ffc66a3cbd27c597001585ade4251a307f
Logs: https://buildkite.com/bazel/remote-execution/builds/2101#cc63b8e7-bf87-4dcf-9093-5d7d932cb54a

@tomlu
@buchgr

[2018-06-05 10:06] aehlig commented on #5329
Duplicate of #5323

[2018-06-05 10:06] #5329 closed

[2018-06-05 10:07] aehlig commented on #5323
CC @tomlu @laurentlb  from the duplicate issue

[2018-06-05 10:09] aehlig commented on #5057
#5329 is a duplicate of #5323 but the latter is not yet fixed. Mentioning to keep track of the blocking issues.

[2018-06-05 10:18] aehlig commented on #3115
A better way to demonstrate that `@scratch` is really treated as a different `local_repository` is shown below. Note that not only another action is carried out when building `@scratch//:it` after having built `@//:it`, but it also has a different output file.

[code]

[2018-06-05 11:35] emusand commented on #3857
I have run into this issue as well, on Linux (RHEL 6.9):

[code]
.file.log was a broken symlink, that is a symlink that pointed to a destination that no longer existed. "bazel clean" did not solve the issue, but deleting .file.log manually did.

[2018-06-05 12:02] aehlig commented on #5185
I'm a bit confused about what you are actually expecting. As you've seen, we're moving to the Skylark rules for external repositories, which call the version control system (in your case `git`) directly. So the global git configuration is honoured; also the environment is passed on. To phrase my question differently: if you had to clone the repository outside bazel, how would you do that, and how

[2018-06-05 13:20] iirina commented on #1118
Here is the [document](https://docs.google.com/document/d/1-ZWHF-Q-qCKf19ik-t33ie58BkNurrYYzKR4OLtcilY/view). Please comment, any feedback is welcomed.

We'll gradually change the standard coverage format to Cobertura XML. Both lcov and Cobertura XML will be available for a transitioning period.

[2018-06-05 14:35] iirina commented on #4398
Hi Rob,

I'm sorry for the silence and the terrible state of coverage. A bit of coverage context: Bazel rolled-out coverage in a poor, minimalist way and unfortunately it was not production ready (see #1118). This quarter we had the resources to prioritize working on coverage and we now have a [design doc](https://docs.google.com/document/d/1-ZWHF-Q-qCKf19ik-t33ie58BkNurrYYzKR4OLtcilY/view) for im

[2018-06-05 15:02] tomlu commented on #5323
Yeah, how on Earth can a rollback of a Java rule change break remote execution? Surely the exact commit is a red herring, and this has more to do with some change in the CI enviroment?

[2018-06-05 15:03] tomlu commented on #5323
I know bazel on the CI machines was upgraded on the same day to 0.14 around the exact time that this rollback went in, maybe that is related

[2018-06-05 15:48] llchan opened #5330 "without-jdk installer clarifications"
It seems that the without-jdk installers haven't been released on github since v0.13.1. I did see the notes at #5247, but wanted to confirm a few things:

- There was a comment that "we plan not to release the without-jdk installers anymore". Is that still up for discussion, or has it already been decided? What was the reason for the change? I'd have to modify a bunch of stuff to build bazel from

[2018-06-05 15:52] robfig commented on #4398
Hi Irina,
Thanks for the response! The design doc looks very good, and I'm excited at the progress. This particular issue preventing us from being able to reliably run bazel coverage is the main pain point in the current situation, and we can migrate to the new format when it's ready. I'm very pleased to hear that a fix is being worked on, and I'll probably cut a personal release as soon as the fi

[2018-06-05 15:57] jin commented on #5330
There was a discussion here: https://github.com/bazelbuild/continuous-integration/issues/269

and the mailing list thread here: https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/bazel-dev/ycRQMZ3woj8/Sa1SuJXPBgAJ

cc @philwo @meteorcloudy

[2018-06-05 16:49] dhalperi opened #5331 "Java code coverage for sh_tests missing"
### Description of the problem:

Copying from [bazel-discuss thread](https://groups.google.com/d/msg/bazel-discuss/ScwEnY3Gn-w/fTkyw84YCgAJ) per request:

We have a mix of JUnit tests and sh_tests that invoke a binary in a test scenario. `bazel coverage //... --jobs 1` [0] works great for the unit tests, but does not generate a coverage.dat for the `sh_tests`.

Repo is open source: [https://github

[2018-06-05 16:51] dhalperi commented on #5331
Can't assign myself, but tagging @iirina

[2018-06-05 17:00] fweikert commented on #5323
Timeline on Saturday, June 2nd:

6:00pm CEST: Last green build starts [1]
6:38pm CEST: New image with Bazel 0.14.0 gets pushed
7:00pm CEST: First broken build starts [2]

Note that the broken build references an old toolchain from the previous release:
--crosstool_top=@bazel_toolchains//configs/ubuntu16_04_clang/1.0/bazel_0.13.0/default:toolchain

[1] https://buildkite.com/bazel/remote-execution/b

[2018-06-05 17:32] jin commented on #4106
These are now supported with https://github.com/bazelbuild/gmaven_rules and you can find regular releases here: https://github.com/bazelbuild/gmaven_rules/releases

[2018-06-05 17:32] #4106 closed

[2018-06-05 18:00] jasharpe commented on #5087
Here's another idea. I just discovered the `USE_MSVC_WRAPPER` option for Windows CC configuration. We could likely add the absolute => relative transformation of the reported paths into the wrapper script, and then generate the CROSSTOOL for remote use with `USE_MSVC_WRAPPER=1`. This is attractive to me because it doesn't require figuring out how to do a wrapper from scratch, and doesn't require a

[2018-06-05 19:31] cushon commented on #5315
I saw there's some windows-specific `JAVA_HOME` handling, but I don't totally understand how it all fits together:

* https://github.com/bazelbuild/bazel/blob/38a36ccd369e66a8a9bca8e6753d342a1cec05a1/src/test/shell/testenv.sh#L58
* https://github.com/bazelbuild/bazel/blob/b84e1a6fd960af6553a0581990cca182c6d51a05/.bazelci/presubmit.yml#L77

Since both of the failing tests as python integration test

[2018-06-05 21:26] petemounce commented on #5057
rc1 is on chocolatey.

[2018-06-05 21:38] petemounce commented on #5208
I would love to see a worked example of how to create a rules library - create a rule, iterate it, test it, ship it, integrate it elsewhere. I'm particularly interested to try to create rules for https://packer.io and https://gohugo.io/ .

[2018-06-05 22:03] sgreenstein commented on #4143
Turns out it's not a dupe: I just tried out --bes_results_url and it makes things much more convenient (not having to type out the url prefix); however, it still prints it before all the build logs and not after.

There's a big difference in usability: printing it at the beginning means you have a half second to click on the link or scroll up through all the build logs to the right place afterward

[2018-06-06 00:34] jin opened #5332 "Expand on the community-maintained Bazel packages on docs.bazel.build"
https://docs.bazel.build/versions/master/install.html

https://repology.org/metapackage/bazel/versions

Regularly updated repositories:
- Arch Linux: https://www.archlinux.org/packages/community/x86_64/bazel/
- Gentoo: https://packages.gentoo.org/packages/dev-util/bazel
- Linuxbrew: https://github.com/Linuxbrew/homebrew-core/blob/master/Formula/bazel.rb
- Scoop: https://github.com/lukesampson/scoo

[2018-06-06 00:36] jin commented on #5332
cc @spomorski

[2018-06-06 04:44] ittaiz commented on #2926
I think the current state of having a field which is ignored is really bad.
It sounds to me like we should either drop it and *clearly* document the encoding for javac is UTF-8 without being able to override or fix this issue.

[2018-06-06 06:17] ittaiz commented on #4277
We just hit this. Is this on anyone's radar or do we need to use the workaround?

[2018-06-06 08:30] aehlig commented on #5330
@lberki since you were the driving force about bundling the jdk, can you add some documentation on the current state and the rational behind it?

[2018-06-06 09:08] meteorcloudy commented on #5315
The `JAVA_HOME` set in `bazel/src/test/shell/testenv.sh` should be irrelevant to python tests.
`--test_env=JAVA_HOME` will pass `JAVA_HOME` to all tests. But looks like we are not respecting it in `test_base.py`
So, maybe adding a `env['JAVA_HOME'] = TestBase.GetEnv('JAVA_HOME')` will fix it?

[2018-06-06 11:04] treuherz opened #5335 "Rule outputs callback gets list of labels, not targets"
According to the [docs on `attr.label_list`](https://docs.bazel.build/versions/master/skylark/lib/attr.html#label_list), it produces a list of Targets. However, if you define a callback function in order to specify your outsputs list (as described in [the `rule` docs](https://docs.bazel.build/versions/master/skylark/lib/globals.html#rule.outputs), it receives a list of Labels, not a list of Target

[2018-06-06 11:25] aehlig commented on #5335
My understanding from reading the documentation is that only the implementation function gets label attributes as Targets, whereas the function declaring outputs only gets the labels. But I agree that the documentation could be improved here.

[2018-06-06 12:27] treuherz commented on #5335
Is that actually the desired behaviour? It seems like that would provide no way of defining output names based on transitive dependencies, or even files in a filegroup.

[2018-06-06 12:44] meteorcloudy commented on #5087
@jasharpe I not sure we should re-enable the wrapper script again.
The python wrapper script was introduced a long time ago because we didn't have good CROSSTOOL support. I and Marcel worked hard to remove it. Currently, the only reason it still exists is that TensorFlow needs it for their Windows GPU build (for transforming options for nvcc compiler). And my plan is to move it to TensorFlow repo

[2018-06-06 13:19] evanj commented on #3493
I believe this is a duplicate of #3115

[2018-06-06 13:55] meteorcloudy commented on #5252
@dslomov @aehlig Do we have a plan to address this issue?

[2018-06-06 15:15] lberki opened #5336 "0.14 sometimes hangs before running any actions"
Stack trace looks like this:

https://gist.github.com/mattklein123/070fbfe5c49d52b0457e9c694c148380

It appears that we unconditionally run `docker info` on every build, and if that hangs, we also hang. There is a fix at HEAD (https://github.com/bazelbuild/bazel/commit/4b80f2455e7e49a95f3a4c9102a67a57dad52207) but that doesn't help 0.14 by itself.

[2018-06-06 15:16] lberki commented on #5056
Given that 0.14 is affected by https://github.com/bazelbuild/bazel/issues/5336 and it's a pretty serious issue (and running `docker info` on every build is questionable at best anyway), I propose that we do a patch release with that change included. @lfpino , what do you think?

[2018-06-06 15:18] dslomov commented on #5056
+1 to patch release

[2018-06-06 15:39] lfpino commented on #5056
I'll create a patch release tomorrow.

[2018-06-06 16:40] jmillikin-stripe commented on #5308
Gentle ping -- this is kinda important for us (Stripe) because we're canarying remote execution in some of our larger builds, and we can't upgrade Bazel to 0.14 or later if doing so will break the remote execution flags.

[2018-06-06 17:18] buchgr commented on #5308
I am currently on vacation until the 18th of June. I have totally missed that use case. I‘d be happy to fix that then or you can submit a PR and @laurentlb can cherry pick that into 0.15 (I think?).

Both /dev/null and the empty string sound good to me.

[2018-06-06 17:28] ittaiz commented on #5308
I’d really ask reserving the empty string to mean working in a default location (like the external dependencies cache).
@jmillikin-stripe,
Have you considered composing bazelrc files? That’s what we do. We have a baserc and then a remoterc/.bazelrc which both import the baserc (has 95% if content). Then when we run the builds in CI with remote execution we explicitly specify the remoterc as the on

[2018-06-06 17:45] jmillikin-stripe commented on #5308
@buchgr OK, sent https://github.com/bazelbuild/bazel/pull/5338 to treat an empty disk cache path the same as being unset.

@ittaiz I think we might be talking about different things. There is no meaningful "default location" for the SimpleBlobStore enabled by `--disk_cache`. And composing bazelrcs doesn't help when the presence of a flag in an "earlier" bazelrc will cause another flag to become in

[2018-06-06 17:47] jmillikin-stripe commented on #5056
@lfpino could I ask for the patch release to include https://github.com/bazelbuild/bazel/pull/5338 also? Changes to the disk cache flags from 0.13->0.14 caused a regression in how remote execution flags are validated.

[2018-06-06 18:05] dslomov commented on #5057
#5336 is a release blocker, let's cherry-pick https://github.com/bazelbuild/bazel/commit/4b80f2455e7e49a95f3a4c9102a67a57dad52207

[2018-06-06 18:07] dslomov commented on #5056
Hmm does #5308 warrant a patch release?

[2018-06-06 18:47] cushon commented on #5315
@meteorcloudy thanks!

I got the python tests passing on windows with this patch:

[code]

@buchgr can you include that change in #5312?

[2018-06-06 18:51] cushon commented on #5314
@buchgr the fix I suggested regresses `//src/test/shell/bazel:bazel_bootstrap_distfile_test`. The bootstrap bazel doesn't use the embedded JDK so it defaults to using the local JDK 8, and `--add-opens` isn't compatible with JDK 8.

e.g. https://buildkite.com/bazel/bazel-bazel/builds/2579#2dfdde87-9ec0-4218-be2d-8b664d633708

One option is to make the bootstrap build use JDK 9 as the `--host_javaba

[2018-06-06 20:22] ittaiz commented on #5308
Why do you think there’s no meaningful default location for the disk cache?
Also,
My point about composition is that the disk cache options only exist in the
.bazelrc which doesn’t get evaluated when you run in CI since there you
override the bazelrc location to point to the remote.bazelrc.

I’d really ask not to merge #5308 before we get to a conclusion here (cc
@dslomov)
On Wed, 6 Jun 2018 at 20

[2018-06-06 20:29] jmillikin-stripe commented on #5308
Because if I run `bazel build //:foo`, the local disk cache is not enabled or used.

.bazelrc which doesn’t get evaluated when you run in CI

If my CI system has a `/etc/bazel.bazelrc` that contains `build --disk_cache=/some/cache/dir`, and my project is canarying remote execution with its `tools/bazel.rc` containing `build --spawn_strategy=remote`, then Bazel will fail with an error about conflic

[2018-06-06 20:43] ittaiz commented on #5308
Re default- what I meant is running “bazel build —disk_cache= //:foo” (in actuality —disk_cache is specified in the project bazelrc). The reason to use this notation is because different operating systems might have different options for where to store it and Bazel people prefer not to allow ~ in the options.

Re unset- I now understand the difference in perspectives. I was thinking about only Dev

[2018-06-06 20:49] jmillikin-stripe commented on #5308
In your model, how would the behavior of `bazel build --unset_disk_cache_flag //:foo` and `bazel build --disk_cache= //:foo` be different?

[2018-06-06 20:58] ittaiz commented on #5308
Given “—disk_cache=“ bazel will turn on the disk cache and write it to
~/.bazel/cache (or something like this). I think that in future releases
running “bazel build //:foo” will implicitly have a disk cache which uses
the above location.
Given “—unset_disk_cache” bazel will not use the disk cache at all.
On Wed, 6 Jun 2018 at 23:49 jmillikin-stripe <notifications@github.com>
wrote:

[2018-06-07 07:42] dslomov commented on #5056
Since #5308 is not resolved yet, I suggets we create a 0.14.1 with just a fix for #5336

[2018-06-07 07:50] ulfjack commented on #5056
@dslomov, it's not resolved yet because you didn't import the patch yet. I just sent you the import.

[2018-06-07 09:52] dslomov commented on #5056
@ulfjack I know but there is also a discussion on #5308 on whether that is the right fix.

[2018-06-07 10:01] #4582 closed

[2018-06-07 10:02] dslomov opened #5340 "Release - patch release 0.14.1"
A patch release of 0.14 (#5056) with a fix for #5336

[2018-06-07 10:06] ulfjack commented on #5308
I don't think the empty string should turn on the disk cache, that seems rather confusing. Note that we do always use the action cache by default, which is also on disk.

The difference between the disk cache and the action cache is that the disk cache contains _full copies_ of all the files in your build, increasing on-disk footprint by at least a factor of 2, or more if you want it to be actuall

[2018-06-07 10:07] ulfjack commented on #5056
I replied on the bug - I think we should merge the currently proposed fix, and cherrypick it.

[2018-06-07 10:10] dslomov commented on #5340
scripts/release/release.sh create 0.14.1 10a4de9  4b80f2455e7e49a95f3a4c9102a67a57dad52207

[2018-06-07 10:37] dslomov commented on #5308
In the interest of time, here is the solution:
- in 0.14.1 and 0.15 we will accept #5338. Empty value for `--disk_cache` disables disk cache.
- going forward (I guess 0.16 and beyond) we will introduce a boolean `--enable_disk_cache` flag, off by default that will by default use some default location for disk cache. That location will be overridable with `--disk_cache` flag. `--enable_disk_cache`

[2018-06-07 10:39] dslomov commented on #5340
I will cherry-pick a fix for #5308 into this patch release.

[2018-06-07 11:18] #5308 closed

[2018-06-07 12:04] meteorcloudy commented on #5340
@lfpino

[2018-06-07 12:20] dslomov commented on #5340
rc2: `scripts/release/release.sh create 0.14.1 10a4de9  4b80f2455e7e49a95f3a4c9102a67a57dad52207 6b1635279e8b33dc1ac505ac81825e38f8797a14`

[2018-06-07 12:43] dslomov commented on #5340
rc2 published, downstream tests started: https://buildkite.com/bazel/bazel-with-downstream-projects-bazel/builds/293

[2018-06-07 12:46] dslomov commented on #5057
Two more cherrypicks, the same that went into 0.14.1 (#5340):
 * 4b80f2455e7e49a95f3a4c9102a67a57dad52207
 * 6b1635279e8b33dc1ac505ac81825e38f8797a14

[2018-06-07 14:12] dslomov commented on #5252
@aehlig and I looked at this for some time and here is a potential general solution for replacing source dependencies with pre-built ones. Let us know what you think.

First of all, we will need a repository rule (maybe `local_cc_dependency` or somesuch) that is able to reference a locally installed library. Example usage:

[code]

This rule will populate the repository directory with symlinks to

[2018-06-07 14:54] dslomov commented on #5252
@irengrig fyi

[2018-06-07 16:01] benjaminp opened #5342 "pattern_skipped is useful"
ef77f872d4bc1325c2405d6f260c3e98f22d895e stopped sending the `pattern_skipped` BES event. Let me explain how this event is useful before `pattern_skipped` goes the way of the dodo: We have a tool that developers can use to rerun failing targets from a code review locally. This tool parses BES from the local rerun to find out if targets are still failing. Since the developer might have rebased sinc

[2018-06-07 16:06] jmillikin-stripe commented on #5308
Ulf, Dmitry, thank you both for the quick response and the patch cherrypick!

[2018-06-07 17:12] dslomov commented on #5340
Some stuff in downstream projects fails, but they also fail in trunk pipelines in the same way.
WDYT @aehlig (current Bazel Sheriff)

[2018-06-07 19:01] jayconrod opened #5345 "Support for execution-only "bootstrap" toolchains"
### Description of the problem / feature request:

I'd like to be able to define toolchains that only target the execution platform. This would be useful for bootstrap toolchains that build tools that run on the execution platform and are used in other toolchains.

### Feature requests: what underlying problem are you trying to solve with this feature?

In rules_go, we're building a pluggable stat

[2018-06-07 19:02] jayconrod commented on #5345
cc @katre

[2018-06-07 19:16] ittaiz commented on #5308
Thanks @dslomov!
I think this resolution is indeed in everyone’s best interest.
@ulfjack the action cache is almost irrelevant when working without remote execution and on a developer machine (between branches for example). You can also see it from the issues people opened in this repo to have this support.

[2018-06-07 19:28] mattklein123 commented on #5336
Hi,

I'm happy to help debug this further. Can you let me know what additional info I can provide? I suspect it's something like in certain cases the docker process is waiting to read from stdin or something like that?

[2018-06-07 19:28] mattklein123 commented on #5336
[code]

For reference.

[2018-06-07 20:02] vihanb opened #5346 "Bazel no perms to execute wrapped_ar build error"
### Description of the problem / feature request:
When building bazel from the [0.14.0](https://github.com/bazelbuild/bazel/releases/tag/0.14.0) release `bazel-0.14.0-dist.zip`, I run `bash ./configure.sh`  and installation goes well until this happens:

[code]

After the build it looks like `/tmp/bazel_aSZOS8mM/out/execroot/io_bazel/external/local_config_cc/wrapped_ar` doesn't exist but that migh

[2018-06-07 20:59] gregestren commented on #3639
I'm starting to look more at cleaning up Bazel's licensing logic (of which there's a lot of opportunity, but it's a project).

Is this issue still currently biting anyone?

[2018-06-07 21:00] jmillikin-stripe commented on #5340
I've got another cherrypick request: 4ec0a7524913ab2c4641368e3f8c09b347351a08 to fix a regression in the Skylark implementation of `new_git_repository` (https://github.com/bazelbuild/bazel/pull/5146).

[2018-06-07 21:09] gregestren commented on #2154
`--define` is still missing from Bazel's [user manual](https://docs.bazel.build/versions/master/user-manual.html) for reasons I don't personally understand. It may be related to the upcoming effort to deprecate `--define` for proper custom-defined flags.

Anyway, more thorough walkthrough documentation for `config_setting` / `select` is coming down the pipeline - the review is already [underway](h

[2018-06-07 21:41] nicolov opened #5347 "--test_strategy=standalone has no effect"
### Description of the problem / feature request:

`--test_strategy=standalone` has no effect: tests are still run in a sandbox. https://github.com/bazelbuild/bazel/issues/5193 and https://github.com/bazelbuild/bazel/issues/1737 suggest using `--strategy=TestRunner=standalone`, which indeed disables the sandbox. [The FAQ](https://github.com/bazelbuild/bazel/wiki/FAQ) is incorrect.

### Bugs: what'

[2018-06-07 21:50] rothn opened #5348 "SWIG failure with no reason"
SWIG fails without providing a reason:

`INFO: Analysed target //tensorflow/tools/pip_package:build_pip_package (0 packages loaded).
INFO: Found 1 target...
ERROR: /home_bunch/nroth/graphsim/tensorflow/tensorflow/contrib/lite/toco/python/BUILD:22:1: SWIGing tensorflow/contrib/lite/toco/python/toco.i failed (Exit 1): swig failed: error executing command
  (cd /tmp/nroth_bazel/_bazel_nroth/832e64a45

[2018-06-07 21:50] rothn commented on #5348
The SWIG tool itself failes without printing any output. I tried these commands manually -- other than the return code, there is *nothing*. To me, this suggests a Bazel bug.

[2018-06-07 22:34] vihanb commented on #5090
I built 755278df00f65818dc092fe4f8a31bdec1aaaab5 from source, I still get the same error even when specifying gcc as CXX and CC:

[code]

[2018-06-08 04:02] samhodge commented on #5006
Just for your information I got it to work through persistance.

[2018-06-08 04:03] #5006 closed

[2018-06-08 04:58] pcj opened #5349 "NPE in BlazeOptionHandler"
Experimenting with bazel in docker, noticed this when the WORKSPACE file is in the root of a filesystem (not a recommended setup!):

https://github.com/bazelbuild/bazel/blob/aa98bc29dae14119797febd447302842f4ac68af/src/main/java/com/google/devtools/build/lib/runtime/BlazeOptionHandler.java#L148

[code]

Feel free to close this is not something that needs to be fixed, but I thought I'd report it an

[2018-06-08 05:09] rongjiecomputer opened #5351 "Remove -DCOMPILER_MSVC from CROSSTOOL"
### Description of the problem / feature request:

Remove `COMPILER_MSVC` macro from `CROSSTOOL`.

### Feature requests: what underlying problem are you trying to solve with this feature?

Build system should define as little flags as possible so that it does not conflict with existing projects.

### Potential Risk

As far as I know, Google projects are the only projects that use this macro. Most

[2018-06-08 06:05] dslomov commented on #5340
4ec0a75  does not fix a regression - it is a functionality change, or am I missing something?

[2018-06-08 07:05] ittaiz commented on #3639
Indeed
On Thu, 7 Jun 2018 at 23:59 Greg <notifications@github.com> wrote:

[2018-06-08 07:17] ulfjack commented on #5308
@ittaiz - I understand that - I have it enabled myself -, but I'm not sure that's the common case across all Bazel users, and I am concerned about the increase in disk usage in the case where users just checkout a single source tree and build it once or twice. I think the disk usage increase is amortized if you have multiple checkouts for the same code base.

[2018-06-08 07:19] aehlig commented on #5346
The problem seems OSX specific, as `wrappend_ar` is only used there.

[2018-06-08 07:33] aehlig commented on #5348
While it likely is, it could also be an undeclared dependency (which bazel's sandboxing would find).

[2018-06-08 07:36] aehlig commented on #5348
@meteorcloudy As far as I know, you're most knowledgeable with tensorflow building. Can you please help finding out what the underlying problem is? Already a smaller reproduction case would be helpful.

[2018-06-08 08:43] #4398 closed

[2018-06-08 09:27] meteorcloudy commented on #5351
@rongjiecomputer Thanks for this suggestion, we'll remove `COMPILER_MSVC` once no one depends on it.

[2018-06-08 09:31] meteorcloudy commented on #5348
@rothn Can you provide more information so that I can reproduce it?

- TensorFlow version
- Bazel version
- Platform
- The bazel command you run

Did you try to run the swig command manually? Did you get any output?

[2018-06-08 09:35] meteorcloudy commented on #5346
@aehlig I don't have a mac machine to reproduce this bug, can you assign this issue to someone more familiar with the mac build?

[2018-06-08 10:31] ash2k opened #5352 "Inconsistent documentation about dict type"
### Description of the problem / feature request:
https://docs.bazel.build/versions/master/skylark/lib/dict.html#modules.dict says:

But https://docs.bazel.build/versions/master/skylark/lib/globals.html#dict says:

[2018-06-08 12:46] iirina commented on #4398
@robfig The fix is now in. It would be great if you could cut a RC that includes 4001dddc38b07fe0ee86f6a9e95ff4a92276bb2d and see if the issue still persists. I tested it with `bazel coverage src/test/java/com/google/devtools/build/lib:java-rules-tests` and didn't get breakages anymore.

[2018-06-08 13:10] dslomov commented on #5340
Patch release is out: https://github.com/bazelbuild/bazel/releases/tag/0.14.1

[2018-06-08 13:11] dslomov commented on #5340
Ping @petemounce for Chocolatey
Ping @ilovezfs for Homebrew

[2018-06-08 13:16] laurentlb commented on #5352
Thanks for the report, it's fixed. Iteration order is specified. For code maintenance/readability, you probably shouldn't rely on it though.

[2018-06-08 13:16] #5352 closed

[2018-06-08 14:05] ilovezfs commented on #5340
I've shipped 0.14.1 in Homebrew: https://github.com/Homebrew/homebrew-core/pull/28804

[2018-06-08 14:49] mhlopko commented on #5291
Hi Nick,
I'm sorry I didn't explicitly mention that the host linkopts was only a workaround. The root of the problem is that platforms are evaluated with host configuration, and we need them to be evaluated in target configuration. @katre is working on it, but it's not trivial. Pinging @katre to comment on timeline.

[2018-06-08 15:43] japer21 commented on #3948
@yilei0620 Which line did you uncomment? Do you mind telling us? I got also some problems when running the command, here is what I get:

[code]

[2018-06-08 16:08] laurentlb commented on #5057
rc2 with the two cherrypicks: https://releases.bazel.build/0.15.0/rc2/index.html

[2018-06-08 16:40] jmillikin-stripe commented on #5340
Long ago (June 2017) I noticed that `new_git_repository` was broken on MacOS for some repos (https://github.com/bazelbuild/bazel/issues/3127), and got a fix merged (https://github.com/bazelbuild/bazel/pull/3142).

It was broken again (regressed) by some refactoring in February 2018 (https://github.com/bazelbuild/bazel/commit/a22a287f53598d2a2a7eb59b72fe4e98a02435ce), but  I didn't notice because t

[2018-06-08 18:10] jpieper-tri opened #5353 "Bazel remote cache intermittmently fails when pointed at AWS S3"
### Description of the problem / feature request:

We have bazel configured to use remote caching, with the --experimental_remote_spawn_cache pointed at an Amazon AWS S3 bucket.  Since upgrading from a patched version near 0.13.0 to an unmodified 0.14.0 we have started seeing spurious failures to build.

[code]

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a min

[2018-06-08 18:52] jin opened #5354 "Android Rules Starlark Migration"
Tracking bug for the Starlark migration of `android_*` rules to https://github.com/bazelbuild/rules_android

cc @bazelbuild/android

# Timeline

### June 4, 2018

- [Initial export](https://github.com/bazelbuild/rules_android/commit/57b631489a8d453f9c54d058a1d4cf0163d5d3dd) of rules_android macros to https://github.com/bazelbuild/rules_android

# Related issues:

- Move android tools out of Bazel

[2018-06-08 19:09] #2154 closed

[2018-06-08 20:11] #4654 closed

[2018-06-08 20:32] dslomov commented on #5340
I see. I don't think this meets the bar for patch release for 0.14. Let's cherry pick it into 0.15 (#5057).
I can't help noticing that https://github.com/bazelbuild/bazel/pull/3142 has no tests, hence the bug.

[2018-06-08 20:33] dslomov commented on #5057
How about https://github.com/bazelbuild/bazel/commit/4ec0a7524913ab2c4641368e3f8c09b347351a08? It fixes a regression introduced in 0.14.

[2018-06-08 20:43] jmillikin-stripe commented on #5340
Yes, it's definitely my fault for not having tests there. I just hadn't thought there would be so much development velocity in that part of the code.

0.15 should be fine in terms of timeline, it looks like it's already in the RC process. Thanks for the cherrypick.

[2018-06-08 20:51] benjaminp commented on #5342
Ah, yes, this is my oversight; I hadn't seen the `aborted` field before. Thank you for explaining. I think I never learned about `aborted` because before b11d760369b3ad14c32f25dbd7a56f6b5c826733, the skyframe target pattern expander didn't report structured expansion failure events to BEP at all.

[2018-06-08 21:32] kevin1e100 commented on #4549
Thanks for the additional details.  As mentioned in my previous comment we are thinking about how to fully support Kotlin in ijar, but the technical constraints are such that there are no easy solutions here.  I'm sorry I don't have a better answer at this point.  (As you point out, re-implementing ijar in Java appears to be one possible approach.)

I'll point out thought that ijar is meant to be

[2018-06-08 22:05] hsyed commented on #4549
Having to `kt_jvm_import` was a minor inconvenience. We are gradually moving towards structuring our JVM code like go packages and we are porting these to Kotlin by the day. So not having ijarification gets incrementally more painful by the day -- some of our devs have moved from MacBooks to workstation hardware. So it's mostly about the dev UX now.

I'm going to look into adding incremental compi

[2018-06-08 22:21] gregestren commented on #3639
The best near-term solution I can think of is to move this checking to `--check_licenses`, which is flag-gated logic that does a deeper form of license checking. The actual semantics of that logic is outdated and precisely what I want to redesign. But it could at least provide a home for the third_party check that's properly flag gated and easy to toggle (and for what it's worth `--check_licenses`

[2018-06-08 23:41] ash2k opened #5355 "Add support for allow_single_file attribute to label_list and label_keyed_string_dict"
### Description of the problem / feature request:

[`attr.label()`](https://docs.bazel.build/versions/master/skylark/lib/attr.html#label) supports `allow_single_file` attribute which is very convenient. For some reason [`attr.label_keyed_string_dict()`](https://docs.bazel.build/versions/master/skylark/lib/attr.html#label_keyed_string_dict) and [`attr.label_list()`](https://docs.bazel.build/version

[2018-06-08 23:46] ash2k opened #5356 "Add attr.string_keyed_label_dict?"
### Description of the problem / feature request:

I have a rule that does templating. I use `label_keyed_string_dict` and it is ok, but what if I want several strings to be replaced with the same label's output? `string_keyed_label_dict` would be useful (+ https://github.com/bazelbuild/bazel/issues/5355).

[2018-06-09 11:10] asv commented on #1787
I have the same problem after define $TMP_TESTDIR on CI server...

[code]

[2018-06-09 15:06] excitoon commented on #5356
Basically, `label_list` is enough to make everything. One can pass this dict as a list of labels plus a list of string and zip it inside the rule. This approach have an issue though, because `label_list` cannot contain the same labels, but it can be worked around by one more list of indices to smaller `label_list`.

[2018-06-09 15:27] excitoon opened #5357 "Is `win_def_file` input or output?"
### Description of the problem / feature request:

Trying to move from `native.genrule()` to my custom rule with actions, I encountered an issue which does not allow `win_def_file` to be generated one when file name is equals to target name plus `.def`. It somehow conflicts with `cc_binary`, `DefParser` to be specific.

**Funny thing the same is working well with `native.genrule()`.**

I guess thi

[2018-06-09 15:47] excitoon commented on #5357
Most probably the second part is because of different locations of that file (binfiles and genfiles).

[2018-06-09 18:24] karltk opened #5358 "Broken link to mobile application tutorial in Java build tutorial"
### Description of the problem / feature request:

On the page https://docs.bazel.build/versions/master/tutorial/java.html, the link at the bottom of the page titled `mobile application tutorial` points to the URL https://docs.bazel.build/versions/master/tutorial/app.html but this page does not exist, so a 404 is displayed instead.

[2018-06-09 19:21] kgreenek opened #5359 "No way to add c-only flags in toolchain"
### Description of the problem / feature request:

In my CROSSTOOL file, I need to pass the flag "-std=c11" to gcc. The available options that look relevant are `compiler_flag` and `cxx_flag`. There is no `c_flag`.

If I use compiler_flag (like this: `compiler_flag="-std=c11"`), then that flags gets passed to g++ too, and it spews warnings when building c++ projects:

[code]

### Feature requests:

[2018-06-10 12:09] LinBoLen commented on #4603
the `bazel-out` folder really annoy me

[2018-06-10 15:27] robfig commented on #4398
@iirina The concurrency-related error has indeed gone away! That's a big step and will the vast majority of our issues. Thank you very much!

I do still see the other error from the original report. It seems to be triggered by instrumentation of an error-prone check.

Here's the scenario:

[code]

and

[code]

Here's the full error:
[code]

It seems like coverage instrumentation ignore java_plugin

[2018-06-10 17:10] janakdr commented on #3785
TODO is [here](https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/skyframe/SkyframeBuildView.java#L466) . We have big use cases where the workspace status command actually changes on every build, so we'll need to figure something out here, probably via a further hack, since I don't know what the timeline is for a principled solution to this issue.

[2018-06-11 06:10] laszlocsomor commented on #5260
@oferb : if you mean https://github.com/bazelbuild/bazel/commit/10141a3a351dd49376fc3e891634c5d91328a462, no it's not, because 0.14.0's baseline (5c3f5c9be7fa40d4fb3c35756891fab8483ca406) was merged on 2018/05/11 and the fix was merged on 2018/05/25, and was not cherry-picked into the release.

[2018-06-11 06:22] iirina commented on #4398
Yay!

Can you open a new issue for this bug and cc me on it? In the meantime could you also try running coverage with `--experimental_java_coverage` and tell me if you get the same error? Thanks!

[2018-06-11 07:04] abergmeier commented on #3517
Sooo soonish, we will be a year later and still no explanation?

[2018-06-11 07:53] wubo0067 opened #5361 "Bazel include path make mistakes"
directory:
[root@10-10-81-214 stage3]# tree -R
.
├── file.txt
├── lib
│   ├── BUILD
│   ├── hello-time.cc
│   └── include
│       └── hello-time.h
├── main
│   ├── BUILD
│   ├── hello-greet.cc
│   ├── hello-greet.h
│   └── hello-world.cc
└── WORKSPACE

lib/BUILD:
cc_library(
    name = "hello-time",
    srcs = ["hello-time.cc"],
    hdrs = ["include/hello-time.h"],
    visibility = ["//visibility:

[2018-06-11 08:19] katre commented on #5291
Nick and I discussed this in person recently, here's the summary:

I've sent a design out for review on the topic of Platforms and Configurations. I'm not linking it here because there were many excellent points raised in the initial review, and I will be revising it heavily, but one of the things I expect to get out of that effort are richer dependency transitions for toolchains. Once that is in

[2018-06-11 08:36] #2475 closed

[2018-06-11 09:17] laszlocsomor commented on #1787
@asv : Is your code on GitHub and if so, where? What Bazel version and platform are you using on your CI? Can you repro the issue locally?

[2018-06-11 11:26] ash2k opened #5362 "Documentation does not list all attribute types"
### Description of the problem / feature request:

https://docs.bazel.build/versions/master/build-ref.html#rules says:

But there are quite a few more types that are available: https://docs.bazel.build/versions/master/skylark/lib/attr.html#modules.attr

[2018-06-11 11:30] laszlocsomor commented on #5353
@buchgr to triage please

[2018-06-11 11:41] laszlocsomor commented on #5362
Thanks! If you feel like fixing it, here's the source for the doc file: https://github.com/bazelbuild/bazel/blob/master/site/docs/build-ref.html

[2018-06-11 11:42] laszlocsomor commented on #5362
(Otherwise someone else will fix it later.)

[2018-06-11 11:55] laszlocsomor commented on #5361
You have two options to fix this problem:
- use the workspace-relative path of the header file in the `#include` statement in `main/hello-world.cc`:
[code]
- use the `cc_binary.copts` attribute to add an extra header directory to `//main:hello-world`:
[code]

[2018-06-11 11:55] #5361 closed

[2018-06-11 11:56] laszlocsomor commented on #5359
/cc @mhlopko to triage please

[2018-06-11 12:22] laszlocsomor opened #5365 "Bazel CI: TF broken between from build #683 to #684"
### Description of the problem / feature request:

Bazel CI, TensorFlow project passed at https://github.com/tensorflow/tensorflow/commit/a3ef4518d949df3675a85e444dd06769e186a6a4 but failed at https://github.com/tensorflow/tensorflow/commit/bef709a26fd776993e09d6924720eb6f664d8958.

Unclear if Bazel issue or TF issue.

### What operating system are you running Bazel on?

Bazel CI, Ubuntu 14.04

##

[2018-06-11 12:28] meteorcloudy commented on #5357
@excitoon Thanks for raising this issue.
The `win_def_file` is for users to specify a DEF file that will be used during linking time. So it is an input (which's only effective on Windows)

On Windows, if users build dynamic library with `--features=windows_export_all_symbols`, Bazel will use DefParser to generate a DEF file which exports all symbols from the provided object files. And it names the

[2018-06-11 12:43] laszlocsomor opened #5366 "NPE with `--remote_http_cache`"
### Description of the problem / feature request:

In any workspace, run:

[code]

You'll get:
[code]

### What operating system are you running Bazel on?

Debian Rodete

### What's the output of `bazel info release`?

[code]

[2018-06-11 12:52] laurentlb commented on #5355
What would that mean in a `label_list`? That every item in the list is a single file? At the end, you still end up with a collection of files. In that case, why would you want to allow `["a.cc", "b.cc", "c.cc"]`, but not a filegroup that returns the same information?

[2018-06-11 13:15] laszlocsomor commented on #5328
Example flake in "Bazel Remote Execution" on CI ([Bazel with downstream projects #298](https://buildkite.com/bazel/bazel-with-downstream-projects-bazel/builds/298#95530ee6-166e-4819-9306-3539f8718808); see [log file](https://storage.googleapis.com/bazel-buildkite-artifacts/95530ee6-166e-4819-9306-3539f8718808/src/test/java/com/google/devtools/build/lib/remote-tests/attempt_1.log)):

[code]

[2018-06-11 14:16] alexeagle commented on #4257
Wow, I'm surprised to learn this. We have an elaborate `build_test` rule internally that creates a trivial test which depends on building a target, just to work around this. I suppose it was fixed by accident in some Bazel change - @laszlocsomor any idea what changed?

[2018-06-11 14:18] meteorcloudy opened #5367 "Windows: new_http_archive failed when archive file contains file symlink"
###  **Reproduce**

WORKSPACE:
[code]
config/libcoap.BUILD:
[code]
[code]

### **Root cause**

In archive `IoTivity-1.2.1d.zip`, `libcoap-IoTivity-1.2.1d/README` is a symlink pointing to `libcoap-IoTivity-1.2.1d/README.md`. The bug happens in the following steps:

1. Bazel first tries to extract `libcoap-IoTivity-1.2.1d/README`, which is a symlink. But the target doesn't exist yet, so it created a

[2018-06-11 14:18] laszlocsomor commented on #4257
@alexeagle : sorry, to learn what? I don't know if anything changed in Bazel about how it handles "...".

[2018-06-11 14:42] alexeagle commented on #4257
I think target expansion is not what changed - it's that you can use `bazel test ` with some pattern that includes binary targets, and these will be re-built. Meaning the workarounds in this issue are no longer needed, and `bazel test //...` is exhaustive to build the buildable things and test the testable things in your project.

Confirmed this is the case under Blaze as well.

[2018-06-11 14:42] #4257 closed

[2018-06-11 14:48] iirina commented on #5246
Yes, a solution that works with remote execution would be ideal. I don't have a plan for symlinks ATM, it's probably the next on my list after this issue is fixed.

[2018-06-11 15:40] nlopezgi commented on #5291
The timeline should be fine as long as we can guarantee the sanitizer builds that we have working now will keep working. I'm particularly concerned about changes like the one that caused https://github.com/bazelbuild/bazel/issues/5133 that made us switch to use platform flags (i.e., using bazel with no gcc now requires you add the platform flags) without full support for the platforms path which i

[2018-06-11 17:36] ittaiz commented on #5361
Isn’t this more suitable for stack overflow?
On Mon, 11 Jun 2018 at 10:53 calmwu <notifications@github.com> wrote:

[2018-06-11 17:41] aaronlevin opened #5368 "Add ability to access package root in genrule even when there is only one outs file."
### Description of the problem / feature request:

Request: a deterministic way to get the package root in a `genrule`. I cannot use `$(@D)` for this because its location changes depending on the number of files in the output. The following is stated about `$(@D)` (emphasis mine) in documentation [here](https://docs.bazel.build/versions/master/be/make-variables.html):

This subtle difference when

[2018-06-11 19:50] asv commented on #1787
@laszlocsomor

Platform: Ubuntu 17.10 - host system, Debian 9.4 - container system.
Bazel:
[code]

Tests are run in container on CI.

Yes, I can reproduce this issue locally: https://github.com/asv/bazel-issue

Steps to reproduce:
[code]
NOTICE: if `.bzl-cache` not in a workspace directory bug not reproduce...

[2018-06-11 20:19] PiotrSikora opened #5369 "Provide better sandboxfs errors (e.g. when FUSE isn't available)."
### Description of the problem / feature request:

`sandboxfs` doesn't provide helpful errors (e.g. when FUSE isn't available) and returns generic `sandboxfs failed to start` error.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[code]

### What operating system are you running Bazel on?

[code]

### What's the output of `bazel inf

[2018-06-11 22:01] adelez commented on #3216
Ping? Any update on this? I tried
--action_env=TSAN_OPTIONS=suppressions=tools/tsan_suppressions.txt:halt_on_error=1:second_deadlock_stack=1"

But it set the path to /b/s/w/ir/run/bazel-out/k8-fastbuild/bin/test/cpp/qps/qps_openloop_test.runfiles/com_github_grpc_grpc/test/cpp/qps/tools/tsan_suppressions.txt' which is a bad path.

[2018-06-11 23:17] jin commented on #4663
Ping. Is it possible to make `no-remote` work with `--experimental_remote_spawn_strategy`?

[2018-06-11 23:33] jin commented on #4742
@steeve WIP: https://github.com/bazelbuild/bazel/pull/5371

[2018-06-12 00:44] rongjiecomputer commented on #5198
@mhlopko ping?

[2018-06-12 00:52] jbduncan commented on #5255
@jin AFAICT, bazel-leaf doesn't seem to have any installation instructions yet. Am I missing something? :)

[2018-06-12 00:57] jin commented on #5255
@jbduncan It looks like there are setup instructions here: https://github.com/menny/bazel-leaf#module-setup

[2018-06-12 01:28] jin commented on #5255
@jbduncan Ah, I see. I am not familiar with how you can specify bazelleaf as a local Gradle plugin. Perhaps there is a way to do that?

[2018-06-12 02:12] pylaligand opened #5372 "java.lang.RuntimeException: Unrecoverable error while evaluating node 'ActionTemplateExpansionKey'"
### Description of the problem / feature request:

java.lang.RuntimeException: Unrecoverable error while evaluating node 'ActionTemplateExpansionKey' with custom template using tree artifacts.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

The bugs linked below have some repro steps. Here's the change that introduced the crash: htt

[2018-06-12 02:55] ash2k commented on #5355
I don't have a use case for this flag for `label_list`. I just mentioned it for completeness/consistency reasons. Maybe someone in their custom rule treats each item in that list differently somehow? e.g. "Each item goes into a file. Files are numbered with integers. 1 file per label in the list". I don't know :)

So, if it does not make sense, just ignore this case.

[2018-06-12 03:13] lee-bin opened #5373 "Pseudoterminals don't work in the Linux sandbox"
### Description of the problem / feature request:

When I run a python script, which uses the 'sh' module,  from bazel genrule, it failed with this:
[code]
### Feature requests: what underlying problem are you trying to solve with this feature?

I want to integrate a thirdparty project to my own. The third party project is built with a python script, so I would like to build the project with bazel

[2018-06-12 06:08] laszlocsomor commented on #5361
Yes it is.

[2018-06-12 08:17] meteorcloudy commented on #5367
FYI @laszlocsomor @dslomov

[2018-06-12 08:28] laszlocsomor commented on #5367
Thanks for the analysis!

More info about symlink behavior on Windows, which may be relevant:
- in MSYS, you cannot create dangling symlinks
- in MSYS, creating a symlink makes a copy of the symlink target -- in case of directories, this means making a recursive copy
- in MSYS, `unzip` defers extracting the symlink from the archive if the symlink would be dangling upon extraction, and will only ex

[2018-06-12 08:36] meteorcloudy commented on #5367
Thanks for the info!

Yes, I'm crafting a change that defers the symlink creation, which should fix this problem!

[2018-06-12 08:58] #5358 closed

[2018-06-12 09:00] #5362 closed, assigned to laszlocsomor

[2018-06-12 09:04] laszlocsomor commented on #5368
I agree with @benjaminp -- this should do the trick:

[code]

[2018-06-12 09:18] laszlocsomor commented on #5372
Nor sure if this is a C++ or a Skylark bug -- adding both @laurentlb and @mhlopko .

[2018-06-12 09:21] laszlocsomor commented on #5373
Are you sure this is a bug in Bazel? Looks like Python is giving an error message:

[code]

How have you tried to resolve this issue?

[2018-06-12 09:25] hlopko opened #5375 "Migrate CROSSTOOL to use action_configs/features"
This is a tracking issue for the work related to removal of the legacy crosstool fields:

* compiler_flag
* optional_compiler_flag
* cxx_flag
* optional_cxx_flag
* unfiltered_cxx_flag
* optional_unfiltered_cxx_flag
* linker_flag
* optional_linker_flag
* dynamic_library_linker_flag
* optional_dynamic_library_linker_flag
* test_only_linker_flag
* objcopy_embed_flag
* ld_embed_flag
* ar_flag
* ar_thi

[2018-06-12 09:26] #5375 closed, assigned to hlopko

[2018-06-12 09:28] laurentlb commented on #5372
Looks like C++ to me.

[2018-06-12 09:29] mhlopko commented on #5198
Hi @rongjiecomputer

Let me get one my assumptions out of the way. I think the crosstool is a good abstraction, although not super user-friendly (yet :) In my ideal world, users don't have to think about the compiler flags (or even the compiler used, or even the platform used, to some extent). Specifying the flags using `--copt` or `--linkopt` should be fine for tweaking stuff during development,

[2018-06-12 09:29] laurentlb commented on #5355
For `label_keyed_string_dict`, this looks like a reasonable feature request.

[2018-06-12 09:30] ulfjack commented on #5328
1) singleBlobUploadShouldWork(com.google.devtools.build.lib.remote.ByteStreamUploaderTest)
java.lang.Exception: test timed out after 10000 milliseconds
	at java.lang.Thread.sleep(Native Method)
	at com.google.devtools.build.lib.remote.ByteStreamUploaderTest.blockUntilInternalStateConsistent(ByteStreamUploaderTest.java:697)
	at com.google.devtools.build.lib.remote.ByteStreamUploaderTest.singleBlobU

[2018-06-12 09:58] fweikert opened #5376 "//src/test/java/com/google/devtools/build/lib:sandbox-tests was broken by the 0.14.0 release"
/var/lib/buildkite-agent/.cache/bazel/_bazel_buildkite-agent/a39cf1aa22a493bc118ce43a149b1f8d/execroot/io_bazel/bazel-out/k8-fastbuild/bin/src/test/java/com/google/devtools/build/lib/sandbox-tests.runfiles/io_bazel/src/test/java/com/google/devtools/build/lib/sandbox-tests: line 353: /usr/lib/jvm/java-8-openjdk-amd64/bin/java: No such file or directory

(https://storage.googleapis.com/bazel-buildki

[2018-06-12 10:01] wubo0067 opened #5377 "how to use bazel to compile proto file"
**protobul.bzl**

def cpp_proto(name, src):
  native.genrule(
      name = "%s-gen" % name,
      outs = ["%s.pb.cc" % name, "%s.pb.h" % name],
      cmd = "./$(location **//bazel:protoc**) --cpp_out=$(GENDIR) $<",
      srcs = [src],
      tools = [**"//bazel:protoc"**],
  )

  native.cc_library(
      name = name,
      srcs = ["%s.pb.cc" % name],
      hdrs = ["%s.pb.h" % name],
  )

**BUILD**

[2018-06-12 10:06] #5323 closed

[2018-06-12 10:06] fweikert commented on #5323
https://github.com/bazelbuild/bazel/issues/5376 for root cause analysis

[2018-06-12 10:44] laszlocsomor commented on #5365
Tried again with:
- Bazel 0.14.1 on Debian Rodete
- TensorFlow at https://github.com/tensorflow/tensorflow/commit/bef709a26fd776993e09d6924720eb6f664d8958
- running `bazel build -k --announce_rc --sandbox_tmpfs_path=/tmp --experimental_multi_threaded_digest //tensorflow/examples/android:tensorflow_demo`

Failure message:
[code]

[2018-06-12 10:48] mhlopko commented on #5359
Hi Kevin, this is possible using `action_config`s and `feature`s, the new way of writing crosstools. We are in the process of writing documentation for it (likely to be submitted in O(weeks)), and once that's there we'll migrate crosstools to them (https://github.com/bazelbuild/bazel/issues/5187 for tracking the effort). Marking this issue as P2, but the documentation writing and migration itself

[2018-06-12 11:11] laszlocsomor commented on #5365
Culprit seems to be https://github.com/tensorflow/tensorflow/commit/c8090fa6acac1f9724671407964662137911921f

[2018-06-12 11:18] laszlocsomor commented on #5365
/cc @shashishekhar

[2018-06-12 11:56] lee-bin commented on #5373
However, if I run test.py directly from bash, it runs successfully. Only if I run it in bazel genrule, if fails.

[2018-06-12 12:00] laszlocsomor commented on #5373
It's hard to say whether Bazel legitimately fails to find the module or not without digging deeper.

What is the culprit of the error -- is it importing the `sh` module, or a call in the main module? Try removing code and keep rebuilding until you find the minimal code that triggers the build failure.

[2018-06-12 12:02] laszlocsomor commented on #5300
Both the fix and the regression test are merged, closing.

[2018-06-12 12:02] #5300 closed

[2018-06-12 13:19] laszlocsomor opened #5378 "Bazel binary got much bigger"
### Description of the problem / feature request:

With commit e28c0ab84c7967e10cc3cd5333560c54653084bd, the Bazel binary's size increased from ~110M to ~170M, and the number of files in the embedded_tools increased from 509 to 4780.

The bigger size means higher download time, but also slower Bazel startup.

The higher number of embedded tools means slower Bazel startup, especially on Windows whe

[2018-06-12 13:33] helenalt commented on #4821
@lberki what would be the next step in addressing this issue?

[2018-06-12 13:34] helenalt commented on #4544
@iirina @lberki do you have an update on this issue and what are the appropriate next steps?

[2018-06-12 13:35] ola-rozenfeld commented on #4663
As long as you're okay with no sandboxing, it should work with the flags
that Jakob listed.

On Mon, Jun 11, 2018 at 7:17 PM Jingwen <notifications@github.com> wrote:

[2018-06-12 13:42] lee-bin commented on #5373
I actually did what you said, and minimized the Python code to only 2 lines.  From the log I pasted above, it says that it failed calling sh.touch().

    sh.touch("foo.bar")
All my codes are above, less than 10 lines, just enough to reproduce the problem.
You can just copy the code above to try it. Thanks.

[2018-06-12 14:09] shashishekhar commented on #5365
This needs C++11 flags, passing --cxxopt='--std=c++11' will fix it. I am updating the documentation for the example as well.

[2018-06-12 14:11] laszlocsomor commented on #5365
Thanks! Could you add this flag to the corresponding `cc_library.copts` in the TF source tree?

[2018-06-12 15:04] aaronlevin commented on #5368
@laszlocsomor sorry, I'm a bit new to bazel and there doesn't seem to be much info on what `package_name` returns. Is it enough to just do: `$(GENDIR)/package_name()`?

I think we should have something in the environment that consistently provides this directory, but I would be happy even with some clear documentation on how to construct this path.

Thanks @benjaminp for your quick suggestion.

[2018-06-12 15:19] RNabel opened #5379 "Skylark git_repository with patches parameter produce useless errors in common use-case"
### Description of the problem / feature request:

When using the Skylark `git_repository` rule and provide a file to `patches` which complies to the patch format but is valid results in a completely misleading error message:

[code]

### Feature requests: what underlying problem are you trying to solve with this feature?

When using Skylark `git_repository`, provide additional information from `p

[2018-06-12 15:49] aehlig commented on #5379
There is already a related pull request, #4974,  which however still has some GNUism in it. Maybe I'll just merge it with a changed test, if the original author @deeglaze agrees.

[2018-06-12 16:05] fweikert commented on #5328
Culprit is https://github.com/bazelbuild/bazel/commit/ebe1ec80e355d9df4299889ae3b1f4bff7dc990b
Doubling the timeout doesn't help. We can either increase the timeout even more, roll back the CL or disable the test.

[2018-06-12 16:31] scentini opened #5380 "Rewrite CROSSTOOL in Starlark"
### Description of the problem / feature request:

Change the file format used to configure C++ toolchain from text proto to Skylark

### Feature requests: what underlying problem are you trying to solve with this feature?

* It will make maintenance of the C++ toolchain easier, it will allow getting rid of the duplication and boilerplate using standard programming practices, e.g. we will be able

[2018-06-12 16:34] jmillikin-stripe commented on #5368
I've also been bitten by this, had had to use workarounds like a dummy `.keep` file so that the outs list would always have at least two elements.

Is the documented single-file behavior of `$(@D)` useful? I can't think of any other cases where the semantics of a make variable changes based on whether a list has size=1 or size>1.

[2018-06-12 17:53] jmmv commented on #5369
Just to pile onto the bug because this is related: depending on how sandboxfs fails, Blaze may even report that "sandboxed" is an *unknown strategy*. I think this happens when the sandboxfs binary cannot be found, but I forget now.

[2018-06-12 17:57] lberki commented on #5378
/sub

[2018-06-12 20:19] petroseskinder commented on #5377
Questions like this are best reserved for [stack overflow](https://stackoverflow.com/questions/tagged/bazel) or the [bazel-discuss](https://groups.google.com/forum/#!forum/bazel-discuss) google group.

[2018-06-13 06:02] laszlocsomor commented on #5378
@iirina has a fix for this and I'm working on a regression test.

[2018-06-13 07:21] #5367 closed

[2018-06-13 07:30] rongjiecomputer opened #5381 "Skylark repository_rule: The repository could not be resolved and referenced"
### Description of the problem / feature request:

Skylark repository_rule: The repository could not be resolved and referenced

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[code]

Error message:

[code]

I am writing a custom `repository_rule` called [`kronos_registry_repo`](https://github.com/rongjiecomputer/bazel-issue/blob/ma

[2018-06-13 07:52] rongjiecomputer commented on #5381
Ah, found the culprit: typo `kronos_registry` -> `khronos_registry`. Sorry for the noise.

[2018-06-13 07:52] #5381 closed

[2018-06-13 07:58] laszlocsomor commented on #5368
@aaronlevin : `package_name()` is a function that returns a string, which you can call in the BUILD file. `$(GENDIR)` is a placeholder that you can embed in a string on the right side of `genrule.cmd`. Therefore you can write `genrule(..., cmd = "echo $(GENDIR)/%s > $@" % package_name(), ...)`.

@jmillikin-stripe : sorry, I don't know if it's useful or not. I think a consistent behavior would be b

[2018-06-13 08:18] laszlocsomor opened #5382 "Bazel CI, Bazel with downstream projects: several projects fail with "ERROR: Cannot enable HTTP-based and local disk cache simultaneously""
### Description of the problem / feature request:

On Bazel CI, in the "Bazel (with downstream projects)" pipeline has several failing projects that fail because the projects' bazelrc file defines local-cache-configuring flags (e.g. `--disk_cache` and `--repository_cache`) and the pipeline's configuration adds remote-cache-enabling flags (e.g. `--remote_http_cache`).

Example:

["Bazel (with downs

[2018-06-13 08:20] laszlocsomor commented on #5382
Culprit is probably commit cdf118a607ab179807cd39d0cafdb551859d1cd1.
/cc @ulfjack

[2018-06-13 08:47] laszlocsomor opened #5383 "Bazel CI: protobuf project is broken"
### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Repro:

1. Clone https://github.com/google/protobuf/commit/ef9d868353acfc919e7e38e961a87f4fa0f1064b
2. Run this command:
[code]

### What operating system are you running Bazel on?

Debian Rodete

### What's the output of `bazel info release`?

[code]

### What's the output of `git remo

[2018-06-13 08:48] #5357 closed

[2018-06-13 08:49] laszlocsomor commented on #5383
Culprit is https://github.com/google/protobuf/commit/beb2d8dd408c62e7dce3668c4d2db2ba5721bfd2

[2018-06-13 08:55] laszlocsomor opened #5384 "Bazel CI, rules_d: broken"
### Description of the problem / feature request:

`rules_d` project is broken both with release Bazel and with Bazel at head.

Culprit seems to be https://github.com/bazelbuild/rules_d/commit/32f8534c0e8bd4e7e578a4a0f5ba81820a17fc30.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

1. Clone https://github.com/bazelbuild/rules_d/comm

[2018-06-13 09:03] #5384 closed

[2018-06-13 09:05] ulfjack commented on #5382
Which downstream projects?

(Note that this never worked - it was always ignoring one of the options.)

[2018-06-13 09:07] laszlocsomor commented on #5382
Gerrit, for example: ["Bazel (with downstream projects)" (#302)](https://buildkite.com/bazel/bazel-with-downstream-projects-bazel/builds/302) > ["Gerrit (Ubuntu 16.04)"](https://buildkite.com/organizations/bazel/pipelines/bazel-with-downstream-projects-bazel/builds/302/jobs/ab9846c4-723e-4a73-93ab-7f7b8c6f44b6/download.txt).

[2018-06-13 09:08] laszlocsomor commented on #5382
Yes, which is why it "worked" :) no error message.

[2018-06-13 09:10] ulfjack commented on #5382
I can't find out what's setting the disk_cache...

[2018-06-13 09:11] ulfjack commented on #5382
The flag isn't mentioned anywhere in the continuous integration repository.

[2018-06-13 09:13] dslomov commented on #5382
Might be some repo's `tools/bazelrc`

On Wed, Jun 13, 2018 at 11:12 AM, Ulf Adams <notifications@github.com>
wrote:

--
Google Germany GmbH
*Erika-Mann-Straße 33, 80636 München, Germany*

[2018-06-13 09:13] laszlocsomor commented on #5382
It's in the project's `tools/bazel.rc` file.

[2018-06-13 09:13] ulfjack commented on #5382
Yes, got it:
https://gerrit.googlesource.com/gerrit.git/+/master/tools/bazel.rc

[2018-06-13 09:43] laszlocsomor commented on #5368
Closing this since there's a solution.

[2018-06-13 09:43] #5368 closed

[2018-06-13 09:44] laszlocsomor commented on #5372
@mhlopko : WDYT?

[2018-06-13 09:48] laszlocsomor commented on #5377
Agreed. Closing this issue, as it's not a bug.

[2018-06-13 09:48] #5377 closed

[2018-06-13 10:09] laszlocsomor commented on #5373
Sorry, indeed you wrote that in the original post already.

I couldn't repro the same issue. Still, your use of `python` in a genrule is not the right way, and probably doesn't work with sandboxing if the python script has some dependencies, since the genrule is not aware of those dependencies.

To alleviate those problems, use a `py_binary` rule and update the `genrule` as follows:

[code]

This

[2018-06-13 11:06] lee-bin commented on #5373
I tried it again with your advice. Still, it does not work, same issue. However, if I change the Python code to
[code]
it works. I took advice from [here](https://stackoverflow.com/questions/50810690/cant-use-pythons-sh-module-in-bazel-genrule).
Is it because of something of Bazel genrule's strategy? Since the Python script runs successfully by itself.

[2018-06-13 11:15] ulfjack commented on #5347
Fixed the FAQ. Unfortunately, I don't see an easy way of changing the --test_strategy flag to work in the expected way.

[2018-06-13 11:15] #5347 closed

[2018-06-13 11:29] laszlocsomor commented on #5373
Good to know there's a solution!

What do the `_tty_in` and `_tty_out` args do? I couldn't find any info about that. As for `genrule`, it probably closes stdin and redirects stdout to a file when running the command.

[2018-06-13 11:29] laszlocsomor commented on #5373
Closing, since there's a solution and I don't think there's any Bazel bug here.

[2018-06-13 12:43] RNabel commented on #4396
There's a workaround for this: place a shell script called `bazel` within the `tools` folder of your workspace which invokes the correct bazel binary. When you run `bazel` from within your workspace, it checks whether there is a file called `tools/bazel` and, if so, executes it with all the arguments itself was called with.

Thus, you can have different versions installed under, say, `~/.bazel_ins

[2018-06-13 12:43] #4396 closed

[2018-06-13 12:50] #5379 closed

[2018-06-13 13:06] jbduncan commented on #5255
@jin Yep, I'm sure there is. I will either have to compile the plugin locally on my machine and store the jar in a `lib` directory in my project, or use jitpack.io. Not terribly ideal, but hey ho - for experimentation purposes, it should work. :)

[2018-06-13 13:58] rongjiecomputer commented on #5198
This seems to solve part of my problem. Can it work backward (i.e. a target can force everyone that depends on it to turn on/off certain feature, such `no_asan` if a target is known to not work with address sanitizer)?

For me, Crosstool/Toolchain author's responsibility is only to specify the **least** flags needed to **use** a toolchain ("least" is the keyword here). Project-specific flags shoul

[2018-06-13 14:15] rongjiecomputer commented on #5186
I think there is no need to restrict this to Unix only. CMake on Windows will honour `CC`, `CXX`, `LD` and other environment variables so that user don't need to pass `-DCMAKE_C_COMPILER`, `-DCMAKE_LINKER`. flags in configure step. GCC/Mingw64 and GCC/MSYS users should generally be familiar with these environment variables. It is a nice-to-have feature for MSVC users too since these environment va

[2018-06-13 15:35] #4378 closed

[2018-06-13 15:56] phedoreanu commented on #2460
[code]
### Example:
[code]

[2018-06-13 16:38] werkt opened #5388 "Control reactions to input transience during action execution"
### Description of the feature request:

Detect when an action's inputs are modified during its execution independent of spawn_strategy, and propagate that boolean result (possibly with the inputs modified) to the strategy for further control. Create options that allow the control of reactions (error, retry, logging, suppression, fallback, remote/local cache interactions).

### Feature requests: w

[2018-06-13 19:32] mhlopko commented on #5326
Tried on a mac and on a linux @HEAD and it passes. Can you pls verify if it was fixed in the meantime?

[2018-06-13 20:15] werkt commented on #5326
Yup, verified fixed. Haven't pinpointed the change that did it, but good enough for me.

[2018-06-13 20:15] #5326 closed

[2018-06-13 23:20] alexeagle opened #5389 "Memory usage regression in bazel 0.14.0 and 0.14.1"
On Angular and related projects, we run builds on CI in a docker container.  We use the `--local_resources` flag to workaround
https://github.com/bazelbuild/bazel/issues/3645
which causes random failures where Bazel tries to allocate too much memory, since it asks the OS how much RAM is available rather than the containerization host.

After updating to 0.14.0 (and also observed in 0.14.1) we have

[2018-06-14 03:39] werkt opened #5390 "RepositoryCache irreparably invalidated on build interrupt"
### Description of the problem / feature request:

Maven/HttpDownloaders initiate downloads directly into repository cache paths, which, when interrupted, leave invalid repository cache contents that only fail on `get`, and are not re-downloaded.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Perform a build which populates a file

[2018-06-14 03:45] yichuan1118 opened #5391 "Bazel not searching /usr/local/include for include files"
### Description of the problem / feature request:

Bazel not searching /usr/local/include for header files

zeromq header installed by brew into /user/local/include, building directly using clang works:

`clang cpp/src/bifrost.cc -lzmq`

building using bazel will generate

[code]

Same bazel build works on Linux (ubuntu 18.04) after `sudo apt install libzmq3-dev`

### What operating system are you

[2018-06-14 07:22] laszlocsomor commented on #5056
@alexeagle from Angular is reporting memory regressions with 0.14.1: https://groups.google.com/d/msg/bazel-discuss/SOHd4FWX-6Q/rX7-3uQ5BAAJ

We should investigate and potentially roll out a 0.14.2 patch release.

[2018-06-14 07:27] laszlocsomor commented on #5056
Related bugs: https://github.com/bazelbuild/bazel/issues/3645, https://github.com/bazelbuild/bazel/issues/5389.

[2018-06-14 07:42] laszlocsomor commented on #3645
/cc: @jhfield @ulfjack @ericfelly

Summary: https://github.com/bazelbuild/bazel/issues/3645#issuecomment-331672268

Who should work on this?

[2018-06-14 07:50] ulfjack commented on #3645
We have no idea what's going on there, and I don't think we can debug this without seeing jvm.out. In order to get better debug information in the future, we will also need to add code to bazel client to cat jvm.out.

[2018-06-14 07:50] ulfjack commented on #5389
Please provide the contents of jvm.out.

[2018-06-14 07:51] ulfjack commented on #3645
This isn't the first time that not having jvm.out is preventing us from making progress.

[2018-06-14 07:56] ittaiz commented on #3645
I think I opened an issue a while back to add documentation on “what should
you report” when seeing serious bazel issues (I think I was talking about
reproducibility).
On Thu, 14 Jun 2018 at 10:51 Ulf Adams <notifications@github.com> wrote:

[2018-06-14 08:20] gregmagolan commented on #5389
I ssh'd into CircleCI when this failure occurs and checked jvm.out and it an empty file after the crash. The failure looks like this:

[code]

It doesn't always occur in the same place (there are a few steps in CI that I've seen it fail at) and on occasion it passes.

Is there anywhere else besides jvm.out that might give a hint on the crash?

[2018-06-14 08:42] lfpino commented on #5056
@dslomov can you please take a look since you handled 0.14.1?

[2018-06-14 08:45] lee-bin commented on #5373
Actually, the Python code is from a third_party project, and it builds successfully by itself. I can't integrated the project by genrule without changing the original Python code, which is not very automatic. So may be there is something Bazel's genrule could improve.

[2018-06-14 10:06] ulfjack commented on #5389
If the file is empty then that's a sign that the gRPC client/server connection crashed. We've seen a similar case before where we didn't implement flow control correctly for file uploads to remote machines.

Do you have remote caching or execution enabled? If yes, please provide the flags you are using.

[2018-06-14 10:07] ulfjack commented on #5389
If these are the right flags, then it doesn't look like it:

[code]

[2018-06-14 10:14] ulfjack commented on #5389
Hmm, that's odd - this seems to be a null build. Here's a more complete snippet from a passing run:
[code]

[2018-06-14 10:15] ulfjack commented on #5389
The failing build fails to run //src:prodserver, but it's still just two actions.

[2018-06-14 10:16] ulfjack commented on #5389
I think the reference to #3645 is a red herring.

[2018-06-14 10:21] w568w opened #5394 "Building ERROR `missing input file '@local_jdk//:bin/jar` on Linux"
### Description of the problem / feature request:
When I'm trying to build bazel from source on Linux,it shows `missing input file '@local_jdk//:bin/jar`.

### Feature requests: what underlying problem are you trying to solve with this feature?
n/a

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.
Run `apt install build-essential openj

[2018-06-14 10:31] laszlocsomor commented on #5394
You probably have to export `JAVA_HOME` to point to the JDK's directory. Does that help?

[2018-06-14 10:32] laszlocsomor commented on #5394
Also, what CPU architecture do you use -- 32bit or 64bit?

[2018-06-14 10:34] ulfjack commented on #5389
If I understand correctly, then you're running the containers with a 4 GB limit. --local_resources does not actually restrict Bazel's own memory usage, but maybe that's the intend?

IIRC, Bazel is set to 4 GB max memory, which is unaffected by --local_resources. Maybe Bazel is trying to allocate too much memory and the container is killing it? Technically, this doesn't imply that Bazel's memory us

[2018-06-14 10:39] w568w commented on #5394
I think I have export `JAVA_HOME`,output:
[code]
CPU architecture is `32bit`.

[2018-06-14 11:06] laszlocsomor commented on #5391
Bazel requires that C++ build rules declare all header files that the sources depend on. Only exceptions are the "default" header files, such as POSIX system headers (e.g. `stdio.h`) and STL (e.g. `<iostream>`) -- they are needed so frequently that Bazel doesn't require you to declare them.

I think the culprit is that though `zmq.h` is next to the system headers, Bazel probably doesn't consider i

[2018-06-14 11:08] laszlocsomor commented on #5391
Also, this is not a Bazel bug, so I'll close this issue.

@yichuan1118 : please use [StackOverflow](https://stackoverflow.com/questions/tagged/bazel) or on bazel-discuss@googlegroups.com to ask questions about failing builds.

[2018-06-14 11:10] laszlocsomor commented on #5394
I'm afraid Bazel doesn't support 32-bit platforms :(

@cushon : do you know if Bazel can use a 32-bit JDK?

[2018-06-14 11:21] laszlocsomor opened #5396 "Bazel CI: RuntimeException with rules_go"
### Description of the problem / feature request:

Bazel CI: Bazel (with downstream projects) pipeline is failing in the rules_go job (using Bazel from HEAD).

I can repro this locally, and bisected the culprit to be 45b308a62f42c2c0bcfe79dcd4046c4025a31059.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

1. Build Bazel from https:/

[2018-06-14 11:55] phedoreanu commented on #4661
Maybe even an `alpine` tag...

[2018-06-14 11:55] laszlocsomor commented on #5390
In other words, Bazel doesn't notice that a download was interrupted, correct?

[2018-06-14 12:00] #5378 closed

[2018-06-14 12:01] laszlocsomor commented on #5388
I see multiple sub-issues, is this separation correct?
- feature: detect modified input for all strategies
- feature: let the ... (_what?_) specify what Bazel should do when an action's input is modified mid-execution
- bug: prevent cache poisoning with modified inputs

If so, could you split them into separate issues?

[2018-06-14 12:41] janakdr commented on #5396
Thanks for the report and sorry for the breakage! Will investigate today.

[2018-06-14 13:12] laszlocsomor commented on #5396
Thank you!

[2018-06-14 13:33] talya opened #5397 "can't use docker spawn strategy on mac"
### Description of the problem / feature request:

Trying to use docker spawn strategy on Mac for java projects, results in `standard_init_linux.go:190: exec user process caused "exec format error"`

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Using this sample [repo](https://github.com/ittaiz/bazel-port-isolation)
- on a debian

[2018-06-14 14:10] nlopezgi commented on #5397
You are running into issues related to having the host environment (where bazel runs) different to the execution environment (the docker container).
In the case of your mac build, the issue is that your rules are using @junit_junit//jar:jar which likely maps to the local_jdk:jar. This target corresponds to the jar binary installed in your mac. The error is occurring when this binary is being execu

[2018-06-14 14:22] werkt commented on #5390
Correct, it doesn't notice, and it responds to invalid content on any subsequent invocations that access it via `RepositoryCache::get` (i.e. during `HttpDownloader::download`) by erroring. The only solution is to manually intervene and excise the cache entry. This is undesirable on a build fleet, as it can occur on any build abort.

[2018-06-14 14:34] alexeagle commented on #5378
Wow that's impressive how much size was added just by the sources for the test coverage data parser. Thanks for the fix, I hope we can find places to reduce the binary size more, it's important for us to squeeze bazel into the existing frontend toolchain

[2018-06-14 14:52] alexeagle commented on #5389
Thanks for investigating, Ulf!

Your simple explanation is right. The build passes three times in a row with the 2G heap limit for the bazel JVM. https://circleci.com/gh/alexeagle/workflows/angular-bazel-example/tree/test-bazel-0.14.1

I also have a PR out to update Angular to use 0.14 again
https://github.com/angular/angular/pull/24512
where I've increased the size of the VM used to run one of th

[2018-06-14 14:55] janakdr commented on #5396
Excuse my ignorance, how do I clone rules_go and then use those rules? Do I download them to a different git repository? Then how do I make Bazel use them?

[2018-06-14 14:58] sergiocampama opened #5398 "Make Skylark `load()` simpler for files that only provide one symbol with the same basename as the file"
### Description of the problem / feature request:

Make Skylark `load()` command default to load a symbol with the same name as the basename of the file being loaded (sans the extension).

For example, `load("//path/to/package:features.bzl")` would load the `features` symbol by default.

### Feature requests: what underlying problem are you trying to solve with this feature?

Skylib and rules_appl

[2018-06-14 15:03] laszlocsomor commented on #5396
You need to clone both the `rules_go` and the `bazel` repos to separate directories, build Bazel, check out the right commit from rules_go, then build with the custom Bazel binary.

Here's how you do it:

[code]

[2018-06-14 15:41] janakdr commented on #5396
Looks like this comes from shared actions that are also creating tree artifacts. Not sure how to fix that. Also not sure why that's happening in the first place...

[2018-06-14 15:49] bergsieker opened #5400 "Provide better fallback options for no-remote targets when running a remote build"
### Description of the problem / feature request:

Targets marked no-remote fall back to running locally during remote builds. Ideally such targets could optionally be made to run in the sandbox instead.

### Feature requests: what underlying problem are you trying to solve with this feature?

I believe there are plans to overhaul spawn strategies and fallback in general, but Philipp suggested a s

[2018-06-14 16:00] cushon commented on #5394
@laszlocsomor maybe? I didn't think we're using that much arch-dependency JNI, etc. I'm also not sure why that would cause the error with `jar`.

@w568w which version of Bazel are you trying to build?

[2018-06-14 16:35] dslomov commented on #5154
/cc @irengrig

[2018-06-14 18:54] yichuan1118 commented on #5391
@laszlocsomor @mhlopko Thank you for the answer, please let me know if this is the correct understanding.

[2018-06-14 18:57] nlopezgi opened #5401 "Better messaging for mix of remote strategy and caching"
see: https://github.com/bazelbuild/bazel-toolchains/issues/80

The remote strategy is only available if you don't use caching. If you enable remote caching, you should remove the --*_strategy=remote options. This means that your build will start to run with local sandboxing; if you don't want that, then you can set the flags to =standalone instead.

Error messaging when users include both remote s

[2018-06-14 20:09] plopresti commented on #4248
This would be a useful feature.

I am trying to install bazel on a multi-user system. Our users' home directories are on NFS and have limited space. I would like to configure bazel once for all users to put per-user state on a local file system.

Setting `--output_user_root` in the master bazelrc (/etc/bazel.bazelrc) does not work, because then all users will share an output user root. There is no

[2018-06-14 21:51] driveraid commented on #3206
We were just hit by this in our company, wasted 6 hours debugging due to a missing return statement in a header file exposed by includes, in a build with -Werror enabled. -Wsystem-headers is useless due to our big exposure against system and 3rdparty stuff. Any chance this could be fixed near term?

[2018-06-14 22:48] zaycev commented on #5128
Looks like it is still broken in 14.1:
[code]

[2018-06-14 23:45] #5396 closed

[2018-06-14 23:49] w568w commented on #5394
[code]
@cushon It's 0.14.1,the lastest release.

[2018-06-15 00:37] alexeagle commented on #4385
fyi @dslomov we might want to take a different solution to this as part of allowing `@` in package names

[2018-06-15 00:50] EricBurnett opened #5402 "Deadlock in BuildEventServiceTransport.java"
### Description of the problem / feature request:

Bazel can deadlock while writing to the BES. The issue is that sendBuildEvent() is reentrant, which in turn can cause multiple lock orderings. One such ordering pair is PrintStream causing a BuildEvent to be sent, and a BuildEvent being sent causing a file digest to be computed, causing a PrintStream to be called if it is slow.

The first path:

[2018-06-15 00:59] w568w commented on #5394
BTW,I wonder whether it's possible to build a 32-bit version of bazel on 64-bit platforms?

[2018-06-15 01:19] brian-peloton commented on #5402
I found this originally. For reference, there's nothing that seems relevant in our bazel version vs 0.13.1, just some cherry picks related to remote execution a few unrelated custom patches:
[code]

[2018-06-15 05:58] laszlocsomor commented on #5391
Yes, that's indeed strange. Let me reopen because that sounds fishy indeed.

[2018-06-15 06:00] laszlocsomor commented on #5396
Thanks for the analysis and for the quick fix!

[2018-06-15 07:14] laszlocsomor commented on #5397
@nlopezgi : Thanks for the detailed analysis! Is there a bug we need to fix or can we close the issue?

[2018-06-15 07:16] laszlocsomor commented on #5400
Philipp is on a longer-term leave, so I'm routing this to @ulfjack .

[2018-06-15 07:17] laszlocsomor commented on #5400
also /cc @nlopezgi

[2018-06-15 08:02] gergnz opened #5404 "gitconfig url mod causes bazel to fail with auth issues."
### Description of the problem / feature request:

bazel fails to get plugins when git is set to rewrite URL

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

add the following to your ~/.gitconfig
[code]

In your WORKSPACE file add something like:
[code]
Then run bazel:
[code]

### What operating system are you running Bazel on?

Mac

[2018-06-15 08:40] ulfjack commented on #5311
Can you try Bazel HEAD - I made a change in this area recently, which may have fixed it.

[2018-06-15 08:41] ulfjack commented on #5311
(experimental_remote_spawn_cache is now a no-op)

[2018-06-15 09:29] laurentlb commented on #5398
Interesting idea!

[2018-06-15 09:46] ash2k opened #5407 "Small typo"
### Description of the problem / feature request:

https://github.com/bazelbuild/bazel/blob/master/tools/build_defs/repo/http.bzl#L38

[2018-06-15 09:52] #5382 closed

[2018-06-15 10:34] laszlocsomor commented on #5407
Thanks! In a simple case of typo error like this one, just send us a pull request with the fix please.

[2018-06-15 10:35] treuherz commented on #5335
Okay, I can just bundle the intermediate outputs. Thanks for the explanation! The use of "files" in the docs where it doesn't mean `File`s is what threw me.

[2018-06-15 10:36] laszlocsomor commented on #5404
/cc @dslomov

[2018-06-15 10:42] laszlocsomor commented on #5402
/cc @ulfjack @aehlig

[2018-06-15 11:22] laszlocsomor commented on #5394
Maybe, though probably not. We don't put any effort into supporting 32-bit. In theory it's possible, because Bazel supports cross-compilation by design, and with the right compiler definition in the `CROSSTOOL`, it should be possible to build the C++ code for 32-bit. The java code is more likely to build for 32-bit, though not with `./compile.sh`, because that script compiles all Java files within

[2018-06-15 11:36] laszlocsomor commented on #5394
Actually, I see you got past the "Building Bazel from scratch......" stage, that means you compiled all the java code. That's promising!

If you want to hack on this: study how the bootstrapping scripts run the java-only version of Bazel, what flags it passes to `java` -- see this: https://github.com/bazelbuild/bazel/blob/940fbd7aafc8227a5ff110ddac1be71d17225adf/scripts/bootstrap/compile.sh#L328

[2018-06-15 11:54] laszlocsomor commented on #5373
Thanks! I could repro the issue. You're right, this could be a genrule bug. Let me take a look.

[2018-06-15 12:01] laszlocsomor commented on #5373
Ah, this is due to sandboxing.

Bazel offers different strategies for executing the genrule's command. Building without sandboxing succeeds (using the [genrule.cmd that I suggested earlier](https://github.com/bazelbuild/bazel/issues/5373#issuecomment-396886360)).

[code]

With the `sandbox` and `linux-sandbox` strategies the build fails:
[code]

With `processwrapper-sandbox` it succeeds:

[code]

[2018-06-15 12:24] mhlopko commented on #3206
Unfortunately unlikely in 2018 (roadmap: https://docs.google.com/document/d/1K3Dq1JDDWjGtvTyFcIwy_-Crm7ZuD9FzSxjDawDhJRA/edit)

[2018-06-15 12:31] mhlopko commented on #5311
Verified, fixed. Thanks!

[2018-06-15 12:31] #5311 closed

[2018-06-15 12:41] mhlopko commented on #5391
Hmm this is weird. Bazel is calling clang, so it should use it's include directories right? We actually do run `clang -E -xc++ -v` to get a list of include directories for include validation. Do you have Xcode installed? Can you run your build with `--subcommands` and see what command bazel executes and then pinpoint what's wrong with the command line?

[2018-06-15 12:41] mhlopko commented on #5391
Did you by chance upgrade your clang recently? Can you repro after `bazel build --expunge`?

[2018-06-15 12:42] laszlocsomor commented on #5391
You mean `bazel clean --expunge`?

[2018-06-15 12:45] mhlopko commented on #5391
Indeed I do. Sorry for misbehaving fingers :)

[2018-06-15 12:54] mhlopko commented on #5186
Good points. We have to bring our windows and darwin-with-Xcode toolchains to the same level of configurability as unix toolchain is.

[2018-06-15 13:03] mhlopko commented on #5372
Definitely a bug, I'll look into it. Thank you for reporting!

[2018-06-15 13:31] mhlopko commented on #5090
Isn't that the problem with the cuda toolchain that tensorflow provides? I see unconditional Wthread-safety in these files:
* https://github.com/tensorflow/tensorflow/blob/8a0ac6c1f9b1c29021bb725b2d20071264530602/third_party/gpus/crosstool/CROSSTOOL_nvcc.tpl
* https://github.com/tensorflow/tensorflow/blob/8a0ac6c1f9b1c29021bb725b2d20071264530602/third_party/toolchains/cpus/arm/CROSSTOOL.tpl
* http

[2018-06-15 13:51] ulfjack commented on #5402
The exact stack trace provided here can no longer happen at head as of ce9aafcf63dd198fe16c682dfeedc444f07b5669, but I can't say for sure that we don't have any remaining issues left.

[2018-06-15 13:51] ulfjack commented on #5402
A potential deadlock in the BEP/BES is a P1 issue, not P3. We're about to roll it out to all of Google, so this is a problem.

[2018-06-15 13:53] ulfjack commented on #5366
There are three issues here. BlazeCommandDispatcher.execExclusively is blindly relying on getMessage() being non-null, which is a bug. We're also swallowing the internal stack trace, which is a bug. And then there is the actual issue, which we don't know yet, but may have been in 68aa410229cb36ceedc910c803a0aff2db6d027f.

[2018-06-15 13:58] unlikely-leo commented on #3427
Thanks @cushon, the setup you describe suits our use case well! Could you point me to the fix you're referring to in your comment?

[code]

[2018-06-15 14:07] laszlocsomor opened #5410 "Bazel CI, Bazel with downstream projects: protobuf is broken on Mac"
### Description of the problem / feature request:

On Bazel CI, in the "Bazel with downstream projects" pipeline (uses Bazel from HEAD), the "protobuf" pipeline is broken on Mac:

[code]

### What operating system are you running Bazel on?

Mac

[2018-06-15 14:15] ulfjack commented on #5402
Btw. it's really, really expensive for us to re-digest the files in CasPathConverter - that might be a serious performance issue.

[2018-06-15 15:44] cushon commented on #3427
@unlikely-leo I think that was af24688e4e0c8c359a2ec7af3fffaa1c825ef7ed. The example I provided should work without having to set `default_java_toolchain.bootclasspath`.

[2018-06-15 15:45] #1008 closed

[2018-06-15 16:20] nlopezgi commented on #5397
@laszlocsomor Perhaps it would be good to note in the documentation for the sandbox feature that it does not trivially support cross platform builds and point to the new docs we published (particularly https://docs.bazel.build/versions/master/remote-execution-sandbox.html#troubleshooting-in-a-docker-container) other than that I think we could close.

@ittaiz unfortunately, there is virtually no wa

[2018-06-15 18:22] yichuan1118 commented on #5391
@mhlopko

Unfortunately `bazel clean --expunge` did not help. On my mac 10.13.2 running
[code]
which seems do not have the include directory info, I can only get include directory info with
`⟩ clang -E -xc++ -v /dev/null`

with `bazel build -s ` I got the following output:

[code]

[2018-06-15 20:01] steeve opened #5411 "uses-permissions in AndroidManifest.xml are not exported to App"
### Description of the problem / feature request:

As per the documentation, `uses-permissions` attributes are never exported to the main app. What is the rationale behind this decision?
Is there any way to have an `android_library` export its permissions to an app that includes it ?

Thanks!

### What operating system are you running Bazel on?

macOS

### What's the output of `bazel info release`

[2018-06-15 20:12] jin commented on #5411
I have no idea - @asteinb @ahumesky?

[2018-06-15 20:50] ahumesky commented on #5411
It's mostly because changing the permissions of your app prevents auto-updating on the play store.

If you have a code base where there are many apps that are independently owned by different teams, and you have many libraries that are similarly independently owned by other teams, and if you inherit permissions from your dependencies, then it means that other teams can change the permissions of yo

[2018-06-15 21:11] naelabdeljawad opened #5412 "Bazel build tensorflow/contrib/lite/toco:toco throws no such package @local_config_git"
HI,

Getting bellow error while building any source.

ERROR: /home/automator/Documents/Tensorflow/tensorflow-master/tensorflow/core/BUILD:2288:1: no such package '@local_config_git//': Traceback (most recent call last):
	File "/home/automator/Documents/Tensorflow/tensorflow-master/third_party/git/git_configure.bzl", line 52
		_fail(result.stderr)
	File "/home/automator/Documents/Tensorflow/tensorf

[2018-06-15 21:14] johnynek opened #5413 "java_stub_template is quadratic and fails for large classpaths."
### Description of the problem / feature request:
When trying to use very large classpaths, I could not. There are two issues:

1. it takes a very long time to start due to what appears to me a quadratic algorithm here: https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/bazel/rules/java/java_stub_template.txt#L299
2. the bash fails when the line length gets

[2018-06-15 21:53] jin commented on #5390
I think @werkt's fix will do it. The current repository cache implementation doesn't have any eviction policy, so this is a good start to remove poisoned files.

[2018-06-16 00:06] vividaner opened #5416 "incompatible"
### Description of the problem / feature request:

### Feature requests: what underlying problem are you trying to solve with this feature?

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

### What operating system are you running Bazel on?

### What's the output of `bazel info release`?

### If `bazel info release` returns "developm

[2018-06-16 00:28] #5416 closed

[2018-06-16 02:00] w568w commented on #5394
I have found the problem by following your steps:
My `$JAVA_HOME/bin/jar` is a link to another path which contains non-ascii chars(so strange),
I move it and the problem is never reported again.

However,it shows another error:

[code]
https://github.com/bazelbuild/bazel/blob/1bacab9717a76dfbfc9612b3864bc25588220bbd/src/tools/singlejar/mapped_file_posix.inc#L30

It seems that `bazel` **does not su

[2018-06-16 02:31] #5394 closed

[2018-06-16 05:55] ittaiz commented on #5397
Thanks Nick!
I’ll add two more (somewhat side) question:
Given we run with docker sand boxing and remote caching:
1. Will Bazel theoretically be able to utilize the remote cache, since the
docker sandbox is the same platform, or is the Mac in middle cause this to
be a non starter?
2. If the answer to the above is yes do you know what gaps we have for this
to be true practically?
On Fri, 15 Jun 201

[2018-06-17 09:55] rightfold opened #5418 "ProviderNotFoundException when adding .srcjar to java_library srcs"
### Description of the problem / feature request:

When using a target that outputs a .srcjar in the srcs of a java_library, the following stack trace occurs:

[code]

Note that this is not about Bazel providers, but about Java NIO file system providers.

It seems like it is the following line that causes the crash:

https://github.com/bazelbuild/bazel/blob/4001dddc38b07fe0ee86f6a9e95ff4a92276bb2d

[2018-06-17 10:01] excitoon opened #5419 "Seemingly duplicate labels"
### Description of the problem / feature request:

Basically it is good that Bazel forbids duplicate labels. But it should not make false-positives.
For example:
[code]

This target looks good, but in reality it won't compile:
[code]

### Feature requests: what underlying problem are you trying to solve with this feature?

Label lists can be combined with (`+`) and come from different points of BU

[2018-06-17 11:00] rightfold commented on #5418
It seems like the problem occurred because the .srcjar file wasn't a zip file but a directory. A more informative error message would be very useful.

[2018-06-17 15:20] talya commented on #5397
@nlopezgi - possibly this is unrealted, but I thought you should know, that by simply adding the `--define=EXECUTOR=remote` flag alone I get a similar error but on C++: `/private/var/tmp/_bazel_talyas/42151487a684bdbd20cae185f8059e47/external/bazel_tools/src/main/cpp/util/BUILD:34:1: C++ compilation of rule '@bazel_tools//src/main/cpp/util:filesystem' failed (Exit 1)
standard_init_linux.go:190: ex

[2018-06-17 18:07] likanhp-master commented on #291
I am hitting the same issue again, on OSX, with bazel version 0.13.1 and 0.14.1. The directory that causes problem was .builds and renaming it doesn't make any difference.

[2018-06-17 18:09] likanhp-master commented on #4060
I am hitting the issue in OSX, when a top-level directory starts with dot "."

[2018-06-17 22:28] cushon commented on #5419
Consider using `collections.uniq` from https://github.com/bazelbuild/bazel-skylib to deduplicate the `srcs` of that target, e.g.:

Add this to your `WORKSPACE`:

[code]

And then use:

[code]

[2018-06-18 04:04] #5418 closed

[2018-06-18 09:35] laurentlb commented on #5057
rc3 was created 7 days ago: https://releases.bazel.build/0.15.0/rc3/index.html
It includes the 3 cherry-picks requested in this thread.

[2018-06-18 09:44] irengrig commented on #5366
NPE part was already fixed by [e1ada6d](https://github.com/bazelbuild/bazel/commit/e1ada6d351cb714c9e5694e1e58cd2b761c84784) at 2018-05-17

[2018-06-18 12:38] meteorcloudy commented on #5351
@buchgr Can you help answering the above questions?

[2018-06-18 13:20] mobileink opened #5421 "darwin installer sig key has expired"
### Description of the problem / feature request:

$ gpg --verify bazel-0.14.1-installer-darwin-x86_64.sh.sig
gpg: assuming signed data in 'bazel-0.14.1-installer-darwin-x86_64.sh'
gpg: Signature made Fri Jun  8 07:31:31 2018 CDT
gpg:                using RSA key 3D5919B448457EE0
gpg: Good signature from "Bazel Developer (Bazel APT repository key) <bazel-dev@googlegroups.com>" [expired]
gpg: Note:

[2018-06-18 13:32] mobileink opened #5422 "Print a warning when --sandbox_debug is in use (to prevent sandbox directories from piling up)"
### Description of the problem / feature request:

Trying to figure out why bazel clean --expunge seemed to hang I discovered that Bazel had created hundreds, (actually tens of thousands) of sandboxes in /private/var/tmp/..etc..  Each of which seems to contain a copy of all my externals, e.g. the entire Android SDK and NDK. I'm now running rm -rfv on those and it's taking a *long* time.

It would

[2018-06-18 13:48] nlopezgi commented on #5397
@talya the --define=EXECUTOR=remote flag allows Bazel to use a src version of ijar and singlejar (meaning that the ijar and singlejar binary get compiled in the container). In your build, the compilation of the filesystem target (https://github.com/bazelbuild/bazel/blob/master/src/main/cpp/util/BUILD#L34) is failing. This is probably one of the first c targets that is executed as part of your buil

[2018-06-18 13:53] nlopezgi commented on #5397
@ittaiz
1. Will Bazel theoretically be able to utilize the remote cache, since the
docker sandbox is the same platform, or is the Mac in middle cause this to
be a non starter?

If you are talking about having a mac host (where bazel is running) launch builds both with local docker sandbox and with a remote execution service (either backed by a local or remote cache), then yes, theoretically this s

[2018-06-18 13:57] mobileink commented on #5422
For example:

$ ls /private/var/tmp/_bazel_gar/a2778d8bc5379ccd6c684731e73b4da6/sandbox/ | wc -l

4877

These are not all sandboxes, or at least they do not contain all the toolchains etc. But still the seems like an awfully large number.

[2018-06-18 14:04] meteorcloudy commented on #5252
@perfinion FYI, since you are working on this.
https://groups.google.com/a/tensorflow.org/forum/#!topic/build/f_w_xmpk-w8

[2018-06-18 14:17] meteorcloudy commented on #5351
@rongjiecomputer BTW, protobuf 3.6 hasn't been released yet, right? So we might want to wait for the official release.

[2018-06-18 14:31] rongjiecomputer commented on #5351
@meteorcloudy [protobuf 3.6.0](https://github.com/google/protobuf/releases/tag/v3.6.0) was released 12 days ago after 3.6.0rc1 and 3.6.0rc2. See the [updated changelog](https://github.com/google/protobuf/blob/ce044817c7ba0aea27c3fd8e496635d94d20a755/CHANGES.txt) (the changelog was only updated in 3.6.x branch, not merged back to master branch yet for some reason).

protobuf 3.6.0.1 was also releas

[2018-06-18 15:52] cushon commented on #5413
I agree this is a problem that should be fixed, but have you considered using a `_deploy.jar` here? Aside from the issues with the stub script, runtime classloader performance is usually not great for extremely long classpaths.

[2018-06-18 17:00] s-pace commented on #4600
Hi there,

Hope you are doing great.

Do you need some help in order to integrate DocSearch? I would be happy to help and note any of your feedback.

By the way, we do provide the algolia analytics for free for your DocSearch index. Please send me the email addresses of the people you want to grant access to.

Have a nice day,

[2018-06-18 17:04] cushon commented on #3410
The default Bazel binaries now include an embedded JDK 9, which is used as the default javabase for Bazel itself and for host tools (`JAVA_HOME` is still the default target `--javabase`).

The default language level is still Java 8 for now, but to use the Java 9 language level you can pass `--javacopt='--release 9'`.

If you encounter any problems using Java 9 with Bazel, please file additional bu

[2018-06-18 17:04] #3410 closed

[2018-06-18 17:12] cushon commented on #5166
Is this still causing problems? I can't reproduce with Bazel built @ 7c49bd9c73385db84e678469aa7e6a5bb801c28a.

[2018-06-18 17:19] johnynek commented on #5413
1. note that an exacerbating issue is that most of these jar paths are to external repos, which have much longer paths due to also having a long workspace name. We don't have a particularly large repo, but we do code generate 1 build target (jar) per thrift file so that users can depend just on what we need. If we do something larger than that, we would have to have some complex graph coarsening t

[2018-06-18 17:52] brandjon commented on #5335
I think the "file" vs `File` confusion is mitigated if we're just careful to always say `File` when we mean the actual object. The problem with the docs I see is that attr.html isn't clear about distinguishing between the types of the attribute (as passed to `rule()`'s `attrs` dict) and the types of the corresponding `ctx.attr` values. For simple values like ints and strings they're the same, but

[2018-06-18 18:38] perfinion commented on #5252
Huh cool, so I've implemented a thing that is similar in ways to parts of how @meteorcloudy and @dslomov did things. My stuff is here: https://github.com/perfinion/tensorflow/commits/unbundle

I used a regular cc_library instead. Ideally I'd like some kind of pkg_config_library that would automatically search pkg-config. But until then we can just hardcode the linker flags manually.

I originally

[2018-06-18 21:20] steeve commented on #3675
Although this is not a big deal, this is still the case in bazel 0.14.1, for the record.

[2018-06-19 00:31] cacsar commented on #5099
I believe this is the appropriate Ubuntu issue. https://bugs.launchpad.net/ubuntu/+source/ca-certificates-java/+bug/1770553 . Basically Ubuntu 18.04 appears to have shipped with a truststore for Java that is incompatible with the java used by default for many tools including maven.

[2018-06-19 02:15] robfig opened #5426 "Compiler exception running coverage: ClassNotFoundException: org.jacoco.agent.rt.internal_b0d6a23.Offline"
"bazel coverage" fails at 0.14.1 and 4001ddd with a compiler exception. It happens with and without `--experimental_java_coverage`, and it seems to be triggered by instrumentation of an error-prone check.

Here's the scenario:

[code]

and

[code]

Here's the full error:
[code]

It seems like coverage instrumentation should ignore java_plugin targets.

This is a follow-up of https://github.com/baz

[2018-06-19 02:16] robfig commented on #4398
Sadly, I do get the same error. Opened #5426, thank you!

[2018-06-19 02:43] rongjiecomputer commented on #5419
Another solution is to just use `@bazel_tools//platforms:windows` instead of `cpu`.

[code]

[2018-06-19 03:04] lee-bin commented on #5373
Thanks. This really helps me. It would be better if genrule's doc could warn about this.

[2018-06-19 03:48] siddharthab commented on #5166
Yes, bazel built at this commit does not have this issue with openjdk-9, whereas bazel 0.14.1 still crashes with the same error.

[2018-06-19 08:30] meteorcloudy commented on #5252
@perfinion Thanks for the feedback!

Excluding the license files should be easy. You can consider the following way:
1. Add a config_setting in `tensorflow/BUILD`:
[code]
2. Add a macro in `tensorflow/tensorflow.bzl`:
[code]
3. Use `if_use_system_libs` in `tensorflow/tools/pip_package/BUILD`:
[code]
4. When building with system installed libs, pass `--define=use_system_libs=true` option to enable

[2018-06-19 08:49] wubo0067 opened #5427 "py_proto_library' is not defined"
**BUILD:**
cc_proto_library(
    name = "yd_fieldoptions_cc",
    deps = [":yd_fieldoptions"],
)

py_proto_library(
    name = "yd_fieldoptions_py",
    deps = [":yd_fieldoptions"],
)

proto_library(
    name = "yd_fieldoptions",
    srcs = ["yd_fieldoptions.proto"],
    deps = [
        "@com_google_protobuf//:descriptor_proto",
    ],
)

### Error
bazel build -s //field_options:yd_fieldoptions_p

[2018-06-19 08:55] drigz commented on #890
I found a particularly difficult effect of this. If the environment has [google-auth](https://pypi.org/project/google-auth/) (or possibly other packages that use setuptools's namespaces) installed as a system or user site- or dist-package, then Python 2.7 will load a `.pth` file that setups up the `google` namespace incompatibly with Bazel. In particular, `google.__path__ = ['/path/to/site-package

[2018-06-19 11:30] #5389 closed

[2018-06-19 13:03] gvacaliuc opened #5430 "Replace HashFuncntion enum with HashFunction or Hasher Interface"
Disclaimer: This may be considered a discussion starter, but I'm starting work on a PR for this, and I thought it'd be a good idea to track it.

[Relevant post on bazel-dev](https://groups.google.com/forum/#!topic/bazel-dev/SH-Dnm5e0TE) that brought up the change I'd like to make.

### Description of the problem / feature request:

Currently, the hash function used by bazel is defined in [an enum

[2018-06-19 13:17] laurentlb commented on #5346
Can we have an update on this? Does it really block the release of Bazel 0.15?

[2018-06-19 13:46] talya commented on #5206
I tried locally changing bazel to fix this, summarizing my attempts:

trying to change these lines
[code]

It's not possible to change this to be `localhost/127.0.0.1:* or localhost/*:* ` since Apple's .sb format doesn't support this (results in `this error: host must be * or localhost in network address`)
Also tried using `out.println("(allow network* (local ip))");` but that completely breaks th

[2018-06-19 14:38] mobileink opened #5431 "select documentation should indicate static type-checking"
### Description of the problem / feature request:

It might be helpful to add a note to the documentation on select indicating that selects are typechecked before they are executed.  Maybe something like the following under "Further notes":

* Select expressions are type checked before they are executed. So if _any_ of the branches has an ill-typed value, an error will be thrown. For example, `src

[2018-06-19 14:38] RNabel commented on #4201
@cgrushko, you mentioned that Google's workaround may be open-sourced: is there any progress there / has this already happened?

[2018-06-19 14:43] cgrushko commented on #4201
not that I know of - and I'm no longer at Google, so can't help :|
It should be relatively straightforward - use ctx.actions.run_shell() [1]
with command = 'cat ' + ' '.join(filenames)  + ' > ' + output_filename
(output_filename should be also used in declare_file [2] to declare that
this rule produces this file)
or something like that.

[1] -
https://docs.bazel.build/versions/master/skylark/lib/a

[2018-06-19 14:51] drigz commented on #4201
@RNabel Here's what we're using:

[code]

You can then use it like:

[code]

[2018-06-19 15:18] RNabel commented on #4201
Thanks both for the super-fast response - really useful!

[2018-06-19 17:34] RNabel commented on #2163
@mhlopko Has there been progress on this issue, and/or did the design doc get published yet?

[2018-06-19 18:35] RNabel commented on #4446
Hey @jin (sorry to rope you into this directly): is there some progress or a known workaround? I'm on bazel 0.14.0 and protobuf 3.4.0, my CROSSTOOL compiles with `"-Wall"` - the generated code breaks with this flag due to `unused-parameters` and `extended-offsetof`.

I tried to wrap `cc_proto_library` with a `cc_library` with `copts = ["-w"]` but the compilation still fails, stating it cannot buil

[2018-06-19 19:10] danindiana commented on #5261
Just confirming that curl https://bazel.build/bazel-release.pub.gpg | sudo apt-key add -
fixes issue.

 OS: Ubuntu 16.04 xenial
 Kernel: x86_64 Linux 4.13.0-45-generic
 Uptime: 11h 27m
 Packages: 3183
 Shell: bash 4.3.48
 Resolution: 2560x1080
 DE: Unity 7.4.5
 WM: Compiz
 WM Theme: Radiance
Radiance [GTK2]
, Radiance [GTK3]
 Icon Theme: ubuntu-mono-light
 Font: Ubuntu 11
 CPU: AMD Ryzen 5 1600X S

[2018-06-19 20:00] jin commented on #4446
@RNabel I have little contextual knowledge around cc_{proto_}_library, adding in @mhlopko who works on the cc_* rules.

[2018-06-19 20:44] gkalpak commented on #1212
@laszlocsomor : Since it now possible to enable creating [symlinks on Windows without admin rights or UAC][1] (:tada:), is there a way to tell bazel to create symlinks as it would on linux (instead of creating a `RUNFILES_MANIFEST_FILE`?
<sub>(If not, there really should be :pray:</sub>

[1]: https://blogs.windows.com/buildingapps/2016/12/02/symlinks-windows-10/

[2018-06-19 20:59] sgreenstein opened #5433 "Could not create symlink to repository, being used by another process"
### Description of the problem / feature request:

Error message (one for every reference to @grpc):

[code]

The same error also happens with other local_repository rules

WORKSPACE:

[code]

Note that in our build we do `bazel build` followed by `bazel test`, and a workaround that seems to be effective is using --batch.

### What operating system are you running Bazel on?

Windows 10

### What's

[2018-06-20 00:29] sgreenstein commented on #5433
Using --batch didn't fix the issue after all

[2018-06-20 05:28] laszlocsomor commented on #5397
@nlopezgi , thanks! Would you mind doing that?

[2018-06-20 05:33] laszlocsomor commented on #5373
I'm glad it helped!

Can you suggest a good phrasing for that? (Or even send a PR with the doc update?)

[2018-06-20 07:29] oquenchil commented on #2163
I have a prototype and I am planning to send it for review to the Skylark people sometime in the next few weeks. I will update this issue: https://github.com/bazelbuild/bazel/issues/4570

[2018-06-20 07:36] meteorcloudy commented on #5351
They just had a complete release today. https://github.com/google/protobuf/releases \o/

@buchgr Can we update protobuf version to 3.6? Is it OK for external contributor to do that?

[2018-06-20 08:40] sffc commented on #4463
I just hit this issue in the context of a header file created by a genrule.

[2018-06-20 09:17] laszlocsomor commented on #1212
Hey @gkalpak : sure it would be possible, but I'm afraid we don't have capacity to do the migration, plus this would make it impossible to support older Windows versions (since this feature requires Win 10, v1709). That said, it is much easier now to use runfiles on Windows, thanks to the language-specific runfiles libraries (see below).

Usage:
1. Depend on the specific runfiles library in the ru

[2018-06-20 10:38] perfinion commented on #5252
@meteorcloudy Thanks, that intro helped me finally understand the conditionals, I'd seen them scattered around but it didn't quite click. The system libs stuff can't be an all-or-nothing toggle since there are still a ton more to unbundle on top of the ones I've done so far. I'm having trouble reconciling the two tho.

I currently use an ENV var like this (https://github.com/perfinion/tensorflow/c

[2018-06-20 10:44] buchgr commented on #5351
absolutely, if you get stuck just ping me! looking forward to the new protobuf :-)

[2018-06-20 10:51] RNabel commented on #4446
I got something hacky to work, maybe this helps someone with the same problem.

1. extract the compile_flags manually by using a custom library, I used:

[code]

This rule is then imported and used within a BUILD file like so:
[code]

which will print the contents of all fields in the cc provider of the `cc_proto_library`.

2. Create a `cc_library` in which you copy-paste the `compile_flags` into

[2018-06-20 12:01] gkalpak commented on #1212
Thx for the info. Unfortunately, I want to use the runfiles in Node.js, which doesn't seem to have a helper lib 😞

Regarding:

Just to be clear, I didn't mean make this the default behavior for Windows. But it would be great if there was a way to tell bazel that symlinks are supported (e.g. set an env var) and then it could behave the same as on linux/macOS.
(But I understand that it might not be

[2018-06-20 12:53] laszlocsomor commented on #1212
Sure, I agree. :) Alas, I don't know to do that, and we already have plenty of other things to do, I'm afraid I can't spend time on it, sorry :( Maybe someone else will pick it up?...

[2018-06-20 15:19] jmmv commented on #4603
Alright! So the Santa bug was fixed (https://github.com/google/santa/issues/260) and should have rolled out by now. And we did as most as we could on the Bazel side to avoid hitting the bug in the first place (#5196). So I am hoping this is all fixed and can now be closed.

[2018-06-20 15:19] #4603 closed

[2018-06-20 15:43] RNabel commented on #5057
The release notes state: `the experimental_remote_spawn_cache flag is now enabled by default`. If this flag is experimental, why is it enabled by default? Are there any more docs on what the impact of this flag are?

[2018-06-20 15:52] laurentlb commented on #5057
This comes from this commit: https://github.com/bazelbuild/bazel/commit/cdf118a607ab179807cd39d0cafdb551859d1cd1#diff-b5fe53cc60be2450f4c7c621f5931370

@buchgr Can you clarify this? It would be nice to provide more context in the release announcement (https://docs.google.com/document/d/1wDvulLlj4NAlPZamdlEVFORks3YXJonCjyuQMUQEmB0/edit).

Thanks!

[2018-06-20 16:56] igorgatis commented on #3796
Any news on this? Is there any way to point `bazel-out` to somewhere else? I have my source code in a Windows machine and build environment inside a Docker container under boot2docker inside VirtualBox. Bazel fails to create `bazel-out` under the shared folder and it gets very inconvenient to locate output artifacts.

[2018-06-20 18:04] gorset commented on #3864
I ran into this issue indirectly, where I want to add default lint rules for java. I'm not allowed to use `//...` because that will match external rules as well, and I find no way to exclude external packages (which presumably this issue would fix).

So I need to do something like:
[code]

when this should have been all that's needed:
[code]
//... should not really match external rules at all, but

[2018-06-20 19:18] johnynek commented on #5413
I wonder if the right solution is build this classpath jar with the classpath in the rule rather than having bash create it on every run.

[2018-06-20 21:57] yinanfang opened #5437 "Unpredictable "missing input file" error"
### Description of the problem / feature request:

Unpredictable "missing input file" error happens when we build java projects on Linux. Similar issue was reported here: https://github.com/bazelbuild/migration-tooling/issues/77. The workaround is to clean the cache with `bazel clean --expunge` but it'll make the build time much longer.

### Bugs: what's the simplest, easiest way to reproduce this

[2018-06-20 22:02] sigaev commented on #5437
I am having a similar issue.

[2018-06-20 22:32] lfpino commented on #3796
Hi @igorgatis, no sorry, no news about this. I'm wondering doesn't --symlink_prefix=myprefix and the myprefix-out work for your case? This issue is just about bazel-out being created despite --symlink_prefix being set.

[2018-06-20 22:48] cushon commented on #5413
@meteorcloudy, who implemented this feature for bazelbuild/bazel#2242

I ideally we'd only do this work when necessary (i.e. on windows, if the classpath exceeds the limit) and checking the classpath length during analysis is expensive. But if there's a way to push this work into a separate action that's appealing.

[2018-06-20 23:15] johnynek commented on #5413
would it be costly to create this jar for everyone at build time? seems like this would be super fast in c++ or java to take a file that has a list of files and construct a correct jar.

[2018-06-21 00:17] cgoy-nvidia opened #5438 "Expose repository rule(s) which give the user more control over downloading/unpacking of archives"
### Description of the problem / feature request:

As it stands right now, `new_http_archive` will download and unpack the archive every time the `buld_file` referenced in this rule is modified.  This may make sense for some work flows, but not for all. I have attached a workaround project for anyone running into similar issues.

### Feature requests: what underlying problem are you trying to solv

[2018-06-21 03:41] tautomaton commented on #3867
Friendly ping! This issue seems to be affecting a number of projects.

[2018-06-21 04:24] hawkingrei opened #5440 "add readtimeout for remote cache"
We have a large repo. but sometimes it will wait for a long long time to complete or fail to download remote cache when its building Into the final stage.
the log is look like this

[code]
but in the .bazelrc. we have configured the timeout

[code]

so I check the code about remote_timeout. I only find the [ChannelOption.CONNECT_TIMEOUT_MILLIS](https://github.com/bazelbuild/bazel/blob/ff008f445905

[2018-06-21 06:30] davido opened #5441 "Cannot build Gerrit with Java 9 on Bazel from HEAD"
With this CL applied: [1], trying to build gerrit on Bazel@HEAD (eb587075b0d6ffab1cf9e69ede1b7e547905e547) failing to build gerrit:

[code]

[1] https://gerrit-review.googlesource.com/c/gerrit/+/147234

[2018-06-21 06:49] cushon commented on #5441
You need to set `--host_java_toolchain=@bazel_tools//tools/jdk:toolchain_java9` too.

[2018-06-21 06:52] davido commented on #5441
Thanks, I missed it.

[2018-06-21 06:52] #5441 closed

[2018-06-21 08:44] laszlocsomor opened #5442 "Windows, Bazel at HEAD: non-fatal java.nio.file.NoSuchFileException in --batch mode"
### Description of the problem / feature request:

Bazel built from HEAD (https://github.com/bazelbuild/bazel/commit/5a9befc5602e71f7512074c303afbdcff5617cca) reports a (non-fatal) java.nio.file.NoSuchFileException at startup.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

1. Build Bazel at https://github.com/bazelbuild/bazel/commi

[2018-06-21 09:11] laszlocsomor commented on #5442
Bisected, culprit is 7c49bd9c73385db84e678469aa7e6a5bb801c28a.

[2018-06-21 09:12] laszlocsomor commented on #5442
/cc @buchgr , this week's sheriff
/cc @meteorcloudy , we saw this issue in your presubmit too

[2018-06-21 09:15] laszlocsomor commented on #5442
The culprit commit seems completely unrelated. I think it just surfaced a latent bug.

[2018-06-21 09:17] meteorcloudy commented on #5442
Thank you for debugging this!

[2018-06-21 09:54] meteorcloudy commented on #5442
@laszlocsomor I wonder why this test is not failing at HEAD. See https://buildkite.com/bazel/bazel-bazel

[2018-06-21 09:56] laszlocsomor commented on #5442
@meteorcloudy : It only happens in `--batch` mode. It does not happen in server mode, not even on server startup.

[2018-06-21 09:57] meteorcloudy commented on #5442
I see!

[2018-06-21 10:00] laszlocsomor commented on #5442
/cc @cvcal

[2018-06-21 12:44] buchgr opened #5443 "Split up //src/test/java/com/google/devtools/build/lib/skylark:SkylarkTests"
This test sometimes takes up to 15 minutes on our CI. It would be great if it could be split up into smaller targets.

[2018-06-21 13:02] laszlocsomor opened #5444 "Windows: Bazel client is slow"
### Description of the problem / feature request:

This is an umbrella bug for Bazel client performance tuning on Windows.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Bazel on Windows feels a lot slower than on other platforms. Let's find out why and speed it up.

### What operating system are you running Bazel on?

Windows 10,

[2018-06-21 13:15] meteorcloudy commented on #5413
Hi, @johnynek We had a reason not to create classpath jar during build time, please see https://github.com/bazelbuild/bazel/issues/2242#issuecomment-275090032

[2018-06-21 13:18] ccl0326 commented on #3851
I'm seeing this too, and this error is a little obscure.

[2018-06-21 13:50] brandjon commented on #5398
I'm -1 on this for several reasons.

1. Imported symbols no longer necessarily have a distinct syntactically binding occurrence. In `load("//foo:bar.bzl")`, the string `"//foo:bar.bzl"` doubles as both the import string and the binding location of the symbol "bar".

2. Adding new imports in the same line is non-monotonic. Changing it to `load("//foo:bar.bzl", "baz")` doesn't just add the import of

[2018-06-21 14:07] bweston92 commented on #2733
Any update on using Jenkins with caching for Bazel?

[2018-06-21 14:18] rongjiecomputer commented on #5427
You need to import `py_proto_library` from protobuf. Add `load("@com_google_protobuf//:protobuf.bzl", "py_proto_library")` at the beginning of the `BUILD` file.

[2018-06-21 16:10] mhlopko commented on #4463
Header created by a genrule should be fixed by https://github.com/bazelbuild/bazel/commit/dc986d290bad8a76d3429f73c8244376b4c59494 (not yet in released bazel).

[2018-06-21 17:02] hawkingrei commented on #5440
I use the [greenhouse](https://github.com/kubernetes/test-infra/tree/master/greenhouse) as remote cache server.

[2018-06-21 17:19] kwiesmueller opened #5447 "Build not caching correctly to remote server due to unknown reasons"
### Description of the problem / feature request:

When building our project the initial build takes quite some time due to dependencies on google api libs and kubernetes client. We are building on Google Cloud Build and are getting timeouts when building there which we tried to resolve using a remote cache (Cloud Storage) as cache and we hoped to speed up our builds.

Somehow the builds keep fail

[2018-06-21 19:15] BenTheElder commented on #5440
Heh, it's possible there's an issue in greenhouse, I was just about to open a bug for [this exact problem](https://github.com/kubernetes/test-infra/issues/8405).
My instinct is also that we need a read timeout in bazel though, even if there does turn out to be a bug in greenhouse.

/cc @buchgr

[2018-06-21 20:06] sesmith177 commented on #5163
we are working on porting a large bazel c++ project (https://github.com/envoyproxy/envoy/issues/129) to Windows and are running into this issue (cl.exe command line larger than 32,768 characters) as well

[2018-06-21 20:38] parsnips opened #5449 "http_file executable fails to make file executable"
### Description of the problem / feature request:

An `http_file` with `executable = True` fails to make file executable.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Workspace
[code]

### What operating system are you running Bazel on?

OS X 10.13.2 (17C88)

### What's the output of `bazel info release`?
[code]

### What's the o

[2018-06-21 20:56] parsnips commented on #5449
Rubber ducked myself...

[code]

[2018-06-21 20:56] #5449 closed

[2018-06-22 00:18] BenTheElder commented on #5440
Also /cc @ixdy

I can provide more details if needed but basically we have very similar configs and we see that sometimes the build will time out after a long time while waiting on the remote cache. We are on bazel `0.14.0`.

[2018-06-22 03:36] dhalperi commented on #2146
Wondering if there's any progress on a workaround for this issue. It's not been too hard so far to limit ourselves to JUnit 4.10 features, but we keep having to "downgrade" tests to more complex expressions solely to be able to run them in Bazel.

(We're using `junit_tests` copied from Gerrit, recommended here: https://github.com/bazelbuild/bazel/issues/2539#issuecomment-329844154)

[2018-06-22 04:55] davido commented on #5441
@cushon Is it actually necessary to switch locally to Java 9? If I run the build without switching locally to java 9, then the build is failing in GWT compile step (after running for quite a while and is almost ready), with:

[code]

The source code is here:

[code]

and the command is constructed like this:

[code]

If I invoke the build with java 9 as toolchains but java 8 as enabled system java

[2018-06-22 05:11] cushon commented on #5441
Bazel uses the system JDK as the default target javabase, which you said is JDK 8. `"_jdk": attr.label(default = Label("//tools/defaults:jdk"))` is implicitly using `cfg = "target"`, i.e. the target javabase.

If the GWT rule is using that JDK during the build, it should be setting `cfg = "host"`.

[2018-06-22 05:54] davido commented on #5441
If I add:

[code]

I still getting the same failure. Shouldn't there be a way to reference Java 8 runtime included in Bazel@HEAD? So that GWT compile would work even if system java runtime is currently Java 8?

[2018-06-22 06:02] cushon commented on #5441
I'm not sure why that doesn't work, but the `//tools/defaults` package is best avoided and may be causing issues here. Does using `@bazel_tools//tools/jdk:current_java_runtime` instead make a difference?

And is there a way I can reproduce the error you're seeing?

[2018-06-22 06:10] davido commented on #5441
If I change to use @bazel_tools//tools/jdk:current_java_runtime, like this:

[code]

then it doesn't work:

[code]

Sure, nothing simpler than that.

0. Build bazel from HEAD
1. Clone gerrit master
2. Apply this series: [1] of two changes on recent master
3. Leave system Java to Java 8
4. Run:

[code]

This would fail with: [2].

* [1] https://gerrit-review.googlesource.com/q/topic:%2522java-9%252

[2018-06-22 06:34] cushon commented on #5441
The issue is that the rule is hard-coding the path to the JDK as `external/local_jdk/bin/java`, which is the system JDK not the embedded JDK. This should fix it:

[code]

[2018-06-22 07:14] davido commented on #5441
Thanks!

Embedded JDK was added only recently in Bazel. The minimu supported Bazel version in gerrit is 0.14.0. What is the minimum required Bazel version where we would be able to safely apply that change above?

[2018-06-22 09:18] mhlopko commented on #5163
I wrote a doc proposing unifying C++ actions with Args (what all other actions use): https://docs.google.com/document/d/11DDjHQfCY3I1kO7w0PusjCoaqmZUQQajd42HDS0F3dI/edit#heading=h.4nax2orizccp

[2018-06-22 11:05] buchgr commented on #5057
@RNabel

I can now see that the wording is unfortunate. We graduated the flag to non-experimental by enabling it by default. It's in fact now a no-op, when using the remote cache. We kept it in for the 0.15.0 in order to not break any builds.

[2018-06-22 11:38] th0br0 commented on #1118
Could the code coverage approach also consider an interface for setting up static analysis tools (e.g. `clang-tidy`)?

[2018-06-22 12:10] #4239 closed

[2018-06-22 12:11] drigz commented on #3989
Looks like this was fixed by https://github.com/bazelbuild/bazel/commit/f482d9e74e93c1cb13ca8eec026b0e7f62f8d224.

[2018-06-22 12:48] mhlopko commented on #5092
Found the culprit for the original issue (srcs + hdrs together). Fix is in the pipeline. I'll still have to look into the second issue after the first fix it's submitted.

[2018-06-22 12:58] mhlopko commented on #5372
I didn't try to repro, but it looks like a duplicate of the first part of #5092. @pylaligand is it possible that you have private headers in the directory artifacts in srcs? If yes, the fix is in the pipeline. If no, I'll have to reproduce this issue.

[2018-06-22 13:03] pylaligand commented on #5372
Yes, I had headers in the tree artifact. Everything worked fine when I moved these headers to `hdrs` instead - which was the correct thing to do anyways as the headers were supposed to be public.

[2018-06-22 13:06] mhlopko commented on #5372
Great, no need to repro then :)

[2018-06-22 13:15] buchgr commented on #4663
@jin yep I am working on that.

[2018-06-22 13:33] mhlopko commented on #3592
So removing EXEC_ORIGIN is pending a small internal migration, but not too hard. Then I can replace it with ORIGIN in [CppActionConfigs](https://source.bazel.build/bazel/+/62dd5115e6abfd807e5ed7579e4bcf97fb05b6b1:src/main/java/com/google/devtools/build/lib/rules/cpp/CppActionConfigs.java;l=6200. Until then the workaround is to define your own `runtime_library_search_directories` feature like @dapi

[2018-06-22 14:05] katre commented on #3867
Pinging @lberki since hopefully he knows about proto rules.

[2018-06-22 14:11] mhlopko commented on #5198
* Re: Backwards work: we don't propagate features currently, but that would be a simple change. I would want to have multiple feature types then, because not all features are meant to be used transitively, and not all are meant to be used on targets directly.

* Re: "least amount of flags": I see your point, and I actually agree. Writing a good crosstool (that has modules, thinlto, can verify head

[2018-06-22 15:53] cushon commented on #5441
The host/target distinction is the important one here, not that the host JDK happens to be an embedded JDK. I confirmed that it also works with Bazel 0.14 (I did a `build :release` using a system JDK 8 and no additional flags).

[2018-06-22 16:58] buchgr commented on #4663
update: it's been enabled for bazel postsubmit pipeline where we don't use remote caching.

[2018-06-22 17:53] rohanjoyce commented on #4411
This should be fixed since https://github.com/google/googletest/commit/ba96d0b1161f540656efdaed035b3c062b60e006

[2018-06-22 18:18] deadmoose opened #5452 "Too many maven_jar()s handled in parallel"
Currently running `0.14.1` on ubuntu. Seeing similar on my mac with `0.12.0-homebrew`

I've got some projects with moderately sized webs of maven dependencies, and an initial build brings my machine to its knees by processing all the `maven_jar` declarations in parallel.

Example repository: https://github.com/deadmoose/billions_of_mavens

That's used slightly modified [bazel-deps](https://github.

[2018-06-22 18:33] jasharpe commented on #5433
We've encountered a very similar issue occasionally (it disappears randomly):

[code]

In our case it's a version of Bazel built from source at a320e4460f35767da7fc8eb824ce1f4b304b5e0f

We're just building a simple hello world C++ program:

[code]

BUILD:

[code]

[2018-06-22 18:41] petroseskinder commented on #5452
@johnynek

[2018-06-22 18:49] johnynek commented on #5452
we don't use maven_jar internally. It calls out to maven and is CRAZY slow.

Actually, we just use http_jar (a minor modification that also pulls the source). That seems to work okay.

I don't think the skylark maven_jar is actually usable. I don't know if anyone is actually using it in production with a lot of jars.

cc @ianoc

[2018-06-22 18:56] ianoc commented on #5452
We have some repo’s using maven jar, but not the one here. This is the skylark maven jar and as @johnynek mentions it spawns lots of copies of maven and isn’t usable. If you use the native.maven_jar instead which should be a drop in replacement I think you’ll have a much better time

[2018-06-22 19:00] jin commented on #5452
cc @aehlig @dslomov

[2018-06-22 19:28] jin commented on #5452
Consider using `jvm_maven_import_external` with `load("@bazel_tools//tools/build_defs/repo:jvm.bzl", "jvm_maven_import_external")`. This is available in HEAD Bazel.

Some numbers on my 6 core workstation on billions_of_mavens:

With `native.maven_jar`:

[code]

With Skylark `maven_jar` that shells out to Maven:

[code]

and this is with a manual SIGKILL after 5 minutes. Also ground my machine to a

[2018-06-22 19:30] jin commented on #5452
The changes to `declare_maven` workspace.bzl in bazel-deps would look like this:

[code]

[2018-06-22 19:37] jlisee commented on #4335
I have another use case that might increase interest.  In some complex system you might have plugins and external configuration files that expression relationships directly encoded in BUILD files.  They can be modeled by a query expression, or a suitably complex list of thems.  Right now I have to execute multiple "bazel build" commands with varying `--build_tag_filters` options in order to achiev

[2018-06-22 19:41] johnynek commented on #5452
note that hash also includes a url in the `"repository"` key, so you can use that in addition to any other urls you want, e.g.:

https://github.com/johnynek/bazel-deps/blob/master/3rdparty/workspace.bzl#L17

[2018-06-22 19:47] ittaiz commented on #5452
@jin I seem to remember external dependencies are sequential and not parallel. I guess I’m wrong that all of it is sequential but I assume there is still a sequential part.
Is that right? Can you say what’s sequential and what’s parallel?

[2018-06-22 20:27] deadmoose commented on #5452
I wound up having to swap to the skylark maven_jar because of private repos + authentication. Ditto for why I can't use http_jar in its place :/

It also solved another problem I was having where one bazel+maven project referenced another & had overlapping dependencies. The native maven_jar rule would blow up on duplicate declarations whereas the skylark one coped. (Ignore, for the moment, the fac

[2018-06-22 20:39] jin commented on #5452
@ittaiz That's my understanding too, although it may have changed in recent development. @dkelmer do you have any idea?

[2018-06-22 20:44] ianoc commented on #5452
For the latter case you can check if the target has already been registered and skip it. (For similar reasons I’ve had to do something like that before. ).

jvm_import_external might work for you, but if not A repository rule would probably be a reasonably simple option for the former issues too. If you can presume the machines have curl installed. It can probably do the auth/fetch for you. The la

[2018-06-22 22:19] deadmoose commented on #5452
@ianoc do you have a pointer at a good example of checking and skipping? I've been meaning to find time to cuddle up with the docs to see how all the repo stuff works; I really miss google3 just vendoring in the universe so I don't have to think about it...

And yeah, worst case I suppose I could roll my own repository rule that curls out to get stuff, but I'm missing what that would buy? Wouldn't

[2018-06-23 01:38] igorgatis commented on #145
I managed to make a more lightweight version of Kythe's bazel-arcanist integration. It uses --build_event_json_file and it is (IMHO) more developer friendly because it shows progress using bazel's output: https://github.com/igorgatis/bazel-arcanist

[2018-06-23 10:08] pylaligand opened #5456 "Add a "deps" attribute to cc_import"
### Description of the problem / feature request:

This is a feature request to add a `deps` attribute to `cc_import`.

### Feature requests: what underlying problem are you trying to solve with this feature?

Some prebuilt libraries have public dependencies on other libraries, by using these libraries' public headers in their own public headers. There currently does not seem to be a way to expres

[2018-06-23 16:29] jin commented on #5427
Thanks @rongjiecomputer for the answer! Please ask questions in StackOverflow in the future. Closing this now.

[2018-06-23 16:29] #5427 closed

[2018-06-23 19:56] raliste commented on #200
Was the fix merged into bazel? My only workaround is setting the python_path flag to /usr/local/bin/python3

[2018-06-23 20:10] rofl0r opened #5458 "dependency on JAVA sucks"
### Description of the problem / feature request:

### Feature requests: what underlying problem are you trying to solve with this feature?

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

### What operating system are you running Bazel on?

### What's the output of `bazel info release`?

### If `bazel info release` returns "developm

[2018-06-23 20:19] rofl0r commented on #5458
another aspect is that a full JAVA install is huge, taking up more than 100MB on a harddrive. this is hardly justifiable for a build system which one uses to translate a couple .c files into object files. compare to GNU make which can be bootstrapped on any OS with nothing but a POSIX compliant shell and a C compiler and then takes up like 1-2 MB MAX.

[2018-06-24 00:28] jbduncan commented on #5458
I _think_ that's arguable? OpenJDK has been a thing for I don't know how long now, but years at least. :thinking:

Hmm. I understand that _lots_ of other programming languages also suffer from this problem. I could be wrong about this, but I recall that languages like Go, Rust and Kotlin also require earlier-version binaries to build current/future ones.

This I won't argue. https://bootstrappable

[2018-06-24 00:33] jbduncan commented on #5458
May I also add that just to migrate away from Java to some other platform will _probably_ take many, many man-hours, to put it mildly. :)

[2018-06-24 01:06] rofl0r commented on #5458
I seem to recall google recently lost the lawsuit against oracle?

yes, this is becoming a really annoying problem. out of this list, only go can be bootstrapped in a reasonable amount of time/work. one of the worst cases is haskell's GHC.

hey, that's a nice link! thanks :+1:

these days laptops usually ship with 256 GB SSD. but install sizes that big are also a problem for VMs (i just installed

[2018-06-24 11:14] excitoon commented on #5419
Hi @cushon . Thank you for your attempt. :) The idea is good, but selects are not iterable. :)
Theoretically, I could decompose selects into custom iterable objects in Skylark and then compose it back after `collection.uniq`, like this (actually, we already use this approach for `pkg_tar`, which does not allow to have multiple copies of the same targets):
[code]

But that decreases readability a l

[2018-06-24 12:07] aszinovyev commented on #258
I copied and slightly rearranged all necessary files from [Kythe](https://github.com/google/kythe) to generate `compile_commands.json` and run clang-tidy: https://github.com/aszinovyev/bazel-compilation-db.

@siddharthab Your approach didn't quite work for me. `compile_flags += cpp_fragment.cxx_options(ctx.features)` in `aspects.bzl` overrides my copts. Maybe you want to include these flags before

[2018-06-24 15:53] siddharthab commented on #258
Thank you for the feedback. It's an easy fix if that's the only problem.

[2018-06-24 19:44] linengmiaoo opened #5459 "compile.sh - The system is out of resources."
Hello

I am trying to compile bazel from source on my NVIDIA Jetson TK1.
When trying to run compile.sh I get the following error:
[code]
Initially I thought I was somehow running out of RAM, so I added 4Gb of swapmemory. But that still didn't work.
So based on [this post on github](https://github.com/bazelbuild/bazel/issues/1308#issuecomment-221405546) in vim scripts/bootstrap/compile.sh I changed

[2018-06-24 20:34] jin commented on #5422
cc @philwo @jmmv

[2018-06-24 21:37] philwo commented on #5422
Could you please check if you're using the flag `--sandbox_debug` (maybe in your ~/.bazelrc)? In almost all cases where this issue was reported, users were using this flag (usually accidentally left over from debugging an issue some time ago). If you use the flag, Bazel keeps the sandbox directories around so that users / devs can inspect their contents.

If the flag is not used, Bazel deletes san

[2018-06-24 21:46] mobileink commented on #5422
On Sun, Jun 24, 2018, 4:37 PM Philipp Wollermann <notifications@github.com>
wrote:

Yep. I pretty much always so that.

Nope.

What you describe makes sense to me. If you tend to use --sandbox_debug you
should do a little expunging once in a while. I think the "fix" is just a
little more documentation. Or maybe that info is there and I just didn't
see it. ;)

Thanks!

[2018-06-24 21:53] mobileink commented on #5422
On Sun, Jun 24, 2018, 4:46 PM Gregg Reynolds <dev@mobileink.com> wrote:

Maybe better, since nobody reads documentation: when --sandbox_debug is
used, print some kind of terrifying warning to alert the user to the
side-effect of leftover stuff. Not sure what it should say, maybe something
like "when you're done with sandbox_debug you should prolly expunge"?

[2018-06-24 23:14] lberki commented on #200
/cc @brandjon

[2018-06-24 23:37] jbduncan commented on #5458
Maybe I'm naive, but I don't (yet?) see any negative impact on the copyright-ability of APIs or the Java world in general as a result of the lawsuit.

And maybe I'm too hopeful, but it looks to me that the EFF are working to reverse the decision, from what I skimmed over at https://www.eff.org/cases/oracle-v-google.

But all this said, I am not a lawyer, so I really have next to no idea what I'm t

[2018-06-24 23:47] jbduncan commented on #5458
Sure. But unless someone on the Bazel team has something to add to all this, it's not clear to me that these issues could reasonably be tackled by the Bazel team...

_Maybe_ with Google's and Oracle's combined resources, issues like the Oracle JDK/OpenJDK's installation size and bootstrapping the JVM from source could be fixed. But I'm assuming that (1) organisations like Eclipse OpenJ9 and GraalV

[2018-06-25 00:08] petemounce commented on #5340
0.14.1 out on chocolatey.

[2018-06-25 02:30] jbduncan commented on #5458
Oh, of course I forget that as of Java 9, Java has both a module system (the JPMS) and `jlink`, which when used together can create slimmed-down Java binaries. So if/when Bazel gets around to modularising its code base, the size issue should be significantly reduced @rofl0r.

[2018-06-25 08:42] buchgr commented on #5458
We are aware that binary size is a problem for some users. We are experimenting with various ways to reduce the JDK dependency in size (modules) as well as building a static binary (Graal). The later one sounding very attractive to me, because it also eliminates dead code from third party dependencies. Some of the points you two are raising are legit and rest assured that we are thinking about/wor

[2018-06-25 08:42] #5458 closed

[2018-06-25 09:31] cayman1021 commented on #5459
Same issue here until I set it to a larger size: "**-J-Xms384m -J-Xmx512m**". However, now I got another problem. It's another issue and won't be mentioned here.

My hardware: Raspberry Pi 3 Model B + Raspbian Stretch

[2018-06-25 12:14] mhlopko commented on #5456
Good point, we'll fix it. But to save cycles let's do so only after `cc_import` is in Skylark (blocked by #4570).

[2018-06-25 13:29] #1013 closed

[2018-06-25 13:30] meteorcloudy commented on #3418
This issue should already be fixed by https://github.com/bazelbuild/bazel/commit/5c4f3b59fb4aa06da2c368c764cf0d9056ab287a

[2018-06-25 13:30] #3418 closed

[2018-06-25 13:30] mhlopko commented on #1013
\o/

[2018-06-25 13:52] katre opened #5462 "Java rules should use toolchains and platforms"
This is a tracking issue for the effort to rework the existing Java rules to support toolchain resolution.

[2018-06-25 13:58] mhlopko commented on #5340
Can this issue be closed now?

[2018-06-25 14:02] mhlopko commented on #5346
Friendly ping, plus I can help if needed, this is close to my usual playground :)

[2018-06-25 14:04] meteorcloudy commented on #5340
Yes.

[2018-06-25 14:04] #5340 closed

[2018-06-25 14:19] mhlopko commented on #5336
Since the 0.14.1 release is out, can this be closed?

[2018-06-25 14:20] mattklein123 commented on #5336
If you want? Though don't you have to figure out why it hangs?

[2018-06-25 14:22] mhlopko commented on #5383
This is fixed now (and the CI is bright green :)

[2018-06-25 14:22] #5383 closed

[2018-06-25 14:24] mhlopko commented on #5336
I believe the fix was to hide docker sandbox behind a flag (https://github.com/bazelbuild/bazel/commit/c909639035b7e064bfeda48887eb7783f20843c3)

@lberki @dslomov is that correct?

[2018-06-25 14:26] katre opened #5463 "Issue locating runfiles directory for toolchains dependencies"
Originally reported by @johnynek, during testing of https://github.com/bazelbuild/rules_scala/pull/530

If you take the PR, and sync the rules_scala repo to commit 2071aa4, and run `bazel clean && bazel build //src/...`, you get an error:
[code]

Oddly, syncing to the parent commit (afa6403) does not produce this error.

There's nothing obvious about the changes in 2071aa4 that would affects the r

[2018-06-25 14:28] mhlopko commented on #5336
Fair point, then I'd change the title of the bug and lower the priority. Assignees? Wdyt?

[2018-06-25 14:30] mhlopko commented on #5410
Oh it's bazel with downstream projects, let me reopen and double check once buchgr@ fixes the issue that dominates there.

[2018-06-25 14:37] mhlopko commented on #5412
It appears to me that this is an issue to be reported on the Tensorflow repo (that's where the git_configure.bzl is implemented). And it looks like a problem is with your python binary, so you can start debugging there:

`/home/automator/.cache/bazel/_bazel_automator/1376e9d23e5a9ca94a937b0adecd0263/external/local_config_git/home/automator/Documents/Anaconda/anaconda3/bin/python" (in directory "/h

[2018-06-25 14:37] #5412 closed

[2018-06-25 14:41] mhlopko commented on #5421
I belive @buchgr has fixed this already. Please reopen if I'm wrong. Thanks!

[2018-06-25 14:41] #5421 closed

[2018-06-25 15:05] katre commented on #5463
The error "Cannot locate runfiles directory. (Set $JAVA_RUNFILES to inhibit searching.)" is from the bash Java launcher script that is wrapping scalac. Looking further to see why this problem is happening.

[2018-06-25 15:14] lberki commented on #5336
It'll be taken care of by @philwo when he's back at work.

[2018-06-25 15:19] katre commented on #5463
And now I can reproduce this on Linux, when I couldn't last week.

[2018-06-25 15:23] ittaiz commented on #5336
Awesome. We definitely need this feature...
On Mon, 25 Jun 2018 at 18:14 lberki <notifications@github.com> wrote:

[2018-06-25 17:20] jin commented on #4047
I stumbled upon https://github.com/quittle/bazel_android_sdk_downloader - may be useful for some of you.

[2018-06-25 17:22] jin commented on #3829
Closing due to inactivity, and please open the issue in Tensorflow's repository since it's related to their demo app.

[2018-06-25 17:22] #3829 closed

[2018-06-25 17:29] aj-michael commented on #4047
@jin note that that solution has the same problems as the http_archive solution I posted in November.

See https://github.com/quittle/bazel_android_sdk_downloader/blob/master/rules.bzl#L90:

[2018-06-25 17:37] katre commented on #5463
Okay, I've tracked down the symptoms here:
* The scala_library rule declares the toolchain dependency on @io_bazel_rules_scala//scala:toolchain_type
* The scala_toolchain rule depends on @io_bazel_rules_scala//src/java/io/bazel/rulesscala/scalac, which is a java_binary target.
  * scala_toolchain gets the binary as ctx.executable.scalac, and saves that in ToolchainInfo
* scala_library_impl (eventu

[2018-06-25 18:42] jhnj commented on #5463
Me and @andyscott encountered a similar problem last week while trying to pass an executable through a provider. I was able to get this building using the same fix we used for that. Not sure if this is of any help when fixing this. Anyways, here are the steps I used:

- Pass `scalac` as a Label instead of File in the toolchain (`ctx.executable.scalac` -> `ctx.attr.scalc`)
- Get the executable as w

[2018-06-25 18:48] katre commented on #5463
@jhnj Thanks for the pointer, that does seem to work for me. I hadn't realized that the inputs also needs the runfiles_manifest.

This seems to be a consequence of the fact that java_binaries (unlike cc_binaries) aren't a single file, but a launcher and a runfiles directory.

I am seeing another error:
[code]

and I am trying to see if I can figure that out.

@johnynek Any ideas about what's wrong

[2018-06-25 19:02] johnynek commented on #5463
@katre I don't know what the issue is there. focused_zip_importer is a library used with thrift generation, so the fact that it can't find ScalaCInvoker does not stand out as special (except that thrift generation happens in macro generally:
https://github.com/bazelbuild/rules_scala/blob/master/twitter_scrooge/twitter_scrooge.bzl#L292
)

[2018-06-25 19:04] katre commented on #5463
focused_zip_importer is the specific target I picked to test so I wasn't getting breakpoints on every target. I'm not sure why it can't find ScalaCInvoker.

[2018-06-25 19:49] katre commented on #5463
I've attached a patch that makes the original PR seem to work (I can't figure out the ScalaCInvoker issue, but the scalac worker is actually starting).

I think it'd be nicer if toolchains just automatically supplied their runfiles to actions, but this needs some thinking and I'll want to discuss it with others on the team. Using manual runfiles handling like in this patch has the advantage that y

[2018-06-25 19:49] katre commented on #5463
[scala-runfiles.patch.txt](https://github.com/bazelbuild/bazel/files/2134513/scala-runfiles.patch.txt)

[2018-06-25 19:53] johnynek commented on #5463
Thanks for looking into it.

I would really like it to be able to work as zipper does: we shouldn't have to care if a target executable is a java rule or a C++ rule. It should be transparent. Otherwise, refactoring upstream code can break downstream.

[2018-06-25 20:10] linengmiaoo commented on #5459
@cayman1021  I still get "command not found" when I use the same values as  you do

[2018-06-25 20:14] rofl0r commented on #5458
"sucks" is considered offensive too these days ? if so i can change the title of the issue, and you could reopen it, @buchgr
note that it's almost impossible not to offend anybody nowadays, so the best option is to stop caring...

[2018-06-25 22:09] gregestren commented on #5419
FYI see https://github.com/bazelbuild/bazel/commit/497ef110c344b2a309210339f125916f355530f9 for explanation of the current semantics.

What exactly makes this a false positive? Unless we dig deeper into what `//:x86_32_windows` and `//:x64_windows` mean, there's a real possibility of the label being duplicated. We don't really know for sure until analysis is happening and we know precisely which `

[2018-06-25 22:20] cvcal commented on #4502
Quick update for those following this issue - all the preparatory refactoring I wanted to do is done, internally and externally, so the next step is to actually change the order of imports and break the current master/user bazelrc split.  I'll be taking @drigz's suggestion to warn about old files that are no longer going to be loaded, along with a general warning about the change in order. To reca

[2018-06-25 22:37] gvacaliuc opened #5464 "use of UnionFileSystem causes Auto-Configuration Error searching for C/CXX toolchain"
### Description of the problem / feature request:

Using a [trivial example](https://github.com/gvacaliuc/bazel/commit/e2a8f2853d76ec8f84d7733dadf7c48ca40cbc75#diff-7dff227a8d623e0469c26b9316161435R61) of `com.google.common.build.lib.vfs.UnionFileSystem` as Bazel's filesystem leaves Bazel unable to locate the c/c++ toolchain (building the example from [java_tutorial in examples repo](https://githu

[2018-06-25 22:40] gvacaliuc commented on #5464
Code in question:

[code]

[2018-06-25 23:37] gvacaliuc commented on #5430
It looks like this was resolved in bda12a1b239235de0169b14760214e43f839bed8.

[2018-06-25 23:37] #5430 closed

[2018-06-26 02:36] ash2k commented on #2176
Having to add `strip_prefix = "."` to `pkg_tar` to preserve the directory structure is really weird.

[2018-06-26 03:11] hawkingrei commented on #5440
I find this code include the [ReadTimeoutHandler](https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/remote/blobstore/http/HttpBlobStore.java#L233).but why doesn't it work?

[2018-06-26 04:31] johnynek commented on #4432
Any update on this?

@ittaiz isn’t this an alternative the jars2labels map scala rules is maintaining at analysis time? I think this is at build time instead.

[2018-06-26 04:38] benjaminp commented on #5463
`SkylarkActionFactory.run` will magically add the the runfiles trees of executable rule attributes to the spawn inputs if it sees the corresponding executable in `inputs` (deprecated) or `tools`. That behavior is probably what's missing for toolchains; if you arranged for the executable toolchain attributes to end up in `SkylarkAttributesCollection.executableRunfilesMap`, the Scala rules would pro

[2018-06-26 05:54] davido commented on #4502
Thanks for the update. Can you provide a migration path and backwards compatibility for those projects (e.g.: Gerrit Code Review) that currently depend on %workspace%/tools/bazel.rc?

[2018-06-26 07:19] drigz commented on #4502
@davido We use both tools/bazel.rc and .bazelrc. My idea is to move it to %workspace%/.bazelrc and add `import %workspace%/.bazelrc.user`, then tell devs to `mv .bazelrc .bazelrc.user` before pulling that change.

An alternative would be to run `echo "import %workspace%/tools/bazel.rc" >> .bazelrc` when you see the warning about tools/bazel.rc not being loaded, but I'd expect people to miss the wa

[2018-06-26 07:37] lberki commented on #5430
(/me watches this thread fly by)

I'm glad that this got fixed. For an unrelated reason, mind you, but never look the gift horse in the mouth :)

[2018-06-26 10:54] buchgr commented on #5346
@mhlopko you can have it :P. I think @c-parsons would be right person to take a look at this.

[2018-06-26 12:34] buchgr commented on #5057
released! @vbatts @petemounce @ilovezfs

[2018-06-26 12:36] ilovezfs commented on #5057
https://github.com/Homebrew/homebrew-core/pull/29447

[2018-06-26 12:47] #5372 closed

[2018-06-26 13:08] excitoon commented on #4569
Hi @agoulti .

How are you doing?

Kind regards,
Vladimir.

[2018-06-26 13:11] ilovezfs commented on #5057
0.15.0 shipped in Homebrew.

[2018-06-26 14:05] RNabel opened #5466 "cc_proto_library unusable with -Werror in CROSSTOOL"
### Description of the problem / feature request:

Suppress all C++ compilation warnings when compiling the generated C++ code from `.proto` files or allow passing of `copts` to the `cc_proto_library` (related: #4446).

### Feature requests: what underlying problem are you trying to solve with this feature?

The `cc_proto_library` compiles C++ code without allowing copts to be set, the generated C

[2018-06-26 14:36] vbatts commented on #5057
fedora and centos build is kicked off https://copr.fedorainfracloud.org/coprs/vbatts/bazel/build/771133/
Also, I recently started stripping the binary, but was having issues isolating just the debug info from the binary so that could be available for folks interested. Not sure the issue there. But for now, the centos and fedora builds are stripped to 1.5Mb from their 100.5Mb original size :-)

[2018-06-26 15:00] buchgr commented on #5057
@vbatts tell me more? how did you accomplish this?

[2018-06-26 15:41] cvcal commented on #4502
I'm hoping devs won't miss the warning, but yes, adding "import %workspace/tools/bazel.rc" in one of the other files would be the way to keep the old location.

Having both workspace/.bazelrc and workspace/tools/bazel.rc is redundant, so keeping the duality does not make much sense. Hopefully this won't be too disruptive - changing it all in 1 go should be less painful then having additional clean

[2018-06-26 15:58] vbatts commented on #5057
email sent

On 06/26/2018 11:01 AM, Jakob Buchgraber wrote:

[2018-06-26 16:07] c-parsons commented on #5346
This looks weird (so I don't know off the top of my head) -- is it that the tool itself doesn't have appropriate permissions, or that the tool is run and doesn't have appropriate permissions to complete its operations?

[2018-06-26 17:19] jmillikin-stripe opened #5468 "Bazel 0.15.0 breaks C++ linking on MacOS"
### Description of the problem / feature request:
After updating to Bazel 0.15.0, C++ binaries are being linked with the flag `-Wl,-no-as-needed` which does not exist in the MacOS linker.

[code]
[code]

### What operating system are you running Bazel on?

MacOS

### What's the output of `bazel info release`?

release 0.15.0

[2018-06-26 17:23] jmillikin-stripe commented on #5468
It looks like the implementation of `_is_linker_option_supported()` is broken for Apple's Clang:

[code]

[code]

Note that the stderr reports the flag as `-no-as-needed`, but the configuration logic is looking for the `-Wl,` prefixed version.

[2018-06-26 19:12] agoulti commented on #4569
Hi Vladimir,

Thanks for pinging. I didn't realize I was assigned here.
The bug Tobias mentioned was fixed, and Bazel now prints a summary of spawned processes.
That is different from what you seem to need, since it's not by target, and we do not include failures.

Sorry for having you wait so long, it seems there has been a miscommunication about what needs to be done.

I think you should be able

[2018-06-26 19:14] agoulti commented on #4569
@meisterT , could you sanity check my answer and tell us if there's any corner cases I might be missing?

[2018-06-26 19:29] petroseskinder opened #5469 "Documentation: Stale link in the java_binary.jvm_flags attribute."
On the java rule's documentation page, [`java_binary.jvm_flags`](https://docs.bazel.build/versions/master/be/java.html#java_binary.jvm_flags) redirects you to a stale or nonexistent link for $(location) documentation. Here is the exerpt.

The $(location) directs you to https://docs.bazel.build/versions/master/be/java.html#location.
However, there is currently no "location" section on the [java rul

[2018-06-26 21:33] linengmiaoo commented on #5459
Problem solved, I had to capitalize my environment variable: javac to JAVAC. Obviously.

[2018-06-26 21:33] #5459 closed

[2018-06-26 21:36] linengmiaoo opened #5470 "javac: invalid source release:"
Hello

I am trying to build bazel from source on an unsupported architecture.
When executing the compile.sh script I get the following error:
[code]
I simply modified the compile.sh script in scripts/bootstrap in order to allow a higher memory usage by passing it the `-J-Xms256m -J-Xmx384m` parameters like so: https://paste.ubuntu.com/p/NKX3YNzK2g/
Could somebody

[2018-06-26 22:36] cushon commented on #5470
It looks like your patch replaced:

[code]

with:

[code]

Does using upper-case `JAVA_VERSION` fix the issue you're seeing?

Also, the latest version of the bootstrap script has a `BAZEL_JAVAC_OPTS` variable you can set to add additional javacopts: 09222fac7c8851d26e44e087a6beb4ce2ed5dc39

[2018-06-26 22:59] jin commented on #5468
cc @laurentlb (RM)

[2018-06-26 23:20] rongjiecomputer commented on #5466
I want to ask for `defines` in `cc_proto_library` too in addition to `copts`.

One Tensorflow's proto file defines enum values as `NEAR` and `FAR`, but it will conflict with files that include the generated header and `windows.h` because `windows.h` defines macros named `NEAR` and `FAR` too if `NOGDI` is not defined.

Adding `-DNOGDI` to all other targets depending on this `cc_proto_library` will

[2018-06-26 23:21] evantorrie commented on #5057
@vbatts Did you test the resulting build?
After installing the stripped versions from vbatts/bazel (including 0.14.1-2), I get the following error on Fedora 28

[code]
I'm pretty sure the stripping is stripping out the packaged internal binary

[2018-06-26 23:41] nicolasnoble commented on #3977
I believe that since 0.14 has been released, this issue can be closed now, right ?

[2018-06-26 23:59] nevion opened #5471 "0.15.0 breaks debian package creation, _pkg_tar_impl broken?"
### Description of the problem:

```bazel build scripts/packages/debian/bazel-debian``` results in the following error on 0.15.0 ( 2ff8c5fd919ad7316d06c6303e8d7b51315d4c61 )

[code]

It looks like something broke with the way run_shell accepts the tools argument.  The build command works when using on master ( e07a0b8027665e0c02f980149ee4c26eb5543e3f ) and tagged 0.14.1.

[2018-06-27 01:13] soonho-tri commented on #5468
I've hit the same issue, `ld: unknown option: -no-as-needed`. FYI,
 - On OSX-10.12.6 (with `clang-900.0.39.2`), I can reproduce the problem.
 - On OSX-10.13.5 (with `clang-902.0.39.2`), I don't have this problem.

[2018-06-27 01:40] cjhopman opened #5472 "https://www.bazel.build/roadmaps/configuration.html is missing links from its source"
https://docs.google.com/document/d/1p7pdEwqnLOC-ATl-FdyHBJdk4Ae-5GzAYDvpJeMh4tU/edit?ts=5ac517b9# has been deprecated and replaced by https://www.bazel.build/roadmaps/configuration.html but the latter is missing a lot of the links to supporting information that is in the source (ex. https://docs.google.com/document/d/1vc8v-kXjvgZOdQdnxPTaV0rrLxtP2XwnD2tAZlYJOqw/edit#heading=h.wn5pcmdb5tnm).

https

[2018-06-27 06:34] luxe commented on #4077
CROSSTOOL has poor documentation.  I just want to use a newer compiler.  Every CROSSTOOL file I find is ~1,000 lines.

[2018-06-27 07:08] petemounce commented on #5057
Chocolatey is pushed.

[2018-06-27 08:11] RNabel commented on #5466
You may want to add a comment about adding `defines` to https://github.com/bazelbuild/bazel/issues/4446.

[2018-06-27 10:41] RNabel commented on #5468
Can confirm, 0.15.0 working with `clang-902.0.39.2`.

[2018-06-27 11:35] mhlopko opened #5483 "rules_closure and rules_scala broken"
Logs:
* rules_closure: https://buildkite.com/bazel/bazel-with-downstream-projects-bazel/builds/321#b0c136db-7c5b-4b18-bcaa-3e7b5901f5c6
* rules_scala: https://buildkite.com/bazel/bazel-with-downstream-projects-bazel/builds/321#e3d26df4-0aa7-481b-bcb0-ad109997f66e

Transitively breaks:
* BUILD_file_generator: https://buildkite.com/bazel/bazel-with-downstream-projects-bazel/builds/321#11dca332-2171-

[2018-06-27 11:36] mhlopko commented on #5483
CC @lberki

[2018-06-27 12:35] mhlopko commented on #5483
Rules_kotlin affected as well: https://buildkite.com/bazel/bazel-with-downstream-projects-bazel/builds/321#066d88a1-5db6-4cbe-81bf-11ca7f9a8f71

[2018-06-27 12:46] mhlopko commented on #5468
@laurentlb Can/Should we have a patch release for this? I'll work on the fix.

[2018-06-27 14:34] vbatts commented on #5057
@evantorrie I see that. I must have not hit that on the 0.14.1-1 -> 0.14.1-2 upgrade locally because the extracted cache seemed fresh? not sure.
I have an updated/fixed build in the works for 0.15.0 https://copr.fedorainfracloud.org/coprs/vbatts/bazel/build/771662/

[2018-06-27 14:58] invegat commented on #3801
Downloaded and extracted Tag 0.15.0, exact same error as using checkout.  "Must specify PROTOC if not bootstrapping from the distribution artifact"

[2018-06-27 15:31] #3839 closed

[2018-06-27 16:55] pmuetschard commented on #3678
Any updates on this? I see this very frequently. Always with Android native libraries. Below is a session. Note that I did nothing in between bazel invocation. Simply ran it again each time it failed:
[code]

[2018-06-27 17:02] likan999 commented on #4311
I am seeing the same issue when I tried to compile Bazel from source for arm64 within a docker container. It's running on x86_64 host and an aarch64 container using qemu-aarch64-static (user mode emulation). It's consistently reproducible by just download the Bazel source and `./compile.sh` then `output/bazel build -c opt scripts/packages:without-jdk/install.sh`. Adding `--batch` solves the proble

[2018-06-27 17:02] aj-michael commented on #5354
Why is moving android tools out of the binary a blocking issue?

[2018-06-27 18:31] cushon commented on #5483
I think the `rules_closure` issue will be fixed by bazelbuild/rules_closure#276, can someone merge that one?

[2018-06-27 19:06] cushon commented on #5483
I opened bazelbuild/rules_scala#545 for `rules_scala`.

[2018-06-27 20:16] monamimani opened #5485 "Windows: Include checking failed when external repository name contains upper case"
### Description of the problem / feature request:
I am trying to add the lib glm as an external repository but Bazel gives me undeclared inclusion error but if I build it separetly ( in an other workspace) with the same build script it works.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

My folder structure

glmExtBuild
---- WORKS

[2018-06-27 20:52] cushon commented on #5483
`rules_kotlin` doesn't appear to work with JDK 9 `--host_javabase`s. It's not obvious to me what the problem is, I filed: bazelbuild/rules_kotlin#81

[2018-06-27 21:10] jin commented on #5354
@aj-michael renamed it to related. It doesn't block the rewrite, but would be good to also migrate our tools out to tools_android (which @ahumesky is making)

[2018-06-27 22:15] cushon commented on #5483
Update: bazelbuild/rules_scala#545 is merged, bazelbuild/rules_kotlin#81 is being investigated.

CC @dslomov can you help review bazelbuild/rules_closure#276?

[2018-06-27 22:36] jamesonjlee commented on #5046
i had the same issue, I ended up finding the flag `--google_default_credentials`

[2018-06-28 00:10] hsyed commented on #4549
Jetbrains is going to add support to the compiler to produce ABI jars. [Here is the youtrack issue](https://youtrack.jetbrains.net/issue/KT-25128) -- Please chip in case I missed something.

[2018-06-28 03:11] curtismuntz commented on #4383
It looks like some commits have made it into 0.15 that 100% resolve this issue on c++ for me (https://github.com/bazelbuild/bazel/commit/f90ed652e223fffdf3f64cf1d9f49663be540b18#diff-73cc3e84377e7c63ef4406039e060016), but doesn't necessarily fix this for python still.

The new `include_runfiles` parameter to the `pkg_tar` rule will copy over all the required files for both c++ and python, but don'

[2018-06-28 08:48] RNabel commented on #5466
@cgrushko (since you wrote parts of the `cc_proto_library`) would you mind TAL and commenting on a) current plans to improve the `cc_proto_library`, b) what your preferred approach to this issue is, and c) whether https://github.com/bazelbuild/bazel/pull/5467 has any chance of being accepted?

Sorry for directly pinging you, but it would be really awesome if this could be clarified :)

[2018-06-28 09:32] marcohu commented on #5092
@mhlopko  Thanks much for work!

Just tried with HEAD.

`BUILD`
[code]

That works without issues.

But consuming the library still fails. Not sure whether it's just a configuration problem, though. From the the error message (see below), it looks to me as there might already be a way to make it work, but I was not able to. I'm trying to compile the following source file:

`main.cpp`
[code]

`BUIL

[2018-06-28 11:43] drigz opened #5488 "Remote caching docs need updating post-0.15.0"
The docs at https://github.com/bazelbuild/bazel/commits/master/site/docs/remote-caching.md still suggest using:

[code]

but the v0.15.0 release notes say:

[code]

Additionally, the help for --experimental_remote_spawn_cache is unhelpful (from `bazel help build --long`):

[code]

"default: false" combined with the description appears to contradict the release notes, until you notice the `Tags: no

[2018-06-28 11:49] drigz commented on #4395
This has also caused a flake in our continuous build that runs on GCP and uses GCS as a remote cache.

[2018-06-28 11:51] buchgr commented on #4395
@drigz which version of bazel are you running?

[2018-06-28 12:35] #3977 closed

[2018-06-28 12:53] cgrushko commented on #5466
Hey, I unfortunately no longer work on Bazel.
java_proto_library has a similar situation, and perhaps @cushon remembers
what we do there.
@lberki, can you route?

On Thu, Jun 28, 2018 at 11:49 AM Robin Nabel <notifications@github.com>
wrote:

[2018-06-28 12:58] mhlopko commented on #5471
CC @laurentlb to decide if this warrants a patch release.

[2018-06-28 12:58] mhlopko commented on #5471
Pls @laurentlb add appropriate labels and raise priority if yes.

[2018-06-28 13:00] mhlopko commented on #5470
Related: https://stackoverflow.com/questions/51030762/compile-sh-the-system-is-out-of-resources

I believe this can be now closed. Please correct me if I'm wrong.

[2018-06-28 13:00] #5470 closed

[2018-06-28 13:08] ittaiz commented on #4432
The way I understand it (and @tomlu / @cushon  can easily correct me if I'm wrong) the direction java-bazel people are aiming at is moving (or have moved) from jdeps and into having each jar have its own originating label and then the jdeps output can be dropped.
The enforcing tool (I think turbine in the case of java rules and scala compiler plugin in the case of rules_scala) can output a message