[2016-12-12 10:27] damienmg commented on #2216
0.4.2 had several issues with the relnotes. Let's follow-up closely 0.4.3. Also ed7ced0 was rolled-back and rolled-forward, maybe the rollback detection got messed-up.

[2016-12-12 10:28] damienmg commented on #2216
Marking as release blocker so we follow-up during the release.

[2016-12-12 10:35] damienmg commented on #2186
FYI I deleted the docs/designs directory all together.

I still think this option should applies for query but it's probably a not so important feature if we fix the documentation,

[2016-12-12 10:35] nxty2011 commented on #2209
- In fact, after I modified the option `--fat_apk_cpu` to  target architecture, the toolchain changed indeed, and so did the compiling flag.

- What confused me is that it seems in no way could I modify the version of the toolchain and the flags of the compiling process.

- It is somewhat lack for documents of this part in bazel. Quit looking forward.

Thank you.

[2016-12-12 10:37] damienmg commented on #2176
This sounds reasonable to me. Can you ask the question on bazel-discuss@ to see what other thinks?

Wrapping it with a macro for people might be an acceptable workaround for people that complains.

[2016-12-12 10:50] damienmg commented on #1389
That was thought to simplify the update of error-prone. Actually a git submodules or vendoring might be enough. Our approach to vendoring is difficult and we need to reconsider it at some point.

[2016-12-12 10:55] damienmg commented on #2229
FWIW reimaging the slave did fix the breakage but other slave failed to reconnect so I had to reimage them too. I will now re-run the job. I had a bunch of failures on a gerrit test, I don't know if it is related.

[2016-12-12 11:54] dpursehouse commented on #2230
@damienmg Ah, OK, thanks. I checked open PRs and issues here, but completely forgot to check open reviews in Gerrit :)

Will you close this issue when that change lands?

[2016-12-12 12:01] damienmg commented on #2230
Sure let me ask to add the needed info to the PR :)

[2016-12-12 12:12] damienmg commented on #2229
Gosh the three other slave doesn't seem to want to be reimaged:
[code]

/cc @meteorcloudy @laszlocsomor @dslomov

[2016-12-12 12:39] damienmg commented on #1531
/cc @philwo too

[2016-12-12 12:49] damienmg commented on #1654
@ulfjack there is no repro nor clear instruction. Either update the bug or close it. I believe it should be closed since a P1 open since 3 months is probably not a P1

[2016-12-12 13:01] damienmg commented on #1963
@jart this is a known issue and until python configuration is fixed on TensorFlow side, this cannot be fixed.

Anyway not a bazel bug so closing.

[2016-12-12 13:01] #1963 closed

[2016-12-12 13:07] damienmg commented on #1977
/cc @aehlig,

Please try to use `--action_env DYLD_LIBRARY_PATH=${DYLD_LIBRARY_PATH}` to the bazel command line.

[2016-12-12 13:18] damienmg commented on #2228
Git bisect says af878d04 is culprit. Probably just a small test setup that is not correct on some platform (succeed on my ubuntu, fails on my darwin)

[2016-12-12 13:26] klimek commented on #2206
There are multiple questions that you could be asking here:
1. how to include a dependent bazel project in your own bazel project easily
2. how to download / install a released bazel project
Those will require significantly different answers.
For 1) we need to make the c++ builds work better in a virtualized environment; I believe bazel team is working on that in various ways
for 2) I expect this

[2016-12-12 13:28] damienmg commented on #2189
So exact repro:

[code]

Same bug again.

I understand the permission denied, we should allow sandbox program to write to the Logs file. Interface Builder Cocoa touch try to write to the log dir but with sandboxing it is denied.
/cc @hermione521 @philwo

[2016-12-12 13:37] damienmg commented on #2189
Ok I fixed one job with:
[code]

Now trying in ` ~/workspace/Tutorial/BAZEL_VERSION/latest/PLATFORM_NAME/darwin-x86_64/tutorial`

[2016-12-12 13:43] damienmg commented on #2189
The cleaning method is totally unreliable, I suggest deactivating the sandbox until the Log issue is fixed.

[2016-12-12 13:49] damienmg commented on #2189
Rebooting the machine to see if that helps

[2016-12-12 13:52] damienmg opened #2231 "OS X Sandbox should mount ~/Library/Logs and ~/Library/Cache read-write by default"
Most of the tutorial failures come from tools trying to write there and getting permission denied. See #2189 for more context.

[2016-12-12 13:53] damienmg commented on #2231
Assigning to Philip since @hermione521 is busy with coverage.

[2016-12-12 13:58] damienmg commented on #2229
Ok I got a workaround:
restart the machine with a fix that check for C:\bazel_ci existence. I'll sent out the fix separately.

[2016-12-12 14:31] damienmg commented on #2211
@dslomov this seems a bit far-fetched for end of January, do you think this can be done by 0.5?

[2016-12-12 14:37] damienmg commented on #2107
Is this going to happen by end of next month?

[2016-12-12 14:38] katre commented on #2226
@gjasny Can you please comment back with a clearer way to reproduce the issue, possibly via a repository I can clone and try to build? It'll really simplify figuring out what the issue is and how to address it.

Thanks!

[2016-12-12 14:44] katre commented on #2224
I think this will be addressed by @kchodorow's work on handling recursive workspaces, assigning to her.

[2016-12-12 15:08] damienmg commented on #2229
Normally all windows slave are now reimaged. reassigning to current sheriff for follow-up

[2016-12-12 15:29] aj-michael commented on #1819
Documenting a discussion between @ahumesky and I:

This commit was rolledback because it broke Tensorflow's build because they have a `configure` script that runs the Bazel loading phase over their entire project: https://github.com/tensorflow/tensorflow/blob/93812423fcd5878aa2c1d0b68dc0496980c8519d/configure#L27.

Since it is not required to have an Android SDK set up to build Tensorflow, af8ebca

[2016-12-12 15:30] aj-michael commented on #1819
I've filed https://github.com/tensorflow/tensorflow/pull/6225 to clean up Tensorflow's `configure` script.

[2016-12-12 16:06] gjasny commented on #2226
Use macOS and make sure the current file system is not case-insensitive:

[code]

Use bazel 0.4.2
[code]

Clone ``bazel-boost``
[code]

Fetch modular boost
[code]

If you look into ``.../external/com_github_boost_program_options``you see the presence of a build directory:
[code]

Hope that help and thanks for looking into it!

-Gregor

[2016-12-12 16:08] katre commented on #2226
Awesome, thanks, I'll look into it.

[2016-12-12 16:40] aj-michael commented on #746
@kchodorow , @damienmg , I'm confused. The design doc in that bug appears to only be relevant to Skylark repository rules. `android_sdk_repository` is a native rule.

[2016-12-12 17:04] abergmeier-dsfishlabs opened #2232 "InterruptedException in HttpDownloader"
### Description of the problem / feature request / question:

Every second or third build or so I get an `InterruptedException`. Always in a specific `repository_rule`.
The code that breaks is:

    url = "http://ourownapache/libs/adrenosdk-linux-tar.xz"
    rule_ctx.download_and_extract(
      url,
      ".",
    )

This might be a regression in _0.4(.2)_ since we are still working fine at _0.3_.

[2016-12-12 17:23] kmalakoff commented on #2206
@klimek Thank you for confirming! I am more interested in 2.

To clarify on "install via your distribution", I am not looking for an install from source, but a repository of prebuilt libraries that can be pulled from avoiding: 1) bazel needing to be installed on the user's machine and 2) avoiding the compile time. The use case is like with [node-pre-gyp](https://www.npmjs.com/package/node-pre-gyp)

[2016-12-12 20:13] werkt opened #2233 "actionListeners fully invalidate workspaces on query"
If any --experimental_action_listener is specified, a subsequent query (without that option available for that module) causes bazel to perceive the build as being invoked with incompatible options.  A subsequent build of a target with the same --experimental_action_listener specified (and no other modifications) causes the target to be rebuilt with all actions executed, invariably.

* Operating Sy

[2016-12-12 20:39] #1745 closed

[2016-12-12 20:39] #2198 closed

[2016-12-12 20:39] #2201 closed

[2016-12-12 20:47] ahumesky commented on #1386
See https://github.com/bazelbuild/bazel/issues/2222 for java 8 desugaring

[2016-12-12 21:02] ahumesky commented on #2184
For reference, this is where we set up the NDK:
https://github.com/bazelbuild/continuous-integration/blob/79de9267af8135532eab002e6d83d3e97bda96bd/gce/linux-android.sh#L19

[2016-12-12 21:33] aj-michael commented on #1745
Ok, b5f480c should have fixed this once and for all.

[2016-12-12 21:33] jmmv commented on #370
The current theory here is that we lose the in-memory metadata for all files in the action cache, and thus the incremental build has to recompute their digests, which is costly. There may be other things at play here. The plan is to get this fixed by next quarter.

[2016-12-12 21:36] aj-michael commented on #564
I closed this issue a bit too soon. b5f480c was just committed which is also required for `aar_import` to run in the Bazel sandbox.

There is one change remaining, which is to document this rule. Reopening until that is submitted.

[2016-12-12 21:39] aj-michael commented on #561
Ok, as of b5f480c `aar_import` is fully functional so `maven_aar` is fully functional.

See https://github.com/bazelbuild/bazel/issues/561#issuecomment-259458533 for usage details.

[2016-12-12 21:39] #561 closed

[2016-12-12 21:50] ahumesky commented on #2209
With NDK r12, you can select gcc-4.9 with `--android_compiler=gcc-4.9` and clang 3.8 with `--android_compiler=clang3.8`. To change the flags, you can use the [`copts`](https://bazel.build/versions/master/docs/be/c-cpp.html#cc_library.copts) and [`linkopts`](https://bazel.build/versions/master/docs/be/c-cpp.html#cc_library.linkopts) attributes of `cc_library`

[2016-12-12 22:08] aj-michael commented on #2184
Ok, I have a fix for the test. After it is submitted, I will update the continuous-integration setup script.

[2016-12-12 22:11] jart commented on #2232
@kchodorow I've mailed out a CL to you working around this. I added a work around to download() earlier but I forgot to add one to download_and_extract().

However once that CL is submitted, a deeper investigation needs to be done. The root cause is that the code that reflectively calls `@SkylarkCallable` does not handle InterruptedException properly. It would be better if that infrastructure code

[2016-12-13 00:23] katre commented on #2226
Sent https://bazel-review.googlesource.com/7850 to address this.

[2016-12-13 08:24] abergmeier-dsfishlabs commented on #2232
@kchodorow Can you please notify once this got picked so I can apply the workaround to our internal version.

[2016-12-13 08:39] abergmeier-dsfishlabs commented on #2232
Just looking at it, @jart why is `SkylarkRepositoryContext.download` and `SkylarkRepositoryContext.downloadAndExtract` not using the same codepath for downloading?

[2016-12-13 09:05] laszlocsomor commented on #2107
Yes, I think end of January is a realistic goal.

[2016-12-13 09:54] abergmeier-dsfishlabs commented on #2232
So are we having a chance that this gets fixed in a 0.4.3 in end of December or beginning of January? We would like to upgrade to 0.4 but are mostly sticking to 0.3 due to bugs.

[2016-12-13 10:02] laszlocsomor commented on #2216
@iirina: FYI @damienmg's first comment

[2016-12-13 10:04] laszlocsomor commented on #2218
@damienmg: That's a really interesting idea, launching the java_binary in-process. This would mean we save the cost of a JVM startup, but also the app or bazel crashing would crash the other -- not necessarily good.

[2016-12-13 10:10] abergmeier-dsfishlabs commented on #2218
Actually another reason to not use PowerShell is that there seems to be some policy that prevents Scripts from being executed by the user (the usual Windows policy hell). We currently wrap our PowerShell inside of batches to workaround that.

[2016-12-13 10:26] laszlocsomor commented on #1396
Another user is requesting the same: https://groups.google.com/d/msg/bazel-dev/s8gJKk6vpuA/9n0ehEdjCAAJ

@aehlig, do you know who could make a decision about this?

[2016-12-13 10:32] laszlocsomor commented on #2229
Damien, thanks a bunch for looking into this.
Can you explain why checking for `c:/bazel_ci` solves the problem? The log in https://github.com/bazelbuild/bazel/issues/2229#issuecomment-266416697 looks like a 404.

[2016-12-13 15:22] laszlocsomor commented on #2145
Bad news: the Java File API that I was using to resolve short names seems to cache the results of `getAbsolute{Path,File}` and `getCanonical{Path,File}`, so if a previously nonexistent path ("c:/longpa~1") is later created such that the resolution should succeed ("c:/longpathname"), it still doesn't, and similarly if a previously existent path is deleted, the canonical form can still be retrieved.

[2016-12-13 15:54] damienmg commented on #2229
It does not solve the 404 issue but the issue when restarting the VM. When restarting the VM the create directory was failing because c:/bazel_ci was existing. So changing that gave a workaround: if the VM fails to init, just reboot and it works.

Side-note: all windows build are now ok, closing.

[2016-12-13 15:54] #2229 closed

[2016-12-13 16:04] klimek commented on #2206
@kmalakoff - yep, for that we need to basically allow a bazel built repository to be "bazel install"able (that's what binary distributors require), then the distributions will start to pick up the projects you're interested in by themselves (in my experience).

[2016-12-13 16:37] #564 closed

[2016-12-13 16:37] #2184 closed

[2016-12-13 16:52] jart commented on #2232
They are using the same code path. There's a whole package with over 1k LOC they call into. But those two methods do share like several lines that I guess could be refactored to be common.

[2016-12-13 17:31] laszlocsomor commented on #2145
Out of curiosity, I implemented this in JNI (using [`GetLongPathNameA`](https://msdn.microsoft.com/en-us/library/windows/desktop/aa364980(v=vs.85).aspx)) and measured performance.
Everything is measured twice to reveal caching, if any.
Measured 6000 items because I could initialize a Java string array with that many 8dot3 names.
No source code because I don't have nice clean BUILD files, as I was

[2016-12-13 17:56] dfabulich commented on #923
This bug still repros, just as I reported it, in bazel 0.4.2.

Is bazel calculating O(N) md5s during rebuilds? I would expect Bazel to just MD5 the touched `BUILD` or `WORKSPACE` file, observe that it's unchanged, and then use the pre-calculated md5s.

In February, Damien wrote that 1s "seems correct for a simple invalidation" but I don't see why that would be correct, and I especially don't see w

[2016-12-13 18:38] Lunarsong commented on #2010
Can keep this closed, however there is an alternative solution which I plan on trying.

Using a generic build to run `make extensions `, which will return the relevant files as output, which will be used to build the actual library.

[2016-12-13 18:45] aj-michael commented on #1952
I don't see it mentioned is this thread, so I thought I should mention, the AndroidSdkRepositoryFunction makes use of bind so that android_binary can depend on the android_sdk generated by AndroidSdkRepositoryFunction without needing to know the name of the android_sdk_repository rule.

[2016-12-13 18:51] aj-michael commented on #1410
:+1: for adding transitive deps to this. is there any technical reason that we're aware of that we haven't made transitive deps work yet?

[2016-12-13 18:55] kchodorow commented on #1952
Which I think is a mistake, as I think I'm mentioned before.  The android_sdk rule still depends on the external name, which is no better that depending on the repository name.

[2016-12-13 18:56] jart commented on #1410
It depends on what you mean by transitive deps working. The biggest problem right now I feel is that maven_jar doesn't let one define the dependency relationships. I've fixed this in the [java_import_external](https://gist.github.com/jart/70bdc88e662a5078a7d8682e5411ae8c) repository rule which I'll be contributing to Bazel shortly.

I've also built a web GUI which I'm currently seeking approval to

[2016-12-13 18:58] aj-michael commented on #2071
Hmmm, alternatively we could add an implicit output for the classes_and_libs_merged.jar to aar_import.

Then you could do something like,

[code]

@ahumesky , WDYT?

[2016-12-13 19:07] aj-michael commented on #1410
By transitive deps working, I mean the rule fetching the dependency relationships from the Maven server and not requiring the developer to specify them.

[2016-12-13 19:09] aj-michael commented on #1952
Sorry, what do you mean by "the android_sdk rule still depends on the external name"? Do you mean that the name of the android_sdk rule is the name of the android_sdk_repository rule? Or that the "bound" name refers to the external name?

[2016-12-13 19:15] kmalakoff commented on #2206
@klimek interesting...I'm still trying to connect the dots on what an ideal solution would look like.

When I started to play around with tensorflow, it sent me down the path learn about bazel and then to try to find a solution to configuring a project to build the binaries. What I really wanted was the binaries and headers for specific releases that I could just use, but I needed to spend time on

[2016-12-13 19:17] jart commented on #1410
In order to do that in a repository rule, it would probably be necessary to have the rule shade all the transitive jars into the root jar. That means rewriting the transitive class names, rewriting the byte code, and then the code size increases quadratically.

[2016-12-13 19:17] jart commented on #1410
In fact, that would probably even be worse that quadratic.

[2016-12-13 19:25] DanAlbert commented on #2160
I certainly haven't heard of anything like it. Aren't [modules](http://clang.llvm.org/docs/Modules.html) supposed to be the solution for this?

[2016-12-13 19:26] kchodorow commented on #1952
Whoops, I mistyped, I meant the android_binary rule.  The android_binary rule depends on something like `//external:android_sdk`, it would be better for it to depend on `@android_sdk//jar` or something.

[2016-12-13 19:30] aj-michael commented on #1410
Hmmm, I'm not sure I follow. Why would it be necessary to shade the transitive jars and rewrite class names? Perhaps I'm missing something, but the way I would expect it to work would be:

1. Change the [mvn command](https://github.com/bazelbuild/bazel/blob/master/tools/build_defs/repo/maven_rules.bzl#L203) that we use to download the JAR to also download its transitive dependencies.
1. Change the

[2016-12-13 19:36] aj-michael commented on #1952
Hmmm, why would that be better? that would require that every developer name their `android_sdk_repository` "android_sdk". The current advantage of using `//external:android/sdk` is that `android_binary` still works no matter what you name your `android_sdk_repository`.

I agree with you that `android_binary` depending on an external bind is not ideal. Maybe this is not the right place to discuss

[2016-12-13 19:41] kchodorow commented on #1952
You are already requiring every developer to declare an android_sdk_repository and bind it to a certain name: this eliminates one of those steps.

Also, you could make it a macro and set the name in the macro, e.g.,

[code]

[2016-12-13 19:50] aj-michael commented on #1952
I don't think we are. The developer does not have to use a bind() in their WORKSPACE. We create the bind under the hood: https://github.com/bazelbuild/bazel/blob/0f0f383e8c5b51258157f7c34368f2209d870854/src/main/java/com/google/devtools/build/lib/bazel/rules/android/AndroidSdkRepositoryRule.java#L57.

E.g., the following works:

[code]

I guess if we remove the user-visible `bind()` function but k

[2016-12-13 20:05] ahumesky commented on #2071
Hmm, I see pros and cons for both. This is a bit of a corner case so I don't feel too strongly about either. Going the jar implicit output way will keep the string "aar_import" out of the java rule code since you'd need to allow java rules to depend on aar_import, so that's a nice thing about the implicit output. And it might be nice anyway to have the jar as an implicit output.

[2016-12-13 20:07] jart commented on #1410
Having a single remote repository for all the maven jars required by the project, and each individual jar being its own rule within the repository, would avoid the need for shading. E.g. `@closure_rules_maven_jars//:com_google_guava`. Shading is only necessary if you want to have the same behavior as maven_jar where jars have a 1:1 mapping with repository names.

But doing things that way introduc

[2016-12-13 20:12] aj-michael opened #2234 "Remove android_sdk_repository name attribute"
Prompted by https://github.com/bazelbuild/bazel/issues/1952#issuecomment-266840271 by @kchodorow.

Right now, `android_binary` depends on the `android_sdk` generated by an `android_sdk_repository` via  an [external binding function](https://github.com/bazelbuild/bazel/blob/0f0f383e8c5b51258157f7c34368f2209d870854/src/main/java/com/google/devtools/build/lib/bazel/rules/android/AndroidSdkRepositoryR

[2016-12-13 20:13] aj-michael commented on #2234
If we make this change, we can stop using the external bindings function and instead `android_binary` can explicitly depend on `@androidsdk`.

[2016-12-13 20:20] jart commented on #1410
There's a lot of value to not fetching transitive dependencies auto-magically. For example, with the web gui I just wrote, I generated [the following config](https://gist.github.com/jart/c325bba360c889261415872cc0b6700f) for `com.google.template:soy:2016-08-25`. In doing so, I was able to identify a bug in `com_google_common_html_types` which is depending on Guava Testing Library without declaring

[2016-12-13 20:22] ekuefler opened #2235 "I/O error during sandboxed execution (Directory not empty)"
### Description of the problem:

I'm trying to update the [Groovy](https://github.com/bazelbuild/rules_groovy) rules for Bazel 0.4.2 (I last tried with Bazel 0.3.1). I'm now getting an error that seems to happen when extracting `groovy_sdk_artifact` (created via `new_http_artifact`):

[code]

It seems like it's trying to extract a directory that already exists and that's creating a conflict for so

[2016-12-13 21:08] #2232 closed

[2016-12-13 21:12] jart commented on #2160
Yes but when are modules actually going to happen? And will they require existing codebases to be rewritten in order to reap the benifits? https://youtu.be/ND-TuW0KIgg

[2016-12-13 21:17] wstrange commented on #1410
@jart The web gui sounds awesome. Are you close to open sourcing it?

[2016-12-13 21:19] jart commented on #1410
Expect it at some point in the upcoming months. I need to go through the process. I've also got a lot of other stuff on my plate with TensorFlow.

[2016-12-13 23:41] faithseed commented on #1972
I run into the same problem. and it looks like a kernel compatibility issue. apt-get dist-upgrade (on ubuntu 14.04) fixed the problem.

3.16.0-77-generic #99~14.04.1-Ubuntu failed
4.4.0-53-generic #74~14.04.1-Ubuntu works

[2016-12-14 01:48] brian-peloton commented on #1972
I'm pretty sure it's a kernel version-related issue too.

@davido: What options made it work? Also, what kernel are you using?

[2016-12-14 05:45] davido commented on #1972
It was `--priviledged`: [1].

Kernel here is:

[code]

* https://docs.docker.com/engine/reference/commandline/run/#/full-container-capabilities---privileged

[2016-12-14 06:43] trainman419 commented on #1525
Spent a few hours trying to reproduce this in our repository, changing the defines parameter of a sample external rule between builds, but bazel always picks up the changes correctly.

More interestingly, I've tried variations on issues that have provoked this before, but bazel always rebuilds correctly in those cases too.

We've seen this most often on our CI server, so I'm wondering if there's s

[2016-12-14 07:37] trainman419 commented on #1525
I've managed to reproduce this within our repository on a small test case. I'm going to try to extract this into something that doesn't depend on our entire repository.

[2016-12-14 08:14] GinFungYJF opened #2236 "collect-coverage.sh: exit trap: line 2: syntax error: unexpected end of file"
After I run `bazel coverage`, the end of test.log complains
[code]
How to solve it?
### Environment info
* Operating System:
Ubuntu 14.04.5 LTS

* Bazel version (output of `bazel info release`):
0.4.2

[2016-12-14 08:15] davido opened #2237 "Error Prone integration: default warnings activation"
There should be a way to activate all error prone default warnings. End users can manually enable warnings with `-Xep:SomeCheck:WARNING` per check, but this is way too intrusive, to mess around with settings on check base. Instead, we should benefit from error prone project decision on which warnings check should be enabled and not move that decision to the end users.

FWIW: In Buck Error Prone in

[2016-12-14 08:26] abergmeier-dsfishlabs commented on #2160
Depending on when the different directions of Microsoft and Clang are resolved. Soonest seems C++20. And when I look at the pace that XCode ships Clang variants it way well take until 2022 on Mac.
That is actually the reason why I thought a persistent gcc compiler may exist. Because modules will not be a solution for cross platform for a LONG time.

To a certain extend yes. Seems more rewrite for

[2016-12-14 08:45] abergmeier-dsfishlabs commented on #2232
@jart Since I am a big fan of only "fool me once" I propose to merge the rest, too: https://bazel-review.googlesource.com/#/c/7892/

[2016-12-14 08:46] trainman419 commented on #1525
I haven't been able to extract my test case into something that I can share yet, but it involves manually resetting the timestamp on the build file that has changed, and I suspect it's provoking on of the less-stringent code paths in https://github.com/bazelbuild/bazel/blob/df036962c94eeac0ccb6d1359d6f9681195b45ef/src/main/java/com/google/devtools/build/lib/actions/cache/DigestUtils.java#L173-L187

[2016-12-14 08:52] laszlocsomor opened #2238 "WindowsFileOperations: use JNI methods"
According to my benchmark, JNI methods are faster than their Java native counterparts. I measured [`WindowsFileOperations.nativeIsJunction`](https://github.com/bazelbuild/bazel/blob/df036962c94eeac0ccb6d1359d6f9681195b45ef/src/main/java/com/google/devtools/build/lib/windows/WindowsFileOperations.java#L31) vs. the implementation in [`WindowsFileSystem.isJunction`](https://github.com/bazelbuild/baze

[2016-12-14 08:56] laszlocsomor commented on #2238
This must be especially true for [`WindowsFileSystem.createDirectoryJunction`](https://github.com/bazelbuild/bazel/blob/df036962c94eeac0ccb6d1359d6f9681195b45ef/src/main/java/com/google/devtools/build/lib/vfs/WindowsFileSystem.java#L246) where we fork a new subprocess every time. I didn't measure the cost of this though.

[2016-12-14 09:07] nxty2011 commented on #2209
Thank you so much, I guess it is enough to close this issue, right?

[2016-12-14 09:12] klimek commented on #2206
@kmalakoff - which platform are you talking about? For linux, we have a long history of the distribution (debian, ubuntu, etc) shipping all the binary packages you want. You just install them and you're done.

If you want to install something from source, the project usually is git clone, configure, make install (or similar); this is something that bazel needs to learn. This will probably also be

[2016-12-14 10:03] nxty2011 opened #2239 "mobile-install: App on architecture arm64 with arm64-v8a abi could not find native library"
### Description of the problem

I want to build an android binary which rely on a native library, and expect it to run on an android 5.1 system whose architecture is arm64, A53 CPU.

So, I build this apk with commands:
`bazel mobile-install --fat_apk_cpu=arm64-v8a --compilation_mode=opt <build file location>:<target name> --start_app -s`

With `-s` option, every build command and its flags seem to

[2016-12-14 13:39] ahumesky commented on #2209
Yep, thanks, please feel free to reach out on the [mailing list](https://groups.google.com/forum/#!forum/bazel-discuss) for any other questions you may have.

[2016-12-14 13:39] #2209 closed

[2016-12-14 14:16] damienmg opened #2240 "Support SOURCE_DATE_EPOCH"
This is a placeholder to investigate how SOURCE_DATE_EPOCH should be used in Bazel.

See https://reproducible-builds.org/specs/source-date-epoch/

I am just filing for now and will investigate later.

/cc @infinity0

[2016-12-14 14:49] katre commented on #2236
Coverage is a work in progress, assigning this to the person working on it.

[2016-12-14 14:51] katre commented on #2237
Since I see you've sent a patch to review, I'm assigning this to you. :)

[2016-12-14 16:03] aj-michael commented on #2239
Thanks for the detailed report, I'm investigating now. For reference, does this occur with any Bazel app with JNI that you mobile-install, or just one particular app?

[2016-12-14 16:16] aj-michael commented on #2239
Actually, would you mind trying to run your app via `bazel build` and `adb install`? I would be curious to know if the error persists, because it appears this may be a bug in our incremental deployment code that `mobile-install` uses.

[2016-12-14 16:31] rockwotj commented on #1911
If I explicitly add `+ ["Unirest/UNIRest.h"]` to the glob I get a duplicate header exception.

`ERROR: /private/var/tmp/_bazel_rockwood/c114bfd10e9798d5ba870a1d59fed286/external/my_unirest/BUILD:3:1: Label '@my_unirest//:Unirest/UNIRest.h' is duplicated in the 'hdrs' attribute of rule 'Unirest'.
E`

[2016-12-14 16:51] kmalakoff commented on #2206
@klimek all platform that use npm / yarn to install Node.js modules. The interesting part about this is that the target could be more than just the machine installed on, but also in the case for example of React Native, it could be to install for iOS or Android targets (eg. `npm install tensorflow-react-native-ios`).

This request for clarification on strategy is definitely to prevent the need to

[2016-12-14 18:24] cushon opened #2241 "Use the new singlejar on Windows"
The [Java implementation](https://github.com/bazelbuild/bazel/tree/master/src/java_tools/singlejar/java/com/google/devtools/build/singlejar) of singlejar has been replaced by a [faster c++ implementation](https://github.com/bazelbuild/bazel/blob/df036962c94eeac0ccb6d1359d6f9681195b45ef/src/tools/singlejar/singlejar_main.cc) everywhere except Bazel on Windows.

We should use the c++ implementation

[2016-12-14 19:44] trivigy commented on #2161
@ulfjack This flag doesn't seem to exist in the newer versions of bazel. Any alternatives?

[2016-12-14 19:55] rpaquay opened #2242 "Java: Support for long classpath on Windows"
### Description of the problem / feature request / question:

On Windows, there is a hard limit on the total length of command lines. Depending on the context, it is either 8192 Bytes or 32KB.

When running java actions through the src/main/java/com/google/devtools/build/lib/bazel/rules/java/java_stub_template.txt file, Bazel seem to hit the 8192 characters limit.

This is problematic for semi-com

[2016-12-14 20:15] trainman419 commented on #1525
Finally got this into a share-able state. To reproduce just check out https://github.com/trainman419/1525 and run the repro.sh script

[2016-12-14 23:11] davidzchen commented on #2037
If we are going to make the change to the native rules, how about let's also introduce the new `urls` attribute to the native rules so that users can make use of the fallback URL feature that @jart implemented and to make the transition to the Skylark rules smoother?

[2016-12-14 23:13] damienmg commented on #2237
/cc @cushon

[2016-12-14 23:21] jart commented on #2037
The deed is already done. All the [native workspace rules](https://www.bazel.io/versions/master/docs/be/workspace.html) support multiple urls, except for maven_jar and git_repository.

[2016-12-15 03:10] maheshps-huawei commented on #1979
root@BLR1000015302:~/polyglot# cat WORKSPACE

http_file(
  name = "gen_java_grpc_linux_x86_64",
  url = "https://repo1.maven.org/maven2/io/grpc/protoc-gen-grpc-java/1.0.0/protoc-gen-grpc-java-1.0.0-linux-x86_64.exe",
  sha256 = "4c16cd65e63a92f11f8a24c26a8b418ea6312484d341f66e94d4b5aa27e6e57b",
)

http_file(
  name = "gen_java_grpc_osx_x86_64",
  url = "https://repo1.maven.org/maven2/io/grpc/proto

[2016-12-15 03:13] nxty2011 commented on #2239
Hello, I understand it's quite a dirty work to deal with so many issues, so I try my best to describe it clear.

I have checked with `bazel build` and `adb install` with both my project and hello_world example project, as a result, **the error is gone**. So I guess it is the problem of  installation process in `bazel mobile-install`.

Two more things hope to provide more info.

- I have tried use

[2016-12-15 11:24] abergmeier-dsfishlabs opened #2244 "Make --python3_path accept a label"
Would be great if we could have Python3 in an external repo. For that `--python3_path` needs to accept labels.

[2016-12-15 11:51] abergmeier-dsfishlabs opened #2245 "Aspects should be able to see ctx.rule.outputs"
I want to have a list of all (trans.) outputs of a `filegroup`.
For that I wrote an aspect and implementation to access `ctx.rule.outputs`. To my surprise `outputs` is not exposed for aspect implementation.
Is this an oversight or is there an actual reasoning?

[2016-12-15 12:00] damienmg opened #2246 "December release: 0.4.3"
Filing the release bug for this month since I haven't seen it yet.

[2016-12-15 12:51] kohlerm opened #2247 "jdk7 installer on Linux does not work for me"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:
I used
 bazel-0.4.2-jdk7-installer-linux-x86_64.sh
to install bazel on RHEL 7.2 and Ubuntu 16.04

in both cases I get:

$ bazel build
Warning: ignoring http_proxy in environment.
...
unexpected pipe read sta

[2016-12-15 13:27] meteorcloudy opened #2248 "targets=$(bazel query "//...") hangs on Windows"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:

http://ci.tensorflow.org/job/tf-master-win-bzl/186/console
TensorFlow Bazel builds are timeout after https://github.com/tensorflow/tensorflow/commit/dbe5e17e2ed307e86e1a6e79e558ec3e335d46fc

The reason is `

[2016-12-15 13:31] meteorcloudy commented on #2248
It only hangs when running in a new workspace or after the output base is cleaned.

[2016-12-15 14:53] katre commented on #2247
Looks like someone accidentally added a usage of the Java8-only static Boolean.hashCode method.

We need to remove it and figure out why tests didn't catch this.

[2016-12-15 17:30] aj-michael commented on #1386
Even with java8 desugaring, I think we should still have some form on the constraints system to deal with this, because the desugarer does not handle all of java8.

[2016-12-15 17:36] aj-michael commented on #2239
Thanks for all of the details! I suspect the problem is due to a bug in Bazel using special code to handle native libs during `mobile-install` here:

https://github.com/bazelbuild/bazel/blob/c3f6a6ad7ae255f501047ead753b5e0f95300129/src/tools/android/java/com/google/devtools/build/android/incrementaldeployment/StubApplication.java#L353

It is very strange that this works for `armeabi-v7a` but not `

[2016-12-15 17:58] mindhog opened #2250 "Building 0.4.2 for SDK7 from source: "BUILD file not found on package path.""
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:

When building bazel from source from bazel-0.4.2-jdk7-dist.zip, the build fails with the following error:

    ERROR: no such package '@bazel_tools//tools/jdk': BUILD file not found on package path.

### If

[2016-12-15 19:25] petemounce commented on #2218
Yes, for powershell one has to usually get the user to change their `ExecutionPolicy` to something more lenient than the default `Restricted`. But of course, I think one can just shell out to cmd to call powershell.exe to do that pretty silently 🙄 . https://technet.microsoft.com/en-us/library/ee176961.aspx

[2016-12-15 19:26] petemounce commented on #2107
By the way, 0.4.2 cleared the bazel moderation queue fine.

[2016-12-15 20:40] #2247 closed

[2016-12-15 21:08] aj-michael commented on #1819
0b9ebfee8d7f3bd5cf68f4dba4790bf3fed9349d should have enabled incremental dexing in Bazel.

[2016-12-15 21:08] #1819 closed

[2016-12-15 21:12] ahumesky commented on #2204
FYI incremental dexing should be fixed, see https://github.com/bazelbuild/bazel/issues/1819

[2016-12-15 21:16] aj-michael commented on #2204
Hmmm, I haven't seen this before and haven't been able to recreate this error.

@cwoodwar6 , could you `zipinfo` the APKs produced by Gradle and Bazel and either post the results here or let us know any differences you see?

[2016-12-15 21:18] cwoodwar6 commented on #2204
Thanks for the update. I will give incremental dexing a try. If a minimal repro is possible, I will also try to provide that.

[2016-12-15 21:33] #2193 closed

[2016-12-15 21:49] dslomov commented on #2211
Absolutely. It is quite an easy fix

On 12 Dec 2016 15:31, "Damien Martin-Guillerez" <notifications@github.com>
wrote:

[2016-12-15 22:26] trivigy opened #2251 "build rule ctx.action() without output"
In my use case I have some information generated during an action that I want to use in another action but is not a file but rather a file name. Is there a way to run something that is equivalent to `repository_ctx.execute()` inside of a regular rule?

[2016-12-16 01:53] katre opened #2252 "Some external repos can't be loaded due to bad BUILD.bazel file"
Sample error:
[code]

[2016-12-16 01:53] katre commented on #2252
This is caused by 2f31d60d, will roll it back.

[2016-12-16 02:18] katre commented on #2252
All breakages are due to rules_go, fixing that instead.

[2016-12-16 02:49] wangyum commented on #1357
@kodeprav please download [dist](https://github.com/bazelbuild/bazel/releases/download/0.4.2/bazel-0.4.2-dist.zip).

[2016-12-16 06:56] rainStone819 opened #2253 "How to build a single .so library which doesn't depend on other libraries"
I want to build a .so library and use jna invoke it, my c++ project depend on another project. When i invoked the .so library, i got the error:

`java.lang.UnsatisfiedLinkError: lib*.so: undefined symbol: ...`

I think the reason is the .so library depend on other library, how to solve it?

[2016-12-16 08:23] davido opened #2254 "Error prone integration is broken"
Bazel forked different version for `checker_framework_dataflow` library > 2.0, as used in error prone itself: 1.8.10. To trigger the crash, specific bug pattern checks must be activated (that are not run per default). To reliably reproduce the problem on 0.4.2, apply this patch on Gerrit Code Review [1] and run:

[code]

FWIW, Buck error prone integration, implemented in this CL: [2] just works, a

[2016-12-16 08:50] abergmeier-dsfishlabs commented on #1523
Is merged.

[2016-12-16 08:50] #1523 closed

[2016-12-16 09:19] laszlocsomor opened #2255 "Bazel client: get rid of die/pdie, they don't clean up"
[`die` and `pdie`](https://github.com/bazelbuild/bazel/blob/2354dc06300e29321c770479b034d056dc87f367/src/main/cpp/util/errors.cc#L25-L42) call `exit(3)` and do not clean up local variables on the stack, so no destructors are called, no memory released.

[2016-12-16 10:44] philwo commented on #2231
I think we can make these paths read-write without decreasing hermeticity of builds (much). I'll send a patch.

Of course it would be even better if we could mount a private tmpfs there, so that tools can write there, but the written files won't persist, but I don't know of any way how to do this on macOS.

[2016-12-16 10:50] fweikert commented on #1523
Thank you!

[2016-12-16 10:51] damienmg commented on #2231
+1 if we can do with tmpfs but meh :/

[2016-12-16 13:53] ulfjack commented on #1389
The argument made on b/22191155 is thus:
"The best tested configuration is always going to be the current internal release, so keeping things up to date and avoiding version skew should make breakages less likely."

Posting it here for future reference.

[2016-12-16 13:57] ulfjack commented on #1654
Irina made the original change, this issue is assigned to her, and she should have enough background to reproduce it. I'm just the messenger here.

[2016-12-16 14:09] damienmg commented on #1654
ping @iirina can we have a correct triaging of this issue? At least an update. a P0 opened since 3 months seems indicative of a probable non issue.

[2016-12-16 14:23] iirina commented on #2246
Created RC:
`scripts/release/release.sh create 0.4.3 c645a45204b5ee4698387b0487b8a5136ba6d06f af878d04990d9eb12bda75b3571dff48d40fce1a 09b92a8fc9a6e4fcf451c71be098d9ba6ab379ac b11dd482eef2eb922686fb9ba96e39113cc1abd1`

and pushed to GitHub:
`scripts/release/release.sh push`

waiting for `ci.bazel.io `to finish.

[2016-12-16 14:39] damienmg commented on #2246
http://ci.bazel.io/view/Bazel%20bootstrap%20and%20maintenance/job/Bazel-Release/95/console Release failed. Might be because of my last changes investigating

[2016-12-16 14:39] Helcaraxan commented on #1941
Any news on this issue with the latest information provided by @petemounce?

[2016-12-16 14:41] damienmg opened #2256 "Failed to push 0.4.3rc1"
There is this part of the log that look fishy:
[code]

[2016-12-16 14:41] damienmg commented on #2246
Filed #2256

[2016-12-16 14:42] damienmg commented on #2256
http://ci.bazel.io/view/Bazel%20bootstrap%20and%20maintenance/job/Bazel-Release/95/console is the log file

[2016-12-16 14:43] damienmg commented on #2256
Re-running the job with added set -x to get more information

[2016-12-16 14:44] damienmg commented on #2256
[code]

The problem comes from the repro pushing

[2016-12-16 14:48] damienmg commented on #2256
For the reference the rest of the push was sucessful: https://storage.googleapis.com/bazel/0.4.3/rc1/index.html

[2016-12-16 15:00] damienmg commented on #2256
Gosh the package is label 0.4.1 instead of 0.4.3rc2 for debian

[2016-12-16 15:00] damienmg commented on #2256
http://ci.bazel.io/view/Bazel%20bootstrap%20and%20maintenance/job/Bazel/1095/JAVA_VERSION=1.8,PLATFORM_NAME=linux-x86_64/artifact/output/ci/bazel.dsc/*view*/

[2016-12-16 15:05] damienmg commented on #2256
Ok the release is generated from the CHANGELOG...

[2016-12-16 15:24] damienmg commented on #2256
So my findings:

  1. No section and no priority for 'bazel', skipping. is coming from the absence of said section in the [dsc file](http://ci.bazel.io/view/Bazel%20bootstrap%20and%20maintenance/job/Bazel/1095/JAVA_VERSION=1.8,PLATFORM_NAME=linux-x86_64/artifact/output/ci/bazel.dsc/*view*/)
  2. The version number in the dsc file is generated with `scripts/packages/convert_changelog.py` which is w

[2016-12-16 15:30] damienmg commented on #2256
Working on a fix

[2016-12-16 15:39] katre commented on #2226
Re-opening until I can fix rules_go, release that, update rules_webtesting and buildifier, and then re-submit this.

[2016-12-16 15:41] katre commented on #2252
Fixed in the immediate case by reverting fa3f55a8785c282.

[2016-12-16 15:41] #2252 closed

[2016-12-16 16:11] damienmg commented on #2256
And patch sent !

[2016-12-16 16:49] philwo commented on #923
@laurentlb @damienmg Any suggestion to whom I could assign this to?

[2016-12-16 16:49] philwo commented on #2231
Fix is in code review.

[2016-12-16 16:54] katre opened #2258 "//src/test/java/com/google/devtools/build/lib:cpp-rules-tests fails on Windows and Darwin"
//src/test/java/com/google/devtools/build/lib:cpp-rules-tests is consistently failing on Windows in CI.

Attaching error log as a file.
[windows-cpp-error.txt](https://github.com/bazelbuild/bazel/files/657739/windows-cpp-error.txt)

[2016-12-16 16:54] philwo commented on #1989
@damienmg This is not a sandboxing bug, as it also fails with the standalone strategy. As I'll be out in January, can you find a different engineer to assign this to?

FWIW, these "ERROR : ..." messages come from Singularity, not Bazel:

[code]

and

[code]

This might well be a bug in Singularity and not Bazel.

[2016-12-16 16:56] damienmg commented on #923
I might take a stab at reproducing it to figure out what wrong when I am done with Skylark repository invalidation issues.

[2016-12-16 16:57] philwo commented on #1531
I want to solve this some day in the future with something like a "Spawn scheduler" where individual strategies can just say "Sorry, I can't handle this, please execute the spawn with the next fallback strategy". This would get rid of all those hardcoded references to StandaloneSpawnStrategy from others.

In the meantime, it could probably easily be fixed by checking whether sandboxing is supporte

[2016-12-16 16:59] damienmg commented on #1989
Thanks @philwo for the investigation.

@yichengwang125 have you tried running out of singularity? What is that thing even doing?

[2016-12-16 17:00] philwo commented on #1458
Totally agree. Symlinking to /dev/null is the wrong thing to do here, creating an empty file instead is the right thing.

The culprit is here: https://github.com/bazelbuild/bazel/blob/fa3f55a8785c28253b2f836ddc84e994e48edd7f/src/main/java/com/google/devtools/build/lib/sandbox/SpawnHelpers.java#L142

I'll definitely fix this, but not sure if I can get it done before my vacation in January, as I onl

[2016-12-16 18:32] kchodorow opened #2259 "copts aren't printed by query if they contain a select"
If you have:

[code]

and:

[code]

And you do:

[code]

Note the absence of copts.

If I change x() to:

[code]

Then I get:

[code]

As expected.

See http://stackoverflow.com/questions/41153199/building-a-tensorflow-based-android-app-with-tensorflow-as-a-repository for a real-life example.

[2016-12-16 18:37] katre commented on #2258
Looks like this isn't windows-specific, it is also failing on Darwin:
http://ci.bazel.io/job/bazel-tests/BAZEL_VERSION=latest-jdk7,PLATFORM_NAME=darwin-x86_64/lastBuild/console

[2016-12-16 18:58] katre commented on #2258
Looking into this.

[2016-12-16 19:01] katre commented on #2258
git bisect fingers 0f4260bf916d70457f358a1f1dfbbd55d4c4b04c as the culprit.

[2016-12-16 19:04] katre commented on #2258
The test is specifically looking for k8 output, ignoring darwin, etc.

[2016-12-16 20:44] #2231 closed

[2016-12-16 20:49] katre opened #2260 "Build failure in //scripts/packages:bazel-debian-src"
Error:
[code]

From http://ci.bazel.io/view/Dashboard/job/Bazel/JAVA_VERSION=1.8,PLATFORM_NAME=linux-x86_64/lastBuild/console

[2016-12-16 21:04] katre commented on #2260
//scripts/packages/generate-changelog-file is generating a blank output, which the dpkg-source tool can't handle.

[2016-12-16 21:14] katre commented on #2260
Errors in the release process, too:
[code]

[2016-12-16 22:46] ivucica opened #2261 "Remote cache / execution require manually passing SHA1 bazel.DigestFunction"
### Description of the problem / feature request / question:

With Bazel 0.4.2, one is unable to use `--rest_cache_url` out of the box.

### If possible, provide a minimal example to reproduce the problem:

[code]

Output:

[code]

Error also does not make it clear that the flag needs to be specified as a startup flag.

[code]

### Environment info
* Operating System:

[code]

* Bazel version (out

[2016-12-16 22:51] #2260 closed

[2016-12-16 22:56] jmhodges commented on #2176
Done! https://groups.google.com/forum/#!topic/bazel-discuss/LHjopuUvZks

[2016-12-16 23:12] katre commented on #2258
Still failing on windows:
[code]

Looks like the extension is different there.

[2016-12-16 23:31] petemounce commented on #2246
Please ping me when rc is up and I'll publish to chocolatey.

[2016-12-17 01:13] davidzchen commented on #2037
Ah that's right. Thanks.

To help with the migration, how about if we print a deprecation warning to encourage people to use `urls` if they are still using `url`?

[2016-12-17 05:18] jart commented on #2037
I don't feel strongly enough about it to put a deprecation warning on it. I marked it as deprecated in the docs. I would even go so far as to remove documentation for the `url` attribute. Whether or not a warning is put in place, I'll leave to the Bazel team.

[2016-12-17 07:54] damienmg commented on #2246
The RC is up but the mail wasn't send because of a bug in the debian
publishing :(. You can do the chocolatey package fron the 0.4.3rc2 URL at
https://storage.googleapis.com/bazel/0.4.3/rc2/index.html

On Sat, Dec 17, 2016, 12:31 AM Peter Mounce <notifications@github.com>
wrote:

Please ping me when rc is up and I'll publish to chocolatey.

—
You are receiving this because you authored the thread.

[2016-12-18 01:08] petemounce commented on #2246
@damienmg ok - published and available at https://chocolatey.org/packages/bazel/0.4.3-rc2

[2016-12-19 05:05] maheshps-huawei commented on #1979
Hi katre,
Did you get time to look at WORKSPACE?

[2016-12-19 06:03] trainman419 commented on #1525
Bump. I've had several people confirm this internally using the script that I provided; has anyone from bazel had time to look into this?

[2016-12-19 07:45] iirina commented on #2246
Damien commited a fix for #2256 which I have cherry picked when creating and pushing RC2 on Friday evening:

[code]

However the release still failed and @katre identified the commit as breaking the normal build process for non-releases, so the change got reverted.

[2016-12-19 07:58] damienmg commented on #2246
The reason for the breakage is because the manifest is empty. Easy enough
to fix and rollforward. I think the release is safe without it because it's
only breaking the CI pipeline on non release trigger.

However this did not fixed the underlying issue: the section is empty in
the DSC file. I need more investigation to fix it.

On Mon, Dec 19, 2016, 8:45 AM iirina <notifications@github.com> wrote:

[2016-12-19 08:11] laszlocsomor commented on #2258
@katre , thanks for looking into this and sorry I didn't reply, it was Friday night when I got this bug.

[2016-12-19 08:20] laszlocsomor commented on #2258
It's currently failing because it [can't find Visual Studio](http://ci.bazel.io/job/bazel-tests/BAZEL_VERSION=latest,PLATFORM_NAME=windows-x86_64/416/console), even though it's installed (I just RDP'd into the machine).

[code]

[2016-12-19 08:44] iirina commented on #1654
I investigated this a while ago and everything seemed fine, but I'll leave this open to investigate some more since now I have more background on the test runner. I lowered the priority for now.

[2016-12-19 10:16] damienmg commented on #2189
Ok now see http://ci.bazel.io/job/Tutorial/BAZEL_VERSION=HEAD,PLATFORM_NAME=darwin-x86_64/662/console, we get more and more path that the toolchain tries to write, this is terrible.

[code]

Seems like it tries to write `/Users/ci/Library/Developer/Xcode/UserData/IB Support/Simulator Devices`. This time I don't think we should add this path (not generic enough). UserData seems like something that

[2016-12-19 10:33] aehlig commented on #2251
cc @dslomov @laurentlb as they know more about Skylark than I do.

[2016-12-19 13:23] mhlopko commented on #1806
Closing due to the lack of information.

[2016-12-19 13:23] #1806 closed

[2016-12-19 13:35] laszlocsomor opened #2262 "Windows, bootstrapping: `compile.sh` fails with proto compilation errors"
### Description of the problem / feature request / question:

I tried bootstrapping bazel from the [0.4.2 dist archive](https://github.com/bazelbuild/bazel/releases/download/0.4.2/bazel-0.4.2-dist.zip) using just compile.sh, and I'm getting proto compilation errors.

### If possible, provide a minimal example to reproduce the problem:

[code]

### Environment info
* Operating System: Windows 10

[2016-12-19 15:15] trivigy commented on #2251
I kinda understand why this is not a part of the current stack. I think it's because with such feature people would be able to generate unpredictable `new_file()`. Either way, although for my specific problem I figured out a work around it would be nice to have a feature like that.

[2016-12-19 15:31] katre commented on #1979
I did take a look, sorry for not responding sooner.

I was incorrect, maven_jar does not work with experimental_repository_cache. The http_archive rules do. Also, there is a new version of maven_jar which uses maven directly and which will therefore cache everything locally in  a.m2 file.

So, here are the steps I recommend:

Switch to the new maven_jar by adding the following line to your WORKSPA

[2016-12-19 15:47] damienmg commented on #2256
http://ci.bazel.io/job/Bazel/JAVA_VERSION=1.7,PLATFORM_NAME=linux-x86_64/1098/artifact/output/ci/bazel.dsc/*view*/ and http://ci.bazel.io/job/Bazel/JAVA_VERSION=1.8,PLATFORM_NAME=linux-x86_64/1098/artifact/output/ci/bazel.dsc/*view*/ both actually shows a section in Package-List, still investigating

[2016-12-19 15:57] katre commented on #2258
@laszlocsomor Do you know what the issue with VS is?

[2016-12-19 16:00] laszlocsomor commented on #2258
I don't, @meteorcloudy is the one who knows the autoconfig rule but he's on vacation already. I can take a look.

[2016-12-19 16:03] laszlocsomor commented on #2258
Wait, "bazel-tests" is green at HEAD (417).
The VS not found error came from "bazel", I thought that was the affected job.
As it happens "bazel" is also green now so I proclaim this is a flake.

[2016-12-19 16:05] katre commented on #2258
Sounds good, thanks!

[2016-12-19 16:05] #2258 closed

[2016-12-19 16:16] #2262 closed

[2016-12-19 16:18] aehlig commented on #2186
So the documentation issue is solved; for the other issue mentioned, please file a new issue and also provide a minimal example where an environment change causes an unintended rebuild.

[2016-12-19 16:18] #2186 closed

[2016-12-19 17:39] damienmg opened #2263 "Release notes does not contains correct baseline and cherry-picks"
See https://storage.googleapis.com/bazel/0.4.3/rc2/index.html

[2016-12-19 17:51] laurentlb commented on #923
For `+=`, assign to Vlad.

For md5 checks, assign to the core team

[2016-12-19 17:54] laurentlb commented on #2251
The analysis phase cannot depend on the result of a command (all dependencies are static).

We may allow more flexible use-cases in the future, but I'm closing this feature request for now.

[2016-12-19 17:54] #2251 closed

[2016-12-19 17:54] dfabulich commented on #923
To be clear, I don't repro a `+=` bug. Maybe that was a real bug back when I filed the issue in February, but today I see no difference between `+=` and `.append()` in this test.

[2016-12-19 19:57] damienmg commented on #2256
Ok I am confused, according to our history (rebuilt from various time) we never had Section nor priority section in the dsc (cannot confirm because we lost the builds), adding them fix the issue, I'll bake a patch.

[2016-12-19 20:53] damienmg opened #2264 "Cleanup debian repository set-up"
After #2256 investigation:

  1. We are using format 1.0 and we should probably use format 3.0 (quilt) but that requires a better tuning for dpkg-source
  2. As a workaround #2256, we manually now tune the dsc file, we should find the correct way to fix it.
  3. version.txt and changelog does not returns the same version number, we should unite them (make the change to add the ~ to changelog and t

[2016-12-19 21:07] damienmg commented on #2263
http://ci.bazel.io/job/Bazel/JAVA_VERSION=1.7,PLATFORM_NAME=darwin-x86_64/1098/artifact/output/ci/README.md/*view*/ generating the README.md should be enough

[2016-12-19 21:11] damienmg commented on #2263
For some strange reason, if I do the same build on my local machine it just work

[2016-12-19 21:29] damienmg commented on #2263
Seems like get_full_release_notes does not work on the slaves, let see what is happening, missing refs?

[2016-12-19 21:32] damienmg commented on #2263
Ok doing it on the machine shows errors:
[code]

[2016-12-19 21:33] damienmg commented on #2263
Ok make sense there is no refs for the master branch on the slave, let's try to resolve master from origin/master

[2016-12-19 21:43] damienmg commented on #2263
Ok manually tested my fix, good to go.

[2016-12-20 01:53] cgrushko opened #2265 "`proto_library` can't build generated `srcs`."
Repro:

[code]

When building `:generated_proto`,

    generated.proto: No such file or directory

[2016-12-20 05:54] thinlizzy opened #2266 "builds fail with --cpu=x64_windows_msvc"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:

I can't build any cc_library targets when I pass --cpu=x64_windows_msvc to bazel. The same build target was working before when I was using the built in gcc (i.e. not passing --cpu flag). I have MSVC instal

[2016-12-20 06:02] thinlizzy commented on #2266
link to the BUILD file
https://github.com/thinlizzy/die-tk/blob/master/BUILD

[2016-12-20 06:14] #2212 closed

[2016-12-20 06:30] quittle opened #2267 "Crash when py_binary target's name clashes with dir of main src file"
There is a bug where `py_binary` targets cannot have a `main` file whose folder matches the `name` of the target.

### If possible, provide a minimal example to reproduce the problem:
See https://gist.github.com/quittle/777a423f3de3e6037ceacf3927272c74 for a gist example

Essentially if you have a BUILD file like this and try doing `bazel run folder_name`, you will get a runtime error.
[code]
[cod

[2016-12-20 07:08] damienmg commented on #2246
To be cherry-picked: 4a753499d0685ce08c99c1da61eea4e100989d31

[2016-12-20 07:55] hermione521 commented on #2228
Found the problem:
https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/exec/TestStrategy.java#L80
The code that calls this code was added in that commit, which make it fail earlier. I think it's better than giving sandbox error (although the message should be more detailed). So I'm going to change the test.

[2016-12-20 07:59] gibiansky commented on #2247
This is a pretty frustrating showstopper. It would be really nice if there were a binary release with the fix in it, because right now software that depends on a new enough version of bazel can't be built on a Linux system with JDK7.

[2016-12-20 08:37] iirina commented on #2233
@ulfjack can you take a look?

[2016-12-20 08:38] iirina commented on #2225
@dslomov can you take a look at this?

[2016-12-20 08:40] iirina commented on #2223
@ulfjack can you take a look at this?

[2016-12-20 08:42] damienmg commented on #2246
More cherry-picks: 11b5725 deae044 deae044

[2016-12-20 08:43] iirina commented on #2221
@c-parsons can you take a look?

[2016-12-20 08:44] ulfjack commented on #2233
How do you know that those are not cache hits?

[2016-12-20 08:48] ulfjack commented on #2223
As it stands you have to parse the command line. Consider that C++ rules create one compile action per source file, i.e., the mapping from cc_library.srcs to actions is highly non-obvious. If you want to know the rule structure, then you should use bazel query or the genquery rule, or an aspect.

What's the question here? Feel free to reopen if you have more data and / or a more specific request w

[2016-12-20 09:20] zetachang opened #2268 "Allow specifying C++ only compiling options"
### Description of the problem / feature request / question:

Currently, `objc_library` allow C, C++, Objective-C, and Objective-C++ sources. But when I pass a C++ compiler only options to `copts`, it will fail on non C++ sources.

[code]

The above snippet work if `srcs` contains only Objective-C++ sources, but fail with message `error: invalid argument '-std=c++1y' not allowed with 'C/ObjC'` if

[2016-12-20 09:42] #2263 closed

[2016-12-20 09:48] damienmg commented on #2246
4a753499d0685ce08c99c1da61eea4e100989d31 55c97bcf9b99916a3fe59295be64c4aee860d823 are to be cherry-picked.

Still one change that is being submitted plus the fix for the distribution artifact

[2016-12-20 10:16] aehlig opened #2269 "Bootstrapping fails due to cycle in dependency graph"
see, e.g., http://ci.bazel.io/job/bazel-docker-tests/BAZEL_VERSION=HEAD,PLATFORM_NAME=docker/330/console

The cycle
[code]

This problem can also be tested locally by running `//src/test/shell/bazel:bazel_boostrap_distfile_test`, a manual test. As this would prevent users from installing bazel, this is release blocking.

[2016-12-20 10:17] aehlig commented on #2269
Assigned to @damienmg as he's already working towards a solution.

[2016-12-20 11:07] #2256 closed

[2016-12-20 11:07] #2269 closed

[2016-12-20 12:41] damienmg commented on #2246
Ok so far the remaining bug seems like just tests setup fixes. I think we can go forward with another RC with the following fixes: 4a75349 4a75349 55c97bc 39e5a46 4fb378c

[2016-12-20 13:41] iirina commented on #2246
I tried to create the new RC:

`$ scripts/release/release.sh create 0.4.3 c645a45204b5ee4698387b0487b8a5136ba6d06f af878d04990d9eb12bda75b3571dff48d40fce1a 09b92a8fc9a6e4fcf451c71be098d9ba6ab379ac b11dd482eef2eb922686fb9ba96e39113cc1abd1 9012bf1676bd6426229625e2567bfa399f89dabe 4a753499d0685ce08c99c1da61eea4e100989d31 55c97bcf9b99916a3fe59295be64c4aee860d823 39e5a46294de31baa0411f6a59119427c66305d

[2016-12-20 13:53] iirina commented on #2246
There was a conflict in `src/test/shell/bazel/bazel_coverage_test.sh`.

I merged the file and
[code]

However the script exited before and the release didn't finish. The cherry-picks added after the one with the merge conflict were not added to the release.

[2016-12-20 14:03] iirina commented on #2246
Did
[code]
after already cherry-picking and it accidentally deleted the release branch:

[code]

Re-did the whole RC creation and it worked, only now it is marked again as RC1 :(

$ scripts/release/release.sh create 0.4.3 c645a45204b5ee4698387b0487b8a5136ba6d06f af878d04990d9eb12bda75b3571dff48d40fce1a 09b92a8fc9a6e4fcf451c71be098d9ba6ab379ac b11dd482eef2eb922686fb9ba96e39113cc1abd1 9012bf1676bd64

[2016-12-20 14:12] iirina commented on #2246
Fixed candidate name:
[code]

[2016-12-20 14:14] iirina commented on #2246
Pushing now

`$ scripts/release/release.sh push`

waiting for `ci.bazel.io` to finish.

[2016-12-20 14:48] iirina commented on #2246
Email was sent to bazel-discuss. The release notes in the email are wrong, they just include the commit message of the last cherry pick.

[code]

The [web release notes](https://storage.googleapis.com/bazel/0.4.3/rc3/index.html) seem nicer, although the cherry picks are not nicely formatted and it still seems 2/6 cherry picks are missing.

[2016-12-20 14:58] katre commented on #2247
The 0.4.3 release is in progress. have you tried the 0.4.3 release candidate 3 (available from https://storage.googleapis.com/bazel/0.4.3/rc3/index.html)? It is in good shape and we should have a full release shortly, but this might help you get moving until it's released.

[2016-12-20 15:01] dslomov commented on #2211
Fixed in https://github.com/bazelbuild/bazel/commit/1575652972d80f224fb3f7398eef3439e4f5a5dd

[2016-12-20 15:01] #2211 closed

[2016-12-20 15:23] damienmg commented on #2246
missing cherry-pick: acbcbc2 (forgot it)

[2016-12-20 15:30] iirina commented on #2246
Creating new candidate with additional cherry-pick acbcbc2ff7dab2e68801c714e57475d6d57be8f2

[code]

Created 0.4.3rc4 on branch release-0.4.3.

Pushed:

`$ scripts/release/release.sh push`

[2016-12-20 15:49] iirina commented on #2246
New email was sent to bazel-discuss. The release notes look really good in the email, including almooost all (7/9) cherry-picks (except 4a753499d0685ce08c99c1da61eea4e100989d31 and 39e5a46294de31baa0411f6a59119427c66305da). The [web release notes](https://storage.googleapis.com/bazel/0.4.3/rc4/index.html) are still not nicely formatted.

[2016-12-20 16:22] ulfjack opened #2270 "bazel help *rulename* crashes"
[code]

[2016-12-20 16:23] ulfjack commented on #2270
Setting P1, because it's a crasher bug. Note that this can't possibly work because we don't ship the rule Java source files as part of the binary, as we shouldn't.

[2016-12-20 16:27] ulfjack commented on #2205
I've seen similar problems before.

[2016-12-20 18:23] dmishe commented on #2221
There can be no Objective-C half of the module in swift_library since we don't allow mixed sources, and currently there is no way to ship a mixed Objc/Swift framework from bazel.
I guess that this option just triggers something else that happen to import Foundation?

In any case, importing everything (and that means Foundation and UIKit too :)) you use explicitly is a good thing and we strive to d

[2016-12-20 19:59] gibiansky commented on #2247
I don't think that commit (4975760) is in RC3. The base of RC3 is https://github.com/bazelbuild/bazel/commit/c645a45 (15 days ago, before the fix) and it's not listed in the cherry picks.

[2016-12-21 04:47] ahyangyi opened #2271 "[feature request] Is it possible to add extra build modes without modifying Bazel?"
OK, this is a feature request. I'd like to have more build modes than the built-in `fastbuild`, `dbg` and `opt`.

For example, our engineers want a build mode with lots of extra debug information (for example, without -DNDEBUG) but still built with -O2. Currently we do with `-c dbg -copt -O2` but that's clearly a hack that we don't want to maintain forever.

I suggested to re-interpret `fastbuild`

[2016-12-21 07:15] hermione521 commented on #2227
Do you have any idea how to repro locally? Thanks

[2016-12-21 07:22] hermione521 commented on #2174
We used to have message like "add --verbose_failures and --sandbox_debug to debug sandbox" (first one for getting the skipped arguments, and second one for not deleting sandbox path). Do you think this is enough or what else do you like to have? Thanks

[2016-12-21 07:56] iirina commented on #2246
Should we also cherry-pick 49757602c4ca9e48081f98850007b2ef17427b46? It fixes #2247 (someone accidentally added a usage of Java8-only code and some users can't built bazel on a Linux system with JDK7). The culprit is ca99bb71b8120e61a3bbde8e54f1a9488fa0478f which is included in the candidate, but the fix isn't. However we should actually release today since I'll be OOO starting tomorrow.

[2016-12-21 08:02] damienmg commented on #2246
We cannot release before Friday or at least before tomorrow. The JDK
breakage is on the test right? In which case is not really important.

On Wed, Dec 21, 2016, 8:56 AM Irina Iancu <notifications@github.com> wrote:

[2016-12-21 08:03] damienmg commented on #2227
It is fixed I sent a patch yesterday to reactivate the test and should
close that bug when the commit hit Github.

On Wed, Dec 21, 2016, 8:15 AM 干悦 Yue Gan <notifications@github.com> wrote:

[2016-12-21 08:05] damienmg commented on #2246
Oh it is not on the test so we should cherrypick it. Strange it was able to
bootstrap...

On Wed, Dec 21, 2016, 9:02 AM Damien Martin-guillerez <dmarting@google.com>
wrote:

[2016-12-21 08:06] iirina commented on #2246
OK then I will cherry pick it now and will release Friday evening from home.

[2016-12-21 08:09] damienmg commented on #2246
Don't do the release from home. We'll find someone to take over.

On Wed, Dec 21, 2016, 9:06 AM Irina Iancu <notifications@github.com> wrote:

[2016-12-21 08:12] iirina commented on #2246
Created and pushed RC5 including cherry-pick 49757602c4ca9e48081f98850007b2ef17427b46.

[code]

[2016-12-21 08:22] iirina commented on #2246
Seems like bazel-install failed with Jenkins error:

http://ci.bazel.io/job/Bazel-Install/7659/console

will re-run.

[2016-12-21 08:26] iirina commented on #2246
The email was sent to bazel-discuss \o/ All is well except there are still 2/10 cherry picks missing (the same as before).

[2016-12-21 08:28] iirina commented on #2247
You can now try 0.4.3r5 which also cherry-picks the fix for this issue. The link is [here](https://storage.googleapis.com/bazel/0.4.3/rc5/index.html). Let me know if it solved your problem.

[2016-12-21 08:31] iirina commented on #2246
I re-run the build and got the same Jenkins errors:
http://ci.bazel.io/job/Bazel-Install/7690/console
platform is linux-x86_64

[2016-12-21 08:39] hermione521 commented on #2227
Thank you so much!

[2016-12-21 09:00] damienmg opened #2272 "Conflict in cherry-pick lose the cherry-pick from the release notes"
Discovered in #2246, cherry-picking bce889840f91f14c05418d960984bcf1a5f59411 in plus actually adds the missing release note.

Fixing the problem is tricky. We do not store the original commit when cherry-picking and resort to the patch being the same. A solution might be to store as a git note for each commit the commit it was cherry-picked from and just resort to finding the original commit if th

[2016-12-21 09:08] iirina commented on #2272
Actually it was commit 76c857b20d5ece4cdaf8c610d997fb2a93616787 that was cherry picked, not bce889840f91f14c05418d960984bcf1a5f59411.

[2016-12-21 09:17] damienmg commented on #2272
I know I meant if you take bce8898 before 76c857b then 76c857b appears in the history

[2016-12-21 09:49] #2226 closed

[2016-12-21 09:49] #2227 closed

[2016-12-21 10:34] damienmg commented on #2189
Unfortunately this is not fixed yet.

[2016-12-21 11:44] philwo commented on #2093
@jart This would be:

[code]

Or go even further and disable workers (as they're not as strictly sandboxed as normal spawns):

[code]

I'm not aware of any other flags that can be enabled to increase hermeticity, as we usually default to strict checks. Pinging @damienmg and @lberki just in case they have any additional ideas.

[2016-12-21 13:32] damienmg commented on #2189
It is fixed!

On Wed, Dec 21, 2016, 10:49 AM bazel.io machine account <
notifications@github.com> wrote:

[2016-12-21 13:35] iirina commented on #2189
\o/ Should we cherry pick the fix for the current release?

[2016-12-21 14:27] damienmg commented on #2189
Yes we should :)

[2016-12-21 14:27] #2189 closed

[2016-12-21 14:28] damienmg commented on #2216
Closing as can't reproduce.

[2016-12-21 14:28] #2216 closed

[2016-12-21 14:29] damienmg commented on #2246
Let finally cherry-pick 05fd076 today and do the release tomorrow evening so we still have one working day before christmas.

[2016-12-21 15:53] iirina commented on #2246
Created and pushed RC6

[code]

[2016-12-21 16:39] trimbo opened #2273 ""select" can't be used for dictionary keys"
Example would be:

pkg_tar(
  symlinks = {select({"if_cond": "key1", "other_cond": "key2"}): "map to me"}

Gives error:

unhashable type: 'select'.

[2016-12-21 17:27] #1768 closed

[2016-12-21 18:35] aj-michael commented on #2071
I'm starting to think that this is a less-than-great idea. If a library does not require any Android-specific parts, it should be packaged as a JAR, not an AAR. If it is an AAR, it should not be in the deps of a java_library because either java_library would need to "know" about Android or it would drop the Android-specific parts. Neither of which is a good idea.

[2016-12-21 18:35] #2071 closed

[2016-12-21 19:02] jowagner opened #2274 "feature request: environment variable for setting output_base or output_user_root"
Having to type --output_base or --output_user_root each time using bazel when $HOME is on NFS is annoying. $TEST_TMPDIR could be used but maybe there are unexpected side effects with bazel or other software as this variable is intended for running unit tests.

Desired behaviour:
bazel checks not just for $TEST_TMPDIR but also for another variable intended and documented for normal use.

I tried to

[2016-12-21 19:17] kchodorow commented on #2274
Can you set it in your user's or project's .bazelrc?

[2016-12-21 19:18] googlestanke commented on #1820
Suggestion: the flag's purpose would be more self-evident if we name it "override_dependency"

[2016-12-21 19:33] gibiansky commented on #2247
@iirina That seems to have fixed the issues I had. Thank you!

[2016-12-21 19:34] damienmg opened #2275 "Coverage fails with -lgcov library not found on Bazel darwin (clang) even when testing a java_test target"
[code]

* Operating System: macOS Sierra
* Bazel version (output of `bazel info release`): 0.4.3rc5

[2016-12-21 20:00] damienmg commented on #2275
Even with some filter, it fails the same way (`bazel coverage //src/java_tools/singlejar:tests --instrumentation_filter=-//src/main,-//tools/,-//src/test`)

[2016-12-21 23:24] petemounce commented on #2246
Pushed https://chocolatey.org/packages/bazel/0.4.3-rc6.

[2016-12-22 01:28] zhengwx11 opened #2277 "Build 0.4.2 from source failed under ubuntu 16.04"
[code]

This is what I got when I ran  `$ bash ./compile.sh`.

The [guide](https://bazel.build/versions/master/docs/install.html#compiling-from-source) did not provide any information about `PROTOC` or a pre-request list (I guesss it is a pre-request problem).

The java version is `openjdk-8-jdk`

[2016-12-22 02:42] jwnimmer-tri commented on #1748
I have the same problem with a simple `cc_test` rule for a gtest-based unit test with `timeout="moderate"` (or `size="medium"`), so I don't think its Java-only:
[code]

Given the fuzzy match, 19s should be okay as "moderate".  The "0.0s" is bogus; the test really does take tens of seconds to run, so I concur with _"I think it's more likely that our test strategy implementation isn't tracking the t

[2016-12-22 03:45] hermione521 commented on #2236
I haven't tried gcov yet. Add @ulfjack

[2016-12-22 04:18] endobson commented on #2223
I want custom rules to be on the same playing field for extra actions as builtin rules. Currently those get special protos, where custom rules just get SpawnAction.

For example in my current linking action of my languages library rule I call the system linker with tons of flags that are appropriate for it. I'm working on an extra action that goes through a different linking process that I'm exper

[2016-12-22 04:19] endobson commented on #2223
I don't have access to reopen it seems.

[2016-12-22 04:24] endobson commented on #2174
I do not think that just adding those are enough, but they may be helpful. If by default the command that is outputted doesn't tell me any new information then there is still more to be done. The two options that seem reasonable are not outputing the useless information until verbose output is asked for or by including enough to be useful. Where by useful I mean something that will help me debug m

[2016-12-22 04:40] endobson opened #2278 "Docs for using aspects don't obviously link to reference on the aspect function"
I could not find a single link from https://bazel.build/versions/master/docs/skylark/aspects.html to https://www.bazel.io/versions/master/docs/skylark/lib/globals.html#aspect. Immediately after reading the first page, I wanted to go to the second page and read more details about how to use the feature I just read about.

[2016-12-22 05:43] endobson opened #2279 "zsh completion prints bazels info about startup options"
When auto completing after bazel test I get the following output.

[code]

My bazelrc uses the watchfs startup option which makes bazel output that line.

Versions:
[code]

[2016-12-22 06:46] endobson opened #2280 "Docs for XML_OUTPUT_FILE are incomplete"
The docs for `XML_OUTPUT_FILE` say that it expects an "`ANT` like XML output file". A quick google search turns up nothing related to test output for "ant xml output file".

I would expect bazel to document its expected format in enough detail for someone to implement a new test rule that can generate the output and have the test runner understand it.

[2016-12-22 09:46] maheshps-huawei commented on #1979
Thank you very much Katre. Your support and solution is appreciated. It smoothed our development now.
Also thanks to Damien Martin-Guillerez for his support.

[2016-12-22 09:58] #2039 closed

[2016-12-22 10:05] aehlig commented on #2277
The error message indicates that you are trying to compile from a checkout rather than from a dsitribution archive as the instructions tell.

(In case you wonder why this is necessary, the design can be found at https://bazel.build/designs/2016/10/11/distribution-artifact.html)

[2016-12-22 10:05] #2277 closed

[2016-12-22 12:39] damienmg opened #2281 "Release script format the changelog incorrectly and overwrite existing release"
See https://github.com/bazelbuild/bazel/commit/d3b2364d780a8dc1da8c98ec2ae3b45f47a2b594

1. Missing new line at the end of the release notes
2. Missing backquotes around the cherry-picks information
3. Removal of release notes for 0.4.2

[2016-12-22 13:22] damienmg commented on #2246
Released, testing homebrew update. FreeBSD port update is being pushed too.

[2016-12-22 13:23] damienmg commented on #2246
Side-note:
We now have 3 packaging that needs separate update (homebrew, freebsd and chocolatey), maybe we should have automatic process to update them instead on relying on package maintainers

[2016-12-22 13:39] damienmg commented on #2246
homebrew/homebrew-core#8131 for Homebrew
https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=215490 for FreeBSD

[2016-12-22 13:41] damienmg opened #2282 "January release"
If we are on time this can be 0.5

[2016-12-22 13:46] damienmg commented on #2282
Volunteering @mhlopko :)

[2016-12-22 14:13] mhlopko commented on #2282
Yay! 👍 :)

[2016-12-22 14:14] damienmg commented on #2282
go/bazel-release for the how-to

[2016-12-22 14:32] katre commented on #1979
Glad it's working now, I will close this issue but feel free to file a new one if you have further problems.

[2016-12-22 14:32] #1979 closed

[2016-12-22 15:55] aehlig opened #2283 "//src/test/shell/bazel/android:android_integration_test failig"
see, e.g., http://ci.bazel.io/job/bazel-tests/432/BAZEL_VERSION=HEAD,PLATFORM_NAME=linux-x86_64/console

[2016-12-22 16:09] ahumesky commented on #2283
my guess is this:
https://github.com/bazelbuild/bazel/commit/e81ff0e156647ae680346ac833313319e7ea69d6

[2016-12-22 16:13] aj-michael commented on #2283
Yes, this was my fault. I forgot that `BUILD.oss` is copied into `BUILD.tools` if there is no `BUILD.tools` present. Sorry, rolling back.

[2016-12-22 16:25] aj-michael commented on #2283
I'm going to create a separate `tools/android/BUILD.tools` so that we don't run into this issue again.

[2016-12-22 16:32] aj-michael opened #2284 "(Maybe) removing workspace_user.sh and making android_sdk_repository better."
I think the functionality of https://github.com/bazelbuild/bazel/blob/master/scripts/workspace_user.sh should be included in the `android_sdk_repository` and `android_ndk_repository` rules.

This script was created as a fix for https://github.com/bazelbuild/bazel/issues/746, but I don't think it really fixes that issue. See https://github.com/bazelbuild/bazel/issues/746#issuecomment-261347293 for

[2016-12-22 16:36] kchodorow commented on #2284
Yay!  I mean, it's not actually blocking on repository invalidation... you can get environment variables right now in repository rules (https://www.bazel.io/versions/master/docs/skylark/lib/repository_os.html).  It just isn't invalidated correctly.

[2016-12-22 16:38] ahumesky commented on #2284
Can we avoid doing the load() somehow? I thought there was a workspace prelude that can automatically load rules. Then it can just be those 2 lines

[2016-12-22 16:43] aj-michael commented on #2284
=

[2016-12-22 16:46] aj-michael commented on #2283
Fixed by b1abe465731ca74393b28853338ac44d7a639f38

[2016-12-22 16:46] #2283 closed

[2016-12-22 18:04] sevagh opened #2285 "linux-sandbox-pid1.cc:398: remount: Operation not permitted"
### Description of the problem / feature request / question

I downloaded Bazel through the custom apt source (I'm on Ubuntu 16.04).

I get a "remount: Operation not permitted" when running `bazel build`.

[code]

### If possible, provide a minimal example to reproduce the problem:

[code]

### Environment info
* Operating System:
[code]
Also, this is a native Linux installation on a laptop (i.e.

[2016-12-22 22:17] petemounce commented on #2246
@damieng I'm happy to write automation to automatically publish chocolatey. All it really needs is a Windows instance and for me too know how secrets are injected into your ci environment, so the chocolatey API key I have is not burned.

[2016-12-22 23:58] damieng commented on #2246
Wrong damien.

[2016-12-23 00:01] petemounce commented on #2246
Oh excuse me yes. @damienmg

[2016-12-23 00:23] jart opened #2286 "java_plugin needs output_licenses"
Blaze has an `output_licenses` attribute for `java_plugin` but Bazel doesn't. Fix would be appreciated.

[2016-12-23 05:23] mmlac commented on #2121
Created a minimal patch adding `-pass-exit-codes` through the `_add_option_if_supported` guard.
https://bazel-review.googlesource.com/#/c/8070/

[2016-12-23 06:40] ryancahoon-zoox opened #2287 "Command line arguments to run scripts generated using --script_path are ignored when used with --run_under"
### Description of the problem / feature request / question:

1. A run-script is generated using the --script_path option, while a value for --run_under is also supplied
2. The run-script is invoked with additional arguments passed on the command line
3. Only the arguments supplied during build-time are passed to the executable, not those that are supplied at run-time (i.e. during step 2)
4. If th

[2016-12-23 07:02] StrangeTcy opened #2288 "bazel 0.4.3 fails to load packages"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:

I'm getting errors of the kind
[code]
and
[code]

UPD: I've tried to `./configure` a lot of times, and most of them the error is
[code]
I don't really know what that package is supposed to do, but for some

[2016-12-23 07:09] StrangeTcy opened #2289 "bazel 0.4.3 doesn't seem to be updating its release number"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:

I've installed bazel 0.4.3 a lot of different ways, and yet `bazel info release` still shows `release 0.4.2`. I would expect it to show `0.4.3` (please say if it shouldn't)

### If possible, provide a minim

[2016-12-23 08:20] mhlopko commented on #2121
Thanks Markus so much!  Importing.

[2016-12-23 10:16] aehlig commented on #2285
Unfortunately I cannot reproduce the issue myself; assigning to @philwo who knows best about our sandboxes.

[2016-12-23 10:27] aehlig commented on #2288
I'm unsure about the status of this report. Do you only get those errors trying to build tensorflow, or also for other projects? Does it build with earlier versions of bazel?

[2016-12-23 15:03] sevagh commented on #2285
Thanks. If you need any extra information let me know.

[2016-12-23 15:44] dionescu opened #2291 "protobuf dependencies for cc_proto_library not available upstream"
There are a couple of problems.

- The latest release of protobuf is too old and thus does not contain a cc_toolchain in its BUILD file.

- Building from head does net help either. Bazel tries to pass the flag direct_dependencies_violation_msg to protoc which is not present in the upstream compiler code (at head!):
https://github.com/google/protobuf/blob/master/src/google/protobuf/compiler/command

[2016-12-23 16:25] dionescu opened #2292 "Bazel hard-codes protoc location"
After hacking the protobuf code to ignore the unimplemented --direct_dependencies_violation_msg flag (https://github.com/bazelbuild/bazel/issues/2291), everything worked with protobuf checked into third_party/protobuf. However, moving the code to another directory (or using a git_repo rule) fails because protoc is expected at //third_party/protobuf:protoc.

Why is Bazel hard-coding this location?

[2016-12-23 16:51] andrewmed opened #2293 "bazel 0.4.2 loading local rules does not work in new_git_repository"
With this in WORKSPACE:
[code]

as it says, `bzl` rule should be loaded  from a local repository `//build_tools/clojure:clojure.bzl`

However, when called, the rule is looked upon in remote `new_git_repository` repository:

[code]

here is `//build_tools/clojure/tests`
[code]
### Environment info
* Operating System:
Linux laptop 3.16.0-4-amd64 #1 SMP Debian 3.16.36-1+deb8u2 (2016-10-19) x86_64 GNU

[2016-12-23 19:21] jart commented on #1248
Progress on this?

[2016-12-23 19:23] jart commented on #1248
Once this is fixed, I would recommend deprecating `@//...` labels since they break when another repository depends on that repository.

[2016-12-23 22:58] ashishpant commented on #2235
I am having the same issue as well.

[code]

Trying to use bazel with groovy for the first time.
bazel with java and cpp work perfectly fine.

[code]

The code i am trying to compile is a helloworld program in groovy.

[2016-12-23 23:08] StrangeTcy commented on #2288
Yes; it's currently the only thing I'm using bazel for.  I can try to build something else for debugging purposes, if it'd help.

No, but that's due to another error.

[2016-12-23 23:11] jmhodges opened #2294 "bazel doesn't notice when an external repository URL and SHA have changed"
This is on bazel 0.4.2.

While working on upgrading to Go 1.8beta2, I noticed that when changing my new_http_archive from

    new_http_archive(
         name = "golang_darwin_amd64",
         build_file_content = "",
         sha256 = "f86c727012e33f3f482b049281aaee24211fe29dfafd121d93f32799a6b6ba2d",
         strip_prefix = "go",
         url = "https://storage.googleapis.com/golang/go1.7.4.darw

[2016-12-24 03:03] endobson opened #2295 "TestSummary compares strings extracted from protos against null"
Proto accessors never return null (IIRC) thus this code is never run. I think the intention was to check against unset values which would require using field existence checks instead.

https://github.com/bazelbuild/bazel/blob/8d25362bcb49286feb546b306657b6453712f2b3/src/main/java/com/google/devtools/build/lib/runtime/TestSummary.java#L158

[2016-12-24 03:56] ashishpant commented on #2235
bazel however works with scala with the following workspace config.

[code]
So I think the problem above may be related to the bzl file itself.

[2016-12-24 16:59] petemounce commented on #2246
Merry Christmas; https://chocolatey.org/packages/bazel/0.4.3 is in the queue.

[2016-12-25 14:13] amosbird commented on #258
+1. Compilation database is really useful for setting up a ycmd development env.

[2016-12-25 14:53] stapelberg opened #2296 "Remote worker cannot build targets when tools are involved (runfiles not found)"
### Description of the problem / feature request / question:

I’m trying to use remote workers, but it seems like runfiles for the tools (a py_binary defined in the same workspace) are not shipped to remote workers.

cc @hhclam (thanks for your work on this!)

### If possible, provide a minimal example to reproduce the problem:

[code]

…so, the BUILD file works as expected.

Now, in a separate te

[2016-12-26 08:42] ahyangyi opened #2297 "[Documentation request?] How were official JDK7 binaries built?"
Hi, I noted that one cannot simply build Bazel itself with JDK7. In 0.3.x era, removing a few test cases and patching one or two lines were sufficient to make it buildable, but as time goes there are more and more lines that needs a patch to be able to build under JDK 7.

I am _not_ criticizing this. I understand that the Bazel team already decides to abandon JDK7 and you are only maintaining it a

[2016-12-26 10:01] ahyangyi opened #2298 "[feature request] Allow users to add extra extension names for C/C++ toolchains."
Hi,

One of the reasons that I am still using an internal fork of Bazel is that we need to support CUDA programs with their .cu extensions. As CUDA is deeply integrated with C/C++ toolchains, and is usually supposed to be linked together with C/C++ object files with shared headers, it does not really make sense to treat it as a separate language.

My current solution to support CUDA is that I modi

[2016-12-26 11:12] abergmeier opened #2299 "http_archive not using BUILD.bazel"
### Description of the problem / feature request / question:

`http_archive` does not recognize package when only `BUILD.bazel` is present.

### If possible, provide a minimal example to reproduce the problem:

Have the following content in `WORKSPACE`:

    http_archive(
      name = "range_v3",
      url = "https://github.com/abergmeier/range-v3/archive/e268a1ff761c65a4a47f4b395d2668461584c570.z

[2016-12-27 03:49] jmhodges commented on #2176
Nobody bit on that thread! Seems like it's up to y'all.

[2016-12-27 07:13] ahyangyi commented on #1836
A simple note: 0.4.0 and 0.4.1 are also affected by this problem. I am unable to test 0.4.2 and 0.4.3 due to being unable to build JDK7 version of (my modified fork of) bazel, which I just raised as issue #2297.

I am able to build the JDK8 version, but all machines that I have access to and can run JDK8 have no performance issues anyway.

Note that this correlation does not mean JDK7 is the probl

[2016-12-27 09:41] damienmg commented on #2293
This is a workaround until this get fixed but you actually access the main repository from a remote repository so you should use `@//build_tools/clojure:clojure.bzl`. Without the `@` prefix it resolve to a repository local label, from the `@hiccup` repository so it is like `@hiccup//build_tools/clouure:clojure.bzl`.

So your new workspace file should looks like:
[code]

[2016-12-27 09:43] damienmg commented on #2294
This looks like a serious regression.

Which version of Bazel are you using? Can we get a full repro (which build file and a bazel command to run)?

[2016-12-27 09:54] damienmg commented on #2295
Right, also the whole test_summary proto might need some clean-up to fix the flakyness running (so we can return multiple result).

[2016-12-27 09:55] damienmg commented on #2295
(btw, if you wish to remove those dead code example, feel free to send code reviews :))

[2016-12-27 09:57] damienmg commented on #2289
Ok I have a version installed by the debian repository, the version number is correct but we do it differently, let me investigate.

[2016-12-27 09:58] damienmg commented on #2299
Hello,

This is a known issue that was fixed right after we cut version 0.4.3, it will be in the next release (or you can build a binary at HEAD).

Sorry for that.

/cc @katre fyi

[2016-12-27 09:58] #2299 closed

[2016-12-27 10:08] damienmg commented on #2297
Hello, `export JAVA_VERSION=1.7; ./compile.sh` should do it.

Also we have a plan to totally switch to Java 8 (replacing the JDK7 build by a built with an OpenJRE bundled in our binary distribution), we would love to hear more about your use case.

/cc @philwo

[2016-12-27 10:09] damienmg commented on #2297
(side-note: we actually build them with an OpenJDK 8 with -source and -target to 7)

[2016-12-27 10:11] damienmg commented on #1989
@yichengwang125 I will close this issue, feel free to ping it again if you cannot find a solution.

[2016-12-27 10:11] #1989 closed

[2016-12-27 10:12] damienmg commented on #2062
@ddwolf Have you tried it?

[2016-12-27 10:13] damienmg commented on #2240
Just replacing all the stamping information should do it.

[2016-12-27 10:39] damienmg commented on #2176
Ok thanks, this will get done next quarter. Happy holidays!

[2016-12-27 10:41] damienmg commented on #2246
@petemounce thanks but it seems like we will have to update the binaries: #2289 :(

[2016-12-27 11:13] ddwolf commented on #2062
@damienmg I have tried it using bazel-0.4.1 and the output is like this, I think the most paralleled threads it was running is 16, perhaps it's because I have too few test classes, but it's beyond 10 than I previously tested. so that's not a problem any more.
[code]

[2016-12-27 11:16] damienmg commented on #2062
Ok glad to hear it :)

[2016-12-27 11:16] #2062 closed

[2016-12-27 11:41] damienmg commented on #2289
Just used the bazel-0.4.3-installer.sh and got version 0.4.3 as expected.

What does `which bazel` returns?

[2016-12-27 11:44] damienmg commented on #2246
@petemounce I was not able to reproduce #2289 so I would say we are good to go.

Closing this bug, Merry Christmas!

[2016-12-27 11:44] #2246 closed

[2016-12-27 11:45] damienmg commented on #2289
deb package is also fine, I suspect an incorrect installation.

[2016-12-27 11:54] damienmg opened #2300 "CI failure: //src/test/java/com/google/devtools/build/lib:actions_test is failing on Windows"
Log: http://ci.bazel.io/job/bazel-tests/BAZEL_VERSION=HEAD,PLATFORM_NAME=windows-x86_64/437/console

Extract:
[code]

[2016-12-27 11:56] damienmg opened #2301 "CI Failure: //src/test/java/com/google/devtools/build/lib:cpp-rules-tests is failing on windows"
Log: http://ci.bazel.io/job/bazel-tests/BAZEL_VERSION=HEAD,PLATFORM_NAME=windows-x86_64/437/console

Extract:
[code]

[2016-12-27 11:58] damienmg opened #2302 "CI Failure: //src/test/shell/bazel:bazel_test_test failed on darwin (flake?)"
Log: http://ci.bazel.io/job/bazel-tests/BAZEL_VERSION=latest-jdk7,PLATFORM_NAME=darwin-x86_64/437/console

Extract:
[code]

Seems like a slave issue.

[2016-12-27 12:07] damienmg opened #2303 "Documentation of "manual" tags is misleading"
From [bazel-discuss@googlegroups.com](https://groups.google.com/d/msgid/bazel-discuss/CAM%3Ddnvctotra2VL_oG3-g-ukegYf1r47GcYF3PF_ReqFwDja%3DA%40mail.gmail.com?utm_medium=email&utm_source=footer):
[code]

Make people thinks that manual tags applies to build target but it only applies to test target in fact (for running them, not building them).

[2016-12-27 13:44] philbinj opened #2304 "Unnecessary rebuilds observed when compiling targets with globs."
There seems to be an issue where globs produce different results when bazel is run from scratch (i.e. after a shutdown) vs when it is cached. Here is a python script that reproduces the issue:

[code]

If you create a fresh directory and run the above script from within it a random tree of c++ files will be created with a corresponding BUILD and WORKSPACE. The script then alters the BUILD file and

[2016-12-27 13:49] trimbo commented on #2303
FWIW, I think it would be nice to have explicit build targets

[2016-12-27 14:49] endobson commented on #2295
The issue with just removing the dead code is that while in practice it is dead, it looks like the desired behavior was to do something different if the value wasn't set. In particular the current UI still adds a period if the class name isn't set. So you get things like "Passed .testCaseName" with a stray period. So I don't think the correct solution is to just remove the code, but instead figure

[2016-12-27 14:51] damienmg commented on #2301
I think the test is incorrect ifso file probably do not exists on Windows

[2016-12-27 15:00] damienmg commented on #2304
Sorry I added -s where it was usefull and never saw any rebuild, though there was loading invalidation which is expected.

Replacing the main loop with that give me 0 rebuild (-s print no action):

[code]

[2016-12-27 15:54] damienmg commented on #2304
No idea but we have been working hard a few months ago to fix invalidation issue with globs, could be it.

[2016-12-27 15:54] #2304 closed

[2016-12-27 17:10] damienmg opened #2305 "CI failure: Tutorial is broken due to darwin-1 is unable to build ios app again"
Example failure: http://ci.bazel.io/job/bazel-tests/BAZEL_VERSION=latest-jdk7,PLATFORM_NAME=darwin-x86_64/437/console

[code]

Tried various combination of clean --expunge, reboot, killing coreservice. Nothing worked.

For now I have bind the Tutorial job to the darwin-2 slave (in the Jenkins UI, restarting the jenkins instance will lose the change: Tutorial > Configure > "Restrict where this job

[2016-12-27 17:10] damienmg commented on #2305
/cc @c-parsons @aragos

[2016-12-27 17:16] damienmg commented on #2305
Sorry the step for modifying the Tutorial job is wrong. the correct step is "Tutorial > Configure" and in the Axis section for the PLATFORM variable, select the individual node "darwin-x86_64-2" and remove the "darwin-x86_64" label

[2016-12-27 17:23] damienmg commented on #2301
First failure was on run #414

[2016-12-27 17:31] damienmg commented on #2300
First failure was on run [#421](http://ci.bazel.io/job/bazel-tests/BAZEL_VERSION=HEAD,PLATFORM_NAME=windows-x86_64/421/console). It probably got ignored because of the various other failures. This was testing commit 4fb378c0fa08131394dc5e815f6fe5597d007a66 to 87532156cf3ed7b66c6db5cb1e57dff7424031ab both included.

[2016-12-27 17:32] damienmg commented on #2302
Confirmed it was a flake. As it seems infra related, closing.

[2016-12-27 17:32] #2302 closed

[2016-12-27 17:35] philbinj commented on #2304
Got it, thank you!

[2016-12-27 17:45] damienmg commented on #2300
likely culprit: d40c78a98e2b1f562170396f94bf54d17c6958d0

[2016-12-27 18:02] petemounce commented on #2246
Could not reproduce == on the nice list ;)

[2016-12-27 18:53] damienmg opened #2306 "'$' sign in the output base make all tests failed on windows"
See bazelbuild/continuous-integration#43 for more information

Categorizing as breakage since it prevents correct vetting of pull requests

[2016-12-27 19:00] damienmg commented on #2306
Likely culprit: https://github.com/bazelbuild/bazel/commit/af1e3c27364b5b97facd1148dd7d59a4c812f81b because of https://github.com/bazelbuild/bazel/blame/master/tools/test/test-setup.sh#L104

[2016-12-27 19:03] damienmg commented on #2306
Humm af1e3c2 is not in 0.4.2 that was already having the problem

[2016-12-27 19:05] damienmg commented on #2306
breakage started with 0.4.2

[2016-12-27 19:32] damienmg commented on #2306
Ok nothing to do with af1e3c2, the problems come from the generated .cmd file (tested by adding -x to the test-setup.sh)

[2016-12-27 19:35] damienmg commented on #2306
l29 of the cmd file, there is missing quotes, adding them fix the problem

[2016-12-27 20:00] damienmg commented on #2306
https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/bazel/rules/java/java_stub_template_windows.txt#L29

So at this line, the %%i should be quoted to fix the issue.

Since the issue needs another release and a proper regression test (set output_base to something with a dollar sign and execute a java test, useful integration test for Bazel on other platform t

[2016-12-27 20:02] damienmg commented on #2306
And Laszlo is the proud owner of that bug since he wrote the initial template :)

[2016-12-27 20:03] glinscott commented on #1000
How does caching work at all without this?  I guess all the machines that things are being built on have the same directory structure?  This is definitely not the case for most users :).

[2016-12-27 20:04] damienmg commented on #2306
(side note: since the commit with the bug was before, I suspect another commit changed the execroot computation and triggered the bug)

[2016-12-28 01:06] glinscott commented on #1000
I have a prototype of this working now, it did require a small change to bazel though:
[code]

Then, I added this into my CROSSTOOL:
[code]

[2016-12-28 08:02] StrangeTcy commented on #2289
`/home/myname/bin/bazel`

[2016-12-28 09:08] damienmg commented on #2289
Can you ls in that folder (~bin) and returns me the sha256 of all the Bazel
related files?

On Wed, Dec 28, 2016, 9:02 AM StrangeTcy <notifications@github.com> wrote:

[2016-12-28 09:08] damienmg commented on #2289
I meant in ~/bin

On Wed, Dec 28, 2016, 10:08 AM Damien Martin-guillerez <dmarting@google.com>
wrote:

[2016-12-28 10:42] petemounce opened #2307 "32-bit Windows build?"
There's a request for a 32-bit Windows build at the chocolatey package's disqus support board - http://disq.us/p/1es243i.

[2016-12-28 13:44] damienmg commented on #2300
I finally was able to repro and confirmed that d40c78a is responsible for this breakage.

[2016-12-28 14:18] damienmg opened #2308 "CI Failure (flake): java_integration_test#test_header_compilation is flaky"
Observed several time before but cannot find a breakage bug associated to it.

Log: http://ci.bazel.io/job/bazel-tests/BAZEL_VERSION=HEAD,PLATFORM_NAME=linux-x86_64/439/console

Extract:
[code]

/cc @cushon

Side-note: it would be really cool to finally fix our flaky test support

[2016-12-28 14:22] damienmg commented on #2301
And git bisect blame 0f4260bf916d70457f358a1f1dfbbd55d4c4b04c

[2016-12-28 14:27] damienmg commented on #2301
It added the culprit test actually: testCompilesTestSourcesIntoDynamicLibrary, let just skip it on Windows.

[2016-12-28 17:00] brandjon commented on #1295
I'm unable to reproduce using a toy example under either a recent version (0.4.0) or 0.2.3.

Looking at the line you linked, if you're talking about the scala_library rule, it doesn't have the mandatory flag on "main_class" (line 531), only scala_binary does. (I don't know Scala but I assume it's expected that a library wouldn't need a main class.) If you're having an issue with another rule where

[2016-12-28 17:00] #1295 closed

[2016-12-28 18:36] #2300 closed

[2016-12-28 18:36] #2301 closed

[2016-12-29 09:26] damienmg commented on #2308
This flake is in the test condition, the test actually passed but the conditions failed.

[2016-12-29 09:36] damienmg commented on #2288
Are you unpacking bazel under the TF tree? Can you just move that directory elsewhere?

[2016-12-29 09:41] damienmg commented on #540
Retriaged, this was wrongly categorized. This is hurting us too and it would be great to correctly fixing. Taking a look at it to assess.

[2016-12-29 09:43] anddelu commented on #1900
@jblaine I followed your idea using devtoolset-gcc/g++ and build successfully. Before I used other verion gcc4.8.5 and build failt.

[2016-12-29 11:52] ahyangyi commented on #2297
Thanks a lot for both comments! I'll try them out. Being able to build both versions from a single machine with a single installation of JDK will certainly simplify things.

I have no real particular affinity to Java 7. We currently do not enforce a single Linux distribution across our developer's machines, servers & VMs however, so telling them to install JDK 8 takes some effort. And Ubuntu 14.04

[2016-12-29 11:57] damienmg commented on #2297
Ok thanks for your answer. I am closing this issue for now, ping back if you have further issues.

[2016-12-29 11:57] #2297 closed

[2016-12-29 12:03] damienmg commented on #2068
By sharding then deactivating the timeout is not from the same test. Culprit is  com.google.devtools.build.lib.concurrent.MultisetSemaphoreTest, removing the test until we can fix #540

[2016-12-29 12:10] damienmg commented on #2068
Assigning to Nathan who is the original writer of the test.

Repro `bazel test --runs_per_test 10 //src/test/java/com/google/devtools/build/lib:foundations_test`, selecting only MultisetSemaphoreTest does not trigger the flake so it might have some interaction issues with other tests.

Maybe the solution is to extract that test in a separate process.

[2016-12-29 12:41] #2308 closed

[2016-12-29 13:34] damienmg opened #2309 "CI Failure (flake?): //src/test/shell/bazel:external_correctness_test#test_top_level_dir_changes_nobatch"
Log: http://ci.bazel.io/job/bazel-tests/BAZEL_VERSION=latest-jdk7,PLATFORM_NAME=linux-x86_64/444/console

[code]

[2016-12-29 13:41] damienmg commented on #2309
Grr another of those infra flake. "Server finished RPC without an explicit exit code"...

[2016-12-29 13:41] #2309 closed

[2016-12-29 14:41] damienmg commented on #540
So I have a fix on my machine should be there to celebrate 2017 :fireworks:

[2016-12-29 14:58] arjantop opened #2310 "Transitive dependencies are not always included"
### Description

When using `generate_workspace` transitive dependencies are not always included in the `exports` parameter of `java_library`. This does not always happen (one guess would be that this happens when two artifacts share some common dependencies).

### Example

`bazel run //src/tools/generate_workspace -- --artifact=com.twitter:twitter-server_2.11:1.25.0`

Output:
[code]

[code]

Outp

[2016-12-29 15:25] damienmg commented on #2068
side-note: I fixed #540 should be here in a few hours but we still needs to wait for it to be released to actually supress the flake (because 0.4.3 will just run it once, so we would still see the flake on ci.bazel.io)

[2016-12-29 16:16] #540 closed

[2016-12-29 17:04] mikelikespie opened #2311 "Module names for objc_libraries in external repositories importable because "@"s aren't removed"
When using `--experimental_objc_enable_module_maps`, the default clang module name given to external targets start with an `@` which is not possible to import in swift or objective-c (using `@import` syntax).

For example, the clang module for target `@SocketRocket//:SocketRocket` would become `@SocketRocket_SocketRocket`

Solution for this is to remove `@` from generated name

[2016-12-29 19:41] trivigy commented on #2161
Would greatly appreciate it if someone has a workaround for me. I am running pex builds right now and they are taking forever because pex keeps re-downloading everything on every build. Thanks.

[2016-12-30 01:13] alanrburns commented on #2140
Does this mean you can compile Bazel if you don't already have a bin..?
This seems not very well thought out..

[2016-12-30 01:22] charlesprogrammr commented on #2307
I'd like to ask for this, I've been trying for a week or so to build enough of the toolchain to build a 32 bit windows version of tensorflow, but everything I try seems to result in some seemingly insurmountable hurdle. I've tried with CMake and Visual Studio, and I've tried with Msys2, but I run out of heap, I've built the protoc/protobuf stuff, and set all the environment variables and java para

[2016-12-30 01:26] eric0755 opened #2315 "Is there any plan to use support android opensource code build AOSP"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:

_If asking a question or requesting a feature, also tell us about the underlying problem you're trying to solve._

### If possible, provide a minimal example to reproduce the problem:

### Environment info

[2016-12-30 06:10] tigersoldier opened #2316 "generate_workspace doesn't include runtime dependencies of maven artifact"
example:
bazel run //src/tools/generate_workspace -- --artifact=org.mockito:mockito-core:2.4.2

mockito-core has 4 runtime dependencies, none were generated.

[2016-12-30 07:38] StrangeTcy commented on #2288
I guess; it isn't necessary for bazel to be in that tree for it to work, is it?

[2016-12-30 07:54] StrangeTcy commented on #2289
[code]

`~/bin/bazel` was a link to `~/.bazel/bin/bazel`, its sha256 is
`SHA256(bazel)= 3cc9a34dc6699dc9df002d82d937845895b53f904159dd537088e64e50e7de05
`

[2016-12-30 08:48] damienmg commented on #2289
Is there a ~/.bazel/bin/bazel-real? If so can we have it's sha256 too?

On Fri, Dec 30, 2016, 8:54 AM StrangeTcy <notifications@github.com> wrote:

[2016-12-30 08:49] damienmg commented on #2288
I mean you have the Bazel sources underneath the TF source ?

[2016-12-30 11:05] dinowernli opened #2317 "Expose workspace names through bazel info"
It would be really nice to have `bazel info` expose the name of the workspace in a similar way that `bazel info workspace` exposes the path to the root of the workspace. Perhaps as additional output to `bazel info workspace`, or maybe a `bazel info workspace-name`?

[2016-12-30 12:09] arjantop commented on #2310
I think the problem is here: https://github.com/bazelbuild/bazel/blob/master/src/tools/generate_workspace/src/main/java/com/google/devtools/build/workspace/maven/Resolver.java#L166

New instance of Rule is created and transitive dependencies are resolved and added only in the case that the dependency is new. If the dependency already exists the dependencies will never be populated and https://gith

[2016-12-30 16:30] bscarlet opened #2318 "build-from-source docs have wrong output location"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:
The documentation for building from source (e.g. bazel/site/versions/master/docs/install.md) says the output should be in
"this will create a bazel binary in bazel-bin/src/bazel"
but after a successful build

[2016-12-30 22:29] endobson opened #2319 "Providers don't allow structs in sets"
[Example code](https://gist.github.com/endobson/524274789512f2fe613035bfd99bfffa)

Basics of the problem.
[code]

The docs say that structs should be allowed, and they seem to work with other kinds of values, so the interaction is with the output artifact, which by the docs shouldn't be allowed in the first place.

[Docs](https://www.bazel.io/versions/master/docs/skylark/rules.html#providers)

[2016-12-30 22:39] endobson commented on #2319
I hav actually reduced to a simpler case

[code]

And actually including the error output this time
[code]

[2016-12-31 02:55] aj-michael commented on #2315
You can find Bazel's roadmap (including our Android-specific plans) here: https://bazel.build/roadmap.html

[2016-12-31 08:44] davido opened #2320 "UX feature request: JUnit assumption violation"
In JUnit framework tests can be skipped with assumption, e.g. Gerrit Code Review supports environment variable to run SSH tests or not. When this variable is set, all SSH tests are skipped:

[code]

Here is the [CL that added this feature](https://gerrit-review.googlesource.com/#/c/93301/). In Buck, that fact is reflected in JUnit integration by issuing this comment in the output of the `buck test

[2016-12-31 09:55] louisway opened #2321 "bazel command not found"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:

my os is Ubuntu 14.04
I installed the bazel v0.3.2 by strictly following the INSTALLER installation instructions.
the results comes well except that i can't see .bazelrc generated at the path of $HOME/.baze

[2017-01-01 02:15] louisway commented on #2321
seems the reason is that i can't run it under sudo,so I am going to close it

[2017-01-01 02:15] #2321 closed

[2017-01-01 23:27] Whytehorse opened #2322 "Zlib link takedown breaks tensorflow"
zlib is now on version 1.2.9 but bazel install script tries to download 1.2.8 which is no longer available. I fixed it by changing the zlib version in /home/ben/git/bazel/tensorflow-cl/tensorflow/workspace.bzl

$ bazel fetch //tensorflow/...
.........
ERROR: /home/ben/git/bazel/tensorflow-cl/tensorflow/core/BUILD:956:1: no such package '@zlib_archive//': Error downloading from http://zlib.net/zlib

[2017-01-02 09:03] abergmeier-dsfishlabs commented on #2299
I seem to be dumb and blind this morning. Can you please point me to the commit.

[2017-01-02 10:05] laszlocsomor opened #2323 "Windows, client: cannot read .bazelrc file"
### Description of the problem / feature request / question:

Bazel built after https://github.com/bazelbuild/bazel/commit/7de9b6f1d9748d7347fa76f5ac8d0258c79b6d70 cannot be started:
[code]

### Environment info
* Operating System: Windows 10

------

**EDIT**: workaround: create an empty .bazelrc file somewhere, pass the path to it: `--blazerc=c:/tempdir/.bazelrc`

[2017-01-02 10:11] laszlocsomor commented on #2323
[`CreateFileW`](https://github.com/bazelbuild/bazel/commit/7de9b6f1d9748d7347fa76f5ac8d0258c79b6d70#diff-a60ada4cb822b4325ced295d7bbc44f5R235) is failing with `ERROR_PATH_NOT_FOUND` (0x3). Investigating why.

[2017-01-02 10:54] laszlocsomor commented on #2306
Blocked by https://github.com/bazelbuild/bazel/issues/2323

[2017-01-02 11:34] jefesaurus opened #2324 "Transitive external dependency loading"
I'm trying to get this in effect by following the suggestion here: https://groups.google.com/forum/#!topic/bazel-discuss/OhBIZ1DzSIw

The scenario is pretty hairy:
Load targets from external repo B into local repo A that depend on external(relative to both A and B) deps C,D,E etc. Some of which have build files specified in repo B.

I'm writing a macro to load the deps C, D, E for targets in repo

[2017-01-02 11:44] jefesaurus commented on #2324
Ah, got it. They're referenced using the `native` object like so:
[code]

[2017-01-02 11:44] #2324 closed

[2017-01-02 12:55] mhlopko commented on #2298
@lberki Wdyt?

[2017-01-02 13:12] laszlocsomor commented on #2323
Fixed in the internal depot, will be pushed to GH tomorrow the latest.

[2017-01-02 13:20] lberki commented on #2298
We'll eventually need to do this. The original motivation is not source files, but that output files (object files, libraries, executables and such) have different extensions in different operating systems. And once we have that, it's not a big stretch to extend the same thing to source files, too.

[2017-01-02 13:47] laszlocsomor commented on #2306
Culprit fixed, now looking at this error.

[2017-01-02 14:06] lberki commented on #1000
I concur with @ulfjack : `%{execution_root}` is not a good idea, because it is only meaningful on the system where Bazel is running, so if any actions are executed remotely, it breaks horribly because it'll be different for every user and also becuse the remote paths are probably not the same as the paths on the box where Bazel is running.

Unfortunately, the trivial fix, `-fdebug-prefix-map=.` do

[2017-01-02 15:03] laszlocsomor commented on #2306
Are you sure this wasn't just a transient test flakiness?

Here, I built Bazel at ccb78ec8 then ran the tests with it at the same revision:
[code]

This works for me. (The bazelrc part is a workaround for #2323).

[2017-01-02 15:15] damienmg commented on #2306
See the original bug on continuous integration, this is definitely an
permanent issue. Quoting after the set did the fix for me. Is it related to
running the test in msys vs from CMD.exe?

On Mon, Jan 2, 2017, 4:03 PM László Csomor <notifications@github.com> wrote:

[2017-01-02 15:28] laszlocsomor commented on #2306
Ok, I'll take another look, but so far I haven't been able to repro this.

I'm running the test from msys, did you try from cmd.exe? How did you get around `PATH` not being defined? (Because `Path` is defined, and envvars are case-insensitive, see #1842, and I can't undef an envvar.)

[2017-01-02 15:30] laszlocsomor commented on #2306
Ah, never mind. I can `set path=` then `set PATH=.....`

[2017-01-02 16:05] laszlocsomor commented on #2306
I could repro, investigating.

[2017-01-02 16:14] laszlocsomor commented on #2306
@damienmg , you're right, with `--output_user_root=/c/tmp2/a\$bc` the `$bc` interpreted as a shell variable, but that's not the only problem: msys and/or the launcher script think that `\` is a directory separator, not an escaping character, so `a\$bc` is treated as a path with `a` being the parent, `$bc` the child.

[2017-01-03 12:21] lberki opened #2325 "Crash in `analyze-profile --html --html_details`"
Repro:

[code]

Output:
[code]

[2017-01-03 13:13] laszlocsomor opened #2326 "Windows, tests: bazel clean fails ==> test fails"
### Description of the problem / feature request / question:

I guess because of #1586, bazel clean fails on Windows in the test tear down phase, even though the test methods succeed.

### If possible, provide a minimal example to reproduce the problem:
[code]

### Environment info
* Operating System: Windows 10

* Bazel version (output of `bazel info release`): 0.4.3 built from dist archive

[2017-01-03 13:14] laszlocsomor commented on #2326
Test log is like:
[code]

[2017-01-03 15:06] #2323 closed

[2017-01-03 15:06] #2325 closed

[2017-01-03 15:23] katre commented on #2299
https://github.com/bazelbuild/bazel/commit/b9c65d1ea5254b41238c23bdfbe3543f1dbd3a42

It's a revert of a revert of the original work, which does make it hard to
find, sorry.

On Mon, Jan 2, 2017 at 4:03 AM Andreas Bergmeier <notifications@github.com>
wrote:

[2017-01-03 15:49] abergmeier-dsfishlabs commented on #2299
Cherry-picking that onto 0.4.3 leads to:

    ERROR: in target '//external:jdk': no such package '@local_jdk//': BUILD file not found on package path.

[2017-01-03 16:08] katre commented on #2299
What are you building to test? I just built bazel from HEAD and it builds itself correctly.
I see the same error that you do when I checked out 0.4.3 and patched in that commit, so I'm not sure what the other differences are between 0.4.3 and HEAD that cause this.

Is working from HEAD acceptable to you, or should we keep investigating?

[2017-01-03 16:10] abergmeier-dsfishlabs commented on #2299
Am not too thrilled to use HEAD. If you can have another release of Bazel end of this month we should be ok, I think.

[2017-01-03 16:15] katre commented on #2299
https://github.com/bazelbuild/bazel/issues/2282 is already open for creating a release this month, so that should be workable. Thanks!

[2017-01-03 16:45] #2145 closed

[2017-01-03 17:57] steren opened #2330 "Tutorial: cannot deploy to App Engine: JDK 8 not supported"
The Installation instructions tell me to install JDK 8: https://bazel.build/versions/master/docs/install.html#1-install-jdk-8-1

However, when I want to [deploy my App Engine app](https://bazel.build/versions/master/docs/tutorial/backend-server.html#deploy-to-google-app-engine) and run `$WORKSPACE/bazel-bin/backend/backend.deploy test-gae-bazel` I get: `java.lang.IllegalArgumentException: Class fi

[2017-01-03 19:02] katre commented on #2330
I see that the rules_appengine repository does define a java_toolchain named "jdk7" (see https://github.com/bazelbuild/rules_appengine/blob/master/appengine/BUILD#L28). So I am curious about why it's not resolving for you.

Do you have a repository I can clone and a sample bazel command I can run to try and reproduce this?

[2017-01-03 19:15] steren commented on #2330
I am following the Bazel tutorial, the code is at
https://github.com/bazelbuild/examples/tree/master/tutorial/backend

On Tue, Jan 3, 2017, 20:02 katre <notifications@github.com> wrote:

[2017-01-03 20:41] katre commented on #2330
The issue is that the current rules_appengine release used by the examples is 0.0.3, which doesn't include the :jdk7 target.

I've cut a new 0.0.5 release of rules_appengine, and I'll shortly push a commit to the examples to start using it. It looks like everything builds correctly, but once that's out I'd like you to cherry-pick it and verify that it solves your problem and doesn't need any furth

[2017-01-03 20:42] steren commented on #2330
Sounds good, thanks. Count on me to verify the tutorial.

On Tue, Jan 3, 2017 at 9:41 PM katre <notifications@github.com> wrote:

[2017-01-03 20:45] katre commented on #2330
Please take a look at https://github.com/bazelbuild/examples/pull/21

[2017-01-03 21:49] glinscott commented on #1000
I believe the wrapper script wouldn't be sufficient, as it would still need something similar to the execution root to be able to send into the `debug-prefix-map` flag.  I think we'd need something similar to execution root that would work for remote workers.  Is there any such concept?

[2017-01-04 01:10] GregBowyer opened #2331 "WORKSPACE rules can break on case-insensitive file systems (e.g. OSX)"
### Description of the problem / feature request / question:
This is related somewhat to #552

Lets say you have a `WORKSPACE` rule like so

[code]

And lets say that directory expands like so
[code]

That leads to the irritating situation where we try to copy `libck.BUILD` into that directory as `BUILD`.
This is different from #552 in that in `WORKSPACE` rules we dont seem to have the ability to

[2017-01-04 02:46] klimchuk commented on #2322
Stuck with the same problem. Tried to switch it to 1.2.10 in workspace.bzl but of course it did not work.

[2017-01-04 05:28] charlesprogrammr opened #2332 ""run" command used to start javac"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

I am trying to build bazel from scratch on a windows 7 32 bit machine.

### Description of the problem / feature request / question:
What I finally had running suddenly stopped, complaining about the line [  run "${JAVAC}" -J-Xms1228m -J-Xmx1228m -nowarn -classpath "$

[2017-01-04 08:15] lberki commented on #1000
Why do you need something like the execution root? If we map whatever the workspace root is to, say `/workspace` using `-fdebug-prefix-map`, that will produce identical binaries regardless of the location of the workspace root on the worker.

[2017-01-04 10:23] raady07 opened #2333 "build command is only supported from with in a work space"
Hello
I am trying to build GPU version of tensorflow  and trying to flow a link described

https://alliseesolutions.wordpress.com/2016/07/05/how-to-install-gpu-tensorflow-0-9-from-sources-ubuntu-14-04/

coming to BUILD  TENSORFLOW Module:
 I tried using a command
bazel build -c opt --config=cuda //tensorflow/tools/pip_package:build_pip_package

I get a response
The build command is only supported

[2017-01-04 10:28] mhlopko commented on #2333
Are you running bazel from tensorflow folder? It looks like bazel misses the WORKSPACE file.

[2017-01-04 10:34] raady07 commented on #2333
I went to the tensorflow folder
and ran the same command, posting the error
`bazel build -c opt --config=cuda //tensorflow/tools/pip_package:build_pip_package
`
error
`ERROR: /home/raady/.cache/bazel/_bazel_raady/f2c720f19f8d24a566b7f8f160524753/external/local_config_cuda/crosstool/BUILD:4:1: Traceback (most recent call last):
	File "/home/raady/.cache/bazel/_bazel_raady/f2c720f19f8d24a566b7f8f160

[2017-01-04 10:51] mhlopko commented on #2333
And I assume you tried running ./configure and entering 'Y' to enable GPU support? :)

[2017-01-04 10:53] mhlopko commented on #2333
Anyway, tensorflow is the right place to ask, so if you don't mind, I'll close this issue.

[2017-01-04 10:53] #2333 closed

[2017-01-04 12:52] eric0755 commented on #2315
0.7	2017 Q2
P1. Android Studio interoperability

[2017-01-04 16:12] katre commented on #2331
What version of Bazel are you using? I recently committed bazelbuild/bazel@b9c65d1 (after initially committing it, then reverting it), which does exactly this: external repositories will use BUILD.bazel instead of BUILD to fix this issue.

Can you try building Bazel from head and seeing if that has the same issue? This is pretty much a duplicate of #2226.

[2017-01-04 16:21] katre commented on #2332
We are building on Windows in our CI server (https://ci.bazel.io) and not seeing this issue. Can you give more details about what you had running? Is the "run ${JAVAC} ..." you refer to the line in scripts/bootstrap/compile.sh? If so, run is defined in scripts/bootstrap/buildenv.sh (https://github.com/bazelbuild/bazel/blob/master/scripts/bootstrap/buildenv.sh#L148). Possibly it is being confused b

[2017-01-04 16:29] katre commented on #2322
I just cloned tensorflow from head, and I see that they are now using the urls parameter for the new_http_archive that downloads zlib. They are now fetching from both zlib.net and from a public mirror, http://bazel-mirror.storage.googleapis.com/zlib.net/zlib-1.2.8.tar.gz.

Are you building from head or a branch? Can you change to use the same mirror? Failing that, it should be straightforward to u

[2017-01-04 16:29] #2322 closed

[2017-01-04 16:51] kchodorow commented on #2161
@pcj,  `--experimental_repository_cache` has never been a no-op.

@trivigy, ctx.action happens during a different phase than the repository cache handles.  If you want Bazel to cache downloaded things, implement a [repository rule](https://bazel.build/versions/master/docs/skylark/repository_rules.html).  Do something like `ctx.execute(["pex", <your thing>])` and then depend on the target your gene

[2017-01-04 18:02] andrewharp opened #2334 "android_binary rules add undesired contents to assets/ in APK from new_http_archive rules"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:

In the Jenkins build of the Android TensorFlow demo, bazel packages the zip file of the archive and all associated meta-data files, resulting in an unnecessarily doubled APK size.

### If possible, provide

[2017-01-04 18:44] Whytehorse commented on #2322
I also had to change the sha hash to match the 1.2.9 file.

[2017-01-04 19:28] kchodorow opened #2335 "Bazel should error out if --output_user_root is in the workspace"
Otherwise you get confusing error messages if you try to build `//...` and your bazel install is a subdirectory.

[2017-01-04 19:34] Helcaraxan opened #2336 "Provide the 'pkg_zip' rule that is already suggested in the documentation."
The documentation for [packaging rules](https://bazel.build/versions/master/docs/be/pkg.html) suggests that the `pkg_zip` should be provided later on in Bazel's development.

With the ongoing stabilization effort for Bazel on Windows I think it would be great if this rule is added in the near future as ZIPs are the more usual package format for that platform.

It could for example be used to packa

[2017-01-04 19:39] dfabulich opened #2337 "Allow "bazel run" to release the lock after building but before launching"
I'm filing an issue to capture the discussion in this thread. https://groups.google.com/d/msg/bazel-discuss/mS98nXz9PbY/WLV3zLST3SwJ

There's no built-in way in Bazel to `bazel run` two long-running processes, e.g. server processes. `bazel run` locks the Bazel server; the lock isn't released until the launched process is finished.

It's possible to work around this issue by using `bazel run --scri

[2017-01-04 19:59] trivigy commented on #2161
@kchodorow Thanks. Exactly what I did. Ended up doing `pip download <stuff>` and then pex depends on the downloads folder. This does solve my problem but leaves the WORKSPACE file to be enormous. This is something I can certainly live with.

[2017-01-04 19:59] #2161 closed

[2017-01-04 20:32] katre commented on #2337
The problem is that there isn't a lock per se, it's built into how Bazel operates. It'd be far simpler to update IntelliJ to use --script_path than to have Bazel recognize which situations are safe to allow to commands to run, without a fundamental change to how Bazel is written.

This is effectively a dupe of #532 so I will close it and link you there.

[2017-01-04 20:46] kchodorow commented on #2294
I can't reproduce this at head (4a099f977df1fd0ca912c31e7acbbe21b0267119).  In a clean repository, I've got:

[code]

I then build `bazel build @golang//...`, and that generates:

[code]

Then I change the WS to:

[code]

I run `bazel build @golang//...` again and get:

[code]

Can you give some more details about how you're getting this?

[2017-01-04 22:23] charlesprogrammr commented on #2332
Katre,

Let me begin with a thank you for responding. I had msys2 and mingw64 running in a Windows 7 32-bit environment with 2GB RAM, and a couple of drives running ReadyBoost. I installed the 32-bit msys2 into a folder named "msys64" since the name is all that is really checked, as far as I know. Thus I eliminated that part of the 64-bit requirements. I downloaded and installed the prereqs like p

[2017-01-04 23:13] petemounce commented on #2181
Anything I can do to assist with this? It's one of the things that blocks our Windows adoption.

[2017-01-04 23:15] petemounce commented on #1941
Friendly ping?

[2017-01-05 00:14] trainman419 opened #2338 "bazel crashes when applying aspects to aliases"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:

We're using Aspects to apply a doxygen build to many of our targets. To simplify the naming for some of our third-party dependencies, I've added an alias that wraps a cc_library rule.

Unfortunately this al

[2017-01-05 00:45] steven-johnson commented on #1248
What are the chances of this being fixed in 0.5? (I have dozens of TODOs in my BUILD files that I'd love to be able to scrub...)

[2017-01-05 00:46] GregBowyer commented on #2331
Yes that fixed it

[2017-01-05 00:46] #2331 closed

[2017-01-05 01:00] steven-johnson commented on #2058
Does this mean there is a different fix in the future? (I'm cleaning up old TODOs and trying to figure out if this is something I'll need to circle back to eventually)

[2017-01-05 02:36] ahumesky commented on #2334
Is the jenkins build running on a mac, or does it run bazel without sandboxing?
I also didn't see this on linux, but turning off sandboxing with `--spawn_strategy=standalone` reproduces the problem:

[code]

I believe the problem here is that aapt only knows how to take directories, as opposed to lists of specific files, so bazel takes the list of assets files and finds all the directories the ass

[2017-01-05 02:44] andrewharp commented on #2334
It's Linux, and apparently doesn't support sandboxing.

This section from the build log also seems relevant:
[code]

[2017-01-05 02:51] andrewharp commented on #2334
Ok, if I run locally with --spawn_strategy=standalone I can reproduce the problem myself. Any idea why our Jenkins build might not support sandboxing?

@yifeif @gunan

[2017-01-05 03:23] cnsgsz opened #2339 "Implement proper, language-agnostic handling of runfiles trees"
I have a python test named foo whose main is foo.py that depends on cpp binary. I have it set up as recommended in #703. It works when it is run in bazel test.

However, I sometimes want to run the python test manually by invoking foo (the executable python script that's generated by bazel that sits in the same bazel-bin directory as foo.runfiles). However it complains that the cpp binary cannot b

[2017-01-05 04:26] dfabulich commented on #2337
I don't think I agree.

#532 is a very ambitious bug. It proposes attempting to identify when/how two builds could be run simultaneously, subtly teasing apart which parts of the build can run safely in parallel. (Perhaps just the analysis phase? And if the outputs are guaranteed not to overlap…?)

To fix #2337, I'm imagining that `bazel run` would always use --script_path; the client process would

[2017-01-05 04:33] kayasoze commented on #1000
Indeed, it might be best to have Bazel add the appropriate flag value automatically, thus avoiding the need to expose the variable.  If there is a need to disable this functionality, a field can be added to the CROSSTOOL proto.

[2017-01-05 04:44] softprops commented on #904
Any progress on this?

[2017-01-05 09:01] mmlac commented on #2279
I see the issue as well but my prompt immediately jumps to the next and displays the autocomplete correctly. Is that happening for you as well and it's more of a cosmetic issue or are you stuck with the INFO.... in the prompt?

I'm using yadr / pretzo and it looks like that for me, [_] being the cursor:

[code]
[code]

and at this point I can just use it as normal, just have that weird echo line i

[2017-01-05 10:13] petemounce commented on #2336
That would be really useful.

[2017-01-05 10:16] laszlocsomor commented on #1744
Fixing this depends on implementing [blaze_util::MakeDirectories](https://github.com/bazelbuild/bazel/blob/8820f10876cbb88bfbcba6ada2ea55167efdcdb9/src/main/cpp/util/file_windows.cc#L354) (`mkdir -p` on Windows).

[2017-01-05 10:27] laszlocsomor commented on #2181
Thanks, I think we're close to fixing this. I'm about to update the CreateFileA calls to CreateFileW in blaze_util_windows, then update the CreateProcessA ones to W, and that should do it.

[2017-01-05 15:21] tbroyer commented on #2044
AutoValue has, by design, [zero runtime dependency](https://github.com/google/auto/blob/master/value/userguide/why.md), so couldn't it have simply been marked as `neverlink=1`? AFAICT that'd have excluded it from `TestRunner_deploy.jar` and would have fixed the issue too.
(same for AutoService BTW)

[2017-01-05 16:19] katre commented on #2337
I'll be happy to review a PR for your proposal.

I agree that being able to run two targets at once (or even the same target twice) would be a good thing, I'm just worried about how deep the changes will need to get. But please feel free to take a look and try your idea and I'll be happy to take a look at what you come up with.

[2017-01-05 16:30] katre commented on #2332
Like I said, I'm very surprised that the out-of-the-box build isn't working for you, since we build continuously in our CI setup (visible at https://ci/bazel.io). If you're still using 0.1.0, however, that could be an issue.

Can you grab a copy of the latest release, 0.4.3 (available here: https://bazel.build/versions/master/docs/install.html#windows) and try that?

If you're not actually interes

[2017-01-05 16:57] laszlocsomor commented on #2181
TIL: CreateProcessW doesn't support long paths, not even with "\\?\".

(..a moment of silence..)

Luckily, there's GetShortPathName so we can shorten those long paths and CreateProcess can spawn a process with them.

[2017-01-05 17:52] endobson commented on #2279
The info line is not in the shells buffer just in the terminals view, so in that sense it is cosmetic. But I never have had this issue with blaze only bazel, so it seems like it should be solvable.

[2017-01-05 17:58] laszlocsomor commented on #2181
Another poor soul who ran into this, and tried everything I tried and some more:
https://social.msdn.microsoft.com/Forums/windowsdesktop/en-US/944e2977-ad09-4b10-818b-ba383a3f8db0/createprocess-with-extended-length-path-fails-errorinsufficientbuffer?forum=windowsgeneraldevelopmentissues

[2017-01-05 18:17] charlesprogrammr commented on #2332
I'd love to just use it, but unfortunately, this is 32-bit Windows 7.

[2017-01-05 18:26] katre opened #2342 "Windows: $ in output_base is breaking paths."
On Windows, trying to build Bazel from head, we are having repeated errors on Windows.

(See http://ci.bazel.io/view/Dashboard/job/Bazel/1151/JAVA_VERSION=1.8,PLATFORM_NAME=windows-x86_64/console for sample):
[code]

The actual output base for the SYSTEM user is:
[code]

The output base shown in this command is:
[code]

Looks like the $7 is being interpreted by msys2/bash as an environment variabl

[2017-01-05 18:56] katre commented on #2342
Not sure if it's directly involved, but the error mentions jarjar and git bisect points to 823091f7516abf7d854021edc765daf1467f1647 as the culprit, so assigning to @lberki

[2017-01-05 18:56] katre commented on #2342
Actually, that can't be the root cause, it's just where the symptom shows up. Sigh, continuing to search.

[2017-01-05 19:22] katre commented on #2342
Looks like the issue is here: https://github.com/bazelbuild/bazel/blob/master/src/main/cpp/blaze_util_windows.cc#L1059

[2017-01-05 19:25] glinscott commented on #1000
@lberki ah, okay.  I think I misunderstood.  Agreed, if we have bazel remap the workspace root automatically, that would be ideal.

[2017-01-05 19:34] katre opened #2343 "JarJar gets "Access Denied" error on Windows"
When building Bazel's //src:bazel on Windows:

[code]

[2017-01-05 19:37] katre commented on #2343
JarJar was added recently in 823091f7516abf7d854021edc765daf1467f1647, will revert that to resolve the breakage for now.

[2017-01-05 20:30] jimht011 commented on #760
It seems most effort here is to use a new gcc and glibc other than the default one in old version OS such as centos 6.  But our case is a little different. We use javacpp to load tensorflow trained model . Unfortunately, our J2EE environment is still using RHEL 6.8 which has glibc 2.12.  Obviously, the two tensorflow libraries published by google were built in an environment with a glibc equal or

[2017-01-05 20:41] abergmeier commented on #2342
IMO having that special behavior _only_ for Windows is guaranteed to break thinks further down the line when devs are not using Windows as their primary platform.

[2017-01-05 20:56] aj-michael commented on #1886
`bazel fetch //some/android:target` will intentionally fail without an `android_sdk_repository` set up in the `WORKSPACE` as of 0b9ebfe. See https://github.com/bazelbuild/bazel/issues/1819#issuecomment-266460423 for context on this decision. Tensorflow's use case was cleaned up in tensorflow/tensorflow#6225.

[2017-01-05 20:56] #1886 closed

[2017-01-05 21:11] #2342 closed

[2017-01-05 21:13] katre commented on #2343
Now that the offending commit is reverted I will downgrade the severity of this issue.

[2017-01-05 21:49] katre opened #2344 "Windows: //src/main/cpp:client depends on blaze::OpenDirectory but it isn't included."
Error:
[code]

[2017-01-05 22:51] aj-michael commented on #2284
@ahumesky, what reason is there to avoid the load? My understanding is that we are working towards moving as many native rules to Skylark as possible, and all of those rules will require load(). Is there any reason why this one should be special?

[2017-01-05 23:55] laszlocsomor commented on #2344
Thought I fixed that, sorry.
Problem is, OpenDirectory is now declared in the `blaze` namespace (blaze_util_windows.cc) but defined in the `blaze_util` namespace (file_windows.cc).
Solution is to add this to the top of blaze_util_windows.cc:
[code]

then qualify the call sites with `blaze_util::`.

[2017-01-06 00:48] sugartom commented on #2309
@damienmg Hi Damien, I saw a similar error message "Server finished RPC without an explicit exit code" when installing tensorflow from source. Do you have any idea why this is happening? Details [here](https://github.com/tensorflow/tensorflow/issues/6678). Thanks in advance! :-)

[2017-01-06 01:00] dmitryb-ai2 commented on #1279
Any traction on this? Current iOS support is pretty busted without iOS crosstool, and there's a catch 22 -- no one uses it because it's busted, so no one will fix it because they're not using it. For my needs it'd be pretty awesome to be able to build at least frameworks (with a rather large transitive closure of C++ deps) that I could then include into an XCode project that contains just the UI b

[2017-01-06 06:23] John-xiao opened #2345 "zlib 1.2.10 (2 Jan 2017) released"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:

_If asking a question or requesting a feature, also tell us about the underlying problem you're trying to solve._

### If possible, provide a minimal example to reproduce the problem:

### Environment info

[2017-01-06 09:30] petemounce commented on #2181
Happy New Year...?

[2017-01-06 10:27] laszlocsomor commented on #2344
With the revert, this is not an issue anymore.

[2017-01-06 10:27] #2344 closed

[2017-01-06 14:27] katre commented on #2345
What specifically is this bug requesting? Feel free to re-open it with more details.

[2017-01-06 14:27] #2345 closed

[2017-01-06 14:29] katre commented on #2332
You can try building the latest source, but we aren't taking any steps to ensure operation on 32-bit systems so I am not sure what will or will not work.

If you run into specific problems feel free to open a new issue with full details and we will try to investigate.

[2017-01-06 14:29] #2332 closed

[2017-01-06 14:36] nydal91 opened #2346 "build bazel on armv7l: failed: process-wrapper failed: error executing command"
Hi! im trying to build bazel on armv7l device it has a Allwinner a3 with 512mb ram. But it fails all the time..
`$uname -a
Linux DietPi 3.4.113-sun8i #2 SMP PREEMPT Thu Nov 24 13:45:59 GMT 2016 armv7l GNU/Linux`

`$which gcc
/usr/bin/gcc`

`which java
/usr/bin/java`

error messages:
`🍃  Building Bazel with Bazel.
.WARNING: /tmp/bazel_3YI1wv9s/out/external/bazel_tools/WORKSPACE:1: Workspace name in

[2017-01-06 15:17] nydal91 commented on #2346
I get this error sometimes to...

`.WARNING: /tmp/bazel_TGijuHtB/out/external/bazel_tools/WORKSPACE:1: Workspace name in /tmp/bazel_TGijuHtB/out/external/bazel_tools/WORKSPACE (@io_bazel) does not match the name given in the repository's definition (@bazel_tools); this will cause a build error in future versions.
INFO: Found 1 target...
ERROR: /root/tf/bazel-0.4.0/src/BUILD:56:1: Executing genrule

[2017-01-06 15:46] katre commented on #2346
What command are you using to build? This is showing the subcommands being run but I don't see the actual errors those subcommands are reporting, so it's hard to diagnose anything.

With each of them, are you able to successfully run the commands given yourself? For example, in the first you could actually change to the /tmp/bazel_3YI1wv9s/out/bazel-sandbox/068ced50-92ab-4b04-bbd2-7ed005633ddb-0/e

[2017-01-06 16:10] nydal91 commented on #2346
I'm following this guide https://www.neotitans.net/install-tensorflow-on-odroid-c2.html and changed to arm those how are aarch64. I have tried to build with bazel 0.4.3 but that will not start even
. I'm running in terminal like this:
`sudo ./compile.sh`

what you mean about change `/tmp/bazel_3YI1wv9s/out/bazel-sandbox/068ced50-92ab-4b04-bbd2-7ed005633ddb-0/execroot/bazel-0.4.0`

[2017-01-06 16:15] katre commented on #2346
We don't currently support ARM directly, although there are people on the mailing list who are trying to make that work.

What errors do you get when running ./compile.sh from version 0.4.3? Are you building from the released dist package, or from a git checkout? See https://bazel.build/versions/master/docs/install.html#compiling-from-source for the latest directions on setting up and building fro

[2017-01-06 16:53] c-parsons commented on #1279
I'll be working on this this quarter. I should at the very least have something rudimentary later this month.

[2017-01-06 18:13] nydal91 commented on #2346
this happen https://github.com/bazelbuild/bazel/issues/2140 when I try to build with bazel 4.3

[2017-01-06 18:13] nydal91 commented on #2346
i gonne test out the cd to the directory

[2017-01-06 18:22] katre commented on #2346
Right, as that bug says, you need to run compile.sh from the dist archive, which you can find at the link I gave you.

[2017-01-06 20:12] sethkoehler opened #2347 "Check for git repo in skylark rule in git.bzl doesn't work if bazel output_user_root is inside a git repo."
I noticed (what I think is) an issue in the Skylark git.bzl rules that I figured I'd pass along...it may not come up much, but it bit me yesterday :)

### STEPS TO REPRODUCE ###

[outer_git_repo.tar.gz](https://github.com/bazelbuild/bazel/files/690747/outer_git_repo.tar.gz)

1. Extract the contents of the attached "outer_git_repo.tar.gz" example.
1. cd outer_git_repo
1. ./fetch.sh  (which just run

[2017-01-06 20:36] dmitryb-ai2 commented on #1279
FWIW, I'm trying to create my own CROSSTOOL that points to iOS toolchain at the moment. It's not generated, but for my needs it doesn't have to be. I'm using the existing OSX darwin crosstool as a template. My uber-goal is to be able to use several C++ dependencies in iOS transparently, the most important of which is Protocol Buffers. If you'd like, I could share the resulting CROSSTOOL in a gist

[2017-01-06 20:38] c-parsons commented on #1279
Sure, I would definitely be interested in seeing what you come up with. I'll try to keep this bug up to date with my progress, as well.
Thanks, and good luck!

[2017-01-07 00:16] katre commented on #2347
@kchodorow, I think this is an error using output_user_root, but I'm assigning to you because you understand that better than I do.

[2017-01-07 01:37] dmitryb-ai2 commented on #1279
At this point it seems to compile stuff, but linker barfs on `ld: symbol(s) not found for architecture arm64`. I'm probably forgetting a flag somewhere. The `*.o` files are there, and objdump -disassemble does show aarch64 assembly, so technically _compile_ already works.

[2017-01-07 02:02] John-xiao commented on #2345
sorry. should add this to syntaxnet which still use zlib 1.2.8

[2017-01-07 04:40] nydal91 commented on #2346
Trying to build with bazel 4.3 get this error:

`  🍃  Building Bazel with Bazel.
.WARNING: /tmp/bazel_tjQzdSGu/out/external/bazel_tools/WORKSPACE:1: Workspace name in /tmp/bazel_tjQzdSGu/out/external/bazel_tools/WORKSPACE (@io_bazel) does not match the name given in the repository's definition (@bazel_tools); this will cause a build error in future versions.
INFO: Found 1 target...
ERROR: /root/tf

[2017-01-07 05:13] katre commented on #2345
Syntaxnet is part of Tensorflow. Please create an issue on Tensorflow's repository about upgrading their libraries.

[2017-01-07 10:04] variac commented on #1279
Me again (under my personal account).

OK, I got things to build and link. The culprit was
[code]
Which I removed earlier because linker is complaining that this is deprecated for iOS. It does still complain about that, and the resulting library seems suspiciously small, but it doesn't fail. I'll try to link it into an actual iOS app in XCode to test later today.

Is there a workaround for the dep

[2017-01-08 01:07] pauldraper commented on #89
Agreed.

(1) Checking in script outputs is not very DRY. A build system that requires this is a weird build indeed.

(2) As pointed out earlier, `java_library` manages to transitively add dependencies to classpath; we just need that for remote jars.

(3)

That is *exactly* what is required today. With a transitive rule, you could specify exactly one SHA hash for the entire resolved result.

I don'

[2017-01-08 09:14] variac commented on #1279
Doesn't work. Both *.a and *.so seem to only contain the symbols defined in the source of their immediate target. My understanding is, *.so should link everything but libc++ statically. That does not seem to be happening.

Additionally `-fembed-bitcode` is incompatible with `-undefined dynamic_lookup`, and without the latter, linker barfs on not finding the sub-modules to link. Not sure how this c

[2017-01-08 09:15] variac commented on #1279
Here's the gist: https://gist.github.com/variac/58c124429615c98019de65f789638d3b

[2017-01-08 10:29] ittaiz commented on #2049
Hey,
This isn't in, right?

[2017-01-08 10:36] davido commented on #2049
Unforunately, the review was staled: [1].

* [1] https://bazel-review.googlesource.com/7213

[2017-01-08 10:43] ittaiz commented on #438
#1733 sounds like a duplicate of this one. If I'm not mistaken and seeing as it has more participants and conversation maybe this should be the one closed.

[2017-01-08 10:45] ittaiz commented on #2049
@damienmg @kchodorow Can anything be done to push this forward?
Thanks!

[2017-01-08 10:51] ittaiz commented on #970
@dslomov Does the 0.5 milestone label mean we can expect this to land this month? fingers_crossed :)

[2017-01-08 10:55] ittaiz commented on #1372
@damienmg is 0.5 realistic? any chance to see a deploy story for maven jars landing this release?

[2017-01-08 15:24] ronshapiro commented on #1372
The actual `maven_deploy` logic would be nice, but simple enough to implement on your own since they're just HTTP PUT calls. I think the more interesting side of the deployment process is the packaging and creating of a maven `pom.xml`. I have a rough-and-dirty script which parses the `WORKSPACE` file for artifacts and then scans the `deps`+`exports` lists of our deps in Dagger, and then omits dep

[2017-01-08 18:55] rtsai commented on #2292
We found something similar, and it was not a bazel problem.

In protobuf v3.0.2, the BUILD file assumes it lives in //third_party/protobuf (in our workspace, it lives in //third_party/google/protobuf). Fortunately, this can be solved by only patching the protobuf BUILD file, with no source patches necessary. We patched our :protobuf_test target:

[code]

[2017-01-08 19:53] dionescu commented on #2292
Are you using the Bazel proto rules (e.g. cc_proto_library from latest release)? With third-party proto build rules  you can probably specify your proto toolchain as you desire. Bazel source code, however,   has the location //third_party/protobuf:protoc hard-coded for the proto rules.

[2017-01-08 20:10] rtsai commented on #2292
You are right. We have also created a Skylark extension to override cc_proto_library . It sets the "default_runtime" and "protoc" attributes to point at our path in //third_party/google/protobuf, then calls the protobuf cc_proto_library.

[2017-01-09 09:51] ulfjack commented on #2223
Reopening per request from @endobson .

We're actually considering dropping the special parts in the current proto. Since we introduced the proto, our internal users have changed to parsing the command-line instead of relying on the special protos or they're ok with doing so. Proto3 also doesn't support extensions any more, so if we want to keep something like this after all, we'll need to come up

[2017-01-09 09:53] ulfjack commented on #2236
Can you give us more info? Is this for C++? Do you get coverage results despite the test log output or does the coverage run fail? If so, can you post a larger chunk of the bazel output?

[2017-01-09 10:21] ulfjack commented on #2058
Yes. The plan is to have a special target that provides the make variables
as well as the right files. All genrules that use $(CC) will need to be
updated for that (and similar for Java).

On Thu, Jan 5, 2017 at 2:00 AM, Steven Johnson <notifications@github.com>
wrote:

[2017-01-09 10:49] mhlopko commented on #2346
So just to be sure I understand things correctly. You now have bazel 0.4.3 on your machine installed and working. With this bazel, you're trying to compile bazel from the github HEAD, with your changes needed to support arm. And you see the 'Permission denied' error message. Correct?

Can you check that process-wrapper is there and has +x permission?

[2017-01-09 10:52] lberki opened #2349 "TMP: Cannot create temp files in Java binaries in actions"
For one reason or other, `File#createTempFile()` tries to create the file in `C:\WINDOWS`, which of course fails with an access denied error.

This choice of default behavior in Java is questionable and it probably works because the `TEMP` environment variable is usually set. Except in Bazel actions.

[2017-01-09 10:55] damienmg commented on #1372
@ittaiz I don't think we can do it by 0.5 moved to 0.6. But the design should be pretty straightforward as @ronshapiro described.

[2017-01-09 11:23] damienmg commented on #1941
pinging @dslomov and @kchodorow

[2017-01-09 11:26] damienmg commented on #904
Not really, documentation is still missing...

[2017-01-09 11:28] ittaiz commented on #1372
Fair enough. I suspected as such as didn't see any activity about it on bazel-dev.
@ronshapiro do you have any estimate when you'll have that first very rough version synced?

[2017-01-09 11:30] damienmg commented on #760
Hi @jimht011: can you open a separate issue for helping for your case?

[2017-01-09 11:30] ittaiz commented on #904
@damienmg not to belittle documentation but does that mean the code itself is ready in your opinion?

[2017-01-09 11:31] damienmg commented on #2309
/cc @lberki: can we get a better error message than the server died? Maybe output some log file?

[2017-01-09 11:32] damienmg commented on #904
To use for remote caching yes, but it still has no server side. Hazelcast can be used but I am not sure about the stability.

I also prototyped a local disk cache yesterday, see https://cr.bazel.build/8133

[2017-01-09 11:32] damienmg commented on #904
(side-note: the protocol is still not stable, so we might change stuff in the future)

[2017-01-09 11:34] damienmg commented on #2049
@kchodorow: can this issue be triaged? and the code review finished?

[2017-01-09 11:34] damienmg commented on #2049
/cc @helenalt fyi

[2017-01-09 11:35] ittaiz commented on #904
Thanks for the clarification. Do you expect distributed actions to be supported any time soon?

[2017-01-09 11:37] damienmg commented on #904
It is in the same state that caching, no server-side, no documentation still subject to change
As said on IRC to @abergmeier, the protocol itself should work.

[2017-01-09 11:51] damienmg commented on #2289
Ok FTR, for 0.4.3, for the debian package:
[code]

They are the same from the installer.

I am closing this issue, your installed binary is not 0.4.3.

FTR 0.4.2 sha's:
[code]
So it matches 0.4.2. wrapper.

[2017-01-09 11:51] #2289 closed

[2017-01-09 11:51] damienmg commented on #2293
This does seems resolved, closing, please ping if you still have issues

[2017-01-09 11:51] #2293 closed

[2017-01-09 11:52] mhlopko commented on #2330
Hi Steren,
can I close this issue now? Is it working for you after the new rules_appengine release?

[2017-01-09 12:08] #2315 closed

[2017-01-09 12:08] ulfjack commented on #2275
Wait, what? We compile linux-sandbox in the target configuration, and as part of the build?

[2017-01-09 12:11] ulfjack commented on #2275
Oh, I see. We need to update cc_configure to generate a coverage section for clang.

[2017-01-09 12:15] ulfjack commented on #2275
The dependency on linux_sandbox may be unintentional, but it doesn't matter - if there's any C++ code in the transitive closure, we try to link it with -lgcov, and that needs to be fixed to make it work.

See https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/rules/cpp/CppConfiguration.java#L965

[2017-01-09 12:33] steren commented on #2330
Yes, this issue is fixed in https://github.com/steren/bazel/commit/cf6fdcdee203ea3e37f6340c8476020e4d090717

[2017-01-09 12:33] #2330 closed

[2017-01-09 12:36] mhlopko commented on #2288
Friendly ping @StrangeTcy

[2017-01-09 12:56] damienmg commented on #1465
After much reflexion, I am unsure this is a bug.

It resolve the label in the context of the repository therefore it is relative to the package. The expected behavior is that it is relative to the root package. That the whole strangeness in the WORKSPACE file defining a external package.

Dropping priority anyway.

[2017-01-09 13:00] mhlopko commented on #2274
Friendly ping @jowagner, is setting the flag in the .bazelrc working for your case?

[2017-01-09 13:02] damienmg commented on #923
@vladmos: as per Laurent guideline, assigning to you to look into += performance.

MD5 checks, adding @haxorz and @janakdr

[2017-01-09 13:08] damienmg commented on #1595
CR sent: https://cr.bazel.build/8139

[2017-01-09 13:26] vladmos opened #2350 "Change the semantics of += for lists"
Currently the `+=` operator is just a syntax sugar for `x = x + y`, and, because of that, when applied to lists, makes the original list be copied, which may result in O(n^2) complexity if new elements are appended one by one.

The behaviour of the `+=` operator applied to lists should be change to the pythonic behaviour which is synonymic to `.extend()` (by mutating the original list).

Note: if

[2017-01-09 13:26] ulfjack commented on #1748
I checked and StandaloneTestStrategy indeed does not track test process times, so this couldn't possibly work.

[2017-01-09 13:28] vladmos commented on #923
The behaviour of `+=` hasn't been changed yet (it's a complex task, simply changing semantics from "copy" to "extend" breaks a lot of existing code which we need to clean up first or to ensure the maintainers will do it). We are going to do it anyway, if it's a bottleneck you can rewrite the rules to that they use `.append()` or `.extend()` instead.

I've just filed a separate ticket for this issu

[2017-01-09 13:35] damienmg commented on #923
@vladmos: but @dfabulich said that he has same perf with += and append...

[2017-01-09 13:53] vladmos commented on #923
@damienmg I took it as a proof that the poor performance of `+=` is not the bottleneck here. Maybe I misunderstood, I'll try to examine the performance of `.append` to make sure it's O(1).

However according to the code the `append` method falls back to ArrayList.add which is amortised O(1), I wouldn't expect it to be the reason of the builds being slow.

[2017-01-09 13:56] ulfjack commented on #1748
That's not right. It does track the process time (incorrectly), but it doesn't add the time to the result proto, so the analyzer doesn't have it.

[2017-01-09 13:59] damienmg commented on #923
Well there was a 450ms in skyframe eval which seems a lot so it has to come from somewhere in Skylark

[2017-01-09 14:03] ulfjack commented on #1748
I think I have a fix.

[2017-01-09 14:15] damienmg commented on #1499
Ok I think this a bit too complex to resolve soonish.

[2017-01-09 14:15] damienmg commented on #1670
Duplicate of #1793, however I found another one with a nested repository.

[2017-01-09 14:17] abergmeier-dsfishlabs commented on #1499
At least we do not need this "resolved" anymore. We changed our data structure internally and thus this is no longer a problem.

[2017-01-09 15:27] nydal91 commented on #2346
I have not install bazel 0.4.3 im trying to build it to work with arm machine from the arm machine.

[2017-01-09 15:29] nydal91 commented on #2346
`chmod +x /tmp/bazel_tjQzdSGu/out/execroot/tf/_bin/process-wrapper` like that?

[2017-01-09 16:32] kchodorow commented on #2049
Still waiting on a test, followed up on the CR.

[2017-01-09 17:06] pwnall commented on #1752
Asides from all the benefits mentioned above, I think that having a build cache makes it easy to use bazel repositories with package managers that do not allow (by policy) the build process to download anything on its own.

[2017-01-09 17:07] davido commented on #2049
Yeah, sorry, somehow, it wasn't clear that Han-Wen's issue reported during Gerrit Hackathon in MV was solved.

[2017-01-09 17:15] johnynek commented on #1372
I'm pretty skeptical publishing will be very easy.

Pants has actually tackled this quite a bit. The issue is: each internal node in the graph needs to be given a maven coordinate, or you need to somehow do some combining. Combining is really tough because future changes in the build graph could invalidate the clustering.

I guess you could do a naive thing and make one groupid for the whole repo,

[2017-01-09 18:23] AustinSchuh commented on #1836
@ahyangyi Phil is currently working on a patch to fix this.  He got it working with overlayfs, but that's only supported on ubuntu.  He's trying again in light of that discovery.  He's on vacation until the end of January, so don't expect any motion until after he gets back.

We (Peloton Technology) are running with the patch I put together cherry-picked into our release until a suitable upstream

[2017-01-09 18:49] dmitryb-ai2 commented on #1279
Also, *.so contains the absolute path to where it was during build, which prevents its successful dynamic loading at runtime.
[code]

[2017-01-09 21:34] ittaiz commented on #29
Just wanted to add that the three alternatives look very different and maybe a blog post reviewing the three and explaining pros/cons could help noobs. I ended up using @korfuri's suggestion for a small getting-started repo

[2017-01-09 22:28] pcj commented on #29
FYI: rules_protobuf, rules_go, and rules_closure all have working examples of Travis that build on both Linux and OSX.

[2017-01-09 22:47] kavehv opened #2351 "Add option to create bazel symlinks using relative paths (instead of absolute)"
It'd be nice if the set of symlinks created by bazel (i.e. bazel-bin, bazel-genfiles, etc) had to option to use relative paths instead of absolute paths.  In our case, this makes it easier to work off an NFS export and use OS-native tools on the files in that export.

[2017-01-10 02:42] janakdr commented on #923
The problem here is that we don't md5 files during loading/analysis in bazel, we rely on the combination of size+mtime+inode to determine if a file has changed. We also don't have change pruning for packages. Thus, when you touch a BUILD file or WORKSPACE file, we determine that it has changed, and so we re-evaluate the relevant package, and then that cascades. We need mtime as part of that tuple

[2017-01-10 02:50] dfabulich commented on #923
The use case for us is that we're generating our BUILD and WORKSPACE files based on our legacy build system. A null build for us includes a null run of the generator.

We've worked around this issue by recording our own MD5s of the BUILD and WORKSPACE files, and backdating the mtime if the generator doesn't change anything.

[2017-01-10 02:58] janakdr commented on #923
Sorry, I'd forgotten that part of your original post. That's certainly a fair use case, but hopefully a temporary state of affairs? I'm going to give this to @damienmg to decide on prioritization. If he would like to devote some resources to package serialization and equality comparison, I wouldn't say no :)

[2017-01-10 03:12] dfabulich commented on #923
Fully transitioning a build system takes a while! We've been working on it for a year now.

[2017-01-10 03:30] Andyccs commented on #1387
Any update on this?

[2017-01-10 03:39] spxtr opened #2352 "pkg_tar issues with python 3"
### Description of the problem / feature request / question:

All `pkg_tar` rules are failing to build on my machine that has python 3 as the default. The underlying code, such as `tools/build_defs/pkg/archive.py`, will only work with python 2. 2f552c30d429e9d653deeaff655342b5a1336374 set their `srcs_version` to `PY2AND3` which seems like a mistake to me, since the code plainly doesn't work with p

[2017-01-10 08:22] ulfjack commented on #1387
No, sorry. We're having trouble finding the time to work on this at all. All of our iOS experts are tied up in other work.

[2017-01-10 08:57] ittaiz commented on #1995
@ulfjack do you think we can utilize copybara here? maybe sync on the proto part of this repo to another repo (worker-api) in the bazelbuild org and have other rules depend on worker-api?
Not really sure how to solve the protobuf runtime yet but let's take it one step at a time

[2017-01-10 09:02] laszlocsomor commented on #2306
This shouldn't happen since https://github.com/bazelbuild/bazel/commit/b64349e91debe8abb8a218c6e8888dc9b42fdea3 unless the user specifically provides such a directory.

[2017-01-10 09:17] andrewmed commented on #2293
Hello Damien
Yes with 'at' sign it works perfect

[2017-01-10 09:45] abergmeier-dsfishlabs commented on #1580
Integrated info of #2352

[2017-01-10 10:12] damienmg commented on #2293
Glad to hear :)

[2017-01-10 10:25] #2343 closed

[2017-01-10 10:25] #2311 closed

[2017-01-10 10:26] mhlopko commented on #2346
Just inspect if the file is there and that it has the flag.

[2017-01-10 10:38] mhlopko commented on #2352
Could you continue at #1580? Will close this one now. Thanks!

[2017-01-10 10:38] #2352 closed

[2017-01-10 10:50] ulfjack commented on #1995
I don't know. I'd just manually copy the file - the protobuf design guarantees that, as long as we only make backwards-compatible changes, you can use the copy just fine, and you only need to update the .proto file if you want to use new features we add.

[2017-01-10 11:26] jowagner commented on #2274
Thanks. In December, I worked around the problem with a symlink from ~/.cache/bazel to /tmp/bazel...

I don't have time to fully understand https://bazel.build/versions/master/docs/bazel-user-manual.html but the warnings about NFS are gone when I add the line

`startup --output_base=/tmp/bazel-Se4j7kiUhyiZii4`

to .bazelrc and create the target folder. (For this test, I removed ~/.cache/bazel from

[2017-01-10 11:51] dslomov commented on #2266
I think the issue is BAZEL_PYTHON variable:
[code]
Try `d:/LING/PYTHON27/python.exe`

[2017-01-10 11:56] dslomov commented on #2306
Fixed, right?

[2017-01-10 11:58] dslomov commented on #2225
Sorry for late reply.. Is it still an issue? Which bazel version are you using?

[2017-01-10 12:01] dslomov commented on #2248
@meteorcloudy could you check whether 1324e83 fixed this?

[2017-01-10 12:02] laszlocsomor commented on #2306
Not really; if the user specifies `--output_user_root=/c/bad\$dir` then we still have the problem I think, but at least bazel itself won't generate such directory names. So I think we're OK.

[2017-01-10 12:02] dslomov commented on #2242
@meteorcloudy could you take a look at this? This is a blocker for 0.5

[2017-01-10 12:04] damienmg commented on #2306
Reopen as non release blocker and lower priority then (P3?)?

[2017-01-10 12:21] mhlopko commented on #2274
Ok that sounds good. Thanks!

[2017-01-10 12:21] #2274 closed

[2017-01-10 12:50] meteorcloudy commented on #2242
No problem, I am on it!

[2017-01-10 12:54] ulfjack commented on #1748
Confirmed fix works.

[2017-01-10 13:06] meteorcloudy commented on #2248
No, we still have this problem.. :(

[2017-01-10 13:28] dslomov commented on #970
@iirina wdyt? Is 0.5 realistic?

[2017-01-10 13:37] iirina commented on #970
Yup, it should be done by then.

[2017-01-10 13:41] ittaiz commented on #970
Wow, awesome!
When this will be in will I need to do anything else to have a `java_test` for example depend on a `scala_library`?

[2017-01-10 14:04] ittaiz commented on #29
I didn't mean to suggest any of the alternatives don't work but rather that they differ and so a blog post by someone (maybe the bazel team) could be great for noobs.

[2017-01-10 14:33] #2272 closed

[2017-01-10 15:54] #2281 closed

[2017-01-10 21:23] jmhodges commented on #2294
Calling the @golang//... is doing it, but I'm saying it's not happening when you use a target that depends on that repositories.

I'm getting this with rules_go. I have this is in my WORKSPACE:

    new_http_archive(
        name = "golang_linux_amd64",
        build_file_content = "",
        sha256 = "bb8fe0d81161e4a8b0a8b2145ee5f8a60370baf5d48c07a83f6f09e1ad253bec",
        strip_prefix = "go",

[2017-01-10 21:24] jmhodges commented on #2294
To be clear, I don't think it's the rules_go stuff, and I maybe should have excluded it from my repro. It's really that I don't think calling the repositories exact target explicitly should be required and that calling a target that happens to use that repo should.

[2017-01-10 21:39] kchodorow commented on #2294
Agreed!  Thanks for the detailed info, let me try again to repro.

[2017-01-10 21:40] jmhodges commented on #2294
Yeah, sorry, I deleted that comment because I wanted to spend more time investigating the rules_go connection, but I'm stumped.

[2017-01-10 21:43] kchodorow commented on #2294
There are some known issues with Skylark repository invalidation, I'm guessing you're running into something related to that.

[2017-01-10 21:48] jmhodges commented on #2294
(Ugh, in my repro I included my fork of rules_go but that was just dregs from waiting for some PRs to land. Using the real rules_go fork still demonstrates the problem, though! Editing my comment to correct the io_bazel_rules_go for clarity)

[2017-01-10 21:50] kchodorow commented on #2294
Repro'd!

[2017-01-10 21:52] jmhodges commented on #2294
Great! Thank you for your work and patience with me!

[2017-01-10 21:58] kchodorow commented on #2294
Thanks for the detailed report!

@damienmg: not sure if you want this in for 0.5 or not, it's another instance of Skylark repository rules being cached improperly.  Specifically, in the example above, `omit_go` is changed, but the go rules' `go_repositories` macro isn't re-evaluated.

[2017-01-10 22:00] ibudnikov commented on #2225
I've already make tensorflow using CMake. It was latest version of Bazel (for Windows) on that time (11 Dec).

[2017-01-10 22:05] jmhodges commented on #2294
(When you say "omit_go is changed", did you mean to write something like "when the golang_*_amd64 repos (that omit_go can be used to skip over defining in rules_go) are changed"? Because I've not changed omit_go since the last `clean --expunge` I did)

[2017-01-11 00:45] eaftan commented on #1372
We'd like this for Error Prone as well.  We'd like to switch from Maven to Bazel, but we need a way to publish artifacts to Maven Central.

[2017-01-11 02:06] llhhbc opened #2353 "bazel build fail on centos7"
INFO: You can skip this first step by providing a path to the bazel binary as second argument:
INFO:    ./compile.sh compile /path/to/bazel
🍃  Building Bazel from scratch../usr/lib/jvm/java-1.8.0-openjdk-1.8.0.111-2.b15.el7_3.x86_64/bin/javac -classpath third_party/aether/aether-api-1.0.0.v20140518.jar:third_party/aether/aether-connector-basic-1.0.0.v20140518.jar:third_party/aether/aether-impl-1.0

[2017-01-11 02:09] llhhbc commented on #2353
my environments are:
PROTOC_HOME=/home/go/deepmind/bin/protoc

export PATH=$PATH:$PROTOC_HOME/bin

export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:$PROTOC_HOME/lib

#for grpc
export CXXFLAGS="-I/home/go/deepmind/bin/protoc/include" LDFLAGS="-L/home/go/deepmind/bin/protoc/lib"

#for bazel
export PROTOC=$PROTOC_HOME/bin/protoc
export GRPC_JAVA_PLUGIN=/home/go/deepmind/grpc-java/compiler/build/exe/java_plugi

[2017-01-11 08:28] ulfjack commented on #2337
This is a long-standing request that we also have internally. Internally, we currently advise people to use the shell script workaround, but I for one think that's not ideal and Bazel should be doing it natively.

I agree that this needs to involve the client, for several reasons. I think the client-server protocol reply should be extended to let the client know which path to execute. Also, for pe

[2017-01-11 11:52] damienmg commented on #2294
Ok thanks for the repro, I'll try to repro it with my recent list of changes. Yes we should do it by 0.5

[2017-01-11 12:39] laszlocsomor opened #2354 "Windows: `--blazerc=/dev/null` and `--blazerc=NUL` don't work"
`NUL` is `/dev/null` on Windows. Both of these should work and result in not using a .bazelrc file.

[2017-01-11 14:43] kchodorow opened #2355 "bazel_sandbox_test wgets a tarball from a random storage bucket"
See https://github.com/bazelbuild/bazel/commit/18e6b410a7f4e24b67740978d101cd665edea6cc#diff-a98105816a54206dd065943b75341ea2R487.

Please change this test to use Bazel's mechanism for external dependencies (add it to the WORKSPACE file, declare a dependency on it).

[2017-01-11 15:22] Vishruit opened #2356 "Compile failed on RHEL 6"
Following is the error I get when trying to compile bazel from source on RHEL 6.
I also tried to install from the installer but it didn't work.
PS- On this cluster account I don't have sudo access.
Can you please suggest me a way to solve this?

## Build informations
   - [Build log] - (http://ci.bazel.io/job/Bazel/JAVA_VERSION=1.8,PLATFORM_NAME=linux-x86_64/1131/)
   - [Commit] - (https://github.

[2017-01-11 15:26] xingao267 commented on #2355
Hi Kristina,

I did not use Bazel workspace rule because I would like to modify the CROSSTOOL file after I download (wget) the tarball and I thought Bazel workspace rule cannot achieve that. Is it possible to make modification to external repo after Bazel retrieves it?

Thanks,
Xin

[2017-01-11 15:45] kchodorow commented on #2355
This isn't an immediate problem (I found a workaround for the issue this was causing me) but yes.  You could use an http_file() rule to download the .tar.gz and then depend on the .tar.gz in your test and do exactly what you're doing, except extract it from $TEST_SRCDIR instead of where wget was putting it.

[2017-01-11 15:50] xingao267 commented on #2355
Thanks! I'll fix that.

Xin

[2017-01-11 16:03] #2354 closed

[2017-01-11 17:23] Helcaraxan opened #2357 "CROSSTOOL bug on OSX for armeabi-v7a"
### Description of the problem

When doing a cross-compile without a custom toolchain for arm on OSX Sierra compiling fails because the `/bin/false` executable, referenced in the `armeabi-v7a` toolchain definition [here](https://github.com/bazelbuild/bazel/blob/master/tools/cpp/CROSSTOOL#L70) and in the lines below, has moved to `/usr/bin/false`.

Usually I would solve this, at least temporarily,

[2017-01-11 18:21] cushon commented on #2123
This caused another breakage that @mhlopko fixed in aad9b44898cf1562765755d475463145466ea7ae and 2300f8a3e88d720f7eae90a80456142363850c5c.

[2017-01-11 23:43] aj-michael commented on #2284
I take my statement of "with a macro that sets the name for you as well, since you really can only use one of them at the moment." It is incorrect, there is in fact a use case for multiple android_sdk_repositories if they are at different paths. They can be selected via the --android_sdk flag.

As such, I do not plan to remove the name attribute.

[2017-01-12 00:11] trainman419 commented on #1525
@kchodorow bump. This continues to be a problem for me, and I've done my best to provide a reliable test case for it. Can you please at least try the repro and confirm that you can also reproduce this?

[2017-01-12 00:45] david-german-tri opened #2358 "Project-wide platform-dependent compiler options"
### Description of the problem / feature request / question:

_If asking a question or requesting a feature, also tell us about the underlying problem you're trying to solve._

At [RobotLocomotion/drake](https://github.com/RobotLocomotion/drake), we're migrating from CMake to Bazel (yay!).  We target gcc on Ubuntu, clang on Ubuntu, and clang on OS X.

There are some compiler flags that we need set

[2017-01-12 09:23] Helcaraxan commented on #2357
Just to make it clear after I edited the post above: this is not a blocker for me... Part of the solution was me learning better how CROSSTOOL & co works and what needs to be done to get cross-compiling working.

That said, the paths are wrong on OSX starting with El Capitan (or earlier but have not tested).

[2017-01-12 11:50] ulfjack commented on #1748
My bad. I didn't realize that Bazel is reading the protos from disk. My change was assuming that the proto is generated by the same version of Bazel, and it broke when it encountered a proto from a previous version. Therefore the rollback.

[2017-01-12 16:48] mzhaom opened #2359 "Please improve the documentation for protobuf support"
- Please enhance the documentation on
https://bazel.build/versions/master/docs/be/protocol-buffer.html to
cover proto_library rule
- Please include some document describing how the workspace should be prepared, like
where the protobuf source should be put or prebuilt binary should be put
- Potentially please talk about how to work with grpc, or if some other feature is not supported
maybe put a ro

[2017-01-12 17:04] cgrushko commented on #2291
It's unfortunately up to the protobuf team - I pinged https://github.com/google/protobuf/issues/2426#issuecomment-272220583.

[2017-01-12 17:04] #2291 closed

[2017-01-12 17:07] cgrushko commented on #2292
@dionescu agreed, it should be hardcoded to `@com_google_protobuf//:protoc`.
Until it does, can you use the `--proto_compiler` flag to point at any binary rule?

[2017-01-12 17:11] johnynek commented on #1952
I'm -1 on removing or deprecating bind. Suppose you have two external bazel repository dependencies, A, B. Each of which needs dependency foo. One of them expects it at `@foo_label_in_a` and one expects it in `@foo_label_in_b`. Then I have two equivalent dependencies that look different to bazel. There is no way (nor even standard convention as far as I can see) on what to name dependencies as a f

[2017-01-12 17:16] cgrushko commented on #1718
This is kinda fixed, but requires lengthy user setup. Once https://github.com/google/protobuf/issues/2583 is fixed, `java_lite_proto_library` will be trivial to use.

If you want to try `java_lite_proto_library` before that, I can help you setup your workspace.

[2017-01-12 18:23] jart commented on #1952
All the projects I maintain use the following algorithm for standardizing the naming convention of Maven repositories: https://gist.github.com/jart/41bfd977b913c2301627162f1c038e55

If two projects can't agree on how to name a repository, then wouldn't `alias()` be a viable workaround? Introducing `bind()` would mean you now have two problems: two projects can't agree on two parallel names for the

[2017-01-12 19:32] cgrushko commented on #1817
Update: I think this is essentially fixed.

Usage example:

1. Clone protobuf: `git clone https://github.com/google/protobuf.git`. (I committed a diff ~40 minutes ago that you'll need)

2. Create a directory, and put the following files in it -

   WORKSPACE

[code]

   BUILD

[code]

   coord.proto

[code]

3. Build Bazel from HEAD (sorry...)
4. Profit: `bazel-head build --proto_compiler=@com_goo

[2017-01-12 20:36] damienmg opened #2360 "C++ Docker tests: add testing of various flavour of debian"
Reported in https://github.com/kubernetes/kubernetes/issues/39819, we might have issue with debian strecht and we do not have tests for that platform. The docker test in tools/cpp are pretty easy to extend so we should test for debian.

[2017-01-12 20:40] damienmg commented on #2360
I'll do that tomorrow to confirm wether kubernetes/kubernetes#39819 is from our side, if it is, we need a fix for the release or Bazel won't work on Debian stretch that is to be released next month.

/cc @mhlopko for a potential release blocker

[2017-01-13 02:58] hermione521 commented on #2174
I hope the last commit above gives better error message, although I still have no idea why you get "null failed".
We give instruction for flags now, so with proper flags you will get full debugging message. Feel free to reopen if the message is not enough.

[2017-01-13 02:58] #2174 closed

[2017-01-13 05:58] khavishbhundoo commented on #2356
I suppose you are on ubuntu here

http://askubuntu.com/questions/421642/libc-so-6-version-glibc-2-14-not-found
http://askubuntu.com/questions/575505/glibcxx-3-4-20-not-found-how-to-fix-this-error

[2017-01-13 06:48] Vishruit commented on #2356
Hi,
I am using Red Hat Enterprises Linux 6.2.
I tried the following based on your suggestion
**Via Installing from the installer**
I tried `conda install libgcc` version 5.2. And then execute `./bazel-0.4.3-installer-linux-x86_64.sh --user`. Still the same error as mentioned above.

I am also trying to ** compile from source, where I get**

(tfEnv) [~bazel]$ bash ./compile.sh
INFO: You can skip th

[2017-01-13 09:31] meteorcloudy commented on #2242
I believe generating an extra `classpath.jar` when the limit is exceeded is the right solution for this. But java_stub_template.txt shouldn't be responsible for this, instead, we can create an action in [BazelJavaSemantics](https://github.com/bazelbuild/bazel/blob/2300f8a3e88d720f7eae90a80456142363850c5c/src/main/java/com/google/devtools/build/lib/bazel/rules/java/BazelJavaSemantics.java#L190) for

[2017-01-13 10:04] mhlopko commented on #2356
I think we are going to provide a binary for Fedora and RedHat, John should know more.

[2017-01-13 10:17] mhlopko commented on #2353
Hi @llhhbc,

it looks like you cloned a repo and called ./compile.sh, is it so? Because of a circular dependency between bazel and protobuf, if you want to build from scratch, you have to download a distribution artifact. Or you can clone a repo, but then build it with `bazel build //src:bazel`. Obviously you need to have bazel binary for that.

More info [here](https://bazel.build/versions/master

[2017-01-13 10:17] #2353 closed

[2017-01-13 10:39] aehlig commented on #2353
This is the problem. While it still works building from a checkout when
providing a protoc, it has to be *precisely* the right version of protoc.
As you can see from the sources, bazel currenlty uses version 3.0.0.
To avoid those problems, we recommend downloading a distribution artefact
to build the first bazel binary on your machine and then build development
versions via `bazel build //src:baze

[2017-01-13 13:35] meteorcloudy opened #2361 "TensorFlow Windows build is failing on ci.bazel.io"
http://ci.bazel.io/view/Dashboard/job/TensorFlow/

I set up the job to run TensorFlow Bazel build on Windows. It's currently failing on our ci, but no worries, changes are already sent to fix the problems.

https://github.com/tensorflow/tensorflow/pull/6829
https://github.com/tensorflow/tensorflow/pull/6805

[2017-01-13 13:46] ulfjack commented on #1413
I've made some progress on refactoring the test strategies, and a stack of further changes to unify code between all implementations, but the end of the tunnel is not in sight yet.

[2017-01-13 13:54] #1748 closed

[2017-01-13 15:00] mhlopko commented on #2123
Jenkins should by fixed now: https://bazel-review.googlesource.com/c/8215/
The issue Liam suffers from is now Bazel-only. If you don't agree Liam, feel free to reopen this issue.
Thanks for the patience!

[2017-01-13 15:00] #2123 closed

[2017-01-13 15:06] lberki commented on #2242
@iirina

[2017-01-13 15:47] benjaminp commented on #1593
I don't think this is fixed. I can't find the commit that references this bug. Moreover, the latest master still expands the input file artifacts before computing the cumulative input digest and consequently fails to consider the runfiles middleman.

[2017-01-13 17:29] cgrushko commented on #2291
Turns out the required change in protobuf are not yet in the master branch, they're in the 3.2.x branch. I'm told one of their team-members is actively working on merging it, and with some luck it'll be in master by next week.

[2017-01-13 17:49] shahms opened #2362 "Allow dynamic/query-based dependencies"
Background:
  A number of tools use [`compile_commands.json`](http://clang.llvm.org/docs/JSONCompilationDatabase.html) to determine the necessary flags, etc for interpreting C++ source files.  Unfortunately, this file is an aggregate of all C++ source files in the repository and most tools don't support much more granularity than that (at least, not that I've found and it's often not well document

[2017-01-13 19:35] marczych commented on #1027
Any update on this? Test timeouts are becoming more of an issue for me and it'd be great if I could easily track them down using the XML file.

I could probably make it happen with a `--run_under` script but that smells kinda funny to me.

[2017-01-13 21:19] ronshapiro commented on #1372
This is what I have so far. It's scrappy and doesn't send everythign to sonatype yet, but it generates the poms based on deps: https://github.com/google/dagger/blob/4bc66063f4b1a44323630e5bfae5649de13219df/util/maven/generate_poms.py

[2017-01-13 22:27] cgrushko commented on #2282
When can we expect a release? I currently have to tell people to build Bazel from head to use `java_proto_library` 😄

[2017-01-14 00:55] johnynek commented on #1952
@Jart I agree that when you are dealing with your own code, using one format is fairly straight forward. The problem is that sharing with folks that don't agree. For instance: bazel just uses `guava` at a certain path. If I want to use a bazel target, bazel targets are already expecting `//third_party:guava` as the target. How do I alias `//third_party:guava` to my `//3rdparty/jvm/com/google/guava

[2017-01-14 01:44] jart commented on #1952
The only way to have dependencies be composable across Bazel repositories that reference each other is to write files that look like Nomulus' [repositories.bzl](https://github.com/google/nomulus/blob/master/java/google/registry/repositories.bzl) file. Then other projects can depend on Nomulus using the same technique Nomulus' [WORKSPACE](https://github.com/google/nomulus/blob/master/WORKSPACE) use

[2017-01-14 02:00] johnynek commented on #1952
The scala rules (which I help maintain) have scrooge support:
https://github.com/bazelbuild/rules_scala/blob/master/twitter_scrooge/twitter_scrooge.bzl#L9

notice we have a number of versions set. That is not where they should be set. The consumer of the plugin should set the version, not the plugin itself ideally.

I don't think the only way to have composable dependencies to lock them to one cen

[2017-01-14 02:37] jart commented on #1952
That repositories.bzl design is not centralized or locked in. Please take another look at the files I linked in my previous comment.

Assume I want my Bazel project to depend on Nomulus. I can do this with a whitelist or blacklist model.

- Default: Say `nomulus_repositories()` and trust the Nomulus team to manage versions for you.
- Blacklist: Say `nomulus_repositories(omit_com_google_guava=True)

[2017-01-14 03:36] pcj commented on #1952
The system I've been using employs a `require` function in conjunction with a list of deps encoded as `dict` objects (<https://github.com/pubref/rules_maven/blob/master/maven/internal/require.bzl>).

The require function tests for the existence of the rule via `native.existing_rule`.  If it is registered, assert that the requested version matches the pre-existing value.

This way the rule can be c

[2017-01-14 09:47] damienmg commented on #2282
We have only one blocker and I got LGTM for all the code so I guess next
week if we can make the CI green. There are several important fixes in that
release (invalidation of repository, flaky tests, repository naming,
Windows output base) so we definitely want to have it soonish

On Fri, Jan 13, 2017, 11:27 PM cgrushko <notifications@github.com> wrote:

[2017-01-14 12:59] dpursehouse opened #2363 "bazel build with --javawarn="try" fails with "Not one of""
When I build Gerrit Code Review, enabling all warnings:

[code]

I get quite a large number of warnings including ones like:

[code]

So I want to run it again and only get those warnings related to `[try]`:

[code]

but it fails with:

[code]

Bazel version:

[code]

[2017-01-14 13:09] dpursehouse commented on #2363
Fixed uploaded to bazel-review:

https://bazel-review.googlesource.com/8290

[2017-01-15 05:56] dpursehouse commented on #2363
@cushon yes, that works, thanks.

I guess this issue can be closed then, unless you want to reuse it for removal of `--javawarn`?

[2017-01-16 04:31] cgrushko commented on #1817
Closing for now, feel free to reopen this issue.

[2017-01-16 04:31] #1817 closed

[2017-01-16 13:49] #2286 closed

[2017-01-16 14:51] damienmg commented on #2305
Ok the fix was to update the version of Xcode, reactivating the buid on that machine

[2017-01-16 14:53] #2305 closed

[2017-01-16 16:30] petemounce commented on #2282
As ever, please ping me for RCs. Ta.

[2017-01-16 16:35] Helcaraxan commented on #2282
Question: I currently have some external dependency (protobuf actually) throwing warnings with Bazel 0.4.3 w.r.t `HOST_CFG` and `DATA_CFG` being deprecated in favor of the `host` and `data` variables. Is this going to be turned to errors soon or will it still be warnings for the new 0.5 release? Need to know if we need to schedule a protobuf upgrade ASAP or if we have a little bit more time.

Othe

[2017-01-16 17:11] vladmos commented on #2282
The variables `HOST_CFG` and `DATA_CFG` will be removed in the next release, I suggest you replace them with the strings `"host"` and `"data"` asap.

In fact the change has already been committed: https://github.com/bazelbuild/bazel/commit/cd12f77b14883b61f215898063b4ac679e468553

[2017-01-16 18:14] Helcaraxan commented on #2282
Ok. Thanks for the information. :)

[2017-01-16 19:18] samjabrahams commented on #850
It looks like the process of bootstrapping bazel for Raspberry Pi has gotten much simpler in more recent, as we no longer have to provide our own protobuf JARs or gRPC plugins. I've successfully got 0.4.3 running on my Raspberry Pi 3, and am planning on having updated instructions by the end of the weekend in my repo.

Thanks for making my life a little easier, Bazel team!

[2017-01-16 19:36] johnynek commented on #1952
@jart Perhaps I am not being precise enough. When I say centralized I mean this:

If you want to use Nomulus, then you accept their naming scheme for maven artifacts. It is not clear exactly that that is. Can you point to any documentation on that? That is the centralization I speak of: if we all centrally agree (and hopefully validate with tooling) on some convention this will work. By contrast,

[2017-01-16 20:18] ekuefler commented on #1952
I'm not particularly happy with the use of bind in the GWT repo. It works but is very all-or-nothing: everything is easy if you're fine with the defaults and can call `gwt_repositories()`, but if you want to change the version of GWT or any of its dependencies you're out of luck and need to manage every transitive dependency yourself via bind. I believe this also means that, by default using `gwt_

[2017-01-16 21:10] damienmg commented on #850
:) @samjabrahams, you should thanks @aehlig

[2017-01-16 21:10] johnynek commented on #1952
Yes, I agree that bind is not elegant, or beautiful, but it seems workable.

@ekuefler we also don't use `@foo` names in the BUILD (outside of 3rdparty directly, which have targets that set up the correct runtime and compile time classpaths that people need to depend on external targets. So, then they do: `//3rdparty/jvm/com/google/guava:guava` for instance. The path is the maven group, and the ta

[2017-01-16 22:14] jart commented on #1952
@johnynek Nomulus, Closure Rules, etc. have adopted the following naming algorithm for Maven artifacts: https://gist.github.com/jart/41bfd977b913c2301627162f1c038e55

[code]

You are correct that it is possible for two different Maven artifacts to end up with the same name when run through this algorithm. You have a keen eye for spotting edge cases. I believe this is an acceptable tradeoff in orde

[2017-01-16 22:31] johnynek commented on #1952
@jart thanks for taking the time for the detailed reply.

I'm glad you are working on the developer experience for external deps. It seems your tool does something very similar to my bazel-deps tool:
https://github.com/johnynek/bazel-deps

the difference is that we check in the input to that tool:
https://github.com/johnynek/bazel-deps/blob/master/dependencies.yaml

and do a transitive resolve any

[2017-01-16 23:16] jart commented on #1952
This tool is a very good implementation of the generated code approach. Your yaml file is elegant and maintainable. The best part of your design is that it doesn't have to download and crawl hundreds of pom.xml files as part of the build process, as a tool like Maven would do. So your builds go very fast.

We considered the generated code approach. We decided against it because we always found our

[2017-01-17 02:30] jart commented on #2286
Thank you @iirina!

[2017-01-17 02:59] samjabrahams commented on #850
@aehlig consider yourself thanked!

[2017-01-17 11:20] AIROBOTAI commented on #1970
hi @damienmg, I encountered the same issue as yours. As you suggested, I used `./configure --output_base=/temp/cache_bazel`, however, I still found below warnings during configuration:

Does this mean the output basel has not changed to my specified folder, i.e. `/temp/cache_bazel`? And what should I do to make the cache dir of bazel out to be local?

Thanks!

[2017-01-17 11:36] dslomov commented on #2225
Sorry, this is not actionable then I guess.

[2017-01-17 11:36] #2225 closed

[2017-01-17 11:48] dslomov commented on #2349
GetTempPath on WIndows looks at:

1. The path specified by the TMP environment variable.
2. The path specified by the TEMP environment variable.
3. The path specified by the USERPROFILE environment variable.
4. The Windows directory.

https://msdn.microsoft.com/en-us/library/windows/desktop/aa364992(v=vs.85).aspx

Looks like we need to provide one of those to actions

[2017-01-17 11:49] lberki opened #2364 "We shouldn't allow configured targets not to provide providers they advertise"
This behavior was really conceived for the Google-internal `proto_library` rule which, depending on its attributes, may or may not support any language.

However, this could be worked around by making `RuleClass#getAdvertisedProviders()` a function of the rule itself (not only its class) and it would make it harder to make mistakes by e.g. having a typo in the set of declared providers.

Also, thi

[2017-01-17 12:16] #2360 closed

[2017-01-17 12:16] #2363 closed

[2017-01-17 12:20] dpursehouse commented on #2363
👍 thanks

[2017-01-17 12:38] hsyed opened #2365 "Advanced examples (wrapping external builds)."
I'm trying to setup a v8 build with depot_tools for use in a go project. I've got my head around bazel I think but there are too many concepts involved in getting such a custom build going. I'm trying to get bazel to do the build by following the human oriented steps -- i.e., use depot_tools in a script to checkout and build. At the end wrap the static artefacts and headers in a cc_library.

I was

[2017-01-17 12:43] hsyed commented on #2365
A list of projects demonstrating idiomatic ways us using bazel in a idiomatic way would be just as useful. --e.g.,

1. kubernetes/kubernetes (building docker layers, using some basic scripting in the build files)
2. tensorflow/tensorflow (??)

[2017-01-17 15:55] meteorcloudy commented on #2242
@laszlocsomor Do you have some insight on this?

[2017-01-17 15:56] ulfjack commented on #1593
The commit is linked just above my comment, hash 6734f43.

[2017-01-17 16:06] laszlocsomor commented on #2242
@meteorcloudy : Not more than what's already here. I had this exact issue in mind with the classpath.jar trick when I said I may know something :) Also, I agree this bug is related to https://github.com/bazelbuild/bazel/issues/1780, I they are in fact the same.

[2017-01-17 16:08] laszlocsomor commented on #2242
Correction: they aren't exactly the same, this bug is the Windows-specific case of https://github.com/bazelbuild/bazel/issues/1780.

[2017-01-17 16:25] meteorcloudy commented on #2242
@laszlocsomor Ah, thanks! I am implementing this, hopefully it could solve this issue on both Unix and Windows.

[2017-01-17 16:37] katre commented on #2356
@Vishruit , thanks for the report. I am unclear from your logs where the error is, exactly.

In your original post it looks like you're installing the pre-built binary, and it's complaining about the version of GLIBC and GLIBCXX. What versions do you have installed? I realize you don't have network access, is there another way to update the glibc packages to the latest available?

In comment https

[2017-01-17 16:58] benjaminp commented on #1593
That's a fork of Bazel, not the canonical repo.

On Tue, Jan 17, 2017, at 07:56, Ulf Adams wrote:

[2017-01-17 17:02] katre commented on #2356
I set up a VM running RHEL6 and tried to install from the installer, and I got the same error you did.

The installed versions are:
GLIBC_2.12
GLIBCXX_3.4.13

There is no way to update these in RHEL6.

[2017-01-17 17:21] katre commented on #2356
Attempting further to compile from the distribution archive, it looks like the version of gcc (and g++) in RHEL6 is too old to build Bazel. I got past the errors with the lack of "-Wno-free-nonheap-object" flag, but then ran into actual code issues with vmax and vmin assertions. After that, there are further problems.

Would it be possible for you to build a local gcc from the latest version on yo

[2017-01-17 17:27] adrianludwin opened #2366 "Put all future "magic" labels in one location"
Bazel has a bunch of "magic" labels, like:

- //visibility:public
- //external
- //tools/defaults (but not //tools)
- //conditions:default
- @bazel_tools//...
- @local_host//... (this one might still be a proposal)

In addition, some of the toolchains create their own "magic" repos, like:

- @local_config_cc
- @local_jdk
- @local_config_xcode

However, experiments have shown that we don't do a goo

[2017-01-17 17:28] ulfjack commented on #1593
Doh!

[2017-01-17 18:25] katre commented on #2356
I also tried building on RHEL7, and both the binary installer and compiling from source worked there.

[2017-01-17 19:19] johnynek commented on #1952
@jart yes, I know what you mean about the exceptions. Scala does not do so much with annotation processing, but macros are similar, and dealing with that has caused some exceptions. So far, we deal with that by flags in the yml, but having the BUILD language might be nice. (side note: it would be cool to use skylark/build language as a library from other jvm programs).

So, we are somewhat close t

[2017-01-17 19:32] jart commented on #1952
If you're interested in having the Skylark language be spun out into its own Java library which can be used independently of Bazel, I would recommend filing a new issue requesting that feature and then CC the Lord of Skylark @laurentlb.

[2017-01-17 19:34] ittaiz commented on #1952
+1 for that
On Tue, 17 Jan 2017 at 21:32 Justine Tunney <notifications@github.com>
wrote:

[2017-01-17 19:41] johnynek opened #2367 "Spin the Java Starlark interpreter into a stand-alone library"
there are many use case for the skylark and the build language.

It would be great to have the BUILD language for many configuration problems on the JVM. It would be cool for this code to be available as a maven jar, or if that is not possible as a bazel repository we can cleanly depend on.

I imagine the user plugs in the standard library of functions that can be called. So, bazel proper would gi

[2017-01-17 19:41] johnynek commented on #1952
#2367 added. Thanks!

[2017-01-17 20:06] ittaiz commented on #2367
@mikelalcon is this something that is interesting for copybara as well?

[2017-01-17 20:07] jart commented on #2367
Congratulations @laurentlb it looks like you're going to be the next Guido van Rossum.

[2017-01-17 20:11] mikelalcon commented on #2367
We already use Skylark as a standalone library :). Well not really standalone, but almost :) https://github.com/google/copybara/blob/master/WORKSPACE#L90

[2017-01-17 20:31] laurentlb commented on #2367
We're working on it. :)

We're doing some experimentation (e.g. with copybara), but it's not ready yet for prime-time.

There's a standalone binary here if you want to play with it: https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/skylark/Skylark.java
Please don't depend on it or on the libraries, we're likely to change the interface at some point.

Thank you for t

[2017-01-17 20:59] trainman419 commented on #1525
Ping. Can someone take a look at this please?

[2017-01-17 21:22] kchodorow commented on #1525
Sorry for the delay!  Thanks for the repro, it is reproducible for me.  On first glance, it looks like some sort of bad interaction between new_local_repository and bind().  By changing your example to local_repository, removing the bind(), and copying the BUILD file into the repo I "fixed" the issue, but obviously something is very wrong here.  I'll continue investigating.

[2017-01-17 21:25] trainman419 commented on #1525
Thanks! For the record we've also reproduced this on bazel 0.4.3

[2017-01-17 21:43] damienmg commented on #1525
(side-note: this does not repro with my mac, but on my linux workstation it does)

Could that be because of the FileValue that does not change (timestamp does not change and size does not change, and since the file system does not support fast checksum, we do not use checksum)?

[2017-01-17 22:16] matthewtodd opened #2368 "//examples/j2objc:J2ObjCExample fails to build"
### Description of the problem / feature request / question:

It seems [`j2objc_library`](https://bazel.build/versions/master/docs/be/objective-c.html#j2objc_library) isn't ready for general out-of-the-box use, is that right?

I've been trying to get started with it this morning, and, FWICT,

1. The [workspace prefix for j2objc](https://github.com/bazelbuild/bazel/blob/1da429e943a4770161d63420b8ed