[2017-08-17 07:49] mhlopko commented on #3572
cc @aehlig

(I'm not a native speaker, sorry if I don't understand your message correctly)

Can you share the exact error that you encountered when running ./compile? It seems to me that you correctly used the distribution archive, so that's not the problem.

We don't have a debian package yet (mainly because we package many third party dependencies into bazel, and that goes against the debian rul

[2017-08-17 07:55] #2829 closed

[2017-08-17 07:55] #3329 closed

[2017-08-17 07:55] #3552 closed

[2017-08-17 07:58] laszlocsomor commented on #3572
IIUC the issue is that bootstrapping Bazel on alternative platforms than Linux, MacOS, Windows/MSYS -- particularly on ARM/ARM64 -- is a pain in the ass, and it'd be nice if it weren't :)

@necrose99 : I second what @mhlopko asked, can you please provide additional info: which versikon of Bazel's distribution archive you downloaded, what was ./compile.sh's output? Did you try fixing it and if so,

[2017-08-17 07:59] laszlocsomor commented on #3572
Please note that we currently can't bootstrap on 32-bit platforms; we just run out of memory while compiling  java code, because Bazel's bootstrapper script isn't exactly smart, it just compiles all .java files in one `javac` call and that eats memory for breakfast.

[2017-08-17 08:10] meteorcloudy commented on #2040
I guess we don't need to quote the command because now we use JNI to create process on Windows, @laszlocsomor do you think so?

[2017-08-17 09:34] #3490 closed

[2017-08-17 09:35] dslomov commented on #3490
Per https://github.com/bazelbuild/bazel/issues/3490#issuecomment-322158570, switch to other implementation might be actually harmful

[2017-08-17 09:36] SanjunLiu commented on #2485
ERROR: Must specify GRPC_JAVA_PLUGIN if not bootstrapping from the distribution artifact. How can i do?

[2017-08-17 09:42] dslomov commented on #3538
@brandjon wdyt?

[2017-08-17 10:48] laszlocsomor commented on #3572
@necrose99 : Did you first `git clone` Bazel's source then unzip the distribution archive on top of that? Right, that doesn't work (@aehlig knows the details better than I do). The right way is to unzip the dist archive to a separate directory and run `./compile.sh` there. You can't bootstrap in the git cloned tree; you need an existing Bazel binary to build Bazel there.

Anyway, @aehlig tells me

[2017-08-17 11:52] aehlig commented on #3572
FYI, there is an ebuild for bazel, https://packages.gentoo.org/packages/dev-util/bazel
But not using gentoo myself, I don't know how well it works.

--
Klaus Aehlig
Google Germany GmbH, Erika-Mann-Str. 33, 80636 Muenchen
Registergericht und -nummer: Hamburg, HRB 86891
Sitz der Gesellschaft: Hamburg
Geschaeftsfuehrer: Paul Terence Manicle, Halimah DeLaine Prado

[2017-08-17 11:53] aehlig commented on #3572
The long story can be found at https://www.bazel.build/designs/2016/10/11/distribution-artifact.html

In short, we have a cyclic dependency there: bazel needs protoc, and
protoc is built using bazel (and, to make things worse, we cannot use
the latest released protoc). To break this dependency, the distribution
archive also contains the (architecture-independent!) output of protoc,
so you compile

[2017-08-17 12:24] philwo commented on #3568
@abergmeier-dsfishlabs I'm not familiar at all with creating a hermetic py_runtime. :( Andreas, could you provide a minimal example for reproducing this? Maybe copy & pastable instructions or a tar.gz of a repo where I just have to "bazel build" something to see the error?

[2017-08-17 12:24] philwo commented on #3569
Trying to repro this now.

[2017-08-17 12:31] philwo commented on #3569
Actually, this is working as intended: The "local" tag always concerns the rule itself, not when its output is used as a tool later when building a different action.

With the provided example, the actions that build the py_binary will run without a sandbox (which is probably not what you wanted). If you later use the py_binary in e.g. a genrule to do something, that genrule will run in a sandbox,

[2017-08-17 12:31] #3569 closed

[2017-08-17 14:40] necrose99 commented on #3572
noted for the moment , I was using debian  for arm64 , could use to get another pi3 ... or a better dev board..  need a new file server as is ..
a few things are ahead on debian for rust etc.. so for Distcc etc.. will do as a slave.

tried swapping to systemd on [gentoo pi3](https://github.com/sakaki-/gentoo-on-rpi3-64bit) ...   broke the boot..  matter of scrapping the fs... taring from Gentoo/Sa

[2017-08-17 14:45] dslomov commented on #3558
Assigning to @mhlopko, C++ expert

[2017-08-17 14:56] laszlocsomor commented on #3572
Thanks for the details.

@necrose99, as I understand the situation, what you're really looking for is not a simpler bootstrapping process (I think it's simple enough on the platforms we support: 64-bit Ubuntu / Mac OS / Windows), but an easier way to port the bootstrapper.

I agree that would be nice to have and I think this feature request in general is reasonable, however I also think that for n

[2017-08-17 15:25] charlesnicholson opened #3576 "Add support for generating mapfiles"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:

According to this mailing list thread:
https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/bazel-discuss/A00d7Ui1f8s/FhD2jfucCAAJ

There doesn't appear to be a way to command Bazel to e

[2017-08-17 15:59] brandjon commented on #3538
Spoke with @cvcal, looks like making it a common option is the easiest thing to do.

[2017-08-17 16:10] spomorski opened #3577 "Update Mobile Tutorial Sample Project"
Update the sample project for Android and iOS Bazel tutorials to no longer use a backend server.

Down the line, create separate, standalone sample projects for each tutorial.

[2017-08-17 16:25] chaoren commented on #3553
The difference in behavior seems to be based on timestamp on the BUILD file. If I `touch` the `./BUILD` I always get the nonempty glob afterwards. But after some combination of building, cleaning, and touching files, I'll get the empty glob again.

[2017-08-17 16:33] chaoren commented on #3553
Okay, I can reliably reproduce this now:
[code]
It seems `./nested/BUILD` is required for this to happen.

[2017-08-17 16:33] mjs-sx commented on #3456
Yeah, the behavior is the same.

[2017-08-17 16:53] aj-michael commented on #3577
What is the reasoning for removing the backend server from the tutorials?

[2017-08-17 18:39] srkukarni commented on #3461
Please cherry pick d7f5c12 to fix #3363

[2017-08-17 19:27] brandjon commented on #3538
Fix inbound in an upcoming commit.

[2017-08-17 19:41] mhlopko commented on #492
Status update, our awesome @iirina started working on transitive libraries. First commit is in! https://github.com/bazelbuild/bazel/commit/fb20d20580456280b0e64162fdbe86dafca75388

[2017-08-17 19:42] mhlopko commented on #3450
And finally submitting.

[2017-08-17 19:48] mhlopko commented on #507
It seems to me that what @david-german-tri reported is actually https://github.com/bazelbuild/bazel/issues/3450, for which I'm submitting the fix right now. @Helcaraxan are you affected by #3450 or #507? Can you please verify?

Now to the original issue, @kayasoze is it still broken? Could you compose a repro case? I can take a look then.

[2017-08-17 19:48] davido commented on #2040
Confirmed, that applying this patch fixed the problem:

[code]

[2017-08-17 19:55] mhlopko commented on #3206
Well the reasoning is simple, although not what you'd expect. Internally we don't use <> includes at all, and includes attribute was only introduced for the third_party code, for which we didn't want to show warnings. We will definitely improve the support for includes, but not in the short term, as we need to finish higher priority features first.

[2017-08-17 20:09] mhlopko commented on #3461
cc @philwo
Please note that bazel now (https://github.com/bazelbuild/bazel/commit/0783b9e81328729353cfad7ec25391c03d7f772a, https://github.com/bazelbuild/bazel/commit/4c55898e71d30b32090bef31b43e408d942a24f6, https://github.com/bazelbuild/bazel/commit/5f99fdab1485186292068d274411201e4fb9208f) has a python dependency. I guess our homebrew and chocolatey recipes should be updated.

[2017-08-17 20:20] mhlopko opened #3578 "Compile from source docs don't list bazel's dependencies."
https://docs.bazel.build/versions/master/install-compile-source.html should enumerate all the dependencies bazel has. Good source of that information are our dockerfiles.

[2017-08-17 20:29] qzmfranklin commented on #2036
Hey guys, I seem to have run into this same issue recently.

I had the following snippet in the WORKSPACE file:
[code]

Then I issued the following command:
[code]

and got the following error messages:

[code]

I use bazel `release 0.5.4` on Ubuntu 17.04 amd64.

Could anyone confirm that this issue has been patched and/or can be fixed?

[2017-08-17 21:18] gregestren commented on #2036
This looks like a pretty straightforward bug, fixable by simply modifying:

https://github.com/bazelbuild/bazel/blob/91fb38e92ace6cf14ce5da6527d71320b4e3f3d2/src/main/java/com/google/devtools/build/lib/bazel/rules/BazelPrerequisiteValidator.java#L130

to also add an attribute existence check:

https://github.com/bazelbuild/bazel/blob/b13457b1434d64ab187fb511e73f01d1f2321c1e/src/main/java/com/googl

[2017-08-17 21:23] davido opened #3579 "8k command line limit hit on Windows"
FTR: the WAR archive generation gerrit build tool chain works as expected on sane platforms (Linux and Mac Os X). This issue is only Windows specific.

On most recent Bazel master (ab38960b9f34b965352d953afc00b918a97966a3), I'm trying to build gerrit code review WAR archive: `headless.war`. In the very last step, we are gathering the WAR archive with [`pkg_war.bzl`](https://gerrit.googlesource.com

[2017-08-17 21:25] davido commented on #2040
@meteorcloudy

With all fixes, gerrit final artifact (headless UI, both GWT UI and PolyGerrit UI is completely different story) headless.war can almost be built and run. In very last step in Skylark rule it is failing. I filed this new issue: #3579.

[2017-08-17 21:46] petemounce commented on #3461
Did you mean the chocolatey package spec? There's already a python dependency - https://github.com/bazelbuild/bazel/blob/master/scripts/packages/chocolatey/bazel.nuspec.template#L80

[2017-08-17 21:49] htuch opened #3580 "--package_path ignored when in repository_rule in 0.5.3"
The Envoy project hit an issue where, when executing from a workspace directory and using `--package_path`, one of our `repository_rule`s started to fail in 0.5.3. Specifically (somewhat simplified):

1. We have our source root at `/source`. We have some file `/source/foo/bar.bzl`.
2. We have a `WORKSPACE` in `/source/ci/WORKSPACE`.
3. We run `bazel build --package_path %workspace%:/source //...`.

[2017-08-17 23:08] startcode opened #3581 "bazel test and bazel build clears each other's targets"
I found that whenver I run
[code]
All the targets I built by command
[code]
will be removed.
Is there any way to reserve the files generated by `bazel build ...` when testing?
Thanks

[2017-08-18 00:09] rahul-malik opened #3582 "Option to calculate the number of actions in execution phase"
### Description of the problem / feature request / question:

Feature Request: Add an option to calculate the number of actions that will be performed in the execution phase.

Problem: The progress indication from Bazel does not give you a sense of the current progress because the number of actions typically increases throughout the execution phase.

It would be helpful to have a way to know how m

[2017-08-18 02:21] evanj commented on #701
A workarounds I found: you can include pre-compiled `.so`s in the `py_library`'s `data` attribute. No idea if you can somehow get the output of a `cc_library` to work in this way.

[2017-08-18 02:23] benley commented on #701
The trick to building a .so that works as a python extension seems to be making it a `cc_binary` instead of a `cc_library`.  I think you have to build it with `linkshared = 1` to make it work, but I'd love to be wrong about that.

[2017-08-18 02:53] ittaiz commented on #3582
A big +1 for this pain. Our developers say that the ever incrementing
action count is really confusing.
On Fri, 18 Aug 2017 at 3:09 Rahul Malik <notifications@github.com> wrote:

[2017-08-18 03:59] softprops commented on #3582
On Aug 17, 2017 10:53 PM, "Ittai Zeidman" <notifications@github.com> wrote:

A big +1 for this pain. Our developers say that the ever incrementing
action count is really confusing.

+1

On Fri, 18 Aug 2017 at 3:09 Rahul Malik <notifications@github.com> wrote:

ABUIF4Ts2tfozuC6StKt1kSVfHyz4y5fks5sZNYkgaJpZM4O69N2>

—
You are receiving this because you are subscribed to this thread.
Reply to this em

[2017-08-18 05:25] kramasamy commented on #3461
I am trying to use bazel to compile Heron to be compatible with python3 - but it seems it requires the changes in https://github.com/bazelbuild/bazel/commit/d7f5c120417bc2d2344dfb285322355f225d9153 to be merged. would appreciate if you could include in 0.5.4.

[2017-08-18 06:32] mhlopko commented on #3461
@petemounce Cool, thanks! I didn't know where the recipe is.

[2017-08-18 07:03] #2040 closed

[2017-08-18 07:03] #2871 closed

[2017-08-18 07:03] #3450 closed

[2017-08-18 07:03] #3498 closed

[2017-08-18 07:03] #3538 closed

[2017-08-18 07:08] davido commented on #3579
OK, I loaded the content of generated script in Emacs, and after pointing on this line:

[code]

I ran: `C-x =` (aka, `M-x what-cursor-position`) which gave me as exptected: 8191 from 25k. So that the rest of the script was truncated.

That raises the question if Bazel could (at very least) detect the situation and if not handle it, then at least warn or even abort the execution, saying something

[2017-08-18 08:01] iirina opened #3583 "cpp_darwin_integration_test fails on CI"
[The test fails on freebsd](http://ci.bazel.io/view/Dashboard/job/bazel-tests/965/consoleFull) with error:

[code]

Test was introduced in f426544e67170d31b9d228ecf4cdc4b6ce1ba00d.

[2017-08-18 08:14] iirina opened #3584 "bazel_windows_test fails on windows"
bazel_windows_test fails on [bazel CI](http://ci.bazel.io/view/Dashboard/job/bazel-tests/965/consoleFull) on windows with error:

[code]

@meteorcloudy: If it's not clear to you right away what the culprit is let me know so I would do a git bisect.

[2017-08-18 08:16] iirina commented on #3583
This also happens on linux, darwin and ubuntu.

[2017-08-18 08:19] meteorcloudy commented on #3584
@iirina I couldn't tell right away, but I can do the bisect since I already have a Windows machine.

[2017-08-18 08:24] iirina commented on #3584
Thank you! Let me know what you got.

[2017-08-18 08:28] meteorcloudy commented on #3584
Got it, the culprit is 2f38404728a12840e416566b453e9cdebab5d859

[2017-08-18 08:31] meteorcloudy commented on #3584
FYI, @dslomov

[2017-08-18 08:34] iirina commented on #3584
Thanks Yun! @dslomov do you have a quick fix or should I roll back?

[2017-08-18 08:46] iirina commented on #3580
@cvcal can you take a look? I saw you did some changes to `PackageCacheOptions`.

[2017-08-18 08:50] iirina commented on #3581
Do you mean that all the targets that were built with `bazel build` before and were not used by `bazel test` are removed? What are you trying to accomplish?

[2017-08-18 08:56] iirina commented on #3581
Can you also provide an example easy to reproduce or describe the targets that you're trying to build/test? What you previously built shouldn't be removed, how did you notice they were?

[2017-08-18 09:10] mhlopko commented on #3513
Ok, update, we really do pass -DDEBUG in fastbuild (https://github.com/bazelbuild/bazel/blob/master/tools/osx/crosstool/CROSSTOOL.tpl#L130).

Workaround is to build in opt mode (pass -c opt to the bazel invocation), or use different name :)

@c-parsons is -DDEBUG needed in bazel osx crosstool?

[2017-08-18 09:32] guruprasaad123 commented on #3113
bro , this link is expired can you update the link?

[2017-08-18 10:20] iirina commented on #3584
I'm preparing a rollback.

[2017-08-18 10:59] meteorcloudy commented on #3113
@guruprasaad123 Can you try the latest release version Bazel?
https://github.com/bazelbuild/bazel/releases/download/0.5.3/bazel-0.5.3-windows-x86_64.exe

[2017-08-18 11:35] #3583 closed

[2017-08-18 11:35] #3584 closed

[2017-08-18 11:38] dslomov commented on #3584
Sorry about that, thanks for bisect and rollback!

[2017-08-18 12:18] meteorcloudy commented on #3311
I've wrote a doc about building dynamic library on Windows, please check out here:
https://docs.google.com/document/d/1ZK4f84wype5NsZ7ltOUqvyFr7eKOIf4Wd-DrU6HCBkA/edit

[2017-08-18 12:20] mhlopko commented on #3306
Done in https://github.com/bazelbuild/bazel/commit/cdda23f5f83bb6e8c85a200ab98b9fff6789a62b

[2017-08-18 12:20] #3306 closed

[2017-08-18 12:25] mhlopko commented on #3263
Friendly ping.

[2017-08-18 12:31] mhlopko commented on #3152
Closing, let's reopen when we have a repro.

[2017-08-18 12:31] #3152 closed

[2017-08-18 12:32] mhlopko commented on #3061
Or with bazel 0.5.3 for that matter? :)

[2017-08-18 12:39] mhlopko commented on #2918
Friendly ping.

[2017-08-18 12:43] mhlopko commented on #2639
Hmm this has stayed under radar for too long. I'll close this issue now, please reopen if it's still reproducible with latest bazel.

[2017-08-18 12:43] #2639 closed

[2017-08-18 12:46] mhlopko commented on #2358
Hi David, sorry for radio silence. Is this issue still relevant?

[2017-08-18 12:48] mhlopko commented on #2346
Will close as it's probably obsolete. Feel free to comment and I'll reopen.

[2017-08-18 12:48] #2346 closed

[2017-08-18 12:52] mhlopko commented on #1920
Good news, work on transitive libraries has started :)

[2017-08-18 12:56] meteorcloudy commented on #1013
https://docs.google.com/document/d/1ZK4f84wype5NsZ7ltOUqvyFr7eKOIf4Wd-DrU6HCBkA/edit talked about how to solve this.

[2017-08-18 13:53] evanj opened #3586 "Mac OS X: builds hang for 10-20 seconds due to localhost name resolution"
Running a clean build on Mac OS X Sierra hangs for 10-20 seconds before actually executing. Running `jstack` shows that it is stuck in `NetUtil.findShortHostName`, trying to resolve the localhost name. The following blog post shows that this is a common issue, and suggests adding entries to `/etc/hosts` which fixes the problem. I suggest that possibly the result of this lookup should be cached by

[2017-08-18 14:04] cvcal commented on #3580
My recent changes to `PackageCacheOptions`were changes that went through to all options, so unfortunately it doesn't mean I know much about this.
I think @dslomov might know who to pass this to.

[2017-08-18 14:24] Helcaraxan commented on #507
@mhlopko I am currently trying to reproduce it. That said some of our project structure has significantly changed since last April so not sure that I will be able to. If I am not giving any further updates here in the next days consider I was not able to reproduce it.

[2017-08-18 15:44] kurtguenther commented on #3586
I can confirm this happened for two coworkers and me.  We resolved by having `Screen Sharing` turned on, but obviously that's not a good fix for the underlying problem.

[2017-08-18 15:51] jgavris commented on #3586
+1 Interested if someone can track this down!

[2017-08-18 16:58] jgavris commented on #3175
Just wondering if we're close on this one?

[2017-08-18 17:34] gunan commented on #3450
Great!
which release should we expect this to be in?

[2017-08-18 17:52] startcode commented on #3581
Here is a live example: https://github.com/ApolloAuto/apollo/blob/master/apollo.sh
If you run ```bash apollo.sh test```, all targets generated by ```bash apollo.sh build``` will be cleared.

[2017-08-18 20:37] softprops commented on #2846
I would be happy with just cache hits vs misses. We are starting to try to do something hacky by parsing and recording metrics remote/standalone info out from our bazel log output but having something that's a bit more first class would be great!

[2017-08-18 23:20] prestonvanloon opened #3587 "Unable to load package for '@bazel_tools//third_party/protobuf/3.2.0:protobuf.bzl"
### Description of the problem / feature request / question:
[code]

The goal here is to query `@bazel_tools` to see what targets are available. My specific use case is that I am looking for the well known protos https://github.com/bazelbuild/bazel/tree/master/third_party/protobuf

### If possible, provide a minimal example to reproduce the problem:
Build bazel at https://github.com/bazelbuild/baz

[2017-08-18 23:33] prestonvanloon commented on #3587
It may be a wider issue, but querying like `bazel query @bazel_tools//third_party/...` fails due to other extensions missing.

[code]

[2017-08-18 23:40] prestonvanloon commented on #3587
In my follow up comment, that issue can be resolved with a change like:
[code]
I'll create a PR for this later.

[2017-08-19 00:03] prestonvanloon commented on #3587
So I created that PR, but the protobuf srcs in `third_party` don't return targets in the query results. Is there something that needs to be done to make these protos available via `@bazel_tools`?

I tried removing the visibility restriction on the srcs `filegroup` in `third_party/protobuf/BUILD`, but no luck.

[2017-08-19 06:12] davido opened #3589 "Windows: shell script cannot be used as an 'executable' for an action"
This is an attempt to fix command line limit problem reported in #3579. It's usual approach to work with a response file. So I adapted the code in question from passing the whole 25k command, that was truncated on 8191 character directly to `ctx.action()`, that was going through the shell:

[code]

with an intermediate step, generated shell script and pass it as `executable` to `ctx.action()` inst

[2017-08-19 07:45] davido commented on #2190
Another reason to not shell out to `cmd.exe` is 8191 command line limit: #3579.

[2017-08-20 09:10] ittaiz commented on #3528
@iirina @dslomov wdyt about the composition using native.java_import?

[2017-08-20 14:44] ittaiz commented on #3534
@kchodorow any thoughts?

[2017-08-20 15:03] ittaiz commented on #3438
@kchodorow friendly ping

[2017-08-20 18:36] michaeledgar commented on #3570
To provide a bit more context, consider [this issue filed against grpc-java](https://github.com/grpc/grpc-java/issues/1648). It reports that Google L3 Load Balancers (which support gRPC) will consistently reap idle TCP connections after 600 seconds. A compatible build event service served behind such a load balancer would fail for any build with a period of 600 seconds with no events to report.

E

[2017-08-20 23:10] jmillikin opened #3590 "Please add `repository_ctx.extract()` function"
The existing `repository_ctx.download_and_extract()` will, as it says on the tin, download an archive and then extract it to the local filesystem. There's also a function `repository_ctx.download()`, which lets the user handle the extraction part themselves.

This request is for a function `repository_ctx.extract()`, so that I can write custom Skylark to download an archive via a non-HTTP protocol

[2017-08-21 05:15] mhlopko commented on #3450
The fix was too late for 0.5.4 so the one after that.

[2017-08-21 06:45] mhlopko commented on #2266
Sorry for the silence, is this still relevant?

[2017-08-21 06:49] mhlopko commented on #1950
Is this issue still relevant? Reproducible?

[2017-08-21 06:52] mhlopko commented on #1876
I assume this can be closed now :) Thank you for the patch!

[2017-08-21 06:52] #1876 closed

[2017-08-21 07:06] mhlopko commented on #1285
@calpeyser Is this still an issue? Sounds surprising to me.

[2017-08-21 08:06] damienmg commented on #3175
Unfortunately no :(

[2017-08-21 08:48] damienmg commented on #3535
@cinqs: we do support CentOS as a bootstrapping environment and [test for it](https://github.com/bazelbuild/bazel/blob/master/src/test/docker/Dockerfile.centos6.7). We do need `which` to bootstrap indeed but not to run bazel. We do not provide RPM package yet.

We choosed Ubuntu because that was the default distribution inside Google.

I consider this a documentation issue, we should clearly add t

[2017-08-21 11:28] iirina commented on #3528
I wrote a little pseudocode to describe what you said, is this what you were thinking about?

[code]

[code]

[2017-08-21 12:11] iirina commented on #3581
Oh I see. There are some options that affect the startup of the bazel server (search for them [here](https://docs.bazel.build/versions/master/command-line-reference.html)). Among those I can identify `--batch` and` --batch_cpu_scheduling` in your `build` command line. When you run `bazel test` with different startup options than the previous bazel command, the server will restart with a clean stat

[2017-08-21 16:50] kchodorow commented on #3563
Confirmed, relative paths also work for `new_local_repository`.

[2017-08-21 16:52] buchgr commented on #3461
bazel 0.5.4 rc4 released. It contains `d7f5c12` as a cherry-pick (@srkukarni, @kramasamy).

Please test :-).

ping @petemounce

[2017-08-21 17:06] jfroy opened #3592 "Support for CROSSTOOL with custom dynamic runtime libs w/o using EXEC_ORIGIN"
Our project targets a slightly strange flavor of Linux where the runtime environment does not use  libstdc++. We built a custom CROSSTOOL with clang/llvm and a minimal sysroot, and we can compile programs, but we cannot run tests because the sysroot runtime libraries are not made available to test programs. Using `dynamic_runtime_libs` in `cc_toolchain` and `supports_embedded_runtimes: true` in `C

[2017-08-21 17:44] kramasamy commented on #3461
Thanks Jakob. Wondering if the release candidate is tagged and binaries released. On the releases and tags page, I am unable to see them.  Let me know if I am looking not at the correct place.

cheers
/karthik

[2017-08-21 18:23] petemounce commented on #3461
Pushed https://chocolatey.org/packages/bazel/0.5.4-rc4.

[2017-08-21 19:21] c-parsons commented on #3513
/shrug, this was included mostly for historic reasons. I don't see any issues (other than possible migration overhead) for changing this.

[2017-08-21 19:25] buchgr commented on #3461
@kramasamy
It's not on the github releases page. You can get download binaries and sources from https://storage.googleapis.com/bazel/0.5.4/rc4/index.html

If no new release blockers show up, I am planning on 0.5.4 release this Wednesday.

[2017-08-21 19:26] damienmg commented on #3461
Since a lot of test are broken on the global test, I don't think this RC is viable (see http://ci.bazel.io/view/Bazel%20bootstrap%20and%20maintenance/job/Global/job/pipeline/Downstream_projects/Downstream%20projects.html)

[2017-08-21 19:40] damienmg commented on #3461
Actually those tests failure where already there with rc3...

[2017-08-21 19:43] damienmg commented on #3461
Failure was there since the baseline, it got fixed at head but did not made it into the release candidate...

[2017-08-21 19:50] damienmg commented on #2925
Jenkins: test this please.

This looks reasonable to me.

[2017-08-21 19:50] damienmg commented on #2925
oops commented on the issue instead of the PR

[2017-08-21 20:23] aj-michael commented on #3241
I've thought about this for a bit, and I think that the general problem here is not something that Bazel can solve. We don't know when an api level requires newer build tools, and even if we did and we baked that information into the Bazel binary, when a new Android api level comes out we wouldn't be able to update the old Bazel release with the minimum build tools version needed for the new SDK l

[2017-08-21 20:23] #3241 closed

[2017-08-21 21:23] michelleirvine commented on #3535
I've created #3593 pls comment there about doc for installing on CentOS.

[2017-08-21 21:35] damienmg commented on #3461
https://github.com/bazelbuild/bazel/commit/3cb136d5451e9d8af58f9a99990cad0592df101a <-- seems to be the missing fix...

[2017-08-21 21:38] startcode commented on #3581
Problem solved. Thanks.

[2017-08-21 21:38] #3581 closed

[2017-08-21 22:30] hhclam commented on #1531
We have started using this feature to speed up builds. What's the latest update? I would love to see this works with sandbox and java worker process.

[2017-08-22 05:41] kramasamy commented on #3461
Is this going to be included in rc4?

[2017-08-22 06:30] kramasamy commented on #3461
I was able to compile and test Heron with rc4 release. All the unit tests passed successfully.

[2017-08-22 06:50] ittaiz commented on #3528
Not really since this strips out all ijars. I want only for specific deps.
[code]
Is this clearer?

[2017-08-22 07:17] #3401 closed

[2017-08-22 07:51] iirina commented on #3528
Yes, only you cannot use `native.java_import` in a rule implementation (in analysis phase). You can only use it in macros (loading phase). Unfortunately the only solution I see here is to declare both a `java_import `and a `scala_import`, where the latter depends somehow on the former and retrieves whatever it needs from it:

[code]

And the BUILD file would look like this:
[code]

[2017-08-22 08:14] abergmeier-dsfishlabs commented on #3568
@philwo There you go: https://github.com/abergmeier-dsfishlabs/bazel_hermetic_test

Run `bazel build //:bar`

[2017-08-22 10:50] buchgr commented on #3435
@Utsav2 you are correct. there is a bug somewhere about this.

[2017-08-22 10:58] grandseiken opened #3594 ""The handle is invalid" errors on Windows"
### Description of the problem / feature request / question:

We are in the process of porting our CMake-based build to Bazel. With Bazel 0.5.3, almost all Windows-specific issues we've seen before seem to have been resolved (thank you so much!).

We still have one occasional flake with the Bazel build on Windows. Very rarely, Bazel fails with a "The handle is invalid" error. This seems to happen

[2017-08-22 12:26] ittaiz commented on #3528
Thanks!
I can make scala_import a macro which will generate both of them and have
the java_import with private visibility, right?
If so this sounds great
On Tue, 22 Aug 2017 at 10:51 Irina Iancu <notifications@github.com> wrote:

[2017-08-22 12:30] iirina commented on #3528
Yup, that sounds like a plan!

[2017-08-22 12:32] damienmg commented on #3586
/cc @c-parsons can you take a look?

[2017-08-22 12:32] damienmg commented on #3586
also cc @jmmv for perf on mac

[2017-08-22 12:37] dslomov commented on #3594
I saw similar error but I do not know how to reliably reproduce. Any repro or details will be appreciated!

[2017-08-22 12:41] ittaiz commented on #3528
Great.
Any idea when you'll be able to expose it?
On Tue, 22 Aug 2017 at 15:30 Irina Iancu <notifications@github.com> wrote:

[2017-08-22 12:42] iirina commented on #3528
To expose the full jars?

[2017-08-22 12:55] damienmg commented on #3589
@laszlocsomor: can you take a look? Thanks!

[2017-08-22 12:59] ittaiz commented on #3528
If I understood you correctly `compile_time_full_jars` isn't exposed right? That's the only missing piece for the above puzzle right? (other than changing java_import_external to allow customization of the library rule)

[2017-08-22 13:06] iirina commented on #3528
Sorry I misread (read "how" instead of "when") :) I hope I will submit the change next week, but don't know in which release it will be included.

[2017-08-22 13:14] dslomov commented on #3594
The error (invalid handle) comes from here: https://github.com/bazelbuild/bazel/blob/master/src/main/native/windows/processes-jni.cc#L327
indicating that the thread handle passed to `ResumeThread` is invalid.
The thread handle comes from process info (https://github.com/bazelbuild/bazel/blob/master/src/main/native/windows/processes-jni.cc#L307), it is the main thread of the process that is created

[2017-08-22 13:21] jmmv commented on #3586
@mhlopko looked into this a while ago and I thought fixed it via https://bazel-review.googlesource.com/c/bazel/+/5432, but there may still be something left to do. If you still remember about this, do you have any other details?

[2017-08-22 13:44] ittaiz commented on #3528
That's ok. Maybe we'll be able to sneak it in 0.5.4. Otherwise I'll just hope that 0.6.0 will be soon.

[2017-08-22 14:06] buchgr commented on #3528
@ittaiz will release 0.5.4 this week, but 0.6.0 will follow soon after.

[2017-08-22 14:56] petemounce commented on #3461
Pushed https://chocolatey.org/packages/bazel/0.5.4-rc5.

[2017-08-22 14:56] ittaiz commented on #2859
Friendly ping. Is this big?

[2017-08-22 16:07] damienmg commented on #3519
/cc @philwo @ulfjack for eveluation

[2017-08-22 16:12] dslomov commented on #3594
I've spent some time looking at this code an reading things, but no clue yet :(

Also, the other instance of invalid handles that you report (`ERROR: missing input file '//cpp/external:boost-thread/boost/preprocessor/iteration/detail/iter/reverse1.hpp':The handle is invalid.`) is a different bug I guess

[2017-08-22 16:12] kramasamy commented on #3461
tested release candidate rc5 on heron. works well and all the unit tests have passed and so did the packaging.

cheers
/karthik

[2017-08-22 16:19] mattmoor commented on #3519
As context for my interest, this means that if I make `bazel run` of a `docker_build` target execute the container, we cannot terminate it with Ctrl+C.

e.g. after [this PR](https://github.com/bazelbuild/rules_docker/pull/112) merges, if you do this the container is still running (and AFAICT there is no remedy):
[code]

[2017-08-22 16:50] mattmoor commented on #3519
Also, fwiw this makes advocating the use of these (`foo_image`) rules within the mono-repo essentially untenable. :(

[2017-08-22 17:39] kchodorow commented on #3534
For reasons I don't entirely understand, adding `/bin/bash -c` makes it print, e.g.,

[code]

Adding @ulfjack, who last changed the output handling.

[2017-08-22 18:05] jfroy opened #3595 "Tool to edit elf RUNPATH"
Bazel-built shared libraries and programs can have a complex RUNPATH synthesized by bazel. This is almost always not what should be shipped in the packaged version of the software. There should be a bundled tool and rule to set the final RUNPATH value.

This issues comes up when using the pkg_tar or pkg_deb rules to ship build artifacts.

### Environment info
* Operating System:
debian unstable

*

[2017-08-22 20:09] davidzchen commented on #3537
Duplicate of #579

[2017-08-22 20:09] #3537 closed

[2017-08-22 20:10] davidzchen commented on #3336
Duplicate of #579 and #1788

[2017-08-22 20:10] #3336 closed

[2017-08-22 20:12] davidzchen commented on #1788
FYI since we have finished with the Bazel website restructuring, I am working on completing the tooling for versioning the documentation at docs.bazel.build. I'm de-duping this against #579 since the the change I am working on covers both.

Duplicate of #579

[2017-08-22 20:12] #1788 closed

[2017-08-22 20:13] davidzchen commented on #3335
The push job was broken for some period of time, but @damienmg has fixed it, and the push is working again.

[2017-08-22 20:16] davidzchen commented on #2556
We are using `gsutil rsync` for the push:

[code]

Perhaps, we can run `gsutil rsync` with `-d` so that deleted files also get deleted from the bucket?

[2017-08-22 20:20] damienmg commented on #2556
Indeed but we should be careful because perf.bazel.build results are
actually not sync'd the same way, so we probably want to not use it for
perf.bazel.build or reorganize it a bit, Anyway this issue should be in
continuous-integration since the website sync tasks are moving there.

On Tue, Aug 22, 2017 at 10:16 PM David Z. Chen <notifications@github.com>
wrote:

[2017-08-22 20:23] davidzchen commented on #2556
SGTM. Closing this. This is tracked by bazelbuild/continuous-integration#39

[2017-08-22 20:23] #2556 closed

[2017-08-23 00:45] thinlizzy commented on #2266
I don't know. I haven't tried to use Bazel on Windows since then. Are there
new stabler versions for Windows?

On Sun, Aug 20, 2017 at 8:45 PM, Marcel Hlopko <notifications@github.com>
wrote:

--
https://github.com/thinlizzy/ <http://die-xml.googlecode.com/> - C++11 and
C++14 open source wrappers and libraries for various purposes (XML, image,
webserver... and even a MTG implementation)
http://bau

[2017-08-23 03:04] ajbouh opened #3597 "http_archive, git_repository repetition when nesting WORKSPACE"
I'm trying to build a project that depends on TensorFlow. I've modeled my BUILD files on those in https://github.com/tensorflow/serving.

Why is the following block required in https://github.com/tensorflow/serving/blob/master/WORKSPACE?
[code]

When I extended my project to depend on https://github.com/ajbouh/go-ipfs,
I ended up having to duplicate 100+ of these types of external declarations in

[2017-08-23 03:08] ajbouh commented on #3595
There's a handy tool called [PatchELF](https://nixos.org/patchelf.html) built by the NixOS team that might help here.

[code]

[2017-08-23 07:59] mhlopko commented on #2266
Oh yeah, Bazel should be leaps better on Windows now than it was in February.

[2017-08-23 08:06] buchgr commented on #3461
@kramasamy thanks a lot for testing!

[2017-08-23 08:23] mhlopko commented on #3586
Hmm I only fixed it for Workspace status action, but checking the callers of NetUtil.findShortHostName I see that it's being called from other places, in this context only LocalSpawnRunner seems relevant. I've never touched that part of the codebase, and a quick (<5 min) search failed to reveal any per-blaze-invocation calls to findShortHostName. So I don't know what's wrong here off the bat. I be

[2017-08-23 08:25] mhlopko commented on #3513
Ok thanks, I'll try to get rid of it. When I find some cycles to spare (= O(weeks))

[2017-08-23 09:11] drigz opened #3599 "Add -v, --version flag"
Working out that `bazel version` is the right command is (for me at least) quite slow. It would be better to support the more common `-v` and `--version` flags.

[code]

### Environment info
* Operating System: Ubuntu 14.04
* Bazel version: 0.5.3

[2017-08-23 09:20] damienmg commented on #3595
Since PatchELF exists I would recommend using that...

/cc @mhlopko to further evaluate this request because it is linked to deployment of C++ binaries but I think we can close this one since I doubt we want to bundle PatchELF by default (no real need for). However there might be a more general mechanism to think of about writing runpath...

[2017-08-23 09:23] damienmg commented on #3597
Normally the correct way is to declare a skylark macros that create those dependency so you can just recall that skylark macro. It can also use native.existing_rules to not recreate them when there where already created.

We have a design for recursive inclusion but it is not trivial to do right so it takes time.

(side-note: since this is a support question more than a FR or a bug report, it woul

[2017-08-23 09:27] damienmg opened #3600 "testReadingAndWritingAfterTermination – com.google.devtools.build.lib.windows.WindowsProcessesTest failed on CI [flake]"
From http://ci.bazel.io/blue/organizations/jenkins/Global%2Fbazel-tests/detail/bazel-tests/190/tests/:

[code]

Probably a flake.

[2017-08-23 09:28] damienmg commented on #3600
Yun: to investigate or reassign

[2017-08-23 09:38] mhlopko commented on #3595
Yeah controlling the RPATH for deployment is one of the main problems we want to solve by the 'Bazel for Open-Source C++ Development' effort (that is very early in the design stage and have not yet been shared with the world :) So I think we can close this issue as it doesn't add anything we're not addressing already.

[2017-08-23 09:38] #3595 closed

[2017-08-23 10:51] ittaiz commented on #2751
@damienmg this seems like the generic relevant issue, right?
What we discussed is the desire to move the skylark rules introduced [here](https://bazel-review.googlesource.com/c/15432/1) to a separate repo which people can depend on directly.
Additionally we talked about having the rules extract Bazel itself and so save the (~17 seconds I saw when I tried something similar)

[2017-08-23 11:02] meteorcloudy commented on #3600
Hmm, couldn't repro locally with both latest Bazel and Bazel@HEAD.
Let's see if it fails again.

[2017-08-23 11:10] philwo commented on #3519
We had an internal request to change this behavior just a few days ago, too. I'll have a look and see what I can do here.

[2017-08-23 11:32] #2859 closed

[2017-08-23 11:39] philwo commented on #3586
I think we should resolve the local hostname once on server startup and print a warning message if that takes longer than e.g. 5 seconds, to make sure that people don't blame Bazel for what is essentially a local configuration or network issue. Then we should use that hostname consistently during server lifetime.

[2017-08-23 11:42] evanj commented on #3586
Rats, I thought I posted the entire stack trace, but apparently not. If it is helpful I can dig it up again. FWIW: I think @philwo 's suggestion sounds perfect.

[2017-08-23 11:44] mhlopko commented on #3586
As @philwo educated me, LocalSpawnRunner is instantiated for every blaze instantiation, so we found the source of the problem.

Does anybody have a nicer solution than a static field in NetUtil caching the hostname (and removal of the same approach from Workspace status action)? Plus the time measuring logic and a warning in case of slow lookup.

[2017-08-23 12:12] buchgr commented on #2964
I have a prototype implementation of a circuit breaker in our retry logic [1]. Will share soon.

[1] https://martinfowler.com/bliki/CircuitBreaker.html

[2017-08-23 12:15] ittaiz commented on #2859
thanks!

[2017-08-23 13:25] laszlocsomor commented on #3589
Ok, i'll take a look

[2017-08-23 13:38] laszlocsomor commented on #3589
@davido : I dislike the idea to special-case shell scripts in Skylark actions on Windows. The rule had to "magically" depend on Bash if the executable looked like a shell script or war file.
Can you use `ctx.run_shell` instead? That should behave correctly on all platforms.

[2017-08-23 13:39] laszlocsomor commented on #3589
https://docs.bazel.build/versions/master/skylark/lib/actions.html#run_shell

[2017-08-23 14:19] davido commented on #3589
@laszlocsomor Thanks for the pointer, I wasn't aware of `ctx.run_shell` method, and was only trying to  rectify #3579. Interestingly, running shell script just works on Linux. Moreover I was wondering about inconsistency: `command = '\n'.join(cmd)` works (but truncated after 8k) , while `executable = gen_war` work on Linux but failing on Windows.

Another option would be to expose `command_shell =

[2017-08-23 14:43] laszlocsomor commented on #3589
@davido : Thanks for trying it!

It works because Linux special-cases files that start with `#!`:

*Source: https://en.wikipedia.org/wiki/Shebang_(Unix)*

Good point. The shell is the default executable of actions unless you set another one. As you said, executing a shell script just works on Linux, but it doesn't work on Windows because the `.sh` extension is not executable.

I stand corrected th

[2017-08-23 19:31] srkukarni commented on #3461
@petemounce @buchgr How does 0.5.4rc5 look? Any eta on its release? Thanks!

[2017-08-23 20:19] ianthehat opened #3601 "Optional toolchains"
There are reasons to write rules where the exact toolchains used might vary depending on information available at analysis time.
The specific example here is that linking a go_binary needs a cc toolchain only if there was cgo in any of it's transitive dependencies.
At the moment to get the cc toolchain you have to say you need it in the rule, and then it is an error if one is not available, even i

[2017-08-23 20:26] oswcab opened #3602 "Error: couldn't connect to server after 120 seconds. Killed non-responsive server process (xxx)"
Using bazel to build gerrit and other related projects. Just upgraded to a new laptop so I had to install bazel again; it was running fine in old machine.

Now when I try to build any project it takes a long time (several minutes) to show the dots and finally gives error message:
   Error: couldn't connect to server after 120 seconds.

If after that, if try in another project, get "Killed non-resp

[2017-08-23 21:33] rsc opened #3603 "bazel java library path has many redundant entries"
Running bazel 0.5.3 as part of building Kubernetes. In ps the listing looks like (I've inserted many newlines for clarity, each preceded by a \):

[code]

Note that the -Djava.library.path has _many_ identical entries. That looks like a bug or at least an opportunity for shorter entries in ps.

[2017-08-23 21:59] petemounce commented on #3461
@srkukarni `0.5.4-rc5` was released 22 August, 15:25 BST. The chocolatey package was a couple hours after that.

[2017-08-23 22:03] kramasamy commented on #3461
Peter - Any ETA on 0.5.4 itself?

[2017-08-23 22:03] srkukarni commented on #3461
@petemounce sorry I meant 0.5.4 release. Thanks!

[2017-08-23 22:15] calpeyser commented on #1285
I don't think this is an issue anymore.

[2017-08-23 23:06] petemounce commented on #3461
Sorry, I don't have one. I'm not in the core team.

[2017-08-24 01:32] jgavris commented on #3586
Can `hostname` be added to `CommandEnvironment`?

[2017-08-24 02:03] davido commented on #3589
Unfortunately, it doesn't work:

If I change `ctx.action()` invocatin with `ctx.run_shell()`:

[code]

I get:

[code]

And even if we sort out, why my current bazel version built from master doesnt recognize `ctx.run_shell()`, i cannot see how this could work, given that the generated script is 25k, see the whole story in
#3579. IOW, the `run_shell` is missing attribute: `shell_script` or some suc

[2017-08-24 03:40] kevinburke opened #3605 "Document how to use http_archive output in another command"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:

A frequent task when writing a Bazel library is to download a package manager (mvn, npm, cargo, dep, pip) and then use that package manager to install packages. But it's not super clear where http_archive o

[2017-08-24 03:42] kevinburke opened #3606 "Docs for ctx.file are confusing"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:

I'm confused by packages defining ctx.file("BUILD.bazel"), with some file contents, for example here: https://github.com/bazelbuild/rules_go/blob/master/go/private/toolchain.bzl#L65. I'm confused because I

[2017-08-24 03:56] kevinburke opened #3607 "Document how to run a shell command from a rule"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:

I'd like to run a shell command from a rule, e.g. provide a "mocha_test" rule that calls mocha with some arguments. The documentation for rule doesn't really explain how to do this.

### If possible, provid

[2017-08-24 09:49] aehlig commented on #3578
...or the port (updated to the latest release candidate), after verifying the
build in an insolated environment.

[code]

Note that "all dependencies" is not such a clear notion as it sounds,
as every system has its own idea of what is "always there". Will update
the documentation nevertheless.

--
Klaus Aehlig
Google Germany GmbH, Erika-Mann-Str. 33, 80636 Muenchen
Registergericht und -nummer: Ha

[2017-08-24 11:16] damienmg commented on #3607
/cc @michelleirvine: we should discuss how we should triage documentation suggestion.

[2017-08-24 11:18] damienmg commented on #3602
This looks like Pulse Secure is preventing bazel front-end to talk to bazel server. Does it work with the --batch option? (e.g. `bazel --batch info`)

If so, then it is probably a security policy enforced by Pulse secure.

[2017-08-24 11:19] damienmg commented on #3605
/cc @michelleirvine: don't we have those kind of information in the new java guide you are preparing?

[2017-08-24 11:21] damienmg commented on #3606
The documentation is there: https://docs.bazel.build/versions/master/skylark/lib/repository_ctx.html#file

toolchain should not have called this one ctx, this is confusing https://docs.bazel.build/versions/master/skylark/lib/ctx.html#file

/cc @erain

[2017-08-24 11:38] #1285 closed

[2017-08-24 11:38] mhlopko commented on #3578
Yeah I understand. Thanks for working on it!

[2017-08-24 11:46] aehlig commented on #3570
Over to @buchgr who was also involved in the solution of the related issue on grpc-java.

[2017-08-24 12:12] buchgr commented on #3461
@srkukarni @kramasamy I hope today or tomorrow. We are currently investigating a failure. If it turns out to be a regression it may take longer. Will see.

[2017-08-24 12:52] damienmg opened #3609 "migration-tools broken by nightly"
Error:

[code]

So due to a new error prone check. I opened a thread with @cushon

[2017-08-24 12:53] damienmg opened #3610 "sandboxing test broken"
Logs:
http://ci.bazel.io/job/bazel-tests/978/artifact/tests-node=linux-x86_64-variation=/src/test/shell/bazel/bazel_sandboxing_test/test.log/*view*/

I don't know why we don't get XML file
it is failing on Linux and ubuntu
http://ci.bazel.io/job/bazel-tests/978/artifact/tests-node=ubuntu_16.04-x86_64-variation=/src/test/shell/bazel/bazel_sandboxing_test/test.log/*view*/

[2017-08-24 12:54] damienmg commented on #3609
Link to the log: http://ci.bazel.io/job/Global/job/migration-tooling/102/console

[2017-08-24 12:56] damienmg opened #3611 "output_filter_test broken on ci [flake]"
http://ci.bazel.io/job/bazel-tests/978/testReport/junit/(root)/(empty)/test_output_filter_does_not_apply_to_test_output/

[code]

[2017-08-24 13:16] abergmeier-dsfishlabs opened #3612 "Introduce attr.host_executable"
### Description of the problem / feature request / question:

In the past we wrote lines like

    "_foo": attr.label(default = Label("//foo:exec"), executable = True, cfg = "host"),

everywhere. To make that easier we introduced a macro `host_executable`:

    "_foo": host_executable("//foo:exec"),

As a middle ground, I think it would be beneficial to expose a shortcut `attr.host_executable`:

[2017-08-24 13:37] ivshli opened #3613 "Bazel build label_image on Windows failed: Configurable attribute "copts" doesn't match this configuration"
Hi everyone,
I'm building examples/label_image of tenforflow on windows 7 64 bit, I had visual studio 2015 installed,
bazel version: 0.5.3, installed by chocolaty
tensorflow: donwloaded from source
Systeme : Win 7 Entreprise 64 bit
when I try to compile "bazel build label_image/... " on my cmd, I got this error:

ERROR: C:/users/myName/appdata/local/temp/_bazel_hli/ftkyife3/external/nsync/BUILD:
3

[2017-08-24 14:04] ivshli commented on #3613
Actually, this problem was solved and merged since yesterday (23/08/2017), just need to update your nsync folder

[2017-08-24 14:04] #3613 closed

[2017-08-24 14:43] laszlocsomor commented on #3589
I think `run_shell` should automatically create a shell script if the command line is too long for the platform. `genrule` does the same. If `run_shell` doesn't do that, as it seems to, that's a bug.

Let me look into that.

[2017-08-24 14:47] srkukarni commented on #3461
Thanks @buchgr

[2017-08-24 14:57] kevinburke commented on #3606
From my initial request: The documentation says ctx.file is "a struct containing files", but I'm confused - if it is a value, I would expect ctx.file to return something for me to use later. If it's not returning anything I expect it to have some side effect but it's not clear what that is.

[2017-08-24 14:57] philwo commented on #3610
Fix incoming.

[2017-08-24 14:59] ittaiz commented on #2475
Any update on this?

[2017-08-24 15:04] buchgr commented on #2475
Yes, I ll get to it Monday!

[2017-08-24 15:16] damienmg opened #3614 "java_integration_test is timeout flaky on FreeBSD"
http://ci.bazel.io/blue/organizations/jenkins/Global%2Fbazel-tests/detail/bazel-tests/190/pipeline one of the instance.

I haven't saw instance with bazel latest, so it might be a problem with HEAD.

[2017-08-24 15:17] damienmg commented on #3614
(i deactivated it on freebsd on ci side)

[2017-08-24 15:20] damienmg commented on #3611
So it's a flake I can repro with --runs_per_test=100 (so far 5 failures, still 8 tests running)

[2017-08-24 15:22] damienmg commented on #3606
/cc @dslomov

[2017-08-24 15:27] dslomov commented on #3606
Seems like you are confusing [ctx.file](https://docs.bazel.build/versions/master/skylark/lib/ctx.html#file) and [repository_ctx.file](https://docs.bazel.build/versions/master/skylark/lib/repository_ctx.html#file)

[2017-08-24 15:32] damienmg commented on #3611
8/100 failures, re-running with 15 runs then I will try to figure out if it is a long standing issue

[2017-08-24 15:37] ittaiz commented on #2475
Awesome, thanks!
On Thu, 24 Aug 2017 at 18:04 Jakob Buchgraber <notifications@github.com>
wrote:

[2017-08-24 15:39] kevinburke commented on #3606
Oh, yeah. I had no idea. Maybe we should update the ticket title

On Thu, Aug 24, 2017 at 08:28 Dmitry Lomov <notifications@github.com> wrote:

--

--
Kevin Burke
925.271.7005 | kev.inburke.com

[2017-08-24 15:41] damienmg commented on #3524
FTR I deactivated TF on windows until this is fixed.

[2017-08-24 15:56] dslomov commented on #3606
So which one you are complaining about?

[2017-08-24 16:07] davido commented on #3589
But wait, if in some code paths shell script is automatically created if the command line is too long, then it raises the question why `ctx.action()` doesn't do it?

Is it a bug in `ctx.action()`, that could be easily fixed, see #3579?

In ideal world, this would just work:

[code]

on all platforms, and even on Windows, even if the script is longer then 8191 chars.

[2017-08-24 16:13] damienmg opened #3615 "Windows regression on 0.5.4 rc4 and rc5 [flake]"
It got on rc5: http://ci.bazel.io/blue/rest/organizations/jenkins/pipelines/Global/pipelines/bazel-tests/runs/187/nodes/31/log/?start=0 on windows-x86_64-3

and on rc4: http://ci.bazel.io/blue/rest/organizations/jenkins/pipelines/Global/pipelines/bazel-tests/runs/182/nodes/31/log/?start=0 on windows-x86_64-2

windows-x86_64-3 had the test passed

RC3 passed: http://ci.bazel.io/blue/rest/organizati

[2017-08-24 16:15] damienmg commented on #3461
Note https://github.com/bazelbuild/bazel/issues/3615 that might be due to one of cherry-picks of rc4.

[2017-08-24 16:21] damienmg commented on #3615
So grepping all the log gives only those two failures since we switched to pipeline 3 weeks ago

[2017-08-24 16:23] damienmg commented on #3615
Assigning to the RM to assess.

/cc @laszlocsomor @meteorcloudy

[2017-08-24 17:15] damienmg commented on #3609
Wow thanks for the fix :)

On Thu, Aug 24, 2017, 7:14 PM Liam Miller-Cushon <notifications@github.com>
wrote:

[2017-08-24 17:18] #3609 closed

[2017-08-24 17:27] oswcab commented on #3602
I'll test this option this evening as now at the office I cannot connect using Pulse and I let you know.
Thanks

[2017-08-24 20:28] ulfjack commented on #3519
Did my recent change to the command api fix this?

On Wed 23. Aug 2017 at 13:10, Philipp Wollermann <notifications@github.com>
wrote:

[2017-08-25 00:55] oswcab commented on #3602
bazel --batch build gerrit works just fine.
Thanks!

[2017-08-25 05:01] mhlopko commented on #311
I'll take the liberty to close this issue, since no more action items are known.

[2017-08-25 05:01] #311 closed

[2017-08-25 05:01] benjaminp commented on #3298
This was fixed by 8eafe6b57f2838fb911d9f8986309b7dccd93616.

[2017-08-25 05:01] #3298 closed

[2017-08-25 07:57] meteorcloudy commented on #3615
I'm looking into it

[2017-08-25 08:03] meteorcloudy commented on #3615
I can reproduce this locally.

[2017-08-25 08:15] meteorcloudy commented on #3615
`bazel clean` can fix this issue, but the underlying problem is not clear.

[2017-08-25 08:15] meteorcloudy commented on #3615
Remove release block since we have a workaround.

[2017-08-25 08:17] damienmg commented on #3615
We might need to clean up our machines when the release is out. Once 0.5.4 is out I might just go and reimage all windows slave to avoid the problem

[2017-08-25 08:17] meteorcloudy commented on #3615
Sounds good to me.

[2017-08-25 08:19] laszlocsomor commented on #3589
Because `ctx.action()` is buggy, it seems. I just tested the following scenario on Linux. I created a simple Skylark rule that executes a very long shell command, and a genrule that executes the same command. The genrule created a script from the command, but the Skylark action didn't.

Also earlier I confused two things:

*   Bazel creates a shell script from `genrule.cmd` if it is longer than so

[2017-08-25 08:46] ittaiz commented on #2475
Jakob,
Will this still take weeks due to skylark review process?

[2017-08-25 08:52] buchgr commented on #3615
Should we add a message about this to the release notes i.e. "Windows users need to bazel clean once after upgrading to 0.5.4"?

[2017-08-25 08:53] buchgr commented on #2475
I expect this to take several weeks yes. I first need to come up with a design that works for all rules and platforms.

[2017-08-25 09:01] davido commented on #3589
Thanks for the detailed explanation. I also missed the fact that `ctx.action()` is deprecated now. I regularly read the release infos for every single Bazel release, but somehow i missed it.

So, am I getting it correctly, that the question boils down, as for why `ctx.actions.run_shell()` doesn't work as expected? I wonder, if it is easily possible to create more verbose output without actually re

[2017-08-25 09:09] damienmg commented on #3610
This is fixed, thanks @philwo !

[2017-08-25 09:09] #3610 closed

[2017-08-25 09:28] damienmg commented on #3611
Got a 5-10% flakiness even going back 400 commits earlier so it is not new.

[2017-08-25 09:47] buchgr commented on #3570
@sethkoehler

Do you have any error logs that you can share? It could be for many reasons. Also, is there a way I can reproduce this?

A Channel in gRPC is not bound to one TCP connection, but it could be many. It will try to automatically reconnect if the connection is killed. If I had to guess, it could be due to the recently introduced `RoundRobinLoadBalancer`. See #3297

[2017-08-25 10:38] buchgr commented on #3461
Released

[2017-08-25 10:38] #3461 closed

[2017-08-25 10:40] buchgr opened #3617 "Release 0.6.0"

[2017-08-25 10:41] buchgr commented on #3461
ping @petemounce @vbatts

[2017-08-25 10:50] damienmg opened #3618 "boostrap_distfile_test failed at HEAD on windows [flake]"
http://ci.bazel.io/job/bazel-tests/981/artifact/tests-toolchain=msvc-node=windows-x86_64-variation=/src/test/shell/bazel/bazel_bootstrap_distfile_test/test.log/*view*/

[code]

I suspect a flake because the only diff with the last run was an update to the changelog for 0.4.5 release, Laszlo: can you have a look?

[2017-08-25 10:51] damienmg commented on #3505
Is this still on? Why is there the breakage tag there?

[2017-08-25 11:00] laszlocsomor commented on #3618
Sure! I also suspect a flake, but I'll try to repro locally.

[2017-08-25 11:01] damienmg commented on #3618
We have another run right now so we will see if that's a simple flake.

On Fri, Aug 25, 2017 at 1:00 PM László Csomor <notifications@github.com>
wrote:

[2017-08-25 11:06] meteorcloudy commented on #3505
This is fixed, it was breaking CI as well.

[2017-08-25 11:06] #3505 closed

[2017-08-25 11:26] davido commented on #3589
I guess we could dump much more infos here, right?

https://github.com/bazelbuild/bazel/blob/e88dfbe2fec2b1cf4849e888cf9f8b57fb6597ac/src/main/native/windows/processes-jni.cc#L306-L309

[2017-08-25 11:49] laszlocsomor commented on #3618
It failed locally for me as well, but with a cc_autoconfigure error.

[2017-08-25 12:09] laszlocsomor commented on #3618
I was getting that error because testenv.sh doesn't support VC BuildTools 2017. Fixed in https://bazel-review.googlesource.com/c/bazel/+/15810. Running the test locally again.

[2017-08-25 12:11] laszlocsomor commented on #3589
Yes, but why?

Btw I remembered one more thing:
- `actions.run` should run a native command (i.e. call `CreateProcess` on Windows).
- `actions.run_shell` should run a shell command (i.e. call `bash`/`bash.exe`)

[2017-08-25 12:19] vbatts commented on #3461
https://copr.fedorainfracloud.org/coprs/vbatts/bazel/build/594033/

[2017-08-25 12:20] damienmg commented on #3461
Vincent: is there's a way we could set-up testing for Fedora on our side?
Also could we help in reducing the manual work around publishing Fedora
package?

On Fri, Aug 25, 2017 at 2:19 PM Vincent Batts <notifications@github.com>
wrote:

[2017-08-25 12:21] laszlocsomor commented on #3589
Sorry, I missed the question part from your previous comment.

Yes, you could patch it there, e.g. by dumping `mutable_commandline` to a file.

[2017-08-25 12:27] laszlocsomor commented on #3618
[code]

[2017-08-25 12:30] damienmg commented on #3618
The next run did not had the same failure so another flake.

On Fri, Aug 25, 2017 at 2:27 PM László Csomor <notifications@github.com>
wrote:

[2017-08-25 12:33] damienmg commented on #3615
No new issue, a clean will fix if that ever happens, removing the breakage from it

[2017-08-25 12:33] damienmg commented on #3546
no new instance --> closing

[2017-08-25 12:33] #3546 closed

[2017-08-25 12:34] damienmg opened #3619 "test_toolchain flaky on FreeBSD [flake]"
This is not the only instance I have seen but this is the last: http://ci.bazel.io/job/bazel-tests/982/testReport/junit/(root)/(empty)/test_register_toolchain_error_target_not_a_toolchain/

[2017-08-25 12:36] damienmg opened #3620 "launcher_test is failing on windows"
http://ci.bazel.io/job/bazel-tests/982/testReport/junit/src_test_py_bazel_launcher_test/cmd/src_test_py_bazel_launcher_test_cmd/

[2017-08-25 12:38] davido commented on #3589
Have you done something similar in the past or could provide some code pointer where something similar is done already?

[2017-08-25 12:38] damienmg commented on #3620
Not flaky sorry

[2017-08-25 12:39] damienmg opened #3621 "Lot of breakage of windows tests with bazel@HEAD"
See http://ci.bazel.io/blue/organizations/jenkins/Global%2Fbazel-tests/detail/bazel-tests/196/pipeline/31

[code]

It might be a consequence of #3620

[2017-08-25 12:40] damienmg commented on #3621
Right it is indeed a consequence of #3620

Duplicate of #3620

[2017-08-25 12:40] #3621 closed

[2017-08-25 12:41] damienmg commented on #3620
It actually make tests fail on windows with bazel @ HEAD too

[2017-08-25 12:41] laszlocsomor commented on #3620
Looking.

[2017-08-25 12:41] damienmg commented on #3620
Suspecting https://github.com/bazelbuild/bazel/commit/54c5c5cf41bd47d11ea309f37697d83ae65fe9e7 sorry I though native launcher was your work. /cc @meteorcloudy

[2017-08-25 12:43] laszlocsomor commented on #3620
I can repro locally with 0.5.4, at f6291af.

[2017-08-25 12:46] laszlocsomor commented on #3589
Yes, for one-off debugging purposes I have. I'd simply append it to a hardcoded file; nothing fancy. Something like this (not tested):

    FILE* fh = fopen("c:/tempdir/bazel.log", "at");
    fprintf(fh, "%s\n", mutable_command.c_str());
    fclose(fh);

[2017-08-25 12:49] vbatts commented on #3461
very possibly. Unfortunately the manual work mostly has to do with short comings in the copr build system (it's similar to the ubuntu PPA system). From the https://github.com/vbatts/copr-build-bazel repo, the build steps from any particular fedora/centos host/container:

Fedora:
[code]
Centos:
[code]

[2017-08-25 12:50] vbatts commented on #3461
that is _after_ updating the version string. I'm sure I could add Makefile target to use some templating.

[2017-08-25 12:51] davido commented on #3589
Thanks, @laszlocsomo, will test it and let you know.

Actually this JNI place or the code this JNI code is called from is always very interesting from debugging/dump perspective. So, I wonder why we don't can easily instrument this native code and guard it with

[code]

Looks like this is missing and such diagnostic code could be even committed there?

[2017-08-25 12:55] laszlocsomor commented on #3620
I confirmed that 54c5c5c is the culprit.

[2017-08-25 13:02] meteorcloudy commented on #3620
I have a simple fix for this

[2017-08-25 13:07] laszlocsomor commented on #3589
You're welcome, and thanks!

I don't see the need for it. I believe adding debugging code wouldn't be any harder than discovering and understanding the existing ifdef'd code. However, I'm also not against it, so if you'd like to submit something, go ahead :)

[2017-08-25 13:08] meteorcloudy commented on #3620
Sorry for the breakage, I didn't run the test after changing in internal review.
Maybe add launcher_test in Kokoro as well?

[2017-08-25 14:05] #3614 closed

[2017-08-25 14:05] #3620 closed

[2017-08-25 14:22] juliexxia commented on #308
7a7c41d adds this capability! I'm closing this for now but definitely reopen if there are any lingering qs (:

[2017-08-25 14:22] #308 closed

[2017-08-25 14:23] petemounce commented on #3617
#3286?

[2017-08-25 14:24] petemounce commented on #3461
Pushed https://chocolatey.org/packages/bazel/0.5.4

[2017-08-25 14:40] jwnimmer-tri commented on #2358
I can reply on behalf of David.

For the warning flags, we ended up doing option (2).  See our [tools/drake.bzl.](https://github.com/RobotLocomotion/drake/blob/27dc5e2eb58a89304086fae0d9d29b00ad588ae0/tools/drake.bzl#L40).  This is probably the right choice for `Werror-foo` flags, where we want to ratchet them up for our first-party code but leave them lax (and [muted](https://github.com/RobotLoco

[2017-08-25 14:46] vbatts commented on #3461
had a failure due to new build dependencies. successful build -> https://copr.fedorainfracloud.org/coprs/vbatts/bazel/build/594088/

[2017-08-25 14:49] laszlocsomor commented on #3589
As for `actions.run_shell` writing a dispatcher script like genrule does: i have a WIP change that works on Linux but crashes on Windows. I'll investigate next week.
(https://bazel-review.googlesource.com/c/bazel/+/15850)

[2017-08-25 15:10] buchgr commented on #3617
@petemounce good find :D

[2017-08-25 15:10] #3617 closed

[2017-08-25 16:50] RenatoUtsch opened #3622 "Unkown warning option '-Wunused-but-set-parameter' when using clang"
All my C++ projects started throwing the following two warning lines after I updated Bazel to the latest version:

[code]

These warnings are extremely irritating, because they appear for all source files and clutter the terminal. Even more, as I use `-Werror`, these warnings break my build.

This happens with every C++ library/binary I try to build. For example, upon inspecting the build commands

[2017-08-25 21:48] michaeledgar commented on #3570
Bazel appears to be using gRPC-Java 1.3.0: https://github.com/bazelbuild/bazel/tree/master/third_party/grpc

Maybe we just need to update to a new version?

[2017-08-26 01:43] RenatoUtsch commented on #3622
Upon digging some more, this in fact does not seem to be related to Bazel's version. I discovered what is triggering these warnings.

It seems that these warnings appear if the `CC` environment variable is set to `clang`. If I change the `CC` environment variable to `gcc`, the warnings disappear.

My guess is that cc_autoconf is still using gcc when testing if the compiler supports these flags.

[2017-08-26 01:54] ajbouh commented on #3597
Got it. Are there any examples of how to do this properly?

[2017-08-26 08:07] davido commented on #3589
@laszlocsomor Wau, it just worked with your patch: https://bazel-review.googlesource.com/c/bazel/+/15850.

I adjusted the `pkg_war.bzl`:

[code]

Applied gerrit patch, buit Bazel from scratch, and now gerrit WAR creation just worked:

[code]

And testing it, reveals, that it even works ;-)

[code]

[2017-08-26 18:14] phobrain opened #3624 "have no workspace, need workspace to bazel run //generate_workspace"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

Issue got filed when I hit enter to start adding to form - still working on it. Seems like there should be an answer to the circularity issue at least.

The script I'm running runs a ./configure script that doesn't exist before running bazel, and likely the answer is

[2017-08-27 03:48] gyliu513 opened #3625 "docker image is 292 years old if build from bazel"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:

Check out more for https://groups.google.com/forum/#!topic/istio-dev/nuv6UaBFGDk

Some istio docker images are 292 years old and the reason is that bazel is not aware of git commit.

[code]

_If asking a qu

[2017-08-27 05:20] mattmoor commented on #3625
FWIW, `bazelbuild/rules_docker` is a better forum for this.

This isn't entirely accurate.  In general, Bazel uses a constant timestamp to get reproducible builds.  Most files coming out of a Bazel build (e.g. within archive files) will have the Unix epoch.  Git commit is a red herring; I can (and very often do) have two builds at different git commits that produce the exact-same image.

**So why

[2017-08-27 05:20] #3625 closed

[2017-08-27 14:18] ittaiz opened #3626 "Expose default/warn strict_java_deps mode to skylark"
### Description of the problem / feature request / question:
I'm integrating `java_common.compile` into rules_scala where we want to use `strict_java_deps` flag for compilation of java code and of scala code.
The beginning of this started in #3295.
While trying to integrate with it I get an error if I try to pass `warn` as an input.
I then saw that `default` isn't allowed as well.

I think it's ob

[2017-08-27 14:31] snnn commented on #2075
Hi @meteorcloudy

Does it work with wraper free msvc toolchain?

[2017-08-27 15:41] ittaiz commented on #3236
Hi,
Any news?

[2017-08-27 20:56] steren commented on #3245
I see this had been done:

- https://docs.bazel.build/versions/master/tutorial/android-app.html
- https://docs.bazel.build/versions/master/tutorial/ios-app.html

I suppose we can close the issue

[2017-08-27 20:56] #3245 closed

[2017-08-27 20:57] steren commented on #3257
I see we now have a 'IDE integration' page: https://docs.bazel.build/versions/master/ide.html

However, it could contain more info and in particular links. I'll see if I can submit a PR

[2017-08-27 22:52] nicolov commented on #3206
From what I can tell, using `strip_include_prefix` on _libA_ adds a flag that looks like:
[code]
And the flag is indeed passed on to dependents.

[2017-08-28 03:25] luchensk commented on #3622
Thanks @RenatoUtsch .

As you said, it is not working by changing the `CC` environment to `gcc` on MAC OS, and these are some env info on my MAC, as below:

$ sw_vers
ProductName:	Mac OS X
ProductVersion:	10.12.4
BuildVersion:	16E195

$ gcc --version
Configured with: --prefix=/Library/Developer/CommandLineTools/usr --with-gxx-include-dir=/usr/include/c++/4.2.1
Apple LLVM version 8.1.0 (clang-802.0

[2017-08-28 04:15] gunan commented on #3622
I don't think we do any autoconf with cc. We just check operating system and set flags.
@damienmg to confirm if we have a mechanism to pick compilers in an OS.

[2017-08-28 05:56] ittaiz commented on #3534
Hi,
Any news?
On Tue, 22 Aug 2017 at 20:39 Kristina <notifications@github.com> wrote:

[2017-08-28 07:16] meteorcloudy commented on #2075
@snnn No, because we have to construct arguments for nvcc compler, even the linux Cuda CROSSTOOL uses a wrapper script. See https://github.com/tensorflow/tensorflow/blob/master/third_party/gpus/crosstool/clang/bin/crosstool_wrapper_driver_is_not_gcc.tpl

[2017-08-28 07:19] luchensk commented on #3622
Thanks @gunan . For the detail of the error on TF, I post here just in case you need it:

`ERROR: /private/var/tmp/_bazel_sunkai/f32adcfaaeaeed39ed3812ab214ba306/external/boringssl/BUILD:131:1: C++ compilation of rule '@boringssl//:ssl' failed (Exit 1): cc_wrapper.sh failed: error executing command
  (exec env - \
    PATH=/Users/sunkai/work/workspace/project/tf-env/bin:/usr/local/bin:/usr/bin:/bi

[2017-08-28 07:55] laszlocsomor commented on #3589
Whoa, nice! :) Thanks for trying it, I'm glad it works.

[2017-08-28 08:08] damienmg opened #3628 "Skylark tests is timeout flaky [flake]"
3 instances, all on ubuntu 16.04:

http://ci.bazel.io/job/bazel-tests/984/artifact/tests-node=ubuntu_16.04-x86_64-variation=/src/test/java/com/google/devtools/build/lib/skylark/SkylarkTests/test.log

http://ci.bazel.io/job/Global/job/bazel-tests/200/artifact/tests-node=ubuntu_16.04-x86_64-variation=/src/test/java/com/google/devtools/build/lib/skylark/SkylarkTests/test.log

http://ci.bazel.io/job/G

[2017-08-28 08:10] damienmg opened #3629 "//src/test/shell/bazel:toolchain_test is time out flaky on darwin [flake]"
2 instances:
http://ci.bazel.io/job/bazel-tests/985/artifact/tests-node=darwin-x86_64-variation=/src/test/shell/bazel/toolchain_test/test.log/*view*/
http://ci.bazel.io/job/Global/job/bazel-tests/200/artifact/tests-node=darwin-x86_64-variation=/src/test/shell/bazel/toolchain_test/test.log/*view*/

[2017-08-28 08:11] damienmg commented on #3618
Another occurence: http://ci.bazel.io/job/Global/job/bazel-tests/202/artifact/tests-toolchain=msvc-node=windows-x86_64-variation=/src/test/shell/bazel/bazel_bootstrap_distfile_test/test.log

[2017-08-28 08:13] laszlocsomor commented on #3618
Blaze shows this error when a file in the install directory is missing or its timestamp is not 10 years into the future. I'll add some debug code to collect more info.

[2017-08-28 08:13] damienmg commented on #3618
FTR:
Flakes should be removed from our infra as they make our tests results are to read, thus flakes are P1.
Breakage indicate we have them on CI for the sheriff to be able to find rapidly already existing bugs

[2017-08-28 08:15] damienmg opened #3630 "bazel_test_test timeout flaked on FreeBSD [flake]"
I saw only one instance so far:

http://ci.bazel.io/job/bazel-tests/984/artifact/tests-node=freebsd-12-variation=/src/test/shell/bazel/bazel_test_test/shard_1_of_3/test.log/*view*/

[2017-08-28 08:16] damienmg commented on #3630
Forgot to say: this is a time out, 361.0s execution

[2017-08-28 08:22] damienmg commented on #3629
(to be clear this is bazel_toolchain_test not toolchain_test)

[2017-08-28 08:25] damienmg commented on #3629
Arf ok I misread, so the failing test is toolchain_test but I c/p the log of bazel_toolchain_test, let me fix that.

[2017-08-28 08:27] damienmg commented on #3629
Ok now it makes sense, reassigning to the test author.

[2017-08-28 08:44] aehlig commented on #3630
Actually a very interesting timeout, as the linked log states `4 / 4 tests passed.` Will have a look nevertheless.

[2017-08-28 08:52] damienmg commented on #3630
Arf normal, I got the test log wrong:
http://ci.bazel.io/blue/rest/organizations/jenkins/pipelines/bazel-tests/runs/984/nodes/29/log/?start=0

See the log should be the shard 2 not 1:

http://ci.bazel.io/job/bazel-tests/984/artifact/tests-node=freebsd-12-variation=/src/test/shell/bazel/bazel_test_test/shard_2_of_3/test.log/*view*/

[2017-08-28 09:02] luchensk commented on #3622
For the error on TF, refer to [tensorflow/tensorflow#12123](https://github.com/tensorflow/tensorflow/issues/12123#issuecomment-325299848) and it works now, thanks.

[2017-08-28 09:05] damienmg commented on #3622
/cc @mhlopko

We do auto config in Bazel itself.

[2017-08-28 09:07] damienmg commented on #3611
I have ran the following line for an hour now:
`while grep -Fq 'To kill -9 a mockingbird' test.log; do bazel clean && bazel test //geflugel:all --test_output=errors --output_filter=mocking &> test.log; done`

It never finished, which seem to indicate that something in the test setup made that test failed, not bazel...

[2017-08-28 09:23] aehlig commented on #3619
Just tried to reproduce on `freebsd-12-slave-staging`, but couldn't in 50 runs.

[code]

Will try on freebsd-11 next.

[2017-08-28 09:26] damienmg commented on #3619
Related: #3629

[2017-08-28 09:26] damienmg commented on #3619
/cc @katre

[2017-08-28 09:27] damienmg commented on #3619
Note: this is `toolchain_test` not `bazel_toolchain_test` (yes we have both)

[2017-08-28 09:34] damienmg commented on #3611
Reassigning to @lberki  who originally introduced that test to see if he have more idea, I am guessing a race in Bazel?

[2017-08-28 09:46] damienmg commented on #3340
Sent https://bazel-review.googlesource.com/c/bazel/+/15930

[2017-08-28 09:47] damienmg commented on #3602
Ok that's what I guessed. Thanks.

So confirmed that the problem is on the security config, not our Bazel side.

[2017-08-28 09:47] #3602 closed

[2017-08-28 09:49] damienmg commented on #3597
Well tf_serving itself is doing it for tf dependencies: https://github.com/tensorflow/serving/blob/master/WORKSPACE#L21 I don't know why they are not doing it for closure itself, maybe because they want a different version than the one provided by tensorflow.

[2017-08-28 09:49] #3597 closed

[2017-08-28 09:50] damienmg commented on #2176
docker_build should be fixed IIUC

[2017-08-28 09:53] ulfjack commented on #1385
Thanks to an anonymous contributor, we just merged 6be3af9e3369b9b84b57c2dbe32525f45910408e.

[2017-08-28 09:53] #1385 closed

[2017-08-28 10:00] aehlig commented on #3619
OK, could reproduce it, but only failure mode was timeout. Moreover, the average time of the tests that didn't timeout was pretty close to the timeout. Currently testing with increased timeout and number of shards.

[2017-08-28 10:00] damienmg commented on #3553
To be precise the globs should ALWAYS be empty

So I used that script:

[code]

And run the following line several time always got the issue:
`touch ./BUILD; bazel query :all --output=build; bazel clean; bazel query :all --output=build; bazel query :all --output=build`

Even after creating a nested/workspace
I highly suspect a problem with evaluation of nested workspace. Reassigning to @katre.

[2017-08-28 10:48] ulfjack commented on #1531
Before I left for two weeks of vacation, I merged 9274cba2540d1d1c7824147f1d999ac785eeed85, which adds --experimental_remote_spawn_cache, which enables support for remote caching with any local execution strategy, including sandboxing and workers. I still need to update the documentation, but you basically set --remote_cache and --experimental_remote_spawn_cache and that should work. It isn't curr

[2017-08-28 10:49] ulfjack commented on #1531
Also see #2574 for the cross-user caching issue.

[2017-08-28 11:22] aehlig commented on #1317
I believe this issue is fixed by now, given that [science/py-tensorflow](https://svnweb.freebsd.org/ports/head/science/py-tensorflow/) is in the ports collection now.

/cc @amutu FYI.

[2017-08-28 11:22] #1317 closed

[2017-08-28 11:30] RenatoUtsch commented on #3622
cc_autoconf sets these two offending flags conditionally depending on if
the compiler supports them. My guess is that it is doing it wrongly on
linux, but I couldn't figure out why. I'll update to 0.5.4 later and see if
this still persists.

On Mon, Aug 28, 2017, 06:05 Damien Martin-Guillerez <
notifications@github.com> wrote:

[2017-08-28 11:30] laszlocsomor commented on #3618
I looked at the source code and I didn't find anything wrong.
I added debugging info in https://bazel-review.googlesource.com/c/bazel/+/15911,  I hope that'll shed some light on this mystery. If not, I'll keep adding debug data *until morale improves* ;)

[2017-08-28 12:24] mhlopko commented on #3622
We do have an ability to specify/detect which compiler should be used by bazel. It all happens in
https://github.com/bazelbuild/bazel/blob/master/tools/cpp/cc_configure.bzl.

This is where we check for flags in question:
https://github.com/bazelbuild/bazel/blob/master/tools/cpp/unix_cc_configure.bzl#L229

So it's running something like:

    clang -Wunused-but-set-parameter -o /dev/null -c empty.c

[2017-08-28 12:43] luchensk commented on #3622
@mhlopko got it, thanks:), let's wait for the result from @RenatoUtsch with update to 0.5.4.

[2017-08-28 13:09] aehlig commented on #3630
Thanks. With that shard, it is undertandable that something went wrong. Nevertheless, the issue is hard to reproduce. Just run the test successfully a hundred times.

[code]

So probably we have to wait and see if the flake occurs again.

[2017-08-28 13:24] ittaiz commented on #3626
@iirina this is the issue we discussed

[2017-08-28 14:05] laszlocsomor commented on #3589
I'm unlikely to get this change upstreamed this week because of other work I have to do.

[2017-08-28 14:12] #3578 closed

[2017-08-28 14:37] mhlopko commented on #2358
Hi Jeremy,
what you did makes sense and I see nothing wrong about it. I can offer one alternative, and that is using crosstool `feature`s. They have one benefit, and that is that all flags are specified on one place, in the crosstool. Here are some examples:
https://github.com/bazelbuild/bazel/blob/375f95b16e1a8b164d2caaa4d65a4c9b4e310bd3/src/main/java/com/google/devtools/build/lib/rules/cpp/CppAc

[2017-08-28 14:37] #2358 closed

[2017-08-28 14:44] jwnimmer-tri commented on #2358
Excellent, thank you.  Next time we are updating our CROSSTOOL we will take a look.  I think considering this issue closed is appropriate.  Thanks again!

[2017-08-28 14:50] katre opened #3631 "NPE when passing a non-platform to --experimental_platforms"
When passing a valid label that is not a platform target to the `--experimental_platforms` flag, a NPE is shown to the user:

[code]

[2017-08-28 15:11] aehlig commented on #3535
Is that issue still present after 27db2d8f0923751f99ea824096188153d49839ea?

[2017-08-28 15:27] katre commented on #3553
Once nested is a local repository, the filegroup in the main repository shouldn't be able to reach into it. I'll investigate and see where the error is.

[2017-08-28 15:36] katre commented on #3553
To be more clear, even without the glob, the filegroup that reaches into the local repository should give an error like this:
[code]

Although possibly it should say "local repository" instead of "subpackage".

[2017-08-28 17:31] buchgr commented on #2846
I haven't started working on it yet ... so many things to do :(. Btw we love contributions 😃

[2017-08-28 19:12] ldemailly commented on #3625
The corner case that 2 git commit can sometime yield the same image shouldn't be the driving function here. the driving function is (should be/imo) usability/meaningfulness of the result:

if a CI system or releng decides to (re)create artefacts for a given set of source, they use a source control system, why shouldn't the date of the last change in said source control system not the "right" (defa

[2017-08-28 19:26] davido commented on #3589
No problem. Hope to see this CL merged ASAP. WAR gathering is pretty much the last missing link in the chain to produce headless.war for Gerrit project.

[2017-08-28 20:42] ittaiz commented on #3528
@iirina I stumbled on to another use-case for exposing the full jar.
We have an aspect we run over our targets so that we can aggregate the jars and expose them to maven (we unzip and zip back a collection of jars which map to a maven coordinate and deploy it to a maven server).
Having a common way (java provider) to collect the output jars would be great but it's not enough since users of `java_c

[2017-08-28 21:01] TastyPi commented on #1428
Seems the android_sdk_repository is no longer documented on that page and @android-sdk//:appcompat_v7 no longer works. What's the correct way to add support library dependencies now?

[2017-08-28 21:06] ahumesky commented on #1428
The documentation has been moved to the Android rules page:
https://docs.bazel.build/versions/master/be/android.html#android_sdk_repository

[2017-08-28 21:07] JakeWharton commented on #1428
They're available from maven.google.com as standard Maven artifacts. There's no need to pull them from the SDK anymore.

[2017-08-28 21:33] TastyPi opened #3633 "Setting up maven.google.com with maven_aar"
I can't seem to get maven.google.com working with maven_aar for the Android support libraries. Here's what I have so far:

WORKSPACE:
[code]

external/google-maven.xml
[code]

third_party/BUILD:
[code]

But if I depend on `//third_party:appcompat_v7` I get the following error:

[code]

I'm assuming it's an issue with my Maven settings since I've never had to set up something like this before. Any

[2017-08-28 21:37] TastyPi commented on #1428
Yeah, I started trying to get the Maven artifacts working but got stuck. See https://github.com/bazelbuild/bazel/issues/3633.

[2017-08-28 22:03] aj-michael commented on #3633
You have a typo in the artifact name. It is "appcompat-v7", not "appcompat_v7".

[2017-08-28 22:03] #3633 closed

[2017-08-28 22:05] TastyPi commented on #3633
Of course it was something simple like that. It works now, thanks.

[2017-08-29 01:09] siyangy opened #3634 "--build_tests_only removes external dependencies"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:

We have a custom rule to do some C++ lint test (wrapped in a py_test, similar as
 https://github.com/RobotLocomotion/drake/blob/master/tools/cpplint.bzl). We certainly don't want to actually compile the cod

[2017-08-29 07:06] ulfjack commented on #3534
Klaus, I wonder if this is related to changes you made?

[2017-08-29 08:39] iirina commented on #3528
I'm not sure what the issue is here. What do rules_scala need to specify? Do you want to collect these jars from the aspect, return them somehow and then pick them up in rules_scala implementation? Oh I see, you need a way to specify `java_common.create_provider(full_compile_time_jars = blablajars)`. Is that right? If so, yes, they will come as a packet.

[2017-08-29 09:33] laszlocsomor opened #3636 "Bazel cannot build genrules with long chain of commands"
### Description of the problem / feature request / question:

If a genrule's command line is longer than some limit, Bazel writes it a shell script and runs Bash with that script.
If the command contains too many subcommands on one line (i.e. `command1 ; command2 ; ... ; commandN`), Bazel on Windows cannot build it.

The reason is MSYS segfaults when its argument is a script with such a long line.

[2017-08-29 09:41] laszlocsomor commented on #3589
Ah, there's also https://github.com/bazelbuild/bazel/issues/3636 .

An MSYS bug is responsible for this issue and it prevents Bazel from running shell scripts with long chains of commands, i.e. write long extremely genrule commands to shell scripts and dispatch to Bash.

[2017-08-29 09:44] laszlocsomor commented on #3636
Git-on-Windows (also MSYS)  and Cygwin exhibit the same behavior: they both segfault if you run a script with too many commands chained on one line.

[2017-08-29 10:18] davido commented on #3636
But this is not the same, as I was observing in #3589, i guess? `pck_war.bzl` in gerrit is generating 25K script size, but with single single command per line. Passing these lines separated with new line char, was failing simply because in the code path `ctx.action()`, the too long lines are passed as is, without writing the script and calling `bash` with this script instead.

[2017-08-29 10:40] ittaiz commented on #3528
Yes but I think I didn't explain myself clearly:
I want to be able to get the full jars from the provider.
To that end I indeed need a way to also specify that in the create provider.
This is a con to the other approach we discussed of only specifying this in construction site and then not exposing it to clients. Am I making sense?

[2017-08-29 11:13] laszlocsomor commented on #3636
I don't think it's the same.
This issue is about scripts that look like this:
[code]
If N is large enough, MSYS can't run the script.

If all of these commands were on separate lines then MSYS could run the script.

Could you take a look at the script that the `run_shell` command created? If the war-generating rule is `//foo:bar`, then Bazel writes `bazel-genfiles/foo/bar.run_shell.sh`. Take a loo

[2017-08-29 11:15] laszlocsomor commented on #3636
Ah, and I just realized there's a bug in my WIP CL (https://bazel-review.googlesource.com/c/bazel/+/15850): I create a `%{rulename}.run_shell.sh` file, meaning that every `actions.run_shell` in the same Skylark rule will try to create the file with that name. I'll fix that.

[2017-08-29 11:23] iirina commented on #3528
Well that's what this issue is about, to be able to get the full jars from the provider.

Yes, that's where you get the `java_common.create_provider(full_compile_time_jars = blablajars)`.

Now I'm a bit lost. Can you further explain please?

On a related note, we can also have an interface for ijar in java_common like `java_common.get_ijars(jars = myjars)`. It seems like that would help you get ri

[2017-08-29 11:47] davido commented on #3636
Yes, I will have a look later today and report back. I will re-apply the new version of your patch from #3589.

[2017-08-29 11:49] laszlocsomor commented on #3636
Thanks! There's no new version yet, I'm in the middle of fixing the bug.

[2017-08-29 12:16] drigz opened #3637 "Bazel can't detect build_file after addition"
### Summary

1. Try to build a rule in a `new_http_archive` when the `build_file` is not present - it fails as expected.
1. Create the `build_file`.
1. Try again, it still fails.

### Workaround

Change `build_file` to an invalid setting (eg "404.BUILD"), try to build, restore the correct value, try again.

### Reproduction

[code]

### Environment info
* Operating System: Ubuntu 14.04
* Bazel ver

[2017-08-29 12:23] drigz opened #3638 "IllegalStateException on `bazel build @non_existent_repo//...`"
Bazel fails inelegantly when trying to build all rules in a repo that doesn't exist. This is a minor issue as it would fail anyway, but the error message could be better.

[code]

Expected behaviour would be something like:

[code]

### Environment info
* Operating System: Ubuntu 14.04
* Bazel version: 0.5.3

[2017-08-29 12:26] phobrain commented on #3624
The solution to the immediate problem was provided on the github page, so bazel isn't an issue now.

[2017-08-29 12:26] #3624 closed

[2017-08-29 12:28] laszlocsomor commented on #3636
I figured out more about the bug:

*   The limit for chain length is 4964 elements. If the chain is longer, Bash won't execute any of its commands.
*   Replacing ";" with "||" or "&&" reduces the limit to 4963 elements.
*   Wrapping the chain in a Bash function does not work around the problem.
*   In some cases the chain ostensibly (but not actually) succeeds, in other cases it produces a segfaul

[2017-08-29 12:39] laszlocsomor commented on #3636
Bash in Mac OS X has a limit for the same scenario too, and it's 7937.
Bash version is: GNU bash, 3.2.57(1)-release (x86_64-apple-darwin16).

I didn't find a limit on my corp Linux machine, though it could be using a custom kernel with higher limits.

[2017-08-29 12:55] laszlocsomor commented on #3636
Given that:
*   this is not a Bazel bug
*   there are limits on at least Mac and Windows/MSYS

I think there's nothing to fix in Bazel.

I considered detecting long command chains and warning the user or rewriting the script, but realized that:
*   rewriting the script is not Bazel's job to do
*   detection would require reimplementing parts of Bash

I conclude that Bazel is working as intended.

[2017-08-29 12:55] #3636 closed

[2017-08-29 13:22] aehlig commented on #3534
I don't think so. Bisecting shows that it was your change 70f84252a0 that caused the new behavior. Reverting it on master (it is in fact a clean revert) gives the old behavior.

[2017-08-29 13:59] laszlocsomor commented on #3589
David, snapshot 3 in https://bazel-review.googlesource.com/c/bazel/+/15850 contains the fix.

I tested with the following bzl file:
[code]

And BUILD file:
[code]

[2017-08-29 15:26] ains commented on #3152
@mhlopko
I was able to reproduce this on OSX, when attempting to cross compile with `rules_go`.
The issue was me not having a *full* Xcode installation, only the Command Line Tools. Even after installing full Xcode I kept getting this error until I deleted my entire `/private/var/tmp/_bazel_$USER` folder, after which it worked fine.

This was with Bazel 0.5.4 & OSX 10.12.6

[2017-08-29 15:33] mhlopko commented on #3152
I'm surprised that Xcode is needed to cross-compile go. AFAIK command line tools are enough to compile C++, and I would assume the same applies to go. Do you have logs so I can check the errors produced?

[2017-08-29 15:36] ittaiz commented on #3528
On Tue, 29 Aug 2017 at 14:23 Irina Iancu <notifications@github.com> wrote:

never mind, I think I misunderstood you

That sounds great. Not to sound petty but it will use a persistent worker
right?

[2017-08-29 16:11] ains commented on #3152
Tried to reproduce for you but looks like the issue isn't directly related to Xcode?

I tried deleting the bazel cache, and rebuilding alone, still had `No toolchain found`, installed Xcode, `No toolchain found`, deleted bazel cache again and the build has been working since.

Even after uninstalling Xcode and re-deleting the Bazel cache it still appears to be fine, and k8 is valid.

Strange

[2017-08-29 20:55] davido commented on #3589
@laszlocsomor Patch set 4 just worked ( I noticed, it needs rebase, as it wasn'tt cleanly applied on recent master):

[code]

I checked the content of generated file: `C:/msys64/usr/bin/bash.exe bazel-out/msvc_x64-fastbuild/genfiles/headless.run_shell_0.sh` and it looks sane: [1].

Thank you again for the quick fix!

* [1] http://paste.openstack.org/show/619831

[2017-08-29 21:02] cgrushko opened #3639 "Bazel should not hardcode license enforcement for third_party/"
Bazel enforces licenses in BUILD files in third_party/ directories.

Users other than Google might not be interested in enforcement at all, or may be interested in using a different directory.

Proposal: make licenses enforcement depend on a flag to Bazel which we enable in Bazel's bazelrc, but others are free to do something else.

[2017-08-29 21:11] davido commented on #3589
@damienmg @laszlocsomor Just in case you are curious, these are 4 diffs currently needed to patch gerrit to build `//headless` rule on Windows: [1]. Just clone gerrit, apply the patch, create this custom woorkspace-status command file: [2] and run:

[code]

Note, that I'm using Python 3 to make `download_file.py` home grown Maven tool chain work.

* [1] http://paste.openstack.org/show/619833
* [2]

[2017-08-30 00:03] renning22 opened #3641 "Wrong Android NDK libcpp include path"
### If possible, provide a minimal example to reproduce the problem:
Build with --crosstool_top=@androidndk//:toolchain-libcpp, C++ headers can not be found.
I guess it's caused by wrong "-isystem" paths.

Bazel sets "external/androidndk/ndk/sources/cxx-stl/llvm-libc++/libcxx/include" but it should be "external/androidndk/ndk/sources/cxx-stl/llvm-libc++/include". (I inspected with NDK r13/r15.)

#

[2017-08-30 01:32] ixdy commented on #2240
I see that there was a commit to add some support for `SOURCE_DATE_EPOCH` to bazel, but it's not clear how this can be consumed by stamping rules, since it does not appear in stable-status.txt or volatile-status.txt.

It also seems that `BUILD_TIMESTAMP` is still reflecting the actual build time, which is possibly intentional.

[2017-08-30 02:23] renning22 opened #3642 "ccache: FATAL: Could not find compiler "gcc" in PATH"
I can't build any linux targets somehow after I upgraded to Bazel 0.5.4.

[code]

[2017-08-30 03:14] shodow opened #3643 "Compilation error on 32 bit machine"
When i run ./compile.sh in Ubuntu 16.04 32bit i got this error("./src/tools/singlejar/mapped_file.h:40:2: error: #error This code for 64 bit Unix"),how can i do?
i follow #3382 to modify src/main/java/com/google/devtools/build/lib/util/CPU.java (line 23-29)and
tools/cpp/lib_cc_configure.bzl (line 106)like this

[code]

[code]
but it's not work...

Bazel version : 0.5.4
my machine information is :

[2017-08-30 05:55] ittaiz commented on #3639
+100
On Wed, 30 Aug 2017 at 0:02 cgrushko <notifications@github.com> wrote:

[2017-08-30 06:36] snnn opened #3644 ""bazel --batch clean --expunge" returns non-zero"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:
### If possible, provide a minimal example to reproduce the problem:

"bazel --batch clean --expunge" always returns 36.

$ touch WORKSPACE

$ echo $?
0

$ bazel --batch clean --expunge
____Starting clean (t

[2017-08-30 07:24] damienmg commented on #2240
Right now the only support we have is to set the timestamp when building
Bazel. I have a few thoughts on how to implement it across Bazel but I did
not got around to do it yet.

On Wed, Aug 30, 2017, 3:32 AM Jeff Grafton <notifications@github.com> wrote:

[2017-08-30 11:11] mhlopko commented on #1576
1) fixed in https://github.com/bazelbuild/bazel/commit/f426544e67170d31b9d228ecf4cdc4b6ce1ba00d

Next to come :)

[2017-08-30 11:18] mhlopko commented on #407
Quick update, I think the problem is that https://github.com/bazelbuild/bazel/blob/master/tools/cpp/osx_cc_wrapper.sh.tpl only assumes .so extension when updating the install. Also mentioned in #1576. It didn't work for precompiled libraries before, but that was fixed in f426544. IIUC, changing osx_cc_wrapper.sh and osx_cc_wrapper.sh.tpl to fix .dylibs in addition to .sos will resolve this issue.

[2017-08-30 11:34] mhlopko commented on #1477
Polite ping, is this still a problem?

[2017-08-30 11:43] mhlopko commented on #1370
Obsolete, bazel's crosstool already emits -lstdc++ and -l.

[2017-08-30 11:43] #1370 closed

[2017-08-30 11:48] mhlopko commented on #1276
Ipp files are supported since c43cabff4046bf5805ffbf1c5fa6f286e67b9227. I'm not sure we want to allow files without extension though. Can you create a separate issue for that so we can discuss alternative options please?

[2017-08-30 11:48] #1276 closed

[2017-08-30 11:56] abergmeier-dsfishlabs commented on #1477
@mhlopko So you want me to write a unit test for that!?

[2017-08-30 12:01] mhlopko commented on #1477
? I just pinged this issue since it appears the ball is on your side (as Ulf asked for the command line in December). And unsurprisingly, I don't want to waste time reproducing if this is not an issue anymore.

[2017-08-30 12:05] abergmeier commented on #1477
Have no use for this anymore. So will drop the ball.

[2017-08-30 12:05] #1477 closed

[2017-08-30 13:07] damienmg commented on #374
Ok we just had a discussion with @philwo in which we agreed on how to move forward (Philip, correct me if I missed something):

- We are going to reserve '%' for quoting of labels. '%%' is going to be used for a percent in the label and '%:' is going to be used for colons in label. All other character will stay unquoted for now. We might add more quoting possibilities new use case requires it.
- W

[2017-08-30 13:08] damienmg commented on #374
Also we are going to track the encoding on this bug too so adding philwo as assignee because he also wants to do some work to support it.

[2017-08-30 16:46] aj-michael commented on #3641
This seems to have been a change between R12 and R13.

[2017-08-30 18:30] davido commented on #2045
So, I found a simple workaround for my original issue. It's already now exposed in Skylark the platform speific path separator: `ctx.configuration.host_path_separator`.

But now I'm hitting a completely different issue: classpath cnstructed is porbably too long:

[code]

And the command produced doesn't work on MSYS:

[code]

I think the only known workaround is to do a classpath.jar with artifica

[2017-08-30 20:58] siddharthab commented on #374
Joining the group here. We are affected by the % character being disallowed. We are using an external http archive, so can not change anything in the files or create zips of files.

[2017-08-30 21:54] ixdy commented on #1014
The `check_bazel_version` function seems pretty useful, and I'd rather not copy it into our own repo (as has [been done elsewhere](https://github.com/bazelbuild/eclipse/blob/master/bazel_version.bzl)).

Would it be reasonable to add it to the `@bazel_tools` workspace so it can be reused more easily?

[2017-08-30 22:06] alexeagle opened #3645 "Bazel consumes too much memory and hangs in docker container"
### Description of the problem / feature request / question:

I have a sass_binary rule from https://github.com/bazelbuild/rules_sass
And build in this docker image on CircleCI
https://github.com/alexeagle/ngcontainer/blob/master/Dockerfile

Most of the time the build hangs while compiling C++, but sometimes it succeeds.

### If possible, provide a minimal example to reproduce the problem:

https:

[2017-08-30 23:55] alexeagle commented on #3645
Confirmed this also happens on release 0.5.4

[2017-08-30 23:57] alexeagle commented on #3645
Another sample, got a different behavior, instead of hanging it fails with an error:

[code]

[2017-08-31 01:29] stewbasic opened #3646 "Analysis failure error is unhelpful"
I am seeing the following error:

[code]

Presumably a skylark rule or macro that I depend on threw an error, but bazel doesn't tell me which or where. Such information would aid further debugging.

My specific problem seems to be caused by

[code]

but regardless of what is wrong in my case, it would be generally useful to have more information provided when the analysis phase fails.

Note: I did

[2017-08-31 01:42] shodow commented on #3643
I seem to have solved this problem，
I just delete this line (./src/tools/singlejar/mapped_file.h:40: error: #error This code for 64 bit Unix)
i don't konw why and whether it is affected,but at present it's no error.

[2017-08-31 02:35] zrcahyx commented on #2536
Anyone can help? This is troubling me.

[2017-08-31 02:54] shodow commented on #3643
@aehlig  thank you very much ,I'll have a try :)

[2017-08-31 06:38] davido opened #3647 "Windows: Unrecoverable error while evaluating node in SpawnAction"
I'm trying to port GWT UI compilation ([gwt.bzl](https://gerrit.googlesource.com/gerrit/+/master/tools/bzl/gwt.bzl)) of Gerrit Code Review project to Windows. Note, that this Skylark rule works as expected on Linux and Mac Os X as is.

On Windows we have 2 unrelated problems with the code:

- Classpath construction is not portable, as ":" is hard codes as classpath delimiter. I raised this issue #

[2017-08-31 07:13] ittaiz commented on #2536
Haven't read the issue but if I remember correctly the maintained generate
workspace is now in Bazelbuild/migration-tooling.
Maybe you should open an issue there.
On Thu, 31 Aug 2017 at 5:35 RUCHEN ZHANG <notifications@github.com> wrote:

[2017-08-31 07:27] buchgr commented on #3570
@michaeledgar

It certainly doesn't hurt to update to a newer version. However, without a specific bug that's more wishful thinking. Maybe we are indeed lucky.

How can I reproduce this?

[2017-08-31 08:44] mhlopko opened #3648 "Action_config for 'assemble' missing from Windows crosstool"
Reported on [bazel-discuss](https://groups.google.com/d/msgid/bazel-discuss/f0bcc3e2-2e19-4d30-86ab-4eb37a923e1b%40googlegroups.com).

Yun, can cl.exe compile assembly?

[2017-08-31 09:39] excavador commented on #2391
I can confirm the problem on latest bazel 0.5.4

I have following structure:

[code]

File `<PROJECT_NAME>/<LIBRARY_A>/BUILD` is following:
[code]

I able to build <LIBRARY_A> by
[code]

FIle `<PROJECT_NAME>/<SUB_PROJECT_NAME>/WORKSPACE` contains following:
[code]

FIle `<PROJECT_NAME>/<SUB_PROJECT_NAME>/BUILD` is following:
[code]

I am **NOT** able to build `<PROJECT_NAME>/<SUB_PROJECT_NAME>` wi

[2017-08-31 09:48] meteorcloudy commented on #3648
Yes, I am sure it can, will looking into this.

[2017-08-31 11:46] #556 closed

[2017-08-31 11:46] #3525 closed

[2017-08-31 11:46] #3631 closed

[2017-08-31 12:54] buchgr opened #3649 "Local execution with remote cache is slow"
Building bazel locally (without sandboxing) and uploading the results to `/dev/null` takes

[code]

Building bazel locally (without sandboxing) without remote caching configuration takes

[code]

So going through the remote execution / caching code path is 25% slower.

cc: @ulfjack

[2017-08-31 13:37] Kalindee opened #3650 "unable to cross-compile tensorflow using bazel for armv7"
I have RZ board and have to port tensorflow on the board. I am trying to cross compile tensor flow for this board and followed https://github.com/bazelbuild/bazel/wiki/Building-with-a-custom-toolchain for cross compiling but while issuing "bazel build <> <>" all the changes are getting deleted. it will be great if anyone can help to provide tensorflow wheel package for armv7l(unicode 2) or provide

[2017-08-31 14:15] davido commented on #3589
@laszlocsomor @meteorcloudy pointer out in https://github.com/bazelbuild/continuous-integration/issues/126, that we cannot add Windows CI job until this fix was released. Can't we accelerate it somehow?

[2017-08-31 14:46] vladmos commented on #3589
It will be pushed in a couple of hours.

[2017-08-31 15:00] damienmg commented on #1014
Jeff: I am adding it to the integration testing repo for general
consumption :)

On Wed, Aug 30, 2017 at 11:54 PM Jeff Grafton <notifications@github.com>
wrote:

[2017-08-31 15:26] shs96c opened #3651 "java_import has many jars and one srcjar"
The `java_import` rule allows grouping of several jars together into a single import (which is good), but only allows a single source jar (which is less good). For the case where someone is bundling together multiple binary jars into a single import, it would be useful to also be able to specify multiple source jars too. Perhaps a `srcjars` attribute is needed.

[2017-08-31 16:03] aj-michael commented on #3641
@renning22 , can you give an example of a header that cannot be found and a full bazel command line?

[2017-08-31 16:29] #3589 closed

[2017-08-31 17:48] kad opened #3652 "bazel_tools//tools/build_defs/pkg and version_file"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:

pkg_rpm() and pkg_deb() can use argument version_file.
In case of rpm packages, it doesn't do much harm, but in case of deb, it creates file using arguments like this:
[code]
In that particular place, `%{ve

[2017-08-31 23:07] BenTheElder commented on #2380
We _are_ using an older pkg_tar due to needing to not prepend `./` to filenames, but [a recent build](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/46662/pull-kubernetes-bazel-build/614/?log#log) looks to have a single 240s (!) tar step.
[`W0830 22:11:10.872] [3,882 / 3,883] PackageTar build/release-tars/kubernetes-server-linux-amd64.tar.gz; 240s linux-sandbox`](https://

[2017-09-01 00:57] endobson opened #3654 "Failure in parsing the WORKSPACE file leads to hard crash (instead of nice error message)"
[code]
WORKSPACE file
[code]

BUILD file is blank
bazel version = 0.5.4

[2017-09-01 01:04] endobson opened #3655 "Docs for git_repository have confusing security section on sha256"
https://docs.bazel.build/versions/master/be/workspace.html#git_repository

[code]

This sentence implies that git_repository doesn't allow the sha256 to be specified, yet it can be in certain scenarios. So it seem wrong to omit that, but then document how to provide the sha256 a page lower.

[2017-09-01 01:12] endobson opened #3656 "new_http_archive doesn't handle invalid sha256 checksums"
[code]

WORKSPACE file
[code]

[code]

[2017-09-01 01:16] endobson commented on #3656
When the checksum is wrong it also crashes instead of printing a nice error:

[code]

[code]

[2017-09-01 01:47] endobson opened #3658 "new_http_archive's handling of workspace_file_content is broken"
When supplying `workspace_file_content` I expect it to fully override the contents of the WORKSPACE file in the archive. But the behavior seems to sometimes parse it and only if it is egregious throw an error and otherwise continue to parse the existing WORKSPACE file.

Error 1:
[code]

The failing extension is from the archives workspace file.
[code]

Error2:
[code]

Now I'm correctly getting an

[2017-09-01 06:23] davido commented on #3647
So looking at the source:

[code]

reveals, that the command is failing and Bazel crashes in trying to dump the error message and makes some assumptions:

[code]

that leads to IOOBE.

[2017-09-01 06:56] davido commented on #3647
//CC @tbroyer

I adjusted the Bazel error code in `SpawnAction.java` and now I'm seeing the actual error:

[code]

[2017-09-01 06:57] davido commented on #3647
Intrestingly, when I cd to the execroot, and start te generated script directoy, it just works:

[code]

[2017-09-01 07:15] davido commented on #3647
If i pass valid working directory to GWT compiler:

[code]

then it is failing later with another attempt to do asomething with TMP directory:

[code]

[2017-09-01 07:32] laszlocsomor opened #3659 "Windows: Android compilation broken at head"
### Description of the problem / feature request / question:

I built bazel at 82f71f56c221f81dcb08dadde831f98ad663b7d2 and used that to build `//examples/android/java/bazel:hello_world`. This used to work a couple weeks ago but now it's broken.

[2017-09-01 08:13] hlopko opened #3660 "Bazel rule leaks config.h into projects that depend on it"
https://github.com/gflags/gflags/issues/233

[2017-09-01 08:33] davido commented on #3647
This is the offending part und GWT code:

https://github.com/gwtproject/gwt/blob/master/dev/core/src/com/google/gwt/dev/util/DiskCache.java#L54-L63

[2017-09-01 08:40] damienmg opened #3661 "git_repository + sha256 fails with "Could not download tarball, but sha256 specified""
### Description of the problem / feature request / question:

Error are swallowed when using git_repository + sha256 on a github repository. It is supposed to download the tarball archive from github but it can fails and the error is non understandable.

### If possible, provide a minimal example to reproduce the problem:

[code]

### Environment info
* Operating System: Linux Ubuntu 14.04
* Bazel

[2017-09-01 09:02] damienmg opened #3662 "Benchmark job is failing when Bazel fails to build the corpus"
See http://ci.bazel.io/view/Bazel%20bootstrap%20and%20maintenance/job/benchmark/35/console

Not only the error is not useful, but we should not fails the build, just skip the commit in that case.

/cc @davidstanke

[2017-09-01 09:21] tbroyer commented on #3647
Adjust the temp dir using `-Djava.io.tmpdir=…`?

Re. your "classpath too long", couldn't you also create a "fat jar" of all the dependencies too to avoid filename conflicts?

[2017-09-01 10:04] davido commented on #3647
Thanks, will give it a try and let you know.

Good point, but currently we don't create that "uber jar". Note that GWT `user` and `dev` are already dozens of MBs and this would take significant time.

[2017-09-01 12:48] aj-michael commented on #3659
Shoot, what's the error message? Unfortunately I have no access to a windows machine

I was hoping to get internal presubmit testing of the sample app on windows before something like this happened

[2017-09-01 12:49] laszlocsomor commented on #3659
There were 3 different errors.
@dslomov advised me to set up CI for Android on Windows but I neglected to, and now I pay hard for it.
Anyway, I have the fixes ready, I'm about to send them out.

[2017-09-01 13:08] laszlocsomor opened #3663 "Windows, Android, CI: set up CI job to build Android Hello World on Windows"
Set up a CI job on ci.bazel.build that builds `//examples/android/java/bazel:hello_world` on Windows, in order to avoid https://github.com/bazelbuild/bazel/issues/3659 happening again.

[2017-09-01 13:15] vladmos commented on #3643
I'm closing the issue as you've solved the problem and the proper fix has been submitted already, feel free to reopen if you have any questions.

[2017-09-01 13:15] #3643 closed

[2017-09-01 13:22] damienmg commented on #3650
Sorry we do not have any access to that kind of hardware. However I know some of our users have so I would advice to ask the question on bazel-discuss@googlegroups.com or on Stack Overflow. I am going to close this one as this is not a Bazel bug/FR per se.

[2017-09-01 13:22] #3650 closed

[2017-09-01 13:24] mhlopko commented on #3642
Hmm that is strange. I don't think there were any breaking changes in 0.5.4 in this area. From which bazel were you upgrading? Did this really work before?

It seems /usr/lib/ccache/gcc looks for gcc on PATH, but bazel sets it's own PATH for sandboxed actions. You can use `--action_env` to force passing PATH to actions. There's a doc about this functionality: https://bazel.build/designs/2016/06/21

[2017-09-01 13:30] #3340 closed

[2017-09-01 14:39] pcj commented on #3622
This is also breaking [rules_protobuf](https://github.com/pubref/rules_protobuf) on darwin due to boringssl compilation failure.  Boringssl is on the `chromium-stable-with-bazel` branch at recent commit.

[code]

[2017-09-01 15:01] RenatoUtsch commented on #3622
I updated to 0.5.4 and the issue is resolved. This was an issue on 0.5.3 only.

I'll close the issue as it was resolved already.

[2017-09-01 15:01] #3622 closed

[2017-09-01 15:31] damienmg opened #3664 ""Could not find handler for bind rule" error"
http://ci.bazel.io/job/tf_models_syntaxnet/619/console shows the following error:
`ERROR: no such package '@protobuf//src/google/protobuf': Could not find handler for bind rule //external:protobuf.`

The workspace file contain the correct definition:

[code]

/cc @vladmos fyi

[2017-09-01 15:39] damienmg commented on #3664
Humm the error message comes from the RepositoryFunction. Could that happen because someone redefine the bind symbol?

[2017-09-02 00:28] BenTheElder commented on #2380
https://github.com/kubernetes/repo-infra/pull/42

[2017-09-02 00:58] aronasorman opened #3666 "ctx.actions.args() doesn't exist"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:

[code]

I tried to create an `Args` instance, as documented [here](https://docs.bazel.build/versions/master/skylark/lib/Args.html).

Unfortunately, I get the erro above.

### If possible, provide a minimal

[2017-09-02 04:52] thinlizzy commented on #2266
wow! I've installed it with chocolatey and it seems a lot better indeed :)

also I already installed the latest VC Build Tools and bazel is recognizing
it properly

now my issue is only to discover how to enable C++17 for it. here are the
errors I am getting when I try to build something using std::optional

____Loading package:
____Found 1 target...
____Building...
ERROR: D:/diego/progs/c++/die-t

[2017-09-02 05:39] thinlizzy commented on #2266
more info about /std::c++latest which I moved to .bazelrc instead. below
there is the command line generated by bazel:

  C:/Program Files (x86)/Microsoft Visual
Studio/2017/BuildTools/VC/Tools/MSVC/1
4.11.25503/bin/HostX64/x64/cl.exe /DCOMPILER_MSVC /DNOMINMAX
/D_WIN32_WINNT=0x06
00 /D_CRT_SECURE_NO_DEPRECATE /D_CRT_SECURE_NO_WARNINGS
/D_SILENCE_STDEXT_HASH_D
EPRECATION_WARNINGS /bigobj /Zm500 /J

[2017-09-02 08:37] cobbwho opened #3667 "Cannot build tensorflow with bazel command with gcc-5.4.0 on centos6"
### Description of the problem / feature request / question:
Hi , I can only install tensorflow by compiling the source code without the Internet , but I meet a fatal problem with bazel command . When I use the command

I got an error and warnings as follow:

and the I add the option` --verbose_failures  `, it show some specific description:

At first , I notice the keywords  "Assembler message",

[2017-09-02 18:36] thinlizzy commented on #2266
I've solved that C++17 issue by doing two things:
1) replacing the build tools with the latest visual studio community edition
2) creating a .bazelrc file and adding this line: build --cxxopt=-std:c++17
2a) also worked with passing --cxxopt=-std:c++17 to the command line

Is there a way to specify such compiler settings in the WORKSPACE file,
instead? It will be easier to share the repository.

Th

[2017-09-02 20:25] ittaiz commented on #3626
btw, is it wise to have OFF as the default version? This feels like anti bazel idioms

[2017-09-02 21:49] endobson commented on #3658
I think I incorrectly claimed that the the original error was coming from the workspace file. It seems like it is from a build file in the repository. But I think there is still an issue here where the workspace file content with an unbound variable doesn't error out.

[2017-09-02 22:05] endobson opened #3668 "proto_library does not document its implicit dependency on @com_google_protobuf//:protoc"
I'm attempting to use proto_library and getting the following error message.

[code]

The documentation of proto_library has no mention of this implicit dependency so I need to go into the bazel repo to find out how that repo does it and mimic that. This dependency should be mentioned in the documentation and a recommended solution should be provided.

[2017-09-02 23:39] rawlinson86 opened #3670 "Casper"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:

_If asking a question or requesting a feature, also tell us about the underlying problem you're trying to solve._

### If possible, provide a minimal example to reproduce the problem:

### Environment info

[2017-09-02 23:40] rawlinson86 commented on #3670
Ururu

[2017-09-03 04:18] voithos commented on #258
I think ideally this would be doable via aspects (assuming that they have access to things like e.g. compilation flags), but I couldn't find any existing example in the wild that does this.

I did find this, though: https://github.com/vincent-picaud/Bazel_and_CompileCommands, which uses `action_listener` and `extra_action` to generate a compilation database. It requires a bit of setup in the form

[2017-09-03 09:19] ittaiz commented on #3626
oh, now I see that the default value is `ERROR` but the documentation is just wrong.
[code]

[2017-09-03 11:27] regisd opened #3672 "android_sdk_repository doesn't support prerelease SDK"
### Description of the problem / feature request / question:

`blaze build` fails on Android targets, when the "O" SDK is installed.

### If possible, provide a minimal example to reproduce the problem:

Install a pre-release SDK, for instance "Android O" (before it was publicly announced as API 26).

[code]

Define ANDROID_HOME
[code]

Enable Android support in the workspace
[code]

Build an andr

[2017-09-03 17:47] aj-michael commented on #3672
Hi @regisd , I think that this error is not because you have platforms/android-O installed. Bazel should be ignoring that.

What is the contents of the `system-images` directory in your Android SDK?

[2017-09-03 18:48] regisd commented on #3672
I came to this conclusion when I saw

Ah sorry, I used the SDK manager to replace O by 26.

Let me see if I can add O again.

[2017-09-03 19:34] amlinux commented on #3568
+1 to the importance of this bug.
A workaround is to selectively disable sandboxing: https://github.com/amlinux/bazel_hermetic_test/commit/7f8a1a9d3e76e0a9ef5bf91a73e874e35bd637a2

[2017-09-03 22:17] aj-michael commented on #3672
It's ok. I'm 99% sure this was caused by the presence of a directory called system-images/android-O, which is something I did not forsee when creating android_sdk_repository. I have a fix in the works, that should hopefully get checked in Tuesday.

Thanks for reporting this! :smile:

[2017-09-04 01:38] aj-michael commented on #3668
I agree the documentation should be improved, however if you're still stuck, there is a guide to setting up the protobuf dependencies here: https://blog.bazel.build/2017/02/27/protocol-buffers.html

[2017-09-04 03:30] aj-michael opened #3674 "Windows py_test data glob exclude_directories = 0 bug"
With Bazel 0.5.4, the following test passes on Linux but fails to build on Windows. This is blocking #3663, because our Linux Android integration tests use a glob with exclude_directories = 0 to pull in the entire Android SDK and NDK.

[code]

[2017-09-04 03:32] aj-michael commented on #3674
For context, I want to add an android integration test under `//src/test/py/bazel` that depends on this filegroup: https://github.com/bazelbuild/bazel/blob/663df9d96f10a2dd0fa8a85b4aac39cd2cc368fb/tools/android/android_sdk_repository_template.bzl#L57-L69

[2017-09-04 06:03] endobson opened #3675 "File.root.path + File.short_path is not the same as File.path on files from external repositories"
The path of file a file is documented as being made up of two parts the 'root' and the 'short_path'.
https://docs.bazel.build/versions/master/skylark/lib/File.html#path

These two values when joined according to the documentation should be the same as the path, but this is not the case when the File refers to a target in an external repository.

Example:
https://github.com/endobson/examples/tree/b

[2017-09-04 07:09] endobson opened #3676 "Hard crash due to "No such attribute testonly in new_http_archive rule //external:zlib""
Source code:
https://github.com/endobson/examples/tree/testonly-crash

bazel version 0.5.4

[code]

[2017-09-04 07:19] endobson commented on #3676
This looks like it is partially caused by the new_http_archive and bind call in the WORKSPACE file both using the name "zlib". If I change them to be different then it doesn't crash.

[2017-09-04 07:37] laszlocsomor commented on #2833
Duplicate of https://github.com/bazelbuild/bazel/issues/3618

[2017-09-04 07:37] #2833 closed

[2017-09-04 07:39] #2647 closed

[2017-09-04 07:50] laszlocsomor opened #3678 "Windows, JavaBuilder worker: JavaBuilder sometimes holds on to files"
The JavaBuilder persistent worker sometimes holds on to files in the output tree preventing subsequent builds from overwriting those files.

This happens spuriously, but when it hits, the only solution is to kill the worker process.

[code]

The process in Process Explorer:

![javabuilder](https://user-images.githubusercontent.com/10532244/30016660-5d1ff742-9156-11e7-9580-f7d4f1729b6c.png)

[2017-09-04 08:04] mhlopko commented on #2266
Is it an option to ship project specific bazelrc? either .bazelrc or tools/bazel.rc?

[2017-09-04 08:04] laszlocsomor opened #3679 "Windows, Android, sh_binary launcher: missing --python_path leads to cryptic error"
### Description of the problem / feature request / question:

If I build the Android hello world example without the `--python_path` flag, I get a strange "LAUNCHER ERROR" message.
The reason is that `--python_path` is "python" be default, which is not a valid Windows program ("python.exe" or the full path "c:\python27\python.exe" would be better I guess).

### If possible, provide a minimal examp

[2017-09-04 08:04] laszlocsomor commented on #3679
@meteorcloudy : FYI

[2017-09-04 08:05] mhlopko commented on #2266
@laszlocsomor @meteorcloudy @dslomov to receive the windows praise :)

[2017-09-04 08:07] meteorcloudy commented on #3674
The failure is because zipper.exe couldn't take an directory path as argument, it will consider it as a file and throw the error `File some_directory does not seem to exist.`

Can you use `glob(["some_directory/**"]),` to work around this?

[2017-09-04 08:26] meteorcloudy commented on #3679
I think it's fine to just use `python` as python_bin_path, it works on my machine.
Maybe it's because `python` is not in your PATH environment variable?

[2017-09-04 08:32] mhlopko commented on #3622
Hi @pcj, can you also verify it works with 0.5.4 please?

[2017-09-04 09:21] laszlocsomor commented on #2196
Done for "clean" and "clean --expunge" in https://github.com/bazelbuild/bazel/blob/663df9d96f10a2dd0fa8a85b4aac39cd2cc368fb/src/test/py/bazel/bazel_clean_test.py

[2017-09-04 09:24] laszlocsomor commented on #2870
Duplicate of https://github.com/bazelbuild/bazel/issues/1590

[2017-09-04 09:45] meteorcloudy commented on #3678
/cc @philwo

[2017-09-04 09:53] meteorcloudy commented on #3676
Looks like we have the solution here, I'm closing this issue, please reopen if having any more questions.

[2017-09-04 09:54] meteorcloudy commented on #3666
@vladmos Any idea?

[2017-09-04 10:01] #3670 closed

[2017-09-04 10:06] vladmos commented on #3666
It seems like it this functionality was submitted just a week ago (c2448d44a3ac673390a1d4916d80257ed6e8563e) and hasn't been released yet. It will be available in the upcoming Bazel 0.6 or if you build a custom Bazel binary with the aforementioned commit included.

[2017-09-04 10:11] meteorcloudy opened #3680 "Bazel CI failure: //src/test/shell/bazel:remote_execution_test on freebsd"
http://ci.bazel.io/blue/rest/organizations/jenkins/pipelines/bazel-tests/runs/1004/nodes/28/steps/397/log/?start=0

[code]

[2017-09-04 10:13] meteorcloudy commented on #3680
/cc @buchgr

[2017-09-04 10:16] meteorcloudy commented on #3666
Got it, so it would be better to update the document to clarify this functionality will be available from 0.6.

[2017-09-04 11:29] RenatoUtsch commented on #3622
He edited his last comment to say that it was resolved with 0.5.4.

[2017-09-04 11:34] mhlopko commented on #3622
Oh I haven't noticed. Thanks. So this really is resolved. Thanks everybody!

[2017-09-04 11:35] damienmg opened #3681 "Error cloning repository: null caused by null caused by null"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:

_If asking a question or requesting a feature, also tell us about the underlying problem you're trying to solve._
I got a super unuseful error:

[code]

While testing: https://bazel-review.googlesource.com/

[2017-09-04 11:37] damienmg commented on #3681
After a clean --expunge:

[code]

[2017-09-04 11:38] damienmg commented on #3681
So that's a transient error, my repository got into a weird state?

[2017-09-04 13:28] buchgr commented on #3680
I have sent out https://bazel-review.googlesource.com/c/bazel/+/16371

[2017-09-04 14:07] jmhodges opened #3682 "ctx.actions.write docs link to file_action example"
The "See example of use" link at https://docs.bazel.build/versions/master/skylark/lib/actions.html#write links to a use of file_action (https://github.com/laurentlb/examples/blob/master/rules/executable/executable.bzl)

[2017-09-04 15:08] philwo commented on #3678
@laszlocsomor Nice screenshot. Thanks!
@cushon FYI

Unless someone has an idea just from looking at the screenshot or code, we might have to run @kohsuke's File Leak Detector (http://file-leak-detector.kohsuke.org/) on the worker process and hope to get a repro. It should pinpoint where in the code that file handle is opened, which hopefully also tells us why it's not closed.

[2017-09-04 15:09] endobson commented on #3676
I have a workaround not a solution, so please reopen (the acls don't let me do it myself.)

The bug here is that bazel crashes on some input, which it should never do, it should instead nicely print an error message if there is an error.

There is also the problem that the workspace file is accepted, and many things work but some particular configuration of rules don't like the reused names. Eithe

[2017-09-04 16:25] #3680 closed

[2017-09-04 16:34] aj-michael commented on #3674
I can try that tomorrow, however I think the reason that we don't do that is because the glob is very large and would take a long time if we use **. Perhaps @ahumesky has some background on that.

[2017-09-04 16:48] htuch opened #3683 "Error surfaced when using fail exception in repository_rule is hard to read/locate"
In the Envoy build, we `fail` when a `repository_rule` goes bad (https://github.com/lyft/envoy/blob/b0d8095d0cd3c63667997124b9e8cee70d52f743/bazel/repositories.bzl#L28). However, while this ends the execution of the `repository_rule`, the build continues and we get a confusing message later in execution, e.g. https://groups.google.com/forum/#!topic/envoy-users/MPLgCsj0zrQ, where the build relies o

[2017-09-04 17:37] thinlizzy commented on #2266
FYI ,
<WORKSPACE_ROOT>/tools/bazel.rc did not work for me

.bazelrc is doing fine, although I don't feel much comfortable sharing
files starting with a dot

On Mon, Sep 4, 2017 at 4:05 AM, Marcel Hlopko <notifications@github.com>
wrote:

--
https://github.com/thinlizzy/ <http://die-xml.googlecode.com/> - C++11 and
C++14 open source wrappers and libraries for various purposes (XML, image,
webserver

[2017-09-04 19:04] endobson opened #3684 "BuildEventProtocol is not publically visible"
The BuildEventProtocol is a publically documented part of bazel's api (https://docs.bazel.build/versions/master/build-event-protocol.html), yet the build rule that defines the proto_library rule is not publically visible.

https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/buildeventstream/proto/BUILD

This makes it hard to depend on it without copying and

[2017-09-04 19:45] ittaiz commented on #3626
@iirina
I can send a PR to allow warn and default to the `switch`
https://github.com/bazelbuild/bazel/blob/2abc6545f84d46e6a0ea50052dec9c951d43be4a/src/main/java/com/google/devtools/build/lib/rules/java/JavaSkylarkCommon.java#L463
I wasn't able to find tests though so I can send the PR as is.
FYI what I tried was to try changing the `switch` below to `switch("")` and ran the test `bazel test //src

[2017-09-04 20:32] mhlopko commented on #1776
To clarify, does this issue say that osx_cc_wrapper should use get_real_path from cf773d2?

[2017-09-04 21:19] endobson opened #3685 "Missing dependencies of Aspects cause confusing error messages"
When building a java_proto_library the output says that 'proto_library' rules have an implicit dependency on the java toolchain, which is incorrect. Instead it is likely the aspect version of the proto_library rule which has that implicit dependency.

Workspace file (probably will work with other version of bazel as well).
[code]

[code]

[2017-09-04 22:53] shs96c commented on #2812
It would be nicer if the docker image could have those files installed by running apt-get (or dpkg) in the docker image. It would be slower, and require the presence of the docker binaries on the host system, but it wouldn't break the requirement that all inputs are known before running the build step.

[2017-09-05 02:47] aj-michael commented on #3674
Unfortunately, the filegroup that I'd like to depend on is baked into the Bazel binary. So I can use the workaround, however, I will have to wait for another Bazel release before being able to use it in the test I'm writing.

[2017-09-05 03:02] aj-michael commented on #3674
BTW, this is not specific to globs. It happens whenever there is a directory in the runfiles of the test. E.g. a `filegroup` with `srcs = ['some_directory']`.

[2017-09-05 03:07] aj-michael commented on #3674
I see that the failing action is triggered by the `--build_python_zip` flag which defaults to true for Windows but False for other platforms. However, `--build_python_zip=0` causes a bazel crash on Windows.

[code]

[2017-09-05 05:30] davido commented on #3647
Yes, this fixed it. Strange, that gwt compiler is happy even without passing `-Djava.io.tmpdir=foo` on sane platforms.

[2017-09-05 06:23] iirina commented on #3626
Hi Ittai, I already have a change for this. I'm waiting for it to be pushed. It should be in bazel today.

[2017-09-05 06:25] ittaiz commented on #3626
Awesome, thanks!

[2017-09-05 06:26] ittaiz commented on #3626
BTW, did you include upper-casing? Since the command line docs are for lowercase but the switch on the string is upper-case.

[2017-09-05 06:29] ittaiz commented on #3626
Also another problem I saw when I hacked on this was that I got an exception from `DependencyModule#StrictJavaDeps` that there is no `DEFAULT` value in that enum because it's different than `BuildConfiguration.StrictDepsMode`

[2017-09-05 06:51] iirina commented on #3626
Yes

Yes you are right, the `DEFAULT` value is missing from `DependencyModule#StrictJavaDeps`. The description of `BuildConfiguration#StrictDepsMode#DEFAULT` says "When no flag value is specified on the command line". From this I understand that when nothing is specified on the command line, the default value for strict deps for each language should be use. In our case, that value should be `ERROR

[2017-09-05 07:01] ittaiz commented on #3626
sounds good. Whatever the default means for java_* rules I think it should apply here as well.

[2017-09-05 08:09] damienmg commented on #2812
FTR I moved this to bazelbuild/rules_docker#133

[2017-09-05 08:09] #2812 closed

[2017-09-05 08:14] meteorcloudy commented on #3683
/cc @damienmg , should `fail` interrupt the build?

[2017-09-05 08:16] meteorcloudy commented on #3684
//cc @buchgr

[2017-09-05 08:20] damienmg commented on #3683
Are you sure this the error that is triggered? Using with --nokeep_going should fail the build as soon as we hit the error. If not we definitely needs to investigate more.

[2017-09-05 08:28] buchgr commented on #3684
You are totally right @endobson

[2017-09-05 08:40] meteorcloudy opened #3686 "Bazel CI failure: //src/test/java/com/google/devtools/build/lib/skylark:SkylarkTests failing on ubuntu_16.04-x86_64"
http://ci.bazel.io/blue/rest/organizations/jenkins/pipelines/bazel-tests/runs/1008/nodes/27/steps/348/log/?start=0
[code]

This test is timeout on ubuntu_16.04-x86_64 but passing on linux-x86_64,

[2017-09-05 08:40] meteorcloudy commented on #3686
//cc @vladmos, since looks like you wrote the test.

[2017-09-05 08:47] meteorcloudy commented on #3685
//cc @buchgr Can you also take a look at this as well? ;)

[2017-09-05 09:28] vladmos commented on #3686
That's strange, this test was written in March and was last updated two months ago. Maybe SkylarkTests in general became too large so that it timeouts now, can we increase the timeout for it if the problem persists?

[2017-09-05 09:32] laszlocsomor commented on #3647
Sounds like it's https://github.com/bazelbuild/bazel/issues/2870 again. On Windows Bazel should set a meaningful `TMP` and `TEMP` value for every action. I have a design doc on how to do that, but I haven't published it yet.

[2017-09-05 09:32] damienmg commented on #3664
Ok I got some more log now we are actually crashing:

[code]

[2017-09-05 09:34] laszlocsomor commented on #3647
...Motivation: [GetTempPath](https://msdn.microsoft.com/en-us/library/windows/desktop/aa364992(v=vs.85).aspx)'s behavior:

[2017-09-05 09:37] meteorcloudy commented on #3686
But, the same test only takes about 90s on linux-x86_64.
And there is an `AssertionError` in the output log, do you have any idea what caused it, can you reproduce this?

[2017-09-05 10:05] damienmg commented on #3664
clean --expunge fix the build.

[2017-09-05 10:49] laszlocsomor commented on #1776
That'd be better, yes, though it wouldn't be perfect. The `get_real_path` in is not a real `realpath`: `get_real_path` just follows symlinks until it can't any further, resolving only the last segment of the path and may leave upper-level components as symlinks. The real `realpath` resolves all segments of a path so the result doesn't contain any symlinks.

[2017-09-05 10:55] mhlopko commented on #1776
I see. Thanks for clarification.

[2017-09-05 10:56] damienmg commented on #3664
Ok zipping the output_base and shipping I was able to repro the issue on my workstation

[2017-09-05 11:24] damienmg opened #3687 "discard_graph_edges_test fails but XML says the test passed"
So we had several breakage on CI without useful XML output. Investigated the discard_graph_edges_test on one of the PR and I found the following output

http://ci.bazel.io/job/PR/job/bazel-tests/105/execution/node/97/ws/bazel-testlogs/src/test/shell/integration/discard_graph_edges_test/shard_1_of_5/test.xml/*view*/:
[code]

[http://ci.bazel.io/job/PR/job/bazel-tests/105/execution/node/97/ws/bazel-

[2017-09-05 11:25] damienmg commented on #3687
And the interesting part is "/private/var/tmp/_bazel_ci/282a174d82e4200497ceb8612808f3ab/bazel-sandbox/823694128990615721/execroot/io_bazel/bazel-out/darwin_x86_64-fastbuild/bin/src/test/shell/integration/discard_graph_edges_test.runfiles/io_bazel/src/test/shell/unittest.bash: line 654: /usr/bin/perl: Argument list too long"

So we are hitting the command line limit

[2017-09-05 11:29] damienmg commented on #3687
In the spirit of who touch it last who owns it I summon @michajlo :)

[2017-09-05 11:37] damienmg commented on #3664
Ok so syntaxnet renamed a repository into a bind rule...

[2017-09-05 11:39] damienmg commented on #3664
/cc @vladmos: bind rules are bad, see #1952

[2017-09-05 11:40] mhlopko commented on #1353
I'll close this issue now, I think it's more of a discussion thread than an issue. Feel free to continue on bazel-discuss or stack overflow. Thanks everybody!

[2017-09-05 11:40] #1353 closed

[2017-09-05 12:17] abergmeier-dsfishlabs opened #3688 "Cpu of workers not taken into account"
### Description of the problem / feature request / question:

I have 2 types of workers, which I specify as:

    ctx.action(
        execution_requirements = {
            "supports-workers": "1",
            "cpu:3": "", # Foo uses up to 3 threads
        },
        mnemonic = "Foo",

and

    ctx.action(
        execution_requirements = {
            "supports-workers": "1",
            "cpu:1"

[2017-09-05 12:27] ittaiz commented on #3534
@ulfjack ping?

[2017-09-05 12:48] damienmg commented on #3664
Copying over some chat:

Grepping the output of dump --skyframe=detailed:

[code]

When I debug I ends up in RepositoryLoaderFunction:46 but the corresponding skykey for RepositoryLoaderFunction is never called

[2017-09-05 12:49] damienmg commented on #3664
[Uploading dump.log.txt…](output of bazel dump --skyframe=detailed)

[2017-09-05 13:19] lberki commented on #3664
@damienmg , I don't have your saved output base, but the problem seems to be that when Bazel sees a reference to the `@protobuf` repository, it looks for a rule called `:protobuf` in the WORKSPACE file and find its handler.

Since the rule that is found is not a repository rule but a `bind` one, the handler is not found.

Easy repro:
[code]

Then enjoy the error message with the release or crash a

[2017-09-05 14:25] mhlopko commented on #2266
https://docs.bazel.build/versions/master/best-practices.html#bazelrc states it should work (and it does for me), can you reproduce? If so, could you create new issue with a tiny repro please?

[2017-09-05 14:26] mhlopko commented on #2266
I guess the original issue is fixed, correct? Comment if not and I'll reopen.

[2017-09-05 14:26] #2266 closed

[2017-09-05 14:40] htuch commented on #3683
I just checked, and even with `--nokeep_going` I get:

[code]

If you look at https://github.com/lyft/envoy/blob/ec0591e9e6132c95b01f43b3bd9681db582b0e7d/bazel/repositories.bzl#L32, the build should have terminated after the second WARNING above. I do see the `fail` message, appended to a confusing ERROR message. This might be "working as intended", since it's probably catching the error while sea

[2017-09-05 14:44] damienmg commented on #3683
The build finish after the second warning but indeed the error are not really good, we should fix them.

[2017-09-05 14:45] damienmg commented on #3683
(Amended the topic so it's clearer that we have to ameliorate the error message)

[2017-09-05 15:12] wangweiye commented on #2485
go to download grpc-java https://github.com/grpc/grpc-java
then build it

[2017-09-05 16:25] MarkusTeufelberger commented on #701
I stumbled upon this one also recently. Please at least change the documentation or (ideally) increase the priority to get this fixed for good. Python libraries and binaries can and do depend on C libraries. This is currently not really easy to model in bazel.

In the meantime it would also be nice to have this workaround documented somewhere.

[2017-09-05 16:33] endobson opened #3689 "BuildEventService does not allow for race free reading of Test Logs and other files."
I want to be able to implement a BuildEventService server and read the test log files without dealing with races. This is not currently possible without changing the workflow of the client (https://stackoverflow.com/questions/46044506/bazel-overwriting-test-logs-and-buildeventprotocol-via-buildeventservice) beyond `.bazelrc` changes or slowing it down with `--nobes_best_effort`.

Likely this will

[2017-09-05 20:16] buchgr commented on #3685
I think @cgrushko will know more.

[2017-09-05 21:21] cgrushko commented on #3685
You're missing the `com_google_protobuf_java` external repo; see example in https://github.com/cgrushko/proto_library/blob/master/WORKSPACE

(yep, docs are lacking, it's on our queue to improve them)

[2017-09-05 21:41] buchgr commented on #3689
Thanks for raising the issue!

We properly don't want to store log files in an invocation specific location. This would also only help if the BES service was running on localhost or similar (network drive etc.).

I argue that what we actually need to think about is some mechanism to upload log files to a remote location. Maybe that could be as simple as embedding the log file content in the build

[2017-09-05 21:51] buchgr commented on #701
@MarkusTeufelberger we love contributions 😃

[2017-09-05 22:06] cgrushko commented on #1410
@jart did you end up adding `java_import_external` to somewhere in Bazel?

[2017-09-05 22:39] jart commented on #1410
@cgrushko Indeed I did. It was added to the Bazel codebase 28 days ago in https://github.com/bazelbuild/bazel/commit/062fe70189fc622285833311d241021be313680b. Judging by the baseline, it doesn't look like it made it into 0.5.4, but it's certain to make it into the next one. I hope you enjoy this rule. Usage examples can be found in [Closure Rules](https://github.com/bazelbuild/rules_closure/blob/m

[2017-09-05 23:10] endobson commented on #3689
Short term I will probably risk the race condition/not read the test logs and only show the pass/fail results.

Uploading to a remote location was the likely longer term solution that I was imagining. That still has the issue of expiry, but it is now the remote side's issue.

[2017-09-05 23:15] endobson commented on #3685
The issue is not that I was in a situation which caused an error message. The issue is that the error message says confusing things:

This is not true. No rules of proto_library implicitly depend on '@com_google_protobuf_java//:java_toolchain'. The java_proto_library adds an aspect version of proto_library that has that implicit dependency (or at least I believe thats how it works). Thus this look

[2017-09-05 23:47] wstrange commented on #1410
@jart Does that rule support authentication to a private maven repo (Artifactory in our case)?

If not, any ETA?

[2017-09-06 01:55] Melanielopez opened #3690 "Build book of life"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:

_If asking a question or requesting a feature, also tell us about the underlying problem you're trying to solve._

### If possible, provide a minimal example to reproduce the problem:

### Environment info

[2017-09-06 05:22] endobson opened #3691 "toolchain_type rule is not documented"
There exists a rule `toolchain_type` referenced by the `toolchain` rule that does not exist in documentation.

https://docs.bazel.build/versions/master/be/platform.html#toolchain

https://docs.bazel.build/search.html?cx=012346921571893344015%3Axv_nfgpzbu4&cof=FORID%3A10&ie=UTF-8&q=toolchain_type

[2017-09-06 05:44] gopinath-r commented on #1353
Hi,
I have followed all the steps provided above and now i am getting this error.
 /home/gopinathr/Documents/work/tensorflow/tools/arm_compiler/BUILD:51:1: in cc_toolchain rule //tools/arm_compiler:cc-compiler-armeabi-v7a: The package '@linaro_linux_gcc_repo' is not valid

I am trying to build tensorflow as a pip package using cross compiler toolchains.

bazel build --crosstool_top=//tools/arm_com

[2017-09-06 05:59] gopinath-r opened #3692 "Using bazel to cross-compile tensorflow for other targets."
I am trying to cross compile tensorflow to create a pip package by following the bellow threads.

https://github.com/bazelbuild/bazel/wiki/Building-with-a-custom-toolchain#writing-the-crosstool
https://github.com/bazelbuild/bazel/wiki/About-the-CROSSTOOL

By following the steps mentioned in the above pages, I got some errors and I could resolve some errors by going through the following thread

ht

[2017-09-06 07:04] ulfjack commented on #701
The problem is that we don't know how to fix it. We could export our internal model, but we're unsure if that's what people want. Our internal model is that all cc_library rules in deps of py_library rules get merged into a single .so at the py_binary level, together with all cc_library dependencies of py_extension rules, except the py_extension code itself, which gets compiled into a separate .so

[2017-09-06 07:13] ulfjack commented on #3689
You'd run the server on the same machine as the build? Otherwise the server can't access the logs, since they're on the machine where the build is run. We actually support uploading the logs from Bazel with --remote_cache; note that the remote cache doesn't actually have to support caching, and it also doesn't require uploading all files - you can implement a 'fake' remote cache that only gets log

[2017-09-06 07:33] ulfjack commented on #3534
Sorry, I've been OOO. Hopefully I'll get to it this week.

[2017-09-06 08:11] #3672 closed

[2017-09-06 09:25] meteorcloudy opened #3693 "Bazel CI failure: //src/test/shell/bazel:bazel_bootstrap_distfile_test failing on Windows"
http://ci.bazel.io/blue/organizations/jenkins/bazel-tests/detail/bazel-tests/1010/pipeline/31

[code]

[2017-09-06 09:27] meteorcloudy commented on #3688
@philwo , you are the worker expert, could you take look at this?

[2017-09-06 09:28] #3690 closed

[2017-09-06 09:29] meteorcloudy commented on #3691
//cc @katre

[2017-09-06 09:35] meteorcloudy commented on #3693
Related code: https://github.com/bazelbuild/bazel/blob/master/src/main/cpp/util/md5.cc#L50

[2017-09-06 09:36] ittaiz commented on #3626
Hi,
Any update?

[2017-09-06 09:36] meteorcloudy commented on #3693
I suspect 268c0bcbf79f9f3f72d95fa51af0f1b18c5ce29e, @mhlopko any idea on this?

[2017-09-06 09:39] iirina commented on #3626
Yes, it should be here with the next push to GH. We had some problems with submitting changes internally.

[2017-09-06 09:40] mhlopko commented on #3693
Investigating, thanks for reporting!

[2017-09-06 10:26] #3626 closed

[2017-09-06 10:29] iirina commented on #3528
@ittaiz I exposed a method to build an ijar from a jar 3da30befb83121f5c4ff14eb7c0114b5f6b5c36c

Uups, didn't see this question. Yes

[2017-09-06 10:45] ddwolf opened #3694 "Is there a way to get the targets that would be reevaluated?"
I have modified some files and want to konw which targets will be reevaluated, is there a way to get this?

[2017-09-06 11:18] philwo commented on #3688
Yes, the "cpu" tag is not supported / used for anything in Bazel at the moment.

I agree that it would be a nice thing to add.

[2017-09-06 11:39] #3693 closed

[2017-09-06 11:44] meteorcloudy commented on #3694
Hi @ddwolf, I think https://docs.bazel.build/versions/master/query-how-to.html#reverse-dependencies might be what you are looking for.

[2017-09-06 11:48] meteorcloudy commented on #3694
You can do `bazel query 'rdeps(//..., <path to changed file>)'`, but be careful if your repo is very large, Bazel may run out of memory.

[2017-09-06 14:16] ittaiz commented on #3528
great thanks!
So now what we're missing is:
1. Allow to pass full_compile_time_jars when I create a provider?
2. Allow to retrieve the full_compile_time_jars from a given provider, right?

[2017-09-06 14:29] abergmeier-dsfishlabs commented on #3688
I agree that it would be a nice thing to add.

What strategies are you using then to prevent overtaxing of CPU?

[2017-09-06 14:30] abergmeier-dsfishlabs commented on #3567
Here is what this leads to: https://github.com/bazelbuild/bazel/issues/3568

[2017-09-06 14:34] philwo commented on #3688
Buy even bigger workstations :laughing: No, this is actually a problem for us as well. Internally there was a request  to add a flag like --worker_max_instances=Javac=2. In other words, people wanted to tweak the limit of workers per mnemonic, not only in general.

What you propose here sounds useful too, but is actually not worker specific - there is just no way to specify the resource usage of S

[2017-09-06 14:57] iirina commented on #3528
Yes. This will be a change that requires more time. Is it blocking your work?

[2017-09-06 15:39] endobson commented on #3689
Yep I currently run the server on the same machine (my laptop). I just
started working on it over the long weekend. I eventually plan on using a
different machine, but that is not a priority at the moment.

The remote cache looks like exactly what I want. I'll try it out and report
back (probably not till the weekend).

On Sep 6, 2017 12:13 AM, "Ulf Adams" <notifications@github.com> wrote:

[2017-09-06 16:11] ittaiz commented on #3528
I'm currently not blocked for the maven ijar problem but I am blocked on
the aspect use-case above. I need to see if I can add a hack to unblock
myself.
Any rough estimate on how much more time?
On Wed, 6 Sep 2017 at 17:57 Irina Iancu <notifications@github.com> wrote:

[2017-09-06 16:35] iirina commented on #3528
I'll start tomorrow laying the grounds for this and I'll let you know the estimate. Now I appreciate a few days, but maybe tomorrow I'll find more intricacies.

[2017-09-06 17:14] buchgr commented on #3689
The remote cache works (everyone should use one!), but the problem is that you can't only accept test.log files. Bazel uploads generic blobs referred to by their hash to the remote cache without associating a file name to it. The BEP will then also contain references to these blobs instead of filenames. You can probably come up with some strategy on deleting files that are not referenced in the BE

[2017-09-06 17:48] IrynaWilson opened #3695 "syntax error at '\': expected expression"
I am getting this error for the simplest .bzl file. This is the same error as in issue #[1306](https://github.com/bazelbuild/bazel/issues/1306), which has been closed.

war.bzl file:
[code]
I actually typed the code in bzl file, so it's not the matter of Windows line endings. What am I doing wrong in my bzl file?

[2017-09-06 18:15] ittaiz commented on #3528
Sounds good. Thanks!
On Wed, 6 Sep 2017 at 19:36 Irina Iancu <notifications@github.com> wrote:

[2017-09-06 18:44] #3695 closed

[2017-09-06 18:46] laszlocsomor commented on #2870
Duplicate of #1590 and #2349.

[2017-09-06 18:46] laszlocsomor commented on #1590
Duplicate of #2870 and #2349.

[2017-09-06 18:46] IrynaWilson commented on #3695
Some bzl files are working, and some are not, event with the same content. Not sure what causes the issue, but since I was able to get the working one, closed the issue.

[2017-09-06 19:08] siddharthab commented on #258
We have Bazel aspect definitions that we use internally at Grail for generating the compile commands. I have asked if we can open source it. It is tested well with YouCompleteMe, rtags and woboq. It is an improvement upon the rough sketch at https://github.com/ibab/laminate/blob/master/bazel/compilation_database.bzl

As for an approach based on action_listeners, I think it is better to use the cod

[2017-09-06 19:15] buchgr commented on #3689
@endobson
Shamless Plug: I recently built a remote cache for Bazel and also plan on adding support for the BEP with nice web dashboard. It's not on the top of my priorities though. Next up are monitoring/logging and authentication. If you are interested we might be able to team up.

[2017-09-07 04:27] Magrathea42 commented on #1871
hi @sskgit
How did you solve the build error a) that you described?
Thanks

[2017-09-07 05:12] davido commented on #3647
//CC @aehlig

OK, it seems that underlying issue of missing `TMP` is a duplicate of; #1590, #2349.

Still the question is of UX failure to produce a sane error message and ending up with `IndexOutOfBoundsException`.

[2017-09-07 05:59] endobson commented on #3689
Thanks for the offer, but I'm not trying to build a production dashboard/server as much as explore.  This is giving me a good excuse to build a gRPC server that I will actually use more than just a toy demo.

[2017-09-07 07:06] siddharthab commented on #818
Slightly unrelated to this thread, but is there a good way of using gperftools/tcmalloc with bazel? I could not find a good up to date BUILD file for gperftools, and reverse engineering their make process is hacky.

[2017-09-07 07:58] #3285 closed

[2017-09-07 07:58] #3553 closed

[2017-09-07 07:58] #3560 closed

[2017-09-07 07:58] #3664 closed

[2017-09-07 08:47] abergmeier-dsfishlabs commented on #3688
We currently use `worker_max_instances` to at least "prevent" overtaxing. It is horrible, though, because sometimes we have a situation where e.g. `Javac` could use all resources since we only have `Javac` tasks to be executed and then it takes _forever_ because out of 20 cores only 2 are used by these 2 workers.

Even worse for us is that we have offline Image compression, where single actions ca

[2017-09-07 09:02] meteorcloudy opened #3696 "Bazel CI failure: Docker tests failing on Linux platforms"
http://ci.bazel.io/blue/rest/organizations/jenkins/pipelines/bazel-tests/runs/1015/nodes/27/steps/203/log/?start=0
[code]
/cc @damienmg , any idea on this?

[2017-09-07 09:03] damienmg commented on #3696
They should not be running at all, that's the other fix for bazel-docker-tests that I have sent you. The problem is docker is not installed on that machine.

[2017-09-07 09:03] damienmg commented on #3696
(so we should just push the fix now)

[2017-09-07 09:05] meteorcloudy commented on #3696
Got it, I'll push later once a fix for Windows is submitted.

[2017-09-07 10:00] petemounce commented on #1590
I'm affected by this on bazel 0.5.3.

[2017-09-07 12:44] mhlopko commented on #3513
So deeper investigation revealed that the DEBUG define is intentional,  Apple system headers check for
DEBUG, and bazel's fastbuild and dbg modes match to what Apple describes as debug build. So I'll close this as working as intended.

[2017-09-07 12:44] #3513 closed

[2017-09-07 15:41] or-shachar commented on #1410
Hey @jart
Rumor has it that you also created some gui tool for converting maven coordinates to `java_import_external`. Is it open sourced? We'd love to check it out!

[2017-09-07 17:06] filipesilva opened #3699 "_clone_or_update using bash instead of BAZEL_SH"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:

On Windows, the `_clone_or_update` function in `git.bzl` is using `bash` instead of `BAZEL_SH`: https://github.com/bazelbuild/bazel/blob/8c8633610a948846244494e2e3dad91eb0536a58/tools/build_defs/repo/git.bz

[2017-09-07 17:09] dslomov commented on #3699
cc @laszlocsomor

[2017-09-07 17:24] rahul-malik commented on #3042
@ulfjack @damienmg - Is there a version of this LRU cache behind an experiment flag? I was thinking of rolling my own solution but would rather use one built into bazel itself.

[2017-09-07 18:08] damienmg commented on #3042
Nope, only pending change that I need to rebase, would love to merge them
thus.

On Thu, Sep 7, 2017 at 7:53 PM Rahul Malik <notifications@github.com> wrote:

[2017-09-07 21:08] alexeagle opened #3700 "windows: bazel clean --expunge fails when switching from git_repository to local_repository"
### Description of the problem / feature request / question:

Switched a repository from git_repository to local_repository (to allow editing its files locally).

### If possible, provide a minimal example to reproduce the problem:
[code]
### Environment info
* Operating System:
Windows 10

* Bazel version (output of `bazel info release`):
0.5.4

###  Have you found anything relevant by searching

[2017-09-07 21:12] alexeagle commented on #3700
Windows file explorer also reports it cannot remove the files because they are open by another program, even after killing the shell where bazel was running.

[2017-09-07 21:54] mcelhennyi commented on #587
I need this to build tensor flow for the native_client in mozilla's DeepSpeech project.

I am behind an authorized proxy, where I need a "domain\user:password@my.proxy.com:9090" as my proxy

Even after using (where my $http_host, $https_host, and $prox_port are correct):
bazel --host_jvm_args=-Dhttp.proxyHost=$http_host --host_jvm_args=-Dhttp.proxyPort=$prox_port --host_jvm_args=-Dhttps.proxyHost=

[2017-09-08 04:09] endobson opened #3701 "ProtoSourcesProvider is not available as a Provider"
I want to write a lang_proto_library rule, and as such enforce that all the labels in the `deps` attribute export the right provider. I currently can only enforce that they export the old style provider "proto", instead of a new style provider.

Bazel release = 0.5.4

[2017-09-08 04:21] endobson opened #3702 "required_aspect_providers and provides arguments of aspect are not documented well"
These two arguments are documented in the code with the string `<not available>`. This string is treated as the markup tag `not` and so doesn't actually render in the generated documentation.

https://docs.bazel.build/versions/master/skylark/lib/globals.html#aspect
https://github.com/bazelbuild/bazel/blob/8d6fc64b18c7e35b93f5c43dae1dbd2f8cae2147/src/main/java/com/google/devtools/build/lib/analysis

[2017-09-08 06:34] iirina commented on #3528
Next week should be at HEAD.

[2017-09-08 06:35] ittaiz commented on #3528
awesome, thanks! Any chance you know when is 0.6 targeted for?

[2017-09-08 06:39] iirina commented on #3528
No, probably when we get Bazel CI green again :) You can watch [the release issue](https://github.com/bazelbuild/bazel/issues/3286) and ping the assignee for more details.

[2017-09-08 06:44] ittaiz commented on #3528
Will do. Thanks!
On Fri, 8 Sep 2017 at 9:39 Irina Iancu <notifications@github.com> wrote:

[2017-09-08 06:47] ittaiz commented on #3286
Hi,
Any idea when this release will roll out?

[2017-09-08 07:24] buchgr commented on #3286
@ittaiz I believe next week since @vladmos is on vacation this week.

[2017-09-08 07:48] meteorcloudy commented on #3700
Hi @alexeagle , I think Bazel is unlikely to open git's object files, can you check which program the file is opened in?

[2017-09-08 07:50] meteorcloudy commented on #3701
//cc @vladmos

[2017-09-08 08:15] meteorcloudy opened #3703 "Bazel CI failure: bazel-slow-tests job is failiing"
http://ci.bazel.io/blue/organizations/jenkins/bazel-slow-tests/detail/bazel-slow-tests/2/pipeline
[code]
//cc @damienmg

[2017-09-08 08:33] damienmg commented on #3703
Oops sorry!

[2017-09-08 08:34] damienmg commented on #3703
(the config file is missing a coma)

[2017-09-08 09:20] #3703 closed

[2017-09-08 09:44] damienmg opened #3704 "bazel-slow-tests is running way too many tests"
On all shard it runs all the docker tests and on the other platform it runs all tests whereas it should runs only the determinism test

Seems like test tag filters is not working...

/cc @meteorcloudy fyi

[2017-09-08 09:50] damienmg commented on #3704
And the answer is in our doc:
"If specified, Bazel will test (or build if --build_tests_only is also specified) only test targets that have at least one required tag"

Whereas we want the test that match all the tag. So we need to precede tag with '+'

[2017-09-08 09:51] damienmg commented on #3704
Note that this does not explains why the last job execute all the test, Is the test_tag_filter wrong and when you have a negation ignore the tag?

[2017-09-08 10:01] damienmg commented on #3704
So the last job explanation is in the rc file: http://ci.bazel.io/job/bazel-slow-tests/4/execution/node/89/ws/bazel.bazelrc/*view*/

[2017-09-08 10:19] cinqs commented on #3535
@aehlig , Hi, I didn't have the chance yet to test on commit 27db2d8, but from the scripts change in `compile.sh`, it seems fine. The issues should be gone with this commit.
I filed this issue because either your OS is lacking `bintools` or `which` could cause the result of showing:

    ERROR: cannot locate GNU bintools; check your PATH.

And this should be avoided.

And more, the latest version

[2017-09-08 10:25] cinqs commented on #3535
And this can be closed I think

[2017-09-08 10:25] #3535 closed

[2017-09-08 11:00] damienmg opened #3705 "--test_tag_filters do not allow to select tests that contains flag A and B"
In issue #3704, we were executing too many tests because of confusion:

`-a,-b` is going to look for all tests that have neither `a` or `b` tag whereas `a,b` will match all tests that have either `a` or `b` tag. There is no way to select all tests that matches both `a` and `b`.

The [documentation](https://docs.bazel.build/versions/master/user-manual.html#flag--test_tag_filters) talks about positi

[2017-09-08 11:46] #3704 closed

[2017-09-08 12:34] drigz commented on #3397
To quantify this, it can take three minutes to extract an 80MB boost release:

[code]

Of those 240s, about 60s were spent downloading the archive. The user gets no feedback when the archive is being extracted - I originally thought Bazel was deadlocked.

Switching to a .tar.gz reduces the extraction time to around 15s.

[2017-09-08 13:18] Kalindee opened #3706 "native compilation bazel fails with "pure virtual method called " error"
Hi,
I am building bazel on armv7 board to compile tensorflow and followed the bazel build instruction for armv7 from :https://github.com/samjabrahams/tensorflow-on-raspberry-pi/blob/master/GUIDE.md#3-build-bazel.
 Bazel build successfully completed . To make sure that Bazel build is working proper when I have issued bazel commad but got the following error:
     bazel
	 pure virtual method called

[2017-09-08 13:57] ulfjack opened #3707 "Bazel query //... downloads 1.1 GB zip file and then hangs"
The hang might be due to #3534. But having Bazel query download a 1 GB zip file _on every single run_ with no caching seems like a pretty bad user experience.

[code]

[2017-09-08 13:58] ulfjack commented on #3707
When I interrupt it when it hangs, it outputs:
[code]

[2017-09-08 14:41] drigz opened #3708 "Bazel decompresses new_http_archive whenever BUILD file changes"
When using new_http_archive and editing the BUILD file, Bazel will decompress the archive each time, even if it has been drawn from the experimental_repository_cache. This can be slow for large repos (#3397).

This is quite annoying when working on a difficult BUILD file for a large external repo, eg [rules_boost](https://github.com/nelhage/rules_boost).

### If possible, provide a minimal example

[2017-09-08 15:05] damienmg commented on #3696
Fixed

[2017-09-08 15:05] #3696 closed

[2017-09-08 15:17] damienmg commented on #3707
Download j2objc at each runs is not normal, this should be cached.

[2017-09-08 15:33] ianthehat opened #3709 "Better Invalid SHA256 checksum message"
When you specify an incorrect checksum, the message you get is
[code]
It would be nice if it told you what the correct checksum was. This would be an easy way of updating a repository version. Update the reference, set the sha to an invalid value, try to build, cut'n'paste in the correct checksum, profit.

[2017-09-08 15:41] iirina commented on #3528
I'm having a bit of a problem deciding how to create the API and its meaning.

Exposing full compile time jars is easy, straight-forward: `target[JavaInfo].full_compile_time_jars`. Done.

But for this to be hermetic, the user also should have the possibility of specifying full compile time jars when creating a provider. Here I have a problem.

Let's say we pass the compile time jars like this: `ja

[2017-09-08 16:48] alexeagle commented on #3700
I don't know how to check that on windows, is there an equivalent of linux `lsof` or `/proc/xxx/fd` on windows?

[2017-09-08 16:50] alexeagle commented on #3699
FYI I believe the workaround is just to use the native `git_repository` rule rather than loading the one from `@bazel_tools`.
In my case I didn't need the features from the native git client; the jgit used by the native rule works.
You can drop the priority/severity here.

[2017-09-08 20:54] kamalmarhubi commented on #903
@aj-michael re the device rules (https://github.com/bazelbuild/bazel/issues/903#issuecomment-295392958), I tried the exact same thing with the `pixel:google_25_x86` device in a fresh `WORKSPACE` and get an error about a missing `snapshots.img`:

[code]

(I can't seem to find the `system-images;android-25;default;x86` image in `sdkmanager` that would be needed to make your precise command work.)

[2017-09-09 02:41] dmitry-xnor commented on #3079
It'd be good to fix this, this bug sabotages JNI builds for everything other than Android.

[2017-09-09 06:57] endobson opened #3713 "Search box doesn't work from blog page"
The search box in the upper right doesn't work from the blog page, but does from the main site.
When seaching from the blog I just get 404s.

https://blog.bazel.build/

[2017-09-09 16:07] ittaiz commented on #3438
Hey,
Any update on this?
Additionally is the `java` issue I raised in the second comment a separate issue? If so I'll open one

[2017-09-09 16:36] endobson opened #3714 "Bazel hard crashes when 'inputs' argument to 'ctx.action' is a RuleConfiguredTarget"
It looks like the code is assuming that any value that flows in has been checked by the `@Param` type, but that seems to not be the case.

`@Param` for the argument:
https://github.com/bazelbuild/bazel/blob/67f23f563cc655df7102f798206a3c4d07f46774/src/main/java/com/google/devtools/build/lib/rules/SkylarkActionFactory.java#L249-L260

Where the cast happens:
https://github.com/bazelbuild/bazel/blob/

[2017-09-09 21:05] sbilkoloft commented on #3109
@laszlocsomor any update on this? I'm hitting this as well. I have VS 2010 professional and I can't create any binaries because of this. Please advise on a possible workaround. Thanks.

[2017-09-10 15:24] mattmoor commented on #699
Just found this thread, but I have a version of the rules (in progress) [here](https://github.com/bazelbuild/rules_python/pull/1) built around the `pip` concept of `.whl` files.

Basically, it relies on `pip wheel` to translate `requirements.txt` into `.whl` files (either by fetching them, or by *building* them).  Once in `.whl` form, it imports the content from each `.whl` into a `py_library`, im

[2017-09-10 15:31] rihardsbar commented on #2485
What does it say here ,that contradicts to what most people try to do to get it compiled from source ?
https://docs.bazel.build/versions/master/install-compile-source.html

[2017-09-10 20:19] alexeagle commented on #3645
Hi, this prevents Angular bazel apps from using CircleCI, which is our recommendation.
It also means the canonical demo app
https://github.com/alexeagle/angular-bazel-example
has a flaky build status, which looks bad.

Can someone triage this? I might be able to fix it if I could tell what is wrong.
/cc @davidstanke

[2017-09-11 06:24] laszlocsomor commented on #3109
@sbilkoloft : Here's a workaround:

1. Clone the Bazel repository
2. Patch the CROSSTOOL template: https://github.com/bazelbuild/bazel/blob/aeb863a9bfa94ea366c8cb5d1c64042fdf42d782/tools/cpp/CROSSTOOL.tpl#L834
3. Build Bazel: `bazel build //src:bazel`
4. Use the resulting Bazel binary to build your code.

[2017-09-11 06:29] ittaiz commented on #3528
I agree it's a tricky one.
It feels to me like we should have a builder here. I don't know if it's pythonic /skylark idiomatic but it sounds like we want to keep the current method simple (maybe without `full_compile_time_jars`) and add a builder which has richer semantics.
This way we have a few design options:
1. Expose `with_compile_time_jar(ijar,full_jar)` alongisde `with_compile_time_jar(full

[2017-09-11 06:54] laszlocsomor commented on #3663
@aj-michael : Do you have any updates on this?

[2017-09-11 08:17] meteorcloudy commented on #3700
I am using a software called [Process-Explorer](http://www.chip.de/downloads/Process-Explorer_12996492.html)

[2017-09-11 08:48] laszlocsomor opened #3717 "Windows, Python: `--python_path` default value is useless on Windows"
### Description of the problem / feature request / question:

The default value of `--python_path` is `python`. This only works on Linux/macOS, however not because on Windows the binary is `python.exe` but because on Windows it's not on the `$PATH`.

When Bazel runs a `py_binary` as an action's executable (e.g. as part of a `genrule`), the action's `$PATH` is not the same as client's but a sanitiz

[2017-09-11 08:50] laszlocsomor commented on #3717
Symptom: I get a launcher error when I don't use `--python_path`:

[code]

[2017-09-11 09:09] mhlopko commented on #818
@siddharthab I'm afraid this is not the right place to ask this question. Maybe somebody on [bazel-discuss](https://groups.google.com/a/google.com/forum/#!forum/bazel-discuss) will know?

[2017-09-11 10:54] buchgr opened #3718 "Use different PathConverter when using remote http caching, hazelcast, ..."
We currently always rewrite our paths in the BEP using the ByteStream path converters. This is not correct when using i.e. http remote caching or hazelcast.

[2017-09-11 10:54] ulfjack commented on #3534
I'll revert the change. I don't think anything depends on it yet, and I don't have time right now to investigate in more detail.

[2017-09-11 11:20] iirina commented on #3528
Yes, I've also thought of a builder, but I don't think it aligns with the Skylark way. At the same time I want this object to be sealed in as fast as possible, and just be used for passing information. And keep everything simple.

This make sense, but I think it's very Java-like. Besides, the main problem I see here is that you need another data structure to encapsulate what a compile time jar is

[2017-09-11 11:49] meteorcloudy commented on #3717
I am trying to reproduce this on my machine, but got
[code]
I'm using Bazel@HEAD, but it doesn't seem to use MSVC as the C++ compiler, how should I resolve this?

[2017-09-11 11:52] dslomov commented on #3717
It does not use MSVC as C++ compiler because it builds for Android

[2017-09-11 12:01] meteorcloudy commented on #3717
Got it, my NDK repo had some problem, now it's working! Thanks!

[2017-09-11 12:20] philwo opened #3719 "android:AndroidBinaryTest failing on Windows with NPE"
[node=windows-x86_64,toolchain=msvc] FAIL: //src/test/java/com/google/devtools/build/lib/rules/android:AndroidBinaryTest (shard 4 of 5) (see C:/windows/temp/_bazel_system/7bqgevoe/execroot/io_bazel/bazel-out/msvc_x64-fastbuild/testlogs/src/test/java/com/google/devtools/build/lib/rules/android/AndroidBinaryTest/shard_4_of_5/test.log).
[node=windows-x86_64,toolchain=msvc] INFO: From Testing //src/te

[2017-09-11 12:25] laszlocsomor commented on #3719
Passes on my machine at 98c831ec11d8bea47bcafce69a22df716381da5a with Bazel 0.5.4 .
Let me investigate further.

[2017-09-11 12:26] laszlocsomor commented on #3719
[code]

[2017-09-11 12:32] philwo commented on #3708
Assigning to @damienmg according to triage owners and because Kristina is no longer here :(

[2017-09-11 12:34] damienmg commented on #3708
We could cache the uncompressed step but since you are not supposed to rewrite the BUILD file a lot that seems like a corner case optimisation.

[2017-09-11 12:36] drigz commented on #3708
I've realised in the mean time that I could use `--override_repository` to avoid repeated decompression on this use case.

[2017-09-11 12:36] ittaiz commented on #3534
Thanks!
On Mon, 11 Sep 2017 at 13:55 Ulf Adams <notifications@github.com> wrote:

[2017-09-11 12:38] philwo commented on #3706
Mhmm... not sure who would be a good person on the team to look into this?

@aehlig Any idea?

[2017-09-11 12:42] philwo commented on #3694
Closing this as the question has been answered.

[2017-09-11 12:42] #3694 closed

[2017-09-11 12:43] philwo commented on #3692
@lberki Any idea?

[2017-09-11 12:53] laszlocsomor commented on #3719
From http://ci.bazel.io/blue/organizations/jenkins/bazel-tests/detail/bazel-tests/1024/pipeline/31 I found out that the workspace was `c:\jenkins\workspace\bazel-tests-node=windows-x86_64,toolchain=msvc`.

I managed to RDP into the machine. In an administrator MSYS shell (non-elevated didn't work, I suspect permission issues), I found out that the `jar.exe` in the failed invocation is different fr

[2017-09-11 12:55] lberki commented on #3692
in my professional opinion, I don't know. What does `blaze query @linaro_linux_gcc_repo//...` say? In addition to the "package is not valid" error message, there should be something else that tells you what's wrong.

[2017-09-11 12:57] laszlocsomor commented on #3719
Bazel was `c:\bazel_ci\installs\latest\bazel.exe` and it is indeed the 0.5.4 release, its MD5 matches that of the Bazel binary on my machine:
[code]

[2017-09-11 13:11] laszlocsomor commented on #3719
Even more interestingly, I can run the old jar.exe from a non-elevated shell, but I can't run the new one.

The new (failing) jar.exe has the same md5sum as that on my machine though so the binary doesn't seem to be corrupt.

[2017-09-11 13:19] laszlocsomor commented on #3719
Interestingly, after I looked for the file in Windows Explorer (had to elevate access) and at the file's properties and permissions, and copying that JDK directory elsewhere, I can now run the original file (`C:\windows\temp\_bazel_system\7bqgevoe\external\local_jdk\bin\jar.exe`).

I don't think I did anything else with this file. Yet I've seen something similar in the past -- looking at the file

[2017-09-11 13:22] laszlocsomor commented on #3719
My guess is that the temp directory being "c:\windows\temp" might have played a role, but I have no reason to back it up. I simply have no other clue.

That said I updated the system envvars on the machine so `TMP=TEMP=C:\temp` now. Let's see if this test failure was a flake and if it happens again.

[2017-09-11 13:53] aj-michael commented on #3663
I attempted to write a python test that would build it, however I am blocked by https://github.com/bazelbuild/bazel/issues/3674. There is a workaround proposed in that issue (use glob/** instead of glob on directories), however, to use that workaround would require waiting one Bazel release after the workaround is submitted, since the workaround is for the Bazel binary that *runs* the test (as opp

[2017-09-11 14:17] siddharthab commented on #818
Thank you for the reply. I saw it being used in the example above and I was tempted. I will take my question to the Google group.

[2017-09-11 14:23] aj-michael commented on #903
@kamalmarhubi , unfortunately the Android SDK recently decided to shift around all of it's contents. This is tracked in https://github.com/bazelbuild/bazel/issues/3504, although I have not had time to fix it. In particular, they removed a file called `snapshots.img` that Bazel was relying on.

[2017-09-11 14:43] philwo commented on #3719
Thank you!

[2017-09-11 14:48] philwo commented on #3708
Thanks for the feedback. Let's close this then.

[2017-09-11 14:48] #3708 closed

[2017-09-11 15:30] meteorcloudy commented on #3717
Hmm,, now I have some doubt on the proposed solution, in order to know when to pass `--python_path` from client, we not only need to know which type of Bazel command is running (should only be build, test, run), but also needs to know whether `--python_path` is already specified by user. The requires parsing all command line arguments AND arguments read from bazelrc files, which appears in a stran

[2017-09-11 15:36] laszlocsomor commented on #3717
That's a good point.

The @local_python_config rule sounds promising. Can you say more specifically how you'd use it?

Alternatively, is it possible to pass the `--python_path` flag before the user- and bazelrc-specified ones?

[2017-09-11 15:51] laszlocsomor commented on #3663
If the only reason to use Java would be to ship this faster, and otherwise Python would allow simpler (and faster?) tests, then I suggest waiting for the release with the workaround.

Reading that bug (#3674) I get the impression that the workaround is actually the right way to glob a directory. I don't even know what `glob(["some_directory"])` should do as opposed to `glob(["some_directory/**"])`

[2017-09-11 16:27] meteorcloudy commented on #3717
Just like the @local_config_cc repo, we configure a python runtime rule using skylark, then make [`--python_top`](https://github.com/bazelbuild/bazel/blob/820a46af10808396873c36d0f331e533118cf0c6/src/main/java/com/google/devtools/build/lib/bazel/rules/python/BazelPythonConfiguration.java#L92) points to @local_config_py by default. Users can override it by passing `--python_path` or having `--pytho

[2017-09-11 16:48] meteorcloudy commented on #3717
Ah, I just realized we can pretend we are adding `--python_path` in the least important rc file by adding `--default_override=0:build=--python_path=<python/path>`. Just like https://github.com/bazelbuild/bazel/blob/master/src/main/cpp/option_processor.cc#L504

This way it will be overridden by any `--python_path` option from both command line and rc files. And we don't even need to add it before t

[2017-09-11 16:52] aj-michael commented on #3663
The title of the bug is misleading, its not an issue with globs. The issue is that Bazel allows filegroups to contain directories (as opposed to globbing all the files within them), and py_test on Windows fails if such a filegroup is a data dependency.

[2017-09-11 17:00] dslomov commented on #3717
I do prefer very strongly a principled solution with `@local_config_py`

(We can add command line hackery in the meanwhile if we need to for some clients)

[2017-09-11 17:59] alexeagle opened #3720 "How to get resolved runfiles path from a skylark rule"
On Windows, it's necessary to resolve runtime dependencies through the runfiles.manifest file.

I have a `template_action` that writes a wrapper script, it needs to know the path to a binary and an entry point file.
https://github.com/bazelbuild/rules_nodejs/blob/defc6449af919b7388e64467df27ceba95b4a33b/internal/node.bzl#L73
Rather than some mechanics to look this up in the manifest, eg.
https://g

[2017-09-11 18:17] dslomov commented on #3720
This is non-hermetic. Do not do that. Outputs of a build should not contain local paths

The fact that this works is is a bug, fixed at HEAD.

[2017-09-11 18:17] #3720 closed

[2017-09-11 18:20] dslomov commented on #3720
Actually not sure that `str(root)` is fixed. Do not use it anyway!

[2017-09-11 19:58] jasharpe opened #3722 "How to depend on Bazel release (not on the tarball from Github of 0.5.4 tag -> checksum changed)"
Sometime today it appears that Bazel archives changed their checkums.

bazel_buildifier have had this `http_archive` for a while:

[code]

See https://github.com/bazelbuild/buildtools/blob/master/WORKSPACE#L30

But now the checksum has changed to "8c33ee6b198359265186f95fbd6aa7ad4e84c3a1fd9b14d22efc3ffb22699f63":

[code]

This is causing the following failure on `bazel build`:

[code]

What's goin

[2017-09-11 20:34] damienmg commented on #3722
https://github.com/bazelbuild/bazel/archive/0.5.4.tar.gz is generated by github... We do not hash them...

[2017-09-11 20:35] philwo commented on #3722
I'm getting an HTTP 403 Forbidden error when trying to download that file from mirror.bazel.build:

[code]

Looking into our Google Cloud Storage console, that file actually doesn't exist. The only files in there are 0.4.4.tar.gz and 0.4.5.tar.gz.

The one from GitHub works, but has the new `8c33ee6b198359265186f95fbd6aa7ad4e84c3a1fd9b14d22efc3ffb22699f63` checksum.

In the best case, here's what

[2017-09-11 20:36] damienmg commented on #3722
(note: please use the -dist.zip file instead).

The other artifacts have not been updated AFAICT, the tarball provided by Github would have changed format?

[2017-09-11 20:37] d4l3k commented on #3722
I'm running into this issue as well.
[code]

Looks like GitHub changed how their files are compressed.
[code]

[2017-09-11 20:39] damienmg commented on #3722
:) I was actually beginning to think that they had just regenerated the tarball with other timestamp but the compression mode for gzip is indeed more likely.

[2017-09-11 20:40] d4l3k commented on #3722
Actually, they look like they have been regenerated and not just gzip compression changes.

[code]

[2017-09-11 20:42] damienmg commented on #3722
Anyway nothing on our side: please use the signed -dist file, and we have mirror on https://release.bazel.build/0.5.4/release/0.5.4-dist.zip

(mirror is a manual mirror and we should not be mirroring those anyway, that does not make sense).

[2017-09-11 20:43] damienmg commented on #3722
So requalifying in  documentation as this more a documentation on how to depends on Bazel release (do not depends on tag binary, use our released artifacts instead).

[2017-09-11 20:44] philwo commented on #3722
I guess we just found out the hard way that GitHub's automatically provided release snapshots are generated on the fly and thus not hermetic. :D

As Damien said, people should use the <source>-dist.zip artifacts to get the canonical source code. As these are generated by us, they won't be touched by GitHub and should never change their checksum.

[2017-09-11 20:48] rlguarino opened #3723 "Non-determinism of pkg_deb because of control.tar.gz"
### Description of the problem / feature request / question:

Building the same deb package twice results two packages with different hashes. Something similar happens here: https://github.com/bazelbuild/bazel/issues/1844. It seems that using gzip adds a timestamp which isn't zeroed. If we don't use gzip when building the control file then the package is deterministic.

I can fix the issue with th

[2017-09-11 20:51] rlguarino commented on #3723
I'm not sure if that diff is acceptable, I'm not sure if people are relying on the `control.tar.gz` file name not, dpkg does not seem to care but that does not mean people haven't hard coded a script.

I'm also not sure what's more important backwards compatibility with the `control.tar.gz` filename or deterministic build results.

[2017-09-11 20:59] jasharpe commented on #3722
Thanks so much for looking into it! I will switch over to depending on the `-dist` version.

[2017-09-11 21:35] natansil commented on #3528
sounds like a good idea to avoid repeating each field for transitive jars as well.

It's still unclear to me (and so maybe for other users of the api), what happens if the user sets this field (`full_compile_jars `) or not.

Just to be sure I understand, `compile_jars `, can contain either `ijars` or `full jars` that may or may not be part of a dependent's compilation classpath
`full_compile_jars`

[2017-09-11 22:11] bkase opened #3724 "objc_library documentation doesn't mention `.S` assembler files can be passed to srcs"
### Description of the problem / feature request / question:

`objc_library` documentation doesn't mention `.S` assembler files can be passed to srcs. We have a tool that generates BUILD files and it was filtering out `.S` source files since it wasn't mentioned in the documentation. Could you update the docs?

[2017-09-12 01:45] kamalmarhubi commented on #903
@aj-michael thanks for the context!

[2017-09-12 03:29] sbilkoloft commented on #3109
Thanks for the help @laszlocsomor. I tried the solution and seems like it's beyond redemption:

C:\msys64\tmp\_bazel_sbilkoloft\qagro95y\execroot\io_bazel\src/main/cpp/util/port.h(19) : fatal error C1083: Cannot open include file: 'cinttypes': No such file or directory
Target //src:bazel.exe failed to build

I found this:
https://connect.microsoft.com/visualstudio/feedback/details/748766/c-11-head

[2017-09-12 04:20] siddharthab commented on #258
We open sourced our setup:
https://github.com/Grailbio/bazel-compilation-database

Contributions are welcome.

[2017-09-12 06:23] ittaiz commented on #3528
First I'd like to say I like the move to `deps` as it's another step on aligning jvm rules on this provider.
I think that we need to recap what are the problems we're trying to solve.
As far as I understand the problems are:
1. Have the ability to depend on external jars without ijar. This is doable today and is even easier thanks to your addition of `java_common.ijar` since one can write a rule t

[2017-09-12 07:51] laszlocsomor commented on #3109
@sbilkoloft : You're welcome! I'm sorry to hear it didn't work. Can you install a newer version? Bazel supports the VC++ Build Tools 2017, see our ["Getting started" guide](https://docs.bazel.build/versions/master/windows.html#build-c).

Meanwhile I realized that my step (3) would require you have a patched Bazel already. But I think you could avoid that by building Bazel from source:

1. download

[2017-09-12 08:11] laszlocsomor commented on #3717
I also prefer a principled solution, and `@local_config_py` sounds like it while adding the flag doesn't. But as a short term solution I'm also OK with it, hopefully it won't make it into a release :)

[2017-09-12 08:14] meteorcloudy commented on #3109
@sbilkoloft I suspect `cinttypes` might doesn't exist in older version of MSVC, since `port.h` depends on it, it's unlikely we can build Bazel with it.

But, what you can do is using an existing Bazel binary with a custom CROSSTOOL,
Here's one you can use easily, https://github.com/meteorcloudy/windows-crosstool
Download the repo, and use the `local_repository` rule to use this CROSSTOOL.
Then you

[2017-09-12 08:24] ddwolf commented on #3694
@meteorcloudy  if I don't know what files have been modified, then how to achieve this?

[2017-09-12 08:27] meteorcloudy commented on #3694
@damienmg Is it possible to make Bazel return all targets that would be re-evaluated without knowing exactly which files are modified?

[2017-09-12 09:50] damienmg commented on #3694
I don't think so...

[2017-09-12 10:04] laszlocsomor commented on #3679
/me is silly, I forgot I filed this bug a week ago... anyway, duplicate of https://github.com/bazelbuild/bazel/issues/3717

[2017-09-12 10:04] #3679 closed

[2017-09-12 10:58] dslomov commented on #3720
/cc @vladmos

[2017-09-12 11:36] laszlocsomor commented on #3719
I cannot work on this issue right now.
@philwo , have you seen it on CI since yesterday?

[2017-09-12 11:40] laszlocsomor commented on #3719
@philwo : Are you sure P0 is adequate? Is this issue breaking anything but CI?

[2017-09-12 11:44] laszlocsomor commented on #3618
Seen this again in http://ci.bazel.io/blue/organizations/jenkins/bazel-tests/detail/bazel-tests/1023/pipeline/31:

[code]

[2017-09-12 11:45] laszlocsomor commented on #3618
Wild idea: maybe the virus scanner or Windows Defender deletes this file???

[2017-09-12 11:48] laszlocsomor commented on #3659
Android compilation works again, but until we fix https://github.com/bazelbuild/bazel/issues/3663 I have to verify this manually periodically.

[2017-09-12 11:48] #3659 closed

[2017-09-12 11:51] philwo commented on #3719
@laszlocsomor It's not my choice, it's what the Bazel Sheriff Duties doc says :|

I think it's my job to find the culprit CL and in theory roll it back, but as you said, the repro case is not clear.

I see P0 as "let's work on this ASAP", where "ASAP" literally means as soon as possible and if not possible (because you currently have even more important things to do or aren't able, because OOO or

[2017-09-12 11:52] philwo commented on #3719
I'll do the daily GitHub push now, let's see if it happens again during that CI run.

[2017-09-12 11:54] laszlocsomor commented on #3719
Thanks!
@dslomov , @meteorcloudy : FYI

[2017-09-12 12:02] vladmos commented on #3720
This feature (actually a bug) will be disabled in the upcoming Bazel 0.6, `str(root)` will return either `"<source root>"` or `"<derived root>"` (for source and generated files correspondingly).

[2017-09-12 12:02] petemounce commented on #2870
@laszlocsomor the other 2 you linked are in milestone 0.6. I'm hoping strength of numbers pulls the fix for this into 0.6 rather than this pulling them into 0.7? ;)

[2017-09-12 12:05] laszlocsomor commented on #3618
I RDP'd into the machine.

I see that the installation directory is empty except for the server jar.

[code]

[2017-09-12 12:07] laszlocsomor commented on #2870
Hang in there, I'm working on it! :)

I wrote a design that's currently under review internally.

[2017-09-12 12:12] #3102 closed

[2017-09-12 12:16] laszlocsomor commented on #3618
I found 32 Bazel installations on that machine that contained nothing but the A-server.jar file, and 29 installations that were complete. All of these were created between 29/08/2017 and 12/09/2017.

[2017-09-12 12:36] laszlocsomor commented on #3618
In the Jenkins run log (http://ci.bazel.io/blue/rest/organizations/jenkins/pipelines/bazel-tests/runs/1023/nodes/31/steps/476/log/?start=0), I see this line:

[code]

This file still exists on the machine. It contains:

[code]

[2017-09-12 12:40] meteorcloudy commented on #3719
I can repo this issue locally, I'll take a look.

[2017-09-12 12:45] laszlocsomor commented on #3719
Thank you!

[2017-09-12 12:45] meteorcloudy commented on #3719
Looks like sharing the AndroidBinaryTest makes it failing on Windows somehow.
I reverted https://github.com/bazelbuild/bazel/commit/e92e3d8a4fcab49cda1a2bebc02d5119798d5258 and it's passing.

[2017-09-12 12:46] philwo commented on #3723
That looks like the culprit: https://github.com/python/cpython/blob/3.6/Lib/tarfile.py#L427

Maybe we could workaround this by creating an uncompressed tar and then using the "gzip" module to compress it? I think that doesn't implicitly use a timestamp.

[2017-09-12 12:51] damienmg commented on #3723
Could that be the same root cause as the github archive changing SHA?

I would accept the diff to just not gziping the control file.

[2017-09-12 12:55] philwo commented on #3667
You need a newer version of binutils (GCC uses the "as" assembler from binutils under the hood). From what I found on the internet by searching for "Error: no such instruction: vbroadcasti128" it seems like you need at least binutils 2.22. (cf. https://github.com/briansmith/ring/issues/551)

The reason why only TensorFlow fails is that they seem to use AVX instructions in their assembly code, whic

[2017-09-12 12:55] #3667 closed

[2017-09-12 13:09] philwo commented on #3582
We could probably just change it to report a percentage, if that's less confusing? The "current actions / total actions" should be monotonically increasing already.

[2017-09-12 13:28] meteorcloudy commented on #3719
From the error message:
[code]
I guess it might because when we run multiple AndroidBinaryTest at the same time, all of them trying to create the same classpath jar, which leads to a conflict.

[2017-09-12 13:40] laszlocsomor commented on #3719
That sounds like a plausible reason! How does the launcher compute the location of the class jar, is it next to the launcher, derived from the launcher's name?

So it's not the jar.exe itself that's corrupt or has bad permissions; it cannot clobber the output because concurrent jar.exe's are trying to write the same file.

This is a scenario where having a $TMP/$TEMP envvar would be very useful.

[2017-09-12 13:45] meteorcloudy commented on #3719
That's right! The launcher (both bash and exe launcher) compute the classpath jar path next to the launcher and with a `-classpath` suffix. Sounds like a good idea to generate classpath jar in a TMP directory.

[2017-09-12 13:45] laszlocsomor commented on #3618
The bootstrap test deletes its temp directory upon exiting: https://github.com/bazelbuild/bazel/blob/0ca8f4bbfb3673cf8a0a34cc5b487023d70561c5/src/test/shell/bazel/bazel_bootstrap_distfile_test.sh#L37

Therefore the bootstrap-built bazel exe (`/c/temp/4fded86d79031ffd6bfd778aaa8e42b6/bazelbootstrap.Alxp53Pa/output/bazel.exe`) no longer exists, and the empty installation directory phenomenon that I

[2017-09-12 13:49] laszlocsomor commented on #3719
Haha, I was bitten by the same problem a couple months ago while I was hacking on building Android rules, and added code to the launcher batch script to write the args to a temp file.

Yes, and I recommend creating a temp directory within the $TMP directory, because $TMP may be shared between actions.

[2017-09-12 14:16] meteorcloudy commented on #3719
Yes! We should introduce some randomness to the classpath jar file path. I'll do the refactoring.

[2017-09-12 14:24] alexeagle opened #3726 "How executable action can locate runfiles in both Windows and sandboxed execution"
### Description of the problem / feature request / question:

Under windows, runfiles must be accessed via the runfiles_manifest since there are no symlinks.
However, this file is absent under the sandbox.

### If possible, provide a minimal example to reproduce the problem:

https://gist.github.com/alexeagle/d7c57183f548c428469bec6ec4113419

[code]

The `find` command in `repro.sh` lists all the

[2017-09-12 14:40] rahul-malik commented on #3582
We've tried converting it to a percentage but it still seems strange because the total actions count is nearly reached before it increases in my experience which gives the false impression the build is almost complete.

[2017-09-12 17:50] jasharpe opened #3727 "`//src/test/shell/bazel:bazel_test_test` does not pass"
Steps to reproduce:

[code]
Partial output (didn't copy the whole thing since it contains directory information):

[code]

Am I doing something wrong or are these tests broken at HEAD?

Platform: Ubuntu

[2017-09-12 18:01] ittaiz commented on #3582
I agree. The important part (if possible) is that the total number of
actions will be fixed at the beginning
On Tue, 12 Sep 2017 at 18:20 Rahul Malik <notifications@github.com> wrote:

[2017-09-12 22:35] Gurbo86 commented on #3315
Hi,

I'm having a problem related to this Issue and [3063](https://github.com/bazelbuild/bazel/issues/3063).

I've been following the steps detailed in this [article](https://medium.com/jim-fleming/loading-a-tensorflow-graph-with-the-c-api-4caaff88463f). Downloaded Bazel as it's specified [here](https://docs.bazel.build/versions/master/install-os-x.html#install-on-mac-os-x-homebrew) and followed t

[2017-09-13 04:48] sbilkoloft commented on #3109
@laszlocsomor @meteorcloudy thanks for the help. I went  with VS 2017 community.  Seems like my original 2017 installation had problems so I thought to give my 2010 a try.

[2017-09-13 04:49] sbilkoloft commented on #3109
And things work with 2017 now btw.

[2017-09-13 06:15] kangnak commented on #3641
I have the same issue. All C++ headers like <string> are not found. As Ning told, I verified the include dir is set wrong in bazel-<project>/external/androidndk/BUILD.bazel. I used this command to build:
bazel build <build rule>  --cpu=armeabi-v7a --crosstool_top=@androidndk//:toolchain-libcpp --host_crosstool_top=@bazel_tools//tools/cpp:toolchain

[2017-09-13 06:31] benjaminp commented on #3250
Now that there's a been a release of Hazelcast containing the fix for hazelcast/hazelcast#10878, would it make sense to enable chunked encoding and streaming for the rest cache interface?

[2017-09-13 07:51] laszlocsomor commented on #3109
I'll update the docs to say we need VS 2013 or older.

VS 2012 might work too, I don't know and can't test.

[2017-09-13 08:48] davido commented on #3042
@damienmg The status of [the pending change](https://bazel-review.googlesource.com/#/c/bazel/+/8133/) is not clear to me. Does it work as is? Any comments if it could be used already today for earlier adopter.

I also disagree, with the priority here. From the user perspective, I would just expect sane local disk cache behaviour. That is exactly what Buck does per default here.

To make my POV eve

[2017-09-13 09:33] mhlopko commented on #3315
Do you have Xcode installed? In the Applications folder? Does `bazel clean --expunge` help? I assume you're using bazel 0.5.4, correct? I also assume you tried `xcode-config` commands mentioned above?

[2017-09-13 10:28] philwo commented on #3727
I can repro this on my machine. Trying to find the culprit now.

[2017-09-13 10:58] philwo commented on #3727
I couldn't find a single revision where this test actually passes. Weird.

[2017-09-13 11:21] iirina commented on #3528
After a meeting with @ittaiz and @lberki yesterday, we agreed on the following API:

[code]

which is great. We now distinguish 2 cases:
- `use_ijar` is `True`: ijar will be invoked on all `compile_jars` (which have to be normal jars). The resulting ijars will be add as compile time jars and the regular jars will be stored in the provider as full compile time jars.
- `use_ijar` is `False`: `compil

[2017-09-13 11:30] dslomov commented on #3528
Can you replace `ctx` with `ctx.actions`? (https://docs.bazel.build/versions/master/skylark/lib/actions.html)

[2017-09-13 11:35] vladmos commented on #3286
The first release candidate has been created: https://github.com/bazelbuild/bazel/tree/release-0.6.0 (baseline 87cc92e5df35d02a7c9bc50b229c513563dc1689).

[2017-09-13 11:58] drigz opened #3728 "--override_repository doesn't work with new_http_archive"
`--override_repository` appears to only work for repositories that contain their own WORKSPACE and BUILD files, not for non-Bazel repos defined with eg `new_http_archive`.

I'd expect it to continue to overlay the BUILD file I passed to `build_file`.

Workaround: change the WORKSPACE to use `new_local_repository` instead of `new_http_archive`. (downside: risk of accidentally committing WORKSPACE c

[2017-09-13 12:34] iirina commented on #3528
@dslomov Yes, I managed to replace `ctx` with `ctx.actions`.

[2017-09-13 13:37] meteorcloudy commented on #3600
Looks like it didn't appear again.

[2017-09-13 13:37] #3600 closed

[2017-09-13 13:39] aj-michael opened #3729 "Cleanup of MoreAsserts#assertThrows"
JUnit 4.13 will add a very helpful method called assertThrows. Until that is released, we can add this method to com.google.devtools.build.lib.testutil.MoreAsserts. After JUnit 4.13 is released, we should go back and change all of the callsites.

[2017-09-13 13:42] Gurbo86 commented on #3315
@mhlopko I have skipped this command in the thread 3063:
`sudo xcode-select -s /Applications/Xcode.app/Contents/Developer`

I've made all the steps except this one. After running it, everything started running

Thanks and sorry for bothering.

Regards.