[2022-10-31 09:17] SimonEbner commented on #15340
FYI, I'm encountering the same problem in the context of a hermtic cc_toolchain using a symlink.
Minimal reproducible example:
[code]

Trying to build the binary via
[code]

results in
[code]

[2022-10-31 09:42] HappyCerberus commented on #16607
This is the repository where I'm running into the problem:
https://github.com/HappyCerberus/meetingcpp22-bazel

Try building `//platforms:library_test` when `bazel_dep(name = "platforms", version = "0.0.5")` is commented out. It will complain not only about the OS, but also the CPU.

For a reproducible environment, either open in VSCode (with docker installed) or just use the Dockerfile from .devc

[2022-10-31 10:00] meteorcloudy opened #16613 "Bazel Windows Binary cannot run without embedded JDK"
### Description of the bug:

https://github.com/bazelbuild/bazel/issues/16159#issuecomment-1292560531
https://github.com/bazelbuild/bazel/issues/16159#issuecomment-1295993565

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Download https://releases.bazel.build/6.0.0/rc1/bazel_nojdk-6.0.0rc1-windows-x86_64.exe and run it on Windows

### Wh

[2022-10-31 10:00] meteorcloudy commented on #16159
@konste @fmeum OK, I filed an issue to track this problem.

[2022-10-31 10:02] fmeum commented on #16607
I think what's happening here is that `local_config_platform` uses the constraints from the Bazel module `platforms` (canonical name `platforms~<version>`), whereas your BUILD file uses the constraints from the `WORKSPACE`-defined `platforms` repository.

That is a very confusing situation. I don't have a good idea how to detect and prevent this automatically though.

[2022-10-31 10:14] HappyCerberus commented on #16607
The thing that I'm a bit puzzled about is that this is actually possible (to have multiple versions of the same dependency).

This would imply that I can accidentally end up with multiple versions of an external library, leading to ABI issues.

My previous understanding was that to have multiple versions, I have to explicitly pull them in under different names.

[2022-10-31 10:41] meteorcloudy commented on #16613
I cannot reproduce https://github.com/bazelbuild/bazel/issues/16159#issuecomment-1292560531by building the windows Bazel nojdk binary on my windows machine. Also the nojdk Windows binary at `last_green` doesn't have this issue. I suspect there is some strange infrastructure flakiness?

@fmeum Did the rules_jni failure happens consistently after https://github.com/bazelbuild/bazel/commit/902a0b5763

[2022-10-31 10:54] meteorcloudy commented on #16613
I rerun the release pipeline at the same commit for release-5.0.0rc1:

Previous:
[code]

Now
[code]

The nojdk windows binary has significantly size difference, and it runs correctly. so there must be some infra problem while building the Windows binary.

[2022-10-31 11:02] meteorcloudy commented on #16613
Maybe the https://cs.opensource.google/bazel/bazel/+/master:src/package-bazel.sh script is not hermetic enough, at least on Windows? 🧐

[2022-10-31 11:07] fmeum commented on #16613
@meteorcloudy Yes, it kept happening consistently. Note that I am not using the nojdk build, it's just that the regular with-JDK build doesn't seem to be able to find its embedded JDK.

[2022-10-31 11:22] meteorcloudy commented on #16613
@fmeum Can you provide a minimal reproduce case?

[2022-10-31 12:53] meteorcloudy commented on #16613
I can reproduce the failure with [902a0b5763dddc445f75637c08a1396de8395411](https://storage.googleapis.com/bazel-builds/artifacts/windows/902a0b5763dddc445f75637c08a1396de8395411/bazel) by setting JAVA_HOME to a JDK 17 installation, but not with it's parent commit or the latest last_green. I suspect this has something to do with https://github.com/bazelbuild/continuous-integration/issues/1408, the

[2022-10-31 13:02] meteorcloudy commented on #16613
@konste I have rebuild and deployed Bazel binaries for 6.0.0rc1, the nojdk Windows binary seems to work now.

[2022-10-31 13:12] meteorcloudy commented on #16613
@fmeum I also rebuild binaries for 902a0b5763dddc445f75637c08a1396de8395411, the binaries look correct this time:
[code]

[2022-10-31 16:17] #16581 closed

[2022-10-31 16:18] meteorcloudy commented on #16613
@Wyverald and I debugged on this can find out the root cause is a a race condition in https://cs.opensource.google/bazel/bazel/+/master:src/package-bazel.sh, I'll send a fix now

[2022-10-31 16:23] bazel-io opened #16615 "[6.0.0] Fix race condition in package-bazel.sh"
Forked from #16614

[2022-10-31 17:11] #16567 closed

[2022-10-31 17:18] #16605 closed

[2022-10-31 17:52] ahumesky commented on #16558
https://github.com/bazelbuild/rules_android_ndk/issues/3 is fixed so it shouldn't be a problem going forward

[2022-10-31 19:46] brandjon commented on #923
Reviewing this thread again now, I see there's actually two issues that were discussed.

1. That a null run that touches a BUILD file without modifying its content is not pruned (Janak's comment [above](https://github.com/bazelbuild/bazel/issues/923#issuecomment-271471124)).

2. That a whitespace or comment change that does not affect line numbers is not pruned. This is described in [this source c

[2022-10-31 19:59] ted-xie commented on #16598
I was able to reproduce this by running `USE_BAZEL_VERSION=6.0.0rc1 bazelisk build ... --experimental_enable_bzlmod`. Looking into fixes now.

[2022-10-31 21:33] #16582 closed

[2022-10-31 21:47] keith commented on #12406
https://github.com/bazelbuild/bazel/pull/16618

[2022-10-31 23:21] isaactorz commented on #16551
@oquenchil Sorry don't know who else to ping. Any objections to this feature? Happy to do the remaining work if it can be accepted.

My initial PR that implements this feature is here: https://github.com/bazelbuild/bazel/pull/16552

[2022-10-31 23:33] keith commented on #9165
Note that at this point there is a private `pdb_file` field on `cc_common.link` https://github.com/bazelbuild/bazel/blob/606fadd724d32b5a448897e5d7db66250e076153/src/main/starlark/builtins_bzl/common/cc/cc_binary.bzl#L531

[2022-11-01 00:15] keith commented on #15041
I think that is the case (at least if we don't care about the ability to cross compile even though it is supported by the command line tools only)

In which case I think https://github.com/bazelbuild/bazel/pull/16619 would be the minimum set of changes here. In my apple_support PR I currently use a different repository name for the toolchains (`local_config_apple_cc_toolchains`), but AFAIUI this i

[2022-11-01 01:17] newren commented on #16380
I'm not (currently) a bazel user, and am coming more from the Git side (I'm one of the other Git developers working on sparse-checkout capabilities), but I'd like to throw out another idea for folks to consider:

Idea:

Would there be an opportunity to just provide Bazel with the contents of the files it needs for computing dependencies instead of vivifying the files?

Reasons:

One thing I was di

[2022-11-01 05:29] konste commented on #9165
@keith Thank you for the tip! I will look into it in a few days.
What do you mean under "private" field? In what sense it is private?
Do you know if there is usage example somewhere?

[2022-11-01 05:40] philsc commented on #16044
@gregestren , do you happen to have some advice for me on fixing this?

I think part of the simplest solution is to call [`ConfiguredTargetFactory::convertVisibility()`](https://github.com/bazelbuild/bazel/blob/19b8d24531fb728701a85ec050361d434600b5d2/src/main/java/com/google/devtools/build/lib/analysis/ConfiguredTargetFactory.java#L108) from [`IncompatibleTargetChecker`](https://github.com/bazelb

[2022-11-01 15:04] katre commented on #15041
This looks good, commented on the PR.

[2022-11-01 15:10] pauldraper commented on #3325
As others have said, reset the working directory is a weird choice. The environment variables aren't reset.

Fortunately, fixing is quite simple:

[code]

(Despite misleading docs, stdin is indeed connected.)

[2022-11-01 16:47] keith commented on #9165
that link is the example usage ^. as far as private I just mean it's explicitly undocumented https://github.com/bazelbuild/bazel/blob/84c9c125c290005dea22f434edbab78c2445aa5b/src/main/java/com/google/devtools/build/lib/starlarkbuildapi/cpp/BazelCcModuleApi.java#L595-L600 so I imagine it's not meant to be relied on yet (although maybe it's stable enough now that this should change)

[2022-11-01 17:48] vdye commented on #16380
Thanks everyone for the commentary/discussion!

@newren: I noted in the full proposal that most Bazel rules (like `cc_binary()`) rely on having source files on disk, and it would be a massive breaking change to force all of them to accept in-memory source files (some likely couldn't do that even if they wanted to). But what you're suggesting makes a distinction between the "build files" (`BUILD`,

[2022-11-01 17:58] arxanas commented on #16380
I think there's a problem when globbing source files, since then the rules depend on the presence of source files on disk (even if not their contents)?

[2022-11-01 18:20] newren commented on #16380
Yes, absolutely.  It only made sense to handle the "build files" that special way; the "source files" were absolutely required to be on disk for the other build system too.

One thing to note, though, is that our build system was okay with just providing {module/package}-level dependencies, which was what we needed to get the directories to specify for the sparse-checkout configuration.  If we wer

[2022-11-01 18:29] newren commented on #16380
I think this goes back to the question I also noted above: is it possible to determine package-level dependencies without determining all file-level dependencies?  We only need the former for sparse checkouts.

[2022-11-01 19:55] adam100150 opened #16625 "Empty Output Bin Directory"
### Description of the bug:

I am trying to build a project using the libcoral API. I copied the `WORKSPACE`, `BUILD` and `.bazelrc` along with all the required dependencies and I am able to build the project. However, `bazel-bin` is empty.

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Copy the source files from one of the libcoral exam

[2022-11-01 20:45] bsilver8192 commented on #6341
@tp-woven For `cargo_build_script` specifically, `build_script_env`'s values undergo `$(location)` expansion. Looking at the docs for a link, looks like that's not documented, that would be good to fix...

Also, `cquery` isn't actually going to give you the information you need. `cargo_build_script` runs the binary from a path under the execroot to be more similar to `cargo`, so it has some tricky

[2022-11-01 21:57] trybka commented on #16309
Can you elaborate? `cc_test` in Starlark just delegates its linking to the `cc_binary` implementation (much the same way the Java version did).

Does the Starlark version behave differently from the native impl?

[2022-11-01 22:00] fmeum commented on #16309
Sorry for the false alarm, `cc_test` does inherit the dynamic runtime library handling from `cc_binary`. I don't know how the native implementation behaved, but if it delegated in the same way, nothing should have changed.

[2022-11-01 23:00] matthew-levan commented on #15326
This would be a much appreciated feature for late night coding.

[2022-11-02 00:12] tp-woven commented on #6341
I didn't realize we could use `$(location)` there, that does make it much simpler. Thanks @bsilver8192!

[2022-11-02 01:51] adam-azarchs commented on #15727
Another thing that was alluded to but maybe not called out explicitly is it would be useful to have an attribute like `type_checking_deps` to represent dependencies which are required for type checking but which are not required at runtime.  That is, in particular, `PyInfo.transitive_sources` would include the `srcs` for a `py_library` and its transitive `deps`, and `.transitive_type_checking_sour

[2022-11-02 06:26] adrianimboden commented on #16309
Yeah I think the `cc_test` part was more related to https://github.com/bazelbuild/bazel/issues/3592, which is a different thing.

In my current setup, it is no longer a problem (but I did a lot of changes since then, most with your help here, thanks again).

Right now, it looks like this (cc_test which uses genrule which uses cc_binary):
[code]

It is not really a problem, I was just suprised that

[2022-11-02 06:59] ywsswy opened #16627 "Create static lib (.a) failure"
### Description of the bug:

run command `bazel build //:mylib`, 'libmylib.a' not found, it seems ilke 'alwayslink = 1' in 'BUILD" file not worked ???

![image](https://user-images.githubusercontent.com/25153243/199420695-33fb5eab-ec1e-4c1a-a04d-55f42a09298a.png)

the 'BUILD' file:
[code]

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

ht

[2022-11-02 07:29] fmeum commented on #16627
If you want to build a shared library as a build output, use `cc_binary` with `linkshared = True`. That might be a bit unintuitive, but `<language>_library` rules aren't really meant to produce final build outputs.

[2022-11-02 07:32] ywsswy commented on #16627
@fmeum
i want to build a 'static' library, not shared library.

how could i build a static library ?

[2022-11-02 07:34] fmeum commented on #16627
@ywsswy Sorry, I published my comment too quickly but have edited it to address that part.

[2022-11-02 07:37] jin commented on #12924
Greg, is the premise of this FR sound? Folks using Bazel in AOSP could use this. Also pinged on the internal doc.

[2022-11-02 09:13] bazel-io opened #16628 "[6.0.0] Decanonicalize labels emitted by {a,c,}query if possible"
Forked from #16483

[2022-11-02 09:13] bazel-io opened #16629 "[6.0.0] Add `$(rlocationpath(s) ...)` expansion"
Forked from #16428

[2022-11-02 09:13] bazel-io opened #16630 "[6.0.0] Allow Java coverage collection for external targets"
Forked from #16268

[2022-11-02 09:39] #16627 closed

[2022-11-02 10:23] lberki opened #16631 "Crash when using the label `.`"
### Description of the bug:

The reproduction below results in the following crash dump:
[code]

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[code]

### Which operating system are you running Bazel on?

Linux

### What is the output of `bazel info release`?

Tried with Bazel at HEAD, also happens with 5.3.2

### If `bazel info release`

[2022-11-02 12:47] meteorcloudy commented on #16615
@kshyanashree Why this is closed?

[2022-11-02 12:48] meteorcloudy commented on #16615
https://github.com/bazelbuild/bazel/pull/16614 is not yet merged.

[2022-11-02 12:49] meteorcloudy commented on #16600
This one should not be closed, https://github.com/bazelbuild/bazel/issues/16577 is also not resolved.

[2022-11-02 12:50] meteorcloudy commented on #16584
Is the fix for https://github.com/bazelbuild/bazel/pull/16559 got cherry picked? Can you provide some information when closing the issue?

[2022-11-02 13:30] #16613 closed

[2022-11-02 13:31] meteorcloudy commented on #16615
https://github.com/bazelbuild/bazel/pull/16614 is now merged, @kshyanashree can you help cherry pick this into release-6.0.0?

[2022-11-02 15:52] benjaminp commented on #11718
No—the feature request for it is https://github.com/bazelbuild/bazel/issues/7962.

[2022-11-02 16:24] larsrc-google commented on #15340
So the command-line output is not that useful, but looking into the server log I see this stack trace which shows a UnsupportedOperationException at FileArtifactValue.java:352 - it's trying to get a ContentsProxy of a directory, which isn't supported. Despite what FileArtifactValue may think, it's not always an actual file. So the modification check should take appropriate action on things that ar

[2022-11-02 16:31] brandjon commented on #9986
This issue and discussion predated the refactoring of the Starlark interpreter, and the elimination of `SkylarkType` in particular. The current paradigm is to use `Sequence#cast` and similar to check types where necessary, and to treat `ParamType#generic1` as for documentation purposes only, with the Java method signature always using Object for the generic type.

[2022-11-02 16:31] #9986 closed

[2022-11-02 16:32] larsrc-google commented on #15340
Looking at the possible subclasses of FileArtifactValue, they mostly don't support the operations needed for the modification check. @frazze-jobb we'll have to figure out which kinds of inputs to ignore and which to handle properly. Here are the direct subclasses:

[code]

[2022-11-02 16:34] fweikert opened #16632 "Status of Bazel 7.0.0-pre.20221026.2"
- Expected release date: 2022-11-02

Task list:

- [x] Pick release baseline: [b422719f](https://github.com/bazelbuild/bazel/commit/b422719f35b1ae5ed5f7f83d05cd778e9c58d793)
- [x] Create release candidate: https://releases.bazel.build/7.0.0/rolling/7.0.0-pre.20221026.2rc1/index.html
- [x] Post-submit: https://buildkite.com/bazel/bazel-bazel/builds?branch=release-7.0.0-pre.20221026.2rc1
- [x] Push

[2022-11-02 16:37] brandjon commented on #12476
We're not in a position to work on micro-optimizations to the interpreter at the moment. Leaving this as P4 since it's nonetheless in-scope.

[2022-11-02 16:39] #13576 closed

[2022-11-02 17:31] brandjon commented on #12986
Update: We haven't had bandwidth to work on eliminating the latin-1 hack, but may reconsider after 2023 Q1.

[2022-11-02 17:34] brandjon commented on #13077
This wasn't done and it seems moot now that we're just days shy of releasing the second LTS after 4.0.

[2022-11-02 17:34] #13077 closed

[2022-11-02 18:49] arunkumar9t2 opened #16635 "Bazel NPE when setting `--java_classpath=bazel`"
### Description of the bug:

Setting `--java_classpath=bazel` on the command line and building a simple project crashes bazel with following stacktrace

[code]

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Add a simple `java_library` and build it with --java_classpath=bazel

### Which operating system are you running Bazel on?

MacOS Mo

[2022-11-02 19:44] #16632 closed

[2022-11-02 20:18] brandjon commented on #16597
Probably just version confusion but I'd be interested to know if there is any real blocker for using this feature. Will close if there's no response in O(week).

[2022-11-02 20:47] #16584 closed

[2022-11-02 20:54] SimonEbner commented on #15340
Thanks for looking into this. Not that it would help much, but leaving this smaller minimal example here for sake of simplicity
[code]

[code]

[2022-11-02 20:55] #16592 closed

[2022-11-02 21:02] #16630 closed

[2022-11-02 21:04] kshyanashree commented on #16615
Sure @meteorcloudy, Thanks!

[2022-11-02 22:05] #16615 closed

[2022-11-02 23:03] #16628 closed

[2022-11-02 23:27] fmeum opened #16643 "Repository mapping manifest does not exist in test sandbox"
### Description of the bug:

The `.repo_mapping` file does not appear in test sandboxes.

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[code]

`USE_BAZEL_VERSION=last_green bazel test //pkg:test --enable_bzlmod` fails
`USE_BAZEL_VERSION=last_green bazel run //pkg:test --enable_bzlmod` passes
`USE_BAZEL_VERSION=last_green bazel test //pk

[2022-11-02 23:27] fmeum commented on #16643
@Wyverald

[2022-11-02 23:35] gregestren commented on #16099
FYI @googlewalt 's team recently did some experiments on cleaning up the `objc_library` transition.

[2022-11-02 23:53] gregestren commented on #16044
How do you imagine passing the function pointer (i.e. where is the pointer defined and where does it get passed into `IncompatibleTargetChecker`)?

Would a direct function call from `IncompatibleTargetChecker::convertVisibility()` into `ConfiguredTargetFactory::convertVisibility()` trigger the circular dependency?

[2022-11-03 01:32] kuehl commented on #13624
I had the same problem and my workaround is a bazel_skylib native_binary wrapper. Edit root BUILD.bazel like
[code]
and run like `bazel run //:buildifier -- --help`

[2022-11-03 02:12] mobileink commented on #16597
It works with "last_green" in .bazelversion:

[code]

The core problem is that you documented something that did not exist. Please don't do that.

[2022-11-03 02:12] #16597 closed

[2022-11-03 02:15] matts1 opened #16644 "Override_repository silently fails if the repository previously didn't exist in bazel 6"
### Description of the bug:

It apppears that bazel 6.0 changed the API so that override_repository silently fails if the repository did not previously exist, while in bazel 5.3.2, it worked.

This is especially relevant, because the bazel intellij plugin relies on this feature to sync by adding a repository for the bazel aspect:
`--override_repository=intellij_aspect=/opt/intellij-ue-2021.3/plugi

[2022-11-03 02:34] artem-zinnatullin opened #16645 "Bazel repository cache is not safe for parallel builds"
### Description of the bug:

Hi Bazel team.

We're optimizing our CI build times and one of the slowest things for us is how Bazel resolves its repository caches which for our regular Android build is about 10GB of internet downloads.

Our CI builds run in k8s as containers, so sometimes one physical/virtual host fits multiple concurrent Bazel builds in their separate containers.

What we're tryin

[2022-11-03 03:04] philsc commented on #16044
I am embarrassed. I got `ConfiguredTargetFactory` and `ConfiguredTargetFunction` mixed up in my head. I don't think there's a problem. I should be able to call `ConfiguredTargetFactory::convertVisibility()` from `IncompatibleTargetChecker::convertVisibility()`.

Sorry about the noise.

[2022-11-03 03:06] pcjanzen commented on #16099
At the risk of stating the obvious, this is a problem inherent to _any_ rule that self-transitions on `--platform` or `--cpu`, not just `objc_library`.

[2022-11-03 04:01] sgowroji commented on #16644
Hello @matts1, can you raise the issue in https://github.com/bazelbuild/intellij repo. As soon t is more related bazel plugin. Thanks!

[2022-11-03 06:04] matts1 commented on #16644
Just filed https://github.com/bazelbuild/intellij/issues/4067. However, I don't believe it's an issue on their end.

IMO, this is an issue with bazel itself, since bazel should either explicitly provide an error like "unable to override repository becauase it doesn't exist" or it should succeed. Additionally, this is a mechanism people were relying upon, and I suspect not just intellij, but plugin

[2022-11-03 07:34] fmeum commented on #16644
@matts1 In order to hit this issue (a repo visibility error), you probably have to have `--enable_blzmod` (or `--experimental_enable_bzlmod`) somewhere in your `.bazelrc`, which is an important detail

I can reproduce this with any Bzlmod project with `common --enable_bzlmod` in `.bazelrc` and `last_green` in `.bazelversion`. In my case, the failing command line is:
[code]

If I replace `@intellij

[2022-11-03 07:59] fmeum commented on #16643
My guess (it really is only a guess) is that we have to explicitly add the repo mapping manifest to the input mapping in [`SpawnInputExpander`](https://cs.opensource.google/bazel/bazel/+/bbc221f60bc8c9177470529d85c3e47a5d9aaf21:src/main/java/com/google/devtools/build/lib/exec/SpawnInputExpander.java;l=119;drc=0a23d46976c3fc999d44fbd1e37732ec2442d485) for it to show up in sandboxed and remote execu

[2022-11-03 08:00] fmeum commented on #16643
@bazel-io flag

[2022-11-03 08:12] meteorcloudy commented on #12933
@gregestren Can you please make sure the incompatible pipeline says this flag is ready to flip before actually flipping it? This is causing a very red downstream: https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/2717#_

We'll have to rollback the flag flip. @SalmaSamy

[2022-11-03 08:50] larsrc-google commented on #15340
That's a nice small repro. It can also be done with just a directory as an input, so both directory and symlink handling needs to be fixed.

[2022-11-03 08:56] SalmaSamy opened #16646 "Bazel CI: Flipping config_setting_visibility flag broke many projects with Bazel@HEAD"
Many projects are broken in the [downstream](https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/2717) due to visibility issues.
Bazel:
<img width="1026" alt="Screen Shot 2022-11-03 at 12 52 32 PM" src="https://user-images.githubusercontent.com/16399431/199680115-727fe2b1-ab24-4f12-b63a-a1fafd807b4a.png">

Remote Cache:
<img width="1042" alt="Screen Shot 2022-11-03 at 12 54 26 PM" src

[2022-11-03 09:28] meteorcloudy commented on #16644
@matts1 This is WAI due to strict deps check if you did enable Bzlmod. Therefore, the problem should be fixed from the intellij plugin side, we can follow up this in https://github.com/bazelbuild/intellij/issues/4067

[2022-11-03 09:28] #16644 closed

[2022-11-03 09:56] meteorcloudy commented on #16584
@kshyanashree Can you put a link to the PR that cherry-pick the change when you close the issue?

[2022-11-03 09:57] meteorcloudy commented on #16592
@kshyanashree Can you put a link to the PR that cherry-picks the change when you close the issue?

[2022-11-03 10:03] sgowroji commented on #16584
Cherrypicked at https://github.com/bazelbuild/bazel/pull/16633

[2022-11-03 10:04] sgowroji commented on #16628
Cherrypicked at https://github.com/bazelbuild/bazel/pull/16638

[2022-11-03 10:04] sgowroji commented on #16630
CherryPicked at https://github.com/bazelbuild/bazel/pull/16637

[2022-11-03 10:05] sgowroji commented on #16615
Cherrypicked at https://github.com/bazelbuild/bazel/pull/16642

[2022-11-03 10:06] sgowroji commented on #16605
Cherrypicked at https://github.com/bazelbuild/bazel/pull/16606

[2022-11-03 10:07] sgowroji commented on #16592
Cherrypicked at https://github.com/bazelbuild/bazel/pull/16634

[2022-11-03 10:08] sgowroji commented on #16582
Cherrypicked at https://github.com/bazelbuild/bazel/pull/16589

[2022-11-03 10:08] sgowroji commented on #16581
Cherrypicked at https://github.com/bazelbuild/bazel/pull/16588

[2022-11-03 10:09] sgowroji commented on #16567
Cherrypicked at https://github.com/bazelbuild/bazel/pull/16572

[2022-11-03 11:13] bazel-io opened #16648 "[6.0.0] Make C++ runfiles library repo mapping aware"
Forked from #16623

[2022-11-03 13:31] konste commented on #9165
I also dislike platform specific parameters in cc_common API and was looking at this problem for quite some time. How Bazel solves this problem for the files like sanitizers configuration and such? `additional_inputs` attribute! Why don't we introduce `additional_outputs` attribute for both `cc_common.compile` and `cc_common.link`? It would be pretty generic solution to cover for instance precompi

[2022-11-03 13:47] coeuvre commented on #12635
With recent developments on BwoB, I believe this issue is fixed. I also verified with the repro you provided and it worked. Closing. Feel free to reopen if it doesn't work for you.

[2022-11-03 13:47] #12635 closed

[2022-11-03 13:49] coeuvre commented on #12137
I believe this is fixed with recent developments on BwoB. Closing. Feel free to reopen if it still doesn't work for you.

[2022-11-03 13:49] #12137 closed

[2022-11-03 13:50] larsrc-google opened #16649 "Subprocesses should be started from a long-lived process"
### Description of the bug:

Currently, subprocesses are started from whatever thread might like them. The linux-sandbox system sets up `PR_SET_PDEATHSIG` to die when the parent (i.e. thread) dies. That has been fine until now, but with Project Loom we can't say anything about the lifetime of an OS-level thread. Additionally, using the linux-sandbox for a worker can cause that worker to die if the

[2022-11-03 14:14] brentleyjones commented on #10880
@coeuvre Friendly ping on this 😊

[2022-11-03 14:23] brandjon commented on #16597
Ah, yes, I believe the docs on bazel.build are not yet versioned but will be in the near future, so this shouldn't happen again. (+@philomathing to refute if I'm wrong.)

[2022-11-03 14:42] comius commented on #15029
I tested a simple implementation of my proposal in https://github.com/bazelbuild/bazel/issues/15029#issuecomment-1293080679, but it just doesn't work. The problem are functions Artifact.getRunfilesPath and Label.getWorkspaceName, which only return one path and can't do a fallback.

It looks to me that backwards-compatible approaches are now fully doomed.

[2022-11-03 15:34] JaredNeil commented on #12635
Thank you for the update! Confirmed it still fails on `5.3.2` and `6.0.0-pre.20221020.1`, but passes on `7.0.0-pre.20221026.2` and `last_green`.

[2022-11-03 15:43] jsharpe commented on #6578
For anyone following this issue - @cloudhan's rules have now been migrated to https://github.com/bazel-contrib/rules_cuda. Any contributions are most welcome; also feel free to come chat in #cuda on bazel slack, particularly if you have any requirements that aren't met by the current rules.

[2022-11-03 16:01] tharakadesilva commented on #15206
Still observe the same behavior in `6.0.0-pre.20221020.1`.

[2022-11-03 16:02] tpudlik opened #16651 "Command line completion documentation is incomplete"
There is some documentation of [command line completion](https://bazel.build/install/completion), focused on how to install it. To my surprise, it doesn't discuss what I assume to be the most common scenario, i.e. bazel installed via bazelisk. (I assume you need to follow the bootstrapping instructions in this case, but it's far from obvious!)

It would be great if the documentation explicitly dis

[2022-11-03 17:50] brentleyjones commented on #12635
How about 6.0rc1? Just checking if we need to cherry-pick anything into the release.

[2022-11-03 18:01] gregestren commented on #12933
Yep, incompatible pipeline still failing: https://buildkite.com/bazel/bazelisk-plus-incompatible-flags/builds/1320

- The [bazel-skylib failure](https://buildkite.com/bazel/bazelisk-plus-incompatible-flags/builds/1320#018435e1-6b65-4968-bd3c-fe4073a6d1ec) is because bazel-skylib [uses](https://github.com/bazelbuild/bazel-skylib/blob/8a6ab72c6ece96cab91e17aaf4fb5339615d1d3d/WORKSPACE#L11-L12) rules

[2022-11-03 18:41] #10923 closed

[2022-11-03 21:50] jwnimmer-tri commented on #16645
FYI See https://bazel.build/remote/output-directories for layout information.  As I understand it, each of your builds should have a dedicated `outputBase`.

You might want to keep `~/.cache` inside the container, and instead set [--repository_cache](https://bazel.build/reference/command-line-reference#flag--repository_cache) to a shared mound, instead.  That way, only the download cache is shared

[2022-11-03 22:26] kshyanashree commented on #16629
cherry-picked at [PR #16653](https://github.com/bazelbuild/bazel/pull/16653)

[2022-11-03 22:26] #16629 closed

[2022-11-04 03:52] adam100150 commented on #16625
That was the issue.
Thanks!

[2022-11-04 03:52] #16625 closed

[2022-11-04 08:11] lberki commented on #15029
@comius can you elaborate why it doesn't work?. I don't understand your terse sentence _"only return one path and can't do a fallback"_; AFAICT when the runfiles input manifest is written, we have both the repository mappings and the runfiles artifacts, which is all the data one needs to product a runfiles manifest, no matter what format one chooses.

(I still think that the approach you linked ab

[2022-11-04 08:34] comius commented on #15029
The idea was to produce duplicated entries only on collision. The writing of runfiles manifest like this works. All the data is there.

The problem is that for example `Artifact.getRunfilesPath` is the way how Artifact expands on a command line. At the time it's called there is no information about conflicts and it can expand only into a single string. You get to choose to expand into a "no collis

[2022-11-04 08:41] lberki commented on #15029
Ah, got it. So it's not that writing the runfiles manifest doesn't work, it's that Bazel assumes that the runfiles path of an artifact is constant, which would not be under your proposal.

I could imagine having symlinks to an artifact both at its canonical location (which would be constant) and its "legacy" one (similarly to what @fmeum recommends in https://github.com/bazelbuild/bazel/issues/150

[2022-11-04 11:36] meteorcloudy commented on #12933
Re rules_pkg version in Bazel: https://github.com/bazelbuild/bazel/blob/master/distdir_deps.bzl#L300-L309
/cc @aiuto Looks like we just had 0.8.0 release yesterday

[2022-11-04 12:05] #16443 closed

[2022-11-04 12:05] #16456 closed

[2022-11-04 14:06] aiuto commented on #12933
Yes. I did an 0.8.0 yesterday to unblock my development work on rules_license.
I did not update Bazel to it.  I'll do a PR for that.
Greg: I suppose you want to backport that to the 6.0 RC branch.

[2022-11-04 14:09] meteorcloudy commented on #12933
Maybe not? If we are not cherry picking the flip of this flag in 6.0.

[2022-11-04 14:10] fmeum opened #16654 "incompatible_always_include_files_in_data"
Rules shipped with Bazel (e.g. `java_binary` and `cc_binary`) will merge the `files` in `DefaultInfo` providers of `data` dependencies in their runfiles, even if these files are not contained in `DefaultInfo.default_runfiles`. This brings native rules in line with the [recommended behavior for Starlark rules](https://bazel.build/extending/rules#runfiles_features_to_avoid).

This behavior can be te

[2022-11-04 15:13] Yannic commented on #16577
https://github.com/bazelbuild/bazel/commit/6c1e4b72ae63417e5e0f2c7aef42fdcb4c172fe6 is sufficient because it reverts https://github.com/bazelbuild/bazel/commit/f5711170da68d0d212710283f0e6e2b3254ccc86.

[2022-11-04 15:15] meteorcloudy commented on #16577
@Yannic Thanks! @kshyanashree please cherry pick https://github.com/bazelbuild/bazel/commit/6c1e4b72ae63417e5e0f2c7aef42fdcb4c172fe6 for https://github.com/bazelbuild/bazel/issues/16600

[2022-11-04 15:22] kshyanashree commented on #16577
Sure @meteorcloudy, I will do it. Thanks!

[2022-11-04 16:07] benbrittain opened #16657 "Toolchain Resolution with bzlmod"
### Description of the bug:

Toolchain resolution when using Bazel Modules seems backwards.

My understanding is that toolchains resolve in order of whoever registered them first. I've been experimenting with converting our WORKSPACE based bazel rules to use modules, which includes using module extensions to register a custom c++ toolchain. With Bazel Modules though, the intuitive thing is to have

[2022-11-04 16:28] gregestren commented on #12933
At this point I'd push this through best-effort (whatever version it lands in). There are other outdated dependencies and it's not vital to be specifically in 6.0.

[2022-11-04 16:37] benbrittain commented on #16657
I'm saying that is the desired behavior, but I might be incorrect.

Module A (txe in the above logs), uses module extensions to set up it's toolchain.
[code]
This works fine and code within that module works well.

I now have a downstream module which uses Module A and registers the execution platform which is also defined in Module A. However, it resolves the `local_config_cc//:cc-compiler-k8` in

[2022-11-04 16:47] #16657 closed

[2022-11-04 17:08] njlr opened #16658 "The order of WORKSPACE load should not matter - or at least give clearer warnings"
### Description of the bug:

Many rules interfere with each-other such that the order in which they are loaded in the `WORKSPACE` matters.

If the order is wrong, then the error message from Bazel does not help the user discover how to fix the issue.

Ideally, the order would not matter. Short of that, Bazel should give clear messages to help debug the issue.

Here is an example in the wild:
https

[2022-11-04 17:11] comius commented on #14140
It's slightly worse. It needs to convert it to execpath. There are no runfiles (because render is packed separately than input .bzl files), and no repo_mapping because of this.

[2022-11-04 17:16] keith commented on #16658
FWIW realistically at this point I think the solution to this will be "use bzlmod"

[2022-11-04 17:41] kilian-funk opened #16659 "Use `http_archive` with private Gitlab repo"
### Description of the feature request:

I would like to use this in my WORKSPACE file:

[code]
where `test_project` is a private repository.

### What underlying problem are you trying to solve with this feature?

The tarball containing the repo can be downloaded on the command line with:
[code]
Unfortunately the `http_archive` rule results in something equivalent to:
[code]
Therefore, `http_arch

[2022-11-04 17:51] Wyverald commented on #16659
Sending a custom HTTP header is a highly uncommon use case. For GitLab specifically, you can use the standard Authentication header instead: https://docs.gitlab.com/ee/api/#personalprojectgroup-access-tokens

[2022-11-04 17:51] #16659 closed

[2022-11-04 17:55] Wyverald commented on #16658
Indeed. This is a known issue, and so ingrained into how the whole WORKSPACE mechanism works that we decided to fix it by building a new system instead! Please take a look at https://bazel.build/docs/bzlmod.

[2022-11-04 17:55] #16658 closed

[2022-11-04 17:56] njlr commented on #16658
Thank you I will take a look!

[2022-11-04 18:33] cushon commented on #13097
https://github.com/bazelbuild/bazel/issues/11381 was a related change to Java tools, but the startup option still exists.

I'm not sure we want to upgrade the embedded JDK to 17 without fixing this: https://github.com/bazelbuild/bazel/pull/16541

@meisterT would you be willing to revisit the benchmarking from https://github.com/bazelbuild/bazel/pull/11774#issuecomment-660182407 with JDK 17? I reme

[2022-11-04 18:50] brandjon commented on #4185
This should be fixed with @Wyverald's work on repo remapping. Indeed, it doesn't seem to reproduce on Bazel 5.3.2.

[2022-11-04 18:50] #4185 closed

[2022-11-04 18:54] brandjon commented on #11387
I'm sure there are uses of this still in the documentation, but I don't think we need to keep this P4 around to track. I did update the [glossary entry for "rule"](https://bazel.build/reference/glossary#rule) to mention the discrepancy.

[2022-11-04 18:54] #11387 closed

[2022-11-04 19:07] kshyanashree commented on #16600
Cherry-picked at #16661

[2022-11-04 19:09] #16600 closed

[2022-11-04 19:28] brandjon commented on #8106
Closing as dup of #7093.

[2022-11-04 19:28] #8106 closed

[2022-11-04 19:53] fmeum commented on #14140
@comius I formated an alternative idea in https://github.com/bazelbuild/proposals/blob/main/designs/2022-07-21-locating-runfiles-with-bzlmod.md#4-make-stardoc-compatible-with-repository-mappings, do you think that could work? @tetromino is working on a rewrite of some parts of stardoc that would allow it to request bzl files from Skyframe (if I understood him correctly), which should also solve th

[2022-11-04 20:00] brandjon commented on #8185
This is moot in the current devsite documentation page.

[2022-11-04 20:00] #8185 closed

[2022-11-04 20:09] aiuto commented on #12933
As much as I would like to see it in 6.x, I keep seeing rippling churn of
updating dependencies. `rules_pkg` was merely the piece that the Bazel team
saw. I can easily imagine that kind of problem lurking in any rule set that
needs to define a config setting that others reuse.

On Fri, Nov 4, 2022 at 12:29 PM Greg ***@***.***> wrote:

[2022-11-04 20:14] brandjon commented on #8776
Not sure how many of Chris's issues from the first post remain, but we can still clean up the [One-Page Overview](https://bazel.build/rules/lib/starlark-overview#global-modules) (current link) some more. Off the top of my head:

* Create more documentation categories, maybe with a small amount of hierarchy, and display them in the overview and on the pages for the individual symbols. This would he

[2022-11-04 20:33] shahms opened #16662 "bazel cquery fails on any objc_library rule due to missing toolchain for cpu `darwin_x86_64`"
### Description of the bug:

Given a BUILD file which includes any `objc_library` target, a cquery which would include that target will fail on any platform which doesn't include a cc_toolchain for darwin (and presumably the appropriate CPU).

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Given the minimal BUILD file:
[code]
Running:
[co

[2022-11-04 20:40] kshyanashree opened #16663 "Release 5.4.0 - December 2022"
# Status of Bazel 5.4.0

-   Expected release date: 2022-12-15
-   [List of release blockers](https://github.com/bazelbuild/bazel/milestone/45)

To report a release-blocking bug, please add a comment with the text `@bazel-io flag` to the issue. A release manager will triage it and add it to the milestone.

To cherry-pick a mainline commit into 5.4, simply send a PR against the `release-5.4.0` bran

[2022-11-04 20:42] brandjon commented on #12392
I think the current versions of these pages fixed whatever issues are described above.

* https://bazel.build/rules/lib/fragments
* https://bazel.build/rules/lib/cpp

[2022-11-04 20:42] #12392 closed

[2022-11-04 20:47] googleson78 opened #16664 "IllegalArgumentException from aspect with rules_rust"
### Description of the bug:

When trying to run an aspect, Bazel crashes and I get a java callstack.

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

0. Clone https://github.com/dfinity/ic/
1. Switch to `6be560c9b965d9b76e5b85aa052fff5a2937c0c1`
2. Apply the *patch
3. Run `bazel run --config=local @rules_rust//tools/rust_analyzer:gen_rust_

[2022-11-04 21:07] brandjon commented on #1147
This should likely be dedupped against #12348, but I'll save that for whoever reviews these issues in detail.

[2022-11-04 21:09] brandjon commented on #15043
Dupping against #12348.

[2022-11-04 21:09] brandjon commented on #12348
Dup in #15043, also probably dup in #1147.

[2022-11-04 21:10] brandjon commented on #12348
Dup #15043 also has associated PR #15052.

[2022-11-04 21:20] gregestren commented on #14506
Just re-emphasizing (@criemen already noted) that we document the current behavior at https://bazel.build/docs/configurable-attributes#faq-boolean-select.

[2022-11-04 21:21] fmeum commented on #16664
I think that this crash should reproduce with any `ctx.expand_location` call that duplicates a target due to the use of `buildOrThrow` in https://cs.opensource.google/bazel/bazel/+/1a9e12a94e9df0a151a92b0ddb98b977226256c7:src/main/java/com/google/devtools/build/lib/analysis/starlark/StarlarkRuleContext.java;drc=1a9e12a94e9df0a151a92b0ddb98b977226256c7;l=1158. Instead of a crash, this should probab

[2022-11-04 21:35] brandjon commented on #15043
Sorry, I missed that #15052 is being actively developed, so I'll keep this issue alive as the author's preferred tracking bug.

[2022-11-04 21:38] tpudlik commented on #15874
I too became interested in how `py_proto_library` is coming along, and found it's now a PR: https://github.com/bazelbuild/rules_python/pull/832. Looks pretty close to going in!

[2022-11-04 22:16] bazel-io opened #16667 "[5.4.0] Add `$(rlocationpath(s) ...)` expansion"
Forked from #16428

[2022-11-04 22:32] illicitonion commented on #16664
See also https://github.com/bazelbuild/bazel/issues/14681

[2022-11-05 09:35] comius commented on #14140
Yes, that works. I was thinking of a slight alternative where macro would add a custom `java_binary` StardocMain with data runfiles. Maybe slightly less hacky, because you don't need a no-op executable.

Second alternative option is to add repository mapping information to `bzl_library` and dump it into a file in `stardoc` rule. I'm guessing you can collect the needed triples in `bzl_library` into

[2022-11-05 10:28] fmeum commented on #14140
The custom StardocMain binary sounds better, yes.

I am not so sure you can actually collect the apparent names because the rule implementation typically only sees the canonical names. But even if you could, reusing the existing repository mapping logic even if by a small hack seems more reliable to me.

@tetromino Can you estimate when you would get to work on the improved bzl loading for Stardoc

[2022-11-05 17:03] aaron-michaux commented on #7477
My system supports a combinatorial set of configurations:

[gcc9, gcc10, gcc11, gcc12, clang12, clang13, ...] x [lto, no-lto] x [opt, dbg, asan, ubsan, tsan] + [clang-tidy, coverage, perf].

If bazel had a hook for a function to programatically generate the output directory, that would be a snap. As it is, switching configurations often means rebuilding.

Platform suffix is cute; however, we're ta

[2022-11-05 17:07] moroten commented on #7477
@aaron-michaux Just wonder, how would you ideally like the directories organized?

[2022-11-05 18:23] aaron-michaux commented on #7260
It looks like `target_settings` works in certain contexts and not others. Modifying the above example:

This just doesn't work! It doesn't matter what `flavor` is set to, you always get the "gcc" toolchain.

But if I use "compiler" in my config_settings, then it works.

!@#$%
[code]

[2022-11-05 19:01] aaron-michaux opened #16671 "toolchain resolution ignoring "target_settings" list of config_values"
### Description of the bug:

The documentation for toolchain (https://bazel.build/reference/be/platform#toolchain) gives an attribute:

[code]

However, it seems that these config_settings are ignored during toolchain resolution.

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

In BUILD
[code]

In MODULE.bazel
[code]

On the command line
[

[2022-11-05 22:10] excitoon commented on #7477
And alive animals are available as well :)

On Sat, Nov 5, 2022, 8:03 PM Aaron Michaux ***@***.***> wrote:

[2022-11-05 22:46] aaron-michaux commented on #7477
Hi @moroten ,

Bazel, at some stage, has to determine the output directory, using things like "platform suffix" etc. It would be nice to be able to supply a function that has the necessary context (all the config_settings) so that you can just programatically return the directory that you want to use (build with the ingredients), obviating the need for pre-baked features like "platform suffix" (pr

[2022-11-07 05:50] tanishiking commented on #11996
For those who hit the same issue, I could work around it by `java_import` the zipped output directory of `rules_js` / `rules_nodejs` and include it to the classpath by `runtime_deps` with the following change https://github.com/tanishiking/bazel-playground/commit/b9dee7a0f268ae8fe2ab6178651b8e9f07ad6de1

here's the complete example https://github.com/tanishiking/bazel-playground/tree/main/11_rules

[2022-11-07 09:44] chickenandpork commented on #16247
This seems to be a default value added to something after the tutorial was written.

I created a bank file "toolchain/empty" and it seems to satisfy.

[2022-11-07 15:27] #16667 closed

[2022-11-07 16:09] #15043 closed

[2022-11-07 16:39] lberki commented on #3236
I spent some time trying to improve `--incompatible_sandbox_hermetic_tmp` so that it works also when the source tree or the execroot are under `/tmp`:

https://github.com/bazelbuild/bazel/pull/16674

[2022-11-07 16:58] jsharpe opened #16676 "[Mirror] make 4.4"
### Please list the URLs of the archives you'd like to mirror:

Please mirror http://ftpmirror.gnu.org/gnu/make/make-4.4.tar.gz for `rules_foreign_cc`

[2022-11-07 17:46] JaredNeil commented on #12635
Repro also passes on `6.0.0rc1`, so I don't think we need a cherry-pick to make the `6.0.0` release.

[2022-11-07 17:56] bazel-io opened #16678 "[6.0.0] Always collect FileProvider's filesToBuild as data runfiles"
Forked from #15052

[2022-11-07 19:10] bazel-io opened #16683 "[6.0.0] Expose current repository name to Java with @AutoBazelRepository"
Forked from #16534

[2022-11-07 19:18] kshyanashree commented on #16648
Cherry-picked at [PR 16675](https://github.com/bazelbuild/bazel/pull/16675).

[2022-11-07 19:18] #16648 closed

[2022-11-07 19:54] brandjon commented on #16150
This FR would require adding the ability to export Starlark-defined rules as `RuleDefinition` protos, and applying this process to top-level symbols defined in the prelude.

The prelude is only semi-supported to begin with -- we accept its existence but don't encourage its use. It's not clear to me we want to double down on it by blurring the line between it and native-defined symbols.

In any cas

[2022-11-07 20:04] crazyjat opened #16684 "Bazel can't find BUILD.bazel file on Windows"
### Description of the bug:

Windows version of bazel only looks for BUILD file and ignores BUILD.bazel file.

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Create new project with BUILD.bazel file on Windows.

### Which operating system are you running Bazel on?

WINDOWS 11

### What is the output of `bazel info release`?

release 5.3.2

[2022-11-07 20:37] konste opened #16685 "Please add additional_outputs attribute to cc_common.compile API"
### Description of the feature request:

cc_common_link API recently got the attribute `additional_outputs`. Please give the same treatment to cc_common.compile.

### What underlying problem are you trying to solve with this feature?

Primary problem I hope to solve with this feature is to enable support for precompiled headers, which is absolutely must have in many cases.

### Which operating sys

[2022-11-07 20:40] brandjon commented on #1195
Closing this issue because I think this change to the `existing_rules` API wouldn't make it simpler, and the workaround seems straightforward. We can track the general macro usability issue separately.

[2022-11-07 20:40] #1195 closed

[2022-11-07 20:51] brandjon commented on #14791
It sounds like you're talking about exposing this information to `bazel query`. The transitive contents of a `package_group` are formed during the analysis phase, not unlike a provider of a rule. I believe `query` does its own separate traversal of BUILD files to gather this information at loading time, so it may be possible to dump this information out.

[2022-11-07 20:53] #16684 closed

[2022-11-07 21:00] crazyjat opened #16687 "Bazel has major incompatibilities with `git bash` MINGW64"
### Description of the bug:

Several issues occur when using bazel on `git bash`.

For example, that "@io_bazel_rules_scala//twitter_scrooge:twitter_scrooge.bzl" rule results in errors about pathing:

The same command runs perfectly fine in PowerShell.

Here is my BUILD.bazel file as an example.

[code]

and the command i'm running is:

Note the extra slash since you guys still haven't fixed that

[2022-11-07 21:41] zdingsf opened #16688 "Escaping mode isn’t compatible with MSVC"
### Description of the bug:

cc_common.compile uses GCC_QUOTED ([code](https://cs.opensource.google/bazel/bazel/+/master:src/main/java/com/google/devtools/build/lib/rules/cpp/CppCompileAction.java;l=1467)) no matter what and this is not compatible with MSVC.  This seems like a [known issue](https://github.com/bazelbuild/bazel/blob/a1593309f66f892871e334013815b05350b4188f/src/main/java/com/google/d

[2022-11-07 21:50] brandjon commented on #16209
This sounds inconvenient and definitely not ideal, but I'm not sure what fix would result in the smallest amount of churn for users already dependent on the format of `deps`.

Note that due to repo remapping, if we did include the repo name as part of the stringification of label-valued attributes, that value would still not be portable across repos. I.e., if you retrieved `@foo//...` from the dep

[2022-11-07 23:10] UebelAndre opened #16689 "`--sandbox_debug` output is getting uploaded to remote cache"
### Description of the bug:

I'm seeing [--sandbox_debug](https://bazel.build/reference/command-line-reference#flag--sandbox_debug) output in my logs when I get a remote cache hit for an artifact that happened to be built with the flag enabled. This is very alarming and confusing for any developer building without this flag enabled. The use of `--sandbox_debug` should not impact the remote cache o

[2022-11-07 23:40] rickeylev commented on #15043
As an FYI, there may be some dependencies on this behavior between the Python rules and some other Google-internal rules. i.e. enabling the flag introduced by this will likely show failures in the Google global regression tests (TGP). See the large comment block in blaze/python/common.bzl#collect_runfiles for more details. The gist, though, is some Google-internal rules have different default outp

[2022-11-08 00:17] UebelAndre opened #16690 "External targets cc targets do not add the exec root to include paths"
### Description of the bug:

I have a reproduction at https://github.com/UebelAndre/bazel_include_repro with steps to reproduce the issue.

Currently C++ targets which have a mutual external dependency fail to compile with an error similar to the following:

[code]

After inspecting the subcommands it seems external dependencies do not get any flags which add the execroot to the include path. This

[2022-11-08 00:32] UebelAndre commented on #16690
https://github.com/bazelbuild/bazel/issues/11293 seems related

[2022-11-08 03:28] sgowroji commented on #16676
Please find the below mirror artifact

https://mirror.bazel.build/ftpmirror.gnu.org/gnu/make/make-4.4.tar.gz

[2022-11-08 03:28] #16676 closed

[2022-11-08 03:28] #16688 closed

[2022-11-08 08:32] fmeum commented on #15043
@rickeylev Thanks for mentioning this. I added a workaround to the migration guide at https://github.com/bazelbuild/bazel/issues/16654. Could that even work for Google?

[2022-11-08 10:20] coeuvre commented on #16587
Can you check whether this is reproducible with the latest release?

[2022-11-08 10:23] larsrc-google commented on #9425
Given the lack of response over two years, I'll say this is obsolete. Please reopen if that's not the case.

[2022-11-08 10:23] #9425 closed

[2022-11-08 10:45] aherrmann commented on #15755
@fmeum Right, should have clarified that. I'd expect a proper error instead of a crash. And I'd expect it to consistently fail with that error also if the remote cache is disabled.

[2022-11-08 12:59] Wyverald commented on #16209
Just FYI, this bug no longer surfaces if canonical label literals are used (`@@foo//...` doesn't get remapped), although right now this is only true if Bzlmod is enabled.

[2022-11-08 15:08] gregestren commented on #15157
I've heard another request from https://github.com/lizkammer.

[2022-11-08 15:18] ulrfa commented on #15340
The purpose of `checkForConcurrentModifications` is to check that an action has not changed the content of hardlinked files outside of the sandbox. `HardlinkedSandboxedSpawn.hardLinkRecursive` is resolving symbolic links and are only creating hardlinks for files, not directories. Therefor it should be safe to skip the concurrent modification check when `metadata.getType().isFile()` is false. That

[2022-11-08 15:40] katre commented on #16452
@pjk25 after a lot of work, I've concluded that the only way to "fix" this is to make the situation impossible. Can you please test rules_erlang with a bazel containing https://github.com/bazelbuild/bazel/pull/16686 and let me know the results? It doesn't appear to be on our downstream projects pipeline. But it could be! [Add it here](https://github.com/bazelbuild/continuous-integration/issues/new

[2022-11-08 16:17] UebelAndre commented on #16690
A workaround can be achieved by using [--per_file_copt](https://bazel.build/reference/command-line-reference#flag--per_file_copt)
[code]

[2022-11-08 16:34] UebelAndre commented on #12406
I've opened a cherry-pick for the 6.0 release per the guidance here: https://github.com/bazelbuild/bazel/issues/16159#issuecomment-1290400293
- https://github.com/bazelbuild/bazel/pull/16695

[2022-11-08 16:47] gregmagolan commented on #16159
@meteorcloudy This commit would be useful to cherry pick into 6.0 if possible https://github.com/bazelbuild/bazel/commit/4959d34e844714b793b2c6fa05016a9a6eaa7044. Fixes a minor annoyance in downstream rule sets. 🙏

[2022-11-08 16:49] meteorcloudy commented on #16159
@gregmagolan Can you send a PR to the `release-6.0.0` branch?

[2022-11-08 16:49] bazel-io opened #16696 "[6.0.0] fix: export constraints.bzl file from @local_config_platform so it can be used in downstream bzl_library targets"
Forked from #16665

[2022-11-08 18:17] oquenchil commented on #9165
That's good and if that's all you'd need then let's do it that way. But is that enough? Don't you need the pdb_file path to be part of a build variable so that the correct flag is expanded from a feature?

[2022-11-08 18:47] kshyanashree commented on #16678
Cherry-picked at [PR 16680](https://github.com/bazelbuild/bazel/pull/16680).

[2022-11-08 18:47] #16678 closed

[2022-11-08 19:44] kshyanashree commented on #16696
Cherry-picked at [PR 16698](https://github.com/bazelbuild/bazel/pull/16698).

[2022-11-08 19:44] #16696 closed

[2022-11-08 22:09] fmeum commented on #16124
Update: All changes relevant for Bazel 6.0.0 are now in review.

[2022-11-08 22:56] konste opened #16704 "C++ param files are not compatible with MSVC"
### Description of the bug:

1. When `--features=compiler_param_file` feature is enabled compilation rules produce param file for the compiler to read. When "dangerous" symbols (like spoaces, quotes and such) are present individual arguments in param file are escaped. Unfortunately escaping schema is hardcoded as GCC_QUOTED which is not compatible with how MSVC expects the file to be escaped.

2.

[2022-11-09 07:46] siquus opened #16705 "Archlinux: "bazel crashed due to an internal error" when building media pipe"
### Description of the bug:

When attempting to build [mediapipe](https://github.com/google/mediapipe) on Archlinux, Bazel experiences an internal error.

Archlinux
bazel v5.3.2
java openjdk 19.0.1 2022-10-18
mediapipe v0.8.11

`
[user@system mediapipe]$ bazel --version | sed 's/bazel //' >.bazelversion # requires Bazel 5.2.0 by default
[user@system mediapipe]$ bazel build -c opt --define MEDIAPIP

[2022-11-09 08:17] sgowroji commented on #16705
Dupe of https://github.com/bazelbuild/bazel/issues/15831

[2022-11-09 08:39] lberki opened #16707 "Allow per-repository customization of the name of BUILD/BUILD.bazel file"
### Description of the feature request:

It would be nice if each repository could tell how BUILD/BUILD.bazel files are called.

The "official" way of pulling in external dependencies is using external repositories, but reality is that a lot of code bases vendor their dependencies into their source trees. If those dependencies contain BUILD files, there is a high probability that they are not actu

[2022-11-09 08:39] lberki commented on #16707
cc @brandjon @comius

[2022-11-09 08:47] lberki opened #16708 "Implement configuration settings that pertain to a single binary"
### Description of the feature request:

It would be nice if one could implement configuration fragments that pertain to a part of the configured target graph.

The use case is that some projects want to compile a binary in different configurations, but not necessarily its dependencies. For example, one might want to compile a C++ binary with some sort of sanitizer. The natural place for the "whic

[2022-11-09 08:48] lberki commented on #16708
cc @digit-google @lizkammer

[2022-11-09 08:50] lberki opened #16709 "Make `cc_shared_library` non-experimental"
Make the cc_shared_library rule non-experimental after having been tested for enough time by users in different projects.

Major breaking changes after removal of the flag:
- The static_deps attribute is removed. Simply remove the attribute from existing targets. There is no longer a need to list everything that will be linked statically
- The roots attribute has been renamed to deps
- Several bug

[2022-11-09 08:55] lberki opened #16710 "Allow componsing rule implementations"
### Description of the feature request:

It would be nice of the implementation of a Starlark rule could call the implementation of another rule.

There are two current answers to this functionality:
* Macros (but they are much less powerful than rules and show up in `bazel query`, which is not ideal
* Calling the implementation function of another rule (it may or may not be exported, doesn't work

[2022-11-09 08:56] lberki commented on #16710
cc @comius @brandjon @lizkammer

[2022-11-09 09:02] lberki opened #16711 "Symlinked sandbox is slow"
### Description of the bug:

The symlinked sandbox is slow when there is a large number of input files (I have seen reports of actions with up to 300K)

There are a number of ways one could improve this:
1. Creating the input directories and symlinks on multiple threads (`SandboxHelpers` currently does this on one thread)
2. Traversing the Java -> C++ boundary less frequently
3. Using one symlink

[2022-11-09 09:04] lberki opened #16712 "Make it possible for source files to be unresolved symlinks"
### Description of the feature request:

Generated files can now be unresolved symlinks, in which case Bazel uses the value returned by `readlink()` and not by `read()` to determine whether it has changed; they can even be dangling symlinks that way.

For symmetry, it would be nice if source files also had this ability.

### What underlying problem are you trying to solve with this feature?

_No r

[2022-11-09 09:14] lberki commented on #16709
cc @oquenchil @lizkammer

[2022-11-09 09:37] bazel-io opened #16713 "[6.0.0] Make Bash runfiles library repo mapping aware"
Forked from #16693

[2022-11-09 09:37] bazel-io opened #16714 "[6.0.0] Make Java runfiles library repo mapping aware"
Forked from #16549

[2022-11-09 09:37] bazel-io opened #16715 "[6.0.0] Use `_repo_mapping` in C++ runfiles library"
Forked from #16701

[2022-11-09 09:40] Changqing-JING opened #16716 "[C++] Exclusion markers not working during run bazel coverage"
### Description of the bug:

// LCOV_EXCL_START and // LCOV_EXCL_STOP not working when run bazel coverage.

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

_No response_

### Which operating system are you running Bazel on?

Ubuntu 22.04

### What is the output of `bazel info release`?

_No response_

### If `bazel info release` returns `d

[2022-11-09 09:41] bazel-io opened #16717 "[6.0.0] Stage repository mapping manifest as a root symlink"
Forked from #16652

[2022-11-09 09:49] sgowroji commented on #16716
Hello @Changqing-JING, Could you please provide a minimal steps followed in reproducing the above issue with a sample example code. Thanks !

[2022-11-09 09:57] Changqing-JING opened #16718 "[C++] Exclusion markers not working during run bazel coverage"
### Description of the bug:

In a C++ project, // LCOV_EXCL_START and // LCOV_EXCL_STOP not working when run bazel coverage.

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Build and Run a simple C++ project with bazel coverage
Full code is pushed to github https://github.com/Changqing-JING/BazelCoverageBugCandidate.git

# Bazel project l

[2022-11-09 10:00] sgowroji commented on #16718
Dupe of https://github.com/bazelbuild/bazel/issues/16716

[2022-11-09 10:00] Changqing-JING commented on #16716
Hello @sgowroji,
Sorry due to my network problem this ticket is not correctly created. The correct one is
https://github.com/bazelbuild/bazel/issues/16718

[2022-11-09 10:01] sgowroji commented on #16716
Thanks can we close this issue ?

[2022-11-09 10:02] Changqing-JING commented on #16716
Yes, we can close this one and continue in #16718

[2022-11-09 10:03] dibakch opened #16719 "Windows Build 5.3.2 issues"
I'm running Bazel via Bazelisk on a Windows test machine.  Upgrading from 5.3.0 to 5.3.2 does not seem to work and running `bazelisk build ...` results in a noop without any output or any files written.

Minimal example (without Bazelisk):
[code]
This command does not show any output.

Any ideas for how to debug this further?  Was there a change in how the release is build, e.g., static linking vs

[2022-11-09 10:04] #16716 closed

[2022-11-09 10:07] fmeum commented on #16719
@meteorcloudy Could 5.3.2 be affected by the recently fixed Windows build issue?

[2022-11-09 10:20] #11920 closed

[2022-11-09 10:25] meteorcloudy commented on #16719
Cool, let me know if you have other questions, I'll close this one for now.

[2022-11-09 10:25] #16719 closed

[2022-11-09 11:56] cameron-martin commented on #16410
A fix for this issue could be to make `cc_import` also expose a dynamic library in the case that it is only given a static library. Unfortunately going the other way is not possible (creating a static library from a dynamic one).

[2022-11-09 12:59] dibakch commented on #16719
To fix this issue you can use the newest version of the [vcredist140 package via choco](https://community.chocolatey.org/packages/vcredist140).

[2022-11-09 13:27] matthewjh commented on #16711
Yes, please. It is known to be particularly slow on MacOS:

https://github.com/bazelbuild/bazel/issues/8230

In my (albeit limited experience), the biggest barrier to integrating Bazel into local developer workflows is the sandboxing time, which in many cases far outstrips action exec time.

[2022-11-09 13:31] purkhusid commented on #11920
@coeuvre Any chance that this gets into 6.0?

[2022-11-09 14:22] coeuvre commented on #11920
I will try to cherry-pick this into 6.0.

[2022-11-09 14:25] mobileink commented on #16671
Same problem on Mac:

[code]

[code]

[2022-11-09 14:25] brentleyjones commented on #16711
This one would really help for Apple platform builds where they produce bundles of bundles.

[2022-11-09 14:32] tjgq commented on #16689
Some notes:

- This can also be repro'ed with a `--disk_cache` instead of a remote cache.
- When an action runs in sandboxed mode, we spawn a parent process that sets up the sandbox, forks a child process to run the actual spawn, waits for it to complete, then tears down the sandbox
- The `--sandbox_debug` flag causes the parent to output to stderr
- The child inherits its stdout/stderr from the p

[2022-11-09 14:58] coeuvre commented on #13912
Sorry, should have closed this after https://github.com/bazelbuild/bazel/pull/16720 is merged.

[2022-11-09 14:59] brentleyjones commented on #13912
Does your comment still stand about renaming? Could https://github.com/bazelbuild/bazel/pull/16720 get into 6.0 at least?

[2022-11-09 15:01] larsrc-google commented on #16689
That does seem wrong, yes. Maybe `--sandbox_debug` can output the debugging info to another fd that Bazel then sends to its own stderr.

[2022-11-09 15:07] coeuvre commented on #13912
With #16720, I don't think renaming matters anymore. Also, this flag only makes sense when using along with BwoB, so making it default globally doesn't sound good.

I think so.

[2022-11-09 15:09] brentleyjones commented on #13912
I think renaming still matters.

I agree :+1:.

[2022-11-09 15:09] konste commented on #9165
Of course it would be great to have first class toolchain support for precompiled headers. It would require two new build variables - one for PCH to create and one for PCH to use as they require different command line flags. Also two new specialized arguments for cc_common.compile would be required. On the positive side it would not be Windows specific by any means - these days precompiled headers

[2022-11-09 16:19] #13912 closed

[2022-11-09 16:54] fmeum opened #16721 "`print` statements are deduplicated in Bazel 6.0.0rc1"
### Description of the bug:

With Bazel 6.0.0rc1, calling `print` multiple times with the same message in the same location results in only a single line being printed.

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[code]

### Which operating system are you running Bazel on?

Linux

### What is the output of `bazel info release`?

6.0.0

[2022-11-09 16:54] fmeum commented on #16721
@bazel-io flag

[2022-11-09 17:08] fmeum commented on #16721
My local bisect points to 3f5edd841ef1af7a65793df6a1a1d0d68b689d97.

@justinhorvitz Is it possible that 3f5edd841ef1af7a65793df6a1a1d0d68b689d97 resulted in events being deduped if they compare equal?

[2022-11-09 17:12] justinhorvitz commented on #16721
Quite possibly. I can see how that change might affect print statements. I will look into this.

[2022-11-09 17:47] #16452 closed

[2022-11-09 18:42] cameron-martin commented on #16410
In the readme of the [linked reproducer](https://github.com/cameron-martin/bazel-linking-imported-archives) there is essentially such a shell script. Does running these commands not produce a linker error?

[2022-11-09 19:01] mtarsel opened #16723 "[bazel.build] Update link for ppc64le on /install page"
Please update external link for ppc64el under `Community-supported architectures` to our new mirror located at OSU OSL:

https://ftp2.osuosl.org/pub/ppc64el/bazel/

located at this link: https://bazel.build/install#community-supported-architectures

Bazel binaries for ppc64le will continue to be hosted here and no longer at unicamp. Please reach out to me on slack if there is any questions about p

[2022-11-09 21:23] justinhorvitz commented on #16721
`--notrack_incremental_state` still prints twice because it doesn't store the events and bypasses the deduplication filter. Also, print statements within a rule's implementation function will still print multiple times for different rules, since the event gets "tagged" with the rule label.

I'll try to restore the previous behavior.

[2022-11-09 23:21] pcjanzen commented on #16410
[code]

but if i do
[code]

[2022-11-10 01:33] justinhorvitz commented on #16721
There's another curious case which as far as I can tell never worked. Two different packages call the same macro in a bzl file, and that calls print. That was always deduplicated because it was from different sky functions (assuming no other prints or other events involved).

[2022-11-10 04:22] jwhpryor opened #16726 "[bazel.build] Problem with /install/ubuntu"
Trying to install a fresh install on both Debian and Ubuntu I'm unable to install Bazel onto the stock image of a cloud VM from Google.

When I run `sudo apt update && sudo apt install bazel` from the instructions I get:

Hit:1 http://us-west1.gce.archive.ubuntu.com/ubuntu bionic InRelease
Get:2 http://us-west1.gce.archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Get:3 http://us-west1.

[2022-11-10 07:19] ittaiz commented on #6354
@cushon do you know if there are any plans on dropping JDK 8 support?

[2022-11-10 08:16] pjk25 commented on #16452
I just gave this a try and it still fails.

I tried with [ra@cb29a0017d21efafc317d794fd77d2d148cf15c4](https://github.com/rabbitmq/ra/tree/cb29a0017d21efafc317d794fd77d2d148cf15c4) and this patch:
[code]

And ran: `bazel build :erlang_app --config=rbe-25`

This is the bazel version:
[code]

which should contain the fix according to https://github.com/bazelbuild/bazel/commits/f0fca21a876323f49233f4

[2022-11-10 08:18] pjk25 commented on #16452
and thanks for looking into this @katre

[2022-11-10 08:28] pjk25 commented on #16452
Looking at the diff for https://github.com/bazelbuild/bazel/pull/16686 I can see how this issue might still remain. The `platform` rules the generated `@erlang_config` repository don't use `select` directly, only indirectly through the `alias`s produced by `selects.config_setting_group`.

[2022-11-10 08:57] pjk25 commented on #16452
Oh, one more thing. My machine has erlang 25.0 installed, and that will affect which erlang version is selected as the default when `@erlang_config` is generated. Therefore, one might actually need erlang installed on the host machine to reproduce the issue.

[2022-11-10 09:41] cameron-martin commented on #16410
You're right, I'm not sure how I messed up the reproducer so much. I'll investigate some more and get back to you.

[2022-11-10 11:57] #16723 closed

[2022-11-10 12:22] celkas commented on #16208
@fmeum This will be available in 6.0.0 if I understand it correctly, right? Should I close it only then, after having verified it?

[2022-11-10 12:27] fmeum commented on #16208
@celkas Yes, both commits are going to be in 6.0.0. You can close the issue if everything works for you with these changes.

[2022-11-10 12:51] tjgq opened #16729 "incompatible_strict_conflict_checks"
Turning on this flag forbids the creation of nested artifacts (where one is a prefix of the other). For example, a regular artifact referring to a file inside a tree artifact, or a tree artifact referring to a subdirectory of another tree artifact. They are currently allowed as long as they're both produced by the same action.

When the flag is flipped, nested artifacts will produce an error:

[co

[2022-11-10 13:51] 80degreeswest commented on #16587
https://github.com/bazelbuild/bazel/commit/8b61746cf18d3d8413b569e0b5fca639d28914ea fixes the issue.

[2022-11-10 13:51] #16587 closed

[2022-11-10 15:04] aiuto commented on #10687
I had forgotten this issue, since it was about the flag to add the feature. The feature was added and the flag removed long ago, so I am going to close this issue.   Let's discuss more of what rules_license does in that repository rather than this thread.

To answer some of the points from above.
- many of the issues/PR mentioned are now done
- I am working on a unified mechanism to splice license

[2022-11-10 15:04] #10687 closed

[2022-11-10 15:35] #16643 closed

[2022-11-10 17:31] bazel-io opened #16735 "[6.0.0] Add --experimental_action_cache_store_output_metadata to the expansio…"
Forked from #16720

[2022-11-10 20:41] andrewkatson opened #16737 "protoc and Windows"
I asked this over on the protobuf github but they said it was my compiler setup. And since `protoc.exe` is built using the bazel toolchain when invoked through `bazel build` I figured this was a more appropriate place to bring up my issue.

### Description of the bug:

On Windows if you try to run the bazel built in `protoc.exe` you get an error like so

[code]

If you try to `bazel build` a proto

[2022-11-10 20:43] andrewkatson commented on #16737
Also I am working with a legacy binary that cannot use `msvc` it has too many assembly files that are impossible to migrate.

[2022-11-10 20:45] andrewkatson commented on #16737
Also for the record everything was building just fine before 2 days ago. I needed a fairly complex build command but it did the charm.

`bazel build src:all --compiler=mingw-gcc --copt="-O3" --copt="-DWIN32_LEAN_AND_MEAN" --copt="-DMINIUPNP_STATICLIB" --linkopt="-static" --copt="-DZMQ_STATIC"`

[2022-11-10 20:47] andrewkatson commented on #16737
I believe I have also had this issue before and bazel was setting `PATH` to not include `C:/Windows/System32` so it was missing key dlls. Now it has this entry problem which if I understand correctly could be fixed by just statically linking everything into `protoc.exe`. I would be happy to make a pull request if I could get someone to point me in the right direction.

[2022-11-10 21:56] garymm commented on #16413
From reading [this](https://openradar.appspot.com/radar?id=5536824084660224), it seems like there are legitimate uses of this linker flag that don't have work-arounds.

[2022-11-10 22:49] #16721 closed

[2022-11-10 22:56] kshyanashree commented on #16717
Cherry-picked at [#16733](https://github.com/bazelbuild/bazel/pull/16733).

[2022-11-10 22:56] #16717 closed

[2022-11-10 23:29] andrewkatson commented on #16737
I also tried completely uninstalling `msys2` and reinstalling from scratch and I still get the same issue.

[2022-11-11 03:04] kshyanashree commented on #16735
Cherry-picked at PR #16740.

[2022-11-11 04:35] tbaing opened #16741 "Execlog parser should output each action's digest"
### Description of the feature request:

While trying to determine why a given target results in a remote cache miss, I used the execlog parser to gather detailed logs about what was happening. I wanted to get the action digest for the problematic action, to check for the existence of that object in the remote cache, but didn't see anything I recognized as that. The output contains hashes for each

[2022-11-11 06:22] fmeum commented on #16721
@justinhorvitz Thanks for the quick fix! Could you cherry-pick it to the `release-6.0.0` branch?

[2022-11-11 07:41] kshyanashree commented on #16683
Cherry-picked at PR #16736.

[2022-11-11 07:43] #16683 closed

[2022-11-11 08:06] moroten opened #16742 "exec_properties in constraint_values do not propagate"
### Description of the bug:

The field `exec_properties` in a [constraint_value](https://bazel.build/reference/be/platform#constraint_value) does not propagate to remote execution.

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Example code:
[code]
then run
[code]

Expected: {"properties":[{"name":"os","value":"linux"}, {"name":"gpu", "v

[2022-11-11 08:22] moroten opened #16743 "Propagate exec_properties from toolchains"
### Description of the feature request:

The field `exec_properties` in a [toolchain](https://bazel.build/reference/be/platform#toolchain) does not propagate to remote execution.

As a rule can depend on multiple toolchains, I would expect all the exec_properties from all toolchains to be merged to the action. Manually propagating `exec_properties` to [ctx.actions.run](https://bazel.build/rules/li

[2022-11-11 08:26] ywsswy opened #16744 "How can i query which repository the indirect-repository is added by？"
### Description of the bug:

I find `@some_rep_a//:xxx` in some repository's BUILD file, but don't know what & where `some_rep_a` it is.

The `WORKSPACE` file use git_repository rule to add external repositories, such as `some_rep_b`, `some_rep_c`, but no
`some_rep_a`.
I guess that the `some_rep_a` may be added in `some_rep_x`'s `WORKSPACE` file, or other repository's `WORKSPACE` file else.
How ca

[2022-11-11 08:35] fmeum commented on #16744
Does `bazel query --output=build //external:some_rep_a` provide the output your are looking for?

[2022-11-11 08:44] ywsswy commented on #16744
@fmeum Yes it is, thank you very much.

[2022-11-11 08:44] #16744 closed

[2022-11-11 09:51] tjgq commented on #16741
You're looking for the [`SpawnExec.digest`](https://cs.opensource.google/bazel/bazel/+/master:src/main/protobuf/spawn.proto;l=183;drc=b4b8b2614ae854651075506666f109d0fc508ad1
) field. This is a new addition in Bazel 6.

On a separate note: you might want to use `--execution_log_json_file` to produce the log in JSON format instead of binary and avoid using the execlog parser.

[2022-11-11 10:14] meteorcloudy commented on #16538
This is documented in the BCR repo: https://github.com/bazelbuild/bazel-central-registry/tree/main/docs#yank-a-module-version

We'll probably also add doc on yanked version when we polish the Bzlmod doc on bazel.build.

[2022-11-11 10:30] celkas commented on #16208
@fmeum Tested it with 6.0.0rc1. Still failing. States `WARNING: There was no coverage found.` for both versions (5.3.2 and 6.0.0rc1) alike.

Did also some more tests with `bazel clean` (using both versions) in between the runs, but to no avail.

[code]

[2022-11-11 10:32] fmeum commented on #16208
@celkas Sorry, the changes were cherry-picked after the RC cut. Could you try again with `last_green`? All of this should be in `6.0.0rc2` when it is cut.

[2022-11-11 11:22] meteorcloudy opened #16746 "Bazel CI: Bazel watcher and rules_jvm_external broken with Bazel@HEAD"
Bazel Auto Sheriff report: https://buildkite.com/bazel/bazel-auto-sheriff-face-with-cowboy-hat/builds/1093

Bazel Watcher (from `//internal/e2e/output_runner:output_runner_test`):
[code]

rules_jvm_external:
[code]
https://github.com/bazelbuild/rules_jvm_external/search?q=Assuming+maven+local+for+artifact

Culprit: <del>https://github.com/bazelbuild/bazel/commit/6c77c5a4ad82816b3e448364fc9168d9d4e

[2022-11-11 11:23] meteorcloudy commented on #16746
@justinhorvitz It looks like some projects may depend on Bazel's output, do you see any easy way to avoid breaking them? Otherwise, the downstream projects may have to adapt this change.

[2022-11-11 13:36] tjgq commented on #15639
FYI, I'm going to backport this into 5.4.0 because I got a report of another user running into an issue related to this.

[2022-11-11 13:41] celkas commented on #16208
Solved in 6.0.0

[2022-11-11 14:45] andrewkatson commented on #16737
I spoke with @meteorcloudy and he said that it likely was still some libraries dynamically linked against were not on `PATH` so I used https://github.com/lucasg/Dependencies to find them and then it worked!

[2022-11-11 14:45] #16737 closed

[2022-11-11 15:22] juliays opened #16748 "when setting up bazel on ubuntu running on ARM64, getting "bazel-real: cannot execute binary file: Exec format error""
### Description of the bug:

downloaded bazel-4.2.3-installer-darwin-arm64.sh and bazel-5.3.2-installer-darwin-arm64.sh and followed [instructions]( https://bazel.build/install/ubuntu) using binary installer to set up.

Getting this error when running the installer bash script for both installer versions -

**_Uncompressing....../home/vscode/bin/bazel: line 220: /home/vscode/.bazel/bin/bazel-real:

[2022-11-11 15:24] meteorcloudy commented on #16746
Ah, you are right, it probably should be https://github.com/bazelbuild/bazel/commit/6e945e8ab422ca0a195d09899cce61ba6c0cfa59, the culprit finder detected https://github.com/bazelbuild/bazel/commit/6c77c5a4ad82816b3e448364fc9168d9d4e1c44f because it failed to download the Bazel binary built at this commit:
[code]

I'll look into the infra issue

[2022-11-11 15:40] meteorcloudy commented on #16746
I have fixed the missing Bazel binary issue, and indeed it succeeded at https://github.com/bazelbuild/bazel/commit/6c77c5a4ad82816b3e448364fc9168d9d4e1c44f and failed at https://github.com/bazelbuild/bazel/commit/6e945e8ab422ca0a195d09899cce61ba6c0cfa59.

[2022-11-11 16:12] meteorcloudy commented on #16748
Have you tried to run the Bazel arm64 binary on a actual Linux arm64 machine? I'm guessing you are running a docker container on arm64 macbook? That might cause this issue.

[2022-11-11 16:21] fweikert opened #16750 "Status of Bazel 7.0.0-pre.20221102.3"
- Expected release date: 2022-11-11

Task list:

- [x] Pick release baseline: [19b8d245](https://github.com/bazelbuild/bazel/commit/19b8d24531fb728701a85ec050361d434600b5d2)
- [x] Create release candidate: https://releases.bazel.build/7.0.0/rolling/7.0.0-pre.20221102.3rc1/index.html
- [x] Post-submit: https://buildkite.com/bazel/bazel-bazel/builds?branch=release-7.0.0-pre.20221102.3rc1
- [x] Push

[2022-11-11 16:33] justinhorvitz commented on #16746
Thanks for confirming the culprit and fixing the infra issue. Regarding the failing tests, can we determine whether the issue is an assumption in the test about `print()` semantics vs a real production issue? The difference is that prints are not replayed on incremental builds when the Starlark code is not executed. Can tests which run multiple `bazel` commands just check the output after the firs

[2022-11-11 16:45] juliays commented on #16748
I don't have a Linux arm64 machine. I need to get it working in a container. What's the difference? What's involved making it working in a container? Thanks!

[2022-11-11 17:00] ittaiz commented on #6354
Got you.
Do you think that can be promoted?
Either by you, someone on bazel, or external contribution?

[2022-11-11 18:36] #16750 closed

[2022-11-11 22:58] tbaing commented on #16741
I switched to the JSON format (thanks for the suggestion!) and it's easier to read. I do see the `SpawnExec.digest` field there, but I'm noticing it's not present in some cases like local execution, which is exactly the situation where I'd want to see its value. Is there a reason it's not present for local execution?

[2022-11-11 23:38] codeman9 opened #16754 "executable bit not being set with (--remote_download_minimal or --remote_download_toplevel) and --define=apple.experimental.tree_artifact_outputs=1"
### Description of the bug:

Prior to this commit: https://github.com/bazelbuild/bazel/commit/dfccbf975358da93a5ef0fe0f9438873e2a06ee5, our iOS app was getting the executable bit set, as it should. After that commit, the app no longer has the executable bit set. This only happens using either `--remote_download_minimal` or `--remote_download_toplevel`.

There may be a correlation to this flag: `--

[2022-11-11 23:41] keith commented on #16754
cc @tjgq

[2022-11-12 05:37] cpsauer commented on #12852
I think this may be an _even_ more general bug where toolchain environment variables are missing from aquery output.

(I've been trying to help a user over at https://github.com/hedronvision/bazel-compile-commands-extractor/issues/83#issuecomment-1312067222 and noticing that EM_BIN_PATH and the other emscripten environment variables are missing from aquery output, despite being set in [the toolcha

[2022-11-12 07:04] lockmatrix commented on #15359
add `--spawn_strategy=sandboxed` solved this problem for me

[2022-11-12 19:15] keith commented on #16413
Yes there are definitely legit use cases, but I don't think it needs to be the default, since I believe most use cases are pretty specific scenarios

[2022-11-12 21:34] bushuevkonstantun1408 opened #16756 "[bazel.build] Problem with /community/users"
Вы сами блокируете Мой выход в интернет? #16755

[2022-11-12 21:36] bushuevkonstantun1408 commented on #16756
Хамская блокировка Моего интерфейса?Не забрыкались!
--
Отправлено из myMail для Android воскресенье, 13 ноября 2022г., 00:34 +03:00 от Konstantin  ***@***.*** :

[2022-11-12 23:10] #16756 closed

[2022-11-13 00:02] fmeum commented on #16124
This is mostly done now, with only the bugfix https://github.com/bazelbuild/bazel/pull/16755 and a number of cherry-picks to 6.0.0 missing.

[2022-11-13 02:37] jwhpryor commented on #14502
I recently ran into this issue with JNI Bind and your solution worked!

That said, it would be great to have a solution that's future proof.  Is this expected to be fixed in Bazel itself?  I would think this would effect all Bazel users that use `java_test`?

Sorry for the basic question, I didn't think I'd done anything special in my setup, but I'm not very competent with setting this stuff up so

[2022-11-13 05:35] kshyanashree commented on #16714
Cherry-picked at [PR 16751](https://github.com/bazelbuild/bazel/pull/16751).

[2022-11-13 05:35] #16714 closed

[2022-11-13 21:18] Colecf opened #16758 "Unify bazel configuration"
### Description of the feature request:

While working on configuration for builds in Roboleaf (building android with bazel), we noticed that bazel configuration seems to be in a half-finished state and there's some improvements that could be made to make it much clearer and more flexible.

Notably, there is currently no way to transition on constraint settings/values, other than transitioning on

[2022-11-14 01:44] doubler opened #16759 "bazel test generate test.xml miss "classname" which cannot pass the junit schema check"
### Description of the bug:

the `bazel test` output file `test.xml` failed to pass the junit validation

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

`bazel test //package:target`
Check the XML reports are located in `bazel-testlogs/package/target/test.xml`
[code]
## 🔥 Exception or Error
miss the `classname` attribute which is required

[2022-11-14 07:50] torgil commented on #14023
@konste We have the exact same multi-platform scenario with custom platforms. As discussed under #14236 we use "Output Directory Name" transition to resolve this situation (in combination with a few other patches referenced in that thread).

[2022-11-14 14:45] meteorcloudy commented on #16721
@bazel-io fork 6.0.0

[2022-11-14 14:45] bazel-io opened #16760 "[6.0.0] `print` statements are deduplicated in Bazel 6.0.0rc1"
Forked from #16721

[2022-11-14 14:55] glukasiknuro commented on #16587
@coeuvre should there be 5.3.3 release with this fix?

[2022-11-14 15:38] katre commented on #16743
It is an accident that the rule `toolchain` has an `exec_properties` attribute, I plan to remove it in the near future. I don't see any specific use cases that can't be handled differently, and this feels very confusing.

[2022-11-14 15:38] #16743 closed

[2022-11-14 15:41] meteorcloudy commented on #16746
@justinhorvitz I believe it's fine since we are making a major release (so cherry picking incompatible change is fine) and this looks like something simple and nice to fix.

[2022-11-14 16:02] kshyanashree commented on #16715
Cherry-picked at #16752.

[2022-11-14 16:03] #16715 closed

[2022-11-14 16:07] bazel-io opened #16761 "[5.4.0] Fix hanging issue when Bazel failed to upload action inputs"
Forked from #16464

[2022-11-14 16:27] kshyanashree commented on #16721
Hello @meteorcloudy! Here we are #16762. Thanks!

[2022-11-14 17:02] brandjon opened #16763 "Provide way to suppress call stack in fail() output"
A FR was made to suppress the traceback in `fail()` from a macro or rule. The use case is when the rule author just wants to notify the end user of the reason for the failure, without bogging them down in implementation details of the rule itself.

See also #13275, which wants to do the converse of this FR: add a way to include a stack trace in `print()`.

[2022-11-14 17:19] konste commented on #14023
@torgil thank you for the link! Complexity of those interconnected problems is mind bending! Unfortunately using custom built Bazel is out of the question for us. Even using rolling builds was only accepted as temporary.
I understand you also deal with C++, so in case "tree artifacts" get in the picture be aware of this conected bug: https://github.com/bazelbuild/bazel/issues/15770.

[2022-11-14 17:22] cushon commented on #14502
This is another example where something like `java_runtime(..., feature_version = 11)` would be helpful.

Related: https://github.com/bazelbuild/bazel/issues/6354#issuecomment-1310489402

[2022-11-14 17:23] cushon commented on #6354
I'm not sure I'm going to get to it in the near future, but I think it could potentially make a good external contribution.

[2022-11-14 18:04] torgil commented on #14023
@konste Thank you for the link. Nice, we also use "any" for any-platform, that's almost a standard now then. "output directory name" option was removed in 5.0.0-pre.20210929.1 so if you can live with an earlier version you should be good.

[2022-11-14 18:54] tjgq commented on #16741
You are correct - the field is missing for locally executed actions because the corresponding data structure ([`RemoteCacheClient.ActionKey`](https://cs.opensource.google/bazel/bazel/+/master:src/main/java/com/google/devtools/build/lib/remote/common/RemoteCacheClient.java;l=39;drc=d1a9f156135d6e002e06929c06b6cac6650fa8e2)) is only created for actions that run remotely.

I agree that producing a di

[2022-11-14 19:28] jin commented on #16758
cc @lizkammer @lberki

[2022-11-14 20:05] tbaing commented on #16741
For the action to run locally, wouldn't we have had to compute the ActionKey and use it to check the remote cache, and only execute locally after a cache miss? Shouldn't the ActionKey already exist by this point?

[2022-11-14 20:10] tjgq commented on #16741
There's also the question of whether/how we should populate the field if neither remote caching nor remote execution are enabled.

[2022-11-14 20:43] kshyanashree commented on #16760
Cherry-picked at #16762

[2022-11-14 20:43] #16760 closed

[2022-11-14 21:22] susinmotion commented on #16208
We're rolling #16637 back since it's breaking some internal tests :( Reopening to keep track of it again.

[2022-11-14 21:22] susinmotion commented on #16228
We're rolling https://github.com/bazelbuild/bazel/pull/16637 back since it's breaking some internal tests :( Reopening to keep track of it again.

[2022-11-14 21:49] bazel-io opened #16765 "[6.0.0] Allow Java coverage collection for external targets"
Forked from #16268

[2022-11-14 21:50] meteorcloudy commented on #16765
https://github.com/bazelbuild/bazel/commit/4caae75b49e815ad2cf1d805f316bc374f03f2ae needs to be cherry picked as the rollback of https://github.com/bazelbuild/bazel/commit/8f956511bb115c39ac683a1e78971fcf9dce5deb

[2022-11-14 22:43] GMNGeoffrey opened #16767 "Ability to silence visibility warnings (or filter warnings in general)"
### Description of the feature request:

I would like the ability to silence warnings like:

These *only* occur when someone has set `--nocheck_visibility`, so it seems pretty likely that they are not interested in the warning. Perhaps they are interested in collecting all visibility warnings, but it seems like they could just pass `--keep_going` and look at the errors.

Some ideas for how to solv

[2022-11-14 23:24] iqDF commented on #2846
Hi how can we enable this from user perspective?

[2022-11-14 23:43] tbaing commented on #16741
The difficulty of "we have it but not here" makes sense.

Maybe alternatively we could include information about the cache interactions (checking and writing) in the raw log for the run? That would allow us to see the ActionKey being used and the success/failure results for each interaction with the cache, eliminating both the problem of not having the necessary info at the time we construct the c

[2022-11-15 00:28] agoulti commented on #2846
This is automatically enabled. Search for "process" in the Bazel output command line, you'll see a line such as:

[code]

(also see https://bazel.build/remote/cache-remote and https://bazel.build/remote/cache-local if you want more tools)

[2022-11-15 02:54] kshyanashree commented on #16713
Cherry-picked at #16753

[2022-11-15 02:55] #16713 closed

[2022-11-15 03:10] kshyanashree commented on #16765
Cherry-picked at #16766

[2022-11-15 04:15] sgowroji commented on #16767
Dupe of https://github.com/bazelbuild/bazel/issues/12358

[2022-11-15 05:40] keith commented on #16767
I feel like most people solve this today by just aggressively marking everything as public

[2022-11-15 07:45] sgowroji commented on #16383
Similar issue with documentation https://github.com/bazelbuild/bazel/issues/14879#top

[2022-11-15 11:45] fansehep opened #16768 "can not found third_party dependency"
### Description of the bug:

We have a rpc project. He relies on a number of other open source projects. The other source projects don't provide the bazel build. so we write the rules. but when we want to make it be a third_party to depend. The bazel give us many erros. can not found ourself rules for other projects.
a workspace dep like :
[code]
![2022-11-15_14-11-1668495269](https://user-images.

[2022-11-15 15:02] andrewkatson opened #16769 "py_binary broken on Windows"
### Description of the bug:

The `py_binary` rule fails to open an associated `.zip` file when running it. For instance, I have a binary named "configure" and it fails to find "configure.zip"

Here is the exact error it gives me. It seems it is prepending a non existent path to the real path.

[code]

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if p

[2022-11-15 15:23] c-mita commented on #16718
I believe that these markers are specific to the lcov tool (`geninfo`), which I believe parses the original source files to identify these markers and then exclude ranges from its output.

The compiler, `gcov`, etc, do not do anything special with these markers AFAICT, so the inputs to Bazel's coverage management is exactly the same, and Bazel does not parse the source files at this stage.

[2022-11-15 16:21] c-mita commented on #16169
`--collect_code_coverage`, combined with an appropriate `--instrumentation_filter` should enable instrumentation, even if you're just doing a build. This allows you to build an instrumented binary.

But there are caveats; Bazel performs a few extra steps for generating coverage reports during test execution. These steps obviously won't happen. For C++ this means you will simply get the output `gcd

[2022-11-15 16:23] oquenchil commented on #12852
Is this just for C++ rules?

[2022-11-15 17:14] oquenchil commented on #16520
Problem with this as far as I can see is that if we change the behavior of that existing feature we might break existing projects. But I agree that:

is a valid use case and the toolchain should allow this.

@[brooksmoses](https://github.com/brooksmoses), do you have any ideas related this?

[2022-11-15 18:29] GMNGeoffrey commented on #16767
I don't think that's accurate. In fact the `--output_filter` and in particular `--auto_output_filter` seems to cover that use case (I haven't checked, since no one ever responded to that issue).

Indeed, that's what I meant about visibility being basically non-functional in a multi-repo world. This doesn't work for dependencies on an external project that has failed to do this though (*cough* tens

[2022-11-15 19:19] #16271 closed

[2022-11-15 19:42] oquenchil commented on #16222
We should fix alwayslink so that it affects shared libraries too and --no-as-needed precedes the files on the command line. But a more important underlying theme is the lack of flexibility in the C++ rules to construct the exact command line that you want, although that'd be a different fix to the one needed here.

[2022-11-15 19:49] oquenchil commented on #16222
I think the latter problem (lack of flexibility) could be solved here if cc_library had the attribute additional_linker_inputs like [cc_binary](https://cs.opensource.google/bazel/bazel/+/master:src/main/starlark/builtins_bzl/common/cc/cc_binary_attrs.bzl;drc=1746a7958d8c332cae563333d9028b066373e547;l=48), then subtsituting the location to the file in the linkopts attribute like it's done [here](ht

[2022-11-15 21:06] Kernald commented on #16159
@meteorcloudy e7d50fcd46f4383ab2dc61cd0873f262b580158b seems to be required for Android + bzlmod to work fine. Any chance to get it in 6.0.0?

[2022-11-15 21:29] bazel-io opened #16771 "[6.0.0] Fix Bash rlocation failure with stricter Bash options"
Forked from #16755

[2022-11-15 21:47] oquenchil commented on #13037
I'm not sure if this is documented already but if it isn't we should just write somewhere that it isn't supported and fail gracefully instead of crashing.

[2022-11-15 21:47] Wyverald commented on #16159
@Kernald https://github.com/bazelbuild/bazel/pull/16772

[2022-11-15 21:48] oquenchil commented on #13000
This is available as implementation_deps.

[2022-11-15 21:48] #13000 closed

[2022-11-15 22:02] Wyverald commented on #16771
cherry-picking at https://github.com/bazelbuild/bazel/pull/16773

[2022-11-15 22:26] #16771 closed

[2022-11-16 05:03] Changqing-JING commented on #16718
@c-mita I'm sorry it's not the case.
geninfo is not reasonable of filter out // LCOV_EXCL_START. The filter is done by lcov command on linux.
For example:
main.c
[code]

Makefile
[code]

[2022-11-16 08:38] cpsauer commented on #12852
I'm pretty sure it also affects Objective-C, at least, but I'm not sure whether it affects other language toolchains/Java.
[It's been a problem everywhere I've looked, but I haven't needed to dive into the Bazel toolchains for other languages just yet.]

[2022-11-16 10:47] rdesgroppes opened #16777 "Support `runtime_deps` in `java_plugin` rule"
### Description of the feature request:

As of Bazel 5.3.2, the [java_plugin](https://bazel.build/reference/be/java#java_plugin) documentation mentions that:

... but this is not true for `runtime_deps`:

Would it be possible to support this argument there to allow passing dependencies that only make sense for the execution of the annotation processor?

### What underlying problem are you trying t

[2022-11-16 12:22] lberki commented on #16758
cc @gregestren

Do you consider wrapping the product configuration variables in a rule tech debt?

I thought that it was a pretty neat abstraction because one custom build setting is better than hundreds of them. If we wanted to change single product variables in configuration transitions, we'd  have a problem, I guess, but to the best of my knowledge, that's not necessary.

You can both set `labe

[2022-11-16 14:55] lberki commented on #16712
Yep.

[2022-11-16 16:46] brandjon commented on #16707
Discussed offline with lberki@. Marking P4 for reference but may be bumped higher if we determine this use case is compelling.

[2022-11-16 16:48] brandjon commented on #16710
I'd like to look into this in 2023 as part of a larger effort to understand the best path for making macros and rules play nicer together.

[2022-11-16 16:57] c-mita commented on #16718
`geninfo` is part of `lcov`; it's just a pile of perl, a wrapper around a bunch of tools.

A little experimentation shows that `lcov` is able to respect these flags because it receives textual output from `gcov`.
In your example above:

[code]
The textual output includes the source and so the markers can be seen and respected.

But Bazel receives "intermediate" outputs, the nature of which has cha

[2022-11-16 18:22] woonhak commented on #6005
Hi, I'm experiencing the same issue.
Is there any work-around for this issue?

[2022-11-16 18:47] nreid260 opened #16799 "API for getting the provider class name from the key/ctor object"
## Problem:

I want to write error (and sometimes debug) messages that are parameterized on a provider class. The key/ctor is available but as a variable.

## Proposal

Create an API for getting the name from the key/ctor. Possible ideas that don't work today:
  * `str(FooInfo)`, returns `"Provider"`
  * `FooInfo.name`

Related approaches that also don't work:
  * `type(dep[FooInfo])`, returns `"<

[2022-11-16 19:57] lberki commented on #16380
Update: we talked with @linzhp in person at BazelCon and I offered him the option of building a `bazel query` operator which could be used to do the following:

1. One identifies the top-level targets one wants to build
2. One calls `bazel query magicdeps(:target, 1)` to identify the packages that need to be on disk to be able to load the direct dependencies of `:target`
3. One checks out these pa

[2022-11-16 20:43] vdye commented on #16380
This approach is almost identical to one of the ones I considered before opening this issue ("create a mode/option allowing `bazel query` to print out dependencies that are declared by a resolved target, but cannot be resolved themselves"). I decided against continuing down that path because it loses one of the core tenets of this proposal, which is that a user shouldn't need external tooling (in

[2022-11-16 20:43] torgil commented on #14294
One use-case is a single bazel target producing a summarized test report for a larger codebase without the need to collect lots of files and run scripts outside the build tree.

[2022-11-16 20:45] celkas commented on #16208
As of now as a workaround for this problem, I use an intermediate version, e.g. `7.0.0-pre.20221102.3`.

Usage for [this test repo](https://github.com/celkas/bazel-issue-tests):
[code]

[2022-11-16 20:49] celkas commented on #16208
@fmeum As an aside: `genhtml` is not able to find the path if I do not create a symlink into the `bazel` execution runtime folder. Is that expected? It is reasonable as `genthml` does not know anything about the `bazel` environment. I could of course also `cd` into that directory temporarily, but I do not like both solutions.

[2022-11-16 21:24] c-mita commented on #6450
That looks like the most likely reason for an NPE (`getExecutable` returns null). We can add a check here to avoid the crash, but the input tool definitely need to be executable.

[2022-11-16 21:33] alexeagle opened #16778 "[bazel.build] Problem with /reference/be/general: view source went to wrong place"
I wanted to contribute an edit to the genrule documentation, but the "View Source" button goes to https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/docgen/templates/be/rules.vm which seems like a velocity template that dynamically pulls the content.
Ideally this page would need a view source on each of the rules that goes to the actual text for that rule: http

[2022-11-16 21:59] lberki commented on #6450
Yeah, that's all I'm asking for; one can't do much with a tool that's not executable, it's just that crashing is not acceptable.

[2022-11-16 22:23] larsrc-google commented on #16711
`--experimental_reuse_sandbox_directories` is essentially your point #5, and it helped a lot. #3 (tree artifacts) does sound reasonable. The others I'd like to have some measurements for first, to see how much we can actually save.

[2022-11-16 23:14] skye opened #16780 "FR: option to specify maximum number of failures before aborting"
### Description of the feature request:

A new test option to make bazel abort all remaining tests after a certain numbers of test cases have failed, e.g. `--max_test_failures=N` or something. This is similar to pytest's `--maxfail` option.

It would be fine if a few more tests ran after hitting the limit due to running tests in parallel.

### What underlying problem are you trying to solve with t

[2022-11-17 00:36] lberki commented on #16711
Learned today: https://github.com/ikorennoy/jasyncfio , io_uring in Java (I'm not sure if it's useful and it'd be an extra dependency, but I don't want this nugget of data to get lost)

[2022-11-17 01:47] fmeum commented on #16208
@celkas That's always going to be a problem as external repositories aren't materialized in your workspace, they only exist under the Bazel output base. Does genhtml let you specify additional source roots? If so, you could use that instead of the symlink. If there isn't, some `sed` or the symlink is going to be your best bet.

[2022-11-17 02:11] Changqing-JING commented on #16718
@c-mita
Thank you very much for your very detailed explanation.

In my research, it seems that genhtml is a pure visualization tool, which can't process the // LCOV_EXCL_START marker.

As a solution or workaround, we can create a filter of the "lcov format" to exclude DA and BRDA which are in side  // LCOV_EXCL_START marker.
[code]

But I still want to know, is there an existing open source soluti

[2022-11-17 12:55] lberki commented on #16380
@vdye : yeah, it's not a great idea I had, it's a preference of mine between two of your ideas :) I do realize that it would not be as nice a user experience, but it would be much easier to support indefinitely. _(Thus spake the Master Programmer:
"Though a program be but three lines long, someday it will have to be maintained.")_

I'll resist the temptation to pass judgement on the approach you h

[2022-11-17 13:25] lhs7248 opened #16782 "[bazel.build] Problem with /reference/be/objective-c"

[2022-11-17 14:15] lberki commented on #16711
Did you try synthetic loads? That would be a much easier avenue than testing on Chrome OS / Kleaf builds.

[2022-11-17 14:20] meisterT commented on #16711
@lberki Can you share the build that actually triggers the slowness? From there we can work towards a more minimal repro.

[2022-11-17 15:00] larsrc-google commented on #16712
Do you have an actual use case for this? Symmetry sounds nice, but not adding code that doesn't get used sounds even nicer.

[2022-11-17 15:18] dt commented on #7095
I spent a little time this morning looking into why I was seeing very frequent protoc recompilations in cockroachdb/cockroach development and I believe that in my case might also be down to PATH changes as described above, but what was surprising to me is that this is a result of using the rules_go recommended editor configuration for my editor (VS Code).

My editor is configured using [the recomm

[2022-11-17 15:31] sudoforge commented on #7095
yeah, this is really a bit of hidden knowledge that you learn through trial like you, but due to the sensitivity of `PATH` changes here, it's best to always execute `bazel` in the same environment. i've come to the conclusion that this means either focusing on

A) only executing bazel in the same environment locally, e.g. always via VS Code, or always via your shell; or
B) setting up RCE and alway

[2022-11-17 15:36] comius commented on #16573
After discussion in person: this is the intended behaviour of DefaultInfo.files and runfiles. Probably best solution is to move the file from DefaultInfo.files into validation output group - that models the desired behaviour of typechecking a TS file. It will run when building the binary target directy, but not when it's used as a tool. Flags can further control when it's run.

Possible, but unadv

[2022-11-17 15:38] dt commented on #7095
For what it's worth, the executions "via" vs code here aren't voluntary ie me triggering builds in my editor versus from my terminal -- they are the result of the recommended editor configuration which changes its code navigation/inspection (via gopls) to be backed by bazel and gopackagedriver (which seems good!). These invocations happen "out of sight" and in the background so it wasn't obvious t

[2022-11-17 15:44] lberki commented on #16712
My understanding is that the Chrome OS SDK contains file system trees and those have symlinks that are not dangling when installed, but are dangling on the system where the build happens.

I'll add to you to the pertinent thread.

[2022-11-17 15:58] meisterT commented on #13097
I redid benchmarking and added results here: https://github.com/bazelbuild/bazel/pull/11774#issuecomment-1318848456

[2022-11-17 15:59] brentleyjones commented on #14125
@tjgq: you, @BalestraPatrick and I talked at BazelCon today about this, and you mentioned that we should be able to store the hash in metadata (or use the hash that is already in metadata?) to prevent having to follow the symlink and re-hash it. And if not, I suggested we could associate the hash with inodes, cache that, and do it that way instead.

[2022-11-17 16:55] illicitonion commented on #11904
/cc @katre - we discussed this today at BazelCon :)

[2022-11-17 17:12] comius commented on #16777
The implementation already uses `deps` as something that only makes sense during execution of the plugin. Those `deps` cannot be used by targets where plugin is run. Thus, that's why there are no `runtime_deps`.

Maybe there is a problem that `unused_deps` don't account for this correcty?

[2022-11-17 17:15] comius commented on #16664
Any crashes like this need to be fixed in Bazel as well.

[2022-11-17 17:23] blorente opened #16783 "Make it possible to express desired Xcodes and sdks as platform constraints"
### Description of the feature request:

Currently, Bazel offers configuration flags (`--xcode_version`, `--macos_sdk_version`...) to select which of the (potentially conflicting) Xcode installations to use.

However, we would like to offer Xcode configurations (Xcode and SDK versions) as platform constraints, to be able to select toolchains and other things on them. The global flags get in the wa

[2022-11-17 18:45] illicitonion opened #16784 "Apple toolchain env values don't get mixed into actions unless --cpu=darwin"
### Description of the bug:

When building a `cc_binary` (or other CcToolchain-depending target), Bazel sets up some environment variables for the actions, based mostly on flags passed to bazel, to drive the clang wrapper in particular ways, e.g. the `APPLE_SDK_PLATFORM` and `APPLE_SDK_VERSION_OVERRIDE` environment variables based on e.g. the `--macos_sdk_version` flag.

Ideally, this would all be

[2022-11-17 18:49] lberki commented on #16380
To add to my previous comment: I can see how piggybacking on `PackageLookupFunction` and shelling out to an external binary (in some form) would be a solution. It has a number of issues, though, that are non-trivial to solve:

1. How do you cache the non-existence of packages? When Bazel sees (for example) `//a:b/c`, it has to verify that `a/b/BUILD` does not exist or if one says `bazel build //no

[2022-11-17 19:33] comius commented on #16497
I think the parameters are reasonable (and easy) to add. Please go ahead.

[2022-11-17 19:34] Bencodes commented on #14556
We chatted briefly after the Performance BOF session. Is this something you'd still be willing to do?

[2022-11-17 19:35] Bencodes commented on #14556
@larsrc-google We chatted briefly after the Performance BOF session. Is this something you'd still be willing to do?

[2022-11-17 19:35] drewmacrae opened #16786 "--local_test_jobs causes bazel to ignore local resource limitations"
### Description of the bug:

I apply a cpu:4 tag to a set of sh_tests that requires 4 cores to run without timing out. When I set `--local_tests_jobs` the tests are dispatched regardless of the requirement.

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Run 2 sh_tests that "sleep 10" with a cpu:1000 tag and `--local_tests_jobs=2` on a mu

[2022-11-17 19:38] comius commented on #15999
Sorry, can you better describe the requested functionality?

What would `test` parameter do?

At the moment command line propagated aspects are able to produce some files, but they are neither full binaries or tests. I don't see how this new functionality fits.

[2022-11-17 19:50] rdeushane commented on #12921
This isn't an issue with Bazel, it's an issue with how Tasking writes dependency files in a non-standard way that Bazel cannot read. You need to implement a wrapper around your compiler that rewrites between these two formats:
[code]

[2022-11-17 19:53] katre commented on #16783
What do you envision these constraints looking like? To be honest, I'm not convinced that constraints are the right solution here: what xcode version to use isn't a factor of the host platform or the target platform, it's something the developer should decide. My ideal solution would be to make these build settings, but add machinery to targets like `ios_application` to set the correct levels.

[2022-11-17 20:24] comius commented on #15662
The solution is to use a path returned by `$(rlocationpath //alias_label)` used in the rule attribute (passing it to sh script). The function knows how to resolve aliases. On older Bazel versions <6, `rootpath` can be used.

cc @fmeum

[2022-11-17 20:30] fmeum commented on #15662
What @comius said, just want to add that `rlocationpath` is already in Bazel 5.4.0.

[2022-11-17 20:35] comius commented on #15659
We are considering adding primitive operations over `depset`s, with the goal of removing all `to_list()` calls.

Filtering a depset might be one of appropriate primitives and having something similar to `glob` for `depset`s of Files makes sense.

cc @haxorz

[2022-11-17 20:44] comius commented on #12313
I think the default implementation should be the obvious one. Parameters in the list should be passed to the binary without any changes.

Doing this might break others who had to workaround this. So anybody fixing the implementation should also put it behind an incompatible flag.

[2022-11-17 20:58] tjgq commented on #14125
Yes, my thinking is that #16283 could be adapted to do this - specifically, by having the symlink action itself inject the metadata for the symlink artifact into skyframe, instead of doing it only for BwoB. (I did try this at one point, but ran into some google3-specific issues and would have to look into it again.)

[2022-11-17 21:26] vdye commented on #16380
@lberki

I wasn't looking to take credit, just clarify that I'd deeply considered the pros/cons of what you suggested and note the conclusion I had reached.

I [detailed earlier](https://github.com/bazelbuild/bazel/issues/16380#issuecomment-1284480381) why third-party tools are insufficient from a usability perspective. Tools that do what you’re suggesting already exist (most similarly, [`bgsc`](h

[2022-11-17 21:57] maxious commented on #16380
I'd echo this sentiment. We already enforce conventions against patterns in Bazel (and other tools) that are incompatible with sparse checkouts.

[2022-11-17 22:15] lberki commented on #16380
Neither did I so I thought it's better to clarify. It's all good!

I can't think of an objective measure, unfortunately. If I had, I would have already informed you about it; what I'm looking for is some combination of:
* Simple interface (so that we have less user support load and users can understand what's going on easier)
* Simple implementation (so that there is less place for bugs to lurk in

[2022-11-17 22:17] lberki commented on #16380
@vdye this thread is now long enough that I think a video call would be more productive. Which time zone do you live in?

I'm at BazelCon this week and my calendar is completely full, but we could arrange a call next week, which hopefully let us come to an agreement earlier. Until then, I guess a centithread it is?

[2022-11-17 22:23] yuzhy8701 commented on #16520
If changing existing feature is undesired, what about adding new fields? Maybe `cc_toolchain` can accept two new fields, or maybe create a new rule (`cc_toolchain_import`) that behaves like cc_import, with a `link_when` field specifying if this is for dynamic mode, static mode, or both modes...

[2022-11-17 23:09] manuelnaranjo commented on #16380
With all the talks in BazelCon around wrappers built on top of bazelisk and the plugin model they provide, couldn't we just use the magic method approach and do all the git dancing in there? That way we can all benefit from it while keeping the internals clean.
Last year when we looked into partial cloning at Booking we found similar issues, having something like this available could really benefi

[2022-11-17 23:28] vdye commented on #16380
Given that `bazelisk` is an "official" wrapper for Bazel, this might address some of my concerns about third party tooling (namely, ease of adoption & standardization). I haven't looked into the plugin model there, but it doesn't sound too complicated? I can try to quickly put something together to prove it out. Thanks @manuelnaranjo!

@lberki I'm not around next week, but I am the week after (tim

[2022-11-17 23:56] manuelnaranjo commented on #16380
@vdye they're built on top, they mentioned 2 in the conference https://github.com/aspect-build/aspect-cli and https://github.com/buddy-works/buddy-cli

[2022-11-18 00:13] kshyanashree commented on #16159
Bazel 6.0.0rc2 is now available for those that want to try it out.

You can download it from:
https://releases.bazel.build/6.0.0/rc2/index.html

Please report regressions to https://github.com/bazelbuild/bazel/issues as soon as possible.

[2022-11-18 00:21] vogelsgesang commented on #16159
Is there already a release announcement draft? The "[Create draft release announcement](https://docs.google.com/document/d/1wDvulLlj4NAlPZamdlEVFORks3YXJonCjyuQMUQEmB0/edit)" seems to not contain anything for Bazel 6, yet

[2022-11-18 01:14] vdye commented on #16380
Hmmm, I must have misinterpreted then. I assumed the "plugin model they support" was referring to `bazelisk` supporting plugins, rather than the wrappers on top of it. That brings us back to "you need to manually install some third-party tool (in this case, the wrapper) from outside the Bazel or Git ecosystems," and all the drawbacks associated with that.

One thing I wanted to mention, since the

[2022-11-18 01:48] iminders commented on #7719
MacOS Monterey
bazel:5.2.0
GCC: Apple clang version 14.0.0

Still empty  _coverage_report.dat

[2022-11-18 03:48] linzhp commented on #16380
@manuelnaranjo From user experience's perspective, the `magicdeps()` approach is not better than the current approach we have at Uber (see my [Git Merge talk](https://youtu.be/5xGc3UlsQHQ)). After each rebase/merge from the main branch, users still have to run a third tool to refresh their sparse work tree so all deps are checked out. The differences are:
1. `magicdeps()` avoids maintaining a full

[2022-11-18 04:19] sgowroji commented on #16782
Hello @lhs7248, Can you please add the complete issue description with all the details. Thanks!

[2022-11-18 04:21] #16705 closed

[2022-11-18 04:21] #15831 closed

[2022-11-18 04:41] GabrielGhe commented on #12075
@meisterT

[2022-11-18 04:45] GabrielGhe commented on #12075
The profile might not be the best place to add extra information about action size/sha256 etc. Ideally we would want some way to filter the execution log or reduce it's size. Our execution log can get to over 5 GB on a clean build.

Open to other ideas. The use case is that we want to be able to find the first actions that were cache misses that invalidated many other actions.

Thanks!

[2022-11-18 05:45] iminders commented on #13193
- MacOS Monterey
- bazel 5.2.0
- Apple clang version 14.0.0 (clang-1400.0.29.202)

the same

[2022-11-18 07:49] gregmagolan opened #16789 "Directory artifact not present in sandbox using Bazel 6.0.0rc2"
## Description of the bug:

Using Bazel 6.0.0rc1 or rc2 and with `--remote_download_outputs=toplevel` (or `minimal`), `remote_cache` (or `disk_cache`) & sandboxed execution, directory artifacts are not present in runfiles in the sandbox.

### Conditions for issue

- Bazel 6.0.0rc1 or rc2
- directory artifact (created with `ctx.actions.declare_directory`) in runfiles of a test or binary target
- sa

[2022-11-18 07:51] gregmagolan commented on #16789
cc @fmeum

[2022-11-18 07:55] gregmagolan commented on #16789
cc @alexeagle

[2022-11-18 08:21] tshaynik commented on #16497
Thanks @comius. The proposed changes are implemented [here](https://github.com/bazelbuild/bazel/pull/16498).

[2022-11-18 08:44] ProPablo opened #16790 "Malformed link to module in node based project build"
### Description of the bug:

Hello, recently tried to build this repo: https://github.com/lewish/asciiflow and had issues regarding webpack. Never used bazel so I  am a bit unfamiliar with how to fix this, and it could potentially be an issue with the repo itself. As the readme advises, I have installed bazelisk and simply ran `bazel run client:devserver`.

I had some issues with wsl, same as this

[2022-11-18 11:48] lberki commented on #16380
Yeah, I am aware of the limitations in [here](https://github.com/bazelbuild/bazel/issues/16380#issuecomment-1319507045) and that it currently cannot be done with `bazel query`. It also has the problem that currently `bazel query` can't tell without erroring out which `.bzl` files are required by a `BUILD` file. But a `magicdeps()` version that works sounds like a reasonable and well-delineated add

[2022-11-18 12:35] fmeum commented on #16789
@bazel-io flag

[2022-11-18 12:59] comius commented on #15454
I changed the team, because the issue is more concerned with the execution phase than it is with Rules API. Local exec seemed to be the closest pick, although probably not precise one.

[2022-11-18 13:43] weedless commented on #16743
Hi @katre!
I am struggling with a [similar problem](https://groups.google.com/g/bazel-discuss/c/AE2LOPpdW00) where we build a product for several architectures. When building, the dependency tree contains transitions into different platforms with corresponding toolchain resolutions. Some of the toolchains are license limited and only available on a remote execution cluster.
Is there a way to direc

[2022-11-18 14:45] bazel-io opened #16792 "[6.0.0] Also collect clang resource directory with `-no-canonical-prefixes`"
Forked from #16730

[2022-11-18 14:45] bazel-io opened #16793 "[6.0.0] Flip `--incompatible_always_include_files_in_data`"
Forked from #16692

[2022-11-18 14:47] bazel-io opened #16794 "[6.0.0] Include source files with `cquery --output=files`"
Forked from #16602

[2022-11-18 14:47] meteorcloudy commented on #16789
@bazel-io fork 6.0.0

[2022-11-18 14:48] bazel-io opened #16795 "[6.0.0] Directory artifact not present in sandbox using Bazel 6.0.0rc2"
Forked from #16789

[2022-11-18 14:48] meteorcloudy commented on #16789
Does this issue also happen with Bazel@HEAD? I wonder what change we need to make/cherry-pick to fix this.

[2022-11-18 15:03] jwnimmer-tri opened #16796 "Compilation failure in C++ runfiles.h under Werror=shadow"
### Description of the bug:

This commit at 8f28513893969b6346d965cab12aac69cb246ced introduces a typo in the `Runfiles` constructor:

https://github.com/bazelbuild/bazel/blob/44918c540250a9e87eba8088e5676e3346695f29/tools/cpp/runfiles/runfiles_src.h#L193-L203

Note that the argument name on L198 is `std::string source_repository_` with an underscore; only member fields should end with an undersco

[2022-11-18 15:04] #14785 closed

[2022-11-18 15:19] rdesgroppes commented on #16777
@comius thanks for commenting.
But I don't see where `unused_deps` tool(s) are wrong there. I mean, I wouldn't have thought differently ("[POLA](https://en.wikipedia.org/wiki/Principle_of_least_astonishment)"): needed compile-time go through `deps`, whereas runtime-only needed dependencies go through `runtime_deps`, shouldn't they? At least similarly to:
- [java_binary](https://bazel.build/referen

[2022-11-18 15:31] fmeum commented on #16796
@bazel-io flag

[2022-11-18 16:03] gregmagolan commented on #16789
I tried `last_green` in `.bazelversion` and that still fails:
[code]
I'll try a local build @HEAD.

[2022-11-18 16:28] #16497 closed

[2022-11-18 18:28] neilisaac commented on #6005
As a workaround I've been running coverage tests in two steps:
[code]

[2022-11-18 18:47] meteorcloudy commented on #15063
Sorry, we don't have the capacity to officially support FreeBSD, but any PRs that fix this issue will be welcome!

[2022-11-18 18:49] Wyverald commented on #14556
I think the reluctance to add stuff to `@bazel_tools` is mainly around having to tie fixes to the "stuff" to Bazel releases. So we could release this WorkRequestHandler thing as (part of?) a library that's separately packaged and released, but on the flip side, the thing to watch out for would be version mismatches between the running Bazel version (the "server" of this protocol, if I understand c

[2022-11-18 18:50] Wyverald commented on #14879
Dupe of

[2022-11-18 18:50] #14879 closed

[2022-11-18 18:55] Wyverald commented on #9198
This is an interesting idea. Although I'd like to see more potential use cases to avoid designing a one-off API that only works for `repository_ctx.which`.

[2022-11-18 18:56] gregmagolan commented on #16789
@meteorcloudy I tested with a local built at HEAD:
[code]

and the repro is still failing

[2022-11-18 18:57] meteorcloudy commented on #16789
/cc @coeuvre Can you look into this issue?

[2022-11-18 18:58] Wyverald commented on #11734
Dupe of https://github.com/bazelbuild/bazel/issues/15989 (already fixed)

[2022-11-18 18:58] #11734 closed

[2022-11-18 18:59] katre commented on #16743
I discussed this with @moroten at BazelCon (it was great to talk to you), and I think this is probably the proper solution:

First, define constraints and execution platforms for your different execution clusters:
[code]

Then, define platforms for your specific target hardware:
[code]

Finally, define the toolchains you need, giving them the licensing constraints:
[code]

Then, when you `bazel bu

[2022-11-18 19:01] Wyverald commented on #16768
Have you tried asking our support channels, such as bazel-discuss@googlegroups.com and the Slack server (slack.bazel.build)?

[2022-11-18 19:01] #16768 closed

[2022-11-18 19:05] Wyverald commented on #16645
Everything @jwnimmer-tri said is correct -- you're not supposed to make different Bazel servers share the same output base.

[2022-11-18 19:05] #16645 closed

[2022-11-18 19:08] Wyverald commented on #16607
Hmm, this might be a bug in `local_config_platform`. I'll take a look later.

[2022-11-18 19:11] meteorcloudy commented on #16554
@chenqingguo Bazel will run the test in a sandbox, and it sandbox root will be deleted after running the test, that's why you cannot find this file.

I found out by using `--run_under="pwd"` and check the output in test log:
[code]

[2022-11-18 19:11] meteorcloudy commented on #16554
This is not a Bazel bug, so I'm closing it

[2022-11-18 19:11] #16554 closed

[2022-11-18 19:19] meteorcloudy commented on #16579
I wonder if this is a bazelisk bug? Can you try to download Bazel binary directly from https://github.com/bazelbuild/bazel/releases/tag/5.3.2 and try if it runs correctly?

[2022-11-18 19:24] meteorcloudy commented on #16687
It should have such big difference running Bazel in Git bash and Powershell, can you provide a minimal reproducible case so we can look into it? From the error message, some path format might be wrong in the MAINIFEST file.

This is not a bug in Bazel, please check https://stackoverflow.com/questions/48953956/building-bazel-on-a-windows-machine/49004265#49004265

[2022-11-18 19:26] meteorcloudy commented on #16726
You'll have to add Bazel's APT repository by following https://bazel.build/install/ubuntu#install-on-ubuntu

[2022-11-18 19:26] #16726 closed

[2022-11-18 19:27] meteorcloudy commented on #16793
Yes!

[2022-11-18 19:27] #16793 closed

[2022-11-18 19:34] meteorcloudy commented on #16748
If you are in a ubuntu VM, you probably should install Bazel with the Linux installer: https://github.com/bazelbuild/bazel/releases/download/5.3.2/bazel-5.3.2-installer-linux-x86_64.sh

[2022-11-18 19:34] #16748 closed

[2022-11-18 19:52] comius opened #16798 "Starlarkify Xcode rules"
### Description of the feature request:

_No response_

### What underlying problem are you trying to solve with this feature?

_No response_

### Which operating system are you running Bazel on?

_No response_

### What is the output of `bazel info release`?

_No response_

### If `bazel info release` returns `development version` or `(@non-git)`, tell us how you built Bazel.

_No response_

###

[2022-11-18 20:00] comius commented on #16798
cc @keith @brentleyjones

[2022-11-18 20:19] meteorcloudy commented on #16790
This is likely an problem with rules_nodejs not working well on Windows, please file an issue against https://github.com/bazelbuild/rules_nodejs

[2022-11-18 20:19] #16790 closed

[2022-11-18 20:25] meteorcloudy commented on #16769
@andrewkatson Can you provide a minimal reproducible case? ;)

[2022-11-18 20:27] fweikert commented on #16374
They are documented at https://bazel.build/rules/bzl-style#docstring, leading to https://github.com/bazelbuild/buildtools/blob/master/WARNINGS.md#function-docstring

[2022-11-18 20:32] andrewkatson commented on #16769
https://github.com/andrewkatson/broken Lmk if you need anything else!

[2022-11-18 20:45] fmeum commented on #16796
@jwnimmer-tri Thanks for the report. Does #16801 look reasonable to you?

[2022-11-18 21:16] kshyanashree commented on #16792
Cherry-picked at #16800

[2022-11-18 21:17] #16792 closed

[2022-11-18 23:15] lberki opened #16802 "`bazel sync` crashes when interrupted by Ctrl-C"
### Description of the bug:

Bazel crashes with the following stack trace and output:

[code]

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

I executed  `bazel sync --experimental_repository_resolved_file=<file>` then pressed Ctrl-C. It's probably not reproducible deterministically.

### Which operating system are you running Bazel on?

[2022-11-19 05:49] gauravrathi85 commented on #15149
@bu3 I am facing the same issue. can you explain in detail how you fixed this. Bazel newbee here.

I tried to replace my local override with file from https://github.com/bazelbuild/java_tools/releases/download/javac11_v10.7/java_tools_javac11_linux-v10.7.zip but that did not work. This is 10.7, so maybe that is the issue. I did not see javac11 v 11.6 anywhere. can you point me to where you got tha

[2022-11-19 08:22] davido commented on #4685
@fmeum With this option I'm getting a different error:

[code]

[2022-11-19 08:26] fmeum commented on #4685
@davido At least that error doesn't seem to be directly related to Bazel anymore. Only place I can find it is at https://github.com/bazelbuild/bazel-toolchains/issues/870.

[2022-11-19 09:22] davido commented on #4685
@fmeum Thanks for confirming, but the above issue seems to be entirely unrelated to Gerrit Code Review project, where we are trying (for years) to make `bazel coverage` command work as expected on RBE.

I've just tried to run ` bazel coverage` command on Bazel@HEAD (0c4de9185837ee585aa05b187a3487c433d9c038) for some java tests and got exactly the same failure:

[code]

So that I'm still wondering

[2022-11-19 11:02] fmeum commented on #4685
@davido Which remote backend are you running against? I can't find that error message in the Bazel codebase.

[2022-11-19 12:01] davido commented on #4685
We use Google RBE, see the documentation upstream how to set it up and running: [1], [2].

[1] https://gerrit.googlesource.com/gerrit/+/master/Documentation/dev-bazel.txt#585
[2] https://gerrit-documentation.storage.googleapis.com/Documentation/3.7.0/dev-bazel.html#RBE

[2022-11-19 13:01] alexeagle commented on #3054
I brought up this issue with several groups at BazelCon this year, including the first community day unconference session and the rules authors SIG meeting. There was wide consensus that accidental external repository invalidations and analysis cache discards is a high-priority usability issue. Recent posts on this thread highlight the infeasibility of existing workarounds.

@katre agreed that it'

[2022-11-19 13:27] alexeagle opened #16804 "[FR] Add a way to disallow analysis cache discards"
### Description of the feature request:

Context: https://groups.google.com/g/bazel-discuss/c/hlJakHgizSo as well as discussions at BazelCon in the community day and rules authors SIG session.

I had agreement with @katre at BazelCon that it's a reasonable feature request to have a new flag that allows us to enforce that re-analysis isn't performed in a given build.

Of course, we should not fail

[2022-11-19 21:19] gonzojive commented on #15470
I only marginally understand the issue here, but I believe this is getting in the way of using a Typescript binary target to implement a protobuf plugin (https://github.com/aspect-build/rules_js/issues/397).

[2022-11-20 09:17] davido commented on #16777
At works as expected consider this `auto-factory` plugin:

[code]

Given that quite some transitive dependencies are required,
the exported dependency is only `@auto-factory//jar`:

[code]

Say rule `foo` depends on `auto-factory` and trying to retrieve transitive dependencies, only exported dependency will be reported ("@auto-factory//jar").

[2022-11-20 09:34] davido commented on #4221
Any progress here?

[2022-11-20 12:01] rdesgroppes commented on #16777
@davido how does this contribute to the current feature request?

[2022-11-20 14:30] KimiNewt opened #16807 "File downloads are extremely slow"
### Description of the bug:

When bazel has to download a file, whether through `http_archive` or otherwise, it downloads very slowly (on the order of 10KBps), when downloading the same file via browser or another way on the same machine produces significantly higher speeds (~100MBps).

This seems to be repeating itself on many machines on our project.

### What's the simplest, easiest way to repr

[2022-11-20 14:33] davido commented on #16777
I am running `unused_deps` on this [repository](https://gerrit.googlesource.com/gerrit),
with bunch of `java_plugin` (e.g. [here](https://gerrit.googlesource.com/gerrit/+/refs/heads/master/lib/auto/BUILD#12)) with transitive dependencies, provided by `deps` attribute and `unused_deps`doesn't report any unused dependencies.

[2022-11-20 15:16] rdesgroppes commented on #16777
Ah, thanks for the additional comment: now I understand that there are counterexamples where the distinction between `deps` and `runtime_deps` may not be necessary from the point of view of [unused_deps](https://github.com/bazelbuild/buildtools/tree/master/unused_deps), but may be from the point of view of [unused-deps-py](https://pypi.org/project/unused-deps-py/)?

In fact, it doesn't matter beca

[2022-11-20 15:32] sgowroji commented on #16807
Hello @KimiNewt, Could you please provide minimal steps to reproduce the above issue. Thanks !

[2022-11-20 15:34] sgowroji commented on #16782
We are closing this issue due to lack of details. Please feel free to reach us to reopen the issue, if you can provide more details. Thanks!

[2022-11-20 15:34] #16782 closed

[2022-11-20 16:40] werkt opened #16808 "Deliver/Expect singly compressed content with a single ByteStream::Write/Read"
### Description of the feature request:

So I got up close and personal with this implementation when I added zstd support to buildfarm, per the supplied streams in the zstd package, and I feel that #14041 needs to be reworked. This will also need the consensus of the rest of @bazelbuild/remote-execution, since the implications here are a compatibility break with existing implementations (but not

[2022-11-20 19:24] kilian-funk commented on #15999
@comius This feature request is exactly about extending an aspect to not only produce some files, but also to specify a test (or of course an executable). So, with this functionality e.g. one could apply a format checker on input files for a certain type of target without having to define an additional test target for each target to be tested.

Currently this functionality  is possible by having a

[2022-11-21 03:39] sgowroji commented on #16378
Hello @jerone, Could you please respond on the above [comment](https://github.com/bazelbuild/bazel/issues/16378#issuecomment-1282300013). Thanks!

[2022-11-21 03:42] sgowroji commented on #16374
Please find the details [here](https://github.com/bazelbuild/bazel/issues/16374#issuecomment-1320490905). We are closing this issue now. Feel free to reach us for any further details. Thanks!

[2022-11-21 03:42] #16374 closed

[2022-11-21 06:51] werkt commented on #16808
This may not be quite so cut-and-dry - some of the corruption observed was undoubtedly caused by presenting a compressed committedSize via queries, which bazel uses to seek the input stream.

There is however definitely a disconnect between the typical behavior of zstd and the written bytes for an upload with compression: A 100MiB zero file results in 3307 bytes with zstd commandline, and an agree

[2022-11-21 09:20] brgl commented on #16579
No, the same problem occurs:

[code]

[2022-11-21 11:11] coeuvre commented on #16789
bisect points me to dfccbf975358da93a5ef0fe0f9438873e2a06ee5. Working on the fix.

[2022-11-21 12:59] Timmmm opened #16811 "Race in bazel run means command output is sometimes lost"
### Description of the bug:

For very fast binaries, sometimes `bazel run :binary` sometimes does not show the output of the binary. It seems to depend on how long the binary runs for - adding `sleep()`s in the code seems to make it reliably but that's obviously pretty shitty. This suggests to me there is a race in `test-setup.sh` which doesn't seem that surprising given that it is a long and comp

[2022-11-21 13:20] Timmmm commented on #16811
Also with the following code:

[code]

It sometimes just cuts off the output and adds a `%` at the end like this:

[code]

[2022-11-21 14:21] bu3 commented on #15149
Hey @gauravrathi85, I bumped into that issue at the time because I was not aware that in our Bazel monorepo we mirror some building tools for performance issues internally.
I had `remote_java_tools_linux` pointing to an old version and bumping it to `11.6` solved the issue.

We have a file called `external_mirrors.bzl`, which was updated with:
[code]
I hope it helps

[2022-11-21 15:33] saraadams commented on #14057
If I understood correctly at your BazelCon talk (thanks!), 6.0 will include this, guarded by an experimental flag. Can you share the flag(s) to set to enable this? The command-line reference for 6.0 isn't up yet, but I'd like to give it a try.

I found https://bazel.build/reference/command-line-reference#flag--experimental_skymeld_ui - but the documentation suggests this only updates the terminal

[2022-11-21 18:42] benjaminp commented on #14057
`--experimental_merged_skyframe_analysis_execution`

[2022-11-21 19:23] michaeledgar commented on #16380
I've caught up with the entire thread! I want to try to get to everything --

- WORKSPACE can't load because not all transitive .bzl files are present
- Build/test target can't be loaded because not all transitive .bzl files are present
- How to download fewer bytes

# WORKSPACE can't load because not all transitive .bzl files are present

I don't think we can make do with an invalid workspace - I

[2022-11-21 19:42] gregestren commented on #16804
Happy to consider this, and I see the attached PR.

I'm generally wary to add yet more flags to toggle how Bazel works. But I understand the impact in this case is real without obvious short-term broader solutions.

[2022-11-21 20:16] benjaminp opened #16813 "[Mirror] zulu jdk 17s"
### Please list the URLs of the archives you'd like to mirror:

https://cdn.azul.com/zulu/bin/zulu17.38.21-ca-jdk17.0.5-win_aarch64.zip
https://cdn.azul.com/zulu/bin/zulu17.38.21-ca-jdk17.0.5-linux_x64.tar.gz
https://cdn.azul.com/zulu/bin/zulu17.38.21-ca-jdk17.0.5-linux_aarch64.tar.gz
https://cdn.azul.com/zulu/bin/zulu17.38.21-ca-jdk17.0.5-macosx_x64.tar.gz
https://cdn.azul.com/zulu/bin/zulu17.38.

[2022-11-21 21:45] rockwotj commented on #10134
If you come to this issue because of trying to build a docker image for language that doesn't have platform specific builds (IE java, python, etc) you should add `build --@io_bazel_rules_docker//transitions:enable=false` to your bazelrc to work around this.

@abhillman I believe this is what you're running into.

[2022-11-21 23:30] newren commented on #16380
@lberki : I'll try to answer your questions as best I can, and provide my experience and perspective on why I find certain things important or unimportant...

non-cone mode came first, but it is deprecated: https://git.kernel.org/pub/scm/git/git.git/commit/?id=a8defed07c

It is true that some people still use non-cone mode.  However, it has lots of problems (which is why we deprecated it), we thin

[2022-11-22 02:41] lgoodby opened #16815 "python_zip_file unable to find protobuf import when strip_import_prefix is used"
### Description of the bug:

A python binary that imports a protobuf from another local bazel repo runs fine under `bazel run`, but fails to find the import when built as a `python_zip_file`.

This issue only occurs if `strip_import_prefix` is used on the imported `proto_library` target.

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

`re

[2022-11-22 02:48] sgowroji commented on #9208
Since it is already [documented](https://github.com/bazelbuild/bazel/issues/9208#issuecomment-544161870) as mentioned above we are closing this issue. Please feel free to reach us for any further information. Thank you !

[2022-11-22 02:48] #9208 closed

[2022-11-22 03:04] sgowroji commented on #16813
Please find the below mirror artifacts.

1. https://mirror.bazel.build/cdn.azul.com/zulu/bin/zulu17.38.21-ca-jdk17.0.5-win_aarch64.zip
2. https://mirror.bazel.build/cdn.azul.com/zulu/bin/zulu17.38.21-ca-jdk17.0.5-linux_x64.tar.gz
3. https://mirror.bazel.build/cdn.azul.com/zulu/bin/zulu17.38.21-ca-jdk17.0.5-linux_aarch64.tar.gz
4. https://mirror.bazel.build/cdn.azul.com/zulu/bin/zulu17.38.21-ca-jdk

[2022-11-22 03:06] #16813 closed

[2022-11-22 03:11] cpsauer commented on #14669
To add another potentially useful xref: I found myself linking to this while answering stack overflow questions around [--enable_platform_specific_config](https://bazel.build/reference/command-line-reference#flag--enable_platform_specific_config) and explaining its limitation in reflecting host (rather than target), platform.

Anyway, still seems to me that there's strong demand for a good, perman

[2022-11-22 03:55] sgowroji commented on #14915
Hello @sbussard, Could you please elaborate your query with complete details Or can you send a PR with the above mentioned changes. I can help you in arranging the review. Thanks!

[2022-11-22 05:11] sgowroji commented on #13238
Hello @chandlerc, Above issue about [CLion](https://ij.bazel.build/) support is now available. Could you please reply on the above issue update. Thanks!

[2022-11-22 06:01] newren commented on #16380
While downloading fewer bytes is important for many folks, there are monorepo folks who have a performance profile where a dense clone is a reasonable cost but they really want sparse-checkouts.  Not everyone is Google/Microsoft/Facebook-sized.

I get the feeling that the following two ideas are foreign to bazel:
  * being able to build a subset of the project, when only that subset is available (

[2022-11-22 06:45] sbussard commented on #14915
I no longer have context for this issue. Closing.

[2022-11-22 06:45] #14915 closed

[2022-11-22 08:48] #11365 closed

[2022-11-22 09:37] purkhusid commented on #16159
Any chance that dce6ed777d958d65c7f3d4a2f54f8117778a449e could be cherry picked into 6.0? It fixes #11920 which is a pretty big UX fix

[2022-11-22 11:15] larsrc-google commented on #16631
Is there an actual use case for having `.` as a source, or did you just run across this strange behaviour for other reasons?

[2022-11-22 11:18] tjgq commented on #15454
@comius The feature request here is to support unresolved symlinks inside a tree artifact; the current semantics are to transparently resolve symlinks into the files they point to.

I don't think this is purely an "execution phase" change, because it would affect the way artifacts are tracked by Skyframe, and require some sort of API to opt into it: either a flag to change the semantics for every

[2022-11-22 11:27] coeuvre commented on #16742
@katre I saw your comment in https://github.com/bazelbuild/bazel/issues/16743#issuecomment-1313950393 saying that `exec_properties` attribute in `toolchain` will be removed. Is that also true for `exec_properties` in `constraint_values`?

[2022-11-22 11:28] tjgq commented on #16741
@tbaing Bazel has its own concept of an "action key" [1] which every action has, independently of the strategy it ends up running under. What do you think about adding it to a separate `SpawnExec.action_key` field? This would let you correlate invocations of "the same action" across invocations; the drawback is that there's no way to convert it to and from the Remote Execution key (but it's not cl

[2022-11-22 11:28] lberki commented on #16631
I was looking at this as a horrible workaround for the fact that Labels can't contain any character.

It's clearly code that should not exist, so I'd be okay with summarily prohibiting the label `.` , but no matter what we decide, Bazel shouldn't crash.

[2022-11-22 12:35] larsrc-google commented on #16631
Prohibiting the labels `.` and `..` seems prudent.

[2022-11-22 14:52] drewmacrae opened #16817 "Enable tests that require exclusive access to hardware to be run without the exclusive tag."
### Description of the feature request:

In OpenTitan, we use bazel to coordinate and direct tests, and we have long running tests on simulators and on FPGAs. The FPGA tests require exclusive access to attached FPGAs, but don't conflict with any of the non-FPGA actions in our WORKSPACE.
https://github.com/bazelbuild/bazel/pull/16785 and it's predecessors offer a means to introduce extra resources

[2022-11-22 15:24] brentleyjones commented on #11920
@bazel-io flag

[2022-11-22 15:46] joyantamishu opened #16818 "Correct way to include external repo"
Hello All,
I am newbie to BAZEL environment, and trying to include external repo that is necessary to compile my source code. But I am not getting the correct way to do that. The repo I am working on, is CMAKE project (https://github.com/kubernetes-client/c). So here's my WORKSPACE content:

[code]
In the BUILD file, I am using:

[code]
And sample.cpp contains:

[code]
But I am getting error "**fa

[2022-11-22 16:20] sgowroji commented on #11920
@bazel-io fork 6.0.0

[2022-11-22 16:20] bazel-io opened #16820 "[6.0.0] UX: make --remote_download_output=minimal download the necessary files when invoking `bazel run`"
Forked from #11920

[2022-11-22 16:27] kshyanashree commented on #16761
Cherry-picked at #16819

[2022-11-22 16:27] #16761 closed

[2022-11-22 16:50] kshyanashree commented on #16820
Cherry-picked at #16821

[2022-11-22 17:05] #16820 closed

[2022-11-22 17:10] kshyanashree commented on #16159
Thanks @purkhusid for bringing it up! Here It is concluded #16821

[2022-11-22 18:16] drewmacrae commented on #16786
Here's what it says in the docs:
"[--local_test_jobs](https://docs-staging.bazel.build/2338/versions/0.29.1/command-line-reference.html#flag--local_test_jobs)=<an integer, or a keyword ("auto", "HOST_CPUS", "HOST_RAM"), optionally followed by an operation ([-|*]<float>) eg. "auto", "HOST_CPUS*.5"> default: "auto"
The max number of local test jobs to run concurrently. Takes an integer, or a keyword

[2022-11-22 20:25] aiuto opened #16823 "Delete new_git_repository"
### Description of the bug:

git_repository is now equiavlent to new_git_repository.
We should get rid of the duplicate.

Deleting the code in bazel is one part.
We may want to update bazel 6 docs to show it is deprecated.

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

_No response_

### Which operating system are you running Bazel on?

[2022-11-22 20:26] aiuto commented on #16823
@limdor

[2022-11-22 21:46] josephlr commented on #13473
This was fixed in #16616  (see https://github.com/bazelbuild/bazel/commit/b564d145218e58b0440ffad82b3d1d54eef15d22). The `info` and `clean` commands no longer warn, and starlark flags have no effect on these commands.

This issue can now be closed.

[2022-11-23 02:07] sageyun1057 opened #16825 "genrule() not triggered when srcs changed"
### Description of the bug:

I use genrule to make some cpp/ header files. (hidl-gen for android's .hal)
But when I change .hal, genrule is not triggered.

My BUILD file simply looks like this

genrule(
    name = "test_genrule",
    srcs = [
        "temp.cpp",
    ],
    outs = [
        "test.cpp",
    ],
    cmd = """
          ORG=$$PWD;
          echo ORG : $$ORG
          echo GENDIR : $(GE

[2022-11-23 03:13] aiuto commented on #12313
+1.  But the obvious thing is that args should be passed as is. Going back to the examples, main2 should print
[code]

[2022-11-23 03:53] sgowroji commented on #16825
Hello @sageyun1057, Could you please provide an example to reproduce the above issue. Thanks!

[2022-11-23 07:07] fmeum commented on #12313
What do you think should be the behavior of `$(execpaths ...)` with this flag? It would probably be more useful if that would still result in multiple arguments.

[2022-11-23 07:56] fmeum commented on #16825
I can't reproduce this with the following reproducer:
[code]

Listing `:test_genrule` in the `deps` of `test_lib` gives an error as `genrule` doesn't provide `CcInfo`, so I had to remove that bit.

Now, `USE_BAZEL_VERSION=6.0.0-pre.20220823.1 bazel build //:test_lib` prints the `ORG` and `GENDIR` lines if and only if I changed the contents of `temp.cpp` before the build.

@sageyun1057 Could you cl

[2022-11-23 09:17] fmeum commented on #14811
Documenting the workaround used by rules_pkg as it may be useful for others: Consider a target executable if `target[DefaultInfo].files_to_run.runfiles_manifest` is truthy.

[2022-11-23 09:32] yuriyhanysh opened #16827 "`apple_static_xcframework` rule from `rules_apple` fails in 6.0.0"
### Description of the bug:

When the `incompatible_enable_cc_toolchain_resolution` flag is on, and the `platform_mappings` file is specified, `apple_static_xcframework` from `rules_apple` fails in `6.0.0rc1` and `6.0.0rc2`.

The rule is working in this configuration in version [6.0.0-pre.20220517.1](https://github.com/bazelbuild/bazel/releases/tag/6.0.0-pre.20220517.1) but stopped working in [6.0

[2022-11-23 10:19] fmeum commented on #16827
Bisect points to https://github.com/bazelbuild/bazel/commit/b0487dc28eeb2ce3c0485cf0a21a5e69fbb00bc3, but that commit doesn't have an author listed.

[2022-11-23 10:20] fmeum commented on #16827
@bazel-io flag

[2022-11-23 10:38] sageyun1057 commented on #16825
@fmeum
In my environ, I didn't show CcInfo error.
So, I test on other environment with your code.
But I also can't show echo `ORG`, `GENDIR`....
![image](https://user-images.githubusercontent.com/54614655/203525522-61dd327c-e52a-4d5a-965f-f596683a3107.png)

TO test it.
1. I copy your `BUILD.bazel` and touch `WORKSPACE`
2. remove temp.cpp to newly build
3. touch temp.cpp and build bazel :test_lib -

[2022-11-23 10:58] sgowroji commented on #16827
@bazel-io fork 6.0.0

[2022-11-23 10:58] bazel-io opened #16828 "[6.0.0] `apple_static_xcframework` rule from `rules_apple` fails in 6.0.0"
Forked from #16827

[2022-11-23 13:27] lberki opened #16829 "`//src/test/java/com/google/devtools/build/lib/remote:remote` is flaky on CI and fails locally"
### Description of the bug:

I ran into this issue while running my presubmits. The failure is here:

https://buildkite.com/bazel/google-bazel-presubmit/builds/61121#0184a446-2eb2-4f9c-8f04-72c888dbd574

A re-run (at https://buildkite.com/bazel/google-bazel-presubmit/builds/61123) passed.

There are a lot of exceptions on the test output. A choice selection:

[code]

[code]

[code]

And the final

[2022-11-23 13:34] fmeum commented on #16825
@sageyun1057 Bazel doesn't necessarily rerun actions if the mtime of an input changes: It will hash the file and not rerun actions of the contents are identical. In order to test this properly, you thus have to make a non-trivial edits to the file.

[2022-11-23 13:43] tjgq commented on #15013
To state it clearly: credential helpers aren't wired up to repository fetching yet. We are working on adding it in time for 6.0.0.

[2022-11-23 13:44] tjgq commented on #7770
See #15013. We are planning to add [credential helper](https://github.com/bazelbuild/proposals/blob/main/designs/2022-06-07-bazel-credential-helpers.md) support to `http_archive`.

[2022-11-23 13:47] lberki commented on #16829
The local failure seems to have been because I used the wrong JDK (thanks, @tjgq !), but there still seem to be sporadic failures with the stack traces below.

Used `bazel test --runs_per_test=100 //src/test/java/com/google/devtools/build/lib/remote:remote --jobs=4` (much more flaky without `--jobs=4`, probably some sort of resource contention?)

[code]

and

[code]

[2022-11-23 14:59] #15340 closed

[2022-11-23 15:28] lunch-glide-pepper commented on #15340
Thanks for the fix!

I don't know anything about Bazel release policies - is this fix likely to make it to a 6.x release?

[2022-11-23 15:30] fmeum commented on #15340
@lunch-glide-pepper You can use the `@bazel-io flag` command in a GitHub comment to mark it for cherry-picking and then create a PR with the commit cherry-picked on `release-6.0.0`.

[2022-11-23 15:38] kshyanashree commented on #16794
Cherry-picked at #16602

[2022-11-23 15:38] #16794 closed

[2022-11-23 15:43] aiuto commented on #12313
I think all args in a list should be passed as single strings and never retokenized by blaze.  So, if there are paths in `execpaths` that have, for example, spaces in them, they should be expanded in a way that preserves the spaces on invocation of the command line.

[2022-11-23 15:56] fmeum commented on #12313
@aiuto I agree, but what about `$(execpaths ...)` resolving to multiple file paths (note the plural form)? In that case you would certainly want the result to be `'file1' 'file2' 'file3'` on the command line rather than `'file1 file2 file3'`, but the `$(execpaths ...)` would still appear in a single `args` list entry.

For unrelated reasons, I have thought about rewriting the `LocationExpander` lo

[2022-11-23 16:42] bazel-io opened #16831 "[6.0.0] Update GetActionResult for disk cache to check referenced files when …"
Forked from #16731

[2022-11-23 16:49] aiuto commented on #12313
TBH.  I'm not wrapping my head around that use case right now.   That is, I don't have a mental model of when to use `execpaths`. I'm not sure I ever have used it.  So, .... I don't know?

[2022-11-23 17:05] fmeum commented on #14023
I just talked to @matloob about how we can support Go 1.20 (due February 2023) in rules_go. In order to get non-pathological caching behavior, we would need to get rid of `affected by starlark transition` - otherwise we would end up rebuilding the Go stdlib, which with Go 1.20 will no longer be shipped in precompiled form, *many* times.

@sdtwigg I talked to @gregestren about the reason behind `--

[2022-11-23 17:30] linzhp opened #16833 "[Mirror] Archives for rules_go 0.36.0"
### Please list the URLs of the archives you'd like to mirror:

https://github.com/golang/sys/archive/refs/tags/v0.2.0.zip
https://github.com/googleapis/go-genproto/archive/16455021b5e60501e2adf67e15f857d2f5d95388.zip
https://github.com/bazelbuild/rules_go/releases/download/v0.36.0/rules_go-v0.36.0.zip

[2022-11-23 17:32] kshyanashree commented on #16831
Cherry-picked at #16834

[2022-11-23 18:18] Yannic opened #16835 "[Mirror] rules_rust 0.13.0"
### Please list the URLs of the archives you'd like to mirror:

https://github.com/bazelbuild/rules_rust/releases/download/0.13.0/rules_rust-v0.13.0.tar.gz

[2022-11-23 19:52] gregestren opened #16836 "Lock down the flags transitions can change"
### Description of the feature request:

Config transitions are really meant to configure flags that rule logic consumes. Most flags in the configuration reflect that. But some of them are meant for core Bazel logic.

This is particularly prevalent in [CoreOptions](https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/analysis/config/CoreOptions.java). flags l

[2022-11-23 22:13] gregestren commented on #14023
Not obvious to me at all that defaulting `--experimental_output_directory_naming_scheme=diff_against_baseline` in Bazel is unsafe. I think most orgs don't suffer from resource constraints in their remote clusters as the dominant variable.

I'm very interested in global defaults but I don't expect algorithmic changes to be realistic in a pressured time frame.

Even if `--experimental_output_directo

[2022-11-23 22:27] fmeum commented on #14023
@gregestren Would you consider flipping this flag in a minor release (e.g. Bazel 6.1.0) to be an option (after a number of rolling releases with it flipped)? I know that rules_nodejs setups sometimes enumerate particular values of the ST hash, but that hash can change for a number of unrelated reasons.

[2022-11-23 22:58] gregestren commented on #14023
I don't think the release policy would allow that because it's not backward-compatible? We'd have to check that with the release manager.

I'll make sure we chat about this next week (note a US holiday's putting a bunch of people offline rest of this week) and follow up. We definitely need to lean on @sdtwigg 's intuition.

[2022-11-23 22:59] jacob-church opened #16838 "[bazel.build] Problem with /query/language -> "Tokens: The lexical syntax""
"Keywords, when quoted, are treated as ordinary words. For example, some is a keyword but "some" is a word. Both foo and "foo" are words."

I snagged on this line while reading through, because a few paragraphs before the exhaustive list of "keywords" was provided and did not include _some_. It appears to be a built in function, so should this maybe read something more like "Keywords and reserved

[2022-11-23 23:03] fmeum commented on #14023
Thanks, that is very much appreciated.

If it is considered not backwards-compatible, then that would definitely not be possible. I was wondering whether it would have to be considered breaking though as both `affected by starlark transition` and the precise value of the `ST` are probably not part of Bazel's promised API surface.

I can add that we have been using this flag internally since it fir

[2022-11-23 23:20] konste commented on #14023
I can confirm that we rely on this flag for a huge C++ build and it works without a hitch. This flag is our primary reason for Bazel 6.0 adoption.

[2022-11-24 00:24] jfirebaugh opened #16840 "Add `--incompatible` flag that disables transitions to host configuration"
### Description of the feature request:

Add an `--incompatible` flag that disables transitions to the "host" configuration (e.g. `--incompatible_disable_host_configuration`), for projects that wish to enforce use of the "exec" configuration.

### What underlying problem are you trying to solve with this feature?

I [recently debugged an issue](https://bazelbuild.slack.com/archives/CA31HN1T3/p1669

[2022-11-24 04:17] sageyun1057 commented on #16825
@fmeum
Thanks for your reply.
I understand it.
This issue was a sample to simplify matters.
I will create an issue that is exactly right for my situation.

[2022-11-24 04:17] #16825 closed

[2022-11-24 08:57] weedless commented on #16743
Thanks for the input @katre! I followed your example and managed to map my targets to different remote workers depending on what `{toolchain, execution platform}` is resolved. However, I do not see how it can enable running some combinations of `{toolchain, execution platform}` remote and all rest locally. Is that use case supported by bazel?

I tried to solve it using `--remote_local_fallback` wh

[2022-11-24 09:26] petemounce opened #16841 "Docs - https://bazel.build/help slack invite is broken"
### Description of the bug:

The link to join the bazel slack is out-of-date, meaning people cannot successfully use it to join the slack.

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

1. Browse to https://bazel.build/help
2. Click the link in `Chatting with other Bazel contributors on [Slack](https://slack.bazel.build/)`
3. Observe "Th

[2022-11-24 10:33] KrauseStefan opened #16842 "Symlink forest should respect .bazelignore"
### Description of the bug:

The symlink forest does not respect the `.bazelignore` file, this was unexpected behavior, and in my situation led to non hermetic builds that poised a shared build cache.

In our case it was the `node_modules` folder that is moved from being referenced using the now deprecated/removed `managed_directories` feature (#15463)

It is ignored since we do not want Bazel to

[2022-11-24 13:56] rdesgroppes commented on #16136
I was also in the need for it, but is still not available as of Bazel 5.3.2, albeit documented: https://bazel.build/rules/lib/repo/http#http_archive-add_prefix

[2022-11-24 17:24] MuhammadMoustafa commented on #13560
any updates here?

[2022-11-24 17:50] torgil commented on #14236
I've now created #16844 on this issue since
- A year in the making
- No solution in sight
- More people wanting this feature, see #14023

When using shared actions, it's also a common issue that there is action conflicts between "null" and the default value for a build setting. To circumvent some of those issues and to make configuration more flexible, is it possible to have a Starlark function th

[2022-11-25 00:45] philsc opened #16845 "[FR] Configuring C++ flag groups based on the target platform"
### Description of the feature request:

I have a problem that _could_ be solved by expanding the `feature` and/or `flag_group` functionality in C++ toolchain configuration.

In particular, I wonder if we could enhance `feature` like so:
[code]

### What underlying problem are you trying to solve with this feature?

We have 50 platforms we're targeting in our build. The majority of which are embed

[2022-11-25 05:29] DhanalakshmiDurairaj opened #16846 "QNX with Bazel"
### Description of the bug:

QNX compiler tries to write lock file in the file system during sandbox execution.  Host file system is read only in bazel during sandbox execution. How to enable the compiler to write file in the file system? without writing files, compiler is not working. How to fix this issue?

Acquisition timed out after 10 seconds. Check that the file and containing folder have wr

[2022-11-25 07:09] fmeum commented on #16846
Where exactly does it write the file? You can use `--sandbox_tmpfs_path` to make a particular directory writable in the sandbox without interfering with the host system.

[2022-11-25 09:10] fmeum opened #16849 "Java runfiles library no longer compiles with Java 8"
### Description of the bug:

In Bazel 6.0.0rc2, the Java runfiles library no longer builds with Java 8:

[code]

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

1. Point `JAVA_HOME` to a Java 8 JDK
2. In any Bazel project, run `bazel build @bazel_tools//tools/java/runfiles --java_runtime_version=local_jdk_8`.

### Which operating system ar

[2022-11-25 09:10] fmeum commented on #16849
@bazel-io flag

[2022-11-25 09:28] fmeum opened #16850 "bazel-dev crashes if `JAVA_HOME` points to JDK 8"
### Description of the bug:

Since https://github.com/bazelbuild/bazel/commit/94355b1b1c4f7ef923457b8b2a070e5c6528240a, the binary built with `//src:bazel-dev`, but not the one built with `//src:bazel`, crashes when `JAVA_HOME` points to a JDK 8:

[code]

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

1. `bazel build //src:bazel-dev`
2. `

[2022-11-25 09:31] fmeum commented on #16850
@cushon I wanted to report this behavior as I didn't expect this to happen when I made the `--add-opens` flag unconditional. Do you see a way to fix this without losing the benefits of https://github.com/bazelbuild/bazel/commit/94355b1b1c4f7ef923457b8b2a070e5c6528240a for non-Bazel devs?

[2022-11-25 09:39] fmeum commented on #16849
Submitted a fix in https://github.com/bazelbuild/bazel/pull/16851

[2022-11-25 12:49] #6450 closed

[2022-11-25 20:19] KatrinaHoffert opened #16854 "download_and_extract should retry HTTP 429 errors"
Saw a presubmit fail:

[code]

HTTP 429 errors should just be retried. Or perhaps retried more if they already are? I don't see a way to specify this within Bazel code. Technically, the error I saw came from an `http_archive` target (https://github.com/bazelbuild/bazel/blob/master/tools/build_defs/repo/http.bzl), but I think it makes more sense to improve this in download_and_extract as otherwise

[2022-11-25 22:01] LavaToaster commented on #16574
Hopping in here to state that the `bytes` type is not implemented.

[2022-11-26 16:28] andersroos opened #16855 "[bazel.build] Problem with /install/completion"
Hi, where are the auto completion files if you install with bazelisk?

[2022-11-27 15:51] sgowroji commented on #16855
Hello @andersroos, Could you please elaborate your issue with complete details and followed urls or resources.

[2022-11-27 15:59] sgowroji commented on #16846
Hello @DhanalakshmiDurairaj, Could you please provide minimal steps to reproduce the above error. Thanks !

[2022-11-27 16:03] sgowroji commented on #16842
Hello @KrauseStefan, Could you please provide minimal steps followed to reproduce the above issue. Thanks!

[2022-11-28 04:20] sgowroji commented on #16838
Hello @jacob-church, Could you please elaborate your query with complete details and provide us the list of URL's referred in the above.  Thanks!

[2022-11-28 04:28] sgowroji commented on #16835
Please find the below mirror artifact

1. https://mirror.bazel.build/github.com/bazelbuild/rules_rust/releases/download/0.13.0/rules_rust-v0.13.0.tar.gz

[2022-11-28 04:28] #16835 closed

[2022-11-28 04:31] sgowroji commented on #16833
Please find the below mirror artifacts are

1. https://mirror.bazel.build/github.com/golang/sys/archive/refs/tags/v0.2.0.zip
2.https://mirror.bazel.build/github.com/googleapis/go-genproto/archive/16455021b5e60501e2adf67e15f857d2f5d95388.zip
3.https://mirror.bazel.build/github.com/bazelbuild/rules_go/releases/download/v0.36.0/rules_go-v0.36.0.zip

[2022-11-28 04:31] #16833 closed

[2022-11-28 05:49] jacob-church commented on #16838
On this page: https://bazel.build/query/language

Under: "Tokens: The lexical syntax" > Words

In the 5th paragraph, which begins with the quoted text.

It appears to be on line 112 of the source Markdown file

[2022-11-28 08:28] meteorcloudy commented on #16827
@keith Looks like there is some incompatible change in Bazel that rules_apple should adapt? (It's likely the [Google version of rules_apple](https://github.com/bazelbuild/rules_apple/tree/upstream) already did)

[2022-11-28 08:30] meteorcloudy commented on #16831
Merged in https://github.com/bazelbuild/bazel/pull/16843

[2022-11-28 08:30] #16831 closed

[2022-11-28 09:31] meteorcloudy commented on #16849
@bazel-io fork 6.0.0

[2022-11-28 09:31] bazel-io opened #16860 "[6.0.0] Java runfiles library no longer compiles with Java 8"
Forked from #16849

[2022-11-28 09:34] meteorcloudy commented on #16796
@bazel-io fork 6.0.0

[2022-11-28 09:35] bazel-io opened #16861 "[6.0.0] Compilation failure in C++ runfiles.h under Werror=shadow"
Forked from #16796

[2022-11-28 10:55] #16841 closed

[2022-11-28 11:46] KrauseStefan commented on #16842
I created a repo that reproduces the issues with a genrule.
Sorry I though the issue was clear without the repo.

[2022-11-28 12:47] #16849 closed

[2022-11-28 13:34] torgil commented on #14294
Made a pull request on this here #16863

[2022-11-28 13:44] torgil commented on #14236
Made a pull request on the  --experimental_shareable_cpp_compile_actions flag which could be critical to use in combination with the output directory name transition.

[2022-11-28 14:02] DhanalakshmiDurairaj commented on #16846
Thank you so much for your response. I tried this option.

The gave the below command in .bazelrc
build --sandbox_tmpfs_path=path/to/license/directory

But I get the following error regarding license

# Execution platform: @local_config_platform//:host

Use --sandbox_debug to see verbose messages from the sandbox
license check failed
Target //main:hello-world failed to build
INFO: Elapsed time: 0.

[2022-11-28 14:04] meteorcloudy commented on #16860
Merged in https://github.com/bazelbuild/bazel/pull/16862

[2022-11-28 14:04] #16860 closed

[2022-11-28 14:20] meteorcloudy commented on #15856
@tjgq What's the ETA for implementing this? Ideally, we don't want to delay the 6.0 release further more, and since this should be a backwards compatible feature, we can cherry pick it in 6.x releases?

[2022-11-28 14:40] andersroos commented on #16855
Yes, sorry, this is not a really a bug report, it is more of a question.

Here you recommend using Bazelisk to install Bazel: https://bazel.build/install

Not 100% sure what is going on, but it seems like everything is contained in a fat binary or possibly it is downloading stuff and putting it somewhere. I want autocomplete to work in zsh and here you describe how to do that: https://bazel.build/

[2022-11-28 14:48] meteorcloudy commented on #16378
@jerone Yes, the latest Bazel 5.3.2 should already support VS2022, we'll update the documentation soon, thanks for the report!

[2022-11-28 15:40] kkpattern opened #16866 "Add a new flag for adding the xcode version override to platform properties"
### Description of the feature request:

Add a new flag. If the flag is enabled, when building a target with Xcode, add the Xcode version override, apple SDK platform, and apple SDK platform version override to platform properties.

### What underlying problem are you trying to solve with this feature?

Currently, when remote building an apple target, the Xcode version is in the action environment

[2022-11-28 16:23] #16796 closed

[2022-11-28 16:33] meteorcloudy commented on #16827
Oh I see, I missed that part. So this issue is basically under https://github.com/bazelbuild/rules_apple/issues/1765

[2022-11-28 16:36] meteorcloudy commented on #16827
@keith But based on the error message and the commit identified (https://github.com/bazelbuild/bazel/commit/b0487dc28eeb2ce3c0485cf0a21a5e69fbb00bc3), if we want to make `--incompatible_enable_cc_toolchain_resolution` work for rules_apple, should this be fixed in Bazel or rules_apple?

[2022-11-28 17:16] meteorcloudy commented on #16827
OK, in that case, I'll remove this issue as a release blocker for 6.0.

[2022-11-28 17:17] meteorcloudy commented on #16828
Closing as discussed in https://github.com/bazelbuild/bazel/issues/16827#issuecomment-1329374593

[2022-11-28 17:17] #16828 closed

[2022-11-28 17:37] gasparev commented on #3791
Hi, I'm trying to fix this but I need to test the change on the downstream projects. From the [doc](https://github.com/bazelbuild/continuous-integration/blob/master/buildkite/README.md#checking-incompatible-changes-status-for-downstream-projects), it seems that the labels `incompatible-change` and `migration-ready` are needed. Can someone add them?

[2022-11-28 17:42] rickeylev commented on #8305
Adding a +1 for a way to do version or feature detection. The particular case I ran into is migrating off testing.TestEnvironment. It's been replaced by RunEnvironmentInfo, but, because that's a global only present in Bazel 5.3+, it's hard to write code that uses that new name when available and falls back to the old name when not (they're currently aliases, so its a matter of code tidiness).

[2022-11-28 17:53] Wyverald commented on #8305
as a stopgap, does `hasattr(testing, "TestEnvironment")` work?

[2022-11-28 18:12] adrianimboden commented on #4135
is there any news on this? Maybe in the last three years, clang did get proper support.

I would also invest some time to test that, but my knowledge about bazel toolchains is pretty limited. If you could maybe share what you already have so I can try it out some times?

[2022-11-28 18:26] fmeum commented on #8305
`testing.TestEnvironment` is still available, it's only marked as deprecated in docs.

It doesn't stop there, since I only added the `env_inherit` parameter to `RunEnvironmentInfo` later, which also can't be feature detected.

[2022-11-28 18:30] fmeum commented on #3791
@gasparev Could you create a separate tracking issue as explained in the docs? You can then ping `@meteorcloudy` to have him add the necessary flags.

[2022-11-28 18:33] Wyverald commented on #8305
I see. I think it might be more prudent to offer some sort of general feature detection API, as opposed to a version string check. I'd say this is slightly higher than P4, but the Starlark team might not have the bandwidth unfortunately.

[2022-11-28 18:57] katre commented on #16742
Yes, that will also be removed. What actions do you expect to get the `exec_properties` from a `constraint_value` target?

[2022-11-28 19:08] moroten commented on #16742
As I wrote in the description, I though it was logical to set `exec_properties` for e.g. GPU in the `constraint_value` if the GPU is reused in multiple platforms. This is handy when defining your own `constraint_values`. On the other hand, different remote execution systems might define `exec_properties` differently and it would be difficult to override third-party `constraint_values`, much easier

[2022-11-28 19:34] #16742 closed

[2022-11-28 19:36] katre commented on #16743
Unfortunately, at the current time there is a divergence in support of execution platforms and execution strategies: while logically some execution platforms are only compatible with certain strategies (ie, a remote platform only works with the remote strategy, the host platform only works with the local or sandbox strategy, etc), this isn't part of Bazel's internal decision making and so it's req

[2022-11-28 20:21] keith opened #16870 "Remove objc_library transition"
Through the discussion on [this issue](https://github.com/bazelbuild/bazel/issues/16099#issuecomment-1216135008) it came up that we might want to remove the objc_library transition. I also think this might be a blocker to some changes like [this](https://github.com/bazelbuild/bazel/pull/16619) where we would like to change the transition in rules_apple to support this case, but a similar transitio

[2022-11-28 20:21] keith commented on #16870
cc @katre @googlewalt

[2022-11-28 20:22] keith commented on #16870
I started looking at providing an incompatible flag for removing this, but unsurprisingly it breaks some tests, I haven't started debugging since I figure the real blocker will be making google compatible, in which case I'm not sure how feasible this is to do from the outside

[2022-11-28 20:22] keith commented on #16870
cc @gregestren

[2022-11-28 20:23] keith commented on #16870
cc @katre @googlewalt @gregestren @susinmotion

[2022-11-28 20:23] katre commented on #16870
@trybka This is relevant to your interests.

[2022-11-28 20:25] keith commented on #16099
as far as removing that transition I've pulled that into a separate issue here https://github.com/bazelbuild/bazel/issues/16870

[2022-11-28 20:41] trybka commented on #16870
It's not _terrible_ to fix internally, but not trivial, either.
I'd _really_ like to get rid of this, but at the moment it's mostly just difficult to justify the time/effort for said depot-wide cleanup.

Most issues were fairly straightforward: like migrating from a `build_test` like rule to one which does the transition (e.g. `ios_build_test`).

There were some harder ones where folks are doing c

[2022-11-28 21:27] gasparev opened #16871 "incompatible_exclusive_test_sandboxed: flip"
Tests tagged with `exclusive` cannot use sandboxing and/or remote caching.  This behavior was not intended and was a leftover from open-sourcing Bazel. See https://github.com/bazelbuild/bazel/issues/3791.
From release 4.0 users could conditionally enable sandboxing and remote caching for the `exclusive` tag with `--incompatible_exclusive_test_sandboxed`.

- What's going to change? The default valu

[2022-11-28 21:28] keith commented on #16870
I guess that solution is at a slightly different level that what I was thinking about in the transition itself, which I was mostly just making a no-op with the incompatible flag. At what point would the starlark implementation know enough about whether or not it would be configurable to be able to make the decision of soft/hard fail?

[2022-11-28 21:29] gasparev commented on #16871
@meteorcloudy can you `incompatible-change` and `migration-ready` here, please?

[2022-11-28 21:37] trybka commented on #16870
I was being somewhat imprecise there.
Making the transition a no-op (optionally) is a good first step (that would control one piece).

Then, in the Starlark rule impl, we can just check to see whether the action is enabled or not.

Something like this:
[code]

[2022-11-29 00:43] keith commented on #16729
@tjgq I don't believe the linked downstream pipeline [mentioned here](https://github.com/bazelbuild/bazel/pull/16864) ran with your commit, If you look at this job:

https://buildkite.com/bazel/bazelisk-plus-incompatible-flags/builds/1346#0184bbc5-53e8-476c-9b39-f84daa8de193

You see:

[code]

And it appears to me that this sha was a few commits before your change on master flipping this to true:

[2022-11-29 02:38] sgowroji commented on #14055
This issue is fixed. Hence we are closing it.Feel free to reach us for any further questions or to reopen this issue.

[2022-11-29 02:38] #14055 closed

[2022-11-29 02:39] sgowroji commented on #13439
This issue is fixed. Hence we are closing it.Feel free to reach us for any further questions or to reopen this issue.

[2022-11-29 02:39] #13439 closed

[2022-11-29 05:37] sgowroji commented on #16373
Attached PR is merged. We are closing this issue now. Thank you for contributing in PR.

[2022-11-29 05:37] #16373 closed

[2022-11-29 09:33] tjgq commented on #16729
The bazelisk-plus-incompatible-flags pipeline explicitly sets the incompatible flags on the command line; it's meant to be run *before* submitting the flag flip CL (see https://buildkite.com/bazel/bazelisk-plus-incompatible-flags/builds/1346#0184bbc5-53e8-476c-9b39-f84daa8de193 and look for `Running Bazel with --incompatible_strict_conflict_checks`).

What happened here is that `--incompatible_str

[2022-11-29 10:21] meteorcloudy commented on #16827
@yuriyhanysh Please let me know if you think this should still be a blocker for 6.0.

/cc @allevato as reviewer of the change.

[2022-11-29 10:45] limdor commented on #5139
I came up to this issue when trying to find if there is some `bazel clean` parameter in order to clean the disk cache. I find great the proposal of this ticket, but woudn't make sense to implement it on bazel clean? At least additionally, it does not have to be instead.
The reason for that is that you could have more control and what and when to delete. You could decide for example that every nigh

[2022-11-29 11:06] limdor opened #16873 "Update Bazel abseil-py to 1.2.0 or newer"
### Description of the feature request:

I wanted to start this issue to discuss about the update of the abseil-py inside the third_party folder.
The current version used is 0.1.1 that was release on October 2017 (5 years ago).
I came up to that because I was checking why there is still six in third_party folder, and basically is needed for abseil-py.
Version 1.1.0 of abseil-py do no longer need s

[2022-11-29 11:21] petemounce commented on #16841
Just tried this - previous link is still active.

[2022-11-29 13:48] bazel-io opened #16875 "[6.0.0] Update java_tools v11.9"
Forked from #16865

[2022-11-29 13:56] meteorcloudy commented on #16871
<img width="1198" alt="image" src="https://user-images.githubusercontent.com/4171702/204547991-226f0265-c8c1-4cc2-be0c-baea618614eb.png">
https://buildkite.com/bazel/bazelisk-plus-incompatible-flags/builds/1348

Looks like we can safely flip this one. ;)

[2022-11-29 14:47] exoson opened #16876 "Huge heap usage with large number of files and RE"
### Description of the bug:

Huge memory usage is observed when running a large number of tests in remote execution with a large number of input files with their individual runfiles trees created in starlark using ctx.runfiles. If you have the same number of tests with the same number of input files, but instead of create individual runfiles trees you create a single one, the memory usage stays lo

[2022-11-29 14:56] stnma7e opened #16877 "Missing linkopts when building a cc_test"
### Description of the bug:

I noticed recently that a cc_test that I am using in the Android Bazel rules doesn't seem to respect the linkopts flag. I think I tracked down where this is coming from. I ran a bisection to find that the error started when the incompatible_unambiguous_label_stringification flag flipped to default to true.

I noticed that the [_filter_libraries_that_are_linked_dynamica

[2022-11-29 15:05] stnma7e commented on #16877
I have a fix pending that I've discussed with @meteorcloudy, Xudong, and Giorgi to replace `_get_canonical_form(label)` with `_str(label)`.

[2022-11-29 15:11] meteorcloudy commented on #16877
@bazel-io fork 6.0.0

[2022-11-29 15:12] bazel-io opened #16878 "[6.0.0] Missing linkopts when building a cc_test"
Forked from #16877

[2022-11-29 15:28] benjaminp commented on #16876
[code]
will probably be quite helpful.

[2022-11-29 15:41] #16877 closed

[2022-11-29 16:19] meteorcloudy commented on #15879
@wz2wd Do you mean to keep using VS2019? You can just set the `BAZEL_VC` environment variable, this also works in MSYS2.
See https://bazel.build/configure/windows#build_cpp

[2022-11-29 16:19] #15879 closed

[2022-11-29 16:41] Wyverald commented on #16861
Fixed by https://github.com/bazelbuild/bazel/pull/16869

[2022-11-29 16:41] #16861 closed

[2022-11-29 17:13] yuriyhanysh commented on #16827
@meteorcloudy I'm afraid I'm missing some context here to suggest if this is a blocker.

`incompatible_enable_cc_toolchain_resolution` doesn't work with `rules_apple,` but somehow adding the `platform_mappings` file fixed this issue on the earlier `6.0.0` version. Was I just lucky with that?

In my case, the `incompatible_enable_cc_toolchain_resolution` flag is needed for non-apple targets. I gues

[2022-11-29 18:14] keith commented on #16754
hopefully @codeman9 who did the work here can test that one

[2022-11-29 18:32] gregestren commented on #16758
Hi @Colecf

To be clear, we intend to further normalize constraint settings and constraint values. Those are the components that make up platforms, which is an API we continue to roll out to rules and make ubiquitous.

I don't consider the configuration APi to be incomplete in that regard. Although I understand that you have an interest in merging platform and flag properties in a way that's novel

[2022-11-29 18:39] aiuto opened #16882 "Stop using absl flags in python based helpers"
### Technical debt

We depend on absl flags instead of argparse in many android helpers.
We could switch to argparse to reduce footprint.

- [x] tools/build_defs/pkg/build_tar.py
- [ ] tools/android/incremental_install.py
- [ ] tools/android/strip_resources.py
- [ ] tools/android/instrumentation_test_check.py
- [ ] tools/android/aar_embedded_jars_extractor.py
- [ ] tools/android/aar_resources_extr

[2022-11-29 19:49] jsharpe commented on #7260
The rules_foreign_cc breakage is due to the rules_android_ndk breakage as it is just one of the examples that use rules_android_ndk that is broken.

[2022-11-29 20:07] codeman9 commented on #16754
@tjgq Using this commit has solved this issue. Thanks!

[2022-11-29 20:26] kshyanashree commented on #16875
Cherry-picked at #16883

[2022-11-29 21:25] #16875 closed

[2022-11-29 22:20] gregestren commented on #16870
Whatever the details, I think when the phrase "depot cleanup" comes up it's perfectly reasonable to flag-gate functionality and allow Bazel and Google to migrate on their own timelines. Depot cleanups are often involved, long, and by nature org-specific. I'm still struggling with this for `config_setting` visibility.

For Bazel, we'd have to similarly check we don't get downstream breakages?

[2022-11-29 22:45] gregmagolan commented on #16789
Confirmed that this change fixes the problem observed on rules_js with Bazel 6.0.0rc1 & rc2. https://github.com/aspect-build/rules_js/pull/659 updates rules_js to `last_green` and CI is green with `--remote_download_toplevel` set.

Thanks for the quick fix @coeuvre !

[2022-11-29 23:04] haxorz commented on #15636
Thanks for filing this issue!

Looks like commit e194c827f363f1a0de42e757759daa0fc9052db9 changed the behavior from "first" to "last" and aptly updated the user manual but didn't update the help string for the flag (which is used to populate the command line reference).

@jylinv0 , the author of that commit, is OOO until Apr 2023. @susinmotion and @katre were the reviewers. Can one of you please f

[2022-11-30 02:07] MiraaChan commented on #16159
Hi, is jdk embedded in 6.0.0rc2 ?
 I've tried the  [example](https://github.com/bazelbuild/examples)(cpp-tutorial/stage1), and run `bazel info java-runtime`,
it will output with the error`FATAL: Could not find system javabase. Ensure JAVA_HOME is set, or javac is on your PATH.`.
Which in release version like 5.1.0 or 5.3.2, it will ouput the version of embedded_tools/jdk as
`OpenJDK Runtime Enviro

[2022-11-30 03:28] cpsauer opened #16887 "Glob for Repository Rules"
### Description of the feature request:

It'd be handy if there were a glob function on [repository_ctx](https://bazel.build/rules/lib/repository_ctx) and/or [path](https://bazel.build/rules/lib/path)--similar semantically to the glob functions otherwise, but runnable in repository rules and returning paths.

### What underlying problem are you trying to solve with this feature?

As in BUILD files

[2022-11-30 08:42] RomanVlasenko commented on #11854
The issue is still there. As suggested by @gkousik - killing the bazel process helps to make it work.

[2022-11-30 09:32] coeuvre commented on #16789
Thanks for confirming!

[2022-11-30 09:32] #16789 closed

[2022-11-30 09:34] coeuvre commented on #16754
Thanks for confirming!

[2022-11-30 09:34] #16754 closed

[2022-11-30 10:22] meteorcloudy commented on #16795
Merged at https://github.com/bazelbuild/bazel/pull/16879

[2022-11-30 10:22] #16795 closed

[2022-11-30 10:23] meteorcloudy commented on #16878
@kshyanashree Please cherry pick https://github.com/bazelbuild/bazel/commit/cd40666001e8d599bb61735898c195c6d2fae55b to close this one, thanks!

[2022-11-30 10:23] meteorcloudy commented on #16878
After cherry pick this one, we can create rc3 ;)

[2022-11-30 10:42] tjgq commented on #15856
I was planning to get this submitted in time for 6.0.0, but other things got in the way. Let's do it for a 6.x release instead.

[2022-11-30 11:05] meteorcloudy commented on #16827
I believe it's just by luck that this has worked, @keith can confirm that.

I guess this really depends on when rules_apple can add proper platform-based toolchain support.

https://github.com/bazelbuild/bazel/commit/b0487dc28eeb2ce3c0485cf0a21a5e69fbb00bc3 was needed for some google internal use cases, I don't think we can easily revert this change. I think fixing this issue will be one of the bl

[2022-11-30 11:56] kduraisamyvi commented on #7304
check javac is installed. If not installed, use `sudo yum install java-1.8.0-openjdk-devel`.
Then set JAVA_HOME path to `/usr/lib/jvm/java-1.8.0-openjdk-1.8.0.352.b08-2.el7_9.x86_64` dir &
PATH to `$JAVA_HOME/bin:$PATH`

[2022-11-30 12:07] fweikert opened #16888 "Status of Bazel 7.0.0-pre.20221111.3"
- Expected release date: 2022-11-30

Task list:

- [x] Pick release baseline: [455454a5](https://github.com/bazelbuild/bazel/commit/455454a56e961affb041a1d4a9214f7f313a05aa) with cherrypick [4caae75b](https://github.com/bazelbuild/bazel/commit/4caae75b49e815ad2cf1d805f316bc374f03f2ae)
- [x] Create release candidate: https://releases.bazel.build/7.0.0/rolling/7.0.0-pre.20221111.3rc1/index.html
- [x

[2022-11-30 12:13] pauldraper commented on #10782
What does this mean? How can it refer to a target?

[2022-11-30 12:18] kshyanashree commented on #16878
Hi @meteorcloudy ! I have already cherry-picked this one here , but  pre-submit is failing due to missing CLA #16886 . Wanted to check with you. Thanks!

[2022-11-30 12:23] Wyverald commented on #16878
For some reason the original commit was showing up as being authored by "noreply@google.com", which can't pass the CLA check. I think we can just force merge that PR.

[2022-11-30 12:25] Wyverald commented on #16878
Merged in #16886

Let's create an rc3!

[2022-11-30 12:25] #16878 closed

[2022-11-30 12:27] kshyanashree commented on #16878
Sure, Thanks @Wyverald!

[2022-11-30 12:52] cameron-martin commented on #14264
This is also an issue when executing a binary from a custom rule, using `ctx.actions.run`. I _think_ this stops possible solutions 2 & 3 from being viable.

[2022-11-30 13:40] lberki commented on #15454
I think it's all of the above: one would need to
* Come up with an API to say that symlinks (or some symlinks) in a tree artifact are unresolved
* Implement that on the execution side
* Keep track of the metadata in Skyframe and the local action cache

[2022-11-30 14:02] katre commented on #15636
I'll take a look.

[2022-11-30 15:42] meteorcloudy commented on #16729
<img width="639" alt="image" src="https://user-images.githubusercontent.com/4171702/204842642-d5692b62-df8d-4aed-9cfa-34cd386f8029.png">

It looks like in the latest run, the rules_apple breakage was detected: https://buildkite.com/bazel/bazelisk-plus-incompatible-flags/builds/1349

But no other projects failing.

[2022-11-30 15:44] meteorcloudy commented on #16729
Did the caching issue got fixed by https://github.com/bazelbuild/bazel/pull/16822?

[2022-11-30 15:49] tjgq commented on #16729
No, #16822 is unrelated to this. I have an internal CL to fix the caching issues when the value of `--incompatible_strict_conflict_checks`. I suppose the pipeline might sometimes work, depending on the order in which things run. Either way, it's definitely not safe to flip the flag at this time.

[2022-11-30 17:57] fmeum commented on #13944
@hvadehra Now that M1 Macs are available in Bazel CI, would it be possible to get a java_tools release for them?

[2022-11-30 18:01] bartekmi commented on #16442
For what it's worth, I also ran into the exact same issue (working at Google in Git-on-Borg environment in the Anthos space). So this is not an isolated problem.

[2022-11-30 19:11] #16654 closed

[2022-11-30 19:39] torgil commented on #14236
@eric-skydio @gregestren What about an option to omit the "output directory name" completely and let rules resolve path conflicts at package level (eg bazel-out/external/... or bazel-out/allconfig/external/... if too many scripts break) ?

[2022-11-30 20:06] mobileink opened #16890 "fastbuild inconsistency: sets -DDEBUG, -O0 on mac but not on linux"
### Description of the bug:

Building cc_library or cc_binary targets on macos with -c fastbuild generates a compile command that includes `-DDEBUG` and `-O0`.  Building the same code on Linux does not generate these args.

Using `-O0` for fastbuild makes sense, but I don't think `-DDEBUG` does. That has nothing to do anything the build tools can do to speed the build, really; it's something the u

[2022-11-30 21:50] aiuto commented on #16663
Is there an updated timeline for this?
Is there a public list of changes we want to hold the release for?

On Fri, Nov 4, 2022 at 4:40 PM kshyanashree ***@***.***>
wrote:

[2022-11-30 22:15] aiuto commented on #16663
+Radhika Advani ***@***.***> +Yun Peng ***@***.***>

But what I should have asked is "who is the release manager?"
Someone should be vetting all backported features and fixes so that we know
they are relevant and don't break backwards compatibility.

On Wed, Nov 30, 2022 at 4:49 PM Tony Aiuto ***@***.***> wrote:

[2022-11-30 22:25] gregestren commented on #14023
@konste - reading https://github.com/bazelbuild/bazel/issues/14023#issuecomment-1266241503 again, it's not clear to me that the behavior you describe is expected vs. a bug.

In that comment, are you saying that when you run `$ bazel build //foo --platforms=//:emscripten`, then top-level targets build to `bazel-out/asmjs-opt`, but other targets that match that same exact platform under a transition

[2022-11-30 22:31] keith opened #16893 "Support dSYM generation for cc_binary / cc_common.link"
### Description of the feature request:

Currently on macOS if you'd like to generate dSYM you have to go through some objc provider for the final link. Technically any cc_binary could have a dsym, and for other rules that don't particularly depend on objc, like swift_binary, it would be ideal if they could also produce a dsym. It appears to me that even if we made the required crosstool changes s

[2022-11-30 23:04] aiuto commented on #16663
OK. I have 2 PRs in flight now.

On Wed, Nov 30, 2022 at 5:08 PM keertk ***@***.***> wrote:

[2022-11-30 23:38] gregestren commented on #14236
@torgil this is complicated and long-standing because the issue is fundamentally complicated. And it's not a single issue: it's a related collection of issues with varying levels of support and safety challenges. We don't want to make choices that compromise correctness. It's extremely easy to do that with some of these ideas. We're obligated to find a balance that doesn't make it easy for users t