[2021-09-29 04:36] aiuto commented on #13740
This does sound a lot like compatible_with would do it. You would have a series of environments that encompass each other.

To answer Greg's question about libraries that are untagged, I think the initial request requires tags all the way down, just like compatible_with.  If the restrictions are really things like "can't use <iostream>", then you need to assert that on every library.

[2021-09-29 10:11] thii commented on #13804
This is 100% reproducible for us with Bazel 5.0.0-pre.20210831.2.

[2021-09-29 15:33] bcsgh commented on #7534
A partial solution (hits about half the bullets under "Scope"): https://github.com/bcsgh/bazel_rules/tree/master/cc_embed_data

I've only tested that on the limited environments I've needed it in (Linux/ELF) so YMMV. If anyone wants to add Win/COFF I'd accept pull requests.

[2021-09-29 16:06] aiuto commented on #7534
Related: https://github.com/bazelbuild/rules_cc/issues/41.

[2021-09-29 18:59] gregestren commented on #14022
The simple reason is "configurable" means "is a function of the configuration" and a build_setting is a piece of the configuration.

i.e. the configuration includes both `--cpu` and `--my_config`, without guarantees that one is set before the other. So the two can't rely on each other.

What's your larger goal? The pertinent question, I think, is where else you can embed the logic "foo if x86_64 e

[2021-09-29 19:01] gregestren commented on #13997
Interesting report. I'll give it a look as soon as I can...

[2021-09-29 19:06] connorworley opened #14060 "Java <name>_deploy.jar targets do not contain native libraries"
### Description of the problem / feature request:

Implicit `<name>_deploy.jar` targets that are derived from `java_binary` do not seem to include native libraries. This contradicts the docs.

https://docs.bazel.build/versions/main/be/java.html#java_binary

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

I am using https://github.com

[2021-09-29 20:17] jheaff1 commented on #2954
I too would like to be able to compile a pure C application without linking to libstdc++. Any progress on this issue?

[2021-09-29 23:00] cfilleke commented on #13597
Hi Lakshmi!

try this build command for bootstrapping bazel:
[code]

- the `--copt="Wno-error=implicit-fallthrough"` tells the C compiler to please not turn warnings into fatal errors when the warning concerns implicit fallthroughs (as used in murmur-hash functions that seem to be copied-and-pasted and sometimes modified in about 12 places throughout the code)
- the other additional options give y

[2021-09-30 01:22] mauriciogg commented on #8615
Looks like this gradle change needs to be replicated in bazel:  https://cs.android.com/android-studio/platform/tools/base/+/79330f946ba270218ef06e34dfaed22c759c0613

Which is just unpacking an core-for-system-modules.jar  with the sdk (30+) and passing the android jar in the classpath instead of bootclasspath. The core-for-system-modules.jar dependency makes it so that this only works for api 30 a

[2021-09-30 01:35] cushon commented on #8615
We laid most of the groundwork for this with `java_common.BootClassPathInfo`. That provider can be used with `java_toolchain.bootclasspath` to set the contents of a 'system' directory that's passed to javac's `--system` flag.

`--system` overrides the system APIs for Java > 9 compilations, in the way that `-bootclasspath` did for Java <= 8 compilations.

I think most of what's needed here is to cr

[2021-09-30 01:38] sbalabanov commented on #2185
We observed a related issue.
A user has changed some http_rule to download from a different URL but forgot to change SHA parameter of the rule to the checksum of a new object. Because repository cache on user machine and CI machine had old SHA, it did not detect the problem and the change got landed. The new dependency is compliant with the older version of the dependency, so CI build did not fail

[2021-09-30 03:07] sushain97 opened #14061 "Upgrade invocation_policy.proto to proto3"
### Description of the problem / feature request:

Please upgrade the `invocation_policy.proto` file to the `proto3` syntax.

It's currently `proto2`:
https://github.com/bazelbuild/bazel/blob/936196a5397ad056a79cfccfc6d436ccb4a3c770/src/main/protobuf/invocation_policy.proto#L15

### Feature requests: what underlying problem are you trying to solve with this feature?

I'm attempting to generate Rub

[2021-09-30 03:15] coeuvre commented on #13804
@thii Can you share a minimal repro?

[2021-09-30 06:46] cpsauer commented on #13988
Hey all--I gave this quite a good effort on an open-source repro (hence the delay), but couldn't make it happen. That said, it is 100% reproducible across platforms on the repo I can't release :/

So for (1), unfortunately no. It seemed unlikely a toy repo would reproduce it (since we need more compile actions than cores) and there are surprisingly few sizable, open-source C++ repos that build wit

[2021-09-30 06:49] #13955 closed

[2021-09-30 07:52] SaveTheRbtz commented on #5960
A friendly ping here.  Any plans on reviving this?

[2021-09-30 08:45] hlopko commented on #7364
I'd like to add more data, hopefully increasing the visibility of this issue.

To start, lack of this feature blocks migration of native test rules to Starlark (fyi @comius @oquenchil).

Rules Rust require this behavior and currently achieve it by generating a test launcher for each test. In the launcher we append the environment variables we need, and exec the test. This has following issues:

*

[2021-09-30 08:46] hlopko commented on #13805
https://github.com/bazelbuild/bazel/issues/7364 is the canonical issue for the `env` attribute.

[2021-09-30 08:47] hlopko commented on #13805
@UebelAndre is there any other attribute with special behavior in native rules that we need for Starlark rules?

[2021-09-30 08:53] hlopko commented on #7364
CC @c-mita

[2021-09-30 09:04] lberki commented on #7364
/cc @comius

My $.02: since this feature request has been open since a while that there are legitimate use cases, why not? With our move to Starlark-based rules from Java-based ones, we'll need the pertinent  functionality in Starlark anyway.

I'm a little surprised, though, about @hlopko 's assertion that this is a blocker: from a cursory reading of the code:

https://github.com/bazelbuild/bazel/

[2021-09-30 09:09] c-mita commented on #7364
A few lines above that, you'll see that this feature is explicitly disabled for non-native rules.
https://github.com/bazelbuild/bazel/blob/4261b2a/src/main/java/com/google/devtools/build/lib/analysis/RunfilesSupport.java#L488

Removing that check is a breaking change for rules that already define and use an "env" attribute (which is why it was added in the first place; https://github.com/bazelbuil

[2021-09-30 09:28] lberki commented on #7364
Oh, indeed. That's what experienced engineers call "tunnel vision".

I think what you propose is a reasonable path forward. Since then, we became somewhat more lax about incompatible changes so I don't think we need an actual flag. Maybe let's try without a flag and then if it breaks something on CI add the flag?

[2021-09-30 10:52] oquenchil commented on #11552
@keith @googlewalt Hello Keith and Walt,

I'm not sure if what's happening here is a Bazel bug or a limitation of linkers on macOS. This is the command line I got on Linux:
[code]

This is the command line my colleague got on macOS:
[code]

I see that liba.a is passed rather than the object file but that should not matter (that's enabled with the feature SUPPORTS_START_END_LIB). What is happening

[2021-09-30 11:36] hlopko commented on #7364
That sounds wonderful to me!

[2021-09-30 14:22] UebelAndre commented on #13805
@hlopko To my knowledge, there's only `env` and `env_inherit`. Having those would satisfy my needs in `rules_rust`.

[2021-09-30 14:23] jbms commented on #7364
The reason the feature was explicitly disabled for non-native rules is that otherwise it breaks rules_docker, which already was using `env` with a different meaning.

There already is the `TestEnvironment` provider, which solves this problem for test rules in what I would consider a more elegant way than adding magic pass-through attributes:
https://docs.bazel.build/versions/main/skylark/lib/testi

[2021-09-30 15:28] fweikert opened #14064 "Status of Bazel 5.0.0-pre.20210923.7"
- Expected release date: 2021-09-30

Task list:

- [x] Pick release baseline: [9a765c8b](https://github.com/bazelbuild/bazel/commit/9a765c8b498a72e20af6c391bef01e794913c317) with cherrypick [f959a22b](https://github.com/bazelbuild/bazel/commit/f959a22bc59229b723cfca8c987da210b03b8a8d)
- [x] Create release candidate: https://releases.bazel.build/5.0.0/rolling/5.0.0-pre.20210923.7rc1/index.html
- [x

[2021-09-30 15:50] #13805 closed

[2021-09-30 16:08] nikhilkalige commented on #6615
@oquenchil I am still trying to understand why would you put a header file in `srcs` if its going to get propagated all the way up the public dependency chain.

Currently as per you explanation,
If I put `private.h` in `srcs`, then `public.h` in `hdrs` can include it, all the other libs which have this in the `dep`, can also include both the files. Now, can you help me understand why would you `pr

[2021-09-30 16:27] mauriciogg commented on #8615
Got it, so it boils down to adding a system attr in JavaToolchainRule and using that instead of bootclasspath if available?
Is this something being worked on or should i send a PR?

[2021-09-30 18:14] cushon commented on #8615
To expand a little, this doesn't require changes to Bazel core, it 'just' requires creating a starlark rule that packages up `android.jar` and provides `java_common.BootClassPathInfo`, and then to use that rule in the `bootclasspath` attribute of the configured `java_toolchain`.

e.g. something like

[code]

[2021-09-30 18:20] guibou commented on #2951
I hit the problem today on another codebase. We observed that bazel build was using close to 100% CPU time just for filesystem operations (on ext4 or btrfs). After creating 24 millons files, we totally saturated the disks (by reaching the number of inodes)

[2021-09-30 18:37] #14064 closed, assigned to fweikert

[2021-09-30 18:59] AustinSchuh commented on #2951
@guibou , Have you tried `--experimental_sandbox_base=/dev/shm` ?  I've been running it for years now.  It makes a huge difference for my builds.

[2021-09-30 19:36] keith commented on #11552
this isn't particularly true, I don't fully understand your repro case, but can you try to use `alwayslink` / `force_load` with your library? more info on another case: https://github.com/bazelbuild/rules_apple/issues/332#issuecomment-466111814

[2021-09-30 20:36] cushon commented on #13416
https://github.com/bazelbuild/bazel/commit/eb7bf8cd9b6e0eccc7eddcfd2f5d1fb10242c30f

[2021-09-30 20:36] #13416 closed

[2021-09-30 20:39] cushon commented on #13965
A quick update:

* as of https://github.com/bazelbuild/bazel/commit/eb7bf8cd9b6e0eccc7eddcfd2f5d1fb10242c30f, there's a Java 17 toolchain
* https://github.com/bazelbuild/bazel/pull/14059 will update to a version of turbine that supports `record`s, sealed classes are still WIP
* I have an internal review out to update ijar
* the turbine and ijar changes will need another java_tools release

Once al

[2021-09-30 22:00] keith commented on #14044
Here's one option for that https://github.com/bazelbuild/bazel/pull/13822

Alternatively we have created a rule for this (some specifics to our setup you'd have to generalize here):

[code]

[2021-10-01 07:34] mihaigalos commented on #8833
Is there a roadmap for support for `bazel` on `aarch64` `linux` `nojdk`?.. Asking for a friend.. :D

[2021-10-01 08:35] thii commented on #13804
@coeuvre We have a pretty typical setup using a GCS bucket as the remote cache.

[code]

Repro steps:

1. Run
[code]

2. The command opens a page in the browser to login to your Google account and allow permissions.
3. Go back to terminal, run
[code]

[2021-10-01 09:27] oquenchil commented on #6615
When enabling layering_check, the distinction is made clear. If you are using a header from one of your dependencies and that dependency has the header in hdrs, the layering_check will pass, if it has the header in srcs, the layering_check won't pass. Headers in srcs only make sense in the context of the layering_check. Headers being in `srcs` or `hdrs` is not related to implementation_deps.

[2021-10-01 09:57] sventiffe commented on #13811
This issue did not receive an update for a while. @fweikert do we still consider this a P1 and if so please update

[2021-10-01 09:58] sventiffe commented on #13613
This issue did not receive an update for a while. @philwo do we still consider this a P1 and if so please update

[2021-10-01 10:14] philwo commented on #13613
Yes, this is a P1. There is no update yet.

[2021-10-01 10:24] philwo commented on #14013
Please add (potential) release blockers to this milestone: https://github.com/bazelbuild/bazel/milestone/31

[2021-10-01 12:11] philwo commented on #13613
@meteorcloudy Could you help me look into this? Currently Bazel cannot be compiled on newer Linux distributions due to this issue. I'll prepare a new Ubuntu container that we can use to test this with, then we could add it as "soft_fail" to our CI.

[2021-10-01 12:22] vielmetti commented on #8833
@mihaigalos Can you open a separate issue for tracking purposes? This issue has been closed.

[2021-10-01 13:25] meteorcloudy commented on #13613
No problem, do you have a way to reproduce now?

[2021-10-01 13:36] philwo commented on #13613
Yes, if you try to build Bazel on a recent Linux distribution that uses gcc 11.x, this will fail to build. Ubuntu 21.04 uses gcc-10 as default, but has gcc-11 optionally. Arch Linux and Fedora 34 already use gcc 11.x.

IIRC, the latest version of Clang is affected too, when I tried to built Bazel using it on my Arch Linux machine.

[2021-10-01 14:18] googlewalt commented on #11552
For this test case to work, the linker needs to pull in symbols from a into c to satisfy undefined symbols in b.  This has to be done by the linker (as opposed to anything bazel can do), and ld64 (Apple's linker) does not appear to support this use case.

I think the error still remains, for the same reason.

[2021-10-01 14:30] #9017 closed

[2021-10-01 14:43] asv commented on #13416
Will this change be ported to the 4.x branch?

[2021-10-01 15:25] sdtwigg commented on #14022
It would actually be fairly technically challenging. (In particular, if the requested input build setting of a Starlark-defined transitions is not currently set, the infrastructure will lookup the build_setting_default for that build setting and temporarily explicitly set the transition's input build options set to that value. Similarly, if the output of a transition is changed/still at its defaul

[2021-10-01 15:48] mihaigalos opened #14067 "Using eatmydata to reduce disk IO with bazel"
### Description of the problem / feature request:

No ignore of `LD_PRELOAD` when using `eatmydata bazel run //:foo`.
Currently printing:
[code]

### Feature requests: what underlying problem are you trying to solve with this feature?

Reducing disk IO would help speed up actions that constantly write to disk. A ramdisk can be used, yes, but still IO is implied.
[`eatmydata`](https://manpages.debi

[2021-10-01 17:25] #14022 closed

[2021-10-01 17:26] gregestren commented on #14022
Closing on account of the comments above. But we're happy to continue elaborating on alternative approaches, i.e. the sentinel approach @sdtwigg mentions.

[2021-10-01 17:55] michajlo commented on #14052
Looks like we agree then :). This has piqued my interested for various reasons, so I'll work on seeing it through (have some internal things to clean up first).

[2021-10-01 18:48] guibou commented on #2951
That's an interesting proposition. That's not an option for us right now unfortunately. We are running multiples CI pipelines on the same strong machines, so the RAM is already under pressure due to the different build process, if you add (minimum) 20 GiB of data PER CI pipeline, there won't be enough RAM.

However, moving to smaller cloud instances with one CI pipeline per instance may be a solut

[2021-10-01 21:07] oliviernotteghem commented on #13758
4.2.0 lists [turbine fix](https://github.com/bazelbuild/bazel/commit/57672aca01b3be895382c952b550c9f8edf6c9f2) as [cherry picked](https://github.com/bazelbuild/bazel/commit/a04cb1bfad4734f801c48bae3070a799067bda4e). However, I think it was missed, as the version on 4.2.0 is not right (see below). This probably why folks are still seeing issue on 4.2.x ? cc @comius

[code]

[2021-10-01 21:49] ob commented on #8245
I believe this issue is fixed.

[2021-10-01 21:49] #8245 closed

[2021-10-01 23:41] keith opened #14068 "Tests from nested WORKSPACE don't launch"
When running a test from a nested workspace they fail to launch because the test-setup script attempts to run an empty string instead of the path to the binary.

This appears to be because this logic is incorrect for this case:
https://github.com/bazelbuild/bazel/blob/fad21dae0b01d5f9b2274542c89f4c8163c2ff36/tools/test/test-setup.sh#L237

Here's some sample output from running this with `set -x`:

[2021-10-01 23:44] keith commented on #14068
It looks like the test manifest being grepped in this case has this line:

[code]

But this is missing the `envoy_mobile_private/external` prefix

[2021-10-02 00:06] keith commented on #14068
RFC https://github.com/bazelbuild/bazel/pull/14069

[2021-10-02 00:35] simon-swanson-leapyear commented on #14052
Awesome, looking forward to it!

For those here looking for more CI output, I've found an ok workaround: `--show_result` with a very large number to show all the targets that were run by the command, and it turns out the `short` test summary prints out more than the `detailed` summary if the tests all passed:

[code]

[2021-10-02 02:31] AustinSchuh commented on #2951
To be clear, the sandbox base is mostly symlinks.  They are tiny in terms of RAM usage.  The only thing that takes up real space is output_base.

[2021-10-03 08:59] fmeum opened #14071 "Bazel crashes when split and regular attributes refer to same target"
### Description of the problem / feature request:

Bazel crashes with a precondition failure when the same target is referenced both as a regular attribute and a split attribute of a custom rule if one of the configurations returned by the split transition returns the default configuration.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possi

[2021-10-04 08:13] hlopko commented on #7364
I didn't know about docs.bazel.build/versions/main/skylark/lib/testing.html#TestEnvironment. That is indeed much nicer solution that allows us for example to define our own expansion variables. I've implemented a change to use `TestEnvironment` in `rules_rust` in https://github.com/bazelbuild/rules_rust/pull/960, and I'm generally happy, thank you!

I plus-one the need for an equivalent provider t

[2021-10-04 16:03] katre opened #14074 "Negative target patterns with toolchain registration"
To investigate:

Toolchains (and execution platforms) are currently registered as target patterns. Do we currently allow negative target patterns? Should we?

I.e, given the following BUILD file:
[code]

Then the following are equivalent currently:
[code]
and
[code]

But are these the same:
[code]
and
[code]

[2021-10-04 16:04] katre commented on #14074
Ping @wyverald, this relates to your recent work on target patterns and toolchain registration.

[2021-10-04 16:45] Wyverald commented on #14074
What I did in the recent change was: you can pass negative patterns in flags (the PlatformConfiguration stuff), but not in `register_toolchains` calls (it sounds a bit weird to me that a macro could just say `register_toolchains("-//...")` and essentially disable any previous `register_toolchains` calls). Do you think that's fine?

I haven't actually tested whether the negative patterns actually w

[2021-10-04 17:32] cushon commented on #13965
@comius now that the ijar (26229fe7a04791a512cc1320ce84130e97afe565) and turbine (69b43621a16d7ede62a3b876772e8b297d4ea09e) changes are merged, I think so.

[2021-10-04 17:51] katre commented on #14074
Makes sense, thanks for the comments.

[2021-10-04 18:43] aiuto commented on #1580
Friendly ping: I think this is effectively a dup of #6444.  We should close this and leave that.
Thoughts?

[2021-10-04 20:20] ahumesky commented on #12889
Thanks @freedomtan, I'm happy to review a pull request for this if you're able to send one out.

[2021-10-04 21:10] mai93 commented on #10587
`required_providers` is now exposed to Starlark in 1bca1bde7db06340559878a7d54b1f5698e7ddd6

[2021-10-04 21:11] #10587 closed

[2021-10-04 23:37] cushon commented on #13965
@comius  I have one more turbine improvement that would be nice to include in the next java_tools: https://github.com/bazelbuild/bazel/pull/14076

[2021-10-04 23:40] gregestren commented on #12171
@mobileink @jerrymarino can we sync to clarify the nature of your problems from the above conflicts?

I'm trying to prioritize improvements as mentioned in my previous comments. Understanding which use cases they would and wouldn't solve would help clarify.

[2021-10-05 01:03] #12988 closed

[2021-10-05 02:09] gregestren commented on #13997
Thanks. I confirmed this.

It's cache key imprecision when trying to cache transition execution: https://github.com/bazelbuild/bazel/blob/04288289f90c6a81415cd89c6ad74eee2e17da5b/src/main/java/com/google/devtools/build/lib/analysis/starlark/StarlarkRuleTransitionProvider.java#L77-L81

I think this is as simple as storing the full `rule` instead of `rule.getLabel()` - key point being that also take

[2021-10-05 03:06] brandjon commented on #1580
Sure, we can ref this from #6444.

[2021-10-05 03:06] #1580 closed

[2021-10-05 09:00] sitaktif commented on #7364
`env_inherit` has been great for our java integration tests and is the UX is very discreet (just an attribute). We're currently using an ugly workaround for non-native starlark rules so I am in favour of keeping `env_inherit` for non-native rules in scope for this issue.

[2021-10-05 16:01] janakdr commented on #5588
I'm not opposed to this change being made. However, my subteam at Google does not have the bandwidth to make it. I would be open to an external contribution. @philwo for broader Bazel visibility if this is a high-enough priority that someone inside Google should work on it.

[2021-10-05 16:06] Timmmm opened #14081 "Slow startup time"
I just install Bazel 5.0.0-pre.20210923.7 on a Mac, and all commands have an approximately 2 second delay, even after warm-up!

[code]

Very consistently over 2 seconds. Not a very good new user experience! Is the rest of Bazel equally slow? Is it really meant to be like that?

[2021-10-05 17:12] quval commented on #14013
I'm still hoping that #14011 can make the cut – it's been open for a while already been pre-reviewed by @oquenchil (see discussion on #13819), so hopefully there's not much work left before it can be merged.

[2021-10-05 17:34] quval commented on #14013
Thanks, @philwo – not sure I'd say it's a release blocker, I'm just hoping to get that bug fixed :)

[2021-10-05 17:42] philwo commented on #14013
Yeah, let's just put it on the list so we don't forget about it 😊 Easier to track open PRs / issues in a milestone than a free-form text like here. If it turns out to be too difficult to merge, we can push it back to the backlog.

[2021-10-05 18:14] johncblacker opened #14083 "Documentation issue: Configuring C toolchains Fails to build"
Opened issue by mistake, trying to follow another tutorial:
https://docs.bazel.build/versions/4.2.0/tutorial/cpp.html
Will see if I have any luck with this one.  Tried the cross compile arm toolchain tutorial and got this output:
jb@jb-VirtualBox-dev:~/bazel-tutorial/examples/cpp/main$ bazel build --config=clang_config //main:hello-world
INFO: Analyzed target //main:hello-world (0 packages loaded,

[2021-10-05 23:18] keith commented on #14038
I submitted https://github.com/bazelbuild/bazel/pull/14084 for the default crosstools

[2021-10-06 00:40] aiuto commented on #3831
Closing because this is for an obsolete Bazel and has gone stale.

[2021-10-06 00:40] #3831 closed

[2021-10-06 00:44] aiuto commented on #8548
Closing because this is for an obsolete Bazel and has gone stale.

[2021-10-06 00:44] #8548 closed

[2021-10-06 00:45] #7104 closed, assigned to nobody

[2021-10-06 00:59] aiuto commented on #7311
I'm closing this because where are reasonable workarounds and implementing it is expensive. There is little chance our team will ever implement it.

[2021-10-06 00:59] #7311 closed

[2021-10-06 01:03] jgavris commented on #1920
A sneaky hack that might work (depending on what platform / architecture your library is targeting) is that `objc_library` has an implicit output target that is a fully-linked static library. I don't believe there's any requirement to actually have any Objective-C sources in the library, so you can just reference your dependencies and get a transitive statically linked library.

https://docs.bazel

[2021-10-06 01:05] aiuto commented on #8129
ping all.  Is this obsolete now?

[2021-10-06 02:00] #7916 closed

[2021-10-06 02:03] aiuto commented on #7108
Closing this. Let's be realistic and say we are not going to implement this.

[2021-10-06 02:25] aiuto commented on #788
Closing.  It can't be folded into -c opt  easily, and the equivalent can be done with existing toolchain mechanisms.

[2021-10-06 02:25] #788 closed

[2021-10-06 02:27] aiuto commented on #4681
Closing. We don't want to add to fragments, and a shell toolchain would solve the problems.

[2021-10-06 02:27] #4681 closed

[2021-10-06 07:28] #3757 closed

[2021-10-06 13:53] oquenchil commented on #8129
Yes, it's fixed.

[2021-10-06 13:53] #8129 closed

[2021-10-06 14:25] #12973 closed

[2021-10-06 16:45] steven-johnson commented on #1920
With all due respect, that is just nuts.

[2021-10-06 18:04] cushon commented on #13965
With https://github.com/bazelbuild/bazel/pull/14089 patched in, simple Java 17 examples work when passing ` --java_language_version=17 --java_runtime_version=17 --tool_java_language_version=17 --tool_java_runtime_version=17`.

I'd appreciate if anyone wants to try this out and report issues you find. We aren't using Java 17 much yet, so I don't have a lot of code to test against.

[2021-10-06 18:05] cushon commented on #13966
@comius I'm not entirely clear on the interaction between the versioning of java_tools and Bazel, and LTSs. I think #13965 is going to be fixed in time for the cutoff for 5.0. Is there anything else to be done here?

[2021-10-06 19:02] #13060 closed

[2021-10-06 19:08] aiuto commented on #12036
Closing because we are working on solutions to this on a number of fronts.
The short explanation is that  it will never be bazel-out/${platform}-opt/, the output directory will be some function of the configuration used by any target.

[2021-10-06 19:08] #12036 closed

[2021-10-06 19:11] aiuto commented on #13623
Closing on WAI an inactivity.

[2021-10-06 19:11] #13623 closed

[2021-10-06 19:12] aiuto commented on #12859
Closing on staleness.

[2021-10-06 19:52] aiuto commented on #5351
Fixed by protobuf update and https://github.com/bazelbuild/bazel/commit/121f6c7041b1ed73c715ae3dbc21bf47ab40b697

[2021-10-06 19:52] #5351 closed

[2021-10-07 08:22] jin opened #14090 "`cquery --output=starlark --starlark:expr="providers(target)" --include_aspects` doesn't show providers introduced by aspect"
Repro:

[code]

I expected `//:kind.bzl%KindInfo` to also be in the cquery result, but it's not there. The [documentation](https://docs.bazel.build/versions/main/cquery.html#include_aspects-boolean-default-true) suggests that `--include_aspects` will make cquery follow aspects and therefore create the new `KindInfo` provider as well.

[2021-10-07 14:02] fweikert opened #14091 "Status of Bazel 5.0.0-pre.20210929.1"
- Expected release date: 2021-10-07

Task list:

- [x] Pick release baseline: [61a5fae1](https://github.com/bazelbuild/bazel/commit/61a5fae1b49ed067350d93578da268715031df06)
- [x] Create release candidate: https://releases.bazel.build/5.0.0/rolling/5.0.0-pre.20210929.1rc1/index.html
- [x] Post-submit: https://buildkite.com/bazel/bazel-bazel/builds?branch=release-5.0.0-pre.20210929.1rc1
- [x] Push

[2021-10-07 14:16] torgil commented on #13436
@outermeasure This patch was rolled back due to "Breaks some targets". Do we know why this is?

[2021-10-07 16:38] #14091 closed, assigned to fweikert

[2021-10-07 18:17] Wyverald commented on #9387
Thanks for the context, @shs96c. I realize we're years late here, but the new external dependency system "bzlmod" should solve the pains you mentioned without requiring interleaving `load` in .bzl files. (In fact, it's such a technical burden that we want to get rid of it altogether.) With the new system, you don't need all that boilerplate to set up a dependency; simply adding the dependency will

[2021-10-07 18:53] jkugler commented on #12010
Will this be back-ported to the 4.x branch?

[2021-10-07 20:27] aiuto commented on #13209
Closing on staleness

[2021-10-07 20:27] #13209 closed

[2021-10-08 00:24] chancila commented on #14044
by default the downloader supports basic auth if you use a netrc file (by default it will read ~/.netrc automatically)

you probably shouldn't be commiting authentication files in your source tree...

[2021-10-08 03:22] omarzl commented on #13558
Hello there! These are my first contributions to the repo, I sent a cherry pick pr #14086 to 4.2.1 but it is already released, can a 4.2.2 or 4.3.0 be opened? Or should I send it to 5.0? Thanks!

[2021-10-08 03:53] teekoksiang commented on #14044
@keith @chancila hey thanks, I have found a way to do the authentication.
I wrote a script to create .netrc file and delete it after it was used to authenticate with the remote repo.

[2021-10-08 03:53] #14044 closed

[2021-10-08 08:42] lingithub1 opened #14092 "Performance Degradation in 5.0.0-pre: +35% wall clock time"
### Description of the problem / feature request:

The wall clock time for a build of my project increased from 2m42s (Bazel 4.2.1) to 4m (5.0.0-pre.20210929.1)

(However, the internal efficiency of Bazel increased by ~ 35%: CPU time 26m (Bazel 4.2.1) -> 15m (5.0.0-pre.20210929.1)

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Sorr

[2021-10-08 10:39] #12963 closed

[2021-10-08 10:58] Wyverald commented on #9387
The most up-to-date information remains the [original design doc](https://docs.google.com/document/d/1moQfNcEIttsk6vYanNKIy3ZuK53hQUFq1b1r0rmsYVg/edit) Philipp linked to in https://github.com/bazelbuild/bazel/issues/9387#issuecomment-724492991. It needs a bit of refreshing but the general idea is still intact.

[2021-10-08 12:07] asuffield opened #14093 "java builder fails to die when encountering OutOfMemoryError"
This catch silently discards OutOfMemoryError: https://cs.opensource.google/bazel/bazel/+/master:src/java_tools/buildjar/java/com/google/devtools/build/buildjar/javac/BlazeJavacMain.java;l=139;drc=935f783fc54b55168db7f156c9661c4584892b6e

This has the unfortunate effect that if the jvm is borderline, the worker will keep running, keep collecting compile actions, and failing them all with OutOfMemo

[2021-10-08 17:25] BillyAutrey commented on #12762
@deanwampler For what it's worth, I ran into this exact issue and was able to create a reproducer.  This should now be fixed in the latest `rules_scala`.

[2021-10-08 17:27] ddl-deanwampler commented on #12762
That's great to hear!

[2021-10-08 17:58] #9387 closed

[2021-10-08 19:25] comius commented on #13966
I think this is it. java_tools has been release and are used by default @head, and will make it into LTS release.

If we make changes later, we can release java_tools again, users can use the new version of java_tools manually or we can also patch LTS release for the newer version of java_tools to be used by default.

[2021-10-08 19:25] #13966 closed

[2021-10-08 19:52] beasleyr-vmw opened #14094 "action sandbox elides empty directories from tree artifacts"
### Description of the problem / feature request:

I happened upon a tree artifact edge case involving empty directories.

Consider two tree artifacts, `treeA` and `treeB`.  Both contain an empty directory named `empty`, but `treeB` also contains a file named `dummy`.

[code]

When these tree artifacts are provided as inputs to a sandboxed action, Bazel elides the empty directory from `treeB`.  If

[2021-10-09 22:41] c16a commented on #13989
I'm having the same issue. Any clues what might have gone wrong?

[2021-10-10 14:18] makingglitches commented on #13613
@philwo   gcc 10 is then apparently displaying non standard behavior as it is expecting header files to be included when not specifically included.  thats the isssue that is occurring.

there is a chain of inclusion.

if i include from an h file that gets included, then all of that becomes available to the source file.
if i include only in a source .c or .cpp file it is to be local to that source

[2021-10-10 22:33] bdleitner opened #14095 "Annotation Processor does not run on a resources change."
### Description of the problem / feature request:

I have an annotation processor that looks up files (expected to be included via `resources`) and uses them to generate code.
When the content of the `resources` directory changes, the `java_library` target on which the plugin is applied does not rebuild, so the generated code is not updated.

### Bugs: what's the simplest, easiest way to reproduce

[2021-10-11 07:40] larsrc-google commented on #13599
Yes, that is correct.

[2021-10-11 08:19] lingithub1 commented on #13988
If I understand the consequences of 4af3428 correctly, build steps with (massive) unused inputs are penalized by reduced parallelization. Right?

[2021-10-12 01:06] Mabelian opened #14097 "problems when building bazel on mips64"
### Description of the problem / feature request:
I downloaded bazel-pre-5.0.0-dist.zip and tried to build bazel on mips64 architecture. I builted with jdk 8 and jdk 11, the same bug happened.

ERROR: /tmp/bazel_twgOGtF0/out/external/bazel_tools/tools/jdk/BUILD:29:19: While resolving toolchains for target @bazel_tools//tools/jdk:current_java_runtime: no matching toolchains found for types @bazel_t

[2021-10-12 01:08] philsc commented on #12897
I created a draft PR after rebasing on latest master. Still need to actually incorporate Greg's feedback.

[2021-10-12 09:34] burak-db opened #14100 "Python Zip Generated With --build_python_zip Do Not Have All of the Runfiles"
### Description of the problem / feature request:

Question is about python builds specifically about `--build_python_zip` flag. We have a custom rule that emits PyInfo provider so we are able to depend on our custom rule from py_library and py_binary rules. Our custom rule basically unzips a wheel package and adds it to the `imports` field of PyInfo so that it is added to the python path when exe

[2021-10-12 10:01] #14081 closed

[2021-10-12 15:15] gregestren commented on #13997
FYI I have a pending fix for this at https://bazel-review.googlesource.com/c/bazel/+/178498. I just want to check it doesn't introduce performance regressions before submitting.

[2021-10-12 16:50] vsramadanov opened #14101 "How to use protobuf well-known types in Bazel 4.2.1"
### Problem description

I'd like to use google protobuf + bazel to set up communication between C++ and python parts of my program. I've got the following WORKSPACE file:
[code]
and the BUILD file:
[code]
The container.proto tries to `include "google/protobuf/any.proto"`. On my command `bazel build //:container_cc_proto` I see the following error:
[code]
Could anyone please tell me how to include

[2021-10-12 19:26] aiuto commented on #5768
This is not a Java rules problem. This is a utility issue.
It should be closed.  There is no reason to use @bazel_tools//tools/zip:zipper in your own code.  Use @rules_pkg//:pkg.bzl%pkg_zip  (or pkg_tar) which are easier to use and do not exhibit this bug.

[2021-10-12 19:39] vsramadanov commented on #14101
no, I haven't. Do you think it would be better to ask on the protobuf side?

[2021-10-12 20:05] malkia opened #14102 "Offer buildozer fix for missing C/C++ headers"
Bazel detects C/C++ include problems, which is great, wondering if this can go further and offer automatically a buildozer command-line that if executed would fix the file? For example as done here for Java jar issues -

https://github.com/bazelbuild/bazel/blob/09c621e4cf5b968f4c6cdf905ab142d5961f9ddc/src/java_tools/buildjar/java/com/google/devtools/build/buildjar/javac/plugins/dependency/Dependen

[2021-10-13 01:12] 424778940z opened #14103 "Is here a way to just somply run a shell command in bzl function?"
let's say i have list of strings needs to be printed out. (I now there is print() but that's not the point)
I read all documents but just can't figure out a way to do it directly.
Both `ctx.actions.run_shell` and `ctx.actions.run` REQUIRES an output attr.

[code]

[2021-10-13 02:52] ljiang-dev opened #14104 "Confusion about the logs when running two identical builds in parallel"
### Description of the problem / feature request:

When running two identical bazel builds in parallel, the log output show that they both had the same number of remote cache hits. The builds were run on separate machines. The previous understanding was that two parallel builds would be able to download off each other at the action granularity, and that this would translate to remote cache hits. T

[2021-10-13 04:52] aiuto commented on #5768
Let me see if I understand. You currently use the zipper executable as something you invoke in a `ctx.actions.run() `from `scala_*()`.    That is, the special thing you care about is having zip available pre-built alongside bazel, more than having a` pkg_zip(`) rule.

If I understand that correctly, then the best path here is fixing ijar, but that is not a quick fix. Without redesigning the input

[2021-10-13 05:31] ittaiz commented on #5768
We also use zipper in internal rules in a similar fashion and not all archives we create are jars.
Maybe some escaping is needed (and for the tool to support it)?

[2021-10-13 06:58] vsramadanov commented on #14101
moreover, the officially provided example https://github.com/cgrushko/proto_library fails to build with bazel 4.2.1:
[code]
Other proto targets compile OK.

please keep all documentation updated!

[2021-10-13 10:10] guyco-redis opened #14106 "Bazel crashes on missing pyc file"
### Description of the problem / feature request:

When building a target that runs python3, bazel crashes on `FileNotFoundException`. The file it complains about it a pyc file inside a `__pycache__` directory.
[code]

### Feature requests: what underlying problem are you trying to solve with this feature?

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal

[2021-10-13 11:41] 2247134155 opened #14108 "some shared library dependencies of cc_binary's output so file accidentally linked to ../_solib_k8/_U temporary .so files"
### Description of the problem / feature request:

When I build target

and use ldd to check dependencies, it's not linked to my local .so file, linked to temporary .so file

`liblocal_dep.so => /home/chris/workspace/test_repo/bazel-bin/src/../_solib_k8/_U@test_Unamespace_S_S_Ctest_Unamespace___Uexternal_Stest_Unamespace_Slib/liblocal_dep.so`

Instead, I want it to link to the absolute liblocal_de

[2021-10-13 12:16] carlosgalvezp opened #14109 "--run_under doesn't correctly propagate .runfiles when running a cc_binary instead of a cc_test"
### Description of the problem / feature request:

I want to run a `cc_binary` under `valgrind`. I get `valgrind` through an `http_archive`, so I call bazel like this:

[code]
Now, `valgrind` is composed of a `wrapper` plus some data:

[code]

The problem is that when running the above line, Bazel doesn't pull the `data` into the sandbox (`.runfiles` folder). I.e. the `wrapper` exists, but not the

[2021-10-13 19:42] marczych-zoox commented on #13736
We ended up patching the python wrapper script to check for an environment variable to skip runfiles cleanup and use `os.execv()` rather than `subprocess.check_call()`. It's far from perfect but works for our use case because it's an ephemeral environment so we don't care about leaving cruft on the file system.

[2021-10-13 19:52] katre opened #14110 "Remove `--experimental_add_exec_constraints_to_targets`"
It doesn't appear to be widely used and is just complicating the codebase. We should remove it and simplify.

[2021-10-13 20:31] aiuto commented on #5768
Well, yes. We would need to change the tool and possibly any rules that use it. But there is really no way around that, since people are building their command lines any way they want.

I'm not a fan of command line escaping. It is hard to do right portability, in the face of various shells.
What I would prefer is the list of input files output paths was written to a file in a structured manor, th

[2021-10-13 22:18] 424778940z commented on #1920
Tested and works for me, thanks.

[2021-10-14 04:02] cpsauer commented on #13988
Thanks for your conscientiousness, @wilwell.

Is your read of the aquery output (above) that there are a large number of (unused) inputs? I see a short inputs list, but perhaps the heuristic counts, e.g., large numbers of system/library headers, not listed?

I obviously don't know the internals as well as you do--but want to make sure that this does indeed fall into that case. [Unlike the other is

[2021-10-14 05:59] coeuvre opened #14111 "Failed to build with Bazel@HEAD+RBE"
Got the following error when building bazel with Bazel@HEAD+RBE:
[code]

Full log: https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/2214#6f689d64-882d-4800-9b45-c4acc0b2745c

With `--toolchain_resolution_debug`:
[code]

The relevant configs are:
[code]

[2021-10-14 12:11] Amazing8 opened #14112 "bazel build onos failed"
ubuntu18046@ubuntu:~/onos_v1/onos$ bazel build onos --action_env=HTTP_PROXY=$HTTP_PROXY
Starting local Bazel server and connecting to it...
... still trying to connect to local Bazel server after 10 seconds ...
INFO: Analyzed target //:onos (1675 packages loaded, 53313 targets configured).
INFO: Found 1 target...
INFO: Deleting stale sandbox base /home/ubuntu18046/.cache/bazel/_bazel_ubuntu18046/d

[2021-10-14 14:19] ulrfa commented on #14104
Is the issue occurring only when running in parallel on separate machines? Do you get more hits if:
- Running in sequence on separate machines?
- Running in parallel on same machine?
- Running in sequence on same machine, without `bazel clean` in between? (to get hits from local workspace cache)

Have you changed default values for any cache related settings? E.g. `--remote_upload_local_results` o

[2021-10-14 16:55] GMNGeoffrey commented on #5139
It allows you to specify a max size instead of a max age, which is pretty nice. Definitely users doing their own cleanup with random scripts is not ideal in general

[2021-10-14 22:30] samhowes opened #14113 "libtool_check_unique failed to generate"
### Description of the problem / feature request:
[code]

More context:
[code]

build buddy link: https://app.buildbuddy.io/invocation/ee1309f6-609f-406d-92dd-eea35b849873

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

No idea. This happened on my Azure Pipelines MAC OSX CI machine. Historically, this has not happened. Filing this

[2021-10-14 22:33] keith commented on #14113
Interesting. Do you know if the machine has run any other developer tools commands on macOS, like `sudo xcodebuild -runFirstLaunch`?  A timeout to me implies macOS popped up a modal that it's expecting user input to 🙃

[2021-10-14 22:54] keith commented on #14113
I would also be surprised, but it's quite suspect that another run would pass

[2021-10-15 07:17] wenshiqi0 opened #14118 "macOS ar make error"
### Description of the problem / feature request:

bazel build cpp project with musl, but ar make error.

ERROR: /Users/munong/Documents/wasm/web-container/third_party/musl/BUILD:3:11: Linking third_party/musl/libwasm.a failed: (Exit 1): ar failed: error executing command /usr/bin/ar rcsD bazel-out/wasm-fastbuild/bin/third_party/musl/libwasm.a bazel-out/wasm-fastbuild/bin/third_party/musl/_objs/wa

[2021-10-15 08:00] #14118 closed

[2021-10-15 11:30] oehme opened #14120 "BES artifact upload creates thousands of threads and sometimes hangs"
### Description of the problem

I have a dummy project with 10000 packages that each have a single target that writes "Hello World" to a text file. This project is a test case for our build event service. This project usually only takes a few seconds to build, but at least once a week the build gets stuck after the "Build Finished" message and never returns. Looking through the [thread dump](https

[2021-10-15 15:22] joshua-ostrom opened #14121 "Pip timeout too low"
### Description of the problem / feature request:

Bazel build fails on on large pip installs (numpy, pandas etc)

### Feature requests: what underlying problem are you trying to solve with this feature?

Trying to run bazel without errors

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

A clean python install lacking numpy, pandas,

[2021-10-15 22:00] mobileink commented on #12171
Sorry for the delayed response.  I don't really have much to add beyond my previous message.  Basically I need to be able to cancel a transition.  So if I have A -> B -> X, and C -> X, with a transition between A and B, I need to be able to pop the transition config state so that B and C depend on the same (sole) build of X.  Maybe this has been addressed in the meantime, it's been a while since I

[2021-10-16 01:42] gkheeva opened #14122 "missing input file 'external/androidsdk/platforms/android-29/android.jar'"
### Description of the problem / feature request:
I'm running into these two errors when running a test using bazel:

ERROR: missing input file 'external/androidsdk/platforms/android-29/android.jar', owner: '@androidsdk//:platforms/android-29/android.jar'

[2021-10-16 09:47] carlosgalvezp commented on #4605
Unfortunately still the same problem with `gcc` :(

[code]

[2021-10-17 07:39] fmeum commented on #9442
I just hit this issue as well (detailed reproducer at https://gist.github.com/fmeum/97bd7198ece1f2c02bfbad11443331ce). It is a very good way to loose quite a bit of time because it's hard to come up with the idea that this *wouldn't* just work.

@brandjon Would you be able to raise the priority back to at least P3? If so, I would start to investigate the root cause and hope to create a PR.

[2021-10-17 12:33] ozio85 commented on #1920
There is also an alternative solution to forward the object files, if you want to keep the logic from the cc_library.
[code]

[2021-10-18 03:02] psigen commented on #6994
Is this issue addressed at all by this recent PR?
https://github.com/bazelbuild/bazel/pull/13279

[2021-10-18 12:33] fweikert opened #14124 "Status of Bazel 5.0.0-pre.20211006.1"
- Expected release date: 2021-10-18

Task list:

- [x] Pick release baseline: [681886de](https://github.com/bazelbuild/bazel/commit/681886de2901a2f7920288253674927cf13f1585)
- [x] Create release candidate: https://releases.bazel.build/5.0.0/rolling/5.0.0-pre.20211006.1rc1/index.html
- [x] Post-submit: https://buildkite.com/bazel/bazel-bazel/builds?branch=release-5.0.0-pre.20211006.1rc1
- [x] Push

[2021-10-18 14:44] burak-db commented on #14100
okay I see. Shall we ping any of them?

[2021-10-18 15:53] beasleyr-vmw opened #14125 "FR?: ctx.actions.symlink action time scales w/ size of input; should be constant"
### Description of the problem / feature request:

Action 1 generates a 2 GiB output, `2gb.out`. Creating the output takes .75s, but postprocessing (checksumming?) via `actuallyCompleteAction` takes 5s
Action 2 is a `ctx.actions.symlink` with `target_file = ctx.file.2gb_out`. Creating the output is seemingly instantaneous, but postprocessing via `actuallyCompleteAction` costs another 5s.

### Feat

[2021-10-18 19:16] katre opened #14127 "Clean up and remove toolchain transition code"
The toolchain transition is now the default: it's time to clean up the code and remove it.

1. Remove uses of incompatible_use_toolchain_transition.
2. Remove uses of the flag incompatible_override_toolchain_transition.
3. Remove the code and the flag!

[2021-10-18 19:35] kmicklas opened #14128 "Flag to include URLs in repository cache key when canonical_id not specified"
### Description of the problem / feature request:

It would be nice to have a flag, e.g. `--experimental_use_urls_as_default_canonical_id`, which includes the URLs in the repository cache key if `canonical_id` isn't set manually in the call to `download`/`download_and_extract`. This can be used in a CI system to verify that invalid repository updates don't get checked in.

### Feature requests: wh

[2021-10-19 05:33] philsc commented on #12897
Note to self: test how this refactor behaves with `select()` against the toolchain:
[code]

[2021-10-19 12:39] #7313 closed

[2021-10-19 12:47] Wyverald commented on #7260
@katre @philwo do we want to do this for 5.0, or should it be postponed again?

[2021-10-19 13:44] carlosgalvezp opened #14132 "Bazel wants full dependency graph for incompatible targets - why aren't they just skipped?"
### Description of the problem / feature request:

Hi!

I have a target that is only compatible with the `aarch64` platform:

[code]

Now, the `bar` dependency comes in two flavors, so I have an alias:

[code]

Now, my problem is that when I build for `x86` using wildcard, Bazel complains that it cannot find any `bar` for x86. And that's of course expected - there's no `bar` or x86! However why is

[2021-10-19 14:48] Wyverald commented on #7260
Thanks for the update!

[2021-10-19 15:54] #14124 closed

[2021-10-19 23:43] yesudeep opened #14135 "Unable to build bazel on FreeBSD due to 'error: use of undeclared identifier 'SIGKILL' '"
### Description of the problem / feature request:

[code]

### Feature requests: what underlying problem are you trying to solve with this feature?

- [ ] Build bazel on FreeBSD using the repository.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[code]

### What operating system are you running Bazel on?

[code]

### What's the ou

[2021-10-20 00:06] yesudeep opened #14137 "[FreeBSD/OpenBSD] Unable to build bazel on systems where `bash` does not exist at `/bin/bash`"
### Description of the problem / feature request:

Tools used by Bazel to bootstrap itself and others written in Bash assume a non-portable location for the `bash` executable binary.
The binary is located at different locations on different operating systems. For example:

- [ ] GNU/Linux distributions (generally): `/bin/bash`
- [ ] MacOS: `/bin/bash`
- [ ] FreeBSD: `/usr/local/bin/bash`
- [ ] Ope

[2021-10-20 00:09] keith commented on #14137
Note that this isn't always preferred IMO since this could result in significantly different versions for users who install their own. This _likely_ isn't an issue but we've experienced developers writing shell scripts testing against their newer version just to find they fail on other older versions. (this is significantly worse on macOS since it ships with a super old version of bash)

Regardles

[2021-10-20 05:09] vamossagar12 opened #14139 "Bazel install Fails with 403 while installing inside a Docker container"
I am trying to install Bazel in a Docker container using a docker file. I followed the exact steps as the ones mentioned in the [installation guide](https://docs.bazel.build/versions/main/install-ubuntu.html#install-on-ubuntu).

DockerFile extract:
[code]

However, it keeps failing with a 403 Forbidden error:

[code]
Ubuntu Version: 18.04
Any help would be appreciated.

[2021-10-20 15:05] meteorcloudy opened #14140 "Bzlmod: stardoc is broken by repo mappings"
When Bzlmod is enabled, building stardoc for a bzl_library which has external dependencies will fail.

This is discovered in https://github.com/bazelbuild/bazel-central-registry/pull/18, and the build failure can be found [here](https://buildkite.com/bazel/bcr-presubmit/builds/37#f4cbef4e-b3b4-41dd-acda-342d99acb790).

The root cause is that when Bzlmod is enabled, the canonical repo name for baze

[2021-10-20 15:11] meteorcloudy commented on #13794
Done at https://github.com/bazelbuild/bazel/commit/e83858bca9112e70f60b56fa70dcc01d42e4fa03

[2021-10-20 16:20] fweikert opened #14141 "Status of Bazel 5.0.0-pre.20211011.2"
- Expected release date: 2021-10-20

Task list:

- [x] Pick release baseline: [3b3bad9e](https://github.com/bazelbuild/bazel/commit/3b3bad9e774891856c198738c46d547de954b84a) with cherrypick [d8c23189](https://github.com/bazelbuild/bazel/commit/d8c23189c9118f99cfc3eaac98976b7c6fdacae0)
- [x] Create release candidate: https://releases.bazel.build/5.0.0/rolling/5.0.0-pre.20211011.2rc1/index.html
- [x

[2021-10-20 17:58] brentleyjones commented on #14013
@Wyverald I guess cherry-picks?

[2021-10-20 18:42] sgammon opened #14142 "Turbine build issue with Micronaut"
### Description of the problem / feature request:

[Micronaut](https://micronaut.io) performs annotation processing to facilitate pre-wired DI. Through their [`TypeElementVisitorProcessor.java#L432`](https://github.com/micronaut-projects/micronaut-core/blob/3.1.x/inject-java/src/main/java/io/micronaut/annotation/processing/TypeElementVisitorProcessor.java#L432), when Turbine is active via `--java_

[2021-10-20 19:30] #14141 closed

[2021-10-20 20:54] yesudeep opened #14143 "gcc-ar failed: error executing command ... /usr/bin/ar: invalid option -- '@'"
### Description of the problem / feature request:

Build failure:

[code]

with Bazel's rolling release.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[code]

### What operating system are you running Bazel on?

OS: ClearLinux

[code]

Compiler:

[code]

### What's the output of `bazel info release`?

[code]

[2021-10-20 21:02] benjaminp commented on #14143
#3760

[2021-10-20 21:17] bhack commented on #5572
Any news on this?

[2021-10-20 23:33] philwo commented on #13636
This is now also happening on CentOS 7 when you install a newer JDK (e.g. Azul Zulu OpenJDK 11) - apparently those third-party JDKs do not create the `/usr/share/java` folder: https://buildkite.com/bazel/google-bazel-presubmit/builds/50842#073588dc-e99d-4920-8de4-a8c2550d3bbd

[2021-10-21 07:35] coeuvre commented on #14111
This can be fixed by using toolchain configs for >=5.0.0 so no need to become release blocker.

[2021-10-21 07:55] #14092 closed

[2021-10-21 12:19] #13636 closed

[2021-10-21 13:41] Wyverald commented on #13988
It sounds like the regression was fixed already. I'm going to go ahead and remove this from the 5.0 release blockers. If there's further investigation to be done, feel free to continue.

[2021-10-21 15:48] limdor opened #14150 "Remove dependency with bazelbuild/rules_cc"
### Description of the problem / feature request:

Bazel depends on rules_cc and it is exposed to end users, below I elaborate more why this is an issue:

Long time ago Bazel was saying that cc_binary, cc_library, cc_test and the other cc_* rules should be imported from rules_cc.
However rules_cc was always saying that there is no need to use them yet.
After several discussions it was clarified th

[2021-10-21 21:01] perezd commented on #13928
Is this change present in any published releases?

[2021-10-21 23:25] bhack commented on #5572
We had a commit from @comius at https://github.com/tensorflow/toolchains/pull/23 for his comment at https://github.com/bazelbuild/bazel/issues/13241#issuecomment-834458002

But then we reverted with https://github.com/tensorflow/toolchains/pull/25 as It was failing on MacOS.

So when It was renabled to speedup the MacOS build It failed again:
https://github.com/tensorflow/tensorflow/commit/c58cda5

[2021-10-21 23:32] keith opened #14152 "`Label.relative` behavior change"
With this code:

[code]

And calling this with `@foo//bazel/third_party:foo.txt`

And bazel 4.2, you get: `@foo//bazel/third_party:foo.txt`
But with bazel 5.x (01a8182cb44cbcc608177a4816e787b73860290d) you get: `//bazel/third_party:foo.txt`

Based on the examples here, I do not believe this new behavior was intentional: https://docs.bazel.build/versions/main/skylark/lib/Label.html#relative

### Bu

[2021-10-22 06:32] uri-canva opened #14153 "Remove bazel run --script_path and scripts/bazel-run.sh"
### Description of the problem / feature request:

`bazel run --script_path` and `scripts/bazel-run.sh` were introduced to work around https://github.com/bazelbuild/bazel/issues/2337 and https://github.com/bazelbuild/bazel/issues/2737.
Those two issues have been fixed in the bazel client in the meantime, but the presence of `--script_path` and `scripts/bazel-run.sh` can be confusing to users, impl

[2021-10-22 22:09] #14143 closed, assigned to nobody

[2021-10-23 04:22] cpsauer opened #14156 "aquery: get actions used in clean build"
Hey awesome Bazel team,

I'd love a way to aquery for precisely the actions used in a building a target.

_In deeper detail:_
When introspecting the build of a given target, you'd like be able to aquery the actions that would be run in a clean build of that target. [More precisely, you'd like to be able to easily aquery the transitive closure of actions involved in building the default outputs of

[2021-10-23 08:46] fmeum opened #14157 "Implement `.append()` on `select()`"
Many Starlark macros use `.append()` on attributes like `deps` to inject additional dependencies. Buildifier also emits a lint warning when a single element is added to a list via `+=` rather than `.append()`.

This can be problematic for users of the macros as it silently makes the attribute non-configurable: `select()` only supports concatenation, not `.append()`.

Changing that by implenting `.

[2021-10-24 13:45] konste opened #14159 "py_binary on Linux uses system Python despite explicit Python toolchain specified"
### Description of the problem / feature request:

`py_binary` rule creates self-extracting Python executables. By default it uses system Python, which is not hermetic. Explicitly specified Python toolchain pointing to particular interpreter supposed to fix that. It totally works on Mac and Windows. Does not work on Linux.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please p

[2021-10-25 10:30] oehme opened #14161 "BEP artifact upload opens all files up-front"
Follow-up ticket for https://github.com/bazelbuild/bazel/issues/14120#issuecomment-950696246

The BEP upload logic can end up opening a large number of files before the remote service responds with `ready`. This is because it calls [seek](https://github.com/bazelbuild/bazel/blob/09c621e4cf5b968f4c6cdf905ab142d5961f9ddc/src/main/java/com/google/devtools/build/lib/remote/ByteStreamUploader.java#L512

[2021-10-26 05:24] Seonny opened #14166 "Request to add armv8 architecture for Apple Watch 6 device"
### Description of the problem / feature request:

It looks like there is no support for armv8 which is for Apple Watch series 6, SE, and etc.

[code]

https://github.com/bazelbuild/bazel/blob/101e526116df778a087a60ace0cad4a0f894bdf4/tools/osx/crosstool/osx_archs.bzl

### Feature requests: what underlying problem are you trying to solve with this feature?

I'd like to run my app in my Watch 6 devi

[2021-10-26 09:57] amkartashov opened #14167 "second build fails with "Source forest creation failed" if I have top level package starting with "bazel-""
### Description of the problem / feature request:

Second build fails with "Source forest creation failed" if I have top level package starting with "bazel-"

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Try to build https://github.com/gorilych/rbe-rs/tree/62e88968c770088a5b098e7c8dbc8f2cbfd55391

First run will be OK, second run

[2021-10-26 14:13] robfig opened #14169 "genquery + transitions: build error when query succeeds"
### Description of the problem / feature request:

Using Bazel 4.2.0, a `genquery` expression fails when the corresponding `bazel query` succeeds, apparently due to not handling an important transition used by rules_go to implement the "nogo" static analysis tool.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

To reproduce:
[code]

[2021-10-26 14:15] fweikert opened #14170 "Status of Bazel 6.0.0-pre.20211019.1"
- Expected release date: 2021-10-26

Task list:

- [x] Pick release baseline: [406fc1ba](https://github.com/bazelbuild/bazel/commit/406fc1ba5fae98843c99f89a43dcbdbca0d90274)
- [x] Create release candidate: https://releases.bazel.build/6.0.0/rolling/6.0.0-pre.20211019.1rc1/index.html
- [x] Post-submit: https://buildkite.com/bazel/bazel-bazel/builds?branch=release-6.0.0-pre.20211019.1rc1
- [x] Push

[2021-10-26 16:17] #14170 closed, assigned to fweikert

[2021-10-26 17:57] jerrymarino opened #14173 "[Bazel 5][objc_library]: NullPointerException thrown during Starlark evaluation (//:main_objc) - at <starlark>.create_compilation_attributes(<builtin>:0)"
### Description of the problem / feature request:

Make variable substitution in `objc_library` raises a NullPointerException, seems to be missing a test for that code path and was broken recently somewhere on 5.x.x

[code]
### Feature requests: what underlying problem are you trying to solve with this feature?

Use the make variable feature e.g. `$(execpath ...)` in `objc_library` native java rul

[2021-10-26 20:28] steeve opened #14174 "Consider implementing xcode-locator in osascript"
### Description of the problem / feature request:

`xcode-locator` locates the xcode versions installed on the system . It is written in ObjC because it needs `LSCopyApplicationURLsForBundleIdentifier`. Thus, it needs to be compiled inside a repository rule, which is somewhat of an anti pattern.

It is possible to replace it with JXA, here is a rapid prototype:
[code]

When run:
[code]

### What o

[2021-10-27 06:44] oakad opened #14175 "Feature request: build only specific target in every subdir"
Bazel supports the following target specifier:

It sort of follows from this, that custom targets should also work:

But alas, instead of building ":my_custom_target" in every subdirectory of "bar/" it simply fails with an error.

Would not it be more consistent and convenient if such a syntax was possible?

[2021-10-27 08:05] alanpurple opened #14176 "overlay script is not compatible with recent windows environment(including windows 11)"
### Description of the problem / feature request:

tensorflow bazel build failed due to OSError(privilege error) by llvm overlay script

### Feature requests: what underlying problem are you trying to solve with this feature?

build feature of bazel with windows environment

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

git clone t

[2021-10-27 12:11] Vertexwahn opened #14178 "Bazel 4.2.1 doesn't respect --remote_max_connections"
### Description of the problem:

There is a problem with Bazel 4.2.1. For some reason, it does not respect the [--remote_max_connections flag](https://docs.bazel.build/versions/4.2.1/command-line-reference.html#flag--remote_max_connections). Builds that run with this version of Bazel open up thousands of sockets when they should in fact be restricted to 100.

We do not see this behavior with Bazel

[2021-10-27 15:26] irfansharif opened #14179 "Maintain multiple analyses in analysis cache"
### Description of the problem / feature request:

Bazel seems to maintain only one analysis in the analysis cache. Whenever a relevant flag is changed, we purge the cache in its entirety. This adds to build time even with a 100% cache hit rate for the build artifacts (see repro below). Workarounds I've seen so far suggest using a different output_base for each set of flags, which is pretty cumber

[2021-10-28 05:55] #14111 closed, assigned to coeuvre

[2021-10-28 06:58] a4z opened #14183 "Strange "Operation not permitted" problem for test program accessing files in the sand box on MacOS"
### Description of the problem / feature request:

I have a java/scala program, to which I would like to add a bazel build
https://github.com/a4z/djinni-generator/tree/bazel

There is a test that runs the generated program , and then the tests compares generated files.
Problem is, the test program can not access control files, since java fails with
[code]

The build / test works without any doubt,

[2021-10-28 21:01] gholms opened #14189 "Additional linker outputs in cc_binaries"
### Description of the problem / feature request:

`cc_common.link` has an `additional_outputs` arg one can use to obtain extra outputs generated by `linkopts`.  The `cc_binary` rule ought to have a means of using that so one doesn't need to write a custom version of cc_binary to make use of it.

### Feature requests: what underlying problem are you trying to solve with this feature?

I want to be

[2021-10-29 02:11] pedromtelho opened #14192 "ERROR building tensorflow"
I ran my ./configure
`You have bazel 4.2.1- (@non-git) installed.
Please specify the location of python. [Default is /usr/bin/python3]:

Found possible Python library paths:
  /usr/lib/python3/dist-packages
  /usr/local/lib/python3.7/dist-packages
Please input the desired Python library path to use.  Default is [/usr/lib/python3/dist-packages]

Do you wish to build TensorFlow with ROCm support? [y

[2021-10-29 18:12] keith commented on #8830
What still needs to be done to flip this one? I think it's a common surprise for folks when tags don't propagate as they expect. Based on the comment here https://github.com/bazelbuild/bazel/blob/53f189973e1372d53c7cc2a041a3e34adcff4fbe/src/main/java/com/google/devtools/build/lib/packages/semantics/BuildLanguageOptions.java#L35-L38 it doesn't seem super clear how we would break apart the `build` v

[2021-10-29 19:22] #14052 closed

[2021-10-30 09:50] pauldraper opened #14199 "Add respository_ctx.readdir()"
### Description of the problem / feature request:

Add repository_ctx.readdir()

### Feature requests: what underlying problem are you trying to solve with this feature?

I want to create something like new_local_repository, but with some modifications to which symlinks are created.

Two problems:

1. Using repository_ctx.execute() is system-dependent.
2. More significantly, repository_ctx.execute

[2021-10-30 18:22] a4z commented on #14183
I removed all bazel files, even in /var/tmp , did not work,

checked out the repo into a different working folder, problem is gone and it works again.
Super strange and odd. But as usual there will for sure be some explanation, but I have no time to dig into it, I am just happy every thing just works again

Feel free to close that issue if you want

[2021-10-30 19:56] pauldraper commented on #12034
The current behavior is bizarre.

**.bazelignore**

[code]

**BUILD.bazel**

[code]

How many files do these filegroups have?

The first filegroup has 1 file. The second filegroup has 0 files.

---

This is odd and unexpected behavior. Glob should be the same as explicit listing the files.

(Personally, I'd prefer the `--deleted_packages`-style interpretation, since you can always just add an excl

[2021-10-30 22:28] pauldraper opened #14200 "path.readdir should cause the path to become an input of the repo rule"
### Description of the problem / feature request:

[path.readdir()](https://docs.bazel.build/versions/3.3.0/skylark/lib/path.html#readdir) returns out of date results.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

**WORKSPACE.bazel**

[code]

**BUILD.bazel**

[code]

**workspace.bzl**

[code]

[code]

Note that only after restarti

[2021-10-30 22:29] pauldraper commented on #14199
Actually this feature exists https://docs.bazel.build/versions/3.3.0/skylark/lib/path.html#readdir though its caching is broken: https://github.com/bazelbuild/bazel/issues/14200

[2021-10-30 22:29] #14199 closed

[2021-10-30 22:59] keith commented on #14200
I believe you can avoid this by changing your BUILD file to contain a filegroup using a glob, and make a genrule that depends on that write your example.txt file

[2021-10-30 23:07] pauldraper commented on #14200
This example was merely the demonstration that readdir() returns out-of-date results.

The motivation was creating rules similar to `new_local_repository`. And for that, readdir() must return up-to-date results every invocation.

[2021-10-31 09:18] alanpurple commented on #14176
It looks like bazel+llvm needs admin privilege execution of powershell in windows...
is this solvable?

[2021-11-01 02:58] Seonny commented on #14166
I got wrong. "arm64_32" is instruction set for armv8 architecture which is in watch se, watch 6, etc. So arm64_32 is enough to build watch 6 device. However, I still don't know why Xcode is saying "WatchKit 1 apps aren't supported on this version...". The simulator doesn't produce this error.

[2021-11-01 03:01] Seonny commented on #14166
watchos_application(
    name = "TestWatchApp",
    app_icons = [":AppIcon"],
    bundle_id = select(APP_IDENTIFIER) + ".WatchKitApp",
    codesignopts = ["--generate-entitlement-der"],
    entitlements_validation = DEFAULT_ENTITLEMENTS_VALIDATION_MODE,
    extension = "//WatchKitExtension",
    infoplists = [":PreprocessedInfoPlist"],
    minimum_os_version = DEFAULT_MINIMUM_WATCHOS_VERSION,

[2021-11-01 04:23] pauldraper commented on #10298
AFAIK this has been experimental since Bazel 1.0.

Is it stuck?

[2021-11-01 04:30] gorilych commented on #14167
the repo is private now, hope the issue has enough details.

[2021-11-01 08:52] Seonny commented on #14166
Sorry. It wasn't Bazel issue. It is about zld. I turned off using zld for the watch app and tried to build it. It worked.

[2021-11-01 09:01] #14166 closed

[2021-11-01 12:57] brentleyjones commented on #11473
Thank you @coeuvre!

[2021-11-01 14:05] fmeum commented on #7364
Couldn't the `TestEnvironment` provider be extended with an (optional) field `inherited_environment` that would allow Starlark rules to easily implement their own `env_inherit` attribute? This would allow for the feature to be implemented with full backwards compatibility (and no magic attributes on custom rules).

If there is consensus on how to proceed, I could submit a PR. However, this would p

[2021-11-01 17:01] aiuto opened #14204 "Rule authoring guidance on use of OutputGroupInfo vs. custom providers needs review/tweaking."
In the Starlark guide to writing rules, we have an opinion about using OutputGroupInfo

 https://github.com/bazelbuild/bazel/blob/master/site/docs/skylark/rules.md#requesting-output-files

 _Note that OutputGroupInfo generally shouldn't be used to convey specific sorts of files from a target to the actions of its consumers. Define rule-specific providers for that instead._

I think that is the wro

[2021-11-01 17:29] brentleyjones commented on #14008
This constantly confuses our users, as it dumps a massive stack trace right after the warning.

[2021-11-01 18:55] bdleitner commented on #10363
I'm seeing this a lot when building android targets with `bazel mobile-install`.  It's incredibly irritating because it doesn't tell me which files to remove and in order to continue I have to `bazel clean`, which then forces me to rebuild *everything* (and re-sync IntelliJ) even though I suspect only some outputs related to the `android_binary` are the problem.  It would be nice if there was a wa

[2021-11-01 19:13] #13997 closed

[2021-11-01 19:38] keith opened #14205 "Document OS + tools support matrix"
When using bazel on macOS and building C* projects, the version of macOS and version of Xcode heavily influence what is supported. Currently I don't believe there is any documentation around what bazel aims to support such as "the 2 most recent major versions" or something like that.

This would be useful for users to know what they should expect, and potentially not file bugs about, and bazel dev

[2021-11-01 19:48] demorgan104 opened #14206 "Executable built with Bazel on MacOS Monterey with XCode 13.2 throwing seg fault"
### Description of the problem / feature request:

Bazel will build a simple "Hello World" executable that is throwing a "Segmentation fault: 11" error.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

The build file is having the following content:

[code]

Main.cpp:

[code]

### What operating system are you running Bazel on?

MacO

[2021-11-01 20:36] kakashidinho opened #14207 "bazel --strip=never seems to not working with fastbuild"
### Description of the problem / feature request:

- I used bazel 4.0.0 to compile our project. We want to keep debug symbols in `fastbuild` config but no matter what we did, the debug symbols were always stripped.
[code]
For example with the above command, the final binary's debug symbols still got stripped.
Note we did use copts = `[ "-g"]` in several of our targets's BUILD files (we don't use `

[2021-11-01 22:53] ulfjack opened #14208 "Finish BEP support for query/cquery/aquery"
### Description of the problem / feature request:

When running `bazel query --output=streamed_proto`, Bazel converts the binary output stream to UTF-8 before upload / output, breaking it in the process.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Here's an example query I ran:

`bazel query --output=streamed_proto //cpp:all --b

[2021-11-01 22:58] ulfjack commented on #14208
The problem that makes it hard to properly fix this is that the underlying proto files are declared as `string`, which means Utf-8 string:
https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/buildeventstream/proto/build_event_stream.proto#L261

My best idea for a possible solution is to change Bazel to treat the binary input as ISO-8859-1 and convert them to

[2021-11-01 22:59] ulfjack commented on #14208
Alternatively, one could add a `bytes` field to the proto and either send both binary and (broken) utf-8 or have a flag that indicates which it is.

[2021-11-01 23:03] codeman9 opened #14209 "Log file output from --execution_log_json_file flag is not valid JSON"
### Description of the problem / feature request:

Output to `execution_log_json_file` is not a valid JSON file when multiple actions are recorded.

### Feature requests: what underlying problem are you trying to solve with this feature?

We are trying to parse the JSON execution log to gather some data with custom python and swift tools. `jq` seems to work with the file as output, but Python's `j

[2021-11-01 23:21] benjaminp commented on #14208
Perhaps for the particular usecase described in the OP, the `query` command should be able to upload its result to a CAS like normal local files referenced in BEP. A series of console "progress" events is a clunky way to store a (possibly) massive binary proto.

[2021-11-01 23:42] sdtwigg commented on #14023
Ok, I have a somewhat long update to this after spending a few weeks off-and-on contemplating this and related issues:

**Core Background**
First, as core background, note that ConfiguredTargetFunction (which, when given a BuildConfigurationKey and Label performs analysis for a rule) is highly sensitive. Skyframe memoization is required for performant operation and, in the case of unsharable actio

[2021-11-02 02:16] dieend opened #14210 "target failed when executing `turbine_direct_binary_deploy.jar`"
### Description of the problem / feature request:
When running a rules_proto target, the target failed with the following stderr:
[code]

Example of command line being executed (based on execution_log file).
[code]
### Feature requests: what underlying problem are you trying to solve with this feature?

I have no idea how to investigate the issue, as it happened in CI. The only way I can mitigate

[2021-11-02 03:13] coeuvre commented on #14008
Sorry for the error. I am looking into this and try to make the fix into 5.0. It would help if you can also provide a minimal repro.

[2021-11-02 03:20] bjacklyn commented on #14034
@meisterT -- `checking cached actions` now takes 5-6x longer in my local builds after `6ac6954224b2b74c18d3218dfa299424cbc944fb` was merged, that is what used to take 30 seconds for bazel to determine there was nothing to do in an already fully cached build, it now takes 2 mins 30 seconds

[2021-11-02 03:28] bjacklyn commented on #14034
There used to be a check against this boolean which I assume was defaulting to `true`:
[code]
But now it always takes the slow path. I revived the fast `checking cached actions` with this:
[code]

[2021-11-02 11:22] Wyverald commented on #14159
cc @brandjon

[2021-11-02 11:33] demorgan104 commented on #14206
Solved the problem using the following steps:

- delete command line tools from /Library/Developer
- install xcode from the app store
- execute bazel clean --expunge in the workspace directory of my project
- bazel run <my_target>

Bazel looks to be completely unreliable at least after MacOS/XCode updates and the fact that a perfectly building and running project is completely broken whenever a ne

[2021-11-02 11:33] #14206 closed

[2021-11-02 13:18] brentleyjones commented on #14008
Sure: https://github.com/brentleyjones/bazel-async-upload-failed-tests-bug. Run `bazelisk test //...` and you will get something like this:
[code]

[2021-11-02 14:02] oquenchil commented on #14167
Probably the Bazel code should do a better job of discerning which directories to delete but the workaround is trivial. Do not name packages this way.

[2021-11-02 14:08] oquenchil commented on #14176
It looks like this bug should be filed with Tensorflow, @meteorcloudy can you confirm and if so close the bug?

[2021-11-02 14:11] oquenchil commented on #14192
Please file a bug with Tensorflow.

[2021-11-02 14:11] #14192 closed

[2021-11-02 14:15] keithl-stripe opened #14213 "bazel sync --experimental_repository_resolved_file is really slow because it bypasses the cache and re-downloads all repos"
### Description of the problem / feature request:

At Stripe, our code lives in a few large monorepos, each with their own `WORKSPACE`. One of the larger monorepos has thousands of external Bazel repositories, mostly from Maven. We would like to use `WORKSPACE` lock files as described in [the Bazel blog post](https://blog.bazel.build/2018/09/28/first-class-resolved-file.html) for a few purposes:

[2021-11-02 14:52] brentleyjones commented on #13912
@coeuvre This is still an issue, and would be nice to have fixed for 5.0 🙏.

[2021-11-02 15:57] meteorcloudy commented on #14176
If the tool requires admin privilege to run, then it's not a Bazel bug, I don't think there is anything we can do from the Bazel side.

[2021-11-02 15:57] #14176 closed

[2021-11-02 16:12] brentleyjones opened #14214 "`native.apple_static_library` doesn't propagate execution tags (e.g. `no-remote`) with `--experimental_allow_tags_propagation`"
### Description of the problem / feature request:

Most of the native apple rules, such as `native.apple_static_library` and the native linking, don't propagate execution tags (e.g. `no-remote`) when using `--experimental_allow_tags_propagation`. This makes it hard to modify their execution info, since `--modify_execution_info` applies to the mnemonic level.

### Bugs: what's the simplest, easiest

[2021-11-02 16:16] fmeum opened #14215 "Bazel does not (visibly?) begin loading phase when Starlark flag is set"
### Description of the problem / feature request:

When a Starlark flag is set on the command line, Bazel never (visibly?) enters the loading phase. When there are repository rules that take a while to load (e.g. because they download or extract large files), this causes Bazel to get stuck after emitting the Invocation ID without any indication of what it is doing.

### Bugs: what's the simplest,

[2021-11-02 16:39] brentleyjones commented on #14214
Probably fixed in 5.0, which I couldn’t test on yet: https://github.com/bazelbuild/bazel/commit/31b689ba7238abe5629a0de87fb6e245910526bb. I’ll dig in more to ensure all of the actions I care about are covered now.

[2021-11-02 17:12] pcj opened #14216 "bazel-built protoc segfaults on mac os monterey"
Users that have upgraded their operating system to `12.0.1` and have a dependency on @com_google_protobuf//:protoc are experiencing segfaults when running the `protoc` tool.

See https://github.com/protocolbuffers/protobuf/issues/8884 for context.

[2021-11-02 17:26] #1393 closed

[2021-11-02 17:57] keith commented on #14216
Probably related https://github.com/bazelbuild/bazel/issues/14206 sounds like user's tools setup might be the issue

[2021-11-02 18:54] brentleyjones commented on #14214
This works in 5.0. Sorry for the noise!

[2021-11-02 18:54] #14214 closed

[2021-11-02 19:56] scal444 commented on #13917
It may be because bazel invokes the compiler to do linking, and the compiler knows which ld it wants to use. I've worked around similar issues with (as you say) action modifiers adding the --dynamic-linker flag to the invocation.

[2021-11-02 20:52] limdor opened #14217 "Encourage users to use release versions for dependencies used by Bazel"
### Description of the problem / feature request:

Ticket to continue the discussion started in https://github.com/bazelbuild/bazel/pull/14171#issuecomment-953813615

In our company we had several times the situation that we want to update Bazel and we need to update also the different Bazel rules. In order to decide which ones to use there two approaches:
* You can take the same version of the de

[2021-11-02 20:54] limdor commented on #14217
@meteorcloudy @aiuto here the ticket. If you agree I could start drafting the PR.

[2021-11-02 21:44] GMNGeoffrey commented on #10410
It's only mentioned in reference to `local_repository` and isn't discussed in general. It also isn't mentioned in the documentation on repository rules: https://docs.bazel.build/versions/main/skylark/repository_rules.html

[2021-11-02 21:52] sdtwigg commented on #13464
This is slated to be resolved imminently when `transitionDirectoryNameFragment` computation is moved to being part of BuildConfigurationFunction rather than being (redundant state) in BuildOptions.

I'll leave this open until that CL is submitted.

[2021-11-02 22:08] sdtwigg commented on #14023
As a quick update after conversation with the Bazel core team (experts on the underlying Skyframe infrastructure).

Likely to skip the first proposal to address [3] "Change "affected by Starlark transition" to instead be a map from option name to original (command-line) value."

Instead, the second proposal should be technically feasible with similar effort (and better performance). BuildConfigura

[2021-11-02 23:00] wolfd opened #14218 "JSON workers should delimit work requests with newlines"
### Description of the problem / feature request:

JSON workers are difficult to write because work requests are not newline delimited. This issue was [brought up](https://github.com/bazelbuild/bazel/issues/13599#issuecomment-867900602) in #13599, and the discussion generally indicated that this is a usability bug.

The proposal is to add a newline between requests according to [ndjson](http://ndj

[2021-11-02 23:17] keith commented on #13599
https://github.com/bazelbuild/bazel/pull/14219 should solve one of the major concerns about the format here

[2021-11-03 07:59] laszlocsomor commented on #4327
Hey @maxgerhardt , can you try the `--output_user_root` flag? Example:

[code]

[2021-11-03 08:03] laszlocsomor commented on #4327
One more thing @maxgerhardt , I think this bug is more relevant: https://github.com/bazelbuild/bazel/issues/5273

Is that correct?

[2021-11-03 09:38] meisterT commented on #14218
I agree, see https://github.com/bazelbuild/bazel/issues/13599#issuecomment-868254182

[2021-11-03 09:38] meisterT commented on #14218
cc @larsrc-google

[2021-11-03 09:40] meisterT commented on #14034
Ouch, that's definitely a mistake. I'm OOO this week but feel free to send a PR to fix the behavior.

cc @Wyverald  this is a release blocker

[2021-11-03 11:11] coeuvre commented on #14008
Thanks for the repro. It helps a lot!

[2021-11-03 13:43] Wyverald commented on #14034
Cherrypicks are still open.

[2021-11-03 14:07] robfig commented on #12947
We run into this issue a lot in our Bazel usage at my company. It is very frustrating for developers because it seems like an impossible situation is happening -- Bazel says a dependency is one version, but the actual code on disk doesn't match that. In my opinion, this is a major usability problem for larger repos.

[2021-11-03 14:43] fweikert opened #14221 "Status of Bazel 6.0.0-pre.20211025.1"
- Expected release date: 2021-11-03

Task list:

- [x] Pick release baseline: [5c04973b](https://github.com/bazelbuild/bazel/commit/5c04973b000b6e1819d6b51d238498a0b507c7af)
- [x] Create release candidate: https://releases.bazel.build/6.0.0/rolling/6.0.0-pre.20211025.1rc1/index.html
- [x] Post-submit: https://buildkite.com/bazel/bazel-bazel/builds?branch=release-6.0.0-pre.20211025.1rc1
- [x] Push

[2021-11-03 15:41] dmivankov commented on #12947
Luckily it's at least possible to make a version enforcer thing, like this:
`version.patch`:
[code]
and a macro
[code]
and for each dependency adding extra line in WORKSPACE
[code]

[2021-11-03 17:16] nkoroste commented on #6401
@laszlocsomor any updates on your changes?

[2021-11-03 17:28] laszlocsomor commented on #6401
Hey @nkoroste , no, I didn't work on this lately.

[2021-11-03 18:11] fweikert commented on #14221
MacOS CI workers are offline due to network maintenance -> new ETA is Nov 4th

[2021-11-03 18:53] ahumesky commented on #12889
I have an update to share: I figured out a way to remove the need for `--copt=-nostdinc++` when compiling Tensorflow. Basically there are a number of `-isystem` flags that are added to the crosstool, e.g.:
https://github.com/bazelbuild/bazel/blob/b4c637c5e3af145295ad3f4ca732c228ab6a88cf/src/main/java/com/google/devtools/build/lib/bazel/rules/android/ndkcrosstools/r19/AndroidNdkCrosstoolsR19.java#L

[2021-11-03 18:59] Ishaangandhi opened #14222 "Documentation issue: Build Event Protocol"
Documentation URL: https://docs.bazel.build/versions/main/build-event-protocol.html

When a `TestResult` message is emitted in the BEP, I want to confirm the `status` field will include underscores, as described in the status enum:

[code]

EG, `{ ... "status": "NO_STATUS" }` and not `{ ... "status": "NO STATUS" }`

I know the JSON file is supposed to be human readable, I'm not sure if underscores

[2021-11-03 20:05] limdor commented on #7091
What is the status of this issue? Like @thekyz I would also like to challange this bug being P3. One of the basic principles of Bazel is hermeticity and correctness. With this bug sandoboxing in Python is simply broken.

[2021-11-03 20:43] ahumesky commented on #12889
Here are my changes so far: https://github.com/ahumesky/bazel/commit/3de69da0323bb0bd075611a4f12e590dd1204cf9

[2021-11-03 20:45] phoenikz commented on #2351
I second this request too

[2021-11-03 20:53] gregestren commented on #13464
I believe @sdtwigg is centralizing discussion and next steps at https://github.com/bazelbuild/bazel/issues/14023.

Let's consolidate there, for focus, and only use other issues for distinctly different concerns.

[2021-11-03 20:54] gregestren commented on #14023
@fmeum

[2021-11-03 21:21] gregestren commented on #14023
Thanks for this update, @sdtwigg .

My notes on the above:

**Values:**
- An output prefix shouldn't depend on the dependency path that was taken to get there
- `transition directory name fragment` and `affected by starlark transition` shouldn't be independently settable build options since they're pure functions of other options
- No two configs should ever differ by just `transition directory na

[2021-11-03 21:35] gregestren commented on #14023
Copying some notes I took on the problem a while back: Do these match your plan?

-------

There's another place we can set hash values: `BuildConfigurationFunction`
This may be cleaner, in that it gives `BuildConfiguration `more decisive ownership over its output paths, like in [here](https://github.com/bazelbuild/bazel/blob/2c9721f9ba11979eee1fd95fe793b52369df99ac/src/main/java/com/google/devtoo

[2021-11-03 21:45] gregestren commented on #14023
Can we simply remove `affected by starlark transition` and replace it with `BuildConfigurationFunction` logic that creates `transition directory name fragment`?

[2021-11-03 22:08] gregestren commented on #14169
Do you know what causes the cycle in the `build`?

I'll try to dig up a similar issues someone reported recently. Short story is that `genquery` cannot alway resolve cycles as `query` can. `genquery` is itself a target, so any deps in its `scope` attribute are transitively evaluate just like in a real build, which includes the same cycle detection as real builds.

`query` never does this.

[2021-11-03 22:20] robfig commented on #14169
Note that a "real build" does not suffer the same cyclic dependency:
[code]

[2021-11-04 07:06] geaden commented on #13553
Is there way to workaround the issue? Can we add `sun.misc.SignalHandler` into  https://github.com/google/desugar_jdk_libs/tree/master/jdk11/src/java.base/share/classes/sun/misc and use updated version of the libs?

[2021-11-04 07:10] Kernald commented on #13553
https://github.com/Bencodes/bazel_issue_13553/pull/1 is a working workaround.

[2021-11-04 08:10] pauldraper opened #14224 "ctx.actions.symlink doesn't make relative symlink"
### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

**WORKSAPCE.bazel**

[code]

**BUILD.bazel**

[code]

**rules.bzl**

[code]

[code]

I expected both symlinks to be ''../.." but only the latter (using executable ln) is.

### What operating system are you running Bazel on?

Ubuntu 18.04

### What's the output of `bazel info release`?

[2021-11-04 08:43] geaden commented on #13553
Thanks a lot!

[2021-11-04 08:45] comius commented on #14093
cc @larsrc-google as this loloks workers related

[2021-11-04 10:11] #14221 closed

[2021-11-04 11:13] meteorcloudy commented on #14100
@burak-db Sorry for the late reply here. The code for creating the python zip archive is [here](https://cs.opensource.google/bazel/bazel/+/master:src/main/java/com/google/devtools/build/lib/bazel/rules/python/BazelPythonSemantics.java;drc=23d096931be9b7247eafa750999dd7feadde14c1;l=345?q=createPythonZipAction&ss=bazel) It should contain all runfiles of the binary.
Can you help provide a minimal rep

[2021-11-04 11:49] tomgr commented on #4327
I've just run into this issue whilst trying to use `rules_webtesting`. Unfortunately, neither `--nobuild_runfile_links` nor `--experimental_inprocess_symlink_creation` works (this is running on MacOS) and both generate errors like the one below (i.e. Failed to create runfiles symlinks). One other thing I noticed is that there is a difference in behaviour between `bazel test` and `bazel run`. For e

[2021-11-04 13:51] steeve commented on #12135
For the record, `IdToken` support has been merged in https://github.com/googleapis/google-auth-library-java/pull/650

[2021-11-04 13:52] steeve commented on #12135
More context for this, I ended up using a wrapper. I'll open a PR for IdToken support now that it's supported.

[2021-11-04 14:40] Wyverald commented on #14216
FWIW, I can no longer build Bazel itself on macOS Monterey -- exact same issue here: `protoc` segfaults.

@susinmotion any ideas?

[2021-11-04 14:41] Wyverald commented on #14216
A snippet of the error message:

[code]

[2021-11-04 14:43] PengKuang commented on #13573
I still see the same error. Is it fixed? If not, why this issue is closed?

[2021-11-04 15:02] demorgan104 commented on #14216
@Wyverald have you tried cleaning the cache ... ? I could build protoc in the end using the steps I mentioned in my issue...

[2021-11-04 17:21] susinmotion commented on #14216
Sadly I don't have any wisdom to add here :(
It sounds like this is an issue with using Monterrey without Xcode 13.0? It would be nice to have a less bad user experience, but I do hope that it'll be come common knowledge that Xcode 13 is required.

[2021-11-04 18:32] psigen opened #14226 "hermetic linux sandbox throws error when mounting sandbox directory"
### Description of the problem / feature request:

When using `--experimental_use_hermetic_linux_sandbox`, even a basic workspace seems to fail with the following error in almost any build action:

[code]

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

I have created a minimal reproduction in the repository: https://github.com/psige

[2021-11-04 19:32] brentleyjones opened #14228 "5.0rc1: Remote cache read failure "java.lang.RuntimeException: java.io.IOException: file.tmp (Not a directory)""
### Description of the problem / feature request:

We encountered an error where bazel fails to read from the remote cache because it throws an execution locally. Seems to be from this code path: https://github.com/bazelbuild/bazel/commit/cff2ea55dafc57d7d2db813522942e2ee137ed08#diff-c0c72bba110eca25447686392b1f265feabe77c8a53ed7387f70f82bcdaba441R112.

[code]

`LinuxMain.swift` is single file out

[2021-11-05 00:01] dws commented on #13008
How is this work coming along? It would be great to have an update to https://bazel.build/roadmaps/build-api.html

[2021-11-05 00:57] ThomasCJY opened #14229 "Asset excludsion in android targets is broken when `--persistent_android_resource_processor` is enabled"
### Description of the problem / feature request:
In android targets, we should be able to exclude certain resources from root directory. Example
[code]
However, when `--persistent_android_resource_processor` is enabled. The exclude will not work.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.
I created a [test branch](https://githu

[2021-11-05 04:09] coeuvre commented on #14228
According to the stack trace:
[code]

it calls into [NativePosixFiles.openWrite()](https://github.com/bazelbuild/bazel/blob/c2a9395324410bd301e024e57cc7c0bb0654c41d/src/main/native/unix_jni.cc#L1112) which calls `open` which throws "Not a directory" or `ENOTDIR`.

According to the [doc](https://developer.apple.com/library/archive/documentation/System/Conceptual/ManPages_iPhoneOS/man2/open.2.html),

[2021-11-05 04:15] coeuvre commented on #14228
Might related https://github.com/bazelbuild/bazel/issues/6393.

[2021-11-05 04:16] coeuvre commented on #14228
@brentleyjones Is that possible to create a repro?

[2021-11-05 06:42] shelllet commented on #10772
BAZEL awaly use Visual Studio 2022,  even if i set BAZEL_VC BAZEL_VC_FULL_VERSION  to vs 2019。

[2021-11-05 06:45] shelllet opened #14232 "BAZEL_VC does not work when vs2019 and vs2022 exist on windows 11."
when i build tensorflow,
BAZEL awaly use Visual Studio 2022, even if i set BAZEL_VC BAZEL_VC_FULL_VERSION to vs 2019。

![image](https://user-images.githubusercontent.com/16729017/140470403-112babc1-ddc5-4280-901d-cc6f388f7771.png)

Auto-Configuration Error: Couldn't find undname.exe under C:\Program Files\Microsoft Visual Studio\2022\Community\VC, please check your VC installation and set BAZEL_VC

[2021-11-05 07:22] laszlocsomor commented on #10772
@shelllet , try this in `cmd.exe`:

[code]

What's the output?

[2021-11-05 07:23] laszlocsomor commented on #10772
Also, what does this print in `cmd.exe`?

[code]

[2021-11-05 07:28] coeuvre commented on #14228
It's weird, the parent directories are actually [created](https://github.com/bazelbuild/bazel/blob/c2a9395324410bd301e024e57cc7c0bb0654c41d/src/main/java/com/google/devtools/build/lib/remote/RemoteCache.java#L355) before the download.

[2021-11-05 07:43] shelllet commented on #10772
BAZEL_VS
![image](https://user-images.githubusercontent.com/16729017/140473817-0439cfc0-c1ba-4e2e-a055-b1fb04b44da0.png)

now i add `bazel_vc` and `bazel_vs`
![image](https://user-images.githubusercontent.com/16729017/140473988-3b320ae4-ff59-463c-9f48-c67d6ea53cad.png)

[2021-11-05 07:44] shelllet commented on #10772
so many output messages

[2021-11-05 07:47] shelllet commented on #14232
[Visual Studio 2019 should be preferred over 2017 ](https://github.com/bazelbuild/bazel/issues/10772#issuecomment-961677727)

[2021-11-05 07:52] shelllet commented on #10772
is vcpkg's problem?

[2021-11-05 07:55] laszlocsomor commented on #10772
This error is interesting: Bazel client can't even start the server because the command is too long. So you don't get to the `local_config_cc` config step yet.

But in #14232 you wrote:
[code]
which comes from the bazel server, so somehow you got past the "ERROR" point.

The command is long because Bazel is picking up a lot of settings from the bazelrc files. You can tell it to ignore rc files lik

[2021-11-05 08:00] rsahara commented on #13862
Do you still have this problem on the latest builds?
I remember that I had a similar problem with 5.0.0-pre.20211011.2, but it disappeared with 6.0.0-pre.20211025.1, I'm not sure why.

[2021-11-05 08:14] shelllet commented on #10772
if i manually build:

`bazel build //tensorflow/tools/pip_package:build_pip_package`

![image](https://user-images.githubusercontent.com/16729017/140479125-f176b00c-7d52-4200-835c-8f2cd000dcc7.png)

but `python3.exe` exit in that folder.

[2021-11-05 08:25] laszlocsomor commented on #10772
I think you're in the wrong directory. `x64-windows-dbg` looks like an output directory.
Change to the root directory of the Tensorflow source, i.e. the directory with the `WORKSPACE` file, and run Bazel from there.

For python, use a Windows-native Python3 binary, not an MSYS one.

[2021-11-05 08:40] shelllet commented on #10772
![image](https://user-images.githubusercontent.com/16729017/140481959-dc5ea079-ed00-4543-a850-db416cc65a25.png)

`WORKSPACE ` exist in `x64-windows-dbg`.

![image](https://user-images.githubusercontent.com/16729017/140482058-52b372ae-9840-47a9-86b6-bd66cc92f423.png)

![image](https://user-images.githubusercontent.com/16729017/140482385-80990b0c-75ed-4129-a878-8e9a1b0390b7.png)

seems `bazel script

[2021-11-05 08:43] shelllet commented on #10772
Does bazel read the cached environment variables？

[2021-11-05 08:44] laszlocsomor commented on #10772
`PYTHON_BIN_PATH` must point to the binary itself, not just the directory containing it.

What do you mean by cached?

[2021-11-05 08:45] laszlocsomor commented on #10772
Hold on, my memory serves wrong. `PYTHON_BIN_PATH` doesn't seem to be used anywhere:

https://cs.opensource.google/search?q=PYTHON_BIN_PATH&ss=bazel%2Fbazel

[2021-11-05 08:49] shelllet commented on #10772
https://github.com/tensorflow/tensorflow/blob/master/third_party/py/python_configure.bzl

"""Repository rule for Python autoconfiguration.
`python_configure` depends on the following environment variables:
  * `PYTHON_BIN_PATH`: location of python binary.
  * `PYTHON_LIB_PATH`: Location of python libraries.
"""

[2021-11-05 08:50] laszlocsomor commented on #10772
There, "location of python binary", I think that means the binary itself, so `C:\users\admin\...\python39\python.exe` or whatever it is.

[2021-11-05 08:52] shelllet commented on #10772
`bazel script` can't get the real env value , so i think it read value from another place .

[2021-11-05 08:54] shelllet commented on #10772
I have tried it, but I still get the same error
![image](https://user-images.githubusercontent.com/16729017/140484010-3ce933de-08c9-4184-b7e1-7ba618d86ce2.png)

[2021-11-05 09:00] shelllet commented on #10772
bazel script can't get the real env (`PYTHON_BIN_PATH`)  variable's value ,
the this same as `BAZEL_VC` and `BAZEL_VS` `BAZEL_VC_FULL_VERSION`.

[2021-11-05 09:04] laszlocsomor commented on #10772
From the `--define PYTHON_BIN_PATH=...` in the error message, I suspect something still picks up bazelrc files. Are you running Bazel with `--ignore_all_rc_files`?

Sorry, I probably can't help with Python problems.

To debug the VC version detection issue, try creating a clean Bazel workspace (= a new directory with an empty `WORKSPACE` and an empty `BUILD` file), and run the bazel query command

[2021-11-05 09:09] shelllet commented on #10772
like this ? thks, i will try to create new directory and test.

![image](https://user-images.githubusercontent.com/16729017/140485920-18699e22-1fd5-47e8-9f1a-60da9a5ad859.png)

[2021-11-05 09:12] laszlocsomor commented on #10772
Ah, sorry if my instructions were misleading.

I meant using the `--ignore_all_rc_files` flag only for debugging why Bazel picks up the wrong VC version.

Don't use this flag if you're actually trying to build something. The bazelrc files _are_ necessary; but for debugging, i wanted to rule them out.

[2021-11-05 09:37] shelllet commented on #10772
i can't get more useful message from command `bazel --batch --ignore_all_rc_files query @local_config_cc//...`,

becuase it faild to execute.
![image](https://user-images.githubusercontent.com/16729017/140489915-88b4e1f6-988f-425e-9d81-23e146c1c84b.png)

[2021-11-05 09:46] laszlocsomor commented on #10772
Yes, I think you need to try the query command in an empty workspace. (A directory with nothing but an empty `WORKSPACE` and `BUILD` file in it.)

[2021-11-05 10:37] ulrfa commented on #14226
The error is probably caused by: `--sandbox_add_mount_pair "/:/"`

The purpose of the hermetic sandbox is to prevent mounting too much in the sandbox.

Bazel will not consider the mount pairs as dependencies, and will not rebuild if those files are changed. So you should typically not mount files that are changing. And especially not map anything containing bazel’s output root.

Mapping the whole

[2021-11-05 11:11] psigen commented on #14226
I used that line specifically in my example code to make the changes as
minimal as possible from the non-hermetic environment.

I don't see why this should cause a failure to bind mount a completely
separate folder though.  The error also does not seem to go away if that
line is removed.

On Fri, Nov 5, 2021, 06:37 Ulrik Falklöf ***@***.***> wrote:

[2021-11-05 11:29] thii commented on #13862
Hmm, we're still seeing the same crash with 6.0.0-pre.20211025.1.

[2021-11-05 11:33] brentleyjones commented on #14228
It was on CI. All I can think of is the directories failed to be created, because of low disk space.

[2021-11-05 11:35] frazze-jobb commented on #14226
You can't mount anything on /, since the hermetic linux sandbox creates its own root dir '/', and mounts every mount_pair inside that. You can mount --sandbox_add_mount_pair="/:oldRoot" this will mount / in /oldRoot in the hermetic linux sandbox.

[2021-11-05 11:58] psigen commented on #14226
Got it!  If that's the case, is there a preferred strategy for loading a
custom rootfs? Like a separate flag for the root mount?

(I feel like that is one of the more common use cases for the hermetic
sandbox. Do I just need to mount every subdirectory?)

On Fri, Nov 5, 2021, 07:35 Fredrik Frantzen ***@***.***>
wrote:

[2021-11-05 12:07] brentleyjones commented on #14034
Should be reopened as it's still blocking 5.0 (needs to be cherry-picked).

[2021-11-05 12:51] brentleyjones commented on #10438
Hi @coeuvre, just a ping on this after a couple months.

[2021-11-05 12:52] brentleyjones commented on #13882
Hi @coeuvre, just a ping on this, as it makes the flag unusable for us.

[2021-11-05 13:58] frazze-jobb commented on #14226
Yes, you can mount every individual directory in '/' that you need in your sandbox under /
i.e. --sandbox_add_mount_pair=/usr:/usr

[2021-11-05 15:43] torgil opened #14236 "Avoid action conflicts due to different configuration hashes"
### Description of the problem / feature request:

Bazel errors out if the same action (with identical action hash) is created with different configuration hash. Configuration hash should be irrelevant when considering if two actions are identical.

The graph in the minimal example below shows the issue where B and C sets different values of a build setting that controls the output of E:
A -> B ->

[2021-11-05 17:59] psigen commented on #14226
Well, the normal linux sandbox does not let me use a custom rootfs as far as I know (in my actual use case, I have a rootfs exported from the docker image used on my RBE environment, and I do not want to use anything from the host).  I only used my own root partition in the example.

Maybe I can make a PR into the documentation about how mounting `/` will cause problems, as I could see it being th

[2021-11-05 18:06] nkoroste commented on #14229
cc @ahumesky

[2021-11-05 18:51] thhous-msft opened #14237 "cc_library with subpackage fails with duplicate action error"
### Description of the problem :

When creating a cc_library target with a subpackage (I think thats the right name for it, I'm not sure), a conflicting actions error occurs.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Use the following BUILD.bazel contents (lib.cc is just `void func() {}` and main.cc is just `int main() {}`

[c

[2021-11-05 18:53] psigen commented on #14226
Ok, I am clearly missing something in how to use `--sandbox_add_mount_pair`:

I changed the entry in `.bazelrc` to be the following:
[code]

And now I get the following error:
[code]

`"execvp(/usr/bin/gcc, 0x1883de0)": No such file or directory`  doesn't seem to make sense.  I _definitely_ have gcc installed, and I see `mount: /usr/bin` immediately above in the logs.

[2021-11-05 18:59] thhous-msft commented on #14237
Doing some testing on Linux, this bug does not occur there. It looks to be a windows exclusive bug.

[2021-11-05 19:19] frazze-jobb commented on #14226
Yes, the message is confusing, but whats actually "No such file or directory" is the things that /usr/bin/gcc depends on.
Run

$ ldd /usr/bin/gcc
        linux-vdso.so.1 =>  (0x00007ffe1738f000)
        libm.so.6 => /lib64/libm.so.6 (0x00007f8c78e01000)
        libc.so.6 => /lib64/libc.so.6 (0x00007f8c78a33000)
        /lib64/ld-linux-x86-64.so.2 (0x00007f8c79103000)

In our environment we do at t

[2021-11-05 20:20] gregestren commented on #14169
You're right - apologies.

I poked around more and I'm stumped. I get the same error with:

[code]

This tells me the cycle is getting reported through routine analysis of the deps from `scope` (i.e. this has nothing to do with the query logic `genquery` runs - it never gets a chance to even try parsing the expression).

If I try building something else, like a `cc_binary` with a `data` dep on `//

[2021-11-05 20:27] gregestren commented on #14169
I think this toy example replicates:

[code]

It exploits the facts that `genrule#tools` switches to the host configuration, and the target configuration's default `--compilation_mode` is `fastbuild` while the host's is `opt`.

[2021-11-05 20:27] sushain97 commented on #14061
Sorry for the late reply -- it took a while to get a new version rolled out. I agree that the stated rationale is no longer valid. Thanks for the pointer!

However, it still seems like it would be good hygiene to have everything in proto3?

Either way, I'll leave it to the maintainers on whether to close this issue or not.

[2021-11-05 21:00] gregestren commented on #14169
Okay, now I remember. This is a known discrepancy between `genquery` and `query`. There was a similar discussion within Google a while back. I'll paste my comments from there:

So the short story is both `query` and `genquery` identify a cycle, but `query` ignores it while `genquery` doesn't. And this isn't easy to reconcile.

The most straightforward paths would be one of:

- refactor your code t

[2021-11-05 21:30] philsc commented on #14224
I ran into this as well. The issue is that, despite the documentation saying otherwise, the first thing [`SymlinkAction`](https://github.com/bazelbuild/bazel/blob/a6d2c623f5ba20910db6b3842fd980f754a1eefa/src/main/java/com/google/devtools/build/lib/analysis/actions/SymlinkAction.java#L137-L142) does is to turn the unresolved path into a [`PathFragment`](https://github.com/bazelbuild/bazel/blob/a6d2

[2021-11-05 21:46] gregestren commented on #14236
I'm a bit lost in the conversation history here and at https://github.com/bazelbuild/bazel/pull/13587.

I didn't fully follow Case 3. For example, can you elaborate "This has the unwanted consequence that E can no longer be a dependency of D"?

And what is the exact goal? All of @sdtwigg 's ongoing work should eliminate action conflicts more fundamentally. Is the primary concern of this issue acti

[2021-11-05 22:06] pauldraper commented on #14224
My fix was to use the `ln` executable, and everything worked fine. (Platform-specific of course.)

[2021-11-05 22:51] pauldraper commented on #3054
Currently there are 16 commands.

Whenever you add an option, you must figure which of those 16 commands it applies to.

[2021-11-06 01:15] jscheid-ventana commented on #5139
I ran into issues with partial cache content deletions, as we have potentially continuous use of the cache with no downtime.  We now just rename the cache directory and then delete all of it.  This is unfortunate.

See issues like
https://github.com/bazelbuild/bazel/issues/8508#issuecomment-511664292 and https://github.com/bazelbuild/bazel/issues/8250

[2021-11-06 02:55] coeuvre commented on #12818
Note that the fix was rolled back in d2b942879471786e82f1c96eea8722bbe7919fc1 due to regression #13262.

The general idea is, if the outputs of an action depend on the permission bits of its inputs, we should either force the action running locally or explicitly change the permission of inputs during execution to make the action hermitic.

[2021-11-06 04:45] shelllet commented on #14232
maybe this is vcpkg's problem.

[2021-11-06 09:25] jesseschalken commented on #10496
I don't think this is accurate. When stdout is intended to be captured and machine parsed, printing informational logs to stdout would corrupt the output, so stderr is used instead, eg `tar -cv`.

This may or may not be relevant to a specific Bazel command but a sweeping expectation that stderr only contains errors is not reasonable.

[2021-11-06 11:39] philwo commented on #10496
I find this StackOverflow answer useful: https://stackoverflow.com/a/41766832

Of course in the case of Bazel it's tricky where to draw the line between normal output and diagnostic messages. If someone has a good proposal how to structure the output, feel free to write it down here and we can consider it. But in general the current behavior is not a bug.

[2021-11-06 14:59] fmeum opened #14239 "Action conflicts due to differing `affected by starlark transition` value"
### Description of the problem / feature request:

Since 711c44ea79db14406972cc2204a43c589a2debce, transitions that lead to configs with differing `affected by starlark transition` value but otherwise identical configs lead to action conflicts.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

1. Check out https://github.com/bazelbuil

[2021-11-06 16:01] psigen commented on #14226
Ok, I tried this with my directories, and I ran into the following error:

[code]

[code]

The exact same flag with `/usr/lib64:lib64` works fine.  Is there some step to specify what empty directories will be created in the sandbox to use as mount points?

[2021-11-07 19:06] robfig commented on #14169
Thanks for digging in. I'm not sure how to resolve though:

* The cycle is fundamental here - we want to compile the static analysis binary (nogo) using a config setting that specifies no static analysis, via a transition coming from compiling the user's program with the static analysis tool built and activated. I believe there is no way to remove the cycle, without giving up and requiring a prebu

[2021-11-08 00:21] cushon commented on #14210
This is the line in turbine where it's seeing the invalid jar: https://github.com/google/turbine/blob/7db5cb2f1914f3547a206547d87cdc1252967114/java/com/google/turbine/main/Main.java#L316

That logic is handling `--source_jars`, which suggests the invalid jar here is `bazel-out/k8-fastbuild/bin/protos/growth/payout/enums/brex_growth_payout_enums_proto-speed-src.jar`

That exception is thrown for ar

[2021-11-08 01:34] linzhp commented on #14169
There is a test in Uber to verify that a service doesn't have any transitive dependency on some IDL files. The test uses a `genquery` as its data and iterate through all the service's dependencies.

I am not sure if there is any workaround. It's probably not a good idea to run either `bazel query` or `bazel build` for some aspect in test runtime.

[2021-11-08 04:07] #14008 closed

[2021-11-08 06:55] coeuvre commented on #13912
@brentleyjones Can you try with `--experimental_action_cache_store_output_metadata`?

[2021-11-08 08:23] limdor commented on #7849
Could someone add the label breaking-change-5.0? It would be slightly easier to find when searching for all Bazel 5.0 breaking changes

[2021-11-08 08:29] comius commented on #7849
Done.

[2021-11-08 08:36] JackBoosY commented on #10772
The question is why `undname` is not found in the Visual Studio 2022 directory.
I think it is correct for Bazel to use 2022 first, but there are the above problems.

[2021-11-08 08:36] shelllet commented on #14232
i don't know this is a bug or not

[2021-11-08 08:53] shelllet commented on #10772
`windows_cc_configure.bzl`  does not seem to support vs2022. is this cause the above problem?

code snippet.
[code]

[code]

[2021-11-08 09:32] coeuvre commented on #13882
What's the use case here for changing `--remote_cache` between builds?

The root cause is those files aren't downloaded in the first build because of `--remote_download_top_level`. In the next build, the actions could have download these files from remote server but remote cache is disabled.

I have a fix in hand but it requires invalidating all actions if `--remote_cache` is changed (it will stil

[2021-11-08 09:35] JackBoosY commented on #10772
See log content:
[code]
Please note The Visual Studio 2022 path `C:\Program Files\Microsoft Visual Studio\2022\Community\VC` is correct.

[2021-11-08 09:38] meteorcloudy commented on #10772
@JackBoosY Thanks! Have you figured out why undname.exe no longer exists in VS 2022?
It's needed to build TensorFlow on Windows: https://cs.opensource.google/tensorflow/tensorflow/+/master:tensorflow/tools/def_file_filter/def_file_filter_configure.bzl;l=35?

[2021-11-08 09:59] JackBoosY commented on #10772
@meteorcloudy
See my comment https://github.com/bazelbuild/bazel/issues/10772#issuecomment-962924219

![image](https://user-images.githubusercontent.com/47264268/140721746-70dfb0d7-6a41-439e-aaa4-3ac17e250736.png)

Please note the relative path of undname in Visual Studio has never been changed.

[2021-11-08 10:04] coeuvre commented on #13882
And this issue can be reproduced without using `--experimental_action_cache_store_output_metadata`.

[2021-11-08 10:16] meteorcloudy commented on #10772
Oh, I see, then `find_vc_path` must have returned the wrong result. Can you show me what's under the VS 2022 path?
Maybe the directory structure changed again?
https://github.com/bazelbuild/bazel/blob/master/tools/cpp/windows_cc_configure.bzl#L260

[2021-11-08 10:41] matvey00z commented on #3637
Run into the same problem with `new_local_repository`. In my case killing bazel background process helped.

[2021-11-08 11:03] LiushuiXiaoxia commented on #11374
Does anyone solve it?

[2021-11-08 11:44] Wyverald commented on #14034
Cherrypicked.

[2021-11-08 11:44] #14034 closed

[2021-11-08 12:56] brentleyjones commented on #13882
We can't reproduce without using that flag though. We only encountered it with the flag, and after removing the flag we never encountered it again.

Our use case is that we disable the remote cache if we detect that we can't connect to it (with curl), because Bazel  takes way too long on each build if it can't connect to the cache (offline, vpn, etc).

[2021-11-08 12:57] brentleyjones commented on #13882
And invalidating the actions wouldn't be good. That would be a huge regression for us. We still use the disk cache when disabling the remote cache.

[2021-11-08 13:18] torgil commented on #14236
#14023 (and @stdwigg's solution) takes care of the "directory name fragment" problems while this issue takes care of some other issues discussed in #13587 which is currently a real issue to us (see below).

Note also that there were also other namespace aspects discussed in #13587, like the IDE/debug-issue, not covered either of these issues.

Sure. Since D (or edge to D) needs to reset build-sett

[2021-11-08 13:30] brentleyjones commented on #13882
Also, I feel it's very valid to flip off the remote cache if your internet becomes too slow (on a hotspot for example). Since Dynamic Scheduling doesn't support remote cache, this can drastically speed up your build.

[2021-11-08 13:34] pauldraper opened #14243 "http_archive for alternative hash algorithms (namely SHA-512)"
### Description of the problem / feature request:

Support SHA-512 hashes in http_archive.

### Feature requests: what underlying problem are you trying to solve with this feature?

I am creating http_archives from a yarn.lock file, generated by Yarn. As of Yarn v2, SHA-512 is the chosen algorithm.

[2021-11-08 13:35] pauldraper commented on #14243
Actually, download_and_extract supports SHA-512 already. I will just use that.

[2021-11-08 13:35] #14243 closed

[2021-11-08 18:13] gregestren commented on #14236
That makes more sense, thank you.

So in the above example, the sole purpose of the build setting is for B/C to set it and for E to consume it? And you desire both of

- For both B->D and C->D any artifact `d.out` produced by any action in D has the path `bazel-out/<same prefix>/foo/d.out`. This is safe because that action doesn't depend on the build setting
- For B->D->E, any artifact `e.out` pro

[2021-11-08 18:24] gregestren commented on #14239
Huh. I hope this is something small. I was thinking https://github.com/bazelbuild/bazel/commit/711c44ea79db14406972cc2204a43c589a2debce would be a pure improvement.

[2021-11-08 18:38] gregestren commented on #14169
Okay. To be clear, the problem is this quirk `genquery` has, not the cycle. I see no design issue with the cycle you've built into the Go rules.

@linzhp, your test is part of a big `bazel test ...` run? Is it possible to inject into some other part of your CI that doesn't run `bazel test`, but instead runs `bazel build` with the aspect approach? That would also technically be more accurate than `

[2021-11-08 18:42] gregestren commented on #14169
@haxorz - who has expertise on the core Bazel logic `genquery` runs within - this is another case of `genquery` loading phase cycles triggering errors while `bazel query` ignores the cycles.

Was there any other best practice recommendation aside from eliminating the cycles or prefering aspects?

[2021-11-08 19:02] sdtwigg commented on #14239
This is strange, the ST-hashes should be different if affected-by-Starlark-transition is different

[2021-11-08 19:35] sdtwigg commented on #14239
I am working on this but out of curiosity, does anyone who encountered this have a smallest possible test case? The other example I have been debugging with involve cc_proto_library computation, which is also somewhat large.

[2021-11-08 20:00] sdtwigg commented on #14239
New theory: https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/analysis/starlark/FunctionTransitionUtil.java#L443 this null check is bad. (Short story: just because the Starlark value is at its default does not mean it should be excluded from ST hash addition; especially since the commandline may have explicitly set the Starlark value.)

I have a change tha

[2021-11-08 22:27] fmeum commented on #14239
Good catch! Removing the check makes all action conflicts go away.

I do think that the check is bad for a different reason though: Omitting a variable `foo` from the hash if it is `null` still leads to a hash value distinct from those for all other possible values of `foo`, so the command-line value of `foo` shouldn't matter here. But the hash also serves the purpose of encoding the set `affected

[2021-11-08 22:34] sdtwigg commented on #14239
Yes, in practice when the value is null I am going to have it print key@null (just in case a user has a String StarlarkOption with non-null value "null" resulting in key=null).

[2021-11-08 23:08] fmeum commented on #5503
I added a [`jni_headers`](https://github.com/fmeum/rules_jni/blob/main/docs/rules.md#jni_headers) rule to [`rules_jni`](https://github.com/fmeum/rules_jni) that wraps the generated headers in a `CcInfo` for direct consumption by `cc_*` rules.

[2021-11-09 02:11] dtbartle commented on #14216
I don't understand why, but it looks like the difference (between full xcode and the CLI tools) is how the binary is linked (`otool -L`:
[code]

I tried to capture the actual command-line args, and that confirmed different flags were used to link:
[code]

[2021-11-09 02:28] JackBoosY commented on #10772
@meteorcloudy  As I said, the path structure of all files has not changed.

[2021-11-09 06:28] eric-skydio commented on #14236
The lens that I have found most clear for thinking about this is thinking about how to handle a single rule with multiple actions, some of which depend on the build configuration while others don't. For example, a (custom) C++ rule that wanted to compile only once but link in several different configurations for different targets. In this view, an ideal API would `ctx.declare_output()` to specify

[2021-11-09 06:29] eric-skydio commented on #14023
Thanks for putting in all the work to write this up, I'm excited to see this is on a path to eliminate the horrible hacks we are currently using in our codebase to make this work.

In the process of implementing a number of "unifying" starlark transitions in our codebase, one realization we've had is that it's often useful to be able to explicitly "delete" a configuration setting, meaning reset it

[2021-11-09 08:15] coeuvre commented on #13882
This issue is similar to https://github.com/bazelbuild/bazel/issues/8250 that Bazel knows the file is in the remote server but can't get it (evicted or no remote endpoint). The only way to generate those missing files is to rerun the generating actions. So the real fix is to implement action rewinding.

A temporary fix as I mentioned above is to invalidate all actions if `--remote_cache` is change

[2021-11-09 08:35] whhx commented on #11264
Can you specify a version number range? Do you have a plan

[2021-11-09 08:39] whhx opened #14246 "I want to specify the version number range in .bazelversion, Is there a scheme?"
### Description of the problem / feature request:

### Feature requests: what underlying problem are you trying to solve with this feature?

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

### What operating system are you running Bazel on?

### What's the output of `bazel info release`?

### If `bazel info release` returns "developm

[2021-11-09 08:53] AI0867 opened #14247 "-Warray_bounds warning"
### Description of the problem / feature request:

[code]

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Build dev-util/bazel-3.7.2-r1 on gentoo.

### What operating system are you running Bazel on?

Gentoo Linux

### What's the output of `bazel info release`?

I don't actually have a bazel environment, so I can't tell you this, bu

[2021-11-09 09:30] meisterT commented on #14209
Not sure since when this is broken but I will happily accept a PR to fix it.

[2021-11-09 11:38] cpaleop commented on #13931
Is there any progress to this?

[2021-11-09 11:44] fmeum commented on #14023
To answer this question, I quickly prototyped this approach in https://github.com/fmeum/bazel/commit/5eefd23b0a0710e717ac09651df295c393bc5c03. This has the obvious noted deficencies and contains debug prints, but allowed me to get a better understanding of what the computed `affected by starlark transition` would look like. It does successfully analyze `rules_go` as well as our codebase at work, p

[2021-11-09 11:45] ulrfa commented on #14239
The intention with the check for null was to:
- Prevent affecting unrelated parts of the dependency graph.
- Preserve the existing behavior where only starlark options in toOptions were included: `toOptions.getStarlarkOptions().forEach((opt, value) -> toHash.put(opt.toString(), value));`

###  Example:

First building a library, with dependency graph A-B-C, and populating remote caches:

[code]

T

[2021-11-09 12:18] meisterT commented on #14208
cc @michaeledgar

[2021-11-09 12:20] limdor commented on #9014
@philwo this was marked as breaking change for 5.0 but looking at the release notes and the PRs I think it was not flipped. Could it be that this has not been flipped in Bazel 5.0? If that is the case could you update the label?
I found it going over the list in https://github.com/bazelbuild/bazel/labels/breaking-change-5.0

[2021-11-09 12:21] #14183 closed

[2021-11-09 12:26] a4z commented on #14183
Btw, I had the same problem on my Linux box with the same project.

did not work for some time on this device, pulled the last changes, bazel build did not work.
clean, removing tmp folders, no success

checking out the project under a different folder, it worked. Strange ......

[2021-11-09 12:40] torgil commented on #14236
Yes, but it can also be the case that B sends build-setting based information up to B/C to consume. Instead of `bazel-out/<prefix1>/foo/e.out` it can (depending on use-case) also make more sense for E to have artifact output paths as `bazel-out/<prefix>/foo/e.out-suffix1` (as the example above).

A common issue leading here is that variation tend to appear in lower level nodes (E). D may be a self

[2021-11-09 12:45] smartbarbarian opened #14248 "Can the bazel plugin for Clion support toolchain so it can use bazel binary within a docker container?"
Documentation issue: IDE integration Documentation URL: https://docs.bazel.build/versions/main/ide.html
Currently I can't find an IDE which can support bazel and docker at the same time for C++.
CLion support importing a bazel project but it can't import the project within docker.
VScode need users to generate the compile_commands.json for bazel by themselves.
I really need to enable intellisense

[2021-11-09 12:48] torgil commented on #14236
With "output directory name" transition (no hashes), this fails with action conflicts today.

Yes. This will produce an action conflict the rule author needs to take care of. Can you elaborate on how a rule user can break correctness with select statements?

In case3 above, D have two identical actions generating the same file. It worked on master as of Friday. Lets aim for 6.0 ;-)

[2021-11-09 13:02] limdor commented on #8922
What is the status of this flag, it is saying will be flipped TBD but breaking change 5.0. Is it flipped in Bazel 5?

[2021-11-09 13:10] lberki commented on #8922
@philwo I assume we are not flipping this in 5.0 since we decided to go with builtin Starlark rules instead for the time being?

[2021-11-09 13:10] lberki commented on #8922
/cc @comius

[2021-11-09 13:14] Yannic commented on #8922
I don't think it's ready for flipping in 5.0 (would like to do it eventually though)

[2021-11-09 13:36] brentleyjones commented on #13882
I'll work on a repo.

[2021-11-09 14:57] brentleyjones commented on #13882
Here are some reproductions: https://github.com/brentleyjones/action_cache_store_output_metadata_bug

It seems that if you don't invalidate the analysis cache that you get a build failure with or without the flag (`repo1.sh` and `repo3.sh`). If you do invalidate the analysis cache though, you only get a build failure with the `--experimental_action_cache_store_output_metadata` flag (`repo2.sh` and

[2021-11-09 15:20] eikemeier opened #14249 "Bazel 5.0rc1 issue with linking Java 17 records with explicit constructors from a different package"
### Description of the problem / feature request:

Bazel 5.0rc1 has an issue with linking Java 17 records with explicit constructors from a different package.

Demonstration in [eikemeier/bazel_jdk17](https://github.com/eikemeier/bazel_jdk17).

### Feature requests: what underlying problem are you trying to solve with this feature?

Compile a Java 17 program with bazel.

### Bugs: what's the simpl

[2021-11-09 15:24] eikemeier commented on #13965
It would be great if you could look into https://github.com/bazelbuild/bazel/issues/14249

[2021-11-09 15:28] frazze-jobb commented on #14226
Sorry for taking my time, I had not run into that issue before. But I can replicate it now.

build --sandbox_add_mount_pair=/usr/lib32:/lib32
This fails for me because /usr/lib32 does not exist
build --sandbox_add_mount_pair=/usr/lib:/lib32
This fails for me because /lib32 does not exist in the original filesystem.
build --sandbox_add_mount_pair=/usr/lib:/lib
This works because both source and tar

[2021-11-09 15:37] cushon commented on #14249
[code]

[code]

[2021-11-09 15:40] eikemeier commented on #14249
@cushon: When you move the `Hello` record in the same package as the `Main` class the error vanishes. So _just_ the record isn't enough.

[2021-11-09 15:58] cushon commented on #14249
That's because header compilation actions only run on Java targets that are dependencies of other targets. The header jar is used as a compile-time optimization when compiling downstream targets, and the action isn't run if record is being built directly.

[2021-11-09 16:03] eikemeier commented on #14249
Yeah, thanks. So “different package” is probably wrong, it should be “compile unit” or something like that. The same example work in a single package, as long as linking is involved:

https://github.com/eikemeier/bazel_jdk17/tree/single-package

[2021-11-09 16:28] gregestren commented on #14239
FYI https://bazel-review.googlesource.com/c/bazel/+/180710.

[2021-11-09 16:38] nacl commented on #11545
Bah, sorry for the delayed response, @sdtwigg.  The flag apparently worked, but it may have additional consequences; I haven't been able to run a deep investigation to see how it might impact our use case.

Thanks for the suggestion!

[2021-11-09 16:41] keith commented on #14216
I wonder if this is a bug in the CLT setup in monterey. Unfortunately it's hard to test if you already have Xcode

[2021-11-09 17:28] comius commented on #8922
Absolutely, not flipping in 5.0. I removed the label on the issue.

[2021-11-09 18:17] gregestren commented on #14239
Thanks for the explanation. I'd expect remote caching to continue to work in that case.

The logic is subtle. Look at:

https://github.com/bazelbuild/bazel/blob/a9206ebe275ce3de22f5c68b03ad58f6ae0b0cb2/src/main/java/com/google/devtools/build/lib/analysis/starlark/FunctionTransitionUtil.java#L425

https://github.com/bazelbuild/bazel/blob/a9206ebe275ce3de22f5c68b03ad58f6ae0b0cb2/src/main/java/com/go

[2021-11-09 18:32] #12959 closed

[2021-11-09 19:04] tetromino commented on #13907
Migration notes for flag: `--incompatible_existing_rules_immutable_view`

`native.existing_rule()`, instead of a `dict` value, returns an immutable, dict-like view object (in other words, supporting dict-like iteration, `len(x)`, `name in x`, `x[name]`, `x.get(name)`, `x.items()`, `x.keys()`, and `x.values()`) with the same content as before.

`native.existing_rules()`, instead of a `dict` value,

[2021-11-09 19:13] gregestren commented on #14239
@sdtwigg helpfully pointed out that transitions include a post-validation step that removes flags from `toOptions.getStarlarkOptions()` if their new values are the same as their flag default values: https://github.com/bazelbuild/bazel/blob/a9206ebe275ce3de22f5c68b03ad58f6ae0b0cb2/src/main/java/com/google/devtools/build/lib/analysis/starlark/StarlarkTransition.java#L353

As far as I can see no such

[2021-11-09 19:55] gregestren commented on #14239
One more comment:

If the configuration at the top-level (command line) has all flags at their defaults, then transition A sets `//foo` to `<not its default>`, then transition B sets `//foo` back to its default, this means the configuration after B is the same as the top-level.

In that case you'd want both configurations to not have an `ST-<hash>` at all. I can see that the null check prevents ad

[2021-11-09 20:20] michaeledgar commented on #14208
We don't want the Progress field in BEP to be used for transferring structured data. As @benjaminp suggested, we should instead upload the output file and report the URI.

There is presently a mechanism for this that is only implemented inside Google, but should be easily wired up to use the remote cache feature. A [BlazeModule may implement `#getQueryRuntimeHelperFactory()`](https://github.com/ba

[2021-11-09 21:19] comius commented on #13758
I made a new release of java_tools v10.7, https://github.com/bazelbuild/java_tools/releases/tag/javac11_v10.7.

This issue should be fixed by including http_archives mentioned in the release notes into the WORKSPACE files (without any need to do custom toolchains). That is if you're on Bazel 4.x.x.

Bazel 5.0.0 should have no such issues.

[2021-11-09 21:19] #13758 closed

[2021-11-09 21:23] gregestren commented on #14023
Yes, there is a way. And I agree the top-level config makes a better baseline.

Since @sdtwigg has plans along these lines I'd leave it to you two to converge.

[2021-11-09 22:08] #14239 closed

[2021-11-10 01:15] bjacklyn commented on #14013
Is there going to be a push to release 5.0 before Bazelcon (Nov 17-18)? :)

[2021-11-10 02:45] ahumesky commented on #13989
With build tools 31, dx has been removed, and the latest version of d8 moved some classes around. I think his should fix it:
https://github.com/bazelbuild/bazel/commit/ceb498fd6b9323a738f0ba628d12a23a161a0671
Can you try again with the latest bazel release? Looks like this is in 5.0 and 6.0

[2021-11-10 02:49] ahumesky commented on #13931
Unfortunately it's unlikely that we'll be able to implement this in the near term while we move the Android rules to Starlark

[2021-11-10 04:30] samhowes commented on #14113
This popped up again today. Different workspace, but still on azure machines:

[code]

https://dev.azure.com/samhowes/rules_msbuild/_build/results?buildId=570&view=logs&jobId=a82d9e72-1de4-5bd6-c188-90296135479e&j=a82d9e72-1de4-5bd6-c188-90296135479e&t=bd9c9eb7-ca76-5614-cc1d-91d849d3c79b

https://app.buildbuddy.io/invocation/ed53b9ad-5bee-41b0-a091-3d26c0751a29#details

[2021-11-10 04:43] aiuto commented on #13866
Whoops. Lost this.
I think this is non-obviously hard. IIRC, I've noticed that the aspect evaluation on the command line don't all get evaluated before the target evaluation completes.  So, I think there is a deficiency here, but I don't have a quick fix.

One of the workarounds I have used is to have the aspect dump results to a file and examine that. In a sense, it is not quite as flexible as cq

[2021-11-10 05:03] coeuvre commented on #13882
Thanks for the repros!

For `repo4.sh`, actions are invalidated as well (because they depend on analysis result). So in the final build, all action nodes are re-evaluated and checked against action cache. For actions whose outputs are not downloaded during previous builds, they can't hit action cache since output metadata are missing, resulting re-executions. Outputs of those actions are regenerat

[2021-11-10 05:26] tinder-maxwellelliott commented on #13862
@thii how are you able to get around this? Do you have a custom Bazel fork with the necessary apple silicon and cross tool changes?

This seems like a significant issue since Bazel 5 is more or less tied to getting native apple silicon builds working (at least how it currently appears to me)

[2021-11-10 07:46] coeuvre commented on #13912
Since `--experimental_action_cache_store_output_metadata` can be used as a workaround, I am removing this from 5.0 release blocker and down the priority to P2.

@brentleyjones Let me know if it doesn't work for you.

[2021-11-10 07:57] llivshitz-quotient commented on #14206
@demorgan104
Same problem, tried your proposed solution and it didn't work... :(

[2021-11-10 07:57] llivshitz-quotient commented on #14216
Have the same issue, following the topic...

[2021-11-10 08:00] llivshitz-quotient commented on #14216
@demorgan104 tried cleaning the cache and your described solution still get the same error
`Error:(21, 18) ProtoCompile... failed: (Segmentation fault): bash failed: error executing command /bin/bash -c ... (remaining 1 argument(s) skipped)`

[2021-11-10 09:22] urbasus commented on #3376
Though not supported I think an example of the technique could benefit people such as myself. Surely there is some repo somewhere doing it right.

[2021-11-10 09:27] #14246 closed

[2021-11-10 09:27] whhx commented on #14246
https://github.com/bazelbuild/bazel-skylib/issues/236

[2021-11-10 10:44] ulrfa commented on #14239
Thanks for the explanation!

I currently don't have transitions setting options back to their defaults, but I'm looking forward to @sdtwigg's optimizations in that area.

I got the impression that `buildConfigOptions.affectedByStarlarkTransition` is **global for the whole build** and can contain option names from transitions in E-F also when processing unrelated transitions in A-B-C. And that the

[2021-11-10 10:50] thii commented on #13862
@tinder-maxwellelliott We only have a handful of objc_library targets, so we just skip using header maps for now to work around this. If you just want to support building for the simulator on Apple Silicon, you can try to patch Bazel 4.2.1 with the necessary changes:

* Enable Apple Silicon iOS simulator support via use of new CPU type. https://github.com/bazelbuild/bazel/commit/c1ea2d4b9cb6afa33e

[2021-11-10 10:55] thii commented on #13862
@oquenchil This seems to affect a lot of users especially who need to build mixed Obj-C & Swift modules. What do you think about adding the native implementation of Obj-C rules back and adding a flag to allow switching between the native and the Starlark implementation of them until the Starlark one becomes stable?

[2021-11-10 13:45] brentleyjones commented on #13862
@Wyverald I think this would count as a 5.0 release blocker.

[2021-11-10 16:46] haxorz commented on #14169
No. The last major time this came up internally at Google, "eliminate the cycle" was viable and was the approach taken.

[2021-11-10 17:01] aherrmann commented on #13866
Yes, that's also the workaround that we are using.

Yes, for an interactive use case that is a good point. Our use case is not an interactive one, but part of our CI, so this seems less of a concern.

---

For reference I'll describe that use-case here. This goes a few shaved yaks down, but I'll try to keep it brief:
- We use `rules_scala`'s `scala_test_suite` macro which generates one `scala_test

[2021-11-10 17:20] Wyverald commented on #14249
Do we think this is a 5.0 release blocker?

[2021-11-10 18:02] keith commented on #14173
Is this the same as https://github.com/bazelbuild/bazel/issues/13862 ?

[2021-11-10 18:02] keith commented on #13862
Is https://github.com/bazelbuild/bazel/issues/14173 the same?

[2021-11-10 18:44] jerrymarino commented on #14173
@keith I'm not sure of the repro for #13862 but it looks like the same stack

[2021-11-10 18:47] jerrymarino commented on #13862
Yeah it looks like #14173  is the same problem 👍 . cc @amberdixion who I believe has context on an in-progress fix / added test coverage to prevent this from regressing

[2021-11-10 18:49] jerrymarino commented on #14173
Read through #13862 and this seems like a dupe

[2021-11-10 18:49] #14173 closed

[2021-11-10 18:55] Wyverald commented on #13862
@oquenchil also has a fix in flight already. Should be submitted tomorrow

[2021-11-10 18:55] aiuto commented on #13866
Thanks for the deeper details.  That leads to two distinct replies.

1. I totally see the need here. I am facing it myself in a different situation and do not have any good answers right now.

2. I have a workaround that _might_ work for you.
Your aspect appears to be easily transformable directly into a cquery expression.
Instead of having the tests to see if the test rule is eligible and then re

[2021-11-10 20:27] eikemeier commented on #14249
It's a very basic Java 17 program that cannot be compiled. OTOH lots of tools have problems with Java 17, for example Error Prone 2.9.0 (in Bazel 5.0rc1) has issues with records, fixed in 2.10.0:

https://github.com/google/error-prone/commit/47da3af7490e6dbb214af58ea6460ae5823f50e3

I don't know what level of Java 17 support is targeted.

[2021-11-10 20:40] cushon commented on #14249
I agree this is a very fundamental issue with Java 17 support.

@hvadehra @comius WDYT? I'll have a fix for this ~today, your call whether it makes sense to target 5.0 at this point. (If it doesn't make it into 5.0 it'll still be possible to get the fix by updating the java_tools version.)

[2021-11-10 20:43] gregestren commented on #14239
`buildConfigOptions.affectedByStarlarkTransition` isn't global, so no worries there. The general principle is anything you set on node B propagates down B's subgraph, but has no effect on subgraphs B isn't part of.

[2021-11-10 20:51] gregestren commented on #14236
Which change from 4.x to master do you mean? Removal of the `output directory name` flag?

This is similar to [action sharing](https://github.com/bazelbuild/bazel/blob/53f189973e1372d53c7cc2a041a3e34adcff4fbe/src/main/java/com/google/devtools/build/lib/actions/AbstractAction.java#L352), although my reading of what you're saying is a bit different.

[2021-11-10 23:15] nkoroste commented on #11810
Still hitting this issue with `v4.1.0` by the way

[2021-11-10 23:23] nkoroste commented on #11810
Oh I think I figured it out. I can't use `/tmp` because of:
[code]
Needed due to https://github.com/bazelbuild/bazel/issues/3236

[2021-11-11 01:06] ablyes commented on #12959
Hello, i can't follow or may be i'm stupid.
3.7.3 doesn't exist.
The fix exists on 4.0.0 ... is there a way to get a fix for 3.7 branch ?

[2021-11-11 04:59] lee-csu opened #14256 "Compile Line Length Limit hit under Windows 10.0 with bazel 4.0.0"
### Description of the problem / feature request:
I tried to compile the Java project on Windows 10, but because the project has too many dependencies, an error message is displayed during dependency parsing, indicating that command is longer than CreateProcessW's limit. My maven_install() defines nearly 500 dependencies.

Bugs: what's the simplest, easiest way to reproduce this bug? Please provid

[2021-11-11 05:27] cpsauer opened #14257 "Bazel internal crash during query on rolling"
### Description of the problem

I was running `bazel query "..."` to investigate another issue over in Tulsi, and there was an internal crash that seemed like it'd be worth reporting. The crash comes from a somewhat pathological case, in which the bazel repo contains a symlink to its own output base.

### Thoughts on a solution

I get that this seems like a weird case--but it's a real one encounte

[2021-11-11 06:27] eric-skydio commented on #14236
I may be wrong about how this works, and apologies for taking so man words to explain this, but what I think you're referring to with case 3 is where _all_ configuration settings on the rule are identical, in which case the analysis-time rule graph only has a single node, and I've been referring to that as a "single rule" and "single action". I'm instead trying to refer to a situation where multip

[2021-11-11 06:40] eric-skydio commented on #14236
In Bazel 4.x, we were using `output directory name` to create code-generation rules that always put their outputs into `bazel-out/unconfigured` no matter what configuration they were built in. This would result in two instances of the same rule producing the same output filepath, which worked fine as long as those outputs were in fact identical. I was using "tricky select statements" to refer to o

[2021-11-11 07:11] ulrfa commented on #14239
I see, thanks @gregestren!

[2021-11-11 08:15] comius commented on #12959
I didn't close the issue because it was resolved.

I closed it because it's fixed in 4.0.0, 3.7 is non-LTS and there seems to be lack of interest from the community to fix this on 3.7 branch.

[2021-11-11 08:34] ablyes commented on #12959
Ok, thank you @comius
How can I fix it by my own ? Because i seems to be very expensive task to migrate from 3.X branch to 4.

[2021-11-11 08:57] comius commented on #12959
Make a branch with suggested cherry-picks, analize if you need additional ones, make a local release of java_tools on top of that and test with it. The last part is undocumented, there is a target in //src that builds a java_tools_linux zip (or a different os) for you and you can test it with --override_repository.

If your manual tests work, I can review your branch, release java_tools properly,

[2021-11-11 09:02] aherrmann commented on #13866
As I recall the issue that kept me from going that way was that I need [access to the `srcs` attribute](https://github.com/digital-asset/daml/blob/f8f88072ee59d17a68541ed2b2a060112f1893bf/bazel_tools/scala.bzl#L736) of the `scala_test`. I need the source file path to reconstruct the long name on Windows. In the cquery Starlark expression I have access to the `Target` and [its providers](https://do

[2021-11-11 10:20] torgil commented on #14236
Alright. This is exactly what I'm trying to solve with `output directory name` in combination with the solution to this issue which if I recall right also was an issue in 4.x with maybe the difference that the configuration hash also was included in the action hash.

This should also be hit by above config hash issue. It would simplify deduplication of actions in cases where a rule creates both pl

[2021-11-11 14:00] meteorcloudy opened #14259 "Bzlmod: a project cannot provide a macro that uses select statement"
For example in rules_pkg, [//private:private_stamp_detect](https://github.com/bazelbuild/rules_pkg/blob/b83be9ce26ff9708c9b9ebe658a175527cc74ff1/pkg/pkg.bzl#L50) is a config setting in rules_pkg for filling the value of [private_stamp_detect](https://github.com/bazelbuild/rules_pkg/blob/b83be9ce26ff9708c9b9ebe658a175527cc74ff1/pkg/pkg.bzl#L494), which is defined in a macro `pkg_tar`.

In rules_pkg

[2021-11-11 14:01] brentleyjones commented on #13978
A friendly 2 month ping on this.

[2021-11-11 14:45] pauldraper commented on #10443
Note for comparison: GNU make supports this via its "jobserver": https://www.gnu.org/software/make/manual/html_node/Job-Slots.html

[2021-11-11 15:29] brentleyjones commented on #13862
Can we re-open this until it's in the 5.0 rc branch?

[2021-11-11 15:57] gregestren commented on #14179
I want to signal boost https://groups.google.com/g/bazel-discuss/c/vgn9uyyIrIM/m/4trNkRS0AQAJ - @moroten 's discussion listed above

The biggest challenge is addressing correctness concerns.

Partial approaches could be viable, with [trim_test_configuration](https://github.com/bazelbuild/bazel/blob/3a8d07d0e53742ce7937b332b09191cf83d4083b/src/main/java/com/google/devtools/build/lib/analysis/test/T

[2021-11-11 15:57] brentleyjones opened #14260 "5.0rc1: `android_ndk_repository` is fetched eagerly"
### Description of the problem / feature request:

In bazel 5.0rc1 `android_ndk_repository` is fetched even if nothing depends on it. In 4.2.1, this wasn't the case.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Add `android_ndk_repository(name = "androidndk", api_level = 29)` to `WORKSPACE`, don't have the `ANDROID_NDK_HOME` envi

[2021-11-11 16:04] brentleyjones commented on #14260
@Wyverald This breaks envoy-mobile CI when upgrading to 5.0: https://github.com/envoyproxy/envoy-mobile/runs/4096640402?check_suite_focus=true#step:4:46

[2021-11-11 17:49] fweikert opened #14261 "Status of Bazel 6.0.0-pre.20211101.2"
- Expected release date: 2021-11-11

Task list:

- [x] Pick release baseline: [9c65356c](https://github.com/bazelbuild/bazel/commit/9c65356cedcf4e68077219c10f5a7bb39d38054b) with cherrypick [2c9721f9](https://github.com/bazelbuild/bazel/commit/2c9721f9ba11979eee1fd95fe793b52369df99ac)
- [x] Create release candidate: https://releases.bazel.build/6.0.0/rolling/6.0.0-pre.20211101.2rc1/index.html
- [x

[2021-11-11 18:19] konste commented on #13861
At this time with Bazel 4.2.1 I observe that `cquery` returns incompatible targets as well as compatible and this actually creates a problem for us, because we feed `cquery` output to the following `build` and it fails with `Target ... is incompatible and cannot be built, but was explicitly requested.`

[2021-11-11 18:43] kylecordes commented on #13784
This is a frustrating situation... even with Java 15 (well behind current LTS), logs are full of:

[code]

[2021-11-11 18:50] michaeledgar commented on #14208
Present-day support for reporting query results via BEP is spotty and does not adequately support the full range of features offered by the query commands. Some known issues with the current support follow.

## Known Issues

### Large Streams

Today, query results are reported in BEP via `Progress` events, because query results are always written to standard output and **all** standard output is r

[2021-11-11 22:58] sdtwigg commented on #14023
As another piece of work (to be done after removal of "affected by Starlark transition" so tjat the results native transitions are also being properly diffed against the top-level configuration), we can then remove the ad hoc output directories distinguishers used by AppleConfiguration and AndroidConfiguration in their configurationDistinguisher option. (Morally, the configurationDistinguisher is

[2021-11-12 06:51] #13344 closed

[2021-11-12 07:23] Echogsh opened #14263 "what does the following ERROR mean and how to fix ?"
root@xxx94:/opt/gsh/onos# bazel build onos
Starting local Bazel server and connecting to it...
INFO: Analyzed target //onos:onos (1677 packages loaded, 53804 targets configured).
INFO: Found 1 target...
ERROR: /opt/gsh/onos/onos/BUILD:106:8: Executing genrule //onos:onos-package-test failed (Exit 1): bash failed: error executing command /bin/bash -c ... (remaining 1 argument(s) skipped)

Use --san

[2021-11-12 07:51] kkpattern commented on #701
Hi ulfjack, how doesn't google handle multiple py_library with some common cc_library depends? For example, if I have two py_library both depends on some X cc_library. Initially we may use those two py_library seperately, but at some point people may use both of these two py_library. I think in this situation there is still ODR violations?

[2021-11-12 08:47] bweston92 commented on #14216
Thanks, installing XCode worked, you do need to do a clean and it works fine.

[2021-11-12 12:11] meteorcloudy opened #14264 "Dynamically linked cc binary doesn't work in genrule with remote execution"
Consider the following example:
Under directory \<workspace\>/foo:
[code]

`bazel build :run` will succeed locally but fail with remote execution with:
[code]

The reason is that //:main is dynamically linked to foo.so, and the rpath is `../_solib_local/_U_S_Sfoo_Cfoo___Ufoo/foo.so`.
Locally it works, because `bazel-out/k8-opt/_solib_local` is always created for all so libs.
[code]
But with remote

[2021-11-12 12:16] meteorcloudy commented on #14264
FYI @coeuvre @oquenchil

[2021-11-12 13:07] keith commented on #14264
Sounds like this might be the same case as https://github.com/bazelbuild/bazel/issues/13819 ?

[2021-11-12 14:37] meteorcloudy commented on #14264
@keith Yes, thanks for the link, looks like the same issue.

[2021-11-12 15:38] uhthomas opened #14265 "Crash when targeting platform with invalid crosstool"
### Description of the problem / feature request:

Bazel crashes with a cast error when targeting a platform with an invalid crosstool.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

#### .bazelrc
[code]

#### WORKSPACE
[code]

Attempt to build any cgo binary and it should crash.

### What operating system are you running Bazel on?

[2021-11-12 16:36] oehme opened #14266 "TargetCompletedId#getAspect is inconsistent between TargetConfigured and TargetComplete events"
Given a dummy aspect:

[code]

and passing `--aspect dummy_aspect.bzl%dummy-aspect` to a build invocation.

The `TargetConfigured`/`TargetComplete` events are inconsistent.

- `TargetConfiguredId` has `aspect == 'dummy_aspect.bzl%dummy-aspect'`, i.e. as given on the command line
- The `TargetCompletedId` inside `TargetConfigured#children` has `aspect == ''`, i.e. it is always blank
- The `TargetCo

[2021-11-12 17:20] maxbennedich commented on #14206
Thanks for sharing, these steps fixed the segfault for me too.

[2021-11-12 17:21] maxbennedich commented on #14216
FWIW, the Xcode workaround (as [detailed here](https://github.com/bazelbuild/bazel/issues/14206#issuecomment-957356014)) worked for me too.

[2021-11-12 22:25] cpaleop commented on #13931
That's too bad. Google has recommended this feature for xml-based layouts, it was the way-to-go for a long time now.

[2021-11-13 06:46] uhthomas opened #14269 "flag_alias with special boolean syntax breaks various Bazel commands"
### Description of the problem / feature request:

Various Bazel commands do not work when using a flag alias with [special boolean syntax](https://docs.bazel.build/versions/main/skylark/config.html#using-build-settings-on-the-command-line).

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

**BUILD.bazel**
[code]

**.bazelrc**
[code]

[2021-11-13 09:59] fmeum commented on #13464
Fixed by 711c44ea79db14406972cc2204a43c589a2debce.

[2021-11-13 09:59] #13464 closed

[2021-11-13 16:05] psigen commented on #10904
If the limiting factor is contributor bandwidth, does this mean that folks would be generally amenable to a feature PR adding the functionality?

[2021-11-13 18:22] nresare commented on #14206
looking at the output of `bazel build --subcommands //:main` the two invocations that produces the segfaulting binary are the following (with paths being made to point to the current directory to simplify playing around with it):
[code]

[2021-11-13 21:20] uri-canva commented on #10904
I can't speak for the core bazel team, but note that in general the initial PR adding a feature is just a small part of the capacity the addition of a feature requires to be properly implemented and maintained: ongoing maintenance of it and the added complexity on the parts of the code that interact with it are a bigger part of it.

[2021-11-13 22:35] DCNick3 opened #14270 "C++: strip action ignores environment passed through toolchain features"
### Description of the problem / feature request:

When passing custom environment variables to compile actions using `env_sets` parameter of a `feature`, stripping action ignores it.

I found this while using [bazel_rules_cc_toolchain](https://github.com/silvergasp/bazel_rules_cc_toolchain), which passes path to the compiler into the wrapper script using  environment variables. While most of the

[2021-11-14 04:44] aiuto commented on #10904
Exactly. Anyone can write a PR to add a feature and then go away. The Bazel team is then on hook to maintain it forever.

[2021-11-14 06:58] CGMikeG opened #14271 "https://github.com/google/tf_mesh_renderer - fail"
I was hoping somebody can direct me to the right direction. I was trying to compile tf_mesh_renderer but I keep getting below error.

I tried to compile in colab, windows 10, linux mint but it keep failing. Any suggestions?

https://github.com/google/tf_mesh_renderer

INFO: Build options --define and --python_path have changed, discarding analysis cache.
DEBUG: Rule 'com_google_googletest' indicat

[2021-11-14 16:36] quval commented on #14264
I'm not sure this is the same issue... The problem there was missing rpath entries, whereas here it's about resolving the path of the tool to run.

As far as I understand,
1. Given the way the runfiles libraries work, Bazel-built binaries expect to find a runfiles directory at `$0.runfiles` (this is a potential problem with the `rlocation` solution).
2.  rpath entries are relative to the location

[2021-11-14 17:32] pcjanzen commented on #14264
another related issue: https://github.com/bazelbuild/bazel/issues/10809

[2021-11-14 18:20] quval commented on #13819
This issue seems to affect `cc_import`s as well – transitioned cc_imports only have the configured root added to the rpath. I'm sending a PR for this as well – @oquenchil, can you please take a look when you get the chance?

[2021-11-14 19:31] nresare opened #14273 "C++ rules broken on macOS 12 Monterey and command line developer tools"
### Description of the problem / feature request:

There are mainly two ways to install the basic apple provided clang compiler toolchain on macOS. Either you install the Command Line developer tools by invoking `xcode-select --install`, or you install the full XCode development environment, which includes a graphical IDE and tooling for application development on all of Apple's operating systems.

[2021-11-14 20:23] nresare commented on #14273
A simpler workaround than setting `linkopts` as a parameter to `cc_binary` is set the `BAZEL_LINKOPTS` environment variable to `-lc++`:
[code]

[2021-11-14 20:25] hlopko commented on #11734
Just for data to help prioritizing, we hit another instance of this bug in https://github.com/bazelbuild/rules_rust/pull/1010.

[2021-11-14 21:40] nresare commented on #14273
The `local_config_cc/BUILD` that gets generated on macOS 12 will use the `unix_cc_toolchain_config.bzl` which will silently drop any `link_libs` being passed to the cc_toolchain_config on systems that has `target_libc == "macosx"`.

As I don't have access to a macOS 11 Big Sur, it is a bit unclear what has changed, but it seems like a good idea to me to have the `user_link_flags_feature` be added

[2021-11-14 22:00] nresare commented on #14216
I have had success working around this with the command line option `--incompatible_linkopts_to_linklibs=false`. I filed https://github.com/bazelbuild/bazel/issues/14273 with a suggested proper fix.

[2021-11-15 06:59] fmeum commented on #6526
Just started thinking about this a bit more and I am having a hard time coming up with realistic examples of actions with both of the following properties:
1. The actions depends on two artifacts that, with the config prefix stripped, would live at the same output path (e.g. `libnative.so` build for Linux and macOS).
2. The action is not a pure packaging action (e.g. one that bundles binaries or l

[2021-11-15 11:32] pvmilk commented on #5198
Hope I am not too late for the show.

I would like to have a pre-defined feature to disable the following c++ **-Wl,-no-as-needed** linkage flag, without going all the way to define my cc_toolchains. I think the flag is added [here](https://github.com/bazelbuild/bazel/blob/79888fe7369479c398bafe064daa19a7ae30f710/tools/cpp/unix_cc_configure.bzl#L557).

Other related issue : https://github.com/baze

[2021-11-15 12:13] thii commented on #13862
The fix was reverted. Can we re-open this?

[2021-11-15 13:13] RahulRachuri commented on #13925
Hey, I'm also on an M1 Mac (12.0.1), and trying to build bazel inside Ubuntu 20.04 (x86_64) using docker. I could get it working for Ubuntu arm64 using docker, but I need x86_64 for something I'm doing.

I tried installing version 4.2.1 via the installer script, and by downloading the binary directly. Either way, I get the following error message:

`Opening zip "/proc/self/exe": lseek(): Bad file

[2021-11-15 15:57] kylekurz opened #14278 "Bazel Remote Cache: Cannot use WIF-generated credentials"
### Description of the problem / feature request:

Bazel cannot use credentials from Workload Identity Federation, exits with error:

[code]

### Feature requests: what underlying problem are you trying to solve with this feature?

Using remote cache without providing a permanent Service Account JSON credential in a secret or directly in my repository.

### Bugs: what's the simplest, easiest way t

[2021-11-15 16:02] Wyverald commented on #14260
Do you have a minimum repro case? I tried the following:

[code]

And nothing failed. (I don't have the NDK installed or the env var set.)

[2021-11-15 16:07] brentleyjones commented on #14260
https://github.com/brentleyjones/bazel_eager_repo_bug

[2021-11-15 16:10] brentleyjones commented on #14260
[code]

[2021-11-15 16:14] Wyverald commented on #14260
Thanks, it looks like it's somehow related to rules_swift. I'll take a look now

[2021-11-15 16:15] meteorcloudy opened #14279 "Bzlmod: Labels pointing to external repos in default value of command line flags"
## Problem
Some Bazel native rules depend on targets that are specified via command line options, the default value of those options may point to targets in certain external repositories.
See https://cs.opensource.google/search?q=%22defaultValue%20%3D%20%5C%22@%22&ss=bazel

For example:
[code]
`@bazel_tools//tools/cpp:toolchain` is essentially an alias to `@local_config_cc//:toolchain`.
With WORKS

[2021-11-15 16:45] steeve commented on #14037
We got it running and recognized by `LSCopyApplicationURLsForBundleIdentifier` by overwriting the `Info.plist` from Xcode 13.1, launching, and restoring it back. And then our bazel build ran fine. Which seems to confirm that the nag screen is purely cosmetic.
I'm going to find out which key is responsible for this. This is hard to test as once Xcode has been recognized, it stays recognized.

I'm u

[2021-11-15 17:22] janakdr commented on #14161
@michaeledgar wrote to me, "we may want to cap the number of files-being-uploaded (eg. w/ semaphore)"

[2021-11-15 17:31] brentleyjones commented on #11473
Hi @coeuvre, do you still think this will make 5.0?

[2021-11-15 17:31] philwo commented on #13925
Hi @RahulRachuri, can you confirm by running and posting the output of `uname -a` inside your Docker container that your Docker on your M1 Mac is actually running as x86_64?

[2021-11-15 18:09] RahulRachuri commented on #13925
This is the output:
`Linux 7411fb3dcdb4 5.10.47-linuxkit #1 SMP PREEMPT Sat Jul 3 21:50:16 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux`

[2021-11-15 18:17] philwo commented on #13925
Mhm.. yeah, looks like that should work. :/

I'm sorry, I really don't know what might cause `/proc/self/exe` to not work in this specific environment. It might be due to the way Docker on Apple Silicon implements the support for x86_64 containers (maybe using binfmt_misc?) which makes `/proc/self/exe` not readable or at least seekable for emulated binaries.

Unfortunately I can no longer use Dock

[2021-11-15 18:23] RahulRachuri commented on #13925
I see, that makes sense.

I will try raising a bug with Docker, thanks for your help! :)

[2021-11-15 19:29] linzhp opened #14280 "bazel query doesn't return the .bzl files that load external repositories"
### Description of the problem / feature request:

`bazel query` doesn't return the `.bzl` files that load an external repository

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

1. Create such Bazel workspace:
[code]

2. Run `bazel query 'buildfiles(//external:io_bazel_rules_go)'` in it.

The query only returns `//external:WORKSPACE

[2021-11-15 21:35] steeve commented on #14037
I found a workaround, see https://blog.zen.ly/xcode-12-5-on-macos-monterey-23c257260316.

The trick is to use Xcode 13's `CFBundleVersion` in Xcode 12 to let Launch Services register it. After that, `xcode_locator` properly detects Xcode 12.5 on Monterey.

[2021-11-15 22:44] gregestren commented on #6526
My main immediate motivating use case is Java and Android compilation, where target CPU changes shouldn't affect most of their inputs or outputs.

It gets weirder when you have different OS's where the compilers themselves are different.

[2021-11-16 03:29] coeuvre commented on #11473
I do think. My fix is almost done.

[2021-11-16 03:34] coeuvre commented on #14161
I may also look into this by lazily seeking after the connection is ready. But it is not on the top of my list.

[2021-11-16 08:25] wuhuZhao opened #14282 "Bazel build java programe error"
### Description of the problem / feature request:

[code]

my macbook use jdk8  but bazel always deafaultly use the jdk11 ,when i sync the bazel in idea , the error occured . i have tried a lot , but i can't find the resolution

my JAVA_HOME is

[code]
and
[code]
and my idea version is 2020.2 community  and use the bazel plugin

bazel --version  is  4.2.0

[2021-11-16 11:30] libratiger commented on #14280
@linzhp If possible you can try on other OS,  such as on Linux.

[2021-11-16 13:43] Wyverald commented on #14260
Pretty sure this is due to https://github.com/bazelbuild/bazel/commit/7398e33e8ea10e88f68864e1e1453a75bbca9d99.

This commit made the `android_ndk_repository` repo rule register some toolchains, which it didn't in 4.2.1. Now because it registers toolchains defined within the repo, *any* rule that uses toolchains will cause the repo to be fetched, be it Android-related rules, Swift rules, or even J

[2021-11-16 13:50] brentleyjones commented on #11473
That's great to hear!

[2021-11-16 14:07] brentleyjones commented on #14260
And is there any way to conditionally run a repository rule? For example, with a `--define`/build setting/`select()`. I've needed that ability for some other rules.

[2021-11-16 14:15] katre commented on #14260
Why do you have an `android_ndk_repository` in your WORKSPACE when you're not setting it up?

There are two parts to a toolchain: the actual underlying toolchain (in the case of the Android NDK, that's a `cc_toolchain`), and the declaration, which uses the `toolchain` target.

There is no direct dependency from the `toolchain` to the `cc_toolchain`, to prevent eager analysis, but in this case the

[2021-11-16 14:19] brentleyjones commented on #14260
Because we have various different CI jobs, and they only setup what is needed for the job. Our iOS jobs don't setup the JDK or Android SDK, because it's not needed for that build. Local developers that only develop on the iOS stuff don't need to setup the JDK or Android SDK.

[2021-11-16 14:52] katre commented on #14260
Bazel's CI system only adds the `android_sdk_repository` and `android_ndk_repository` to the WORKSPACE when the test environment supports it and those tests are run. Is this an approach that you could look into?

I'm very nervous about either conditional repository rules, or lazy loading of repository rules, although @Wyverald is the expert on that and can answer about whether it makes sense.

[2021-11-16 14:55] brentleyjones commented on #14260
While that might address the CI issue, it's a huge pain for local developers then.

Another case for conditional/lazy loading repository rules: I want to only download SDKs for my execution platforms, which might change depending on if I'm using RBE.

[2021-11-16 14:58] Wyverald commented on #14260
Like you said later, I don't think that would help -- IIUC, as soon as you have *some* toolchains in `@androidndk` registered, then *any* rule that uses *any* toolchain type will cause `RegisteredToolchainsFunctions` to run, which would in turn try to fetch `@androidndk`.

@katre any idea why `android_sdk_repository` always succeeds to fetch?

I'm similarly nervous. There was a long discussion abo

[2021-11-16 15:00] brentleyjones commented on #14260
That's good to hear. Someone should update `rules_go` to do this then 😄.

[2021-11-16 15:02] katre commented on #14260
When we first added this system, that's exactly how `rules_go` worked (because it was the testbed): there was the actual `@io_bazel_rules_go` repository, which defined the toolchain type, actual rules, platforms, and `toolchain` entries, and each registered SDK was a separate repository which would be downloaded only when used.

If you're seeing something different (and if Bazel is downloading all

[2021-11-16 15:05] katre commented on #14260
@Wyverald I'm not sure why the NDK shows an error and the SDK doesn't. At a guess, the NDK error is just that it's not fully configured: there's no path to the NDK, and no environment variable. If the SDK isn't reporting errors, then either there is a path or the environment variable is set (even if it's not set to anything useful).

One way forward would be to add an attribute to `android_ndk_rep

[2021-11-16 15:06] katre commented on #14260
@brentleyjones Hmm, that's a bit odd, but I haven't followed `rules_go` recently. Definitely follow up with the maintainers and see if there's an easier way.

[2021-11-16 15:06] brentleyjones commented on #14260
I don't have any setup for the Android SDK: no env variable and no setup.

[2021-11-16 15:06] Wyverald commented on #14260
^ neither do I.

[2021-11-16 15:15] JacobMao opened #14283 "Building SwiftNIO (2.34.0) got error"
### Description of the problem / feature request:

When I build NIOPosix as static framework, I got error - `"module 'CNIODarwin' has no member named 'IP_RECVPKTINFO'"`

more details:
https://github.com/apple/swift-nio/pull/1888/files/fe2032680c1a60c11d00a1dff808086ec0703eac#r750338396

`Bazel is 4.1.0rc5`

Thanks

[2021-11-16 15:41] brentleyjones opened #14284 "`--ios_multi_cpus` defaults to x86_64 on M1 Macs"
### Description of the problem / feature request:

`--ios_multi_cpus` should default to `sim_arm64` on M1 Macs, but still defaults to `x86_64`.

### Feature requests: what underlying problem are you trying to solve with this feature?

M1 Mac users shouldn't have to override `--ios_multi_cpus` to get the proper default.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provi

[2021-11-16 15:41] #14178 closed

[2021-11-16 15:44] brentleyjones commented on #14178
@Wyverald Can this get the release blocker milestone instead of https://github.com/bazelbuild/bazel/pull/14202, and can it be reopened until the cherry-pick is in?

[2021-11-16 15:45] #14283 closed

[2021-11-16 15:46] brentleyjones commented on #14284
Probably can reopen https://github.com/bazelbuild/bazel/pull/13873 instead?

[2021-11-16 15:54] Wyverald commented on #14178
Cherrypicked \o/

[2021-11-16 15:56] #13862 closed

[2021-11-16 15:57] linzhp commented on #14280
Tried on Linux, and got the same result. Updated the description.

[2021-11-16 15:58] limdor commented on #13558
@katre there is a fix for #14178 that went in with https://github.com/bazelbuild/bazel/commit/063b5c9c2c09b4794010b9a169b44890ffc79ec4
I just tried to cherry pick this commit on top of the 4.2.1 tag and it is applied cleaned.
Could you and the Bazel team consider a 4.3 release and answer here about the decision?
Thanks

[2021-11-16 16:08] keith commented on #14284
That Pr Was merged so probably want a new one instead

[2021-11-16 16:33] Wyverald commented on #14013
Hey, sorry I missed this. The plan was to release around BazelCon, but some unexpected delays means that it probably won't be ready. We still need to push out an rc2 with all the cherrypicks and test it for some time before pushing the release out the door, so it might take another week or two. (Don't quote me on this :P)

In other news, I'll be OOO from 20 Nov to 4 Dec, and will find someone to s

[2021-11-16 17:26] cushon commented on #14282
That line is showing part of the failing command, but not what the error is. What appears in the bazel log after that line?

[2021-11-16 17:39] Bencodes opened #14285 "Android manifest merger unable to merge manifests containing queries"
### Description of the problem / feature request:

The Android manifest merger being used by the Bazel `android_tools` is unable to merge manifests that contain queries that have providers listed. This can be reproduced using the rolling releases and HEAD.

The merge fails with the below exception:

[code]

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal

[2021-11-16 18:21] limdor commented on #14217
@meteorcloudy I created a PR. If you could review it or point to the person that could it that would be great

[2021-11-16 18:38] brentleyjones commented on #14013
@Wyverald Can we get tags for rc1 and rc2? There are basilisk releases, but no tags to go along with them.

[2021-11-16 18:49] Wyverald commented on #14013
Sorry, do you mean git tags? There doesn't seem to be tags for RCs of previous releases. What do you need tags for?

[2021-11-16 18:54] brentleyjones opened #14286 "5.0rc2: java.lang.RuntimeException: Unrecoverable error while evaluating node 'UnshareableActionLookupData"
### Description of the problem / feature request:

New crash in 5.0.0rc2, which wasn't there in 5.0.0rc1. Probably related to https://github.com/bazelbuild/bazel/commit/3947c836cf0c966882a1524e40fa8c3721ac5b07 (because of the `MerkelTree` in the stack trace).

[code]

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

### What operating

[2021-11-16 18:58] brentleyjones commented on #14013
I guess I got spoiled by there being igt tags for all of the prerelease builds. If RCs are handled differently, go ahead and ignore me. It's just useful to be able to checkout the exact commit for a build. I had to guess which sha was for rc1.

[2021-11-16 19:26] meisterT commented on #14286
cc @coeuvre @moroten

[2021-11-16 20:44] #14261 closed

[2021-11-16 20:49] jlaxson commented on #13944
Can remote_java_tools_darwin be compiled fat to obviate the need for extra set of plumbing?

It seems unfortunate that every java project using Bazel would have to make this change to successfully build on arm.

[2021-11-16 21:08] Wyverald commented on #14013
For posterity, there's actually an easy way to find the commit hash of each RC:

* `rc1` is from the baseline (see top of this thread)
* `rc{N}` where `N>1` is where the branch `release-5.0.0rc{N-1}` is, since the rc1 branch is no longer touched when rc2 comes out, etc.

[2021-11-16 21:32] brentleyjones commented on #10443
`xcodebuild` is using the swift driver library to accomplish this: https://twitter.com/BenchR/status/1460699068846456832

[2021-11-16 23:07] gregestren commented on #13861
Happy you got a resolution, @konste . :)

Following up on my last comment, for the original bug, can anyone verify if adding `--keep_going` to the `cquery` gets around this? I'm specifically interested because of

https://github.com/bazelbuild/bazel/blob/33f7648fbaa875f73416be47f0b3c10ed93f30d6/src/main/java/com/google/devtools/build/lib/analysis/constraints/TopLevelConstraintSemantics.java#L146-L

[2021-11-17 03:18] Bencodes opened #14287 "Bazel HEAD OOMs during analysis phase when JavaPluginInfo provides Java outputs information"
### Description of the problem / feature request:

Bazel HEAD runs out of memory during the analysis phase of a build.

I did a git bisect tracking the issue back to this commit https://github.com/bazelbuild/bazel/commit/f73e28cd44d439e6bcecd73f45813ca13c352a93 as the culprit.

The stacktrace that eventually comes out:
[code]

### Bugs: what's the simplest, easiest way to reproduce this bug? Pleas

[2021-11-17 03:20] Bencodes commented on #14287
@comius FYI I think you added this commit.

[2021-11-17 06:16] comius commented on #14287
I would need a reproducer for this, can you provide one?

It seems though rules_kotlin are at fault, what version are you using? Does changing the rules_kotlin version make things better/worse?

Is there something useful in the heapdump? You're looking for a large number of JavaPluginInfo/JavaOutputs. To get a heap dump increase memory using `--host_jvm_args=-Xmx18g` and run `jmap -histo:live $BAZ

[2021-11-17 06:38] Bencodes commented on #14287
We are using an up to date version of rules Kotlin that has the `JavaPluginInfo` patches in it.

[2021-11-17 06:38] moroten commented on #14286
@brentleyjones Does this happen without enabling the experimental feature?
What command line did you use and was it on a public repository?

[2021-11-17 07:01] Bencodes commented on #14287
Heap for 5.0.0 RC2 [jmapd-5.0.0-RC2.txt](https://github.com/bazelbuild/bazel/files/7552424/jmapd-5.0.0-RC2.txt)
Heap for 5.0.0 RC2 with https://github.com/bazelbuild/bazel/commit/f73e28cd44d439e6bcecd73f45813ca13c352a93 reverted [jmapd-5.0.0-RC2-with-revert.txt](https://github.com/bazelbuild/bazel/files/7552423/jmapd-5.0.0-RC2-with-revert.txt)

[2021-11-17 07:14] Bencodes commented on #14287
The stack trace is a bit off compared to rules_kotlin HEAD. The call at io_bazel_rules_kotlin/kotlin/internal/jvm/compile.bzl:780 is the call to `java_info = java_common.compile(...)`

[2021-11-17 07:14] meisterT commented on #14287
Cc @Wyverald

[2021-11-17 07:23] comius commented on #14287
Comparison of heap dumps show insane increase in object arrays and some increase in integer arrays:
[code]

merge call using a list for javaOutputs looks to be at fault here:
https://github.com/bazelbuild/bazel/commit/f73e28cd44d439e6bcecd73f45813ca13c352a93#diff-f5262116f466c897bb45cfb13277e052945b108e22245b50b1d98cc6f9d3f398R172

[2021-11-17 07:33] comius commented on #14287
Can you check if https://github.com/bazelbuild/bazel/pull/14288 fixes it? Perhaps provide new heapdump.

[2021-11-17 07:40] Bencodes commented on #14287
The heap looks much better with that commit pulled in. [jmapd-patched.txt](https://github.com/bazelbuild/bazel/files/7552650/jmapd-patched.txt)

The heap for a larger app [jmapd-patched-larger-app.txt](https://github.com/bazelbuild/bazel/files/7552649/jmapd-patched-larger-app.txt)

[2021-11-17 08:46] comius commented on #14287
Comparing jmap reverted and patched, there is even 34MB improvement.

[2021-11-17 10:04] Wyverald commented on #14287
Thanks for flagging @meisterT. Let's get the fix cherrypicked into the rc2 branch.

[2021-11-17 12:30] msiebuhr commented on #14013
As this seem like the right place (but perhaps a bit late) to bring up https://github.com/bazelbuild/continuous-integration/issues/1060 - there hasn't been a docker-based release since 3.5.0 (see https://l.gcr.io/google/bazel for currently released images).

While building a container ourselves is fairly easy, I'd still appreciate having a properly maintained release.

[2021-11-17 13:11] brentleyjones commented on #14286
Yes, we aren't using the experimental feature. It's a private repo. I'll grab the command line soon.

[2021-11-17 13:47] brentleyjones commented on #14286
Effective command line:
[code]

[2021-11-17 13:49] brentleyjones commented on #14286
Of note, this only happens in our build that includes a custom repository rule:

snapshot_repo.bzl:
[code]

snapshot_repositories.bzl:
[code]

[2021-11-17 14:16] torgil commented on #14236
I looked little further in the case 2 action conflict and noticed it failed because the compile action(s) for D2.c weren't shareable. The following two patches seems to fix case 2:
* Make cpp compile actions shareable
* Revert "Remove outdated "output directory name" option."

aquery says there are only one compile action for D2.c and one link action for libD2.a. Building A2 seems to have a glitch

[2021-11-17 15:02] philsc opened #14289 "`cc_import` complains about some versioned .so files in 5.0"
### Description of the problem / feature request:

Upgrading from 4.2.1 to 5.0.0rc2 results in this error for me:
[code]

This is what `external/system_libs/BUILD.bazel` looks like:
[code]

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Write a `cc_import` target with a shared library that contains a `.` in the non-extension part of

[2021-11-17 15:07] philsc commented on #14289
Actually, it's already fixed by 23d096931be9b7247eafa750999dd7feadde14c1.

[2021-11-17 15:12] erenon commented on #14289
Probably yes.

[2021-11-17 15:13] philsc commented on #14289
I created PR #14290 to cherry-pick the patch.

[2021-11-17 15:29] aranguyen commented on #11646
This issue been verified to be fixed by this commit https://github.com/bazelbuild/bazel/commit/8dea9886df243491c461711e0b05b1e450174ee7. It is part of release https://github.com/bazelbuild/bazel/releases/tag/6.0.0-pre.20211101.2. Please re-open or create another issue if you still experience any issue.

[2021-11-17 15:29] #11646 closed

[2021-11-17 15:41] #14289 closed

[2021-11-17 22:45] keith commented on #14284
We think now this is likely related to this transition https://github.com/bazelbuild/rules_apple/pull/1154

[2021-11-17 22:47] thii opened #14291 "`ctx.fragments.apple.single_arch_cpu` returns wrong cpu of execution platform"
### Description of the problem / feature request:

When initiating a build from an M1 Mac with an Intel-based Mac RBE cluster (or vise versa), tools are built for the host platform instead of for the execution platform.

### What underlying problem are you trying to solve?

Tools are built for the wrong platform can't run (natively).

### Bugs: what's the simplest, easiest way to reproduce this bu

[2021-11-18 00:41] DavidANeil opened #14292 "Vary unused_inputs_list Behavior Based on Which Action Produces the File"
## Status Quo

`unused_inputs_list` allows inputs to be trimmed after an action executes so that the same action will not be re-executed if only the listed unused inputs are changed.
In some cases it is possible to determine this list of unused inputs prior to running the action, this is known as "input discovery".
While many rulesets _could_ take advantage of this, it is not exposed to Starlark r

[2021-11-18 00:50] Bencodes opened #14293 "Bazel HEAD and 5.0.0 RC2 breaks Worker sandboxing JSON worker communication"
### Description of the problem / feature request:

Bazel HEAD breaks JSON worker communication by not sending `requestId` to the worker.

I was able to git bisect the issue back to this commit https://github.com/bazelbuild/bazel/commit/97643ad92d

I'm able to reproduce the issue by creating a worker implementation with the following execution requirements:

[code]

And when streaming the `System#i

[2021-11-18 00:51] Bencodes commented on #14293
@zshmeis I believe you added this commit

[2021-11-18 01:00] Bencodes commented on #14293
Cc @Wyverald

[2021-11-18 01:10] alokpr commented on #10660
`py_test` for pybind module does not work either. I expected it to work since the module is a `cc_binary` and hence gcov/lcov should be sufficient. All bazel commands - `coverage|test|run <py-test-target>` - produce empty coverage report.

Interestingly running the `py-test-target` directly produces .gcda files as expected. So it seems bazel is simply ignoring the .gcda files for py_test targets?

[2021-11-18 07:37] moroten commented on #14286
I've reproduced it using a minimal example with a single file `mydir/bar.txt` and the content of `BUILD.bazel` like
[code]
This crashes with `rootMerkleTree.getInputFiles() 2 != tree.numFiles() 3`. The MerkleTree builder cannot handle the directory specified and a file in that directory. Probably becomes a duplicated entry somewhere.

[2021-11-18 08:27] hvadehra commented on #14249
I'll try and make a java_tools release today

[2021-11-18 10:58] diegohavenstein opened #14294 "Build 5.0.0-pre.20211011.2 fails with "file is generated by these conflicting actions""
### Description of the problem / feature request:

When using 5.0.0-pre.20211011.2, calling a rule with testonly=True fails with the following error (see repro):

[code]

### Feature requests: what underlying problem are you trying to solve with this feature?

Trying out new Bazel version on existing, large codebase

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide

[2021-11-18 13:57] meisterT commented on #14294
cc @oquenchil @joeleba

[2021-11-18 14:45] fweikert opened #14295 "Status of Bazel 6.0.0-pre.20211110.1"
- Expected release date: 2021-11-18

Task list:

- [x] Pick release baseline: [5149408a](https://github.com/bazelbuild/bazel/commit/5149408a6c2500cb1701880575c41640d4fd1c2f) with cherrypick [b371a986](https://github.com/bazelbuild/bazel/commit/b371a986bdb60caf2bb07da0732e8870f2f81ef5)
- [x] Create release candidate: https://releases.bazel.build/6.0.0/rolling/6.0.0-pre.20211110.1rc1/index.html
- [x

[2021-11-18 15:01] brentleyjones commented on #13882
@coeuvre did https://github.com/bazelbuild/bazel/commit/ed68933239e8922188a32afbaa8bd06cf89057dc and https://github.com/bazelbuild/bazel/commit/c9b7e227c444a3b858f7eb74b1418dbca0ffe493 fix this? Also, could those be cherry-picked into 5.0?

[2021-11-18 15:08] #13924 closed

[2021-11-18 15:46] diegohavenstein commented on #14294
Note: 5.0.0rc2 is failing as well

[2021-11-18 15:49] brentleyjones commented on #14294
@Wyverald

[2021-11-18 16:15] brandjon commented on #14053
I'm not surprised that cquery would fail for visibility reasons while query works -- cquery does analysis (where visibility is enforced) while query does not. Not sure why aquery wouldn't be affected.

I'm more surprised that `test_suite` doesn't check visibility. Perhaps there's magic in the `test` command to unpack `test_suite` contents and that magic doesn't go through the visibility check.

I

[2021-11-18 20:02] gregestren commented on #14101
Hi @vsramadanov. I don't think this issue refers to a bug or feature request for Bazel. I agree with @aiuto about routing your question to https://github.com/protocolbuffers or https://github.com/cgrushko/proto_library, or possibly https://stackoverflow.com/questions/tagged/bazel for better user support help.

I'll close this bug accordingly, but if you think you need more direct support here happ

[2021-11-18 20:02] #14101 closed

[2021-11-18 20:17] gregestren commented on #14102
Interesting idea. I'd think the next step would be to clarify how formally we want to support/reference buildozer in core Bazel messaging.

[2021-11-18 20:17] nkoroste commented on #7093
also related https://github.com/bazelbuild/bazel/pull/13807

[2021-11-18 20:18] gregestren commented on #14102
But I agree with the general principle of making errors as clear, actionable, and fixable as possible.

[2021-11-18 20:22] gregestren commented on #14103
@424778940z you may also want to try one of the user support channels at docs.bazel.build (see bottom of the page for the list) for community response.

[2021-11-18 20:30] gregestren commented on #14112
I'm not sure what onos is, but I think this would be better served asking in that project. Closing accordingly.

[2021-11-18 20:30] #14112 closed

[2021-11-18 20:34] gregestren commented on #14113
Issue triager here: @keith do you think this belongs here or at https://github.com/bazelbuild/rules_apple?

[2021-11-18 20:44] keith commented on #14113
here as it's part of the toolchain setup that lives in this repo, but I assume this is an Xcode environment issue still

[2021-11-18 20:49] gregestren commented on #14122
@gkheeva can you provide more specific reproduction instructions? Is this a Bazel error, or an issue with the test?

[2021-11-18 20:53] gregestren commented on #14132
@carlosgalvezp - I see there's followup discussion on the bazel-discuss thread. Which parts of this issue are still pending?

[2021-11-18 20:55] gregestren commented on #14139
Just label-triaged the issue, hopefully to get you a better response.

[2021-11-18 21:01] gregestren commented on #14153
@uri-canva do you know who fixed this in Bazel? Trying to route this issue accurately.

[2021-11-18 21:03] gregestren commented on #14157
There's a long-standing request to make `select()` properly inspectable in Starlark. And earlier this year, around August, some folks tried to write solutions, which haven't yet landed in production code.

If that more general approach works I think that's the right way to support this. My position is to try to support those commits getting into the main branch.

[2021-11-18 21:05] fmeum commented on #14157
Fully agree that this is a superior approach. Is there any way I can support these efforts?

[2021-11-18 21:07] gregestren commented on #14216
(Wearing triaging hat): how should we currently categorize this issue? Is there still something actionable to support here?

[2021-11-18 21:09] brentleyjones commented on #14216
Looks like https://github.com/bazelbuild/bazel/pull/14275 might fix it.

[2021-11-18 21:12] uri-canva commented on #14153
This is where direct run was introduced: https://github.com/bazelbuild/bazel/commit/4741aa83145fd2d3ab0599314f7732c5b80977bd

[2021-11-18 21:15] gregestren commented on #14232
I think you need to route this through tensorflow's project? Or whichever project defines `BAZEL_VC BAZEL_VC_FULL_VERSION`, which I don't believe is Bazel.

[2021-11-18 21:19] gregestren commented on #14236
C++ actions aren't shareable because of include scanning: finding dependencies by reading `#include <foo.h>` in source files. That creates a mutable dependency graph: some dependencies are added (or even removed) after action execution gets a better sense of these dependencies.

It's all annoyingly complicated but the main takeaway is it's harder to know at analysis time if actions are really the

[2021-11-18 21:20] hvadehra commented on #14249
Released and merged in https://github.com/bazelbuild/bazel/commit/d703b7b4f09fb3c389f99e52bac1f23930280b56

[2021-11-18 21:22] gregestren commented on #14256
@meteorcloudy

[2021-11-18 21:32] gregestren commented on #14271
Can you get support from the tf_mesh_renderer project?

[2021-11-18 21:36] gregestren commented on #14263
@Echogsh what is onos?

[2021-11-18 21:36] eric-skydio commented on #14236
@torgil

For cases where the new directory name should propogate all the way through the dependency tree (third party code), what are your use cases that aren't solved by #14023 combined with using a transition so you can always depend on the `k8-fastbuild` version of the third party dependency? We use that approach, and it also avoids running the analysis phase multiple times for those rules. In

[2021-11-18 21:54] cushon commented on #14249
Thanks @hvadehra!

[2021-11-18 21:54] #14249 closed

[2021-11-19 00:14] cpsauer commented on #258
Hey all, following the retirement of the other solution to maintenance mode--and in response to lots of requests to release the one we'd built...

https://github.com/hedronvision/bazel-compile-commands-extractor
I'd love it if you'd give me a try and let me know what you think.

It uses a different, aquery-based approach to directly ask Bazel for the commands it would issue in a build--and then de

[2021-11-19 08:50] hofst commented on #10269
@aehlig Why his this issue been closed? It is obviously a performance bug that impacts many projects, even if there is no network traffic and only the archive get moved around and redundantly decompressed.

[2021-11-19 09:18] #14295 closed

[2021-11-19 10:28] dejan-lokar opened #14298 "Test rule is SIGKILL-ed after timeout instead of waiting for the termination grace period"
### Description of the problem / feature request:

Tests that exceed the timeout are sent a SIGKILL signal without waiting for the termination grace period to pass. I observed this for Golang and Kotlin tests, it however works as expected for shell tests.

### Feature requests: what underlying problem are you trying to solve with this feature?

Test cleanup.

### Bugs: what's the simplest, easiest

[2021-11-19 10:29] meteorcloudy commented on #14256
@lee-csu This is a limitation of Windows and should be fixed in rule_jvm_external. Please file a bug to https://github.com/bazelbuild/rules_jvm_external.

FYI @jin, maybe we could add parameter file support for `coursier` to workaround this?

[2021-11-19 10:29] #14256 closed

[2021-11-19 11:36] oquenchil commented on #14294
https://github.com/bazelbuild/bazel/commit/ebac27ec5a6063556482841da98d63d1abcf1e44 is the culprit.

[2021-11-19 11:43] thii commented on #14273
On macOS, Bazel should be using `tools/cpp/osx_cc_configure.bzl` to configure the local C++ toolchain, so the problem is more likely that Bazel is picking the wrong file when building on Monterey.

[2021-11-19 12:58] Wyverald commented on #14013
Hi all -- I'll be going on vacation for two weeks (until 5 Dec). In the meantime, Yun (@meteorcloudy) will take over release manager duties; so please send cherrypick pull requests to him.

Thank you for your contributions!

[2021-11-19 13:20] Wyverald commented on #14260
I'll take this off the release blocker list for now, as there doesn't seem to be a short-term solution (unless @katre you think we could work out a way to make `android_ndk_repository` not fail, like `android_sdk_repository`). Unfortunately this means that people have to manually comment out the line in WORKSPACE, or change their CI setup to insert the line, which is definitely not great :(

[2021-11-19 13:23] #14287 closed

[2021-11-19 15:39] dejan-lokar commented on #14298
I get the same behavior on Ubuntu 20.04.3 LTS.
[code]
[code]

[2021-11-19 19:23] obruns commented on #14013
@meteorcloudy, f5196e2ce4e8e45ca49c271053dad8dd32be5080 (`--experimental_cpp_compile_resource_estimation`; fix for #13988 and #14092) didn't make it into any of the pre-releases. Please cherry-pick.

@wilwell FYI

[2021-11-19 19:25] brentleyjones commented on #14013
@obruns The process has been for contributors to make PRs with the cherry-picks, and tag the reviewer there to get it merged.

[2021-11-19 19:28] obruns commented on #14013
@brentleyjones Thanks. I didn't look at the right thing, anyway (see edited comment).

[2021-11-19 23:25] ahumesky commented on #14285
While we get the android tools version issue sorted, I was able to backport the queries feature into com.android.tools.build_manifest-merger_25.0.0.jar.

I won't have time to patch this until the week of the 29th, but if you'd like to try this yourself:

[code]

[manifest-merger-pom.xml.txt](https://github.com/bazelbuild/bazel/files/7573355/manifest-merger-pom.xml.txt)
[ManifestModel.java.patch.tx

[2021-11-20 04:13] bocon13 commented on #13186
@smolkaj I think I found the issue:

`test --cxxopts` includes `build --cxxopts`

If we avoid specifying test and run opts, caching seems to work.

[code]

[code]

[2021-11-20 09:03] libratiger commented on #14280
The io_bazel_rules_go only used in the workplace, so this is not a problem。

[2021-11-20 10:54] chenpengfei opened #14303 "cannot find Scrt1.o: No such file or directory"
I got this error while cross-compile for aarch64. while compile i got error: cannot find Scrt1.o: No such file or directory. but this object is exist.

below is my bazel config.

## BUILD
this is `BUILD` file
[code]

## cc_toolchain_config.bzl
this is `cc_toolchain_config.bzl`
[code]

## error info
this is the error info.
[code]

according to this link `https://github.com/bazelbuild/bazel/issues/3

[2021-11-20 17:13] linzhp commented on #14280
@gregestren I think this is a bug, not a feature request.
@libratiger This is a problem for us. Before of this, we can't find all .bzl files Bazel needs to start a build in a git sparse checkout.

[2021-11-21 06:27] llivshitz-quotient commented on #14216
@gregestren tried all the solutions mentioned above but still get the following error:
`Error:(21, 18) ProtoCompile... failed: (Segmentation fault): bash failed: error executing command /bin/bash -c ... (remaining 1 argument(s) skipped)`

[2021-11-21 16:02] koenverwimp commented on #7469
@igorgatis Could you please share your findings?
@cristifalcas  Did you find a solution in the mean time?

[2021-11-21 20:35] keith commented on #14216
@llivshitz-quotient can you try building https://github.com/bazelbuild/bazel/pull/14275 locally and seeing if that fixes it for you?

[2021-11-22 02:39] kylecordes commented on #3054
Here is an extreme case which I think illustrates why the requested change is worthwhile.  I always want to set a disk cache location, regardless of what command is invoked.

[code]

With this setting, `bazel version` breaks. `bazel version` should never break, I think?

(The workaround was to do as @pauldraper said, which involves a fair amount of scrolling around the command line reference docum

[2021-11-22 05:55] GeorgeWillaman commented on #955
Any updates on this, or is it still help wanted?

[2021-11-22 07:28] tmxdyf opened #14305 "about gradle to bazel"
Do you know why I haven't used bazel for so long? Because our existing Android project is built by gradle, if it supports fast gradle to bazel, then I will consider using bazel. I hope bazel is easy to use.

[2021-11-22 08:00] lee-csu commented on #14256
ok, thanks

[2021-11-22 09:41] moroten commented on #14286
#14299 is ready for review to solve this blocker.

[2021-11-22 10:39] meteorcloudy commented on #14232
We do optionally support those env vars for detecting vc toolchains. See [here].
@andrewkatson Can you help look into this one?

[2021-11-22 14:27] efyx opened #14306 "Modifying headers does not trigger a rebuild of dependent source files (--output_user_root user directory & MacOS)"
### Description of the problem / feature request:

On MacOS if you're using `--output_user_root` that points to something under `~/Library/Caches/<whatever>` changes made to header files in your project aren't causing a rebuild

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Build a project with `--output_user_root=~/Library/Caches/

[2021-11-22 15:49] linzhp commented on #14169
We were able to write an aspect and a rule that depend on the aspect to collect transitive dependencies for the test to check. `genquery` is no longer blocking us. @robfig you can close this now.

[2021-11-22 15:56] robfig commented on #14169
Thanks all!

[2021-11-22 16:24] meteorcloudy commented on #14293
Ping @larsrc-google

[2021-11-22 17:05] larsrc-google commented on #14293
Sorry I missed this, must update my email filters.

My first guess is that the logic for falling back to singleplex under sandboxing is broken. Looking further into this.

[2021-11-22 17:11] larsrc-google commented on #14293
Wait, no, this is working as intended. Multiplex workers cannot be sandboxed (yet), so when asking for sandbox and multiplex, it falls back to singleplex to obey the sandboxing. You can confirm this by running with `--worker_verbose` and seeing the worker creation messages stating that they are sandboxed but not multiplex. As per protocol buffer standards, a missing int field should be understood

[2021-11-22 17:30] pauldraper opened #14307 "Add "runfile_path" to File"
### Description of the problem / feature request:

Add `runfile_path` property to `File` object.

### What underlying problem are you trying to solve with this feature?

Runfiles are identified by path including their workspace.

`short_path` is the location of the file relative to the current working directory, when the executable is run under Bazel.

However, that doesn't work if the executable