[2018-09-12 18:31] Globegitter commented on #6016
I would be quite in favour of 1 as I would love to add `repository_cache` support to `rules_nodejs` which uses `npm/yarn`. I know it would be better to have more specific/safe skylark api to make cache poisoning more difficult, but not having `repository_cache` support for custom package/module managers is one of the top developer experience killers for us internally right now (and also slows down

[2018-09-12 20:03] ittaiz commented on #5963
@aehlig it’s a bit hard to test this given 0.17.1 hasn’t yet been released
and there are even still issues with 0.16.1.
Not sure what I’m suggesting but it feels like there is somewhat of a
downward spiral. I might be wrong and we’re past it but that’s a bit of my
concern.
On Wed, 12 Sep 2018 at 17:56 Klaus Aehlig <notifications@github.com> wrote:

[2018-09-12 20:19] petemounce commented on #5963
RCs 1-3 pushed to chocolatey.

[2018-09-12 20:48] pauldraper commented on #4714
Hm, is that often an issue? Do IDEs need any of the outputs? (Assuming you are building, testing, runner, etc. in the container.)

Interesting.

And then do you do file watch (ibazel) on the host?

[2018-09-12 21:16] gregestren commented on #6006
Good catch. I'm pushing through a refresh...

[2018-09-12 23:28] kkiningh commented on #2537
+1. This is also a major pain point for me.

[2018-09-13 02:10] echotor opened #6139 "build project which use pcl library error through bazel"
### Description of the problem request:

I use pcl in my project, and using bazel to compile the project. But I got a failture.
My bazel WORKSPACE file is like below:

[code]
and the pcl.BUILD file is below:

[code]
I build a binary through BUILD file like:

[code]
the hello-world.cc file's content is like below:

[code]
I got a build error:

[code]

Why?

### What operating system are you running

[2018-09-13 05:46] ittaiz commented on #6056
Happened again after "fiddling" with toolchains (specifically java_toolchain/host_java_toolchain/javabase/host_javabase)
[code]
package(default_visibility = ["//visibility:public"])

load(":osx_archs.bzl", "OSX_TOOLS_ARCHS")

CC_TOOLCHAINS = [(
    cpu + "|compiler",
    ":cc-compiler-" + cpu,
) for cpu in OSX_TOOLS_ARCHS]

cc_library(
    name = "malloc",
)

cc_library(
    name = "stl",
)

fileg

[2018-09-13 05:46] ittaiz commented on #6056
Also I'd really appreciate understanding why you think this is P3.

[2018-09-13 06:47] ittaiz commented on #6126
@buchgr why did you change the title? My original title was a mistake. The problem is with the disk cache.

[2018-09-13 08:16] buchgr commented on #6126
my bad sorry.

[2018-09-13 09:32] ittaiz commented on #6126
NP. Do you know who's the disk cache "person"?

[2018-09-13 09:51] laszlocsomor opened #6141 "Windows,Bazel client: bug in C++ impl. of NormalizeWindowsPath"
`NormalizeWindowsPath` strips leading `../` from relative paths.

[2018-09-13 11:33] laurentlb commented on #5059
I plan to release it tomorrow morning.

Sorry for the delays

[2018-09-13 12:15] laurentlb commented on #2414
What is the status of the request?
With [declare_directory](https://docs.bazel.build/versions/master/skylark/lib/actions.html#declare_directory), can we close this issue?

[2018-09-13 12:45] aehlig commented on #6016
I can't unilaterally make a decission for bazel as a whole.

My concern of different external repository rules taking claim of the same
subdirectory of the content-adressable repository cache, and thus leading
to subtle bugs, is already well explained in the discussion above. That's
why I'm favor of exposing those paths in a controlled fashion (say, a struct
exposed to skylark where entries may be

[2018-09-13 15:12] buchgr commented on #6126
I'd probably be the person responsible :-)

What issue is that? Can you please provide more context and why you think that's the issue?

Thanks!

[2018-09-13 15:41] johnynek commented on #2414
I still think it is useful for building artifacts you might want to deploy.

[2018-09-13 16:05] pauldraper commented on #2414
I agree. And Bazel's zipper works pretty well but lacks some nice features, e.g. the ability to map a directory path to another path in the archive.

There seems to be a general lack of portable, reproducible archiving tools (zip, tar, deb, ar, etc). I started to implement some but stopped https://github.com/lucidsoftware/rules_archive

Bazel has zipper plus some Python scripts for other archive f

[2018-09-13 16:11] euler89 commented on #663
Can you confirm this is still an issue?

[2018-09-13 17:07] girving commented on #3787
@martinwicke It's not an `absl` thing: this time I got the error out of protobuf:

[code]

[2018-09-13 17:44] girving commented on #3787
Unfortunately can't try with bazel HEAD since my currently broken version of bazel can't build bazel either. :)

[2018-09-13 18:00] girving commented on #3787
Reverting the Xcode command line tools back from `Xcode 10.0` to `Xcode 9.4.1` and rerunning `bazel clean --expunge` seems to dodge the problem, though bazel should probably still be fixed to work with Xcode 10.

[2018-09-13 18:02] jgavris commented on #3787
I don't think this is an issue of 'it doesn't work with Xcode 10', rather bazel does not gracefully handle switching Xcode versions / toolchains after it's done the initial Xcode configuration. Which is why it works fine after a clean.

[2018-09-13 18:02] girving commented on #3787
@jgavris It only works after a clean for Xcode 9.  It *does not* work after clean for Xcode 10.

[2018-09-13 18:07] jgavris commented on #3787
Oh! Interesting. I can confirm.

[2018-09-13 19:06] talya commented on #4714
IDEs need the outputs - the intellij-info.txt files which are how `bazel sync` works, all the logs (for running tests and seeing their log and more importantly the test.xml file for the plugin to display test results/count), and probably the generated binaries for some cases.

re file watch - no need to, the nfs mount is from the mac's host native filesystem, and is available to the docker contain

[2018-09-13 19:56] buchgr commented on #5139
@ittaiz
the disk cache is indeed a leaky abstraction that was mainly added because
it was easy to do so. I agree that if Bazel should have a disk cache in the long
term, then it should also support read/write through to a remote cache and
garbage collection.

However, I am not convinced that Bazel should have a disk cache built in but
instead this functionality could also be handled by another pro

[2018-09-13 19:58] cushon commented on #5963
@aehlig @lberki consider cherry-picking b073a18e3fac05e647ddc6b45128a6158b34de2c for #5987, which fixes an ijar bug related to JDK 11.

[2018-09-13 19:58] cushon commented on #5987
I suggested a cherry-pick: https://github.com/bazelbuild/bazel/issues/5963#issuecomment-421133250

[2018-09-13 20:00] davido commented on #5987
Thank you.

[2018-09-13 21:08] c-parsons commented on #3015
Sorry for not explicitly following up.
I intended on addressing this in the doc here:
https://docs.google.com/document/d/14A9HK8Jn2jErMayLEE3nrNJIxNfZWN_slFbhgtS6-aM

But I admit I'm still a little unclear on the current distinction (and its significance) between `default_runfiles` and `data_runfiles`

lberki@, IIRC you might have some additional context as to `data_runfiles`, could you provide an

[2018-09-13 22:05] ittaiz commented on #5139
Thanks for the clarification and I appreciate the discussion.
I think that users don’t want to operate many different tools and servers
locally. They want a build tool that works.
The main disadvantage I see is that it sounds like you’re offering a
cleaner design at the user’s expense.
On Thu, 13 Sep 2018 at 22:56 Jakob Buchgraber <notifications@github.com>
wrote:

[2018-09-13 22:12] ittaiz commented on #6126
What I meant was that I was running a clean build and with high
parallelization and then I saw the build fail with “too many open files”
message coming from an action.
Later on I stumbled on to this and so I *think* (without concrete data)
that it might have been the issue.
I think the action completed partially and poisoned the cache.
I’m not sure I’ll be able to reproduce it easily but I still t

[2018-09-13 22:36] jgavris opened #6144 "Bazel cannot not build itself with Xcode 10"
### Description of the problem / feature request:

Unable to build bazel from source using bazel 0.16.1 and Xcode 10.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[code]

### What operating system are you running Bazel on?

macOS 10.13.6

### What's the output of `bazel info release`?

release 0.16.1

[2018-09-13 23:03] AdamDorwart opened #6145 "Bazel run for a test target under GDB exits immediately"
### Description of the problem / feature request:

When executing `bazel run --run_under=gdb` with the new `direct_run` feature seems to work as expected for `*_binary` targets. However if you try to `bazel run ...` a `*_test` target it doesn't appear to be redirecting stdin as expected.

Note: This wrapper script is a work around
gdb_tty.sh
[code]
and then use `bazel run --run_under=gdb_tty.sh ..

[2018-09-14 06:52] aehlig commented on #2460
@evanji, #5974 was fixed by 6f8e36be464829d9cd36e7692653e4cd99d344e9 which is part of [0.18.0rc3](https://releases.bazel.build/0.18.0/rc3/index.html). Can you please test this rc and report back, preferrably also on #5963.

[2018-09-14 06:57] buchgr commented on #6126
@ittaiz I think with the reproducer you did well and now it's my time to take a look. Thanks for the info!

[2018-09-14 07:45] ittaiz commented on #6126
Sure thing!
Keeping my fingers crossed :)
On Fri, 14 Sep 2018 at 9:57 Jakob Buchgraber <notifications@github.com>
wrote:

[2018-09-14 09:11] biao187 opened #6146 "Target //src:bazel failed to build"
### Description of the problem / feature request:

### Feature requests: what underlying problem are you trying to solve with this feature?

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

### What operating system are you running Bazel on?

### What's the output of `bazel info release`?

### If `bazel info release` returns "developm

[2018-09-14 09:12] #6146 closed

[2018-09-14 09:51] dslomov commented on #6139
`includes = ["."]` is wrong in your `pcl.BUILD` file. It should be `includes = [glob("pcl/*.h")]` or something similar (see https://docs.bazel.build/versions/master/build-ref.html#labels).
cc @mhlopko for more insight.

[2018-09-14 09:51] #6139 closed

[2018-09-14 10:39] buchgr commented on #5139
I partly agree. I'd argue in many companies that would change as you would typically have an IT department configuring workstations and laptops.

I think that also depends. I'd say that if one only wants to use the local disk cache then I agree that providing two flags is as friction less as it gets. However, I think it's possible that most disk cache users will also want to do remote caching/exec

[2018-09-14 10:47] johnmarkwayve commented on #3901
I realise this is very late, but I thought I'd put this here for anybody else who comes across it

I'm using this as a workaround. I've not tested it thoroughly, but it works for my usecases:

[code]

[2018-09-14 10:50] laurentlb commented on #5059
Released: https://github.com/bazelbuild/bazel/releases/tag/0.17.1
(cc @petemounce @ilovezfs)

The announcement will be published on the website later today.

[2018-09-14 10:52] lberki commented on #5963
@cushon : it's not a regression, is it?

[2018-09-14 10:52] gertvdijk commented on #6132
Would appreciate a cherry-pick of the fix in #6020 as well.

<sup>(not sure why I see several duplicate commits referenced there, so not sure which to request?)</sup>

[2018-09-14 11:01] davido commented on #5963
I think it's a regression from https://github.com/bazelbuild/bazel/commit/caa2b3c36954b1f4ce4224b5235cc16ff1e8e4b2. Before that change I was able to build Gerrit with JDK11 with Vanilla Java Buidler. After that change the build on JDK11 is broken.

[2018-09-14 11:37] buchgr commented on #5059
@laurentlb ilovezfs is no longer doing homebrew. as mentioned in the release guide you need to update our own homebrew tap: https://github.com/bazelbuild/homebrew-tap

[2018-09-14 11:38] hsyed commented on #6067
@cushon Is there a way to get the `java_test` rule to use the embedded JDK as the `java_base` ?

[2018-09-14 12:36] #6141 closed

[2018-09-14 12:55] talya commented on #5869
@philwo tks for the reply and the great explanation of sandboxing!

What we are trying to do is support a common integration testing pattern we have, which makes use of docker containers for either collaborator services (mysql, cassandra, redis, ...), or for the service-under-test, or both.
(Giving an example is a bit complicated right now since we use our own homegrown docker testkit code.)

In b

[2018-09-14 13:54] dhollsten opened #6148 "Build a transitive static library using custom skylark rule for Windows"
### Description of the problem / feature request:

Tried to make a custom skylark rule to build transitive static library but fail because of path to ctx.fragments.cpp.ar_executable contains spaces. Tried to fix it by setting executable = '"{}"'.format(ctx.fragments.cpp.ar_executable) but it didn't help. hello_world_one.cpp and hello_world_two.cpp is just empty files in this example. Any other ide

[2018-09-14 14:32] cushon commented on #5963
I agree with @davido that it's a regression from caa2b3c36954b1f4ce4224b5235cc16ff1e8e4b2. Also, it makes it difficult to use Bazel with JDK 11, and this is the last release we're going to ship before 11 is released.

[2018-09-14 14:33] cushon commented on #6132
@lberki @laurentlb what are your thoughts on https://github.com/bazelbuild/bazel/issues/6132#issuecomment-420726643?

[2018-09-14 14:33] gjasny opened #6149 "Bazel 0.17.1 regression: Unrecoverable error while evaluating node"
### Description of the problem / feature request:

Bazel 0.17.1 crashes with:
[code]

Bazel 0.16.1 worked as expected.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[code]

See also: https://travis-ci.org/jupp0r/prometheus-cpp/builds/428587181?utm_source=github_status&utm_medium=notification

### What operating system are you runn

[2018-09-14 14:39] gjasny commented on #6149
If I remove the `.bazelignore` file in the project root, everything works (when no submodules have been checked out to `3rdparty`).

[2018-09-14 15:27] laurentlb commented on #6132
So I used your commit (https://github.com/cushon/bazel/commit/d6a438d29498ea00b38bc3069ec06f5793da4569) and it helped a bit. I got other issues on the CI:
https://buildkite.com/bazel/bazel-with-downstream-projects-bazel/builds/442#49a7f000-e511-4d0d-9714-cfc06a9fb8e1

Since 17.2 was ready (and now released) and should fix the issues, I didn't investigate more. So I now plan to abandon the 16.2.

[2018-09-14 16:13] cushon commented on #6067
cc @lberki

You could pass `--javabase=@embedded_jdk//:jdk`. There isn't an attribute on `java_test` that allows you to override the Java runtime from the `--javabase` for that individual target.

Another option is just to install a JDK that matches the embedded JDK version (currently `9.0.7.1+1`) and test against that.

Also note that testing host tools that will run using the embedded JDK as the

[2018-09-14 16:43] #6027 closed

[2018-09-14 16:45] cushon commented on #6127
The fix was released in 0.17.1.

[2018-09-14 16:45] #6127 closed

[2018-09-14 16:49] cushon commented on #6012
To close the loop on this, `@bazel_tools//tools/jdk:absolute_javabase` is now built-in: https://github.com/bazelbuild/bazel/blob/5f432e0cda5665334cc8db6192c5b3f14fb8aa8c/tools/jdk/BUILD#L27. I think that's the best we can do here.

[2018-09-14 16:49] #6012 closed

[2018-09-14 17:05] vbatts opened #6150 "0.17.1 FTBFS"
### Description of the problem / feature request:
the 0.17.1 tag fails to build from source

[code]

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[code]

### What operating system are you running Bazel on?

Fedora 28

[2018-09-14 17:20] vmax commented on #6113
@cushon this seems like a good start. As I understand, we **can't** enable custom checks from `bazel`'s command line opts yet, right?

cc @oferb

[2018-09-14 17:59] #6006 closed

[2018-09-14 18:09] cushon commented on #6150
[code]

This looks related to 2834613f93f74e988c51cf27eac0e59c79ff3b8f.

[2018-09-14 18:22] xingao267 opened #6151 "Illegal reflective access by com.google.protobuf.UnsafeUtil when running Bazel 0.17.1"
### Description of the problem / feature request:

I install Bazel 0.17.1 in a fresh ubuntu:xenial container using the installer.sh, and when I run bazel version it gives the following warnings:

bazel version
Extracting Bazel installation...
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by com.google.protobuf.UnsafeUtil (file:/root/.cache/bazel/_b

[2018-09-14 18:26] cushon commented on #6150
@vbatts can you check if `/usr/lib/jvm/java-1.8.0-openjdk-1.8.0.181.b15-0.fc28.x86_64/jre/lib/ext/java-atk-wrapper.jar` exists on your system? Any chance it's a dangling symlink?

The root cause might be similar to #400.

[2018-09-14 18:29] davido commented on #6012
That's nice, thanks.

Given that discussion on repo-discuss mailing list: [1] I'm, looking for an option to build Gerrit on stable branches and older tags, where Dagger DI and auto-value still have outdated versions, that are not compatible with JDK9 javac because of removal of `javax.annotation.Generated` class (what a mess?).

So my question is there an easy way to build gerrit say v2.15 tag wit

[2018-09-14 18:38] cushon commented on #6012
It sounds like #5984 would help here a bit.

@lberki there's a higher-level question about the compatibility guarantees when using the latest Bazel to compile old release branches. It don't think there are any guarantees that will work (at least for pre-1.0 Bazel versions), given: https://groups.google.com/d/topic/bazel-discuss/wYocSoGTJOg/discussion.

The only thing I can think of that would defi

[2018-09-14 18:52] davido commented on #6012
@cushon

Yeah exactly!

Just figured it out:

that with diff:

[code]

That is actually the content of my pending PR (that was based on your suggestion actually) and voilá:

Building gerrit v2.15 tag with Vanilla Java Builder and --javabase pointing to Java 8 just work:

[code]

Unfortunately I still have to patch `BUILD` to artificially add `toolchain_vanilla`. I think Bazel's backwards compatibi

[2018-09-14 18:55] jfroy opened #6152 "lds file in linkopts no longer has path resolved"
### Description of the problem / feature request:

We have a cc_binary rule that looks like this:

[code]

This build file is in some subdirectory of the workspace, e.g. //foo/bar/fun/BUILD.

In bazel 0.16.1, this rule built fine. In bazel 0.17.1, the linker invocation does not have the correct path for the lds file.

### What operating system are you running Bazel on?

Debian "sid" unstable deriv

[2018-09-14 18:59] davido commented on #6012
Another limitation: we cannot install multiple Bazel versions in the moment easily (or am I missing something?): after installing of bazel version `foo`, bazel version `bar` gone. We would need multiple docker images, or install different Bazel versions during the CI-build.

[2018-09-14 19:39] brandjon commented on #3517
Note that the shebang-parsing way will choose the version based on the actual source file contents, while the select() way (and the eventual fix to Bazel's Python rules) will choose based on the version selected in the build (default_python_version attr / --force_python).

@rickeylev's right about the transition being one way, but I can imagine changing it so that it's only one way through deps, a

[2018-09-14 20:10] petemounce commented on #5059
Pushed to chocolatey.

[2018-09-14 21:22] gregestren opened #6153 "incompatible_disallow_data_transition: remove outdated "cfg = "data'" syntax"
### Description of the problem / feature request:

`cfg = "data"` is outdated syntax that was turned into a no-op in https://github.com/bazelbuild/bazel/commit/10a6130dbafdf4e5f61198bec08b88fe6d6381fe.

The functionality this was originally intended for will be provided by [Starlark build configuration](https://github.com/bazelbuild/bazel/issues/5574).

### Feature requests: what underlying proble

[2018-09-14 21:31] cushon commented on #6151
We should suppress those warnings, but it's harmless to ignore them for now.

And you should only see these on startup, i.e. subsequent runs of `bazel version` shouldn't print warnings.

[2018-09-14 21:32] jgavris commented on #6151
I see them during every build, not just on startup.

[code]

[2018-09-14 21:41] cushon commented on #6151
That's a different instance of the same problem, the same suppression flags are needed here too:

https://github.com/bazelbuild/bazel/blob/1f684e1b87cd8881a0a4b33e86ba66743e32d674/src/java_tools/import_deps_checker/java/com/google/devtools/build/importdeps/BUILD.tools#L11

[2018-09-14 21:46] gregestren commented on #5819
Sorry I didn't check for this before filing. :(

[2018-09-14 22:09] jianglai opened #6154 "Missing sun.security.provider.certpath when building with bazel 0.17.1"
### Description of the problem / feature request:

After upgrading to v0.17.1, our code no longer builds due to the following error:

[code]

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[code]

### What operating system are you running Bazel on?

[code]
### What's the output of `bazel info release`?

[code]
### Any other informat

[2018-09-14 22:45] jianglai commented on #6154
Any temporary workaround?

[2018-09-14 23:14] #6054 closed

[2018-09-14 23:31] cushon commented on #6154
@jianglai I opened a PR: https://github.com/google/nomulus/pull/82

[2018-09-14 23:52] vladmos commented on #6153
c-parsons@ I've already implemented this particular fix, it searches for nodes that match the pattern `attr.xxxx(..., cfg = "data", ...)` and report/remove the `cfg = "data"` part.

[2018-09-14 23:56] gregestren commented on #6153
How does this catch all uses across all repositories?

i.e. how do we know when its safe to enforce the deprecation?

[2018-09-15 00:14] jianglai commented on #6154
Thanks, it worked!

[2018-09-15 00:18] cushon commented on #6154
Thanks for confirming! I'll leave this bug open to track the underlying problem.

[2018-09-15 00:20] wateryzephyr opened #6155 "Header file changes do not retrigger builds"
### Description of the problem / feature request:

Changes in header files (but not source files) don't retrigger builds.

(The exact same issue, albeit on Windows, was raised here https://github.com/bazelbuild/bazel/issues/3202)

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

You can repro this using the initial bug report (see abo

[2018-09-15 04:51] #5761 closed

[2018-09-15 09:09] wayou opened #6157 "installing bazel via brew not getting the latest version"
<img width="635" alt="qq20180915-171020 2x" src="https://user-images.githubusercontent.com/3783096/45584658-426c3780-b90a-11e8-9d3d-eed0ba93bc95.png">

[2018-09-15 09:55] regisd commented on #6157
AFAIK Homebrew is a third-party project.
Updating to the latest version should be as easy as updating the [Homebrew formula](https://formulae.brew.sh/api/formula/bazel) defined in https://github.com/Homebrew/homebrew-core/blob/master/Formula/bazel.rb

[2018-09-15 10:43] wayou commented on #6157
I'm following the guide from [bazel documentation](https://docs.bazel.build/versions/master/install-os-x.html)

[2018-09-15 13:14] davido commented on #6157
Since recently Bazel supposed to be installed using [own homebrew-tap](https://github.com/bazelbuild/homebrew-tap). See this [Blog Post](https://blog.bazel.build/2018/08/22/bazel-homebrew.html).

Concerning Bazel 0.17.1 that was released yesterday, the PR to bump to Bazel homebrew-tap [is still pending for review](https://github.com/bazelbuild/homebrew-tap/pull/4).

[2018-09-15 18:00] steeve commented on #5978
Hey guys, sorry I report I'm still running into this issue with 0.17.1 (sorry I couldn't test earlier).

However this time the workaround doesn't work:
[code]

[2018-09-15 19:42] cushon commented on #5978
@steeve can you provide steps for reproducing the problem you're seeing?

[2018-09-15 20:07] endobson opened #6158 "Bazel crash due to --incompatible_disallow_filetype"
### Description of the problem / feature request:

The following program hard crashes bazel:
Source from: https://github.com/endobson/yaspl2/tree/broken-filetype
[code]

### What operating system are you running Bazel on?

macOS

### What's the output of `bazel info release`?

development version

### If `bazel info release` returns "development version" or "(@non-git)", tell us how you built Baze

[2018-09-15 20:55] steeve commented on #5978
@cushon I put together a repro repo: https://github.com/steeve/bazel_issue_5978

[2018-09-15 21:58] cushon opened #6159 "desugar doesn't work with Bazel 0.17.1 and --host_javabase=<jdk8>"
original context: https://github.com/bazelbuild/bazel/issues/5978#issuecomment-421608342.

cc @lberki @jin

Setup:

* build `//src:bazel_nojdk` @ 7bb9e0fe91fc40d0b4537ecc805313fb0bc88a76 (0.17.1)
* clone `git@github.com:cushon/bazel_issue_5978.git`

[code]

It works for me without `--config jdk8` if I use a Bazel binary that includes the bundled JDK, or explicitly configure a JDK 9 `--host_javabas

[2018-09-15 21:59] cushon commented on #5978
@steeve thanks! I started a new issue for this: #6159.

[2018-09-15 21:59] #5978 closed

[2018-09-15 22:01] steeve commented on #5978
Thanks!
Although I'm not sure we are supposed to force JDK8 for building Android apps are we ?

When I do not specify the build "works", but:
[code]

[2018-09-15 22:06] steeve commented on #6159
@cushon I'm using the one from the binary installer.

Also, using JDK9 is not an option when building Android binaries as it does not support it yet (JDK8 only). Although I think Bazel is supposed to handle it automatically? See https://github.com/bazelbuild/bazel/issues/5978#issuecomment-421642176

[2018-09-15 22:16] cushon commented on #6159
The warnings are annoying but harmless. We should suppress them. (Related: #6151.)

Can you provide more context about what doesn't work? The `--host_javabase` is only used for tools that run during the build (javac, etc.). You can use a JDK 9 `--host_javabase` and still build Android code that needs to be compatible with Java 8 or earlier.

[2018-09-15 22:36] cushon commented on #6159
As in https://github.com/bazelbuild/bazel/releases/download/0.17.1/bazel-0.17.1-installer-darwin-x86_64.sh? Then I can't reproduce the problem you reported *without* `--config=jdk8`.

Can you share the output of `bazel info`?

[2018-09-15 22:41] steeve commented on #6159
@cushon never mind you were right, I thought the warning were a sign of the previous bug (which would cause our downstream gradle-based build to fail). But I tested it right now and it does work _without_ `--config jdk8`.

Just in case:
[code]

[2018-09-15 22:57] endobson opened #6160 "Error messages for builtin functions don't show expected keyword arguments"
### Description of the problem / feature request:

Code: https://gist.github.com/endobson/d764dec72404fa34530b9cae8afa9cfd
[code]

The error message for a bad skylark function includes the signature of the function, while a call to a builtin function includes the signature of the call. These both look very similar but the skylark one is much more useful because it tells me what keyword arguments a

[2018-09-15 23:01] cushon commented on #6159
Thanks for confirming!

I'm still interested in the use-case for `--config jdk8`. The regression is concerning either way and needs to be fixed, but you should be able to do Android builds with the default `javabase` and `java_toolchain` flags. If you ran into problems with the defaults that were fixed by using `--config jdk8` I'd like to make sure there are bugs tracking those.

[2018-09-16 01:25] endobson opened #6161 "Toolchain docs use attr.string instead of attr.label"
### Description of the problem / feature request:
From the docs here:
https://docs.bazel.build/versions/master/toolchains.html#creating-a-toolchain-rule

Rule definition uses attr.string:
[code]

Use site passes in strings that look like labels:
[code]

I believe that for this to work correctly that this should be `attr.label`, if `attr.string` is actually the correct implementation then there pro

[2018-09-16 01:44] endobson opened #6162 "Toolchain tutorial contradicts ToolchainInfo reference documentation"
### Description of the problem / feature request:

Reference documentation:
https://docs.bazel.build/versions/master/skylark/lib/platform_common.html#ToolchainInfo

Tutorial:
https://docs.bazel.build/versions/master/toolchains.html#creating-a-toolchain-rule
[code]

The tutorial doesn't call `ToolchainInfo` with the type of the toolchain at all, and doesn't pass in a map, just keyword arguments. I

[2018-09-16 15:54] mhsmith commented on #2903
Related: #1740.

[2018-09-16 22:32] Globegitter commented on #5858
Just running onto this behaviour as well on macOS, starting and connecting to the bazel server after reboot it really slow.

[2018-09-17 03:52] jin commented on #6159
@cushon thanks for driving this!

So let me summarize the issues so far:

1) Building Android on 0.17.1 *without* manually forcing JDK8 for `--host_javabase`: this is now working fine, and no changes are required.
1) Unsafe warning spam from protobuf: this is tracked at #6151
1) Forcing `--config jdk8` doesn't work on 0.17.1, because my fix at https://github.com/bazelbuild/bazel/commit/2e677fb6b8f

[2018-09-17 03:53] echotor commented on #6139
@dslomov I change ```includes = ["."]``` to ```includes = [glob("pcl/*.h")]```, but I got the same error.

[2018-09-17 04:03] cushon commented on #6159
I think that's right.

Note that (3) also affects anyone using Bazel without an embedded JDK together with a locally installed JDK 8, since it will default to using the local JDK 8 as the `--host_javabase`.

[code]

I think the mitigation is:

* prefer the binaries with an embedded JDK, and don't override the `--host_javabase`
* when using the binaries *without* an embedded JDK, use a JDK 9 `--hos

[2018-09-17 04:06] jin commented on #6159
This sounds like it warrants a point release, since it's a regression introduced in 0.17.

[2018-09-17 04:08] jin commented on #6159
(cc @ahumesky)

[2018-09-17 04:14] cushon commented on #6159
I agree, given the emphasis on preserving support for `--host_javabase=<jdk8>` in 0.17 (see #6035).

[2018-09-17 05:31] dhollsten commented on #6148
The issue was in the building of the lib_str. Was mislead by https://support.microsoft.com/en-us/help/815645/you-receive-a-fatal-error-lnk1181-error-message-when-you-build-a-manag who made me think it was because of the path to the ar executable. However a working function looks like this if anyone is curious:
[code]

[2018-09-17 05:31] #6148 closed

[2018-09-17 06:01] maitreya2954 opened #6163 "Tensorflow build: use of undeclared identifier 'strtold'"
### Description of the problem / feature request:

[code]
### What operating system are you running Bazel on?

Description:    Ubuntu 18.04 LTS
Release:        18.04
Codename:       bionic

### output of `bazel info release

I could just find the solutions for 'use of undeclared identifier' in c or cpp perspective but nothing particularly wrt to bazel. I am not able to understand why only 'strtold

[2018-09-17 07:38] Pmcneice commented on #2694
Hey @ahumesky, any update on the status of this?

[2018-09-17 08:36] steeve commented on #5059
@jin it would be nice if it could include the fix for https://github.com/bazelbuild/bazel/issues/6151 as well

[2018-09-17 08:43] jin commented on #5059
@steeve unfortunately the cherrypick policy doesn't cover that.

[2018-09-17 08:46] steeve commented on #5059
@jin that's too bad, since this one generates lots and lots of warnings during Android builds and thus creates a lot of noise and I think will make people think this are not working as they should.

[2018-09-17 09:10] aehlig commented on #5963
scripts/release/release.sh create --force_rc=3 0.18.0 c062b1f1730f3562d5c16a037b374fc07dc8d9a2 2834613f93f74e988c51cf27eac0e59c79ff3b8f 2579b791c023a78a577e8cb827890139d6fb7534 faaff7fa440939d4367f284ee268225a6f40b826 b073a18e3fac05e647ddc6b45128a6158b34de2c

--
Klaus Aehlig
Google Germany GmbH, Erika-Mann-Str. 33, 80636 Muenchen
Registergericht und -nummer: Hamburg, HRB 86891
Sitz der Gesellschaf

[2018-09-17 09:17] aehlig commented on #5963
Sorry, that should, of course be `--force_rc=4`; aborted that call and started

scripts/release/release.sh create --force_rc=4 0.18.0 c062b1f1730f3562d5c16a037b374fc07dc8d9a2 2834613f93f74e988c51cf27eac0e59c79ff3b8f 2579b791c023a78a577e8cb827890139d6fb7534 faaff7fa440939d4367f284ee268225a6f40b826 b073a18e3fac05e647ddc6b45128a6158b34de2c

--
Klaus Aehlig
Google Germany GmbH, Erika-Mann-Str. 33, 806

[2018-09-17 09:41] aehlig commented on #5963
rc4 is now available at https://releases.bazel.build/0.18.0/rc4/index.html

Please test this release candidate and report any regressions you may find by Sep 27, 2018.
Thanks!

--
Klaus Aehlig
Google Germany GmbH, Erika-Mann-Str. 33, 80636 Muenchen
Registergericht und -nummer: Hamburg, HRB 86891
Sitz der Gesellschaft: Hamburg
Geschaeftsfuehrer: Paul Terence Manicle, Halimah DeLaine Prado

[2018-09-17 10:49] laurentlb opened #6164 "Bazel release 0.17.2"
This issue is for tracking a patch release on top of 0.17.1 (https://github.com/bazelbuild/bazel/issues/5059).

Release policy: https://bazel.build/support.html#policy

[2018-09-17 10:50] laurentlb commented on #5059
Please use the new bug for discussing cherrypick requests (https://github.com/bazelbuild/bazel/issues/6164).

[2018-09-17 10:50] #5059 closed

[2018-09-17 10:53] laurentlb commented on #6164
Request 1 by @jin is https://github.com/bazelbuild/bazel/commit/2e677fb6b8f309b63558eb13294630a91ee0cd33
Is there a tracking bug about it? How is it critical?

Request 2 by @steeve is https://github.com/bazelbuild/bazel/issues/6151
This seems to be a regression, but it is not breaking users. @cushon, can you comment on the impact on user-experience?

[2018-09-17 11:29] jasal82 commented on #5186
Can you tell me when this is going to be implemented? I'm currently evaluating Bazel as replacement for our existing CMake setup but the setup of cross toolchains is way too complicated. We could generate the necessary files from our Yocto environment but as there is already a environment setup script written by Yocto containing the CC/CXX/etc. flags it would be good if Bazel could work with that

[2018-09-17 12:43] mhlopko commented on #6139
Hi @echotor,
you'll need to add both `includes = ["."]` and `hdrs = [glob("pcl/*.h")]`. First one tells the compiler to add an include directory (so it knows where to search for them), second one tells bazel to include these headers as action inputs (to link them into the execroot).

[2018-09-17 13:00] laurentlb commented on #6153
We will never know: not all the users of Bazel publish the BUILD/bzl files.

To provide smooth upgrade for users:
 * Give a notice (with the incompatible flag + note in the release announcement)
 * Make sure that all projects tested on the CI are not broken by the change
 * Provide a tool

Once the tool has a few more fixes (for other kinds of cleanup), we can advertise it widely.

[2018-09-17 13:10] evanj commented on #2460
@aehlig Confirmed; `0.18.0rc4` using `.bazelignore` allowed me to ignore our `node_modules` folder, instead of using our large and growing `--deleted_packages` flag in `tools/bazel.rc`. Thanks!

[2018-09-17 14:15] meteorcloudy commented on #4778
I debugged this issue again. And found, if I modify
https://github.com/bazelbuild/bazel/blob/1f684e1b87cd8881a0a4b33e86ba66743e32d674/src/main/java/com/google/devtools/build/lib/windows/jni/WindowsProcesses.java#L229-L232
to
[code]
The nodejs example will have the  expected output:
[code]

But the C++ example will output:
[code]

The reason is different binaries have different command line parser.

[2018-09-17 14:19] laszlocsomor commented on #4778
@meteorcloudy : thanks for looking into this issue!

What exact command line did Bazel pass to `CreateProcessW` in these two cases? Is there a way to pass an empty argument to a C++ binary?

[2018-09-17 15:23] jin commented on #6164
Brief summary: 0.17 introduces a regression where Android apps can't be built at the desugaring step when used in conjunction with a manual --host_javabase flag pointing to a JDK 8 installation. The above commit fixes this regression.

Cherrypick to fix this: 2e677fb

Tracking bug: #6159

[2018-09-17 16:04] scalbatty commented on #6144
We're having a similar error when building a project depending on Protobuf when specifying `xcode_version=10.0` in the build parameters:

[code]

[2018-09-17 16:31] cushon commented on #6164
I don't think #6151 is a regression since 0.16x, since that release also used an embedded JDK 9 which would have generated the same warnings. The issue results in some warning spam in the build log, which is annoying but ultimately harmless.

[2018-09-17 17:57] rahul-malik opened #6167 "Usage of `objc_enable_binary_stripping` results in linker errors"
### Description of the problem / feature request:

Using `objc_enable_binary_stripping` feature will pass the necessary `dead_strip` flags to clang during the linking phase. The current OSX CROSSTOOL does not pass the correct linker flags.

I've put up a patch to address this here https://github.com/bazelbuild/bazel/pull/6166

### Bugs: what's the simplest, easiest way to reproduce this bug? Pleas

[2018-09-17 18:14] perfinion commented on #5186
@jasal82 I'm not sure for the timing, its got a few deps that arn't done yet i think. In the mean time, I do this, feel free to copy. Its kind of ugly but it works decently well. https://github.com/gentoo/gentoo/blob/0d7adf51d80763d2ca8c3e5ffac4dd9b3edbe388/sci-libs/tensorflow/tensorflow-1.11.0_rc0.ebuild#L125-L141

[2018-09-17 18:29] jgavris opened #6168 "Cannot bootstrap bazel 0.17.1"
### Description of the problem / feature request:

Testing building bazel 0.17.1 using Xcode 9 / 10 toolchains and I am unable to build bazel from scratch / source. It appears the executable bit is lost when packaging the distribution zip.

[code]

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[code]

### What operating system are

[2018-09-17 19:18] jayconrod opened #6169 "RuntimeException building protoc on Windows with mingw"
### Description of the problem / feature request:

Bazel crashes with the output below when building protoc on Windows with mingw.

[code]

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Just create a new directory with the WORKSPACE file below, then run the command above.

[code]

### What operating system are you running Bazel on?

[2018-09-17 19:32] ahumesky commented on #2694
This was interrupted by a few little urgent issues, but those are done and we're back to work on this. I hope to have v2 working this week, then I plan to make getting the databinding dependencies working with the android rules easier (today you have to manually wire up the databinding dependencies).

[2018-09-17 19:45] aragos commented on #6144
`undeclared inclusion` errors usually happen because there's a dependency on a header that's not part of a target's `deps` attribute. System headers like the ones here should not trigger that error, this is achieved by adding them to the toolchain description (in the CROSSTOOL file) as part of the `cxx_builtin_include_directory` entries.

On macOS we compute the location of these `cxx_builtin_incl

[2018-09-17 19:55] #5223 closed

[2018-09-17 19:59] ob commented on #5296
I'm seeing this with HEAD while building an iOS application with rules_apple 0.7.0, rules_swift at 7bbcf9584613169cda709b9c217f5ac29cc5a089 and a remote-cache. It's pretty reproducible. Any ideas what could be going on? That `Learning` rule an `ios_application` rule.

[code]

[2018-09-17 20:17] aragos commented on #6144
So far we haven't been able to replicate the issue with Xcode 10. Can you make sure of the following:

- open Xcode 10 and install anything it asks you to on first start
- run `bazel clean --expunge`

And then try again? Xcode isn't fully initialized without first opening it by hand once...

[2018-09-17 20:19] jgavris commented on #6144
What I did was download / extract Xcode 10 to `~/Downloads/Xcode.app`, and then ran `sudo xcode-select ~/Downloads/Xcode.app`. I think did `bazel clean --expunge` and `bazel build` as above. Does that help?

[2018-09-17 20:27] jgavris commented on #6144
And yes @aragos I've built some non-bazel projects in Xcode 10 prior to trying to build bazel.

[2018-09-17 20:30] thomasvl commented on #6144
After you moved it, did you repeat the `bazel clean --expunge`?  Bazel cache's things.  Also, double check that _Preferences > Locations > Command Line Tools_ agrees with where it is installed (and isn't blank).

[2018-09-17 20:32] jgavris commented on #6144
@thomasvl yes, definitely `clean --expunge` bazel after I moved. And the command line tools points to `/Applications/Xcode10.app`.

[2018-09-17 21:18] mhsmith commented on #3582
The second number is better than nothing: at least you have a lower bound on how many actions are left. This may allow you to decide to go and do something else rather than watching the build.

[2018-09-17 22:01] ixdy commented on #5974
did this fix not make it into 0.17.1?

[2018-09-17 23:05] jin commented on #5296
@ob could you please open up a new issue for this and reference this PR in it?

[2018-09-17 23:07] jin commented on #6164
@laurentlb FYI, looks like the fix for this issue didn't make it into 0.17.1: https://github.com/bazelbuild/bazel/issues/5974

[2018-09-17 23:20] jin commented on #6163
Hi, please open this issue in the Tensorflow repository: https://github.com/tensorflow/tensorflow/issues

[2018-09-17 23:20] #6163 closed

[2018-09-17 23:31] jjudd commented on #2832
@philwo friendly ping. In your opinion how large of a task is this? Hours, days, weeks, months?

[2018-09-17 23:34] ob opened #6170 "Unrecoverable error while evaluating node 'ActionLookupData{...}'"
Following up from #5296:

I'm seeing this error with Bazel's master, 0.17.1 and the 0.18.0 branch while building an iOS application using rules_apple 0.7.0, rules_swift at 7bbcf9584613169cda709b9c217f5ac29cc5a089 and a remote-cache.

It's reproducible and I can debug. However, I can't share the app.

It only happens when the remote cache is enabled.

[code]

[2018-09-17 23:34] ob commented on #5296
@jin done.

[2018-09-18 00:09] scottminor-google opened #6171 "Runtime exception on Windows when evaluating `BazelCcProtoAspect` nodes"
### Description of the problem / feature request:

Build causes a RuntimeException on Windows; this appears to happen when one `proto_library` rule depends on another `proto_library` rule.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

#### Command
`bazel.exe build //some_proto/...`

#### Output
[code]

#### `WORKSPACE`
[code]

###

[2018-09-18 01:04] jin commented on #6170
cc @benjaminp @buchgr

[2018-09-18 02:04] echotor commented on #6139
Thanks for your reply. @mhlopko
I change my pcl.BUILD file like below:

[code]
But I got the same error.

[2018-09-18 03:03] softprops commented on #5131
I would love to see this get fixed. My company is also trying the s3 signed url redirect approach and are blocked by this

[2018-09-18 03:43] cushon opened #6173 "DateTimeException: Invalid value for MonthOfYear (valid values 1 - 12): 0"
Bazel's embedded JDK 9 has a bug ([JDK-8184940](https://bugs.openjdk.java.net/browse/JDK-8184940)) in its zip implementation which causes it to reject zip files where the modified day or month is 0.

This affects JavaBuilder when processing source jars, and prevents it from compiling archives where the timestamps are normalized to `0`. That is the default behaviour of the golang zip implementation

[2018-09-18 04:52] ZacVawterKodiak commented on #6052
See linked tensorflow bug for a partial update.

It looks like the crosstool's `cxx_builtin_include_directory` was being set to `\`.  Which apparently silently breaks the earth!?!?

[2018-09-18 07:07] philwo commented on #6168
Handing over to @aehlig, who probably knows best about the bootstrap scripts and because I'm still OOO.

Klaus, feel free to just reassign to me if you're too busy or have no idea and I'll take a look in the next days!

[2018-09-18 07:25] #5806 closed, assigned to hlopko

[2018-09-18 08:37] aehlig commented on #6168
I don't think this is related to the bootstrap scripts, more to the question how different versions of `unzip` handle file mode creation mask and the packed executable bit. As I don't have a mac machine, I cannot investigate further; but, at least, to demonstrate that different versions of `unzip` make a difference, look at the following on my personal `FreeBSD stable/10` machine.

[code]

[2018-09-18 08:45] aehlig commented on #2460
Great, so I think we can finally consider this feature request closed.

[2018-09-18 08:45] #2460 closed

[2018-09-18 09:03] philwo commented on #6168
@jgavris Could you let us know which version of "unzip" you used to extract the archive? I'd like to reproduce this on my machine if possible.

[2018-09-18 10:28] manekinekko opened #6176 "Failed to create runfiles tree (build_bazel_rules_typescript)"
### Description of the problem:

Hi, I'm trying to setup bazel for my angular project: [xLayers](https://github.com/xlayers/xlayers/) ( [bazel branch](https://github.com/xlayers/xlayers/tree/bazel-support) ). I'm encountering this error after running a build command:

`bazel build ...`

Ouput:
[code]

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal exampl

[2018-09-18 10:47] mhlopko commented on #5163
We discussed this offline with @laszlocsomor, and he'll ping this issue once he's done with his investigations with his plan.

[2018-09-18 11:52] aehlig commented on #6164
...which is technically correct according to our policy. `.bazelignore` is a new feature, strictly opt-in, as so far no one had a reason to have a file called `.bazelignore` in their work space. And that new feature happened to be broken and will be useful only in `0.18`; but it is not technically a regression, as it didn't work in any earlier release either. Unfortunate, but following our policie

[2018-09-18 11:59] laurentlb commented on #6164
Correct. The goal of patch releases is to make sure that users can upgrade from 0.16 to 0.17. So if a change in 0.17 blocks you from upgrading, we can cherrypick the fix. In other cases, you'll have to wait for the next release (but it's not too bad, I think: we release once a month on average).

I'm going to create a candidate with one cherrypick: https://github.com/bazelbuild/bazel/commit/2e677f

[2018-09-18 12:10] lfpino commented on #5145
Hi Eric and others, sorry for the delay to respond. Can you please update the reference to the code? Which field, is it File?

Also, can you please elaborate on how critical this is? Namely, how often do users encounter this problem? Is there a workaround?

Thanks!

[2018-09-18 13:03] jasal82 commented on #5186
@perfinion Your sample code is setting the compiler flags but I don't see where the cross compiler binaries are configured. Maybe I'm missing something.

[2018-09-18 13:44] alexeagle commented on #6176
To be clear, the Bazel bug here is that the error reporting gave no output from the process that exited 1.
I saw the same in Bazel 0.17

[2018-09-18 13:52] jgavris commented on #6168
Hm, my bad. I just did a double-click / `open` on the zip. If I do `unzip`, the file permissions are preserved.

[2018-09-18 13:52] #6168 closed

[2018-09-18 14:01] katre commented on #6162
Thanks for bringing this to my attention. We're actually in the middle of a documentation audit this week, and this is exactly the type of issue we want to flag.

[2018-09-18 14:17] alexeagle commented on #4778
Interesting, I also read https://blogs.msdn.microsoft.com/twistylittlepassagesallalike/2011/04/23/everyone-quotes-command-line-arguments-the-wrong-way/ which doesn't mention empty arguments but does agree that parsing the command line is up to the process.
I tried one more thing, same `repro.js` as above but this time calling node directly:

[code]

As you can see, the double quotes do create an e

[2018-09-18 14:32] jgavris commented on #6144
So I installed the [command line tools for Xcode 10 / macOS 10.13.6 DMG](https://download.developer.apple.com/Developer_Tools/Command_Line_Tools_macOS_10.13_for_Xcode_10/Command_Line_Tools_macOS_10.13_for_Xcode_10.dmg) in addition and it's all good now. Perhaps related to changes in packaging in preparation for 10.14. I'll note this _only_ works if the command line tools are installed from this di

[2018-09-18 14:54] katre opened #6177 "DOC AUDIT - Installing Bazel on Fedora and CentOS"
Doc audit of https://docs.bazel.build/versions/master/install-redhat.html

- Fedora Directions
  - Put parens around @vbatts
  - Link to directions for installing dnf and copr
  - Fix Fedora versions to not require an update on every Fedora release
- CentOS Directions
  - Link directly to the .repo file
- General
  - Mention that commands need to be run as root

[2018-09-18 14:55] j3parker commented on #5136
I'm sure you're aware, but Windows has something called the Host Compute Service which is used to implement containers for things like Docker.

[This blog post](https://blogs.technet.microsoft.com/virtualization/2017/01/27/introducing-the-host-compute-service-hcs/) has the high level picture and they link to wrappers+sample code for [C#](https://github.com/Microsoft/dotnet-computevirtualization/bl

[2018-09-18 15:42] aehlig commented on #6110
Suggested fix: https://bazel-review.googlesource.com/c/bazel/+/75350

[2018-09-18 15:48] aehlig commented on #6110
@edbaunton

A progress indicator is hard to implement given the current implementation of external repositories as Skyfunctions; as they are, in principle, restartable (even though we got rid of most of the restarts) all output is cached and only forwarded once the rule is finished. If we allow progress indicators that bypass this caching, we allow for situations that progress is reported and then

[2018-09-18 15:56] brown commented on #2146
Has this issue been solved by the addition of Bazel's explicit_java_test_deps command line argument?

[2018-09-18 17:04] ob commented on #5047
I'm still seeing this issue using Bazel 0.17.1 and a medium sized iOS application (using rules_apple 0.7.0 and rules_swift as of 7bbcf9584613169cda709b9c217f5ac29cc5a089). Unfortunately I can't share the app but I'd be happy to help debug the issue.

My config:

[code]

And I'm building with the command:

[code]

Where `Learning` is an `ios_application`. The error message is:

[code]

[2018-09-18 17:10] litghost commented on #5859
In general you cannot use the "{<variable name>}" form of the "${<variable name>}" form.  For example, genrule's cannot abstractly expand variables in the "{<variable name>}", only "${<variable name>}" form.  So if you make a Skylark function that consumes a string which may contain variables, you cannot both expand it in a genrule and expand it in a rule implementation without relying on expand_m

[2018-09-18 17:13] cushon opened #6179 "default compilation bootclasspath is missing undocumented/internal APIs"
The compilation bootclasspath in the default Java toolchain is generated using this code: https://github.com/bazelbuild/bazel/blob/fdfe0f1240c9d35abb21e2e63289d076c5f16e4e/tools/jdk/DumpPlatformClassPath.java#L54

It relies on the infrastructure added in [JEP 247](http://openjdk.java.net/jeps/247) to implement `--release`, which packages information about previous API versions into the JDK. The ad

[2018-09-18 17:14] cushon commented on #6154
I started #6179 to track the underlying problem.

[2018-09-18 17:14] #6154 closed

[2018-09-18 17:17] cushon opened #6180 "Cannot find gcov or GCOV with Bazel 0.17.1"
Building Android Studio with Bazel 0.17.1 fails with the following error:

[code]

[2018-09-18 18:33] ob commented on #6170
So one thing I found while debugging is that the assertion that's failing ([code here](https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/remote/TreeNodeRepository.java#L326)] is due to a directory being in the list of inputs:

[code]
The code doesn't handle that case so I assume it doesn't expect directories to be passed as source artifacts? Is that by des

[2018-09-18 18:36] davido commented on #6010
@cushon Somehow our custom --java_toolchain stopped working.

Even with Bazel 0.17.1m with this diff on gerrit master:

[code]

I'm getting:

[code]

And when trying the same on Bazel@HEAD (fdfe0f1240c9d35abb21e2e63289d076c5f16e4e):

[code]

Any clue?

[2018-09-18 18:50] davido commented on #6010
I think I figured it out: jvm_opts were missing: `jvm_opts = JDK9_JVM_OPTS,`:

[code]

But why are we getting such a scare error message?

[2018-09-18 18:53] ob commented on #6170
Lo and behold... the rules's `resources` section does contain those files:

[code]

[2018-09-18 19:38] tmccombs commented on #5588
why do artifacts have a permission of 555, even if they aren't executable? why not use 444 unless it is a directory or marked as an executable?

[2018-09-18 20:37] cushon commented on #6010
The JDK 8 JVM flags include `-Xbootclasspath/p:`, which isn't supported on JDK 9, so we have to use `--patch-module` instead. That error is reported before the worker starts up, and the error handling when workers fail to start is kind of verbose. (cc @philwo FYI)

[2018-09-18 21:31] aragos commented on #6170
Looks like a legit bug. Sergio, David, how would you resolve this? Not allow directory entries in `resources` attributes? I know you're reworking how those work anyhow so deferring to you here.

[2018-09-18 21:53] sergiocampama commented on #6170
The fact that bazel allows a directory in a `label_list` attribute is the bug IMO (or is that expected/documented?). In fact, we can't even detect this in analysis time, as `is_directory` returns `False` for a `File` object that is actually a directory.

We do have execution time validation in the tools, but this error is way before the tool gets executed, so there's no action we can do right now.

[2018-09-18 23:39] pcj commented on #4825
I share this pain now that I'm trying to use both `io_grpc_grpc_java` and `rules_closure.closure_repositories` in the same workspace.  Aargh.

So now I am brainstorming how to solve this.  Apologies in advance if my ideas here are not fully threshed out.

My first thread of thought is about recursive workspaces.  I don't know where we are with the recursive workspace implementation in bazel, but t

[2018-09-19 04:26] davido commented on #6010
Thanks for clarifying. I think what is not really obvious is that jvm_opts defaults to JDK8_JVM_OPTS in `default_java_toolchain()`.

[2018-09-19 04:33] cushon commented on #6010
I agree: https://github.com/bazelbuild/bazel/commit/808ec9ff9b5cec14f23a4ba106bc5249cacc8c54#diff-a430a0f3acbf77bcbe5488892ad884c7R74

This will get cleaned up once 7eb9ea150fb889a93908d96896db77d5658e5005 is rolled forward.

[2018-09-19 04:52] cushon commented on #6180
This was a regression introduced by a95a44270010ec3643b73c0296ef0f76e447362f and fixed in 1d956c707e1c843896ac58a341c335c9c149073d (which didn't make the baseline for 0.17.1).

[2018-09-19 04:56] cushon commented on #6164
@laurentlb  consider including 1d956c707e1c843896ac58a341c335c9c149073d for #6180, which is a regression in 0.17.1. (cc @mhlopko @iirina)

[2018-09-19 11:18] mhlopko commented on #3637
This also fails in the same way with the `new_local_repository`, and by quickly scanning through `@bazel_tools` I couldn't find that reimplemented in Skylark (assuming skylark implementation doesn't suffer from the bug, I didn't verify).

My repro:

[code]

[code]

and run `bazel build :asdf; touch BUILD.piano; bazel build :asdf`.
Second output is expected to contain `no such package '@piano//foo`

[2018-09-19 12:35] buchgr commented on #5047
Can you run with --verbose_failures and see if you get the same error message?

[2018-09-19 12:59] jart commented on #4825
People tend not to agree on names in the absence of a registry service (e.g. DNS, NPM) that enforces them.  Proposals for doing that haven't received much support in the past.  I encourage folks to do what they want.  I don't have plans at this time to continue being a part of that conversation.

[2018-09-19 13:34] meteorcloudy commented on #4778
@alexeagle You are absolutely correct! I finally found the bug.
Because we launch the nodejs binary through a bash script, and the bash script is again launched by a native binary launcher created by Bazel. We didn't parse empty string correctly when the argument is empty, see: https://github.com/bazelbuild/bazel/blob/256c75adbaea966364077f6f342fa9351174e8b2/src/tools/launcher/util/launcher_util.c

[2018-09-19 14:18] #4778 closed

[2018-09-19 14:27] hildrum opened #6182 "bazel builds using gcr.io/cloud-builders/bazel failing with null pointer exception."
### Description of the problem / feature request:

bazel builds using gcr.io/cloud-builders/bazel failing with null pointer exception.

[code]

[Full stack trace](https://gist.github.com/hildrum/79ba0ad703129b63d5a7514bc77d2798)

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

`gcloud builds submit --config=config.yaml --no-source`
w

[2018-09-19 15:13] laurentlb commented on #6164
0.17.2 rc1 is available here: https://releases.bazel.build/0.17.2/rc1/index.html

`scripts/release/release.sh create 0.17.2` 7bb9e0fe91fc40d0b4537ecc805313fb0bc88a76 1d956c707e1c843896ac58a341c335c9c149073d 2e677fb6b8f309b63558eb13294630a91ee0cd33

[2018-09-19 15:18] alexeagle commented on #4778
Awesome work again @meteorcloudy thank you!!

[2018-09-19 15:54] ob commented on #5047
Same error message.

[code]

This time though, I noticed that buried in the compilation output there is this:

[code]

However, the output seems wrong since I can't tell if it retried, and if so how many times it retried. I also ran it adding the flag `--remote_local_fallback`, which I expected would fail back to building if there was a problem with the remote cache, but it didn't appear to do any

[2018-09-19 16:11] oquenchil commented on #6182
Can you provide us with a series of `git clone` steps and `bazel build` commands that reproduce the problem?

[2018-09-19 17:08] pauldraper commented on #5143
For my purposes, I figured out, I really just wanted `transitive_runtime_deps`.

Maybe there's a reason the jar itself (without deps) is needed, but I don't have one, so I'm closing.

[2018-09-19 17:08] #5143 closed

[2018-09-19 17:13] pauldraper commented on #5021
Sorry, I believe this issue is misinformed. #4821 seeks (unwisely, I believe) to add a `--strict_java_deps`-enabled intransitive mode.

[2018-09-19 17:13] #5021 closed

[2018-09-19 17:42] hildrum commented on #6182
The problem seems to be with the bazel in the docker image gcr.io/cloud-builders/bazel.  That version of bazel is release 0.17.1.   (Found by adding a build step that does `bazel info release`.)

As it happens, 0.17.1 is what I have installed on my local machine, so I can easily provide reproduction instructions that don't use cloud build.
[code]

If it's confusing that bazel is both the build sys

[2018-09-19 18:07] brandjon commented on #1446
Update: This work was delayed by a little yak shaving to open source some unit tests for our Python rules. It's now blocked on the fact that my fix breaks some users of bazel cquery/aquery, which is experimental. We're looking at whether the underlying issue with cquery/aquery can be fixed so it's not a breakage, and if not, whether it's ok to just continue anyway. I won't be able to work on this

[2018-09-19 18:31] dapirian opened #6185 "Bazel hardcodes passing -static-libgcc even if you don't use libgcc"
### Description of the problem / feature request:

Bazel hardcodes passing `-static-libgcc` even if you compile with `-rtlib=compiler-rt`. This doesn't particularly hurt anything, but it causes warnings to be spammed:
`clang: warning: argument unused during compilation: '-static-libgcc' [-Wunused-command-line-argument]`

Looks like this happens here:
https://github.com/bazelbuild/bazel/blob/aaba6f

[2018-09-19 19:12] dtretyakov commented on #2367
Any progress on providing Skylark Java language library? It would be very useful for parsing BUILD/WORKSPACE files.

[2018-09-19 19:48] benjaminp commented on #6185
You can pass `--experimental_dont_emit_static_libgcc` to inhibit that.

[2018-09-19 20:14] Kadanza opened #6187 "Build Android on Windows: Bazel_tools//src/main/native/windows:windows_jni.dll' failed (Exit -1)"
### Description of the problem :

I have Bazel Android project for Windows. When I open and try to sync project I got error. On mac this step  works normal.

### Log

ERROR:
[code]

### What operating system are you running Bazel on?

Windows 7

### What's the output of `bazel info release`?

0.17.1

[2018-09-19 20:44] cushon commented on #6180
This will be fixed in 0.17.2 (https://github.com/bazelbuild/bazel/issues/6164#issuecomment-422841842) and 0.18x.

[2018-09-19 20:44] #6180 closed

[2018-09-19 21:12] ittaiz commented on #4502
@cvcal shouldn't this [commit](https://github.com/bazelbuild/bazel/commit/90e116c2358e2d1e71818f7d39ddb609581ee211) with `ignore_all_rc_files` have come with release notes? Reason why I'm asking is because I started using it in a library I maintain and saw that older versions fail. I went to the release notes to see when it got in but couldn't find it in the change-log.

Also- the ignore_all_rc_fi

[2018-09-19 21:15] ittaiz commented on #2367
+1
On Wed, 19 Sep 2018 at 22:13 Dmitry Tretyakov <notifications@github.com>
wrote:

[2018-09-19 21:16] ittaiz commented on #6182
Does this image (with 0.17.1) build tensorflow correctly?
On Wed, 19 Sep 2018 at 20:42 Kris Hildrum <notifications@github.com> wrote:

[2018-09-19 22:07] cushon commented on #5855
It turns out that the work around has unintended side-effects, so I'm going to back that out, which means we need to fix the problem in `com.android.support.test.espresso:espresso_idling_resource:aar`. The bytecode in version 3.0.2 doesn't have this problem, so it might be sufficient to just update our version of that dependency in the `android-testing` repo.

[2018-09-19 22:08] cushon commented on #5855
I opened a PR: https://github.com/googlesamples/android-testing/pull/197

[2018-09-19 22:30] steeve commented on #6164
This version fails with:
[code]

in `.bazel.rc`:
[code]

[2018-09-19 23:07] cushon commented on #6164
@steeve I tried building `//examples/android/...` with 0.17.2 rc1 and JDK 8 and wasn't able to observe that problem, can you share the repro?

[2018-09-20 00:18] steeve commented on #6164
I won't have my computer until the morning but until I do you can try https://github.com/steeve/bazel_issue_5978

[2018-09-20 00:18] steeve commented on #6164
With --config jdk8

[2018-09-20 05:04] ittaiz commented on #4502
@cvcal so apparently nohome_rc is also only available from 0.17.1 :(
Am I correct in assuming that the following options will give me a no RC build on bazel 11-16? ( “bazelrc=/dev/bull —nomaster”) If so I’ll just see if I can add a conditional on my code

[2018-09-20 06:12] jin commented on #6164
I'm getting a different error with 0.17.2rc1 with https://github.com/steeve/bazel_issue_5978 now:

[code]

[2018-09-20 06:27] jin commented on #6164
That explains it. Sorry for the noise!

On Thu, Sep 20, 2018 at 2:20 PM Liam Miller-Cushon <notifications@github.com>
wrote:

[2018-09-20 06:37] ittaiz commented on #6182
I’m sorry if I’m stating the obvious but are you saying you think any bazel
build using the latest cloud-builders image fails?
On Thu, 20 Sep 2018 at 8:21 Kris Hildrum <notifications@github.com> wrote:

[2018-09-20 06:43] cushon commented on #6164
I think I have an explanation for the `NoSuchMethodError: java.nio.ByteBuffer.position(I)Ljava/nio/ByteBuffer;` error reported in https://github.com/bazelbuild/bazel/issues/6164#issuecomment-422980111.

I was trying to reproduce on linux, and the version of `com.google.devtools.build.android.ziputils.ZipIn` in `bazel-0.17.1-darwin-x86_64` doesn't match the linux binary:

[code]

[code]

The issue

[2018-09-20 06:49] cushon commented on #6164
I think that's what happened. Diffing the linux [1] and darwin [2] release configs, I see:

[code]

We should be using `output/bazel` on both for that step, not just for linux.

[1] https://buildkite.com/bazel/release/builds/105#6874f846-9cff-469b-9095-a692db9f3006
[2] https://buildkite.com/bazel/release/builds/105#dcf156e2-41d0-4538-922f-a898c68ab849

[2018-09-20 07:38] jin commented on #6187
Have you installed Build Tools for VS 2017? https://visualstudio.microsoft.com/downloads/#build-tools-for-visual-studio-2017

https://docs.bazel.build/versions/master/windows.html#using-bazel-on-windows-1

[2018-09-20 08:00] fxcoudert opened #6188 "Error in building bazel 0.17.1 on macOS El Capitan"
bazel 0.17.1 fails to build from source on macOS El Capitan: https://github.com/Homebrew/homebrew-core/pull/32104 It works with later macOS versions, from Sierra to Mojave.

Running `./compile.sh` is successful, but when we run `./output/bazel --output_user_root /private/tmp/bazel-20180920-17363-1gm6zdi/output_user_root build scripts:bash_completion` this leads to the following error:

[code]

The

[2018-09-20 08:39] #6110 closed

[2018-09-20 09:05] oquenchil commented on #6182
Hi Tony,

this happens on line 560 of CompilationSupport.java. The X code version is sometimes null and the code doesn't check for that. Assigning this to you, maybe you have more context of how the code should behave when the version is null.

[2018-09-20 09:15] sergiocampama commented on #6182
Are you trying to build an ios_application with objc sources? That won't work in ubuntu, and I'm not familiar with any RBE environment that supports Apple builds.

[2018-09-20 09:28] llhe opened #6189 "Bazel does not respect sysroot when adding a new toolchain"
When I adding a new toolchain, and build my target, it reports with this error:
[code]

However, when I execute this exact command in a standalone console, this command successed:
[code]

What's the mystery behind this difference? How can I make it work?

### What operating system are you running Bazel on?
Ubuntu 16.04.4 LTS
### What's the output of `bazel info release`?
release 0.16.1

[2018-09-20 09:53] llhe commented on #6189
Using ld-gold solved this.

[2018-09-20 09:53] #6189 closed

[2018-09-20 10:12] aherrmann opened #6190 "Make template files directly accessible via bazel"
### Description of the problem / feature request:

[rules_scala][rules_scala] requires a template file that is provided in this repository. Namely, `java_stub_template.txt`. Currently, it fetches this file directly from the GitHub repository. This circumvents potential distribution specific patches that might be required for a functioning bazel installation. See https://github.com/bazelbuild/bazel

[2018-09-20 11:04] philwo commented on #6164
Arghh, sorry :( Indeed, I must have missed that when updating the pipeline. I'll make the fix right now.

[2018-09-20 11:18] Kadanza commented on #6187
@jin
I install Visual Studio Community 2017 with  Build Tools. And I got new error (Exit 2)

`ERROR: C:/users/dmitry/_bazel_dmitry/f5rza2b6/external/bazel_tools/src/main/native/windows/BUILD:49:1: Couldn't build file external/bazel_tools/src/main/native/windows/_objs/windows_jni.dll/file-jni.obj: C++ compilation of rule '@bazel_tools//src/main/native/windows:windows_jni.dll' failed (Exit 2).`

I i

[2018-09-20 11:26] llhe opened #6191 "How to cross compile cc_proto_library"
### What operating system are you running Bazel on?

Ubuntu 16.04.4 LTS
Bazel 0.16.1
Protobuf 3.6.1 from source release

For example, I have a target like this:
[code]

And configured an ARM cross compiler following https://github.com/bazelbuild/bazel/tree/master/src/test/shell/bazel/testdata/bazel_toolchain_test_data, and try to build a library for ARM platform:
[code]
And the `protoc` is mistake

[2018-09-20 12:49] philwo commented on #6117
@laurentlb Yes, I can do this.

[2018-09-20 12:53] philwo commented on #6164
Fixed. All builds in the "release pipeline" from now on will use the fixed configuration.

[2018-09-20 12:53] buchgr commented on #5145
@lfpino That sounds reasonable to me. Now that we have local file uploading implemented it's also a straightforward thing to do.

@Yannic as of recently we do have local file uploading, meaning that the BES code is able to trigger an upload of a local file referenced by some event to the remote cache. The BES event will then refer to this file by some URL pointing to the cache. It's implemented fo

[2018-09-20 13:04] hildrum commented on #6182
I should clarify my weird use case. I'm building both these projects to generate cross-references; my build command attempts to build all targets, and there are normally many errors which I ignore (that's the reason for the --keep-going).   But until recently, enough targets were built to get cross references.  So the fact that `//tools/objc:dummy_lib` doesn't build is fine with me; the fact that

[2018-09-20 13:33] cvcal commented on #4502
Yes, `--ignore_all_rc_files` will do what it says for any Bazel where it exists. There weren't any release notes because this flag was mostly intended as an internal tool - it ignores everything, regardless of the other flags, so `--ignore_all_rc_files --master_bazelrc` (in bazel 17 or earlier) or `--ignore_all_rc_files --home_rc <etc>` (in bazel 18 or later) does not read any file, last flag does

[2018-09-20 13:49] laurentlb commented on #6164
I'm a bit confused with the messages.
Is there anything to cherrypick on top of `0.17.2 rc1`? Is there still a blocking issue?

[2018-09-20 13:52] philwo commented on #6164
AFAIU, we don't have to cherrypick anything in order to fix the error that @cushon mentioned above, as the problem was only in our CI pipeline configuration (which I fixed now).

The next time you or anyone else builds a release candidate or a final release, the release binary on macOS will be built in the correct way (the same as on Linux and Windows) and that should fix the error.

[2018-09-20 14:10] buchgr commented on #6126
@ittaiz can you confirm that the actual subcommand did succeed (exit code 0) but that Bazel then failed because this subcommand did not create all declared outputs?

[2018-09-20 14:13] buchgr commented on #5047
That's actually a different error, as the output does not contain `Failed to delete output files after incomplete download. Cannot continue with local execution.`. It's possible that local fallback is broken :\. Please open a new issue.

[2018-09-20 14:20] cushon commented on #6164
Thanks @philwo!

@laurentlb can you build another release candidate (with no additional cherry-picks) so the fix to the release pipeline can be verified before the final release?

[2018-09-20 14:32] emusand commented on #4856
I work in the same group as burkpojken. I can try to implement this in bazel, but I need some help to find a proper solution.

As burkpojken said, the problem is that the following assembly file extensions are hard-coded in bazel:
- ".S" is assumed to be hand-written assembler, and is preprocessed by the C preprocessor.
- ".s" and ".asm" are assumed to be assembler code generated by a compiler, an

[2018-09-20 14:48] philwo commented on #6176
That seems like a pretty bad bug. I'll investigate.

[2018-09-20 14:55] zackarychapple commented on #6176
@philwo after you resolve it would you mind sharing real quick how you debugged it. I'd love to share with others so we can help more in the future.

[2018-09-20 15:00] ifoox commented on #5524
One possible workaround for users is to manually pass in a randomly generated UUID:
bazel ... --invocation_id=`uuidgen`

[2018-09-20 15:52] laurentlb commented on #5859
Is it an important use-case, to use the same string in both genrule and your new rule? When you create a rule, you typically don't need a genrule anymore.

`genrule` has many problems, I believe we should make a simpler alternative and also use the `{variable}` format instead of `$(variable)`.

[2018-09-20 15:58] steeve commented on #6164
Is it possible to make an 0.17.2rc2 then?

[2018-09-20 16:38] ittaiz commented on #4502
ended up bumping to 0.15.2 as minimal version and using ignore_all_rc_files

[2018-09-20 17:02] laurentlb commented on #6164
Done.
https://releases.bazel.build/0.17.2/rc2/index.html

[2018-09-20 17:16] cvcal commented on #4502
15 is the first version with the flag? That sounds right

[2018-09-20 17:31] jgavris commented on #2109
I'd also like to bump this ... our build agents have output bases of over 100G pretty quickly. Some notion of being more careful about leaving behind garbage would be great.

[2018-09-20 17:32] cushon commented on #6164
Thanks, looks good to me:

[code]

@steeve can you verify that fixes the problem you were seeing?

[2018-09-20 18:35] davido commented on #6012
@cushon

Temporarily I added this to Gerrit in root BUILD file:

[code]

this caused the CI: [1] to fail with:

[code]

That's because we are building //... on the CI. In fact the CI still uses Java 8.

[1] https://gerrit-ci.gerritforge.com/job/Gerrit-verifier-bazel/54129/consoleText

[2018-09-20 18:43] jgavris opened #6193 "Cross-compiling for Android (arm) is missing debug symbols (-g)"
### Description of the problem / feature request:

According to the [Compilation Mode Docs](https://docs.bazel.build/versions/master/user-manual.html#flag--compilation_mode), building with `--compilation_mode=dbg` should include `--copt=-g` to request debug symbols.

When building for Android (arm), this flag is not passed to the compiler, and debug symbols are missing. When building for Android (

[2018-09-20 18:44] yasushi-saito opened #6194 "Support per-target sandboxing configurations"
### Description of the problem / feature request:

Currently, the location of a temp directory is specified in the --sandbox_tmpfs_path. I want the path to be set on a per-test rule basis.

### Feature requests: what underlying problem are you trying to solve with this feature?

We have a mix of tests that use tmpdir in different ways. Some of them require very fast random accesses over small amou

[2018-09-20 18:44] cushon commented on #6012
If the issue is just avoiding building that target when you do `build ...`, there are a couple of work-arounds:

* adding `tags=["manual"]` will exclude it from target patterns like `...` and `:*` (https://docs.bazel.build/versions/master/user-manual.html#target-patterns)
* I think `vardef("ABSOLUTE_JAVABASE", "")` will create a default value for the variable

[2018-09-20 18:46] davido commented on #6012
Thank you! I will upload new CL with `tags=["manual"] ` added.

[2018-09-20 18:59] davido commented on #6012
OK, that didn't work:

[code]

[2018-09-20 20:08] ittaiz commented on #4502
Thanks for confirming.
Still I think that if the flag exists in the docs it should have release
notes. My 2c
On Thu, 20 Sep 2018 at 20:16 Chloe Calvarin <notifications@github.com>
wrote:

[2018-09-20 20:10] ittaiz commented on #6126
You mean in the original run? I don’t know.
In the repro I don’t remember but I think you’re right because the error is
indeed about the target not having all of the outputs.
On Thu, 20 Sep 2018 at 17:11 Jakob Buchgraber <notifications@github.com>
wrote:

[2018-09-20 20:19] jmmv commented on #2109
@jgavris The output base is different than the install base. The output base is specific to your project and you are responsible for getting rid of it via `bazel clean` if you want to (it's your data, so Bazel shouldn't get rid of it automatically). The install base is what's an artifact of how Bazel works today... and I think it's pretty hard to pile up 100GB of such data...

[2018-09-20 20:40] davido commented on #6012
Thanks you.

[2018-09-20 21:38] steeve commented on #6159
I think we can close this because #6164 fixed it

[2018-09-20 23:38] jin commented on #6187
@laszlocsomor, have you seen this error before?

[2018-09-21 00:49] mfarrugi commented on #4022
Any chance this is forthcoming?

cc: @damienmg

[2018-09-21 01:28] mfarrugi commented on #374
Echo'ing @kellycampbell, not easy to debug that bazel is unhappy with whitespace's in python's setuptools.

Luckily those files are safe to ignore..
[code]

[2018-09-21 02:53] llhe commented on #6191
This is resolved by adding:
[code]

[2018-09-21 02:53] #6191 closed

[2018-09-21 05:28] jin commented on #6193
Just for completeness, which NDK revision are you on?

[2018-09-21 05:34] jgavris commented on #6193
@jin r17b

[2018-09-21 05:40] wonderfuljamesjin opened #6195 "bazel build failed after updated command line tool in Mac"
hello

Recently I updated command line tool in my Mac as required, but after that,  my bazel build is not working, can you help advise how to fix it? thanks in advance

[code]

[2018-09-21 05:46] rdnetto4 commented on #1402
Note that another common use case for `provided` scope is OSGI boundaries - given some library A, a library B loaded within the same classloader should have a regular dependency on it, whereas a library C loaded in another classloader that OSGI-imports classes from A should have a provided-scope dependency on it.

[2018-09-21 06:52] laszlocsomor commented on #6187
@Kadanza : what's the build command you are running? Could you build with `--verbose_failures` flag and paste here the output?

[2018-09-21 07:22] NearLinHere opened #6196 "Bazel failed to build behind proxy"
### Description of the problem / feature request:
I would like to follow tensorflow example to build [generate_streaming_test_wav](https://www.tensorflow.org/tutorials/sequences/audio_recognition) to generate test wav. The Bazel version on my machine is 0.16.1.

The problem is when I use the command `bazel run tensorflow/examples/speech_commands:generate_streaming_test_wav`
, the following error m

[2018-09-21 07:23] pauldelmusica opened #6197 "Windows 7 Install: WARNING: An illegal reflective access operation has occurred"
Microsoft Windows [Version 6.1.7601]
Copyright (c) 2009 Microsoft Corporation.  All rights reserved.

C:\tensorflow-master>cd c:\bazel

c:\bazel>bazel-0.17.1-windows-x86_64.exe
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by com.google.protobuf.UnsafeUtil (file:/C:/U
sers/me/_bazel_me/install/360a69cc0fef41d83a4dd948c0474ca5/_embedded_binaries/A-

[2018-09-21 08:04] Kadanza commented on #6187
@laszlocsomor I just press Sync project with BUILD file button in android studio from Bazel Plugin

![default](https://user-images.githubusercontent.com/35968229/45868243-e1bb7f80-bd8d-11e8-82c3-44a427a24da2.png)

[2018-09-21 08:11] laszlocsomor commented on #6187
@Kadanza : Could you add the line `build --verbose_failures` to `c:\users\dmitry\.bazelrc`? To do so, you can just run this in Command Prompt:
[code]

[2018-09-21 09:57] steeve commented on #5585
Looking at this, support should be pretty simple it seems? Even almost working as-is?

[2018-09-21 10:28] Kadanza commented on #6187
@laszlocsomor
[code]

[2018-09-21 10:41] Kadanza commented on #6187
I don't understand how update MSVC. I download yesterday last version Microsoft Visual Studio

[2018-09-21 10:43] asuffield opened #6200 "Incorrect relative path combination on Windows"
When trying to get maven rules to work on windows, I happened to see this path appear:

H:/projects/foo/Z:/.m2/settings.xml

This will have arisen from the maven_server rule combining ".m2/settings.xml" with $HOME, and then with the workspace directory. The way it has combined paths to put a drive letter in the middle tells me that there must be a bug somewhere in the logic of Path.getRelative for

[2018-09-21 12:13] laszlocsomor commented on #6187
/cc @meteorcloudy

[2018-09-21 12:42] laszlocsomor commented on #5136
I wasn't aware, thanks for the info! Could be useful indeed. Though supporting the [Docker-based sandbox strategy](https://github.com/bazelbuild/bazel/blob/25f3217c9d528ab00a329aefbfa7e8d39f02c2d1/src/main/java/com/google/devtools/build/lib/sandbox/DockerSandboxedStrategy.java) on Windows may be more convenient than implementing native sandboxing.

[2018-09-21 13:06] laurentlb commented on #6164
Bazel 17.2 released: https://github.com/bazelbuild/bazel/releases/tag/0.17.2

(cc @vbatts @petemounce)

[2018-09-21 13:10] Kadanza commented on #6187
@meteorcloudy
I remove  VS 2017,  install VS 2015 from link and change BAZEL_VC , BAZEL_VS   and  it works now!

[2018-09-21 13:17] Kadanza commented on #6187
when i try to exucute mobile-install I have new error
[code]

![default](https://user-images.githubusercontent.com/35968229/45883453-d0886800-bdb9-11e8-969b-5d2c03d7e52b.png)

[2018-09-21 13:47] Kadanza opened #6201 "Use realm in Bazel Android Project"
I want use Realm in my android project. In gradle Realm requires  using annotation and some classes. You can see this in link, section  "Manual setup"
https://realm.io/docs/java/latest/#how-do-i-customize-dependecies-defined-by-the-realm-gradle-plugin

[code]

I gradle realm has import of class and annotation "kapt".

I dont know how to use annotation in Bazel.  Dagger generate classes such realm,

[2018-09-21 14:16] Kadanza commented on #6187
I install python 2.7, remove python 3. Add python to PATH. Reinstall windows. And got new error on sync.

[code]

[2018-09-21 14:28] laszlocsomor commented on #6187
Ah, now it's a long path issue.
Try adding this line to the `.bazelrc` file I mentioned earlier:
[code]

Here's a command to do that:
[code]

[2018-09-21 14:46] litghost commented on #5859
"Is it an important use-case, to use the same string in both genrule and your new rule? When you create a rule, you typically don't need a genrule anymore." -> Yes.

There are many cases where a genyourule already exists (sometimes multiple) and they live alongside custom rule/impl.  In general, the rule/impl are avoided when genrule's suffice given that the macro/genrule syntax is much simpler to

[2018-09-21 14:58] vbatts commented on #6164
https://copr.fedorainfracloud.org/coprs/vbatts/bazel/build/801272/
I tried it locally, and it compiled fine for centos. Hopefully #6150 is
not an issue any longer.

[2018-09-21 18:02] petroseskinder commented on #6050
@jin, @cushon any thoughts on restarting the server by performing a checksum on the local jdk?

[2018-09-21 18:24] cushon opened #6203 "DumpPlatformClassPath regression with --host_javabase=<jdk8>"
With Bazel @ c608f65820230becc01f00a9b2acf24a1b033ce3:

[code]

The failing action is invoking javac with the output directory set to a TreeArtifact.

https://github.com/bazelbuild/bazel/blob/999354b81a0639700cb460e9e49af858af1cbaca/tools/jdk/default_java_toolchain.bzl#L124

The JDK 9 javac will create its output directory if it doesn't already exist, but the JDK 8 javac will not.

Apparently `ctx

[2018-09-21 18:39] mmorearty opened #6204 "Should the state of --incompatible_symlinked_sandbox_expands_tree_artifacts_in_runfiles_tree affect the hashes of artifacts?"
### Description of the problem / feature request:

Bazel 0.17.2 has `--incompatible_symlinked_sandbox_expands_tree_artifacts_in_runfiles_tree`, which is described in the CHANGELOG.md. In short, it's an experimental flag that changes the way the `runfiles` directory works, and it is well known at this point that it has the potential to cause some existing Bazel rules to break. See https://github.co

[2018-09-21 18:52] laurentlb commented on #5264
I've tested the implementation. It seems to behave the same as Python3 and https://github.com/google/skylark/.

[code]

Bug: We should throw an error when comparing range objects:
[code]

Something interesting:
[code]

This returns False with the Go implementation; True with both Python3 and Bazel (I suppose it iterates over both ranges?).

Anything else we should test or consider?

[2018-09-21 19:05] cushon commented on #6101
Was this fixed? I thought we just suppressed the test. I was never able to reproduce these failures locally.

I don't think it's a P0, but it'd be nice to understand what happened.

[2018-09-21 19:15] jgavris commented on #2109
@jmmv my bad ... you're right. We actually quickly hit 100GB of artifacts in CI in one day doing about 10 variant builds of a medium / large codebase (debug and release configs for 5 different architectures).

[2018-09-21 19:16] cushon opened #6205 "add a --host_javabase=<jdk8> configuration to buildkite"
Can we add test coverage for `--host_javabase=<jdk8>` to buildkite? It's still a supported configuration, but it is currently untested and keeps getting accidentally broken, e.g.:

* https://github.com/bazelbuild/bazel/issues/6203
* https://github.com/bazelbuild/bazel/issues/6159
* https://github.com/bazelbuild/bazel/issues/6164#issuecomment-423059391

Having buildkite configurations for JDK 9 / 1

[2018-09-21 20:35] philwo commented on #6205
Is this LHS or RHS --host_javabase?

[2018-09-21 20:40] cushon commented on #6205
RHS. (LHS --host_javabase is now --server_javabase.)

--server_javabase coverage would be good to have too, though. Note that --server_javabase=<jdk8> is only supported when using the bazel_nojdk binaries.

[2018-09-21 20:46] cushon commented on #6205
--host_javabase=<jdk10> would be nice to have. That should work with the default java_toolchain, e.g. just:

[code]

The default --host_javabase is the embedded JDK 9, so testing with an explicit JDK 9 shouldn't provide a lot of additional coverage. It wouldn't hurt, but I'm not sure it's worth an additional full configuration.

[2018-09-21 21:26] robinp commented on #3320
Ok, Bazel 0.16 seems to have most of my problems fixed. For the remaining:

Could you clarify how should `action_env` work for Skylark rules? For example, there's a Kythe rule which has

[code]
and using this rule seems to not use the `action_env`, so the `extractor` dependency is attempted to be compiled without the right environment.

[2018-09-21 21:31] cushon opened #6206 "bootstrapping on JDK >= 9 is broken"
e.g. https://storage.googleapis.com/bazel-buildkite-artifacts/f6e0bdea-b4ad-43bd-8246-7eba12fa9382/src/test/shell/bazel/bazel_bootstrap_distfile_test/attempt_1.log

Repro:

[code]

https://github.com/bazelbuild/bazel/commit/999354b81a0639700cb460e9e49af858af1cbaca#diff-6acf6f84c08679912e878dd2f4de2e39L176 replaced a work-around for #6179 with a more general solution. However the bootstrap build is

[2018-09-21 21:37] cushon commented on #6206
I mailed a fix: cl/214045974.

[2018-09-21 22:39] mfarrugi commented on #4022
Similarly https://github.com/bazelbuild/bazel/blob/c361da0cb8b02e9616a13ffced10ef091a1f6219/src/main/java/com/google/devtools/build/lib/bazel/rules/python/python_stub_template.txt#L125-L127 is also incorrect, L125  should be `  runfiles = module_space` ...  or  L127 should be `return ('RUNFILES_MANIFEST_FILE', runfiles)` and a check like the former should be added..

I am not sure what the intende

[2018-09-21 23:08] Loquats opened #6207 "Errors while building bash_completion script on Mac"
### Description of the problem / feature request:
I cannot run `bazel build //scripts:bash_completion` to install shell completion. I'm looking at instructions here:
https://blog.bazel.build/2015/04/10/bash-completion.html

### Feature requests: what underlying problem are you trying to solve with this feature?
I'd like to use bash completion on Mac.

### Bugs: what's the simplest, easiest way to

[2018-09-21 23:53] cushon commented on #6197
This is the same issue as #6164.

0.17.2 was recently released, and include fixes for some instances of this problem. Can you try updating to it?

[2018-09-21 23:53] #6197 closed

[2018-09-22 00:55] cushon commented on #6197
Sorry, the fix I was thinking of was efdb3f6874fc1c11525bc66d51c109f9367aed36, which didn't make it into 0.17.2 It should be fixed at head, or in the next release.

Are the warnings causing anything to not work? They should be harmless (but annoying).

[2018-09-22 01:01] pauldelmusica commented on #6197
Nothing was installed

On Fri, Sep 21, 2018 at 5:56 PM Liam Miller-Cushon <notifications@github.com>
wrote:

[2018-09-22 01:18] cushon commented on #6197
Sorry, I'm not sure I understand: it looks like you successfully installed `bazel`, ran it, and it printed help text with some additional warning spam. What wasn't installed?

[2018-09-22 01:27] cushon commented on #6197
`bazel-0.17.2-windows-x86_64.exe` is the bazel binary. The installation instructions suggest renaming the executable and moving it somewhere on your path: https://docs.bazel.build/versions/master/install-windows.html#getting-bazel

[2018-09-22 01:33] pauldelmusica commented on #6197
OK. I see.

I thought it were the installation package.

On Fri, Sep 21, 2018 at 6:27 PM Liam Miller-Cushon <notifications@github.com>
wrote:

[2018-09-22 01:45] benjaminp opened #6208 "useless "remote" summary information"
Since 8b7aad41ea5ed3b62573e2e3fc569ef6dbd2848f, Bazel builds end with a line like this:
[code]
The "remote" numbers at the end are always zero. AFAICT, `AggregatedCriticalPath` is never instantiated with non-`EMPTY` `SpawnMetrics`.

[2018-09-22 01:46] benjaminp commented on #4965
Shall we reopen this, since 0e81f9aad49215fe4a13092e64384d9c0ef1ba76 reverted the fix?

[2018-09-22 15:31] j3parker commented on #5136
Cool! Makes sense.

[2018-09-23 04:28] ittaiz commented on #1289
@Globegitter Thanks! Used it now and it helped me :)
Do you know if anyone is planning on working on global `quiet=False` from outside?

[2018-09-23 04:31] ittaiz commented on #1289
@helenalt @aehlig this is another issue in the "bad onboarding experience" of developers. Mainly FYI since the current flag allows me to give it to people to use on first clone (it's probably two orders of magnitude too much logging but it's already there).

[2018-09-23 06:35] mirandaconrado commented on #6155
Seems to be fixed on 0.17.2, from a quick test.

[2018-09-23 11:55] ittaiz commented on #1289
I actually see that on [master](https://github.com/bazelbuild/bazel/blob/1950bf94ab7bd760e37f3f45b9878a7a6bf5e56f/src/main/java/com/google/devtools/build/lib/bazel/debug/DebuggingOptions.java) this flag has changed to `experimental_workspace_rules_log_file` and now accepts a file and writes to it.
I think it doesn't solve the use-case I'm referring to.
@aehlig wdyt?

[2018-09-23 18:30] jgennis opened #6210 "Error updating remote http_archive when --distdir is set in ~/.bazelrc"
### Description of the problem / feature request:

I'm getting an error using the --distdir command line argument in my ~/.bazelrc file when I update an http_archive that should be fetched from a remote server (i.e. it isn't found in the --distdir directory). It also looks like the bazel server needs to be restarted to detect that --distdir was removed from ~/.bazelrc.

### Bugs: what's the simple

[2018-09-24 08:08] ulfjack commented on #6155
I'm not aware of any change that could have caused this or any other report, but I'm much less involved in C++ rules these days.

@mhlopko, are you aware of this?

[2018-09-24 08:42] #6206 closed

[2018-09-24 08:51] #6203 closed

[2018-09-24 09:11] laszlocsomor commented on #6187
hm.. @hsyed, does the error in https://github.com/bazelbuild/bazel/issues/6187#issuecomment-423572470 look familiar, based on https://github.com/bazelbuild/bazel/issues/4586#issuecomment-402837477 ?

[2018-09-24 09:14] laszlocsomor commented on #6187
@Kadanza : the MANIFEST file (`C:/_bazel/iqeeg3eh/execroot/__main__/bazel-out/host/bin/external/io_bazel_rules_kotlin/src/main/kotlin/builder.exe.runfiles/MANIFEST`) is a text file, could you please check if it contains any lines with `lib/kotlin-compiler.jar` in them?

Please run this:
[code]
and paste the output here.

[2018-09-24 09:55] meteorcloudy opened #6211 "Support zip64 in //third_party/ijar:zip"
A tensorflow issue (https://github.com/tensorflow/tensorflow/issues/22390) revealed bazel's zip tool `//third_party/ijar:zip` doesn't support compressing file that's larger than 4GB.

https://github.com/bazelbuild/bazel/blob/0.17.1/third_party/ijar/zip.cc#L74

/cc @cushon

[2018-09-24 10:34] philwo commented on #5869
Hi @talya,

I agree - it sounds like this currently just won't work. Using the Docker strategy to run your tests sounds like the best option to me, because the caveats (due to the overhead, it's slower than using linux-sandbox) probably won't apply to running rather large integration tests.

If you need additional features for that (e.g. being able to specify a --network?), let me know and I'll se

[2018-09-24 11:21] laszlocsomor opened #6212 "runfiles, python: runfiles library doesn't work for sandboxed binaries"
If a `py_binary` runs in a sandbox and uses Bazel's runfiles library (in `@bazel_tools//tools/python/runfiles`), the library fails to initialize.

Repro:
1. create a py_binary with a data-dependency that uses the runfiles library to look up the runfile
2. create a genrule, add the py_binary to its `tools`
3. in the genrule's cmd, run the py_binary; observe that it fails to init the runfiles librar

[2018-09-24 11:51] BrentDouglas commented on #6131
Hi @cushon, sorry for the delayed reply.

Most of our devs have macbooks so we have been using brew to get bazel, our CI server is ubuntu and we've been using apt and I am on archlinux and have been using pacman. I'm not 100% sure which of these get binaries from the bazel team and which are built by maintainers but I would imagine that if they were they would be using the provided `-dist.zip`.

I

[2018-09-24 12:21] philwo opened #6214 "Two recent commits broke "nojava" platform"
Two recent commits broke the "nojava" platform on CI:

Last green build: https://buildkite.com/bazel/bazel-bazel/builds/4629#942cd665-197b-40f5-90a3-b39c461a3a47
First red build: https://buildkite.com/bazel/bazel-bazel/builds/4630#b1d3636d-1f1d-4566-aca0-3e25c67add66

The "bazel_java_test" started failing: https://storage.googleapis.com/bazel-buildkite-artifacts/cbffaf15-4e6b-440c-8c2d-942c9207895

[2018-09-24 14:27] laurentlb opened #6217 "Documentation of fdo rules"
Documentation (https://docs.bazel.build/versions/master/be/overview.html#language-specific-rules) mentions two sets of rules:
 1. `C / C++`
 2. `Cpp`

In the second set, the rules seem very underdocumented (https://docs.bazel.build/versions/master/be/cpp.html#fdo_prefetch_hints). What are they doing? Do we have examples of use?

[2018-09-24 15:17] laurentlb commented on #6160
In the second one, you get the signature of the function too:
`unexpected keyword 'executable', in method call write(File output, string content, bool executable) of 'actions'`

How can we make it clearer?

[2018-09-24 16:06] cushon commented on #6214
Sorry for breaking the build is unfortunate, but I'm not sure there's much to do here besides turn off those tests.

The regressions for the nojava platform were deliberate. From the RELNOTES for cc96464534c770dd9fa14eb2359aae4222420c25:

[2018-09-24 16:10] hsyed commented on #6187
@laszlocsomor [Windows is not yet fully supported](https://github.com/bazelbuild/rules_kotlin/issues/27) -- I got all the builder tests passing but these tests run in a mocked testbench.

This issue occurs in the [wireup of the builder](https://github.com/bazelbuild/rules_kotlin/blob/92a3cfc08f7f7551ddc1bf92cdc6defb1080b5ff/src/main/kotlin/io/bazel/kotlin/builder/toolchain/KotlinToolchain.kt#L68-L

[2018-09-24 16:55] ola-rozenfeld opened #6218 "Platform reuse rules"
It would be nice to be able to reuse existing platforms for defining other platforms. For example, we're using remote execution properties to turn on docker features like enabling network usage, or root access, or use a specific machine type for particular targets (multipool). Sometimes, extra constraints are needed to make sure the modified platform gets selected for a rule that has exec_compatib

[2018-09-24 17:00] wateryzephyr commented on #6155
Confirmed this issue is gone with 0.17.2. Closing the bug out.

[2018-09-24 17:00] #6155 closed

[2018-09-24 17:07] katre commented on #6218
I think the proper semantics is to add a new attribute to the existing platform rule, called "parent", and allow the newly-defined platform to inherit non-conflicting constraint values from the parent.

Straw man example:
[code]

One question: how should remote_execution_properties be handled when a platform extends another? Replace? Add some type of macro that can be expanded to the parent's remo

[2018-09-24 17:12] ob opened #6219 "Local fallback not working when remote cache times out."
When the remote cache times-out, I would have expected the `--remote_local_fallback` flag to fall back to building if the remote cache times out. However that is not what I'm seeing.

My `.bazelrc`:

[code]

and I'm building by running:

[code]

With bazel from GitHub as of today (4cba428ddb). But I can also reproduce with 0.17.1.

The error I get is:

[code]

[2018-09-24 17:21] ola-rozenfeld commented on #6218
Wait, if we could expand from ":some_platform" to its constraints and execution properties, we wouldn't even need the parent attribute, we could just reuse these directly, right? It would be a tad bulkier, but still achieve the main goal of not having to, for example, copy/paste the name of the docker image all over the build files.

[2018-09-24 17:34] ola-rozenfeld commented on #6218
Oh, so what did you mean by "Add some type of macro that can be expanded to the parent's remote execution properties?"

Wait, is it okay that we could never remove constraints from the parent using this approach? (I'm not sure if there's a use case for it anyway)
I would prefer to duplicate both attributes as extra_constraint_values and extra_remote_execution_properties to clarify that they are ad

[2018-09-24 17:44] katre commented on #6218
When I said "Add some type of macro that can be expanded to the parent's remote execution properties" what I was suggesting was that the platform rule define a special macro, say "{PARENT_REMOTE_EXECUTION_PROPETIES}", and when a platform has the parent attribute set, the remote_execution_properties has this expanded. This would be a one-off for just this property, but as an example, we could do:
[

[2018-09-24 19:17] brown opened #6221 "C shared libraries depend on libstdc++"
### Description of the problem / feature request:

When I build C shard libraries, they end up having a dependency on libstdg++.so.6.
I have not figured out a way to remove this dependency.

### Feature requests: what underlying problem are you trying to solve with this feature?

I want to build a shard library from C code that does not depend on libstdc++.

### Bugs: what's the simplest, easiest

[2018-09-24 19:55] c-parsons commented on #6153
vladmos@: awesome! Is there a good documentation source that we can point users to for using the tool to fix this?
I can draft a notice, but I want to make sure to link to the tool :)

[2018-09-24 20:49] det opened #6222 "cc_test in an external repository fails to run when using `--nolegacy_external_runfiles`"
### Description of the problem / feature request:

cc_test in an external repository fails to run when using `--nolegacy_external_runfiles`

### Feature requests: what underlying problem are you trying to solve with this feature?

When running bazel test the following error occurs:
`external/bazel_tools/tools/test/test-setup.sh: line 261: : command not found`

### Bugs: what's the simplest, easies

[2018-09-24 21:53] keith opened #6223 "Some environment variables not passed to persistent workers"
I'm working on creating a persistent worker to support incremental compilation [for Swift](https://github.com/bazelbuild/rules_swift/issues/48). In doing so, the first issue I hit, was the lack of required environment variables being passed to the newly created persistent workers.

When running the builds normally, this is the environment passed to the build:

[code]

But the persistent workers ar

[2018-09-24 22:15] petemounce commented on #6164
Pushed to chocolatey

[2018-09-24 22:15] samuela commented on #382
Are there any docs for rules_dotnet though?

[2018-09-24 22:59] keith opened #6224 "Support spaces in filepaths with Args object"
### Description of the problem / feature request:

Currently if you add filepaths that include spaces to an [Args](https://docs.bazel.build/versions/master/skylark/lib/Args.html) object and then configure it to be output to a file, the file paths are not quoted or escaped, which can lead to issues with the tools that end up consuming the files.

### Feature requests: what underlying problem are yo

[2018-09-24 23:31] benjaminp commented on #5633
Is this considered fixed now via 2c9c05b3960914b9120566bf680f2280c1857f82?

While I understand the old behavior was broken, it feels disingenuous to advertise the Starlark HTTP workspace rules as "drop-in replacements" for the native rules when they have significantly differing behavior like this.

[2018-09-24 23:54] benjaminp opened #6225 "Starlark http_archive's build_file attribute is not relative to the main workspace"
`new_http_archive`'s `build_file` attribute is documented to be dereferenced relative to the main workspace root. Thus, the following example using the builtin `new_http_archive` rule works fine:
[code]
However, it doesn't work with the Starlark `http_archive`:
[code]
Is this difference intentional?

[2018-09-25 01:29] keith commented on #6224
It looks like based on the documentation [here](https://docs.bazel.build/versions/master/skylark/lib/Args.html#set_param_file_format), this might be an intentional difference with the `multiline` format vs the `shell` format. Although it seems like in this case the `multiline` format would always require the consumer to correctly quote any arguments as needed. Is this the intention?

[2018-09-25 02:56] allevato commented on #6224
The underlying [`ParameterFile`](https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/actions/ParameterFile.java) implementation seems to confirm this. That being said, I think it would be unfortunate if the only way to get quoted paths is to give up multi-line params files, because multi-line files are much easier to work with when debugging or diagnosing pr

[2018-09-25 02:59] tomlu commented on #6224
It seems like a fairly pedestrian problem. I'm mostly a performance guy and
this doesn't really affect performance. The exact format is between the
rule author and their tools.

Put in a FR with a motivation and we'll see what the starlark guys say.

On Mon, Sep 24, 2018, 22:56 Tony Allevato <notifications@github.com> wrote:

[2018-09-25 03:07] brown commented on #4022
The HEAD of branch
    https://github.com/brown/bazel/commits/python-find-runfiles
has a commit that fixes this problem for me.

[2018-09-25 04:15] cushon commented on #6173
I forgot that we fixed protoc in 3.4:

https://github.com/protocolbuffers/protobuf/blob/4426cb573356c5ff710bff8ac8a1170baac7dcf0/src/google/protobuf/compiler/zip_writer.cc#L75

That might downgrade the priority a bit, and it explains why the protos in Bazel itself don't run into this problem. But moving from JDK 9 to 10 (or 11, which is going to be released tomorrow) is still a good idea.

@lberki

[2018-09-25 05:26] benjaminp opened #6229 "No way to disable the repository cache"
Ever since the repository cache was made the default, it's been impossible to disable. I would like some way to turn it off on the command line.

Here's why I'd like to disable it: For every archive, the repository cache and every workspace end up with a copy. Thus, the repository cache is a pessimization if only one workspace is ever going to use a given output user base.

[2018-09-25 05:55] davido commented on #5633
Yes, it was fixed, we were able to remove intermediate rename step: [1].

[1] https://gerrit-review.googlesource.com/c/gerrit/+/197090

[2018-09-25 06:56] mhlopko commented on #5866
Hi Zhang Xinye, could you pls try if this is still an issue? I think https://github.com/bazelbuild/bazel/commit/547bf42207fc0a84178e0ada7030550567869f13 fixed this.

[2018-09-25 07:10] keith opened #6230 "Allow merging Args objects"
Currently if you want to support persistent workers, you must pass a single Args object to your run action. This args file is read and passed as the WorkRequest to the persistent worker. Any other arguments are passed to the persistent worker as launch arguments.

If you build up your arguments in multiple steps into multiple [Args](https://docs.bazel.build/versions/master/skylark/lib/Args.html) o

[2018-09-25 07:34] mhlopko commented on #5785
I can repro, definitely a P1. Looking into it.

[2018-09-25 08:05] meteorcloudy commented on #6211
Yes, I added python zip support using `//third_party/ijar:zip`, because at that time the C++ implementation of singlejar didn't work on Windows.
An external contributor has been working on https://github.com/bazelbuild/bazel/issues/2241, I'll try to replace zip with singlejar here after it's done.
Thanks for the help!

[2018-09-25 08:32] meteorcloudy commented on #6187
@hsyed Thanks for trying to make rules_kotlin work on Windows. Adding some related information here

-  Rencently, I added support for [symlink runfiles tree](https://docs.google.com/document/d/1hnYmU1BmtCSJOUvvDAK745DSJQCapToJxb3THXYMrmQ/edit?usp=sharing) on Windows. You can use `--experimental_enable_runfiles` to enable it with Bazel@HEAD or the upcoming 0.18.0 release on Windows 10 (developer m

[2018-09-25 08:58] meteorcloudy commented on #2241
@rongjiecomputer Thanks again for working on singlejar for Windows! Looks like there are a few issues are related to it. (#4148 #6211 #6187) Is there anything we can do to help make progress on this?

[2018-09-25 09:37] lberki commented on #3015
We have the concept in core. I'm not sure if it's for a good reason, though. "data" runfiles means "the runfiles if this target is depended on through the "data" attribute. So if you want to mimic the behavior of Java rules, you need to have that.

If I had my way, we would abolish the concept altogether by making the "unified runfiles" be the union of data and normal runfiles. I don't know off th

[2018-09-25 13:09] ola-rozenfeld commented on #6218
Got it. Sure, sounds good! Let's do the macro, it's more flexible and more explicit. Thank you!

[2018-09-25 13:19] iirina commented on #6149
Was this fixed in more recent Bazel releases?

[2018-09-25 13:56] Yannic commented on #5145
@buchgr That's great to hear. I'm definitely interested in seeing this happen for the HTTP cache as well. I'll be busy for the next month or so, if no one else wants to pick this up until then, we can talk about some details.

[2018-09-25 14:47] rongjiecomputer commented on #2241
@meteorcloudy I am going to split #6031 into smaller PRs and send them out for review, then list down which tests pass and which tests fail so that we can try to coordinate who wants to work on which.

[2018-09-25 15:02] meteorcloudy commented on #2241
@rongjiecomputer Sounds good to me! Just ping us when you are ready. Thank you!

[2018-09-25 15:04] mhlopko commented on #5785
Root cause - error propagating middlemen artifacts don't get invalidated properly, plus they don't compute their cache key using expanded tree artifacts. Fix in the baking.

[2018-09-25 15:05] mhlopko commented on #5785
This is a nice issue, thanks for reporting :)

[2018-09-25 15:12] xingao267 commented on #6151
https://github.com/bazelbuild/bazel/commit/efdb3f6874fc1c11525bc66d51c109f9367aed36 seems not cherry-picked in 0.17.2. Will it be included in 0.18 @aehlig?

[2018-09-25 15:13] laurentlb opened #6233 "toolchain type is not documented"
Apparently, there's a rule in BUILD files called `toolchain type`, but I don't see it in the documentation.

https://docs.bazel.build/versions/master/be/overview.html

[2018-09-25 15:26] agoulti commented on #1289
I'm working on the experimental_workspace_rules_log_file flag, and you're right, I don't think it fits your use case. The motivation for the flag is to allow deep inspection of certain potentially non-hermetic behaviors during build. It will necessarily be verbose, but also being real-time was never a requirement for us.

Sounds like what you want is some special print function in Skylark that wou

[2018-09-25 15:41] pauldraper commented on #6230
A workaround is to include the path to the second arg file as a argument in the first, or and arg file that has paths to both arg files.

[2018-09-25 15:59] laurentlb commented on #6119
In general, it's hard to provide a better error message for this. The interpreter doesn't know a symbol, it's hard to provide more information.

This particular issue is due to the `native` module. I agree it's not well designed: the fact that the function is not called the same way in BUILD and bzl files is indeed confusing. I would like to fix that, and I remember discussions about possible chan

[2018-09-25 16:03] tomlu commented on #6230
What's the reason you can't build them up as a single Args object?

[2018-09-25 16:54] mhlopko commented on #6052
Ouch. A lot of ouch.

[2018-09-25 16:56] keith commented on #6230
👍

We could definitely do that, if that's the recommendation that's fine. It would just require us to pass the original args objects to the other function, this seems a bit weird because ideally they shouldn't know about each other like that. Alternatively I could change one to return a list instead of using an Args object and use that with `add_all`.

I thought since Args are emulating lists, it

[2018-09-25 17:12] tomlu commented on #6230
I don't think this can work. The rule author does not know what the path is at analysis time.

If you use lists I imagine that you'd lose a lot of the efficiency benefit, so probably don't do that.

The natural API would be to allow nesting, but then I have to add code to respect parameter files during that nesting. This isn't so trivial.

If we merge it raises the question of what happens to the

[2018-09-25 17:45] c-parsons opened #6237 "Improve in-build Starlark Testing"
This is a tracking issue for work proposed in Improving [In-Build Starlark Testing
](https://docs.google.com/document/d/17P2sgC6VPmcA7CcqC2p4cfU2Kaj6dwKiQfIXhtXTzl4).

[2018-09-25 18:40] keith commented on #6230
In this case the place I would replace with a list will only ever have 3 arguments, so I'm assuming that would end up ok

Great question, as a consumer I would assume the Args object being merged into would "win" but I think if it's documented well either approach could work.

For persistent workers this doesn't seem acceptable. The first file is passed as the `WorkRequest` but the second file is

[2018-09-25 18:41] pauldraper commented on #6230
They can. https://docs.bazel.build/versions/master/skylark/lib/actions.html#write

I imagine concentrate.

That does, except in @keith's case of workers, where Bazel will send only one (I think?) of the arg files as a work request.

[2018-09-25 18:45] tomlu commented on #6230
Sure if you manage your param files manually then you can know. This creates additional actions and is generally not as efficient as if you let the system manager your param files. If you use Args#use_param_file then the system controls the path.

But as a workaround you could do this.

That's the nested issue right there. I have to keep track of where you inserted the nested Args object during ev

[2018-09-25 18:57] ittaiz commented on #1289
Thanks. It sounds like your work is not really related to this issue since AFAIU the people commenting here are discussing pretty much the same use case of the developer staring at the screen.
It sounds like adding a command line flag to globally toggle quiet=false will greatly advance the status and doesn’t require a big skylark design. @laurentlb wdyt?

[2018-09-25 19:04] ittaiz commented on #6229
Do you know there’s an (experimental) flag to hardlink from the repository
cache to the workspace one?
This doesn’t mean you’re not right but just trying to unblock you.
Also note there is a separate more general issue about unsetting command
line flags.
On Tue, 25 Sep 2018 at 8:26 Benjamin Peterson <notifications@github.com>
wrote:

[2018-09-25 19:08] laurentlb commented on #1289
This is really for @aehlig or @dkelmer

[2018-09-25 19:43] 10or10 opened #6238 "No "multiple definition of main" linker error on Linux when multiple deps provides it"
### Description of the problem / feature request:

Multiple definitions of main in the same cc_test should trigger an linker error.

### Feature requests: what underlying problem are you trying to solve with this feature?

Avoid arbitrary (?) selection of main function when multiple dependencies provide a main function.

The order seem to be main-functions in srcs is selected before dependencies (

[2018-09-25 20:06] philwo commented on #6219
We're seeing this on CI a lot, too and it's causing jobs to fail.

Example:
https://buildkite.com/bazel/google-bazel-presubmit/builds/9435#b624626c-2ed5-442d-9da6-e1fbaf3f7358
Couldn't build file src/bazel: Executing genrule //src:bazel-bin failed: Unexpected IO error.: Exhaused retry attempts (0)

@buchgr We might have to disable remote caching on CI if we can't come up with a fix tomorrow. :(

[2018-09-25 20:07] philwo commented on #6219
Ping @ola-rozenfeld - any idea what might cause this and/or how we could fix it?

[2018-09-25 20:11] gjasny commented on #6149
Hi,

Bazel 0.17.2 fails, 0.18.0rc4 works.

Thanks,
Gregor

[2018-09-25 20:26] mingtaozhangsc opened #6240 "build failure after upgrading to xcode v10 in mac"
### Description of the problem / feature request:

Bazel build failure after upgrading to xcode v10 in mac.

### Feature requests: what underlying problem are you trying to solve with this feature?

N/A

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

1. upgrade to xcode v10
2. bazel build a project involving `java_doc_comment.cc`

#

[2018-09-25 20:48] c-parsons opened #6241 "Tracking issue for Starlark Rule Output API changes"
This will serve as a tracking issue for the proposal found at [Fixing Starlark Rule Outputs](https://docs.google.com/document/d/14A9HK8Jn2jErMayLEE3nrNJIxNfZWN_slFbhgtS6-aM)
(attached to semantics flag `--incompatible_outputs_api`)

[2018-09-25 22:08] robfig opened #6242 "Bazel 0.17.2: "Unrecoverable error while evaluating node ActionLookupData" with remote cache"
### Description of the problem:

Since upgrading from Bazel 0.14 to 0.17, we see occasional failures on CI (TeamCity) due to an exception in the Remote Cache code (we use the remote cache, with both CI and developers reading and writing).  In all known cases, re-running the build has resulted in it succeeding.

### What operating system are you running Bazel on?

Our CI runs Linux CentOS 7

### Wh

[2018-09-25 22:09] benjaminp commented on #6229
Hardlinks and the fact that the repository cache `touch`es cache files on hit cause unnecessary work on COW filesystems like overlayfs.

[2018-09-25 22:16] robfig commented on #6242
Here's another trace. I just noticed they are slightly different

[code]

[2018-09-25 22:18] benjaminp commented on #6238
This is just a reflection of the fact that Bazel links binaries dynamically by default and the Linux dynamic linking behavior. If you pass `--dynamic_mode=off` or set `linkstatic = True` in the `cc_test` rules, the linker will fail.

[2018-09-26 02:06] cushon commented on #6179
This was resolved by 999354b81a0639700cb460e9e49af858af1cbaca and 8e4ddb6f5ef9f2477a55ebad974dba17a900dff7.

[2018-09-26 02:06] #6179 closed

[2018-09-26 02:07] #6159 closed

[2018-09-26 04:47] cushon commented on #6214
@philwo WDYT about just turning off the nojdk build? The failures are the desired outcome of #6105.

[2018-09-26 04:49] cushon commented on #6150
@vbatts are you still seeing this problem?

[2018-09-26 04:51] cushon commented on #6067
@hsyed did you have a chance to try out any of the options I mentioned?

[2018-09-26 04:52] ittaiz commented on #6149
I think we’re seeing this as well (trying to double check).
Will this be in a 0.17.3? A bit concerned about waiting for 0.18 since
we’re still handling repercussions from the 17 upgrade
On Tue, 25 Sep 2018 at 23:11 Gregor Jasny <notifications@github.com> wrote:

[2018-09-26 04:58] softprops commented on #5131
I'm trying to revive this. I've reached back out to the discussion group to seek direction https://groups.google.com/forum/#!topic/bazel-discuss/v9XAyA1LVKo

[2018-09-26 05:00] cushon opened #6245 "Support for JDK 11"
As of today (2018-9-25), JDK 11 is generally available: http://jdk.java.net/11/.

Bazel should support it, including:

- [x] JDK 11 host runtime support (`--host_javabase`) [#7219]
- [x] JDK 11 target runtime support (`--javabase`) **[done]**
- [x] support for the Java 11 language level (`--java_toolchain`/`--host_java_toolchain`)

[2018-09-26 05:04] philwo commented on #6214
Yes, I think that's fine.

However, in addition to that I think we have to carefully consider what kind of installations we want to support in Bazel - for example, should Java builds work on a system without a system JDK, but when specifying a --host_javabase / --javabase that's checked into the user's repo or that comes from an external repo? So maybe we have to add a pipeline config for that cas

[2018-09-26 06:43] Kadanza opened #6247 "No such package Failed to fetch Maven dependency"
`No such package '@com_android_volley_volley//jar': Failed to fetch Maven dependency: Could not find artifact com.android.volley:volley:jar:1.1.0 in com_android_volley_volley (https://repo1.maven.org/maven2/) and referenced by '//app:src_base'.`

What is wrong? How use maven external library such as volley?

**Build** file
[code]
**Workspace**

[code]

[2018-09-26 07:48] iirina commented on #6149
No one is working on a 0.17.3, most probably it has to wait for 0.18. You can ask on the [0.17.2 issue](https://github.com/bazelbuild/bazel/issues/6164) if the release manager thinks it makes sense to release another patch.

I'll close this as the fix was committed.

[2018-09-26 07:48] #6149 closed

[2018-09-26 07:50] iirina commented on #6238
I'll close this as Benjamin addressed the question.

[2018-09-26 07:50] #6238 closed

[2018-09-26 09:05] mhlopko commented on #4571
Reopening to track migration using incompatible flag.

[2018-09-26 09:28] #6164 closed

[2018-09-26 09:36] jmmv opened #6252 "Crash because of "Could not initialize class sun.security.ssl.SSLContextImpl$DefaultSSLContext""
With a Bazel built from head 73516f333f75c037d25c82f23cc5ee0731f05308 and on macOS Mojave, I tried the following in Bazel's own source tree at that revision:

[code]

I wouldn't be surprised if the very first error (the one about `ABSOLUTE_JAVABASE`) is not related... but I haven't investigated.

[2018-09-26 09:52] jmmv commented on #988
Just stumbled upon this bug by chance.

How does passing `-j N` to `make` from within a rule behave though? Bazel itself may already be using N jobs so telling `make` to use N as well will result in machine overload -- and I don't think there is a way you can control that unless your make-based build is in the critical path of every single target.

Worse: if your target happens to be built remotel

[2018-09-26 10:07] dslomov commented on #988
сс @irengrig

[2018-09-26 10:48] alexandrvb opened #6253 "repository_ctx.symlink on a large directory take a lot of time"
### Description of the problem / feature request:

repository_ctx.symlink on a 11G directory takes about 5 min between creating symlink and creating .marker file

### Feature requests: what underlying problem are you trying to solve with this feature?

We are creating symlink of python anaconda directory to our workspace

### What operating system are you running Bazel on?

Ubuntu 16.04

### What'

[2018-09-26 11:03] iirina opened #6254 "Output the actual path of virtual include headers in the coverage report"
The code coverage report must include the actual paths to header files instead of the ugly,
Bazel generated, virtual includes path.

For example, the `SF:` (source file) lines in the coverage report must look like this:
[code]
instead of
[code]

[2018-09-26 12:20] iirina opened #6257 "Include coverage results for cc binaries called from sh_test in the Bazel coverage output file"
Currently Bazel only outputs coverage results for java binaries called within a sh_test.

[2018-09-26 14:21] ola-rozenfeld commented on #6219
Yes, this is my bad, I'm very sorry, this was regressed by https://github.com/bazelbuild/bazel/pull/5917. Note how in this change we rethrow https://github.com/bazelbuild/bazel/pull/5917/files#diff-1bc490926cdfbdaf2b6d5292238dfb97R190 all exceptions that are not cache misses, instead of warning on them. Will send a fix right away, sorry! (FYI @werkt )

Btw, local fallback flags are not relevant to

[2018-09-26 14:49] werkt commented on #6219
It is up to the bazel team to decide what classes of exceptions are not to be silently ignored and funnelled into cache misses. And to that end, it may be a part of delegating it to the user, asking that they be willing to specify to accept timeouts, unavailable caches, auth errors, etc, all as cache misses, or some configured set of the above, and with what noisiness.

[2018-09-26 15:02] ola-rozenfeld commented on #6219
Not silently, it did print a warning before. I think that's still the right thing to do -- if the user sees lots of warnings, they will realize the remote cache is not working at all (they will also see it in the final status of number of cache hits). Not sure how we could allow more finely grained control.

[2018-09-26 15:08] jin commented on #6247
Volley is an AAR, not a JAR.

Please try the following using `aar_maven_import_external`:

[code]

[2018-09-26 15:16] benjaminp commented on #6152
You need to write `$(location subdir/fun.lds)` now. This was an intentionally deprecated feature; in old Bazel versions you could flip it with `--noexperimental_expand_linkopts_labels`.

[2018-09-26 15:31] ob commented on #6219
What I think would help is some statistics at the end of the build that can be tracked. They should include remote cache failures. I think cache hits doesn't really convey the right information. If I see a sudden drop in cache hits, was it because the code changed a lot? Maybe the toolchain changed? I would rather see remote cache failures explicitly listed.

[2018-09-26 16:05] hsyed commented on #6067
Not in anger. I’ll test it properly over the next week.

[2018-09-26 16:16] #6219 closed

[2018-09-26 16:16] ola-rozenfeld commented on #6219
I agree, let's file a separate feature request of having a better unified approach (tracking) for various remote failures (caching, execution, BEP). Currently, we do different things for all three.

[2018-09-26 16:47] keith opened #6260 "Building iOS resources causes bazel to cache a file for the null sha"
Currently if you build an iOS target that has resources (storyboards or asset catalogs in my testing) bazel will end up caching a file for the null sha `e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855`. With remote caches this results in failed builds if you accept this file in your cache.

You can reproduce this with one of the sample projects in [rules_apple](https://github.com/

[2018-09-26 17:47] bayareabear commented on #6260
We saw the same issue, and we work around with our remote cache to handle empty sha as well

[2018-09-26 18:03] philwo commented on #6214
For reference, here's the list of broken tests (links go to log files):

- [//src/test/py/bazel:launcher_test](https://storage.googleapis.com/bazel-buildkite-artifacts/8b66c620-3a46-4fc1-9fa4-b0d4fbfdd0fc/src/test/py/bazel/launcher_test/attempt_1.log)
- [//src/test/py/bazel:runfiles_test](https://storage.googleapis.com/bazel-buildkite-artifacts/8b66c620-3a46-4fc1-9fa4-b0d4fbfdd0fc/src/test/py/baze

[2018-09-26 18:18] keith commented on #6223
`DEVELOPER_DIR` is also missing from the persistent worker env here

[2018-09-26 18:31] philwo commented on #6176
I'm really sorry, I currently don't have time to look into this in much detail. :( If you can give me a step of commands to run with which I can repro the failure, I can run a git bisect and find the commit that broke this.

I need something like "brew install some_dependency, then npm install other_dependency, git clone http://this/repo, then cd repo and bazel build //some:target, this works with

[2018-09-26 21:13] schroederc opened #6261 "`--experimental_repository_resolved_file` output not deterministically ordered"
### Description of the problem / feature request:

Follow https://blog.bazel.build/2018/07/09/bazel-sync-and-resolved-file.html.  Near the bottom the post mentions "As resolved.bzl is pretty-printed, the diff is meaningful".  However, running `echo 'resolved = []' > resolved.bzl; bazel sync --experimental_repository_resolved_file=resolved.bzl` results in a different ordering of repositories in `re

[2018-09-26 21:16] keith commented on #6223
Ok I think I discovered why this is the case. When building locally we hit this codepath: https://github.com/bazelbuild/bazel/blob/18bd7dec9609ff8924d9ebed5f14be523df4eec0/src/main/java/com/google/devtools/build/lib/sandbox/DarwinSandboxedSpawnRunner.java#L224-L225 which adds the variables we want from here https://github.com/bazelbuild/bazel/blob/1f684e1b87cd8881a0a4b33e86ba66743e32d674/src/main/

[2018-09-26 21:16] keith commented on #6223
@allevato assuming you have some context on these, any thoughts?

[2018-09-26 21:36] allevato commented on #6223
I've run into the same problem in my worker prototype, and my solution was to hack it by having my wrapper set DEVELOPER_DIR and SDKROOT by querying xcode-select/xcrun manually if they're not already set. Not ideal.

[2018-09-26 21:40] bayareabear commented on #6219
@ola-rozenfeld, how is the remote cache timeout is determined or set? I see my cache server answered the get request with "200", but still hit "Unexpected IO error.: Exhausted retry attempts"

[2018-09-26 22:17] ob commented on #1802
Is `objc_proto_library` ready. to be used now @sergiocampama ? I'm still getting the same error:

[code]

[2018-09-26 22:51] ob commented on #6072
Is this going to help `objc_library` loading so many more dependencies than `cc_library`?

[2018-09-27 02:16] kastiglione commented on #3902
We ran into this, wanted to have a `string_dict` attr whose values could be configurable. For example:

[code]

I ended up on a solution that does provide this interface, but complicates the implementation. The approach is to add a macro layer above the rule (which generally wouldn't be used directly). The macro destructures the dictionary into static and configurable pieces. The configurable part

[2018-09-27 05:06] cushon opened #6262 "TreeArtifacts output directories aren't created with sandboxing enabled"
With sandboxing enabled, Bazel doesn't create output directories for TreeArtifacts, and tools have to create them manually. The output directories should be created for consistency with other spawn strategies.

This issue was the underlying problem in https://github.com/bazelbuild/bazel/issues/6203.

Repro:

* build bazel @ e856d82e50c5b065fd1d42a75b1b895001944034

[code]

[code]

Building with sa

[2018-09-27 05:19] benjaminp opened #6264 "--action_env not documented in the user manual"
`--test_env` is documented on https://docs.bazel.build/versions/master/user-manual.html, but `--action_env` isn't.

[2018-09-27 06:57] lberki commented on #6173
As discussed in private, I'm mostly afraid of doing *another* possibly-breaking change without a flag.

[2018-09-27 07:08] Kadanza opened #6265 "Dagger : error loading package. Extension file not found"
I want run dagger in bazel project for android. I set up dagger https://github.com/google/dagger#installation and got error.

Error:(7, 1) error loading package '@com_google_dagger//': Extension file not found. Unable to load package for '@google_bazel_common//tools/jarjar:jarjar.bzl': The repository could not be resolved and referenced by '//app:AndroidBazelExample'

**with
http_archive(
    name

[2018-09-27 07:45] mhlopko commented on #6072
Nope, it will only help with not loading C++ toolchain in the loading phase, only in the analysis phase (which is a prerequisite for migrating C++ rules to platforms). I'm not sure I know which issue are you referring to?

[2018-09-27 07:52] edbaunton commented on #6016
Not sure if you are attending after bazelcon but this might be a good ticket to pickup in the hackathon, registration for that is still open: https://bloomberg.recsolu.com/external/events/exAj_wQthjKQfYdkKwaejw

[2018-09-27 10:32] philwo commented on #6214
Thinking about it: We can't easily test anything meaningful on that platform, because the "bazel" that is run on that pipeline is of course the latest released version of Bazel, not the Bazel built from a given commit. Thus, running "bazel build //example/cpp/..." only tells us that the latest release Bazel is still able to compile C++ on that platform. Nice to know, but not what we wanted to test

[2018-09-27 10:36] lberki commented on #6214
Well, that's a very compelling argument indeed.

[2018-09-27 11:39] zackarychapple commented on #6176
@manekinekko do you have a link to a branch that is having the issues for xLayers?

[2018-09-27 11:58] philwo commented on #6176
@dslomov Tobi said you know stuff about runfiles - could you have a look?

[2018-09-27 12:06] manekinekko commented on #6176
This is the [branch](https://github.com/xlayers/xlayers/tree/bazel-support)

[2018-09-27 12:43] steeve opened #6266 "Apple CROSSTOOL generator ignores xcode_version"
### Description of the problem / feature request:

When multiple Xcode versions are installed, Bazel will generate a CROSSTOOL that doesn't choose the Xcode version selected by `--xcode_version`.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

### What operating system are you running Bazel on?

macOS

### What's the output of `baze

[2018-09-27 13:52] nicolasalt commented on #5974
Still reproducing on Bazel 0.17.2:

Build label: 0.17.2
Build target: bazel-out/k8-opt/bin/src/main/java/com/google/devtools/build/lib/bazel/BazelServer_deploy.jar
Build time: Fri Sep 21 10:31:42 2018 (1537525902)
Build timestamp: 1537525902
Build timestamp as int: 1537525902

[2018-09-27 13:56] nicolasalt commented on #5974
The error references EnvironmentBackedRecursivePackageProvider so [this fix](https://github.com/bazelbuild/bazel/commit/6f8e36be464829d9cd36e7692653e4cd99d344e9) probably didn't make it to 0.17.2:

Caused by: java.lang.IllegalArgumentException: ignore is not beneath a
	at com.google.common.base.Preconditions.checkArgument(Preconditions.java:440)
	at com.google.devtools.build.lib.vfs.PathFragment.c

[2018-09-27 14:42] aehlig commented on #5963
We will have to create a new release candidate with bf6a63d64a010f4c363d218e3ec54dc4dc9d8f34 cherry-picked as well for #6219.

[2018-09-27 14:56] philwo commented on #2832
I think it shouldn't take long - days for a first prototype, weeks for a first complete version maybe? This would only concern the Bazel side though, I can't speak about updating existing workers to take advantage of the new protocol.

All the worker related code in Bazel is concentrated here: https://source.bazel.build/bazel/+/master:src/main/java/com/google/devtools/build/lib/worker/ - so you do

[2018-09-27 15:18] davidmorgan commented on #2832
From the Dart side: parallel requests in one worker isn't super exciting since Dart is single threaded. We're planning on experimenting with build performance in Q4, we might have some suggestions for worker protocol changes of our own. (Not super high probability, though; 20% maybe).

[2018-09-27 16:05] cushon commented on #6214
You could explicitly configure there to not be a `--javabase` when running the c++ tests: `--define=ABSOLUTE_JAVABASE=/not/a/JDK --host_javabase=@bazel_tools//tools/jdk:absolute_javabase --javabase=@bazel_tools//tools/jdk:absolute_javabase`.

[2018-09-27 16:14] mprobst commented on #2832
Same on the TypeScript side, our workers are necessarily single threaded,
so this wouldn't help us.

[2018-09-27 16:21] cushon commented on #2832
@kevin1e100 might be interested in this for kotlin.

Javac is single-threaded, but I think this would allow us to run multiple instances of it in one worker and share a cache and memory footprint, instead of having multiple workers which starts to use a lot of memory and means any caching takes a long time to work up. How do Dart and TypeScript avoid those issues with the current approach?

[2018-09-27 16:37] buchgr commented on #5131
I think HTTP redirects are not ideal for GET requests and make no sense for PUT requests.
For GET requests this adds an extra roundtrip. The protocol is very sensitive to roundtrips.
For PUT request we would be transferring one BDP worth of data before receiving the
redirect. So we would be uploading lots of data for no reason. So I would lean towards not
supporting http redirects in the caching p

[2018-09-27 17:13] rmichela commented on #6195
I was able to work around the problem by downgrading to `Command Line Tools (macOS 10.13) for Xcode 9.4.1` from https://developer.apple.com/download/more/

(Apple ID required)

[2018-09-27 17:20] rmichela commented on #6195
Looks like this happened before with a different release of command line tools #2852

[2018-09-27 18:09] tetromino commented on #6260
If you look in --experimental_execution_log_file output (after converting it using execlog parser), you will see lots of entries like:

    inputs {
      path: "/dev/null"
      digest {
        hash: "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
        hash_function_name: "SHA-256"
      }
    }

This seems to be quite reasonable (tools may want to read from /dev/null under

[2018-09-27 18:13] keith commented on #6260
When I try to `bazel build` using the cache after having built once and accepting this file on the cache side, the build actually fails.

Just based on the difference that if I stop saving keys for that sha from the cache, the builds no longer fail

[2018-09-27 18:27] keith commented on #6260
It's a private implementation. Nothing interesting or different in the logs besides the change between a 404 or 200.

[2018-09-27 18:35] kevin1e100 commented on #2832
Right even with single-threaded underlying tools, if they can safely be run in parallel, that can still be a win I would think.  But from my point of view this really shines when the worker wants to do some kind of caching (example below) or incremental scheme (e.g., Java compilation is typically incremental in the Eclipse IDE IIUC).  Bazel's DexBuilder worker for Android builds for instance uses

[2018-09-27 18:51] schroederc commented on #1034
Any update on this?

[2018-09-27 19:07] softprops commented on #5131
In our case, we actually have something like this, a persistent server that runs proxies requests and writes the data to cache.

The problem we're trying to solve is to reduce the operational cost and maintenance on that. We're looking towards aws lambda and leveraging s3 signed get/put urls do the heavy lifting. The redirect roundtrip in our case was something we'd were conscious of but for us th

[2018-09-27 19:18] #6193 closed

[2018-09-27 22:01] hsyed commented on #4584
I need a solution that ensures the `kt_jvm_imports` have "Target-Label" set in the manifest for strict deps support. (I haven't checked if the scala jars from `scala_import`  have these set either).

The solution in my last entry just doesn't seem right.

@tomlu In this case I am using `kt_jvm_import` on a filegroup created by `bazel-deps` I have to do it in a seperate directory.

[2018-09-27 22:42] schroederc commented on #4463
I just hit this in the context of trying to get https://github.com/google/kythe/tree/80edc69ef3165427ea8159d53f207888629ff75b/third_party/llvm/src/BUILD#L45 to build as an external repository.  It's not possible to build `@io_kythe//third_party/llvm/src:clang_builtin_headers` while it *is* possible to build `//third_party/llvm/src:clang_builtin_headers` (even if `io_kythe` is the primary workspace

[2018-09-27 22:50] jjudd commented on #2832
Thanks for the estimate @philwo. We are starting work on this. @borkaehw is leading the implementation our end. We'll keep people updated as we make progress, propose designs, etc.

[2018-09-27 23:29] jin opened #6268 "android_instrumentation_test: NoClassDefFoundError on Espresso class"
### Description of the problem:

While running a simple Android instrumentation test, the test complains of a missing runtime class `android.support.test.espresso.base.BaseLayerModule_ProvideFailureHanderFactory`:

[code]

However, if we dexdump the `classes.dex` in the Test APK, we find that the class exists:

[code]

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provid

[2018-09-27 23:45] ShigekiKarita commented on #1661
I also found `./bazel-0.17.2-installer-linux-x86_64.sh --user --prefix=/mnt/ae0fa180-1e4d-4945-8f63-f64615d07b30/local` ignores `--prefix` and installs into `$HOME/bin`

[2018-09-28 04:45] ittaiz commented on #6126
Interesting. Re remote caching you mean if this exception were to happen on
an RBE worker, for example, it would also poison the cache?
On Thu, 27 Sep 2018 at 16:22 Jakob Buchgraber <notifications@github.com>
wrote:

[2018-09-28 06:14] benjaminp commented on #6136
This is a rather disturbing error that looks like either an internal protobuf bug or a HotSpot bug. I'm leaning towards that latter, since it appeared with the embedded Java 9 upgrade. `--host_jvm_args=-XX:-InlineUnsafeOps` seems to make the problem go away.

[2018-09-28 08:21] aehlig commented on #5963
scripts/release/release.sh create --force_rc=5 0.18.0 c062b1f1730f3562d5c16a037b374fc07dc8d9a2 2834613f93f74e988c51cf27eac0e59c79ff3b8f 2579b791c023a78a577e8cb827890139d6fb7534 faaff7fa440939d4367f284ee268225a6f40b826 b073a18e3fac05e647ddc6b45128a6158b34de2c

--
Klaus Aehlig
Google Germany GmbH, Erika-Mann-Str. 33, 80636 Muenchen
Registergericht und -nummer: Hamburg, HRB 86891
Sitz der Gesellschaf

[2018-09-28 08:44] aehlig commented on #5963
rc6 is now available at https://releases.bazel.build/0.18.0/rc6/index.html

Please test. Unless new issues are reported, 0.18.0 will be released on Monday or Tuesday.

[2018-09-28 11:09] buchgr commented on #6126
@ittaiz no if the exception where to happen locally in Bazel but the remote action succeeds. it's the same code path as the local disk cache.

[2018-09-28 11:10] buchgr commented on #2832
@jjudd it would be great if you could share a design document with bazel-discuss / bazel-dev before doing the implementation. We are happy to review it and give pointers! Thanks so much!

[2018-09-28 11:10] dslomov commented on #6176
When I try to run `bazel run @yarn//:yarn`, I get
[code]
Your WORKSPACE file has
[code]
but my checkout does not have `node_modules/@bazel/typescript`. How do I get that? (I guess I need to say `npm install` something or other?)

[2018-09-28 12:47] buchgr commented on #6229
@aehlig as the owner of the repository cache.

[2018-09-28 12:49] buchgr commented on #6208
@benjaminp that seems like an unintended consequence of the change. @ulfjack as the author.

[2018-09-28 12:56] davidmorgan commented on #2832
@cushon users of bazel+workers+Dart are google internal--we just use a lot of RAM.

[2018-09-28 13:02] philwo commented on #6204
Absolutely, yes! And we should take that we do this for other flags influencing the outputs of an action in the future.

@ulfjack Any idea how we could do so easily? Looks like we already have the "AFFECTS_OUTPUTS" OptionEffectTag, but I'm not sure if we actually use that information when computing action hash keys?

[2018-09-28 13:18] aehlig commented on #6229
I'm not sure I understand that comment. The default repository cache is shared between workspaces.

[2018-09-28 13:27] ulfjack commented on #6208
(The critical path computation is also buggy, so don't trust it too much.)

[2018-09-28 15:18] jgavris commented on #6136
Sorry to chime in, but we've been seeing this too. I suspect it could also be that the cache is poisoned and somehow a partial object was written to the cache? And when it is read back, this assertion is thrown.

[2018-09-28 15:20] ittaiz commented on #2832
Cc @johnynek since we (rules_scala) also use a persistent worker and I
think we’d love for this feature as well
On Fri, 28 Sep 2018 at 15:57 David Morgan <notifications@github.com> wrote:

[2018-09-28 16:06] benjaminp commented on #6229
Sorry for not being clear. What I meant is that if I know there's only ever going to be one workspace, the repository cache is a waste because you end up with two copies of all archives.

[2018-09-28 16:07] Profpatsch opened #6271 "`repository_rule` should have a `doc` argument"
`repository_rule` is similar to `rule`, except it lives on the `WORKSPACE` level. `rule` has a nice `doc` attribute which is extracted by documentation tools. It would be nice if `repository_rule` followed suit.

In [`rules_nixpkgs`](https://github.com/tweag/rules_nixpkgs) and [`rules_haskell`](https://github.com/tweag/rules_haskell) we have to resort to [manually written docs](https://github.com/

[2018-09-28 16:15] aehlig commented on #6229
...provided you never have to reexecute a repository rule, e.g., because you modified the programatic transformations.

Thanks for the clarification. I'll see if it is possible to add the possibility to optionally disable the cache.

[2018-09-28 16:15] cushon commented on #2832
@davidmorgan are you using the workers for caching/incrementality, or mostly to keep a VM warm? If you're using caching, have seen issues with the hit rate from having a separate cache for each worker instance?

[2018-09-28 17:38] wjywbs commented on #4657
Ping for this bug.

I'm importing protobuf code to //third_party/protobuf, but the proto_library rule [1] fails to build. Adding proto_source_root="third_party/protobuf" doesn't fix the build. The failing command is:

`bazel-out/host/bin/third_party/protobuf/protoc '--proto_path=third_party/protobuf' '--descriptor_set_out=bazel-out/k8-opt/genfiles/third_party/protobuf/type_proto-descriptor-set.pro

[2018-09-28 19:27] jin commented on #6268
this is because of a missing dep in the repository rule for espresso-core on gmaven_rules:

[code]

bringing in `javax.inject:javax.inject` makes it work:

[code]

[code]

[2018-09-28 19:27] #6268 closed

[2018-09-28 19:34] ola-rozenfeld commented on #6219
Are you running with my patch? Can you please run with --verbose_failures?
The timeout is set by the --remote_timeout option, the default is a minute.

[2018-09-28 19:48] manekinekko commented on #6176
Yeh, I think you need to run `yarn install` before.

[2018-09-28 21:53] jin commented on #6214
this is P0 issue, right?

[2018-09-28 22:02] jin commented on #5876
cc @brettchabot

[2018-09-28 23:10] benjaminp opened #6272 "Artifact debug repr should include the owner"
As of bf4123df23b5f93e572cd920f15afba340f92391, `Artifact` equality takes the artifact owner into account. Since the Starlark `repr` of `Artifact` only prints the execpath, it's possible to have two artifacts, `a` and `b`, that have the same execpath (and thus repr) but satisfy `a != b`. Unsurprisingly, this generates confusion–[even for seasoned Blaze developers](https://github.com/bazelbuild/baz

[2018-09-29 09:43] davidmorgan commented on #2832
@cushon Right now mostly to keep a VM warm. We hope to gain more from caching/incrementality in future.

[2018-09-29 19:58] r4nt commented on #6052
I am working on a fix, but it's quite involved to test, as bazel doesn't realize that changes to symlinks need rebuilds, thus giving me both incorrect failures and incorrect successes.

[2018-09-30 10:33] drigz commented on #6136
If it helps any others: I applied the workaround by adding this like to .bazelrc:

[code]

[2018-09-30 11:28] mirandaconrado commented on #4343
@buchgr do you know if anyone is working on this?

[2018-09-30 19:44] whilp opened #6273 "Allow http_archive to set output"
### Description of the problem / feature request:

`ctx.download_and_extract` supports an `output` positional param that allows the caller to specify the target for extraction. `http_archive` does not expose this as an attr. Instead, callers have to manipulate the archive after extraction (with a genrule?).

### Feature requests: what underlying problem are you trying to solve with this feature?

[2018-09-30 20:50] buchgr commented on #4343
Nobody is working on this right now. If anyone is interested in picking this up - I'd be happy to talk some more to get you started!

[2018-10-01 08:08] laszlocsomor opened #6274 "xx_test.args: empty string argument not passed to test"
### Description of the problem / feature request:

Bazel does not pass empty test arguments from `*_test.args` to the test. Bazel does pass empty argument from `--test_arg`.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

`BUILD` file:
[code]

`x.cc` file:
[code]

Repro:
[code]

As you see the command line does not contain the "" ar

[2018-10-01 08:13] laszlocsomor opened #6275 "xx_test.args: argument with space is split up"
### Description of the problem / feature request:

If a test arguments in `*_test.args` contains a space, Bazel splits it up before passing it to the test, but doesn't do the same for args from `--test_arg`

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

`BUILD` file:
[code]

`x.cc` file:
[code]

Repro:
[code]

### What operating sy

[2018-10-01 08:22] laszlocsomor opened #6276 "xx_test.args, Windows: argument with space is split up"
### Description of the problem / feature request:

If a test arguments in `*_test.args` contains a space, Bazel splits it up before passing it to the test.

This is the Windows counterpart of https://github.com/bazelbuild/bazel/issues/6275. The notable difference is that not even `--test_arg` works.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example

[2018-10-01 08:25] laszlocsomor opened #6277 "xx_test.args, Windows: empty string not passed to test"
### Description of the problem / feature request:

Bazel does not pass empty test arguments from `*_test.args` to the test.

This is the Windows counterpart of https://github.com/bazelbuild/bazel/issues/6274. The notable difference is that not even --test_arg works.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

`BUILD` file:
[code

[2018-10-01 08:27] iirina commented on #4657
Changed to P3 because I'm not planning to work on this next quarter.

[2018-10-01 09:48] aehlig commented on #5963
As `//src/test/java/com/google/devtools/build/android/idlclass:IdlClassTest` is failing, we
need another cherry-pick.

scripts/release/release.sh create --force_rc=7 0.18.0 c062b1f1730f3562d5c16a037b374fc07dc8d9a2 2834613f93f74e988c51cf27eac0e59c79ff3b8f 2579b791c023a78a577e8cb827890139d6fb7534 faaff7fa440939d4367f284ee268225a6f40b826 b073a18e3fac05e647ddc6b45128a6158b34de2c bf6a63d64a010f4c363d21

[2018-10-01 11:14] aehlig commented on #5963
rc7 is available at

https://releases.bazel.build/0.18.0/rc7/index.html

but it seems, we have to cerry-pick 71926bc25b3b91fcb44471e2739b89511807f96b as well,
to fix `//src/test/shell/bazel/apple:bazel_apple_test`.

--
Klaus Aehlig
Google Germany GmbH, Erika-Mann-Str. 33, 80636 Muenchen
Registergericht und -nummer: Hamburg, HRB 86891
Sitz der Gesellschaft: Hamburg
Geschaeftsfuehrer: Paul Terence M

[2018-10-01 11:17] aehlig commented on #5963
scripts/release/release.sh create --force_rc=8 0.18.0 c062b1f1730f3562d5c16a037b374fc07dc8d9a2 2834613f93f74e988c51cf27eac0e59c79ff3b8f 2579b791c023a78a577e8cb827890139d6fb7534 faaff7fa440939d4367f284ee268225a6f40b826 b073a18e3fac05e647ddc6b45128a6158b34de2c bf6a63d64a010f4c363d218e3ec54dc4dc9d8f34 c1a7b4c574f956c385de5c531383bcab2e01cadd 71926bc25b3b91fcb44471e2739b89511807f96b

--
Klaus Aehlig
G

[2018-10-01 11:51] buchgr commented on #6260
The empty file is supported as both input and output of remotely cached actions. Most builds I know of would generate an empty file at some point. Remote caching servers are expected to handle an empty file as any other file.

From this discussion I don't see the need to special case the empty file on the remote server and I also don't understand the build errors it's causing you. Can you elaborat

[2018-10-01 11:53] buchgr commented on #6223
Sounds like a problem with persistent workers. @keith wanna send us a patch? :-) cc: @philwo

[2018-10-01 11:54] buchgr commented on #6208
@benjaminp can you confirm that it's fixed at HEAD?

[2018-10-01 12:57] lberki commented on #6145
This is because the test is actually run as a background process for various interesting reasons (/cc @ola-rozenfeld):

https://github.com/bazelbuild/bazel/blob/master/tools/test/test-setup.sh#L264

Given that you have workaround, I'd not spend too much time fixing this -- it's conceivable that we could do some shell magic to do so, but we do enough shell magic there already so I'm reluctant to ad

[2018-10-01 14:41] aherrmann opened #6280 "Document passing credentials in non-standard locations to maven_server"
### Description of the problem / feature request:

We are using the native `maven_jar` and `maven_server` rules to fetch JAR artifacts from maven servers which require credentials. E.g.

[code]

If `~/.m2/settings.xml` exists and contains an entry with id `my_repo` then this will read the credentials from that config file.

However, in the CI environment the credentials are provisioned under a non

[2018-10-01 14:49] katre commented on #6116
Looks like [last night's downstream projects run](https://buildkite.com/bazel/bazel-with-downstream-projects-bazel/builds/470) is fairly solid: the majority of the errors are build machine configuration related.

Using ac880418885061d1039ad6b3d8c28949782e02d6 as the baseline.

[2018-10-01 14:55] katre commented on #6116
Pushed release 0.19.0rc1 - baseline ac880418885061d1039ad6b3d8c28949782e02d6

[2018-10-01 14:59] philwo commented on #485
@jlisee Sure! Either is fine with me. Do you want to send a pull request? :)

[2018-10-01 15:12] sergiocampama commented on #1802
No, `objc_proto_library` is not functional yet. We haven't had the time to prioritize this work.

[2018-10-01 15:28] tetromino commented on #6266
We are trying to support the workflow of switching back and forth between two installed Xcode versions (e.g. release and beta) without needing to regenerate the CROSSTOOL.

[2018-10-01 16:09] jin commented on #6275
@laszlocsomor assigning this to team-Windows, feel free to reassign if it's not right. thanks!

[2018-10-01 17:52] keith commented on #6223
@buchgr I'm happy to submit that fix, but is that a reasonable one? Just based on the naming tying the local environment objects to the persistent workers sounds like they're intentionally attached

[2018-10-01 18:24] urHuckleberry1 opened #6282 "Required"
### Description of the problem / feature request:

### Feature requests: what underlying problem are you trying to solve with this feature?

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

### What operating system are you running Bazel on?

### What's the output of `bazel info release`?

### If `bazel info release` returns "developm

[2018-10-01 18:53] #6282 closed

[2018-10-01 19:09] cushon commented on #6214
probably? it'd be nice to get the post-submit unbroken.

is this blocked on anything?

[2018-10-01 19:13] benjaminp commented on #6208
Bazel still always produces `Remote: ` followed by a bunch of 0s. The difference now is that it looks to be possible to change those numbers if Bazel spawn strategies actually produce spawn metrics.

If the current state is an intermediate stage on the way to new output, I'm happy to sit on my hands until that is complete. At least the earlier commits to `CriticalPathComputer` and friends seemed l

[2018-10-01 19:40] katre opened #6283 "Change in macOS CROSSTOOL breaks rules_go"
The commit 19a401c38e30ebc0879925a5caedcbe43de0028f has caused an error during the build for rules_go. Logs are available here: https://buildkite.com/bazel/bazel-with-downstream-projects-bazel/builds/472#f9e3ac01-fa0a-4903-b10d-09a2f5550c88

[code]

Commit 19a401c38 was identified by bisecting the Bazel source.

[2018-10-01 19:42] katre commented on #6283
CC @jayconrod for rules_go. This looks to be bazel-internal, but please let me know if you have any ideas.

Specifically, I'd like to know if this is a release blocker for 0.19.0 (#6116).

[2018-10-01 19:58] aragos commented on #6283
From a colleague who took a look:

[2018-10-01 20:02] mattofak opened #6284 "Add patches attribute and related to new_http_archive"
### Description of the problem / feature request:

#3395 introduced `patches` and related attributes to `http_archive`. It would be useful to also have the ability to patch archives downloaded through `new_http_archive` as well.

### Feature requests: what underlying problem are you trying to solve with this feature?

Just as in #3395, I have an archive that I do not control that requires a local

[2018-10-01 20:06] khandpur opened #6285 "Links to macos_unit_test, ios_unit_test, and ios_ui_test point to 404"
### Description of the problem / feature request:
Rule links in https://docs.bazel.build/versions/master/migrate-xcode.html#step-3b-optional-add-the-test-target-s point to 404.

### Feature requests: what underlying problem are you trying to solve with this feature?
N/A

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Go to https://d

[2018-10-01 20:12] jayconrod commented on #6283
I reproduced this and poked around a bit. I can confirm what @aragos said: the only flags I'm getting from `mostly_static_link_options` are:

[code]

[2018-10-01 20:27] trybka commented on #6283
`mostly_static_link_options` fall into the legacy CROSSTOOL fields, I think:
https://docs.bazel.build/versions/master/skylark/backward-compatibility.html#disable-legacy-c-toolchain-api

There are potentially other link flags that are missing at this point?

[2018-10-01 20:27] tburgin commented on #6283
Looks like we may need to add another action here: https://github.com/bazelbuild/bazel/blob/master/tools/osx/crosstool/CROSSTOOL.tpl#L174-L178

[2018-10-01 21:08] keith commented on #6260
Ok so I can reproduce this with the example I provided above like this (with our remote cache running locally):

[code]

In this case I get this error from the iOS toolchain:

[code]

<details>
<summary>Here's the entire execution log from the failed build (click to expand)</summary>

[code]

</details>

[2018-10-01 21:21] benjaminp opened #6286 "warnings while building Bazel's Java"
For a while now, building Bazel spits out warnings like this:
[code]
Do these need to be fixed?

[2018-10-01 21:30] tburgin commented on #6283
Actually there is already special handling for the c++ linking flags in the go_rules. The rules knows if there is c++ source, adding the linker flag here seems like a good fit.
[code]
The failing tests passes with this patch. Running all go_rules tests now.

[2018-10-01 21:40] tburgin commented on #6283
Running on macOS all tests pass with the ^^ patch. One downside to changing the go rules is all platforms are effected and should be thoroughly tested.

[2018-10-01 22:11] jayconrod commented on #6283
@tburgin I'm not sure rules_go can figure that out in general. The C++ standard library name varies by toolchain, and there are even multiple implementations that can be used with the same compiler. It would be better for that flag to come from the toolchain.

I'm not entirely comfortable with the code above because I don't have a full list of C++ library names. We needed that hack though for Go p

[2018-10-01 22:28] tburgin commented on #6283
Gotcha, I am really only familiar with darwin ;) The darwin toolchain prior to 19a401c was unconditionally adding `-lc++` to all link actions.
Adding Go's linking action to the `link_libc++` feature would get the darwin toolchain back to where it was. I am not super familiar with the go rules, is there a `c++-link-*` equivalent for go (`go-link-executable` etc.)?

I don't fully understand @trybka'

[2018-10-01 22:43] cushon commented on #6286
This is related to #5985.

We should fix the warning spam, but they're harmless.

[2018-10-01 23:19] jayconrod commented on #6283
@tburgin I'm unfortunately not that familiar with CROSSTOOL and features therein.

The Go linker logic is primarily within https://github.com/bazelbuild/rules_go/blob/master/go/private/actions/link.bzl.

Go linking happens in two stages: internal linking (with the Go linker) and external linker (with the system linker, typically whatever `CC` or in the Bazel world, `cpp.compiler_executable`). For

[2018-10-01 23:33] keith commented on #6223
I've submitted a PR that fixes it in this way, please let me know what you think! https://github.com/bazelbuild/bazel/pull/6287

[2018-10-01 23:34] tburgin commented on #6283
Yeah, makes sense.
Okay, sounds like we need to find a way to add back the c++ linking flag to the darwin toolchain via CROSSTOOL, while still being able to disable it for certain rules in rules_apple.

I will take a look tomorrow.

[2018-10-02 00:05] keith commented on #6230
I've looked more into this and it looks like I may have had this wrong. [This code](https://github.com/bazelbuild/bazel/blob/645a35e1ce0f9f0025e9120399f2e7b77b4841b8/src/main/java/com/google/devtools/build/lib/worker/WorkerSpawnRunner.java#L180-L189) definitely seems to group the params files and the other arguments differently, allowing you to have multiple files.

@pauldraper since you agreed wi

[2018-10-02 01:30] thelgevold commented on #4714
I have also had some issues with high cache miss rates when the build clients are not "identical".

So far I've had the most luck from running in docker to "control" the environment. Configured mu containers here to build a few large example apps using BuildFarm for remote execution + caching.

Still looking into how I can relax the same setup requirement.

Here is my docker setup in case anyone i

[2018-10-02 01:51] mumbleskates commented on #4811
+1

[2018-10-02 04:08] tomlu commented on #6230
My preference would also be for updating the worker protocol to allow more
natural expression of commands rather than adding API that we may not be
able to make sensible.

On Mon, Oct 1, 2018 at 8:06 PM Keith Smiley <notifications@github.com>
wrote:

[2018-10-02 08:04] lberki commented on #6214
So the decision is to remove the nojava builds?

[2018-10-02 08:55] philwo commented on #6214
First thing: You should have decided what to do *before* you broke it ;)

It’s a product decision not a technical one: Do we still support using Bazel (for any purpose) on a system that doesn’t have an installed JDK? If yes, we need to test that.

If not, we can of course remove the nojava platform.

[2018-10-02 09:06] cushon commented on #6214
Somewhat relatedly, why didn't this breakage get caught by the presubmit?

[2018-10-02 09:27] lberki commented on #6214
@philwo : I thought you said that we can't test this with the current infrastructure and that you said on Thursday that you'd try to cook up something to build Bazel on one system, but test it on another.

If that doesn't work, I'd prefer not having the `nojava` platform -- after all, it's broken at HEAD and there are no plans to unbreak it, so it doesn't deliver any signal.

[2018-10-02 09:29] philwo commented on #6214
To be clear: Are you making the decision to no longer support Bazel (even for C++ or genrules) on Systems without an installed JDK?

[2018-10-02 09:58] lberki commented on #6214
To clarify: not having the `nojava` tests would be awful awful. But if we had to choose between removing `nojava` tests and defaulting to the embedded JDK, I'd much rather choose the former.

However, @philwo says that I severely overestimated the pain involved in making `nojava` work, so I think all is well.

[2018-10-02 10:21] mhlopko opened #6288 "Enable Remote execution project on Bazel with downstream projects pipeline"
Since the https://buildkite.com/bazel/remote-execution was not green on buildkite in a while, I'm disabling it on downstream pipeline. Ping bazel-green-team@googlegroups.com once it's green again.

[2018-10-02 11:10] #6229 closed

[2018-10-02 11:12] #5777 closed

[2018-10-02 11:12] #5855 closed

[2018-10-02 11:13] dslomov commented on #6176
got it, looking

[2018-10-02 11:37] mhlopko commented on #6288
Or better, create an issue on https://github.com/bazelbuild/continuous-integration, thanks!

[2018-10-02 12:32] dslomov commented on #6176
Next up:
[code]

[2018-10-02 12:36] dslomov commented on #6176
(`node_modules/@angular/bazel/BUILD.bazel` has `load("//tools:defaults.bzl", "npm_package")` - where is this file supposed to come from?)

[2018-10-02 12:48] #5851 closed

[2018-10-02 13:01] #5880 closed

[2018-10-02 13:01] #6129 closed

[2018-10-02 13:08] philwo commented on #6288
@nlopezgi - could someone help us with getting this green again? I'm overloaded at the moment and can't look into this. :(

Here are the logs of the failing tests:
https://storage.googleapis.com/bazel-buildkite-artifacts/e7aa6d79-13de-4eb7-80cd-8a5e691a28b8/src/test/shell/integration/discard_analysis_cache_test/attempt_1.log

https://storage.googleapis.com/bazel-buildkite-artifacts/e7aa6d79-13de-4

[2018-10-02 13:12] katre commented on #6283
This issue manifested with rules_go, but wouldn't any set of rules that tries to use the linker from a CC toolchain run into something similar?

We need to make sure this is solved for all Starlark C++ API users, not just for rules_go.

[2018-10-02 13:13] katre commented on #6116
Declaring #6283 a release blocker for 0.19.0.

[2018-10-02 13:34] manekinekko commented on #6176
@alexeagle any idea?

[2018-10-02 13:36] tburgin commented on #6283
@katre Only rules that do not align with these actions: https://github.com/bazelbuild/bazel/blob/master/tools/osx/crosstool/CROSSTOOL.tpl#L174-L178

[2018-10-02 13:42] katre commented on #6283
I see, thanks for clarifying.

[2018-10-02 13:47] philwo commented on #6214
Some more failing tests that I'll blacklist:

- [//src/test/shell/bazel:bazel_repository_cache_test](https://storage.googleapis.com/bazel-buildkite-artifacts/e92dcf2b-b9c7-4145-ae6d-bafdb0ce53ee/src/test/shell/bazel/bazel_repository_cache_test/attempt_1.log)
- [//src/test/shell/bazel:external_integration_test](https://storage.googleapis.com/bazel-buildkite-artifacts/e92dcf2b-b9c7-4145-ae6d-bafdb0c

[2018-10-02 14:00] mhlopko commented on #6283
Hi all,

@trybka is right, go rules are using legacy Skylark API to the C++ toolchain that doesn't get flags from `feature`s. The principled fix is to migrate to the new toolchain API (https://docs.bazel.build/versions/master/skylark/backward-compatibility.html#disable-legacy-c-toolchain-api). While it's not set in stone, it's safe to assume the legacy API will be removed in Bazel 0.20.0.

To whom

[2018-10-02 14:03] mhlopko commented on #6283
@katre I'd prefer the fix on the go rules side, and if not viable, rolling back 19a401c is the only option. Legacy Skylark C++ API didn't change, and that it doesn't get the flags from `feature`s was the reason to introduce the new API.

[2018-10-02 14:04] katre commented on #6283
I agree that having rules_go upgrade to the latest API is good, but if we go that route, rules_go will need to complete that and release it before we can release 0.19.0, or else their users will be unable to build on macOS.

Can we fix this on the Bazel side to give rules_go and their users a grace period to make this transition smoother?

[2018-10-02 14:09] mhlopko commented on #6283
Sure, by rolling back https://github.com/bazelbuild/bazel/commit/19a401c38e30ebc0879925a5caedcbe43de0028f. Let me create a rollback.

[2018-10-02 14:20] katre commented on #6283
@jayconrod If we can roll this back for 0.19.0, can rules_go be updated to the latest C++ api by the time we cut 0.20.0?

[2018-10-02 14:36] philwo commented on #6214
Fixed in https://github.com/bazelbuild/bazel/commit/9bc3b20053a8b99bf2c4a31323a7f96fabb9f1ec

[2018-10-02 14:36] #6214 closed

[2018-10-02 14:47] sergiocampama commented on #6283
Is there any kind of existing infrastructure that would have detected this breakage in a timely manner, ideally before the change is even submitted? If so, are there docs on how to set it up? If not, can resources be added to such an effort?

It seems like we keep hitting similar issues again and again because there is not enough testing coverage for the multitude of scenarios where changes can br

[2018-10-02 14:51] katre commented on #6283
The CI system tests downstream projects with the latest bazel built from HEAD nightly: https://buildkite.com/bazel/bazel-with-downstream-projects-bazel

It looks like rules_go has been red on this for at least 5 days (I can't see history further back).

However, as you can see, a lot of projects are red. I know the Green Team (@buchgr is sheriff this week) is working to stabilize the system.

[2018-10-02 14:56] buchgr commented on #3360
@mmorearty are you using this flag at Asana? Is it working well for you?

[2018-10-02 14:58] jgavris commented on #3360
I've been rocking this flag since it was added, have yet to see the issue since.

[2018-10-02 15:01] ulfjack commented on #3360
Cool! Let's switch it on.

[2018-10-02 15:02] mhlopko commented on #6283
Yup, green team was supposed to catch this in O(days), but with rules_go it took us (well, not even us, it was John who investigated the failure) 11 days. This is not acceptable and we'll make sure it doesn't happen again.

[2018-10-02 15:05] brown opened #6289 "Java binary with long classpath fails on read-only file system"
### Description of the problem / feature request:

When a Java binary's classpath is too long, the wrapper script creates manifest and jar
files containing the classpath.  The wrapper writes these files to the directory containing
the wrapper.  This fails when the binary is run from a read-only file system.

### Feature requests: what underlying problem are you trying to solve with this feature?

[2018-10-02 15:11] mmorearty commented on #3360
Yes, it’s been working perfectly for me too!

[2018-10-02 15:11] jin opened #6290 "Remotely execute android_instrumentation_test targets on GCP RBE"
`android_instrumentation_test` enables e2e hermetic emulator testing using tools in https://github.com/android/android-test and the `android_device` rule.

Currently, `android_instrumentation_test` is fully supported to run locally on Linux hosts.

This is the tracking bug to enable remote execution of `android_instrumentation_test` targets on the GCP Remote Build Execution service.

We will use h

[2018-10-02 15:15] #4791 closed

[2018-10-02 15:27] aherrmann opened #6291 "maven_server disallows valid maven repository names"
### Description of the problem:

The `maven_server` rule can be used to specify a maven repository in a way that allows to handle authentication credentials. The `name` attribute to `maven_server` then needs to match the `id` of the repository in the maven `settings.xml` in order to associate the two. However, this `name` attribute also needs to be a valid workspace name. Presumably, due to implem

[2018-10-02 15:27] katre commented on #6283
@jayconrod Yes, 0.20.0 is the November release.

[2018-10-02 15:35] mhlopko commented on #6283
Awesome! Look into https://github.com/bazelbuild/rules_swift/commit/88ac6c3846df1c40d257f809a1d0b9bdc09dfefd#diff-1394f96b7e9b2b96f5e8eff729be2e55 for backwards compatible implementation. Feel free to hardcode action names (you cannot load skylark files conditionally).

[2018-10-02 15:42] tetromino commented on #6285
Thanks for your report!

This looks like a bug in the jekyll config that we use to transform our docs (in this case, site/docs/migrate-xcode.md) into html for the bazel.build website.

I have filed an issue internally.

[2018-10-02 16:54] irengrig opened #6292 "IllegalStateException while building C++ on Windows"
I was able to reproduce the issue first reported here: https://github.com/envoyproxy/envoy/pull/4516

0. On the Windows machine
1. clone envoy project: (currently HEAD is at 9d32e5c2a14cd9ab96b6e77fb04f7bd77b2c0d71)
git clone https://github.com/envoyproxy/envoy.git
2. install Bazel 17.0.2 (last release)
3. cd envoy
bazel build //source/exe:envoy-static
4. see in the output: (below), also please ch

[2018-10-02 16:54] irengrig commented on #6292
[java.log](https://github.com/bazelbuild/bazel/files/2438859/java.log)

[2018-10-02 16:58] steeve commented on #6266
Super clear, thank you

[2018-10-02 17:21] brandjon commented on #6161
In a rewrite of this doc page, we keep it string and call out the fact that this is a simplification for ease of presentation.

[2018-10-02 18:43] ittaiz commented on #1289
@aehlig and I discussed offline and he suggested that a first step, which could be relatively easier, is to have Bazel report which repository rules are currently working (even if they don't emit their logs yet).
I think this can be a great step forward as it will give the users some visibility.
Once we have this we can consider if emitting the repository rules logs while they run is worth the cos

[2018-10-02 18:44] ittaiz commented on #5811
@buchgr any update on this?

[2018-10-02 18:49] cushon commented on #6286
Closing as a duplicate of #5985.

[2018-10-02 18:49] #6286 closed

[2018-10-02 18:49] AdamDorwart commented on #6145
Is there no way to differentiate when the test target is executed with `bazel run` and then use the same direct mode behavior? Intuitively it makes sense that `bazel run` for a test target would just run the binary similar to how any other `*_binary` target does. Understandably simpler said then done since the test environment is more controlled than a normal binary. Maybe it would be acceptable t

[2018-10-02 19:29] ixdy commented on #6219
It looks like a potential fix was cherrypicked into the 0.18 RCs. Is a fixed 0.17 patch release likely?

[2018-10-02 19:43] lberki commented on #6145
_Jain,_ as they say in German... sure, it's possible, but some people expect tests being run as a test under `bazel run`, so I'd have to add a knob and we are rapidly approaching a thousand command line options already.

[2018-10-02 19:44] jayconrod opened #6293 "Bazel coverage fails on existing rules_go test"
### Description of the problem / feature request:

In Bazel 0.18.0rc8, the rules_go target `//tests/core/coverage:coverage_test` fails. It passed in 0.17.1. It appears the collect_coverage.sh script is failing because the `LCOV_MERGER` environment variable is not set.

This may affect all coverage runs for Starlark runs. `coverage_test` is a trivial `go_test` used to collect coverage data; there's

[2018-10-02 20:50] aiuto commented on #6272
Assigning to configurability for now, this might be Execution.

[2018-10-02 21:07] aiuto commented on #6190
Adding team-ExternalDeps, but feel free to reassign or just remove yourselves. It looks like doing this would involve some changes touching a variety of places, so it is not clear who should own it.

[2018-10-02 21:41] aiuto commented on #5849
This is an interesting and hard to implement request. It may be easy to produce good behavior for a given Linux distro, but to make it portable to other distros, BSD, OSX and Windows requires much more effort.

An alternative would be to use the packaging rules https://docs.bazel.build/versions/master/be/pkg.html to create an installed layout .tar/.rpm/.deb. That way you could most precisely speci

[2018-10-02 21:45] aiuto commented on #5893
I am sending this to EngProd right now because it seems to be about building bazel. But maybe the Java rules people are the right group.

[2018-10-02 22:31] scottminor-google commented on #6171
I can reproduce the above example with Windows 10, `release 0.17.2` and protobuf v3.6.1. Is there anything I can do to troubleshoot this issue?

[2018-10-02 22:52] scottminor-google commented on #6292
These stack traces look similar to #6169 and #6171.

[2018-10-03 05:38] perfinion commented on #5849
@aiuto doing all of this is quite a lot of work yeah, I think a good first step would be something similar to pkg_tar but without actually doing the tar'ing up. I assume the files are all collected somewhere first and then tar'd up, I could then untar it, but like why tar then untar needlessly when I could just cp from just before it was tar'd up? if there was some rule that just produced the file

[2018-10-03 07:33] SummerLife commented on #332
Hello,would you like to tell me the way to solve it? Thank you very much!

[2018-10-03 09:44] philwo commented on #6214
@cushon We unfortunately ran out of Google Cloud quota and couldn't run enough VMs to run all the platforms during presubmit...

I organized us more quota and enabled all tests on all platforms again yesterday, so in the future we should catch this. :)

[2018-10-03 10:41] asuffield opened #6295 "Make --subcommands work with repository rules"
When I'm debugging repository rules, I typically need to see what commands they run. Unfortunately --subcommands does not print these, so I end up stracing bazel to see what it execs.

We should just have --subcommands work on commands run from repository rules.

[2018-10-03 13:37] katre commented on #6283
Last night's test of rules_go is clean (https://buildkite.com/bazel/bazel-with-downstream-projects-bazel/builds/475#b0c7777f-2466-489a-b8f6-1937a2e61b03), so I am closing this and will cherrypick 20bfdc6 into #6116.

[2018-10-03 13:37] #6283 closed

[2018-10-03 13:37] katre commented on #6116
#6283 is fixed by 20bfdc67dc1fc32ffebbda7088ba49ee17e3e182, will cherrypick that into rc2 today.

[2018-10-03 14:04] brandjon commented on #6233
Adding myself due to other related doc cleanups, but I finished this particular push for docs so I may not get to this. Note that the use of toolchain_type is described on the toolchains.html page.

[2018-10-03 14:05] dio commented on #6029
@ittaiz I'm interested to know the solution for this. Do you have one? Thanks!

[2018-10-03 14:30] jin commented on #6272
Reassigning to Starlark, since this is about `repr()`.

[2018-10-03 14:31] katre commented on #6116
Created rc2:

[code]

[2018-10-03 14:35] alexeagle commented on #6176
We shouldn't be building anything for Angular under node_modules.
(starting with Bazel 0.18 we'll recommend using the new .bazelignore to prevent bazel looking under node_modules at all)

But the real question for this issue is, how did you find that error? This is an error reporting issue in Bazel, in this context I don't care about fixing the root cause.

[2018-10-03 14:49] #6161 closed

[2018-10-03 15:14] benjaminp commented on #6176
I don't think anyone has claimed to find a root cause for the OP. dslomov's errors look like they're just en route to trying to reproduce the error in the OP.

[2018-10-03 16:35] katre commented on #6116
The "No JDK" platform is failing all tests for rc2, creating RC3 cherrypicking in 9bc3b20053a8b99bf2c4a31323a7f96fabb9f1ec to try and handle this.

[2018-10-03 16:37] katre commented on #6116
Command:

[code]

[2018-10-03 16:41] katre commented on #6116
No, everything on the "no JDK" host is still failing:
[code]

[2018-10-03 17:13] perfinion commented on #5945
@meteorcloudy the fix is in TF now, is this fixed now too?

[2018-10-03 18:00] kastiglione commented on #287
Laurent had a good suggestion (https://github.com/bazelbuild/bazel/issues/1698#issuecomment-264638543)

[2018-10-03 18:25] jin opened #6297 "Support NDK r19"
Expected release: Q4 2018

Changes: https://android.googlesource.com/platform/ndk/+/master/docs/Roadmap.md#ndk-r19

* Make all toolchains be standalone toolchains

[2018-10-03 19:09] jin opened #6298 "Support building Android apps with asan"
https://github.com/google/sanitizers/wiki/AddressSanitizerOnAndroidO
https://github.com/google/sanitizers/wiki/AddressSanitizerOnAndroid

Instructions:

For 1), building the app with asan involves additional flags like:

```bazel build //app/src/main:app  --cxxopt=-fsanitize=address --cxxopt=-fno-omit-frame-pointer --linkopt=-fsanitize=address```

This can be documented on the [Android NDK documen

[2018-10-03 20:03] sunyal opened #6299 "Android master build causes dexing issue with ArrayIndexOutOfBoundsException"
### Description of the problem / feature request:

The Bazel Master is causing a dexing exception to be thrown. This succeeds with the stable 0.17.2 version.

### Feature requests: what underlying problem are you trying to solve with this feature?

Build with the latest master branch.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[2018-10-03 20:04] sunyal commented on #6299
@jin

[2018-10-03 20:08] aiuto commented on #5958
This is split between Windows and External Deps. You can figure out who really should do the work.

[2018-10-03 20:35] aiuto commented on #5933
Handing off to Configurability to take a first look and see if it is your problem.

[2018-10-03 20:58] Theosakamg commented on #5865
Parsing building workflow is always possible if output is on stdout. Many application use stderr for detect a error. Logged a good build to stderr is very strange...

[2018-10-03 21:06] Theosakamg commented on #5865
In my case the feature is connected to [colcon](https://github.com/colcon/colcon-core) (Build system of [ROS2](https://github.com/ros2/ros2) ) extension for colcon-core to support Bazel projects ( [colcon-bazel](https://github.com/colcon/colcon-bazel) & [colcon-ros-bazel](https://github.com/colcon/colcon-ros-bazel) ).

[2018-10-03 22:30] fabiensanglard opened #6301 "Unable to build android executable with asan (linker error)"
Repro case:

Unzip asan.zip
cd asan
bazel build :android_test

[code]

[2018-10-03 22:31] fabiensanglard commented on #6301
[asan.zip](https://github.com/bazelbuild/bazel/files/2444255/asan.zip)

[2018-10-03 22:45] jin commented on #6301
This is NDK r14, right? What Bazel version are you using?

[2018-10-03 22:51] jin commented on #6301
I can build successfully for x86 and armeabi-v7a with Bazel 0.18.0rc4 and NDK r14b:

[code]

However, arm64-v8a fails:

[code]

[2018-10-03 23:04] #5585 closed

[2018-10-03 23:35] jin commented on #6299
There seems to be an issue with with dexing a desugared `com.googlecode.mp4parser:isoparser:1.1.21`

Can confirm that https://github.com/bazelbuild/bazel/commit/209c82eb5f56dceb30b9fab22c7cb8383507e131 "fixes" this and makes it build, but it was reverted in https://github.com/bazelbuild/bazel/commit/9f7545e6de638e63b25d8454e95305289c3fea94

cc @cushon @kmb

[2018-10-03 23:38] gregestren commented on #4388
Chris,

For what purpose?

For example, why not just call `$ cat foo/BUILD` at the command line?

If you're looking for more structured operations, you can also play with query's [`--output`](https://docs.bazel.build/versions/master/query.html#output-formats) flag:

[code]

[code]

[code]

You can also use [buildozer](https://github.com/bazelbuild/buildtools/blob/master/buildozer/README.md):

[cod

[2018-10-04 00:29] jin commented on #6299
@sunyal your repro example uses an internal Artifactory URL. I created a barebones minimal repro here: https://github.com/jin/repro/tree/master/6299

[2018-10-04 00:39] kevin1e100 commented on #6299
Based on history around this I would guess that the problematic Jar, com.googlecode.mp4parser:isoparser:1.1.21, has missing or invalid stack map frames.  you'll want to fix those (either by fixing at the source, or by recomputing them using, e.g., ASM) before depending on the Jar from an android_binary.

[2018-10-04 00:41] cushon commented on #6299
I agree with @kevin1e100. Another option is to run proguard over the invalid jar file. As long as `-dontpreverify` *isn't* set it will fix the stack map frames.

[2018-10-04 00:42] cushon commented on #6299
It's also probably not a P1 since the issue is invalid input and not a bug in Bazel, and I don't think we have good options for working around it.

[2018-10-04 00:42] jin commented on #6299
here's a diff of the good/bad generated desugared jars

[code]

[2018-10-04 01:06] jin commented on #6299
@cushon thanks for the tip about running proguard. I can confirm that with this proguard config on the `android_binary.proguard_specs`, the desugared jar can be dexed correctly:

[code]

[2018-10-04 01:51] pia commented on #1608
Same problem for me

[2018-10-04 02:29] werkt opened #6302 "Building bazel master prints warnings"
### Description of the problem / feature request:

Warnings are being printed on several build targets from a recent master:

[code]

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

`bazel build src:bazel` with an installed bazel 0.16.0 or later

### What operating system are you running Bazel on?

ubuntu 14.04

### What's the output

[2018-10-04 02:49] cushon commented on #6302
This is a duplicate of #5985.

[2018-10-04 02:49] #6302 closed

[2018-10-04 04:09] kkiningh opened #6303 "Bazel on OSX is missing expand_directories"
### Description of the problem / feature request:

Release version of Bazel on OSX is missing the expand_directories argument to [args.add_all](https://docs.bazel.build/versions/master/skylark/lib/Args.html#add_all) and the [--incompatible_expand_directories](https://docs.bazel.build/versions/master/skylark/backward-compatibility.html#expand-directories-in-args) flag.

### Bugs: what's the simples

[2018-10-04 07:30] laszlocsomor commented on #1608
@pia: which Bazel version do you use? How far does Bazel get -- can it start loading and analyzing packages and maybe build something, or does it hang just at startup without any progress?

[2018-10-04 09:00] dslomov commented on #6176
correct, I would like to get to a repro, and I am failing so far....

[2018-10-04 09:51] manekinekko commented on #6176
I've updated the `@bazel/typescript` to `0.17.0` in my project and I think the issue is now gone.
I've also sync'ed the other config files `WORKSPACE` and `BUILD` and deps with those from the [angular-bazel-example](https://github.com/alexeagle/angular-bazel-example) repo.

Now, I'm having other issues but probably not related to this one.

[2018-10-04 11:48] rongjiecomputer commented on #2241
A bit of a status update:

After #6248 and #6251 are merged, these tests will pass:

[code]

If you have > 4.65GB of RAM, this test will also pass:

[code]

`//src/tools/singlejar:desugar_checking_test` can't be tested because it depends on `//src/tools/singlejar:desugar_checking`, which will cause Bazel to crash when trying to build it (getting a similar stack trace as #6171).

The following test

[2018-10-04 14:00] Dig-Doug commented on #6176
@dslomov - I also encountered this issue with the angular-bazel-example. My repro steps are [here](https://github.com/alexeagle/angular-bazel-example/issues/202). I tried them again today with bazel 0.17.2 and I am still able to repro.

Make sure you checkout the **exact commit** I mentioned, otherwise it won't fail. As @manekinekko said, the typescript issue must've been fixed.

[2018-10-04 14:08] katre commented on #6116
Also need to cherrypick 54c2572a8cabaf2b29e58abe9f04327314caa6a0 (this will fix https://github.com/bazelbuild/continuous-integration/issues/341)

[2018-10-04 15:32] benjaminp commented on #6176
Found it:
[code]
which would have been seen if all runfiles building output wasn't swallowed by Bazel. :)

[2018-10-04 16:05] meteorcloudy commented on #5945
@perfinion Yes, TensorFlow is green again on our CI, but TensorFlow_serving is still pinned to an older commit of TensorFlow. I'll disable it temporarily.

[2018-10-04 16:16] connesso commented on #5599
Tried to install tensorflow with Bazel 0.17

[code]

[2018-10-04 16:41] #6262 closed

[2018-10-04 17:08] benjaminp commented on #6303
That flag isn't expected to be in 0.17.x because that release branched at the beginning of August, and 774bfe0f2a8e9cb4fa389f1e8b50a8fc13efcfe7 landed later that month.

[2018-10-04 17:18] kkiningh commented on #6303
Oh gotcha. I got confused since the release date was after the date the feature landed. Consider this resolved.

Is there any timeline as to when this will be in a release?

[2018-10-04 17:18] #6303 closed

[2018-10-04 17:43] #5524 closed

[2018-10-04 17:47] gregestren commented on #6044
Guillaume,

Take a look at the [configurability roadmap](https://bazel.build/roadmaps/configuration.html), which will ultimately lead down this path. The roadmap item "Flagless multiplatform builds" is probably closest to what you want.

You can also check out [`--experimental_multi_cpu`](https://docs.bazel.build/versions/master/command-line-reference.html#flag--experimental_multi_cpu), which appr

[2018-10-04 17:48] gregestren commented on #6044
Marked as P3 because we're going to have to get farther down the [configurability roadmap](https://bazel.build/roadmaps/configuration.html) before we can principally tackle / up-prioritize this.

[2018-10-04 17:52] gregestren commented on #6043
This should be addressed pretty effectively by the [configurability roadmap](https://bazel.build/roadmaps/configuration.html) in the sections on flagless multiplatform builds.

We also have precedent for [skipping](https://groups.google.com/forum/#!msg/bazel-discuss/U6sFbPWiXGM/_hjddzwdFwAJ) targets under `//...` that don't match the current platform.

[2018-10-04 17:56] gregestren commented on #5802
@serynth what's the right priority for this?

[2018-10-04 19:22] kastiglione opened #6307 "bazel build flags not applied to builds of external repos"
### Description of the problem / feature request:

`bazel build` flags are not applied to the actions that build external repositories. Specifically, I am having this problem with [protocolbuffers/protobuf](https://github.com/protocolbuffers/protobuf) via `http_archive`. The flags that are not propagated are: `--copt` and `--action_env`.

### Feature requests: what underlying problem are you tryin

[2018-10-04 20:31] steeve commented on #5585
Looking at the commit, never mind 😄

[2018-10-04 21:13] ulfjack opened #6308 "Incomprehensible error message: "Exhaused retry attempts""
https://buildkite.com/bazel/google-bazel-presubmit/builds/9914#140dc6c6-0034-485a-bf8d-6ba99f457241

[code]

What subsystem has exhausted the retries here? What did it try in the first place? 0 attempts? Really?

[2018-10-04 21:15] jin commented on #6303
@kkiningh feel free to follow the release thread for updates: https://github.com/bazelbuild/bazel/issues/5963

[2018-10-04 22:40] jin commented on #6301
I managed to build aarch64 by providing the linkopts `-ldl` and `-lm`:

[code]

This is with Bazel 0.17.2 and NDK r14b. Could you please try that out?

[2018-10-04 23:53] fabiensanglard commented on #6301
Without the linker flags I got this error:

external/androidndk/ndk/toolchains/llvm/prebuilt/linux-x86_64/bin/clang -o bazel-out/android-armeabi-v7a-fastbuild/bin/asan/test bazel-out/android-armeabi-v7a-fastbuild/bin/asan/_objs/test/main.o external/androidndk/ndk/sources/cxx-stl/gnu-libstdc++/4.9/libs/armeabi-v7a/libgnustl_static.a external/androidndk/ndk/sources/cxx-stl/gnu-libstdc++/4.9/libs/arm

[2018-10-05 00:02] jin commented on #6301
Could you please share the Bazel version you're using?

On Thu, Oct 4, 2018 at 7:53 PM Fabien <notifications@github.com> wrote:

[2018-10-05 00:40] kkiningh opened #6309 "Unknown option --start-lib on OSX when compiling TreeArtifacts using cc_library"
### Description of the problem:

When `cc_library` depends on a directory that contains C++ source files (created through declare_directory) Bazel emits the linker option `--start-lib` which is undefined for clang on OSX.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

I have a minimal example in [this repo](https://github.com/kkini

[2018-10-05 05:28] samschlegel commented on #6138
The issue is that `blaze_util::JoinPath` is used to build the file paths in `old_files`, but it simply joins the path parts with a `/` instead of something platform-dependent. Since `read_files` are delimited by `\`, and `lost_files` is simply a set intersection, none of the read files are properly removed from `old_files`, and so all of the paths are shown.

It seems like changing `blaze_util::Jo

[2018-10-05 05:35] meteorcloudy opened #6311 "Rules_* jobs are failing with Bazel at HEAD"
https://buildkite.com/bazel/bazel-with-downstream-projects-bazel/builds/480

[code]

Bisecting gives 23488930607e4919a99e80de240d6d35f4037797 as the culprit

@katre, can you confirm this? Also, maybe we are lacking some test coverage here.

[2018-10-05 05:36] samschlegel commented on #6138
Actually it seems like changing `blaze_util::JoinPath` to delimit with `\` might not be the appropriate move here, since Bazel internal paths are Cygwin paths. Perhaps converting `old_files` with `ConvertPath` is appropriate

[2018-10-05 08:09] laszlocsomor commented on #6200
Could be related to https://github.com/bazelbuild/bazel/issues/6138 -- `JoinPath` must be fixed on Windows.

[2018-10-05 08:32] perfinion commented on #5963
Can we get https://github.com/bazelbuild/bazel/commit/f03acca9d841a697432663f42dda0e8268b11d34 cherry-picked in 0.18 too? It adds try-import which we need for TensorFlow.

[2018-10-05 08:43] laszlocsomor commented on #6122
Indeed. Sorry for the long silence. Let me fix this bug.

[2018-10-05 09:45] meisterT opened #6313 "Bazel's embedded JDK is only used to run Bazel."
Currently we expose the embedded JDK as remote repository and also use it as host_javabase by default.

Design doc: https://docs.google.com/document/d/11OGJ2QTjnZgxbkgVFrKa3eD2DQ68qnXws7UQ1czc-qQ/edit#heading=h.5dewu068k9gb

See also https://github.com/bazelbuild/bazel/pull/6216

[2018-10-05 09:46] meisterT opened #6314 "Bazel's embedded JDK is minimized"
Restrict the set of modules in the embedded JDK to what Bazel needs, probably:
java.base, java.compiler, java.logging, java.management, jdk.management, jdk.unsupported, jdk.compiler, jdk.net, jdk.zipfs

Part of https://docs.google.com/document/d/1Igmv-2GfXkoVFWTXvBYPeniQom8nLAwzqzridDlBIS4/edit?ts=5babff11#heading=h.nke12cugvesd

Will reduce final binary size by ~40MB

[2018-10-05 09:50] meisterT commented on #6314
(blocked by https://github.com/bazelbuild/bazel/issues/6313)

[2018-10-05 09:52] meisterT opened #6315 "Proguard the A-server.jar"
Stripping out dead code with proguard should reduce the size of A-server.jar by almost 50%.

See https://docs.google.com/document/d/1Igmv-2GfXkoVFWTXvBYPeniQom8nLAwzqzridDlBIS4/edit?ts=5babff11#heading=h.wg6xrnp53jla

We have to make sure that this is well tested on CI while not slowing down normal development workflows.

[2018-10-05 11:25] meisterT opened #6316 "Move tools required for Java builds (JavaBuilder, ijar, singlejar etc.) to remote repository"
Part of https://docs.google.com/document/d/1Igmv-2GfXkoVFWTXvBYPeniQom8nLAwzqzridDlBIS4/edit?ts=5babff11#heading=h.wg6xrnp53jla and the logical next step after #6313.

That's also a good step in the direction to have different JavaBuilder versions for different versions of the JDK.

[2018-10-05 11:27] meisterT opened #6317 "Ship Bazel's 3rd party tools without srcs"
Move them to mirror.bazel.build instead and integrate it in the release pipeline.

The srcs contribute to ~18MB of the bazel binary.

[2018-10-05 11:31] meisterT opened #6318 "Test various compression algorithms for the bazel binary"
They may affect binary size, decompression and extraction speed.

Things to try: brotli, zoepfli, zlib, gz

[2018-10-05 13:45] guibou commented on #6043
@gregestren I saw the configurability roadmap and I'm looking forward for this `plateforms` attribute. Thank you.

[2018-10-05 13:46] dslomov opened #6319 "Remove tools/bazel.rc parsing"
Current documentation of how `.bazerc` files are parsed is here: https://docs.bazel.build/versions/master/user-manual.html#where-are-the-bazelrc-files

#6321 introduced a support for parsing `tools/bazel.rc` file to ease the transition.

# How to migrate

(see the complete summary of changes in https://github.com/bazelbuild/bazel/issues/6319#issuecomment-427397661)

`%workspace%/tools/bazel.rc` is

[2018-10-05 13:47] guibou commented on #6044
Or build some targets with a toolchain and somes with a another toolchain at once.

Thank you for your answer, I'm looking forward for an implementation of the relevant items from the roadmap.

[2018-10-05 14:02] katre commented on #6311
Yes, this is caused by 2348893. Please roll it back while I investigate.

[2018-10-05 14:02] dslomov opened #6321 "Temporarily restore processing of workspace-wide tools/bazel.rc file"
Mtigate widespread breakage that occured after landing https://github.com/bazelbuild/bazel/issues/5765 by implementing the fix proposed in https://groups.google.com/d/msg/bazel-discuss/ycDacctX2vw/EGFxGLibAgAJ.

This introduce a weird new behavior that not fully compatible with either the old or the new (per #5765) way of doing things, but will probably work for a vast majority of users. #6319 tra

[2018-10-05 14:03] dslomov commented on #6319
Release blocker for #5963.

[2018-10-05 14:13] katre commented on #6319
This is then also a release blocker for 0.19 (#6116).

[2018-10-05 14:29] katre commented on #6311
Downstream projects from rules_go that will need to be updated once rules_go releases the fix:
* bazel-toolchains
* buildtools
* Gerrit
* rules_docker
* rules_nodejs
* rules_sass
* rules_typescript

[2018-10-05 14:32] dslomov commented on #6321
Release blocker for 0.18 #5963

[2018-10-05 14:33] dslomov commented on #6319
This bug is actually not a release blocker for 0.18, #6321 is.
However this bug is indeed a blocker for 0.19

[2018-10-05 14:36] katre commented on #6319
Once they are merged please comment on #6116 to let me know what the needed cherrypicks are. Thanks!

[2018-10-05 15:06] cvcal commented on #6319
The old list of bazelrcs was, in order:
- `%workspace%/tools/bazel.rc` (unless `--nomaster_bazelrc`)
- `%binary_dir%/bazel.bazelrc` (unless `--nomaster_bazelrc`)
- system rc, `/etc/bazel.bazelrc` or in `%ProgramData%` for Windows (unless `--nomaster_bazelrc`)
- the first of the following gets called the "user" bazelrc
   - path passed by flag `--bazelrc`
   - `%workspace%/.bazelrc`
   - `$HOME/.ba

[2018-10-05 15:13] gregestren commented on #6044
Ah, okay, thanks for clarifying. I suspect we'll see the latter (target A with toolchain A'  and target B with toolchain B') happen sooner. That's explicitly on the roadmap.

The former (building target A with both toolchains A' and B' in the same build) will be more complicated simply because it requires more subtle UI design.

Also note the roadmap's current ETAs need a refresh. We're reviewing

[2018-10-05 16:06] cushon commented on #6299
The espresso build was using proguard with `-dontpreverify` set, which produces bytecode that leads to this problem.

Is that library using proguard or any other bytecode rewriting tools?

To provide a little background, the problem occurs if bytecode has missing or ill-formed `StackMapTable` attributes [1], and is rewritten using ASM. Recent versions of ASM require Java 7 and newer bytecode to ha

[2018-10-05 16:08] dslomov commented on #5963
I believe f03acca is in the release.

[2018-10-05 16:14] dslomov commented on #6319
@katre Well actually this one is not a release blocker for 0.19 because that one is already cut. As long as you do not cherry-pick the fix for #6321 (don't), no action is needed.

However it is a release blocker for 0.20 (#6117)

[2018-10-05 16:14] dslomov commented on #6117
#6319 is a release blocker.

[2018-10-05 16:19] cushon commented on #6316
For Java-based tools that are distributed as jars (JavaBuilder, turbine, javac) the remote repo can just contain deploy jars, right? But for ijar and singlejar it will need sources since those tools are currently build from source during the build?

Will this involve moving the sources for these tools out of the main Bazel repo and into a separate repository, or is it sufficient to leave the sourc

[2018-10-05 16:22] sunyal commented on #6299
@cushon thanks for the explanation. I had some understanding yesterday based around potentially ASM causing some issues with the StackMapTable attributes.
I took a few approaches to try to mitigate the issues:
1. Upgraded to the latest jar 1.9.27
2. It does look like there are ASM libraries being used by different plugins, such as AspectJ, shader.
I have updated aspectj plugins and libraries to th

[2018-10-05 16:37] sunyal commented on #6299
Why does the stable version of Bazel not fail on this?

[2018-10-05 17:08] serynth commented on #5802
This seems like a low priority fix (P3? the deprecation and visibility behavior might be surprising and somewhat unhelpful, but it doesn't specifically block any build functionality).

[2018-10-05 17:17] perfinion commented on #5963
Ah cool, yeah i double checked the baseline for rc8 and it is in. When I originally clicked the commit github didn't list any tags tho so I wasnt sure.

[2018-10-05 17:35] cushon commented on #6299
It turns out this is a desugar bug after all.

The aspectj bytecode omits `StackMapTable`s, but it's also v45 bytecode, so that should be OK.

However desugar is upgrading the major version to v51, which isn't allowed to omit `StackMapTable`s:

[code]

Desugar has logic to preserve <v51 major versions:

https://github.com/bazelbuild/bazel/blob/73b0808d52127fc04a5548a54fdfa98dd2cd6710/src/tools/and

[2018-10-05 17:39] EdSchouten opened #6323 "On Windows, genrule-setup.sh contains carriage returns"
### Description of the problem / feature request:

On both a Linux and a Windows box, I have Bazel 0.17.2 installed. On the Linux system, the copy of `tools/genrule/genrule-setup.sh` is 858 bytes in size, whereas the copy shipped with the Windows version of Bazel is 882 bytes in size. The former uses NL, whereas the latter uses CR+NL.

Though `genrule-setup.sh` may contain CR+NL on Windows and wor