[2016-09-23 15:12] kchodorow commented on #1795
I still don't think this is a p1 (who cares, and if they do there's a workaround), but I've got a fix out for it.

[2016-09-23 15:17] brendandouglas commented on #1818
Turning off error prone with --javacopt='-extra_checks:off' is a good workaround.

[2016-09-23 15:45] pcj commented on #1817
@laszlocsomor are you building within bazel's `WORKSPACE`, or from a different `WORKSPACE` outside of the bazel repo dir that calls `java_proto_library`?

I've always seen this same behavior and assumed that one has to setup the third_party directory to match bazel's expectations in each project.  If not, it could be a `Label(relative_to_caller_repository)` issue.

@is03wlei You can also use https

[2016-09-23 15:47] laszlocsomor commented on #1818
Trying to repro this but I'm not seeing any errors:

[code]

Is there any extra step necessary to turn on Error Prone?

[2016-09-23 15:53] laszlocsomor commented on #1817
@pcj: yes, inside bazel's own workspace, with a stock `WORKSPACE` file in a clean checkout

[2016-09-23 15:55] laszlocsomor commented on #1817
[code]

[2016-09-23 16:00] laszlocsomor commented on #1787
I think we just have to update [`RepositoryFunction.getRepositoryDirectory`](https://github.com/bazelbuild/bazel/blob/f92ecb3d12a8a966524cda067029dc0aaae409b3/src/main/java/com/google/devtools/build/lib/rules/repository/RepositoryFunction.java#L344) to request a [`RecursiveFilesystemTraversalValue`](https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/skyfram

[2016-09-23 16:06] pcj commented on #1817
Looks like it's working for you, but within bazel itself (?).  What happens if you:

[code]

[2016-09-23 16:20] laszlocsomor commented on #1817
@pcj : In this case the build fails, because the workspace is empty and missing the necessary tools. Do you think this is broken? Do you think `proto_library` should have the [implicit dependency](https://github.com/bazelbuild/bazel/blob/75f367c6b5f26244777e26134c61f0c26af2549c/src/main/java/com/google/devtools/build/lib/rules/proto/BazelProtoLibraryRule.java#L41) on `@<some_repo>//:protoc` instea

[2016-09-23 17:02] pcj commented on #1817
I'm not sure if it's broken or not (I guess it's in the eye of the beholder) but I do think it's confusing for end-users.

It's not clear (to me) what kind of rule `//third_party/protobuf:protobuf` is supposed to be.  Is this the `protoc` binary, a `cc_library`, a jar, or something else?  In https://github.com/google/protobuf/blob/master/BUILD, it's a `cc_library`.

Perhaps something in `//externa

[2016-09-23 17:16] brendandouglas commented on #1818
@cushon tracked this down -- it was user error (I was using an old version of bazel). Rebuilding bazel fixed it.

[2016-09-23 17:16] #1818 closed

[2016-09-23 17:17] brendandouglas commented on #1818
(more specifically, I was using a bazel build with error-prone 2.0.9)

[2016-09-23 17:23] janakdr commented on #1778
Thanks for the report. This is indeed an issue. However, I'm not sure what the principled fix is. I can create the same issue with a genrule that creates headers:
[code]
Admittedly, this situation may be less common than the cc_inc_library case, especially because of the use of the discouraged (at least by me) "includes" attribute in //bar:bar.

An aside as to why the normal Blaze mechanisms for c

[2016-09-23 17:51] werkt commented on #1778
So I (and most of !google) don't know what 'normal Blaze mechanisms for clearing outputs' are, but unless they're different than Bazel, there's only one action for all symlinks under a cc_inc_library.

The long term solution is fine, but will have exactly the same complexity as syncing inc dir contents with the map from my PR (a little more in fact, with the deletion of valid links), but obviously

[2016-09-23 18:08] janakdr commented on #1778
Sorry, that part of my response was incorrect (noted during my writing, but
forgot to change it). The normal mechanism is AbstractAction#prepare. I
think it makes more sense to delete the directory during #prepare than try
to delete every file individually during action execution. Will send out a
commit soon.

On Fri, Sep 23, 2016 at 1:51 PM, George Gensure <notifications@github.com>
wrote:

[2016-09-23 18:25] janakdr commented on #1778
Sent out https://bazel-review.googlesource.com/#/c/6250. @werkt: not sure how to add you as reviewer, but please add yourself!

[2016-09-23 19:45] PiotrSikora commented on #1697
Yes, it's git repository.

[2016-09-23 20:19] aj-michael opened #1819 "Incremental dexing fails in Bazel"
Even though the flag is experimental, we should not be crashing on all options.

[code]

[2016-09-23 20:20] ahumesky commented on #1798
It's not clear to me what's not supported here. I'm assuing these rules came from generate_workspace. If it sees two versions of the same library, it can't know which one will work. Worse, it's possible that neither choice will work. I suggest trying to converge on one version. As far as I know, maven resolves conflicts the same way: it picks one of the versions. You otherwise have to manually con

[2016-09-23 22:20] jart commented on #1814
Does TensorFlow honor the HTTP_PROXY environment variable?

[2016-09-23 22:21] jart commented on #1814
Does Bazel honor the HTTP_PROXY environment variable?

[2016-09-23 22:57] damienmg opened #1820 "FR: Add `--enforce_repository` flag"
This flag would add a repository to the workspace file from the command line. If the new repository has the same name than another one in the WORKSPACE file, the one in the WORKSPACE file will be ignored.

This is useful for continuous integration use cases when we want to test change to downstream dependency (so we can inject workspace dependency). It is also useful for IDE integration to insert

[2016-09-24 21:39] mbrukman opened #1821 "Bazel package deps incompatible with Travis JDK"
I am trying to test a project which uses Bazel with Travis.

The only way I've gotten to use it is via the following config (see [full config file](https://github.com/mbrukman/autogen/blob/master/.travis.yml)):

[code]

Travis includes the ability to get JDK 8 pre-installed via the following option:

[code]

However, Bazel is incompatible with the Oracle 8 JDK provided by Travis, due to package de

[2016-09-24 21:43] mbrukman commented on #29
I've set up a Travis CI build using Bazel binary packages, though it requires manually installing Oracle 8 JDK since Bazel is incompatible with Travis CI's Oracle 8 JDK package. See more details, including a complete config, in issue #1821.

For an even better experience, we would need to get Bazel repo whitelisted for Travis CI (see
https://github.com/travis-ci/apt-source-whitelist/issues/305), a

[2016-09-25 18:18] GinoHereIam opened #1822 "Create build flow dependency"
Hello!

I've got a project and I try to set up a build flow dependency, like I want to build my top - level BUILD (which should be in same like the WORKSPACE file, if it is possible). This is where I have my entry  point to build the project.

Is there a way to define a rule to build this dependency chain?

`bazel build //PROJECT:ALL`

[code]

Thanks & regards
Gino

[2016-09-25 21:25] laurentlb commented on #1793
I think this IllegalStateException happens when there's a circular dependency using load(). We've already noticed this problem in the past. We should look at it soon and provide a better error message.

Thanks for the report!

[2016-09-25 21:49] vmeade opened #1823 "Run compile.sh in Bazel directory."
I am running
INPUT:
compile.sh
OUTPUT:
bash: compile.sh: command not found

and then
INPUT
./compile.sh
OUTPUT
bash: ./compile.sh: No such file or directory

How do I run compile.sh _in Bazel directory_?

[2016-09-25 22:30] vmeade opened #1824 "Errors in the compile.sh ... can anyone help?"
INFO:    bazel/compile.sh compile /path/to/bazel
🍃  Building Bazel from scratch.......
C:\tools\msys64\home\Vincent\bazel>call "C:/Program Files (x86)/Microsoft Visual Studio 9.0/           VC/VCVARSALL.BAT" amd64
'"C:/Program Files (x86)/Microsoft Visual Studio 9.0/VC/VCVARSALL.BAT"' is not recognized as            an internal or external command,
operable program or batch file.

C:\tools\msys64\

[2016-09-25 22:37] vmeade commented on #1824
It might be that I needed to set up Visual studio before the compiler could access it...

[2016-09-26 03:18] ittaiz commented on #1822
Hope I'm not interfering but did you try bazel build //:ALL? (Btw, sounds
more relevant for the google group of Bazel discuss)
On יום א׳, 25 בספט׳ 2016 at 11:18 Gino <notifications@github.com> wrote:

[2016-09-26 06:43] laszlocsomor commented on #1817
@cgrushko to the rescue! :) Please see the previous comment. Could you advise a principled way forward?

[2016-09-26 06:50] GinoHereIam commented on #1822
No I didn't, because there is no rule ... my question was if it is possible. And honestly, I don't know how if it is possible. :(

[2016-09-26 07:33] ajeetksingh opened #1825 "Installation Time"
Hi,

I am trying to dabble with tensorflow and Bazel is one of the packages required by it.
I am running the following command to compile the library on my CentOS system:
`./compile.sh compile`

And it's taking ages to compile. How much time does it take to install the library? Is there any flag in `compile.sh` which would help me see the compile output? For example,

`./compile.sh compile --verbo

[2016-09-26 07:46] laszlocsomor opened #1826 "Windows: cannot build bazel at 78b9cab"
This fails both with `./compile.sh` and with `bazel build src:bazel`:

[code]

I also see https://github.com/bazelbuild/bazel/issues/1743 (but it's likely because my Bazel binary was built before that bug was fixed):

[code]

[2016-09-26 07:48] #1795 closed

[2016-09-26 08:11] hanwen commented on #1758
wow, that was quick! thanks for first class customer service :)

[2016-09-26 08:55] laszlocsomor commented on #1824
What version of Bazel are you using? Which commit did you check out?

[2016-09-26 09:12] laszlocsomor commented on #1787
Working a repro case so we can test a bugfix.

[2016-09-26 09:24] meteorcloudy commented on #1821
Is the name of the Travis JDK "oracle8jdk", I mean, if we add "oracle8jdk" as an alternative dependency, will that fix the problem?

[2016-09-26 09:26] petemounce commented on #1767
We're affected by this, too.

[2016-09-26 09:29] meteorcloudy commented on #1823
Can you make sure `compile.sh` is under your current directory?

[2016-09-26 09:34] meteorcloudy commented on #1825
Bazel is the build tool of tensorflow, not actually a library tensorflow depends on, you can follow [this page](https://www.bazel.io/versions/master/docs/install.html) to install bazel on your machine. And `./compile.sh` shouldn't take too long (I believe less than 10 mins on Linux).

[2016-09-26 09:52] laszlocsomor opened #1827 "Windows: Path.relativeTo is unaware of Windows paths"
[code]

[2016-09-26 10:50] meteorcloudy opened #1828 "//src/test/shell/bazel:bazel_apple_test is failing on Darwin"
http://ci.bazel.io/job/bazel-tests/BAZEL_VERSION=HEAD,PLATFORM_NAME=darwin-x86_64/239/consoleFull
[code]

[2016-09-26 10:53] meteorcloudy commented on #1828
//cc @dmishe Can you take a look?

[2016-09-26 10:57] meteorcloudy commented on #1828
//src/test/shell/bazel:bazel_example_test is also failing due to same reason

[code]

[2016-09-26 11:00] meteorcloudy commented on #1828
Same reason for `//src/test/shell/bazel:bazel_objc_test`
[code]

[2016-09-26 11:15] #1826 closed

[2016-09-26 11:26] laszlocsomor opened #1829 "Windows, bootstrapping: won't copy resulting bazel binary"
Sometimes `compile.sh` will successfully build Bazel, but fail to copy `bazel-bin/src/bazel.exe` to `output/bazel.exe`. I strongly suspect the reason is compile.sh's inability to remove the previous `bazel-bin` junction. However the script still seems to clean up its temp directories, including the build outputs, so you're left with no binary at all.

[2016-09-26 11:32] ajeetksingh commented on #1825
Thank you for the prompt reply..
I am following the instructions on the mentioned webpage, but still the compilation is taking eternity.

I have Oracle Java 1.8 installed on my system, and executing a simple java function takes around 45seconds. I don't know, if it's pertaining to the problem or not.

[2016-09-26 14:29] laszlocsomor opened #1830 "Bootstrapping: bazel binary is unoptimized"
...because [`scripts/bootstrap/compile.sh`](https://github.com/bazelbuild/bazel/blob/84fa11d2a71ededdc2521ab9acae91ea134a9bbd/scripts/bootstrap/compile.sh#L306) does not pass `-c opt`.

[2016-09-26 15:09] dmishe commented on #1828
Sure, it looks like we don't have the required dep make_hashed_objlist.py packaged.

[2016-09-26 16:10] damienmg commented on #1820
/cc @helenalt

[2016-09-26 16:14] ittaiz commented on #1822
AFK but you could probably synthesize a gen rule that you could use. Don't
know if that is an anti pattern or not.
In any case I think this discussion would be better placed in the google
group but those are my 2c
On יום א׳, 25 בספט׳ 2016 at 23:50 Gino <notifications@github.com> wrote:

[2016-09-26 16:23] vmeade commented on #1824
I figured it out from the error message last night.

"C:/Program Files (x86)/Microsoft Visual Studio 9.0/VC/VCVARSALL.BAT" this was an older version of visual studio still operating on my computer and so when the installer went to look for Visual Studio it found this one, and the not the newly installed version which was 14.0   .

[2016-09-26 16:24] vmeade commented on #1823
I figured this out by running bazel/compile.sh

Also I was able to run the program from source.

[2016-09-26 16:25] #1823 closed

[2016-09-26 17:50] OverratedGman commented on #1824
Hey, I had this problem last night. I resolved it by copying the file VcDevCmd from Common7/tools and moved it to VC and then renamed it vcvarsall. For the second error I ran the auto repair that is built into MS Visual Studio. You can access it through remove or uninstall the program

[2016-09-26 17:50] #1671 closed

[2016-09-26 17:50] #1786 closed

[2016-09-26 17:56] kavehv opened #1831 "Querying rdeps of BUILD file don't yield targets that BUILD file contains"
We use an rdeps query to bazel to get a list of targets to rebuild based on a set of files that have changed.
`bazel query --keep_going 'kind(rule, rdeps(..., set(%s)))`
where %s is a set of files determined to have changed through some VCS query.

If that set only includes a bazel BUILD file, bazel's rdeps query returns no targets, not even a genrule that's in the BUILD file that changed.

`Chang

[2016-09-26 18:01] dmishe commented on #1828
Have to send this back to @c-parsons as the dependencies looks correct to me and there are no obvious reasons why the test sandbox isn't picking those up.

[2016-09-26 18:20] dslomov commented on #1827
I bet
`$ bazel --batch info --clien_cwd=$(cygpath -w ${PWD})`
works. I.e. we only allow Windows paths.

[2016-09-26 18:32] pcj commented on #446
@f3rdy Here is a javadoc rule for bazel: https://github.com/pubref/rules_apidoc/blob/master/java/README.md#javadoc

[2016-09-26 18:33] meteorcloudy opened #1832 "Bazel bootstrap is failing on JDK7"
http://ci.bazel.io/view/Bazel%20bootstrap%20and%20maintenance/job/Bazel/853/JAVA_VERSION=1.7,PLATFORM_NAME=linux-x86_64/console
Culprit: 5972bee6ebfa53cf165befab9fa7962e19d5f620
[code]

[2016-09-26 18:42] damienmg commented on #1832
Rollback?

[2016-09-26 18:43] damienmg commented on #1832
/cc @katre

[2016-09-26 18:45] meteorcloudy commented on #1832
I'll rollback it now.

[2016-09-26 19:19] #1830 closed

[2016-09-26 19:40] mikelikespie opened #1833 "objc_library has stopped working due to ` missing input file '@bazel_tools//tools/objc:make_hashed_objlist.py'`"
Getting this error...

[code]

Guessing 48859c1daeb931313f7b7e6cae447699b07d997e broke it.

[2016-09-26 19:43] damienmg commented on #1248
This is done for a long time, no? @kchodorow?

[2016-09-26 19:43] damienmg commented on #1521
This was done 86a40472a490e8cc8b1793db17b012b0fc21cd23

[2016-09-26 19:43] #1521 closed

[2016-09-26 19:49] kchodorow commented on #1820
It seems like the feature request is probably "have a way of overriding external repositories for CIs, users in China, people on an intranet, etc."  A flag that takes a python string doesn't seem like a great way to do that, there should at least be a design doc.

[2016-09-26 19:53] #1735 closed

[2016-09-26 21:24] kchodorow opened #1834 "Remove zip dep from deb"

[2016-09-26 21:58] jtbr commented on #1767
Running Linux mint 17.3 (based on ubuntu 14.04), with bazel 0.3.1 and oracle JDK8 newly installed, I'm getting apparently similar results. I'm trying to build tensorflow. Their configure calls

[code]
I get this:
[code]

The dots take maybe 10 minutes on a very fast machine, and nothing appears to happen. I don't find any useful logs anywhere. Is this the same issue, or can you point to other issu

[2016-09-26 23:44] robertwb opened #1835 "BUILD file conflicts with Python's distutils build directory on case-insensitive filesystems"
Is there a way to support an alternative name for this build file? (I'm looking at making my project usable from https://www.bazel.io/versions/master/docs/be/workspace.html#git_repository specifically.)

[2016-09-27 00:26] #1833 closed

[2016-09-27 00:26] katre commented on #1833
Duplicate of #1828 .

[2016-09-27 00:28] katre commented on #1828
Fixed in bebbbe5d30f2a05e93780306208e1933d664d71b.

[2016-09-27 00:28] #1828 closed

[2016-09-27 02:28] AustinSchuh opened #1836 "Sandboxing slow"
@philwo I'm back...  I tried out a recent build of bazel on our code base, and, after hacking around some changes to how the toolchains have changed, ran into issues.  I saw 100% CPU usage (1 core) for Java, and, after some progress, no build progress.  I waited 40 minutes with no progress (Bazel wasn't reporting any actions were being executed).  atop said that bazel was writing 4 MB/s to disk at

[2016-09-27 02:32] damienmg commented on #1836
Just triaging in prevention if that's a big regression, we need to figure things out before actually releasing bazel (though we are safe to do a release candidate).

/cc @kchodorow and @katre for the release

[2016-09-27 02:32] damienmg commented on #1832
This is solved

[2016-09-27 02:32] #1832 closed

[2016-09-27 02:41] brian-peloton commented on #1836
A bit more info from some information gathering I did: this is on XFS on an NVME SSD. It happens even when the filesystem isn't nearly full. Other processes do manage to read and write data to the same filesystem at reasonable speeds while bazel is crawling along. strace with timestamps revealed that all the filesystem operations in all of bazel's threads were moving along for a bit, and then they

[2016-09-27 03:26] AustinSchuh commented on #1836
After an expunge, I see the following baseline:  (I ran a fetch before hand).

[code]

I did the same with a recent bazel (as of about a week ago, which has the new sandbox code in it).  For full disclosure, I've got the Peloton patch for flakey tests in that bazel, but Brian doesn't think that will affect anything.  I can re-run with a vanilla master if you want.

I've waited 1/2 hour now, and it

[2016-09-27 03:40] damienmg commented on #714
This should now be solved with --action_env

[2016-09-27 03:40] #714 closed

[2016-09-27 03:47] AustinSchuh commented on #1836
I ran strace on it for a couple seconds, and here's the output

[code]

https://gist.github.com/AustinSchuh/968ebf69a6093a2e754bc21eff231a6d

Hopefully that's actually helpful

[2016-09-27 03:54] brian-peloton commented on #1836
I don't see the large gaps in all syscalls in that trace, but no `symlink`s finish between 20:43:12.413991 and 20:43:12.451891, then a bunch finish until 20:43:12.456680 when they all stop again until 20:43:12.505149 (except a single one at 20:43:12.483374). That looks really strange, but I have no idea why it's happening. It's not an issue with long latencies; while `symlink`s are finishing many

[2016-09-27 07:43] laszlocsomor commented on #1827
Probably yes, but I think that's only symptomatic treatment. There's nothing preventing the user from passing a Unix-style path.

On top of that the uncaught ISE is bad in its own right.

[2016-09-27 07:56] meteorcloudy commented on #1835
//cc @damienmg  Is there a workaround for this problem?

[2016-09-27 09:07] #1834 closed

[2016-09-27 09:15] #1824 closed

[2016-09-27 09:44] hanwen commented on #446
I made one for gerrit too, see https://gerrit.googlesource.com/gerrit/+/master/tools/bzl/javadoc.bzl

[2016-09-27 10:20] is03wlei opened #1837 "Bazel compilation error on commit bb5901b"
sh compile.sh
INFO: You can skip this first step by providing a path to the bazel binary as second argument:
INFO:    compile.sh compile /path/to/bazel
🍃  Building Bazel from scratch.......
🍃  Building Bazel with Bazel.
.WARNING: /tmp/bazel_XnUx9q4j/out/external/bazel_tools/WORKSPACE:1: Workspace name in /tmp/bazel_XnUx9q4j/out/external/bazel_tools/WORKSPACE (@io_bazel) does not match the name giv

[2016-09-27 11:50] lberki commented on #1820
+1 for Kristina's opinion; I don't think the command line option is a good idea, because you are limited to short strings and are plagued by quoting issues.

How about adding a `--workspace_prefix` or `--workspace_suffix` option that would be prepended/appended to the workspace file? It would also be useful for cases like individual developers wanting to override parts of the `WORKSPACE` file they

[2016-09-27 13:06] damienmg commented on #1820
The original idea was `--enforce_repositories` that takes a workspace file (we discussed offline back then that since we want that to prevent other workspace definition from loading, it prefix/suffix is not the good name). But we had some discussion back in July and @ulfjack suggested we have a synthetic way to express it from the command line, I don't remember why (you were probably not in that m

[2016-09-27 13:26] pcj commented on #446
Like how it zips it up for you.

[2016-09-27 13:34] lberki commented on #1820
+1 for not introducing Yet Another Language. But putting complex Pythonic expressions in a shell command doesn't sound like a recipe for happiness, either.

[2016-09-27 13:45] katre commented on #1835
We are already working on this as #552. I'll close this, feel free to follow there.

[2016-09-27 13:45] #1835 closed

[2016-09-27 13:47] katre commented on #552
Just as an update, work is in progress, I have a mostly working solution but there are a lot of tests to fix up as a result.

[2016-09-27 13:51] mightyguava commented on #552
As a transitory aid, until this is done, I made a really simple script to patch Bazel https://github.com/UrbanCompass/bazel/blob/ucbuild/rename_to_ucbuild.sh. We managed to transition successfully from pants with a ~2 week overlap and then went back to the vanilla Bazel binary after.

[2016-09-27 15:01] ulfjack commented on #1820
Automatically rewriting the WORKSPACE file, which can contain arbitrarily
complex Skylark code, doesn't sound like a recipe for success. For CI, I
think we mostly need a way to override remote locations specifically, right?

On Tue, Sep 27, 2016 at 3:34 PM, lberki <notifications@github.com> wrote:

[2016-09-27 15:05] meteorcloudy opened #1838 "//src/test/shell/bazel:bazel_toolchain_test is failing on Darwin"
http://ci.bazel.io/job/bazel-tests/243/BAZEL_VERSION=HEAD,PLATFORM_NAME=darwin-x86_64/console
[code]
This test is introduced at b20c10768a3abdc1be3ef142e33654c985fe690b, and failing with this error since 70f88f518b0b74027fc6a88cf13105d848c3f86b

[2016-09-27 15:08] damienmg commented on #1820
@katre: per discussion today, you get to write a doc about that feature and decide on the good solution :)

[2016-09-27 15:09] meteorcloudy commented on #1838
I believe the fix should be simple, just have to find the right place to add `darwin` as a cpu.

[2016-09-27 15:15] damienmg commented on #1820
Yes that's what this proposal is for. It is specifying a workspace file or
part of it from the command line that would take precedence over the same
repositories defined in the WORKSPACE file itself. It won't implies any
rewriting of the WORKSPACE file.

The CI system would assume that the name uniquely identify a dependencies
that is what we have been pushing forward. I guess @katre has all the
i

[2016-09-27 15:20] meteorcloudy opened #1839 "//src/test/shell/integration:java_integration_test is failing on Darwin with JDK7"
http://ci.bazel.io/job/bazel-tests/243/BAZEL_VERSION=HEAD-jdk7,PLATFORM_NAME=darwin-x86_64/consoleFull
[code]
Not sure why it's not only failing on other platform with JDK 7, maybe it only gets to build on Darwin?
//cc @cushon

[2016-09-27 15:20] laszlocsomor commented on #1829
https://github.com/bazelbuild/bazel/commit/9f7180fc5211f9c381a57a940975390c825a7d90 works around this. I incorrectly referenced #1827 in the commit message.

[2016-09-27 15:20] #1829 closed

[2016-09-27 15:21] meteorcloudy commented on #1839
Possibly related commit 254cde06bc5df24df03e2164dd7c9fe589e3f82c

[2016-09-27 15:45] katre opened #1840 "Bazel release 0.3.2"
Baseline will be 023a7bdc6506a23ff27ce392eb50d3927b3f409e
Cherrypicks: bebbbe5d30f2a05e93780306208e1933d664d71b

[2016-09-27 15:48] katre commented on #1840
Command: ./scripts/release/release.sh create 0.3.2 023a7bdc6506a23ff27ce392eb50d3927b3f409e bebbbe5d30f2a05e93780306208e1933d664d71b

[2016-09-27 15:50] katre commented on #1840
Release 0.3.2 (2016-09-27)

Baseline: 023a7bd

Cherry picks:
   + bebbbe5: Fix dependency on libtool's helper script
              make_hashed_objlist.py.

Incompatible changes:

  - If you maintain a rule that uses persistent workers, you'll have
    to specify execution_requirements={"supports-workers": 1} in the
    ctx.action that intends to run a tool with workers. The
    WorkerSpawnStrategy

[2016-09-27 16:18] laszlocsomor opened #1842 "Windows, native: envvars are case-insensitive"
Just like paths, environment variables are case-insensitive.
This causes trouble when running _not_ under msys but under cmd.exe [1]:

[code]

The reason we see the error above is that the envvar is `Path`, not `PATH`. `cmd.exe` treats those as the same, but Bazel doesn't.

[1] as of 2016/09/27 this is only possible if you copy `libblaze.jar` as built by `compile.sh` (need to fiddle with the scrip

[2016-09-27 16:25] laszlocsomor opened #1843 "Windows, native: windows paths may be mistaken for escaped strings"
When running from cmd.exe instead of msys [1], if for example `--install_base` points to `"c:\foo\bar\"`, then Bazel crashes with a NPE, because the option parser believes the second `"` is escaped and keeps reading until the next "unescaped" one:

[code]

If you remove the trailing `\` from `--install_base`'s path, then it works (and fails with #1842).

[1] as of 2016/09/27 this is only possible

[2016-09-27 17:28] katre commented on #1840
Adding cherrypick: 8a0d45ff940eea72a2887dc747d961c42f0e79c7

[2016-09-27 17:47] bshi opened #1844 "pkg_tar with `extension="tar.gz"` creates non-deterministic output"
Is this intentional behavior?

Here are two artifacts I downloaded from CI.  It seems the tarball itself is content equal but the compression undoes this.

[code]

[2016-09-27 17:52] damienmg commented on #1844
This is the output of? Are you using --stamp?

[2016-09-27 18:06] AustinSchuh commented on #1836
It finally finished.

[code]

Let me know if you need any more info.

[2016-09-27 18:12] bshi commented on #1844
Ah I wasn't aware of this flag.  We aren't invoking bazel with `--stamp` on the command line but it seems it's enabled for a subset of the rules?

[2016-09-27 18:40] skubica opened #1845 "cc_binary support #included .cc/.cpp files for template functions"
The C++ FAQ recommends that template function code be written in a \*-impl.cpp file which in turn should be #included by an associated .h header file.  See [C++ FAQ: How can I avoid linker errors with my template classes?](https://isocpp.org/wiki/faq/templates#separate-template-fn-defn-from-decl).  (They acknowledge that this is "confusing").

In a **cc_binary** declaration, there is no way to dis

[2016-09-27 18:45] meteorcloudy opened #1846 "bazel version doesn't work well after installation through apt-get"
[code]
I used a docker to test installing the latest bazel candidate and found this error.
After deleting `/etc/bazel.bazelrc`, the output is expected.

[2016-09-27 19:27] shahms commented on #1845
Name the included file `.inc` and put it in the `srcs` attribute.

[2016-09-27 19:31] rpaquay opened #1847 "compile.sh fails on Windows because the Visual Studio location detection code is incorrect"
See https://github.com/bazelbuild/bazel/blob/master/tools/cpp/cc_configure.bzl#L392

The command
[code]

does not return the correct installation when the directory contains the following entries

[code]

as the result of the "sort" command returns

[code]

This is a problem in my configuration because I have VS 2010, 2012 and 2015 installed. The indent of the code is to pick the latest version of

[2016-09-27 19:42] philwo commented on #1836
@AustinSchuh

That would be great. I will try to reproduce this on my workstation or a separate test machine then.

I'll also just try tomorrow with bootstrapping Bazel on an XFS filesystem on an SSD (though no NVME, unfortunately 😊) and see if that is suspiciously slower than on ext4.

[2016-09-27 20:14] shahms opened #1848 "0.3.2 breaks some sh_tests() with: Device or resource busy"
Kythe has a couple of sh_tests which appear to be broken by the upcoming 0.3.2 release:

    $ bazel test //kythe/cxx/extractor/testdata:index_pack
    FAIL: //kythe/cxx/extractor/testdata:index_pack (see .../execroot/kythe/bazel-out/local_linux-fastbuild/testlogs/kythe/cxx/extractor/testdata/index_pack/test.log)
    $ cat .../execroot/kythe/bazel-out/local_linux-fastbuild/testlogs/kythe/cxx/extra

[2016-09-27 20:23] damienmg commented on #1846
Ok we have to rollback @aehlig change

On Tue, Sep 27, 2016 at 2:45 PM Yun Peng <notifications@github.com> wrote:

[2016-09-27 20:25] damienmg commented on #1848
Seems like a sandbox issue /cc @katre @philwo

[2016-09-27 20:25] damienmg commented on #1846
Rollback sent out for review. That's a P0, release blocker

[2016-09-27 20:33] damienmg opened #1849 "Sandboxing on OS X should be turned off by default for 0.3.2"
We have flakiness on CI and several performance issue so we should not issue a full release with sandboxing on OS X before fixing those.

Let's just turn it off for the release, turn it back on and fix everything for 0.4.

/cc @katre

[2016-09-27 20:34] damienmg commented on #1816
This is fixed for a long time, closing :)

[2016-09-27 20:34] #1816 closed

[2016-09-27 21:18] AustinSchuh commented on #1836
@philwo A copy of the repo lives at https://s3-us-west-2.amazonaws.com/peloton-bazel/971-Robot-Code.tar.xz, and instructions to build a machine with the tools we have installed lives at https://s3-us-west-2.amazonaws.com/peloton-bazel/vagrant_dev_vm.tar.gz.  I'm happy to provide more info if you need help reproducing our setup.

The readme in the second tar should have instructions on how to build

[2016-09-28 02:03] damienmg commented on #1837
@philwo Seems like the new sandbox has some compilation error with older gcc. Probably easy to fix. We can add integration test for that probably by testing the good centos on docker (see tools/cpp/test/Dockerfile.XXX)

/cc @katre

[2016-09-28 03:07] Momotyust commented on #1705
Thanks for everyone! Finally i have installed  tensorflow on arm32 platform. I use a bazel version 0.2.1, and a earlier version tensorflow 0.1.0. Maybe it is time to close this issues.

[2016-09-28 03:07] #1705 closed

[2016-09-28 07:47] ahyangyi commented on #1740
@calpeyser That sounds nice. I guess disabling needsPic and adding -fpic as the default compiler option should work for me.

[2016-09-28 08:14] laszlocsomor opened #1850 "Windows: cannot remove convenience symlinks"
I'm still seeing this ~~error~~ warning, and have been for a long time:

[code]

[2016-09-28 08:30] #1846 closed

[2016-09-28 08:48] meteorcloudy opened #1851 "Bazel bootstrap is failing on Windows"
http://ci.bazel.io/view/Bazel%20bootstrap%20and%20maintenance/job/Bazel/JAVA_VERSION=1.7,PLATFORM_NAME=windows-x86_64/862/console
[code]
Culprit: a12aae73ee292fdcb170f4eaeb8939283d05383c
I'll rollback it.

[2016-09-28 09:16] laszlocsomor opened #1852 "Windows, native: get rid of process-wrapper build dependency"
`//src/main/tools:process-wrapper` is heavily dependent on the POSIX API. Implement it for Windows API too.

[2016-09-28 09:18] philwo commented on #1837
Thanks for the report and sorry that it didn't work for you!

That gcc doesn't support C++ 11 or more precisely, doesn't support range-based for, which we use in our code (see error message + answer in this StackOverflow question for comparison: http://stackoverflow.com/questions/7071199/g-doesnt-compile-c0x-range-based-for-loop).

@damienmg FYI this is not a sandbox issue and not a regression eit

[2016-09-28 09:18] #1837 closed

[2016-09-28 09:20] laszlocsomor opened #1853 "Windows, native: implement build-runfiles"
`//src/main/tools:build-runfiles` is dependent on the POSIX API. Implement it for Windows API too.

[2016-09-28 11:20] aehlig commented on #1846
On Tue, Sep 27, 2016 at 11:45:25AM -0700, Yun Peng wrote:

Which commit does the label 0.3.2rc2 refer to? The error seems to indicate that your
debian package is combining the latest additional files (bazel.bazelrc) with a binary
based on an old source version (that does not yet know the --action_env option).

Note that not keeping packaging and sources in sync is usually a bad idea; so the
rollba

[2016-09-28 11:25] hermione521 commented on #1809
The reporter no longer needs this.

[2016-09-28 11:25] #1809 closed

[2016-09-28 12:12] philwo commented on #1848
This message comes from the test script, not from Bazel or the linux-sandbox.
Neither the sandbox nor Bazel do any cleanup before the process exits.

The cause for this problem is this line: https://github.com/google/kythe/blob/master/kythe/cxx/extractor/testdata/test_index_pack.sh#L20

It tries to delete the TEST_TMPDIR, which won't work, because it's a bind-mount.

If instead of directly using t

[2016-09-28 12:26] #1793 closed

[2016-09-28 13:30] kchodorow commented on #1840
Could you modify the release notes to announce @bazel_tools//tools/build_defs/repo/git.bzl and @bazel_tools//tools/build_defs/repo/maven_rules.bzl?

[2016-09-28 13:38] abergmeier-dsfishlabs opened #1854 "3.2rc2 does not find msys-2.0.dll"
Seems like there is some dependency or documentation missing when trying to get the Windows version of the rc2 to run on Windows. It complains:

    ---------------------------
    bazel-0.3.2rc2-windows-x86_64.exe - System Error
    ---------------------------
    The program can't start because msys-2.0.dll is missing from your computer. Try reinstalling the program to fix this problem.
    ----

[2016-09-28 14:06] meteorcloudy commented on #1854
Try to add `C:\msys\usr\bin` in to `PATH` ? We will add this to the document soon.

[2016-09-28 14:17] damienmg commented on #1837
Oh indeed, sorry for the noise. People building on CentOS generally install a newer gcc. See https://github.com/bazelbuild/bazel/blob/master/tools/cpp/test/Dockerfile.centos6.7#L11

[2016-09-28 14:20] damienmg commented on #1840
Marking as release blocker to find it :)

So another cherrypick to be added to the lot: c5545fd0896f3c602a9be0986debed6f0c9c662d

[2016-09-28 15:42] shahms commented on #1848
Thanks, that's embarrassing! I'll take a look at the PR now.

[2016-09-28 15:50] #1848 closed

[2016-09-28 16:11] #1697 closed

[2016-09-28 16:11] #1847 closed

[2016-09-28 18:26] johnynek commented on #1752
generally caching any download with a sha would be great. This is a major painpoint for our developers as we have a lot of downloads (many external repos: maven_jar + git_repository).

[2016-09-28 20:13] skubica commented on #1845
Good idea. Much cleaner than the C++ FAQ suggested method. This works fine. Thanks!

[2016-09-28 20:13] #1845 closed

[2016-09-28 21:14] marczych commented on #1525
I was bitten by this issue again: this time the CROSSTOOL was changed to remove a copt, that same copt was added to targets in an external dep, but building it resulted in errors because the copt was _not_ present when rebuilding the external dep (verified by inspecting the command that failed). Performing an `clean --expunge_async` and rebuilding with `--subcommands` succeeded and _did_ have the

[2016-09-28 21:59] bobsomers commented on #1525
+1 for reopening this, the poor tracking of changes in external deps has been a huge pain for us.

[2016-09-29 00:23] joshsuihn opened #1855 "ERROR: No toolchain found for cpu 'aarch64'."
I built bazel on Nvidia Jetson TX1,  tried to run TensorFlow with this command (to enable GPU support):
$ bazel build -c opt --config=cuda //tensorflow/cc:tutorials_example_trainer

_WARNING: Sandboxed execution is not supported on your system and thus hermeticity of actions cannot be guaranteed. See http://bazel.io/docs/bazel-user-manual.html#sandboxing for more information. You can turn off this

[2016-09-29 06:29] GinoHereIam commented on #1822
Thanks :) will ask in the google group.

[2016-09-29 06:29] #1822 closed

[2016-09-29 08:07] abergmeier-dsfishlabs commented on #1854
Could you turn that search path into an option, please? I do not even want to know how many instances of _msys_ I have on my system and none is in `PATH` for obvious reasons.

[2016-09-29 08:37] laszlocsomor commented on #1829
Duplicate of https://github.com/bazelbuild/bazel/issues/1585

[2016-09-29 08:37] #1585 closed

[2016-09-29 08:37] laszlocsomor commented on #1585
Duplicate of #1829

[2016-09-29 08:45] laszlocsomor opened #1856 "Windows: our custom protoc-3.0.0-mingw.exe doesn't work"
[code]

[2016-09-29 08:45] laszlocsomor commented on #1851
Opened https://github.com/bazelbuild/bazel/issues/1856

[2016-09-29 08:45] laszlocsomor commented on #1856
This bug was caused by #1851

[2016-09-29 08:59] meteorcloudy commented on #1851
No worries, I have a fix! :)

[2016-09-29 09:00] meteorcloudy commented on #1851
Sorry, it's not the same issue. Ignore me...

[2016-09-29 09:01] aehlig commented on #1846
Ah, never mind. The rolled back change actually was wrong; it should have read
"build --action_env=PATH" instead of "common --action_env=PATH"; interestingly
enough, that was also wrong in the design.

Will prepare a roll forward with the corresponding fix.

--
Klaus Aehlig
Google Germany GmbH, Erika-Mann-Str. 33, 80636 Muenchen
Registergericht und -nummer: Hamburg, HRB 86891
Sitz der Gesellschaft

[2016-09-29 09:09] meteorcloudy commented on #1854
Sorry, the msys path has to be added into PATH, because currently the bazel binary itself still depends on msys-2.0.dll.
We are creating a chocolatey package for Windows, it will automatically set up the environment if you install Bazel via it.

[2016-09-29 09:11] meteorcloudy commented on #1855
Not sure why it didn't work, did you rebuild bazel with the change?
Or try `bazel build -c opt --config=cuda //tensorflow/cc:tutorials_example_trainer --cpu=k8` see if it helps?

[2016-09-29 09:51] laszlocsomor commented on #1856
The custom-built 3.0.0 mingw binary is just 28K, it's missing all its dependencies.
I built a statically-linked binary which works and is 55M, which is a lot more realistic as it's closer to the combined size of the [DLL](https://github.com/bazelbuild/bazel/tree/master/third_party/protobuf)s. Building a dynamically-linked binary now to check its size.

[2016-09-29 11:15] meteorcloudy opened #1857 "Cherry-pick some commits for Bazel release"
Please cherry-pick eb87208599cdb9ede31efe793485e9096ab4a773 c30432cc32886a2b50e2b902f7f572347a6886a4
They fix this important issue for Windows. https://github.com/bazelbuild/bazel/issues/1847

[2016-09-29 11:32] damienmg commented on #1857
Add this to the release bug :)

On Thu, Sep 29, 2016, 1:15 PM Yun Peng <notifications@github.com> wrote:

[2016-09-29 11:39] hanwen opened #1858 "install script should check platform"
obviously, this was a dumb thing to do, but the installer could do a sanity check before uncompressing.

hanwen@han-wen:~/vc/gerrit$ sh bazel-0.3.1-installer-darwin-x86_64.sh  --user
..
Uncompressing....../usr/local/google/home/hanwen/bin/bazel: line 88: /usr/local/google/home/hanwen/.bazel/bin/bazel-real: cannot execute binary file: Exec format error
/usr/local/google/home/hanwen/bin/bazel: line

[2016-09-29 11:54] meteorcloudy opened #1859 "`bazel clean --expunge` doesn't work on Windows"
[code]
Tensorflow begins to use `bazel clean --expunge` during ./configure. https://github.com/tensorflow/tensorflow/blob/master/configure#L9

[2016-09-29 13:11] meteorcloudy commented on #1857
What's release bug? I don't see such a label, where is it?

[2016-09-29 13:28] kchodorow commented on #1697
Note: 2bc0939 should be cherry picked into the release.

[2016-09-29 13:33] katre commented on #1857
#1840 is the release tracking issue. The type is currently "process", maybe we need a more specific tag?

[2016-09-29 13:36] meteorcloudy commented on #1857
I see thanks!

[2016-09-29 13:36] meteorcloudy commented on #1840
Please cherry-pick eb87208 c30432c
They fix this important issue for Windows. #1847

[2016-09-29 13:36] #1857 closed

[2016-09-29 15:39] #1856 closed

[2016-09-29 16:30] agl commented on #1762
Additionally, if `-Werror` is enabled then this stops the build.

[2016-09-29 16:54] joshsuihn commented on #1855
I'm getting the same error with "bazel build -c opt --config=cuda //tensorflow/cc:tutorials_example_trainer --cpu=k8".
Interestingly, without "--config=cuda", it works well.

[2016-09-29 17:18] DroneDude123 commented on #258
This would be super useful for me as well. I see that the some IDE support has been added, how could this be implemented from the current IDE support?

[2016-09-29 17:33] ahumesky commented on #1856
Thanks!

[2016-09-29 20:56] ulfjack opened #1860 "Experimental UI writes every character individually"
Experimental UI writes every character individually. That results in a really bad experience under load, as you can see the output slowly build up character by character.

There are two reasons for this:
1. PositionAwareAnsiTerminalWriter splits up strings by char.
2. GrpcServerImpl.RpcOutputStream does not implement buffering (even though the old AfUnixSocket does).

There's even a todo in GrpcSe

[2016-09-29 20:57] ulfjack commented on #1860
I think this should block the release, because it results in a very bad user experience on Mac. I didn't try Linux or Windows.

[2016-09-29 21:02] ulfjack commented on #1860
I think this change should fix it:
https://github.com/ulfjack/bazel/tree/fix-single-byte-writes

[2016-09-29 21:52] kchodorow opened #1862 "Logo on homepage isn't showing up"
https://www.bazel.io/images/bazel-logo.png is giving permission denied!

[2016-09-29 21:52] kchodorow commented on #1862
[code]

[2016-09-30 03:07] PiotrSikora commented on #1697
Thanks! It works fine now.

[2016-09-30 03:18] PiotrSikora commented on #1844
gzip header includes timestamp (bytes 5-8), see: https://tools.ietf.org/html/rfc1952#section-2.3

I verified that those bytes are the only difference between rebuilds... They should be zeroed-out, like other timestamps in Bazel.

[2016-09-30 07:15] damienmg commented on #1857
Process and release blocker seems enough to find it easily :)

On Thu, Sep 29, 2016, 3:36 PM katre <notifications@github.com> wrote:

[2016-09-30 08:15] #1838 closed

[2016-09-30 08:27] meteorcloudy opened #1863 "Bazel bootstrap breaks on JDK7 by different commits"
http://ci.bazel.io/view/Bazel%20bootstrap%20and%20maintenance/job/Bazel/JAVA_VERSION=1.7,PLATFORM_NAME=linux-x86_64/869/console
[code]
by ead58ae8e17257eabf91f512b64da4f85dbe06a1 //cc @brandjon

[code]
by 1cbf12f68c80440fe6335900a5da5ef6e6fd3cfa //cc @michajlo

[code]
by 14251a4ca0d61be24cd96506b9538b1f54047417 //cc @aehlig

Please fix!

[2016-09-30 08:29] meteorcloudy commented on #1863
@aehlig Can you also send fixes for the other two commits?  :)

[2016-09-30 08:37] meteorcloudy opened #1864 "Bazel Linux bootstrap is broken due to target visibility issue"
http://ci.bazel.io/view/Bazel%20bootstrap%20and%20maintenance/job/Bazel/JAVA_VERSION=1.8,PLATFORM_NAME=linux-x86_64/869/console
[code]

Culprit: af8ebca2b88a0ee1129b72b4ce825f6489c31e67

[2016-09-30 09:38] damienmg commented on #1862
For future reference, the fix is the following command line: `gsutil -m acl ch -R -u AllUsers:R gs://www.bazel.io`

[2016-09-30 09:39] damienmg commented on #1862
Ok this is now fixed, now looking at CI if I can figure out what when wrong

[2016-09-30 09:40] damienmg commented on #1862
Nothing. we have this line in the ACL update: `No changes to gs://www.bazel.io/images/bazel-logo.png`. I'll try to follow up with the GCS people.

[2016-09-30 09:40] #1862 closed

[2016-09-30 10:57] #1864 closed

[2016-09-30 10:57] #1863 closed

[2016-09-30 11:08] damienmg commented on #1862
For future reference also the ci log: http://ci.bazel.io/view/Bazel%20bootstrap%20and%20maintenance/job/Bazel-Publish-Site/221/console

[2016-09-30 11:22] meteorcloudy commented on #1855
I guess it's TensorFlow doesn't have configuration for `aarch64 `, can you file this bug to them?

[2016-09-30 14:13] #1849 closed

[2016-09-30 14:20] katre commented on #1860
@ulfjack, Should this be cherrypicked into 0.3.2?

[2016-09-30 14:55] ulfjack commented on #1860
I think it should. Do you concur?

[2016-09-30 14:55] ulfjack commented on #1860
Lukacs has submitted one change, and another is still pending. My pull request needs to be abandoned.

[2016-09-30 14:58] katre commented on #1860
It does seem like a regression. I'll talk to Lukacs about what commits need to be cherrypicked.

[2016-09-30 15:09] damienmg commented on #1860
This is a regression on an experimental feature. The release is already
full of cherrypicks. That might be too much. We need to do a new release
candidate today so it still has 2 days to bake.

On Fri, Sep 30, 2016 at 4:58 PM katre <notifications@github.com> wrote:

[2016-09-30 15:28] philwo commented on #1840
Please cherry-pick:

sandbox: Replace the error-prone lazy cleanup of sandbox directories by a simple synchronous cleanup:
https://github.com/bazelbuild/bazel/commit/95b16a89001014c48e77e5c38c4ca17bd28d3ebb

Fix #1849: Sandboxing on OS X should be turned off by default for 0.3.2:
https://github.com/bazelbuild/bazel/commit/e898023ffc6c47a27312c4d3659dbeeccdb3cd37

[2016-09-30 16:21] katre commented on #1860
Leaving this for the next release.

[2016-09-30 16:39] damienmg commented on #1862
`gsutil defacl ch -u AllUsers:R gs://www.bazel.io` is setting the correct permission to the bucket so we should see it as intended :)

[2016-09-30 17:08] philwo commented on #1836
I didn't have time to work on this yet, because I had to fix a couple of other release blocking issues. The plan is to cut a release candidate with the reliability fixes for sandboxing now, which will also give us a few days to see these running and get some feedback. Once I'm back in the office on Tuesday (Monday is a public holiday here), I'll work on this performance issue. When we have a fix,

[2016-09-30 17:33] damienmg opened #1865 "NPE when building with --profile on Linux on 0.3.2rc2"
Reported by mail:

[code]

[2016-09-30 17:41] AustinSchuh commented on #1836
@philwo Thanks for the update.  Please let us know if you need help reproducing the issue.  Have a good holiday!

[2016-09-30 18:00] katre commented on #1840
New RC pushed:
./scripts/release/release.sh create 0.3.2 \
  023a7bdc6506a23ff27ce392eb50d3927b3f409e \
  bebbbe5 \
  8a0d45f \
  2bc0939 \
  c5545fd \
  eb87208 \
  c30432c \
  95b16a8 \
  e898023

[2016-09-30 18:00] katre commented on #1840
New and updated release notes:
Incompatible changes:

  - If you maintain a rule that uses persistent workers, you'll have
    to specify execution_requirements={"supports-workers": 1} in the
    ctx.action that intends to run a tool with workers. The
    WorkerSpawnStrategy will alert you with a warning message if you
    forget to make this change and fallback to non-worker based
    execution.

[2016-09-30 20:38] jart opened #1866 "Allow @canonical//targets of main repository"
This issue is probably the biggest issue for the code health of Closure Rules.

1. I can't reference targets from my main repository from within new_http_archive BUILD file
2. *Tangential but related:* When writing `deps` inside my build files, I can't use a canonical naming convention including the `@workspace_name//`, which might confuse people who try to copy and paste stuff from my build files

[2016-09-30 20:47] joshsuihn commented on #1855
Oh  yes, I think tensorflow doens't have it. Sure. I will

[2016-09-30 22:16] steven-johnson commented on #1866
Big +1 to this; I'd like to be able to have various "example" subprojects be able to refer to the top-level workspace in a canonical way.

[2016-10-01 03:09] ittaiz commented on #1866
I also spent a reasonable amount of hours on copying an example from
rules_scala only to understand there is a difference in how one relates to
the external repo
On יום ו׳, 30 בספט׳ 2016 at 18:16 Steven Johnson <notifications@github.com>
wrote:

[2016-10-01 20:52] shayanshams66 opened #1867 "compiling tensorflow with bazel (master branch and 0.3.1)"
Hi
I am trying to compile tensorflow when I am trying the bazel master I cant even configure the tensorflow,
./configure
I am getting this error:
ERROR: /var/scratch/_bazel_sshams2/3c79efdd14a80593173e3040c9712e33/external/bazel_tools/src/tools/android/java/com/google/devtools/build/android/dexer/BUILD:3:1: no such target '//external:android/dx_jar_import': target 'android/dx_jar_import' not decla

[2016-10-01 22:16] petemounce commented on #1859
Sounds similar to #1586?

[2016-10-02 05:17] bsilver8192 commented on #1866
+1. For reference, #1033 started out as basically the same thing (but the title and description of this bug are much more focused, so it isn't really a duplicate).

[2016-10-02 05:32] jart opened #1868 "bazel shutdown doesn't kill persistent workers"
I ran `bazel shutdown`. The Bazel server went away. But `ps` indicated I had about eight workers lingering around for Javac and Closure.

My `~/.bazelrc` has the following:

[code]

I'm also running Bazel at head.

[2016-10-02 20:08] xpe commented on #1611
Per https://wiki.debian.org/Teams/Apt/Sha1Removal

Who at Google can help?

[2016-10-03 08:50] petemounce commented on #1854
That DLL is added to the PATH via the work done in #1742 (discussion in #1453), so if bazel is installed to Windows via the chocolatey package (which will start to work as soon as I notice a 0.3.2-or-later release), this will work.

[2016-10-03 09:35] petemounce commented on #971
Fixed by a27949e27d4335216c28e77c41d078e338b5d4fb (+ release > 0.3.1).

[2016-10-03 13:55] kchodorow commented on #1866
This is a duplicate of #1248, but since there's so much interest, let me give an update here.

This is definitely something we want to implement.

Right now, the blocking issue is: if you have your workspace in ~/rules_closure and you create a WORKSPACE file that says `workspace(name = "io_bazel_rules_closure")`,  then the execution root will put everything under `execroot/rules_closure/` (not exe

[2016-10-03 13:55] #1866 closed

[2016-10-03 13:56] kchodorow commented on #1248
@damienmg this has not been done, see my comment on #1866.

[2016-10-03 15:23] cushon commented on #1839
The jdk7/darwin build is green again, did this get sorted out?

Those tests require jdk8, so we want to skip them on jdk7. Some of the targets in the package are tagged with "jdk8" for that reason.

[2016-10-03 16:43] brian-peloton opened #1869 "`bazel query` after `bazel clean` hangs"
I have an automated script which runs `bazel --output_base=foo clean` and then `bazel --output_base=foo query` immediately afterwards. That usually works, but recently it hung for a day and counting. I think the Bazel server is confused. It cleans up a lot of files, so the clean does not finish quickly.

The stdout/stderr of the command just has `Another command (pid=49796) is running.  Waiting fo

[2016-10-03 16:52] mikelikespie opened #1870 "Issues with modulemaps and mixed types of headers"
Hi,

I'm attempting to convert some mixed objective-c/c++/swift projects to use bazel.

I've had some pretty good progress so far (see https://github.com/bazelbuild/bazel/pull/1784) but i am running into some issues.

I basically need a way to indicate to bazel that a header is C++ or should be explicitly imported (the latter would be a nice to have).

So here's the issue... say I have foo.h and f

[2016-10-03 22:47] sskgit opened #1871 "Bazel build failure for Tensorflow while building from source"
While creating Tensorflow build from the source bazel build repeatedly fails.

I am trying Tensoflow from the source and receive build error for
a) C++ compilation of rule '@grpc//:gpr' failed: crosstool_wrapper_driver_is_not_gcc failed: error executing command external/local_config_cuda/crosstool/clang/bin/crosstool_wrapper_driver_is_not_gcc

b) ERROR: I/O error while writing action log: No space

[2016-10-03 23:14] xiongchiamiov opened #1872 "Broken-symlink ~/.bazelrc doesn't produce an error"
We've run into an issue a few times recently where we moved the location in a repo of a shared bazelrc file, breaking the `~/.bazelrc` symlink.  However, Bazel silently ignores this file when the symlink is broken, just as it does when the file doesn't exist, which means that people continued on assuming all of the appropriate default options were set (but in reality, they were using Bazel's defau

[2016-10-04 03:02] mikelikespie opened #1873 "clang module cache not being reused in darwin sandbox"
I noticed compiling to be significantly slower on versions of macOS where sandboxing is enabled (seems to not be enabled on macOS yet). The behavior described in `getCompileRuleCopts()` comments don't seem to be behaving.

If I understand how the sandboxing works, it sym/hardlinks all the input files to a temp directory. If the directory specified for the module cache is in the genfiles dir, it se

[2016-10-04 06:33] yugui commented on #699
I have prototyped a workspace rule for PyPI packages. I hope it helps us to implement this feature in the main Bazel repository.
https://github.com/gengo/rules_pypi

Currently this prototype does not support building extensions in Bazel sandbox.
Now I am trying to extract extension metadata from setup.py and to let `cc_library` build extensions as cgo support in rules_go does.

[2016-10-04 07:50] meteorcloudy commented on #1859
Oh, yes. Thanks.

[2016-10-04 07:50] #1859 closed

[2016-10-04 07:54] meteorcloudy commented on #1839
I guess it's somehow fixed. (Maybe be by the tag?)

[2016-10-04 07:54] #1839 closed

[2016-10-04 08:35] lberki commented on #1869
https://www.youtube.com/watch?v=W6MkESn1v1w

When you took this thread stack dump, was the Bazel client that ran `bazel query` still running? From the dump, it seems like there is a query command that cannot finish for some reason. I can imagine that there is an issue with the Bazel server not noticing that the client died, but even then, the running `bazel query` command should eventually finish.

[2016-10-04 08:39] lberki commented on #1869
My best theory is that when the client unexpectedly goes away, GrpcServerImpl cancels the command:

https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/server/GrpcServerImpl.java#L215

And it causes the implementation of `bazel query` to deadlock for some reason. I don't see the log message in @brian-peloton 's Gist, but maybe that's because he didn't grab t

[2016-10-04 08:57] #1778 closed

[2016-10-04 08:57] #1865 closed

[2016-10-04 13:07] damienmg commented on #699
There is not AFAIK :(

The pypi rules would be ok to contribute back, I am however a bit hesitant in using directly pypi to do it (rather than a more reproducible way, like download), can we have confidence in what pypi does?

[2016-10-04 13:45] yugui commented on #699
@damienmg

I agree. In the prototype, I have used `pip download` just for ease of implementation.
But we can write a wrapper script of `pip.index.PackageFinder` to parse PyPI page.
Then we can use `ctx.download` in Bazel.

[2016-10-04 13:47] damienmg commented on #699
Sounds like a good plan.

On Tue, Oct 4, 2016 at 3:45 PM Yuki Yugui Sonoda <notifications@github.com>
wrote:

[2016-10-04 13:48] yugui commented on #699
:(  I want `ctx.fragments.python` so that I can call appropriate interpreters in repository rules.

[2016-10-04 13:50] damienmg commented on #699
repository rules does not even have access to that information :( I guess
depending on a python target could work though. But this target does not
exists in Bazel :(

On Tue, Oct 4, 2016 at 3:48 PM Yuki Yugui Sonoda <notifications@github.com>
wrote:

[2016-10-04 14:26] abergmeier-dsfishlabs opened #1874 ".bazelrc not enforcing std"
I have a `<WORKSPACE>/.bazelrc` with

    build --cxxopt=-std=c++14

and in 0.3.1+ it does not apply the std argument.
Source code is compiled with `-std=c++0x`.

[2016-10-04 14:27] abergmeier-dsfishlabs commented on #1874
Should block #1840 IMO

[2016-10-04 14:42] abergmeier-dsfishlabs commented on #1874
This is not specific to 0.3.2. Still strange because this was working in 0.3.1!?

[2016-10-04 14:50] TingjinLuo commented on #1726
I have meet the same problem. Could you give me more details to solve this problem? How did you solved it? Thanks.

[2016-10-04 15:00] pcj opened #1875 "xcode-locator-bin warning in 0.3.2rc3"
After I upgraded to 0.3.2rc3 I now routinely get the following warning:

<code>
WARNING: /private/var/tmp/_bazel_pcj/178d7438552046b1be3cba61fe7b75a8/external/bazel_tools/tools/osx/xcode_configure.bzl:91:5: Invoking xcode-locator failed, return code 256, stderr: java.io.IOException: Cannot run program "/private/var/tmp/_bazel_pcj/178d7438552046b1be3cba61fe7b75a8/external/local_config_xcode/./xcode

[2016-10-04 15:18] abergmeier-dsfishlabs opened #1876 "Missing host_cxxopt"
There currently is not way of setting `cxxopt` for host compilation. There should probably be a `host_cxxopt` but it is missing.

[2016-10-04 15:18] abergmeier-dsfishlabs commented on #1874
Setting `cfg` to host caused this. Superseded by https://github.com/bazelbuild/bazel/issues/1876

[2016-10-04 15:18] #1874 closed

[2016-10-04 15:20] c-parsons commented on #1875
Your example command is a bit incomplete in what the repository rule is running, in that you don't provide input source files. We would expect:
xcrun -v clang -fobjc-arc -framework CoreServices -framework Foundation -o xcode-locator-bin **/path/to/xcode-locator/source**
That aside, I'll investigate why it seems that this compilation is failing in the repository rule here, and provide better error

[2016-10-04 15:21] abergmeier-dsfishlabs opened #1877 "Documentation for cfg missing"
While there is this message

[code]

in 0.3.2, the actual documentation about what `host` and `data` mean in detail is lacking.
Find it unpleasant to not be able to fix this due to lack of knowledge.

[2016-10-04 15:22] abergmeier-dsfishlabs commented on #1840
Would be good to have #1877 before releasing 0.3.2 into the wild.

[2016-10-04 15:36] c-parsons commented on #1875
Hmm. I'm unable to reproduce this on my machine at HEAD.
Would you mind running the following and seeing what the error is ?

[code]

Also providing any installed versions of xcode you have would be helpful (if any)

[2016-10-04 16:00] pcj commented on #1875
You're right, that was incomplete.  Sorry about that.

[code]

[code]

[code]

[code]

[code]

[2016-10-04 16:35] cnsgsz opened #1878 "using python bin at custom location"
I want bazel to use /home/user_name/.conda/envs/py35/bin/python instead of the default /usr/bin/python. Do I have to disable sandboxing and put the former into PATH variable in some global config, or is there a better way? For example, it would be great if bazel can automatically get PATH from the shell it is running in, so that I don't have to duplicate the custom python location in both my bashr

[2016-10-04 16:53] michajlo commented on #1869
It seems like you have a dangling thread in HttpDownloader, which for some reason wasn't interrupted or didn't acknowledge the interrupt.

Are you able to readily reproduce it? Your best bet is to try a newer version - a lot of improvements have been made in this area since your build, including better interrupt support and timeouts on http requests.

[2016-10-04 17:25] c-parsons commented on #1875
OK, seems that there is a library in use in this binary which requires MacOS SDK 10.10 or later, which isn't available in your command line tools. (This has been included or exceeded since Xcode 6)

As a shortcut, it seems reasonable to run `/usr/bin/xcodebuild -version` and terminate early if there is an error there (indicating no xcode version installed, and thus no SDKs). This should solve your

[2016-10-04 17:42] brian-peloton commented on #1869
Yes, the original hung `bazel query` client was still running, along with another `bazel query` or `bazel version` (I forget which) I was running to send the ctrl+\.

The lack of that log is because the version I'm using doesn't have it...

I can not reproduce this. This same script has been running ~20 time every day for almost 2 months now, and it just happened once.

Looking at it, there are a

[2016-10-04 17:42] #1869 closed

[2016-10-04 17:47] dslomov commented on #1463
We were able to repro this when a workspace is not on `C:` drive. Fix for that will hopefully be coming soon, but is it the case for everyone reporting this?

[2016-10-04 17:56] petemounce commented on #1463
Yes, my source is on my s: drive. Good thought!

[2016-10-04 19:15] divydal commented on #1463
Yes , my workspace is on d:.

[2016-10-04 19:20] damienmg opened #1879 "Tutorial is broken on Darwin"
[Tutorial](http://ci.bazel.io/job/Tutorial/BAZEL_VERSION=latest,PLATFORM_NAME=darwin-x86_64/516/console) is broken on Darwin for both HEAD and latest, seems like it is a breakage we have for a [long time](http://ci.bazel.io/job/Tutorial/469/BAZEL_VERSION=latest,PLATFORM_NAME=darwin-x86_64/console) that was [hidden](http://ci.bazel.io/job/Tutorial/BAZEL_VERSION=latest,PLATFORM_NAME=darwin-x86_64/51

[2016-10-04 19:21] damienmg opened #1880 "Tensorflow and Tensorflow Serving are broken at HEAD"
For the same causes, due to something in Android.

[2016-10-04 19:28] damienmg commented on #1880
Forgot to add the log: http://ci.bazel.io/job/TensorFlow/BAZEL_VERSION=HEAD,PLATFORM_NAME=linux-x86_64/437/console

[2016-10-04 19:42] c-parsons commented on #1879
We've run into this error in other places before -- the CoreSimulatorService gets into a bad state, which is a difficult and annoying problem for a CI machine.

Do we have a cleanup hook for this test suite?
I believe the general approach is to kill the CoreSimulatorService with `launchctl kill SIGKILL` of the appropriate service ID

E.g.
`launchctl kill SIGKILL user/12345/com.apple.CoreSimulator.

[2016-10-04 20:41] sunsided commented on #1463
Same, sources on D:

[2016-10-04 21:36] davidzchen commented on #1871
Can you try to figure out which directory is using all the space?

If the Bazel `.cache` directory exists in your home directory, can you try measuring its size?

[2016-10-04 21:48] mightyguava opened #1881 "OSX sandboxing doesn't seem to restrict network access"
We've run into this issue a few times now, where unit tests written on OS X pass, but then fail when run on Linux machines, and we need to go back and either change the test or add the `requires-network` tag.

It looks like it's possible to restrict network on os x with `sandbox-exec -n no-network command`. Is there any reason why Bazel doesn't do this?

We are running off of 60af9db, somewhere pa

[2016-10-04 22:07] zvh opened #1882 "Not able to build from /tmp directory"
This seems weird but I cannot build the attached workspace when it resides in /tmp, but I can build it when it resides in /usr/local.

The error I get when the workspace is in /tmp is:

test_workspace> bazel build :test
.
INFO: Found 1 target...
ERROR: /tmp/test_workspace/foo/BUILD:3:1: Extracting interface //foo:foo failed: linux-sandbox failed: error executing command /usr/local/google/home/zach

[2016-10-04 22:13] ahumesky commented on #1882
I believe this was fixed with https://github.com/bazelbuild/bazel/commit/52f4e8bbaf18ea489acd2db464f267757e8eb6d4
Can you check with a bazel on or after that commit?

[2016-10-04 22:26] zvh commented on #1882
Thanks, I pulled the latest bazel code and that seems to fix the problem

[2016-10-04 22:26] #1882 closed

[2016-10-04 22:38] tomzx commented on #1463
@dslomov Yes. However I did try to create a symlink on the C:, assuming it might related to that, but that didn't work either. I'm assuming symlinks are resolved?

[2016-10-04 22:46] petemounce commented on #1463
@tomzx how did you create the symlink (ie, exact command)? There are a couple of different types on Windows, with differing characteristics.

[2016-10-04 23:12] math4tots opened #1883 "Allow `deps` attribute in `java_library` even without `srcs` attribute?"
Just a question, when I try to build a `java_library` with `deps` attribute but without a `srcs` attribute, I get:

`ERROR: /Users/kyuminkim/GitHub/source/protos/BUILD:5:10: in deps attribute of java_library rule //protos:protos: deps not allowed without srcs; move to runtime_deps?
`

Why is this the case? What should I do if I want to bundle a collection of `java_library` rules into one I can use

[2016-10-04 23:20] ahumesky commented on #1883
For this you'll want to use java_library.exports:
https://www.bazel.io/versions/master/docs/be/java.html#java_library.exports

On Tue, Oct 4, 2016 at 7:12 PM Kyumin Kim <notifications@github.com> wrote:

[2016-10-04 23:28] tomzx commented on #1463
@petemounce IIRC, `mklink /D C:\bazel E:\bazel`

[2016-10-04 23:34] petemounce commented on #1463
Ah ok. That's what I would have tried too. Do any of the methods listed in http://superuser.com/questions/752538/mklink-vs-junction-exe allow workaround?

[2016-10-04 23:42] math4tots commented on #1883
Exactly what was looking for, thank you!

[2016-10-04 23:44] #1883 closed

[2016-10-05 00:07] Zaspire commented on #699
I found third party build rules for that:
https://github.com/benley/bazel_rules_pex

[2016-10-05 01:55] yugui commented on #699
rules_pex looks to be mainly responsible for building PEX from the given package.
It just records the given list of PyPI packages in the PEX Manifest and let PEX to fetch and build the packages.
So I don't think rules_pex solve the issue we are trying to solve in this feature.  Instead, rules_pex implements a simple workaround of the issue with some compromise of {fast, correct}.

[2016-10-05 01:59] benley commented on #699
That's correct, rules_pex delegates the pypi handling to the pex application.  It does provide a mechanism for staying fast and correct, by using the eggs attribute to pass python eggs or wheels (downloaded by bazel http_file rules) to pex, at least.  I have been trying to come up with a way of extracting pex's pypi handling to repository rules, so I'm quite pleased to see @yugui's implementation

[2016-10-05 07:48] abergmeier-dsfishlabs commented on #1881
Keep in mind that in future this limit must only apply for actions not using remote execution.

[2016-10-05 07:50] abergmeier-dsfishlabs commented on #1878
Please search the issue tracker - there are other (similar?) issues for Python already.

[2016-10-05 07:57] damienmg opened #1884 "Bazel JDK7 tests are erroring"
Due to Java 8 constructs.

ERROR: /home/ci/workspace/bazel-tests/BAZEL_VERSION/HEAD-jdk7/PLATFORM_NAME/linux-x86_64/src/test/java/com/google/devtools/build/lib/BUILD:985:1: Couldn't build file src/test/java/com/google/devtools/build/lib/runtime-tests.jar: Java compilation in rule '//src/test/java/com/google/devtools/build/lib:runtime-tests' failed: java failed: error executing command
  (cd /home/

[2016-10-05 07:58] damienmg commented on #1884
repro:

[code]

[2016-10-05 07:58] damienmg commented on #1884
Forgot the link http://ci.bazel.io/job/Tutorial/BAZEL_VERSION=latest,PLATFORM_NAME=darwin-x86_64/516/console

[2016-10-05 08:51] damienmg opened #1885 "bazel_toolchain_test is failing on darwin"
ERROR: /Users/ci/workspace/bazel-tests/BAZEL_VERSION/HEAD/PLATFORM_NAME/darwin-x86_64/src/test/shell/bazel/BUILD:162:12: in srcs attribute of sh_test rule //src/test/shell/bazel:bazel_toolchain_test: you must specify exactly one file in 'srcs'.
WARNING: errors encountered while analyzing target '//src/test/shell/bazel:bazel_toolchain_test': it will not be built.

http://ci.bazel.io/job/bazel-tests

[2016-10-05 08:52] damienmg commented on #1879
Confirmed it is from the machine, still figuring out how to fix it.

[2016-10-05 08:59] damienmg commented on #1770
This was done. Closing because it will be fixed by the release

[2016-10-05 08:59] #1770 closed

[2016-10-05 09:27] philwo commented on #1882
Yes, this was fixed in https://github.com/bazelbuild/bazel/commit/52f4e8bbaf18ea489acd2db464f267757e8eb6d4 :)

[2016-10-05 09:27] damienmg commented on #1879
Rebooting the machines fixed it!

[2016-10-05 09:27] #1879 closed

[2016-10-05 09:44] damienmg commented on #1880
And the repro is simply `bazel fetch tensorflow/...`

[2016-10-05 09:45] damienmg commented on #1880
This is in the release candidate, we will break TensorFlow...

/cc @katre

[2016-10-05 09:50] laszlocsomor commented on #1463
FTR i just did `subst d: c:\d_drive` and that works too (bonus: good old #1744 still around):

[code]

I'll dive into that part of the code and see what I find.

[2016-10-05 10:32] damienmg commented on #1880
Ouf tested with the release branch it is not in \o/, bisecting now.

[2016-10-05 10:40] damienmg commented on #1880
culprit af8ebca2b88a0ee1129b72b4ce825f6489c31e67! rollback!

[2016-10-05 10:42] damienmg commented on #1880
So reason this was not caught before: no test for that /cc @kchodorow and TensorFlow just started to do it.

[2016-10-05 10:43] damienmg opened #1886 "We should test `bazel fetch ...` on a clean repository"
See #1880 for more context.

[2016-10-05 11:06] damienmg commented on #1885
what is this [select](https://github.com/bazelbuild/bazel/blob/master/src/test/shell/bazel/BUILD#L163)?

[2016-10-05 11:45] philwo commented on #1836
@AustinSchuh Could you explain where you use XFS in your setup? I looked at the Vagrantfile and I don't see any mentioning of XFS there. Do you put the VM image on an XFS volume? Or is the HDD in the jessie base image formatted as XFS?

[2016-10-05 11:51] meteorcloudy commented on #1885
Looks like it's defined [here](https://github.com/bazelbuild/bazel/blame/master/src/test/shell/bazel/BUILD#L21)

[2016-10-05 11:56] meteorcloudy commented on #1885
This was meant to exclude this test on Darwin, but seems it's not the right way.

[2016-10-05 12:08] hermione521 commented on #1881
OSX sandboxing do restrict network access, although we changed it to allow network access by default for build (still deny by default for test). The change is here: https://github.com/bazelbuild/bazel/commit/6488b3bc824a0f19ad2924d5f7c87181f06beed9

FYI, the sandbox script is here: https://github.com/bazelbuild/bazel/blob/95a87d0d8b26d9ca7d8d957dc23373b6a89e3d68/src/main/java/com/google/devtools/b

[2016-10-05 12:33] #1880 closed

[2016-10-05 12:33] #1884 closed

[2016-10-05 12:33] #1885 closed

[2016-10-05 13:04] mightyguava commented on #1881
Here's a repro case https://github.com/mightyguava/bazel-network

Run `bazel test src:NetworkTestSuite`

For me, with a Bazel binary off of head (27cd7f6bb4a02f56f9ad73e57e71e69a1c00d5ea), it succeeds on Mac, but fails on Linux.

[2016-10-05 13:09] mightyguava commented on #1881
The environments I've tested this in are OS X 10.11 and 10.12, Ubuntu 12.04 and 14.04.

[2016-10-05 13:26] damienmg commented on #1679
Hello, sorry this is not a Bazel bug.

I suggest you file a bug report to TensorFlow at https://github.com/tensorflow/tensorflow

[2016-10-05 13:26] #1679 closed

[2016-10-05 13:30] damienmg commented on #1682
@glinscott: I think this is a correct patch. If you have a repro for adding a test that would be awesome :) Anyway, is there any chance you could send a code review for it?

[2016-10-05 13:35] damienmg commented on #1699
This should work out of the box without specifying `--compiler`. Can you try to do a `bazel clean --expunge` first?

[2016-10-05 13:50] damienmg commented on #1825
If a javac action is taking 45s not surprising than bazel compilation is slow. The problem is coming from your OS or your JDK installation. Have you tried using a binary version of Bazel?

[2016-10-05 13:50] damienmg commented on #1825
Assigning to @meteorcloudy for more follow-up

[2016-10-05 13:56] damienmg commented on #1831
Yes they should but I have no idea what is wrong, pulling in @laszlocsomor to investigate.

[2016-10-05 13:56] damienmg commented on #1831
@laszlocsomor: if you can just diagnose the issue and maybe adapt the priority, that would be great :)

[2016-10-05 14:28] laszlocsomor commented on #1831
This is working as intended.

Bazel query queries over the target graph. The nodes of this graph are the targets, that is, everything that has a label (rules, input files, output files). There's an edge from target A to target B if A is a rule and one of its attributes (e.g. `deps`) includes B, or A is an output file generated by B.

In other words, if a rule "foo" has `srcs=["bar"]` then `rdeps(<

[2016-10-05 14:28] #1831 closed

[2016-10-05 14:40] AustinSchuh commented on #1836
@philwo On my desktop, I've got a cryptfs with a lvm inside it with a xfs root filesystem and swap partition.

[code]

[2016-10-05 14:43] katre commented on #1840
Documentation is not synced with releases, so #1877 is independent of the 0.3.2 release.

[2016-10-05 15:39] philwo commented on #1836
OK... so, to make sure I understand - how the stack looks like is this:

- Your desktop has an NVMe SSD.
- The SSD is partitioned into two partitions: sda1, sda2.
- sda2 is formatted as "cryptfs" (Is that dm-crypt + LUKS?).
- The "cryptfs" is formatted as an LVM physical volume.
- The LVM physical volume is used in a volume group that contains root and swap.
- root is formatted as XFS.
- Vagrant c

[2016-10-05 15:54] AustinSchuh commented on #1836
Hi Phil,

I can see how you arrived at that conclusion from the bits and pieces I told you, but it is thankfully a bit simpler than that.  I'm not running a VM on my desktop.  The docs I pointed you to for the VM have a list of all the pieces that need to be installed, and were expedient to send to you.

NVMe SSD
dm-crypt + LUKS
Inside the cryptfs, I've got a LVM with 2 partitions, a root partitio

[2016-10-05 17:12] kavehv commented on #1831
@laszlocsomor What if the only file you changed is the BUILD file?  Does it not stand to reason that all the rules defined by that BUILD file should be re-executed/built to confirm that change hasn't broken anything?

[2016-10-05 17:25] jart commented on #1797
Actually it turns out BusyBox is GPL. We would have to use ToyBox.

[2016-10-05 17:31] laszlocsomor commented on #1831
@kavehv: Yes it should, and it in fact is, but bazel query cannot tell you that, because the graph where Bazel keeps track of this information is not the one that bazel query operates over.

We have another graph inside of Bazel, implicitly defined by Skyframe, which keeps track of all these dependencies. So if you only change the BUILD file `//foo:BUILD` by editing an attribute of rule "bar", the

[2016-10-05 17:34] laszlocsomor commented on #1831
Unfortunately we have no machinery (yet?) to query over the Skyframe graph.

[2016-10-05 17:34] kavehv commented on #1831
@laszlocsomor So I guess the next question is why can't we query over that graph?  Why is there a separate graph for the query?

[2016-10-05 17:34] laszlocsomor commented on #1831
oops, answered just as you asked :)

[2016-10-05 17:35] laszlocsomor commented on #1831
What problem are you trying to solve by querying the rdeps?

[2016-10-05 17:38] meteorcloudy opened #1887 "Understand and clean compiler flags in Windows CROSSTOOL"
https://github.com/bazelbuild/bazel/blob/master/tools/cpp/CROSSTOOL#L617

When I was building TensorFlow on Windows, these legacy compiler flags are starting causing unexpected behaviors on Windows. So we need to know what they mean and clean the unnecessary ones.

[2016-10-05 17:44] kavehv commented on #1831
Basically, what we're trying to do is get a list of things to build from the set of files that have changed in a git commit.  The reason we do it this way is to have bazel build the minimum set of rules it needs to build to accomplish that task in a workspace that is on a generic build machine.  That workspace may have switched from any other branch, so there may be other things to build too, and

[2016-10-05 17:52] laszlocsomor commented on #1831
I see, that sounds like a reasonable use case to me.

Then it seems safe to assume that any change to a BUILD file should automatically invalidate all targets in that package. Blaze query itself couldn't say anything finer grained than that.

Does that help?

[2016-10-05 17:53] kavehv commented on #1831
Yes, that's the functionality I'm looking for.

[2016-10-05 19:01] damienmg opened #1888 "//src/test/shell/integration:java_integration_test is flaky"
See for one instance of it (saw several time but was hidden behind a lot of failures).

Relevant bit of the log:
[code]

[2016-10-05 20:51] damienmg opened #1889 "//src/test/shell/integration:stub_finds_runfiles_test is timing out on Darwin"
Seems like a genuine failure. The test takes only 50s on Linux.

See http://ci.bazel.io/job/bazel-tests/BAZEL_VERSION=HEAD,PLATFORM_NAME=darwin-x86_64/265/console

[2016-10-05 20:52] damienmg commented on #1889
Maybe a consequence of the header compilation?

[2016-10-05 20:53] damienmg commented on #1888
High flakiness -> P1

Repro: `bazel test //src/test/shell/integration:java_integration_test --test_arg test_java_plugin --runs_per_test 5`

[2016-10-05 20:57] damienmg commented on #1889
On my machine they only takes 50s, machine's fatigue?

[2016-10-05 21:12] kchodorow opened #1890 "proto_library shouldn't be documented"
It's marked setUndocumented(), and yet: http://bazel.io/docs/be/protocol-buffer.html

cc @cgrushko

[2016-10-06 00:58] yugui commented on #699
Small update.
I tried to extract extension metadata from `setup.py` in [a branch](https://github.com/gengo/rules_pypi/tree/feature/generate-cc-library) but I realized that it was nearly impossible because build setups in `setup.py` is fundamentally arbitrary code execution.

The basic architecture of `setup.py` is that (1) the package author gives build step description to `distutils.core.setup` -

[2016-10-06 07:26] petemounce commented on #1463
When I run bazel commands on my `c:` drive, they work; when I run them from my `d:` drive then I get this.

I tested this by running `bazel build` and `bazel info` in the root of this repo while on `c:` and `d:`, same system as I reported from. I get this error when on `d:`.

I get it inside msys2 shell and powershell. Unfortunately I can't easily test this against my in-house project because that

[2016-10-06 07:47] laszlocsomor commented on #1463
@petemounce : Thanks for reporting it. I'm seeing the same. Looking for the root cause and fixing soon.

[2016-10-06 08:38] damienmg commented on #1889
Pulling in @meisterT because too much breakage and he opened sourced that test.

Tobias, feel free to find a better owner

[2016-10-06 08:38] damienmg commented on #1888
Assigning to Laszlo because too much breakage on my side and laszlo open-sourced that test.

[2016-10-06 08:41] laszlocsomor commented on #1888
I'm going to disable the flaky tests. I'm working on another P1 right now.

[2016-10-06 08:44] damienmg commented on #1888
I would prefer to have at least an explanation for the flakiness, it is pretty reproducible, let see if we can pull someone else.

[2016-10-06 08:45] damienmg commented on #1888
Reassigning to Klaus.

[2016-10-06 09:31] laszlocsomor commented on #1463
The problem is rooted in a design limitation of Bazel, namely that a file system is assumed to have a single root. That's not true on Windows, and so the hack we've been using is treating "C:" as a top-level directory, not a root. `WindowsFileSystem.getFilesystemRoot()` reports `/` as the root.

This is breaking down if the workspace is on another drive, and we have to fix this design flaw properl

[2016-10-06 09:36] aehlig commented on #1888
Unfortunately, I could not reproduce the issue on my machine.

[code]

--
Klaus Aehlig
Google Germany GmbH, Erika-Mann-Str. 33, 80636 Muenchen
Registergericht und -nummer: Hamburg, HRB 86891
Sitz der Gesellschaft: Hamburg
Geschaeftsfuehrer: Matthew Scott Sucherman, Paul Terence Manicle

[2016-10-06 09:41] laszlocsomor commented on #1463
One more factor: when a `PathFragment` is just `C:`, then its `segments` are empty, though `isAbsolute = false`, and `driveLetter = 'C'`. When it's a path like `C:/Program Files`, then the `driveLetter = 'C'` (fine), `isAbsolute = false` (still not fine I guess) but `segments = ["C:", "Program Files"]`. This discrepancy is bad, this is what's causing `parentRealRootedPath.getRelativePath().getRela

[2016-10-06 09:42] damienmg commented on #1854
Closing this one since there is a workaround and the chocolatey package will fix it once and for all :p

[2016-10-06 09:42] #1854 closed

[2016-10-06 09:43] damienmg commented on #1855
Since it is on the cuda crosstool this is definetly on TF side. Closing

[2016-10-06 09:43] #1855 closed

[2016-10-06 09:50] damienmg commented on #1867
Hello, sorry for the delay, I have been crawling under the problems.

This seems like a breakage we rolled-back for the first issue.
The other error is definitely a tensorflow issue not ours. It seems to not find some python imports and it means that you are missing them on your OS.

Please refer to the TensorFlow issue tracker for more help.

[2016-10-06 09:50] #1867 closed

[2016-10-06 09:53] damienmg commented on #1868
Assigning to Philip for more insights.

[2016-10-06 09:59] damienmg commented on #1870
/cc @calpeyser to say something intelligent and triage the issue :)

[2016-10-06 10:04] damienmg commented on #1871
What is /mnt? It's is totally full (350G)!

Where is home?

[2016-10-06 10:12] damienmg commented on #1873
/cc @philwo for the general sandboxing things
/cc @hermione521 for the OS X sandbox but I think it is not specific to OSX
and pulling @klimek and @lberki for explaining how C++ clang module works

[2016-10-06 10:21] damienmg commented on #1878
--action_env is working at HEAD.

/cc @aehlig to follow-up for user support.

[2016-10-06 10:33] r4nt commented on #1873
Generally, the clang module cache feature is at odds with sandboxing (it creates a shared global module cache in /tmp, so it assume non-hermetic compilation), so the slow down is fully expected; you're essentially doing quadratic work here (recompile all transitive modules on every compile step).
You can imagine the clang module cache as it's own little C++ build system.

For C++ modules builds, w

[2016-10-06 10:57] damienmg commented on #1873
Ok so reassigning to Objc for Objc / C++ interop /cc @calpeyser

[2016-10-06 11:08] abergmeier-dsfishlabs commented on #1878
@damienmg `HEAD` (to be known as _0.4_) or already _0.3.2_?

[2016-10-06 11:14] damienmg commented on #1889
/cc @hermione521 I believe this might be due to the machine's overload.

[2016-10-06 11:15] damienmg commented on #1878
0.3.2 includes it yes

[2016-10-06 11:31] laszlocsomor commented on #1463
@dslomov : Your workaround idea works!

Workaround: create a junction somewhere on "C:" pointing to the workspace. Then bazel works.

To fix this bug properly we have to introduce the concept of multiple filesystem roots.

[2016-10-06 11:33] laszlocsomor commented on #1463
Dropping priority because there's a workaround.

[2016-10-06 11:58] damienmg commented on #1610
@cgrushko to comment but I am pretty sure java_proto_library is not in 0.3.0

[2016-10-06 12:01] damienmg commented on #1710
@NingyuShi yes it is a known issue and we working on making crosstool writing easier but it will take a long time to get fixed.

The sandboxing performance issue has been followed-up on another thread. The wiki is fixed now so closing that bug.

[2016-10-06 12:01] #1710 closed

[2016-10-06 12:03] damienmg commented on #1723
Seems like this was answered, closing, feel free to ping back if you still need help

[2016-10-06 12:03] #1723 closed

[2016-10-06 12:04] damienmg commented on #1726
@TingjinLuo please reopen a bug with a precise repro. The suggested change is to set LD_LIBABRY_PATH correctly

[2016-10-06 12:04] #1726 closed

[2016-10-06 12:07] damienmg commented on #1761
Haven't been reproduced, probably the sandboxing hang, closing

[2016-10-06 12:07] #1761 closed

[2016-10-06 12:08] damienmg commented on #1772
No answer so closing, @jeshjesh please ping back if this is still an issue.

[2016-10-06 12:08] #1772 closed

[2016-10-06 12:09] damienmg commented on #1789
This is no longer under investigation:
  protoc is too big, we will kill it soon for the double one and we will kill the other binary with Klaus plan. Closing this investigation,

[2016-10-06 12:09] #1789 closed

[2016-10-06 12:10] damienmg commented on #1813
Seems like this was resolved, closing :)

[2016-10-06 12:10] #1813 closed

[2016-10-06 12:16] hanwen opened #1892 "new_file lacking param docs."
https://www.bazel.io/versions/master/docs/skylark/lib/ctx.html#new_file

new_file takes 3 args, but none are documented.

[2016-10-06 12:20] aehlig commented on #1713
There are two aspects to that issue.

(a) Passing through environemt variables; this should be solved
    with our environment variables design
    https://github.com/bazelbuild/bazel/blob/master/site/designs/_posts/2016-06-21-environment.md
    which is implemented in 0.3.2 and later. So, to get environment variables available, just add

      build --action_env=PATH
      build --action_env=LD_L

[2016-10-06 12:24] hanwen opened #1893 "None twice in docs"
https://www.bazel.io/versions/master/docs/skylark/lib/File.html#owner

"Can be None. May return None."

[2016-10-06 12:37] philwo commented on #1836
Haven't been able to run the build from your repository, but did a simple benchmark using Bazel itself for a start.

I can't spot any performance difference when Bazel builds itself, comparing ext4 vs. XFS and also sandboxing vs. standalone on my machine:

[code]

Bazel building itself with workspace and output_base on ext4-on-LVM-on-dmcrypt+luks-on-HDD:
[code]

Bazel building itself with workspac

[2016-10-06 12:50] damienmg commented on #1836
Ok we decided to not block the release any further on this bug because it seems a very narrow corner case.

Can you provide us with a profile file so we can look if specific actions are causing the issue (use `--profile=/some/path` to create it)? Ideally one for a clean build with and without sandboxing. (do not send it over github, send it by mail).

[2016-10-06 12:52] damienmg commented on #1840
We are blocker free now and we need to release by tomorrow.

@meteorcloudy wants a change for windows in, but we are waiting for ci to vet it. I say we emit a new canary tonigh with it and release tomorrow :)

[2016-10-06 12:53] katre commented on #1840
@meteorcloudy Can you link the issue here so we can track it?

[2016-10-06 12:54] petemounce commented on #1463
@laszlocsomor So, the workaround is to (from an admin `cmd` shell) `mklink /d c:\<somewhere> <actual workspace>`, right...? I wasn't able to get it to work:

[code]

[2016-10-06 12:55] damienmg commented on #1888
pulling in some java expert because we are out of clue on what is happening there.

[2016-10-06 12:55] damienmg commented on #1840
the commit is ffdc05d2278d7f9c6e299c923019f689cde5fe76, it is being vetted by ci.bazel.io

[2016-10-06 12:58] philwo commented on #1836
I also tried a synthetic benchmark that Brian suggested some time ago to measure sandbox performance with many input files - interestingly it was much faster on XFS than on ext4:

[code]

vs.

[code]

Trying with Bazel 0.3.1, which still uses the old sandbox - now ext4 and xfs perform the same:

[code]

[2016-10-06 13:08] laszlocsomor commented on #1463
@petemounce : I did this from a non-Admin command prompt:

[code]

Then in msys, I cd'd into /c/work/bazel_ws and build there.

[2016-10-06 13:10] laszlocsomor commented on #1463
FYI, `mklink /d` creates a symlink, `mklink /j` creates a junction. Here's the difference explained: http://superuser.com/a/343079

[2016-10-06 13:16] petemounce commented on #1463
That didn't work for me (Windows 10 anniversary update)

In non-admin cmd shell:
[code]

[2016-10-06 13:22] meteorcloudy commented on #1840
Thanks, Damien. @katre There is no issue for this commit, please just cherry-pick it.

[2016-10-06 13:29] katre commented on #1840
Regenerated the release candidate:
$ ./scripts/release/release.sh create 0.3.2 \
 023a7bd \
 bebbbe5 \
 8a0d45f \
 2bc0939 \
 c5545fd \
 eb87208 \
 c30432c \
 95b16a8 \
 e898023 \
 ffdc05d

And pushed it. Change notes are the same.

[2016-10-06 13:31] tomzx commented on #1463
Same result as @petemounce for me on Windows 7 SP1.

[2016-10-06 13:35] kchodorow commented on #1725
Closing, as there has been no response for a month.

[2016-10-06 13:35] #1725 closed

[2016-10-06 13:52] laszlocsomor commented on #1463
@petemounce , @tomzx : It works if the junction is not the last path element. I don't know why and I haven't investigated (and probably won't unless I have to) but here it is.

My `D:` drive is a mapped folder from `C:` (using `subst`, see https://github.com/bazelbuild/bazel/issues/1463#issuecomment-251631123), and my `E:` is a USB mass storage.

I have the following bazel workspaces:
[code]

In c

[2016-10-06 13:59] aehlig commented on #1872
There are reasons for both behaviours (e.g., not everybody likes the
need of keeping an empty file to not break symlinks if the intention
is to switch back to entirely default behaviour).

But, to be honest, I don't have a strong opinion on this question (so,
chaning as suggested seems fine and may be even marginally better than
the current behaviour), as rc-files being symlinks usually are sympto

[2016-10-06 15:21] cgrushko commented on #1610
`java_proto_library` was introduced in July 11, while 0.3.0 was released in June.
The rule is still experimental and keeps changing, so building Bazel from head would probably give you a better experience for this rule.

[2016-10-06 16:41] AustinSchuh opened #1894 "Can't profile after clean"
I ran

[code]

Bazel crashed, saying

[code]

[2016-10-06 16:44] AustinSchuh commented on #1836
@philwo Thanks for taking a look!  I'm poking our IT department to see if there's a way to get you access to a machine which I set up for you with the problem already verified to be present.

After a clean and a fetch, with sandboxing disabled:

[code]

Standalone is another 10x faster than the old sandbox.  (wow, I had forgotten how fast builds could be...)

Profiles are now in your inbox.

[2016-10-06 17:25] mihnita commented on #374
Plain ASCII (and even that partial) makes this feels like we are in the early 90s.

There are reasonable ways to handle that.
For POSIX using the default locale would be good enough.

If my project is C/C++, and it is cross-platform, and I have problems handling Unicode, then I will not use Unicode in file names. And the fact that bazel "explodes" is not such a problem.
But if I use something like

[2016-10-06 17:35] cnsgsz commented on #1175
thanks, that works. new_http_archive is the way to go.

[2016-10-06 17:35] mihnita opened #1895 "Bazel can't handle the Android values folders for some locales"
Bazel fails for locales with 3 characters in the language id (values-chr is valid)
And fails for locales that contain script ("the b+ syntax", which makes values-b+sr+Latn and values-b+zh+Hant valid)

Bazel also hard-codes a special case for es-419 (Spanish Latin America), but in general any 3 digit code is valid region.
Should support at least the ones listed under the IANA Language Subtag Regist

[2016-10-06 17:52] katre commented on #1894
This is #1865, which is already fixed.

[2016-10-06 17:52] #1894 closed

[2016-10-06 18:58] zvh opened #1896 "Clean up --strict_android_deps and --strict_java_deps"
I tried disabling strict java deps but I still get a strict error:

INFO: Found 1 target...
ERROR: /tmp/tmpdXACj3/java/com/android/dialer/common/BUILD:7:1: Java compilation in rule '//java/com/android/dialer/common:common' failed: Worker process sent response with exit code: 1.
java/com/android/dialer/common/Assert.java:52: error: [strict] Using type android.support.annotation.NonNull from an indi

[2016-10-06 19:42] hermione521 commented on #1889
No more timeout! Yay!

[2016-10-06 19:42] #1889 closed

[2016-10-06 22:32] ahumesky commented on #1895
For the b+ syntax, we've recently updated our resource processing libraries (today in fact), so this should work in the next few days (although I thought we already supported this independently of the resource processing library).

For the 3 character region, it's not clear from the documentation that this is supported:
https://developer.android.com/guide/topics/resources/providing-resources.html#

[2016-10-06 22:53] alexryan commented on #1855
@joshsuihn, I am having this exact same issue with the NVIDIA Jetson TX1.
Did you find a solution?
[code]

[2016-10-06 23:01] aj-michael commented on #1886
Yes, we should put an android_binary in one of the fetch integration tests.

#1880 happened because tensorflow has an android_binary as a sample app and I accidentally introduced an implicit dependency from android_binary on something from the android_sdk_repository. So `bazel fetch tensorflow/...` failed inside `./configure` if you didn't have an android_sdk_repository in the WORKSPACE.

[2016-10-07 02:20] joshsuihn commented on #1855
It turned out the error was not caused by Bazel; it was a TensorFlow issue.
But, I could build Bazel and TensorFlow on TX-1 only with v0.3.1 and 0.10.0RC, respectively.
In particular, I could succeed in building TensorFlow only with a specific commit:
( try "git reset a5f8f42cb29d890650c4ca5fac6654884856a8e1" after cloning TF master )

My impression is TensorFlow version was very sensitive to buil

[2016-10-07 07:31] cushon commented on #1896
If that's an `android_library` you want `--strict_android_deps`.

The separate flags are a historical artifact, they should probably be combined.

[2016-10-07 08:11] #1881 closed

[2016-10-07 08:11] #1893 closed

[2016-10-07 08:12] hermione521 commented on #1731
It's green now

[2016-10-07 08:12] #1731 closed

[2016-10-07 08:25] meteorcloudy opened #1897 "Improve warning message on Windows with MSVC"
It's kind of a mess right now. We are setting warning flags in [CROSSTOOL](https://github.com/bazelbuild/bazel/blob/master/tools/cpp/CROSSTOOL.tpl#L165) while we are filtering warning messages in [msvc_tools.py](https://github.com/bazelbuild/bazel/blob/master/tools/cpp/wrapper/bin/pydir/msvc_tools.py.tpl#L475)

When building TF on Windows, my screen is always flushed with warning messages.

[2016-10-07 08:37] hermione521 commented on #1049
We have a new version of sandboxing that almost everything is readable, so this problem should go away. Can you check? Thanks.

[2016-10-07 08:54] dslomov commented on #1853
Hmm do we still even call build-runfiles on Windows?

[2016-10-07 08:55] laszlocsomor commented on #1853
Good question, I don't know. It's a transitive dependency of //src:bazel, but maybe we don't need to pull it in for Windows/MSVC.

[2016-10-07 09:12] dslomov commented on #1852
We do not use process-wrapper on Windows, we use Win32 process control API directly, thanks to @lberki

[2016-10-07 09:13] dslomov commented on #1852
(reopen to track getting rid of build dependency)

[2016-10-07 09:16] laszlocsomor commented on #1463
Bumping priority again because this is a serious blow on usability.

[2016-10-07 09:38] damienmg commented on #1888
http://ci.bazel.io/job/bazel-tests/BAZEL_VERSION=latest,PLATFORM_NAME=darwin-x86_64/271/console another instance

[2016-10-07 09:42] damienmg opened #1898 "`./compile.sh determinism` fails on windows"
[code]

[2016-10-07 09:43] damienmg commented on #1898
/cc @dslomov

[2016-10-07 09:50] meteorcloudy commented on #1898
Looks like #1586 is the first blocker.

[2016-10-07 14:04] lberki commented on #1713
@aehlig: I'm not :)

I kind of agree with the sentiment that the autodetection should work better, but the smarter it is, the more surprising it is when it doesn't work, so a bit of care needs to be taken.

What do `gcc -print-prog-name=as` rand `gcc -print-prog-name=ld` return? If they return the right paths, we could make our autoconfiguration script call that and make sure that those are access

[2016-10-07 14:13] jdc2172 commented on #754
+1

[2016-10-07 14:15] winterDroid commented on #754
I guess https://github.com/bazelbuild/intellij fixes this, doesn't it?

[2016-10-07 14:16] akors commented on #1713
To make matters unnecessarily complicated, in the case of tensorflow, there are 2 compilers involved: the one that builds the CUDA kernels (used by nvcc), and the one that builds the rest.  Those can be separate compilers, if I understand correctly. Not asking for the ultimate solution here, this is just a heads-up.

I gotta say, getting "no such file or directory" errors for binaries that very mu

[2016-10-07 14:24] lberki commented on #1713
Yeah... unfortunately, passing `PATH` through to actions also has its own issues. Once upon a time, we came up with a rather complex plan to make this work as best as we can:

http://www.bazel.io/docs/designs/2016/06/21/environment.html

It's essentially a balancing act between actions being reproducible (and thus not dependent on the environment Bazel is run in) and convenience.

[2016-10-07 14:25] philwo commented on #1836
I just pushed commit https://github.com/bazelbuild/bazel/commit/c5af2f3f2d974f7d0d84cecab6c57444b3413b01, which disables network sandboxing even for 'bazel test' (you have to explicitly enable it on tests that need this by adding a 'block-network' tag).

This should solve a major performance issue, which manifests itself exactly as you described it in your e-mail yesterday - "it seems like the bui

[2016-10-07 14:34] damienmg commented on #754
Yes indeed.

On Fri, Oct 7, 2016, 4:15 PM Marc Prengemann <notifications@github.com>
wrote:

[2016-10-07 14:49] philwo commented on #1458
This is "fixed" in the new sandbox implementation, however the new sandbox uses symlinks for all input files, which generally work fine, but may cause other issues.

If this is still a problem for you, please let me know and re-open this bug.

[2016-10-07 15:11] petemounce commented on #1840
I'm not familiar with the bazel release process. Is there a thing that I can subscribe to so I'm notified of new releases?

[2016-10-07 15:13] katre commented on #1840
Release candidates and releases are emailed to bazel-discuss+release-candidate@googlegroups.com as they are created.

I'm trying to release 0.3.2 now, so if you subscribe quickly you'll see one soon, hopefully.

[2016-10-07 15:26] damienmg commented on #754
Closing this one, please file issues to https://github.com/bazelbuild/intellij/issues if you have any problem with the plugin

[2016-10-07 15:33] damienmg commented on #1840
Also for full release they appear in
https://github/bazelbuild/bazel/releases

On Fri, Oct 7, 2016 at 5:13 PM katre <notifications@github.com> wrote:

[2016-10-07 16:12] vasantivmahajan opened #1899 "While setting up Bazel from a docker terminal and running ./compile.sh results in error "No such package '@local_config_cc//'""
I am running a docker terminal from a windows machine and I need to set up Bazel. I build Bazel from source by cloning the repository  git clone https://github.com/bazelbuild/bazel.git. While running the ./compile.sh command the following error is displayed.

![image](https://cloud.githubusercontent.com/assets/17990840/19197193/88d8e478-8c86-11e6-8502-ca46bd895960.png)

Any help is appreciated.

[2016-10-07 16:16] damienmg commented on #1899
One quick question: why is the docker part relevant? (the problem is just happening on Windows)

[2016-10-07 16:18] vasantivmahajan commented on #1899
@damienmg Just wanted to give all the information

[2016-10-07 16:22] damienmg commented on #1899
Oh ok :) @meteorcloudy should be able to help you further but I guess the issue is there is a space in the path to bash and setting `BAZEL_SH` to C:\Program~1\Git\usr\bin\bash.exe should be enough.

[2016-10-07 16:59] petemounce commented on #1840
@damienmg that's where I've been polling; I was hoping for something that would push to me.

[2016-10-07 17:00] aj-michael commented on #1819
I attempted to fix this in af8ebca2b88a0ee1129b72b4ce825f6489c31e67, but it was rolled back in 27cd7f6bb4a02f56f9ad73e57e71e69a1c00d5ea.

[2016-10-07 17:46] zvh commented on #1896
Ah thanks, didn't know there was a separate flag and I confirmed the android one works properly.

[2016-10-07 18:09] cushon commented on #1896
I think it's worth keeping this open to clean up `--strict_android_deps` and `--strict_java_deps`.

They also aren't propagated into the host config, which has been confusing in the past.

[2016-10-07 19:03] jblaine opened #1900 "Bazel as of 10/7/2016 does not build on RHEL 6.8"
[code]

[2016-10-07 19:07] katre commented on #1840
0.3.2 release is finished.

[2016-10-07 19:07] #1840 closed

[2016-10-07 20:15] vasantivmahajan opened #1901 "o $XX"

[2016-10-07 20:15] #1901 closed

[2016-10-07 20:26] damienmg commented on #1900
What is your version of gcc?

[2016-10-07 20:28] damienmg opened #1902 "October release"
0.3.2 is finally out so creating that bug to track progress next release.

We should probably wait a bit before cutting a new release. Ideally October release will be 0.4.

Assigning to Kristina, this month release manager :)

[2016-10-07 21:21] damienmg opened #1903 "bazel_toolchain_test is flaky"
http://ci.bazel.io/job/bazel-tests/BAZEL_VERSION=latest,PLATFORM_NAME=ubuntu_15.10-x86_64/274/console

This test tries to download stuff from the internet, this is a bit too flaky.

We maintain a mirror of Bazel stuff, if we want to maintain that test we should just vendor the toolchain on that mirror.

[2016-10-07 23:06] salguarnieri opened #1904 "Improve configurable attributes for sh_test"
I tried using configurable attributes to specify different test behavior on different OSes but ran into a few problems.

1) args and tags appear to be non configurable but aren't listed as such in the documentation. (https://www.bazel.io/versions/master/docs/be/shell.html#sh_test)

2) Could either args or tags be made configurable? I got around the limitation by making the select statement in srcs

[2016-10-07 23:19] ahumesky commented on #1904
Tags is indeed non-configurable:
https://github.com/bazelbuild/bazel/blob/6aa2c274c1ca80e3f34bf02ef6d6c3e785a2ceaf/src/main/java/com/google/devtools/build/lib/analysis/BaseRuleClasses.java#L174-L175

however args appears to be configurable:
https://github.com/bazelbuild/bazel/blob/6aa2c274c1ca80e3f34bf02ef6d6c3e785a2ceaf/src/main/java/com/google/devtools/build/lib/analysis/BaseRuleClasses.java#L12

[2016-10-07 23:27] salguarnieri commented on #1904
Looks like this feature got added in 0.3.2. Sorry for the noise. I'll be looking forward to making use of it when we make the jump to require 0.3.2.

[2016-10-07 23:50] cnsgsz commented on #1878
is there a way to add the python bin at custom location to the sandbox?

[2016-10-08 00:37] mihnita commented on #1895
Yes, the documentation is out of date.

A quick test: you can try values-chr, and the strings load fine (compiled with Android Studio)
(you would need Android N to be able to select Cherokee as a locale)

The change happened somewhere in Android L, but until N there was no way to select a 3 char locale.

The only locale that needed 3 char language ID would have been Filipino (fil).
But a "hackish"

[2016-10-08 07:15] mmdriley opened #1906 "`bazel clean --expunge_async` silently orphans output dir on Mac (and fails on Win?)"
`bazel clean --expunge_async` tries to run the same command, independent of OS:
`exec >&- 2>&- <&- && (/usr/bin/setsid /bin/rm -rf %s &)&`
(https://github.com/bazelbuild/bazel/blob/c484f19a2cf7427887d6e4c71c8534806e1ba83e/src/main/java/com/google/devtools/build/lib/runtime/commands/CleanCommand.java#L152)

`/usr/bin/setsid` doesn't exist on Mac OS X, so `blaze clean --expunge_async` effectively me

[2016-10-08 07:52] ahyangyi opened #1907 "Spurious error message when concatenating selects"
[code]

Assuming that `foo` and `foo_2` are two `config_settings` that are actually mutually exclusive, this expression would never contain duplicated elements. However, Bazel complains about that.

[2016-10-08 08:02] #1904 closed

[2016-10-08 08:03] damienmg commented on #1907
/cc @gregestren

[2016-10-08 08:41] ahyangyi opened #1908 "Wrong working directory for running external and/or host binaries."
Generally, the working directory when running an `*_binary` would be `execroot/${WORKSPACE_DIR_NAME}/bazel-out/${TOOLCHAIN_NAME}/${PATH_TO_TARGET}.runfiles/${WORKSPACE_NAME}`. However, when running a binary which was built from an external repository and as a host binary as a tool of another `genrule`, the working directory becomes
`execroot/${WORKSPACE_DIR_NAME}`.

Apparently, `File.short_path` d

[2016-10-08 08:53] ahyangyi commented on #1908
Note that I am not sure if it's being external or being host causing this problem. I can only say that the issue happens when both conditions are satisfied.

[2016-10-08 15:05] AustinSchuh commented on #1836
Ok, I've got some very interesting and good news to report.

I used perf and strace to try to understand what was going on.  It looks like the symlink creation step is taking a long time (50 ms/syscall?) which naturally will slow the whole thing down.  It looks like this might be a dm-crypt + lvm + xfs problem, but I haven't been able to yet debug which piece is the problem.

I ran bonnie++ on a V

[2016-10-08 15:49] cnsgsz commented on #1878
seems to work.

[2016-10-08 15:49] #1878 closed

[2016-10-08 20:06] skgbanga opened #1909 "installing bazel with OS X 10.12 (Sierra) - SHA256 mistmatch"
Hi,
I am trying to install bazel on MacOS Sierra, but getting the following error:

I get the same results on retrying.

[2016-10-08 20:51] skgbanga commented on #1909
Closing this. After upgrading to MacOS Sierra, I also had to update my brew installation, and it worked after that.

[2016-10-08 20:51] #1909 closed

[2016-10-08 23:15] jart opened #1910 "HttpDownloader should support gzip"
Let's say I have an http_file() rule for downloading a 2MB .js file. It would be nice if [HttpDownloader.java](https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/bazel/repository/downloader/HttpDownloader.java) sent an `Accept-Encoding: gzip` header. Then if the response has a `Content-Encoding: gzip` header it filters the payload through `GZIPInputStream`.

[2016-10-09 03:22] rockwotj opened #1911 "Can't find ObjC headers in external library."
Trying to add an external library to the `ios-app` example [here](https://github.com/bazelbuild/examples)

I added the following to the bottom of the `tutorial/WORKSPACE` file:

[code]

Then modified `tutorial/ios-app/BUILD` and the `UrlGetClasses` rule to be:

[code]

Then I tried to add `#import "UNIRest.h"` to `tutorial/ios-app/UrlGet/UrlGetViewController.h` and got the following error:

[code]

[2016-10-09 03:42] AFAgarap opened #1912 "Cannot build with GPU support"
I am building TensorFlow from the source for days already. I'm stuck with `bazel build -c opt --config=cuda //tensorflow/tools/pip_package:build_pip_package`. Everytime I am running it, it gives me the following errors:

``
.
ERROR: /home/darth/.cache/bazel/_bazel_darth/08554d152596e5a7df399506682a63f3/external/local_config_cuda/crosstool/BUILD:4:1: Traceback (most recent call last):
	File "/home/

[2016-10-09 04:43] AFAgarap opened #1913 "Java error?"
When I'm doing `bazel build -c opt --config=cuda //tensorflow/cc:tutorials_example_trainer`, it gives me this error:

(Note: I have `bazel 0.3.1`, `cuda 8.0`, `cudnn 5.1`. My system is Ubuntu 16.04 LTS, Nvidia GeForce GTX 960M GDDR5 (367.48), `gcc (Ubuntu 5.4.0-6ubuntu1~16.04.2) 5.4.0 20160609`)
[code]

[2016-10-09 05:05] sbilkoloft commented on #564
@aj-michael can u kindly give me an example how to use aar_import? I know it's not documented on purpose and people aren't supposed to be using it yet, but I don't mind if it breaks in the future as long as it can unblock us now.

[2016-10-09 08:57] is03wlei opened #1914 "When could bazel fetch transitive dependencies?"
It's really a big pain to generate transitive dependencies even using generate_workspace.

[2016-10-09 10:02] jeshjesh commented on #1772
It is a problem of version mismatch. Already fixed. Thanks.

[2016-10-09 19:29] kd8azz commented on #1049
Yes, my test now works without `tags = ['local']`.  Thanks!

[2016-10-09 19:29] #1049 closed

[2016-10-10 02:39] NacyLiu commented on #1726
@TingjinLuo i've set the LD_LIBABRY_PATH as @kchodorow suggested, and it works, good luck

[2016-10-10 07:12] laszlocsomor opened #1916 "Windows: Paths not relativized properly"
Bazel always emits absolute paths in errors on Windows, which is clunky:

[code]

or

[code]

[2016-10-10 08:07] ahyangyi opened #1917 "Is there any counterpart of "--sandbox_add_path" in Bazel 0.3.2?"
Hi,

I noticed that `--sandbox_add_path` was removed in Bazel 0.3.2, but an opposite option `--sandbox_block_path` was added. Is there any documentation that explains what happened to the sandbox and is there any replacement if I used to rely on `--sandbox_add_path`?

[2016-10-10 08:53] ahyangyi commented on #1917
Well, is http://www.bazel.io/docs/designs/2016/06/02/sandboxing.html relevant?

[2016-10-10 09:28] meteorcloudy opened #1918 "Add more test for MSVC CROSSTOOL"
The only test we have now is `bazel_windows_example_test`, since we added more features into MSVC CROSSTOOL, we need more tests in both java and shell to make sure it keep working.

[2016-10-10 09:39] petemounce opened #1919 "bazel 0.3.2 gives no output on windows"
I'm trying out the bazel 0.3.2 release via both the chocolatey package and a naked download. I've checked the hashes of my downloaded binary, and they match. The msys2 DLL is in my Windows `PATH` ahead of `c:\windows\system32` (so it's not bash-on-windows interference). The exe has the +x permission in msys2.

When I try `<full path>/bazel version` in msys2 and powershell, I get
* no output to the

[2016-10-10 09:45] hermione521 commented on #1919
@meteorcloudy can you help with this? Thanks.

[2016-10-10 09:46] dslomov commented on #1919
On Mon, Oct 10, 2016 at 11:39 AM, Peter Mounce <notifications@github.com>
wrote:

Can you try in cmd.exe?

--
Google Germany GmbH
*Erika-Mann-Straße 33, 80636 München, Germany*

[2016-10-10 09:52] hermione521 commented on #1917
I'm not sure if the design doc is updated enough.. @philwo
But you can check this: https://github.com/bazelbuild/bazel/commit/e219a24a30960ab5c686dd09197b5e22626e1fe0

In short words, almost the whole system is readable by default now (not your workspace on Mac), so you just drop all the `--sandbox_add_path`. Feel free to reopen.

[2016-10-10 09:52] #1917 closed

[2016-10-10 09:56] hermione521 commented on #1914
@kchodorow can you answer this? Thanks.

[2016-10-10 10:00] hermione521 commented on #1912
Hi, it looks more like a tensorflow problem. Can you report this to tensorflow? Thanks.

[2016-10-10 10:00] hermione521 commented on #1913
Hi, it looks more like a tensorflow problem. Can you report this to tensorflow? Thanks.

[2016-10-10 10:13] petemounce commented on #1919
In cmd I get output:
[code]

My `TMP` (and `TEMP`) environment variables are set to `C:\Users\Pete\AppData\Local\Temp`.

[2016-10-10 10:46] hermione521 commented on #1911
@c-parsons can you help? Thanks.

[2016-10-10 10:51] hermione521 commented on #1908
@kchodorow can you take a look? Thanks.

[2016-10-10 11:34] #1913 closed

[2016-10-10 11:34] #1912 closed

[2016-10-10 11:49] hermione521 commented on #1754
Friendly ping @dslomov

[2016-10-10 11:50] hermione521 commented on #1748
Friendly ping @laszlocsomor

[2016-10-10 12:02] hermione521 commented on #1610
Feel free to reopen if HEAD doesn't work for you.

[2016-10-10 12:02] #1610 closed

[2016-10-10 12:12] dslomov commented on #1754
Sorry for dropping this on the floor... :(
How does it fail when you compile from source? Can you attach a log (`compile.sh > log`))? (or better still, add  `set -x` to `compile.sh` and then do `compile.sh > log`)

[2016-10-10 12:13] dslomov commented on #1754
@EthanMacdonald

[2016-10-10 12:18] dslomov commented on #1919
Very strange. I cannot repro this. Can you share your environment variables? (output of `set` in `cmd.exe`)?

[2016-10-10 12:23] petemounce commented on #1919
Sure. Below.

I'm on Windows 10, I have Bash-on-Windows installed, I'm up to date with updates.

[code]

[2016-10-10 12:29] dslomov commented on #1919
Here is an idea: looks like in your PATH you have both `C:\Program Files\Git\bin` and `c:\tools\msys64\usr\bin`. Git-on-windows is an msys program too :(.
Can you try removing the first one from the PATH? (Welcome to dll hell)

[2016-10-10 12:38] philwo commented on #1917
I updated that design doc + set the status to "launched" on 2016-09-13, but it seems that the website is still showing the old content. I don't know why...

@damienmg Do you know if we have to and if yes how can we update the website when we make changes to the static files? Can we automate this?

[2016-10-10 12:40] damienmg commented on #1917
It's automated, you modify the md files and when it gets pushed, ci.bazel.io
push it to GCS.

On Mon, Oct 10, 2016 at 2:38 PM Philipp Wollermann <notifications@github.com>
wrote:

[2016-10-10 13:17] petemounce commented on #1919
I've trimmed various things from the `PATH` of cmd, and now I get a different error, in a modal popup.

error:
[code]

shell:
[code]

[2016-10-10 13:25] dslomov commented on #1919
Hmm ok, I've seen that happening with the old versions of msys2. Which one do you have?

[2016-10-10 13:26] philwo commented on #1917
That's awesome, exactly how I wished it looks like :)
The puzzle remains though, then why does http://www.bazel.io/docs/designs/2016/06/02/sandboxing.html still show "Status: unimplemented", while the updated version I checked in internally ~4 weeks ago says "Status: launched"? (See cl/132971817).

[2016-10-10 13:29] laszlocsomor commented on #1463
I have a fix for this, stay tuned.

[2016-10-10 13:30] petemounce commented on #1919
Apparently I have `msys2 20150916.0.1`, but I'm not sure I believe that. I'm going to remove it and reinstall .

[2016-10-10 13:33] dslomov commented on #1919
Ok, that is old(-ish). We build against 20160205.

[2016-10-10 13:48] petemounce commented on #1919
I've just installed http://repo.msys2.org/distrib/x86_64/msys2-x86_64-20160921.exe cleanly, followed the windows setup for bazel (bash_profile below), and `bazel version` and `bazel info` work as expected from msys2.

[code]

[2016-10-10 13:51] petemounce commented on #1919
In powershell, I get expected behaviour. In cmd, I get, still, `Error: mkdir('/var/tmp/_bazel_Pete'): Permission denied`

[2016-10-10 13:52] dslomov commented on #1919
Check you path in cmd?

[2016-10-10 13:54] petemounce commented on #1919
I've got success via the chocolatey-installed bazel, too, though I (unsurprisingly) had to add `/c/ProgramData/chocolatey/bin` to `PATH` over in msys2 .bash_profile.

[2016-10-10 13:55] petemounce commented on #1919
In cmd, my PATH is:

[code]

[2016-10-10 13:58] dslomov commented on #1919
Again, `C:\Program Files\Git\bin` before `c:\tools\msys64\usr\bin`. So it loads the wrong msys-2.0.dll.

[2016-10-10 13:59] petemounce commented on #1919
Yup, confirmed. I moved the entries involving git to the end of PATH and with that, I get expected behaviour.

[code]

[2016-10-10 15:06] dslomov commented on #1919
Closing this, landing a patch to update windows.md with these findings :)

[2016-10-10 15:06] #1919 closed

[2016-10-10 16:17] laszlocsomor commented on #1748
Hey, sorry about the long silence. I don't know what Bazel considers overhead; I can find it out tomorrow.

[2016-10-10 17:35] asimshankar opened #1920 "Rule to build a fully static library"
Among the multiple "release" outputs of my project, I'd like to include a single static library, which packages the objects of all dependencies into it. However, from what I can tell, bazel cannot build such targets.

The following target produces a single `.so` containing all symbols from `//product/foo` and `//product/bar`.:

[code]

I believe there is no way to generate a similar static library

[2016-10-10 17:35] ekuefler opened #1921 "Sandboxed genrule breaks after 0.3.2 upgrade"
I have a fairly simple genrule that worked in 0.3.1 and fails in 0.3.2:

[code]

It fails with the following error:

[code]

It works if I pass `--genrule_strategy=standalone`. I'm running this build inside of (privileged) docker container.

[2016-10-10 17:51] aj-michael commented on #564
Hi @sbilkoloft, sorry for the delay. If you build bazel from HEAD, you can use the rule as

[code]

This will give your android_library or android_binary access to the classes and resources from the AAR. If you have any questions or feedback, please let me know.

[2016-10-10 17:54] robertwb commented on #552
Has there been any decision as to what the extension/name of this BUILD file not named BUILD is going to be?

[2016-10-10 18:54] steven-johnson commented on #1920
+1; my project has similar hard requirement and similar problem.

[2016-10-10 18:56] katre commented on #552
The alternate name will be BUILD.bazel. I have the code for this change
mostly working and plan to pick it back up shortly.

On Mon, Oct 10, 2016, 1:54 PM Robert Bradshaw <notifications@github.com>
wrote:

[2016-10-10 19:12] dfabulich opened #1922 "Bazel downloads unnecessary artifacts from Hazelcast"
Consider this repository.

https://github.com/dfabulich/bazel-hazelcast-unnecessary-download

It includes a build file with three targets.

[code]

The `big` target generates a 100MB file. The `x` target depends on the `big` target and generates a short text file containing the word "hello". The `y` target depends on `x` and just copies it to the destination file.

This simulates the situation in

[2016-10-10 19:21] jblaine commented on #1900
Hi Damien,

The latest available to RHEL 6.x: `gcc-4.4.7-17.el6.x86_64`

[2016-10-10 19:44] damienmg commented on #1900
I guess this is too old, you could try to install an earlier version of gcc through the devtools 2 (http://people.centos.org/tru/devtools-2/devtools-2.repo)

[2016-10-10 19:54] benjaminp opened #1923 "bazel does not enforce testonly"
Consider this BUILD file:
[code]
I would expect building `:bar` to not work because it is a non-testonly rule that depends on a testonly one. However, bazel is more than happy to build `:bar`:
[code]

[2016-10-10 20:51] jart opened #1924 "Allow @foo if @foo//:foo"
I'm allowed to say `//foo` when referencing `//foo:foo`. So it seems reasonable that I should be able to say `@foo` if I'm referencing `@foo//:foo`

[2016-10-10 23:24] steven-johnson commented on #350
Is there any update on this?

[2016-10-11 02:54] AustinSchuh commented on #1836
@philwo I spent a little bit of time looking at how to implement this today, and came up with the following plan.  Please let me know what you think, ideally before I spend much more time on it.

I'm thinking that I'll make "/home/austin/.cache/bazel/_bazel_austin/8f2824674f275a56b96be13cdc66e9a4/bazel-sandbox/78afc106-c4c9-4a0c-897a-5122c6eca56e-615/execroot" a symlink to "/dev/shm/_bazel_austin/

[2016-10-11 03:22] sbilkoloft commented on #564
Hi @aj-michael,

For the record, seems like the code snippet posted above doesn't work as is. Does the 'aar' field have to be a path? If so, it doesn't accept absolute paths (says it cannot start with '/'). I also tried creating a symlink to my aar file and referencing it locally. Got an error that bazel-out/.../_aar/unzipped/myaar doesn't exist.

[2016-10-11 05:15] yugui commented on #699
Tried another approach that assumes wheel files are available locally or remote.
https://github.com/gengo/rules_pypi/tree/feature/wheel

However this approach does not solve the problem of building wheels from sources as is.
Also it is not so easy to build wheels without resolving package dependencies -- e.g. `pip wheel pyxDamerauLevenshtein` fails unless we install `numpy` into a virtualenv.

[2016-10-11 05:19] ahyangyi commented on #1917
Is the "base image" thing implemented and documented, by the way?

[2016-10-11 05:22] ahyangyi commented on #1908
I should mention that this happened in Bazel 0.3.1.

Due to the changes to the sandboxing I am not able to properly test in Bazel 0.3.2 for now. I'll report back when I finish my migration to 0.3.2.

[2016-10-11 06:34] jart commented on #1923
Uh oh spaghettios.

I can confirm this issue is correct. I would recommend prioritizing this issue.

[2016-10-11 08:36] dslomov opened #1925 "Windows: java_binary cannot be used as an 'executable' for an action"
java binary wrapper is a shell script, which cannot be executed directly on Windows.
The workaround is to switch to a `command` version of the ctx.action.

[code]

[2016-10-11 08:47] #1896 closed

[2016-10-11 08:48] dslomov opened #1926 "Windows: referring to arguments of actions via "$arg" does not work"
[code]

the workaround is to expand manually:

[code]

[2016-10-11 09:08] hermione521 commented on #1921
May I ask how you get $(commitNumber) since it's not in cmd..

[2016-10-11 09:16] hermione521 commented on #1920
Is this what you are looking for?
https://www.bazel.io/versions/master/docs/be/c-cpp.html#cc_binary.linkstatic

[2016-10-11 09:20] hermione521 commented on #1922
It looks intended to me. If you include "big" in src, it should be there.
@philwo I remember you worked on Hazelcast?

[2016-10-11 09:29] vladmos commented on #1811
Should be fixed now. Providing a "name" attribute for a rule is not allowed anymore.

[2016-10-11 09:29] #1811 closed

[2016-10-11 09:48] hermione521 commented on #1917
Not implemented yet

[2016-10-11 10:42] damienmg commented on #1836
Sounds like a reasonable thing to do, as long as it is not the default behavior.

[2016-10-11 10:54] dslomov commented on #1013
Do we still have any user-visible issues here (unrelated to removing python wrapper)?

[2016-10-11 10:54] damienmg commented on #699
Can we provide a way to build a virtualenv? That would be awesome to have a comprehensive suite of tooling to work with pip.

/cc @meteorcloudy

[2016-10-11 10:59] hermione521 commented on #1923
I'm surprised that `testonly` does not work at all..

[2016-10-11 11:24] ahyangyi commented on #1836
I am experience a very similar slowdown in Bazel 0.3.2: a lone java process, then a few compiler process, with scary load averages, indicating that syscalls are jamming the system.

However, my filesystem setup is a bit different: I use ext4 on top of a hardware RAID.

I can confirm that turning off the sandbox fixes the problem. Also, `iotop` shows crazy amounts of disk write when sandboxing is o

[2016-10-11 11:54] meteorcloudy commented on #1013
`.dll` can be explicitly specified in the `cc_binary` target name. However, users will always see Bazel linking `.a` file instead of `.lib` file, and the object file is ending with `.o` instead of `.obj`.  Although they all works fine, but it doesn't feel like a native tool, and I am not sure whether it would cause any problems for generating Visual Studio project file later.

[2016-10-11 12:16] philwo commented on #1836
@ahyangyi That would be awesome and very helpful. Thank you!

@AustinSchuh I think that sounds like a plan - however note that intermediate outputs can be inputs for another action, so the "bazel-out" folder of a Spawn might already contain files (or rather, symlinks to existing files in the real execroot/bazel-out folder).

At this time, I have no idea why the new sandbox would produce more disk

[2016-10-11 12:50] laszlocsomor commented on #1463
Out for review. If all goes well, we can push the fix to GH today or tomorrow.

[2016-10-11 13:14] damienmg commented on #1923
I am suprised this is even in Bazel :). Ok I am trying to understand how important this is.

We could remvoe that feature all together because it can be implemented by the constraints system.

@benjaminp, @jart: What is your use-case for such a feature?

[2016-10-11 13:19] sskgit commented on #1871
Sorry for the delay.
Space at / is 29GB (used space 98%)
Space at /mnt is 340GB (used space is 1%)
home is /home/username (2.3 GB)

May not be a bazel issue, we are trying to resolve the partition issue. Will update the issue on further findings.

[2016-10-11 13:20] hermione521 opened #1927 "android_integration_test broken on CI"
Breakage: (for all HEAD on Ubuntu)
http://ci.bazel.io/job/bazel-tests/lastCompletedBuild/BAZEL_VERSION=HEAD-jdk7,PLATFORM_NAME=linux-x86_64/testReport/

Relative commit:
https://github.com/bazelbuild/bazel/commit/2fcf0e4cfb97af7cc8b8a090c5144c87b759bc13

If revert this change, the test passed on CI:
https://bazel-review.googlesource.com/#/c/6570/

[2016-10-11 13:27] #1668 closed

[2016-10-11 13:36] damienmg commented on #1668
Every binary should now be signed starting next release.

On Tue, Oct 11, 2016 at 3:27 PM bazel.io machine account <
notifications@github.com> wrote:

[2016-10-11 13:47] damienmg commented on #1361
/cc @ulfjack trying to review --watchfs related bug (for OS X) and fall on that one, should we refuse to watch NFS mounts?

[2016-10-11 13:50] damienmg commented on #1362
kFSEventStreamCreateFlagNoDefer seems to help a little, still investigating.

[2016-10-11 13:51] damienmg commented on #1362
But it returns folders instead of files...

[2016-10-11 14:17] ulfjack commented on #1361
Is there a cheap way to detect nfs mounts? Should we parse /proc/mounts?

[2016-10-11 14:22] aj-michael commented on #1745
As of 2fcf0e4cfb97af7cc8b8a090c5144c87b759bc13, if your WORKSPACE contains android_sdk_repository, the contents of your Android SDK `extras/` directory will be scanned for libraries and aar_import and java_import rules generated for them.

You can put these rules in the deps of your android_library and android_binary as such:

[code]

[code]

The label format is `@<name of android_sdk_repository>/

[2016-10-11 14:35] kchodorow commented on #1924
Hmm, seems like it should be the shortening of `@foo//foo:foo`, but I guess that doesn't happen much with remote repos.  Also, maybe that's ridiculous (my example, not your request).

[2016-10-11 14:35] vasantivmahajan commented on #1899
@meteorcloudy

[2016-10-11 14:37] meisterT commented on #1361
mount -t $filesystemtype prints all mountpoints with the given file system type on Linux. I don't know how portable this is.

[2016-10-11 14:39] damienmg commented on #1361
works on OS X too.

[2016-10-11 14:41] meteorcloudy commented on #1899
Did you set `BAZEL_SH`,  if so, can you show what's it like?

[2016-10-11 14:44] meteorcloudy commented on #1899
Where did you install msys? if it's `c:/tools/msys64`, try `export BAZEL_SH=c:/tools/msys64/usr/bin/bash.exe`

[2016-10-11 14:45] meteorcloudy commented on #1899
Also, looks like you are in MINGW64 console, it's better to switch to MSYS console. :)

[2016-10-11 15:01] vasantivmahajan commented on #1899
I have set the following paths:
BAZEL_SH=c:/msys64/usr/bin/bash.exe (as I have downloaded MSYS in C:/msys64)
JAVA_HOME="$(ls -d C:/Program\ Files/Java/jdk* | sort | tail -n 1)"
BAZEL_VS="C:/Program Files/Microsoft Visual Studio 12.0"
export BAZEL_PYTHON=C:/Python27/python.exe

After running the ./compile.sh command in the MSYS console, the following error is displayed:
![image](https://cloud.githu

[2016-10-11 15:08] meteorcloudy commented on #1899
I believe `BAZEL_VS` should be `"C:/Program Files/Microsoft Visual Studio 14.0"`.
That's where the `VCVARSALL.BAT` script is, we need this to set up necessary environment for MSVC tools.

[2016-10-11 15:10] meteorcloudy commented on #1899
FYI, on my machine, Visual Studio is at `C:/Program Files (x86)/Microsoft Visual Studio 14.0/VC/VCVARSALL.BAT"`
If you are not sure, you don't have to set up BAZEL_VS, let bazel find it. :)

[2016-10-11 15:15] vasantivmahajan commented on #1899
@meteorcloudy : I changed the BAZEL_VS path to C:/Program Files/Microsoft Visual Studio 14.0.
However, the same error is displayed

![image](https://cloud.githubusercontent.com/assets/17990840/19276301/f075f114-8fa3-11e6-946c-b260c4642ef3.png)

[2016-10-11 15:18] meteorcloudy commented on #1899
So I guess it's `Program Files (x86)` instead of `Program Files`?
Please make sure `VCVARSALL.BAT` is under `${BAZEL_VS}/VC`

[2016-10-11 15:22] vasantivmahajan commented on #1899
On setting  the path as  export BAZEL_VS="C:/Program Files (x86)/Microsoft Visual Studio 14.0", the following error is displayed:

![image](https://cloud.githubusercontent.com/assets/17990840/19276601/e3221a82-8fa4-11e6-8b5c-e7d8c64341f7.png)

[2016-10-11 15:22] AustinSchuh commented on #1836
@philwo That's good to know.  Would it potentially contain files in the bazel/*/bin folder?  If it wouldn't, I could then symlink only those bin folders, otherwise I'm thinking handling that case may be a premature optimization.  It sounds like a much less likely case, and won't have thousands of files from sandboxed compilers like the other folder.

Do you have a flag name you would like me to us

[2016-10-11 15:25] ulfjack commented on #1361
Subprocessing to mount on every build? :-/

[2016-10-11 15:26] AustinSchuh commented on #1836
@ahyangyi What happens if you symlink the bazel-sandbox folder I mentioned to /dev/shm/?  Does that fix your performance issue?  You can test that by starting a build, killing it, going to the correct folder in the .cache/bazel directory, and replacing the folder with a symlink.

[2016-10-11 15:31] meteorcloudy commented on #1899
Is the script under `C:/Program Files (x86)/Microsoft Visual Studio 14.0/VC/VCVARSALL.BAT`?
If not, you might didn't install Visual Studio with the Visual C++ components?

[2016-10-11 15:33] vasantivmahajan commented on #1899
@meteorcloudy: How do I check if the script is present in the path. I can see the following folders under "C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC"

![image](https://cloud.githubusercontent.com/assets/17990840/19277084/857f447a-8fa6-11e6-968d-49830297ffa7.png)

[2016-10-11 15:37] meteorcloudy commented on #1899
So, the script is missing, means you didn't install Visual Studio correctly, please make sure you have Visual C++ installed.
![image](https://cloud.githubusercontent.com/assets/4171702/19277215/4497d35e-8fd9-11e6-9263-c3edbfcb9a51.png)

[2016-10-11 15:44] laszlocsomor commented on #1748
@mightyguava : Have you seen this occurring recently? What OS did you run Bazel on? Do you see this happening with other tests too?

[2016-10-11 16:13] vasantivmahajan commented on #1899
@meteorcloudy: I updated my Visual Studio and choose the above-mentioned features. The build was successful after that. Thank you very much for your help.

[2016-10-11 16:13] #1899 closed

[2016-10-11 16:20] benjaminp commented on #1923
My usecase is essentially what's in the `testonly` documentation:

This bug report is a consequence of me discovering code that reset for databases in production.

The advantage of `testonly` at the moment is that the `test` flag partitions all Bazel rules. If I wanted to use the constraint system, I would either have to mark all production or all testing rules appropriately. Perhaps `test = True`

[2016-10-11 16:50] aj-michael commented on #1927
Sorry, I just saw this now. I'm not quite sure what the problem is, but we should probably roll the CL back for now.

[2016-10-11 17:36] jart commented on #1923
Let's say I write a naïve HTTP server intended for development that's vulnerable to attacks like [slowloris](https://en.wikipedia.org/wiki/Slowloris_(computer_security)), [billion laughs](https://en.wikipedia.org/wiki/Billion_laughs), localhost:8000/../../../../etc/passwd, etc. I wouldn't normally be able to live with myself writing such a thing—unless I was able to guarantee it'll never end up in

[2016-10-11 18:13] ekuefler commented on #1921
It's passed via a `--define` flag in the build system, e.g. `bazel build src/main/java/com/ekuefler:build-properties --define commitNumber=123`.

I get the same error if I replace `$(commitNumber)` with `123` in the build file, so I don't think that's related.

[2016-10-11 18:38] ronshapiro commented on #1372
The dagger team is also very interested in this, because the Maven Android plugin doesn't suit our needs and we'd rather switch to bazel than gradle. Can you let me and/or @gk5885 know if there's anything we can do to help?

[2016-10-11 19:04] steven-johnson commented on #1248
The local_repository() workaround doesn't work (AFAICT) if you have targets that produce generated files, because there seems to be confusion over which genfiles paths are permitted (e.g., "bazel-out/local-fastbuild/genfiles/Halide.h" vs "bazel-genfiles/external/halide/Halide.h").

[2016-10-11 19:27] zvh commented on #1745
Thanks so much for working on this! I have tried it in my project and am experiencing an error:

ERROR: /usr/local/google/home/zachh/.cache/bazel/_bazel_zachh/8b6a25785bcaef089bf3e18c1286d461/external/androidsdk/com.android.support/BUILD:2982:1: Processing Android resources for @androidsdk//com.android.support:support-compat-24.2.1 failed: linux-sandbox failed: error executing command /usr/local/g

[2016-10-11 19:36] aj-michael commented on #1745
Hi @zvh, sorry about the error. That is a bug that I am aware of with the Bazel sandbox that I forgot to mention here. The workaround is to use `--spawn_strategy=standalone` when you build.

I will file another GitHub issue that tracks this. The problem is as follows:

aar_import is one of the first rules to use a new Bazel feature called TreeArtifacts. TreeArtifacts represent directories that are

[2016-10-11 19:36] jart commented on #1924
If I'm not using repository_rule() then I'm only allowed to define a single BUILD file for the new_http_archive(), so it wouldn't be possible to have a foo/BUILD subpackage that defines foo.

[2016-10-11 19:48] kchodorow commented on #1248
Reopening, since I just noticed that this was rolled back.

@steven-johnson, can you elaborate/give a more complete example?  Using it on genrule output works for me.

[2016-10-11 19:54] steven-johnson commented on #1248
@kchodorow, I'm trying to track it down right now -- it may be a case of user error (mixing prefixed and non-prefixed paths), but I'm not sure yet. Stay tuned.

[2016-10-11 20:01] steven-johnson commented on #1248
What seems to be happening is:
-- there's a generated file ("Halide.h")
-- This can end up generated in two places:
    -- blaze build :halide_h -> bazel-out/local-fastbuild/genfiles/Halide.h
    -- blaze build @halide//:halide_h -> bazel-genfiles/external/halide/Halide.h

my internal target is depending on this via the second syntax (fake-external-repo hack); however, the include paths passed to

[2016-10-11 20:04] aj-michael opened #1928 "Sandbox does not create empty directory for aar_import with empty resources treeartifact"
`aar_import` outputs a TreeArtifact that represents a directory structure containing Android resources. If the AAR does not have any Android resources, PopulateTreeArtifactAction creates an empty directory. This TreeArtifact is passed to the AndroidResourceProcessingAction. However, the Bazel sandbox does not create the treeartifact directory unless there are files inside to symlink. This causes A

[2016-10-11 20:05] aj-michael commented on #1745
I've filed https://github.com/bazelbuild/bazel/issues/1928 to track this issue.

[2016-10-11 20:22] philwo commented on #1836
@AustinSchuh Sorry, I'm not sure I understand what you mean with "the bazel/*/bin folder" (but it's late here already, I might just be missing something) - I think you can easily find out what works by just giving it a try. If any files are not where they're supposed to be, the actions will immediately fail, so there's a good feedback loop while coding that feature.

Regarding the flag name, anyth

[2016-10-11 20:57] hermione521 opened #1929 "TensorFlow and TensorFlow_serving is broken on CI"
Breakage:
http://ci.bazel.io/job/TensorFlow/BAZEL_VERSION=HEAD,PLATFORM_NAME=linux-x86_64/455/console

Relative commit:
https://github.com/bazelbuild/bazel/commit/e23b79c31ccaba176515e7032553d2816e5832cd

[2016-10-11 21:40] zvh commented on #1745
Thank you @aj-michael, that flag seems to get me past that error.

However, I am now getting a different compilation error:

ERROR: /tmp/tmp1FQaA6/java/com/android/dialer/common/BUILD:7:1: Java compilation in rule '//java/com/android/dialer/common:common' failed: Worker process sent response with exit code: 1.
java/com/android/dialer/common/FragmentUtils.java:87: error: cannot access ActivityCompa

[2016-10-11 23:59] aj-michael commented on #1927
Instead of rolling this back, I have submitted a fix for the test. When ever the next time that internal code is committed to github, this test should be fixed.

[2016-10-12 04:59] AustinSchuh commented on #1836
@philwo I'm currently wrestling with how to get the _bazel_austin/dd758a6cc6943296d5c6a65e2c252c63 part of the cache path reliably.  I've traced the calculation all the way into the C++ code, which makes it hard to calculate in a single spot in Java.  I'm tempted to use the Path class to remove the /home/austin/.cache/bazel/ leading string to get the folder name, but that feels wrong.  If you have

[2016-10-12 05:28] ahyangyi commented on #1836
@AustinSchuh  Symlinking that .cache directory to the shared memory fixed performance issue for me.

That said, I cannot let everyone use /dev/shm and assume the problem does not exist. Some of them needs to be able to build things on weaker platforms.

Also, the current implementation of the seemingly random path name takes both the Bazel version (which is not just a version string, but a checksu

[2016-10-12 05:28] ahyangyi commented on #1836
@philwo  What kind of profiling would help you the most?

[2016-10-12 05:52] meisterT commented on #1361
I don't understand why on every build. --watchfs is a startup option and IMO it's a valid assumption that the file system type stays the same across builds.

[2016-10-12 05:58] damienmg commented on #1361
Because Ulf is making it a build option. We could however call mount once
instead of at ever build.

On Wed, Oct 12, 2016, 7:52 AM Tobias Werth <notifications@github.com> wrote:

[2016-10-12 07:45] damienmg commented on #1372
Getting further in the though process.

For GCR for ci.bazel.io, we actually moved to use a run rules that calls `gcloud docker push`, and we do `bazel run //gcr:deploy`. That works pretty well so I think there is no Bazel side update to the story (but I may be wrong).

The only topic left right now would then be to implement a maven_deploy rules that would be able to talk to artifactory or maven

[2016-10-12 07:55] damienmg commented on #1836
@AustinSchuh are you speaking of taking the output base: https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/analysis/BlazeDirectories.java#L135 ?

@ahyangyi:

What? The execroot path does not use the install name (though the install base does).

[2016-10-12 08:01] damienmg commented on #1923
@jart: I mean the constraint system could be used to create a "test" environment that you could apply with "restricted_to".

Ok in the future we might want to migrate it to constraint system but let make it work for now. I'll try to put it in my queue. do not hesitate to ping if I forgot to update this bug with progress.

[2016-10-12 08:09] lberki commented on #1836
@ahyangyi : The checksum in the output base is just the MD5 checksum of the name of the directory the WORKSPACE file is in. To compute:

`cd <wherever your WORKSPACE file is>; echo -n $PWD | md5sum`

And it's usually under `$HOME/.cache/bazel` .

[2016-10-12 08:32] ulfjack commented on #1361
Well, if we're going to make it magic, I'd rather make it reliable magic,
and there are a couple of corner cases that we might want to cover.

Fortunately, mount is pretty fast (at least on my machine), and parsing
/proc/mounts is also not entirely out of the question (but specific to
Linux).

On Wed, Oct 12, 2016 at 7:58 AM, Damien Martin-Guillerez <
notifications@github.com> wrote:

[2016-10-12 08:40] damienmg commented on #1400
@gregestren when will this be fixed? We are running down to 0.4 so I am trying to figure out what is realistic.

[2016-10-12 08:40] damienmg commented on #1400
pinging @ulfjack too because assigned to him

[2016-10-12 08:51] damienmg commented on #1719
ping @philwo: can this be done this week?

[2016-10-12 09:01] damienmg commented on #1871
Ok / is definitely full no surprise the build fails, let me know if you need anymore help.

[2016-10-12 09:59] meteorcloudy opened #1930 "//src/test/java/com/google/devtools/build/lib:cpp-rules-tests is failing on Windows"
http://ci.bazel.io/view/Bazel%20bootstrap%20and%20maintenance/job/Bazel/JAVA_VERSION=1.8,PLATFORM_NAME=windows-x86_64/911/console
[code]

Culprit: 74b94328db5346e0f6c573731fcbaa85ca751304
@lberki @mhlopko

[2016-10-12 10:54] damienmg opened #1931 "Windows: support --watchfs"
Everything is in the title :) /cc @dslomov

[2016-10-12 10:54] hermione521 commented on #1927
Sadly, it's not fixed.
http://ci.bazel.io/job/bazel-tests/280/

[2016-10-12 10:55] damienmg commented on #1362
Ok this flag fix all flakiness on my side, rolling-it out for 0.4 :)

[2016-10-12 10:55] philwo commented on #1836
Yep, it is not guaranteed that the output base is in a _bazel_username/<hash> directory, because it can be overridden by --output_base (which is not unusual, for example I often use a separate output base for the Bazel version that I'm currently debugging, so that rebuilding it using released Bazel doesn't trigger a server restart all the time):

[code]

[2016-10-12 10:55] damienmg commented on #1676
I have a pending fix, just need to repro to make sure we actually do fix the problem

[2016-10-12 11:28] damienmg commented on #1676
Unfortunately I cannot reproduce with a simple example. @znull: if you have a workspace in which you can reproduce this behavior, please send it to me.

I'll send out my patch whatever happens and hopefully this will address this issue.

[2016-10-12 11:28] laszlocsomor commented on #1787
More info: apparently not all files are mapped into the local repository. The missing bzl file is there in `tools/build_rules` but not in the symlink tree of the repo.

[code]

[2016-10-12 11:32] laszlocsomor commented on #1787
And the BUILD files in the two differ.
Apparently I was wrong about the repo being a symlink tree; it's comprised of regular files.

[2016-10-12 11:51] laszlocsomor commented on #1787
Found the culprit: [`tools/build_rules:embedded_tools_srcs`](https://github.com/bazelbuild/bazel/blob/19eadbe896b7796233ff15a3741d2ccbbb70f79d/tools/build_rules/BUILD#L15) should have a glob for all bzl files. If I add that and rebuild Bazel then I can fetch `@bazel_tools//third_party/jformatstring` but not `@bazel_tools//...` because some more BUILD files need fixing.

[2016-10-12 11:56] damienmg commented on #1787
No it should not. Ulf specifically trimmed down that filegroup to only
includes what is necessary in the embedded_tools. If we want to fix that we
should rewrite the BUILD files of the embedded_tools to accept the absence
of the unused files.

On Wed, Oct 12, 2016 at 1:51 PM László Csomor <notifications@github.com>
wrote:

[2016-10-12 12:08] laszlocsomor commented on #1787
Hm, I don't think I follow. What do you mean by rewriting BUILD files "to accept the absence
of the unused files"? Also, when saying "the BUILD files of the embedded_tools" are you referring to `BUILD.tools` files?

[2016-10-12 13:11] laurentlb commented on #1696
I'd recommend you to find another way. For example, you can have a predefined list of values for precompile, and change the behavior based on the value.

We don't plan to allow functions in the short-term. If we want it in the future, it has to be designed carefully (in particular, how this interacts with 'blaze query' and other tools).

[2016-10-12 13:15] rokstrnisa commented on #1906
The Win part is probably related to #1586.

[2016-10-12 13:21] damienmg opened #1934 "Small incremental build are freakingly slow on OS X because stable build info"
Even though we do not have stamping activated, the build takes ~6-8 seconds for building a java_test where I just change an unused imports.

This is highly unexpected, especially with workers.

/cc @ulfjack @philwo
$ bazel analyze-profile /tmp/profile\*  | grep Building
WARNING: This information is intended for consumption by Blaze developers only, and may change at any time.  Script against it at

[2016-10-12 13:21] damienmg commented on #1934
We see ~6s spent on building the action

[2016-10-12 13:27] damienmg commented on #1934
Also /cc @cushon @eaftan because that's a problem specifically in the java compile action (without worker the action takes 10s). Is the Java compiler just freaking slow on Darwin?

[2016-10-12 13:52] pcj commented on #1696
OK I'll close this for now.

[2016-10-12 13:52] #1696 closed

[2016-10-12 14:41] AustinSchuh commented on #1836
@philwo @damienmg @lberki Thanks for the extra info about output_base!  Sounds like the safest place to symlink to would be something much more braindead like /dev/shm/$(echo "${OUTPUT_BASE}" | md5sum)/.  Feedback on that proposal is appreciated :)

@ahyangyi I'm only going to put the symlink tree in /dev/shm.  All outputs and temporaries will end up back on the main disk through more symlinks.  F

[2016-10-12 14:41] jblaine commented on #1900
GCC 4.8.2 from devtools-2 fails as well, in a different way:
[code]

[2016-10-12 14:46] mhlopko commented on #1930
Fixed by https://bazel-review.googlesource.com/#/c/6610/

[2016-10-12 14:47] #1930 closed

[2016-10-12 14:56] damienmg commented on #1900
Can you try after doing `export CC=$(which gcc)`?

On Wed, Oct 12, 2016 at 4:46 PM Jeff Blaine <notifications@github.com>
wrote:

[2016-10-12 15:27] aj-michael commented on #1927
Hmmm, I cannot reproduce the failure locally. I tried:

[code]

[2016-10-12 15:36] aj-michael commented on #1927
Hmm, I'm wondering if Bazel CI is caching the result of the `android_sdk_repository`?

[2016-10-12 15:56] aj-michael commented on #1927
I've created a rollback.

[2016-10-12 16:13] philwo commented on #1836
@AustinSchuh Do we actually need a reproducible mapping of the output base directory to some directory in /dev/shm? Or could we just use a unique directory for the duration of a build? All the sandbox directories there should be deleted anyway when a build finishes, so we could just use a new one per build.

A good way to generate a secure, random temporary directory in /dev/shm might be http://do

[2016-10-12 16:56] mmdriley commented on #1906
I don't think so. #1586 is about `clean --expunge`, which seems to use a cross-platform delete: https://github.com/bazelbuild/bazel/blob/c484f19a2cf7427887d6e4c71c8534806e1ba83e/src/main/java/com/google/devtools/build/lib/runtime/commands/CleanCommand.java#L137

In this case, the command fails on Windows because Windows isn't Linux.

[2016-10-12 17:17] benley commented on #699
The pex rules use virtualenv in a genrule to bootstrap the pex builder:
https://github.com/benley/bazel_rules_pex/blob/master/pex/BUILD#L4

It's a bit gross, but I suspect it wouldn't be too hard to generalize into a skylark py_virtualenv rule.  What I'm unsure about is how to handle the output in a way that makes it useful to other rules without turning it into a tarball.

[2016-10-12 17:34] aj-michael commented on #1745
Ah, unfortunately aar_import currently only gets classes.jar, AndroidManifest.xml and res/* from the AAR. I am working on adding support for jni/* and libs/*, but that is not available yet. As you mentioned, support-compat uses an internal jar for ActivityCompatApi23.

[2016-10-12 17:40] aj-michael commented on #1745
Of course, if you want to get it working, you can extract that jar, and put a java_import of it in the deps of your android_binary.

[2016-10-12 18:03] zvh opened #1935 "Support internal jars in android support libs"
The generated rules don't currently pull in the internal jars from the AAR libs/ directory which can cause compilation to fail due to missing classes. More context here:

https://github.com/bazelbuild/bazel/issues/1745#issuecomment-253282584

[2016-10-12 18:04] zvh commented on #1935
Please assign to @aj-michael

[2016-10-12 19:16] aj-michael commented on #1935
Thanks for filing this!

[2016-10-12 19:43] asimshankar commented on #1920
@hermione521 : I don't think so.

If I try to create the `.a` using a `cc_binary` rule like so:
[code]
Then the output isn't an object archive.

And my understanding of `linkstatic=1` in `cc_library` rules is that it means that the symbols in the library will be statically linked into the binary that depends on it, not that the library itself will include symbols of its transitive dependencies.

[2016-10-12 20:14] dfabulich commented on #1676
Here's a semi-reliable repro. https://github.com/dfabulich/watch-repro

The `WORKSPACE` is empty, and the `BUILD` file is a single target:

[code]

`repro.sh` is a bash script:

[code]

When I run `./repro.sh` I have about a 75% chance of reproing this AIOOBE on OS X El Capitan 10.11.6

<details><summary>bazel version</summary>
[code]
</details>

[2016-10-12 21:10] zvh opened #1936 "Error using multidex='native' with android_binary"
When I try using multidex='native' in my android_binary rule I get:

[code]

Also note that if I don't use multidex I get:
..........

[code]

But "--multi-dex" is not a flag AFAICT; should this message be changed to say "multidex attribute"?

[2016-10-12 21:49] aj-michael commented on #1936
Unfortunately, multidex is not yet supported in Bazel. Specifically, https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/rules/android/AndroidBinary.java#L1435 is using an attribute `$zip` that is not defined in `AndroidBinaryBaseRule.java`. `$zip` either needs to be added or that method changed to use singlejar.

[2016-10-12 22:05] jart commented on #1923
Having it be migrated to the constraint system would be acceptable to me.

[2016-10-13 02:12] TingjinLuo commented on #1726
Thanks

2016年10月9日星期日，NacyLiu <notifications@github.com> 写道：

[2016-10-13 04:31] yugui commented on #699
Here's our tentative solution.
https://gist.github.com/yugui/b7e80987dc2077754d91750b26eca3de

I have implemented it as a repository_rule so that the output is available as a plain `py_library` without archiving files -- it requires the rule to generate an unpredictable set of files.

[2016-10-13 05:06] yugui commented on #699
Findings from my prototype.

1. It is possible to locate source archives or python wheels and download them with `ctx.download`.
2. We cannot know what build steps are required to build the target PyPI package because `setup.py` is actually arbitrary code execution even though it looks to be metadata-driven.
3. We cannot know a PyPI package alone in a sandbox because its `setup.py` often depends o

[2016-10-13 08:06] damienmg commented on #1923
Well because having a nice support with the constraint system is not going to happen soonish (this is doable right now but not built-in, so you have to mark all your test targets as "restricted_to"), we are going to fix testonly.

[2016-10-13 08:10] damienmg opened #1937 "FR: support timestamp docker images"
Right now, all images creation are given a dummy timestamp (Jan 1970), we should make it possible to timestamp on demand (attribute, or maybe with --stamp)

[2016-10-13 08:37] damienmg commented on #1676
Ok that's basically what I was trying but with a bit less files.

On Wed, Oct 12, 2016 at 10:14 PM dfabulich <notifications@github.com> wrote:

[2016-10-13 09:20] damienmg commented on #1676
Thanks for the repro, it worked.

[2016-10-13 09:25] damienmg commented on #1676
Seems like https://bazel-review.googlesource.com/c/6613/2 fixes it, neat :)

[2016-10-13 09:35] damienmg commented on #1676
And weirdly enough https://bazel-review.googlesource.com/c/6614/2 seems to fix it too. I am going ahead and will submit the flag change. If you still get that ISE after please ping back. I'll leave that bug open until milestone 0.6 for following-up

[2016-10-13 09:47] petemounce commented on #1463
Hi @laszlocsomor - I didn't spot this on [gerrit|https://bazel.googlesource.com/bazel/]. Is it somewhere else? Happy to try it out, since it's the next thing to a blocker for us.

[2016-10-13 11:23] hermione521 commented on #1920
Ah, I'm sorry. Let's ask @lberki

[2016-10-13 11:51] lberki commented on #1920
No, we don't support that at the moment :( We were considering implementing something like that with @mhlopko , but we have other priorities at the moment.

A workaround would be to use a genrule to package the static library like this:

[code]

I took a bit of artistic freedom since `$(locations)` will return both a static and a dynamic library and that's not exactly how `ar` should be called, bu

[2016-10-13 12:21] ulfjack commented on #1400
I have a fix. It's due to the Android split transition. Well, the underlying issue is that experimental_multi_cpu is incompatible with split transitions in general given the current way we setup the configurations. I'm sure we can also trigger this internally, and I filed an internal bug for that. I have a patch that makes the exception go away.

[2016-10-13 12:28] philwo opened #1939 ""killall bazel" doesn't work"
Current behavior:
When a user tries to run "killall bazel", it doesn't work, because killall can't find any running processes with that name.

Expected behavior:
"killall bazel" actually kills all running Bazel servers.

[2016-10-13 12:45] dslomov commented on #1852
Oh actually I take that back, we are still using process-wrapper for `bazel run`

[2016-10-13 13:54] Helcaraxan opened #1940 "On Windows BAZEL_PYTHON is ignored while finding Python"
I've set the BAZEL_PYTHON variable but it seems like this is being ignored during the environment discovery. I had to add the python2 dir to my PATH to get this to work (or at least, as far as it could before running into #1463 - my source is on my `d:` drive).

[code]

[2016-10-13 13:56] hermione521 commented on #1927
Fixed. And CI is working perfectly now so feel free to test using gerrit.

[2016-10-13 13:56] #1927 closed

[2016-10-13 14:04] hermione521 commented on #1888
It seems not flaky any more?

[2016-10-13 14:06] hermione521 commented on #1572
It seems not flaky any more?

[2016-10-13 14:07] hermione521 commented on #1940
@meteorcloudy

[2016-10-13 14:09] damienmg commented on #1888
It is still happening internally

On Thu, Oct 13, 2016 at 4:08 PM 干悦 Yue Gan <notifications@github.com> wrote:

[2016-10-13 14:22] meteorcloudy commented on #1940
Can you try to run `bazel clean` or `bazel shutdown` first.

[2016-10-13 14:23] hermione521 commented on #1572
Closing it. Feel free to reopen if it gets flaky again.

[2016-10-13 14:23] #1572 closed

[2016-10-13 14:24] Helcaraxan commented on #1940
The behavior is not altered by running `bazel clean` or `bazel shutdown`. The output is the same (regarding the BAZEL_PYTHON part).

[2016-10-13 14:42] meteorcloudy commented on #1940
Hmm.. This is weird, are you running from `d:` drive? If so, can you try `c:` ?

[2016-10-13 14:45] Helcaraxan commented on #1940
So this is while running from `C:\`. I used the suggested work-around from #1463 with a junction.

[code]

My source is in `C:\Projects\everything`, a sub-directory of the junction.

[2016-10-13 15:08] philwo commented on #448
I think this is obsolete due to the new sandbox, but please re-open if it becomes a problem again.

[2016-10-13 15:08] #448 closed

[2016-10-13 15:09] philwo commented on #420
I think this is obsolete with the new sandbox being released now, but please re-open if it becomes a problem again.

[2016-10-13 15:09] #420 closed

[2016-10-13 15:10] philwo commented on #418
The new sandbox implementation has a fallback mechanism that ensures it works (somewhat) on systems where we can't use user / mount namespaces. Workarounds like --spawn_strategy=standalone should not be necessary anymore - if you find it still doesn't work, please report back. In that case we might have to tweak the detection mechanism for the fallback mode a bit :)

[2016-10-13 15:10] #418 closed

[2016-10-13 15:11] philwo commented on #878
I think this is obsolete with the new sandbox being released now.

[2016-10-13 15:11] #878 closed

[2016-10-13 15:12] philwo commented on #1084
Fixed in https://github.com/bazelbuild/bazel/commit/95b16a89001014c48e77e5c38c4ca17bd28d3ebb

[2016-10-13 15:12] #1084 closed

[2016-10-13 15:29] Helcaraxan opened #1941 "On Windows: NullPointerException on fetching jars from repository defined with maven_server"
Bazel manages to fetch all external jar dependencies defined with `maven_jar` from the standard repositories. However every single jar that uses a repository defined with `maven_server` results in a `NullPointerException` on transfer.

[code]

[2016-10-13 15:29] philwo commented on #1719
I'm sending a fix for this now.

[2016-10-13 16:08] petemounce commented on #1941
It's worth mentioning that our maven_server here has authentication enabled, which is present in `~/.m2/settings.xml`.

[2016-10-13 16:10] philwo commented on #818
@hermione521 Yue, could you try to find a good owner for this bug? I don't think it's about sandboxing and I don't know anything about linkopts / C++ rules...

[2016-10-13 16:44] dslomov commented on #1941
@kchodorow could you help? What is the best way to debug this?

[2016-10-13 17:30] damienmg opened #1942 "NPE with --profile on OS X with bazel 0.3.2"
In protobuf: NPE with --watchfs and --profile on OS X with bazel 0.3.2

[code]

[2016-10-13 17:32] damienmg commented on #1942
removing --watchfs keep the NPE

[2016-10-13 17:34] damienmg commented on #1942
with a clean --expunge before it is 100% reproducible

[2016-10-13 17:43] asimshankar commented on #1920
Thanks, though I do want to include symbols from transitive dependencies
(for example, building a static library for tensorflow (today, there is a [shared library](https://github.com/tensorflow/tensorflow/blob/73b0156/tensorflow/BUILD#L209)))

[2016-10-13 19:22] kchodorow commented on #1902
So, CI still isn't green.  Seems like I should wait until it is, so... on hold.

[2016-10-13 19:32] kchodorow opened #1943 "Recursive WORKSPACE file loading"
Design doc: https://bazel-review.googlesource.com/c/6131

[2016-10-13 19:40] damienmg commented on #1902
We are running down blocker for 0.4 so it might be useful to wait until these get resolved.

[2016-10-13 19:42] damienmg commented on #1902
FWIW except the regression I reported today as release blocker, all non documentation issue have inflight change so we can definitely announce this one as 0.4 :)

[2016-10-13 19:43] damienmg commented on #1906
To precise about priority: we should make expunge_async fails on darwin and windows for 0.4, and try to fix it in next release

[2016-10-13 19:43] damienmg commented on #1362
change is in-flight

[2016-10-13 19:44] damienmg commented on #1469
change is inflight

[2016-10-13 20:47] duggelz commented on #1458
This still seems to be a problem in Bazel 0.3.2.  See associated bugs I filed against Python below.

http://bugs.python.org/issue28424
http://bugs.python.org/issue28425

[2016-10-13 20:52] duggelz commented on #1458
To expand on this, if __init__.py is a symlink to a regular file, it's fine, but if it's a symlink to /dev/null, it doesn't work correctly.  So the fix would be to create a regular empty file and link to that.  I guess there must be some reason we don't make all the __init__.py files regular empty files.

[2016-10-13 21:01] duggelz commented on #1458
The relevant code seems to be this:

https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/sandbox/SpawnHelpers.java#L167

I can generate a minimal testcase but I don't see that Bazel currently has any Python tests in the repo, so I'm not sure where to put it.  Basically

[code]
[code]
[code]

[2016-10-13 22:03] duggelz commented on #1458
[code]

[2016-10-13 23:07] steven-johnson commented on #1920
This is a pretty major problem for us, too. I'll try the genrule workaround suggested above, but it makes me mighty nervous.

[2016-10-14 01:05] AustinSchuh commented on #1836
@philwo I kind of like being able to go look at the output to debug it, and a reproducible map helps with that.  It wasn't very hard to implement, so I went ahead and did it.  I can change things around if you want.

https://bazel-review.googlesource.com/#/c/6670/

I've got a couple of dirty hacks in there right now (The worst one is in SymlinkedExecRoot) that I'd appreciate feedback on and I need

[2016-10-14 02:00] mikedanese commented on #418
@philwo Is there a warning if the sandbox fails and bazel falls back? Also I'm still having trouble with this using bazel from the tip of master:

<details>
[code]
[code]
and
[code]
</details

[2016-10-14 05:15] ahyangyi commented on #1836
@lberki  Thanks for clarification. I guess my wrong impression came from that I often switched Bazel versions and saw multiple MD5s in my `~/.cache/bazel` and mistakenly correlated the two things.

@AustinSchuh Yes. It seems that we are indeed encountering the same problem even if our file system setups are different, which somewhat justifies my presence in this issue instead of me creating anothe

[2016-10-14 06:21] laszlocsomor commented on #1463
Hey @petemounce , it's not yet submitted, sorry about that. It should be in today or Monday, if not I'll ping this thread.

[2016-10-14 08:49] Helcaraxan opened #1944 "On Windows: 'cc_library' does not link against library specified in 'deps'"
In one of our `cc_library` targets the `.o` is not linked against one of the libraries that is specified in its dependencies.

The missing dependency is a target within an external repository with its own `BUILD` file imported as an `http_archive`. Even though it is not linked, the external library is seen by Bazel as a dependency and is build before compiling and linking our own `cc_library`.

`.

[2016-10-14 08:53] meteorcloudy commented on #1944
The msys toolchain is not well supported, can you try compiling with MSVC? You just need to add `--cpu=x64_windows_msvc`, you can add it into ~/.bazelrc for convenience.

[2016-10-14 08:54] damienmg commented on #1942
Ok this is not reproducible at HEAD.

[2016-10-14 08:58] meteorcloudy commented on #1929
Do we have a fix for this? Or should we rollback it first, people are complaining about they cannot build TF with Bazel at HEAD.

[2016-10-14 08:58] Helcaraxan opened #1945 "On Windows: Linking against standard libraries"
For C++, `linkopts` allows one to specify [linker options](https://www.bazel.io/versions/master/docs/be/c-cpp.html#cc_binary.linkopts). However, it also states that:

As far as I can see, this means that I cannot specify plain arguments to the linker, e.g. `User32.lib`, as required for some [system libraries](http://stackoverflow.com/a/21928624/974531).

I got it to link to the system library by c

[2016-10-14 09:03] damienmg commented on #1942
faster repro with fetch instead of build.

[2016-10-14 09:06] Helcaraxan commented on #1944
Oh sure had already specified it in some build scripts but not yet the one producing this error.

Specifying `--cpu=x64_windows_msvc` changes the error but now I don't even get to linking. I'm investigating and will get back here once I've drilled down to the bottom of it.

[2016-10-14 09:23] damienmg commented on #1865
Why wasn't this cherry-picked in the release?

[2016-10-14 09:24] damienmg commented on #1942
Ok this was already signaled as blocker for 0.3.2 but wasn't cherry-picked apparently. See #1865

[2016-10-14 09:27] damienmg commented on #1942
Closing as this will be fixed by the new release, sad we forgot to cherry-pick it

[2016-10-14 09:27] #1942 closed

[2016-10-14 09:34] #1362 closed

[2016-10-14 09:34] #1469 closed

[2016-10-14 09:39] hermione521 commented on #1945
@meteorcloudy

[2016-10-14 10:21] Helcaraxan commented on #1944
So it looks like this did solve my issue as my build passes fine now (except for another Windows-related bug).

NB: The other bug concerns the `copts` of `cc_*` targets. As per the [Bazel docs](https://www.bazel.io/versions/master/docs/be/c-cpp.html) I prefer using the `copts` to include private libraries that are not required by depending targets. However this means I need to specify things like

[2016-10-14 11:08] hermione521 commented on #1929
@damienmg Florian wants me to ask you if I can just rollback this change.

[2016-10-14 11:14] meteorcloudy commented on #1929
Wait, are we sure this is the culprit?

[2016-10-14 11:15] hermione521 opened #1946 "//src/test/java/com/google/devtools/build/android/ideinfo:JarFilterTest failed on Windows"
Breakage:
http://ci.bazel.io/view/Bazel%20bootstrap%20and%20maintenance/job/Bazel/JAVA_VERSION=1.8,PLATFORM_NAME=windows-x86_64/916/console

Related commit:
https://github.com/bazelbuild/bazel/commit/fe868010626115a9c6978c337f19549278965872

@ahumesky assigned to you because you reviewed this change. (Will also comment on the original change)

[2016-10-14 11:20] ulfjack commented on #1920
cc_binary with <name>.so is currently special, but cc_binary doesn't handle <name>.a. One of the downsides of special-casing the specific filename is that it's not cross-platform compatible. One option would be to introduce a new cc_export rule with a type={DYNAMIC,STATIC} attribute that links the transitive closure into a dynamic or static library respectively.

I'm a bit concerned about the incr

[2016-10-14 11:28] hermione521 commented on #1929
OK, so we are going to update grpc for TensorFlow.

[2016-10-14 11:57] ddwolf opened #1947 "bazel execute submodules[mvn]' target differs with Maven"
when I am integrating bazel into a exist maven project, which has to modules, I encountered a problem.
if I test maven's submodule , like :
[code]
the jvm's execution root will be this submod1 directory, in which I run the comand; while I test using bazel like:
[code]
 the jvm's execution root will be in the root directory of the bazel project.

is this a problem for bazel? or how can I fix this?

[2016-10-14 12:29] lberki commented on #1920
@ulfjack: there are a bunch of options. One is a `cc_export` rule you suggested, another would be an output group on regular `cc_binary` rules that would put all the .o files in its transitive closure into a single .a .

I was thinking that the partitioning should be the responsibility of whoever is writing the `cc_binary` rule(s). I'm not particularly worried about coordination problems if there

[2016-10-14 12:39] ulfjack commented on #1920
I think it's very easy to mess up the dependencies. Consider for example a workspace that has two cc_library and two cc_export rules, with each of the cc_export rules depending on exactly one library. Now an owner of one of the lower-level libraries isn't aware of the cc_export going on in some completely different part of the workspace, and adds a dependency on the other library. Everything keeps

[2016-10-14 12:41] hermione521 commented on #1947
@kchodorow can you help with this?

[2016-10-14 12:44] lberki commented on #1920
I understand that. But who is in a better situation to sort these things out if not the owner of the top-level rule?

[2016-10-14 13:01] ulfjack commented on #1920
I'm not saying that they aren't. But I think it's a problem that it's a runtime error rather than a compile-time error. If we can make it a compile-time error, then I think that may be an acceptable solution for now. If the burden on the top-level owners is too large, or if it causes users to create duplicate (multiplicate) rule hierarchies, then we can still see if we can come up with a better so

[2016-10-14 13:02] ulfjack commented on #1920
Consider that many debian packages come with both .so and .a which allows developers to decide after the fact whether to link a specific library statically or dynamically.

[2016-10-14 13:32] sskgit commented on #1871
Clearing up some space on / resolved the issue. Tensorflow build is complete and it works now. Thanks @damienmg and @davidchen.

[2016-10-14 13:32] #1871 closed

[2016-10-14 14:50] kchodorow commented on #1947
Generally that won't be an issue, Bazel will assume packages (in submod1) are relative to submod1/src/main/java and java generally doesn't care where things are on disk, so long as they're in the classpath.  If your tests are doing something funky with directories it's possible you could run into a dependency on directory structure... are you getting an error, or is this speculative?

[2016-10-14 18:32] ahumesky commented on #1946
We decided to exclude the test for now from windows until we have a solution.

[2016-10-14 20:26] #1400 closed

[2016-10-15 03:57] youkpan commented on #1463
seems java.exe path problem

 set JAVA_HOME=C:/Program\ Files/Java/jdk1.8.0_101&c:\bazel.exe
Couldn't find java at 'C:/Program\ Files/Java/jdk1.8.0_101/bin/java'.

[2016-10-15 05:47] aalexand opened #1948 ""No such file or directory" error when building an external dependency"
New to Bazel, so may be operator error.  Bazel 0.3.2.

BUILD file is empty, WORKSPACE file has this:

[code]

Command "bazel build //external:protobuf_compiler" fails with

[code]

Is this a bug or am I doing something wrong?

[2016-10-15 08:17] dslomov commented on #1463
@youkpan this is not really related to this bug, is it? In the future, please file a separate issue if the problem is unrelated to the problem discussed in the thread.
Anyhow, in your case the content of JAVA_HOME variable after your command is literally `C:/Program\ Files/Java/jdk1.8.0_101/bin/java`, including a `\` before the space. The following should work:
[code]

[2016-10-15 13:58] lingz commented on #564
@aj-michael I'm getting the same error sbilkoloft is reporting. bazel-out/../_aar/ etc doesn't exist

[2016-10-15 21:04] ekuefler commented on #418
@philwo - not sure if it's the same issue as this or not, but sandboxing started giving me trouble again after 0.3.2: https://github.com/bazelbuild/bazel/issues/1921

[2016-10-16 02:35] jart opened #1950 "Generated C++ header not symlinked in execroot"
Let's say I'm writing `swig.BUILD` for `@swig//`. I might write a `genrule` to produce a config header.

[code]

In which case I want to be able to do this:

[code]

The problem is I get:

[code]

Because the generated file isn't in a place where the compiler can find it.

I found the execroot by saying `bazel build -s @swig//:swig` which we'll call `.../execroot/tensorflow-clean`. If I do this:

[2016-10-16 10:04] petemounce commented on #1944
Ah, I'm about to have this problem too, I think.

[2016-10-16 14:04] petemounce commented on #1463
For later reference, I'm able to work around this by
* having my source code inside a sub directory on my separate drive (`s:\whatever\here`)
* create a junction to that from inside a directory on `c:`
  * `mklink /j c:\src\s-drive s:\whatever\here`

[2016-10-16 15:12] petemounce commented on #1453
The package is in the moderation queue at https://chocolatey.org/packages/bazel/0.3.2 . The queue is quite long, currently. I'll ping here once it is approved.

[2016-10-16 21:36] jart opened #1952 "Consider removing bind()"
What is the use case for [bind()](https://www.bazel.io/versions/master/docs/be/workspace.html#bind)? I can't think of one. Even in situations where there are multiple ABI-compatible implementations of a library (e.g. OpenSSL, BoringSSL, etc.) this problem could still be solved by using vanilla externals.

Most Bazel projects don't seem to use bind(). The ones that do, it seems to have caused probl

[2016-10-16 22:49] mikedanese opened #1953 "add option to disable warnings in external packages"
Often warnings in external packages are out of the control for the builder. Currently every time I run a build I see this:

[code]

The warnings are very annoying and I wish there was a way to turn them off.

[2016-10-17 02:48] jart commented on #1923
Awesome. I'm so happy to hear that Damien.

[2016-10-17 05:19] t-vi opened #1954 "On Windows: porting cc_library to generate dll"
Hello,

thanks to your hard work, a lot of things seem to work in windows. However, one thing I am stuck with is what is the nicest way to get bazel to generate a .dll (or even .pyd) instead of .so.
(My use case is the _pywrap_tensorflow.)
The [example/windows/dll](https://github.com/bazelbuild/bazel/blob/master/examples/windows/dll/BUILD)  does not use cc_library but uses cc_binary for the lib. I

[2016-10-17 07:50] laszlocsomor commented on #1463
FYI I'm still working on this change, still not submitted.

[2016-10-17 08:06] aj-michael commented on #564
@sbilkoloft The 'aar' field is a path relative to the BUILD file. Think of it like how "srcs" works on android_binary. It cannot accept absolute paths because Bazel rules only have access to the files in the package. I haven't tried it with symlinks, but it's intended to be used with the AAR in your source tree.

From the partial error snippet you posted, that is likely do to this bug, https://git

[2016-10-17 08:12] damienmg commented on #1699
I am closing this bug now (12 days of inactivity). Please ping back if you still have the issue

[2016-10-17 08:12] #1699 closed

[2016-10-17 08:12] ddwolf commented on #1947
@kchodorow yes I met a problem.
I have a maven project that has two module.A/B
when I create a file like this:
[code]
in A's directory where there is a `target/repos/` directory, and the maven test goes well.

I setup WORKSPACE file a the root of the maven project, when I run bazel, because bazel run jvm in the different execution root, the file creation will cause an error. "Create File failed"

[2016-10-17 08:12] #1947 closed

[2016-10-17 08:42] vans88 opened #1955 "build bazel for a new platform--mips64el"
I want to build bazel for tensorflow,bug I am getting the following error. Any suggestions?
/usr/local/bin/protoc -Isrc/main/protobuf/ -Isrc/main/java/com/google/devtools/build/lib/buildeventstream/proto/ --java_out=/tmp/bazel_2u7GJvhK/src --plugin=protoc-gen-grpc=/usr/local/bin/protoc-gen-grpc-java --grpc_out=/tmp/bazel_2u7GJvhK/src src/main/java/com/google/devtools/build/lib/buildeventstream/pro

[2016-10-17 09:22] meteorcloudy opened #1956 "tensorflow/examples/label_image:label_image builds on Windows but failed at runtime."
As mentioned by @bssrdf in https://github.com/tensorflow/tensorflow/pull/4796:

" I managed to build label_image example using the same procedure. Have to fix a bug at https://github.com/bssrdf/tensorflow/commit/58f93bd1d5cf47e7cffa63b59569233e5d2faa34#diff-f6254560279f78a9d74e66dfd2d85977 for it to build on win. But it failed to run due to some file path issue"

[code]

I believe @bssrdf is hitti

[2016-10-17 09:24] hermione521 commented on #818
Done. Not sure if I'm right..

[2016-10-17 09:32] damienmg opened #1957 "bazel test //src/test/... fails with linaro exception"
[code]

I think this build file is used only inside the bazel_toolchain_test, should probably not be named BUILD...

[2016-10-17 09:34] meteorcloudy commented on #1944
I think you'll have to use `select` and `action_config` to specify different option for different platform.
Just like:
[code]

[2016-10-17 09:45] Helcaraxan commented on #1944
Okay. That should work indeed.

Nonetheless I am of the opinion that this should be fixed with a different mechanism as it does seem to me like it's going to be an issue that users will run into more and more as Bazel improves it's Windows targeting. Developers that come with it might want to make straightforward multi-platform builds.

[2016-10-17 10:41] hermione521 commented on #1921
Sorry, I'm very new to docker. Can you provide an image or is it easy to create one by myself?

[2016-10-17 10:47] damienmg commented on #1906
https://bazel-review.googlesource.com/c/6694 is in-flight for falling back to --expunge until we totally fix it (which is the blocker for 0.4).

[2016-10-17 10:55] philwo commented on #418
@mikedanese Unfortunately, there's no warning at the moment, but the fact that you're seeing messages from linux-sandbox.cc when using --sandbox_debug shows that it is using the full-featured Linux sandbox.

From your debugging we can see that the sandbox can access the symlink for empty.go, but not the target of the link:

lrwxrwxrwx 1 nobody nogroup  99 Oct 14 01:53 empty.go -> /root/.cache/baze

[2016-10-17 11:11] meteorcloudy commented on #1944
Yes, I agree. Ideally, this should be a feature inside the [CROSSTOOL ](https://github.com/bazelbuild/bazel/blob/master/tools/cpp/CROSSTOOL.tpl#L191)file, just like how we add options for normal include paths.

[2016-10-17 11:51] philwo commented on #1948
Mhm... I can't reproduce this on my machine with Bazel HEAD:

[code]

I'll try with Bazel 0.3.2 to see if we accidentally fixed this in the meantime.

[2016-10-17 11:55] philwo commented on #1948
Works with 0.3.2 for me, too. I'll try to ping you on Hangouts so we can check your build environment to find out what causes this.

[2016-10-17 12:02] philwo commented on #1950
I understand your use case and agree that this should work! :)

I'm having some trouble following the example though: From looking at your example cc_binary, I don't understand how Bazel is supposed to know that that header file is required for compilation? Is it referenced in the "srcs" attribute? Because "copts" is just raw strings that are not parsed by Bazel. Directories that show up there are

[2016-10-17 12:03] philwo commented on #1952
I personally also find bind(...) confusing and am not sure how to correctly use it.

Pinging @damienmg and @lberki for some input here, I think they know more about how this is supposed to work.

[2016-10-17 12:10] dfwesdfqw commented on #73
Hey, why is this issue closed? How should an install be done?

[2016-10-17 12:39] laszlocsomor commented on #1827
This is superseded by https://github.com/bazelbuild/bazel/issues/1463, fixing that fixes this one too.

[2016-10-17 12:39] #1827 closed

[2016-10-17 12:41] laszlocsomor commented on #1925
We could change the launcher script to be a .bat file that just shells out to bash.exe, would that work?

[2016-10-17 13:17] lberki commented on #1952
`bind` was indeed invented for selecting between e.g. different implementations of SSL or e.g. for different versions of GSON/Guava/... in the Closure case. I'm not sure how much use it sees, so I'd not be that trigger-happy with removing it.

[2016-10-17 13:19] philwo commented on #1953
Totally agree, warnings that can't be acted on by the user are a no-go.

Adding @vladmos and @laurentlb, who added, respectively LGTM'd the change that added these warnings.

[2016-10-17 13:21] damienmg commented on #1952
I think all bind uses-cases can be replaced with alias but it does not strike me as high priority. bind() has that weird thing that it creates a //external package that does not really exists, so only for that I would say +1

[2016-10-17 13:21] philwo commented on #1954
Assigning to @meteorcloudy, one of our Windows experts.

[2016-10-17 13:26] philwo commented on #1955
It looks like you're using protoc from your local system for the Bazel bootstrap instead of one of the binaries we bundle, probably by settings the PROTOC and GRPC_JAVA_PLUGIN environment variables to /usr/local/bin/protoc and /usr/local/bin/protoc-gen-grpc-java. This will usually not work due to version differences.

I don't really know what "missing input file" protoc is complaining about here.

[2016-10-17 14:42] mightyguava commented on #1748
@laszlocsomor I just ran the command again with the `0.3.2` release, on Ubuntu 14.04. Still seeing the same results

[code]

It happens with all of our test targets, whether or not they use mongo. Are you able to reproduce at all?

I wonder if it may have to do with the fact that we auto-generate the test suite with this rule:

[code]

[2016-10-17 14:43] mightyguava commented on #1748
I'll spend some time trying to make a github repo for an isolated repro, but I may not be able to get to it for a good while.

[2016-10-17 14:48] #1719 closed

[2016-10-17 14:53] laszlocsomor commented on #1586
I did some debugging. On Linux we can delete the `command.log` at any time using `rm`, but on Windows we always get "Device or resource busy" as long as the bazel server is running (i.e. until you run `bazel shutdown`).

[2016-10-17 14:58] laszlocsomor commented on #1463
Submitted internally, will push it to GitHub in the next 24 hours.

[2016-10-17 15:19] damienmg commented on #1888
I found the reason for the flakes, it is in the test itself, you will never believe what the fix is :)

[2016-10-17 15:26] philwo commented on #1948
The reason seems to be a tmpfs mount on /tmp/1 that the sandbox can't remount. I'm not sure yet whether this is "working as intended" or a bug - I'll investigate more tomorrow.

[code]

[2016-10-17 15:29] aalexand commented on #1948
FWIW, in my case it's a mount like "sudo mount /dev/sdb /tmp/1", not tmpfs.

[2016-10-17 15:51] laszlocsomor commented on #1888
Don't tease us! ;) What is it?

[2016-10-17 16:05] damienmg commented on #1888
This seems to fix it on my machine:
[code]

[2016-10-17 16:09] cushon commented on #1888
What problem is that fixing, though? Is there an issue with unzip or grep?

[2016-10-17 16:13] mmdriley commented on #1906
Should I file a new issue to track the real fix?

[2016-10-17 16:14] philsc commented on #1479
I'm encountering this also.

[2016-10-17 16:14] damienmg commented on #1888
I don't know the underlying problem but it is not in Bazel nor in Javac,
seems like the grep process is being killed at some point still
investigating

On Mon, Oct 17, 2016 at 6:09 PM Liam Miller-Cushon <notifications@github.com>
wrote:

[2016-10-17 16:46] laszlocsomor commented on #1463
Looks like I made a mistake in [WindowsFileSystem.java](https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/vfs/WindowsFileSystem.java) retrieving `UNIX_ROOT` (if you don't see that then the change is not on GitHub yet), but I sent out a fix for it. If I'm lucky we'll push both changes to GH in the same run.

[2016-10-17 16:47] laszlocsomor commented on #1463
If not, then in the meantime the workaround will be to pass `--host_jvm_args=-Dbazel.windows_unix_root="C:/tools/msys64/"` to bazel.

[2016-10-17 17:05] damienmg commented on #1906
This should not have been marked as fixed.

[2016-10-17 18:07] jblaine commented on #1900
[code]

[2016-10-17 18:14] jblaine commented on #1900
Trying again now with devtoolset-2-binutils installed.

[2016-10-17 18:49] jblaine commented on #1900
That worked ... but generally speaking: "ugh"

[code]

[2016-10-17 19:02] damienmg commented on #1900
Well working with non-standard gcc is always hard.

If CC is not set, bazel looks for the gcc on the path, which is usually the system default. Supporting old gcc is hard :(

[2016-10-17 19:02] #1900 closed

[2016-10-17 19:30] damienmg commented on #1923
Ok I sent a fix for it :) It wasn't too hard. Might be in release 0.4 but it won't block it (meaning that if the CI is green tomorrow we will cut it without that change in).

[2016-10-17 20:30] jart commented on #1923
You're amazing Damien. Thank you for fixing this important issue.

[2016-10-17 20:47] jart commented on #1952
It might be worth putting a quick change in the documentation saying that bind() is or will likely be deprecated and that alias should be used instead, or simply vanilla external repository names. That should hopefully lessen any refactoring we'll have to do in the future, if it is removed.

[2016-10-17 20:52] jart commented on #1950
Here's the [complete SWIG BUILD file](https://gist.github.com/jart/427445a58ef2023113d955e8605cee0e) I wrote. You'll notice that `Source/Include/swigconfig.h` is generated by a genrule and it's listed in the `cc_library` `srcs`. I also pass the `-Iexternal/swig/Source/Include` copt.

[2016-10-17 22:03] theGreatWhiteShark opened #1958 "Exclude files with specific suffix"
Hey,

Using an editor saving backups automatically I encounter the following issue on a regular basis.

I can of course use the _exclude_ directive in the glob function
`glob( [ "res/**/*" ], exclude = [ "res/**/*~" ] )`

But is it/would it be possible to specify certain suffixes in the .bazelrc similar to an .gitignore?

Thanks

[2016-10-17 22:26] petemounce commented on #1583
This is affecting me, too, on bazel 0.3.2.

[2016-10-18 00:10] sixolet commented on #632
It seems like this approach doesn't allow depending on a `maven_jar` that contains a macro.  Is that correct?

How might I go about doing that?

[2016-10-18 00:14] johnynek commented on #632
@sixolet I assume you are using the scala rules here: https://github.com/bazelbuild/rules_scala

in that case, you can use the `/jar:file` target of a `maven_jar` rather than the `/jar` target.
for instance:
https://github.com/johnynek/bazel-deps/blob/master/3rdparty/workspace.bzl#L48

[2016-10-18 00:20] sixolet commented on #632
@johnynek Awesome, that helps.  Thank you.

[2016-10-18 00:29] steven-johnson commented on #1740
Adding fuel to the fire here: in -c opt mode, a library produces both ".a" and ".pic.a" outputs; if you have a genrule downstream that needs to consume this output, this makes it hard to do so, since you need to use $(location :foo) for dbg and fast, but $(locations :foo) with some filtering for opt...

[2016-10-18 00:35] steven-johnson commented on #1920
Related to my previous comment: I have put together a utility script for myself that does the necessary hackery with with the .a files to produce a statically-linked output for my purposes; unfortunately, this introduced me to https://github.com/bazelbuild/bazel/issues/1740, in which a cc_library() has different outputs depending on compilation mode (in -c opt it also outputs a .pic.a library).

[2016-10-18 01:06] vans88 commented on #1955
Ok, many thanks. I built grpc-java and got the file "protoc-gen-grpc-java-1.1.0-SNAPSHOT-linux-mips64el.exe", so I copy it to /usr/local/bin/protoc-gen-grpc-java. but the protoc from local yum system. My platform information as follows:
Java version: 1.8.0_25
Java vendor: Oracle Corporation
Java vendor URL: http://java.oracle.com/
Java home: /usr/lib/jvm/j2sdk-image/jre
Java vm.specification.versi

[2016-10-18 02:21] vans88 commented on #1955
[INFO] os.detected.name: linux
[INFO] os.detected.arch: mips64el
[INFO] os.detected.version: 4.4
[INFO] os.detected.version.major: 4
[INFO] os.detected.version.minor: 4
[INFO] os.detected.release: fedora
[INFO] os.detected.release.version: 21
[INFO] os.detected.release.like.fedora: true
[INFO] os.detected.classifier: linux-mips64el

[2016-10-18 06:44] yugui opened #1959 "Linux Sandbox Version 2.0 fails if there's a mount point under /tmp"
# How to reproduce

1. Put the following files in a workspace directory
   `BUILD`:
[code]

   `hello.c`:
[code]
2. Mount something under `/tmp`

[code]
3. Build `:hello`

[code]

# Expected result
Bazel successfully builds the target and exits with status 0

# Actual result
Bazel fails to create sandbox and exits with status 1

# Impact
It is almost impossible to use Bazel 0.3.2 in [Vagrant](http

[2016-10-18 06:48] jart commented on #1797
I say this at the risk of embarrassing myself, but I've changed my mind regarding the Almquist Shell.

I sat down and tried to write a nontrivial script for a repository_rule() that is ash compatible. I discovered that this is not easy to do without sacrificing correctness.

- The lack of `set -o pipefail` or `$PIPESTATUS` forced me into the position of having to either be really clever or use a l

[2016-10-18 06:54] jart commented on #1797
I'll also say that I used to write Bourne Shell scripts when I was younger. As in, the Bourne Shell written by Steven Bourne with C source code that [looked like ALGOL 68](http://minnie.tuhs.org/cgi-bin/utree.pl?file=V7/usr/src/cmd/sh/fault.c). I figured, oh Almquist, how hard could it possibly be? Except I didn't take into consideration that I had spent the last four years in a Google shell scrip

[2016-10-18 07:54] katre commented on #1903
After 50b4e8f62b57f2d13acc9b3538525a231dba704e, we can no longer execute "bazel test //src/test/shell/bazel/...", as it fails with the error:
ERROR: /usr/local/google/home/jcater/repos/bazel/src/test/shell/bazel/testdata/bazel_toolchain_test_data/tools/arm_compiler/BUILD:46:1: no such package 'tools/arm_compiler/linaro_linux_gcc': BUILD file not found on package path and referenced by '//src/test/

[2016-10-18 07:55] jmhodges opened #1960 "feature request: local_jar workspace function"
I'm trying to help debug my use of rules_closure, and it depends the closure-compiler jar file and uses a "@closure_compiler//jar" explicitly. Unfortunately, it's not clear how to get bazel to use a locally installed version of a jar without always looking it up in a remote Maven repository.

It would be nice to be able to use a local jar, so that we don't have to both hack up new BUILD files for

[2016-10-18 08:03] jmhodges opened #1961 "feature request: support sha256 in maven_jar"
Currently, sha1 is supported, but that's now a fairly insecure hash. Having sha256 would be nice.

[2016-10-18 08:30] jmhodges commented on #1960
Okay! I figured out the magic incantation that will do this! I'll post it here, but it might be nice to call this out in the docs for when folks have to debug jars they fetch remotely. Should I make a new ticket for those docs?

The howto:

You'll need to create a `maven_server` with a `file:` scheme URL in it and then refer to it in your maven_jar. Like so:

    maven_server(
        name = "loca

[2016-10-18 08:44] lberki commented on #1952
Considering that I'm not really sure we want to do that, I'd rather not deprecate `bind()` just now.

[2016-10-18 11:00] #1957 closed

[2016-10-18 11:09] ddwolf commented on #1118
is this being processed?

[2016-10-18 11:18] damienmg commented on #1118
Sorry forgot to assign it but @hermione521 is working on it this quarter.

[2016-10-18 11:18] damienmg commented on #1118
Also /cc @lberki

[2016-10-18 12:27] laszlocsomor commented on #1583
I don't have access to my Windows machine right now, but I suspect we should be making all `Path`s and `PathFragment`s lowercase on case-insensitive filesystems.

[2016-10-18 15:22] petemounce commented on #1941
This currently blocks me. Is there anything I can do to help diagnose, etc? Any workarounds?

[2016-10-18 17:58] jart commented on #1952
Then would Bazel at the very least be open to a documentation change
dissuading people from using it?

On Oct 18, 2016 1:45 AM, "lberki" <notifications@github.com> wrote:

[2016-10-18 19:13] marczych commented on #1118
Just in case anybody was wondering or wanted to get some code coverage support before it's fully incorporated into Bazel, I came up with a usable workaround:

 - Build _without_ sandboxing.
 - Add these compiler flags on the build and test command:

[code]

 - That will put the various coverage files in `bazel-out` which get updated when the binaries are executed.
 - You can then run your `lcov` c

[2016-10-18 20:53] petemounce commented on #1944
@meteorcloudy that workaround with `select` works for me and I can make progress. I'd like the workaround to be unnecessary ;)

[2016-10-18 22:11] robertcrowe commented on #1952
It looks like this could be related to a problem I'm trying to solve.  When I try to build my Tensorflow Serving client I'm getting this:

Any idea how I can fix this?  I'm on Ubuntu 14.04

[2016-10-18 23:05] jart commented on #1952
@robertcrowe Did you modify the workspace.bzl file?

[2016-10-18 23:45] robertcrowe opened #1963 "Tensorflow Serving error: no such package '@six_archive//'"
When trying to build a client under Tensorflow Serving I'm getting this error:

I haven't changed the WORKSPACE or the tensorflow_serving/workspace.bzl files, but I have recently upgraded Tensorflow from 10 to 11.  The WORKSPACE and workspace.bzl files are attached (added .txt in order to attach).

[WORKSPACE.txt](https://github.com/bazelbuild/bazel/files/537603/WORKSPACE.txt)

[workspace.bzl.txt]

[2016-10-18 23:47] robertcrowe commented on #1952
@jart - Thanks, I created #1963

[2016-10-19 04:05] jart commented on #1963
I'm surprised the TensorFlow serving repository has code using `local_repository()` checked in with relative paths to git submodules. https://github.com/tensorflow/serving/blob/master/tensorflow_serving/workspace.bzl

[2016-10-19 05:59] ahyangyi commented on #1920
@steven-johnson
I am the creator of issue #1740.
Yes, I also have some homebaked rule that builds a fully static shared library (and with extra functionalities such as linking with a version script).

Currently I use a hack: if a cc_library outputs at least some .pic.a library, I use them, otherwise I use all .a library. It somehow worked in all combinations of settings I encounter, so I do recomm

[2016-10-19 08:24] kchodorow commented on #1814
Anything that goes through HttpDownloader (http_* and Skylark download()) respects HTTP_PROXY. git_repository and maven_jar do not, IIRC.

[2016-10-19 08:27] #1888 closed

[2016-10-19 08:27] #1923 closed

[2016-10-19 08:38] kchodorow commented on #1902
Weekly update: CI still isn't green.

[2016-10-19 11:50] kchodorow commented on #1952
+1 to removing bind, updating the docs in the meantime seems like a good idea.

[2016-10-19 12:09] katre commented on #1960
Would java_import (https://www.bazel.io/versions/master/docs/be/java.html#java_import) do what you want? You'd need to add the jar to your repo and commit it, but it can then directly be a dependency for other rules.

[2016-10-19 13:42] ddwolf opened #1964 "missing RunfileSupports doc"
I saw a statement in the bazel document:

[2016-10-19 14:58] philwo opened #1965 "//src/test/shell/bazel:bazel_windows_example_test is broken"
Commit https://github.com/bazelbuild/bazel/commit/fa389066641ac7f92b220ef232f23e757704318d broke the //src/test/shell/bazel:bazel_windows_example_test test.

The test was disabled for now, but please fix the test and re-enable it.

[2016-10-19 15:30] robertcrowe commented on #1963
I don't know enough about Bazel, but it sounds like having code using local_repository() with relative paths to git submodules is a bad thing.  Should we file an issue with Tensorflow Serving?  Could you recommend a fix for them?

[2016-10-19 15:53] jmhodges commented on #1960
Oh yeah that would definitely do it. This request was for use in local debugging, so this is perfect. Didn't know this func was coming down the line!

[2016-10-19 18:28] steven-johnson commented on #1920
Thanks, I'll give that a try. On the whole, Bazel is great, but the number of workarounds necessary for various outside-of-Google necessities of life is still disappointing.

[2016-10-19 18:36] jart commented on #1952
I reviewed the code to [rules_web](https://github.com/bazelbuild/rules_web) yesterday, which was recently introduced and makes extensive use of bind(). It uses bind() to allow the user to override executable attributes on its Skylark [rules](https://github.com/bazelbuild/rules_web/blob/master/web/internal/web_test_config.bzl#L63) without having to repeat them every time the rule is used. I had a d

[2016-10-19 18:59] petemounce commented on #1453
The package has been approved: https://chocolatey.org/packages/bazel/

Install via `choco install bazel` and then heed the output after it completes regarding environment variables etc.

Ping @dslomov.

[2016-10-19 19:31] petemounce commented on #971
https://chocolatey.org/packages/bazel/ is now available.

[2016-10-19 20:28] jart commented on #1943
Drive by review. I love watching the amazing work you do @kchodorow. This seems like a potential solution for #1550.

You're tackling a very difficult problem. Many people have tried to solve this problem and only introduced new ones. One of Bazel's virtues is that it's held off on trying to solve this so far until it can come up with a solution it knows is going to be awesome. I'd like to help yo

[2016-10-19 21:39] ChadTaljaardt commented on #1814
Im getting this issue too, i'm not behind any proxies or anything though?

[2016-10-19 22:49] petemounce commented on #1744
This still happens in 0.3.2

[2016-10-20 06:15] damienmg commented on #971
\o/ Awesome!

On Wed, Oct 19, 2016, 9:31 PM Peter Mounce <notifications@github.com> wrote:

[2016-10-20 06:56] davido opened #1966 "[regression 0.3.2] Cannot create symbolic link to previously built artifact"
After upgrading to 0.3.2, working build rule is starting to fail:

`genrule2` is defined as following:

[code]

The rule `diffy_image_files_ln` is failing after the upgrade:

[code]

Creating symbolic link to `java_library` is failing now:

[code]

In fact, checking the path reveals that sandboxing is involved:

[code]

Environment: Linux.

Probably related to this announcement in the release note

[2016-10-20 07:54] damienmg commented on #1952
The order of the rules are a bit random, I don't think they matter.

Anyway, IMO:
  1. we should advertise bind as deprecated and point user to alias or use
the repository name instead,
  2. we should starts advertising maven_jar and git_repository as
deprecated and point the user to http_* rules (for source distribution) and
the skylark implementations (for those who git / maven support is better

[2016-10-20 09:29] petemounce commented on #1941
Might be able to work around this via #1960's workaround. I'll try it out.

[2016-10-20 09:57] damienmg opened #1967 "Projects broken by testonly enforcement on ci.bazel.io: re2, rules_scala, rules_web, TensorFlow, TensorFlow_Serving"
Creating that bug for tracking my progress toward fixing those projects. /cc @philwo fyi

[2016-10-20 09:58] damienmg commented on #1967
https://code-review.googlesource.com/8610 for re2

[2016-10-20 10:09] damienmg commented on #1967
bazelbuild/rules_scala#98 for rules_scala

[2016-10-20 11:29] #1929 closed

[2016-10-20 11:31] damienmg commented on #1967
bazelbuild/rules_web#20 for rules_web
tensorflow/tensorflow#5093 for TensorFlow

TensorFlow serving needs tensorflow pr in.

[2016-10-20 14:09] ChadTaljaardt opened #1968 "no such package '@lodash//': Error downloading..."
https://github.com/tensorflow/tensorflow/issues/5080

I think this issue may be related to Babel rather than tensorflow.