[2021-01-20 04:25] cpsauer opened #12858 "Extra Actions Proto Contains grep-includes.sh as though it were a C++ Header"
### Description of the problem:

The sources_and_headers attribute of the @bazel_tools//src/main/protobuf:extra_actions_base_proto provided to CppCompile and ObjcCompile (mnemonic) actions contains 'external/bazel_tools/tools/cpp/grep-includes.sh'. This feels like it has to be a mistake, since that's an unimplemented tool, not a c-language family file.

### Bugs: what's the simplest, easiest way t

[2021-01-20 05:03] thii commented on #12857
+1

Also git's `--shallow-since` has a bug that can sometimes make git impossible to fetch the desired commit using its suggested timestamp: https://github.com/bazelbuild/bazel/issues/10292.

[2021-01-20 05:26] zhlhahaha opened #12859 "cross compilation error when import both c toolchain and rules_go"
### Description of the problem / feature request:

I wirte a test case for cross compile C file for ARM64 on x86_64 and it works well.
However After I put rules go in WORKSPACE, and build the C file again.
It shows
[code]

Following is my WORKSPACE and .bazelrc
WORKSPACE
[code]
.bazelrc
[code]
### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if pos

[2021-01-20 05:28] zhlhahaha commented on #12859
cc @rmohr

[2021-01-20 05:40] philsc commented on #12455
I'm guessing it's too late to cherry-pick the @platforms update (e03cb63e059420847d6578d7cbfe93f05615c95e)? The one packaged in rc10 is over a year old at this point.

[2021-01-20 07:01] ittaiz commented on #11674
Yes we do

[2021-01-20 08:15] sahiljuneja opened #12860 "How to uninstall Bazel from Windows?"
### Description of the problem / feature request:

I used Bazel to install Tensorflow (from source) a few months ago. But I haven't really used it in quite a while and wanted to uninstall it.

Except, I don't know how to. It's taking up about 20GB of space on my system and I want to free it up.

I have a bazel.exe file in my system (I had a folder where I kept track of what I had to install to get

[2021-01-20 08:51] sahiljuneja commented on #12860
Ok, so the ~20GB of space was inside a folder `bazel-out` and almost all of it was being taken by Tensorflow files.

`bazel-out` contains the build outputs as per https://docs.bazel.build/versions/master/user-manual.html#clean which can be cleaned using `build clean`.

As per https://www.tensorflow.org/install/source_windows#build_the_package

So, `build clean` should be run from the source tree.

[2021-01-20 11:28] #12778 closed

[2021-01-20 13:20] Wyverald opened #12861 "All remote repos pointed to by a select are fetched, even for unmatched arms"
Forked from https://github.com/bazelbuild/bazel/pull/12846.

Currently, the labels of all arms of a `select` are loaded, even for the unmatched arms. That is, if you write `select({"true": "@A//:thing", "false": "@B//:thing"})`*, the repo B would be fetched.

As the PR demonstrates, inserting an alias in the middle somehow works around this. That is, if you introduce an alias to `@B//:thing` in th

[2021-01-20 13:33] meteorcloudy commented on #12861
Wow, thanks for catching this. This is really surprising..

[2021-01-20 13:56] bradsherman commented on #12837
Thank you for the explanation and the workaround. Passing `--nojava_header_compilation` worked for me!

[2021-01-20 15:30] larsrc-google commented on #12720
https://github.com/bazelbuild/bazel/commit/308bce36cba46095fe41866e703710035ddddada should fix this, at least to the point of shutting down quickly, and in some cases not shutting down all workers. Further improvements will come when we can cancel.

[2021-01-20 15:30] #12720 closed

[2021-01-20 15:53] bduffany opened #12862 "Remote execution: Internal Java error thrown by Bazel during build: "Unexpected result of remote execution: no result""
### Description of the problem / feature request:

While building a target using Bazel remote execution I'm getting the following internal error thrown by Bazel:

[code]

The remote executor that I'm working on probably has a bug with the way that it's spawning containers and trying to execute actions, which I am attempting to fix separately. But I believe that the Bazel CLI shouldn't be throwing

[2021-01-20 16:27] graywolf-at-work commented on #1293
Just wanted to report that I've just hit this today. Not sure if "+1" is wanted here or not.

[2021-01-20 16:33] finn-ball commented on #4685
@oquenchil - excellent! Have you merged your fix? I just tried this again with bazel v3.7.2 and I still get the same errors as before.

[2021-01-20 16:39] bduffany commented on #12862
I see in the Bazel source that this error happens only if `op.getDone()` is true, and the result is missing. But this is confusing to me because in our executor source, there aren't any places where we are setting `op.Done = true` while not also setting an execute response.

Strangely enough though, if I print the serialized Operation received on the Bazel side (built from source), I get:

[code]

[2021-01-20 16:41] Morfly commented on #12697
Hi, @ahumesky
I'm able to successfully build a simple large project as well. It turns out that the number of targets itself is not the reason for the issue which is interesting. Looks like there are some additional conditions that cause build failure on a large project.

[2021-01-20 16:53] #12839 closed

[2021-01-20 18:21] bduffany commented on #12862
Closing since the stack trace does show "Unexpected result of remote execution: No result", which is probably a good enough error message

[2021-01-20 18:21] #12862 closed

[2021-01-20 18:48] ptarjan commented on #12831
Thanks for pointing that out! It is pretty close to what I wanted but still somehow shows two `INFO:` lines as well as a blank link. Do you know how to remove those?

[code]

[2021-01-20 18:52] ptarjan commented on #12831
I also tried to create a `--config=verbose` mode so my users can turn them back on, but it doesn't seem to work. Here is my `.bazelrc` excerpt:

[code]

but this still does the same thing:
[code]

[2021-01-20 18:55] michajlo commented on #12831
Try `--noshow_progress`? Haven't looked in a while, but I believe "progress" messages are separate from "events", though they may be prefixed with `INFO` etc as if they were events.

[2021-01-20 18:56] gregestren commented on #12861
This has something to do specifically with repo prefixes. Here's proof (skipping targets in the default repo):

[code]

[code]

[code]

[2021-01-20 18:58] ptarjan commented on #12831
`--noshow_progress` does indeed supress those:
[code]

but then, as the name suggests, I don't get to see the progress messages as the tests run, which are quite a nice user experience. Can I keep the progress messages but not have the two extra `INFO` lines?

[2021-01-20 18:59] gregestren commented on #12861
In other words, the logic that implements `select()` only evaluates the chosen dep. Whatever's pulling the unchosen dep is coming from some other logic.

[2021-01-20 19:48] gregestren commented on #12861
I updated the above to put `//testapp/b:b` in a different repo:

[code]

**Select the bad dep:**
[code]

**Select the good dep (//testapp/a:a):**
[code]

Is `select()` really a culprit here?

[2021-01-20 19:49] gregestren commented on #12861
Hey @comius - can you verify `select()` is indeed the culprit for #12846? Could you share a minimal repro that shows this?

[2021-01-20 20:03] gregestren commented on #11646
FYI configurability core devs reviewed and agree this is an issue worth pursuing. But we're not P1-prioritizing it now because it doesn't seem to be P1-level disruptive.

Always happy to help guide anyone interesting in patching if we don't visit it soon enough.

[2021-01-20 20:15] bsilver8192 commented on #1293
The solution of ignoring symlinks pointing into the output base has been implemented since discussion died out in 2017. If you're seeing this on a modern bazel release, you're probably using multiple output bases and ended up with stale convenience symlinks when switching. If they point into a different output base, then `//...` recurses into them.

[2021-01-20 20:17] gregestren commented on #12669
Hi @lisaonduty.

I agree that's subtle. The difference is that for `select({<someKey>: <someValue>})`, anything in `<someKey>` doesn't get visibility-checked, while anything in `<someValue>` gets visibility-checked as a normal dependency.

`config_setting_group` applies some macro magic that we can unwind with a query:

[code]

You can see `mySettingAandB` gets unrolled to an `alias` where the `se

[2021-01-20 20:33] michajlo commented on #12831
Not off the top of my head, you'd likely need to make a code change to classify them as different kinds of events or make them stop masquerading as `INFO` events. See also https://github.com/bazelbuild/bazel/issues/12117#issuecomment-695113868

[2021-01-20 20:41] graywolf-at-work commented on #1293
Assuming 3.7.2 is modern enough, will try to put together minimal reproduction.

[2021-01-20 21:03] comius commented on #12861
I failed to make a simple minimal reproduction so far, it seems a bit elusive.

So the reproduction is to build gerrit using bazel before change to aliases.

Is there a way that I figure out what is triggering download in that setup? I could bisect targets being build in gerrit and try reducing them. How would somebody catch a something like genquery in gerrit running over //tools/jdk:...?

[2021-01-20 21:19] graywolf-at-work commented on #1293
So, given bazel project as in the attachement and bazel version

[code]

, every second invocation of `bazel test //...` fails.

[code]

Bazed on error message

[code]

it definitelly looks like bazel is trying to traves the symlinks.
[repro.tar.gz](https://github.com/bazelbuild/bazel/files/5845334/repro.tar.gz)

[2021-01-20 21:33] TheButlah commented on #11943
Any movement here?

[2021-01-20 22:09] liuliu commented on #11943
One way I worked around this is to have a dedicated `output_base` when running bazel query. It seems to be the solution done by the VSCode Bazel plugin as well.

[2021-01-20 23:44] pcjanzen commented on #11943
A no-good, very bad thing that you absolutely should not do under any circumstances because it is undocumented and unsupported and could stop working at any moment is to put
[code]
into your .bazelrc.

[2021-01-21 02:10] zhlhahaha commented on #12859
/label bug

[2021-01-21 02:11] zhlhahaha commented on #12859
/label type:bug

[2021-01-21 06:47] zhlhahaha commented on #12859
Here is some update for this issue.
1. the root cause for this is
` ToolchainResolution:   Type @bazel_tools//tools/cpp:toolchain_type: target platform @io_bazel_rules_arm64: No toolchains found.`
2. It seems cpp toolchain is not works with platform, which is found from following issue
https://github.com/bazelbuild/bazel/issues/6516
3. Following document may help, still doing investigation on this

[2021-01-21 07:33] meisterT commented on #12455
@philsc that was too late indeed - we may want to consider this for the next release of the 4.x release track.

[2021-01-21 08:09] meisterT commented on #12455
We have released: https://github.com/bazelbuild/bazel/releases/tag/4.0.0 :partying_face:

@vbatts @petemounce @excitoon please update your respective packages

[2021-01-21 09:18] Bu11etmagnet opened #12866 "Add the ability to run the same test program with different arguments during "bazel test //...""
### Description of the problem / feature request:

As a developer, I would like to run the same test binary with different arguments during `bazel test //...`, e.g. I want the following commands to be run

[code]

This is currently not possible, because a `cc_test` allows only one set of `args` , and `--test-arg` applies to all tests. The only solution is to run `bazel test` once for each invocati

[2021-01-21 10:16] comius commented on #11674
Update: upgrade is in progress, but it will take some time, because we need to resolve some issues first.

[2021-01-21 11:52] tcm-marcel commented on #7470
We run into the same issue described above (on Ubuntu) and figured out it only happens when using the `linux-sandbox` execution strategy.

Therefore, our workaround is to execute all test actions with the slightly less restrictive `processwrapper-sandbox`. This can be achieved by this `.bazelrc` entry:

[code]

This has the advantage, that any compilation actions belonging to tests are still execu

[2021-01-21 12:06] dzdeping opened #12868 "get error : ERROR: <builtin>: output '_coverage/_coverage_report.dat' was not created when execute “bazel run” command"
### Description of the problem / feature request:

**bazel run //:sq -- -Dsonar.host.url=MY_URL -Dsonar.login=MY_NAME -Dsonar.password=MY_PASS**

I got this output:
INFO: Build options --collect_code_coverage, --coverage_report_generator, --instrumentation_filter, and 1 more have changed, discarding analysis cache.
INFO: Analyzed target //:sq (2 packages loaded, 174 targets configured).
INFO: Foun

[2021-01-21 12:19] limdor commented on #12455
Cool! Regarding the release bazel toolchains for 4.0, is it automatic or someone has to trigger it?
https://buildkite.com/bazel/bazel-toolchains

[2021-01-21 12:35] yyhclimacool opened #12869 "How to make bazel generate temporary static libs when bazel build"
I'm using bazel to build tensorflow and tensorflow/serving, usually when I built tensorflow/serving with bazel, bazel generated some static library in ```bazel-bin/tensorflow_serving/core/``` for me.
for example, after I successfully built tensorflow/serving, I got ```bazel-bin/tensorflow_serving/core/libaspired_version_policy.a``` and so on.

But things changed when building tensorflow/serving on

[2021-01-21 13:01] bartek-wesolowski commented on #9205
@steeve How did you change the directory layout so that it started working?

[2021-01-21 13:37] philwo commented on #12455
@smukherj1 Do we have to do anything to get bazel-toolchains 4.0 or is the process automated? 😊

[2021-01-21 14:00] petemounce commented on #12455
Published to chocolatey

[2021-01-21 14:09] smukherj1 commented on #12455
Some manual work involved. I'll take a look

[2021-01-21 15:38] lisaonduty commented on #12669
Thanks @gregestren for the explanation and also the tip about query. I didn't thought of using the query in this use case.

[2021-01-21 16:08] shs96c opened #12871 "Problem compiling header jars when Lombok is present"
### Description of the problem / feature request:

It looks like the header jar generation has a problem with lombok, failing with the following error when using 4.0.0 but not 3.7.2:

[code]

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

I have attached a [minimal-test.zip](https://github.com/bazelbuild/bazel/files/5850526/minimal-

[2021-01-21 16:15] illicitonion commented on #12837
Would it be possible to add an attribute or tag or similar to disable turbine _for individual targets_, rather than at a whole-build level? It'd be nice to get most of the speed-up, and only fall back to ijar where it's really necessary.

[2021-01-21 16:17] steeve commented on #9205
@bartek-wesolowski i went with a `custom_package` property

[2021-01-21 16:53] oquenchil commented on #4685
You have to use the flag --experimental_split_coverage_postprocessing. See this [test](https://cs.opensource.google/bazel/bazel/+/master:src/test/shell/bazel/remote/remote_execution_test.sh;drc=06f7340819f9eaf643d13400a1e279650caf6c56;l=2311) as an example.

[2021-01-21 17:58] mihaimaruseac commented on #10843
Bazel 4.0 has the graph output format, just tested with the fresh release.

[2021-01-21 18:59] finn-ball commented on #4685
Ah, so it's only available in master currently? I'll have to build bazel from source and try again...

[2021-01-21 19:05] cvrebert opened #12872 "Documentation issue: struct: proto.encode_text"
Documentation URL: https://docs.bazel.build/versions/master/skylark/lib/struct.html#to_proto

It's not clear what `proto` refers to here. AFAIK, there's no Starlark built-in named `proto`, and this cross-reference isn't hyperlinked to documentation for a Starlark library.

[2021-01-21 19:10] smukherj1 commented on #12455
@philwo unfortunately looks like this'll be delayed. #8380 broke the config generation pipeline and from the error it's not immediately obvious where the invalid escape sequence is coming from. Going to have to trace through a bunch of dependencies to figure it out :(

[2021-01-21 19:46] benjaminp commented on #12872
https://docs.bazel.build/versions/master/skylark/lib/ProtoModule.html

[2021-01-21 20:21] ptarjan opened #12873 "ui_event_filters can't turn categories off and back on again"
### Description of the problem / feature request:

[code]

This problem manifests itself it I want my default configuration to be `-INFO` for my organization, but if I want to give them a `--config=verbose` mode to turn the events back on.

### Feature requests: what underlying problem are you trying to solve with this feature?

For the `bazel test //main-street/... --ui_event_filters=-INFO --ui_e

[2021-01-21 20:25] josiahsrc commented on #12608
@alandonovan @laurentlb
Hello again,

Thank you both for the previous suggestions. They helped my team and I push through some roadblocks we were having. As an update, we have imported the buildifier to provide file formatting. We are now moving into analyzing the anatomy of bazel projects so that the language server can interpret bazel file systems.

Currently, we are working on parsing starlark

[2021-01-21 21:21] mattem opened #12874 "Crash on flaky test attr when requesting execution log"
### Description of the problem / feature request:

When running `bazel test //:foo --execution_log_json_file=exec.json` (or with `--execution_log_binary_file=exec.json`) where `//:foo` is a test with the `flaky` attribute set truthy, bazel crashes with:

[code]

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

`/WORKSPACE`:
[code]

`/

[2021-01-21 21:34] cpsauer commented on #11187
Looks like @rdelfin's commit made it to release in 4.0. @rdelfin, do we think this fixes this issue?

[2021-01-21 21:40] cushon commented on #12871
It should have produced something like this:

[code]

It's failing on the initial `could not resolve __` without running the annotation processor, because normally that error isn't going to be recoverable: the `@__` annotation doesn't exist, and is part of lombok's 'AnyAnnotation' work-around:

* https://github.com/rzwitserloot/lombok/blob/4f763367f1092546350324f3040fa84cb0380409/src/core/lombok/A

[2021-01-21 21:40] #12871 closed

[2021-01-21 21:55] moderation commented on #10214
As per the chat at https://bazelbuild.slack.com/archives/CA31HN1T3/p1611261607021600 I can confirm that the patch from @ll-h works for resolving this error when trying to build `4.0.0` from source on aarch64 with Amazon Corretto 15.

[2021-01-21 22:21] gregestren commented on #12745
@katre  I think we can distinguish between build vs. repository rules, unless my understanding of what a "workspace" rule is off.  See:

https://bazel-review.googlesource.com/c/bazel/+/151410/2/src/main/java/com/google/devtools/build/lib/analysis/BaseRuleClasses.java#367
https://bazel-review.googlesource.com/c/bazel/+/151410/2/src/main/java/com/google/devtools/build/lib/analysis/BaseRuleClasses.ja

[2021-01-21 22:40] cpsauer opened #12875 "Implicit Targets Silently Breaking Action Listener"
### Description of the problem / feature request:

I'm seeing strange behavior where action listeners are silently failing to be called. The particular case I ran into is that building the implicit output targets of an android_binary fails to invoke the action_listener. But I'd be somewhat surprised if it were Android specific.

[I know action_listeners are somewhat out of favor, but they seem lik

[2021-01-21 23:54] veblush commented on #12310
@jin Yep, this is still affecting gRPC debugging.

[2021-01-22 00:01] gregestren commented on #12861
I really don't know anything repo-related logic. But... are you saying this is all happening within a `genquery`?

[2021-01-22 00:15] cushon commented on #7343
With the latest version of Bazel this has the same underlying cause as #12837

[2021-01-22 00:15] #7343 closed

[2021-01-22 00:34] benjaminp commented on #12874
#12510

[2021-01-22 00:49] advancedwebdeveloper commented on #12800
Looks like the current summary is as follows:

https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/util/OsUtils.java
https://github.com/bazelbuild/bazel/blob/master/tools/platforms/BUILD
https://github.com/bazelbuild/bazel/blob/master/tools/platforms/BUILD.tools
I am able to find platforms/cpu/BUILD only in a bootstrap/dist build.

This

looks like some form

[2021-01-22 01:39] aiuto commented on #8857
Status update
github.com/bazelbuild/rules_pkg now has .deb packaging working on linux, macos and Windows.
I plan to remove pkg_deb from Bazel around March 2021.

No timeline for pkg_tar removal.

[2021-01-22 01:40] aiuto commented on #11217
Status update: Planned removal in March 2021

[2021-01-22 01:44] aiuto commented on #12081
Status update
- most dependencies required in the distribution tarball have been converted to the new system.
- Java JDKs remain to be done, I am not an expert,so I am handing that to @comius

[2021-01-22 01:50] advancedwebdeveloper commented on #12800
I suspect that https://github.com/bazelbuild/bazel/blob/4ed65b05637cd37f0a6c5e79fdc4dfe0ece3fa68/src/main/java/com/google/devtools/build/lib/rules/cpp/CcToolchainSuite.java#L129 is where the above was raised. Why there is no detailed information on CPU/platform identification, for that?

[2021-01-22 01:53] gregestren commented on #12669
Put up a proof of concept PR at https://github.com/bazelbuild/bazel/pull/12877.

[2021-01-22 06:36] herry-c opened #12878 "Documentation issue: Migrating from Maven to Bazel"
Documentation URL: https://docs.bazel.build/versions/master/migrate-maven.html

Does BAZEL support Maven-based plugins, such as codegen?

[2021-01-22 06:40] wolfd commented on #1393
If I don't force any python version on the command line, and use `srcs_version = "PY2"`, `bazel build //...` tries to "build" `py_library`s with the wrong Python version, erroring out with the 2to3 message.

If I instead use `srcs_version = "PY2ONLY"`, this issue goes away. Am I missing something?

The `py_binary` calls eventually specify the python interpreter version as PY2, which seems to work

[2021-01-22 07:31] hohodu commented on #11593
so sad.

[2021-01-22 10:10] bartek-wesolowski commented on #9205
@steeve Adding `custom_package` doesn't help.
For a simple example check out this repo:
https://github.com/scalio/Android-Bazel-Starter-Kotlin
You can build the app with `bazel build //app/src/main:bazel` and it works, but when you try to just assemble the library module with `bazel build //app/src/main:bazel_kt.aar` you get the following error:
`AndroidManifest.xml:2: error: attribute 'package' i

[2021-01-22 10:39] thna123459 opened #12879 "FATAL: bazel crashed due to an internal error. - Platforms"
### Description of the problem / feature request:

Crash NullPointerException

[code]

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Run `bazelisk build :main` with Bazel 4.0.0 on MacOS with the following `BUILD` file:

[code]

### What operating system are you running Bazel on?

MacOS or Linux

### What's the output of `bazel info

[2021-01-22 12:17] comius opened #12880 "Upgrade of JDK11 to >11.0.6 breaks android desugarer"
### Description of the problem / feature request:

Upgrade of JDK11 to version 11.0.7, 11.0.8 or 11.0.9, breaks Android desugarer.
Problem is in [Desugar.java#L108](https://github.com/bazelbuild/bazel/blob/a181dd4/src/tools/android/java/com/google/devtools/build/android/desugar/Desugar.java#L108),
which attempts to set system property `jdk.internal.lambda.dumpProxyClasses` in static initializer be

[2021-01-22 13:02] comius commented on #12880
cc @cushon, @dx404

[2021-01-22 14:08] yoerg opened #12881 ".bazelrc next to the Bazel binary is ignored"
### Description of the problem:

The [guide](https://github.com/bazelbuild/bazel/blob/4.0.0/site/docs/guide.md#the-global-bazelrc-file) mentions that bazel looks for a `.bazelrc` file next to its binary, but this seems to have been disabled [long ago](https://github.com/bazelbuild/bazel/commit/ec83598cb6ee4136166bb562a24dc5dfa58921db):

Which is a shame, because I actually wanted to use that featu

[2021-01-22 14:27] mattem commented on #12874
Looks like my searching skills aren't all I thought they were 😄 Closing in favor of existing issue #12510

[2021-01-22 14:27] #12874 closed

[2021-01-22 14:57] katre commented on #12745
@gregestren: Those renames and comments are good: very helpful. I'm less certain that we're consistently distinguishing between "build" and "non-build" rules, but I'm also less worried about that: if someone puts `target_compatible_with` on a `cc_toolchain`, I'm not 100% sure what should happen but I also think the user may have a reason, and don't see a reason to prohibit it out of hand.

Instead

[2021-01-22 15:00] thanksunix commented on #11561
Got same problems.

It seems this `fission` does not work.

--

[code]

After running above commands, I get an empty hello.dwp.

Here is the BUILD FILE & hello.cc, I do open the gsplit-dwarf & gdb-index:

[code]
Here is the params files output:
[code]

[2021-01-22 15:21] comius commented on #12861
It was my hypothesis it is happening within a `qenquery`, and I confirmed it! :)

The fetching of repositories is caused by gerrit, when building `bazel test //javatests/com/google/gerrit/pgm:pgm_license_test`.

BUILD
[code]

license.bzl
[code]

[2021-01-22 15:26] katre commented on #12861
Ah, that explains it: query cannot evaluate selects, and so every branch is included. I'm confused about why it stops at the alias, however.

[2021-01-22 15:48] gregestren commented on #12861
What's the exact dependency path in question? Queries don't necessarily follow the entire build graph, so my guess would be it's looking at the deps of a target with a `select` but not at the deps' deps. @comius would you like us to continue to diagnose why aliases solve the problem?

Also, would you like to close this bug or keep it open?

Following all `select` paths is pretty intrinsic to`genqu

[2021-01-22 15:51] gregestren commented on #12745
That's a good point. I like that phrasing - I'll try to integrate it.

@philsc I suggest holding until I've gotten https://bazel-review.googlesource.com/c/bazel/+/151410 in then just opening access to all non-WORKSPACE rules.

[2021-01-22 18:08] comius commented on #12861
I'm not very familiar with `rdep` query, but thinking about it. Isn't a proper behaviour, that repos are not downloaded, when it is used? How could a target in a remote repo depend on current repo?

If that is true, behaviour on `alias` is correct, while on `select` it's not.

I don't have much interest in solving this, because the newly introduce aliases are going away with next rolling release.

[2021-01-22 18:47] stefanbucur commented on #11196
Not sure if this is the right issue to comment on. When [our transition](https://github.com/bazelbuild/rules_fuzzing/blob/9b06352aea3a948567be5bd2a8c2c142d9bd85ad/fuzzing/private/binary.bzl#L76) becomes "no-op" (outputs simply forward the inputs), I'm getting the following type of errors:

[code]

I believe what is particular about our transition is that is has both scalar and list inputs (the C++

[2021-01-22 19:07] gregestren commented on #12568
Looks like we're making some progress on that. :) Can you remind me specifically where `config_setting` / `select()` fits into the larger request?

Okay, this is really helpful input. This is precisely where I think there's the best practical possibility for making improvements. I think this is orthogonal to the visibility-restricted approach.

The limitation of the visibility-restricted approach

[2021-01-22 20:47] michael-isaev opened #12887 "bazel 4.0.0 - "ERROR: cc_toolchain does not have mandatory provider 'ProtoInfo'. " when building project with protobuf"
### Description of the problem / feature request:

I am developing a [Paragraph](https://github.com/google/paragraph) framework that builds with bazel and depends on protobuf. After updating bazel to version 4.0.0 I got an error:
[code]
The issue appeared only after bazel was updated, the issue disappears if bazel is downgraded to the version 3.7.2. It's possible the issue is with protobuf itself

[2021-01-22 21:15] gregestren commented on #6842
FYI @sdtwigg is intending to flip this flag for Bazel 4.1.

[2021-01-22 21:17] michaeleisel commented on #5318
What about `build --per_file_copt=.*\.mm\$@-std=c++17`?

[2021-01-22 22:06] #7056 closed

[2021-01-23 00:50] zachgrayio commented on #6526
Any additional updates here yet @gregestren ?

[2021-01-23 02:00] stefanbucur opened #12888 "Build failure caused by no-op starlark transition (friction between Starlark None and java null)"
### Description of the problem / feature request:

Our [fuzzing rules library](https://github.com/bazelbuild/rules_fuzzing) implements a Starlark [transition](https://github.com/bazelbuild/rules_fuzzing/blob/744cfe3ea683f5fa9f0e327663acfcac437e4ee8/fuzzing/private/binary.bzl#L79) to provide compiler instrumentation options when building fuzz test executables. In order to reduce build size output,

[2021-01-23 02:12] cpsauer opened #12889 "Support for Android NDK r22, r23, r24, r25"
Happened to see that the [Android NDK r22 had been released](https://developer.android.com/ndk/downloads/revision_history). Creating an issue so folks can track bazel support for the latest NDK versions!

Update: r23, r24, r25 now also released. Since it looks like Google's Bazel<->Android support is falling behind a bit, maybe just adding support for the latest would be easier and good enough?

F

[2021-01-23 12:27] Yannic commented on #12887
This is caused by an incompatible change that was flipped in Bazel 4.0.0: https://github.com/bazelbuild/bazel/issues/11694

All you need to do to fix that issue is to upgrade either `rules_proto` to at least `cfdc2fa31879c0aebe31ce7702b1a9c8a4be02d2` or make sure you use at least Protobuf 3.13 in you build.

See also https://groups.google.com/g/bazel-discuss/c/gRGUbnpxkUU/m/JV4wZnm6AQAJ

[2021-01-23 12:39] divanorama commented on #12878
Afaik, no. Though maybe there should be a list of replacements for popular plugins. Do you have any specific plugins in mind?

[2021-01-23 17:23] philsc commented on #12745
Okay, that sounds good to me. Thanks!

[2021-01-23 18:20] cushon commented on #12837
I agree having an attribute to configure this for individual targets might be nice, I'll defer to @comius on the priority of that for Bazel.

I can also think of a few alternatives that work today:

* It's possible to disable `--java_header_compilation` on particular targets (or in general to set native Bazel flags) using [configuration transitions](https://docs.bazel.build/versions/master/skylark

[2021-01-23 19:22] janakdr commented on #8174
Unclear how to repro at this point.

[2021-01-23 19:22] #8174 closed

[2021-01-23 19:24] janakdr commented on #8306
Not enough in this bug to act on. Bazel reports when it discards its analysis cache, not clear what other environmental differences are important without more information.

[2021-01-23 19:24] #8306 closed

[2021-01-23 19:25] janakdr commented on #9368
Closing, since we have no reports of SHA256 vulnerability.

[2021-01-23 19:25] #9368 closed

[2021-01-24 01:35] steeve commented on #9205
Godspeed, although I'm not worried with @cgruber in the loop, he is handling rules_kotlin like a champ last time I checked.

[2021-01-25 01:33] herry-c commented on #12878
We need to convert some interface files such as YAML files into Java files for compilation. If Bazel is used, how should we use the plug-in?

[2021-01-25 02:39] olekw commented on #11379
I'm seeing the same on a Debian sid riscv64 QEMU build of docker-image-debian-bootstrap. It sounds a bit like a [partial regression of a QEMU bug from 2014](https://bugs.launchpad.net/qemu/+bug/1299190). Unfortunately, I haven't had time to research it. I did check `ls -l /proc/self/exe` in that image and it correctly points to `ls` so it's not the exact same thing. @travisgroth, could you give us

[2021-01-25 03:01] josiahsrc commented on #12608
Update:

I've figured out a decent route to go. I was able to create a wrapper around the starlark-go repo in golang. I then compiled that into a shared library, or dll, using Cgo. With this, I was able to successfully use JNA to link up our java language server with the starlark-go parser!😄  This should fix the dependency concerns that @alandonovan raised

Because some of the POJOs that the starl

[2021-01-25 08:17] divanorama commented on #12878
Codegen is very doable, you can try starting with [genrule](https://docs.bazel.build/versions/master/be/general.html#genrule) and adding its outputs as src for java targets. Ideally, all the codegen tools can also be defined in bazel (rather than relying on fixed paths on host machine): toolchains or even simply targets compiled/built by bazel (plus maybe a set of rules or macros to make it easier

[2021-01-25 09:57] laurentlb commented on #12608
It seems that the difficulty was to use a Go library from Java. But why do you use Java at all? I assumed you would write the language server in Go.

[2021-01-25 10:14] philwo commented on #12776
@meteorcloudy Yes, that's my understanding as well! :)

[2021-01-25 11:57] matzipan commented on #3510
Hi,

I don't want to revive

While I agree that in the particular case of tests it may make sense to use a different construct, such as select. I do still think there's some room for having constraint-based enabling/disabling of some targets (the original issue title). Some targets may simply not make any sense in some configuration. I'm unsure whether to open a new issue on this topic or raise th

[2021-01-25 13:33] rdelfin commented on #11187
@cpsauer is should, but I'll double-check

[2021-01-25 13:47] katre commented on #3510
See the recent feature added to skip targets that are incompatible with the current platform: https://docs.bazel.build/versions/master/platforms.html#skipping-incompatible-targets

[2021-01-25 14:49] alandonovan commented on #12608
I agree with Laurent. This sounds hellishly complex and inefficient. What benefit does Java provide in this design?

[2021-01-25 15:30] josiahsrc commented on #12608
When we started this project, we weren't very familiar with the Bazel ecosystem, language server protocol, or the different implementations of Starlark. We thought it best to use java for the language server for a few reasons.

- Bazel itself was primarily written in java. It made sense to us that the language server would also be written in java.
- We weren't aware of the various implementations

[2021-01-25 16:10] guibou opened #12892 "--output_base does not replace user prefix ~"
### Description of the problem / feature request:

The `--output_base` option does not seem to replace the user home directory `~` pattern.

### Feature requests: what underlying problem are you trying to solve with this feature?

I'd like to specify an `--output_base` relative to the user home directory.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal e

[2021-01-25 19:48] vbatts commented on #12455
i've kicked off the fedora/centos build
https://copr.fedorainfracloud.org/coprs/build/1902291

On Thu, Jan 21, 2021 at 2:11 PM Suvanjan Mukherjee <notifications@github.com>
wrote:

[2021-01-25 20:05] TheKaur commented on #11847
Clarification:
If we supply a longer ~~classpath~~ CLASSPATH_LIMIT for our use case, we run into `Argument list too long` error and the test fails.

The error comes from the Tests_wrapper.sh bazel script:
`/home/ubuntu/.cache/bazel/_bazel_ubuntu/718015170c1e1789cf09fd3727c0f670/sandbox/processwrapper-sandbox/6036/execroot/com_rubrik_sdmain/bazel-out/k8-fastbuild/bin/src/java/example/Tests.runfiles

[2021-01-25 20:32] vbatts commented on #12455
while the packages are still building for the actively released versions of fedora/centos, meanwhile the "rawhide" (devel branch) builds have failed on x86_64 and aarch64.
in the build log https://download.copr.fedorainfracloud.org/results/vbatts/bazel/fedora-rawhide-aarch64/01902291-bazel4/builder-live.log.gz, it seems to be due to a newer gcc/glibc:
[code]

using package versions:
* glibc-2.32.9

[2021-01-25 20:37] limdor commented on #12455
Related to https://github.com/bazelbuild/bazel/issues/12702

[2021-01-25 20:48] dhalperi opened #12894 "Bazel 4.0.0 breaks macOS Mojave support (for some XCode CLT versions)"
### Description of the problem / feature request:

Several folks on my team are reporting issues after upgrading to 4.0.0. One user is on 10.13.6 (High Sierra) and another is on 10.14.2 (Mojave). Both are able to build fine with 3.7.2, and both have build failures with libtool on 4.0.0:

[code]

From what I can tell, this is extremely reminiscent of #7397 -- seems related to `AR` resolution.

###

[2021-01-25 21:05] divanorama commented on #12702
same but for bazel@HEAD https://github.com/bazelbuild/bazel/issues/12756

[2021-01-25 23:38] bjacklyn commented on #12657
Yeah I just ran into this when attempting to upgrade the bazel version. This prints a scary warning message which is wrong since I don't have any creds to the remote cache in my `.netrc`: if you use an remote cache with `http` and have a `.netrc` that has no entry for the remote cache url (or even an empty `.netrc` file) this warning is printed.

I would have figured out where this warning was com

[2021-01-25 23:55] cushon commented on #10162
Out of curiosity, was what real world situation did you encounter this in? Typically `jar` files always have at least `META-INF/MANIFEST.MF` file, especially the ones created by Bazel.

[2021-01-26 00:35] gregestren commented on #6526
Hi @zachgrayio

@ulrfa and I are having some interesting discussion on https://github.com/bazelbuild/bazel/issues/12568 that I believe yields one plausible possibility.

Otherwise I've successfully done some experiments with Java compilation that show promising results. It's less clear to me at the moment how that scales. Mot that i think it doesn't scale, just that many builds have lots of non-Ja

[2021-01-26 00:49] UebelAndre opened #12895 "Allow the `attr` parameter `default` to accept `select` statements"
### Description of the problem / feature request:

The `default` parameter of [ctx.attr](https://docs.bazel.build/versions/master/skylark/lib/attr.html) types do not accept [select](https://docs.bazel.build/versions/master/be/functions.html#select) statements.

### Feature requests: what underlying problem are you trying to solve with this feature?

The following code blocks is what I'm attempting

[2021-01-26 01:39] agrieve commented on #10162
We encountered this in Chrome's build system, which doesn't bother with META-INF files for library targets (just zips up .class files).

[2021-01-26 06:27] Codeskiin commented on #12741
@veganafro , that is because you might be using python3 and bazel uses python2, even I had the same problem, so this is how I figure it out,
1. install pip2 (pacakge manager for python2) on your device
2. then run `pip2 install concurrent`

[2021-01-26 09:09] meisterT commented on #12702
@comius can you please have a look at the issue that was raised in the 4.0 release bug?

[2021-01-26 10:19] comius commented on #12702
I don't have gcc11 to test this through. The problem stems from gcc11 requiring <limits> to be imported. See https://www.gnu.org/software/gcc/gcc-11/porting_to.html#header-dep-change

I'm happy to accept changes if somebody adds missing includes, submits PR to abseil, upgrades it in Bazel.

Any idea when fedora/centos is going to include GCC 11? How critical is it that we patch Bazel LTS with it?

[2021-01-26 11:05] KrauseStefan commented on #12744
I guess this is related to #7627

[2021-01-26 12:34] divanorama commented on #12702
gcc 11 doesn't reallly exist yet, right?
https://gcc.gnu.org/gcc-11/changes.html

no sources in https://ftp.gnu.org/gnu/gcc/

How does one build GCC 11?

[2021-01-26 12:39] davido commented on #12702
Because it was closed, I opened this issue: #12756.

Should we continue the discussion there?

If you install upcoming Fedora Rawhide 34, then GCC is 11 and Bazel is failing to build.

The issue is outdated `abseil` that is used by `gRPC`.

[2021-01-26 12:55] jagobagascon opened #12897 "Cannot use target_compatible_with to ignore MacOS only targets"
### Description of the problem:

I'm trying to use the `target_compatible_with` attribute to automatically skip MacOS only targets on other platforms, but I just get an error every time. I have a simple `objc_library` rule with `target_compatible_with = [ "@platforms//os:macos" ]` but whenever I run `bazel build //...:all` on non MacOS platforms I get this:

[code]

### Bugs: what's the simplest,

[2021-01-26 13:00] EdSchouten opened #12898 "REv2: RPCs failing with DEADLINE_EXCEEDED no longer return a useful error message"
### Description of the problem / feature request:

When running a build with Bazel 4.0.0 against Buildbarn, one might see the following cryptic error message, without any further details:

[code]

The java.log contains the following:

[code]

Investigating the gRPC Prometheus metrics on the Buildbarn side, I can see that this is caused by one or more RPCs failing with DEADLINE_EXCEEDED. I can conf

[2021-01-26 13:28] katre opened #12899 "Investigate whether filegroup can use platform-conditional selects"
Branched from https://github.com/bazelbuild/bazel/pull/12071:

Currently, the `filegroup` rule doesn't participate in toolchain resolution (see https://cs.opensource.google/bazel/bazel/+/master:src/main/java/com/google/devtools/build/lib/bazel/rules/common/BazelFilegroupRule.java;l=78), which means the target platform doesn't exist and so platform-conditional selects don't work.

As I recall, it l

[2021-01-26 13:28] katre commented on #12895
Does this work for other attribute types? I'm very surprised if `select` works in rule definitions at all.

[2021-01-26 14:18] UebelAndre commented on #12895
Ah good call. It appears I was mistaken
#### my_rule.bzl
[code]

#### Output
[code]

So then this would be a feature request and not a bug

[2021-01-26 14:26] guibou commented on #2951
We hit this issue recently on our codebase, exhausting the 25 millions inode available on the `ext4` disk. It may be a wrong usage of bazel in our case, but this is really surprising.

Yes please. Some of the developers on this project hit the issue from time to time on their work machine, but we were not really able to understand it. Then it started failing sometimes in the CI, then more often up

[2021-01-26 14:36] guibou opened #12902 "Global shutdown / clean commands"
### Description of the problem / feature request:

I'd like to be able to `bazel shutdown` or `bazel clean` including all my repos, and possible disk cache.

### Feature requests: what underlying problem are you trying to solve with this feature?

I'm working on multiples bazel workspace at the same time for different repo, or even for the same repo using `git workspace`. The result is that I do h

[2021-01-26 14:40] katre commented on #12899
To clarify, we have a test for this specific behavior: https://cs.opensource.google/bazel/bazel/+/master:src/test/java/com/google/devtools/build/lib/analysis/ConfigurableAttributesTest.java;l=1232

[2021-01-26 15:34] kevingessner opened #12904 "NoSuchFileException during dynamic Javac execution with experimental_delay_virtual_input_materialization"
### Description of the problem:

When building java targets with dynamic execution, I frequently (but not always) get a crash compiling `java_library` targets. Stack traces below; they seem to be the same problem.

- It's always a jar's `.params` file that is missing.
- The problem seems to only occur with `--experimental_delay_virtual_input_materialization` enabled.
- Enabling `--worker_sandboxin

[2021-01-26 17:10] vp3tra commented on #10660
@chickenandpork In case this is still relevant for you, or maybe this will help someone:

bazel's <code>--instrumentation_filter</code> option is a regular expression, so passing <code>--instrumentation_filter=//...:all</code> will not have the effect of instrumenting <b>everything</b>, as one would expect. Instead likely it will not instrument <b>anything</b>.

Leaving the option unset, bazel wil

[2021-01-26 18:01] cocreature commented on #12423
In case it’s a useful data point: We regularly (unfortunately) encounter the same error message on our Windows CI nodes during Haskell builds (and only there). I tried to verify that this is caused y this issue however, it seems like like deleting CAS outputs (or overwriting them with empty files) results in a `BuilkTransferException` for us and it gets rebuild locally gracefully and not the error

[2021-01-26 18:07] jbms opened #12905 "Bazel 4.0.0 does not work with XCode 11.3"
This line here:

https://github.com/bazelbuild/bazel/blob/8959dff512fe4505af786bcf2ef981ec7082a913/tools/osx/crosstool/cc_toolchain_config.bzl#L5369

introduced in this commit:

https://github.com/bazelbuild/bazel/commit/0cb8757781e3ab9b4aee06483b74b46a2e4c6126

causes Bazel 4.0.0 to not work with XCode 11.3 because it does not support the `-fdebug-compilation-dir` flag:

clang --version
Apple cla

[2021-01-26 18:43] keith commented on #12905
https://github.com/bazelbuild/bazel/pull/12882

[2021-01-26 18:54] gregestren commented on #12899
Before advancing, what do you think of my question in https://github.com/bazelbuild/bazel/pull/12071#issuecomment-767586628?  Could it be `select` that instantiates the platform info when it's not already available? Would that also require a toolchain or could it just directly load the platform?

How would that compare to opting `filegroup` back into toolchains?

That's really interesting about th

[2021-01-26 19:02] katre commented on #12899
I made the change and ran tests (see https://github.com/bazelbuild/bazel/pull/12901). All the failures, including ConditionalAttributesTest, were just using `filegroup` as a placeholder rule that doesn't use toolchain resolution.

To reply to your comment: I think it does make sense that even without toolchain resolution, configured targets always have a target platform. This shouldn't be a major

[2021-01-26 19:54] #10162 closed

[2021-01-26 20:16] fwingerter-Ocient commented on #2951
We also ran into this recently. Ideally bazel-buildfarm would treat maximum hardlink count as a basic attribute of the filesystem and create an additional inode (with its own identical copy of data) when it hits that limit.

There's a FIXME to this effect [here](https://github.com/bazelbuild/bazel-buildfarm/blob/ae7a2006ceb0ab7abaf3e5a14999712d708a7de1/src/main/java/build/buildfarm/cas/cfc/CASFile

[2021-01-26 20:28] #11128 closed

[2021-01-26 20:38] linzhp opened #12912 "Test timeout causes build failure in "bazel coverage""
### Description of the problem / feature request:

When a test is run under `bazel coverage` and times out, Bazel reports it as a build failure (exit code 1) instead of a test failure (exit code 3), because the expected output `coverage.dat` was not created. This is undesirable because all other tests will be skipped once a build failure is seen. Furthermore, it confuses the post-processing tools,

[2021-01-26 20:49] juliexxia commented on #11128
These should all be fixed as of this most recent commit.

[2021-01-26 20:50] juliexxia commented on #10499
Wanted to express thanks for the detail of this issue report. Helped immensely with writing appropriate tests when writing this fix. Should be all fixed now, thanks for your patience.

[2021-01-26 21:05] dhalperi commented on #12894
Since High Sierra is effectively EOL now (no longer receiving security patches as of this month), probably skip worrying about that one.

I have obtained a test machine and can repro with Mojave easily.

[2021-01-26 21:13] keith commented on #12894
Can you verify the error you're seeing in the latest supported Xcode version on that OS is the same as the libtool one above and not https://github.com/bazelbuild/bazel/issues/12905 ?

If it is the libtool issue it's likely https://github.com/bazelbuild/bazel/pull/12265 in which case we'd likely need to add some OS version checking to disable this behavior

[2021-01-26 21:20] gregestren commented on #12859
@katre - at a super-quick glance, does this look like the actual toolchain is missing? Which group seems best to route this to?

[2021-01-26 21:29] dhalperi commented on #12894
I just expunged and removed `/var/tmp/_bazel_$USER`, and made sure I was on 4.0.0.

I am not 100% certain I have the "latest supported Xcode version" -- Apple has made this harder to get recently.

Command Line Tools 11.3 requires 10.15.4 minimum, so won't work on Mojave.

I think I have CLT 10.3 ish:

`xcode-select -v` gives me version 2354.
`clang -v` gives me Apple LLVM version 10.0.1 (clang-10

[2021-01-26 21:31] katre commented on #12859
This is an interaction between `rules_go`, which uses toolchain resolution, and `rules_cc`, which currently does not. For Bazel, the cc toolchains that are autogenerated by [`tools/cpp/cc_configure.bzl`](https://cs.opensource.google/bazel/bazel/+/master:tools/cpp/cc_configure.bzl?q=cc_configure&ss=bazel) are only for the host platform. I haven't looked into the coral-crosstool you are using, but I

[2021-01-26 21:34] katre commented on #12859
Looking further, looks like coral is already writing `toolchain` targets, you just need to register them, with `register_toolchains("@crosstool//:all"` in your WORKSPACE. At that point the build using `--platforms` should work.

[2021-01-26 21:38] gregestren commented on #12895
Thanks for filing this. I didn't realize when you first mentioned it you were referring to default values. I'm going to close this for https://github.com/bazelbuild/bazel/issues/287, which covers the same issue. Short story is we'd need input from the Starlark folks.

As always, an alias (or a macro, mentioned in the other bug) is a workaround.

[2021-01-26 21:38] #12895 closed

[2021-01-26 21:41] keith commented on #12894
The version question here is just what version of Xcode added support for params files to `libtool`. It looks like the answer to that is 11.0

[2021-01-26 21:52] dhalperi commented on #12894
Update!

I went back to the developer tools site, found that I was wrong about minimum version requirements. 11.5 requires 10.15 (Catalina), but 11.3.1 I could install on Mojave. That actually seems to work fine, without any caveats, on Mojave.

version: `11.3.1.0.1.1576735732`

[2021-01-27 02:41] yyhclimacool commented on #12869
help, please.

[2021-01-27 02:44] zhlhahaha commented on #12859
Thanks @katre , the explanation is pretty clear. I will give it a try and write down solution here in case other guys meet same problem and look for solution. Then I will close this issue.

[2021-01-27 10:42] comius commented on #8499
This is expected. Bazels Java compilations are not hermetic without additional configuration.

In the default (of the shelf) configuration, Bazel compiles the code against system libraries of the locally installed JDK (found via JAVA_HOME). Rationale for this is that there are users who don't configure what JDK Bazel should use, however the users still expect everything works after Bazel upgrade.

[2021-01-27 10:42] #8499 closed

[2021-01-27 11:24] #11628 closed

[2021-01-27 11:59] guibou opened #12914 "--nobuild_runfile_links does not clean runfile links"
### Description of the problem / feature request:

`--nobuild_runfile_links` does not seem to clean previously built runfiles links.

### Feature requests: what underlying problem are you trying to solve with this feature?

I recently started to use `--nobuild_runfile_links` in order to address #2951 that I've it on our project.

Some of our rules are not working with the option and I need to enab

[2021-01-27 12:36] comius commented on #11262
With Java Platformization work https://docs.google.com/document/d/1MVbBxbKVKRJJY7DnkptHpvz7ROhyAYy4a-TZ-n7Q0r4/edit a lot of issues like this should be resolved.

java_tools has been refactored, so that it doesn't include toolchain definitions. It only contains the tools that are needed by the toolchain. This makes it more usable in different Bazel versions, starting after 4.0.0 release. Also a pu

[2021-01-27 12:36] #11262 closed

[2021-01-27 12:50] comius commented on #12836
What you're saying is true from the perspective of a Java user. In Java, `java_binary` and `java_library` are the same.

However, mind that Bazel supports multiple languages and there are languages where binary is different from a library. It is impossible to fit those languages into the Java model. Even if Java model is really cool.

Therefore, being able to use `java_binary` the same way as `jav

[2021-01-27 12:50] #12836 closed

[2021-01-27 14:27] sfreilich commented on #8904
I feel like this thread doesn't explain the problem with the original suggestion adequately because it's swallowing the assumption that `filegroup` is an alias for one or more targets. It's not. `filegroup` provides files, it's not suitable for use in `label_list` attributes that don't set `allow_files`.

"Implement your own filegroup" is sort of a solution for this, but generally language-specifi

[2021-01-27 16:40] nikola-sh opened #12915 "cquery with --output=graph crashes"
### Description of the problem / feature request:

`bazel cquery` with `--output=graph` crashes with message
[code]
### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.
[code]
### What operating system are you running Bazel on?

Linux, Windows

### What's the output of `bazel info release`?

release 4.0.0

### What's the output of `git rem

[2021-01-27 17:24] arohner opened #14719 "Can't use non-bazel native libs with java_import"
Bazel 3.7.2 and 4.0.0

I'm trying to include in the build a java library that requires a native library on the library path at runtime. I've tried `rules_foreign_cc` and plain `cc_import`, in both cases I get:

[code]

I would like a way to include the native library without having to convert its build to Bazel

[2021-01-27 17:39] mihaigalos commented on #5891
Reproducible on `alpine:3.11.3`.

[2021-01-27 23:27] TheKaur commented on #11847
cc @c-mita

[2021-01-28 01:05] bjacklyn commented on #12887
@Yannic upgrading `rules_proto` to `cfdc2fa31879c0aebe31ce7702b1a9c8a4be02d2` and using `protobuf-3.11.3` does not appear to work (same error). Are you suggesting the `rules_proto` upgrade will fix this only because `rules_proto` itself depends on `protobuf-3.13.0` and thus `protobuf-3.13.0` is mandatory to use bazel 4, or is it in fact possible to use the newer `rules_proto` with an older `protob

[2021-01-28 01:11] bjacklyn commented on #12887
Actually it looks like if both of these commits are applied (i.e. `patches = [...]` on the `http_archive`) to the older protobufs version it works for me (it builds at least):
* https://github.com/protocolbuffers/protobuf/commit/cdc7fe8f054c5732d05d24a7559776fa11b5a659
* https://github.com/protocolbuffers/protobuf/commit/723a85f7975634396af1654d5ee09742316d9eec

[2021-01-28 06:16] cceckman commented on #12532
Noting I ran into this too in Bazel 4.0.0.

(I was holding `target_compatible_with` wrong - referencing a `platform` rather than a `constraint_setting` - and the fact that it threw a `NullPointerException` rather than, say, a type error was very confusing to me.)

[2021-01-28 07:56] limdor commented on #12887
@bjacklyn out of curiosity, are you using prot_library native in your code or the one from rules_proto? Maybe that is the difference?

[2021-01-28 08:43] bjacklyn commented on #12887
@limdor -- I'm using `rules_proto`, for example:

[code]

Which results in this error:
[code]

Updating to `3.13.0` works as mentioned by yannic:
[code]

But I'm trying to only upgrade bazel at the moment -- upgrading protobufs probably means upgrading a ton of other `rules_*`, `grpc`, `abseil`, etc (and all the validation that goes along with doing that) -- which I'd rather not have to do in orde

[2021-01-28 09:02] limdor commented on #12887
Thanks @bjacklyn I'm on the same process like you. I updated rules_proto to the latest available in bazel mirror but unfortunately was not having commit `cfdc2fa31879c0aebe31ce7702b1a9c8a4be02d2`.
Now I tried to update protobuf but it is not so straightforward. I will try first updating rules_proto to the latest that includes `cfdc2fa31879c0aebe31ce7702b1a9c8a4be02d2` and then if not I will also t

[2021-01-28 09:31] luna-duclos opened #12917 "The query language lacks a way to query rules that are target_compatible_with"
### Description of the problem / feature request:

The query language lacks a way to express "I want to query all targets that are compatible with a certain platform. This is because even though you can use attr() with cquery to ask for values of the attribute, thats not good enough as the attribute is transitive and dependencies might be incompatible, causing the target to still be incompatible e

[2021-01-28 10:40] larsrc-google commented on #7998
This is now generally available, since 003cfcde3fd3901c1279ba1db3db3a14536248b4 also for multiplex workers. It's automatically available for any worker implementation that uses WorkRequestHandler, the execution-requirements must still be updated in order to use it, though.

[2021-01-28 10:40] #7998 closed

[2021-01-28 11:01] larsrc-google commented on #11948
https://stackoverflow.com/questions/3340342/writing-to-the-real-stdout-after-system-setout talks about how to properly redirect stdout, it looks like what the current code does is incorrect.

I like the idea of redirecting stdout, though, and will add it to WorkRequestHandler.

[2021-01-28 11:34] #4592 closed

[2021-01-28 11:54] c-mita commented on #11847
Running the example given at the top of this issue does not reproduce any failures:

In the bazel repo:
[code]
Using a custom version of blaze with 94eeea6 reverted results in an empty `coverage.dat` as expected.
If this particular repro is still failing for you then can you provide as many details as you can regarding your setup?

As for your error, it looks like you're using a custom project? I

[2021-01-28 12:04] meteorcloudy opened #12920 "Bazel CI: RBE builds broken"
rules_docker: https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1889#8859d532-0524-4468-a0ad-310325e56399
rules_go:
https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1889#30ce89e0-766c-47a4-8daf-9b4827421fbe
rules_nodjes:
https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1889#54f552d8-9843-47be-aad2-a1025d28c1b9

All failing with similar build error:
[c

[2021-01-28 12:08] meteorcloudy commented on #12920
Oh, we also see breakage with Bazel 4.0.0:
https://buildkite.com/bazel/rules-go-golang/builds/2726#_

So it looks like there is some RBE backend changes recently?

[2021-01-28 12:10] coeuvre commented on #12920
Looks similar to #12363.

[2021-01-28 12:11] coeuvre commented on #12920
cc @bergsieker

[2021-01-28 12:13] ulrfa commented on #12568
Yes good progress on #12669! Thanks @gregestren!

My idea is that user defined build settings could be ignored when calculating output path for an action, if that action (and its transitive dependencies) can not see the user defined build setting, due to the visibility. The config_setting could be seen as part of a transitive dependency chain (between the select() and the user defined build settin

[2021-01-28 14:20] bergsieker commented on #12920
Can you provide an approximate time of onset?

I don't think there's anything that has changed in RBE that would cause this, but I believe that the GFEs have been rolling out new load shedding code this week. It's strange that we don't have any indication of failures in RBE's tests, though.

[2021-01-28 16:14] sslobodanka opened #12921 "Modifying headers does not trigger a rebuild of related C\C++ source files when tasking compiler is used"
### Description of the problem / feature request:

The project/source files compilation (C\C++) is not triggered when related header file is changed. Currently Bazel is re-triggering the build only when a .c source file is changed and changes in a header file(s) are ignored.
Based on the initial analysis the assumption is that the dependency parser in Bazel doesn't parse properly the dependency fi

[2021-01-28 16:23] larsrc-google commented on #7818
If I understand this correctly, it's what `--experimental_local_lockfree_output` is for. Can anyone say something more specific about the breakages without sandboxing mentioned at the start? Do they also occur with `--experimental_local_lockfree_output`?

[2021-01-28 16:29] larsrc-google commented on #7327
Using a cache miss signal alone to determine whether to start running actions locally would not help with the other benefit of dynamic execution: Being able to cope with flaky or slow internet connections transparently (apart from becoming slower).

[2021-01-28 16:30] alexeagle commented on #12165
I think we have another valid use case for this flag.

In rules_nodejs we have workers for a TypeScript compile rule (`ts_project`). Unlike the google3 TypeScript rule (`ts_library`) this doesn't run a custom bazel-specific compiler, but rather just the regular one shipped by the team at Microsoft. This is a vast simplification and reduction in scope for our team, and also makes it more obvious th

[2021-01-28 16:34] larsrc-google commented on #6957
There is now a flag `--incompatible_legacy_local_fallback` that controls whether to do this fallback. It defaults to true for now. The case 2. above is best handled by setting your strategies appropriately - if it's more important that you build than that it's sandboxed, set --spawn_strategy=sandboxed,local (and --strategy similarly for mnemonics you otherwise set that for).

[2021-01-28 16:50] meisterT commented on #12892
huh, that's weird - it works for me on debian

[2021-01-28 16:53] michajlo commented on #12892
Does this happen for all uses of `--output_base` or only when it's from a `bazelrc` file?

[2021-01-28 16:56] larsrc-google commented on #5805
Is this still a problem? You can use the --strategy flag to only allow worker execution (though I don't know if the action itself can set that flag).

[2021-01-28 17:09] larsrc-google commented on #12165
I'm not sure I follow.

You want one worker per ts_project - how many ts_projects do you expect there to be? If there are more than the max number of global worker instances, you'll be doing a more complicated version of local execution, it seems.

Does the "linker" process run as part of the worker? If not, where does it know the exact set of dependencies from? How does it handle changes in depen

[2021-01-28 17:44] janakdr commented on #12914
Thanks for the report. I'm fairly sure that if we changed this behavior, it would break someone else's workflow. This is also part of the general fact that Bazel does not delete previous outputs from the output tree before performing the next build.

Have you tried sandboxing your actions? If they're not sandboxed, you don't really have reproducibility anyway, and if they're sandboxed, this issue

[2021-01-28 18:13] philsc commented on #12917
@gregestren , @katre

I've not thought about this, but I think it's a good idea to solve this. If you build up your CI target list from a query, there should be a way to filter those out.

[2021-01-28 18:34] gregestren commented on #12917
`cquery` haw new functionality that can query over providers, which incompatible target skipping uses to honor these transitive effects. Let me look up the docs on that.

Caveat is it only works on Starlark-readable providers, which incompatible target skipping isn't yet.

[2021-01-28 18:35] gregestren commented on #12917
https://docs.bazel.build/versions/master/cquery.html#providers

[2021-01-28 19:27] comius commented on #8268
It is.

[2021-01-28 19:27] #8268 closed

[2021-01-28 19:34] davido commented on #9771
Let's track down on EP side.

[2021-01-28 19:34] #9771 closed

[2021-01-28 19:35] davido commented on #2452
Not sure if it's still relevant.

[2021-01-28 19:35] #2452 closed

[2021-01-28 20:24] gpshead commented on #6841
For a `py_binary`, allowing those to exist in a package with `-` hyphens in their name seems reasonable.  We've got use cases in our internal monorepo for that: Starlark macros generating genrule exec_tools that may happen to be Python based for use by other things anywhere in the code base they happen to be needed, hyphens included.

For a `py_library` it does not. Modules cannot be imported from

[2021-01-28 20:26] philsc commented on #12917
That's a cool idea @gregestren , thanks!

[2021-01-28 21:37] keith commented on #12455
If there's a 4.0.1 it should probably include https://github.com/bazelbuild/bazel/pull/12882

[2021-01-28 22:40] bergsieker commented on #12920
We believe that we identified the proximate cause (GFE rollout). We have initiated a flag-flip rollout to disable the new behavior. The rollout is mostly complete for North America, and will continue to to roll out globally over the next day or so.

Can you confirm that these builds have gone back to green?

Also, do these builds run on GCP machines?

[2021-01-29 03:32] coeuvre commented on #12920
These builds have gone back to green.

Yes, the worker-pool is `projects/bazel-untrusted/instances/default_instance`.

[2021-01-29 05:28] philsc commented on #12917
I think this could work pretty well:
https://github.com/philsc/bazel/commit/3d0c66550858631f57bf470878959640bb6ce7d6#diff-a982fd7588855b07d791b1b297ffc662b316c80313943ec6998af93edb331c5e

Re-posting the relevant snippet here for simplicity:
[code]

@luna-duclos , would that server your use case?  For incompatible targets you can return an empty string so it wouldn't print anything.

[2021-01-29 06:21] ittaiz commented on #12730
@comius may I ask why this is P3?
IMHO this is at least a P2. The reason java rules use stamping is to avoid memory issues of passing long lists of labels.
We (at Wix and rules_scala) have been working for the past 6 months on being able to move to stamping to solve these issues but are facing many issues.
This is one of them.

[2021-01-29 07:12] dzdeping commented on #12868
As  supplements:
**when .bazelrc file is:**

**build --define=ABSOLUTE_JAVABASE=/opt/buildtools/adoptopenjdk-8u242b08/jdk8u242-b08
build --javabase=@bazel_tools//tools/jdk:absolute_javabase
build --host_javabase=@bazel_tools//tools/jdk:absolute_javabase
build --java_toolchain=@bazel_tools//tools/jdk:toolchain_vanilla
build --host_java_toolchain=@bazel_tools//tools/jdk:toolchain_vanilla
coverage --

[2021-01-29 07:59] comius commented on #12730
No, it's P3 - meaning we are accepting community PRs. P2 - somebody in the team would be working on it.

Sorry to hear that. Let me see if I can speed this up a bit. In the future "friendly ping" on the PR would suffice. github has a lot of noise and it's hard to see if there is PR that's been waiting for a long time. Keeping a queue of PRs in my mind just doesn't work everytime.

Ideally we'd rev

[2021-01-29 08:01] luna-duclos commented on #12917
It would!

[2021-01-29 08:10] luna-duclos opened #12924 "cquery should support --query_file"
### Description of the problem / feature request:

`bazel cquery` should support the `--query_file=` argument, similar to `bazel query`,

### Feature requests: what underlying problem are you trying to solve with this feature?

this would allow us not to have to care about, for example, the relatively short command line length on macOS when writing queries.
As well as being able to programatically

[2021-01-29 08:50] guibou commented on #12892
@michajlo what I observes here:

- does not work in `.bazelrc`
- works in the shell if `--output_base ~/path`
- does not work in the shel if `--output_base=~/path`

[2021-01-29 08:52] guibou commented on #12914
@janakdr You ask a really good question about sandboxing.

You are right, even if the generated files are generated by `bazel build` (as described in this ticket), the reproducibility issue only appears when `bazel run` which is not sandboxed.

I need to check if there is a way to sandbox the `bazel run`, never thought about this.

[2021-01-29 09:16] #12920 closed

[2021-01-29 09:18] ittaiz commented on #12730
I see. I was looking through the bazel site for explanation on the priorities meaning and the classification of P3 was something super minor or something along those lines.
I think it's valuable adding your explanation to that doc.

I did do that twice, just didn't know how to continue...

In any case thank you so much for advancing this!

[2021-01-29 09:29] meteorcloudy opened #12925 "Bazel CI: downstream projects broken due to visibility check on select() keys"
https://buildkite.com/bazel/bazel-auto-sheriff-face-with-cowboy-hat/builds/413

Caused by: https://github.com/bazelbuild/bazel/commit/cac82cf00649217e621e86825e9e99b3e56b0d34

TensorFlow:
[code]

Envoy:
[code]

I'll try to send PRs to downstream projects to fix this.

[2021-01-29 09:29] meteorcloudy commented on #12925
FYI @gregestren

[2021-01-29 10:12] meteorcloudy commented on #12925
The Envoy breakage is due to com_google_tcmalloc, so I have to fix tcmalloc then update its version in Envoy.

[2021-01-29 10:19] meteorcloudy commented on #12925
FYI @htuch

[2021-01-29 11:20] dmivankov opened #12926 "4.0.0: StackOverflowError in error-prone"
### Description of the problem / feature request:

Trying out [bazel 4.0.0](https://github.com/bazelbuild/bazel/issues/12455), with `--javabase=@bazel_tools//tools/jdk:remote_jdk11 --java_toolchain=@bazel_tools//tools/jdk:toolchain_java11` and hit a bug in error-prone 2.4.0 (bazel 3.3.1 has 2.3.2 I think, and it works)

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provi

[2021-01-29 13:49] federicohml opened #12927 "Output download failed: digest mismatch"
### Description of the problem / feature request:

After upgrading to Bazel 4.0.0, I get the following error

[code]

### Feature requests: what underlying problem are you trying to solve with this feature?

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

### What operating system are you running Bazel on?

Ubuntu 20.04

### What's t

[2021-01-29 13:57] michajlo commented on #12892
Ok, so it's that `--output_base` don't support shell expansion, which I suspect is the case for many flags. The `--output_base ~/path` works because the path is expanded before it's passed to bazel, while in the other two bazel sees the unexpanded `~/path`. I think this can be combined with https://github.com/bazelbuild/bazel/issues/10904.

[2021-01-29 14:45] gregestren commented on #12925
Thanks for the info, @meteorcloudy. This is a delicate one. If it comes to it we may have to roll back the PR. But fixing the depot is exactly what we ultimately want to do. I'm not completely clear yet if the first option is necessary.

Keep me updated from your end.

[2021-01-29 15:43] meteorcloudy commented on #12925
Not too many downstream projects are broken, and it's an easy fix, so I don't think it should block you from making progress ;)

[2021-01-29 17:39] philsc commented on #12917
Cool. I'll get that turned into a pull request then.

[2021-01-29 18:38] katre commented on #12897
I can reproduce this: it looks like [`objc_library`](https://cs.opensource.google/bazel/bazel/+/master:src/main/java/com/google/devtools/build/lib/rules/objc/ObjcLibraryRule.java?q=ObjcLibraryRule&ss=bazel) has a self-transition ([`AppleCrosstoolTransition`](https://cs.opensource.google/bazel/bazel/+/master:src/main/java/com/google/devtools/build/lib/rules/objc/AppleCrosstoolTransition.java;drc=37

[2021-01-29 18:42] katre commented on #12879
The crash is concerning and I'll address it immediately. Bazel shouldn't crash, it should fail gracefully and report an error.

The good news is, there's a simple fix: the correct type of target to use in `target_compatible_with` is a `constraint_value`, not a `platform` target. If you re-write your target to be:

[code]

This will correctly report that the target can't be built.

[2021-01-29 20:07] gregestren commented on #12917
Happy to review promptly.

[2021-01-29 20:41] rockwotj commented on #11497
Seems like this is going to be very important come this August, as without this you can't publish to the play store: https://android-developers.googleblog.com/2020/11/new-android-app-bundle-and-target-api.html

[2021-01-29 21:13] #12879 closed

[2021-01-29 22:07] htuch commented on #12925
@yanavlasov for visibility; @meteorcloudy Yan is the new Envoy - Bazel relationship owner :)

[2021-01-29 22:17] gregestren commented on #12669
FYI: I rolled back my PR because it breaks some projects that already set `visibility` on `config_setting` with bad values.

I'm rolling it forward again behind a flag. Stay tuned...

[2021-01-29 22:39] gregestren opened #12932 "incompatible_enforce_config_setting_visibility"
Visibility on `config_setting` isn't historically enforced. This is purely for legacy reasons. There's no philosophical reason to distinguish them.

This flag starts the process of removing the distinction.

Values:
 * `--incompatible_enforce_config_setting_visibility=off`: every `config_setting` is visible to every target, regardless of visibility settings
 * `--incompatible_enforce_config_settin

[2021-01-29 22:44] gregestren opened #12933 "incompatible_config_setting_private_default_visibility"
Visibility on `config_setting` isn't historically enforced. This is purely for legacy reasons. There's no philosophical reason to distinguish them.

This flag, in conjunction with `--incompatible_enforce_config_setting_visibility` (https://github.com/bazelbuild/bazel/issues/12932), removes that distinction.

Values:
 * `--incompatible_config_setting_private_default_visibility=off`: if `--incompati

[2021-01-29 23:09] gregestren commented on #12669
Filed bugs for `--incompatible_*` flags: https://github.com/bazelbuild/bazel/issues/12932. PR using them incoming.

[2021-01-30 10:37] davido commented on #12778
@comius I still see some strange fetching of alien remote JDKs on Bazel@HEAD (d2582637866f28272addd9935a513aaa488c7ec7)..

To reproduce, clone Gerrit Code Review, and clone [code-owners](https://gerrit.googlesource.com/plugins/code-owners) plugin in gerrit's plugin directory, then run this `bazel query` command:

[code]

I am on Linux, so that I wouldn't expect alien remote JDKs to be fetched.

[2021-01-30 12:54] comius commented on #12778
This is expected. Bazel query has to resolve all paths in a select. cquery won’t download foreign OSes. This will improve after incompatible flag is removed, because selects will go away and because query doesn’t traverse toolchain definitions.

[2021-01-30 22:19] ValYouW commented on #8537
Had the same issue when running on windows command console, switching to git bash "solved" the issue.

[2021-01-30 23:24] pcj commented on #7692
Just hit this on macos catalina 10.15.7.

[2021-01-31 15:36] meteorcloudy commented on #12925
@htuch Thanks for the introduce.
@yanavlasov Can you help upgrading tcmalloc to the latest commit to fix this breakage?
https://github.com/google/tcmalloc/commit/4c7646615556688de98b6995197de4c3e74515fc

[2021-01-31 18:25] davido commented on #12636
Thanks, that fixed it.

[2021-01-31 18:25] #12636 closed

[2021-01-31 20:18] janakdr commented on #12259
Update: we're actually not going to proceed with this migration. It looks a bit too risky for some existing use cases.

[2021-02-01 02:59] joscha opened #12937 "query of `kind("package group"` can not be filtered via `attr(`"
### Description of the problem request:

Package groups can be queried via:

[code]
and the return is a list of package groups, e.g.:

[code]

inside a package `xyz`

would yield a:

[code]

adding another `attr()` selector around it always yields an empty list.

### Feature requests: what underlying problem are you trying to solve with this feature?

filtering a package group query by an attribut

[2021-02-01 03:21] coeuvre commented on #12927
Can you elaborate more details?
- Which remote cache server does the build use?
- Does the error occur for certain types of actions or just randomly?
- Can you check whether the content of the file in the remote cache is correct?
- Do you have a minimal example which can reproduce this error?

[2021-02-01 05:22] cushon commented on #12926
Do you have a repro?

It looks like it's just running out of stack. Does setting a higher stack size make a difference, e.g.:

[code]

[code]

[2021-02-01 08:56] akok-vmw commented on #12067
I believe there is an underlying issue here. According to the execution log (below), a new `.tmp` file gets generated on each execution. Since the `.tmp` file is temporary and auto-generated by Bazel, shouldn't Bazel ignore it instead of caching it?

[code]

[2021-02-01 10:39] larsrc-google commented on #10662
An update: Using multiplex workers help cut down on memory overhead, though at the cost of not yet being sandboxable or usable with dynamic execution. We're actively looking into how to manage resources better, but right now we don't even have a good prediction of how much RAM a given job is going to take.

[2021-02-01 11:26] dmivankov commented on #12926
`Xss7m` didn't help, stacktrace is quite repetitive, so could be an infinite recursion.
Small repro https://github.com/dmivankov/bug_reports/tree/bazel_12926

[2021-02-01 12:19] #12730 closed

[2021-02-01 13:25] #7365 closed

[2021-02-01 15:03] #12669 closed

[2021-02-01 15:27] JanJamaszyk-FlyNow opened #12942 "[BUG] tools in genrule can not be built with alternative toolchain / platform"
### Description of the problem / feature request:

In our repository we are maintaining our own toolchain using the platform concept.
However there is no way for us to force a tool specified inside a genrule to be built with our own toolchain, neither to overwrite the default toolchain bazel uses.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example i

[2021-02-01 17:29] communikit commented on #12239
A sandboxing page was added recently: https://docs.bazel.build/versions/master/sandboxing.html

Does this sufficiently address your needs?

[2021-02-01 18:10] akok-vmw commented on #12067
Sorry for not being clear on the effect of the issue. If my interpretation is correct, we are burning an AC entry on each execution with the pathname growing by 4 chars and (maybe?) Bazel downloads all `.tmp` files because they are part of the `actual_output` but only to get deleted before the end of the build because they are temporary files.

[2021-02-01 18:27] jeraldliu commented on #12776
@meteorcloudy Yes, cross-compiling from x86 to arm64 for CPP binaries is what I was alluding to. Is there any plan to do so?

[2021-02-01 18:29] finn-ball commented on #4685
Thanks!

I currently get permission denied with the example you sent.

At the moment if I use with Bazel 4.0.0 with my remote execution configuration:
[code]

Then the coverage files return but they are still empty. Without remote execution and the extra flags, they're full of data.

I could try to prepare a small example to share if that would help?

[2021-02-01 18:51] finn-ball commented on #4685
Thanks @oquenchil , I currently get permission denied with the example you sent.

At the moment if I use with Bazel 4.0.0 with my remote execution configuration and the extra flags you suggested:

--config=remote-execution --experimental_split_coverage_postprocessing --experimental_fetch_all_coverage_outputs

Then the coverage files return but they are still empty. Without remote execution and the

[2021-02-01 21:00] thekyz commented on #7091
How can this be P3? This is a major issue when assessing rebuildability of a py_test or py_binary target. Is there any plan to actually fix this?

[2021-02-01 21:45] bdleitner opened #12944 "android_binary cannot build if java8 Collector.of is referenced"
### Description of the problem / feature request:

Attempting to `bazel build` an `android_binary` target that references Java8's `Collector.of` method fails with an error message saying:

[code]

Even when all `AndroidManifest.xml` files specify `minSdkVersion`s at least 24.  So at best this is a misleading error message.

I am not 100% certain the problem is with `bazel` as opposed to something

[2021-02-01 21:49] communikit commented on #12831
Doc check-in: Looks like https://docs.bazel.build/versions/master/command-line-reference.html#flag--ui_event_filters answers a lot of questions here - can the conversation be moved to #12117 from here, instead of staying open under the Documentation label?

Is there anything missing in the documentation that needs to be updated?

[2021-02-01 22:40] gregestren commented on #6431
Update at: https://bazel.build/roadmaps/configuration.html
2020 EOY review at: https://bazel.build/roadmaps/2020/configuration.html#eoy-review

[2021-02-01 23:46] michaeledgar commented on #12725
I've confirmed the behavior you're seeing:

- We select the start time before scheduling the action for the test.
 - When execution happens remotely, "scheduling" may include uploading missing inputs and waiting for remote execution resources to become available.
 - When running with local sandboxing and scheduling using resource limits (`--local_ram_resources`, `--local_cpu_resources`), we select

[2021-02-02 00:27] communikit commented on #12239
Closing this issue since there is now dedicated sandboxing documentation on https://docs.bazel.build

Feel free to open a new issue or send in a PR for any additional updates to the page.

[2021-02-02 00:27] #12239 closed

[2021-02-02 01:25] cushon commented on #12926
Thanks, taking a close look I see that immutables is generating a class that completes a cyclic type hierarchy:

[code]

This is an interaction between immutables and https://github.com/google/turbine's implementation of annotation processing.

This logic is relying on the `toString()` representation of `ImmutableA.BuilderImpl` in `class Builder extends ImmutableA.BuilderImpl {` before the code ha

[2021-02-02 01:57] jmmv commented on #7818
That's correct. That flag I added should allow this to work.

[2021-02-02 01:58] jmmv commented on #7327
You'd need to have both: a cache miss and a timeout. If the timeout was set to the existing value of the delay, then the overall behavior should be the same or better, right?

[2021-02-02 08:03] larsrc-google commented on #7327
Yes, that would work.

[2021-02-02 09:28] dmivankov commented on #12926
As a workaround
[code]
seems to work on the repro case, class hierarchy is different, but may work well.

For the original setup, what looks like a correct place to implement a fix
- error_prone (something changed there?)
- bazel annotation processing (something changed there?)
- immutables (is such hierarchy really valid? or maybe there's a chance to have small modification of codegen to remove t

[2021-02-02 09:38] meteorcloudy commented on #12776
@jeraldliu Hi Jerald, I don't think adding native support for that is on the current priority list of the C++ rules team.
But Bazel is extensible, you can always set up your own C++ toolchain for cross-compiling, see https://docs.bazel.build/versions/master/tutorial/cc-toolchain-config.html

[2021-02-02 09:41] oquenchil commented on #4685
Yes please, a small example that I can use to reproduce would certainly help.

[2021-02-02 10:00] sventiffe commented on #10727
@brandjon is this still a P1, i.e. actively worked on?

[2021-02-02 10:02] sventiffe commented on #12554
@coeuvre this issue is marked as P1 bug but stalled since end of last year. Is this still active work or can it be bumped down to P2?

[2021-02-02 10:03] sventiffe commented on #12842
@philwo can you update this issue please?

[2021-02-02 10:45] #12482 closed

[2021-02-02 10:46] #12905 closed

[2021-02-02 11:20] finn-ball commented on #4685
Here's the reproducible deployment tested with Bazel 4.0.0.

## Setup RE deployment
I'm not sure what RE deployment you're using. So here's a very simple one which just requires you install `docker-compose`:
[code]
In another terminal:
[code]
## Test project
Assuming you're in the abseil-cpp project clones above. If you're not using the config above, obviously remove the `--config=mycluster-ubuntu

[2021-02-02 13:17] dmivankov opened #12947 "bazel query can lie about external dependency version"
### Description of the problem / feature request:

`bazel query --output build //external:something` may print wrong version of `something`

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

WORKSPACE
[code]
a.bzl
[code]
BUILD: empty file

[code]

Interestingly adding
[code]
to WORKSPACE makes bazel use 1.0.3. Though there also are cas

[2021-02-02 13:32] Wyverald commented on #12947
I couldn't repro on macOS with Bazel 4.0.0. This line:

[code]

simply reports that the directory does not exist. I suspect this is WAI because just doing a `bazel query //external:bazel_skylib` doesn't cause bazel_skylib to be fetched, and you're seeing 1.0.2 maybe from an earlier fetch. Could you clean and try again?

[2021-02-02 13:41] dmivankov commented on #12947
Hm, so this repro is too small, after clean it goes away, will try to repeat the bigger one then :+1:
It was around using gazelle, rules_go, rules_docker and there `bazel query` was matching http_archive from WORKSPACE, but that wasn't what was used for builds

[2021-02-02 13:51] dmivankov commented on #12947
Will close for now, could be that there was some version overriding I was debugging, but looking into `.../external/something/` files wasn't robust (needed to force refetch). Will reopen if manage to repro with forced fetch

[2021-02-02 13:52] Wyverald commented on #12947
Ah. I think I've got the repro. If you put the following in your WORKSPACE file:

[code]
Then query would give you 1.0.3, whereas the actual fetched contents are 1.0.2.

This is weirdly WAI (at least the latter part). Later repo definitions override earlier ones. But the repo definition is "solidified" once a fetch is requested. It's definitely not perfect that query gives you the latest repo defi

[2021-02-02 13:59] meteorcloudy commented on #12310
@veblush Can you help verify if https://github.com/bazelbuild/bazel/pull/12941 fixes this problem? You can cherry-pick this change and build a custom Bazel binary based the Bazel version you were using. Let me know if I can help verify this!

[2021-02-02 14:23] alandonovan commented on #10727
Funny you should ask: I mailed out https://bazel-review.googlesource.com/c/bazel/+/152054 just yesterday afternoon.

[2021-02-02 14:34] mancini0 commented on #10855
if you are using rules_k8s you can use the k8s_objects rule to apply commands to all of your microservices. (Run, deploy, etc.)

[2021-02-02 14:52] oquenchil commented on #4005
So I tried this out and I get a toy example to work with modules. I added the features to unix_cc_toolchain_config.bzl and made sure I was using clang with CC=clang.  The module maps for system libraries should already be taken care of thanks to [this](https://cs.opensource.google/bazel/bazel/+/master:tools/cpp/unix_cc_configure.bzl;drc=47d231707fdd0fd1a913e34cad9c4f1dc63d33ea;l=443).

You said th

[2021-02-02 15:14] dmivankov commented on #12947
Ow, so commenting out
[code]
or not commenting it out would change the solidified version..

and here
[code]
printed version depends on whether first load is commented-out or not

I'll reopen because it would be nice if bazel query matched the solidified version (or if bazel cquery or some other flavor would match it)

[2021-02-02 15:35] dmivankov commented on #12947
[code]
is also printing a wrong version - the last one seen rather the solidified or last seen

[2021-02-02 18:13] cushon commented on #12926
This is the thing that actually changed in Bazel--as of https://github.com/bazelbuild/bazel/commit/10ffddb13ac070f2c6b9d64cb927ab3b659c0b72 Bazel uses a different annotation processing implementation by default (https://github.com/google/turbine).

The way errors are modeled in the annotation processing API isn't very well specified, but I think improving turbine here is a good resolution, I don't

[2021-02-02 19:16] keith opened #12948 "`target_compatible_with` with `genquery` fails in cases where `query` would succeed"
With this root BUILD file:

[code]

If you run `bazel build //:query` you get this failure:

[code]

Interestingly if you omit the `//:` from the target, it skips the `genquery` all together:

[code]

If you just query this target, it works:

[code]

I'm not sure what the expectations are around genquery and it's similarity to query, but it would be ideal in this case if genquery would also succee

[2021-02-02 19:20] communikit commented on #11883
I can send in a PR moving it over - do you have any feelings about where exactly this should live? Perhaps under "Bazel internals"?

[2021-02-02 19:41] katre commented on #12897
The target platform is loaded before toolchains are actually resolved, but I'm not sure there's a good way to pass that information back out to ConfiguredTargetFunction along with the resolution error.

There are a lot of arguments for making all toolchains optional (and letting rules themselves throw errors if they need a toolchain that doesn't exist), and this seems to be one of them.

[2021-02-02 21:47] aiuto commented on #11883
It is not internals.  This is a listing of vendors, so it is a sibling in concept to the Bazel Experts page.
The "External resources" section of the sidebar is the most logical place for the link to the listing

It's not a direct "move". It is more of a split of https://docs.bazel.build/versions/3.4.0/remote-execution.html

The page title, description and requirements should stay in the versioned

[2021-02-03 00:08] ahumesky commented on #5354
Hi all,
We've pushed a few updates to a "pre-alpha" branch of the rules_android repo:
https://github.com/bazelbuild/rules_android/tree/pre-alpha

These updates contain a significant amount of the Starlark code for the Android toolchains, resource processing, and the android_library rule. It should be possible to build an Android app using the Starlark version of android_library, and the native (i.

[2021-02-03 00:53] GMNGeoffrey commented on #12406
Just for future people who are perhaps interested in this feature for the same reason, we ended up just turning off all host build diagnostics. We build everything we care about as a target as well, so we'll see the diagnostics there.

https://github.com/google/iree/blob/a15d08f3adba62b9541824fc55e5501711da08f5/build_tools/bazel/iree.bazelrc#L84

[2021-02-03 01:16] konste opened #12951 "User defined build setting value is ignored when the setting is referenced using its own workspace name"
### Description of the problem / feature request:

User defined build setting specified on the command line is silently ignored (and default value of the setting is used instead) when the setting target label explicitly includes its workspace name.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

I have setup a minimal repro [here](h

[2021-02-03 02:24] coeuvre commented on #12554
The linked patch works for Bazel but need some work on internal code to pass the tests. Bumping down to P2.

[2021-02-03 02:25] bjacklyn opened #12952 "Update l.gcr.io/google/bazel:latest bazel docker image to bazel version 4.0.0"
### Description of the problem / feature request:

 `l.gcr.io/google/bazel:latest` is currently using bazel 3.5.0, let's get this upgraded to 4.0.0

### Feature requests: what underlying problem are you trying to solve with this feature?

Wanting to use bazel 4.0.0

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[code]

### What ope

[2021-02-03 08:20] dmivankov opened #12953 "4.0.0: git_repository patch_cmds can no longer inspect git references"
### Description of the problem / feature request:

Using commands like `patch_cmds = ["git ... origin/smth .. HEAD^"]` worked in 3.3.1 but broke in 4.0.0

[code]

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

WORKSPACE
[code]

This was useful to make assertions on commits, like commit is successor (or ancestor) of certain branches.

[2021-02-03 08:29] UebelAndre opened #12954 "Directories from glob are not marked as directories"
### Description of the problem / feature request:

Directories included from [glob](https://docs.bazel.build/versions/master/be/functions.html#glob) using `exclude_directories = 0` do not correctly return `True` for [File.is_directory](https://docs.bazel.build/versions/master/skylark/lib/File.html#is_directory).

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a mi

[2021-02-03 10:36] dmivankov commented on #12953
Likely caused by https://github.com/bazelbuild/bazel/pull/10137
and related to https://github.com/bazelbuild/bazel/issues/8969
I'm not sure it qualifies as a non-breaking change

[2021-02-03 12:12] f00kat opened #12955 "Enable AddressSanitizer for CL on Windows"
Bazel 3.7.2. Windows x64.

I'm learning to work with bazel and for the exercise I decided to add AddressSanitizer(ASAN) support to my solution.

How I want to configure ASAN:
 1. Enable/Disable ASAN via build settings.
 2. Choose dynamic/static ASAN linkage via build settings.
 3. Enable ASAN for CL and for CLANG-CL via config setting.

I have done all configuration stuff but I'm not sure that I d

[2021-02-03 12:36] xiedeacc opened #12958 "test:unit_test --test_env HEAPCHECK=normal doesn't take effect in .bazelrc"
bazel 3.7.2
I define test:unit_test --test_env HEAPCHECK=normal in .bazelrc under workspace, but It didn't take effect, unless use this command: bazel test --test_env HEAPCHECK=normal --test_env PPROF_PATH=/usr/local/bin/pprof //..., bazel run unit test binary with memory leak detect, but I hope these two env variable defined in .bazelrc effects

[2021-02-03 12:49] xiedeacc commented on #12958
I use a wrong way, change test:unit_test --test_env HEAPCHECK=normal to build --test_env="HEAPCHECK=normal" works

[2021-02-03 12:49] #12958 closed

[2021-02-03 12:54] ulfjack opened #12959 "3.7 release broke JavaBuilder errors; please create patch release"
### Description of the problem / feature request:

JavaBuilder doesn't reliably flush stderr when *not* using persistent workers.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Build a `java_binary` rule with a source file that has a compile error, like so:
[code]

[code]

[code]

### What operating system are you running Bazel on?

[2021-02-03 12:56] ulfjack commented on #12959
I'd like to request a patch release 3.7.3 with the fix (does this require a release of JavaBuilder?). If that is not going to happen, then we'll have to recommend avoiding 3.7.x (or create our own patch release).

[2021-02-03 13:56] larsrc-google commented on #12959
Thanks for bringing this to my attention! That fix looks fine, I'll bring
it in and get a patch out.

-Lars
On Wed, 3 Feb 2021 at 13:56, Ulf Adams <notifications@github.com> wrote:

[2021-02-03 15:57] thiagohmcruz commented on #7514
Got here while reading some things about `ctx.actions.symlink`, jump bump-ing that apparently this can be closed 👍

[2021-02-03 16:40] keith commented on #10564
We do still see this, happy to try to provide more logs if there's one I should be grabbing?

[2021-02-03 16:40] keith commented on #12842
I think @philwo was waiting on feedback for whether or not those binaries still reproduce the issue, does it still fail for you?

[2021-02-03 17:00] alexander-scott opened #12960 "View local cache hits and compare against remote cache hits"
### Description of the problem / feature request:

I would like to see in the bazel status/info line the local cache hits printed alongside the remote cache hits.

### Feature requests: what underlying problem are you trying to solve with this feature?

For solutions which involve a constantly changing local_cache/output_base, it would be useful to know how effective/up-to-date the local cache cur

[2021-02-03 17:09] paul-hammant commented on #12842
I scrubbed my Mojave instance I'm afraid. I could get it back to run a test, but I suspect it is OK to close this with should-be-fixed

[2021-02-03 17:29] gregestren commented on #12866
@sdtwigg has some input. Assigning accordingly for triage.

[2021-02-03 17:40] Bencodes commented on #10620
I just put up a PR that updates the other Java launcher path https://github.com/bazelbuild/bazel/pull/12946

[2021-02-03 18:51] gregestren commented on #12897
Do you think `ConfiguredTargetFunction` could just call https://github.com/bazelbuild/bazel/blob/8346ea4cfdd9fbd170d51a528fee26f912dad2d5/src/main/java/com/google/devtools/build/lib/skyframe/PlatformLookupUtil.java#L50 directly, constructing that platform key with https://github.com/bazelbuild/bazel/blob/8346ea4cfdd9fbd170d51a528fee26f912dad2d5/src/main/java/com/google/devtools/build/lib/skyframe/

[2021-02-03 19:02] katre commented on #12897
I think that would work to get a target platform. I can't say about the logic for the incompatible platform provider.

[2021-02-03 19:25] michaeledgar commented on #6704
@ashi009 is correct about the intent behind BEP's JSON output: all output formats are intended to be consumed in a streaming fashion. This is also true of the output produced by `--build_event_text_file`, which contains a sequence of [BuildEvent messages as defined in build_event_stream.proto](https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/buildeventstr

[2021-02-03 19:25] #6704 closed

[2021-02-03 19:43] gregestren commented on #12844
This sounds reasonable.

I believe the solution requires:

1. Update https://github.com/bazelbuild/bazel/blob/8346ea4cfdd9fbd170d51a528fee26f912dad2d5/src/main/cpp/rc_file.h (the parser for bazelrc files) to include entries for empty keys. This may require some special  *null* value representation.
2. This is used in https://github.com/bazelbuild/bazel/blob/8346ea4cfdd9fbd170d51a528fee26f912dad2d5

[2021-02-03 22:04] GMNGeoffrey commented on #12631
This is a dupe of #12630. I think I double-posted because it seemed like GitHub had lost the issue the first time or something

[2021-02-03 22:06] GMNGeoffrey commented on #12630
Running clean multiple times a day... I'll just drop this quote from the Bazel docs

https://docs.bazel.build/versions/master/user-manual.html#the-clean-command

P3 :eyes:

[2021-02-04 02:37] juliexxia commented on #12559
(Context: I'm moving on from Bazel on friday and spending some time triaging all bugs assigned to me before unassigning myself)

Both //command_line_option:copt and //command_line_option:linkopt should use `[]` instead of None to indicate an empty value since they are stored as [List types](https://cs.opensource.google/bazel/bazel/+/master:src/main/java/com/google/devtools/build/lib/rules/cpp/CppO

[2021-02-04 02:38] juliexxia commented on #12386
(Context: I'm moving on from Bazel on friday and spending some time triaging all bugs assigned to me before unassigning myself)

If I remember correctly, we found a suitable workaround for y'all on the call and I'm hoping since I haven't heard back it's doing it's job. Closing.

[2021-02-04 02:38] #12386 closed

[2021-02-04 02:40] juliexxia commented on #12808
(Context: I'm moving on from Bazel on friday and spending some time triaging all bugs assigned to me before unassigning myself)

Just tried the repro with release bazel and got the described error, but tried with bazel built at head and got the expected warning. I haven't tried to figure out what change resulted in that but I'd request trying this again when the new release comes out and see if it

[2021-02-04 02:41] #12006 closed

[2021-02-04 02:42] juliexxia commented on #11531
(Context: I'm moving on from Bazel on friday and spending some time triaging all bugs assigned to me before unassigning myself)

Was originally assigned to me because it might be related to starlark shorthand aliases but I don't think it actually is. I agree, doc updates are what's needed.

[2021-02-04 02:50] juliexxia commented on #11409
(Context: I'm moving on from Bazel on friday and spending some time triaging all bugs assigned to me before unassigning myself)

I just confirmed that this repros with both Blaze and Bazel. The fail gets reported as an error, but as Jay mentioned, it doesn't seem to fail the actual build and it tries to run the shell command.

The code that needs to be updated is likely right in here: https://cs.o

[2021-02-04 02:57] juliexxia commented on #11250
(Context: I'm moving on from Bazel on friday and spending some time triaging all bugs assigned to me before unassigning myself)

There is ongoing work for deprecating execution info in tags but that's not strictly in scope of exec groups so I'll close this.

[2021-02-04 02:57] #11250 closed

[2021-02-04 03:04] juliexxia commented on #8377
(Context: I'm moving on from Bazel on friday and spending some time triaging all bugs assigned to me before unassigning myself)

This is still a confusing thing. `cfg` should be documented for both the `rule()` function ([which can only be a starlark transition](https://cs.opensource.google/bazel/bazel/+/master:src/main/java/com/google/devtools/build/lib/analysis/starlark/StarlarkRuleClassFunction

[2021-02-04 03:09] juliexxia commented on #11309
(Context: I'm moving on from Bazel on friday and spending some time triaging all bugs assigned to me before unassigning myself)

Yes this should still happen. Label-typed build settings should be able to deprecate configuration field since they fulfill the same purpose. [Here's an e2e example of using label-typed build settings](https://github.com/bazelbuild/examples/tree/master/rules/starlark_con

[2021-02-04 03:11] juliexxia commented on #2932
(Context: I'm moving on from Bazel on friday and spending some time triaging all bugs assigned to me before unassigning myself)

Agree this should happen. Also probably good to mention in any ctx.fragments documentation the existence of starlark build settings and link to them. An important thing to note for this documentation is that specific options are exposed to starlark on an ad-hoc basis so

[2021-02-04 03:12] juliexxia commented on #6939
(Context: I'm moving on from Bazel on friday and spending some time triaging all bugs assigned to me before unassigning myself)

Since we haven't heard in a while I'm closing this issue but feel free to reopen if you're still having issues.

[2021-02-04 03:12] #6939 closed

[2021-02-04 03:17] juliexxia commented on #11117
(Context: I'm moving on from Bazel on friday and spending some time triaging all bugs assigned to me before unassigning myself)

Hi there, apologies for dropping this issue. I know it's been a while, so let us know if this is still causing issues and the configurability team will further triage.

[2021-02-04 05:49] davido commented on #7849
@comius

On Bazel@HEAD (32fc451600b6e94a015263eb1c8a63e974f6f4cc)m after flipping of: `--incompatible_use_toolchain_resolution_for_java_rules` all `toolchain` parameters don#t have any affect. IOW, if I am using:

[code]

Then it works, but it doesn't produce Java major byte version 59:

[code]

To make it work again, I have to explicitly specify: `--incompatible_use_toolchain_resolution_for_java_

[2021-02-04 06:51] errangutan commented on #11117
Hey Julie,
I apologize but since submitting this bug I haven't touched bazel, since
shortly after I transitioned to a new position where I work, and I dont
remember the bug nor have a setup ready.

Regards, Erran.

On Thu, Feb 4, 2021, 05:17 Julie <notifications@github.com> wrote:

[2021-02-04 07:45] comius commented on #7849
This is expected. Flag has been flipped at head and old toolchain parameters don't have any effect unless you un-flip.

This would potentially make transition less smooth. So if you're using two bazel versions, rejecting old flags would force you to upgrade bazel. Ignoring old flags makes it possible to have two sets of flags and thus support two versions of bazel at the same time.

Some warning m

[2021-02-04 08:51] davido commented on #7849
Thanks for clarification.

That's very disruptive change. If users missed the release notes, they are screwed up. The build works, but produces wrong/unexpected results...

[2021-02-04 08:53] limdor commented on #12887
I can confirm the same what @bjacklyn was saying, updating rules_proto only is not enough. I still do not have the information of which is the minimum version of com_google_protobuf that can be used applying cleanly the patches mentioned. If someone has this information would be very great to add it to this ticket.

[2021-02-04 10:59] tommyknows commented on #11920
i just ran into this too, and had to set `run --remote_download_outputs=all`, as we are pushing different artifacts (like docker images) through a single runnable target with `multirun`. If one specifies `remote_download_toplevel`, `multirun` is available, but the docker images that it should push are not (so the runfiles are missing).
This can be mitigated by explicitly building these runfiles fi

[2021-02-04 15:01] juliexxia commented on #11117
No apologies needed, since the original bug as defined by the title is WAI, I'm going to close this issue. Thanks for the update!

[2021-02-04 15:01] #11117 closed

[2021-02-04 15:38] juliexxia commented on #12888
Hi Stefan,

Your issue isn't actually one I've seen before. But I know there's traditionally some friction between the java `null` value and the Starlark `None` value. I augmented your transition to try to manually bypass that as such:

[code]
And now with `bazel test //examples/...` am getting a different error that seems to have to do with c++ compilation (apologies, very much not my realm of ex

[2021-02-04 16:10] kigero opened #12961 "singlejar is not runnable on Alpine Linux"
### Description of the problem / feature request:

singlejar_local is not executable on alpine linux.

### Feature requests: what underlying problem are you trying to solve with this feature?

Building a jar with resources.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Given the following four files (note that WORKSPACE is empty):

[2021-02-04 17:15] shahms commented on #10656
While the manual process works (if you know about it), it seems like it should be possible for bazel to detect changes in the compiler and re-run the relevant repository rules automatically.

[2021-02-04 18:18] jheaff1 commented on #10904
I too would be interested in this. Specifically, I would like to set `--distdir=${SOME_VARIABLE}` in my `.bazelrc`

[2021-02-04 18:37] Wyverald opened #12963 "Labels in repo rule impls disregard repo_mapping"
Not entirely sure whether this is a bug. This happens when you call the `Label("@some_repo//something")` function to construct a label in the impl of a repository rule -- if the repo rule is defined in repo X that maps "some_repo" to "some_other_repo", you'd expect that the label would end up point to "some_other_repo"; but no, "some_repo" is used.

This can be a bit surprising, since it differs f

[2021-02-04 19:13] lgalfaso opened #12964 "Java annotation processors do not have access to resources"
When executing a Java annotation processor, it does not have access to the resources referenced by the originating class.

[code]

Where `target` contains a class that has an annotation that makes reference to a resource in `:res`.

The resources are attempted to be loaded doing
[code]
and if that fails, with
[code]

At first, it looks like the issue was that in the classpath there were only java

[2021-02-04 20:34] jdai8 opened #12965 "Gzipped profiles don't load in chrome"
### Description of the problem / feature request:
Gzipped profiles (e.g. `command.profile.gz`) don't load in `chrome://tracing`, with this error in the console:
[code]

### Feature requests: what underlying problem are you trying to solve with this feature?
N/A

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.
1. Run a build (I used ht

[2021-02-04 23:21] pcjanzen commented on #12965
IIRC this is an error in chrome, not in bazel: gzipped files smaller than 4k don't work.

[2021-02-04 23:21] alblue opened #12966 "Documentation issue: Migrating from Maven to Bazel – JCenter reference needs to be removed"
Documentation URL: https://docs.bazel.build/versions/master/migrate-maven.html

The "Migrating from Maven to Bazel" document highlights the use of jcenter over Maven Central.

JCenter is shutting down on May 1st and will no longer be accessible, so the document needs to be updated to remove the JCenter reference.

https://www.infoq.com/news/2021/02/jfrog-jcenter-bintray-closure/

[2021-02-05 08:09] comius commented on #7849
This will be partially rectified on second rolling release and on LTS release as the old flags will be removed and builds will break.

[2021-02-05 08:50] #12816 closed

[2021-02-05 09:40] shs96c opened #12968 "`bad path element` warnings when compiling java with bazel 4"
### Description of the problem / feature request:

When compiling java code with bazel 4, builds occasionally produce spurious `bad path element` warnings in an otherwise clean build. This behaviour wasn't seen in bazel 3.7.2.

The warnings is typical of a problem caused by `javac` attempting to interpret the `Class-Path` manifest attribute and being unable to locate jars mentioned there. This sho

[2021-02-05 09:42] illicitonion commented on #12968
/cc @cushon - This feels like your corner of the world?

[2021-02-05 10:02] tferi commented on #6377
It would also be useful to know the definition of the remote repository in case of transitive dependencies. For instance in my case rules_docker added a dependency on rules_go, and I couldn't figure out which version it pulled in.

[2021-02-05 10:41] davido commented on #7849
**Bazel 4.0.0**: `--incompatible_use_toolchain_resolution_for_java_rules` is un-flipped, and the command: `bazel build java/com/google/gerrit/common:server` would produce (as expected) Java 11 byte code.

**Bazel 4.1.0**: `--incompatible_use_toolchain_resolution_for_java_rules` is flipped, and the command: `bazel build java/com/google/gerrit/common:server` would erroneously produce Java 8 byte cod

[2021-02-05 10:50] meisterT commented on #7849
We should not enable incompatible flags in non major releases.

[2021-02-05 10:55] shs96c commented on #12968
Digging deeper, the problem appears to be this [line in BlazeJavacMain](https://github.com/bazelbuild/bazel/blame/master/src/java_tools/buildjar/java/com/google/devtools/build/buildjar/javac/BlazeJavacMain.java#L105) where, no matter what the flags passed in `-Xlint:path` is forced to be enabled. This was part of https://github.com/bazelbuild/bazel/commit/fb0f51d1e57104c765b19ba6f1fb17f636c3bf79 a

[2021-02-05 10:56] davido commented on #7849
But it was flipped on Bazel@HEAD in c2485f67601cf7c79c5a49b29fb23194f7a7e9ab. So, whatever the next Bazel release would be, it would be included?

[2021-02-05 11:02] meisterT commented on #7849
cc @philwo

Did you see the announcement here: https://blog.bazel.build/2020/11/10/long-term-support-release.html?

The incompatible change will be part of the rolling releases (that you can opt into but don't have to). The rolling release numbers will start with 5, the next major release.

The LTS track (currently the 4.0 branch) will only receive backwards compatible changes, most prominently bu

[2021-02-05 11:09] shs96c commented on #12968
Removing the line where lint checking of paths is enabled leads to incorrect warnings about strict java deps violations, so I think that there's more to the fix than simply deleting the extra option.

[2021-02-05 15:04] #12926 closed

[2021-02-05 16:35] kigero commented on #12961
Interestingly, I checked out the source code and tried building singlejar directly in that alpine environment and it worked, so I'm not sure what's going on with the one that gets used as part of my build.  Maybe it's not actually built locally and just downloaded - and if that is the case, is there a way I can build it separately and tell bazel to use that version?

[code]

[2021-02-05 18:52] kdehairy commented on #12968
I have same issue. And after some code navigation, I found that the only way around that is to pass the undocumented (to the extent of my knowledge) `Werror:-path` instead of the standard `Xlint:-path` and `Werror`. But I don't like it at all. It removes the distinction between both flags.

[2021-02-05 20:28] meisterT commented on #12959
Cc @katre

[2021-02-05 21:33] allada commented on #11920
@tommyknows, I have seen this happen before when we had a custom `rule` that was not properly declaring outputs. You may want to look into ensuring that if you are using custom `rule`s to ensure you are using `DefaultInfo` properly and possibly `providers`.  We had to do some logic like:
[code]

It took us quite some time to get this figured out, but at the end of the day doing some fancy `Default

[2021-02-05 21:55] cushon commented on #12968
cc @comius

`ijar` normally sanitizes `Class-Path` manifest entries because they aren't useful with Bazel (e.g. because of sandboxing, and because they typically aren't using paths that match the layout of `bazel-out/`). The repro uses `rules_jvm_external`, which disables `ijar` (e.g. https://github.com/bazelbuild/rules_jvm_external/issues/263). However it does have a custom tool that's updating m

[2021-02-05 22:37] brandjon opened #12971 "`Label` crashes in BUILD files"
(Context: #12963)

When you try to call `Label` within a BUILD file, you're treated to an NPE crash.

`Label` is not ordinarily accessible in BUILD files, but you can bind it to a symbol with a different name, and load that symbol instead.

The crash is because `Label` attempts to retrieve the BazelModuleContext of the calling file, which doesn't exist for `BUILD` files.

This makes it harder to u

[2021-02-05 22:38] brandjon commented on #12963
Yep, this sounds like the repo remapping not being propagated to all contexts where we construct `Label`s. I expect this mode of bug to be present in some other circumstances too, and it remains open work to nail down the concept of repo remapping and to what extent we wish to continue to support it as a feature. (If we do support it, we should make it harder to misapply it.)

Right. Calls to `Lab

[2021-02-05 22:46] cushon commented on #12968
@shs96c I'm a little surprised by that and am having trouble repro'ing, do you have any more context on the strict deps errors you saw when you tried that?

[2021-02-05 22:52] brandjon commented on #12963
My reading of the code is that the repo mapping is set [here](https://github.com/bazelbuild/bazel/blob/0e8d94ca49e40eab0778a1c3d80e98e8667ac8e3/src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkRepositoryFunction.java#L159):

[code]

But `rule.getPackage()` would be the `WORKSPACE` file (`WORKSPACE` is analogous to `BUILD`, repository rule instantiations are analogous t

[2021-02-06 01:00] tomrenn opened #12972 "Bazel occasionally crashes after a cancelled task on dynamic builds"
### Description of the problem / feature request:

When running `bazel build`, Bazel crashes with the following stack trace

[code]

and

[code]

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

I have only been able to reproduce the problem in a project using `--experimental_spawn_scheduler`. I have not seen this issue with local-onl

[2021-02-06 02:41] 372046933 commented on #10653
I found that janakdr's solution works on a simple Bazel project which have very little external dependency. But `BAZEL BUILD TARGET` still fails on complex projects like `serving`

[2021-02-06 10:45] davido opened #12973 "Bazel@HEAD is broken after incompatible_use_toolchain_resolution_for_java_rules option flip"
As explained in detail in this https://github.com/bazelbuild/bazel/issues/7849#issuecomment-773049011 Gerrit Code Review [project](https://gerrit.googlesource.com/gerrit) is inherently broken after `--incompatible_use_toolchain_resolution_for_java_rules` option flip on Bazel@HEAD (in c2485f6).

The breakage can be seen locally and on RBE. The breakage is very subtle: build works, but the final art

[2021-02-06 16:36] janakdr commented on #10653
Basic question for people experiencing this issue: can the "alternate" output_root invocation just pass `--symlink_prefix=/`? If the invocation is being done by an automated process, it shouldn't need those convenience symlinks at all, and it means that your build outputs would remain easily accessible even without doing another build.

[2021-02-06 19:49] cushon commented on #8585
Java 11 source should be fully supported in turbine as of https://github.com/bazelbuild/bazel/commit/10ffddb13ac070f2c6b9d64cb927ab3b659c0b72

[2021-02-06 19:49] #8585 closed

[2021-02-07 09:02] xiedeacc opened #12975 "what's project root path variable in bazelrc file"
bazel 3.7.2
I want to generate gperftools cpu perf file under project root directory(contains WORKSPACE file), so I put
build --test_env="CPUPROFILE=%workspace%:prof.out"  in .bazelrc file, but bazel didn't generate it, If I change
build --test_env="CPUPROFILE=%workspace%:prof.out" to build --test_env="CPUPROFILE=/path/to/project_root_dir/prof.out", bazel generate cpu profile file, so how can I us

[2021-02-08 00:42] uri-canva commented on #12968
I can repro:
[code]

[2021-02-08 03:49] warriorstar-orion commented on #1952
Hello,

As of today (2021-02-07) the master build encyclopedia still suggests that usage of bind() is not recommended, with a link to this bug. If it is indeed the case, as in https://github.com/bazelbuild/bazel/issues/1952#issuecomment-629113959, that there are no plans to deprecate bind(), and—as commented upon above by several—exists to solve problems that cannot be solved in an alternative man

[2021-02-08 05:25] kkzheng opened #12976 "Documentation issue: Common C Build Use Cases"
Documentation URL: https://docs.bazel.build/versions/master/cpp-use-cases.html

when i run the command:
         bazel test test:hello-test
i got a error:
ERROR: /opt/meituan/zhangjinhao05/bazel_build_example/cpp-tutorial/stage3/test/BUILD:1:1: no such package '@gtest//': Traceback (most recent call last):
	File "/root/.cache/bazel/_bazel_root/5bac4b831d23b0a51bee0286e6bbac18/external/bazel_tools/

[2021-02-08 06:35] kkzheng commented on #12976
i got it.
touch BUILD at your WORKSPACE root

[2021-02-08 06:35] #12976 closed

[2021-02-08 07:50] meisterT commented on #1952
@Wyverald how does `bind` fit into the overhaul of external deps?

[2021-02-08 08:33] shs96c commented on #12968
@cushon I just rebuilt the java builder binary from source with the change to `-Xlint:path` backed out and reran the command manually.

I'm curious about _why_ the flag is set: the commit doesn't really explain the reasoning, but it doesn't seem arbitrary.

[2021-02-08 08:39] kdehairy commented on #12968
@cushon  What I mean is `-Xlint` flag is concerned with declaring "what warnings are you interested in", where `-Werror` flag is only concerned with "whether you want to fail the build for those or not".

With the `-Xerror:`, the concerns are overlapping and will get confusing. IMO.

[2021-02-08 09:07] larsrc-google commented on #12972
So when a local execution (regardless of local strategy) is cancelled while in the middle of fetching files from a remote cache, it may end up throwing a `CancellationException` instead of an `InterruptedException`, and the former isn't handled properly.

Maybe there's a race condition in `com.google.devtools.build.lib.remote.util.Utils.getFromFuture()` if more than one thread holds a reference to

[2021-02-08 09:29] Wyverald commented on #1952
Overall, I don't think `bind()` can exist in the new world (for anyone lacking context: the [external deps overhaul](https://docs.google.com/document/d/1moQfNcEIttsk6vYanNKIy3ZuK53hQUFq1b1r0rmsYVg/edit)). This is admittedly a long thread, and after reading through some of the comments, I think most (if not all) usages of `bind()` can be replaced with repo_mapping and/or alias.

[2021-02-08 09:33] Wyverald commented on #12963
What do you mean? Is there a plan to remove repo mapping? bzlmod makes extensive use of repo mapping to support repo renaming (`bazel_dep.repo_name`), and having dependencies on multiple versions of the same module (`override_dep.allow_multiple_versions`). Or did you mean that repo renaming needs to be changed to some other form?

[2021-02-08 09:52] sdtwigg commented on #12866
Unfortunately, this feature request is not especially feasible under our current architecture. As I discovered in one of my plans to fix-up `--trim_test_configuration`, test action creation and discovery is a bit too intricate. (My original plan was to create the TestAction, which is the main use of TestConfiguration including test_args outside of the build graph. However, this required refactorin

[2021-02-08 11:37] comius commented on #12762
@deanwampler Could you provide a repo with minimal reproduction? A test that needs resources? Does it happen using only Java or is this truely a scala issue?

[2021-02-08 12:18] comius commented on #10825
The culprit is `@bazel_tools//tools/test:coverage_report_generator`, which is written in Java.

Bazel defaults to execute code with local JDK (to prevent failures when user upgrades Bazel version).

You can use `--java_runtime_version=remotejdk` (Bazel@HEAD) or `--javabase=@remotejdk11_linux//:jdk` to use remote JDK also for execution and you won't need to install JDK locally.

[2021-02-08 12:18] #10825 closed

[2021-02-08 12:36] comius commented on #11390
Can't reproduce on Bazel@HEAD and latest Zulu JDK8. I assume the issue was fixed.

Reproduction is here https://github.com/comius/issue_11390.git

[2021-02-08 12:36] #11390 closed

[2021-02-08 13:21] katre commented on #12959
I see that 56f506c doesn't introduce a test. Let me see if I can reproduce the problem with 3.7.3 so that I can verify whether it's fixed after.

I will try to produce a 3.7.4 with the fix, but given the age, if the cherrypick doesn't apply cleanly I may not be able to proceed.

[2021-02-08 13:27] katre commented on #12188
Attempting to create release 3.7.3 to address #12959.

[2021-02-08 13:49] katre commented on #12959
Okay, I created a candidate for 3.7.3 which cherry-picks 56f506c09facdac840db5b94821e9d507926440a, and that does not fix the observed error:

[code]

Testing with Bazel 4.0.0 does correctly show the syntax error, however. Is there another commit that needs to be included?

[2021-02-08 14:01] #10382 closed

[2021-02-08 14:02] philwo commented on #10377
IIUC a solution / workaround was given in the discussion here. Please reopen if this is still an issue.

[2021-02-08 14:02] #10377 closed

[2021-02-08 14:20] philwo commented on #12894
Hi, we cannot test Bazel on or develop any patches for macOS Mojave ourselves, as we usually upgrade quickly after a new version comes out. However I'm happy to take patches if someone wants to contribute.

That said, does the last update mean that this issue is resolved now (by upgrading Xcode)?

[2021-02-08 14:22] philwo commented on #12878
team-xProduct cannot help here, we don't know anything about Maven. Reassigning to team-Documentation.

[2021-02-08 14:25] philwo commented on #12952
We're tracking this in https://github.com/bazelbuild/continuous-integration/issues/1060.

[2021-02-08 14:25] #12952 closed

[2021-02-08 16:24] philwo commented on #9358
Can you still reproduce this? I think a few improvement to the bash-completion have been made in the meantime and I can't recall seeing this myself.

[2021-02-08 16:26] philwo commented on #9278
Is this still an issue?

[2021-02-08 16:33] philwo commented on #9405
This is not a Bazel issue. Tensorflow team just forgot to mirror these artifacts, nothing we can do.

[2021-02-08 16:33] #9405 closed

[2021-02-08 16:34] philwo commented on #9397
Is this still an issue?

[2021-02-08 16:34] philwo commented on #9393
RHEL6 is not supported, sorry.

[2021-02-08 16:34] #9393 closed

[2021-02-08 16:35] #9380 closed

[2021-02-08 16:36] philwo commented on #9431
I'll close this as it's very probably obsolete by now (a lot of things have changed since Bazel 0.17.2). Please reopen if it's still an issue.

[2021-02-08 16:36] #9431 closed

[2021-02-08 16:41] philwo commented on #10069
Link no longer leads to a 404 page.

[2021-02-08 16:41] #10069 closed

[2021-02-08 16:47] philwo commented on #10040
I think this is fine and supported by semantic versioning:

[2021-02-08 16:58] philwo commented on #9449
Sounds like a problem with your local environment and not a bug in Bazel.

[2021-02-08 16:58] #9449 closed

[2021-02-08 17:00] philwo commented on #10153
Is this still an issue? To be honest, the chance of us being able to reproduce, debug and fix this is probably very slim, unless we can find some way how to consistently reproduce it. :/

[2021-02-08 17:01] #10189 closed

[2021-02-08 17:08] philwo commented on #9268
Sorry, we cannot help with this here. If it's still an issue, consider asking on StackOverflow or on the bazel-discuss mailing list.

[2021-02-08 17:08] #9268 closed

[2021-02-08 17:10] shahms commented on #11736
Potentially related to this (but I can open a separate bug if desired) is that command-line aspects can't inspect providers or actions supplied by other aspects on the transitive dependencies they've propagated down.  For example:
[code]
Given the above, a command line aspect applied to `:leaf_cc_proto` can see the actions and providers on the `deps` edge between `:leaf_cc_proto` and `:leaf_proto`

[2021-02-08 17:12] philwo commented on #10291
The `--host_action_env=` flag is available to modify the PATH for host-configured actions now.

[2021-02-08 17:12] #10291 closed

[2021-02-08 17:20] #7703 closed

[2021-02-08 18:44] #7443 closed

[2021-02-08 18:51] philwo commented on #9443
@mai93 Hey Mai, this might be an interesting feature request for you. Assigning it as a P2, so you can have a look and prioritize.

[2021-02-08 19:01] dhalperi commented on #12894
Is it obvious why CI can't have older versions of OS X -- I imagine mainly maintainer time.

I'd say the best resolution would be to advertise expected support for macOS (and other platforms): which versions are tested, which are used by developers, etc. And to update in release notes when they change. Presumably this issue can serve as notification of resolution for macOS users who have developer

[2021-02-08 19:05] divanorama opened #12978 "[request] robust way to specify LD_LIBRARY_PATH for java/javac"
### Description of the problem / feature request:

Bazel builds aren't fully hermetic in many cases
- some build rules rely on `#!/usr/bin/env bash` + common utilities
- repository rules rely on host commands (env, git, gcloud, go, tar, zip, python, grep, which, sed, bash, node,...)
- compilers (like remote_jdk11 javac) may be dynamically linked and relying on host libraries (like libz.so.1)
- dyn

[2021-02-08 20:20] philwo commented on #12894
Maintainer time and effort is one factor, also limited hardware - we only have 20x iMac Pros to run Bazel CI on and as we don't use virtualization for performance reasons, it's not (easily) possible to run different versions of macOS side-by-side. :/

It's a good idea to document the supported / tested macOS versions, I agree. Currently we are still running Catalina on the CI machines, so all rece

[2021-02-08 21:53] divanorama commented on #12978
Another a bit involved case is https://github.com/bazelbuild/rules_nodejs/blob/stable/internal/providers/node_runtime_deps_info.bzl#L148 - here a rule does _some_ `env` setup, so it can't(?) even apply `use_default_shell_env=True` or `--action_env=...`/`--repo_env=...`. When it is used to call typescript compiler wrapper `tsc.sh` which has `#!/usr/bin/env bash` + the script uses tools like grep, w

[2021-02-08 22:40] communikit commented on #11883
Ah, I see - I initially read this as wanting the entire remote-execution.md page moved.

[2021-02-08 23:19] philwo commented on #8957
Looks more like a Git bug to me. Not sure what Bazel could do to fix / workaround this. 🤔 Is this still an issue?

[2021-02-08 23:25] floriographygoth commented on #12878
Hi @divanorama

is this something where you can provide a draft for us or create a PR? Happy to help from an editorial standpoint, but we don't have the immediate expertise to create the docs.

Thanks!

[2021-02-08 23:26] philwo commented on #8382
Later versions of Bazel should work just fine on arm64 and we also provide official release binaries for Linux arm64 now. Closing this, but please let me know in case there's anything else to do here.

[2021-02-08 23:26] #8382 closed

[2021-02-08 23:26] #8356 closed

[2021-02-08 23:28] #3062 closed

[2021-02-08 23:30] #3445 closed

[2021-02-08 23:33] philwo commented on #4161
Closing, as the mentioned repo has BUILD files now.

[2021-02-08 23:33] #4161 closed

[2021-02-08 23:36] philwo commented on #4746
I'm sorry, I don't understand what is asked for in this issue. What is a "default workspace"? What's the current behavior and what's the expected behavior of Bazel?

[2021-02-08 23:36] divanorama commented on #12978
One more thing that can negate fix attempts is that rules can disable sandboxing (I'd say an .bazelrc option to enforce sandboxing can be useful) via `execution_requirements` or `tags`, also not very clear if fixes via sandbox setup would apply to process workers when `--worker_sandboxing` isn't set

[2021-02-08 23:39] #5330 closed

[2021-02-08 23:43] #6734 closed

[2021-02-08 23:45] #6339 closed

[2021-02-08 23:46] floriographygoth commented on #12781
Thanks! We will update the Build Encyclopedia and take a look for the correct home for conceptual information regarding rule vs. genrule tradeoffs.

[2021-02-08 23:47] philwo commented on #6252
Seems obsolete now that maven_jar is gone?

[2021-02-08 23:47] #6252 closed

[2021-02-08 23:49] #243 closed

[2021-02-08 23:49] #1797 closed

[2021-02-08 23:50] #1506 closed

[2021-02-08 23:51] #964 closed

[2021-02-08 23:55] philwo commented on #12860
Agreed, uninstall instructions that include removal steps for the output base folder would be nice.

[2021-02-08 23:55] philwo commented on #12338
Is there anything left to do here?

[2021-02-08 23:57] #11608 closed

[2021-02-08 23:59] philwo commented on #9467
Is this fixed by `--host_action_env=PATH=`?

[2021-02-08 23:59] philwo commented on #9060
Pretty sure that has been fixed with improvements to process management on Windows since then.

[2021-02-08 23:59] #9060 closed

[2021-02-09 00:00] #8968 closed

[2021-02-09 00:02] #4227 closed

[2021-02-09 00:02] philwo commented on #12685
Is this still an issue?

[2021-02-09 00:05] philwo commented on #9306
@meteorcloudy Is this still an issue?

[2021-02-09 00:05] #8940 closed

[2021-02-09 00:06] #7082 closed

[2021-02-09 00:07] philwo commented on #3963
@laszlocsomor If you still remember, what does it mean to update these scripts to support long paths on Windows? What kind of changes are required to the code?

(Or feel free to just close this issue, if it's no longer relevant.)

[2021-02-09 00:09] #3192 closed

[2021-02-09 00:10] #3143 closed

[2021-02-09 00:12] philwo commented on #12765
I don't see what Bazel can do here - isn't this an issue with RBE (the backend)?

[2021-02-09 00:15] philwo commented on #12960
I'm not sure what "local cache hits" even means here. 🤔  Does this refer to the `--disk_cache=` feature?

[2021-02-09 00:52] aiuto commented on #12781
IMO, if you should write documentation for it, so others can reuse it, make
a rule.

On Mon, Feb 8, 2021 at 6:46 PM floriographygoth <notifications@github.com>
wrote:

[2021-02-09 01:00] jdai8 commented on #12965
Confirmed that the files were smaller than 4k, and unzipping them works. Thanks @pcjanzen !

[2021-02-09 01:00] #12965 closed

[2021-02-09 04:44] HackAttack commented on #4327
The latest version of Boost (1.75) contains a header with a space in it, which is how I was bitten by this issue. boostorg/serialization#221

[2021-02-09 05:43] ittaiz commented on #4746
I'm not the original OP but I think the idea was about tools bazel ships with precompiled

[2021-02-09 07:08] laszlocsomor commented on #3963
To use `tools/android/junction.py` in every script that deals with long-path inputs/outputs. Example: `tools/android/aar_resources_extractor.py`

Junction targets can be ~32K long even while the junction itself is shorter than MAX_PATH. This trick lets the script work with inputs / outputs under long paths.

[2021-02-09 07:09] laszlocsomor commented on #3963
^ this is an example of a migrated script, i.e. one that can deal with long paths using `TempJunction` from `junction.py`.

[2021-02-09 07:26] pilkjaer commented on #12338
Flag seems to be documented on https://docs.bazel.build/versions/master/command-line-reference.html#flag--experimental_downloader_config so from user perspective probably not.

[2021-02-09 07:26] #12338 closed

[2021-02-09 07:34] meisterT commented on #12685
I think so, but https://github.com/bazelbuild/bazel/pull/12982 will tell us.

https://buildkite.com/bazel/bazel-bazel-github-presubmit/builds/8288 is the run on buildkite

[2021-02-09 08:15] moroten commented on #8957
`git fetch` with specifying `origin` solves the problem, see https://github.com/bazelbuild/bazel/blob/7abfa307aa9aa7daea0b2caeee9377861c060948/tools/build_defs/repo/git_worker.bzl#L124
It is working in Bazel 4.0.

[2021-02-09 08:15] #8957 closed

[2021-02-09 08:29] meteorcloudy commented on #9306
Hmm, yeah, this never happened. --legacy_external_runfiles still exists and default to `True`.
https://cs.opensource.google/bazel/bazel/+/master:src/main/java/com/google/devtools/build/lib/analysis/config/CoreOptions.java;l=425?q=legacy_external_runfiles&ss=bazel

[2021-02-09 08:41] meteorcloudy commented on #9467
Yes, this is fixed with `--host_action_env=PATH=`. I just verified on both macOS and Windows, they have the same expected behaviour.

[2021-02-09 08:41] #9467 closed

[2021-02-09 16:34] divanorama commented on #12878
One simple fix to do is just add a line like

There's a lot of plugins to cover https://maven.apache.org/plugins/, https://www.mojohaus.org/plugins.html and more. I could potentially spend some time looking for how to port some concrete plugin example, but don't have any collection of replacements or a generic recipe.

Maybe also follow with few recommended/popular extensions, which could include

[2021-02-09 17:10] oquenchil commented on #12975
Please ask on StackOverflow or bazel-discuss.

[2021-02-09 17:10] #12975 closed

[2021-02-09 18:29] jpan127 commented on #12972
Seeing this issue too.

[2021-02-09 18:55] dududko opened #12983 "missing method `to_json` on `struct` type"
### Description of the problem / feature request:

Missing method `to_json` on `struct` type. This is a breaking change which is not documented, and it results in build failure of many bazel extensions including `rules_docker`

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.
rule.bzl
[code]

BUILD.bazel
[code]

`bazel build //:my_targ

[2021-02-09 20:46] keith opened #12984 "aquery produces invalid `proto`, but valid `textproto`"
We have a case where we run an aquery like this:

[code]

Where the output proto cannot be parsed:

[code]

It also cannot be parsed via C++ or SwiftProtobuf.

But if you change it to output `textproto` instead, it can successfully be parsed with SwiftProtobuf.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

I can send over the prot

[2021-02-09 21:43] #12917 closed

[2021-02-09 22:19] shahms opened #12985 "pseudo actions omitted from Target.actions"
### Description of the problem / feature request:

When accessing Target.actions from an aspect, pseudo actions are absent.

### Feature requests: what underlying problem are you trying to solve with this feature?

Replacing extra_actions with aspects.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Given BUILD:
[code]

And aspect.b

[2021-02-09 22:26] keith commented on #11867
We still see this with 4.0.0:

[code]

[2021-02-09 23:58] floriographygoth commented on #11467
Laurent fixed 2 a while ago.
My understanding of 1 is that older versions are essentially read-only and we'd need to update the page headers with the noindex tag. Is there another way?

[2021-02-10 00:10] cushon commented on #12968
TL;DR I agree this is something that should be improved, the following is mostly context about how we got here / some of the requirements that https://github.com/bazelbuild/bazel/commit/fb0f51d1e57104c765b19ba6f1fb17f636c3bf79 doesn't provide context on.

@shs96c do you remember if you built and ran it at head using the `java_binary` wrapper script, or did you build a `_deploy.jar` and drop it int

[2021-02-10 00:49] aiuto commented on #11467
I think no-index is the right method. This is just another of those little requirements to track in any pipeline rebuild.

[2021-02-10 06:41] jvolkman opened #12986 "Repo rules fail to extract unicode archives due to latin-1 hack"
### Description of the problem / feature request:

`rules_go` currently [fails on some machines](https://github.com/bazelbuild/rules_go/issues/2771) due to some [unicode characters](https://github.com/golang/go/tree/master/test/fixedbugs/issue27836.dir) included in filenames within the Go source archive - specifically the character [Ä](https://www.compart.com/en/unicode/U+00C4). For Linux and macO

[2021-02-10 07:55] sventiffe commented on #12925
Any update on this issue?

[2021-02-10 07:56] manosh7n commented on #12799
@whogodemo have you solved this problem?

[2021-02-10 08:37] meteorcloudy commented on #12925
It looks like Envoy has been green for a while. I believe they have fixed the breakage. Closing.

[2021-02-10 08:37] #12925 closed

[2021-02-10 10:46] meisterT commented on #12937
This is unfortunately how `attr` works:

From https://docs.bazel.build/versions/master/query.html#attr:

A `package_group` is not a `rule`.

[2021-02-10 10:46] #12937 closed

[2021-02-10 10:51] philwo commented on #11099
As the bazel-toolchains repository is going to be deprecated and the auto-released configs will be replaced by a CLI tool that can generate them on-demand, I'm closing this issue.

You can see https://github.com/bazelbuild/bazel-toolchains/releases/tag/v5.0.0 for some initial details, I think more docs will follow in the bazel-toolchains repository shortly.

[2021-02-10 10:51] #11099 closed

[2021-02-10 10:56] meisterT commented on #12978
cc @larsrc-google

[2021-02-10 11:00] meisterT commented on #12349
Please reply, if you have a repro case and we can reopen this issue.

[2021-02-10 11:10] meisterT commented on #10112
@mleonhard did you try adding `-s` to your Bazel invocation?

[2021-02-10 11:11] larsrc-google commented on #12978
There's an implicit fallback from sandboxed to local that since recently can be controlled with the `--[no]legacy_local_fallback` flag. I've not yet managed to switch the default due to some subtle test interactions with the `local` tag.

Workers without `--worker_sandboxing` would indeed not benefit from any fixes to the sandbox setup.

[2021-02-10 11:22] larsrc-google commented on #12904
I've been chasing down something similar internally. It's a mix of poor error reporting and the inherent hard-to-reproduce state of dynamic execution bugs. In the case I was looking at, a rule was creating outputs that were set non-readable, which under certain conditions would trigger a crash that looked like this.

[2021-02-10 11:24] illicitonion commented on #12986
I happened to do some debugging of this yesterday - the probematic call chain is that https://github.com/bazelbuild/bazel/blob/2910d3d860044ef5fb0989306bafebc1c5545e42/src/main/java/com/google/devtools/build/lib/bazel/repository/CompressedTarFunction.java#L104 ends up calling into https://github.com/bazelbuild/bazel/blob/2910d3d860044ef5fb0989306bafebc1c5545e42/src/main/native/unix_jni.cc#L1045-L1

[2021-02-10 11:31] joscha commented on #12937
Is there an alternative of running this query? And if it is not supported to do this, would it make sense to error instead of just returning nothing and exiting zero?

[2021-02-10 11:34] larsrc-google commented on #10112
The debugging output for the server is for JVM-related output. Look in (for Mac) `/private/var/tmp/_bazel_$USER/[hash sum]/`, and you'll see a number of interesting files, here an example run from me:

[code]

You probably want to look into `java.log`, possible `bazel-workers` if you run with workers.

[2021-02-10 14:43] adzenith commented on #11053
These files do appear to be available, but under the runfiles tree (as is normal with tools used in Bazel, such as in a genrule). To access the runfiles from your sh_binary, you can use the [instructions here](https://github.com/bazelbuild/bazel/blob/8fa6b3fe71f91aac73c222d8082e75c69d814fa7/tools/bash/runfiles/runfiles.bash#L15-L64).
I tested locally with your example code and I was able to find a

[2021-02-10 14:58] gregestren commented on #12925
Note this is getting reintroduced behind *two* incompatible flags:

- https://github.com/bazelbuild/bazel/issues/12932
- https://github.com/bazelbuild/bazel/issues/12933

But thank you for the effort you'd already put in to clean up ahead of time.

[2021-02-10 15:37] odisseus opened #12987 "The override_repository path is parsed incorrectly if it contains equals signs"
### Description of the problem / feature request:

If the path to the repository contains `=` (e. g. `/foo/bar=/baz`), Bazel fails to parse it properly.

### Feature requests: what underlying problem are you trying to solve with this feature?

Allow to store the local repository under a path that contains equals signs.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provi

[2021-02-10 15:49] philwo commented on #12842
Thanks! Closing this - please let me know if you encounter compatibility issues again.

[2021-02-10 15:49] #12842 closed

[2021-02-10 16:38] communikit commented on #12831
Closing since I don't see an immediate documentation need. Please feel free to follow discussion on #12117 and reopen a documentation bug if needed.

[2021-02-10 16:38] #12831 closed

[2021-02-10 16:55] brentleyjones opened #12988 "XcodeConfigInfo.macosMinimumOsVersion is incorrectly set for host configuration"
### Description of the problem / feature request:

When building a target with the host configuration, the `macosMinimumOsVersion` is being set to the SDK version instead of what is set for `--macos_minimum_os`. The relevant lines are:

https://github.com/bazelbuild/bazel/blob/24c980b6d4adef456cf4b4f84ac3b8ec4580b172/src/main/java/com/google/devtools/build/lib/rules/apple/XcodeConfig.java#L149-L15

[2021-02-10 16:57] keith commented on #12988
I think the issue is that the minimum version isn't set for the host configuration here? https://github.com/bazelbuild/bazel/blob/660f5b2cf36fbd75908cf7c93cc59d98ee092eb2/src/main/java/com/google/devtools/build/lib/rules/apple/AppleCommandLineOptions.java#L456-L468

But maybe that's intentional

[2021-02-10 16:59] brentleyjones commented on #12988
If it's intentional, could we get a `--host_minimum_os` flag? Hopefully it's not intentional though 😄.

[2021-02-10 17:00] aiuto commented on #11217
Isn't this a "defeature request"? :-)

[2021-02-10 17:02] lukasholzer commented on #10564
@keith are you running `bazel query` or `bazel build`. Can you pinpoint the failures a little bit? Which bazel versions are you using?

We are seing a similar error but are really struggeling to pinpoint the issue. We are running on Linux with bazel version **4.0.0**.

[code]

Seems like this happens after more expensive bazel queries.
Already tried to limit ram and cpu resources with:
[code]
but

[2021-02-10 17:07] lukasholzer commented on #10564
Seems like bazel is crashing always in the Analysis phase
[code]

or

[code]

This is quite a pattern @philwo do you have maybe a clue?

Is this maybe possible that we are running it in a bash loop?

[code]

[2021-02-10 17:09] ulfjack commented on #12959
I'm not sure how JavaBuilder releases work - it's possible that cherry-picking and compiling Bazel doesn't actually pick up the fix if it doesn't build JavaBuilder as part of the normal build process.

[2021-02-10 17:12] katre commented on #12959
Paging @comius to discuss JavaBuilder releases.

[2021-02-10 17:14] lukasholzer commented on #10564
Is this maybe a thread overhead as the machine is quite powerful where this is running? I'll give the ` --jobs=10` flag a try – suggested here https://stackoverflow.com/questions/34382360/decrease-bazel-memory-usage

https://github.com/bazelbuild/bazel/issues/3020#issuecomment-435542312

[2021-02-10 17:22] communikit commented on #11405
@jin Can you clarify what this means? Is this something you can implement?

[2021-02-10 17:29] communikit commented on #12766
Since this also asking for a Go tutorial, closing as dupe of #3396

[2021-02-10 17:29] #12766 closed

[2021-02-10 17:37] keith commented on #10564
I don't think I can reproduce consistently enough to be able to try with those flags, but we do still see it with 4.0.0 when building on macOS

[2021-02-10 17:41] comius commented on #12959
JavaBuilder is part of java_tools, so you need to upgrade which java_tools are used for the fix to have an effect.

bazel 3.7.2 is using java_tools 10.4, however that version **does** contain the @benjaminp's 56f506c.
bazel 4.0.0 is using java_tools 10.5, which should be compatible with 10.4 and contains a turbine fix (see https://github.com/bazelbuild/java_tools/issues/39)

So if java_tools 10.4

[2021-02-10 17:42] floriographygoth commented on #11467
Okay. I think at this time we can't add noindex to our existing older docs, but I will add a note in the spreadsheet for infrastructure. Closing this out in the meantime as we resolved the issue of being able to filter results by version.

[2021-02-10 17:42] #11467 closed

[2021-02-10 18:25] jerrymarino commented on #8902
I've put up a WIP commit to test out compiling the wrappers with a rule that depends on the Xcode env. It looks like we can compile this with the [`apple_common.apple_host_system_env(`](https://github.com/jerrymarino/bazel/commit/28f0e80b8ed85ecf5ead8c4cf381748b05503189#diff-c1d211ec4f986372f44730a12953edd6023347a419a13eadac7f5961d401d074R6649) and then point the `tool` path at the output of the r

[2021-02-10 18:33] brentleyjones commented on #8902
`apple_host_system_env` is nice, since it includes `XCODE_VERSION_OVERRIDE`, would would be different for different Xcode versions, even with the same `DEVELOPER_DIR`.

[2021-02-10 18:50] aiuto commented on #11217
Status update:
- Removal pkg_deb planned for March 1
- Latest presubmit: https://buildkite.com/bazel/google-bazel-presubmit/builds/43661
- Thanks to @dannysullivan for migrating Google to rules_pkg

[2021-02-10 20:17] communikit commented on #4631
https://docs.bazel.build/versions/master/be/protocol-buffer.html#proto_lang_toolchain is currently marked as Deprecated and directs users to refer to https://github.com/bazelbuild/rules_proto instead.

Closing; feel free to reopen if there is still a strong preference for updating that block of documentation.

[2021-02-10 20:17] #4631 closed

[2021-02-10 20:23] nkoroste commented on #9358
I confirmed that this is now fixed on both Bash and Zsh.

Side note, I'm still looking for the capability of adding completion support for custom bazel commands. For example, I want to work for `bazelisk` and `bazelw` both are very common usecases.

related https://github.com/bazelbuild/bazelisk/issues/29

[2021-02-10 20:26] communikit commented on #11559
Hi @psigen ,

You can make a PR updating the documentation in the doc fields for download and download_and_extract in this part of the Bazel repo: https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/starlarkbuildapi/repository/StarlarkRepositoryContextApi.java

[2021-02-10 20:26] philwo commented on #9358
Thanks for confirming! I'll close this then. I would also be very interested in having completion support for Bazelisk etc. - let's track that in the Bazelisk issue.

[2021-02-10 20:26] #9358 closed

[2021-02-10 20:30] philwo commented on #10564
@lukasholzer What's in the `jvm.out` in case Bazel crashes? The same stack trace as in the first comment here?

[2021-02-10 21:10] ptarjan opened #12992 "Can not reenable ui event filters"
### Description of the problem / feature request:

Running this works as expected:
[code]

But if you try to put them back, it doesn't do anything:
[code]

I expect the second command to output the same thing as if I just did:
[code]

### Feature requests: what underlying problem are you trying to solve with this feature?

I want to be able to make a `--config=verbose` mode that turns these back o

[2021-02-10 22:53] gregestren commented on #9260
Yes. This is currently documented at https://docs.bazel.build/versions/master/platforms-intro.html#common-platform-properties.

[2021-02-10 22:53] #9260 closed

[2021-02-10 22:58] gregestren commented on #12942
Hi Jan,

Can you trace out some pseudo-code of what you're expecting? I can't tell from the report if you expect the alternative toolchain to build the target in `tools`, or to replace that target, or how you expect the `--platform` change to identify the appropriate toolchain?

Can you also clarify which language's toolchain you mean?

[2021-02-10 23:52] gregestren commented on #12915
I can reproduce this. Thanks for filing.

[2021-02-11 02:53] dhalperi opened #12993 "Java code coverage working intermittently"
### Description of the problem / feature request:

Java code coverage only seems to work intermittently, and I can't quite tell why.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

1) Check out https://github.com/batfish/batfish

2) Collect coverage that works. Run this command, minimized from IntelliJ's handling:

`bazel coverage -

[2021-02-11 04:33] cpsauer commented on #12852
As an add-on: Seems like all these variables are missing from aquery output, too.

[2021-02-11 06:47] JanJamaszyk-FlyNow commented on #12942
Hi Greg,

I am talking about the c++ cc_toolchain.
In our build-file we have:
[code]
the build rule of the tool looks like this:
[code]
as you can see the tool_to_build is not expected to be compatible with the bazel default toolchain, only with the "facy_custom_toolchain" but as per documentation bazel always uses the default toolchain to build tools and we have not found any means to even redire

[2021-02-11 08:23] dhalperi commented on #12993
Ahh, I believe it's the default value of the instrumentation filter, which is computed from the test path. This project was not bazel-first, and we've been able to add modularity without cyclic imports to tests before we've been able to add it in the main code. So the filter needs to be changed, manually I presume.

[2021-02-11 08:23] #12993 closed

[2021-02-11 10:32] larsrc-google commented on #10091
@ericburnett

Ulf, are you far enough along with this that you could do a design doc? Eric is concerned that getting remote workers to be safe and correct is not that easy, but it would be a great feature.

[2021-02-11 13:32] brentleyjones commented on #12988
I just realized this might be semi-intentional, since we only need to support a minimum OS of the host, not any lower. In my example though, by using Xcode 12.4, the `macOsSdkVersion` is `11.1`, while my OS version (in a previous test) was `10.15`. Ideally we wouldn't try targeting an OS version _higher_ than the current one?

[2021-02-11 14:49] katre commented on #12959
Thanks, @comius, I tried adding that cherrypick (which needed manual resolution, but it was fairly straightforward), but there's still an unexpected error:

[code]

Is there some other commit I need to cherrypick to use java tools 10.5 properly?

[2021-02-11 15:03] beasleyr-vmw opened #12998 "JacocoCoverage_jarjar_deploy.jar should shade its internal copy of Guava"
One of my users has some ancient tests which are built against Guava 18. Upon upgrading to Bazel 4 with java_tools javac11-10.5, the test fails when running under `bazel coverage`.

[code]

This method was flagged as deprecated and slated for removal in Guava 20.0.

Analysis revealed that Bazel inserts `JacocoCoverage_jarjar_deploy.jar` near the head of `CLASSPATH`, and this jar contains its own,

[2021-02-11 15:38] comius commented on #12998
Can you submit a PR?

[2021-02-11 15:41] cushon commented on #12959
@katre the --classdir changes are related to https://github.com/bazelbuild/bazel/commit/5085d68c173de5881d10eed18aba8b429bec86dd, https://github.com/bazelbuild/bazel/commit/2350239c39841a67162c1c3de042397d6c3771e4, https://github.com/bazelbuild/bazel/commit/e16f4d72067cb1ce97c71eb74e967c92978aa487.

It might be easier to use and older baseline for javabuilder to match what 3.7 was using?

[2021-02-11 15:50] keith commented on #12988
To ensure caching across developers even this isn't particularly true is it? I get that you won't back deploy the binary directly, but it could result in a different output

[2021-02-11 15:52] brentleyjones commented on #12988
True. So then I would want to set a minimum OS version that might be lower than the OS version of the host.

[2021-02-11 16:12] lukasholzer commented on #10564
No sadly the `jvm.out` is always empty.

[2021-02-11 16:13] katre commented on #12959
This has turned into a fairly complicated patch for a three-month-old non-LTS release.

@ulfjack: This appears to be fixed in 4.0.0. I assume that you have other issues keeping you from upgrading to that, but at this point I'm going to have to ask you to handle determining what needs to be patched to fix 3.7.2, because I don't have the knowledge and this release is out of date.

[2021-02-11 17:29] jlaxson opened #13000 "Add a private_deps field to cc_library"
### Description of the problem / feature request:

cc_library treats all dependencies and transitive dependencies as public to its consumers.  This results in include directories, headers, and maybe compile flags exploding in volume when you have a complex dependency tree.  CMake supports a rather granular public/private definition for libraries to control what gets inherited by a consuming librar

[2021-02-11 18:10] keith commented on #12988
https://github.com/bazelbuild/bazel/pull/13001

[2021-02-11 21:01] UebelAndre commented on #12200
Related to this, I think https://docs.bazel.build/versions/3.2.0/skylark/config.html#user-defined-transitions and all the relevant components should have counterparts made with updated names.

[2021-02-11 21:01] EricBurnett commented on #10091
+1 for a design doc. Ideally with some discussion on whether this is needed in all cases, or only to reduce latency on user-driven incremental builds - I'd be much less concerned if e.g. caching was disabled for remote-worker actions and there was no cross-user sharing of workers, as that'd significantly reduce the blast radius of issues while potentially keeping all the interesting benefits?

FWI

[2021-02-11 21:30] gregestren commented on #12942
I see.

What about some combination of using [`exec_tools`](https://docs.bazel.build/versions/master/be/general.html#genrule.exec_tools) instead of `tools` and using `--host_platforms`?

"target" is the machine the binary you're building will run on. "host" and "exec" are similar concepts that are the machine that actually runs the compilers and linkers. Targets in `tools` and `exec_tools` are mar

[2021-02-11 21:42] veblush commented on #12310
@meteorcloudy Thank for the fix! I don't know how to use a custom build Bazel, though. Have you tried to build my reproduction case described [here](https://github.com/grpc/grpc/pull/24302)?

[2021-02-11 22:28] bjacklyn commented on #10902
I was also just bitten by this and had to change some of the flags in the `.bazelrc` to be under `common` rather than under `build` so that they are shared with `query`.

Has the section of code that causes this problem been identified -- could we at least quickly add a warning to check your .bazelrc flags there if a fix isn't coming soon?

It turns out I'm also affected by the missing `--repo_env

[2021-02-11 22:58] gregestren commented on #10902
More communication from the tool is perfectly reasonable.

I don't know how hard the implementation would be. The main reason is different flags invalidate the graph in different places. Some of the `--incompatible_` flags mentioned are injected into the build graph at https://github.com/bazelbuild/bazel/blob/a01e94a1e7b4251670547953e93ebf2736304cf7/src/main/java/com/google/devtools/build/lib/skyf

[2021-02-11 23:14] pawaramol commented on #7692
Just encountered this as well on MacOS Mojave 10.14.3 and bazel 3.7.1

[2021-02-12 01:44] dabrahams opened #13004 "Clarify wording around optional attributes in cpp tutorial"
Documentation URL: https://docs.bazel.build/versions/master/tutorial/cpp.html

This text is confusing.  In context, the 2nd sentence reads like it's supposed to be demonstrating an optional attribute, but it doesn't go on to say that srcs is optional (as far as I can tell, it's optional as far as bazel is concerned, but the build fails if you don't supply it, so it probably doesn't make a good exa

[2021-02-12 01:45] dabrahams commented on #13004
And no, I can't offer a patch, because I encountered it while trying to learn bazel.  I'm not sure what to say that would be accurate.

[2021-02-12 02:12] dabrahams opened #13005 "Add clarity around relative and absolute paths in cpp tutorial"
Documentation URL: https://docs.bazel.build/versions/master/tutorial/cpp.html

This text should say what each of the paths is relative to:

e.g. (though I don't know if this is accurate)

(However, you also don't define the term "root of the package"; that should be corrected)

[2021-02-12 07:03] ffriedl89 commented on #10564
Working together with @lukasholzer on this. Adding a `--jobs=10` flag unfortunately also was a dead end. It seems to be more frequent when the analysis cache discarded due to a stamp change, but this could also just be a coincidence.

[2021-02-12 08:37] cpsauer opened #13007 "Aquery: "WARNING: Targets were missing from graph""
### Description of the problem / feature request:

When I run aquery on an android_binary, I see errors like the following logs. It's not a huge deal for my application; everything I care about is in the output. But I thought I should give a heads in case it's an indication of something deeper wrong.

[code]

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minima

[2021-02-12 08:39] bjacklyn commented on #13000
Yes, a solution for this is needed and would be hugely helpful for my org. I'd say the most important bullet point missing from your list is how it would improve remote cache hits. For example, a change to a header in liblzma not only invalidates all compilation actions for libpng (which is expected), but invalidates every compilation action in every downstream library/binary _even if none of them

[2021-02-12 08:55] comius opened #13008 "Build API Roadmap: discussion"
This is a non-technical issue just meant as a connection point for discussion, thoughts, questions, concerns, etc. about Bazel's Build API work as prioritized in https://www.bazel.build/roadmaps/build-api.html.

It's also a step toward integrating our project workflow deeper into the Bazel community.

My current thinking is to maintain one of these issues and roadmaps for each year. But I'm open t

[2021-02-12 09:52] JanJamaszyk-FlyNow commented on #12942
Thanks Greg,

that could be a feasible solution for us!
Unfortunately as soon as I specify ` --host_platform` I get:
Configurable attribute "actual" doesn't match this configuration: Could not find a JDK for host execution environment, please explicitly provide one using `--host_javabase.`
Even though we are not using java anywhere in our build process and do not plan on installing java on all bui

[2021-02-12 09:59] sventiffe commented on #12987
@jin unsure how to route this bug and PR. Are you familiar with that code? Any suggestions?

[2021-02-12 12:58] lukasholzer commented on #10564
I can provide the `java.log` if that helps it is not empty.

<details>

  <summary>Expand to see the full java.log</summary>

[code]
</details>

[2021-02-12 13:20] erenon commented on #13008
HTTP 404 https://www.bazel.build/roadmaps/build-api.html

[2021-02-12 13:24] meisterT commented on #12937
I am not aware of an alternative (other than parsing the output and filtering on your own).

Unfortunately, no. The query operators operate on their input, e.g. a set of targets, without knowledge of how that set was produced.

[2021-02-12 13:42] comius commented on #13008
https://github.com/bazelbuild/bazel-website/pull/292
The website needs some time to be refreshed and I wanted to have a link to the Issue in the doc as well.

[2021-02-12 16:43] olekw commented on #12683
@advancedwebdeveloper If you're not in a huge hurry, I'd wait a little bit. @meteorcloudy and I have been talking about how to move the Debian patches supporting RISC-V 64 (and MIPS 64) to mainline Bazel. Once that happens, (and assuming there are no unanticipated problems!) it will be *MUCH* easier for you to do this build. :)

[2021-02-12 17:00] jlaxson commented on #13000
Thanks, I discovered that PR later after writing this, and I'll add cache hit efficacy to my list of rationale.   A bit of an unfortunate outcome to get left by the wayside.  I took that as inspiration to bring something like that up to current master, and it's here: https://github.com/jlaxson/bazel/tree/compile_only_deps.

The include scanning would be superb for incremental builds (most Makefile

[2021-02-12 17:31] aiuto commented on #12992
Maybe this is BES?

[2021-02-12 17:43] aiuto commented on #6410
This is probably better served with incompatible_target_skipping. I'm not closing it yet, so that we can revisit it in Q2.

[2021-02-12 17:52] jlaxson commented on #13000
Never mind, I was thinking too narrowly on include scanning.  If the scanned includes were used so that the downstream compilation context was filtered by the dependencies of public `hdrs`, it would help.  There is still value in explicitly specifying what you expect to be public/private though - one can imagine trying to fix an issue several libraries downstream because something is leaking you d

[2021-02-12 18:40] jerrymarino commented on #8902
@brentleyjones yep passing the entire Xcode env is how I was [looking to solve it](https://github.com/jerrymarino/bazel/commit/28f0e80b8ed85ecf5ead8c4cf381748b05503189#diff-c1d211ec4f986372f44730a12953edd6023347a419a13eadac7f5961d401d074R6649) for good. This is similar to how other C compiler rules work 👍  https://github.com/bazelbuild/bazel/issues/11716 alone won't help the use case where people

[2021-02-12 20:07] gregestren commented on #12942
Can you share a simple repro of that error?

[2021-02-12 20:59] aiuto commented on #12988
cc @susinmotion  Any thoughts on #13001?

[2021-02-12 21:08] aiuto commented on #12986
cc @tetromino   This is a nice summary of the MacOS file handling strangeness I was talking about.

[2021-02-12 21:23] susinmotion commented on #12988
It's in good hands with trybka and allevato!

[2021-02-12 21:43] #12915 closed

[2021-02-12 21:46] gregestren commented on #12948
Interesting. There's a good argument here. I'm not sure what the right answer is.

I believe the reason the first build fails is because `genquery` is just a target depending on another target (through `scope = ["//:bar"]`). So when you build, these get analyzed just like any other targets. And since incompatibility propagates upward, `//:bar`'s incompatibility applies to `//:query`.

But yes, sin

[2021-02-13 08:08] yaojingguo opened #13014 "Update location of file in testing example"
Documentation URL: https://docs.bazel.build/versions/4.0.0/cpp-use-cases.html

[Including external libraries](https://docs.bazel.build/versions/4.0.0/cpp-use-cases.html#including-external-libraries) assumes that `hello-greet.h` is in `lib` directory.

[code]
However, [Introduction to Bazel: Building a C++ Project](https://docs.bazel.build/versions/4.0.0/tutorial/cpp.html) places it in `main` direc

[2021-02-13 08:28] yaojingguo opened #13015 "Use googletest-1.10.0 in external libraries example"
Documentation URL: [Including external libraries](https://docs.bazel.build/versions/master/cpp-use-cases.html#including-external-libraries)

Since more and more projects suggest Bazel, it is better to talk about using `http_archive` with a project which supports Bazel. I suggest writing this section with `googletest-1.10.0` which supports Bazel.

[2021-02-13 11:30] dmivankov commented on #12983
https://github.com/bazelbuild/bazel/commit/258dfe95f2c8ebb1a479eed3411f64b100c93de2
is `--incompatible_struct_has_no_methods` on?

[2021-02-13 11:44] dmivankov commented on #12983
Shouldn't be on by default I think, looking at 4.0.0 release info https://blog.bazel.build/2021/01/19/bazel-4-0.html#starlark

[2021-02-13 13:54] dududko commented on #12983
I did not enable this option. I can confirm that build is successful if this option is explicitly disabled `--incompatible_struct_has_no_methods=false`.

[2021-02-13 15:56] brandjon commented on #287
The type checking is enforced in `StarlarkAttrModule` via the method param types and the explicit type checks. It also rules out select()s by using `type.convert()` instead of `type.selectableConvert()`, but perhaps nothing would break if that were changed.

[2021-02-13 21:34] philsc commented on #12948
At the very least I should fix the `query` vs. `//:query` difference. It really shouldn't be different.

Mayber after that I'll have my head wrapped around what the better behaviour is.

[2021-02-13 21:42] guibou opened #13017 "Bazel clean sometimes fails with Directory not empty"
### Description of the problem / feature request:

`bazel clean` on my CI workers sometimes fails with the following error:

[code]

It is really difficult to reproduce because the next invocation of `bazel clean` does succeed most of the time. I do actually run `bazel clean || bazel clean || bazel clean` in my CI as a workaround.

I'm using a custom `--output_base` shared between multiples bazel

[2021-02-13 22:26] jackshi0912 opened #13018 "external repository not working: unable to find package error"
### Description of the problem / feature request:
Problem: cannot use pytorch remote bazel repository because of error:
```Unable to find package for @pybind11_bazel//:build_defs.bzl: The repository '@pybind11_bazel' could not be resolved.```
If you download the repository and run `bazel build :torch`, everything is fine.
If you link it using `git_repository` or download the repository and link wi

[2021-02-13 23:32] brandjon commented on #4295
Yep, there's lots of ways to crash the interpreter with a cyclic data structure, without even using Bazel constructs. E.g.,

[code]

I filed bazelbuild/starlark#166 to track the question of what to do with the language spec. In general, we'd like to make this not crash Bazel, but it's not very high priority since you don't tend to tickle this bug accidentally.

[2021-02-13 23:42] brandjon commented on #2367
Update:

The Go Starlark implementation ([google/starlark-go](https://github.com/google/starlark-go)) exists and is relatively stable. Use this if you're looking for a reliable Starlark implementation, are ok with writing your application in Go, and don't need strict bug-for-bug compatibility with Bazel's Starlark interpreter (which is unlikely, since at that point you'd probably want to run Bazel

[2021-02-13 23:42] philsc opened #13019 "Incompatible target skipping behaves unintuitively for "paths" on the command line"
This is a dedicated ticket for an issue mentioned in #12948.

With this root BUILD file:
[code]
If you run bazel build //:query you get this failure:
[code]
If you omit the //: from the target, it skips the genquery all together:
[code]

As per @gregestren , the `query` is indeed treated as an implicit target. More accurately, it's a [`PATH_AS_TARGET`](https://github.com/bazelbuild/bazel/blob/97bc

[2021-02-13 23:42] philsc commented on #12948
I split the `query` vs. `//:query` behaviour into #13019.

[2021-02-13 23:58] philsc commented on #13019
@gregestren, is there a simple way to resolve the `PATH_AS_TARGET`?

I've been looking into doing something like so:
https://github.com/bazelbuild/bazel/blob/97bc48d455048cfe873da429ac83aec6c0d347a1/src/main/java/com/google/devtools/build/lib/skyframe/SkyframeTargetPatternEvaluator.java#L257-L266
But I'm having trouble figuring out how I'd instantiate a `resolver`.

Or is this whole problem someth

[2021-02-14 00:23] dabrahams opened #13020 "Documentation issue: Build Tutorial - C"
Documentation URL: https://docs.bazel.build/versions/master/tutorial/cpp.html

The document uses the term "file target" without introducing it or linking to a definition.  Without some clue, I don't know what the statement about file targets means.

[2021-02-14 00:27] dabrahams opened #13021 "Clarify what headers the hdrs attribute refers to"
Documentation URL: https://docs.bazel.build/versions/master/cpp-use-cases.html

In `cc_library`, it's not clear what the hdrs attribute actually _means_: are these the headers required to compile my library's binary, or the headers required by clients of my library's binary, or the union of the two, or…?

[2021-02-14 00:28] dabrahams opened #13022 "Documentation issue: Common C Build Use Cases"
Documentation URL: https://docs.bazel.build/versions/master/cpp-use-cases.html

The concept of a “file's rule” hasn't been introduced or explained.  What is this actually trying to say?

[2021-02-14 00:46] dabrahams opened #13023 "Simplify description of workspace on Concepts page"
Documentation URL: https://docs.bazel.build/versions/master/build-ref.html

This would seem to suggest (since I happen to know WORKSPACE files are typically checked in to project repositories) that it would be very difficult to set up a build of a read-only copy of a project's source, because I'd need to at least write those symlinks to the build output directories.  However, https://docs.bazel.bu

[2021-02-14 00:51] dabrahams opened #13024 "Documentation issue: Workspace Rules"
Documentation URL: https://docs.bazel.build/versions/master/be/workspace.html

As a reader, it's disconcerting to be directed to the description of an effectively-deprecated component in order to understand this (supposedly recommended) component.  Can the relevant text be moved into the documentation of `local_repository`?

[2021-02-14 01:03] dabrahams commented on #13021
That is also not clear in

from https://docs.bazel.build/versions/master/build-ref.html

[2021-02-14 01:29] philsc commented on #12948
Just to clarify for my own thoughts, can you elaborate on what you mean by the following @keith ?

Do you mean that it would be ideal for the sake of consistency or is there a particular use case for querying incompatible targets you have in mind?

[2021-02-14 01:31] cpsauer opened #13029 "Unnecessary Cache Misses on Extra Actions"
### Description of the problem / feature request:

There seem to be issues with caching the outputs of extra actions.

As an example, building :A, then :B, then :A again (with action listeners/extra actions) will lead to all the extra actions for :A being rerun. I would expect it to hit cache; there have been no code changes and all the anticipated outputs are already in bazel-out. I can get it to

[2021-02-14 01:34] dabrahams opened #13030 "Link to target patterns from labels section"
Documentation URL: https://docs.bazel.build/versions/master/build-ref.html

Says

But I have learned that I could write

[code]

to build and run all test targets.  Does that mean `//...:all` is not a label?

There are actually two problems here:
1. I could not find the command above by reading any of the tutorials; had to learn by pestering my teammates.  If someone has given me a bazel project a

[2021-02-14 01:52] dabrahams opened #13032 "Documentation issue: Concepts and terminology"
Documentation URL: https://docs.bazel.build/versions/master/build-ref.html

Says:

But then goes on to say:

The last two don't start with `//`.  So are they labels or not?  Please clarify the text.

[2021-02-14 02:15] dabrahams opened #13034 "Documentation issue: Concepts and terminology"
Documentation URL: https://docs.bazel.build/versions/master/build-ref.html

IIUC, `//my/app/testdata:testdepot.zip` is still relative… to the current repository, and would need an `@...` prefix to be complete.  If you're going to use “relative labels” in this way, these categories should be clarified.

[2021-02-14 02:24] dabrahams opened #13035 "Update wording around build tool error"
Documentation URL: https://docs.bazel.build/versions/master/build-ref.html

This is confusing; it makes it sound as though it's illegal to reference a target in a different package.  Also, I was unable to reproduce the “crosses a package boundary” message, myself.

[2021-02-14 02:29] adam-azarchs opened #13036 "Tests should warn if size doesn't match memory usage."
### Description of the problem / feature request:

Currently, if a test's timeout is inappropriate compared to its actual duration, a warning is printed indicating that the timeout is reduced.  Great!  There should also be a similar warning if a test's memory usage is far off from the [memory usage expected for its size](https://docs.bazel.build/versions/master/be/common-definitions.html#test.size

[2021-02-14 02:33] dabrahams opened #13037 ""." doesn't work as a target name"
Documentation URL: https://docs.bazel.build/versions/master/build-ref.html says:

But, when I take stage3/main/BUILD from the C++ tutorial and change the name of the `cc_binary` target to `"."`, and then issue `bazel build "//main:."` from the stage3/main directory, I get:

[code]

[2021-02-14 03:19] dabrahams opened #13040 "Documentation issue: Concepts and terminology"
Documentation URL: https://docs.bazel.build/versions/master/build-ref.html

This document uses the term "genrules" without introducing it or linking to a definition.  Please fix, thanks!

[2021-02-14 03:29] psigen commented on #11559
Thanks @communikit .  Created https://github.com/bazelbuild/bazel/pull/13041 to address this.

[2021-02-14 06:54] cpsauer commented on #5318
I'm a little slow in replying, but @michaeleisel's solution is absolutely a better way to do this that what we'd been doing. Learned about that flag thanks to you, and it's so much cleaner. Thank you, Michael!

[2021-02-14 09:53] dmivankov commented on #12455
https://github.com/bazelbuild/bazel/issues/12983 on `--incompatible_struct_has_no_methods` being potentially flipped in 4.0.0

[2021-02-14 14:26] Bu11etmagnet commented on #12866
`sh_test` looks like a suitable alternative, thank.

[2021-02-15 00:01] olekw commented on #12683
@advancedwebdeveloper and other interested parties: We have just had the first successful [experimental build of Bazel in Debian for RISC-V](https://packages.debian.org/source/experimental/bazel-bootstrap). You can download both the source package and the binaries at this link. If it seems to work (I have no easy way of testing it) I will put these changes into unstable and request a freeze exempt

[2021-02-15 05:25] aiuto commented on #12992
I have a feeling this is one of the areas not owned by any of the team divisions.

[2021-02-15 05:27] #13018 closed

[2021-02-15 09:27] JanJamaszyk-FlyNow commented on #12942
Interesting, I cannot repro it in a minimal example, looks like one of our dependencies is pulling in the java dependency.
Do you have any idea on how I can debug which package has a java related dependency?
`bazel query "deps(//...)" --notool_deps --noimplicit_deps "${args[@]}" --output package`
does not give me any JAVA related package.
Could you help me how to find out who is responsible for ge

[2021-02-15 09:34] JanJamaszyk-FlyNow commented on #12942
Update, using `bazel query "deps(//...)" --output package | grep java` I found:
[code]
do you have an idea who could be pulling in the zlib dependency?

[2021-02-15 10:31] JanJamaszyk-FlyNow commented on #12942
Okay, I found the issue: `cc_test` is pulling in the java dependencies.
Please find the repro attached:
[bazel_tool_bug.zip](https://github.com/bazelbuild/bazel/files/5980957/bazel_tool_bug.zip)

[2021-02-15 12:02] JanJamaszyk-FlyNow opened #13042 "[Feature-Request] Separate Cache-Folder per toolchain / platform"
### Description of the problem / feature request:

As soon as a new toolchain is used e.g. by specifying `--platform` option bazel should create a new cache folder containing the name of the toolchain / platform in the folder name.

### Feature requests: what underlying problem are you trying to solve with this feature?

In our build flow we are constantly switching between different toolchains /

[2021-02-15 12:41] meteorcloudy commented on #12310
@veblush

I couldn't reproduce because I don't have access to required RBE resources.

I prepared a branch with the fix based on Bazel 2.2.0:
https://github.com/bazelbuild/bazel/tree/gh-12310-fix-on-2.2.0

Can you fetch this branch and built a custom Bazel binary via `bazel build //src:bazel`?

[2021-02-15 13:32] comius opened #13043 "incompatible_dont_collect_so_artifacts"
**Flag:** `--incompatible_dont_collect_so_artifacts`
**Available since:** 5.0.0
**Flipped in:** 5.0.0

Rules `java_library`, `java_binary` and `java_test` will stop collecting `.so` libraries directly, which may happen when they are provided using `filegroup` or `genrule` targets. `so` libraries were collected from `deps`, `runtime_deps`, `exports` and `data` attributes.

# Migration

Use `cc_bina

[2021-02-15 15:13] FrancescoScappatura opened #13045 "Bazel query: visible() operator does no filtering when first arg is an empty package"
### Description of the problem / feature request:

Bazel query visible feature seems to provide wrong output when the BUILD file of a package is empty.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Considers 3 different packages:

- package_core     #that's a library !
- dummy_clientx
- dummy_clienty

package_core build file conte

[2021-02-15 16:10] frazze-jobb commented on #7313
We have started prototyping on an implementation and we would appreciate to hear your opinions. :smiley:

Our proposed solution is to:
- Base it on the current linux-sandbox and the old sandbox code.
- Add a flag to toggle the hermetic sandbox (yet to be named)
- Create hard-links for files outside the bazel sandbox when the actual files and the sandbox resides in the same filesystem.
- Copy files

[2021-02-15 16:29] philwo commented on #7313
Hi @frazze-jobb,

that sounds really cool! I'm happy to review the code when it's ready.

One question: If I understand correctly, you want to hard-link (or fallback to copy) input files of actions into the sandboxed execution root, in contrast to the current strategy of symlinking them. How do you want to prevent sandboxed actions from accidentally modifying the contents of hard-linked input file

[2021-02-15 18:00] brandjon commented on #374
Update: This issue was mentioned in connection with Bazel's handling of unicode strings (e.g. #12986), but is separate in that it asks for an extension of the label syntax.

This is a pretty significant design question, seeing as how fundamental labels are to Bazel. A URL-like percent encoding scheme (with normalization toward avoiding unnecessary escapes, and capitalizing hex digits) has the meri

[2021-02-15 18:06] brandjon commented on #12986
Addressing the unicode handling situation for strings (replacing latin-1 with utf-8) is on the schedule for this year, perhaps in Q2.

[2021-02-15 18:14] frazze-jobb commented on #7313
Hi @philwo,

We are planning to infer --sandbox_fake_username, hopefully that prevents it.

[2021-02-15 18:40] brandjon commented on #12983
Are you using `--all_incompatible_changes`? That would turn it on. Also check your bazelrc file.

[2021-02-15 18:46] dududko commented on #12983
@brandjon yes I do
I totally forgot about this option.
Sorry for you time, you can close this ticket.

[2021-02-15 18:50] #12983 closed

[2021-02-15 18:53] brandjon commented on #378
It's unclear if this is still an issue, and if so, whether it's caused by the use of the API or because there's a bug in `--run_under`.

[2021-02-15 19:22] MikhailTymchukFT commented on #8125
Starting with 4.0.0 release, bazel hangs when using `multiplex-worker` strategy. It fails immediately with the message described in #0 post when using other strategies like `sandboxed` or `local`.

[2021-02-15 19:26] brandjon commented on #1195
I imagine you could also pass the argument to the `Label` constructor, and then take the `name` field.

It seems undesirable to allow `existing_rule` to accept an optional leading colon, because that would still require preprocessing if, say, the label was specified in absolute form, or belonged to another package.

In general, we discourage using `existing_rule` (or `existing_rules`) because it l

[2021-02-15 19:31] brandjon commented on #1232
See the cautionary comment I added [here](https://github.com/bazelbuild/bazel/blob/968422dd6e6735b6066ccbe862b6bc6ab38ce4d6/src/main/java/com/google/devtools/build/lib/packages/Type.java#L58-L80). We won't add new attribute types unless there's a pretty compelling use that can't reasonably be satisfied with workarounds.

[2021-02-15 19:32] #1232 closed

[2021-02-15 19:38] brandjon commented on #1431
As best I can tell, this issue is now a special case of #7516, which intends to decide whether the change suggested here is desirable. Closing this as a (retroactive) dup.

[2021-02-15 19:38] #1431 closed

[2021-02-15 19:38] brandjon commented on #7516
(Closing #1431 as dup of this issue, see there for additional discussion.)

[2021-02-15 19:45] brandjon commented on #11983
I believe Alan was against this when we last discussed it (in contrast to #11954).

The WORKSPACE (and WORKSPACE-loaded .bzl) machinery will become far less relevant when we offload the whole repository mechanism out of Bazel and into bzlmod. I think even for #11954 the long-term benefit is now dubious for that reason. Closing.

[2021-02-15 19:45] #11983 closed

[2021-02-15 19:47] brandjon commented on #11954
Note that the set of names is currently the same (and there's a [test](https://github.com/bazelbuild/bazel/blob/968422dd6e6735b6066ccbe862b6bc6ab38ce4d6/src/test/java/com/google/devtools/build/lib/packages/BazelStarlarkEnvironmentTest.java#L59) to ensure it remains the same).

Deprioritizing this issue because the benefit is mostly aesthetic, and will become irrelevant as we migrate from the curre

[2021-02-15 20:05] brandjon commented on #374
To clarify: I interpret this issue as requesting a label syntax that admits filenames with unicode data. The broadest view is that arbitrary binary data should be allowed, to fully support Unix where everything but `NUL` (U+0000) and `/` (U+002F) is allowed.

Although it's currently not the case, we intend to fix Bazel to use UTF-8 encoding for BUILD/.bzl files (and probably miscellaneous other I/

[2021-02-15 20:16] brandjon commented on #2338
If this is still crashing and anyone has a repro, we can look at removing the crash, but I don't think we can prioritize fixing aspects+alias at the moment.

[2021-02-15 20:19] brandjon commented on #2364
I'm no aspects expert, but doesn't it seem pretty complicated to make advertised providers a function of the rule attrs? Why not require the provider but use an appropriately empty instance of it where there's no applicable data to pass along?

Or is the point here to allow aspects to propagate only to certain targets of a given rule type, based on those attributes? In which case, I'd question how

[2021-02-15 20:43] pcjanzen commented on #378
related: https://github.com/bazelbuild/bazel/issues/11997

[2021-02-15 21:01] brandjon commented on #2414
We feel that pain in Bazel's own [deterministic creation](https://github.com/bazelbuild/bazel/blob/968422dd6e6735b6066ccbe862b6bc6ab38ce4d6/src/package-bazel.sh#L51) of its package-zip.

In any case, it sounds like there's no need for a built-in directory-zipping action when library code can accomplish the same thing. Closing.

[2021-02-15 21:01] #2414 closed

[2021-02-15 21:07] brandjon commented on #2581
Indeed. See #4295 for any remaining infinite recursion issues with Starlark data types.

[2021-02-15 21:07] #2581 closed

[2021-02-15 21:10] brandjon commented on #2766
Still a crash bug. Low priority because we'd like to remove implicit outputs.

[2021-02-15 21:19] brandjon commented on #2835
I just verified that the visibility of a file target is not public unless it appears in an `exports_files` declaration, or the package's default visibility is public. Documentation was added in #8982. Closing this issue.

[2021-02-15 21:23] brandjon commented on #2882
While I agree with everything Alan said two comments above, I can't see us prioritizing proper documentation for all the quirks of implicit outputs anytime soon. We know we'd like to remove them, and I myself need more perspective on what exactly would replace them, but have no bandwidth for that right now.

[2021-02-15 21:30] brandjon commented on #2883
Ideally existing_rule's attr types should be closely aligned with what you actually pass when instantiating a target. But to avoid ambiguity with respect to labels, we might have to use the `Label` type in existing_rule (and ensure that `Label` is valid as input to a target -- I forget offhand if that's the case).

If implicit outputs were to be redesigned, I'd want them to agree with existing_rul

[2021-02-15 21:37] brandjon commented on #2888
Confirmed this is still the case.

I'm confused why we have these attributes at all if we always make outputs executable. This is both a documentation issue and a design issue.

[2021-02-15 21:44] brandjon commented on #3612
This is no longer applicable as stated, because we've deprecated the `host` configuration in favor of the `exec` configuration. But I suppose you could make the same request for an `attr.exec_executable` (though the naming is a bit alliterative).

Still, there's some value in being orthogonal and explicit for the sake of consistency (i.e., repeating `executable = True` and not inferring it from th

[2021-02-15 21:44] #3612 closed

[2021-02-15 21:50] brandjon commented on #3041
Maybe I misunderstand this thread, but thought we already had a concept of repo rules that always run.

Is this FR only related to repository rules, and not the rest of the build (where we really should be hermetic)? If so we should deprioritize as repo rules will be deprecated by bzlmod. (Triaging under that basis.)

[2021-02-15 21:58] brandjon commented on #3111
Equality is a required operation of all Starlark values. Well, I'm not sure the spec necessarily mandates that equality works for application-defined types, but I've always thought of it that way. We even [require](https://github.com/bazelbuild/starlark/blob/1fe16b4cf5d208e148c73f67a6667a9f7dab4544/spec.md#comparisons) that `NaN == NaN`.

The reason for depset reference equality is precisely becau

[2021-02-15 21:58] #3111 closed

[2021-02-15 22:07] dmitrig01 commented on #12110
Just ran into this. It makes this flag useless, as far as I can tell.

[2021-02-15 22:17] brandjon commented on #3227
I'm not clear on what is meant by "original path" and "context" here.

At analysis time, you can get the path to a file with the `File.path` field. At loading time (i.e. in a macro), you don't have full path information, though `native.package_name()` gets you a piece of it.

If you're trying to get a source file's directory during rule analysis, you could conceivably take the path of a source fil

[2021-02-15 22:20] brandjon commented on #2933
The `arg0` thing appears to have been fixed.

Keyword-only params were at one point going to be removed (I believe for syntactic compatibility with Python 2), but we ended up deciding against it. It's ok to use keyword-only params.

[2021-02-15 22:20] #2933 closed

[2021-02-15 22:24] brandjon commented on #3014
The cookbook has long since been removed; I believe it's been migrated to bazelbuild/examples, under the rules directory. If there's anything out-of-date there, feel free to send a PR in that repository.

[2021-02-15 22:24] #3014 closed

[2021-02-15 22:35] brandjon commented on #3575
I know we want to remove implicit outputs. I forget what our decision was on computed defaults. Either way we should probably avoid the crash.

[2021-02-15 22:35] glukasiknuro commented on #6994
@benjaminp do you have plans to merge `--sandbox_rootfs` change to the bazel repo?

[2021-02-15 22:41] brandjon commented on #3334
The error message is currently:

[code]

The wording on the last line is generated by the generic Starlark interpreter machinery, without any extra dressing up by Bazel. I don't think it's necessary to provide much more context, since the next step by the user is probably to check the documentation of the `implementation` parameter to `rule()`.

That said, the implementation function has a [declar

[2021-02-15 22:47] brandjon commented on #2923
`ctx.actions.declare_file()` creates the file relative to the current package, so I'm not sure how you're getting that behavior (unless something's changed, aside from the rename of this method). When I try it, I get the package path of the src target appended to the package path of the current target.

If there's a modern repro, feel free to reopen.

[2021-02-15 22:47] #2923 closed

[2021-02-15 22:48] #2835 closed

[2021-02-15 22:58] staalb opened #13047 "Not possible to select() on constraint_value in alias rules"
### Description of the problem / feature request:

According to #8583, it should be possible to directly use a `constraint_value` in a `select()` expression. This seems not be the case for `alias` rules though.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[code]

When running `bazel build :foo`, the following error is produced:

[2021-02-16 04:44] jin commented on #12987
I routed this to the external deps area, since it deals with repositories.

[2021-02-16 05:09] jin commented on #11405
I have no bandwidth to work on this, but I updated the issue description to explain what it means.

[2021-02-16 07:55] lberki commented on #2364
Since then, the internal `proto_library` rule doesn't have this behavior anymore because language-specific logic has been extracted from it. So I think doing this is now viable at least as far as native rules are concerned. I don't have any illusions, though, that all the Starlark rules we have conform to the "if you advertise it you must also provide it" rule...

[2021-02-16 07:55] lberki commented on #2364
I moved this to P3 because I would like this to happen, but realistically, we probably have better things to do, don't we?

[2021-02-16 08:50] joneshf commented on #13047
Just passing by. I don't know either if this is intentional or an oversight, but another workaround is to define a [config_setting][] that wraps the `constraint_value` and use that in the `select`:

[code]

This allows using the `alias` in the spirit of the original motivation, though it means going through a layer of indirection.

[config_setting]: https://docs.bazel.build/versions/master/be/gene

[2021-02-16 14:02] CesarPantoja commented on #8578
Note this also affects the ability to set env vars to targets on run configurations on JetBrains based IDEs as you can't set env vars on the run config. So you loose the ability to debug targets that require ENV vars

[2021-02-16 14:29] staalb commented on #13047
Correct. However, as far as I understand the whole point of #8583 is to solve "Unnecessary bloat for situations where config_setting is just abstraction overhead", which is the case in this exampe.

[2021-02-16 15:18] joneshf commented on #13047
Oh geez, I only skimmed that other issue. I didn't realize I was basically copy/pasting what was already known. Sorry about the noise!

[2021-02-16 17:00] #12966 closed

[2021-02-16 17:27] keith commented on #12948
I meant for consistency. In this case I just want to query these targets "like normal" even though they're incompatible in some configurations.

[2021-02-16 17:56] keith opened #13048 "Generic `--host_opt` flag"
One thing we see come up a lot is needing to pass options that we pass to our build differently for the host configuration. In some cases bazel has a flag for this like `--host_swiftcopt` / `--swiftcopt` etc. In other cases, for whatever reason, bazel does not yet have a flag for the use case, such as https://github.com/bazelbuild/bazel/pull/13001 or `--host_features` and how `--features` applies

[2021-02-16 18:04] brandjon commented on #4551
Update: Frontend team takes the position that BUILD and .bzl files are UTF-8, and has no plans to add a PEP 263-style encoding declaration. It sounds like we're in agreement that the BOM should be permitted, and I've filed bazelbuild/starlark#170 to change the Starlark spec accordingly (not that a Starlark change is necessarily a prerequisite for a Bazel change).

Since we intend to eliminate the

[2021-02-16 18:09] brandjon commented on #3862
While the current set of attribute types might not be ideal, we're generally against adding new ones. See [this comment](https://github.com/bazelbuild/bazel/blob/e2c91cc330179b638e3b88b2fd5ba4db63e0e1ce/src/main/java/com/google/devtools/build/lib/packages/Type.java#L58-L80) for an explanation.

[2021-02-16 18:09] #3862 closed

[2021-02-16 18:14] brandjon commented on #4185
Hm, yet another case where we don't canonicalize labels correctly. This is a whole class of Label-related bugs that we'd like to find time to reconsider later this year.

[2021-02-16 18:18] IanSMoyes opened #13049 "Documentation issue: Installing Bazel using Bazelisk"
Documentation URL: https://docs.bazel.build/versions/master/install-bazelisk.html

C'mon, let's be honest, for the WEALTHIEST Corporation the World has ever know, the support for tensorflow/bazel/bazelisk is APPALLING.

We have tensorflow, who very few seem to be able to get running. The source for which is installed by bazel, who very few seem to be able to get running, & which is SO BAD that Goo

[2021-02-16 18:35] brandjon commented on #4772
I agree that warnings are generally spammy to the majority of people who will see them, and that we shouldn't encourage rule, macro, and repository rule authors to add more of them. I also agree that we could be doing more to provide better alternatives, whether those be static linters or opt-in filters of some sort.

I don't think we can prioritize this anytime soon though. Leaving the issue open

[2021-02-16 18:45] brandjon commented on #4792
FYI, the boolean attribute type [expects](https://github.com/bazelbuild/bazel/blob/9a02760e732632671ddde48ab841b9b0ab788e67/src/main/java/com/google/devtools/build/lib/packages/Type.java#L407-L421) its argument to be either True, False, 1, or 0. It does not admit arbitrary Starlark values the way that an if statement does; for that it'd need to call [`Starlark.truth()`](https://github.com/bazelbui

[2021-02-16 19:01] brandjon commented on #4822
This has since been fixed. Current error message for trying to call `exists()` is:

[code]

[2021-02-16 19:01] #4822 closed

[2021-02-16 19:04] brandjon commented on #5355
I agree we could be more consistent here. But there's a cost to changing the API, and I wouldn't want to make it without a clearer sense of exactly what we're aiming for. Leaving this issue open but not prioritized.

[2021-02-16 19:10] brandjon commented on #5581
Sounds similar to #2766.

[2021-02-16 19:12] brandjon commented on #5638
Alan implemented this some time ago.

[2021-02-16 19:12] #5638 closed

[2021-02-16 19:33] brandjon commented on #5078
The kind is a property of the rule, not the target, so it would be a parameter to `rule()`, possibly `kind=`, or even `name=` for consistency with targets.

This should be straightforward to implement (modulo a little refactoring) -- we'd basically immediately "export" the rule with the given kind/name, instead of waiting for the [post-assign hook](https://github.com/bazelbuild/bazel/blob/9a02760e

[2021-02-16 19:47] brandjon commented on #5224
From inspection of the [code](https://github.com/bazelbuild/bazel/blob/9a02760e732632671ddde48ab841b9b0ab788e67/src/main/java/net/starlark/java/eval/Starlark.java#L668-L724), it looks like this is fixed by Alan's refactoring. `hasattr` checks for both annotated methods/fields and `Structure` fields. And `getattr` has supported accessing builtin methods for quite a while now.

[2021-02-16 19:47] #5224 closed

[2021-02-16 20:35] brandjon commented on #5940
Yes, this is a general problem with Starlark's (arguably intentional) inability to "ask for forgiveness, not permission".

It'd be ugly to add a separate method or parameter for the sake of checking whether a failure would occur. And we'd really want to be cautious about adding something like an error handling primitive (which we can do now that we have lambdas, and have indeed done for our unit t

[2021-02-16 21:49] brandjon commented on #5859
I agree this requires a little more study before we go ahead with the removal.

[2021-02-16 21:58] gregestren commented on #12948
You can get a similar failure even without `target_compatible_with`:

[code]

[code]
[code]

[2021-02-16 22:04] gregestren commented on #13019
I'm honestly not sure. Does `getExplicitTargetPatterns` not have enough info to infer that converting `query` to `//:query` means it deserves to count as an "honorary" explicit pattern?