[2022-04-22 16:42] fmeum commented on #6393
I just found this issue while working on a fix for the "other half" over at #15276: Creating the directories corresponding to empty TreeArtifacts, which Bazel's sandbox runners do, but remote execution doesn't (yet).

Does anybody see an issue with Bazel adding the output directories to the input tree? I do see great value in having this issue fixed one way or the other and fixing it in Bazel seem

[2022-04-22 18:31] davido commented on #13323
This was fixed in Bazel 5.0.0 release.

[2022-04-22 18:31] #13323 closed

[2022-04-22 19:22] Bencodes commented on #10241
https://github.com/bazelbuild/bazel/pull/14623 landed so you can start passing `--use_workers_with_dexbuilder` if you are using `CompatDexBuilder`. We've seen some pretty impressive [performance wins](https://github.com/bazelbuild/bazel/pull/14623#issuecomment-1036395021) from having this enabled, so curious to see if everyone else sees similar wins.

[2022-04-22 20:02] c0d3h4x0r commented on #14401
@guw fyi:

The Windows filesystem watcher is still [experimental as of Bazel 5.1.1 (the version we're on)](https://github.com/bazelbuild/bazel/blob/449a7e891822b0ea75390b7d20c983cc50b584a4/src/main/java/com/google/devtools/build/lib/skyframe/LocalDiffAwareness.java#L56).  We encountered other problems when we tried to enable it, so it is not a viable substitute for using this undocumented performa

[2022-04-22 20:04] c0d3h4x0r commented on #14401
So what's the right path forward here?  Right now, our business is taking a necessary dependency on this undocumented option, which isn't a position we want to remain in.

[2022-04-22 21:05] gleventhal commented on #852
I haven't read the whole thing, but based on my recent interactions with xfs, I would suspect that inode allocation is what's slow.  I'd be interested to see the output of xfs_info $path where $path is your xfs file system.  I am suspecting that you've got too low an agcount (ag == allocation group) for this workload and are not able to parallelize inode allocation across all cores.

[2022-04-22 21:22] EricBurnett commented on #6393
Re-reading the discussion above (it's been a few years :)), I believe that _should_ be fine and correct:
 1. With the deprecation of `output_directories` in the spec and the switch to `output_paths` where it's not defined ahead of time whether an output will be a directory or a file, servers do not have the information to create output directories proactively. (Though they should be creating _pare

[2022-04-22 23:41] ckilian867 commented on #15314
Thanks for the responses. I think the strategy is sandboxed by default, so I tried added the following to my project's `.bazel.rc`:

[code]

This allows the `lombok.config` file to be picked up and `@Generated` is showing up in produced jars now. However, we'd like to keep keep the strategy as sandboxed. Is there any way to put the `lombok.config` file in the directory as the `.java` files? It can

[2022-04-23 04:38] cpsauer commented on #4057
Good call. Figured I'd PR it up while we were discussing. How about something like #15325?

[2022-04-23 04:42] cpsauer commented on #4057
(Have tested, and it fixes all the repro cases above and the instances in my own codebase that initially brought me to this issue.)

[2022-04-23 19:51] nishanthkarthik opened #15326 "Dark mode documentation"
### Description of the feature request:

Consider https://bazel.build/rules/testing for instance - The code snippets have a dark mode toggle. I would like the same to apply throughout the page.

### What underlying problem are you trying to solve with this feature?

Using bazel docs in dark mode

### Which operating system are you running Bazel on?

Linux

### What is the output of `bazel info rel

[2022-04-23 22:08] cushon commented on #15314
I think if you added it to [`java_toolchain.javabuilder_data`](https://docs.bazel.build/versions/main/be/java.html#java_toolchain.javabuilder_data) it would be available as an input of all Java compilation actions, which would allow Lombok to find it.

Alternately it would be nice if Lombok supported a more explicit configuration mechanism (a command line flag, or even a flag to specify the path t

[2022-04-24 13:00] jmillikin opened #15328 "File output inside directory output fails to download from remote cache"
### Description of the bug:

Bazel allows an action to generate an output file and an output directory, where the file is a child of the directory. This is useful for actions where the output structure is only partially understood/deterministic.

When using such an output structure with remote execution, Bazel fails to download outputs from the remote CAS. It appears that the downloads list contai

[2022-04-24 13:25] brentleyjones commented on #15328
@bazelbuild/remote-execution

[2022-04-24 17:59] limdor commented on #11518
The problem is still present and it is in this line https://github.com/bazelbuild/bazel/pull/15330/files#diff-ac45a531edff6b8e6694f669184fc3625c869c84710142175e2caae08e159a9dL197

[2022-04-24 22:49] gonzojive opened #15332 "Public bazel binary target for integration testing"
### Description of the feature request:

I'm writing integration tests that require a bazel binary.

I was attempting to write these tests like I would write other such tests: Add the bazel repository to my WORKSPACE file and depend on the executable target from the project as a "data" attribute in my `go_test`.

I don't see any public targets I can depend on to make this work. Is the following th

[2022-04-25 02:08] brentleyjones commented on #15332
https://github.com/bazel-contrib/rules_bazel_integration_test might be of use to you.

[2022-04-25 02:30] jmillikin commented on #14381
I've encountered the same issue. Here's a minimal reproduction:

[code]

[code]

[code]

The corrupted filename was generated by treating UTF-8 bytes as Unicode:
[code]

[2022-04-25 05:59] jmillikin commented on #14381
Proposed fix: https://github.com/bazelbuild/bazel/pull/15333

[2022-04-25 07:47] meisterT commented on #14401
I think it would be helpful to know the exact sequence of Bazel commands (feel free to leave out targets) and also what modifications you did in between. And perhaps the Bazel output on the second command.

[2022-04-25 07:52] foxandi commented on #15210
Is it possible to get https://github.com/bazelbuild/bazel/pull/15306 into this release and have an updated/regenerated embedded JDK for Windows? If yes, I will create a PR with the change against the release branch.

[2022-04-25 08:13] meteorcloudy commented on #15211
https://github.com/bazelbuild/bazel/pull/15218 was merged

[2022-04-25 08:13] #15211 closed, assigned to meteorcloudy

[2022-04-25 08:22] meteorcloudy commented on #15326
@fweikert Is there such a feature for DevSite?

[2022-04-25 08:25] meteorcloudy commented on #15332
Sounds like https://github.com/bazel-contrib/rules_bazel_integration_test  is the solution ;)

[2022-04-25 08:25] #15332 closed

[2022-04-25 08:55] meteorcloudy opened #15334 "Bazel CI: Bazel's test_size_less_than_312MB is failing in downstream pipeline"
https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/2448#2d430eaa-4fd2-45da-a511-abf67bafe3f3
[code]

<del> Potential culprit: https://github.com/bazelbuild/bazel/commit/c94572bea5ce6bdc0ccda9789e5be6fb3f4c173b </del>
Culprit: https://github.com/bazelbuild/bazel/commit/18c17dab8fece0a02b53911711ebba497e7fea2a

[2022-04-25 09:11] lberki commented on #6393
/cc @coeuvre

[2022-04-25 09:31] meteorcloudy commented on #15334
@meisterT It's very strange that this is only failing with Bazel@HEAD but not with Bazel 5.1.1

[2022-04-25 09:36] codecycleteam opened #15335 "Build & ship "BDK" (bazel development kit) which will allow developers to use familiar programming languages to write code for bazel"
### Description of the feature request:
Bazel Development Kit will allow developers to use familiar programming languages to write bazel code. This gives you access to the entire bazel ecosystem without learning [StarLark](https://bazel.build/rules/language) and lets you leverage the power of your existing toolchain for testing, dependency management, etc.

First support **typescript** for this bu

[2022-04-25 10:21] meisterT commented on #15334
Is that commit even in 5.1.1?

[2022-04-25 10:27] meteorcloudy commented on #15334
That commit isn't in 5.1.1, but it's in the Bazel source tree @ HEAD, which is tested in:
- Main pipeline: Bazel 5.1.1 + Bazel source @ HEAD
- Downstream pipeline: Bazel @ HEAD + Bazel source @ HEAD

[2022-04-25 10:57] Wyverald commented on #15210
Should be possible. I'm not entirely sure what updating the embedded JDK entails; @hvadehra @comius to comment

[2022-04-25 11:11] exoson opened #15336 "Enabling the user to request messages from remote execution"
### Description of the feature request:

Bazel gets RemoteExecuteResponses with a field messages when using remote execution: https://github.com/bazelbuild/remote-apis/blob/2af1c432ce11b01e46cf70d7933f71a3310282d6/build/bazel/remote/execution/v2/remote_execution.proto#L1376
Currently these messages are only printed for test actions when the test has failed. It would be great to be able to request

[2022-04-25 11:19] ulfjack commented on #11782
We're still seeing the issue with `6.0.0-pre.20220405.2` (we forgot to explicitly set `--grpc_keepalive_time` and it's still disabled by default).

[2022-04-25 11:52] meteorcloudy commented on #15334
OK, looks like https://github.com/bazelbuild/bazel/commit/c94572bea5ce6bdc0ccda9789e5be6fb3f4c173b isn't the culprit.

I did a bisect and it points to https://github.com/bazelbuild/bazel/commit/18c17dab8fece0a02b53911711ebba497e7fea2a

To reproduce:
[code]

[2022-04-25 11:54] meteorcloudy commented on #15334
@cushon Can you take a look at this?

[2022-04-25 11:57] meteorcloudy commented on #15334
If https://github.com/bazelbuild/bazel/commit/18c17dab8fece0a02b53911711ebba497e7fea2a doesn't have fundamental problem, we can always increase the limit of  test_size_less_than_312MB.

[2022-04-25 12:33] lberki commented on #15335
No. We will not allow Bazel ot run user code in its own address space implemented in any other programming language than Starlark.

Starlark has a number of properties other languages don't guarantee (lack of Turing completeness, built-in sandboxing, caching modules separately from each other, accounting of execution time and soon RAM use) and which Bazel requires.

In addition, it would increase

[2022-04-25 13:11] coeuvre commented on #11782
Does that mean you don't have the issue if `--grpc_keepalive_time` is set? Can you try with `--experimental_remote_execution_keepalive`?

[2022-04-25 13:23] katre commented on #14982
The fix is now merged, thanks for figuring this out!

[2022-04-25 14:37] brentleyjones commented on #14982
@bazel-io flag

[2022-04-25 14:52] ckolli5 commented on #14982
@bazel-io fork 5.2.0

[2022-04-25 14:52] bazel-io opened #15337 "[5.2.0] Android NDK 32 bit Arm should be marked "armv7" not "arm""
Forked from #14982

[2022-04-25 15:48] cushon commented on #15334
cc @comius

This change switched to using the stock OpenJDK 11.0.15 javac instead of the vendored one.

The change is due to this patch in the custom vendored javac: https://github.com/google/error-prone-javac/commit/cb15a5810d5ae85894d72cbe88c7bc75e93469c4.

The bytecode size of `//src/main/java/com/google/devtools/build/lib/bazel:BazelServer_deploy.jar` increases from about 41MB to 41.6, and the

[2022-04-25 15:50] hicksjoseph commented on #15335
Hi codecycleteam, I wanted to thank you for using Bazel and suggesting features for it. While lberki's technical direction is the direction we are going on this request, I wanted to reach out to you to let you know that some thought was given to your request, but that it was decided to not pursue it. We hope that you will continue to make suggestions for Bazel in the future. Thanks much, Joe

[2022-04-25 17:58] james-deee commented on #14533
@cushon Just wanted to follow up and thank you for all of your time and patience :)

The 11.0.15 release of Java fixes everything for us (with the removal of --patch-module). Thank you!!!!

[2022-04-25 17:58] #14533 closed

[2022-04-25 19:13] jmcmullan commented on #1147
Still observing this issue in Bazel 5.1.0

[2022-04-25 19:25] keith commented on #14327
@comius @sventiffe @lberki any update on this decision at google? We're considering forcing users to flip this experimental flag since the upstream version of rules_swift has diverged so significantly from the public version because of the requirement to use this new flag.

[2022-04-25 21:12] hsl89 commented on #3020
@cse19922021 I encountered the same build issue, why setting `--jobs=1` would fix it? It seems to be a very inefficient way of using cpu cores. Plus, building large project like tensorflow would probably take forever if `--jobs=1`

[2022-04-25 22:03] lunch-glide-pepper opened #15340 "I/O exception during sandboxed execution: input dependency could not be checked for modifications during execution"
### Description of the bug:

My build fails with `I/O exception during sandboxed execution: input dependency <path> could not be checked for modifications during execution`.  The error seems to be about a symlink inside a tree artifact, with the symlink pointing to a directory inside the same tree artifact, and only happens when using `--experimental_use_hermetic_linux_sandbox`.

Using bazel 5.1.1

[2022-04-25 23:09] ckilian867 commented on #15314
Thanks Liam! I was able to get one `lombok.config` to get picked up by putting it in `java_toolchain.javabuilder_data`, which is a huge step forward.

The example only had a single `lombok.config` file, but my actual project has several, some of which have conflicting keys. Is there a straightforward way to swap out what java_toolchain is used dynamically? The only way I've found to set it are sta

[2022-04-26 05:15] codecycleteam commented on #15335
@hicksjoseph @lberki
Thanks a lot for responding to this issue. I appreciate @hicksjoseph's supportive response.

It's my humble request to consider following content as feedback to increase the impact of this open source project only.
Nothing personal with anyone.

- We believe an open source project is driven by the community and not from a single person's decision.
- Let's measure the coding bu

[2022-04-26 07:10] foxandi commented on #15210
Thanks :) I created the PR: https://github.com/bazelbuild/bazel/pull/15342

[2022-04-26 07:20] lberki commented on #15335
Whereas you are correct that I am just a single person, I do consider myself knowledgeable enough to state with confidence that implementing what you demand would be a large net negative for Bazel for the reasons stated in my comment above.

It might be possible that the benefits are commensurate in the sense that it might be possible that I get hit by a meteorite while sitting here before the end

[2022-04-26 07:26] #15335 closed

[2022-04-26 08:23] mirh commented on #3020
Because fewer jobs = less used RAM too?

[2022-04-26 08:46] beingminimal opened #15343 "Enable github discussion for this repo to discuss matters about bazel"
### Description of the feature request:

Enable github discussion for this repo to discuss matters about bazel
Benefits
- People can open discussion before opening an issue, which will help to decrease the number of issues being opened in this repo.
- People can vote for features implementation and bug fixes so contributors can prioritise easily for their contribution
- Past discussions can be ref

[2022-04-26 09:27] sventiffe commented on #15335
@codecycleteam Bazel's eng lead from Google here. I fully support lberki's points who is the overall Tech Lead on our end both for Bazel and our internal build system, so he does speak indeed with some authority. His single person's voice is representing ~10 years of Bazel and Blaze development. Which does not mean that I agree to everything he'd say :), but I hope it provides some context.

Starl

[2022-04-26 09:45] coeuvre commented on #15328
I cannot reproduce the exact error with your example but I do encountered another error:

[code]

[2022-04-26 09:52] coeuvre commented on #15328
I guess this depends on how remote server reports the outputs. i.e. whether output file is omitted in `ActionResult` if it is under an output directory.

[2022-04-26 10:49] codecycleteam commented on #15335
@lberki @sventiffe haha alright guys. I got the whole picture now. but in the future if you guys are considering redesigning bazel architecture and design then please consider such features first.

I appreciate your support and humbleness for this conversation.
Thanks a lot for everything.

[2022-04-26 13:33] #15328 closed

[2022-04-26 15:08] katre opened #15346 "Remove use_toolchain_transition API and flag"
This is now the default and should be cleaned up.

Steps:
1. Remove all of the 'shouldUseToolchainTransition` methods and checks: it now is always true
2. Clearly mark the API and flag as deprecated
3. Clean up usages of the API and flag
4. Remove the API and flag

[2022-04-26 16:00] keith opened #15350 "Bazel architecture changing doesn't rerun repository rules"
### Description of the bug:

When switching between bazel architectures of the same bazel version on macOS M1 machines, repository rules do not get re-run, leading to potential failures. You have to run a `bazel clean --expunge` to recover.

[code]

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Using rules_go, and this attached project:

[2022-04-26 17:26] cushon commented on #15314
Not one I'd recommend. In theory you could define a `java_toolchain` with a `select()` in its `data` and use [starlark transitions](https://docs.bazel.build/versions/2.1.0/skylark/config.html#user-defined-transitions) to swap out different versions of it for different targets.

But if you can use a single config that's going to be a lot easier.

[2022-04-26 17:26] #15314 closed

[2022-04-26 17:33] rickeylev opened #15353 "Remove legacy py-struct provider compatiblity code"
### Description of the feature request:

Remove the compatibility code for handling the legacy py-struct provider. This was gated by the `--incompatible_disallow_legacy_py_provider` flag, and has been waiting for Google to enable that. It's been enabled by default in Bazel since ~2019-ish.

Google's finally enabled that flag, so the code dealing with the legacy py-struct provider can be removed.

[2022-04-26 17:45] fweikert opened #15354 "Status of Bazel 6.0.0-pre.20220414.2"
- Expected release date: 2022-04-26

Task list:

- [x] Pick release baseline: [6872fd23](https://github.com/bazelbuild/bazel/commit/6872fd230b7fe4a15fa900d16f6f9ddd5726cdc3) with cherrypicks [a603c238](https://github.com/bazelbuild/bazel/commit/a603c2382ffcc49f344eee73dfcd65aa2332f64f) [6142eac9](https://github.com/bazelbuild/bazel/commit/6142eac9153b539661c43dada5e11b552a6f58f6)
- [x] Create rele

[2022-04-26 20:23] #15354 closed

[2022-04-26 23:08] linzhp commented on #15210
Can you also include #15341?

[2022-04-27 03:36] sgowroji commented on #15353
Hello @rickeylev, Found there is already a tracking bug with the same above details https://github.com/bazelbuild/bazel/issues/7741. Please correct me if am wrong if the above Feature request is different to it. Thanks!

[2022-04-27 07:47] pauldraper commented on #7977
I think `attr.output(label=)` is good.

Though IDK why implicit outputs were deprecated in the first place.

[2022-04-27 08:17] coeuvre commented on #15336
I think these messages are printed for **any** actions that are failed. But since the protocol says the message should be also displayed when user requested explicitly, yes, Bazel should provide a way for user to request it.

[2022-04-27 08:37] codecycleteam commented on #15335
If anyone is looking for a similar approach OR solution then here is the open sourced project by google.
Please have a look here. https://github.com/google/wireit
Thanks.

[2022-04-27 09:37] coeuvre commented on #12067
should be fixed via #15329.

[2022-04-27 09:51] coeuvre commented on #6038
As mentioned above, `--experimental_allow_tags_propagation` can be used as a workaround. Closing.

[2022-04-27 09:51] #6038 closed

[2022-04-27 15:57] rickeylev commented on #15353
Yes, that's basically the same. Not sure how I missed that, sorry.

[2022-04-27 17:04] bazel-io opened #15358 "[5.2.0] Fix downloading remote execution output files inside output dirs."
Forked from #15329

[2022-04-27 18:02] yeounoh opened #15359 "Bazel build missing dep declaration with transitive dependency"
### Description of the bug:

I am building tensorflow project (commit: `2c6d3ed00f16838831aa460c5668a8466b9f3649`) and running into errors about the missing dependency declarations.

For instance, here is one of the errors:
[code]

And here is the corresponding build def (from the build cache):
[code]

It doesn't include the missing depndencies, but just `@llvm-project/llvm:Support`; however, the

[2022-04-27 18:49] bazel-io opened #15360 "[5.2.0] Fix android emulator darwin_arm64 select"
Forked from #15092

[2022-04-27 21:43] #14602 closed

[2022-04-27 22:21] wolfd commented on #11782
Also seeing this happen with a gRPC-based remote-cache. We also have a TCP load balancer in the loop, although it's on AWS rather than GCP. Adding `--grpc_keepalive_time` seems to help a lot, a clean build of something went from 1h42m to 8m with the flag set to 10s.

[2022-04-28 03:23] gregoryT5 commented on #15094
As another data point, I have also observed this issue, only on Windows, with Bazel 5.0.0, 4.2.0,  and 4.0.0.

We also build for Linux using the same Bazel versions, and I've never seen this issue occur there.  I don't have anything specific to reproduce it either, as it almost always gets stuck on a different build target (no observable pattern, other than "sometimes happens on large build").

[2022-04-28 03:35] aiuto commented on #14852
We're going to have to fix that.  All the rule sets will eventually define their own command line flags, and we need them to resolve to the right repository. We also need those rules to provide a way to say that there can only be one version after dependency resolution. It does no good if we end up with 2 versions of rules_java and you set a flag that it defines, but it only impacts one of those.

[2022-04-28 07:34] meisterT commented on #15094
Can you please capture a bazel stack trace the next time this happens (e.g. with `jstack` or with pressing `Ctrl+\`)?

[2022-04-28 09:43] coeuvre commented on #14278
Fixed by #15176. Closing.

[2022-04-28 09:43] #14278 closed

[2022-04-28 10:23] SimonVleugels opened #15363 "Bazel 5.0.0: Operation not permitted using bazel coverage with sandboxfs"
### Description of the bug:

Running `bazel coverage` using sandboxfs on unittests in docker result in `Operation not permitted` errors.

Bazel logs:
[code]

Test logs:
[code]

Bazel flags:
[code]

When further analyzing the bazel cache we see that indeed the permissions of the `_coverage` directory is too limited (no write permissions) and thus the `collect_cc_coverage.sh` script doesn't have the

[2022-04-28 10:24] SimonVleugels commented on #15307
Closing in favor of [issue-15363](https://github.com/bazelbuild/bazel/issues/15363)

[2022-04-28 10:24] #15307 closed

[2022-04-28 12:00] meteorcloudy commented on #15350
I think the reason is that we never record the current architecture in the marker file of repository rules. Is there any environment variable we can declare as the dependency of repository rule here: https://github.com/bazelbuild/bazel/blob/master/tools/cpp/cc_configure.bzl#L144 ?

[2022-04-28 12:13] meteorcloudy commented on #15359
@yeounoh Sorry, we don't have the capacity to help you debug this since we cannot reproduce it. (`bazel build //tensorflow/tools/pip_package:build_pip_package` works for me locally).  Would `bazel clean --expunge` help you?

[2022-04-28 12:58] brentleyjones commented on #14278
@coeuvre Is that change low enough risk to get into 5.2?

[2022-04-28 13:59] konste commented on #15094
First of all I can confirm that the frequency of the issue reduced between Bazel 5.0.0 and Bazel 5.1.0 tenfold, may be more. This is a good thing in general, but it makes repro even more problematic.

Unfortunately it still happens (about once a week for us) and I would really appreciate some guidance how to collect as much useful information as possible when we get a repro. Remember, it is on Win

[2022-04-28 14:07] UlrichEckhardt opened #15364 "Logic error in GetEnv()"
### Description of the bug:

If you force Bazel to use an empty PATH environment variable (e.g. `build --action_env=PATH=` in .bazelrc) and run tests, you will get an error:
[code]

Looking at the implementation, it uses [GetEnvironmentVariableW](https://docs.microsoft.com/en-us/windows/win32/api/winbase/nf-winbase-getenvironmentvariable), which has following possible results:

- The var was not d

[2022-04-28 14:32] Wyverald opened #15365 "Bzlmod: Support querying/inspecting external dependencies"
We should have a new subcommand in Bazel that allows the user to query/inspect external dependencies.

[2022-04-28 15:07] alexjski commented on #13710
I have an alternative design in mind where we would enhance the `Args` to allow something like this:

[code]

In this case, regular invocation of the action would be `bin --argument1 --regular_argument --argument2 @param1 @param2...` and as persistent worker it would be `bin --argument1 --persistent_argument --argument2 --persistent_worker`.

The virtue of this is that it would allow for not dupli

[2022-04-28 15:39] brentleyjones commented on #15350
Wouldn't we want all repository rules to rerun though? Seems we should put the arch in the marker.

[2022-04-28 16:42] yeounoh commented on #15359
hi @meteorcloudy, thanks -- I've tried `bazel clean --expunge` but it's the same. One thing I noticed is that if I change the `spawn_strategy` to `sandboxed` it works on my local machine (but, it still fails in our CI/VM build). Could this be a useful hint?

[2022-04-28 17:16] fmeum commented on #6393
I just noticed that Bazel's own remote backend implementation [doesn't allow for output directories to be listed in inputs](https://github.com/bazelbuild/bazel/blob/93029d8f1f01be440d8e06cce9585ad912f9169b/src/tools/remote/src/main/java/com/google/devtools/build/remote/worker/ExecutionServer.java#L287), but that does seem to be against the spec. For example, the spec explicitly mentions that the e

[2022-04-28 17:41] bazel-io opened #15367 "[5.2.0] Fix --use_top_level_targets_for_symlinks with aliases"
Forked from #15316

[2022-04-28 18:35] haxorz commented on #15034
Hi @ulrfa , thanks for filing this FR. I think it's overall a good idea.

One implementation could be for the [Bazel installer aka Bazelisk](https://bazel.build/install/bazelisk) to set up a cron job. Not sure if there are considerations about doing this by default (e.g. not sure if all users would like that sort of side effect). `team-Core` doesn't currently have the resources or expertise to do

[2022-04-28 18:39] haxorz commented on #14766
@michajlo Thanks for fixing the `--test_output` docs bug. Can you also please either update the `--max_test_output_bytes` documentation or decide that your proposed untangling is feasible and do that?

[2022-04-28 18:42] brandjon commented on #15245
Not familiar with the code off-hand, but it's possible the rc file has parsers in both Java and C++ (in order for the client to interpret startup flags).

[2022-04-28 18:47] haxorz commented on #13318
Hi @xyt0056, thanks for the FR.

Something like "Bazel-query-as-a-service" or even "Bazel-as-a-service" would be cool to have. This would be a very big undertaking though. Bazel is designed to be used as a single long-running server process, not as a single node in a distributed network of Bazel instances [running in containers]. I added the label "P4" to reflect the amount of work this would invo

[2022-04-28 18:47] brandjon commented on #15225
It seems surprising to me that it wouldn't compare equal to itself, unless a new method descriptor is being created each time the method is retrieved. But I thought we cached those.

[2022-04-28 18:50] brandjon commented on #15224
At a glance, it looks like this provider is consumed natively but indeed not accessible from Starlark. The above example fails because the `testing.TestEnvironment` object is a builtin factory function that produces `TestEnvironment` instances, yet not itself the actual provider object.

[2022-04-28 18:50] haxorz commented on #15002
Hey @chriscraws, thanks for the FR and nice workaround!

We'd definitely accept a PR that adds and documents a way to override a previously specified value of `--run_under`.

[2022-04-28 19:01] brandjon commented on #14845
By default, symlinks aren't created under windows. See [here](https://bazel.build/docs/windows#symlink) for enabling them (thanks to tetromino@ for the link).

When symlinks are disabled, you can instead access runfiles using the appropriate library for the language underneath `@bazel_tools`, e.g. `@bazel_tools//tools/cpp/runfiles:runfiles`. This allows for indirecting through a manifest file. Not

[2022-04-28 19:01] brandjon commented on #14845
(Leaving open pending verification that what I described works.)

[2022-04-28 19:13] haxorz commented on #14821
@alexjski Can you please assess this?

[2022-04-28 19:37] michajlo commented on #14766
Untangling is feasible, but probably not something I'd personally be able to dedicate cycles to for a bit. In the meantime leaving docs as is seems like the most practical move to avoid committing too much in any one direction or cementing misbugs in place.

[2022-04-28 19:37] #10985 closed

[2022-04-28 19:52] brandjon commented on #14845
The runfiles library will locate the runfiles (either symlink-based or manifest-based) using environment vars that are passed to the process by a launcher. That applies when the binary being run is a tool that's executing as part of the build, but I believe it also applies in the case of an executable target invoked by `bazel run`.

I don't have an answer for languages that don't have a runfiles l

[2022-04-28 19:55] brentleyjones commented on #14845
At least in my experience with rules_swift (and it might be doing something wrong?) the environment variables aren't set and there is no manifest symlinked in, when the tool is run as part of a build versus `bazel run`.

[2022-04-28 21:49] mself commented on #10223
It looks like Catalyst support was added in Bazel 3.6.0 in Aug 2020.

[2022-04-28 22:28] keith commented on #10223
Lets track here: https://github.com/bazelbuild/rules_apple/issues/658

[2022-04-28 23:18] keith commented on #15350
As a workaround folks could use some random variable to store that value 🙃. That might be a fine enough solution given this is likely only going to happen during Apple's Intel -> arm transition

[2022-04-29 00:03] keith commented on #11454
We have an issue with this in the Apple land too because of arm64 simulators + arm64 devices. I think ideally we would have 2 platforms like this:

[code]

But we cannot do this, because the simulator case may or may not (not sure what the logic is?) pick the non-simulator option instead. This has lead to adding a new constraint for devices: `@build_bazel_apple_support//constraints:device`, but th

[2022-04-29 00:14] keith commented on #9078
This specific case is actually fixed by https://github.com/bazelbuild/bazel/pull/15248 because I added the android constraint

[2022-04-29 01:38] kevint324 commented on #5198
googling the same problem leads me to this threads and it seems nothing is fixed.

[2022-04-29 06:19] alexjski commented on #14821
About the problem as initially stated--I want to say that is WAI. I think there is an important distinction between the layout within the exec root and the workspace, the convenience symlinks talk about the latter.

Please note the difference between:

[code]

and

[code]

I would recommend using the latter in your case. For scripts which are intended to be run from the workspace, I would advise t

[2022-04-29 10:28] #15334 closed

[2022-04-29 13:47] moroten commented on #14264
Any progress on this issue? I've been running `bazel test --remote_executor=... @abseil-hello//:hello_test` and that of course fails.

[2022-04-29 13:59] uhthomas commented on #13103
Hi we're also seeing this. Makes the flag useless really.

Any ideas on when this issue may be triaged?

[2022-04-29 14:54] shahms opened #15370 "Support relative label_flag values relative to the label_flag rule definition"
### Description of the feature request:

`label_flag()` rules allow setting label-valued flags to targets, but those targets must be absolute.  This can make using this flag awkward as the valid labels will frequently (though not always) reside in the same package as the flag definition.  Even the [example](https://github.com/bazelbuild/examples/tree/HEAD/rules/starlark_configurations/label_typed_

[2022-04-29 15:12] alexeagle opened #24766 "Support yaml marshal/unmarshal"
For all the same reasons the `json` module was added to starlark.
Note there's an implementation over here for the Go implementation of starlark https://github.com/qri-io/starlib/tree/master/encoding/yaml but I doubt that's useful in any way.

The motivation is that the `pnpm` tool needs to be integrated as a repository rule, and the data needed to fetch packages in in yaml: https://pnpm.io/git#lo

[2022-04-29 18:20] pierventre commented on #13221
Hi all, what was the reason behind the removal of `resource_jars` ? Sorry for the silly question, I am relatively new to the project

[2022-04-29 19:01] rock626 opened #15373 "Bazel hangs at 'Found 1 target..' on linux machine"
### Description of the bug:

I am trying to do a bazel on java project and it just gets stuck as below:

[code]
Attaching SIGQUIT file.
This stopped working after the machine was rebooted.

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Follow the steps to run java sample tutorial from [examples](https://docs.bazel.build/versions/main/tut

[2022-04-29 21:28] camillol commented on #12716
It looks like there's a better [workaround](https://github.com/bazelbuild/bazel/issues/5318#issuecomment-765689061), which is to use `--per_file_copt=.*\.mm\$@-std=c++17` globally.

[2022-04-29 21:42] alexeagle commented on #14821
Thanks @alexjski , yes that's the bazel-idiomatic resolution (expand the bazel "boundary" to include executing the program).

There are cases where that's hard though. A simple one is I want to `bazel build` some files and then upload them to AWS S3. AWS already distributes a CLI that most users are trained on. Should they really be forced to figure out how to host that tool under Bazel before the

[2022-04-29 22:34] #15106 closed

[2022-04-30 01:33] vmrob commented on #13438
Any updates on this issue? It does appear that the features described the in docs can't be used because the execution group is effectively nonexistent.

In my particular use case, I was hoping I could run our link steps on larger remote workers as they typically require more resources than compile steps. To do this, I was hoping to leverage the `cpp_link` execution group to set an execution proper

[2022-04-30 04:20] hitbuyi opened #15376 "Does bazel support visual studio vs2019 debug mode?"
When tensorflow .lilb and tensorflow.dll are generated by
`
bazel build --config=v1  --config=opt   //tensorflow
`

they can be loaded and works well in visual studio 2019 Release mode,  BUT failed in debug mode
So if I want to build tensorlfow.lib  which can be used by vs2019's debug mode, how to choose bazel options ?
in other words,  selecting  bazel build options  equals to cmake's  Debug opti

[2022-04-30 08:35] uri-canva commented on #13190
We hit this issue with a query with depth of `1`. At first I thought getting all the dependencies made sense because you can never know if `//updated_local_target:name` will appear in the transitive dependency closure via some target using the `@//updated_local_target:name` syntax to refer to the root workspace, but since it reproes with a depth of `1` I guess there's quite a big missing optimisat

[2022-04-30 08:54] uri-canva commented on #13190
Tested `deps` with a depth of `1` and it doesn't have the same issue, so it seems like the query engine should be able to handle that case for `rdeps` as well, at least in theory?

[2022-04-30 09:16] shs96c opened #15377 "`maybe` doesn't work in a `bzlmod` module implementation function"
### Description of the bug:

A common pattern to avoid needing to determine whether or not to create new workspaces in a repository rule or macro is to use `maybe` to check the `native.existing_rules()` for the presence of a particular well-known name. This used to work in a `bzlmod` implementation function, but now no longer does.

### What's the simplest, easiest way to reproduce this bug? Pleas

[2022-05-01 10:03] youkechat opened #15379 "request improve http_archive download ability"
### Description of the feature request:

when http_archive get partial content, it should try a again from last failed postion with a max try times.

### What underlying problem are you trying to solve with this feature?

when get a large file use proxy, some times get partial content, bazel now will abort build action, request handle http 206 code

### Which operating system are you running Bazel

[2022-05-01 11:23] omerlh commented on #14278
Will it be part of the release? I just looked at the commits on the release's branch and I don't see it there...

[2022-05-01 11:26] rockwotj commented on #14278
Looks like it needs to be cherry picked onto the release branch https://github.com/bazelbuild/bazel/pull/15176#issuecomment-1113341491

[2022-05-01 11:38] omerlh commented on #14278
Yep, I saw the comment on #15210 - should I comment it as a blocker for the release?

[2022-05-01 17:20] meisterT commented on #15094
@konste not sure how time consuming it is, but bisecting the commit between 5.0 and 5.1 which helped reducing this tenfold, would probably tell us where to look.

[2022-05-01 18:01] alexander-scott opened #15380 "Certain combination of commands and user actions results in internal Bazel error"
### Description of the bug:

The following steps seem to consistently result in an internal Bazel error:

1. Run a Bazel AQuery //...
2. Delete a file which is an input to a target using a glob.
3. Run a Bazel CQuery rdeps.

There also needs to be an aspect in the workspace.

When running in the reproduce repo linked below it returns the following error:

[code]

### What's the simplest, easiest w

[2022-05-01 20:11] konste commented on #15094
Two considerations prevent me from doing it right now:
1. I anticipate such bisecting to take a long time, simply because it takes about a day to get a repro on 5.0.0 and a week on 5.1.0.
2. Considering the issue is not fully fixed in 5.1.0 such bisecting may narrow at a completely irrelevant change which just happened to change some timing and cause race condition happen less frequently.

Manual

[2022-05-01 21:15] cushon commented on #13546
There's a related work-around for this in desugar:

https://github.com/bazelbuild/bazel/blob/6e9239ed904e01ea270f3c7d2e05c5f0be0ee341/src/tools/android/java/com/google/devtools/build/android/desugar/io/HeaderClassLoader.java#L27-L36

[2022-05-02 02:53] gonzojive commented on #2505
Still relevant I think. Please do update the blog post.

I don't follow what "because with the new Linux sandbox (and the macOS sandbox) allowing read access to the entire filesystem, it was deemed no longer necessary" means.

I'm trying to write BUILD.bazel files for a C++ library, and I'm having trouble understanding why headers aren't being picked up. Viewing what files exist in the sandbox wou

[2022-05-02 09:26] CaptainCamelCase commented on #15373
Have the same problem but with the Android Tutorial. Worked last week, after the weekend it doesn't. Ubuntu 18.04, Bazel 5.1.1, Java 11.

[2022-05-02 10:12] CaptainCamelCase commented on #15373
Seems I hit issue [#3494](https://github.com/bazelbuild/bazel/issues/3494), having a lot of linux-sandbox processes stuck for some reason. Restarted the linux machine and it worked again.

[2022-05-02 11:17] jheaff1 commented on #8685
Is there any way for Bazel to invoke your fake python without having to manually add it to the PATH? I’m trying to make my builds as hermetic as I can

[2022-05-02 12:18] alexjski commented on #14821
Can you share more about the layout in this case? I strongly suspect a simple wrapper could be built which would cd to proper directory, derived from `$0` which you could `blaze run`. If you could share more details, I would be able to provide more concrete guidelines.

[2022-05-02 13:14] brentleyjones commented on #14278
Getting cherry-picked here: #15383

[2022-05-02 14:07] #14610 closed

[2022-05-02 14:07] #14617 closed

[2022-05-02 15:36] alexeagle commented on #14821
Sorry, I conflated two things on the thread. The original problem statement was both wrong (these make variable expansions are intended for the execroot, not the repository root) and as you point out, someone who understands Bazel can always write their tooling differently so that the path of the generated script is used, rather than how the bazel-skylib example I linked to does a `cd ${BUILD_WORK

[2022-05-02 15:41] #14381 closed

[2022-05-02 16:37] brandjon commented on #14920
If I understand, the request here is to allow a target to specify its own dependencies based on the targets/labels returned by a provider of another target.

This is generally impossible in Bazel because of the distinction between the Loading and Analysis phases. By the end of the loading phase we've already determined the labels that a target depends on. But providers are not evaluated and return

[2022-05-02 16:38] brandjon commented on #14920
Closing since the request as stated is infeasible. Feel free to reopen if I misunderstood.

[2022-05-02 16:38] #14920 closed

[2022-05-02 16:51] brandjon commented on #14830
This would be problematic because it would mean that in order to process a BUILD file you first have to locate and load whatever file or files might declare such a directive. Having BUILD files depend on other BUILD files (even implicitly) is a non-starter due to performance and complexity concerns, and this doesn't sound too different from that.

[2022-05-02 16:55] gregestren commented on #15380
Interesting! I haven't tried to repro yet, but if this in facts lets us reliably repro that's an enormously helpful clue. Thanks so much for this report!

[2022-05-02 17:14] gregestren commented on #15370
To clarify, do you mean relative labels in the `.bzl` file that defines the rule that has an attribute which references the flag? Can you link the line (or repaste what specifically you're asking here)?

[2022-05-02 17:58] meteorcloudy commented on #15359
You probably should check where do files like `'bazel-out/k8-opt-exec-50AE0418/bin/external/llvm-project/llvm/config.cppmap'` come from and use `bazel cquery` to check why are they not in the dependencies.

[2022-05-02 18:22] shahms commented on #15370
No, specifically labels relative to the BUILD file which defines the named flag.  Using the linked example:

[code]

It would be nice to allow for:
`bazel build :my-toolbox --//starlark_configurations/label_typed_build_setting:tool=:screwdriver` rather than requiring `bazel build :my-toolbox --//starlark_configurations/label_typed_build_setting:tool=//starlark_configurations/label_typed_build_sett

[2022-05-02 18:35] meteorcloudy commented on #15350
I don't think so. For example, all http_archive repo rules shouldn't rerun, the arch change won't affect what source you download from the URL, right?

[2022-05-02 18:36] Wyverald commented on #15370
I don't think this is a good idea. Having the flag value be from a diffrent "base package" than the build target seems like it could muddle the waters too much, when all it does is save a few keystrokes (which you can define --config settings for in your .bazelrc file anyhow).

[2022-05-02 18:36] meteorcloudy commented on #14264
/cc @tjgq @coeuvre

[2022-05-02 18:50] alexjski commented on #14821
Sorry for nitpicking, but I want to say that the outputs are available under given symlinks. It's just that if the output expects to be ran from the same structure as exec root and `--symlink_prefix` is specified, then it will not work from the workspace. One thing a user could do such case is to run `cd $(bazel info execution_root)` instead of `cd ${BUILD_WORKSPACE_DIRECTORY}`.

That is certainly

[2022-05-02 18:51] konste commented on #14920
Let me ask related question: is it feasible to implement the capability for the rule to apply aspect not directly to some attribute of type "label_list", but to the list of targets coming from a provider of one of the dependencies?

[2022-05-02 18:56] meteorcloudy commented on #15376
Replace `--config=opt` with `--config=dbg` may work.

[2022-05-02 18:56] #15376 closed

[2022-05-02 18:57] Wyverald commented on #15377
This is actually intentional. An extension has its own "namespace" and can name its repos anything without fear of conflicting with something else. In fact, an extension cannot see repos generated by other extensions at all. What behavior are you expecting `maybe` to have here?

IIUC `maybe` never worked in bzlmod. What's the behavior you remember?

[2022-05-02 18:58] meteorcloudy commented on #15364
@UlrichEckhardt Thanks for reporting this bug, would you mind sending a PR to fix this issue?

[2022-05-02 19:12] jvolkman commented on #14828
Maybe related to this comment: https://github.com/bazelbuild/bazel/issues/5206#issuecomment-402398624

[2022-05-02 19:30] shahms commented on #15370
I don't think the objection makes sense, especially for the common case of having label-valued build flags defined in the same package as a reasonable set of expected values for that flag and fact that, at least in my experience, it's rare for there to be but a singular build target with which the flag value's package could be confused.  The package which contains the flag definition, however, is

[2022-05-02 20:10] philsc opened #15385 "bazel 5.1 `coverage --combined_report=lcov` executes incompatible actions"
### Description of the bug:

Running `bazel coverage --combined_report=lcov` does not properly skip incompatible tests.

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

BUILD file:
[code]
Empty WORKSPACE file.
[code]

### Which operating system are you running Bazel on?

x86 Ubuntu 18.04

### What is the output of `bazel info release`?

re

[2022-05-02 20:12] philsc commented on #15385
@gregestren , FYI.

When I next have some free time I'll work on fixing this before the refactor. This is stopping us from upgrading.

[2022-05-02 20:13] philsc commented on #15385
I should clarify that this didn't happen in 4.2.2:
[code]

[2022-05-02 20:19] meisterT commented on #15094
I wonder why you think this commit is relevant for this bug?

In any case, next time you observe it please do `Ctrl+\` or `jstack <bazel-server-pid>` to capture a stack trace.

[2022-05-02 20:52] jsharpe opened #15386 "Upgrade zlib to version 1.2.12"
### Description of the bug:

Bazel embeds zlib version 1.2.11 which is subject to know vulenerabilities. 1.2.12 has been released which addresses these vulnerabilites and so the version used in bazel should be updated.

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

_No response_

### Which operating system are you running Bazel on?

_No

[2022-05-02 20:54] ckolli5 commented on #15386
@bazel-io fork 5.2.0

[2022-05-02 20:54] bazel-io opened #15387 "[5.2.0] Upgrade zlib to version 1.2.12"
Forked from #15386

[2022-05-02 21:15] kgriepen commented on #15373
I'm also seeing this issue on the morning of Monday May 2. Last worked on Friday. Environment is Ubuntu 18.04.6, Bazel release 5.1.1, Java openjdk_11.0.14.1_11.54.26_x64

[2022-05-02 21:27] cushon commented on #13546
Thinking about this a little more, I wonder what the simplest code attributes we can get away with that would still verify are.

For regular non-`void` methods, throwing an exception should be sufficient.

For constructors, I think we need to invoke super-constructors, which isn't trivial. Now we're looking at examining the existing code to minimize it, or understanding the class hierarchy.

I thi

[2022-05-02 21:39] meisterT commented on #6807
I don't see a way to farm this out to Unix `sort`.

I somehow have the suspicion that https://github.com/bazelbuild/bazel/blob/09c621e4cf5b968f4c6cdf905ab142d5961f9ddc/src/main/java/com/google/devtools/build/lib/bazel/execlog/StableSort.java#L108 is the issue here.

Do you happen to have a public repro that I can try?

[2022-05-02 22:32] konste commented on #15094
The issue seems with Bazel not noticing child process exit and the issue I linked mentions ProcessHandle which can be used for such detection. As vague as that.

Regarding `Ctrl+\` are you sure it works on Windows? Which process it is going to capture the stack trace from? Where do I find it after it is captured? You don't have to answer if you don't immediately know - I will research it myself.

[2022-05-02 22:59] stevekuznetsov commented on #7095
This is definitely still an issue - to be honest in projects that use Bazel I've never actually seen it "fixed" - I just got used to the fact that protobuf recompiles all the time. Hit this just today in `cockroachdb/cockroach` with

[code]

[2022-05-02 23:02] stevekuznetsov commented on #7095
Seems like running gazelle can invalidate and cause a recompile for this package?

[2022-05-02 23:11] AustinSchuh commented on #15210
I'm unable to run our tests on a remote execution cluster with 5.2.

The description from @TLATER on the following ticket describes exactly the symptoms I'm seeing, and reverting the patch he mentions fixes it for me.  https://github.com/bazelbuild/bazel/issues/12821  Can we get https://github.com/bazelbuild/bazel/commit/00805727b867d33fd922e63ca82b0d9825ad79fe reverted, or the C++ rules fixed?

[2022-05-02 23:31] meisterT commented on #15094
Right, `Ctrl+\` doesn't seem to work on Windows, but `jstack` with the server pid does. It spits out the stack trace to the console, so redirect it to a file. This will contain info about what Bazel is doing and hopefully help us to figure out where it hangs.

[2022-05-02 23:47] meisterT commented on #7095
@stevekuznetsov Can you write up repro instructions for cockroachdb w. gazelle please?

[2022-05-03 00:00] brentleyjones commented on #14381
@bazel-io flag

[2022-05-03 00:08] meisterT commented on #15373
Interesting. From the stack trace above it looks like it is stuck in checking whether sandboxing is supported:

[code]

which is basically just running `/bin/true` in the sandbox (https://cs.opensource.google/bazel/bazel/+/master:src/main/java/com/google/devtools/build/lib/sandbox/LinuxSandboxedSpawnRunner.java;l=88;drc=11f7d8040fadc595589ee264561606dc2a83685d).

Can you please try running this an

[2022-05-03 01:07] aranguyen commented on #13817
@fmeum  thanks for sending out the proposal. I don't know how to make comments on the proposal you linked so I'm dropping them here instead.
1) Have you considered what the overriding/accumulating behavior would look like if users do the following `bazel build --flag=["a", "b"] --flag=["c", "d"]`? Would the final evaluation be `--flag=["c", "d"]` or would it be `--flag=["a", "b", "c", "d"]`?
2) If

[2022-05-03 05:28] UlrichEckhardt commented on #15364
Can you fix it without that? I have no insight into the Bazel codebase and I wouldn't know how to build and test it myself.

[2022-05-03 08:18] fmeum commented on #13817
@aranguyen My proposal doesn't allow for this syntax, so it (luckily) doesn't have to specify this interaction. My proposal only affects how repeated flags are represented in Starlark, not how they are specified on the command-line: You still either specify a `string_list` as `--flag=first,second` (where later occurrences of `--flag` override all previous occurrences) or as `--flag=first --first=s

[2022-05-03 09:01] coeuvre commented on #14264
No progress since I don't have capacity to work on this yet. PR is welcome.

[2022-05-03 09:26] bmustiata opened #15391 "Proto Output Doesn't Include rule_input/rule_output For Custom Rules"
### Description of the bug:

I have a custom rule that creates a file. The file is not listed as a rule_output when running cquery.

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

I have a single package `a` that creates a custom rule, and uses it into a target:

* a/BUILD
[code]

* a/yolo.bzl
[code]

When I'm running:
[code]

I can see t

[2022-05-03 09:28] bmustiata commented on #15391
I forgot to mention, that the build runs otherwise fine.

[2022-05-03 10:29] netw0rm opened #15392 "Shall we plan to add it to pypi registry?"
Shall we plan to add it  to  pypi registry..

[2022-05-03 10:36] #15392 closed

[2022-05-03 11:41] Wyverald commented on #15370
Consider `bazel build :foo @repo//pkg:flag=:value`, where `:foo` refers to `@//bar:foo. You might say that `:value` refers to `@repo//pkg:value`. What about `bazel build :foo @repo//pkg:flag=//pkg:value`? Is it `@//pkg:value` or `@repo//pkg:value`?

Worse, if there are repo mappings, this change might even be backwards incompatible -- `bazel build :foo @repo//pkg:flag=@repo//pkg:value` could mean

[2022-05-03 11:46] Wyverald commented on #12821
@AustinSchuh @TLATER I've reported the breakage to the author of the original commit.

[2022-05-03 12:28] brentleyjones commented on #15350
Ahh, yes. I mean all repositories that run repositories rule (i.e. `local_repository` and their native equivalents).

[2022-05-03 14:33] Wyverald commented on #12821
Their response:

[https://github.com/bazelbuild/rules_rust/pull/763/commits/5b6e0059b6fcf7705b83218652983e1ff04d0cf0](https://www.google.com/url?sa=D&q=https%3A%2F%2Fgithub.com%2Fbazelbuild%2Frules_rust%2Fpull%2F763%2Fcommits%2F5b6e0059b6fcf7705b83218652983e1ff04d0cf0)

Could you try the same trick?

[2022-05-03 14:40] #14821 closed

[2022-05-03 15:00] fweikert opened #15394 "Status of Bazel 6.0.0-pre.20220421.3"
- Expected release date: 2022-05-03

Task list:

- [x] Pick release baseline: [092884b0](https://github.com/bazelbuild/bazel/commit/092884b0118f1b8b14ba2277851baa6dcce5cac2) with cherrypicks [82861c3a](https://github.com/bazelbuild/bazel/commit/82861c3a6e9761af883b1f6c99eef27da28b3d00) [a5a4198b](https://github.com/bazelbuild/bazel/commit/a5a4198b4bae3e10e30bf48083d037acce39aac3)
- [x] Create rele

[2022-05-03 15:34] kgriepen commented on #15373
I work with rock626 so have a similar environment.

I ran the sandbox command and it does indeed hang.

[2022-05-03 15:50] gregestren commented on #15370
I see what you're proposing. Thanks for clarifying.

I also worry that overloading the interpretation of `:foo` on the command line adds API complexity. I'm also not sure it's the norm for values to be defined in the same package as the flag: one common use case IMO is when the flag represents an interface that different project owners can implement in their respective places. I do acknowledge the

[2022-05-03 15:57] meisterT commented on #15373
if it hangs can you please try running under `strace` to see if that gives any clues?

[2022-05-03 16:11] brandjon commented on #14861
Sounds like the solution is to distinguish between `./foo` and `foo` in the type of the option and the converter. But with the workaround the priority seems low.

[2022-05-03 16:12] kgriepen commented on #15373
$ strace -c $(bazel info install_base)/linux-sandbox -- /bin/true
^Cstrace: Process 22586 detached
|% time  |   seconds | usecs/call  |   calls   | errors | syscall
|------ |----------- |----------- |--------- |--------- |----------------
| 26.38    |0.000460           |7        |66        |   |rt_sigaction
| 19.04    |0.000332        | 332       |  1       |   | clone
| 11.18    |0.000195

[2022-05-03 16:19] meisterT commented on #15373
Please run it again without `-c` so that we see in which syscall it hangs.

[2022-05-03 16:37] ptarjan commented on #6807
Sadly I don’t. It was in our private company repo. I’m on vacation so can’t
help cook one up but it should be easy to repro with a sharded test.

On Mon, May 2, 2022 at 11:39 AM Tobias Werth ***@***.***>
wrote:

[2022-05-03 16:37] kgriepen commented on #15373
`$ strace $(bazel info install_base)/linux-sandbox -- /bin/true
execve("/home/kgriepentrog/.cache/bazel/_bazel_kgriepentrog/install/79570a41fb8272e4808f43403af3b38c/linux-sandbox", ["/home/kgriepentrog/.cache/bazel/"..., "--", "/bin/true"], 0x7ffca0b22280 /* 81 vars */) = 0
brk(NULL)                               = 0xaf1000
access("/etc/ld.so.nohwcap", F_OK)      = -1 ENOENT (No such file or direc

[2022-05-03 17:01] kgriepen commented on #15373
Maybe unformatted makes it clearer.

$ strace $(bazel info install_base)/linux-sandbox -- /bin/true
execve("/home/kgriepentrog/.cache/bazel/_bazel_kgriepentrog/install/79570a41fb8272e4808f43403af3b38c/linux-sandbox", ["/home/kgriepentrog/.cache/bazel/"..., "--", "/bin/true"], 0x7ffca0b22280 /* 81 vars */) = 0
brk(NULL)                               = 0xaf1000
access("/etc/ld.so.nohwcap", F_OK)

[2022-05-03 17:55] #15394 closed

[2022-05-03 18:57] pauldraper commented on #14859
Yeah, sort of. The difference being that it isn't monomorphic; it's not "forward" the value.

I'm not really sure what the "slippery slope" leads down to.

---

What would really be great is a global "environment variable"-type API.

[code]

Bazel's currently configurability seems almost purposefully difficult. Something like this would be useful in an infinite number of scenarios, without deliber

[2022-05-03 19:51] poppywu commented on #7784
Hi,  @nbeloglazov, I got the same issue as you , did you figure that out?

[2022-05-03 21:37] AustinSchuh commented on #12821
I tried linkstatic = 1 and while it works, I literally need to modify every cc_test in all external repositories that we run.  That's going to mean touching grpc, flatbuffers, protobuf and beyond.  I don't want to have to maintain patched versions of those, so I'd have to get all their tests updated too.  I don't think that's going to work.

[2022-05-03 22:28] gwjo opened #15396 "Bazel not using the latest CoverageOutputGenerator code"
### Description of the bug:

Bazel is using version 2.5 of the coverage_output_generator (see [distdir_deps.bzl](https://github.com/bazelbuild/bazel/blob/master/distdir_deps.bzl#L276-L278)), which dates from October 2020:

[code]

This is missing some important fixes, eg #8731, resulting in not all files being included in the coverage output,

Can a new version of the coverage_out_generator be pub

[2022-05-03 23:07] nbeloglazov commented on #7784
@poppywu I ended up having to update various nodejs-related rules and packages to be up-to-date.

[2022-05-04 01:12] nkoroste commented on #11948
I can't seem to repro this in Bazel `5.1.1` - not sure if anything changed?

[2022-05-04 11:26] FaBrand opened #15397 "@bazel_tools references missing targets below tools/cpp/runfiles"
### Description of the bug:

The exported version of `@bazel_tools//tools/cpp:srcs` references a label that does not exist.

This causes a cquery to fail:

[code]

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Executing cquery:
[code]

Yield

### Which operating system are you running Bazel on?

Windows 10 and ubuntu 20.04

### What is t

[2022-05-04 14:16] katre commented on #3601
This is now implemented and will be in the next LTS release.

[2022-05-04 14:16] #3601 closed

[2022-05-04 14:24] bazel-io opened #15398 "[5.2.0] Wrong encoding of filename in bazel action inputs"
Forked from #14381

[2022-05-04 14:24] bazel-io opened #15399 "[5.2.0] Upgrade Google Auth Version"
Forked from #15176

[2022-05-04 14:24] bazel-io opened #15400 "[5.2.0] Record additional profiling information for remotely executed actions."
Forked from #15348

[2022-05-04 14:24] bazel-io opened #15401 "[5.2.0] Fix chocolatey package CPMR0031 - docsUrl must be a valid URL"
Forked from #15369

[2022-05-04 14:53] stevekuznetsov commented on #7095
@meisterT pinning down a direct reproducer is tricky. Cross-linked to an issue on the Cockroach project where devs talk about other targets getting recompiled, with some theories about why.

[2022-05-04 15:05] aaliddell commented on #7095
I've tried to trace this cache fragility before and thought it might be https://github.com/protocolbuffers/protobuf/issues/6886. However, IIRC that didn't solve it. When I've triggered this cache issue before with execution logging turned on, the action hashes between builds were identical but it was still rebuilding, suggesting it is not exclusively an env related issue.

One consideration may be

[2022-05-04 18:23] fmeum commented on #15157
@gregestren I'm not sure how difficult this would be to implement, but how about the following: Populate the configured value for all attributes for which the select keys are disjoint from the set of output settings declared by the transition. This should get around all the difficult situations, but still allow for the common, non-pathological use cases.

[2022-05-04 18:29] kgriepen commented on #15373
I verified that if I kill the hanging linux-sandbox command that Bazel continues on to build correctly. Good for a temporary workaround at least.

[2022-05-04 20:12] jxramos commented on #7058
@mmikitka by any chance were you running a `py_test` target over a pytest session?

[2022-05-04 22:19] meisterT commented on #15373
@kgriepen Can you please run this and upload the files (`straceout*`) somewhere?

[code]

[2022-05-04 22:42] meteorcloudy commented on #15350
I don't quite understand this? What do you mean exactly? `local_repository` is a native repository rule.

I think this really depends on how a repository rule is implemented, is it depending on architecture specific things. And I guess the `environs` attribute is a good way to declare such dependency.

[2022-05-04 22:43] keith commented on #15350
I'd say given the rarity, it would be practical to just invalidate everything like changing the bazel version would

[2022-05-04 22:50] meteorcloudy commented on #15350
This is not true. Changing a bazel version (eg. 5.1.0 -> 5.1.1) will not invalidate everything. Only if the starlark semantic changes, see https://cs.opensource.google/bazel/bazel/+/master:src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkRepositoryFunction.java;l=97

[2022-05-04 22:52] meteorcloudy commented on #15350
I think we should try to fix this for local_config_cc, but not sure which env var will be the best to reflect the architecture.

[2022-05-04 23:54] brentleyjones commented on #15350
What I meant by my comment is that repository rules can, and do, look at the architecture and make decisions based on that. They usually reach out with a shell command to determine that. So all `local_repository` rules at a minimum, and ideally any other native ones that do something similar, should be invalidated.

Or like Keith said, let's just invalidate everything when the arch changes, as it'

[2022-05-05 00:02] meteorcloudy commented on #15350
OK, I don't feel strongly against this. Feel free to send a PR to add the arch info to the marker data: Or like Keith said, let's just invalidate everything when the arch changes, as it's not a normal thing to be happening anyway, and the user wouldn't be surprised if the world has to be reevaluated.

[2022-05-05 00:03] pcj commented on #7095
Presumably this would all go away if the proto rules were starlarkified as has been discussed for several years.  Any update from the bazel team on this?

[2022-05-05 00:05] meisterT commented on #7095
cc @comius

[2022-05-05 00:07] meteorcloudy commented on #15364
You can follow https://bazel.build/contribute/getting-started ;)

[2022-05-05 00:10] meteorcloudy commented on #15396
@sgowroji Coverage related issues should be assigned to team-Rules-Server ;)

[2022-05-05 00:11] meteorcloudy commented on #15396
/cc @c-mita

[2022-05-05 01:25] brentleyjones commented on #14900
@coeuvre looks like this isn't a clean cherry-pick onto 5.2. Can you take a look please 🙏.

[2022-05-05 08:03] comius commented on #14327
The flag is experimental - meaning the contract is, that it may be removed at anytime.

The `aspect_hints` feature was put behind a flag, because we know there are issues with its design and we would like to keep our options open. Potentially this feature is going to be designed differently.

Keeping the flag to `false`, will help containing it.

Main issue with the design of `aspect_hints` is, th

[2022-05-05 09:03] #4057 closed

[2022-05-05 09:21] #15214 closed

[2022-05-05 11:38] JohanLaineTobii commented on #15385
This bug affects my organization, we might have to downgrade to 4.2.

I just checked and the issue is in 5.0.0 as well, it's not really a "5.1" bug as it says in the title. But I haven't tracked further than that to find a specific commit.

[2022-05-05 15:43] philsc commented on #15385
If you compile your own version, I think you can use this as a quick hack to work around the issue:
[code]
The problem is that this approach doesn't pass the skipped targets information to the final test reporter (`TerminalTestResultNotifier`). That means it'll skip the incompatible tests, but not report on them. A proper fix would pass the information through farther so the test reporter reports

[2022-05-05 15:48] beasleyr-vmw commented on #14533
Is this (removing the langtools dependency) something worth bringing back to Bazel 5.2.0 (or the next 5.x release), or would raising the minimum requirement of OpenJDK 11.15 be considered a breaking change? (This is something I'm looking into backporting to 5.1.1/5.2.0 for our internal builds.)

[2022-05-05 16:00] keith commented on #14327
Thanks for the context, is there any active work going towards improving those?

[2022-05-05 18:20] gregestren commented on #8339
FYi I have been making progress on this. PRs have been attached to https://github.com/bazelbuild/bazel/issues/6526 instead of here (I'm not sure that's the right choice, but I guess I've confused myself with the issue overlap).

As of now Java actions and some Android actions can strip output paths through an experimental flag. That requires cooperation with the executor. I'm doing scale experimen

[2022-05-05 19:00] jfirebaugh commented on #15304
I figured out that the NullPointerException is triggered by the registration by rules_rust of a "dummy_cc_wasm32_toolchain":

https://github.com/bazelbuild/rules_rust/blob/cd44b3670a0b492eccbe48c20027fd3651cd51e3/rust/private/dummy_cc_toolchain/BUILD.bazel#L5-L13

In a project which wants to combine C++ and Rust code into a single wasm executable, I believe the assumption that this code is making

[2022-05-05 22:16] kgriepen commented on #15373
The issue looks like it was caused by an update to the endpoint security that our org uses. Other symptoms were df and lsof hanging. The quick workaround was to pkill fusermount, but the update has been disabled and I no longer see Bazel hanging. I've contacted @rock626 to see if they still have the issue after updating and comment here.

Thanks so much @meisterT for your time in helping to debug!

[2022-05-06 05:33] abz041 opened #15409 "Documentation issue: Visibility"
Documentation URL: https://docs.bazel.build/versions/main/visibility.html

[2022-05-06 06:47] UlrichEckhardt opened #15410 "Misleading error message "The include path './bin/gcov' is not normalized.""
### Description of the bug:

The error message has two issues:

- It mentions an include path, but it has nothing to do with "include".
- It says "normalized", but what does that even mean?

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Define a C++ toolchain and use "./something" as path for one of the tools.

### Which operating system

[2022-05-06 08:18] UlrichEckhardt opened #15411 "Faulty tool path handling for "gcov" tool"
### Description of the bug:

The handling of tool paths in C++ toolchains is inconsistent, it works as expected for tools like `gcc`, `ld` and `ar`, but not for `gcov`. In the end, `gcov` is not found and no coverage is generated. The error you find in the test.log file is

Note here the duplication of `toolchains/mingw` in the path.

### What's the simplest, easiest way to reproduce this bug? Ple

[2022-05-06 08:32] sgowroji commented on #15409
Hello @abz041, Can you please elaborate your query with complete details. Thanks!

[2022-05-06 08:45] JohanLaineTobii commented on #15385
Thanks for the update! I don't think it's likely I can get go-ahead on deploying an inofficial Bazel version internally but it's good to hear that this is being worked on and that the problem is understood.

Do you think a fix will be added to a 5.1.2 release in the near future (say, a couple of weeks)?

[2022-05-06 12:45] Wyverald opened #15412 "Allow native repo rule usage in module extension impl functions"
Right now we can't use native repo rules in module extension impl functions. We should fix that.

Example:

[code]

[2022-05-06 17:31] konste commented on #15094
@meisterT Here is jstack at the time of repro:
[jstack1.txt](https://github.com/bazelbuild/bazel/files/8642469/jstack1.txt)

[2022-05-06 19:44] bcparkison commented on #6191
I know this bug report is ancient, but I think I'm hitting this with Ubuntu 18.04, Bazel 4.2.1, and Protobuf 3.19.1.  I get an "exec format error" during the build, and can see that `protoc` is built for the target platform (aarch64) instead of the host platform (x86_64).  I tried adding the flag above, with no change in results (which doesn't seem surprising since it seems that the default value

[2022-05-06 19:45] bcparkison commented on #6191
Here's the subcommand that's failing:
[code]

[2022-05-06 20:22] gregestren commented on #15157
I think that's possible. I think the logic would be:

1. In the part of the parent's `ConfiguredTargetFunction` that computes child configurations:
1. if `//:child` has both a self-transition and a `select()`
1. then get its `select()` keys as labels and Skyframe-evaluate those labels to targets.
1. Then parse those targets to fine-tune the set of unsafe flags.

It sounds tricky but doable. Mostly

[2022-05-06 20:23] gregestren commented on #15157
Re: `rules_go` - are there reports of breakages? How'd you find this error?

[2022-05-08 20:55] philsc commented on #15385
@c-mita , WDYT about #15419?

[2022-05-09 03:57] bazel-io opened #15421 "[5.2.0] Filter libtool warning about table of contents"
Forked from #15325

[2022-05-09 03:58] bazel-io opened #15422 "[5.2.0] Unify sandbox/remote handling of empty TreeArtifact inputs"
Forked from #15276

[2022-05-09 03:58] bazel-io opened #15423 "[5.2.0] Revert "Fixes incorrect install names on darwin platforms""
Forked from #15261

[2022-05-09 03:58] bazel-io opened #15424 "[5.2.0] Improve error message for unresolved toolchains"
Forked from #15135

[2022-05-09 03:58] bazel-io opened #15425 "[5.2.0] Cquery can report transitions"
Forked from #15038

[2022-05-09 04:59] philsc opened #15427 "Explicitly requesting an incompatible target prints errors twice"
### Description of the bug:

Explicitly requesting an incompatible target on the command line currently results in duplicated error messages.

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Empty `WORKSPACE` file

`BUILD` file:
[code]

`example.bzl` file:
[code]

`.bazelversion` file (with bazelisk):
[code]
Results in this:
[code]
Notice

[2022-05-09 05:01] philsc commented on #15427
@gregestren , FYI in case it's interesting.

I suspect it's got nothing to do with incompatible target skipping. I'm not sure what the cause might be.

[2022-05-09 07:52] SunXuan90 commented on #12889
Any update on this issue? Thanks!

[2022-05-09 08:49] daohu527 commented on #15386
hi, how do I temporarily skip this question first, the fixed version is a terrible disaster

[2022-05-09 09:57] mdsheraj123 commented on #3915
https://github.com/bazelbuild/bazel/issues/5741

This has the solution. For me in windows, it was

bazel --host_jvm_args=-Djavax.net.ssl.trustStore="C:\Program Files\Android\Android Studio1\jre\lib\security\cacerts" --host_jvm_args=-Djavax.net.ssl.trustStorePassword=changeit build  <...your build commands>

[2022-05-09 11:06] illicitonion commented on #15157
Yes, I ran into this issue when I started trying to conditionally make static binaries depending on the target platform. https://github.com/bazelbuild/rules_go/issues/3103 was my issue report there, and https://github.com/bazelbuild/rules_go/pull/3130 a proposed (but somewhat hacky) fix.

[2022-05-09 13:21] #6393 closed

[2022-05-09 18:21] katre commented on #15391
The actual issue here with your example, however, is that "README.md" is an undeclared output. Please take a look at the docs for [output attributes](https://bazel.build/rules/rules#output_attributes) and [`OutputGroupInfo`](https://bazel.build/rules/lib/OutputGroupInfo) for the relevant details. Specifically, if I change your rule to this:

[code]

and the BUILD to
[code]

then the query shows:
[

[2022-05-09 18:22] katre commented on #15391
I don't think this is an actual issue, I think it's just a confusing interaction with how rules declare outputs, so I am closing it now. If you believe there is an actual issue, feel free to comment and we can re-open it and assign it to the relevant team (which is not Configurability, for future notice).

[2022-05-09 19:53] Yannic commented on #15401
Should be fixed by https://github.com/bazelbuild/bazel/pull/15395

[2022-05-09 20:06] rickeylev commented on #11997
Well, I found some more info about this and it seems in the same vein as this bug.

Basically, there _is_ something special about that middleman object that causes an inner binary's runfiles to be updated (on disk) when an outer binary is built. Back in March 2015, lberki attempted to remove the middleman from the data_runfiles. It ended up causing a breakage, so it was added back a couple months

[2022-05-09 20:57] gregestren commented on #15157
Got it, thanks.

Principally I support narrowing down which attributes we can't access as much as we reasonably can. I don't have time at the moment to tackle this but I'm open to contributions. With the caveat that there is a balance of utility vs. code complexity, so any code I'd want to be very careful doesn't overly complicate Bazel's code in one of the more nuance parts of its code base. That

[2022-05-09 21:00] ckolli5 commented on #15116
https://github.com/bazelbuild/bazel/pull/15429

[2022-05-09 21:00] #15116 closed

[2022-05-09 21:06] #15133 closed

[2022-05-09 21:06] gregestren commented on #15427
I've run into this theme before. I think it can happen for different reasons.

Do you know if `--keep_going` affects this?

I committed https://github.com/bazelbuild/bazel/commit/c56497707f283f3aa1ab34abbcb88470fb5f3207 a while ago to handle another case.

[2022-05-09 21:07] #15152 closed

[2022-05-09 21:14] gregestren commented on #15380
Reproed on my side - thanks again.

Not that adding `--noinclude_aspects` to the cquery call prevents the crash. Nothing decisive but I suspect aspect traversals are related.

I'm going to close this as a dupe for https://github.com/bazelbuild/bazel/issues/15079 and keep this as a reproduction reference.

[2022-05-09 21:15] gregestren commented on #15380
Duplicate of https://github.com/bazelbuild/bazel/issues/15079

[2022-05-09 21:15] #15380 closed

[2022-05-09 21:16] gregestren commented on #15079
Got a nice small repro from https://github.com/bazelbuild/bazel/issues/15380 (Bazel 5.1.1. for me). Adding `--noinclude_aspects` to the cquery call removes the crash (but that's not a suggested workaround since that reduces results).

[2022-05-09 21:41] layus opened #15430 "Crash with empty value of --repo_env"
### Description of the bug:

When a --repo_env var lacks the value part, Bazel crashes instead of using the value of that variable from the environment.

[code]

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Create a trivial repository_rule that uses the env variable.

[code]

[code]

### Which operating system are you running Bazel on?

[2022-05-09 21:43] layus commented on #15430
Seems like the underlying library started refusing null entries while the code relies on them to encode the case where no value is passed and the real value must be taken from the environment.

[2022-05-09 21:57] #15233 closed

[2022-05-09 21:57] ckolli5 commented on #15233
https://github.com/bazelbuild/bazel/pull/15431

[2022-05-09 22:11] mauriciogg opened #15432 "D8 dexmerger crash with multidex on bazel 5 and latest version of android build-tools"
### Description of the bug:

Getting the following exception when trying to compile an app with multidex enabled:

Android build-tools version 32.0.0

Using the following config:

[code]

`ERROR: /Users/mgalindo/Snapchat/Dev/android/snapchat/apps/mushroom/apk/BUILD.bazel:341:15: Assembling dex files into apps/mushroom/apk/_dx/mushroom-gms/shard1.dex.zip failed: (Exit 1): d8_dexmerger failed: error

[2022-05-09 22:12] mauriciogg commented on #15432
@timpeut fyi

[2022-05-09 22:46] ckolli5 commented on #15236
https://github.com/bazelbuild/bazel/pull/15216

[2022-05-09 22:46] #15236 closed

[2022-05-09 22:50] ckolli5 commented on #15237
https://github.com/bazelbuild/bazel/pull/15433

[2022-05-09 22:50] #15237 closed

[2022-05-09 22:54] ckolli5 commented on #15238
https://github.com/bazelbuild/bazel/pull/15434

[2022-05-09 22:54] #15238 closed

[2022-05-09 23:01] ckolli5 commented on #15241
https://github.com/bazelbuild/bazel/pull/15435

[2022-05-09 23:16] ckolli5 commented on #15243
https://github.com/bazelbuild/bazel/pull/15436

[2022-05-09 23:17] #15244 closed

[2022-05-09 23:17] #15288 closed

[2022-05-09 23:18] #15290 closed

[2022-05-09 23:50] ckolli5 commented on #15309
https://github.com/bazelbuild/bazel/pull/15437

[2022-05-09 23:50] #15309 closed

[2022-05-09 23:54] liuyang77886 opened #15438 "AssertionError: Bazel does not support execution of Python interpreters via labels yet"
### Description of the bug:

ubuntu20,tensorflow1.5,Python3.7,bazel-0.26.1
./bazel-0.26.1-linux-x86_64 build --config=v1 --copt=-msse2  -k //tensorflow/tools/pip_package:build_pip_package

error  mesage:

.tf_configure.bazelrc
build --action_env PYTHON_BIN_PATH="/home/soft/anaconda3/bin/python"
build --action_env PYTHON_LIB_PATH="/home/soft/anaconda3/envs/tf/lib/python3.7/site-packages"
build --py

[2022-05-09 23:58] ckolli5 commented on #15310
https://github.com/bazelbuild/bazel/pull/15439

[2022-05-10 00:01] ckolli5 commented on #15311
https://github.com/bazelbuild/bazel/pull/15440

[2022-05-10 00:01] #15311 closed

[2022-05-10 00:05] ckolli5 commented on #15312
https://github.com/bazelbuild/bazel/pull/15441

[2022-05-10 00:08] ckolli5 commented on #15337
https://github.com/bazelbuild/bazel/pull/15442

[2022-05-10 00:11] ckolli5 commented on #15400
https://github.com/bazelbuild/bazel/pull/15443

[2022-05-10 00:11] #15400 closed

[2022-05-10 00:17] ckolli5 commented on #15358
https://github.com/bazelbuild/bazel/pull/15444

[2022-05-10 00:17] #15358 closed

[2022-05-10 00:19] ckolli5 commented on #15360
https://github.com/bazelbuild/bazel/pull/15445

[2022-05-10 00:19] #15360 closed

[2022-05-10 00:21] ckolli5 commented on #15367
https://github.com/bazelbuild/bazel/pull/15446

[2022-05-10 00:21] #15367 closed

[2022-05-10 00:25] ckolli5 commented on #15398
https://github.com/bazelbuild/bazel/pull/15447

[2022-05-10 00:26] ckolli5 commented on #15399
https://github.com/bazelbuild/bazel/pull/15383

[2022-05-10 00:26] #15399 closed

[2022-05-10 00:29] #15401 closed

[2022-05-10 00:32] ckolli5 commented on #15421
https://github.com/bazelbuild/bazel/pull/15448

[2022-05-10 00:32] #15421 closed

[2022-05-10 00:34] ckolli5 commented on #15422
https://github.com/bazelbuild/bazel/pull/15449

[2022-05-10 00:34] #15422 closed

[2022-05-10 00:39] ckolli5 commented on #15423
https://github.com/bazelbuild/bazel/pull/15450

[2022-05-10 00:43] ckolli5 commented on #15424
https://github.com/bazelbuild/bazel/pull/15451

[2022-05-10 00:55] GZGavinZhao opened #15452 "Unable to build Java example using homebrew"
### Description of the bug:

I get errors when trying to build the example project without modification at https://bazel.build/tutorials/java. I've investigated it for an hour but am still completely baffled on why I keep getting errors.

The error is the same when using the x64 version of Bazel running under Rosetta 2.
[code]

### What's the simplest, easiest way to reproduce this bug? Please pro

[2022-05-10 04:36] sgowroji commented on #15438
Hello @liuyang77886, Thank you for reaching out regarding the above request. Could you please share complete steps to reproduce the above error.

[2022-05-10 04:43] philsc commented on #15427
Interesting!  With `--keep_going` the dependency chain explanation disappears completely:
[code]
I'm guessing that makes sense though since with `--keep_going` you're essentially telling bazel not to worry about individual errors.

[2022-05-10 06:04] fmeum commented on #14626
https://github.com/bazelbuild/rules_go/issues/3120 has been fixed, so this issue can be closed.

[2022-05-10 07:21] SimonVleugels commented on #15363
@c-mita any progress on this issue? This is a blocking issue for updating our buildsystem to bazel 5

[2022-05-10 08:57] #15396 closed

[2022-05-10 09:39] GWLeal opened #15454 "--experimental_allow_unresolved_symlinks does not work when declaring a folder"
Hello,

I've noticed some strange behavior regarding how bazel evaluates invalid symlinks.

UC1:
When I declare an invalid symlink, in a custom rule, and I build a bazel target of that kind bazel prints out the message:
`Error in declare_symlink: actions.declare_symlink() is not allowed; use the --experimental_allow_unresolved_symlinks command line option`
As expected when the suggested option is

[2022-05-10 09:43] liuyang77886 commented on #15438
执行以下命令：
sh  bazel-0.26.1-installer-linux-x86_64.sh
cd tensorflow-r1.15/
./configure
./bazel-0.26.1-linux-x86_64 build --config=v1 --copt=-msse2  -k //tensorflow/tools/pip_package:build_pip_package

最后上边所写的错误：
AssertionError: Bazel does not support execution of Python interpreters via labels yet

[2022-05-10 09:52] c-mita commented on #15385
So the cause of the regression is straight-forward.

When 21179b2a82154b870ad8c5a7ad22b4662067cb29 added the check that forwards an `InstrumentedFilesInfo`, it changed the behaviour of the case of a test that normally provides its own but didn't because it was "incompatible".

This trips up the coverage code down the line.

The fix could either be what you've done in https://github.com/bazelbuild/

[2022-05-10 11:51] #15373 closed

[2022-05-10 12:48] liuyang77886 opened #15456 "bazel-5.1.1-installer-linux-x86_64.sh: 83: Bad substitution"
### Description of the bug:

(tf2) test@test-VirtualBox:/home/soft$ sh bazel-5.1.1-installer-linux-x86_64.sh
Bazel installer
---------------

Bazel is bundled with software licensed under the GPLv2 with Classpath exception.
You can find the sources next to the installer on our release page:
   https://github.com/bazelbuild/bazel/releases

#

## Build information
   - [Commit](https://github.com/ba

[2022-05-10 12:59] lberki commented on #15454
I'm not too surprised. `--experimental_allow_unresolved_symlinks` only works for "regular" artifacts not those that are part of `TreeArtifacts`. This is one of the reasons why it's still experimental...

/cc @coeuvre @alexjski

@coeuvre maybe this is something that could conceivably be fixed as a drive-by fix while you are poking at metadata handling for remote execution? (I dorealize this is a lo

[2022-05-10 14:02] meteorcloudy commented on #15241
This change cannot be cleanly cherry picked to 5.2, see https://github.com/bazelbuild/bazel/pull/15455

[2022-05-10 14:02] meteorcloudy commented on #15310
This change cannot be cleanly cherry picked to 5.2, see https://github.com/bazelbuild/bazel/pull/15455

[2022-05-10 14:03] meteorcloudy commented on #15312
This change cannot be cleanly cherry picked to 5.2, see https://github.com/bazelbuild/bazel/pull/15455

[2022-05-10 14:03] meteorcloudy commented on #15337
This change cannot be cleanly cherry picked to 5.2, see https://github.com/bazelbuild/bazel/pull/15455

[2022-05-10 14:04] meteorcloudy commented on #15398
This change cannot be cleanly cherry picked to 5.2, see https://github.com/bazelbuild/bazel/pull/15455

[2022-05-10 14:05] meteorcloudy commented on #15398
This change cannot be cleanly cherry picked to 5.2, see https://github.com/bazelbuild/bazel/pull/15455

[2022-05-10 14:19] Mizux opened #15457 "allow .pyd as legacy_link_shared_name"
### Description of the feature request:
Fix python native lib support on windows by allowing the build of `.pyd` libraries.

ps: related to:
* https://github.com/bazelbuild/rules_python/issues/546

## Context
For [google/or-tools](https://github.com/google/or-tools), I'm currently trying to fix the bazel support of pybind11 (using [pybind/pybind11_bazel](https://github.com/pybind/pybind11_bazel))

[2022-05-10 14:25] alexjski commented on #15454
What is the use case for having unresolved symlinks?

[2022-05-10 14:50] GWLeal commented on #15454
@alexjski in this case we generate an image with the application filesystem that is mounted in one of the target's partitions as read-only. One of the symlinks points to a file in the OS partition in the target. But I would say that having unresolved symlinks in the context of packaging is common.

[2022-05-10 15:47] ghost opened #15459 "remote_coverage_tools / coverage_output_generator-v2.6.zip lacks provenance, instructions to build from source"
### Description of the bug:

Inside each of the java_tools distribution artifacts is a README.md including instructions to rebuild the artifacts from source.

Example from https://github.com/bazelbuild/java_tools/releases/download/java_v11.7.1/java_tools_linux-v11.7.1.zip

[code]

However remote_coverage_tools / coverage_output_generator-v2.6.zip lacks comparable information. As a result, end user

[2022-05-10 19:42] keith opened #15460 "aquery doesn't look through test_suite targets"
### Description of the bug:

With this BUILD file:

[code]

If you run `bazel aquery 'deps(bar)' you get no results. I would expect this to work like `bazel query` and produce the aquery results for `foo`. The same is true if your query is `tests(bar)`. It does not make a difference if you make the tests explicit like:

[code]

### What's the simplest, easiest way to reproduce this bug? Please pro

[2022-05-10 20:15] ted-xie opened #15461 "New D8-based dex builder does not cache dexer outputs, as the legacy dex builder once did"
### Description of the feature request:

The legacy dex builder has an integrated in-memory cache for dexed outputs ([link](https://cs.opensource.google/bazel/bazel/+/master:src/tools/android/java/com/google/devtools/build/android/dexer/DexBuilder.java;l=148?q=f:dexbuilder%20cache&ss=bazel%2Fbazel)]). The dex builder associated with D8, [CompatDexBuilder](https://cs.opensource.google/bazel/bazel/+

[2022-05-11 04:41] sgowroji commented on #15456
Hello @liuyang77886, Could you please elaborate your above request with complete details. Thanks!

[2022-05-11 05:42] sgowroji commented on #14841
Hello @tanuuuu, Am sure this is not a bazel issue and I would recommend you to try the workarounds mentioned [here](https://stackoverflow.com/questions/44966406/archive-export-error-the-archive-contains-nothing-that-can-be-signed). And please reach us back, if you have any specific query on the same with complete details and error logs . Thanks!

[2022-05-11 05:42] #14841 closed

[2022-05-11 07:24] BalestraPatrick commented on #15010
We're seeing the same issue on our CI for the same exact action. If [280ef69](https://github.com/bazelbuild/bazel/commit/280ef6915b0f507218a073974825d6aa7effddee) fixes it, do you think we can cherry-pick it to 5.2?

[2022-05-11 07:42] lberki opened #15463 "`--incompatible_disable_managed_directories`: deprecate `managed_directories()`"
The reasons for deprecation and the migration steps are documented in the design doc:

https://docs.google.com/document/d/1u9V5RUc7i6Urh8gGfnSurxpWA7JMRtwCi1Pr5BHeE44/edit

This represents a loss of functionality for Bazel. We believe this is possible because the motivating use case for `managed_directories()` was `rules_nodejs`, which now recommends against using it.

The incompatible flag will r

[2022-05-11 08:08] coeuvre commented on #15010
Yes, I have another change to commit and will include them in 5.2.

[2022-05-11 10:29] fweikert opened #15464 "Status of Bazel 6.0.0-pre.20220502.1"
- Expected release date: 2022-05-11

Task list:

- [x] Pick release baseline: [17cfa015](https://github.com/bazelbuild/bazel/commit/17cfa015d73195f6fda7705a57702e36609b3175)
- [ ] Create release candidate: https://releases.bazel.build/6.0.0/rolling/6.0.0-pre.20220502.1rc1/index.html
- [ ] Post-submit: https://buildkite.com/bazel/bazel-bazel/builds?branch=release-6.0.0-pre.20220502.1rc1
- [ ] Push

[2022-05-11 11:18] meteorcloudy opened #15465 "Cross-compiling Bazel for arm64 platforms is broken"
### Description of the bug:

During our release process, we encountered the following errors when cross-compiling for macOS arm64 and Windows arm64 platforms
[code]
[code]

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

On macOS x86_64:
[code]

On Windows x86_64:
[code]

### Which operating system are you running Bazel on?

macOS and Wind

[2022-05-11 11:19] meteorcloudy commented on #15465
This is blocking https://github.com/bazelbuild/bazel/issues/15464

[2022-05-11 11:30] fweikert commented on #15465
Pipeline: https://buildkite.com/bazel-trusted/bazel-release/builds/562

[2022-05-11 11:48] #14279 closed

[2022-05-11 11:57] meteorcloudy commented on #15465
@aranguyen Can you please help fix our config settings at https://github.com/bazelbuild/bazel/blob/master/src/BUILD#L170-L181 ?

[2022-05-11 11:58] meteorcloudy commented on #15465
Also https://github.com/bazelbuild/bazel/commit/108c17859c255a350724b661b74e19aeacf44fe6 seems to be an incompatible change, should we better document it in release notes?

[2022-05-11 13:25] bazel-io opened #15466 "[5.2.0] Include spawn metrics in the execution log."
Forked from #15413

[2022-05-11 13:25] bazel-io opened #15467 "[5.2.0] Create output directories for remote execution"
Forked from #15366

[2022-05-11 14:05] aranguyen commented on #15465
@meteorcloudy taking a look now

[2022-05-11 14:35] aranguyen commented on #15465
Ok looking at the BUILD file, this leads me too config `//src/conditions:windows_x86_64` with the following setting

[code]
and config_setting_group ``
[code]
since the flag `--cpu=darwin_arm64`, config_setting_group `darwin_arm64` matches to the following  config `darwin_arm64_flag`
[code]

Comparing this with this config with `darwin_x86_64` at the top. These are clearly not specialization of on

[2022-05-11 14:52] aranguyen commented on #15465
And the same thing should be applied for config "windows_x64_arm64_flag"
[code]

[2022-05-11 14:54] meteorcloudy commented on #15465
https://github.com/bazelbuild/bazel/blob/478843fa3bc1c0ccefd20905bb6bfdadb9f9c744/src/BUILD#L170-L175
Does that mean when passing `--cpu=darwin_arm64` on macOS x86_64 platform, we actually matched `//src/conditions:darwin_x86_64`? This is definitely a bug..

[2022-05-11 15:01] Mizux commented on #15457
A possible workaround it to use this patch on "https://github.com/pybind/pybind11_bazel.git"

[code]

but testing still doesn't work
[code]

[2022-05-11 15:05] Mizux commented on #15457
question: on linux the folder is full
[code]

while on windows it is empty, why ?

[2022-05-11 15:19] meteorcloudy commented on #15465
I think https://github.com/bazelbuild/bazel/commit/108c17859c255a350724b661b74e19aeacf44fe6 is an incompatible change that's worth mention in Bazel's release notes. Do we have a public github issue for this? If not, can you please create one and mention how users should adopt this change? Check the list of issues for Bazel incompatible changes: https://github.com/bazelbuild/bazel/issues?q=is%3Aope

[2022-05-11 15:38] karlhepler commented on #3886
Is this still an issue in Bazel 5+?

[2022-05-11 16:51] ckolli5 commented on #15152
https://github.com/bazelbuild/bazel/pull/15372

[2022-05-11 17:31] digit-google opened #15468 "Cannot build host Linux PIE executables with Bazel 5.1.1"
### Description of the bug:

I am trying to build PIE host Linux executables with Bazel, which, according to the documentation, should be as simple as using the `--force_pic` flag when invoking `bazel build` [1], however this clearly does not work.

See https://github.com/digit-google/bazel-experiments/tree/main/pic-vs-pie for a small Bazel workspace that tries to

[1] https://docs.bazel.build/ver

[2022-05-11 17:46] fmeum commented on #15029
This sounds like a reasonable approach. Just a few points:

* We should clarify which repo we use as the base for looking up the repo mapping: the one that contains the source file or the one that contains the target that references the source file. Are there any non-pathological situations where this might matter? My approach mentioned above would realize the latter, this approach the former.
* J

[2022-05-11 18:13] Wyverald commented on #15029
I really hope not o,o I think file-based technically makes a bit more sense, but again I _really_ hope nobody is using a source file from another repo while the target includes runfiles _and_ the source file refers to such runfiles...

[2022-05-11 19:44] pcjanzen commented on #15468
The way that `--force_pic` works is by compiling all of the objects with `-fPIC` and then linking with `-pie`, and then putting those objects into both the `.so` and the `.a`.  I think you're actually creating position independent executables (you can check with `file`) despite the fact that you're not compiling any of the objects with `-fPIE`.

If you really care about the distinction between `-f

[2022-05-11 20:26] digit-google commented on #15468
Thanks for the clarification.

I think I was confused because PIE is a somewhat ambiguous acronym: it can reference both the fact that an executable is position-independent (which can be achieved with code compiled with `-fPIC` or `-fPIE`) or a way to generate machine code at compile time (enforced by `-fPIE`).

So it looks like Bazel does not support compiling with `-fPIE` by default, but a toolc

[2022-05-11 20:35] bjacob commented on #15359
I'm running into this too.

I have the following environment variables set: `CC=/usr/bin/clang`, `CXX=/usr/bin/clang++`.

Unsetting these two environment variables removed the issue.

[2022-05-11 21:41] alexeagle opened #15470 "Always expose ctx.var["BINDIR"] to actions"
### Description of the feature request:

At aspect we're working on a new ruleset where every action spawn of a `js_binary` needs to know the `BINDIR` variable.

Every Bazel action implicitly knows the bindir, as the paths for output files have it as a prefix. Thus adding it shouldn't cause any new action cache invalidations.

Today users can already do this, such as in `genrule` by referencing `B

[2022-05-11 22:30] SrodriguezO commented on #15463
We use `managed_directories` at Lucid to avoid needing to install node_modules manually for tooling to work. We clean expunge between builds anyway, so we don't experience the mentioned downside from the node_nodules directory also being deleted between builds.

The contents of our managed directory change often, and requiring devs to run some command in order to bring their workspace up-to-date w

[2022-05-12 00:28] shahms commented on #15370
Thanks, Greg. I didn't have anything specific in mind at the moment. This came up when I was looking into label-valued flags to help someone out who was trying to use a string-valued setting with an existing rule set. I noticed that the label-flag implementation an example lacked a context but that resulted in pretty repetitive values.

More concretely I could see a hypothetical with something lik

[2022-05-12 05:41] mark-b2c2 commented on #13358
I too am seeing `bazel coverage //...:` fail using bazel 5.0.0 (and 5.1.1) when trying to use java 17 so I assume it is the same underlying problem.

[code]

[2022-05-12 06:04] fmeum opened #15478 "Bazel@HEAD `bazel test` fails with "'@remote_coverage_tools' is not visible from repository '@bazel_tools'""
### Description of the bug:

Bazel after 156d9c092c9c6f7985c601c38709ede3992dae06 seems to fail to run tests with bzlmod since `@bazel_tools`, which is now a special module, lacks visibility into the `@remote_coverage_tools` repository.

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[code]

### Which operating system are you running Baze

[2022-05-12 06:06] fmeum commented on #15478
@Wyverald Sorry for being the "human downstream failure" again. I really hope https://github.com/bazelbuild/bazel/commit/156d9c092c9c6f7985c601c38709ede3992dae06 can be fixed forward easily.

[2022-05-12 07:47] SimonVleugels commented on #15363
We got the coverage working.

- In Bazel 4.2.0 it was required to use [this patch](https://github.com/bazelbuild/bazel/issues/4685#issuecomment-579692958). Apparently it's also still required in Bazel 5.0.0 (refactored to apply on v5).

- Removing `--experimental_split_coverage_postprocessing` and `--experimental_fetch_all_coverage_outputs` ([issue-4685](https://github.com/bazelbuild/bazel/issues/

[2022-05-12 08:28] #7364 closed

[2022-05-12 08:28] #15224 closed

[2022-05-12 08:28] #15225 closed

[2022-05-12 08:43] meteorcloudy commented on #15465
Thanks for the clarification! Since we already have https://github.com/bazelbuild/bazel/issues/14604, there is no need to create a new one. But as it's still a new feature, it's worth putting a RELNOTES section in the CL description.

[2022-05-12 08:51] meteorcloudy commented on #15359
FYI @oquenchil Seems like Bazel has some C++ module issue when building with clang.

[2022-05-12 08:53] meteorcloudy commented on #15465
This issue should be fixed by https://github.com/bazelbuild/bazel/commit/5bab7ef24672b815c486f390227187a33797e335

[2022-05-12 08:54] meteorcloudy commented on #15465
@fweikert Feel free to cherry pick the fix for the rolling release.

[2022-05-12 08:54] meteorcloudy commented on #14604
Should we close this one since https://github.com/bazelbuild/bazel/commit/240af807c935225d98b630666000cc03934f2ce7 is now submitted?

[2022-05-12 09:12] bmustiata commented on #15391
@katre , thank you for the reply.

Shouldn't then the analysis phase fail? I don't understand how is this not a bug. So it's fine to have undeclared outputs, that the build considers, however cquery doesn't? What would be the use case for this "feature"? Why isn't cquery also merging the DefaultInfo data, since it's obviously part of the build?

[2022-05-12 11:13] c-mita commented on #15363
With regards to the sandboxfs issues, the only fix I can see is to add the following:

[code]
to `SandboxfsSandboxedSpawn::createFileSystem` (https://cs.opensource.google/bazel/bazel/+/master:src/main/java/com/google/devtools/build/lib/sandbox/SandboxfsSandboxedSpawn.java;l=191).
This is basically what happens for the regular sandboxing system; all directories are created with write permissions.

[2022-05-12 11:19] meisterT commented on #15363
Lars is the best person to comment here, but he is currently OOO so you have to wait a little bit.

[2022-05-12 13:32] aranguyen commented on #14604
Yes we can close this one. Thanks!

[2022-05-12 13:55] #15242 closed

[2022-05-12 13:56] #15291 closed

[2022-05-12 14:29] fmeum commented on #10254
@oquenchil I believe that I may be hitting this issue over at https://github.com/bazelbuild/rules_go/pull/3151. Do you have any pointers for how to work around this issue or even fix it in Bazel?

[2022-05-12 14:43] linzhp opened #15480 "[Mirror] rules_go 0.32.0"
### Please list the URLs of the archives you'd like to mirror:

https://github.com/bazelbuild/rules_go/archive/refs/tags/v0.32.0.zip
https://github.com/golang/sys/archive/988cb79eb6c60b82d4b236dd5d6ffd415d9a8425.zip
https://github.com/golang/xerrors/archive/2f41105eb62f341cfe208d06de4ee3bdd3a083da.zip
https://github.com/protocolbuffers/protobuf-go/archive/v1.28.0.zip
https://github.com/googleapis/

[2022-05-12 16:22] fmeum commented on #10254
I see, thanks. I'm still not sure why I'm seeing different behavior between Linux and macOS then on https://github.com/bazelbuild/rules_go/pull/3151, but will continue to investigate.

@pcjanzen Do you happen to know whether https://github.com/bazelbuild/bazel/blob/1a7083ebc76ab4c7100cc92913555596ffdc2049/src/main/java/com/google/devtools/build/lib/rules/cpp/CppActionConfigs.java#L551 could be of

[2022-05-12 16:53] pcjanzen commented on #10254
No, I don't think so. The sordid tale of $EXEC_ORIGIN is at https://github.com/bazelbuild/bazel/issues/10809#issuecomment-645476967.

The GoLink step that generates `libadder_shared.dylib` is passing `-install_name tests/core/c_linkmodes/adder_shared_/libadder_shared.dylib` as one of the arguments. When cc_binary or cc_library generates a shared library, it doesn't do this, so then the LC_ID_DYLIB

[2022-05-12 17:07] benjaminp opened #15483 "be.bazel.build should redirect to the new docs URL"
https://be.bazel.build currently goes to https://docs.bazel.build/versions/main/be/overview.html, but it should go to https://bazel.build/reference/be/overview instead now.

[2022-05-12 17:47] oldsj opened #15484 "Documentation issue: Configurations"
Documentation URL: https://docs.bazel.build/versions/main/skylark/config.html

The "[End to end example](https://github.com/bazelbuild/examples/tree/HEAD/rules/starlark_configurations/basic_build_setting)"
link 404s. Looks like a folder got renamed and it should point to https://github.com/bazelbuild/examples/tree/main/configurations/basic_build_setting

[2022-05-12 18:28] nreid260 opened #24764 "Expose the rule-kind of dependency targets"
Given a setup like:

[code]

I think this should be supported because it's already possible using aspects, just much clunkier. Why do aspects have access to rule-kinds, but normal rules don't?

[2022-05-12 18:56] ishaangandhi opened #15485 "GCOV 9+ race condition (and suggested workaround)"
### Description of the bug:

When using GCOV 9+, some coverage is dropped.

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

BUILD:
[code]
test_lib_*.cpp:
[code]

lib.h:
[code]

lib.cpp:
[code]

## Command
[code]

You can see that only one of the two files got coverage. Which one of the two changes from invocation to invocation. I believe t

[2022-05-12 19:23] ckolli5 commented on #15235
https://github.com/bazelbuild/bazel/pull/15298

[2022-05-12 19:23] #15235 closed

[2022-05-12 19:23] ckolli5 commented on #15240
https://github.com/bazelbuild/bazel/pull/15217

[2022-05-12 19:23] #15240 closed

[2022-05-12 19:24] ckolli5 commented on #15292
https://github.com/bazelbuild/bazel/pull/15474

[2022-05-12 19:24] #15292 closed

[2022-05-12 19:33] ckolli5 commented on #15158
This is already part of 5.1.1 release. https://github.com/bazelbuild/bazel/pull/15181

[2022-05-12 19:33] #15158 closed

[2022-05-12 19:35] ckolli5 commented on #15234
This change cannot be cleanly cherry picked to 5.2, see https://github.com/bazelbuild/bazel/pull/15479

[2022-05-12 19:36] ckolli5 commented on #15425
This change cannot be cleanly cherry picked to 5.2, see https://github.com/bazelbuild/bazel/pull/15475

[2022-05-12 19:37] ckolli5 commented on #15466
This change cannot be cleanly cherry picked to 5.2, see https://github.com/bazelbuild/bazel/pull/15476

[2022-05-12 19:39] ckolli5 commented on #15467
This change cannot be cleanly cherry picked to 5.2, see https://github.com/bazelbuild/bazel/pull/15477

[2022-05-12 19:45] rickeylev opened #15486 "Allow runfiles to be easily/efficiently passed as action inputs"
### Description of the feature request:

If you have an action that needs to take a collection of runfiles as input, then it's very hard, error prone, and inefficient to correctly do this.

To correctly do this, the inputs passed to the action must include:
 * `runfiles.files`.
 * The `File`s within `runfiles.symlinks`. Getting these requires flattening the depset during analysis.
 * The `File`s w

[2022-05-13 00:48] cpsauer opened #15492 "Idea from Firebase for Automatically Creating NDK/JNI ProGuard Specs"
Hi wonderful Bazel folks,

This is a feature request for the Android rules (+ maybe Java) based on a clever build trick I'd seen over at Firebase.

In a sentence: Eliminate a whole class of JNI issues by automatically keeping Java methods/classes called from C from being stripped by ProGuard.

Problem: When using the NDK, you inevitably end up needing to make calls into Java over the JNI. So you u

[2022-05-13 01:55] SrodriguezO commented on #15463
When the typescript language server is running, it must be able to find dependencies in order to provide type information and go-to support.

Additionally, we use some IDE extensions that rely on the presence of node_modules, such as ESLint and Prettier. Although our definitive "formatter" that runs in CI is powered by Bazel, the IDE extensions improve our developers' dev experience as they get mo

[2022-05-13 08:07] layus commented on #15430
Oh, it seems my report lacks the most important part: the actual `--repo_env=FOO` flag.

You can change the command line to `FOO=bar bazel build @debug//:test --repo_env=FOO`, or use a .bazelrc like I did.

I had to deep clean everything before reproducing again:

[code]

[2022-05-13 08:14] sgowroji commented on #15484
Fixed. It will be reflecting in the next release at this [page](https://bazel.build/rules/config). Thanks!

[2022-05-13 08:14] #15484 closed

[2022-05-13 09:19] Rishabh1901 opened #15495 "Bazel build failing locally on MacBook with Apple M1 chip"
### Description of the bug:

I'm trying to build locally using Bazel. My Bazel version is Bazel@3.7.1 , Golang version is go@1.14.15, and it gives error when I try to build.

ERROR: An error occurred during the fetch of repository 'org_golang_google_grpc':
   Traceback (most recent call last):
        File "/private/var/tmp/_bazel_rishabhshukla/877117b30352da854febc88b94403321/external/bazel_gazel

[2022-05-13 09:28] c-mita commented on #13358
This appears to be fixed at HEAD (after https://github.com/bazelbuild/bazel/pull/15209). I don't know what changed in java_tools to fix it though.

[2022-05-13 11:29] Wyverald commented on #15478
FYI I'm working on this, just running into some difficulty with my local toolchain setup. Will try to get it fixed today.

[2022-05-13 14:10] katre commented on #15391
query explicitly only reported declared outputs, but other build rules are absolutely free to depend on undeclared outputs. Many rules (especially starlark rules) don't bother to declare outputs because there is no impact.

[2022-05-13 15:21] sgowroji commented on #15495
Hello @Rishabh1901, Can you please provide complete steps to reproduce the above error. Thanks!

[2022-05-13 16:31] dpeter99 commented on #4005
So from reading this issue am I correct in assuming that currently there is no way to use cpp20 Modules in bazel?
If so is there any chance we will get support in the near future?

[2022-05-13 17:10] keith commented on #15495
Note that bazel didn't really support m1 machines until 4.x, and rules_go had some changes as well. I would recommend updating both

[2022-05-13 17:17] davido commented on #13358
Thanks, I confirmed, that the tests are now passing, and I've updated my linked PR and removed duplicate variable definition.

[2022-05-13 17:17] #13358 closed

[2022-05-13 17:40] dmadisetti commented on #5033
nocopts was removed https://github.com/bazelbuild/bazel/issues/8706

[2022-05-13 17:41] jaredbhatti opened #15498 "Documentation issue: User's guide"
Documentation URL: https://docs.bazel.build/versions/main/guide.html

Edit this page button doesn't work on these docs for some reason :)

[2022-05-13 18:07] dmadisetti commented on #8706
3 years later and docs have no been updated. Also dead references in comments and code: https://github.com/bazelbuild/bazel/search?p=1&q=nocopts&type=code

Is the logic with `UNFILTERED_COMPILE_FLAGS_FEATURE_NAME` still relevant? https://github.com/bazelbuild/bazel/blob/a48e246e53c19cfa5d68c21ffefee0470acf7230/src/main/java/com/google/devtools/build/lib/rules/cpp/CompileCommandLine.java#L144

The

[2022-05-13 18:11] pizzaz93 commented on #15110
Duplicate of #13426 but the branch/link has been updated to `main`.

[2022-05-13 18:46] dmadisetti opened #15499 "Explicitly add `cuda` and `cxx` features to `cc_* rules`"
### Description of the feature request:

Native cuda support (https://github.com/bazelbuild/bazel/issues/6578) is pretty close with clang. Things _almost_ run out of the box with a properly configured clang toolchain. There's still a bit of friction since cuda and cpp share the same toolchain, there should be a near native way of distinguishing compilation types.

### What underlying problem are y

[2022-05-13 19:54] ankit-agarwal1999 opened #15500 "[CC Shared Library] CC Shared Library does not link in all transitive dependencies"
### Description of the bug:

On release 5.1.1 and I believe on latest master as well (since there haven't been very many changes), it is possible for cc shared library to not link in all of its transitive dependencies referred to by CcInfo providers. I am currently trying to migrate some of my features for cc_binary(linkshared = 1) to cc_shared_library.

The issue happens in the experimental_cc_sh

[2022-05-13 21:36] railwaycat opened #15501 "Bazel 5.1.1 bootstrap with llvm fails"
### Description of the bug:

I tried to bootstrap bazel 5.1.1 with llvm/clang, following this document: https://bazel.build/install/compile-source#bootstrap-bazel.

I end with the following error:

[code]

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

1. Install the dependencies document requires: `openjdk-11-jdk`, `zip`, `unzip`.
2. Ins

[2022-05-13 22:08] #15398 closed

[2022-05-13 22:09] #15424 closed

[2022-05-13 22:09] #15337 closed

[2022-05-13 22:09] #15312 closed

[2022-05-13 22:09] #15243 closed

[2022-05-13 22:09] #15310 closed

[2022-05-13 22:10] #15241 closed

[2022-05-13 22:10] #15234 closed

[2022-05-13 22:11] #15425 closed

[2022-05-13 22:11] #15466 closed

[2022-05-13 22:11] #15467 closed

[2022-05-14 00:01] jonathan-enf opened #15502 "python_stub_template.txt doesn't find runfiles associated with pyz file."
### Description of the bug:

In this scenario:
* a py_binary file ("foo.py) has a data dependency on another py_binary ("bar.py")
* foo.py calls bar as a subprocess.

This works if invoked as "blaze run :foo" because "foo" executes in a context where a "foo.runfiles" directory exists, and all of "bar.py"'s dependencies are easily found in "foo.runfiles" directories.

However, if "foo.zip" is built

[2022-05-14 06:44] cpsauer commented on #14604
Thank you all so much for being great and landing code to fix.

I am, however, still seeing this with the latest Bazel rolling (6.0.0-pre.20220421.3), when I tried to remove our workarounds. And I think https://github.com/bazelbuild/bazel/commit/240af807c935225d98b630666000cc03934f2ce7 should be in that version based on the tags linked on the commit. Am I missing something here, or is it possible

[2022-05-14 09:43] Jonpez2 commented on #14502
As of jdk 18, this has become a hard failure. What are the current thoughts on upstreaming the ‘allow’ setting conditional on jdk runtime >= 17? Or is there some other approach being considered?

Thanks!

[2022-05-14 10:42] fmeum commented on #14502
An alternative could be to have the test runner attach a Java agent that modifies the behavior of System.exit using ByteBuddy or ASM.

[2022-05-14 15:07] dpeter99 commented on #4005
I know this. what I'm asking is if there is some way to use modules, like community-driven rules. Or if not that at least some update on when if ever we can expect Google to switch.
I'm asking because I'm currently setting up a new project that I want to use a monorepo style set up for, but I also would like to use cpp20 modules.

[2022-05-14 15:45] cushon commented on #14502
To confirm, isn't it a failure by default in 18 that can still be disabled by passing `-Djava.security.manager=allow`?

Internally we are currently passing that flag and waiting to see if https://bugs.openjdk.java.net/browse/JDK-8199704 happens before the API is removed.

Another option being considered is to remove the test SecurityManager sooner and rely on static analysis to prevent calls to Sy

[2022-05-16 02:58] joeljeske commented on #14647
I had trouble bypassing this limitation using `ctx.actions.symlink`. I ended up having a rule that created many directories using ctx.actions.declare_directory and then returning them using OutputGroupInfo and naming them dynamically. Then you can access each dynamic directory using `filegroup[output_group]`.

Its frustrating to require a workaround that should be supported properly, but this does

[2022-05-16 03:51] ghorn commented on #11593
I was successful using @rnburn's suggestion here https://github.com/bazelbuild/bazel/issues/11593#issuecomment-644423563, for intel mkl static libraries.

it looked like this:
[code]

[2022-05-16 04:19] sgowroji commented on #15500
Hello @ankit-agarwal1999, Could you please share the steps to reproduce the above error. Thanks!

[2022-05-16 07:23] guw opened #15506 "jvm_maven_import_external not using .netrc file content"
### Description of the bug:

When defining repository access with `.netrc` file it looks like `jvm_maven_import_external` is not using this. This is unexpected as `.netrc` should work everywhere in Bazel.

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Create dependency consumption with `jvm_maven_import_external` from a password protecte

[2022-05-16 08:26] Jonpez2 commented on #14502
Right, true, it can be worked around by everyone doing that.  I was just wondering whether in the interim, instead of everyone c&p'ing that into various bits of their code, it would be possible to handle it upstream.

[2022-05-16 08:56] lberki commented on #15463
@SrodriguezO : given the "don't absolutely need this feature" part, I won't consider this a blocking issue.

Maybe you can get away with putting `node_modules` into [.bazelignore](https://docs.bazel.build/versions/main/guide.html#bazelignore) and rigging some script up to symlink that into wherever `rules_nodejs` puts its `node_modules` directory?

[2022-05-16 09:11] sgowroji commented on #15506
Hello @guw, There is already an open issue with same details [here](https://github.com/bazelbuild/bazel/issues/13709). Please confirm if the above issue is not relevant to it. Thanks!

[2022-05-16 09:26] meteorcloudy commented on #15480
Maybe better to use https://github.com/protocolbuffers/protobuf-go/archive/refs/tags/v1.28.0.zip ?

[2022-05-16 09:45] sgowroji commented on #15480
Please find the below artifacts

1. https://mirror.bazel.build/github.com/bazelbuild/rules_go/archive/refs/tags/v0.32.0.zip
2. https://mirror.bazel.build/github.com/golang/sys/archive/988cb79eb6c60b82d4b236dd5d6ffd415d9a8425.zip
3. https://mirror.bazel.build/github.com/golang/xerrors/archive/2f41105eb62f341cfe208d06de4ee3bdd3a083da.zip
4. https://mirror.bazel.build/github.com/protocolbuffers/proto

[2022-05-16 09:45] #15480 closed

[2022-05-16 13:19] aranguyen commented on #14859
What about using varref? I’m not super familiar with it but from the documentation it seems that they can be used in rules that are subject to “Make” variable substitution.

[2022-05-16 14:06] aranguyen commented on #14604
@cpsauer could you share your full example so I could try and reproduce it on my end? https://github.com/bazelbuild/bazel/commit/240af807c935225d98b630666000cc03934f2ce7 should address this issue.

[2022-05-16 14:46] guw commented on #15506
Thanks. I was overlooking the details. Indeed, fixing #13709 would address this one.

[2022-05-16 14:46] #15506 closed

[2022-05-16 15:02] gibfahn commented on #14610
We have now open-sourced this, it's at https://github.com/bazel-contrib/target-determinator

[2022-05-16 15:41] benjaminp commented on #14859
`varref` has never been supported by Bazel.

[2022-05-16 16:39] cushon commented on #14502
I think it makes sense to add a shared workaround to Bazel in the interim. I'm not sure what the cleanest way only pass `-Djava.security.manager=allow` to JDK versions that recognize it is, though.

[2022-05-16 17:50] adam-azarchs commented on #13709
It doesn't out of the box, but it can be made to with a bit of boiler-plate:

[code]

That said it isn't ideal for every rule implementation to have to do this.

[2022-05-16 18:30] adam-azarchs commented on #15013
To be a little bit more clear about my feature request, I wasn't suggesting that arbitrary shell snippets should be supported necessarily (because that might be complicated) - more complicated stuff like I was showing for `git credential fill` support would, I'd expect, be in a wrapper script of some kind.

API can be a little tricky to work out the ideal form.  My first idea would be simply some

[2022-05-16 19:01] ckilian867 commented on #15314
Hi Liam, we're playing around with working lombok to accept a flag to the config file, but we're still running into issues. We're using a genrule to copy the lombok.config file into the sandbox and passing $(location) on the file in the javacopts since they are subject to Make variable expansions. However, the file does not seem to show up in the sandbox and is unavailable to the annotation proces

[2022-05-16 19:05] cushon commented on #15314
I was wondering about using javac flags to configure `addLombokGeneratedAnnotation` directly, e.g. something like `-Alombok.addLombokGeneratedAnnotation`, not passing the path to a config file.

`java_package_configuration` supports `data` and `javacopts` and will do location expansion, but using that would still require a custom `java_toolchain`.

[2022-05-16 19:15] ckilian867 commented on #15314
I think sending a map over through `-A` would work, or sending individual fields through multiple options, but Starlark can't read files so converting the `lombok.config` file to a map to send over wouldn't be possible. We'd need convert all our existing `lombok.config` files to be `lombok.bzl` files that contain a map, unless there's an easier way.

Maybe off topic, but do you know why `.properti

[2022-05-16 21:08] aiuto opened #15507 "There should be a target which represents the consolidated LICENSE for everything included in the bazel binary"
### Description of the feature request:

Bazel's binary includes third_party code. We need to provide the capability for someone to gather the transitive licenses for all of that.

### What underlying problem are you trying to solve with this feature?

Audit compliance

### Which operating system are you running Bazel on?

n/a

### What is the output of `bazel info release`?

n/a

### If `bazel in

[2022-05-16 21:20] ishaangandhi opened #15508 "test_tag_filters not used from bazelrc"
### Description of the bug:

The `test_tag_filters` specified in the bazelrc are not used.

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

`bazel.rc` content: `test --test_tag_filters=-my-tag`

BUILD:
[code]

Then run:
[code]

Whereas if you specify that filter on the command line, the test is not run:
[code]

### Which operating system a

[2022-05-16 21:40] guw commented on #15013
FWIW, I would be happy if Bazel just implements the same protocol that git credentials helper is using. That would open the door for a lot of secure storage options.

[2022-05-16 22:46] cpsauer commented on #12889
Thanks for the heads! Have changed the title/top comment of the feature request to reflect the release of r24.

[2022-05-16 23:08] cpsauer commented on #14604
Sure! It repros in the the minimal one, above, though.
Gimme a couple minutes and I'll create an archive of it for ya

[2022-05-16 23:16] cpsauer commented on #14604
Here you go!
[platform_select_repro.zip](https://github.com/bazelbuild/bazel/files/8703908/platform_select_repro.zip)

Just run `bazel build example --platforms=//:ios-aarch64`

And you'll get the same error:
[code]

---

It's just a blank WORKSPACE, plus a BUILD file with the above, (arbitrarily) selecting on linkopt in a cc_library, plus a matching platform definition.

The .bazelversion therein

[2022-05-16 23:22] cpsauer commented on #12889
Googlers, is this not an issue internally for Blaze? I'd have guessed offhand that supporting new NDKs with Blaze/Bazel would have been important bc Google's main OS/build tool.

[2022-05-16 23:25] yeounoh commented on #15359
Using the nightly (pre-release) resolved the issue for me.

[2022-05-17 01:04] yeounoh commented on #15359
I am seeing the failure again, will reopen the issue.

[2022-05-17 03:53] sgowroji commented on #14916
Hello @mattem, Above query is fixed.Could you please verify with the [latest](https://bazel.build/rules/lib/dict). Thanks!

[2022-05-17 03:53] #14916 closed

[2022-05-17 06:50] snowuyl opened #15510 "bazel 3.7.2 can't build TensorFlow Lite 2.7.0 for iOS"
### Description of the bug:

I am trying to build TensorFlow Lite 2.7.0 for iOS on macOS 12.3.1 m1 (arm64 CPU). But it failed to build it successfully.

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

git clone https://github.com/tensorflow/tensorflow tensorflow-2.7.0_ios
cd tensorflow-2.7.0_ios
git checkout r2.7
./configure
default for al

[2022-05-17 06:50] snowuyl commented on #15510
How can I force bazel 3.7.2 to use python3 instead python?

[2022-05-17 12:29] meteorcloudy commented on #15457
@sgowroji This issue belongs to team-Rules-CPP

[2022-05-17 12:48] meteorcloudy commented on #15438
Please use an absolute path here (`/home/soft/anaconda3/bin/python`).

[2022-05-17 12:48] #15438 closed

[2022-05-17 12:48] meteorcloudy commented on #15495
As @keith suggested, please try with newer version of Bazel and rules_go.

[2022-05-17 12:48] #15495 closed

[2022-05-17 12:50] meteorcloudy commented on #15501
Similar issue here: https://github.com/bazelbuild/bazel/issues/15359, but we never officially supported bootstrap with clang though.

[2022-05-17 13:42] alexeagle commented on #15463
@SrodriguezO I see how that's a handy workflow. But it only happens to work when the user's workflow is
- change git worktrees
- run a bazel build of a target that depends on the npm install
- try to run a tool outside of Bazel

Obviously if you just changed worktrees and then ran the tool, nothing would have updated the node_modules directory. But I understand you have this working okay for you.

[2022-05-17 14:22] railwaycat commented on #15501
Thank you @meteorcloudy! I didn't know bootstrap with llvm/clang is not officially supported.

[2022-05-17 14:53] fweikert opened #15512 "Status of Bazel 6.0.0-pre.20220502.3"
- Expected release date: 2022-05-17

Task list:

- [x] Pick release baseline: [17cfa015](https://github.com/bazelbuild/bazel/commit/17cfa015d73195f6fda7705a57702e36609b3175) with cherrypick [ae47bc24](https://github.com/bazelbuild/bazel/commit/ae47bc24985384ebb7714c152945f40854cb60d8)
- [ ] Create release candidate: https://releases.bazel.build/6.0.0/rolling/6.0.0-pre.20220502.3rc1/index.html
- [

[2022-05-17 15:10] keith commented on #15510
You can try `--host_force_python=PY3`, but you might need to update bazel or provide a local shim for `python` which points to `python3` 😬

[2022-05-17 20:00] tony-scio commented on #8230
I'm curious if there's a canonical set of recommended flags for nodejs_rules+macos.

The sandbox is hurting us pretty severely. Here's an example of one test that takes 31s outside of bazel, but 72s inside it (it's typical of our tests). More than 2x overhead!

<img width="930" alt="Screen Shot 2022-05-17 at 12 48 34 PM" src="https://user-images.githubusercontent.com/49661492/168898502-e89f9b7f-33

[2022-05-17 21:40] ckilian867 opened #15513 "--patch-module javac flag not working when javac strategy is sandboxed"
### Description of the bug:

When trying to patch a file into `jdk.unsupported`, using the `--patch-module` javac options succeeds when run with flag `--strategy=Javac=local` but fails when run with flag `--strategy=Javac=sandboxed`.

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Created minimal reproduction: https://github.com/ckilian86

[2022-05-18 01:40] konste commented on #15094
Second repro: [jstack2.txt](https://github.com/bazelbuild/bazel/files/8712584/jstack2.txt)

[2022-05-18 03:39] snowuyl commented on #15510
Thanks Keith's reply! I modify command as follows.
bazel build --host_force_python=PY3 --verbose_failures --config=ios --ios_multi_cpus=armv7,arm64 -c opt //tensorflow/lite/ios:TensorFlowLiteC_framework

But bazel still can't build TensorFlow Lite 2.7.0 for iOS. The following is log messages.
INFO: Found 1 target...
ERROR: /Users/andyueng/samba/workspace_TensorFlow2/tensorflow-2.7.0_ios/tensorflow

[2022-05-18 03:40] keith commented on #15510
Yea looks like you'll have to try one of the other options then

[2022-05-18 03:41] snowuyl commented on #15510
I would like to try any options.

[2022-05-18 03:42] keith commented on #15510
yea i mean the other 2 i mentioned above:

[2022-05-18 04:01] snowuyl commented on #15510
Unfortunately TensorFlow Lite 2.7.0 can only build with bazel 3.7.2. I also try to create symbolic link for python. But it still can't work.
% which python
/opt/homebrew/bin/python
% ls -al /opt/homebrew/bin/python
lrwxr-xr-x  1 root  admin  25  5 18 11:55 /opt/homebrew/bin/python -> /opt/homebrew/bin/python3

The following is error messages.
INFO: Found 1 target...
ERROR: /Users/andyueng/samba/wo

[2022-05-18 04:12] keith commented on #15510
It must not be including `/opt/homebrew/bin` in your `$PATH` (or the `$PATH` it sets instead). You will probably need to inject that somehow, maybe with `--action_env=PATH`

[2022-05-18 04:40] snowuyl commented on #15510
/opt/homebrew/bin is in my $PATH environment variable.
echo $PATH
/opt/homebrew/opt/python@3.9/libexec/bin:/opt/homebrew/bin:/opt/homebrew/sbin

[2022-05-18 04:46] sgowroji commented on #15409
Hello @abz041, Please find the latest documentation on [Visibility](https://bazel.build/concepts/visibility) and above shared. is not the latest. And reach us back if you still have any further queries on the same.  Thanks!

[2022-05-18 04:46] #15409 closed

[2022-05-18 04:56] keith commented on #15510
Yes but tensorflow may not use that specifically in the build. You can potentially see what path is used for the action that fails by passing -s

[2022-05-18 05:51] snowuyl commented on #15510
The following is error messages after adding -s option to bazel build command.
SUBCOMMAND: # //tensorflow/lite/ios:Preprocessed_TensorFlowLiteC_framework [action 'Symlinking bazel-out/apl-ios_armv7-opt-ST-96e8508176c3/bin/tensorflow/lite/ios/Preprocessed_TensorFlowLiteC_framework.apple_static_library_lipo.a to bazel-out/darwin-opt/bin/tensorflow/lite/ios/Preprocessed_TensorFlowLiteC_framework-inte

[2022-05-18 09:23] comius commented on #15502
This probably should be addressed in pyz archive - but that would break current users.
So providing a second archive that's correctly packaged is probably better?

[2022-05-18 09:25] comius commented on #15502
cc @rickeylev

[2022-05-18 09:49] fweikert commented on #15483
Fixed. Tested with https://be.bazel.build and https://be.bazel.build/c-cpp#cc_binary

[2022-05-18 09:49] #15483 closed

[2022-05-18 10:03] dhiller opened #15515 "[Mirror] certificate of mirror.bazel.build has expired"
### Please list the URLs of the archives you'd like to mirror:

The SSL sertificate seems to have expired just now:

[code]

See https://github.com/kubevirt/project-infra/pull/2058#issuecomment-1129811612 for reference

[2022-05-18 10:08] bretanac93 commented on #15515
Same happened to me here, my CI pipelines failed due to expired certificate

[code]

[2022-05-18 10:31] dmivankov commented on #15515
same for https://docs.bazel.build

[2022-05-18 10:34] ar3s3ru commented on #15515
This looks more like a P1 than a P2 👀

[2022-05-18 10:35] gabrielrussoc commented on #15515
FWIW, overwriting repositories like `@remote_coverage_tools` on my own workspace seems to be a no-op and Bazel still tries to download from the mirror

[2022-05-18 10:42] dmivankov commented on #15515
adding ` build --jvmopt=-Dcom.sun.net.ssl.checkRevocation=false` to `.bazelrc` may be a temporary workaround

[2022-05-18 10:49] neumann-nico commented on #15515
Works again!

[2022-05-18 10:49] dmivankov commented on #15515
cert is restored :tada:

[2022-05-18 11:24] fweikert commented on #15515
Sorry for the problems!

We actually switched to automatically managed SSL certificates to avoid such problems. However, the update process got confused by a change to the domain lists and just stalled (without notifying us). Manually building and deploying new certificates solved the problem.

[2022-05-18 11:24] #15515 closed

[2022-05-18 11:38] comius commented on #15459
cc @c-mita

[2022-05-18 11:45] comius commented on #15452
Bazel uses its own (remote) JDK to compile and its own (sever) JDK to run, but it inspects local JDK and uses its boot classpaths, so that the produced code/jars can execute locally. And this is where the error is happening.

Here is where JDK discovery is implemented for mac:
https://cs.opensource.google/bazel/bazel/+/master:src/main/cpp/blaze_util_darwin.cc;l=169-180;drc=688a2376d997dfa795c02eb4

[2022-05-18 11:48] jaronsummers commented on #15515
As a follow-up, is it possible/desirable to add a second download source for the odd archives here, including remote_download_tools?

https://github.com/bazelbuild/bazel/blob/master/distdir_deps.bzl#L291

[2022-05-18 12:30] BalestraPatrick commented on #14113
We're still seeing this issue pretty often to be annoying enough on our macOS CI. Is there any update on the investigation?

[2022-05-18 12:33] #15478 closed

[2022-05-18 13:03] fweikert commented on #15515
cc @Wyverald wrt the last question

[2022-05-18 13:25] jgertm opened #15516 "Test results cached despite `no-cache` tag"
### Description of the bug:

According to https://docs.bazel.build/versions/main/be/common-definitions.html#common-attributes, adding the `no-cache` tag should "[result] in the action or test never being cached (remotely or locally)". This is false, at least using a toolchain that I have written.

I was able to work-around this issue by instead setting the `external` tag.

### What's the simplest,

[2022-05-18 14:34] tjgq commented on #15516
Here's a smaller repro with a trivial test rule:

[code]

Confirmed with a Bazel built at HEAD. Note that is isn't remote execution related; a local build exhibits the issue.

[2022-05-18 14:36] GZGavinZhao commented on #15452
@comius I can confirm my `JAVA_HOME` is correct:
[code]

[2022-05-18 15:20] pcjanzen commented on #15516
Does adding `--experimental_allow_tags_propagation` help?

https://github.com/bazelbuild/bazel/issues/8830

[2022-05-18 15:44] meteorcloudy commented on #15498
/cc @philomathing

[2022-05-18 16:11] fweikert commented on #15498
I've removed the "edit" button from the legacy docs.

[2022-05-18 17:14] #15498 closed

[2022-05-18 18:44] ulrfa opened #15519 "Make --remote_local_fallback honor --spawn_strategy"
### Description of the feature request:

In case of remote execution issues, I expect `--remote_local_fallback` with `--spawn_strategy=remote,worker,linux-sandbox` to fallback to `worker` if available, and otherwise to `linux-sandbox`.

But instead I see fallback based on `--remote_local_fallback_strategy`, which is supposed to be a **no-op** according to [documentation](https://bazel.google.cn/re

[2022-05-18 19:54] gregestren opened #15520 "Investigate flag change performance costs"
### Description of the feature request:

Repeating the same build with any flag changes forces a full redo of Bazel's analysis phase. This can make trivial rebuilds noticeably slow (https://github.com/bazelbuild/bazel/issues/13186).

This code documents correctness concerns that prompt the redoing:

https://github.com/bazelbuild/bazel/blob/3cd5f8411a22341c5c964cfd03166a3bdc267bfc/src/main/java/com

[2022-05-18 19:58] ishaangandhi commented on #15508
Sorry, you are right, I oversimplified the reproduction. I think this case _should_ reproduce. There are 2 bazelrc's, with one importing another.

`bazel1.rc`:
[code]
and then `bazel.rc`:
[code]

Then when you run `bazel coverage`, targets with tag `my-tag` still get tested, which is somewhat unexpected. I've observed the error goes away if you remove the `test_tag_filter` from `bazel1.rc`.

[2022-05-18 20:16] michajlo commented on #15508
I believe what's happening is that `--test_tag_filters` doesn't accumulate, so when you do `bazel coverage  --config=config1 ...` what this is logically expanding to is `bazel coverage --test_tag_filters=-my-tag --test_tag_filters=-no-abc,-no-xyz ...`. In this event both `--test_tag_filters=` are present because the `coverage` command inherits from the `test` command, but the last occurrence wins.

[2022-05-18 20:30] keith commented on #14113
Are you using GA too? AFAIUI this isn't a bazel issue

[2022-05-18 20:35] nkoroste opened #15521 "Builds fail with FileAlreadyExistsException with IDL temp dir in extractIdlClasses"
### Description of the bug:

[code]

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

_No response_

### Which operating system are you running Bazel on?

all

### What is the output of `bazel info release`?

5.0.0

### If `bazel info release` returns `development version` or `(@non-git)`, tell us how you built Bazel.

_No response_

### Wh

[2022-05-18 20:36] nkoroste commented on #15521
fix https://github.com/bazelbuild/bazel/pull/15362

[2022-05-18 22:39] nkoroste commented on #15432
@ahumesky @ted-xie do you guys see this internally?

[2022-05-19 00:52] brentleyjones opened #15527 "`--incompatible_remote_build_event_upload_respect_no_cache` doesn't work with BwtB"
### Description of the bug:

`--incompatible_remote_build_event_upload_respect_no_cache` doesn't prevent the upload of `no-cache`/`no-remote` blobs if you use `--remote_download_minimal` or `--remote_download_toplevel`.

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

bazelrc:
[code]

The above will only upload the timing profile, as expec

[2022-05-19 07:05] cloudhan commented on #6578
Here is my pure starklark impl https://github.com/cloudhan/rules_cuda

[2022-05-19 09:24] kkpattern commented on #3500
Looks lik bazel 4.2.2 still has this problem. The `PATH` is ok as long as all the team members install MSVC in the same path. But the `TEMP` and `TMP` are trickier. Force all the members have a same `TEMP` path doesn't seem a good idea. Any chance this can be fixed in the future?

[2022-05-19 09:34] lberki opened #15529 "`bazel query //external:<repo> --output=build` result inconsistent with what Bazel does"
### Description of the bug:

When one overrides a repository in the embedded WORKSPACE file suffix with one in the main WORKSPACE file, the override takes effect, but `bazel query //external:<repo> --output=build` .

Curiously, this is not the case when one declares two repositories with the same name in the main WORKSPACE file.

### What's the simplest, easiest way to reproduce this bug? Please p

[2022-05-19 09:47] OscarVanL commented on #10653
For those who are having this failure with the VSCode Bazel Extension with an error along the lines of:

[code]

For me, this problem was rectified by opening the VSCode Bazel extension settings, finding the "Queries Share Server" checkbox, and **ensuring it is ticked** (unticked by default).

The box has the description: "Use the same Bazel server for queries and builds. By default, vscode-bazel

[2022-05-19 11:04] kkpattern commented on #3500
Another problem we encounter is case-senstive. On Windows, path is not case-senstive. So `C:\Windows\xxx` is equal to `C:\WINDOWS\xxx`. However bazel will treat these two differently, cause remote cache miss. Maybe we can convert `PATH` to lower case? This sounds a different issue.

[2022-05-19 11:32] oliverlee opened #15530 "bazel run with --run_under does not work with targets specifying current workspace"
### Description of the bug:

`--run_under` does not seem to accept targets specifying the current workspace:

[code]

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[code]

### Which operating system are you running Bazel on?

macOS 11.16

### What is the output of `bazel info release`?

release 5.1.1

### If `bazel info release` returns

[2022-05-19 14:08] bulvara opened #15531 "Error "module java.base does not opens java.lang to unnamed module" at OpenJDK 18.0.1.1.u2"
### Description of the bug:

Caused by: java.lang.reflect.InaccessibleObjectException: Unable to make java.lang.String(byte[],byte) accessible: module java.base does not "opens java.lang" to unnamed module @2145b572

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

clone tensorflow
[code]

### Which operating system are you running Bazel on

[2022-05-19 15:58] haxorz commented on #15508
@ishaangandhi Does this new information change you mind about this being a Bazel bug and would you like to close this? Or are you thinking of a feature request where we make it so multiple specifications of the `--test_tag_filters` flag cause their values to be concatenated? (Fwiw though that'd be a consequential change and the outcome of research of existing usage of the flag might cause us to re

[2022-05-19 16:30] ted-xie commented on #15432
I have personally not seen this. @mauriciogg have you tried a newer Bazel hash? The commit you linked earlier looks like it's from July 2021. We've recently merged a commit that upgrades the D8 version to the latest available in Maven, so I wonder if this is simply a case of "D8 too old".

[2022-05-19 16:41] #15346 closed

[2022-05-19 17:25] pcjanzen commented on #15529
related: https://github.com/bazelbuild/bazel/issues/12947

[2022-05-19 18:14] oakad opened #15533 "rules_cc: not quite correct linker flags when using clang-cl on windows"
### Description of the bug:

clang-cl toolchain pulls some flags from a "generic" clang toolchain, resulting in the following:
[code]

My understanding is that MSVC LLVM toolchain is expecting MSVC style command line flags, not posix style ones. Also, it's clearly can not have `-lpthread` on Windows.

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if p

[2022-05-19 18:20] ted-xie commented on #14909
Cross-referencing and copy-pasting some discussion in #14910 about why android_binary doesn't configure proguard by default:

[2022-05-19 21:18] gregestren commented on #15370
Acknowledged. Let's keep this conversation transcript for reference now.

[2022-05-19 21:45] EvanBrownVTM commented on #6654
Hi, I have the same issue (building for Raspberry Pi4 Bullseye 32-bit):

ERROR: Analysis of target '//src:bazel_nojdk' failed; build aborted: Analysis failed

[2022-05-19 22:25] haxorz opened #15535 "Optionally warn if a [non `allowMultiple`] option is specified multiple times."
### Description of the feature request:

In #15508, @[ishaangandhi](https://github.com/ishaangandhi) pointed out it would have been helpful for Bazel to warn them that their various `.bazelrc` files were causing the `--test_tag_filters` option to get specified multiple times. (Bazel's current semantics here are to silently take the last value, i.e. to overwrite the previous value(s). Bazel has alw

[2022-05-19 22:26] haxorz commented on #15508
I filed #15535 as a generalization of your preference. I'll close this here as WAI.

[2022-05-19 22:26] #15508 closed

[2022-05-19 22:53] sdtwigg commented on #15535
The current granularity of PriorityCategory is not enough for this. Consider the case where the global bazelrc sets an effective default for the entire codebase (e.g. `build --notrim_test_configuration`). Then, some users or teams who want to be on the bleeding edge may have their own private bazelrc that sets the default to something else (e.g. `build --trim_test_configuration`). These would show

[2022-05-19 23:10] haxorz commented on #15535
I'm fine closing this FR as "not worth it". I did want to at least file it though as an outcome of the consideration I gave to #15508.

Well that's exactly why I proposed that the default behavior be "silent". @[ishaangandhi](https://github.com/ishaangandhi) would presumably use "warn". Anyone in a situation you describe would either want to use "silent" or use "warn" but be happy with the spam.

[2022-05-20 00:08] sdtwigg commented on #15535
I am a bit torn still. I can definitely see the utility of the feature; especially for users with relatively simple blazerc and minimal-to-no config expansions. My fear is that users can 'grow out' of the feature as their blazerc gets more complex: They start using more, potentially nested, config expansions and those routine overrides become spammy.

I think it also comes down to the specific mis

[2022-05-20 01:39] snowuyl commented on #15510
It can build successfully after upgrading TensorFlow to 2.9.0 and bazel to 5.0.0.

[2022-05-20 01:39] #15510 closed

[2022-05-20 02:31] oakad commented on #15533
Should investigate this further.

[2022-05-20 02:31] #15533 closed

[2022-05-20 05:39] comius commented on #15452
The error was happening before when Java was installed with homebrew and not found. See https://github.com/bazelbuild/bazel/issues/6993

I wonder if `@` in the path is a problem.

Can you give me more debugging information? I'm interested in platformclasspath invocation, which is failing. Running your build with `-s`, or `--verbose_failures` or more directly `bazel build @bazel_tools//tools/jdk:pl

[2022-05-20 10:05] c-mita commented on #15485
I can't reproduce this; do you have any bazelrc files in effect? Is the second coverage.dat file truly missing? What do the test logs say?

[2022-05-20 12:33] GZGavinZhao commented on #15452
@comius Here are the outputs:

Command: `bazel build @bazel_tools//tools/jdk:platformclasspath -s --sandbox_debug`
[code]

Command: `bazel build //:ProjectRunner -s --sandbox_debug --verbose_failures`
[code]

[2022-05-20 13:32] chandarrengoog opened #15541 "Building a cc_test target alongside a dependent starlark target fails."
### Description of the bug:

Passing in multiple targets to `bazel build` (or globbing) fails to build when the targets include a `cc_test` target, and a starlark-based target that has the `cc_test` target specified for `attr.label`.

This does not occur when a `cc_binary` is used instead or when a non starlark-based target references the `cc_test` (eg: `alias`).

### What's the simplest, easiest

[2022-05-20 13:33] chandarrengoog commented on #15541
/xref https://fxbug.dev/100673

[2022-05-20 13:35] chandarrengoog commented on #15541
CC: @mangini @chaselatta

[2022-05-20 14:19] Wyverald commented on #15541
FYI, the error logs of the failure:

[code]

[2022-05-20 15:22] tndhagedorn commented on #12889
Hi @ahumesky, is there any update on this?

I understand Everyone is busy and this is a large amount of work.

Bazel has worked great for my team and we'd like to keep using it.

Would just like to understand timelines - I need to decide whether to wait for this fix to land or move off of Bazel.  A lot of our changes are blocked behind r21's old build of clang.

How can we help move this forward?

[2022-05-20 15:37] katre commented on #14604
I'll leave it to @aranguyen to look into the actual issue (but I do think that this repro should be unambiguous).

As regards using `platform` in a `select()`, I think that this has confusing semantics. If I write the following:

[code]

Case 1: `bazel build --platforms=:plat :lib`

In this case, I'd expect the select to match and the `linkopts` to be `--flag`.

Case 2: `bazel build --platforms=:o

[2022-05-20 16:28] chaselatta commented on #15541
I tested on Bazel versions 4.0.0, 5.0.0, 5.1.0 and 5.1.1. The build was successful on version 4.0.0 but failed on all of the 5.x.x builds.

[2022-05-20 19:20] AustinSchuh commented on #15210
I'm still unable to run our tests with bazel 5.2.0rc1, which is blocking us from upgrading from bazel 5.0.  This looks like a regression in how cc_test, external repositories, and remote execution interact.  The suggested fix in to add `linkstatic = 1` to every `cc_test`, which is an incompatible change.  The discussion on https://github.com/bazelbuild/bazel/issues/12821 has stalled.  Reverting ht

[2022-05-20 19:58] oliviernotteghem opened #15544 "Changes to builtin (java) rules are not reflected with documented workflow"
### Description of the bug:

Changes made to local bazel fork, under `src/main/java/com/google/devtools/build/lib/rules/java` for example, are not reflected at runtime. This blocks contributor development to this project as there is not way to test our changes without documented how this should be done.

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example i

[2022-05-20 21:43] fmeum commented on #15541
That plus the fact that it shows up in Bazel 5 only makes me think it's another incarnation of https://github.com/bazelbuild/bazel/issues/14294. @sdtwigg would know for certain.

[2022-05-20 22:58] ckolli5 opened #15545 "Release-5.2.0rc1 Builds are failing."
### Description of the bug:

Release-5.2.0rc1 builds are failing with the following errors:
[code]

[2022-05-20 23:19] oliviernotteghem commented on #15544
cc @alexjski @comius @katre

You guys have been making changes to java rule recently, so you probably know the workflow to get my changes deployed locally / testable. thanks.

[2022-05-20 23:20] uhthomas commented on #14269
The commands seem to work okay now, though there is excessive noise.

[code]

What makes this a warning? Can this be silenced?

[2022-05-21 15:38] BoleynSu commented on #6648
Hi @buchgr , the default is currently `false` instead of `true`, would you mind updating your comments accordingly?

[2022-05-21 23:37] meftunca commented on #14891
I am getting the same error, I was wanting to convert my project from cmake to Bazel. But the same error appeared in my code space.
Operating System [Macos BigSur]
jdk info [OpenJDK Runtime Environment (build 11.0.15+0) by Homebrew]

It gives the same error in the example project in [this repo](https://github.com/bazelbuild/examples/tree/main/cpp-tutorial/stage3)

Error Stack:
[code]

[2022-05-22 00:55] UebelAndre opened #15546 "py_common API"
### Description of the feature request:

Similar to [cc_common](https://bazel.build/rules/lib/cc_common) is there a `py_common` available?

### What underlying problem are you trying to solve with this feature?

I would like to have some rules which generate additional actions but would otherwise be interchangeable with a [py_library](https://bazel.build/reference/be/python#py_library). I've done

[2022-05-22 06:23] takipsizad opened #15547 "proguard_whitelister_test fails and build also fails because of it"
### Description of the bug:

ERROR: C:/users/pc/_bazel_pc/nvciri4m/external/bazel_tools/tools/jdk/BUILD:432:8: In rule 'proguard_whitelister_test', size 'medium' is not a valid size.
ERROR: C:/users/pc/_bazel_pc/nvciri4m/external/bazel_tools/tools/jdk/BUILD:432:8: In rule 'proguard_whitelister_test', timeout 'illegal' is not a valid timeout.
ERROR: Analysis of target '//:libyara' failed; build abo

[2022-05-22 12:04] neqochan opened #15548 "Enable `patch_cmd` for module overrides"
### Description of the feature request:

Module override rules currently do not support a `patch_cmd` argument similar to the one in `http_archive`.

This is probably easy to fix, as the existing `patch_cmd` functionality already present in `http_archive` just needs to be exposed to the override callables.

### What underlying problem are you trying to solve with this feature?

We make heavy use o

[2022-05-23 04:15] sgowroji commented on #15547
Hello @takipsizad, Without reproducing steps it is not easy for us to troubleshoot/ find the root cause of the issue. Please provide complete details to work on the above request. Thanks!

[2022-05-23 09:19] meteorcloudy commented on #15545
Link to the failed downstream build: https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/2475

[code]

[2022-05-23 09:27] meteorcloudy commented on #15545
@cushon Bazel@HEAD is green when building Bazel itself at the latest commit, but not Bazel 5.2.0 rc1, do you know which change we're missing in the release branch?

[2022-05-23 10:01] UlrichEckhardt opened #15549 "Missing documentation for `strip` build variables"
### Description of the bug:

I'm looking at https://bazel.build/docs/cc-toolchain-config-reference#cctoolchainconfiginfo-build-variables in order to figure out which build variables are relevant to the invocation of the strip tool. From that, it seems there are only two, `input_file` and `stripopts`. Those are not enough though, the `output_file` variable seems to be used as well, from what I can

[2022-05-23 10:26] oakad opened #15550 "[rules_cc]: Bazel 5 is not matching case sensitive file extensions on Windows correctly"
### Description of the bug:

Bazel considers ".c" (lowercase c) files to be plain c files and would not apply cxxopts when compiling files with this extension. However, Bazel considers ".C" (uppercase C) files to be C++ files and all the cxxopts apply.

It so happens, that on Windows Bazel will match all the "*.c" files as "C++ sources" because of case insensitive matching. This sort of works for

[2022-05-23 10:47] oakad commented on #15550
I would like to further add that Windows now supports case sensitive file name matching which can be enabled on per-directory level. Alas, implementation in com.google.devtools.build.lib.vfs.WindowsOsPathPolicy is totally not friendly to this sort of development - it forces case conversion blindly, which is rather wrong. I'd say, there should be a command line flag to control VFS behaviour on wind

[2022-05-23 11:26] UlrichEckhardt opened #15551 "Implement artifact_name_pattern handling for .stripped targets"
### Description of the feature request:

On MS Windows, I can create a cc_binary target named "foo" and run it using `bazel run foo`. With proper artifact_name_pattern setup, the `.exe` suffix is added automatically. Up to here, everything is fine! Now, when I want to run the stripped target, I'd like to be able to use `bazel run foo.stripped`. That doesn't work though, I get an error and the sugg

[2022-05-23 12:38] fmeum commented on #8739
I submitted https://github.com/bazelbuild/bazel/pull/15552 in the hope of settling this issue in a canonical way. Happy to hear your feedback on whether or not it fits your needs. The syntax is:

[code]

[2022-05-23 13:18] meteorcloudy commented on #1943
We are developing a new external dependency system for Bazel (codename Bzlmod), which will tackle the fundamental problem this issue tries to solve. Please read more at https://bazel.build/docs/bzlmod

[2022-05-23 13:19] #1943 closed

[2022-05-23 14:02] illicitonion commented on #8739
I took a look and it worked well for me - thanks!

[2022-05-23 14:47] meteorcloudy commented on #15545
Probably we need to cherry-pick this one: https://github.com/bazelbuild/bazel/commit/cf573455e8205a2b79629df1b5eb4e3b9efabec1

@hvadehra Can you please confirm this?

[2022-05-23 15:04] alexjski commented on #15544
I just tried that, added an exception to the constructor of JavaCompileAction, build new bazel ran it and got a failure:

[code]
This makes me want to close that as no-repro/WAI. Are you sure you were running the Bazel you built yourself after you changed `JavaCompileAction`? Or were you running the one in your path?

`JavaCompileAction` is a native action, therefore it actually comes in the Bazel

[2022-05-23 15:26] fitzner opened #15553 "bzlmod external repo name and copts"
### Description of the bug:

Bzlmod stores modules as external repos in external/\<module\>.\<version\>. By using labels in rules the correct locations are resolved.

However in some cases it is necessary to use copts from cc_binary and cc_library to include further headers and in that case there is no option to define the external workspace via a variable in the rules copts.

Depending on how bzl

[2022-05-23 15:35] fweikert opened #15554 "Status of Bazel 6.0.0-pre.20220517.1"
- Expected release date: 2022-05-23

Task list:

- [x] Pick release baseline: [61fd06d9](https://github.com/bazelbuild/bazel/commit/61fd06d92706d64fbcef64f0f54cded91c88afff)
- [x] Create release candidate: https://releases.bazel.build/6.0.0/rolling/6.0.0-pre.20220517.1rc1/index.html
- [x] Post-submit: https://buildkite.com/bazel/bazel-bazel/builds?branch=release-6.0.0-pre.20220517.1rc1
- [x] Push

[2022-05-23 16:00] alealv opened #15555 "Wrong CPU detection on MacOS arm64"
### Description of the bug:

Current master version gives wrong (AFAIK) `cpu` value for **MacOS arm64**. This is not the case for version `5.0.0`.

This makes other select rules to fail.

### Master version configuration (example protobuf)

[code]

### v5.0.0 version configuration (example protobuf)

[code]

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal examp

[2022-05-23 16:05] takipsizad commented on #15547
i kinda tried to build, thats it, didnt do something special to reproduce it

[2022-05-23 17:35] fmeum commented on #15553
Not saying this is a good answer, but you can create a `.bzl` file containing:
[code]
Then, call that function from a BUILD file in `foo` to get the correct name. Caveat: This will not work if `foo` is your (main) workspace as `native.repository_name` returns just `@` in that case - if you replace the return value with `foo` if it is empty, this should work in all situations.

[2022-05-23 19:44] gregestren commented on #14269
See https://github.com/bazelbuild/bazel/issues/13473#issuecomment-1024734270 and above discussion.

Maybe it can? Someone would have to review the history of the rationale behind the warning. My comment there suggests the warning is meaningful to `bazel info`. Maybe not `bazel clean`?

[2022-05-23 19:47] fitzner commented on #15553
I just stumbled over the following; this could be used as a workaround.

[code]

[code]

[2022-05-23 20:51] wisechengyi commented on #14791
From twitter's perspective, this would be useful as well. e.g. if a package group's definition is modified, we'd like to figure out what tests are affected that references it.

That said, the exactly UX probably needs to be worked out (what to and not to include, with various options)

[2022-05-23 21:42] fweikert commented on #15464
Obsolete due to https://github.com/bazelbuild/bazel/issues/15554

[2022-05-23 21:42] #15464 closed

[2022-05-23 21:42] fweikert commented on #15512
Obsolete due to https://github.com/bazelbuild/bazel/issues/15554

[2022-05-23 21:42] #15512 closed

[2022-05-24 01:21] oakad commented on #15550
Here: https://github.com/oakad/bazel_issue_15550

The issue triggers always on most basic of setups. :-)

On Linux: `bazel run :t1` compiles and runs, no issues, no warnings.

On Windows, with default MSVC toolchain, we get the following warning:

The issue here is that t1.c gets classified as C++ source and cxxopt gets applied, incorrectly.

Of course, MSVC goes on to compile the program anyway,

[2022-05-24 01:40] cpsauer commented on #14604
Sweet. Thanks for looking, @katre.
Should we be reopening in the meantime, since this still looks to be active?
If so, could I ask someone to?

---

Also, John I appreciate the thoughtfulness of your read-through! I wasn't sure if anyone would ever see that note, but since I came across it again, I figured I'd jot it down. I don't mean to cause waves; just meant it as maybe-interesting user feedba

[2022-05-24 05:24] exoson commented on #15336
How about something like https://github.com/bazelbuild/bazel/pull/15557

[2022-05-24 07:32] comius commented on #15546
cc @rickeylev

`py_common` is not available at the moment. We're doing rewrite on Python rules to Starlark, starting with the internal ones and then the ones native in Bazel. Implementing `py_common` now would interfere with the process, however I see no problem distilling it from Starlark implementation when it's finished.

As such I marked this as P4, but will upgrade it to P2 once Starlarkifica

[2022-05-24 07:34] comius commented on #15544
I regularly follow the workflow that's in the description and I can confirm it's working. Closing the issue as not reproducible.

[2022-05-24 07:37] ali-dfinity opened #15558 "Apt Signing Key Expired"
### Description of the bug:

The instructions on https://bazel.build/install/ubuntu fail for apt install due to expired signing key.

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[code]

[code]

### Which operating system are you running Bazel on?

_No response_

### What is the output of `bazel info release`?

_No response_

### If `ba

[2022-05-24 07:46] comius commented on #15452
JDK (not Bazel) checks presence of `lib/jrt-fs.jar` and/or `modules` in the JDK installation in `Locations$SystemModulesLocationHandler.update(Locations.java:1853)`

Based on your output:
[code]
they are not there.

Please try with another JDK installation. Others have reported that there are issues with homebrew  installation

[2022-05-24 09:34] comius commented on #15541
cc @buildbreaker2021 @trybka

I don't see cc_test using a configuration transition (but this is the cause of conflict)

@sdtwigg Can you explain why there are two configuration used here?

[2022-05-24 09:38] comius commented on #15457
cc @buildbreaker2021 what do you think? P3 or P4?

[2022-05-24 09:39] comius commented on #15411
@c-mita can you triage?

[2022-05-24 09:40] comius commented on #15410
@c-mita Can you triage?

[2022-05-24 09:40] comius commented on #14970
@c-mita Can you triage?

[2022-05-24 10:23] meteorcloudy commented on #15545
I guess that change is not necessary for the 5.2 release?

[2022-05-24 11:13] UebelAndre commented on #15546
@comius is there a tracking issue for porting the python rules to starlark?

[2022-05-24 12:21] #15554 closed

[2022-05-24 12:26] buildbreaker2021 commented on #15457
I would say P3. Will have a look into this pretty quickly though, the change looks small and straightforward.

[2022-05-24 13:04] tomkukral commented on #11470
I'm still getting expired key

[code]

Is there any CDN for `bazel.build`? Can you invalidate the cache or share new gpg key here?

[2022-05-24 13:15] #15317 closed

[2022-05-24 13:23] lloscarll opened #15560 "EXPKEYSIG"
The following signatures were invalid: EXPKEYSIG 3D5919B448457EE0 Bazel Developer (Bazel APT repository key) <bazel-dev@googlegroups.com>

[2022-05-24 13:54] trybka commented on #15541
I think https://github.com/bazelbuild/bazel/issues/14294#issuecomment-1102151855 might cover it -- the outer rule is not a test, but it depends on the cc_test -- there is a conflict because the test configuration comes into play (IIUC).

[2022-05-24 14:32] meftunca opened #15561 "I get jdk errors with `bazel build`"
### Description of the bug:

devloops@MacBook-Pro bazel_simple % bazel build //lib:hello-time
Starting local Bazel server and connecting to it...
ERROR: /private/var/tmp/_bazel_devloops/3c71a09d214a65591637b0ad911fdcd5/external/bazel_tools/tools/jdk/BUILD:432:8: In rule 'proguard_whitelister_test', size 'medium' is not a valid size.
ERROR: /private/var/tmp/_bazel_devloops/3c71a09d214a65591637b0ad9

[2022-05-24 14:42] Wyverald commented on #15560
Dupe of https://github.com/bazelbuild/bazel/issues/15558

[2022-05-24 15:51] meftunca commented on #15561
Of course

1.  `brew install bazel`
2. i copied the [example stage 3](https://github.com/bazelbuild/examples/tree/main/cpp-tutorial/stage3) to my desktop directory
3. `bazel build //main:hello-world`

[2022-05-24 16:37] meteorcloudy commented on #15558
Sorry again for the trouble, we have updated our gpg public key, but due to network caching `https://bazel.build/bazel-release.pub.gpg` may still return the old key, please use the following command to update the public key on your local machine:
[code]

[2022-05-24 16:38] emidln-imc opened #15562 "Allow bazel run @tool as shorthand for bazel run @tool//:tool"
### Description of the feature request:

Allow `bazel run @tool` as shorthand for `bazel run @tool//:tool`. This is already possible for dependencies in BUILD.bazel files.

Assuming I have an external repo named `jq` with a `BUILD.bazel` in the root and an executable target `jq` inside that BUILD.bazel, I should be able to use:

[code]

instead of the current:

[code]

### What underlying problem

[2022-05-24 16:43] Wyverald commented on #14572
Closing this for now. If there are cases where the flattening mentioned above doesn't work, we can reopen.

[2022-05-24 16:43] #14572 closed

[2022-05-24 16:49] #15377 closed

[2022-05-24 16:54] Wyverald commented on #12821
@oquenchil Do you have any comments about how C++ rules set up the shared library path? (see above)

@lberki @jin The commit in question was authored by someone on the Roboleaf team (IIRC) who has since left the team. Do you have any comments on the breakage?

[2022-05-24 17:04] #15558 closed

[2022-05-24 17:45] danmacklin10 opened #15563 "GPG Key expired"
### Description of the bug:

The install steps outlined at https://bazel.build/install/ubuntu no longer work as the GPG key expired today at 07:37

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Follow the ubuntu install steps.  You get the error:

` The following signatures were invalid: EXPKEYSIG 3D5919B448457EE0 Bazel Developer (Bazel

[2022-05-24 17:50] Wyverald commented on #15563
Dupe: https://github.com/bazelbuild/bazel/issues/15558#issuecomment-1136150886

[2022-05-24 17:50] #15563 closed

[2022-05-24 17:55] arunkumar9t2 commented on #11961
Fixed by https://github.com/bazelbuild/bazel/pull/15184

[2022-05-24 18:16] erikkressner opened #15564 "apt repository cert expired"
### Description of the bug:

It appears the cert for the bazel ubuntu apt repo expired last night.

[code]

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

_No response_

### Which operating system are you running Bazel on?

Ubuntu 18.04

### What is the output of `bazel info release`?

N/A

### If `bazel info release` returns `development

[2022-05-24 18:38] #15541 closed

[2022-05-24 18:42] joeshao1 opened #15565 "Ubuntu PPA Key Expired"
### Description of the bug:

Inside Docker, trying to run:

RUN curl https://bazel.build/bazel-release.pub.gpg | apt-key add - \
  && echo "deb [arch=amd64] https://storage.googleapis.com/bazel-apt stable jdk1.8" > /etc/apt/sources.list.d/bazel.list \

RUN apt-get update

Same deal as the bugs before (looks like these keys expire every two years around May 24th)

W: GPG error: https://storage.goog

[2022-05-24 19:07] peci1 commented on #15558
Still getting the old key:

[code]

Can you paste the new key here as a comment?

[2022-05-24 19:19] mashayev commented on #15558
Me too, so I used the workaround provided by @meteorcloudy and it worked.

[2022-05-24 19:27] mashayev commented on #15558
Didn't work for you ?
[code]

[2022-05-24 19:27] tadeboro commented on #15558
@peci1 This is what I get from https://storage.googleapis.com/www.bazel.build/bazel-release.pub.gpg

[code]

[2022-05-24 19:29] peci1 commented on #15558
Ok, that's the same key. I was missing the part with updating apt/sources.list.d/bazel.list .

[2022-05-24 19:42] brentleyjones commented on #15527
I've seen this with other sets of flags (that I don't have a reproducer for), so it may be a larger surface area than listed in the title.

@coeuvre any thoughts?

[2022-05-24 20:11] gregestren commented on #8739
We will give https://github.com/bazelbuild/bazel/pull/15552 a proper review.

Thanks for all the input above. It's super-helpful.

[2022-05-24 20:32] bharrisaurora commented on #9997
Yet again the key expired... May 23 2022

[2022-05-24 20:40] meftunca commented on #14891
Thanks @UlasSAYGINIM `There is no enough cement for your testicals`

[2022-05-24 21:03] CypherpunkSamurai commented on #2975
The code seems to have been updated and the build commands no longer work.

I had to reset to the commit `f78ffb5fb2f37d20acd1320ed37080c26b32e607` (according to the last comment here) and then run the commands.

[code]

[2022-05-24 22:02] keith commented on #15565
https://github.com/bazelbuild/bazel/issues/15558#issuecomment-1136150886

[2022-05-24 22:02] keith commented on #15564
https://github.com/bazelbuild/bazel/issues/15558#issuecomment-1136150886

[2022-05-24 22:38] joeshao1 commented on #15565
Looks like since we're downloading a key and putting it in a specific location [this](https://github.com/bazelbuild/bazel/issues/15558#issuecomment-1136348580) answer was pretty relevant

[2022-05-24 22:38] #15565 closed

[2022-05-24 23:21] #15564 closed

[2022-05-24 23:22] erikkressner commented on #15564
That did the trick. Thanks!

[2022-05-24 23:34] philsc opened #15570 "`cc_binary` discards .pic.o from `srcs` with `-c opt`"
### Description of the bug:

It appears that manually generated `*.pic.o` files get discarded from the linking step when building with `-c opt`. Using `-c fastbuild` works fine. Switching the extension from `.pic.o` to just `.o` also makes `-c opt` work fine again.

[code]
vs.
[code]

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

WORKSPA

[2022-05-24 23:58] meftunca commented on #15561
Hi,  I fixed the bug by changing macos system language from turkish to English.

[2022-05-24 23:58] #15561 closed

[2022-05-25 01:00] adam-azarchs commented on #12485
I think this was fixed with https://github.com/bazelbuild/bazel/commit/2945ef5072f659878dfd88b421c7b80aa4fb6c80:
https://github.com/bazelbuild/bazel/blob/2945ef5072f659878dfd88b421c7b80aa4fb6c80/src/main/java/com/google/devtools/build/lib/starlarkbuildapi/python/PyRuntimeInfoApi.java#L48.

[2022-05-25 01:07] jin commented on #12821
Is this an error that triggers __without__ the flags associated to this issue? (or one, or both?)

[2022-05-25 01:26] jianxingliu commented on #387
now, native_test maybe the solution.
https://github.com/bazelbuild/bazel-skylib/blob/main/docs/native_binary_doc.md

[2022-05-25 01:31] adam-azarchs opened #15571 "Reduce dependencies for generated python wrapper in common cases."
### Description of the feature request:

The [python stub template](https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/bazel/rules/python/python_stub_template.txt) used for `py_binary` and `py_test` imports a bunch of things which are not used in most common situations.  I would like for those to only be imported as necessary.

Specifically,
[code]
are only

[2022-05-25 02:10] xiedeacc opened #15573 "not possible to select platform start with @repo_name"
### Description of the bug:

bazel release: 5.1.1
my repo need be referred by another repo, so my select condition must be start with @repo_name style, but bazel5.1.1 think this is not a valid condition. I think bazel should support a platform condition started with @repo_name style
[code]

[code]

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if poss

[2022-05-25 02:19] uri-canva opened #15574 "docs: https://bazel.build/concepts/dependencies still refers to old style directory labels"
### Description of the feature request:

https://bazel.build/concepts/dependencies#using-labels-reference-directories (and its pre-move equivalent https://docs.bazel.build/versions/main/build-ref.html#label_directory) still refer to labels pointing to directories with the old syntax like `data = ["testdata/."]`, mentioning them being present in the bazel source code. As far as I can tell there are

[2022-05-25 02:31] uri-canva commented on #14699
You can implement your own cheating rules by abusing `unused_inputs_list`: https://bazel.build/rules/lib/actions#run.
That lets your rule pretend it didn't use inputs it actually used. That switches the problem to "how do I force a rule that is cached to execute again" which is a better understood problem, for which you can find plenty of workarounds.

[2022-05-25 02:42] xiedeacc opened #15575 "select should support platform"
### Description of the feature request:

I defined mutil platform for different cross-compile, I need pass different config value to configure, but select think paltform is a invalid condition, I have to use select with many and condition and specify these condition on comand line, it's so ugly, I think select support platform is a better and beautiful way

### What underlying problem are you tryi

[2022-05-25 02:50] katre commented on #15575
Can you please give a code sample of the syntax that you want to have supported? We do support [using `constraint_value` targets in `select`](https://bazel.build/reference/be/functions#select), but this is limited to a single one, or you can use [`config_setting`](https://bazel.build/reference/be/general#config_setting) to group several related constraint values.

If you're asking about using the

[2022-05-25 02:53] katre commented on #15573
Is this different from #15575? As I mentioned in [my recent response on #14604](https://github.com/bazelbuild/bazel/issues/14604#issuecomment-1133046469), we don't currently support using **platform** labels in select, only **constraint values**. For those, using labels in a different repository should work fine.

[2022-05-25 02:53] #15573 closed

[2022-05-25 02:54] AustinSchuh commented on #12821
Correct, this triggers **without** the flags.

[2022-05-25 02:59] xiedeacc commented on #15575
@katre I'm asking using label of a platform directly in select, I think you should support this feature not matter how difficulty, otherwise it's too ugly to use selects.config_setting_group instead

[2022-05-25 03:11] katre commented on #15575
As I told @cpsauer, I will be happy to see a proposal for adding this feature that can deal with ambiguities and reduces user confusion, but we're not going to be able to prioritize that on the Bazel Configurability team.

[2022-05-25 03:14] xiedeacc commented on #15575
ok, hope you'll support it in the future, thanks

[2022-05-25 04:17] kkpattern commented on #12716
We also encounter this problem. A `--objcxxopt` would be really helpful.

Thanks @camillol for the nice workaround.

[2022-05-25 05:15] pcjanzen commented on #15575
if your use case is exactly matching a platform, you can already do

[code]

[2022-05-25 06:34] damjanek opened #15576 "GPG key used for signing apt repo has expired"
### Description of the bug:

https://bazel.build/bazel-release.pub.gpg holds gpg key that expired

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

curl -fsSL https://bazel.build/bazel-release.pub.gpg | gpg --show-keys - | grep expired
pub   rsa4096 2016-05-24 [SC] [expired: 2022-05-24]
sub   rsa4096 2016-05-24 [E] [expired: 2022-05-24]

##

[2022-05-25 06:53] sgowroji commented on #15576
Duplicate https://github.com/bazelbuild/bazel/issues/15558#issuecomment-1136150886

[2022-05-25 07:34] Homulvas commented on #5261
It looks like we have reached the anniversary of this issue and the key is expired again.

[2022-05-25 08:45] meteorcloudy commented on #9997
The issue has been resolved at in https://github.com/bazelbuild/bazel/issues/15558

[2022-05-25 08:45] #9997 closed

[2022-05-25 09:26] mzubala commented on #11470
Looks like the key expired again yesterday (2022-05-24).

[2022-05-25 10:51] meteorcloudy commented on #12485
Thanks! Closing due to fixing https://github.com/bazelbuild/bazel/issues/8685

[2022-05-25 10:51] #12485 closed

[2022-05-25 12:03] adamporich commented on #15457
Note https://github.com/bazelbuild/rules_python/issues/546 which started as a `bazelbuild/bazel` issue. I've been using the workaround mentioned above of renaming the `.dll` but it some cases it generated action conflicts due to the way `.dll` files are handled. I've ended up tacking on a subfolder for the windows `.pyd` to avoid these conflicts.
I would strongly support adding `.pyd` to the list

[2022-05-25 12:22] avielas commented on #12099
you can use --collect_code_coverage flag with bazel build/run to generates the GCNO files under bazel-out directory.
see here:
https://docs.bazel.build/versions/main/command-line-reference.html#flag--collect_code_coverage

[2022-05-25 13:24] meteorcloudy commented on #14279
@Wyverald With the default `@bazel_tools` module, we can probably also redirect labels pointing to `@com_google_protobuf` in [Bazel's code](https://cs.opensource.google/search?q=%22@com_google_protobuf%22&ss=bazel) so that we don't have to specify it as a [well known module](https://cs.opensource.google/bazel/bazel/+/master:src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleKey.java;l=

[2022-05-25 13:51] oliviernotteghem commented on #15544
@[alexjski](https://github.com/alexjski) : thanks. I tried on a different machine and workflow works 100%.

Let's close!

[2022-05-25 14:30] Wyverald commented on #14279
I was thinking that should be solved by #14852, but `@bazel_tools` already depends on protobuf, so we can indeed already do the redirect. I'll do the change.

[2022-05-25 15:22] tkoeppe opened #15578 "Runfiles::Create does not work with `.stripped` binary"
### Description of the bug:

Creating a [`Runfiles`](https://github.com/bazelbuild/bazel/blob/master/tools/cpp/runfiles/runfiles_src.h) instance with `Runfiles::Create(argv[0], nullptr)` works within a `cc_binary(name = "foo", ...` if run as `bazel run :foo`, but if the `.stripped` target is used instead, the creation fails (and thows an exception): `bazel run :foo.stripped`.

### What's the simpl

[2022-05-25 16:28] elharo opened #15579 "Toturial is not a too tutorial/ is too simple"
https://bazel.build/tutorials/cpp can be reduced to two steps:

1. Check out a github repo
2. Run a command.

The tutorial starts with

In this tutorial you learn how to:

Build a target
Visualize the project's dependencies
Split the project into multiple targets and packages
Control target visibility across packages
Reference targets through labels

However it arguably only teaches the first two.

[2022-05-25 18:54] Wyverald commented on #14659
Sorry for the very late response but I finally found some cycles to debug this. Turns out this is a very subtle bug in our usage of `PackageFactory.newExternalPackageBuilder` which causes us to treat all Bzlmod repo rules to be created as if for the package `//external`.

This means that all text labels given to attributes are treated as if they're specified in the imaginary `//external` package,

[2022-05-25 19:45] Wyverald commented on #14590
I believe this is an unfortunate interaction between several factors in play:

* With Bzlmod disabled, if your workspace name is `foo`, then the label `@foo//:bar` is often a completely different target than `@//:bar`. This is because the main repo technically only ever has an empty repo mapping; the fact that `@foo//:bar` works at all is due to a hack where we implicitly introduce a `local_reposi

[2022-05-25 20:06] nacl commented on #9047
@ArekSredzki I know it's been over a year now, but by any chance would you be able to ping that person to post what they did?  No worries if it isn't possible; I'm encountering the same need and would like to be able to use bazel-native solution.

[2022-05-25 23:10] UlasSAYGINIM commented on #14891
you are welcome! be careful about bazel. it is not complete system. it may cause trouble for your projects. you may say cmake is better. i didnt use cmake but i think bazel is not a system , i can not rely on bazel for projects. but i will learn bazel and do somethings.

[2022-05-25 23:16] UlasSAYGINIM commented on #15561
@sgowroji, i think python or Starlark Language has problem about turkish characters. because there is one letter causes problem.
i am writing this because it is ancient problem for computer programming history for turkish people.
we have capital I and İ. last one is dotted I and we have little ı but english alphabet has lower i with dot. but upper case is not dotted. because of this, some programm

[2022-05-26 02:29] tillahoffmann commented on #4912
This workaround doesn't properly inherit values, but it allows for setting defaults that can be copied from the host environment.

[code]

[code]

[code]

[code]

[code]

This is of course not as nice as being able to use the host environment directly, but copying the relevant environment variables to `.env.bazelrc` isn't too cumbersome.

[2022-05-26 06:52] cpsauer commented on #15575
Ah man, John (and @gregestren, since he seems to be interested, too--hope that's okay), you're sure not supporting this is the right move long term?

Totally understand if you don't have bandwidth right now. And I definitely don't want to irritate you guys. (I _really_ appreciate you!)

It just does earnestly seem to this user that the ambiguity you're referencing might cleanly resolve in favor of

[2022-05-26 08:28] cpsauer commented on #13316
@Wyverald, for toolmakers/library maintainers that should be sure to adopt before bzlmod is enabled by default:
Is there a new issue we should follow to stay abreast of when bzlmod will fully launch?

[2022-05-26 14:09] katre commented on #15575
I'm willing to support the feature, but I don't have free time to write up a full proposal and make sure the semantics make sense. If someone else (hint, hint) wants to do that, I'll commit to review it and work with the author on implementation.

[2022-05-26 14:19] Wyverald commented on #13316
Bzlmod will "fully" launch with the release of Bazel 6.0, at which point the flag --experimental_enable_bzlmod will be renamed to just --enable_bzlmod.

Bzlmod will be enabled by default in Bazel 7.0 at the earliest. That would mean deprecating WORKSPACE support, which we're still a rather long way from.

Both of these will be featured prominently in the release notes of the major releases, so hop

[2022-05-26 15:31] aranguyen commented on #14604
@katre I was able to use the example @cpsauer provided and it worked without error as is. But when I changed to select() with platform that's when I saw error as expected.

@cpsauer is the following the semantics that you were hoping for instead of creating a duplicate config as shown in the repro? If so, please feel free to reopen and follow @katre's suggestion to write a proposal

[code]

[2022-05-26 15:55] katre commented on #15575
Closing for now, but as I said I'm receptive to proposals in this space.

[2022-05-26 16:39] aabusair commented on #10349
It seems bazel doesn't honor any certificate outside the default java store even using the above .bazelrc configs. Is this the case ? or any workaround i can leverage ?

[2022-05-26 16:57] emctague opened #15581 "android_ndk_repository expects nonexistent RELEASE.TXT file in NDK directories"
### Description of the bug:

The `android_ndk_repository` rule expects that the NDK Home directory contains a file named `RELEASE.TXT`, failing if it cannot find such a file. The Android NDK **does not include any file by this name** - in fact, a precise listing of the contents of the latest NDK is as follows:

[code]

### What's the simplest, easiest way to reproduce this bug? Please provide a mi

[2022-05-26 17:04] keith commented on #15581
I have found that this is normally a red herring and normally just means the env var isn't pointing to the version directory, and is instead just pointing to `~/Library/Android/sdk/ndk`

[2022-05-26 17:07] emctague commented on #15581
@keith I can certainly confirm it's pointing to the correct directory:

[code]

Shows such in the error logs too - there simply isn't a file with this name in the main directory of recent NDK releases downloaded by Android Studio, nor in the releases manually downloaded from [this page](https://developer.android.com/ndk/downloads).

[2022-05-26 17:12] emctague commented on #15581
Other note: this alternative error message may also appear:

Error:project/WORKSPACE:14:23: fetching android_ndk_repository rule //external:androidndk: java.io.IOException: Expected directory at /Users/t/Library/Android/sdk/ndk/24.0.8215888/platforms but it is not a directory or it does not exist. Unable to read the Android NDK at /Users/t/Library/Android/sdk/ndk/24.0.8215888, the path may be inva

[2022-05-26 17:14] keith commented on #15581
what if you set the version in the android_ndk_repository rule? maybe it's searching for a newer version? 🤔

[2022-05-26 17:16] c-parsons opened #15582 "sha256 sum for bazel_nojdk for 61fd06d92706d64fbcef64f0f54cded91c88afff does not match"
### Description of the bug:

Obtaining the linux bazel_nojdk and its sha256 checksum from links provided via GCS for the most recent release, `6.0.0-pre.20220517.1`:

https://storage.googleapis.com/bazel-builds/metadata/61fd06d92706d64fbcef64f0f54cded91c88afff.json

It appears that checksumming the linux nojdk binary does not match its checksum.

It **does** match for the previous release, [6.0.0-

[2022-05-26 17:17] emctague commented on #15581
@keith Manually specifying `api_level = 24` fixed the issue!

...Unusual, as r24 is the latest non-beta release.

Thank you for the suggestion!

[2022-05-26 17:27] ifoox commented on #15582
I also spot checked a few other binaries from the same release and they are also not matching.

[2022-05-26 19:19] takipsizad commented on #15547
@sgowroji Hello, you may have misunderstood what i was trying to say.
I was trying to report a bug, not to get support.

[2022-05-26 20:54] cpsauer commented on #14604
Oh, uh oh. I _definitely_ don't want to be wasting your guys' time. Let me go investigate.

[2022-05-26 21:17] MahmoodMahmood commented on #4005
Any ETA on support for this?

[2022-05-26 22:36] cpsauer commented on #14604
Seriously, thank you. Just backed out a bunch of code working around this :) Awesome

[2022-05-26 22:40] cpsauer commented on #14604
[And finally on the (separate) platform-in-select stuff, @aranguyen, yes, exactly.

I'd just noted it down as a potential improvement when I ran into it because I thought there was a good chance you all would be as positive on it as this one--and that it could be a slam-dunk combo move. Sounds like not.

Anyway, rather than reply more here, I'll tap back briefly on [that issue that other user subs

[2022-05-26 22:51] cpsauer commented on #13316
Definitely. Super good to know. Thank you! Great to know the forward roadmap--and thanks for all your great efforts.

[2022-05-26 23:47] adam-azarchs commented on #4685
I'm encountering this problem with `py_test` and `sh_test` rules.

<details>
<summary>

Adding `--experimental_split_coverage_postprocessing` (with or without `--experimental_fetch_all_coverage_outputs`, using bazel 5.1.1) results in bazel crashing.

</summary>

[code]

</details>

[2022-05-27 00:21] janakdr commented on #15582
Nathan, not sure why I was assigned to this. Is there a doc somewhere that needs to be updated?

[2022-05-27 00:44] haxorz commented on #15582
Afaik, no. Also, `team-Core` is not the most appropriate label since we're not in any way responsible for Bazel releases. @ckolli5 please followup with the Bazel team separately about both of these topics. Apologies if any of the triage documentation was stale (Janak recently transferred off the team) or incorrect (some sort of statement about Bazel releases belonging to `team-Core`).

[2022-05-27 00:54] adam-azarchs commented on #4685
Actually that error goes away with `--remote_download_outputs=all`, however then I, too, hit the problem that all of the coverage data files come back empty, even for targets which successfully produced coverage information without `--experimental_split_coverage_postprocessing` (and otherwise the same command line).

[2022-05-27 01:40] endobson opened #15584 "Documentation issue: Historical documentation has link to file issues, new documentation does not."
Documentation URL: https://docs.bazel.build/versions/main/

On this page and every page on the old documentation site there is a link in the upper right hand corner to create an issue related to that piece of documentation. I cannot do that with the new site in any obvious way.

[2022-05-27 02:41] aschleck commented on #10530
I am experiencing this too, using an internal type checking aspect similar to this [mypy](https://github.com/bazel-contrib/bazel-mypy-integration) one.

[code]

Which makes it very difficult to know what outputs different rules create when I am uncertain how the rules work. I am also glad there seems to be a recent PR for #8739, because the suggestion to just look at `bazel build` isn't possible w

[2022-05-27 05:23] ckolli5 commented on #14850
Hey @yangelaboy, did you get any chance to check the above [comment](https://github.com/bazelbuild/bazel/issues/14850#issuecomment-1043172061). Let us know if it is already resolved. Thanks.

[2022-05-27 05:33] comius commented on #15452
The error reporting could be improved by catching `IllegalArgumentException` in PlatformClasspath implementation and reporting more precisely what happened.

[2022-05-27 05:37] ckolli5 commented on #14626
Hey @phst, With respect to the above [comment](https://github.com/bazelbuild/bazel/issues/14626#issuecomment-1121965486) we are closing this issue. Feel free to reach us if above issue still persists. Thank you.

[2022-05-27 05:37] #14626 closed

[2022-05-27 06:06] Wyverald commented on #15582
For posterity, @fweikert is the go-to person for issues with rolling releases (`X.0.0-preXXXX...`).

[2022-05-27 06:16] sgowroji commented on #13589
Hello @sek790c, Could you please confirm the above mentioned issues [resolutions](https://github.com/bazelbuild/bazel/issues/13589#issuecomment-1095567824) helped you in resolving your issue.  Thanks!

[2022-05-27 06:26] sgowroji commented on #12029
Hello @lostmsu, Could you please try the above with latest versions as i see MediaPipe is also updated to use the latest Bazel versions in execution. Thanks!

[2022-05-27 06:42] sgowroji commented on #10374
Hello @juanctecdam, Above issue fix is already submitted, So we are closing this now.  Feel free to reopen if you are able to reproduce in the latest version.

[2022-05-27 06:42] #10374 closed

[2022-05-27 06:43] meftunca commented on #14891
I have hopes for Bazel. I'm developing a noSql database so I can improve myself in Cpp. Unfortunately, cmake does not give the performance I expect for development. I want to continue with bazel because it seems more controllable compared to cmake.

[2022-05-27 07:08] comius commented on #15531
Possible cause is JDK being used. Can you provide more information.

[2022-05-27 11:06] yangxinliang opened #15586 "bug"
### Description of the bug:

 no such package '@com_google_protobuf//': The repository '@com_google_protobuf' could not be resolved: Repository '@com_google_protobuf' is not defined and referenced by '@build_bazel_rules_swift//tools/worker:compile_with_worker'

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

How to solve this problem?

###

[2022-05-27 11:14] sgowroji commented on #15586
Hello @yangxinliang, Could you please provide complete steps to reproduce the above issue. Thanks!

[2022-05-27 11:35] sgowroji commented on #13282
Hello @weegreenblobbie, Did you get a chance to go through the above [comment](https://github.com/bazelbuild/bazel/issues/13282#issuecomment-822210149). Please feel free to reopen the above issue, if your query is not resolved. Thanks!

[2022-05-27 11:35] #13282 closed

[2022-05-27 11:48] sgowroji commented on #13426
Hello @davidmankin, Thank you for reporting us. Its updated in the latest [documentation](https://bazel.build/reference/be/general#genrule-environment). We are closing this issue. Feel free to reach us if you still have any further queries.

[2022-05-27 11:48] #13426 closed

[2022-05-27 11:50] sgowroji commented on #15110
Closing w.r.t Dupe https://github.com/bazelbuild/bazel/issues/13426#issuecomment-1139545181.

[2022-05-27 11:50] #15110 closed

[2022-05-27 11:51] uhlajs commented on #8703
@libratiger Can you provide this custom rule please?

[2022-05-27 13:19] fmeum commented on #15196
I worked on this for a bit and starlarkified `ijar_action` and `import_deps_check_action` in https://github.com/fmeum/bazel/tree/starlark-java-import. For anyone interested in picking up this issue, feel free to use any bits of these commits (disclaimer: entirely untested).

[2022-05-27 14:14] meteorcloudy commented on #15582
Those binaries and hash are uploaded here: https://github.com/bazelbuild/continuous-integration/blob/cb67e5c599732ad8e733a6ea285ff3443b4e768a/buildkite/bazelci.py#L3287-L3343

[2022-05-27 14:47] meteorcloudy commented on #15582
No Bazel releases are affected, only Bazel binaries built and published at each commit are affected.

[2022-05-27 15:59] theospears opened #15587 "Starlark debugger can crash due to null value in StarlarkFunction.Cell"
### Description of the bug:

The built in starlark debugger can crash when debugging certain custom rules.

The bug is in [StarlarkThread.getLocals](https://github.com/bazelbuild/bazel/blob/master/src/main/java/net/starlark/java/eval/StarlarkThread.java#L182).

[code]

This method constructs an `ImmutableMap` containing all the variables in a scope. `ImmutableMap` will throw an exception if you at

[2022-05-27 20:47] ckolli5 commented on #15239
Merged to release-5.2.0. https://github.com/bazelbuild/bazel/pull/15453

[2022-05-27 20:47] #15239 closed

[2022-05-27 20:47] ckolli5 commented on #15387
https://github.com/bazelbuild/bazel/pull/15534

[2022-05-27 20:47] #15387 closed

[2022-05-27 20:54] ckolli5 commented on #14846
Hey @divesh979, I can see that you have already created an [issue](https://github.com/bazelbuild/rules_go/issues/3069) in [rules_go](https://github.com/bazelbuild/rules_go) repository. So, are we good to close this issue? Thanks!

[2022-05-28 00:38] UlasSAYGINIM commented on #14891
you may find useful these books. i will also recommend golang for you to learn.
there are turkish translations also for the books. Sıra Dışı C++ Cilt 1ve Sıra Dışı C++ Cilt 2

i didnt get same taste from bazel. i hate at first. i understand what they do but python derived language for configuration seems wrong choice to me. but it seems easy for them. bazel need GUI but no gui. i saw some people d

[2022-05-28 01:03] meftunca commented on #14891
I use Golang for my business projects. Frankly, golang seems like a narrow language to me. I'm more interested in rust-lang than golang. I attach great importance to C++ because it is the beginning of everything for me :)

[2022-05-28 01:39] cpsauer commented on #15575
Hints certainly received! :) Sounds like more open to it than I'd realized.

That said, I'm not going to implement this one or work through a more formal process. You all have a big advantage here over me on design and implementation, being immersed in this stuff, and I should focus my contributions elsewhere.

[Already working way hard trying to [help make editing bazel codebases a great experien

[2022-05-28 03:05] dws commented on #12604
I observed this in Bazel 4.2.2.

[2022-05-28 10:02] UlasSAYGINIM commented on #14891
what is narrow for golang?

[2022-05-28 10:11] meftunca commented on #14891
It was generally planned as a backend and developed accordingly. Not suitable for every platform and project idea like C++, Javascript or rustlang. It doesn't even need to be. It may be the best in its field (backend).

[2022-05-29 16:47] takipsizad commented on #15547
https://github.com/bazelbuild/bazel/issues/14891 I have found another related issue, i think the root cause is same here @sgowroji
( gonna try to downgrade python to 3.8)

[2022-05-29 16:47] #15547 closed

[2022-05-30 11:49] Wyverald opened #15593 "Canonical label literals"
See https://docs.google.com/document/d/1N81qfCa8oskCk5LqTW-LNthy6EBrDot7bdUsjz6JFC4/edit#

In short, the new label syntax `@@repo_name//pkg:target` will be used to represent labels that have been passed through repo mapping. This feature will be gated behind `--enable_bzlmod` for the time being.

[2022-05-30 11:49] Wyverald commented on #14580
Duping against https://github.com/bazelbuild/bazel/issues/15593

[2022-05-30 11:49] #14580 closed

[2022-05-30 11:49] Wyverald commented on #15172
Duping against https://github.com/bazelbuild/bazel/issues/15593

[2022-05-30 11:49] #15172 closed

[2022-05-30 13:02] #14459 closed

[2022-05-30 14:41] fweikert opened #15595 "Status of Bazel 6.0.0-pre.20220520.1"
- Expected release date: 2022-05-30

Task list:

- [x] Pick release baseline: [4879106f](https://github.com/bazelbuild/bazel/commit/4879106fabdf4af9395743941987d4297d232296)
- [x] Create release candidate: https://releases.bazel.build/6.0.0/rolling/6.0.0-pre.20220520.1rc1/index.html
- [x] Post-submit: https://buildkite.com/bazel/bazel-bazel/builds?branch=release-6.0.0-pre.20220520.1rc1
- [x] Push

[2022-05-30 15:43] foxandi commented on #15550
Might be related to: https://github.com/bazelbuild/bazel/issues/15073

[2022-05-30 16:55] guw commented on #14699
That's an interesting idea. I did some searching and it does not seem to be supported by any of the Java actions, though.

[2022-05-30 17:03] shubhindia opened #15596 "BulkTransferException while using bazel-remote cache"
### Description of the bug:

We are using bazel as a build system for our iOS apps and [bazel-remote](https://github.com/buchgr/bazel-remote) as our remote cache. We are seeing some BulkTransferExceptions. I have attached the build log below.
Bazel-version: v5.0.0
Bazel-remote version: v2.3.7

`WARNING: Remote Cache: 500 Internal Server Error
read tcp 172.XX.XX.XX:9092->172.XX.XX.XX:59844: i/o tim

[2022-05-30 18:21] ltekieli commented on #3592
@carlosgalvezp I wanted also to understand this topic and did a small reproducer:
- https://github.com/ltekieli/bazel_hermetic_x86_64_toolchain
- https://github.com/ltekieli/bazel_hermetic_x86_64_toolchain/blob/5cbadaf3063c842705994ce16ebf2f75b7ffb643/bazel/toolchain/x86_64-unknown-linux-gnu/cc_toolchain_config.bzl#L168

This "dynamic_runtime_lib" thing seems to me a bit like a workaround. I canno

[2022-05-30 21:42] danielcompton opened #15597 "Redirect Bazel blog URLs to blog.bazel.build subdomain"
### Description of the feature request:

Redirect old Bazel blog URLs from `bazel.build/blog/*` to `blog.bazel.build/*`

### What underlying problem are you trying to solve with this feature?

I followed a link from https://groups.google.com/g/bazel-discuss/c/dXqPqhxRi8o to https://bazel.build/blog/2015/07/23/tree-trimming.html which 404'd. Searching for that article title I found https://blog.baz

[2022-05-30 23:55] uri-canva commented on #14699
Yeah I don't think you can use `java_common.compile` for that, you'd have to implement java compilation yourself in starlark.

[2022-05-31 03:50] sgowroji commented on #15596
Hello @shubhindia, Could you please provide complete reproduction steps of the above Exception. Thanks!

[2022-05-31 04:42] oakad commented on #15550
@foxandi  It does look like the same issue.

[2022-05-31 04:52] jeraldsun commented on #10527
I got the same aapt2 error(`attribute 'package' in <manifest> tag is not a valid Android package name: 'butterknife'`), how can we fix it in Bazel? (PS, this problem doesn't appear in gradle). Looking forward to your kindly reply.

[2022-05-31 05:03] keith commented on #10527
Can you file a new issue with a repro case?

[2022-05-31 05:18] jeraldsun commented on #10527
Sure. I'll file a new issue.

[2022-05-31 06:12] arunkumar9t2 commented on #15432
@ted-xie
We also used to see this consistently when using incremental dexing with d8 merger on 5.0+ I think. But as of `6.0.0-pre.20220517.1` we no longer see this and build completes successfully.

[2022-05-31 10:19] jeraldsun opened #15598 "Aapt2 error: attribute 'package' in <manifest> tag is not a valid Android package name: 'butterknife'."
### Description of the bug:

I got a aapt2 error when I ran `bazel build` on my Android project which has both Gradle and Bazel as its build tool:
[code]
I think the root cause is that the ButterKnife project has a wrong package name to aapt2. But when I use Gradle to build my project, this problem doesn't appear. I'm not sure whether Gradle nor AGP make any tricks here. But it seems that Bazel ha

[2022-05-31 12:23] meteorcloudy commented on #15386
Closed due to https://github.com/bazelbuild/bazel/pull/15497

[2022-05-31 12:23] wangzy0327 opened #15599 "Release 1.11 - how to use bazelist to build projects"
why I cannot use bazelisk or bazel to build project? cannot find bazel,but bazel is downloaded

![image](https://user-images.githubusercontent.com/22990858/171176522-32b853bc-21d9-4ab9-9859-8d2a37a67097.png)

[2022-05-31 12:58] #15191 closed, assigned to oquenchil

[2022-05-31 13:12] fmeum commented on #15268
@trybka Looks like this could be closed?

[2022-05-31 14:25] trybka commented on #15268
Yes, though I don't appear to have access to. @oquenchil can you take care of it?

[2022-05-31 14:29] #15268 closed

[2022-05-31 14:54] Wyverald commented on #15599
You need to alias `bazel` to `bazelisk`. Also, please use the proper support channels for questions such as this (this is more relevant for TensorFlow).

[2022-05-31 14:54] #15599 closed

[2022-05-31 15:17] #15595 closed

[2022-05-31 15:40] ted-xie commented on #15432
@arunkumar9t2 Glad to hear that the 6.0.0-pre[...] version works for you. I suspect this was a bug in the previous version of D8 dexmerger, and the new version patched a few weeks ago resolves the crash.

[2022-05-31 16:46] purkhusid commented on #12665
Has there been any recent work on this? It is very unfortunate that it's not possible to use `--remote_download_minimal` for the build/test part and then `--remote_download_outputs=all` or `--remote_download_toplevel` for running executable targets (e.g. deployment targets) at the end of the CI pipeline.