[2018-02-14 01:21] hsyed opened #4634 "ctx.actions.expand_template generated launcher not being included in runfiles of a genrule when declared as a tool."
### Description of the problem / feature request:

Launcher script and potentially it's runfiles  are not showing up in location expansion within `genrule`  when the target is declared as a tool. [rules_kotlin test case declaration](https://github.com/bazelbuild/rules_kotlin/blob/8984a037bacd41f2d48a8f6a98cfb53cbc632517/tests/smoke/BUILD#L99-L111)

### Feature requests: what underlying problem are

[2018-02-14 02:11] farwayer commented on #3641
`-stlport` and `-gnu-libstdcpp` is not workaround in many cases...

[2018-02-14 03:19] tejal29 opened #4635 "Allow bazelrc to use Environment Variables."
### Description of the problem / feature request:

Right now, I could not find a  way to use environment variables in .bazelrc.
What i want to do is
[code]

### Feature requests: what underlying problem are you trying to solve with this feature?
Pass on Environment variable to a bazel rule which runs a script.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a mini

[2018-02-14 04:26] hsyed commented on #4634
FYI Making the wrapper script a default output expands the problem to the transitive deps of the tool. If a quick fix isn't possible I could replace `kt_jvm_binary` with a macro that orchestrates `kt_jvm_library` and `java_binary`.

[2018-02-14 07:32] alexanderlobov commented on #4480
I will wait for you changes. Have closed my pull request. Thank you for your response.

[2018-02-14 08:40] lisendong commented on #4558
when I build bazel from source ( bazel-0.10.0), I met the system env var problem:

[code]

because in my system,  "cp" command is under ~/bin/ but not /bin  (and I do not have root privileges)
how could I set the $PATH enviromnt?

I have tried "--action_env=PATH" but it does not work

[2018-02-14 08:45] lisendong commented on #4137
@ulfjack
I 'm sure "cp" command is not under  /bin or /usr/bin
and I do not have root privilege. so could you please help me how to propogate "$PATH" to bazel BUILD.
I have tried every solution in the google (include --action_env、use_default_shell_env), but does not work

[2018-02-14 09:07] iirina commented on #4544
Yes I saw it. I should have mentioned my I chose this option. My reasoning is:

1. In the future we could relax this limitation (current package name) if needed. If we add the flag as `boolean` from the beginning we tie our hands and future modifications/additions will be harder to make.
2. A command line flag would impose ` --proto_path=/path/to/proto/package` for every proto_library and I think

[2018-02-14 09:24] auke- commented on #4597
Ok, thanks. I'll try to use maven_jar from a Skylark rule.

[2018-02-14 09:24] #4597 closed

[2018-02-14 09:33] lberki commented on #3861
Erm, this somehow escaped my notice -- I'm not *entirely* surprised that `py_binary` rules behave differently under `run` and under `test`; not that they should, but the environment they run in are slightly different and it's entirely possible that that throws off the Python interpreter.

The Python rules are revamped at the moment. The discussions happen on https://groups.google.com/forum/#!forum

[2018-02-14 09:33] #3861 closed

[2018-02-14 09:39] ulfjack commented on #4137
Did you try with a more recent Bazel release?

[2018-02-14 09:44] aehlig commented on #4635
specifying --action_env with just the variable names tells bazel to inherit
that variable from the caller environment. So, adding

  build --action_evn=GIT_ROOT

to the respective rc-file and an exporting GIT_ROOT in your shell provides
the information to actions without the need of changing the syntax of rc-files.

--
Klaus Aehlig
Google Germany GmbH, Erika-Mann-Str. 33, 80636 Muenchen
Registerge

[2018-02-14 10:34] lisendong commented on #4137
@ulfjack , I used bazel 0.10.0.

[2018-02-14 13:57] yrenier commented on #2534
thanks @ysagon, I had the same problem (bazel 0.10.0) and your solution fixed it !

[2018-02-14 14:04] ittaiz commented on #4544
ok. I meant a command-line flag only as a boolean one indeed.
@dslomov @iirina We can live with this but we will need to hide it with a macro which will set this property using `%PACKAGE_NAME` since we can't have everyone repeating this in tens of thousands of BUILD files. I know you're somewhat against macros so I wanted to surface it.

[2018-02-14 15:57] ipolyakovskiy opened #4636 "Feature request: add target platform info in repository_ctx"
### Description of the problem / feature request:
We are using libzmq in our project, I created repository_rule to compile it, because there is some platform-dependent headers generated by autoconf or cmake. To cross-compile it, I should add some flags to "./configure" call to generate headers for target platform. But I didn't find any possibilities to provide information about target platform in

[2018-02-14 16:27] philwo commented on #3886
Yes. Bazel's resource management is based on guesstimates as to how much RAM / CPU / IO a certain action will need. If you have a container with just 4GB RAM and no swap space, stuff will horribly die, but so would a physical machine with 4GB RAM, no allowed memory overcommit and no swap space (which is what it looks like CircleCI is doing here).

I think the only way to fix this is to limit the p

[2018-02-14 16:44] iirina commented on #4544
Thanks for letting us now. It's OK to use a macro for this situation.

Do you have *that* many BUILD files?

[2018-02-14 16:53] ittaiz commented on #4544
As I think you know we’re still moving so it’s hard to say but this is
where it seems it will go. Maybe very lower tens but yeah.
One correction is that we obviously will only have tens or lower hundreds
of places which use proto library so with respect to this specific dilemma
it’s much lower.
And still I can’t find any value in having developers specify it.
On Wed, 14 Feb 2018 at 18:44 Irina Ian

[2018-02-14 17:10] iirina commented on #4544
I see. I was curious, I don't know much about the project.

I think the value comes from having more control about the proto libraries. Having a flag that affects every proto_library can become problematic very quickly. Maybe it works well for your setup, but for other projects it could be misused. The macros solve this problem nicely here - so from my point of view it's a win-win.

[2018-02-14 17:20] ittaiz commented on #4544
Indeed I meant that for our use-case I don’t find any value in it
On Wed, 14 Feb 2018 at 19:11 Irina Iancu <notifications@github.com> wrote:

[2018-02-14 19:51] adelez commented on #4572
Friendly ping? Is there any update on this?

[2018-02-14 20:04] pmuetschard opened #4637 "Skylark documentation using "else if""
### Description of the problem / feature request:

The skylark documentation has a reference to "else if", which is invalid. It should read "elif".

https://docs.bazel.build/versions/master/skylark/spec.html#unary-operators

[2018-02-14 21:14] jin commented on #4572
@mhlopko can you take a look at this please?

[2018-02-14 22:09] pmuetschard commented on #3678
I'm still seeing this very frequently (on multiple windows machines) on bazel 0.10.0. **However**, only when trying to link .so's for Android NDK APKs.

For example:
[code]

[2018-02-14 22:46] helenalt commented on #312
Closing due to no activity from the requester for 2 years. If this feature is still desired, please submit a proposal to bazel-discuss@googlegroups.com

[2018-02-14 22:46] #312 closed

[2018-02-14 22:50] davidstanke commented on #355
Assigning to @michelleirvine -- input on the .bazelrc documentation need.

[2018-02-14 22:54] helenalt commented on #1365
Reviewed, still P3, to be considered in backlog for the future work.

[2018-02-14 22:57] helenalt commented on #1188
Putting into documentation backlog

[2018-02-14 23:00] helenalt commented on #1198
Updated link to the User Manual is https://docs.bazel.build/versions/master/user-manual.html
@spomorski to review what's the best way to organize this page.

[2018-02-14 23:00] davidstanke commented on #906
Closing this as it does not reproduce.

[2018-02-14 23:00] #906 closed

[2018-02-14 23:02] helenalt commented on #798
@lberki is this a bug that needs fixing?

[2018-02-14 23:03] davidstanke commented on #696
Closing this as it relates to a very old version of Bazel. If it's still an issue, please open a fresh issue. Thanks!

[2018-02-14 23:03] #696 closed

[2018-02-14 23:06] helenalt commented on #849
@ulfjack given the workaround provided by damenmg above, is this still a feature worth considering or do we close this issue?

[2018-02-14 23:07] davidstanke commented on #788
@katre WDYT we should do here?

[2018-02-14 23:09] helenalt commented on #967
Re-triaged, priority is accurate, leaving in backlog

[2018-02-14 23:11] helenalt commented on #504
@ulfjack  is this issue still relevant?

[2018-02-14 23:56] jimbojw commented on #4425
What should projects that use bazel do in the face of this bug? We're seeing this behavior now that 0.10.0 is out in the wild: https://github.com/PAIR-code/facets/issues/107

[2018-02-15 00:48] g-easy commented on #4572
I ran into this also.

[code]

Looking at `$(bazel info output_base)/external/local_config_cc/CROSSTOOL`, it has:

[code]

but no `/usr/lib/clang/3.8.1/include`

[2018-02-15 05:05] ittaiz commented on #3022
@cvcal should this be closed in favor of #4502?

[2018-02-15 05:19] davido commented on #4425
@jimbojw You have three options, obviously:

- Remove the check entirely, what `rules_closure` project is doing
- Replace it with the check from `bazel_skylib`, something that gerrit code review project is doing https://github.com/GerritCodeReview/gerrit/blob/master/WORKSPACE#L31-L33
- Reimplement the check on your own, something that TensorFlow project is doing: https://github.com/tensorflow/tens

[2018-02-15 05:23] fahhem commented on #4425
@davido, there is another option for version checks:

https://github.com/fahhem/protobuf/blob/35119e39a07f426f3c48a1bfb41d862994223742/protobuf.bzl#L405

The documentation is in the java implementation (not in the skylark docs yet): https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/rules/apple/DottedVersion.java

[2018-02-15 05:29] davido commented on #4425
@fahhem, Thanks for pointing this out. I didn't know that. Still strange to use `apple_common` on Linux system ;-)

[code]

[2018-02-15 07:26] benjaminp commented on #4572
If you're building on a Debian derivative, it's likely due to a Debian patch as described in https://github.com/bazelbuild/bazel/issues/3977#issuecomment-339894732.

[2018-02-15 07:54] laszlocsomor commented on #312
Didn't @lberki recently do something in this domain in https://github.com/bazelbuild/bazel/commit/4741aa83145fd2d3ab0599314f7732c5b80977bd ?

[2018-02-15 08:14] lberki commented on #312
Yep, that sounds like a viable approach. After that commit, for example, `bazel run --run_under=gdb` will launch an interactive `gdb` session with a C++ test.

[2018-02-15 08:19] ulfjack commented on #849
I think that's good enough.

[2018-02-15 08:19] #849 closed

[2018-02-15 08:20] ulfjack commented on #967
Julie has been working on adding a cquery command that takes configurations into account. I don't think we'll change query in this way, but recommend cquery instead.

[2018-02-15 08:20] #967 closed

[2018-02-15 08:24] ulfjack commented on #504
Good question. We've been changing Bazel to always set TMPDIR, although we're not currently setting TEST_TMPDIR to TMPDIR. I think it would generally be a good idea to make such a change, although we might want to first make it so TMPDIR is always set to an empty directory. TEST_TMPDIR is currently always a per-test empty directory, and setting TEST_TMPDIR to TMPDIR now would regress on that, I th

[2018-02-15 08:27] lberki commented on #798
I don't think so. It's a little code beauty issue which may or may not have been fixed since then and it's a tiny issue anyway.

[2018-02-15 08:27] #798 closed

[2018-02-15 08:36] philwo commented on #4049
@petemounce I'll take care of this.

[2018-02-15 08:40] lberki commented on #4549
@hsyed : I assume you mean "the ijar step is currently just cp'ing so it *cannot* be merged in", right?

@cushon : unfortunately, I can't recall or find that discussion anywhere :( I think in Bazel, that is okay because `proto_library` doesn't have an implicit dependency on anything Java, so there won't be a dependency cycle, but the internal version does, so we need to do some tricks to make that

[2018-02-15 08:59] ulfjack commented on #312
Indeed, please try it with a Bazel binary after the commit mentioned above - we're now attaching the binary run directly to the terminal.

[2018-02-15 09:06] lberki commented on #312
...if you add the `--direct_run` command line option to `bazel run`. The plan is to make that the default, but that will take some time; I'm hoping for ~two weeks, but since I also want to flip the flag internally at Google, I'm somewhat worried that it breaks some weird use cases so there may be delays.

[2018-02-15 09:14] lberki commented on #4549
Ugh, I was just made aware that the extra dependencies required by protocol buffers make the above solution impractical :( I can think of a few options:

* Write an "ijar-for-Kotlin" binary that strips out the Kotlin-specific parts from jars as a step to be run before or after ijar. We'd need to tweak the Skylark API for Java a bit, but I think that's doable? (paging @iirina for confirmation)
* Ch

[2018-02-15 09:34] hsyed commented on #4549
@lberki I guess i got the convention mixed up. I’ll update the pr.

Do we need to unpack the proto for certain corner cases ? @cushon what did you find inside d1? d2 is a string array and does have a different shape for inline methods.

[2018-02-15 09:44] hsyed commented on #4549
Aah not a return type, `donkey` returns `Int`.

[2018-02-15 09:50] #4354 closed

[2018-02-15 10:07] hsyed commented on #4549
@lberki an ijar-for-Kotlin would have to share most of the code of the existing tool no ?  Did you have an alternate approach in mind .

 don't you mean "retains some Kotlin-specific parts"  ?

[2018-02-15 10:22] #3201 closed

[2018-02-15 11:49] davido commented on #4636
Duplicate of: #2045.

[2018-02-15 12:27] ipolyakovskiy commented on #4636
I'm not sure about it. AFAIU there is a talk about host system configuration in that issue. I'm talking about target platform, which is build parameter like --cpu and --crosstool_top. Did I misunderstood something?

[2018-02-15 13:48] iirina commented on #4544
Update: the fix should be in this week.

[2018-02-15 13:53] dslomov commented on #4636
Repository rules do not have access to target platfrom. They execute very early, before the loading phase.
You should call `./configure && make` in the build rule that the repository rule emits instead. Cf. https://blog.envoyproxy.io/external-c-dependency-management-in-bazel-dd37477422f5

[2018-02-15 14:45] cvcal commented on #3022
Probably, there are a bunch of these old bugs, I haven't looked through all of them. The proposal in #4502 leaves these both to be read independently, so that should address the problem.

[2018-02-15 15:11] nicolasnoble commented on #3977
Is there any bug entered in the Debian bug system about that if we believe this is on them?

[2018-02-15 15:36] ulfjack commented on #3977
Good point. I don't think we have.

[2018-02-15 15:55] philwo commented on #4636
@dslomov Marking this as "type: support" as I understand that this is working as intended. Please recategorize as feature request if you instead want to change this in the future.

[2018-02-15 15:56] philwo commented on #4635
Seems like this is solved, closing. Please reopen if necessary.

[2018-02-15 15:56] #4635 closed

[2018-02-15 16:04] katre commented on #2219
The platform rules exist, and work is continuing in #4442 , so closing this issue.

[2018-02-15 16:04] #2219 closed

[2018-02-15 16:10] katre opened #4638 "Allow setting the target platform directly on targets"
It would be useful to directly specify the target platform on some types of targets (typically, "top level" or binary targets). This will enable us to support builds for multiple target platforms in the same build, as well as hard-coding some types of configuration information.

Example syntax:
[code]

[2018-02-15 16:10] katre commented on #4638
Note that this is being added for tracking purposes, this feature will not be worked on for some time.

[2018-02-15 16:18] pterjan commented on #3988
I see the same error on linux/armv7

So far the only thing I noticed is https://github.com/bazelbuild/bazel/blob/master/src/BUILD#L182
The java version is used on windows and arm:

    }) + select({
        # TODO(bazel-team): Once https://github.com/bazelbuild/bazel/issues/2241
        # is resolved, use cc implementation of singlejar on windows
        "//src/conditions:windows": [
            "

[2018-02-15 16:30] Steve-Munday commented on #3886
Thanks @philwo that's a good suggestion. I have added it and will continue to monitor results.  So far so good.  For resource limitation I am using this in Circle CI:
[code]
and using this in tools/bazel.rc:
[code]

[2018-02-15 17:12] ittaiz commented on #4635
Just to make sure- the general feature isn’t solved but the specific case,
right?
On Thu, 15 Feb 2018 at 17:56 Philipp Wollermann <notifications@github.com>
wrote:

[2018-02-15 17:13] ittaiz commented on #4544
This week is today or tomorrow? (Or this calendar week)
On Thu, 15 Feb 2018 at 15:48 Irina Iancu <notifications@github.com> wrote:

[2018-02-15 17:19] philwo commented on #4635
@ittaiz Yes, the case of "I want to have an environment variable available in the environment of my running actions" should be solved via `--action_env=MY_VAR`.

The case of "I want to use environment variables in my .bazelrc via string interpolation" like `build --jobs=$BAZEL_MAX_JOBS` is not solved, but it's not clear if we should even support it.

If you want / need that, I'd suggest to file a

[2018-02-15 17:22] lberki commented on #4544
(originally, today or tomorrow, but @iirina chose me as her code reviewer and I'm OOO tomorrow so it either has to be someone else or it'll slip till next week)

[2018-02-15 17:25] philwo commented on #4633
@ulfjack Can you assign this to someone who knows about this? I'm not sure who would be the best fit.

[2018-02-15 17:31] philwo commented on #4619
I'm not surprised that the `linux-sandbox` strategy doesn't work on WSL, but Bazel should automatically fallback to a variant that works.

I can't see where this exception could come from in our code and can't find the string "Sandbox is not supported" either :( We'll have to try to reproduce it.

@neilbalch Could you try your build with `bazel build --spawn_strategy=standalone --genrule_strategy=

[2018-02-15 17:50] pterjan commented on #3988
on amd64, embedded_tools.zip contains `tools/jdk/singlejar/singlejar`, but if I switch the default to use the java version instead in `src/BUILD`, it now contains `src/java_tools/singlejar/java/com/google/devtools/build/singlejar/bazel-singlejar_deploy.jar` instead and no `tools/jdk/singlejar`.

I guess the name of the jar could be the problem as it doesn't match the rules for output files in crea

[2018-02-15 17:54] pterjan commented on #3988
Fixing the name in create_embedded_tools.py seems to work, but I will not be able to properly test on arm soon as it takes > 1 day to build on my arm machine

[2018-02-15 17:57] ittaiz commented on #4544
If there’s a chance it could get in tomorrow that would really help us. As
usual I trust you to make the right call.
On Thu, 15 Feb 2018 at 19:22 lberki <notifications@github.com> wrote:

[2018-02-15 18:17] crorvick opened #4643 "--action_env results in confusing and inconsistent behavior"
### Description of the problem / feature request:

Bazel has two forms for passing environment variables into the build via the `--action_env` command-line parameter:

- **NAME only:** the variable is passed into Bazel, getting the value from the user's environment.
- **NAME=value:** the variable is passed into Bazel with the explicitly provided value

I have stumbled into some surprising observat

[2018-02-15 18:56] gregestren commented on #967
Specifically see 07c4e3648e3b7a521b6706ffc5cbcdeca1ebf4e1

This should be in the next Bazel release, and we're working on exporting some proper documentation along with it.

[2018-02-15 19:01] jmillikin-stripe commented on #2840
Can we re-open this, since the fix got rolled back?

[2018-02-15 19:02] gregestren commented on #170
The newly developed `cquery` follows selects, although it doesn't support `--output=xml` yet. If you specifically need `--output=xml`, please re-open this bug.

See 07c4e3648e3b7a521b6706ffc5cbcdeca1ebf4e1, available in the next Bazel release.

[2018-02-15 19:02] #170 closed

[2018-02-15 19:05] #3343 closed

[2018-02-15 19:18] gregestren commented on #4388
This is a weird one, because strictly speaking the value of `fg2`'s `visibility` attribute is empty and `default_visibility` doesn't change that. Because that's a property of `package`, not `fg2`.

Bazel then resolves all this with https://github.com/bazelbuild/bazel/blob/076977e019ebcb8b822e7727d292636fadcafcca/src/main/java/com/google/devtools/build/lib/packages/Rule.java#L636

There's also the

[2018-02-15 19:18] #4388 closed

[2018-02-15 19:35] juliexxia commented on #1121
BUILD is supported but RECORD is not. Sending out a change for review now.

[2018-02-15 20:14] philwo commented on #4620
Thank you for answering this, @cushon!

[2018-02-15 20:14] #4620 closed

[2018-02-15 20:39] philwo commented on #4616
@mafanasyev-tri Can you reliably reproduce this with Bazel 0.10.0 but not with Bazel 0.9.0? That would be a very interesting case. Are your tools crashing with OOM or Bazel itself? Can you share what kind of compilers or tools are running out of memory?

Could you try if limiting parallelism (via --jobs=N and maybe start with N=16?) helps? The problem is likely to be that you're running many actio

[2018-02-15 20:43] philwo commented on #4572
@ulfjack @mhlopko This seems like a huge regression. Can you help figuring out what's going on here?

[2018-02-15 20:48] philwo commented on #4612
This looks like a bug, but to be honest, I don't think anyone on the team has experience with Nix... 😞

@mhlopko @ulfjack Any idea?

[2018-02-15 20:54] philwo commented on #4607
Hi @jarviscrypter - I'm sorry that Bazel crashes your system! This surely should not happen.

I wonder if your computer is running out of RAM? Bazel can use a lot of RAM and if it then runs many compilers in parallel, it can be a bit much. Can you share some details about your computer system, like which CPU and how much RAM do you have?

You can try to create a file called ".bazelrc" in your home

[2018-02-15 20:56] philwo commented on #4606
Yes, nodejs is missing on your system. It looks like you're on a Mac. If you have Homebrew installed, you can install nodejs like this: `brew install node`.

[2018-02-15 20:57] gregestren commented on #3911
This is an obscure error coming out of the intersection of environment_group, package error reporting, and [Skyframe](https://bazel.build/designs/skyframe.html).

The *actual* error, as you know, is that `environment_group` `cpus` references a non-existent target: `:cortex-m4`.

Normally errors like this get faithfully reported here: https://github.com/bazelbuild/bazel/blob/a729b9b4c3d7844a7d44934

[2018-02-15 20:57] #4606 closed

[2018-02-15 21:01] philwo commented on #4595
Thanks for the report @sgreenstein! This looks like a pretty straightforward fix. I'll change our options for remote execution / caching to not use `null` to indicate the default, but instead an empty string.

[2018-02-15 21:01] philwo commented on #4595
FYI @buchgr

[2018-02-15 21:09] philwo commented on #4602
Wait, what? Bazel creates unix sockets with names resembling an IP:port pair (except the port number is way too large) in random places in the output_base? I assume when you wrote "When I investigate the file system, a few sockets are just sitting there." you were looking inside the output base and not your workspace?

Now that's a pretty mysterious bug. I don't think Bazel itself is directly the

[2018-02-15 21:10] philwo commented on #4594
Marcel, any idea?

[2018-02-15 21:11] philwo commented on #4586
@laszlocsomor This bug seems relevant to your interests.

[2018-02-15 21:12] philwo commented on #4580
@iirina I remember we saw this during the release candidates for 0.10.0, but I'm not sure what the fix was...?

[2018-02-15 21:14] sergiocampama commented on #4603
so I have `"files.exclude": {"bazel-*": true}` set in my vscode settings, but having VSCode open on the working repository still makes this error appear. I have to close VSCode before being able to compile correctly

[2018-02-15 21:15] philwo commented on #4578
It might be an issue with your local JDK or a bug in the Bazel version you're using.

Can you please provide the output of `bazel version` and `java -version`?

[2018-02-15 21:49] helenalt commented on #4502
@ixdy please review cvcal's proposal and comment if that also works for Kubernetes

[2018-02-15 21:56] davido commented on #4580
@philwo Have you missed my comment above? I already said what the solution is. The problem was fixed in this commit in [`rules_closure`](https://github.com/bazelbuild/rules_closure/commit/fab2c6b1d5eeaf0b1a067054e425e8c38f667d40#diff-2e4ceb18bd69c42a94a1867209a48286L69). TF would need to upgrade to newer version of `rules_closure`, like gerrit did recently.

[2018-02-15 22:08] philwo commented on #4580
@davido Yes, but the problem here is not just rules_closure, the TensorFlow that @pranaypratyush is trying to build also seems to use the broken version check:

[code]

I'm not sure what our recommended fix for that is - is there a TensorFlow release that has the fix for the version check? Or would @pranaypratyush have to downgrade Bazel in order to build TensorFlow?

[2018-02-15 22:18] snowp opened #4644 "Allow configuring different compilers for C and C++"
### Description of the problem / feature request:

From what I understand the cc_toolchain is supposed to configure both the C++ and C toolchain, but it only allows specifying one compiler executable. This means that in cases where one might want to use g++ as the C++ compiler, you will no longer be able to build C files (without providing a secondary toolchain? I'm a bit fuzzy here). This is a re

[2018-02-15 22:40] vicb commented on #4603
@sergiocampama `"files.exclude": {"bazel-*": true}` did help me most of the time. I seldom see the issue now (only after my MBP resumes from sleep it seems)

[2018-02-15 22:55] neilbalch commented on #4619
How interesting. When I get home today, I will try that command.

[2018-02-15 22:55] neilbalch commented on #4619
oops, didn't realize what the "Close and Comment" button did.

[2018-02-15 23:01] ixdy commented on #4502
Is the proposal that bazel reads both `$WORKSPACE/.bazelrc` and `$HOME/.bazelrc`? Because that would solve our issue.

Currently Kubernetes has a `$WORKSPACE/.bazelrc` checked into our repo, which has the unfortunate side effect of causing `$HOME/.bazelrc` to never be read. (Minor note: this is actually a symlink into a subdirectory to work well with the ownership/approval workflows we use.)

We d

[2018-02-15 23:03] jnb opened #4645 "CROSSTOOL file parse error on msys_x64_mingw_content"
### Description of the problem / feature request:

I'm observing a parse error on a `CROSSTOOL` file when using Bazel 0.10.1 to build [envoy](https://www.envoyproxy.io/).

I believe that the build succeeds when using Bazel 0.9.0

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

    $ git clone -b v1.5.0 --single-branch --depth 1 https

[2018-02-15 23:32] #3911 closed

[2018-02-15 23:43] davido commented on #4580
Ah, right, t was addressed in this issue: https://github.com/bazelbuild/bazel/issues/4425.

[2018-02-16 00:44] neilbalch commented on #4619
Nope, @philwo  same error:

INFO: Elapsed time: 4.813s
FAILED: Build did NOT complete successfully (1 packages loaded)
java.lang.IllegalStateException: com.google.devtools.build.lib.actions.UserExecException: Sandbox is not supported
        at com.google.devtools.build.lib.sandbox.SandboxModule.executorInit(SandboxModule.java:70)
        at com.google.devtools.build.lib.buildtool.ExecutionTool.<i

[2018-02-16 00:45] neilbalch commented on #4619
@philwo And you said you can't reproduce this error on another WSL installation?

[2018-02-16 04:56] snowp commented on #4644
Quick proof of concept of what I was thinking: https://github.com/snowp/bazel/commit/06724994c114c0494fa1e82a53022f6d28e14279

Would love to hear if this is something that'd be useful. @damienmg mind taking a look? or delegating to someone more appropriate

[2018-02-16 05:14] benjaminp commented on #4644
What's the problem with using always using `gcc` as the compiler? It's perfectly capable of compiling C++.

[2018-02-16 05:26] snowp commented on #4644
While `gcc` *can* compile C++ they're aren't the same: https://stackoverflow.com/questions/172587/what-is-the-difference-between-g-and-gcc

From what I understand it might be possible to configure `gcc` to do whatever `g++` can do, but it seems once you're writing your own toolchains that being able to make use of the different features/defaults between gcc/g++ would be useful. The idea being that

[2018-02-16 05:29] benjaminp commented on #4644
Yes, the linking behavior is slightly different, but in a crosstool, there isn't really any harm in explicitly writing the `-lstdc++`.

[2018-02-16 06:02] snowp commented on #4644
The issue that envoy ran into boiled down to the fact that `gcc` ignored `-static-libstdc++` while `g++` did not: https://github.com/bazelbuild/bazel/issues/2840, so there's more to it then just +/- `-lstdc++`

From what I can tell there's enough differences between the two of them that being able to define them separately doesn't seem too unreasonable. While `gcc` could technically be configured

[2018-02-16 06:07] snowp commented on #4644
To be clear: I'm arguing for giving people the **option** to specify a different C/C++ compiler, not claiming that it's necessary

[2018-02-16 06:27] AustinSchuh commented on #4619
@neilbalch This is a custom patch we have.  If you pull the latest version, we have upgraded bazel and switched to using a hard-coded spawn strategy per @philwo 's advice in another ticket.

[2018-02-16 06:49] AustinSchuh commented on #4619
@neilbalch, How are you grabbing the latest version of Bazel and trying that?  We've got a hermetic Bazel set up so it is versioned with the repo, not with your host.

[2018-02-16 06:52] neilbalch commented on #4619
@AustinSchuh I was trying both `git pull origin master` and `git fetch origin master && git rebase -i origin/master`. Both yielded the same result.

[2018-02-16 07:04] AustinSchuh commented on #4619
@neilbalch  Looks like we haven't dropped that patch yet, but did also add Philipp's suggested workaround (--spawn_strategy=linux-sandbox).  I'll ditch it next time we upgrade.

Please remove ```tools/bazel``` and try re-building with a more recent version of Bazel installed on your host.  You'll likely need to fix some of the rules to fix any breakage.  That should give Philipp a modern error.

[2018-02-16 07:49] neilbalch commented on #4619
@AustinSchuh Other than errors with the `aos/downloader/downloader.bzl` file that I am having a hard time resolving, bazel suggests I use the `--ignore_unsupported_sandboxing` flag that does dismiss the message about my platform not supporting sandboxing.

WARNING: Sandboxed execution is not supported on your system and thus hermeticity of actions cannot be guaranteed. See http://bazel.io/docs/baz

[2018-02-16 07:53] neilbalch commented on #4619
After talking with @brian-peloton, it seems likely that the issues with WSL and sandboxing support stem from an improper implementation of [unshare](http://man7.org/linux/man-pages/man1/unshare.1.html). Is this mendable by us or is this a limitation that must be resolved by the WSL team?

[2018-02-16 08:22] laszlocsomor commented on #4586
Indeed it is.

@rjogrady : Is this a `cc_binary` or a `cc_test` we are talking about? How exactly do you run the binary, using `bazel run`, `bazel test`, or build and then run from the output directory?

[2018-02-16 08:30] ensonic commented on #4599
Feel free to close it then. I understood the statement differently.

[2018-02-16 08:55] pranaypratyush commented on #4580
@davido yeah I am not on head but the last stable tag.

[2018-02-16 09:07] excitoon commented on #4542
Yeah, I've really meant `rc.exe`. It produces `res` file which can be directly consumed by a linker or it can be compiled into object file using `cvtres.exe` and then consumed by a linker.
Typically, it would be okay assuming `rc.exe` is at `"%WindowsSdkDir%"\bin\{x86|x64}\rc.exe` (after filling environment variables):
https://github.com/bazelbuild/bazel/blob/master/tools/cpp/windows_cc_configure.

[2018-02-16 09:09] excitoon commented on #4542
Basically, it would be awesome if user rule could access `WindowsSdkDir` environment variable which was found by `configure_windows_toolchain()` for given target architecture in order to run whatever it wants.

[2018-02-16 09:46] ittaiz commented on #4621
@laszlocsomor I just tried running a test using bazel built from HEAD (I verified the change is in) when I ran it with `--local_tmp_root=/tmp --strategy=TestRunner=standalone` and I still get:
[code]
Am I doing something wrong?
If I add in the relevant BUILD file:
[code]
The test passes

[2018-02-16 09:46] davido commented on #4580
@pranaypratyush If you cannot upgrade to TF head, you would need to downgrade Bazel, as pointed out by @philwo in previous comment.

[2018-02-16 11:38] laszlocsomor commented on #4621
@ittaiz : You're right. I'm looking into this issue. Sorry this this feature is still broken.

[2018-02-16 11:53] philwo commented on #4619
No, I haven't tried yet to reproduce it myself. I just couldn't see where that error might come from, from looking through the sandboxing code. But @AustinSchuh said that you were running a custom version of Bazel, so that explains it :)

`depset` was introduced in Bazel 0.7.0 (I think, at least its release notes mention it), so it looks like your Bazel version is too old. Can you try upgrading Ba

[2018-02-16 11:57] laszlocsomor commented on #4621
Found the culprit: https://github.com/bazelbuild/bazel/blob/b653624e1e50cd0028305dddfddec4b73ec51f5a/src/main/java/com/google/devtools/build/lib/exec/TestPolicy.java#L81

This sets `$TEST_TMPDIR`'s value to be under a subdirectory of the test temp root, not under the local temp root. See below for more info.

Observations:
- I just found out that there's already a [`--test_tmpdir`](https://docs.ba

[2018-02-16 12:00] laszlocsomor commented on #4621
@ittaiz : For now, maybe `--test_tmpdir=/tmp` would suffice? The effective temp directory will be something like `/tmp/_tmp/3e07cf3aab431e611679f7f0415dffba`, which is 42 characters long.

[2018-02-16 12:02] laszlocsomor commented on #4621
Also, let me roll back https://github.com/bazelbuild/bazel/commit/04757dba0174d22c0a695a7ed5fe511fd13df008 for now so I'm (a) not under time pressure to fix it, and (b) can discuss with the team whether adding another flag for local temp directory control, when we already have `--test_tmpdir`, is actually a good idea. (I wasn't aware of this flag until now.)

[2018-02-16 12:08] nicolasnoble commented on #3977
Can I provide help in any way? This is currently a fairly big issue for us grpc folks. The link to the Debian patch provided by @benjaminp seems to be a 404 for me. If you an point me at the exact source of the problem in terms of actual patches links, I can start bugging Debian maintainers about it.

[2018-02-16 12:25] iirina commented on #4584
They should get the label of the rule where the provider was created. The "exports" providers will just be passed around to the depending targets, so the label will be from where they originated.

[2018-02-16 12:57] mhlopko commented on #4572
Looking into it. The culprit is https://source.bazel.build/bazel/+/e99279bcce475249e58543a5330fa35e59acd7e8:tools/cpp/unix_cc_configure.bzl;dlc=a3fd5e76be71988035388c7e09c3257c8cbb2dd3, since then we're adding `-no-canonical-prefixes` if compiler supports it and this apparently makes clang to return different include paths in .d files than what it reportins in `clang -E -xc++ - -v`.

[2018-02-16 13:24] laszlocsomor commented on #3215
FYI, I decided to roll back the `--local_tmp_root` flag, see: https://github.com/bazelbuild/bazel/issues/4621#issuecomment-366217321

For the record, there's already a `--test_tmpdir` flag, which allows going down to a 42-character-long temp root, see https://github.com/bazelbuild/bazel/issues/4621#issuecomment-366217799

I'll discuss with the team how to go forward.

[2018-02-16 13:35] ulfjack commented on #3977
It might be due to the bugfix for https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=855222

[2018-02-16 13:36] ulfjack commented on #3977
Note that I haven't double-checked @benjaminp's statement, but he's usually right about these things.

[2018-02-16 14:02] #4599 closed

[2018-02-16 14:20] mhlopko commented on #4572
Filed https://github.com/bazelbuild/continuous-integration/issues/186

[2018-02-16 14:20] mhlopko commented on #4572
And uploaded https://bazel-review.googlesource.com/c/bazel/+/39872 with the fix.

[2018-02-16 14:23] mhlopko commented on #4612
I believe this is a duplicate of #4572, can you pls test if the linked fix works for you?

[2018-02-16 14:25] mhlopko commented on #4572
Could you test that the patch fixes the problem for you?

[2018-02-16 14:27] mhlopko commented on #4612
Well, not if you're using gcc, the fix is for clang only. For gcc we should be using `-fno-canonical-system-headers`, but that behavior didn't change between 0.9.0 and 0.10.0. Can you pls verify that your gcc understands `-fno-canonical-system-headers`?

[2018-02-16 14:30] ulfjack commented on #4572
Does this also fix #3977?

[2018-02-16 14:31] ulfjack commented on #3977
Marcel has a possible fix at https://bazel-review.googlesource.com/c/bazel/+/39872.

[2018-02-16 14:42] mhlopko commented on #4572
Ok the exported cl I linked to is a merge of multiple changes, I'll link to a proper patch soon :)

[2018-02-16 14:51] mhlopko commented on #4572
Correct patch: https://bazel-review.googlesource.com/c/bazel/+/39951

[2018-02-16 15:01] laszlocsomor commented on #1831
Hey @Globegitter , I'm sorry about the long silence. No, there haven't been any updates.

IIUC, what @kavehv wanted to know was, if I change a file, what targets would be affected by it? And indeed the BUILD file affects all targets declared within it, and changing a header file in your system includes directory would have an effect on all cc_* rules and their rdeps.

From Bazel's perspective, thi

[2018-02-16 15:04] ulfjack commented on #4633
I don't understand what you're asking, but I think you might want to use our cool new toolchain functionality, and not do it that way.

[2018-02-16 15:04] htuch commented on #2898
Is this now resolved in https://docs.bazel.build/versions/master/user-manual.html#workspace_status?

[2018-02-16 15:08] mafanasyev-tri commented on #4616
@philwo
(1) yes, I can reliably reproduce it with 0.10.0 -- I change a single line (bazel version used) and run repeated clean/build cycles. With 0.9.0, the bazel builds 15 times with no problems (and then continues to build all day as part of other CI jobs). With 0.10.0, the script OOMs at 3th-4th attempt.

(2) I am sure that limiting parallelism would help, unfortunately it would also increase o

[2018-02-16 15:09] mhlopko commented on #2898
@laszlocsomor is the best!

[2018-02-16 15:09] #2898 closed

[2018-02-16 15:10] katre commented on #4633
If I am understanding the problem correctly, you have an iOS (or Android) app that depends on go_library (or go_binary?) targets, and the go targets are being built for the wrong CPU and architecture? This is unfortunate and may not be possible to fix until we manage to convert iOS (and/or Android) rules to use toolchains. Unfortunately, iOS moving to toolchains depends on finishing the C++ toolch

[2018-02-16 15:11] ulfjack commented on #4634
From a quick look through the code and the docs, I can't see what's going wrong here.

[2018-02-16 15:14] mhlopko commented on #3977
Hmm cannot repro.

[2018-02-16 15:39] steeve commented on #4633
@katre you are absolutely right.
Thank you for the fast responses. I just wanted to make sure there was an open issue about this.

To be clear for the other people who might read this: the `rules_go` selects its toolchain based on the platform constraints, but since iOS and Android rules do not make use of (or propagate) it, multi-arch builds don't select the right toolchain based on the current t

[2018-02-16 16:23] iirina commented on #4584
I assume you need it only from the compile-time transitive closure, right? I don't like that for almost everything exposed there is a "compile-time" and a "runtime" version. But I don't see any alternative, so I will just expose the labels for the targets needed at compile-time for now.

[2018-02-16 16:33] ulfjack commented on #3977
I still get errors with that patch
[code]

[2018-02-16 16:36] ulfjack commented on #3977
Here's a snippet from the CROSSTOOL file:
[code]

[2018-02-16 16:38] ulfjack commented on #3977
[code]

[2018-02-16 16:48] ulfjack commented on #3977
[code]

When I add -no-canonical-prefixes, I get an error.
[code]

It looks like clang is broken.

[2018-02-16 17:01] ulfjack commented on #3977
Ok, the problem isn't that we're not specifying -no-canonical-prefixes. The problem is that the include paths for C and C++ are significantly different.

For C:
[code]

For C++:
[code]

If I rename the file to .cc, then it works. We'll need to add c_builtin_include_directory, populate that, and then use the correct path in Bazel.

Previously this worked because the .c include path was a subset of

[2018-02-16 17:15] mmorearty opened #4647 "Mac: Warning about /dev/null having been modified"
### Description of the problem / feature request:

cc @ola-rozenfeld

I'm using 0.10.1 plus cherry-picks of fixes for #3360 — I cherry-picked 8896d2e211c57453359566c4520615c1c1f75b66 and 9e344ec089f3f46ac6d4cdf2638b671242f87631 onto the top of 0.10.1.

When compiling a large project on Mac (sorry, I don't have a small repro case for you), I saw this warning about ten times:

    WARNING: /dev/null

[2018-02-16 17:46] ola-rozenfeld commented on #4647
cc @ulfjack

[2018-02-16 19:32] pkbehera commented on #4388
Like you have said something intuitive is lost here. The workaround in SO works only partially.
If the visibility query can not give the result that is intuitive, then one should perhaps be able to query effective-visibility! No?

[2018-02-16 21:26] iainmcgin commented on #1608
Just passing through, but I was trying out bazel in the Windows Subsystem for Linux and it works for me. Installation versions:

- Windows 10 version 1709 OS build 16299.248
- Ubuntu app w/ release date 2017-07-10
- Bazel installed via apt-get, reports label 0.10.1 via `bazel version`.

So, the problems reported above may have been inadvertently fixed.

[2018-02-16 21:37] AustinSchuh commented on #4619
@philwo  We are passing in ```--spawn_strategy=linux-sandbox``` to explicitly disable that feature :P  I don't really want to deal with code ending up on the robot built without sandboxing and any bugs that could come from that.  @neilbalch, you can make a local modification to build, but please don't deploy to real hardware with that flag.

[2018-02-16 21:52] borisbrodski opened #4648 "Can't build - Decrementing remaining tasks counter resulted in impossible negative number"
### Description of the problem / feature request:

Building bazel 0.10.1 with OpenJDK 8 on ArchLinux (chrooted in Termux on ARM-Android)
results in "Decrementing remaining tasks counter resulted in impossible negative number"

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

    $ unzip bazel-dist'0.10.1.zip
    $ export JAVA_HOME="/p

[2018-02-17 00:21] bsilver8192 commented on #4619
That's interesting. My past experience with WSL was trying unshare on the command line and seeing lots of failures, but it sounds like they're working on that. Might be worth looking into in that case.

[2018-02-17 00:43] jin commented on #3948
Closing this issue as the problem is resolved.

[2018-02-17 00:43] #3948 closed

[2018-02-17 00:44] jin commented on #4068
This is being worked on. Please stay tuned here for updates.

[2018-02-17 03:31] jmillikin-stripe commented on #3977
See also https://github.com/envoyproxy/envoy/pull/2631 -- include paths are the same for C and C++, but different if `-xc++` is set.

[code]
[code]
[code]

[2018-02-17 05:18] rjogrady commented on #4586
This was a cc_test and run via bazel test.

[2018-02-17 06:55] jmillikin-stripe opened #4650 "cc_proto_library transitively depending on `descriptor.proto` links same symbols twice (ODR violation)"
(originally reported at https://github.com/google/protobuf/issues/4311)

### Description of the problem:
Linking a `cc_proto_library` that transitively depends on `descriptor.proto` will create multiple definitions of several C++ symbols, violating the ODR rule.

It looks like `CcProtoAspect::areSrcsBlacklisted()` has logic to avoid double-generating code for specific protobufs that are already pr

[2018-02-17 07:15] davido commented on #1608
Thanks for bringing that fact to our attention. I will have a look if gerrit can be built now.

[2018-02-17 08:40] ittaiz commented on #4584
Not sure these are the correct semantics- I tried reading about [exports](https://docs.bazel.build/versions/master/be/java.html#java_library.exports) in the documentation and I think (but not sure) that the correct semantics are that if `A` depends on `B`, `B` depends on `C` and `C` exports `D` then given `A` transitively uses `D` it should get a warning to add `C` to its direct dependencies.
How

[2018-02-17 20:17] ittaiz commented on #4544
I'm not sure this is resolved...
I tried to use it in the repro [repo](https://github.com/ittaiz/proto_library) and using `proto_source_root` doesn't pass the build

[2018-02-17 23:12] ulfjack commented on #3977
Alternatively, we could add an option to disable the include check - if we're running the action in sandbox, it should be safe.

[2018-02-18 04:09] cgrushko commented on #4285
Curious - I see that we ended up with `@io_bazel//foo:bar` instead of `//foo:bar` - is there a reason? I sent a PR that deletes @grpc_java from gRPC, and wondered if it's a valid thing to do.
Also, why was c7f2444 rolled back? I couldn't find the conversation around the commits.

[2018-02-18 04:11] HelioJimeArch commented on #3797
it could help the already existent  javacomp package in melpa ?  to do so ?

[2018-02-18 10:14] mrkkrp commented on #4612
According to its man page it does.

[2018-02-18 10:49] pterjan commented on #3988
I can confirm that bazel built with this patch on arm now works properly

[2018-02-18 15:21] leblancd opened #4651 "pkg_tar should add parent dirs when deps src tarball uses relative paths"
### Description of the problem / feature request:

In our builds, we need to unpack a source tarball (from a different project) whose entries all use relative paths (i.e. begin with "./"), and then create a tarball/deb package that will ultimately install the unpacked contents in a specific target directory (e.g. "/opt/cni/bin"). Here is the invocation that we use:
[code]
Here, the source tarball

[2018-02-18 17:44] chenjiawei-19881015 commented on #4651
ing……

[2018-02-18 18:19] buchgr opened #4652 "Bazel HEAD breaks Tensorflow and tensorflow/serving."
This error only happens with Bazel from head (2a2aa7ab31367da47f8449059fdfcddfba3a20f1). Works with 10.1.
[code]
See https://buildkite.com/bazel/bazel-downstream/builds/84#b82d6d34-8932-40cf-8b71-5ca793480f2f

@vladmos @laurentlb @dslomov any thoughts?

[2018-02-18 21:13] buchgr opened #4653 "Bazel at HEAD breaks rules_python"
par_test is failing with Bazel at head but works with 0.10.1.

Here Is a link to the CI build: https://buildkite.com/bazel/bazel-downstream/builds/89#b4ac1b4d-6712-427e-a5ed-7409afe7f395

Here is a link to the test.log: https://storage.googleapis.com/bazel-buildkite-artifacts/b4ac1b4d-6712-427e-a5ed-7409afe7f395/tmp/tmpchcor2ym/tools/par_test.log

[2018-02-18 23:34] buchgr commented on #4653
@mattmoor any pointers? Thanks!

[2018-02-19 01:35] jmillikin-stripe commented on #4285
`//foo:bar` and `@//foo:bar` are different. The first is a target in the local repository context, and the second is a target in the workspace default repository context.

It looks like the commit was rolled back for an unknown problem with one of the patch chunks. Lets discuss it on https://github.com/bazelbuild/bazel/pull/4435

[2018-02-19 02:32] ronshapiro opened #4654 "android_import_external"
### Description of the problem / feature request:

`java_import_external` is awesome. We should add an Android equivalent for `.aar` files.

###  Have you found anything relevant by searching the web?

Somewhat related: https://groups.google.com/d/msg/bazel-discuss/t0BOBD9UYn0/1YEvlZQHAwAJ

[2018-02-19 05:20] jin commented on #4654
There's [`aar_import`](https://docs.bazel.build/versions/master/be/android.html) and [`maven_aar`](https://github.com/bazelbuild/bazel/issues/561#issuecomment-259458533). `maven_aar` is unfortunately not documented yet. It also shells out to a local `mvn` install.

[2018-02-19 05:23] jin commented on #4654
cc @aj-michael

[2018-02-19 05:28] jin commented on #4654
It doesn't seem too nontrivial to adapt the `java_import_external` implementation to use `aar_import`.

[2018-02-19 05:58] ittaiz commented on #4654
I’d recommend considering not adopting the java_import_external API which
is somewhat low-level (for example no attribute for coordinates) but only
taking the implementation (maybe exposing part of the current
implementation for reuse) and thinking of a maven_import_external rule
which also supports aar. You can see the “design a publish story” for some
more thoughts on the subject
On Mon, 19 Feb

[2018-02-19 06:11] cgrushko commented on #4285
@jmillikin-stripe my question was why `@io_bazel//foo:bar` and not `//foo:bar`. As dslomov says, "This is canonical way of referring to 'the same repository'. ".

[2018-02-19 06:20] jmillikin-stripe commented on #4644
There is no guarantee that the behavior of `gcc` and `g++` is the same, even if they happen to be the same executable -- changing behavior based on `argv[0]` is a tradition in C-family compilers, and they don't always do so in ways that Bazel expects or can control.

Examples:
* [`gcc` and `g++` have different link-time behavior that can't be overridden with flags](https://github.com/bazelbuild/ba

[2018-02-19 06:27] jmillikin-stripe commented on #4285
I think you're getting confused between "git repository" and "bazel repository". Try this experiment:

* Edit your local Bazel checkout's `third_party/googleapis/BUILD` to replace `load("@io_bazel//third_party/grpc:build_defs.bzl", "java_grpc_library")` with `load("//third_party/grpc:build_defs.bzl", "java_grpc_library")`
* Try to build the Bazel binary in your modified client.
* Look at the resul

[2018-02-19 08:50] lberki commented on #4602
I'm somewhat skeptical, for two reasons:

* You state that this goes away after `bazel clean` -- that command does not touch the source tree, so I don't see how that could fix this issue. I could imagine there being odd symlinks in the source tree that somehow point to the output directory, but I don't see evidence of that in the k8s source tree.
* Bazel does not create sockets, ever, or for that

[2018-02-19 09:33] iirina commented on #4544
Does the error look like this:

[code]

?

[2018-02-19 09:44] iirina commented on #4544
I identified 2 errors:

1. A strict proto deps bug. It looks like proto_library identifies (wrongly) the existence of a dependency and then realizes the "dependency" has no sources. The message produced by this error shoud look like this:
[code]
A temporary workaround is using `--strict_proto_deps=off`. *sigh*

2. In Bazel the long paths are passed to protoc before the short paths and protoc will

[2018-02-19 09:59] aehlig commented on #4643
Over to @mhlopko, as the inconsistencies are in the C native rules.

--
Klaus Aehlig
Google Germany GmbH, Erika-Mann-Str. 33, 80636 Muenchen
Registergericht und -nummer: Hamburg, HRB 86891
Sitz der Gesellschaft: Hamburg
Geschaeftsfuehrer: Paul Terence Manicle, Halimah DeLaine Prado

[2018-02-19 10:16] ulfjack commented on #4647
This is probably as simple as adding "if (input instanceof VirtualActionInput) continue;" to RemoteSpawnCache.java, around line 195.

[2018-02-19 10:29] buchgr opened #4656 "//src/test/shell/bazel:maven_test is broken."
https://storage.googleapis.com/bazel-buildkite-artifacts/64a15bbe-6f31-4a98-a06a-4d4b4d02011b/tmp/tmpcn_yyrz1/src/test/shell/bazel/maven_test.log

[2018-02-19 10:37] lberki commented on #4549
I meant an ijar-like tool that runs *in addition* to ijar. Reading again, however, it doesn't make much sense: AFAIU the problem is that ijar strips out too much and not too little.

[2018-02-19 11:01] hsyed commented on #4549
@cushon do you see anything essential in d1 ?

 I can try and get conformation from Jetbrains on the approach for inferencing off the d2 annotation field.

[2018-02-19 12:06] ittaiz commented on #4544
I think we can live with strict deps proto off for the meantime.
We’ll wait for the fix for #2
On Mon, 19 Feb 2018 at 11:44 Irina Iancu <notifications@github.com> wrote:

[2018-02-19 12:47] mhlopko commented on #3977
Thanks all for investigating!

* Having c_builtin_include_paths SGTM
* Bazel option for controlling builtin include paths paths SGTM
* Option to disable .d check SGTM

And I'll throw the need for layering check in bazel in here as a bonus.

[2018-02-19 12:51] iirina commented on #4544
I have a fix for both of the issues above. Preparing a change for review now. Hopefully it will be uploaded tomorrow.

[2018-02-19 12:53] mhlopko commented on #4612
Can you check if builtin include directories change between:
* `gcc -E -xc++ - -v` and `gcc -E -xc++ - -v -fno-canonical-system-headers`
* `gcc -E -xc++ - -v` and `gcc -E -xc - -v`

C include directories should be subset of c++ ones, and I assumed that `-fno-canonical-system-headers` doesn't affect the output. I expect that at least one of these assumptions was wrong :)

[2018-02-19 13:10] #4572 closed

[2018-02-19 13:58] cgrushko commented on #4285
Ah. The reason is that `third_party/googleapis/BUILD` is not used in the main repository, where `@io_bazel//foo:bar` === `//foo:bar`.
It is used in an local external repository created by

[code]

in `WORKSPACE`.

[2018-02-19 14:07] iirina opened #4657 "Avoid passing both the short and the long proto paths to protoc"
Currently for each `.proto` file Bazel passes to `protoc` the path relative to the workspace (the *long path*) via `-I` flag (alias for `--proto_path`).

Since 15a4362, Bazel also passes to `protoc` a *short path* via the `--proto_path` flag. The short path is only passed for `proto_library` targets that have set `proto_source_root`.

Passing to `protoc` both the *short* and the *long* path to a `

[2018-02-19 14:11] mhlopko commented on #3959
As we discussed internally, would you be so kind to include b3d52b1 in 0.11.0?

[2018-02-19 14:14] iirina commented on #4657
More context in #4544.

[2018-02-19 14:40] cgrushko commented on #3639
Got bitten by this again...

[2018-02-19 14:47] buchgr commented on #4656
it somehow stopped occurring on CI. Closing this for now.

[2018-02-19 14:47] #4656 closed

[2018-02-19 15:05] iirina commented on #4544
@ittaiz 9c1feeb should fix 2. The strict deps issue should be in tomorrow.

[2018-02-19 17:20] laszlocsomor commented on #4586
Thanks! Was the path something like `(...).runfiles/MANIFEST`? Does its parent directory exist? (Check this inside of the test.) Does that directory exist under `bazel-bin`?

I suspect this line to be the culprit: https://github.com/bazelbuild/bazel/blob/2a2aa7ab31367da47f8449059fdfcddfba3a20f1/tools/test/test-setup.sh#L106

It doesn't seem to check the existence of the file, just assumes it's the

[2018-02-19 20:53] buchgr opened #4658 "bazel-toolchains broken on CI"
[code]

consistently fails on CI (Ubuntu 16.04 and 14.04). Below is a link to the test.log:
https://storage.googleapis.com/bazel-buildkite-artifacts/6d4324f3-0543-47b6-9883-bdd43f18bcf6/test/debian8_clang_autoconfig_test/attempt_3.log

Any guidance @nlopezgi @erain @xingao267 ? Thanks :)

[2018-02-19 21:13] ittaiz commented on #4544
@iirina thanks!
WDYT about exposing `getTransitiveProtoPathFlags` to skylark? I added it on my local bazel and it greatly simplified the song and dance I need in order to get to them.
Additionally WDYT about adding a test that protects this from regression and makes sure this continues to work? preferably one that shows this work transitively like the updated example in the repo I pasted above.

[2018-02-19 21:25] cushon commented on #4549
@lberki - what about a separate ijar entry point that included kotlin support, which could be used instead of the regular ijar if kotlin support was needed?

@hsyed - my understanding is that d1 contains the actual metadata as a serialized proto, and d2 is arbitrary constants that are referenced by the metadata? The comments in [1] say:

<blockquote>
<dl>
<dt>d1
<dd>Metadata in a custom format. Th

[2018-02-19 21:25] buchgr opened #4659 "Bazel HEAD breaks rules_go on macOS"
The below tests fail with Bazel from HEAD on macOS but work bazel 0.10.1. The corresponding test.log files can be found behind the links.

[//tests/legacy/cgo_library_root_dir:cgo_library_root_dir](https://s3.amazonaws.com/buildkiteartifacts.com/586ac9dd-b547-4a52-9d73-9e3a43ff74f9/cad5580c-ae21-4df7-901b-c996c3baf57b/a912e66d-b866-4aaf-a714-50e1533aaad0/b3107735-50c8-4015-b818-e47564a46404/tests/

[2018-02-19 21:30] buchgr opened #4660 "//src/test/shell/bazel:remote_execution_http_test is FLAKY"
Fails 2/3 times on CI.
https://storage.googleapis.com/bazel-buildkite-artifacts/fa7fd598-e555-4de2-9f41-60faf48a0690/src/test/shell/bazel/remote_execution_http_test/attempt_1.log

[2018-02-19 21:53] aehlig commented on #4628
Over to @buchgr who wrote the current notification about streaming target and identifier.

[2018-02-19 22:31] variac commented on #2927
Another situation where this ruins things a bit: https://github.com/buildroot/buildroot uses recursive symlink to root dir to provide `/usr` in host toolchain it builds. As a result Bazel can't use Buildroot toolchains.

[2018-02-19 22:33] hsyed commented on #4549
I've created an issue on the [Kotlin Youtrack](https://youtrack.jetbrains.com/issue/KT-22938) for feedback.

[2018-02-19 23:28] mtsgrd commented on #4157
Googled for this issue and found this thread. It seems for right now I'll have to set visibility manually, but does anyone know what direction this is heading? I currently use the Maven standard layout, but am keen on dropping it in favor of something more shallow.

[2018-02-20 01:02] shmilyhh commented on #846
@damienmg I meet the same errors when I build tensorflow 0.6.0 with bazel 0.9.0. How to fix this problem? Thanks.

[2018-02-20 01:41] g-easy commented on #2656
I'm running bazel 0.10.1 and this is still a problem.

[2018-02-20 02:30] snsokolov opened #4661 "Can we have official Bazel Dockerfiles on the Docker Hub?"
### Description of the problem / feature request:

Can we have official Bazel Dockerfiles to pull from the Docker Hub?

### Feature requests: what underlying problem are you trying to solve with this feature?

Developers, who are just trying to play with Bazel inside of the Docker container, don't have an easy way to do so. They have to search for third_party Dockerfiles available or create their

[2018-02-20 03:25] xingao267 commented on #4658
I didn't see this test fails consistently on Bazel CI. Could you give me more pointers to the dates or Jenkins links of the test that fail?

This error did occur once in the presubmit test for patch set 1 of https://bazel-review.googlesource.com/#/c/bazel-toolchains/+/38530/, but we should have already fixed that in https://bazel-review.googlesource.com/#/c/bazel-toolchains/+/38870/.

Running the

[2018-02-20 07:02] ittaiz commented on #4621
@laszlocsomor sorry for the late reply but wanted to test `test_tmpdir` on multiple scenarios and it's indeed very helpful. Thanks!

[2018-02-20 07:03] ittaiz commented on #4621
btw, my 2c is that if we have test_tmpdir it's indeed really unclear if we need another flag. I'd wait for more use-cases.
I would however consider renaming it since it's misleading as you pointed out...

[2018-02-20 07:03] laszlocsomor commented on #4621
@ittaiz No worries, and cool, that's good to hear! And yes, agreed on the naming and unclear necessity too.

[2018-02-20 09:00] iirina commented on #4544
I don't see anything wrong with exposing this field to Skylark, especially since all the other fields in `ProtoSourcesProvider` are exposed.

I did add tests internally that prevent regressions. There was no OS test setup for `proto_library` and I wanted to get the fix in quickly. I'm working now on open-sourcing the tests.

Have you tried the fix with the updated repo? I tested it on a similar se

[2018-02-20 09:52] hsyed commented on #4549
I glossed over the “d2 is a symbol table” part :(

@cushon in the multiple entry point approach were you thinking of adding a visitor extension (hiding proto behind the visitor) ? If so, what about dynamic loading an extension instead via flags ?

[2018-02-20 09:58] ittaiz commented on #4544
I did try it, I’m sorry I wasn’t clear. It fixed it (apart from skylark)
and I really appreciate it!
I’m currently using a patched version of bazel which adds the
SkylarkCallable annotation and I was able to patch rules Scala to utilize
it as well.
On Tue, 20 Feb 2018 at 11:00 Irina Iancu <notifications@github.com> wrote:

[2018-02-20 10:50] buchgr opened #4663 "//src/test/shell/bazel/android:android_ndk_integration_test doesn't work with remote caching"
[code]

[2018-02-20 11:39] philwo commented on #4049
@petemounce I've created a Chocolatey account with the username "bazel" now. :)

[2018-02-20 12:19] buchgr opened #4664 "remote/usability: upload to remote cache failed: PUT failed with status code 429"
Google Cloud Storage allows to mutate the same object at most once per second. If that limit is exceeded it gives a "429 Too Many Requests" error. The error is mostly harmless for Google Cloud Storage, since it means that someone else uploaded this file already.

We should still not print dozens of these warnings and improve the user experience.

[2018-02-20 12:39] philwo commented on #4616
This is interesting - I wonder if we have a memory leak in the Bazel server and thus memory usage grows with each build until it's too much and the system runs out of memory?

Do you run `bazel clean` as part of your script? Can you try with `bazel clean --expunge`? That would terminate the server so each run should be isolated in terms of memory usage.

Can you log `free -m` before and after each

[2018-02-20 13:04] iirina opened #4665 "Make proto_library.proto_source_root work within multiple workspaces"
The current implementation of `proto_library.proto_source_root` is working only when there is one workspace. It should work with external repositories.

[2018-02-20 13:23] buchgr opened #4666 "remote/bugs: some tests aren't cached remotely"
These three tests aren't cached remotely on our CI.
[code]

Need to investigate why this is the case.

cc: @ulfjack @philwo

[2018-02-20 13:53] iirina commented on #4584
If you have `A -> B -> C => D` (where `=>` is `exports` and `->` normal dependency) and you try to use D from A you would get a warning/error to add `D` to the dependencies of `A`.

[2018-02-20 13:56] iirina commented on #4584
In this situation:
[code]

where A uses D, there would be no error/warning raised.

[2018-02-20 14:27] helenalt opened #4667 "Update BEP documentation to include available metrics"
Currently BEP documentation lives in the code comments and has limited information. It would be helpful for users to have a doc with more details, including what metrics are available.

[2018-02-20 14:32] iirina commented on #4544
@ittaiz The strict deps issue should be fixed now as well.

What remains to be done now is to make `proto_source_root` work within multiple workspaces. I'm not sure if this is of interest to you. If yes, you can follow #4665.

Exposing `getTransitiveProtoPathFlags` to Skylark is on its way.

[2018-02-20 15:44] ittaiz commented on #4544
Thanks!
#4665 does interest me, thanks. It's not blocking us now but will block us in a few weeks (when we'll start using source dependencies between bazel repositories).

[2018-02-20 15:49] katre commented on #4625
The breakage was rolled back, so removing release blocker.

[2018-02-20 16:05] wiyarmir commented on #3190
Hi, any news on when is this going to be synched to public? `master` is still on those old ones 😢

[2018-02-20 16:09] ittaiz commented on #4584
Why do you think I should get a warning about `D` ? It makes more sense to me that I should get a warning about `C` since I think from `C`s point of view `D` should be somewhat hidden

[2018-02-20 16:11] ittaiz commented on #4584
Sorry missed your message. I might be wrong but I think we use a dict now since that's what the compiler plugin needs, right? It needs to know the label *of* a specific jar and hence we need a dict.

[2018-02-20 16:36] iirina commented on #4584
This is how the native rules are implemented.

When it gets to compiling `A`, the correlation between `C` and `D` is lost. At this point `A` will see dependencies as jars only.

[2018-02-20 16:41] kamalmarhubi commented on #3977
Is there a near-term workaround?

[2018-02-20 17:00] buchgr commented on #4658
@xingao267 we are moving to a new CI system (Buildkite) and we are seeing the error there. Also `//test:ubuntu-trusty-bazel-head-autoconfig_test` is flaky. I ll send you an invite to Buildkite and you can take a look at the pipeline.

[2018-02-20 17:14] #4625 closed

[2018-02-20 17:19] xingao267 commented on #4658
Thanks! Will take a look.

[2018-02-20 17:30] ola-rozenfeld commented on #3959
https://github.com/bazelbuild/bazel/commit/1001141f0674ff4b611814edcb00a5183680ef4a
is now in (again) and as discussed earlier, this needs to go into 0.11.0 as
well.
Thank you!

On Mon, Feb 19, 2018 at 9:11 AM, Marcel Hlopko <notifications@github.com>
wrote:

[2018-02-20 17:41] mrkkrp commented on #4612
Here is what I get:

[code]

[2018-02-20 17:51] werkt opened #4668 "ctx.actions.declare_directory throws error"
### Description of the problem / feature request:

`ctx.actions.declare_directory` throws runtime exceptions after action execution (`run_shell` used to demonstrate)

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[code]

### What operating system are you running Bazel on?

ubuntu 14.04

### What's the output of `bazel info release`

[2018-02-20 18:29] jin commented on #3641
Root cause: generated BUILD.bazel for r13 is incorrect.

[code]

[2018-02-20 18:34] rjogrady commented on #4586
Ah, yeah, I think you nailed it.
The path is like:
/usr/local/.../.cache/bazel/_bazel_rjogrady/e4fe7294a547790a857197a33ce79b06/bazel-sandbo
x/1475856093921078659/execroot/proj/bazel-out/k8-fastbuild/bin/a_test.runfiles/MANIFEST
The parent directory does indeed exist inside the test.

[2018-02-20 18:36] buchgr commented on #4667
I did write documentation on it back in summer: https://docs.bazel.build/versions/master/build-event-protocol.html

[2018-02-20 18:39] katre commented on #3959
Preparing RC4.

Command:
[code]

[2018-02-20 18:42] helenalt commented on #4667
Thanks, Jakob. Looks like we missed this doc when looking for answers to a question about what types of metrics are published. Specific question was about whether we publish long running tests, long running builds, flaky tests/flags,  total runtime, totalk # of targets

[2018-02-20 19:09] spomorski commented on #1198
Reorganizing the User Manual is a long-term effort. I'll be looking into it this or next quarter.

[2018-02-20 19:15] jayconrod commented on #4659
@buchgr I'm getting access denied errors from all the links. Can you make them public?

[2018-02-20 20:09] jayconrod commented on #4659
I built from source and tried to run the rules_go tests. Output is below. This was on a Debian / Rodete workstation.

Is Jenkins not running tests for rules_* repositories anymore after Bazel changes?

[code]

[2018-02-20 20:23] katre commented on #4659
Jay, this is a Google-only issue. I'll send you a link separately to
resolve it.

On Tue, Feb 20, 2018 at 3:20 PM Jay Conrod <notifications@github.com> wrote:

[2018-02-20 21:24] gregestren commented on #4652
I don't know specifically what's going on, but since [@jpeg//:k8](https://github.com/tensorflow/tensorflow/blob/8624880b1efec0d12b559e42c107d43a176255db/third_party/jpeg/jpeg.BUILD#L519) and [@jpeg//:armeabi-v7a](https://github.com/tensorflow/tensorflow/blob/8624880b1efec0d12b559e42c107d43a176255db/third_party/jpeg/jpeg.BUILD#L529) trigger on `--cpu` and `--android_cpu` respectively, it's perfectl

[2018-02-20 21:38] katre commented on #4652
Marking as a release blocker while @gregestren checks for the root cause.

[2018-02-20 21:42] katre commented on #4658
This is also failing with the 0.11.0 RC4 build, see here: https://ci.bazel.build/blue/organizations/jenkins/Global%2Fbazel-toolchains/detail/bazel-toolchains/117/tests

I am marking this as a release blocker for #3959 until we can assess severity.

[2018-02-20 21:43] katre commented on #4626
Fixed in 0.11.0rc4.

[2018-02-20 21:43] #4626 closed

[2018-02-20 21:44] katre commented on #4627
This seems to be fixed in 0.11.0rc4.

[2018-02-20 21:44] #4627 closed

[2018-02-20 21:45] katre commented on #4562
Fixed in 0.11.0rc4.

[2018-02-20 21:45] #4562 closed

[2018-02-20 21:47] katre commented on #3959
Open issues in 0.11.0rc4:
- Tensorflow is red. Will triage more tomorrow, although it might be related to #4652.
- bazel-toolchains is broken, see #4658

[2018-02-20 21:53] jayconrod commented on #4659
Thanks John, that fixed all my problems on Linux.

On macOS, I was able to reproduce an error in the tests mentioned above. Looked something like this:

[code]

Seems that `-c` and `-o` options are repeated when building a `cc_library` rule.

These libraries are built in somewhat obscure circumstances. We build a script that creates a temporary directory, copies WORKSPACE and BUILD.bazel files the

[2018-02-20 22:29] gregestren commented on #4652
This is due to https://github.com/bazelbuild/bazel/commit/fc30733995afd1a104051a73218b7a40a0428eb9, which changes the default value of `--android_cpu` to `armeabi-v7a`.

@katre found a minimal repro:

    $ bazel_at_head build --nobuild @jpeg//:jpeg

@buchgr: how important is it that [@jpeg://armeabi-v7a](https://github.com/tensorflow/tensorflow/blob/8624880b1efec0d12b559e42c107d43a176255db/third_

[2018-02-20 23:34] saurabhaditya commented on #4309
The above issue reported by me is likely unrelated, and happened when the path specified by instrumentation_filter value did not have any files, due to an unrelated issue.

[2018-02-21 00:36] steeve commented on #4074
Still crash on 0.10.1

[2018-02-21 02:43] alexeagle commented on #4603
Several members of the Angular team continue to have this problem occasionally.

[2018-02-21 03:15] missa-prime opened #4670 "Bazel bash completion script takes hours to build on macOS via MacPorts"
### Description of the problem / feature request:

Essentially, it takes hours to build the Bazel bash completion script on macOS when attempting to install Bazel via MacPorts. Building Bazel itself from source takes only several minutes, but somehow the bash completion script takes hours. There seems to be a hang that ends up resolving itself if you wait long enough.

### Feature requests: what u

[2018-02-21 03:45] missa-prime opened #4671 "Bazel bash completion script requires git repo to build on macOS via MacPorts"
### Description of the problem / feature request:

After version 0.5.2, a git repo is required to build the Bazel bash completion script on macOS when attempting to install Bazel via MacPorts. The ``Portfile`` contains workaround code that deletes a temporary folder and creates a dummy repo to prevent the installation from failing. I'm not sure why all of this is necessary in the first place thoug

[2018-02-21 04:49] xingao267 commented on #4658
I've been trying to reproduce the error locally or on Jenkins (through Gerrit presubmit), but no luck. From the log, it seems that the test is using the wrong container to generate the toolchain configs for the test, but that shouldn't happen (we are pinning to a specific container for this test here https://github.com/bazelbuild/bazel-toolchains/blob/master/WORKSPACE#L54). I'm wondering if it cou

[2018-02-21 04:56] alexeagle commented on #3427
Discussed with @dslomov a while ago: I wanted to have a similar feature for TypeScript to set compiler default options, and ran into the same issues. Even for a rule written in skylark (not a native rule like java_library) there is no good way to apply defaults just to the local repository.

[2018-02-21 05:34] benjaminp commented on #4588
https://cr.bazel.build/36490 is my proposed fix for this problem.

[2018-02-21 10:10] buchgr commented on #4658
Also, we noticed that `bazel-toolchains` creates about ~50 GiB of docker images in the local docker registry. Would it be possible for your tests to automatically clean up afterwards? We currently call `docker system prune` in our CI scripts, but I think its good practice for tests to clean up afterwards.

[2018-02-21 10:12] buchgr commented on #4659
Jay,

thanks so much for debugging this! We'll set up our CI so that the `bazel` in the `PATH` always refers to the Bazel used for testing. cc: @philwo

[2018-02-21 10:23] buchgr commented on #4667
We don't distinguish between longrunning tests and tests - it's just a test. We publish detailed metrics/results for every test specified in the target patterns of `bazel test`.

Same as for tests.

Yes, `FLAKY` is a test result just as `PASSED` and `FAILED` is.

Yes

Yes

A good way to find out what's included in the BEP is to look at its proto definition [1]. The BEP contains essentially one pro

[2018-02-21 10:23] #4667 closed

[2018-02-21 10:50] buchgr commented on #4628
Hi Dave,

I am not convinced that a flag is the right way to go about this. I think instead we should extend the BES protocol to be able to return a URL that the user can look at. This would be a much nicer user experience in my opinion. What do you think?

[2018-02-21 11:25] leesandy commented on #4652
i tried very much. to find them it not easy. i found some information i
hope it is to help you a piece of little.
Build number
NMF26X-R2R-171114.851
MODEL : RZ35-0215
FCC ID: RWO-RZ350215
IC : 8092D-RZ350215
CAN IES-3(B)/NMB-3(B)

On Feb 21, 2018 05:29, "Greg" <notifications@github.com> wrote:

[2018-02-21 12:25] AndersSundmanTobii opened #4672 "C compiler option in Bazel CROSSTOOL file"
### Description of the problem / feature request:

`compiler_flag` can be used for both C and C++, `cxx_flag` for C++ code. But there doesn't seem to be any way to set C only options.

### Feature requests: what underlying problem are you trying to solve with this feature?

In particular I need to specify `-std=c99` as an option. The only way I know of doing this right now is by passing `copts = [

[2018-02-21 13:15] katre commented on #4658
@xingao267 This is also failing in the 0.11.0rc4 release tests on Jenkins, see the link I provided.

[2018-02-21 13:42] laszlocsomor commented on #4586
FYI, I'm working on a runfiles library for C++ that'll make it easy to look up runfiles, without the client code needing to know about RUNIFILES_* envvars.

[2018-02-21 13:43] laszlocsomor commented on #4586
FYI: here's the commit stack, which is still under review and won't be released until Bazel 0.13.0 or so: https://bazel-review.googlesource.com/c/bazel/+/39570

[2018-02-21 14:01] katre opened #4673 "Windows-only py_test failure"
This happens in Bazel CI with the nightly build: https://ci.bazel.build/blue/organizations/jenkins/Global%2Fbazel-tests/detail/bazel-tests/511/tests

Looks like the test is assuming the existence of the runfiles tree, which doesn't exist on windows.

[2018-02-21 14:04] katre opened #4674 "FreeBSD library errors on CI"
Seeing server startup crashes on the FreeBSD-11 node:
https://ci.bazel.build/blue/organizations/jenkins/Global%2Fbazel-tests/detail/bazel-tests/511/pipeline/29

Error log:
[code]

[2018-02-21 14:05] katre commented on #4674
See also this bazel-tests run: https://ci.bazel.build/blue/organizations/jenkins/bazel-tests/detail/bazel-tests/2101/tests/

[2018-02-21 14:10] buchgr commented on #4652
@gregestren I have no idea. All I know is that it breaks TensorFlow's build. Is it possible to fix this in the  TensorFlow repository so that it works with the current Bazel version and Bazel HEAD?

[2018-02-21 14:10] rjogrady commented on #4586
Nice, that'll be super helpful.

On Wed, Feb 21, 2018 at 5:43 AM, László Csomor <notifications@github.com>
wrote:

[2018-02-21 14:12] laszlocsomor commented on #4673
Yeah, I already noticed yesterday, will fix it now.
The culprit is that the test assumes the presence of a runfiles tree, but on Windows we create a zip file (with the runfiles tree inside), so on Windows the test should look at the zip's contents.

[2018-02-21 14:52] mafanasyev-tri commented on #4616
I don't think it is a memory leak -- it looks more like a result of random scheduling.

Our test runs these two commands in a loop:
[code]
I can tell that before the tests, `free -m` returns:
[code]
I will test this after repeats, but it might take some time -- our jenkins workers do not handle OOMs well, so I am trying to do it in the evenings, when no one is using them

[2018-02-21 14:58] helenalt commented on #2805
@oquenchil is this issue resolved with the additional_linker_inputs attribute?

[2018-02-21 15:17] nlopezgi commented on #4658
@katre we are working out why this test is failing, but this is _not_ a release blocker for 0.11.0. I will provide more info later once we have debugged more with @xingao, thanks.

[2018-02-21 15:29] htuch commented on #2805
We're tracking this on the Envoy side in https://github.com/envoyproxy/envoy/issues/2625. We need to find someone with cycles to validate the new Bazel native solutions, CC: @jmillikin-stripe.

[2018-02-21 16:01] katre commented on #4658
Thanks for the clarification, I have removed the release blocker label.

[2018-02-21 16:43] dslomov opened #4676 "Add the automatically populated cache directory for --experimental_repository_cache"
If the option is enabled with not value (empty value), Bazel should create and manage the cache automatically under `$HOME/.cache/bazel`

[2018-02-21 17:58] werkt commented on #4389
Why is this tagged as feature request? The test does not cover the relevant behavior...

[2018-02-21 18:33] jin opened #4677 "Android NDK r11: undefined references with @androidndk//:toolchain-libcpp"
[code]

With clang: `error: undefined reference to 'dladdr'` and `error: undefined reference to '__signbit'`

[code]

With gcc: ` error: undefined reference to '__signbit'`

[code]

[2018-02-21 18:43] jin commented on #4677
It's suspicious that the files with errors are in `/usr/local/google/buildbot/out_dirs/aosp-ndk-r11-release/`.

[2018-02-21 18:59] michaeljs1990 commented on #3020
When the OOM killer comes into play all bets are off. OOM just sends a SIGKILL nothing special that would be possible for bazel to determine why it's process is getting killed vs some random person killing one off. Possibly you could use some heuristic to say a process was killed and I see that I'm using X% of allocated memory so maybe OOM?

[2018-02-21 19:01] xingao267 commented on #4658
Although we still couldn't reproduce the error locally or on Jenkins. The error occurred in Buildkite should be fixed in https://bazel-review.googlesource.com/#/c/bazel-toolchains/+/40930/.

Now it is failing due to a different issue. I removed some of the test targets in https://bazel-review.googlesource.com/#/c/bazel-toolchains/+/41030/, but buikdkite is still trying to test them. It's likely a

[2018-02-21 19:37] gkossakowski commented on #4558
@ulfjack do you have plans for supporting caching of jdk-derived (e.g. javac compiled) outputs across platforms? is it possible to override the toolchain even in a hacky way today?

[2018-02-21 20:29] gregestren commented on #4652
+@jart on Tensorflow.

See also the bug that created that rule: https://github.com/tensorflow/tensorflow/issues/4807 and the fix: https://github.com/tensorflow/tensorflow/commit/52ffc792fdef41de20ac60dc61d4e809d83b558d.

[2018-02-21 21:26] jmillikin-stripe opened #4678 "Visibility checks don't unify `//` and `@workspace_name//` when building in that workspace"
Forked from discussion in https://github.com/bazelbuild/bazel/pull/4435.

### Description of the problem / feature request:
When building in a workspace named `foo`, Bazel doesn't treat `@foo//something` and `//something` as the same for visibility checks. This is confusing, and prevents coordinating visibility between repositories (e.g. in Bazel's vendored third-party deps).

### Bugs: what's the

[2018-02-21 22:49] gregestren commented on #4388
I forgot about this, but what about the [visible](https://docs.bazel.build/versions/master/query.html#visible) query function?

    $ bazel query 'visible(//some_other_package:rule, //a:all)`
    //a:fg2
    //a:fg1

This returns the rules in `//a` that are visible to `//some_other_package:rule`.

It's not perfect because a rule could set `visibility = "//some_other_package:__pkg__"`, which isn't

[2018-02-21 23:56] cushon commented on #3427
There's now another option for setting javacopts based on package specifications. It wasn't created specifically with this issue in mind, but it may be better than some of the existing options.

The configuration uses `java_toolchain.package_configuration`:

[code]

[code]

[2018-02-22 00:46] jin commented on #3641
fix is incoming here: https://bazel-review.googlesource.com/c/bazel/+/40712

The patchdiffs on Gerrit are a little bit wonky, however.

[2018-02-22 00:53] codesuki opened #4679 "android_device osx support"
After playing around with this rule it seems only linux is supported.
Is there a timeline for osx support?

[2018-02-22 02:01] jnewton-sx commented on #807
@philwo please re-open this issue, it is still an issue and I have example that reproduces it.   It prevents using -Wl,--version-script in linkopts.

Test case:
[code]
Works with --spawn_strategy=standalone, otherwise produces:

[code]

There’s a few related issues, as well as several replies that indicate an expectation for this to work:
#184
#716 (note: this was filed about propagation to cc_bin

[2018-02-22 02:46] jmillikin-stripe opened #4680 "cc_test with tags=["no-cache"] gets cached, crashes Bazel if run with --nocache_test_results"
### Description of the problem / feature request:
Two bugs here:
* If I write a `cc_test` with `tags=["no-cache"]`, it gets cached. This violates the documented behavior at https://docs.bazel.build/versions/master/be/common-definitions.html#common.tags, "`no-cache` keyword results in the action or test never being cached."
* If I force it to not cache using `--nocache_test_results`, Bazel crashes

[2018-02-22 03:05] jgavris commented on #3175
This was resolved a while ago, thanks!

[2018-02-22 03:05] #3175 closed

[2018-02-22 08:03] ulfjack commented on #4558
The current design does not make it easy to do cross-platform caching of platform-independent outputs (e.g., Java bytecode); we're currently adding in the full command-line and env variables, which will often differ (e.g., Windows command line contains backward slashes vs. Linux uses forward slashes).

Right now, if all the input files are platform-independent, and the command-lines / env variable

[2018-02-22 09:29] philwo commented on #807
@mhlopko Seems like these files are missing from the inputs of C++ link actions? WDYT?

[2018-02-22 09:51] mrkkrp opened #4681 "Provide a fragment with paths to standard utilities like ln, grep, etc."
### Description of the feature request

If we had a fragment, e.g. `ctx.fragments.binutils` that allowed us to get locations (full paths) to various utilities like `ln` and `grep`, we could perform some actions (such as symlink creation) without resorting to `ctx.actions.run_shell` or `use_default_shell_env = True` (for `ctx.actions.run`) and that in turn would allow for better hermeticity and con

[2018-02-22 10:30] cgrushko opened #4682 "NPE when running with --experimental_one_version_enforcement"
### Description of the problem / feature request:

NPE when running:

$ bazel build --nocheck_visibility --experimental_one_version_enforcement=error //my:target

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

$ bazel build --nocheck_visibility --experimental_one_version_enforcement=error //my:target

### What operating system are y

[2018-02-22 10:47] mhlopko commented on #3977
Modulo writing your own crosstool, there is not. We could apply a fix and run both `CC -E -xc++ - -v` and `CC -E -xc - -v` when detecting C++ toolchain, if this is pressing the world too much, but I'd rather do the principled solution, even though it's not high on our priority list. I'd probably accept a cl with the temporary fix :)

[2018-02-22 10:50] #4588 closed

[2018-02-22 11:56] #3507 closed

[2018-02-22 11:59] mhlopko commented on #3507
Anecdata, the addition of this gcc3 into blaze happened 12 years ago, and since 9 years ago it was considered a hack that should go away :)

[2018-02-22 12:27] buchgr opened #4683 "cpp-rules-test is broken at HEAD"
Here at the test logs:
https://storage.googleapis.com/bazel-buildkite-artifacts/f958734a-5c35-4f86-bc23-4162310b0c95/src/test/java/com/google/devtools/build/lib/rules/cpp/cpp-rules-tests/attempt_1.log
https://storage.googleapis.com/bazel-buildkite-artifacts/f958734a-5c35-4f86-bc23-4162310b0c95/src/test/java/com/google/devtools/build/lib/rules/cpp/cpp-rules-tests/attempt_2.log
https://storage.googl

[2018-02-22 14:09] buchgr opened #4684 "Bazel Slow Tests on macOS"
The below tests take longer than 5 minutes on macOS on Buildkite. The `bazel_determinism_test` takes longer than 15min, the `remote_execution_test` takes around 10min and all the other tests take between 5-7 minutes.
[code]

cc: @ulfjack @philwo

[2018-02-22 14:16] buchgr commented on #4684
Please note that this are the tests times when the mac is under full load, with other tests running concurrently.

[2018-02-22 14:46] mhlopko commented on #4612
Ok so everything looks fine here. It must be something else. Can you dig a .d file (it's somewhere like here: `~/.cache/bazel/_bazel_hlopko/70a58deccaeea3140ef7c823570f4916/bazel-out/k8-fastbuild/bin/external/sassc/_objs/sassc/external/libsass/src/expand.pic.d`

Also changing error messages are caused by races, since bazel doesn't guarantee the order of execution of actions, and since action execu

[2018-02-22 14:54] leesandy commented on #4612
echo "int foo(void) { char X[200] ; return 3; }"

Vào 22 thg 2, 2018 21:47, "Marcel Hlopko" <notifications@github.com> đã
viết:

[2018-02-22 14:58] leesandy commented on #4612
my $done= 0;
my $maxtime = 0;
my $firsttime = 99999;
my count= 0;

Vào 22 thg 2, 2018 21:54, "Lee Sandy" <leesandy9099@gmail.com> đã viết:

[2018-02-22 15:00] leesandy commented on #4612
my headerstep = 20
my xheader = 15
my y header = 25
my cyheader = 0

Vào 22 thg 2, 2018 21:58, leesandy9099@gmail.com đã viết:

my $done= 0;
my $maxtime = 0;
my $firsttime = 99999;
my count= 0;

Vào 22 thg 2, 2018 21:54, "Lee Sandy" <leesandy9099@gmail.com> đã viết:

echo "int foo(void) { char X[200] ; return 3; }"

Vào 22 thg 2, 2018 21:47, "Marcel Hlopko" <notifications@github.com> đã
viết:

Ok

[2018-02-22 15:04] leesandy commented on #4684
int64 msgrcv = 15

[2018-02-22 15:52] xingao267 commented on #4658
The tests looks fine now on Buildkite. I'm going to close this issue. I'll open an internal tracking bug for cleaning up docker containers at the end of each test.

[2018-02-22 15:52] #4658 closed

[2018-02-22 16:00] buchgr commented on #4658
thanks @xingao267 !! great work!

[2018-02-22 16:46] ittaiz commented on #4544
@iirina any updates on getTransitiveProtoPathFlags for skylark?

[2018-02-22 16:59] werkt opened #4685 "`bazel coverage` fails over remote ex for java_test"
### Description of the problem / feature request:

Tooling for coverage fails when running under remote execution (LcovMerger specifically)

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Run a test target with `bazel coverage --spawn_strategy=remote --remote_executor=... //path/to:test`

### What operating system are you running Ba

[2018-02-22 17:03] werkt commented on #4668
Recent changes by @ola-rozenfeld have resulted in this changing (but still failing).  New log is:

[code]

New rev head is 0af09b770672a6a6645a4e542fa1082cc586a5da

[2018-02-22 17:08] katre commented on #4674
Found the error: ad32f62952e2b6f8293a26ea5fd677e61975c9ff updated the portable_getxattr method but did not update the version for freebsd.

[2018-02-22 17:26] aehlig commented on #4674
Bisecting shows ad32f62952e2b6f8293a26ea5fd677e61975c9ff as the offending commit.

--
Klaus Aehlig
Google Germany GmbH, Erika-Mann-Str. 33, 80636 Muenchen
Registergericht und -nummer: Hamburg, HRB 86891
Sitz der Gesellschaft: Hamburg
Geschaeftsfuehrer: Paul Terence Manicle, Halimah DeLaine Prado

[2018-02-22 17:28] katre commented on #4674
I just sent a fix via gerrit: https://bazel-review.googlesource.com/c/bazel/+/41370

[2018-02-22 18:05] crorvick commented on #4643
Hello @mhlopko, can you elaborate on the reason for priority change?

[2018-02-22 18:15] Steve-Munday commented on #2512
According to the official [docs](https://docs.bazel.build/versions/master/remote-caching.html#google-cloud-storage), this feature is supported now.  Likely this issue can be closed?

[2018-02-22 18:27] jmillikin-stripe commented on #3761
Note for future readers: the Debian package deps are duplicated, and need to be updated in both `debian/control` and `debian/BUILD`. See https://github.com/bazelbuild/bazel/pull/4686.

[2018-02-22 19:59] #4674 closed

[2018-02-22 20:44] katre commented on #4563
This seems to be no longer happening.

[2018-02-22 20:44] #4563 closed

[2018-02-22 20:45] katre commented on #4608
Is the remaining work on this a release blocker for 0.11.0?

[2018-02-22 20:45] katre commented on #4652
I don't believe this issue should be a release blocker for 0.11.0 since it looks like the fix is on Tensorflow's side. Any problems with that?

[2018-02-22 20:46] katre commented on #3959
Assuming no new release blockers appears overnight I plan to release 0.11.0 tomorrow.

[2018-02-22 21:06] ola-rozenfeld commented on #4608
No, as long as https://github.com/bazelbuild/bazel/commit/9fe02aa9c7081f5cb6b48a949a054f64f693ae22 is in 0.11.0, we're good. the remaining work will take a few more weeks.

[2018-02-22 21:07] katre commented on #4608
That's fine, I am removing the release blocker label.

[2018-02-22 21:30] buchgr commented on #4652
@gregestren @katre sounds good. can you open a bug against tensorflow describing the fix please?

[2018-02-22 21:34] nate-meta opened #4687 "bazel test --go_debug"
### Description of the problem / feature request:
Please add a flag to allow attaching a go debugger similar to --java_debug

### Feature requests: what underlying problem are you trying to solve with this feature?
Making it possible to attach a debugger to go tests.

[2018-02-22 22:07] jin commented on #4679
There isn't a timeline for macOS support. The Linux constraint, AFAIK, is due to a dependency of `android_device` called [unified launcher](https://github.com/bazelbuild/bazel/blob/af79eb49df9fb9a4b5a00194e5068a6cfedf12ae/tools/android/emulator/BUILD.tools#L45), which is hosted in [android-testing-support-library](https://github.com/google/android-testing-support-library). I have opened https://gi

[2018-02-22 23:55] codesuki commented on #4679
Thanks for the info and opening an issue in the right place!
I didn't confirm yet but at least it seems to work with manually started emulators, too.
Looking forward to the `android_instrumentation_test` rule to run unit tests on the device.

[2018-02-22 23:57] rzhw commented on #2475
Quick note that cross-workspace path tests were added in 702429bbc4d84c0da2499297a2d249237f5e6257.

[2018-02-23 03:33] cushon commented on #4682
@nglorioso FYI

[2018-02-23 08:13] thaidn commented on #4426
This is failing if Bazel was installed via Homebrew.

bazel version
Build label: 0.10.1-homebrew
Build target: bazel-out/darwin-opt/bin/src/main/java/com/google/devtools/build/lib/bazel/BazelServer_deploy.jar
Build time: Tue Oct 11 20:06:37 +50095 (1518702897997)
Build timestamp: 1518702897997
Build timestamp as int: 1518702897997

I'm getting this stack trace:

Traceback (most recent call last):

[2018-02-23 12:24] ittaiz commented on #4584
@iirina maybe we can improve on how the native rules are implemented?
You can take a look at how we do it in rules_scala (easy to see in scala_import) so as to retain the semantics.

[2018-02-23 14:36] kobersotzek opened #4690 "Label used in external Bazel workspace is looked up in local workspace"
### Description of the problem / feature request:

I'm trying to use a rule which is defined in an external Bazel workspace. The implementation of that rule uses a Bazel label internally to refer to other parts of that Bazel workspace. When I build my workspace, Bazel for some reason tries to locate that label in my workspace, though.

### Bugs: what's the simplest, easiest way to reproduce this b

[2018-02-23 14:55] laszlocsomor commented on #4469
This isn't just a cosmetic bug. Bazel has a bug where it sometimes regards BuildInfo.BUILD_TIMESTAMP as representing seconds, sometimes as milliseconds... I have a CL to fix it.

[2018-02-23 15:25] mhlopko commented on #807
Looks like dup of #716, the workaround is to only use linker scripts on cc_binary, that's how this feature was intended to be used.

[2018-02-23 15:38] ahippler opened #4691 "undocumented usage of perl for cc_test"
### Description of the problem / feature request:

cc_test uses a inline perl script for failed tests.
https://github.com/bazelbuild/bazel/blob/eb067ea88749a5635cc8ee8954cde2b767f1eb61/tools/test/test-setup.sh#L153

### Feature requests: what underlying problem are you trying to solve with this feature?

The usage of perl is not documented.
Windows does not have Perl installed by default.

### Bug

[2018-02-23 15:57] laszlocsomor commented on #4591
Update about my latest comment: this seems to work fine in Bazel 0.11.0rc2, it picks up `--python_path` even if there is already another python on the `PATH`. (I haven't looked at `BAZEL_PYTHON`.)

[2018-02-23 16:13] rishabhmalhotra commented on #4289
It seems that c++ compilation is still failing for me but looking at the issue, I'm assuming its resolved? Any latest updates on this same issue?
(I have the latest bazel & I've referenced tf-serving from master)

[2018-02-23 16:19] #4673 closed

[2018-02-23 16:27] katre commented on #3959
Pushed release:

https://github.com/bazelbuild/bazel/releases/tag/0.11.0
https://releases.bazel.build/0.11.0/release/index.html
@petemounce : Could you please update Chocolatey? Thanks!
@ilovezfs : Could you please update Homebrew?

[2018-02-23 16:33] aehlig commented on #4690
The problem is that a macro is used here; macros are pure subsitution and you end up
getting the string(!) "//build_defs:merge_xml" as argument in the genrule, and that
is then interpreted in the context of the caller (and not found there). This is
perfectly working as intended, as all the string handling in the macro is supposed
to be done on behalf of the caller.

If a name should be resolved in

[2018-02-23 16:36] jayconrod commented on #4426
@thaidn Based on the stack trace, it looks like you may be using an older version of rules_go that still has a broken version check. Do you still see this after upgrading to a newer version?

[2018-02-23 16:40] spomorski commented on #4637
Addressed in pull request [4692](https://github.com/bazelbuild/bazel/pull/4692).

[2018-02-23 17:44] #4637 closed

[2018-02-23 17:53] spomorski commented on #4321
Addressed in pull request [4694](https://github.com/bazelbuild/bazel/pull/4694).

[2018-02-23 17:53] #4321 closed

[2018-02-23 17:58] laurentlb commented on #4321
I thought using a realistic-looking example would work better. But maybe not.

[2018-02-23 18:01] #3641 closed

[2018-02-23 18:01] #3923 closed

[2018-02-23 18:01] #4677 closed

[2018-02-23 18:02] jin commented on #3923
@spinorx Sorry for the long wait, but the fix is now in master. Feel free to try it out and let me know if it's working for you.

[2018-02-23 18:06] jin commented on #3641
Hi all, the fix for this is in master. Please feel free to try it out and let me know if you still face problems - thanks!

[2018-02-23 18:14] spomorski commented on #4321
Since this is only an example of a load statement, I think a generic one is
pretty self-explanatory. It's not code that users would copy-and-paste
verbatim into their BUILD files.

What would you rather change it to if not a generic example?

On Fri, Feb 23, 2018 at 12:58 PM Laurent Le Brun <notifications@github.com>
wrote:

[2018-02-23 18:33] jarviscrypter commented on #4607
Dear Sir,

Sorry about the late response.
yes AM utility might be an issue.
My system configuration is
i5-6600
8gb RAM
gtx 1050 ti GPU
1tb HDD

I shall surely try with the suggested steps and let you know the further
results

Thank You
Rajath C S

On Fri, Feb 16, 2018 at 2:24 AM, Philipp Wollermann <
notifications@github.com> wrote:

[2018-02-23 18:35] ilovezfs commented on #3959
Build failed on all 3 CI nodes:
https://jenkins.brew.sh/job/Homebrew%20Core%20Pull%20Requests/19148/version=el_capitan/consoleFull
https://jenkins.brew.sh/job/Homebrew%20Core%20Pull%20Requests/19148/version=sierra/consoleFull
https://jenkins.brew.sh/job/Homebrew%20Core%20Pull%20Requests/19148/version=high_sierra/consoleFull

[2018-02-23 18:40] laurentlb commented on #4321
Go ahead with your change.

I didn't expect the example to confuse users, but apparently I was wrong.

[2018-02-23 18:42] riklopfer commented on #2274
The symlink work around worked for me as well.

[code]

[2018-02-23 18:46] katre commented on #3959
@ilovezfs Ugh, that's weird. I'll try it on my mac and see if I can reproduce it. I don't actually know how Homebrew works, can you point me to the configuration or build script that is being run?

[2018-02-23 18:50] ilovezfs commented on #3959
It's running the install method https://github.com/ilovezfs/homebrew-core/blob/32d75a3bdcbe63aa11341dc79650b53fdccceae4/Formula/bazel.rb#L17-L32

[code]

[2018-02-23 19:03] aehlig commented on #4690
As explained, this is working as intended.

[2018-02-23 19:03] #4690 closed

[2018-02-23 19:09] katre commented on #3959
@ilovezfs The problem is the ```"--output_user_root", buildpath/"output_user_root"``` section. It looks like something related to having the output root in the same directory as the bazel source is causing this.

I'm going to bisect and find the cause (since this worked in 0.10.1, looks like). However, how necessary is it that the output_user_root be in the same directory? Could it be possible to,

[2018-02-23 19:24] ilovezfs commented on #3959
[code]
should work, though it's not pretty.

[2018-02-23 19:26] katre commented on #3959
Okay, thanks. I've regressed back to the 0.9.0 release, and I see the same error when output_user_root is in the same directory as Bazel sources, so I'm confused that this ever worked.

[2018-02-23 19:27] ilovezfs commented on #3959
It's been working fine like that for a while …

[2018-02-23 19:29] katre commented on #3959
It's also possibly a bug in my bisect script, grump grump...

[2018-02-23 19:32] jarviscrypter commented on #4607
Dear @philwo ,

I'd like to say that Apollo build is successful on my laptop where as it hangs on my desktop, on a comparitive basis my Desktop is at higher configurations than laptop. The below are my laptop configuration details, previous comment details are my desktop details.

amd a10 processor
1gb dedicated graphics radeon
processor and gpu are crossfired
8gb RAM

[2018-02-23 20:18] jin commented on #4663
What is the error here? Now that we're using BuildKite, we should re-enable this as soon as possible.

[2018-02-23 20:23] ilovezfs commented on #3959
0.11.0 shipped in Homebrew.

[2018-02-23 20:28] katre commented on #3959
@ilovezfs Thanks! I appreciate you working with me to help resolve the issue.

[2018-02-23 20:30] ilovezfs commented on #3959
You're welcome!

[2018-02-23 20:38] kevinashaw commented on #4425
So how should we proceed?  We can't compile with the latest Bazel (0.11.0).
We need to compile Tensorflow to a .so for Ubuntu.
Should we downgrade to pre-0.10.0 builds and compile there?

[2018-02-23 20:42] buchgr commented on #3959
@ilovezfs big thanks ! awesome!

[2018-02-23 21:29] jin commented on #1513
This is supported now

[2018-02-23 21:29] #1513 closed

[2018-02-23 21:32] jin commented on #3849
Is this still flaky?

[2018-02-23 22:44] petemounce commented on #3959
I think the automation I wrote is affected by https://githubengineering.com/crypto-removal-notice/. I'll fix and push soonest, but not around this weekend.

[2018-02-23 23:39] buchgr opened #4698 "remote/documentation: mention remote caching on CircleCI in the documentation"
https://github.com/notnoopci/bazel-remote-proxy

[2018-02-24 13:13] mrkkrp commented on #4612
Theoretically this should reproduce it:

[code]

But it doesn't. Which makes me think that my system is screwed in some way. Probably need to do a reinstall, because how can I figure out what's wrong now... :-D

[2018-02-24 15:03] JoyChopra1298 commented on #2647
What is the update on this? Is there any solution to run bazel on lustre FS. I want to use it to build tensorflow.

[2018-02-24 15:17] philwo commented on #4612
@mrkkrp Thanks for creating that repro and then also realizing that it doesn't repro ;)

I'm an Arch Linux user myself - I'd try to find any files not belonging to installed packages to rule out that this is causing the problem:

https://wiki.archlinux.org/index.php/Pacman/Tips_and_tricks#Identify_files_not_owned_by_any_package

Also see if you modified any files belonging to packages:
https://wik

[2018-02-24 15:25] janakdr commented on #1831
I should say that you'll still need functionality on your side to, if a BUILD target changes, regard all targets in the package as affected. The [siblings](https://docs.bazel.build/versions/master/query.html#siblings) operator may be useful there.

[2018-02-24 19:45] jmillikin commented on #4650
Hit this for a personal project today, so figured I'd get to the bottom of it. I found the `ProtoSourceFileBlacklist` data was coming not from Bazel, but from the Protobuf library!

Using a `com_google_protobuf` with https://github.com/google/protobuf/pull/4334 fixes the ODR violation for me, so this issue can be closed in favor of the original issue https://github.com/google/protobuf/issues/4311.

[2018-02-24 20:44] JoyChopra1298 commented on #587
@sunil3590 I tried your method on a CentOS 6 cluster but it isn't working. I downloaded the file on my login node of cluster and created a http server. I tested the server using wget and it is workiing fine. But when I provide the same url to bazel, it cannot download the file.
Note: I am running it using the option --output_user_root=/tmp/bazel since my cluster uses Lustre filesystem which doesn'

[2018-02-25 02:51] pcj opened #4699 "NPE building rules_docker java_image"
[code]

[2018-02-25 02:58] pcj commented on #4699
Appears fixed in 0.11.0

[2018-02-25 02:58] #4699 closed

[2018-02-25 09:40] petemounce commented on #3959
Up now at https://chocolatey.org/packages/bazel/0.11.0 via a manual hack.

[2018-02-25 09:42] petemounce commented on #3958
Pushed 0.10.1 to https://chocolatey.org/packages/bazel/0.10.1

[2018-02-25 10:02] buchgr commented on #3959
thanks so much @petemounce ... ur work is awesome

[2018-02-25 10:57] ulfjack commented on #3977
Erm, why did you set this to P3? C++ compilation not working at all with no workaround seems rather like a P0 to me.

[2018-02-25 11:29] petemounce commented on #3959
My pleasure :)

[2018-02-25 21:20] katre commented on #3959
Thanks very much @petemounce!

With this finished, I am closing the issue for this release.

[2018-02-26 01:35] meteorcloudy commented on #4591
@pmuetschard `BAZEL_PYTHON` is deprecated. It was introduced specifically for **C++ toolchain** when it  needs python wrapper scripts for the MSVC compiler. It has nothing to do with any python rules.
Sorry for the confusing..

To specify python binary for python rules, you should either ensure `python.exe` is in PATH or pass `--python_path` flag.

[2018-02-26 01:42] meteorcloudy commented on #4425
@kevinashaw, if you build TensorFlow@HEAD with Bazel 0.11.0, it should work.
For previous TF version, you can cherry-pick https://github.com/tensorflow/tensorflow/commit/3f57956725b553d196974c9ad31badeb3eabf8bb and https://github.com/tensorflow/tensorflow/commit/6fcfab770c2672e2250e0f5686b9545d99eb7b2b before compiling.

[2018-02-26 01:59] meteorcloudy commented on #4542
@excitoon, sounds like a fair requirement.

[2018-02-26 02:02] meteorcloudy commented on #3678
@laszlocsomor Maybe this is caused by some android toolchain not releasing the handler?

[2018-02-26 03:23] mattmoor commented on #2176
IIUC that change was something that bit `go_image` too, the `rules_go` changes something about their output paths in a breaking way.  I don't believe that change had anything to do with `data_path`.

Having been bitten by this strange default behavior multiple times myself, I'm completely on-board that this behavior is bizarre and not what users expect. :)

We should probably add a flag to restore

[2018-02-26 03:48] cgrushko opened #4706 "Clarify what "Xcode version must be specified to use an Apple CROSSTOOL" means"
I'm getting the aforementioned error regardless of what I do with Xcode, `xcode-select` or `bazel clean --expunge`, and the various StackOverflow questions about it don't explain what's actually wrong, which make it difficult for me to figure this out.

`bazel build //src/main/java/com/google/devtools/build/lib/skyframe/packages`

This issue is about changing the error message and/or providing a K

[2018-02-26 03:53] cgrushko commented on #4706
Suggestion: add

    To see some debug information, execute cat $(bazel info output_base)/external/local_config_xcode/BUILD

to the error message.

In my case, I get

[code]

But, running `/private/var/tmp/_bazel_carmi/9bae3bfe96e0ac1bcb7f541f8c8aaf93/external/local_config_xcode/./xcode-locator-bin` on the command-line gives me a valid JSON string, so not sure what's going on.

[2018-02-26 04:03] cgrushko commented on #4706
Ah, https://github.com/bazelbuild/bazel/issues/4603#issuecomment-364266652 is probably the solution - VSCode must've been holding a file handle to `xcode-locator-bin`. I fixed the problem by deleting the repo and re-cloning it, which probably freed the handle.

I suggest including some sort of KB that mentions this possibility.
Thanks!

[2018-02-26 05:28] jin opened #4707 "Hard crash in Skyframe when passing invalid toolchain target to --android_crosstool_top with --fat_apk_cpu specified"
Using Bazel built from HEAD, if more than one CPU is specified in `--fat_apk_cpu` and an invalid toolchain target is specified for `--android_crosstool_top`, a hard crash happens:

[code]

Expected normal crash with a single CPU value to `--fat_apk_cpu`:

[code]

[2018-02-26 05:47] jin commented on #4403
Is this still happening?

[2018-02-26 06:27] philwo commented on #4403
This is fixed on the new Buildkite machines. We will also roll out a fix for the Jenkins machines today, in the form of a generous fleet-wide „rm -rf *“ 😀

[2018-02-26 06:27] #4403 closed

[2018-02-26 07:08] aehlig commented on #4645
Apparently the issue is in the cited upstream project, not in bazel.

[2018-02-26 07:08] #4645 closed

[2018-02-26 07:25] aehlig commented on #4650
As suggested by @jmillikin, closing as duplicate of https://github.com/google/protobuf/issues/4311

[2018-02-26 07:25] #4650 closed

[2018-02-26 07:49] nclinger commented on #4342
I have services that are configured via text proto files that live by the service. Some of the fields in the proto are required at build time (e.g. the service name). It would be great to either have native support for duck typing from proto to Skylark structs or to enable consuming a proto by a Skylark function.

[2018-02-26 07:55] aehlig commented on #4678
@dslomov for further triaging.

[2018-02-26 07:58] aehlig commented on #4682
@cgrushko to route the issue appropriately

[2018-02-26 08:02] aehlig commented on #4691
Categorizing as bug, as pulling in an documented run-time dependency can cause breakage for users not otherwise using perl. The main question is if we really need perl (then we should document it as a run-time dependency of bazel) or whether an appropriate set up can be achieved with more standard tools.

[2018-02-26 08:03] aehlig commented on #4691
It's the actual test rules that are problematic.

[2018-02-26 08:39] laszlocsomor commented on #2647
No updates. Can you use a different output directory ("--output_user_root=/some/other/path")?

[2018-02-26 10:25] DmytroLapshyn opened #4708 "Please allow use of providers in output calculating functions"
### Description of the problem / feature request:

I would like to have a possibility to access provider-supplied data in a function that dynamically calculates outputs for a rule (i.e. in a function that can be specified instead of a hard-coded dictionary enumerating all the rule outputs)

### Feature requests: what underlying problem are you trying to solve with this feature?

Use information av

[2018-02-26 10:37] laszlocsomor commented on #3678
@meteorcloudy : Without knowing more, I can only guess. Luckily though, we can also find it out! Read on.

@pmuetschard : Could you please download [Process Explorer](https://docs.microsoft.com/en-us/sysinternals/downloads/process-explorer) and the next time you see this error, use Process Explorer to search for processes holding open that file? You can do so by pressing Ctrl+F (in Process Explore

[2018-02-26 12:31] philwo opened #4709 "Building Bazel with JAVA_HOME set to OpenJDK 9 fails."
I'm trying to build Bazel using Bazel itself when JAVA_HOME is set to the official OpenJDK 9 binaries downloaded from http://jdk.java.net/9/.

I get this error:
[code]

It seems like `langtools-neverlink` is only used by `//third_party/checker_framework_dataflow` and `//third_party/checker_framework_javacutil`, both of which are only depended on by errorprone.

@cushon How would I fix this? Is the

[2018-02-26 12:54] hsyed commented on #4549
@lberki @cushon There is an update on the [Kotlin Youtrack ](https://youtrack.jetbrains.com/issue/KT-22938).

It seems we would need to unpack the proto for now. For the future I proposed a new annotation for ABI elements so we can figure out what to keep in a context-free way. Please give some feedback to JB on this one if you think we can make use of this.

I'm really hoping we can update the ij

[2018-02-26 13:03] philwo commented on #2512
@Steve-Munday Yep, I think so! Thanks for pointing it out.

I'll let @buchgr have the honor of closing this issue. :)

[2018-02-26 13:13] hsyed commented on #4549
FYI buck use a [JVM based ABI tool](https://github.com/facebook/buck/tree/6043596e11bee8dc5119a78c89a8c744bd9e6868/src/com/facebook/buck/jvm/java/abi).

[2018-02-26 13:57] #3983 closed

[2018-02-26 14:09] cgrushko commented on #4682
@aehlig what do you mean?

[2018-02-26 14:27] laurentlb commented on #3983
Sorry for the delay, it's now fixed (as in: it doesn't crash anymore). But I have to point out that you should update your code. You cannot use `package_name` as a default argument.

When bzl files are evaluated, there's no information of package. Multiple BUILD files may reference the same bzl file, so `native.package_name` is failing when you use it in the bzl file (as a default argument or in a

[2018-02-26 14:54] mhlopko commented on #4480
Fixed in f98a7a2fedb3e714cef1038dcb85f83731150246.

[2018-02-26 15:07] dslomov commented on #4678
@dkelmer would you mind taking a look?

[2018-02-26 15:37] katre commented on #4652
Tensorflow appears to have removed jpeg.BUILD (I can't find it at HEAD, anyway), and the build is green, so closing this issue.

[2018-02-26 16:11] hsyed commented on #4549
@cushon @lberki It would be a suitable short term compromise for rules_kotlin to require the user to override the `java_toolchain` providing a modified version of the ijar tool.

We could then create a custom build of the ijar tool in rules_kotlin or here.

`java_toolchain` needs to be overridden via a define, slightly ugly. This could could be made seamless if the native ijar tool was picked up a

[2018-02-26 16:20] #4480 closed

[2018-02-26 17:12] soonho-tri opened #4711 "Unknown language warning from --test_lang_filters option"
### Description of the problem / feature request:

When `--test_lang_filter=-sh` is passed, `bazel-0.11.0` generates "Unknown language" warning. While [the documentation](https://docs.bazel.build/versions/master/user-manual.html#flag--test_lang_filters) uses it as an example.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

`bazel te

[2018-02-26 18:11] cushon commented on #4709
That should probably be using `//third_party/java/jdk/langtools:javac` instead of the host JDK's `tools.jar` anyways. There isn't a direct `tools.jar` replacement in 9.

Also, those versions of the Checker Framework libraries are out of date. They should be updated to 2.2.2 to match the current version of Error Prone. And I'm not sure why they're being built from source? If they were prebuilts we

[2018-02-26 18:19] willsc79 commented on #4628
Ya I agree that would be ideal - but we discussed this idea with the BES team and they were not on board with it. BES does not know what the URL should be since it's up to the post processors of the BES data to generate results from it. For example, there could be multiple URLs or none depending on what's done with the data once it's uploaded to BES.

I think having as a convenience the ability to

[2018-02-26 20:32] ixdy opened #4713 "Bazel's release build timestamp injected as milliseconds but parsed as seconds"
### Description of the problem / feature request:
Starting with Bazel 0.10.0, it appears the bazel releases are stamped with their build timestamps in milliseconds, rather than seconds, but `bazel version` is still parsing these values as seconds:

Bazel 0.9.0:
[code]

Bazel 0.10.0:
[code]

Bazel 0.11.0:
[code]

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a min

[2018-02-26 20:33] pmuetschard commented on #3678
Unfortunately, process explorer would not find anything. The thing is, re-running bazel after a failure, usually allows it to "get past" the .so that failed. So it looks more like a race condition. In our project, we build quite a few libs ~20, and so it would then fail on another one if I just re-run `bazel build`. I tried using `-k` and searching for an so as soon as the error is printed, while

[2018-02-26 20:51] excavador commented on #3983
@laurentlb thank you for update!
I understand now, why it's incorrect.
Will update my BUILD file.

[2018-02-26 21:01] jin commented on #4663
Ping, can we disable remote caching just for this test?

[2018-02-26 23:38] JoyChopra1298 commented on #1251
I am facing the same error while building bazel 4.5 Could you write down the lines that need to be changed.

[2018-02-27 00:38] gkossakowski opened #4714 "Sharing Java outputs across platforms (Linux/Mac)"
Following up on https://github.com/bazelbuild/bazel/issues/4558#issuecomment-367597808
I'm starting this thread to discuss options for sharing JDK-derived (java rules, scala rules, etc.) outputs across platforms. The JDK itself is designed to be cross-platform so bytecode can be shared. However, the current design of bazel makes it difficult to share outputs across platform. See the linked ticket

[2018-02-27 00:39] gkossakowski commented on #4558
@ulfjack thanks for the detailed response! This ticket gave me an idea how we could actually share outputs across platforms. I opened a new issue https://github.com/bazelbuild/bazel/issues/4714 to discuss it. I'd appreciate the input.

[2018-02-27 01:16] calpeyser commented on #3352
https://github.com/bazelbuild/bazel/commit/db61b316458685344d3aa4b6a784f09001a90892 should have addressed this, please let us know if your problem continues.

[2018-02-27 01:16] #3352 closed

[2018-02-27 01:29] joegana commented on #3848
@atkawa7
![default](https://user-images.githubusercontent.com/7437859/36705541-ac60e418-1ba0-11e8-9f27-9de216f07e8d.png)
Try edit this file with path on this picture to add javadoc target

[2018-02-27 02:52] chetgnegy commented on #3352
Thanks, Cal. I'm still finding that I can't build the example above at version 0.11.0.

[2018-02-27 04:56] ittaiz commented on #4714
Greg,
I was also trying to crack this nut but I realized there are a lot of other variables in play. You have other actions which use native binaries which also need to be overridden (zip maybe). Additionally what will you do about Scrooge?
My point is you’ll need to maintain this for every small part.
What we’re currently mulling over (but haven’t gotten around to executing) is having Mac people

[2018-02-27 06:02] iphydf opened #4718 "maven_rules breaks --all_incompatible_changes flag"
[code]

See https://github.com/bazelbuild/bazel/blob/master/tools/build_defs/repo/maven_rules.bzl#L296.

[2018-02-27 08:15] buchgr commented on #2512
oh wow, I didn't realize we had a bug for that :-). CLOSED!

[2018-02-27 08:15] #2512 closed

[2018-02-27 09:30] laszlocsomor commented on #3678
I tend to eagerly suspect the AntiVirus or Bit9/Carbon Black, but in this case I believe it's neither.

The fact that you only saw this error on incremental builds but not clean ones, and that Bazel shows the "failed to delete output files..." error when it fails to delete outputs from the previous build, could be explained by a background process still holding the file open. This could be a persi

[2018-02-27 09:51] davido commented on #4709
+1. I have never understood why Bazel building Checker Framework from source?

[2018-02-27 10:13] krytarowski opened #4719 "NetBSD port request"
### Description of the problem / feature request:

There is no bazel available for NetBSD users, through pkgsrc. Certainly the same applies for other users of pkgsrc such as Illumos (SmartOS), Minix and others.

### Feature requests: what underlying problem are you trying to solve with this feature?

Get bazel aboard in NetBSD through pkgsrc.
Reuse bazel to build TensorFlow for NetBSD.

### Bugs:

[2018-02-27 10:15] buchgr opened #4720 "bazel-rules-tests fails on windows"
[bazel-rules-tests](https://storage.googleapis.com/bazel-buildkite-artifacts/$BUILDKITE_JOB_ID/src%5Ctest%5Cjava%5Ccom%5Cgoogle%5Cdevtools%5Cbuild%5Clib%5Cbazel-rules-tests%5Cattempt_1.log) fails on Windows (8MiB log file)

[2018-02-27 10:16] buchgr opened #4721 "SkyFrameTests fails on Windows"
[code]

[2018-02-27 10:17] buchgr opened #4722 "bootstrap_dist_file_test fails on Windows"
[code]

[2018-02-27 10:17] buchgr opened #4723 "bazel_windows_example_test fails"
[code]

[2018-02-27 10:19] laszlocsomor commented on #4723
At which commit?

[2018-02-27 10:22] buchgr commented on #4723
At `HEAD`.

[2018-02-27 10:35] laszlocsomor commented on #4723
Do you have a link?
For the record, current HEAD is 78fa94a6183d417216638144a5e6d0598f1b1afd.
Test (`//src/test/shell/bazel:bazel_windows_example_test`) passes for me at this revision.

[2018-02-27 10:40] buchgr commented on #4723
https://buildkite.com/bazel/bazel-bazel-postsubmit/builds/333#bb0b9931-10b8-423d-94f1-9176e951d9e6

[2018-02-27 10:53] buchgr commented on #4663
The error is `Unexpected IO error.: Input is a directory: /var/lib/buildkite-agent/.cache/bazel/_bazel_buildkite-agent/02e53aad341ca65ced1335c03162fe6d/execroot/io_bazel/external/androidndk/ndk/build`

We unfortunately can't disable remote caching just for one test, but we can completely disable remote caching until it's fixed? @philwo ?

[2018-02-27 11:30] jmmv opened #4724 "Bazel starts the build before it prints its own messages"
When running a build or a test, `Bazel` pauses at the beginning of the invocation without showing any kind of details and, after a little bit, prints its usual warnings and informational messages like the following:

[code]

Today, I paid some more attention and noticed that actions are being run before the `INFO`-level messages that talk about analysis and execution.

When I do a build, any synta

[2018-02-27 11:50] lberki commented on #4672
Looks like a simple thing to do, isn't it, @mhlopko ? It's one more feature to support, but it doesn't look like it would require a lot of care and feeding.

[2018-02-27 11:50] lberki commented on #4672
Moving this to P3 since there is a clear workaround; if you think it's more important, tell us how the lack of a resolution on this bug makes your life harder.

[2018-02-27 11:54] lberki commented on #4644
Yuck, the wrapper script in https://github.com/envoyproxy/envoy/pull/2631/files is awful.

Compiling with a different binary looks doable, but what about linking? Is the rule that the C++ compiler should be used if there is at least one object file that was built from C++?

[2018-02-27 11:54] lberki commented on #4644
(keeping this as P2 due to that wrapper script)

[2018-02-27 12:08] lberki commented on #3977
This should really be fixed soon because it's ugly, but is anyone blocked by it at the moment? My understanding is that it's not, so it's not a P0. @jmillikin-stripe -- is this something you currently paper over with your wrapper script? If so, that makes it more pressing.

[2018-02-27 12:09] laszlocsomor commented on #4723
Thanks!

It looks like a line ending problem. I can repro the problem by editing `examples/java-native/src/main/resources/greeting.txt` to use CRLF instead of LF.

[code]

Can you log into the VM that ran the test and hexdump this file?
Alternatively, if I send you a CL that adds some logging to the test, can we run it on Buildkite?

Git might be incorrectly configured on the VM. It should have `c

[2018-02-27 12:33] ittaiz commented on #3639
@cgrushko any chance you'll tackle this?

[2018-02-27 12:55] buchgr commented on #4723
yes can you just send a github pull request? it will run on buildkite.

[2018-02-27 13:30] excitoon opened #4726 "Implicit include of generated files"
### Description of the problem / feature request:

If we make `cc_inc_library()` out of generated files, bazel can not properly understand that these files are _described_.

`generated/BUILD`:
[code]

`BUILD`:
[code]

`main.cpp`:
[code]

That produces the following error:

[code]

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Pleas

[2018-02-27 14:01] buchgr commented on #4722
cc: @laszlocsomor

[2018-02-27 14:37] aj-michael commented on #4663
perhaps this is a problem with mac case sensitivity? the runfiles of this test should contain: `androidndk/BUILD.bazel` and well as `androidndk/ndk/build/`. Perhaps Bazel is trying to read the latter as if it were a BUILD file?

[2018-02-27 14:48] AIHZP commented on #4532
do you resolve the problem, I don't know how to fix it. If you worked out ,please  tell me how to do.Thank you very much! My email:zhi12271125@gmail.com

[2018-02-27 15:03] laszlocsomor commented on #3678
@pmuetschard : Is there anything else you notice, like any regularities in the kind of changes after which you see the errors? For example, do you change dependencies of rules, add/remove rules; or do you see the error already when you do minor edits in source files and want to rebuild?

[2018-02-27 15:24] #4676 closed

[2018-02-27 15:30] #4524 closed

[2018-02-27 15:34] mhlopko commented on #4524
@htuch @jmillikin-stripe pls verify that 19c6428 is good enough, and let me know if not and I'll reopen. Thanks!

[2018-02-27 16:16] phst commented on #157
Here is a bare-bones `bazel-mode`: https://github.com/codesuki/bazel-mode

[2018-02-27 16:47] iirina commented on #4544
The strict deps fix was rolled back, I'll try to resubmit it tomorrow.

[2018-02-27 17:02] gkossakowski commented on #4714
Interesting. Did you figure out a way to ask bazel for the list of all files that participate in finger print calculation? I'd love to get a sense how difficult that nut is to crack.

The docker idea is interesting. Are you thinking of running bazel within docker? How would that work? Would you somehow pass the commands over docker barrier? Would IntelliJ work in that setup?

[2018-02-27 17:13] jin opened #4730 "Broken docgen target: //src/main/java/com/google/devtools/build/lib:gen_command-line-reference"
[code]

[2018-02-27 17:13] jmillikin-stripe commented on #4524
@mhlopko The functionality looks good to me. Can you document somewhere what `BAZEL_LINKOPTS` is, its expected format, and how it's different from the `--linkopt` flag?

[2018-02-27 17:14] mhlopko commented on #4524
Let me come back to that next Monday, I'm planning a present for the world later this week.

[2018-02-27 17:17] jmillikin-stripe commented on #4644
This is the rule for GCC and probably for Clang. Note that a `cc_library(srcs=["foo.o"])` might be C or C++ (and Envoy uses that for some C++ deps), so it might be best to default to the C++ linker for now until there's a better `cc_import` story.

[2018-02-27 17:20] jmillikin-stripe commented on #3977
Yes, the wrapper script works around this this bug in two ways:
* It backports https://bazel-review.googlesource.com/c/bazel/+/39951 by checking for `"clang" in argv[0] and argv[1:] == ["-E", "-xc++", "-", "-v"]`, then injecting the `-no-canonical-prefixes` flag.
* It runs `clang++` instead of `clang -xc++`, so that the include paths are consistent between C and C++.

[2018-02-27 17:33] ittaiz commented on #4714
Re first question- no.

Re docker-
Yes, run bazel in docker. The rough idea is to have a script named bazel
which will call “docker run Bazel” with the arguments.
There are of course rough edges of mounts and such but they’re probably
solvable.
This should also please IntelliJ since it will just call Bazel as is.
On Tue, 27 Feb 2018 at 19:03 Grzegorz Kossakowski <notifications@github.com>
wrote:

[2018-02-27 17:49] jin commented on #4730
cc @katre

[2018-02-27 18:10] calpeyser commented on #3352
It doesn't look like db61b31 is in Bazel 0.11.0: https://github.com/bazelbuild/bazel/commits/0.11.0

[2018-02-27 18:19] gregestren commented on #4714
Re: the first question, you mean the fingerprint calculation for Bazel's action cache?

What specific kind of cross-platform caching are you interested in? Are you only interested in cross-platform hosts (building a Java library on a Mac or Linux machine, but in both cases targeting the same output architecture, i.e. [`--host_cpu`](https://docs.bazel.build/versions/master/user-manual.html#flag--ho

[2018-02-27 18:24] jin commented on #4730
Found the commit that introduced the regression: c2499c406d0727853ea0ddc5372a50be95de5515

6e0933886d3c6b7f68075da4bdb08500ce2b6f86 depends on it.

cc @aehlig

[2018-02-27 19:19] pmuetschard commented on #3678
I see it for all of the above. Naturally, I see it most often for changes that cause all of the libs to be rebuilt.

I also don't think it's the AntiVirus, because I see it, too on a machine that has no anti-virus and I use a custom `%TMP%`, which is excluded from Windows 10's malware scanner.

FYI, I see this when building [GAPID](https://github.com/google/gapid/blob/master/BUILDING.md).

[2018-02-27 19:52] alexmv opened #4731 "experimental_skyframe_target_pattern_evaluator causes Bazel to no longer emit "patternSkipped" events in BEP"
### Description of the problem / feature request:

784bb52613feb484221c3aa6756de45012163088 switched to the "new UI"; however, this change appears to have had a material change on the BEP output.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

./bazel-bin/src/bazel test --keep_going --build_event_json_file foo.json //not/actually/pr

[2018-02-27 19:58] alexmv commented on #4731
Whoops, forgot to fill in the buidl instructions.  Bazel was built via installing bazel 0.7.0 from pacakges (to let it build itself in the area of the relevant commits) and then built via `~/bazel-0.7.0/bin/bazel build //src:bazel`

[2018-02-27 20:11] benjaminp commented on #4731
More specifically, the omission is caused by `--experimental_skyframe_target_pattern_evaluator`.

[2018-02-27 20:27] cgrushko commented on #3639
I took a peek; it seems that this check happens in at least two places (RuleClass.createRule and PackageFactory.callExportsFiles).
The code around the first check doesn't have an obvious way to get a configuration (where a flag can be defined), so it'll probably be time consuming to figure this one out.

The straightforward workaround is to use `thirdparty` instead of `third_party`, which is lame

[2018-02-27 20:40] ittaiz commented on #4714
Yes, that’s the one.

We’re interested in java/Scala but also proto generation and hopefully
we’ll get to js/node/go/general docker containers in the quarters.
That’s why the docker solution sounds interesting since you can base the
container on the same image as CI agents and if we can get a smooth and
performant protocol it should be good
On Tue, 27 Feb 2018 at 20:20 Greg <notifications@github.c

[2018-02-27 21:18] s-m-e opened #4733 "Bazel 0.11.0 cant be built from source on Linux because of missing execute bits"
### Description of the problem:

Bazel fails to build from source on openSUSE Leap 42.3 x86_64. Root cause: Two scripts lack an execute bit, bash throws `permission denied` error, built is aborted.

### Bugs: what's the simplest, easiest way to reproduce this bug?

Download the latest [dist zip file, version 0.11.0](https://github.com/bazelbuild/bazel/releases/download/0.11.0/bazel-0.11.0-dist.zip

[2018-02-27 21:23] katre commented on #4733
I'll take a look, thanks for bringing this to our attention.

[2018-02-27 21:27] katre commented on #4733
I just downloaded and unpacked the dist file with the built-in "unzip" program from Debian, and I see the +x bits as expected:
[code]

Is Ark doing something unusual with other zip files?

[2018-02-27 21:32] s-m-e commented on #4733
@katre Possibly ... Let me check. What tool / command have you used for unpacking?

[2018-02-27 21:33] katre commented on #4733
Just the command line `unzip` utility provided by my Debian install:
[code]

[2018-02-27 21:37] s-m-e commented on #4733
Yep, I can confirm it. This is an issue with Ark. Sry for the confusion, I'll file another bug somewhere else ...

[2018-02-27 21:37] katre commented on #4733
No problem, thanks for helping me debug!

[2018-02-27 23:37] pmuetschard opened #4734 "Changes in a generated AndroidManifest.xml don't propagate to the final APK on Windows"
### Description of the problem:

On Windows, a `android_binary` rule, which uses a `manifest` attribute that is a label to a rule which generates the XML, fails to propagate changes to the final APK if the generated manifest changes.

We want to "stamp" our APKs by putting a hash of the source files into the Android manifest. To do this, we have a rule, which depends on the sources and a template.

[2018-02-28 03:46] jin commented on #4663
@aj-michael this looks like it's running on ubuntu `buildkite-ubuntu1604-6z37`

[2018-02-28 03:48] jin commented on #4663
@buchgr can you please provide some steps on how we can reproduce this with a remote caching setup? Is there an existing remote cache server that we can use to reproduce this?

[2018-02-28 04:18] justinsb commented on #4222
I sent a fix (based on @ulfjack 's suggestion) in #4705

[2018-02-28 06:53] aehlig commented on #4731
@ulfjack can you have a look, as you probably know the Skyframe target pattern evaluator best. Thanks.

[2018-02-28 07:01] aehlig commented on #4713
This is a known issue, fixed in https://github.com/bazelbuild/bazel/commit/dbf748c1a0bc7f5e3f2d6b67286d99ec88795f36, regression test added in https://github.com/bazelbuild/bazel/commit/c0e52bce8278243e8fd43f8307b413114d3ebbba

[2018-02-28 07:01] #4713 closed

[2018-02-28 07:10] benjaminp commented on #4731
https://cr.bazel.build/42690

[2018-02-28 07:28] meteorcloudy commented on #4722
Looks like the JDK is installed under `C:/openjdk`, right? We should set JAVA_HOME to the correct place.

[2018-02-28 07:44] meteorcloudy commented on #4722
https://github.com/bazelbuild/bazel/blob/43fd34062f3e1a4eae57209e80aefadf00c1ade6/scripts/bootstrap/buildenv.sh#L98
The problem is, during bootstrap we assume jdk is installed under `C:/Program Files/Java/jdk` if `JAVA_HOME` is not set.
And when running tests, we clean up all environment variables, so `JAVA_HOME` is always missing.

If `JAVA_HOME` is set on the Windows slaves, I think we can fix i

[2018-02-28 07:49] aehlig commented on #4730
Yes. The problem is that here we have a direct, undocumented, call to the bazel server, which was considered an internal interface. Well, it is an internal call, so it probably is OK. Still annoying that none of our usual presubmit tests found it.

Anyway, this is a fix which I plan to submit later today

[code]

[2018-02-28 07:54] philwo commented on #4722
Hi Yun,

Indeed, the used JDK on all machines is Azul Zulu 8 (instead of Oracle JDK). It is installed in C:\openjdk and JAVA_HOME is set to it! :)

If that’s a big problem I can try to move the JDK to Program Files. But maybe setting —test_env is better?

[2018-02-28 07:59] meteorcloudy commented on #4722
Yeah, I agree, I think setting `--test_env` is more robust. Can you do that? :)
I don't know how to deploy to buildkite yet.

[2018-02-28 08:08] aehlig commented on #4719
It would probably help more to ask in the NetBSD community. I'm not sure how many bazel developers are active in NetBSD. You already found the FreeBSD port (https://svnweb.freebsd.org/ports/head/devel/bazel/) which might act as a starting point, but that's all we have at the moment.

CC @jmmv who might be able to help.

[2018-02-28 08:15] aehlig commented on #4359
With shallow clones for tag and `shallow_since` for fixed commits we have a good enough work around to reduce priority.

[2018-02-28 08:58] reforgetYZ commented on #4734
Windows 10 系统 在GitHub 已经下载bazelbuild/bazel  之后不知道怎么用 ,并且tensorflow 运行Android
一直在报这个问题
Error:Execution failed for task ':buildNativeBazel'.

已经把build.gradle 中的bazelLocation 改过了 def bazelLocation = '/usr/bin/bazel'

[2018-02-28 09:05] mhlopko commented on #4726
cc_inc_library shouldn't be used, it covers a very specific use case internally and is strictly less usable than cc_library. It was open sourced accidentally. I revived the ["lets delete cc_inc_library" thread](https://groups.google.com/forum/#!topic/bazel-discuss/mh4BH_0YKU8).

Do you still observe the same problem with `cc_library`?

[2018-02-28 09:50] lberki commented on #3977
@jmillikin-stripe : I hear "P2" then -- that wrapper script should go away very soon, but there is no other urgency.

[2018-02-28 10:02] lberki commented on #4549
Erm, sorry for the radio silence. I don't think making `ijar` a toolchain is a good idea, because then how would Bazel know to use the regular ijar for Java rules and the Kotlin ijar for Kotlin rules?

I'm wondering if it's possible to use `java_common.create_provider` as the way to add Kotlin jars into the Java providers. That way, you can set `use_ijar` to false, then use a Kotlin-specific ijar

[2018-02-28 10:44] jmmv commented on #4719
But there *is* a Bazel port in pkgsrc; it's just incredibly stale... and it doesn't build for NetBSD, hence why `pkg_add` fails.

I don't think there is anything for us to do here, sorry. The only person in the team able to do this is probably myself, and I have no time nor interest to do this. As @aehlig says, someone from the NetBSD community should work on this: first, make Bazel portable to Ne

[2018-02-28 10:44] #4719 closed

[2018-02-28 10:56] buchgr opened #4735 "Remote Caching doesn't work on Windows"
We found that with Bazel 0.11.0 remote caching doesn't work on Windows and thus we also can't post links with tests results for Windows on our CI i.e. https://source.cloud.google.com/results/invocations/dc0510c0-afc6-42b3-8d2e-6d879dec526a/artifacts

The error occurs when running `bazel build //src:bazel.exe` on Windows. We found the problem to be that the remote caching code tries to create a Pat

[2018-02-28 11:06] #4730 closed

[2018-02-28 12:20] laszlocsomor commented on #4735
/cc @tomlu

[2018-02-28 12:28] laszlocsomor commented on #4735
I want to understand better why Bazel tries to create a Path object for /dev/null.

If there's a good reason, then we can support /dev/null on Windows, but we need to special-case it. On Unix, /dev/null is a lot like a file: you can stat it, it has an absolute path. On Windows, the null device is NUL, but it has no absolute path like c:\nul or something. So we can't really create a Path object for

[2018-02-28 12:38] krytarowski commented on #4719
There is no such package. Please reopen.

[2018-02-28 12:58] laszlocsomor opened #4736 "Bazel 0.11.0 regression building Android rules on Windows"
### Description of the problem / feature request:

Bazel 0.11.0 was released with a regression in `tools/android/aar_resources_extractor.py`, making it crash on Windows.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[code]

### What operating system are you running Bazel on?

Windows 10, version 1607

### What's the output of `baz

[2018-02-28 12:58] laszlocsomor commented on #4736
This was fixed at HEAD in https://github.com/bazelbuild/bazel/commit/fc98b44b6181fa4c3efd8613d887970629468d74.

[2018-02-28 12:59] laszlocsomor commented on #4736
@katre : Can we make a 0.11.1 patch release, cherrypicking https://github.com/bazelbuild/bazel/commit/fc98b44b6181fa4c3efd8613d887970629468d74 ?

[2018-02-28 12:59] excitoon commented on #4726
Thank you, it works fine with `cc_library`. Am I right that functionality of `cc_inc_library()/@prefix` is implemented by `strip_include_prefix` attribute of `cc_library()`?

[2018-02-28 13:23] excitoon commented on #4726
Basically, `strip_include_prefix` attribute does not work well with proposed way to include header files:

[2018-02-28 13:26] mhlopko commented on #4726
But if you combine include_prefix with strip_include_prefix it works exactly the same right?

[code]

and you should see:

[code]

[2018-02-28 13:28] excitoon commented on #4726
Thank you. That's right, I've just seen it. But with `cc_library()` with all attributes I can no longer access `inc_library.h` by full path:

[code]

[code]

[2018-02-28 13:51] jmmv commented on #4719
Oh, it was removed over a year ago because it was broken.

Still, my point remains: we do not have the ability to provide this port. It's up to the NetBSD community to step up and do so at this point . Once Bazel works on NetBSD, we can consider setting up a CI build node for it.

[2018-02-28 14:09] dslomov commented on #4735
for the record, `c:\nul` is a valid null file on Windows (any file named `nul` in any directory is a null file; so is `nul.java` or any other extension)

[2018-02-28 15:06] mhlopko commented on #4726
You can make it work by adding includes = [ "." ], right?

[2018-02-28 15:17] katre commented on #4736
Makes sense, I'll start on that today.

[2018-02-28 15:24] katre commented on #3959
Re-opening to create RC for 0.11.1, cherrypicking fc98b44 to deal with #4736 .

[2018-02-28 16:02] laszlocsomor commented on #4735
Thanks, I didn't know that!

[2018-02-28 18:20] katre commented on #3959
Release command:
[code]

[2018-02-28 18:21] katre commented on #3959
The release branch is created, but given the current state of our CI system I do not know if Buildkite can create the release artifacts. @philwo and @buchgr , can you comment?

[2018-02-28 18:24] andrewchant opened #4737 "https://docs.bazel.build/tutorial/ pages show as blank with javascript disabled."
### Description of the problem / feature request:
https://docs.bazel.build/tutorial/ pages show as blank with javascript disabled.

### Feature requests: what underlying problem are you trying to solve with this feature?
Read static documentation without javascript.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Disable javascript,

[2018-02-28 18:29] cgrushko commented on #4718
Jin, can you take a look? (I believe you're the original author)

[2018-02-28 19:01] cushon commented on #4549
I think the idea was not to have a separate ijar that only works for kotlin, but to have a kotlin-aware ijar that works with both kotlin and non-kotlin rules, and has a dependency on proto. If someone didn't want their host tools to depend on proto the wouldn't be able to use kotlin.

But your `java_common.create_provider` sounds workable to me.

I think the second tool is the important part. `ija

[2018-02-28 19:03] cushon commented on #4549
@hsyed can you elaborate? `java_common.create_provider` provides first-class access to the provider that `java_import` uses. Other rules (like the native Android ones) shouldn't care whether a dependency is a `java_import` or a skylark rule using `java_common.create_provider`. If that isn't true, it's something Bazel team is probably interested in improving.

[2018-02-28 19:28] hsyed commented on #4549
@cushon `java_common.create_provider()`  is fine, I didn't mean to suggest that it needs to be updated (Infact the last 2 releases have added things that I was looking for (neverlink and I think exports , I was emulating exports).

I wanted to highlight the naked jar scenario (without providers attached). Hava a look at the sheer amount of [ceremony and bloat](https://github.com/johnynek/bazel-dep

[2018-02-28 19:32] guoshimin opened #4738 "XML test report uses the wrong attribute name for duration"
### Description of the problem / feature request:

XML test report uses the wrong attribute name for duration. According to https://www.ibm.com/support/knowledgecenter/en/SSQ2R2_9.5.0/com.ibm.rsar.analysis.codereview.cobol.doc/topics/cac_useresults_junit.html (and a few other sources,) the attribute name for test duration should be "time", but the reports generated by Bazel uses attribute name "du

[2018-02-28 19:53] jin commented on #4718
@iphydf, what is your Bazel version/commit? This has been fixed by @vladmos in https://github.com/bazelbuild/bazel/commit/ceaed5145f5ad27facd103a79d047cf0e301b4b5#diff-d0efbe851362a2add4518a85575a0c64L296

[2018-02-28 20:40] BenTheElder commented on #4602
I'm pretty sure this is some tests that spin up etcd in process, I don't think this is a bazel bug.

[2018-02-28 20:40] BenTheElder commented on #4602
EG: https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&job=pull-kubernetes-bazel-test#8f40be4f108b60484c33

[2018-02-28 20:41] krytarowski commented on #4719
I consider this as a fatal bug of bazel because it does not work on NetBSD and I'm looking here for volunteers with Java knowledge to help to port it.

[2018-02-28 21:54] gkossakowski commented on #4714
To make it more specific, I'm trying to build a tiny example java target on two different machines that are supposed to be configured exactly the same.
Here's the code: https://github.com/gkossakowski/bazel-scala-example/tree/master/example-java

On one machine:
[code]

and then on another:

[code]

You can see that digest for `external_Slocal_Ujdk_Cjdk-default` is different on both. Why? How I ca

[2018-02-28 23:23] iphydf commented on #4718
[code]

[2018-02-28 23:24] iphydf commented on #4718
Actually, I get the above error on 0.9.0, on 0.10.0 I get a different one:
[code]

[2018-02-28 23:25] iphydf commented on #4718
Ah, and that's scala related, not maven. Ok, confirmed that it's fixed in 0.10.0.

[2018-02-28 23:25] #4718 closed

[2018-02-28 23:48] alxn commented on #1118
Should `--coverage_report_generator` and `--coverage_support` work ([ref](https://docs.bazel.build/versions/master/command-line-reference.html))?

If I pass those parameters to `bazel coverage` it validates them (i.e. there is an error if they don't exist), but it still runs the default scripts inside bazel.

[2018-03-01 00:16] edbaunton commented on #4359
It's a bit of a shame this was done without any community discussion as I would like to have contributed. There appears to be no documentation on the expected date format, nor does there seem to be any tests for the above changeset.

[2018-03-01 02:40] meteorcloudy commented on #4722
Hmmm,, from https://buildkite.com/bazel/bazel-bazel/builds/396#b08da688-2348-4606-932e-45392f4eeab3
It's still failing with the same error with `--test_env=JAVA_HOME`

I found the reason is in testenv.sh, it doesn't respect JAVA_HOME first.
https://github.com/bazelbuild/bazel/blob/38a36ccd369e66a8a9bca8e6753d342a1cec05a1/src/test/shell/testenv.sh#L58

Will send a fix.

[2018-03-01 06:53] ittaiz commented on #3735
@iirina will java_common.compile "respect" the neverlink attribute on a JavaInfo that was created with a neverlink attribute (when it tries to create its own JavaInfo)?

[2018-03-01 09:17] meteorcloudy commented on #4722
Now I see:
[code]

Where is Visual Studio installed?

[2018-03-01 09:23] philwo commented on #4722
Visual Studio 2017 Build Tools are installed in the standard location. You can login to the testing-windows VM and check it out :)

[2018-03-01 09:25] meteorcloudy commented on #4722
Looks like we are using VC 2017 build tools?
https://github.com/bazelbuild/bazel/blob/a07419c8ace66ce3926466b1d53982286bb9bdba/src/main/native/windows/build_windows_jni.sh#L53-L58
This script (used only during bootstrap) doesn't work with VC 2017.

Besides, we still have this [open bug](https://github.com/bazelbuild/bazel/issues/3949) preventing us from completely supporting VC 2017.

So, I would

[2018-03-01 09:26] meteorcloudy commented on #4722
Unfortunately I was blocked from accessing any VM because I'm in China. :(

[2018-03-01 10:25] lberki commented on #4549
And we want to support people using a Kotlin jar without knowing that it's a Kotlin one? Because it we can expect that knowledge, `kotlin_import` is the right thing to do because it keeps Kotlin-specific knowledge in Kotlin rules, where it belongs.

[2018-03-01 12:08] philwo commented on #4722
Hi Yun,

ohh.. I didn't know. I checked with Laszlo and he said VC 2017 build tools should be fine, also our documentation says it's OK to use 2017 tools: https://docs.bazel.build/versions/master/windows.html#build-c - but no problem, we can just downgrade to 2015 tools on CI for now! I have already prepared it, it's just a matter of uncommenting that code in the script ;)

Should we change the do

[2018-03-01 12:09] hatstand opened #4740 "Missing VCRUNTIME140.dll on Windows 7 SP1 -- document dll requirement"
### Description of the problem / feature request:

Cannot run bazel on Windows 7 Enterprise SP1 without admin due to missing VCRUNTIME140.dll

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Run released bazel.exe (v0.11.0) on a fresh Windows 7 Enterprise SP1 install.

### What operating system are you running Bazel on?

Windows 7 En

[2018-03-01 12:12] laszlocsomor commented on #4722
Philipp, sorry for giving you the wrong information, I was also under the impression that VC/VCBT 2017 was fine.

Yes, I think we should change the docs. Philipp, would you do that?

[2018-03-01 12:14] philwo commented on #4722
No worries at all! I was the one pushing for 2017, because I like newer versions 😄

I'll send you a change for the docs later.

[2018-03-01 14:21] DmytroLapshyn commented on #3252
But on the other hand, the apple_rules docs sometimes explicitly advise on using the native Objective C rules, e.g.:

https://github.com/bazelbuild/rules_apple/blob/master/doc/rules-ios.md

[2018-03-01 14:53] katre commented on #3959
Release branch is https://github.com/bazelbuild/bazel/tree/release-0.11.1

[2018-03-01 15:25] jin opened #4742 "Support NDK 17"
r17 is expected to land [in May 2018.](https://github.com/android-ndk/ndk/wiki#release-schedule)

Betas 1 and 2 will be released this month (March) and next month (April) respectively.

 https://android.googlesource.com/platform/ndk/+/ndk-release-r17/CHANGELOG.md

[Relevant changes:](https://android.googlesource.com/platform/ndk/+/master/docs/Roadmap.md#ndk-r17)
- `libc++`/`@androidndk//:toolchain

[2018-03-01 17:09] c4urself commented on #1123
This is something that's not clearly documented, wased a few hours on this. Expectation is that you get `version` and `version_file` work the same way, they do not. `version_file` does set the correct version in the metadata of the Deb but doesn't use that version in the name of the file... https://github.com/bazelbuild/bazel/blob/master/tools/build_defs/pkg/pkg.bzl#L243

[2018-03-01 17:18] hsyed commented on #4549
Yes and no. The no element is that we should attach providers to all jars. For a large repo it is generally best practise that deps should be indirected via `//third_party` this should be the case for Kotlin as well. Beyond best practise Kotlin has 4  facets that have to be modelled in the rules `common`, `jvm`, `native` and `js`. The later 3 are implementations of `common`.  All of the 4 facets c

[2018-03-01 17:53] dflems commented on #2670
@mhlopko Any updates on this? We have a clunky workaround that works for `cc` or `objc` rules, as opposed to the `non_propagated_deps` approach from above that only works for `objc` rules. We'd love if this functionality was built into the `cc`/`objc` rules in a way that's consistent and portable.

[code]

[2018-03-01 17:54] dflems commented on #2670
cc @c-parsons

[2018-03-01 17:59] hsyed opened #4746 "Proposal: Expand Bazel default tools workspace to include more "SDK" elements for rule development."
I haven't re-visited the default workspaces for a while and I didn't do a thorough enough investigation last time when I looked; so apologies if parts of what I am asking for already exists.

When I ported the Kotlin rules I removed all non essential third party libs (guava, dagger, etc) since they weren't really adding much value.

I would make use of the following elements if they were available

[2018-03-01 18:43] brandjon commented on #4708
It's not feasible to make the outputs arg to rule() (whether it's a dict or a function that computes a dict) able to inspect provider values. This is because this map is for predeclared outputs -- outputs that have labels that are known at loading time, before the providers are computed.

You can still generate output files from your provider data, it's just that they can't be predeclared. Rather,

[2018-03-01 18:43] #4708 closed

[2018-03-01 19:11] brandjon commented on #1097
This has been fixed for output functions. Note that the prints will appear twice, because the output function is called once when the target is created (to create its predeclared outputs) and again when its rule implementation is about to be called (to populate ctx.outputs).

Not sure about repository_rule().

[2018-03-01 20:20] gkossakowski commented on #4714
I followed your instructions to go to execroot and then:

[code]

And then I got:
[code]

I was sure I did similar steps yesterday and didn't see any difference. Thanks for the instructions, this is handy. A suggestion: could we have a slow mode in bazel that automates what I just did?

Aside for that, I don't understand why these files are different on the two machines. I suspect that we've built

[2018-03-01 21:09] gkossakowski commented on #4714
Both `cacerts` and `classes.jsa` appear to be jvm-internal stores so I don't think bazel should take them into account when calculating digests. Thoughts?

[2018-03-01 22:30] tybook commented on #4343
Is there any update on this?

[2018-03-02 01:32] fardream opened #4748 "Support "strip_include_prefix" or "includes" attributes in cc_import rules"
### Description of the feature request:

Add `strip_include_prefix` or `includes` attributes to cc_import rules so prefixes can be stripped from the header file paths.

### Feature requests: what underlying problem are you trying to solve with this feature?

Many of our libraries are provided at follows

`include/library_name/headers.h` # -- headers
`lib/library_name.a` # -- Static library
`lib/li

[2018-03-02 01:52] meteorcloudy commented on #4722
@philwo Thank you so much!

[2018-03-02 02:39] #4722 closed

[2018-03-02 02:40] hsyed commented on #4584
I've just finished off preliminary "jars_to_label" analysis skylark (using aspects) for Kotlin.

The [current analysis](https://github.com/bazelbuild/rules_kotlin/pull/40/files#diff-512753d8bc41aa82f338a5360561b267)  is/(will be) doing its best to pick up a label at least a single hop away from `java_import` so that the label should end up being a `java_library` or a `kt_jvm_import`. I think the w

[2018-03-02 02:59] werkt opened #4749 "Bazel performance regression since 0.9"
### Description of the problem / feature request:

0.10 doubled the build time for 100% remote cache hit builds

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Populate a cache with results of a build under 0.9 and 0.10.x, observe the 100% hit rate builds compared between the two.

I happen to have a large number of C++ targets, and

[2018-03-02 06:42] ittaiz commented on #4584
That’s exactly my point...
Irina,
Can we have this behavior flagged maybe? I really think the native rules
are less correct
On Fri, 2 Mar 2018 at 4:41 Hassan Syed <notifications@github.com> wrote:

[2018-03-02 06:59] burkpojken opened #4750 "build-runfiles does not use environment variables set with --action_env"
### Description of the problem / feature request:
We have to set LD_LIBRARY_PATH in our environment for bazel to work since it will not find GLIBCXX otherwize.
We would like to use --experimental_strict_action_env together with --action_env to make sure we have control of the environment and possibility to use the remote cache in the best way.

When  --experimental_strict_action_env is set the com

[2018-03-02 07:22] meteorcloudy commented on #4723
I'm able to reproduce this error after changing the line ending of [greeting.txt](https://github.com/bazelbuild/bazel/blob/master/examples/java-native/src/main/resources/greeting.txt) to the Windows style (`\r\n`)

I suspect git did the conversion when cloning Bazel repo. @buchgr @philwo Can you confirm that?

We can fix this by trimming the content read from `greeting.txt`.

[2018-03-02 08:26] #4723 closed

[2018-03-02 08:53] buchgr opened #4751 "Unexpected IO error (Not a directory)"
[code]

We see this error frequently on macOS. @mhlopko suggested that it's a somewhat known bug in external repositories.

cc: @aehlig @dslomov

[2018-03-02 08:55] buchgr commented on #4723
Thanks Yun! I can confirm that it works now. Yay!

[2018-03-02 09:32] buchgr commented on #4343
@tybook Yes, I am working on resolving this. I expect this to land in about 3 weeks.

[2018-03-02 09:38] buchgr opened #4752 "//src/test/java/com/google/devtools/build/lib:bazel-rules-tests is failing on Windows"
//src/test/java/com/google/devtools/build/lib:bazel-rules-tests fails on Buildkite on Windows.

Can you please provide guidance @meteorcloudy @laszlocsomor @philwo?

[code]

[2018-03-02 09:47] laszlocsomor opened #4753 "android,windows: add regression test to build //examples/android/...:hello_world [duplicate: #3663]"
### Description of the problem / feature request:

Add a regression test to the Windows tests that builds `//examples/android/java/bazel:hello_world`.

### Feature requests: what underlying problem are you trying to solve with this feature?

Avoid future regressions in the Android rules. Bazel 0.11.0 was released with broken android_binary support on Windows.

### What operating system are you run

[2018-03-02 09:49] laszlocsomor commented on #4752
Link please to the buildkite run, i need to see the full logs. The test passes for me locally at 3e4c8c801fab23ed66dc56afad0539e8e296fcc3

[2018-03-02 09:57] laszlocsomor commented on #4752
nvm, found it
please include buildkite links when filing bugs

[2018-03-02 10:03] laszlocsomor commented on #4752
already the first failure is fishy; it's missing "ndk/toolchains/aarch64-linux-android-4.9/prebuilt/linux-x86_64/bin/aarch64-linux-android-ar" from some set, but it is in that set, see [the log](https://storage.googleapis.com/bazel-buildkite-artifacts/1d0d01f8-83fc-4efa-a8bb-9ef4db0be4ec/src%5Ctest%5Cjava%5Ccom%5Cgoogle%5Cdevtools%5Cbuild%5Clib%5Cbazel-rules-tests%5Cattempt_1.log) (warning, it's 8

[2018-03-02 10:04] laszlocsomor commented on #4752
assigning to @jin , last modifier of `AndroidNdkCrosstoolsTest.java`

[2018-03-02 10:06] laszlocsomor commented on #4752
/cc @ahumesky @aj-michael

[2018-03-02 10:29] laszlocsomor commented on #4752
ok i can repro on the testing VM, will investigate now

[2018-03-02 10:49] laszlocsomor commented on #4752
argh, found it.
line endings again.
let me fix and send a patch

[2018-03-02 12:32] jia-kai commented on #1623
A workaround is as following:

Assume you want:
[code]

Then a virtual target `foo_a` can be added to provide the defines:
[code]

[2018-03-02 13:23] jodim commented on #4714
Re: running bazel inside a docker container, you may be interested in https://github.com/nadirizr/dazel .

[2018-03-02 13:26] #4752 closed

[2018-03-02 14:23] laszlocsomor opened #4755 "CI,windows: //src/test/java/com/google/devtools/build/lib/skyframe:SkyframeTests is failing on Windows"
This is only failing on the CI machine, not for me locally, so I'm debugging on the testing CI machine.

Given the track record of the last 2 test failures (https://github.com/bazelbuild/bazel/issues/4752, https://github.com/bazelbuild/bazel/issues/4723), I'll go out on a limb and say this could be another line ending issue.

[code]
(https://buildkite.com/bazel/bazel-bazel/builds/447#254d39b2-459a

[2018-03-02 14:24] laszlocsomor commented on #4755
/cc @buchgr @philwo @meteorcloudy

[2018-03-02 14:40] buchgr commented on #4755
thanks @laszlocsomor ❤️

[2018-03-02 14:42] laszlocsomor commented on #4755
And I found the fix for it, except I don't yet understand why it fixes the test.

[2018-03-02 14:56] katre opened #4756 "Changes to the execution platform don't cause changes to the action key"
User reported that changing the execution platform's remote_execution_properties attribute did not cause an action to be re-run, which is not what they expected. If it had re-run a different result would have been obtained from the remote system.

The issue seems to be that the execution platform doesn't affect the action key.

[2018-03-02 15:41] mmorearty opened #4757 "Feature request: remote cache: Don't wait for uploads to finish"
### Description of the problem / feature request:

It would be nice if, when Bazel is uploading something to the remote cache, that process was nonblocking: The rest of the build proceeded while the upload was taking place, and when the build was done, the command prompt returned even though the upload was still happening in the background.

### Feature requests: what underlying problem are you tr

[2018-03-02 16:00] #1121 closed

[2018-03-02 16:09] werkt opened #4758 "clean short circuit actioncache load since 0.9"
### Description of the problem / feature request:

clean on new daemon loads actioncache (prior to immediately deleting it)

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Under both 0.9 and anything later:

build (has to be significant enough size that startup after shutdown would be noticeable)
shutdown
clean (0.9 will return imme

[2018-03-02 16:10] laszlocsomor commented on #4755
Here's what I know:
- changing "path1" to "path2" in [this line](https://github.com/bazelbuild/bazel/blob/ebb7870e7b88637ce9a76de43c2b4c590ada0c9f/src/test/java/com/google/devtools/build/lib/skyframe/FilesystemValueCheckerTest.java#L295), as I believe it was meant to be but never was, makes the test pass on Windows, but has no effect on test success on Linux
- [this function](https://github.com/ba

[2018-03-02 16:11] laszlocsomor commented on #4755
/cc @janakdr and @haxorz : see my previous comment about Skyframe file state checking; maybe it rings a bell for you; if not, i'll keep debugging on Monday

[2018-03-02 16:14] #4756 closed

[2018-03-02 16:59] jgavris opened #4759 "Feature request: remote cache: Download only / asymmetric caching"
Feature requests: what underlying problem are you trying to solve with this feature?

Piggybacking on https://github.com/bazelbuild/bazel/issues/4757, when I'm away from the office, I often have very asymmetric bandwidth (residential broadband or 4G tethering). It would be great if I could build with a configuration that only pulls artifacts from the remote cache, and does not push them back up.

[2018-03-02 17:39] buchgr commented on #4759
Wouldn't `--remote_upload_local_results=false` work?

[2018-03-02 18:06] jgavris commented on #4759
🤔Forgot about that one. Thanks!

[2018-03-02 18:06] #4759 closed

[2018-03-02 18:28] werkt commented on #4749
This was caused by 3d0a04ddc6b0f4d660256f274ceb3e5c7f654c90

I am attempting to narrow it down.

+@ola-rozenfeld

[2018-03-02 18:40] Androbin opened #4761 "[Feature] `all_files` hierarchy macro"
### Description of the feature request:

Provide an macro `filegroup` target, e.g. `all_files(...)`, which also includes such targets in all sub-modules.

### What underlying problem are you trying to solve with this feature?

Getting rid of `all_files` target hierarchy boilerplate code.
See tensorflow/tensorflow#15758 and tensorflow/tensorflow#16491 for reference.

### Any other information, logs

[2018-03-02 18:43] Androbin commented on #4761
@jart Do you think such macro could be used instead of a separate tool?

[2018-03-02 18:44] Androbin commented on #4761
@ittaiz Could the Skylark rules use this?

[2018-03-02 19:13] ittaiz commented on #4761
Yes. It still means we need to annotate all packages but at least not tie them together

[2018-03-02 19:49] #3137 closed

[2018-03-02 20:21] buchgr commented on #3959
cc: @vbatts

[2018-03-02 20:43] buchgr commented on #4749
3d0a04d does cause additional `stat` calls. Could it be that?

[2018-03-02 20:43] vbatts commented on #3959
hey hey! Been a while since you CC'ed, but usually blogtrottr.com does a good job emailing as soon as you tag the releases but didn't get notification of 0.11.0 :thinking:

https://copr.fedorainfracloud.org/coprs/vbatts/bazel/builds/ has up to 0.10.1

[2018-03-02 20:44] vbatts commented on #3959
perhaps i'll just jump to 0.11.1 once it's out?

[2018-03-02 20:45] ola-rozenfeld commented on #4749
So far George and I located two culprits: the extra digest check after download, and the isDirectory check on each output file. Do you know of any other calls added?

[2018-03-02 20:47] buchgr commented on #4749
@ola-rozenfeld no I don't. With `stat` calls I was referring to the `isDirectory` check.

[2018-03-02 20:52] ola-rozenfeld commented on #4749
That isDirectory check does nothing anyway, btw. Since the output file doesn't exist at that point, it will always return false. I noticed this a few days ago and I think I even filed a bug, but can't find it now. Anyway, I was going to fix it. It just happens wo work with our tests, because our RemoteWorker doesn't care that we get the output as OutputFile rather than OutputDirectory.

[2018-03-02 20:59] buchgr commented on #3959
@vbatts I apologize. I have just noticed this myself a few hours ago and that's why I pinged you :-). It's up to you. 0.11.1 should be out next week.

We are currently working on a new release process and we'll be able to set it up so that we can automatically send you an e-mail. Again, apologies for not pinging you.

[2018-03-02 21:44] vbatts commented on #3959
Right on. I'll wait til 0.11.1 :-)

On Fri, Mar 2, 2018, 15:59 Jakob Buchgraber <notifications@github.com>
wrote:

[2018-03-02 21:55] #4068 closed

[2018-03-02 22:08] yifan-gu opened #4762 ""Algorithm negotiation fail caused by git@github.com:bazelbuild/bazel-skylib""
### Description of the problem / feature request:

My `bazel build` returns the following error:
[code]

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

I was running `bazel build tarball` under the root dir of the [tectonic installer](https://github.com/coreos/tectonic-installer) probject, and hit this error. But it seems that the e

[2018-03-02 22:14] jin commented on #4068
Hi everyone, NDK r16 support has been merged into master. It's not in a release yet, so you will need to build Bazel from master to use it. Please open a new issue if you stumble upon any bugs or have a feature request. Thanks!

[2018-03-03 01:47] werkt commented on #4749
This is the source of the majority of the time lost. I am amazed that this stat did not completely cripple others' builds immediately - the only thing that made it tenable on my side was the use of a ramdisk output fs.

https://github.com/bazelbuild/bazel/blob/46f7106d0b20ae0ba245c3609545600ae379cea4/src/main/java/com/google/devtools/build/lib/remote/TreeNodeRepository.java#L315-L318

Of the total

[2018-03-03 07:49] dmytrol opened #4763 "Make objc_library copy public headers to a subfolder named after the target name"
### Description of the problem / feature request:

It would be nice to have the obj_library rule copy the public headers specified in the `hdrs` attribute to a subfolder in genfiles named after the objc_library rule name (or even better, to have a dedicated `library_name` attribute for that purpose)

### Feature requests: what underlying problem are you trying to solve with this feature?

This wou

[2018-03-03 07:56] dmytrol commented on #4708
Thanks! For others who might stumble upon this discussion: make sure you are returning the DefaultOutput provider from your rule if the rule has no predeclared outputs but only generated ones. Otherwise, the rule won't be built if this is a "terminal" rule in your rule chain (i.e. there are no other rules consuming the generated outputs)

[2018-03-03 17:47] koleto commented on #4578
I have the same error here on Beaglebone Debian 8

ERROR: /home/debian/tf/bazel/src/main/protobuf/BUILD:25:2: Java compilation in rule '//src/main/protobuf:extra_actions_base_java_proto' failed: Worker process sent response with exit code: 1.
java.lang.InternalError: Cannot find requested resource bundle for locale en_US
	at com.sun.tools.javac.util.JavacMessages.getBundles(JavacMessages.java:128)

[2018-03-03 19:16] redisliu commented on #4314
FYI: I encountered similar issue recently, which got fixed with:
[code]
Reference: https://stackoverflow.com/questions/45276830/xcode-version-must-be-specified-to-use-an-apple-crosstool

[2018-03-04 06:10] ittaiz commented on #4544
Any update about the strict deps reapply?
On Tue, 27 Feb 2018 at 18:48 Irina Iancu <notifications@github.com> wrote:

[2018-03-04 12:40] davido commented on #4762
JGit version is stale in Bazel distribution: v4.0.1.201506240215-r.
This version uses stale version of JSch library: 0.1.51.

This library only contains weak cryptographic algorithms, that was recently removed by GitHub. See this announcement: [1].

Older gerrit versions were affected by this problem as well, see this discussion: [2].

* [1] https://githubengineering.com/crypto-removal-notice
* [2

[2018-03-04 12:44] davido commented on #4762
Should be fixed by: [1].

* [1] https://githubengineering.com/crypto-removal-notice

[2018-03-04 20:29] brandjon commented on #4708
See [here](https://docs.bazel.build/versions/master/skylark/rules.html#requesting-output-files) for more on declaring default outputs via the DefaultInfo provider. (This too was recently rewritten so no worries if you haven't seen it.)

[2018-03-05 05:43] guoshimin commented on #4738
@aehlig Why is this marked as feature request?

[2018-03-05 05:43] dmytrol commented on #4708
Thanks Jon - that was exactly _the_ documentation update that saved my day!

[2018-03-05 08:06] buchgr commented on #4755
It very much seems as if these tests are flaky on Windows.

[2018-03-05 08:27] laszlocsomor commented on #4755
@buchgr : why do you think? I could reliable repro this on the testing CI VM.

[2018-03-05 08:29] buchgr commented on #4755
@laszlocsomor The postsubmit https://buildkite.com/bazel/bazel-bazel pipeline sometimes succeeds.

[2018-03-05 09:01] mhlopko commented on #2670
No progress on this so far. We're doing quite big refactorings for Skylark API for C++ rules, and Skylark API for C++ toolchain, and I don't plan to work on "includes" (there's a bunch of problems) before we're done with apis. Current estimate is ~Q4/2018 for includes.

[2018-03-05 09:49] mhlopko commented on #4524
Still working on (fully documented :) present.

[2018-03-05 09:51] laszlocsomor commented on #4738
Adding "Under investigation" because I'm not sure this bug is still relevant, see my comment: https://github.com/bazelbuild/bazel/pull/4764#issuecomment-370355271

[2018-03-05 09:59] or-shachar commented on #4582
Hey fellows! Do we have an updated date for this RC?

[2018-03-05 10:01] laszlocsomor commented on #4740
Thanks for reporting this issue!

I think this is working as intended, because:
- Bazel needs additional software to run anyway (MSYS shell, Python, VC++, etc.)
- Bazel needs a C++ compiler (VC++ on Windows) and I don't see that requirement going away any time soon
- installing VC 2013 or newer will install runtime DLLs for all VC versions

I'm not 100% sure on the last point, but I believe it is

[2018-03-05 10:09] laszlocsomor commented on #4746
pulling in @dslomov and @laurentlb , because this request relates to extensibility and to workspaces

[2018-03-05 10:11] laszlocsomor commented on #4748
@mhlopko -- can you please comment on feasibility?

[2018-03-05 10:11] AnchoretBaladev opened #4765 ""error: invalid 'asm': invalid operand for code 'w' " while cross compiling tensorflow for Raspberry Pi 3 using Bazel"
### Description of the problem / feature request:

****from /home/baladev/.cache/bazel/_bazel_baladev/da0e175f87e998fe3d550279550cec2c/external/arm_compiler/bin/../lib/gcc/arm-linux-gnueabihf/4.9.3/../../../../arm-linux-gnueabihf/include/c++/4.9.3/cstdlib:72,
                 from tensorflow/core/platform/posix/net.cc:19:
tensorflow/core/platform/posix/net.cc: In function 'bool tensorflow::interna

[2018-03-05 10:12] laszlocsomor commented on #4748
...and assign a priority label if you plan to work on this

[2018-03-05 10:15] hatstand commented on #4740
Perhaps the documentation just needs updating to include VC++ as a hard requirement then? [According to the current docs](https://docs.bazel.build/versions/master/windows.html), it's only required if you want support for C++ rules.

[2018-03-05 10:25] laszlocsomor commented on #4750
@burkpojken : FYI, a workaround for the glibcxx problem is to install OpenJDK 8 and export `JAVA_HOME` to point at it, e.g.:

[code]

Re: build-runfiles: do you see with with `bazel run` by any chance? It seems that in that case Bazel won't use the normal action execution machinery to run "build-runfiles", see:
- https://github.com/bazelbuild/bazel/blob/96145511b34a2d7be834e3eb05927674e875c813/src

[2018-03-05 10:28] laszlocsomor commented on #4750
Assigning to @ulfjack who authored the relevant lines.

[2018-03-05 10:39] laszlocsomor commented on #4740
I agree, that's a fair point. Let me repurpose the bug for that!

[2018-03-05 10:40] laszlocsomor commented on #4740
@hatstand : Would you be willing to contribute a PR to document this?

[2018-03-05 10:41] laszlocsomor commented on #4751
Is anyone investigating?

[2018-03-05 10:42] laszlocsomor commented on #4758
Are we talking about the local action cache or a remote one?

[2018-03-05 10:43] werkt commented on #4758
The local action cache.

On Mar 5, 2018 5:42 AM, "László Csomor" <notifications@github.com> wrote:

[2018-03-05 10:46] hatstand commented on #4740
Sure. No promises on when though.

[2018-03-05 11:54] mhlopko commented on #4751
I just tried to collect evidence that this is an instance of existing issue, but I cannot find any. But I vaguely remember strange issues with skylark repositories on mac like this one.

[2018-03-05 11:57] laszlocsomor commented on #4751
Thanks. Marcel, may I assign this to you or is there someone for whom it's a better fit?

[2018-03-05 11:58] laszlocsomor commented on #4765
You are using Bazel 0.8.0, that is a rather old version. Could you try with the latest release (version 0.11.0)?

[2018-03-05 11:58] mhlopko commented on #4751
I'd suggest @aehlig (for external repositories expertise) or @philwo (for mac expertise). I don't plan to investigate this issue further.

[2018-03-05 12:02] laszlocsomor commented on #4751
Thanks! Assigning to @philwo because @aehlig is out on vacation.

[2018-03-05 12:03] mhlopko commented on #4748
Definitely feasible, and is actually on our roadmap in Q2-Q3/2018.

The longer story is that we plan to rewrite cc_import in skylark, and only then work on more features for it. But for rewrite we first need the Skylark API to the C++ rules (#4570)

[2018-03-05 12:03] mhlopko commented on #4748
cc @oquenchil

[2018-03-05 12:07] illicitonion opened #4766 "Clarify remote execution's output file/directory format"
As per https://groups.google.com/forum/#!topic/bazel-buildfarm/BopNFI0dRiA

In a `google.devtools.remoteexecution.v1test.Action` (and a corresponding `google.devtools.remoteexecution.v1test.ActionResult`) specified in https://github.com/googleapis/googleapis/blob/133a69477b59c7f56bc290fa9f81750acc218ba4/google/devtools/remoteexecution/v1test/remote_execution.proto, it is unclear whether the litera

[2018-03-05 12:14] laszlocsomor commented on #4740
Thanks! If you start working on it, please ping this thread, so anyone else who may also work on it won't step on your toes.

[2018-03-05 12:15] laszlocsomor commented on #4740
Marking it P4 to indicate that I hope for external (non-Bazel-core-team) help.

[2018-03-05 12:18] illicitonion opened #4767 "Clarify expected remote execution's ActionResult nesting levels"
As per https://groups.google.com/forum/#!topic/bazel-buildfarm/BopNFI0dRiA

`google.devtools.remoteexecution.v1test.ActionResult` is specified in https://github.com/googleapis/googleapis/blob/133a69477b59c7f56bc290fa9f81750acc218ba4/google/devtools/remoteexecution/v1test/remote_execution.proto but it is unclear how nested the root is expected to be. Here are two possible interpretations for an `ou

[2018-03-05 12:20] illicitonion commented on #4766
@ulfjack indicated a preference for no leading slashes in https://groups.google.com/d/msg/bazel-buildfarm/BopNFI0dRiA/E9roLAFPBgAJ - do you agree with correspondingly changing the "capture the entire working directory" value to the empty string?

[2018-03-05 12:21] ulfjack commented on #4766
Empty string works for me, yes.

[2018-03-05 12:59] laszlocsomor commented on #4763
I think the `genrule`-based approach you are applying is the right way to solve this problem.

For sake of convenience you could introduce a [Skylark macro](https://docs.bazel.build/versions/master/skylark/macros.html) that creates the `objc_library` rule together with the `genrule`, so you could just write `my_objc_library` and the macro would create the right rules.

[2018-03-05 12:59] laszlocsomor commented on #4763
@aragos please triage this

[2018-03-05 13:00] laszlocsomor commented on #4763
/cc @c-parsons

[2018-03-05 13:33] laszlocsomor commented on #4577
This is infeasible with Bazel's current design. `glob` doesn't cross package boundaries on purpose: Bazel relies on packages being independent of each other. @laurentlb knows the exact details.

I second everything @jart said in her [comment](https://github.com/bazelbuild/bazel/issues/4577#issuecomment-363849176).

[2018-03-05 13:33] #4577 closed

[2018-03-05 13:38] laszlocsomor commented on #4761
@Androbin -- sorry to say this but this feature request is infeasible for the same reason as https://github.com/bazelbuild/bazel/issues/4577 is, see my [comment](https://github.com/bazelbuild/bazel/issues/4577#issuecomment-370419822). Bazel assumes packages are independent of each other.

But you can achieve this outside of Bazel! There's an excellent tool called [Buildozer](https://github.com/baz

[2018-03-05 13:38] #4761 closed

[2018-03-05 13:44] laszlocsomor commented on #4762
@davido : Thanks for commenting and for your commit! Is it ready for review?

[2018-03-05 13:52] laszlocsomor commented on #4734
/cc @ahumesky @aj-michael @dkelmer

[2018-03-05 13:55] ola-rozenfeld commented on #4766
Not sure I understand -- the field comments are very explicit about this, all paths are *relative* to the input root: https://github.com/googleapis/googleapis/blob/master/google/devtools/remoteexecution/v1test/remote_execution.proto#L635

[2018-03-05 14:00] ola-rozenfeld commented on #4767
Agreed that we should clarify https://github.com/googleapis/googleapis/blob/master/google/devtools/remoteexecution/v1test/remote_execution.proto#L675, in particular replace "input root" with working directory, but all paths are explicitly relative to the working directory. They never begin with a slash. In the dir/file case, the output tree is:

output_directories: {
  path: "dir"
  tree_digest: "

[2018-03-05 14:14] mhlopko commented on #1702
Long done. Closing.

[2018-03-05 14:14] #1702 closed

[2018-03-05 14:15] werkt commented on #4767
This says that "/" is a valid path, and that trailing slashes are absolutely forbidden.  It doesn't indicate whether leading slashes are allowed:
https://github.com/googleapis/googleapis/blob/133a69477b59c7f56bc290fa9f81750acc218ba4/google/devtools/remoteexecution/v1test/remote_execution.proto#L326-L330

This refers to a message definition that does not exist, and gives no indication as to how it

[2018-03-05 14:27] excitoon commented on #1698
This is the same issue as #287.

[2018-03-05 14:30] ola-rozenfeld commented on #4767
Oh, okay, I am surprised that we said "/" is allowed. I understand the
meaning was "capture the entire working directory tree, including the
inputs", but I suspect this should just be disallowed instead.
Alternatively, the path for this case should be empty instead of "/",
because "/" is misleading. And in any case, the output files and
directories for such an action output will be pathed relative

[2018-03-05 14:36] AnchoretBaladev commented on #4765
@laszlocsomor i have tried with Bazel 0.11.0 but the output is still same

[2018-03-05 14:40] aragos commented on #4763
I agree with @laszlocsomor that this is best solved using the genrule + macro approach.

`objc_library` is complex enough and I'd prefer removing functionality rather than adding more, unless there is no other way to solve a problem. As there is a workaround here I don't think a change to the rule is warranted.

@sergiocampama in case he has an opinion.

[2018-03-05 14:40] #4763 closed

[2018-03-05 14:41] werkt commented on #4767
I would prefer if we had a stringspec (or maybe another type) for these to conform to, and refer to in all three of these locations (plus wherever else they may exist) so that we DRY and don't end up with more transcription issues.

[2018-03-05 14:44] koleto commented on #4578
debian@beaglebone:~/tf/bazel$ java -version
java version "1.8.0_161"
Java(TM) SE Runtime Environment (build 1.8.0_161-b12)
Java HotSpot(TM) Client VM (build 25.161-b12, mixed mode)

[2018-03-05 14:55] iirina commented on #4544
I didn't find the culprit (yet) that made a test fail (why the change was rolled back). Since this is not critical, I'm not allocating a lot of time for the roll-forward.

[2018-03-05 14:56] iirina commented on #3735
Yes!

[2018-03-05 15:11] hatstand commented on #4740
https://github.com/bazelbuild/bazel/pull/4768

[2018-03-05 15:12] helenalt commented on #592
@cvcal Is this related to the work you're doing in #4502

[2018-03-05 15:15] helenalt commented on #664
@mj-harvey given your suggested workaround, is there still work request for Bazel here? Perhaps documentation?

[2018-03-05 15:16] davidstanke commented on #662
@mj-harvey Is this still relevant? (Can we move all discussion to #664?)

[2018-03-05 15:22] davido commented on #4762
@laszlocsomor I wasn't able to test it in my dev environment and was hoping to get verification feedback from Bazel CI against gerrit CL. Unfortunately the verification firehose doesn't seem to work?

[2018-03-05 15:22] davidstanke commented on #525
Closing this, b/c the CentOS 5 is now quite old. (https://wiki.centos.org/Download)

...if we feel it's useful in general to add features to facilitate compiling to older kernels, please open an issue with the proposed solution.

[2018-03-05 15:22] #525 closed

[2018-03-05 15:23] helenalt commented on #1258
@katre is this going to be addressed by platforms & toolchains work?

[2018-03-05 15:26] helenalt commented on #599
Based on the thread, seems like this issue is resolved. @yurivict please re-open if not, and provide additional context.

[2018-03-05 15:27] davidstanke commented on #119
@katre Will this still be an issue when platforms/toolchains are complete?

[2018-03-05 15:29] katre commented on #1258
This is unrelated, since the platform-specific toolchain would still have hard-coded paths. This would need to be fixed by the CC rules themselves.

[2018-03-05 15:30] helenalt commented on #577
@laszlocsomor do you have a proposal for addressing this?

[2018-03-05 15:30] katre commented on #119
In the very long term, as we remove uses for the `--cpu` flag, yes, but that's not going to be anytime soon.

[2018-03-05 15:31] davidstanke commented on #555
@cgrushko Sounds like a good idea. Can you submit a PR to that repo?

[2018-03-05 15:33] laszlocsomor commented on #4762
Yes, we've been replacing our Jenkins-based CI with Buildkite -- [details are here](https://groups.google.com/d/msg/bazel-dev/dQ6_Twlm9Yc/vf9YC1FPDAAJ).

Could you please create a PR instead of a Gerrit code review? Since Buildkite doesn't support Gerrit, we can no longer trigger presubmits from Gerrit reviews, only from GitHub PRs.

[2018-03-05 15:34] davidstanke commented on #243
@philwo Do you have a recommendation here?

[2018-03-05 15:40] davido commented on #4762
Seriously, you are telling that me - Gerrit Code Review maintainer -  to stop using Gerrit and prefer GitHub instead? That pretty much sucks.

[2018-03-05 15:40] davidstanke commented on #751
@mhlopko what do you recommend?

[2018-03-05 15:52] laszlocsomor commented on #4762
I'm sorry about that.

I also like the Gerrit UI more than the GitHub UI, alas it's not my decision.

[2018-03-05 15:54] laszlocsomor commented on #4762
Also, AFAIK there's no Buildkite integration for Gerrit. What can we do?

[2018-03-05 15:58] #662 closed

[2018-03-05 15:59] mj-harvey commented on #664
A wrapper completely fixed this for me.

[2018-03-05 15:59] #664 closed

[2018-03-05 16:02] davido commented on #4762
It shouldn't be hard to create Gerrit integration with any system. But that's the problem for another day. I will upload GitHub PR later today.

[2018-03-05 16:13] aj-michael commented on #4734
Huh. This is weird. I can reproduce (on Windows, and not on Linux, per the OP).

[2018-03-05 16:15] aj-michael commented on #4734
On Windows, these are the actions that get run when the input to the manifest generator changes:

[code]

[2018-03-05 16:18] #4740 closed

[2018-03-05 16:24] cgrushko commented on #555
Does the following make sense? Should we include more files?

[code]

[2018-03-05 16:25] aj-michael commented on #4734
The next action should be

[code]

which has params file:

[code]

[2018-03-05 16:47] yifan-gu commented on #4762
@davido Thank you for the PR! So make my build successful without waiting for the PR and release, what should I do? Should I downgrade the bazel or build a new bazel from the the master?

[2018-03-05 16:49] davido commented on #4762
@yifan-gu Two libraries used by Bazel are outdated, so obviously, it wouldn't help to downgrade. Just apply my CL (fetch it from Gerrit) and build custom Bazel version from master my CL applied should fix your problem.

[2018-03-05 16:50] yifan-gu commented on #4762
@davido Thank you, let me try.

[2018-03-05 16:51] davido commented on #4762
Here is the link to cherry-pick the CL: "git fetch https://bazel.googlesource.com/bazel refs/changes/10/43610/2 && git cherry-pick FETCH_HEAD".

[2018-03-05 16:54] kishankarun commented on #4314
Thanks, @davido, all

[2018-03-05 16:55] aj-michael commented on #4734
If we don't use manifest_values, we do trigger the resource processing action, but then we go no further...

[2018-03-05 16:59] aj-michael commented on #4734
I attached a debugger and confirmed that the resource processing action is created with two inputs:

[code]

AFAICT, the only difference between the actions created on Linux and Windows is whether we unconditionally use param files.

Laszlo, I'm thinking there is an underlying Windows issue here

[2018-03-05 17:03] laszlocsomor commented on #4734
Adam, thanks for figuring that out!

I wouldn't rule that out either :)

What's the set of inputs for the same action on Linux, do you know?

[2018-03-05 17:17] aj-michael commented on #4734
I have not debugged it on Linux - however, from reading the code it should be the same. I can verify if you'd like. But since we create the action on Windows to have `test_merged/test/AndroidManifest.xml` as an input - and we've verified that `test_merged/test/AndroidManifest.xml` is changing during the build, the fact that the resource processing action is not being rerun seems to be an increment

[2018-03-05 17:20] aj-michael commented on #4734
Also, I think I've ruled out the param file usage as the culprit. I built a Bazel on Linux that unconditionally uses param files for the resource processing action - and it did not have this bug.

[2018-03-05 17:23] laszlocsomor commented on #4734
Ok, thanks!

Hmm, I've been debugging an issue last week (issue #4755) that looked similar to this one: on Windows we didn't detect that a file changed. I didn't manage to continue debugging today because of distractions, but I'm eager to continue tomorrow.

[2018-03-05 17:24] laszlocsomor commented on #4755
A wild guess, given the symptoms of issue #4734 : there might be a bug on Windows in detecting file changes.

[2018-03-05 17:46] gkossakowski opened #4769 "localjdk's digest includes machine-dependent bits"
### Description of the problem / feature request:

Bazel's localjdk target includes files that are machine-dependent and have non-reproducible content. The files that I found problematic are: `classes.jsa` and `cacerts`. Both seem to be a JVM-internal storages that should be excluded from the digest computation.

The non-reproducible content of `classes.jsa` came up with me testing the same bazel

[2018-03-05 17:48] gkossakowski commented on #4714
I tried the idea of using bazel build just from the docker container to enforce reproducibility but that doesn't work due to localjdk including non-reproducible bits: #4769

[2018-03-05 17:50] aj-michael commented on #4734
Possibly relevant observation from debugging: I think that we are always creating RegularFileStateValues for test_merged/test/AndroidManifest.xml with a FileContentsProxy object with ctime 0.

[2018-03-05 17:58] gkossakowski opened #4770 "Bazel's own build is not reproducible on Mac"
### Description of the problem / feature request:

We build bazel out of a pinned source code in `-dist.zip` downloaded from https://github.com/bazelbuild/bazel/releases/download.
Bazel is built with the `./compile.sh` on each Mac laptop separately. It turns out that despite all Macs having the same configuration, bazel's build digests are different. E.g. the ijar on each machine has a different h

[2018-03-05 17:59] gkossakowski commented on #4714
I filed a separate issue for bazel's own build not being reproducible on Mac: https://github.com/bazelbuild/bazel/issues/4770
This blocks the remote cache sharing between Mac machines; not sure if intentionally or by design, though.

[2018-03-05 18:00] #3988 closed

[2018-03-05 18:02] ola-rozenfeld commented on #4749
I have a patch in review that removes all three I/O instances thus far. Should be in soon.

[2018-03-05 18:09] aj-michael commented on #4734
debugging on Linux I got a ctime 1520273202 (Monday, March 5, 2018 6:06:42 PM) when creating the RegularFileStateValue for that file. I see in WindowsFileSystem.java:

[code]

So I guess this is intentional?

[2018-03-05 19:34] rosun82 opened #4772 "Adding a "warn" function to skylark"
### Description of the problem / feature request:

Currently skylark provides a "print" function, which produce a line prefixed with "DEBUG". It is often useful to print a line with prefix "WARNING", however, this is no such function right now.

[2018-03-05 20:28] alexeagle opened #4775 "Bad UX when something is corrupted on Windows"
I don't know how I got into this state, my previous build succeeded a few days ago, then I tried to run bazel today and it immediately fails like this:
[code]

I tried deleting this folder with explorer.exe and it says the files are open in some program, but I closed all terminal windows and don't know where there could still be a bazel server running.

I opened Windows Task Manager and opened the

[2018-03-05 20:32] brandjon commented on #4366
This happens because private attributes are internally name-mangled to make them (almost) inaccessible to users in BUILD files. Perversely, you can actually use them in templates if you access them as %{$version} instead of %{_version}. I don't recommend relying on that behavior as we'll surely want to break it (eventually) and use %{_version} instead.

[2018-03-05 21:41] gkossakowski opened #4776 "Measure the remote cache hit tracked per rule"
### Description of the problem / feature request:

An _easy_ way to measure the remote cache hit tracked per rule. The output should look like:

[code]

### Feature requests: what underlying problem are you trying to solve with this feature?

Have a global caching health check for bazel builds. This would be used for alerting: if suddenly the cache hits rate drops (e.g. after a bazel upgrade), it

[2018-03-06 00:04] etnu opened #4777 "NDK r16 missing standard library functions"
### Description of the problem / feature request:

When compiling with NDK 16, certain C++ standard library headers fail to locate their C counterparts. For instance:

external/androidndk/ndk/sources/cxx-stl/llvm-libc++/include/cmath:321:9: error: no member named 'isless' in the global namespace
using ::isless;
      ~~^
external/androidndk/ndk/sources/cxx-stl/llvm-libc++/include/cmath:322:9: erro

[2018-03-06 00:05] etnu commented on #4777
@jin

[2018-03-06 00:10] alexeagle opened #4778 "On Windows, empty args aren't wrapped with quotes, leads to wrong argv"
I add some empty args with an action, like this
[code]
On linux/mac, the program is run with
`my_action '' hello`
so I parse two arguments.

On windows it's run with
`my_action  hello`

I can make a minimal repro if that's useful

[2018-03-06 00:20] alexeagle commented on #4778
Interestingly if I spill to a params file, it contains
[code]

[2018-03-06 03:06] siddharthab opened #4779 "cc_proto_library does not provide list of built lib files"
### Description of the problem / feature request:

CcSkylarkApiProvider from cc_proto_library always contains an empty list for libs. This prevents us from using the provider to ascertain which libraries need to be linked. An example of how we use the provider is [here](https://github.com/grailbio/rules_r/blob/fe60ad3630cfb56b5166dafea36c5c83f8a38806/R/defs.bzl#L210). The provider does contain exp

[2018-03-06 03:39] codesuki commented on #4461
@jin  Hi is there any progress on this?

We definitely want to have this, too.
According to this issue protobuf-java will scrap lite support.
https://github.com/google/protobuf/issues/4314

Also we are using any which doesn't seem to work with lite.

[2018-03-06 03:49] cvcal commented on #592
Definitely related.
I think it is a duplicate of the same concern: the /etc/ location is probably staying, for the reasons mentioned above. The per-workspace location and /etc/ location, combined, probably are enough to address this, since bazelrcs can import other files from arbitrary paths.

Unfortunately, I don't think we will be making it possible to modify the system-wide location: these path

[2018-03-06 03:53] pmbethe09 opened #4780 "Regression in external cc_proto_library after f43df1e29765f75e02838e4139417e914b3ee812"
### Description of the problem / feature request:

After f43df1e29765f75e02838e4139417e914b3ee812
building a cc_proto_library from a remote repo results in an error.

ERROR: /private/var/tmp/_bazel_pmbethe/d03eb8f816153c36c4229eeab3f690b4/external/com_github_pmbethe09_dtac/cards_proto/BUILD:8:1: Generating C++ proto_library @com_github_pmbethe09_dtac//cards_proto:cards_proto failed (Exit 1)
bazel-

[2018-03-06 04:12] pmbethe09 commented on #4780
Ah, and you will also need protobuf, say 3.5.1. in your WORKSPACE

PROTO_VERS = "3.5.1"
http_archive(
    name = "com_google_protobuf",
    sha256 = "1f8b9b202e9a4e467ff0b0f25facb1642727cdf5e69092038f15b37c75b99e45",
    strip_prefix = "protobuf-" + PROTO_VERS,
    urls = ["https://github.com/google/protobuf/archive/v" + PROTO_VERS + ".zip"],
)

[2018-03-06 06:09] mrkkrp commented on #4612
I'll try to find out what is going on once I have some free time :)

[2018-03-06 06:28] burkpojken commented on #4750
Hmm, not sure it is the reducing the env that made the build time so much shorter, I will have to investigate that more, so ignore that for now.
Sorry

[2018-03-06 07:33] laszlocsomor commented on #4750
The reduced build time was likely due to caching. Bazel reuses build outputs from previous builds as much as it can.

[2018-03-06 08:57] laszlocsomor commented on #4772
/cc @vladmos

[2018-03-06 09:08] laszlocsomor commented on #4775
Actually the DEBUG messages are already removed. Are you using Bazel 0.11.0?

[2018-03-06 09:17] laszlocsomor commented on #4778
Yes, this is definitely a bug.

[code]

[2018-03-06 09:26] laszlocsomor commented on #4778
...I should've added that the code is a demonstration of how empty args work on Windows.

Apparently `''` is taken literally but `""` means an empty string.

FYI here's an essay about cmd.exe quoting rules: https://blogs.msdn.microsoft.com/twistylittlepassagesallalike/2011/04/23/everyone-quotes-command-line-arguments-the-wrong-way/

[2018-03-06 09:28] laszlocsomor commented on #4778
/cc @meteorcloudy

[2018-03-06 09:29] #4222 closed

[2018-03-06 10:11] mhlopko commented on #751
I'm glad you're not using cc_library to produce shared libraries that are supposed to be consumed outside of the bazel build. That said, I'm aware of limitations of cc_binary when producing shared library. This all will be solved by [transitive-libraries](https://docs.google.com/document/d/1d4SPgVX-OTCiEK_l24DNWiFlT14XS5ZxD7XhttFbvrI/edit), currently scheduled to be finished by EO2018.

Until then

[2018-03-06 10:23] laszlocsomor commented on #4780
/cc @mikelikespie @c-parsons

[2018-03-06 11:10] erickj commented on #1943
is there an update on the status of this implementation, is it abandoned?

[2018-03-06 11:29] laurentlb commented on #4772
Hi,

Thanks for the feedback. You're not the first person to ask for it, but we have to be careful.

* The person who sees the warning is not necessarily the person who can fix it.
* When warnings accumulate on the output, users will start ignoring them. They will perceive the output stream as spammy. They will not notice when a new warning was introduced.

I think it's hard to do warnings correct

[2018-03-06 12:22] meteorcloudy commented on #4735
https://github.com/bazelbuild/bazel/commit/a729b9b4c3d7844a7d44934bf3365f92633c0a60 seems to already fixed this issue, I don't see the error when using Bazel@HEAD

[2018-03-06 12:40] laszlocsomor commented on #4778
I'm not sure about the right priority, so I'm not assigning any.

[2018-03-06 12:41] #4762 closed

[2018-03-06 12:48] meteorcloudy commented on #4735
I think we can enable remote cache on Windows after 0.12.0 is released.

[2018-03-06 12:48] #4735 closed

[2018-03-06 13:00] ulfjack commented on #4776
I think we have an open bug for basic stats already. I don't think that we were planning to show a breakdown by rule type, but it's something that'd fit into the profile at least.

[2018-03-06 13:08] meteorcloudy commented on #4778
I'm taking a look at this.

[2018-03-06 13:10] laszlocsomor commented on #4778
Thank you Yun!

[2018-03-06 14:01] ccyyy commented on #2833
Is there a solution to this problem?

[2018-03-06 14:06] meteorcloudy commented on #4778
@alexeagle I tried to use @laszlocsomor 's `print-argv.cc` in a skylark rule, it seems the parameters are passed correctly.

See the following files:

execute.bzl:
[code]
and BUILD:
[code]
The output:
[code]
Bazel shows the command is **"bazel-out/host/bin/actions_run/print.exe  hello"**, but actually the empty argument is passed correctly because we invoke the binary through system API instead of

[2018-03-06 14:15] laszlocsomor commented on #2833
@ccyyy : Deleting the directory, as the error message advises, will get Bazel working again.

[2018-03-06 14:16] laszlocsomor commented on #2833
You can also change the output directory with `--output_user_root`.

[2018-03-06 14:23] laszlocsomor commented on #577
@helenalt : I think this bug is obsolete. Using `--experimental_strict_action_env` the PATH envvar is sanitized as expected:

[code]

[2018-03-06 14:27] laszlocsomor commented on #4469
The bugfix was rolled back.

[2018-03-06 14:50] cgrushko commented on #4779
I'll defer to iirina.

[2018-03-06 14:56] helenalt commented on #577
Closing as obsolete (per laszlocsomor comment above).