[2017-10-09 08:09] laszlocsomor commented on #3865
Fixing this bug makes fixing https://github.com/bazelbuild/bazel/issues/3839 trivial.

[2017-10-09 08:26] meteorcloudy commented on #3865
Not actually, because when you run the binary alone, `test-setup.sh` won't be executed at all, right?

I am thinking about adding a library under @bazel_tools, which provides rlocation function for Java/Python/Bash/C++, so that users can just depend on it and don't have to write their own. WDYT?

[2017-10-09 08:29] laszlocsomor commented on #3865
That's similar to what I did in my pending change that fixes this issue. I'll send it to you for review soon.

[2017-10-09 08:30] meteorcloudy commented on #3865
Great, thanks!

[2017-10-09 08:31] laszlocsomor commented on #3865
Actually, I like your idea more than my own! Let me accommodate that in my CL.

[2017-10-09 08:32] laszlocsomor commented on #3865
For the record, this was my approach: https://bazel-review.googlesource.com/c/bazel/+/18250 .

[2017-10-09 09:31] lberki commented on #3859
(need to shed load, I'm a little overwhelmed)

[2017-10-09 11:57] aehlig commented on #3771
New release candidate (rc2).
https://storage.googleapis.com/bazel/0.7.0/rc2/index.html

Baseline (still) 5cc6246d429f7d9119b97ce263b4fd6893222e92,
Cherry-pick e79a1107d90380501102990d82cbfaa8f51a1778 to fix #3863.

--
Klaus Aehlig
Google Germany GmbH, Erika-Mann-Str. 33, 80636 Muenchen
Registergericht und -nummer: Hamburg, HRB 86891
Sitz der Gesellschaft: Hamburg
Geschaeftsfuehrer: Paul Terence Ma

[2017-10-09 15:38] mhlopko commented on #3859
Does the issue persist after `bazel clean --expunge`?

[2017-10-09 15:53] jsonsystems opened #3876 ".deb packaging uses Unix epoch for file mod time. Ubuntu Software Center complains about this"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:

When installing latest  release `bazel_0.6.1-linux-x86_64.deb`, Ubuntu Software Center reports

[code]

### If possible, provide a minimal example to reproduce the problem:

### Environment info
* Operating

[2017-10-09 15:58] onponomarev commented on #3859
Yes.

On Mon, Oct 9, 2017 at 5:38 PM Marcel Hlopko <notifications@github.com>
wrote:

[2017-10-09 16:48] mhlopko commented on #3853
@meteorcloudy

[2017-10-09 17:28] johnynek commented on #2367
@ttsugriy I'm not sure that's really true. The interpreter code is jitted, but the skylark code itself won't be very effectively optimized by the JIT. If it were, then interpreter patterns seen in FP (see free monad, etc...) would not suffer a slow-down on the jvm.

I hear you that there should be a small amount of code in skylark and that a high fraction of build time should be in actions that ar

[2017-10-09 17:34] kevinburke opened #3877 "interesting SHELL environment variable can lead to misleading log messages"
If I set the SHELL environment variable to `/bin/bash -o pipefail`, Bazel reports that the command I tried to run was `-o`. I'm using the latest version of Bazel, 0.6.1, though I was able to reproduce this on 0.5.4 as well. You can probably reproduce it by setting `remote_rest_cache` to some hostname that rejects connections or returns errors.

[code]

See for example https://travis-ci.org/kevinbu

[2017-10-09 20:09] likan999 commented on #3643
The fix of deleting the line `#error This code for 64 bit Unix` doesn't work. It makes the ./compile.sh succeeds, but the resulting bazel can't be used to build scripts/packages:with-jdk/install.sh.

[code]

[2017-10-09 20:55] likan999 opened #3879 "Can't build usable install scripts for 32-bit Linux"
### Description of the problem / feature request / question:
There is no 32-bit installer in the release page, while there is problem building a usable installer on 32-bit OS from sources.

### If possible, provide a minimal example to reproduce the problem:

1. Install prerequisistes listed on [bazel doc](https://docs.bazel.build/versions/master/install-compile-source.html#compile-bazel-from-sour

[2017-10-10 00:10] benjaminp opened #3880 "SymlinkEntry is opaque"
`Runfiles.SymlinkEntry` has a repr that implies it has two properties: `path` and `artifact`. However, neither of these properties are actually exposed to skylark. Having these properties accessible to Skylark would allow writing packaging rules (e.g., `pkg_tar`) that properly embed runfiles trees.

[2017-10-10 00:16] seanmcl commented on #3835
This is particularly hard on CentOS users, since we install through your yum repo and 0.5.2 is no longer published there.

[2017-10-10 00:48] ola-rozenfeld commented on #3771
Hi!

We need https://github.com/bazelbuild/bazel/commit/014408ead21d07bfa41af88b0dba251182e56aff and https://github.com/bazelbuild/bazel/commit/0ebb3e54fc890946ae6b3d059ecbd50e4b5ec840 to be cherrypicked into 0.7.0. Both are fixes to bugs that break our clients. The first one is especially important, since I accidentally broke everyone who passed a non-UUID string as a build request id, which turn

[2017-10-10 06:46] tollytao commented on #3692
@gopinath-r  I also try to do cross-compile for arm 32 bit, I have some questions:
1   CROSSTOOL and BUILD will located in  tensorflow/tools/arm_compiler/, right ?
2   WORKSPACE located in tensorflow/？
3   Where  can I got  arm_compiles , I copy it from bazel/testdata/bazel_toolchain_test_data/tools/arm_compiler， but it showed some errors .
Waiting for your reply!

[2017-10-10 08:02] ulfjack commented on #2475
The changes above are part of an internal refactoring that should make it much more straightforward to define and implement the right Skylark API. However, I haven't even started on the Skylark API yet, and that also needs to be reviewed by the Skylark team. I think that I'll have a Skylark API proposal in the next two weeks, plus some time for reviewing, and then some more time for implementation

[2017-10-10 08:10] meteorcloudy commented on #3853
Yes, I think we should decouple cc_configure, I'll discuss this with the Windows team.

[2017-10-10 08:21] gopinath-r commented on #3692
@tollytao Are you trying to cross compile tensorflow or some other library

[2017-10-10 08:23] gopinath-r commented on #3692
@tollytao
I couldn't succeed in cross-compilation of tensorflow for arm 32 bit. So I compiled the tensorflow from source on the board.
I followed raspberry pi steps and some modification because my cpu is cortex-a15 which is different from raspberry pi and i could get the tensorflow pip package successfully.

I cross-compiled tensorflow-lite which doesn't have python bindings successfully but i wa

[2017-10-10 08:51] eustas commented on #3726
I use `$location` substitution for (JVM) args for this. Works magically, until you try it on windows - bazel does not link `data` dependencies to `.runfiles` at all..

[2017-10-10 09:03] eustas opened #3881 "Windows: "data" dependencies does not link to ".runfiles""
### If possible, provide a minimal example to reproduce the problem:
`BUILD` file:
[code]

Result: `SomeDataTest` can't read file at `System.getProperty("SOME_DATA")`
Path looks OK, but there is no corresponding file in `.runfiles`.

### Environment info
* Operating System:
Fails on Windows
Works fine on OSX, Linux

* Bazel version (output of `bazel info release`):
0.6.1 windows binary distro

[2017-10-10 09:21] eustas commented on #3881
Correct entry appears in `.runfiles_manifest`. But this doesn't help at all, as there is no API to use it.

[2017-10-10 09:42] meteorcloudy commented on #2675
I finally figure out the root cause, it's a one-liner fix. I'll send it soon.

[2017-10-10 10:39] dslomov commented on #3881
We do not have an API to read `.runfiles_manifest` but it is fairly trivial: https://github.com/bazelbuild/bazel/blob/259c9e8014ad960985c0ed99db2a879cdd2ac301/src/main/java/com/google/devtools/build/lib/windows/runfiles/WindowsRunfiles.java#L27

[2017-10-10 11:06] eustas commented on #3881
Thanks.
Unfortunately this solution does not align nicely with "multiple-build-system" concept: use different build systems should use the same source code.

[2017-10-10 11:10] dslomov commented on #3881
We are open to suggestions on how to fix it.
Creating symlinks on Windows is not really an option as it requires admin privileges.

[2017-10-10 11:29] laurentlb commented on #2367
There are many ways to improve the performance. If we want JIT, we can compile the Skylark code to JVM bytecode and run it. Using LLVM or V8 doesn't make sense for Bazel, since the data structure should be shared with the rest of Bazel.

To be honest, we haven't optimized the interpreter yet. There are many things we could do (do faster variable lookups, optimize method resolution, etc.), but that

[2017-10-10 13:13] eustas commented on #3881
Perhaps, least intrusive way is to update `$location` behavior, or make an alternative to it.
Since reading files pointed in manifest already breaks the concept of sandboxing, it won't make the things worse, if `$location` would point to absolute file path.
Such change would instantly fix my [project](https://github.com/google/brotli/blob/master/java/org/brotli/wrapper/enc/BUILD#L81) build on Wind

[2017-10-10 13:31] ittaiz commented on #2475
I see.
Just to make sure I'm not mistaken- if one is using $(location) they
currently can't use remote execution right? Can they use remote caching?
On Tue, 10 Oct 2017 at 11:02 Ulf Adams <notifications@github.com> wrote:

[2017-10-10 13:31] ittaiz commented on #2367
Just as another data point- we built a small WORKSPACE parser and BUILD
parser we'd love to replace with the above
On Tue, 10 Oct 2017 at 14:29 Laurent Le Brun <notifications@github.com>
wrote:

[2017-10-10 14:47] mhlopko opened #3882 "bazel_clean_test broken on ci.bazel.io"
Failing build: http://ci.bazel.io/view/Dashboard/job/bazel-tests/1078/testReport/src_test_py_bazel_bazel_clean_test/exe/src_test_py_bazel_bazel_clean_test_exe/

Commit to blame (I'm still verifying): https://github.com/bazelbuild/bazel/commit/61977f4ae57c877fc28be176f36c28642b276eec

[2017-10-10 14:52] nlacasse opened #3883 "error building packages with visibility with bazel 0.5.4 and rules_go 0.6.0"
### Description of the problem / feature request / question:

I'm using Bazel version 0.5.4, and just upgraded rules_go plugin to 0.6.0.  Now building packages with non-default visibility breaks.

Upgrading Bazel to version 0.6.1 fixes this issue.

### If possible, provide a minimal example to reproduce the problem:
A simple repro package is here:

https://github.com/nlacasse/rules_go/tree/visibil

[2017-10-10 15:03] katre commented on #3883
If this is fixed in Bazel 0.6.1, is there anything further to do? We're not going to be able to patch a fix into 0.5.4.

[2017-10-10 15:08] mhlopko commented on #3875
@philwo @ulfjack @buchgr

[2017-10-10 15:10] ulfjack commented on #2475
Uhm. If you are relying on a binary that you configure with a file path, and you're using $(location) for the file path, and you are trying to run that binary in an action, and the binary is executed in the Bazel exec root, then the action will likely fail if executed remotely. You can still use remote execution for all other actions, and you can use remote caching in any case.

You can annotate a

[2017-10-10 15:22] dslomov commented on #3881
No, it does not. In the same way, under Linux inside sandbox the application can use `readlink` to discover where symlink points - that does not "break the concept of sandboxing".

No it would. The result of `$location` is a part of a command line generated during analysis. That command line should be "relocatable", so no absolute paths.

However one possible way to allow automatic translation mig

[2017-10-10 15:22] mhlopko commented on #3857
@brendandouglas

[2017-10-10 15:27] maleficxp commented on #2667
Hello!
I have the same problem in my SLE 11.1, no `MS_REC` defined in the `sys/mount.h`.
But I found it in `linux/fs.h`, so I added
`#include <linux/fs.h>`
to `src/main/tools/linux-sandbox-pid1.cc` and it solved this problem for me.

[2017-10-10 15:27] mhlopko commented on #3792
Assigning Irina just to keep an eye on this :P

[2017-10-10 15:28] mhlopko commented on #3791
@buchgr

[2017-10-10 15:28] eustas commented on #3881
It seems that Args object should fit my requirements. Thanks.

[2017-10-10 15:36] #3739 closed

[2017-10-10 15:37] mhlopko commented on #3097
Friendly ping?

[2017-10-10 15:38] mhlopko commented on #3392
Is this still reproducible? I seem to remember reading about some fine folks building bazel on redhat without issues.

[2017-10-10 15:42] mhlopko commented on #3757
Did anybody talk to the protobuf people?

[2017-10-10 15:44] aleb commented on #3857
This is bazelbuild/bazel.

Not sure what the link between this and #135 is.

On Oct 10, 2017 17:29, "brendandouglas" <notifications@github.com> wrote:

This error is coming from Bazel, and looks like a Bazel-side bug.

Can you open an issue in https://github.com/bazelbuild/bazel?

In the meantime, closing this one as a dupe of #135
<https://github.com/bazelbuild/bazel/issues/135>.

—
You are recei

[2017-10-10 16:26] drigz opened #3884 "Old versions of Bazel can't be installed from the apt repo"
Old versions of Bazel can't be installed from the apt repo. At time of writing, only 0.6.1 can be installed. Even though the old debs are still in the pool/ directory, only 0.6.1 is listed in [Packages](http://storage.googleapis.com/bazel-apt/dists/stable/jdk1.8/binary-amd64/Packages).

We ran in to this because we use a Dockerfile (based on [dazel's](https://github.com/nadirizr/dazel/blob/master/

[2017-10-10 16:31] aehlig commented on #3771
As confirmed with @damienmg none of those changes fixes a regression
with respect to the last release (0.6.1) and we normally only cherry-pick
those.

Even worse, 014408ead21d07bfa41af88b0dba251182e56aff is not even a bug
fix, but brings an incompatible change to an interface: bazel used to
promise to always report a syntactically correct RFC-style UUIDs; with
that change this is no longer the cas

[2017-10-10 16:35] ittaiz commented on #2475
The context is mainly tests which need this and are configured with it so I
think this indeed means we can't run tests remotely which in macOS (with
our existing tests) means we can't parallel them since the parallelism
solution was based on a local-remote worker running in docker.
On Tue, 10 Oct 2017 at 18:10 Ulf Adams <notifications@github.com> wrote:

[2017-10-10 16:49] ola-rozenfeld commented on #3771
"as it would introduce an incompatible change in a cherry-pick"
It's the other way around -- the cherrypick will *fix* the incompatible change. Bazel never promised to report syntactically correct UUIDs -- in fact, a few teams rely on neither Bazel nor Blaze promising that. The incompatible change was 6f32d5a7d75ff46de6efc557c1ea95777ea813ca, which is merged long ago (and we absolutely need that o

[2017-10-10 17:20] katre commented on #3883
@nlacasse, what sort of resolution would you like to see for this issue?

[2017-10-10 17:55] nlacasse commented on #3883
I'm fine closing this, since it has been fixed in 0.6.1.

I mostly wanted to file it for posterity, and in case anybody else runs into it.  The error message is not very helpful, and it took a while to figure out that it was caused by the visibility attribute.

I'm using an external CI service that has not yet upgraded to Bazel 0.6.1.  I guess I will have to pressure them to upgrade.

[2017-10-10 17:55] #3883 closed

[2017-10-10 20:00] davidstanke opened #3885 "Support WORKSPACE.bazel as alias for WORKSPACE"
We support naming the BUILD file "BUILD.bazel"... for consistency, let's add support for WORKSPACE.bazel, too.

[2017-10-10 20:08] katre commented on #3885
It'll be a decent amount of work, there are a lot of bare references to "WORKSPACE" that will need to expand to accept WORKSPACE or WORKSPACE.bazel.

Also, any code that generates an internal WORKSPACE file should update to create WORKSPACE.bazel.

[2017-10-10 20:48] aj-michael commented on #3504
This was fixed by
b5c0202 (which is in 0.7.0) and https://github.com/google/android-testing-support-library/commit/3d2d0ae5a029afd486e0916517cb0f5acd90af57.

[2017-10-10 20:48] #3504 closed

[2017-10-10 20:57] nelhage opened #3886 "Default local resources should respect cgroup limits on Linux"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:

Bazel, by default, looks at available RAM on the system to set `local_resources` defaults, so as to best-use the resources of the machine.

Unfortunately, inside a Docker container or other cgroup environme

[2017-10-11 07:45] laszlocsomor opened #3888 "Windows,Android: Bazel should work with Android Studio on Windows"
Now that Bazel on Windows can build `android_*` rules, let's make it also work with Android Studio on Windows.

[2017-10-11 07:45] laszlocsomor commented on #3888
/cc @ahumesky , @aj-michael , @dslomov

[2017-10-11 07:56] mhlopko commented on #3744
@damienmg for qualified decision, but my humble opinion is that this will be used very little, so I'd just close this issue as won't fix. Damien?

[2017-10-11 07:56] laszlocsomor opened #3889 "Windows,Skylark: write rule migration guide"
Write a guide on how to write portable Skylark rules.

[2017-10-11 07:58] damienmg commented on #3744
Agree.

Sorry that is not something we want to have in Bazel.

[2017-10-11 07:58] #3744 closed

[2017-10-11 07:59] damienmg commented on #3744
to be more precise: `//visibility:public` is the way to expose a target for other repository. We do not intend to have a visilibility that expose a target only for external repositories (and not for the main one).

[2017-10-11 08:03] damienmg commented on #3728
/cc @katre to link the design doc for the complete answer but TL;DR this is working as intended.

The way to do a more complex override should be to use recursive workspace once that is implemented. Override repository replace any repository with a local_repository, not a new_local_repository

[2017-10-11 08:03] #3728 closed

[2017-10-11 08:29] damienmg commented on #3857
summoning @lberki to help because I have no idea where to start.

[2017-10-11 08:34] damienmg commented on #3874
Seems like giving a full path to a nested workspace breaks the nested workspace detection.

[2017-10-11 08:59] #3825 closed

[2017-10-11 08:59] #3882 closed

[2017-10-11 09:05] ulfjack commented on #3875
We have no intention to support distcc, as it's a C++-only 'solution', and our experience with it has not been good. It might be possible to convince me to put in a workaround to make Bazel work better with distcc. For example, we could mark such actions in some way that tells Bazel that these are actually remote actions so it doesn't count them as local (allowing you to run many without --local_r

[2017-10-11 09:06] damienmg commented on #3884
Duplicate of https://github.com/bazelbuild/continuous-integration/issues/128

[2017-10-11 09:06] #3884 closed

[2017-10-11 09:08] damienmg commented on #3885
I'd rather not as @katre said, it is a fair amount of work. We can have WORKSPACE.bazel be parsed easily but since we use WORKSPACE to get the root of the workspace directory everywhere, I'd rather just not do it before 1.0

[2017-10-11 09:24] abergmeier-dsfishlabs commented on #1456
This is still a problem with the Bazel 0.6.1 package on a clean Ubuntu 16.04.3.

[2017-10-11 09:40] eustas commented on #3881
How about optional copying of data deps when symlinking is not available (windows)?

It seems that there is no way to hack this around using just Skylark. The only way to alter build graph using the information form the outer world is exec_result, but it is available only for repository rules...

Other solution could be creating resource file with environment info, but it touches project sources t

[2017-10-11 09:49] mhlopko commented on #2237
Friendly ping, should we ping the error prone issue? David can you do that?

[2017-10-11 11:40] ulfjack commented on #2574
I see. Yes, it's set in StandaloneTestStrategy, and we'll need to fix that as well.

[2017-10-11 11:43] ulfjack commented on #2574
For now, you can override this behavior with --test_env=USER=<some_static_string>.

[2017-10-11 12:17] eustas commented on #3881
Another tiny problem with runfiles resolving is that "workspace" path part should be either guessed or ignored. Two lines of code, but also a potential bug, as there could be name collisions.

[2017-10-11 13:13] eustas commented on #3881
My current workaround:
[code]
Just run it between build and test.

[2017-10-11 13:29] MarkusTeufelberger opened #3890 "[skylark] add repository_ctx.tar"
### Description of the problem / feature request / question:

Repository_ctx:
https://docs.bazel.build/versions/master/skylark/lib/repository_ctx.html

I'd like to create a tarball of one or several files in a repository_ctx context when writing a custom function in skylark. Probably using similar syntax to the native pkg_tar rule (https://docs.bazel.build/versions/master/be/pkg.html#pkg_tar). Cur

[2017-10-11 13:35] mattmoor commented on #3890
@damienmg owns `pkg_tar`

[2017-10-11 14:13] katre commented on #3874
Yeah, that shouldn't be an error, I will investigate.

[2017-10-11 14:53] damienmg commented on #3890
we have a triaging policy, no need to assign :)

pkg_tar is not native, it is a skylark rule.

I wonder about the use case of doing tar in a repository rule?

[2017-10-11 15:03] MarkusTeufelberger commented on #3890
My current use case is creating the tar file that contains the `os-release` file here: https://github.com/GoogleCloudPlatform/distroless/blob/master/package_manager/util.py#L32

The docker rules that should consume this usually also need some metadata next to file contents (e.g. permissions) and thus only allow tar files as input. I can create the deb files at fetch time (by just downloading them)

[2017-10-11 17:29] cushon commented on #2237
The Error Prone feature request is under consideration. I don't think there's anything that needs to be done on the Bazel side here.

[2017-10-11 17:29] #2237 closed

[2017-10-11 18:34] rahul-malik opened #3891 "Support Directories in SimpleBlobStoreActionCache"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:

I'm trying to use a hazelcast remote rest cache for building an iOS application. Building the sources works correctly but building the entire application fails because it is unable to upload directory artif

[2017-10-11 20:17] cgrushko commented on #2237
@greggdonovan (or his team :) ) came up with a nice way to enable the checks for the main repository only (therefore not triggering on external repos).

https://github.com/bazelbuild/BUILD_file_generator/pull/16/commits/2503109d47879db5350640c39019c524acac9e2a

[2017-10-11 20:25] greggdonovan commented on #2237
All credit goes to @kevingessner  :)

[2017-10-11 21:03] kevingessner commented on #2237
😃 That bit of prelude magic is a workaround for #3427, so if someone would like to fix that...

[2017-10-11 21:04] btbuxton commented on #1372
@ittaiz What is the status of the maven codebase conversion to Bazel that you talked about? Did it publish to a maven repository? Is there any place that I could go to look at the code?

[2017-10-11 21:30] cushon commented on #3427
You can use the (somewhat poorly named) [`java_toolchain.misc`](https://docs.bazel.build/versions/master/be/java.html#java_toolchain.misc) to set default javacopts. I think it has the same drawback as (1) of applying to external builds, though.

[2017-10-11 23:03] vade commented on #407
Can this be re-opened - was rolled back above ^^ still blocking Tensorflow activity

[2017-10-12 00:31] yilei opened #3892 "Confusing error message when a custom repository_rule fails"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:

When a custom repository_rule fails, bazel displays something like:

`ERROR: /path/to/BUILD:1:1: no such package '@my_custom_repository//':`

The `no such package` part is very confusing, because there *is*

[2017-10-12 06:55] rahul-malik commented on #3042
@damienmg @davido - Did this not make it into 0.6.1? I just updated and was hoping to have this feature.

[2017-10-12 07:07] damienmg commented on #3042
Nope 0.6.1 was a patch release. You can try 0.7 release candidate.

On Thu, Oct 12, 2017, 8:55 AM Rahul Malik <notifications@github.com> wrote:

[2017-10-12 07:37] gwtony opened #3893 "Proxy in gitconfig NOT work in bazel"
There is socks5 proxy config in global .gitconfig
[https]
	proxy = socks5://10.x.x.x:1080

It do works with git clone command.
But when i build with bazel, it seems ignore proxy in gitconfig and requests to destination directly.
Is this a bug? If not could anyone tell me how to use git socks5 proxy in bazel.
Thank you

[2017-10-12 07:40] mhlopko commented on #407
No problem thank's for reminding me. The fix is trivial, just need to find time to resubmit.

[2017-10-12 08:28] silvester747 commented on #2670
The workaround using objc_library looks pretty good, but there does not seem to be an equivalent for cc_library, or is there?

[2017-10-12 08:39] mhlopko commented on #2670
Nope, with cc_library you still have to use `copts=["-I<dir>"]`. Current plan is that this will be fixes early 2018.

[2017-10-12 09:32] William8915 opened #3894 "Bazel results in error about cp when run within MSys in Windows 7"
The project of our group uses bazel for build management. It has been successfully built in Ubuntu and Mac. When I try to compile exactly the same set of files I get a weird error complaining about not enough parameters in cp. Details can be found here:

https://pastebin.com/UQg6rUFE

I have checked line 24 of my BUILD file and found nothing unusual there (nothing explicitly related to cp, etc.)

[2017-10-12 11:00] damienmg commented on #3771
for 014408e it is indeed true that 6f32d5a forced to have a syntactically correct UUID and was a breaking change and 014408e is reverting that. The justification for cherry-pick is largely missing from the commit description and I still don't know users of Bazel that are broken by that change. IIUC this was a fix for our internal release at Google to interact with internal service. If I misunderst

[2017-10-12 11:33] dslomov commented on #3771
My general recommendation: do not rely on stuff being cherry-picked into releases. Instead, if what you work on relies on continuous changes in Bazel, work off nightlies to detect problems early and make sure that by release time (known well in advance now) all your ducks are in a neat row :)

I do not mind cherry-picking 0ebb3e5 because it is an annoying bug and the fix is safe.

[2017-10-12 11:56] damienmg commented on #3771
Ok so for 0ebb3e5 I propose the following: we will cherry-pick it if we do a patch release or another cherry-pick. @aehlig @dslomov: do that sgty?

[2017-10-12 12:02] dslomov commented on #3771
Ok with me (falls under ~critical bug provision)

[2017-10-12 14:09] ola-rozenfeld commented on #3771
Thank you, SGTM!

Re: "make sure that by release time (known well in advance now) all your
ducks are in a neat row" -- actually, qq about the procedure on that --
after making the change internally, I was obsessively reloading the Bazel
commits page for days to see when my change appears externally, so that I
can ask for the cherrypick. It had a delay of a few days between internal
submission and

[2017-10-12 14:33] damienmg commented on #3771
No need to ask before it hit the repo. And hopefully this won't be long before we switch to CaaS anyway.

[2017-10-12 14:34] ulfjack commented on #2574
The easiest way to do it is probably to add USER=`whoami` to test-setup.sh and remove it from the StandaloneTestStrategy. It's technically a backwards-incompatible change, but I hope nobody is relying on the exact username. We could make it only set USER if it's not set by Bazel, which'd allow users to set --test_env=USER to get the old behavior back.

[2017-10-12 14:35] aehlig commented on #3771
On Thu, Oct 12, 2017 at 11:57:01AM +0000, Damien Martin-Guillerez wrote:

Sounds good.

--
Klaus Aehlig
Google Germany GmbH, Erika-Mann-Str. 33, 80636 Muenchen
Registergericht und -nummer: Hamburg, HRB 86891
Sitz der Gesellschaft: Hamburg
Geschaeftsfuehrer: Paul Terence Manicle, Halimah DeLaine Prado

[2017-10-12 14:42] cgrushko commented on #3885
`BUILD.bazel` became supported because of Windows not distinguishing between `BUILD` and `build`, which was often the name of a directory.
`WORKSPACE` doesn't probably have this problem?

[2017-10-12 14:49] damienmg commented on #3885
That was because of macOS actually but yes we do not have a collision issue
on WORKSPACE.

On Thu, Oct 12, 2017, 4:42 PM Carmi Grushko <notifications@github.com>
wrote:

[2017-10-12 15:07] cgrushko opened #3895 "Publish Skylark tools: Buildifier, Buildozer, Skylint"
For Buildifier, I think we should distribute it with Bazel itself, similarly to how Go includes `go fmt`. The more teams use Bazel, and the more teams generate BUILD files, the more important it gets.

@damienmg proposes we have multiple packages that users choose from:

1. `bazel` or `bazel-core` - includes Bazel only, for automated use-cases like CI.
2. `bazel-dev` - includes everything a Bazel

[2017-10-12 18:12] dslomov commented on #3826
Here is a prototype (that I do not quite like): https://bazel-review.googlesource.com/c/bazel/+/18850

That patch allows `executable` argument to `rule` function to be a string `"custom"` and then `ctx.output.executable` is not created and the rule must create the executable artifact itself and pass it
through `DefaultInfo(executable = xxx)` (see the test)

This is not a great API but it works: @i

[2017-10-12 18:51] ianthehat commented on #3826
I looked at the change, and I agree with you, executable should stay a bool and the implicit output should be built on demand (but you might need to add an extra check to complain if you do neither?)

I will try to find time to try it out tomorrow, currently stuck deep in a massive change to the way we build the standard library (for cross compilation)

For what it's worth, *all* outputs in rules_

[2017-10-12 19:33] dslomov commented on #3826
No rush.

Yeah I do not like the magical `ctx.outputs` too, but we need to dance the dance so that we stay compatible with current API (and it has a _lot_ of usages).

Anyhow the change is much simpler than I feared, so I am more confident that it can make 0.8. I'll prototype lazy creation of `ctx.outputs.executable` and bring this to Skylark Design Cabal soon. I'll keep this bug posted on my prog

[2017-10-13 00:25] sgreenstein opened #3897 "Tests fail on Windows when output_base contains a space"
If there is a space in the output_base path, then running bazel test on Windows will result in all tests failing.

To reproduce:
`bazel --output_base "C:\Users\sgreens\test\space folder" test //tests/my_test`

The build completes successfully, but all tests fail. All test logs contain the following:

### Environment info
* Operating System: Windows 10 64-bit

* Bazel version (output of `bazel info

[2017-10-13 00:28] AustinSchuh opened #3898 "Poor errors when using CPU constraints"
I've got a cc_binary marked with `restricted_to = ["@//tools:armhf-debian"]`

When I build the package with that binary in it, I get the following error:
[code]

When I build up one folder, I get no error.

[code]

[2017-10-13 00:34] AustinSchuh opened #3900 "Error using CPU constraints doesn't give useful guidance."
I've got a cc_binary marked with restricted_to = ["@//tools:armhf-debian"]

When I try to explicitly build it, I get an error which doesn't help me understand what to do.  (ie, this target can't be built for k8, so don't try) .  I guess I'd also expect this to be an ERROR since I'm explicitly asking for something that makes no sense, but that's not a huge deal.

[code]

[2017-10-13 01:28] kburnik commented on #2652
FYI,
I started fiddling around with Bazel and PHP. At this point it's far from perfect, mostly experimenting, although it seems to produce results which I need so far. I use PHP 5.6, but I imagine using PHP 7 would be easy to apply as well.

Some of the features:

* php_library
* php_binary
* php_test
* php_image
* composer_repository (workspace rule)

https://github.com/kburnik/php_codebase

[2017-10-13 03:48] AustinSchuh commented on #3568
[code]

Should add it to the sandbox and find it in the .runfiles folder.  I haven't tested what the other side-effects are so beware.

[2017-10-13 07:15] damienmg commented on #3895
This is blocked by bazel/continuous-integration#137

[2017-10-13 11:54] #3874 closed

[2017-10-13 11:54] #407 closed

[2017-10-13 12:20] eustas commented on #3079
With some voodoo-rituals and a grain of luck I've managed to have working JNI builds for windows...
(see https://github.com/google/brotli/pull/612/files)

[2017-10-13 16:31] cgrushko commented on #3895
@damienmg can you linkify the blocking issue?
did you meant https://github.com/bazelbuild/continuous-integration/issues/137? I don't see how it's related, it's talking about Jenkins.

[2017-10-13 19:35] Reflexe opened #3901 "[I think that] repository_ctx.path(Label) should be able to resolve directories too"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:
1. The `repository_ctx.path` function throws error when it gets a directory `Label`. However, it has no problem with other `Label`-s.

    The source of the problem is in [this](https://github.com/bazelbuild

[2017-10-13 22:31] jmillikin-stripe opened #3902 "`attr.string_list_dict` doesn't resolve `select()` calls to values before type checking."
Given a rule with an attribute defined by `attr.string_list_dict()`, I'd expect the following two stanzas to be equivalent:

[code]

However, Bazel rejects the second with a type error:

[code]

[2017-10-13 22:57] werkt commented on #3398
This was caused by (at least as old as 0.4) resolution issues with Paths under external repositories, and does not appear once the non-default-repo-external path is not in use - with the real repository rooted files backing up the Paths, the outputs no longer race. Closing

[2017-10-13 22:57] #3398 closed

[2017-10-14 13:04] nevion commented on #3516
+1

[2017-10-14 13:04] nevion commented on #2054
+1

[2017-10-14 22:01] alexeagle commented on #3155
Same problem prevents implementing extra actions
https://docs.bazel.build/versions/master/be/extra-actions.html

[code]

[2017-10-15 08:18] davido opened #3903 "Cannot build bazel with gcc 7"
After upgrading one of my systems with gcc 7, i cannot build bazel master (80a34dc97799961201e6dce20fd58dd08022c032) any more:

[code]

I used the latest released Bazel version:

[code]

GCC version:

[code]

[2017-10-15 10:18] davido commented on #3042
Confirmed, that this feature is included in 0.7, e.g.: https://storage.googleapis.com/bazel/0.7.0/rc2/index.html .

[2017-10-15 10:38] ittaiz commented on #3735
friendly ping

[2017-10-15 10:39] ittaiz commented on #3769
Friendly ping

[2017-10-16 06:55] benjaminp commented on #3880
@dslomov WDYT?

I can provide a patch—looks like only a few annotations have to be added.

[2017-10-16 07:34] tianzhi0549 opened #3905 "[Document Issue] What does "//:target-name" stand for?"
### Description of the problem / feature request / question:
Hi, in the official document, it is said //:target-name means `referencing targets within the same package`. You could find it at https://docs.bazel.build/versions/master/tutorial/cpp.html#use-labels-to-reference-targets. However, according to my tries, it should refer to the targets in the root directory of a WORKSPACE. Therefore, I thi

[2017-10-16 07:36] snnn opened #3906 "Wrong CWD while executing build_windows_jni.sh"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:
Building Bazel from scratch failed.

### If possible, provide a minimal example to reproduce the problem:
set PATH=C:\msys64\usr\bin;C:\jdk\bin;C:\python35;C:\python35\scripts;%PATH%
set BAZEL_SH=C:/msys64/u

[2017-10-16 09:28] natansil opened #3907 "Build fails on circular reference between two repos (target graph is DAG)"
### Description of the problem / feature request / question:

We are examining using bazel in an environment of many-repos.
The scenario below of circular reference between two repos (target graph is DAG) fails to build.

### A minimal example to reproduce the problem:
We have two repos, [A](https://github.com/natansil/bazel-repo-a) and [B](https://github.com/natansil/bazel-repo-b)

repo `A` has t

[2017-10-16 13:23] damienmg opened #3908 "Repository redefinition using skylark rules are ok but should error out."
Update by @laszlocsomor: Damien no longer works on Bazel, but this bug is still not fixed with Bazel 0.21.

---

With latest bazel (0.6.1):

Recreation of the repo:
[code]

This creates an error as expected:
[code]

Now let's use a skylark repository:

[code]

Bazel accept it no issue:
[code]

[2017-10-16 13:26] damienmg commented on #3908
Note that I found the bug while looking at external repo code:

https://github.com/bazelbuild/bazel/blob/b4a2034b77703b764304acb352325b06912ec279/src/main/java/com/google/devtools/build/lib/packages/WorkspaceFactory.java#L455 is throwing the error but Skylark repositories call directly [createAndAddRepositoryRule](https://github.com/bazelbuild/bazel/blob/b4a2034b77703b764304acb352325b06912ec279/sr

[2017-10-16 15:34] buchgr commented on #3907
I believe dependency resolution might work on the package level? @damienmg ?

[2017-10-16 15:35] buchgr commented on #3906
@meteorcloudy @laszlocsomor can you take a look please?

[2017-10-16 15:40] laszlocsomor commented on #3906
Looks like a duplicate of https://github.com/bazelbuild/bazel/issues/3863, which was fixed by https://github.com/bazelbuild/bazel/commit/e79a1107d90380501102990d82cbfaa8f51a1778.

[2017-10-16 15:41] laszlocsomor commented on #3906
Oh wait, no this is different.

[2017-10-16 15:42] laszlocsomor commented on #3906
Oh dear, this behavior of cmd.exe is new to me. Thanks for reporting and figuring it out, @snnn !
Let me fix it.

[2017-10-16 15:50] #2350 closed

[2017-10-16 15:53] buchgr commented on #3903
@mhlopko :)

[2017-10-16 15:59] buchgr commented on #3902
@laurentlb can you take a look please?

[2017-10-16 16:12] buchgr commented on #3901
@laurentlb can you take a look please?

[2017-10-16 16:13] buchgr commented on #3898
@mhlopko please take a look :)

[2017-10-16 16:16] buchgr commented on #3893
Do you mean it doesn't work for `git_repository`? I don't think we support this @damienmg?

[2017-10-16 16:18] katre commented on #3893
This should be supported by the Skylark-based git_repository, but not by the native version.

Please make sure you are using the Skylark version by adding this to your WORKSPACE before git_repository:
[code]

[2017-10-16 16:20] buchgr commented on #3892
@laurentlb please take a look:)

[2017-10-16 19:09] gregestren commented on #3902
Hi,

Unfortunately `select` doesn't support this kind of composition.

At core, `select` is designed to let you custom-choose the value an attribute takes. This means the `select`'s type has to match the attribute's type: in this case a dictionary of string lists.

In your example, the `select` is bound to a string list, which is not the same type. Hence the error.

While your request makes sense

[2017-10-16 19:09] gregestren commented on #3902
Most importantly, do you have workarounds with the status quo?

[2017-10-16 19:23] jmillikin-stripe commented on #3902
The workaround is to copy-paste the non-selected part of the dict into multiple select cases. It's not pretty, but is tolerable at our config sizes.

Given that the `attr` module has a fixed set of allowed container types, is it practical to special-case `select()` when used as a key or value of those containers? For example, `string_list_dict` attrs must be of type `Dict<String, List String>>` so

[2017-10-16 19:57] gregestren commented on #3902
I think the challenge is that the part of the type system in the `List String` subtype would have to be aware of selects and know how to "pass them up" to the final attribute assignment. So code paths crossing multiple classes would have to synchronize more tightly.

Another concern is nesting selects across multiple types, i.e.:

[code]
So resolving this attribute would require evaluating two sel

[2017-10-16 22:40] jmillikin-stripe commented on #3907
You'll need to define `@repo_a` by setting a workspace name.

[2017-10-16 22:44] jmillikin-stripe opened #3910 "Please always provide absolute paths for compiler autoconfiguration"
The `$(CC)` make variable is sometimes an absolute path (such as `/usr/bin/gcc`) and sometimes a relative path (such as `external/local_config_cc/cc_wrapper.sh`). This makes it pretty awkward to use when Bazel-ifying external repos, which often have build scripts that `cd` around the source tree.

Can you please change the make variable handling so this path is always absolute?

[2017-10-17 00:26] ixdy commented on #3744
and to further close the loop: `//cmd/kubectl` in kubernetes is now marked `//visibility:public`.

[2017-10-17 04:50] benjaminp commented on #2574
Is this issue completely done, or should it be left open until `--experimental_strict_action_env.` is the default?

[2017-10-17 04:54] ola-rozenfeld commented on #2574
Good point, I guess we should leave it open until `--experimental_strict_action_env` is the default.

[2017-10-17 05:31] datoga commented on #190
Any way to get colors on the output?

[2017-10-17 05:41] datoga commented on #190
I answer my self:

bazel test --test_output=errors **--action_env="GTEST_COLOR=1"** ...

[2017-10-17 07:11] ittaiz commented on #3771
Hi,
Any idea when this will be released?

[2017-10-17 07:12] AustinSchuh opened #3911 "Poor error with invalid CPU environment group"
I have a BUILD file in //tools with the following in it.

[code]

(Notice the missing 'f' in the environments list).

I get a pretty cryptic error

[code]

I would expect to see something saying that 'cortex-m4' isn't a valid target, or something so I don't have to guess and check.

[2017-10-17 07:16] damienmg commented on #3771
There is a new issue touching remote execution, see https://bazel-review.googlesource.com/c/bazel/+/19111

[2017-10-17 07:37] damienmg commented on #3892
I am pretty sure we already have that bug somewhere but I would need to dig.

[2017-10-17 07:40] damienmg commented on #3907
Hi as @jmillikin-stripe said, you need to set the workspace name so Bazel know which name the main workspace has.

[2017-10-17 07:48] laszlocsomor opened #3912 "Windows presubmit failure: GetExitCodeProcess(): The handle is invalid."
We saw this on the internal CI (bug 67878584).

Two parts of the build log:
[code]

In the same log, further down:

[code]

/cc @lberki

[2017-10-17 07:50] laszlocsomor commented on #3912
/cc @meteorcloudy

[2017-10-17 09:50] natansil commented on #3907
did the trick!
Thanks @jmillikin-stripe, @damienmg

[2017-10-17 09:50] #3907 closed

[2017-10-17 12:28] alexeagle commented on #3853
/cc @dslomov this is a big deal for Angular users. Could it be fixed before windows support goes to beta? (I happened across the blog post)

[2017-10-17 12:33] filipesilva commented on #3853
Heya, I was looking at https://github.com/bazelbuild/bazel-blog/pull/42/files and wondering if a fix for this will also go into the release for that blog post.

The gitbash bit is especially interesting... right now installing bazel on windows is a multistep process (https://docs.bazel.build/versions/master/windows.html):
- download the binary with embedded java
- install python
- install msys2 sh

[2017-10-17 12:54] alexeagle commented on #3726
For NodeJS rules I wrapped the location expansion to give runfiles paths
https://github.com/bazelbuild/rules_nodejs/blob/a9c12cebee0c267a32330533b47c22fb08aa81f0/internal/node.bzl#L64
Then you just need to read the manifest file to locate that key like
https://github.com/bazelbuild/rules_nodejs/blob/a9c12cebee0c267a32330533b47c22fb08aa81f0/internal/check_bazel_version_test.py#L4

On Tue, Oct 10, 2

[2017-10-17 12:56] alexeagle commented on #3726
I think this could be closed in favor of https://github.com/bazelbuild/bazel/issues/3889

[2017-10-17 12:56] #3726 closed

[2017-10-17 14:43] ronshapiro commented on #1952
I'm also +1 on lossless maven -> bazel coordinates. While it would be nice, I think it's hard to establish consistency. I'd rather have things more explicit and then create aliases within the actual project (which is what Dagger does)

[2017-10-17 15:17] varming commented on #3835
Any news on this issue?

[2017-10-17 21:23] gregestren commented on #3898
Austin, in this case are you saying that you're not applying incompatible target skipping, and that you therefore expect the error in both cases?

[2017-10-18 00:04] razvanm opened #3913 "NullPointerException for `bazel test` when using `--spawn_strategy=remote`"
### Description of the problem / feature request / question:

My `~/.bazelrc` is the following:

[code]

The error when running `bazel test` on the problematic target:

[code]

### If possible, provide a minimal example to reproduce the problem:

I don't have a small repro yet.

### Environment info
* Operating System:

[code]

* Bazel version (output of `bazel info release`):

[code]

[2017-10-18 00:28] AustinSchuh commented on #3898
Greg,

(I'm sure there's a technical reason for it as is due to something with how ... gets expanded, but it still was surprising and confusing.  I'm coming at this purely from a user surprised at the output.)

I would have expected the error (Target //vehicle/radio:echo_arm_only failed to build) to be returned in either neither or both cases.  Given a choice, I think neither is the right behavior

[2017-10-18 01:30] spinorx commented on #348
+1.  Any update of expected support for this?

[2017-10-18 04:05] endobson opened #3914 "Hard crash when trying to open repository with bad url"
The following causes a hard crash. I expect it to not crash and just print out an error.

Bazel version 0.6.1

In the workspace file:
[code]

[code]

[2017-10-18 04:44] endobson opened #3915 "Bazel fails to download file with error "PKIX path building failed.""
### Description of the problem / feature request / question:

I cannot get bazel to download busybox.

I have the following rule in my workspace:
[code]

When I fetch I get the following:
[code]

Yet wget is able to download the file fine and the sha256 is the same as is in the rule.

### Environment info
* Operating System:
OS X 10.11.6 (15G31)

* Bazel version (output of `bazel info release`):
0

[2017-10-18 06:01] aehlig commented on #3771
@ittaiz

My plan was to release today, unless the new issue mentioned my @damienmg turns out to be a regression with respect to 0.6.1. However, from what I was told, I got the impression that that change fixes an issue that was only introduced after the baseline 5cc6246d429f7d9119b97ce263b4fd6893222e92. But I'll have to verify this.

[2017-10-18 07:25] ittaiz commented on #3438
Ping

[2017-10-18 07:48] meteorcloudy commented on #3853
@alexeagle @filipesilva Good news, I've already sent a change to avoid the hard dependency on VC,
See https://bazel-review.googlesource.com/#/c/bazel/+/19050/

As long as you don't build C++ rules without VC installed, you should not get any error anymore.

[2017-10-18 07:59] dslomov commented on #3853
I do not think is is much useful to block "beta" status specifically on suitability for Angular.
I think the better thing would be to make Angular experience with Bazel on Windows really smooth and publicize this then. I think the right approach to get there is to have an initial list of current issues and then work together towards fixing them - everything we fix Bazel-side will benefit all other

[2017-10-18 08:29] #3250 closed

[2017-10-18 08:29] #3834 closed

[2017-10-18 08:29] #3853 closed

[2017-10-18 08:29] #3906 closed

[2017-10-18 09:02] mhlopko commented on #3900
Duplicate of https://github.com/bazelbuild/bazel/issues/3898

[2017-10-18 09:02] #3900 closed

[2017-10-18 09:40] aehlig commented on #3771
My understanding is that https://bazel-review.googlesource.com/c/bazel/+/19111 addresses an issue introduced by f6b8d5e269cf64bda483af464ad98af7277728a6 which is well after our baseline.

@damienmg, you mentioned this issue in the context of this release; can you explain how it affects it?

[2017-10-18 09:55] damienmg commented on #3771
As I said on the mail thread I missed the fact that the issue happened
after the candidate was cut so imo 0.7 is good to go :)

On Wed, Oct 18, 2017, 11:40 AM Klaus Aehlig <notifications@github.com>
wrote:

[2017-10-18 10:03] aehlig commented on #3771
Will promote rc2 to release.

[2017-10-18 13:37] buchgr opened #3916 "srcs test broken on CI"
https://ci.bazel.io/job/bazel-tests/1089/testReport/junit/(root)/src_test_shell_bazel_srcs_test/src_test_shell_bazel_srcs_test/
[code]

[2017-10-18 13:45] buchgr opened #3917 "//src/test/py/bazel:bazel_external_repository_test broken on CI"
https://ci.bazel.io/job/bazel-tests/1090/testReport/junit/(root)/src_test_py_bazel_bazel_external_repository_test/src_test_py_bazel_bazel_external_repository_test/

[code]

[2017-10-18 14:45] laszlocsomor commented on #3917
I'm on it.

[2017-10-18 14:45] laszlocsomor commented on #3917
It's the trailing period at the end of the expected error message. I have a change that'll fix it.

[2017-10-18 14:46] laszlocsomor commented on #3917
`//src/test/py/bazel:launcher_test` is broken for the same reason BTW.

[2017-10-18 14:46] laszlocsomor commented on #3917
https://bazel-review.googlesource.com/#/c/bazel/+/19191

[2017-10-18 14:53] aehlig commented on #3771
Released (code as `rc2`, i.e., baseline 5cc6246d429f7d9119b97ce263b4fd6893222e92 with cherry pick e79a1107d90380501102990d82cbfaa8f51a1778).

https://github.com/bazelbuild/bazel/releases/tag/0.7.0
https://storage.googleapis.com/bazel/0.7.0/release/index.html

[2017-10-18 14:53] #3771 closed

[2017-10-18 15:32] buchgr commented on #3917
The offending commit was 784bb52613feb484221c3aa6756de45012163088

[2017-10-18 15:41] buchgr opened #3918 "testShBinaryLauncher test broken on Windows."
https://ci.bazel.io/job/bazel-tests/1091/testReport/src_test_py_bazel_launcher_test/exe/src_test_py_bazel_launcher_test_exe/
[code]

[2017-10-18 15:41] buchgr commented on #3918
cc: @laszlocsomor @meteorcloudy

[2017-10-18 16:04] buchgr opened #3919 "Runfiles tree is not updated correctly"
http://ci.bazel.io/job/bazel-tests/1091/testReport/(root)/(empty)/test_cc_binary_2/

[code]

[2017-10-18 17:35] #3917 closed

[2017-10-18 18:20] gregestren commented on #3898
Yes, I'd appreciate a simple repro example. Because the above behavior definitely doesn't make sense. :)

In particular, it shouldn't be possible to fail the target just by giving it a restricted_to clause. Without --experimental_auto_cpu_environment_group, the target should just build (since no enforcement is checked). With --experimental_auto_cpu_environment_group, it should be skipped without e

[2017-10-18 18:23] gregestren commented on #3898
Discussion context: https://groups.google.com/d/msg/bazel-discuss/U6sFbPWiXGM/oAteZx8FFQAJ

[2017-10-18 18:44] marczych commented on #2963
A quick warning for anybody are adding `test --action_env=PYTHONIOENCODING=utf8` to your bazelrc: doing so doubled our test time in CI because we built everything without that action env in the build phase and then we ran the test command which results in rebuilding everything with the extra action_env. I'm still working on a proper fix for this. =)

[2017-10-18 21:26] EricCousineau-TRI opened #3920 "Cannot see debug print statements in rules when executing `bazel run @{external}:{target}`"
### Description of the problem:

I am attempting to debug some install rules in an external, and ran into an issue where I was not seeing `print(...)` statements.

I was able to see the `print(...)` statements when running a rule that is not prefixed with `@`.

**Workaround**: See temporary debug statements using `fail(...)`.

### If possible, provide a minimal example to reproduce the problem:

I

[2017-10-18 22:08] benvanik opened #3921 "--test_env=LD_LIBRARY_PATH not passed to tests on MacOS"
I need to manipulate the LD_LIBRARY_PATH used by my test binaries. I tried using --test_env=LD_LIBRARY_PATH and --test_env=LD_LIBRARY_PATH=foo and neither were set in the environment when running the tests. Nor are DYLD_LIBRARY_PATH and most other DYLD_* values. Arbitrary other environment variables are correctly passed (--test_env=FOO=1, etc).

I can't seem to find any code in bazel that is expli

[2017-10-18 23:59] jwnimmer-tri commented on #3920
I think this is because Drake is turning them off: https://github.com/RobotLocomotion/drake/blob/f825eb3566b998890e37a539233abeb7afe031d8/tools/bazel.rc#L12-L13.

[2017-10-19 00:00] cgrushko opened #3922 "Bazel lets me redefine a workspace rule, and then ignores the second definition"
From CcProtoLibraryTest, I wrote the following WORKSPACE:

[code]

Notice the two conflicting definitions of `com_google_protobuf` - one takes `/protobuf/`, the other just `protobuf/`.
Incredulously, I neither got an error, nor the second definition took precedence over the first.

[2017-10-19 02:37] pcj commented on #2428
Note this is the default JDK (ibm) that one gets on a fresh ubuntu 16.04 box for some reason when `sudo apt-get install bazel`

[2017-10-19 02:42] spinorx opened #3923 "Android NDK libc++ include paths incorrect"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:

I am using bazel with ndk android-ndk-r14b.  The libc++ includes are at cxx-stl/llvm-libc++/include directly:
[code]

However bazel adds extra libcxx (from external/android_ndk/BUILD.bazel):
[code]

### If

[2017-10-19 02:57] EricCousineau-TRI commented on #3920
Ah, that makes sense! Thank you for pointing that out!

[2017-10-19 02:57] #3920 closed

[2017-10-19 03:03] spinorx commented on #3923
Dug a bit more.  There used to be libcxx in ndk 12 and got removed in 13.  13 was released like an year ago and I am surprised this has gone undetected for an year??

[2017-10-19 05:36] spinorx opened #3924 "Can not build android_library with embedded so file (using ndk)"
### If possible, provide a minimal example to reproduce the problem:
Created a simple android_library which encloses java and needed so file at:  https://github.com/spinorx/bazel_android_test

doing:  bazel build --config android :and_lib -s

Getting compilation error:
[code]

I am trying to get android ndk to build so file using libc++ using bazel.
(Note that I has to push include under libcxx fo

[2017-10-19 07:53] meteorcloudy commented on #3918
This should be fixed by https://bazel-review.googlesource.com/#/c/bazel/+/19192/

[2017-10-19 07:53] #3918 closed

[2017-10-19 08:31] kadamvandita commented on #3658
hi
any solution to issue Extension file not found. Unable to load package for '@submodule_grpc//bazel:grpc_build_system.bzl': The repository could not be resolved. ?

[2017-10-19 09:12] drigz opened #3925 "`bazel run py_binary` loads incorrect module with same name"
py_binary can end up importing a file from the source tree that it doesn't depend on. It can also get confused by stale .pyc files that Python writes into the source tree (is that expected behaviour?), even once this file has been removed.

My example may seem contrived, but I ran into this problem when trying to port the [rosmaster](https://github.com/ros/ros_comm/blob/cd7efd4d44d0ec5845df7d59ccd

[2017-10-19 09:18] dslomov commented on #3826
The API per https://github.com/bazelbuild/bazel/issues/3826#issuecomment-336220897 is approved.

[2017-10-19 10:54] Taltzipi commented on #3788
I Ran into a similar issue compiling tensorflow using a pyenv python version, where I received

It seems there's a clash in the use of pyenv and bazel.

What worked for me was:
1. temporarily disable pyenv (commenting out its initialization in .bashrc and opening a new bash) so that 'which python' points to the system's /usr/bin/python,
2. run tensorflow's configure.py. When asked for the python v

[2017-10-19 11:05] philwo commented on #2667
@maleficxp Thanks for finding that out. I sent a fix to include that header when MS_REC is not defined for review now.

[2017-10-19 11:28] spinorx commented on #3924
command issued is also using local clang rather than one in android ndk.
[code]

[2017-10-19 11:28] philwo commented on #3788
Thanks for your suggestion @Taltzipi! I can imagine that this helps.

I don't think this is a sandboxing bug. Usually these kind of issues result from the environment being somehow "special" (e.g. Python is installed via pyenv, from source, relies on LD_LIBRARY_PATH or PATH being set to special values...).

Not saying that this shouldn't work with Bazel, but it means that I also don't have any mor

[2017-10-19 11:33] buchgr opened #3926 "Remote Execution tests broken on Mac"
http://ci.bazel.build/job/bazel-tests/1092/testReport/(root)/(empty)/test_cc_binary_grpc_cache/

[code]

[2017-10-19 11:46] spinorx commented on #3924
@aj-michael who is doing most android changes.

[2017-10-19 11:46] spinorx commented on #3923
@aj-michael who is doing most android changes.

[2017-10-19 12:02] #3926 closed

[2017-10-19 13:58] aj-michael commented on #3924
+ @ahumesky , because I'm not sure I'll have time to look at this week.

What is your NDK version?

This is almost certainly the same bug that was reported in #3641. I started a fix a bit ago, but have not submitted it.

[2017-10-19 14:01] aj-michael commented on #3923
@ahumesky , do you have time to look at this? I have an internal change (167013945) that I started to fix this a bit ago, but was never able to fix all the edge cases.

See also #3641

[2017-10-19 14:10] spinorx commented on #3923
I am using android-ndk-r14b .  Yup it is dup of the issue you pointed out.  Feel free to close this.

Workarounds:
Change the include to be under llvm-libc++/libcxx/ and llvm-libc++abi/libcxxabi/.

After changing the include paths in ndk to work around I hit another snag with linker not finding -lc++_static etc.

The work around for that was to add --linkopt=-Lexternal/android_ndk/ndk/sources/cxx-

[2017-10-19 14:11] spinorx commented on #3923
And thanks for being responsive!

[2017-10-19 14:14] spinorx commented on #3924
Thanks for response.

I am using android-ndk-r14b/

More updates.  If I build through android_binary rather than android_library things work well.  Also need to explicitly add lib path --linkopt=-Lexternal/android_ndk/ndk/sources/cxx-stl/llvm-libc++/libs/armeabi-v7a to build.

[2017-10-19 14:28] meteorcloudy opened #3927 "Windows: `failed to create output directory` error"
I sometimes get a `failed to create output directory` error when building bazel with head bazel.
[code]

Suspect culprit: 3ce58ce65663b89a1209d9d9767752a11445edfe, I'll try to confirm it.

[2017-10-19 14:41] excavador opened #3928 "bazel crash"
### Description of the problem / feature request / question:

Wrong rules can crash bazel
See https://github.com/bazelbuild/rules_go/issues/941

### If possible, provide a minimal example to reproduce the problem:

See https://github.com/bazelbuild/rules_go/issues/941

### Environment info
[code]

###  Have you found anything relevant by searching the web?
No

### Anything else, information or log

[2017-10-19 14:51] EricCousineau-TRI commented on #492
My takeaway from this is that for development, Bazel-style internal library linking is awesome because of the granularity it yields; however, for deployment, if you have all your Bazel internal libraries / binaries use `linkstatic = 0` / `linkshared = 1`, and if you install these items, you'll have the weird dependencies like @mwoehlke-kitware mentioned, such as `_solib_k8/_U@vtk _S_S_Cvtkglew___U

[2017-10-19 15:10] #3860 closed

[2017-10-19 15:20] katre commented on #3928
The core issue here is that if a toolchain isn't registered, toolchain resolution's exception doesn't validate in SkyframeBuildView.assertSaneAnalysisError, and a crash happens instead of just reporting the error.

[2017-10-19 15:36] katre commented on #3928
@excavador Can you help me reproduce this by telling me exactly what git repo you have cloned, and what commands you are running?

[2017-10-19 15:40] excavador commented on #3928
Give me some time, I will prepare minimal repo for reproduce.
It also another bug there
https://github.com/bazelbuild/rules_go/issues/943

[2017-10-19 15:50] excavador commented on #3928
Interesting. I can not reproduce problem in clean repo.

Trying to find dependency combination for reproduce the problem

[2017-10-19 16:02] excavador commented on #3928
I have the repo with the problem
https://github.com/excavador/bazel_vendor_bug

[2017-10-19 16:02] katre commented on #3928
Thanks! Looking now.

[2017-10-19 16:04] excavador commented on #3928
@katre please get second commit, I updated README.md

[2017-10-19 16:11] katre commented on #3928
Okay, I can only reproduce this on a Mac, which is pretty interesting to start with. Debugging now.

[2017-10-19 16:18] ola-rozenfeld opened #3930 "experimental_remote_spawn_cache doesn't work"
I forgot to add RequestMetadata to the context of RemoteSpawnCache:

Caused by: java.lang.IllegalStateException: RequestMetadata not set in current context.
	at com.google.devtools.build.lib.remote.TracingMetadataUtils.fromCurrentContext(TracingMetadataUtils.java:74)
	at com.google.devtools.build.lib.remote.TracingMetadataUtils.headersFromCurrentContext(TracingMetadataUtils.java:87)
	at com.google

[2017-10-19 16:27] excavador commented on #3928
Keep me informed! :)

I little surprised, because I just tried switch our make-based build system to bazel (before this I two months time-to-time learn bazel & skylark).

Pretty interesting fact, the problem reproduced only on full vendor directory with current versions.
If try to create repo with latest dependencies version, particullary openzipkin, no problem.
So, this problem does not block me,

[2017-10-19 16:29] achew22 opened #3931 "Bazel crashes on test success with error java.lang.IllegalStateException"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:

Bazel crashes on test success with `error java.lang.IllegalStateException`

### If possible, provide a minimal example to reproduce the problem:

You can view the results of a TravisCI run here https://trav

[2017-10-19 16:50] buchgr commented on #3919
We can reproduce the error on mac slave 5, by using the same output base
[code]

The tests started failing with this commit: https://github.com/bazelbuild/bazel/commit/bc1cdd311da5aec80b805a4486421392cf2c999e

Looking through the output base we found that the java launcher script correctly sets up the class path to contain the new guava java (guava-23.1.jar), but the runfiles tree only contains th

[2017-10-19 16:57] buchgr commented on #3919
[code]

./bin/src/tools/remote_worker/remote_worker
[code]

[2017-10-19 17:00] katre commented on #3919
I saw that and wasn't able to reproduce it, I didn't realize it was tied to a specific worker.

The guava 21 jars have been removed, did that improve the situation, or do we need to actually clean the runfiles on that worker?

[2017-10-19 17:04] buchgr commented on #3919
The problem seems to happen on every worker. The old guava files have actually not been removed as of right now [1]. (It just says in the commit message that a follow up commit will delete them :D ).

[1] https://github.com/bazelbuild/bazel/tree/master/third_party/guava

[2017-10-19 17:05] katre commented on #3919
That's real bad, because I thought I pushed the change last night to do that, and I updated the GoB hash internally to match it.

[2017-10-19 17:07] buchgr commented on #3919
That's great! So I probably just haven't exported it :). Either way, I will wait with the export until I can pin down the error. It's certainly a bug in Bazel.

[2017-10-19 17:07] katre commented on #3919
No, it's a third-party change. Taking this to chat.

[2017-10-19 17:24] buchgr commented on #3919
So I figured I would just delete the `remote_worker` output directory and re-run the test. In fact Bazel re-creates the directory and its contents, but NOT the .runfiles directory. However, the test now actually passes?!

[code]

[2017-10-19 17:24] katre commented on #3928
Looks like the problem is specifically with the case where a rule asks for more than one toolchain, and one of them is missing.

Occurs here:
https://github.com/bazelbuild/rules_go/blob/ad076c97335c03319280fa438c9f958e7c81597a/proto/def.bzl#L56

Note: I don't think the go rules are wrong, I think Bazel is wrong.

[2017-10-19 17:26] buchgr commented on #3919
Explicitly running the `//src/tools/remote_worker:remote_worker` target then also re-creates the runfiles directory.

[2017-10-19 17:27] katre commented on #3928
And the reason it only expresses as an error on Macs is because of non-determinism in how Skyframe handles getValues() calls

[2017-10-19 17:31] buchgr commented on #3919
I tried switching back and forth between commits before the guava update and after the guava update and then running `//src/tools/remote_worker:remote_worker` and that actually works and correctly recreates the runfiles tree.

[2017-10-19 17:34] kant111 commented on #89
This is a deal breaker for me as well. why not support both approaches i.e specifying transitive dependencies explicitly vs automatically pulling the transitive dependencies and let the users decide on whatever they want to do instead of enforcing it?

A project can have a bunch of dependencies which in turn can have more dependencies  which in turn can have more dependencies and it goes on..Now I

[2017-10-19 17:44] buchgr commented on #3919
Ha! So it seems like I can reliably trigger the bug.

0) bazel clean --expunge
1) Checkout a commit that comes before `bc1cdd3`.
2) bazel test //src/test/shell/bazel:remote_execution_test <-- this will succeed
3) Checkout commit `bc1cdd3` or later.
4) bazel test //src/test/shell/bazel:remote_execution_test <-- this will fail
5) bazel run //src/tools/remote_worker:remote_worker <-- this will succee

[2017-10-19 17:46] katre commented on #3919
Is remote_worker a genrule output? I have seen recently, but not reproducibly, errors where "bazel build :genrule-output" did not trigger a rebuild of the actual genrule.

[2017-10-19 17:51] pcj commented on #89
Here's the approach I took when writing [rules_maven](https://github.com/pubref/rules_maven) that I think satisfies many of the pain points echoed here (as I too shared them).

1. Avoid having the user to invoke some other build step, it should be automated as per @pauldraper's comment.

1. Don't re-write code for transitive dependency resolution when it's already been done pretty well by gradle.

[2017-10-19 18:02] buchgr opened #3932 "GitHub mirroring is broken"
Changes exported to GoB no longer appear on GitHub.

A commit was made directly to the GitHub repository [1] (by clicking edit on the README and merging directly). Since then, new code changes exported to GoB [2] no longer appear on GitHub.

@damienmg I am looking for guidance on this one - I am not sure how the mirroring to GitHub works. Would it be sufficient to delete these two commits from the

[2017-10-19 18:02] ola-rozenfeld commented on #3930
Correction: I didn't forget to attach it, I just attached it badly (the context does not apply to the returned CacheHanldle class in line 130). Will add a test for this.

[2017-10-19 18:04] buchgr commented on #3932
cc: @katre

[2017-10-19 18:16] buchgr commented on #3919
No it's a java_binary

[2017-10-19 18:18] buchgr commented on #3932
Chatted with @katre. We decided to reset the gist history to `4b07f7ed6ab8007284e9d4f075b70b004fe0c25d` and then force push this change to GitHub. So that GitHub will be behind GoB again. Re-exporting should make mirroring work again.

Unfortunately, this will break `git pull` for everyone who has checked out this latest changes.

[2017-10-19 18:24] damienmg commented on #3932
Never ever force push to GitHub

On Thu, Oct 19, 2017, 8:18 PM Jakob Buchgraber <notifications@github.com>
wrote:

[2017-10-19 18:26] buchgr commented on #3932
Is there an alternative?

[2017-10-19 19:09] ola-rozenfeld opened #3933 "intermittent Bazel crash: bus error"
This happened to us twice, once with 0.6 and once with 0.7rc1. The error message is:

____Building complete.
Target //:protoc up-to-date:
  bazel-bin/protoc
____Elapsed time: 665.904s, Critical Path: 535.13s
____Waiting for build event protocol upload: 0s
____Waiting for Build Event Protocol upload to finish.
____Build Event Protocol upload finished successfully.
Error: error running command: sign

[2017-10-19 20:16] katre commented on #3928
I have a fix, trying to write a test now.

[2017-10-19 22:45] nicolov opened #3934 "experimental_remote_spawn_cache: missing runfiles"
Sandboxed local workers with the remote caching is great, thanks.

Unfortunately, it seems that the runfiles tree is not created when the results are downloaded from the (REST) cache. The first build with a cold cache works as expected (the runfiles are there). I've tried both today's master and 0.7.0.

[2017-10-19 22:48] htuch opened #3935 "Defining a Skylark py_proto_library via proto_library"
Given https://github.com/bazelbuild/bazel/issues/2626, I was wondering whether it would be possible to add a pure Skylark `py_proto_library` built on `proto_library`.

I've played around with rules and had a look at how rules_go does this with toolchains (https://github.com/bazelbuild/rules_go/pull/803/files). These basically involve you maintaining an additional dependency tree (which `proto_libr

[2017-10-20 00:24] AustinSchuh commented on #3898
Repo here: [multicpu_test_repo.zip](https://github.com/bazelbuild/bazel/files/1400397/multicpu_test_repo.zip)

Hopefully it's minimal enough for you.  I've got 4 toolchains setup in it.  Fair warning, I'm also pulling in bazel-0.6.1 with //tools/bazel.  I extracted this out of a repo I'm using to run my robotics team's software.

[code]

[2017-10-20 01:03] ahumesky commented on #3924
The more typical way for an android app to depend on native code is to depend on a cc_library directly:

[code]

The reason that local clang was being used was that you were building the `android_library` as the top-level target, and not the `android_binary`. It's unfortunately a bit complicated. `android_binary` has special treatment for its native deps (`cc_library` rules) where they will be bui

[2017-10-20 01:39] endobson commented on #3915
So debugged it and it is confusing OS x stuff, not a bazel issue. But hopefully this will help a future person who runs into this.

So OS X has two ways of installing java. The one that is in 'System Preferences' is the JavaAppletPlugin and is (I believe) just the JRE. You can also install the JDK which is stored under "/Library/Java/JavaVirtualMachines". /usr/bin/java uses the jdk, and I believe

[2017-10-20 01:39] #3915 closed

[2017-10-20 03:39] spinorx commented on #3924
Thanks Adam.  I was expecting android_library to behave like android_binary in terms of changing cc_library's special treatment since what one can deduce from android_binary can be deduced from android library.  My initial plan was to use bagel to produce the aar file which included so file (the model pieces) and use android studio project for UI pieces.

Last paragraph will help with that.  FWIW

[2017-10-20 08:32] startcode opened #3936 "bazel did not update a dependency in WORKSPACE"
We recently updated the URL of a dependency `xyz` in a project's WORKSPACE file.
But it turns out that bazel did not fetch the new file with the new URL. I found the stuff in `bazel-bin/external/xyz` is still the old file.

I did `bazel fetch @xyz//...`, did not ork.
Even rm the `xyz` folder in cache did not work.

We have to completely clean the bazel cache and build everything again, which takes

[2017-10-20 08:36] buchgr commented on #3919
Both the runfiles tree and the runfiles manifest are not updated. The java launcher script is.

[2017-10-20 08:50] buchgr commented on #3919
Just found out that Linux has the same problem, but that did not show up on our CI.

[2017-10-20 08:50] buchgr commented on #3919
cc: @ulfjack

[2017-10-20 09:29] Reflexe commented on #3932
Is there an alternative? With GitHub and GoB history diverged?

You can set the mirroring to pull (and merge) GoB's head to Github's head instead of pushing GoB's commits to Github. However, I have no idea how the mirroring works or if it is possible.

I don't think that reverting would work since it look like the mirroring doesn't like GoB's HEAD and Github's HEAD being different (reverting would

[2017-10-20 09:32] damienmg commented on #3932
As discussed offline, we are going to overwrite gerrit HEAD

[2017-10-20 11:03] excavador commented on #3928
Great! It would be in next bazel release, right?

[2017-10-20 12:05] #3424 closed

[2017-10-20 12:05] #2667 closed

[2017-10-20 12:05] #3930 closed

[2017-10-20 12:51] laszlocsomor commented on #3912
@meteorcloudy -- do you think https://bazel-review.googlesource.com/c/bazel/+/18790 could be relevant here?

[2017-10-20 13:00] meteorcloudy commented on #3912
That change is not yet submitted. Do you still have the CI link? If it's CR presubmit, it could be.
But I haven't seen this error before.

[2017-10-20 13:27] laszlocsomor commented on #3912
I don't, but see the internal bug for more data.
The CI run was for the change that we pushed as https://github.com/bazelbuild/bazel/commit/aae614aa45f17ad3932aec59d52d6bc7074d814d.

[2017-10-20 13:37] buchgr commented on #3932
Fixed

[2017-10-20 13:37] #3932 closed

[2017-10-20 13:41] meteorcloudy commented on #3912
So it doesn't seem to be caused by  https://bazel-review.googlesource.com/c/bazel/+/18790
I guess we don't yet have a reproduce out of Kokoro?

[2017-10-20 13:42] buchgr commented on #3919
Another instance of this bug might be https://ci.bazel.build/job/bazel-tests/1093/testReport/com.google.devtools.build.android.dexer/DexFileSplitterTest/testSingleInputMultidexOutput/

This class was recently added too.

[2017-10-20 13:50] kant111 commented on #2310
any progress here?

[2017-10-20 15:25] katre commented on #3928
Yes, it should be in the November release.

[2017-10-20 15:25] excavador commented on #3928
Thank you!
Can't wait :)

[2017-10-20 15:26] katre commented on #3928
I'll have a change out for review shortly , once I've tested and cleaned up the code :)
I'll link it from here.

[2017-10-20 15:29] laszlocsomor opened #3938 "Windows, client: redundant classpath entries for Bazel server"
### Description of the problem / feature request / question:

Bazel with embedded JDK starts the Bazel server with a classpath containing duplicate entries.

### If possible, provide a minimal example to reproduce the problem:

Run Bazel and observe the command line of the Java server in Process Explorer.

![long-classpath](https://user-images.githubusercontent.com/10532244/31828976-30322d6a-b5bc-

[2017-10-20 15:31] laszlocsomor commented on #3938
I know the culprit: we add the embedded tools' directory once for every shared library we find under in that directory. On Windows this means .dll files. When the JDK is embedded, we add the directory name 51 times (once for every .dll file).

[2017-10-20 15:33] laszlocsomor commented on #3938
![Classpath after my bugfix](https://user-images.githubusercontent.com/10532244/31829164-c8de2820-b5bc-11e7-8943-351c9ccbb25a.png).

[2017-10-20 15:35] katre commented on #3928
https://bazel-review.googlesource.com/c/bazel/+/19310 is sent for review. I tested it with your repro git repository and I get the expected error.

[2017-10-20 17:58] tybook opened #3939 "MAX_MEMORY_KBYTES in SimpleBlobStoreActionCache?"
### Description of the problem / feature request / question:

I am trying to use a REST remote cache (Apache w/ WebDAV) for the first time with my org's codebase. My `tools/bazel.rc` contains:
[code]

I have it set up and mostly working, but at least one of our build artifacts is larger than the 512MiB hard-coded upload/download size limit enforced by the `MAX_MEMORY_KBYTES` constant in `src/main/

[2017-10-20 18:42] #3936 closed

[2017-10-20 19:04] thassss opened #3940 "apple_binary.app.dSYM.temp.zip was not created"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:

Hi I am exploring hazel to possibly use at my company.  I am unable to build simple Swift iOS app. I have an ios_application target that depends on a swift_library, which contains my AppDelegate and RootVie

[2017-10-20 19:15] gregestren commented on #3871
https://github.com/bazelbuild/bazel/commit/8b5bf1f440ef8d140eb3843861fbce65709438ea puts in core support for building with both Python 2 and 3 in the same invocation.

I think we'll have to do some more tweaks to properly integrate the Python top, etc. But keep an eye out for this functionality, which alone might go a long way.

[2017-10-20 19:20] gregestren commented on #1580
See https://github.com/bazelbuild/bazel/commit/8b5bf1f440ef8d140eb3843861fbce65709438ea for some relevant steps forward (particularly proper honoring of [default_python_version](https://docs.bazel.build/versions/master/be/python.html#py_binary.default_python_version)).

[2017-10-20 20:44] lshamis opened #3941 "Recursive http_archive"
I'm using `http_archive` to add https://github.com/abseil/abseil-cpp to my WORKSPACE.
When trying to use one of their BUILD rules, I get the following error:

    .../external/com_google_absl/absl/time/BUILD.bazel:27:1: no such package '@com_googlesource_code_cctz//': The repository could not be resolved and referenced by '@com_google_absl//absl/time:time'

`com_googlesource_code_cctz` is defined

[2017-10-20 21:14] ola-rozenfeld commented on #3913
I still don't know the root cause, but I have a patch in review that will at least output a better error message (what input file was missing from local cache).

[2017-10-21 00:57] dangerousHobo commented on #3844
I've updated to bazel 0.7.0 and still seeing this issue. The files do exist in the toolchain:
[code]
and this path is included in the linker path:
` -Lexternal/timesysLinuxGcc483/lib`

Is this any issue with my linker_flags in CROSSTOOL? Do I need to set LIBRARY_PATH somehow?

Thanks for any tips.

[2017-10-21 01:32] tybook commented on #3939
dupe of #3250

[2017-10-21 01:32] #3939 closed

[2017-10-21 03:08] PraflyGod opened #3942 "how to work with "youcompleteme" in vim"
how to work with youcompleteme in vim****asdfjasjdfhow to work with youcompleteme in vim

[2017-10-21 03:26] mbanyar033 commented on #3942
Hello World

[2017-10-21 05:00] spinorx commented on #3924
Hi Adam,  Another question partially related to cross tool top.  What is good way to detect bagel is building android.  In protobuf lib I see:
config_setting(
    name = "android",
    values = {
        "crosstool_top": "//external:android/crosstool",
    },

Which does not look compatible with using --android_crosstool_top.
I added flag which can be passed in with --define PLATFORM=android.  But

[2017-10-21 10:35] dslomov commented on #3826
This implementation is in internal review (sorry about the non-transparency, it is a bit hard right now to do both internal and gerrit reviews; work is underway to fix that)

[2017-10-21 15:14] mcwienczek commented on #3152
I am still having this problem. macOS Sierra. removing `/private/var/tmp/_bazel_$USER` didn't help.

[code]

[2017-10-22 12:38] snnn commented on #2675
Hi @meteorcloudy , How is it going? Is it solved?

[2017-10-23 01:01] nicolov opened #3945 "remote caching/execution README is out of date for 0.7.0"
The [remote execution readme](https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/remote/README.md) is out of date now that 0.7.0 has been released with the `RemoteSpawnCache`. The `remote` spawn strategy is not even available anymore.

[2017-10-23 01:28] StephenAmar commented on #1410
Any news regarding that web tool you've been mentioning in other bugs @jart
I kind of want to migrate my repo to java_import_external, but without something like  generate_workspace to resolve transitive dependencies, it's quite a lot of work.

[2017-10-23 03:26] jart commented on #1410
Behold Bazel Maven Config Generator in https://github.com/bazelbuild/bazel/pull/3946 and the [demo video](https://www.youtube.com/watch?v=xdMDuhJTKMI) on YouTube. @or-shachar @StephenAmar

[2017-10-23 05:10] nicolov commented on #3934
It seems that https://github.com/bazelbuild/bazel/commit/ba8b0b3273ace313d35e9917c8116bab6386c6cc fixes this.

[2017-10-23 05:47] laszlocsomor commented on #3912
Not yet.

[2017-10-23 08:43] zegl opened #3947 "No descriptive output when fetching git_repository"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:

No descriptive output when fetching a large `git_repository` dependency.

The only output is:

[code]

Something simple as displaying the dependency name or git remote would improve the experience a lot.

W

[2017-10-23 09:24] ArigarasuthanRepo opened #3948 ".so file not generated in tensorflow"
Iam trying to build .so file in tensorflow using bazel build tool.when i build the .so file iam getting following how can i solve this issue.

**$ bazel build -c opt //tensorflow/contrib/android:libtensorflow_inference.so    --crosstool_top=//external:android/crosstool    --host_crosstool_top=@bazel_tools//tools/cpp:toolchain    --cpu=armeabi-v7a**
_ERROR: C:/tools/msys64/tmp/_bazel_deemsys/28x4ac

[2017-10-23 12:17] wstrange commented on #1410
From a quick glance of the above PR, it looks like this does not support private Maven repos such as Artifactory?

[2017-10-23 13:12] snnn opened #3949 ""alwayslink=1" is broken on Windows and VS 2017"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:
"alwayslink=1"  doesn't work anymore.

### If possible, provide a minimal example to reproduce the problem:
Build file:
[code]

main.cpp

[code]
a1.cpp
[code]

When you run "h.exe", the expected output shoul

[2017-10-23 13:39] AtomicSpider opened #3950 "Cannot read protobuf.bzl"
Hi,
I'm trying to re-train the inception model using bazel.
While executing this line `bazel build tensorflow/examples/image_retraining:retrain` I get the following error:
[code]
### Environment info
* Operating System: Windows 10

* Bazel version (output of `bazel info release`):  release 0.7.0

[2017-10-23 14:14] buchgr commented on #3916
Fixed

[2017-10-23 14:14] #3916 closed

[2017-10-23 14:14] meteorcloudy commented on #2675
Well, it turned out to be much more complicated that I thought. But yes! I have a fix under review, it will be fixed soon. https://bazel-review.googlesource.com/#/c/bazel/+/18790/

[2017-10-23 14:17] damienmg opened #3951 "SkylarkDocumentationGenerator generate incorrect documentation for is_executable"
https://docs.bazel.build/versions/master/skylark/lib/actions.html#expand_template says that the last argument is `executable` but the code https://github.com/bazelbuild/bazel/blob/e222ba362c4c8c0cc0c76b308ee899e75098746a/src/main/java/com/google/devtools/build/lib/analysis/skylark/SkylarkActionFactory.java#L798 shows that it should be `is_executable`. This is actually verified by writing a skylark

[2017-10-23 14:32] buchgr commented on #3941
cc @damienmg

[2017-10-23 14:34] buchgr commented on #3934
So it seems like this is fixed then? Please re-open if still an issue.

[2017-10-23 14:34] #3934 closed

[2017-10-23 15:00] aj-michael commented on #3924
That's a hard question, because Bazel doesn't really know about "building android". When bazel analyzes cc_library rules, it uses the values of --crosstool_top and --cpu. When a Bazel analyzes an android_binary, it changes the values of --crosstool_top and --cpu based on --android_crosstool_top, --android_cpu and --fat_apk_cpu. Furthermore, while the Bazel team provides some built-in crosstools li

[2017-10-23 15:05] ulfjack commented on #2475
Actually, I have a plan for implementing the new rlocation (exact name TBD) function without changing the Skylark API. It would be nicer to have a new Skylark API, but it doesn't necessarily block fixing this in the short term. I should have an update this week.

[2017-10-23 15:17] #3928 closed

[2017-10-23 15:17] #3938 closed

[2017-10-23 15:27] spinorx commented on #3924
It was not working because I am using --android_crosstool_top=@android_ndk//:toolchain-libcpp.  I have to use that because grpc uses some cpp functions which are not in libstdcpp: https://stackoverflow.com/questions/22774009/android-ndk-stdto-string-support

Adding:
config_setting(
    name = "android_libcpp",
    values = {
        "crosstool_top": "@android_ndk//:toolchain-libcpp",
    },
)

wor

[2017-10-23 15:50] aj-michael commented on #3924
So just to summarize, the issue here is that "building for Android" can mean multiple things and it's not reasonable for protobuf team to keep an exhaustive list of all of them. (I'd argue it's also not reasonable for Bazel team to keep an exhaustive list, since users can define their own Android crosstools. But maybe that's another discussion.)

@spinorx , you can try adding this to the bottom of

[2017-10-23 16:00] dslomov commented on #3826
Overeager GitHub bot.

[2017-10-23 16:13] spinorx commented on #3924
Thanks Adam,  this is much more elegant solution.

[2017-10-23 18:10] benjaminp commented on #3919
It seems to me that the problem is that the shell wrapper for the `remote_worker` resolves the `JAVA_RUNFILES` path into the runfiles of `remote_worker` itself rather than the runfiles tree of `remote_execution_test` (which is a supserset of the former).

[2017-10-23 18:26] aj-michael commented on #3924
FWIW, we have a long-term solution called "constraint-based platforms" that is still in the works. It should us to express things like, "this cross tool is usable for building against the Android platform". And the config settings can select on the well-defined "Android platform". You can read a bit about it here:

https://docs.google.com/document/d/1-G-VPRLEj9VyfC6VrQBiR8To-dZjnBSQS66Y4nargGM

[2017-10-23 19:52] aj-michael commented on #3948
Hi @ArigarasuthanRepo, can you tell us what is your Bazel version? Android support on Windows is experimental at the moment and I think your issue may be due to that.

@ahumesky, @laszlocsomor fyi

[2017-10-23 20:32] philwo opened #3952 "Investigate better use of java.nio.file.Path in our JavaIoFilesystem"
Taras suggested the following on bazel-dev:

I'll look into this.

[2017-10-23 20:44] spinorx commented on #1802
@pcj - I need dependencies for objc to be propagated.  When I have X depending on Y both objc_proto_library,  I get error which says headers generated by Y is not found.  How do I propagate the dependencies?  I can make the change if I am pointed in right direction.

[2017-10-23 23:23] pcj commented on #1802
@spinorx Can you file an issue on rules_protobuf, ideally with a repro?  (Will be easier to track there).  Thanks.

[2017-10-23 23:33] spinorx commented on #1802
Done:  https://github.com/pubref/rules_protobuf/issues/146

[2017-10-24 01:20] htuch commented on #2127
+1 to @natansil, aspects do not have any docs for output groups, please reopen.

[2017-10-24 05:09] ArigarasuthanRepo commented on #3948
iam using bazel version 0.5.4

[2017-10-24 08:01] laszlocsomor commented on #3948
This looks like a bug I've occasionally seen but haven't found the root cause for.
I'll add more logging so hopefully we'll have more information about what process Bazel tried to create.

@ArigarasuthanRepo : I think 0.5.4 didn't yet support building Android rules, please upgrade to the latest version (0.7.0 at the moment).

[2017-10-24 08:22] dslomov opened #3954 "Tutorial build broken in nightly"
See https://ci.bazel.io/blue/organizations/jenkins/Global%2FTutorial/detail/Tutorial/239/pipeline/
I suspect this: https://github.com/bazelbuild/bazel/commit/0446714686119dd97f8d1f99290f98db91a65e44

[2017-10-24 08:23] meteorcloudy commented on #3927
After some bisect, I believe the culprit is 5cca89f970bcaddb98972055f2d9539e9d225e67

[2017-10-24 08:23] meteorcloudy commented on #3927
@tomlu @ulfjack Can you take a look what the problem could possibly be?

[2017-10-24 08:35] meteorcloudy commented on #3927
This failure can also be observed from our night build:
https://ci.bazel.io/blue/organizations/jenkins/Global%2Fbazel-tests/detail/bazel-tests/314/pipeline/31

[2017-10-24 08:41] #3826 closed

[2017-10-24 08:45] laszlocsomor opened #3955 "Android, Windows: Android hello world won't build with Bazel 0.7.0"
This is again a long path issue, this time in `tools/android/aar_embedded_jars_extractor.py`. I have a fix for it.

I think it's time I update all `tools/android/*.py` files to support long paths, because we keep running into this issue.

[2017-10-24 08:45] laszlocsomor commented on #3955
/cc @aj-michael @ahumesky @dkelmer @meteorcloudy @dslomov

[2017-10-24 08:46] meteorcloudy commented on #3949
@snnn It does produce the correct output on my machine
[code]
Hmm,,
I believe the compiler will understand `/`, it shouldn't cause any problem.
Which visual C++ build tool version are you using?

[2017-10-24 08:48] meteorcloudy commented on #3955
Do we have a test for building the Android hello world?

[2017-10-24 08:49] dslomov commented on #3826
This is now implemented for real; @ianthehat please try it out soonish - if this does not work for you and you need something changed before 0,8, we'll have to act quickly.

[2017-10-24 08:52] meteorcloudy commented on #3949
Can you run the link command manually to see if it works
[code]

[2017-10-24 08:55] meteorcloudy opened #3956 "Windows: `bazel clean --expunge` sometimes causes Bazel server to crash"
When I run `bazel clean --expunge` on Windows, I sometimes get
[code]
Both errror_message and log file are empty.

Bazel version: HEAD

[2017-10-24 08:56] laszlocsomor commented on #3955
No, but we have an open bug for it: https://github.com/bazelbuild/bazel/issues/3663

[2017-10-24 09:01] snnn commented on #3949
[code]

[2017-10-24 09:11] snnn commented on #3949
Hi @meteorcloudy
My VS version is : Visual Studio 2017 (15.4.1). What's yours?
I've tried to copy h.exe-2.params to another position and replace '/' with '\\',  then the link command can generate the correct exe.

[2017-10-24 09:15] meteorcloudy commented on #3949
I installed Visual C++ Build Tool 2015,
The linker version is:
[code]

Interesting, I'll test this with Visual Studio 2017

[2017-10-24 09:40] snnn commented on #3949
I got the same result as you with VS 2015.

[2017-10-24 09:40] dslomov commented on #3950
@meteorcloudy could you take a quick look?

[2017-10-24 09:42] dslomov commented on #3942
Seems to be the wrong place to ask this.

[2017-10-24 09:42] #3942 closed

[2017-10-24 09:45] meteorcloudy commented on #3949
I can also reproduce this with VS 2017, it's surprising that VS 2017 stopped supporting `/` in parameter file for /WHOLEARCHIVE..
@laszlocsomor Is there an easy way to switch to backslash?

[2017-10-24 09:49] dslomov commented on #3935
The idea here is that:
 * aspects will collect all the transitive `_pb2.py` files and pass it to `py_proto_library` rule
 * `py_proto_library` rule will make those available to `py_library` rule in the `py` provider.
This is not super-wel documented.

[2017-10-24 09:50] dslomov commented on #3933
@ulfjack @buchgr any suggestions?

[2017-10-24 09:54] meteorcloudy commented on #3949
Will anything go wrong if we use `\\` as primary separator?
https://github.com/bazelbuild/bazel/blob/755e176cc116ab8332e79c52c06441c64459af1e/src/main/java/com/google/devtools/build/lib/vfs/WindowsPathFragment.java#L53-L58

[2017-10-24 09:55] meteorcloudy commented on #3949
Looks like so, after switching the two, I got:
[code]

[2017-10-24 09:56] laszlocsomor commented on #3949
@meteorcloudy : I believe that would break things, but I don't know. For the record I didn't add that TODO, @haxorz did so he may have more context.

[2017-10-24 09:58] dslomov commented on #3913
Not sure what the right category is for remote execution. @damienmg wdyt?

[2017-10-24 09:59] buchgr commented on #3913
@dslomov service APIs is correct.

[2017-10-24 09:59] laszlocsomor commented on #3949
@meteorcloudy : Maybe update this logic to be Windows-aware?
 https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/analysis/actions/CustomCommandLine.java#L1107

[2017-10-24 10:07] buchgr commented on #3913
`Metadata.getDigest()` returns `null`. Grepping through the code base suggests that this seems to be the case for middleman artifacts and directories.

[2017-10-24 10:29] meteorcloudy commented on #3927
@dslomov FYI

[2017-10-24 11:10] AtomicSpider commented on #3950
I was able to retrain the model in linux. It works great but in windows it throws this error

[2017-10-24 11:16] mhlopko commented on #3844
Do you declare those objects in cc_toolchain?

[2017-10-24 11:18] mhlopko commented on #3844
Nevermind, found out that you already shared the project :) Shouldn't `compiler_pieces` be also in the cc_toolchain? I assume that's where the object are right?

[2017-10-24 12:04] meteorcloudy commented on #3950
A quick search on TF repo: https://github.com/tensorflow/tensorflow/issues/10631
Does `patch` command exist in your MSYS?
If not, you can install it by `pacman -Syuu patch`

[2017-10-24 12:09] htuch commented on #3935
@dslomov can Bazel team do a worked example of using aspects + providers to implement a `py_proto_library` as a blog post? When I think back to the most useful docs I've seen on Bazel, I think these extended examples are great, e.g. I learned a lot about `repository_rule` from following the C++ autoconfigured toolchain example linked to from https://docs.bazel.build/versions/master/skylark/reposit

[2017-10-24 12:16] htuch commented on #2127
Never mind, this looks to be documented at https://docs.bazel.build/versions/master/skylark/rules.html#output-groups. I still think it would be useful to link from https://docs.bazel.build/versions/master/skylark/aspects.html to here and explain the CLI requirement to specify `--output_groups` in the aspects docs.

[2017-10-24 12:37] buchgr commented on #3933
Do you have the JVM log from Bazel? HotSpot is known to surface any kind of error as a bus error.

[2017-10-24 12:52] janakdr commented on #3931
Are there logs with the new error? And is this 100% reproducible, or flaky?

[2017-10-24 13:10] damienmg opened #3957 "Release - February 2018 - Target RC date: 2018-02-0? - name: 0.11.0"
Release tracking bug for February 2018:

* Target cut should be 1st of February (first business day of January) but it is close to FOSDEM so we might want to delay
* Name: 0.11.0

RM if we follow the rotation should be @katre: can you take it?

[2017-10-24 13:10] damienmg opened #3958 "Release - January 2018 - Target RC date: 2018-01-09 - name: 0.10.0"
Release tracking bug for January 2018:

* Target cut should be 2nd of January (first business day of January) but since it is close to holidays we need to check with whoever is going to be RM.
* Name: 0.10.0

RM if we follow the rotation should be @philwo: can you take it?

[2017-10-24 13:11] damienmg commented on #3957
Arf let's close and reopen this bug so it is after 0.10

[2017-10-24 13:11] #3957 closed

[2017-10-24 13:11] damienmg opened #3959 "Release - February 2018 - Target RC date: 2018-02-01 - name: 0.11.0"
Release tracking bug for February 2018:

- Target cut should be 1st of February (first business day of January) but it is close to FOSDEM so we might want to delay
- Name: 0.11.0

RM if we follow the rotation should be @katre: can you take it?

[2017-10-24 13:30] aj-michael commented on #3955
re test: it's coming in https://bazel-review.googlesource.com/#/c/bazel/+/18511, but i got unexpectedly busy in the last two weeks

[2017-10-24 13:39] #2675 closed

[2017-10-24 13:49] aj-michael commented on #3955
Was this a new issue? The aar code has not been changed recently

[2017-10-24 14:02] meteorcloudy commented on #3956
Possible culprit: https://github.com/bazelbuild/bazel/commit/4869c4e17d5b1410070a1570f3244148d8f97b5d

[2017-10-24 14:03] #3954 closed

[2017-10-24 14:23] meteorcloudy commented on #3956
git bisect confirmed my suspicion.

[2017-10-24 14:25] laszlocsomor commented on #3955
We may not have triggered the bug before. Maybe the way we use the aar tool has changed? Anyway, I'm planning to fix these bugs once and for all by updating the Python tools under `//tools/android`.

[2017-10-24 14:40] ianthehat commented on #3826
Thanks Dmitry
Is there a build with it in or do I need to build bazel from source?

On 24 October 2017 at 04:49, Dmitry Lomov <notifications@github.com> wrote:

[2017-10-24 14:57] dslomov commented on #3826
There will be a nightly tonight, but building from source is the quickest

[2017-10-24 15:02] meteorcloudy commented on #3956
@kush-c @lberki Could you take a look please?

[2017-10-24 15:17] meteorcloudy commented on #3956
I can reproduce this when running `bazel build src:bazel && bazel clean --expunge` on Windows.

[2017-10-24 17:51] tybook opened #3960 "Allow the `no-cache` execution requirement to be set via a tag on built-in rules"
### Description of the problem / feature request / question:

I am using remote caching (Apache WebDAV with the `--experimental_remote_spawn_cache` option) and some of my build artifacts created by `genrule`s are very large (1-3GB). These artifacts don't take very long to build locally, so they would be unnecessarily taking up cache space and network bandwidth. It appears that Skylark actions can

[2017-10-24 18:18] dmishe commented on #3940
@c-parsons this looks familiar, have you seen this error before?

[2017-10-24 18:18] jart commented on #1410
@wstrange I don't see why it wouldn't. It also depends on what you mean. For example, you can just sed "repo1.maven.org" in [index.html](https://github.com/jart/bazel/blob/ef0328910fd61a7e77f4c56443d87365eeac7174/tools/build_defs/repo/maven_config_generator/index.html#L543) to whatever and it'll crawl the POMs. If you want to it to be able to crawl multiple POM repos, that might not be a trivial c

[2017-10-24 18:23] ahumesky commented on #348
We're working on getting our testing for android apps in better shape, this is something we'll likely work on after that.

[2017-10-24 18:57] wstrange commented on #1410
[Disclaimer: I am a Bazel newbie, so the questions I am asking may not make sense ;-) ]

The way our Artifactory repo works is that there could be several different repos defined, and each has a potentially different set of credentials.  So  the http auth credentials used by java_import_external would vary depending on which repo the dependency is coming from.

Maven handles all of this by using t

[2017-10-24 19:50] gbolcer commented on #428
Quick workaround:
cd /usr/lib/jvm/java-9-oracle/lib
sudo ln -s ../../java-8-oracle/jre/lib/rt.jar .

Comments from this older thread: required j8 runtime.
https://github.com/bazelbuild/bazel/issues/1068

[2017-10-24 20:19] ola-rozenfeld commented on #3933
Sorry, no, we wipe these directories after execution. I will try to get a log if this ever happens in a different environment. What's HotSpot?

[2017-10-24 20:21] rtsai opened #3961 "bazel sandboxing is too narrow for compiler-selecting conditionally-compiled code"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:

We use gcc to compile our project, and use an experimental_action_listener to implement clang-tidy checking of the code as it compiles.

Part of our project uses boost (in source form, in our //third_party)

[2017-10-24 22:04] nicolov commented on #3960
It's a one-line diff to `RemoteSpawnCache.java`, if you're willing to do it yourself.

[2017-10-24 23:30] BenTheElder commented on #3956
I think we've actually been seeing this in an ubuntu based docker image https://github.com/kubernetes/test-infra/pull/5137, and also now with `bazel version` too.

[2017-10-24 23:46] dangerousHobo commented on #3844
Hi @mhlopko, `compiler_pieces` is a part of filegroup `timesys_linux_linker_files` and `timesys_linux_all_files`, but those files were not include as part of `compiler_pieces`. After fixing this I got past that error.

The linker now is not able to find some libc libraries. What has me a bit confused is the absolute path. I was expecting a relative path like all the others shown. Is this absolute

[2017-10-25 00:44] jart commented on #1410
Is [Artifactory](https://www.jfrog.com/open-source/) sort of like a really robust Squid caching proxy? Reading about it, I couldn't help but notice that Artifactory Enterprise Edition offers five-nines availability. I actually have a great deal of respect for the JFrog developers, for having achieving this level of reliability. It's a level of engineering most thought only AT&T and Chubby could ma

[2017-10-25 02:22] GinFungYJF commented on #2336
Any updates ?

[2017-10-25 04:17] jbeder commented on #3940
Is this similar to #3372?

(I'm running into this too.)

[2017-10-25 06:01] davido opened #3962 "Windows: bazel --workspace_status_command doesn't accept relative path"
While this works for Gerrit Code Review:

[code]

It's not practible to pass absolute path for Windows specific workspace-status.cmd, to overload the default one that is specificed in tools/bazel.rc:

[code]

Obviously, `bazel --workspace_status_command` should accept relative path, so that something like that should just work:

[code]

[2017-10-25 06:14] rahul-malik commented on #3891
@buchgr - Is the comment / TODO up-to-date? It mentions calling `uploadTree` but no such method exists in the repository.

Also how would you recommend going about fixing this issue?

[2017-10-25 06:27] benjaminp commented on #3844
The absolute paths come from `libc.so`, which is a linker script masquerading as a shared object. I don't think there's a good solution to this besides changing paths in the linker script to be relative.

[2017-10-25 06:55] laszlocsomor opened #3963 "Android, Windows: update //tools/android/*.py to support long paths on Windows"
Update `//tools/android/*.py` to support long paths on Windows.

[2017-10-25 06:55] laszlocsomor commented on #3963
/cc @aj-michael @ahumesky @dkelmer @meteorcloudy @dslomov

[2017-10-25 08:41] mhlopko commented on #2160
Aren't header maps solving this problem? We have an external contribution at https://github.com/bazelbuild/bazel/pull/3712. Could you take a look at it and comment if it will help your use case?

[2017-10-25 08:42] meteorcloudy commented on #3956
@BenTheElder Which Bazel version are you using?

[2017-10-25 09:16] ulfjack commented on #3519
Unable to reproduce. Bazel run does send the interrupt signal to the subprocess. Now, on linux, by default, the subprocess is the process-wrapper, which in turn wraps the command in question. When the process-wrapper receives SIGINT, it in turn sends SIGKILL to the subprocess.

What's likely happening is that your run target creates a subprocess itself, and that one isn't notified of the shutdown.

[2017-10-25 09:39] petemounce commented on #3771
Pushed https://chocolatey.org/packages/bazel/0.7.0 - only just noticed this issue, wasn't pinged.

[2017-10-25 09:41] damienmg commented on #3771
Sorry for that @petemounce, all the release are now labelled "release": https://github.com/bazelbuild/bazel/labels/release, should be easier to follow.

[2017-10-25 09:53] ArigarasuthanRepo commented on #3948
**now iam build with bazel 0.7.0 i got diffrent error.**
_bazel build -c opt //tensorflow/contrib/android:libtensorflow_inference.so    --crosstool_top=//external:android/crosstool    --host_crosstool_top=@bazel_tools//tools/cpp:toolchain    --cpu=armeabi-v7a_

WARNING: The lower priority option '-c opt' does not override the previous value '-c opt'.
DEBUG: C:/tools/msys64/tmp/_bazel_deemsys/28x4a

[2017-10-25 10:03] ddwolf commented on #2926
is this problem fixed?

[2017-10-25 10:17] petemounce commented on #3771
np, thanks for the label!

[2017-10-25 11:13] ulfjack commented on #2475
My proposal is that we add $(execpath), $(execpaths), $(rootpath), and $(rootpaths) functions that work the same way as $(location), but always use exec paths or root-relative paths (runtime / runfiles paths) respectively. The way I'm adding them they become available whenever $(location) is available, and perform the exact same label / dependency lookup.

I have a pending change for this, on top

[2017-10-25 12:11] ittaiz commented on #2475
Excuse me for the noob question but what is the different between execpath and rootpath? Or rather why is rootpath needed? I assume execpath is like $(location) but when I execute the code

[2017-10-25 12:36] ddwolf opened #3964 "compile from source in windows failed: LINK : fatal error LNK1181: cannot open input file 'C:/msys64/MP4.obj'"
### I am compiling bazel from source in windows, and it failed, here is the outputs
[code]

### Environment info
* Operating System: Windows 7 Professional Service Pack 1

* Bazel version (output of `bazel info release`): [bazel-0.7.0-dist.zip](https://github-production-release-asset-2e65be.s3.amazonaws.com/20773773/bfb12e28-b3d7-11e7-9458-2e764925ed2e?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Creden

[2017-10-25 12:46] ulfjack commented on #2475
For example, say you have expansion/BUILD:
[code]

foo.txt:
execpath = bazel-out/darwin-fastbuild/bin/expansion/foo.txt
rootpath = expansion/foo.txt

bar.txt:
execpath = expansion/bar.txt
rootpath = expansion/bar.txt

The current $(location) function sometimes returns the exec path, and sometimes returns the root-relative path, depending on how the expander is configured (except you can't configur

[2017-10-25 12:48] damienmg commented on #3941
Blocked by #1943

[2017-10-25 12:53] ittaiz commented on #2475
I think I understand.
It sounds like from skylark (due to the lack of knob) $(location) always
works like $(rootpath)
On Wed, 25 Oct 2017 at 15:46 Ulf Adams <notifications@github.com> wrote:

[2017-10-25 12:54] wstrange commented on #1410
So I think what you are saying is that when you are at 10 nines of availability, you have no place to go. Bazel goes to _11 nines_.

Artifactory and Nexus are very common in the "enterprise" space.   If Bazel is to attract hordes of Java developers (and that may not be a goal ;-) ), having first class support for private maven repositories (with authentication) is essential.

The proxy idea is *su

[2017-10-25 13:26] ddwolf commented on #3964
I don't know why there is a environment variable is cl=/MP4, and when I called a bat in a bash file, it has been changed to cl=C:/msys64/MP4, after I added the code:
[code]
after src/main/native/windows/build_windows_jni.sh's line 101, the problem solved.

[2017-10-25 14:46] #3962 closed

[2017-10-25 14:52] meteorcloudy opened #3965 "Gerrit should build on Windows with Bazel's next release"
After https://bazel-review.googlesource.com/#/c/bazel/+/19470/, gerrit should be able to build its sever on Windows with Bazel@HEAD.
This is just an issue to make sure our next release won't break the build.

[2017-10-25 15:11] c-parsons commented on #3372
Cal, is this done? (See #3940)

[2017-10-25 15:29] paulraines68 commented on #935
For those running RHEL/CentOS, this happens when you have java-1.8.0-openjdk installed but do not have java-1.8.0-openjdk-devel installed (but do have java-1.6.0-openjdk-devel installed). Installing java-1.8.0-openjdk-devel should fix it

[2017-10-25 15:34] pcj commented on #1410
Hi Warren.  I'd encourage you to file an issue on [rules_maven](https://github.com/pubref/rules_maven).  It uses gradle to resolve transitive deps under the hood.  As gradle already factors in the `settings.xml` file when fetching artifacts, I'd gander a bet that getting this to work might not be too hard.  We'd just have to be able to pass in your `settings.xml` file as a label to the maven_repos

[2017-10-25 16:09] BenTheElder commented on #3956
0.7.0, I haven't seen this with previous releases.

On Oct 25, 2017 01:43, "Yun Peng" <notifications@github.com> wrote:

@BenTheElder <https://github.com/bentheelder> Which Bazel version are you
using?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/bazelbuild/bazel/issues/3956#issuecomment-339258567>,
or mute the thread
<ht

[2017-10-25 17:37] seungryulchoisc opened #3966 "linking .so file"
I have an `libxyz.so` file and want to use it in `cc_binary`. And I found the following two methods work:

[code]

or

[code]

The 1st method requires `libxyz.so` at run time (needs its path to be set in `LD_LIBRARY_PATH`) and 2nd method does not need `libxyz.so` at run time. I'd like to know how these two methods are implemented and what other differences are there between these two methods. And

[2017-10-25 18:35] AustinSchuh commented on #1836
--experimental_sandbox_base has been working for us since May.  Should we close this bug?

(Note, mapping the bazel-bin and bazel-genfiles folders to /dev/shm instead of the host filesystem has been resulting in higher memory usage for us when building 1G+ deploy images, but that's part of the price to pay for being fast.)

[2017-10-25 18:43] AustinSchuh opened #3967 "Slow read on large files"
I'm getting the following:

[code]

That's ~240 MB/s read speed.  I wouldn't call that slow!

I think something time < 5 seconds || size / time < 10 MB/s would be a better check.

[2017-10-25 20:06] ianthehat commented on #3826
Tested this today, worked perfectly for this and a few other use cases, thanks!

[2017-10-25 20:12] dslomov commented on #3826
Great, let me know it you hit any issues, and thanks for bringing this problem to our attention and also suggesting a design for solution. This will be helpful to everyone developing rules for Windows.

[2017-10-25 20:58] jart commented on #1410
@wstrange I encourage you to file a feature request asking for the ability to add to say `fetch --auth user:pass@user.com` in `~/.bazelrc` so downloader can do Basic Authentication ([see also](https://github.com/eclipse/aether-core/blob/4cf5f7a406b516a45d8bf15e7dfe3fb3849cb87b/aether-transport-http/src/test/java/org/eclipse/aether/transport/http/HttpTransporterTest.java)). It's not an unreasonable

[2017-10-25 21:24] tybook commented on #3960
Can you be more specific? I'm willing to do it myself but it isn't obvious to me what the one-line diff would be.

[2017-10-25 21:35] nicolov commented on #3960
AFAICT, this works fine:

[code]

[2017-10-25 21:58] pmerwah commented on #3950
installing pacman -Syuu patch did not solve this problem.
ERROR: Analysis of target '//tensorflow/tools/pip_package:build_pip_package' failed; build aborted: error loading package 'tensorflow': Encountered error while reading extension file 'protobuf.bzl': no such package '@protobuf_archive//': Traceback (most recent call last):
        File "C:/users/pushkar/tensorflow/tensorflow/workspace.bzl",

[2017-10-25 23:14] dangerousHobo commented on #3844
Hello @benjaminp, by 'changing paths in the linker script' you mean in `libc.so`? Can you elaborate on this, please? I'm not sure this solution would work for me if I had to modify object files in the toolchain. The linker says it can't find the libc static library and shared (object) library, so it seems it wouldn't be from libc since the linker hasn't loaded it yet.
Thanks for the help.

[2017-10-26 00:11] tybook commented on #3960
That isn't working for me. The map `spawn.getExecutionInfo()` returns does not contain `"nospawncache"` or any other tag value I set in the `BUILD` file. Are you sure it's working for you?

[2017-10-26 00:12] nicolov commented on #3960
Now that I think about it, I may only have tested it on skylark actions,
not built-in rules.

On Wed, Oct 25, 2017 at 5:11 PM Ty Book <notifications@github.com> wrote:

[2017-10-26 00:55] dmaclach opened #3970 "Aspects not returning correct paths for local_repositories"
### Description of the problem / feature request / question:
Aspects do not appear to be given the correct paths for deps that are referenced via local_repositories in WORKSPACES.

WORKSPACE has:
local_repository(
    name = 'df_bzl_local',
    path = 'local',
)

The aspect prints the paths for all of the files

DEBUG: local_repo_issue/app/print.bzl:7:11: ../df_bzl_local/mylib/MyLib.cc.
DEBUG: loc

[2017-10-26 01:34] 4cm4k1 commented on #428
Here's something you all might find helpful in the meantime: https://github.com/gcuisinier/jenv

It's just like `rbenv` in that it allows you to manage multiple Java versions (eg, use 8 while waiting for 9 support), switch between them, and even export/expose `JAVA_HOME` and other environment variables to the shell or `gradle`, etc. 😄

[2017-10-26 02:10] mjs-sx commented on #3456
Looks like #3616 fixed this.

[2017-10-26 02:10] #3456 closed

[2017-10-26 06:39] benjaminp commented on #3880
https://bazel-review.googlesource.com/c/bazel/+/19390 does the exposing.

[2017-10-26 06:42] benjaminp commented on #3844
Yes, I'm referring to the file `libc.so`. Have a look at it.

[2017-10-26 07:34] meteorcloudy commented on #3950
Can you manually run
[code]
See what will happen?

[2017-10-26 13:57] htuch opened #3971 "Support --include_source_info in native proto_library"
It's useful to be able to specify an optional inclusion of `source_code_info` in the proto descriptors generated by `proto_library`, for the purpose of documentation generation tools etc. I was working on an aspect that used the `proto_library` output descriptors, and this is stripped away. It's useful to strip by default, but it would be also good to have a param to `native.proto_library` that al

[2017-10-26 15:05] dougbtv commented on #3182
Also running into this issue on CentOS 7 while trying to run the bazel tests for Kubernetes.

[code]
And the version I'm using...

[code]

[2017-10-26 16:54] pmerwah commented on #3950
Hi Yun,

Thank you for getting back to me. If I run the command manually it hangs.
But I am able to log into bash (on windows) and run the rest of the code.
Seems like bash -c is unable to launch the session. I tried it as cmd,
powershell as well as both environments as admin.

Look forward to your suggestions.

On Thu, Oct 26, 2017 at 12:34 AM, Yun Peng <notifications@github.com> wrote:

--
Pushk

[2017-10-26 16:56] ejona86 opened #3973 "ctx.action gets positional parameters wrong on Windows"
Reported at: grpc/grpc-java#3582 . CC @William8915

### Description of the problem / feature request / question:

gRPC [has a rule](https://github.com/grpc/grpc-java/blob/131a0ff/java_grpc_library.bzl#L32) that uses ctx.action:
[code]

It works fine on Linux and OS X, but we've received a report it fails on Windows with:
[code]

But this workaround works:
[code]

### Environment info
* Operating S

[2017-10-26 17:43] dslomov commented on #3970
The aspect code is:
[code]

File's `short_path` (see `e.short_path`) is documented [here](https://docs.bazel.build/versions/master/skylark/lib/File.html#short_path). It is a path of this file related to _its_ root. Its root is in the "local" workspace, so this is WAI.
What you want instead is `e.path`, which is a path related to execution root.
Or am I missing something?

[2017-10-26 19:01] tybook commented on #3960
It looks like your change is unnecessary now. As of at least release 0.7.0, you can specify
`execution_requirements = { 'no-cache': '1' },` in a Skylark action and the same effect as your change is achieved. See `mayBeCached()` in `src/main/java/com/google/devtools/build/lib/actions/Spawns.java` and its uses.

This functionality is still not exposed via tags on built-in rules (at least not `genrul

[2017-10-26 19:09] nicolov commented on #3960
Great catch, thanks!

On Thu, Oct 26, 2017 at 12:02 PM Ty Book <notifications@github.com> wrote:

[2017-10-26 19:18] cxgorset commented on #3427
We ended up using extra actions to run more checks for our java code. Maybe that could be an option? With extra actions you can use `--experimental_extra_action_filter=-@` to skip running them on external dependencies. We do this to run checkstyle, ecj and findbugs - and it would obviously be possible to run error prone. Maybe not an optimal solution, but should work :)

It's quite annoying that e

[2017-10-26 19:20] gorset commented on #3427
We ended up using extra actions to run more checks for our java code. Maybe that could be an option? With extra actions you can use --experimental_extra_action_filter=-@ to skip running them on external dependencies. We do this to run checkstyle, ecj and findbugs - and it would obviously be possible to run error prone. Maybe not an optimal solution, but should work :)

It's quite annoying that ext

[2017-10-26 19:39] dmaclach commented on #3970
So if it is changed to `e.path` I get:

[code]
I would expect the first path to be `local/mylib/MyLib.cc`

[2017-10-26 20:48] kennknowles commented on #3867
I think this might also be relevant for multi-module maven projects that are being converted in place.

[code]

I know the above works because of details of how the protos are stuff into jars and whatnot, but it is all default stuff.

I would love an easy solution to non-invasively building this tree with bazel just by dropping in BUILD files. This ticket looks about right, but I would be glad to

[2017-10-26 22:21] pcj commented on #428
Adding to what @kevin1e100 said (even though `rt.jar` no longer there, the tools they provide should be):

Source: <http://marxsoftware.blogspot.com/2017/01/jdk-9-is-end-of-road-for-some-features.html>, <https://issues.jenkins-ci.org/browse/JENKINS-25993>

[2017-10-26 22:32] bogatyy opened #3974 "Problem with TensorFlow licenses at HEAD"
It seems that the current version of TensorFlow at HEAD on GitHub does not build with the up-to-date Bazel (0.7.0).

Steps to reproduce:
$ git clone https://github.com/tensorflow/tensorflow.git
$ cd tensorflow
$ ./configure
$ bazel build -c opt ...
ERROR: /usr/local/google/home/bogatyy/tensorflow-head/tensorflow/third_party/toolchains/cpus/arm/BUILD:3:1: third-party rule '//third_party/toolchains/

[2017-10-26 22:35] bogatyy opened #3975 "Problem with objc_library in TensorFlow at HEAD"
Version: current TensorFlow master branch on GitHub and Bazel 0.7.0.

After I fix https://github.com/bazelbuild/bazel/issues/3974, adding a license notice to the BUILD, I get another breakage:

[code]

Tried looking around the TensorFlow and Bazel github repositories to figure out how to use the objc_library rule properly, but no luck so far.

[2017-10-27 02:23] mafanasyev-tri opened #3976 "When building in a sandbox with base being a symlink, TEST_TMPDIR is mounted read-only"
### Description of the problem / feature request / question:

I am using bazel 0.7.0 with sandboxing enabled, and with ` --experimental_sandbox_base=/run/shm`

### If possible, provide a minimal example to reproduce the problem:

Code from https://github.com/mafanasyev-tri/bazel-ro-tmpdir-example (simple sh_test which touches TEST_TMPDIR):
[code]

### Environment info
* Operating System: `Ubuntu 1

[2017-10-27 05:30] ulfjack opened #3977 "C++ code fails to build with clang 4.0"
On a Ubuntu 17.04 machine, with clang-4.0 installed, I get this error from Bazel for some straightforward C++ code:
[code]

[2017-10-27 05:31] ulfjack commented on #3977
Failing command line:
[code]

It works with clang-3.9:
[code]

[2017-10-27 05:31] ulfjack commented on #3977
The -c and --copt parameters are not relevant. Same behavior without them.

[2017-10-27 05:44] dslomov commented on #3970
Local repositories are "mounted" (symlinked) into an execroot (in this case, under `external/df_bzl_local`). `path = "local"` in `local_repository` is the local path on your machine - it is never visible to rules or aspects. The path where the external repo is mounted is all rules or aspects will ever get to see.

[2017-10-27 07:26] benjaminp commented on #3977
I think this is due to a [Debian/Ubuntu patch](http://sources.debian.net/src/llvm-toolchain-4.0/1:4.0.1-1/debian/patches/fix-clang-path-and-build.diff) that results in the clang installation system include directory being realpathed in the output of `-v` but not `-MD`.

[2017-10-27 07:28] benjaminp commented on #3919
https://bazel-review.googlesource.com/c/bazel/+/19590 is a proposed fix.

[2017-10-27 07:56] dslomov commented on #3970
Closing this, as there seems to be no bug here, but I'll be happy to help with figuring out what problem Tulsi runs into and what is the right solution.

[2017-10-27 07:56] #3970 closed

[2017-10-27 09:46] gwtony commented on #3893
Thank you, It might help me, let me try it later

[2017-10-27 09:57] davido commented on #3977
FYI: Bazel cannot be built on GCC too: #3903.

[2017-10-27 11:13] snnn commented on #3949
I found a temporary solution for me:
[code]

[2017-10-27 11:24] PoncinMatthieu opened #3978 "Option --check_tests_up_to_date doesn't work with Remote cache server"
### Description of the bug:
Bazel option `--check_tests_up_to_date` doesn't work with the remote cache server.
Also there is no easy way to know if the tests were retrieved from the cache server or if they actually run.
Is this a bug or an intended behavior? Is there any alternative?

### Background to the question / context
I have been trying to setup a remote cache server for setting up bazel wi

[2017-10-27 14:45] didzis opened #3979 "wrapped_clang does not correctly pass arguments to xcrunwrapper.sh"
### Description of the bug:

The wrapped_clang scripts do not correctly pass arguments to xcrunwrapper.sh, i.e., the argument list `$@` must be quoted: `"$@"`.

The following two files have this issue present
[tools/osx/crosstool/wrapped_clang.tpl](https://github.com/bazelbuild/bazel/blob/master/tools/osx/crosstool/wrapped_clang.tpl#L10)
[tools/osx/crosstool/wrapped_clang_pp.tpl](https://github.co

[2017-10-27 16:12] leozwang-google opened #3980 "bazel merges android resource problem"
I ran into android resource problems, the errors are
#1. undefined app elevation
#2. undefined some material items, for example widget.design.textinputlayout

The code is attached in this issue.

The code is straightforward, however, it depends on firebase-UI project https://github.com/firebase/FirebaseUI-Android which also depends on faceback and twitter login aars.

[fire.zip](https://github.com

[2017-10-27 16:50] hhclam opened #3981 "compile.sh fails with version 0.7.0"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem:

I checked out Bazel 0.7.0 and ran compile.sh (Locally installed version is 0.5.2) and it fails at the bootstrap process.

### If possible, provide a minimal example to reproduce the problem:

# Builds  the tools needed to bootstrap
baz

[2017-10-27 16:52] hhclam commented on #3981
I made a small change to scripts/bootstrap/compile.sh and still hit with java compilation issue:

$ BAZEL_WRKDIR=work GRPC_JAVA_PLUGIN=bazel-bin/third_party/grpc/grpc-java-plugin PROTOC=bazel-bin/third_party/protobuf/3.4.0/protoc JAVA_HOME=/opt/ts/jdk.current-bcdbef6b5380344dc75df6a63065ba32c286a06b/ext/vendor/oracle/jdk/1/8/0/144/dist ./compile.sh build
🍃  Building Bazel from scratch../opt/ts/jdk

[2017-10-27 16:53] hhclam commented on #3981
I'm going to a bit harder but this compile.sh process seems to be quite fragile. Unfortunately I'm not able to use the pre-built version due to we're running older version of glibc.

[2017-10-27 18:19] mterring commented on #3891
A quick solution that I'd really like to see made before the next release would be to simply skip directories rather than fail the build.

That can be done by changing UnsupportedOperationException to IOException. I'd be happy to submit a pull request, but given how trivial the change is, it might be quicker to have an existing contributor make it.

[2017-10-27 18:51] excavador opened #3983 "bazel crash on native.package_name()"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:

Please take a look https://github.com/excavador/bazel_native_package_name_crash

### If possible, provide a minimal example to reproduce the problem:

Please take a look https://github.com/excavador/bazel_n

[2017-10-27 20:19] buchgr commented on #3891
@rahul-malik So this comment seems out of date. It's both the up- and download of output directories that is currently not implemented. To learn about the details, take a look at the `Action`, `ActionResult` and `Tree` and `OutputDirectory` messages in the `remote_execution.proto`. The comments explain it pretty well.

To implement the upload you need to
1) Traverse the directory output recursivel

[2017-10-27 20:27] hhclam commented on #3981
The reason we're doing this is because the pre-built binary available is using a newer glibc than what we have internally and it's not easy to upgrade that. I'm working on a fix.

[2017-10-27 22:29] hhclam commented on #3981
I have created this patch to fix compile.sh bootstrap process: https://bazel-review.googlesource.com/c/bazel/+/19670

[2017-10-27 23:36] mterring commented on #3891
We've started the CLA process for my company, I'll submit the pull request while that happens

[2017-10-28 00:16] sgreenstein opened #3985 "cc_proto_library rules fail to link on Windows with bazel 0.7.0"
### Description of the problem / feature request / question:

With bazel 0.6.1 `cc_proto_library` rules build, but with 0.7.0 the rules fail to link. This happens regardless of whether the MSVC wrapper is used. I don't see any .so outputs from the 0.6.1 build, but 0.7.0 fails when linking .so files.

### If possible, provide a minimal example to reproduce the problem:

In an empty directory on Win

[2017-10-28 01:06] BenTheElder commented on #3956
Using `--batch` seems like it might be working as a mitigation at least in our case, I'm not sure yet but so far since switching that on we haven't seen a bazel failure. cc @ixdy

[2017-10-28 02:18] jeremyje opened #3986 "@zlib seems to conflict with internal zlib bazel definitions."
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:
bazel build @zlib//... crashes with the following data.

Looks like there's a conflict with the internal zlib from the repository which isn't accessible. Renaming to @zlib1 works.

**WORKSPACE file**
[code]

[2017-10-28 03:00] hhclam opened #3987 "Running with --experimental_remote_spawn_cache=true is susceptible to intermittent network / server errors"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem:

I'm trying to run Bazel with --experimental_remote_spawn_cache=true --remote_rest_cache=http://localhost:5701/hazelcast/rest/maps which works fine.

However when used on a network with a real REST cache the RemoteSpawnCache is suscepti

[2017-10-28 03:53] hhclam commented on #3987
I updated a fix here for review: https://bazel-review.googlesource.com/c/bazel/+/19671

[2017-10-28 19:23] benjaminp commented on #3903
Looks like db1426b75d7721554a8b139696b5b4c400a260a5 fixed this.

[2017-10-28 20:23] zz-pony commented on #3465
Per my observation, action_env is not passed to "bazel run" command either. Is this caused by the same reason?

[2017-10-29 10:29] ittaiz commented on #3769
@iirina Stumbled on to a problem and I'm not sure if it should be a new issue or an expansion of this one.
The `use_ijar=True` in `java_common.create_provider` is currently unusable if one needs `exports`.
Tried a few alternatives and all of them failed:
1.  `compile_time_jars = outputs.full_jars,` #error since provider doesn't propagate exports
2. `compile_time_jars = outputs.full_jars + exports_

[2017-10-29 11:16] davido commented on #3903
Indeed, works now on `gcc (SUSE Linux) 7.2.1 20171020 [gcc-7-branch revision 253932]` :

[code]

[2017-10-29 11:16] #3903 closed

[2017-10-29 12:31] PoncinMatthieu commented on #3978
Not sure if it can help solve the issue, but I took latest master and tracked this back to the method `result.getData().getRemotelyCached()` returning false here: https://github.com/bazelbuild/bazel/blob/8601d4a357f8c1618fb6a8144ea93736f24d973a/src/main/java/com/google/devtools/build/lib/runtime/TestResultAnalyzer.java#L212

I might be wrong but I believe the expected behaviour is for it to return

[2017-10-30 03:34] ddwolf opened #3988 "[Windows] build failed with: "must produce a single file""
### Description of the problem / feature request / question:
     I am building a project in windows, it failed with:
    /c/msys64/tmp/_bazel_usera/9l56y845/external/bazel_tools/tools/jdk/BUILD:187:17: in singlejar attribute of java_toolchain rule @bazel_tools//tools/jdk:toolchain: '@bazel_tools//tools/jdk:singlejar' must produce a single file.

while I can successfully build it in a linux VM,

#

[2017-10-30 05:23] nicolov opened #3989 "C++ rules link again when $PATH changes"
Changing `$PATH` or `$LD_LIBRARY_PATH` in the client environment cause re-linking of all cc binaries. This also happens when `--experimental_strict_action_env=true`. The explain log says: *Effective client environment has changed, using..*. In any case, compilation does _not_ run again. Forcing `--action_env=PATH=...` does not seem to work either.

Minimal reproduction case:

[code]

Bazel 0.7.0 o

[2017-10-30 07:24] nicolov commented on #3989
I ended up tracing this down to the `/etc/bazel.rc` file shipped in the debian package, that sets `--action_env=LD_LIBRARY_PATH` and `--action_env=PATH=` (i.e. letting bazel inherit their values from the client environment).

AFAICT, overriding those settings does not work because of the order in which inherited and fixed environment variables are handled in [here](https://github.com/bazelbuild/ba

[2017-10-30 12:40] philwo commented on #1836
Glad to hear its working for you, Austin :)

I'm fine with closing this bug, unless someone else who chimed on still wants work to be done?

[2017-10-30 12:56] philwo commented on #3568
@AustinSchuh Do you mind sending this as a pull-request? We can just run it through our test suite to see if its fine. :)

[2017-10-30 13:35] philwo commented on #3236
Hi Ittai and others,

really sorry for the lack of action here. :(

The recommended fix for this is to use --sandbox_tmpfs_path=/tmp. On top of providing a fix for this issue, it also generally improves performance and hermeticity of builds. The only known reason why someone would *not* want to use that flag is if your actions produce so much output in /tmp that it would overflow your RAM, or that

[2017-10-30 19:08] AustinSchuh commented on #3568
@philwo A gerrit code review, not a pull request, right?  Or is the process changing?

[2017-10-30 21:01] thomaso-mirodin commented on #2656
Just hit this bug as well because of test fixture (replicating `/proc`).

If you are pulling from github you can quickly work around this by switching from grabbing a zip to grabbing a tarball:
[code]

[2017-10-30 22:20] philwo commented on #3568
@AustinSchuh Feel free to pick whichever you prefer. :) Our import / merge script supports both and there's no difference in the workflow.

I think GitHub pull requests are totally fine for smaller patches, while Gerrit is preferred for bigger code reviews. But AFAIK that's not a hard rule, just a recommendation.

[2017-10-31 00:21] AustinSchuh commented on #3568
@philwo done!  Maybe I should file another bug, but I'm struggling to find the command I should be using to run all the tests applicable to my platform before submitting.  The command that I found in the docs seems to be out of date since it tries to build Windows on Linux.

[2017-10-31 08:14] InhyungLee opened #3993 "Why bazel ignore http_proxy in environment??"
### Environment info
* Operating System: Linux
[code]

* Bazel version (output of `bazel info release`):
[code]

I'm trying to build c++ source which contains tensorflow c++ API.
But It continues to fail when it try to download tar.gz file..
I think it is problem bazel ignore http_proxy in my linux environment...
How can I configure for my proxy when I use bazel??
or Does anybody help me out??

[c

[2017-10-31 08:20] ddwolf commented on #2241
is there updates about this?

[2017-10-31 10:12] drigz opened #3994 "Non-existent files in default_runfiles"
rules_docker uses `default_runfiles` to get a list of runfiles to put into a docker image. It is running into an issue bazelbuild/rules_docker#207 (repro is there) where `default_runfiles` contains a non-existent "middleman" path, leading to:

`IOError: [Errno 2] No such file or directory: 'bazel-out/local-fastbuild/internal/_middlemen/foo-runfiles'`

It's not clear to me if this is a problem with

[2017-10-31 10:15] hchauvin commented on #3891
@buchgr @rahul-malik This is a blocker for us.  I see that tree traversal with digests is readily implemented in com.google.devtools.build.lib.remote.TreeNodeRepository, so I'm taking a stab at it.

[2017-10-31 13:10] IrynaWilson commented on #1406
I am using --force_python=PY3 --host_force_python=PY3 options with the code below, and getting 'Converting to Python 3: failed' error

py_library(
    name = "foo",
    srcs = ["foo.py"],
    srcs_version = "PY3",
)

py_test(
    name = "foo_test",
    srcs = glob(["foo_test.py",]),
    default_python_version = "PY3",
    srcs_version = "PY3",
    deps = [":foo"]
)

I was thinking about trying py_

[2017-10-31 15:00] katre opened #3995 "//src/test/shell/integration:progress_reporting_test consistently times out in bazel-remote-tests"
In many runs of bazel-remote-tests, we see timeout errors for //src/test/shell/integration:progress_reporting_test.

See https://ci.bazel.io/blue/rest/organizations/jenkins/pipelines/Global/pipelines/bazel-tests-remote/runs/43/log/?start=0 for log

[2017-10-31 15:02] katre opened #3996 "Tensorflow failures in Bazel CI"
Tensorflow_Serving and tf_models_syntaxnet are both failing on CI, with errors like this:
[code]

This does not seem to be reproducible locally.

[2017-10-31 15:12] katre opened #3997 "Occasional failures to read test.xml"
Occasionally in CI we get errors such as this:
[code]

It appears that the shell tests are sometimes writing invalid XML, which makes sense since they are just echoing output to a file, not using an actual XML formatter.

[2017-10-31 16:28] bogatyy commented on #3975
Figured it out, turns out `bazel build ...` is not supposed to work to begin with, should have been building the wheel only.

[2017-10-31 16:28] #3975 closed

[2017-10-31 16:28] bogatyy commented on #3974
Figured it out, turns out `bazel build ...` is not supposed to work to begin with, should have been building the wheel only.

[2017-10-31 16:28] #3974 closed

[2017-10-31 17:23] rahul-malik commented on #3891
@hchauvin - Sounds great! Thanks for taking it on - happy to help if the surface of the change is too large

[2017-10-31 18:37] benjaminp commented on #3994
dbbcbcb8d227b0f35000f2a07b75524bfe1b681b fixed this for the Python rules. https://bazel-review.googlesource.com/c/bazel/+/19550 should prevent this kind of issue from happening in the general case.

[2017-10-31 18:43] #3488 closed

[2017-10-31 18:46] katre commented on #3996
Problem appeared in tensorflow/serving at commit https://github.com/tensorflow/serving/commit/169c28d3349b4c874ee2a022f2c32a7c269ceaa7#diff-2c39bc19b761ac36dc046245d1d47fe6, so presumably it's something that changed between https://github.com/tensorflow/tensorflow/commit/0b0d3c12ace80381f4a44365d30275a9a262609b and https://github.com/tensorflow/tensorflow/commit/4270c4a00bb90d97418df5b0e9b6b3e148a

[2017-10-31 19:06] ola-rozenfeld commented on #3913
A workaround - the reason for the bug is rules that have an entire directory as input, for example data=["somedir"]. If you change it to data=glob(["somedir/**"]), this will work.

I haven't realized until now that Bazel even supports this -- I will need to recursively expand directory inputs in the remote execution code for this. Alternatively, we could just say this is WAI and data should always

[2017-10-31 19:11] EricCousineau-TRI opened #3998 "Python package is shadowed when a workspace has same name and is included as local_repository"
### Description of the problem:

If a `new_local_repository` / `local_repository` is defined in such a way that a Python package shares a common name with the Bazel workspace / repository, then the intended Python package appears to be shadowed by the workspace directory due to the (potentially excessive?) sprinkling of `__init__.py` files throughout the symlink forest.

### If possible, provide a

[2017-10-31 19:29] katre commented on #3988
Can you share the project being built so we can try to reproduce it? It sounds like your java_toolchain is misconfigured on Windows, but without your BUILD files we can't check that easily.

[2017-10-31 19:39] allenlavoie commented on #3996
Just a guess, but the undefined NodeDef seems to point to https://github.com/tensorflow/tensorflow/commit/5c7f9e316d8c7735308a217310350d416d7498cc. Are you (accidentally?) building with TensorFlow's bazelrc? Does adding `--config=monolithic` fix things?

[2017-10-31 19:41] katre commented on #3966
Please ask support questions on Stack Overflow, not as an issue in GitHub.

[2017-10-31 19:41] #3966 closed

[2017-10-31 19:43] katre commented on #3960
If this is not needed I will go ahead and close the issue. Please re-open or re-file it if there is still missing functionality.

[2017-10-31 19:45] tybook commented on #3960
Like my last comment says, there is still missing functionality:

[2017-10-31 19:49] katre commented on #3893
I am closing this issue as there have been no further updates.

[2017-10-31 19:49] #3893 closed

[2017-10-31 19:51] katre commented on #3392
Closing this due to the lack of updates. Please re-file the issue if it happens further.

[2017-10-31 19:51] #3392 closed

[2017-10-31 19:51] katre commented on #3097
Closing this due to the lack of updates. Please re-file the issue if it is still happening.

[2017-10-31 19:51] #3097 closed

[2017-10-31 19:53] katre commented on #3996
Yes, we are adding the .tf_configure.bazelrc to the bazelrc. Is this incorrect?

[2017-10-31 19:54] katre commented on #3960
My mistake, re-opening now.

[2017-10-31 20:00] allenlavoie commented on #3996
Not incorrect necessarily, just not what I was expecting. TensorFlow is now building with an explicit shared object dependence (cc_binary with linkshared=1), and projects which build with TensorFlow as a submodule have not been updated to explicitly include that shared object (since Bazel does not have transitive shared objects yet). The plan was that they'd use their own bazelrcs and so wouldn't

[2017-10-31 20:03] katre commented on #3996
Both removing the .tf_configure.bazelrc and adding "--config=monolithic" makes my local tests pass.
I will look into adding the monolithic config to our runs.

Thanks for the advice.

[2017-10-31 20:24] c-parsons commented on #3979
Acknowledged, thanks for the catch. I'll make a PR.

[2017-10-31 22:03] ulfjack commented on #3978
1. I think marking this as feature request is correct. The current design intentionally targets the local cache use case, so this is an intentional change in design.

2. I'm not sure this is a P2 from our point of view. It certainly seems nice to have, but it's overall more of a performance optimization, isn't it? If you run this in order to decide whether to run the tests, why not just run the te

[2017-10-31 22:57] ulfjack commented on #3960
It's probably just a one-line change to TargetUtils.java line 215 (or thereabouts, plus adding a corresponding test). I should've done that in the change where I added the new spawn cache code path. The change itself is trivial, but adding a test isn't. I'm traveling right now, and won't be back home in time for 0.8.0.

[2017-11-01 00:25] yilei opened #4001 "Windows: backslashes passed to subprocess are unnecessarily unescaped."
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:

I am running the generated .exe file of a py_binary, which is a data deps of another py_test. The backslashes in the arguments passed to the .exe file end up unnecessarily unescaped in the py_binary.

### I

[2017-11-01 01:03] akira-baruah commented on #3661
There's a bug that [breaks downstream projects](https://github.com/bazelbuild/bazel/commit/cf52ebad2f794b0c9c7fb6b77e57937bb76f53da). Here's what I think causes it:

GitHub usually prefixes archive contents with a directory named `<repo>-<reference>` where `<repo>` is the repository name and `<reference>` is a commit, branch, or tag.

However, there's an exception to this rule when a tag is format

[2017-11-01 01:19] ddwolf commented on #3988
@katre the most simple case is this:
[code]

[code]

and WORKSPACE file is empty.

[2017-11-01 04:34] brianretford opened #4003 "Building a DLL that contains no sources complains about the lack of an '.ifso' file."
### Description of the problem / feature request / question:
Building a DLL that has only deps and no sources no longer works. (Say you want to bundle the same library into an .so and a .dll and have separate build rules).
Specifically it fails like this:
[code]
### If possible, provide a minimal example to reproduce the problem:

For a build rule that looks like this:
[code]

Adding a dummy sourc

[2017-11-01 07:36] abergmeier-dsfishlabs commented on #3097
Sorry about the lack of update. The more we clean up our glob usage, the lesser this happens. So totally right to close this.

[2017-11-01 08:04] abergmeier-dsfishlabs commented on #1630
Closing since I will close account.

[2017-11-01 08:04] #1630 closed

[2017-11-01 08:05] abergmeier-dsfishlabs commented on #1646
Closing since I will close account.

[2017-11-01 08:05] #1646 closed

[2017-11-01 08:06] abergmeier-dsfishlabs commented on #2509
Closing since I will close account.

[2017-11-01 08:06] #2509 closed

[2017-11-01 08:07] abergmeier-dsfishlabs commented on #2581
I really had a similar mistake in my `.bzl`. Maybe there are others as dumb as me out there ;)

[2017-11-01 08:10] abergmeier-dsfishlabs commented on #2611
Yes. I do think though, that this is not the best idea. Would rather have it accept a custom object, which wraps visibility similar to `select`.

[2017-11-01 08:10] #2611 closed

[2017-11-01 08:11] abergmeier-dsfishlabs commented on #2533
Closing since I will close account.

[2017-11-01 08:11] #2533 closed

[2017-11-01 08:13] abergmeier-dsfishlabs commented on #1672
Closing since I will close account.

[2017-11-01 08:13] #1672 closed

[2017-11-01 14:50] #3996 closed

[2017-11-01 15:07] ddofer commented on #1909
Issue exists for me, 10.12.16, even after brew update, cleanup, upgrade.
==> Downloading https://github.com/bazelbuild/bazel/archive/0.3.1.tar.gz
==> Downloading from https://codeload.github.com/bazelbuild/bazel/tar.gz/0.3.1
######################################################################## 100.0%
Error: SHA256 mismatch
Expected: 52beafc9d78fc315115226f31425e21df1714d96c7dfcdeeb02306e2fe028d

[2017-11-01 17:09] damienmg commented on #3986
Pulling in @janakdr because I have no idea what's going on there.

[2017-11-01 17:12] janakdr commented on #3986
I don't think I can help here. The exception is being thrown in EnvironmentBackedRecursivePackageProvider because the repository doesn't exist. Why it doesn't exist is far outside my expertise.

[2017-11-01 17:24] damienmg commented on #3981
Reassigning to Alpha who already have a patch under review :)

[2017-11-01 17:25] damienmg commented on #3986
What happen if you do `bazel fetch @zlib//...`?

[2017-11-01 17:26] damienmg commented on #3986
(also the ISE is definitely wrong if the repository not found exception is thrown, the error should bubble up).

[2017-11-01 18:05] janakdr commented on #3986
See the [comment](https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/skyframe/EnvironmentBackedRecursivePackageProvider.java#L138) in EnvironmentBackedRecursivePackageProvider. The repository should already have been verified. Given that there's some skew here, I don't know that crashing is the wrong thing to do. Maybe @ulfjack has some opinion?

[2017-11-01 18:12] ulfjack commented on #3986
The WORKSPACE file in the initial report says 'name = "zlib1"' (note the trailing 1). Is that intentional? If so, why are you trying to build @zlib//...?

[2017-11-01 18:51] PoncinMatthieu commented on #3978
Hi @ulfjack ,
Thank you for looking into the issue!

1. From my point of view, as a user, it is hard not to see it as a bug, so maybe there should be a mention on this in the documentation or command line reference. As a first time naive user, I have spent a good fair amount of time reading the doc and I expected this option to work on both local and remote cache. And again as a user, I can't see

[2017-11-01 21:00] abergmeier opened #4005 "Support C++ modules"
### Description of the problem / feature request / question:

Starting to look into C++ Modules. While it will earliest officially arrive in 2020, would be good to have support for that soonish.
Heard there is some Module support inside of Google. Can/Will that be opensourced?

[2017-11-01 21:08] jmillikin-stripe commented on #3761
Gentle ping.

I could send a PR for this if you want, but someone in the Bazel side would still need to handle updating the Debian packages and such.

[2017-11-01 21:13] c-parsons commented on #3979
Well, this is actually more complicated than I thought.

We're pretty sloppy about the way we pass arguments in the crosstool. For example, we pass '-framework Foundation' to all ios builds. When we "correctly" treat this as a single argument, of course the build fails because these should actually be defined as two arguments.

This is going to require we clean up the crosstool as well as maybe a

[2017-11-01 21:17] duggelz commented on #2617
I work around this by parsing the imports list from the generated stub files, but it's a brittle solution that doesn't work on Windows, and occasionally breaks for other reasons.

[2017-11-02 00:02] jin commented on #3993
I am not immediately familiar with this feature.

However after some digging, according to @kchodorow in #7497 ([comment](https://github.com/tensorflow/tensorflow/issues/7497#issuecomment-299191128)), that error message is for the Bazel client, not server (which is responsible for fetching the dependency).

This error seems to be related to a missing certificate instead:

[code]

And to fix this i

[2017-11-02 00:33] cgrushko commented on #3971
We can add a global flag to control the command line created by `proto_library` (or switch `proto_library`'s descriptor creating code to use a real `proto_lang_toolchain` instead of hardcoding).

I emphasize it being global - allowing some proto_library to have it and some not has two problems:
1. it complicates the rule, which makes it harder to maintain and harder to use. I see better alternativ

[2017-11-02 02:57] sffc commented on #1372
My team is working on a new open-source project, and we'd like to use Bazel, and publishing to Maven Central, npm, pip, and other repositories is an important feature for us.

[2017-11-02 05:09] jeremyje commented on #3986
zlib1 is the workaround. Rename the targets to zlib and you'll repro the error.

[2017-11-02 05:29] excavador commented on #3041
I definitely need always-run rule

[2017-11-02 05:58] endobson opened #4006 "native.repository_name() in the main repository returns "@" when it is documented as returning """
Docs here:
https://docs.bazel.build/versions/master/skylark/lib/native.html#repository_name

When I run it in the main repostory and print it: `print(native.repository_name())`. I get the following output:
[code]

It is unclear whether the current behavior or the documented behavior is what is desired.

bazel version 0.6.1

[2017-11-02 06:33] InhyungLee commented on #3993
1) Where do I try to get certification from??(IP:port or URL:port)
    --> I failed to get cacerts from github.com

[code]

2)Maybe.. this is easier way for me..
   I can download bazel files(https://mirror.bazel.build/github.com/bazelbuild/rules_closure/archive/4af89ef1db659eb41f110df189b67d4cf14073e1.tar.gz) using wget command.
   How can I use it when I build through bazel??

[code]

[2017-11-02 06:46] jonnrb opened #4007 "native.repository_name() throws"
### Description of the problem / feature request / question:

[native.repository_name()](https://docs.bazel.build/versions/master/skylark/lib/native.html#repository_name) throws an exception when used.

### If possible, provide a minimal example to reproduce the problem:
[code]

### Environment info
* Operating System: macOS High Sierra

* Bazel version (output of `bazel info release`): `release 0

[2017-11-02 10:41] didzis opened #4008 "--action_env not forwarded through "tools" dependency"
### Description of the problem:

Variables set by `--action_env` are not forwarded through `tools` dependency of a rule. To generate test example, paste following lines into terminal:

[code]
outputs
[code]
however depending on what is uncommented, i.e., `":rule1",`, `":rule2",`, `":rule3",`, `":rule4",`, `":tool",` at the end of BUILD, bazel may output also
[code]
`rule1` gives `RULE1:TESTVAR=hel

[2017-11-02 11:38] ensonic commented on #3736
What is missing here? The container rules such as container_push use ctx.template_action()
https://github.com/bazelbuild/rules_docker/blob/master/container/push.bzl#L59
Is the idea to add ctx.vars to the substitutions?

My use case is to be able to put this into my `.bazelrc`
[code]
and this in my `BUILD.bazel`:
[code]

[2017-11-02 11:53] htuch commented on #3971
As a workaround, we switched the aspect to compile from srcs, but that loses some of the advantages that `proto_library` output descriptor sets have, in particular around taming the import path complexity (which gets tricky with externals).

What if we made the `proto_library` by default produce descriptor sets and then provide a `stripped_proto_library` (or something to that effect) that can redu

[2017-11-02 13:38] aleb opened #4010 "Meaning of ERROR "undeclared inclusion(s)""
### Description of the problem / feature request / question:

I'm trying to build a target using a custom crosstool_top, to obtain an armeabi library.
I'm getting ERROR "undeclared inclusion(s)" because apparently the compiler(?) is including `/usr/local/include/opencv2/opencv.hpp`. This happens even though I specified in CROSSTOOL that it should not use the standard C/C++ include directories: htt

[2017-11-02 13:49] ensonic commented on #3516
It only it would resolve env-vars like $HOME or $PWD as a workaround.

[2017-11-02 14:28] haxorz commented on #3041
[i hadn't set up email filters for bazel github emails until last night, so i'm only seeing this github issue now]

@lberki - what's being asked of me and/or the core team here? are you looking for another opinion on this FR? or are you looking for a statement on the viability of implementing this FR?

i think this FR is fine, as long as the documentation is very clear that this feature should be

[2017-11-02 14:35] excavador commented on #3041
@haxorz sounds great.

I need something like for that for following:
- inspect actual docker images
- inspect actual docker container
- inspect actual process list.

I need all these things:
- for writing build rules - for instance, I have rule which transform bunch of sql files to YAML-file. It implemented using docker (for postgresql) and pyrseas (third-party tool which inspect postgresql inform

[2017-11-02 15:09] haxorz commented on #3041
assigning back to @lberki for prioritization and re-assignment

[2017-11-02 16:23] lberki commented on #3041
@haxorz: I wanted to get an opinion from you folks about exposing the "always execute this action" bit to Skylark. I think it's inevitable, but it's a powerful tool and I'm not sure the use cases we know of warrant the inclusion of such a footgun in Bazel.

In particular, I am worried about two things:

* That people will use the "always run" bit as a way to get away with neglecting declaring depe

[2017-11-02 16:45] haxorz commented on #3041
if we add this feature, i could imagine banning it internally in google (or only adding it to bazel in the first place). i am not aware of any compelling use cases internally (all of the use cases in this github issue and in the linked bazel-discuss thread involve doing non-hermetic things) and the risks (poisoning builds with slowness) are large, especially in a mono-repo where the incentives for

[2017-11-02 16:50] excavador commented on #3041
[code]

Why do not disable it by default, and enable only through bazelrc?
It would be perfectly save for beginner users, and power users which definitely need it always can enable it.

[2017-11-02 16:52] excavador commented on #3041
Right now I forced to write wrapper-script "tools/bzl" like following
[code]
and always run `tools/bzl`  instead of bazel.

In my build files/skylark code I add dependency from these files where I need it.
It is not very usefull

[2017-11-02 17:06] excavador commented on #3041
Moreover, full script is following
[code]

[2017-11-02 18:27] katre opened #4012 "Building genrule by output file silently fails"
Sample BUILD:
[code]

Output for building via the output:
[code]

As you can see, the genrule didn't actually run.

Building via the name:
[code]

[2017-11-02 18:30] katre commented on #4012
I think I've diagnosed this into the TargetPatternPhaseValue, working on a fix.

[2017-11-02 18:41] AustinSchuh commented on #3967
https://bazel-review.googlesource.com/c/bazel/+/19851

[2017-11-02 19:19] katre commented on #4012
No, that was a red herring.

The problem is that "//:sample.txt" is a generated_file, and in the tag filtering (https://github.com/bazelbuild/bazel/blob/901cc6c7474e2a6cc8c3812d156177f44dcb76ed/src/main/java/com/google/devtools/build/lib/packages/TargetUtils.java#L270) anything that is not a Rule is automatically filtered out.

Is this the required behavior?

[2017-11-02 20:39] ulfjack commented on #2475
Unfortunately there have been some delays due to travel and public holidays in Germany, as well as a commit gone wrong, which I had to revert. I'm currently rolling it forward again, and I have a few more changes on top of that, but they're not under review yet. It looks like we'll miss the 0.8.0 window, unfortunately.

[2017-11-03 02:24] j3parker opened #4013 "Extremely slow genrule on Windows due to LDAP"
This issue is partially an FYI: it may not be Bazel's thing to fix or to continue to investigate (I'm not 100% sure but it looks that way.) At least this will be something others could search for. Feel free to close it if that makes sense.

### Description of the problem / feature request / question:

`genrule` rules are extremely slow in Windows with msys2. The root cause appears to be syncing LD

[2017-11-03 03:18] aacirino opened #4014 "Illegal instruction: 4 on macOS 10.11.6 El Capitan"
Either installing with homebrew or downloading the binary I am not able to run bazel. My info:

macOS 10.11.6
bazel 0.7.0

[2017-11-03 05:37] endobson opened #4016 "Setting --cpu=k8 doesn't change output format (mac OS X)"
When I compile with a different cpu I normally see the output path change, but I don't see that when I specify `--cpu=k8`. My understanding is that k8 is the default on linux, and thus it should generate elf object files instead of mach, but I don't see that nor do I see it change the output directory.

[code]

bazel  0.7, os X 10.11.6

[2017-11-03 05:54] AustinSchuh opened #4017 "srcjar outputs not reproducible"
When I build our code on 2 different machines at 2 different paths with stamping disabled, I expect to get identical outputs.

[code]

xxd reports the problem is at the top of the file.
[code]
vs
[code]

To my uneducated eye, this looks like a timestamp is getting encoded in the srcjar zip file.

[2017-11-03 10:09] mhlopko commented on #2955
@meteorcloudy

Is .def file mentioned here the same as 'module definition' file for MSVC? Yun has been working on it here: https://bazel-review.googlesource.com/c/bazel/+/17552 and we decided to create a special attribute for it.

If it's not the same thing, and your def file represents just a normal C++ header file, then I'd be against adding support for it in srcs. That would be confusing. Unles

[2017-11-03 11:48] mhlopko commented on #4005
Hi Andreas,
everything regarding modules (only for clang) is open sourced already. The only missing piece is a CROSSTOOL that makes use of them and provides all necessary features. But I think it would be quite a challenge to write such CROSSTOOL without understanding the implementation. If I don't find a good movie on my flight to bazel conference I might take a look and hack something together.

[2017-11-03 11:53] mhlopko commented on #4010
This is maybe more of a stack overflow question, but let's continue here. Undeclared inclusions, in bazel, currently, are reported after the compilation when compiler emits .d file. Bazel reads the file and checks for undeclared include headers. The implementation is not very robust and if the compiler decides to use absolute paths in the .d file, bazel will most likely not recognize the header as

[2017-11-03 12:27] abergmeier commented on #4005
Interesting.
@mhlopko Can you perhaps elaborate a bit, what parts of CROSSTOOL would interact with modules? Personally I thought it would be more in the realm of cc-providers and additional actions for module validity checks.

[2017-11-03 12:32] mhlopko commented on #4005
Yeah you are right, the implementation does deal with providers and actions, but all that logic is already in bazel and ready to be used. What is missing is a bunch of features (and maybe action_configs, I'm not sure) in the CROSSTOOL to pass the right flags for the right actions. Names of the features are hardcoded in bazel, so they need to match.

[2017-11-03 12:33] mhlopko commented on #4005
So in other words, it's all there, just not very well documented.

[2017-11-03 12:35] abergmeier commented on #4005
Like all else about CC toolchains you mean ;)

Thanks. I am trying to get a custom hermetic Clang toolchain running anyways. Perhaps will then try this out a bit.

[2017-11-03 12:40] mhlopko commented on #4005
Exactly :) I hope I'll see you next week on the crosstool breakout session during bazel conference? :) Btw, just wrote this yesterday, I really hope I'm not one day late: https://github.com/bazelbuild/bazel/wiki/Yet-Another-CROSSTOOL-Writing-Tutorial

Anyway, don't hesitate to ask if you get stuck on the way. I'm also grateful for any input/comments/suggestions.

[2017-11-03 13:04] vmax opened #4018 "Invalid name for external dependency"
### Description of the problem / feature request / question:

On the [docs](https://docs.bazel.build/versions/master/external.html) specify valid names for external dependencies. Dash (as in the example, `coworkers-project`) raises an error:

[code]

### If possible, provide a minimal example to reproduce the problem:
Try specifying an external dependency with the same name as in docs.

### Enviro

[2017-11-03 13:33] JulyJohn commented on #2622
sudo apt-get remove oracle-java8-installer

then,

sudo apt-get install oracle-java8-installer

may that help you:-0

[2017-11-03 14:46] katre commented on #4014
Please include more details, including a log of the errors.

[2017-11-03 14:54] aacirino commented on #4014
Hi, there are no details, invoking bazel yields the error:

`Hackintosh:~ aacirino$ bazel`
`Illegal instruction: 4`

I've attached the crash report file.
[bazel-real_2017-11-03-125145_Hackintosh.crash.zip](https://github.com/bazelbuild/bazel/files/1441429/bazel-real_2017-11-03-125145_Hackintosh.crash.zip)

[2017-11-03 15:00] katre commented on #4014
Thanks!

[2017-11-03 15:04] c-parsons commented on #4014
@cvcal  looks like a launcher error? If you're not the correct person to look at this, feel free to add whomever else :)

[2017-11-03 18:04] katre commented on #3995
This is reproducible locally.

[2017-11-03 22:38] jgavris commented on #2964
👋

[2017-11-04 04:48] sparkprime opened #4021 "Bazel build of trivial C++ fails if the workspace directory has a particular name:"
### If possible, provide a minimal example to reproduce the problem:

[code]

However:

[code]

### Environment info
* Operating System:
Debian

* Bazel version (output of `bazel info release`):
release 0.7.0

[2017-11-04 08:12] dslomov commented on #3772
I plan to cut at cff0dc94f6a8e16492adf54c88d0b26abe903d4c
Nightly looks good: https://ci.bazel.io/view/Bazel%20bootstrap%20and%20maintenance/job/bazel/job/nightly/109/

[2017-11-04 08:36] damienmg commented on #3772
Sounds good I'll let you know if the one remaining issue is genuine

On Sat, Nov 4, 2017, 9:13 AM Dmitry Lomov <notifications@github.com> wrote:

[2017-11-04 13:59] davido commented on #3772
What about this https://github.com/bazelbuild/bazel/issues/3965?

[2017-11-04 17:35] damienmg commented on #3772
We do not have CI coverage for it, which means you will have to check with
the release candidate and report regression. Cc @meteorcloudy.

Technically since this was not working on 0.7, this would not be a
regression. Testing those is hard however. Anyway if you can test the
proposed baseline and tell us if that works before we cut the RC that would
probably be the best.

On Sat, Nov 4, 2017, 2:59

[2017-11-04 17:37] katre commented on #3772
Dmitry, platforms documentation was just submitted internally. Can we get
it into the release?

On Sat, Nov 4, 2017, 1:35 PM Damien Martin-Guillerez <
notifications@github.com> wrote:

[2017-11-04 17:55] hhclam opened #4022 "Symlink to the binary created from a py_binary rule does not work"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

I'm using Bazel version 0.7.0

Say I have these files:
$ cat BUILD
py_binary(
    name = "test",
    srcs = ["test.py"]
)

$ cat test.py
print "Hello world!"

$ bazel build :test
INFO: Found 1 target...
Target //:test up-to-date:
  bazel-bin/test

$ bazel-bin/test
Hel

[2017-11-04 17:56] hhclam commented on #4022
Please feel free to assign this me as I have a fix.

[2017-11-05 21:38] davido commented on #3772
@damienmg @meteorcloudy

Trying to build gerrit master with bazel master is failing for me on Windows now, with:

[code]

This happens here on most recent Java 8 version:

[code]

It seems that [ths diff fixed it](http://paste.openstack.org/show/625563/):

[code]

[2017-11-05 21:46] damienmg commented on #3772
So do you mean the problem is on gerrit side?

On Sun, Nov 5, 2017, 10:39 PM David Ostrovsky <notifications@github.com>
wrote:

[2017-11-05 22:00] davido commented on #3772
I believe, this is a JDK bug. A workaround can be provided on gerrit site. I also checked, that the same problem exists in Bazel 0.7 already. It's not clear to me why this problem does not exist on sane platforms (Linux * Mac Os X).

[2017-11-06 01:13] dslomov commented on #3772
I cut with `devtools/blaze/bazel/admin/release.sh create 0.8.0 cff0dc9`

[2017-11-06 05:12] michaelsafyan opened #4025 "git_repository should support Google Cloud Source Repositories"
### Description of the problem / feature request / question:

The git_repository() rule doesn't work when authentication is involved. This is problematic for development using private repositories as hosted on Google Cloud. For example, if you develop purely within Google Cloud Shell and have multiple repositories within the same Google Cloud project, you cannot have one repository reference anoth

[2017-11-06 15:22] aj-michael commented on #3772
please cherry pick internal change 174503874 which has been submitted but not exported yet, its a release blocker that would break Android AAR support (internal bug 68858732) /cc @jin

[2017-11-06 16:28] ittaiz commented on #4025
I'm pretty certain "git@proj.git" format works with authentication.
Is that format not supported by GCSR?
On Sun, 5 Nov 2017 at 21:12 Michael Safyan <notifications@github.com> wrote:

[2017-11-06 19:01] znull commented on #3956
I just started seeing this with bazel 0.8.0rc1 on linux (ubuntu). We hadn't seen it previously.

[2017-11-06 19:07] meteorcloudy commented on #3956
Adding this issue to release blocker cause it's in 0.8.0rc1
@lberki @kush-c Could you take a look?

[2017-11-06 20:06] damienmg commented on #3793
FWIW it is happening again with latest this time: https://ci.bazel.io/blue/rest/organizations/jenkins/pipelines/bazel-tests/runs/1123/nodes/30/steps/348/log/?start=0

[2017-11-06 20:08] damienmg opened #4027 "src/tools/shell/bazel/embedded_tools_deps_test.sh is not executable on darwin?"
[code]

From https://ci.bazel.io/blue/rest/organizations/jenkins/pipelines/bazel-tests/runs/1123/nodes/30/steps/348/log/?start=0

[2017-11-06 20:16] petemounce commented on #3594
@meteorcloudy this is the issue I'm stood talking to you about :)

[2017-11-06 20:59] meteorcloudy commented on #2955
This is the same thing, I am trying to submit https://bazel-review.googlesource.com/c/bazel/+/17552 now.

[2017-11-06 20:59] #2955 closed

[2017-11-06 21:17] cvcal commented on #4014
No, this does not look like a launcher error. Does the following question on stack-overflow help? https://stackoverflow.com/questions/14268887/what-is-the-illegal-instruction-4-error-and-why-does-mmacosx-version-min-10. It seems that this is a problem with the versioning of mac and its interface protobuf. @jmmv does this sound similar?

[2017-11-06 21:30] jmillikin-stripe opened #4028 "MacOS crosstool configures /usr/bin/strip with invalid flags"
This report is against Bazel release 0.7.0.

`tools/osx/crosstool/CROSSTOOL.tpl` configures `/usr/bin/strip` with multiple `-R` flags. In the GNU toolchain this flag removes a named section, but Clang (installed by Apple's dev tools) has a different definition of the `-R` flag.

[code]

This causes builds of stripped binaries to fail on MacOS:

[code]

Here's the workspace content to reproduce:
[c

[2017-11-06 21:35] janakdr commented on #3260
Sorry for the lack of response! rbuildfiles is supported, though it's currently only used internally. We depend on it, though, so it is fully supported. We will try to add documentation!

[2017-11-06 21:40] jmillikin-stripe opened #4030 "Bazel should warn if a target depends on `features` that aren't defined."
Given a BUILD file with a target using the `features` attr:

[code]

When building this, I would expect Bazel to print some warning about `no-such-feature` being undefined. Currently (as of release 0.7.0) no such warning is printed, which makes it difficult to notice that a typo has prevented some desired feature from being applied.

[2017-11-06 22:23] katre commented on #1479
The problem is when a configured attribute is used in the outputs section.

Reproduction:
rule.bzl:
[code]

BUILD:
[code]

[2017-11-06 22:23] katre commented on #1479
We need to find out whether having outputs use configurable attributes makes sense, but at the least we need a better error message if this is not supported.

[2017-11-07 01:46] sgreenstein commented on #3594
I've also seen this. It happens about 5% of the time in our CI system

[2017-11-07 03:31] zjh-nudger opened #4032 "GLIBC_2.14 not found"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:
GLIBC_2.14' not found

### If possible, provide a minimal example to reproduce the problem:
when I compile bazel use *.sh shell file.

### Environment info
* Operating System:
uname -a
Linux x86_64 #1 SMP Tu

[2017-11-07 05:21] philsc commented on #1479
I would like to think that it'd be possible, but I'll defer to people with more insight than myself.

I figure if we can change the dependency graph based on a `--cpu=` flag, then why not change the output file names?

[2017-11-07 06:34] michaelsafyan commented on #4025
@ittaiz I'm not sure what you are proposing/saying. According to the [git_repository](https://docs.bazel.build/versions/master/be/workspace.html#git_repository) rule documentation, there is "currently no support for authentication" in the `remote` field that indicates the Git repository (and even if there were, I'm not sure that it would be ideal to encode the username in the `WORKSPACE` as the us

[2017-11-07 06:52] Utsav2 commented on #3260
@janakdr thanks! Could you remind me the strategy you suggested regarding diffs of query outputs to better determine which tests to run? I don't think I understood it properly, and we ran out of time discussing it today.

[2017-11-07 07:06] benjaminp opened #4033 "LcovMerger not properly declared as a tool by StandaloneTestStrategy"
If coverage is enabled, `TestActionBuilder` sticks the` LcovMerger` tool's `FilesToRun` into the test action's inputs. This suffices to build the `LcovMerger` executable and runfiles tree before running the test. However, since `StandaloneTestStrategy` does not include `LcovMerger` as a tool in the underlying test-running spawn, the sandbox fails to mount `LcovMerger`'s runfiles tree into the sand

[2017-11-07 07:49] davido opened #4034 "Provide native Bazel package for Alpine linux"
So that something like that just work:

[code]

[2017-11-07 11:00] aleb commented on #4010
I think the way a dependent target was defined instructed Bazel to use those files. And then Bazel complained about that but much later, without context. I might be wrong.

Anyway, I fixed this by specifying in CROSSTOOL the correct `-isystem` flag where the `opencv2/opencv.hpp` file can be found.

[2017-11-07 11:02] snnn opened #4035 "[Windows]: build failed with Unexpected IO error"
### Description of the problem / feature request / question:
Cannot build bazel 0.8 branch with bazel 0.8

### If possible, provide a minimal example to reproduce the problem:

bazel --output_base D:\bazel_build  build --stamp --action_env=USE_DYNAMIC_CRT=1 --config opt --action_env=NO_MSVC_WRAPPER=1 --color=no --compilation_mode opt --verbose_failures --experimental_ui  src:bazel.exe

Do it twice

[2017-11-07 13:58] dslomov commented on #4035
Potential release blocker for 0.8: https://github.com/bazelbuild/bazel/issues/3772

[2017-11-07 14:30] drigz opened #4036 "ImportError when external repository has same directory as main workspace"
If a py_binary depends on a py_library from an external repository, then the path to the external repository will be added to PYTHONPATH. If the external repository contains a directory of the same name as the directory containing the Python source in the main workspace (eg `src`), Python will not be able to find modules located inside this directory in the main workspace.

For example, if you dep

[2017-11-07 14:31] ensonic commented on #3550
The docs for it are here:
https://docs.bazel.build/versions/master/skylark/repository_rules.html

The labels stuff needs to be updated when the feature leaves experimental.

[2017-11-07 15:28] mjs-sx opened #4037 "External git repository fetch fails if output base is below a git directory"
### Description of the problem / feature request / question:

If the Bazel output base is placed below a git repository, it will fail to fetch external git repositories when running `git clone`. This has come up a few times for us when users have $HOME/.git directories for managing personal rc files, and the default output base ($HOME/.cache/bazel/...) is used.

The affected code is here: https://

[2017-11-07 17:07] katre commented on #4025
Have you tried using the Skylark-based git_repository rule, rather than the native one? The Skylark-based rule uses the native git binary, and thus uses the same configuration setup you already have.

To try it, add this before your first git_repository rule in WORKSPACE:
[code]

The rule is intended to be a drop-in replacement for the native rule, which we plan to deprecate at some point.

[2017-11-07 17:28] ronshapiro opened #4038 "Canonical naming for external repositories"
There's a discrepancy within documentation on how to best name external repositories and common practice, and I think we should formalize this in order to make importing bazel projects as easy as possible.

The [WORKSPACE docs](https://docs.bazel.build/versions/master/be/workspace.html#maven_jar_name) recommend a way to name jars that are on maven. That's great, but it's often redundant, which has

[2017-11-07 18:22] excavador commented on #2701
I need it!

[2017-11-07 18:47] katre commented on #1479
Outputs are evaluated before selects can be decided, which makes sense because the set of outputs needs to be deterministic in order for other targets to properly depend on them. The best we can do for this is to add a better error handling.

[2017-11-07 18:49] jart commented on #4038
I support bringing greater consistency to names.

I would like to see Bazel project leaders (and ideally Google leadership as well) to join the community in defining a standard naming convention for Bazel repositories. We need one that can apply not only Maven, but other languages as well.

I support the imperfect yet readable approach I proposed with `java_import_external`. It makes a tradeoff on

[2017-11-07 19:49] vbatts commented on #2701
It exists!

On Tue, Nov 7, 2017, 14:01 Oleg Tsarev <notifications@github.com> wrote:

[2017-11-07 19:58] #2355 closed

[2017-11-07 19:58] #4027 closed

[2017-11-07 19:58] excavador commented on #2701
Thank you!
Yes, found description https://docs.bazel.build/versions/master/install-redhat.html
Why this ticket still opem?

[2017-11-07 20:24] vbatts commented on #2701
good question. I don't have perms to close it.

[2017-11-07 20:27] tybook opened #4041 "`bazel run` when using `--experimental_remote_spawn_cache` is broken"
### Description of the problem / feature request / question:
`bazel run`, of at least `sh_binary` and `java_binary` targets, does not work when the target is fetched from the remote cache. The runfiles directory for the target is not recreated. I get output like:
[code]

This problem does not seem to exist for executable `genrule`s. This problem occurs both with and without using the `--script_pat

[2017-11-07 20:27] tybook commented on #4041
@hhclam We talked about this briefly at Bazel conf

[2017-11-07 21:35] katre opened #4042 "Mixing environment groups and platforms causes a crash"
Somewhere in the combination of platforms and auto_cpu_environment_group, a SupportedEnvironmentsProvider is not being added, leading to a crash on bazel build.

BUILD:
[code]

Command:
[code]

Crash:
[code]

[2017-11-07 22:32] laszlocsomor commented on #4035
Thanks for reporting! However we can't look at this bug this week because we're attending the Bazel conference in Sunnyvale, CA. I'll take a look when we're back in Munich.

[2017-11-07 22:36] jmillikin-stripe opened #4044 "Please allow Crosstool features to be defined without redefining all of CROSSTOOL.tpl"
Projects like Envoy want to have a broader range of build modes than just opt/fastbuild/dbg. Currently Envoy has a custom bazelrc defining flag sets as configs:

[code]

It would be nice if these additional flags could be represented as Crosstool features -- then they could be enabled per-target, or excluded from certain targets that are known to be problematic for certain flags.

[2017-11-07 22:48] duganchen commented on #2534
It's CXX, not CCX

[2017-11-08 01:04] ittaiz commented on #4025
@damienmg is @katre correct in saying that native git repository will be deprecated in favor of the skylark one? Since the skylark one depends on whatever git is installed this adds somewhat of a non-reproducibility to the build. it might be small but I don't like it that much.

@michaelsafyan We have the following declaration with then native rule
[code]
 and that utilizes the ssh keys. I don't t

[2017-11-08 04:29] xxlest opened #4046 "link shared library which compiled by myself failed"
bazel version is 0.5.4,  system is ubuntu 16.04, I'm trying to use so file which i build ,but failed

build file:
cc_library(
    name = "hello-time",
    srcs = ["hello-time.cc"],
    hdrs = ["//main:hello-time.h","//main:hello-greet.h"],
)

cc_library(
    name = "hello-shared",
    srcs = ["hello.so"],
    hdrs = ["hello-greet.h"],
    visibility = ["//visibility:public"],
)

cc_binary(
    nam

[2017-11-08 05:13] mmorearty commented on #3360
Thanks for your work on this. @ola-rozenfeld's fix addresses the example I gave in my original description, but it's still not difficult to run into this problem with only slightly more complicated scenarios. This is real, and I think it's likely that my team would hit this if we were using the current version of Bazel. (We are currently using a fork of Bazel with my own fix, similar to what I des

[2017-11-08 06:06] AustinSchuh opened #4047 "Android rules can't use external repo for toolchain"
Currently, we require developers to install a package with the SDK and NDK.  This makes upgrades almost impossible to version and track.

I want to be able to tar up the SDK and NDK and point Bazel to them.  An external repo would be awesome and bazely.  A URL that the rules fetch from and unpack would also work.

It looks like we *might* be able to check the toolchains into our repo and it would

[2017-11-08 09:28] ilya-biryukov commented on #2955
Actually, my original issue was about usual header files that have a `.def` extension.
LLVM source code uses this extension extensively for a special kind of headers (e.g, see [this file](https://reviews.llvm.org/diffusion/L/browse/cfe/trunk/include/clang/Basic/Builtins.def))

Given that MSVC's `.def` files should be handled very differently, I don't see how both fit into the current design.
In ge

[2017-11-08 12:00] drigz opened #4048 "py_binary fails to find runfiles when run from symlink"
If you create a symlink to an executable created by py_binary, it will fail with `AssertionError: Cannot find .runfiles directory for ./main`.

My use case is using Bazel to create Docker containers for [ROS](http://www.ros.org/). Because ROS packages are normally installed system-wide, it expects to find executables in a certain structure, which I'm trying to recreate with symlinks.

This fails b

[2017-11-08 13:29] dslomov commented on #3772
Internal change 174503874 is https://github.com/bazelbuild/bazel/commit/8a49b156c4edf710e3e1e0acfde5a8d27cc3a086, cherry-picking

[2017-11-08 13:35] dslomov commented on #3772
rc2: `devtools/blaze/bazel/admin/release.sh create 0.8.0 cff0dc9 8a49b15`

[2017-11-08 15:29] hhclam commented on #3236
We chatted this offline. This issue is made worse by the fact that Bazel 0.7 now ships with turbine as part of the java toolchain and running it in sandbox can cause sigbus. We talked about easy fixes to this issue such as:
1. Always put -XX:-UsePerfData in all java executions
2. In the sandbox create a symlink from hsprefdata_{user} to /dev/null when the sandbox is running.

Both will work but (2

[2017-11-08 16:18] aj-michael commented on #4047
Hi Austin, just to clarify, your feature request is to allow android_sdk_repository and android_ndk_repository to point to _other_ repositories that "fetch" the SDK/NDK like http_archive?

If so, I think this may be a specific case of a more general feature request which is "the ability to compose repository functions". android_{s,n}dk_repository are currently repository functions that take as inp

[2017-11-08 16:24] aj-michael commented on #4047
To expand a little, there is currently no way to express the order of repository function evaluation in Bazel. Repository functions are executed the first time that Bazel loading phase notices something in the main repository that references the given repository function.

E.g., when building an android_binary, there is an implicit dependency on @androidsdk//:sdk which provides tools like aapt and

[2017-11-08 17:29] petemounce commented on #3772
https://chocolatey.org/packages/bazel/0.8.0-rc2 is up.

[2017-11-08 17:41] petemounce opened #4049 "Integrate chocolatey package publishing into release process"
### Description of the problem / feature request / question:

At present, publishing the chocolatey package for Windows is a manual process

0. hear about an RC or release
0. run (on Windows)
[code]
0. reply to the release ticket saying that the package has been pushed and the URL it's available from.

I'd like to eliminate this manual process from the release.

#### Dependencies:
0. choco.exe - b

[2017-11-08 18:54] laszlocsomor commented on #4001
/cc @laszlocsomor

[2017-11-08 19:00] damienmg commented on #4021
This is a surprising behavior, let see if @mhlopko  has idea on why is that because it seems like auto conf failed in one of the case.

Can you post the output of `$(bazel info output_base)/external/local_config_cc/CROSSTOOL` file from each workspace here?

[2017-11-08 19:01] damienmg commented on #4022
:) Thanks for taking that on :)

[2017-11-08 19:05] damienmg commented on #4025
/cc @davidstanke you might be interested in that bug

[2017-11-08 19:08] laszlocsomor commented on #2241
Hey, no updates.

@dslomov: we need to set a priority for this bug and put it on our OKRs. Without having looked at the actual state of the code and just speaking from experience, I guess the migration would take me one or two weeks.

@cushon: is there any deadline for Bazel-on-Windows to move away from the Java implementation?

[2017-11-08 19:08] damienmg commented on #4030
/cc @mhlopko @calpeyser: wdyt?

[2017-11-08 19:10] damienmg commented on #4032
Wheredid you get your bazel binary? Which distribution are you using?

[2017-11-08 19:12] damienmg commented on #4033
Routing through @lberki to triage.

[2017-11-08 19:17] tvolkert opened #4050 "Document SkylarkLateBoundDefault"
https://docs.bazel.build/versions/master/skylark/lib/attr.html#parameters-3

Can you please document `SkylarkLateBoundDefault`?

[2017-11-08 19:20] damienmg commented on #4036
Duplicate of #3998

Workaround: use `--noexperimental_python_import_all_repositories` and the `imports` attribute of `py_library`

[2017-11-08 19:20] #4036 closed

[2017-11-08 19:25] damienmg commented on #4038
The current convention is defined in the [workspace function documentation](https://docs.bazel.build/versions/master/be/functions.html#workspace):

[code]

We had some discussion with @ittaiz and @johnynek about that yesterday. As I said I am open to have improvement over that naming convention and agree that we should have canonical names.

[2017-11-08 19:29] damienmg commented on #4041
/cc @ulfjack @buchgr

[2017-11-08 19:30] damienmg commented on #4046
@mhlopko to triage

[2017-11-08 19:31] sparkprime commented on #4021
Looks like there's something wrong with it:

[code]

BTW I'm in the NY office if any of the Bazel people there want to debug hands-on

[2017-11-08 19:32] damienmg commented on #4048
Duplicate of #4022

[2017-11-08 19:32] #4048 closed

[2017-11-08 19:33] damienmg commented on #4049
Maybe in scripts/package or scripts/ci on bazel repository rather? See scripts/docs/Dockerfile for example

[2017-11-08 19:34] damienmg commented on #4050
/cc @dslomov @laurentlb @spomorski

[2017-11-08 19:35] damienmg commented on #4021
We are all in the bay area right now, conf.bazel.build :)

Sorry I got the command wrong, I meant to cat those file: `cat $(bazel info output_base)/external/local_config_cc/CROSSTOOL`

[2017-11-08 19:56] cushon commented on #2241
@laszlocsomor from my perspective it would be nice to have a single implementation when we're doing maintenance or adding new features, but I don't know of a particular deadline.

[2017-11-08 20:39] abergmeier commented on #4005
Since I do have problems with the include paths for libc (https://stackoverflow.com/questions/47078520/clang-toolchain-fails-for-system-libc-files), how does `libc_top` (`inputsForLibc`) work?

Especially since I cannot seem to be able to glob system files.

[2017-11-08 21:22] barche opened #4053 "Swig failure on Centos 6.2 for tensorflow"
Hi,

As reported here: https://github.com/tensorflow/tensorflow/issues/14211

Looking on stackoverflow, I found this:
https://stackoverflow.com/questions/45859371/error-building-tensorflow-on-centos-7

I can confirm building tensorflow 1.3.1 using bazel 0.5.1 does work, as suggested.

Unfortunately, the suggestion of using bazel 0.5.1 is no longer valid for tensorflow 1.4, since it requires at lea

[2017-11-08 21:30] davido commented on #1492
It seems, that those workarounds are not needed any more. Here is the working Dockerfile that is building Bazel on Alpine Linux.

Moreover, I'm looking in creating native bazel package for Alpine Linux, so that something like that:

[code]

just work.

[2017-11-08 21:31] tvolkert opened #4054 "RUNFILES detection in executable scripts is hard"
In order for executable rules to be able to properly refer to files that are included as `data` deps, those executables need to know what the `RUNFILES` directory is.

There are many contexts from which an executable can be invoked, so it's common for the templates of such executable rules to contain boilerplate code that tries to deduce `RUNFILES` with code that looks similar to the following:

[

[2017-11-08 21:31] pspeter3 commented on #1492
Thanks! This should mean lighter docker containers for all

[2017-11-08 21:37] davido opened #4055 "scripts/generate_bash_completion.sh is failing on Alpine Linux"
I've built the latest Bazel on Alpine Linux, but trying generate the bash completeion is failing with:

[code]

It seems that `expr` utility on this `musl libc` based system behaives differently.

This diff fixed it (remove '--' after `expr`):

[code]

I filed this issue upstream: https://bugs.alpinelinux.org/issues/8121.

[2017-11-08 22:08] davido commented on #1492
Native Bazel package for Alpine Linux is [here](https://github.com/davido/bazel-alpine-package/blob/master/APKBUILD).

[2017-11-08 22:09] davido commented on #4034
Native Bazel package for Alpine Linux is [here](https://github.com/davido/bazel-alpine-package/blob/master/APKBUILD).

[2017-11-08 22:09] #4034 closed

[2017-11-08 22:46] johnynek commented on #4038
I would really love to expand the characters that can be used in workspace names to accommodate existing naming schemes without collisions.

For instance:
[code]
being an example. So, concretely, you have a prefix naming scheme (maybe `npm:` or `maven:` or `cargo:` etc...) then we can use any character other than `/`. So basically, any unicode character other than `/` allowed between `@` and `//`.

[2017-11-08 22:53] gregmagolan opened #4056 "Bazel reports an non-existant BUILD file when .bzl file is present"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:

Bazel 0.7.0 reports a non-existent `BUILD` in the same folder as a dependent .bzl file.

### If possible, provide a minimal example to reproduce the problem:

Minimum example repo is here: https://github.co

[2017-11-08 23:08] jayconrod opened #4057 "cc_library warning: file has no symbols"
### Description of the problem / feature request / question:

On macOS, if a source file in a static `cc_library` doesn't define any global symbols, we see a warning like the one below:

[code]

This is a problem in rules_go. We use a tool in the Go toolchain (cgo) that generates some .c files that get compiled with `cc_library`. One of the generated files in each library frequently has no symbols

[2017-11-08 23:11] kant111 commented on #79
Or just simple say no to Google projects! since they don't really seem to operate like an open source as they claim they are :)

[2017-11-08 23:19] sparkprime commented on #4021
They're both the same:

[code]

[2017-11-09 00:07] jart commented on #4038
I'm not opposed to @johnynek's suggestion. The only concern I would have is that a label like `@maven:com.google.guava:guava//:jar` might communicate to the user that a deeper collaboration is happening between Bazel and the Maven registry, or if those colons represent a logical hierarchical structure, rather than simply being a naming convention in a flat namespace.

[2017-11-09 00:15] ronshapiro commented on #4038
If I declare `@maven:com.google.guava:guava//:jar` dependency, then everyone who wants to use my library downstream has to use guava from Maven (or name it incorrectly). What if they want to use one of the many other workspace definitions?

One of the compelling reasons I think about @jart's proposal is that a `maven_jar` doesn't necessary encode that it comes from maven. Example:

Dagger uses baz

[2017-11-09 00:27] johnynek commented on #4038
we handle this case in https://github.com/johnynek/bazel-deps by making no-op targets that just export the items you need. So, we can replace jars with targets built natively with bazel so it is opaque to users (it is just a target in `3rdparty/...` for repo users), but dealing with this in a way that works transitively with recursive workspaces will be a challenge.

[2017-11-09 00:54] perezd commented on #1492
NICE!!

On Wed, Nov 8, 2017 at 2:08 PM David Ostrovsky <notifications@github.com>
wrote:

[2017-11-09 00:59] jwnimmer-tri commented on #3115
This is acutely annoying for providers, since it both breaks things, and gives bad diagnostics ("does not have mandatory providers Foo" even though it has "Foo", just a different foo).  If it is difficult to fix, it might be worth at least failing-fast in the meantime, even if only for providers.

[2017-11-09 02:13] benjaminp opened #4059 "exceptions during test running actions lead to non-executable testlogs"
If a Java exception occurs during a test runner action, the test logs will not be marked executable because the outputs of failed actions aren't "checked" by `ActionMetadataHandler`. This is particularly noticeable with `--notest_keep_going` because a exception is used to stop the build after the first test failure.

Example:
[code]

[2017-11-09 04:27] michaelsafyan commented on #4025
Thanks, @ittaiz. That's perfect. In the case of Cloud Source Repositories, I just used the HTTPS URL (there was no need to specify a user at all). I was simply missing the use of this new definition.

I note that the documentation here:
https://docs.bazel.build/versions/master/be/workspace.html#git_repository

... now links to the new Skylark rule, but the formatting makes this a little subtle...

[2017-11-09 05:32] ahirreddy commented on #3154
I'm seeing a similar error
[code]

This is running with coverage and Java workers enabled.

[2017-11-09 05:42] jmillikin opened #4060 "Rebuilds fail with "Source forest creation failed" when a top-level dir starts with an underscore"
If a top-level directory name starts with an underscore, Bazel won't delete its symlink when regenerating the symlink forest.

[code]

This code works the first time a package is built, but fails the second time:

[code]

[2017-11-09 05:55] ittaiz commented on #4025
@michaelsafyan I'm glad it's working for you but just so it's clear I'm not using the skylark one and the load isn't needed. I'm using the native one the way I showed above.
Like I said I'd rather not use the skylark one until I understand better how I can have it using a reproducible git.

[2017-11-09 06:12] ittaiz commented on #4038
@ronshapiro I think you make a good point but I'm not sure I understand your proposal.
Why will `guava` be named `com_google_guava` if they use bazel? Thanks to what convention?
I think that part of the problem is trying to generalize naming over several domains without having successfully identifying the identifiers.

[2017-11-09 07:33] zjh-nudger commented on #4032
I got it from 'https://github.com/bazelbuild/bazel/releases'. I tried the version of 'bazel-0.7.0-installer-linux-x86_64.sh' and 'bazel-0.1.0-installer-linux-x86_64.sh'.

[2017-11-09 07:34] damienmg commented on #4032
And your Linux distribution is?

[2017-11-09 07:48] zjh-nudger commented on #4032
Linux version 2.6.18-128.el5xen (mockbuild@hs20-bc1-7.build.redhat.com) (gcc version 4.1.2 20080704 (Red Hat 4.1.2-44)) #1 SMP Wed Dec 17 12:01:40 EST 2008

[2017-11-09 09:09] mmorearty commented on #3810
The new description of Windows support is confusing to me when you read it in context. If you look at https://bazel.build/faq.html, you will see this:

The recently-rewritten answer to that "What about Windows" question seems to indicate that Bazel on Windows basically just works (although there are issues). If that's the case, wouldn't it make sense to eliminate the "What about Windows" question

[2017-11-09 09:55] AustinSchuh commented on #4047
Hi Michael,

The implementation doesn't matter to me (hence me not being super specific on purpose to not over-constrain your solution space).  My use case is that I can't currently control which SDK/NDK is used through the current mechanisms.  I can't check it into our repo (which I bet is the Google solution), and controlling the host version is problematic long term.

Your proposed solution (as

[2017-11-09 10:21] Capstan opened #4061 "Suggest label closed pull request with first release it's available in."
This is a suggestion to improve the release automation to make it very obvious when a given accepted pull request will be available by using labels to mark said pull requests. Specifically, it's a suggestion to do the following:

1. Add a new label for release candidate, e.g., `in_candidate_0.8rc00`
1. Apply said label to all closed pull requests that don't already have a relevant label that are i

[2017-11-09 10:36] boegel commented on #4053
I'm running into the same problem...

I have tried by updating the SWIG version that is used (by applying this patch: https://gist.github.com/boegel/1686e07e402293e6e8d428a16be93c6b), but that didn't help.

Digging in further now.

[2017-11-09 12:03] boegel commented on #4053
This patch fixes the problem for me:

[code]

I'm not sure what the problem *is* though, since I'm not seeing any error messages being produced by `SWIG`, only `exit 1`. Maybe `ctx.action` (the Bazel method used for running commands) is swallowing the output?

In addition, if I run the `swig` command that fails manually, it works fine. So maybe it's the environment that Bazel runs it in by default

[2017-11-09 12:26] ronshapiro commented on #4038
`com_google` for the reverse DNS and then just `guava` for the name of the project. Right now there's the duplication of `guava` since  the maven coordinates are `com.google.guava:guava`

[2017-11-09 13:41] sparkprime commented on #4021
I tried with a fresh environment:

[code]

[2017-11-09 15:40] excavador opened #4062 "document "build -c <...>" option: have a short to long list correspondence somewhere"
documentation about "-c" option missed:
https://docs.bazel.build/versions/master/command-line-reference.html#build

Option was mentointed here https://github.com/bazelbuild/rules_go/issues/993

[2017-11-09 15:55] ianthehat commented on #4062
This is actually documented, the easiest way to find the short form documentation at the moment is to search for [-c] (for any of the single letter options), but that is something you kind of have to just know. Maybe a table of short to long forms somewhere would be helpful?

[2017-11-09 16:49] laszlocsomor commented on #3810
Good point, thanks! I'll update it.

[2017-11-09 16:53] excavador commented on #4062
Definitely! It would be awesome.
Just imagine how to user search information - find link to command line reference and make search on the page.

[2017-11-09 17:30] #2760 closed

[2017-11-09 18:05] laszlocsomor commented on #3985
Thanks! FYI the whole team is away this week on conferences, I can take a look next week the earliest.

[2017-11-09 18:49] sghiaus opened #4063 "pkg_tar fails when src file name contains the '=' character"
### Description of the problem / feature request / question:

Cannot build simple `pkg_tar` target when a file contains the `=` character, e.g. if the file is named `a=b`.

### If possible, provide a minimal example to reproduce the problem:
[code]

### Environment info
* Operating System:
Linux x64, Ubuntu 14.04

* Bazel version (output of `bazel info release`):
release 0.7.0

###  Have you found

[2017-11-09 19:32] hhclam commented on #4022
This turns out to a bit tricker as my description is not entirely correct. I have 2 use cases:
1. Symlink to the Bazel-built binary of py_binary.
2. Copy and deference the runfiles tree of the py_binary and then symlink to the py_binary in the runfiles tree.

Both use cases fails for me. However java_binary works for both use cases. Using realpath will only fix case (2) but not case (1).

[2017-11-09 22:55] johnynek commented on #4038
I think we should try to make a doc and talk about goals and non-goals.

Using a naming scheme such that migration from a package manager to a bazel build and that being transparent to downstream recursive dependencies seems to be very challenging and I would not be eager to try to do this.

How do you do that with python, for instance? Python requirements are not namespaced in a way that ensures

[2017-11-09 23:19] promiseofcake commented on #3011
This is still an issue when attempting to bundle applications for the Spark runtime and it's provided Hadoop transitive dependencies (protobuf) being out of date (2.x, need 3.x).