[2015-12-07 18:23] damienmg commented on #660
you can build the installer by `./output/bazel build scripts/package:install.sh` and then the installer will be at ./bazel-bin/scripts/package/install.sh

[2015-12-07 18:34] lberki commented on #652
Does the original issue mentioned above come up when doing `bazel build //...`?

This output is unexpectedly unhelpful because, well, `:buck-ios-support` is on the command line and thus the somepath returns the trivial result. Can you try `allpaths(...,...) --output=graph`?

Alternatively, I can just take a look myself if you tell me how to reproduce this. Is invoking `setup_bazel.sh` enough?

[2015-12-07 19:16] kramasamy commented on #660
thanks @damienmg. when i try to build the installer, i get the following errors (even though I have set the bazelrc with build --jobs 100 as you recommended for compilation)

INFO: Found 1 target...
INFO: From Building src/main/protobuf/libworker_protocol_proto.jar (0 files) [for host]:
Error occurred during initialization of VM
java.lang.OutOfMemoryError: unable to create new native thread
ERROR:

[2015-12-07 19:19] damienmg commented on #660
oh sorry continue to use your bazelrc with:
`./output/bazel --bazelrc=$BAZELRC build scripts/package:install.sh`

[2015-12-07 19:25] kramasamy commented on #660
looks like the issue remains -

/output/bazel --bazelrc=$BAZELRC build scripts/packages:install.sh
WARNING: Output base '/home/kramasamy/.cache/bazel/_bazel_kramasamy/eedb062397660dc3a3aaf174700b6f99' is on NFS. This may lead to surprising failures and undetermined behavior.
INFO: Found 1 target...
INFO: From Building src/main/protobuf/libtest_status_proto.jar (0 files):
Error occurred during init

[2015-12-07 19:28] damienmg commented on #660
`./output/bazel build --jobs=10 scripts/package:install.sh` ?

[2015-12-07 19:36] kamalmarhubi opened #690 "sh_binary calling sh_binary with data doesn't work"
I am trying to have an `sh_binary` call another `sh_binary` that is provided as `data`. The call fails as the runfiles for the callee cannot be found. I would expect it to work given the [documentation of the sh_binary srcs attribute](http://bazel.io/docs/be/shell.html#sh_binary.srcs):

Here's an example BUILD file that illustrates the problem:

[code]

Complete example workspace: https://gist.git

[2015-12-07 19:36] kramasamy commented on #660
thanks @damienmg - that worked. let me try the installation now.

[2015-12-07 19:47] kramasamy commented on #660
The entire compilation worked very well in centos 6 but with centos 5 I got the following errors

Compiling JNI libraries...
g++ -I . -I /usr/lib/jvm/java-1.8.0-twitter/include/ -I /usr/lib/jvm/java-1.8.0-twitter/include/linux -std=c++0x -fPIC -c -D_JNI_IMPLEMENTATION_ -DBLAZE_JAVA_CPU="k8" -DBLAZE_OPENSOURCE=1 -o /tmp/bazel.CBT15064/native/unix_jni.cc.o src/main/native/unix_jni.cc
src/main/native

[2015-12-07 19:49] kamalmarhubi commented on #690
And just in case,

[code]

[2015-12-07 19:49] damienmg commented on #660
I guess it is missing some include with older compiler, what is the version of gcc?

[2015-12-07 19:50] kramasamy commented on #660
Taking a closer look at the file unix_jni.cc, it uses some unix utilities that are available in centos 6, however there is a default implementation for it but the #ifdef __linux is too generic I believe - assumes a lot about the underlying OS.

[2015-12-07 21:26] #687 closed

[2015-12-07 22:52] zrlk commented on #652
The issue shows up in Bazel 9e091ddef4dbbd97a2bff75948c474fe4127e541:

From a freshly-cleaned checkout of the Kythe code:
[code]
fails, now in a different way:
[code]
If I run the build again I get a different error; I've also seen
[code]
and
[code]

The result of bazel query -k 'allpaths(...,...)' --output=graph is a bunch of Graphviz. These are the lines containing `buck`:

[code]

This is the f

[2015-12-08 00:34] kbrems commented on #587
Note, the posted WORKSPACE file only gets you past building the tensorflow tutorials_example_trainer. If you want to rebuild the whole package and install, for example to create a new TensorFlow user operator, there are no less than 74 external dependencies to manually download and edit in your WORKSPACE file...(mostly needed for TensorBoard). This is not very workable for those of us trying to bu

[2015-12-08 04:17] kamalmarhubi opened #692 "docker_build: support modes dict attribute like pkg_tar does"
This is a pretty small change, but I'm starting to think a meta-issue around tidying up / normalizing the two rules would be a good idea.

[2015-12-08 05:25] kamalmarhubi opened #693 "docker_build: base layer permissions on directories should be respected when adding files"
In my particular use case, I'm creating a link under `/tmp` which exists with `1777` in the base layer. The outcome is that `/tmp` has a mode of `0755`, and so is not really usable.

[2015-12-08 05:29] kramasamy opened #694 "Unable to generate thrift and proto source files"
We used to use a version of bazel compiled from source around June 2015. I recently upgraded it to use bazel 0.1.2. Now bazel complains that none of the rules in genthrift.bzl and genproto.bzl generate any java files - even though they were doing fine with the older version of bazel.

[code]
genthrift.bzl is located in tools/rules/genthrift.bzl and the contents are here

[code]
it depends on thrif

[2015-12-08 05:37] kamalmarhubi commented on #693
Example repo illustrating issue: https://github.com/kamalmarhubi/bazel-issue-693

[code]

In both the derived images, the directory `a-dir` overrides the permissions in the base layer.

[2015-12-08 05:40] kamalmarhubi commented on #693
Likely relevant comment:
[code]

https://github.com/bazelbuild/bazel/blob/b94713e8f83ef4dad4a6611411d93eadbcc4c95f/tools/build_defs/pkg/archive.py#L351-L352

[2015-12-08 05:43] kamalmarhubi commented on #693
This doesn't happen when using `pkg_tar` and `deps` in place of `docker_build` and `base` because the call to `build_tar` is flattening all tars. The directory entry exists with the correct permissions, and so the deduplication mentioned above actually works. For `docker_build` and `base`, the directory entry does not exist, and so it is created with the same permissions as the added file and the

[2015-12-08 05:47] kamalmarhubi commented on #694
To make this readable, could you surround your code with triple backticks?

[code]

Or better: add the contents of the files to a gist: https://gist.github.com/

[2015-12-08 05:51] kramasamy commented on #694
thanks @kamalmarhubi - added.

[2015-12-08 05:56] kamalmarhubi commented on #693
Possible solution: add another action that creates a file that tracks the directory structure. This could then be propagated down through dependent rules. There would need to be a way to actually change the mode on a directory when it's the desired state. Likely #692 would help here.

[2015-12-08 06:19] kamalmarhubi commented on #694
I don't think I'll be able to help, but maybe provide the `src/thrift/BUILD` file too for clarity? Or at least those rules if you can.

[2015-12-08 06:20] kramasamy commented on #694
Here is the src/thrift/BUILD file as well

[code]

[2015-12-08 06:22] kramasamy commented on #694
The interesting thing to note is that I have to able to generate proto files for cpp but only with java it gives the error.

[2015-12-08 06:24] kramasamy commented on #694
For reference, I am attaching the genproto.bzl as well

[code]

[2015-12-08 09:01] jcremer commented on #689
The following solved the problem in the toolchain configuration for local-linux
cxx_builtin_include_directory: "/usr/lib64/gcc/x86_64-suse-linux/4.7/include" # 64bit includes
cxx_builtin_include_directory: "/usr/lib64/gcc/x86_64-suse-linux/4.7/include-fixed" # 64bit includes
cxx_builtin_include_directory: "/usr/lib/gcc/i586-suse-linux/4.7/include" # 32bit includes
cxx_builtin_include_directory: "/

[2015-12-08 09:01] #689 closed

[2015-12-08 09:55] abergmeier commented on #682
Does this track the issue, where you specify an external build file

    new_http_archive(
        name = "boost",
        url = "http://myboost.com",
        build_file = "/tools/build_defs/boost/boost.BUILD",
    )

And `boost.BUILD` includes

    load("/tools/build_defs/boost/extensions", ...

And it searches `extensions` in the `boost` repo?
Or should this be solved by referencing an external

[2015-12-08 11:40] vmayoral commented on #606
Since this seems more a TensorFlow issue than a bazel one, i've opened a new issue at https://github.com/tensorflow/tensorflow/issues/445.

I'd say this issue has been addressed so we can close it.

[2015-12-08 12:42] lberki commented on #652
This is due to the lame base_workspace thing we have. Should be fixed
really soon properly, but for the time being, let me just send out a change
that makes this a little more bearable for the meantime that will make
Bazel do not traverse into //tools, //examples and //third_party when
resolving //... .

On Mon, Dec 7, 2015 at 11:52 PM, zrlk <notifications@github.com> wrote:

--
Lukács T. Berki |

[2015-12-08 13:20] #352 closed

[2015-12-08 13:20] #652 closed

[2015-12-08 13:33] lberki commented on #652
I checked this in an appropriately mutilated Kythe tree with `bazel build --nobuild -k //...`. It seems to work alright.

[2015-12-08 16:24] devjgm opened #695 "bazel fails to build `cctz` with errors in //tools/build_rules"
I'm using bazel 0.1.2 on Ubuntu Linux.

I'm trying to build https://github.com/google/cctz and I keep getting strange build errors that appear to be from internal bazel things in `//tools/build_rules`. The following is a transcript of my settings and the error

[code]

The error in this case is something about @rust-darwin-x86_64. But I often see similar errors naming different targets.

Note: I'v

[2015-12-08 17:27] zrlk commented on #652
This works for me, but only with `-k`.

[2015-12-08 17:34] glinscott opened #696 "Exception running bazel build ..."
bazel build ... on my repository throws the following exception.

Callstack:

[code]

Note, I applied the following patch to get past a NullPointerException in NonConfigurableAttributeMapper:

[code]

[2015-12-08 17:47] glinscott commented on #696
Forgot to mention the version of bazel, it's latest master: 30df02a567cbd8a307b96037f0960fca66a5deaf.

[2015-12-08 17:52] lberki commented on #652
What's the error message? I had remove your tools/ directory and then add
back a few parts which you apparently needed, but otherwise, it worked
alright for me.

On Tue, Dec 8, 2015 at 6:27 PM, zrlk <notifications@github.com> wrote:

--
Lukács T. Berki | Software Engineer | lberki@google.com |

Google Germany GmbH | Maximillianstr. 11-15 | 80539 München | Germany
| Geschäftsführer: Matthew
Scott S

[2015-12-08 18:00] zrlk commented on #652
[code]
or
[code]
and for a sanity check:
[code]

[2015-12-08 18:57] kchodorow opened #697 "Cpp encyclopedia entries (and probably others) have broken anchor links"
E.g., http://bazel.io/docs/be/c-cpp.html has "Make" variable link that points to http://bazel.io/docs/be/c-cpp.html#make_variables.

[2015-12-08 20:13] philbinj opened #698 "Tensorflow not compiling with current bazel"
I've tried compiling tensorflow with the latest version of Bazel and get the following error:

[code]

Seems to be a problem with tensorflow's cuda crosstool wrapper.

[2015-12-08 22:38] davidzchen commented on #697
I am currently working on fixing this as well as other links in the embedded documentation that are currently broken.

[2015-12-09 04:07] prattmic commented on #433
It would be helpful to mention the kernel.unprivileged_userns_clone sysctl somewhere in the documentation, such as [here](http://bazel.io/docs/bazel-user-manual.html#sandboxing). It took me quite a while to find this bug.

[2015-12-09 10:03] lberki commented on #652
Erm. I *almost* got it right :) Let me send out a change that'll fix for realsies... in the meantime, could you try running `rm base_workspace/{tools,examples}/BUILD` and building again? Then it should work.

[2015-12-09 10:08] damienmg commented on #433
Sorry catching up.

@mattmoor can we get more background on the GKE side about the security concerns? It would be nice if we could provide image in GKE that "Just Work" for build with bazel

[2015-12-09 10:08] damienmg commented on #433
(Also reopening as a documentation issue)

[2015-12-09 11:36] davidzchen commented on #698
Hi @philbinj - Can you paste the output of running your build command with the `--verbose_failures` flag?

[2015-12-09 14:54] kchodorow commented on #650
No, I don't think so. I'll reopen to track that.

[2015-12-09 15:16] kchodorow commented on #682
`load(label)` is being tracked in #429.   Once that's in, you'll be able to do `load("//tools/build_defs/boost/extensions:whatever", ...)` to get it from the boost repo or `load("@//tools/build_defs/boost/extensions:whatever", ...)` to get it from your workspace.

[2015-12-09 15:50] kchodorow commented on #638
The change has some difficulties internally and I don't know how to fix, so assigning to @lberki since he did the code review.  Sorry for the hot potato.

[2015-12-09 16:04] mattmoor commented on #433
@damienmg One question is: what are the docker/kernel versions on the workstation/node?  Container Engine just switched from 1.6.2 to 1.8.3

If it isn't a Docker client thing, then I certainly don't know enough about Kubernetes manipulation of user namespaces to help.

[2015-12-09 16:12] damienmg commented on #433
It's a kernel setup thing (of the GCE instance I guess), do you know who to ask?

Who could probably come up with some nicer thing with remote execution though (in which all action are sandboxing in a docker image).

[2015-12-09 16:43] glinscott commented on #696
I should also mention that it's just a collection of c++ programs, nowhere in my project do I use bazel-j2objc.  Also, if I don't build from the root directory, ie. `bazel build //src/...` it works fine, so it looks related to the base workspace stuff.

[2015-12-09 17:22] philbinj commented on #698
Yes, here is the --verbose_failures output:
[code]

So nothing very useful there. Here is the sandbox_debug output, though:
[code]

From my reading of `namespace-sandbox.c` it seems like bazel is not able to find the crosstool_wrapper_driver_is_not_gcc wrapper.

[2015-12-09 17:43] zrlk commented on #652
As of commit 53f407608ef6547bd690fa4420418aa6b6991b22 I'm able to build and test `//...` (without removing any files in base_workspace). Thanks!

[2015-12-09 23:12] johnynek commented on #666
Are there not tests to run the examples as part of CI? That would be a nice starter project for someone I guess.

[2015-12-10 07:19] bsilver8192 commented on #690
Bazel only creates one runfiles tree for the top-level binary (sh1), but your code is looking under a separate tree for sh2. Binaries are supposed to look under their current directory for runfiles. Changing the RUNFILES variable in sh2 to RUNFILES=. makes your example work for me.

sh1 should have RUNFILES=. too, but it doesn't need to be for this particular example.

[2015-12-10 07:42] bsilver8192 commented on #694
I'm pretty sure that listing `java_library`s in `srcs` doesn't work any more. Does it work if you move them to `deps` instead?

[2015-12-10 07:49] bsilver8192 commented on #695
53f407608ef6547bd690fa4420418aa6b6991b22 looks like it should fix this. Can you try with a version newer than that?

[2015-12-10 07:52] bsilver8192 commented on #682
Is this actually different than #488?

[2015-12-10 08:57] damienmg commented on #666
It is tested here: https://github.com/bazelbuild/bazel/blob/master/src/test/shell/bazel/bazel_example_test.sh#L87

[2015-12-10 08:58] damienmg commented on #666
Try with `--genrule_strategy=standalone --spawn_strategy=standalone`.

[2015-12-10 12:45] #433 closed

[2015-12-10 14:33] devjgm commented on #695
Yes, that fixes the problem. Thanks!

[2015-12-10 15:00] kchodorow commented on #655
Closing based on lack of reply, feel free to comment if this is still an issue.

[2015-12-10 15:00] #655 closed

[2015-12-10 15:04] kchodorow commented on #589
Closing as this should have been fixed by recent changes, please comment if it's still and issue for you.

[2015-12-10 15:04] #589 closed

[2015-12-10 15:07] kchodorow commented on #566
This was fixed in f9fdc8dfced8b2b14561720623126a91e04b22cb and I think https://github.com/bazelbuild/bazel/blob/master/src/test/shell/bazel/external_correctness_test.sh#L54-L68 covers the test case above.

[2015-12-10 15:07] #566 closed

[2015-12-10 15:08] kchodorow commented on #477
Closing as obsolete due to f9fdc8dfced8b2b14561720623126a91e04b22cb.

[2015-12-10 15:08] #477 closed

[2015-12-10 15:26] kchodorow commented on #682
No, I just failed to find #488 when commenting on #681.

[2015-12-10 15:26] #682 closed

[2015-12-10 19:01] cgrushko opened #699 "Feature request: pypi_package"
... similar to maven_jar, but downloads Python code from PyPi and makes them available in the build.

[2015-12-10 19:27] cgrushko commented on #699
@Shaywei

[2015-12-10 20:25] #638 closed

[2015-12-10 22:12] Shaywei commented on #699
I am definitely interested in this!
Can't promise anything, but if I'll get some time to hack on Bazel, I'll definitely give this a shot!

[2015-12-11 08:27] endobson commented on #611
This seems to have been rolled forward again and is broken for me on OS X.

The issue that I am seeing is

Repo: `https://github.com/endobson/minimal-racket/tree/148608c8a3d4eba496bfe29999ea832fe6af5e99`

[code]

It seems to still be clearing the environment as `use_default_shell_environment` is only set for the `RewriteJson` action not the `BuildLayer` action. This clears the environment (importa

[2015-12-11 08:44] XperielIndigo commented on #523
Any update?

[2015-12-11 12:01] lberki commented on #523
Hm, this is kind of odd. Now that I look at this output:

https://gist.github.com/XperielIndigo/a564fb57fdaa4093e67a

aapt apparently gets executed in the target configuration as opposed to the host one. The line:

`/private/var/tmp/_bazel_root/eeba38b9814c9e09ce33cdb3fd7c34f8/Master/bazel-out/local_darwin-fastbuild/bin/external/androidsdk/aapt_binary.runfiles//private/var/tmp/_bazel_root/eeba38b9

[2015-12-11 12:12] lberki commented on #523
Okay, I sent out a change that I *think* fixes it. All you need to do is to replace

[code]

with

[code]

in `android_sdk_repository_template.txt`, but I'd like to figure out first why this is happening. aapt should never be in the target configuration...

[2015-12-11 12:22] CDLuminate commented on #670
I had my system upgraded, and then to my surprise the issue disappeared.
It is likely a bug of linux kernel 4.2.x, I guess.

It takes only a small part of memory to bootstrap. So this should be sort of downstream issue,
and there's nothing wrong with bazel.

Thanks.

[2015-12-11 14:08] damienmg commented on #699
On the roadmap but might take some time, see https://docs.google.com/document/d/1jKbNXOVp2T1zJD_iRnVr8k5D0xZKgO8blMVDlXOksJg/

[2015-12-11 14:11] damienmg commented on #668
ping?

[2015-12-11 14:11] damienmg commented on #596
Release is out :)

[2015-12-11 14:11] #596 closed

[2015-12-11 14:56] lberki commented on #554
Yep, https://github.com/bazelbuild/bazel/commit/6aff7f4f2bf0c6418fb88e967653f2feeb83819e should have solved this issue. There were a few other changes in the area recently (https://github.com/bazelbuild/bazel/commit/f9fdc8dfced8b2b14561720623126a91e04b22cb, https://github.com/bazelbuild/bazel/commit/cf87843c422e90930779f078ce6bb11217570190 and one that is currently under review by Kristina). At HE

[2015-12-11 14:57] #554 closed

[2015-12-11 16:07] hanwen opened #700 "labels are incorrectly resolved in external repositories"
note how the compilation below has github.com/hanwen/test2/pkg/ all over the place, while the external repository declares itself to be go_prefix("github.com/hanwen/bazel_gotest").

This means that //:go_prefix references in the external test/ repository resolve to the main repository, rather than the external one.

$ pwd
/home/hanwen/vc/test2

$ cat WORKSPACE
local_repository(
    name = "test",

[2015-12-11 16:11] lberki commented on #700
Ha-ha! Here is the problem:

https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/packages/AbstractAttributeMapper.java#L170

Apparently, we redirect labels within implicit and late-bound attributes to the main repository. This can be fixed now that we have the `@//a/b:c` label syntax that always points to the main repository. Let me jus take a look on Monday

[2015-12-11 16:24] lberki commented on #700
To quote our excellent manager, _I have a CL for that!_ It was actually just a small amount of work and there is even a chance that the tests pass :)

[2015-12-11 17:17] #650 closed

[2015-12-11 20:33] damienmg commented on #698
Try with `--genrule_strategy=standalone --spawn_strategy=standalone`

[2015-12-11 20:43] philbinj commented on #698
It works! So is this a bug with the sandboxing or with Tensorflow?

Thanks,
James

On Fri, Dec 11, 2015 at 12:33 PM, Damien Martin-Guillerez <
notifications@github.com> wrote:

--
James Philbin | Senior Director of Computer Vision I Zoox.com I +1 310 279
8029

[2015-12-11 20:47] damienmg commented on #698
Where is bash on your system?

I guess this is more on Bazel side.

[2015-12-11 20:50] philbinj commented on #698
$ which bash
/bin/bash

I suppose the question really is: how does cc_toolchain work, and how does it know to find files referenced in CROSSTOOL (this stuff is completely undocumented AFAICT).

[2015-12-11 20:52] damienmg commented on #698
`readlink $(which bash)`?

Also
`readlink $(env python2)`?

Because https://github.com/tensorflow/tensorflow/blob/master/third_party/gpus/crosstool/clang/bin/crosstool_wrapper_driver_is_not_gcc is looking for python2

[2015-12-11 20:53] damienmg commented on #698
and yeah sorry for the mess with crosstool, this is undocumented and highly versatile :(

[2015-12-11 20:55] philbinj commented on #698
All seems ok I think:
===
$ readlink -f $(which bash)
/bin/bash
$ readlink -f $(which python2)
/usr/bin/python2.7
===

[2015-12-11 21:06] damienmg commented on #698
yes both are mounted in the sandbox. I guess `env python2` returns you the correct thing too. It will take more time to investigate

I wonder if the crosstool script is correctly mounted. It doesn't seem like it from the log but I don't really know.

@lberki, @philwo or @ulfjack might have more ideas.

[2015-12-11 21:30] philbinj commented on #698
No need to apologize: actually i've found Bazel to be extremely well documented for the most part. Every big system has some dark corners... :)

[2015-12-11 21:32] philbinj commented on #698
Another datapoint: only `--spawn_strategy=standalone` is required for things to work.

[2015-12-11 22:07] vrv commented on #698
Just to give some further info: this was working fine at 0.1.1 but broke in 0.1.2.  --spawn_strategy=standalone is the only workaround for me too.

(After that, 0.1.2 is also causing undeclared inclusion errors, but that's a problem on our side that I'm fixing right now).

[2015-12-11 23:47] pgr0ss commented on #554
Thanks for fixing this! We haven't been tracking HEAD recently due to other issues (e.g. https://github.com/bazelbuild/bazel/issues/421), but I can try to give HEAD another shot.

[2015-12-12 01:49] FabHan commented on #276
+1

[2015-12-12 04:06] davidzchen commented on #670
Thanks for the update. That is good to hear. I'll go ahead and close this bug.

[2015-12-12 04:06] #670 closed

[2015-12-12 11:19] davidzchen opened #701 "Support Python/C++ interoperability (native Python modules)"
According to the [documentation for `py_library.deps`](http://bazel.io/docs/be/python.html#py_library.deps):

However, when I try to build a `py_library` target that depends on a `cc_library`, I get the following error:

[code]

According to [`BazelPyRuleClasses.java`](https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/bazel/rules/python/BazelPyRuleClasses.

[2015-12-12 11:33] davidzchen commented on #685
Are we considering supporting the `"foo %(var)s bar" % {"var": "hello"}` syntax as well or is `.format()` sufficient?

[2015-12-12 11:33] davidzchen commented on #695
Glad to hear! I'll go ahead and close this.

[2015-12-12 11:33] #695 closed

[2015-12-12 14:15] davidzchen opened #702 "Add includes/imports attribute to Python rules"
It would be great if the `py_*` rules had an `includes` or `imports` attribute, similar to the `includes` attribute for the `cc_*` rules, that would add the specified directory to `PYTHONPATH` for all targets that depend on the target.

For example, currently, the BUILD file for protobuf currently works around the lack of such an attribute by [having a custom genrule copy the sources](https://gith

[2015-12-12 18:25] TeBoring opened #703 "Access test data in py_test"
If I have a data field in py_test, how can I access data files from my python script?

[2015-12-12 20:20] bsilver8192 commented on #698
Looks to me like the problem is that `third_party/gpus/crosstool/clang/bin/crosstool_wrapper_driver_is_not_gcc` isn't included in the correct place(s) in [third_party/gpus/crosstool/BUILD](https://github.com/tensorflow/tensorflow/blob/master/third_party/gpus/crosstool/BUILD). It should definitely show up in the list of mounted files with `--sandbox_debug`.

I've found it necessary to add various f

[2015-12-12 20:37] bsilver8192 commented on #703
[Data dependencies](http://bazel.io/docs/build-ref.html#data) (ie things listed in the [data attribute](http://bazel.io/docs/be/common-definitions.html#common.data)) are accessible as `./path/from/workspace/root/file`.

[2015-12-14 02:01] endobson opened #704 "Documentation for fragments does not introduce them."
http://bazel.io/docs/skylark/rules.html#fragments

I'm reading through the documentation of skylark custom rules and the first mention of 'fragments' seems to assume that you already know what a fragment is. Also none of the documentation seems to describe what a fragment is other than 3 possible valid values `cpp`, `java`, and `jvm`.

[2015-12-14 02:13] endobson opened #705 "Documentation for ctx.file and ctx.files is bad."
The documentation for ctx.file and ctx.files seems to have an extra '.'/missing a word. Delving into the code it seems that `<ATTR>` is getting dropped from the documentation.

http://bazel.io/docs/skylark/lib/ctx.html#file
http://bazel.io/docs/skylark/lib/ctx.html#files

https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/rules/SkylarkRuleContext.java#L305

[2015-12-14 02:17] endobson opened #706 "Docs for ctx.action's execution_requirements parameters has visible markdown."
http://bazel.io/docs/skylark/lib/ctx.html#action

The documentation has `See [tags](/docs/be/common-definitions.html#common.tags) for useful keys.` when I would expect that to be a link itself and not raw markdown.

[2015-12-14 02:26] endobson opened #707 "Docs for common tags incorrectly limit 'manual' tag to tests."
http://bazel.io//docs/be/common-definitions.html#common.tags

But the manual keyword also applies to other rules such as genrules/binary targets when building.

[2015-12-14 02:30] endobson opened #708 "Docs for distribs common tag has dead link."
http://bazel.io//docs/be/common-definitions.html#common.tags

There is a link  `distribs()` which goes to `http://bazel.io//docs/be/functions.html#distribs` There is no function of that name on that page. A quick search (of the docs) only seems to show uses of the rule level tag and no top level function.

[2015-12-14 02:48] endobson opened #709 "Obsolete is referenced in deprecated and test_suite but undefined"
Referenced here:
http://bazel.io/docs/be/general.html#test_suite
http://bazel.io//docs/be/common-definitions.html#common.deprecation

But no documentation is available for this term.

[2015-12-14 06:34] davidzchen opened #710 "Provide an example for common features attribute"
The documentation for the `features` common attribute describe what the attribute does but doesn't really give any details about what _features_ are and how they are used:

It would be good to provide an example or two:

[2015-12-14 06:37] davidzchen opened #711 "Provide anchor links next to headings"
It would be useful to provide some anchor links next to headings that would link to that particular heading on the current page. For an example of this, hover over any of the headings in the [Bootstrap documentation](http://getbootstrap.com/getting-started/) and click on the link icon that appears.

This is especially useful for pages such as [Common Definitions](http://bazel.io/docs/be/common-def

[2015-12-14 06:44] davidzchen opened #712 "Documentation generation for Skylark rules and macros"
Currently, we generate the documentation for native rules from the inline documentation in Java code for the Build Encyclopedia but have no way to generate inline documentation for Skylark rules and macros.

This is a tracking bug for implementing documentation generation for Skylark rules. I have a design doc for this that has been in review internally. The gist of it is that documentation for Sk

[2015-12-14 06:53] davidzchen commented on #712
I have been working on a prototype for this. I moved the documentation for the [Rust rules](http://bazel.io/docs/be/rust.html) from the [README.md](https://github.com/bazelbuild/bazel/blob/master/tools/build_rules/rust/README.md) into [inline documentation in `rust.bzl`](https://github.com/davidzchen/bazel/blob/skylark-doc2/tools/build_rules/rust/rust.bzl), and the tool is already able to [extract

[2015-12-14 06:53] davidzchen commented on #712
Marking this as a P1 for me.

[2015-12-14 08:34] davidsantiago commented on #700
If you don't get your CL in for this today and it's not too much trouble, can you post the patch you had so far, so that I could use to start working on the rules for how this will work when the CL is complete? Thanks.

[2015-12-14 09:58] uriv commented on #623
I've added a small correction for the path to 'six' module in my comment https://github.com/bazelbuild/bazel/issues/623#issuecomment-158984782.

[2015-12-14 12:59] #700 closed

[2015-12-14 13:04] hanwen commented on #700
fwiw, the go_rules should be changed to not use //external:go_prefix, but
just //:go_prefix

On Mon, Dec 14, 2015 at 9:35 AM, David Santiago <notifications@github.com>
wrote:

--
Han-Wen Nienhuys
Google Munich
hanwen@google.com

[2015-12-14 19:04] pedrokiefer commented on #481
Running with gdb:
[code]

I get the following backtrace:
[code]

So, geteuid() is returning __65534__, but centos uses uid 99 as nobody and 65534 is undefined, so getpwuid returns `NULL` and we have a segfault. I've changed the uid for nobody just for testing, and I get pass this issue. Now it fails trying to create `/` directory, which makes perfect sense, as nobody has `/` as its home directory.

[2015-12-14 19:21] philwo commented on #481
Thanks for investigating, @pedrokiefer! I completely agree with you, your proposed changes should be made. I can have a look tomorrow, but would also gladly review & merge a PR.

[2015-12-14 20:13] jendap opened #714 "Bazel 0.1.2 does not build tensorflow"
bazel 0.1.2 deb package fails to build tensorflow

See commit https://github.com/jendap/tensorflow/commit/28996fa9f11dfce41a796d8055269f972e13acca

It gives errors like [this](http://ci.tensorflow.org/job/experimental-jendap-tensorflow/5/console)...
ERROR: /root/.cache/bazel/_bazel_root/68a62076e91007a7908bc42a32e4cff9/external/re2/BUILD:9:1: undeclared inclusion(s) in rule '@re2//:re2':
this rule

[2015-12-14 20:22] jendap commented on #714
Note: this is different than those bugs about crosstool_wrapper_driver_is_not_gcc.

This build already runs with `--spawn_strategy=standalone`. So I guess it is different issue.

[2015-12-14 20:26] damienmg commented on #714
It should be fixed in latest tensorflow repo, do you have a full output?

[2015-12-14 20:33] kramasamy opened #715 "Missing dependency declarations error for system include files"
I am compiling my project using bazel 0.1.2. For compiling a C++ files, it complains about dependency declarations on system include files. How to solve this?

[code]

[2015-12-14 20:35] kramasamy commented on #694
We moved everything to deps and it worked.

[2015-12-14 20:36] jendap commented on #714
yes, it is on top of current master https://github.com/tensorflow/tensorflow/commit/6936918ad8abd7ade445674d7c912e69157a1017
https://github.com/jendap/tensorflow/commits/ci_build-bazel_upgrade
https://github.com/tensorflow/tensorflow/commits/master

Full output is http://ci.tensorflow.org/job/experimental-jendap-tensorflow/5/console

[2015-12-14 21:00] damienmg commented on #714
Gosh. This is embarrassing: Can you try wiping Bazel's cache? There was a bug in Bazel that do not correctly invalidate the WORKSPACE file (I think it got fixed for all repository with https://github.com/bazelbuild/bazel/commit/f1ffe3621002231fe4828fe4ecfd5f64df9d2052).

I am still building the docker image to confirm.

Note that 0.1.3rc1 includes that fix, maybe you want to give it a try? :) What

[2015-12-14 21:34] damienmg commented on #714
Arf I am on my mac with boot2docker and of course it cannot mount the volume. I will retry tomorrow if clearing the cache did not solved the issue

[2015-12-15 02:29] jendap commented on #714
Good point, I should write a few lines to the readme how to run it with boot2docker. Later.

I'm going to rerun it with cache and with cleared cache...

I can create validation job for all the important tensorflow targets with a given bazel repo commit sha (or brach, tag) on linux easily. Other platform may be a bit trickier.

[2015-12-15 02:59] jendap commented on #714
Clearing the cache did not helped 0.1.2, see...

It run on https://github.com/jendap/tensorflow/commits/ci_build-bazel_upgrade (latest master from official repo + the one small commit changing bazel)

First build (cache about 1.5GB from previous builds) http://ci.tensorflow.org/job/experimental-jendap-tensorflow/8/console

Second build (after `rm -rf ~/.cache/bazel`) http://ci.tensorflow.org/job/e

[2015-12-15 04:26] chin33z opened #716 "*.ldscript file will not propagate to the final step when linking"
[code]

Assume all files were placed & edited properly.

This will be fine :
`$> bazel build //:lib`

This will cause gcc error (lib.ldscript: No such file or directory) :
`$> bazel build //:hello`

However, if I add **":lib.ldscript"** to the deps of "hello". I will not get the error.
But from  encapsulated perspective, "hello" should not take care of this information.(The linker script is for "l

[2015-12-15 08:54] ulfjack commented on #716
It would help if you could show the libldscript rule. I think the most
likely reason is a file extension mismatch - we require linker scripts to
end with ".ld", ".lds", or ".ldscript".

On Tue, Dec 15, 2015 at 5:26 AM, David Hu <notifications@github.com> wrote:

[2015-12-15 08:57] damienmg commented on #714
Oh having more slept helped more

@lberki this is related to the C++ Android Crosstool. It seems like the includes are caught by the strict header deps checker

[2015-12-15 09:23] chin33z commented on #716
lib.ldscript content:
[code]

I know the file extension requirement in deps (*.ld, *lds, *.ldscript).
And I think the problem is not the content of the linker script.

[2015-12-15 09:59] ulfjack commented on #716
In the email I got, it said ":libldscript" not ":lib.ldscript". Well, it does sound like a bug.

[2015-12-15 10:28] chin33z commented on #716
sorry, what are you referring to?
do I misspelling something? I think I always type ":lib.ldscript".
Thanks.

[2015-12-15 10:38] chin33z commented on #716
It does behave weird for me. I think the "-Wl,--version-script" argument should only present when linking the "lib". However, it shown up when "hello" is linked. Thus, the lib.ldscript is not in the sandbox at the moment.(I guess)

[2015-12-15 11:31] davidzchen commented on #715
@kramasamy Can you try updating your `CROSSTOOL` file and add a `cxx_builtin_include_path` for `/opt/rh/devtoolset-2/root/usr/lib/gcc/x86_64-redhat-linux/4.8.1`?

[2015-12-15 12:08] #523 closed

[2015-12-15 12:34] lberki commented on #698
My guess is that either env of python2 links to a library that's not present in the sandbox. Can you try this?

[code]

Each of these Bazel command should fail with "not all outputs were created", but output something interesting.

[2015-12-15 15:37] #703 closed

[2015-12-15 15:43] #694 closed

[2015-12-15 15:44] #690 closed

[2015-12-15 15:45] #686 closed

[2015-12-15 16:17] jendap commented on #714
The release-0.1.3 branch fails the same way. http://ci.tensorflow.org/job/experimental-jendap-tensorflow/45/console

[2015-12-15 18:55] philbinj commented on #698
OK, I tried lberki's suggestion above. For `gen_ldd`:
[code]

For `gen_envpy`:
[code]

Is this helpful?

[2015-12-15 19:27] damienmg commented on #612
This bug was fixed by b84f540eff8b45acaae15c0cd11d0342b32917c4

I have messed up with the bug number, sorry for that.

[2015-12-15 19:27] #612 closed

[2015-12-15 19:29] damienmg commented on #645
Wouldn't have a skylark macro with your list of maven_jar in it in your third_party repository do the trick?
Just like we do for third party dependency of skylark rules?

[2015-12-15 20:05] johnynek commented on #645
@damienmg I think this would work, if you could load a skylark macro from a remote dependency. Can you do that now? Last I checked, load took a path, and not a label.

[2015-12-15 20:19] damienmg commented on #645
We cannot do it yet. but @jhfield is working on it and said it should be shiped this week and we identified a problem for the load in the workspace file internally and I was planning to work on the fix starting tomorrow. So it should happens by the end of the week at HEAD hopefully (problem is we have holidays after that so if we miss it it won't happens before ~Jan 10)

[2015-12-15 20:23] johnynek commented on #645
Thanks. I'm really looking forward to this since distributing skylark plugins as a remote git repos seems like a nice way to go.

[2015-12-15 20:46] lberki commented on #698
This was done *without* `--*_strategy=standalone`, right? This indicates that contrary to my expectations, the problem is not with not finding `env` or some weird dynamic linking issue with `python2`. I'll sleep over this, because ATM I have no idea.

[2015-12-15 21:01] philbinj commented on #698
Yes, without --strategy=standalone.

Isn't bsilver's point correct? crosstool_wrapper_driver_is_not_gcc is
simply not being mounted in the sandbox, so bazel can't run it? The
question is where to include that file in cc_crosstool?

James

On Tue, Dec 15, 2015 at 12:47 PM, lberki <notifications@github.com> wrote:

--
James Philbin | Senior Director of Computer Vision I Zoox.com I +1 310 279
8029

[2015-12-15 21:06] bsilver8192 commented on #698
I would start with adding it to the srcs of //third_party/gpus/crosstool:crosstool and a newly created `filegroup` in //third_party/gpus/crosstool that you set `all_files` and `compiler_files` of `:cc-compiler-local` to.

[2015-12-15 21:08] philwo commented on #698
Yes, @bsilver8192 is correct - crosstool_wrapper_driver_is_not_gcc is simply missing from the mounts. If it's needed during compilation, it should go into the "compiler_files" filegroup (which should be part of the "all_files" filegroup) of the cc_toolchain. (AFAIU - but I'm not very experienced with our cc_toolchain rule.)

[2015-12-15 21:59] philbinj commented on #698
Yup, this seems to work, I changed `all_files`, `compiler_files` and `linker_files` to point to a filegroup target that contains both the script and nvcc. Here's a patch for tensorflow:
[code]

Compiling still fails, but I think it is unrelated to this issue (to do with missing includes).

[2015-12-15 23:07] rjaquino opened #717 "pkg_tar results in an import error"
I tried to use a pkg_tar rule, and it seems like the py_binary generated is setting PYTHON_PATH to the wrong location. We see the following error:
[code]

When we modify build_tar.py to print out the PYTHON_PATH it is trying to use, we get `/private/var/tmp/_bazel_asana/6ad5fad239bea6b8300de3d21f3646d8/asana2/bazel-out/host/bin/tools/build_defs/pkg/build_tar.runfiles/`, which is missing the traili

[2015-12-16 11:51] mikecroucher commented on #50
As seen in the link above, we have a very similar problem with the HPC system at University of Sheffield.

[2015-12-16 14:39] spinus commented on #666
Cannot reproduce as 0.1.1 binary is not there anymore (in github releases).
I could reproduce it with 0.1.2.

@kchodorow
[code]
@damienmg
[code]

(yes, I have /bin/bash)

[2015-12-16 15:22] kchodorow opened #718 "Upgrade jarjar"
See https://groups.google.com/d/msgid/bazel-discuss/74e9018f-6bb6-4b39-b4a6-3c855cc6ec19%40googlegroups.com.

[2015-12-16 16:45] damienmg commented on #714
Ok reproduced inside the docker container but cannot reproduce it outside. We will spend some more time tomorrow with Lukacs to find out what exactly is going on.

[2015-12-16 21:33] illicitonion opened #719 "Docs don't describe what rule types are allowed in attributes"
e.g. working out where frameworks should go in ios_\* and objc_\* rules; from the source (https://github.com/bazelbuild/bazel/blob/e6180d3/src/main/java/com/google/devtools/build/lib/rules/objc/ObjcRuleClasses.java#L689) there is a finite set of rule classes which are allowed, but these aren't resolved by the doctool, so the documentation just lists that they can be labels.

[2015-12-17 02:08] davidzchen commented on #719
This will definitely be useful. I'll also make a note to display this information for the Skylark docgen (#712) as well.

[2015-12-17 02:11] davidzchen commented on #712
It would be ideal for the generated docs to also display which rule types are allowed in attributes that take `Label` or list of `Label`s. One way to do this would be to match the providers with the rule types that provide them, but this may be a bit trickier for Skylark rules that can depend on native rules (for example [`rust_library`](http://bazel.io/docs/be/rust.html#rust_library) can depend o

[2015-12-17 03:22] bsilver8192 opened #720 "tags for --run_under binary are ignored when running tests"
When using a label for --run_under with `bazel test`, things like 'requires-network' in the tags attribute of the rule are ignored. This would be useful to allow a wrapper script which copies the tests over the network to another machine to still have sandboxing enabled instead of having to completely disable sandboxing with `--strategy=TestRunner=local`.

[2015-12-17 03:31] chin33z opened #721 "load() in *.bzl failed with new_local_repository() packages"
I update to the latest HEAD of Bazel.
The load() in *.bzl works when the package dir is under %workspace%.
But it fails when the package is imported from new_local_repository().
A simple example could show the problem.

[code]

[code]

[code]

[code]

`$> bazel build //:hdrs`   will success
`$> bazel build @src//:hdrs`    will fail

Here is the error message:
**ERROR:** /root/.cache/bazel/_bazel_r

[2015-12-17 06:00] cbrauchli commented on #560
This happens to me whenever I add a `.bazelrc` file to my project. The contents do not matter; it can even be empty. The presence of a `.bazelrc` makes this error message pop up.

[2015-12-17 08:34] jendap commented on #714
Interesting! The environment inside docker should be even better defined. The biggest difference may be the [.bazelrc](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/ci_build/install/.bazelrc).

I can try it tomorrow myself.

[2015-12-17 08:36] damienmg commented on #714
The .bazelrc shouldn't be a problem. I am guessing that it triggers some
bug related to the path of the workspace or the fact that bazel runs as
root. I will do some more test when I arrive at work.

On Thu, Dec 17, 2015 at 9:34 AM Jan Prach <notifications@github.com> wrote:

[2015-12-17 08:48] jendap commented on #714
Master no longer runs as root inside the docker due to https://github.com/tensorflow/tensorflow/commit/def98063aa75e76f042558d0dbc65e6236d97ad7. It now pick user group and home directory from user calling ci_build.sh (jenkins on ci.tensorflow.org). I have to yet test it with upgraded bazel.

[2015-12-17 09:45] damienmg commented on #714
Ok I have tried many different things and cannot reproduce that outside of docker. I am leaning toward the version of the android sdk now.

[2015-12-17 12:01] damienmg commented on #714
We did some debugging with @lberki  and the issues seems that Bazel writes wrong CROSSTOOL protos for the Android NDK. I particular, it says at line ~1086 in `external/androidndk/BUILD`:

[code]

Which means that a few directories in `-isystem` are not ignored for header dependency checks, including the ones Bazel complains about:

[code]

There is also the issue that gcc might do an extra level o

[2015-12-17 13:09] lberki commented on #714
Assigning this to Alex temporarily since I'm not sure how much network access I'll get tomorrow given that the office will be closed. If the move in NYC goes more smoothly, could you take a look?

[2015-12-17 19:07] kchodorow commented on #721
You didn't miss anything, although this behavior is "working as intended" for some value of intended.  `//<some target>` is resolved local to the repository, so when pkg.bzl refers to //tools/build_defs/pkg:build_tar and you're loading pkg.bzl from a target in @src, it assumes that you want the //tools/build_defs/pkg:build_tar from under @src.

To some extent this will be taken care of by @jhfield

[2015-12-17 21:26] kchodorow commented on #717
I'd guess that py_binary isn't setting up its runfiles in the right directory.  To work around it for now, can you use the default workspace name ("")?

[2015-12-17 22:09] mennahmostafa opened #723 "Swift with mixed objective-c mode"
Hi,

I have a swift project with mixed objective-c files, I added the objective c -> swift bridging header to the bazel target, but the header file <product-name>-Swift.h which is usually generated by Xcode to allow Objective-c to reference swift is not generated and bazel fails to build the target with this error: fatal error: '<product-name>-Swift.h file not found.
I have tried couple of compile

[2015-12-18 03:04] chin33z commented on #721
Thanks for the explanation.

So, I cannot use the pkg_tar() via Skylark module (*.bzl) with new_local_repository() so far?

[2015-12-18 09:03] #665 closed

[2015-12-18 09:04] damienmg commented on #666
Can you try with `-s --sandbox_debug`?

[2015-12-18 09:06] damienmg commented on #668
@dmaclach can you complete the bug to know which bazel version had that issue?

[2015-12-18 09:13] damienmg commented on #723
@c-parsons can you take a look at this?

[2015-12-18 09:18] damienmg commented on #649
@casiciaco did @sethbruder answer helped? Do you still need help?

[2015-12-18 09:35] damienmg opened #724 "NullPointerException in WorkspaceFactory"
With bazel HEAD (99a89acf4c7608eb56d77cb746db32842833c6c1):

[code]

With lberki@ repro case:
[code]

[2015-12-18 09:40] damienmg commented on #724
Simpler repro: put any error in the WORKSPACE file.

[2015-12-18 09:45] spinus commented on #666
[code]

Interesting thing, if I run stuff with --genrule_strategy flag, result is kind of cached and then regular build and sandbox don't return errors. It looks like this config options are not considered as "configuration" of build but they change behaviour anyway
[code]

[2015-12-18 09:51] damienmg commented on #666
Yes the strategy doesn't influence caching.

`which bash`?

[2015-12-18 09:56] spinus commented on #666
[code]

[2015-12-18 10:05] damienmg commented on #724
Humm cannot reproduce inside a test case, weird

Minimal repro outside:
[code]

[2015-12-18 10:12] damienmg commented on #666
Arf there you go, bash is not mounted into the sandbox...

@philwo : Any workaround for that?

[2015-12-18 10:14] spinus commented on #666
So bash binary is required to be in /bin/bash, is that correct? Probably I could do hardlink instead of symlink.

But if I could run it without /bin/bash being required I could make a package for bazel for nix :-)

[2015-12-18 10:14] damienmg commented on #590
Sorry this has fell off my radar, did you found a solution?

[2015-12-18 10:16] damienmg commented on #666
:) We shouldn't require bash to be in /bin.

On Fri, Dec 18, 2015 at 11:15 AM Tomasz Czyż <notifications@github.com>
wrote:

[2015-12-18 10:23] philwo commented on #666
I'm not sure if Bazel requires bash to be in /bin. The sandbox itself doesn't care, as long as it is in /bin, /sbin, /usr/bin or /usr/sbin. We should probably mount everything on the PATH into the sandbox instead of relying on this hard coded list of paths :)

[2015-12-18 10:25] philwo commented on #666
Ahh.. it looks like we're currently not resolving symlinks in standard UNIX paths (/bin ...) but only for explicit input files. I'll have a look at this on Monday.

[2015-12-18 10:26] spinus commented on #666
@damienmg @philwo thank you for helping with this.

[2015-12-18 10:46] lberki commented on #714
Hm, this is strange. I managed to reproduce this on my home laptop within the Docker container, then copied both the Bazel workspace and SDK and downloaded the same NDK out of the container so that I may debug it easier, and then it suddenly started working. The same NDK/SDK and the same workspace. This will require some more investigation.

My guess is that gcc sometimes decides to resolve symlin

[2015-12-18 13:13] trungnt13 commented on #590
I tried to install newest bazel 0.1.2 but it is hopeless also.
It always search for default libstdc++ in /usr/lib64, even how many paths I add to the build process.

[2015-12-18 14:16] lberki commented on #714
Oh, I see. The sandbox is not active in Docker and it does fail without a container when using `--spawn_strategy=standalone`.

[2015-12-18 14:48] kchodorow commented on #721
You can... if the new_local_repository contains its own tools/build_defs/pkg directory :-/

[2015-12-18 15:45] damienmg commented on #590
The responsible code for building that binary is at https://github.com/bazelbuild/bazel/blob/master/scripts/bootstrap/compile.sh#L270 and at https://github.com/bazelbuild/bazel/blob/master/scripts/bootstrap/compile.sh#L281

So settings CXX and LDFLAGS + LD_LIBRARY_PATH should be enough. Am at lost to what more to do. bringing in @ulfjack that should have better ideas.

How would you compile a simp

[2015-12-18 15:54] lberki commented on #714
I have a patch! It probably breaks all the tests because my work environment today is quite hostile, but it does work:

https://gist.github.com/lberki/d49d42f7abe9369ef305

[2015-12-18 19:12] schroederc opened #726 "NullPointerException from `analyze-profile --vfs_stats`"
[code]

[code]

[2015-12-19 07:18] jendap commented on #714
I'm not sure what was your base commit. I can't apply it cleanly to test it. It's better share a branch even in your personal repo than patch in gist ;-)

[2015-12-19 14:10] ulfjack commented on #347
I just ran into this when trying to port an existing project to bazel, which contains a shell script in the root package that I want to run.

[2015-12-19 14:48] ulfjack opened #727 "java_binary generated script sets -Djava.library.path"
I was somewhat surprised to find that the java.library.path was set automatically, after I added a .so to a data attribute. That's cool, but I found three small issues:

a) it's undocumented
b) it doesn't work for .jnilib (which is used on the Mac)
c) it sets it to "-Djava.library.path=${JAVA_RUNFILES}//Libraries" <--- two slashes

[2015-12-19 14:50] ulfjack opened #728 "java_binary puts the JDK into runfiles"
It makes sense to put the JDK into the runfiles if the JDK is actually checked in. If it comes from an absolute path, there's really no point in doing that. We hook up the JDK through a remote repository, so it always looks as if it was checked in.

Maybe we shouldn't do that?

[2015-12-19 18:33] ulfjack opened #729 "android_binary build gives deprecation warning"
This is the output from building a simple android_binary rule:

INFO: From Generating unsigned apk:

THIS TOOL IS DEPRECATED. See --help for more information.

INFO: From Generating signed apk:

THIS TOOL IS DEPRECATED. See --help for more information.

Useless and also annoying. Furthermore, we should make sure that we use supported APIs for building.

[2015-12-19 21:46] ffmpbgrnn commented on #591
Hi, @weijianwen , @damienmg is the problem resolved? I met the same problem and I could build tensorflow with output/bazel?

[2015-12-20 03:18] ffmpbgrnn commented on #649
Hi @damienmg , I also struggling to compile TF on Centos 6.6. I managed to build bazel, but when use bazel to build TF, I got the following error:
[code]
I met the similar problem when compiling bazel, the way is to pass `-Wl,-rpath,/home/local/lib64` when compile `build-runfiles`. What should I do when build TF? Thanks.

[2015-12-20 04:57] ffmpbgrnn commented on #649
btw, I'm with bazel 0.1.1

[2015-12-20 07:12] weijianwen commented on #591
@ffmpbgrnn I just cloned the latest bazel code and found my issue can be reproduced on it, which simply means the "CC path issue" is not solved yet. My workaround is to replace the path manually.

[2015-12-20 07:29] ffmpbgrnn commented on #591
@weijianwen , i tried to solve by adding to `Wl,-rpath,$HOME/local/lib64` to `LDFLAGS`, which will make [build-runfiles](https://github.com/bazelbuild/bazel/blob/master/scripts/bootstrap/compile.sh#L328) build successfully. However, I failed to build Tensorflow with the compiled bazel binary and met [this](https://github.com/bazelbuild/bazel/issues/649#issuecomment-166059533) problem.

Can you bui

[2015-12-20 07:33] weijianwen commented on #649
@ffmpbgrnn I'll try and let you know. Perhaps it will take me 2~3 workdays due to too many chores at the end of the year.

Regarding tensorflow build issue, better we start a new issue thread there. This issue is for bazel I think.

[2015-12-20 12:58] ulfjack opened #730 "broken help text for --script_path"
If set, write a shell script to the given file which invokes the target. If
    this option is set, the target is not run from %{product}. Use '%{product}
    run --script_path=foo //foo && foo' to invoke target '//foo' This differs
    from '%{product} run //foo' in that the %{product} lock is released and the
    executable is connected to the terminal's stdin.

Instead of %{product}, it should

[2015-12-20 21:37] killerfoxi opened #731 "docker_build example does not work due to implicit dependency on '/tools/build _defs/pkg:build_tar'"
Currently trying to package an external docker repo similar to the example provided in the docs. It always fails with

[code]

It can be reproduced with the example given on the docs. So I doubt it's a problem with my build rules.
I refer to this example: "Pulling images and deb files from the internet" on http://bazel.io/docs/be/docker.html the "docker-debian" example.

I have worked around the i

[2015-12-21 07:54] ffmpbgrnn commented on #649
Hi @damienmg , when bazel build tensorflow, which line generates `build-runfiles`?

[2015-12-21 12:01] lberki commented on #714
HEAD on Bazel master. I admit to being somewhat sloppy here. In my defense, I was quite happy that I could even get that far. Let's see if I can finish this up today.

[2015-12-21 12:51] casiciaco commented on #649
Hi,
I still have the same problem, so no success.

[2015-12-21 12:56] lberki commented on #714
I made a bit more thorough investigation of the behavior of gcc and it's odd (to say the least). Having the Android NDK in these directories does not work:

[code]

However, having it in these directories *does* work:

[code]

So I conclude that the gcc in the NDK behaves differently if the directory where the NDK is put has 5 characters or less (including the beginning slash). I'll send out a cha

[2015-12-21 13:14] uriv commented on #623
Added another correction for eigen_archive (tensorflow commit a108da2)

[2015-12-21 15:04] kchodorow commented on #430
This was fixed at some point, probably by the artifact work @philwo did.  Added a test so it doesn't regress.

[2015-12-21 15:04] #430 closed

[2015-12-21 17:03] dslomov commented on #728
Also a potential issue with Windows

[2015-12-21 21:41] lberki commented on #729
Assigning to Alex since he is already signed up for replacing ApkBuilder, which emits this message.

[2015-12-22 06:28] endobson opened #732 "Error messages when downloading remote repositories are non existent"
I got the following error:
[code]

I have no idea from this message what is wrong. I know externally that it is a bad url and likely 404ing, but that should be in the error message.

[code]

[2015-12-22 15:07] kchodorow opened #733 "Allow relative paths for local_repositorys"
Right now, the path="..." attribute checks that the path was absolute.

[2015-12-22 15:17] kchodorow commented on #732
We're printing the message we get from the exception (https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/bazel/repository/HttpDownloader.java#L119), maybe there's a way of getting more details from the input stream.  We can look into it.

[2015-12-22 18:00] mikedanese opened #734 "gtest cpp example not"
I'm working through the example of including an external dependecny here http://bazel.io/docs/cpp.html. I've followed the directions and the repo I'm working from is here https://github.com/mikedanese/bazel-gtest (it's exactly what the doc had me do).

When I run :
[code]
But the file exists:
[code]
And when I run the failed command that failed directly:
[code]
It succeeds. Furthermore, when I run

[2015-12-22 18:09] jendap commented on #714
Number of characters in path makes a difference? That is weird!

Is tensorflow doing something wrong in BUILD files? If it has to be a hack in one or another project I would suggest to put it in bazel as other projects may run into the same issue.

@lberki please let us know how to fix it if you think it is tensorflow only issue. @vrv has also asked for a fix.

[2015-12-22 19:23] kchodorow commented on #734
I'm working on updating the documentation, but you basically need to add a line to the cc_library:

[code]

The rule is missing the src/ directory for headers, so gtest-internal-inl.h wasn't being included by the sandbox (this documentation was originally written before sandboxing was enabled).

[2015-12-22 19:32] ffmpbgrnn commented on #649
Hi, I solved the runtime linking problem by simply adding
[code]
to `third_party/gpus/crosstool/CROSSTOOL`, hope it helps.

[2015-12-22 20:15] paladine opened #735 "Cannot compile bazel from source"
After a git pull, building will not work.

src/main/java/com/google/devtools/build/lib/server/signal/InterruptSignalHandler.java:19: warning: Signal is internal proprietary API and may be removed in a future release
import sun.misc.Signal;
               ^
src/main/java/com/google/devtools/build/lib/server/signal/InterruptSignalHandler.java:20: warning: SignalHandler is internal proprietary API an

[2015-12-22 20:32] dslomov commented on #735
This looks like the offending commit: https://github.com/bazelbuild/bazel/commit/d46f474733b048d9ef10dd13ec639b4521693d0a

[2015-12-22 21:22] menny opened #736 "Android: Build fails with local support libraries"
Rather than using the built-in support libraries Bazel has (for example `@androidsdk//:appcompat_v4`) we're bringing in all the support libraries either from a hosted Artifactory server (an onsite Maven Central) or from the file-system. This ensures that we know which version of support libraries we are using, and it also fills in the missing "Design" library.

I noticed that although I depend on

[2015-12-22 21:22] menny commented on #736
@cgrushko

[2015-12-22 21:23] menny commented on #736
I have a newsgroup discussion here: https://groups.google.com/forum/#!topic/bazel-discuss/a0gMSAFi-LI

[2015-12-22 21:37] lberki commented on #714
@jendap : it should be enough to put the Android NDK in your docker container under a longer path name than `/opt/android-ndk-r10e`. E.g. `/opt/dependencies/android-ndk-r10e` would work well (as far as I can tell. It's weird.). I'd give it a stab, except that the Munich office was moving, it's Christmas holiday and I don't know much about the setup of your Docker container.

[2015-12-22 21:46] #734 closed

[2015-12-23 00:11] zombiezen commented on #733
This may be a dupe of #269. I'm excited if this will be supported.

[2015-12-23 07:09] saileshmittal commented on #733
This change worked for me.
https://bazel-review.googlesource.com/#/c/2601/

Are there tests or examples that I can update?

[2015-12-23 07:23] AustinSchuh commented on #721
Fingers crossed that it doesn't get reverted, but 1ea7fc370f0605be2185868f9371f6e04c26a502 just landed in the repo, so it looks like label based loads are supported.

[2015-12-23 16:22] #735 closed

[2015-12-23 19:20] saileshmittal commented on #269
@kchodorow This change might be relevant to this issue.
https://bazel-review.googlesource.com/#/c/2601/

[2015-12-24 01:24] ahirreddy opened #738 "DNS Resolution broken in sandboxes with `requires-network`"
I am currently trying to download some javascript dependencies with a sandboxed gen-rule. I added the `requires-network` tag, but it appears that DNS resolution is broken. I confirmed that I could reach the localhost and that I could reach external hosts if I used the IP, but any attempts using host names fails.

This is reproducible with the following rule
[code]

The first 2 curl commands succee

[2015-12-25 15:54] nodakai commented on #69
Git HEAD doesn't suffer from the dangling "src.zip" symlink although it is still created.  This issue can probably be closed now.

[2015-12-26 01:15] scytulip opened #739 "Permission denied when installed to /usr/local with local .bazelrc"
Install Bazel by using

[code]

After the installation, if I tried running
$bazel
I'll get an error message

[code]

My solution:

[code]

[2015-12-26 08:08] spierce7 opened #740 "Specify j2objc location?"
Is there any way to specify the j2objc location? [The documentation](http://bazel.io/docs/be/objective-c.html#j2objc_library) doesn't really say anything. One thing about reproducing builds that would be nice is if the exact j2objc version could be ensured. An easy way to do that would be to check j2objc into version control, and then tell the j2objc rule where it should be looking for j2objc. May

[2015-12-27 01:20] f1yinthesky opened #741 "bazel 0.1.2 version update"
I have download the 0.1.2 sh script and ran the scrip with sudo. But when I type bazel version, it is still 0.1.1, I have restarted the machine but didn't fixed it. Could someone give a clue here?

[2015-12-27 16:58] pmbethe09 opened #742 "NullPointer in MessageDigest.java"
Just updated to HEAD (been 5+ weeks).

I ran 'git bisect' and determined that this was broken by:
https://github.com/bazelbuild/bazel/commit/6aff7f4f2bf0c6418fb88e967653f2feeb83819e

Is there some forced migration of WORKSPACE syntax?
This is a java repo with things like:

maven_jar(
    name = "guava-repo",
    artifact_id = "guava",
    group_id = "com.google.guava",
    sha1 = "cce0823396aa6937

[2015-12-27 17:11] pmbethe09 commented on #742
To clarify, I have not been able yet to create a bare-bones repro example.  But I see the identical issue on multiple java projects.

[2015-12-27 17:15] pmbethe09 commented on #742
... and apparently the issue is non-backwards compatibility.
I just needed to run:
bazel clean --expunge

[2015-12-27 22:29] spierce7 commented on #255
Is there any workaround for this? I'm seeing it on the ios tutorial project:
[code]

[2015-12-27 22:51] carstn opened #743 "Website rss feed is malformed."
The bazel.io blog feed is malformed: http://bazel.io/blog/feed.xml

I think the issue is that the `<description>` element of each `<item>` must contain entity-encoded HTML. Currently, the content of each item's `<description>` element is decoded HTML.

For example,
[code]
should be
[code]
To fix it, the page generator could just put plain text in the RSS feed items' descriptions. Refer to [the RSS

[2015-12-27 23:41] carstn commented on #743
I think you can just edit the gh-pages [blog/feed.xml](https://github.com/bazelbuild/bazel/blob/gh-pages/blog/feed.xml) file:
`<description>{{ post.content | xml_escape }}</description>`

[2015-12-27 23:51] pmbethe09 commented on #742
So, after an expunge, I can build/test fine.
But... if I change my workspace - in my case changing an out of date junit 4.4 to the latest 4.12 resulted in the same issue, requiring another expunge and build.

[2015-12-28 01:16] spierce7 opened #744 "Tutorial Build Fails in Xcode"
I'm following the instructions in [the iOS build tutorial](http://bazel.io/docs/tutorial/ios-app.html). I've cloned the final tutorial from the github repo. I'm getting the following error while trying build from xcode. It looks like several files aren't being generated.

[code]

Not sure where to go from here. Any help / direction would be great.

[2015-12-28 02:33] mikedanese commented on #734
Awesome! Thanks!

[2015-12-28 14:42] kchodorow commented on #739
Do you know what the permissions on ~/.cache/bazel/... were before you ran chown?

[2015-12-28 14:48] kchodorow commented on #740
It looks like j2objc is specified here: https://github.com/bazelbuild/bazel/blob/1a90e50a90055fa75ab6ab2c41fd344934be5a96/src/main/java/com/google/devtools/build/lib/bazel/rules/objc/j2objc.WORKSPACE.  You could override that in your own WORKSPACE file with the identical rule:

[code]

Which should guarantee that's the version used for anyone you checks out your repo (instead of it being dependent

[2015-12-28 15:26] kchodorow commented on #742
I think there was code that could return null for the byte array that someone actually fixed last week.  Either it hasn't been pushed yet or I'm remembering incorrectly.

[2015-12-28 16:18] scytulip commented on #739
It belongs to root:root.

BTW, I installed using "$sudo ./bazel-0.1.2-installer-linux-x86_64.sh --bazelrc=$HOME/.bazelrc" because it copied file to /usr/local.......

So, it might be better to initialize the cache when first run bazel but not during the installation.

[2015-12-28 17:58] spierce7 commented on #740
Awesome! I didn't realize it was downloading and installing it locally.

[2015-12-28 17:58] #740 closed

[2015-12-28 18:19] pmbethe09 commented on #742
Current head of d46f474733b048d9ef10dd13ec639b4521693d0a
from Tue Dec 22 21:01:47 2015 +0000
does not appear to have that fix.

On Mon, Dec 28, 2015 at 10:27 AM, Kristina <notifications@github.com> wrote:

[2015-12-28 18:25] c-parsons commented on #744
Can you elaborate on your steps to reproduce this? For instance, I've:
1. Installed a fresh bazel from the repo at head.
2. Freshly cloned the tutorial repository
3. "bazel build ios-app"
4. Open the generated xcodeproj using xcode 7.1
5. Rebuilt in xcode

I haven't run into any problems. The ios-app-MergedInfo.plist is present and available.

However, re-building in xcode on top of bazel is still

[2015-12-28 18:40] kchodorow commented on #742
Yeah, we haven't pushed in several days (and I cannot at the moment).

[2015-12-28 18:46] kchodorow commented on #739
Thanks!  We should either build in another directory or use `$SUDO_USER` to get the underlying user.

[2015-12-28 18:46] spierce7 commented on #744
Nice avatar.

I'm using x-code 7.2. Could that be a problem? I was also using the command `bazel build //ios-app:ios-app`.

I'd try it again, but I'm running into a different issue now. After I installed the 8.4 simulator, and the bazel build was completing, but then I was forced to do a hard-restart of the computer and now it won't build. I get the following error:

[code]

But I clearly have the

[2015-12-28 19:11] glinscott opened #745 "Bazel gives a cryptic error message if there's a directory named external/"
Repro:

[code]

BUILD

[code]

main.cc

[code]

[code]

[2015-12-28 19:14] kchodorow commented on #745
We should give a better error message, but you can't have a directory named external/.  It's reserved for use by bazel.

[2015-12-28 19:22] kchodorow commented on #741
Could you paste the installer command you ran and the output it gave, plus what `which bazel` returns?

[2015-12-28 19:23] glinscott commented on #745
Ah, okay, thanks!  This is definitely something bazel should check for on startup if it's not allowed.  We were converting an existing project which had a lot of projects under the "external" directory, and things mostly worked for python packages.  We had trouble with things like "bazel build ..." at the root though, hitting things like: https://github.com/bazelbuild/bazel/issues/696.

After remo

[2015-12-28 19:25] kchodorow commented on #745
Sorry for the inconvenience, we'll add an error message as soon as it detects the directory.

[2015-12-28 19:27] johnynek commented on #645
@damienmg did this get merged? Is there an easy way to track this feature (other than watching this ticket)?

[2015-12-28 19:33] kchodorow commented on #645
Yes, 1ea7fc370f0605be2185868f9371f6e04c26a502 added `load(label)` syntax.

[2015-12-28 19:49] c-parsons commented on #744
Actually, bazel is looking for the appropriate *SDK* version to complete the build.
With xcode 7.2, I believe you should have 9.2 installed by default.
Thus, try including the build flag --ios_sdk_version=9.2
(The current default value of this flag is 8.4. We're looking into assessing system-level defaults to avoid the need to update this)

[2015-12-28 20:24] kchodorow commented on #743
Thanks, will do.

[2015-12-28 21:13] PeterBeukelman commented on #359
I have deleted that option, but I still have the problem. (I changed option to -fPIC after the error log urged me)

INFO: Found 1 target...
INFO: From Linking google/protobuf/protoc:
/usr/bin/ld: bazel-out/local_linux-opt/bin/google/protobuf/libprotoc_lib.a(command_line_interface.o): undefined reference to symbol 'ceil@@GLIBC_2.2.5'
/lib/x86_64-linux-gnu/libm.so.6: error adding symbols: DSO missin

[2015-12-29 01:16] spierce7 commented on #744
@c-parsons Thanks for your response. I just tried your suggestion. I've tried adding this to the `objc_library` rule:

[code]

I tried a few different things, but it's still asking for "iphonesimulator8.4". How should I include the build flag exactly?

[2015-12-29 02:40] spierce7 commented on #744
I was able to get it working using the command `bazel build //ios-app:ios-app --ios_sdk_version=9.2`. When I open the xcode file, everything builds fine. I just did a clean install of El Capitan today. That may have had something to do with why it's working now.

Two questions:
1. Bazel still can't find my 8.4 sdk. What am I doing wrong?
2. Is there a way to declare the ios_sdk_version in a more c

[2015-12-29 16:16] c-parsons commented on #744
Sorry I wasn't clear :) Yes, `bazel build //ios-app:ios-app --ios_sdk_version=9.2` is what I had in mind.

This flag is a build-wide flag and not a target-level attribute; it wouldn't make sense to place this flag in a BUILD file.
For convenience, consider adding the flag to your .bazelrc file. See the [user manual](http://bazel.io/docs/bazel-user-manual.html) for details.

[2015-12-29 18:47] spierce7 commented on #744
.bazelrc was perfect. Thanks @c-parsons !

[2015-12-29 18:47] #744 closed

[2015-12-29 23:16] ScottPierce opened #746 "android_sdk_repository set path using environment variable?"
From the tutorial I find the following in the WORKSPACE file:

[code]

I can't find any documentation for the `android_sdk_repository`, and I'm also encountering issues specifying the `path` with an environment variable. This is problematic, because developers have their android sdk installed in varying locations on their system, but the `path` variable seems to want an absolute path only, which i

[2015-12-30 08:16] jendap commented on #714
@lberki you are right about the five characters. I have just tested it. That is weird. What are you doing in bazel? :-) I can put the workaround in the tensorflow ci. But obviously tensorflow (and other projects) users will run to the such a problem. I personally have android sdk and ndk in /opt.

BTW: I'm sorry for the noise from my test comments. I have not realized github is automatically linki

[2015-12-30 11:37] laurentlb commented on #685
.format() should be sufficient

[2015-12-30 11:37] #685 closed

[2015-12-30 14:48] #742 closed

[2015-12-30 14:48] #743 closed

[2015-12-30 15:07] kchodorow commented on #746
Including the SDK in the workspace would be the preferred way, if possible.  There is no way to have varying locations in the WORKSPACE file, yet, although @damienmg is working on that.

[2015-12-30 16:11] pmbethe09 commented on #742
Could be fixed -- can't verify as HEAD is broken

INFO: From Building src/tools/android/java/com/google/devtools/build/android/libandroid_builder_lib.jar (18 files):
src/tools/android/java/com/google/devtools/build/android/AndroidResourceProcessor.java:323: error: incompatible types: StringBuilder cannot be converted to StringBuffer
          idMatcher.appendReplacement(resourceIds, String.format(

[2015-12-30 16:22] pmbethe09 commented on #742
Note, broken as of effa572812043181d05f8d7375f89bddbb4d9ee0

[2015-12-31 00:36] spierce7 commented on #746
How would I do that though? Every time I try, an error is thrown wanting an absolute path only:

```In android_sdk_repository rule //external:androidsdk the 'path' attribute must specify an absolute path and referenced by '//external:android/sdk'.```

[2015-12-31 04:51] kevchin commented on #698
I adapted CUDA install using AMI instructions from here:
https://gist.github.com/erikbern/78ba519b97b440e10640

But still have this bazel compile failing:

`bazel build --sandbox_debug -c opt --config=cuda --spawn_strategy=standalone //tensorflow/cc:tutorials_example_trainer
INFO: Found 1 target...
ERROR: /mnt/tmp/tensorflow/tensorflow/stream_executor/BUILD:5:1: undeclared inclusion(s) in rule '//

[2015-12-31 05:34] spierce7 opened #747 "Simple Java build failing that compiles with javac"
I'm evaluating the differences between buck (a bazel clone), and bazel for android and ios development. I have a simple test build working in buck using j2objc that I'm migrating to bazel. Something that is confusing me is that a simple java build that works with javac and buck is failing with bazel.

I'm using the bazel tutorial as a base. Inside the tutorial workspace, I've created a folder `rxj

[2016-01-01 13:04] #606 closed

[2016-01-02 13:54] mnett opened #748 "Bazel getting stuck while building"
I've been having trouble  building things with Bazel lately. The issue manifests itself with Bazel appearing to be stuck (with no CPU load) at essentially random build steps (including the loading and analysis phase). This happens both when I attempt to build targets from my own repository, as well as in the bootstrap step in the Bazel installation; I've also tried with releases 0.1.0 and 0.1.2 wi

[2016-01-02 19:08] spierce7 commented on #53
:+1:

[2016-01-03 09:31] panjiepan opened #749 "failed to run ./compile.sh"
./compile.sh
INFO: You can skip this first step by providing a path to the bazel binary as second argument:
INFO:    ./compile.sh build /path/to/bazel
🍃  Building Bazel from scratch............
🍃  Building Bazel with Bazel.
.Extracting Bazel installation...
Sending SIGTERM to previous Bazel server (pid=5805)... done.
..............
INFO: Found 1 target...
INFO: From Building src/tools/android/java

[2016-01-03 09:52] mnett commented on #748
Quick update on the situation: After cold starting Bazel multiple times (due to rebooting the OS) it seems the problem has disappeared entirely. However, let me leave the bug open for now.

[2016-01-04 04:47] chin33z commented on #749
+1

[2016-01-04 04:49] janakdr commented on #748
Hit ctrl-\ while bazel is "stuck" and you'll get a thread dump.
Posting that here may help us diagnose the problem. I'll update the
user manual to mention this feature.

On Jan 3, 2016 4:52 AM, "Michael Nett" <notifications@github.com> wrote:

[2016-01-04 05:01] yurivict opened #750 "Compillation error in AndroidResourceProcessor.java"
Trying to build rev. effa572.
Is there actually a way to turn Android part off?

[code]

[2016-01-04 05:19] yurivict commented on #614
Now I have build failing on FreeBSD for the related reason. I restart the failedbuild, and get this error:
[code]

"Text file busy" is the error that means that the executable is running. And indeed:
[code]

bazel from the failed run still runs. This is Exhibit A why you shouldn't let child processes run after the parent has finished.

[2016-01-04 10:06] lberki commented on #269
We have a syntax: `path = __workspace_dir__ + "../foo/bar"` which should allow you to reference directories relative to the workspace. Arguably, it should just be a relative path, but the `__workspace_dir__` thing would work here, wouldn't it?

[2016-01-04 10:08] lberki commented on #714
@jendap this is not specific to Bazel, it's a weirdness of gcc: it resolves symlinks in the .d files iff the path to the Android NDK is 5 characters or less. Why, I have no clue.

[2016-01-04 10:30] chin33z opened #751 "Symbol resolving when indirect referencing."
I have a() in libA.c , b() in libB.c.
main() calls a() & a() calls b().
Thus, main() has indirect dependency to b().
The following is my BUILD file.

[code]

After executing **bazel build //:hello**
Bazel complains it cannot find the symbol b() when linking hello:

[code]

Can't Bazel automatically resolves the indirect symbols? Thanks.

[2016-01-04 13:37] lberki commented on #698
@kevchin which gcc version are you using and which Linux version? This seems to mirror an issue with gcc whereupon it dereferences symlinks in .d files and thus confuses Bazel. I tried doing this on my workstation with gcc 4.8.4, and it works alright, but I have seen similar issues in the past.

Could you try installing CUDA at a location whose path is longer (no, this is not a joke, really)? I ha

[2016-01-04 13:50] lberki commented on #698
I spoke too early! I can reproduce this issue with if I install CUDA at a short path (`/opt/cuda` and `/opt/cuda-7.0` in particular) with the same gcc. So, barring fixing gcc, install CUDA at a longer path (no kidding!), and it will work. I don't know why.

[2016-01-04 14:46] kchodorow commented on #746
Use:

[code]

[2016-01-04 15:27] kchodorow commented on #749
This should be fixed as of 0e72b69d0df6924537e8c4dd996c10c53586902c.

[2016-01-04 15:27] #749 closed

[2016-01-04 15:44] lberki commented on #698
Oh, actually, this C++ compilation takes place not with the system gcc, but the CUDA gcc. Then, I suppose the system your are using is irrelevant.

[2016-01-04 16:30] JonBoyle87 opened #752 "0.1.2 and JDK7"
On the release of 0.1.2, you have release downloads for linux  from https://github.com/bazelbuild/bazel/releases (specifically bazel_0.1.2-jdk7-linux-x86_64.deb) that specifies jdk7 in the name; however, the deb looks for openjdk-8-jdk openjdk-8-source.

Am I misunderstanding something, or is something wrong with the deb?

[2016-01-04 19:52] kchodorow commented on #715
Closing due to lack of reply, feel free to comment if you try @davidzchen's solution and still have problems.

[2016-01-04 19:52] #715 closed

[2016-01-04 21:14] kchodorow commented on #742
Head should now be fixed as of 0e72b69d0df6924537e8c4dd996c10c53586902c.

[2016-01-04 21:21] girving opened #753 "Different sys.path between bazel test and bazel run"
One of our tensorflow tests is failing under `bazel test` on my machine, but not under `bazel run`.  The issue is that I have two versions of numpy installed, 1.8.2 in `/usr/lib/python3/dist-packages/numpy` and 1.10.2 in `/usr/local/lib/python3.4/dist-packages/numpy`.

When I run `python3` from the command line, or via `bazel run`, `sys.path` includes `/usr/local/lib/python3.4/dist-packages` befor

[2016-01-05 06:22] bsilver8192 commented on #738
Is `/etc/resolv.conf` a symlink on your system? I've seen this issue before when the resolvconf package is installed, which makes it a symlink to `/etc/resolvconf/run/resolv.conf`. I think I fixed that issue at some point, but I don't remember how and I can't find the code...

[2016-01-05 06:34] bsilver8192 commented on #753
I'm pretty sure the reason the entry is missing when using `bazel test` is because the sandbox doesn't include `/usr/local`, which is the correct behavior. If you want to use files in `/usr/local`, you have to do it through a `new_local_repository(path = '/usr')`.

If you really want to, you could disable sandboxing instead (`--spawn_strategy=standalone`), but sandboxing is generally really nice f

[2016-01-05 06:46] droidekas opened #754 "Using Bazel with Android Studio"
Is there a way to use Bazel with android studio?

[2016-01-05 06:55] bsilver8192 commented on #751
Actually, it's failing to find libB.so when linking, so then it can't find any of the symbols in it. That's because libB.so is in libA.so's runfiles, but those aren't used at compile time. I think the issue is that shared objects generated with `cc_binary` (like libA.so and libB.so) are intended for linking into external code or opening with dlopen, not linking into other Bazel-compiled code. Is t

[2016-01-05 06:57] bsilver8192 commented on #750
Does 0e72b69d0df6924537e8c4dd996c10c53586902c fix this?

[2016-01-05 07:41] mnett commented on #748
Thanks Janak, that's really helpful. Since the problem has gone away, shall we mark this as not reproducible for the time being?

[2016-01-05 08:32] chin33z commented on #751
I want to control the soname (libxxxxx.so) when linking, so I have to use cc_binary().
Bazel will do its own mangling on soname when linking with cc_library() & deps.

Here is the thread discussed before but I didn't find the answer:
https://groups.google.com/forum/#!topic/bazel-discuss/PxZ6Znjor1g

In summary, we cannot have the benefits of
[code]
at the same time. Am I correct on this? Thanks.

[2016-01-05 12:29] lberki commented on #736
Yargh. I cloned your repo, realized that I can't reproduce the issue, then looked at the newsgroup thread above and realized that your repo has been updated to reflect what you found there. I should have looked a bit closer to avoid wasting some time :)

[2016-01-05 12:29] #736 closed

[2016-01-05 13:42] philwo commented on #754
I don't think so, but Dmitry is working on IDE integration and might have a status update.

[2016-01-05 13:55] philwo commented on #753
Yes, the sandbox by default does not mount /usr/local on purpose. I think Brian's suggestion should work.

In the long-term we will make the sandbox more configurable and/or be able to use standardized base images (maybe Docker containers) as a build environment, so that you don't run into these issues anymore.

[2016-01-05 14:01] philwo commented on #752
Sounds like a P1 to me (it probably means the package is not usable on systems that don't have JDK8, however those systems are the intended users of the package)

@damienmg - please lower the priority if I judged it wrong.

[2016-01-05 14:32] yurivict commented on #750
The previous error is gone, but another one surfaced:

[code]

I had 0.1.1 building fine. But 0.1.2 and any revision after this that I tries always failes in one way or another for some reason.

[2016-01-05 14:57] philwo commented on #751
@chin33z, I think you're right. Leaving this open in case someone has an idea for a workaround, but I guess this is unfortunately a use case that it just not supported by Bazel (yet).

[2016-01-05 15:00] philwo commented on #750
The missing putAllVariableSubstitutionMap method is auto-generated code from a protobuf. I'm not sure what's going on here.

[2016-01-05 15:11] kchodorow commented on #750
@calpeyser just updated our protobuf compilers, perhaps that changed this?

[2016-01-05 15:20] philwo commented on #746
If this works, maybe we can add it to the documentation?

[2016-01-05 15:20] Aragos commented on #393
I ran into this recently and did some investigation. As far as I can tell the script is passing the correct JVM arguments: https://github.com/bazelbuild/bazel/blob/15e9a506118b4067655e5e7f72ff852be5b797ca/src/main/java/com/google/devtools/build/lib/bazel/rules/java/java_stub_template.txt#L166

But for some reason the JVM is suspended as a result but the port (usually 5005) not opened for listening

[2016-01-05 15:22] philwo commented on #741
Closing because we didn't hear back for a week, but feel free to re-open if it still doesn't work :)

[2016-01-05 15:22] #741 closed

[2016-01-05 15:36] philwo commented on #748
@janakdr Could you please close this bug once the documentation has been updated?
@mnett Sounds good - please reopen if you reproduce it again in the future!

[2016-01-05 16:17] girving commented on #753
The problem is that the thing that installed numpy into `/usr/local` is `/usr/bin/pip3`.  That is, my system default install path for python modules includes `/usr/local`, so bazel is broken by default on my system (my Google desktop machine).

[2016-01-05 16:19] yurivict commented on #750
I got rid of the problem by updating to the latest beta of the protobuf.

[2016-01-05 16:19] #750 closed

[2016-01-05 16:31] flawless2011 commented on #587
Has the code fix in 5fd83b2 been tested?  It doesn't seem to work for me after I build bazel from source and use that to do my tensorflow build.  I've set the `$HTTP_PROXY` and `$HTTPS_PROXY` env vars with my proxy info `http://me:mypassword@myproxyserver.domain.com:8000` (scrubbed to protect the innocent).  I get an error message like this:

`/Users/me/Dev/tensorflow/tensorflow/third_party/eigen3

[2016-01-05 18:10] menny commented on #746
using `__worksapce_dir__` is a workable solution, but it will require all developers in our organization (we have quite a few Android devs) to create a symlink in their workspace which points to the actual SDK path. And do the same for the NDK path.

A much less intrusive solution will be to somehow use the environment variable `ANDROID_HOME`, maybe by introducing a way to read system's environmen

[2016-01-05 18:41] kchodorow commented on #429
This should be fixed as of 1ea7fc370f0605be2185868f9371f6e04c26a502.

[2016-01-05 18:41] #429 closed

[2016-01-05 18:45] spierce7 commented on #746
@menny the proposed solution wouldn't be to create a symlink, but instead, actually make the Android SDK a part of your build, and check it into source control. That way everyone is building off the same Android SDK files, and not having to manage their own Android SDK locally.

[2016-01-05 19:36] zergtmn commented on #746
@spierce7 I understand that Bazel is aimed at perfectly reproducible builds but that sounds quite unrealistic to store an additional 10+ GBs of files in every repository we have. It'd significantly increase the costs of storing the repositories in the cloud, updating Android SDK would bloat the repositories over time further increasing the costs and every developer in our team would have to upgrad

[2016-01-05 19:43] bsilver8192 commented on #746
What about being able to download the SDK over HTTP? That avoids bloating the repository itself, and allows versioning by changing the filename and keeping old versions around.

[2016-01-05 19:46] spierce7 commented on #746
@zergtmn I don't imagine you'd need to check all android SDK versions and emulator images. You'd only check-in what you need to build the app (The current android SDK, and any other build tools / libraries you depend on from Android). Devs could still use their own private Android SDK repositories to run their emulators.

By only including the Android SDK needed to build that project, and leaving

[2016-01-05 19:52] bsilver8192 commented on #746
I don't think downloading it over HTTP is possible right now, but I think that's a pretty easy change. I remember seeing code related to that before, but I couldn't figure out how to actually use it.

[2016-01-05 19:52] Aragos commented on #393
https://bugs.openjdk.java.net/browse/JDK-8042704 is the only thing I've been able to find even remotely describing this issue and I've managed to replicate the issue with multiple JDK versions (`--host_javabase`) so I suspect this isn't the JVMs fault but rather something we do in the test runner. Not sure what that would be though since I'd have expected the JVM to suspend before ever interacting

[2016-01-05 19:55] spierce7 commented on #746
@bsilver8192 Something like http://bazel.io/docs/be/workspace.html#http_file might be able to be used? The trick would then be referencing that file from the `android_sdk_repository` declaration. @kchodorow would something like this be possible?

[2016-01-05 20:02] menny commented on #746
@spierce7

Given that we (at our company) develop Android on Mac, Linux and Windows, and we using GitHub Enterprise (which is not mono-repo friendly), checking in all the SDK and NDK files for all platforms is not an viable option.
Also, downloading the SDK+NDK every time the developer `clean`, or clone to a new folder or simply when switching to an earlier branch.
Also, this means that if I parti

[2016-01-05 20:04] menny commented on #736
Forgot about this. Sorry, I should have closed this.

[2016-01-05 20:08] spierce7 commented on #746
Good points. Being able to access an environment variable would be nice.

[2016-01-05 20:11] kchodorow commented on #746
I'm pretty sure there were licensing issues with downloading the SDK on the fly (because you aren't going through their license agreement first).  android_sdk_repository probably should allow you to specify a label where the SDK can be found, if it doesn't already (I don't know whether it does or not).

Summoning @damienmg, one of his many projects being adding configuration machinery for the WORK

[2016-01-05 20:14] #721 closed

[2016-01-05 22:09] aschran commented on #79
The doc posted on August 24 discusses your plans to release a Bazel version of the "glaze" tool for generating BUILD files. The Go language support issue is closed but I think that still remains to be done. Any roadmap updates you can offer on the glaze tool (or the other items in that doc that are not yet complete)? I couldn't find a followup sub-issue tracking those.

Link for reference:
https:/

[2016-01-05 22:43] kchodorow commented on #681
I think this might have been fixed in the interim, if I build `@scala//...`, I get:

[code]

[2016-01-05 22:44] #681 closed

[2016-01-06 00:51] cushon commented on #747
bazel is using the jdk9 javac, which has some backwards-incompatible changes to type inference: https://bugs.openjdk.java.net/browse/JDK-8075793?focusedCommentId=13865850

I see the same issue when compiling with gradle and jdk9-ea-b80.

One option is to add explicit type parameters to rxjava so it compiles against jdk9, e.g.:

[code]

[2016-01-06 00:59] cushon commented on #747
filed ReactiveX/RxJava#3603

[2016-01-06 01:44] bsilver8192 commented on #750
I think @calpeyser didn't update to a new enough version of protobuf before relying on a new feature in 4bd593aa.

[2016-01-06 01:50] yurivict commented on #750
Why don't you make it the git submodule?
Instead, your directory is full of .exe files. -)
.exe files in repositories aren't generally a good thing.

[2016-01-06 01:53] bsilver8192 commented on #521
I wrote up something like what @AustinSchuh described and sent it for review as https://bazel-review.googlesource.com/2620. Comments/suggestions/etc welcome.

[2016-01-06 03:24] spierce7 commented on #747
@cushon Thanks for the response. Is there a way to tell bazel to use a javac from an older jdk?

[2016-01-06 05:16] kramasamy commented on #715
@kchodorow - sorry to respond late. Yes, the suggestion worked. Thanks for the help

[2016-01-06 07:52] uriv commented on #587
@flawless2011 There is info on how to overcome the proxy error by manually downloading the missing libs at https://github.com/bazelbuild/bazel/issues/623#issuecomment-158984782

[2016-01-06 16:07] flawless2011 commented on #587
@uriv I understand but I'm trying to find out if the code fix committed by @kchodorow is complete or not.  The workaround in #623 is only a temporary solution vs. actually fixing the problem with the proxy.

[2016-01-06 17:41] kchodorow commented on #479
This was been fixed by the external repo correctness change a few months ago.

[2016-01-06 17:41] #479 closed

[2016-01-06 17:41] #598 closed

[2016-01-06 17:49] kchodorow commented on #610
This is now fixed.

[2016-01-06 17:49] #610 closed

[2016-01-06 17:53] kchodorow commented on #246
This is now fixed.

[2016-01-06 17:53] #246 closed

[2016-01-06 17:53] #69 closed

[2016-01-06 17:54] flawless2011 commented on #623
@uriv Can you elaborate on the eigen changes needed?  You mention replacing eigen_archive with a new_local_repository entry.  I assume this is in <workspace>/WORKSPACE?  There isn't an eigen_archive entry in that file.

I went ahead and added the new_local_repository entry into WORKSPACE:
[code]
With that, it starts building but now get a different error:
`ERROR: /Users/me/Dev/tensorflow/tensorflo

[2016-01-06 17:58] kchodorow commented on #330
HEAD is still not a recognized reference, which I think this is WAI (as generally we're not supporting "latest" as an option in WS files).  `commit = "<sha1>"` does work and all of the other bugs mentioned in this issue have been fixed.

[2016-01-06 17:58] #330 closed

[2016-01-06 18:52] calpeyser commented on #750
@bsilver8192 that makes a lot of sense.  The "putAll" method for maps wasn't in the protobuf implementation we had checked in until https://github.com/bazelbuild/bazel/commit/4731d5a41c0d376c2f43cfbd1437598815f77ed0

However, with that commit, the call should work.

[2016-01-06 20:01] hhclam commented on #750
This breakage is a bit surprising to me.

I had to run compile.sh in order to build. Building Bazel with an older version of Bazel fails in this case. Does that mean that bazel is packaged with protobuf compiler?

[2016-01-06 20:04] philwo commented on #750
Yes, we bundle statically compiled binaries of protoc with Bazel:

https://github.com/bazelbuild/bazel/tree/master/third_party/protobuf

[2016-01-06 20:05] jendap commented on #714
@lberki Not Bazel? Why does older bazel work with the same version of android ndk? Docker container with every single file on the disk the same except /bazel works for 0.1.1 but fails for 0.1.2.

The workaround https://github.com/tensorflow/tensorflow/commit/2e680bbcace962a7aa85baaef948d360e6a2c49b (/android instead of /opt) has landed in tensorflow continuous integration. We can use there newer b

[2016-01-06 20:23] cushon commented on #747
@spierce7 Not currently. We standardized on using a single recent version of javac because some plugins rely on internal javac APIs, and they would be hard to make portable.

[2016-01-06 20:37] bsilver8192 commented on #750
Yes, that was the problem. I forgot about the embedded `@bazel_tools` repository and was assuming it must be using the version from the repository.

[2016-01-06 23:00] chpatton013 opened #757 "Bazel does not copy xml test output from sandbox."
Bazel has support to capture xml test output via the `XML_OUTPUT_FILE` environment variable. The gtest driver can look for this environment variable and use it to define the `gtest_output` option to `"xml:$XML_OUTPUT_FILE"`.

However, Bazel fails to copy this xml file out of the sandbox, so the results are lost.

See this chat log for a history of how this information was discovered: https://gist.

[2016-01-07 04:58] Zaspire commented on #598
I still can reproduce issue with latest bazel & latest tenserflow

[2016-01-07 05:32] davidzchen commented on #79
@aschran - Can you open a separate issue for glaze? Thanks!

[2016-01-07 07:59] nitingupta910 commented on #587
I just cloned and built bazel from source but still can't build tensorflow due to bazel failing to download dependencies behind proxy. Set all variables: http_proxy, https_proxy, HTTP_PROXY, HTTPS_PROXY. Downloads directly using wget work.

[2016-01-07 08:42] lberki commented on #736
Np. May this be the biggest misunderstanding in my life :)

[2016-01-07 09:01] uriv commented on #623
My WORKSPACE had an "eigen_archive". Here's the fix I made:
[code]

[2016-01-07 09:02] damienmg commented on #587
Reopening so @kchodorow can investigate.

[2016-01-07 10:00] damienmg commented on #746
Ok I have passed quickly over that issue:
- Downloading the SDK over HTTP is a no for now because of the Android SDK licensing issue.
- The configuration thingy around the workspace should indeed make possible to create on the fly the android_sdk_repository without hard-coding the path in the workspace file.

[2016-01-07 10:22] damienmg commented on #752
The priority is probably not P1 but only because JDK7 support is not rated high. Anyway the fix should not be too hard but it won't be fixed before 0.1.3 I think (I will re-emit a rc later today with a P1 fix and this one).

[2016-01-07 10:23] damienmg commented on #741
(note for future reference: this is probably due to the ~/bin directory being first in the PATH, /usr/local/bin being after, removing ~/bin/bazel should do the trick)

[2016-01-07 10:26] damienmg commented on #393
@Aragos: the current test runner is dumb. I am doing the last plumbing for shipping our own version and should be here in the following weeks. I hope this will fix that issue.

[2016-01-07 10:37] lberki commented on #698
Surprisingly enough, this the same bug as #714 and is fixed by adding `-fno-canonical-system-headers` to the gcc command line. So I'm closing this as a duplicate of that one.

[2016-01-07 10:37] #698 closed

[2016-01-07 10:41] damienmg commented on #614
It looks like a problem with the worker, summoning @philwo to see if he sees something.

[2016-01-07 10:45] damienmg commented on #645
But it does not work from the WORKSPACE file yet. My next bug to address
should fix that problem.

On Mon, Dec 28, 2015 at 8:33 PM Kristina <notifications@github.com> wrote:

[2016-01-07 10:56] damienmg commented on #731
This look like a problem with remote repository, can you retry with Bazel at HEAD?

[2016-01-07 13:54] #724 closed

[2016-01-07 13:54] #732 closed

[2016-01-07 13:54] #748 closed

[2016-01-07 14:20] philwo commented on #614
I don't see how this can happen for a number of reasons:
- Due to the behavior described in this thread, "I press Ctrl-C" doesn't immediately terminate Bazel. You don't get your terminal back, until Bazel has actually quit, so you can't launch an editor in the same terminal until Bazel has quit.
- Now, assume you hammer Ctrl-C until Bazel bails out. Code in process-wrapper.c and JVM shutdown hooks

[2016-01-07 14:49] philwo commented on #757
This is because the XML output file is not a declared output artifact, but instead some weird "well, concatenate some strings and what you get from that may or may not exist" special case in the test strategy. I would love to fix this! We also need this fixed for the new JUnit test runner that @damienmg is integrating now.

@ulfjack I remember that we talked about this a month ago or so. We could

[2016-01-07 15:31] kchodorow commented on #598
I'd imagine that tensorflow's load statements are using the old-style paths, not labels, and needs to be updated.  Perhaps file a ticket with tensorflow?

[2016-01-07 17:11] pedrokiefer commented on #481
@philwo can you review my patch? https://bazel-review.googlesource.com/#/c/2650/

[2016-01-07 18:13] kchodorow commented on #517
This has since been fixed.

[2016-01-07 18:13] #517 closed

[2016-01-07 18:14] kchodorow commented on #336
I think this is obsolete by @lberki's changes and my external mutability fixes.  Please comment if there are any other cases still open.

[2016-01-07 18:14] #336 closed

[2016-01-07 18:41] kchodorow commented on #587
The proxy solution was supposed to be complete, but it's possible I missed something. On the plus side, obviously it's doing something with the proxy and e1de068273cd8e72f34410526f27c779a8b69f30 should at least give a better error message when the download fails.  Let me try to reproduce and I'll get back to you.

[2016-01-07 18:46] kchodorow commented on #587
Oh, looks like I need to add support for username/password authentication.

[2016-01-07 19:43] aschran opened #758 "Create "glaze" BUILD file generator for Go"
As described in this doc on the implementation plan for Go support for Bazel:
https://docs.google.com/document/d/1_fNIFC-2gLETPBXWipNDaZEi1NCKDJRBqGN7lF0Eo7k/view#heading=h.ukvbyrl4dbrx

[2016-01-07 19:43] aschran commented on #79
Done, thanks!
https://github.com/bazelbuild/bazel/issues/758

[2016-01-07 20:30] #575 closed

[2016-01-07 20:30] #733 closed

[2016-01-07 20:30] #752 closed

[2016-01-07 20:50] flawless2011 commented on #623
My problem is fixed after pulling the latest source for Tensorflow and Bazel.  I think they removed some redundant eigen library files in latest Tensorflow source and that seems to have fixed my issue.

[2016-01-08 10:19] damienmg commented on #752
Not that you should be able to test the change with the current rc:
https://storage.googleapis.com/bazel/0.1.3/rc3/index.html

[2016-01-08 11:59] ulfjack commented on #757
SGTM. We probably want to make sure that we cover the other optional test
outputs as well.

On Thu, Jan 7, 2016 at 3:49 PM, Philipp Wollermann <notifications@github.com

[2016-01-08 14:33] digitalsword opened #760 "failed to install bazel on Red Hat 6.7"
I would like to install bazel from source, and use bazel to compile tensorflow on a cluster running redhat 6.7. When I try to install bazel, the glibc version (2.12) is too old. I do not have root access to the cluster. Is it possible to install tensorflow in this case?

My system information:
[code]

The system has newer gcc installed as well. I tried using it, bazel still won't compile.
[code]

[2016-01-08 17:31] kchodorow opened #761 "@// should be visible from // (and visa versa)"
For example:

[code]

BUILD file:

[code]

[2016-01-08 20:54] ahumesky opened #763 "compile.sh prints lots of notes about deprecation or unchecked operations"
for example:

INFO: You can skip this first step by providing a path to the bazel binary as second argument:
INFO:    ./compile.sh build /path/to/bazel
🍃  Building Bazel from scratch............
🍃  Building Bazel with Bazel.
.Extracting Bazel installation...
......
INFO: Found 1 target...
INFO: From Building src/main/java/com/google/devtools/common/options/liboptions.jar (18 files):
Note: src/main

[2016-01-08 23:08] xiongchiamiov commented on #699
Registering interest in this as well.

In the mean time, https://github.com/mihaibivol/bazel_pipy_rules provides some hacks for getting PyPI-based libraries into the build system.

[2016-01-10 20:36] digitalsword commented on #50
I have a similar problem with Redhat 6.7

[2016-01-11 09:13] damienmg commented on #723
@c-parsons ping?

[2016-01-11 09:21] damienmg commented on #590
@trungnt13 @ulfjack ping?

[2016-01-11 09:53] lberki opened #765 "Repository-relative labels are not resolved as such in visibility= attributes"
E.g. `filegroup(visibility=["//a:b"])` refers to this target in the main repository even if the filegroup is in a remote repository.

My guess is that this has something to do with the special-casing in `AbstractAttributeMapper`.

[2016-01-11 09:54] damienmg commented on #760
Have you updated the path to GCC / libraris in the tools/cpp/CROSSTOOL  file?
You should also set correctly CXX, CC, LDFLAGS environment variables and co.

[2016-01-11 10:00] lberki opened #766 "Line numbers for `load` statements that can't find the .bzl file to be loaded are confusing"
The line number of the target that depended on the target that cannot be loaded is displayed, which means that finding the offending `load` statement is not easy. Example:

[code]

In this case, the line number reported for the missing `.bzl` file is that in t/BUILD insteadof r/BUILD:1

[2016-01-11 14:34] lberki opened #767 "`package_group` doesn't accept packages with repositories"
This is legal: `package_group(name="a", packages=["love"])`
This is not: `package_group(name="a", packages=["@eternal//love"])`

[2016-01-11 14:35] digitalsword commented on #760
@damienmg Yes, I have tried. But there are many entries in tools/cpp/CROSSTOOl. I am not sure I have updated everything.

I tried the following but it didn't work.

In CROSSTOOL, I changed cpp path, gcc path and added cxx_builtin_include_directory: "/usr/local/gcc/4.8.4/lib64/", cxx_builtin_include_directory: "/usr/local/gcc/4.8.4/lib/"
[code]
I set the environment variable and compile
[code]
I go

[2016-01-11 14:43] damienmg commented on #760
There you are failing at the first step you should export CXX, CC, LDFLAGS and CXXFLAGS

I am removing the need for this, but it's still there for now.

[2016-01-11 15:00] digitalsword commented on #760
@damienmg

Tried again I still got the same error.

[code]

[2016-01-11 15:13] damienmg commented on #760
Like exactly the same (at the same place, concerning output/bazel)?

Also can you try a more recent version of bazel (0.1.3 should work nicely)

[2016-01-11 15:16] kchodorow opened #768 "appengine_war should declare the external dependencies it needs"
See https://groups.google.com/d/msgid/bazel-discuss/40010fd4-5925-4d35-b200-f498ef80c19c%40googlegroups.com.

[2016-01-11 15:30] damienmg opened #769 "//src/test/shell/bazel:external_integration_test#test_fetch is failing on OS X since https://github.com/bazelbuild/bazel/commit/713a78"
https://github.com/bazelbuild/bazel/commit/713a78 probably uncovered a longer bug on OS X for this test.

Found using git bisect.

See http://ci.bazel.io/job/Bazel/JAVA_VERSION=1.7,PLATFORM_NAME=darwin-x86_64/290/console for failure.

especially:

[code]

[2016-01-11 15:37] digitalsword commented on #760
@damienmg The error was exactly the same. I also tried 0.1.3. After I export flags and update CROSSTOOL, I got the same error again.

[code]

I suspect I did not update CROSSTOOL correctly. I only changed the following lines:
[code]
and add following lines
[code]
is there other places I need to update on CROSSTOOLS?

[2016-01-11 16:15] kchodorow opened #770 "Cannot run tests on OS X"
Pretty sure this is because I don't have XCode installed, but:

[code]

This is at head:

[code]

[2016-01-11 17:37] ajorgensen opened #772 "pkg_deb splits on `-` character breaking control file"
How to re-produce:

1. Remove this line from the bazel debian build: https://github.com/bazelbuild/bazel/blob/master/scripts/packages/BUILD#L171
2. Rebuild debian pacakges: `bazel build --embed_label=0.1.2 --stamp //scripts/packages/...`
3. Try to install the debian package. You should get the following error:
[code]

If we look at the control file it looks like:
[code]

As you can see the bash-co

[2016-01-11 18:20] c-parsons commented on #770
We currently require xcode command line tools to run bazel on osx  (http://bazel.io/docs/install.html)

[2016-01-11 19:30] kchodorow commented on #770
I installed the command line tools and get the same error, is there something else I need to do?

[2016-01-11 19:49] pspeter3 opened #775 "Prune old build artifacts"
Is there a way to prune the artifacts in `bazel-bin` that are no longer in the build graph? Specifically, I'd like to not have to run a full clean to vacuum old artifacts.

[2016-01-11 19:50] damienmg commented on #770
Might be because of a change I made.

It should not try to build //src/tools/xcode/stdredirect:stdredirect_genrule.

Let me try to figure the problem

[2016-01-11 19:52] damienmg commented on #775
bazel clean --expunge?

On Mon, Jan 11, 2016 at 8:49 PM Phips Peter <notifications@github.com>
wrote:

[2016-01-11 20:00] pspeter3 commented on #775
My understanding was --expunge removed even more things than `bazel clean`? I want to leave legitimate build products but prune artifacts that are no longer part of the build graph. I may be misunderstanding --expunge however.

[2016-01-11 20:09] dfabulich opened #776 "generate_workspace doesn't work"
On latest master 1f1658c5bbaf540bd2080be3cbcea3df2ca9bf9b, OSX 10.11.2

[code]

I ran a git bisect which says that "07b0ba6079022d9a9643d46b28aa4d2a75334b35 is the first bad commit"

[code]

[2016-01-11 20:15] #409 closed

[2016-01-11 20:19] digitalsword commented on #760
@damienmg It always search for default libstdc++ in /usr/lib64, not matter how I export environment variable or update CROSSTOOLS. It seems the same problem was observed by other guys (https://github.com/bazelbuild/bazel/issues/590).

[2016-01-11 20:20] damienmg commented on #775
Oh ok. Yes expunge clear the cache. I don't know if such a thing exists.

On Mon, Jan 11, 2016 at 9:01 PM Phips Peter <notifications@github.com>
wrote:

[2016-01-11 20:21] damienmg commented on #776
`bazel version`?

[2016-01-11 20:23] damienmg commented on #760
:( By the end of the week my change for the bootstrap part should be in so it should go further. I have no idea why it is happening though.

[2016-01-11 21:07] kchodorow commented on #776
It looks like your version of bazel is too old to understand HEAD's WORKSPACE file format.  Can you try recompiling bazel from scratch (using ./compile.sh), then using that to build anything you're doing at HEAD?

Bazel 0.1.2 cannot understand HEAD's WORKSPACE file (I haven't tried 0.1.3, that might work).

[2016-01-11 21:18] damienmg commented on #776
0.1.3 should work

On Mon, Jan 11, 2016 at 10:07 PM Kristina <notifications@github.com> wrote:

[2016-01-11 21:21] damienmg commented on #770
Ok this is not my fault but I see an easy fix:
[code]

[2016-01-11 21:59] damienmg commented on #770
Testing my change...

[2016-01-11 21:59] dfabulich commented on #776
You are correct! `./compile.sh` took care of it for me.

[2016-01-11 21:59] #776 closed

[2016-01-11 22:45] digitalsword commented on #760
@damienmg I made some progress. I am getting different errors after I do
[code]
But now I am getting:
[code]
Where should I put  --ignore_unsupported_sandboxing to disable sandbox? Is sandbox is the culprit?

[2016-01-11 22:53] dfabulich commented on #776
For the record, I was indeed on Bazel 0.1.2, the latest version available on Homebrew.

[2016-01-11 22:57] damienmg commented on #776
FYI I just send a PR to homebrew to update to 0.1.3 :)

On Mon, Jan 11, 2016 at 11:53 PM dfabulich <notifications@github.com> wrote:

[2016-01-11 23:03] #770 closed

[2016-01-11 23:44] dfabulich commented on #776
I downloaded @damienmg's updated homebrew formula, ran it, and found that `generate_workspace` doesn't work with that, either.

[code]

[2016-01-11 23:46] dfabulich commented on #776
bisect points to 4bd593aaad907f4266ad510fb395638f2126a4ea as the offending commit. Still works fine if I use `./compile.sh` instead of a bazel binary.

[2016-01-12 00:51] bsilver8192 commented on #359
This bug was fixed by 4e7ed50345f3a3037549f7c41f852b5d9db4a08d.

@PeterBeukelman: That's a different problem. I think you should open another bug with the output from running the build with `--verbose_failures`.

[2016-01-12 08:24] ulfjack commented on #751
Putting the .so into the srcs attribute tells Bazel to only consider the file, not anything attached to the rule generating it, so Bazel will not look at the dependencies of libA.so. I think putting the cc_binary into deps instead might work, except Bazel currently doesn't allow this (the whitelist for deps in BazelCppRuleClasses.java only allows cc_library).

You could try to change that Java fil

[2016-01-12 09:04] damienmg commented on #776
We should recommend instead to clone the same version of the repository (e.g. tag 0.1.3 if you are running with Bazel 0.1.3).

[2016-01-12 09:11] #359 closed

[2016-01-12 11:41] ulfjack commented on #590
Is there a VM image somewhere that we could use to reproduce?

[2016-01-12 13:00] jeandut commented on #623
Hi,
I unfortunately do not have access top internet with my linux computer and I got the same error with missing packages libpng, jpegsrc, re2 and gemmlowp as in #587. I followed @uriv advice and copied and pasted his workpsace png and jpeg build files.
However could someone explain to me very precisely how to do the second step of @uriv summary that is to say creating a local repo with the source

[2016-01-12 13:10] damienmg commented on #623
Bonjour jeandut,
You should download the source in a directory then replace your WORKSPACE file as @uriv commented (with new_local_repository), replacing the path string with the actual path to your source.

[2016-01-12 13:21] jeandut commented on #623
Thank you @damienmg for this quick answer this is what I did and I get:
`no such package '@re2//': Could not create a symlink to repository mypath/re2`
And the same message for the different other packages it may come from my definition of what a source is. For instance for I just downloaded the zip file for re2 from github the master I unzipped it and renamed the file re2 instead of re2-master is

[2016-01-12 13:24] damienmg commented on #623
Can you post a hierarchy of what you did:
It should be something like that:
[code]

then tensorflow/WORKSPACE should look like:
[code]

[2016-01-12 13:28] jeandut commented on #623
I created a folder named fix and inside a folder named files in which I put the unzipped file re2-master. Fix is at the same level as tensorflow and .BUILD files.
So I have
 `/path/tensorflow
/path/fix/files/re2`
etc.
and in the WORKSPACE file the same as you do I need to move them up not to be in subfolders ?
Is it the file re2-master the right one ?

[2016-01-12 13:30] damienmg commented on #623
no the path should not be important as long as they are consistent with the path in the WORKSPACE file.
re2 should be a clone or https://github.com/google/re2

[2016-01-12 13:33] jeandut commented on #623
I cannot even use git in my company so I had to dowload the zip from the page you are pointing to.
Is that somehow different from cloning from git ?

[2016-01-12 13:35] damienmg commented on #623
no the zip should be good

[2016-01-12 13:37] jeandut commented on #623
It may indeed be a Path mistakeso sorry for that !!!
Could you provide also good link for the other dependencies ?
I only found jpeg-9 instead of 9a and libpng-1.6.20 would that work if I changed the name on WORKSPACE ?
Additionnal question it seems now that I get also an error message for eigen...
I will get back to you as soon as I make progress.

[2016-01-12 13:41] damienmg commented on #623
Don't change the name of the rules in the WORKSPACE file, you can just change the path. It's probably ok with 9a though they haven't tested precisely with those versions.

[2016-01-12 13:45] jeandut commented on #623
I corrected the path for re2 still get the same error message however in the message it displays:
`cannot create symlink to repository mypath/re2: /home/jeandut/.cache/bazel/bazel_jeandut/(very   long code)/external/re2 (Directory not empty) and referenced by   'tensorflow/core/platform/default/build_config:platformlib`
I do not really understand the : and what comes after do you think it is relat

[2016-01-12 13:53] damienmg commented on #623
try `bazel clean --expunge` then a build again

On Tue, Jan 12, 2016 at 2:46 PM jeandut <notifications@github.com> wrote:

[2016-01-12 13:58] jeandut commented on #623
Yeah !!!!
I got no more mistake for the libraries I installed after entering your command but I still need eigen now I am gonna download it somewhere fairly quickly.
You have been incredibly patient and helpful @damienmg thanks a lot !
I will inform you of my situation as soon as I donwload eigen and copy paste it in the right folder !

[2016-01-12 14:25] jeandut commented on #623
Eigen value works however I encounter another error afterwards coming from the fact that I use libpng-1.2.60. Bad luck ! I will try to find the older version !

[2016-01-12 14:31] #772 closed

[2016-01-12 14:41] jeandut commented on #623
So the step of loading is now fine (thanks again @damienmg). However even after having replaced with the right version libpng and jpeg I got the new message when I build the example:
`/home/jeandut/.cache/bazel/_bazel_jeandut/(some long code)/external/jpeg_archive/BUILD:77:1:   @jpeg_archive//:jpeg: missing input file @jpeg_archive/jutils.c`
And I check inside jepg9-va I got the file ! Any idea ?

[2016-01-12 14:47] damienmg commented on #623
Try `bazel clean --expunge`

On Tue, Jan 12, 2016, 3:41 PM jeandut <notifications@github.com> wrote:

[2016-01-12 14:48] jeandut commented on #623
Unfortunately this magic formula did not work for me a second time !

[2016-01-12 14:50] damienmg commented on #623
What does `ls $(bazel info output_base)/external/jpeg_archive/` says?

On Tue, Jan 12, 2016 at 3:48 PM jeandut <notifications@github.com> wrote:

[2016-01-12 14:53] jeandut commented on #623
It is a long list of files including the ones it says are missing.

[2016-01-12 14:56] jeandut commented on #623
Same for png

[2016-01-12 14:56] damienmg commented on #623
Found the problem, there is a prefix_dir there:

https://github.com/tensorflow/tensorflow/blob/master/jpeg.BUILD#L65:
prefix_dir = "jpeg-9a"

You should probably tweak that (that goes for png too).

On Tue, Jan 12, 2016 at 3:53 PM jeandut <notifications@github.com> wrote:

[2016-01-12 14:59] jeandut commented on #623
Thanks d@damienmg but when you say tweak that could you be more precise ?
Shall I instead put the whole path instead ?

[2016-01-12 15:00] jeandut commented on #623
I assume it is related to the dir-and-dir comment but...

[2016-01-12 15:08] jeandut commented on #623
I think I got it I am gonna create a folder containing the folder with the same name is that it ?

[2016-01-12 15:12] jeandut commented on #623
Ok I got it but I get yet another error... I will try to work on it myself not to monopolize the attention !

[2016-01-12 15:56] jeandut commented on #623
I now get the error : `
`error executing command /usr/bin/gcc -U_FORTIFY_SOURCE -D FORTIFY_SOURCE=1 -fstack-    protector -Wall -Wunused-but-set-parameter -Wno-free-nonhea Target     //tensorflow/cc:tutorials8example8trainer failed to build`
It is frustrating to be so close and yet so far !
 I found #591 that says to change something in CROSSTOOLS however I cannot find it !
Any new idea @damienmg

[2016-01-12 15:59] damienmg commented on #623
Can you send the full log? You just show part of the error message.

On Tue, Jan 12, 2016 at 4:56 PM jeandut <notifications@github.com> wrote:

[2016-01-12 16:05] jeandut commented on #623
`ERROR: /home/jeandut/Bureau/Softwares/TF/tensorflow/tensorflow/core/BUILD:163:1: C++ compilation of rule '//tensorflow/core:framework' failed: gcc failed: error executing command /usr/bin/gcc -U_FORTIFY_SOURCE '-D_FORTIFY_SOURCE=1' -fstack-protector -Wall -Wunused-but-set-parameter -Wno-free-nonheap-object -fno-omit-frame-pointer -g0 -O2 -DNDEBUG -ffunction-sections ... (remaining 69 argument(s)

[2016-01-12 16:06] damienmg commented on #623
I meant the lines before...

On Tue, Jan 12, 2016 at 5:05 PM jeandut <notifications@github.com> wrote:

[2016-01-12 16:15] jeandut commented on #623
Ok sorry I had to rerun it:
[log.txt](https://github.com/bazelbuild/bazel/files/87576/log.txt)

[2016-01-12 16:17] flawless2011 commented on #587
@kchodorow I'm still not able to get either new_http_archive or git_repository external dependencies to work with the latest from master.  I've tried setting HTTP_PROXY and HTTPS_PROXY (and http_proxy and https_proxy for giggles) with our corporate proxy (requires id/password) and also using a local workstation proxy (doesn't require id/password).  Both fail with same error message.

Corporate pro

[2016-01-12 16:18] damienmg commented on #623
the log is still truncated...

On Tue, Jan 12, 2016 at 5:16 PM jeandut <notifications@github.com> wrote:

[2016-01-12 16:18] jeandut commented on #623
It seems that one of Eigen file is missing `unsupported/Eigen/CXX11/Tensor` I am gonna reinstall eigen just in case I do not have the right version

[2016-01-12 16:22] jeandut commented on #623
Hopefully I did not leave anything important out this time...
[end_of_log.txt](https://github.com/bazelbuild/bazel/files/87584/end_of_log.txt)

[2016-01-12 16:28] jeandut commented on #623
Could it be because I used eigen 3.2.7 and not the beta version ?

[2016-01-12 16:30] damienmg commented on #623
Yes it is probably. It means that Eigen has not the expected structure.

On Tue, Jan 12, 2016 at 5:28 PM jeandut <notifications@github.com> wrote:

[2016-01-12 16:36] jeandut commented on #623
Damn it I cannot test it as the link to the beta is either broken or blocked by my company I will get back home to retry and inform you tomorrow of the result. I really appreciate the effort you put in helping people like me thanks again @damienmg (and Google!).

[2016-01-12 16:58] jeandut commented on #623
Tried with beta version and preexisting version in tensorflow repo get exactly the same error...

[2016-01-12 17:02] jeandut commented on #623
However the file is indeed there.

[2016-01-12 17:07] jeandut commented on #623
The Tensor file is actually almost empty and only contains the line:
#include "external/eigen_archive/eigen-eigen-ce5a455b34c0/unsupported/Eigen/CXX11/Tensor"
which might be actually the problem but not sure how to solve it.

[2016-01-12 17:14] damienmg commented on #623
is the path eigen-eigen-ce5a455b34c0 correct? doesn't seems to be

On Tue, Jan 12, 2016 at 6:08 PM jeandut <notifications@github.com> wrote:

[2016-01-12 17:36] jeandut commented on #623
So I edited my comment and changed the path in the file Tensor in third_party folder but still it cannot go to it...

[2016-01-12 22:36] mrdomino opened #780 "Can't supply default_provisioning_profile with 0.1.3"
Until now, I've been setting the default_provisioning_profile issue by modifying tools/objc/BUILD in the base workspace (or in the tree's workspace if I've had bazel vendored). But now it seems that the profile is being extracted from the bazel binary itself, so I can't modify it.

This seems like a really basic need for iOS development -- like no iOS targets will build for me at the moment -- so

[2016-01-12 22:42] mrdomino commented on #780
The exact error I'm getting, fwiw, is:

[code]

I've seen this pretty often in the past. It's been a thing for so long that I don't remember when or how I happened upon the workaround described above.

[2016-01-12 22:50] kchodorow commented on #587
It looks like you're not running the latest version of bazel (I changed the error message for download failures in e1de068273cd8e72f34410526f27c779a8b69f30).  Could you try pulling HEAD, building `//src:bazel`, and running your build using `bazel-bin/src/bazel`?

[2016-01-12 23:06] flawless2011 commented on #587
I am on HEAD for master.  I've been building source using `./compile.sh` and then running my build with `./output/bazel` executable.  I'll try using `bazel build` instead and running with `./bazel-bin/src/bazel`.

[2016-01-12 23:14] flawless2011 commented on #587
Same error.  Looking through the commit log I don't see your e1de068 on master.

[2016-01-13 00:50] bsilver8192 commented on #761
I get a different error with current master, which is fixed by https://bazel-review.googlesource.com/#/c/2590/ (error message in that commit message). After applying that patch, I get the same error you mentioned. https://bazel-review.googlesource.com/#/c/2591 (on top of the other change) makes it work.

[2016-01-13 03:37] chin33z commented on #751
I just whitelist the cc_binary in BazelCppRuleClasses.java and modify my BUILD to:
[code]

Then I get the error:
[code]

I guess it is not simple as just whitelist the cc_binary in deps.
Ex. cc_binary() does not have the hdrs attributes. How will Bazel handle the library symbol in this case?

Still, thanks for this idea. I will try this route.

[2016-01-13 07:56] jeandut commented on #623
The cmd `bazel build -c opt //tensorflow/cc:tutorials_example_trainer` finally ran, thanks to you my versions of eigen were wrong apparently. However during the compilation I got several warnings message about index being out of bond and comparison between signed and unsigned entities.
The example ran but Python still does not recognize it I am opening a new issue.

[2016-01-13 08:09] jeandut opened #781 "Installed TF from sources (without internet access) example ran but import tensorflow fails"
I installed TF from sources because I do not have an internet access. I used @damienmg tricks to replace git repositories by internal sources for eigen, six, gemmlowp, re2, libpng and jpegsvrc.
Finally the line `bazel build -c opt //tensorflow/cc:tutorials_example_trainer` compiled successfully (however there were several warnings of index subscript above limits and comparison between signed and u

[2016-01-13 08:18] #781 closed

[2016-01-13 08:19] jeandut commented on #781
Moving it to a more accurate location

[2016-01-13 09:12] ulfjack commented on #680
We can't easily 'relax the restriction' - if we add all source files to the set of includable headers, downstream actions get a _lot_ larger. Internally, we haven't seen much of a problem with mostly requiring the naming convention to apply. There are a few third party projects that don't follow the naming convention, and using textual_hdrs as a workaround seems reasonable to me. If we were to red

[2016-01-13 11:24] shusso opened #782 "iOS pre-built Framework"
Currently I'm trying out Bazel with a simple iOS testapp that is using pre-built [Framework](https://github.com/Applifier/unity-ads-sdk/tree/master/UnityAds.framework
) which contains public header:
[code]
and the binary:
[code]
Can I use the `objc_import` rule to include it, or would there be a "better" way?

[2016-01-13 11:35] damienmg commented on #782
@c-parsons @Aragos @dmaclach: does any of you knows how to do it? Is it supported?

[2016-01-13 13:27] #765 closed

[2016-01-13 13:27] #767 closed

[2016-01-13 14:05] flawless2011 commented on #587
OK after looking a little more closely I do see that commit in the log (further back than I expected). So yes I have that code in my current build but I'm not seeing any change in the error message.

[2016-01-13 15:03] lberki opened #783 "select() doesn't work in remote repositories"
This is an unfortunate side effect of the weird way we map local labels to actual ones: it's done in `AbstractAttributeMapper#visitLabel()`, which is apparently bypassed by the mechanism `select()` uses.

I tried plugging all the holes, but it looks kinda sisyphean. Maybe we should just bite the bullet and do it in a more principled way (e.g. by doing the conversion where the string is converted t

[2016-01-13 15:04] lberki commented on #783
@damienmg @ulfjack: this is the next thing to be fixed if we want TensorFlow to work as a remote repository. Kinda embarrassing bug, that.

[2016-01-13 15:21] lberki opened #784 "Protobufs do not compile in Tensorflow if it's a remote repository"
The error message is as follows:

[code]

@damienmg : do you know which protobuf implementation they use? It seems that it's not aware of multiple repositories.

[2016-01-13 15:21] lberki commented on #784
Note that you can't get this far at HEAD pending the resolution of #783 . I have an awfully hackish change that fixes that, but I'd rather figure out something more palatable.

[2016-01-13 15:28] damienmg commented on #784
They use git submodule and a custom genproto.bzl.

[2016-01-13 16:09] jrings commented on #587
If I see correctly, if the proxy URL doesn't start with https, it's rejected as invalid. This is a problem for proxies that are http only, even for https URLs.

[2016-01-13 16:22] ulfjack commented on #783
That proposed refactoring seems like a rather big change - plug holes first, refactor later?

[2016-01-13 17:50] c-parsons commented on #782
I believe `objc_import` is for this exact purpose. Have you found an issue with using it in your use case?

[2016-01-13 21:13] kayasoze opened #786 "data + $(location) problematic with a filegroup"
What is the proper way to use `$(location)` with a filegroup referenced in `data`?  The obvious approach, below, does not work.  Neither do any variants except for `$(locations //foo/bar:json_files)`, which is less than ideal.

`foo/bar/BUILD`:

[code]

`foo/bar/test/BUILD`:

[code]

`bazel build //foo/bar/test/...`:

[code]

[2016-01-13 21:26] damienmg commented on #786
You have to create separate filegroup for each of your files like:

foo/bar/BUILD:

[filegroup(
  name = "%s_file" % f,
  srcs = [f],
  visibility = ["//visibility:public"],
) for f in ["ajson", "bjson"]]

foo/bar/test/BUILD:

cc_test(
  name = "test",
  srcs = ["testcpp"],
  deps = [],
  data = ["//foo/bar:%s_file" % f for f in ["ajson", "bjson"]],
  args = ["--json_file_a=$(location //foo/bar:%s

[2016-01-14 03:06] flawless2011 commented on #587
I have a fix for the proxy problem in HttpDownloader but that only seems to fix downloading the new_http_archive dependencies and not the re2 git dependency.  I guess I'll work on getting through the contribution workflow tomorrow so you guys can review the code change.  Then I'll try to sort out why the re2 dependency is still failing.

[2016-01-14 08:29] lberki commented on #783
Actually, it's just a few trivial lines of code, plugging the holes is more work.

The issue is that if you do the conversion when parsing the build file, `bazel query` will always return labels with a specified repository (i.e. `@//a/b:c/d`), which would wreak a lot of havoc internally. and it also won't be able to tell the difference between a label that got resolved to a particular repository b

[2016-01-14 09:35] ulfjack commented on #783
There are two kinds of labels, absolute labels and relative labels. At this point in time, only @repository//foo:bar is an absolute label, everything else are relative labels (e.g., //foo:bar, :bar). Query should never output relative labels, except making that change would break a lot of preexisting software.

I'd suggest to add a flag to query that makes it output the new absolute labels, and en

[2016-01-14 10:18] lberki commented on #783
Well.  I tried... it almost worked. What tripped me up was:
  * I couldn't get the Skylark function `Label` work properly (it uses `Label#parseAbsolute` and doesn't have easy access to the package it is in)
  * We wanted to load packages in the main repository (as opposed to the default repository) which required more tweaks

So I'll just send out the hackish solution for now. Meh. I don't really

[2016-01-14 10:57] damienmg commented on #780
Note that you can get the legacy behavior by putting `build --default_ios_provisioning_profile //tools/objc:default_provisioning_profile` in your .bazelrc file.

[2016-01-14 14:43] nsuke commented on #587
@flawless2011 git dependencies use JGit so HttpDownloader is not related.

    bazel --host_jvm_args=-Dhttp.proxyHost=my.proxy -Dhttp.proxyPort=8888 -Dhttps.proxyHost=....

fixed the problem for me. I had no luck with new_http_archive dependencies.

[2016-01-14 18:09] moof2k opened #788 "Allow users to add and remove compilation modes"
Feature request: Allow users to add and remove compilation modes.

Background: Three fixed compilation modes named 'debug' 'fastbuild' and 'opt' doesn't work for everyone. Some teams may desire the ability to maintain fewer targets, like only 'debug' and 'opt', and make 'opt' the default.

https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/analysis/config/C

[2016-01-14 18:12] damienmg commented on #788
Would [`--config`](http://bazel.io/docs/bazel-user-manual.html#flag--config) works for this use case along with --cpu? I thing the -c is a legacy thing

[2016-01-14 18:19] moof2k commented on #788
My read of the docs gave me the impression `--config` was intended as a "build style" parameter, for use for things like "memcheck," "gprof", "coverage," etc. You may want to combine debug with memcheck, or opt with gprof, etc.

My core beef here is bazel encourages a best practice of having three primary compilation modes, debug, fastbuild and opt--which makes a lot of sense for most projects btw

[2016-01-14 21:41] kayasoze commented on #786
@damienmg I'd still vote for fixing this interaction such that filegroups of size one aren't necessary, but thanks for the workaround!

[2016-01-15 01:56] xiongchiamiov opened #790 "Add html titles to documentation pages"
While this may seem like a minor thing, it gets pretty annoying clicking around madly trying to find the right page when your browser window has half a dozen tabs just labelled "Bazel".  Ideally the `<title>` would be something like "Page Title - Bazel".

[2016-01-15 08:00] shusso commented on #782
[Framework](https://github.com/Applifier/unity-ads-sdk/tree/master/UnityAds.framework) and [bundle](https://github.com/Applifier/unity-ads-sdk/tree/master/UnityAds.bundle)
[code]
 `objc_import().archive` expects to have `*.a` file:

If I just mv the file as `UnityAds.a` I can continue but then hit to
[code]

This is how I've defined the `objc_import`and `objc_bundle` rules:
[code]

And then my `io

[2016-01-15 09:20] damienmg commented on #790
@davidzchen can you take a look?

[2016-01-15 09:21] damienmg commented on #786
Well how would you handle your use case?

If that just passing the list of files, you can do `args = ["$(locations :filegroup)"]` and that would work.

[2016-01-15 09:28] #769 closed

[2016-01-15 09:28] #780 closed

[2016-01-15 09:28] #783 closed

[2016-01-15 16:31] damienmg commented on #654
Friendly ping? Can we have a repro?

[2016-01-15 16:31] damienmg commented on #593
This was fixed long time ago

[2016-01-15 16:31] #593 closed

[2016-01-15 16:56] mrdomino commented on #780
@damienmg That option doesn't seem to be recognized with bazel 0.1.3, although I do see it in the source...

For now, I was able to work around it by compiling a custom version of 0.1.3 with the profile specified in tools/objc/BUILD.

[2016-01-15 17:27] damienmg commented on #780
it is fixed at head

[2016-01-15 17:28] mrdomino commented on #780
Awesome, thank you.

[2016-01-15 18:51] kayasoze commented on #786
It would be nice to have a flag per file, from a filegroup containing all files, as above:

[code]

This seems logically consistent with the rest of Bazel.  Perhaps there is a reason why this shouldn't be expected to work.

[2016-01-15 18:59] kayasoze commented on #786
From the documentation, the above looks to be impossible without moving the files into their own directory, such that they can be labeled with package syntax.  Treating the filegroup as a package, as above, while nice, is inconsistent.  Closing.

[2016-01-15 18:59] #786 closed

[2016-01-15 20:51] kchodorow commented on #587
@flawless2011: I have totally failed to get a proxy set up so far, do you have a fork somewhere where I can take a look at how you got it working?  It is not surprising that re2 isn't working, git_repository and maven_jar use different downloading code than the http rules, so those will have to be fixed separately (but it shouldn't be too hard once I know what's wrong with the current code).

[2016-01-15 21:16] digitalsword commented on #760
@damienmg have you finished the bootstrap part? Maybe I can test it on redhat 6.7?

[2016-01-15 21:33] damienmg commented on #760
@digitalsword I am still trying to get them merged, some changes have landed already (0a7a3d2 and 12c68a) but there are more to do. It should land next week. Then I can concentrate on the auto-configuration mechanism for Bazel.

For your specific issue, you need to add `/usr/local/gcc/4.8.4/include/c++/4.8.4/` to the tools/cpp/CROSSTOOL file as a `cxx_builtin_include_directory` (that the kind of t

[2016-01-15 21:59] damienmg opened #792 "NullPointerException in skyframe.DelegatingWalkableGraph#getEntry"
I haven't investigated much but here what I get:
[code]

This is at HEAD (or more precisely at the soon to be 0.1.4rc2 which I am testing right now)

It seems to be here for at least a month because I got it also from a Bazel version from December 1st.

The workspace:
[code]

`$BAZEL build @protobuf//:cc_test_protos` seems to fix it.

[2016-01-15 22:00] damienmg commented on #792
@mikelalcon Do you have an hint on what is causing it?

[2016-01-15 22:21] damienmg commented on #784
Ok with my change 	9dc1f5a on protobuf and 0.1.4rc2 that is about to be released, this works.

We still have #792 though

[2016-01-15 22:37] #637 closed

[2016-01-15 23:54] flawless2011 commented on #587
@kchodorow The code is all uncommitted on my workstation.  The Google CLA has thrown things off a bit because I'm working with our internal legal processes to assess.  We're not used to dealing with a CLA on open source contributions.

Easiest thing might be for me to fork, commit, and send you guys a PR so you can see the code change while the CLA is being looked at.  I know that's not exactly fo

[2016-01-16 06:11] perezd commented on #145
Any updates on this? I'd love for this to be supported natively.

[2016-01-16 08:43] xgdgsc commented on #670
I also observed a 1GB memory java bazel process left running after trying to install bazel and tensorflow. I' m not sure it left after the bootstrap(installled from the AUR) or tensorflow staff though.  I have Arch Linux kernel 4.3.3-2-ARCH.

[2016-01-16 10:05] damienmg commented on #145
The Java test runner has landed in 0e396b827bca5ee507aadc875169e47d959a7136 and Philip has a inflight change for making sandboxing allow to output XML file. It should arrive somewhere next week. For now you can have the xml outputs by disabling sandboxing.

For the rest of the piping to Arcanist, we would welcome any contribution :)

[2016-01-16 18:34] perezd commented on #145
OK, I can give it a shot. Any docs on how to utilize it?

[2016-01-16 18:50] damienmg commented on #145
I don't really know what kind of doc you are expecting but if you run bazel
with `--spawn_strategy=standalone --nolegacy_bazel_java_test` you should
get XML output for every java test available in `bazel-testlogs`.

On Sat, Jan 16, 2016, 7:34 PM Derek Perez <notifications@github.com> wrote:

[2016-01-16 18:51] perezd commented on #145
Oh, this hasn't hit a release version yet has it?

[2016-01-16 18:52] damienmg commented on #145
No it should be in 0.2 (somewhere at the end of the month).

On Sat, Jan 16, 2016 at 7:51 PM Derek Perez <notifications@github.com>
wrote:

[2016-01-16 18:53] damienmg commented on #145
(and even then it should still requires the --nolegacy_bazel_java_test flag)

On Sat, Jan 16, 2016 at 7:52 PM Damien Martin-guillerez <dmarting@google.com>
wrote:

[2016-01-16 18:54] perezd commented on #145
Cool, please ping this thread when its in a release and I'll make it happen.

[2016-01-16 19:16] digitalsword commented on #760
@damienmg I am running into the glib version issue again. When you finish auto-configuration part, can you give me instructions on using auto configuration on Redhat 6.7? Thanks!

[2016-01-16 19:36] damienmg commented on #760
Sure but this will take a few more months before being ready :(

[2016-01-16 21:07] damienmg opened #793 "Generated python scripts fail to import correctly"
This is a direct consequence of http://bugs.python.org/issue6386:

[code]

This should works.

[2016-01-16 21:22] damienmg commented on #793
workaround is to do a `from b import a` as the pythonpath is set to the workspace root.

[2016-01-16 21:27] damienmg commented on #793
fwiw, because of that bug, the .pyc files are generated in the workspace root if the main script is not generated and without sandboxing.

[2016-01-16 23:27] mikea commented on #742
Still not fixed in
$ bazel version
Build label: 0.1.3
Build target: bazel-out/local_darwin-fastbuild/bin/src/main/java/com/google/devtools/build/lib/bazel/BazelServer_deploy.jar
Build time: Mon Jan 11 10:25:30 2016 (1452507930)
Build timestamp: 1452507930
Build timestamp as int: 1452507930

maven_jar(
    name = "rxjava",
    artifact = "io.reactivex:rxjava:1.1.0",
    sha1 = "748f0546d5c3c27f1aef

[2016-01-17 07:22] sakett commented on #50
Facing the same issue on RHEL6 it is is blocking our tensorflow build

[2016-01-17 11:29] tetsuok commented on #560
I also encountered same issue (OS X10.11.2, Xcode: 7.2, iOS SDK 9.2, Bazel 0.1.3). I created a minimal repro project at https://github.com/tetsuok/bazel-ios-app-test, which can be built as follows:
[code]

[2016-01-17 12:42] mnett commented on #748
Hi,

the problem cropped up again and this time I got a the thread dump:

[code]

2016-01-17 21:35:14
Full thread dump OpenJDK 64-Bit Server VM (25.66-b17 mixed mode):

"skyframe-evaluator 190" #291 prio=5 os_prio=0 tid=0x00007f0b18083000 nid=0x100f waiting on condition [0x00007f0ac87c6000]
   java.lang.Thread.State: WAITING (parking)
	at sun.misc.Unsafe.park(Native Method)
	- parking to wait for

[2016-01-17 17:33] janakdr commented on #748
Looks like you had two stack traces there. First one looks like it was
during loading. The only work being done is:

"skyframe-evaluator 120" #221 prio=5 os_prio=0 tid=0x00007f0b1802a000
nid=0xfbd runnable [0x00007f0ad1ad8000]
java.lang.Thread.State: RUNNABLE
at java.net.SocketInputStream.socketRead0(Native Method)
at java.net.SocketInputStream.socketRead(SocketInputStream.java:116)
at java.net.So

[2016-01-17 19:30] damienmg commented on #742
0.1.3 did not included 0e72b69 so it is expected.

[2016-01-17 20:52] tfarina commented on #311
@hanwen, @ulfjack: which compiler, which version and which os?

With g++ 4.8.1 on Ubuntu 12.04, I don't get any warnings anymore with:
$ ./output/bazel version
Build label: head (@af69e7a)
Build target: bazel-out/local_linux-fastbuild/bin/src/main/java/com/google/devtools/build/lib/bazel/BazelServer_deploy.jar
Build time: Sun Jan 17 20:40:02 2016 (1453063202)
Build timestamp: 1453063202
Build time

[2016-01-18 09:03] damienmg commented on #50
The precise issue with build-runfiles should be gone at HEAD hopefully in the afternoon. So only tuning tools/cpp/CROSSTOOL should be enough to works for custom C++ compilers (if they support the c++0x standard).

[2016-01-18 09:45] damienmg commented on #670
That's the bazel server it is expected. You can stop it with bazel shutdown from your workspace.

[2016-01-18 14:40] #757 closed

[2016-01-18 15:00] flawless2011 commented on #587
@kchodorow Here's our fork with the changes to enable proper proxy access: https://github.com/StateFarmIns/bazel

[2016-01-18 15:25] digitalsword commented on #760
@damienmg  I am able to compile the head version of bazel, however, when I try to compile tensorflow, I get glib error again.

[code]

I used these commands to compile tensorflow
[code]

Is there any environment variable to be set when using bazel to compile tensorflow, in other words how can I force bazel to use the newer glib library.

[2016-01-18 15:35] damienmg commented on #760
With the latest change, if you pass compile.sh then only the CROSSTOOL files change should be important. How did you modified your CROSSTOOL file?

[2016-01-18 15:38] digitalsword commented on #760
@damienmg

change CROSSTOOL file to:
[code]

and just compile with:

[code]

[2016-01-18 15:42] damienmg commented on #760
Invoking @ulfjack who knows more about C++.

[2016-01-19 04:14] cgrushko opened #796 "scripts/setup-intellij.sh fails with "Invalid command(s): tools,init""
Looks like removing "tools," from `scripts/get_all_bazel_paths.sh` gets the script going, but the build is currently broken, so can't tell for sure.
(and the last passing revision, af69e7ad5d395f3285467a4985d52c4d5e924ab1, still fails to build locally - I guess I'm not very familiar with Git)

[2016-01-19 04:28] cgrushko commented on #560
@damienmg can you route this to the right person?

[2016-01-19 05:23] eduarrrd opened #797 "Unable to build bazel 0.1.3 from source: javac unable to find symbols"
I'm trying to package bazel for my distro and while trying to compile it from source I'm running into to following issue.

Not sure what the problem is exactly. Maybe to bundled protobuf jar is out of date?

[code]

[2016-01-19 09:21] damienmg commented on #560
Humm, `bazel info package_path`?

Also Kristina is fixing the latest part in which we use the base_workspace so that issue should be resolved when this get merged (today?)

[2016-01-19 09:24] damienmg commented on #560
Oh wait I saw:

  This happens to me whenever I add a .bazelrc file to my project. The contents do not matter; it can even
  be empty. The presence of a .bazelrc makes this error message pop up.

So, the .bazelrc in your workspace file take precedence over your ~/.bazelrc, so your package path must be wrong because the new bazelrc file does not declare it.

If you want to share a bazelrc it's bett

[2016-01-19 09:25] damienmg commented on #560
Carmi: I let you follow-up that discussion.

[2016-01-19 13:33] #796 closed

[2016-01-19 14:27] hanwen commented on #64
they are already called "C/C++ rules" in the header. I'm not sure what to do here.

For @jhi 's comment - you can switch compilers by switching the crosstool. See eg

 https://github.com/bazelbuild/examples/blob/master/android-prebuilts/README.md

for an example of how to configure and use an alternate compiler.  I suppose you could use select() to make the flags depend on the compiler.

[2016-01-19 14:27] #64 closed

[2016-01-19 14:29] hanwen commented on #59
the best documentation currently is the included CROSSTOOL

 https://github.com/bazelbuild/bazel/blob/master/tools/cpp/CROSSTOOL

together with the proto definition,

https://github.com/bazelbuild/bazel/blob/master/src/main/protobuf/crosstool_config.proto

[2016-01-19 14:31] hanwen commented on #118
dots are allowed in package names as of c1caffaabd028493188b7e3419bedf3a9506dfee

[2016-01-19 14:31] #118 closed

[2016-01-19 14:33] hanwen commented on #775
It would be very hard to figure out what to delete, since you'd have to enumerate all possible outputs in the entire tree, and those outputs can change depending on compilation mode, target platform, compiler, etc.

[2016-01-19 14:34] hanwen commented on #775
closing because I think this is infeasible..............

[2016-01-19 14:34] #775 closed

[2016-01-19 15:58] hanwen commented on #729
I think this is fixed by 6ba5c97e9ad94b307b3383d9d18c9ef30e3f8322

[2016-01-19 15:58] #729 closed

[2016-01-19 16:20] hanwen commented on #697
seems to work now.

[2016-01-19 16:20] #697 closed

[2016-01-19 16:35] hanwen commented on #766
lukacs: "Report the error where SkylarkImportLookupValue.key is called
History is off. Messages may disappear before people see them.
instead of in SkylarkImportLookupFunction
where .key() is called, you should have an AST nearby"

[2016-01-19 17:10] jrings commented on #587
I'm trying your code @flawless2011 and the git cloning works, but the jpeg archive downloads returns a HTML page that says

Your credentials could not be authenticated: "". You will not be permitted access until your credentials can be verified.

is that on my end?

[2016-01-19 18:10] bsilver8192 commented on #788
Another part of --compilation_mode I find important is that it adds a component to the output path name which is separate from --platform_suffix. If you try to use multiple --config options which all want separate output directories, the --platform_suffix from the last one overrides all the other ones.

Also, --compilation_mode interacts with the CROSSTOOL file in some ways I don't think are possi

[2016-01-19 20:31] tfarina opened #798 "-Wunused-result warnings when running tests"
$ ./compile.sh test ./output/bazel
...
INFO: From Compiling src/main/cpp/blaze.cc [for host]:
src/main/cpp/blaze.cc: In function 'void blaze::AcquireLock()':
src/main/cpp/blaze.cc:1482:32: warning: ignoring return value of 'int ftruncate(int, __off_t)', declared with attribute warn_unused_result [-Wunused-result]
   ftruncate(globals->lockfd, 0);
                                ^
src/main/cpp/blaz

[2016-01-19 23:17] menny opened #799 "android_library does not rewrite AndroidManifest.xml file for ${applicationId} replacement"
Gradle can re-write `AndroidManifest.xml` files with `@{applicationId}` and replace this placeholder with the package name of the application's.

I created a demo repo that shows the problem:
https://github.com/menny/BazelPlayground/tree/manifest-re-write

This app builds and runs with no issues when using Gradle. It does not build with Gradle.

To clarify the severity, Google's own `com.google.an

[2016-01-20 01:51] davidzchen commented on #697
Yes, this was fixed by bf642fa0d9f3c5ece48350a471bdd4dc3d2d4f61.

[2016-01-20 02:00] vuw-ecs-kevin commented on #605
I am such a person. I had such problems. Only a web search that turned up this post
enabled me to track down what's actually going on: so a massive thank-you.

This has been my first experience of Bazel and I wanted to say that it's even less intuitive
than you suggest if you don't want to be on the cutting edge and so download  a TensorFlow
"release", because their most recent "release" tarball d

[2016-01-20 06:32] chin33z commented on #700
Hi,

My Bazel project can select the cross toolchain base on my customize --config option in bazel build command.
My select() is based on config_setting() is broken due to this fix [https://github.com/bazelbuild/bazel/commit/0c8049f5fc866d785dd83769fa6c38ecf771ba96].

The error message is:
[code]
The rlog-1.4 is an external repository.

Here is my project layout:
[code]

$ws> cat target/BUILD
[cod

[2016-01-20 08:53] damienmg commented on #605
This should be closed the message is reasonable. We should push TensorFlow to use a git_repository instead of git submodules.

[2016-01-20 08:53] #605 closed

[2016-01-20 11:17] hanwen commented on #700
@lberki - lukacs, can you comment?

[2016-01-20 11:40] #521 closed

[2016-01-20 11:40] #730 closed

[2016-01-20 11:40] #790 closed

[2016-01-20 11:49] hanwen commented on #797
I can verify that it worsk over here at c4af8287cd92ba4fe30dddb6f6c3fc881fe470fa.

Is it possible that you have PROTOC set so you get the wrong protobuf compiler?

[2016-01-20 11:54] hanwen commented on #798
please fix only the ones where you can meaningfully provide feedback; some of them happen in the daemonization code.

[2016-01-20 12:16] lberki commented on #700
How come cc_binary rules depend on //target:arm? Do you use
--crosstool_top=//target:arm? In that case, try
--crosstool_top=@//target:arm so that cc_binaries will always look in the
main repository for the cc_toolchain rule.

If I misunderstood, please a give more data. Ideally, a repository I can
clone and a Bazel command line I can run.

On Wed, Jan 20, 2016 at 12:17 PM, Han-Wen Nienhuys <notifi

[2016-01-20 12:18] davidsantiago opened #800 "ios_framework() rule doesn't generate a framework"
I've put up a repo to illustrate the issue here: https://github.com/davidsantiago/go_iosframework_problems

The ios_framework rule does not appear to actually generate a framework as output. The output of trying to generate the ios_framework rule's target, @swift-protobuf//:ProtocolBuffers, is at the bottom of this comment. As you can see, there is no build failure anywhere, but no .framework is o

[2016-01-20 12:34] chin33z commented on #700
I just craft a simplify workspace that could repro my problem.

Please check my latest comment in the thread. Thanks.

Bazel-discuss [https://groups.google.com/forum/m/?utm_medium=email&utm_source=footer#!msg/bazel-discuss/W5hTP4EiO9E/9lINybf1FwAJ]

[2016-01-20 12:37] hanwen commented on #649
ping ? Does this still need attention?

[2016-01-20 12:40] hanwen commented on #139
The current crosstool has NDEBUG for opt mode.

[2016-01-20 12:40] #139 closed

[2016-01-20 12:42] hanwen commented on #197
closing due to inactivity.

[2016-01-20 12:42] #197 closed

[2016-01-20 12:44] hanwen commented on #198
to me, this is working as intended. The original problem is that the BUILD files for Java source should add the .java extension to the glob patterns explicitly.

[2016-01-20 12:44] #198 closed

[2016-01-20 12:55] hanwen commented on #628
the warning is apparently harmless?

[2016-01-20 13:07] hanwen commented on #240
I declare this 'working as intended'.

I don't think you can detect whether a remote system can display a certain unicode codepoint, since you cannot access the terminal's rendering output.

Perhaps you can file a bug with whatever terminal emulator you are using? Or with your distribution, because they don't supply a font with the right emoji's?

[2016-01-20 13:07] #240 closed

[2016-01-20 13:36] hanwen commented on #248
we haven't seen this in a while.

[2016-01-20 13:37] damienmg commented on #248
http://ci.bazel.io/job/Bazel/306/JAVA_VERSION=1.8,PLATFORM_NAME=ubuntu_15.10-x86_64/console

[2016-01-20 13:37] damienmg commented on #248
It's happening every 3 days or so

[2016-01-20 14:19] hanwen commented on #247
you can now use %workspace% in bazelrc, does that help?

See e3681d1fb21efd7d0c597965c3642647649b417c

[2016-01-20 14:19] #676 closed

[2016-01-20 17:46] cgrushko commented on #628
No idea.
But we shouldn't spam our users with useless things -
should they open the project afterwards or not?
if it doesn't work for whatever reason, should they investigate this error?

[2016-01-20 18:20] kchodorow opened #801 "Issue with Bazel wrapper portability"
@bsilver8192 see https://github.com/bazelbuild/bazel/commit/ba04b2d2d2466540c39c93539285d7c97216272a#commitcomment-15559735.

[2016-01-20 18:53] damienmg commented on #801
I agree with Brian, we should not make that script too complex and let the wrapper portability happens in the vendored script.

However, we might want to provide a vendor script for the future that copies all your dependencies in your workspace file (i.e. vendor the external package, vendor the various bazel binaries and provide the correct WORKSPACE file). In that case then we would need to provi

[2016-01-20 20:42] ahumesky commented on #799
Can you talk about the use case for this? Is this for when, say, you have a library that has a manifest, and that manifest wants to use the application id of the final binary?

[2016-01-20 20:44] ahumesky commented on #799
Ok, I see from your example repo that this is what you were talking about:
https://github.com/menny/BazelPlayground/blob/manifest-re-write/rewrite-lib/src/main/AndroidManifest.xml#L11

[2016-01-20 21:05] ahumesky commented on #799
We're working on refactoring resource merging, and substituting ${androidId} should be enabled by that work, so this should be possible soon.

[2016-01-20 21:39] zer0n opened #802 "Unable to build TensorFlow using installers 0.1.1-3"
Cross post from https://github.com/tensorflow/tensorflow/issues/772#issuecomment-171735296

I run into the same problem when running
[code]

bazel 0.1.1 and 0.1.3 give this error immediately
[code]

bazel 0.1.2 fails to build protobuf.
[code]

[2016-01-20 23:37] xiongchiamiov commented on #790
Thanks!

[2016-01-21 01:03] menny commented on #799
thanks @ahumesky.

[2016-01-21 03:45] Hibbert-pku opened #803 "Unable to build protobuf using bazel 0.1.3"
I built it by bazel 0.1.1 successfully, my MacOS version is 10.11.2.
When I using bazel 0.1.3 to build protobuf, the errors are as follows:
INFO: From Compiling google/protobuf/src/google/protobuf/compiler/subprocess.cc:
gcc -U_FORTIFY_SOURCE -D_FORTIFY_SOURCE=1 -fstack-protector -fPIE -Wall -fno-omit-frame-pointer -std=c++11 -iquote . -iquote bazel-out/local_darwin-fastbuild/genfiles -iquote exte

[2016-01-21 03:51] chin33z commented on #700
Here you can clone an example of my issue.

select()/config_setting() works fine if the repository is under workspace.
However, it fails with the external repository case.

Not sure if this is a bug or not. Thanks.

https://github.com/chin33z/example

[2016-01-21 03:56] eduarrrd commented on #797
You were right, thanks! I did have PROTOC set. While it's curious that a newer proto3 (beta-2) would trigger this failure, unsetting it fixed the issue.

[2016-01-21 03:56] #797 closed

[2016-01-21 06:08] mikedanese opened #804 "querying a git_repository causes a reclone of the repository."
Workspace:
[code]
command:
[code]

Will reclone the repo every time it's run which can take some time for big repositories. Building any target in the external repository also cause a reclone. Is this expected?

[2016-01-21 06:29] mikedanese commented on #804
This seems to have stopped happening...

[2016-01-21 06:29] #804 closed

[2016-01-21 07:31] achew22 opened #805 "Blaze query crashes"
I recently switched from a home grown CI setup to the [ci.sh](https://github.com/bazelbuild/bazel/commit/f88f4d81acead9ef3e2f73d9a44afd76c2c239c1) script included in this repo. I have Jenkins clone my base repo then run a copy of ci.sh. However, when I run it I get this exception:

[code]

In my WORKSPACE I have an entry:
[code]

I'm not even sure where to start on debugging this. It only occurs w

[2016-01-21 09:30] lberki opened #806 "new_local_repository does not notice new file in the target directory"
This is probably because it symlinks every individual file instead of the directory (for a good reason).

Repro (didn't try, just rough details):

[code]

[2016-01-21 09:30] lberki commented on #806
@kchodorow : do you have bandwidth to tackle this?

[2016-01-21 09:59] lberki commented on #700
Works for me. What I tried:

[code]

Did I misunderstand something?

Which version of Bazel are you using? 85834ad seems like it should have something to do with this bug, but I checked with a Bazel just before that commit and it fails differently than you described.
Are you using Bazel at HEAD? I could

[2016-01-21 10:41] chin33z commented on #700
Sorry, I'm not sure if I misunderstand the purpose of [new_local_repository](http://bazel.io/docs/be/workspace.html#new_local_repository). I think I could import any local directory by this rule, right?

What I want to do in my example is, import the src/ to workspace/ by new_local_repository. Thus, the BUILD file can access the main2.c correctly. The main2.c is placed in src/ not workspace/ inten

[2016-01-21 12:05] damienmg commented on #805
@davidzchen @kchodorow could you take a look?

[2016-01-21 12:13] lberki commented on #700
My bad. I can reproduce this now. The fix is, unfortunately, not trivial
and requires some careful thought. Let me see if I can get around doing it
later today...

On Thu, Jan 21, 2016 at 11:42 AM, David Hu <notifications@github.com> wrote:

--
Lukács T. Berki | Software Engineer | lberki@google.com |

Google Germany GmbH | Maximillianstr. 11-15 | 80539 München | Germany
| Geschäftsführer: Matthew

[2016-01-21 12:17] damienmg commented on #803
Are you compiling TensorFlow? Can you give the full command line?

[2016-01-21 12:26] damienmg commented on #802
Let's just 0.1.3 (or 0.1.4)
Can you reproduce without --config=cuda?

I cannot and cannot seems to be able to configure cuda correctly on my machine.

[2016-01-21 14:32] ulfjack commented on #760
Tricky, since I can't reproduce the issue. I tried downloading a docker image for rhel6.7, but I can't seem to figure out how to install stuff on it.

The env variables are ignored by Bazel, and the compile.sh should no longer compile any C++ code. Therefore, any errors you get have to be from a run of Bazel itself, and the only way to fix them is to change the CROSSTOOL file.

If you have a C++ b

[2016-01-21 14:50] zer0n commented on #802
`bazel build -c opt //tensorflow/tools/pip_package:build_pip_package` gives the same error.

(tested with bazel 0.1.3).

[2016-01-21 14:52] damienmg commented on #802
pulling in @dzc if he knows more about that. It's probably a git config issue

[2016-01-21 14:55] damienmg commented on #760
(not all the env variable are ignored, JAVA_HOME is used)

[2016-01-21 15:07] lberki commented on #700
....aand, I didn't. I'll try again tomorrow.

[2016-01-21 16:12] kchodorow commented on #806
Yeah, that makes sense, I'll take a look.

[2016-01-21 16:55] casiciaco commented on #629
Actually, you also need to modify the compile.sh
and ad at the beggining
[code]
You can also add there your exports for CC CXX JAVA_HOME, etc.

[2016-01-21 16:56] casiciaco commented on #649
Actually, you also need to modify the compile.sh
and ad at the beggining
[code]
You can also add there your exports for CC CXX JAVA_HOME, etc.

With that I was able to compile bazel.0.1.1

[2016-01-21 16:56] #649 closed

[2016-01-21 17:21] claridge opened #807 "Linker scripts in cc_library deps missing from sandbox"
In https://github.com/bazelbuild/bazel/issues/184, we added support for linker scripts (.ld and .lds files) to cc_library's "deps" attribute. However, these don't appear to be mounted to the sandbox.

As a short-term workaround, I put my linker scripts in a filegroup and included that in the linker_files attribute of the appropriate cc_toolchain.

[2016-01-21 18:19] martinwicke commented on #753
We have added `--spawn_strategy=standalone` for all bazel commands in the build instructions for TensorFlow. There are simply too many cases that fail without it, even on run off the mill systems.

@bsilver8192: For my education, what effect does `new_local_repository(path = '/usr')` have? Will it make all programs under /usr available in the sandbox?

[2016-01-21 18:36] damienmg commented on #753
Yes if you make your targets depends on a new_local_repository(path =
'/usr', build_file = "big_glob.BUILD") and set "big_glob.BUILD" to have a
"filegroup(name = "big_glob", srcs = glob(["**"]))" then all the file of
/usr will get shiped in the sandbox.

That's going to be probably really really slow.

On Thu, Jan 21, 2016 at 7:19 PM Martin Wicke <notifications@github.com>
wrote:

[2016-01-21 18:40] kchodorow commented on #753
However, if you just depend on what you need (don't glob everything!) then
it shouldn't be slow.

On Thu, Jan 21, 2016 at 1:36 PM, Damien Martin-Guillerez <
notifications@github.com> wrote:

[2016-01-21 18:49] damienmg commented on #654
Closing with lack of data.

[2016-01-21 18:49] #654 closed

[2016-01-21 18:49] damienmg commented on #784
Closing on our side, the PR is sent out.

[2016-01-21 18:49] #784 closed

[2016-01-21 20:13] xiongchiamiov opened #808 "Cannot perform .relative imports in python"
From what I can tell, bazel makes it impossible to use explicitly-relative imports (which, btw, have been around [a very long time](https://docs.python.org/2.5/whatsnew/pep-328.html)); attempting to do so always leads to an error:

[code]

This means that if using either python3 or `from __future__ import absolute_import`*, there is no way to import sibling/child file without specifying the full p

[2016-01-21 21:05] vrv commented on #802
@zer0n: try adding --spawn_strategy=standalone

Also, I think as of this morning we now require bazel 0.1.4 because of internal changes made by the bazel team to start using labels for loading skylark extensions.

[2016-01-21 21:56] mrdomino opened #809 "bazel query is broken when base_workspace is checked in"
My current approach to a fully vendored bazel is to check the base workspace, as well as binaries for every platform, into my repository, and to create appropriate symlinks for tools/ and third_party/.

But a bunch of stuff in base_workspace (at least on 0.1.3) refers to targets that don't exist, e.g.:

[code]

So bazel query produces a lot of errors.

[2016-01-21 22:08] mrdomino commented on #801
FYI I also agree with Brian. The current approach seems good -- I just hadn't grokked that tools/bazel would be something other than bazel-real.

[2016-01-21 23:24] zer0n commented on #802
Thanks @vrv . Adding `--spawn_strategy=standalone` works.

FYI, bazel 0.1.4 also fails to build without the above option.

[2016-01-21 23:26] vrv commented on #802
@damienmg: is there a bug we can point people as to why --spawn_strategy=standalone is required, and when it might be fixed?

[2016-01-21 23:30] vrv commented on #802
Looks like https://github.com/bazelbuild/bazel/issues/753

[2016-01-22 02:18] Hibbert-pku commented on #803
I only compile protobuf (commit aa3675415ec8da317793a3e151e44daaebc21ff8) by bazel for using cc_proto_library() , and I solve it by using bazel 0.1.1. I wonder if anyone else second this error? If so I'll follow. So we can close this issue now until someone else encounter it.

Best Regards,
Xibai

[2016-01-22 03:34] chin33z commented on #700
Thanks for the help. Should we reopen this or open another tickets?

[2016-01-22 03:36] pgr0ss commented on #247
That looks interesting. I'll have to check it out.

[2016-01-22 05:01] bsilver8192 commented on #805
That looks like a problem related to files left laying around in the output of the repository. What's in the external/grpc_gateway_files folder under the output base? It'll probably be in ~jenkins/.cache/bazel/_bazel_jenkins/[some hex characters].

Have you tried restarting Bazel since this happened the first time?

What version are you running? dfc44a4f14582fdfdebd7f0a6d56ec23fc2ed6 fixed an issu

[2016-01-22 07:14] davidzchen commented on #802
FYI The jsch NoClassDefFoundError was a known issue for Bazel 0.1.1 (see #596) and was fixed in 916370ec6195d7fc13812e64a65c2cd6ef9e36c9 and should not be occurring anymore in the latest release.

[2016-01-22 07:18] achew22 commented on #805
I was running an old version of Bazel on my CI box. I have corrected for that and added a call to bazel version to the top of my build log. Hopefully I'll see that and realize what's up next time. Sorry for the spam :frowning:

[2016-01-22 07:18] #805 closed

[2016-01-22 07:20] davidzchen commented on #805
No problem. Feel free to open a bug if you see the issue again.

[2016-01-22 07:23] davidzchen commented on #808
Related: #702

[2016-01-22 07:37] davidzchen commented on #59
Perhaps let's add a brief definition of what the CROSSTOOL file is and what it is used for in the documentation on bazel.io? There are [mentions of CROSSTOOL on the site](http://bazel.io/search.html?cx=012346921571893344015%3Axv_nfgpzbu4&cof=FORID%3A10&ie=UTF-8&q=CROSSTOOL) but I don't think we ever explain what it is anywhere.

[2016-01-22 08:10] zer0n commented on #802
@davidzchen Apparently, there was a regression in `bazel 0.1.3`.

I got around that issue by commenting out this line in my `.gitconfig` file.

[code]

[2016-01-22 08:17] lberki commented on #806
Thanks :)

[2016-01-22 09:27] damienmg commented on #808
Also related: #793

[2016-01-22 10:01] damienmg commented on #809
You could just check in the binary without the tools that are already
included in the binary itself.

On Thu, Jan 21, 2016, 10:57 PM Steven Dee <notifications@github.com> wrote:

[2016-01-22 10:03] damienmg commented on #803
Can you give more details about your setup? (Your WORKSPACE if it is not
protobuf, and the bazel command you use to run)

On Fri, Jan 22, 2016, 3:18 AM Xibai Li <notifications@github.com> wrote:

[2016-01-22 10:17] davidzchen commented on #802
Interesting. I'll take a look.

[2016-01-22 10:25] davidzchen commented on #702
After looking further into how to use protobuf for Python with Bazel, I am now more convinced that we need this in order to remove the [hack](https://github.com/google/protobuf/blob/master/BUILD#L483) that requires importing the protobuf repo as `//google/protobuf` in your workspace.

As explained in the above link, the reason why need this hack is because the generated Python protobuf files conta

[2016-01-22 10:31] davidzchen commented on #784
I think we need to make it possible to add directories to the `PYTHONPATH` for the Python rules in order to be able to use an external repository rather than git submodule for vendoring protobuf. I added a comment explaining this in #702.

[2016-01-22 10:36] damienmg commented on #702
Once https://github.com/google/protobuf/pull/1165 is merged, we can indeed recommends to remove the comment.

[2016-01-22 10:40] davidzchen commented on #702
Doesn't google/protobuf#1165 only fix the problem encountered when loading protobuf.bzl from an external repository? Or does it also solve the Python imports problem?

[2016-01-22 10:41] davidzchen commented on #802
I found the problem. Commit 27760a6efefc64f9577ed1add120b60399203be3 inadvertently removed `//third_party/jsch` from the `runtime_deps`. I'll put together a patch for restoring that dependency.

[2016-01-22 10:53] damienmg commented on #702
It doesn't solve the py import problem as a submodule but PYTHONPATH is
correctly set to include external repositories so it fixes those case.

On Fri, Jan 22, 2016 at 11:40 AM David Z. Chen <notifications@github.com>
wrote:

[2016-01-22 11:00] davidzchen commented on #702
I still don't quite follow. The generated sources still `from google.protobuf.xxx import yyy`.

* In the git submodule case, this currently requires the the protobuf repository to be under `//google/protobuf` in the workspace.
* In the external repository case, from what I understand the root of the external repository is added to `PYTHONPATH` but there is no `google/` directory in the protobuf so

[2016-01-22 11:23] davidzchen opened #810 "Add support for cloning over SSH for git_repository rules"
Currently, the `git_repository` workspace rules only support cloning over HTTP and do not support cloning over SSH. Adding support for SSH authentication [is not too difficult](http://www.codeaffine.com/2014/12/09/jgit-authentication/) but will require some careful consideration about how the credentials are passed.

[2016-01-22 11:26] davidzchen commented on #802
The patch that restores the jsch `runtime_dep` should be out with the next push. Note that this will only fix the `NoClassDefFoundError`; the Git workspace rules currently only support cloning via HTTP but not via SSH. I have opened #810 for adding support for cloning via SSH.

[2016-01-22 11:39] damienmg commented on #702
oh I see, yes it's a good idea to upstream those change too.

[2016-01-22 11:51] lberki opened #811 "select() doens't work in remote repositories with labels pointing to the main one"
For example: `select({"@//:foo"}: <stuff>)`

This is a consequence of our awkward handling of main repository / default repository labels.

@bsilver8192 is working on making this more sane in the code, but in the meantime, I'll fix it with a quick patch so as not to step on his toes and so that @chin33z is not blocked.

[2016-01-22 11:52] lberki commented on #700
https://github.com/bazelbuild/bazel/issues/811 filed. I have a change out, let's see if I can get it submitted today.

[2016-01-22 11:54] damienmg opened #812 "Incorrect XML test generation for failing tests (Java)"
<failure message='' type='java.lang.InterruptedException'>java.lang.InterruptedException
	at java.lang.Object.wait(Native Method)
	at java.lang.Thread.join(Thread.java:1245)
	at java.lang.Thread.join(Thread.java:1319)
	at com.google.devtools.build.lib.shell.InterruptibleTest.waitForInterrupter(InterruptibleTest.java:72)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflec

[2016-01-22 13:11] weijianwen commented on #760
@ulfjack @damienmg thank you for your replies. It is mentioned that

I think that's the reason that bazel ignores GLIBCXX placed in directories among `$LD_LIBRARY_PATH`.

I worked on Cent OS 6.x. This issue happens when I built bazel 0.1.4 from source with `gcc/g++` and `libstdc++.so` in non-standard directories.

Customization made to `CROSSTOOL`
-------

I specify gcc and necessary header files.

[2016-01-22 13:14] damienmg commented on #760
Could you try at HEAD? I removed most C++ compilation from the first steps
to build-runfiles should not be build.

On Fri, Jan 22, 2016 at 2:11 PM 健美猫 <notifications@github.com> wrote:

[2016-01-22 13:14] damienmg commented on #760
For printing all action, use -s. With the compile script, do
EXTRA_BAZEL_ARGS='-s'

On Fri, Jan 22, 2016 at 2:13 PM Damien Martin-guillerez <dmarting@google.com>
wrote:

[2016-01-22 13:30] weijianwen commented on #760
I tried the head version(0bf232e). It failed with different messages which are less meaningful compared to version 0.1.4. According to the output given by ```EXTRA_BAZEL_ARGS='-s'```, the action taken before the errors arise is ```//src/main/tools:process-wrapper```.

[code]

[code]

[2016-01-22 13:34] damienmg commented on #760
can you set EXTRA_BAZEL_ARGS='--verbose_failures' and show a bit more of the output log?

[2016-01-22 13:39] weijianwen commented on #760
Sure thing. Here it comes. I am planning give it a try, running the long coamnnd `exec env...` manually.

[code]

[2016-01-22 13:44] damienmg commented on #760
I still cannot spot the error, can you execute the last command outside of bazel:
[code]

If it passes, can you try setting `--spawn_strategy=standalone --genrule_strategy=standalone` to the extra args?

[2016-01-22 14:05] weijianwen commented on #760
Hmm, I am trying to run the long coammand without basel, finding that some intermedia directories are missing.

* `basel-*` (basel-output, basel-bin, ...) are symblic links pointing to temp directories outside basel. These temp directories are generatd during compiling then deleted automatically after exit.
* There is no `external/` directory.

So, the long command seems to exit all the time as it

[2016-01-22 14:10] damienmg commented on #760
oh yes, can you try to comment out that line:
https://github.com/bazelbuild/bazel/blob/master/scripts/bootstrap/buildenv.sh#L49

Then rerun the compile.sh script with verbose_failures and again try to run the failing command outside of bazel?

[2016-01-22 14:27] weijianwen commented on #760
It seems that we are making some progress. I got a very clear error message this time. It is `ijar`. I run the command **successfully** outside basel. `ijar` depends on `libstdc++.so.6` which is specified in `$LD_LIBRARY_PATH`. I guess this environment variable should be send to the process who lauches `ijar`.

[code]

[code]

[2016-01-22 14:29] damienmg commented on #760
Try:

[code]

[2016-01-22 14:34] weijianwen commented on #760
`export BAZEL_ARGS='--genrule_strategy=standalone --spawn_strategy=standalone'` doesn't help. The same issue happens.

[code]

[2016-01-22 14:34] damienmg commented on #760
The solution is probably there:
create a wrapper script around gcc and put it there: tools/cpp/<name>.sh, the script would look like:
[code]
then replace gcc here https://github.com/bazelbuild/bazel/blob/master/tools/cpp/CROSSTOOL#L86 and in other place in the CROSSTOOL file too.

[2016-01-22 14:50] weijianwen commented on #760
@damienmg thank you. I'll try your approach and let you know as soon as possible. Before that, I verified that `$LD_LIBRARY_PATH` may be a direction to fix this.

This script `ok.sh` works.

[code]

This scirpt `ok-too.sh` works too.

[code]

This scirpt `bad.sh` does NOT work, which hides environment variable `$LD_LIBRARY_PATH` for the subprocess, leading to the typical GLIBCXX compalin.

[code]

[2016-01-22 14:54] damienmg commented on #760
Oh, you might want to force set the environment in the process-wrapper then...

[2016-01-22 15:09] mrdomino commented on #809
This seems to work. Why is base_workspace still included in the 0.1.3 package then? Just legacy?

[2016-01-22 15:20] weijianwen commented on #760
`gcc.sh` wrapper doesn't work. The same issue persists. So the a feasible solution for RHEL 6.x user would be:

1. Customize gcc in `ools/cpp/CROSSTOOL`, pointing it your prefered compiler.
2. Comment out the line `atexit "rm -fr ${DIR}"` in `bazel/scripts/bootstrap/buildenv.sh`.
3. Add "exec env -i LD_LIBRARY_PATH=$LD_LIBRARY_PATH " for the subprocess.

I don't think `/src/main/tools/process-wrap

[2016-01-22 15:47] damienmg commented on #760
You are right the actual right place is there: https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/standalone/StandaloneSpawnStrategy.java#L166

[2016-01-22 15:49] damienmg commented on #760
Or simply add -Wl,-R/path/to/dynamiclib/ to the tools/cpp/CROSSTOOL file for linker option.

[2016-01-22 15:50] damienmg commented on #809
It's legacy because we still needs it for skylark dependency. It is going to be removed in 0.2

[2016-01-22 15:50] #809 closed

[2016-01-22 16:06] #792 closed

[2016-01-22 16:06] #812 closed

[2016-01-22 16:16] kchodorow commented on #421
This should now work (fixed by e87849b8d391af8f5d98e3a91e680e88a1264b64).

[2016-01-22 16:16] #421 closed

[2016-01-22 16:24] weijianwen commented on #760
🎉🎉🎉🎉`-Wl,-R` works great! Linker rocks! I really appreciate @damienmg 's help on this issue.

In summary, to build bazel with a customized gcc and gcxxlib other than the standard paths, I customized `tools/cpp/CROSSTOOL`

[code]

Then comment out the `atexit` line in `scripts/bootstrap/buildenv.sh`:

[code]

Finally build bazel:

[code]

[2016-01-22 18:14] #801 closed

[2016-01-22 18:42] xiongchiamiov opened #813 "Skylark's min() doesn't support the key parameter"
I'm using [these hacks](https://github.com/mihaibivol/bazel_pipy_rules) to pull in PyPI libraries for a Python project.  Yesterday, I added in py.test (a common testing framework) as a dependency, but ran into issues because they have several `setup.py`s in their repo, and the hack [just picks the first one from an arbitrary ordering](https://github.com/pytest-dev/pytest/blob/1f6988bdec07caa0c6488

[2016-01-22 21:41] davidzchen commented on #802
The jsch NoClassDefFoundError is now fixed by cc9e445. The other issues seem to be separate problems.

[2016-01-23 03:08] Hibbert-pku commented on #803
I found the reason now, I have used a crosstool which add some compile options when compiling protobuf. Of course I can build origin protobuf by bazel0.1.3.

Here is a link of a toy code repo:
https://github.com/Hibbert-pku/bazel_protobuf

BTW, it seem that if I want to use crosstool like "--crosstool_top=//crosstool:crosstool", all the compile will go through crosstool. Is it the only way to hand

[2016-01-23 05:17] digitalsword commented on #760
@weijianwen Are you able to compile tensorflow? I am also able to build bazel. But when using bazel to compile tensorflow, I got the following error. It seems the bazel binary is invoking the older GCC to compile tensorflow.
[code]

I also inspected the bazel binary.
[code]

[2016-01-23 08:54] fzakaria commented on #164
Just thought I'd open this:
You made the change to 'hdrs' which is only for "public"

I've come across some repositories (i.e. gflags ) that use different extensions for internal-only header files.
Perhaps this needs to be more lax in general. I'm not sure why bazel makes assumptions on the extension since we are providing the file format to the properties.

[2016-01-24 12:10] davidzchen commented on #702
I have a [patch](https://github.com/davidzchen/bazel/commit/608337a8f16b9472662125d8a47f283cbdb126f0) that adds the `imports` attribute to the Python rules. It works with the Python example under `//examples/py_native`. Once I successfully test it with protobuf and having tensorflow include protobuf as an external repository, I'll send it out for review.

[2016-01-24 14:26] cgrushko opened #815 "--test_output=errors should be the default"
True, Bazel prints the log file name, but I think an interactive user would almost always want to see the failure reason.

[2016-01-24 14:58] damienmg commented on #815
This was somehow made the default at some point of time and resulted in a lot case where it was spamming the user so it was reverted.

[2016-01-24 15:00] cgrushko commented on #815
Do you have a link to that discussion?

[2016-01-25 10:34] lberki commented on #164
I think you're actually right, but IIRC we have a bunch of places where some extensions are hard-coded into Bazel, or at least that's a few references to CppFilesTypes.CPP_SOURCE would suggest. @ulfjack  ?

[2016-01-25 14:04] hanwen commented on #815
It was a google internal discussion. In short many people do

  bazel test foo/bar/...

if you make some error in a base class, all of them will fail, and make the terminal log unusable.

[2016-01-25 14:51] damienmg commented on #815
Anyway let's not do that.

[2016-01-25 14:51] #815 closed

[2016-01-25 16:57] #811 closed

[2016-01-25 18:55] shahms opened #816 "bazel.io in-page tutorial links are broken"
A substantial fraction of the documentation links in the tutorial point to "<page>.md" rather than "<page>.html"; e.g. the "setting up" link from http://bazel.io/docs/tutorial/index.html

The "next" links in the tutorial are pretty much universally broken, but I recall encountering this issue on other pages as well.

[2016-01-25 22:38] mnbittorrent opened #817 "Can Bazel be configured to work with Clang on Android NDK?"
There's a note in this [example](https://github.com/bazelbuild/bazel/tree/master/examples/android) for android that says:

Is there any way to hack around this to swap GCC for Clang until it is officially supported?

[2016-01-26 03:21] chin33z commented on #811
Thanks. It really helps!

[2016-01-26 15:48] davidzchen commented on #816
This has been fixed with the newest doc push.

[2016-01-26 15:48] #816 closed

[2016-01-26 15:59] digitalsword commented on #760
@damienmg Do you know why this is happening? When I try to compile tensorflow, the bazel binary does not use the newer gcc, even though the bazel binary was compiled with the newer gcc

[2016-01-26 16:02] damienmg commented on #760
What's your version of gcc?

[2016-01-26 17:42] ahumesky commented on #817
We have the beginnings of support for clang, but it doesn't appear to be working at the moment, e.g.:

bazel build l:hello_world --fat_apk_cpu=x86 --android_compiler=clang3.6
INFO: Found 1 target...
ERROR: /usr/local/google/home/ahumesky/bazel-android-test/java/bazel/BUILD:26:1: C++ compilation of rule '//java/bazel:jni' failed: clang failed: error executing command external/androidndk/ndk/toolcha

[2016-01-26 18:34] ekuefler commented on #393
Another note for anyone who comes across this - it looks like you now also need to pass `--spawn_strategy=standalone` to bazel when you're trying to run a debugger against recent versions of Bazel. I'm guessing the sandbox started blocking access to the debugger port at some point.

[2016-01-26 18:44] digitalsword commented on #760
@damienmg  gcc 4.8.4

[2016-01-26 21:39] damienmg commented on #702
I rethough a bit of

[code]

When including a git_repository and extracting the submodules (for TensorFlow for example), it works just fine because the PYTHONPATH include the git repository base and the submodule for protobuf will be in google/protobuf.

Anyway, we definitely wants to have your  change in for 0.2 I think, could try to merge it ASAP?

[2016-01-27 00:16] jenvannier commented on #257
Any progress on this? I can have objc_library's depend on cc_libraries, but when putting that obj_library as a dependency of an obc_binary I get "ld: symbol(s) not found for architecture i386".

[2016-01-27 05:45] mikedanese opened #818 "Trouble including .a and .so in sandbox with linkopts"
I have a rule:

[code]

When I build:

[code]

It looks like everything worked. But when I run:

[code]

It looks like those files are not included in the sandbox. I checked and those paths exist on the host.
This is my tcmalloc BUILD:

[code]

How do I link tcmalloc to another cc library?

[2016-01-27 06:01] davidzchen commented on #702
Agreed. I'll send it out for review as soon as I am done testing it.

[2016-01-27 09:03] damienmg commented on #760
can you use bazel with `--verbose_failures` and past the output?

[2016-01-27 09:04] damienmg commented on #393
I haven't tested but with the new Junit runner it should work. That is with `--nolegacy_bazel_java_test`

[2016-01-27 15:18] #643 closed

[2016-01-27 17:24] jmtatsch commented on #587
@kchodorow I can confirm @flawless2011 fix works for me

[2016-01-27 17:56] kchodorow opened #819 "location just doesn't work from remote repositories"
To reproduce:

[code]

Fails with:

[code]

On the plus side, much easier to debug than when I thought it was OS-X-specific.  On the downside, I can't believe we don't have any tests for this.

[2016-01-27 20:46] ivucica opened #820 "Link to corporate contributor license agreement is broken"
In [CONTRIBUTING.md], link to "corporate contributor license agreement" is broken.

[CONTRIBUTING.md]: https://github.com/bazelbuild/bazel/blob/7b93bbec4b356accac9f4421432993bb869b49a9/CONTRIBUTING.md

[2016-01-27 21:04] kchodorow commented on #820
Looks like it should link to https://cla.developers.google.com/about/google-corporate, we'll update the docs.  Thanks!

[2016-01-27 23:46] markusdr opened #821 "Download error for new_http_archive url"
I'm getting the following bazel error with tensorflow:

    $ bazel build -c opt --config=cuda //tensorflow/cc:tutorials_example_trainer
    ERROR:  tensorflow/tensorflow/core/platform/default/build_config/BUILD:36:1:
    no such package '@jpeg_archive//':
    Error downloading from http://www.ijg.org/files/jpegsrc.v9a.tar.gz

It turns out that bazel cannot download directly from the `ijg.org` in

[2016-01-28 00:19] ahumesky commented on #821
Hi Markus,
You could convert the new_http_archive rule in tensorflow's workspace file
to a new_local_repository rule:
http://bazel.io/docs/be/workspace.html#new_local_repository

Unpack jpegsrc.v9a.tar.gz somewhere and point the new_local_repository to
that path.

On Wed, Jan 27, 2016 at 6:46 PM Markus Dreyer <notifications@github.com>
wrote:

[2016-01-28 09:02] jendap opened #822 "minimum_required_bazel_version WORKSPACE rule?"
Can we, please, add something like 'bazel(minimum_required_version="0.1.4")' to WORKSPACE (or BUILD) file? Most build systems have that feature. For example maven has <prerequisites><maven>3.0.0</maven></prerequisites>.

If the requirement is not met it should print a _readable_ message like "You need bazel 0.1.4 or newer to build this, please download and install it from http://..."

Rationale: T

[2016-01-28 09:27] damienmg commented on #822
Yes that's something we plan to do. Might make sense to do it sooner now. @kchodorow and @jhfield, we discussed that earlier about skylark extension.

[2016-01-28 15:39] #819 closed

[2016-01-28 15:39] #820 closed

[2016-01-28 16:32] kchodorow opened #823 "Archiving artifacts fails"
See http://ci.bazel.io/job/Bazel/JAVA_VERSION=1.7,PLATFORM_NAME=ubuntu_15.10-x86_64/326/console:

[code]

I don't think it's actually causing any issues, so marking P3.

[2016-01-28 17:09] damienmg commented on #823
That's working as intended. There's no way that I know to remove those warnings.

[2016-01-28 17:09] #823 closed

[2016-01-28 17:32] markusdr commented on #821
For some reason, when I convert to `new_local_repository` it gives another error:

    $ bazel build -c opt --config=cuda //tensorflow/cc:tutorials_example_trainer
    ERROR: /home/local/ANT/mddreyer/.cache/bazel/_bazel_mddreyer/276918196e903f82b3401cd1a0adce36/external/jpeg_archive/BUILD:67:1: in genrule rule @jpeg_archive//:configure: cycle in dependency graph:
        //tensorflow/cc:tutorials_

[2016-01-28 18:53] ahumesky commented on #821
Great, glad it's working for you now

[2016-01-28 21:41] damienmg opened #824 "Enable load statement from remote repository in the WORKSPACE file"
For now load statement only load file from current repository because of a cycle in the dependency graph. Working a more general solution for it.

[2016-01-29 02:32] bricerebsamen opened #825 "query labels includes empty"
`bazel query 'labels(srcs,...)'` returns all the files listed in the srcs attribute of all the targets. But `bazel query 'labels(includes,...)'` returns nothing.

I'm trying to get the list of include directories for my cc rules.

[code]
gives me all the headers and sources :smile:

[2016-01-29 04:32] jendap opened #826 "should debian package dependency on openjdk-8-source"
It makes (some) docker images bigger. But not a big deal.

Would it be enough to have it as "Suggests:" instead of "Depends:" in the control file?

[2016-01-29 06:51] damienmg commented on #826
We removed that dependency at HEAD.

[2016-01-29 06:53] damienmg commented on #826
see d5b2d25c33500d1aa418566dd74758b8171ddef2

[2016-01-29 06:53] #826 closed

[2016-01-29 07:48] thagikura opened #827 "support v13 library is missing for android dependencies"
I can't import the support v13 library as an Android deps.

Probably because the entry is missing in the android_sdk_repository_template https://github.com/bazelbuild/bazel/blob/5cf42ff6898ff2a459956405f57f0338f9a2a01b/src/main/java/com/google/devtools/build/lib/bazel/rules/android/android_sdk_repository_template.txt

[2016-01-29 08:14] thagikura commented on #827
Sent a CL for review
https://bazel-review.googlesource.com/#/c/2790/

[2016-01-29 13:09] ivucica opened #828 "Go rules: Support specifying custom package name"
## Issue

Go rules currently assume that the Go package name matches the directory path (Bazel package name) from workspace root onwards, plus the build rule name. This is not always true, especially if, for technical reasons, a single `BUILD` file describes a tree of Go sources.

### Proposed fix

Users should be able to specify a custom Git package name in at least the `go_library()` build rule.

[2016-01-29 14:47] #827 closed

[2016-01-29 21:43] jendap commented on #826
Thank you!

BTW: I see. You did it 15 days ago. That explain why I could not send you PR. I could not find it in the source tree any more :-)

[2016-01-29 22:12] hhclam opened #829 "Bazel should have a way to exclude scanning certain directories when using //..."
When using the //... label to refer to all targets in the workspace Bazel always scan into all directories even if exclusion is used, e.g. using the - operator. The exclusion only happens after Bazel has scanned through the directories.

It would be nice if Bazel has options to exclude directories such as --exclude_dir=something/ that we can instruct not do scan.

[2016-01-29 22:13] hhclam commented on #487
It turns out the workaround no longer works since ctx.command_helper is removed. The last time I tested this is still broken and we're still having problem to a java_binary target from skylark correctly.

[2016-01-30 21:09] bsilver8192 commented on #818
Is there some reason you have `"@gperftools//:tcmalloc"` in both `deps` and `linkopts`? Bazel should handle linking it in correctly if you just put it in `deps`.

[2016-01-30 21:13] bsilver8192 commented on #817
Another hint for anybody who looks at this: the BUILD file next to the CROSSTOOL file might need work too in order to include all of the appropriate files in the sandbox.

[2016-01-30 21:28] mikedanese commented on #818
From linkopts doc: Each element of this list that does not start with $ or - is assumed to be the label of a target in deps. The list of files generated by that target is appended to the linker options. An error is reported if the label is invalid, or is not declared in deps.

[2016-01-30 21:42] bsilver8192 commented on #818
I can see how that's confusing, but `linkopts` is intended for things like linker scripts, not other libraries.

Bazel-built libraries which should get linked into another `cc_*` rule go in `deps`, and external .so/.a/.o files go in `srcs`. It's a bit complicated because `cc_library` rules don't have the .so and .a file as normal outputs like eg the binary from `cc_binary` because Bazel chooses be

[2016-01-31 10:26] eric0755 opened #830 "Download D lang package Hash error"
ERROR: /Users/huangni/hn2/mz/bazel/tools/build_defs/d/BUILD:26:1: no such package '@dmd-darwin-x86_64//': Error downloading from http://downloads.dlang.org/releases/2.x/2.067.1/dmd.2.067.1.linux.zip to /private/var/tmp/_bazel_huangni/36885a4e9a5ce5a9481cb328bb82737b/external/dmd-darwin-x86_64: Downloaded file at /private/var/tmp/_bazel_huangni/36885a4e9a5ce5a9481cb328bb82737b/external/dmd-darwin-x

[2016-01-31 10:36] damienmg commented on #829
Sorry this actually exists: `--deleted_packages` it the option your are looking for:

[code]

[2016-01-31 10:36] #829 closed

[2016-01-31 10:44] damienmg commented on #668
Closing as I cannot repro it

[2016-01-31 10:44] #668 closed

[2016-01-31 10:49] damienmg commented on #502
The PR has been merged so I believe this is resolved.

@orrsella please ping if this is not satisfactory.

[2016-01-31 10:49] #502 closed

[2016-01-31 11:41] damienmg commented on #828
Note that we are always happy to accept contribution :)

[2016-01-31 16:58] jirkadanek opened #831 "Go rules: support cgo"
My Go package has Go files and C files. Nowadays I compile the C files with a Makefile to get a static library (.a on Linux) and then link it in Go with `// #cgo LDFLAGS: ${SRCDIR}/path/to/lib.a`

I'd like to be able to move all of my build to Bazel, but since cgo is not supported at all, I cannot.

[2016-01-31 23:52] bsilver8192 opened #832 "`./compile.sh test` is broken"
Here's what I get when I try it:
[code]

if this isn't actually supported, then it's a pretty unfriendly error message.

`JAVA_HOME=a_jdk ./compile.sh compile,test` does work.

[2016-02-01 18:38] mikedanese commented on #818
@bsilver8192 adding in only deps seems to do the right thing here.

What is the usecase of specifying a cc_library in a linkopt? Is it to control linking priority? I'm still pretty sure it's not working as intended with sandboxing.

[2016-02-01 18:43] shaoster commented on #487
The java_binary providers seem to have some new goodies that can be used here.
To get the "depends on all outputs of the java_binary target" behavior, the following can be added to the action inputs:
[code]
Unfortunately, it doesn't look like there's any docs for these providers. I just happened to find them using print/dir. :(

[2016-02-01 18:50] bsilver8192 commented on #818
I don't think there is a use case for doing putting a `cc_library` in `linkopts`. Might make sense to add a warning for that like some other common misuses of the `cc_*` rules have.

For ordering the libraries during the final link, Bazel handles it based on the dependency edges established by `deps`. Also, Bazel knows about things like [alwayslink](http://bazel.io/docs/be/c-cpp.html#cc_library.al

[2016-02-01 19:12] hhclam commented on #487
shaoster: I think this will do.

Given that I think the documentation should be fixed to cover this use case.

[2016-02-01 19:36] kchodorow opened #833 ""Wrong" error message for non-existent BUILD file"
If the build_file for a repository isn't found, Bazel may print:

[code]

Instead of:

[code]

[2016-02-01 19:59] AustinSchuh opened #834 "Bazel aborts fetching external repo"
I did a bazel clean --expunge recently to test that a fresh build worked for another developer, and ran into a weird issue.

This triggered a SHA256 miss-match when downloading.  I debugged that to the file being truncated when it was downloaded.  I deleted the file to trigger a re-download, and it successfully downloaded the full file.

[2016-02-01 20:01] AustinSchuh opened #835 "Single threaded C++ link"
It looks like Bazel is only issuing a single link step on my local machine at a time.  The machine is fast enough that multiple links should be issued at once.  (I've set --local_resources 50000,16,1000)

[2016-02-01 20:12] philwo commented on #818
Sorry that I didn't reply earlier. I'm currently overwhelmed with other issues that I have to work on.

I can't comment on what the right thing to do is regarding the files of a `cc_library` that shows up on `linkopts`, but if we decide that they should be mounted by the sandbox, they should probably be added to the action inputs by CppCompileActionBuilder and its friends. The sandbox would then a

[2016-02-01 22:21] shaoster opened #836 "http://bazel.io/docs/skylark/lib/native.html docs should auto-expand native rules"
Currently, the presence of native rules like java_binary is inferred only from this sentence:
"A built-in module to support native rules and other package helper functions."
Which makes it very hard to discover from keyword search.

Recommend docgen expanding all native rules so keyword search hits.

[2016-02-01 22:45] ekuefler opened #837 "worker_verbose flag has no effect"
According to [the documentation](https://github.com/bazelbuild/bazel/blob/791265874faf26f63093dbcd4476fda9f10e1f32/src/main/java/com/google/devtools/build/lib/worker/WorkerOptions.java), passing this flag should cause messages to be printed when workers are started or shut down. But the flag doesn't seem to have any visible effect for me, even when running with `--experimental_persistent_javac`.

[2016-02-02 08:09] ulfjack commented on #835
Just to clarify - you're saying that this is happening even if you set
local_resources?

Here's the relevant snippet from CppLinkAction:
  // Linking uses a lot of memory; estimate 1 MB per input file, min 1.5
Gib.
  // It is vital to not underestimate too much here,
  // because running too many concurrent links can
  // thrash the machine to the point where it stops
  // responding to keystrokes

[2016-02-02 10:23] Jacobh2 opened #838 "How to uninstall Bazel"
Hi!

I installed Bazel using the steps here http://bazel.io/docs/install.html.

But now I want to uninstall it. How do I go about doing that?

[2016-02-02 10:28] damienmg commented on #838
rm -fr ~/.bazel ~/.bazelrc

On Tue, Feb 2, 2016 at 11:23 AM Jacob Hagstedt P Suorra <
notifications@github.com> wrote:

[2016-02-02 10:28] damienmg commented on #838
Be careful not to mixed up with that command. But it basically recursively remove ~/.bazel and ~/.bazelrc

[2016-02-02 10:29] #838 closed

[2016-02-02 15:03] #503 closed

[2016-02-02 15:03] #832 closed

[2016-02-02 16:12] shaoster commented on #487
Unfortunately, if you are creating a skylark rule that takes java_binary as an attr, the following doesn't work:
[code]
So it seems the duck-type checking for the exposed native providers hasn't been implemented?

[2016-02-02 16:22] shaoster commented on #487
A more enlightening error hit when I try the workaround of wrapping a native rule with a skylark rule that explicitly passes through the providers:
[code]

[2016-02-02 17:50] rokstrnisa commented on #276
+1

[2016-02-02 18:10] baranov1ch opened #839 "pkg_tar fails for non-empty WORKSPACE name"
$ cat ~/.bazelrc
[code]

$ tree testworkspace/
[code]

$ cat testworkspace/project/BUILD
[code]

if WORKSPACE has no defined name, `bazel build project:mytar` works, but if I add
`workspace(name = "some_name")`, I get the following:

[code]

Bazel adds `some_name` into **.runfiles** directory, but python binary template does not handle it when setting `PYTHONPATH` (https://github.com/bazelbuild/ba

[2016-02-02 20:07] ulfjack commented on #276
We have started to upstream Dmitry's changes, as well as done some experiments to check if our approach to symlink handling on Windows is going to work. Experiments look promising and we hope to have bootstrap working for master in the next couple of weeks.

[2016-02-02 20:38] AustinSchuh commented on #835
Correct, this happens if I have set local_resources.  I haven't actually tried it without local_resources set.

I have a bunch of targets which all depend on a library.  When I change the library, it should trigger 20+ links, most of them in parallel.  When I watch what is happening with top, I only see one instance of the linker running at a time.

[2016-02-02 21:24] bsilver8192 commented on #834
With the same misbehaving server as @AustinSchuh and a Bazel from recent master, the file no longer needs to be deleted manually. Doing another `bazel build` attempts to refetch it again. Also, the new error message actually mentions that it's a SHA256 mismatch, which is good.

However, wget detects that the download is truncated without having to rely on a checksum, which Bazel should too. I thin