[2020-12-08 15:37] #12611 closed

[2020-12-08 15:55] philwo commented on #12522
I think you can comment out this line and it should prevent the script from deleting the temp dir in the end:
https://cs.opensource.google/bazel/bazel/+/master:scripts/bootstrap/buildenv.sh;l=180;drc=d6145a0836e5856e5b6183bd484c4a6a3f6927a0

[2020-12-08 16:04] c-parsons commented on #9422
Indeed, it does.

See [the new documentation for this feature.](https://docs.bazel.build/versions/master/cquery.html#defining-the-output-format-using-starlark)

Particularly,

Use the new `providers()` function of this feature.

[2020-12-08 16:04] #9422 closed

[2020-12-08 16:05] jwnimmer-tri commented on #12611
Possibly related: #2704, and using `repo_mapping` for scoped renaming.

[2020-12-08 16:12] philwo commented on #12522
I'm closing this, as we will not work on Haiku support in the foreseeable future, but feel free to discuss this project on bazel-discuss with other users.

[2020-12-08 16:12] #12522 closed

[2020-12-08 16:14] c-parsons commented on #7977
Indeed, this has been deprioritized but this bug was not correctly updated to reflect the lower priority. My bad.

I frankly haven't looked at this in quite some time. I think my [previous comment](https://github.com/bazelbuild/bazel/issues/7977#issuecomment-488118667) is the best summary of this bug.

[2020-12-08 16:19] philwo commented on #12327
@beasleyr-vmw Your proposed patch looks good to me, mind sending it in as a pull request?

[2020-12-08 16:24] #11697 closed

[2020-12-08 16:40] philwo commented on #11685
Sorry, no idea. Can you take this up on the bazel-discuss mailing list?

[2020-12-08 16:40] #11685 closed

[2020-12-08 17:03] philwo commented on #11578
I'm happy to merge something that improves the test, but I don't think it's flaky for us on CI and I can't immediately see what the right behavior here is with all the interactions of timeouts, so I'd rather just leave it as is, tbh. :/

[2020-12-08 17:03] #11578 closed

[2020-12-08 17:39] #12527 closed

[2020-12-08 18:11] philwo commented on #11038
That should be fixed in recent Bazel versions.

[2020-12-08 18:11] #11038 closed

[2020-12-08 18:12] philwo commented on #11037
This is just a debug message and not the cause for any build error. I assume that this is fixed in recent Bazel versions (earlier ones did not have arm64 support yet).

[2020-12-08 18:12] #11037 closed

[2020-12-08 18:17] philwo commented on #11032
My guess is that the sandbox symlinks the directory `dir` first and then fails to symlink the file inside it, because doing so would mean overwriting a file in your workspace directory (because `dir` is now a symlink pointing into it).

Not sure if we can fix it - if someone comes up with a clever idea, happy to review a PR.

[2020-12-08 18:39] philwo commented on #11027
@katre Can we close this?

[2020-12-08 18:41] philwo commented on #11065
I assume that this is fixed by now, otherwise please respond with information about your Linux system (which distro, which version, what have you tried to resolve this - if you can't install the "python" package on your system it sounds like something on that system is broken).

[2020-12-08 18:41] #11065 closed

[2020-12-08 18:45] philwo commented on #11062
The environment variable is documented as an internal-use only behavior: "If the environment variable $TEST_TMPDIR is set, as in a test of bazel itself, then that value overrides the default."

It's not meant to be set by users. The test encyclopedia talks about the world as seen from the viewpoint of a test, not about how you can tweak it - for example, even if you set TEST_TMPDIR to some value,

[2020-12-08 18:45] #11062 closed

[2020-12-08 18:48] katre commented on #11027
Yes, we can.

[2020-12-08 18:48] #11027 closed

[2020-12-08 18:49] philwo commented on #11205
Yes, openjdk-11 is fine. We'll update the docs.

[2020-12-08 18:59] philwo commented on #11346
Thank you for your thoughts on this. Unfortunately I don't understand what your expected behavior is.

The output `bazel version` or `bazel info` of course depends on the version of Bazel that is invoked. The version of Bazel that is invoked is determined by the `.bazelversion` file. Thus, if the version that is referenced from that file is not installed, there is no way to print the correct outpu

[2020-12-08 19:03] philwo commented on #11332
It seems like Bazel 0.24.1 just does not support the kind of HTTP proxy authentication you need - sorry, but there's no way this will be fixed, as the version is just too old. Please download the required files manually, place them into a folder and use `--distdir` to tell Bazel it should pick them from there instead of downloading them from the internet.

[2020-12-08 19:03] #11332 closed

[2020-12-08 19:06] philwo commented on #11292
Feel free to send a PR that improves this. :)

[2020-12-08 19:07] beasleyr-vmw commented on #12327
Sure, done -- thanks! https://github.com/bazelbuild/bazel/pull/12662

[2020-12-08 19:24] philwo commented on #10767
I don't think it's worth it to add the complexity to our code just to make that command display faster.

We should rather make the server able to process multiple operations in parallel.

Manpages SGTM.

[2020-12-08 19:24] #10767 closed

[2020-12-08 19:25] philwo commented on #10749
Closing as obsolete.

[2020-12-08 19:25] #10749 closed

[2020-12-08 19:37] nkoroste commented on #12466
Sorry for the delayed response, here is the worker strategy we're using:
[code]

You're right, I do see similar results with `--shutdown` but it's significantly more than a couple of seconds:
Results after making a change in a medium-size build target:
Clean (no extra flags) -- `Elapsed time: 888.799s (14.81m), Critical Path: 885.08s (14.75m)`
with `shutdown` flag -- `Elapsed time: 1048.905s (17.4

[2020-12-08 19:44] #12327 closed

[2020-12-08 20:29] philwo commented on #10888
I can still reproduce this. 😅

[2020-12-08 20:33] philwo commented on #10771
This was fixed in https://github.com/bazelbuild/bazel/commit/1329798b8a60c2f36d9f441496bf38e3e4a0f692.

[2020-12-08 20:33] #10771 closed

[2020-12-08 20:35] philwo commented on #11020
We run Bazel inside Docker on Bazel's CI and I cannot remember a single time that I've observed this. It might be something environment specific, but if so, I don't know what.

If you can reproduce it (even if just once) it would be nice to hear about your Docker host details and the docker run command-line. I'll close this for now, but please feel free to reply if you see this again.

[2020-12-08 20:35] #11020 closed

[2020-12-08 20:37] philwo commented on #11004
I have heard from others that they were successfully able to bootstrap more recent Bazel versions on s390x, so I'm closing this as obsolete.

[2020-12-08 20:37] #11004 closed

[2020-12-08 20:43] #10951 closed

[2020-12-08 20:54] philwo commented on #10428
@haxorz @meteorcloudy What's the status of this? Obsolete? Still important?

[2020-12-08 20:56] philwo commented on #10424
No, I'm sorry - we don't support Kerberos authentication.

[2020-12-08 20:56] #10424 closed

[2020-12-08 20:58] philwo commented on #10419
I can still reproduce this.

[2020-12-08 20:59] haxorz commented on #10428
@philwo Afaik, it's still an issue. Probably has never been important though; I don't think any BazelPackageLoader users have actually complained about this yet.

[2020-12-08 21:00] philwo commented on #10496
Laurent is right, the current behavior is working as intended.

[2020-12-08 21:00] #10496 closed

[2020-12-08 21:01] philwo commented on #10479
Probably a duplicate of https://github.com/bazelbuild/bazel/issues/12010.

[2020-12-08 21:03] #10460 closed

[2020-12-08 23:34] Kernald commented on #8872
This is still an issue in 3.7.1 (at least on Linux).

[2020-12-09 00:38] thii commented on #11628
@philwo Can you help build and publish the minimal JDKs for arm64? I think they're the only missing pieces now. The remaining issues are specific to each ruleset.

[2020-12-09 03:18] coeuvre opened #12665 "Separate downloads from action execution to provide more download options"
In the current implementation of remote execution, outputs can only be downloaded when an action executes. We should
 separate downloads from action execution so that we can provide more download options to users. For example:
1. Provide a download API so that other code can download outputs of previously executed actions when necessary. Use cases:
    - Currently, we download the outputs after ex

[2020-12-09 03:20] coeuvre commented on #12665
Gibson proposed that we can add `--remote_download_important` flag to download files that are important. #12656

[2020-12-09 03:25] coeuvre commented on #12656
Hi Gibson, thanks for the proposal!

I am working on separating downloads from action execution #12665. It seems to me that the requirements of this proposal can be fulfilled with that change. Please take a look and share your ideas.

[2020-12-09 03:49] coeuvre commented on #11906
Both #11944 and #12170 are merged. Is this still an issue for your use case?

[2020-12-09 03:58] coeuvre commented on #11782
Closing as the issue seems to be fixed. Feel free to re-open if it happens again.

[2020-12-09 03:58] #11782 closed

[2020-12-09 04:01] coeuvre commented on #11631
Hi Konstantin, does `--incompatible_remote_results_ignore_disk` work for you? Can we close the issue?

[2020-12-09 04:37] konste commented on #11631
Yes, it works for us. Thank you!

[2020-12-09 04:37] #11631 closed

[2020-12-09 04:37] coeuvre commented on #9421
Should be fixed by #11898. Closing.

[2020-12-09 04:37] #9421 closed

[2020-12-09 04:37] coeuvre commented on #10873
Should be fixed by #11898. Closing.

[2020-12-09 04:37] #10873 closed

[2020-12-09 04:48] coeuvre commented on #10861
This is fixed by #11922. Closing.

[2020-12-09 04:48] #10861 closed

[2020-12-09 04:51] coeuvre commented on #10731
This is should be fixed. Please check #11782 for more details. Closing.

[2020-12-09 04:51] #10731 closed

[2020-12-09 04:56] coeuvre commented on #10555
Is this still an issue? If so, please provide more details.

[2020-12-09 04:59] coeuvre commented on #10525
Hi Simon, I am working on improving this. Please check #12665 and feel free to share your ideas.

[2020-12-09 05:09] coeuvre commented on #10106
Is this still an issue?

[2020-12-09 05:11] coeuvre commented on #10058
Is this still an issue?

[2020-12-09 05:18] coeuvre commented on #9412
Closing. Feel free to re-open if this is still an issue.

[2020-12-09 05:18] #9412 closed

[2020-12-09 05:25] coeuvre commented on #8830
Lower the priority to P3 since we currently have no bandwidth.

[2020-12-09 05:34] coeuvre commented on #12402
Closing. Feel free to re-open if this is still an issue.

[2020-12-09 05:34] #12402 closed

[2020-12-09 05:39] coeuvre commented on #8581
Is this still an issue today?

[2020-12-09 05:43] philsc commented on #12455
@philwo , could we get 84fadcf81f81b2d7343ca4151a5639be7f2263ee cherry-picked? Thanks!

[2020-12-09 05:45] coeuvre commented on #10846
This behavior should be fixed by #12453.

[2020-12-09 05:50] coeuvre commented on #11022
Is this still an issue? Can you share more data by enable `--verbose_failures`?

[2020-12-09 05:54] coeuvre commented on #11142
This is working as intended. Closing.

[2020-12-09 05:54] #11142 closed

[2020-12-09 06:07] coeuvre commented on #12375
@meteorcloudy Yun, is this related to what you have fixed recently?

[2020-12-09 07:25] thii commented on #12655
Do you know what needs to be updated? It looks like `darwin_arm64` is already listed.

https://github.com/bazelbuild/bazel/blob/daaa6cf27cd437657dc3e643ec7325dce721a50f/tools/osx/crosstool/osx_archs.bzl#L17-L20
https://github.com/bazelbuild/bazel/blob/daaa6cf27cd437657dc3e643ec7325dce721a50f/tools/osx/crosstool/osx_archs.bzl#L28-L36
https://github.com/bazelbuild/bazel/blob/daaa6cf27cd437657dc3e643

[2020-12-09 07:42] coeuvre commented on #8733
Is this still an issue?

[2020-12-09 07:44] coeuvre commented on #7917
Closing since no issues tracked here.

[2020-12-09 07:44] #7917 closed

[2020-12-09 07:50] coeuvre commented on #8508
Bazel should run the local action to rebuild the missing entry. I will work on this.

[2020-12-09 07:57] coeuvre commented on #7887
This option is flipped and removed. Closing.

[2020-12-09 07:57] #7887 closed

[2020-12-09 07:58] coeuvre commented on #7630
is this still an issue?

[2020-12-09 08:01] coeuvre commented on #7041
Closing since the issue seems to be fixed. Feel free to re-open if it still happens.

[2020-12-09 08:01] #7041 closed

[2020-12-09 08:03] coeuvre commented on #6667
Does the issue still happen?

[2020-12-09 08:34] coeuvre commented on #12417
Closing since this is fixed by bazel-remote.

[2020-12-09 08:34] #12417 closed

[2020-12-09 09:11] mostynb commented on #12417
Just to clarify, there was a bug in an older version of bazel-remote that caused these downloads to sometimes fail on the cache server.

It is a separate question if the bazel should attempt to download assets itself if the cache server fails (eg #12528). IMO it would be good if bazel at least had an option to do this.

[2020-12-09 10:52] meteorcloudy commented on #10428
Yeah, it's still an issue, Angular had some use case related to this, but I don't hear anything back from them for a long time. I think we can close it, feel free to reopen if anyone wants to follow up.

[2020-12-09 10:52] #10428 closed

[2020-12-09 10:54] meteorcloudy commented on #12375
Nope, I fixed https://github.com/bazelbuild/bazel/issues/12376 and https://github.com/bazelbuild/bazel/issues/12377, it doesn't seem to be related to this issue.

[2020-12-09 10:56] meteorcloudy commented on #12375
@meisterT This test isn't failing on CI, it looks like the failure may be related to your local environment?

[2020-12-09 10:58] meisterT commented on #12375
It's not failing, I just saw that in the logs. But it seems to be triggered by my local environment. Closing.

[2020-12-09 10:58] #12375 closed

[2020-12-09 11:34] gergelyfabian commented on #11674
For the rules_scala fix we'd need to do. Does anyone know how to retrieve `jacocorunner` from `java_toolchain` with `ctx`? We'd like to modify `scala_test` rule, to automatically take the `jacocorunner` that has been defined on the `java_toolchain`.

[2020-12-09 12:42] philwo commented on #10626
Pretty sure this is fixed by now, otherwise please comment.

[2020-12-09 12:42] #10626 closed

[2020-12-09 12:45] philwo commented on #10568
Error reporting was much improved in later versions of Bazel, so I'm closing this.

[2020-12-09 12:45] #10568 closed

[2020-12-09 12:51] philwo commented on #10680
I think this belongs more to the team-Core or team-Bazel as it's about fundamental semantics of our execroot.

[2020-12-09 13:11] philwo commented on #9612
The error message comes from Git. You'll have to configure your Git to use the proxy server, e.g. like this: https://stackoverflow.com/questions/783811/getting-git-to-work-with-a-proxy-server-fails-with-request-timed-out

[2020-12-09 13:11] #9612 closed

[2020-12-09 13:11] philwo commented on #9568
Closing as obsolete, please comment if you still see this.

[2020-12-09 13:11] #9568 closed

[2020-12-09 13:18] #9981 closed

[2020-12-09 13:18] philwo commented on #9981
Closing, because the associated PR was also closed.

[2020-12-09 13:24] zhengwei143 commented on #8900
Thanks for the input, we have also decided internally to carry on with this change.

[2020-12-09 13:24] #8900 closed

[2020-12-09 13:24] philwo commented on #9974
I think the current behavior is ok, but agree we might want to document this somewhere.

[2020-12-09 13:28] philwo commented on #9857
I can still repro this (note that in the repro instructions the first `cat` has to go into a `WORKSPACE` file, not a `BUILD.bazel` file.

[2020-12-09 14:06] ulrfa opened #12669 "config_setting visibility not enforced"
### Description of the problem / bug:

It should not be allowed to access a **private** config_setting from select in other package. But bazel fails to enforce the visibility.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

pkgA/BUILD:
[code]

pkgB/BUILD:
[code]

I expect both of the following commands to fail, due to pkgB accessing

[2020-12-09 14:14] konste commented on #12455
@philwo if you are still ` not picky when it comes to cherry picks` I would really like to see https://github.com/bazelbuild/bazel/commit/34d98234324da83e93ba0d5ef5702880d5ac7c5c cherry-picked. It fixes a nasty bogus warning which confuses the build users.

[2020-12-09 14:20] konste commented on #12412
@philsc I see you requested https://github.com/bazelbuild/bazel/commit/84fadcf81f81b2d7343ca4151a5639be7f2263ee for cherry-pick into 4.0 and wonder if it is related to this issue?

[2020-12-09 15:35] philwo commented on #12605
This is currently marked as an open release blocker for Bazel 4.0 - is this still the case?

[2020-12-09 15:37] bergsieker opened #12670 "Support compressed Bytestream transfers for remote execution"
### Description of the problem / feature request:

The RE API is close to finalizing support for API-level compression on Bytestream (https://github.com/bazelbuild/remote-apis/pull/168). Using compression is optional, but Bazel should support it at some point.

### Feature requests: what underlying problem are you trying to solve with this feature?

Remote builds can use significant bandwidth. Com

[2020-12-09 15:37] bergsieker commented on #12670
Assigning to Philipp for triage and prioritization.

[2020-12-09 15:39] philwo commented on #12455
@katre Could you advise how risky you judge https://github.com/bazelbuild/bazel/commit/84fadcf81f81b2d7343ca4151a5639be7f2263ee and https://github.com/bazelbuild/bazel/commit/34d98234324da83e93ba0d5ef5702880d5ac7c5c for cherry-picking?

Technically I could still do it today and then we can release 4.0 next Monday, but I don't know if the changes are too risky for this short time.

An alternative w

[2020-12-09 15:45] philwo commented on #12670
@coeuvre Could you have a look and apply a P-label that you deem correct? :)

Quick guidance:
 - **P0:** This is an emergency and more important than other current work. (Assignee required)
 - **P1:** I'll work on this now. (Assignee required)
 - **P2:** We'll work on this soon. (Assignee optional)
 - **P3:** I won't work on this soon, but happy to review a PR. (No assignee)
 - **P4:** This is pro

[2020-12-09 15:47] katre commented on #12455
84fadcf81f81b2d7343ca4151a5639be7f2263ee is safe: it's a small focused change and doesn't have a large effect.

34d98234324da83e93ba0d5ef5702880d5ac7c5c is harder: it's a larger change, and while all the tests pass it hasn't been widely used externally or internally, so I'm a bit worried about issues arising. I'd prefer to hold this back for a 4.1.

[2020-12-09 15:55] katre commented on #12655
You're right, they do exist. I don't have a mac to test with, can you run the following command and report back the output?

[code]

This will list all toolchains that are being registered.

[2020-12-09 16:22] EricBurnett commented on #7630
I have no idea. Let's call it obsolete - if it shows up again as material we can do something about it, but if either it's no longer happening, or it is but doesn't seem to be important for performance in practice, it's probably not worth spending time on.

[2020-12-09 16:22] #7630 closed

[2020-12-09 16:26] allevato commented on #12671
@susinmotion Transferred!

[2020-12-09 16:45] comius commented on #12605
Not blocker, it was cherrypicked for 4.0. Still need to release java_tools at @head before I can close it.

[2020-12-09 17:14] konste commented on #12455
Oh well, @katre is right. @philwo let's play safe and hold https://github.com/bazelbuild/bazel/commit/34d98234324da83e93ba0d5ef5702880d5ac7c5c for 4.1.

[2020-12-09 17:18] aiuto commented on #12613
I'm not sure we want to support that.  Is there a compelling need to use '-' instead of '_', beyond liking that style?
'-' is often a separator in command lines while '_' is generally part of an identifier. I think '-' in a name leads to confusion.

[2020-12-09 17:21] aiuto commented on #12559
@stefanbucur Does using "" instead of None work for you?
This is a bug either way. I'm just trying to understand severity so we can prioritize.

[2020-12-09 18:02] philwo commented on #5088
Is this issue fixed?

[2020-12-09 18:03] philwo commented on #2196
Thanks @benjaminp! Closing this as fixed.

[2020-12-09 18:03] #2196 closed

[2020-12-09 18:03] meisterT commented on #5088
Yes, I consider it fixed. Any further improvement to fish deserves a new issue.

[2020-12-09 18:03] #5088 closed

[2020-12-09 18:19] philsc commented on #12412
That patch is unrelated to this issue. That patch is to fix an issue where creating a filegroup with incompatible dependencies would cause `FailAction` actions to get executed instead of being skipped.

[2020-12-09 19:15] gregestren commented on #6525
I'm going to close this in preference for specific support requests. If there's enough of a broad call we could always reprioritize this (broad-facing documentation).

[2020-12-09 19:15] #6525 closed

[2020-12-09 19:20] wisechengyi commented on #7489
Happy to take a stab at this. Hoping to have something out by EOY, but if anyone wants to jump in prior, please do by all means.

[2020-12-09 19:20] konste commented on #12455
I wonder what happened to `--noincompatible_blacklisted_protos_requires_proto_info` flag? We need this flag because we have to deal with rather old version of Protobuf. Now we tried Bazel 4.0 RC4 and it reports `Unrecognized option: --noincompatible_blacklisted_protos_requires_proto_info` I cannot find any mention that the flag is removed anywhere.

[2020-12-09 19:32] comius commented on #12455
It has been removed in https://github.com/bazelbuild/bazel/pull/12431
I checked and it can still be reverted (imports need to be fixed).

[2020-12-09 19:33] Yannic commented on #12455
That flag got removed in fe4a680b89415ec9e8c2a7ea26466f2f47b474e8. Feel free to revert that for 4.0.

[2020-12-09 19:36] konste commented on #12455
@philwo we need `--noincompatible_blacklisted_protos_requires_proto_info` removal reverted for 4.0 - it is show stopper for us. We hope to move to the newer Protobuf within a couple months and then we would not be needing that flag, but pulling it out right now is too early.

[2020-12-09 19:57] philwo commented on #12455
I just finished Bazel 4.0.0rc5... time for rc6. 😅

[code]

[2020-12-09 19:58] konste commented on #12455
Well, it's a major release intended for the long term support - no wonder it needs a lot of ironing out to make sure it does not break anybody. Sorry for the extra work! On the other hand I am glad I have checked RC4 and discovered it.

[2020-12-09 19:59] philwo commented on #12455
@comius @Yannic what's the correct way to resolve this merge conflict in `src/main/java/com/google/devtools/build/lib/rules/proto/ProtoLangToolchainRule.java`?

[code]

[2020-12-09 20:08] konste commented on #12455
I made a note for our team to jump on testing release candidates as soon as they appear. If we would test RC1 instead of RC4 it would be way less stressful for everybody. Is there a way to subscribe for notifications about the future RCs?

[2020-12-09 20:18] benjaminp opened #12673 "@local_jdk unconditionally loaded"
3733065ddd418357e0e74091789ace5884b01fef removed the dummy toolchain, which means toolchain resolution will select `@local_jdk//:jdk` if it's not given any more hints. Consider a system without a jdk installed:
[code]
In contrast, Bazel 3.7.1 does not try to load `@local_jdk` if alternate `javabase` and `host_javabase` are provided:
[code]

[2020-12-09 21:57] Yannic commented on #12455
@philwo I think you're right, only `ExecutionTransitionFactory` is needed. The conflict probably comes from 7acf9ea3fea4850d21114d84fbc5b663d105d3c7 (which should be in 4.0).

[2020-12-09 22:33] janakdr commented on #12158
Are you saying that for a single running Bazel server you're seeing mutable inodes for the same files? Or are you taking a memory snapshot of a running Bazel server and deploying it elsewhere? It would be helpful if you could post a sequence of steps that you perform and what the slow one is.

[2020-12-09 22:36] ajbouh commented on #7448
At the suggestion of @dws-uber, I ended up working around this by using `pgrep` instead of `ps`.

[2020-12-09 23:10] thii commented on #12655
[code]

[2020-12-09 23:15] juliexxia commented on #12613
This isn't supported because the rules controlling what words are allowed to be flag aliases are the same rules governing native flag names AKA word characters. You should be able to use "_" instead. Feel free to reopen if you have more questions!

[2020-12-09 23:15] #12613 closed

[2020-12-09 23:49] beasleyr-vmw opened #12676 "@repo//:file: missing input file 'external/repo/file', owner: '@repo//:file'"
### Description of the problem / feature request:

**Context**

I'm experimenting with a fast, cheap always-run repository rule to conditionally (re)trigger the reexecution of a slow, more expensive repository rule.

The slow rule uses an external package manager to populate a staging area with prebuilt build artifacts. The package manager chooses the staging area path and writes it to stdout, whi

[2020-12-09 23:58] sgammon commented on #5426
@asiekkowa // cc @iirina, @lberki

okay, i was able to fix this issue by switching toolchains:

**old `.bazel.rc`:**
[code]

**fixed `.bazel.rc`:**
[code]

the error is somewhere in between these states, at least for me. having built my codebase against `toolchain_vanilla`, it took some work to get it building under errorprone, but once it was building there, coverage resumed working as expected.

[2020-12-10 02:09] coeuvre commented on #12670
Thanks. I am happy to implement this.

[2020-12-10 08:24] comius commented on #12455
It's a LTS, so cherry-picking and fixing bugs after it is released should also be possible. Catching them now means less work later, but there's no need to try and catch all of them.

[2020-12-10 08:30] EngineeringBoy commented on #12084
you must download bazel-xxx-dist.zip

[2020-12-10 08:50] verdurin commented on #6196
@meisterT I'm seeing this exact problem, and have the environment variables set as recommended by the link.

This is when trying to build TensorFlow 2.3.1

[2020-12-10 09:00] sulume commented on #7364
I'm having trouble and landed here today, and surprised that it's nicely resolved just a week ago. Thank you!
Is this coming in the next minor release, while 4.0 is happening?

[2020-12-10 09:06] verdurin commented on #6196
Here are the logs:
[code]

[2020-12-10 09:08] meisterT commented on #6196
@Wyverald do you whether the httpdownloader respects authentication as configured via HTTP_PROXY (and similar)?
That whole issue will become moot after https://docs.google.com/document/d/1moQfNcEIttsk6vYanNKIy3ZuK53hQUFq1b1r0rmsYVg/edit will be implemented.

[2020-12-10 09:33] chsigg commented on #12613
Thanks for looking into it.

Should bazel have an opinion on the user's choice of flag names? ;-)

I wanted to carry over clang's [--cuda-gpu-arch](https://llvm.org/docs/CompileCudaWithLLVM.html#invoking-clang) to bazel.

`--cuda_gpu_arch` is acceptable, I don't mind if this issues is closed as WAI.

Thanks!

[2020-12-10 09:39] coeuvre commented on #10564
Does the issue still happen?

[2020-12-10 10:24] philwo commented on #12455
I tried yesterday, but I missed one important bit: We can't do reverts in a release branch at the moment. We can only do cherry-picks. 🤦

[2020-12-10 10:29] philwo commented on #12455
Let's see if we can manually override this...

[code]

[2020-12-10 11:54] loshca commented on #12190
@thekyz Nope, now works as a charm.

[2020-12-10 12:02] philwo commented on #12455
Bazel 4.0.0rc6 postsubmit passed: https://buildkite.com/bazel/bazel-bazel/builds/14903

Release build successful, pushing the binaries now. 🚀

[2020-12-10 12:04] philwo commented on #12455
Thank you, testing the RCs is much appreciated and I understand it can be difficult!

We post announcements for release candidates to `bazel-discuss+release-candidate@googlegroups.com`, e.g. the last one: https://groups.google.com/g/bazel-discuss/c/U5uzdYdeZqs

[2020-12-10 12:07] dvulpe commented on #8733
I haven’t used GKE in a while, but I will check this later today and come back with an answer.

[2020-12-10 12:18] mihaigalos commented on #12158
Each night we bake a new node image for our VMs which handle the build and tests phase with bazel.
We do this by `bazel build --output_space=/tmp/bazel` and then putting that output space in the generate VM image.
The goal is to reduce the network traffic to the  bazel remote caches: an artifact found in `/tmp/bazel` is not fetched from the remote cache.

In our CI, each time we create a commit, a

[2020-12-10 13:09] katre commented on #12655
I see you noticed the problem, because you opened https://github.com/bazelbuild/platforms/pull/22 .

For future readers: the issue is that the Mac autodetection is using aarch64 for the darwin exec constraint in the toolchains, but @thii is using amd64.

[2020-12-10 14:12] scele opened #12678 ""failed to delete output files before executing action" with tree artifacts and --remote_download_minimal"
### Description of the problem / feature request:

Getting this error when doing an incremental build with --remote_download_minimal.
[code]

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[code]

### What operating system are you running Bazel on?

Ubuntu 18.04.3 LTS

### What's the output of `bazel info release`?

release 4.0.0rc4

[2020-12-10 14:14] scele commented on #12455
Thanks for working on this release, lots of exciting features coming! :)
I tested 4.0.0rc4 today and filed https://github.com/bazelbuild/bazel/issues/12678.

[2020-12-10 14:45] comius commented on #12673
You're right... there is a message at the end, you might have missed `--java_runtime_version=remotejdk_11`. It should work with that.

I'm working towards full Java toolchain resolution and I expect to be flipping the incompatible flag soon, and then removing javabase and host_javabase flags.

[2020-12-10 14:46] #12673 closed

[2020-12-10 14:46] benjaminp commented on #12673
I understand how to fix it. I just wanted to bring this up given that it changes behavior even without `--incompatible_use_toolchain_resolution_for_java_rules` in effect.

[2020-12-10 14:53] comius commented on #12673
hey, thanks, i know... this is the down side of supporting both toolchain resolution and no resolution with the same rules... either value of the flag you have, all the mechanisms for opposite option are executed as well...

[2020-12-10 15:26] frazze-jobb commented on #7313
Hi everyone,

After a long pause on our efforts regarding this issue, we are picking it up again.
Has work been done in this area since last 2 years? @philwo @benjaminp

We want to extend the linux-sandbox to makes it more hermetic, by allowing users to whitelist directories to be bind mounted (such as /bin) and don't expose other directories in the sandbox.

[2020-12-10 15:30] loshca opened #12680 "ERROR: While parsing option --startup_time=18446744073709551598: '18446744073709551598' is not a long"
### Description of the problem / feature request:

Client:
[code]
Server:
[code]

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Force `timed` daemon to synchronize time during the bazel connection attempt.

### What operating system are you running Bazel on?

osx15

### What's the output of `bazel info release`?

release 3.5.0

###

[2020-12-10 15:39] aiuto commented on #12403
@martinxsliu   If you set both --action_env and --host_action_env to the same things, does it work?  Is there a small repro?

[2020-12-10 15:44] janakdr commented on #12158
Oh, I think I understand now. The pre-baked /tmp/bazel includes Bazel's action cache, and the metadata there for your input artifacts includes the inodes from the original run of Bazel.

Yes, this is a limitation of using the inode as a contents proxy. But I think the ctime in FileContentsProxy will also be an issue, right? And there's a big risk of incorrectly *not* re-executing an action that ne

[2020-12-10 15:47] meteorcloudy commented on #12403
It doesn't work. The repo case is in the PR description, I can repro this on my macbook.

[2020-12-10 16:42] MohdNofal commented on #8943
Hi everybody,

I also faced this issue on Windows. After 4 days I was finally able to fix it by re-installing all of Microsoft Visual C++. The way I did it is by doing the following:

- Search for "Add or Remove Programs" on Windows
- Uninstall all of Microsoft Visual C++ (I had Microsoft Visual C++ from 2005 up until 2019)
- Then I also uninstalled Microsoft Visual Studio Code
- Restarted my PC
-

[2020-12-10 16:46] janakdr commented on #10680
We're actually more interested in not staging symlinks in the execroot at all. I know that there are use cases for these symlinks, but our preference would be to teach debuggers, etc. to read directly from the source root, rather than via the execroot, which is half magic half hack.

[2020-12-10 16:47] #10680 closed

[2020-12-10 17:07] #12553 closed

[2020-12-10 17:13] jbms commented on #12455
It looks like it may be too late to cherry pick eb5cdcb972326321a649d9b4df495ae22aea3f12 (which addresses long-standing issue #7364 adds support for `env` and `env_inherit` attributes to test rules), but it would be great to include it in 4.1 if possible (or 4.0 if still possible).  Note that it requires bug fix e8835c1c221d76a2d5532d18083eaa04401619b3 to be cherry picked as well.

[2020-12-10 17:35] mihaigalos commented on #12158
Oh yes, true. I was not aware that git does not preserve modification time.
How about resetting the timestamp of the files with the script presented [here](https://stackoverflow.com/a/36243002/2394327)?

Presumably during the bazel analysis phase, right?

Would there be no other option to decide if files need rehasing? One that doesn't break remote execution?
ctime+inode is very good for local dev

[2020-12-10 17:39] janakdr commented on #12158
I'd be much more receptive to a feature request to broaden Bazel's library
of useful hashes than to one that makes Bazel vulnerable to correctness
bugs. Running `touch` on every file seems very hacky. Would you like to
repurpose this FR into one that allows Bazel to use the "git hash" as its
hashing function?

[2020-12-10 17:47] mihaigalos commented on #12158
That sounds awesome! Yes!

[2020-12-10 17:55] janakdr commented on #12158
Remote exec team, what do you think of adding the hashing function used by git to the hashing functions supported by Bazel? (I know nothing about this process, so perhaps my question doesn't even make sense, apologies if so.)

https://stackoverflow.com/questions/460297/git-finding-the-sha1-of-an-individual-file-in-the-index claims that it is just

[code]

Since users often have the git hashes avai

[2020-12-10 18:21] dvulpe commented on #8733
Just checked against `gcr.io/cloud-marketplace-containers/google/bazel:3.5.0` and I was able to use the Cloud Storage remote cache from a pod running in GKE with workload identity enabled.

I've used the following command to test:
[code]
Bazel wrote to the Cloud Storage bucket and a clean build has fetched from the remote cache.

Thanks for fixing this!

[2020-12-10 18:57] mrkb80 commented on #9443
@jin any update on this work?

[2020-12-10 19:32] alandonovan opened #12682 "repr of OutputGroupInfo is confusing"
Re-reporting on behalf of @sfreilich (see https://github.com/bazelbuild/starlark/issues/149)
The repr of target[OutputGroupInfo] is:
[code]
That probably should have a repr that mentions OutputGroupInfo and hides the field for OutputGroupInfo.HIDDEN_TOP_LEVEL.

[2020-12-10 19:50] advancedwebdeveloper opened #12683 "Supporting 64bit RISC-V"
### Description of the problem / feature request:

Providing support for 64 bit RISC-V

### Feature requests: what underlying problem are you trying to solve with this feature?

Ensuring the availability of fully functional RPM, DEB packages on RISC-V ports of Debian/Ubuntu, OpenSUSE and Fedora.
Ordinary VM options assumed, as also as binfmt/nspawn qemu(JeOS)-inside-containers.
As for the hardware

[2020-12-10 20:31] jwnimmer-tri commented on #8305
In my case, we ship a [C++ library named Drake](https://github.com/RobotLocomotion/drake/), and we need to support users as their migrate at different rates.  Some users will be using Bazel 3.x in their application, and some will be using 4.x in their application, with the same version of Drake.  The `rules_cc` data structures are mutually incompatible between the two versions, so I need to [chang

[2020-12-10 21:35] konste commented on #12455
@philwo We have run RC6 through extensive testing on three platforms and have not found any regressions or problems.
Looks good!

[2020-12-10 22:26] thekyz commented on #9249
A very similar if not identical problem is discussed in issue #2109

[2020-12-11 00:57] sfreilich commented on #12682
Sorry for misfiling, thanks for directing this to the right place.

[2020-12-11 01:03] tomrenn opened #12684 "Allow bazel test on Windows to handle SIGTERM"
### Description of the problem / feature request:

When a JUnit4 test exceeds bazel's `--test_timeout` value, a SIGTERM is sent to the test process causing JUnit4 to write test XML, and dump a stack trace.

However, on Windows, JUnit4 never receives the SIGTERM signal making it difficult to diagnosis the cause of the timeout. We don't know which test timed out, or any thread information.

### Feat

[2020-12-11 01:47] omarzl commented on #11374
@michaeleisel did you find a way to debug the remote cache calls? I am just stuck in the same point as you were, I tried with the env vars, the jvm args and also I modified Bazel java code (HttpCacheClient.java) but I can't make it work, I am using latest bazel version: 3.7.1

[2020-12-11 03:56] konste commented on #12455
I want to apologize upfront - I am very tired at the moment and may miss something obvious.
I try to use 4.0 RC6 on Linux (Ubuntu and CentOS) and get the error `external/bazel_tools/tools/jdk/BUILD:485:6: Configurable attribute "actual" doesn't match this configuration: Could not find a JDK for host execution environment`  It points to this `alias`:
[code]

So it does not recognize that I run on l

[2020-12-11 07:31] meisterT opened #12685 "jdeps_test fails just on RBE"
The jdeps test should make sure that we don't accidentally add deps on new JDK modules breaking Bazel because we only embed a minimized JDK.

We are seeing this test failing in presubmit, but only on RBE claiming that `java.management` should be removed.
This blocks even docs only changes, like https://buildkite.com/bazel/google-bazel-presubmit/builds/42189#7a0e47e2-b9ca-47f2-b71d-04e19caa98f7

Ex

[2020-12-11 07:32] comius opened #12686 "Could not find a JDK for host execution environment"
Reporter: @konste

### Description of the problem / feature request:

I want to apologize upfront - I am very tired at the moment and may miss something obvious.
I try to use 4.0 RC6 on Linux (Ubuntu and CentOS) and get the error `external/bazel_tools/tools/jdk/BUILD:485:6: Configurable attribute "actual" doesn't match this configuration: Could not find a JDK for host execution environment`  It po

[2020-12-11 07:34] meisterT commented on #12685
Apparently we don't run tests on RBE in postsubmit, why?

[2020-12-11 07:34] comius commented on #12455
@konste This should work out of the box. I created an issue for this and let's move the discussion there https://github.com/bazelbuild/bazel/issues/12686

[2020-12-11 07:35] comius commented on #12686
cc @konste

[2020-12-11 07:51] comius commented on #12686
Bazel should work out of the box.

My best guess is that either you are using some flags or that autodetection is failing.

Are you using any of platform flags, for example  `--platforms`, `--exec_platform`, `--extra_execution_platforms`?

What linux distribution do you have?
Autodetection happens here: https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/baz

[2020-12-11 07:52] comius commented on #12686
cc @katre

[2020-12-11 09:21] chandlerc commented on #7538
It is unclear whether this feature request is really the thing that the transitive libraries would ever address.

There seem to be two different issues here:

1. Building a library that will be part of the `deps` of some other artifact of the Bazel build, but *needs* to be a dynamic library of some form. This seems close to the transitive library space?

2. Building a dynamically loaded plugin lib

[2020-12-11 09:34] ittaiz commented on #11674
@comius do you know that it's possible or you assume it's possible?
Because what I'm seeing I think you might be wrong.
We (at rules_scala) [point](https://github.com/bazelbuild/rules_scala/blob/master/scala/private/rules/scala_test.bzl#L76) to `@bazel_tools//tools/jdk:JacocoCoverage` which AFAIU actually [points](https://github.com/bazelbuild/bazel/blob/ddfc932380c8147c70bb3faf1bc999f0cc3652f2/to

[2020-12-11 09:55] comius commented on #11674
I'm working on java toolchains. So it's possible to change jacoco_runner on the toolchain, i.e. by defining a custom default_java_toolchain rule and using it.

Problem is that there is currently no Starlark interface so that this setting could be used in Scala directly from the toolchain as it is in Java native rules implementation.

Having java_tools is an alternative that also works. If somebody

[2020-12-11 10:29] konste commented on #12686
Thank you @comius for your prompt attention!
After I gave myself a few hours to sleep I guessed which flag caused the problem: `--platform_mappings`
We have `platform_mappings` file which looks like this:
[code]
The platforms used above are declared in another file like this:
[code]
It works with 3.7.0 and with 4.0 EXCEPT on Linux. Removing `--platform_mappings` flag on Linux fixes the build, but

[2020-12-11 10:30] gergelyfabian commented on #11674
@comius, Do you mean:

?

[2020-12-11 10:40] philwo commented on #12678
@benjaminp Thank you for the fix!

[2020-12-11 10:40] gergelyfabian commented on #11674
I'm not totally sure how I could do that if I already use a solution similar to this one: https://github.com/liucijus/bazel-scala211-jdk8

Can I use a custom java_tool (with custom Jacoco runner) if I also need to ensure my Java toolchain is running on JVM 8?

[2020-12-11 11:48] sventiffe commented on #12455
Heads up, I've moved the target date for the release to early January. With the current planning, we've been reaching a date too close to holiday season where we do not want to release new production binaries anymore (also, most of the team will be ooo end of year). This will give us the time to iron out the last issues. Please let me know if this change causes any problems for anyone.

[2020-12-11 12:46] #12678 closed

[2020-12-11 13:49] katre commented on #12686
I'm guessing that the issue is that your `@tab_toolchains//bazel/platforms:linux` doesn't set an CPU constraint, and so it doesn't match the `configuration_values` from the config setting, which are `[ "@platforms//os:linux", "@platforms//cpu:x86_64"]`.

Is there a reason your linux platform definition is an os, but no cpu? Is your code actually cpu-independent?

[2020-12-11 14:07] wrowe commented on #12188
For posterity, we were in an unusual situation here, it wasn't possible to use the 3.7.0 or even 3.6.0 toolchain due to early env overrides inflicted by the llvm detection bug in the clang-cl rules_cc tooling. And, it wasn't hacked to follow usual bazel conventions, so loading any toolchain prior to 3.7.1 against llvm 11.0.0 was an absolute failure. With the 3.7.1 toolchain in place, it's now poss

[2020-12-11 14:08] wrowe commented on #12188
As @lizan notes in https://github.com/bazelbuild/bazel/issues/12188#issuecomment-732813900 the 3.7.0 and 3.7.1 releases remain broken and unusable by the envoy project, and a fix exists. We were operating on the assumption that 4.0.0 would happen this year, but that seems highly unlikely. Would a 3.7.2 regression-fix release be realistic in the coming days?

[2020-12-11 14:12] scele commented on #12455
FYI I also had to cherry pick a87d7ed2411d5382bac58a20b79e09c464ad13b9 to make 4.0.0rc4 work for us.

[2020-12-11 14:21] jbms commented on #12455
With the target date delayed, is there still time to cherry pick support for `env` (see https://github.com/bazelbuild/bazel/issues/12455#issuecomment-742661373)?

[2020-12-11 14:22] philwo commented on #12188
@wrowe Can you please link to the commit that you need as a regression fix for 3.7.2?

[2020-12-11 14:24] smukherj1 commented on #12188
@wrowe This part is unclear to me. My understanding was Envoy only uses the config generation capabilities of [bazel-toolchains](https://github.com/bazelbuild/bazel-toolchains), not the pre-generated configs hosted by the repository for the [Ubuntu 16.04 based clang + JDK container](http://gcr.io/cloud-marketplace/google/rbe-ubuntu16-04). The config generation capabilities are implemented by Bazel

[2020-12-11 14:27] sunjayBhatia commented on #12188
The issue was with the rules_cc packaged with Bazel itself that is used to generate windows tool chain configs, not bazel toolchains

[2020-12-11 14:58] sjoerdvisscher opened #12689 "`--repo_env` should be a `common` option"
### Description of the problem / feature request:

Currently [`--repo_env`](https://docs.bazel.build/versions/master/command-line-reference.html#flag--repo_env) is not a `common` argument. I don't see how it could be useful if I just set it on `build`: If I first do `bazel build` it applies the `repo_env` and downloads the repository data. But if I then do `bazel query` `repo_env` is no longer app

[2020-12-11 15:12] ittaiz commented on #11674
How big would that a change be? Exposing to starlark that is. Would you be open to it?

[2020-12-11 15:23] ittaiz commented on #11674
I think there should be. I haven't dived into the java_tools zip and so I don't know what exactly is java 8 related.
@comius maybe you know?

[2020-12-11 15:45] philsc commented on #12455
If the delay means more time for cherry-picks I'd like to propose 3e969ff24a6a0e03139b9f288c88451a7dfa97cd.

[2020-12-11 17:07] wrowe commented on #12188
We did test against the combination of the corrected bazel rules_cc at master's current tag with the then-released (3.7.0) and came up empty, the env table is corrupted by the invocation of *bazel itself* ahead of processing rules.cc, unless both a new bazel build (I'd tested and confirmed 3.7.1rc2 ahead of release) combined with the current ruleset. Even with that combination, a refreshed bazel-t

[2020-12-11 17:13] wrowe commented on #12188
@philwo https://github.com/bazelbuild/bazel/commit/a689d673abadf80f1efaf8ddaeee92d56fc2847b fixes the 3.7.x regression, but tagging @lizan and @gyias to ask them to verify there wasn't a second required fix-of-fix to stabilize 3.7.2, as sometimes happens. This is already on 4.0.0-rc.

[2020-12-11 17:15] katre commented on #12188
I can cut a 3.7.2 and do a short RC period next week, but we are getting close to our holiday freeze, so I may need to check what's appropriate there.

[2020-12-11 17:21] gyias commented on #12188
@wrowe Not that I'm aware of. I checked the fix with the repro example @lizan provided and also some more complicated ones I created myself, and everything ran fine.

[2020-12-11 17:22] aiuto commented on #11432
cc: @susinmotion

[2020-12-11 17:24] wrowe commented on #12188
@katre ... understood and thanks.

I'm only thinking about the scope of roadblocks to adopting 3.7 from 3.6 (perhaps earlier) for those projects such as envoy with very early January releases on the calendar. 4.0 will get here in January, but that will be too late for some projects to catch up to current bazel.

[2020-12-11 18:15] katre commented on #11748
Closing this as a dupe of #11432, follow that as the official tracking issue for this effort.

[2020-12-11 18:15] #11748 closed

[2020-12-11 18:16] katre commented on #7260
This has been downgraded since we're stalled on it. We'll be unblocked when we can finish migrating Android builds to use toolchain resolution, which is being tracked as #11749. We may also need to migrate Apple/iOS rules before we can flip this, too, but we'll know more once we're further with the Android effort.

[2020-12-11 19:03] keith opened #12691 "Notify open source contributors when patches are reverted"
Sometimes patches pass public CI and are merged, and are then reverted because of internal issues at Google. In this case there's no notification for the original author that the patch was reverted, which means it could be lost indefinitely and not attempted to be re-merged.

Can public contributors be notified when their patches are reverted?

[2020-12-11 19:22] katre commented on #12188
@philwo Will a 3.7.2rc1 conflict with your RCs for 4.0.0?

[2020-12-11 19:29] konste commented on #12686
Yes, this is correct, `platform:linux` should have both `os` and `cpu` specified to match the new configuration setting in 4.0.
Thank you and please close this issue.

[2020-12-11 19:30] konste commented on #12455
https://github.com/bazelbuild/bazel/issues/12686 is resolved.

[2020-12-11 19:32] #12686 closed

[2020-12-11 20:04] benjaminp opened #12692 "insufficient validation of run(_shell) "arguments" argument"
[code]

[2020-12-11 21:17] philwo commented on #12188
@katre No, I think that should be fine.

[2020-12-11 22:03] katre commented on #12188
Created 3.7.2rc1:
[code]

Unfortunately, the release process failed due to a problem generating the arm64 binaries (https://github.com/bazelbuild/continuous-integration/issues/1067), so the actual RC will be out on Monday.

[2020-12-11 23:22] advancedwebdeveloper commented on #12683
CC @mzeren-vmw

[2020-12-12 00:50] konste commented on #12686
@katre @comius While I now know how to make the build work I still don't quite understand why that change helps.
1. Why `--platform_mappings` is even involved? I don't supply target platform on the command line, instead it is autodetected. Why platform mapping is evaluated and what does it affect?
2. Why the previous definition of the Linux platform
[code]
was good enough for Bazel 3.7.0, but now

[2020-12-12 05:16] stefanbucur commented on #12559
Using `""` shows a different error:

[code]

However, it does work when I use a list type instead (`[]`), presumably because `--copt` are list-typed command-line options.

[2020-12-12 08:50] limdor commented on #5716
@sventiffe @c-mita I see that the priority has been lowered and rules-cpp tag added. But I am a bit concerned if baseline coverage is working at all in Bazel with any language. If that is the case would mean that `bazel coverage` is not really useful on it's own.
I understand that we do not want to stick ad-hoc magic for C++ rules, but is there a language that baseline coverage is working? Could w

[2020-12-13 23:21] chancila commented on #12608
you can look at how copybara does it:

https://github.com/google/copybara/blob/master/WORKSPACE#L70
https://github.com/google/copybara/blob/master/third_party/BUILD#L144

they basically just pull in the whole bazel repo as an external workspace and use the starlark libs.

[2020-12-14 01:03] restingbull commented on #12135
Ran across this issue using IAP in a Beyond Corp style environment. As far as I can tell, IAP require an id token -- meaning the work around is to validate the credentials and use the method noted in https://github.com/bazelbuild/bazel/issues/12135#issuecomment-696670012. It's non-ideal. support for id tokens would be handy!

(Mind you, I could be wrong about IAP. The documentation assumes that on

[2020-12-14 02:38] coeuvre commented on #8733
Thanks for verifying! Closing.

[2020-12-14 02:38] #8733 closed

[2020-12-14 03:22] coeuvre commented on #12158
Both remote cache and remote executor are checking the hashing function.

IIUC, git is using SHA1 which should be supported by Bazel. I didn't test but combining `--unix_digest_hash_attribute_name ` with `--hash_function=SHA1` should do the trick.

It's also fine to add a special "git hashing function".

[2020-12-14 03:49] aiuto commented on #12559
My bad. I should have said [] rather than "".
Thanks for checking. With an easy workaround, we know better how to prioritize it.

[2020-12-14 04:08] janakdr commented on #12158
If you look at the link I provided, it says that it's SHA1, but on the file with `blob <# of characters>` prepended.  For example:

$ git ls-files -s WORKSPACE
100644 a5f019caa2d7c6f654cd3264140bef359cc196ed 0	WORKSPACE
$ sha1sum WORKSPACE
4ea6257c2f760ef5c1a32cdd0f743d0cd7c55ad8  WORKSPACE
$ file=WORKSPACE ; (echo -ne "blob `wc -c < $file`\0"; cat $file) | sha1sum
a5f019caa2d7c6f654cd3264140bef35

[2020-12-14 06:15] coeuvre commented on #12158
For gRPC remote cache and remote execution, we check the supported hashing function of remote server by making a [GetCapabilities](https://github.com/bazelbuild/remote-apis/blob/master/build/bazel/remote/execution/v2/remote_execution.proto#L1623) call. If the hashing function used is not supported by remote server, we will exit abruptly. For DiskCache and HttpCache, we don't (can't) check the capa

[2020-12-14 06:32] cdump commented on #10190
Paths for RPATH constructed in [LibrariesToLinkCollector.java](https://github.com/bazelbuild/bazel/blob/3.7.1/src/main/java/com/google/devtools/build/lib/rules/cpp/LibrariesToLinkCollector.java#L331)

I think we should add something like that:
[code]

I've also found another possible bug - input's `ArtifactCategory` here is `DYNAMIC_LIBRARY` (not `INTERFACE_LIBRARY`) for `cc_import(interface_libra

[2020-12-14 08:21] LodaliIOnAMission commented on #4856
any progress ?our team have a lot of hand written .asm file

[2020-12-14 08:29] emusand commented on #4856
Unfortunately this work is parked for now. ehrtro, ehkloaj and I did a serious attempt to implement this in a proper way last summer, but realized that it was more work than we expected.

Now we are using our own local patch that just handles .asm files in the same way as .S files, that is we just adds ".asm" to the list of filename extensions that Bazel expects to be preprocessed. This works for

[2020-12-14 09:25] meteorcloudy commented on #4856
Sorry, we currently don't have the bandwidth to address this issue, but a contribution to fix is always welcome.

[2020-12-14 09:29] meteorcloudy commented on #7538
/cc @oquenchil Sounds like this is an issue that cc_shared_library already solved?

[2020-12-14 13:40] katre commented on #12686
1. Platform mappings are used anytime that the target platform isn't specifically provided: it attempts to find the correct platform based on the other flags you have provided. If the platform autodetection is working for you, I'd suggest not supplying a platform mapping file at all.

2. The redefinition of the `//src/conditions:linux_x86_64` config setting is to make sure it remains useful during

[2020-12-14 14:10] #10598 closed

[2020-12-14 14:15] BrunoChevalier commented on #11022
We have updated to several newer Bazel versions and haven't seen the issue since.
I think this can be closed for now.
If we see the behavior again, I will reopen this issue.

[2020-12-14 14:15] #11022 closed

[2020-12-14 14:17] gergelyfabian commented on #5426
I think this is caused by using an incompatible Jacoco build included in Bazel (or java_tools).
I wrote more about this in https://github.com/bazelbuild/bazel/issues/11674#issuecomment-739725257.

The issue is that Bazel seems to be dependent on the Jacoco build's package name (that is `b0d6a23` in this ticket). I had this when I was trying to upgrade Jacoco for my Bazel project (with a custom Jac

[2020-12-14 14:18] gergelyfabian commented on #5426
If you go and try replace jacoco in Bazel's third_party/java/jacoco (from an officially released jacoco zip), you'll probably get the same error.

[2020-12-14 14:51] gergelyfabian opened #12696 "Bazel branch coverage ignores Jacoco filtering"
### Description of the problem / feature request:

Bazel counts branch coverage also for code that would be filtered out by Jacoco.
Function and line coverage (when looking at reports generated by genhtml) seem to be respecting Jacoco filtering.

Jacoco is constantly improving filtering (https://www.jacoco.org/jacoco/trunk/doc/changes.html), but these changes (e.g. filtering out generated bytecode

[2020-12-14 15:08] gergelyfabian commented on #12696
From what I have seen from Jacoco's and Bazel's source:

In Jacoco's `ClassAnalyzer` (https://github.com/jacoco/jacoco/blob/6bcce6972b8939d7925c4b4d3df785d9a7b00007/org.jacoco.core/src/org/jacoco/core/internal/analysis/ClassAnalyzer.java#L94) `addMethodCoverage` (https://github.com/jacoco/jacoco/blob/6bcce6972b8939d7925c4b4d3df785d9a7b00007/org.jacoco.core/src/org/jacoco/core/internal/analysis/Cla

[2020-12-14 15:24] katre commented on #12188
We have an RC: https://releases.bazel.build/3.7.2/rc1/index.html

[2020-12-14 16:03] Morfly opened #12697 "[ERROR] Android data-binding. 'Argument list too long' / 'Method too large'"
### Description of the problem:

I'm trying to build a large Android project (around 1000 Bazel packages/modules)
The project uses AndroidX data-binding and Kotlin language.

When I build separate data-binding enabled modules - it completes successfully.

However, when I'm trying to build a root `android_binary` target that depends on a large amount of all other packages I'm getting a build error.

[2020-12-14 16:16] wrowe commented on #12545
Note this bugfix picked to both 4.0.0rc and 3.7.2rc

[2020-12-14 16:27] janakdr commented on #12158
How can the cache server check hashes effectively? All it can do is (maybe) verify that this *is* a valid SHA1 hash. That wouldn't be able to differentiate between the "git hash" and actual SHA1. The server doesn't have access to any actual input files, right?

So you're saying that any remote execution server would have to separately add git-hash capabilities to work with this?

If git-hash would

[2020-12-14 16:45] katre commented on #12188
Downstream tests finished: https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1815

The Tulsi failure is the same as at head, but I'll investigate the rules_apple failures.

[2020-12-14 17:17] #5575 closed

[2020-12-14 18:14] #12451 closed

[2020-12-14 21:23] sunjayBhatia opened #12698 "Windows feature generate_pdb_file should be applicable to opt builds"
### Description of the problem / feature request:

We would like to generate `.pdb` files for release builds of Envoy for Windows for use debugging potential production issues. This works well with Bazel building locally as all intermediate/compiler/linker generated files live on the host. We use `opt` mode, the MSVC cl `/Z7` option, and linker options `/DEBUG:FULL`. However, building Envoy with R

[2020-12-14 21:24] sunjayBhatia commented on #12698
Related PR for compiler PDB support that has gone unreviewed

[2020-12-14 21:27] josiahsrc commented on #12608
@chancila I just tested that out and it worked flawlessly. Thank you!

I'll go ahead and close this issue.

[2020-12-14 21:27] #12608 closed

[2020-12-14 22:47] ulfjack commented on #12698
Which PR?

[2020-12-14 22:47] sunjayBhatia commented on #12698
Whoops, didnt paste the link: https://github.com/bazelbuild/rules_cc/pull/78

[2020-12-15 01:24] GMNGeoffrey commented on #12630
This happens to me just about every time I fetch new stuff from the repository at this point.

[2020-12-15 04:58] benjaminp opened #12701 "closures are a great way to smuggle state"
Bazel has a few ways to defer Starlark work to execution. For instance, `Args.add_all` takes a `map_each` parameter that is called during execution for every element in a sequence. Here's a silly example of that:
[code]
Historically, a large restriction on this technique has been the lack of nested functions and closures, which means execution-time callbacks are restricted to whatever Bazel sees f

[2020-12-15 06:12] coeuvre commented on #12158
We upload BOTH hash and content to the cache server and it can recalculate the hash based on the content. The problem with current API is that we don't specify the hashing function used to calculate that hash -- cache server have to guess which one is used.

Yes, it is limited by the [specification](https://github.com/bazelbuild/remote-apis/blob/master/build/bazel/remote/execution/v2/remote_execut

[2020-12-15 07:33] davido opened #12702 "bazel build is failing on gcc 11"
Trying to build bazel on gcc 11:

[code]

GCC version:

[code]

[2020-12-15 11:16] comius commented on #12702
cc @cushon

[2020-12-15 11:52] ulfjack commented on #12455
I second the cherry-pick of a87d7ed. Without it, remote execution is broken. I can reproduce with a remote build of TensorFlow - shouldn't that be covered by CI?

[2020-12-15 12:36] laurentlb commented on #12608
cc @alandonovan

[2020-12-15 13:03] katre commented on #12403
@mai93, can you please update this issue with any debugging steps you've done and the root cause you've determined?

[2020-12-15 13:54] mai93 commented on #12403
As @katre suggested, I needed to also pass the value of `host_action_env` to `hostActionEnvironment` attribute of the host options in `CoreOptions.getHost`.

I guess not setting this attribute caused the env var `NAME` not to propagate to the second execution configuration during execution transition and that is why we had two different ones.

I also think that the following dependency is missing

[2020-12-15 13:58] alandonovan commented on #12608
Hi Josiah, thanks for your interest in Starlark. If I might give you a word of advice: the most valuable thing I never learned during my formal CS education is the impact of dependencies on the success of software projects. When you add a dependency on another package, you are placing a bet that its stability, speed, robustness, and security will always be good enough for your needs. Dependencies

[2020-12-15 14:06] #4137 closed

[2020-12-15 14:06] #12579 closed

[2020-12-15 14:31] fweikert opened #12703 "Documentation generation has been broken since #70c0e617"
https://pantheon.corp.google.com/cloud-build/builds/549772f7-6738-47d1-964a-fbda07115d52?project=bazel-public:

ERROR: /workspace/site/BUILD:84:8: no such package 'third_party/css/font_awesome/v2_0': BUILD file not found in any of the following directories. Add a BUILD file to a directory to mark it as a package.
 - /workspace/third_party/css/font_awesome/v2_0 and referenced by '//site:font-awesom

[2020-12-15 14:32] fweikert commented on #12703
Likely culprit: https://github.com/bazelbuild/bazel/commit/70c0e617b37d46aa09b4fd9c80607e1cdb5b1ef9

[2020-12-15 15:02] #12703 closed

[2020-12-15 15:46] fweikert commented on #12703
I can confirm that the most recent run succeeded.

[2020-12-15 16:30] josiahsrc commented on #12608
@alandonovan Thank you for your detailed reply. I haven't thought of dependencies as the foundation of a project before (I've thought of them more as utilities), but that makes a lot of sense and clears up a lot of headache. I've shared this insight with my team. Our original workarounds to depend on the java Starlark libraries felt hacky to begin with. As evidence of this, only after a few days o

[2020-12-15 16:41] davido commented on #12455
@ulfjack

Gerrit tests are passing on RBE, using Bazel version 4.0.0rc6:

[code]

[2020-12-15 18:22] meisterT commented on #12701
cc @alandonovan

[2020-12-15 18:24] advancedwebdeveloper commented on #12683
Found first related bug:

[2020-12-15 18:29] laurentlb commented on #12608
Your language server will need to know the list of classes/methods that are specific to Bazel. The current way to do it is to run the ApiExporter binary (see https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/docgen/ApiExporter.java and https://github.com/bazelbuild/bazel/blob/master/src/main/protobuf/builtin.proto) and get the data in a proto.

@alandonovan Ca

[2020-12-15 19:01] AustinSchuh commented on #12455
RBE must be handling the case differently.  I'm seeing the following in the action log:

[code]

[2020-12-15 19:13] meisterT commented on #12455
I just tried to create a new RC with all cherry pick requests. There was a merge conflict (when merging https://github.com/bazelbuild/bazel/commit/eb5cdcb972326321a649d9b4df495ae22aea3f12) but I think I solved it successfully.

[code]

It's running through testing on BuildKite now: https://buildkite.com/bazel/bazel-bazel/builds/14950

[2020-12-15 19:16] davido opened #12705 "RBE is broken on Bazel@HEAD"
On Bazel@HEAD (7428006dd67cb6bd4e390253cc8ce89065792821) RBE is failing on Gerrit Code Review project:

[code]

Java version used:

[code]

Bisecting the problem:

[code]

//CC @comius @cushon

[2020-12-15 19:57] hrfuller commented on #12188
Is it possible to cherry pick https://github.com/bazelbuild/bazel/commit/362dbeb9f15731837040ad4160233fc61eafb3d0 into a future release candidate on 3.7. This is a critical change for many including myself, and it would be nice to not have to block on upgrading to bazel 4.0 to get this change.

[2020-12-15 20:00] katre commented on #12188
@hrfuller Unfortunately, 362dbeb does not fix a regression, so it's not a candidate for a patch release.

[2020-12-15 20:02] alandonovan commented on #12701
The ctx object, like many bazel built-in data types, already has safety checks to ensure that it is only called from threads in the appropriate phase. After that point, it becomes an empty shell of an object that fails when its methods are called and doesn't retain references that would extend the lifetimes of other objects. (At least, that's my recollection.)

I'm a little surprised that map_each

[2020-12-15 20:08] katre commented on #12188
Local testing (thanks @susinmotion!) can't reproduce the rules_apple failures. I will go ahead an finalize the 3.7.2 patch release Thursday unless any release blockers appear.

[2020-12-15 20:08] alandonovan commented on #12608
The ApiExporter interface is similarly locked down, and does change from time to time, though not very much. However, its output is essentially a list of identifiers that are predeclared in the Starlark environment, so if Josiah's LSP project simply checks in the list of identifiers as a source file, and updates it from time to time (either by hand or by running ApiExporter), there is relatively l

[2020-12-15 20:19] laurentlb commented on #12608
The output contains type information for the builtins, as well as the fields available in each type. That's very convenient for users exploring the ctx object, for example. A dependency on the proto sounds good to me.

As an alternative to Starlark-go, I can suggest depending on Buildifier (https://github.com/bazelbuild/buildtools). The package is capable of parsing Starlark files too, and is ofte

[2020-12-15 20:32] benjaminp commented on #12701
This is [true](https://cs.opensource.google/bazel/bazel/+/70c0e617b37d46aa09b4fd9c80607e1cdb5b1ef9:src/main/java/com/google/devtools/build/lib/analysis/starlark/StarlarkRuleContext.java;l=389). So, my OP example would fail as literally written. However, I intended `ctx` to stand for any large analysis-time object. (Either one the user could creates themselves or one from some attribute of `ctx`.)

[2020-12-15 20:46] meisterT commented on #12455
New RC is available here: http://releases.bazel.build/4.0.0/rc7/

Downstream testing kicked off: https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1817

[2020-12-15 20:47] meisterT commented on #12705
Is this also an issue with the current RC for 4.0.0?

[2020-12-15 20:59] josiahsrc commented on #12608
For some clarification, our initial goals for the language server are:
* Provide autocomplete for Bazel
* Provide a way to navigate from a source file to its associated BUILD file
* Provide auto-formatting, as suggested by @laurentlb
* Provide semantic highlighting (for path correctness and such)

*If all goes will, we'll move on to implementing harder tasks.*

Our initial impressions of how to go

[2020-12-15 21:04] davido commented on #12705
@meisterT

Nope, I've just confirmed, that RC 4.0.0rc7 is not affected.

[2020-12-15 22:02] wrowe commented on #12188
@katre, testing against 3.7.2rc1 at Envoy shows no new regressions, issues known to us are all resolved. TYVM.

[2020-12-15 22:40] divanorama commented on #12455
rc7 says `bazel version` aka EMBED_LABEL is 3.7.0 (label is based on https://github.com/bazelbuild/bazel/blob/release-4.0.0rc7/CHANGELOG.md afaik)
bazel binary name is ok though - bazel-4.0.0rc7-$arch, so more of UI thing

[2020-12-15 23:11] ulfjack commented on #12455
@davido, I suspect it only affects actions that have an empty file as an input, so if you're not affected, that's great! I think Python runfiles may have a bunch of these empty files, but some other languages may as well.

[2020-12-16 00:27] MaskRay opened #12706 "cc_toolchain with supports_start_end_lib: redundant -Wl,-whole-archive and -Wl,-no-whole-archive around .o files"
### Description of the problem / feature request:

For a cc_toolchain with the feature `supports_start_end_lib` enabled, a cc_library (a.o) with `alwayslink=1` will be specified as `-Wl,-whole-archive a.o -Wl,-no-whole-archive`. The surround -Wl,-whole-archive and -Wl,-no-whole-archive are redundant.

### What's the output of `bazel info release`?

release 3.7.1

###  Have you found anything relev

[2020-12-16 00:41] ahumesky commented on #12697
It would be most helpful if we can get a repro of some kind. I don't suppose the large android project is available somewhere? We'll have to come up with some kind of artificial repro instead.

[2020-12-16 01:06] pudelkoM opened #12707 "Constraint value `@bazel_tools//tools/cpp:compiler:gcc` not true when using GCC compiler"
### Description of the problem:

The constraint value `@bazel_tools//tools/cpp:compiler:gcc` is not detected/enabled correctly when the GCC compiler is used and can not be targeted with a `config_setting`.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

The following Bazel repo demonstrates the issue. It has a dummy target that is i

[2020-12-16 01:17] LodaliIOnAMission commented on #4856
Thanks for reply @emusand @meteorcloudy
I will write my own rule first

[2020-12-16 04:10] AustinSchuhBRT commented on #7260
I flipped `--incompatible_enable_cc_toolchain_resolution` today with 4.0.0-rc7 (essentially), provided my own toolchains, removed the `--crosstool_top` flag, and promptly got the following:

[code]

We don't have an android or IOS build, so I would have thought I could flip it without waiting.  Happy to file another issue, but this seemed relevant.

[2020-12-16 04:20] Morfly commented on #12697
Sure, I will generate an artificial project with the same Bazel configuration and try to reproduce the issue there. I will share the link once ready.

[2020-12-16 08:19] Flamefire commented on #12579
@meteorcloudy Is there some way to run some tests after installing bazel via "./compile.sh" to detect this issue and verify it is fixed? On HPC sites it can be quite costly to discover such things only after a 3-4hr build of something else. Usually programs provide  a `configure && make && make test && make install` workflow

[2020-12-16 08:53] meteorcloudy commented on #12579
@Flamefire To reproduce the exact issue, you basically need a gcc that's not installed in the standard location (and it's libs not in PATH). But I think once you have that setup, you don't need to build TensorFlow to verify it, this problem should exists for all tests. For example, with the Bazel repo, you can do `bazel test examples/cpp:hello-success_test -s` and check if `bazel-out/k8-fastbuild/

[2020-12-16 09:14] sgammon commented on #5426
@gergelyfabian this problem, or at least the set of problems discussed in this thread, doesn't always fail with the titled exception. it is worth noting that i still get an exception _looking_ like this unless i pin my project to Jacoco `0.8.3`

[2020-12-16 09:22] sgammon commented on #5426
well, it definitely seems to me like this is related to plugins. in my local project, i have the following 3 kinds of tests:

- calling Java from Java (JUnit 5)
- calling Kotlin from Java (JUnit 5)
- calling Kotlin from Java (JUnit 5, but with Micronaut plugins)

i've now been able to determine that with the [changes at `rules_kotlin`](bazelbuild/rules_kotlin#249) needed to get coverage working, c

[2020-12-16 11:06] Flamefire commented on #12579
Ok, checking now. I do have a reproducible way of setting up such an environment, compilation and test using EasyBuild. I'm testing with Bazel 3.4.1 which I know fails and now apply a backported patch (minor changes to master made the patch fail to apply). Am I right assuming that `--test_env=LD_LIBRARY_PATH` is still required with your fix? It sounds strange to me having to modify my test environ

[2020-12-16 11:27] meteorcloudy commented on #12579
Probably, otherwise only the `PATH` env var is updated, not sure that's enough. `LD_LIBRARY_PATH` is not passed by default because bazel wants to make the build as reproducible as possible, this benefits remote caching/execution. If users want to change the env vars, they should do it explicitly.

[2020-12-16 12:32] Flamefire commented on #12579
This still sounds wrong. I mean: I'm not running anything from "my" tests/binaries/.... What is being run here is ultimately a bash with a command. This does not require any LD_LIBRARY_PATH modification and hence is good by default, reproducible and so on. Now because of a Bazel internal detail, namely the process-wrapper binary, I need to pass LD_LIBRARY_PATH to everything or I can't use anything

[2020-12-16 13:01] davido commented on #12702
It's failing in `abseil` now:

[code]

[2020-12-16 13:28] meteorcloudy commented on #12579
@Flamefire
So this is basically a question of choosing dynamic linking or static linking for Bazel and its embedded tools.

If we choose dynamic linking, then Bazel expects some basic system libraries are in standard locations. This usually work for most of our users.

If we choose static linking, it will definitely help avoid such issues, but it will blow up the Bazel binary size (there are not o

[2020-12-16 13:32] katre commented on #7260
You said you provided your own toolchains? Try using `--toolchain_resolution_debug` to see what toolchains are being considered and why they aren't being used.

[2020-12-16 14:03] Flamefire commented on #12579
I see. Then the question is whether libstdc++ is considered such a "basic system library".
On many HPC systems (I know 3 big European ones) it is not: The compiler and its runtimes (excluding very basic ones like libc) are usually provided via modules while the system compiler is never touched. So you get a recent compiler by loading a module (which sets LD_LIBRARY_PATH)
So using the dynamic appro

[2020-12-16 14:24] meteorcloudy commented on #12579
Hmm, I thought --action_env should add the env var for all actions no matter they are using `use_default_shell_env = True` or not. Looks like there are still some exceptions..

This looks like another reason when cannot linked everything statically by default.

Glad this way still works. The problem of adding `BAZEL_STATIC=1` is that `./compile.sh` has to work across platforms. What does it means

[2020-12-16 14:34] Flamefire commented on #12579
This is why I suggested to add support for this to Bazel. I mean isn't one responsibility of a build system to abstract away platform specific things?
In #12651 you added `linkstatic = 1,`, so couldn't Bazel support something like `linkstatic_cxx` which does link libstdc++, libgcc or the compiler/platform specific variants?

[2020-12-16 14:39] Flamefire opened #12709 "Running Bazel tests on Power9 fails"
### Description of the problem / feature request:

Running `bazel test //src/test` fails with
[code]

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

 `bazel test //src/test` on any system not matching the 4 above, e.g. Power9, arch, ...

### What's the output of `bazel info release`?

3.7.1

[2020-12-16 15:02] meteorcloudy commented on #12579
Bazel does provide ways to abstract away platform specific things. But users have to actually implement those for the platforms they care about. However, it's really hard for a project to officially support all the different platforms out there.

Yes, `features = ["fully_static_link"],` is exactly our effort to implement something like that. As you can see, I tried this and failed. The build passe

[2020-12-16 15:06] alandonovan commented on #12608
My main concern is that you don't depend on Java class interfaces, as we don't guarantee API stability. (We may, eventually, for the net/starlark/java/... subtree, but we're not there yet.) The proto interface is lower risk, since it was at least designed to decouple the producer and consumer.

I assume you mean "parse", not "evaluate", here. Your application should not need to link in the evaluat

[2020-12-16 15:37] alandonovan commented on #12701
I think all the ctx.attr subobjects behave the same way as ctx (with self-destruct semantics), but I take your point that the range of analysis objects is broad.

Good point. I did some archaeology and found this doc, excerpted below:
  https://docs.google.com/document/d/1-XEr6YLHXVpleAKxeKEXNZrVXotWB7ZTFW0y95sp0Po
[code]

I suppose the question now is what to do about it. Some options:
a) do noth

[2020-12-16 15:40] josiahsrc commented on #12608
Ok, that sounds good. I'll shoot for using the protobufs first then (and keep an eye on the net/starlark/java... subtree to see if it becomes public).

Sorry, yes I meant parse. We're going heed your warning on the evaluation and stick with simple syntax parsing.

Thank you @alandonovan @laurentlb for your help! This info has helped us get a good footing on where to go next on our project. If poss

[2020-12-16 16:13] gergelyfabian commented on #12696
I think I found the reason.

https://github.com/bazelbuild/bazel/blob/c5f87ea56a8b1f90525b8a6407dba8778524ca60/src/java_tools/junitrunner/java/com/google/testing/coverage/JacocoCoverageRunner.java#L125-L128

Bazel creates coverage date with Jacoco for lines (and functions), but uses it's own logic for branch coverage (that is in fact older than Jacoco's filtering functionality: 2016 vs. 2017).

Th

[2020-12-16 17:13] alandonovan commented on #12608
Of course.  Good luck!

[2020-12-16 17:57] brandjon commented on #12701
Checking the [current](https://github.com/bazelbuild/bazel/blob/e22c6160d8be488a1a8e2231904a467bb6f0a2c4/src/main/java/com/google/devtools/build/lib/analysis/starlark/StarlarkCustomCommandLine.java#L830-L832) expected signature, it looks like map_each functions can have default args, though in the absence of nested functions that doesn't capture anything from the analysis phase.

(Interestingly, t

[2020-12-16 19:01] AustinSchuhBRT commented on #7260
Heavily redacted due to all the python and go toolchains (like 100 lines of noise...).  Happy to provide an un-filtered dump if you want.

[code]

Toolchain resolution succeeded for C++, and the correct toolchains were selected.  But, for some reason, the default `local_config_cc` is still being looked at, maybe because it is the default for `--crosstool_top` or something like that.  This ends up

[2020-12-16 19:10] katre commented on #7260
Yes, I'm not sure why `@local_config_cc` is being loaded, please file a separate issue for this.

[2020-12-16 19:26] #12701 closed

[2020-12-16 20:06] cpsauer commented on #10740
@oquenchil ?

[2020-12-16 20:06] AustinSchuh opened #12712 "--incompatible_enable_cc_toolchain_resolution still tries to access local_config_cc"
Splitting off of https://github.com/bazelbuild/bazel/issues/7260,

I flipped `--incompatible_enable_cc_toolchain_resolution` today with 4.0.0-rc7 (essentially), provided my own toolchains, removed the `--crosstool_top` flag, and promptly got the following:

[code]

We don't have an android or IOS build, so I would have thought I could flip it without waiting.

[code]

suggests that toolchain resol

[2020-12-16 20:31] #12705 closed

[2020-12-17 00:59] AustinSchuhBRT commented on #12712
FYI, @katre @gregestren, split from the other ticket.

[2020-12-17 01:37] eagleonhill commented on #12712
We encounters the same problem: whenever we want to cross-compile anything, with a platform mapping that doesn't map to host cpu(k8), I get the same error.

Looks like the reference is from `CppHelper.getToolchainUsingDefaultCcToolchainAttribute` calls, which always read crosstool_top.

[2020-12-17 03:52] jin commented on #6937
Reopening this issue to actually version the sidebar without conditionals

[2020-12-17 05:12] erinacio commented on #11628
Manually patched https://github.com/bazelbuild/bazel/pull/12035 to version 2.2.0, successfully compiled an dawin-arm64 version of bazel 2.2.0 with [zulu8 (arm64 build)](https://www.azul.com/downloads/zulu-community/?version=java-8-lts&os=macos&architecture=arm-64-bit&package=jdk) and it seems to work. Tried a simple C++ project (stage3 of bazel C++ tutorial project) and it produced arm64 program w

[2020-12-17 05:25] #6937 closed

[2020-12-17 06:59] camillol opened #12716 "objc_library does not use the right C++ dialect when compiling .mm files"
### Description of the problem / feature request:

Let's say you have a project that uses C++ and Objective-C[++], and you want to use C++17. You [pass](https://github.com/google/mediapipe/blob/39309bedba255aee2a4f31b29b65609857698ada/.bazelrc#L25) `--cxxopt=-std=c++17` when building. But your project depends on Abseil, and you start getting link errors where Objective-C++ .o files depend on missi

[2020-12-17 11:17] gergelyfabian commented on #11674
Latest proposal for rules_scala is to enable providing jacocorunner on `scala_toolchain` (similarly as it can be given for `java_toolchain`). This would be the way to configure jacocorunner until `java_toolchain` receives an API to be able to query it's settings from Starlark.

CC: @ittaiz

[2020-12-17 11:21] gergelyfabian commented on #11674
Btw. I found out that Jacoco e.g. 0.8.7 seems to be binary incompatible with current Bazel (3.7.1 I checked).
There seems to be a conflict with the asm version used by Jacoco and Bazel. A patched Jacoco 0.8.3 works.

[2020-12-17 11:55] neonelect opened #12718 "Bazel gRPC java server throws java.lang.NoSuchMethodError: 'io.grpc.Deadline$Ticker io.grpc.Deadline.getSystemTicker()'"
### Description of the problem / feature request:

Problem building gRPC java server with bazel

### Feature requests: what underlying problem are you trying to solve with this feature?

-

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Dependencies:
[code]

Just try to start the server like:

[code]

### What operating system are y

[2020-12-17 12:31] ulfjack commented on #10799
There is an additional bug in this part of the code that the linked commit does not fix - the test runner action uses the *host platform properties*, which seems incorrect. It should be using the *target platform properties* instead. Tests may be cross-compiled from one to another arch+os (e.g., cross-compiled on x64 Linux to run on arm64 Mac), and those tests cannot work right now. I'm happy to f

[2020-12-17 13:01] larsrc-google opened #12720 "Worker pools are shut down slowly on build/test interrupt"
From https://groups.google.com/d/msgid/bazel-discuss/a4179ec3-76c0-4e2f-b473-4a7e74cf7a81n%40googlegroups.com

buildInterrupted() at src/main/java/com/google/devtools/build/lib/worker/WorkerModule.java:205 doesn't actually kill the workers as hoped for, but waits for them to finish, _then_ kills them. That's the worst of both worlds.

In 2021, we should get worker cancellation, making this problem

[2020-12-17 13:18] limdor opened #12721 "record_rule_instantiation_callstack disappeared without any note"
### Description of the problem / feature request:

record_rule_instantiation_callstack is available in 3.6.0 but not available in 3.7.0

### Feature requests: what underlying problem are you trying to solve with this feature?

Add a note in the release notes saying that is not available anymore and explain what is the alternative or if this is the default behavior

### What's the output of `bazel

[2020-12-17 13:22] katre commented on #12712
As a workaround, can you create a `cc_toolchain_suite` and set `--crosstool_top` to keep the legacy CC machinery happy?

@oquenchil, can we make this check ignorable when toolchain resolution is enabled, or is it going to be necessary until we can flip the flag and remove the legacy code?

[2020-12-17 14:36] #12403 closed

[2020-12-17 15:05] AustinSchuhBRT commented on #12712
That's what I ended up doing, but it didn't feel right.  Hence the bug.

[2020-12-17 15:22] benjaminp commented on #12721
It's the default: 5b236638e115ed1ae6c586722ac5c126bffcf159

[2020-12-17 15:24] katre commented on #12712
Definitely a bug, I'm just glad to know there's a workaround if anyone hits this in the future.

[2020-12-17 15:34] smorad commented on #11379
I'm running into this exact issue using a chroot with `qemu-arm version 4.2.1 (Debian 1:4.2-3ubuntu6.10)` on `Ubuntu 20.04` using the latest release `bazel-3.7.1-linux-arm64`. Does anybody have any tips?

[2020-12-17 17:41] katre commented on #12188
Release 3.7.2 is out now: https://github.com/bazelbuild/bazel/releases/tag/3.7.2

@vbatts @petemounce @excitoon, can you update your packages?

[2020-12-17 17:57] katre commented on #12188
Homebrew update is in progress: https://github.com/Homebrew/homebrew-core/pull/67060

[2020-12-17 18:03] JaredNeil commented on #10875
As a sort of follow up to our specific problem that led me to file the original issue, I used [vercel/ncc](https://github.com/vercel/ncc) to bundle the node script and all of its dependencies into a single file. The average duration for `MerkelTree.build` went from 94ms to 0.15ms (625x speedup) and `getInputMapping` went from 104ms to 0.037ms (2810x speedup). A 100% disk cache hit build of the 40,

[2020-12-17 18:13] achew22 commented on #10875
@JaredNeil do you have something like `ncc_binary` that generates that? Do you check in the binary, or do you build it dynamically? Also, any chance you could drop a gist of what you're doing to do the bundling?

[2020-12-17 18:47] JaredNeil commented on #10875
We generate it at build time. It takes a little over 60s, but since it's basically always cached, that's not a big problem for us. The [`ncc_bundle`](https://gist.github.com/JaredNeil/ba1df89fd8d7693bf00c7934e0b4a58f) rule I wrote is pretty naive, but should give you something to work from. `ncc` doesn't work for all of our scripts since it takes too long (at least 30 minutes, never let it finish,

[2020-12-17 18:57] comius commented on #7526
Closing because --host_java_toolchain is in process of being deprecated. See https://github.com/bazelbuild/bazel/issues/7849

[2020-12-17 18:57] #7526 closed

[2020-12-17 19:00] comius commented on #1288
Closing, the documentation has been updated in https://github.com/bazelbuild/bazel/commit/2fb9f3cfe3ef152325335fb03e6ae8e7c2a5ee0d

[2020-12-17 19:00] #1288 closed

[2020-12-17 19:27] comius commented on #10230
Bazel Java now has supporting for systems with different glibc (will be released after 4.0.0).
Put into one of the build files:
[code]

And run bazel with `--extra_toolchains=//:custom_toolchain_definition`

For more information see https://docs.bazel.build/versions/master/bazel-and-java.html

[2020-12-17 19:27] #10230 closed

[2020-12-17 19:34] comius commented on #10031
Option {host}_java_toolchain is being deprecated. See https://github.com/bazelbuild/bazel/issues/7849.

Toolchain definitions are now located in @bazel_tools/tools/jdk. (and will probably be moved to @rules_java)

Replacing the java_tools repositories with custom in bazel@head would change the binaries used in toolchains.
While toolchain definitions can be customized in the repository and once the

[2020-12-17 19:34] #10031 closed

[2020-12-17 19:37] comius commented on #8309
Closing this, we are testing daily if tensorflow builds with Bazel.

[2020-12-17 19:37] #8309 closed

[2020-12-17 20:16] MikhailTymchukFT opened #12725 "Build event protocol reports incorrect firstStartTimeMillis and lastStopTimeMillis when test is scheduled"
### Description of the problem:

When test target is scheduled, build event protocol reports incorrect times of start and finish of the test.
Reported time is measured from the queueing time, not an actual execution of a test.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

1. `git clone https://github.com/MikhailTymchukFT/bazel-bep

[2020-12-17 22:12] moroten opened #12728 "Cannot delete path '/dev/null' on Windows"
### Description of the problem:

[code]

I suspect the `.exe` file extension on the tools is causing problems but that is just a guess.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Run the following under Windows:

[code]

### What operating system are you running Bazel on?

Windows 10

### What's the output of `bazel info releas

[2020-12-17 22:18] moroten commented on #12728
@philwo Can you set the `Release blocker` label, please?

[2020-12-18 01:16] benjaminp commented on #12728
probably fixed by a87d7ed2411d5382bac58a20b79e09c464ad13b9

[2020-12-18 07:56] cpsauer commented on #348
Ran across this while looking for a workaround for our team. Can confirm that there are still people who'd use this :) (looks like Tensorflow/MediaPipe are also using AJ's good workaround.)

Any updates on official support?

[2020-12-18 09:05] steeve commented on #348
Once starlark rules_android lands (they are in alpha iirc), it'll be much easier to add it

[2020-12-18 10:12] rulatir commented on #2362
Solution: abandon bazel. Dynamic dependencies are a reality, and build systems that find excuses not to natively support them are stuck in a correctness utopia.

[2020-12-18 10:14] gergelyfabian commented on #12696
After thinking about it once more, emitting branch coverage data should be done basing on what Jacoco has provided us (not just checking filtering), as it may happen that Jacoco filters out just part of the branches for a single line.

[2020-12-18 14:33] quval commented on #10799
Would it be make sense to allow the test exec group in the platform definition, too? The linked commit and PR allow setting exec properties with it on test rules, but not on the platform itself (I'm getting "Tried to set exec property '...' for non-existent exec group 'test'").

[2020-12-18 15:11] liucijus opened #12730 "ijar incorrectly handles MANIFESTs with sections"
### Description of the problem:

ijar tool incorrectly handles MANIFEST files with [sections](https://docs.oracle.com/en/java/javase/11/docs/specs/jar/jar.html#name-value-pairs-and-sections) by removing empty lines and appending main attribute `Target-Label` after them.
I've faced this issue by trying to use `java_common.stamp_jar` on external jars.

### Bugs: what's the simplest, easiest way to r

[2020-12-18 16:37] ulrfa opened #12731 "Avoid different transition output directories when only unrelated command line flags changed"
### Description of the problem / feature request:

Bazel is currently including user defined build settings from the command line, when calculating hash for transition output directory, **even if those settings are not affected by any transition**. That result in **zero cache hit**s, despite changing a command line build setting for only a small subset of the actions.

The problem only occurs if a

[2020-12-18 18:08] #12524 closed

[2020-12-18 22:54] ulfjack commented on #10799
Uhhh, that's an interesting proposal. That might be a very natural way to provide fine-grained properties in a central location.

[2020-12-19 02:34] divanorama opened #12735 "Starlark: provide a way to probe builtins availability"
### Description of the problem / feature request:

It seems that it's not possible to test whether some builtin is available or not from within Starlark
- no hasglobal/getglobal/globals (https://github.com/bazelbuild/bazel/issues/7428#issuecomment-465534716)
- can't check if <insert_module_name> is None
- can get bazel version, but can't get flags to interpret it, also can't do conditional load to

[2020-12-19 02:47] divanorama commented on #12735
Maybe it's a candidate for skylib:
- add a repository rule that knows builtins based on bazel version
- it re-exports them if they exist in current version
- if they don't exist, export stubs like: "def f(): fail()", "x = None"
- exports list of builtin names for given bazel version to allow for fallbacks on caller side
- additionally may add json_compat layer that'd add bazel_json repository and

[2020-12-19 05:34] ittaiz commented on #11674
@gergelyfabian how big is the jacoco jar? Maybe we should commit the patched jar to rules_scala and have that be the default? If it's not too big maybe you should write in one of the relating issues the full repro and Vaidas or me will commit it (given it's binary maybe it's better it will be done by us)

[2020-12-19 07:33] gergelyfabian commented on #11674
I think this may be a good idea. I have a script that I use to generate the
jacocorunner jar, so you could use that to build it and then upload it to
rules_scala.

FYI: I use the same script to create a different version as I have gone
further and started applying fixes for Scala itself in Jacoco (e.g branch
coverage for case class generated methods and fixes for Jacoco LCOV
Formatter in java_tool

[2020-12-19 07:36] gergelyfabian commented on #11674
This script could be also used by anyone to generate their own version of
jacocorunner and use it in their workspace (with any further fixes they
wish).

Fábián Gergely <gergo.fb@gmail.com> ezt írta (időpont: 2020. dec. 19., Szo
8:32):

[2020-12-19 09:32] gergelyfabian commented on #11674
The script for generating custom jacocorunner is available here: https://github.com/bazelbuild/rules_scala/pull/1173.
The built JacocoCoverage_jarjar_deploy.jar is 8.2MB.

[2020-12-19 10:05] Litao917 commented on #4612
Well. My solution is switching the version of gcc by

[2020-12-19 10:52] bjacklyn commented on #12350
We need a solution for this because unlike what the documentation implies -- that headers in `srcs` are private -- that is not actually true for remote cache hits. Private headers are part of the remote cache key; this means changes to private headers invalidate consumers who don't read them! Dotd dependency pruning helps for local builds because you usually build multiple times, but that still me

[2020-12-19 16:55] quval commented on #10799
If you're accepting PRs, I'll be more than happy to try and add support for this. Or does this need to be discussed before?

[2020-12-20 09:39] davido commented on #11655
Is this statement also accurate for `bazel test` command?

In gerrit, when running `bazel test foo` on Linux I regularly see, that JDKs artifacts for Mac OS X and Windows are fetched.

[2020-12-21 05:17] davetclark opened #12737 "Make default_compile_flags configurable for the default Windows CC toolchain"
### Description of the problem / feature request:

For the default windows cc toolchain, make the default_compile_flags given by the default_compile_flags feature be configurable, as an attribute to the cc_toolchain_config

### Feature requests: what underlying problem are you trying to solve with this feature?

Allow users of the default window toolchain to configure the default flags without def

[2020-12-21 07:44] mr-salty commented on #11520
This has happened to us twice more, on 7/28 and 12/14.

looking at the most recent [log](https://source.cloud.google.com/results/invocations/01bb3e86-c6ef-4942-9fe5-c3b0d993f1c4/targets/cloud-cpp%2Fgithub%2Fgoogle-cloud-cpp%2Fmaster%2Fmacos%2Fbazel/log) the two timestamps around the first error differ by 30 *minutes*.  Is there some additional debugging we could enable? Although, the rate of 3 fai

[2020-12-21 07:57] Flamefire opened #12738 "Unrecognized option error when running java from inside Bazel"
### Description of the problem / feature request:

I'm trying to test the Bazel installation on a POWER9 machine which uses an OpenJDK. When running `bazel test` I get various failures containing "Unrecognized option: --add-exports=jdk.compiler/com.sun.tools.javac.api=ALL-UNNAMED"
So Bazel passes options to the `java` binary which (at least) OpenJDK does not understand.

### Bugs: what's the simpl

[2020-12-21 09:05] achew22 commented on #10875
@JaredNeil thank you so much for sharing these. In my local tests (admittedly in a synthetic test repo) I'm seeing pretty significant improvements. This is a great trick!

[2020-12-21 11:22] limdor commented on #8857
I guess that I am having the same issue like @siddharthab. If I take a very simple bazel example and try to run it with the incompatible flag or with bazelisk migrate it fails.
However I do not have any mention of //tools in the code.
@aiuto is this ready for the users to be migrated? I saw that @philwo added the migrate flag for 4.0 but I do not see anything that I can do as a user to fix the fai

[2020-12-21 11:30] advancedwebdeveloper commented on #12683
@adrianschroeter , what is the best way to check whether an application is running under systemd-nspawn + qemu-linux-user (JeOS) ?
It makes sense to form such a configuration, for Bazel.

[2020-12-21 15:55] janakdr commented on #12158
@mihaigalos it sounds like if you're using an HTTP or disk-based remote cache, you should be able to prototype my suggestion, by doing the following: use `git ls-files -s` to construct a file that is valid output of `getfattr -R -d` and consequently valid input for `setfattr --restore`, like:

[code]

Then you can run `setfattr --restore=<file>` and that should give all of your files the proper xa

[2020-12-21 20:04] MikhailTymchukFT commented on #3791
Which release contains this flag?

[2020-12-21 20:14] veganafro opened #12741 "mobile-install is failing on a python import error"
### Description of the problem / feature request:

I'm attempting to run `bazel mobile-install` for an `android_binary` target. The app is the simple hello world app generated by the single activity app base in Android Studio.

This is the incorrect output I'm seeing:

[code]

This seems peculiar because when I build an apk with `bazel build //app/src:app_binary` and install it manually with `adb

[2020-12-21 23:15] dmivankov opened #12742 "java_test: -ea ("assert" keyword flag) isn't customizable"
### Description of the problem / feature request:
It is not possible to (easily) disable [java 1.4+ asserts](https://docs.oracle.com/javase/7/docs/technotes/guides/language/assert.html) in java_test targets.
Easiest way is not setting -ea jvm flag, or to allow to overriding it with -da https://docs.oracle.com/en/java/javase/15/docs/specs/man/java.html#standard-options-for-java
Uglier way is to (pr

[2020-12-22 02:55] wisechengyi commented on #7489
Review out at https://github.com/bazelbuild/bazel/pull/12740

[2020-12-22 09:23] KrauseStefan opened #12744 "genrule does not respect package casing on windows for output"
### Description of the problem:

When using the genrule on windows with the `$@` shortcut does not substitutes to the expected result.
It will always produce a label that is in lowercase even though the package should have a mixed case label, on Linux it correctly substitutes to a mixed case label.
The out label matches the value of `$@`.

### Feature requests: what underlying problem are you tryi

[2020-12-22 10:52] limdor opened #12745 "Make target_compatible_with available also for cc_import"
### Description of the problem / feature request:

target_compatible_with is not available for cc_import

### Feature requests: what underlying problem are you trying to solve with this feature?

The same logic that one would like to apply to a cc_library applies to a cc_import

### What's the output of `bazel info release`?

Build label: 4.0.0rc7

[2020-12-22 16:53] #12565 closed

[2020-12-23 08:37] Corezcy opened #12748 "error: undefined reference to 'google::SetCommandLineOption[abi:cxx11]"
### Description of the problem / feature request:
here is my bazel.rc:
[code]
I use C++17 to build a `cc_binary` ,which build file is
[code]
and get the problem:
[code]
**error: undefined reference to 'google::SetCommandLineOption[abi:cxx11](char const*, char const*)'**

### What operating system are you running Bazel on?

Ubuntu18.04

### What's the output of `bazel info release`?

release 3.7.1

[2020-12-23 15:04] Corezcy commented on #12748
when I change the `cc_binary` to `cc_library`, the problem is fixed, bazel build passed correctly…… So where is the problem??????

[2020-12-23 16:27] aiuto commented on #12081
Current plan:

1. Make create a macro that does an http_archive for a repository from DIST_DEPS #12722
This reduces error-prone boilerplate from the top level WORKSPACE
2.  Generate embedded *.WORKSPACE files which must be in sync with dist_deps.  #12743
     Example:  src/main/java/com/google/devtools/build/lib/bazel/rules/cpp/cc_configure.WORKSPACE
    Add a rule that can create WORKSPACE stanza

[2020-12-23 17:53] aiuto commented on #8857
No one should be using  @bazel_tools/rules_pkg any more. They should use github.com/bazelbuild/rules_pkg.
I think we can fix this by removing the migration labels and/or changing the title of this.  I'll do both.
That said,  it is just going to disappear from Bazel at one point, with no migration warning.

[2020-12-23 18:18] ayankumarh commented on #11628
I am trying the command.

`USE_BAZEL_VERSION=last_green bazelisk build -c opt --cpu=darwin_arm64 //src:bazel`

It fails with the following error :-

`WARNING: Running Bazel server needs to be killed, because the startup options are different.
Starting local Bazel server and connecting to it...
DEBUG: /private/var/tmp/_bazel_ayanhalder/41cd2b7fe220c72c9678bf9436ba6009/external/bazel_toolchains/rule

[2020-12-24 04:26] #12748 closed

[2020-12-24 09:05] quval commented on #10799
@ulfjack I took the liberty of playing a bit with your PR to implement this and fix what I think was a bug - test actions were ignoring any constraints. Here's the diff: https://github.com/ulfjack/bazel/compare/test-on-target-platform...quval:test-on-target-platform

[2020-12-24 11:46] paul-hammant opened #12750 "java_export fails with vague message for incorrect credentials to sonatype"
[code]

I'd stipulated:

[code]
name/pw are wrong obviously and that's the issue on upload, but message issues around "BASIC realm" is vague.

@shs96c asks to be tagged.

[2020-12-26 00:17] fosslinux commented on #8406
Despite the commit closing this issue, I am still having issues with `ijar` on a non-standard system (musl). How can I force bazel to rebuild ijar now that this should be supported?

[2020-12-26 11:57] comius commented on #8406
Add
[code]
to a `BUILD` file and use `--extra_toolchains=//:custom_definition --incompatible_use_toolchain_resolution_for_java_rules` with bazel@head.

Be careful to add `_definition` suffix when specifying the flag.

@fosslinux I'd be glad if you confirm this is working. We don't have any non-standard systems in our test stand.

[2020-12-26 22:13] fosslinux commented on #8406
I appended that block to the root BUILD file in a checkout of this bazel repository and added that flag to the end of my bazel build command. However, it fails with:

[code]

Grepping through the checkout yields no results for `NONPREBUILT_TOOLCHAIN_CONFIGURATION`. Why is this so?

[2020-12-26 22:57] fosslinux commented on #8406
Oops, I wasn't on master. Now, this symbol is most def in tools/jdk/default_java_toolchain.bzl, but the build system still gives the same error....

[2020-12-27 14:33] jongerrish opened #12754 "Require option to disable annotation processing for `java_common.compile()`"
### Description of the problem / feature request:

In [bazelbuild/rules_kotlin](https://github.com/bazelbuild/rules_kotlin), annotation processors are run first using `KAPT`. `java_common.compile()` is then used to build any source generated via annotation processors with `KAPT` along with any project Java source. Since annotation processing has already happened we don't want annotation processing

[2020-12-27 14:36] jongerrish commented on #12754
@cushon @kevin1e100 - thoughts? I'm happy to submit a PR for this.

[2020-12-27 21:02] cushon commented on #12754
`javac_opts = ["-proc:none"]` should disable annotation processing in `java_common.compile()`, and it works for me in this example: https://gist.github.com/cushon/4359aab8eb6e39dffd7e1afbed428c08

[2020-12-27 22:49] sammi commented on #12624
Thanks for the comment, it is being solved by using /out option. Details are here:
https://stackoverflow.com/questions/65121191/bazel-midl-rule-generated-c-header-file-and-winmd-file-locates-in-different-fo

[2020-12-28 08:47] Johannes-Lange commented on #11628
@erinacio could you upload your 2.2.0 darwin arm binaries?

[2020-12-28 11:25] davido opened #12756 "Bazel@HEAD doesn't build on gcc 11"
Trying to build Bazel@HEAD (009ce7b1d296e8f6b6e3d68189e6f26b47636663) is failing here with:

[code]

Apparently `abseil` is outdated and is missing "#include <limits>" directive.

[2020-12-28 13:22] zhengwei143 opened #12757 "incompatible_use_lexicographical_unordered_output: Incompatible flag for graphless query lexicographical output order"
Flag: `--incompatible_use_lexicographical_unordered_output`
Available: Yet to be released
Flipped in: To be confirmed. Will be flipped together with `--incompatible_prefer_unordered_output`.

### Motivation and changes

Currently there is a mismatch in the output order of graphless query and graphless genquery. Graphless query outputs targets in the order they were processed, whereas graphless gen

[2020-12-28 13:32] jongerrish commented on #12754
Ah, got it. I think the thing that threw me off there was the progress message includes the string `and running annotation processors (..., ...)` even when `javac_opts = ["-proc:none"]` is specified. Would you be open to a PR making that progress message conditional on `javac_opts = ["-proc:none"]`?

Finally, is there any value in using the direct header compilation action in these cases albeit wi

[2020-12-28 19:19] brandjon opened #12758 "Document behavior of custom `env` and `env_inherit` attributes in Starlark rules"
eb5cdcb972326321a649d9b4df495ae22aea3f12 added built-in `env` and `env_inherit` attributes that control the environment of an executable target in a `blaze run` invocation. It's still possible to define these attributes in custom rules. If that happens, and if they are of the right type (strict dict and string list), they will be interpreted specially, probably contrary to the rule author's intent

[2020-12-28 20:14] motiejus commented on #10443
Consider `xz -T0`, which uses all available cores. Assume:

[code]

I would like to tell Bazel that "this rule uses N-1 workers, where N is the number of available cores"*; I would still like to leave 1-2 slots, in case they are IO bound.

[2020-12-28 22:35] EvanHonnold commented on #4005
@hlopko @oquenchil  Might you have a chance to take a look at @det 's comment above? I am running into many of the same issues and would be curious to know if there are any workarounds.

[2020-12-28 22:38] gregestren commented on #12419
Would this work as a current workaround?

1. Define a default "empty" toolchain that's compatible with everything.
1. For rule implementations using that toolchain:

[code]

[2020-12-28 22:48] jgarvin commented on #4510
The work around from @krafczyk doesn't work if you need to dynamically link the standard library. In my code base I have to link a library from a third party that has already chosen to link the standard library dynamically, so statically linking it myself will lead to a mix of versions (and indeed crashes with errors similar to this thread).

I'm a little flummoxed that the leading suggestion for

[2020-12-29 04:00] coeuvre commented on #3791
It should be contained in release 4.0. You can track the release here #12455.

[2020-12-29 15:50] KrauseStefan opened #12759 "The --script_path flag on Windows does produce a correct bat file when target is the test_wrapper"
### Description of the problem:

When running something like `bazel run "--script_path=C:\test.bat" //services/Web-Client/src/services:test`
Where the target ends up running the `test_wrapper` the created `test.bat` file is invalid.

Inspecting the file reveals something like the below, I have removed the setup of environment variables as this is not the problem.

[code]

The last line will always

[2020-12-29 17:04] michaeledgar commented on #12575
I have a fix that eliminates the crash similar to the ideas you proposed: the `BuildEventArtifactUploader` should be ReferenceCounted. In the scenario you describe - with both the BES transport and the File transport enabled, a single `BuildEventArtifactUploader` is shared between two instances that are currently both calling `shutdown`.

[2020-12-29 17:17] siggisim commented on #12575
Ah that's great news, huge thank you for looking into this @michaeledgar!

Hopefully the reference counting will address the other issue as well, since it seems like in that scenario `shutdown` is called on the [uploadExecutor](https://cs.opensource.google/bazel/bazel/+/master:src/main/java/com/google/devtools/build/lib/remote/ByteStreamBuildEventArtifactUploader.java;l=251?q=ByteStreamBuildEventA

[2020-12-29 22:54] michaeledgar commented on #12575
The fix is currently in review; the patch may be accessed early at https://bazel-review.googlesource.com/c/bazel/+/149490.

[2020-12-29 23:43] martinxsliu commented on #12455
@philwo If there is still time, could we cherry pick https://github.com/bazelbuild/bazel/commit/e6670825b1e183f81f5c864aafd425d512fa9ff5 as well? It fixes an issue with using the new --host_action_env flag. Thanks!

[2020-12-30 01:17] danhd123 commented on #5318
Can the workaround of splitting objc_libraries into .mm and .m pieces be documented somewhere besides here? It's been in place for nearly two years at this point, but it's not anywhere in the official documentation.

[2020-12-30 04:04] erinacio commented on #11628
Maybe nope. It's actually not so hard to build one for yourself, and GitHub doesn't support uploading binary files to issue page.

[2020-12-30 04:16] sigmaxipi opened #12761 "cc_library for Android builds very slow on WSL"
### Description of the problem / feature request:

On Windows Subsystem for Linux, building a `cc_library` for Android takes 15+ seconds. Building the same code without targeting Android takes under a second. I've only been able to repro this issue on WSL.

### Feature requests: what underlying problem are you trying to solve with this feature?

Build native Android apps on WSL.

### Bugs: what's

[2020-12-30 04:26] sigmaxipi commented on #12761
If I use `--spawn_strategy=local`, the problem goes away.

https://github.com/bazelbuild/bazel/issues/4619 might also be related.

[2020-12-30 20:20] #12758 closed

[2020-12-30 20:39] #12575 closed

[2020-12-30 20:43] moshe commented on #11371
@EricBurnett any update on this one?
I've used interactive bazel tests for debuffing python tests using pdb which broken since 3.1.0 due to this commit: https://github.com/bazelbuild/bazel/commit/9051faa313f29b8ad8ded68b48b3f7af13108d77
@alanfalloon did you found a workaround for this issue?

Thanks,
Moshe

[2020-12-30 21:20] EricBurnett commented on #11371
For a workaround, you should be able to do something like `bazel build :foo && gdb "$(bazel info bazel-out)/foo"` - just run the test binary under gdb after having built it. Please don't use `bazel run` for this purpose - at least as it stands today, the documentation explicitly says _"--run_under can't be used for interactive commands"_ and you should not expect it to work properly or to keep wor

[2020-12-30 21:34] GMNGeoffrey commented on #12630
Oops it looks like I didn't finish filling out the issue report. I am now running `bazel clean --expunge` multiple times a day for different repositories because of this issue

[2020-12-30 22:00] konste commented on #12412
@philsc @gregestren I just published my attempt at the alternative design [here](https://docs.google.com/document/d/1rJcXDcMVVOj84E30aYiTlddfvlyIobR5XSadQWsiF9U/edit#). Hoping to make it simpler, less invasive and with that hopefully implemented sooner.

[2020-12-31 00:22] deanwampler opened #12762 "The `*-offline.jar` files generated and used by Bazel coverage need to include directories as well as files."
### Description of the problem / feature request:

Using this command,

[code]

(FYI, this is a Scala project.)

A `null` is returned when `MyFunkyTest` tries to fetch a _directory_ resource, say `/testdata`, `getClass.getResource("/testdata")`. The test finds the directory resource when `bazel test --test_filter='*MyFunkyTest*' //myproject:unit-tests` is run.

### Bugs: what's the simplest, easie

[2020-12-31 03:03] vnvo2409 commented on #12630
@GMNGeoffrey I got this issue recently. I found there are 2 ways for fixing it.
- Just load it by using `load("@rules_cc//cc:defs.bzl", "cc_library")` without adding `rules_cc` in your `WORKSPACE`.
- If you add `rules_cc` in your `WORKSPACE`, you have to add a `strip_prefix`, that works for me.
[code]

[2020-12-31 03:11] GMNGeoffrey commented on #12630
Thanks. That then brings us to https://github.com/bazelbuild/buildtools/issues/923 :grin: I also find I get this with rules_python

[2020-12-31 17:10] chancila commented on #12761
likely a filesystem performance issue, I haven't done much building on windows but macos also has this issue compared to linux although it doesn't sound nearly as bad, the reason you're not seeing the normal/host build have any perf degradation is because the autoconfigured cc_toolchain isn't fully sandboxed, the ndk toolchain is, and creates a lot of symlinks on the filesystem per sandbox invocat

[2020-12-31 17:47] jwbee commented on #11628
I see the same behavior as @ayankumarh which suggests that those of you who have this working have something else in your repo that isn't available to the rest of us. I can't get it working with any combination of the patches mentioned here.

[2020-12-31 20:17] AustinSchuh commented on #12412
@konste , mind making the doc viewable publicly?

[2020-12-31 20:25] konste commented on #12412
@AustinSchuh, of course! Please try now.

[2020-12-31 21:48] AustinSchuh commented on #12455
I'm guessing that the appetite for additional changes in 4.0 is small, but we've been running https://github.com/bazelbuild/bazel/commit/07400c0392e7be163f8a3396fa5cf89ce6705412 cherry-picked on 4.0-rc7 for a couple of weeks now with no issues and would appreciate a cherry-pick.

[2020-12-31 21:57] jbms commented on #12455
The previous commit that was cherry-picked, https://github.com/bazelbuild/bazel/commit/eb5cdcb972326321a649d9b4df495ae22aea3f12 unfortunately breaks the `env` attribute of `container_image` in rules_docker.  The breakage is fixed by https://github.com/bazelbuild/bazel/commit/c83366064621d5a265eba14d93a03deff58fe6d8.

[2021-01-01 02:18] symbiont-ji opened #12764 "Documentation issue: Remote caching"
Documentation URL: https://docs.bazel.build/versions/master/remote-caching.html

Where is the documentation for how to provide bazel options to use grpcs as a remote cache? In particular, what formats are the keys and certs supposed to be in? I used:

[code]
and got a complaint about the client key being in the wrong format. Some searching revealed that it should have been in PKCS#8 format, so I c

[2021-01-01 12:15] mostynb commented on #12764
This recipe was used to create self-signed certs/keys for tests, it might be a good starting point in figuring this out:
https://github.com/bazelbuild/bazel/tree/master/src/test/testdata/test_tls_certificate

[2021-01-02 14:34] moshe commented on #11371
`bazel build :foo && gdb "$(bazel info bazel-out)/foo"` not going to work if the tests consume Bazel's environment variables like `TEST_TMPDIR`.

I don't think the bug is legitimately closed, version 3.1 introduced a regression that breaks people's development cycle, it needs to be fixed, or at least marked as an open bug.

I don't mind contributing back a fix, but I need your approval before impl

[2021-01-02 17:37] davido opened #12765 "Gerrit: Javadoc generation rule is failing on RBE"
Trying to generate javadoc on RBE is failing for Gerrit Code Review:

[code]

//CC @philwo @hanwen

[2021-01-03 00:54] EricBurnett commented on #11371
True. I haven't tested this, but you might also be able to do something with `bazel run --run_under=echo` to extract the full command-line, and then give that to gdb instead.

I've thought about this more, specific to what gdb is likely getting tripped up on. Useful background reading: [sessions/process groups/processes](https://www.win.tue.nl/~aeb/linux/lk/lk-10.html). I initially thought it was

[2021-01-03 18:15] ionutnechita opened #12766 "[documentation] Tutorials for Go language/project"
Hi Bazel Team,

I noticed on your documentation page, 4 languages with related tutorials. ( C++, Java, Android and iOS ).
https://docs.bazel.build/versions/3.7.0/bazel-overview.html#tutorials

Would it be possible to create an example in Go language?

It would be a starting point for those with projects in Go.

I intend to use the bazel for a new project in the future.

Thanks.

[2021-01-03 20:11] limdor opened #12767 "Provide a way to create a toolchain from an autodetected one"
### Description of the problem / feature request:

Bazel has two ways to deal with toolchains, one is to use toolchains provided by the user, and the other one is to automatically provide toolchains depending on the tools that are installed in the computer where Bazel is executed.
The auto-detected toolchains are very useful for anyone starting with Bazel but soon people start running into the cha

[2021-01-03 20:16] sigmaxipi commented on #12761
@chancila , you're right. I thought the WSL filesystem was going to use a disk image similar to what VmWare does. But it looks like it's a normal NTFS system under `%LOCALAPPDATA%\Packages\DISTRIBUTION_NAME\LocalState\rootfs\UNIX_PATH\...`.

I guess I'll stick with the non-sandboxed version for now.

[2021-01-04 01:09] Morfly opened #12768 "[ERROR] Bazel randomly crashes while building multiple Android data-binding targets"
### Description of the problem / feature request:

When I'm building an Android project that consists of many data-binding enabled targets, Bazel constantly randomly crashes while building one of them. After I start to build the project again, the crashed module builds successfully.
Looks like the issue does not relate to the specific target as after retry they build successfully.

The project its

[2021-01-04 09:58] aherrmann opened #12770 "Documentation issue: Debugging remote cache hits for remote execution"
Documentation URL: https://docs.bazel.build/versions/master/remote-execution-caching-debug.html

This piece of documentation still references the old flag [`--execution_log_binary_file`][binary] which requires additional steps to build a parser in the Bazel source tree and convert the binary files into a human readable format. Is there a reason why this guide does not reference the new flag [`--ex

[2021-01-04 11:17] dmivankov commented on #12742
Actually, looks like `-da:smth -ea` still disables asserts in da, which is good enough as a workaround for specific assertsions.
[code]
Would still be good to be able to optionally remove all asserts.

[2021-01-04 14:57] redradist commented on #10139
@shauryad15 I have faced with the same error during the building tensorflow v2.3.0 ...
[code]

[2021-01-04 17:23] aherrmann commented on #6874
It looks like this issue was fixed by https://github.com/bazelbuild/bazel/commit/0581d1961199ee7d8b7cad92e77e7ef927d526bb which removed the access to `ctx.fragments`.

[2021-01-05 00:19] philsc commented on #12412
Apologies @konste . I've been in full vacation mode for the past few weeks. I'll take a look soon.

[2021-01-05 00:35] philsc commented on #12419
@gregestren , the `IncompatiblePlatformProvider` class is currently not exposed to Starlark so that approach unfortunately doesn't work at the moment. However, I think that's a really neat, simple idea!

[2021-01-05 01:40] keith commented on #4984
https://github.com/bazelbuild/bazel/pull/12772

[2021-01-05 01:40] keith commented on #6932
https://github.com/bazelbuild/bazel/pull/12772

[2021-01-05 09:03] philwo commented on #11655
@davido That sounds like a bug. Could you open a new issue with simple repro steps (I guess "first `git clone this` and then `bazel test that`" should be enough) so we can have a look?

[2021-01-05 09:03] #11655 closed

[2021-01-05 10:45] meteorcloudy commented on #12728
@moroten Can you help confirm this issue is fixed by a87d7ed? Thanks for the reproduce case, but I cannot verify it because I don't have the setup for the remote build.

[2021-01-05 11:34] meteorcloudy commented on #12403
@mai93 Thanks a lot for fixing this!

[2021-01-05 13:06] jbpextra opened #12774 "Technical Debt: Cyclic dependencies between EvalUtils, Dict and Starlark"
### Description of the problem:

There exists a cyclic dependency between classes EvalUtils, Dict and Starlark that routinely wastes 2% of overall development time.

We at Skuld Technologies have developed a tool that automatically finds cycles that have a negative impact on the development process. These cyclic dependencies have the potential to create exponential ripple effects during developmen

[2021-01-05 13:25] hlopko commented on #4005
I haven't yet, @c-mita, maybe you have worked with Bazel modules recently?

[2021-01-05 15:53] alanfalloon commented on #11371
@moshe our workaround is to maintain a fork of Bazel that tracks the releases, but with this commit reverted. It is not a sustainable work-around for a small team, but it is the easiest path for us.

The direct execution of tools that @EricBurnett mentioned is a non-starter for us because (as @daveyc123 mentioned) our `--run_under` scripts also find and set-up all the tooling via the Bazel workspa

[2021-01-05 21:38] EricBurnett commented on #11371
Another workaround for you to consider. I validated this works for me for at least the simple use-cases I tried, though it's not perfect (e.g. no scrollback history). Might suffice to unblock you for now?
```$ cat /dev/tty | bazel run --run_under=gdb :foo_test```

I did some poking through history; looks like it's pretty muddy. I can find no indication it was ever explicitly added as an intentiona

[2021-01-05 21:46] keith commented on #8902
One thing I realized with the `DEVELOPER_DIR` workaround is that if the user overwrites their Xcode.app with a newer version, the `DEVELOPER_DIR` will not change, but the version of Xcode will. So that's a case where this workaround isn't enough 😞

[2021-01-06 00:42] jeraldliu opened #12776 "Support for ARM64 Linux"
### Description of the problem / feature request:

It seems there is [support for building C++ binaries on ARM64+Windows](https://github.com/bazelbuild/bazel/commit/1f77972536c69c27ce3076de9f634e1a02a14a5e#diff-89a237784c63ef1b97979702430787d86126537d6d0c50347c5101f74bd00b31). Are there plans to support ARM64+Linux?

### Feature requests: what underlying problem are you trying to solve with this f

[2021-01-06 03:51] aiuto commented on #12735
We've talked about this a lot. It almost seems useful, but you soon want to do something different enough so that you hit the wall you hinted at about conditional load. One of the things we are thinking of is that rule sets versions should be explicitly tied to bazel versions. Depending on bazel version we swap the entire WORKSPACE to get a compatible suite.  Of course, home grown rules would also

[2021-01-06 05:43] stellaraccident commented on #10327
I do not believe this is fixed: With devtoolset-9, which has the same libstdc++ linker script trickery, it is impossible to build bazel itself, and a look at the link params file for the failing invocation reveals that libstdc++ is still in the wrong order.

Steps to repro:

* `docker run --rm -it quay.io/pypa/manylinux2014_x86_64 /bin/bash`
* Download bazel dist and attempt to bootstrap bazel.
*

[2021-01-06 06:48] Morfly commented on #12697
Hi @ahumesky
I have an update regarding the sample project.
I have built a tool that allows generating `Bazel` projects using `Kotlin DSL`.
Here you can check the example data-binding project that can be useful during the issue triaging: https://github.com/Morfly/bazel-gen/tree/master/examples/examples-generation/androidx-data-binding-no-stubs
1. `config` directory contains the configuration Gradl

[2021-01-06 07:28] davido opened #12778 "bazel test //... on Linux is downloading JDKs for Windows, Mac Os and Linux ppc64le"
Trying to run `bazel test //...` for Gerrit@Head with Bazel@HEAD (cfebb18ad206162c1309962e8d396a5fd0ef234e) JDKs for ferign platforms are fetched:

[code]

I wouldn't expect, that foreign JDKs are fetched: `@remotejdk11_macos`, `@remotejdk11_macos`, `@remotejdk11_win` and `@remotejdk11_linux_ppc64le`.

[2021-01-06 07:33] davido commented on #11655
[Done](https://github.com/bazelbuild/bazel/issues/12778).

[2021-01-06 07:40] stellaraccident commented on #10327
Another egregious hack memorialized: https://github.com/stellaraccident/manylinux-bazel

[2021-01-06 08:45] chengwei920412 commented on #10099
lavender is ugly design

[2021-01-06 18:13] symbiont-ji commented on #12764
Thanks! The part I was missing was that the certs should be in PKCS #8
format, not in the variant .pem format `openssl` was creating.

On Fri, Jan 1, 2021 at 7:15 AM Mostyn Bramley-Moore <
notifications@github.com> wrote:

[2021-01-06 19:47] arunkumar9t2 opened #12780 "Bazel hangs when compiling large no of databinding modules"
### Description of the problem / feature request:

We have a large app, 1000+ modules with many of them using databinding and encountered few issues due to usage of lists to propagate databinding data among dependencies. This leads to two issues mainly

1. Argument list too long error is thrown when compiling large module with lot of dependencies that use databinding. See https://github.com/bazelb

[2021-01-06 19:47] cvrebert opened #12781 "Documentation issue: General Rules: When to use genrule vs. rule ?"
Documentation URL: https://docs.bazel.build/versions/master/be/general.html#genrule

This documentation lacks guidance on whether, or in what situations, a [`rule()`](https://docs.bazel.build/versions/master/skylark/rules.html) should be favored over a [`genrule()`](https://docs.bazel.build/versions/master/be/general.html#genrule) (or vice-versa).

IMHO, `rule`s are preferable because:
* They can

[2021-01-06 20:25] arunkumar9t2 commented on #12697
Thanks @Morfly.

Hello @ahumesky, I believe the root cause of the argument length problem arises from the way databinding data are propogated. I created https://github.com/bazelbuild/bazel/issues/12780 which has a small project that explains the problem.

Method too large error seems to be a different problem, I do not have pointers on how it can be overcome other than reducing resources. This is

[2021-01-07 00:45] lightyang commented on #5391
The presence of SDKROOT / isysroot excludes /usr/local/include from the include paths

[code]

[2021-01-07 04:08] aiuto commented on #12781
I think your judgement is spot-on there. rules are better, except for some one-offs. We need more documentation about the trade-offs.

[2021-01-07 04:18] aiuto commented on #12692
I might argue that we should get rid of run_shell, because it anti-windows biased.  :-)

Is the bug that we crash when you specify a scaler for args rather than a list of strings? Or did I misunderstand.

[2021-01-07 04:23] aiuto commented on #12671
cc: @susinmotion

[2021-01-07 04:35] benjaminp commented on #12692
I find shell rarely defensible on any platform.

`s/args/arguments/`, but yes

[2021-01-07 10:27] moroten commented on #12728
[a87d7ed](https://github.com/bazelbuild/bazel/commit/a87d7ed2411d5382bac58a20b79e09c464ad13b9) fixes this issue, but there are more problems which were previously hidden, according to @gormo. He is still on vacation so I will try to track it down in the afternoon.

[2021-01-07 10:54] meteorcloudy commented on #12728
OK, I'll close this one now, feel free to file new issues for other problems.

[2021-01-07 10:54] #12728 closed

[2021-01-07 10:58] comius commented on #8406
For building Bazel itself it's a bit different. The NONPREBUILT_TOOLCHAIN_CONFIG is not found, because it is not part of released Bazel you're using (and this change hasn't been released yet). You can wait for it to be released or you could try bootstraping Bazel, instructions are here https://docs.bazel.build/versions/master/install-compile-source.html#bootstrap-bazel. The bootstrapping already b

[2021-01-07 11:34] comius commented on #12754
@jongerrish can the issue be closed?

[2021-01-07 13:07] moroten opened #12785 "Incorrect test_wrapper path on Windows"
### Description of the problem:

Bazel tries to use `external/bazel_tools/tools/test/tw` under Windows, which fails as the `.exe` is needed.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[code]

### What operating system are you running Bazel on?

Windows 10

### What's the output of `bazel info release`?

Patched build based on 4

[2021-01-07 13:12] moroten commented on #12785
@philwo This feels like a release blocker for 4.0.0.

[2021-01-07 13:20] jongerrish commented on #12754
@comius - what you think about making the progress message a little clearer when annotation processors are disabled?

[2021-01-07 14:20] moroten commented on #12728
@meteorcloudy I created #12785 for the new problem.

[2021-01-07 15:12] meteorcloudy commented on #12785
Thanks for reporting this, I'm taking a look now!

[2021-01-07 15:25] meteorcloudy commented on #12785
I cannot reproduce this issue with Bazel built at 4.0.0rc6 + a87d7ed, it indeed looks like you have some wrong setup in .bazelrc file. Can you build with `--announce_rc` and show me the output?

And we do select `tw.exe` on Windows and `tw` on other platform, my guess is that you set `--cpu` to some other value?
https://github.com/bazelbuild/bazel/blob/3b2d3100e4f70c3cfdd79ac074a26f660e24d969/tool

[2021-01-07 16:03] aiuto commented on #12081
Status update:   I figured out the pattern for generating files like cc_configure.WORKSPACE. Now that that PR is in place, I can continue for Java.

[2021-01-07 17:35] janakdr commented on #12682
I don't have any familarity with where this comes from. It looks like a "core Starlark" bug, not a "core" bug.

[2021-01-07 17:36] janakdr commented on #12692
This seems like a bug in Starlark that the argument isn't being validated? I don't think team-Core has any control over the relevant code.

[2021-01-07 17:54] larsrc-google commented on #12720
Note from looking into this: The Apache GenericKeyedObjectPool does not, AFAICT, provide a way to get all the objects in a subclass. So the approach of "gently" shutting down the pools (or rather, killing off the workers that are still active through the pool) does not work. One could have a set of active objects on the side for this purpose, but that's complexity for little good reason. I'll see

[2021-01-07 18:08] alandonovan commented on #12682
Janak, see the first line of the bug report: I recategorized it from "core Starlark" to "Bazel's Build Language" because lib.analysis.OutputGroupInfo and lib.packages.Struct are both Bazelisms. The fix, if one is necessary, is to provide an overridden implementation of OutputGroupInfo.repr. It's technically a breaking change but likely a benign one.

[2021-01-07 18:36] janakdr commented on #12682
Perhaps we're missing a category in this tracker, but "team-Core" in our Github issue tracker is for issues related to the Google-internal "*-core" team. "Bazel's Build Language" is decidedly not in scope for us. I've recategorized it as "team-Starlark" within the Bazel issue tracker, which seems right to me, since who else would own "Bazel's Build Language"? If that's wrong, then probably @aiuto

[2021-01-07 19:50] GMNGeoffrey commented on #12630
Now also getting this with `@bazel_sklyib//:workspace.bzl`

We use this in our WORKSPACE file and do load it normally, I think, so maybe this isn't just a rules_cc thing?

https://github.com/google/llvm-bazel/blob/4c8b546e53eebc708c77ba19a2110926a8732642/llvm-bazel/WORKSPACE#L60-L69

[2021-01-07 20:21] divanorama commented on #12756
abseil-cpp probably fixed it in https://github.com/abseil/abseil-cpp/commit/5bf048b8425cc0a342e4647932de19e25ffd6ad7
grpc doesn't have this in master yet https://github.com/grpc/grpc/blob/e745f8cb558798f1c8b91baa42d46228a9d4a0c4/bazel/grpc_deps.bzl#L245

As a temporary workaround, declaring newer abseil-cpp dependency before grpc_deps() call in WORKSPACE may work (didn't test).

Haven't found issu

[2021-01-07 20:24] cushon commented on #12754
All else being equal I agree it would be nice to omit that part of the progress message when annotation processing is disabled, but it would also mean we'd have to do more parsing of javac options in bazel, which isn't ideal. (Doing a `contains("-proc:none")` gets us most of the way there, but that only works if you don't have multiple `-proc:` flags, etc.)

That'd be an argument to have `skip_ann

[2021-01-07 21:35] kevin1e100 commented on #12754
skip_annotation_processing would also allow knowing that no annotation
processors are needed for header compilation, among other things.  So
seemingly, a flag like that might also offer opportunities for streamlining
builds, besides a better error message.

[2021-01-07 23:35] anton-abashkin-mongodb commented on #12239
+1 , this would be greatly appreciated

[2021-01-07 23:52] vnvo2409 commented on #12630
@GMNGeoffrey

Just add the `strip_prefix` will solve your problem.

And I think it is how bazel works indeed. If you don't add `strip_prefix`, bazel will download the `http_archive` https://github.com/bazelbuild/bazel-skylib/releases/download/1.0.2/bazel-skylib-1.0.2.tar.gz to a folder named `bazel-skylib-1.0.2`. When you want to load something from that folder, you might have to do something like

[2021-01-08 01:00] GMNGeoffrey commented on #12630
Hmmm what you describe has been my experience with other `http_archive` usage from GitHub releases. I believe I copied this from the instructions at https://github.com/bazelbuild/bazel-skylib/releases/tag/1.0.2 though and it looks identical. Also the error I experience here is non-deterministic, which isn't the kind of error I'd expect here.

And testing it out, the Bazel skylib release archive do

[2021-01-08 01:10] DandyLorenz commented on #564
Can you help me see how to solve this problem?Thanks. https://github.com/google/mediapipe/issues/1450

[2021-01-08 02:55] adam-azarchs opened #12786 "git_repository with shallow_since does not fetch tags"
### Description of the problem / feature request:

As of ceeb9b8c59141a706d9a931038465c50243dfb0a, a `git_repository` fetched with `shallow_since` will not fetch any git tags, including git tags for the specified commit.

I believe that the added line 64 of https://github.com/bazelbuild/bazel/commit/ceeb9b8c59141a706d9a931038465c50243dfb0a#diff-26624bd9f0d64970b64eb0ba8a9ce11a02bc956ad657592735209

[2021-01-08 04:47] aiuto commented on #12682
This seems to be one of the many issues that hits code that is not "unowned", but rather "unwatched". It's old, stable stuff that does not get a lot of active development, so no one seems to be the immediate owner. I'll take it in configurability for now.

[2021-01-08 14:24] bsravanin opened #12790 "Support for passing extra compiler options"
Would it be possible to support passing additional compiler options to java_proto_library like in https://docs.bazel.build/versions/master/be/java.html#java_library_args

We find it useful to pass Error-Prone's -XepDisableAllChecks while generating Java code for protos, but haven't figured out how since switching to rules_java.

[2021-01-08 14:34] comius commented on #12790
I believe the response in https://github.com/bazelbuild/bazel/issues/3427#issuecomment-367519584 should be the preferred way to do this and that it supports your usecase.

[2021-01-08 14:36] larsrc-google opened #12791 "WindowsSubprocess does not implement available() on its outputstream"
### Description of the problem / feature request:

In `src/main/java/com/google/devtools/build/lib/windows/WindowsSubprocess.java`, stdout is exposes as an InputStream, but the implementation in `src/main/native/windows/processes-jni.cc` does not implement the available() function.

### Feature requests: what underlying problem are you trying to solve with this feature?

I need to be able to check

[2021-01-08 14:45] meteorcloudy commented on #12791
@mai93 Can you help with this issue?
Basically, what we need is to override the `available()` method here:
https://github.com/bazelbuild/bazel/blob/d69744dca68f8258762d53a01d8dca3afb7ed2ac/src/main/java/com/google/devtools/build/lib/windows/WindowsSubprocess.java#L65
with some corresponding implementation in our JNI code on Windows: [process-jni.cc](https://github.com/bazelbuild/bazel/blob/master/

[2021-01-08 21:11] bricerebsamen commented on #4335
Because we needed something like that, one of my colleagues wrote a python script to go around this missing feature. In a nutshell it gets the result of the query and pass it to bazel build: `subprocess(["bazel", "build"] + query_results(query))`. So far we never run into issues with limitations on the number of arguments (not sure if that applies to subprocess).
It'd be great if it would be suppo

[2021-01-09 00:45] alexeagle opened #12793 "4.0 breaking change: Java coverage"
I'm not sure if there is a bug, or if this is just missing documentation (and if such documentation would be in the 4.0 release)

It seems that 4.0 introduces a breaking change for `bazel coverage` on Java targets, where the jacocorunner must now be configured in a toolchain. The default auto-discovered toolchain does not have one set, and after some digging I have not been able to create my own.

[2021-01-09 00:46] alexeagle commented on #12455
@comius thanks for that fix for jacoco runner. It no longer crashes, however I'm still not able to get coverage working with Bazel 4.0. I opened a separate issue to avoid spamming this release thread: https://github.com/bazelbuild/bazel/issues/12793

[2021-01-09 04:33] davidxiaozhi opened #12794 "can't find the header file"
n one of my c++ projects, the directory structure atom:hello_atom relies on neuropod under third_parts, and neuropod is the built dynamic library and header file

The build configuration in third_parts is as follows
`
cc_library(
    name = "neuropod",
    srcs = glob(
        [
            "libneuropod.so",
        ],
        exclude = [
        ],
    ),
    hdrs = glob([
        "neuropod/neuro

[2021-01-09 05:17] aiuto commented on #12081
Next round: #12779

[2021-01-09 10:07] davido opened #12795 "Error Prone integration seems to be broken"
In JGit project we [extracted](https://git.eclipse.org/r/c/jgit/jgit/+/84941) method to insecure factory class that violates `InsecureCryptoUsage` EP [pattern](https://errorprone.info/bugpattern/InsecureCryptoUsage) and switched off that EP check:

[code]

However in recent Bazel releases the build is not failing, even if I remove: `javacopts` - parameter:

[code]

The error only shows up, if I sw

[2021-01-09 10:17] #12795 closed

[2021-01-09 10:23] davido opened #12796 "NPE when passing remote_jdk11 as java_toolchain"
It doesn't make any sense, but it could be a better outcome, that just to crash?

[code]

[2021-01-09 11:04] moshe commented on #11371
@EricBurnett Seems like piping `/dev/tty` to Bazel's stdin works fine (for `pdb`, didn't test `gdb`) and it's a not-so-bad workaround. I hope that support for interactive test commands will be added (again🙂) to the upstream. I'm willing to help with it, just need a spec...

[2021-01-09 18:08] #10399 closed

[2021-01-09 19:54] trittweiler opened #12797 "bazel links program using clang rather than clang++, incompatible with -fsanitize=undefined (UBSan)"
### Description of the problem / feature request:

Linking a C++ program with `clang -fsanitize=undefined` results in undefined symbols.
It is necessary to use `clang++ -fsanitize=undefined` instead.

And bazel as of 3.7.2 tries to link C++ object files using `clang` rather than `clang++`.

### What operating system are you running Bazel on?

Ubuntu Focal 20.04.1 LTS.

The test case was done using

[2021-01-09 20:11] trittweiler commented on #12797
Maybe I am just mistaken, and bazel does not actually look at the `CXX` environment variable?

It seems to be compiling the `ubsan_test.cc` also with `clang`, i.e. the contents of the `CC` variable.

So am I simply using it wrong?

[2021-01-09 20:17] trittweiler commented on #12797
Assuming bazel does indeed not look at `CXX` at this time, this issue is essentially evidence for someone tripping over what is covered by  Issue #5186.

[2021-01-10 10:45] jonpsy opened #12798 "Unpredictable generation of static libraries"
### Description of the problem / feature request:

I'm building tensorlfow-lite version 2.3.0 and building its XNNPACK delegate. I've noticed that the static libraries of the external dependencies fail to generate at the ```bazel-bin/external/XNNPACK``` folder sometimes? This seems to occur randomly(or so my experience suggests) and it's really bad. How do I get the static libraries of the externa

[2021-01-10 14:29] whogodemo opened #12799 "error occured when running 'hello world' : parameter 'remotable' is experimental and thus unavailable with the current flags. It may be enabled by setting --experimental_repo_remote_exec"
### Description of the problem / feature request:

when I running this following command :
`bazel run --define MEDIAPIPE_DISABLE_GPU=1 mediapipe/examples/desktop/hello_world:hello_world`

then the following error occured .

ERROR: /home/money/.cache/bazel/_bazel_money/f8fa67832b324a524cf2546304b89b98/external/org_tensorflow/third_party/gpus/cuda_configure.bzl:1409:40: in call to repository_rule(),

[2021-01-10 14:35] whogodemo commented on #12799
[cuda_configure.txt](https://github.com/bazelbuild/bazel/files/5792728/cuda_configure.txt)

and this is my cuda_configure.bzl file.

[2021-01-10 19:59] advancedwebdeveloper opened #12800 "Building and running Bazel on SiFive's 64bit RISC-V hardware (OpenJDK 11/Eclipse OpenJ9)"
I decided to initiate a proposal, for 64bit RISC-V port.
Hence that this issues is not covering any emulation, like under Qemu - this is for real hardware, which could be ASIC or FPGA chips.

So here is what I got, on one of SiFive's boards:

Here is the information about 4 available cores:

. Currently operating on

[2021-01-10 20:04] advancedwebdeveloper commented on #12800
Some information about the JDK:

[2021-01-11 02:40] jgarvin commented on #532
With bazel 3.2.0 I get a message saying `--direct_run` is deprecated and independent commands still block each other.

[2021-01-11 07:40] lberki commented on #532
`--direct_run` is deprecated in the sense that now `--nodirect_run` is not an option anymore, i.e. it's always on and you thus don't need the command line option anymore.

It only makes it possible to run the binary run by `bazel run` and another Bazel command at the same time; two Bazel commands at the same time still won't work. IOW, if you run `bazel run` and another command at the same time, t

[2021-01-11 07:50] ulrfa commented on #12568
Now I'm back from vacation.

I don’t have enough insight to comment on that.

It could be problematic for graph size trimming, but I believe it would be OK if we aim for only output path stripping. Transitions writing private options might be compared with setting private flags on the command line, which should be OK.

But in this context, I'm worried about #12669. What do you think about that?

T

[2021-01-11 08:44] ulrfa commented on #10880
Thanks for assigning to this @coeuvre! Are there any news?

[2021-01-11 09:12] meisterT commented on #10662
We will likely look into this later this year since it's relevant both for async execution and worker improvements. cc @larsrc-google @wilwell

[2021-01-11 09:50] comius commented on #12793
Toolchains defined in java_tools all have jacoco set.
default_java_toolchain macro does not set it, so I will prepare a fix for it (unfortunately the code on master already diverged too much to cherry pick it)

@alexeagle could you provide more details about autoconfiguration that you're mentioning? Are you using bazel-toolchains?

Just using default_java_toolchain target I cannot reproduce the er

[2021-01-11 10:18] comius commented on #12796
True, it could provide a better error. We're in the process of Java toolchainisation where --java_toolchain flag is going to be obsolete. So I'd rather focus on providing better error messages for the new set of flags.

[2021-01-11 10:19] davido commented on #12796
+1. Thanks for clarifying.

[2021-01-11 10:19] #12796 closed

[2021-01-11 11:06] hanwen commented on #12765
I'd be surprised if RBE lets you download random things from the internet, as it breaks reproducibility.

[2021-01-11 11:33] ulfjack commented on #12765
RBE does allow you to enable general internet access. Is it possible that there are Javadoc changes in Java 11 that require internet access?

[2021-01-11 11:41] ulfjack commented on #12800
In order for Bazel to support RISC-V, the next step is to auto-detect the platform correctly. The failure you are seeing is:
[code]

I think the auto-detection code is in `com.google.devtools.build.lib.util.OS`.

[2021-01-11 11:53] moroten commented on #12785
We have defined custom platforms and have migrated away from `--cpu`. By adding `@platforms//os:windows` as a constraint value to our platform definition, it works again. Before 4.0, we did not have to use any `@platforms//...` label at all.

Sorry for late reply, I missed the notification.

[2021-01-11 11:53] #12785 closed

[2021-01-11 14:42] #10249 closed

[2021-01-11 14:52] alandonovan commented on #12774
Yes, that's part of the design. All classes in this directory are part of the same Java package, and thus may freely refer to each other. This is not a problem, so please do not attempt to "solve" it.

Please explain what this number means and how you obtained it. This comment leaves me very skeptical that what you are measuring corresponds to anything in reality.

[2021-01-11 15:35] trybka commented on #4341
I believe this is also the cause of https://github.com/abseil/abseil-cpp/issues/848

The summary here is this:

`cc_library` targets have an implicit output for a "nodeps" shared library (.so). This artifact is used with `cc_test` with `--dynamic_mode` set. When you build `//package:all`, these will be included.

Due to the two-level namespaces used by Mach-O,  you must link against all shared lib

[2021-01-11 15:37] alexeagle commented on #12793
@comius thanks for looking, my repro is pretty simple:

`.bazelrc`:
[code]

`.bazelversion`:
[code]

`WORKSPACE`:
[code]

`BUILD.bazel`:
[code]

[code]

I see that if I comment out `--java_toolchain` in the .bazelrc then it's not reproducible anymore. That line was added in our repo for `java_proto_library` FWIW

[2021-01-11 15:43] jyknight commented on #4341
SGTM to remove that feature.

Just for clarity, I'd note that despite the rather generic-sounding name, the bazel "supports_dynamic_linker" feature basically only controls whether these weird nodeps libraries are created (and used for cc_test). It does not impact the ability to create dynamic libraries in any other context.

[2021-01-11 15:49] alexeagle commented on #12793
AFAICT we don't need these java_toolchain override lines in the .bazelrc for this repo. I'll confirm that our upgrade is unblocked, and then I think the severity here is probably low (unless you know of a reason other Bazel users might need to select those toolchains from bazel_tools)
/cc @redisliu

[2021-01-11 16:00] jfancher commented on #12790
Unless I am misunderstanding, I don't believe that option would work for us without substantial reorganization unfortunately. We do not put protobuf libraries in separate Bazel packages; they exist side-by-side with code, so package-level configuration wouldn't be sufficient.

[2021-01-11 16:04] aiuto commented on #12794
This sounds like general help needed. If it is that, try asking on StackOverflow. If you have an actual bug, please provide enough information to reproduce it.

[2021-01-11 16:17] nico commented on #9466
(You can make the pdb path in the exe relative with `/pdbaltpath:%_PDB%`.)

[2021-01-11 16:21] konste commented on #9466
@nico what exactly is `%_PDB%? Where it comes from? I wonder how to I change Bazel MSVC toolchain to use it?

[2021-01-11 16:24] advancedwebdeveloper commented on #12800
Thanks, will check that

[2021-01-11 16:25] tkoeppe commented on #4341
(@jyknight: thanks for that clarification, that's very reassuring.)

[2021-01-11 17:56] c-mita commented on #12696
Jacoco's branch coverage output reports only the total number of branches in a line, and the number then taken. It does not give any details to individual branches in a line.

Since Bazel attempts to merge coverage reports, we need to be able to identify when individual branches so they can be merged successfully to give a meaningful report.
e.g. a line with 5 branches and two coverage reports tha

[2021-01-11 19:38] quval commented on #701
I have a draft of a Starlark implementation of something like the internal Google model (all native deps are linked together into a statically-linked shared object; the modules themselves are dynamically linked to it). Would it be interesting to share this? Perhaps on rules_python?

[2021-01-11 20:02] lguangyu commented on #11554
Is there a work around that during building the bazel itself, to permanently change default rule of python to invoke python3? or more generally, to use any python I want, even if it is in a non-standard path?

[2021-01-11 20:18] fishy commented on #11554
The workaround I use is to add [these](https://github.com/fishy/notifbot/blob/672899bc5fdfb82414f8b7063bc2800e1cec6f73/android/.bazelrc#L1-L4) to my `.bazelrc`:

[code]

But that won't work for you if the thing you use actually requires python2 and won't work in python3.

[2021-01-11 20:44] pvcnt commented on #701
@quval It would certainly be interesting yes. :)

[2021-01-11 20:53] lguangyu commented on #11554
I see.

For building bazel itself on python3-only systems I found a work around by changing file:
`./src/main/java/com/google/devtools/build/lib/bazel/rules/python/BazelPythonSemantics.java`
[code]
to
[code]
This will at least affect all scripts generated to build bazel iteself. I'm not sure if this also affects future builds.

[2021-01-11 21:17] jerrymarino commented on #8902
@keith one way to sidestep this is to just use a custom `local_config_cc`. e.g.
[code]

[code]

YMMV for different host arch than x86_64 🤔

It might be possible to factor out the binaries into their own input to the cc rules rather than compiling in the repo rule, but I don't know the long term plans for this / overlap with rules_cc off the top of my head!

[2021-01-11 21:44] keith commented on #8902
copying that in is definitely an interesting idea, we also run some things in our build on Linux so I think we'd have to do that in a cross platform way though. Definitely handling the arch problem (although you could check fat binaries in there instead if you only supported macOS)

[2021-01-11 22:09] stefanbucur opened #12808 ""bazel clean" failure when Starlark options present in "build" lines in .bazelrc"
### Description of the problem / feature request:

When I use a label-typed Bazel option on a `build` line in a `.bazelrc` file, Bazel fails with an error:

[code]

[code]

This is quite problematic for us, because we offer this option in a library, and developers are expected to be able to override the option in their own workspaces.

### Bugs: what's the simplest, easiest way to reproduce this b

[2021-01-11 22:28] adam-azarchs commented on #12786
Perhaps worth noting that if you are doing the above `patch_cmds` trick to record a version when you've checked out by commit, that actually means your build wasn't 100% reproducible since someone could later add a tag to that commit.  I believe the 3rd option I suggested above would resolve that issue as well.

The second option I suggested above also removes the irreproducibility of using `git d

[2021-01-11 23:13] olekw commented on #12683
@advancedwebdeveloper Have you looked at the Debian packaging of Bazel recently? I tried a trivial fix for this issue as part of my experiments to see if it's possible to support RISC-V. I no longer get this error. However, the build still freezes partway through and I have been unable to determine why. Feel free to take a look at what I have and use the [riscv64.Dockerfile](https://salsa.debian.o

[2021-01-11 23:19] olekw commented on #12800
@advancedwebdeveloper I tried just adding a constraint to the [cpu listing](https://salsa.debian.org/bazel-team/bazel-bootstrap/-/commit/c3ad7bfee57265f9c8b11c179afdcaf7d772e0d8) and I'm not getting this error anymore on Debian. That's probably an overly-simplistic solution but it's likely a step in the right direction. More info on #12683.

[2021-01-11 23:22] jerrymarino commented on #8902
@keith in order to make it the binary an input to the toolchain w/o a circle you'll need another rule to compile it: e.g. a rule that consumes only the relevant xcode config bits and not the custom toolchain.

As the toolchain will be specific to macOS, you might need to override `local_config_cc` conditionally when on macOS to use the hardcoded one. You might be able to get away with switching th

[2021-01-11 23:59] jerrymarino commented on #8902
For what it's worth, it seems like making `wrapped_clang` binaries an input to the toolchain seems like good way to fix this outside of forking the generated one

[2021-01-12 02:58] jbms commented on #4341
Based on the advice of @derekmauro, disabling `supports_dynamic_linker` on macOS by specifying the following in .bazelrc appears to fix the problem:

[code]

This does mean cc_test targets are no longer dynamically linked, which is a bit unfortunate in terms of disk space usage, though.

[2021-01-12 03:08] aiuto commented on #12798
This looks WAI from the outputs you pasted.  You get with the .so or bazel-bin/tensorflow/lite/delegates/xnnpack/libxnnpack_delegate.a

If you want bazel-bin/**external**/delegates/XNNPACK/... then you probably have to build  @whatever://XNNPACK/...,  where whatever is the repo name tensorflow uses to pull in the dependencies.

[2021-01-12 03:11] aiuto commented on #12799
You should ask this in a tensorflow forum.

[2021-01-12 03:14] aiuto commented on #12808
Only sending to configurability because of command line parsing, but I think any team could do this.

[2021-01-12 04:17] jonpsy commented on #12798
Thanks, that helped!

I have two questions
1) Previously I needn't do all these steps, and tensorflow would automatically compile & store the external libraries in static form inside the ```bazel-bin/external``` folder. Why so?
2) XNNPACK itself has some dependencies, how can I make bazel to compile & store all external dependencies in static form inside bazel-bin/external folder?

Have a nice day

[2021-01-12 04:44] aiuto commented on #12798
You could do a blaze query deps(whatever you are building) to find the external targets.
Then you could explictly build them.
But this is theoretical. I don't know the tensorflow build setup. Some libraries may only be shared, rather than static. This is a question for their project.

[2021-01-12 07:20] jonpsy commented on #12798
The original problem was solved. I had to use "bazel ...../delegates/xnnpack:all".

Off record, can bazel recursively compile all dependencies and store them?

[2021-01-12 07:31] coeuvre commented on #10880
No. I am currently working on other remote execution related things but fixing this issue with action rewinding is on my plan.

[2021-01-12 08:16] sgammon commented on #5426
okay, i've got a small code sample and the kicker is, i wasn't able to repro (yet). so the following cases work fine

1: calling Java from Java (JUnit 5)
2: calling Kotlin from Java (JUnit 5)
3: calling Java from Java with plugins (Junit 5, Micronaut plugins)

still not working:

1: calling Kotlin from Java (JUnit 5, but with micronaut plugins)

obviously this leads me to believe it might simply b

[2021-01-12 08:40] ulrfa commented on #10880
Thanks for the update!

[2021-01-12 10:12] comius commented on #12793
Thanks for reproduction. I'm confirming the bug as well as that the PR fixes it.

@alexeagle Do you also have reproduction for the `ERROR: Misconfigured toolchains`? I'd like to make sure there isn't another problem.

[2021-01-12 11:01] oquenchil commented on #9993
It looks like you will have to create a new toolchain if the existing one doesn't support that.

[2021-01-12 11:01] #9993 closed

[2021-01-12 11:13] oquenchil commented on #12660
Please see the [attributes of cc_library](https://docs.bazel.build/versions/master/be/c-cpp.html#cc_library_args) to work with include paths.

[2021-01-12 11:56] comius commented on #12455
Another cherry-pick 586069525d5a133ee23003b171a09fea496033cc, fixes #12793.

[2021-01-12 12:48] chsigg commented on #6578
FYI, the TensorFlow Runtime has a self-contained `cuda_library` that works with clang:
https://github.com/tensorflow/runtime/tree/master/third_party/rules_cuda

Some more work is required to make it work with gcc and nvcc, but hopefully I will get to that in the coming months.

[2021-01-12 12:50] Yannic commented on #12808
Looks like this was previously fixed in https://github.com/bazelbuild/bazel/issues/11506 (and I *think* I remember it working correctly).

/cc @juliexxia @katre

[2021-01-12 13:47] stefanbucur commented on #12808
I've just checked, and Bazel does indeed display a warning when using `--//fuzzing:cc_engine_sanitizer`, which is a string-typed flag. However, it triggers an error for `--//fuzzing:cc_engine`, which is a *label-typed* flag. So maybe this case was not handled in #11506?

[2021-01-12 15:27] whogodemo commented on #12799
ok I got it. thank you

[2021-01-12 15:28] meisterT commented on #12455
Creating a new candidate with
[code]
Hopefully this will be the last one.

[2021-01-12 15:46] monkeynova commented on #4341
I was experiencing the same problem and I was able to get that workaround to get me a successful test run. (Though to get my bazelrc file to see the rule I had to add --enable_platform_specific_config to my command line invocation of bazel. I'm on bazel version 3.3.0).

This workaround also uncovered a latent bug I had where a header file had a function implementation that wasn't inlined and I sta

[2021-01-12 16:51] meisterT commented on #12455
Downstream pipeline is running here: https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1853

https://releases.bazel.build/4.0.0/rc9/

[2021-01-12 18:12] comius commented on #12455
And another cherry-pick to fix coverage downstream 438dedd6483448a395026c55c22dac6bda24e669 :(

[2021-01-12 18:46] meisterT commented on #12455
It seems we also need to cherry pick 88b1cb4dabc5c448ebe6e1c7fb06249841de0a63 for some tensorflow issues,

[2021-01-12 19:38] MaskRay opened #12815 "Drop -R .gnu.switches.text.* from the default strip rule"
### Description of the problem / feature request:

`src/main/java/com/google/devtools/build/lib/rules/cpp/CppActionConfigs.java` has a long list of `.gnu.switches.text.*` sections.
Browsing online, they corresponded to `-frecord-gcc-switches-in-elf` in a google branch GCC back in 2011. The option looks long deprecated as of 2021. (By digging up the history, the section names have never appeared in

[2021-01-12 21:55] keith opened #12816 "empty virtual artifact doesn't have an execpath"
[code]

### What operating system are you running Bazel on?

macOS

### What's the output of `bazel info release`?

8cdeb87ab07fa4ce529edafaa7345768947029f2

Using `bazelisk` + `last_green`

[2021-01-13 01:05] vsiva opened #12818 "Bazel sets all input files as executable when actions are executed remotely"
### Description of the problem / feature request:

When used with RBE (or presumably any remote execution solution), all input files have executable permissions set.
Our product is a desktop application that is built using RBE, and only certain files should have exe permissions, not all. This issue prevents us from using RBE to build the final artifacts.

### Bugs: what's the simplest, easiest way

[2021-01-13 01:14] vsiva commented on #12818
This is probably an unintended side effect of the fix to https://github.com/bazelbuild/bazel/issues/4751

[2021-01-13 02:18] ahumesky commented on #12697
Great thanks @Morfly
I've tried out the example project at `examples/examples-generation/androidx-data-binding-no-stubs/generated-project` and I was able to get it to build, so just let us know when you find a configuration that reproduces the error here.

[2021-01-13 07:10] TheKaur commented on #11847
@c-mita Charles, the fix didn't work. If you try the original repro steps listed in the ticket, you'd observe that the coverage.dat is not created.

If we supply a longer classpath for our use case, we run into `Argument list too long` error and the test fails.

[2021-01-13 07:58] ittaiz commented on #12730
@dslomov @dslomov @comius this is blocking rules_scala's ability to stamp 3rd party jars.
@liucijus sent a really small PR to fix this and we'd really appreciate it if someone could review it

[2021-01-13 08:03] lberki opened #12821 "Flag flip for `--experimental_sibling_repository_layout` and `--legacy_external_runfiles`"
We are changing the way external repositories are handled: they will be a sibling of the main repository instead living in the `external/` directory under it, both in the execroot and in runfiles trees.

That is, files in them will be accessible at `../$REPO` instead of `external/$REPO`.

This is a tracking bug for the imminent flag flip and a place to list tips for the migration and things that b

[2021-01-13 09:11] meisterT commented on #12455
🤞

[code]

[2021-01-13 09:16] c-mita commented on #11847
That sounds like a command line error, that you're hitting `ARG_MAX`. Can you provide the full error?

[2021-01-13 11:03] #12793 closed

[2021-01-13 12:00] #12605 closed

[2021-01-13 15:21] Wyverald commented on #12045
Sorry for the delay (astonishingly I still don't know how to properly set up GitHub notifications) but yeah, this is supported behavior. Cyclic references do already exist between external repositories and are okay as long as there's no cycle between targets. The (in)famous example is that stardoc depends on bazel-skylib, which depends on stardoc.

[2021-01-13 15:56] jbpextra commented on #12774
Hi @alandonovan, thanks for your quick reply.

First of all, apologies for not having elaborated further on the initial submission.

In a task to validate the tool we developed, we ran an analysis over multiple open-source projects and for this one we saw great potential in limiting the extra work from arising from cycles.

Specifically, we found an unusually high frequency of extra changes betwee

[2021-01-13 16:26] wrowe commented on #4811
Further follow-up, as comments above were somewhat confused; the projects mentioned above are using the clang-cl compiler.

This is now supported and must be understood as different-than-"clang", because clang-cl uses the MSVC cl.exe command line conventions, requiring that windows-specific toolchain;
  https://docs.bazel.build/versions/3.7.0/windows.html#build-c-with-clang

Supporting CC=clang im

[2021-01-13 16:44] alandonovan commented on #12774
The real problem here is that there is a design, but your analysis, like all automated tools, cannot know it. The design principle is that EvalUtils defines operations on Starlark data structures, and is a private class. Starlark is a public facade for the package as a whole. For public operations, Starlark is the correct place. Alternatively, they might be defined in a method EvalUtils, to which

[2021-01-13 16:50] wrowe commented on #5163
@oquenchil this feature has now been used successfully by the envoy project for over year for both msvc-cl and clang-cl builds, and is now the default for mingw-gcc builds in rules_cc. What is your remaining hesitancy? I don't see where the change introduces any incompatibility;

* Compilation command line length expanded from 32k to 128k
* Diagnostic nugget of .params in the build tree for all ob

[2021-01-13 17:00] wrowe commented on #11636
FYI, this is simply not true. Any "*quoted*" path containing forward slashes should be invoked correctly. Only when paths are unquoted does it become ambiguous whether the path name segments are part of the name or additional /options.

Using a quoted batch file pathname upon invocation should resolve this issue, resolves spaces in pathnames, and is portable to all platforms.

[2021-01-13 19:03] jordan-bonecutter opened #12826 "Some github repositories only download if host_jvm_args are set correctly"
In our workspace file in the root of our directory we had some http_archives which would fail with an error about the remote host terminating the handshake (`javax.net.ssl.SSLHandshakeException: Remote host terminated the handshake`). Here is one such archive:

[code]

### Feature requests: what underlying problem are you trying to solve with this feature?

The issue was solved by only allowing TL

[2021-01-14 01:08] ruiqimao commented on #12818
Thanks for the update! I've tested the latest patch, and it does set the executable bit correctly now.

I ran a test on a couple of files that have various permissions:
[code]

After running remotely, the permissions changed to:
[code]

* 560.txt has an extra u+w permission.
* 660.txt and 770.txt are missing g+w permission.
* All files have an extra o+r permission, and all the executable ones have

[2021-01-14 01:10] mbeards commented on #5211
Has anyone done any further investigation into this issue?

[2021-01-14 03:00] tupq opened #12827 "Get errors with gcc when trying to compile tensorflow 2.4.0 with gcc 6"
Iam trying to compile the tensorflow 2.4.0 with gcc 6 ( version 6.3 ) and bazel 3.4.1 but it always throws below exception:

  (cd /root/.cache/bazel/_bazel_root/efb88f6336d9c4a18216fb94287b8d97/execroot/org_tensorflow && \
  exec env - \
    PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin \
    PWD=/proc/self/cwd \
  /usr/bin/gcc @bazel-out/host/bin/tensorflow/python/_pywrap_ten

[2021-01-14 04:17] coeuvre commented on #12818
Thanks for sharing your test results. Unfortunately, we can't keep the original permissions since there is no field in [FileNode](https://github.com/bazelbuild/remote-apis/blob/1e9ccef3705c2c41a447aee0ddbe6810ccb7949d/build/bazel/remote/execution/v2/remote_execution.proto#L777) to set the permissions.

A workaround could be embedding a script which is used to chmod artifacts with the desired permi

[2021-01-14 05:29] srsudar commented on #11644
What kind of speed do you get with `bazel query`? Are those gifs real-time?

I have a completion that just uses `ripgrep` to look at `BUILD` files and matches the `name` attribute. I know that some projects rely on dynamic rules where that is insufficient and your approach would be better. Every time that I use `query` it has been slow so I haven't bothered to add support for it.

With my `ripgrep

[2021-01-14 09:56] ensonic commented on #5211
According to
https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/sandbox/DockerSandboxedSpawnRunner.java#L260
the docker image should receive the UID/GID, so the files should not be root owned.

The default sandbox image should be this one (based on distroless?), right?
https://github.com/GoogleCloudPlatform/container-definitions/tree/master/ubuntu1604_rbe
T

[2021-01-14 12:19] comius commented on #11382
@ThomasCJY I downloaded your reproduction and tried it out.

I believe rules_kotlin as well as Bazel are working as intended. I believe you can support your usecases using Bazel configuration flags. How Bazel is working is a bit complicated so let me explain.

There are 2 to 4 JDKs that Bazel uses, one to execute built targets, one to execute targets that are needed during the build, and potential

[2021-01-14 12:19] #11382 closed

[2021-01-14 12:38] jin commented on #12794
Closing, please reach out to the Bazel mailing list, StackOverflow or Slack.

[2021-01-14 12:38] #12794 closed

[2021-01-14 12:49] tkoeppe commented on #4341
It now occurs to me that I had for a long time been building on MacOS just fine, because I habitually build everything with `--dynamic_mode=off`. (That has been helping me discover several subtle bugs early, so I consider that good practice.) It was only when I started a new project and didn't provide that flag that I started hitting the MacOS TLS bug.

[2021-01-14 12:50] jin commented on #12721
cc @murali42 @alandonovan

Could you please share some context about the flag removal and/or update the 3.7.0 release notes about this?

[2021-01-14 12:50] jin commented on #12827
Please reach out to the TensorFlow repository / mailing lists for support.

[2021-01-14 12:50] #12827 closed

[2021-01-14 12:54] #12799 closed

[2021-01-14 12:55] jin commented on #12718
This is probably an issue with the Maven 3rd party dependency resolver. Please file an issue in the dependency resolver project instead.

[2021-01-14 12:55] #12718 closed

[2021-01-14 14:52] #10620 closed

[2021-01-14 15:39] alandonovan commented on #5511
Alternative approaches:

1. "Process wrapper in skylib" (https://docs.google.com/document/d/13M9ArI_Qdj3PuJk2kXSRm6YISp8uceq_lEG8_I7kXcA)
    We should evaluate whether it's possible to implement this approach without the C++ toolchain dependency by writing the Windows implementation in the CMD.exe script language. (The code needn't be pleasant, just correct.)
2. "Windows: Bash-less alternative fo

[2021-01-14 16:12] comius commented on #3757
I created a reproduction described in grpc/grpc-java#3412, here: https://github.com/comius/bazel_issue_3757.

It compiles without any warnings on bazel 3.7.2.

[2021-01-14 17:26] murali42 commented on #12721
TLDR: --record_rule_instantiation_callstack is the default (we got enough memory savings from elsewhere we could enable it), hence was removed.

Few releases ago that flag would control whether the callstack was recorded and whether query output would include it.
Now  the callstack is always recorded and `query --proto:instantiation_stack` controls whether it is included in the output.

[2021-01-14 18:49] ptarjan opened #12831 "Unable to suppress many stderr outputs"
### Description of the problem / feature request:

A simple run currently looks like:
[code]

I'd prefer to have:
[code]

Or:
[code]

If I create a PR for this, would it be accepted?

### Feature requests: what underlying problem are you trying to solve with this feature?

An option to remove many addition log lines

### What operating system are you running Bazel on?

OS X

### What's the output

[2021-01-14 21:32] brandjon commented on #12444
The `export_files` decl was [added](https://github.com/bazelbuild/bazel/blame/35c27f3eb9a040d8f68280f34dd977d7fe894099/tools/build_defs/repo/BUILD.repo#L1) on 2020-11-02, so it likely isn't in the bazel version you're using. This issue should be fixed at head.

[2021-01-14 21:32] #12444 closed

[2021-01-15 00:41] keith commented on #12423
@ulfjack which flags specifically are you wondering about?

[2021-01-15 05:01] jin commented on #12721
Thanks @murali42! Looks like the flag should have been removed as part of a major version change to 4.0 since it's an incompatible change. It would be helpful to mention flag removal reasons in the release notes.

Closing.

[2021-01-15 05:01] #12721 closed

[2021-01-15 05:59] #12818 closed

[2021-01-15 08:58] meisterT commented on #12455
I haven't heard of any outstanding issues and the release blocker list is empty, so in theory we should be good to release.

Since today's a Friday, I am reluctant to push the button just now, so we are aiming at a release on Monday.

[2021-01-15 10:22] comius commented on #11674
I don't like to see repositories diverge. We're working to upgrade Jacoco and I will also expose it from JavaToolchain. Sorry for the trouble.

[2021-01-15 10:22] meteorcloudy opened #12835 "load statements force Bazel to download unneeded external dependencies"
Bazel only downloads external dependencies that are needed for building your target? That's not exactly true.

Considering the following example:

Repo A is your main repo, which depends on some library in repo B. Repo B depends on a test rule in repo C for testing the its library.

In A/BUILD:
[code]

In B/BUILD:
[code]

Although C is only a dev dependencies of B, in order to build `//:bin` A has

[2021-01-15 10:26] lberki commented on #12835
One does need to fully evaluate the BUILD file to interpret even `@cc/:lib`: it's possible that `my_cc_test()` is a macro that creates a rule called `lib.cc`.

[2021-01-15 11:04] ittaiz commented on #11674
Amazing. Thanks @comius!
Definitely our preferred solution

[2021-01-15 13:32] meteorcloudy commented on #12835
That's a good point. In that case, C is indeed a valid dependency. But I'm wondering how (or if) we could break the dependency when `@cc//:lib` doesn't need `my_cc_test()`. This is obviously not an easy task.

[2021-01-15 13:39] lberki commented on #12835
Not that it makes me happy, but that's what the state of affairs is :( and this is not the only thing that makes partial evaluation of packages difficult; see `Package.beforeBuild()` and `.afterBuild()` for the full laundry list.

[2021-01-15 13:42] Wyverald commented on #12835
I think Lukács means that, in order to figure out whether `@cc//:lib` even needs `my_cc_test(name="lib_test")`, we need to evaluate `my_cc_test(name="lib_test")`. So essentially we almost always need to evaluate everything in the same BUILD file.

That is, of course, assuming we don't do something more sophisticated / more strictly enforced, like @comius suggested before -- enforce some sort of st

[2021-01-15 13:56] meteorcloudy commented on #12835
Oh, I see. That just makes this problem even harder than I thought...

[2021-01-15 14:30] alandonovan commented on #12835
Another way to describe the status quo:

"""Load statements create dependencies. If you depend on package B, you depend on all the .bzl files it transitively loads. Rule-set developers are encouraged not to add heavyweight .bzl dependencies (for example, to other repositories) to the public packages of their repositories if they are needed only during rule-set development. Such dependencies should

[2021-01-15 14:50] laurentlb commented on #12835
Possible duplicate: https://github.com/bazelbuild/bazel/issues/8466

(I agree with Alan that the package should be split)

[2021-01-15 14:54] keith commented on #12815
Looks like this can be closed https://github.com/bazelbuild/bazel/commit/9ab16a963dbef99d592c65377e99faf902b72f71

[2021-01-15 15:07] alandonovan commented on #12835
Does anyone think this is an actual bug that requires a behavior change? If no, let's make this a documentation issue.

[2021-01-15 15:17] #4341 closed

[2021-01-15 15:18] meteorcloudy commented on #12835
@alandonovan @laurentlb
Thanks for adding the context!

I don't think this is a bug (I added the feature request label), but it's an issue that Bazel users would easily fall into. Better documentation could definitely help.

I'm also think that how could we improve the situation with bzlmod. Maybe we can have optional dependencies. Users can specify some dependencies are only required for testing

[2021-01-15 15:42] jesec commented on #11628
It is surprisingly easy. I successfully built the latest commit (bbeb1da) on my M1 Mac mini.

1. Download bazelisk from https://github.com/bazelbuild/bazelisk/releases. darwin-amd64 is fine. Install it to `/usr/local/bin/bazelisk`.
2. Download and install JDK 11 (.dmg) from https://www.azul.com/downloads/zulu-community/?os=macos&architecture=arm-64-bit&package=jdk.
3. Clone Bazel repo: `git clone

[2021-01-15 15:45] shs96c opened #12836 "`java_test` and `java_binary` should add `runtime_deps` to their `JavaInfo`"
### Description of the problem / feature request:

The fact that neither `java_test` nor `java_binary` are interchangeable with `java_library` breaks the "[Principle of Least Astonishment](https://wiki.c2.com/?PrincipleOfLeastAstonishment)", leading to non-obvious failures in builds.

To identify the problem, one must find #11705 and then read the [final comment in the thread](https://github.com/b

[2021-01-15 15:45] lberki commented on #12835
You are saying "force them to separate targets into different packages" as if that was a bad thing. It looks like the desired behavior is implementable without extra features in Bazel, so why add those extra features?

[2021-01-15 15:55] meteorcloudy commented on #12835
I think there are some misunderstanding.

[2021-01-15 15:57] alandonovan commented on #12835
I think Lukacs' point (despite a small misunderstanding) is that we already have a solution that doesn't add more concepts to the design, and therefore it is preferable.

[2021-01-15 16:05] comius commented on #12835
Well, shuffling the effort to the user is probably not a good thing. The user might be unfamiliar with Bazel and would not know when and why to split the BUILD files. Additionally there might be lack of motivation to fix things: The user might not have any problem with own builds, however still cause problems downstream.

Splitting BUILD files seems just a solution to make labels injective, as see

[2021-01-15 16:05] meteorcloudy commented on #12835
I certainly doesn't mean that's a bad thing. Instead of expecting users to read every documentation and best practice then follow them, a way to enforce this is more helpful. Hope that's clear in the context.

Yeah, I meant if changing the behaviour of load statements is not favored, we can still improve the situation with bzlmod.

[2021-01-15 16:08] jesec commented on #11628
Um.. This happens as well.

[2021-01-15 18:01] jbms commented on #4341
Is there a possibility of retaining dynamic linking of tests on macOS?  That doesn't seem like something that should be fundamentally impossible.

[2021-01-15 19:31] bradsherman opened #12837 "Bazel project with Lombok fails to build on Bazel 4.0.0 rc10"
### Description of the problem / feature request:

I have a java project that uses Project Lombok. Currently it is building with bazel v3.7.2 but when I try to upgrade to bazel v4.0.0rc10, the build errors out because it cannot find symbols that are being generated by lombok.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[code]

#

[2021-01-15 19:49] ArekSredzki commented on #5197
@philwo Could this be looked into? It's still an issue in the latest releases of Bazel and can prevent asan builds from completing

[2021-01-15 20:07] katre commented on #12767
There is, unfortunately, no generic toolchain-discovery system. The CC, Java, Python, etc, all deal with this separately. You'll need to file this issue against the specific rules whose auto-discovered toolchain you want to specialize. It looks like CC rules from your description, so I'll start by re-assigning this to the language owners.

[2021-01-15 20:25] trybka commented on #4341
With the current shipping version(s) of Xcode, it is impossible.

While there are some tests that will happen to work, it's not a mode that Bazel can/should support on Darwin.

Given that `-undefined dynamic_lookup` is deprecated, it seems unlikely that Apple will fix this.

[2021-01-15 20:37] jbms commented on #4341
I think -undefined dynamic_lookup is also how Python extension module are built on macOS, unless the information at this link is outdated:
https://github.com/boostorg/build/issues/69

Separately, though, what prevents bazel from providing the shared library dependencies to the linker?

[2021-01-15 22:12] #12815 closed

[2021-01-15 22:23] gregestren commented on #12745
@philsc what do you think?

[2021-01-15 22:28] gregestren commented on #12745
FYI this is because `cc_import` is a `BaseRule` instead of a `RuleBase`:

- https://github.com/bazelbuild/bazel/blob/8346ea4cfdd9fbd170d51a528fee26f912dad2d5/src/main/java/com/google/devtools/build/lib/rules/cpp/CcImportRule.java#L110
- https://github.com/bazelbuild/bazel/blob/eb5cdcb972326321a649d9b4df495ae22aea3f12/src/main/java/com/google/devtools/build/lib/analysis/BaseRuleClasses.java#L386
-

[2021-01-15 23:01] regisd commented on #6871
https://github.com/bazelbuild/buildtools/blob/master/unused_deps/unused_deps.go can help

[2021-01-15 23:15] gregestren commented on #12745
FYI I'm giving a go at that TODO: https://bazel-review.googlesource.com/c/bazel/+/151410

[2021-01-15 23:45] gregestren commented on #12669
Thanks for this report. This is easily reproducible.

I believe the solution is to:

1. Include `config_setting` in https://github.com/bazelbuild/bazel/blob/5753b326ae6b759666973b3592b00757061b0096/src/main/java/com/google/devtools/build/lib/analysis/RuleContext.java#L2073
2. so its visibility is checked at https://github.com/bazelbuild/bazel/blob/8346ea4cfdd9fbd170d51a528fee26f912dad2d5/src/main/

[2021-01-16 01:31] brandjon commented on #12835
Was linked here from a discussion on modifying load semantics. I see this thread seems to be more about documentation so I'll remove the starlark label.

[2021-01-16 04:53] sjonnalagadda opened #12839 "Documentation issue: java rules link is leading page not found"
https://docs.bazel.build/versions/master/bazel-and-java.html

[2021-01-16 05:38] chenxiaolong opened #12840 "[Android NDK] libandroid_support.a incorrectly being linked on API 21+ when building fully static binary with c++-static"
### Description of the problem / feature request:

When building a fully statically linked binary with the `c++-static` STL on Android, `libandroid_support.a` gets linked unconditionally, which leads to multiple definition errors like:

[code]

As I understand it, `libandroid_support.a` is only supposed to be used on API versions older than 21 and only on armeabi-v7a and x86.

I suspect this behav

[2021-01-16 22:25] chancila commented on #12797
bazel currently compiles through the base clang/gcc driver and doesn't support the c++ drivers of these commands, bazel c++ toolchains generally have to be explicit about any implicit c++ stuff that would otherwise happen when you use the c++ drivers for clang/gcc.

if you run -v on your invocation with clang++ you'll probably see something like ` --whole-archive /usr/lib/clang/11.0.0/lib/linux/li

[2021-01-17 00:23] quval commented on #701
OK, here goes: https://github.com/quval/rules_native_python/commit/f8eaecd9b124b433ec083fd71e0bef044cb04c6c
Got it to work on both Linux and Mac, but only with a toy setup, so I'd still consider this a draft. More importantly, I'm not sure I like the hack I did to work around the circular dependency (native deps -- compiled into native module -- linked against native deps). Any thoughts and sugges

[2021-01-17 08:52] thundergolfer opened #12841 "--build_python_zip fails when runfiles include file containing '=' character (affects pyspark==2.4.6)"
### Description of the problem / feature request:

A Bazel Python 'zipapp' cannot be built using `--build_python_zip` when the underlying `py_binary` target depends on `pyspark==2.4.6`. I think this is because `pyspark` contains files that include the "=" character in their filename, which breaks some logic in the `--build_python_zip` action.

**Example Error:**

[code]

### Bugs: what's the simpl

[2021-01-17 12:52] #12798 closed

[2021-01-17 17:10] paul-hammant opened #12842 "Bazel v3.7.2 accidentally no longer runs on macOS Mojave"
Homebrew installed bazel:  v3.7.2.

To reproduce on my 10.14.6 Mojave Mac:

[code]

Similar to https://github.com/bazelbuild/bazel/issues/10297 I think.

[2021-01-17 17:23] blais commented on #11554
I just burnt an hour on this problem after an Ubuntu 20.04 update.
Thanks for filing the ticket (please address!).

[2021-01-17 19:13] keith commented on #12842
Related https://github.com/bazelbuild/bazel/commit/f8a94b9decf4c76c217342ce31a05ec30cfb77e8

[2021-01-17 22:11] blaizard opened #12843 "Possibility to add extra outputs for cc_common.compile and cc_common.link"
### Description of the feature request:

This is a feature request to add the possibility to gather extra outputs for the compile and linking actions of the cc toolchain via `cc_common.compile` and `cc_common.link`. The interface could be as simple as adding an attribute `extra_outputs` to these 2 functions.

### Feature requests: what underlying problem are you trying to solve with this feature?

[2021-01-17 22:26] camillol commented on #7977
As a user of rules the real problem I have with outputs is that there are outputs I _cannot_ reference directly. Unfortunately, this change risks encouraging this poor behavior exactly where it's most vexing.

The rules that have the greatest need for declaring outputs with patterned names are complex rules that output files of _different_ types (e.g. debug info, source maps, loaders etc.). Becaus

[2021-01-18 08:17] cushon commented on #12837
cc @comius

I can reproduce:

[code]

The lombok processor logs the following warning when running as part of the action that generates `bazel-bin/src/main/java/com/example/cmdline/liblombok_example-gensrc.jar`. The diagnostic doesn't cause that action to fail because lombok logs it as a warning and not an error, and it doesn't show up on the console due to a different bug.

[code]

Since lombok d

[2021-01-18 09:11] gergelyfabian commented on #12696
I also considered this solution in #12710 and dropped it for the same reason.

I think that Bazel is already quite much dependent on Jacoco, e.g. updating to Jacoco 0.8.5 (or higher) will need some changes in Bazel itself. So if Bazel is trying to provide an alternate implementation for branch coverage, and already uses internal Jacoco classes like `ClassProvesAdapter`, then I think it should also

[2021-01-18 09:21] gergelyfabian commented on #11674
That's great news. Once that is available we can remove `jacocorunner` parameter from `scala_toolchain` in rules_scala and use the one from `java_toolchain` (that still will be usable if one wants to use a custom Jacoco version - as I need to at this moment).

[2021-01-18 09:28] erenon commented on #12831
FYI https://docs.bazel.build/versions/master/command-line-reference.html#flag--ui_event_filters
Aside from the documented values, it accepts:  error, warning, info, progress, debug, start, finish, subcommand, stdout, stderr, pass, fail, timeout, cancelled or depchecker.

[2021-01-18 09:44] aherrmann opened #12844 "Allow empty configurations in .bazelrc"
### Description of the feature request:

Allow users to define empty configurations for the `--config` flag in `.bazelrc`. E.g. the following should work without error:

`.bazelrc`:
[code]
[code]

Currently, this will fail with the following error message:
[code]

### Feature requests: what underlying problem are you trying to solve with this feature?

For some projects it is useful to expose a se

[2021-01-18 10:39] meteorcloudy commented on #12835
Another problem of splitting the binary and test into different packages is that it's against conventions in many languages:

GO: "Put your tests alongside your code in the same directory in a file called file_test.go where "file" is the name of the source code file you're testing. This is convention and I've found it to be best in my own experience."

[2021-01-18 11:18] dmivankov commented on #12455
Btw, does rc print correct version info in `bazel version` ? When I was compiling it locally it picked up 3.7.0 based on CHANGELOG.md text

[2021-01-18 14:10] philwo commented on #12455
@dmivankov I cannot reproduce that and the release candidate binaries built on our CI print the correct version number.

Note that the version number has to be explicitly embedded into the binary like this when building: https://github.com/bazelbuild/continuous-integration/blob/1a045ef8af19aade33ee932fcb87fd1a39cad2be/pipelines/bazel-release.yml#L70-L76

Usually when you compile it locally, it doe

[2021-01-18 14:19] dmivankov commented on #12455
Ok. manual EMBED_LABEL sounds ok to me, I guess I was getting it from
https://github.com/bazelbuild/bazel/blob/8346ea4cfdd9fbd170d51a528fee26f912dad2d5/compile.sh#L51
https://github.com/bazelbuild/bazel/blob/8346ea4cfdd9fbd170d51a528fee26f912dad2d5/scripts/bootstrap/buildenv.sh#L267

[2021-01-18 14:33] meisterT commented on #12725
Note that the repro (thanks for creating it) has a `.bazelrc` which I didn't see at first and which is the reason that the builds/tests are running sequentially.

@michaeledgar might have more info whether it's intentional that the BEP covers the time from when the test was scheduled, not executed.

[2021-01-18 15:11] paul-hammant commented on #12842
Keith, that  June2020 commit fixed this, or indicates the research area for resolution of this issue?

[2021-01-18 15:35] Wyverald commented on #4341
@trybka It looks like your fix (https://github.com/bazelbuild/bazel/commit/ec5553352f2f661d39ac4cf665dd9b3c779e614c) is causing breakages in [rules_go](https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1870#4d647f52-8231-4bcb-8bb3-16f1fa8d4b60) and [rules_rust](https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1870#9d520a08-5923-414d-b7d0-6b253eb959dd) on macOS. Could

[2021-01-18 15:53] fweikert commented on #8986
Unfortunately the link is dead. Is this still a problem, given the planned revamp of the whole external deps mechanism?

[2021-01-18 16:06] larsrc-google commented on #6103
The worker pool is a GenericKeyedObjectPool, which has idle-time based eviction: [setMinEvictableIdleTimeMillis](https://commons.apache.org/proper/commons-pool/apidocs/org/apache/commons/pool2/impl/BaseGenericObjectPool.html#setMinEvictableIdleTimeMillis-long-) and [setMinSoftEvictableIdleTimeMillis](https://commons.apache.org/proper/commons-pool/apidocs/org/apache/commons/pool2/impl/BaseGenericOb

[2021-01-18 16:14] keith commented on #12842
Not sure I don't have an machines on old enough of a version to check. But likely the issue is in the same code, or the build process. You can try HEAD easily with bazelisk to check

[2021-01-18 19:33] meisterT commented on #12455
We are preparing the release notes now in https://docs.google.com/document/d/1wDvulLlj4NAlPZamdlEVFORks3YXJonCjyuQMUQEmB0/edit?hl=en&forcehl=1#heading=h.44tbuy3ahiu1 - please have a look if you want to contribute.

[2021-01-18 19:50] tschuett commented on #12455
I couldn't find any hints about 4.0 being the first version with Long Term Support (LTS).

[2021-01-18 20:01] limdor commented on #12455
I added the comment in the doc to not get lost, good point. I would also be interested on that.
According to the announcement, I would expect to be LTS https://blog.bazel.build/2020/11/10/long-term-support-release.html

[2021-01-18 20:10] philwo commented on #12455
@tschuett Added, thanks for catching that. 😎

[2021-01-18 20:37] rockwotj commented on #12741
I believe this will be fixed in the next bazel release.

[2021-01-18 20:50] erenon commented on #12009
Would you take a PR that makes headers of external libraries referenced using -isystem instead of -I?

[2021-01-19 03:20] jyknight commented on #4341
## rules_rust

At first glance I'd've said that the BUILD file is simply broken: https://github.com/bazelbuild/rules_rust/blob/8c388e1b816d0a7e5a7d3cc5d213be7f35299cf5/examples/ffi/rust_calling_c/c/BUILD#L23

A cc_library named "native_matrix_so" implicitly generates an output named "libnative_matrix_so.so" (along with "libnative_natrix_so.a"), yet, this build file declares a separate cc_binary ru

[2021-01-19 04:21] jin commented on #12839
Please refer to https://docs.bazel.build/versions/3.7.0/bazel-and-java.html for now, while the PR is on the way.

[2021-01-19 04:22] jin commented on #12842
cc @philwo @fweikert

[2021-01-19 04:37] jin commented on #10777
Is this still a P1 bug?

[2021-01-19 04:37] jin commented on #11000
Is this still a P1 bug?

[2021-01-19 04:37] jin commented on #11646
Is this still a P1 bug?

[2021-01-19 04:37] jin commented on #12310
Is this still a P1 bug?

[2021-01-19 04:50] philsc commented on #12745
The original patch (22b4dbcaf05756d506de346728db3846da56b775) added the attribute to pretty much any rule. This included repository rules. That broke a few projects including [bazelbuild/bazel-toolchains](https://github.com/bazelbuild/bazel-toolchains/blob/b9bc541aae7bd8e09c6954e2e9da3f7ffe4f77f0/WORKSPACE#L384).

@katre saved the day with 775a979bde21a71ddf04f67b865e8c43a29f702a that shifted the

[2021-01-19 05:10] #4984 closed

[2021-01-19 08:03] cpsauer opened #12852 "SDKROOT, DEVELOPER_DIR, INCLUDE, LIB missing from Environment Variables in Aquery and Extra Actions"
### Description of the problem:

When listening to CppCompile and ObjcCompile (mnemonic) actions on macOS and Windows, the key environment variables DEVELOPER_DIR and SDKROOT (Apple Platforms) and INCLUDE and LIB and [other essentials](https://docs.microsoft.com/en-us/cpp/build/building-on-the-command-line) (Windows) are missing from the environment variables in aquery and extra actions output, de

[2021-01-19 09:05] meteorcloudy commented on #10777
It doesn't look like so. Deprioritizing this to P2.

[2021-01-19 09:31] gergelyfabian commented on #11674
Thanks @comius!

@ittaiz, as #12829 is now merged, what is the plan for rules_scala to adjust to that change? Do we need to wait for a new Bazel version?

[2021-01-19 11:13] philwo commented on #12842
Bazel 3.7.2 already contains the fix. I checked the code for the mentioned function call and it's not used in any other place:

[code]

Our official Bazel 3.7.1 and 3.7.2 release binaries are built using the same version of Xcode (11.7) and same flags according to the build logs.

Can you reproduce with our own binaries? Please try these:

- https://releases.bazel.build/3.7.1/release/bazel-3.7.1-d

[2021-01-19 11:36] larsrc-google commented on #6103
If your workers support multiplexing, make sure that is turned on, and your memory consumption should at least be smaller. It's now the default for Javac.

[2021-01-19 11:40] philwo commented on #5197
@comius FYI

[2021-01-19 12:34] zhuwsh commented on #4022
hello, I'm using the bazel version of 0.27.0, but I meet this issue again.
can anyone help me?thanks.

[2021-01-19 13:26] katre commented on #12745
It's unfortunate that we don't have an easy way to specify "all non-repository rules". I definitely think that we should support `target_compatible_with` on `filegroup` and `cc_import`. Sorry that my fix missed these cases.

[2021-01-19 15:30] joprice commented on #12741
I worked around this using rules_nixpkgs and rules_python:

`WORKSPACE`

[code]

`python27.nix`

[code]

`BUILD`

[code]

Since I was already using rules nix, this was also an easy way to lock down the python version, and provide whatever extra packages I need.

[2021-01-19 15:35] fweikert commented on #9559
I'll assign this to Yun for now, given that the entire external deps landscape is about to change radically (https://github.com/bazelbuild/bzlmod)

[2021-01-19 16:42] alandonovan commented on #12835
It's worth noting that the number of targets loaded by Blaze is quite significantly increased by the colocation of tests with production code. Many tests, at least in google3, have enormous data dependencies, enumerated by 'glob', that are entirely irrelevant when the BUILD package is being loaded only for a single cc_library. Furthermore, colocation also increases spurious reloads. Moving all tes

[2021-01-19 17:16] lisaonduty commented on #12669
Hi,

I work with @ulrfa so I have also seen this lack of visibility setting. But then last week a user got a strange error where the visibility did matter and we thought that it was very strange. It showed out that the user used config_setting_group in Skylib and then it didn't work with faulty visibility settings.

Just to show as information:

pkgA/BUILD
[code]

pkgB/BUILD
[code]

Then it will n

[2021-01-19 19:37] meteorcloudy commented on #12776
/cc @philwo Since Bazel already runs natively on arm64 Linux, I assume it can already build arm64 Linux binaries?
However, if we want to do cross-compiling from x86 to arm64, we do need more toolchain support.

[2021-01-19 19:54] pauldraper commented on #6103
Yeah, multiplexing is definitely nice for JVM workers (not Node.js workers tho).

[2021-01-19 19:57] jerrymarino commented on #12171
I spent some time looking at this issue in the context of [rules_ios](https://github.com/bazel-ios/rules_ios/pull/196) and it looks like there are a few cases that result in "different transitions on the CLI".

### rules_ios VS rules_apple transition deltas
First different transitions were applied differently when `swift_library`  was built with `ios_application` vs `rules_ios`'s `apple_framework`

[2021-01-19 20:44] #11893 closed

[2021-01-19 22:08] brentleyjones opened #12855 "remote_download_minimal: downloaded inputs shouldn't be deleted after the build"
### Description of the problem / feature request:

When using `--remote_download_minimal`, downloaded inputs shouldn't be deleted after the build.

### Feature requests: what underlying problem are you trying to solve with this feature?

Currently, when bazel needs to download inputs for a locally run action while using `--remote_download_minimal`, it deletes these inputs after the build: https://

[2021-01-20 01:38] mchinen opened #12856 "Documentation issue: Configuring C toolchains"
Documentation URL: https://docs.bazel.build/versions/master/tutorial/cc-toolchain-config.html

Following these steps for my project, I get the error:
 missing input file '//toolchain:empty'

I should probably try for the tutorial file, but first I wanted to ask if you could also put the final BUILD/bzl files in the docs.  It's more error prone because of the rewriting steps and it would be nice to

[2021-01-20 01:55] djmarcin opened #12857 "shallow_since appears to be a trap when used with commit, debug line should be removed"
### Description of the problem / feature request:

The `shallow_since` option to `new_git_repository` appears to be a trap, at least when used with the `commit` option. When shallow_since is provided, instead of using `depth 1` to check out only the relevant commit, the entire repo state since some timestamp is cloned. On one of our repos, this causes a *25x* difference in clone time (7s -> 175s)