[2017-04-28 01:53] aj-michael commented on #2900
Hmm, are you sure that `//:qzone_apk` is an `android_binary` rule? Also, do you have an `android_ndk_repository` rule in your WORKSPACE? those CPUs are the options for non-android rules.

[2017-04-28 02:00] ldjhust commented on #2900
Yes, the `//:qzone_apk` is an `android_binary`:
[code]

And the `:jni` rule is:
[code]

Cause they are prebuilt `.so` file, so I didn't have the `android_ndk_repository` rule in my WORKSPACE. Am I wrong?

[2017-04-28 02:13] aj-michael commented on #2900
Hmmm, I'll have to let @ahumesky answer that. He is more knowledgable about JNI. Bazel's typical use case is to build the cc_library from source files.

[2017-04-28 02:22] ldjhust commented on #2900
OK, thanks very much!

[2017-04-28 02:54] ahumesky commented on #2900
This is similar to the issues discussed here: https://github.com/bazelbuild/bazel/issues/2851#issuecomment-296025329

Try passing `--android_cpu=armeabi --fat_apk_cpu=""`

If you want to be able to use `.so` files for multiple architectures, see the discussion in the comment linked above.

[2017-04-28 03:03] ldjhust commented on #2900
[code]

@ahumesky looks like it not works for me, I also refered to the issue and changed my `cc_library` to this:
[code]

But it still failed with the same error.

[2017-04-28 04:02] ittaiz commented on #1952
+1 for lossless maven coordinates to bazel workspace name translation (with
of course omitting the version)
On Fri, 28 Apr 2017 at 4:42 P. Oscar Boykin <notifications@github.com>
wrote:

[2017-04-28 06:02] YugandhaD commented on #2818
Hi,

As per your suggestion, I tried to build and test Bazel 0.4.5 on RHEL 7.3.
However I am observing similar TIEMOUT errors.
I don’t seem to have permissions to re-open the issue, could you please re-open and let me know your comments?

Thanks & Regards,
YugandhaD

[2017-04-28 06:38] rajsarany opened #2907 "Software Engineer"
Hi Everyone,
Hope all are doing great!
We are currently looking for candidates with good expertise on Bazel Build System and good programming skills on C or C++. This is for one of our Top notch IT Firm located in Santa Clara,CA.

Best,
pia saranya
pia@zenaide.com
408-564-7176/408-564-0254

[2017-04-28 07:30] abergmeier-dsfishlabs opened #2908 "Aspect kind attr is not uniquely identifying"
### Description of the problem / feature request / question:

When accessing `kind` in an aspect, the name is local only. So there is a chance that it collides in huge repos and one cannot differentiate. Maybe introduce a way to retrieve a global (full path) `kind`.

### Environment info
* Operating System: Ubuntu 16.04
* Bazel version (output of `bazel info release`): 0.4.5

[2017-04-28 07:41] mwitkow commented on #2906
Right, this is definitely a problem with `rules_go`. Closing.

[2017-04-28 07:41] #2906 closed

[2017-04-28 07:58] ulfjack commented on #1118
You should be writing coverage data to COVERAGE_DIR, not
TEST_UNDECLARED_OUTPUTS_DIR.

I'm not sure whether we've already decided on a common output format, and
we don't currently have an aggregation tool in Bazel (we only support a
single file), and we don't have a report generator. To generate a report,
you might be successful using lcov as a post-process. I still have a
pending change with the

[2017-04-28 08:08] ulfjack commented on #1525
I have two pending commits in code review. I pinged the reviewer to take another look. Sorry for the delay - I was out for a week, and also had some urgent other stuff to attend to.

[2017-04-28 08:14] ldjhust commented on #2900
Thanks guys, I found the reason. Though, I'm using the prebuilt `.so` file, I still need to have the `android_ndk_repository` rule in my WORKSPACE file, or bazel will fail with the above error.

Thanks very much for the help again!

[2017-04-28 08:15] #2900 closed

[2017-04-28 09:39] laszlocsomor commented on #2892
FYI, sent PR: https://github.com/tensorflow/tensorflow/pull/9510

[2017-04-28 10:31] hanwen commented on #2224
maybe we can sit down together some time? I don't see an easy way to solve this, since skylark loads can't be parameterized.

[2017-04-28 10:41] davidzchen opened #2909 "bazel-* files on the top level directory are not linked in the execroot, even when they are explicitely defined."
### Description of the problem / feature request / question:

When running `bazel build //:jekyll-tree` in the following workspace (https://github.com/davidzchen/bazel-website/tree/third-party), the build fails with mysterious errors about files not being found. The first time it is run, it complains that `bazel-release.pub.gpg` cannot be found, but the file exists and should have been picked up b

[2017-04-28 10:44] htuch opened #2910 "--workspace_status_command does not compose (or work transparently when building outside the source dir)"
The best practice for git build stamping in C++ today is described in https://github.com/bazelbuild/bazel/issues/2893. To make this work in a way that is transparent to developers, you provide the workspace status script in a file, e.g. `tools/get_workspace_status` and place in `tools/bazel.rc`: `build --workspace_status_command=tools/get_workspace_status`. That way, most folks who checkout your p

[2017-04-28 11:15] abergmeier-dsfishlabs opened #2911 "Create new category for aspects"
### Description of the problem / feature request / question:

Perhaps it would make sense to create a GitHub category for aspects.

[2017-04-28 11:38] dslomov commented on #2905
Creating rules in macros is not supported.

[2017-04-28 11:39] dslomov commented on #2905
What are you trying to do? Maybe there is another solution?

[2017-04-28 12:25] vladmos commented on #2907
Hi! Sorry, we use this issue tracker only to track bugs, our mailing list would be a better place for such announcements.

[2017-04-28 12:25] #2907 closed

[2017-04-28 12:37] abergmeier-dsfishlabs commented on #2911
Was feeling bold and created one on stackoverflow already: https://stackoverflow.com/questions/tagged/bazel-aspect

[2017-04-28 12:43] abergmeier-dsfishlabs commented on #2905
I am trying to apply a rule on a portion of my graph. For that I want to apply an aspect to every src of a `filegroup`. So I created a `aspect_group`, that should handle like a `filegroup` but also apply aspects.
I solved that now by (moving the rule declaration to the parent context and) writing a specific aspect list.

[2017-04-28 12:46] abergmeier-dsfishlabs commented on #2886
Can we please rewrite the aspect docs from scratch? I may be not the brightest but I feel like there is a lot of information that is either not in the docs or with the current "structure" I am missing.

[2017-04-28 12:55] dslomov commented on #2886
I am working on making docs better (hopefully; this also involves making API better), but I am not planning any major structure changes.
Any concrete ideas on what I could change?

[2017-04-28 13:00] abergmeier-dsfishlabs commented on #2886
From the top of my head:

- Go through the different steps the aspects are applied to the graph.
- Explicitly state in which order they will be executed
- More structured information - less prose writing.
- All references to **A(...)** need to stand out.
- Display information passing/providers in graphic
- Actually consume `metal_proto` somewhere
- Document how information is passed. I think it re

[2017-04-28 14:09] mattmoor commented on #2712
This is fixed in `rules_docker`

[2017-04-28 14:09] #2712 closed

[2017-04-28 14:10] #1937 closed

[2017-04-28 14:11] #1335 closed

[2017-04-28 14:19] philwo commented on #2819
The WorkspaceStatusAction is not a SpawnAction, thus it does not use sandboxing, process-wrapper or anything else. Instead it constructs its own Command object and simply calls .execute() on it.

[2017-04-28 14:35] kchodorow commented on #2224
Sure, although I'm actually working on recursive workspaces right now, so hopefully it'll be a moot point by next release.

[2017-04-28 15:07] hanwen commented on #2224
is there a doc I can look at?

[2017-04-28 15:20] kchodorow commented on #2224
https://bazel.build/designs/2016/09/19/recursive-ws-parsing.html

[2017-04-28 15:35] hanwen commented on #2224
Ah, so we would have a WORKSPACE in each plugin, and then in the main WORKSPACE, we would do something like

  local_repository(name = "cookbook",
    path= "plugins/cookbook")

plugins/cookbook/WORKBOOK would contain the dependencies that just cookbook needs. I think that would work for us.

[2017-04-28 15:43] dslomov commented on #2886
Thanks, I understand what you want a bit better now. I have a couple of things I still don't follow in what you suggest:

I am not sure what you mean by "3 substeps". For all intents and purposes [this build graph](https://bazel.build/versions/master/docs/skylark/build-graph-aspects.png) appears instantaneously  when you apply aspect A to target X...

... and the build graph is then reduced in the

[2017-04-28 16:06] kchodorow commented on #2224
Exactly.

[2017-04-28 16:10] vladmos commented on #2896
Hi. Could you please describe how exactly is the new behavior different?

[2017-04-28 16:12] vladmos commented on #2889
Hi. Could you please provide a bit more details? Do you change anything between consequent builds?

[2017-04-28 16:15] dslomov commented on #2641
Should inform future 'debugprint' design

[2017-04-28 21:23] Steve-Munday commented on #2723
hi @c-parsons, is there any update on this?

[2017-04-28 23:04] ribrdb commented on #1118
COVERAGE_DIR was not defined when I ran with bazel coverage, that's why I went with TEST_UNDECLARED_OUTPUTS_DIR. I wrote my own report generator since closure's coverage format seems ... unique. lcov doesn't appear to be installed on my mac.

[2017-04-29 13:33] juhalindfors opened #2912 "Distribution build not working on Linux"
The current HEAD (currently at commit 5038016e65739) is not able to complete the full distribution build on a Ubuntu Linux system.

Following the steps described here: https://bazel.build/contributing.html#compiling-bazel

[code]

### Environment info
* Operating System: Ubuntu Linux LTS 14.04

###  Have you found anything relevant by searching the web?
Permission denied errors (may not be related

[2017-04-29 14:45] juhalindfors commented on #2912
Fixed title. It was originally for another issue ;-)

[2017-04-29 18:25] buchgr commented on #2265
@cheister

Unfortunately it will take a bit to resolve this problem. There is an inconsistency between the protobuf compiler inside and outside of google [1]. We are looking at a proper fix that works for both environments and will likely involve some changes by the protobuf team.

I am very sorry about that :-(.

[1] https://github.com/google/protobuf/issues/3022

[2017-04-29 19:28] ulfjack commented on #1118
We set COVERAGE_DIR only if there's coverage metadata for a target, I
think. For proper multi-language coverage support, we'd prefer that all
coverage data is converted to a common format, probably gcov format.

lcov is here:
http://ltp.sourceforge.net/coverage/lcov.php

On Sat, Apr 29, 2017 at 1:04 AM, Ryan Brown <notifications@github.com>
wrote:

[2017-04-30 05:18] costinm opened #2913 ""pivot_root(., tmp/....)": Invalid argument"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:

Sandbox failing on some linux machines.

### If possible, provide a minimal example to reproduce the problem:

I suspect it's due to 'shared' mounts not compatible with pivot_root, however
not sure how to w

[2017-04-30 05:35] ittaiz commented on #457
I'm sorry to dig up this issue from the history but I'm trying to introduce [jvm_flags](https://bazel.build/versions/master/docs/be/java.html#java_binary.jvm_flags) to rules_scala and I could use a bit of understanding about the motivation of this issue.
This change added the ability to configure the `scalac` options **and** JVM flags of `scalac`. I'm not sure why one would need configuring the JV

[2017-04-30 05:40] johnynek commented on #457
I think it is irrelevant in java because the standard compiler is not
written in Java, is it? Unlike scala where the we run the scala compiler on
a JVM, and sometimes we may need to tune memory issues (for instance we
have had issues with thrift targets with tons of files which are rarely
compiled).

I think this should be rarely needed, but that and just plain carelessness
resulted in the state w

[2017-04-30 05:42] ittaiz commented on #457
ok fair enough. I see your point. In that case I'll continue like we discussed with scalac_jvm_flags to keep with the current convention of jvm_flags but to prefix it with scalac to signal it's flags for it.

[2017-04-30 07:45] ittaiz commented on #457
@johnynek why do we pass then the jvm_flags to javac? We use `-J`/`--jvm_flag` to pass it to javac itself. So we currently overload the same attribute with 3 responsibilities:
1. Scalac jvm flags
2. Javac jvm flags
3. Target exectubale jvm flags
Clearly 3 doesn't belong with 1 and 2. Should 1 and 2 be the same attribute? I think they should but a second opinion would be great here.

[2017-04-30 16:38] iamkomainu opened #2914 "re"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:

_If asking a question or requesting a feature, also tell us about the underlying problem you're trying to solve._

### If possible, provide a minimal example to reproduce the problem:

### Environment info

[2017-05-01 00:39] endobson opened #2915 "Governance page implies there is a full list of core contributors but it isn't there."
https://bazel.build/governance.html#core-contributors

But there is no list below, just a mailing list.

[2017-05-01 06:55] damienmg commented on #2692
FTR 1fb094ecd573b77159f3bc73553ce0750152d2d6 needs to be in the release (regression detected inside google)

[2017-05-01 08:24] kgreenek opened #2916 "Failure to build external proto_libraries with dependencies"
Bazel fails to build an external project that contains protos, where one proto_library depends on another proto_library.

Example WORKSPACE:

[code]

Example //third_party/ign_msgs.BUILD:

[code]

Bazel build output:

[code]

It looks like the wrong values are being passed to protoc to the --direct_dependencies flag. If instead of passing this:
[code]

...you pass this:

[code]

...then the protoc

[2017-05-01 12:22] buchgr commented on #2916
Thanks for the bug report @kgreenek.  This has already been fixed by commit 98571f36260fa70043ea07820d6b19a8f9219500 and will be part of the next release.

It would be great if you could reconfirm that this works for you too by using bazel from HEAD.

[2017-05-01 12:22] #2916 closed

[2017-05-01 14:07] kchodorow opened #2917 "PackagePathLocator doesn't handle BUILD.bazel"
Not sure if this is causing any problems, but it seems like a bug: https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/pkgcache/PathPackageLocator.java#L104

[2017-05-01 14:09] kchodorow commented on #2917
Also CppCompileAction is looking for "BUILD".

[2017-05-01 14:48] aj-michael commented on #2124
Unfortunately I don't think this is something Bazel supports at this time. Perhaps @apelle03 can comment on why Bazel does what it does.

And perhaps @ahumesky can comment on our prioritization of this issue for the future.

[2017-05-01 14:51] aj-michael commented on #2499
Quoting the relevant part of the discussion for whoever ends up taking on this feature request:

./sources/android/cpufeatures/cpu-features.c
./sources/android/cpufeatures/repo.prop
./sources/android/cpufeatures/Android.mk
./sources/android/cpufeatures/NOTICE
./sources/android/cpufeatures/cpu-features.h

[2017-05-01 17:10] c-parsons commented on #2723
No updates.
We currently have this filed as a p3, which is a pretty low priority..  I may not get to it this week.

In the interest of understanding if this priority is appropriate: What are your current needs for rdeps?
Is rdeps not working for any of your targets, or is it only failing when you call rdeps on your entire workspace tree like as given in the example?

[2017-05-01 17:47] kgreenek commented on #2916
Excellent! Thank you! I guess I didn't search hard enough.
Is there a rough timeline for when the next release will be available?

[2017-05-01 18:40] Steve-Munday commented on #2723
Sure thing.  So in our environment we run bazel on Jenkins for our CI, using a simple shell script.  We have many apps in a mono repo, some iOS, Android and others.  Often they are not all required to rebuild.

On each pull request to our repo, the script uses git commands to get the list of all files affected by the PR, then uses a `bazel query` to identify which targets to build, then builds tho

[2017-05-01 19:20] buchgr commented on #2916
This or next week I believe. It would still be great if you could verify that it works for you too, so that we don't release something broken! Thanks @kgreenek

[2017-05-01 20:51] apelle03 commented on #2124
The [ public/private resources ](https://developer.android.com/studio/projects/android-library.html#PrivateResources) functionality is provided directly by Gradle. Gradle processes the `public.xml` file and then passes only the appropriate resources to `aapt`, omitting the `public.xml`, meaning the command line difference is unrelated. This would need to be implemented in Bazel. @ahumesky for prio

[2017-05-01 21:41] kgreenek commented on #2916
Confirmed! I can build my example without any issues using bazel built from HEAD. I greatly appreciate the prompt turn-around! Cheers to you guys

[2017-05-01 21:45] kgreenek commented on #2916
On a semi-related, I wrote a python script that generates a BUILD file automatically for a directory full of protos according to Bazel's guidlines (if you look at that ign_msgs repo, you'll see why I needed to do that). It may help others migrate existing repos with a lot of protobuf files to Bazel. Do you think a tool like that would be worth distributing (similar to wtool)? I plan to throw it up

[2017-05-01 22:13] sayrer opened #2918 "Bazel breaks on system includes with newest macOS command line tools"
### Description of the problem / feature request / question:

A previously working build broke when the command line tools were upgraded on OS X.
### If possible, provide a minimal example to reproduce the problem:

### Environment info
* Operating System:

macOS 10.12.4

* Bazel version (output of `bazel info release`):

release 0.4.5-homebrew

###  Have you found anything relevant by searching t

[2017-05-01 23:06] mattmoor commented on #2176
@damienmg FWIW +1 to making the default preserve directory structure.  I just got bit by this playing with some samples and it probably would have burned way more time if I didn't have a feint recollection of this issue from triaging `docker_build` issues.

[2017-05-02 03:46] ldjhust opened #2919 "bazel doesn't merge all the AndroidManifest.xml"
Hi guys, my android project contains some module, and each module has its own AndroidManifest.xml, I have already set the `manifest_merger = "android"` in `android_binary` rule, but the module's AndroidManifest.xml looks like still doesn't in the final AndroidManifest.xml.

So, what's the problem here? Thanks very much for any help!

My `android_binary` rule:
[code]

The `:base_lib` is a module (i

[2017-05-02 05:54] buchgr commented on #2916
@kgreenek yep totally! Else, I would have written one in a few weeks for https://github.com/googleapis/googleapis :-). So please do and send an announcement to https://groups.google.com/forum/#!forum/bazel-discuss. Also please put me in cc if you don't forget - I sometimes miss messages from bazel-discuss. Thanks!

[2017-05-02 06:20] endobson opened #2920 "CcToolchainInfo has fields that say 'do not use', but don't explain why."
https://bazel.build/versions/master/docs/skylark/lib/CcToolchainInfo.html

There are two fields `link_options_do_not_use`and `unfiltered_compiler_options_do_not_use`. These fields do not say why they shouldn't be used. If they are deprecated then the documentation should say so.

[2017-05-02 06:59] charafau commented on #1745
@aj-michael  Sorry for no contact, got busy lately. I checkout new bazel version from git, recompiled and got working project:

https://github.com/charafau/BazelTest

One thing I would like to suggest is,  `android_library` doesnt check if sources are in given path i.e.:

[code]

if I change `srcs = glob(["app/src/main/java/com/nullpointerbay/bazeltest/*.java"]),`  to some different path, bazel wi

[2017-05-02 07:07] davidzchen commented on #2909
It looks like the problem was that name of the file in question, `bazel-release.pub.gpg`, starts with `bazel-`. Renaming this file to `bazel_release.pub.gpg` and adding `bazel-*/**` to the `exclude` list for the glob solved this problem. This is worth debugging further because it seems that any regular file with a name that begins with the string `"bazel-"` would cause `pkg_tar` to raise this erro

[2017-05-02 07:16] ldjhust commented on #2124
OK, thanks very much, guys, I get it. So, is it going to be implemented in the [**0.6**](https://github.com/bazelbuild/bazel/milestone/5) version? Cause I find that ahumesky has added it to the [**0.6**](https://github.com/bazelbuild/bazel/milestone/5) milestone.

[2017-05-02 07:24] damienmg commented on #2819
Well but the problem happens during normal action, not during the workspace status action. The file is not found. It could be related to the slave also (since this slave ends up in a terrible state the week after).

[2017-05-02 07:27] abergmeier-dsfishlabs commented on #2905
Not needed for recursion - only for data handling. Found another way of handling that.

[2017-05-02 07:27] #2905 closed

[2017-05-02 07:54] buchgr commented on #2916
I could actually use such a script asap :-). So I am looking forward to it!

[2017-05-02 07:56] abergmeier-dsfishlabs commented on #2886
The shadow-graph may be instantaneously, if you apply. Since you do not get any feedback, I think it would be good to explicitly describe that e.g. **A(W)** aspect gets instantiated before **A(Y)**.

Especially passing information between aspects could be more explicitly described IMO.

Yes, more pictures, arcs and better labels would help a lot :)

[2017-05-02 08:14] damienmg commented on #2909
Can you share the content of the offending build files? It seems to me that you are globbing the convenience symlinks of Bazel.

[2017-05-02 09:22] damienmg commented on #2819
FTR another instance: http://ci.bazel.io/job/gerrit/BAZEL_VERSION=HEAD,PLATFORM_NAME=darwin-x86_64/335/console

[2017-05-02 09:28] #2499 closed

[2017-05-02 09:30] pcj commented on #2886
@abergmeier-dsfishlabs Not sure if it will augment your understanding of aspects but I wrote up my experience at https://github.com/pcj/bazel_aspects.

@dslomov If you can swing it, an animated visualization of how the aspect graph is created and then reduced, showing how information is propagated would be awesome.

[2017-05-02 10:21] davidzchen commented on #2909
Here is the BUILD file in my `bazel-website` branch where I am working on this: https://github.com/davidzchen/bazel-website/blob/third-party/BUILD.

I have added the convenience symlinks to the `exclude` list for the glob, but adding any file that begins with `bazel-` would still cause this error to occur.

[2017-05-02 10:32] abergmeier-dsfishlabs commented on #2886
Won't anymore, but it helped understanding aspects. Thanks.

[2017-05-02 10:48] damienmg commented on #2909
Sorry what do you meant by "but adding any file that begins with bazel- would
still cause this error to occur"? The problem is the '**' globs bazel-*
which include the convenience symlink.

On Tue, May 2, 2017 at 12:21 PM David Z. Chen <notifications@github.com>
wrote:

[2017-05-02 12:42] abergmeier-dsfishlabs opened #2921 "Bazel creates a lot of write IO for sandboxed action"
### Description of the problem / feature request / question:

We have a rule related to packaging. That rule depends on > 25.000 files. Trying to build that rule it stays in _Running_ for over 10 minutes without the action executable even being started. Since the system is mainly busy with writing, I guess Bazel is setting up the sandbox environment/files?

Question is whether there is anything th

[2017-05-02 12:47] veyvin opened #2922 "China having problem accessing release (bazel.exe)"

[2017-05-02 14:23] abergmeier-dsfishlabs opened #2923 "new_file does not check for other package path"
### Description of the problem / feature request / question:

In a rule implementation I create a

    bar = ctx.new_file("%sdeps.id" % ctx.file.src.path)

    ctx.action(
        ...
        arguments = [
            bar.path,

Now in `ctx.action` I get the error message:

    expected type 'string' for 'arguments' element but got type 'root' instead

This is probably because `src` comes from ano

[2017-05-02 14:34] damienmg opened #2924 "bfacec0b3f26b2e851df5a847a51858dbedb45a7 removed chunks of src/test/java/com/google/devtools/build/lib/packages/ConfigurationFragmentPolicyTest.java"
Internally this change hasn't affected the file so much, problem in our tooling?

[2017-05-02 14:34] ulfjack commented on #2528
You need the fix for #2663, which is 3a5d3db6436bbaf5351da9ea9c19a41ae7c95ca9, which unfortunately didn't make it into 0.4.5, but will be in 0.5.0.

[2017-05-02 14:44] damienmg commented on #2924
Filed internally as b/37893461

[2017-05-02 15:02] aj-michael commented on #2499
This will eventually need to be documented in a better location, but for now, here is how to use cpufeatures:

    $ cat jni.cc
    #include "ndk/sources/android/cpufeatures/cpu-features.h"
    ...
    AndroidCpuFamily family = android_getCpuFamily();

    $ cat BUILD
    cc_library(
        name = "jni",
        srcs = ["jni.cc"],
        deps = ["@androidndk//:cpufeatures"],
    )
    android_bi

[2017-05-02 15:06] aj-michael commented on #1745
@charafau, thanks for the feedback.

Regarding the lack of sources, that is just glob working as intended. It could be the case that all your code comes from another library that you depend on, so this is not an error. You do not need to use glob. In fact, you could use

    srcs = [
        "app/src/main/java/com/nullpointerbay/bazeltest/MyActivity.java",
        "app/src/main/java/com/nullpointe

[2017-05-02 15:37] damienmg commented on #2924
https://github.com/bazelbuild/bazel/commit/38b835097f9ae9a6062172b8a33ec2e2d1edde20 is also touched

[2017-05-02 15:37] damienmg commented on #2924
(for  src/test/java/com/google/devtools/build/lib/packages/OutputFileTest.java)

[2017-05-02 16:02] luberg commented on #2918
Seems related to: https://github.com/bazelbuild/bazel/issues/715
@sayrer Can you try updating your CROSSTOOL file and add a cxx_builtin_include_path for /usr/include ?

Use bazel build with -s to discover which toolchain needs the path included.

[2017-05-02 17:30] mwoehlke-kitware opened #2925 "Problems with pkg_tar file permissions"
### Description of the problem / feature request / question:

`pkg_tar` is unable to preserve the mode of files being packaged and makes everything executable by default. The following should be fixed:

- [ ] The default mode should be `None`, not `"0555"`. Making *everything* executable *by default* is just **wrong**. (Implies not passing `--mode` to `build_tar.py` in such case.)
- [ ] When no `-

[2017-05-02 17:48] aj-michael commented on #2919
Hi @ldjhust , to export the AndroidManifest.xml from the android_library, set `exports_manifest = 1` on the android_library. Note that in the next Bazel release, the default value of exports_manifest will change from 0 to 1, so it will no longer be required to explicitly set it.

Sorry for the confusion!

[2017-05-02 17:48] #2919 closed

[2017-05-02 19:13] davidzchen commented on #2909
I mean that if I rename `bazel_release.pub.gpg` back to `bazel-release.pub.gpg` or simply `touch bazel-foo.md`, the same error reproduces. Would the `bazel-*/**` in the `exclude` list exclude the convenience symlinks, even though the include glob pattern is `**`?

[2017-05-02 19:16] juhalindfors opened #2926 "java_toolchain ignores the encoding setting"
The encoding setting in java_toolchain appears to be ignored. For reference, see the stack overflow discussion here: http://stackoverflow.com/questions/43435772/bazel-java-library-character-encoding-via-javacopts-not-working

The problem seems to stem from the introduction of ClassloaderMaskingFileManager in commit 3c5e55ff8e0. It [hard-codes UTF-8](https://github.com/bazelbuild/bazel/commit/3c5e5

[2017-05-02 19:35] ronshapiro commented on #157
Is there an update on this @byuksel?

[2017-05-02 19:43] brian-peloton commented on #1972
I went to write up a patch doing that, and it turns out it doesn't actually work... You still end up with the wrong PIDs on /proc.

Turns out the root cause isn't the kernel version; it's actually what you have mounted in /proc. In my case, it's /proc/xen. projectatomic/bubblewrap#134 and opencontainers/runc#252 both reference the same issue.

However, you can work around it by unmounting /proc/xe

[2017-05-02 19:43] #1972 closed

[2017-05-02 21:04] juhalindfors commented on #2926
Proposed fix: https://github.com/juhalindfors/bazel-patches/commit/81b1e9a1dc28bccc06a3a9e74c0252fdc74b13b9

Related unit test: https://github.com/juhalindfors/bazel-patches/commit/8e94ccc3a4a2ec2d3932a054696c586e2c13b308

Note that the unit test currently depends on the patch set in https://bazel-review.googlesource.com/#/c/10530/ associated with issue #2897

[2017-05-02 21:32] lazdmx opened #2927 "Unable to use external dependency with recursive links"
Original issue - bazelbuild/rules_go#424

I've found that I couldn't use a (non-Bazel) dependency with recursive links in codebase because of error:

[code]

There is a lot of CLI tools which do some useful work with files and they usually are part of build process. And authors of course write tests on cases with recursive links which are part of testdata stored in repo.

For instance there is a t

[2017-05-02 22:28] makdharma commented on #1802
Is objc_proto_library ready to be used? The documentation at https://bazel.build/versions/master/docs/be/objective-c.html#objc_proto_library seems to say so, but I still can't use it because the target compile_protos is not in the tools/objc/BUILD file. Please either add the target or fix the documentation.

[2017-05-02 23:43] brian-peloton opened #2928 "Poor error when WORKSPACE loads from another directory with WORKSPACE"
The error message when WORKSPACE tries to load a .bzl file in a subdirectory which also has a WORKSPACE file is really bad. I'm pretty sure this should fail, but with a nicer error message.

### Description of the problem / feature request / question:
This is what I see:
[code]

When doing something similar with a less minimal reproduction, I don't see the stacktraces and the information about wha

[2017-05-02 23:49] AustinSchuh commented on #1836
@philwo Any update?  I'm still finding master slow, and about to forward port my patch again.  It would be nice to get something upstreamed :)

[2017-05-02 23:49] AustinSchuh commented on #2921
Take a look at Issue #1836 .  Does the patch/workaround listed there help you?

[2017-05-03 01:08] ldjhust commented on #2919
OK, Thanks very much!

[2017-05-03 05:48] endobson opened #2929 "Fragments documentation is not self consistent"
https://bazel.build/versions/master/docs/skylark/lib/fragments.html says:

https://bazel.build/versions/master/docs/skylark/lib/skylark-configuration-fragment.html has 2 more configurations available `proto` and `swift`.

[2017-05-03 06:05] endobson opened #2930 "Cpp fragment documentation has a couple of errors."
https://bazel.build/versions/master/docs/skylark/lib/cpp.html

1. `compiler_options()` and similar functions do not document their required argument.
1. `link_options`'s text uses 'Returns' even though it is a field and not a method.

[2017-05-03 06:17] endobson opened #2931 "PathFragment type isn't documented and isn't inspectable"
I cannot find any documentation on what a `PathFragment` is and what methods/fields it has. Many apis return such objects (e.g. the cpp fragment).

I cannot run `dir` on it, and the error message says that it is not allowed as a Skylark value.
[code]

Attempting to call methods on it crashes bazel:
[code]

[2017-05-03 06:28] endobson opened #2932 "Fragments need better examples"
https://bazel.build/versions/master/docs/skylark/rules.html#configuration-fragments
This does not show how to use the values provided by a fragment. It does not explain what adding a fragment does other than making it available to the rule's implementation (maybe it doesn't do anything, but then why do they need to be requested up front).

https://bazel.build/blog/2017/03/07/java-sandwich.html
Thi

[2017-05-03 06:38] endobson opened #2933 "java_common docs use unknown syntax and have bad names for first argument"
https://bazel.build/versions/master/docs/skylark/lib/java_common.html

The docs for compile use a syntax I haven't seen in other files: `*`. It isn't explained here either.
[code]

Also multiple functions in this file have the first argument named `arg0` instead of something semantic. This looks like this is generated from the mandatory positional argument annotation.

[2017-05-03 08:11] damienmg commented on #2924
Update: the root cause is on copybara side, they reverted the causing release and will do a proper post-mortem.

The list of affected changes are: bfacec0b3, edcd915c8, 5da0dd559, 248581e8c, 38b835097.

I'll do a commit that revert the unwanted change as a patch then we can restart the export.

[2017-05-03 08:14] damienmg commented on #2924
Affected files:
src/test/java/com/google/devtools/build/lib/bazel/rules/android/ndkcrosstools/ndk12bfiles.txt
src/test/java/com/google/devtools/build/lib/bazel/rules/android/ndkcrosstools/ndk12bfiles.txt
src/test/java/com/google/devtools/build/lib/packages/ConfigurationFragmentPolicyTest.java
src/test/java/com/google/devtools/build/lib/packages/ImplicitOutputsFunctionTest.java
src/test/java/com/go

[2017-05-03 08:20] damienmg commented on #2924
So the only files still corrupted are:

* [src/test/java/com/google/devtools/build/lib/bazel/rules/android/ndkcrosstools/ndk12bfiles.txt](https://github.com/bazelbuild/bazel/tree/382b62c79808940349b81f4316203cdb5a0d0548/src/test/java/com/google/devtools/build/lib/bazel/rules/android/ndkcrosstools/ndk12bfiles.txt)
* [src/test/java/com/google/devtools/build/lib/bazel/rules/android/ndkcrosstools/ndkf

[2017-05-03 08:25] abergmeier-dsfishlabs commented on #1836
As someone who sees more than a 100x slowdown with sandboxing (have >25000 input files), I appreciate any work on that.
That patch seems a bit invasive to me. I do support the general idea, though. Is there a reason why to hardcode `shm`? Personally I always try to use `tmpfs`, since I have not a single machine that would have sufficient memory to do everything in RAM.

[2017-05-03 08:32] abergmeier-dsfishlabs opened #2934 "Test on HDD"
### Description of the problem / feature request / question:

Due to #2921, #1836 I personally would recommend for Bazel to have a Jenkins slave running on HDDs. The reason is that, this will show problems very early when some part of Bazel is relying on too much IO throughput and/or latency (which Sandboxing seems so do).

Bonus points if you downgrade devs to HDDs.

### Environment info
* Operat

[2017-05-03 08:34] #2924 closed

[2017-05-03 09:21] philwo commented on #1836
Does the [--experimental_sandbox_base](https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/sandbox/SandboxOptions.java) flag work for you? You can use it like this: bazel build --experimental_sandbox_base=/run/shm //my:target to put all sandboxes on /run/shm/...

It should give the same (or better) performance improvement than the more complex solution, but

[2017-05-03 09:55] laszlocsomor opened #2935 "Windows, Bazel client: always prefix paths with "\\?\""
The C++ code of the Bazel client should always use the Unicode WinAPI functions and always add the "\\\\?\\" prefix, even if the path is shorter than MAX_PATH.

The purpose is to avoid the Win32 API's path processing which tries to be helpful but in fact does things like stripping trailing dots from paths, so e.g. `CreateDirectory("c:\\foo.")` will actually be translated to `CreateDirectory("c:\\f

[2017-05-03 11:26] damienmg commented on #2819
/cc @mhlopko

[2017-05-03 11:45] damienmg commented on #2912
The point that was used was also broken on our CI, CI bootstrap test is passing now so it should be back online. Closing feel free to ping back if you are still experiencing the issue.

[2017-05-03 11:45] damienmg commented on #2934
Moving to continuous-integration

[2017-05-03 11:46] damienmg commented on #2934
Closing in favor of bazelbuild/continuous-integration#66

[2017-05-03 11:46] #2934 closed

[2017-05-03 11:47] damienmg commented on #2933
/cc @dslomov @laurentlb for skylark documentation

[2017-05-03 11:47] damienmg commented on #2932
/cc @dslomov @laurentlb

[2017-05-03 11:49] #2914 closed

[2017-05-03 11:51] damienmg commented on #2915
/cc @michelleirvine

The list of core contributors ended-up changing so we ended-up replacing it by a mailing list, we should probably reword the sentence before.

[2017-05-03 14:01] jwnimmer-tri commented on #1748
As I understand it, this bug emits a warning for anyone who declares a non-small test.  That ends up confusing my new users on a regular basis.  Is there any re-push of the fix in the works?

If not, perhaps you could elaborate on how to repro the failure mode that led to the rollback, and I will work on a PR?

[2017-05-03 14:57] katre commented on #2928
Hmm, this is caused by the added LocalRepositoryLookupFunction call. Since there's a WORKSPACE file in foo/, LRLF is checking whether there's a local_repository() that points to 'foo', but it has to load the WORKSPACE file to check that, leading to the cycle.

It should work if you define the local repository in the main WORKSPACE like this:
[code]

[2017-05-03 14:57] katre commented on #2928
But I agree that the error is not ideal.

[2017-05-03 15:23] damienmg commented on #2819
http://ci.bazel.io/job/gerrit/BAZEL_VERSION=HEAD,PLATFORM_NAME=darwin-x86_64/339/console <-- another instance, might be related to the slave itself.

[2017-05-03 15:40] damienmg opened #2936 "Convenience symlink are inconsistent"
See http://ci.bazel.io/job/bazel-tests/BAZEL_VERSION=HEAD-jdk7,PLATFORM_NAME=darwin-x86_64/737/console

Notably SubincludePreprocessorTest is run was deleted a long time ago.

Looking in the runfiles we can find it in the package_test lib:
[code]

[2017-05-03 15:43] damienmg commented on #2692
I suggest cutting the release at f3ae88ee043846e7acdffd645137075a4e72c573 since there is only a handful of breakage that needs investigation and no clear regression so far. We can cherry-pick change needed to stabilize the release.

[2017-05-03 15:44] damienmg commented on #2692
Note that the release testing is not very good so it would be good to run the docker test on a workstation and send the release branch as a gerrit code review to get bazel test coverage for it.

[2017-05-03 16:00] damienmg commented on #2936
Some more weirdness

[code]

Build a lot of stuff in build.log but nothing in test.log. Actually fails the build when using build, fail the test but no rebuild during test.

Files content are there: https://gist.github.com/damienmg/bbe5ce14a97fc181425cbc529ac90152

[2017-05-03 16:17] damienmg commented on #2936
Ok the difference is in the command line from the rc file: we are running in --keep_going in the second case, so I think we execute the test even though the build failed.

[2017-05-03 16:17] damienmg commented on #2936
Although this should be a build error then...

[2017-05-03 16:41] AustinSchuh commented on #1836
@philwo I didn't know that existed yet.  That works for me :)  I'll backport it to 0.4.5 for our use, and we can then drop the patch going forwards.

[2017-05-03 16:54] damienmg opened #2937 "Windows MSVC build is failing"
I haven't had time to investigate yet, filing for tracking

See http://ci.bazel.io/job/bazel-tests/BAZEL_VERSION=HEAD,PLATFORM_NAME=windows-msvc-x86_64/738/console

/cc @laszlocsomor @dslomov

[2017-05-03 17:30] damienmg commented on #2936
Same behavior without keep going...

[2017-05-03 18:07] buchgr commented on #2692
@laszlocsomor just informed me that he found 4 very serious bugs in his protobuf patch [1]. We included this patch when updating protobuf in 2b49f678a7dfaf27afc0e44ed7a65b00ec06d413. So we should not include the updated protobuf in the new release.

It looks like the protobuf updated happened before `f3ae88e` but after `1fb094e`.

[1] https://github.com/google/protobuf/pull/2969

[2017-05-03 18:14] erain commented on #2869
I just realized (by [this](https://bazel.build/designs/2016/10/11/distribution-artifact.html)) that `./compile.sh compile <bazel-binary-path>` is no longer supported for dev version of Bazel. I tried `bazel build //src:bazel` and it worked.

I will close this issue, and thanks Damien for helping!

[2017-05-03 18:15] #2869 closed

[2017-05-03 18:20] rahul-malik commented on #2692
@damienmg - Is 0.5 going to include https://github.com/bazelbuild/bazel/issues/1666?

This would be very helpful for distribution of Bazel updates to our team.

[2017-05-03 18:40] damienmg commented on #2692
Yes it will include it, the bug isnt closed yet because we still need to
test the release part of it.

Jakob: we need to rollback all those change then :/

On Wed, May 3, 2017, 8:20 PM Rahul Malik <notifications@github.com> wrote:

[2017-05-03 18:41] buchgr commented on #2692
@damienmg :-( ... let's talk with laszo tomorrow before the release.

[2017-05-03 19:20] juhalindfors commented on #2912
There was a secondary issue in using jar to extract the distribution zip archive which doesn't preserve the executable bit on *.sh files. Unzip works better.

The compile process passes now without errors (against HEAD revision of this morning), however the whole process completes with:

[code]
Not sure if that is the expected result currently, or something that needs attention. It's the result of

[2017-05-03 19:33] damienmg commented on #2912
Is it on macos?

On Wed, May 3, 2017, 9:20 PM Juha Lindfors <notifications@github.com> wrote:

[2017-05-03 19:51] juhalindfors commented on #2912
This is still on Ubuntu Linux, against checkout of 8598824a264 (May 3 10:22:08 2017 +0200)

[2017-05-03 23:43] hayaalsh commented on #1476
Thanks @aehlig, I followed the instruction but and I still get an error.
[code]

[2017-05-04 02:00] cushon commented on #2897
Fixed by 8470be1122825aae8ad0903dd1e1e2a90cce47d2

[2017-05-04 02:00] #2897 closed

[2017-05-04 06:00] laszlocsomor commented on #2892
PR was merged, this bug should now be fixed.

[2017-05-04 06:55] laszlocsomor commented on #2692
The situation isn't so severe. See the commit message for full context: https://github.com/google/protobuf/pull/2969/commits/c4c8806e288915f903f5c2b09a2205b740ffd0d2

[2017-05-04 07:05] laszlocsomor commented on #2564
This was fixed by https://github.com/bazelbuild/bazel/commit/0768f3e444a121c5c8e8e0bd0bb98772fab0e0e2

[2017-05-04 07:05] #2564 closed

[2017-05-04 07:05] damienmg commented on #2892
Ok rerunning the job on CI

On Thu, May 4, 2017, 8:00 AM László Csomor <notifications@github.com> wrote:

[2017-05-04 07:19] abergmeier-dsfishlabs commented on #1836
Good point. @damienmg when can we expect 0.5?

[2017-05-04 07:36] damienmg commented on #1836
Release candidate today if everything goes alright.

On Thu, May 4, 2017, 9:19 AM Andreas Bergmeier <notifications@github.com>
wrote:

[2017-05-04 07:37] damienmg commented on #2892
Still failing

[2017-05-04 07:59] lswith commented on #1911
I'm getting this issue to but its related to https://github.com/bazelbuild/bazel/issues/306. This seems to occur in quite a few cocoapods.

[2017-05-04 08:01] lswith commented on #306
Any update on this? It seems there are a large number of cocoapods which do this type of style. I am in the process of importing these cocoapods and rewriting their BUILD files for our purposes.

[2017-05-04 08:04] ulfjack commented on #1748
I did roll my change forward again with a safeguard to prevent crashes when it sees protos from an old Bazel binary. If you're still seeing incorrect warnings, that's either a regression or a separate issue. Can you describe the symptoms you're seeing?

[2017-05-04 08:29] damienmg opened #2938 "Race condition in src/test/shell/integration/run_test.sh#test_interrupt_kills_child"
[src/test/shell/integration/run_test.sh#test_interrupt_kills_child](https://github.com/bazelbuild/bazel/blob/de48883b5f348f28e4f8153df24ddf5490c47d24/src/test/shell/integration/run_test.sh#L174) flaked [twice](http://ci.bazel.io/job/bazel-tests/738/BAZEL_VERSION=HEAD-jdk7,PLATFORM_NAME=darwin-x86_64/testReport/junit/(root)/(empty)/test_interrupt_kills_child/) [yesterday](http://ci.bazel.io/job/baz

[2017-05-04 08:31] damienmg commented on #2938
Test write to an absolute path /tmp/sleep-minute-pipe. Was open-source by @aehlig but was originally written by @janakdr so assigning to him

[2017-05-04 08:45] abergmeier-dsfishlabs commented on #2692
That might be true.
Be aware that due to increasingly fewer Bazel releases/months people might stay on that release for quite some time.
What I am asking is probably - will there be 0.5.x before 0.6?

[2017-05-04 08:51] damienmg commented on #2692
Yes 0.5.1 will come soon, 0.5.0 cycle was just too slow.

On Thu, May 4, 2017, 10:45 AM Andreas Bergmeier <notifications@github.com>
wrote:

[2017-05-04 09:19] buchgr commented on #2936
On Linux we are also occasionally running tests that don't exist. `InvocationPolicyEnforcerTest` doesn't exist.
![dont exist](https://cloud.githubusercontent.com/assets/1388179/25697382/0c05b834-30bb-11e7-97c4-3937d07dedaf.png)

[2017-05-04 09:22] damienmg commented on #2912
Humm I have a determinism test that was failing, seems like you hit it. So Jarjar seems to not be deterministic. Renaming the bug.

[2017-05-04 09:22] damienmg commented on #2912
(side-note: not an issue for you)

[2017-05-04 09:24] damienmg commented on #2912
https://bazel-review.googlesource.com/c/10452/ is the new test that will replace determinism that cannot run on our ci anymore.

[2017-05-04 09:26] buchgr commented on #2936
`InvocationPolicyEnforcerTest` is also run on OSX. The machine was ` darwin-x86_64-2`
![dont exist mac](https://cloud.githubusercontent.com/assets/1388179/25697733/6993df52-30bc-11e7-8444-341c2a2b8c03.png)

[2017-05-04 09:29] buchgr commented on #2936
Same thing with `AndroidBinaryTest`. The return type of `JavaRuleOutputJarsProvider.getOutputJars()` changed from `Iterable` to `ImmutableList` and thus it can't find the method
![android no exist](https://cloud.githubusercontent.com/assets/1388179/25697863/e594f1b8-30bc-11e7-902a-1e96c529e04c.png)

[2017-05-04 09:30] damienmg commented on #2918
Marcel: can you have a look, probably an error in auto configuration on OS X.

[2017-05-04 09:31] damienmg commented on #2920
/cc @lberki : can you comment on if this is intentional or not, if not recategorized as a bug.

[2017-05-04 09:32] damienmg commented on #2922
I don't know there is anything we can do here but I know TensorFlow had similar issue. /cc @jart @steren

(To be clear: this is for accessing release stored on github).

[2017-05-04 09:35] steren commented on #2922
GitHub should not be the unique source of truth for release binaries. Let's also serve them from our Google Cloud Storage bucket, which we already use with apt.

[2017-05-04 09:35] lberki commented on #2920
/cc @mhlopko

It's because we needed these for Google-internal purposes until we can come up with a more reasonable API, but we didn't want to make them "official" so that people don't start depending on the functionality. So we did not document them and gave them an appropriately scary name.

[2017-05-04 09:35] #2920 closed

[2017-05-04 09:37] damienmg commented on #2922
This was actually already pushed for the next release. GCS isn't served from china unfortunately :(

[2017-05-04 09:40] steren commented on #2922
Let's serve our static files under the bazel.build domain name. I suppose this should unblock the situation.

[2017-05-04 09:40] buchgr opened #2939 "//src/test/shell/bazel:rule_test_test fails on CI (OSX)"
The test `test_local_rule_test_in_root` failed on OSX with

[code]

The error code maps to gRPC's `UNAVAILABLE` code, so this actually looks like the gRPC server crashed.

http://ci.bazel.io/job/Gerrit-bazel-tests/639/BAZEL_VERSION=latest,PLATFORM_NAME=darwin-x86_64/testReport/junit/(root)/(empty)/test_local_rule_test_in_root/

[2017-05-04 09:41] buchgr commented on #2939
cc @damienmg

[2017-05-04 09:41] damienmg commented on #2922
SGTM

[2017-05-04 09:44] damienmg commented on #2922
let's do that for our mirroring too. That will help tensorflow too :)

[2017-05-04 09:45] damienmg commented on #2939
Probably a flake. /cc @lberki because gRPC.

[2017-05-04 09:45] laszlocsomor commented on #2892
I could repro locally, taking a look now.

[2017-05-04 09:50] damienmg commented on #2925
Why do you think that "Making everything executable by default is just wrong"? Seems like a bold statement.

The mode of the original file is a deterministic issue and does not means anything in the case of generated file, you can override it with modes starting next release.

Agree for the last 2 FR that would be nice to have.

[2017-05-04 09:52] damienmg commented on #2927
Pulling in @haxorz who knows everything about why is that IIRC.

[2017-05-04 09:54] buchgr commented on #2936
Also `ConfigSettingsTest`. These error messages were introduced in commit 5d1042629e94e278 two weeks ago, so we must be using a cached jar from even longer ago...
![config fails](https://cloud.githubusercontent.com/assets/1388179/25698722/4547f724-30c0-11e7-8274-d7ee0087075d.png)

[2017-05-04 10:42] damienmg commented on #2928
@katre: can you triage this further?

[2017-05-04 10:46] laszlocsomor opened #2940 "Windows: envvars may reference other envvars"
On Windows you can define System and User environment variables.
User envvars are expanded eagerly.
System envvars are expanded lazily... or not at all:
[code]
(I set both "bar_user" and "bar_system" to "bar1:%foo_system%;%foo_user%;bar2".)

So if `Path` is a system envvar, as it is, and it contains other envvars, it will not be expanded. I don't know if this is intentional in Windows, but even `G

[2017-05-04 10:46] laszlocsomor commented on #2940
@mhlopko , @dslomov

[2017-05-04 10:58] damienmg commented on #2819
@philwo @lberki: can we get update on that bug?

[2017-05-04 11:02] philwo commented on #2819
Do we have a way how to reproduce this issue?

[2017-05-04 11:04] damienmg commented on #2819
It fails systematically on both darwin slaves so I would say use bazel head. `git clone --recursive https://gerrit.googlesource.com/gerrit` and `bazel build //:release` several time

[2017-05-04 11:06] philwo commented on #2819
Alright, thanks! I'll try to reproduce it on my MacBook Pro now.

[2017-05-04 11:08] damienmg commented on #2819
Thanks!

[2017-05-04 11:18] damienmg commented on #2892
:) Not submitted to tensorflow yet :)

[2017-05-04 11:19] damienmg opened #2941 "Invalidation issue: VanillaJavaBuilder keeps stale files."
For JDK7 linux:
http://ci.bazel.io/job/Bazel/JAVA_VERSION=1.7,PLATFORM_NAME=ubuntu_16.04-x86_64/1467/display/redirect?page=changes
and windows:
http://ci.bazel.io/job/Bazel/JAVA_VERSION=1.8,PLATFORM_NAME=windows-x86_64/1467/console

[2017-05-04 11:21] damienmg commented on #2941
The windows failure seems like a permission error, infra flake?

JDK7 failure is relevant to autovalue apparently:
[code]

[2017-05-04 11:23] damienmg commented on #2892
Github you are crazy, should only mark bug as fixed when merged to upstream...

[2017-05-04 11:24] laszlocsomor commented on #2892
I marked it closed... :)

[2017-05-04 11:25] laszlocsomor commented on #2892
Oops, I see what you meant...

[2017-05-04 11:26] damienmg commented on #2892
It is not your fault, Github mark bug as closed as soon as it is in any branch anywhere :(

[2017-05-04 11:44] damienmg commented on #2941
JDK7 is due to bfdad902c89b101fd39a9795ea493ca5e0531052

[2017-05-04 12:56] philwo commented on #2819
Considering that this always refers to stable-status.txt, I've modified Gerrit's `tools/workspace-status.sh` to output a key-value pair with a random generated value, which means the `bazel-out/stable-status.txt` file changes on every build.

Then I've built Gerrit in an infinite loop ("but" is "bazel under test", a fresh Bazel HEAD binary):
`while but build --verbose_failures //:release; do true;

[2017-05-04 13:16] philwo commented on #2819
(And o-m-g how I hate it that we don't print a stack trace here...)

[2017-05-04 13:31] laszlocsomor commented on #2941
@janakdr is taking a look

[2017-05-04 13:48] damienmg commented on #2941
Still keeping it hot because I haven't got time to look at the windows failures.

[2017-05-04 13:54] janakdr commented on #2941
Looks like this is a spurious breakage. Running "bazel clean" before the build makes it go away. I think we're consuming stale jars.

[2017-05-04 13:55] janakdr commented on #2941
This is a moral dup of #2936

[2017-05-04 13:58] dslomov commented on #2941
I am looking at Windows issue

On Thu, May 4, 2017 at 1:20 PM, Damien Martin-Guillerez <
notifications@github.com> wrote:

--
Google Germany GmbH
*Erika-Mann-Straße 33, 80636 München, Germany*

[2017-05-04 13:59] philwo commented on #2819
I still cannot reproduce this, but I manually built the situation that I think is happening: When one of the failing genrules runs, the stable-status.txt or volatile-status.txt does not exist when the sandbox tries to build its filesystem. The reason why it doesn't exist is unknown, but this allowed me to get the stack trace of the error:

[code]

Steps:
- Set breakpoint in `SandboxStrategy#exec`

[2017-05-04 14:04] damienmg commented on #2819
@lberki back for his wits on the workspace status.

The number of correctness issue in Bazel is way to high.

[2017-05-04 14:08] damienmg commented on #2941
Reopening, we should figure out what is wrong both for windows and the correctness issue (figure out if this is an actual dup of #2936 ). I have a consistent repro.

[2017-05-04 14:10] mwoehlke-kitware commented on #2925
Because execute _is_ a permission. If Ye Olde UNIX didn't think that should be an exceptional case, there wouldn't be a permission for it.

Most files *do not* by default have execute permission (typically only the outputs of the C/C++ linker do). Normal text files are *not* supposed to have execute permission, nor is it in any way beneficial for them. (It's also obnoxious as it makes them green i

[2017-05-04 14:10] dslomov commented on #2941
I can repro this locally on any incremental Java build
with bazel-0.4.5-windows-x86_64.exe (that's out bootstrap Bazel, right?)

On Thu, May 4, 2017 at 4:08 PM, Damien Martin-Guillerez <
notifications@github.com> wrote:

--
Google Germany GmbH
*Erika-Mann-Straße 33, 80636 München, Germany*

[2017-05-04 14:10] rahul-malik commented on #2692
Is there a plan to have a release candidate available before officially shipping 5.0 to incorporate feedback / fix issues before the final release?

[2017-05-04 14:11] veyvin commented on #2922
yeap, some files in github was store in aws s3,these files in china can't download , so can I have another way to download bazel.exe

[2017-05-04 14:12] damienmg commented on #2941
We bootstrap with bazel so yes

On Thu, May 4, 2017 at 4:10 PM Dmitry Lomov <notifications@github.com>
wrote:

[2017-05-04 14:12] damienmg commented on #2692
we always do release candidate. We bake them for at least a week.

On Thu, May 4, 2017 at 4:10 PM Rahul Malik <notifications@github.com> wrote:

[2017-05-04 14:15] philwo commented on #2819
I ran through some other possible flows, namely "BazelWorkspaceStatusAction fails to actually create those files", which correctly triggers an action failure due to missing output files and "status files disappear somewhere between SkyframeActionExecutor#completeAction was called on the BazelWorkspaceStatusAction and the genrule running", which shows the behavior seen on CI and the stack trace abo

[2017-05-04 14:15] damienmg commented on #2941
Also the linux bug is probably not a dupe  of #2936 because it happens only with jdk7 bazel

[2017-05-04 14:15] dslomov commented on #2941
--strategy=Javac=standalone fixes this for 0.4.5. Now trying the latest
Bazel

On Thu, May 4, 2017 at 4:12 PM, Damien Martin-Guillerez <
notifications@github.com> wrote:

--
Google Germany GmbH
*Erika-Mann-Straße 33, 80636 München, Germany*

[2017-05-04 14:16] damienmg commented on #2819
So that's a bad error message basically because the workspace status command fails?

[2017-05-04 14:20] philwo commented on #2819
No, the workspace status command seems to correctly generate the two files, bazel-out/stable-status.txt and bazel-out/volatile-status.txt. If it wouldn't for some reason, Skyframe would abort the build due to missing output artifacts with a very different error message.

What's also interesting is that not the genrules themselves are failing (e.g. because some sub-command returns an error exit cod

[2017-05-04 14:23] janakdr commented on #2941
Simplest repro I have so far:

[code]

[2017-05-04 14:26] damienmg commented on #2941
Ok that sounds similar to the other bug so far.

On Thu, May 4, 2017 at 4:23 PM Janak Ramakrishnan <notifications@github.com>
wrote:

[2017-05-04 14:38] janakdr commented on #2941
Looks like bazel-out/local-fastbuild/bin/src/main/java/com/google/devtools/build/skyframe/_javac/skyframe/libskyframe_classes has the stale SkyKey.class file.

[2017-05-04 14:43] janakdr commented on #2941
Is this just as silly as, javac generates .class files into the specified --classdir, and then blindly bundles everything in --classdir into a jar? So if there are any extra files in --classdir, it'll read them too?

[2017-05-04 14:46] janakdr commented on #2941
Yup:

[code]

[2017-05-04 14:51] janakdr commented on #2941
My guess is that https://github.com/bazelbuild/bazel/blob/master/src/java_tools/buildjar/java/com/google/devtools/build/buildjar/VanillaJavaBuilder.java#L257 should not just create the directory, it should delete any existing directory.

[2017-05-04 14:53] philwo commented on #2819
I traced all I/O syscalls during a build using Xcode Instruments and that also doesn't show anything suspicious like a possible race condition where the *-status.txt files are deleted during a build.

I'm out of ideas...

[2017-05-04 14:56] cushon commented on #2941
Is the action not sandboxed?

[2017-05-04 14:59] damienmg commented on #2941
It should be but it is also using workers no?

On Thu, May 4, 2017 at 4:56 PM Liam Miller-Cushon <notifications@github.com>
wrote:

[2017-05-04 14:59] janakdr commented on #2941
Not using workers: `WARNING: Worker strategy cannot execute this Javac action, because the action's execution info does not contain 'supports-workers=1'.`

[2017-05-04 15:00] damienmg commented on #2941
The ijar for libskyframe is the same even though a  SkyKey change in
between the two changes.

On Thu, May 4, 2017 at 4:58 PM Damien Martin-Guillerez <dmarting@google.com>
wrote:

[2017-05-04 15:00] kchodorow commented on #2819
It looks like the sandbox is trying to symlink the wrong path (from the link):

[code]
This should be `ecb628661259d45b1bcf8030dc6f079b/execroot/gerrit/bazel-out/darwin-...`.  Are your repro's paths like this?

I'm guessing this is a side effect of some of the execroot stuff I've been doing (although I thought all the changes that would have effected this were rolled back...)

[2017-05-04 15:01] dslomov commented on #2941
Ok this does not reproduce on latest Bazel

On Thu, May 4, 2017 at 4:15 PM, Dmitry Lomov <dslomov@google.com> wrote:

--
Google Germany GmbH
*Erika-Mann-Straße 33, 80636 München, Germany*

[2017-05-04 15:01] janakdr commented on #2941
@damienmg I think the _classes directory is the root of the issue.

[2017-05-04 15:04] janakdr commented on #2941
I don't see any warning about not sandboxing the action, even when I run explicitly with --spawn_strategy=sandboxed. The bug is still there with --spawn_strategy=standalone, of course.

[2017-05-04 15:07] cushon commented on #2941
Got it. I'm on it, the fix is going to look a lot like https://github.com/bazelbuild/bazel/blob/9547eeb45854fc194aad20495d202c11f8e96b84/src/java_tools/buildjar/java/com/google/devtools/build/buildjar/SimpleJavaLibraryBuilder.java#L116.

[2017-05-04 15:07] damienmg commented on #2941
@dslomov \o/

@janakdr ok but that won't explain why the ijar hasn't changed.

[2017-05-04 15:09] janakdr commented on #2941
@damienmg I think the ijar is blindly reading from the _classes directory.

On Thu, May 4, 2017 at 11:07 AM, Damien Martin-Guillerez <
notifications@github.com> wrote:

[2017-05-04 15:10] damienmg commented on #2941
The ijar reads the jar but the SkyKey.class should be different, no?

On Thu, May 4, 2017 at 5:09 PM Janak Ramakrishnan <notifications@github.com>
wrote:

[2017-05-04 15:14] philwo commented on #2819
@kchodorow Wow, well spotted! I'll have a look at the sandboxing code right now to see where that could come from.

[2017-05-04 15:17] janakdr commented on #2941
No: the SkyKey class was moved to the skyframe-objects target, so the
SkyKey.class file left behind here is stale.

On Thu, May 4, 2017 at 11:10 AM, Damien Martin-Guillerez <
notifications@github.com> wrote:

[2017-05-04 15:24] jart commented on #2922
I remember talking to the Go team and they said that they went through a lot of trouble to get the Go release files to download in China. It might be worth syncing up with them to ask what they did.

[2017-05-04 15:27] janakdr commented on #2941
@dslomov are you sure that this works at HEAD with JDK7? There appears to be a discrepancy between VanillaJavaBuilder and BazelJavaBuilder, and I don't think it's gone at HEAD.

[2017-05-04 15:31] philwo commented on #2819
It's too late today to figure this out here, I'll have another look at it tomorrow.
Kristina, if you have any idea, feel free to dig further.

[2017-05-04 15:35] damienmg commented on #2941
Oh ok,

@dslomov was speaking about the windows breakage.

On Thu, May 4, 2017 at 5:27 PM Janak Ramakrishnan <notifications@github.com>
wrote:

[2017-05-04 15:35] damienmg commented on #2941
@cushon IIUC you are working on a fix so assigning to you

[2017-05-04 15:37] cushon commented on #2941
Yep, internal review cl/155081626.

[2017-05-04 15:38] kchodorow commented on #2819
I'll take a look.

[2017-05-04 15:54] ulfjack commented on #2936
The other issue here is that the symlinks are incorrect, which is _really_ confusing. Here's the symlinks from our Mac CI machine:

[code]

bazel-bin, bazel-genfiles, and bazel-testlogs use the directory name, while bazel-out and bazel-darwin-x86_64 use the project name.

[2017-05-04 16:03] damienmg opened #2942 "Worker strategy fall back to standalone strategy"
Which leads to not use the sandbox :/

[2017-05-04 16:04] damienmg commented on #2942
/cc @ulfjack

[2017-05-04 16:08] ulfjack commented on #2936
The VanillaJavaBuilder issue explains all the bugs above except the AndroidBinaryTest failure.

[2017-05-04 16:10] buchgr commented on #2936
The CI link to the bugs I experienced is: http://ci.bazel.io/job/Gerrit-bazel-tests/639/BAZEL_VERSION=latest-jdk7,PLATFORM_NAME=darwin-x86_64/testReport/

[2017-05-04 16:30] damienmg commented on #2939
This is irreproducible because we don't have access to the jvm.log file. We should probably output it if we are running under test.

Assigning to Lukacs to evaluate.

[2017-05-04 17:08] cushon commented on #2926
That isn't the only place that assumes Java source files are UTF-8:

* https://github.com/bazelbuild/bazel/blob/a5ba0d3711e84ef47525d6b7fe1ca9871853c1a6/src/java_tools/buildjar/java/com/google/devtools/build/buildjar/VanillaJavaBuilder.java#L158
* https://github.com/bazelbuild/bazel/blob/d7b774bbef316a29c457771bd4309adc1a4bbdbd/src/java_tools/buildjar/java/com/google/devtools/build/java/turbine/ja

[2017-05-04 18:24] kchodorow commented on #2819
Actually, wait, I hadn't realized that darwin-x86_64 was the directory name... so the execroot is right.  Still looking, but fewer ideas.

[2017-05-04 18:45] ben-ward-hp commented on #2685
Any progress on this regression?

[2017-05-04 19:32] philwo commented on #2819
I'll just summarize what we found out so far:

About these files:
- Bazel always creates the `bazel-out/stable-status.txt` and `bazel-out/volatile-status.txt` files, even for empty builds (just running `bazel build` with no targets).
- If the --workspace_status_command would fail for some reason, Bazel would print `ERROR: Process exited with status 1: Process exited with status 1` and the build wo

[2017-05-04 20:50] damienmg opened #2943 "Embedding the JDK seems to trigger test failure on Intellij plugin"
The only explanation for this failure: http://ci.bazel.io/job/intellij-clion/185/ is the upstream package of the JDK in bazel.

As mail discussion with @brendandouglas, some possibilities:
- tests are not running in headless mode any more (-Djava.awt.headless=true)
- system setup has changed, and is now missing some system fonts (e.g. something like this)
…

We probably needs to do some tweaking t

[2017-05-04 20:57] bkase commented on #306
@lswith we are also doing this at Pinterest literally right now (porting our 40ish cocopods over). We ended up making a workspace rule called `new_pod_repository` ( https://bazel.build/versions/master/docs/be/workspace.html ). Example:

[code]

During workspace loading we pull down the repo and then automatically convert the Podspec into a BUILD file using a Swift program. Then we can just refer t

[2017-05-04 21:07] #2709 closed

[2017-05-04 21:07] #2941 closed

[2017-05-04 22:43] lswith commented on #306
This is exactly what I need!!!! I would love if you open source this! It
would be a lot of help. I'm happy to help contribute as well
On Fri, 5 May 2017 at 6:58 am, Brandon Kase <notifications@github.com>
wrote:

[2017-05-04 23:32] jwnimmer-tri commented on #1748
Actually, it's working fine.  My sincere apologies for the complaint!

(I somehow didn't notice in github that this issue was (re-)closed, and took a user report of a warning message at face value.  The user was still using an older version of Bazel.)

[2017-05-05 01:12] gruszczy opened #2944 "Archive dependencies not used in the cc_test, but used in cc_binary"
### Description of the problem / feature request / question:

WORKSPACE:

[code]

llvm.BUILD:

[code]

Usage:
[code]
cc_binary works no matter what. For cc_test, if I remove the linkopts, it will stop working, complaining during execution of the test about:

[code]

It doesn't complain about this in the compiler binary, even though it depends on ":jit" target.

### If possible, provide a minimal e

[2017-05-05 03:14] pcj commented on #2918
We're seeing a possibly related issue with the newer command line tools as well...

https://github.com/pubref/rules_node/issues/16

Perhaps like the behavior of osx sandbox has had some change?

[2017-05-05 05:04] chris-chris commented on #1118
Does bazel supports code coverage for python/c++ unit tests?

I'm trying to run `bazel coverage //tensorflow/tensorboard/backend:application_test`
on tensorflow project(https://github.com/tensorflow/tensorflow).

[code]

[2017-05-05 06:36] lberki commented on #1118
On 5 May 2017 at 07:04, Chris Hoyean Song <notifications@github.com> wrote:

Python, definitely not. C++, some people got it working, but it's
best-effort at the moment.

--
Lukács T. Berki | Software Engineer | lberki@google.com |

Google Germany GmbH | Erika-Mann-Str. 33  | 80636 München | Germany |
Geschäftsführer: Matthew
Scott Sucherman, Paul Terence Manicle | Registergericht und -nummer:
Ham

[2017-05-05 06:41] udnaan opened #2945 "Porting bazel to run on an embedded system where JDK is not available."
Just a general query to figure out whether it's even a reasonable question to ask or a hopeless quest with no chance of success.

[2017-05-05 07:15] lberki commented on #2939
Without a `jvm.log` there isn't a lot I can do.

[2017-05-05 07:21] damienmg commented on #2939
I was actually asking for idea on what we could do to get the lot if that
happens again. Can we print it in certain case instead of just printing the
file path?

On Fri, May 5, 2017, 9:15 AM lberki <notifications@github.com> wrote:

[2017-05-05 08:08] chris-chris commented on #1118
@lberki
Thank you! Finally, I got the right reason why I can't run coverage. :)

[2017-05-05 08:52] damienmg commented on #2939
As discussed offline, in our test framework we should cat the jvm.log if we get that error.

[2017-05-05 09:24] damienmg commented on #2922
FTR I added the GCE config so we are serving it but we are waiting on dns update.

[2017-05-05 09:25] damienmg commented on #2945
Can you provide example of such system?

[2017-05-05 09:27] mhlopko commented on #2692
Creating RC3, for the info:
base: f3ae88ee043846e7acdffd645137075a4e72c573
cherrypicks:
c58ba098526b748f9c73e6229cafd74748205aa1
0acead4ea3631240659836ce6ecd6d7f67fd352b
59b099b2a7868a0516c54f38f59e89fef8704473
8725fe432897960993431904167f145ef4e30128
d0242ce4a87929f2528f4602d0fb09d1ccfcea94

[2017-05-05 09:27] damienmg commented on #2944
C++ so marcel to look at it.

[2017-05-05 09:31] damienmg opened #2946 "Bazel hangs indefinitely when OOMing"
The machine it was running was running out of memory and the result from the test log was just stalling

[code]

We should at least notice something is wrong.

[2017-05-05 09:33] damienmg commented on #2946
Forgot to add that we observed that here: http://ci.bazel.io/job/bazel-tests/BAZEL_VERSION=HEAD-jdk7,PLATFORM_NAME=linux-x86_64/744/console

We went with @aehlig on the slave to find out there was 40G used by the jenkins agent (so also filed https://github.com/bazelbuild/continuous-integration/issues/68)

[2017-05-05 09:46] petemounce commented on #2692
@mhlopko I had a look for https://storage.googleapis.com/bazel/0.5.0/rc3/index.html to publish a chocolatey package for the RC, but I get a `NoSuchKey` from it. Is that still the correct URL? I also didn't see a note in bazel-dev...?

[2017-05-05 09:47] damienmg commented on #2692
It is not published yet. The CI system has to build the artifact and
publish them. A mail is send to the mailing list right after it is done.

On Fri, May 5, 2017 at 11:46 AM Peter Mounce <notifications@github.com>
wrote:

[2017-05-05 09:48] mhlopko commented on #2692
Wow @petemounce you''re quick! I just created it minutes ago, it should show up soon.

[2017-05-05 09:50] damienmg opened #2947 "2 c++ test flakes on darwin"
Not the first time I saw them, the tests:

 * src/test/cpp/blaze_util_test
 * src/tools/singlejar/output_jar_simple_test

http://ci.bazel.io/job/bazel-tests/BAZEL_VERSION=latest,PLATFORM_NAME=darwin-x86_64/744/

The output:
[code]

[2017-05-05 09:52] damienmg opened #2948 "perf.bazel.build.tar.nobuild get added to the list of artifact for the release"
See https://storage.googleapis.com/bazel/0.5/rc2/index.html

I though it was fixed but visibly not.

/cc @mhlopko

[2017-05-05 09:53] damienmg commented on #1666
As per @philwo  report this is now working, we still need to figure out #2943 but this one is good to close. Thanks @philwo for making that possible!

[2017-05-05 09:53] #1666 closed

[2017-05-05 09:55] petemounce commented on #2692
If you point me at the release automation, perhaps I can build the chocolatey package publishing into it?

[2017-05-05 10:44] damienmg commented on #2692
Hi peter, this is a bit tricky. How are you building the chocolatey package?

[2017-05-05 10:54] damienmg opened #2949 "distribution artifact from 0.5.0rc3 is bogus on darwin"
on my brand new mail was trying to reproduce an issue reported a month ago, but got another one:

[code]

/cc @mhlopko

[2017-05-05 10:55] petemounce commented on #2692
Via `scripts/packages/chocolatey/build|test.ps1`. `choco` itself apparently runs on linux, but no binaries for that are distributed [according to a stackoverflow answer](https://stackoverflow.com/questions/39386471/can-i-build-chocolatey-packages-on-linux).

I'd be fine to rewrite the build/test/release scripts into golang, actually, if that makes this easier - I'd use them internally too.

[2017-05-05 10:57] damienmg commented on #2949
Just a problem that the fail command is not yet defined when we detect the java version.

[2017-05-05 11:01] damienmg commented on #2692
We can run steps on windows that's not an issue. I'll try to add it as part of the revamp of our ci.

[2017-05-05 11:14] damienmg commented on #2948
Good news, fix is on ci so no cherry-pick needed.

[2017-05-05 11:18] damienmg commented on #2947
This sounds like a sandbox issue, the test doesn't get access to the dependent libraries.

[2017-05-05 11:19] damienmg commented on #2947
Falling back to Philipp who might have some idea on what could cause the mac sandbox to not see some test. (note this is on 0.4.5)

[2017-05-05 11:24] #2948 closed

[2017-05-05 11:27] damienmg commented on #2936
This is fixed and cherry-picked in the release candidate

[2017-05-05 11:27] #2936 closed

[2017-05-05 11:29] damienmg commented on #2922
DNS change is in, now we need to wait for DNS to propagate.

[2017-05-05 11:38] philwo commented on #2947
Can't reproduce on my machine even with ~100 runs of the two tests and "bazel clean" in between each run. :|

[2017-05-05 11:51] damienmg commented on #2947
:/ let's punt on this one and keep it open until we gather more data.

[2017-05-05 11:52] iirina opened #2950 "Open source internal version of BlazeJavacMainTest"
After https://bazel-review.git.corp.google.com/c/10751/ is submitted there will be 2 versions of this test (internal + external), which is not desirable. Open sourcing the internal version also improves contributions test coverage.

[2017-05-05 12:04] abergmeier-dsfishlabs opened #2951 "Ran out of Inodes"
### Description of the problem / feature request / question:

Since we have a lot of small files in Bazel we today ran out of Inodes on a machine (1TB partition). With Bazel forcing to write files to disks IMO this is bound to happen on big projects.
Maybe discuss here what we can do against that.

### Environment info
* Operating System: Ubuntu 16.04
* Bazel version (output of `bazel info release

[2017-05-05 12:05] damienmg commented on #2947
More data: re happened in the next run, exact same configuration. I  suspect an invalidation issue.
http://ci.bazel.io/job/bazel-tests/745/BAZEL_VERSION=latest,PLATFORM_NAME=darwin-x86_64/console

[2017-05-05 12:08] abergmeier-dsfishlabs commented on #2951
One measure could be to use `--experimental_sandbox_base=/run/shm` from 0.5 onwards to reduce inodes used by tests!? CC @philwo

[2017-05-05 12:52] lberki commented on #2819
Whatever the reason for this bug is, it must be specific to Darwin because we don't see this failure on any other platform.

[2017-05-05 12:55] lberki commented on #2819
We could try disabling the sandbox Just In Case. That would either pin the blame on the sandbox or exonerate it.

[2017-05-05 13:21] damienmg commented on #2819
sgtm let me try that.

On Fri, May 5, 2017 at 2:55 PM lberki <notifications@github.com> wrote:

[2017-05-05 13:39] damienmg opened #2953 "homebrew build does not work for 0.5rc3"
Output:

[code]

git diff:
[code]

[2017-05-05 13:40] damienmg commented on #2953
(note that bootstrapping outside of homebrew works no problem)

[2017-05-05 13:48] #509 closed

[2017-05-05 13:48] #2949 closed

[2017-05-05 13:48] damienmg commented on #2819
It fails without sandbox too.

[2017-05-05 13:49] damienmg commented on #2953
Confirmed on my other laptop. Same error.

[2017-05-05 13:55] damienmg commented on #2819
Cannot repro on my machine i'll CRD into the slave.

[2017-05-05 14:01] damienmg commented on #2819
The error still happens after a clean...

[2017-05-05 14:05] damienmg commented on #2819
clean expunge made the problem goes away.

[2017-05-05 14:09] damienmg commented on #2819
So this bug goes on standby until the issue is reproduced.

Action for next time: tar up the output base for analysis

[2017-05-05 14:10] damienmg commented on #2943
Cannot reproduce locally :/

[2017-05-05 15:01] philwo commented on #2953
Seems like a bug in Homebrew's clang wrapper...

[2017-05-05 15:01] rtsai commented on #2548
Another data point is that the cfg="host" build seems to be picking up the target crosstool_top.

As an experiment (Ubuntu-16.04.2 LTS Linux, bazel-0.4.5, protobuf-v3.0.2):

1. Ran bazel build --crosstool_top=@bazel_tools//tools/cpp:toolchain //foo_proto (a cc_proto_library target that depends on a cfg="host" protoc). Everything works.

1. Copied @local_config_cc/{BUILD,CROSSTOOL} to a new //mytoo

[2017-05-05 15:03] philwo commented on #2953
The failing line seems to be this:
`@keg_regex = %r[(#{Regexp.escape(opt)}|#{Regexp.escape(cellar)})/([\w+-.@]+)]`

I guess either `opt` or `cellar` are `nil`, when they should be a String. `opt` is defined as `@opt = ENV["HOMEBREW_OPT"]` and `cellar` as `@cellar = ENV["HOMEBREW_CELLAR"]`.

Does that help somehow?

[2017-05-05 15:17] rtsai opened #2954 "support for pure C programs?"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:

We would like to have better support for building pure C programs (not C++). Specifically, we are cross-compiling to a target platform where the boot-time file system does not have libstdc++, but the cc_bin

[2017-05-05 15:24] damienmg commented on #2953
Yes that means that we strip out HOMEBREW_OPT or HOMEBREW_CELLAR. This was my first idea too that we stopped shipping some environment variable. I would suspect a change by Nicolas on cc_configure.bzl, let me confirm that.

[2017-05-05 15:35] jbduncan commented on #2756
@petemounce Certainly!

A gist containing a command and installation log can be found at https://gist.github.com/jbduncan/6d14a54d79264454c562f9336bb260d6.

I did my best to remove chocolatey, bazel _and_ msys2 beforehand, so this should be pretty close to a log from an absolutely fresh install.

Let me know if you need anything else!

[2017-05-05 15:53] ilya-biryukov opened #2955 "Consider allowing '.def' files in cc_library's 'srcs'"
### Description of the feature request:

Since `.inc` and `.h` files are allowed in `cc_library`'s `srcs`, could bazel allow `.def` files to be there as well?
 Note they are already allowed in `hdrs`.

I stumbled upon this limitation while trying to fix BUILD file for llvm inside tensorflow repository. I tried adding `.def` file into cc_library's `srcs` and it failed with an error. I managed to wo

[2017-05-05 16:01] damienmg opened #2956 "buildifier and rules_dotnet are broken"
Due to upstream rules_go not including PR https://github.com/bazelbuild/rules_go/pull/428 in the release. Filing this bug for hand off mostly, the fix is no longer on our side.

/cc @c-parsons fyi

[2017-05-05 16:01] damienmg commented on #2892
So off line discussion with @laszlocsomor: he found the issue, and will fix it on monday. Downgrading to P2 since it is not on bazel side.

[2017-05-05 16:29] lababidi commented on #1920
@mhlopko
Thank you for sharing the doc!
What are the next steps?

[2017-05-05 16:37] #2912 closed

[2017-05-05 16:37] #2939 closed

[2017-05-05 16:37] #2915 closed

[2017-05-05 17:25] rahul-malik commented on #306
@lswith We have plans to open-source in the near future but would like to finish our migration to stress test out the integration against the complexity of podspecs (subspecs, multiplatform attributes, external pod dependencies, etc) so we're confident it'll work well for others and have comprehensive documentation.

We can also keep you in the loop before the OSS announcement if you'd like to bet

[2017-05-05 18:07] udnaan commented on #2945
aarch64 (arm64) with sfp

[2017-05-05 21:34] janakdr commented on #2941
Should we make an announcement about this? People should know that they have to run clean before any JDK7 build if they want guaranteed correctness, no? In the case of the commit that triggered this issue, I changed a class to an interface, so the bug resulted in a compile-time error, but I could easily see it not being caught in other cases, and leading to incorrect runtime behavior.

[2017-05-05 22:31] yuekui2 opened #2957 "pkg_tar failed to detect the file content change of the undelying folders"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:
pkg_tar failed to detect the file content change of the undelying folders

_If asking a question or requesting a feature, also tell us about the underlying problem you're trying to solve._

### If possible,

[2017-05-06 06:35] gorset commented on #2669
I'm struggling with this issue to. Testing with 0.5rc3, I find that block-network works flawlessly on linux, but on macos I get:

[code]

I tried falling back to exclusive using something like:
[code]

but this is unfortunately not supported:
[code]

Are there any other workarounds here (other than rewriting the tests)? An alternative approach that would have worked well for us is to have a versio

[2017-05-06 07:29] philwo opened #2958 "Bazel installer should not overwrite ~/.bazelrc"
The Bazel installer currently moves ~/.bazelrc to ~/.bazelrc.bak and creates an empty file instead, which is rather annoying. We should change the installer to not touch the file.

[2017-05-06 09:29] ittaiz commented on #2958
You mean that having a ~/.bazelrc is no longer mandatory so the installer
shouldn't try to create one?
On Sat, 6 May 2017 at 10:29 Philipp Wollermann <notifications@github.com>
wrote:

[2017-05-06 20:37] philwo commented on #2958
@ittaiz I don't think a ~/.bazelrc was ever mandatory, Bazel should work just fine without any configuration files like /etc/bazelrc or ~/.bazelrc. :)

The installer currently always wants to create an empty ~/.bazelrc file. If the user has already created one (and possibly put some config flags there), it will be moved to ~/.bazelrc.bak, which is annoying, because you basically have to immediatel

[2017-05-06 21:04] softprops commented on #2958
On May 6, 2017 4:37 PM, "Philipp Wollermann" <notifications@github.com>
wrote:

@ittaiz <https://github.com/ittaiz> I don't think a ~/.bazelrc was ever
mandatory, Bazel should work just fine without any configuration files like
/etc/bazelrc or ~/.bazelrc. :)

The installer currently always wants to create an empty ~/.bazelrc file. If
the user has already created one (and possibly put some config f

[2017-05-06 21:47] lazutkin opened #2960 "Unable to download ubuntu-rootfs as new_http_archive"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:

Trying to download ubuntu rootfs ends up with an error:

[code]

My config is:

`WORKSPACE`
[code]

`docker/ubuntu.BUILD`
[code]

### Environment info
* Operating System:
16.5.0 Darwin Kernel Version 16.5.0

[2017-05-06 22:50] lazdmx opened #2961 "Error in (src/main/tools/linux-sandbox-pid1.cc:257: No such file or directory) when executing docker_build"
A `docker_build` rule cannot be completed if executed in AWS CodeBuild
[code]

[2017-05-07 01:29] Sydius commented on #258
So is there a way to generate a [LibTooling-compatible compilation database](https://clang.llvm.org/docs/JSONCompilationDatabase.html) for use with Clang's analyzers and with [Vim's YouCompleteMe plugin for C++](https://github.com/Valloric/YouCompleteMe)? I couldn't find a way to do it, preventing me from switching away from CMake (which does generate one). Clang-Tidy etc. also require the same co

[2017-05-07 03:05] ittaiz commented on #2958
Ok. I just don't understand what you meant by "that mechanism is no longer
needed" but I guess it's not that important.
On Sun, 7 May 2017 at 0:04 doug tangren <notifications@github.com> wrote:

[2017-05-07 05:07] ittaiz opened #2962 "Clarify required Bazel "dump" for correctness issues"
### Description of the problem / feature request / question:
I just tried to build copybara on my machine and stumbled on to a correctness issue.
I realized I don't know what I should have done before running "bazel clean --expunge" so I went to the website and searched for the instructions for next time but couldn't find any.

### If possible, provide a minimal example to reproduce the problem:
g

[2017-05-07 07:15] philwo commented on #2958
@ittaiz No problem and sorry for the misunderstanding. With "that mechanism", I just meant "the part of the installer that deals with the ~/.bazelrc", but re-reading my issue description I can see now how that might be confusing. I removed the part of the sentence. :)

[2017-05-07 13:33] lazutkin commented on #2961
Option `--spawn_strategy=standalone` helps with problem

[2017-05-07 21:54] RenatoUtsch opened #2963 "Locale not set for python programs in bazel test"
`bazel test` doesn't set the locale for python tests. Because of that, trying to run the following program fails with errors:

main.py:
[code]

Python 2 error:
[code]

Python 3 error:
[code]

This is making it impossible to test my python programs, because I can't test functions that try to print anything that is non-ascii.

bazel needs to set `LANG` to either something like `en_US.UTF-8` or to at

[2017-05-07 22:53] RenatoUtsch commented on #2963
Ok, looks like I might have confused locale with encoding.

My encoding when running python3 with `bazel run` is `UTF-8`, as expected. However, with `bazel test`, the locale is set to `US-ASCII`.

[2017-05-08 00:21] lswith commented on #306
perfect. Please do!

[2017-05-08 04:52] lswith commented on #306
@bkase do you think you could give an example BUILD file for the FBSDKCoreKit cocoapod? I don't quite understand how the header files should be placed to allow for correct compilation by Bazel.

[2017-05-08 06:05] mmorearty opened #2964 "remote/performance: If remote cache is inaccessible, fall back to building without the cache, rather than failing the build"
### Description of the problem / feature request / question:

Feature request:

I was able to get caching to work with `--spawn_strategy=remote --rest_cache_url=...`. It works well; but if the cache is inaccessible for any reason (e.g. I have gone offline and am working while commuting, or the server has gone down), then my builds fail.

Of course, I can change the options I'm using to launch Baze

[2017-05-08 07:37] abergmeier-dsfishlabs commented on #2951
So the servers we switched to `XFS` (online increase of inodes). New desktops probably will be installed with `BTRFS` (no inode limit to begin with). Perhaps it would be good to point output_root to a `Ext`* partition?

[2017-05-08 08:04] abergmeier-dsfishlabs opened #2965 "py_test passing file with paths"
### Description of the problem / feature request / question:

I have a `py_test`, to which I pass in a generated file `testfiles.txt` (containing a huge amount of files to load).

I generate the `testfiles.txt` like:

    # in a macro
    ref_locations = ["$(location %s)" % ref for ref in testfiles]

    native.genrule( # Don't judge
        name = "testfiles.txt",
        outs = [param_file],

[2017-05-08 08:10] damienmg commented on #2957
`cc.txt` is not an input of the rule, why do you expect it to influence pkg_tar

[2017-05-08 08:38] damienmg commented on #2922
FYI it is now live, https://releases.bazel.build/0.5/rc3/ will show you the rc for 0.5. Starting 0.5 we will also put the final release on that site. There is still some work that can be done to make it easier to navigate but that's pretty low priority. I'll keep that bug open until I test that from china when I will be there.

@jart: also the mirror is now served from https://mirror.bazel.build

[2017-05-08 08:39] abergmeier-dsfishlabs commented on #2965
So the workaround we use now is to use the regex `(.*/execroot/.*)/bazel-out/.*` to find the root and then prefix that to the files.

[2017-05-08 08:47] damienmg opened #2966 "Failure on protobuf compilation on Windows on one slave (ci)"
http://ci.bazel.io/job/bazel-tests/747/BAZEL_VERSION=HEAD,PLATFORM_NAME=windows-x86_64/console

The slave have been turned off for @laszlocsomor to investigate. It is failing consistently on that slave.

Filed the bug for tracking.

[2017-05-08 08:49] damienmg opened #2967 "Bootstrap fails on CentOS (see docker-tests)"
http://ci.bazel.io/job/bazel-docker-tests/BAZEL_VERSION=latest,PLATFORM_NAME=docker/557/console

I have a pending change at https://bazel-review.googlesource.com/c/10876/

[2017-05-08 08:51] damienmg commented on #2943
Ok this is such a corner case that I don't even think we should care, I'll just go back to use the non-JDK version for our tests.

[2017-05-08 08:53] damienmg commented on #2937
This is fixed at HEAD and will disappear with 0.5

[2017-05-08 08:53] #2937 closed

[2017-05-08 08:56] philwo commented on #2951
Sorry, I don't really understand - what do you mean with "forcing to write files to disks"?

Generally speaking:
I can totally understand that this must be annoying when you hit the issue with your project. :( Yeah, Bazel creates a lot of symlinks that each take an inode for its sandboxing. But OTOH, on my desktop, which I think is a pretty standard Ubuntu setup, the 200GB big ext4 partition where

[2017-05-08 08:56] damienmg commented on #2947
After investigation this is a dupe of #2819

[2017-05-08 08:56] #2947 closed

[2017-05-08 09:05] damienmg commented on #2819
So the results of my investigation shown that clean expunge clear it and the problem is the workspace go into a weird state where it output part of the file under "darwin_x86-64" and other part under  "io_bazel". I  suspect it to be the fallout of #2936.

Assigning to Kristina for her expertise regarding the execroot.

I uploaded the output base of 2 failures at:

* https://mirror.bazel.build/ci.b

[2017-05-08 09:14] abergmeier-dsfishlabs commented on #2951
I mean there is no way of passing information along the graph (using Skylark) aside from files.

Well we had worse. Actually we were really lucky that it happened on Friday so we could build the whole weekend to get to incremental builds on Monday, again.

I am not entirely sure how we got there either. Almost all inodes are in Bazel, though.
The commit that triggered the problem, did add 400k (sa

[2017-05-08 09:30] lberki commented on #2819
The convenience symlinks exist only in the workspace (where you run Bazel from). So I can't think of a way for changes to convenience symlinks to cause this.

[2017-05-08 09:33] damienmg commented on #2819
Right indeed, but the confusion might exists somewhere else, no?

[2017-05-08 10:39] Helcaraxan commented on #2692
@damienmg what is happening to the RC3 image? From what I can see the page given above by @petemounce (https://storage.googleapis.com/bazel/0.5.0/rc3/index.html) still returns:
[code]

[2017-05-08 10:53] damienmg commented on #2692
https://storage.googleapis.com/bazel/0.5/rc3/index.html the release number
was set to 0.5 not 0.5.0, we will correct it for the next release candidate.

On Mon, May 8, 2017 at 12:39 PM Duco van Amstel <notifications@github.com>
wrote:

[2017-05-08 11:48] damienmg commented on #2943
https://bazel-review.googlesource.com/c/10911 <-- fix works, waiting for LGTM

[2017-05-08 12:06] steren opened #2968 "Document the Build Event Protocol API"
Add documentation related to the Build Event Protocol API (see [protos](https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/buildeventstream/proto/build_event_stream.proto))

Ulf has a change in flight: https://bazel-review.googlesource.com/#/c/3967/

[2017-05-08 12:22] damienmg commented on #2953
Ok this is due to a weird bug:

cc_configure doesn't see the whole environment, just the subset from the environ variable.

[2017-05-08 12:34] damienmg opened #2969 "JDK7 canary binary are named -without-jdk"
We should not append -without-jdk for the JDK7 variant.

[2017-05-08 12:49] damienmg commented on #2953
I could not repro on Linux with:
[code]

So either this is a darwin bug, something specific to homebrew env or in cc_configure.

[2017-05-08 12:53] damienmg commented on #2953
Ok cannot repro with that example in the homebrew env, so cc_configure looks like more and more like a suspect.

[2017-05-08 12:55] damienmg commented on #2953
Of course, the issue is that we do not pass all environment variable during bootstrap, we should fix that.

[2017-05-08 13:43] softprops commented on #2964
This is going to be important for my organization. We are rolling out a replacement of sbt in favor of a cached bazel build. We do not want our cache server's downtime to block development.

[2017-05-08 13:51] #2958 closed

[2017-05-08 13:53] kchodorow commented on #2956
It looks like rules_dotnet are passing (e.g., http://ci.bazel.io/job/rules_dotnet/652/) and I can't figure out why they'd be depending on the rules_go release.

Sent https://github.com/bazelbuild/buildtools/pull/95 to update buildifier.

[2017-05-08 13:56] damienmg commented on #2956
Oops sorry I should have written rules_web

On Mon, May 8, 2017 at 3:53 PM Kristina <notifications@github.com> wrote:

[2017-05-08 14:05] kchodorow commented on #2956
Ah, got it.  Sent https://github.com/bazelbuild/rules_webtesting/pull/115.

[2017-05-08 14:18] kchodorow opened #2970 ""Compile Bazel from source" page is out-of-date"
https://bazel.build/versions/master/docs/install-compile-source.html talks about running ./compile.sh.  This incorrect and should be updated or removed (if we have more up-to-date instructions elsewhere).

@brian-peloton noticed this on https://groups.google.com/d/msgid/bazel-discuss/CAP01z6KofAv_pi7bWgn3JONT87b-vE6c751LuGV0ezOYidbPiQ%40mail.gmail.com.

[2017-05-08 14:24] philwo opened #2971 ""tags" attribute should be usable with "select""
Reported by @gorset in https://github.com/bazelbuild/bazel/issues/2669#issuecomment-299619719:

Do we want the "tags" attribute to be configurable via "select"? If not, why not? (Would be good to document this decision here.)

Ping @ahumesky who replied on related https://github.com/bazelbuild/bazel/issues/1904 earlier.

[2017-05-08 14:25] philwo opened #2972 "Add "exclusive:<id>" tag that runs tests serially when they have the same <id>."
Reported by @gorset in https://github.com/bazelbuild/bazel/issues/2669#issuecomment-299619719:

[2017-05-08 14:27] philwo commented on #2669
@gorset Thanks for the feedback. I filed two feature requests for your ideas.

Unfortunately, as we still don't know how to virtualize "localhost" on macOS, I'm not sure what we can do about the root cause here. :(

[2017-05-08 15:19] #2943 closed

[2017-05-08 15:59] laszlocsomor commented on #2966
Status update: unfortunately i couldn't repro this yet, and i was busy fixing https://github.com/bazelbuild/bazel/issues/2892 today. I'll take a look tomorrow again.

[2017-05-08 16:59] shamanskyh commented on #2624
Looks like this was fixed by https://github.com/bazelbuild/rules_apple/pull/45 so I'm going to close this one out. Thanks again for all your help!

[2017-05-08 16:59] #2624 closed

[2017-05-08 17:10] ittaiz commented on #2669
One approach which should be mentioned is to try and enable running with a
custom sandbox script for tests with a specific tag and so for tests with
"isolation" one could try and use a custom sandbox script which uses docker
On Mon, 8 May 2017 at 17:27 Philipp Wollermann <notifications@github.com>
wrote:

[2017-05-08 17:43] kchodorow commented on #2965
If you use a skylark rule, you could use `short_path`: it's the path under the runfiles tree.

(`path` is what you get from `$(location ...)`.)

Would converting it to a skylark rule work for you?

[2017-05-08 17:45] sergiocampama commented on #2624
keep in mind that the `rules_apple` test runner has limited functionality, so only `ios_unit_test`targets will work with `bazel test`. We are currently working on an open source test runner, but I can't yet give updates on when that might be released.

`ios_unit_test`  and `ios_ui_test` should be fully functional when using Tulsi, for simulators and devices.

[2017-05-08 18:05] kchodorow commented on #2960
Well, one problem is that it would be `@docker_brew_ubuntu//:image`, (note the colon: `//:image` vs `//image`).  If you try that, do you still get an error?  (I wasn't able to reproduce the error you're seeing.)

[2017-05-08 18:37] kchodorow commented on #2955
Given that there is a (kludgy) workaround, I'm marking this p3, but it shouldn't be too hard to fix.

[2017-05-08 18:55] kchodorow commented on #2954
@katre, could you comment on this from a configurations perspective?  Right now, Bazel can only use one toolchain for a build, although we are working on fixing that.

One thing you might be able to work around this is to go ahead and create a custom C toolchain without the `-lstdc++` flag and then create a macro like:

def cpp_library(name, srcs, hdrs, deps):
  native.cc_library(
    name = name,

[2017-05-08 19:17] ahumesky commented on #2971
I don't know much past what I posted on #1904, perhaps @gregestren can comment?

[2017-05-08 19:34] gregestren commented on #2971
"tags" is nonconfigurable for practical reasons, not principled ones. In short, multiple places in Bazel's codebase expect to know the value of "tags" before the build's configuration is known. This means they can't get their answer from a select. We can conceivably refactor that code away and make tags "selectable" But that would be a mini-project for whoever wants to take up the effort.

I'm gla

[2017-05-08 19:37] minorhacks opened #2973 "CROSSTOOL questions"
I am attempting to adapt Bazel to a project that needs to cross-compile to various embedded platforms.

After following [the guide](https://github.com/bazelbuild/bazel/wiki/Building-with-a-custom-toolchain) and examining [the sample project](https://github.com/bazelbuild/bazel/tree/master/src/test/shell/bazel/testdata/bazel_toolchain_test_data) I have things tentatively working. However, there are

[2017-05-08 19:42] katre commented on #2954
I'm working on #2219, which leads to exposing specific toolchains for different rule types. For the cc rules, this will basically allow wrapping the existing CROSSTOOL functionality in a way that is easier to switch, but it will still be a single choice of toolchain for an invocation, not allowing using different toolchains in the same build.

We have had discussions about allowing specifying the

[2017-05-08 19:46] abergmeier commented on #157
Since bzl and BUILD content ~~are~~ can be seen as a subset of Python 3, I am wondering whether it would make more sense to start with a pyish mode and have some way of limiting that.

[2017-05-08 20:02] kchodorow commented on #2973
When you declare visibility, you have to say `visibility = ['@bazel_tools//tools/cpp:__pkg__']`, not specify the exact target.  Otherwise `:stl` needs to resolve the target `:cc-compiler-k8` (because it's a dependency) and `:cc-compiler-k8` needs to resolve the target `:stl` (to figure out visibility) and you end up with a circular dep. Bazel avoids this by having visibility declared in terms of p

[2017-05-08 20:23] kchodorow commented on #2963
I actually get that `sys.stdout.encoding` is `None` for both `run` and `test`. How are you running them now that this works? Just running `python whatever.py` with that line barfs for me.

It looks like the way you're supposed to indicate this in source files is adding a line [`# coding: utf-8`](https://www.python.org/dev/peps/pep-0263/), would it be possible to add that to tests?

[2017-05-08 20:27] RenatoUtsch commented on #2963
Python3 is *always* UTF-8, you aren't supposed to add any comments specifying utf-8 sources.

I'm running with the following BUILD rule:
[code]

And the following command:
[code]

[2017-05-08 20:29] RenatoUtsch commented on #2963
In Python 2 you might actually be right, but in Python 3 you're not supposed to do that.

[2017-05-08 20:58] philwo commented on #2669
"bazel build" on Mac produces macOS binaries, but Docker(-on-Mac) runs everything inside a Linux VM, so it can't run macOS binaries. How would this work? I think this could only work if your project, when built, only consists of 100% cross-platform binaries (Java JARs without JNI, shell scripts, Python)? And this would also only work due to luck - it is not guaranteed that java_binary or java_test

[2017-05-08 21:11] bkase commented on #306
@lswith this is what our script generates for FBSDKCoreKit (I'm working on this one now, currently working on Bolt -- a dep of this) so I'm not sure if this will exactly work yet.

[code]

You can see that it references `bazel_support/Headers/Public/**/*.h` -- this is that header flattening. This flattening we actually do in the workspace rule, not in the BUILD file (and specifically we do this in

[2017-05-08 22:19] lazutkin commented on #2960
Hmm. I don't think that it is a problem since `docker/ubuntu.BUILD` becomes a `BUILD` inside a `docker_brew_ubuntu` directory (sibling to WORKSPACE file) . I'm sure that problem still exists but not in my case since `new_http_archive` was changed to `http_file` (why I should unpack a content of rootfs if I need to use it as base layer of docker image).

Later I'll try to make demo bazel-project to

[2017-05-08 23:53] greggaree commented on #2756
@petemounce I have encountered the same issue as @jbduncan. I am also running Windows 7 and Chocolatey 0.10.5.

[2017-05-09 00:18] lswith commented on #306
I like what you've done here! I was wondering how you handled the conditions for different OS' and how you put the files in the Public folder. I was wondering about the `pch_with_name_hint`? Is that to simply generate the cocoapods pch attribute?

[2017-05-09 00:27] jart commented on #2922
@damienmg I'm happy to refactor everything to use the new hostname, so long as the old one continues to work forever. OOC does mirror.bazel.build work in China?

[2017-05-09 00:41] rahul-malik commented on #306
@lswith - `pch_with_name_hint` is a way in our macro to suggest the prefix of the PCH file. It's far from perfect but it's worked for us so far.

We leverage `select` statements to differentiate between OS types (tvos, osx, ios, watchos). Macros where you would normally insert a `glob()` now will pass a `select` with `glob` values.

[2017-05-09 00:48] lswith commented on #306
I was wondering what configuration option you would use to differentiate between OS types? The main reason I ask this is because it looks like bazel is moving towards doing complete cross compilation and specifying which type of OS is done with the rule itself not with bazel flags. Take a look at the new apple rules to see what I mean: https://github.com/bazelbuild/rules_apple

[2017-05-09 00:54] rahul-malik commented on #306
@lswith - We aren't on Bazel 0.5 yet so we haven't been able to adopt the new rules yet. We will likely have to tackle this soon though.

[2017-05-09 00:58] lswith commented on #306
Sorry I was wrong anyways. It appears they will be using platforms based on this thread: https://github.com/bazelbuild/bazel/issues/350

[2017-05-09 02:05] cvcal opened #2974 "Within Bazel, java_proto_library hack prevents proto-to-proto dependencies"
src/main/protobuf uses tools/build_rules:genproto.bzl, to support grpc, but that prevents adding import statements to protobuf files. (see TODO in tools/build_rules/genproto.bzl)

I would like to add invocation policy to the BEP, but cannot import the invocation_policy.proto definitions with the current hack. I could add it as a string, since BEP is currently for logging, but that feels like anoth

[2017-05-09 02:11] cgrushko commented on #2974
@damienmg how do you feel about copying `java_grpc_library` from  https://github.com/grpc/grpc-java/issues/2756#issuecomment-283195820 into the Bazel tree, so we can get rid of the `java_proto_library` macro?

[2017-05-09 03:14] jemdiggity commented on #2973
Hi Scott,
You've got to include _--cpu=armeabi-v7a_ otherwise bazel doesn't know what target you're cross compiling for and defaults to k8.

I _think_ the "extra" cc_toolchain is for any code that needs to be compiled for _host_ instead of _target_, eg protobufs or host scripts...

[2017-05-09 03:16] #2625 closed

[2017-05-09 03:18] jemdiggity commented on #2973
https://github.com/jemdiggity/bazel_arm_none.git

[2017-05-09 05:42] damienmg commented on #2922
IIUC it should work from China (same way of serving than our website). I'll
be in China in a month so I'll check first hand :)

The old URL still exists no worries.

On Tue, May 9, 2017, 2:27 AM Justine Tunney <notifications@github.com>
wrote:

[2017-05-09 06:27] balazs-zsoldos opened #2975 "Move desugar to a standalone project"
If you could, please, move Desugar out to a separate project, it would be great. Reasons:

- Bazel might be the future, but it is not the case yet. Desugar would be a popular tool used by maven, gradle, or a command-line script if it was possible
- Modularizing software is the future. It is better to have more tiny projects with separate release plan and bug tracking than having one monolith pyram

[2017-05-09 07:59] damienmg commented on #2974
/cc @buchgr who has deep interest in making that story better.

I would be more into vendoring directly the repo, is there a problem with that? If we vendor the repository directly as a local repository it is easier to unbundle it if/when we decide to do it.

[2017-05-09 08:07] laszlocsomor commented on #2966
I managed to log on to the machine but so far couldn't repro the error there either.

[2017-05-09 08:11] laszlocsomor commented on #2966
This error in the CI log:
[code]

3221225477 = 0xc0000005 = `STATUS_ACCESS_VIOLATION`

I'm looking for possible cause for this.

[2017-05-09 08:35] laszlocsomor commented on #2664
Looks like Bazel tries to run `link_dynamic_library.sh` directly instead of running `bash.exe -c ...`.

[2017-05-09 08:41] abergmeier-dsfishlabs commented on #2965
Thanks for the suggestion @kchodorow.
Now tried:

    def _list_paths_impl(ctx):

        ctx.file_action(
            ctx.outputs.lst,
            "\n".join([src.short_path for src in ctx.files.srcs]),
        )

    list_paths = rule(
        implementation = _list_paths_impl,
        attrs = {
            "srcs": attr.label_list(),
        },
        outputs = {
            "lst": "%{name}.txt"

[2017-05-09 08:46] laszlocsomor commented on #2966
@damienmg , Build 748 that you started at the same revision as 747, has passed, even though 747 failed, so the most I can say is this problem was intermittent. My attempts to repro it, either on the machine or locally, failed. I suggest turning on the machine again and react sooner the next time it fails like this, to rule out the possibility of overwriting potentially corrupt files with a rerun.

[2017-05-09 08:47] damienmg commented on #2966
Sounds good, let's put this bug as P2 waiting for information

[2017-05-09 08:47] laszlocsomor commented on #2966
And also, let's not rerun the build again before looking. I don't know if that played a role here, maybe did, maybe not.

[2017-05-09 08:49] #2967 closed

[2017-05-09 08:49] buchgr commented on #2974
@cgrushko https://bazel-review.googlesource.com/c/10711/ and https://github.com/grpc/grpc-java/pull/2975

@cvcal https://bazel-review.googlesource.com/c/10690/

Those are blocked by the bazel 0.5 release. So once that is released, we can merge those CLs.

[2017-05-09 09:13] damienmg commented on #2969
Discussion with @philwo about what to do (TL;DR: we are going to name it -jdk7 and if we are not happy modify the naming scheme further):

@philwo
I don't care much, I guess we could see it as there being three variants "with-jdk", "without-jdk" and "jdk7"?
But at first I thought it was confusing, because if it's not called "without-jdk", then it might look like we're bundling a jdk7?

@damienmg
Y

[2017-05-09 09:43] mhlopko commented on #1920
We still discuss this a lot. I'll add one more approach to the design doc this week that would make the possibility of introducing diamond "by accident", and therefore possibility of changes to distant dependencies breaking the top level build, smaller. More points still need investigation:

- dead code elimination
- symbol visibility specification (as entry points)
- exposed header specification

[2017-05-09 09:57] mhlopko commented on #2548
Hi Robert, I'm very sorry this was left unnoticed for so long. Are you setting --host_crosstool_top? Because if you don't then we use the value from --crosstool_top ([code](https://github.com/bazelbuild/bazel/blob/8bd4312fb8e738fe0cf7bd5edb5152db6325c6ad/src/main/java/com/google/devtools/build/lib/rules/cpp/CppOptions.java#L738)) Is it possible that this is the cause?

[2017-05-09 11:25] hanwen commented on #2528
I can get some output using 0.5.0rc3.  Is there a blessed way to get genhtml to find source code, or do I have to piece together a source tree by myself?

$ genhtml -o report/  -p "$(readlink -f bazel-gerrit)" bazel-testlogs/gerrit-sshd/sshd_tests/coverage.dat
Reading data file bazel-testlogs/gerrit-sshd/sshd_tests/coverage.dat
Found 93 entries.
Using user-specified filename prefix "/usr/local/goo

[2017-05-09 12:08] ulfjack commented on #2528
Progress! Unfortunately, Javac doesn't put the full relative path into the class files, which is not ideal, and on top of that, genhtml doesn't support looking for files under a custom prefix (or a list of prefixes), and, even if it did, we wouldn't know which prefixes.

Ideally, we'd hack Javac to output the relative path, although it's technically in violation of the spec.

@cushon Suggestions?

[2017-05-09 12:09] hanwen commented on #2528
genhtml is a Perl script (shudder), and reads files serially (sigh.).  Do you know of any newer tools to process this data? Is there maybe documentation for the file format of the .dat files so I can whip up my own?

[2017-05-09 12:11] hanwen commented on #2528
I think it would be easiest to get all srcjars and then look inside them for the filenames. That also sidesteps the problem of how to deal with generated source code.

[2017-05-09 12:23] ulfjack commented on #2528
The .dat files are in gcov format, I think, which is not difficult to parse. There are dozens of tools, but I'm not aware of any *good* tools to generate a report. We've had other reports about genhtml that make it sound like we may have to open source the tool we're using internally or write a new one from scratch.

Note that we currently never collect coverage for generated files.

[2017-05-09 13:06] jgavris commented on #1279
👋  Hi again @c-parsons, could we get an update here?

[2017-05-09 13:39] cushon commented on #2528
@ulfjack - [JVMS 4.7.10](https://docs.oracle.com/javase/specs/jvms/se8/html/jvms-4.html#jvms-4.7.10) makes it clear that's deliberate, so if it's possible to handle another way that'd be better.

We're already writing a `lib{name}.jar_manifest_proto` output for Java compilations that includes this information, e.g.:

[code]

[2017-05-09 13:40] fvisin commented on #1970
I confirm https://github.com/bazelbuild/bazel/issues/1970#issuecomment-282177022 works for me as well!

[2017-05-09 13:42] fvisin commented on #2042
In my case setting `TEST_TMPDIR` as suggested in https://github.com/bazelbuild/bazel/issues/1970#issuecomment-282177022 did the trick.

[2017-05-09 13:55] kchodorow commented on #1279
@c-parsons is out today, but I think this was committed in https://github.com/bazelbuild/bazel/commit/cc21998c299b4d1f97df37b961552ff8168da17f.

[2017-05-09 13:56] jgavris commented on #1279
Cool, I saw that. When would this issue be ready to close?

[2017-05-09 14:13] mhlopko commented on #2944
Hello @gruszczy,
The source of confusion is that Bazel by default links binaries statically, but tests dynamically. This makes the test-code-refactor loop faster, because changes to the test code only trigger the rebuild of the test, not the whole application. It can be disabled by setting `linkstatic = 1` on `codegen_test` target.

As to why the symbols are not present in `codegen_test` when buil

[2017-05-09 14:17] mhlopko commented on #2944
I'll close this issue now, feel free to reopen if you think this is a Bazel issue. If you have further questions feel free to continue on [your StackOverflow question](http://stackoverflow.com/questions/43786877/llvm-dyld-symbol-not-found-zn4llvm11runtimedyld13memorymanager6anchorev).

[2017-05-09 14:20] kchodorow commented on #1279
I'll leave that question for Chris.

[2017-05-09 14:25] kchodorow commented on #2965
Are you adding testfiles.txt as a data dependency? E.g.,

[code]

(Works for me...)

[2017-05-09 14:27] abergmeier-dsfishlabs commented on #2965
param_file,
    ],

Via this. Could it be, that it only works if you explicitly reference the file and not the rule!?

[2017-05-09 14:48] ddayzzz opened #2976 "A bug on building tensorflow 1.0（use Py3.5）"
###Bazel release 0.4.5  on building tensorflow1.1 in Fedora 25 usePy3.5(amd64)

Bazel reported that it can not create symbolic link to /usr/include/python3.5m/pyconfig-64.h

### If possible, provide a minimal example to reproduce the problem:
If I used Python2.7 in Tesorflow configure, it worked normally. However, when i used Python3.5 in Tensorflow configure and launched the Bazel compilation pro

[2017-05-09 14:55] #2953 closed

[2017-05-09 14:55] #2969 closed

[2017-05-09 14:56] #1525 closed

[2017-05-09 15:14] laszlocsomor commented on #2664
After discussing with @mhlopko , it looks like we'll need to define `action_config` entries for the GCC toolchain.

[2017-05-09 15:33] aj-michael commented on #2975
Hi @balazs-zsoldos , there is a standalone repo containing the desugar within the Android platform's code base: https://android.googlesource.com/platform/external/desugar. It is being integrated with Gradle in an upcoming Android Studio release: https://developer.android.com/studio/preview/features/java8-support.html.

Does this fit your use case?

I'll leave it up to @kevin1e100 , author of desug

[2017-05-09 15:48] kchodorow commented on #2965
You have to add testfiles.txt to the runfiles provider if you want it to be picked up as something relevant to `data`.  With the latest Bazel, this looks like:

[code]

at the end of your Skylark function.

[2017-05-09 16:09] rtsai commented on #2548
Yes, that was it. I don't know how I missed that in the documentation 🤦

[2017-05-09 16:12] mhlopko commented on #2918
Can you also share the output of (with the compiler that Bazel detects, or the compiler that you have in $CC):

```clang -E -xc++ -v -v```

This is what Bazel uses to get the list of include directories and sets that into generated CROSSTOOL. Other solution would be what @luberg suggests. Maybe Bazel uses a different compiler that you assume (use -s flag to see the invocations). Or maybe you need

[2017-05-09 16:14] rtsai commented on #2954
We will have to pursue the custom macro.

My feedback as a user is that C/C++ are similar enough to warrant something built-in and less-heavyweight than having to switch crosstools (e.g., something similar to the macro described above) - they are more similar than, say, cc_library and python_library. That will have impact on whatever syntax is used for including those artifacts in dependencies ("t

[2017-05-09 16:14] mhlopko commented on #2548
To be honest, our docs are far from perfect. Glad this got resolved. Cheers!

[2017-05-09 16:19] hanwen commented on #2904
I still can't run coverage on my google linux laptop.

Exception in thread "main" java.lang.UnsupportedClassVersionError: com/google/devtools/lcovmerger/Main : Unsupported major.minor version 52.0
        at java.lang.ClassLoader.defineClass1(Native Method)

looks  like lcovmerger is run with the system JVM rather than the bazel one.

I think this is a separate issue from the problems with jarjar

[2017-05-09 16:20] hanwen commented on #2904
(note that my laptop comes with java 7 preinstalled in /usr/bin/)

[2017-05-09 17:03] rtsai commented on #2548
Actually, that helped, but didn't completely solve our problem, because the experiment described above is incomplete.

Rather than build a cc_proto_library, build a thing that requires a protoc plugin. We observe that we are unable to link the host plugin because of target linkopts leaking through.

After setting build --host_crosstool_top=@bazel_tools//tools/cpp:toolchain , and building a cc_bina

[2017-05-09 17:32] kchodorow commented on #2963
Indeed!  Sorry, not terribly up on Python (obviously).  I did find a workaround: you can use `--action_env` to pass in the correct encoding:

[code]

Clearing the locale seems reasonable (to make builds from different areas produce the same output) but I'm guessing that clearing Python's default encoding was unintentional. Assigning to someone who can verify that.

[2017-05-09 17:51] #2956 closed

[2017-05-09 17:56] kchodorow commented on #2819
I don't think it could exist anywhere else... now the symlinks & the execroot point to the directory basename.

I'll take a look at the output dirs (thanks for harvesting them!) but regardless, this isn't a breakage anymore.

[2017-05-09 17:58] kchodorow opened #2977 "Windows CI failure"
http://ci.bazel.io/view/Bazel%20bootstrap%20and%20maintenance/job/Bazel/JAVA_VERSION=1.8,PLATFORM_NAME=windows-msvc-x86_64/1482/console

Might be a flake? The same error happened last week.

[code]

[2017-05-09 18:07] kchodorow commented on #2954
Agreed that C and C++ rules should be close cousins! Sorry for the inconvenience.

[2017-05-09 18:38] kchodorow commented on #2961
@philwo, could you take a look?

[2017-05-09 20:16] lazutkin commented on #2960
@kchodorow here is a test case https://gist.github.com/lazutkin/31bdc8fea9945031ed7be54c652424a2 to reproduce an error

[2017-05-09 20:31] chpatton013 commented on #258
+1 for compilation database support.

[2017-05-09 20:44] balazs-zsoldos commented on #2975
Hi @aj-michael,

we already downloaded the Android Studio Preview. However, our use-case a bit special :-).

We want to repack an OSGi based application to be used on an Android tablet. We add each dependencies to the project as an asset. So in the gradle script:
 - we iterate through the dependencies of the project
 - we call desugar on every dependency jar
 - we call dx on every dependency jar a

[2017-05-09 21:38] aj-michael commented on #2975
I am not very familiar with Gradle scripts, so I can't advise on how to invoke Desugar from a Gradle script.

To partially answer your question, Desugar already is a standalone command-line tool. Bazel treats it as a standalone command-line tool. It just so happens that command-line tool is bundled inside of the standard Bazel distribution.

Here are the steps to build and use the command-line des

[2017-05-09 22:09] balazs-zsoldos commented on #2975
@aj-michael Thanks a lot for the answer! It will be easier for us in the future to build Desugar in the standard way. The company computer is a Windows machine and there I could neither install or compile Bazel due to missing reqs (e.g.: windows SDK or it could not find msys64), but I guess time will solve this issue, and there will be an easily downloadable binary that works out-of-the-box.

You

[2017-05-09 22:10] yuekui2 commented on #2957
The intention is to tar files and the folder structure of `master`. In this regard, the cc.txt  is somewhere under master and should be part of the rule. What is the correct way to achieve this?

[2017-05-09 23:37] qualiaa opened #2978 ""Failed to extract install_base_key" running bazel built on another system"
### Description of the problem / feature request / question:

Attempting to build Bazel on an HPC cluster in the process of building TensorFlow, I ran into the problem described here: https://github.com/bazelbuild/bazel/issues/2534

My attempt to work around it was to build Bazel on a separate system, run the binary once to perform the self-extraction, and then upload the binary to the server I wa

[2017-05-10 05:36] dfabulich opened #2979 "Regression compiling Java in 0.5.0"
This repository https://github.com/dfabulich/raw-list-bug builds without error in Bazel 0.4.5 when I run `bazel build example`, but fails to build in Bazel 0.5.0rc3

<details><summary>build failure message</summary>

[code]
</details>

It seems like this must be a bug in the compiler; the code is using a raw LinkedHashSet, which is an Iterable, but it is not an Iterator.

The code compiles just fi

[2017-05-10 07:41] petemounce commented on #2692
I've published `0.5.0-rc3` by local hacks to the scripts. Nuget only accepts semver-compliant version numbers, so wouldn't accept `0.5-rc3`. Maybe some validation to the release-creation script - if you point me at that I could add it?

https://chocolatey.org/packages/bazel/0.5.0-rc3

Diff
[code]

[2017-05-10 07:41] aleb commented on #2790
This bug can be easily reproduced with this workspace: [bug.zip](https://github.com/bazelbuild/bazel/files/989002/bug.zip)

[code]
[code]
[code]

Building the //algebra:algebra target works fine:
[code]
But the same fails when using --experimental_action_listener:
[code]

As can be seen above, the `pwd && find . && ls algebra/rand.c` command fails because `algebra/rand.c` is missing from the `/hom

[2017-05-10 07:43] mhlopko commented on #2692
That would be very helpful! This is the script: https://github.com/bazelbuild/bazel/blob/master/scripts/release/release.sh

[2017-05-10 08:20] hanwen commented on #2904
and it works if I manually set /usr/bin/java to be java 8.

[2017-05-10 08:27] hanwen commented on #2528
see https://gerrit-review.googlesource.com/c/106471/ . From my perspective we can close this now

[2017-05-10 08:39] ulfjack commented on #2528
I've changed the title and will reuse this bug for the problem that genhtml can't find the Java source files with the default configuration. It's great that you found a workaround, but it's not ideal in the medium term.

[2017-05-10 08:45] ulfjack commented on #2528
@cushon we need to know the relative path to the source file for each class file, ideally even if there are multiple classes with the same name. Ideally, the coverage tool will output the correct relative path, which means we need to pass this information to the coverage tool itself. Using

It would seem cleaner to put this information into the class file itself. If we can't use SourceName, that's

[2017-05-10 08:55] ulfjack commented on #2954
I think we should make it so the cc_* rules automatically detect if there are only .c files in srcs, and then not add -lstdc++ to the final link. That should be straightforward to do and doesn't require any configuration shenanigans.

[2017-05-10 08:57] ulfjack commented on #1026
I'm going to close this bug - I know that we still need to improve our error handling, but I always do a double-take when I see this issue.

[2017-05-10 08:57] #1026 closed

[2017-05-10 08:59] ulfjack commented on #2843
Fixed by 59b099b2a7868a0516c54f38f59e89fef8704473.

[2017-05-10 08:59] #2843 closed

[2017-05-10 09:01] ulfjack commented on #2823
Technically, I fixed this in the replacement implementation, but that hasn't landed yet.

[2017-05-10 09:01] steren opened #2980 "Document how to setup remote caching and its API"
As seen in #904, remote caching is now fixed.
Bazel has REST and gRPC APIs that can be used to implement remote caching. This should be documented in the Bazel documentation, not only visible in the source code.

[2017-05-10 09:20] abergmeier-dsfishlabs commented on #2965
Indeed. Sorry, that slipped my mind. While `testfiles.txt` can now be read, the containing paths cannot (are not linked into runfiles).
Actually I think my whole problem is that multiple layers are generating the necessary runfiles and this somewhere breaks. Is there ANY way of debugging runfiles? This is very annoying currently.

[2017-05-10 09:39] RenatoUtsch commented on #2963
Oh, I didn't know about that flag! Thanks!

Yeah, I agree it is reasonable to clear the locale. It should only be the language's default instead of a random encoding.

[2017-05-10 10:41] petemounce commented on #2935
"fix all remaining bugs." - strong! :D

[2017-05-10 10:43] laszlocsomor commented on #2935
Shooting for the starts, no less ;)

[2017-05-10 10:45] petemounce commented on #2756
So it looks like msys2 failed to install.

[code]

Please would you run
[code]
and again, gist the logs?

[2017-05-10 11:02] mhlopko commented on #2954
One possible approach that works already is to define a crosstool feature adding "-lstdc++" (let's call it cxxstdlib), but instead of implying it from the action_configs you'd enable it from .bazelrc (--features=cxxstdlib) so it's enabled by default, and then disable it for individual packages (package(..., features = ["-cxxstdlib"])) or rules (cc_library(..., features = ["-cxxstdlib"]...).

[2017-05-10 11:52] mhlopko commented on #2692
I created rc4, now in a correct branch named 0.5.0:
https://storage.googleapis.com/bazel/0.5.0/rc4/index.html

base: f3ae88e
cherrypicks:
c58ba09
0acead4
d0242ce
d953ca8
755669fb5de1f4e762f27c19776cac9f410fcb94
6f041661ca159903691fcb443d86dc7b6454253d
720561113bfa702acfc2ca24ce3cc3fd7ee9c115
511c35b46cead500d4e76706e0a709e50995ceba

And we already know we will have at least one more rc.

[2017-05-10 12:02] laurentlb commented on #2933
It means that arguments after "*" are keyword-only.

`java_common.compile(ctx, [])  # error`
`java_common.compile(ctx, source_jars=[]) # correct`

This is the same syntax as in Python 3 (https://www.python.org/dev/peps/pep-3102/). Please don't use it in your code, though.

We'll clarify it in the documentation.

[2017-05-10 12:55] laszlocsomor commented on #2977
Indeed, it was http://ci.bazel.io/view/Bazel%20bootstrap%20and%20maintenance/job/Bazel/1449/

The error is `AccessDeniedException`, suggesting the file could not be (over)written.

*(My first hypothesis, that I leave here for posterity)* ~~I think this is the bug where workers hold on to open files, that @philwo fixed a while ago. @dslomov pointed out that this was the Bazel job therefore it used

[2017-05-10 13:18] philwo opened #2981 ""./compile compile $(which bazel)" at HEAD is broken with Bazel 0.4.5"
The commit https://github.com/bazelbuild/bazel/commit/2879971666e0cc3f1f24ae91b88c4400af77e7f3 broke the command `./compile.sh compile $(which bazel)` (where `which bazel` resolve to the latest released Bazel at this time, version 0.4.5).

The error message is:
[code]

Interestingly, a simple `bazel build //src:bazel` works, so Bazel 0.4.5 can still successfully build the latest Bazel HEAD. This o

[2017-05-10 13:28] cushon commented on #2981
Previously #2869. Is using `./compile.sh` with the previous release supported?

[2017-05-10 13:40] philwo commented on #2981
I'm not sure. @aehlig or @damienmg might know.

If it's not supported, maybe we should remove the flow where you can pass an existing bazel to compile.sh.

[2017-05-10 13:44] laszlocsomor commented on #2977
@cushon -- FYI JumFS issues on Windows, scroll down for more info

I did an experiment with Turbine built at HEAD and with an older one.

In both cases, I built a custom bazel binary, ran it once so it'd extract its embedded tools, moved the turbine jar and created an empty file instead (set the mtime to 10 years in the future so bazel wouldn't notice my tampering) then built bazel with this custo

[2017-05-10 13:48] laszlocsomor commented on #2977
Thus it's confirmed that @kchodorow saw an error with Bazel 0.4.5 and older Turbine, and my theory is that something set Turbine's previous output files to be read-only.

@damienmg : Do you think it's possible that Jenkins set some action's outputs as read-only between CI runs?

[2017-05-10 13:53] philwo opened #2982 "Bazel installer checks for JDK even when using the bundled JDK version"
The current Bazel installer script checks for an existing JDK and errors out when it can't find one, even when using the Bazel with a bundled JDK.

In that case, it shouldn't care about whether a JDK is installed or not.

[2017-05-10 14:17] aehlig commented on #2981
On Wed, May 10, 2017 at 06:40:20AM -0700, Philipp Wollermann wrote:

Support is a policy question and I'm not the person deciding on policies.

However, I don't think it is a release blocker. When a new release is
announced, the recommended way of building bazel[1] is to download the
distribution artifact and call `bash ./compile.sh`.

Also the use case for `compile.sh $(which bazel)` is quite lim

[2017-05-10 14:18] philwo commented on #2981
@aehlig I agree with that - downgrading to P2 and no breakage for now until Damien can have a look.

[2017-05-10 14:18] kchodorow commented on #2978
Why are you running the binary once locally?

One thing that might work is to upload the extracted install base (`bazel info install_base`) and then point bazel to it on the cluster (`bazel --install_base=/path/to/wherever/you/put/it build //...`).

[2017-05-10 14:21] katre commented on #2928
Not sure what further triage is needed. We need a better error message in this case but I'm not sure when I'll have time to check into it.

[2017-05-10 14:35] cushon commented on #2977
I mailed a fix for the windows path issue, I'm not sure about the `AccessDeniedException`.

[2017-05-10 14:35] kchodorow commented on #2965
You mean figuring out what runfiles are provided by each rule?

[2017-05-10 14:36] abergmeier-dsfishlabs commented on #2965
Would be a start.

[2017-05-10 14:41] kchodorow commented on #2979
@cushon, could you take a look?

[2017-05-10 14:44] haxorz opened #2983 "WindowsFileSystem#determineUnixRoot has a hardcoded timeout of 3 seconds, which is problematic for our unit tests"
https://github.com/bazelbuild/bazel/blob/b13457b1434d64ab187fb511e73f01d1f2321c1e/src/main/java/com/google/devtools/build/lib/windows/WindowsFileSystem.java#L506-L507

note that this is a timeout for termination of a subprocess.

we're getting flaky test failures with stack traces like

java.lang.ExceptionInInitializerError
	at com.google.devtools.build.lib.runtime.BlazeRuntime.fileSystemImplement

[2017-05-10 14:45] cushon commented on #2979
I think this is going to be fixed by https://bazel-review.googlesource.com/c/10990/

[2017-05-10 14:46] kchodorow commented on #2960
Thanks, reproduced!  Looks like it's an Mac-only bug, which is why I couldn't get it to error out before.  Looking into it...

[2017-05-10 14:47] laszlocsomor commented on #2983
Thanks! Solution is to define the msys root as a JVM variable, e.g.: https://github.com/bazelbuild/bazel/blob/65b06129504da8b4838a3d04f1cdc12df34a3716/src/test/java/com/google/devtools/build/lib/BUILD#L191

[2017-05-10 14:52] haxorz commented on #2983
the test that failed for me was https://github.com/bazelbuild/bazel/blob/28c9617d53bf58dcba9572bcfdc165c62421d983/src/test/shell/bazel/bazel_windows_example_test.sh

if you're sure that the lack of bazel.windows_unix_root jvm system property is the problem, then that means my diagnosis was wrong (i just jumped at the sight of a hardcoded short timeout). but then my next question would be "how does

[2017-05-10 14:53] cushon commented on #2979
Verified:

[code]

Before:
[code]

After:
[code]

[2017-05-10 14:58] laszlocsomor commented on #2983
perhaps https://github.com/bazelbuild/bazel/blob/28c9617d53bf58dcba9572bcfdc165c62421d983/src/main/java/com/google/devtools/build/lib/windows/WindowsFileSystem.java#L507 always finished within 3 seconds until now?

[2017-05-10 15:00] laszlocsomor commented on #2983
i should remove that logic [1] anyway (as well as the System.getenv call in line 501), and use the `BAZEL_SH`  value from the clientenv

[1] https://github.com/bazelbuild/bazel/blob/28c9617d53bf58dcba9572bcfdc165c62421d983/src/main/java/com/google/devtools/build/lib/windows/WindowsFileSystem.java#L503-L522

[2017-05-10 15:02] greggaree commented on #2756
While executing choco install bazel --version 0.4.5, Chocolatey reported a checksum mismatch after download.  The install failed. I tried choco install bazel... again, and it failed again with a checksum mismatch.

[2017-05-10 15:26] Helcaraxan commented on #1023
Pinging here as there has not been any activity here for many months.

What is the status on this ticket? It appears work has been done but I am not sure whether the issue was actually solved.

[2017-05-10 15:26] qualiaa commented on #2978
Ah, that makes sense - I ran once because, failing to find `.cache/bazel` I incorrectly inferred that it was performing self-extraction and then swapping the binary/modifying in-place.

Your suggestion to use `--install_base` sounded hopeful, but unfortunately it exits with the same error:

    $ ./bazel-new --install_base=$HOME/bazel_install_data

    Failed to extract install_base_key: local fil

[2017-05-10 15:51] petemounce commented on #2756
Ah, nuts, sorry - I meant `0.4.5.20170331`. I forgot I'd published a fix for the package for 0.4.5.

[2017-05-10 16:02] dfabulich commented on #2979
Wait a minute, wait a minute. Bazel 0.5 is using an unreleased Java 9 compiler? While I'm glad that upgrading the compiler to _another_ unreleased Java 9 compiler fixed this bug, this can't be the right thing. https://groups.google.com/d/msg/bazel-discuss/LUfkHkCYOoE/4-Y6ni9DBgAJ

[2017-05-10 16:19] jbduncan commented on #2756
@petemounce I'm sorry to say that msys2 failed to install on my computer. The installation log can be found at https://gist.github.com/jbduncan/4960614e51889faa43cb50091e5b1fcf.

[2017-05-10 16:30] rtsai commented on #2548
Hi. The offending base dependency is libevent2 with linkopts:

[code]

The `config_settings` in `//build/toolchains:BUILD`:

[code]

The bazelrc:

[code]

Finally, the offending command-line (when run on a Linux build host):

[code]

where foo:cpp_plugin is a protoc plugin

So now that I'm looking more closely here, I realize that if I add a `"host_crosstool_top"` to `config_setting("qnx")`, then

[2017-05-10 16:42] rtsai commented on #2548
Any feedback is also appreciated; you can probably see what we're trying to do; maybe we're just doing something wrong.

The `define` configurations are intended to allow `select` to be written broadly (e.g., cover multiple targets), while the non-`define` configurations represent the "public" values that may be used with `bazel build --config`.

[2017-05-10 17:08] c-parsons commented on #1279
As kchodorow has indicated, this has been committed and therefore I'll close this issue.

[2017-05-10 17:08] #1279 closed

[2017-05-10 17:49] #2979 closed

[2017-05-10 18:03] eaftan commented on #2975
(standing in for @kevin1e100, who is OOO)

We're sorry, but we have no plans to publish Desugar as a separate tool.  Our team is lightly staffed for this, and our priority is Bazel and Android Studio customers.  There are some workarounds in this thread, and I hope they are sufficient for your use case.

[2017-05-10 18:17] kchodorow commented on #2978
Hmm, sounds like a bug in our zip extraction, then.  Assigning to @damienmg, who made the client use ijar for extraction.

Random idea: your cluster isn't big-endian by any chance, is it?

[2017-05-10 18:19] kchodorow commented on #2965
Yeah, I guess what I'd really want is a debugger, so I could put a breakpoint in this action (or maybe the rule in the BUILD file?) and then step through and see what's being provided... I think that's a bit outside the scope of this issue, though :)

[2017-05-10 18:19] #2965 closed

[2017-05-10 18:20] kchodorow commented on #2790
@lberki is going to take a look at this tomorrow.

[2017-05-10 19:05] mwoehlke-kitware commented on #579
To sort of reiterate a comment I made on bazel-discuss (possibly redundant, as I'm not sure what "add versioning" means), it would be helpful if:

- The docs prominently display the Bazel version to which they apply.
- Docs for multiple versions, including `master` are readily available (e.g. see Python docs, Qt docs, ...)
- The default version displayed is *the latest stable release*.
- The site

[2017-05-10 19:46] aj-michael commented on #2975
Marking this as closed per @eaftan's comment. @kevin1e100 can reopen if plans change.

[2017-05-10 19:46] #2975 closed

[2017-05-10 20:16] gruszczy commented on #2944
Hi Marcel,

Thanks for the tip, it's good to know the difference (and rationale) about the linking. linkstatic indeed fixes the issues an allows me to avoid listing files, so it's an acceptable solution.

However, I did try to use alwayslink = 1 on the target that is producing the VMRuntimeDyld.a and VMMCJit.a, it's in the snippet I included above:

cc_library(
    name = "main",
    srcs = glob([

[2017-05-10 21:06] kchodorow commented on #2977
Another instance of AccessDenied:

http://ci.bazel.io/view/Bazel%20bootstrap%20and%20maintenance/job/Bazel/JAVA_VERSION=1.8,PLATFORM_NAME=windows-msvc-x86_64/1489/console

[2017-05-10 21:13] cushon commented on #2977
The action responsible for those turbine invocations does a two-tiered spawn where it retries failing invocations with different options: https://github.com/bazelbuild/bazel/blob/36ce4b433e19498a78c34540d5a166d4e0006b22/src/main/java/com/google/devtools/build/lib/rules/java/JavaHeaderCompileAction.java#L129

I wonder if that could be causing it to try to write the same output twice? I'm not sure w

[2017-05-10 22:58] kchodorow opened #2985 "Bazel server sometimes hangs, causing test timeout flakes"
This is an umbrella bug for "vanilla" bazel invocations hanging and timing out on the CI.  This seems to happen to integration tests that run Bazel a bunch of times.

Timed out a couple of times today:

* http://ci.bazel.io/job/Gerrit-bazel-tests/661/BAZEL_VERSION=latest,PLATFORM_NAME=ubuntu_16.04-x86_64/console
* http://ci.bazel.io/job/bazel-tests/BAZEL_VERSION=latest,PLATFORM_NAME=linux-x86_64/7

[2017-05-10 23:14] robbiexperiel commented on #2235
Friendly ping. I just tested against bazel master and I'm still seeing the issue. Let me know there's anything I can do to help investigate.

[2017-05-10 23:33] lazdmx opened #2986 "aws cli (python) cannot read files with non-English text under genrule"
### Description of the problem

aws cli (genrule) cannot process files containing non-ascii (Cyrillic) chars because of clean (`env -`) environment. So script like

[code]

cannot be done, if `$<` file has non-ascii symbols and the only way to make it work is to set category explicitly like

[code]

### Environment info
* Operating System:
Darwin Dmitrys-iMac.local 16.5.0 Darwin Kernel Version 16.

[2017-05-10 23:53] greggaree commented on #2756
The checksums matched. Here is a gist of the log:
https://gist.github.com/greggaree/b264387f6b5e0231cc1e8d514e3e8874

[2017-05-11 00:32] MarkIennaco commented on #1118
I'm getting the coverage.dat file error too.
This is with bazel version:
Build label: 201705091833+62c6d63
Any suggestions with the new bazel?

Note, I specified compiler gcc for this run as we normally use clang,
but clang gets the same errors.

$ bazel coverage --compiler=gcc util:epoll_eventloop_test
WARNING: Error encountered with local file system watcher java.io.IOException: User limit of in

[2017-05-11 01:20] robbiexperiel commented on #1279
Hey, @c-parsons, is there anything special I need to do to get cc_libraries working as dependencies of objc_libraries? I just tried building my ios_application with bazel master and rules_apple master, and am still getting linking errors complaining about the wrong architecture:

ld: warning: ignoring file bazel-out/ios-arm64-min8.0-applebin_ios-darwin_x86_64-fastbuild/bin/path/to/file.a, file was

[2017-05-11 01:31] dmitry-xnor commented on #2626
Would love to have these as well. We're also using "hacky workarounds": pre-compiling our protos manually and checking in the resulting `*_pb2.py` files.

[2017-05-11 05:42] endobson opened #2987 "The full syntax of load isn't documented."
The following syntax works but isn't documented here:
https://bazel.build/versions/master/docs/be/functions.html#load

[code]

[2017-05-11 07:23] laszlocsomor commented on #2977
@cushon : Thanks again! We may want to release a Turbine deploy jar as soon as your bugfix is in, and cherrypick that into bazel 0.5.0

[2017-05-11 07:23] laszlocsomor commented on #2977
(see https://github.com/bazelbuild/bazel/issues/2977)

[2017-05-11 08:08] Helcaraxan commented on #1586
This is still an issue.
From what I have seen @laszlocsomor's comment https://github.com/bazelbuild/bazel/issues/1586#issuecomment-281970927 is spot-on as I know have to kill all Bazel processes manually before the `bazel clean` works again.

[2017-05-11 08:14] lswith opened #2988 "Feature Request: Objc Library Module Name"
I'd like the ability to control the module name created by the objc_library rule. For more details refer to https://github.com/bazelbuild/rules_apple/issues/51.

[2017-05-11 08:48] laszlocsomor opened #2989 "experimental_ui: should respect `--show_timestamps` for actions"
Building with `--noexperimental_ui --show_timestamps --curses=no`:
[code]

Building with `--experimental_ui --show_timestamps --curses=no`:
[code]

EDIT: I got the logs mixed up first

[2017-05-11 09:05] MarkusTeufelberger commented on #2147
https://git-scm.com/docs/git-archive could be a better solution...

[2017-05-11 09:35] MarkusTeufelberger opened #2990 "Use "git archive" for (new_)git_repository rule"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:

As discussed in https://github.com/bazelbuild/bazel/issues/2147, cloning a full repository might rarely be what you actually want to happen, in the end all you need is the state of the repository at a certa

[2017-05-11 11:56] steren commented on #2397
We actually also need to explain how to serve the documentation locally. I could not find instructions.

[2017-05-11 13:08] aj-michael commented on #817
For anyone reading this in the future, you will likely need Bazel 0.4.5 to use clang for Android builds. Otherwise you will encounter https://github.com/bazelbuild/bazel/issues/2601 in which the gcc includes paths are being used by clang instead of the clang ones.

Note also that starting in NDK 13 (Bazel 0.4.5), clang is the default.

[2017-05-11 13:16] cushon commented on #2977
@laszlocsomor I don't think you need a deploy jar - the turbine code is split across https://github.com/google/turbine (which is checked in to the Bazel repo as a jar in third_party), and `src/java_tools/buildjar/java/com/google/devtools/build/java/turbine` which is rebuilt from source with Bazel. This fix was in the latter.

[2017-05-11 13:33] andrasferenczi opened #2993 "Default interface method error, __desugar__.java.util.Comparator not present"
Running Desugar.java with the following parameters:

--min_sdk_version=24 --desugar_interface_method_bodies_if_needed=false --input=INPUT_JAR --output=OUTPUT_JAR --bootclasspath_entry=ENTRY

Causes the following error:

	at sun.invoke.util.BytecodeDescriptor.parseSig(BytecodeDescriptor.java:85)
	at sun.invoke.util.BytecodeDescriptor.parseMethod(BytecodeDescriptor.java:63)
	at sun.invoke.util.Bytec

[2017-05-11 13:52] laszlocsomor commented on #2810
I narrowed it down to `zip` and `gcc` in Cygwin (maybe not the only offenders):

zip:
[code]
"a.txt" will be a normal file, but "a.zip" will have bad file permissions (right click in explorer > properties > security tab). Specifically it'll have "incorrectly ordered permissions" as well as extra entries compared to "normal" executable files:

Bad:
![bad-perm](https://cloud.githubusercontent.com/as

[2017-05-11 14:20] damienmg commented on #2981
That's curious that we get that breakage but I don't think it is important enough to care. The correct way to build bazel that way would be `bazel build //src:bazel` but that does not add stamping information.

Anyway we probably want to clean-up a bit compile.sh and make that work again but definitely not a big issue.

[2017-05-11 14:49] brandjon commented on #2985
I'm not able to reproduce locally. The test doesn't do much besides start up bazel, so it's hard to see how the test could be at fault as opposed to the infrastructure. I'll kick this back to you for now; let me know if there's a logical next step I should take to debug.

[2017-05-11 15:11] c-parsons commented on #1279
Indeed, I believe you need --apple_crosstool_transition for this to work properly.
You can feel free to put this in your own bazelrc.
We're in the process of making this on by default (but we still have to migrate some users...)

[2017-05-11 15:15] kchodorow commented on #2985
https://github.com/bazelbuild/continuous-integration/issues/68 was created because of this.

[2017-05-11 15:27] damienmg commented on #2978
Visibly the extraction happens successfully but an error code is returned. Can we get a lot more details about the running infrastructure (especially hardware) and how Bazel was compiled (gcc version, why not use devtoolset?, see http://stackoverflow.com/questions/42982735/how-to-compile-bazel-on-centos-6-x).

[2017-05-11 15:30] damienmg commented on #2957
You should glob all the files in that case:

[code]

[2017-05-11 15:40] aj-michael commented on #2993
@kevin1e100 or @chengniansun may have some insight.

@andrasferenczi , to be clear, are you running desugar outside of Bazel? If so, can you tell us what commit you built it from, a full command line and a (minimal) repro case?

[2017-05-11 16:57] dmitry-xnor commented on #2945
Do such systems actually exist? IIRC aarch64 mandates that the CPU has VFP and NEON.

[2017-05-11 17:00] chengniansun commented on #2993
Thanks for the report.

Did you run Desugar with Bazel? Could you also provide a small repro case
so I can take a look?

Thanks.

On Thu, May 11, 2017 at 8:40 AM, Adam Michael <notifications@github.com>
wrote:

--
Best Regards,

Chengnian.

[2017-05-11 17:08] dmitry-xnor commented on #2945
Just to be clear: I'm not a part of the "Bazel team". I do work quite extensively with aarch64 though, and have a build of Bazel that works there. We run it on NVIDIA TX1, Pine-A64 and Nanopi-A64 at the moment.

[2017-05-11 17:08] qualiaa commented on #2978
To be clear, I manually uploaded `$HOME/bazel_install_data/` from my local `.cache/bazel/...`. I've edited my code snippet to clarify.

I compiled Bazel locally with gcc-5.4.0. On the cluster, the same gcc version is available, and I've set the rpath of `bazel` to point at glibc-2.14, which is the latest version given by `cat bazel | strings | grep GLIBC`.

Dynamic linking:

    [phulgm@login1 ~]$

[2017-05-11 17:11] dmitry-xnor commented on #2945
ARM seems to concur: there's no soft float ABI for aarch64

http://infocenter.arm.com/help/index.jsp?topic=/com.arm.doc.faqs/ka16242.html

Hence the question

[2017-05-11 17:36] andrasferenczi commented on #2993
@aj-michael @chengniansun Thanks for the fast response. Yes, I run it outside of Bazel. I created a standalone project from the latest available version from this package at the time when I submitted this issue. (Everything is the same but the PathConverter.  Line number indices were not changed.  )

I will send a repro case as soon as possible. I am not at my workplace currently and unfortunately

[2017-05-11 17:46] Helcaraxan opened #2994 "Windows MSYS2 - Bazel fails to run with exit code 127."
Though I am aware that this is likely to not be an issue with the Bazel code itself I am posting this to see whether somebody else has encountered the following problem and found the solution to it. It has been causing me signficant headaches the last two weeks while trying to switch our Windows builds to use Bazel.

### Description of the problem / feature request / question:

I am working on mul

[2017-05-11 17:53] kchodorow commented on #2985
Another timeout: http://ci.bazel.io/job/bazel-tests/BAZEL_VERSION=latest,PLATFORM_NAME=linux-x86_64/753/console

[2017-05-11 17:56] udnaan commented on #2945
I'm only looking for the answer to the original question. Don't take offense but as informative as all this is, it is just adding noise to a legitimate question.

[2017-05-11 18:08] yuekui2 commented on #2957
`files = glob(["master/**"]), `will flatten the folder structure, while we want to keep it.

[2017-05-11 18:54] kchodorow commented on #2977
Two more AccessDenied failures with the latest push: http://ci.bazel.io/view/Bazel%20bootstrap%20and%20maintenance/job/Bazel/JAVA_VERSION=1.8,PLATFORM_NAME=windows-x86_64/1493/console and http://ci.bazel.io/view/Bazel%20bootstrap%20and%20maintenance/job/Bazel/JAVA_VERSION=1.8,PLATFORM_NAME=windows-msvc-x86_64/1493/console

[2017-05-11 19:01] dslomov commented on #2977
Is it possible to switch to 5.0rc bazel.exe on Windows as a bootstrapper?
The problem is less acute there.

On Thu, May 11, 2017 at 8:54 PM, Kristina <notifications@github.com> wrote:

--
Google Germany GmbH
*Erika-Mann-Straße 33, 80636 München, Germany*

[2017-05-11 20:14] damienmg commented on #2957
Try to set strip_prefix to ".", it should not flatten the structure this way.

[2017-05-11 20:19] damienmg commented on #2945
So you mean that there is no build of a JDK whatsoever on that platform?

[2017-05-11 20:22] udnaan commented on #2945
That is correct.

[2017-05-11 20:50] damienmg commented on #2945
So supporting those platform means for us to rewrite Bazel outside of JVM :(, unless you would be ok with cross-compilation (that is not having Bazel on the machine you target)?

[2017-05-11 21:02] znull opened #2995 "excessive 'ijar: skipping unknown attribute: "org.aspectj.weaver.MethodDeclarationLineNumber".' output"
as mentioned at https://groups.google.com/forum/#!topic/bazel-discuss/DmfErzHeBjI, use of bazel with aspectj can cause extremely verbose output, mostly consisting of hundreds or thousands of lines like:

`ijar: skipping unknown attribute: "org.aspectj.weaver.MethodDeclarationLineNumber".`

[2017-05-11 21:05] damienmg commented on #2978
Thanks all the information I need is there.

The problem is the binary is edited after by setting the rpath, right? Which might mess up with zip data, you might want to run zip -A on Bazel. It stills needs to extract the install key to verify it does not need to extract all the remaining parts. Also Bazel contains other C++ binary and you are going to run in the rpath problem all the time.

Side-n

[2017-05-11 21:58] KGan commented on #2665
Pinging this as it's still an issue I just haven't had it as a priority to figure out. How is it that a file necessary for building a rule A can be available when building it but not when building another rule B that depends on A...?

[2017-05-11 22:02] brian-peloton opened #2996 "CppCompileAction's extra action info is nondeterministic"
### Description of the problem / feature request / question:
The sources_and_headers in the cpp_compile_info is nondeterministic because it depends on whether the action's inputs have been discovered or not at the time it's emitted. This leads to overexecution and nondeterminism. I think the specific cause of my nondeterminism is .d-pruning. Specifically, `CppCompileAction#getExtraActionInfo()` re

[2017-05-11 22:32] MarkusTeufelberger opened #2997 "skylark new_git_repository rules react different than native rule with build_file"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:

When playing around with new_git_repository and after reading the hint that I should use the skylark ruleset from "@bazel_tools//tools/build_defs/repo:git.bzl" instead of the native "new_git_repository()" I

[2017-05-11 22:49] udnaan commented on #2945
That is a reasonable answer event though not quite the one that I hoped. Thank you.

[2017-05-11 22:49] #2945 closed

[2017-05-11 23:14] mattmoor commented on #2812
See the discussion in [this](https://github.com/GoogleCloudPlatform/distroless/pull/11) PR, but IMO `build_tar.py` (part of `pkg_tar`) should error when the `deb` contains any more than data.

[2017-05-11 23:45] mmorearty opened #2998 "Remote cache hashes sometimes depend on user's absolute path to workspace"
### Description of the problem / feature request / question:

In my organization's pretty complex build system, it seems that if two users have the same workspace, and we are using remote caching, some of the build artifacts will only download from the cache if the two users have the exact same absolute path to their workspace.

For example, suppose Alice checks out her org's workspace `~/code` on

[2017-05-12 06:09] softprops commented on #2964
Just leaving this here for documentation.  For others that want a way to work around with using a release there is a [documented set of error codes](https://bazel.build/versions/master/docs/bazel-user-manual.html#what-exit-code-will-i-get). The error code bazel returns for this is 37.

[code]

To work around cache downtime ( or offline builds ), I'm falling back on a build that doesn't use remote

[2017-05-12 06:17] softprops commented on #2998
Is there any documentation on what is included/excluded in a cache key?

I'm selling my company on bazel specifically for its remote caching features. I don't think we'll have these same issues because the code location is always the same on dev machines but Im wondering what other factors contribute to cache keys. Things like  environment variables and build arguments. In some builds we'e add deb

[2017-05-12 07:25] MarkusTeufelberger commented on #2998
I would expect everything to contribute to the cache key that (potentially) changes the resulting binary. After all the point is to not repeat work, but to still be able to get exactly the same output for the same input.

[2017-05-12 07:40] aehlig commented on #2989
I believe that issue is already fixed upstream, with 598c90d0a24140ef81042efd3fd4aac9d48ec5ed (May 5, 2017). That change also changed the position of the timestamp so that timestamps are always at the beginning of line, reduces to second granualrity, and adds it to the progress messages (regardless if curses are used or not).

Please try with bazel at or after the mentioned commit and feel free to

[2017-05-12 07:40] #2989 closed

[2017-05-12 08:58] laszlocsomor commented on #2989
Thanks, confirmed that it's fixed now!
I however liked the old format (MM-DD HH:MM:SS.mmm), both the month/day and milliseconds were useful IMO. Can you say more about why the new format was simplified?

[2017-05-12 09:43] aehlig commented on #2989
Month and Date were never included in the experimental_ui to reduce redundant
information; even at google, builds usually finish within a single day.

The milliseconds were removed as the accuracy was never that good anyway: we
could only report the time when event was printed, not when it was generated
(and there are synchronized blocks flushing to the terminal, etc). Moreover,
progress updates a

[2017-05-12 09:47] laszlocsomor commented on #2989
Thanks, that's a compelling argument you presented :) As for use case, I thought about analyzing CI build logs, but come to think of it if an operation is abnormally slow then that that'll show up on the second-precision too.

[2017-05-12 10:18] SidduMirji commented on #694
Pls provide the `gen py` rule as well.

[2017-05-12 10:51] laszlocsomor opened #2999 "uncaught exception in bazel query"
I'm experimenting with repository rules and I most likely wrote something utterly senseless, yet an error message would be nicer here.

WORKSPACE:
[code]

foo/repo.bzl:
[code]

Output:
[code]

Bazel version:
[code]

[2017-05-12 11:15] andrasferenczi commented on #2993
I accidentally omitted "--core_library=true" setting from the question, I am sorry about that. I needed that setting to add javax.* dependency, but I had forgotten it would break the whole desugar process.

[2017-05-12 11:15] #2993 closed

[2017-05-12 11:30] lberki commented on #970
In that case, let me close this bug and continue the discussion on per-issue ones.

[2017-05-12 11:30] #970 closed

[2017-05-12 11:33] laszlocsomor commented on #2994
1. Could it be that the disk is filling up, particularly `$TMP`?
2. What other symptoms do you observe, does it just no longer start after a while?
3. Is everything OK with the file permissions? See https://github.com/bazelbuild/bazel/issues/2810#issuecomment-300795901 for what I mean.

As workarounds:
1. kill all running Bazel servers (java processes in Task Manager)
2. add the `--client_debug` s

[2017-05-12 12:45] laszlocsomor commented on #2977
Done. I logged in to all 4 Windows workers, downloaded the msys-less 0.5.0rc6 binary into c:/bazel_ci/installs/0.5.0rc6-msvc/bazel.exe, and updated the c:/bazel_ci/installs/{bootstrap,latest} junctions to point to 0.5.0rc6-msvc.

The first CI run to use the new binary will be http://ci.bazel.io/view/Bazel%20bootstrap%20and%20maintenance/job/Bazel/1497/

[2017-05-12 14:07] lberki commented on #2790
While I haven't pinned down the issue to one particular change, it appears to have been fixed both at `HEAD` and in the upcoming `0.5.0` release. Given that, I think it's pointless to investigate further. All the glory for acausal bugfixing! We fix bugs even before you report them :)

[2017-05-12 14:07] #2790 closed

[2017-05-12 14:14] kchodorow commented on #2999
Yeah, looks like the cycle reporter just isn't handling this type of cycle.

[2017-05-12 14:16] davideleoni90 opened #3000 "Compile Bazel on Power8"
Hi!

I am trying to compile Bazel from source on a Power 8 machine.

Here's the error I get when launching "bash compile.sh"

🍃  Building Bazel from scratch.......
🍃  Building Bazel with Bazel.
ERROR: No toolchain found for cpu 'ppc'. Valid cpus are: [
  piii,
  armeabi-v7a,
  x64_windows_msvc,
  x64_windows_msys,
  s390x,
  ios_x86_64,
].
INFO: Elapsed time: 2.181s

ERROR: Could not build Bazel

[2017-05-12 14:40] kchodorow commented on #2995
As a workaround, you could use [`--output_filter`](https://bazel.build/versions/master/docs/bazel-user-manual.html#flag--output_filter) to suppress that output.

However, as a larger issue, we probably shouldn't warn (or do it at a more verbose log level).

[2017-05-12 14:55] kchodorow commented on #2665
Sorry about the delay!

That sounds like a bug in the node_binary rule, it looks like it's not actually taking start.js as an input to its action (https://github.com/pubref/rules_node/blob/master/node/internal/node_library.bzl#L112).  Does adding it there help?

[2017-05-12 15:17] Helcaraxan commented on #2994
Thank you for the quick points @laszlocsomor:

Conclusion as far as the diagnose with 0.4.5:
1. Disk is not filling up (over 150Gb left).
2. No other particular symptoms. Just Bazel that does not want to run by any means. It indeed no longer starts after while, and that while is not coming right after some other specific event.
3. File permissions are OK. To be sure I even ran `bazel version` as a

[2017-05-12 15:18] #2994 closed

[2017-05-12 15:22] laszlocsomor commented on #2994
Woohoo, great! I'm glad it helped :) Thanks for getting back with the good news.

FYI, 0.5.0 release is coming soon! This is still the release candidate.

[2017-05-12 15:27] ulfjack commented on #2336
I think the report is that pkg_zip doesn't work on Windows yet, and that we need to make it work. That suggests the multi-platform > windows category. Is that correct?

[2017-05-12 15:42] kchodorow commented on #3000
I'm actually not sure why it doesn't pick this up automatically, but it seems to only be looking for crosstools in `@local_config_cc`, which doesn't contain a ppc crosstool (?).  You have to give the `--crosstool_top=//tools/cpp:default-toolchain` argument to make it look at //tools/cpp, which _does_ contain a ppc toolchain.

However, I'm not actually sure how to give extra arguments to the ./comp

[2017-05-12 15:46] davideleoni90 commented on #3000
I solved it by myself making two small modifications:

1- added
       default_toolchain {
  	  cpu: "ppc64"
  	  toolchain_identifier: "local_linux"
	}

   to tools/cpp/CROSSTOOL

2- in the file "tools/cpp/cc_configure.bzl" changed

    "if result.stdout.strip() in ["power", "ppc64le", "ppc"]:"

    into "if result.stdout.strip() in ["power", "ppc64le", "ppc", "ppc64"]:"

I am not sure if both th

[2017-05-12 16:12] Helcaraxan commented on #2994
Yes. I'm aware. Am following the release issue actively.

[2017-05-12 16:34] damienmg commented on #3000
@davideleoni90: would you be willing to send a PR with those modification? They looks reasonable to me.

[2017-05-12 16:35] damienmg commented on #3000
(re-opened the bug because the code is not fixed)

[2017-05-12 16:39] kchodorow opened #3001 "Windows compile script is broken"
It looks like it's stripping one of the /s?

[code]

http://ci.bazel.io/view/Bazel%20bootstrap%20and%20maintenance/job/Bazel/JAVA_VERSION=1.8,PLATFORM_NAME=windows-x86_64/1497/console

[2017-05-12 16:40] kchodorow commented on #3001
Ah, looks like this is the RC build, fwiw

[2017-05-12 16:42] damienmg commented on #2692
Some updates:
There 2 release blocker open right now, @philwo pinged me about another bug that surfaced inside of Google and we are still waiting for a green from some of users of Bazel (including TensorFlow).

The good part is rc6 is bootstrapping fine in homebrew :p

[2017-05-12 16:43] qualiaa commented on #2978
Ah, of course, that makes sense. Running `zip -A bazel` has fixed the reported error. Thanks for your help!

I still run into problems (Bazel now hangs after extraction) but I think this is to do with my less-than-sane environment (different ld.so.2s, different rpaths) - when I get time I'll install an isolated binutils/gcc/glibc/libstdc++ on the cluster and use it to build Bazel properly.

In cas

[2017-05-12 16:43] #2978 closed

[2017-05-12 17:03] schroederc opened #3003 "Expose OutputGroupProvidor.FILES_TO_COMPILE to Skylark"
By exposing the FILES_TO_COMPILE output_group, custom Skylark rules can designated a subset of files that are the direct output of the compiler.  This lets a user skip expensive actions such as linking when they only want to compile source code (possibly to check for compile errors).

As of right now, this command only works for the native Bazel rules and cannot work-as-expected for Skylark rules:

[2017-05-12 17:29] softprops commented on #2998
I won't expect build profiling output to contribute to the binary so that works for me. That's actually me guessing though. I would not like to guess and have better documentation for :)

[2017-05-12 17:32] KGan commented on #2665
This worked, thanks very much! To clarify the small typo, it seems the node_library rule wasn't adding its data dependencies (the `main.bundle` file) to its actions.

I added the data dependencies to that action in node_library and it worked like a charm.

[2017-05-12 17:58] brunobowden commented on #2964
+1

Ideally also provide:
1. Console warning that build cache is configured but failing over to local build.
1. Configure timeout for contacting build cache.
1. Option to force use of build cache and fail if unavailable (this is the current behaviour and useful for checking that build cache is working).
1. Finally do parallel execution of local build, so that it doesn't block waiting on a response

[2017-05-12 17:59] kchodorow commented on #2665
Great!  Glad it worked out.

[2017-05-12 17:59] #2665 closed

[2017-05-12 18:12] kchodorow commented on #2997
I think it should be consistent between both native & skylark rules if you do:

[code]

...but you are correct, these should be consistent.

[2017-05-12 18:35] kchodorow commented on #2990
That seems like a good idea to make sha256 more widely useful (and, perhaps, speed up git_repository in some cases).

[2017-05-12 18:41] kchodorow commented on #1023
As @ulfjack summarized in #issuecomment-226107952, there's more we could do.

[2017-05-12 18:57] kchodorow commented on #2960
Aha! There is both a PAM.7.gz and a pam.7.gz file, and since OS X has a case-insensitive filesystem, it thinks those are the same and doesn't want to overwrite one with the other.  Hmm. AFAICT, native tar just happily overwrites the file, so I guess that's what Bazel should do, too.

[2017-05-12 19:06] ulfjack commented on #2998
Can you check with 0.5.0 (possibly with the release candidate?). I wonder if 40bf169dfad2a3285d255c9100450b29be63202c has fixed this.

The cache key is computed from the command line, the input files, the output files, and the environment variables for each action.

[2017-05-12 19:08] ulfjack commented on #2998
Unfortunately, if workers are enabled for a specific action type, we never use the remote cache right now. I have a series of pending changes to fix that, but they haven't landed yet.

[2017-05-12 19:22] ulfjack commented on #2964
Maybe we can fit this into 0.7. One thing I was planning to do (independently of this request) is to try to establish a connection at the start of a build, and have all actions block on that. I suppose if that times out, we could give a warning if -k is enabled (or maybe another flag). I don't think we want to fall back by default.

[2017-05-12 21:54] yuekui2 commented on #2957
works. Thanks a lot.

[2017-05-12 21:54] #2957 closed

[2017-05-12 22:03] aleb commented on #2790
If you can reproduce with 0.4.5, you could still add some unittest which checks this does not break again.

[2017-05-13 04:15] mmorearty opened #3004 "ArrayIndexOutOfBoundsException building my project with 0.5.0-release"
### Description of the problem / feature request / question:

Apologies again for not providing a repro case; but doing so would involve either giving you a bunch of proprietary code, or taking a lot of time to narrow this down to a smaller repro case. Hopefully the following information will be sufficient to be helpful to you...

My project, which builds fine with Bazel 0.4.5, fails with an Array

[2017-05-13 05:18] mmorearty commented on #3004
The target `//third_party/web:minimist` that was mentioned in the exception looks like this:

[code]

`ts_import` is a custom rule of ours:

[code]

`@node_modules` looks like this:

[code]

The `minimist` part of node_module's build file is:

[code]

And `minimist/**` matches these files:

[code]

[2017-05-13 09:11] petemounce commented on #2692
I've pushed RCs that I know about:
* https://chocolatey.org/packages/bazel/0.5.0-rc4
* https://chocolatey.org/packages/bazel/0.5.0-rc5
* https://chocolatey.org/packages/bazel/0.5.0-rc6

[2017-05-13 09:25] MarkusTeufelberger commented on #2997
Why? In the end it seemed to me that the //external package is the most logical place for external dependencies to reside in.

Anyways, yes, specifying the full path instead of just the file name seems to work.

[2017-05-13 17:06] ittaiz commented on #970
@lbrelki do we have additional issues for these? I don't think so

[2017-05-13 17:59] mmorearty commented on #2998
@ulfjack, this appears to be fixed in `release-0.5.0`! (I tested it at commit 63600d7e0.)

[2017-05-13 18:18] softprops commented on #2998
Does that mean if a bazel build providing cmdline  flags like `--verbose_explanations --explain explain.out --profile build.prof` would yield a different cache key then a bazel build without?

[2017-05-13 19:25] ulfjack commented on #2998
No. Only the command-line of the specific action is part of the cache key for that action. Think "javac Source.java" will not be equal to "javac -g:none Source.java". If you run bazel --copt=-O2, you still get cache hits for all the Java actions.

[2017-05-13 20:54] softprops commented on #2998
Excellent!

[2017-05-14 01:14] kgreenek commented on #429
I am still getting this problem actually. I have a *.bzl file located at //bzl/glob_cc_proto_hdr.bzl. I'm trying to load it from a BUILD file that is being passed to an external workspace created by new_git_repository. Here's the error I am getting:

ERROR: /home/kevin/Projects/first_commit/WORKSPACE:55:1: error loading package '@ign_msgs_archive//': Extension file not found. Unable to load packag

[2017-05-14 01:22] AustinSchuh commented on #429
Try @//bzl:glob_cc_proto_hdr.bzl .  That will load it from the main
workspace.

Austin

On Sat, May 13, 2017 at 6:14 PM Kevin Greene <notifications@github.com>
wrote:

[2017-05-14 02:59] kaituoxu opened #3005 "How to replace http_jar in workspace.bzl on a Internet-limited machine?"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:

My RHEL 6 server can not access Internet, I can only download .jar file in advance and put it in RHEL server.
But I don't know how to replace http_jar in the workspace.bzl, just like the way new_local_repos

[2017-05-14 21:44] EricCousineau-TRI commented on #2317
I have made a hacky workaround for people with Bazel <=0.4.5 (myself included):
https://github.com/EricCousineau-TRI/repro/blob/860323d/shell/bazel_workspace_name.py

Slow, but it appears to work.

[2017-05-14 21:46] petemounce commented on #2692
@damienmg @laszlocsomor et al - what, if anything, would you like me to do to the chocolatey package to represent the fact that there are now 3 flavours of bazel possible to get as I can see:
* current one
* one that doesn't have jdk7 bundled
* one that is msysless
?

I could add a flag to the installer to specify which zip to download, and therefore which checksum to use, but that would be a bit

[2017-05-14 21:48] petemounce opened #3006 "Have chocolatey package support different flavours of bazel?"
(Forked from #2692)

@damienmg @laszlocsomor et al - what, if anything, would you like me to do to the chocolatey package to represent the fact that there are now 3 flavours of bazel possible to get as I can see:
* current one
* one that doesn't have jdk7 bundled
* one that is msysless
?

I could add a flag to the installer to specify which zip to download, and therefore which checksum to use, but

[2017-05-15 02:21] asagjj commented on #2485
So how can I set "GRPC_JAVA_PLUGIN"?...

[2017-05-15 07:26] laszlocsomor commented on #3006
Hey Peter,

Thanks for raising this issue.

Timeline and plans: we'll phase out the msys-ful version by 0.6, but I don't know about plans with the JDK-ful vs. JDK-less version -- @philwo?

Choosing between versions: for now I think a dispatcher script would be the easiest way forward -- "bazel.bat" chooses between "bazel-{msys,msvc}-{with,without}-jdk.exe". WDYT?

Installer: I agree the script cou

[2017-05-15 07:47] laszlocsomor commented on #2692
@petemounce : I replied on https://github.com/bazelbuild/bazel/issues/3006
Also, thank you for pushing the RCs!

[2017-05-15 08:42] laszlocsomor commented on #3001
This is caused by MSYS's path translation heuristic. I changed the bootstrap bazel to be 0.5.0rc6-msvc so it is now a non-msys binary, so MSYS will translate its path-looking arguments, e.g.:
[code]

But fortunately this can be turned of with MSYS2_ARG_CONV_EXCL="*" (http://stackoverflow.com/questions/7250130/how-to-stop-mingw-and-msys-from-mangling-path-names-given-at-the-command-line/34386471#34

[2017-05-15 08:54] steren commented on #1707
To start simple, let's at least just explain which version of Jekyll is needed, and that `serve-docs.sh` must be used.

[2017-05-15 09:00] laszlocsomor commented on #3001
MSYS-ful binaries aren't affected by the `MSYS2_ARG_CONV_EXCL` envvar, so this is safe to add to our CI scripts.

[2017-05-15 09:18] laszlocsomor commented on #3001
We may also be interested in `MSYS2_ENV_CONV_EXCL`.

And it turns out @gintas already asked the MSYS devs about this 2.5 years ago: https://github.com/Alexpux/MSYS2-packages/issues/84

[2017-05-15 09:22] laszlocsomor commented on #3001
In this comment: https://github.com/Alexpux/MSYS2-packages/issues/84#issuecomment-58522726
"Second, you can disable mangling some arguments with MSYS2_ARG_CONV_EXCL environment variable. This variable can contain semicolon separated list of arguments started with values that don't need to be converted." -- So all we need is `MSYS2_ARG_CONV_EXCL="//"`

[2017-05-15 09:33] petemounce commented on #3006
I'm not fond of the idea of a `bat` dispatcher, writing it or supporting it - very unfamiliar with shell programming with that beyond executing commands in sequence.

Also - how would `bazel.bat` choose between the `exe`s? An environment variable?

I'll scribble something that won't be good into a PR, and iterate...

[2017-05-15 09:37] laszlocsomor commented on #3006
Do you have specific concerns about the dispatcher? As for writing and maintaining it, I think it could be created by the installer, and would contain literally just one line:

[code]

or whichever version the user selected during installation. So the version (path) would be hardcoded in the dispatcher, and the installer would re-create the dispatcher every time a new version is downloaded (or the

[2017-05-15 09:50] philwo commented on #3006
IMHO it's not very useful for end users to install multiple flavors of Bazel in parallel and I'm also a bit scared of the dispatcher script. I think we should just decide on a default flavor and distribute that as bazel.exe. For 0.5.0 that might be MSYS + bundled JDK, later versions might be MSVC + bundled JDK.

Seems like Chocolatey supports a "params" flag that can be used to tune the package in

[2017-05-15 09:51] petemounce commented on #3006
The issue is that the user would be running
* `choco install bazel --params '/flavour:regular' #default
* `choco install bazel --params '/flavour:msvc'
* `choco install bazel --params '/flavour:no-jdk7'
to install in that case.

That means
* the user has to reinstall if they want to try a different flavour - that means friction on testing out the different features
* the user has to use `--force`

[2017-05-15 09:56] laszlocsomor commented on #3006
@petemounce : SGTM for the envvar-based approach too. I forgot to add `%*` to my code snippet (updated).

[2017-05-15 10:03] philwo commented on #3006
FYI, there's no "JDK7" thing on Windows. JDK7 is the old deprecated version that we still keep around for people who cannot upgrade their system JDK to JDK8. It will go away with 0.5.1.

The flavours for Windows are:
bazel-0.5.0rc6-windows-x86_64.exe = MSYS, bundled OpenJDK8
bazel-0.5.0rc6-without-jdk-windows-x86_64.exe = MSYS
bazel-msvc-0.5.0rc6-windows-msvc-x86_64.exe = MSVC, bundled OpenJDK8
ba

[2017-05-15 10:06] petemounce commented on #3006
Also, could the inconsistency with package naming please be addressed?
[code]

Could it become standardised on `bazel-<version>-<platform>-<arch>-<build flavour>.zip`?

If not that, then a consistent order to the tokens, and no repetition?

[2017-05-15 10:10] philwo commented on #3006
The file names are indeed a bit embarrassing. 😊

Would these look OK?
bazel-0.5.0rc6-windows-x86_64.exe
bazel-0.5.0rc6-windows-x86_64-without-jdk.exe
bazel-0.5.0rc6-windows-x86_64-msvc.exe
bazel-0.5.0rc6-windows-x86_64-without-jdk-msvc.exe

[2017-05-15 10:17] petemounce commented on #3006
That would be fine, though it would make the automation slightly easier if the `bazel-0.5.0rc6-windows-x86_64.exe` "regular" one _also_ had a flavour (like "standard", "regular", etc) so that the dispatcher and so on don't have to do string manipulations, and so the environment variable posited earlier in the thread doesn't have to have a `-` prefix, and hacks like that.

Since what's going to be

[2017-05-15 10:27] philwo commented on #3006
@petemounce Sounds good! I'll have a look at our scripts to see how I can tweak them to give better names and will report back.

[2017-05-15 10:34] laszlocsomor commented on #3006
Thanks to both of you! I agree with Peter that a structured name would be a lot easier; it also clarifies which version is which without having to know that the default is msys-ful.

[2017-05-15 10:35] damienmg commented on #3006
Adding some questions:

- Why would flavour be after the platform?
- Why still ship the without jdk version? If you don't ship it, the msysless is the only flavour you want to maintain and in the long term you can just plan for one variation: the not yet ready.

I also dislike encoding a flavour on the default flavour, if we can avoid it (the simpler the default name is the better).

Also the reas

[2017-05-15 10:47] damienmg commented on #3006
I agree if we already encode the version in the .exe, but I actually wonder why it is done that way? Why don't we zip a bazel.exe? Anyway if it only touch the .exe file installed by chocolatey the user won't see it that's fine, but if we special case in everything we will see it also on the shell installer (also breaking some people in the process). If we do it only for chocolatey, we special case

[2017-05-15 10:53] laszlocsomor commented on #3006
@petemounce : Another approach is to download the different variants into separate directories, and rename all of them "bazel.exe", and create a junction that points to the one the user needs, e.g. "c:/bazel/current/bazel.exe" and "current" points to, say, "c:/bazel/releases/0.5.0-msvc-without-jdk".

@damienmg :

Sorry I don't understand this, can you explain?

I don't think that's necessary, we d

[2017-05-15 11:04] damienmg commented on #3006
On Mon, May 15, 2017, 6:53 AM László Csomor <notifications@github.com>
wrote:

+1 that is consistent with Linux distribution approaches (e.g.
update-alternative)

@damienmg <https://github.com/damienmg> :

I mean we create a bazel-0.5.0-windows-x86_64.zip that contains
bazel-0.5.0-windows-x86_64.exe, why don't we store directly a bazel.exe in
that zip?

if we special case in everything we will see

[2017-05-15 11:14] lberki commented on #2996
I know :( It's kind of a hobby project of mine to clean this up, unfortunately, it's not working very well for two reasons: 1. it's fiddly and requires large chunks of make time which is not in abundance nowadays and various internal systems at Google rely on the broken semantics of extra actions. This was verified by way of trying to fix it and getting yelled at :)

So we'll have to live with thi

[2017-05-15 13:21] iirina commented on #970
@ittaiz  There is one that I know of and that is creating a provider with empty non-recursive compilation jars. I'm already working on that and it should be submitted next week.
@sdtwigg Is there anything else?

[2017-05-15 14:02] ulfjack opened #3007 "Java: productionize auto test suite"
A number of test suites use runtime collection of test classes, which can be very slow on large classpaths. Instead, I (Ulf) have prototyped using an annotation processor to collect the test classes at compile time. For some of our own unit tests, the test runs more than 2x faster.

[code]

On larger integration tests, the benefit is smaller, but I'm not sure why I measured a slowdown in that one

[2017-05-15 14:03] ulfjack commented on #3007
My code is here, but it needs to be cleaned up and ported to head:
https://github.com/ulfjack/bazel/tree/auto-java-test

[2017-05-15 14:29] autodrive opened #3008 "Is build_windows_jni.sh using $JAVA_HOME?"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:

I am trying the "Highly experimental" building bazel in Windows. `bash ./compile.sh` crashes with error messages such as
`ls: cannot access 'C:/Program Files/java': No such file or directory
ERROR: JDK not

[2017-05-15 16:42] brunobowden commented on #2964
@ulfjack - thanks for considering this for the 0.7 release. A configurable timeout, e.g. 100 milliseconds may be a good interim step. Most build caches are local to an office with extremely low ping times. Remote caches are likely rarer and maybe not as helpful due to bandwidths constraints.

Given that bazel often completes very quickly, I want to avoid a 2 second blocking action slowing down a b

[2017-05-15 17:08] MarkIennaco commented on #1580
bazel-0.5.0-rc2 still has this behavior.
Any timeline for making Python 3 a first class target?

[2017-05-15 17:25] rtsai commented on #2548
Ping. Are you able to comment on whether host_crosstool_top is expected to be required in the `config_setting`, given our use of `define`?

[2017-05-15 17:26] paladox opened #3009 "Installing java jdk1.8.0_131.jdk on mac results in bazel failing to run"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:
Install the latest java 8 from oracles websites for mac OS X 10.12.4.

_If asking a question or requesting a feature, also tell us about the underlying problem you're trying to solve._

### If possible, prov

[2017-05-15 17:52] #3000 closed

[2017-05-15 18:34] MarkIennaco opened #3010 "Python 3 support for external libraries"
I have a copy of matplotlib compiled for PY3 declared as an external library for my repo.
(the url is local for testing purposes)

[code]

The contents of the BUILD file is:

[code]

When I try to build a target that depends on the library:

[code]

The target in question has:
[code]

But bazel insists on building the library with python 2.

Adding --force_python PY3 to the build allows this targe

[2017-05-15 18:48] philwo commented on #3009
I think your running Bazel server might still refer to the old, removed JDK. If you do "bazel shutdown" in your workstation (or reboot your computer) and run the command again, it should work.

Please report back if that helped!

[2017-05-15 18:49] kchodorow commented on #2819
This was basically caused by attempts at #1681, so I'm going to roll this into testing that works.

[2017-05-15 18:49] #2819 closed

[2017-05-15 19:07] paladox commented on #3009
Oh. I just did a symlink. Didn't know there was a bagel shutdown.

[2017-05-15 19:55] kgreenek commented on #429
Ah, Thanks @AustinSchuh! Exactly what I needed.

[2017-05-15 19:59] ulfjack commented on #2964
Sure, I suppose we could add a timeout to the initial remote cache request and treat that as failed if it times out. This would be opt-in with a flag. That might be easier than I previously thought.

[2017-05-15 20:02] ulfjack commented on #2964
It's easy to attempt a lookup, timeout, run the action, upload.

It's difficult to start the action cache lookup, wait a bit, then start local execution, and then cancel local execution if the action cache lookup returns successfully when the local process is already running.

[2017-05-15 20:17] brunobowden commented on #2964
Ulf - I'll defer to your great knowledge of the bazel internals. For now,
just configuring an opt in short timeout and fallback to local build would
solve 70% of the problem. I'll defer to you on how to approach it beyond
that.

On Mon, May 15, 2017, 1:02 PM Ulf Adams <notifications@github.com> wrote:

[2017-05-15 21:26] #2982 closed

[2017-05-15 21:29] kchodorow commented on #2857
This should be fixed by #1681, but leaving this open to make sure there's a test that changing the `workspace()` name doesn't trigger the same issue.

[2017-05-16 04:44] zhexuany commented on #1439
@kchodorow Any updates about this particular issue?

[2017-05-16 05:17] zhexuany opened #3011 "How bazel deal with fat jar and relocating issue?"
I am working on a java project. We were use maven for building until we cann't bear with the slowness. We decide to move to `bazel`. We figures almost everything out but two things we can not find any docs about these. First one is `fat jar`. Second one is `shading`.  I hope someone from the community could give us some hits about how to do these.

We already googled everywhere but did not find sa

[2017-05-16 06:39] zhexuany commented on #3011
https://github.com/pingcap/tikv-client-java/issues/30

[2017-05-16 06:46] ittaiz commented on #3011
Have you tried deploy_jar? It's a fat jar
On Tue, 16 May 2017 at 9:39 Yang Zhexuan <notifications@github.com> wrote:

[2017-05-16 06:50] ittaiz commented on #3009
Philipp,
So by design when one upgrades java they will need to shutdown the Bazel
server?
On Mon, 15 May 2017 at 22:07 paladox <notifications@github.com> wrote:

[2017-05-16 06:53] zhexuany commented on #3011
@ittaiz I could not find any docs related with `deploy_jar`.

[2017-05-16 07:02] ittaiz commented on #3011
https://bazel.build/versions/master/docs/be/java.html#java_binary_implicit_outputs
Specifically:

Building the <name>_deploy.jar target for your rule creates a self-contained jar file with a manifest that allows it to be run with the java -jar command or with the wrapper script's --singlejar option. Using the wrapper script is preferred to java -jar because it also passes the JVM flags and the opt

[2017-05-16 07:58] ittaiz commented on #2998
Ulf,
Is there a hash key doc? If so any chance for a link?
I think it would help future visitors of this issue
On Sat, 13 May 2017 at 23:54 doug tangren <notifications@github.com> wrote:

[2017-05-16 09:18] philwo commented on #3009
@damienmg @ulfjack I have a feeling this is related to bugs like "I upgraded my Xcode version and now Bazel can't build anything", which we discussed on the mailing list some time ago. Do we have a tracking bug for that?

[2017-05-16 10:17] nvarini opened #3012 "Could not find or load main class com.google.devtools.build.lib.bazel.BazelMain"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:

After the installation bazel tells me Error: Could not find or load main class com.google.devtools.build.lib.bazel.BazelMain
any idea why?

### If possible, provide a minimal example to reproduce the proble

[2017-05-16 10:40] zhexuany commented on #3011
We actually tried that. But we could figure out how to trigger this implicit output. Could you please tell me how to?

[2017-05-16 11:36] damienmg commented on #3009
I don't think we have a tracking bug for it. The local_jdk repository predate the environment work and even the Skylark repository work. Maybe we should rewrite it in Skylark to allow to do detection of the jdk with correct invalidation, /cc @kchodorow.

I also believe a shutdown might not be enough (but it is certainly necessary because java.home is not going to be updated). A Wipeout of the cach

[2017-05-16 12:15] ittaiz commented on #3011
Sure thing-
Given a target named `baz` in package `//java/com/example/foo` you should call `bazel build //java/com/example/foo:baz_deploy.jar`. Note the `_deploy.jar` suffix.
In general btw I think you should really try to use SO and tag your question with Bazel since this doesn't sound like an issue with Bazel itself.

[2017-05-16 12:27] zhexuany commented on #3011
@ittaiz That works.

How about another issue? The relocating issue? We used `maven-shade` plugin to do this. Is there any thing in bazel can do the same thing as we did before with maven?

[2017-05-16 12:55] ulfjack commented on #3009
@ittaiz I would call it a bug, not a feature, so I wouldn't say that this is 'by design'. :-)

[2017-05-16 13:33] dslomov commented on #2692
Please cherrypick (infrastructure changes):
https://github.com/bazelbuild/bazel/commit/eb565f408e03125e92d42b00756e519795be6593
https://github.com/bazelbuild/bazel/commit/39f328cf392056618d1a3ead4835a138b189a06d
https://github.com/bazelbuild/bazel/commit/624802893f4fe72118f00a78452605d41a2e1c6f

[2017-05-16 15:23] ittaiz commented on #970
@iirina do you mean [9671: Loosen java_library.exports and java_import.*](https://bazel-review.googlesource.com/c/9671/)?
IINM there is no github issue for that but if indeed that's the only issue left then maybe it's ok. Maybe @sdtwigg can add more.

[2017-05-16 16:58] dslomov commented on #3008
Any reason you are not using prebuilt Bazel on Windows?

[2017-05-16 16:59] dslomov commented on #3005
@kchodorow any ideas?

[2017-05-16 17:01] dslomov commented on #3004
@kchodorow could you take a look? This sounds like a potentially serious regression

[2017-05-16 17:04] ittaiz commented on #3011
There is a solution but unfortunately I don't remember it off the top of my
head.
I suggest you ask that on SO.
Bazel team members (as well as community members) monitor the tag and help
out.

On Tue, May 16, 2017 at 3:27 PM Yang Zhexuan <notifications@github.com>
wrote:

[2017-05-16 17:09] AustinSchuh opened #3013 "Label documentation out of date."
https://bazel.build/versions/master/docs/build-ref.html#labels

The label section doesn't mention @reporitory//:target in the description of the syntax.  I would have expected either a description there or a link to a description.  (I was looking for a link to use in answering a question.)

Edit: https://bazel.build/versions/master/docs/external.html hints at the syntax, but isn't very clear.

[2017-05-16 17:23] dslomov commented on #3006
@petemounce do you have any numbers on how many people install bazel via chocolatey?
Frankly, I would be open to chocolatey package only containing oine version of Bazel, that version being msys-less (msvc) with bundled JDK. What say you?

[2017-05-16 17:29] aj-michael commented on #1428
This was documented in c3c4f36d90f33cedc61a22ffd34daa72a36f1f7d. The docs are now live on https://bazel.build/versions/master/docs/be/workspace.html#android_sdk_repository.

[2017-05-16 17:29] #1428 closed

[2017-05-16 17:29] dslomov commented on #2685
@lberki ping?

[2017-05-16 17:30] aj-michael commented on #1272
Documentation for android_sdk_repository and android_ndk_repository is now live on https://bazel.build/versions/master/docs/be/workspace.html.

[2017-05-16 17:30] #1272 closed

[2017-05-16 17:36] dslomov commented on #2674
Duplicate of #1525

[2017-05-16 17:36] #2674 closed

[2017-05-16 17:46] philwo commented on #3006
@dslomov Download numbers are here, broken down by version if you scroll down: https://chocolatey.org/packages/bazel

0.4.5 had ~2000 downloads in total.

I would also prefer a simple package that just ships one default version (MSVC + bundled JDK sounds good).

[2017-05-16 18:43] laszlocsomor commented on #2892
Reopening, not merged to upstream yet.

[2017-05-17 01:22] endobson opened #3014 "Comment in examples of runfiles provider is out of date."
https://bazel.build/versions/master/docs/skylark/cookbook.html

The comments here talk about setting the fields on the struct returned, yet this is using the newer api of directly returning providers.

[2017-05-17 01:24] endobson opened #3015 "Documentation on DefaultInfo is lacking"
https://bazel.build/versions/master/docs/skylark/lib/globals.html#DefaultInfo

DefaultInfo doesn't describe what the fields one can set on it do. While something can be inferred from names, the difference between `runfiles` and `default_runfiles` is unclear as well as what `files` means.

[2017-05-17 01:29] mhlopko commented on #2904
@lberki @damienmg Is this really a release blocker?

[2017-05-17 01:55] endobson opened #3016 "DefaultInfo doesn't work as examples show"
Code:
https://gist.github.com/endobson/06448eb94f28c1e2d364e282ef6a0cc6

Working of example like:
https://bazel.build/versions/master/docs/skylark/cookbook.html#runfiles-and-location-substitution

Error message:
[code]

### Environment info
* Operating System:
macOS

* Bazel version (output of `bazel info release`):
release 0.4.5- (@non-git)
Used the same code as 4.5, but built myself.

[2017-05-17 02:01] damienmg commented on #2904
Lukacs fixed several things on building jacoco we should retest with 0.5.0rc7 to assess the issue. I am not sure it should be a release blocker if there isa workaround since it is a feature that was not working correctly in previous releases.

[2017-05-17 03:57] xzy256 opened #3017 "How to make bazel to be available for mips64el arch"
I build the bazel source code at mips arch, i get error
<pre>
[root@localhost bazel]# ./compile.sh
INFO: You can skip this first step by providing a path to the bazel binary as second argument:
INFO:    ./compile.sh compile /path/to/bazel
🍃  Building Bazel from scratch
ERROR: Must specify PROTOC if not bootstrapping from the distribution artifact

--------------------------------------------------

[2017-05-17 04:54] AlexYursha opened #3018 "Building Bazel from source fails"
### Description of the problem / feature request / question:

Building Bazel from source fails.

### If possible, provide a minimal example to reproduce the problem:
- Download Bazel 0.4.5 release archive from Github
- Unzip it
- Run a build command as in the log snippet below

### Environment info
* Operating System:
Chromebook Crouton environment, ubuntu-xenial

* Bazel version (output of `bazel

[2017-05-17 08:05] #3012 closed

[2017-05-17 11:39] sowani opened #3019 "Bazel test cases timing out on CentOS 7."
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:

I have observed that certain Bazel test cases from the test suite are timing out on CentOS 7 (kernel version 3.10.0-123.el7.x86_64). For example, I tried bazel_coverage_test (using command bazel test //src/

[2017-05-17 11:41] ittaiz commented on #2475
Hey, I have this exact same need but I can't use `short_path` since we're talking about a macro...
It's basically wrapping `rules_scala` with a macro and computing some values (one of them being the short_path of the output of the rule being wrapped)

[2017-05-17 11:53] ivucica commented on #2420
Any activity here?

Would there be some desire to have a mini-hackathon to get Objective-C to build acceptably with Bazel? Perhaps with a stretch goal of having `libobjc2` (runtime) + `gnustep-base` (Foundation), or even `gnustep-gui` (AppKit), build with Bazel?

[2017-05-17 12:46] ains opened #3020 "Bazel fails during analysis phase - "Server terminated abruptly""
### Description of the problem / feature request / question:

When running Bazel in CI and building targets with rules_go the build will infrequently fail with the message

[code]

The "jvm.out" file given as the log file is empty. The last message in the bazel java.log file is
"INFO: Starting analysis"

### If possible, provide a minimal example to reproduce the problem:

N/A

### Environment inf

[2017-05-17 13:10] xzy256 commented on #3017
**i build relational protobuf and set env available PROTOC in /etc/profile, i get another error.**
<pre>
INFO: You can skip this first step by providing a path to the bazel binary as second argument:
INFO:    ./compile.sh compile /path/to/bazel
Building Bazel from scratch
ERROR: Must specify GRPC_JAVA_PLUGIN if not bootstrapping from the distribution artifact
</pre>
**as if, locking of grpc-java-p

[2017-05-17 13:22] #2783 closed

[2017-05-17 15:27] #2892 closed

[2017-05-17 15:56] ains commented on #3020
Turns out this was the OOM killer, the CI machines were running out of memory during the Bazel run.

[2017-05-17 20:23] EricCousineau-TRI opened #3021 "Bazel's grep-based bash completion isn't always sufficient"
### Description of the problem:

As we are developing [drake](https://github.com/RobotLocomotion/drake/), we have noticed that we frequently do not get all valid / any bash completion with `bazel test` or `bazel run`, but we do seem to be able to consistent do bash completion with `bazel build`.

### If possible, provide a minimal example to reproduce the problem:

[code]

As a workaround, if I ad

[2017-05-17 23:51] jart opened #3022 "Project's .bazelrc should inherit ~/.bazelrc"
TensorFlow `./configure` outputs a `tensorflow/.bazelrc` file. But this causes Bazel to ignore what's in `~/.bazelrc`. It would be nice if the project-level one inherited and overrode the home directory one.

[2017-05-18 01:23] lswith commented on #2988
any updates on this?

[2017-05-18 02:33] EricCousineau-TRI commented on #3021
Yup, since `BAZEL_COMPLETION_USE_QUERY=false` by default (and it's way too slow if it's on, as indicated by the comments), then the text matching in `_bazel__matching_targets` of `.*_test|test_suite` was not matching against our specification as `drake_cc_googletest(...)`. We would not have seen this if we had defined our target as `drake_cc_test`, or `drake_cc_google_test(...)`.

Relaxing the pat

[2017-05-18 06:29] benjaminp opened #3023 "ctx.resolve_command may only be used safely once per target"
If the `command` passed to `ctx.resolve_command` is too long, Bazel will automatically write it to a file named `ctx.label.name + '.script.sh'`. Thus, if `ctx.resolve_command` is given a long command line more than once during the analysis of a single target, there will be multiple actions trying to generate the same script file artifact. This problem is insidious because action command lines are

[2017-05-18 07:23] petemounce commented on #3006
A different approach would be to include several binaries in the single zip file for Windows? Or at least, one zip file with whatever the default flavour is, and one zip with all of them, then a parameter to the package to tell it which zip to get.

UX for regular users is unaffected, UX for people with appetite to test is only affected by size of download, which is a one time hit per install. Bot

[2017-05-18 07:24] petemounce commented on #3006
What are the download stats for non chocolatey Windows binaries by the way?

[2017-05-18 08:51] sowani commented on #3019
I upgraded CentOS kernel version to the latest available (4.11.1-1.el7.elrepo.x86_64 #1 SMP Sun May 14 11:54:29 EDT 2017). However the issue is still there.

[2017-05-18 12:16] satendrapratap opened #3024 "Bazel hangs"
We tried to find bazel version using "bazel version" this is hanging:
$ bazel version
. {hangs here}

### Environment info
* Operating System:
Linux 3.4.0+ #1 PREEMPT Thu Aug 1 17:06:05 CST 2013 x86_64 x86_64 x86_64 GNU/Linux

* Bazel version (output of `bazel info release`):
Build label: 0.4.5
Build target: bazel-out/local-fastbuild/bin/src/main/java/com/google/devtools/build/lib/bazel/BazelServe

[2017-05-18 15:54] Helcaraxan opened #3025 "[Windows msys-less] Build fails with path not found, rerun fails with source forest creation."
### Description of the problem:

I have been trying out the 'msysless' version of Bazel on 0.5.0-rc6 while running in PowerShell. I have used it succesfully on one machine, now trying it out on another the build fails with a path that is not found.

Rerunning does not fail with the same error but rather raises a `Source forest creation failed`.

Here follows the output:
[code]

### If possible, pr