[2020-02-03 14:51] laurentlb commented on #10000
Can you confirm this was released in 2.0?
If so, we can close the issue.

[2020-02-03 14:52] joeleba commented on #10358
This is not yet ready for migration.

[2020-02-03 14:53] laurentlb commented on #8139
cc @alandonovan - if you want to delete some code, we need a flag to remove `cmd_helper`.

[2020-02-03 14:56] nlopezgi commented on #10644
Could we get a patch release of rules_go to go with this fix please. See https://github.com/bazelbuild/rules_k8s/pull/517#issuecomment-581451960

[2020-02-03 15:03] susinmotion commented on #10536
It came out in March 2019. The instructions are a little confusing wrt the process for adding `migration-*` labels. Am I supposed to add this? Or is it part of the release manager process?

[2020-02-03 15:12] dslomov commented on #10536
Per https://www.bazel.build/breaking-changes-guide.html#labels, the change author is supposed to add migration-ready label once the flag is in, and the release manager will then add appropriate 'migration-*' labels.

Since this didn't happen for this flag (in fact, the bug for the change has only been added a month ago) our users have had no warning that it is coming.

Let me add some labels that

[2020-02-03 15:22] irengrig commented on #10680
/cc @meteorcloudy

[2020-02-03 15:27] susinmotion commented on #10536
Thank you.
So, I should add migration-ready? Or is that just to indicate to the release manager to add the other tags?
Anything else that needs to happen?

[2020-02-03 15:35] meteorcloudy commented on #10680
Why do you need `//a:a` for debugging when running `bazel run //b:b` if `//b:b` doesn't depend on `//a:a` at all? Can you somehow add the proper dependency?

[2020-02-03 15:35] meteorcloudy commented on #10681
Fixes are coming

[2020-02-03 15:46] scele commented on #7386
@brandjon Curious, are there some existing best practices for writing BUILD files when automatic `__init__.py` file generation is switched off?

Suppose that I have the following setup:

[code]

With automatic `__init__.py` file generation, there need not be checked-in `__init__.py` files, and the BUILD files could look like this:

[code]

With manual `__init__.py` file generation, I guess I'd hav

[2020-02-03 15:49] laurentlb opened #10696 "Android Testing failing with Bazel 2.1 rc"
https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1373#1918dfa8-ccfb-4932-ab08-b3790bf617c5

[2020-02-03 15:49] irengrig commented on #10693
Hi @firstprayer, the reported problem describes Bazel designed behavior: recursive symlinks are not allowed. Bazel expands symlinks to track file changes for accurate incremental builds.
Similar problem: #2927

[2020-02-03 15:51] laurentlb opened #10697 "Bazel Examples failing with Bazel 2.1 rc"
https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1373#_

[code]

[2020-02-03 15:56] laurentlb opened #10698 "rules_cc failing with Bazel 2.1 rc"
https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1373#1a828ce2-6430-4a4b-acb0-fd1e58b02de7

[code]

cc @meteorcloudy, @c-parsons, @oquenchil

[2020-02-03 15:57] dslomov commented on #10536
Since the flag is in and we have added "migration-2.0" and "migration-2.1" and watch https://buildkite.com/bazel/bazelisk-plus-incompatible-flags to assess how badly we break the world.

If we really want to flip this flag in March, it might also be a good idea to send a mail to bazel-discuss@ and see if people complain.

[2020-02-03 16:09] jin commented on #10696
This is https://github.com/android/testing-samples/issues/307

[2020-02-03 16:29] sdtwigg commented on #10690
There is a systematic issue where the transitions API will blindly return the current value of any command_line_arg requested as an input. A lot of them, e.g. compilation_mode, are stored as various Java classes, e.g. an Enum, that do do not have the proper StarlarkAPIs attached.

Raising the issue with the Front End team to see if we can determine a generally applicable solution (versus playing t

[2020-02-03 17:43] davido commented on #10697
@laurentlb This doesn't seem to be a Bazel specific failure. Maven Central turned off HTTP access. It must be HTTPS now: [1]. See also this related issue in Gerrit: [2] and the fix: [3].

[1] https://blog.sonatype.com/central-repository-moving-to-https
[2] https://crbug.com/gerrit/12171
[3] https://gerrit-review.googlesource.com/c/gerrit/+/250502

[2020-02-03 17:47] eagleonhill commented on #10523
What's the target release for toolchain transition and `exec` transition?

While I agree it's better to use `exec` transition than `host`, the fact that currently entire toolchain has applied `host` transition makes it impossible to include runtime libraries today. If `exec` transition would take more effort, would it be possible to decouple them, so there's some proper way to link runtime?

Just

[2020-02-03 18:02] brandjon commented on #10365
This bug arises when the user manually creates a bogus symlink in the workspace. I don't know why `new_local_repository` would cause this error. Do you have a repro?

[2020-02-03 18:12] laurentlb commented on #10697
Thanks @davido!

Closing this issue in favor of https://github.com/bazelbuild/examples/issues/144

[2020-02-03 18:12] #10697 closed

[2020-02-03 18:24] Toxicable commented on #4033
We just came into this issue trying to implement `bazel coverage` in rules_nodejs

[2020-02-03 18:25] katre commented on #10523
Are you using the `--incompatible_enable_cc_toolchain_resolution` flag? We haven't flipped that behavior and this is part of the reason it's not the default yet. I'd recommend flipping that back and continuing to use the legacy `cc_toolchain`suite` approach if this is causing you problems.

I am working on a migration plan for the toolchain transition and hope to send it around shortly. Once that'

[2020-02-03 18:50] cgruber opened #10701 "target_resource.jar is not attached to the classpath making accessing target.pkg.R.colors.blah fail"
### Description of the problem / feature request:

Bazel makes an assumption that all resources will roll up to a merged R.class file for each library. This means that the _resources.jar doesn't need to be attached to the library's outputs, so downstream consumers will not receive that library's R.class file.

This breaks anyone who has started to use namespaced resources within their projects. Th

[2020-02-03 18:51] laurentlb commented on #10690
cc @alandonovan

[2020-02-03 19:00] robbertvanginkel commented on #7962
@purkhusid we create a hash per target based on all the attributes available, then using a merkle tree like approach we create a hash for each target based on the target's inputs. The "Test Selection" talk done by Benjamin Peterson from Dropbox at Bazelfconf 2019 describes a very similar approach: https://www.youtube.com/watch?v=9Dk7mtIm7_A.

I'm working on open-sourcing the code we have for this,

[2020-02-03 19:02] cgruber commented on #10701
@jin - this is basically the non-import side of the same issue you fixed a while back #8109.

[2020-02-03 19:27] philwo commented on #10133
@meteorcloudy Can we make Bazel 2.2 our first release built on Kokoro? :)

[2020-02-03 19:37] alandonovan commented on #10690
FunctionTransitionUtil.buildSettings constructs a Dict whose values are options, which are not legal Starlark values, so it must be changed. (Also, the type of the argument passed to Starlark.call should be Map not Dict, as 'call' does not implicitly convert values as if by Starlark.fromJava. The actual value is in fact a Dict, at least for now, but we should enforce this in the Java types.)

The

[2020-02-03 20:25] james-crowley commented on #10408
@iirina Any progress or status on this? The AdoptOpenJDK organization is looking to utilize bazel in their tests.

[2020-02-03 20:44] cgruber commented on #10701
Actually - I may close this - it may not be accurate, I'm validating.

[2020-02-03 21:08] davido commented on #10692
OK, this comments in JavaUtils.java confirms my observation:
https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/rules/java/JavaUtil.java#L31-L50:

[code]

There should be a better way to extend it. So in my example above, with this patch, directory "foo" is now detected as Bazel root:

[code]

The correct mapping is added to the singlejar parameter file:

[

[2020-02-03 21:36] cgruber commented on #10701
Never mind - I think this isn't true - I was having a different issue local to my build.

[2020-02-03 21:36] #10701 closed

[2020-02-03 21:44] brandjon commented on #7386
There's no recommended best practice for what dependency structure to use for `__init__.py` files. You could have it be included in the `srcs` of multiple `py_library`s in the same package, or factor it into its own target and add it to `deps`. For parent init files you would have to depend on the parent packages.

[2020-02-03 22:49] speakmore commented on #6450
There are a lot of affected users who are running with various lower versions. And there is significant amount of work to upgrade to 2.0.0 (or 2.1.0).
For bug like this, can we also cherrypick the fix to some of release versions, such as 1.0.0?

Also, code coverage is import functionality to guarantee code quality. Is it possible to add some tests to make sure it won't break easily again?

Thanks!

[2020-02-03 22:53] kastiglione opened #10702 "Understanding overhead showing in Chrome trace"
### Description of the problem  request:

We have a long final action at the end of our build that we'd like to speed up. When looking at a Chrome trace of our build, that final action has much more overhead than other actions in the build.

![Screen Shot 2020-02-03 at 2 43 37 PM](https://user-images.githubusercontent.com/43429/73697513-990b1a80-4693-11ea-86f5-ac92d7554b09.png)

My reading of this

[2020-02-04 02:21] kastiglione commented on #10680
In this case we're running a tool that consumes Bazel build output: the execution log proto. Would there be a way to model that, I presume no.

[2020-02-04 07:45] hlopko commented on #10328
Actually I think we can close this one, philwo please complain if that's not right.

[2020-02-04 07:45] #10328 closed

[2020-02-04 09:40] meteorcloudy commented on #10133
Yes!

[2020-02-04 09:58] #10644 closed

[2020-02-04 09:59] meteorcloudy commented on #10698
I'll help take a look

[2020-02-04 10:23] meteorcloudy commented on #10680
/cc @lberki Do you think if we can keep the existing symlinks when creating the symlink forest?

[2020-02-04 10:29] laurentlb commented on #7514
@Yannic, thanks for the pull request!

Can you briefly clarify your plans? Do you plan to do followup changes after #10695?

[2020-02-04 10:29] meteorcloudy commented on #10698
The breakage is caused by https://github.com/bazelbuild/rules_cc/commit/8774a4decd63f45a636f40a75700c06b7ea9d30a

It doesn't look like a Bazel bug, the tests are supposed to run with Bazel@last_green
See https://github.com/bazelbuild/rules_cc/blob/master/.bazelci/presubmit.yml#L51

This should not be a release blocker.

[2020-02-04 11:21] Yannic commented on #7514
@laurentlb I'm planning to investigate allowing symlinks to executables (it's unclear how dangling symlinks interact with them and I don't want to commit to an API yet), and to allow specifying a progress message for these actions (actually, it's not large change so I guess I'll just do it as part of #10695). That said, #10695 can be used by rule authors to create symlinks without any follow-ups.

[2020-02-04 12:41] hanwen commented on #9979
still broken on

$ bazel version
Build label: 2.0.0
Build target: bazel-out/k8-opt/bin/src/main/java/com/google/devtools/build/lib/bazel/BazelServer_deploy.jar
Build time: Thu Dec 19 12:30:18 2019 (1576758618)
Build timestamp: 1576758618
Build timestamp as int: 1576758618

[2020-02-04 12:59] oquenchil commented on #6578
If adding those file extensions is all that is needed, then we can accept a PR for that.

[2020-02-04 13:32] Helcaraxan commented on #10356
Just wanted to follow up @philwo about the resulting fix that now is making its way into 2.1.0. The reactiveness and communication has been greatly appreciated.

A great thanks on behalf of the entire team. ❤️

[2020-02-04 14:08] davido commented on #9979
Have you noticed my last comment?

[2020-02-04 14:21] hanwen commented on #9979
yes, I did. It's more a note to self.

I'll ask bazel team when the next release will be out.

[2020-02-04 15:30] oquenchil commented on #10698
That's the case. Those tests are meant to run with Bazel at head only.

[2020-02-04 20:32] chsigg commented on #6578
The change that @nevion suggested has just landed with 64a1326c7cfd66f597c290613b9ffdf8fabd4b17. Thanks a lot.

[2020-02-05 00:19] cpsauer opened #10707 "Allowing http_file to fetch build_file for http_archive"
Hi awesome Bazel team,

Is there any way we could allow BUILD files for http_archives to be fetched with http_file? (Or if I'm wrong, and there already is such a way, could you point me in the right direction?)

The problem I'm trying to solve: Allowing for easy reuse of BUILD files for http_archives.

Here's a concrete example from a bunch of Google projects that illustrates the problem this woul

[2020-02-05 08:58] elklein commented on #10653
I'm seeing something very similar, but even more basic when using the latest pre-release vscode-bazel (which sets --output_base by default).  vscode-bazel runs this command:

`bazel --output_base=/tmp/ee79067f914abe58284ab7a8abdc7f7d query ...:* --output=package`

It fails with the following output:

[code]

If I remove the --output_base, the query succeeds just fine. If I change the --output_base

[2020-02-05 13:03] dslomov commented on #10356
Great resolution @philwo! Do we want to have a [2.0](https://github.com/bazelbuild/bazel/issues/10131) patch release for this?

[2020-02-05 14:08] philwo commented on #10356
@Helcaraxan What do you think - Bazel 2.1.0 should be released tomorrow unless some unexpected blocker shows up today. Do we still need a patch release in that case? I would say no, because the patch release would also have to bake for a day or so, so it wouldn't be out any quicker. 🤔

[2020-02-05 14:19] Helcaraxan commented on #10356
@philwo I understand that agree that it wouldn't be required for the release speed of the fix. However the argument can be made that as it stands 2.0.0 is broken to some degree and thus should be patched. That's a much more subtle debate and I trust the Bazel team to make the call on that. A patch would always be appreciated but it'd be understandable if you don't want to bear with the extra work.

[2020-02-05 14:31] philwo commented on #10356
Your input and perspective is always appreciated. :)

@dslomov I'll see how many cherry-picks we would need for this and will comment on the release bug of Bazel 2.0!

[2020-02-05 14:58] philwo commented on #10131
@dslomov If you agree, I could create a patch release for Bazel 2.0 with https://github.com/bazelbuild/bazel/commit/2a8cc7075f741721563efd9dc050ca3458cde30b included to address https://github.com/bazelbuild/bazel/issues/10356#issuecomment-582397149.

[2020-02-05 16:24] dslomov commented on #10131
@philwo sgtm

[2020-02-05 16:27] dslomov commented on #10510
ping @oquenchil @lberki

[2020-02-05 20:58] manlinl commented on #4201
In bazel 1.2.1, you will need
descriptors = ctx.attr.proto_library[ProtoInfo].transitive_descriptor_sets.to_list()

[2020-02-05 21:36] nkoroste opened #10714 ""Worker process returned an unparseable WorkResponse!" during manifest merging"
### Description of the problem / feature request:

Following these instructions to speed up build performance for Android
https://docs.bazel.build/versions/master/android-build-performance.html

Base on the instructions added works strategy to my bazelrc.

[code]

Now I get the following crashes during build. These crashes don't occur if `android_workers` is not used.

[code]

Manifest at the fail

[2020-02-05 21:42] ahumesky opened #10715 "Android Studio with Bazel can't resolve Android databinding base classes"
Android databinding produces a set of base classes and impl classes. The impl classes come from an annotation processor, and those end up in a `<lib>-gen.jar` which is correctly included in the external libraries for the ASwBzl project. However the base classes are generated in a separate step ("GenerateDataBindingBaseClasses"), and while those classes correctly end up in the android_library's cla

[2020-02-05 22:09] ghvg1313 commented on #10702
Don't know if this is related, but we are also experiencing similar overhead when calling `build` and `test` action separately (`bazel build <target>` then `bazel test <target>`) with tree-artifacts turned on.

Traces:
[test trace with tree-artifacts turned off](https://github.com/bazelbuild/bazel/files/4162236/no-tree.trace.gz)
[test trace with tree-artifacts turned on](https://github.com/bazelbu

[2020-02-06 00:55] segiddins opened #10718 "BEP should include output of `bazel run`"
### Description of the problem / feature request:

The BEP output of `bazel run` does not include any events for the `run` bit, only the `build` part

### Feature requests: what underlying problem are you trying to solve with this feature?

I want to consolidate everything our CI does to happen through `bazel` commands. `bazel run` is awesome for being able to run stuff, while making sure everythi

[2020-02-06 06:23] nicknezis commented on #3935
Why not leverage the work being done here? It seems they are handling Python and a few more languages. https://github.com/stackb/rules_proto

[2020-02-06 11:25] lberki commented on #10718
This is unfortunately impossible with the current implementation.

How `bazel run` works is that the client calls `exec()` on the process being run, thus, it's entirely out of our control.

It didn't used to be like that and the process used to be the child of the server, but that resulted in no terminal input being available to the process, no terminal output being printed before it finished and

[2020-02-06 11:25] #10718 closed

[2020-02-06 13:17] jin commented on #10714
Dupe of https://github.com/bazelbuild/bazel/issues/8505

[2020-02-06 13:17] #10714 closed

[2020-02-06 13:29] laurentlb commented on #10698
It shows up as red on the CI, so we have to do something about it.

[2020-02-06 13:34] oquenchil commented on #10698
Why is CI trying to run that test with Bazel 2.1 rc?

Our presubmit.yml excludes it:https://github.com/bazelbuild/rules_cc/blob/master/.bazelci/presubmit.yml

[2020-02-06 13:36] laurentlb commented on #10698
Do you know, @meteorcloudy?

[2020-02-06 13:47] meteorcloudy commented on #10698
I think @fweikert implemented the feature to skip task that suppose to run with a certain Bazel version for downstream. Do you have any idea?

[2020-02-06 16:31] katre opened #10720 "Stronger Constraints Language"
Users have requested several features that require a stronger constraint language than the current, very basic, approach. One feature is the ability to use constraint values that extend other constraint values, although this then opens the need to express the requirement for a specific constraint values, or a constraint and all of its parent constraint values. Also, users have requested the abilit

[2020-02-06 16:34] katre opened #10721 "Simplify Platform loading"
Currently, the process of re-configuring platforms as dependencies of the targets that require them leads to strange behaviors after a configuration transition. A better process would be to load platforms once, at startup, and process transitions as changes to the platform object in the configuration.

[2020-02-06 16:56] dslomov commented on #10536
It looks like only rules_nodejs are affected. @susinmotion could you file a bug on https://github.com/bazelbuild/rules_nodejs to address this?

[2020-02-06 18:30] susinmotion commented on #10536
Done. https://github.com/bazelbuild/rules_nodejs/issues/1614

[2020-02-06 18:38] susinmotion commented on #10536
Relatedly, --ram_utilization_factor has been a no-op for ~a year (it's replaced by --local_ram_resources), and there's been a lot of back and forth about whether we need to guard its removal behind a flag, resulting in it still being around.

I just added you as a reviewer on that change, so if you could look at the comments and weigh in there, that would be great.

[2020-02-06 20:15] pcj commented on #3935
Also worth noting that grpc folks did implement `py_proto_library` and `py_grpc_library` since earlier comments.  I've used them and they work on a routeguide example but have not used them extensively.

[2020-02-06 20:32] limdor commented on #7386
I will take the liberty to answer, I would disagree on having the __init__.py files in seperate dependencies.
In this example, as you said with automatic __init__.py it would look something like this, but the issue that I have with automatic __init__.py is that several are not needed.
[code]
An init file is to indicate that is a module, for libraries this should be part of a library, I would not r

[2020-02-06 20:34] laurentlb commented on #10132
The release announcement is ready: https://github.com/bazelbuild/bazel-blog/pull/216

I'll do the release tomorrow.

[2020-02-06 21:22] mtrea opened #10725 "Numerous dead links under Providers documentation"
### Description of the problem / feature request:

Numerous dead links on https://docs.bazel.build/versions/0.17.1/skylark/lib/skylark-provider.html including:

- https://docs.bazel.build/versions/2.0.0/skylark/lib/cc_skylark_info.html
- https://docs.bazel.build/versions/2.0.0/skylark/lib/ParsedAndroidAssetsApi.html
- https://docs.bazel.build/versions/2.0.0/skylark/lib/ProguardMappingProvider.html

[2020-02-07 00:47] unoexperto commented on #6681
For those who curious following example worked for me in bazel 2.x
https://github.com/bmuschko/bazel-examples/tree/master/java/junit5-test

[2020-02-07 01:58] guw commented on #6681
@unoexperto I also found a solution in case you want to expose/collect the JUnit reports for Jenkins.

https://github.com/salesforce/bazel-maven-proxy/tree/master/tools/junit5

[2020-02-07 02:26] dapirian commented on #10506
This was just a different with the native patch vs bazel patch where native defaulted to no prefix (-p0) and bazel didn't

[2020-02-07 02:26] #10506 closed

[2020-02-07 02:33] dapirian commented on #7618
See how the first `-iquote` is for `external/fmt`, It can include `"include/fmt/format.h"` when  `<fmt/format.h>` was desired. Also, it shouldn't add paths for genfiles if the target has none, and I don't know what the "bin" path is for, but at least for this target it's not applicable,

[2020-02-07 02:58] dapirian commented on #8023
I use `-Werror` on CI but not for local dev

I'm not requesting that it rebuild the target of course, I'm requesting that it provide me cached outputs of the previous build in the case that the inputs didn't change, where the outputs are both the library it built _and_ the stdout/stderr the commands to build it ran.

Just treat stdout/stderr as one of the outputs of an action. This isn't even spec

[2020-02-07 03:32] benjaminp opened #10726 "onsigprof not completely async-safe"
@alandonovan,
`cpu_profiler_posix.cc`'s `onsigprof` function has a comment explaining that, as a signal handler, it must only invoke async-safe libc functions. In the implementation, though, one finds:
https://github.com/bazelbuild/bazel/blob/329ec6dde90dd2e3392076ad116362c271844404/src/main/java/com/google/devtools/build/lib/syntax/cpu_profiler_posix.cc#L79-L80
`perror()` is not among POSIX's lis

[2020-02-07 10:48] dslomov commented on #10536
Given limited breakage, I think it is ok to flip this in 3.0

[2020-02-07 13:18] laurentlb opened #10727 "Compile Starlark code"
This bug is a placeholder for efforts related to the compiler.

@alandonovan

[2020-02-07 13:55] laurentlb commented on #10616
The argument needs to contain `%s`, but it can be for example `"@%s"` or `"--param_file=%s"`.

[2020-02-07 14:09] laurentlb commented on #10617
Thanks for the feedback.
To clarify the request, I think it's mostly about repository functions.

In Starlark rules, I think the API is more consistent about the types.

[2020-02-07 14:12] laurentlb commented on #10521
cc @laszlocsomor

[2020-02-07 14:20] laszlocsomor commented on #10521
@JimHan75d8c5 : how can we repro this issue?

[2020-02-07 14:29] laurentlb commented on #10132
https://github.com/bazelbuild/bazel/releases/tag/2.1.0
https://blog.bazel.build/2020/02/06/bazel-2.1.html

cc @vbatts @petemounce @excitoon

[2020-02-07 14:33] oquenchil commented on #10510
I will take a look at this on Monday.

[2020-02-07 15:55] ittaiz commented on #10616
What do these options mean? Are they documented? I’m not trying to troll but I honestly don’t understand the API choice here

[2020-02-07 16:43] benjaminp commented on #8023
2.2.0 should have `--experimental_replay_action_out_err`.

[2020-02-07 16:49] ulfjack commented on #10616
The question is: what does the tool you're calling expect?

If it's just the filename, then pass "%s". For gcc and clang, the tool expects "@%s". The '%s' substring is replaced with the filename, so for gcc, the invocation is actually "gcc @param-file". Does that make sense?

In some cases Bazel decides whether to use a param file on-the-fly depending on the actual size of the command line. I'm no

[2020-02-07 16:50] ulfjack commented on #8023
Yeah. I didn't realize that there was a GitHub issue for this.

[2020-02-07 16:53] laurentlb commented on #10616
No worries, it just shows that the documentation needs improvement and examples.

If you take `gcc`, you can call it like this:
[code]

To use a params file, you will do instead:

[code]

That's gcc command-line syntax. To pass a param file, you need to put `@` and then the file.
Other tools might use different a convention, e.g. `--file=params.txt`.

So when you want to use a param file, you tell

[2020-02-07 17:04] akharlamov commented on #6940
It may be related to the constelation of bug/features that presents in JVM at least since 1.4.
See Sun bug database for details:
https://bugs.java.com/bugdatabase/view_bug.do?bug_id=4722539
https://bugs.java.com/bugdatabase/view_bug.do?bug_id=6962459
etc

**TL;DR**
Java zip file implementation caches file handles and keeps them open for some time. On *nix machines it is fine, but windows holds a l

[2020-02-07 17:28] benjaminp commented on #10726
I don't think `strerror_r` is safe either. On glibc at least, it may enter arbitrary translation machinery.

[2020-02-07 18:03] henryqinshield commented on #9406
Any movement on this for coverage in GCC9?

[2020-02-07 18:27] ittaiz commented on #10616
Thank you both for explaining!
Do you think there’s room for a default value here or is the landscape really diverse and so a default doesn’t make sense?

[2020-02-07 19:35] laurentlb commented on #10616
It seems that `@file` is common among Linux tools (https://stackoverflow.com/a/13040192). Inside Google, most calls to `param_file_arg` use another value (but not always the same).

I think it's better not to have a default value. The user should really check with the tool is expecting. I'll keep this issue open as a documentation problem.

[2020-02-07 19:48] cgruber opened #10729 "AaptPackage persistent worker swallows errors, leading to invalid downstream state"
### Problem

The AaptPackage step (whether with workers, but also if workers are entirely disabled for all android processes) swallows a resource not found error. Because it does not report it, it results in no R.txt or symbols generation, which is then discovered downstream by a later node in the build graph, and reported as a `is not in the format '[resources[#resources]]:[assets[#assets]]:manif

[2020-02-07 19:59] alandonovan commented on #10726
It's possible, but vanishingly unlikely for the error codes returned by write. Even strerror (no _r) should be fine in this respect, and that's what I propose to use in the fix. The very worst outcome is a rare data race leading to a finite amount of junk or the wrong error message.

[2020-02-07 20:55] susinmotion opened #10730 "incompatible_remove_ram_utilization_factor"
--ram_utilization_factor will be deprecated in favor of --local_ram_resources.

--incompatible_remove_ram_utilization_factor will become true by default, which will cause breakages if --ram_utilization_factor is used. Please use --local_ram_resources instead.

Migration:
To fix manually, `--ram_utilization_factor=N` -> `--local_ram_resources=HOST_RAM*N/100.0`.
eg. `--ram_utilization_factor=60` ->

[2020-02-07 21:02] susinmotion commented on #10536
Great. So I should wait until the release window for 3.0, and then submit?

[2020-02-07 21:10] dslomov commented on #10536
You can submit the flag flip after 2.2 is cut (see #10133

[2020-02-07 21:13] rmaz opened #10731 "Bazel hangs when using GRPC cache"
### Description of the problem / feature request:

Bazel hangs sometimes when using a remote GRPC cache. Console / BEP output shows:

[code]

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

`bazel build --remote_timeout=300 --remote_download_minimal --remote_upload_results=true --remote_cache=grpcs://remote.cache:443`

### What opera

[2020-02-07 21:44] ozio85 commented on #10363
Well, on the server this is quite frequent. It affects all binaries (.exe and .dll), and my best guess  is that it is connected to anti-virus or Windows defender is scanning the file, and therefore locking it.

[2020-02-07 22:13] laurentlb commented on #10395
This line is very suspicious indeed.

@laszlocsomor Can you take a look at this? You reviewed the changes a long time ago, in 2015 (Google changes cl/88322388 and cl/88325408). :)

[2020-02-07 23:17] mleonhard commented on #9241
On MacOS 10.15.2, Bazel is using `/private/var/tmp/_bazel_$USER/`

[2020-02-08 07:33] cpsauer opened #10733 "--ios_multi_cpus doesn't default to Xcode Standard Architectures"
Hi wonderful Bazel folks,

I noticed that the --ios_multi_cpus flag defaults to x86_64 (i.e. cpu:ios_x86_64). This is unexpected, because the Standard Architectures used for iOS compilation in Xcode haven't included the Intel simulator architectures (x86_64 and i386) in quite a while.

The current iOS default Standard Architectures are armv7,arm64, and that's what Xcode defaults to. Would you be w

[2020-02-08 08:11] aehlig commented on #10395
This is indeed slightly misleading, but saying the `glob` would return the source file would be misleading as well. The truth is, that
- the `glob` returns a label for the source file, and
- if a label is used that could refer to both, a source file and a rule, the rule will be used.

Let's extend your example a bit and use the following `BUILD` file (note the `echo` in the second `genrule`).
[cod

[2020-02-08 09:51] ittaiz commented on #10616
SGTM. Thanks for the clarifications.

[2020-02-08 14:15] gorilych opened #10735 "FR: mutual tls auth for remote cache/executor"
### Description of the problem / feature request:

I was under impression that [--tls_certificate](https://docs.bazel.build/versions/2.0.0/command-line-reference.html#flag--tls_certificate) can be used for mutual tls, but in code I see that it only configures trusted CA certs: [GoogleAuthUtils.java#L117](https://github.com/bazelbuild/bazel/blob/2.1.0/src/main/java/com/google/devtools/build/lib/aut

[2020-02-08 20:50] firstprayer commented on #5391
Did a little more investigation - in the build directory I checked

[code]

It looks like it doesn't include the /usr/local/ directory. Wonder if this issue is due to misconfiguration of the cc_configure?

[2020-02-08 21:11] moroten commented on #10499
I can confirm that the problem is not just for `label_flag`, it also applies to `string_flag`. With the code below, use the same command lines but with e.g. `--@sub//:the_setting=good` instead.

[code]

[2020-02-08 22:51] jmillikin commented on #10395
That's not got anything to do with `glob()` though, it's just a target shadowing a source file. You can completely drop the `glob()` and still see the same behavior:

[code]

[2020-02-08 23:30] firstprayer commented on #5391
cc @DavidGoldman any idea based on my description above?

[2020-02-09 10:26] nickgeorge commented on #1346
Hmm I'd like to follow up on this - I'm trying to refer to files on an external archive, so I have an http_archive with
`exports_files(glob(["package/**"]))`
as the build rule - seems like that should make
`glob(["@my_archive//*.json"])`
work.  Is there a workaround for this?  One option would be to define all the subsets as filegroups in the http_archive build rule, but that would be pretty ugly

[2020-02-09 14:31] membphis opened #10737 "[QUESTION] How to use a binary which compiled by another project?"
### Description of the problem / feature request:

I have two projects, for example: 'luajit-src' and 'example'.

After the bazel compiled 'luajit-src', I will get the bin binary which named 'luajit'.

I need to use the binary `luajit` for compiling my 'example' project. But I do not know how to fetch the path of 'luajit'.

I take a look at the API but I still do not know how to do with this case.

[2020-02-09 15:45] cnaj commented on #8585
Note for users having the same problem: As a workaround you can disable header compilation using the `--java_header_compilation=false` switch (Bazel 2.0.0).

[2020-02-09 23:02] cushon commented on #10692
see #6353

[2020-02-09 23:02] #10692 closed

[2020-02-09 23:22] lefevere-lyft commented on #6441
Is there something specific that users have to do to avoid the fact that python configurations are propagated through data?
I have the following simple example of a c++ data dependency used by both PY2 and PY3 targets and the c++ gets built twice. I would like to build it once.
I tried looking at #6583 but I could not find anything relevant to this problem there.
[code]
@brandjon Thanks.

[2020-02-09 23:28] cpsauer opened #10738 "When cc rules depend on objc_library, headers of transitive dependencies are dropped"
Hi wonderful Bazel folk,

I'm pretty sure I've found a bug in the interaction between `cc` rules and `objc_library`, which makes them hard to use together in meaningfully sized dependency graphs.

Offhand, my guess is that the fix would need to be on the `cc` side.

### Background:
C-style language rules (`cc_library`, `objc_library`, etc.) need to propagate their `hrs` to all rules that might tra

[2020-02-09 23:43] cpsauer opened #10739 "objc_import missing deps argument"
Hi wonderful Bazel folks,

This is a feature request, but hopefully a fairly straightforward one.

I'd noticed that objc_import--unlike most other rules--doesn't allow you to specify deps. But I really think it's worth allowing it to do so. It's not uncommon for .a files to have dependencies, and I think it's a good thing in terms of promoting modularity and reuse.

Consider, for example, a closed

[2020-02-09 23:44] cpsauer commented on #10739
(Workarounds to this are somewhat complicated by #10738)

[2020-02-10 02:45] cpsauer opened #10740 "cc_libraries unable to depend on objc_import"
Hi awesome Bazel team,

Is there any way we could allow objc_imports to be direct deps of cc_libraries?  It'd be really handy when working with C or C++ libraries on Apple platforms.

For context, I'm trying to use a .a archive for iOS that has a C interface. It needs to be imported with objc_import, because (as you'd expect) it uses sdk_frameworks as dependencies.

Right now this fails with the e

[2020-02-10 04:04] cpsauer commented on #10738
It would appear that there's a related issue where archives get dropped when cc_library -> objc_library -> objc_import. Discovered that while working around #10740

[2020-02-10 04:46] timblakely commented on #10523
Just ran into what I thought was #6889. Glad to see I wasn't going crazy when querying `ctx.target_platform_has_constraint` and not seeing the right constraints.

My use case is that I need to configure `feature`s and `flag_sets` that are passed to the `cc_common.create_cc_toolchain_config_info` based on the target cpu. My workaround is to have a separate cc_toolchain for each target, but that's n

[2020-02-10 08:57] laszlocsomor commented on #10395
@jmillikin : I think you and Klaus are talking about the same.
Put simply, the `glob` runs a `readdir(3)`, finds the file, and returns a path relative to the package. This path is used as a package-relative label. Then the rule with the same name shadows the file.

Does that sound good as the new documentation?

[2020-02-10 10:16] jmillikin commented on #10395
Yes, I think clarifying the docs to state that:
* `glob()` returns labels for each source file,
* The label for a source file might be shadowed by another target.
* In this case attributes that consume labels will see them resolve to the target.

[2020-02-10 11:42] philwo commented on #7260
This test is basically the only reason now why our presubmits are 17 instead of 12 minutes and I don't see any way how to make it faster.

I read everything I could find about this flag and I still don't understand why we have to run a full Bazel bootstrap using `compile.sh` as part of our tests to verify that this flag works.

Couldn't we alternatively build e.g. a `helloworld.cc` with this flag

[2020-02-10 12:50] oquenchil commented on #10510
I tried to reproduce by building the image here https://github.com/google/oss-fuzz/blob/master/infra/base-images/base-clang/Dockerfile.

I tried to build Bazel within the container but I keep bumping into missing tools that aren't in the image. Can you please provide me with an image that makes it easy for me to reproduce which also has the version of clang that causes the issue?

[2020-02-10 13:06] oquenchil commented on #10510
We have this image where we can build Bazel.

 gcr.io/bazel-untrusted/ubuntu1404:java8 /

If you tell me how to install clang-10 there and which target I should try to build from which repo in order to reproduce, that would be helpful.

[2020-02-10 13:25] lberki commented on #7260
@philwo : how does that test make our presubmits 5 minutes slower? My mental model is that we need to do at least one bootstrap test and if we do one, doing two in parallel takes the same amount of wall time.

[2020-02-10 13:26] lberki commented on #7260
@katre : in order to test this with incompatible flags, the `migration-*` tag needs to be on the bug. I _think_ we just simply forgot to add them.

[2020-02-10 13:52] lberki commented on #7260
@katre: remind me again, what's the problem with (3)? I thought platform mapping makes this a no-op for Android and iOS and the only thing that needs to be done after the flag flip is to change their `select()` statements.

That said, we should totally have well-known platform definitions to replace the well-known `--cpu` values.

[2020-02-10 13:59] philwo commented on #7260
@lberki We are hardware-limited on CI, especially on macOS. Anything we can do to cause the tests to use less hardware resources has massive impact. For example, with my "fix our test framework to not  extract 500 JDKs per run" change, I moved us from being so insanely I/O bound that the only way to run our tests was in a RAM disk to being no longer I/O bound at all. Thus we were able to get rid o

[2020-02-10 14:02] lberki commented on #7260
I was thinking we could run the two bootstraps in two different machines and take less wall time that way.

As long as bootstrapping Bazel with the flag set is tested by the incompatible flag pipeline, I'm fine with removing the test. Does it run the bootstrap with the incompatible flags set, though? I'm not sure what happens with the "inner" Bazel instances (the ones that are being tested, not th

[2020-02-10 14:25] philwo commented on #7260
We cannot just run the two bootstraps on different machines, because we simply do not have enough Mac machines. 💸😀

If this flag is marked as migration ready, then it will be included in the "Bazelisk + Incompatible flags" pipeline. I just verified what that actually does. In that case, it would run a `bazel build --incompatible_enable_cc_toolchain_resolution //src:bazel` where `bazel` is the late

[2020-02-10 14:30] emusand commented on #8438
@guibou Did you find out how other users handle this problem?

We have the same problem. For one of our toolchains, we want to download the SDK and use the compiler and linker paths in the toolchain definition. We know the labels to these tools, but how do we convert them to paths?

[2020-02-10 14:37] katre commented on #10523
That is internal to the `cc_toolchain` machinery, and so it's part of toolchain resolution (toolchain resolution will select a single `cc_toolchain` instance for a target, and then that toolchain's dependencies are up to the rule implementation).

You'll need to follow up with the CC rule maintainers to find out if that's a use case they want to support. if so, I can work with them on ways to impl

[2020-02-10 14:39] katre commented on #7260
SGTM. As long as the code path is being tested regularly to rpevent rot, I am fine with this.

[2020-02-10 15:03] dslomov commented on #10737
It is best to refer such questions to bazel-discuss@googlegroups.com.

In a nutshell:
 * Bazel enforces strict dependency declarations. If you want to use a result of building a target in another target, you need to declatre a dependency. This is also true for tools (such as `luajit` in your case)
 * when you reference a target A from a target B, A's outputs (such as the resulting binary) are avai

[2020-02-10 15:03] #10737 closed

[2020-02-10 15:12] asraa commented on #10510
I think you were missing tools because we build bazel and Envoy in the base-builder, which is built on top of base-clang (https://github.com/asraa/oss-fuzz/blob/a155cb25879ce825299fad3eb8b189a7c332e7e5/projects/envoy/Dockerfile). I just reproduced in OSS-Fuzz directory by running `python infra/helper.py build_image envoy; python infra/helper.py build_fuzzers --sanitizer address envoy` in the oss-f

[2020-02-10 15:17] dslomov opened #10742 "Release 3.0 - March 2020"
Cut date 2020-03-02

[2020-02-10 15:17] dslomov commented on #10742
We continue our policy of major release every 3 month. We expect a very limited set of breaking changes in release 3.0

[2020-02-10 15:21] sohaibiftikhar commented on #10177
From the [docs](https://docs.bazel.build/versions/master/user-manual.html) If you just change to `--workspace_status_command=/bin/true` this should skip generating the file.

[2020-02-10 15:31] alexeagle commented on #10536
I noticed that https://docs.bazel.build/versions/2.0.0/command-line-reference.html#flag--local_resources doesn't mention the deprecation

[2020-02-10 15:46] lberki commented on #7260
Sounds like a plan. AFAIU the bootstrapping process relies on Bazel itself to build C++ code and the only part that's special-cased is Java compilation, so it should be all fine.

[2020-02-10 15:53] oquenchil commented on #10510
Thank you Asra. I can reproduce now.

[2020-02-10 16:33] #10726 closed

[2020-02-10 18:33] christianladam opened #10744 "Feature Request: Allow generation of ProtoInfo objects without the checkSourceFilesAreInSamePackage check occurring"
### Description of the problem / feature request:

Presently there is no way to bypass the checkSourceFilesAreInSamePackage check during ProtoInfo creation. This differs from other rules that utilize the checkSrcsSamePackage method in RuleContext where one can configure the error to only be a warning.

### Feature request: what underlying problem are you trying to solve with this feature?

In a po

[2020-02-10 19:33] guibou commented on #10177
@sohaibiftikhar I want this file, I'm using it to pass information to the bazel process. But I want this file to be reproducible between all our developers so we are not killing 90% of remote cache hits because of this file ;)

[2020-02-10 19:35] elklein commented on #7746
I took a look into implementing this. I have it working locally, but I believe my implementation is incomplete. The part I'm unsure about is the interaction between the CcToolchainFeatures.Tool class and the CToolChain.Tool protobuf. I've added an Artifact member to CcToolchainFeatures.Tool, but I'm not sure how to serialize/deserialize that into and out of the protobuf. I can guess how you might

[2020-02-10 20:00] clnperez opened #10746 "building bazel libcpu_profiler fails to find jni_md.h (ppc64le)"
### Description of the problem / feature request:
compiling from master on ppc64le fails:

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

### What operating system are you running Bazel on?

### What's the output of `bazel info release`?
building with:

### If `bazel info release` returns "development version" or "(@non-git)", tell

[2020-02-10 21:44] clnperez commented on #10746
@alandonovan -- i've tried to figure out how to get this to work and can't. i thought maybe it was because we build using the local jdk, but i think that's the default now. i also tried that on x86 and this works fine. so now i'm guessing there's some place i can't find with an `linux_x86_64"  option and a blank `default` for this header file. Any suggestions?

[2020-02-10 21:49] alandonovan commented on #10746
Take a look at the BUILD.oss file in the linked commit:
https://github.com/bazelbuild/bazel/commit/314cd3353b018420598188cf54c3f97358baa2e3#diff-96bd71d4e041b52d389d631025d2c09fR167
It clearly doesn't have a case for linux on non-x86 platforms, so this error is expected, at least for now. You could fix it by adding a case for ppc to that select, but really there needs to be a cc_library rule for t

[2020-02-11 02:00] elklein commented on #8438
This seems at least somewhat related to https://github.com/bazelbuild/bazel/issues/7746. The source code says that tool_path is deprecated, and instead action_config / tool should be used. tool() of course has the same issue, but it's quite a bit easier to modify the tool/ToolInfo and the underlying java code to accept a File/Artifact object. I played around with this a little the last day or so a

[2020-02-11 04:17] gmishkin opened #10747 "Native Java launcher doesn't respect --main_advice_classpath with --singlejar"
### Description of the problem / feature request:

On Windows which uses the native Java launcher for java_binary targets, passing an argument to `--main_advice_classpath` has no effect if you're using `--singlejar`.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

 - Have some java_binary build rule that just calls Thread.sleep() or

[2020-02-11 05:24] membphis commented on #10737
many thx @dslomov

[2020-02-11 08:18] #10395 closed

[2020-02-11 08:24] cpsauer commented on #10374
@rupertks, I think I've got a good guess as to what the problem is here.

I was just doing some tests, and it seems like `--apple_bitcode=embedded` doesn't apply correctly to the cc_libraries being compiled inside an apple/objc/ios binary.

In my test case, when I pass both `--copt=-fembed-bitcode` `--apple_bitcode=embedded`, everything gets compiled with bitcode embedded and the linking works. Th

[2020-02-11 09:35] dslomov opened #10749 "Make it easier to deprecate flags."
Instead of requiring people to introduce `--incompatible_*` flag for every deprecated flag, change the procedure:
 * Add a second kind of incompatible changes, "deprectaed flag"
 * for deprecated flags, require GitHub issue url in `deprecationWarning`.
Then the procedure for flag deprecation is:
 * File GitHub issue
 * submit a PR adding `deprecationWarning` to  the flag referencing the url
 * at

[2020-02-11 09:35] dslomov commented on #10749
/cc @philwo

[2020-02-11 10:52] Globegitter commented on #7364
@ulfjack I can not find the commit here on github. Is the plan to get this patch merged into open source also?

[2020-02-11 12:34] ulfjack commented on #7364
It wasn't merged yet - Google doesn't have a separate code base for Bazel. :-)

There are some open questions that I haven't addressed yet. I was considering changing the name of the attribute to ```test_env```. The other main question was whether to signal inheritance inline like I did by using a special value or to use separate attributes. Technically, it would be sufficient to only support inhe

[2020-02-11 15:26] luxe opened #10754 "why does moving target files require changes to copts paths and java.library.path?"
### Summary
This question is about building / running bazel targets.  After moving the source code of a target (as well as its BUILD file), additional paths are now required for `cc_library` and `java_binary` in order to get the code building/running again.  I'm wondering why this is the case, and hoping to get some clarity on why this happens and how best to specify these paths moving forward.  A

[2020-02-11 15:58] #10459 closed

[2020-02-11 16:14] ddlees commented on #10682
TY! I can confirm this is fixed in `2.1.0`

[2020-02-11 16:14] #10682 closed

[2020-02-11 17:09] konste opened #10756 "BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN causes error in presence of --incompatible_enable_cc_toolchain_resolution"
### Description of the problem / feature request:

We have --incompatible_enable_cc_toolchain_resolution set and have custom toolchains for our platforms. When we try to set BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN=1 to make sure detected toolchain is never picked up we get the error `ERROR: C:/builds/y77h45xt/external/local_config_cc/BUILD:28:1: in cc_toolchain_suite rule @local_config_cc//:toolchain: c

[2020-02-11 17:22] oquenchil commented on #10510
So that is an error because we see it in the .d file because the file path doesn't match any of the declared include dirs. We get the include dirs from `clang  -E -xc++ - -v` here https://github.com/bazelbuild/bazel/blob/469d855ed68f6f2e79a0d45bb517471be8c380a4/tools/cpp/unix_cc_configure.bzl#L125

This is where the check happens: https://github.com/bazelbuild/bazel/blob/469d855ed68f6f2e79a0d45bb5

[2020-02-11 18:33] clnperez commented on #10746
@alandonovan I had tried some things there, but guess I missed the obvious one of just copying the linux_x86_64 case to ppc. PR submitted. Thanks!

[2020-02-11 19:16] m-gupta commented on #10510
The sanitizer files are part of clang resource directory in the <dir>/share location.

$ clang -print-resource-dir
/usr/lib64/clang/10.0.0

[2020-02-11 19:58] nkoroste commented on #10287
Did this make it to the latest 2.1.0 release?

Also, can you give some background on why `d8_dexbuilder` & `d8_dexmerger` don't support incremental dexing and workers i.e. require the following 2 commands in order to work :
[code]
Is it because it's still experimental?

[2020-02-11 21:37] aiuto commented on #10749
/cc @aiuto

[2020-02-11 21:39] thekyz commented on #5139
any plan of implementing the max size feature or a garbage collector for the local cache?

[2020-02-11 22:52] brentleyjones commented on #5139
This is a much needed feature in order to use Remote Builds without the Bytes, since naively cleaning up the disk cache results in build failures.

[2020-02-12 00:55] matawed commented on #6018
Awesome. Any chance of creating a PR for your changes? It‘s been top quiet for too long on https://github.com/bazelbuild/vim-bazel/issues/1

[2020-02-12 01:15] endobson commented on #6018
Posted over there, but I don't think it is what that issue wants.

[2020-02-12 05:51] systemlogic opened #10763 "bazel and rhel 7.7 mapio"
### Description of the problem / feature request:

bazel is not working on rhel7.7 . Works fine on Ubuntu image

### Feature requests: what underlying problem are you trying to solve with this feature?

moving infra on redhat.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

docker run -it registry.redhat.io/rhel7:latest bash
some pa

[2020-02-12 07:08] systemlogic commented on #10763
Patch is not available on the rhel7.7

[2020-02-12 07:08] #10763 closed

[2020-02-12 11:41] tobbe76 opened #10765 "Cyclic symlinks when using --symlink_prefix and BUILD file at root level"
### Description of the problem / feature request:

Cyclic symlinks exists when using --symlink_prefix together with BUILD file at root(same dir as WORKSPACE) level. Every thing from the root folder is mirrored in execroot.

When using BUILD files located inside subfolders this works as expected. Only folders is mirrored in execroot.

### Feature requests: what underlying problem are you trying to

[2020-02-12 12:34] Profpatsch opened #10767 "bazel help requires a server"
### Description of the problem / feature request:

[code]

Surely the client could display the static help text without starting a server first.

This leads to funny interactions when a (looooong) build is running:

[code]

### Feature requests: what underlying problem are you trying to solve with this feature?

Make `bazel help` a short codepath; ideally it should be pretty instant.

Alternativel

[2020-02-12 12:38] ulfjack commented on #10767
We have been reluctant to move the help command to the client. Technically, the help pages are *dynamically* generated using reflection over the options classes. This could be done as part of the build, but that would increase the binary size.

[2020-02-12 13:04] Profpatsch commented on #10767
Even if the docs are 10kb, the binary is current 24MB on my system, I personally would be willing to handle that small overhead.

[2020-02-12 13:33] pradeep1024 commented on #9236
I'm facing the same issue in Bazel 2.0.0.
Can one of you please confirm if this is fixed already ?
It would be great if anyone can suggest some workaround.

[2020-02-12 14:27] oquenchil commented on #10510
So just to test that this would fix the problem, I tried adding the following lines to https://github.com/bazelbuild/bazel/blob/469d855ed68f6f2e79a0d45bb517471be8c380a4/tools/cpp/unix_cc_configure.bzl#L143:
[code]
where RESOURCE_DIR is whatever clang --print-resource-dir prints and the blacklist.txt error disappeared. I then started getting errors with virtual include hdrs from protobuf not being

[2020-02-12 15:42] philwo commented on #10133
@jmillikin-stripe I'm sorry, the PR you wanted to have in Bazel 2.2 still hasn't been merged yet, but I'm already super late with cutting the baseline for Bazel 2.2. The next Bazel release will already be cut on March 1st.

 pinged Jakob, but he said he can't get it done right now, so I have to go ahead and prepare Bazel 2.2 now.

[2020-02-12 16:17] konste opened #10770 "cc_library + cc_import combination bug"
### Description of the problem / feature request:

First target produces expected output and the second target which depends on the first one does not produce any output.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

This is standard Bazel example: https://github.com/bazelbuild/bazel/tree/master/examples/windows/dll
[code]
Buildin

[2020-02-12 17:05] Profpatsch opened #10771 "Mark --subcommands options with `terminal_output` tag"
### Description of the problem / feature request:

There’s a `Tags:` line with [categorizes command line arguments](https://docs.bazel.build/versions/0.19.2/command-line-reference.html#version-options) which is very helpful for finding related arguments.

`terminal_output` marks flag which change the terminal output:

![screenshot](https://user-images.githubusercontent.com/3153638/74358517-d83b190

[2020-02-12 17:38] gjasny opened #10772 "Visual Studio 2019 should be preferred over 2017"
### Description of the problem:

On my developer machine where Visual Studio 2017 and 2019 is co-installed Bazel 2.1.0 picks 2017. I would expect the newer (and of cause better) 2019 is used.

I believe it's related to this code comment:
https://github.com/bazelbuild/bazel/blob/2d1f3b905178663cfa2f1b973ff6c642c8789e74/tools/cpp/windows_cc_configure.bzl#L172

For VS2019 the registry key does not ex

[2020-02-12 17:48] Dor1s commented on #10510
`-lFuzzingEngine` is available inside OSS-Fuzz images, but isn't available anywhere else. The fuzzing engine has the `main` function, which is also not found as per the last log line.

[2020-02-12 17:51] nkoroste opened #10773 "Add Multiplex Workers support for Android builds"
### Description of the problem / feature request:

From what I can see from https://docs.bazel.build/versions/master/multiplex-worker.html and source code is that Multiplex Workers are only supported for Scala and maybe Java. It would be nice to get this support for Android build actions as well as Android builds tend to be large and slow.

### Feature requests: what underlying problem are you try

[2020-02-12 19:03] aiuto commented on #10754
@luxe  Do you consider this answered by the PR above?

[2020-02-12 19:10] katre commented on #10756
This is internal to the CC rules implementation and doesn't involve configurability.

[2020-02-13 07:10] laszlocsomor commented on #10770
Clarification: @konste found the problem using the example for Windows, not the BUILD file above. See: https://groups.google.com/d/msg/bazel-discuss/r8GTp3jwfwU/91W2pXM1EwAJ

The BUILD file above is just my adaptation for the same scenario on Linux, and I'm not fully certain it is correct. See: https://groups.google.com/d/msg/bazel-discuss/r8GTp3jwfwU/npMKGTqJAwAJ

[2020-02-13 07:54] laszlocsomor commented on #10772
Thanks for volunteering! Sounds great, let's do it! /cc @meteorcloudy
Do I understand correctly that `vswhere` is installed with VS 2017 and newer?

[2020-02-13 08:25] laszlocsomor commented on #10772
For the record: to select a specific VS version for Bazel, use the `BAZEL_VC` and `BAZEL_VC_FULL_VERSION` envvars like so: https://docs.bazel.build/versions/2.1.0/windows.html#build-c-with-msvc

[2020-02-13 08:27] laszlocsomor commented on #10668
This might be fixed by https://github.com/bazelbuild/bazel/issues/10772.

As a workaround, see https://github.com/bazelbuild/bazel/issues/10772#issuecomment-585608398

[2020-02-13 08:43] laszlocsomor commented on #10399
Thanks for reporting this bug!
What is the expected behavior?

[2020-02-13 08:53] laszlocsomor commented on #10668
Could you set `CC_CONFIGURE_DEBUG=1` globally and try again?

That'll tell Bazel to log more during C++ toolchain autoconfiguration, hopefully revealing why `BAZEL_VS` was ignored.

[2020-02-13 09:25] philwo opened #10776 "MacOSXFsEventsDiffAwarenessTest is flaky"
//src/test/java/com/google/devtools/build/lib/skyframe:SkyframeTests has been failing on CI recently due to MacOSXFsEventsDiffAwarenessTest being flaky. The current theory is that the test fails when the machine is under high load.

When we looked at the test initially, it seemed quite obvious why it would be flaky - it did some changes to the filesystem, waited 200ms and then checked that FSEvent

[2020-02-13 09:44] AlessandroPatti commented on #10731
/cc @buchgr

[2020-02-13 09:47] philwo commented on #10131
I'm preparing Bazel 2.0.1 with two cherry-picks:

https://github.com/bazelbuild/bazel/commit/9a823d9dab82631ff4600eff38d597807e8d1221: Prevent NPE on backwards seek on Chunker.
https://github.com/bazelbuild/bazel/commit/2a8cc7075f741721563efd9dc050ca3458cde30b: Do not fail or print errors when Shellzelisk cannot find a requested Bazel binary, if tools/bazel exists.

[code]

[2020-02-13 09:51] philwo commented on #10133
I'm preparing Bazel 2.2.0 now:

[code]

[2020-02-13 09:54] oquenchil commented on #10510
I'm running the following command from within the container created by `python infra/helper.py build_image envoy; python infra/helper.py build_fuzzers --sanitizer address envoy`:

`bazel build --verbose_failures --dynamic_mode=off --spawn_strategy=standalone --genrule_strategy=standalone --strip=never --copt=-fno-sanitize=vptr --linkopt=-fno-sanitize=vptr --define tcmalloc=disabled --define signal

[2020-02-13 10:06] philwo commented on #10132
I'm preparing Bazel 2.1.1 with one cherry-pick:

9a823d9: Prevent NPE on backwards seek on Chunker.

RELEASE_NUMBER=2.0.1
BASELINE_COMMIT=50514fc6c125750d7063d7feea2c302a44d2db6e
git clone https://github.com/bazelbuild/bazel.git ~/bazel-release-$RELEASE_NUMBER
cd ~/bazel-release-$RELEASE_NUMBER
scripts/release/release.sh create $RELEASE_NUMBER $BASELINE_COMMIT \
    9a823d9dab82631ff4600eff38d5978

[2020-02-13 10:20] shs96c opened #10777 "Release builds should be notarized for macOS Catalina"
### Description of the problem / feature request:

In macOS Catalina, Apple introduced a requirement that applications that are downloaded and run on the machine are notarized. Without this, applications refuse to run unless a user follows a non-obvious sequence of steps involving the "Security" preference pane.

Bazel releases should be notarized in order to ensure that it works as expected on ma

[2020-02-13 10:29] davido commented on #10777
Duplicate: #9304.

[2020-02-13 11:11] buchgr commented on #10731
Does it hang "forever" or terminate after a long period time?

[2020-02-13 11:12] buchgr commented on #10731
There is a problem that if the TCP connection dies Bazel might not be able to detect it for ~20 minutes or so. We have a solution but never got around to implement it: https://docs.google.com/document/d/13vXJTFHJX_hnYUxKdGQ2puxbNM3uJdZcEO5oNGP-Nnc/edit

[2020-02-13 11:21] jmmv commented on #10776
Did anything change at all on the CI machines? I find it quite strange that "heavy load" has become a problem only now and is triggering this problem so frequently when we never saw it in the past.

[2020-02-13 13:09] philwo commented on #10776
@jmmv It's very hard to say. We upgraded the production fleet to macOS Catalina on 2020-01-29 (but on testing CI already much earlier, I think since the beta), and the test worked fine until yesterday. I remember seeing the same failure occasionally during a presubmit of my CL in the testing org, but that was a completely unrelated change, then it went away a few days later and I was able to submi

[2020-02-13 13:11] philwo commented on #10131
Bazel 2.0.1rc1 is now available for those that want to try it out.

You can download it from:
  https://releases.bazel.build/2.0.1/rc1/index.html

[2020-02-13 13:11] philwo commented on #10132
Bazel 2.1.1rc1 is now available for those that want to try it out.

You can download it from:
  https://releases.bazel.build/2.1

[2020-02-13 13:55] AlessandroPatti commented on #10731
In out case it seems to be hanging forever, or at least far more that 20 minutes.

[2020-02-13 14:06] asraa commented on #10510
Hm few things. Did you run `python infra/helper.py build_image envoy; python infra/helper.py build_fuzzers --sanitizer address envoy` in the master OSS-Fuzz branch? If so, that should produce no error since clang-9 is used in the base image. Running with the diff from the previous comment will reproduce the error by just running that command.

The error should come up with just a `--config asan` b

[2020-02-13 14:58] asraa commented on #10510
Alright, double checked. This is how I repro'd without any fuzz related configurations:
1. I applied the diff above in OSS-Fuzz directory:
[code]
2. I ran `python infra/helper.py build_image envoy`
3. I ran `docker run -it  gcr.io/oss-fuzz/envoy:latest /bin/bash`
4. I ran `bazel build test/common/compressor:compressor_fuzz_test --config asan`

I outputted:
[code]

[2020-02-13 15:45] #10262 closed

[2020-02-13 15:50] laurentlb commented on #10536
@susinmotion: can you please update the documentation?
Even at head, the flag is still here, documented, and not deprecated: https://docs.bazel.build/versions/master/command-line-reference.html#flag--local_resources

[2020-02-13 15:54] kevingessner opened #10781 "bazelrc, --announce_rc, --enable_platform_specific_config disagree on precedence of platform-specific flags"
### Description of the problem:

`--announce_rc` prints the flags that are being applied from bazelrc files and the command line.  The order isn't documented in the bazel docs but the [command parsing blog post](https://github.com/bazelbuild/bazel-blog/blob/master/_posts/2018-01-19-config-parsing-order.md) says "Use --announce_rc to see the order used!".  So I expect the order the flags are announ

[2020-02-13 16:12] jmmv commented on #10733
I think this makes sense, but I'm unaware of the implications. @DavidGoldman?

[2020-02-13 16:19] keith commented on #10733
This would definitely be a breaking change for folks that don't pass the arch right now for simulator builds (like us). I personally think it would be fine to switch, but don't see much value in it. Projects will always have to pass this at some point. Either for the difference between simulator and device builds, or because they don't support iOS 10 and therefore don't need the 32 bit architectur

[2020-02-13 16:26] jmmv commented on #10773
This issue is specific about changing Android rules/workers to using multiplexing. The infrastructure changes are done, so this has nothing to do with local execution. (Nor remote execution.)

[2020-02-13 17:28] pgraf commented on #4137
I am experiencing this issue (building ray via Bazel on ppc64le machine (Summit at Oak Ridge)).  I tried the "link static" suggestion and my system did not like that (all sorts of missing libraries).  I am wondering if there is a different workaround?  E.g., if I wanted to hack the Bazel code/configuration (I am building Bazel from source), what would I change to implement the suggestion above to

[2020-02-13 17:40] gregmagolan commented on #7093
+1 for the Angular repo. `.bazelrc` could be a few lines with wildcards instead of ```node_modules
dist
aio/content
aio/node_modules
aio/tools/examples/shared/node_modules
integration/bazel/bazel-bazel
integration/bazel/bazel-bin
integration/bazel/bazel-out
integration/bazel/bazel-testlogs
integration/bazel/node_modules
integration/bazel/.yarn_local_cache
integration/bazel-schematics/node_modules

[2020-02-13 17:45] chenrui333 commented on #10131
Just curious what might be the reason why people cannot move to Bazel 2.1.0?

[2020-02-13 17:54] philwo commented on #10131
@chenrui333 There shouldn't be any reason (there are no intentionally breaking changes, or accidental breaking changes that we could detect via our CI), but just in case that Bazel 2.1 has a regression for some Bazel 2.0 users, I think the patch release is nice and doesn't do harm. :) It might also be easier to qualify for users who have stricter validations for their upgrade, e.g. in case of indu

[2020-02-13 18:06] Profpatsch opened #10782 "--run_under discards analysis cache"
### Description of the problem / feature request:

When I use `bazel run --run_under //sometarget` and then `bazel build //sometarget` after:

[code]

Which completely discards all repository rules as well.

### Feature requests: what underlying problem are you trying to solve with this feature?

Just trying to run stuff to test artifacts.

`--run_under` is not even an option to `build`, so why do

[2020-02-13 18:10] chenrui333 commented on #10131
I am mostly thinking from maintenance efforts from you guys perspective (you guys are doing awesome job 👍 ).

Thanks for clarifying it!

[2020-02-13 19:03] gregestren commented on #10499
I'm having trouble prioritizing this at the moment. I'm going to refer to @juliexxia for better triage, and check if she has context that I don't.

@juliexxia I don't understand the intersection of SBC and repositories very well. Feel free to own this or assign to someone else, but also feel free to assign back to me if there's no better obvious owner.

I also appreciate input from anyone on the r

[2020-02-13 19:18] gregestren commented on #10782
It looks like this *is* used in analysis, like:

https://github.com/bazelbuild/bazel/blob/a0e7b67ec8de73bb7e808d23a491e83acbd6ae13/src/main/java/com/google/devtools/build/lib/analysis/RunfilesSupport.java#L103-L105

https://github.com/bazelbuild/bazel/blob/a11e2d068a4ae10f851612efa9dd5eacc7f54329/src/main/java/com/google/devtools/build/lib/analysis/configuredtargets/RuleConfiguredTarget.java#L157-

[2020-02-13 19:21] gregestren commented on #10781
Assigning to @meteorcloudy for triage / prioritization, who I believed touched this code last.

[2020-02-13 19:26] gregestren commented on #10725
It looks like the problem is all links are to the current Bazel version, no matter what version the original page is set to.

So to the extent there's deviation between defined providers and Bazel versions you get 404s.

[2020-02-13 19:27] susinmotion commented on #10536
This is autogenerated, correct? I just sent you a change updating the help text for the flag, and hopefully that'll show up here.

[2020-02-13 19:27] gregestren commented on #10725
@aiuto  for reference (we were just chatting about version mismatching).

[2020-02-13 19:32] vbatts commented on #10131
i've cut the release for fedora/centos/RHEL as a package named 'bazel2' so folks can opt-in to the upgrade.

[2020-02-13 19:53] Profpatsch commented on #10782
Correction: It doesn’t seem to throw away my repository rule caches, just the in-memory cache of the target graph.

[2020-02-13 20:13] jmmv commented on #10776
Alright, I think I know what happens. The test starts by doing:

[code]

which in turn calls `MacOSXFsEventsDiffAwareness#init` to initialize the monitor. But the monitor is started in a separate thread. There is no guarantee that by the end of init, fsevents is already listening for changes, so if the thread is delayed, we can modify the client before fsevents starts to listen -- and thus we lose

[2020-02-13 20:29] cpsauer commented on #10733
Hmm... I think the goal for usability should be that people don't have to think about architecture flags for common use cases, right? And that includes the simulator use case @keith pointed out.

Xcode does nail this, and I do still think most Apple devs switching would be surprised by the Bazel defaults.

So maybe the best fix would be piggybacking off Xcode's Standard Architectures for the minim

[2020-02-13 20:48] aiuto commented on #10777
The title here says it better than #9304
I gave this to both the Apple and EngProd teams since it may require collaboration to get the nuances.

[2020-02-13 21:48] keith commented on #10733
I think then the unexpected thing then would be that bazel would by default build your code 4 times, so really you'd want a combo of that and ONLY_ACTIVE_ARCH (in Xcode parlance)

[2020-02-13 22:45] kastiglione commented on #10731
We now have evidence of this happening to us as well. It's not too frequent, thankfully. But when it hits, people cancel the build well before waiting 20min.

[2020-02-13 22:51] kastiglione commented on #10731
Here's a jvm dump for our case: https://gist.github.com/kastiglione/151a3b5723daef7e968610ee38c8d569

[2020-02-13 22:54] kastiglione commented on #10731
What is the reason that a timeout isn't happening for this?

[2020-02-13 22:55] kastiglione commented on #10731
cc @artem-zinnatullin

[2020-02-14 01:18] sgammon commented on #6450
@ulfjack / on 2.1.0, i'm getting an error still with this flag:
[code]

[2020-02-14 01:21] sgammon commented on #5426
still seeing this with `2.1.0`
[code]

[2020-02-14 01:51] celskeggs opened #10783 "glob(["**"]) with cyclic symlinks can OOM without a useful error message"
### Description of the problem / feature request:

Attempting to glob a directory that contains cyclic symbolic links normally produces a reasonably explanatory error (as in #133), which would let the developer trying to do so know that they should fix their input to not contain symbolic links.

I encountered a scenario where `glob(["**"])` on a directory with cyclic symlinks would instead cause B

[2020-02-14 06:53] cryslith commented on #10783
I can reliably reproduce this with the following script, which doesn't require the entire ceph source tree.

[code]

[2020-02-14 09:32] oquenchil commented on #10510
Thank you again for the repro instructions Asra.

I got past the black.txt error in https://github.com/bazelbuild/bazel/issues/10510#issuecomment-585230441.

I was trying to get the whole build to complete. First I got some protobuf headers not found errors, then the FuzzingEngine error and now (with just --config=asan), I'm getting this:
[code]
In any case, the blacklist.txt error is gone with my

[2020-02-14 09:48] meteorcloudy commented on #10781
@kevingessner Thanks for reporting this bug and providing the reproduce case. I'll look into this.

[2020-02-14 10:54] gertvdijk commented on #10133
It's here I guess? :arrow_right: https://releases.bazel.build/2.2.0/rc1/index.html
:rocket:

[2020-02-14 11:34] philwo commented on #10133
@gertvdijk Correct. :) I'll send the announcement to bazel-discuss@ now.

[2020-02-14 13:57] flokli commented on #10299
I'm having a similar problem with python binaries. I have some packaging process outside bazel, which basically packages things from `bazel-out`.

Of course, I can dereference symlinks before packaging, still, I find it quite scary these files are just symlinks, and would have hoped bazel would copy things during build time to ensure hermiticity of the artifacts.

[2020-02-14 14:25] luxe commented on #10754
Yes, a combination of [file build jni](https://gist.github.com/bsidhom/108efc977074eafbb08329ed3910c32f#file-build-jni-L15) and https://github.com/bazelbuild/bazel/issues/6958 for java.library.path resolve address my issue.  However,  I'm only able to get java.library.path to work by providing a full path.  I'll need to try https://github.com/bazelbuild/bazel/pull/7042 and see if patch works.

[2020-02-14 14:28] JimHan75d8c5 commented on #10521
Try [this](https://github.com/v2ray/v2ray-core) ?
``` bazel build --action_env=GOPATH=$GOPATH --action_env=PATH=$PATH //release:all ```

I'm sorry about the delay. 😐

[2020-02-14 16:26] tetromino commented on #10777
Yep, this affects the latest MacOS Bazel installer if it's downloaded using the browser (as opposed to curl or wget). We should fix this, and until we fix this, we should document a workaround.

[2020-02-14 16:47] tetromino commented on #10777
Correction: this affects only the Bazel _executable_ (e.g. `bazel-2.1.0-darwin-x86_64`).

The _installer script_ (which is what we suggest users to download in https://docs.bazel.build/versions/master/install-os-x.html) works fine when downloaded from the browser.

Downgrading priority to P2.

[2020-02-14 17:41] blico commented on #7364
We find value in being able to set env variables via attribute rather than inside tests.

For example, one use case we have is the ability to conditionally set env variables for a subset of our repo. Meaning we have a `config_setting` defined with narrow visibility and based off of that we use a `select` statement on the `test_env` attr for certain test rules.
AFAIK the only other way we could ach

[2020-02-14 18:05] asraa commented on #10510
You're right, I was able to repro your error with the working image. I think there's something a little different about the OSS-Fuzz environment, I'm testing a working command in the clang-9 container for you to test. Will update

[2020-02-14 18:33] gyias commented on #10287
Yes, it did.

It's just that D8 doesn't support the persistent worker mode yet. I believe the team is aware of the issue, though.

[2020-02-14 18:33] #10287 closed

[2020-02-14 19:25] nkoroste commented on #10287
Thanks for the info!
Found https://github.com/bazelbuild/bazel/issues/10241 bug that I can follow for persistent workers

[2020-02-14 19:39] #7135 closed

[2020-02-14 19:51] davido opened #10789 "singlejar unexpectedly normalizes timestamps for non .class file entries"
Gerrit Code Review project provides dozen of plugins to extend its core functionality. The plugin artifact is a JAR file that contains also web assets like JavaScript and HTML files. The timestamp of these assets is accessible from HTTP request in gerrit server and should not be normalized.

Even though there is this documentation section in the `singlejar`'s source code (https://github.com/bazelb

[2020-02-14 20:35] vielmetti commented on #10746
I just ran into the same problem on aarch64 (arm64).

[2020-02-14 20:43] nicknezis commented on #1202
@brianretford Did you ever find a fix to this? I think I'm having the same issue.

[2020-02-14 23:11] gregestren opened #10790 "Bazel docs M1 - tracking issue"
A focus group is forming to improve Bazel's documentation and provide guidance on doc contributions (like where to put a new page on topic X).

Doc work is a long-term effort. Some of this needs to be considered carefully and with an eye toward long-term sustainability. For example, every new URL implies a commitment to resolving that URL forever.

In that spirit we want to break doc work into inc

[2020-02-14 23:15] gregestren opened #10791 "Bazel docs - style upgrade"
Tracks the effort to productionize https://groups.google.com/g/bazel-dev/c/hjRP7JTtZ_U/m/9SZYZUSBDAAJ.

Prototype at https://bazel-docs-staging.netlify.com/versions/master/bazel-overview.html

[2020-02-14 23:19] gregestren opened #10792 "Bazel docs - lightweight organizational refresh"
This tracks productionizing https://groups.google.com/g/bazel-dev/c/hjRP7JTtZ_U/m/a4SDZkzPBAAJ.

docs.bazel.build gets first priority. We'll also cover blog.bazel.build and https://bazel.build/contributing.html as time permits.

[2020-02-14 23:22] gregestren opened #10793 "Centralize style definitions across Bazel doc properties"
docs.bazel.build, blog.bazel.build, and bazel.build/contributing.html all serve their own style definitions.

If can serve this from a centralized place, all style updates will propagate site-wide for free.

Outcome is faster iteration and guaranteed consistency.

[2020-02-14 23:27] gregestren opened #10794 "Bazel docs - do lightweight content formatting fixes"
For example, make https://docs.bazel.build/versions/2.1.0/bazel-vision.html less wall-o'-texty.

The broader goal is to make docs inviting, accessible, not intimidating. The less encyclopedic (i.e. dense) each page is the better.

https://github.com/bazelbuild/bazel/issues/10791 should also help by using bigger fonts and enforcing better maximum column widths.

[2020-02-15 01:16] jin commented on #10793
The plan is to serve CSS styles from a centralized repo (or one of the repos, preferably bazelbuild/bazel-website), and have the other repos pull the CSS styles from the centralized repo.

[2020-02-15 01:37] jin commented on #10767
FR for manpage: https://github.com/bazelbuild/bazel/issues/10519

[2020-02-15 09:14] nevion commented on #6578
@oquenchil  what happened, it looks like this got rolled back?

https://github.com/bazelbuild/bazel/commit/250647bc89d5bb42fa2456b2b497fb254c775861

[2020-02-15 09:24] nevion commented on #10133
@philwo  little bit of a threadjack but I noticed in the rc1 release notes the cuda/opencl file extension support I've been using for ~2 years now and that recently got accepted was reverted
See
https://github.com/bazelbuild/bazel/commit/250647bc89d5bb42fa2456b2b497fb254c775861
https://github.com/bazelbuild/bazel/issues/6578

Is this going to be cut from 2.2 / can you maybe make sure to chase down

[2020-02-15 15:40] werkt opened #10799 "test_exec_properties differentiation"
### Description of the problem / feature request:

### Feature requests: what underlying problem are you trying to solve with this feature?

[2020-02-15 19:50] #8077 closed

[2020-02-15 20:06] chsigg commented on #6578
Yes, it got rolled back because with the header extensions, it tried to build header modules from CUDA files :-(

I will try again on Monday with just the source extensions. I gave this a spin with a minimal bazel project to build a CUDA app:

WORKSPACE
[code]
BUILD.cuda
[code]
BUILD
[code]
main.cu
[code]
`CC=clang bazel build :main`

[2020-02-15 20:06] ittaiz commented on #8622
maybe migration can be added to https://github.com/bazelbuild/buildtools/blob/master/WARNINGS.md ?

[2020-02-17 07:19] jjangga0214 opened #10801 "How is Bazel beneficial for nodejs or typescript monorepo?"
I'd like to ask if Bazel is beneficial for nodejs and typescript projects.

There're already lerna, or nrwl/nx.

Pure nodejs project generally does not need "build" process.

Frontend apps would use webpack or rollup.(What is the advantage of Bazel's rollup_bundle in node rule, by the way?)

Typescript allows [incremental build(--incremental)](https://www.typescriptlang.org/docs/handbook/compiler-

[2020-02-17 08:10] ulfjack commented on #5426
I can't reproduce either. I think this will require a minimal reproduction from you for the Bazel team to be able to fix it.

"Normal" Javac plugins are clearly compiled in the host config, without instrumentation. Maybe there's something wrong about how errorprone loads plugins that causes it to pick up classes from the compilation classpath? However, that would require an additional non-host dep

[2020-02-17 08:11] ulfjack commented on #6450
See my reply on #5426, which - I think - is the right bug.

[2020-02-17 09:47] meteorcloudy commented on #10777
I'm moving our release pipeline to Kokoro so that we can do the signing and notarization for macOS.

[2020-02-17 09:53] meteorcloudy opened #10802 "Bazel CI: Gerrit and Kythe are broken with Bazel@HEAD"
https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1390

Gerrit:
[code]

Kythe: [log](https://storage.googleapis.com/bazel-untrusted-buildkite-artifacts/849b1e48-6bc4-4ade-9759-05713006f815/kythe/javatests/com/google/devtools/kythe/extractors/java/java_extractor_test/attempt_1.log)

Culprit: 8b1ef42bef4fca4e5b33f9a2d5ea5ea07c004d8d
https://buildkite.com/bazel/culprit-finder/builds/25

[2020-02-17 10:18] philwo commented on #10802
Interesting 🤔 This change only bumped the host JDKs from 11.0.1 or 11.0.3 to 11.0.6.

Googling for the error message shows that other projects (unrelated to Bazel) also ran into this issue with newer JDK versions. Maybe the bumped JDK is somehow stricter than the old when when it comes to this check?

[2020-02-17 10:26] meteorcloudy commented on #10802
Yeah, looks like this is an incompatible change from the JDK side.

@davido @shahms Can you help fixing this issue from Gerrit and Kythe side?

[2020-02-17 13:11] Mycaster opened #10803 "cc_library() import precompiled shared libraries to a temp directory caused error while loading shared libraries"
### Description of the problem / feature request:
I'm trying to build a simple pytorch example with bazel, libtorch is a third precompiled shared library, the cmake example is [here](https://pytorch.org/tutorials/advanced/cpp_frontend.html)

and I found the doc here to add dependencies on precompiled-libraries with cc_library()
[adding-dependencies-on-precompiled-libraries](https://docs.bazel.buil

[2020-02-17 13:22] meteorcloudy commented on #10781
Hi @kevingessner , I did some investigation on this. It seems like the problem has nothing to do with `--enable_platform_specific_config`.

If you replace `--enable_platform_specific_config` with `--config=linux` and run the same command on Linux. You'll get exact same result (same log output and same env value printed).

Bazel always expands `--config` in place, indeed it's better to print the lo

[2020-02-17 13:50] davido commented on #10802
@meteorcloudy Thanks, for reporting, will investigate it later today.

[2020-02-17 15:03] EdSchouten commented on #8751
Though I have absolutely no problems with `py_binary()` dragging in C++ toolchains to do all sorts of fancy things, isn't there anything that could be done to improve Bazel's analysis to defer the resolution of the toolchain to the actual point where it's being used? I've noticed that this error currently triggers, even in cases where no actual C++ code ends up being built. For example, when using

[2020-02-17 15:28] ulfjack commented on #8751
Not easily. The py_binary rule has to declare the dependency before it can know whether it's necessary. The built-in rule collects all transitive cc_library rules and then creates a link action (for which it needs a cc toolchain). Technically, that can only happen if the cc_library rules already have a cc toolchain dependency, but there's currently no infrastructure to inherit the toolchain in tha

[2020-02-17 15:29] EdSchouten commented on #8751
Thanks for clarifying!

[2020-02-17 16:34] sudoforge commented on #10801
I am by no means an expert on current javascript monorepos, and everyone will have their own opinions on this, but at a high level, using Bazel brings a few benefits:

- You can "build" your javascript services with the same tool and in the same way as the rest of your codebase
- Bazel supports remote execution and remote caching, which can greatly improve the development experience by avoiding di

[2020-02-17 18:28] Martin20 commented on #3668
I have the same problem but I did not get how I can fix it by your suggested link. Could you explain more?

[2020-02-17 20:03] davido commented on #10802
I just sent the fix CL: [1].

[1] https://github.com/bazelbuild/bazel/issues/10802

[2020-02-17 20:11] jrpally commented on #1250
I believe is the same issue:
"main@1" prio=5 tid=0x1 nid=NA runnable
  java.lang.Thread.State: RUNNABLE
	 blocks process reaper@2438
	  at java.io.FileInputStream.readBytes(FileInputStream.java:-1)
	  at java.io.FileInputStream.read(FileInputStream.java:255)
	  at java.io.BufferedInputStream.read1(BufferedInputStream.java:284)
	  at java.io.BufferedInputStream.read(BufferedInputStream.java:345)

[2020-02-17 20:52] prestonvanloon commented on #7056
Is there any update on this feature? I am still having the same issue with bazel v2.

[code]

[2020-02-17 20:55] marco-miller commented on #10802
Done. Reviewed, merged now.

[2020-02-17 21:11] prestonvanloon commented on #7056
I unblocked myself by adding the _whitelist_function_transition attribute.

[code]

[2020-02-17 21:53] sgammon commented on #5426
@ulfjack i'm haven't been able to track down what's _breaking_ it yet, but i have made progress.

here's a working lcov example with Java: https://github.com/sgammon/bazel-coverage

i'm going to build on that, adding dependencies from my app until something breaks it. currently, the behaviors i'm observing are:

1) some kind of incompatibility between [elemental2](https://github.com/google/element

[2020-02-17 22:59] werkt opened #10809 "Host/Exec targets cannot load shared libs on remote"
### Description of the problem / feature request:

Using a host or exec configured binary with shared lib dependencies on remote fails at runtime

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Use a `cc_binary` with `linkstatic = 0` that links against a `cc_library` as a `tools` or `exec_tools` member of a `genrule.` See attached w

[2020-02-18 00:59] oakad opened #10810 "toolchain: provide clang toolchain on mingw out of the box"
On Windows, bazel provides the following toolchains:

- mingw-gcc (with variants)
- msvc-cl
- clang-cl

What is missing is mingw-clang.

Why is it necessary?

Many useful programs are designed in posix-y fashion for portability reasons (thus, mingw), but need to link to native windows dlls. Increasing number of dlls these days relies on `vectorcall` calling convention, which is not supported by gc

[2020-02-18 08:44] nevion commented on #6578
@chsigg

hm , just to double check, this isn't splash damage from the .inl extension, right?  This is precompiling headers or c++ modules?

Which build failed it? https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1377#d76ef5a8-53d2-4c4d-aa0e-c8c5d8dca4dc ?

[2020-02-18 09:15] meteorcloudy commented on #10802
@davido Thanks for the fix!

[2020-02-18 10:37] hevrard opened #10811 "Add support for Android NDK r21"
### Description of the problem / feature request:

Add support for Android NDK r21, which is the latest stable NDK.
https://developer.android.com/ndk/downloads

### Feature requests: what underlying problem are you trying to solve with this feature?

Among other things, this allow to use the Khronos unified Vulkan validation layer, which ships with NDK r21.

### Bugs: what's the simplest, easiest

[2020-02-18 10:43] loshca opened #10812 "Add support for parameterized features"
### Description of the problem / feature request:

It will be nice to have parametrized features: so user can provide something like "cxx:14" or "cxx:17", where "cxx" - feature name and "17" is a parameter in build rules.

### Feature requests: what underlying problem are you trying to solve with this feature?

A huge list of possible feature values you have to predefine to use. Like for -fabi-ver

[2020-02-18 10:44] bastien-roucaries commented on #9408
@dslomov  Could you please give us some guidance to be step by step distrib friendly and upstream includable ?

I can code myself but I need plan

[2020-02-18 12:16] pisymbol commented on #8833
What about just arm32/armv7? i.e. "runs on Raspberry Pi"

One of the problems with getting Envoy (k8s network proxy) to work on Pi is its bazel based build.

[2020-02-18 12:18] oquenchil commented on #10740
Hey Chris, you may be interested in this issue: https://github.com/bazelbuild/bazel/issues/10674

I think once the work there is done, it will reduce a lot of the pains you are having.

[2020-02-18 12:25] oquenchil commented on #10623
Hey Robin,

would you mind providing a minimal repro code example with BUILD and bzl files? I can then take a look, if it's just about setting the purpose we can fix that quickly.

[2020-02-18 12:26] oquenchil commented on #10659
Did this ever work? When did it stop working?

[2020-02-18 12:28] oquenchil commented on #10656
Closing this since jin's solution appears to have worked.

[2020-02-18 12:28] #10656 closed

[2020-02-18 12:36] oquenchil commented on #10586
I believe you need to specify each configuration option on its own line and also properly wrap the value of the option.

build --cxxopt="-Wno-error=old-style-cast"
build --cxxopt="-Wno-error=unused-private-field"

Note the equals sign I added and the quotes. It may also be that you need to use --copt instead of --cxxopt.

Please let me know if any of that works.

[2020-02-18 12:38] oquenchil commented on #10561
Yes, it is the same as #10510. Thanks Benjamin.

I'm still working on fixing this.

[2020-02-18 12:38] #10561 closed

[2020-02-18 12:40] oquenchil commented on #10552
This keeps being a pain point for users. We should evaluate where our code would break if we just let any header extensions since some logic internally decides one code path or the other based on extension.

[2020-02-18 13:18] hevrard commented on #10811
For information, AGI https://github.com/google/agi compiles fine with NDK r21 and Bazel 2.0.0, so maybe there is no significant changes from r20 to r21 w.r.t. how Bazel treats the NDK.

[2020-02-18 14:06] asraa commented on #10510
in retrospect, I should have realized this. The hash related errors are from `--config libc++` missing, and the missing main and -lFuzzingEngine came up from building `_driverless` targets.

I again went to the shell that had the working version of clang, and this succeeds all the way through:
`bazel build --verbose_failures --dynamic_mode=off --spawn_strategy=standalone --genrule_strategy=standal

[2020-02-18 14:17] jin commented on #6578
If this break builds internally, consider gating it with a flag.

[2020-02-18 15:10] aiuto commented on #10789
I'm assigning this to Rules-Server, but it really belongs nowhere, or in a few places.

What we have is two competing needs.
1. We want to insulate the build tree from the mod time of files, so that Bazel can minimally rebuild only when the content changes.
2. You need some packaging rules that absolutely take mod time and build time into account.

I think the way we would have to solve this is ha

[2020-02-18 15:19] aiuto commented on #10810
This belongs in https://github.com/bazelbuild/rules_cc/issues.
Contributions there are welcome.

[2020-02-18 15:42] gregestren commented on #7056
@prestonvanloon I believe that's the recommended solution. Any rule can use this feature but it needs to define that attribute for two reasons:

1) It's a forcing function to acknowlege that transitions can have performance cost
2) `@bazel_tools//tools/whitelists/function_transition_whitelist` defaults to everything:

https://github.com/bazelbuild/bazel/blob/8536172a6743c3ca05c49dddc63325bf69dc579

[2020-02-18 16:50] powderluv commented on #8833
I only have a raspberrry pi4. I you can build on arm32 happy to merge it in

[2020-02-18 16:51] vielmetti commented on #8833
@pisymbol I'd suggest a separate issue for the arm32/armv7 "Raspberry Pi" port for Bazel. That's a 32-bit architecture (aarch64 is 64-bit) and may have a complete other set of technical considerations.

The Pi 4 will run 64-bit operating systems, though stock Raspbian is 32-bits only.

(And yes, building Envoy is one of my targets for this.)

[2020-02-18 17:05] shahms commented on #10802
Happy to take a look at this for Kythe.

[2020-02-18 17:34] chsigg commented on #6578
I just submitted it again without the header extensions.

The issue was internal builds that tried to turn CUDA headers into our
variant of C++ modules.

On Tue, Feb 18, 2020 at 3:17 PM Jin <notifications@github.com> wrote:

[2020-02-18 17:58] shahms commented on #10802
Please let me know whether or not that addresses the issue.

[2020-02-18 18:57] Martin20 commented on #6984
How I can know the protobuf version?

[2020-02-18 19:01] beasleyr-vmw commented on #8014
Just ran into this with `clean` when trying out [user-defined flags][1].

[code]

A comment in `CleanCommand.java` suggests that its inheritance from `build` should go away: https://github.com/bazelbuild/bazel/blob/93e269e6c7e797c0c0245fbcfdddfc3fe3b8ae61/src/main/java/com/google/devtools/build/lib/runtime/commands/CleanCommand.java#L53-L54

It makes sense to me why `cquery` inherits  from `build`

[2020-02-18 19:03] konste commented on #10459
@philwo But why Bazel even read .bazelversion file? T thought it is only used by Bazelisk.

[2020-02-18 19:38] konste commented on #10573
Is it known if the bug applies to both MSYS and WSL? If WSL is also affected is it Ok to have it installed as long as the actual build is run from CMD.EXE? Because it is really hard to design Windows build without relying on WSL.

[2020-02-18 19:40] thesayyn commented on #10801
The most important one is that bazel is multi language which lets you build complex multi language applications easily.
Only thing you have to do is add the appropriate rules into your workspace.

To give a real life example, we have this huge project which we has nodejs server and clients in different languages(swift, dotnet, java). With this setup we have the ability to rerun only the affected t

[2020-02-18 20:00] nkoroste commented on #3236
Any updates on this? I started hitting this issue very often on all linux machines in CI.

[2020-02-18 20:05] gregestren commented on #8014
Please share what you find, Ryan. I'm also marking this to discuss later this week among some core Bazel devs to see if anyone knows the history on this.

[2020-02-18 21:07] gregestren opened #10813 "Bazel docs - remove inlined ToCs once we have right-side page navigation"
After the style refresh this becomes a redundancy:

![menus](https://user-images.githubusercontent.com/5130366/74778023-bd0c5580-5268-11ea-837c-5f01dd9bba0d.png)

[2020-02-18 21:57] gregestren commented on #10813
We may want a different story for mobile, where we lose the right navbar.

In that case maybe we can re-style is as an inline block to basically re-create what we used to have above.

[2020-02-19 00:49] beasleyr-vmw commented on #8014
Okay, so I read the rest of CleanCommand.java, and the only referenced flag from `build` is [`--symlink-prefix`](https://docs.bazel.build/versions/master/command-line-reference.html#flag--symlink_prefix). It'd be easy to point CleanCommand to `BuildRequestOptions.class` and drop inheritance from `build`, but then users who set `--symlink_prefix` via `.bazelrc` (everyone using `--symlink_prefix`?)

[2020-02-19 01:52] konste commented on #9305
@Yannic Thank you for your rule! Could you please explain what is the purpose of `repository_ctx.symlink(Label('@//:.bazelversion'), '.bazelversion')` statement?

[2020-02-19 02:47] aiuto commented on #10552
Or maybe just open it up to anything and if the extension is unrecognized then treat it in the same way we treat a .h file.

[2020-02-19 02:51] elbaro commented on #10659
Did you try the above steps?
The key is having both the system (latest) gcc/clang + conda clang.

[2020-02-19 06:28] davido commented on #9305
FTR: Starting from Bazel release 2.0.0 bazel shell script was extended to perform the version check. FWIW, Gerrit project removed the version check entirely.

[2020-02-19 06:33] konste commented on #9305
AFAIU Bazel shell script does not work on Windows and we want to have version check on all three supported platforms.

[2020-02-19 07:06] davido commented on #9305
@philwo Is there any plans to backport Shellzelisk from 2a8cc7075f741721563efd9dc050ca3458cde30b to Windows?

[2020-02-19 09:30] meteorcloudy commented on #10573
@konste We never tested Bazel on Windows with WSL. Are you using Bazel with WSL? If so, can you try to reproduce this issue in WSL?

[2020-02-19 09:30] philwo commented on #9305
@davido No plans for a wrapper script for Windows that I know of. Considering that there are various ways of installing Bazel and not all of them include the wrapper script, I would recommend to implement a version check in bazel_skylib or bazel. This sounds like a good idea to me.

The wrapper or Bazelisk would help people to automatically run a compatible Bazel version. The Starlark-based versio

[2020-02-19 09:30] philwo commented on #9305
@laurentlb Could we add Yannic's check in a skylib, WDYT?

[2020-02-19 11:06] ulfjack commented on #2146
This just broke my IntelliJ: https://github.com/bazelbuild/intellij/issues/1641

[2020-02-19 12:14] iirina commented on #8867
@ittaiz I implemented this, but didn't submit it yet. I was thinking why one can't use `java_common.merge` in this case, to merge in all dependencies. I can't think of a good reason, maybe something skips my mind.

I tried to following case:

[code]

Where `HelloBinary` calls `HelloLibrary.funcHelloLibrary()`, using strict java deps, and the build was successful.

`my_export` uses `java_common.mer

[2020-02-19 12:16] carpenterjc opened #10822 "http_cache doesn't work well with undeclared inclusion(s) (MSVC)"
### Description of the problem / feature request:

The inclusion detection system relies on MSVC outputting a file with where it picks up headers from. This file can sometimes contain the full path to the include it picks up. When you then have an incremental build after the fact these files can be downloaded from the cache and analyzed, at which point they will not match the expected paths on a m

[2020-02-19 12:46] laurentlb commented on #9305
Maybe. This can be decided on skylib repository (PR or issue).

[2020-02-19 13:45] davido commented on #9305
@Yannic Can you upload your rule (or extend the existing `check_version` rule) to check against the content of `.bazelversion`?

Thanks.

[2020-02-19 13:47] davido commented on #9305
@laurentlb Can you move this issue to `skylib` repository? It seems, that I can not do it.

[2020-02-19 13:52] philwo commented on #9305
I'll move it over.

[2020-02-19 14:32] meteorcloudy commented on #10822
I thought this problem has already been fixed by https://github.com/bazelbuild/bazel/pull/6931 and https://github.com/bazelbuild/bazel/pull/9188.

The second PR is only released in 1.0.0, so can you try with a newer Bazel version?

[2020-02-19 15:49] katre commented on #8622
No one is currently working on this (it's, unfortunately, too low-priority and isn't currently hurting anything).

Once someone starts addressing the migration updating buildtools definitely makes sense.

[2020-02-19 15:54] #10541 closed

[2020-02-19 16:57] werkt commented on #10132
I've tested the rc, and it works precisely how we hoped with my change. Can this be promoted to a full release?

[2020-02-19 16:59] philwo commented on #10132
@werkt I'll push it out tomorrow morning.

[2020-02-19 17:10] gertvdijk commented on #10133
FWIW, 2.2.0rc1 works like a charm here as drop-in replacement for 2.1.0 (tested @ linux x86_64 via Bazelisk on some internal repos).

[2020-02-19 17:37] ittaiz commented on #8622
👍 @philwo its a bit annoying that the bazel flag bot adds a non actionable issue.
I like the concept a lot but I think the implementation needs to change

[2020-02-19 18:05] tdm20 commented on #10573
I have WSL (Ubuntu) and MSYS2 installed.
Using an MSYS2 bash exhibits the behavior in this bug (Ctrl-C does not kill the server, I had to kill java.exe).

Using windows bash works fine (Ctrl-C stops the bazel server correctly)
Using WSL Ubuntu bash works fine (ditto).

I am using Bazel 2.1.0 on Windows 10

[2020-02-19 19:59] limdor commented on #6767
What is the status of this ticket? Is there any progress there? Are there any plans to change it?
I had the same issue when trying to provide rules for Qt.
I have precompiled Qt libraries and I am trying to create the rules around them for Windows without having them installed in the system with any other global flag.
For that I am using cc_import but the issue is the same:
Qt headers are intended

[2020-02-19 20:43] limdor commented on #6767
After taking a deeper look to the issue and the code this is because the cc_library allows any file in the headers:
https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/bazel/rules/cpp/BazelCppRuleClasses.java#L428
But the cc_import is only allowing cpp headers:
https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/rules/

[2020-02-19 23:10] dbacchet-voyage opened #10825 "Code coverage: JDK in the host system required to run"
### Description of the problem / feature request:

do not depend on external JDK for code coverage, and use the one fetched by bazel itself.

### Feature requests: what underlying problem are you trying to solve with this feature?

I'm generating code coverage info for a c++ project, and I had this failure at the beginning:
[code]

I tracked down the problem to the fact that the external/local_jdk

[2020-02-19 23:18] rjpower opened #10826 "bazel generating wrong link command for libraries without "lib" prefix"
I'm attempting to use an external library (_pywrap_tensorflow_internal.so) in a bazel build. I've linked or copied (same behavior either way) the library into my workspace. When trying to link against this library, Bazel is incorrectly generating the `-l` flag (`-l_pywrap_tensorflow_internal`) instead of using `-l:_pywrap_tensorflow_internal.so` for this dependency.

### Bugs: what's the simplest,

[2020-02-20 09:48] meteorcloudy opened #10829 "Bazel CI: Tuisi is broken in downstream"
https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1396#6d535840-9576-4458-b164-b7179038d561
[code]
Culprit is 43c029f1049fa189e2016a062258ffa915ebc4fb
Culprit finder: https://buildkite.com/bazel/culprit-finder/builds/270

[2020-02-20 09:49] meteorcloudy commented on #10829
/cc @googlewalt @c-parsons

[2020-02-20 10:50] meteorcloudy commented on #10573
@tdm20 That's great to hear! Thank you!

[2020-02-20 15:04] guobiaoxiong commented on #3796
@ulfjack when set symlink_prefix="./bazel-out/" , Is there a way close  the warning -- WARNING: failed to create one or more convenience symlinks for prefix './bazel-out/'

[2020-02-20 15:22] #10392 closed

[2020-02-20 16:25] jin commented on #6290
Now used in production on Bazel CI.

https://buildkite.com/bazel/android-testing/builds/691

[2020-02-20 16:25] #6290 closed

[2020-02-20 17:27] googlewalt commented on #10829
This is expected.  The Tulsi tests need to be remastered for this change, but the remastered tests would then break without the change.  I'm checking with the Tulsi team to see how to proceeded.

[2020-02-20 17:53] werkt commented on #10132
Any news on that release?

[2020-02-20 18:32] robbertvanginkel commented on #10742
I hope the Bazel team can aim to review @jmillikin-stripe's work on the remote repository cache (https://github.com/bazelbuild/bazel/pull/10818, https://github.com/bazelbuild/bazel/pull/10622) on time for it to be included in 3.0.

Just yesterday we ran into https://github.com/GoogleContainerTools/distroless/issues/474, where accidentally an external dependency was removed from a gcp bucket leadin

[2020-02-20 19:25] wintermelons commented on #7263
Currently, `to_proto` will omit the value of a field if it is an empty list:
[code]

This is because repeated fields in protobufs will only list each element and not the parent, like:
[code]

Currently we have a lot of code that specify `[]` as the default value since it would omit the field in a proto (a optional message field), but setting them to NoneType would be much more readable and intuiti

[2020-02-20 20:00] #9300 closed

[2020-02-20 20:36] scottcjt opened #10836 "Do ObjC rules handle --cpu + select() differently?"
### Description of the problem / feature request:

For the following BUILD file on a Macbook:

[code]

If with `bazel build :foo`, bazel correctly takes "xxx" and complains about "xxx" does not exist.

However if `bazel build :bar`, bazel will complains about this:

[code]

Which means no condition fulfills. This is inconsistent with the `:foo` target.

### Feature requests: what underlying proble

[2020-02-20 21:34] cpsauer opened #10837 "Android NDK: Default linker flags that might save people pain"
Hi wonderful Bazel team,

I was playing around with the Android NDK. Along the way, I ran into a couple of build surprises that I think could be easily fixed for other people going down the same path,   with just a change to the default linker options.

In particular, I think adding ["--no-undefined", "-lm", "-ldl"] to the default linkopts would make things easier for people. Reasoning below:

Fir

[2020-02-20 22:14] #8505 closed

[2020-02-20 23:01] #10792 closed

[2020-02-20 23:02] #10794 closed

[2020-02-20 23:28] #10791 closed

[2020-02-21 09:22] Jingzhao123 commented on #8050
Hi, @cnsgsz I encounter the same issue. How did you resolve it?

[2020-02-21 09:59] mpmischitelli commented on #10089
Couldn't do many tests due to company policies. Upgrading to Windows 10 Enterprise LTSC 1809 the problem was solved.

[2020-02-21 14:46] aiuto commented on #8857
I started work on https://github.com/bazelbuild/bazelisk/issues/118, which should allow the migration CI to pick this up automatically. It may be late for 3.0, but at least it is moving forward.

[2020-02-21 14:52] philwo commented on #10132
@werkt Pushing it now.

[2020-02-21 15:01] olib963 commented on #3791
Is there anyone that would be able to pick this up or is it possible for someone external to pick this work up? This would be a really helpful, we currently have to work around this by calling the exclusive tests ourselves after the tests that can be run in parallel.

[2020-02-21 15:21] ozio85 commented on #1035
+1

[2020-02-21 15:23] jonatanj commented on #1035
+1

[2020-02-21 16:11] cpovirk opened #10838 "Prepare java_import_external for --incompatible_load_java_rules_from_bzl option flip, continued"
https://github.com/bazelbuild/bazel/issues/10046 / https://github.com/bazelbuild/bazel/commit/16c4ce47f26be7b8392ba9bc94bc209613eba6c3 appears to have fixed **jvm_maven**_import_external but not **java**_import_external. As a result, I am still seeing "Please load java_import from the rules_java repository." errors with `java_import_external` under Bazel 2.1.0.

It looks like `java_import_external

[2020-02-21 19:00] cpovirk opened #10839 "--incompatible_load_java_rules_from_bzl breaks some bazel_tools BUILD files"
[code]

Similar issues about _other_ files that are currently open:
- https://github.com/bazelbuild/bazel/issues/8746
- https://github.com/bazelbuild/bazel/issues/9082
- https://github.com/bazelbuild/bazel/issues/10838

[2020-02-21 22:29] #10813 closed

[2020-02-21 22:50] aldersondrive commented on #10250
For anyone following along:

* Other relevant commits include https://github.com/bazelbuild/bazel/commit/ba6be8ac7801f4912a4d2441d4896ffa01bfc94a and https://github.com/bazelbuild/bazel/commit/ebf6a46e25d4be3bf0bbd77cb21dbff0276d5d04.

* A bootstrap build of Bazel on OpenBSD now succeeds and yields a `bazel` binary that works. One caveat is that the bootstrap build requires `python` to be on the `

[2020-02-21 22:50] #10250 closed

[2020-02-21 22:54] jin commented on #10790
Update for M1: The content refreshes, cleanup and site redesign are now complete. The only remaining piece of work is to roll out a centralized configuration model of all of our sites.

[2020-02-22 01:42] shamtron commented on #10837
@cpsauer I'm upgrading from bazel 0.23.2 to 1.2.1 and I'm also running it into what I think are issues related to linker flags. A build that used to work on 0.23.3 now breaks on 1.2.1 with the following error:

[code]

Did one of your build surprises look like this? I'm at a loss on what to do here.

[2020-02-22 03:07] cpsauer commented on #10837
Yup! Add -ldl to linkopts to link libdl.

dl_iterate_phdr looks like a dl (dynamic library) call to me!

[2020-02-22 05:03] cpoole commented on #1831
I agree, a build file modification should definitely by considered a dependency of the targets it defines.

[2020-02-22 05:45] Unknown9527 commented on #6056
When you meet this problem, enter " xcode-select". Then follow the "reset" step, this problem will never happen.
[code]

[2020-02-22 12:17] jdanekrh commented on #1340
If there is a 32bit compatible Remote Executor (https://docs.bazel.build/versions/2.0.0/remote-execution.html), it might be possible to build and test on 32 bit with bazel that way.

[2020-02-22 13:33] konste opened #10843 "Please implement output format 'graph' for cquery and aquery"
### Description of the problem / feature request:

Bazel 'query' command supports output format 'graph' which is very useful for visualization of dependencies. Unfortunately cquery and aquery commands introduced later do not support 'graph' output format and it would be great to have it implemented.

### Feature requests: what underlying problem are you trying to solve with this feature?

Graph vi

[2020-02-22 16:51] padresmurfa commented on #3457
Can confirm. --disk_cache works very nicely for this type of scenario.

[2020-02-22 23:53] andyscott commented on #3729
JUnit 4.13 has been released!

[2020-02-23 00:36] nkoroste opened #10844 "Make d8 dex builder support `--incremental_dexing`"
### Description of the problem / feature request:

Make d8 dex builder support `--incremental_dexing`

### Feature requests: what underlying problem are you trying to solve with this feature?

It looks like D8 doesn't support incremental dexing, users need to pass in `--noincremental_dexing` in order to use D8.

Related:
https://github.com/bazelbuild/bazel/issues/10241
https://github.com/bazelbuil

[2020-02-23 06:41] siddharthab opened #10845 "Leave the virtual_includes directory from cc_* rules in the execroot"
### Description of the problem / feature request:

When `include_prefix` and `strip_include_prefix` are used in cc rules, virtual_includes directory should be part of the output files and left behind in the execroot.

### Feature requests: what underlying problem are you trying to solve with this feature?

It is a problem for IDEs to navigate code without an actual virtual_includes directory left

[2020-02-23 06:46] siddharthab commented on #10335
If this flag is not available in 2.0 and 2.1, can we remove the labels so bazelisk works well?

[2020-02-23 14:45] ulfjack commented on #3729
I already added the new junit into third_party.

[2020-02-23 16:20] gregestren commented on #3780
Just a quick update: @philsc is working on implementation now!

[2020-02-23 20:24] werkt opened #10846 "uploadMissing teardown causes concurrent action CancellationExceptions"
### Description of the problem / feature request:

CancellationExceptions can occur on concurrently-waiting uploads on multiple actions that register as catastrophic build failures

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

This is a concurrency race, and difficult to reproduce. For two actions running through the remote spawn

[2020-02-24 05:54] Riatre commented on #8438
There are two possible partial workarounds to @emusand 's problem as of now. They only work for files in the repo so they are not solutions for the original issue.

1. [The official cc-toolchain-config tutorial](https://github.com/bazelbuild/bazel/blob/master/site/docs/tutorial/cc-toolchain-config.md) uses a shell script to workaround this. tl;dr point your tool_path to a shell script in config re

[2020-02-24 06:28] shamtron commented on #10837
No still doesn't work. I added -ldl at my top level BUILD file and every BUILD file that builds any C++ and it still fails. I don't know where else to go from here. The error message does not reference any of my code. Only the toolchain.

[2020-02-24 08:56] ulfjack commented on #10846
What would be the source of the ExecutionException?

[2020-02-24 08:57] ulfjack commented on #10846
I may be able to get in a short-term fix to catch and handle CancellationException. I agree that this looks like a design flaw, and it may take more time to figure out what the right model is, so I think a short-term fix may be worthwhile.

[2020-02-24 09:04] ulfjack commented on #1831
Do you realize that making such a change to query is not enough to calculate the affected targets?

A BUILD file change can cause four types of changes:
(1) remove a target
(2) modify a target in a significant way
(3) modify a target in a way that does not actually affect it (e.g., by changing whitespace or formatting in the target definition in a way that has no semantic effect)
(4) add a new tar

[2020-02-24 09:59] ulfjack commented on #10809
If I remember correctly, there was an issue with the standard C++ linker which typically puts absolute paths to the .so into the binary and that obviously causes problems. Again, if I remember correctly, Google created an upstream C++ linker/compiler patch a few years ago. I'm not sure whether that was before 18.04, whether it's available on 18.04, and whether the Bazel C++ toolchain supports it.

[2020-02-24 13:05] chengji77 opened #10848 "Documentation issue: DefaultInfo"
Documentation URL: https://docs.bazel.build/versions/2.1.0/skylark/lib/DefaultInfo.html

The doc page doesn't mention this constructor: `DefaultInfo(runfiles = ...)`

On this page: https://docs.bazel.build/versions/2.1.0/skylark/rules.html#runfiles-features-to-avoid, Runfiles features to avoid, bullet point 2, it mentions that "Specify `DefaultInfo(runfiles = ...)` instead". I couldn't find any ot

[2020-02-24 14:18] meteorcloudy commented on #10802
The is now fixed, thanks!

[2020-02-24 14:19] #10802 closed

[2020-02-24 14:19] #10681 closed

[2020-02-24 15:26] dapirian commented on #8023
This what this ticket is asking for, so I'll close it

[2020-02-24 15:26] #8023 closed

[2020-02-24 16:23] katre opened #10849 "Document the `environment_group` pseudo-rule and `environment` rule"
There is no documentation for either the `environment_group` pseudo-rule or the `environment` rule. `environment` appears to have one piece of documentation (for the [`fullfills` attribute](https://source.bazel.build/bazel/+/master:src/main/java/com/google/devtools/build/lib/analysis/constraints/EnvironmentRule.java;l=46;drc=c5fcc86d1fb02ee20ad1ce6fadb2a73f54a691e1)), but that can't be found becau

[2020-02-24 16:23] katre commented on #10849
Tagging @gregestren for context and history.

[2020-02-24 16:38] jin commented on #10848
cc @laurentlb @c-parsons

[2020-02-24 16:41] jin commented on #562
Also see https://github.com/Zetten/bazel-dependencies-gradle-plugin

maven_jar no longer exists, so closing this now.

[2020-02-24 16:41] #562 closed

[2020-02-24 16:42] jin commented on #745
This is no longer the case.

[2020-02-24 16:42] #745 closed

[2020-02-24 16:45] werkt commented on #10809
Just a clarification, the *default* behavior for gcc/clang+binutils (with or without gold) has been to pull the SONAME from a linked .so, or the basename if it does not contain one, and place that into the NEEDED list of a binary (no absolute paths there, I've never seen any pathing whatsoever in NEEDED lists of any kind). The default link RUNPATH/RPATH is unpopulated, and bazel provides only a pa

[2020-02-24 17:11] fal-foyer opened #10850 "issue on windows since the release 2.0.0 acquireLock"
I downloaded and installed the bazel.exe version 2.0.0 and 2.1.1 for windows.
When I launch bazel, i get an acquirelock issue : Path not found.

FATAL: AcquireLock(d:\workspace_exzos\release\unc\domus\users_evo\fal\_bazel_fal\u5mzpase\lock): CreateFile failed: (error: 3): Le chemin d'accès spécifié est introuvable. (traduction : Path not found)

the correct path should be
c:\users\fal\_bazel_fal\u

[2020-02-24 17:28] werkt commented on #10846
Any exception which occurs during the execution of the `cacheProtocol.upload{Blob,File}`'s futured activity. Specifically for us, this will be ByteStreamUploader's AsyncUpload activity, which should be RemoteRetrier guarded and result in a retry-exhaustion exception, but could include an IO exception for the source stream, and regardless will be IOException wrapped (due to multiple layers of such)

[2020-02-24 17:31] werkt commented on #10846
Short-term is better than nothing, we will know pretty quick if it was insufficient, but we have to circle back on a real solution for this. I also think it might just make sense *not* to try to cancel any of the other uploads for the quick fix.

In the long run, if it continues to operate on a shared in-progress upload registry, it needs something akin to a reference-counted future.

[2020-02-24 17:39] #10829 closed

[2020-02-24 18:13] jxramos commented on #4257
Having something close to `bazel test --query "kind('py_test', '//...')"` would be really ideal since the management would be a lot more tidy. In my case I'm in the process of upgrading python `pytest`'s for our repo and would like to run all the bazel `py_test` rules.

[2020-02-24 20:02] michajlo commented on #8609
There's some prior art for this in query (--query_file, see also QueryEnvironmentBasedCommand.java). This could be a more direct route with less gotchas than full param file support or "project file" support.

[2020-02-24 20:23] shamtron opened #10852 "Android Binary undefined reference to `dl_iterate_phdr'"
### Description of the problem / feature request:

Android project no longer builds after upgrading from Bazel 0.23.2 to 2.1.1.

### Feature requests: what underlying problem are you trying to solve with this feature?

Generate Android binary after upgrading Bazel version.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Only reprodu

[2020-02-24 20:32] jin commented on #10852
As discussed in the Slack chat, please share your .bazelrc configurations.

[code]

It looks like the NDK's clang is being used to compile a host tool, which smells like a bug / bad configuration.

[2020-02-24 20:46] shamtron commented on #10852
Here is my .bazelrc:

[bazelrc.txt](https://github.com/bazelbuild/bazel/files/4246788/bazelrc.txt)

[2020-02-24 21:07] jin commented on #4508
The next Bazel version will come with the `--experimental_sibling_repository_layout`, which will enable you to build and test targets in the **subpackages** of `//external`, so `//external/foo:target` is fine. The `//external` virtual package is still reserved for external repositories.

I see that the Vulkan tools have regular files in the external directory, which may require another fix that @l

[2020-02-24 21:29] grahamjenson commented on #8485
@robbertvanginkel Is this still an issue? Have you found a workaround? I would also like to use a precompiled version of protoc for the exact reasons you specify.

[2020-02-24 21:38] robbertvanginkel commented on #8485
I believe that this is still a generic problem, maybe with moving the proto rules out to https://github.com/bazelbuild/rules_proto this will be resolved eventually.

As workaround, we apply a small patch on rules_go we do the following:
[code]
With `build --proto_compiler //rules/proto:protoc` in the `.bazelrc`.

[2020-02-24 21:54] grahamjenson commented on #8485
@robbertvanginkel This is amazing, thank you 🥇

[2020-02-24 22:25] sdtwigg commented on #10782
Currently, run_under is under CoreOptions, not TestOptions, so it will not benefit from --trim_test_configuration.

As noted, references to it are very sparse so it may be possible to refer to it only in the TestActionBuilder and thus this could be moved to the TestConfiguration. This would then solve the related issues under the umbrella of 'productionizing' trim_test_configuration.

(e.g. "what

[2020-02-25 00:34] googlewalt opened #10854 "incompatible_objc_compile_info_migration"
This flag is part of the efforts to migrate `ObjcProvider` compile info to `CcCompilationContext`.  It controls whether native Objective-C/C++ rules will use compile info from `ObjcProvider` or `CcInfo` (which contains the `CcCompilationContext`).  If the flag is false, bazel will get its compile info from `ObjcProvider` (pre-migration behavior).  If the flag is true, bazel will get its compile in

[2020-02-25 02:50] jjangga0214 opened #10855 "Support running multiple tartgets in parallel"
Hi, currently `bazel` does not support multiple targets at once.

For example,
`bazel run //foo:bin //bar:bin`
only runs `//foo:bin`, not both.

I think it'd be really convenient in such a case when we want to run multiple processes in parallel (e.g. web applications) in a local development environment.

Though there's https://github.com/atlassian/bazel-tools/tree/master/multirun, its list has to

[2020-02-25 03:57] #10746 closed

[2020-02-25 05:48] d-haxton opened #10857 "Document '-paths-for-coverage.txt' for code coverage"
### Description of the problem / feature request:

There is no documentation for `-paths-for-coverage.txt`.

### Feature requests: what underlying problem are you trying to solve with this feature?

In the process of using this 'feature' in https://github.com/bazelbuild/rules_scala/pull/1006 we just want to get some level of guarentee that this is not a hack and won't be broken anytime in the fore

[2020-02-25 08:16] lberki commented on #4508
It's landed as https://github.com/bazelbuild/bazel/commit/015f586fcb2e127ed13691b573de42cd9dba8508 . The command line flag is `--experimental_disable_external_package`.

These two are still not perfect: you _still_ can't have your own package called `//external` and output files under the `external` directory can still conflict with output files from external repositories, but it's a good start.

[2020-02-25 08:51] laszlocsomor commented on #10850
1. What shell / terminal do you run Bazel from? If you run it from MSYS2 Bash or from Git Bash, that may be the problem. (See https://docs.bazel.build/versions/master/windows.html#running-bazel-msys2-shell-vs-command-prompt-vs-powershell)
2. What if you pass `--ignore_all_rc_files` after `bazel`? If you have a `.bazelrc` file with `--output_user_root` or `--output_base` specified, then `--ignore_a

[2020-02-25 09:00] laszlocsomor commented on #10810
@oakad : I believe the toolchain is missing simply because we never added it. I don't know of a technical reason against it. @meteorcloudy may know more.

@aiuto: AFAIK toolchain autodetection is still done inside Bazel (see `windows_cc_configure.bzl`). Why does this issue belong to rules_cc?

[2020-02-25 09:03] f1recracker opened #10859 "Cannot define string literals in cc_library"
### Description of the problem / feature request:

Cannot #define a variable as a string literal.

### Feature requests: what underlying problem are you trying to solve with this feature?

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

`BUILD`:
[code]

`main.cc`:
[code]

This example should compile but any definition above causes th

[2020-02-25 10:05] fal-foyer commented on #10850
Thank you.
Indeed, i used Git bash. With powershell or bazel plugin on intellij, it work fine.

[2020-02-25 10:05] #10850 closed

[2020-02-25 10:06] laszlocsomor commented on #10850
Yay! Thanks for reporting back.

[2020-02-25 10:18] meteorcloudy commented on #10810
Hi @oakad , I believe this is doable with the current toolchain support in Bazel. I currently don't see a high demand for this feature. I wonder if you want to write a toolchain to support mingw-clang? I am not quite familiar with how clang works with mingw, but happy to do give some advice on writing cc toolchain for Windows.

[2020-02-25 11:18] carpenterjc commented on #10822
Currently upgraded my client to 2.0.0, I am testing now.

[2020-02-25 12:41] #10510 closed

[2020-02-25 14:04] oquenchil opened #10860 "incompatible_require_linker_input_cc_api: Wrap Starlark C++ library objects with linker_input"
This disables several Starlark C++ API method parameters and getters.

create_linking_context  no longer accepts: libraries_to_link, user_link_flags and additional_inputs

linking_context no longer has the getters: libraries_to_link, user_link_flags and additional_inputs

**Flag**: --incompatible_require_linker_input_cc_api

This refactoring was necessary for the implementation of cc_shared_librar

[2020-02-25 14:05] Qinusty opened #10861 "Report ExecuteStage updates to user"
### Description of the feature request:

Bazel should report `ExecuteStage` from the metadata of the Execute service `google.longrunning.Operation.response`.

### Feature requests: what underlying problem are you trying to solve with this feature?

The `ExecutionStage` metadata updates are never displayed to the user, leaving the user to believe an action is being executed remotely whilst it is ac

[2020-02-25 14:25] purkhusid commented on #7962
@robbertvanginkel Any news on the open sourcing?

[2020-02-25 15:42] aldersondrive commented on #9397
This can be closed now, I think. Building Bazel on OpenBSD works now, per https://github.com/bazelbuild/bazel/issues/10250.

[2020-02-25 16:41] IlyaNiklyaev commented on #6477
We have a big project with heavy compilations and heavy tests. Tests also require some resources which are not CPU or RAM (for example, GPU memory or special CPU mode).
For RAM-heavy tests we initially set `exclusive` tag. I've implemented `ram:<int>` tag just like `cpu:<int>` and it works like a charm. But there are some issues:
- this option isn't flexible, I'd like to be able to multiply RAM re

[2020-02-25 16:57] gregestren commented on #10849
This is fair. We've kept it undocumented because platforms should (I think) supplant most practical uses of this and we don't want too forked an API as we can help it.

But the cat's out of the bag already and we can clarify these relationships and best practices in the docs.

[2020-02-25 17:28] nkoroste opened #10862 "android_binary.debug_key fails to accept custom keystore"
# Description of the problem / feature request:

In theory [debug_key](https://docs.bazel.build/versions/master/be/android.html#android_binary.debug_key) should sign your APK with the given key. In practice I couldn't get it to work.

Two issues:
1. if I don't use password `android` I get the following error:
[code]
exception:
[code]
The underlying command bazel runs looks something like this:
[co

[2020-02-25 18:17] yoonjesung commented on #4499
Is there any workaround to this at the moment? This makes maintaining internal bazel dependencies difficult as each dep has to either be maintained locally or the WORKSPACE has to be littered with http_archive rules that point to the internal mirror.

[2020-02-25 19:21] juliexxia commented on #6477
I haven't looked too too deeply into this comment thread but a new [Action Groups](https://docs.google.com/document/d/1m9xLRLg09lncQTuBUMhhG_lqDQGJRYMZPejvwdBXvqo/edit?usp=sharing) proposal might be of interest to you specifically the bit on exec_properties

[2020-02-25 19:46] d-haxton opened #10863 "JacocoLCOVFormatter returns null in the case of a file with an empty package name"
### Description of the problem / feature request:

In code coverage, if you're passing in a list of sources using `-paths-for-coverage.txt` there is a bug where a file name with no package will incorrectly prepend a `/` to a fileName which already has that slash.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Currently, we concat t

[2020-02-25 22:06] coryan commented on #10621
@laszlocsomor Just curious, did #10646 make it to Bazel 2.1.0?  I was having this problem today on 2.1.0 and was wondering if it is a new issue or simply need to wait until 2.2.0 or something.

[2020-02-26 00:49] jin commented on #10783
FYI @irengrig @lberki @haxorz

[2020-02-26 01:26] haxorz commented on #10783
Very brief comment: Bazel normally handles cases like this directly and elegantly (explained in my BazelCon 2019 Lighting Talk https://youtu.be/EoYdWmMcqDs)... except for "legacy globbing" (https://github.com/bazelbuild/bazel/pull/10610#issuecomment-575779821) which is where the issue here is happening.

[2020-02-26 07:37] laszlocsomor commented on #10621
@coryan : It didn't; the baseline for 2.1.0 was 41ec5a28fb30a8d6c5c60194c4bb29528352cf78 from Jan 8 while #10646 was merged as 02ce5bd3d987b0a3474c1aa9e2450c70e71ab5d6 on Jan 28.

It will be in 2.2.0, whose baseline is 78055efad0917b848078bf8d97b3adfddf91128d from Feb 13.

[2020-02-26 10:09] Gormo opened #10865 "bazel coverage: Running remote with combined_report=lcov causes Platform message not set"
### Description of the problem / feature request:

When instrumenting for coverage using the command below:
`bazel coverage ... --instrument_test_targets --config=remoteexecution --combined_report=lcov`

An error message is received from the buildbarn remote-execution scheduler:

[code]
Investigation of the Bazel source code has shown that the CoverageReportAction never sets the ExecutionPlatform

[2020-02-26 10:30] neuralmimicry commented on #8833
@philwo
@vielmetti

At Linaro we currently host a number of Aarch64 CI environments and have taken on-board the need to include Bazel due to Tensorflow requirements. Our initial work, some time ago, gave rise to this solution - https://collaborate.linaro.org/display/BDTS/Building+and+Installing+Tensorflow+on+AArch64

Our CI for Tensorflow is: https://github.com/Linaro/hpc_tensorflowci

Our teams h

[2020-02-26 12:17] barbosaaob commented on #9397
[Relase 2.1.1](https://github.com/bazelbuild/bazel/releases/tag/2.1.1) does not include this commit yet, right?
I can't compile using the cloned code from master because of `ERROR: Must specify PROTOC if not bootstrapping from the distribution artifact`. All I could find about this error is people telling to download the dist file from release page.

How can I test the changes and see if it works

[2020-02-26 15:05] #10863 closed

[2020-02-26 16:19] plule-ansys opened #10867 "Make %USERPROFILE%\_netrc the default location for the netrc file on Windows"
### Description of the problem / feature request:

Bazel has a default "netrc" file location under Linux and Mac OS, but not under Windows. This is identified as "TODO" in [http.bzl](https://github.com/bazelbuild/bazel/blob/master/tools/build_defs/repo/http.bzl#L55)

### Feature requests: what underlying problem are you trying to solve with this feature?

Not having a default location for the netr

[2020-02-26 16:33] carpenterjc commented on #10822
I can't reproduce the current problem and have been running the original scenario that was causing me problems for a while.

[2020-02-26 16:33] #10822 closed

[2020-02-26 20:18] rlrahulkanojia commented on #3392
INFO: From Building Java resource jar:
OpenJDK Client VM warning: TieredCompilation is disabled in this release.
ERROR: /home/pi/tf/bazel/src/main/protobuf/BUILD:24:2: Building src/main/protobuf/libextra_actions_base_java_proto.jar (1 source jar) failed: Worker process sent response with exit code: 1.
java.lang.InternalError: Cannot find requested resource bundle for locale en_US
	at com.sun.tools

[2020-02-26 20:30] katre commented on #3392
This issue is different than the original issue, and it has been closed for two years. Please open a new issue to track this.

Without a chance to reproduce your problem I can't hazard much of a guess. Your command line makes it look like you are building on a raspberry pi (Are you running a redhat distribution on a raspberry pi?). Support for building bazel on 32-bit processors is poor, unfortuna

[2020-02-26 21:24] cpovirk commented on #10839
I started looking at this, and I'm confused.

(First, I should have mentioned that I'm testing with Bazel 2.1.1.)

I see changes to add `load()` where needed for the first 2 files:

- [src/java_tools/import_deps_checker/java/com/google/devtools/build/importdeps/BUILD](https://github.com/bazelbuild/bazel/commit/a4de484efe44c3e614ba7901a5e03e3958c148e9#diff-277c8c3eed92b8cb597044fb40bd4cf3R4) ([part

[2020-02-26 21:30] cpovirk commented on #10839
Err, sorry, the current version of tools/android/BUILD no longer uses `java_binary` and `java_import`, so it has no need for the `load()`.

It's sounding like this is "fixed" by a4de484efe44c3e614ba7901a5e03e3958c148e9 and whichever commit removed the `java_*` usages from tools/android/BUILD. But a4de484efe44c3e614ba7901a5e03e3958c148e9 was 6 months ago, so I'm wondering if it's expected that it s

[2020-02-27 01:20] robbertvanginkel commented on #7962
Thanks for the ping, still under review unfortunately.

[2020-02-27 02:01] cpsauer commented on #10852
Hey @shamtron, to reply to your comments in the other issue: I'm not sure what's wrong, but it looks from your log like -libdl isn't actually getting added as a flag. It's not present in your crash_log.txt.

That's definitely a libdl linker error.  Adding -ldl to the linkopts did the trick for me, as one would expect. Currently, I'm adding it to the linkopts of just the top level cc_library that t

[2020-02-27 02:01] cpsauer commented on #10837
(Replied to @shamtron's question in the separate issue he filed.)

[2020-02-27 02:59] jin commented on #10852
`build --distinct_host_configuration=false` should be true.

[2020-02-27 04:58] ittaiz commented on #6752
@lberki any thoughts? Can this be contributed?

[2020-02-27 10:20] c-mita commented on #10859
The following should work in your build rule:
[code]
You're subject to two rounds of tokenization; parsing of the BUILD file and then Bourne shell's command line parser. You need the literal `FOO=\"BAR\"` to reach the command line for the compiler, hence the double escaping.

[2020-02-27 10:20] #10859 closed

[2020-02-27 12:37] jlturriff commented on #5599
I'm getting it also while trying to build tensorflow in my OpenSuSE Leap 15.1 system:
[code]

[2020-02-27 14:14] guw opened #10869 "try-import not resolved to workspace root"
### Description of the problem:

[code]

Now observe the following:

_Case 1:_
[code]

_Case 2:_
[code]

### Expected behavior:

Case 2 should just work.
The [user guide](https://docs.bazel.build/versions/master/guide.html) says that I can run `bazel` from the workspace root as well as any workspace subdirectory.

### What operating system are you running Bazel on?

Mac OS Catalina

### What's the

[2020-02-27 15:00] jowagner commented on #5599
@jlturriff Did you try using JDK 8 (available in the openSUSE default repo) instead of 11? Also note "Illegal reflective access" is only a warning. Your output shows a proper error "Unrecognized option: --experimental_repo_remote_exec" that may have a different cause than what is discussed here. Searching for this string may help you find a solution. My guess is that your `bazel` is too old.

[2020-02-27 15:31] philwo commented on #10133
@gertvdijk Let's push it then :D

I haven't heard about any release blockers.

[2020-02-27 15:36] TheButlah commented on #3219
This looks like an important and relevant feature - why is this issue still closed?

[2020-02-27 16:08] meisterT commented on #10140
@thekyz can you try with https://releases.bazel.build/2.2.0/rc1/index.html ?

That works for me. If it doesn't work for you, then please tell me how to repro it.

[2020-02-27 16:13] thomasvl commented on #9337
@Yannic requiring `--protocopt=--include_source_info` doesn't really help IDE integration as now it is something else that developers (or IDEs) must know to wedge it.  It also means if the developers are using a remote build/cache systems we're encouraging yet more configuration and thus less caching (not only of the descriptor sets, but also the code generated from them).

[2020-02-27 17:36] shamtron commented on #10852
@jin when I set it to true I get:
-> @bazel_tools//tools/jdk:platformclasspath (host)
|   @bazel_tools//tools/jdk:current_java_runtime (host)
|   @bazel_tools//tools/jdk:legacy_current_java_runtime (host)
|   @bazel_tools//tools/jdk:toolchain_hostjdk8 (host)
`-- @bazel_tools//tools/jdk:platformclasspath (host)
This cycle occurred because of a configuration option

[2020-02-27 18:05] ulfjack commented on #10735
I'm interested in seeing this happen. Bazel remote execution currently doesn't support a lot of authentication options out of the box, and I can think of use cases where this is more appropriate than Google access tokens.

[2020-02-27 18:59] or-shachar commented on #10132
What about a docker image `l.gcr.io/google/bazel:2.1.1` ? :-) who's in charge of those releases?

[2020-02-27 19:31] tetromino commented on #10680
We have [ExecRootPreparedEvent](https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/buildtool/buildevent/ExecRootPreparedEvent.java) which is fired when the symlink forest is planted.

I'm thinking if we can add a flag to catch this event and replant the forest in some other (IDE-specific?) directory, optionally merging it with whatever forest that directory

[2020-02-27 19:42] shamtron commented on #10852
I tried a couple of things to help narrow this down:

1. Buidling on Ubuntu. Perhaps it is something about MacOS but turns out I get the same error.
2. Another thing I tried was adding a bogus linker flag. Using 0.23.2 I added a bogus linker flag "-lgarbage" and with that bazel complains that garbage cannot be found; as expected. When I do the same thing on 2.1.1 I get the "undefined reference to

[2020-02-27 20:29] jmmv commented on #10776
Haha, and of course not yet fixed. Flaked again.

[2020-02-27 20:57] thekyz commented on #10140
It does work with that version thx!

[2020-02-27 21:18] aldersondrive commented on #9397
Building Bazel directly from the contents of the git repository does not work. It is indeed necessary to build from a 'dist' archive instead. Details are in the ["Compiling Bazel from source" documentation](https://docs.bazel.build/versions/master/install-compile-source.html#bootstrap-bazel).

Version 2.1.1 was released just a few days ago, so very likely it does include all of the relevant commit

[2020-02-28 01:18] jlisee commented on #10799
This would be a really great feature to have.  Some example "user stories":

 - Alice wants to say `this test needs 16 cores and 64GB of RAM`, but allow the compilations of the 10 files in the test to use only a single core and 8GB of RAM.  This greatly reduces the resources needed for the test.

 - John wants to says `this test needs a GPU and 128GB RAM` but not consume GPU resources when build t

[2020-02-28 06:29] jlturriff commented on #5599
On 2020-02-27 09:01:31 Joachim Wagner wrote:

	As you see here, when I downloaded bazel via zypper it pulled in JDK 8 as
well, and the errors came up without my making any modifications to the
downloaded packages.  If one or both of the packages are too old, it must be
due to the conservatism of OpenSuSE, which seldom provides near bleeding-edge
packages.

@06:12:31,root@pinto
/usr/local/tensorflo

[2020-02-28 13:58] meteorcloudy commented on #10781
Since this is not a Bazel bug, I'll close it now :)

[2020-02-28 13:58] #10781 closed

[2020-02-28 15:41] cpovirk commented on #10839
Here's specifically what I'm seeing in case there's something weird about my environment or project:

[code]

Note that there are additional errors from running without an Android SDK. But even when I run with the SDK present (at which point the other errors go away), the `java_*` errors persist. (To make the errors go away (and to get the other error about `@bazel_tools//tools/android:dexer`), yo

[2020-02-28 15:43] cpovirk commented on #10839
(I thought perhaps that switching to [rules_android](https://github.com/bazelbuild/rules_android) would help, but it appears not, assuming that I got it right.)

[2020-02-28 15:50] jwnimmer-tri commented on #10869
I believe you want `try-import %workspace%/.bazelrc.local`.

-- https://docs.bazel.build/versions/2.1.0/guide.html#bazelrc

[2020-02-28 16:45] #10313 closed

[2020-02-28 17:10] #10869 closed

[2020-02-28 17:10] jin commented on #3762
This snippet doesn't seem to be on the docs anymore, since git_repository has been rewritten in Starlark.

https://docs.bazel.build/versions/master/repo/git.html

[2020-02-28 17:10] #3762 closed

[2020-02-28 17:15] jin commented on #3787
@susinmotion since you've been working with Xcode version selections recently, do you have any idea about this issue?

[2020-02-28 17:25] susinmotion commented on #3787
Hm, does this problem persist after opening Xcode to finish the setup of command line tools, and then doing bazel shutdown so Bazel becomes aware of the new version?

[2020-02-28 17:26] jin commented on #3905
Fixed in https://github.com/bazelbuild/bazel/commit/d22331df583738029a43b310e825d1da9985d743

[2020-02-28 17:26] #3905 closed

[2020-02-28 17:28] jin commented on #3989
Reported fixed, closing. Please create a new issue if you run into this again.

[2020-02-28 17:28] #3989 closed

[2020-02-28 17:33] jin commented on #3997
Don't think we've seen this recently.

[2020-02-28 17:33] #3997 closed

[2020-02-28 17:41] jin commented on #10468
+1, this will be really nice to have.

[2020-02-28 17:48] jin commented on #10575
Unfortunately, we'd not be able to provide Tensorflow-specific build issues on this repo. Please file an issue on the TF repo for support instead.

Some questions off the top of my head: is the Bazel version compatible with the Tensorflow version you're building? Is building TF at that version compatible in Docker and/or Centos 7? Same thing for GCC / toolchain versions.

[2020-02-28 17:48] #10575 closed

[2020-02-28 17:51] jin commented on #10693
Closing as WAI and dupe.

[2020-02-28 17:51] #10693 closed

[2020-02-28 17:52] jin commented on #10801
@jjangga0214 hopefully the answers above clarify things for you! Closing as there's nothing actionable here.

[2020-02-28 17:52] #10801 closed

[2020-02-28 19:14] jmmv commented on #10776
I spent a lot of time on the theory that this is caused by heavy machine load but could not trigger a single problem on various machines (including an iMac Pro as BazelCI uses) by running the test hundreds of times while, at the same time, running a very large build in the background. I even "reniced" `fseventsd` to 20 to try to make it slower, but that had no effect either.

So I ended up writing

[2020-02-28 19:19] #10176 closed

[2020-02-28 19:44] AustinSchuh commented on #10468
The problem is that the alias in @bazel_tools//tools/jdk:java, etc directly point to local_jdk.  There is now way to fix that.

I've been patching bazel and overriding those with remote JDKs.

[2020-02-28 21:26] kastiglione opened #10872 "Add aquery configuration() function"
### Description of the problem / feature request:

When using `aquery`, it would be convenient to limit the output based on the action's configuration.

### Feature requests: what underlying problem are you trying to solve with this feature?

For an iOS target, running `bazel aquery 'deps(some/target)'` will result in many iOS targets, but also some targets that are not iOS. One way to distinguish

[2020-02-28 23:06] cgruber commented on #7093
+1 for all the rules_* repos, which typically have a variety of sub-repos to handle testing the rules.

[2020-02-29 03:23] janakdr opened #10873 "bazel crashes when run with incorrect flags in envoy"
This is with Bazel 2.0.0. Repro instructions:

[code]

You may need to have authenticated with RBE in some way, but I don't think so. The crash is:

[code]
It was pointed out to me that adding the --remote_executor flag avoids the crash.

[2020-02-29 04:54] dmadisetti opened #10874 "Documentation issue: External Dependencies"
Documentation URL: https://docs.bazel.build/versions/2.0.0/external.html#best-practices

Is using `http_archive` still best practice over using `git_repository`? The justification given is rather dated, since then shallow_since has been added (https://github.com/bazelbuild/bazel/commit/6496b1d1d25025f33406b1eaf9949cab126f08bd) in addition `git_repository` may have diverged from the original skylar

[2020-02-29 04:55] JaredNeil opened #10875 "Reuse input map and merkle tree for tools with lots of inputs"
### Description of the feature request:
Create a separate input map and merkle tree for each tool used in an action, then combine those to calculate the final action digest. Each tool's input map and merkle tree should be reused between actions that depend on the same tool.

### Feature requests: what underlying problem are you trying to solve with this feature?
[These two function calls](https://

[2020-02-29 05:12] celskeggs opened #10876 "bazel server crashes with internal error if @ accidentally included in repository name"
### Description of the problem / feature request:

bazel completely crashes when creating a repository with a name accidentally prefixed with `@`, such as with a typo like `name = "@rules_pkg"`.

[code]

For obvious reasons, this should not be expected to work -- but I would expect a nice error, rather than an `Internal error thrown during build.` report and an immediate crash of the bazel server.

[2020-02-29 17:37] limdor commented on #6767
@hlopko is this an accepted bug? Would it be ok to change the behavior of cc_import to support the same includes like cc_library? If that is the case I can prepare a PR with the changes.

[2020-02-29 18:56] ulfjack commented on #6767
IMO, making it consistent sounds good.

[2020-02-29 19:49] jin commented on #10874
Solely based on the Starlark git rules' dependency on system `git(1)`, I would still recommend using `http_archive` over `git_repository` whenever possible.

[2020-03-01 05:55] Githubber2021 opened #10878 "Process locks stdout file"
Hi,

I am using bazel in my GitLab pipeline and I often stumble over this error. I am not sure if a Gitlab runner locks the file, but I am wondering what I can do to find the cause. Any help is highly appreciated.

[code]

[2020-03-01 08:57] akdeepak opened #10879 "io.bazel.rules.closure.webfiles.server.WebfilesServer run SEVERE: Webfiles server died"
**### Description of the problem / feature request:**

Build is compiled successfully but run is failing on the tensoarboard (tensorflow) github repo

### Feature requests: what underlying problem are you trying to solve with this feature?

Build and run the tensorboard embedding projector - project for the development.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please prov

[2020-03-01 10:48] ulrfa opened #10880 "Builds without the Bytes fails on missing AC result"
[Not to be confused with available AC result referencing missing blobs in CAS]

The original [proposal](https://docs.google.com/document/d/11m5AkWjigMgo9wplqB8zTdDcHoMLEFOSH0MdBNCBYOE) is clear about this limitation and calls it "initially acceptable":

However most discussions (e.g. in #8250) focus only on **using a remote cache that is not returning AC result if blobs are missing in CAS. But tha

[2020-03-01 11:24] wesleyw72 opened #10881 "FDO broken with GCC"
### Description of the problem / feature request:

FDO is broken when used with GCC.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[code]
[code]

### What operating system are you running Bazel on?

Ubuntu 18.04
GCC 7.4.0

### What's the output of `bazel info release`?

release 1.2.1

[2020-03-01 13:12] ulrfa commented on #6862
_Remote Builds without the Bytes_ have huge potential but there are still issues and rough edges:

-   #10880
-   Remaining milestones in #6862
-   Crash with stacktrace if enabling --remote_download_outputs=minimal without also enabling a remote cache.
-   Error messages referencing the older name –experimental_remote_download_outputs instead of the new --remote_download_outputs.
-   **Non-experi

[2020-03-01 14:14] laurentlb commented on #7595
What's the status of this?

[2020-03-01 16:58] iirina commented on #7595
There's a working version in blaze, but not in bazel.

[2020-03-01 18:35] Yannic commented on #9337
@thomasvl I might be missing something, but it seems like this is blocked by trying out whether always adding `--include_source_info` breaks Google. I did run some experiments locally and it seems like doing so should be fine.

One thing I did notice during my experiment is that `--protocopt=--include_source_info` makes the build very noisy. We have to ensure to only add `--include_source_info` wh

[2020-03-01 18:46] blackliner commented on #5506
Hi, for me the naming of the bazel-<directory-name> is a problem, because `bazel clean` does only clean this symlink if it has the same name as the parent dir.
For example, if i have  `~/my-project` and run `bazel build ...`, a symlink named `bazel-my-project` is generated.
If i now map `~/my-project` into a docker as `/src/`, bazel goes nuts because it finds files in the `bazel-my-project` symlin

[2020-03-02 01:35] benjaminp commented on #10881
See #5960.

[2020-03-02 11:26] anthanh opened #10884 "Genrule refuses to build when adding Typescript support"
### Description of the problem / feature request:

Hi there!

Building NextJS projects seems to work with plain JS, but not with Typescript support.
You can try it [here](https://github.com/anthanh/bazel-next-typescript-monorepo).
FYI: NextJS generates artifacts in `.next` folder. Sources and node_modules still needed to run the NextJS webapp.

It works with `nodejs_binary`, but no output manageme

[2020-03-02 15:12] thomasvl commented on #9337
`--protocopt=--include_source_info` was never my suggestion so I'm not surprised it has some issues.  I was after the descriptor sets in the proto_library providers including the source info, and I'm guessing `--protocopt=--include_source_info` doesn't only apply to those actions, hence the noise.

The only tests that should be validating the generation would be the proto library ones, and I don't

[2020-03-02 18:13] gabroo commented on #8014
What is the recommended way of specifying targets for `bazel build` in the `.bazelrc` without breaking `bazel clean`?

![image](https://user-images.githubusercontent.com/6046841/75704568-72c6a380-5c6e-11ea-9d06-ad8fe8543989.png)

[2020-03-02 20:13] brentleyjones opened #10886 "macOS wrapped_clang should export ZERO_AR_DATE=1 to make linking hermetic"
### Description of the problem / feature request:

`wrapped_clang`, unlike `bazel/libtool`, doesn't export `ZERO_AR_DATE=1`. This causes timestamps to be embedded in linked binaries.

### Feature requests: what underlying problem are you trying to solve with this feature?

`wrapped_clang` should export `ZERO_AR_DATE=1`.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please prov

[2020-03-02 20:14] brentleyjones commented on #10886
A workaround for now is to call the build with `--action_env=ZERO_AR_DATE=1`

[2020-03-02 21:02] markkolich commented on #9304
`sudo spctl --master-disable` seems like an unnecessarily heavy hammer.

Clearing the Apple quarantine bit from the extracted binary worked just fine for me:

`sudo xattr -c /path/to/bazel`
`sudo xattr -c /path/to/bazelisk`

[2020-03-02 22:31] HALtheWise opened #10888 "bazel-my-project/ symlink not affected by workspace(name=...)"
### Description of the problem / feature request:

The documentation [here](https://docs.bazel.build/versions/master/output_directories.html) implies that the generated symlink `bazel-<workspace_name>` uses the "name" of the workspace defined in the `WORKSPACE` file, but on bazel `2.0.0` I'm seeing it ignore that in favor of using the name of the parent directory.

We have developers install the c

[2020-03-03 02:44] brentleyjones opened #10889 "on macOS isysroot should be set to a stable execroot relative path"
### Description of the problem / feature request:

`isysroot` should be set to a stable exec root relative path (such as a symlink to the real Xcode SDK) to prevent the path of the build machine's Xcode from being embedded in build artifacts.

Currently `isysroot` is set to `__BAZEL_XCODE_SDKROOT__`, which currently resolves to something like `/Applications/Xcode-11.3.app/Contents/Developer/Platfo

[2020-03-03 07:32] scottcjt commented on #10836
@aiuto IMHO this is a bug. It has undefined behavior beyond what document says. It also cripples platform selection on all objective-c rules between MacOS and Linux.

[2020-03-03 09:18] philwo commented on #10698
Reassigned to @fweikert to figure out why we run a test with latest_green Bazel in our downstream pipeline.

[2020-03-03 09:19] philwo commented on #10696
This was fixed in the meantime.

[2020-03-03 09:19] #10696 closed

[2020-03-03 09:20] philwo commented on #10356
Bazel 2.0.1, 2.1.1 and 2.2.0 have been released with the fix, so I'm closing this issue.

[2020-03-03 09:20] #10356 closed

[2020-03-03 09:53] philwo commented on #10133
Release 2.2.0 has been pushed, release notes on our blog to follow.

[2020-03-03 11:12] laurentlb commented on #10730
Did you submit the flag flip?
We're supposed to cut Bazel 3.0 now.

[2020-03-03 11:34] laurentlb commented on #10536
We're supposed to cut Bazel 3.0 now. Was this flag flipped?

[2020-03-03 11:35] laurentlb commented on #10335
We're supposed to cut Bazel 3.0 now. Was this flag flipped?

[2020-03-03 11:40] lberki commented on #10335
Argh, no. Let me send a change.

[2020-03-03 11:58] Yannic commented on #10335
I prepared a PR for flipping this some time ago, but it was blocked on the release of Bazel 2.2.
Feel free to use https://github.com/bazelbuild/bazel/pull/10745 as inspiration :).

[2020-03-03 12:04] lberki commented on #10335
Indeed! Let me just import it then.

[2020-03-03 12:37] #9992 closed

[2020-03-03 12:37] #10335 closed

[2020-03-03 13:10] vbatts commented on #10133
fedora/centos/RHEL builds are kicked off: https://copr.fedorainfracloud.org/coprs/build/1282540
also note, this package is "bazel2"

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Tuesday, March 3, 2020 4:53 AM, Dmitry Lomov <notifications@github.com> wrote:

[2020-03-03 13:51] ozio85 commented on #10865
@ulfjack I see you have changed some parts of the code regarding C/CPP coverage, is there a quick fix to set the remote execution properties?

[2020-03-03 14:24] katre commented on #10742
I will attempt to cut a release on 2020/03/04, in the morning EST.

[2020-03-03 14:43] vbatts commented on #10133
none of the aarch64 builds succeeded

[2020-03-03 14:56] philwo commented on #10133
Looks like this is the error on aarch64:

[code]

If someone can repro and send a PR to fix it, I can look into doing a patch release. I won't have time to do it myself this week unfortunately.

[2020-03-03 15:04] katre commented on #10133
We should also file this so I can track it for the next release.

[2020-03-03 15:32] cpovirk commented on #10839
I tried with 2.2.0 and on another machine, and the build still fails.

[2020-03-03 15:36] EricBurnett commented on #6862
Certainly not abandoned - BwtB is useful for, and used in production on, a decent variety of use-cases at this point; if you encounter any regressions you can expect them to be fixed. I'd mostly classify it as "if it works, it works" from a completeness standpoint though, in that I'm not aware of _flake_ issues - beyond trying to use it with a lossy CAS, anyways (#10880) - but there are still cert

[2020-03-03 15:55] kvkenyon commented on #10533
I was able to solve this by adding:
export DEVELOPER_DIR="/Applications/Xcode.app/Contents/Developer"
export SDKROOT="/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX10.15.sdk"

Now after running the same target I don't get the above error and everything is linked properly so I can move through source with command clicks

[2020-03-03 15:58] brandjon opened #10890 "--starlark_cpu_profile is broken"
Bazel 2.2 [released](https://blog.bazel.build/2020/03/03/bazel-2-2.html) the feature `--starlark_cpu_profile=...`, which writes a pprof of Starlark CPU usage. This feature is currently broken due to JNI-related issues.

@alandonovan

[2020-03-03 16:03] mvanrompuy opened #10891 "Support for HDL languages"
### Description of the problem / feature request:

What are the plans for supporting HDL languages in Bazel?

### Feature requests: what underlying problem are you trying to solve with this feature?

Currently no modern build systems seem to exist targeting HDL languages such as (System)Verilog and VHDL. Is this something which is on the roadmap of Bazel (or which it is already used for)?

Impleme

[2020-03-03 16:29] susinmotion commented on #10730
Just submitted now.

[2020-03-03 16:30] susinmotion commented on #10536
No. Preparing a change with the flip now.

[2020-03-03 16:46] #10536 closed

[2020-03-03 17:16] moderation commented on #10746
I compile Bazel on aarch64 from source and have been able to successfully do so up until 2.2.0. I compiled 2.1.1 last week successfully with `env EXTRA_BAZEL_ARGS="--host_javabase=@local_jdk//:jdk" bash ./compile.sh`.

I tried 2.2.0 this morning and get:
[code]

[2020-03-03 17:37] sudoforge commented on #10520
Just a note here: If you or your loved ones use Arch Linux, I maintain [`bazelisk-bin`][0], which installs Bazelisk as `bazel`, which effectively accomplishes the goal of this feature request.

[0]: https://aur.archlinux.org/packages/bazelisk-bin/

[2020-03-03 17:42] alandonovan commented on #10746
Yes, you'll need to build a version of Bazel more recent than 2.2.0 (20 days old) as the fix was only added in 2402c8f (15 days ago).

[2020-03-03 18:02] susinmotion commented on #10730
Submitted. now closing.

[2020-03-03 18:02] #10730 closed

[2020-03-03 18:25] katre commented on #10799
Taking a look at this (and the PR #10866), I think this is strongly related to the proposal for [Action Groups](https://docs.google.com/document/d/1m9xLRLg09lncQTuBUMhhG_lqDQGJRYMZPejvwdBXvqo/edit#heading=h.5mcn15i0e1ch). Action groups would allow test rules to declare that the test execution actions are in a separate, named group, and then targets can use the proposed syntax:

[code]

The proposa

[2020-03-03 19:04] philwo commented on #10742
@robbertvanginkel Looks like #10818 is merged, but #10622 is still in the middle of the review. Unfortunately the team members who were most familiar with our remote execution client have changed teams and are no longer available for Bazel code reviews. I hope that we can pick this up in the next months, but in the meantime, merging PRs in that area will take more time than usual, especially of th

[2020-03-03 19:08] werkt commented on #10799
I'm just stuck on not being able to do this from the target itself without the action group - exec_properties as identified here should have the same principles as those in rule-base, it could even be left backwards compatible with dict detection in values allowing the new behavior.

What is the ETA on ActionGroups? That along with the above is what matters to me.

[2020-03-03 21:42] jin commented on #10891
I found some projects for this:

https://github.com/cpehle/rules_verilog
https://github.com/kkiningh/rules_verilator

Generally speaking, Bazel language support would come in the form of Starlark rules, which exists externally to the core build system. Anyone can write these rules, including yourself! We will not be extending the core build system with language specific features as it's not really

[2020-03-03 21:42] #10891 closed

[2020-03-03 22:13] beasleyr-vmw commented on #7059
Looks like this was touched on by 5efc8c473596f797445ecc4be7a0b0585654d8fc. Since that commit, one can do something like

[code]

[2020-03-03 23:10] konste opened #10893 "Aliased test rule is not recognized as test"
### Description of the problem / feature request:

cc_test rule is not recognized as the test when referred to through the alias.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

I have trivial cc_test rule in workspace subfolder tests/src:
[code]
Command `bazel test //tests/cpp:hello-world` runs the test as expected.
Now at the work

[2020-03-03 23:32] DavidGoldman commented on #10889
FWIW swiftc emits the SDK path [here](https://github.com/apple/swift/blob/261e9e4eb9cfc5f7e84426f98d1beb975cd72a49/lib/IRGen/IRGenDebugInfo.cpp#L662), it may be best contributing to Swift directly.

[2020-03-03 23:34] jmillikin-stripe commented on #10742
I am extremely motivated to get that change in. A delay of "months" would be overwhelmingly bad. Can I do a pair-programming review session or something over Hangouts to go over it?

[2020-03-04 00:12] adunham-stripe commented on #10742
Hi folks,

My name is Andrew, and I'm the PTL for Security here at Stripe. This feature is very important for us; we're counting on it to be able to ensure the integrity and provenance of dependencies in our builds.  The fact that it has taken almost 45 days to get a review on an accepted proposal, which was itself submitted nearly a year ago, and especially with someone that has been so willing t

[2020-03-04 02:09] benjaminp commented on #4205
Probably at most this is a duplicate of #10856 10893.

[2020-03-04 02:11] benjaminp commented on #10893
5576269cba82578ee4e80c362b39d86e87c25780 and f2cb3c69413c74569f19232f89a5f0e86d4f15ac are relevant.

[2020-03-04 07:26] hlopko commented on #6767
@oquenchil wdyt?

[2020-03-04 10:11] #5178 closed

[2020-03-04 10:32] otisonoza commented on #8438
I believe the first workaround breaks the configure_make rule: https://github.com/bazelbuild/rules_foreign_cc/blob/master/tools/build_defs/configure.bzl

configure is not invoked from execroot, as I see it's invoked from a temp directory under /tmp/.
Then when it invokes the wrapper script from the tool_path, it will not be able to find the executable (for example gcc) when checking if the compile

[2020-03-04 11:28] kgizdov opened #10895 "Build fails for 2.2.0, but succeeds when adding `--verbose_failures` flag"
### Description of the problem:

Bazel 2.2.0 fails to build with unknown error. Passing `--verbose_failures` makes the build succeed with no issues or errors.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

fails to build with:
[code]
but build successfully with:
[code]

### What operating system are you running Bazel on?

Arch Linu

[2020-03-04 13:03] ChristianAkerblomVeoneer opened #10896 "Directories with different case in different external dependencies causes Python import errors on Windows"
### Description of the problem / feature request:

Import two different external dependencies in a workspace. Each external dependency has a directory "Tools" but with different casing (Tools/tools). In each dependency there is a py_binary importing from the tools directory (proper casing used in each dependency) and a rule that uses the py_binary. In the repo you load the two rules and instantiat

[2020-03-04 14:16] torgil opened #10897 "CcCommon constructor throws NullPointerException if no default toolchain is found"
### Description of the problem / feature request:

Trying to use cc_common.compile without a cc_toolchain from toolchain resolution or with a cc_toolchain from toolchain resolution after a host_platform transition make bazel throw exception

All referenced files are available in attached zip-file

b7d419bc09396eaf7e45aba529cbe2463824edaf_log.txt  [partial - full log in attachment]

    Caused by:

[2020-03-04 14:24] katre commented on #10742
First I want to apologize to @jmillikin-stripe for the long review on that PR. unfortunately, we've discovered that we've lost all of our in-house domain experts on that code (either they've left the team or the company entirely). This means that not only is it difficult to accept external contributions to this code, it's difficult to accept internal contributions! We're working to find and train

[2020-03-04 14:40] ulfjack commented on #6862
I'm interested in working on this myself, or funding work on it. Note that I no longer work at Google, and @buchgr has also left the team.

[2020-03-04 14:51] katre commented on #10742
# Status of Bazel 3.0

- Target baseline: 2020-03-04
- Expected release date: 2020-03-18
- [List of release blockers](https://github.com/bazelbuild/bazel/labels/Release%20blocker)
  - Currently none.

To report a release-blocking bug, please file a bug using the `Release blocker` label, and cc me.

Task list:

- [ ] Update GitHub issues for incompatible changes
- [ ] Pick release baseline: 3c7cc74

[2020-03-04 14:54] katre commented on #10730
This was flipped in c7ba3c18363de4d44a24307eebd123e755db8bd8.

@susinmotion: Please link commits to github issues in the future.

[2020-03-04 14:54] katre commented on #10536
This was flipped in 765d3c1c0c5c1ac1f21e126439aa6d7072aa6ec2.

[2020-03-04 14:56] katre commented on #10047
Closing due to flag flip in 858a4b1a44f1058f5bbec9ea778421038ef34f10

[2020-03-04 14:56] #10047 closed

[2020-03-04 15:03] ulfjack commented on #10742
I'm definitely interested in reviewing changes to the remote execution parts of the codebase. As a caveat, I am starting my own company and that's where most of my time is going, so I can't promise an SLA on code reviews. Feel free to ping me directly if the progress is too slow.

[2020-03-04 15:08] katre commented on #10742
RC1 created:
[code]

Currently uploading and building.

[2020-03-04 15:14] irengrig commented on #10878
/cc @meteorcloudy

[2020-03-04 15:16] irengrig commented on #10878
Hi @Githubber2021 , thank you for reporting the problem!
Seems that Bazel can not access its internal file.
Could you kindly check with https://docs.microsoft.com/en-us/sysinternals/downloads/process-explorer, what is the process holding the lock to the file?
Thank you!

[2020-03-04 15:58] meisterT commented on #10895
I cannot repro this on my machine. What's the output of Bazel when it fails?

[2020-03-04 16:21] katre commented on #10742
RC is created: https://releases.bazel.build/3.0.0/rc1/index.html
Draft release notes are available: https://docs.google.com/document/d/1wDvulLlj4NAlPZamdlEVFORks3YXJonCjyuQMUQEmB0/edit#heading=h.6qerc5lsmoev
Waiting for downstream tests now.

[2020-03-04 17:29] kastiglione opened #10902 "Bazel query silently thrashes the analysis cache"
### Description of the problem / feature request:

`bazel query` invalidates the analysis cache for subsequent builds, and neither the output of `bazel build` nor `bazel query` indicate the problem.

The best solution would be to call `bazel query` in a way that uses and preserves the current analysis cache. A secondary solution is to have one or both commands log about the problem.

`bazel build`

[2020-03-04 18:00] katre commented on #10742
Downstream tests have passed: https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1412

[2020-03-04 19:25] philwo commented on #9408
Hi @bastien-roucaries,

thank you for offering to help. I'll follow up in the next days with action items that we should address. I think we have some notes about what we have to do here, I'll try to find them and will post everything here. If you don't hear from me soon, please ping me here on the issue.

Some things out of my head:
- The Bazel binary should not be self-extracting, instead we sho

[2020-03-04 20:12] #10876 closed

[2020-03-04 20:19] meisterT commented on #6318
We have no plans to replace the compression algo at this point, so I am closing this.

[2020-03-04 20:19] #6318 closed

[2020-03-04 20:20] #6317 closed

[2020-03-04 20:21] meisterT commented on #6315
This would add a lot of technical complexity which we don't want to add right now, so closing.

[2020-03-04 20:21] #6315 closed

[2020-03-04 20:33] #242 closed

[2020-03-04 22:18] gregestren commented on #8014
Thanks for this feedback.

It's not obvious to me breaking the inheritance between `test` and `build` offers the right experience. All `test` is, ultimately, is a glorified `build` + `run`. The `build` part is already implicit, so the relationship between their flags doesn't feel arbitrary to me.

[2020-03-04 22:26] gregestren commented on #8014
You could always add a `--config` to your build. But it's not ideal since it takes away some of the convenience of having the target auto-trigger in the first place.

I think we need Bazel changes to make this use case work cleanly.

[2020-03-04 23:19] #8609 closed

[2020-03-05 00:47] benjaminp opened #10903 "SkyframeTests's testThreeSharedActionsRacing is flaky"
This test looks to be inherently racy with various `Thread.sleep` calls employed to get racing threads into the right state.

Here's the hanging stacks:
[code]

[2020-03-05 01:29] nathanhleung opened #10904 "Use environment variables in .bazelrc via string interpolation"
### Description of the problem / feature request:

I want to use environment variables in my .bazelrc via string interpolation

### Feature requests: what underlying problem are you trying to solve with this feature?

I'm running a remote Bazel cache secured with Basic Auth. I don't want to hardcode basic auth credentials into the `.bazelrc` checked into the repository.

Example `.bazelrc`:

[code

[2020-03-05 07:30] meisterT commented on #10603
cc @ericfelly

[2020-03-05 09:45] meteorcloudy commented on #10878
It's also possible your Windows Defender or some other anti-virus software is holding the handle of the file. It is possible to whitelist the `c:/out` folder?

[2020-03-05 10:36] oquenchil opened #10905 "incompatible_linkopts_to_linklibs: Move C++ toolchain's default LINKOPTS to LINKLIBS"
unix_cc_configure used to have the default BAZEL_LINKOPTS [-lstdc++:-lm] and no default BAZEL_LINKLIBS which should have been the other way around. Flags in the former appear first in the command line before user linked libraries and the latter appears last. Because of this, the incompatible change #7687 started causing issues for many people (#9254)

**Flag**: --incompatible_linkopts_to_linklibs

[2020-03-05 15:26] oquenchil opened #10907 "Be able to query semantic options from repository rules"
I'm introducing an incompatible flag for a change to a repository rule that is under Bazel and therefore has to respect the incompatible change policy.

The change in logic has to happen in the repository rule, so I need to know there the value of the semantic option.

I ask you to please introduce a method that allows querying for these values. Even if it's just allowed from repositories that the

[2020-03-05 15:27] oquenchil commented on #10907
@lberki

[2020-03-05 15:27] lberki commented on #10907
/cc @laurentlb

[2020-03-05 17:16] jmmv commented on #10742
I'd like to propose these two commits for cherry-picking: 4ee52dbdb0351aa2f9c8340e3bacd9a6b36e6a77 and 9ada0fe73ad3cd0e40c85eb82037ff7ff7f44ef9.

The rationale is that these commits will allow Bazel 3.0.0 to work alongside sandboxfs 0.2.0 (about to be released), which provides major performance improvements over the previous version. But without these commits, Bazel cannot understand the protocol

[2020-03-05 17:47] konste opened #10908 "Allow for multiple endpoints for Bazel Event Service"
### Description of the problem / feature request:

Bazel allows configuring endpoint for the Bazel Event Service through `--bes_backend` command line option. We need it to allow for multiple endpoints, so that events stream is sent to all of them.

### Feature requests: what underlying problem are you trying to solve with this feature?

While in the past BES was underutilized now there are more an

[2020-03-05 18:05] JulianGerhard21 commented on #10746
Hi @alandonovan ,

I am unable to find a more recent bazel version than 2.2.0 - can you please give me a hint where I can download specifically the dist, because I need to bootstrap it?

Kind regards
Julian

[2020-03-05 18:52] prestonvanloon opened #10909 "git_worker.bzl appears non-hermetic"
I believe this is the offending line
https://github.com/bazelbuild/bazel/blob/66f33ab9f732bf0ec2a96248444b4955384d7cd3/tools/build_defs/repo/git_worker.bzl#L113

I discovered this by following the steps for [Finding non-hermetic behavior in WORKSPACE rules](https://docs.bazel.build/versions/master/workspace-log.html). Every external dependency appears non-hermentic due to host environment variable

[2020-03-05 18:56] keith commented on #10909
We execute bazel through a wrapper script with `env -i` and limited environment variables to solve this

[2020-03-05 19:08] prestonvanloon commented on #10909
@keith do you have an example? I'm using bazelisk, if that helps.

[2020-03-05 19:16] juliexxia commented on #10799
ActionGroups is in the design review stage now and will hopefully be approved and ready for implementation by early next week. It's a P0 OKR for Q1 but since we only have a month of Q1 left I wouldn't be surprised if some work bled into Q2.

@katre are you proposing that all test rules automatically have the "test" action group? That seems reasonable to me

[2020-03-05 19:21] juliexxia commented on #10799
Added a note about this to the 'Potential Next Steps' section of the action groups doc: https://docs.google.com/document/d/1m9xLRLg09lncQTuBUMhhG_lqDQGJRYMZPejvwdBXvqo/edit#bookmark=id.nh45ww714xso

[2020-03-05 19:33] kastiglione opened #10910 "Add -no_deduplicate to crosstool for ld64 flags for dbg/fastbuild builds"
### Description of the problem / feature request:

For debug builds, Xcode uses ld64's `-no_deduplicate` flag. This has a decent speed up for link times. Bazel does not use this flag in any compilation mode.

### Feature requests: what underlying problem are you trying to solve with this feature?

Using `-no_deduplicate` creates more parity with Xcode builds and results in faster linking times. In

[2020-03-05 20:23] keith commented on #10909
It's definitely not ideal but at the root of our repo we have a script like this:

[code]

[2020-03-06 03:02] siddharthab opened #10912 "--notrack_incremental_state crashes on some repos"
### Description of the problem / feature request:

On our private monorepo, we get the following crash when using `--notrack_incremental_state` (with or without `--nokeep_state_after_build`):

[code]

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

I have not been able to reproduce this bug on a public repo. I will be happy to dig an

[2020-03-06 05:01] prestonvanloon commented on #10909
Thanks! That is very helpful. We'll start doing that as well.

On Thu, Mar 5, 2020 at 12:23 PM Keith Smiley <notifications@github.com>
wrote:

[2020-03-06 05:59] thii opened #10913 "Native patch doesn't preserve executable bit"
### Description of the problem / feature request:

Native patch doesn't preserve the executable bit of the patched file. If you're trying to patch an executable file in a repository, the file will become a non-executable file.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[code]

BUILD is an empty file.

WORKSPACE:

[code]

rules_

[2020-03-06 07:14] dslomov commented on #10742
I propose not to cherry-pick feature work. This is against our [policy](https://www.bazel.build/support.html#policy), and 3.1 will be out in a month.

[2020-03-06 10:21] irengrig commented on #10879
Hi @akdeepak , thank you for reporting the issue!

What happens if you bazel build XXX, and then run the binary without involving Bazel? Does it work?
I also noticed that the error comes from rules_closure library, should you maybe better ping rules_closure?

/cc @gkdn @Yannic

[2020-03-06 10:25] irengrig commented on #10884
Hi @anthanh , thank you for reporting the problem!

It is quite a long description so I did not really read it deeply, but just in case - there is this part in the reported error:

"Please install typescript, @types/react, and @types/node by running:
        npm install --save-dev typescript @types/react @types/node"

- does it help?

Also, it seems that this is completely rules_nodejs related and

[2020-03-06 10:45] irengrig commented on #10913
/cc @meteorcloudy

[2020-03-06 12:17] Yannic commented on #10742
I've noticed that `migration-4.0`-label was added to tracking issues for `--incompatible_*` flags:  https://github.com/bazelbuild/bazel/labels/migration-4.0.
Shouldn't it be `migration-3.0`?

[2020-03-06 12:26] Yannic commented on #9006
What's the status of this flag? Is it going to be flipped eventually or has it been abandoned? If it's the former, can we add `migration-X` labels for 2.x and 3.x so it'll be detected by Bazelisk and tested on Buildkite?

[2020-03-06 12:30] Yannic commented on #10225
@katre Shouldn't this also be `migration-3.0`?

[2020-03-06 12:31] dslomov commented on #10742
Sounds like it should be migration-3.0: @katre could you fix that? Thanks!

[2020-03-06 12:32] Yannic commented on #5903
Friendly ping on the status of this flag.

[2020-03-06 12:35] laurentlb commented on #5903
Marking it as migration-ready, so that we can get feedback and see if it breaks something.

[2020-03-06 13:08] laurentlb commented on #10742
I've renamed the label.

[2020-03-06 13:09] laurentlb commented on #10746
We have now a release candidate for Bazel 3.0, see https://releases.bazel.build/3.0.0/rc1/index.html
We'll have a proper release in a few weeks.

The alternative is to build Bazel yourself.

[2020-03-06 13:15] james-stephenson commented on #10895
I don't know what the OP was trying to convey about the issue, but I have a local Raspberry Pi build cluster whereby I build Bazel binaries for amv7l.

In trying to compile Bazel 2.2.0, I see the following:
[code]

This seems like yet another case similar to https://github.com/bazelbuild/bazel/pull/10748, and the fix there was just to patch the `select` for `jni_header`.  I'm assuming adding a cla

[2020-03-06 13:20] james-stephenson commented on #10895
Here's the original, offending commit: https://github.com/bazelbuild/bazel/commit/314cd3353b018420598188cf54c3f97358baa2e3#diff-96bd71d4e041b52d389d631025d2c09f

[2020-03-06 13:24] meisterT commented on #10895
cc @alandonovan

[2020-03-06 13:25] kgizdov commented on #10895
Hi, sorry for delay - traveling. The message from bazel was something along the lines of: ERROR: //some-module/foo failed to build. If you want to see a reason run the compilation with `--verbose_failures`. So I added the flag to see what the error was and bam, bazel compiled with no errors. Basically, I have no idea what the exact reason is. I will try and give actual output when I'm back from th

[2020-03-06 13:36] katre commented on #10742
Did I misunderstand the release playbook? At https://github.com/bazelbuild/continuous-integration/blob/master/docs/release-playbook.md#review-breaking-changes I thought I was supposed to add a "migration-4.0" (that being the next breaking changes release) to anything not ready to migrate yet.

[2020-03-06 13:37] james-stephenson commented on #10895
My apologies if this is different from what the OP saw here, I noticed there was very little context on this one and thought it may be the same as what I saw, and this was the only open issue I could find until I started digging into other PRs.

I might continue the conversation on one of the other fix PRs rather than here.

[2020-03-06 13:48] laurentlb commented on #10742
You need add a label migration-3.0 and breaking-change-4.0. With Bazel 3.0, users should migrate for changes that will break in Bazel 4.0.

[2020-03-06 15:16] haxorz commented on #10902
@kastiglione Please provide more information. Your certainly on the right track that `bazel` flags are the culprit, but haven't told us anything about your flag usage. I think bazel's INFO log suffices to fully debug this. If you can't upload the full file for sensitivity reasons, please read over it and copy/paste the relevant parts. Someone on the Bazel team can help you decipher the log if you

[2020-03-06 15:46] irengrig commented on #10902
Removing P1, we should indeed get more information.

/cc @lberki can you help investigate the problem?

[2020-03-06 16:31] dapirian opened #10917 "Don't allow cc_binary/cc_test to depend on other cc_binary/cc_test"
### Description of the problem / feature request:

Currently `cc_test`s can dep on `cc_test`s and `cc_binary`s can dep on `cc_binary`s. Unless your `cc_binary` is named ending in `.so` and is `linkshared = True` (meaning: you're explicitly making a shared library) you shouldn't be allowed to do this, and the properties of doing so are really strange. It makes some sense to allow this in python, bu

[2020-03-06 17:44] mariusgrigoriu commented on #10075
Not sure I understand something. Wouldn't the stamped output files be stored in the remote cache, and couldn't bazel just ignore `volatile-status.txt` and just download the previously built output file?

[2020-03-06 18:10] jmmv commented on #10742
@dslomov I don't know exactly what "I propose not to cherry-pick feature work." was in reference to, but I suspect it's about my sandboxfs commits. Those changes I referenced are fixes, not "feature work", because if we release Bazel 3.0 as it is today, its support for sandboxfs 0.2.0 will be broken.

I could do other contortions to avoid user visible breakage and then wait for 3.1, but I'd rather

[2020-03-06 18:24] bimargulies-google opened #10918 "Bazel misplaces -fno-pie"
See

https://github.com/bimargulies-google/bazel-no-pie-bug

Using

[code]
on Alpine linux, I try to build a no-pie executable with:

[code]
My .o file is still full of PIE:

[code]

[2020-03-06 19:03] dslomov commented on #10742
@jmmv support for sandboxfs 0.2.0 is a feature, not a bug: as far as I understand sandboxfs 0.2.0 is not even released yet, right?
And you do not need to go through any contortions - just wait until 3.1 is released. Why the rush?

[2020-03-06 19:41] keith opened #10919 "Build event output with runs_per_test doesn't contain overallStatus"
If you run a test with `--runs_per_test=5` that fails, the build event protocol file output by the test has a `testSummary` that doesn't contain the `overallStatus` like it does without `--runs_per_test`.

Example output with `--runs_per_test=5`:

[code]

Example output without `--runs_per_test`:

[code]

The only diff  here is the latter has `overallStatus`

### Bugs: what's the simplest, easiest

[2020-03-06 20:29] jmmv commented on #10742
Because Bazel 3.0 *already* has support for sandboxfs 0.2.0, but it's broken.

[2020-03-06 20:33] mariusgrigoriu commented on #10075
Or at the very least update the docs to state that bazel only pretends that the volatile file doesn't change in the context of a local incremental build.

[2020-03-06 20:43] benjaminp commented on #10918
I think you probably want to pass `-no-pie` rather than `-fno-pie`. (Note also in fastbuild mode, Bazel will be compiling with `-fPIC` by default, too.)

[2020-03-06 20:50] bimargulies-google commented on #10918
Thank You! That did it!

On Fri, Mar 6, 2020 at 12:43 PM Benjamin Peterson <notifications@github.com>
wrote:

[2020-03-06 21:28] tetromino commented on #10918
Also consider using `--features="-pic" --linkopt="-no-pie"` instead of setting `--copt`.

(Probably we should document this better somewhere.)

[2020-03-06 21:45] benjaminp commented on #10918
Modern Linux distributions are found of distributing GCC compiled with `--enable-default-pie`, so you have to explicitly pass a "no" flag to compilation to obtain only static relocations.

[2020-03-06 21:53] laurentlb commented on #10874
* I think `http_repository` is faster for GitHub repositories (need to double-check).
* It's easier to provide mirrors.
* As jin said, `git_repository` depends on the git binary. It's not always installed (for example, on many Windows machines).

For using projects on GitHub, `http_repository` seems better to me.

[2020-03-06 22:13] gkdn commented on #10879
I think that should work.

[2020-03-06 22:16] laurentlb commented on #10092
I'm going to close this issue, because it's unlikely that we'll change this.

[2020-03-06 22:16] #10092 closed

[2020-03-06 22:17] laurentlb commented on #10490
This has been fixed

[2020-03-06 22:17] #10490 closed

[2020-03-06 22:20] laurentlb commented on #10749
What's the action item here?
Is it just about updating the policy?

[2020-03-06 22:24] bimargulies-google commented on #10918
This worked for my simple 'hello_world' example, but does not work for the
bigger case with substantial dependencies like grpc.

There I am up to my ears in
credentials.cc:(.text._ZL27do_control_plane_creds_initv+0x20): undefined
reference to `operator new(unsigned long)'
.

On Fri, Mar 6, 2020 at 1:45 PM Benjamin Peterson <notifications@github.com>
wrote:

[2020-03-06 22:24] laurentlb commented on #10465
Is there any action item here, or shall we close the issue?

[2020-03-06 22:34] vam-google commented on #10465
@laurentlb Please close it

[2020-03-06 22:34] #10465 closed

[2020-03-06 22:37] laurentlb commented on #9460
Duplicate with https://github.com/bazelbuild/bazel/issues/4301

[2020-03-06 22:37] #9460 closed

[2020-03-06 22:46] laurentlb commented on #10654
Thanks for the detailed report.
Feel free to send a PR.

[2020-03-07 07:23] DannyLuoDan commented on #10417
hi, @iirina  have you fixed this problem? if yes, could you please kindly tell me how to fix it? thank you.

[2020-03-07 13:19] parrondo opened #10920 "Documentation issue: Installing Bazel on Fedora and CentOS"
Documentation URL: https://docs.bazel.build/versions/2.0.0/install-redhat.html

Provided instructions don't install Bazel 2.0.0 but the version 1.2.1-1.el7.

[2020-03-07 13:21] joeljeske commented on #10075
Yea I agree, it seems like unless the volatile status can actually be omitted from the actions inputs during action digest for the remote cache, then volatile keys is very misleading; it appears to work during local development of stamping rules, but then fails in a primary way people expect to leverage it.

[2020-03-07 19:34] bimargulies-google commented on #10918
If you check out the failure branch in my repo, you will see that it now shows missing symbol errors.

[code]

I can compile this trivial program with

[code]

and get a static executable, but bazel is not succeeding.

[2020-03-08 00:32] benjaminp commented on #10918
Fully static binaries should use `features = ['fully_static_link']`.

On Sat, Mar 7, 2020, at 11:34, Benson Margulies wrote:

[2020-03-08 01:01] bimargulies-google commented on #10918
Adding the features = [ ... ] to the cc_binary in the BUILD file has no
effect at all. I get exactly the same undefined symbols.

On Sat, Mar 7, 2020 at 4:32 PM Benjamin Peterson <notifications@github.com>
wrote:

[2020-03-08 01:09] bimargulies-google commented on #10918
The reason seems clear... the library is included _before_ the .o, instead of after. Can I take over control of the toolchain and fix this for myself?

[code]

[2020-03-08 06:52] keith commented on #10687
Is this actively being worked on?

[2020-03-08 11:43] or-shachar opened #10923 "Get the name of current repository from macro"
### Description of the problem / feature request:
I am trying to get the name of the current repository from a macro.
[code]
_(see full example [here](https://github.com/or-shachar/bazel_repository_name_issue) )_

I want that if repo `b` will call the macro in `@a//:txt_files.bzl` then somehow I'd be able to retrieve that it was called from repo `b`.

Right now (not sure if it's a bug or work as i

[2020-03-08 19:06] aiuto commented on #10687
Yes.  I'm trying to prove out working code at Google before releasing
things that are I flux. That said, when I am back in the office later this
week I can do the paperwork to create the rules-repo repository to hold the
macros to.make use of it. The core Bazel changes should be all done, if you
want to try with the flag flipped.

On Sun, Mar 8, 2020, 1:52 AM Keith Smiley <notifications@github.com

[2020-03-08 19:08] keith commented on #10687
Great thanks for the update!

[2020-03-08 22:41] aiuto commented on #10859
I would argue that backslash escaping is a hack around rather than a full
solution.  We should not have to assume Bourne shell parsing. That is *nix
centric.

A complete solution would be to let the user write
defines=["var=value that may have spaces"]

The CC toolchain would do whatever quoting is needed to get the correct arg
passed to whatever compiler we happen to be using

On Thu, Mar 5, 2020

[2020-03-08 23:44] Githubber2021 commented on #10878
Still on hold since I didn't receive this error for a while. Thanks for the responses so far

[2020-03-09 06:57] Leslie-Fang commented on #5599
I have used bazel-1.2.1 and get the same error:
[code]

[2020-03-09 09:40] meteorcloudy opened #10926 "Bazel CI: rules_cc and rules_haskell is broken with Bazel@HEAD"
https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1417
[code]

Culprit: https://github.com/bazelbuild/bazel/commit/906f5f1c233ca18c67a9cedd2c7182f33b88c44b
Identified by: https://buildkite.com/bazel/bazel-auto-sheriff-face-with-cowboy-hat/builds/83#790ec1a5-c10a-4486-9bc7-e968733b59db

[2020-03-09 09:42] meteorcloudy commented on #10926
@oquenchil Is there a quick fix? Otherwise, I'll do a rollback first.

[2020-03-09 09:43] jowagner commented on #5599
@jlturriff and @Leslie-Fang Please open an issue "Build process requires too recent build tools" on https://github.com/tensorflow/tensorflow . The tensorflow developers are likely to close it quickly with "wontfix" but it is good to move the discussion from here to a dedicated space. Please cross-link here, e.g. by referring to this conversation in your bug report. (Github automatically creates a

[2020-03-09 11:17] aherrmann opened #10927 "Toolchain resolution stumbles over workspace prefixes in constraint labels"
### Description of the problem:

Bazel fails to resolve a toolchain if one of the `constraint_values` entries of the current platform is defined without a workspace prefix, while the `exec_compatible_with` of the toolchain uses the same constraint but with a workspace prefix. E.g. in [`rules_nixpkgs`](https://github.com/tweag/rules_nixpkgs/pull/108) we define the constraint and platform in `nixpkg

[2020-03-09 13:20] dslomov commented on #10742
Ahh, ok now I understand - thanks for bearing with me. In that case, I leave the final decision to the release manager, @katre.

[2020-03-09 13:29] oquenchil commented on #10327
This change https://github.com/bazelbuild/bazel/commit/906f5f1c233ca18c67a9cedd2c7182f33b88c44b introduces the fix so that the workaround is no longer needed.

The tracking issue for the flag flip is in https://github.com/bazelbuild/bazel/issues/10905

[2020-03-09 13:29] #10327 closed

[2020-03-09 13:29] beasleyr-vmw commented on #4301
External contributors would benefit from guidelines for what (not) to do when adding to bazel_tools (see https://github.com/bazelbuild/bazel/issues/8738#issuecomment-581163441).

[2020-03-09 13:30] oquenchil commented on #9254
This change https://github.com/bazelbuild/bazel/commit/906f5f1c233ca18c67a9cedd2c7182f33b88c44b introduces the fix so that the workaround is no longer needed.

The tracking issue for the flag flip is in https://github.com/bazelbuild/bazel/issues/10905

[2020-03-09 13:30] #9254 closed

[2020-03-09 13:51] jmmv commented on #10742
Thanks. It's not a big deal really and I only raised this because I had heard from @katre that he might have to cut a new RC anyway due to other cherrypicks. So: if we have to cut another RC, I'd appreciate if these two commits can make it into it; if not, let's leave the release as is.

[2020-03-09 14:03] laurentlb commented on #4301
I think it's better if we don't add anything to `@bazel_tools`.
Most files should live outside the Bazel binary.

[2020-03-09 17:51] jin commented on #4301
+1 we should be removing targets from `@bazel_tools` as much as possible.

cc @alandonovan who ran into issues with the JDK / Java rules side of the embedded repository recently.

[2020-03-09 17:53] jin commented on #10920
https://copr.fedorainfracloud.org/coprs/vbatts/bazel/build/1282540/

This is not a documentation issue. @vbatts graciously helps maintain the build, but as above, it looks like the build failed.

[2020-03-09 17:53] #10920 closed

[2020-03-09 17:54] oquenchil commented on #6767
Fixed by #10882.

[2020-03-09 17:54] #6767 closed

[2020-03-09 17:54] jin commented on #5208
cc @gregestren

[2020-03-09 18:01] shamtron opened #10928 "Android Example Runtime Failure No Implementation Found"
### Description of the problem / feature request:

Running the example Android App fails at runtime.

### Feature requests: what underlying problem are you trying to solve with this feature?

Trying to run the example Android project.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Set Android SDK locations to:

android_sdk_reposito

[2020-03-09 18:13] kkress opened #10930 "Tracking issue for refactoring a Bazel BUILD files to more granular structure"
This is a tracking bug for work on Bazel's own BUILD files.  The goal of this work is to establish 1 BUILD file per Java package in Bazel's own source code.

This has a number of advantages for performance, especially when run with a remote executor.

In general the focus is on targets in //src/main/java/com/google/devtools/build/lib:*

[2020-03-09 18:24] alandonovan commented on #4301
I recently added a "jni" target to @bazel_tools//java/jdk, and was struck that (a) this repo's public API is essentially undocumented, and that declarations added to it take a full Bazel release before they can be used, which imposes a surprisingly subtle obstacle to evolution.

I agree we should get rid of this repo. Although there may still be a need for a mechanism to expose built-in symbols to

[2020-03-09 18:49] gregestren commented on #10927
I've seen a number of issues recently related to workspace prefixes. I wonder if there's any commonality between them. Regardless, we'll have a chat among configuration devs later this week and bring this up for triaging. Thanks for the detailed description.

[2020-03-09 18:53] gregestren commented on #10782
Stephen - didn't we find out that there are some real references that make it non-trivial to extract out?

If it only affects actions top-level targets (vs. everything in the graph), I think that would open up better options.

[2020-03-09 19:09] laurentlb commented on #10893
@lberki, can you comment why you rolled back the change?

[2020-03-09 19:13] ulfjack commented on #10893
The change introduced a subtle error in some Google-internal code. Getting
the semantics exactly right is unfortunately more difficult than we
expected.

On Mon, Mar 9, 2020 at 8:09 PM Laurent Le Brun <notifications@github.com>
wrote:

[2020-03-09 19:25] ulfjack commented on #10809
Could it be that the runtime linker is following the symlinks into the exec root and then looking up files relative to that? Could that explain why it works with sandboxing, but not remote execution?

[2020-03-09 19:34] ulfjack commented on #10782
The --run_under option also applies to the run command when used with binary targets, not just to test targets. If run_under refers to a target, then it must be analyzed in the analysis phase. In other cases, it may be possible to rewrite the code to inject the flag in the execution phase instead. We do something similar for inherited env variables.

[2020-03-09 19:42] gabroo commented on #8014
Thanks for the suggestion. I'm using `--config` for now, and it works

[2020-03-09 19:55] laurentlb opened #10931 "FilterTestHeaderOutputStream doesn't respect system line separator"
`private static final int NEWLINE = '\n';`

https://github.com/bazelbuild/bazel/blob/59f17d6e0550bf63a0b6ef182e2d63474e058ede/src/main/java/com/google/devtools/build/lib/exec/TestLogHelper.java#L95

cc @meteorcloudy

[2020-03-09 20:14] michajlo commented on #10931
See also https://github.com/bazelbuild/bazel/blob/master/src/test/java/com/google/devtools/build/lib/exec/StreamedTestOutputTest.java#L70

[2020-03-09 20:32] haxorz commented on #10893
In addition to what @ulfjack said, it's also worth noting that the current behavior is documented at https://docs.bazel.build/versions/2.2.0/be/general.html#alias (this has been here since the `alias` feature was added to Bazel).

[2020-03-09 20:56] konste commented on #10893
The current behavior is very confusing though. If it would plain say "No, you cannot alias cc_test rule!" it would be weird, but ok. What actually happens is that alias is not rejected and works, but the target it points to is not understood as the test anymore. And the error is "no test rules found"!

[2020-03-09 21:13] haxorz commented on #10893
Sure. I wasn't condoning or defending the behavior; I was just pointed out that it's documented.

Fwiw, @ulfjack made made the same point in the Google-internal discussion of this a few months ago.

Imo, the initial addition of the `alias` feature in Bazel should have either gone all the way and added full support for alias->test edges (working around the Google-internal issues, at high cost), or

[2020-03-10 00:53] AdamDorwart opened #10933 "--experimental_resolved_file_instead_of_workspace constantly re-fetches when updating BUILD files"
### Description of the problem / feature request:

Enabling `--experimental_resolved_file_instead_of_workspace` and providing a `resolved.bzl` file that was generated from the corresponding `sync --experimental_repository_resolved_file` causes loading to refetch external dependencies on every change to `BUILD` files.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide

[2020-03-10 01:50] aiuto commented on #10927
/cc @katre

[2020-03-10 10:06] #10772 closed

[2020-03-10 10:41] jlturriff commented on #5599
Done, except for the cross-link.  (How do I do that?)

[2020-03-10 13:10] #10867 closed

[2020-03-10 14:39] asraa commented on #10742
Hey, would it be possible to propose cherry-picking this commit for the release? https://github.com/bazelbuild/bazel/commit/f32b0fde39fc34dd1f63fef3513ff6d1e5db46e7

Without it, any (a/ub/m/t)san  build with clang-10 fails, and it's blocking many projects (all bazel projects hosted in OSS-Fuzz).

[2020-03-10 16:45] #10931 closed

[2020-03-10 17:12] katre commented on #10742
Preparing RC2 with the following cherrypicks:

- 4ee52dbdb0351aa2f9c8340e3bacd9a6b36e6a77 and 9ada0fe73ad3cd0e40c85eb82037ff7ff7f44ef9 - For sandboxfs 0.2.0 support
- f32b0fde39fc34dd1f63fef3513ff6d1e5db46e7 - To fix san builds with clang 10
- 289efe5fb5b2f2f12d6f68ab31f4cd1bc0bf3f32 and 05de852e65765bc380d6a695d4b9b049575bd4df - For remote download support