[2018-08-21 22:20] #5733 closed, assigned to cushon

[2018-08-21 22:26] #5166 closed

[2018-08-21 23:19] c-parsons opened #5955 "Aspect implementation returning a provider silently drops the provider"
Consider the following aspect:

[code]

Returning `_MyProviderInfo()` (versus returning `[_MyProviderInfo()]`) is syntactically valid and this pattern also works correctly for rule implementation functions.
It seems, however, that aspects silently drop a provider returned in this fashion.

This is likely a bug, and we should fix this in the name of making aspects more consistent with rules.

[2018-08-22 05:36] davido commented on #5944
Change under review: https://gerrit-review.googlesource.com/c/gerrit/+/193670.

[2018-08-22 06:54] iirina commented on #2528
That's great to hear @dhalperi!

I will close this issue. If anyone is still having troubles with `genhtml` and Bazel's `lcov` report (using `--experimental_java_coverage`), feel free to reopen.

[2018-08-22 06:54] #2528 closed

[2018-08-22 08:33] venuswu commented on #962
so ugly.

[2018-08-22 09:44] Xjs opened #5958 "--workspace_status_command cannot easily be made platform-independent (Windows/Linux)"
### Description of the problem:

The `--workspace_status_command` will be executed from `/bin/sh` under Linux (and macOS I think) and from `CMD.EXE` under Windows. This makes it difficult to conceive a workspace status script that has the same output on both platforms.

It should either be possible to specify different commands for different architectures on the command line, or some guarantees ab

[2018-08-22 10:13] ashi009 commented on #2460
We created a read-only FUSE mount of symlinks with all the undesired directory and files excluded to make it possible to use `//...`. The approach comes with some performance cost, but still manageable.

Given the VFS implementation in bazel, adding a filter should not be that hard. However, I don't think bazel team will implement that anytime soon, as they have much bigger fishes to fry all the t

[2018-08-22 11:50] iirina commented on #5426
@robfig Can you tell me more about the setup? I couldn't replicate yet. Do you have a `java_test` that depends on the `java_library` `//src/com/corp/util/i18n:i18n`? Does it use the exported plugin? How does `//src/com/corp/util/callable:callable` come into play in this scenario?

[2018-08-22 14:20] ajrepp commented on #5723
@cushon is Java 11 supported as well? Java 10 will no longer receive support once Java 11 is released, which is [scheduled for September 25th](http://openjdk.java.net/projects/jdk/11/) (less than 5 weeks away!).

[2018-08-22 15:44] benjaminp opened #5960 "GCC FDO support"
I'm a happy user of Bazel's GCC FDO support, so I was sad to see 464a8941b07dd597c53aeec0ca506c4f6cd5d7bf land. I wondering if there's a way to remove most of the code but still support GCC. For example, could the `fdo_profile` rule accept a the `.gcda` directory tree directly? E.g.,
[code]
Then the zip wouldn't have to be unpacked in the C++ rules.

[2018-08-22 16:00] benjaminp commented on #2460
I wonder if the recent work on #4888 is good enough to close this issue?

[2018-08-22 16:28] #5955 closed

[2018-08-22 17:06] cushon commented on #5723
Note that using JDK 11 as a `--javabase` should already work. The part that requires changes is supporting the Java 11 language level (`--release 11`, etc.), I will defer to @lberki for that.

[2018-08-22 17:40] laurentlb commented on #5059
We can't delay the release any longer. I'll cut it soon.
(changes can probably wait for the next release)

[2018-08-22 18:43] davido commented on #5944
The mentioned change was merged on master. This should be fixed now.

[2018-08-22 19:05] davido opened #5961 "rules_closure (and Gerrit) fails on Bazel@HEAD with @bazel_tools//tools/jdk:toolchain_java9"
Trying to build `rule_closure` on most recent master (3555e5ba61fdcc17157dd833eaf7d19b313b1bca), and Gerrit with JDK9 on Bazel@HEAD(398478cc334283a6a9c8740f8ac81b5962e5cba7) is failing with the same error:

[code]

//CC @cushon

[2018-08-22 19:09] davido commented on #5961
It seems that this diff fixed that:

[code]

[2018-08-22 19:13] laurentlb commented on #5059
Bazel 0.17rc1 with baseline aa118ca818baf722aede0bc48d0a17584fa45b6e
https://releases.bazel.build/0.17.0/rc1/index.html

Review and contribute to the release notes: https://docs.google.com/document/d/1wDvulLlj4NAlPZamdlEVFORks3YXJonCjyuQMUQEmB0/edit#heading=h.fdnt5bpp42hj

[2018-08-22 19:36] davido opened #5962 "Gerrit fails on Bazel@HEAD on JDK9"
Trying to build Gerrit on JDK9 on Bazel@HEAD (398478cc334283a6a9c8740f8ac81b5962e5cba7) is failing first with missing dependency in `rules_closure`, that is tracked here: [1] and fixed here: [2].

After the aforementioned fix, trying to build Gerrit on JDK9 is failing with: [3]. That seems to be autovalue related:

[code]

Reproducer is here: [4].

* [1] https://github.com/bazelbuild/bazel/issues/

[2018-08-22 20:04] davido commented on #5059
I've just tested 0.17rc1 and confirmed that trying to Build Gerrit on JDK9 [is failing in the same way](https://github.com/bazelbuild/bazel/issues/5962) as  Bazel@HEAD.

[2018-08-22 20:10] #5792 closed

[2018-08-22 20:12] laurentlb opened #5963 "Release - September 2018 - name: 0.18.0"
@aehlig Can you take care of the release 0.18.0?

[2018-08-22 20:28] gertvdijk commented on #5753
I had a little bit of a dive into the code and commit history on this today.

* The amount of references in `scripts/packages/debian/BUILD` regarding `without-jdk` indicate to me that it has the intention of building a bazel without an embedded JDK and have a dependency on the system JDK (version 8). However, all other release artifact now depend on JDK 9, as far as I can tell.
* Changes like 7c49

[2018-08-22 20:43] dirkboye opened #5964 "@bazel_source//tools/build_defs/pkg rule fails since 0.17.0rc1 release"
### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Run a container_image rule. Since two hours or something I always get following error:
(locally I am still on 0.16.1 but I don't think such an error should occur?)

..../68a9659ed6f66b9bac3d5204ededf76d/external/io_bazel_rules_docker/container/BUILD:67:1: no such package '@bazel_source/

[2018-08-22 21:34] bjchambers commented on #5964
Looking at the v0.17.0 release thread it looks like rc1 was updated rather than creating an rc2. If so, that would explain these failures, since the checksum would change. I filed https://github.com/bazelbuild/rules_docker/issues/500 about the issue in rules_docker.

I am curious why a release candidate was updated rather than creating a new release candidate so that people depending on a specific

[2018-08-22 23:13] bjchambers commented on #5964
Posted a workaround at https://github.com/bazelbuild/rules_docker/issues/500#issuecomment-415217328 in case it helps.

[2018-08-23 00:13] cushon commented on #5961
Adding the dep is a fine work-around, but it shouldn't be necessary.

Strict Deps ignores some dagger generated code: https://github.com/bazelbuild/bazel/blob/b470c0fa189c077f43c1d61a957d2af0d336dba5/src/java_tools/buildjar/java/com/google/devtools/build/buildjar/javac/plugins/dependency/StrictJavaDepsPlugin.java#L418

Dagger uses this utility to pick a version-appropriate `@Generated` annotation:

[2018-08-23 00:13] cushon commented on #5962
This is probably also https://bugs.openjdk.java.net/browse/JDK-8209865.

[2018-08-23 02:32] fwouts commented on #5964
I'm also running into this issue, and it's making CircleCI very sad: https://circleci.com/gh/zenclabs/bazel-javascript/75.

I'd also like to understand why rc1 was replaced instead of creating an rc2.

[2018-08-23 02:37] yurivict commented on #5763
Do google projects like ```bazel``` have management?

Why does google promote ```bazel``` and projects based on it and then doesn't fix bugs in them like this one?

[2018-08-23 02:39] jin commented on #5059
@laurentlb using the same 0.17.0rc1 tag for two different releases has some issues here: https://github.com/bazelbuild/bazel/issues/5964

[2018-08-23 02:57] therc opened #5965 "Prevent readdir from getting stuck on EIO errors"
### Description of the problem / feature request:

Bazel gets into this stuck state on a regular basis where it seems to be busy 15-20% of the CPU time (definitely NOT pegging the processor) instead of actually starting. There's no output to the terminal.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

There's no easy way to reprodu

[2018-08-23 04:10] cushon commented on #5962
This has the same root cause as #5961.

[2018-08-23 04:10] #5962 closed

[2018-08-23 04:15] AnnieYim opened #5966 "Bazel on Windows: fail to pass --copt"
### Description of the problem / feature request:

I am building Tensorflow using Bazel on Windows, the compiler is VS2015(msvc), I want to pass some custom compile options using --copt, but it does't work. However, --linkopt options can be passed to bazel command and take effect.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.
Execu

[2018-08-23 04:53] davido commented on #5962
From the reported bug https://bugs.openjdk.java.net/browse/JDK-8209865 I see that using Java 10 with `--release 9` is affected, so I tried to build gerrit with Bazel@HEAD using Java 10. But it's failing as well:

[code]
Should I file a different issue or is it a know bug?

[2018-08-23 05:09] cushon commented on #5962
The `no such package '@local_jdk//'` error is not familiar, do you mind starting another bug for that one and providing a repro?

[2018-08-23 05:19] davido opened #5967 "Gerrit fails on Bazel@HEAD on JDK10"
Trying to build Gerrit on JDK10 on Bazel@HEAD (398478c) is failing with: `no such package '@local_jdk//'`. Full log:

[code]

To reproduce, clone gerrit from master (a9fc5a9595f72ca5e2ee1171fd15cd2536213d85) and run:

[code]

//CC @cushon

[2018-08-23 05:38] cushon commented on #5967
I can't reproduce with bazel @ 398478cc334283a6a9c8740f8ac81b5962e5cba7, gerrit @ a9fc5a9595f72ca5e2ee1171fd15cd2536213d85.

[code]

[2018-08-23 05:41] cushon commented on #5967
Any chance you set `JAVA_HOME` to the path to the `java` binary, instead of the JDK root?

[code]

[2018-08-23 05:41] ittaiz commented on #5763
This is an open source project.
You can contribute to it.
The fact that google leads it doesn’t mean they will do everything.
On Thu, 23 Aug 2018 at 5:37 yuri@FreeBSD <notifications@github.com> wrote:

[2018-08-23 05:44] davido commented on #5967
Right. `JAVA_HOME` was set to a path that doesn't exist. Unsetting `JAVA_HOME` solved it.

[2018-08-23 05:44] #5967 closed

[2018-08-23 05:53] davido commented on #5967
So, the tests are failing, e,g,: [1], but I assume this is not Bazel issue, but a compatibility with asm and/or other dependencies?

[1] http://paste.openstack.org/show/728654

[2018-08-23 05:57] josh-newman commented on #5904
Glad to hear it'll be fixed soon; thanks!

[2018-08-23 06:05] cushon commented on #5967
Yeah, that stack trace looks like it's using an old version of ASM that doesn't support JDK 10:

[code]

[2018-08-23 06:14] pconrad-sx opened #5968 "Changes to C++ built-in directories do not trigger re-analysis"
### Description of the problem / feature request:

This is an important setting, since Bazel doesn't track changes to builtin headers. Setting "/" as a builtin path has the result of deactivating all header recompilation. It appears to be incorrectly stateful, which we can see by performing these steps:

1. Compile with "/" as a builtin directory, deactivating header tracking.
2. Remove "/" as a b

[2018-08-23 06:35] davido commented on #5967
@cushon @ronshapiro

Unless we fork Guice, there is currently no way to produce Gerrit with bazel with newer Java versions that is newer as Java 8. Bazel's Java 10 doesn't work with Java 9 any more because of annotation processor issues, that you filed (https://bugs.openjdk.java.net/browse/JDK-8209865) and the released Guice 4.2 is not compatible with Java 10 yet, and Unshading of `asm` dependency

[2018-08-23 07:12] yurivict commented on #5763
I don't see the point of bazel. Why is it needed? Is cmake/meson not enough? cmake and meson work fine for thousands of other projects. bazel is an internal google tool. Why would anybody else be interested in helping google fix bugs in their internal tools ...

[2018-08-23 07:41] philwo commented on #5964
Sorry - this must have been a mistake on our side :( Release numbers and labels have to be immutable. @laurentlb will probably know what happened here. If it’s a bug in our release scripts, I can fix it on Monday.

[2018-08-23 07:58] meteorcloudy commented on #5944
Yes, it's fixed! Thank you so much!

[2018-08-23 07:58] #5944 closed

[2018-08-23 08:04] meteorcloudy commented on #5945
This is fixed by https://github.com/bazelbuild/bazel/commit/d96f1576107d0d4eba7c6dd745ac7aea40311cc9 from Bazel side.
https://buildkite.com/bazel/bazel-with-downstream-projects-bazel/builds/401#a37f63b2-88aa-423e-9d76-18b504de262f

[2018-08-23 08:29] meteorcloudy commented on #5966
Are you running bazel command in MSYS shell?
You should disable the PATH transformation in MSYS by
[code]

See https://gist.github.com/meteorcloudy/8e5f1aab7c7fa87b16ae28e6f8fd3fd2#build-under-msys-shell

[2018-08-23 09:57] aehlig commented on #5963
I can take care of 0.18.0, provided it is OK that the baseline
will be cut a bit late: I'm on vacation September 1--8. But given
that 0.17.0 is delayed anyway, this should be fine.

--
Klaus Aehlig
Google Germany GmbH, Erika-Mann-Str. 33, 80636 Muenchen
Registergericht und -nummer: Hamburg, HRB 86891
Sitz der Gesellschaft: Hamburg
Geschaeftsfuehrer: Paul Terence Manicle, Halimah DeLaine Prado

[2018-08-23 10:52] AnnieYim commented on #5966
@meteorcloudy, I do running in MSYS shell, thanks for your solution!

When I compile on **debug mode**, bazel will add the linking option of /DEBUG:FULL, it will generate too big pdb file. I try to add --linkopt=/DEBUG:NONE in bazel build command, but it will be overwritten by the default option, executing command as follows:

 `C:/Program Files (x86)/Microsoft Visual Studio 14.0/VC/bin/amd64/link

[2018-08-23 10:59] laurentlb commented on #5963
Sounds good, we can target September 10 or 11.

[2018-08-23 11:02] laurentlb commented on #5964
My fault, sorry! (also, our script's fault, because it should detect this kind of issue)

@buchgr Do you know if we can fix (rollback?) rc1?

[2018-08-23 11:11] buchgr commented on #5964
@laurentlb I think the best solution is to create 0.17.1 rc1 and abandon 0.17.0 right way, coupled with an announcement.

[2018-08-23 11:31] buchgr commented on #5951
Please see https://blog.bazel.build/2018/08/22/bazel-homebrew.html for how to install Bazel in homebrew.

[2018-08-23 11:37] Globegitter commented on #4302
Just running into this scenario also and while it would be very useful to have some way of getting this information directly it is at least possible with the `experimental_execution_log_file` flag combined with the quite new parser: https://github.com/bazelbuild/bazel/tree/master/src/tools/execlog, making it possible to diff what exactly has changed between two builds.

[2018-08-23 11:48] meteorcloudy commented on #5966
Why do you need to build in dbg mode if you don't want the pdb file?
If you build in opt mode with `--config=opt`, it will use `/DEBUG:NONE`.

[2018-08-23 11:50] meteorcloudy commented on #5966
`-c opt` is already defined at https://github.com/tensorflow/tensorflow/blob/master/tools/bazel.rc#L61, you can just remove `-c dbg` to make it work.

[2018-08-23 11:52] meteorcloudy commented on #5966
Or you can enable fastlink mode, it should generated smaller pdb file by passing `/DEBUG:FASTLINK`.
Try `-c fastlink`

[2018-08-23 13:57] laurentlb commented on #5964
Created 0.17.1: https://releases.bazel.build/0.17.1/rc1/index.html
(sorry for the conflicting name!)

[2018-08-23 14:02] cvcal commented on #5904
Unfortunately it will not make the cut for 0.17 :( but it should be in 0.18. Thanks for your patience!

[2018-08-23 14:17] brandjon commented on #5939
I completely misunderstood this proposal on first read -- I thought you wanted to remove package() entirely!

You're saying to keep `package()` allowed in BUILD files, but remove the `native.package()` spelling within .bzl files, the rationale being that `package()` declarations should syntactically appear in the BUILD file they affect.

If all we do is remove `native.package()`, then .bzl files c

[2018-08-23 14:50] laurentlb commented on #5939
Sorry for being unclear, it's only about removing it from bzl files environment.

As you point out, it's not perfect, but I think it would be enough. Your code sample is convoluted, so it will discourage users from doing it. I don't think we should add stacktrace magic for that.

[2018-08-23 15:57] archanaara commented on #3114
Hi I am facing the following issue. can someone please help

ERROR: missing input file '@nlohmann_json_lib//:license.txt'

ERROR: missing input file '@nlohmann_json_lib//:license.txt'
ERROR: C:/users/archana/documents/tensorflow/tensorflow/tools/pip_package/BUILD:216:1: //tensorflow/tools/pip_package:build_pip_package: missing input file '@nlohmann_json_lib//:license.txt'
Target //tensorflow/tools

[2018-08-23 15:57] #4502 closed

[2018-08-23 15:58] archanaara commented on #3114
Anyone know about @nlohmann_json_lib//:license.txt' I am not finding any results for that. Please help

[2018-08-23 18:40] laurentlb commented on #5939
Based on an offline discussion, we can first add a linter warning for `native.package()`.

[2018-08-23 19:00] jayconrod opened #5971 "Directory outputs contain symlinks in 0.17.1rc1"
### Description of the problem / feature request:

Originally reported by @mhlopko in bazelbuild/rules_go#1669

rules_go has a rule called `go_path` which can produce a directory tree in a couple of different modes. In `copy` mode, the contents of the directory are expected to be regular files and subdirectories. They are written as regular files, but other rules that consume this output see them

[2018-08-23 19:17] davido commented on #5967
One work around idea is to use classes classifier, to consume non shaded Guice artifact from Central, that was mentioned here: [1]. Amd consume this non shaded artifact:

  http://repo1.maven.org/maven2/com/google/inject/guice/4.2.0/guice-4.2.0-classes.jar

Luckily, Gerrit's own `maven_jar` Skylark rule supports classifiers, so that the fix is as easy as to say:

[code]

And provide custom version

[2018-08-23 20:01] jfancher opened #5972 "Cannot use --plugin with --distinct_host_configuration=false"
### Description of the problem / feature request:
Attempting to apply a Java plugin at the command line (`--plugin=<label>`) when operating under `--distinct_host_configuration=false` fails to build due to a cyclical dependency.

Presumably, prior to building the requested library, it is trying to compile the plugin target using `--plugin=<itself>`, which is obviously a cycle. I can understand _wh

[2018-08-23 20:24] jayconrod opened #5973 "Setting BAZEL_LINKOPTS to the empty string causes Bazel to crash"
### Description of the problem / feature request:

When building a `cc_binary` with the `BAZEL_LINKOPTS` environment variable set to the empty string, Bazel crashes.

[code]

### what underlying problem are you trying to solve with this feature?

@ixdy reported this originally in bazelbuild/rules_go#1681. He was trying to link a Go binary (which uses link flags from the C/C++ toolchain) without th

[2018-08-23 20:30] ronshapiro commented on #5967
That was also going to be my recommendation in the interim.

@sameb is away for the next ~week so I'm not sure when he'll be able to get around to do another Guice release (I _think_ it's ready, but I don't know for sure)

[2018-08-23 20:32] guibou opened #5974 ".bazelignore breaks build"
### Description of the problem / feature request:

I tried bazel `0.17.0rc1`. I'm interested by the `.bazelignore` file. It does works, meaning that `bazel build //...` is correctly ignoring the subdirectory listed in `.bazelignore`, however build are always failing when I'm building a more specific target, such as `//foo/...`.

### Bugs: what's the simplest, easiest way to reproduce this bug? Ple

[2018-08-23 20:43] davido commented on #5967
Thanks for the update @ronshapiro!

[2018-08-23 20:46] sameb commented on #5967
I'd like to resolve a cglib compatibility issue with jdk11 and bundle the new cglib into Guice before doing the next release. I was planning to do this before my vacation, but things came up and I wasn't able to do it.   When I return Sept ~4, it should take me a couple hours to fix cglib, validate the fix doesn't break things on Google's repo (as a sanity test), and then release a new Guice with

[2018-08-23 21:02] robfig commented on #5426
I think the key thing is that a java_plugin is included in the bazel coverage command. In this case, our i18n package exports a plugin to identify common errors in using it.

So:
src/com/corp/util/i18n:i18n is a java library
src/com/corp/util/i18n/bugpatterns:bugpatterns is a java_plugin

bazel coverage src/com/corp/util/... fails because "bazel coverage src/com/corpo/util/i18n/bugpatterns" fails.

[2018-08-23 21:03] robfig commented on #5426
(If that doesn't seem right or you can't immediately reproduce, I'm happy to put one together. I thought it would it would reproduce quickly/easily)

[2018-08-24 04:41] davido commented on #5723
How would I set-up local jdk 11 to be used as `--javabase` to build gerrit with local jdk 11?
[code]

As you pointed out in this comment: [1], there are three JDKs used in Bazel, I think we want to change 2) and 3).

So I define this `java_runtime` rule:

[code]

And using it like this:

[code]

That works, and still raises the question how to pass post Java arguments to the tests, like we do for

[2018-08-24 04:56] davido commented on #5723
If I pass, `--release 11` in my previous command, that I'm, getting error: `release version 11 not supported`. Can it be, that the JDK 11 doesn't actually used?

[code]

[2018-08-24 05:02] cushon commented on #5723
`--host_javabase=11` isn't tested or supported yet. It probably works, but the recommended configuration today is to use the default embedded JDK 10 as the `--host_javabase`. (That may [be changing](https://groups.google.com/d/msg/bazel-sig-jvm/wA9f-B6Tl5w/SnxzztZEAQAJ); we'll see.)

The part I expected to work was specifically using JDK 11 as a `--javabase`.

I can't reproduce. With gerrit @ 8f26

[2018-08-24 05:05] cushon commented on #5723
`--release` is a javac flag, javac is configured separately from the `javabase`s as part of the `java_toolchain`, and the toolchain that ships with Bazel is using a JDK 10 javac. It will need to be updated to a JDK 11 javac to support `--release 11`. That's partly what this bug is tracking.

[2018-08-24 05:35] cushon commented on #5723
That isn't currently supported with the default toolchain: it's is using a JDK 10 javac, which will need to be updated to a JDK 11 javac to support --release 11. Again, that is part of the work being tracked by this bug.

That isn't supposed to produce v52 class files: the language level is configured by `--java_toolchain`, not `--host_javabase` or `--javabase`.

[2018-08-24 06:26] davido commented on #5723
@cushon

I see, thanks for clarifying. I see 2 fundamental problems with thsi approach:

# Waiting indefinitely for Bazel to support new and shiny JDK versions
# During upgrade to latest and greatest JDK in bazel as default toolchain, we see breakages supporting older, but still new enough JDK versions, as discovered here: [1]. Yes, it is Java bug, but that doesn't change the fact, that there curr

[2018-08-24 07:20] wonderfuljamesjin opened #5976 "Bazel build with cycle in dependency graph error"
Hello

I am doing a bazel build for my project,i created a java_library rule and used at different places. but I am having this cycle in dependency graph: issue, please help how to resolve it,   thanks in advanced

[code]
This is because class B have method need call class D, and class D is also calling class B several times. can i break this cycle, i can not remove remove B from any of BUILD file

[2018-08-24 10:56] steeve opened #5978 "android_library builds java_library deps with as Java 1.9 since Bazel 0.16"
### Description of the problem / feature request:

When building an `android_library`, Bazel builds `java_library` deps as Java 1.9 since it went to the JDK9.

This results in the following proguard issues when building downstream, for instance with Protobuf Javalite:
[code]

The issue is fixed by manually reverting to JDK8 with the following options:
[code]

Android does not support `java.nio` no

[2018-08-24 12:32] laurentlb commented on #5059
Created yesterday 0.17.1: https://releases.bazel.build/0.17.1/rc1/index.html

[2018-08-24 12:36] steeve commented on #5978
Probably because this doesn't check for Java 1.9 https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/bazel/rules/android/BazelAndroidSemantics.java#L46

[2018-08-24 12:43] steeve commented on #5978
This also results in the following Bazel warnings when building:
[code]

[2018-08-24 13:31] evanj commented on #2460
I tested 0.17.1rc1 which adds support for `.bazelignore` files and it definitely solves this problem for me. However, this is blocked by #5974 which causes `.bazelignore` to break running any specific targets, which makes it unusable for now. However, once that is resolved, I will personally consider this issue closed.

[2018-08-24 17:31] c-parsons opened #5980 "ctx.action.run_shell: use_default_shell_env=True overwrites env={...}"
A user writing a new experimental rule ran into this issue, that it seemed that enviornment variables were not being correctly set on an action created with `ctx.action.run_shell`, when `use_default_shell_env=True`. We should probably throw some sort of error when a user tries to specify both `env` and `use_default_shell_env=True`, to avoid this confusion in the future.

[2018-08-24 17:37] cushon commented on #5723
To confirm: do you want to build with the Java 9 language level and target JDK 9? Do you care about the `--host_javabase` version as long as it supports that language level?

If you want to use whatever the latest supported language level is from the `--host_javabase`, you could use VanillaJavaBuilder (which should work with most host JDKs) and leave the source/target/bootclasspath unset so they d

[2018-08-24 18:13] mpassell commented on #5777
The final message (as of right now) in the bazel-discuss thread would suggest that they're planning to go with a custom tap and then go back to directly supporting `brew install bazel` through that, rather than using cask.

[2018-08-24 18:31] cushon commented on #5978
Does this reproduce with 0.17 or Bazel at head? This might be the same issue as #5888.

[2018-08-24 18:41] alexeagle commented on #5777
I believe this is resolved, 0.16.1 is out, and the bazel blog documents the upgrade path

[2018-08-24 20:13] nelhage-stripe opened #5981 "Bazel should pass `-no_warning_for_no_symbols` to libtool when using XCode toolchain"
### Description of the problem / feature request:

I have a (proprietary) project that contains some C++ source code files which, on certain platforms, emit no symbols due to `#ifdef`s.  When I build on macOS, `bazel build` prints useless warnings like:

[code]

### Feature requests: what underlying problem are you trying to solve with this feature?

I'd like bazel to pass flags to suppress this u

[2018-08-24 21:28] jin commented on #5978
I can reproduce this problem with building an Android app and RBE, with the following bazelrc config:

https://github.com/bazelbuild/bazel-toolchains/blob/master/bazelrc/bazel-0.16.1.bazelrc#L42:L45

[2018-08-24 21:28] jin commented on #5978
I can reproduce this problem with building an Android app and RBE, with the following bazelrc config:

https://github.com/bazelbuild/bazel-toolchains/blob/a47750aac6225fdf3f28faea8f378b61eb965786/bazelrc/bazel-0.16.1.bazelrc#L42:L45

[2018-08-24 21:34] cushon commented on #5978
@jin which Bazel version you reproduce with? Are you seeing with issue with the 0.17rc and at head, or just at 0.16.1?

[2018-08-24 21:36] jin commented on #5978
Just 0.17.1rc1 and HEAD. 0.16.1 is fine.

[2018-08-24 22:32] davido commented on #5723
Yes.

No.

In which case I wouldn't be able to use error prone and strict deps, and that's unfortunate.

[2018-08-24 23:26] cushon commented on #5978
I think this is still #5888, and the issue is that when Bazel is built at HEAD or 0.17rc using 0.16.1, 0.16.1 produces a Bazel binary that contains the linkage issue.

If I build Bazel at head and then re-build using the HEAD binary (i.e. `bazel build //src::bazel && bazel-bin/src/bazel build //src:bazel`) then I get a binary that doesn't exhibit this bug.

[2018-08-24 23:42] jin commented on #5978
@buchgr @philwo it looks like the release pipeline needs to be updated to build the release Bazel with itself. Can this be done?

Marking this as a release blocker.

[2018-08-24 23:44] jin commented on #5059
https://github.com/bazelbuild/bazel/issues/5978 is a release blocker -- 0.17.1 and HEAD binaries that are built with 0.16.1 contains a `--javabase` linking bug.

[2018-08-24 23:52] cushon commented on #5723
re: error prone and strict deps--I'm glad those features are useful, you may want to read [this thread](https://groups.google.com/d/topic/bazel-sig-jvm/wA9f-B6Tl5w/discussion) if you haven't already and share any feedback you have.

I had an idea for working around the bug with JDK 10 and `--release 9`: https://github.com/bazelbuild/bazel/pull/5982

With that patch, the following works:

[code]

[

[2018-08-25 03:51] komputerboy commented on #5916
same error here

[2018-08-25 04:55] pauldraper opened #5983 "Lousy progress indicator"
Bazel has a lousy progress indicator. Example:

https://github.com/tensorflow/tensorflow/issues/14294

I'm sure there's some clever reason for the very....slowly....ever....increasing....upper bound.

But the fact remains that it is worthless or even less than worthless as a progress indicator, since it gives the illusion of having some useful meaning. In many cases like when building tensorflow i

[2018-08-25 06:17] davido commented on #5723
Thanks!

I tried to use vanilla `java_toolchain` and it feels, like it could be simplify and naively supported by Bazel: #5984. WDYT?

Meantime, I added vanilla `java_toolchain` to Gerrit build tool chain: [1] to be able to build with upcoming JDK 11. It turns out, that the build is failing in rules_closure: [2] and all tests are failing too. I'm not sure yet, why the acceptance tests are failing,

[2018-08-25 07:02] cushon commented on #5723
If you look at the test log (or use `--test_summary=detailed`) it's a guice/ASM issue:

[code]

guice is using the `ASM6` API level, and the nest-related attributes that were added in 11 are only supported with `ASM7_EXPERIMENTAL`: https://gitlab.ow2.org/asm/asm/blob/master/asm/src/main/java/org/objectweb/asm/ClassVisitor.java#L158

But in general, sure: any time you have a minimal repro that demo

[2018-08-25 17:28] jin commented on #5983
That's because the minimum set of required actions to be executed is not known at the start of the execution phase. Please see @ulfjack's answer in https://github.com/bazelbuild/bazel/issues/3582#issuecomment-329405311

Also a relevant SO question: [bazel: why do targets keep increasing if build graph is known ](https://stackoverflow.com/questions/51484140/bazel-why-do-targets-keep-increasing-if-b

[2018-08-25 17:28] #5983 closed

[2018-08-25 19:00] pauldraper commented on #3582
Another data point: https://github.com/tensorflow/tensorflow/issues/14294
Also, it's my understanding that "oh wait there's more" is a bit of a running joke within Google too.

The explanation make sense, but the UI is intuitive in the extreme. I'd rather have a single number with no indication of proportion than two numbers that seem to the user to be an indication of proportion and are not.

I f

[2018-08-25 19:38] bzz commented on #5777
For others, landed here though the search - it's https://blog.bazel.build/2018/08/22/bazel-homebrew.html

[2018-08-26 02:33] jfancher opened #5985 "spurious 'unknown enum constant' warnings"
### Description of the problem / feature request:
* `java_library` **A** depends on `java_import` **B**
* `java_import` **B** depends on `java_import` **C**

Building **A** does not seem to put **C** on the classpath during compilation, which can lead to certain warnings from `javac`; specifically if **B** uses annotations from **C** which embed enums, you can get `warning: unknown enum constant [

[2018-08-26 04:48] davido commented on #5985
You want to use `exports` instead of `deps` in that case. That diff fixed your example:

[code]

[2018-08-26 05:13] deepaknalore commented on #3709
Hi! I would like to pick this up.

[2018-08-26 06:36] jin commented on #3709
@deepaknalore go for it!

[2018-08-26 10:25] davido opened #5986 "rules_closure (and Gerrit) fails on Bazel@HEAD on JDK11 using VanillaJavaBuilder"
On most recent Bazel@HEAD (398478cc334283a6a9c8740f8ac81b5962e5cba7) `rules_closure` is failing to build (`javax.annotation.Nullable` not found):

[code]

Looking into bazel-out/k8-fastbuild/bin/java/io/bazel/rules/closure/libwebpath.jar-0.params and borrowing the classpath I can reproduce the problem on the command line, even outside of Bazel:

[code]

Even if I replace `ijar` generated com_googl

[2018-08-26 11:42] jfancher commented on #5985
Thanks for the responses.

@ittaiz do you have recommended reading on the subject? I'm aware broadly of strict deps from [this](https://blog.bazel.build/2017/06/28/sjd-unused_deps.html) post (and just using bazel day-to-day), but that doesn't say anything about removing transitive deps from the compilation classpath -- in fact it says the exact opposite ("Bazel always passes the entire transitive

[2018-08-26 11:52] davido commented on #5986
As expected, it is related to removal of some packaged in JDK11. This CL fixed it: [1].

[1] https://github.com/davido/rules_closure/commit/9624854e89a9876990b816bdb53be38b4b9c83b4

[2018-08-26 11:59] davido opened #5987 "ijar: skipping unknown attribute: "NestHost" warnings on JDK11"
When building Gerrit on JDK11 using VanillaJavaBuilder on Bazel@HEAD, I'm seeing these warnings:

[code]

To reproduce, fetch this CL: [1], and run:

[code]

[1] https://gerrit-review.googlesource.com/c/gerrit/+/194040

[2018-08-26 13:05] davido commented on #5723
Thanks for pointing this out. Somehow the stack trace was reported on JDK10 for the same guice/ASM issue without providing this option: `--test_summary=detailed`. May be this is related to JavaBuilder vs. VanillaJavaBuilder?

Anyway, I fixed that issue in this PR: [1], conducted this guice release: [2] with new artifacts and consumed them in this CL: [3]. Now gerrit can be built on JDK11.

Thanks

[2018-08-26 14:01] davido opened #5989 "Error Prone integration: NSME during ReferenceEquality pattern check"
On most recent Bazel version (398478cc334283a6a9c8740f8ac81b5962e5cba7) with activated `ReferenceEquality`, Bazel crashes:

[code]

Reproducer: [1], [2].

[1] https://gerrit-review.googlesource.com/c/gerrit/+/194045
[2] https://git.eclipse.org/r/128082

[2018-08-26 15:26] davido commented on #5059
I've found this regression in 0.17.0rc1 with error prone integration: #5989, that was fixed in #5990. Can the fix be approved, merged and cherry-picked?

[2018-08-26 16:14] therc commented on #5965
The code that's actually running in the thread is here: https://github.com/bazelbuild/bazel/blob/ad32f62952e2b6f8293a26ea5fd677e61975c9ff/src/main/native/unix_jni.cc#L669 (is a JNI thread always in RUNNABLE state, even when it's sleeping, waiting for a syscall to complete?)

I'm inclined to chalk this up to a Docker bug, as it sounds very similar to https://github.com/docker/for-mac/issues/2870 (w

[2018-08-26 20:09] buchgr commented on #5943
We love contributions @Profpatsch :-)

[2018-08-26 20:15] cushon commented on #5986
I can't reproduce. With Bazel @ 398478cc33, rules_closure @ https://github.com/davido/rules_closure/commit/adcad73, and JDK 11+28, I get:

[code]

[2018-08-26 20:31] Globegitter commented on #1289
For reference, there is now a `--experimental_workspace_rules_logging=yes` flag, which logs the internal proto message of each rule - the logging is very verbose, as it pretty prints the object and also prints all available environment variables, but it is a first step :)

[2018-08-26 20:33] davido commented on #5986
It seems to be entirely unrelated to Bazel. It's JDK11 problem on Linux with javax.annotation package:

[code]

All is fine on JDK10 here:

[code]

[2018-08-26 20:37] cushon commented on #5989
Er, I saw the issue subject and didn't notice you also opened a PR for it. Thanks!

I'll get the fix merged next week.

[2018-08-26 20:46] cushon commented on #5986
Huh. It works for me on x86_64 linux:

[code]

and also darwin:

[code]

Maybe there's something different with 11-internal+27-suse-1.1-x8664? Or

[2018-08-26 20:48] davido commented on #5723
Yes, you are right. I cannot reproduce this any more. I tried on JDK 11 and reverted my Guice/ASM fix and now I see, in fact even without `--test_summary=detailed` all failure stacks for all tests are there: [1]. Something was wrong on my side.

* [1] http://paste.openstack.org/show/728804/

[2018-08-26 20:49] davido commented on #5989
Thanks!

[2018-08-26 22:36] jfancher commented on #5985
The issue here is broader than `java_import` -- while my previous example only reproduces with an import, I came up with another one using only `java_library` rules. It's... bizarre. Probably easiest to understand by just looking at it:
https://github.com/jfancher/bazel-issues/tree/lib-transitive-dep-error

Here's the outline:
* **D** is an annotation library, again with an embedded enum
* **C** i

[2018-08-26 23:55] jin commented on #5964
This should be fixed by using 0.17.1, will close this issue now.

[2018-08-26 23:55] #5964 closed

[2018-08-27 01:08] AjinkyaChalke commented on #5798
Hello, Can I work on this? or is anybody already working on it?
Thanks

[2018-08-27 02:10] endobson opened #5995 "required_aspect_providers doesn't work if aspects are not in the right order in the rule"
### Description of the problem / feature request:

I expect there to be no diference between the following, yet one works and the other doesn't.
https://gist.github.com/endobson/0c7335a469b5b23d478a480f5f58fc75

[code]

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

`bazel build //:target_order1` => passes.
`bazel build //:target_or

[2018-08-27 02:41] wonderfuljamesjin commented on #5976
Hi @jin

Do you have some solution on how can I break out class from the cycle,  I am blocked on it.  thanks in advanced

[2018-08-27 03:52] ittaiz commented on #5985
I’m not an expert on the matter but there are cases where javac needs a
bigger (more transitive) classpath then what you expect (for example
something with interface inheritance due to “default method
implementations” since java 8).
Turbine (IINM) tries to be smart and know when the usage of javac of a jar
is a false positive and so not to flag it but maybe it’s not successful
here.
Cc @cushon to

[2018-08-27 05:55] davido opened #5997 "Cannot make alternative java_toolchain work (to activate all error prone warnings)"
On most recent Bazel version (d0196514e12bf09d9548160604fdae4c40063654) I'm, trying to implement alternative `java_toolchain` and activate all error prone warnings, as described in this comment: [1]:

[code]

javadoc.bzl is here: [2] and the reproducer is here: [3].

* [1] https://github.com/bazelbuild/bazel/issues/3427#issuecomment-367519584
* [2] https://github.com/GerritCodeReview/gerrit/blob/m

[2018-08-27 06:13] cushon commented on #5997
Don't depend on `@local_jdk` directly; use `@bazel_tools//tools/jdk:current_java_runtime` to get the configured JDK instead (see https://github.com/bazelbuild/bazel/issues/5594).

e.g.:

[code]

[2018-08-27 06:13] #5997 closed

[2018-08-27 06:37] davido commented on #5997
Thank you! It works like a charm:

[code]

[2018-08-27 07:57] meteorcloudy commented on #5945
With the rollfoward https://github.com/bazelbuild/bazel/commit/8ceaa65973eb599d9635fa9bc566aefd1f57348c, this issue is appearing again

[2018-08-27 09:02] buchgr opened #5998 "Bazel installer does not ship with zsh completion"
It should.

[2018-08-27 09:03] buchgr commented on #5998
See https://github.com/bazelbuild/homebrew-tap/issues/1

[2018-08-27 09:06] Profpatsch commented on #5943
I will open a pull request, do you have any preference on what the `perl` interpreter should replaced with? I think we can assume command line arguments will only use ASCII characters, is that correct?

[2018-08-27 09:07] buchgr commented on #5943
I don't but @aehlig might

[2018-08-27 09:49] aehlig commented on #5943
Oh, wow. We're using perl, just to convert a string to upper case letters; and not even
any string, as far as I can see this string is just used for commands and options---and those
are, for sure, 7-bit clean prinable ASCII.

In the spirit of not introducing additional dependencies, I vote for the `tr a-z A-Z`
solution, as the script currently depends on `tr(1)` anyway.

--
Klaus Aehlig
Google Ger

[2018-08-27 10:53] mhlopko commented on #4856
Nope, that won't help, I was hoping your work on configuring extensions for windows will cover it. So it stays as a separate feature request, with a genrule doing the renaming as a workaround.

[2018-08-27 11:31] philwo commented on #5978
@jin I have modified the release pipeline accordingly now.

However, it's worrying that this regression wasn't caught by our integration tests on CI (if I understand correctly). In theory, the commit that caused Bazel 0.16.1 to produce broken binaries should not have been able to be committed, because presubmit tests should have caught it, right?

How can we prevent this in the future?

[2018-08-27 11:54] jin commented on #5978
This was only caught when using a custom JDK8 toolchain for RBE to build an Android app. The incompatible code path was in the Android build logic.

Perhaps we can build //examples/... in the RBE pipeline?

[2018-08-27 11:56] hmemcpy commented on #5289
I managed to work around the problem by eliminating the 0-byte test.xml, by creating a lazy OutputStream for the xml (see #6000). This ensures the file will only be created if there was actual content written to it by the test model.

This works even better than I'd hoped, since the calling worker strategy will create a test.xml from the produced test.log, which actually solves all issues!

[2018-08-27 11:59] steeve commented on #5978
Catching up with the issue, it's great you guys found the issue!

[2018-08-27 12:16] philwo commented on #5978
I don't know - can we? :D From a config perspective, we just have to add it here:

https://github.com/bazelbuild/bazel/blob/master/.bazelci/presubmit.yml#L120
https://github.com/bazelbuild/bazel/blob/master/.bazelci/postsubmit.yml#L93

Can you try if it works and send me a CL with the changes?

[2018-08-27 13:37] Globegitter opened #6001 "Allow ctx.expand_location to specify output_group"
### Description of the problem / feature request:

### Feature requests: what underlying problem are you trying to solve with this feature?

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[code]

Then another rule which has a target from this rule as `dep`, as well as an `entry_point/main` that specified a path to that `dep` (i.e. `

[2018-08-27 14:04] philwo commented on #5971
I ran a git bisect with your repro example (thanks!) and found this commit as the culprit: https://github.com/bazelbuild/bazel/commit/d4d3d506f4cf6cfaafaeeb717d681ff7784e2384

@buchgr Any idea?

[2018-08-27 15:58] cushon commented on #5985
"Bazel always passes the entire transitive classpath to javac, not only the direct classpath" doesn't tell the full story. It's true that the transitive inputs are available to the compilation action, but it tries to optimize compilation by using a reduced classpath, i.e. the "reduced classpath optimization".

The reduced classpath optimization uses a heuristic to reduce the number of jars from th

[2018-08-27 16:28] jfancher commented on #5985
That is enlightening, thank you for the explanation!

I agree the warnings are harmless -- if I could find a way to just make them go away entirely I would. But there doesn't seem to be a flag to suppress them (similar warnings are under `-Xlint:classfile`, not sure why these are different).

It's unfortunate that such a small issue is a blocker for turning on `-Werror`. My second example may seem

[2018-08-27 16:38] cushon commented on #5972
Is your use-case for `--distinct_host_configuration=false` the one discussed in #5572, i.e. improving performance by avoiding building the same code twice? I agree that's nice to avoid, but still think there might be more principled ways for Bazel to support that than `--distinct_host_configuration`.

[2018-08-27 16:41] cushon commented on #5985
I wish javac allowed `-Xlint` control of this diagnostic, and that it supported enabling individual diagnostics as errors (e.g. something like `-Werror:unchecked,rawtypes`). Maybe it will some day, but we should find a way to work around this in Bazel in the shorter-term.

I'll think about whether there's a way for Bazel to suppress the `unknown enum constant` warnings.

[2018-08-27 16:49] jfancher commented on #5972
Yes, it's purely the performance issue of otherwise needing to build many libraries twice. If there were a different/better way to achieve the same thing we would gladly switch!

[2018-08-27 17:03] bergsieker opened #6002 "Nightly bazel builds should have a build label"
### Description of the problem / feature request:

Nightly bazel builds should have an appropriate build label, something like "nightly" or "bazel_nightly". Ideally this would apply to all "official" builds that are built and distributed via Bazel infrastructure. (I don't know if there are any such builds beyond the nightly builds.)

### Feature requests: what underlying problem are you trying to

[2018-08-27 17:32] cushon commented on #5976
Bazel does not allow cycles in the action graph. If there's a cycle in the sources B.java, C.java, and D.java, the usual solution is to include them all in the same `java_library`:

[code]

[2018-08-27 17:32] #5976 closed

[2018-08-27 17:34] #5989 closed

[2018-08-27 18:14] cushon commented on #5986
My best guess is that this is related to modularization. The `javax.annotation` package is owned by the `java.xml.ws.annotation` module, which breaks other artifacts that put classes in that package (like jsr305.jar). E.g.:

[code]

I'm still confused by your specific repro, though, since it doesn't appear to put `java.xml.ws.annotation` on the module-patch.

Anyway, I'm not seeing any evidence th

[2018-08-27 18:14] #5986 closed

[2018-08-27 18:25] juliexxia commented on #5577
Planning on implementing a new skylark module 'config' to help rules define themselves as build setting rules. Waiting on #5637 to make that change so we don't break users who have global vars named 'config'.

[2018-08-27 18:30] alan-agius4 opened #6004 "unhelpful error messages"
### Description of the problem / feature request:

### Feature requests: what underlying problem are you trying to solve with this feature?

[code]

I was giving this error message
[code]

which to some extent didn't initially point me on the right path to fix the problem

//cc @alexeagle

[2018-08-27 18:46] dhalperi opened #6005 "Code coverage does not honor "exclusive" tag"
### Description of the problem / feature request:

I have tests marked as `exclusive`, and when I run `bazel test //...`, they run serially. When I run with code coverage:

[code]

they run in parallel.

### Feature requests: what underlying problem are you trying to solve with this feature?

`bazel coverage` should honor `exclusive` tag.

### Bugs: what's the simplest, easiest way to reproduce th

[2018-08-27 18:47] dhalperi commented on #6005
cc: @iirina

[2018-08-27 19:10] mpictor opened #6006 "incorrect documentation for `--config=`"
### Description of the problem

In the [command line reference](https://docs.bazel.build/versions/master/command-line-reference.html)'s description of `--config` it is stated that

This is incorrect, as `--config=` _does_ have an effect when specified in a bazelrc.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Create a bazelrc wit

[2018-08-27 20:36] jin opened #6007 "Add //examples/... to RBE CI pipeline"
See https://github.com/bazelbuild/bazel/issues/5978#issuecomment-416207322

@philwo:

[2018-08-27 20:36] jin commented on #5978
Opened https://github.com/bazelbuild/bazel/issues/6007

[2018-08-27 20:38] #5237 closed

[2018-08-27 21:50] aiuto opened #6008 "third_party/protobuf should build standalone"
### Description of the problem / feature request:

The provided third_party/protobuf is needlessly different than the upstream source.
- missing configure, Makefile.in, ...
- Windows files were changed from lf to crlf formatting
- many files change mode from 644 to 755

### Feature requests: what underlying problem are you trying to solve with this feature?

This causes 2 problems:
1. a needless d

[2018-08-28 04:54] davido opened #6009 "Custom java toolchain: Worker process returned an unparseable WorkResponse! (on Bazel 0.16.1)"
Trying to use custom `java_toolchain` is failing on latest released Bazel version (0.16.1):

[code]

On unreleased 0.17rc1 there is another error:

[code]

On Bazel@HEAD (2894b3005693d1318a28b66d22ca39eb7a34077c) [it seems to work](http://paste.openstack.org/show/728895).

Reproducer: https://gerrit-review.googlesource.com/c/gerrit/+/194045.

[2018-08-28 06:04] davido commented on #6009
I confirm, thar the suggested workaround works as expected on 0.16.1, but that breaks 0.17.rc1, because now I get:

[code]

Is there a way to import things conditionally?

Reproducer: https://gerrit-review.googlesource.com/c/gerrit/+/194045

[2018-08-28 06:08] davido commented on #5059
Another CL was merged that fixed that regression: 0e0462589528154cb5160411991075a2000b5452. Can this be cherry-picked to unblock users who heavily rely on working error-prone integration?

[2018-08-28 06:09] cushon commented on #6009
Right. I'm not aware of a conditional import mechanism. You could define different toolchains for 0.16 and 0.17, or inline those JVM flags instead of using the constant.

Is the core dump you mentioned seeing with 0.17rc1 in your original comment reproducible, or was that a transient failure?

[2018-08-28 06:10] davido commented on #6009
Never mind, I re-downloaded 0.17rc1 and confirmed it works with restriction, that you've mentioned. Apparently I had the old 0.17rc1 download, that was re-cut recently. Sorry that I messed that up.

[2018-08-28 06:10] #6009 closed

[2018-08-28 06:31] davido opened #6010 "Restricting package_group in java_package_configuration doesn't have the desired effect"
On most recent Bazel@HEAD (2894b3005693d1318a28b66d22ca39eb7a34077c) trying to restrict custom toolchain declaration on specific packages, doesn't actually work. Even though we provide:

[code]

Error prone warnings are still reported from `antlr3/com/google/gerrit/index/query/QueryLexer.java` as well. These are generated sources and we don't want to see anything reported for them. Is there any ot

[2018-08-28 07:54] wonderfuljamesjin commented on #5976
Hi @cushon

Thanks for update,  Can you please provide more info here,  and B, C, D etc is at different places, I create several java_library rules and used at different places in several BUILD files. I should include like following in each BUILD file? I did it and still get the cycle in dependency graph error

java_library(
    name = "B",
    srcs = [
        "B.java",
    ],
  deps  = [

[2018-08-28 08:38] Globegitter opened #6011 "--test_env/--action_env only for specific targets"
### Description of the problem / feature request:

We are using `container_test` from `rules_docker` and for ci need to pass in `DOCKER_HOST`, `DOCKER_TLS_VERIFY` and `DOCKER_CERT_PATH` so these can work. But passing that flag like `bazel test ... --test_env=DOCKER_HOST` or putting it into the `.bazelrc` passes that into all test sandbox environments. It would be nice to have a way of specifying w

[2018-08-28 08:40] wonderfuljamesjin commented on #5976
Hi @cushon

Does it mean all the java classes that in the dependency cycle  should be restructured in one path, and include them all in the same java_library in the one BUILD file? thanks

[2018-08-28 09:39] davido opened #6012 "--host_javabase option expects a label and is non portable"
I would like to support custom JDK versions (e.g. JDK11) using `VanillaJavaBuilder`, using `default_java_toolchain` and leaving the source/target/bootclasspath unset.

To make it work I have to pass custom jdk through a label to `--host_javabase`, e.g. on Linux:

[code]

It could be simplified to set that up and [I uploded this PR](https://github.com/bazelbuild/bazel/pull/5984) to expose `toolchai

[2018-08-28 09:48] philwo commented on #5066
This is happening again: https://storage.googleapis.com/bazel-buildkite-artifacts/7f1c80b5-13d0-43a6-8dae-d1a7f38eb169/src/test/shell/bazel/bazel_bootstrap_distfile_test/attempt_1.log

[2018-08-28 11:38] racekiller commented on #5723
DO i have to uninstall JDK10 and install JDK 9 then? I am trying to install bazel 0.4.5 and I am getting this  error

`Problem with java installation: couldn't find/access rt.jar in /Library/Java/JavaVirtualMachines/jdk-10.0.2.jdk/Contents/Home`

is it possible that anyone tell mw what to do? I need to finish the GPU CUDA installation and I have macOS 10.13

thanks

[2018-08-28 11:41] #5066 closed

[2018-08-28 12:12] davido commented on #5723
Why are you using such an ancient Bazel version? Current Bazel version is 0.16.1.

[2018-08-28 12:54] laurentlb commented on #6007
Should we move examples to https://github.com/bazelbuild/examples?

[2018-08-28 12:55] laurentlb commented on #5682
Is it still a release blocker?

[2018-08-28 12:56] laurentlb commented on #5978
Please let me know if there's a cherrypick to do in Bazel release.

[2018-08-28 13:07] philwo commented on #5753
We do want an embedded JDK in our Debian/Fedora packages. It's not clear yet, however, if we still have to depend (or at least optionally depend) on a system JDK as well in the long-term.

The reason is that currently the embedded JDK is a full JDK that's also compatible with the JavaBuilder that we ship. However, we're considering stripping down the embedded JDK to the bare minimum that's needed

[2018-08-28 13:08] jin commented on #5978
I don’t think there is one, we just needed a release pipeline update (thanks @philwo!).

We can close this issue after verifying that the new RC fixes it.

[2018-08-28 13:32] philwo commented on #5971
I had a look at this. The difference in behavior is basically: Where Bazel's sandbox before the change would symlink the directory of runfiles, it now traverses the directory structure and symlinks each file individually. For Bazel without sandboxing this doesn't make a difference and indeed, the repro works fine with Bazel HEAD with disabled sandboxing.

The fact that Bazel's sandbox represents i

[2018-08-28 14:18] cushon commented on #6010
`package_group.packages` refers to Bazel packages (e.g. `//java/com/google/gerrit/index`) not Java packages. It looks like `antlr3/com/google/gerrit/index/query/QueryLexer.java` is part of a Bazel package under `//java/...`.

[2018-08-28 14:29] cushon commented on #5976
If the sources that the cycle passes through are in different directories, you can still add them to the same rule:

[code]

but all of those Java files need to be in the `srcs` of the same `java_library`.

Alternately, you could try to refactor to break the cycle, perhaps by extracting an interface. Having fewer `java_library` rules with more sources will generally make incremental builds slower,

[2018-08-28 14:32] cushon commented on #5723
@racekiller, can you try upgrading to a newer version of Bazel? If that isn't an option or it doesn't help with the problem you're seeing, please file a new bug and include the steps to reproduce the problem you're seeing.

[2018-08-28 14:39] katre opened #6015 "Toolchain provider types should be verified"
From an email with @lberki:
[code]

[2018-08-28 14:48] philwo commented on #6007
@laurentlb IMHO yes. It's strange that we have two places for examples.

[2018-08-28 14:57] jin commented on #6007
I also agree. We should consolidate both into the examples repo, and provide a more detailed README for the repo.

[2018-08-28 15:03] davido commented on #6010
So, the relevant rule in `java/com/google/gerrit/index/BUILD` is: https://github.com/GerritCodeReview/gerrit/blob/master/java/com/google/gerrit/index/BUILD#L14-L25:

[code]

And `//antlr3:query` is: https://github.com/GerritCodeReview/gerrit/blob/master/antlr3/BUILD#L3-L17:

[code]

So, I think you are right, the fact that grammar fiel was built under different Bazel package doesn't affect the com

[2018-08-28 15:13] davido commented on #6012
Thanks for the workround. Another non intrusive way to support alternative JDKs would be to teach Bazel   to induce the custom JDK from JAVA_HOME (like other build tools are doing):

[code]

Git is unsuitable for versioning binaries, and network bandwidth is very valuable resources, so that I rule out that option.

[2018-08-28 15:29] cushon commented on #6012
We're specifically not doing that by default so the non-VanillaJavaBuilder toolchain can rely on the embedded JDK instead of whatever the local JDK happens to be, to make sure it has a JDK 10. But it's fair to say there are some [open questions](https://groups.google.com/forum/#!forum/bazel-sig-jvm) about the best approach going forward.

[2018-08-28 16:28] gertvdijk commented on #5753
Thanks for clarifying, @philwo. IIUC:

* it's not even an embedded JDK that Bazel is shipped with, but a JRE,
* the embedded JDK/JRE is never designed to be used for compiling Java code.

Bazel isn't only used to build Java code, so for those environments not having that hard dependency would be great!

Making it a recommended (or suggested even) dependency makes sense, imo. Perhaps also consider

[2018-08-28 16:35] laurentlb commented on #6001
Why do you use `ctx.expand_location()`?
Does the format string come from a BUILD file?

[2018-08-28 16:38] laurentlb commented on #5940
Sorry, we don't have a good solution for this now.

[2018-08-28 17:41] ittaiz opened #6016 "Expose repository_cache to skylark so shared git repository cache can use it"
#5928 tries to introduce a shared repository cache (between workspaces) for git_repository (like we have for download/download_and_extract).

The main gap there is where to write the shared cache.

The current aggreement with @aehlig is that we will write it under `$repository_cache/content_addressable/git/...`.
`$repository_cache` is the value that is specified by `--repository_cache` cmd-line fl

[2018-08-28 19:05] iirina commented on #5880
Note: this should also work with clang but it needs some experimentation.

[2018-08-28 19:17] jgavris commented on #903
@jin is it on the roadmap to support `bazel coverage` for `android_local_test`?

[2018-08-28 19:36] aiuto opened #6017 "starlark should have the equivalent of os.path.join w.r.t. the host, executor & target environments"
### Description of the problem / feature request:
starlark should have the equivalent of os.path.join w.r.t. the host, executor & target environments
Possibly a function off the ctx, or the ctx could have the various (file) path separators (as opposed to the PATH path seperators).

### Feature requests: what underlying problem are you trying to solve with this feature?

Sometimes you need a rule t

[2018-08-28 20:11] brandjon commented on #4292
Laszlo, from a very quick glance it seems like converting shell tests to windows includes copy/pasting some header boilerplate on each .sh file. Can this boilerplate really not be factored into a common file? What's the plan for if the boilerplate needs to be changed in the future?

More to the point, I want to add a new shell test to src/test/shell/integration. Should I just cargo-cult a header f

[2018-08-28 20:50] eLvErDe commented on #5767
Same issue here, reverting OpenJDK from 10 to 8 make it build again.

[2018-08-28 21:46] jin commented on #5682
@dkelmer is OOO, I’m not sure what the status is.

[2018-08-28 22:37] kalbasit commented on #5850
I'm experiencing the same thing, is there no way to turn off the remote cache once it has been enabled in bazelrc?

[2018-08-28 23:41] jayconrod commented on #5971
@philwo Thanks for looking into this. I opened this issue because I wasn't sure this change was intended. Since it is, I'll consider this resolved, but I'll leave the issue open if you want to investigate further.

I'll disable the failing test in bazelbuild/rules_go#1669 for now, and I'll reconsider the `copy` mode in `go_path`.

[2018-08-29 00:08] jayconrod commented on #5682
I filed #5971 to track the root cause of the test failure. It sounds like this is intended behavior, so I don't think it should be a release blocker.

I'll disable the failing test when I get a chance and then close this issue when I've verified CI is green. I may be a bit delayed this week -- I'm at GopherCon.

[2018-08-29 03:29] ittaiz commented on #5767
We have the same issue. Is it possible to make the error message clearer?
On Tue, 28 Aug 2018 at 23:50 Adam Cécile <notifications@github.com> wrote:

[2018-08-29 03:33] ittaiz commented on #6011
+1
On Tue, 28 Aug 2018 at 11:38 Markus Padourek <notifications@github.com>
wrote:

[2018-08-29 04:56] sujithTSR commented on #1858
The problem still persists with the latest bazel version 0.16.1

[2018-08-29 05:10] laszlocsomor commented on #4292
Jon, indeed there's a copy-pasted boilerplate.

The reason this can't be factored to a common file is, there's no common preamble to sh_* rules where we could source that file. When you "bazel build" a sh_binary, Bazel merely creates a symlink to whatever file is in the rule's `srcs`, be it a shell script or an arbitrary binary. Running the output from bazel-bin runs the file directly, without run

[2018-08-29 06:48] endobson opened #6018 "Support for structured error output for failed actions"
### Description of the problem / feature request:

Allow custom rules to include structured error output when they fail.

### Feature requests: what underlying problem are you trying to solve with this feature?

There are many rules that implement compilation of some set of files. When these fail they currently output information to stdout/stderr that is human parseable. Users then read the output

[2018-08-29 07:32] Globegitter commented on #6011
Also as a note, what I actually instinctively thought would be possible at the beginning is putting something like
[code]
into the .bazelrc and it would just apply to the listed targets.

[2018-08-29 07:33] Globegitter commented on #6001
Yes, to be more concrete I ran into that when working on this PR: https://github.com/bazelbuild/rules_nodejs/pull/217

The already existing `rollup_bundle` rule expects `entry_point` to be passed in as a string.

[2018-08-29 07:42] meteorcloudy opened #6019 "Implement build-runfiles on Windows"
On Windows, runfiles tree is disabled because creating symlink needs admin right or Windows 10 Creator Update (or later) and developer is enabled. But Bazel should be able to build runfiles tree if users can ensure one of those requirements.

Enabling runfiles tree on Windows would help resolve https://github.com/bazelbuild/bazel/issues/5926

/cc @laszlocsomor @dslomov

[2018-08-29 08:41] gertvdijk opened #6020 "Bazel Debian package installation overwrites global /etc/bazel.bazelrc file"
### Description of the problem / feature request:

Installing the Debian package of Bazel overwrites the user configuration in `/etc/bazel.bazelrc` blindly.

(This found me puzzling for an hour or so why my builds were failing.)

### Feature requests: what underlying problem are you trying to solve with this feature?

Please consider this a bug. A Debian package should never ever overwrite configu

[2018-08-29 09:54] meteorcloudy commented on #6019
We already have an issue here: https://github.com/bazelbuild/bazel/issues/5807
Closing this one due to duplication.

[2018-08-29 09:54] #6019 closed

[2018-08-29 09:59] gertvdijk commented on #4850
Unfortunately, it _is_ overwritten with local edits using Bazel 0.16.1... #6020.

[2018-08-29 10:39] meteorcloudy commented on #5640
FYI @laszlocsomor, this is the similar bug you encountered recently.

[2018-08-29 10:42] gertvdijk commented on #3219
I have the same question really. This stops me from making a transition when renaming WORKSPACE rule names in dependency (or consumer) projects. Would be great leave some aliases to cover a certain transition period.

Bumped into this when trying to build a JGit development tree in Gerrit. One of the two decided it was a good idea to rename all the rules to a new format. ([mailing list discussion]

[2018-08-29 11:38] laszlocsomor commented on #5640
@mhlopko, @meteorcloudy : I think the culprit is that every action runs in the same execution root. I believe the single execution root is the reason the compilation action has `/Iexternal/foo` -- to enable compiling cc_* rules even when they are in external repos.

[2018-08-29 11:39] laszlocsomor commented on #5640
And I believe we could solve this problem once and for all if all build actions corresponding to rules in external repos would use `<execroot>/external/<reponame>`  as their execution root, and only the main repo's build actions would use `<execroot>`.

[2018-08-29 11:51] meteorcloudy commented on #5640
@laszlocsomor What if you have a cc_library `lib.cc` in your main repo, which depends on `repo_x` and includes `foo/bar/x.h` under `<execroot>/external/repo_x`. And you happen to have `foo/bar/x.h` under your source tree. We'll still have the same problem during compiling `lib.cc`, because `/I.` and `/Iexternal/repo_x` (relative to `<execroot>`) are both passed to the compiler.

[2018-08-29 11:52] rongjiecomputer commented on #5640
If `/I.` is added only after all the `/Iexternal/repo`, it should solve the issue Abseil is having, but I afraid that other issues might arise.

[2018-08-29 11:59] meteorcloudy commented on #5640
@rongjiecomputer Yes, that would be wrong if the actual file you want to include is in your main repo instead of external repo. I think the only way to make it right is sandbox, this way it can keep the compiler from accidentally discovering undeclared include files. (although there could still be header file conflicts between declared dependencies).

[2018-08-29 12:06] laurentlb commented on #5971
If a change in Bazel is breaking existing rules, shall we roll it back?

[2018-08-29 12:08] laszlocsomor commented on #5640
@meteorcloudy : Indeed you're right.

I also forgot to consider `@repo//bar/b.cc` may `#include "bar/b.h"`, but `@repo//bar:b` may depend on rules in other external repos (e.g. `@oper//qux:c`), so even if the effective execution root for compiling `@repo//bar:b` were `<execroot>/external/bar`, this directory would have to contain a symlink `<execroot>/external/bar/external/qux` pointing to `<execr

[2018-08-29 12:10] laszlocsomor commented on #5640
Correction: the symlink would have to be `<execroot>/external/bar/external/oper`, and point to `<execroot>/external/oper`.

[2018-08-29 12:12] laszlocsomor commented on #5640
@meteorcloudy :

Right, for example when a library depends on both `//foo:x` and `@repo//foo:x` and those both have `foo/x.h` in `hdrs`.

[2018-08-29 12:16] philwo commented on #5971
I still don't know what the right thing to do is. I think it's possible to symlink directories instead of the files that they contain in the sandbox. This would even give us a performance boost (because creating potentially lots of individual symlinks is slow). We have a nice repro here thanks to @jayconrod that we can also turn into an integration test.

I have to think about it a few more days a

[2018-08-29 12:18] laszlocsomor commented on #5640
I think the include scanner could catch this error and suggest a fix ("Did you mean to include external/repo/foo/x.h instead of foo/x.h?"). Bazel knows the allowed set of included headers, so the include scanner could detect if an illegally included header file exists under one of the external repos.

[2018-08-29 13:00] felderhof commented on #5932
I see this is marked as closed but it does still seem to be an issue, for me at least. I imagine that this is just because I don't know what to do.

Is there a way to depend on an explicit previous version of the downloader (or target future version)?

I have just been using the packaged version of bazel on ubuntu. Do I need to build my own version from the latest source? Will that solve the probl

[2018-08-29 13:01] Globegitter commented on #6001
Yeah I was thinking that as well as an alternative option, maybe that would indeed be the best way forward.

[2018-08-29 13:08] meteorcloudy commented on #5640
I agree.

[2018-08-29 13:08] laurentlb commented on #6001
I think that's cleaner. I'm going to close the request.
The main use-case of `expand_location` was for reimplementing genrules (the users specifies the command in a BUILD file and wants to refer to other targets). In most other cases, I would suggest to avoid this function.

[2018-08-29 13:08] #6001 closed

[2018-08-29 13:25] brandjon commented on #4292
That part sounds reasonable, but why can't we factor the boilerplate preamble into a common utility file and explicitly source that file wherever it's needed?

[2018-08-29 13:27] laszlocsomor commented on #4292
Because we don't know the path of that file at runtime.

[2018-08-29 13:28] laszlocsomor commented on #4292
Remember we have no runfiles tree on Windows, so we must look up runfiles from a manifest file, but we must first find that manifest file (either from an envvar, or from next to the binary). This is what the boilerplate code actually does.

[2018-08-29 13:42] katre commented on #6020
Thank you for the bug report. I'll get a fix out ASAP.

[2018-08-29 13:42] laszlocsomor commented on #5640
After in-person discussion with @mhlopko and @meteorcloudy, it became clear that including files via "external/reponame" is in fact the wrong approach.

When a header file (`lib/x.h`) includes another file from its own package (`lib/y.h`), the inclusion path will be repo-relative. But if these headers are in an external repo (`@foo`) and a file in the main repo (`main.cc`) includes the first heade

[2018-08-29 13:45] brandjon commented on #4292
I see. That's unfortunate...

[2018-08-29 14:13] katre commented on #5059
Release blocker: #6020
The debian package is not correctly setup for conffiles, and is overwriting existing global bazelrc files.
I'll have a fix out shortly, but we should cherrypick it to this release.

[2018-08-29 14:47] #5974 closed

[2018-08-29 15:52] aehlig commented on #5932
You can take the latest released bazel and then `bazel build //src:bazel` on the tree at head.

[2018-08-29 16:30] jowagner commented on #5599
This may be more than just cosmetic. I get this error when trying to build bazel with compile.sh. A few lines after the above error, it says:

[code]

See also issue https://github.com/protocolbuffers/protobuf/issues/5008

[2018-08-29 18:35] #5570 closed

[2018-08-29 19:00] AdamDorwart commented on #3517
I just wanted to offer a temporary workaround that we're using to allow multiple python runtimes in a single workspace. You can set your py_runtime to a decorator script that inspects the shebang on the first line of the script to invoke a particular interpreter. You could make this a simple shell script which someone had suggested in another thread I can't seem to find.

If you're using distroles

[2018-08-29 19:01] buchgr commented on #3517
Thanks @AdamDorwart !

[2018-08-29 20:03] eLvErDe commented on #5767
Building TF is a non-determinisic challenge you'll have to deal with alone. Don't expect any help, I have dozen of tickets with ne response. Good luck !

[2018-08-29 23:40] ola-rozenfeld opened #6026 "ERROR: Build Event Protocol upload failed: Attempting to send over a closed stream"
Happened with the latest nightly Bazel. A test timed out (it was supposed to), and in the end we saw this error:

ERROR: Build Event Protocol upload failed: Attempting to send over a closed stream
INFO: Partial Build Event Protocol results may be available at [redacted]

Two problems here: the failure itself is one; the other: is it the right thing to fail the build when BES upload fails? Shouldn'

[2018-08-29 23:51] jayconrod commented on #5971
This is the part that was unclear to me before. I think this may be a case of Hiram's law. :)

[2018-08-30 01:30] enriched commented on #4802
I was able to use node to output stamp vars with bazel v0.16.1 on windows and mac using:

### .bazelrc
[code]

### ./build/bazel_stamp_vars.js
[code]

[2018-08-30 06:05] davido opened #6027 "Java API mismatch when building Gerrit and JGit from source on 0.16.1"
To simplify developing process with Gerrit's main dependency JGit, we support building gerrit with building JGit from source instead of consuming the binary artifacts from Central or from Gerrit's Google storage bucket.

When building Gerrit in that way on Bazel 0.16.1 generated byte code for JGit is screwed up and the final artifact cannot be run on Java 8 any more. Note, that this error doesn't

[2018-08-30 06:10] cushon commented on #6027
This is #5888, which is fixed in 0.17rc1. We're adding better regression test coverage in this area.

[2018-08-30 06:34] davido commented on #6027
I'm not sure I'm following, the problem you are linked to explicitly passing:

[code]

but we don't do that. And another specific problem, that the wrong byte code generation only affects source compiled form external repository (jgit) and not the main repository (gerrit).

[2018-08-30 06:46] cushon commented on #6027
No, the problem I linked to is that default toolchain in 0.16.1 compiles against the JDK 9 APIs. [ByteBuffer#mark](https://docs.oracle.com/javase/9/docs/api/java/nio/ByteBuffer.html#mark--) is a covariant override that was added in JDK 9, and does not exist on JDK 8.

Does the main repository include any code that calls `ByteBuffer#mark` in the main repository? This affect affects a fairly small s

[2018-08-30 06:56] davido commented on #6027
Ah, thanks for clarifying, that makes sense!

But then, this is a pretty much show stopper for many Bazel users, so that I'm surprised, that we don't see 0.16.2 releases that fixed that major breakage ASAP.

[2018-08-30 07:00] cushon commented on #6027
Ack. I think this is the second report of this problem, and the first outside of Bazel code.

cc @lberki @buchgr

[2018-08-30 07:05] davido commented on #6027
@lberki @buchgr @ulfjack

Can you explain Gerrit Code Review and JGit communities, why we are not seeing Patch Release  for 0.16.1 for such severe breakage in Bazel latest release, leaving us without a fix for weeks/months?

(Of course, we can build Bazel from source or use 0.17.rc1, but I think the appropriate reaction here is to patch latest release, or as adequate reaction immediately promote 0

[2018-08-30 07:16] ashi009 opened #6028 "pkg_deb failed to generate correct conffiles section from the `confiles` attribute"
### Description of the problem:

pkg_deb failed to generate correct conffile section from the `confiles` attribute.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[code]

[code]

### What's the output of `bazel info release`?

[code]

### Root cause

As shown in the following snippet, when generating the conffiles file, the trailin

[2018-08-30 07:39] ittaiz opened #6029 "Expose timeout time to users of git_repository"
### Description of the problem / feature request:

bazel build fails on timeout of cloning git repositories

### Feature requests: what underlying problem are you trying to solve with this feature?

I want to be able to supply a longer timeout

cc @aehlig would you open for a very simple small PR to expose this attribute?

[2018-08-30 07:39] ittaiz commented on #6016
@laurentlb can you please assist?

[2018-08-30 08:11] vrothberg commented on #5175
According to https://github.com/google/gvisor/issues/31#issuecomment-415297379 the issue has been resolved. Thank you very much!

[2018-08-30 08:11] #5175 closed

[2018-08-30 08:46] laszlocsomor commented on #2241
@rongjiecomputer : Thank you for your continued efforts on closing this issue! Could you summarize the current state of Singlejar on Windows?

[2018-08-30 08:46] laszlocsomor commented on #2241
/cc @lberki : FYI

[2018-08-30 09:04] lberki commented on #6027
Uh, this is bad.

I also thought this was https://github.com/bazelbuild/bazel/issues/5888, but it's a different issue: https://github.com/bazelbuild/bazel/issues/5888 came about because we did not use any bootclasspath with a JDK 8 `--javabase`. This is because we use the JDK 9 bootclasspath even if we target JDK 8.

https://github.com/bazelbuild/bazel/commit/282b8839ef114aa70e18d98a3e6f5fa8dbed4e

[2018-08-30 09:45] gertvdijk commented on #6027
Yes, 0.17-rc1 fixes this. (Refer to [the Gerrit mailing list discussion from here](https://groups.google.com/d/msg/repo-discuss/d_qGIW0PnpU/9pcKX8IMEQAJ), where @davido reports the same - reproducible with 0.16.1, not with 0.17-rc1.)

I guess this only affects developers working on JGit-Gerrit, basically. And if older Bazel versions are not affected, this is not a big deal, I think?
<sup>These kin

[2018-08-30 09:53] lberki commented on #6027
That's good news!

(I also classified mentally this as "not a big deal", since we haven't heard about this from anyone else other than @davido ,that's why my surprise about his classification of "severe" -- is this especially painful for JGit/Gerrit for some reason?)

[2018-08-30 10:45] buchgr commented on #5971
This seems all fine and not a release blocker. The only action item would be to add some documentation for skylark rules authors that they any file in Bazel may actually be a symlink.

[2018-08-30 10:53] davido commented on #6027
Even though, JGit is built with Maven, we support Bazel driven build toolchain for this project [1]. Today we know, that 0.16.1 and (earlier Bazel stable releases?) produces broken byte code that cannot be run with default Java 8. This is enough reason for me to conduct a patch release.

Not to mention, that @gertvdijk and myself spended hours investigating this breakage reported here, without lin

[2018-08-30 10:57] philwo commented on #5971
@jayconrod Thanks a lot for your patience and helpful comments here :)

I had another look at the code and discussed this issue with @buchgr and @lberki. If it's OK for you, we think it's better to keep it as it is now (all files are symlinks in the current sandbox implementation) instead of the previous behavior (all files are symlinks, except TreeArtifacts in runfiles) for consistency reasons. W

[2018-08-30 11:16] laurentlb commented on #5971
Is there any reason we don't try to provide a smoother rollout of the change?

My understanding is that:
 - We may break an undetermined number of users
 - Users can't know in advance whether the new release will break them or not
 - Users can't know if they rely on "implementation details"
 - The behavior and the guarantees we provide don't seem to be documented (are they?)
 - There's no flag to

[2018-08-30 11:21] yiming9 opened #6033 "Feature request: Disable remote cache for an entire mnemonic"
### Description of the feature request:

Disable the remote cache for an entire mnemonic. For instance, have something in command line like
`bazel --nocache=CppLink`.

### Feature requests: what underlying problem are you trying to solve with this feature?

We have a big C++ code base. For various reasons, we have to use static linkage. When we build the code base with debug symbols, the generated

[2018-08-30 11:25] laurentlb commented on #6027
Expected date of release for 0.17 is September 6, but it will depend on release blocking bugs and cherrypicks that are needed. If you want to request a cherrypick, please ask it on https://github.com/bazelbuild/bazel/issues/5059.

[2018-08-30 11:28] davido commented on #6027
Thanks, that would be fine.

[2018-08-30 11:45] philwo commented on #5971
In general, I think that if a change doesn't break our tests and we don't get feedback during the RC phase that a change is blocking users from upgrading, then it should be fine.

Proposal for this time, as we have identified a possible performance issue with the new behavior: I'll add a flag that allows users to revert to the previous behavior for the sandbox and if no one tells us that they need

[2018-08-30 12:28] tolot27 commented on #5185
I have configured both the lower and upper case variant `http[s]_proxy` and still get:

[code]
Unsetting the lower case `https_proxy` does not help either. curl, wget and git clone work.
It looks to me that bazel does not pass the credentials to the proxy, hence the error 407.

[2018-08-30 12:47] tolot27 commented on #5185
Even providing the credentials directly to the JVM like with `bazel --host_jvm_args=-Dhttps.proxyUser=<username> --host_jvm_args=-Dhttps.proxyPassword=<password> build ...` does not work.

In `ProxyHelper.java` I do not see any obvious error. Is this class used for downloading?

[2018-08-30 13:37] bergsieker commented on #4608
@ulfjack can you confirm if you're still working on this, or can you find a new owner? Thanks!

[2018-08-30 13:40] laurentlb commented on #5971
For this specific change, a bug was reported with the CI, even before the RC phase. RC phase is not
 even complete and I suspect very few people try the RC. So I think it's fair to provide a workaround.

If it's not too much trouble to add the flag, I think it's great! Thanks a lot!
Ideally, we would keep the old behavior by default (to leave time to users to update their code before a Bazel relea

[2018-08-30 13:44] laurentlb commented on #5682
Duplicate of https://github.com/bazelbuild/bazel/issues/5971

[2018-08-30 13:44] #5682 closed

[2018-08-30 13:50] lberki opened #6035 "`javac.jar` updated to JDK 10; will not run on JDK 8 as `--host_javabase` anymore"
Since @cushon updated the `javac` embedded into Bazel to the version in JDK 10, `--host_javabase=<JDK8>` won't work anymore.

Mitigating circumstances are that if we don't find a JDK, we still default to the embedded one, which does work with the embedded `javac` and that it's possible to revert to VanillaJavaBuilder to make Bazel work with `--host_javabase=<JDK8>` at the cost of some loss of func

[2018-08-30 13:51] lberki commented on #6035
/cc @cushon @buchgr @iirina @philwo

Filing this as a P0 for the time being; feel free to downgrade as you see fit but let's not release before we have a plan.

[2018-08-30 14:14] buchgr commented on #6035
I may add that VanillaJavaBuilder on JDK8 does trigger at least one javac bug (the one with the imports) and that some users have already reported that to us. So falling back to VanillaJavaBuilder is not only a loss of functionality but also a breaking change for some.

[2018-08-30 14:30] cushon commented on #6027
That's still #5888. If no `-bootclasspath` is set when cross-compiling javac helpfully prints a warning that `bootstrap class path not set in conjunction with -source N`, and then defaults to using the bootclasspath from the host JDK.

If we didn't use any bootclasspath at all the compilation would fail with `unable to find package java.lang in classpath or bootclasspath`.

[2018-08-30 14:55] meteorcloudy commented on #5807
@filipesilva I have made some progress on this recently.
Now with Bazel built from HEAD, symlink tree will be available on Windows when you pass `--experimental_enable_runfiles`.
Can you try if it helps with https://github.com/bazelbuild/bazel/issues/5926?

[2018-08-30 14:56] #5807 closed

[2018-08-30 15:40] meteorcloudy commented on #5807
@filipesilva Just found a bug when dealing with long path, sending a fix now.

[2018-08-30 15:47] yiming9 opened #6038 "'no-cache' fails to exclude the targets from remote cache"
### Description of the problem:

Targets with 'no-cache' tags do not seem to be excluded from the remote cache in bazel 0.15.0.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

The following page suggests that we can give a target a 'no-cache' tag to exclude it from remote cache:
https://docs.bazel.build/versions/master/remote-cachin

[2018-08-30 15:47] darthbinamira commented on #5254
Want to add one issue I've encountered while following the [java tutorial](https://docs.bazel.build/versions/master/tutorial/java.html).

1. The ```bazel query``` command seems to only work in PowerShell. I tried running with the default cmd.exe terminal in IntelliJ and it just gives the following error:
[code]
2. The same query can't be copy-pasted due to the \ and should be written in a single l

[2018-08-30 16:09] msohn commented on #6027
I hit the same problem when running JGit tests using bazel 0.16.1:

$ git clone https://git.eclipse.org/jgit/jgit
$ cd jgit
$ bazel build all
this succeeds
$ bazel test //...
many tests fail with the above mentioned java.lang.NoSuchMethodError: java.nio.ByteBuffer.mark()Ljava/nio/ByteBuffer

I installed bazel 0.17.0rc1, this fixes the problem

[2018-08-30 16:17] benjaminp commented on #6038
I think this is probably the same as #4680?

[2018-08-30 16:29] rickeylev commented on #3517
Another way of doing it is using a `select` statement on the `py_runtime` rule.
(the below using `interpreter_path`, but the same should be possible with `interpreter`)
(I gave this a quick try, seems to work)

It still requires a custom arg to bazel; imho bazel should have it configured like this by default. Maybe an easy fix is to just add the config_setting() and select() I mention below direct

[2018-08-30 16:31] gertvdijk commented on #6027
Yikes - that's a much simpler case to run into this issue. Does that make a valid point to mark it "severe", instead "not a big deal"? @lberki

[2018-08-30 17:03] alexeagle commented on #5153
Update, we have a design doc to make rules_nodejs have smaller inputs by doing what pubref/rules_node does, while staying backwards compatible: https://docs.google.com/document/d/1AfjHMLVyE_vYwlHSK7k7yW_IIGppSxsQtPm9PTr1xEo/preview

[2018-08-30 17:39] dmaclach opened #6039 "Starlark "Args" need better debugging support (print)"
### Description of the problem / feature request:

args = ctx.actions.args()
args.add("foo")
print(args)

should do better than:

context.args() object

I would expect

"foo" or args: "foo"

### Feature requests: what underlying problem are you trying to solve with this feature?

Make debugging starlark easier

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a mini

[2018-08-30 17:47] kevin1e100 commented on #5805
cc @jin

@hsyed could you clarify what the concern here is, and what's meant by "persistent worker"?  I agree it's useful to generate ijars in a separate action, and it seems you'd be able to use a worker for that (even the same worker binary).  When enabled Bazel will spin the ijar workers up as separate processes alongside the workers you already have.  Conversely, when workers are disabled, Baz

[2018-08-30 18:00] jgavris commented on #4664
I've got a patch that solves this at least for the workflow I'm using https://github.com/bazelbuild/bazel/pull/6040.

[2018-08-30 19:19] hsyed commented on #5805
Yes. At the moment the KotlinBuilder does everything in one step -- so it's conceivably to build without persistent workers enabled. However I wouldn't recommend it as the startup times are silly.

If the actions are made granular it would become unuseable.

Yes The JS rules share the same worker process as the JVM rules. When I split up the JVM rule actions  they will share the same binary.

I th

[2018-08-30 19:30] sunyal opened #6042 "aapt2 fails with certain resource filenames"
### Description of the problem / feature request:

It seems that when a resource file contains more than one period in the name it fails the build using the --android_aapt=aapt2 flag. This doesn't happen with the default aapt processor.  For example the resource file is called `Style.Cell.xml` and seems to have difficulty processing because it appears to truncate the name into the following `value

[2018-08-30 19:47] jin commented on #6042
@sunyal do you know if this works with aapt2 and Gradle/AGP?

[2018-08-30 20:32] sunyal commented on #5798
Using the latest master, it appears that when the android_sdk isn't defined and the `--android_aapt=aapt2` flag is set, it produces an error related to the aapt2 flag instead of indicating that the SDK cannot be found.

[code]

This doesn't happen if you don't define `aapt2` but `aapt` for the `--android_aapt` flag.  It prints a message stating that the SDK cannot be found.
[code]

[2018-08-30 20:39] guibou opened #6043 "Cross compilation: explicitly exclude package / rule from a toolchain"
### Description of the problem / feature request:

The rules in my repository can be built by a few of the `--compiler` / `--cpu` combinations available. For example:

- Most of my "desktop" programs can accept all the `--compiler` (e.g. `clang`, `gcc`), but only the `--cpu` `default`.
- Some rules are only compatibles with some `--cpu` / `--compiler` tuples. For example, I have rules which only w

[2018-08-30 20:43] guibou opened #6044 "Cross compilation: build multiples toolchains at once."
### Description of the problem / feature request:

I have multiples toolchains and I'm now using a wrapper script to build everything using all available toolchains. For example, one of my wrapper scripts contains:

[code]

I'd like bazel to be able to build everything at once, for example by typing `bazel build --cpu ALL --compiler ALL`.

### Feature requests: what underlying problem are you tryi

[2018-08-30 21:07] guibou opened #6045 "Cross compilation: forcing toolchain of a rule passed as argument to a binary"
### Description of the problem / feature request:

I'm using bazel to build / deploy firmware on embedded devices. The deploying program is built using bazel and need to run on the "host" architecture. The deployed binary is built using bazel using the "target" architecture.

I'd like to use `bazel run //:deploy` and uses the `args` attribute of the `_binary` rule `deploy` to specify the firmware.

[2018-08-30 21:10] jin commented on #6038
cc @buchgr

[2018-08-30 21:14] jin commented on #5978
I can verify that building the latest bazel with the latest rc (0.17.1rc1) fixes this issue. @steeve, please reopen if you are still running into this issue.

[2018-08-30 21:17] jin commented on #5805
cc @philwo

I agree, we need a way to expose this in Starlark. Right now, built-in rules can do this by [registering themselves in the native code](https://source.bazel.build/bazel/+/master:src/main/java/com/google/devtools/build/lib/bazel/rules/BazelStrategyModule.java;l=121?q=BazelStra).

[2018-08-30 21:40] Globegitter opened #6046 "bazel test command sometimes not able to render icons"
### Description of the problem / feature request:

When running `tests via `bazel test` it seems, in a quite non-deterministic manner, that icons can not be rendered. And when running it again they render fine. Also it is not possible to see any colour in the output (not even when passing `--color=yes`), but I guess that was implemented on purpose that way?

### Feature requests: what underlying p

[2018-08-31 01:58] ale64bit opened #6048 "RLocation is broken in Windows and Linux"
### Description of the problem / feature request:

While trying to use RLocation, it fails both in Windows and Linux:

(1) Windows
It simply reports that the path doesn't exist. Basically the path contains a folder that contains a manifest files with references to the actual files, but this folder doesn't seem to get expanded in the returned path for some reason.

(2) Linux
The result seems to be

[2018-08-31 07:03] aehlig commented on #5185
@tolot27 Again, my recommendation was to try using the Skylark versions of the respective rules. I.e., try adding `load("@bazel_tools//tools/build_defs/repo:git.bzl", "git_repository", "new_git_repository")` at the beginning of your `WORKSPACE` file and set the environment as you would when calling `git` directly.

(If you call the native `git_repository` rule indirectly, e.g., through another rep

[2018-08-31 07:06] aehlig commented on #6029
Yes. feel free to send a pull request.

[2018-08-31 07:06] felderhof commented on #5932
I had a problem building the latest version from source but for the sake of anyone coming across this thread, upgrading to latest testing version of bazel on ubuntu according to the instructions [here](https://docs.bazel.build/versions/master/install-ubuntu.html) made the issue go away.

At time of writing, this was version 0.17.1rc1.

Many thanks for your help.

[2018-08-31 07:37] msohn commented on #6027
bazel is a secondary build system for jgit which is mostly used by those also working on Gerrit.
Otherwise we use Maven since bazel has no support to build OSGi bundles, Eclipse features and p2 repositories which we need for the integration into Eclipse.

Hence I think we can live with 0.17.0rc1 for now and update to 0.17.0 when you release it next week.

[2018-08-31 08:07] gertvdijk commented on #6027
I don't have a big voice in this (being just a random newbie-Bazel/Gerrit developer running into it), but I can also live with no new 0.16.x release for the time being.

[2018-08-31 08:12] davido commented on #6027
@lberki As I said in my previous comment we can handle that and wait for 0.17. What is worring me, is that there was no appropriate communication from Bazel-Java-Team side and that the severity of #5888 and the consequences it cause (apparently only Bazel code is affected?) were underestimated.

Since minute 1. after you have confirmed, that 0.16.1 that was released in the wild, and under some cir

[2018-08-31 10:03] yiming9 commented on #5711
On release 0.15.0, we were also hit by this bug several times (about once or twice per day), particularly when a lot of data were written into the remote cache (e.g., compiling statically-linked binaries with debug symbols). It would be great if we have a patch on this issue. Could we merge https://github.com/bazelbuild/bazel/pull/5725? Thanks a lot!

[2018-08-31 10:33] lberki commented on #6027
I think the disconnect here is that your expectations about how breakages should be handled are not in line with our ideas about the same. Which is, of course, because there aren't clear guidelines (or at least I don't know about them...) and which I why I started this thread here:

https://groups.google.com/d/msg/bazel-discuss/wYocSoGTJOg/aJnD4ZqUCAAJ

It's not strictly about handling breakages,

[2018-08-31 10:53] davido commented on #6027
Yes I'm aware of this thread and I agree that there should be an agreement on the process of how experimental flags and features are discontinued or promoted and renamed to stable flags and features.

Still, I have a strong impression that we are talking past each other here. I'm talking about the outcome of `bazel build :a` without any flags or options passed, without using any fancy features. Ju

[2018-08-31 12:03] davido commented on #5059
There is another regression in 0.17-rc1: rules_closure (and Gerrit) cannot be built any more with `@bazel_tools//tools/jdk:toolchain_java9`: #5961. It was fixed in: https://github.com/bazelbuild/bazel/commit/3987300d6651cf0e6e91b395696afac6913a7d66 . Can this fix be cherry-picked?

[2018-08-31 12:04] #6020 closed

[2018-08-31 12:05] davido commented on #5961
This was apparently fixed in https://github.com/bazelbuild/bazel/commit/3987300d6651cf0e6e91b395696afac6913a7d66?

[2018-08-31 13:48] katre commented on #5059
The commits 2147666fa2750b4999fff763f6e4e3d016d6cc9e and 438b2773b8c019afa46be470b90bcf70ede7f2ef need to be cherrypicked into the next RC (to fix #6020 and #6028 respectively).

[2018-08-31 14:53] jrn commented on #6027
For what it's worth, this affected ~everyone in Gerrit Code Review team at Google. We didn't report it because we didn't realize it was a bazel bug (actually we didn't understand that until today).

[2018-08-31 15:08] brown opened #6050 "bazel server restarts when JAVA_HOME changes"
### Description of the problem / feature request:

The Bazel server restarts whenever the file path to the local JDK changes.  Instead, the server should only be restarted when the local JDK is different.  The code should checksum the local JDK instead of assuming it's different when its file path is different.

### Feature requests: what underlying problem are you trying to solve with this featur

[2018-08-31 15:30] aaaa0441 commented on #4314
@redisliu thanks for the solution. I am trying to build Angular. You saved my night. 👍

[2018-08-31 16:41] ob commented on #159
This is fixed AFAICT.

[2018-08-31 17:32] jin commented on #6048
cc @laszlocsomor

[2018-08-31 18:02] mpictor opened #6051 "Documentation should note when options are renamed"
### Description of the problem / feature request:

I find it handier to view the documentation on docs.bazel.build than to look at, for example, `bazel help startup_options`. However, the documentation doesn't show when options were added/renamed, and it doesn't seem to be possible to view docs for any version but HEAD (replacing `master` in the url with something like `0.16.1` gives me a 404).

#

[2018-08-31 19:34] ZacVawterKodiak opened #6052 "C++ file changes cause stable inconsistent state"
### Description of the problem / feature request:
Modifying 'changling.h' header does not cause a build, resulting in inconsistent state.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

1. Extract [broken.zip](https://github.com/bazelbuild/bazel/files/2341325/broken.zip)
2. bazel build ...
3. Add a z to changling.h::baz character ar

[2018-08-31 20:12] jin opened #6053 "Unable to execute Bazel binary built on Windows"
### Description of the problem / feature request:

I built a devbazel on Windows with Bazel 0.17.1rc1, but the resulting binary cannot be executed.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Building at 4d1d0b50ff2c4a789f715a12fb4bafe52d710f30

[code]

### What operating system are you running Bazel on?

Windows 10.

### What's

[2018-08-31 20:13] jin commented on #6053
@laszlocsomor @meteorcloudy did I miss a setup step somewhere?

[2018-08-31 20:15] jin commented on #6051
cc @spomorski

[2018-08-31 20:17] jin commented on #6053
Ah.. maybe this line has something to do with it?

[code]

[2018-08-31 21:53] laurentlb commented on #6016
The value you want to expose is just in the workspace files, right?
@aehlig knows better than me. Option 2 looks reasonnable.

(cc @dkelmer)

[2018-09-01 06:45] davido commented on #6035
I think this is only theoretical problem. I'm not aware of anyone who is passing `--host_javabase=<JDK8>` option. So that I find this announcement in release notes of .0.17.1-rc1 somehow confusing:

[code]

IIUC, the fact that Bazel is using embedded JDK10 (or even switch to using JDK 11 in near future), doesn't matter to us, as long as Bazel@HEAD still producing Java 8 byte code per default.

The

[2018-09-01 07:27] jrn commented on #6027
This is a duplicate of #5888. Please feel free to close it.

[2018-09-01 08:50] jowagner commented on #5599
I applied the patch https://github.com/bazelbuild/bazel/commit/543918dcfd1744422273962eede43dede297e0f5 to bazel-0.16.1-dist.zip and still get the "Illegal reflective access" warning followed by the error in my above comment (this time in "src/java_tools/junitrunner/java/com/google/testing/junit/runner/BUILD:52:1"). While the error may be unrelated to issue #5599, shouldn't the warning go away wit

[2018-09-01 09:15] jowagner commented on #5599
Found issue #6009 that discusses the broken workers. Both warning and error go away when using JDK 8 instead of 11. One should read https://docs.bazel.build/versions/master/install-compile-source.html each time when compiling on a new system.

[2018-09-01 11:02] ittaiz commented on #6016
in the external repositories area yes (it will be exposed on the `repository_ctx` of repository rules).
Thanks!
@aehlig can you expose it? If not I'd appreciate a pointer or two

[2018-09-01 13:46] Yannic opened #6054 "heap-use-after-free of system_bazelrc_path"
### Description of the problem / feature request:

Running `//src/test/cpp:rc_file_test` on mac with ASAN enabled finds error.
This was introduced in bccf9c63ff0863e3ffb4fb24085a37a03db10aaa.
cc: @cvcal

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

`bazel test //src/test/cpp:rc_file_test --copt="-fsanitize=address" --linkopt="-fsa

[2018-09-01 19:30] ittaiz opened #6056 "Too many unrelated "xcode version must be specified" errors"
### Description of the problem / feature request:
I've been working the past few days on rules_scala and its toolchain and I got several times the following message:
[code]
rules_scala has no c/cpp code of itself but maybe the toolchain triggers something.
Additionally I did not change anything about my Xcode version and in fact I'm pretty certain it's not fully installed since when I open the app

[2018-09-01 19:59] cushon commented on #6053
I think this is the same issue as #4096.

It looks like the build recovered from that and still succeeded, which is consistent with the other bug:

[code]

The principled solution to this was blocked on deferred param files, which are now available, so we can make sure header compilation actions are always using params files for command lines that exceed platform-specific limits.

[2018-09-01 21:37] cushon commented on #6035
Yes, explicitly configuring `host_javabase=<jdk8>` but using the default `java_toolchain` no longer works.

I haven't seen a lot of use-cases that aren't met by the default toolchain and where `host_javabase=<jdk8>` is a hard requirement. But in general I don't think we have good data on the usage of particular Java toolchain features, so it's hard to say.

Not particularly. The default toolchain

[2018-09-02 02:31] nelhage commented on #1653
This no longer crashes with the Starlark rules, but it still fails during extraction:

I thought I could work around with `patch_cmds = ["rm -rf tests"]` but it appears to not even make it as far as running that command.

[2018-09-02 03:10] ittaiz commented on #6035
Is this from 0.16.x? I think this is blocking our upgrade. We’re on 0.15.2
and are seeing an error with “-Xbootclasspath/p is no longer a supported
option”.
I might be wrong since I haven’t had to dive to the error or this issue.
I’ll try the workaround and update.
On Sun, 2 Sep 2018 at 0:37 Liam Miller-Cushon <notifications@github.com>
wrote:

[2018-09-02 03:48] cushon commented on #6035
@ittaiz the issue described in the original comment affects 0.17rc1. Can you report the problem you're experiencing separately and include a way to reproduce it?

[2018-09-02 17:46] galshulkind opened #6058 "Passing the same optimization flag twice causes a rebuild"
### Description of the problem / feature request:
Passing the same optimization flag twice will trigger a rebuild.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

bazel build //... --copt=-O3
and then
bazel build //... --copt=-O3 --copt=-O3
will cause a rebuild.

[2018-09-02 18:38] davido commented on #6035
"""
The default java_toolchain no longer supports using JDK 8 as a --host_javabase. To use JDK 8 as a --host_javabase, also set --host_java_toolchain=@bazel_tools//tools/jdk:to olchain_hostjdk8 --java_toolchain=@bazel_tools//tools/jdk:toolchain_hostjdk8. Note that toolchain_java8 uses VanillaJavaBuilder (which does not support Error Prone, Strict Java Deps, or reduced classpaths) and disables head

[2018-09-02 23:10] benjaminp commented on #6058
Bazel simply passes all the `--copt` flags straight through the compiler. From Bazel's perspective `--copt=-O3` produces a different command line than `--copt=-O3 --copt=--O3`, so a rebuild is required. To do any better, you would have to teach Bazel about the semantic interpretation of compiler flags. That seems like a bad idea.

[2018-09-03 03:31] BrentDouglas opened #6060 "0.16.1 javac cannot find nashorn symbols"
### Description of the problem / feature request:

Updating bazel from 0.16.0 to 0.16.1 causes java_library rules using classes from jdk.nashorn.api.scripting to fail to compile with the error `error: package jdk.nashorn.api.scripting does not exist`

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

This repo has a minimal test that s

[2018-09-03 04:13] davido commented on #6060
I  can build your reproducer on Bazel 0.16.1, 0.17-rc1 and Bazel @HEAD (c8e679617c425ad4ac5901bc2c80273e3dcf6dc2) without any issue (on openSUSE Linux). The problem should be on your side.

Moreover, trying to run your example (you missed to add `java_binary`, that I fixed) revealed that `console.log` didn't work. I know nothing about rhino/nashorn JS engines in JDK, but this SO question provided

[2018-09-03 05:30] BrentDouglas commented on #6060
On my laptop it compiles correctly for every dev build I've done (building `bazel build //src:bazel-bin` from all the commits I tried it at), it compiles correctly from a release build (I'm just running `./compile.sh`) of https://github.com/bazelbuild/bazel/releases/download/0.16.0/bazel-0.16.0-dist.zip, and it consistently fails to compile using a version built from https://github.com/bazelbuild/

[2018-09-03 07:29] laszlocsomor commented on #6048
@ale64bit : Could you show us a simple example project to repro this issue? Your report suggests you're running a C++ binary from a Python binary, but a concrete example to repro the problem would help us help you. It could indeed be important that your Windows uses RU locale, thanks for mentioning that.

[2018-09-03 07:52] meteorcloudy commented on #6053
@jin I think this is a protobuf bug with Visual Studio 2017
See https://github.com/protocolbuffers/protobuf/issues/4773

[2018-09-03 07:54] meteorcloudy commented on #6053
We should update protobuf version to 3.6.1 to fix this issue

[2018-09-03 09:03] laszlocsomor opened #6061 "Update Protobuf to 3.6.1"
### Description of the problem / feature request:

Please update Bazel's Protocol Buffer version to 3.6.1

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

This is breaking Bazel at HEAD when built with Visual C++ 2017 on Windows.

See https://github.com/bazelbuild/bazel/issues/6053#issuecomment-418031872.

### What operating system a

[2018-09-03 09:42] #4664 closed

[2018-09-03 09:58] laurentlb opened #6062 "Bootstrap test with --all_incompatible_changes"
We need a test to ensure that Bazel can bootstrap itself using `--all_incompatible_changes`.

[2018-09-03 10:32] laszlocsomor commented on #5669
0.16.1 is released so I'm closing the issue.

[2018-09-03 10:32] #5669 closed

[2018-09-03 11:05] ilya-biryukov commented on #5634
+1 to fixing this. This blocks using non-standard toolchains with bazel.
E.g. in our experiments with downloading a toolchain on-the-fly in Tensorflow, we can't currently use the LLD linker from the downloaded package, because -B flag is added by bazel and can't be overriden (so we end up picking LLD in /usr/bin/ if it's installed).

My intuition is that there should be a fix for https://github.co

[2018-09-03 13:31] buchgr commented on #6061
Why am I assigned to this @laszlocsomor?

[2018-09-03 13:33] laszlocsomor commented on #6061
IIRC you updated Protobuf in the past. If so, you have domain expertise. Am I confusing it with gRPC though?

[2018-09-03 13:42] irengrig commented on #5806
This might be relevant: https://stackoverflow.com/questions/11671009/dwarf-error-wrong-version-in-compilation-unit-header-is-4-should-be-2

[2018-09-03 13:45] buchgr commented on #6061
I have, so have other people. I currently have multiple P1s I am working on and don't have time to update protobuf anytime soon. There's a detailed description on how to update protobuf here: https://github.com/bazelbuild/bazel/tree/master/third_party/protobuf

[2018-09-03 13:55] irengrig commented on #5802
cc @serynth

[2018-09-03 13:59] laszlocsomor commented on #6061
Thanks for the info. Let me take a look.

[2018-09-03 14:04] philwo opened #6064 "test_cache_computed_file_digests_behavior is flaky"
The test flaked during my presubmit and worked when I retried the job:
https://buildkite.com/bazel/google-bazel-presubmit/builds/8480#f3dd7f80-97f2-4704-8dc8-9fe1e693c944

Here are the errors and logs:
https://storage.googleapis.com/bazel-buildkite-artifacts/f3dd7f80-97f2-4704-8dc8-9fe1e693c944/src/test/shell/integration/execution_phase_tests/attempt_1.log
test_cache_computed_file_digests_behavior

[2018-09-03 14:09] filipesilva commented on #5926
I can confirm that using `--experimental_enable_runfiles` as implemented in https://github.com/bazelbuild/bazel/pull/6024 addresses this problem.

However, the `RUNFILES_MANIFEST_ONLY` environment variable was still set to `1`, where it should be set to `0` (or not present) is the symlinks are available.

[2018-09-03 14:45] mhlopko commented on #5963
It's actually awesome, because I can finish my incompatible flags cls :)))

[2018-09-03 14:46] philwo commented on #5971
I've committed a change that disables this behavior in 0.17 to give users time to upgrade their code in case this would break them.

It can be enabled in 0.17 via the flag --incompatible_symlinked_sandbox_expands_tree_artifacts_in_runfiles_tree and will probably become the default in 0.18 if we don't hear about performance issues or other problems. :)

[2018-09-03 15:19] ale64bit commented on #6048
https://github.com/ale64bit/repro6048

### Windows

When running `bazel run app:main` I get:
[code]
The file can be actually found at:
[code]

Other details:

- project is stored at `D:\Work\Repos\repro6048`.
- running from MSYS2.

### Ubuntu

When running `bazel run app:main` I get:
[code]
The file can be actually found at:
[code]

[2018-09-03 15:42] laurentlb commented on #5059
To summarize, here's the current list of cherrypicks:
https://github.com/bazelbuild/bazel/commit/0e0462589528154cb5160411991075a2000b5452
https://github.com/bazelbuild/bazel/commit/3987300d6651cf0e6e91b395696afac6913a7d66
https://github.com/bazelbuild/bazel/commit/438b2773b8c019afa46be470b90bcf70ede7f2ef
https://github.com/bazelbuild/bazel/commit/2147666fa2750b4999fff763f6e4e3d016d6cc9e
https://gi

[2018-09-03 15:42] laurentlb commented on #5971
Thanks!
Added to the cherrypick list.

[2018-09-03 15:42] #5971 closed

[2018-09-03 16:29] laszlocsomor commented on #5963
Potential blocker: https://github.com/bazelbuild/bazel/issues/6061
(Need to verify if 0.18.* is affected or whether the bug is a regression.)

[2018-09-03 21:13] cushon commented on #6035
Thanks, that was a typo: I meant `toolchain_hostjdk8`.

[2018-09-04 00:40] hsyed opened #6067 "Running java_test against the host JDK."
The Kotlin builder has tests that need to be run against the embedded host JDK. They are currently executing against jdk8 and this is making it quite hard to debug issues.

It's not clear to me how I could do with `java_test`. I have tried the following:

[code]

[2018-09-04 03:35] pauldraper commented on #2832
Because that would be really easy to mess up. Who would start it? Who would stop it? Who would check to see if files have changed?

Lucid Software has seen a massive memory regression in transitioning from sbt (Scala) to Bazel. sbt used a single JVM process, and so it could JIT the Scala compiler once and have reasonable memory overhead. Then Bazel says, "Hey, if you want the same performance you

[2018-09-04 03:51] BrentDouglas commented on #6060
I did a bit of digging today into why `nashorn.jar` is not available and afaict nothing in `jre/lib/ext` is available for me in 0.16.1. I didn't really have time to work out how `platformclasspath` is meant to get access to it when generating the combined jar but at least on my system it doesn't seem to have it. Adding `extclasspath` back to `toolchain_hostjdk8` makes this work for me though I ass

[2018-09-04 04:51] cushon commented on #5961
[JDK-8209865](https://bugs.openjdk.java.net/browse/JDK-8209865) remains unfixed, but 3987300d6651cf0e6e91b395696afac6913a7d66 works around it by not using the flag.

[2018-09-04 05:53] davido commented on #5961
Thanks, @laurentlb cherry-picked 3987300 in upcoming 0.17.0 release so that it's fine to close this issue.

[2018-09-04 05:53] #5961 closed

[2018-09-04 05:54] davido commented on #6035
Indeed, that would be much more clearer.

[2018-09-04 06:02] davido commented on #5961
Could you clarify how the mentioned workaround is able to produce JDK 8 (or JDK 9) byte code using embedded JDK10, without using `--release 8|9` flag?

[2018-09-04 08:58] buchgr commented on #2832
For compilers that don't supported multi-threaded compilation it should neither be a win nor a miss. I remember talking to @philwo offline and I believe we agreed that it's a good idea to support your use case. Would you be interested in working on this @pauldraper ?

[2018-09-04 09:03] buchgr commented on #6038
I investigated this a while back and found the following:
1) The `no-cache` tag doesn't work for at least Java and C++ rules, in that the actions of these rules just don't pass it through.
2) It's implemented for tests independent of the language.
3) It works for all rules written in skylark.

Fixing this issue is not difficult but lots of work to find all the places in the code where the no-cache

[2018-09-04 09:52] #5926 closed

[2018-09-04 11:45] laszlocsomor opened #6071 "Bazel client: implement Path abstraction"
### Description of the problem / feature request:

Implement a `Path` abstraction for normalized, OS-native paths.

### Feature requests: what underlying problem are you trying to solve with this feature?

This class will:
- ensure that all paths in the client are normalized and follow the host OS' semantics
- provide more type safety over raw strings
- be used in other C++ projects such as `//src

[2018-09-04 11:47] #5952 closed

[2018-09-04 11:49] #4965 closed

[2018-09-04 12:34] mhlopko opened #6072 "Stop loading packages in CppConfiguration"
Tracking the effort to finally remove package loading from CppConfigurationLoader and CppConfiguration.

[2018-09-04 13:15] ittaiz commented on #6016
@aehlig ping

[2018-09-04 14:06] pauldraper commented on #2832
That's true. Say, Node.js-based compilers.

I'm no longer working with this, but @jjudd may be interested.

[2018-09-04 14:53] jin commented on #6053
Thanks for the quick fix! Now I'm running into this issue:

[code]

[2018-09-04 14:55] laszlocsomor commented on #6053
Protobuf is not yet updated in upstream Bazel. Did you patch in https://github.com/bazelbuild/bazel/pull/6065 and https://github.com/bazelbuild/bazel/pull/6068 ?

The problem you just described was fixed upstream by https://github.com/bazelbuild/bazel/commit/ea642d664608b1cce5b826862a62f29f23813217

[2018-09-04 14:56] laszlocsomor commented on #6053
(FYI, https://github.com/bazelbuild/bazel/commit/ea642d664608b1cce5b826862a62f29f23813217 depends on https://github.com/bazelbuild/bazel/commit/131e31ccff49094a6112e50f6cd77bdab965fdec.)

[2018-09-04 14:58] jin commented on #6053
Ah, I missed #6068 - sorry for the noise!

On Tue, Sep 4, 2018 at 10:56 AM László Csomor <notifications@github.com>
wrote:

[2018-09-04 15:07] tetromino commented on #6056
We have also encountered this problem internally on some users' macs, and there seem to be several mechanisms that can trigger it. We don't have a good solution yet.

If you see the error again, could you please upload your java.log?

Also, which version(s) of XCode command line tools do you have installed, and where? (see `xcode-select -p`, `which clang`, and `clang --version` from the command li

[2018-09-04 15:37] galshulkind commented on #6058
Thanks @benjaminp for the explanation.

[2018-09-04 15:37] #6058 closed

[2018-09-04 16:12] cushon commented on #5961
`-source`/`-target`/`-bootclasspath` are still supported and allow targeting the Java 8 (or 9) language level, and using them instead of `--release` avoids [JDK-8209865](https://bugs.openjdk.java.net/browse/JDK-8209865).

[2018-09-04 16:48] jjudd commented on #2832
We are definitely interested in this. Launching lots of JVMs consumes lots of resources.

I'm not sure when we will have time to work on it, but it is something we are interested in.

@buchgr do you have a ballpark estimate of how large of an effort you think developing this would be? I lack enough context on the Bazel codebase to effectively tell if it is a 2 day, 2 week, or 2 month effort.

[2018-09-04 17:03] laurentlb commented on #6018
Interesting question. This seems similar to the recent Build Server Protocol (https://www.scala-lang.org/blog/2018/06/15/bsp.html - https://github.com/scalacenter/bsp/blob/master/docs/bsp.md), right? In the protocol, there's PublishDiagnosticsParams which is basically structured compiler output.

[2018-09-04 17:14] laurentlb commented on #5995
Since `aspect2` needs the value from `aspect1`, it seems normal that `aspect2` must be applied after `aspect1`. Did I miss something?

[2018-09-04 17:40] buchgr commented on #2832
As the original author of the workers feature @philwo would be able to answer this question best and provide guidance.

[2018-09-04 17:51] jmmv commented on #6064
Haven't been able to reproduce locally with 100 runs yet, on macOS.

`assert_cache_stats` looks suspicious. I think there is a missing `| tail -n1` after the call to `grep`, but that wouldn't explain this failure based on these logs (in fact, this makes the test less strict than it should be).

[2018-09-04 18:03] jin commented on #2832
/sub

[2018-09-04 18:04] endobson commented on #5995
I didn't have any expectation that the order of the supplied aspects is relevant to how they are applied. In particular I assumed that they are applied in parallel unless `required_aspect_providers` made a particular order better.

From the docs:
https://docs.bazel.build/versions/master/skylark/lib/attr.html#label_list
Aspects that should be applied to the dependency or dependencies specified by t

[2018-09-04 18:24] Yannic opened #6076 "Build of root workspace with external name fails because Bazel walks into /bazel-*"
### Description of the problem / feature request:

Build of root workspace with external name fails because Bazel walks into `/bazel-*`.

[code]

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

- Clone `https://github.com/Yannic/bazel_walk_error.git` and `cd` into workspace.
- run `bazel build //... @bazel_walk_error//...` and wait u

[2018-09-04 18:51] #6039 closed

[2018-09-04 19:13] ob commented on #3229
@dmishe I just tried this with Bazel 0.16.1 and it doesn't work. I tested with https://github.com/ob/bazel-tests/ where I expected that building `dep` would include `trans_dep` in the compilation command line as `-fmodule-map-file=...trans_dep.modulemap`. It doesn't :-(

[2018-09-04 19:57] pauldraper commented on #4772
@laurentlb I love those ideas in theory.

I'd love those ideas in practice....if you could get the rules in Bazel core to follow them. (e.g. strict java deps).

[2018-09-04 20:03] davido commented on #6010
@cushon Has something changed on Bazel@HEAD (8f0d73a648ab1abbbb38c1aee465661d5d403ac0)?

Trying to replicate the EP warnings, with my custom toolchain from https://gerrit-review.googlesource.com/c/gerrit/+/194045 that was merged in gerrit, i'm first getting this error:

[code]

And after fixing it as suggested:

[code]

And running build with custom toolchain, I only see a couple of EP warning, wi

[2018-09-04 20:09] ittaiz commented on #6056
`/Applications/Xcode.app/Contents/Developer`
`/usr/bin/clang`
[code]
where is the java.log?

[2018-09-04 20:10] jin commented on #903
@jgavris sorry I missed this. The Android rules are undergoing a complete rewrite into Skylark, landing in https://github.com/bazelbuild/rules_android

Once the rules are in Skylark, we'll be able to iterate on them to add new features like coverage.

[2018-09-04 20:11] ittaiz commented on #6056
also, may I ask why you think this is P3? Having to do bazel clean expunge periodically sounds like it should be P1

[2018-09-04 20:12] davido commented on #6010
I can confirm, that when building gerrit master with Bazel 0.16.1 release, I'm getting dozen of EP warnings: [1]:

[code]

And when building from Bazel@HEAD: I only getting very few EP warnings on exactly the same gerrit code (with the amended bootclasspath to `@bazel_tools//tools/jdk:platformclasspath8.jar` as mentioned above):

[code]

Any clue what is going on here?

* [1] http://paste.openstac

[2018-09-04 20:38] davido commented on #6010
I think it's related to revert of JDK10 javac in 12dcd35ef7a26d690589b0fbefb1f20090cbfe15. If I revert this change on bazel@HEAD, I see all warnings as in 0.16.1.

[2018-09-04 20:59] davido opened #6077 "No error prone warnings reported on Bazel@HEAD"
Building with all Error Prone warnings activated on Bazel@HEAD (8f0d73a648ab1abbbb38c1aee465661d5d403ac0) producing almost no warnings. This change seems to be related: 12dcd35ef7a26d690589b0fbefb1f20090cbfe15. When reverted, I see dozen of warnings: [1].

Reproducer: clone [Gerrit](https://gerrit.googlesource.com/gerrit) and run:

[code]

[1] http://paste.openstack.org/show/729447

//CC @cushon

[2018-09-04 21:05] jin commented on #5332
Implemented by @rishacha.

[2018-09-04 21:05] #5332 closed

[2018-09-05 02:05] therc opened #6079 "account empty sh_test for execution time of genrule doing its actual work"
### Description of the problem / feature request:

I have an empty sh_test that wraps a genrule which does the real work. Running the test takes 0.1 seconds, but that's misleading, because the genrule, which actually runs a py_binary, takes longer.

### Feature requests: what underlying problem are you trying to solve with this feature?

I want to time the actual time spent running the real test.

[2018-09-05 03:30] cushon commented on #6010
I'll respond in #6077, thanks for raising this issue.

[2018-09-05 03:30] #6010 closed

[2018-09-05 03:31] cushon commented on #6077
Internally javac is logging a large number of warnings because the class file version in the bootclasspath jar exceeds the highest version supported by the compiler, which we're filtering out in JavaBuilder:

[code]

I believe those warnings are harmless: the `--release` machinery we're using to get a JDK 8 API uses v54 class files for the stub class files, but they're still the JDK 8 versions of

[2018-09-05 03:38] cushon commented on #6077
@lberki the TL;DR is that 12dcd35ef7a26d690589b0fbefb1f20090cbfe15 causes javac compilation warnings to sometimes get dropped from build output, especially for large compilations.

I see a few options:

* fix this after 0.17
* try the `-Xmaxwarns <large number>` work-around, which should be harmless aside from potentially resulting in build log spam if a compilation produces a huge number of 'real

[2018-09-05 03:53] benjaminp commented on #6079
Why does your example require a genrule? It seems like it should suffice to set `@local_pylint_config//:pylint` as in the `data` attribute of the `sh_test` and then invoke lint in the test.

[2018-09-05 04:26] davido commented on #6077
@lberki May be I'm not seeing the whole picture here, but I don't understand why 12dcd35 was reverted, especially shortly before releasing 0.17. Can you elaborate? The commit message is also very short.

[2018-09-05 04:49] endobson commented on #6018
That seems very similar. One issue is that it doesn't include any method for extension that I can find. In particular all it seems to allow for enough structure so that an IDE can show the message but not enough for a compiler to encode suggested fixes (e.g. it looks like there is no variable name "indxe" did you mean "index", and have encoded a suggested delta to the source file).

[2018-09-05 05:04] endobson opened #6080 "required_aspect_providers doesn't actually make things required"
### Description of the problem / feature request:

https://docs.bazel.build/versions/master/skylark/lib/globals.html#aspect
required_aspect_providers is an argument to `aspect` that controls what providers of other aspects that are being applied to dependencies are made available to this aspect. The name makes it sound like if these cannot be found then it is an error because they are *required* b

[2018-09-05 05:05] endobson commented on #5995
Filed #6080 for the required issue.

[2018-09-05 07:05] laszlocsomor commented on #5059
Confirmed: https://github.com/bazelbuild/bazel/issues/6061 is a blocker. (Release 0.16.1 shipped with Protobuf 3.4.0, the 0.17.* release candidates with Protobuf 3.6.0 which contains a bug.)

[2018-09-05 07:42] lberki commented on #6079
This is working as intended; Bazel cannot know whether the actions that are not the test action should be accounted for the test and adding functionality to tell Bazel this doesn't sound like good design.

If you want information about actions in your build that are not a test action, use `bazel test --profile` and `bazel analyze-profile`. If you tell us why you think it's useful to split the test

[2018-09-05 07:42] #6079 closed

[2018-09-05 08:35] laszlocsomor commented on #4802
Thanks @alexeagle  and @enriched , I'll lower the priority.

[2018-09-05 09:03] laszlocsomor commented on #5802
Thank you for the detailed explanation!

The simpler approach is symptomatic treatment, but better than none. I support following the harder approach: `alias` is handy in the migration scenario you described. In fact I uncovered this bug in such a scenario.

I don't understand why it matters when the `alias` is in a different package than the target. Can you elaborate?

[2018-09-05 10:56] lberki commented on #6077
@davido , we are currently trying to figure out in what state to ship Bazel 0.17 . My initial reaction was that let's roll back the javac upgrade so that we have one less change to worry about, but then this bug happened and @cushon informed me about some things that could go wrong with that plan. I'm currently taking stock of the situation.

[2018-09-05 11:01] nesqi commented on #5711
What was the verdict?
Did the dcd7c63d09e12fc3e2a9ca80b1422e4bcdd2740f patch fix this problem?

[2018-09-05 11:50] laurentlb commented on #6061
If there's a cherrypick request, please add it to the release thread (https://github.com/bazelbuild/bazel/issues/5059).

[2018-09-05 11:58] laszlocsomor commented on #5059
Please cherrypick: https://github.com/bazelbuild/bazel/commit/22d761ab42dfb1b131f1facbf490ccdb6c17b89c
https://github.com/bazelbuild/bazel/commit/27303d79c38f2bfa3b64ee7cd7a6ef03a9a87842
https://github.com/bazelbuild/bazel/commit/ddc97ed6b0367eb443e3e09a28d10e65179616ab

to fix https://github.com/bazelbuild/bazel/issues/6061 (and transitively https://github.com/bazelbuild/bazel/issues/6053).

[2018-09-05 12:09] laszlocsomor commented on #5059
We need one more cherrypick, because https://github.com/bazelbuild/bazel/commit/27303d79c38f2bfa3b64ee7cd7a6ef03a9a87842 should have been imported but it wasn't. @mhlopko is preparing a fix. Stay tuned.

[2018-09-05 13:42] serynth commented on #5802
Unrelated to aliases, the conditions for printing deprecations are:
* Depending rule is not an aspect
* Dependency has a deprecation warning
* Dependency is not in the same logical package (special case: java/foo and javatests/foo are considered the same logical package) as depending rule
* Depending rule does not have a deprecation warning

As far as I can tell, aliases themselves still follow th

[2018-09-05 13:44] laszlocsomor commented on #5802
I see. I was unaware Bazel suppressed deprecation warnings for intra-package dependencies.

[2018-09-05 14:19] helenalt commented on #2765
@philwo please triage/respond

[2018-09-05 14:19] filipesilva commented on #6053
@laszlocsomor I just tried building master on windows (HEAD at https://github.com/bazelbuild/bazel/commit/5939235972c6d08e67d25157ea8b9004ad87cafa) and got the same error as @jin:

[code]

[2018-09-05 14:19] sergiocampama commented on #6056
can you provide the output of this command?

`cat $(bazel info execution_root)/external/local_config_xcode/BUILD`

[2018-09-05 14:55] ahippler opened #6084 "windows sh_test args with quotes broken"
### Description of the problem / feature request:

test.sh:
[code]

BUILD.bazel:
[code]

prints different output on unix and windows.

windows: `args: 'foo' 'foo' 'bar' 'foo'`
unix. `args: 'foo' 'foo bar' 'bar'`
### Feature requests: what underlying problem are you trying to solve with this feature?

the quotes are ignored on windows

[2018-09-05 15:04] laszlocsomor commented on #6053
@filipesilva : You probably need to `bazel clean`. `bazel-out/x64_windows-fastbuild/genfiles/tools/cpp/runfiles/runfiles.h` is a stale output from an older build.

[2018-09-05 15:05] laszlocsomor commented on #6053
...but given that sandboxing is not supported on Windows and all actions run non-sandboxed (under the execution root) the compilation action for `@bazel_tools//tools/cpp/runfiles` mistakenly picks up this stale header file.

[2018-09-05 15:07] laszlocsomor commented on #5059
Please also cherry-pick https://github.com/bazelbuild/bazel/commit/ead1002d3803fdfd4ac68b4b4872076b19d511a2. There's a chance that it will be an empty cherry-pick, because this commit is replicating parts of https://github.com/bazelbuild/bazel/commit/27303d79c38f2bfa3b64ee7cd7a6ef03a9a87842 (the parts not mirrored in Google's internal version control).

[2018-09-05 15:08] #6061 closed

[2018-09-05 15:08] laszlocsomor commented on #6053
FYI, protobuf is updated to 3.6.1 at HEAD.

[2018-09-05 15:47] cushon commented on #6077
It's not ideal, but we have validated that configuration fairly extensively against our code and I have relatively high confidence in it.

This issue in this bug is kind of a blind spot in that validation, since we don't surface warnings in the build log (Error Prone warnings are integrated into code review instead).

[2018-09-05 16:18] irengrig commented on #6084
Hi @ahippler, looks like single quotes are not used in Windows shell except for some commands:
https://stackoverflow.com/questions/24173825/what-does-single-quote-do-in-windows-batch-files

So this looks unrelated to Bazel.

[2018-09-05 17:03] #2988 closed

[2018-09-05 17:28] steeve commented on #5059
Is it possible to cherry-pick 4a6891f83efc1b1891bc994d53722225e8acdd77 please ? Thanks!

[2018-09-05 17:48] laurentlb commented on #5827
Timeline:
 - New functions added in May 2017 (https://github.com/bazelbuild/bazel/commit/ba51cda99733a9facb9479683755944229f63ee3)
 - Old names officially marked as deprecated in July 2017 (https://github.com/bazelbuild/bazel/commit/286f1e9839f34efc910ce49f040bac23716f8520)
 - Flag to disable the old names added in March 2018 (https://github.com/bazelbuild/bazel/commit/1cbce0fad88d02c76386e8525e03

[2018-09-05 17:52] c-parsons opened #6088 "Remove deprecated file_provider"
file_provider has been around for some time, but is almost completely undocumented.

Instead of rushing to document it, we are considering deprecating it as part of the "[Fixing Starlark Rule Outputs](https://docs.google.com/document/d/14A9HK8Jn2jErMayLEE3nrNJIxNfZWN_slFbhgtS6-aM)" document sent to bazel-dev.

This will track following up specifically making a commitment to deprecate or document f

[2018-09-05 17:55] laurentlb commented on #5059
We do cherrypicks only for regressions. I think this commit will have to wait until Bazel 0.18 (that shouldn't be too much wait since 0.17 is late).

[2018-09-05 18:29] jin commented on #6042
@sunyal aapt supports compiling filenames with multiple periods in the filename, but not aapt2:

[code]

Bazel currently invokes aapt2 with `--legacy` support, which is why we're seeing a "file not found" message instead of the above compilation failure. I'll work on making the error message better.

[2018-09-05 19:13] #5914 closed

[2018-09-05 19:22] hansl opened #6089 "Unhelpful error message when using the wrong sha in http_archive()"
Using the wrong SHA in http_archive() will result in the following message (using rules_nodejs as an example):

[code]

This fails to give me any relevant information to the error. Instead, it gives me actual misinformation (that the zip doesn't contain the prefix, which is wrong).

A better error message would include wording such as "the ZIP downloaded does not match the SHA expected".

[2018-09-05 19:32] ittaiz commented on #6089
This is a duplicate. Don’t remember the other issue but you can search for
it
On Wed, 5 Sep 2018 at 22:22 Hans <notifications@github.com> wrote:

[2018-09-05 20:16] speakmore commented on #5711
Which release version will include this fix (dcd7c63)?

[2018-09-05 20:43] irengrig commented on #6084
Thanks for the explanation.
I think that you should use the Starlark list of strings for separation of the parameters (https://docs.bazel.build/versions/master/be/common-definitions.html#test.args), but on the Bazel side yes, the value should be quoted. Seems also that %* is correct value for Windows case: https://ss64.com/nt/syntax-args.html

[2018-09-05 20:53] irengrig commented on #6089
Hi! Thank you for reporting the issue.
Actually the message that you copied complains about wrong prefix:
"ERROR: error loading package '': Encountered error while reading extension file 'internal/common/check_version.bzl': no such package '@build_bazel_rules_nodejs//internal/common': Prefix rules_nodejs-0.12.2 was given, but not found in the zip"
and not about the SHA, seems the SHA was correct (

[2018-09-05 21:38] irengrig commented on #6089
Can not reproduce that. I tried to change the SHA in my example to incorrect value and it complains about SHA. Can you provide more information? Thank you.

[2018-09-05 23:52] ale64bit commented on #6048
Yep, that fixes it in Windows and Ubuntu :) thanks for the help and feel free to close.

Where can I find documentation about the right usage of `Rlocation` and about the `workspace` rule?

[2018-09-06 04:30] endobson opened #6090 "Errors loading package don't specify the problematic file"
### Description of the problem / feature request:

Source:
https://github.com/endobson/examples/tree/bazel-package-error

[code]

A broken load statement doesn't include the location of the load statement other than the package that initiated the load. Because a package can load a `.bzl` file and that can transitively load more, it is not very clear where the broken load statement is. I think that

[2018-09-06 06:10] ittaiz commented on #5059
When is RC2 planned? We've had several releases which had 6-7 RCs

[2018-09-06 07:19] laszlocsomor commented on #6084
https://github.com/bazelbuild/bazel/pull/6083 fixes this issue.

[2018-09-06 08:38] Globegitter commented on #6089
I imagine that probably a valid sha was entered of an archive that existed in the cache, so bazel loaded that but the contents did not match. As far as I am aware @aehlig is doing work on that topic, that bazel actually verifies the sha of remote repositories and does not just rely on the one specified.

[2018-09-06 09:28] PaulSonOfLars opened #6091 "Jobs generating large amounts of files drastically slow down building with remote cache."
### Description of the problem / feature request:

Building the go standard library with remote caching enabled is considerably slower than building locally.

IRL discussion with @buchgr resulted in the conclusion that the contents of the standard library were uploaded serially within Bazel, which lead to major performance decreases.
It was noted that some concurrency is present for the rest of th

[2018-09-06 13:35] #5289 closed

[2018-09-06 14:49] #6084 closed

[2018-09-06 14:53] laszlocsomor commented on #5966
Hi @AnnieYim , did @meteorcloudy 's suggestion (to use `-c opt` instead of `-c dbg`) solve this issue? Can we close this bug?

[2018-09-06 14:55] laszlocsomor commented on #6071
I spent a good afternoon prototyping this change and realized that paths are even more widely used in the Bazel client than I expected. This won't be an easy task. Since there are no immediate bugs I'm aware of that'd be caused by the lack of this feature, I'm lowering the priority for now.

[2018-09-06 15:52] laurentlb commented on #5995
@c-parsons Can you take a look, and triage both this and #6080?

[2018-09-06 15:54] Profpatsch opened #6093 "`bazel test` cannot find the `MANIFEST` file"
With `bazel 0.17rc1` on `GNU/systemd/Linux 4.14`:

*Please take a moment to look at the repro here: https://github.com/Profpatsch/repros/tree/master/bazel-test-manifest-not-found*

## Repro Description:

Running it works as expected:

[code]

But when actually running the target as a test:

[code]

Which means the environment variable is not set correctly inside of `bazel test`.

## Discussion

As

[2018-09-06 16:07] AnnieYim commented on #5966
I have solved my problem, @meteorcloudy  thanks for your suggestion and sorry for late response.

[2018-09-06 16:07] #5966 closed

[2018-09-06 16:09] mhlopko commented on #6052
Bazel gets the .d information from the compiler and doesn't trigger recompilation if the header was not used in the previous run. If you change your code and use the header in main.cpp, then everything works like expected.

[2018-09-06 16:13] mhlopko commented on #5968
Should be fixed by https://github.com/bazelbuild/bazel/commit/c3a08780f72727025c37a56c593a6eb379b07f99. Please shout if it's not true :)

[2018-09-06 16:13] #5968 closed

[2018-09-06 16:18] iirina commented on #4821
I'm trying to understand the situation here.

@ittaiz How are you currently using `--strict_java_deps` in rules_scala? I was curious about two things: 1. How does the overload of the off/default values impact the interaction with the java rules? Do you pass a different value (error?) to java_common.compile when the flag value is off/default?
2. Do you have a similar SJD plugin that interacts with

[2018-09-06 16:19] mhlopko commented on #5920
I'll accept a PR that will add this extension to https://source.bazel.build/bazel/+/master:src/main/java/com/google/devtools/build/lib/rules/cpp/ArtifactCategory.java;l=30?q=getAllowedExtensions&ss=bazel and a test here https://source.bazel.build/bazel/+/6488dd3c9d2b2c703a6fe24b083bf07d975ff46b:src/test/java/com/google/devtools/build/lib/rules/cpp/CcLibraryConfiguredTargetTest.java :)

[2018-09-06 17:10] #6042 closed

[2018-09-06 17:33] ttsugriy opened #6095 "struct accepts keys that are not valid identifier names."
### Description of the problem / feature request:

I have recently discovered that some of the struct usages in our codebase had keys containing dots (say foo.bar), which means that the only way to access it is via getattr function.

Overall, struct looks similar to Python's namedtuple and its behavior seems more appropriate:
[code]
or in Python 3
[code]

The only reason I can think of for allowin

[2018-09-06 18:09] ZacVawterKodiak commented on #6052
@mhlopko how do I get the '.d information' from the compiler?  I changed the example to use a variable from the header, and the problem still exists.

Changing main.cpp to print `bar` and the bug exhibits.
[broken_with_usage_of_library_variable.zip](https://github.com/bazelbuild/bazel/files/2358240/broken_with_usage_of_library_variable.zip)

[code]

[2018-09-06 20:50] ZacVawterKodiak commented on #6052
I'm not sure exactly which flags bazel is using to generate the dependency listing, but on both the original 'broken.zip' and the updated one running `cc -M main.cpp`, changling.h is included in the dependency list:
[code]

Is there a way to see the command bazel is using to generate the dependency list as some verbose output  (I am familiar with `-s` but that is only for actions that are executed

[2018-09-06 21:15] brandjon commented on #1446
I've been looking at Python 2 vs 3 versioning issues lately and expect to have a simple fix shortly for this kind of spurious and annoying error. Let me recap what's happening here.

The purpose of `srcs_version` is to annotate what major versions of Python your src files are compatible with. Today this attribute is *not* used to actually select what mode to build in. It'll just raise an error if

[2018-09-06 21:27] #5765 closed

[2018-09-06 23:32] benjaminp commented on #5827
I hope major Bazel-using packages will release fixed versions before this deprecation is finished. The latest release of protobuf is still using `PACKAGE_NAME`, though it has been fixed on master.

[2018-09-06 23:40] ZacVawterKodiak commented on #6052
Running `bazel build ... --sandbox_debug`, I get "0d78b60f575cc34d2631e0a55e2f04d9" for my bazel cache, then search for `main.*d` and find: `.cache/bazel/_bazel_zac/0d78b60f575cc34d2631e0a55e2f04d9/execroot/__main__/bazel-out/k8-fastbuild/bin/_objs/broken/main.pic.d`

cat of ^ file does contain `changling.h`:
[code]

[2018-09-07 01:42] leighst commented on #4343
We'd love to see some traction on this. We have to jump through some serious hoops right now to get caching to work well for us.

[2018-09-07 08:41] mhlopko commented on #5059
Please consider cherrypicking fa2d3f60f5cce16e414aa843b26f379a72b8f7b0. It fixes a bug released in 0.10. More context: https://groups.google.com/forum/#!topic/bazel-discuss/NciKWGqdPzM

[2018-09-07 09:08] lberki opened #6098 "Rollback to JDK 9 breaks tests relying on `java.log`"
In particular, `test_cache_computed_file_digests_behavior` and `test_log_file_uses_single_line_formatter`.

Disabling these for now. It seems to be a fallout of the revamp of the server logging infrastructure.

[2018-09-07 09:11] lberki commented on #6098
/cc @tetromino @laszlocsomor

[2018-09-07 09:11] lberki commented on #6098
/cc @cushon @laurentlb @philwo

[2018-09-07 09:41] laszlocsomor commented on #6098
Apparently bazel built off HEAD does not write `$(bazel info output_base)/java.log` on Windows. I'm debugging now why.

[2018-09-07 09:42] laszlocsomor commented on #6098
repro branch: https://github.com/laszlocsomor/bazel/tree/lukacs-experimental and https://github.com/laszlocsomor/bazel/commit/102b615b4eeb7a7d51f26c6f6e0442482a4f1c0e

[2018-09-07 09:43] philwo commented on #6098
Ah - interesting. Sorry about the wrong link to #6064! This indeed looks like a different issue.

[2018-09-07 11:04] #6035 closed

[2018-09-07 11:07] laurentlb commented on #6090
Duplicate with https://github.com/bazelbuild/bazel/issues/4100

[2018-09-07 11:07] #6090 closed

[2018-09-07 11:19] lberki commented on #5059
Please cherrypick these changes:

https://github.com/bazelbuild/bazel/commit/12dcd35ef7a26d690589b0fbefb1f20090cbfe15
https://github.com/bazelbuild/bazel/commit/7eb9ea150fb889a93908d96896db77d5658e5005
https://github.com/bazelbuild/bazel/commit/4566a428c5317d87940aeacfd65f1018340e52b6
https://github.com/bazelbuild/bazel/commit/1e9f0aa89dad38eeab0bd40e95e689be2ab6e5e5

To revert the embedded JDK an

[2018-09-07 12:31] laurentlb commented on #5059
Release candidate 2 is here: https://releases.bazel.build/0.17.1/rc2/index.html

@ittaiz I was waiting for the JDK fix before creating rc2 (but maybe I should have created it anyway).

[2018-09-07 12:39] laszlocsomor opened #6099 "Windows, Bazel 0.17.0rc2, regression: bazel no longer writes java.log"
### Description of the problem / feature request:

0.17.0 rc2 regression over rc1: Bazel on Windows no longer writes `<output_base>/java.log`.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Build anything with 0.17.0 rc1, then run `bazel info output_base`, list the reported directory, see `java.log` is there.
Do the same with rc2,

[2018-09-07 12:40] laszlocsomor commented on #5059
0.17.0 rc2 regression on Windows: https://github.com/bazelbuild/bazel/issues/6099

[2018-09-07 12:57] philwo commented on #5059
Can we please cherry-pick these two updates for the CI configuration?

- a572c1cbc8c26f625cab6716137e2d57d05cfdf3
- 29f1de099e4f6f0f50986aaa4374fc5fb7744ee8

They are *totally* risk free. ;)

[2018-09-07 12:59] philwo commented on #5059
Also this one for the updated bazel_toolchains repo:

- b495eafdc2ab380afe533514b3bcd7d5b30c9935

Fixes the error "no such package '@bazel_toolchains//configs/ubuntu16_04_clang/1.0/bazel_0.16.1/default': BUILD file not found on package path" on CI.

[2018-09-07 13:55] laurentlb commented on #5059
rc3 created with:
`scripts/release/release.sh create --force_rc=3 $RELEASE_NUMBER` aa118ca818baf722aede0bc48d0a17584fa45b6e 0e04625 3987300 438b277 504401791e0a0e7e3263940e9e127f74956e7806 9ed9d8a 22d761a 27303d7 ddc97ed ead1002 12dcd35 7eb9ea1 4566a42 1e9f0aa a572c1c 29f1de0 b495eaf

It should behave the same as rc2, the changes are just for testing and CI.

https://releases.bazel.build/0.17.1/rc

[2018-09-07 13:55] laszlocsomor commented on #6098
Related: https://github.com/bazelbuild/bazel/issues/6099

[2018-09-07 13:56] laszlocsomor commented on #6099
I found the root cause: similarly to https://github.com/bazelbuild/bazel/issues/2576, it's the java log path. Turns out we must pass the path with escaped backslashes instead of forward slashes. Working on a fix.

[2018-09-07 14:09] brandjon commented on #200
FYI I believe this was fixed and regressed, and is now a dup of #4815.

[2018-09-07 14:12] lberki commented on #6099
How come it worked in 0.17rc1 then?

[2018-09-07 14:27] brandjon commented on #3871
Closing this as dup: Let's use #4815 to track being able to at least run the "python3" command when the mode is set to PY3, and #3517 to track the broader problem of specifying/overriding the particular py2/py3 runtimes used.

[2018-09-07 14:27] #3871 closed

[2018-09-07 14:28] brandjon commented on #4815
A proper solution would probably involve allowing `py_runtime` to be used to specify both py2 and py3 interpreters, and allowing individual `py_binary` rules to declare their runtimes (probably by exposing the hidden [`py_interpreter`](https://github.com/bazelbuild/bazel/blob/0.16.1/src/main/java/com/google/devtools/build/lib/bazel/rules/python/BazelPyRuleClasses.java#L111) attribute).

But in the

[2018-09-07 15:30] laurentlb opened #6101 "0.17.1rc3 fails the test 18.04 (no JDK)"
Test of Bazel 0.17.1rc3:
https://buildkite.com/bazel/bazel-bazel/builds/4403#03954ad5-9c7e-4155-a644-839f8566853f

cc @lberki

[code]

[2018-09-07 15:31] gertvdijk commented on #5059
Was it intended to create a 0.17.**1** RC release? I expected a 0.17.**0** RC3. :smile:

[2018-09-07 15:34] gertvdijk commented on #6020
Confirmed fixed in [0.17.1rc3](https://releases.bazel.build/0.17.1/rc3/index.html). :tada:

[2018-09-07 15:45] laurentlb commented on #5059
Yes. 0.17.0 was abandoned, 0.17.1 was created using a different baseline.

[2018-09-07 15:58] #6098 closed

[2018-09-07 15:58] #6099 closed

[2018-09-07 16:05] c-parsons opened #6102 "Modify SkylarkAnnotationContractTest to verify return types and parameter types"
`SkylarkAnnotationContractTest` uses the full java reflection API to verify contracts of all `@SkylarkCallable` methods in bazel. One such contract is verification that return types and parameter types of such methods are legitimate and match the annotation. The test should verify this.

[2018-09-07 16:19] pauldraper opened #6103 "Add worker TTL option"
Keeping workers is a balance between their startup, memory usage, number of workers, and frequency of use.

Bazel itself has `--max_idle_secs` (default 3 hours). For some workers, it may make sense to have a different value. For example, if you have up to fours workers, they take 3s to start, each consumes 250MB, and you use workers for several other strategies, you will likely want a lower TTL th

[2018-09-07 17:45] cushon commented on #6101
Do we support bootstrapping Bazel without a JDK?

I guess we could use the embedded one, either by downloading it or including it in `bazel-dist.zip`.

[2018-09-07 17:51] cushon commented on #6077
This should have been fixed by 7eb9ea150fb889a93908d96896db77d5658e5005; the `--host_javabase` and javac versions match again.

[2018-09-07 18:29] philwo commented on #6101
AFAIK we don't support that and I would be really surprised if someone expected that to work, but I agree that we could make it work by downloading a suitable OpenJDK automatically. (I wouldn't want to distribute it in bazel-dist.zip, because including one for each platform would blow up the size of that file a lot.)

Regarding the other two failing tests in bazel_java_test, I'm not sure. Would be

[2018-09-07 18:30] philwo commented on #6101
"Failed to jar tf bazel-bin/g/libtest.jar" - maybe it's just trying to run "jar" from a wrong location in these two test cases?

[2018-09-07 18:33] cushon opened #6105 "never use @embedded_jdk for --javabase"
`--javabase` currently defaults to `@embedded_jdk` if we can't find a local JDK (by looking at `JAVA_HOME` and `which javac`):

https://github.com/bazelbuild/bazel/blob/2000cfd764cf2b3b0ec5474a5aeed20c6638c9e6/src/main/java/com/google/devtools/build/lib/packages/WorkspaceFactory.java#L601

As discussed [here](https://groups.google.com/d/topic/bazel-sig-jvm/wA9f-B6Tl5w/discussion) this is a mistake

[2018-09-07 18:35] cushon commented on #6101
Is there a good way to reproduce these failures locally? I guess I can hack up my `PATH` to not include `javac` and unset `JAVA_HOME`?

[2018-09-07 19:02] philwo commented on #6101
@cushon Yes, that should work. Otherwise you could also spawn a simple Ubuntu VM on GCE and try it out there. I'll give you access to our project.

[2018-09-07 19:07] philwo commented on #6101
You should have access to the DI-Cloud-Exp project on https://console.cloud.google.com/ now - feel free to create VMs for testing there if you can't easily repro it on your local machine.

[2018-09-07 19:14] ZacVawterKodiak commented on #6052
Careful inspection of the bazel java.log shows some interesting things.  It suggests that bazel is detecting a modification, but 'building' takes 0.00s.  When I change main.cpp `bazel build ...`, it takes 0.49s.

Snippet from `java.log`:
[code]

[2018-09-07 20:36] cushon commented on #6101
Is there documentation on reproducing CI failures?

I didn't have any luck locally:

[code]

[code]

[2018-09-07 21:35] philwo commented on #6101
There's no specific documentation, but the CI systems aren't really special - they're just a standard Ubuntu system with the packages required by Bazel installed.

Can you try running "bazel clean --expunge" before your "bazel test", just to make sure?

I was able to repro this on my Mac at home by deleting my local JDKs from `/Library/Java/JavaVirtualMachines` and then running:

[code]

I'll also

[2018-09-07 21:50] philwo commented on #6101
I think the Bazel running inside the integration test somehow gets a valid JAVA_HOME even when you unset it outside. For example, on macOS it calls `/usr/libexec/java_home` in that case and finds the path.

However, I was able to repro it like this:

bazel test --nocache_test_results --test_arg=test_java_common_compile_sourcepath --test_env=JAVA_HOME=/dev/null //src/test/shell/bazel:bazel_java_tes

[2018-09-07 23:14] beala-stripe commented on #3360
I noticed the [bazel docs](experimental_guard_against_concurrent_changes) mention a useful flag that hasn't been mentioned in this thread yet:

[code]

[2018-09-08 06:31] benjaminp commented on #4772
I don't understand the relevance of strict Java deps. By default, those are errors not warnings.

[2018-09-08 07:00] endobson opened #6109 "Aspect implementation function returning a single provider gets bad error"
### Description of the problem / feature request:

An aspect implementation function must return a list of providers as documented here (https://docs.bazel.build/versions/master/skylark/aspects.html#aspect-implementation)

So if this is violated I expect to get a good error message, but this isn't the case. The following program returns a single provider with a field `files`. I'm guessing that thi

[2018-09-09 08:59] natansil commented on #3115
@dkelmer can you please provide the current state of this issue.
from #5059 it seems like the fix may have been rolled-back.

Does 0.17.1 have this fix?

[2018-09-09 18:30] pauldraper commented on #4714
Re: Bazel in Docker
https://github.com/nadirizr/dazel

[2018-09-09 21:20] ittaiz opened #6110 "Global command line factor for repository rules timeout"
### Description of the problem / feature request:

When first using Bazel in a large repo with many (thousands) of external repositories with varying types (git/maven/http) and varying sizes (KBs/Many MBs/Hundreds of MBs) one has two big problems:
1. For some reason Bazel just prints `Loading: 0 packages loaded` and seems stuck.
2. Bazel tries to download many dependencies concurrently and sometim

[2018-09-09 22:51] pauldraper opened #6111 "--worker_sandboxing works incorrectly"
To be fair, with so little documentation it's hard to say conclusively what is "incorrect", but certainly `--worker_sandboxing` differs signficantly from `--spawn_strategy=sandboxed`.

**WORKSPACE**

[code]

**rule.bzl**
[code]

**BUILD**
[code]

Ubuntu 18.04. Bazel 0.16.1.

[code]

So in summary

|                          | Local strategy                 | Worker strategy            |
| --------

[2018-09-10 00:28] rdnetto4 commented on #4714
Be aware that building large projects in Docker on OSX resulted in a ~3x slowdown the last time I looked into it. IMO, it is a completely inadequate solution to the problem.

[2018-09-10 01:11] pauldraper commented on #4714
@rdnetto4 disk I/O is premium for any virtualization (and Docker on Mac is in VM).

Did you happen to

1. Use the [delegated](https://docs.docker.com/docker-for-mac/osxfs-caching/) mode for mounting the workspace.
2. Ensure Bazel output directory is *not* a shared mount with host.
3. Put the Bazel ouput directory on a separate Docker volume (which I believe will us a more efficient type than Docke

[2018-09-10 02:57] rdnetto4 commented on #4714
It was about a year ago, so I can't remember the exact details. I have a
vague recollection I didn't spend much time fine tuning it, as for our
application even a 20% slowdown would have been too much.

On Mon, Sep 10, 2018 at 11:11 AM Paul Draper <notifications@github.com>
wrote:

[2018-09-10 06:51] pauldraper commented on #4714
The various consistency modes for bind mounts arrived in Docker last April,
so you may have been using that feature.

It's pretty much a requirement for any Docker dev on MacOS. Sped up example
builds 2-3x
https://blog.docker.com/2017/05/user-guided-caching-in-docker-for-mac/

On Sun, Sep 9, 2018 at 8:57 PM rdnetto4 <notifications@github.com> wrote:

[2018-09-10 06:54] laszlocsomor commented on #5059
Please cherrypick https://github.com/bazelbuild/bazel/commit/9323c57607d37f9c949b60e293b573584906da46 to fix https://github.com/bazelbuild/bazel/issues/6099.

[2018-09-10 09:11] vmax opened #6113 "Run custom error-prone checks without directly depending on library that exports them"
### Description of the problem / feature request:

After writing a custom check for `error-prone`, I'd like to have it ran on all Java targets without explicily depending on it.

### Feature requests: what underlying problem are you trying to solve with this feature?

Ensuring code is correct without checking that plugin was included in dependencies

### Bugs: what's the simplest, easiest way to r

[2018-09-10 09:39] vmax commented on #6113
Quoting @oferb:

[2018-09-10 11:09] laurentlb commented on #5059
Done, 9323c57607d37f9c949b60e293b573584906da46 added.
New candidate is here: https://releases.bazel.build/0.17.1/rc4/index.html

I think all known issues have been fixed. If nothing new is reported, we should release this week.

[2018-09-10 11:11] laurentlb commented on #3115
Yes. Bazel 0.17.1 contains every change up to https://github.com/bazelbuild/bazel/commit/aa118ca818baf722aede0bc48d0a17584fa45b6e (August 22nd).

[2018-09-10 12:03] elrapha commented on #5697
@alexeagle I have the same problem. Can you write out how you solved this. I am using  [https://github.com/bazelbuild/rules_docker#nodejs_image](https://github.com/bazelbuild/rules_docker#nodejs_image)

[2018-09-10 12:28] mhsmith commented on #4517
It doesn't need to be searched-and-replaced, but it does need to be mentioned as an alternative in case an existing project has a name conflict. Right now the BUILD.bazel name doesn't seem to be mentioned on docs.bazel.build at all, except on the [Android NDK](https://docs.bazel.build/versions/master/android-ndk.html) page, where it's used without explanation.

[2018-09-10 12:29] dslomov commented on #6008
@auito the suggestion looks good to me - maybe this can be made into a pull request?

[2018-09-10 12:32] dslomov commented on #5921
Duplicate of #5116

[2018-09-10 12:32] #5921 closed

[2018-09-10 12:34] dslomov commented on #5899
@brandjon

[2018-09-10 12:38] dslomov commented on #5995
This is WAI: the order of aspects in `rule.aspects` parameter is significant (this is somewhat of a corner case). We should document it.

[2018-09-10 12:45] dslomov commented on #5869
@philwo ping

[2018-09-10 12:46] philwo commented on #5951
I can see two possible improvements here:
- Detect whether Homebrew is installed and if yes, whether Bazel is installed via Homebrew. If yes, print a warning.
- Generally detect whether Bazel is on the $PATH in a location where we're not going to put it. If yes, warn the user.

As we won't have time to work on this, I'll leave it as P3 Feature Request and would encourage someone who wants to contr

[2018-09-10 12:47] philwo commented on #6002
I agree that this would be very nice to have.

[2018-09-10 12:48] philwo commented on #6026
@buchgr Any idea? I guess this might have been fixed in the meantime by your rewrite of the BES uploader?

[2018-09-10 12:49] philwo commented on #6028
Seems like this was fixed by @laurentlb in the meantime.

[2018-09-10 12:49] #6028 closed

[2018-09-10 12:51] philwo commented on #6060
@laurentlb @cushon Is this a release blocker for Bazel 0.17?

[2018-09-10 12:52] philwo commented on #6103
Sounds like a nice improvement.

[2018-09-10 13:11] philwo commented on #6091
@buchgr @ola-rozenfeld Has this been fixed in the meantime? I remember seeing a change about implementing parallel uploads flying by.

[2018-09-10 13:13] meteorcloudy commented on #5827
https://github.com/bazelbuild/bazel/commit/4a8bacd33d96b0499bb4d8303d285133268c01b4 is causing many projects to fail in bazel downstream job.
See https://buildkite.com/bazel/bazel-with-downstream-projects-bazel/builds/433#fc709679-63bc-4517-a4fb-02f5d8cbed2b

Most of the failing projects depends on protobuf and have the following error message:
[code]

As @benjaminp pointed out, the release versio

[2018-09-10 13:15] meteorcloudy commented on #5827
@davido Looks like Gerrit still use `PACKAGE_NAME` in its bzl file
[code]

Can you help fixing that?

[2018-09-10 13:18] laurentlb commented on #6028
nit. Commits were submitted by @katre and @XindaH (not me).

[2018-09-10 13:57] elrapha commented on #5697
Figured out i had to include external dependencies like so

http_archive(
    name = "build_bazel_rules_nodejs",
    # Replace with a real SHA256 checksum
    sha256 = "006c1b5427f4450efd2f2496341f724b242179352ccd9b6a4451e55012b2bef8",
    # Replace with a real commit SHA
    strip_prefix = "rules_nodejs-469f9975bd8259ce130fadbbda3bec0ed5febe2b",
    urls = ["https://github.com/bazelbuild/rules_no

[2018-09-10 13:59] philwo commented on #5869
Hi,

I'm not sure I really understand what you're doing, could you please give me an example from BUILD file that shows the test that you're trying to run and the actual command-line of Bazel (with all flags present in a bazelrc file, too) that you're trying to run and that then fails?

I'll also describe the network blocking behavior of Bazel:

By default, Bazel does not block network access for

[2018-09-10 14:00] philwo commented on #5850
That surely sounds like an annoying bug. I'll make sure that it gets fixed.

[2018-09-10 14:19] aehlig commented on #5963
Looking through the last nighly builds and tests of downstream
projects, the most promising baseline seems to be 2e7ccbe5cf15b7f4e8a77a2a94d0e071abfb1478

@laszlocsomor, this baseline also includes the update of protobuf to 3.6.1; do I
understand correctly, that this resolves your potential release blocker?

--
Klaus Aehlig
Google Germany GmbH, Erika-Mann-Str. 33, 80636 Muenchen
Registergericht un

[2018-09-10 14:30] laszlocsomor commented on #5963
@aehlig : Yes, that commit is beyond https://github.com/bazelbuild/bazel/commit/ddc97ed6b0367eb443e3e09a28d10e65179616ab so the potential blocker is not a blocker. Thanks for checking!

[2018-09-10 14:32] laszlocsomor commented on #5963
Another potential blocker: https://github.com/bazelbuild/bazel/issues/6099
I'll test the RC to see if it's affected.

[2018-09-10 14:36] ola-rozenfeld commented on #6091
Yes, I believe Jakob's parallel uploads change made this much better. I also have a change in flight now that adds batched uploads, thank you for reminding me to test it on this use case, I believe it should additionally improve it.

[2018-09-10 14:40] aehlig commented on #5963
Creating 0.18.0rc1, baseline 2e7ccbe5cf15b7f4e8a77a2a94d0e071abfb1478, no cherry picks.

--
Klaus Aehlig
Google Germany GmbH, Erika-Mann-Str. 33, 80636 Muenchen
Registergericht und -nummer: Hamburg, HRB 86891
Sitz der Gesellschaft: Hamburg
Geschaeftsfuehrer: Paul Terence Manicle, Halimah DeLaine Prado

[2018-09-10 14:48] laurentlb commented on #6060
It's too late for 0.17, but you can try to have it in 0.18 (https://github.com/bazelbuild/bazel/issues/5963).

[2018-09-10 14:51] cushon commented on #6060
I'll defer to @lberki on the priority. Note that this only affects `--host_javabase=:jdk8 --host_java_toolchain=@bazel_tools//tools/jdk:toolchain_hostjdk8 --java_toolchain=@bazel_tools//tools/jdk:toolchain_hostjdk8` and isn't a regression in 0.17.

[2018-09-10 14:53] laurentlb commented on #5963
Some cherrypicks of 0.17 are not included in your baseline.

[2018-09-10 14:53] mhlopko commented on #5963
Please consider picking a later baseline, since we decided to follow https://docs.bazel.build/versions/master/skylark/backward-compatibility.html quite late, we rushed to submit needed cls:

* 547bf42207fc0a84178e0ada7030550567869f13
* a792821ab6287f38b05636da36a3c5f8ab805535
* 13d70a93dd795f65149a0000ee6076b412d67aa9
* 52b208efda6d02c1ea140e6bdcc0b814c6c1788d

@scentini to verify I didn't miss an

[2018-09-10 14:56] philwo commented on #6091
@PaulSonOfLars Do you think we can close this now? :)

[2018-09-10 14:56] philwo commented on #6091
@ola-rozenfeld Thanks for the update!

[2018-09-10 14:58] laurentlb opened #6116 "Release 0.19 - October 2018"
@katre Can you manage the 0.19 release?

Target RC date: October 1st

[2018-09-10 14:59] laurentlb opened #6117 "Release 0.20 - November 2018"
@philwo  Can you manage the 0.20 release?

Target RC date: November 5th

[2018-09-10 15:01] cushon commented on #6113
@vmax there's some support for enabling the built-in checks based on a Bazel package pattern (e.g. `//your/project/...`): https://github.com/bazelbuild/bazel/issues/3427#issuecomment-367519584

It's currently harder to use that approach for custom checks, but we could improve that. Does that style of configuration look like it would work for your use-case?

[2018-09-10 15:02] katre commented on #6116
Yes, I can handle it.

[2018-09-10 15:08] cushon opened #6118 "improve diagnostics for incorrect `java_runtime` configuration"
cc @lberki

Creating a `java_runtime.java_home` that isn't actually a JDK should result in a better error than it does currently:

[code]

[2018-09-10 16:00] aehlig commented on #5963
0.18.0rc1 is available at https://releases.bazel.build/0.18.0/rc1/index.html

Will create another RC with the cherry-picks that went into 0.17.1 but are not in
the baseline soon.

--
Klaus Aehlig
Google Germany GmbH, Erika-Mann-Str. 33, 80636 Muenchen
Registergericht und -nummer: Hamburg, HRB 86891
Sitz der Gesellschaft: Hamburg
Geschaeftsfuehrer: Paul Terence Manicle, Halimah DeLaine Prado

[2018-09-10 16:17] aehlig commented on #5963
According to the logs on #5059, we're talking about

9323c57607d37f9c949b60e293b573584906da46 7eb9ea150fb889a93908d96896db77d5658e5005 4566a428c5317d87940aeacfd65f1018340e52b6 1e9f0aa89dad38eeab0bd40e95e689be2ab6e5e5 a572c1cbc8c26f625cab6716137e2d57d05cfdf3 29f1de099e4f6f0f50986aaa4374fc5fb7744ee8

Is this correct?

Will also check if tomorrow's nighly is suitable as a base line. If not,
I will tr

[2018-09-10 16:20] lberki commented on #5963
/cc @cushon

[2018-09-10 16:44] cushon commented on #6105
We should try to fix this in 0.18: #5963

[2018-09-10 16:45] cushon commented on #5963
@lberki are you planning to include 7eb9ea150fb889a93908d96896db77d5658e5005 in 0.18 too?

[2018-09-10 17:14] iirina commented on #6118
@lberki can you also assign a priority?

[2018-09-10 17:33] mhlopko commented on #5827
cc @aehlig this is the reason why the bazel with downstream projects is in such a bad shape for release.
@laurentlb @c-parsons what is the best course of action here? Is it an option to postpone flipping the flag until 0.19? Philosophically this is a protobuf issue. Practically half of the bazel world will be broken.

[2018-09-10 17:34] laurentlb commented on #5827
Rollback CL is being submitted.

[2018-09-10 17:34] iirina commented on #5059
Please also cherry pick 1aba9ac4b4f68b69f2d91e88cfa8e5dcc7cb98c2. Envoy build breaks without it.

[2018-09-10 17:37] cushon commented on #6118
We should probably fix this before flipping the default on #6105, but it's not currently on fire.

[2018-09-10 17:40] smukherj1 opened #6119 "Better message for when `native.foo` is erroneously accessed in .bzl file as if it were top-level symbol `foo`"
### Description of the problem / feature request:

Feature request: Better error message when a rule is defined in a BUILD file or a rule is invoked from a .bzl file instead of a cryptic "blah is not defined" error. I'm just looking to see if we can get bazel to emit a more user friendly error like:-
blah is a rule invocation which is only allowed in BUILD files. Not allowed to invoke it from blah

[2018-09-10 18:02] cushon commented on #6118
The reason I didn't just do this as part of #6105 is that it wasn't obvious to me how to actually report a better error. For `java_runtime` rules using a local JDK we don't know what the contents are at analysis time, so we can't detect that it's empty. I guess we could create an action associated with the `java_runtime` that validates some well-known files are present or else fails with a better

[2018-09-10 18:26] laurentlb commented on #5059
Done. This is 0.17.1rc5: https://releases.bazel.build/0.17.1/rc5/index.html

Created using:
`scripts/release/release.sh create --force_rc=5 0.17.1` aa118ca818baf722aede0bc48d0a17584fa45b6e 0e04625 3987300 438b277 504401791e0a0e7e3263940e9e127f74956e7806 9ed9d8a 22d761a 27303d7 ddc97ed ead1002 12dcd35 7eb9ea1 4566a42 1e9f0aa a572c1c 29f1de0 b495eaf 9323c57 1aba9ac4b4f68b69f2d91e88cfa8e5dcc7cb98c2

[2018-09-10 18:52] natansil commented on #3115
Good. Thank you @laurentlb for the quick answer.
In that case why is this issue still open?

[2018-09-10 19:34] xingao267 commented on #4661
We recently launched an Ubuntu16.04 based Bazel container under Google Cloud Marketplace. See announcement email here https://groups.google.com/forum/#!topic/bazel-discuss/fKEdrrCUC0s. The container can be directly pulled at l.gcr.io/google/bazel:latest and latest version currently is 0.16.1 (of Bazel).

Instead of using Dockerfiles, we use [rules_docker](https://github.com/bazelbuild/rules_docker

[2018-09-10 19:36] dkelmer commented on #3115
The issue is still open because the feature isn't fully working yet. In particular, the remapping does not work for repository names that appear in the WORKSPACE file itself or for bzl files loaded transitively during WORKSPACE evaluation. So the partial state is submitted and is in 0.17.1, but it may not fully work. If you would like to try anyway, it's gated behind --experimental_remap_main_repo

[2018-09-10 21:06] cushon commented on #5963
@aehlig can you cherry-pick c6eef5df8ac93207500be67b097a2becadd0736f for #6105?

[2018-09-10 21:07] benjaminp commented on #6091
ff008f445905bf6f4601a368782b620f7899d322 implemented parallel downloads, but output upload in `SimpleBlobStoreActionCache` is still serial.

[2018-09-10 21:08] ittaiz opened #6121 "'java_runtime_suite' is not defined- 0.17.1 regression"
### Description of the problem / feature request:

`java_runtime_suite` doesn't work (analysis failure) on 0.17.1rc4
### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

empty `WORKSPACE` file
`BUILD` file with following contents:
[code]
`bazel build //...` passes with `0.16.1` and fails with `0.17.1rc4` with the following error:
[code]

[2018-09-10 21:09] ittaiz commented on #5059
FYI- I think #6121 will be a release blocker but I just filed it so obviously no one triaged it yet.

[2018-09-10 21:16] cushon commented on #6121
There's a line about that in the [relnotes](https://releases.bazel.build/0.17.0/rc1/index.html):

The `select()` is only necessary if you want to choose between different runtimes for different target architectures. For your example you can just refer to the `java_runtime` directly instead of wrapping it in a `java_runtime_suite`.

[2018-09-10 21:17] cushon commented on #6121
@lberki FYI

[2018-09-10 21:42] ola-rozenfeld commented on #6091
Shoot, sorry, Benjamin is right! Apologies, I take that back. And my
batching change is not relevant either.

On Mon, Sep 10, 2018 at 5:08 PM Benjamin Peterson <notifications@github.com>
wrote:

[2018-09-10 21:58] petemounce commented on #5059
RCs 2, 3, 4, 5 all published to chocolatey.

[2018-09-10 23:12] nex3 opened #6122 "file_test doesn't work on Windows"
### Description of the problem / feature request:

The `file_test` rule doesn't seem to work on Windows. It looks like it's grepping for a POSIX path. See https://github.com/bazelbuild/rules_sass/pull/47#issuecomment-420088820 for an example of this coming up in practice.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

I suspect any

[2018-09-11 00:18] AustinSchuh opened #6123 "Jobs generating big output files slow with --disk_cache"
I'm using the --disk_cache flag to bazel.  We've got a number of large data files that get generated as part of some rules.  I'm seeing ~300 MB/s read speeds using iostat (small % of the speed of the drive I've got for it), and 100% CPU usage in Bazel.

We are running 0.16.1

[2018-09-11 03:32] ittaiz commented on #6121
Shouldn’t it be in the incompatible_changes section?
My build broke without notice and honestly googling didn’t give me any info
this is going to happen.
Part of the problem is that this was a copy paste of the configuration from
bazel-toolchains (since we need a derivation of that) and we didn’t see
they also removed it.

I opened this ticket for two reasons:
1. Make sure I’m indeed not missing a

[2018-09-11 05:58] davido commented on #5827
@meteorcloudy

[Done](https://github.com/bazelbuild/bazel/issues/5827).

[2018-09-11 06:12] ittaiz opened #6126 "Poisoned disk cache"
### Description of the problem / feature request:

I'm trying to upgrade a large repo from 0.15.2 to 0.17.1rc4 while using jdk8. This might be important since it meant I needed to do a few iterations on the build and also had no cache hits. After one of these iterations I saw the build fails on a very trivial target (creating an empty jar).
I investigated and saw that the disk_cache folder contain

[2018-09-11 06:58] ittaiz commented on #6126
Replace repository cache with disk cache. Got my terms wrong. Sorry.

[2018-09-11 07:04] daghub commented on #5139
Hi, I would also very much like to see this feature implemented! @davido , @RNabel did you get anywhere with your experiments?

[2018-09-11 07:19] lberki commented on #5963
@mhlopko is informing me that there will be a new baseline

[2018-09-11 07:56] lberki commented on #6105
Is there an urgency? Sure, we should fix this ASAP, but does it do harm if the change ends up in 0.19 instead?

[2018-09-11 08:09] cushon commented on #6105
It's a blocker for upgrading the embedded JDK version, and we need a newer JDK and javac to support building Java 11, which is being released in two weeks. I think we should try to avoid pushing Java 11 support back an additional month.

[2018-09-11 08:26] BrentDouglas commented on #6060
How is this not a regression? The project I am working on built with 0.16.0 and doesn't build with 0.16.1 and by the sounds of it, won't build with 0.17.

[2018-09-11 08:30] meteorcloudy opened #6127 "Gerrit failing with Bazel@HEAD"
https://buildkite.com/bazel/bazel-with-downstream-projects-bazel/builds/434#d0d71269-d29b-41d3-9558-923637bc4c91
[code]
/cc @philwo Can you take a look at this?

[2018-09-11 08:37] aehlig commented on #5963
Looks good. The only thing we have to look at is what's going on with Gerrit and jdk9 as this might be bazel related.

So, let's push the baseline forward to c062b1f1730f instead of starting with too many cherry-picks right from the beginning.

[2018-09-11 08:40] mhlopko commented on #5963
Fantastic, thanks Klaus!

[2018-09-11 09:15] lberki commented on #6121
Erm, it should totally have been in the incompatible changes section and we should totally not have done this without an incompatible change flag. We *do* have a problem of callously breaking people... there is a discussion about how we should handle this here:

https://groups.google.com/d/msg/bazel-discuss/wYocSoGTJOg/aJnD4ZqUCAAJ

In our defense, that thread was started about two months after cu

[2018-09-11 09:15] #6121 closed

[2018-09-11 09:30] davido commented on #5963
Can you share the logs?

[2018-09-11 09:44] lberki commented on #6060
Erm, I misread this -- it's indeed a regression, but not between `0.16.1` and `0.17`. @cushon , is the fix reasonably simple? If so, let's cherry-pick it (/cc @aehlig )

[2018-09-11 09:48] BrentDouglas commented on #6060
@lberki I would be super grateful if we can get this in `0.17`.

The company that I work for has had a bazel build in place for like a year while some higher ups in our company have compared it against our maven and decided if its a thing that they think is worth going ahead with. Very recently they decided that they were onboard with it and that they are going to remove the maven build in favour

[2018-09-11 09:50] iirina opened #6129 "Make C++ code coverage collection correct"
Currently the results in the code coverage report generated by Bazel for C++ code are not respecting the `--instrumentation_filter` and `--instrument_test_targets` flags.

[2018-09-11 09:52] lberki commented on #6060
`0.17` will definitely not work since we are busy getting `0.18` out. Was that a typo?

[2018-09-11 09:58] PaulSonOfLars commented on #6091
Awesome, thanks for looking into this! I had a few looks at recent commits to see if anything had touched the subject before opening the issue and couldn't see anything - but yes, basically need Jakob's change for uploads instead of downloads :)

[2018-09-11 09:59] aehlig commented on #5963
The first error message is

[code]

This only occurs on JDK9, and Gerrit is the only project we test with JDK9.

A potentially related commit is c1d8776487b8ee69efd50aab3fa84550f7f99ecc.
@cushon, can you have a look as well? Thanks.

--
Klaus Aehlig
Google Germany GmbH, Erika-Mann-Str. 33, 80636 Muenchen
Registergericht und -nummer: Hamburg, HRB 86891
Sitz der Gesellschaft: Hamburg
Geschaeftsfuehr

[2018-09-11 10:00] aehlig commented on #5963
rc2 is available at https://releases.bazel.build/0.18.0/rc2/index.html

Please test!

[2018-09-11 10:02] BrentDouglas commented on #6060
Sorry, I guess I mean I would appreciate a fix for this being in a release as soon as you guys can make it work, whatever version that may be.

[2018-09-11 10:03] davido commented on #5963
@aehlig Thanks, I see that @meteorcloudy already created extra issue for this breakage.

[2018-09-11 10:07] aehlig commented on #5963
This is #6127.

[2018-09-11 10:09] aehlig commented on #6127
Note (see also discussion on #5963):
- only on JDK9 (and Gerrit is the only downstream project we test with JDK9)
- Turbine has been recently updated in commit c1d8776487b8ee69efd50aab3fa84550f7f99ecc

[2018-09-11 10:14] RNabel commented on #5139
Not finished, but had an initial stab: https://github.com/RNabel/bazel/compare/baseline-0.16.1...RNabel:feature/5139-implement-disk-cache-size (this is mostly plumbing and figuring out where to put the logic it definitely doesn't work)

I figured the simplest solution is an LRU relying on the file system for access times and modification times. Unfortunately, access times are not available on wind

[2018-09-11 11:34] buchgr commented on #5139
What do you guys think about just running a local proxy service that has this functionality already implemented? I.e. https://github.com/Asana/bazels3cache or https://github.com/buchgr/bazel-remote?

[2018-09-11 12:07] buchgr commented on #6026
that's the expected behavior. There used to be a `--bes_best_effort` flag which would convert the error into a warning but that was removed because reasons.

The expected behavior is that it returns PUBLISH_ERROR and not test timeout.

Ola, have you seen the error in the recent Bazel nightlies?

[2018-09-11 12:10] buchgr commented on #4608
Do you have a CL number of the change that needs to be rolled forward? Will you take care of this or should I?

[2018-09-11 12:13] buchgr commented on #6105
FYI: Since this is a incompatible change it needs to be hidden behind a `--incompatible_` flag.

[2018-09-11 12:20] ittaiz commented on #5139
I think @aehlig solved this problem for the repository cache. Maybe you can
borrow his implementation here as well.
@buchgr, I feel this is core Bazel functionality and in my humble opinion
outsourcing it isn’t the right direction. People at my company are often
amazed Bazel doesn’t have this fully supported out of the box.
On Tue, 11 Sep 2018 at 13:14 Robin Nabel <notifications@github.com> wrote:

[2018-09-11 12:26] lberki commented on #6105
It is :)

[2018-09-11 12:30] ulfjack commented on #4608
cl/207084179 needs to be rolled back (i.e., the original change is cl/205629237 and needs to be rolled forward). I already have a rollback of the rollback, but we were unable to determine how the change could have caused the problems that led to the rollback. @meisterT was pretty confident that the original change caused a problem. We later found another change that caused a similar problem, but i

[2018-09-11 12:32] ulfjack commented on #4608
There was an intermediate change by Janak which may have resolved the underlying problem - cl/210731120.

[2018-09-11 12:32] ulfjack commented on #4608
It's unlikely that I'll have any time this week to work on it.

[2018-09-11 12:39] ola-rozenfeld commented on #6026
Just once the two weeks ago. So you just explained this is expected behavior. Hmm, okay, I guess it has a point. I do wish they left the flag, though.

As to the failure itself, it might have coincided with the beginning of the BES outage (we're not sure, but we suspect). So I'll close this and reopen if it happens again.

Thank you for the clarification, Jakob!

[2018-09-11 12:39] #6026 closed

[2018-09-11 12:54] aehlig commented on #5139
@ittaiz, what solution are you talking about? What we have so far for the repository cache is that the file gets touched on every cache hit (see e0d80356eed), so that deleting the oldest files would be a cleanup; the latter, however, is not yet implemented, for lack of time.

For the repository cache, it is also a slightly different story, as clean up should always be manual; upstream might have d

[2018-09-11 13:05] aehlig commented on #6105
@lberki

Yes. the new baseline is c062b1f1730f3562d5c16a037b374fc07dc8d9a2 which includes c6eef5df8. So the changes so far are included; if you change anything more (like hiding the fix behind a flag), please ping the release bug explicitly, so that any needed cherry-picks can be included.

[2018-09-11 13:41] mhlopko commented on #6052
Can you reproduce without cuda? (I don't have cuda setup locally, and using normal C++ toolchain I still cannot repro).

[2018-09-11 14:31] ittaiz commented on #5139
@aehlig sorry, my bad. You are indeed correct.
@buchgr,
I think so because I think a disk cache is a really basic feature of Bazel
and the fact that it doesn’t work like this by default is IMHO a leaky
abstraction (of how exactly the cached work) and influenced greatly by the
fact that googlers work mainly (almost exclusively?) with remote execution.
I’ve explained bazel to tens maybe hundreds of

[2018-09-11 15:45] ZacVawterKodiak commented on #6052
Unfortunately I think it has something to do with tensorflow cuda messing with the crosstool.  I haven't fully understood what tensorflow bazel cuda package is doing, so I haven't been able to simplify that piece.

[2018-09-11 16:04] jlisee commented on #4867
@philwo to me it looks like a bug that the `run` command not respecting the [--logging flag](https://github.com/bazelbuild/bazel/blob/3c5a109/src/main/java/com/google/devtools/build/lib/runtime/CommonCommandOptions.java#L72).  For example even with `--logging=0`, `bazel run` still produces `INFO` logging information.  From looking at [the code](https://github.com/bazelbuild/bazel/blob/56d125b9a4c8

[2018-09-11 16:10] ulfjack commented on #4867
The --logging flag isn't related to the command-line output, but to
internal logging.

On Tue, Sep 11, 2018 at 6:04 PM Joseph Lisee <notifications@github.com>
wrote:

[2018-09-11 17:02] cushon commented on #6060
(@lberki has a fix in progress. Thanks!)

I realized I'm still confused about something here:

*why* does `bazel-0.16.1-dist.zip` produce a binary without an embedded JDK? Is that deliberate?

Generally we always recommend the embedded JDK binaries. They also allow Bazel to use the default `java_toolchain` which isn't affected by this bug, instead of the `hostjdk8` toolchain.

@BrentDouglas is it

[2018-09-11 17:12] katre commented on #5792
Users are still seeing issues with JDK version in 0.16.1 (see #6072). Can we cut a 0.16.2 with the fixes needed to unblock them?

[2018-09-11 17:43] cushon commented on #6105
Great, thanks!

I'm a little confused by this exchange: to be clear, "the fix" is c6eef5df8ac93207500be67b097a2becadd0736f, and it *is* hidden behind `--incompatible_never_use_embedded_jdk_for_javabase`.

That change by itself is a no-op, the reason I'm eager to get it into a release is so we can change the default behaviour is the next release.

[2018-09-11 18:11] cushon commented on #6118
Could the action be created by `java_runtime` and produce an empty file that we add to the rule's files-to-build? That's the 'validation action' hack we uses for stuff like one version enforcement.

(There's a related feature request somewhere for first-class 'validation action' support, so we could wire actions like that into the graph without having to produce empty files.)

[2018-09-11 18:14] cushon commented on #6127
The only JDK 9 gerrit build I see is from the latest build. Did we just add that configuration to buildkite? It's not clear how recent a regression this is.

[2018-09-11 18:27] cushon commented on #6127
The culprit is https://github.com/bazelbuild/bazel/commit/4c9149d558161e7d3e363fb697f5852bc5742a36, so I think this also affects 0.17x.

I tested with gerrit at @ 7a06549cdffffab00991ed58f55a97546dbe94ac, and:

[code]

[2018-09-11 18:51] cushon commented on #6127
@lberki I mailed you a fix.

[2018-09-11 18:58] #6060 closed

[2018-09-11 19:16] philwo commented on #6127
I added this 4 days ago (https://github.com/bazelbuild/continuous-integration/commit/475ccf43d26989caca364d2e0c2bf157d897a156). It was requested by @davido and has been green on the Gerrit pipeline (https://buildkite.com/bazel/gerrit) since then.

[2018-09-11 19:30] cushon commented on #6127
(I pasted the wrong culprit commit above. I edited my comment, but it's 7eb9ea150fb889a93908d96896db77d5658e5005.)

@philwo does that make sense to you? 7eb9ea150fb889a93908d96896db77d5658e5005 was submitted four days ago and was cherry-picked into 0.17.

[2018-09-11 19:35] cushon opened #6131 "bazel-0.16.1-dist.zip doesn't use the embedded JDK"
Follow-up to #6060, cc @lberki.

why does `bazel-0.16.1-dist.zip` produce a binary without an embedded JDK? Is that deliberate?

Generally we always recommend the embedded JDK binaries. They also allow Bazel to use the default `java_toolchain` which isn't affected by this bug, instead of the `hostjdk8` toolchain.

@BrentDouglas is it possible to use one of the binaries we distribute, or if you pre

[2018-09-11 19:35] cushon commented on #6060
I split my question above out into #6131.

[2018-09-11 19:39] lberki commented on #5963
...aand, the first cherrypick request: 2834613f93f74e988c51cf27eac0e59c79ff3b8f to fix #6060 (a regression between `0.16` and `0.16.1`, still in `0.17`)

/cc @brendandouglas

[2018-09-11 19:53] natansil commented on #3115
Thank you @dkelmer for the detailed answer.
We will definitely try it out with the flag.

[2018-09-11 20:07] edbaunton commented on #6110
A progress indicator might also be useful so that you can know that the download/clone is actually progressing rather than just hung on e.g. a proxy. That's a separate issue but related to 1.

[2018-09-12 03:09] davido commented on #6127
Indeed, in the past we have had breakages for building Gerrit with different JDKs combinations, that were already known to work in earlier Bazel releases, without discovering the breakages for quite some time (the last one was: https://github.com/bazelbuild/bazel/issues/5961). That why we have added this request (https://github.com/bazelbuild/continuous-integration/issues/173). Having the Bazel-CI

[2018-09-12 03:14] davido commented on #6127
I confirmed that problem locally. In fact, on Java 9, gerrit build is broken on Bazel 17.rc5

[code]

[2018-09-12 03:18] davido commented on #5059
@laurentlb There is another release blocker: Gerrit cannot be built on Java 9 any more: https://github.com/bazelbuild/bazel/issues/6127. There is no fix available yet.

[2018-09-12 03:35] cushon commented on #6127
@davido that's consistent with https://github.com/bazelbuild/bazel/issues/6127#issuecomment-420373195, right?

If you want to verify the pending fix: https://bazel-review.googlesource.com/c/bazel/+/74550

[2018-09-12 03:41] mfarrugi commented on #3517
@AdamDorwart I believe this is the bash script you were referencing:

[code]
from https://groups.google.com/forum/#!topic/bazel-discuss/nVQ48R94S_8

[2018-09-12 03:59] lberki commented on #6118
Yep, it rhymes pretty well with the concept of "validation actions".

[2018-09-12 04:15] davido commented on #6127
@cushon Yes, it sounds reasonable. I also confirmed, that on Bazel master (475f40ad191180fcf538fbd2fe49524b3edbb08e) there is a different error message (that seems to be identical with the one reported on Bazel CI), so that upcoming 0.18 release is affected as well:

[code]

I confirmed, that with your CL applied on Bazel master, build is green again on JDK9:

[code]

[2018-09-12 05:05] davido commented on #6127
SGTM.

@cushon Just to make sure I'm not missing something and avoid yet another regression before CI-Job mentioned in bazelbuild/continuous-integration#325 is up and running, I went ahead and tested building Gerrit on JDK10 on Bazel@HEAD with your [CL](https://bazel-review.googlesource.com/c/bazel/+/74550) applied. It's failing:

[code]

Shoud I file new issue? Note, that it's worked already, as

[2018-09-12 05:13] cushon commented on #6127
@davido that is the expected result of 7eb9ea150fb889a93908d96896db77d5658e5005 / #6035. The embedded JDK version was rolled back to JDK 9, and the bundled javac version was rolled back to javac 9, in an effort to stabilize 0.17. Doing so regressed Java 10 support.

[2018-09-12 05:31] cushon commented on #6127
cc @lberki

I had thought earlier we might be able to roll forward for 0.18, but that's not going to happen. However the fix for #6105 did make it into 0.18, and that change significantly reduces the risk of upgrading to JDK 10 (or JDK 11) in a subsequent release. I'm still hopeful we can restore JDK 10 support in 0.19.

[2018-09-12 06:05] davido commented on #6127
@cushon Thanks for confirming and well that's unfortunate. But then we could downgrade the full support for building with Java 10 for gerrit to only supporting building with Vanilla Java Builder on Java 10 on Bazel 0.17 and later.

I updated my CL: [1] and switched to using VanillaJavaBuilder and now building Gerrit on Bazel@HEAD with JDK works again:

[code]

* [1] https://gerrit-review.googlesou

[2018-09-12 06:43] davido commented on #5723
@cushon I have re-tried to build Gerrit on master with this series applied: [1]. I used Bazel@HEAD with your [CL](https://bazel-review.googlesource.com/c/bazel/+/74550). Gerrit build is failing on Java 11 here now (and `java/com/google/gerrit/reviewdb/client/Comment.java` wasn't changed recently):

[code]

Any clue why are we seeing this error now, and why it worked before (as reported earlier in

[2018-09-12 07:13] cushon commented on #5987
The size of `NestMates` attributes is not `-1`:

https://github.com/bazelbuild/bazel/blob/caa2b3c36954b1f4ce4224b5235cc16ff1e8e4b2/third_party/ijar/classfile.cc#L1204

[2018-09-12 07:15] cushon commented on #5723
Thanks for reporting that: I don't think it was working properly before, we might have just been avoiding the bug you noticed. The JDK 11 support that was added to ijar is half-baked: https://github.com/bazelbuild/bazel/issues/5987#issuecomment-420538341

[2018-09-12 07:28] davido commented on #5987
@cushon Thanks for tracking this down. Let me know when I can test the fix.

[2018-09-12 07:41] laszlocsomor commented on #6093
Sorry about the long silence! Yes, this looks like a bug; I'm looking for the reason for the discrepancy between `test` and `run`.

The bug is fixed at HEAD (`02432e19306dae4cbab7db929e57516f2bba204a`): Bazel is consistent for `run` and `test` because on Linux the `RUNFILES_MANIFEST_FILE` envvar is empty. Which is correct because there's no MANIFEST file under `$RUNFILES_DIR`.

Using the MANIFEST

[2018-09-12 08:10] laszlocsomor commented on #6093
https://github.com/bazelbuild/bazel/commit/0b3197987d47456c478c599fbc548bc669c71f0b was the patch that fixed this behavior in Bazel at HEAD, i.e. to only export `RUNFILES_MANIFEST_FILE` when the manifest exists.

[2018-09-12 08:43] laurentlb commented on #6127
If it affects both 0.17 and 0.18, that's maybe another reason to have a 0.16.2.

[2018-09-12 08:55] cushon commented on #5059
@laurentlb @lberki the fix for #6127 was submitted as 2579b791c023a78a577e8cb827890139d6fb7534

[2018-09-12 08:55] cushon commented on #5963
@aehlig @lberki the fix for #6127 was submitted as 2579b791c023a78a577e8cb827890139d6fb7534

[2018-09-12 08:57] aehlig commented on #5963
scripts/release/release.sh create --force_rc=3 0.18.0 c062b1f1730f3562d5c16a037b374fc07dc8d9a2 2834613f93f74e988c51cf27eac0e59c79ff3b8f 2579b791c023a78a577e8cb827890139d6fb7534

--
Klaus Aehlig
Google Germany GmbH, Erika-Mann-Str. 33, 80636 Muenchen
Registergericht und -nummer: Hamburg, HRB 86891
Sitz der Gesellschaft: Hamburg
Geschaeftsfuehrer: Paul Terence Manicle, Halimah DeLaine Prado

[2018-09-12 09:02] laurentlb commented on #5059
Should I delay the release again, or can we use this commit in a patch release?

[2018-09-12 10:16] laurentlb commented on #5792
What needs to be cherrypicked in 0.16.2 exactly?
Is it just https://github.com/bazelbuild/bazel/commit/282b8839ef114aa70e18d98a3e6f5fa8dbed4ef9?

@cushon @lberki @katre @davido

[2018-09-12 10:41] aehlig commented on #5963
rc3 available at https://releases.bazel.build/0.18.0/rc3/index.html

[2018-09-12 11:04] laurentlb opened #6132 "Release - July 2018 - name: 0.16.2"
Patch release on top of 0.16.1: https://github.com/bazelbuild/bazel/issues/5792

New cherrypicks:
 - 282b8839ef114aa70e18d98a3e6f5fa8dbed4ef9

Anything else?
@cushon @lberki

[2018-09-12 11:05] laurentlb commented on #6132
Tests are failing: https://buildkite.com/bazel/release/builds/98#cda3745a-1830-4ac8-a1c5-093817590c2a

This is failing:

ERROR: /var/lib/buildkite-agent/builds/buildkite-worker-ubuntu1404-java8-lqvt-1/bazel/release/src/main/java/com/google/devtools/build/lib/windows/runfiles/BUILD:9:1: Building src/main/java/com/google/devtools/build/lib/windows/runfiles/librunfiles.jar (1 source file) failed (Exi

[2018-09-12 11:08] buchgr commented on #6123
The current code is rather inefficient and can be improved. Would you be interested in working on this Austin? The code is also self-contained so should be quite simple to experiment with it: https://source.bazel.build/bazel/+/master:src/main/java/com/google/devtools/build/lib/remote/blobstore/OnDiskBlobStore.java

[2018-09-12 11:49] buchgr commented on #6123
To provide more detail:

The current code simply copies the data from the source into a in-heap byte array and writes them to the file in the disk cache. We could improve on that by doing an in-kernel transfer on systems that support it. Java allows one to do that using `FileChannel.transferTo`. You'd need to implement a `copy` method in our FileSystem API and special case `FileInputStream/FileOut

[2018-09-12 12:59] gertvdijk commented on #5753
I've com across the following in [the 0.18.0-rc3 release notes](https://releases.bazel.build/0.18.0/rc3/index.html):

I think it would not make sense for the Bazel project to be able to build special Bazel deb/rpm packages which try to use the local system JRE to run. First of all, because you cannot assume that all major mainline Linux distributions will provide the JRE Bazel needs. In order to h

[2018-09-12 13:15] drigz opened #6136 "IllegalStateException: Did not write as much data as expected"
We've seen the following failure cause 2 flakes on our CI server (out of around 30 builds since upgrading from Bazel 0.15.0 to Bazel 0.16.1).

[code]

I haven't seen it occur on my workstation - only on the CI build.

### What operating system are you running Bazel on?

Ubuntu 14.04 host, running Bazel inside a docker container based on debian:jessie-backports.

### What's the output of `bazel inf

[2018-09-12 13:44] laurentlb commented on #6060
After discussion with @dslomov, it's a regression of 0.16.1. So we should ideally try to cherrypick the fix in 0.16.2, 0.17.1 and 0.18.0.

(I can't promise yet, because there are other issues and cherrypicks tend to conflict with each other)

[2018-09-12 14:38] laurentlb commented on #5059
Cherrypicked both 2579b791c023a78a577e8cb827890139d6fb7534 and 2834613f93f74e988c51cf27eac0e59c79ff3b8f.

https://releases.bazel.build/0.17.1/rc7/index.html
 
Created with:
`scripts/release/release.sh create --force_rc=7 0.17.1` aa118ca818baf722aede0bc48d0a17584fa45b6e 0e04625 3987300 438b277 504401791e0a0e7e3263940e9e127f74956e7806 9ed9d8a 22d761a 27303d7 ddc97ed ead1002 12dcd35 7eb9ea1 4566a42 1

[2018-09-12 14:46] petemounce commented on #5059
In the release notes, are the second and third accurate?

[2018-09-12 14:55] aehlig commented on #5963
rc3 looks good for all internal tests. So please do test this release candidate and report any potential release blocker within 14 days. Thanks!

[2018-09-12 15:01] laurentlb commented on #5059
I think so. The draft release announcement is here: https://docs.google.com/document/d/1wDvulLlj4NAlPZamdlEVFORks3YXJonCjyuQMUQEmB0/edit#heading=h.fdnt5bpp42hj

(we don't update the generated release notes, so they sometimes have issues)

[2018-09-12 15:14] robfig commented on #5726
We are still waiting for 0.16.2 which will include the platform classpath fix to upgrade.. is there any place I can track it to verify that it will include the fix or see the progress it's making for planning purposes? Thanks!

[2018-09-12 15:32] girving commented on #3787
Happening to me about after upgrading to the Xcode 10 beta.  Any results of the September 2017 investigation?  `bazel shutdown` and `bazel clean --expunge` didn't work.  The error after those when building tensorflow is

[code]

[2018-09-12 15:49] martinwicke commented on #3787
@dslomov does this look like a bazel issue or an absl issue to you?

[2018-09-12 16:55] brandjon opened #24861 "Expose File.is_directory"
[`File.is_directory`](https://github.com/bazelbuild/bazel/blob/0.16.1/src/main/java/com/google/devtools/build/lib/skylarkbuildapi/FileApi.java#L75) has been around for a while but is undocumented (and therefore unsupported). Yet directories (internally, `TreeArtifact`s) have increasing support in the Starlark action API. In particular, if they are passed to `ctx.actions.args` objects they are now

[2018-09-12 17:09] #5987 closed

[2018-09-12 17:13] cushon commented on #6132
The fix in 282b8839ef114aa70e18d98a3e6f5fa8dbed4ef9 only works with a JDK 10 `--host_javabase`, not JDK 9. It works ahead at head because of some changes I made in 4566a428c5317d87940aeacfd65f1018340e52b6, which was before we rolled back to a JDK 9 `--host_javabase` in 7eb9ea150fb889a93908d96896db77d5658e5005.

4566a428c5317d87940aeacfd65f1018340e52b6 depends on other changes to `DumpPlatformClass

[2018-09-12 17:20] #3432 closed

[2018-09-12 17:49] AustinSchuh commented on #6123
@buchgr , I'd love to take a look but I'm swamped for a couple weeks at a minimum.  If nobody gets to it before I free up, I can take a look.

This also feels like something that should be done in a parallel context instead of a single threaded context.  I'm only seeing 100% CPU, rather than 1000% CPU like I'd hope for.  That would also fix the issue.  Fast SSDs are hard to saturate with a single

[2018-09-12 17:50] cushon commented on #5726
@robfig 0.16.2 is being tracked by #6132

[2018-09-12 18:26] filipesilva opened #6138 "RC files inconsistently ignored on Windows on master"
### Description of the problem / feature request:

RC files inconsistently ignored on Windows on master.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[code]
The following lines will be logged:
[code]

Although the logs say the files were ignored, the `explain.log` file (referenced in `.bazelrc`) was still created. The `build_even