[2021-06-18 22:03] keith commented on #13589
Can you try the workarounds on https://github.com/bazelbuild/bazel/issues/9303

[2021-06-18 22:27] ahumesky commented on #12889
@cpsauer re: "[Google Play is requiring API level 30, starting in August](https://developer.android.com/distribute/best-practices/develop/target-sdk)", I believe that ndk r21 supports API level 30, and it's an LTS release, so it should be supported for some time. I'll look at #13421

@EwoutH @steeve  I don't know off-hand what would be involved, but it sounds like it would be closer to https://git

[2021-06-18 23:05] ahumesky commented on #13421
It looked like this was as simple as adding 30 to this map:
https://github.com/bazelbuild/bazel/blob/09c621e4cf5b968f4c6cdf905ab142d5961f9ddc/src/main/java/com/google/devtools/build/lib/bazel/rules/android/ndkcrosstools/r19/ApiLevelR19.java#L25

However, I think there's a small bug in how the API level checks are implemented. The r19 crosstool generator code is shared between 19, 20, and 21;
https

[2021-06-19 06:26] uri-canva opened #13591 "Changing starlark build setting always discards the analysis cache."
### Description of the problem / feature request:

Changing starlark build settings always discards the analysis cache. It would be nice to have a way of disabling that for certain build settings.

### Feature requests: what underlying problem are you trying to solve with this feature?

When using starlark build settings that are limited to certain targets, it would be nice if the analysis cache c

[2021-06-19 06:56] 1e100 commented on #10342
Here's what I did for this: https://github.com/1e100/cloud_archive

This does require zstd support for `tar`, however, and does not rely entirely on built in facilities, but it can do authenticated downloads using the various cloud CLIs, validation, patching, and it does support Zstandard. And you don't need to wait for 2 years to submit a patch. :-)

[2021-06-19 08:18] cpsauer commented on #13029
Yikes, so I've [stripped down a minimal example](https://github.com/bazelbuild/bazel/files/6680253/ALTest.zip) and it doesn't reproduce. I promise this is a real thing, but the original code that triggered it is long gone (since I switched approaches to aquery). Sorry. It probably needs a more transitive case to trip it, like the other issue linked.

I think the next move is to just play around wi

[2021-06-21 04:35] achew22 commented on #7444
Friendliest of pings. Are there any updates on this?

[2021-06-21 08:43] eustas commented on #13545
Similar problems when using external dependencies.
E.g.:
[code]
in WORKSPACE file will cause problem in BUILD file:
[code]
Unless `bazel_skylib` is imported again in project WORKSPACE.

[2021-06-21 09:43] lberki commented on #8319
I'm not sure if this answers your question, but if an action does not discover inputs, there is no need to distinguish between inputs and declared inputs and since the inputs already go into the cache key, there is no need to call `getDeclaredIncludeSrcs()` in `computeKey()`.

[2021-06-21 13:29] pancwchengwei commented on #11649
"In the meantime, I will create a script that overrides these environment variables before it runs Bazel."
how to do this? I faced the same question as you.

[2021-06-21 13:44] laszlocsomor commented on #11649
@pancwchengwei : here's an idea:
1. create a script called `bazel.bat`:
[code]

    (Replace the paths above as needed.)

2. Save the file under `C:\Windows` (or in some directory that's on your PATH)

[2021-06-21 13:59] pancwchengwei commented on #11649
Thank you very much！
Solve the problem perfectly！

[2021-06-21 15:24] katre commented on #13565
This is not a configurability issue. Re-assigning to Local Exec.

[2021-06-21 20:47] philsc commented on #13558
Can we get 9868455f017ddf00eaef02cb52551b45212d4136 and d052ececddf54587c576f876ce13d4b8f4aacb0b cherry-picked?
The former is required for the latter to apply cleanly.

[2021-06-21 23:40] misterpickypants opened #13593 "Bazel analysis phase re-evaluates if the WORKSPACE file is touched but not changed."
### Description of the problem / feature request:

Bazel analysis cache appears to be re-evaluated if the WORKSPACE file is touched (but not changed), significantly slowing the bazel execution when no changes have been made. This appears to happen even if the modification & access times of the file do not change.

The impact of this in our internal repo is significant during development. Running g

[2021-06-22 06:25] #12554 closed

[2021-06-22 06:39] coeuvre commented on #13565
Just encountered this error locally when trying to build a bazel binary:

[code]

[code]

[2021-06-22 07:05] ashi009 commented on #7664
Our profiling shows that the remote cache latency plays a huge part in build performance. It seems that the cache checking uses the same thread as the action runner, hence, a slow remote cache will slow down all the build actions.

A simple approach to this issue is to introduce a dedicated thread pool for all remote cache interaction.

[2021-06-22 07:35] philwo commented on #7664
FYI @coeuvre

[2021-06-22 07:38] coeuvre commented on #11063
This behavior is a side-effect of https://github.com/bazelbuild/bazel/commit/cc2b3ecb9283ebdb297fc3fb6407f4697c850ac2:

[code]

`chunker.getSize()` will return 0 if the blob is zero-size in which case Bazel wouldn't call the upload function.

IIUC, the change didn't intend to optimize away uploading zero-sized blob. Otherwise, we should add the special case handling at `RemoteCache` just like what

[2021-06-22 07:40] coeuvre commented on #13349
#11063 mentioned that Bazel optimized away uploading zero-sized CAS blob (sha256 = e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855) to grpc cache but it's not true for http cache. I will work the fix to skip uploading zero-sized blob to other cache backends.

[2021-06-22 07:44] philwo commented on #13565
FYI @larsrc-google

[2021-06-22 08:14] coeuvre commented on #7664
@ashi009 We have a thread pool for gRPC calls but are block waiting on the result inside the spawn runner. One thing we can certainly improve is to change remote spawn runner to the non-blocking fashion but I doubt that will improve the overall performance - it depends. If your build doesn't have actions that are waiting for available action execution thread (defined by `--jobs`), changing to non-

[2021-06-22 09:43] larsrc-google commented on #13565
FYI @cushon

[2021-06-22 10:06] illicitonion commented on #8250
I had a go at implementing some support for this, specifically by allowing rewinding in more places, but ran into an issue I'd love to get some feedback on.

The issue I was trying to address was runfiles needing to be uploaded after eviction, having not been downloaded. A simple repro is to make a `go_binary` rule, build it remotely with `--remote_download_minimal`, flush the remote storage, edit

[2021-06-22 12:18] lberki commented on #8319
Argh, I should have been more clear :( Re-reading the above thread, I wasn't.

Let me try again: it's true that there is no need to add `getDeclaredIncludeSrcs()` to the key of the action in *Bazel* because include scanning is hard-disabled there, but there is a good reason to add it in *Blaze* (our internal version): there, we do have include scaning and thus we are vulnerable to the correctness

[2021-06-22 13:04] illicitonion commented on #8250
Thanks - as far as I can tell there's not much documentation for this corner, would it simply have to do nothing in `noteInconsistencyAndMaybeThrow` (and return `true` for `restartPermitted`), or would it need to do something more effect-ful?

[2021-06-22 13:18] janakdr commented on #8250
That's correct. Ideally you'd check the Inconsistency reason: "missing
children" inconsistencies are not expected solely from rewinding, but it's
fine to ignore everything if you're experimenting.

[2021-06-22 14:12] #13421 closed

[2021-06-22 16:24] gregestren commented on #13591
This is true for most flags (not just Starlark flags).

I agree that we should expand the benefit of `--test_filter` / `--trim_test_configuration` further. My understanding is it's not quite trivial. For example: https://github.com/bazelbuild/bazel/blob/4801bf52d60161953b2d0e28c1b51262153d74c0/src/main/java/com/google/devtools/build/lib/skyframe/SkyframeBuildView.java#L327-L332

The referenced bug

[2021-06-22 16:44] shortcipher3 opened #13595 "Support for Bazel 3.7.2 on aarch64"
### Description of the problem / feature request:

I am building tensorflow-lite on aarch64 Fedora 32 with `bazel`.  `bazel` suggests I download a binary, but when I attempt to download I get a 404.

[code]

### Feature requests: what underlying problem are you trying to solve with this feature?

Trying to build tensorflow-lite on aarch64 Fedora 32, I followed the instructions provided in the baze

[2021-06-22 17:05] gregestren commented on #7444
I know @aiuto's semi-offline this week. I'll check in to make sure you get an update.

[2021-06-22 19:19] sketchc89 commented on #12151
What are you actually unmounting when you manually unmount sandboxfs? I ran into the same error, but looking at `/proc/mounts` I don't see sandboxfs or anything like it.

[2021-06-22 20:57] keith opened #13596 "cc_import ignored by Objective-C linking logic"
If you have a `cc_import` that's depended on by a binary that goes through the `apple_common.link_multi_arch_binary` codepath, it appears that the necessary `rpath` is ignored, unlike when you link something with `cc_common.link` and one is added.

Here's a repro case [dylibrepro.zip](https://github.com/bazelbuild/bazel/files/6697331/dylibrepro.zip)

The gist is that we have this setup:

[code]

W

[2021-06-22 20:57] keith commented on #13596
cc @googlewalt

[2021-06-23 02:37] uri-canva commented on #13591
We have two use cases:
1. We use https://github.com/ash2k/bazel-tools/tree/master/multirun to install multiple docker images in the same `bazel run` command. In this case the build setting is used by the top level target.
2. We use build settings to customise some docker images (currently not part of the multirun). They are also top level targets.

If we wanted to combine `1` and `2` then we might

[2021-06-23 05:29] dieend commented on #10075
Hi, we use bazel and use the volatile-status to generate the Kubernetes YAML, and add the commit info to the Kubernetes object metadata. If the generated container image doesn't change on a newer commit, we don't expect the YAML info to change. It's important to have volatile-status work as documented when using remote-cache for us.

Even if we stamp it very late, it'll trigger unnecessary rollout

[2021-06-23 12:08] matthewjh commented on #13187
Can someone please take a look at this? Caught us out, too, as our CI and dev machines use different Windows versions.

@carpenterjc: what workaround are you using?

[2021-06-23 14:13] LakshmiRavichandran1 opened #13597 "Unable to bootstrap Bazel on Z platform"
### Description of the problem / feature request:

Unable to bootstrap Bazel on Z platform.
The instructions at https://docs.bazel.build/versions/main/install-compile-source.html#bootstrap-bazel has been followed.
The build fails with errors stating _'external/upb/upb/table.c:742:15: error: this statement may fall through [-Werror=implicit-fallthrough=]'_ .

### Feature requests: what underlying p

[2021-06-23 21:31] Akhil22222 opened #13598 "Problems with bazel on windows when --output_user_root contains a space in the path."
### Description of the problem / feature request:

F:\kibana-Development\bazel-src>bazel build //src:bazel-dev.exe
WARNING: Output user root "C:/Users/TEMP/_bazel_akhil patel" contains a space. This will probably break the build. You should set a different --output_user_root.
Extracting Bazel installation...
Starting local Bazel server and connecting to it...
... still trying to connect to local B

[2021-06-23 23:55] keith opened #13599 "json persistent workers GA / --experimental_worker_allow_json_protocol removal"
JSON support for persistent workers launched a few months ago https://blog.bazel.build/2020/11/11/json-workers.html I'm curious what the criteria are for `--experimental_worker_allow_json_protocol` to no longer be required so we can use this in rules without having to force that flag on users?

[2021-06-24 00:43] cpsauer opened #13600 "@bazel_tools//tools/zip:zipper replaces zip contents instead of adding"
### Description of the problem:

Bazel's zipper tool, `@bazel_tools//tools/zip:zipper` has a `c` subcommand that is documented as adding files to the archive, presumably creating the archive if needed. Instead, it seems to delete all existing entries in the archive before adding the new ones.

[Documented in [source](https://github.com/bazelbuild/bazel/blob/c0f0f8df62ec7e0aef37846be82ee34f562230c2

[2021-06-24 01:21] RajivKurian opened #13601 "Bazel build fails if the output_user_root is a directory in the workspace"
### Description of the problem / feature request:

If Bazel is given an output_user_root (via the __output_user_root startup option) that points to any child directory of the workspace directory, a build fails with cryptic messages

### Feature requests: what underlying problem are you trying to solve with this feature?

Not a feature request

### Bugs: what's the simplest, easiest way to reproduc

[2021-06-24 03:18] sandrobusse opened #13602 "Documentation issue: Common C Build Use Cases"
Documentation URL: https://docs.bazel.build/versions/main/cpp-use-cases.html

Dear bazel community,
The [link](https://docs.bazel.build/versions/be/functions.html#glob]) to the documentation for the `glob` keyword seems broken. Could you please fix it?

![image](https://user-images.githubusercontent.com/16519781/123197153-b38aa180-d4dd-11eb-8789-924dfce73e13.png)

[2021-06-24 03:45] RajivKurian commented on #13601
There was a user error involved :)

[2021-06-24 04:19] aiuto commented on #13599
/cc: @susinmotion

[2021-06-24 04:25] aiuto commented on #13601
This seems like a documentation problem. It is not allowed but we don't say that on https://docs.bazel.build/versions/main/command-line-reference.html

[2021-06-24 04:30] susinmotion commented on #13599
cc: @larsrc-google
There are some changes to the worker protocol in progress, and we wanted to wait for those to be in place before flipping, then removing, the flag. Since we're not currently enforcing that JSON workers be tolerant of unknown fields in the work request, we were afraid we'd break JSON workers by changing the protocol.

Other things we considered were adding an arbitrary field to t

[2021-06-24 06:43] chsigg opened #13603 "Unexpected evaluation order of user defined flags"
### Description of the problem / feature request:

User flags on the command line, expanded from command line configs, and from platform-specific configs are not applied in the correct order.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

**build_defs.bzl**:
[code]

**BUILD**:
[code]

**.bazelrc**:
[code]

**Repro 1**
`--enable_pla

[2021-06-24 10:09] comius commented on #13409
There are two open PRs failing on RBE, zipalign issue, https://buildkite.com/bazel/rules-jvm-external-examples/builds/1884#321c38ff-91c5-43fc-b54f-1a02316d3c91

Is this a infrastructure or caching problem? cc @philwo, @meteorcloudy

[2021-06-24 10:35] meteorcloudy commented on #13409
This looks like the same issue in https://github.com/android/testing-samples/issues/387 which happens without RBE, I'll do some debugging.

[2021-06-24 15:31] meisterT commented on #13599
I assume the JSON protocol is basically just push a dict over the wire. Unknown keys in the dict should not hurt any worker implementation, unless they specifically check for it.

[2021-06-24 15:42] susinmotion commented on #13599
Our own test workers weren't resilient to extra fields! :P

I'm comfortable flipping the flag but I defer to Lars's sense of risk.

[2021-06-24 16:32] larsrc-google commented on #13599
Our own workers aren't actually quite resilient yet, AFAICT.

[2021-06-24 16:33] keith commented on #13599
Is the thought that at the time of flipping this flag we would never again add fields though? based on the docs I believe that workers _should_ be resilient to this and therefore that doesn't particularly have to affect this flip

[2021-06-24 16:35] larsrc-google commented on #13599
Oh, there will be more fields. Sandboxing for multiplex workers will require another field. And who knows what the future will bring? I definitely don't want to tie us to a frozen protocol.

[2021-06-24 17:56] brandjon opened #13605 "Allow dict(), **, and | to operate on non-dict mappings"
Currently, `dict(v)` allows `v` to be either an iterable of key-value pairs, or another dict object whose entries get included into the new dict. We should additionally allow `v` to be a non-dict mapping. In Bazel an example of such a type would be `OutputGroupInfo`.

See bazelbuild/starlark#198 for the corresponding spec change.

Implementation wise, following the precedent of `StarlarkIterable`

[2021-06-24 17:58] aiuto commented on #13599
I'm going to raise Keith one.   Workers *must* gracefully handle fields
they don't understand.
That should be a requirement for any code in any project that reads
serialized data.

On Thu, Jun 24, 2021 at 12:35 PM larsrc-google ***@***.***>
wrote:

[2021-06-24 18:02] larsrc-google commented on #13599
Yes, we should be specific about that in the worker docs. We aren't quite.

[2021-06-24 18:05] keith commented on #13599
https://github.com/bazelbuild/bazel/pull/13606

[2021-06-24 19:11] keith commented on #13599
I submitted https://github.com/bazelbuild/bazel/pull/13607 in case we decide we're ready for this

[2021-06-24 19:27] wolfd commented on #11371
Being able to debug a test interactively seems like a pretty crucial feature for non-build-system-developer usability. I would love an `--interactive` flag that makes it easy to do this. What's the path something like that would need to take to get implemented? Is this something that would require a design doc?

[2021-06-24 19:36] wolfd commented on #13599
One thing I would love to change about the current JSON workers is the lack of a newline between work requests. I found it fairly cumbersome to write a python worker without this. Since the JSON is not pretty-printed, the only newlines in the stream should just be between work requests, and that would allow using `.readline()` on the file in python to get a complete request.

Right now this was th

[2021-06-24 19:38] keith commented on #13599
+1, I had the same problem but it's much worse in C++ https://github.com/bazelbuild/rules_swift/pull/657/files#diff-3897cb43ae588be2d9a1916486c372cb601c7391efb43e17462a323a4296d95eR85

[2021-06-24 20:29] larsrc-google commented on #13599
Hand-writing a JSON parser in C++ for this seems like a recipe for subtle errors. And I could imagine some line reading implementations that have limits on the line length shorter than we may end up needing.

[2021-06-24 20:32] keith commented on #13599
This isn't hand writing the parser, just the logic for reading the input from stdin

[2021-06-24 22:57] jadacyrus commented on #471
Sorry! what is the solution for this? Upgrade to a newer version of Bazel? I am also experiencing this issue on version 0.22.0.

[2021-06-25 00:59] aiuto commented on #13599
All text protocols should terminate each individually parseable block with
a newline on transmission, and accept any number of newlines as whitespace
on reading.  That is simply internet protocol best practice.
OTOH in JSON you must be able to receive pretty printed input, so a simple
readline is not sufficient either.  You have to do multiple reads until you
get a complete expression.

Can someon

[2021-06-25 03:25] aiuto commented on #13603
I don't think of this as "incorrect", so much as "what it does is not what most people would expect.
The point about platform specific flags is a secondary issue.

So we really have one or more issues.
- should enable_platform_specific_config go into effect when it appears in the command line or before any other flags are processed
- why is enable_platform_specific_config even an option. IMO we sh

[2021-06-25 06:18] meisterT commented on #13599
I thought we would use NDJSON to write those messages out. If not, my opinion is that we should in the future do so and describe it in the docs.

[2021-06-25 12:18] junniest opened #13610 "Bazel build fails on MacOS starting from version 4.0.0."
### Description of the problem / feature request:

Bazel build fails on MacOS starting from version 4.0.0.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

The bug can be reproduced on https://github.com/yarcat/bazel-experiments by running:
`bazel build --sandbox_debug :all `
on MacOS BigSur with any version of Bazel >= 4.0.0.

The b

[2021-06-25 13:45] makingglitches opened #13611 "Bazel doesn't build with openjdk 11 Release 4.1.0 (2021-05-21)"
So...

I set JAVA_HOME same error.

[2021-06-25 14:12] makingglitches commented on #13611
Setting javahome and path results in this:
This is a source release.

[2021-06-25 15:25] gregestren commented on #13464
@sdtwigg will offer some guidance on what's going on for your build.

[2021-06-25 15:44] aiuto commented on #13599
What is NDJSON?

On Fri, Jun 25, 2021 at 2:19 AM Tobias Werth ***@***.***>
wrote:

[2021-06-25 15:59] hevrard opened #13612 "Prefer ANDROID_SDK_ROOT to ANDROID_HOME"
### Description of the problem / feature request:

Bazel uses `ANDROID_HOME` to lookup the SDK, as documented in https://docs.bazel.build/versions/main/tutorial/android-app.html#integrate-with-the-android-sdk

However, Android Studio and other command-line tools have deprecated `ANDROID_HOME` in favor of `ANDROID_SDK_ROOT`: https://developer.android.com/studio/command-line/variables#envar

In orde

[2021-06-25 16:20] larsrc-google commented on #13593
The simple change would be to hold a checksum of the contents. Slightly more advanced would be holding a checksum or similar of the parsed contents, so changes to comments don't trigger reanalysis either. The former solution ought to cover your use case and is definitely simpler.

[2021-06-25 16:56] makingglitches commented on #13611
Strange repo organization,   need to download the archive with -dist as its suffix before even beginning to build is possible.
This needs to be added to the documentation. Its not there.

[2021-06-25 16:56] #13611 closed

[2021-06-25 17:00] makingglitches opened #13613 "C++ STL class not found when compiling 4.1.0 "std::numeric_limits does not exist""
Hello.
Building this on Fedora 34.
OpenJDK version is 11.

Build of dist package kicks off erroring out at the following.

INFO: From Compiling src/google/protobuf/message_lite.cc [for host]:
In file included from /usr/include/string.h:519,
                 from external/com_google_protobuf/src/google/protobuf/stubs/port.h:39,
                 from external/com_google_protobuf/src/google/protobuf/

[2021-06-25 17:25] fweikert opened #13614 "Status of Bazel 5.0.0-pre.20210615.3"
- Expected release date: June 25th

Task list:

- [x] Pick release baseline: e7bd0947ab552a26ec032d0f1a50ee15c8810f6c with cherrypicks 04bed291c9f56163ae4da3a358d71cf8399b47a4 367b19eb8821b4de738c6c994ba275c695f4726b 4acb9ae67a7135b2365b92e91601d4797adc2ad5
- [x] Create release candidate: https://releases.bazel.build/5.0.0/rolling/5.0.0-pre.20210615.3rc1/index.html
- [x] Post-submit: https://build

[2021-06-25 18:59] ron-stripe commented on #12904
I see it too when mixing remote with workers when using dynamic.---8<---8<--- Exception details ---8<---8<---
java.io.FileNotFoundException: /private/var/tmp/_bazel/a9c5c6412b075cac44add7ca183b7f52/execroot/com_stripe_uppsala/bazel-out/host/bin/src/xxxxx/XXXXXGenerator.jar-0.params (No such file or directory)
	at com.google.devtools.build.lib.unix.NativePosixFiles.stat(Native Method)
	at com.googl

[2021-06-25 19:29] makingglitches commented on #13613
This is literally happening because this is not in any file named limits.h on my entire system !
Which is fedora 34 !

[2021-06-25 19:29] #13614 closed

[2021-06-25 19:45] misterpickypants commented on #13593
Not knowing very much about the bazel internals, I would expect that the file system watcher that detects writes to cached files to invalidate them could store a checksum of such files and, after any writes, only invalidate if the checksum changes. 🤷‍♂️

[2021-06-25 19:45] makingglitches commented on #13613
https://stackoverflow.com/questions/19165934/where-is-the-limit-h-file-that-defines-the-template-numeric-limits

That is ridiculous.

The error is fixed when changing the line

#include <limits.h>

in the the file  third_party/ijar/zlib_client.h

to

#include <limits>

this however is not the end of the errors.

[2021-06-25 19:51] makingglitches commented on #13613
Gets better. recompilation results in:

The source needs both.   Waiting on the end results of recompilation.

[2021-06-25 19:58] makingglitches commented on #13613
The two don't play nice.
when I include limits and limits.h in the same file the original error returns.

[2021-06-25 19:58] makingglitches commented on #13613
Not a c++ guy btw so. just saying.

[2021-06-25 21:36] makingglitches commented on #13613
moving some things around from zlib_client.cc to zlib_client.h  solved the compilation issue.  However then another error was encountered seemingly related to the same thing.

If I had to clasify this issue I'd say that it relates to differing version of the STL lib. God knows what version its compiling against since literally this is the first time I've compiled a package on Linux and had these s

[2021-06-25 22:09] makingglitches commented on #13613
From the look of things this source doesn't persist after the build is terminated.  So this is a little more annoying at first glance than a simple find and replace and some code reorganization.

[2021-06-26 00:37] v3n opened #13615 "Support piping targets to Bazel"
### Description of the problem / feature request:

I'd like to be able to pipe targets into Bazel.

Example:
[code]

### Feature requests: what underlying problem are you trying to solve with this feature?

This would allow us to simplify our build scripts/make quickly iterating on the command line easier. Right now we have to wrap our bazel invocation in a script converts the output of 'query' in

[2021-06-26 01:05] v3n opened #13616 "Bazel crashes if piped to command that closes exits early"
### Description of the problem / feature request:

Bazel crashed while unable to write to stdout. I would expect Bazel to close with an error instead of crashing, as the crashing behavior clears the analysis cache.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

I reproduced it by piping an `acquery` call to a `jq` pipeline that fai

[2021-06-26 05:15] keepingupwithdeeplearning opened #13617 "Unable to install jaxlib on Windows using bazel"
![Screenshot (54)](https://user-images.githubusercontent.com/32151860/123502615-196b5a80-d691-11eb-9dc7-ae2ca40d81b5.png)

If I use bazel 4.1.0, I get the following cpu related error:

![Screenshot (55)](https://user-images.githubusercontent.com/32151860/123502704-b8905200-d691-11eb-8247-afe86d11383e.png)

[2021-06-26 07:39] limdor opened #13618 "Warning message not consistent with BULD Style Guide"
### Description of the problem / feature request:

In the BUILD Style Guide in the section [other conventions](https://docs.bazel.build/versions/main/skylark/build-style.html#other-conventions) you can find the following text:

However in some cases Bazel prints a message like:
`setting 'linkstatic=1' is recommended if there are no object files`

This feels kind of contradictory with the recommend

[2021-06-26 13:07] mahmoudimus commented on #13605
Hi @brandjon - happy to take a stab at a PR to support this if you’re up for it.

[2021-06-26 15:41] jesec commented on #13558
Please consider:

- bcce6dd026e90336e80616a8c1004a79a2f8640c (#12460)
- 1c29dff364fd34d7e6158c812cfd6d96f66be747 (#12683)
- 52b517f223e98e9c538fa945e43b7eecdc7c9cdc

Thanks.

[2021-06-26 19:06] Slowki opened #13619 "--fdo_optimize Error: @bazel_tools//tools/zip:unzip_fdo doesn't exist"
### Description of the problem:

When building with `--fdo_optimize` I get the following error.
[code]

It seems like this problem might have been introduced by 7f7346bb0d343899e84056b99af361c621ac030c which adds `unzip_fdo` to `tools/zip/BUILD` but not `tools/zip/BUILD.tools`.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Using B

[2021-06-27 02:08] philsc commented on #12897
I feel like I'm close.

@gregestren , I need a way to convert the `Label`s from `ConfiguredAttributeMapper` to either `ConstraintValueInfo` instances or `<? extends ProviderCollection>` instances. See the `MAGIC` note in my current hacky commit:
https://github.com/philsc/bazel/blob/ab10d8621c79b0c22329af3674a1de2566392129/src/main/java/com/google/devtools/build/lib/skyframe/ConfiguredTargetFunctio

[2021-06-27 02:51] dgp1130 commented on #4092
Ran into this problem myself today (https://github.com/dgp1130/rules_prerender/commit/cc89f55f3c5b7e8ba900866fbf1359f0b876c210) and had to make some awkward compromises to my desired API to make it work. Are there any objections to adding a new `native.workspace_name()` function which works identically to `ctx.workspace_name()` (just returns the name of the current package's workspace)? That would

[2021-06-27 04:42] whs commented on #12964
I believe I might be affected by this with [pf4j](https://github.com/pf4j/pf4j/blob/d18706e9d0efec02e6b543a2c3f1110f260ab8ec/pf4j/src/main/java/org/pf4j/processor/LegacyExtensionStorage.java#L67)

[code]

I expect to have `META-INF/extensions.idx` in the resulting jar but it does not show up

[2021-06-27 11:32] philsc commented on #12897
Actually, it looks like the following code works to determine the equivalent `TransitiveInfoCollection` targets:
https://github.com/philsc/bazel/blob/66091e57c46540400d354172adf1c01bb27de994/src/main/java/com/google/devtools/build/lib/skyframe/ConfiguredTargetFunction.java#L346-L401

So I think we have a way to detect direct incompatibility. Now we just need to call `RuleContextConstraintSemantics

[2021-06-27 16:22] aiuto commented on #13598
Can you first try with a different output root

[2021-06-27 16:29] aiuto commented on #13613
Are you trying to build bazel from source or trying to build something else with a pre-built bazel?

[2021-06-27 16:31] aiuto commented on #13615
What about
[code]

[2021-06-27 16:36] aiuto commented on #13617
Can you provide a short set of steps to reproduce this issue.

[2021-06-27 21:36] makingglitches commented on #13613
I was trying to build bazel from source to build something else because Bazel is not in my distros package repo

Amusingly the generic x86-64 package actually runs on my comp giving me a working install. I didn't expect this to be the case

Now tensorflow build is suffering from some of the same issues and more

In that case I recognized the sources dragged down into an externals subdirectory are

[2021-06-27 21:39] makingglitches commented on #13613
Of interest one of the problems in tensorflow is being caused by the same source file related to the com_Google package

[2021-06-28 01:42] coeuvre commented on #13616
Duplicate of https://github.com/bazelbuild/bazel/issues/13512. Fixed by https://github.com/bazelbuild/bazel/pull/13521. The fix should be included in the coming release 4.2.0. Closing.

[2021-06-28 01:42] #13616 closed

[2021-06-28 02:08] coeuvre commented on #13558
Please include following commits for remote execution (in committed order):

- [ ] ae53991f2e Remote: Add RemoteExecutionService as a layer between spawn execution and remote execution.
- [ ] cd477f266e Pass only the top-level artifacts to `ExecutorLifecycleListener` and make the computation more efficient.
- [ ] 1e803abc29 Remove default build options.
- [ ] 275c54c982 Change the signature of tre

[2021-06-28 03:01] coeuvre commented on #13378
You can use `--remote_header` to pass authorization header. If your server accept username and password, `.netrc` can also be used.

[2021-06-28 03:02] coeuvre commented on #13378
As far as I know, wine is not supported.

[2021-06-28 03:31] keepingupwithdeeplearning commented on #13617
I'm building jaxlib on Windows10 from source:
[https://jax.readthedocs.io/en/latest/developer.html#building-jaxlib-from-source](url)

After downloading jaxlib source code and installing bazel 4.0.0 and msys2, I used the following command :

python .\build\build.py --enable_cuda --cuda_path="C:/Program Files/NVIDIA GPU Computing Toolkit/CUDA/v10.1" --cudnn_path="C:/Program Files/NVIDIA GPU Computin

[2021-06-28 05:01] jin commented on #13593
cc @Wyverald @meteorcloudy

I'm not familiar with the internals of WORKSPACE parsing or sharding either. cc'ing some folks who were most recently working on the external deps overhaul.

[2021-06-28 05:42] kekxv commented on #13378
is working.

https://github.com/bazelbuild/bazel-buildfarm/issues/756#issuecomment-847890721

[2021-06-28 05:43] kekxv commented on #13378
wine is working, https://github.com/bazelbuild/bazel/issues/13378#issuecomment-823707998 like cannot read file?

[2021-06-28 06:16] meisterT commented on #13599
See http://ndjson.org/

[2021-06-28 06:59] meteorcloudy commented on #13593
Thanks for reporting and the reproduce case! Sounds like a problem we can fix, @Wyverald we should also make sure our new Bzlmod system doesn't have this problem.

[2021-06-28 08:03] meteorcloudy commented on #13593
@misterpickypants I did some debugging, it turned out Bazel always try to re-fetch repository rules marked as "local = True" whenever the  WORKSPACE file value changes.

The overhead in your reproduce case come from:
https://github.com/bazelbuild/bazel/blob/af42653e6f6bd229142f4678bb256a8c397b4d8d/tools/osx/xcode_configure.bzl#L282
and
https://github.com/bazelbuild/bazel/blob/af42653e6f6bd229142f4

[2021-06-28 08:46] oquenchil commented on #13619
Hello @atdt, your original change seems to be the culprit, could you please take a look? Thanks!

[2021-06-28 12:43] ulfjack commented on #13185
This also happens with 4.1.0 and `java_test` so it's not specific to `cc_test`.

[2021-06-28 14:34] brentleyjones opened #13621 "`no-remote` and `no-remote-cache` are affecting the disk cache"
### Description of the problem / feature request:

When an action is tagged with `no-remote` or `no-remote-cache`, it's not properly using the disk cache. Only with `no-cache` should it exclude the disk cache as well.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[code]

The second build won't check the disk cache.

### What opera

[2021-06-28 15:29] achew22 commented on #7444
Friendly ping on this

[2021-06-28 17:47] junyer commented on #11554
Would it be fair to say that PR https://github.com/bazelbuild/bazel/pull/11434 addresses this issue as well as issue https://github.com/bazelbuild/bazel/issues/8685?

[2021-06-28 21:13] aiuto commented on #13617
You should ask this question wherever jaxlib go for support. Someone would have to trace down their build.py script and understand that to make any useful comments. That is not something the Bazel team would know about.

[2021-06-28 21:13] #13617 closed

[2021-06-29 01:45] kekxv opened #13622 "When I use `toolchain`, it should be choosen `@platforms//os:windows` instead of `@platforms//os:osx`."
When I use `toolchain`, it should be choosen  `@platforms//os:windows` instead of `@platforms//os:osx`.

[code]

[2021-06-29 07:45] meteorcloudy commented on #13549
Envoy is green in downstream again~

[2021-06-29 07:45] #13549 closed

[2021-06-29 07:46] meteorcloudy commented on #13541
@leah-jo Hopefully upgrading Bazel can be a solution for you. I'll close this issue since we have no plan to provide arm64 Linux binary for older Bazel versions.

[2021-06-29 07:46] #13541 closed

[2021-06-29 14:42] comius commented on #13475
I'm confirming this is a bug. Since it has an easy workaround I've set it to P3 - will be accepting fixes.

[2021-06-29 15:28] larsrc-google commented on #13565
@coeuvre How reproducible is this? Have you tried reproducing it outside of BuildKite?

[2021-06-29 18:22] gregestren commented on #12897
That all looks about right to me.

I'd even bypass `resolveConfiguredTargetDependencies`, which has a bunch of extra logic you don't really need for this, and try going directly for calling another `ConfiguredTargetFunction` for the dep. For example, this pattern:

https://github.com/bazelbuild/bazel/blob/b3aacbbcf9c499a0493908ee14dce66a9834a52b/src/main/java/com/google/devtools/build/lib/skyframe

[2021-06-29 18:27] gregestren commented on #12897
Here's another example of translating `ConfiguredTargetKey`s into `ConfiguredTargetAndData`s:

https://github.com/bazelbuild/bazel/blob/e362fc9370f018bdf55ec7158ca420e3e6c18e25/src/main/java/com/google/devtools/build/lib/skyframe/PlatformLookupUtil.java#L68

https://github.com/bazelbuild/bazel/blob/e362fc9370f018bdf55ec7158ca420e3e6c18e25/src/main/java/com/google/devtools/build/lib/skyframe/Platfo

[2021-06-29 19:15] av8ramit opened #13623 "Default remote config toolchain invocation"
### Description of the problem / feature request:

We are looking to use the default remote config toolchain with a CPU only build. What is the proper way to invoke this?

### Feature requests: what underlying problem are you trying to solve with this feature?

Use the CPU only toolchain for CPU builds on TensorFlow RBE presubmits.

### What operating system are you running Bazel on?

Linux Ubuntu

[2021-06-29 19:15] av8ramit commented on #13623
Adding @mihaimaruseac as well.

[2021-06-29 21:10] #13304 closed

[2021-06-30 04:22] coeuvre commented on #13565
I just encountered this error once on my Macbook recently when building Bazel normally with command `bazel build //src:bazel`.

[2021-06-30 04:43] aiuto commented on #13613
I don't know where to help here. This most likely an interaction with whatever compilers that your Fedora distro is selecting vs. what Bazel's and/or Tensor Flow expects.
- You might try on the TensorFlow lists.
- you might try a different compiler (clang instead of gcc)
- you might try a slightly older/newer version of gcc

[2021-06-30 06:45] chsigg commented on #13603
It looks inconsistent to me in the current form. Looking at issue #10781, `--enable_platform_specific_config` is either expanded first or in-place. For repro 1 here, it is expanded after `--config=config` or last.

This is beyond my bazel knowledge, but aren't `--config`s and `.bazelrc` entries just command line flags and therefore agnostic to platforms? Are you saying `build:windows --platforms=/

[2021-06-30 08:41] jheaff1 opened #13624 "Executable http_file is not runnable"
### Description of the problem / feature request:

Files downloaded using `http_file` and marked with `executable = True` cannot be run using `bazel run`.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Add the following to the WORKSPACE file:

[code]
Run buildifier using `bazel run @buildifier//file`, and the following error occurs

[2021-06-30 09:59] michael-lefkowitz-techlabs commented on #12117
Still would like to see this one fixed. I've written a script to try to discover unused Bazel deps, and it involves running `bazel test` and `bazel build` quite a few times. I'd like to see any ERROR logs, and progress, but not any of the other logging.

[2021-06-30 11:31] loshca opened #13625 "Build artifacts are missing with "--remote_download_toplevel" cache option"
### Description of the problem / feature request:

Assume we have two targets, one dependency of another:
[code]

If we get `cat` target from cache with `--remote_download_toplevel`: `bazel build cat --disk_cache=D:\bazel_disk_cache --remote_download_toplevel`, then we will not be able to get output for `echo` with `bazel build echo --disk_cache=D:\bazel_disk_cache --remote_download_toplevel`. Ins

[2021-06-30 11:34] larsrc-google commented on #13565
Excellent! Can you tell me what you had in applicable `.bazelrc`s? If I get a close enough repro, I can just set my MacBook to try until I get a failure.

[2021-06-30 11:47] makingglitches commented on #13613
There is a solution that could be added to the code itself
If the compiler is defined as a symbol these files could have only a slight edit made adding a preprocesser statement
#ifdef enclosing the #include statements that are causing the problem

Why it's defining use prior to definition and on what compiler this would work I have no idea but that's what it's doing

[2021-06-30 11:52] AndroidInternal commented on #10117
ping..

Same problem.

[2021-06-30 13:23] illicitonion commented on #13428
This was fixed by https://github.com/bazelbuild/bazel/commit/20aff82091125f1d8dced5aa36069ef5ae730878

[2021-06-30 13:23] #13428 closed

[2021-06-30 14:25] loshca commented on #13625
Probably we need a little bit more complicated logic with [shouldTrustRemoteArtifacts](https://github.com/bazelbuild/bazel/blob/300c11ef5eb00978cbaa4d3a14ccfee10d9c87f8/src/main/java/com/google/devtools/build/lib/vfs/OutputService.java#L85).

[2021-06-30 15:28] Devatoria commented on #1346
Any news about that? It seems a legit use case to be able to glob on files exported by another module through `exports_files`, no?

[2021-06-30 16:26] jayeye commented on #4815
*bump*

This has been open for over three years; the workarounds specify deprecated flags.

[2021-06-30 18:37] jlaxson opened #13626 "Running a cc_test should respect its toolchain's target_compatible_with"
### Description of the problem / feature request:

I'm not sure if this is a bug or a pebkac or a works as intended.  In a cross compile environment, imagine I have two platforms:

[code]

and run it as

[code]

I see that the test gets built using the target toolchain (//:my_toolchain).  But when bazel goes to run the test, it seems to pick the first execution platform //:exec, even though that p

[2021-06-30 21:30] gregestren opened #13627 "Provide shorthand syntax for noop transitions"
### Description of the problem / feature request:

Implementing a transition noop is laborious.

### Feature requests: what underlying problem are you trying to solve with this feature?

Lots of boilerplate code required to literally do nothing.

This is actually a common pattern, so this isn't just theoretical. For example, a transition may apply to all `foo_*` rules (like `foo_binary` and its tr

[2021-06-30 22:34] gregestren commented on #13317
Just FYI @sdtwigg and I have been actively discussing this theme recently.

I think we're going to formally up-prioritize this in the new quarter (July+).

[2021-07-01 00:04] aiuto commented on #13613
But what code?  This seems to be in multiple upstream and downstream projects. That leads me to think the root case is somewhere between the default ways bazel builds c++ toolchains, the compilers available for fedora 34, and the choices of which of the possible available versions are actually installed.

[2021-07-01 01:06] cpsauer commented on #3778
Should this have been closed by #12749?

(Happened across these while searching after running into the bug--fix still unreleased, I think, right?)

[2021-07-01 01:46] #13229 closed

[2021-07-01 01:54] coeuvre commented on #13625
IIUC, in your example, the second command for `echo` is ran right after the first one for `cat`. In this case, the ActionCache checked that no change between these two commands so the action will not be re-executed. Since downloading outputs only happens within action execution, the output of `echo` will not be downloaded.

This is a known issue and I am working on it. https://github.com/bazelbuil

[2021-07-01 02:08] coeuvre commented on #13565
I didn't introduce any extra flags with `.bazelrc`. The repro should be (did't test though):
1. Get bazel 4.1.0
2. Clone https://github.com/bazelbuild/bazel
3. Build `bazel build //src:bazel`
4. If no error, clean and go back to 3.

[2021-07-01 07:34] hlopko commented on #13275
What is the reason for that?

[2021-07-01 08:33] meteorcloudy commented on #1346
@lberki Any idea on this? I guess we don't support this for a reason?

[2021-07-01 09:56] thna123459 opened #13631 "bazel FATAL: corrupt installation"
### Description of the problem / feature request:

Observed on several CI instances today:
[code]

Recovering from the error requires manual intervention.

### Feature requests: what underlying problem are you trying to solve with this feature?

Bazel should be able to recover from the error without requiring manual intervention (`bazel clean` and `bazel clean --expunge` fail).

### Bugs: what's t

[2021-07-01 13:37] uri-canva commented on #10442
Would the new remote downloader feature help here in the meantime? For example if urls in `repo_ctx.download` were passed to the remote downloader without being checked for support, it would be possible for the remote downloader to support the transports, even if the downloader built into bazel didn't (it's possible that's already the case, I haven't checked).

[2021-07-01 13:43] brentleyjones opened #13632 "Cache uploads shouldn't block dependent local actions"
### Description of the problem / feature request:

Currently cache uploads take place as the last part of a local action spawn. This ties up the `local_cpu_resources`, and also prevents dependent local action spawns from starting (even though they have the inputs they need now).

Instead, the upload of local actions outputs to the cache should be independent spawns, that don't count towards `local

[2021-07-01 14:41] matthewvon commented on #11560
I  seldom build on my Mac.  But I hit this same bug.  I found a .bazel directory and .bazelrc file in my user home directory.  Wiped out both and build is now running.  Erasing the bazel cache did nothing for the problem.

[2021-07-01 14:58] philwo commented on #13502
In case someone stumbles upon this issue in the future, I'll quote the story and solution from the Bazel 4.1.0 release bug here:

We noticed that bazel-toolchains has a broken version check and Bazel 4.1.0 triggers a code path in it that will cause all builds using bazel-toolchains to fail. This is not a bug in Bazel and there's nothing we could have done to prevent this, apart from never bumping

[2021-07-01 16:50] neilg commented on #13613
This is related to changes between gcc 10 and gcc 11. If I understand correctly gcc now requires an explicit include of `<limits>` which is where `numeric_limits` is defined.

My system gcc is version 11 and I was getting the same error when running `bazel build //scripts:fish_completion`. Setting `CC=/usr/bin/gcc-10` fixed it.

[2021-07-01 16:53] shortcipher3 commented on #13595
My hack to get the build to complete was by removing the bazel version requirement file:

```rm .bazelversion```

Tested the build and libtensorflow seems to work.

[2021-07-01 16:53] shortcipher3 commented on #13595
My hack to get the build to complete was by removing the bazel version requirement file:

```rm .bazelversion```

Tested the build and libtensorflow seems to work.

[2021-07-01 20:00] GabrielGhe commented on #7677
I'm also hitting this (custom repository rule with `local = True` not re-running).

We got around this by conditionally setting `--repo_env=rerun=$(date +%s)` when we want to rerun the repo rule and

[code]

[2021-07-02 03:15] coeuvre commented on #13632
Thanks for bringing this up! I will look into it!

BTW, I had similar idea recently but for downloads i.e. downloading the outputs of a remote action shouldn't block dependent remote actions. https://github.com/bazelbuild/bazel/pull/13630 is working towards this feature.

[2021-07-02 09:37] fweikert opened #13634 "Status of Bazel 5.0.0-pre.20210623.2"
- Expected release date: July 2nd

Task list:

- [x] Pick release baseline: 8b453331163378071f1cfe0ae7c74d551c21b834 with cherrypick 223113c9202e8f338b183d1736d97327d28241ea
- [x] Create release candidate: https://releases.bazel.build/5.0.0/rolling/5.0.0-pre.20210623.2rc1/index.html
- [x] Post-submit: https://buildkite.com/bazel/bazel-bazel/builds/16688
- [x] Push the release: https://releases.baz

[2021-07-02 12:00] makingglitches commented on #13613
@neilg would there be any unforeseen consequences related to this ?

[2021-07-02 12:02] neilg commented on #13613
@makingglitches I'm sorry, I don't know.

[2021-07-02 12:03] makingglitches commented on #13613
Is the path you provided in all distros that have gcc 11 for backwards compat ?

[2021-07-02 12:11] makingglitches opened #13635 "Update for gcc version 11 needed"
https://github.com/bazelbuild/bazel/issues/13613

 Code downloaded during build process com_google package requires either manual editing moving header references to header files if the symbols are being referenced or gcc 10 may need to be used

Adding a rule with preprocessing using symbol defines as part of compiler version detection during configuration could solve this but code edits would hav

[2021-07-02 12:14] makingglitches commented on #13635
Props to @neilg

May have discovered a broader issue than that in

https://github.com/bazelbuild/bazel/issues/13613

[2021-07-02 12:14] neilg commented on #13613
I'm using Arch, I think Ubuntu puts the binary in the same place. Off the top of my head I'm not sure about other distros.

[2021-07-02 12:24] makingglitches commented on #13613
I'll check

[2021-07-02 12:28] makingglitches commented on #13613
@neilg no dice fedora only has 11. Sigh so code and configure script updates make more sense

[2021-07-02 12:30] makingglitches commented on #13613
@aiuto if this is not a bot see new issue.

[2021-07-02 12:32] makingglitches commented on #13613
@janakdr
at your convenience could you have a look at this repeat bug and consider issue
https://github.com/bazelbuild/bazel/issues/13635
as the course of action to be taken or link to whoever it is who would make this determination ?

[2021-07-02 12:36] makingglitches commented on #13635
workaround exists according to:

https://github.com/bazelbuild/bazel/issues/13613#issuecomment-872400814
for some distros.
probably just a matter of running two parallel versions of gcc on fedora, which I don't feel personally is all that great an idea.

seems like it might carry with it some issues, would be better in my humble opinion just to make the edits as proscribed to detect the gcc versio

[2021-07-02 14:52] meteorcloudy opened #13636 ""debian_java_deps" repo causes bazel query to fail on non-Linux platform in Bazel repo"
### Description of the problem:

Inside the Bazel repository:
`bazel query "deps(//src/main/java/com/google/devtools/build/skydoc:skydoc_lib)"` fails on macOS with
[code]

The `debian_java_deps` repo only makes sense on Linux, but because the `bazel query` command tries to reach every possible dependency, it will still be fetched on other platforms. I think it's tricky to solve this without some k

[2021-07-02 15:14] #13634 closed

[2021-07-02 15:14] fweikert commented on #13634
https://github.com/bazelbuild/bazel/releases/tag/5.0.0-pre.20210623.2

[2021-07-02 16:37] ssiano opened #13637 "Documentation issue: One-Page Overview"
Documentation URL: https://docs.bazel.build/versions/main/skylark/lib/skylark-overview.html

The internal page navigation links in the upper right corner do not work, e.g.,

[Global Functions](https://docs.bazel.build/versions/main/skylark/lib/skylark-overview.html#--global-functions)
[Global Constants](https://docs.bazel.build/versions/main/skylark/lib/skylark-overview.html#--global-constants)
et

[2021-07-02 17:42] philwo opened #13638 "FilesystemValueCheckerTest#testPropagatesRuntimeExceptions fails on new Windows VM image"
While preparing a new Windows VM image, I noticed that there's one test method apparently consistently failing now:

[code]

The main differences between the old image and the new one are:
- Windows version (old: Windows 10 build 1909, new: Windows 10 20H2)
- Visual Studio Build Tools that provide e.g. the C++ compiler (old: 2017, new: 2019)
- System JDK (old: Azul Zulu OpenJDK 8, new: Azul Zulu O

[2021-07-02 18:20] janakdr commented on #13613
Sorry, I have no knowledge of this area. @philwo

[2021-07-02 18:36] arunkumar9t2 opened #13639 "Databinding generates non deterministic artifacts and breaks caching"
### Description of the problem / feature request:

Few databinding generated artifacts are non deterministic and leads to reduced build performance in both incremental and cached scenario.

1. **baseClassSrc.srcjar**/**class-info.zip** -  The zip is generated by databinding CLI and it currently does not handle zip time stamps. Manually fixing timestamp in databinding exec compiler fixes the issue.

[2021-07-02 18:39] philwo commented on #13638
Oh wow, it looks like the test is actually flaky. I ran another job and then it succeeded after one retry: https://buildkite.com/bazel-testing/bazel-bazel/builds/8260#23027803-d4f4-429a-a7bd-bdbc859dec32

[2021-07-02 19:07] arunkumar9t2 opened #13640 "AarImport does not import databinding package from aars leading to runtime crash."
### Description of the problem / feature request:

When using aars via aar import, currently databinding package [is not extracted](https://github.com/bazelbuild/bazel/blob/4ccb2cced62e4fc070349e1b8ea6c941074bccbb/src/main/java/com/google/devtools/build/lib/rules/android/AarImport.java#L463) and given to `DatabindingV2Provider`. This causes [direct dependency pkgs](https://github.com/bazelbuild/ba

[2021-07-02 19:17] arunkumar9t2 commented on #13639
Original commit that introduced relative file paths in layout-info.zip

https://android.googlesource.com/platform/frameworks/data-binding/+/d7315f5fdf92c224711082babc7256f3947cb4ce%5E!/#F4

[2021-07-02 19:24] janakdr commented on #13638
Looks impossible. Browsing the ThrowableSubject code, I think the line that's throwing is

[code]

`check` isn't null, so `actual` must be null, but `actual` comes from `assertThrows` above. Can you add a `Preconditions.checkNotNull` above the failing line to confirm that the RuntimeException is actually present? I think the contract of assertThrows guarantees that.

[2021-07-02 19:27] arunkumar9t2 commented on #12768
@ahumesky I found this

`Fix thread safety issue when getting api-versions.xml resource`

https://android.googlesource.com/platform/frameworks/data-binding/+/5387fb682ea5ae0ad1595dcbd2207949f5273fbe%5E!/#F0

I think this commit is not present in the Databinding version Bazel is currently [using](https://github.com/bazelbuild/bazel/tree/master/third_party/java/android_databinding).

The issue boils

[2021-07-02 20:24] philwo commented on #13613
We will add support and testing for distributions using gcc 11.x soon. It's currently not yet supported to build Bazel, sorry.

(Bazel should work fine with gcc 11.x to build other projects - you just can't build Bazel itself yet, but as you found out, our binary releases should work fine.)

[2021-07-02 20:53] xykivo opened #13642 "C++ rules includes argument should not use -isystem, but -I"
### Description of the problem / feature request:

The C++ rules includes argument should use the -I to add the includes paths specified to any dependent C++ target.
Using -isystem forces a behaviour that should be reserved to system or toolchain headers.
There is no other reasonable way to propagate includes to any other C++ targets that directly or indirectly depend on a C++ library.
If the beha

[2021-07-03 00:47] makingglitches commented on #13613
There seem to be shared externals with tensorflow which uses bazel to build from source

This same issue is affecting its build plus a few others

[2021-07-03 01:07] BenHenning commented on #906
This issue is a bit old, but we occasionally hit this with a script we've developed to compute affected tests within a PR on GitHub. The script is run via GitHub actions, and previously for reasons we didn't quite understand, one part of the script seems to hang (the bit which analyzes changes to BUILD files & the WORKSPACE to find affected test targets).

I've been working on a PR to migrate this

[2021-07-03 10:59] makingglitches commented on #13613
@philwo that makes me want to ask
Are there really that many differences ? Because this is the only problem I've encountered thus far

Seems like a high severity low work requirement fix for someone who actually knows the code base

[2021-07-03 15:56] ashi009 commented on #7664
Totally missed the notification.  Sure thing, but I need to do it privately.

Our build target is a huge iOS app, that has over 10k source files. The majority of actions are compiling ObjC files, which depends on no preceding actions. The critical path converges at the linking action.

We have increased `--jobs=HOST_CPUS*N` to address the latency issue in our setup. However, this breaks the resour

[2021-07-03 16:00] davido commented on #13635
This is a duplicate of https://github.com/bazelbuild/bazel/issues/12756.

Also note, that this problem is fixed with this PR: https://github.com/bazelbuild/bazel/pull/13536,
but it's blocked on https://github.com/bazelbuild/bazel/issues/13561.

[2021-07-03 16:04] davido commented on #13613
Last time I checked, there were two problems: one missing include and bump of transitive dependencies.

I fixed both issues with these PRs: https://github.com/bazelbuild/bazel/pull/13537 and https://github.com/bazelbuild/bazel/pull/13536.

The last one is still pending and blocked on: https://github.com/bazelbuild/bazel/issues/13561.

[2021-07-03 19:15] makingglitches commented on #13613
Yeah I'll pull down dev and check

[2021-07-03 19:16] makingglitches commented on #13635
@davido what is the source of the externs if you don't mind me asking ? Are they being maintained as some connected project ?

[2021-07-03 23:14] makingglitches commented on #13613
@davido

The precise error that downloading the dist package fixed.
Whats the quick way to get the dev source ready to build ? And OOC why is this necessary ?

[2021-07-03 23:15] makingglitches commented on #13613
Is it saying I HAVE to do a build using bazel ? Because while I have a binary dist installed for tensorflow,  wasn't the steps I followed to generate the errors this post is about.

[2021-07-04 07:35] APinfinite opened #13645 "Bazel"
### Description of the problem / feature request:

### Feature requests: what underlying problem are you trying to solve with this feature?

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

### What operating system are you running Bazel on?

### What's the output of `bazel info release`?

### If `bazel info release` returns "developm

[2021-07-05 06:15] coeuvre commented on #7664
Thanks for sharing your build shape. In this case, I think the performance will be improved once the features described by #13632 and https://github.com/bazelbuild/bazel/issues/13632#issuecomment-872681708 are implemented.

[2021-07-05 06:48] dmivankov commented on #10670
still present in 4.1.0

[2021-07-05 08:48] arunkumar9t2 opened #13647 "Databinding: Cannot enable strict deps when layout XML references classes from a direct dependency."
### Description of the problem / feature request:

When databinding is enabled, consider

[code]

here the class `androidx.constraintlayout.widget.ConstraintLayout` comes from a direct dependency on current module ie. from `@maven//:com_google_android_material_material`.

Even though it is a direct dependency, strict deps check complains that it is a transitive dependency and fails the error

[cod

[2021-07-05 08:48] arunkumar9t2 commented on #13647
Related #2694

[2021-07-05 09:07] arunkumar9t2 commented on #13640
Repro project:

[databindingstrictdeps.zip](https://github.com/bazelbuild/bazel/files/6763060/databindingstrictdeps.zip)

[code]

Gradle generated DatabindingMapperImpl has correct packages imported from dependency. For example

[code]

Bazel generated

[code]

Notice `androidx.databinding.library.baseAdapters.DataBinderMapperImpl()` is missing on Bazel generated file. This causes `java.lang.Illeg

[2021-07-05 11:27] guibou opened #13648 "--cache_test_results for test invalidate build analysis cache"
### Description of the problem / feature request:

I do have `test --cache_test_results` in my `.bazelrc` and whenever I'm running `bazel test` or `bazel run`, I'm receiving the following message and a new analysis phase is run:

[code]

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[code]

See the `INFO` message and the slowdown b

[2021-07-06 07:45] arunkumar9t2 commented on #12780
I renamed the issue to better describe the problem. It seems even `transitiveLabelAndJavaPackages` contains lot of duplicates in them when `exports` are used - an unfortunate side effect of using `kt_android_library` which exports targets by default.

@Bencodes this hacky [fix](https://github.com/arunkumar9t2/bazel/commit/09cb6329a5723b0e4627d108b86340d9169537be) filters the duplicates and lets ba

[2021-07-06 12:37] brentleyjones commented on #13648
Btw, If you set `build --cache_test_results` in your `.bazelrc` (instead of `test --cache_test_results`), it will prevent the analysis cache thrashing.

[2021-07-06 16:55] arunkumar9t2 opened #13649 "Databinding: Build failure when enabling `--persistent_android_resource_processor`"
### Description of the problem / feature request:

When databinding is used, specifically if layout xml has databinding expressions, persistent workers for Android resource work cannot be enabled. Enabling it causes the build to fail with the following message.

[code]

### Feature requests: what underlying problem are you trying to solve with this feature?

Ability to enable workers for android r

[2021-07-07 07:00] laurentlb commented on #13618
Previous discussion: https://github.com/bazelbuild/bazel/issues/4792

[2021-07-07 07:09] laurentlb commented on #13618
Also: https://groups.google.com/g/bazel-discuss/c/M_LCQuLk-BQ/m/331pE6sXAwAJ?pli=1

Inside Google, there's also b/73722197

[2021-07-07 16:27] fmeum commented on #13464
@sdtwigg Friendly ping

[2021-07-07 17:34] jheaff1 commented on #10529
Hi,

Is there any update on this? Is there a standard way of configuring Bazel so that the VC compiler need not be installed and mingw is used instead?

[2021-07-07 20:41] guibou opened #13652 "native_test do not inherit data"
### Description of the problem / feature request:

Using `@bazel_skylib//rules:native_binary.bzl", "native_test"` does not uses `data` from dependencies.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

The following build file:

[code]

define a `cpp` target which compiles a `poulet.cpp` file which at runtime loads`Chien.txt`. `Chie

[2021-07-07 21:11] aiuto commented on #13603
From looking at the code and thinking about it
- --enable_platform_specific_config has to be processed before expanding any --config commands
- if there is a platform specific config, it should override the less specific config, so in Repro #1 above, cmdline may be what we both expect, but linux is still the better value than config.
- Most people would expect, however, that any trailing command l

[2021-07-07 22:24] Bencodes commented on #13050
I'm not super familiar with the inner-workings of Bazel incremental installs, but wouldn't calling `setZipalignApk` on the `incrementalActionsBuilder` seen [here](https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/rules/android/AndroidBinaryMobileInstall.java#L149-L160) be enough to make the incremental APK Android 11 compliant?

[2021-07-08 01:15] bduffany opened #13654 "Bazel shutdown fails when executed via docker exec process"
It appears that running `bazel shutdown` using `docker exec` causes shutdown to wait for the server to shut down even though the server is already shutdown. It eventually fails saying that it tried to SIGKILL but the server still did not die (even though the server was in fact dead already).

Try running these commands (Bash)

[code]

The output is:

[code]

If you also run `docker exec "$containe

[2021-07-08 01:34] bduffany commented on #13654
Possibly related: running `bazelisk --max_idle_secs=5` within a docker exec process results in a defunct java process after the `max_idle_secs` timeout:

[code]

[2021-07-08 10:40] chsigg commented on #13603
Thanks a lot Tony for investigating.

Couldn't `--enable_platform_specific_config` expand in place to e.g. `--config=linux`, which would in turn expand in place again to the `*:linux` entries in `.bazelrc`? This would seem the most obvious choice (but I'm by far no bazel expert).

[2021-07-08 11:12] qaisjp commented on #13142
It took a while but we found a way to reproduce it with a tag from https://github.com/bazelbuild/rules_go.

[code]

produces

[code]

I've included a repo + instructions + sample BEP JSON here: https://github.com/qaisjp/bazel-targetConfigured-aborted-payload

[2021-07-08 13:43] bduffany commented on #13654
Looks like the problem is fixed by adding the `--init` flag to `docker run`:

[code]

[2021-07-08 13:43] #13654 closed

[2021-07-08 14:15] #13627 closed

[2021-07-08 14:31] qaisjp commented on #13142
Oh and to clarify, this happens for any flag configured like this, and isn't specific to rules_go.

https://github.com/bazelbuild/rules_go/blob/f2d2516caad22c23d4a3e6d4612e2ed9b3f216d9/go/config/BUILD.bazel#L19-L23

[2021-07-08 16:22] jeosol commented on #8775
Has this bug been resolved. I installed bazel today (Jul 8, 2021) and tried to follow the C++ tutorial example and got the same error.

<pre>Starting local Bazel server and connecting to it...
Server crashed during startup. Now printing /home/xxx/.cache/bazel/_bazel_xxxx/740a946ba5071ae4dc5a1db849476dbe/server/jvm.out
java.lang.IllegalStateException: Can&apos;t find tenured space; update this clas

[2021-07-08 16:25] meisterT commented on #8775
Yes, install a bazel version >= 3.3.0.

[2021-07-08 16:27] jeosol commented on #8775
ah ok. MeisterT, thanks for the info. I install via Opensuse's 'zypper install bazel' and the one packaged is probably old.

[2021-07-08 16:33] jeosol commented on #8775
@meisterT I see sever v5.00 prelease and a v4.1. Which one do you recommend to download ( not sure if the v5.00 preleases are stable or have issues).

My intented  use is with Common Lisp, but I plan to follow the C++ tutorial to get a good handle of how bazel works.  I am aware of the qitab/bazelisp repo but not sure how both are linked. I assume I still need bazel to be able to use bazelisp. Don

[2021-07-08 16:39] meisterT commented on #8775
https://blog.bazel.build/2021/06/15/bazel-rolling-releases.html has some info about rolling releases.

I would recommend v4.1.0 for now

[2021-07-08 16:42] jeosol commented on #8775
@meisterT

Thanks. I will take a look at the link you added. I will go ahead to install v4.1.0 for now.

[2021-07-08 18:04] Bencodes commented on #13050
Setting `setZipalignApk` to true on the incremental APK seems to fix the issue for us and the incremental android binary now passes the zipalign checks when running `zipalign -c -v 4 path/to/incremental.apk`.

https://github.com/bazelbuild/bazel/pull/13653

[2021-07-08 18:31] aiuto commented on #13603
I don't think that would make sense. If we did that
- there would be no need for the flag
  -  you might as well just write  bazel build --config=$(uname) ...
- it would not give you the conceptual layering of
   1. build the baseline set of flags from the rc files and --config
   1. automatically splice in my platform specific things.

In any case, --enable_platform_specific_config is something t

[2021-07-08 19:14] katre commented on #13558
I plan to start assembling the branch for this release on Monday, July 12, so expect further updates around then.

It's a long list of cherrypicks so it may take some time to determine which can be applied and which cannot.

[2021-07-08 20:53] jayconrod commented on #13558
Could we please include c9f9eed? It will unblock some work on Go static analysis.

[2021-07-08 20:56] cpsauer commented on #13558
Any chance we could also consider the AAR proguard bugfix https://github.com/bazelbuild/bazel/commit/c8c0d94a49e1b865d95c6d245c2d152c7c7c9722

[2021-07-08 21:09] cpsauer commented on #3778
^ tagging also @benjaminRomano and @philwo

[2021-07-08 22:40] hostirosti opened #13657 "Documentation issue: User manual -- how to define default build attributes?"
Documentation URL: https://docs.bazel.build/versions/main/be/general.html

If I got a rule using build variables like this:
[code]

How can I define default values for `$(GCR_PROJECT)` and `$(VERSION)` that are chosen if build/run is run without `--define ...`?

[2021-07-09 05:07] r03942139 opened #13658 "Build Bazel from source 3.7.2 in alpine 3.12.7, but with error locating and symbol not found"
### Description of the problem / feature request:

Symbol errors when building Bazel from source in the alpine platform.

### Feature requests: what underlying problem are you trying to solve with this feature?

Run Bazel to build a Bazel binary, choosing Bazel-3.7.2 is because the other project opentelemetry-cpp use this Bazel revision.
https://github.com/open-telemetry/opentelemetry-cpp.

### Bu

[2021-07-09 05:23] cocasema opened #13659 "experimental_forward_instrumented_files_info_by_default doesn't work with pkg_tar's files = {}"
### Description of the problem / feature request:

[code]

I found this only works for the dependencies of `pkg_tar` mentioned in `srcs = [...]`, and anything from `files = {}` is ingored.
Not sure if this is specific to pkg_tar `files`, of if it's only limited to `srcs` attributes names in general.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example

[2021-07-09 06:37] benjaminRomano commented on #3778
Yes, this should be resolved by https://github.com/bazelbuild/bazel/pull/12749. @cpsauer maybe try asking in https://github.com/bazelbuild/bazel/issues/13558 to get this cherrypicked in. My change is self-contained so it should be straightforward.

[2021-07-09 06:54] chsigg commented on #13603
My comment seems to have implied that I would have `--enable_platform_specific_config` on the command line. That was not intentional, I agree that it belongs in the `.bazelrc`. It could still expand in place though to the appropriate `--config`, right?

Isn't that unnecessarily imposing a specific pattern on the user? For example, I would expect

`.bazelrc`:
[code]

`$ bazel build --config=foo` to

[2021-07-09 09:05] erenon commented on #13642
"what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible."
I can not repro this, by default, `-iquote` is used, or `-I` if `strip_include_prefix`/`include_prefix` is specified.

[2021-07-09 12:04] philwo commented on #11554
@junyer Thank you! Indeed it seems like this was fixed by the referenced PRs. :)

[2021-07-09 12:04] #11554 closed

[2021-07-09 13:29] xykivo commented on #13642
If I understand the documentation correctly the strip_include_prefix/include_prefix only affects the hdrs attribute of a cc_library.
I want a change to the includes argument of a cc_library, so that any include paths exported from it use the -I, and not the -isystem option.

[2021-07-09 13:39] #13572 closed

[2021-07-09 13:39] #13526 closed

[2021-07-09 14:19] erenon commented on #13642
Can you show an example that produces `-isystem`? Having `includes` does that, but it is also documented, and usually not needed either.

[2021-07-09 14:56] Bencodes opened #13661 "Mobile install fails to load native libraries provided by AARs"
### Description of the problem / feature request:

Mobile install fails to load native libraries embedded in the incremental APK while using mobile-install.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Use `mobile-install` to build and install an Android app that includes an AARs containing native libraries. The application will

[2021-07-09 15:01] janakdr commented on #13638
Assigning to Phil to try the suggestions above.

[2021-07-09 15:55] jiawen opened #13662 "http_archive looks for netrc file inside external dependency rather than local file system"
### Description of the problem / feature request:

As the title says, http_archive appears to have a bug where it looks for netrc inside the external dependency, rather than in the local workspace.

### Feature requests: what underlying problem are you trying to solve with this feature?

The ability to use with http_archive a custom netrc file in the local workspace instead of in my home directory

[2021-07-09 16:04] davidcoo opened #13663 "No error for new_local_repository() invalid build path"
### Description of the problem / feature request:

### Feature requests: what underlying problem are you trying to solve with this feature?

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

### What operating system are you running Bazel on?

### What's the output of `bazel info release`?

[2021-07-09 18:03] cpsauer commented on #13558
Could we consider https://github.com/bazelbuild/bazel/commit/c8c0d94a49e1b865d95c6d245c2d152c7c7c9722 to fix pro guards with aars?

[2021-07-09 18:06] cpsauer commented on #3778
Done. Thanks again, guys.

I don't have the power to close the issue either--could I ask someone who can to do so? @philwo?

[2021-07-09 18:07] garrettkajmowicz-sophos commented on #11653
Another use-case: people building out-of-tree linux kernel modules on linux. These end up with the .ko extension. They make most sense to be considered as libraries - they may export symbols which can be imported by other kernel modules via header files.
I'm somewhat-able to work around this issue by treating them as binaries, but it isn't as elegant.

[2021-07-09 18:37] irfansharif commented on #12124
I get that whitelisting this .ccache  path works, but this is still pretty surprising behaviour to have by default. We're trying to roll-out bazel usage for engineers at [cockroachdb/cockroach](https://github.com/cockroachdb/cockroach), and it's unfortunate to have to ask each person include this (custom, because of $USERNAME) path in their local .bazelrc.user or something.

Fundamentally though,

[2021-07-09 18:41] Bencodes commented on #13661
Should the `mobile-install` actually be sending the native libraries in the AAR to the device using `--native_lib` instead of bundling them up inside the incremental APK? https://github.com/Bencodes/bazel/blob/master/src/main/java/com/google/devtools/build/lib/rules/android/AndroidBinaryMobileInstall.java#L422

[2021-07-09 18:41] irfansharif commented on #12124
The workarounds I've seen elsewhere (https://github.com/RobotLocomotion/drake/issues/4464, https://github.com/RobotLocomotion/drake/pull/5130) feel a tad-bit unfortunate. It's similar to what we're thinking of in https://github.com/cockroachdb/dev/issues/11, and feels more appropriate to fix up-stream. Curious to hear your thoughts.

[2021-07-09 18:53] aiuto commented on #13603
Yea.  I think it should be --nofoo when run on linux.
Having the platform config always win is the actual feature. If we didn't want that, one could add an overridable platform flag by always adding it to the command line. Or, if you will,
[code]

[2021-07-09 19:48] #3778 closed

[2021-07-09 21:46] fmeum commented on #13071
I'm surprised to see this is not tracked as a bug. Is a workaround known or is this viewed as a bug in clang? I would look into it and try to contribute a fix if I knew what the status is.

[2021-07-09 22:43] xhuoroku commented on #12841
ran into this issue with pyspark_2.4.3

[2021-07-10 00:18] haifeng-jin opened #13664 "test_filter doesn't work for Python"
### Description of the problem / feature request:

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[code]

### What operating system are you running Bazel on?

### What's the output of `bazel info release`?

[code]
### What's the output of `git remote get-url origin ; git rev-parse master ; git rev-parse HEAD` ?

[code]

[2021-07-10 00:19] haifeng-jin commented on #13664
Feel free to setup a meeting. I can give a demo of the problem.

[2021-07-10 17:48] makingglitches commented on #13613
@davido  nogo

[2021-07-10 20:01] yaadhavraajagility opened #13665 "Bazel Deps not linking on `cc_library` but links on `cc_binary`"
I am attempting to include a library called pytorch in my project

[code]

When I am building a binary as such:
[code]
It generates a `libbin.so` and i see libtorch is linked when i do ldd on it
[code]

But when i am build a library:

[code]

It generates a `liblib.so` and i do not see it linked

[code]

Why is this?

[2021-07-11 01:29] yaadhavraajagility commented on #4237
What is the workaround for this?

[2021-07-11 18:57] mbinna commented on #11561
The default-generated toolchain at `bazel-<workspace_name>/external/local_cc_config/cc_toolchain_config.bzl` contains the [feature](https://docs.bazel.build/versions/main/cc-toolchain-config-reference.html#features) `per_object_debug_info`, but it is disabled by defaul (i.e., it doesn't contain `enabled = True`). When I enable the feature with `--features=per_object_debug_info` as mentioned in htt

[2021-07-11 21:44] refi64 commented on #3732
This has been implemented for a while now, can this be clsoed?

[2021-07-11 23:10] #3732 closed

[2021-07-12 09:00] dmivankov commented on #13662
interestingly .netrc attribute is a string so `//:artifactory.netrc` probably wouldn't work
https://github.com/bazelbuild/bazel/blob/4.1.0/tools/build_defs/repo/http.bzl#L79 - gets passed from here
https://github.com/bazelbuild/bazel/blob/4.1.0/tools/build_defs/repo/utils.bzl#L203 - to here as filepath
it then proceeds to `repository_ctx.read(filename)` and reads from external repository relative

[2021-07-12 12:13] fmeum commented on #13071
The root cause of the issue is that Bazel uses `-no-canonical-prefixes` while calling `clang` through symlinks. I submitted a PR #13666 that fixes the issue for the reproducer in https://github.com/bazelbuild/bazel/issues/13071#issue-812484249.

[2021-07-12 13:24] larsrc-google commented on #8230
@fenghaolw Could you try running with the `--experimental_reuse_sandbox_directories` flag and see if that speeds up the sandboxing sufficiently?

[2021-07-12 13:38] larsrc-google commented on #13149
https://github.com/bazelbuild/bazel/commit/fe1e25b1373bc9d4294ee354add4011916e9f44a fixed a case that looked like this, @tomrenn could you try with that fix included and see if you're still having these problems?

[2021-07-12 14:32] erenon commented on #13665
Bazel does not link libraries to libraries - it postpones linking to the point when the final cc_binary is linked. This can reduce the number of times a library need to be linked (e.g: when `A -> [B,C] -> D`), and this allows the binary to select the type of linkage (static/dynamic).

[2021-07-12 15:09] dmivankov commented on #10670
also slightly related to https://github.com/bazelbuild/bazel/issues/12198

[2021-07-12 16:17] katre commented on #13558
We are currently looking at 64 cherrypicks for this release, which is a huge number.

@coeuvre: Since #13594 does not appear to be merged, it cannot be cherrypicked. Is this releated to #13321, which is currently marked as a release blocker?

[2021-07-12 17:35] katre commented on #13558
In the first pass (with no attempt to clean up merges), 26 commits applied cleanly:
-  2d990cf2fc Fix #10127: Remove Python 2 dependency from tools/android.
-  64157a59d1 Respect Starlark options with values in `removeStarlarkOptions()`
-  c8c0d94a49 Export proguard specs from aar_import
-  1e258d2a7a Allow exec groups to inherit from the rule or other exec groups.
-  d067669331 Support execution

[2021-07-12 17:51] fenghaolw commented on #8230
I no longer work on bazel rules. @alexeagle would you mind check if that flag helps bazel rules performance?

[2021-07-12 19:40] martis42 commented on #13558
@katre
https://github.com/bazelbuild/bazel/commit/cac82cf00649217e621e86825e9e99b3e56b0d34 is missing on your list (or is this change disqualified due to some reason?)

[2021-07-12 19:58] katre commented on #13558
@martis42 I missed copying it into the list. I'll add it to the next set.

[2021-07-12 20:30] FaBrand commented on #13558
@katre could 382fd6453c0ff65940de4e1557ad8f17ad7198d7 (#13496) also be added to that set?

[2021-07-12 22:04] philsc commented on #13558
Any chance we could include 08936aecb96f2937c61bdedfebcf1c5a41a0786d? "Add external_include_paths C++ feature".

[2021-07-12 22:45] alokpr commented on #4219
This should be reopened. Both issue 4219 and issue 4942 have been closed as dups of each other.

[2021-07-12 23:07] katre commented on #13558
@FaBrand That commit has not been merged to master, so I will not cherrypick it to the 4.2 release branch. Please get it merged to master first and I will evaluate whether it makes sense.

[2021-07-13 02:00] janakdr commented on #13638
Whoops, looks like I was reading the wrong code. Sorry Philipp!

[2021-07-13 02:16] coeuvre commented on #13558
It's a fix for #13349 and should be merged in a day or two.

IIRC, #13321 is a reminder that if we included 7149f57 in the release, we also need to include 24c980b, e6f1066, 4efeac9 and b863dbf2d2a327364483c72f1c5e73962af61148.

The reason that some commits for remote execution did not applied cleanly are probably they are depending on b863dbf2d2a327364483c72f1c5e73962af61148. We may need to inclu

[2021-07-13 02:44] xykivo commented on #13642
I tried to create a sample that I feel illustrates the issue.
See https://github.com/xykivo/percipio/tree/bzl-cc-libs-includes/issues/bzl_cc_libs_includes

[2021-07-13 03:44] alexeagle commented on #8230
Ooh hi @larsrc-google that flag sounds magical if it does what I imagine it does! For nodejs projects this flag might obviate the need for a big redesign we've been doing for exposing input artifacts as directories.
 I'm on vacation for a couple weeks but will try to repro this after.

[2021-07-13 06:58] erenon commented on #13642
Hi,

The behavior in the `use_includes` package is expected, works as documented: "Each string is prepended with -isystem and added to COPTS" (see [includes](https://docs.bazel.build/versions/main/be/c-cpp.html#cc_library.includes))

To make the `use_copts` package work, instead of:

[code]

use:

[code]

This will add the equivalent of `-Iissues/bzl_cc_libs_includes/use_copts/foo/include` transit

[2021-07-13 07:01] FaBrand commented on #13558
katre I think i picked the wrong sha. a9e7577d3f96192114331408fb5f629fab5ba3db is the cherry-pick to master of #13496

[2021-07-13 07:47] meisterT commented on #4219
@alokpr #4942 is still open.

[2021-07-13 10:21] ashi009 commented on #5031
I believe this has already been addressed in Bazel 4.0?

[2021-07-13 10:39] ashi009 opened #13668 "sandbox path leaked into llvm coverage output"
### Description of the problem / feature request:

When generating source-based coverage, llvm embeds absolute paths to the output file. Which causes non-reproducible builds, and may potentially poisoning the cache.

Although the same issue has been [addressed](https://github.com/bazelbuild/bazel/commit/e794ee695819660af67599308bffb489eb6abf22) for debugging, weirdly enough, LLVM uses a different

[2021-07-13 10:50] philwo opened #13669 "Find out how many users want lazy downloading of outputs, but can't use a daemon or FUSE / NFS"
Dear Bazel users,

I need to collect your feedback to judge which variants of lazy downloading of output files Bazel should implement.

1. One proposal is to implement lazy downloading of outputs via an external daemon process that would present the full output tree as a virtual filesystem that you can mount via FUSE or localhost loopback NFS. Basically, your `bazel-out` folder would not actually

[2021-07-13 10:52] philwo commented on #13669
FYI @brentleyjones as I noticed you commented on a related PR recently.

[2021-07-13 11:04] katre commented on #13558
Okay, after further testing even some of the commits I thought had applied cleanly do not actually build, much less pass tests.

I'm working on a new process to streamline this, hopefully I can report back soon.

[2021-07-13 11:13] #13642 closed

[2021-07-13 12:53] Darko-Huma commented on #11628
[code]
Bazel version
4.1
Apple Silicon M1

[2021-07-13 14:09] illicitonion commented on #13558
Please could I request a cherry-pick of https://github.com/bazelbuild/bazel/commit/20aff82091125f1d8dced5aa36069ef5ae730878 to allow for more precise determining which targets should be run in CI? Should apply very cleanly! :) Thanks!

[2021-07-13 14:10] katre commented on #11628
@Darko-Huma: This is an issue with [rules_go](https://github.com/bazelbuild/rules_go), you'll need to report it there.

[2021-07-13 14:20] #13349 closed

[2021-07-13 14:46] #13638 closed

[2021-07-13 15:07] jheaff1 commented on #8273
Hi,

Is there any update on this? It appears to me that neither `@rules_cc` nor `@bazel_tools` provide support for resource compilation.

[2021-07-13 15:09] EricBurnett commented on #13669
We speculated on the need for (2) when BWtB was being conceived, but I have yet to come across a motivating use-case or user who would actually want it...most usage of BWtB I see where _some_ outputs are desired is easily enough handled by using `toplevel` instead and specifying the targets of interest in the command.

So my 2c is that (2) is reasonable in the abstract, but doesn't seem particular

[2021-07-13 15:26] keith commented on #13668
I agree using file-prefix-map is probably the best path forward here. Iirc I considered this change in the past but didn't make it because of old clang version support.

Also note profile-prefix-map was renamed to coverage-prefix-map in a later diff

[2021-07-13 15:27] ljusten opened #13673 "--bazelrc=/dev/null does not seem to work"
### Description of the problem / feature request:

Despite passing --bazelrc=/dev/null, Bazel still reads configuration from bazelrc files.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

- Have a git repo with a .bazelrc file in the root directory.
- Run bazel --bazelrc=/dev/null test --announce_rc <some_test_target>
-  I'm seeing

[2021-07-13 15:30] katre commented on #13558
Okay, the current system is untenable, given the large number of requested cherrypicks and the wide divergence between the base of the LTS branch and the current Bazel master branch.

Therefore, here's the new process: I have created a release patch branch: https://github.com/bazelbuild/bazel/tree/release-4.2.0-patches

If you want a commit or commit series cherrypicked into the 4.2.0 release, cre

[2021-07-13 15:35] prestonvanloon opened #13674 "Test logs not copied to bazel-testlogs when test target has incoming edge transition"
### Description of the problem:

When running `bazel test` on a test target with an starlark incoming edge transition, no test outputs are copied to bazel-testlogs directory.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

I've made a minimal reproduction repository here: https://github.com/prestonvanloon/bazel-starlark-edge-transit

[2021-07-13 15:36] katre commented on #13558
Status of requested cherrypicks:

Carryover:
- 779d66019210f54e10a1343ee004df72a8dec812 - Doesn't apply cleanly. Someone who understands this (@larsrc-google ?) needs to examine the situation and see if this is a) worth it, and b) can be edited to be picked.

Exec group handling and "test" exec group, requested by @quval. I'll champion this, since I wrote the original code
- 1e258d2
- d067669
- f1

[2021-07-13 15:43] michajlo commented on #13673
There are a lot of knobs for rc files. `--bazelrc` is for user-specified rc files, and `--bazelrc=/dev/null` is a way of saying "ignore any other _user-supplied_ bazelrcs". I think what you're looking for is `--noworkspace_rc`, and possibly the others in https://docs.bazel.build/versions/main/guide.html#where-are-the-bazelrc-files.

[2021-07-13 15:43] quval commented on #13558
@katre Thanks for championing the exec group commits (and the whole release effort)! I was actually about to start cherry-picking these into a branch between your two posts – so if this would help, please let me know and I'll send a PR.

[2021-07-13 15:43] ljusten commented on #13673
Was just typing exactly that. Thanks for the quick response! Closing.

[2021-07-13 15:44] #13673 closed

[2021-07-13 15:45] prestonvanloon commented on #13674
Something I've noticed is a difference in the test output paths. When changing the data to make the test fail, we can see the following paths.
[code]

I suspect that bazel is copying everything from `/home/preston/.cache/bazel/_bazel_preston/849dbde84a22ddb2fb36884b9d5c6317/execroot/__main__/bazel-out/k8-fastbuild/`, but the target with a transition has `k8-fastbuild-ST-f38523c95a1a`.

[2021-07-13 15:53] katre commented on #13558
@quval If you have it started, by all means send a PR. I'm concerned that either not every commit needed is in the issue, or that it just builds on other work I did on the StarlarkToolchainContext, because I ran in to all sorts of trouble yesterday trying to figure out what commits were needed.

[2021-07-13 16:05] katre commented on #13558
One further request: please indicate in the PR title that it's a cherrypick request, and please link to this issue for tracking purposes. Thanks!

[2021-07-13 18:03] sek790c commented on #13589
Here is the BUILD file where the  error occur:
......
cc_toolchain_suite(
    name = "toolchain",
    toolchains = {
        "darwin|clang": ":cc-compiler-darwin",
        "darwin": ":cc-compiler-darwin",
        "armeabi-v7a|compiler": ":cc-compiler-armeabi-v7a",
        "armeabi-v7a": ":cc-compiler-armeabi-v7a",
    },
)
.......
So there is just 'darwin',no'darwin_x86_64' .Do I need to get a too

[2021-07-13 19:31] quval commented on #13558
@katre I tried, but it's proving hard. Cherry-picking 645c42bae42fc8ea1c5b7c53e4962f1987ff888e seems to require unravelling – or cherry-picking – a lot of work. You probably have much more context than I to get this right. I will, however, say that we can live without this change in Bazel 4.2.0. We might try the rolling releases instead (or wait for 5.0).

[2021-07-13 20:55] martis42 commented on #13558
@katre In my opinion it is a bug that `config_setting` allows setting the `visibility` attribute, but it has no effect. https://github.com/bazelbuild/bazel/commit/cac82cf00649217e621e86825e9e99b3e56b0d34 resolves this bug. This helps reducing confusion on developer side and allows limiting where `config_setting` is used in the stack to prevent it being spreading into domains for which it was never

[2021-07-13 21:04] katre commented on #13558
@martis42: Please send me a PR with the justification, bug link, and original commit, as I described earlier. The commit in the PR should start from "git cherry-pick <original commit>", but if you need to edit files to get them to merge that is fine. I just want to avoid including entirely new commits in an LTS release.

[2021-07-13 21:20] gravypod commented on #13669
This is probably out of scope but:

@philwo is this hypothetical external process that handles presenting a fake `bazel-out` file system something that the bazel team would be implementing? If so there are  quite a few areas that could benefit from having some kind of API for accessing that content. Speaking just for rules_docker: if your CI system executes `bazel build //:some_image` and some oth

[2021-07-13 23:07] gregestren commented on #13558
@martis42 unfortunately there's also https://github.com/bazelbuild/bazel/commit/36d228bd792f4332c7486c4e5f9c78e4b55f4b06 - existing builds depend on the incorrect functionality, which makes https://github.com/bazelbuild/bazel/commit/cac82cf00649217e621e86825e9e99b3e56b0d34 an incompatible change.
We probably want https://github.com/bazelbuild/bazel/commit/79989f9becc2edefe8b35f7db687bf8de03e3580 i

[2021-07-14 06:29] laszlocsomor commented on #8273
Sorry, no updates from me.

@meisterT , who's working on Windows support these days?

[2021-07-14 06:34] meisterT commented on #8273
cc @meteorcloudy @mai93

[2021-07-14 08:40] meteorcloudy commented on #8273
I think rules_cc is the right place to go.  @oquenchil do you see any concerns?

/cc @andrewkatson might could help with this.

[2021-07-14 09:35] dmivankov commented on #12348
java_binary also doesn't add data= to runfiles

[2021-07-14 11:11] #13451 closed

[2021-07-14 11:12] #13470 closed

[2021-07-14 11:13] oquenchil commented on #13576
I see. I'm not sure if it's possible to give better errors when recursion happens accidentally.

@brandjon Is there room for improvement here?

[2021-07-14 11:17] oquenchil commented on #13478
The problem is that the dependencies in your genrule are built using the host configuration. The solution is what Benjamin is pointing to.

You can use that flag in every bazel invocation you make in the same way you are using --cxxopt in every invocation, i.e. via the .bazelrc file.

[2021-07-14 11:17] #13478 closed

[2021-07-14 11:19] oquenchil commented on #13582
Tony, can you assign a priority to this?

[2021-07-14 11:24] oquenchil commented on #13615
@v3n Would aiuto's suggestion be enough for you?

[2021-07-14 11:25] oquenchil commented on #13622
Can you please provide command line, bazel version, the BUILD file with your target and the system you are on?

[2021-07-14 11:29] oquenchil commented on #13623
@katre John would you know by looking at the bzl file linked by Amit?

[2021-07-14 11:33] oquenchil commented on #13624
The docs are not clear if executable=True means that it can be run as a tool by an action or that you can invoke it via `bazel run` like that.

Perhaps someone from the XProduct team can clarify.

[2021-07-14 11:36] oquenchil commented on #13626
@gregestren Hi Greg, I'm a bit lost in this area. Are constraints deprecated or they will be kept long term? Is this a feature request for the C++ rules team or configurability team? If the former, please re-assign.

[2021-07-14 11:37] oquenchil commented on #13631
Have you seen this again?

If there is no way to reproduce I'm afraid it will be near impossible to debug.

[2021-07-14 11:38] #13635 closed

[2021-07-14 11:42] oquenchil commented on #13639
@ahumesky Hi Alex, is this a known issue?

[2021-07-14 11:42] katre commented on #13623
I'm sorry, but I don't understand what is being asked. @av8ramit, what do you mean by a "CPU only toolchain"? What are you trying to do that you cannot do with the existing `--host_crosstool_top` flag?

[2021-07-14 11:44] oquenchil commented on #13645
If there is an issue to report, please fill in the information requested and we can re-open, alternatively file a new issue.

[2021-07-14 11:44] #13645 closed

[2021-07-14 11:47] oquenchil commented on #13657
https://docs.bazel.build/versions/main/be/make-variables.html

See section for Starlark defined variables.

[2021-07-14 11:52] oquenchil commented on #13652
Can you please file this in https://github.com/bazelbuild/bazel-skylib/?

Thanks!

[2021-07-14 11:52] #13652 closed

[2021-07-14 11:57] oquenchil commented on #13659
@sfreilich Hi Samuel , could you please take a look?

[2021-07-14 12:14] oquenchil commented on #13664
Whether that works depends on the runner/framework. It could be possible that the internal and external Python rules don't use the same runner. Perhaps someone with knowledge of Python rules can clarify.

[2021-07-14 12:22] oquenchil commented on #13665
What erenon says is correct, one more detail is that the shared libraries created by cc_libraries are not really proper shared libraries that have their dependencies linked in. They are mostly created for faster development for dynamic linking in cc_tests so that when you change a file that is part of a target not everything has to be relinked.

For proper shared libraries use a cc_binary or the e

[2021-07-14 12:23] dmivankov opened #13681 "package(default_visibility=X) differs from visibility=X"
### Description of the problem / feature request:

`package(default_visibility = X)` works differently from explicitly setting `visibility = X`
Namely `visibility=` can refer to other `@repository//some:__pkg__`, but `default_visibility` ignores such entries.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

A/WORKSPACE
[code]
A/BUILD

[2021-07-14 13:35] sfreilich commented on #13659
It certainly has nothing to do with the attribute name, it's definitely an issue with the attribute type.

That pkg_tar rule indeed doesn't provide InstrumentedFilesInfo explicitly:
https://github.com/bazelbuild/rules_pkg/blob/41a00ee70e7ec5eafe77e9fc21e042fde39a5339/pkg/pkg.bzl#L383

But I'm not sure that returning:

[code]

would fix things. The logic for both looks at only label and label_list

[2021-07-14 13:48] oquenchil commented on #8273
No one is really working on Windows support these days unfortunately.

[2021-07-14 14:14] michaeledgar opened #13682 "SkyQuery hangs: concurrency design deficiencies lead to thread pool exhaustion, priority inversion"
### Description of the problem / feature request:

Queries using [SkyQuery](https://docs.bazel.build/versions/main/query.html#sky-query) may hang the Bazel server due to design deficiencies in the parallel query engine used by SkyQuery. This query engine's threading model uses fixed-size shared thread pools, which can lead to priority inversion. It will also use one blocking task for each function

[2021-07-14 14:15] michaeledgar commented on #13359
The issue comes from a long-standing deficiency in the query engine's threading model. I've filed issue #13682 to track the broader issue with SkyQuery hangs.

Based on the stack trace you provided (thank you for including it!) you're suffering from a priority inversion: a shared thread pool is using all of its threads on the `siblings` function when the `rbuildfiles` function has not completed.

[2021-07-14 14:18] michaeledgar commented on #906
@BenHenning, I dug into the issue you're describing and found that it is likely a manifestation of #13682. In your case, you're experiencing threadpool exhaustion because Github Actions run in containers with 1 or 2 cores available. If you increase the number of cores reported to the JVM, your query should make progress. This can be achieved by adding the startup option `--host_jvm_args=-XX:Active

[2021-07-14 14:27] aiuto commented on #13582
Sure. I made it P2 because nothing is truly broken right now.
That said, I think the first part - *establishing* the pattern - should be a P1 where @floriographygoth gets a lot of say in the requirements and style. After that, updating all the existing links is more of a P3.

[2021-07-14 14:29] michaeledgar commented on #13682
If you are experiencing hangs while using SkyQuery, the recommended workaround is to rewrite your query to avoid running functions in parallel. For example, in #13359, the user's original query was:

[code]

This query occasionally hung because of a priority inversion between the `siblings()` and `rbuildfiles()` functions. This can be rewritten as follows to force one function to evaluate before t

[2021-07-14 14:42] ulfjack commented on #12405
Should this be filed in rules_go?

[2021-07-14 15:01] ulfjack commented on #10642
This looks like a dupe of #8736.

[2021-07-14 15:27] ulfjack commented on #5426
@sgammon, can you post a repro for the calling Kotlin from Java issue you're seeing? Do you see the ClassNotFoundException that this bug was originally filed for?

[2021-07-14 15:32] tomrenn commented on #13149
@larsrc-google could you champion that fix into the 4.2 release branch? Meanwhile, I'll try to see if I can still reproduce this on my machine with that fix applied

[2021-07-14 16:16] alecb-stripe commented on #13576
Why not? Don't we have access to a stack trace?

[2021-07-14 16:30] Nikolas-LFDesigns opened #13684 "Bazel 3.7.1 fails to desugar org.mockito:mockito-core:3.11.2 with android test"
### Description of the problem / feature request:

Trying to run Bazel android test which starts to desugar mockito-core, which is provided inside a mockito-android. Fails on finding pure-JVM class (java.lang.instrument.ClassFileTransformer) required by pure-JVM library (log below).
The same setup but in Gradle perfectly circumvents the problem (by possibly ignoring checks for this exact class, se

[2021-07-14 16:42] larsrc-google commented on #13149
It's high on my list to pick, yes.

[2021-07-14 17:27] keith commented on #13596
This might be related https://github.com/bazelbuild/bazel/commit/2da8e84f979b4ce35fc78eda62642a565f34821d to being able to pass a flag for this in starlark

[2021-07-14 17:36] evantorrie commented on #13669
Prefer 1. lazy loading via a FUSE style daemon

[2021-07-14 17:51] brandjon commented on #5078
Prioritized because this was identified as useful for migration of native rules to Starlark.

[2021-07-14 17:59] gregestren commented on #13626
@oquenchil - this is configurability related and speaks to modern APIs. You assigned right. :)

@jlaxson as far as I understand this works as intended. https://docs.bazel.build/versions/main/platforms.html#platforms has some definitions, but the basic summary as I understand is anything that runs on a build machine is considered to run on an execution platform. That includes compilers, but also ge

[2021-07-14 18:13] jlaxson commented on #13626
Hi @gregestren

Do you mean "...run on the _same_ execution platform?".  It seems to me though that there's a faulty assumption that any test (or I think cc_binary in general?) can run on the same execution platform as the compiler that generated it.  It seems pretty reasonable that if I have a toolchain with `exec_compatible_with = ["@platforms//os:linux"], target_compatible_with = ["@platforms//

[2021-07-14 18:32] cpsauer commented on #8273
While we're all here, I'd love to get a sense for the overall state of Windows dev on Bazel.

Both from on the user experience side and in terms of Bazel team priorities.

[@jheaff1 are things working well, and this is the feature you'd most want? Or one of several issues stopping you from adopting?]

[2021-07-14 18:58] jheaff1 commented on #8273
It’s a shame to hear that there is no current development for Bazel on Windows.

My need for Windows Resource Compilation support is that I would like to use `rules_foreign_cc` to build OpenSSL on Windows. The Windows build of OpenSSL requires that the resource compiler (`rc.exe`) is on the PATH or the RC environment variable is set to the location of the `rc.exe`. With the functionally described

[2021-07-14 19:50] evantorrie opened #13685 "Docker sandboxing broken in 5.0.0-pre.20210623.2"
### Description of the problem:

Commit 1adb51287f5826ac1a8b469c417780c84ea4b467 breaks local docker sandbox builds `--experimental_enable_docker_sandbox --spawn_strategy=docker  --genrule_strategy=docker`.

This commit is present in [5.0.0-pre.20210623.2](https://github.com/bazelbuild/bazel/releases/tag/5.0.0-pre.20210623.2) but not in [5.0.0-pre.20210615.3](https://github.com/bazelbuild/bazel/re

[2021-07-14 20:39] martis42 commented on #13558
@gregestren Thanks for the clarification. Sadly https://github.com/bazelbuild/bazel/commit/79989f9becc2edefe8b35f7db687bf8de03e3580 has a serious merge conflict which I am not able to resolve. Seems like we have to wait for Bazel 5.0.

[2021-07-14 20:52] floriographygoth commented on #13582
I agree with your proposal.
 - Github links @ HEAD seem like the way to go.
 - No line numbers, if truly necessary, reference the commit
 - Minimize linking to code from docs, where possible
 - Re: versioned examples, let's have a chat

How should we proceed?

[2021-07-14 21:24] BenHenning commented on #13359
Thanks @michaeledgar that's really helpful! I'll also follow up on the new issue.

[2021-07-14 21:25] BenHenning commented on #13682
Thanks for filing this @michaeledgar & your additional context in https://github.com/bazelbuild/bazel/issues/13359#issuecomment-879930714. We recently migrated the script that performed this query to Kotlin, and our mitigation was essentially exactly your recommendation: we split up the query into multiple queries: https://github.com/oppia/oppia-android/pull/3416/files#diff-1e798d9f6f6e6059ff0d747

[2021-07-14 21:55] ahumesky commented on #11497
Has anyone had a chance to try building a bundle with android_application?

[2021-07-14 22:06] aiuto commented on #13582
For the first three points, we just declare it so. When I do the draft update of the coding standards I'll incorporate those guidelines.  Someone can clean up most of the older broken links when they want to tidy up instead of work on new things (since that part is P3).

For the versioned examples, we can chat more. That is going to require some thinking.

[2021-07-14 23:34] glukasiknuro commented on #10875
Would be possible to speed up computation of input digest by splitting input into disjoint NestedSets? Big libraries, or tools, would land in a single disjoint set each, and digest need to be computed only once for those.

Conceptually, for each NestedSet we could compute common path of all files within this set. To compute disjoint sets, first we could start with all input nested sets, and for ne

[2021-07-15 07:12] meisterT commented on #13648
@sdtwigg will this go away after your work is done?

[2021-07-15 07:53] ahadda5 opened #13687 "Bazel not shutting down Go -process remains using memory"
### Description of the problem / feature request:

Bug -  bazel running a go build, once interrupted(signal shut down- syscall.SIGINT) does not shut down the process. Lingering java process remains.

### Feature requests: what underlying problem are you trying to solve with this feature?

Releasing memory after bazel shuts down a go process.

### Bugs: what's the simplest, easiest way to reproduce

[2021-07-15 07:54] ahadda5 commented on #13687
[code]

[2021-07-15 08:50] meteorcloudy commented on #8273
I want to clarify a bit. Yes, Windows development is current relatively lower priority for the Bazel team, because there is no obviously feature parity missing and new features we develop are also tested for Windows. But we do still look into user reported Windows issues and try our best to solve them.

FYI, I recently wrote a doc about our overall Bazel Windows support, check [here](https://docs.

[2021-07-15 13:40] oehme opened #13689 "Build event upload hangs indefinitely when onError is called during completion"
I was testing a build event service and noticed that Bazel hangs indefinitely if that service fails during `onCompleted` handling. Here's a service implementation that you can reproduce this with:

[code]

The build waits indefinitely on `Waiting for build events upload: Build Event Service`. This does not happen if `onError` is called in `onNext` handling. In that case Bazel notices the error, re

[2021-07-15 14:22] thna123459 commented on #13631
I cannot reproduce it anymore, will re-open with more information if it occurs again.

[2021-07-15 14:22] #13631 closed

[2021-07-15 16:04] jheaff1 commented on #12737
Any update on this? I would simply like to disable the default compile flags but by adding `features = ["-default_compile_flags"]` to my rule  I am greeted with the following error:

`Error in configure_features: The C++ toolchain #@local_config_cc//:toolchain' unconditionally implies feature 'default_compile_flags', which is unsupported by this rule.`

The fact that bazel enforces compile flags w

[2021-07-15 17:09] guibou commented on #13648
I do have a similar problem with `--run_under` which also trash the analysis cache. In summary, there is too much options trashing the analysis cache even if they have no impact on the analysis phase.

[2021-07-15 21:25] moroten commented on #10875
It sounds like an interesting idea, but if I'm thinking of our code structure it would probably not work very well. All code includes `basics/stuff.h` so all NestedSets will have `basics/` in their path. As the library to build resides outside `basics/`, the unique path will be the root. (Hopefully I understood your idea correctly.)

I hope to get time to experiment with bazelbuild/remote-apis#141

[2021-07-16 00:15] friendly-pineapple commented on #13190
Hey, just wanted to bump this one more time and see if anyone from `team-Performance` could give us insight on this. Thanks!

[2021-07-16 07:56] sluongng commented on #13505
Hi folks,

Rolling release `bazel 5.0.0-pre.20210623.2` is breaking our `bazel coverage //...` runs because the test rules like `buildifier_test` (https://github.com/bazelbuild/buildtools/blob/master/buildifier/def.bzl#L12) and `container_test` (https://github.com/bazelbuild/rules_docker/blob/master/contrib/test.bzl#L125) does not provide coverage.dat

When changed `.bazeliskrc` with
[code]

Then

[2021-07-16 07:58] meisterT commented on #13505
Hi @sluongng, I suggest to create a separate issue for this problem that can triaged properly to the right team.

[2021-07-16 08:00] sluongng commented on #13505
@meisterT hmm in the top post it's said `This is a tracking bug for Bazel Rolling Releases` so I thought we reporting everything here. But ok let me create new issue.

[2021-07-16 08:05] sluongng opened #13690 "Rolling Release: Bazel coverage failed for buildifier_test and container_test"
### Description of the problem / feature request:

Rolling release `bazel 5.0.0-pre.20210623.2` is breaking our `bazel coverage //...` runs because the test rules like `buildifier_test` (https://github.com/bazelbuild/buildtools/blob/master/buildifier/def.bzl#L12) and `container_test` (https://github.com/bazelbuild/rules_docker/blob/master/contrib/test.bzl#L125) does not provide coverage.dat

### F

[2021-07-16 08:28] herry-c opened #13691 "Compile Line Length Limit hit under Windows"
### Description of the problem / feature request:

### Feature requests: what underlying problem are you trying to solve with this feature?

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[code]

### What operating system are you running Bazel on?
windows10

### What's the output of `bazel info release`?
[code]

### If `bazel info r

[2021-07-16 08:29] meisterT commented on #13690
cc @comius @c-mita

[2021-07-16 10:46] fweikert opened #13693 "Status of Bazel 5.0.0-pre.20210708.4"
- Expected release date: 2021-07-16

Task list:

- [x] Pick release baseline: [ca1d20fd](https://github.com/bazelbuild/bazel/commit/ca1d20fdfa95dad533c64aba08ba9d7d98be41b7) with cherrypicks [802901e6](https://github.com/bazelbuild/bazel/commit/802901e697015ee6a56ac36cd0000c1079207d12) [aa768ada](https://github.com/bazelbuild/bazel/commit/aa768ada9ef6bcd8de878a5ca2dbd9932f0868fc) [4bcf2e83](https:

[2021-07-16 13:01] #13693 closed

[2021-07-16 13:05] fweikert commented on #13690
FYI, I just pushed https://github.com/bazelbuild/bazel/releases/tag/5.0.0-pre.20210708.4. Can you please check whether the problem still persists in this release? I cannot repro myself since I don't know which version of com_github_bazelbuild_buildtools you're using.

[2021-07-16 13:42] sluongng commented on #13690
Yeah, I got the same issue with your latest version

[code]

[code]

I don't think the issue is isolated to `buildtools` as container_test rule on `rules_docker` is also facing similar issue.

There must be something changed in coverage collection that demand a test rule to emit coverage data even though it does not have any.

[2021-07-16 13:50] katre commented on #13558
Thanks everyone for the help with merging the cherrypicks. Based on the current rate of incoming PRs I'll cut RC1 on Monday morning. If you get one in after that, it's fine, I can add it to RC2 afterwards.

[2021-07-16 15:02] philwo commented on #13658
Hi @r03942139,

it looks like Bazel is trying to run binaries from its default JDK ("remotejdk11_linux") which is linked against glibc, thus doesn't run under Alpine. Unfortunately I don't know how to fix this, but because Bazel 3.x will no longer receive fixes, there isn't really a "bug" here that we can fix. It's possible that you might get this working with just adding a flag that tells Bazel t

[2021-07-16 15:02] #13658 closed

[2021-07-16 15:13] katre commented on #13558
Full list of cherrypick PRs so far (since not all are linked to this issue), for use in release notes:
- #13670
- #13671
- #13675
- #13677
- #13683
- #13686
- #13688

Plus @larsrc-google's in-progress cherrypicks for worker updates.

[2021-07-16 16:10] ZacxDev commented on #13558
@katre I would love to see https://github.com/bazelbuild/bazel/commit/e5c53cf23815641608aed530a8185092ed3e2690 included in 4.2.0 so we can compile on alpine.  I wasn't the original author but I'm happy to send a cherry-pick PR if it is ready to go in.

[2021-07-16 16:28] katre commented on #13558
@ZacxDev: I have no idea where that commit comes from: it's not in the current Bazel master branch. Can you identify the commit from Bazel/master that should be cherrypicked? Once you do, feel free to send a PR for the merge.

[2021-07-16 18:20] ZacxDev commented on #13558
@katre My bad, I think this is the one that is on master: https://github.com/bazelbuild/bazel/commit/bcce6dd026e90336e80616a8c1004a79a2f8640c

[2021-07-16 20:24] Bencodes commented on #12780
@ahumesky Have you had a look at this? This will probably be a blocker for folks trying to switch over to the `rules_android` alpha release for [app bundles support](https://github.com/bazelbuild/bazel/issues/11497) seeing as the data binding flags are a [pre-prerequisite](https://github.com/bazelbuild/rules_android/tree/pre-alpha#disclaimer).

[2021-07-16 20:25] Bencodes commented on #11497
@ahumesky We tested out the pre-alpha branch and hit this [issue](https://github.com/bazelbuild/bazel/issues/12780) immediately so we are blocked at trying it out until we can find a workaround.

[2021-07-16 23:00] gregestren commented on #13558
@martis42 - trying to support you! Please see https://github.com/bazelbuild/bazel/pull/13701.

[2021-07-16 23:10] ahumesky commented on #13558
Thanks @katre, I've sent
https://github.com/bazelbuild/bazel/pull/13702
https://github.com/bazelbuild/bazel/pull/13703

[2021-07-17 00:33] gregestren commented on #13626
I agree that tests, particularly, complicate our intuitions on what machines are doing what. It can be common for tests to run on different machines than the target code, for example tests emulating mobile devices. But your core point, about not hard-baking in inflexible expectations, is sound.

There's https://docs.bazel.build/versions/main/exec-groups.html#execution-groups-and-platform-execution

[2021-07-17 01:36] pcjanzen commented on #13626
related previous discussion: https://github.com/bazelbuild/bazel/pull/12719#issuecomment-773564014

[2021-07-17 22:42] cpsauer commented on #13558
Have filed my two as PRs. (Backlinked just above.)
Seemed like both just applied cleanly after all?

[2021-07-18 01:53] nikhilpothuru commented on #13463
Hi @gregestren , I'm new here and I'm looking through this ticket. Would it be fine if I pick this ticket up?

[2021-07-18 13:47] guibou commented on #13652
Done. Thank you.

[2021-07-19 05:38] emrekultursay opened #13707 "Unhelpful error message with "segment not permitted""
[code]

It would be nice if it printed the actual value of the pattern that contains the ../ inside it, so that the user didn't have to dig, trying to figure out how the hell ../ appeared, and in which one of the segments.

It should be added here:
https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/vfs/UnixGlob.java#L159

[2021-07-19 08:22] hlopko commented on #11593
Some existing workarounds for people finding this issue:

* write a rule that un-archives multiple .a and re-archives them all into one .a
* create your own C++ toolchain (https://docs.bazel.build/versions/main/tutorial/cc-toolchain-config.html). That gives you a way to decouple files from their command line flags. So you can make those .a files be part of "compiler_files" in the toolchain, and in

[2021-07-19 09:14] FareesHussain opened #13708 "Alternative approach to run android instrumentation tests"
### Description of the problem / feature request:

An alternative approach to run Android Instrumentation tests.
Running the tests using `android_instrumentation_test` target has many issues and a bit complicated setup instructions
and compatibility issues (i.e, only on linux).

### Feature requests: what underlying problem are you trying to solve with this feature?

Even after following the instr

[2021-07-19 09:37] dmivankov opened #13709 "repository_ctx.download doesn't use nettc"
### Description of the problem / feature request:
It seems that `repository_ctx.download(url)` doesn't handle netrc auth (while `http_archive`/`http_file` can use it, also wget can fetch same url).

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Don't have repro yet, will try to add later

### What operating system are you running B

[2021-07-19 11:18] katre commented on #13558
@cpsauer It's possible they depended on other things that were merged, and so now they applied cleanly.

I'll get these (and #13701) merged today and cut RC1.

[2021-07-19 11:47] katre commented on #13558
Created and pushed the RC:

[code]

Waiting for tests to finish.

[2021-07-19 12:47] larsrc-google opened #13710 "Worker implementations have no control over where --worker_extra_flag values are put"
The `--worker_extra_flag` option provides a way to adjust how workers behave at runtime. However, they are always put at the end of the command line, after `--persistent_worker`. For the Javac worker, this is not very useful, as the worker itself doesn't take any extra flags, but passing flags to the JVM, i.e. before the jar file, would allow tweaking memory settings, attaching debuggers, etc.

On

[2021-07-19 12:57] larsrc-google commented on #1620
We have added documentation for persistent workers: https://docs.bazel.build/versions/4.1.0/persistent-workers.html, https://docs.bazel.build/versions/4.1.0/multiplex-worker.html, and https://docs.bazel.build/versions/4.1.0/creating-workers.html. If any pertinent information is missing from there, please re-open this bug and tell me what you would like added.

[2021-07-19 12:57] #1620 closed

[2021-07-19 13:29] rmohr commented on #11533
What works pretty well for us in general is to name mirrored artifacts in GCS just with their shasum name. So e.g. v3.3.7.tar.gz` would simply be called in GCS `7cf3cefd652008d0a64a419c34c13bdca6c8f178` if that is the shasum of the file. Maybe this is an option for `--destdir` too, that looking up a filename with the shasum would be done first, followed by a shasum check and then it would proceed

[2021-07-19 14:29] katre commented on #13558
Bazel 4.2.0rc1 is now available for those that want to try it out.

You can download it from: https://releases.bazel.build/4.2.0/rc1/index.html

Please report regressions to https://github.com/bazelbuild/bazel/issues as soon as possible.

[2021-07-19 14:59] brentleyjones commented on #13669
We use remote execution. Currently we hack `--remote_download_outputs=toplevel` with an aspect to get certain artifacts that are deeper in the tree than the top level, but it has bad performance on large outputs, so we want one of these two solutions. I know 1 is in reference to the RemoteOutputService that Ed is proposing, and while I like the idea, when I tested it with macFUSE the performance w

[2021-07-19 15:21] brentleyjones opened #13711 "Crash with 4.2.0rc1: Unrecoverable error while evaluating node"
### Description of the problem / feature request:

[code]

### What operating system are you running Bazel on?

Linux

[2021-07-19 15:21] brentleyjones commented on #13558
https://github.com/bazelbuild/bazel/issues/13711

[2021-07-19 15:23] katre commented on #13711
Can you give directions on how to reproduce this? Was this the 4.2.0rc1, or Bazel head?

[2021-07-19 15:34] brentleyjones commented on #13711
4.2.0rc1. Works in 4.1.0. I'm not sure how to repo right now, I just switched our bazel version on CI to test the RC.

[2021-07-19 16:05] katre opened #13712 "[4.2.0rc1] RBE failures"
Many downstream tests for the 4.2.0rc1 release (#13558) that use RBE are failing with the same error:

[code]

[2021-07-19 16:06] katre commented on #13712
Example: https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/2105#8c39fda3-2658-4c6f-98b1-75bc366798a9

[2021-07-19 16:07] katre commented on #13712
Possibly related, but not RBE: rulles_appengine is failing with:
[code]

https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/2105#d80cadd7-1846-4878-a93b-efbae0f5bbba

[2021-07-19 16:10] katre opened #13713 "[4.2.0rc1] rules_apple fails with NoSuchElementException"
Downstream rules_apple tests for the 4.2.0rc1 release (#13558) are failing with NoSuchElementException in error handling code.

Error stack trace:
[code]

More details: https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/2105#d0d81f5b-9c85-4db8-b1ac-dfe2e57ba30f

[2021-07-19 16:11] katre commented on #13558
Looks like potentially three release blockers:
- #13711
- #13712
- #13713

I'll try to bisect and identify failures for the last two, there's current no repro instructions for #13711.

[2021-07-19 16:31] katre commented on #13626
I talk with @gregestren about this today, and we agree that it's slightly confusing, but we don't see a good way forward yet.

Currently, test rules have two [exec groups](https://docs.bazel.build/versions/4.1.0/exec-groups.html):
- The default exec group, which every rule has, and which is used to build the test artifacts
- The `test` exec group, which is used specifically to execute the test art

[2021-07-19 16:35] katre commented on #13558
Full downstream test run: https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/2105

[2021-07-19 17:02] brentleyjones commented on #13711
This is dup of https://github.com/bazelbuild/bazel/issues/13713, closing.

[2021-07-19 17:02] brentleyjones commented on #13711
Maybe not, I didn't notice the inner error was different. I'll wait to see if #13713's fix fixes this though.

[2021-07-19 17:07] jlaxson commented on #13626
I think just one degree of freedom of being able to decide if test running defaults to the toolchain's exec platform or target platform will still lack a ton of flexibility, but would mostly address my concern, and provide enough for running on-device cross compiled tests.

I think this also meets my needs provided it can be some global setting (--test_platform=?).  I can't envision how I'd really

[2021-07-19 17:21] katre commented on #13712
Looks like `local_java_runtime` was added in ba8d404978056ff2b56f4a3056d661f432fb2e58, and `JVM8_TOOLCHAIN_CONFIGURATION` in 6202271b9b1bdf1b73b1e2ad55f30cf467899005.

Assigning to @comius to figure out if there's a cherrypick that will fix this, or if we need to do something more drastic.

[2021-07-19 17:24] katre commented on #13712
Repro instructions:

Check out [rules_go](https://github.com/bazelbuild/rules_go).

Build bazel from the [release branch](https://github.com/bazelbuild/bazel/tree/release-4.2.0rc1).

Run:
[code]

[2021-07-19 17:33] katre commented on #13711
This is very different from #13713, the crash is in entirely different code.

Please try to get a repro if you can.

[2021-07-19 17:36] katre commented on #13713
Looks like there is a race condition in [`UiStateTracker.describeActionProgress`](https://cs.opensource.google/bazel/bazel/+/master:src/main/java/com/google/devtools/build/lib/runtime/UiStateTracker.java;bpv=1;bpt=1;l=707?ss=bazel&q=UiStateTracker.describeActionProgress&gsn=describeActionProgress&gs=kythe%3A%2F%2Fgithub.com%2Fbazelbuild%2Fbazel%3Flang%3Djava%3Fpath%3Dcom.google.devtools.build.lib.

[2021-07-19 17:38] katre commented on #13711
This appears to be a dupe of #12816, I'll see if I can apply the fix for that.

[2021-07-19 18:10] gregestren commented on #13463
Hi @nikhilpothuru - you're welcome to. Do you feel like you can navigate effectively the conceptual challenge above of

?

The smallest user footprint way would probably be to tell whether an alias is a `label_flag` vs. a `bool_flag`, then implement each one's logic accordingly.

[2021-07-19 18:15] katre commented on #13558
List of cherrypicks for an eventual RC2:
- #13714

[2021-07-19 18:15] katre commented on #13711
This should now be fixed. I'm going to wait for other release blockers and then I'll cut a RC2.

[2021-07-19 18:16] #13711 closed

[2021-07-19 21:51] gregestren commented on #13626
+1 if you think we're on the path toward a coherent design.

[2021-07-19 22:14] gregestren commented on #13674
Thanks for the clear & easy repro, @prestonvanloon .

This is a known design blemish. Your second comment is spot on with the analysis. Transitions change output directory bases to prevent the same action configured in two different ways in the same build to write to the same output (which wouldn't be safe). The logic that sets `bazel-testlogs` predates this and doesn't consider these differences.

[2021-07-20 00:34] ZikangXiong commented on #2801
[pazel](https://github.com/tuomasr/pazel)

[2021-07-20 01:21] ahumesky commented on #11497
Thanks for testing this, I'll post an update on that issue.

[2021-07-20 01:39] ahumesky commented on #12780
Thanks for the very detailed report, I took a look at the repro, and it shouldn't be too bad to fix this. If I recall correctly, the setterstore and classinfo files were supposed to be per-target only, so a list would do, but clearly in the case of a very long string of exports, it will grow quickly.

[2021-07-20 01:54] Bencodes commented on #13558
This would be a good fix to get into 4.2 https://github.com/bazelbuild/bazel/pull/13653

[2021-07-20 03:23] nikhilpothuru commented on #13463
Hi @gregestren, I take a look at this over the week and let you know if this is something I can handle. As I look through this ticket, I'll add any questions I have on this thread.

[2021-07-20 14:24] adamjstewart opened #13720 "Unable to install bazel 2.1.0 via spack"
### Description of the problem:

I'm unable to install bazel 2.1.0. I'm using OpenJDK 11.0.11:
[code]

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[code]

### What operating system are you running Bazel on?

Ubuntu 18.04

###  Have you found anything relevant by searching the web?

No

### Any other information, logs, or outputs

[2021-07-20 14:33] adamjstewart opened #13721 "The repository 'https://storage.googleapis.com/bazel-apt stable InRelease' is not signed"
### Description of the problem:

I'm trying to install bazel using the instructions at https://docs.bazel.build/versions/main/install-ubuntu.html but it doesn't work. See below for error message.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Follow the instructions at https://docs.bazel.build/versions/main/install-ubuntu.html

###

[2021-07-20 16:57] espindola commented on #10627
I just hit this with cc_toolchain, which uses repository_ctx.which and therefore PATH to find the default system compiler. It is easy to work around by adding CC to action_env, but a nasty surprise anyway.

[2021-07-20 20:05] meisterT commented on #13720
Is there a reason why you need that old bazel version? Have you considered using bazelisk?

I don't know how spack works, how does it know what to build?

[2021-07-20 20:08] meisterT commented on #13689
Cc @michaeledgar

[2021-07-20 20:09] adamjstewart commented on #13720
I'm trying to build `tensorboard-plugin-wit` and others have reported that it doesn't work with newer bazel. I just tried again with bazel 4.0 and the installation crashes with a bunch of obscure warnings about regexes.

Never heard of it.

Spack works just like any other package manager, it has a build recipe that explains how to compile it. See https://github.com/spack/spack/blob/develop/var/spa

[2021-07-20 20:56] brentleyjones commented on #11473
This is pretty annoying. We also set some actions to be `no-cache` to prevent uploading large-and-changes-with-every-build blobs. We don't want to set `--experimental_build_event_upload_strategy=local` as that prevents uploading the profile.json and test logs.

[2021-07-20 23:35] konste commented on #13558
While testing 4.2.0rc1 I noticed that the maximum number of actions run concurrently is now 40, while with Bazel 4.1.0 it was 80. We use machines with 40 cores and HyperThreading which is usually seen as 80 virtual cores. I doubt the issue is anything more than cosmetic change, but still curious which cherry pick could have caused that and what actually changed. And I double-checked that the issue

[2021-07-21 01:23] sfreilich commented on #13659
I think that change (9015f38) should fix the issue, and this can be closed.

[2021-07-21 01:51] cocasema commented on #13659
Thanks a lot for fixing this!

[2021-07-21 02:49] weiby3 opened #13723 "bazel run failed on abseil-hello"
### Description of the problem / feature request:

bazel run failed

### Feature requests: what underlying problem are you trying to solve with this feature?

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

git clone https://github.com/abseil/abseil-hello/tree/master/bazel-hello
and run `bazel run //:hello_main -- a_commandline_arg`

[2021-07-21 03:52] benjaminp opened #13724 "invalid --tls_certificate causes crash"
With today's HEAD Bazel:
[code]

[2021-07-21 06:08] meisterT commented on #13720
tensorflow seems to prefer 3.7.2 these days: https://github.com/tensorflow/tensorflow/blob/master/.bazelversion

https://github.com/bazelbuild/bazelisk is our recommended way to use older/selected bazel versions.

Bazelisk understands the above `.bazelversion` file and will just install and run the right bazel version.

I assume it's then a problem in their recipe not with Bazel itself.

[2021-07-21 07:14] comius commented on #13543
The conversion can already be done in starlark. Adding additional default method to structs would break others that are already doing the conversion in starlark.

[2021-07-21 07:14] #13543 closed

[2021-07-21 07:15] Warchant commented on #13543
How new method would break existing implementations?

[2021-07-21 07:19] comius commented on #13043
The flag has been flipped and removed.

[2021-07-21 07:19] #13043 closed

[2021-07-21 07:21] comius commented on #1402
java_binary deploy_env should be used for this use case

[2021-07-21 07:21] #1402 closed

[2021-07-21 07:29] comius commented on #13573
Bazel uses remote JDKs for the host_javabase and has a preconfigured set in /src/main/java/com/google/devtools/build/lib/bazel/rules/java/jdk.WORKSPACE.tmpl

The set is missing M1 architecture, so the --host_javabase workaround is the simplest.
You can also import M1 remote JDK in your own WORKSPACE file.

[2021-07-21 07:29] #13573 closed

[2021-07-21 07:32] comius commented on #13546
I don't think it's a good idea to load ijar generated classes. Additionally such change would probably cause a regression - longer ijar class file.

[2021-07-21 07:37] #6688 closed

[2021-07-21 07:41] comius commented on #13712
This is again problem with condition in old bazel-toolchains https://github.com/bazelbuild/bazel-toolchains/commit/19884d30a8fd3a1a6aef46ccb7e7f36e41ca572b

@philwo knows how to best handle it.

[2021-07-21 07:43] sventiffe commented on #13723
I cannot reproduce the issue. I've followed the instructions from https://github.com/abseil/abseil-hello/tree/master/bazel-hello and installed 4.1.0, cloned the repo with `git clone https://github.com/abseil/abseil-hello` and ran bazel and it succeeded.

Please try with a clean install of Bazel and reopen the issue if it persists.

[2021-07-21 07:54] weiby3 commented on #13723
I try `bazel clean --expunge` and `bazel run //:hello_main -- a_commandline_arg`, still got the same result.
bazel is installed via pacman, `pacman -S bazel`, with latest clang and gcc.

[2021-07-21 07:54] comius commented on #13543
It would break your approximate solution, needing to filter out also to_dict key.

[2021-07-21 07:54] sventiffe commented on #13723
Just realized that I've tried to reproduce on a Mac only, now verified with https://github.com/bazelbuild/bazel/releases/download/4.1.0/bazel-4.1.0-installer-linux-x86_64.sh

Did you use a binary (installer)?

[2021-07-21 07:58] sventiffe commented on #13723
I am not familiar with arch linux at all. It looks like Bazel is available through https://archlinux.org/packages/community/x86_64/bazel/ (is this how it gets installed via pacman?).

The issue looks as if the installation is incorrect. Could you try one of the installers from https://github.com/bazelbuild/bazel/releases and see if that works?

[2021-07-21 08:02] sventiffe commented on #13721
Can you share more information what installation method did not work for you? I've just followed the instructions to use the binary installer and it worked.

[2021-07-21 08:03] weiby3 commented on #13723
I found the reason. I have install openjdk-16, and bazel depends openjdk-11.
After uninstall openjdk-16 and reinstall bazel, this problem solved.
:joy:

[2021-07-21 08:06] sventiffe commented on #13720
If you need to use 2.1.0 please use one of the installers/binaries from our site.
https://github.com/bazelbuild/bazel/releases/tag/2.1.0

[2021-07-21 08:06] #13720 closed

[2021-07-21 08:39] meteorcloudy commented on #13691
Windows has a limit of 32767 characters for command line length. This command line is generated by [rules_jvm_external](https://github.com/bazelbuild/rules_jvm_external), please file an issue there. I think the correct fix is to use a parameter file when the command line length exceeds that limit.

[2021-07-21 08:39] meteorcloudy commented on #13691
As this is not a bug in Bazel, I'll close this issue.

[2021-07-21 08:42] meteorcloudy commented on #7982
It's weird to run an arm linux binary on Windows, I guess the rule doesn't work on Windows at all?

Anyway, this issue looks obsolete, please reopen if the issue still exists.

[2021-07-21 08:42] #7982 closed

[2021-07-21 08:42] #13691 closed

[2021-07-21 11:54] katre commented on #13558
@Bencodes Once that is submitted you can feel free to submit a PR for the cherrypick against the release-4.2.0-patches branch.

[2021-07-21 11:54] katre commented on #13558
@konste Please submit an issue, ideally with a reproduction, so that we can evaluate it and decide whether it is a release blocker.

[2021-07-21 12:46] manikandan-ravikumar opened #13725 "Bazel build, using Docker, failing on macOS Big Sur"
### Description of the problem / feature request:

[code]

### What operating system are you running Bazel on?

### What's the output of `bazel info release`?

See documentation at https://docs.bazel.build/versions/master/build-ref.html#workspace

### Output of `Bazel version`

Build target: bazel-out/k8-opt/bin/src/main/java/com/google/devtools/build/lib/bazel/BazelServer_deploy.jar

### JDK Inst

[2021-07-21 14:01] keith commented on #13573
This should be fixed on head

[2021-07-21 14:10] katre commented on #13626
That sounds great. To make sure we're all on the same page, I'd like you to go through the proposals process (detailed at https://github.com/bazelbuild/proposals). It's not particularly onerous, but it helps to ensure that we're all on the same page and agree on what needs to be added.

I'm happy to review both the proposal and the actual PRs involved, and generally to provide assistance and advic

[2021-07-21 14:39] konste opened #13726 "Bazel Memory Tracker is broken"
### Description of the problem / feature request:

Per [docummentation](https://docs.bazel.build/versions/main/skylark/performance.html#enabling-memory-tracking) Bazel allows to instrument memory allocations. This feature seems to be broken.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[Here](https://github.com/Bazel-snippets/baz

[2021-07-21 14:40] adamjstewart commented on #13721
The installation method I tried was https://docs.bazel.build/versions/main/install-ubuntu.html#install-on-ubuntu (Using Bazel's apt repository). It fails during step 2.

[2021-07-21 14:43] konste commented on #13558
https://github.com/bazelbuild/bazel/issues/13726 does not seem to be a regression from 4.1.0 to 4.2.0, but still looks problematic enough to be a release blocker for 4.2.0.

[2021-07-21 14:51] brentleyjones commented on #13573
@keith Do you know if the required commits have been cherry-picked into the 4.2.0 RC?

[2021-07-21 14:54] keith commented on #13573
not sure, it has been too hard to follow

[2021-07-21 15:02] sventiffe commented on #13721
I see, I should have noticed that from the log. I'd assume the instructions actually work (just followed them successfully), changed issue title

[2021-07-21 17:57] katre commented on #13726
@meisterT: Can you triage this and let me know if it's a release blocker for 4.2.0?

[2021-07-21 18:07] michaeledgar commented on #13689
By using your example `StreamObserver` in `BazelBuildEventServiceModuleTest`, I've confirmed the hang happens when you run bazel with the default flags: `--bes_upload_mode=WAIT_FOR_UPLOAD_COMPLETE --bes_timeout=0s`. As a workaround, you can set either --bes_timeout to a positive value, and/or change `--bes_upload_mode` to either `NOWAIT_FOR_UPLOAD_COMPLETE` or `FULLY_ASYNC`. Both of these modes al

[2021-07-21 18:57] ahumesky commented on #10240
android sdk build tools version 31.0.0 has removed dx, so we'll prioritize getting this fixed probably in the next couple of weeks

[2021-07-21 19:11] nkoroste commented on #10241
Any updates on this? I see that `dx` is not removed from the latest version of build-tools

[2021-07-21 19:53] cmcgee1024 commented on #11371
I can confirm that this workaround is functional when used with lldb on macOS, but it doesn't show a prompt ahead of time and it doesn't use curses to make it look right in my terminal. Also, you need to hit enter an extra time at the end to make the OS shell come back with its own prompt. I expect that we will be putting this inside our bazel wrapper for all of our run commands and hopefully it d

[2021-07-21 21:59] cpsauer commented on #7475
@llhe, if you still remember, any chance I could ask you for some more details on how you got around this?

I was running into a similar thing, exploring trying to use c++_shared to share libc++_shared.so between .so's. But adding linkstatic=0 to the cc_library being depended on by the android_library doesn't seem to change the link command at all. libc++_static.a and friends still get linked in.

[2021-07-21 22:31] UebelAndre commented on #11931
Why not solve for this in [rules_python](https://github.com/bazelbuild/rules_python) with a rule that ingests a `py_binary`/`py_library` and outputs a `.pex` ([pex](https://github.com/pantsbuild/pex))? I think a rule like that would be ideal since from what I've gathered `.pex` handles multiple platforms better than `.par` ([subpar](https://github.com/google/subpar))

Also, seems related to https:

[2021-07-22 00:51] keith commented on #7448
I submitted https://github.com/bazelbuild/bazel/pull/13727 for this

[2021-07-22 02:12] razfriman commented on #6681
Bump

[2021-07-22 05:17] nikhilpothuru commented on #13463
Hi @gregestren, Is there any documentation for setting up the development environment? (i.e. setting up the debugger)

[2021-07-22 07:59] meisterT commented on #13726
This is apparently broken for a long time, so technically not a release blocker. Updating the version of the tracker library seems to help (the old version stopped working with JDK11).

[2021-07-22 08:14] manikandan-ravikumar commented on #13725
@meteorcloudy Any help on this?

[2021-07-22 08:41] meteorcloudy commented on #13725
There is a warning in your build and `-Werror` was specified, which tells the compiler to treat warning as error.
Perhaps you can try to figure out where the `-Werror` flag comes from and remove it?

I'll close this one since it's not a Bazel issue, it makes more sense to file this to TensorFlow.

[2021-07-22 08:41] #13725 closed

[2021-07-22 12:00] #13713 closed

[2021-07-22 14:14] gregestren commented on #13463
Check out https://bazel.build/basics/getting_started.html.

[2021-07-22 16:05] jkrems commented on #11811
I'd like to add that even when they are inputs to the action, it sometimes still fails (maybe something to do with param files?).

It may be safer to make it required to provide the inputs to expand explicitly as part of `args.add_all` so the association isn't lost.

[2021-07-22 16:24] jkrems opened #13730 "Directory expansion in map_each can't handle nested directory values"
### Description of the problem / feature request:

We'd like to access analysis time values available in a rule implementation function, from within a `map_each` function.

### Feature requests: what underlying problem are you trying to solve with this feature?

We'd like to use a primitive value from the rule implementation inside of the argument mapper (stripping a target-specific prefix). There

[2021-07-22 17:05] benjaminp commented on #13730
There is additional context in #12701.

[2021-07-22 17:32] jkrems commented on #13730
Thanks for the link! What I'd like to prevent is that we effectively retain more memory (one struct per file etc.) which is the current workaround for the lack of partial application or closure state. But it sounds like `clientdata` was mentioned and there didn't seem to be a clear objections to that approach. Which would give us the general advantage of partial application without the lower level

[2021-07-22 17:48] GMNGeoffrey commented on #7911
I'd similarly like to see the "local" attribute be configurable. This already exists as a separate non-configurable attribute. I assume because it gets mapped to being a tag

[2021-07-22 21:49] mmcloughlin opened #13731 "String representation of Label type drops reference to the main repository"
### Description of the problem:

The string representation of `Label` type drops reference to the main repository.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

The full problem is described in google/llvm-bazel#236. The underlying cause is that `str(Label("@//path/to/label")) = "//path/to/label"`. Please let me know if there is a

[2021-07-23 00:06] michael-lefkowitz-techlabs commented on #7157
I'm still having this problem. Why was this issue closed?

[2021-07-23 02:42] chancila commented on #12670
any movement on this feature?

[2021-07-23 05:31] sgammon commented on #5426
@ulfjack https://github.com/sgammon/coverage-repro

that's a bit old, on Bazel 3.7.2, but it demonstrates each of those points above. `make test` builds, assembles a coverage report, and starts up a local server to view it.

[2021-07-23 13:33] philwo commented on #12670
@chancila Thanks for checking in! I actually just this week thought of it and have found a colleague who would like to implement it :) We'll follow up with details here soon.

[2021-07-23 14:08] larsrc-google commented on #13685
Fixed with 3288728

[2021-07-23 14:08] #13685 closed

[2021-07-23 14:35] larsrc-google commented on #12466
Are you still seeing this issue?

Also, I've fixed a GC leak on Mac in the meanwhile, which might help on the overhead you mention at the start?

[2021-07-23 16:21] marczych-zoox opened #13736 "Zipped python binaries don't have proper signal handling"
### Description of the problem / feature request:

Python binaries built with `--build_python_zip` don't properly handle signals. Specifically, the wrapper script runs `subprocess.call(...)` on the application code and any signals sent to the parent process aren't forwarded to the child. This means that python code built with `--build_python_zip` can't do any signal handling.

This issue is mentio

[2021-07-23 16:28] Warchant commented on #10134
^ Bump

[2021-07-23 16:55] katre commented on #13712
@philwo Please let me know if you have a chance to investigate this, it is blocking the 4.2.0 release.

[2021-07-23 17:28] guibou opened #13737 "--noblock_for_lock silently ignored if used after command name"
### Description of the problem / feature request:

The option `--noblock_for_lock` is silently ignored if used after command name.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

In a repository, starts a long `bazel build //...`. At the same time, try the following:

[code]

See how the first command successfully exit when the opti

[2021-07-23 19:09] av8ramit commented on #13623
So I'm very sorry, but I'm very unfamiliar with toolchains terminology. I guess what would be the equivalent value for the argument `--host_crosstool_top` for the following [toolchain](https://github.com/tensorflow/toolchains/blob/master/toolchains/remote_config/configs.bzl#L10-L15) using remote config? I imagine it would be something like `@ubuntu18.04-gcc7_manylinux2010//crosstool:toolchain`, bu

[2021-07-23 20:30] philwo commented on #13712
Oh, I think these failures are OK - it's just that the version check in bazel-toolchains does not correctly work for Bazel release candidate versions. The breakages will automatically go away once the actual final release is out.

...

Wait a sec, I think I'm having a déjà vu. 😀

So, I checked rules_go, rules_appengine and Bazel at the above failed commit f7267329c9623dc3065b7d51c9346cb22183931d.

[2021-07-23 20:33] philwo commented on #13712
@meteorcloudy Could we improve the downstream pipeline so that when it's running for a branch called `release-4.2.0rc1` it automatically embeds the correct version number (possibly we should just embed `4.2.0` and omit the rc1 part, because some of the version checks assume that the components only contain integers..) in the build steps?

[2021-07-23 20:43] katre commented on #13712
Is this an issue with the pipeline or with the way I created to he release?

I'd really like to get this right and verify it before the release finishes.

There's already going to be an RC2 next week if we need to test or tweak.

[2021-07-23 21:00] philwo commented on #13712
I think it's the pipeline. As we can see here:

![image](https://user-images.githubusercontent.com/504652/126840398-bf93f04b-c34a-48b5-ad40-649c517b52ea.png)

In the failing step it downloaded the Bazel binary that was built in this previous step:

![image](https://user-images.githubusercontent.com/504652/126840474-2c5a94c7-3b51-46e2-b65f-3062d89ac684.png)

There is no `--embed_label` or anything

[2021-07-26 07:48] meteorcloudy commented on #13712
OK, I'll look into how to make this work today!

[2021-07-26 09:49] meteorcloudy commented on #13712
I embedded the version into the rc binary, now projects are failing because the version is too high....

During RBE toolchain configuration:
https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/2115#9338eccf-cfa0-49d4-adf2-d4ffa5ba823f
[code]

During version check:
https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/2115#ff1acde8-325f-41b3-b38a-3669bfcc7442
[code]

[2021-07-26 09:53] coeuvre commented on #13712
Maybe it's a good chance to cherrypick https://github.com/bazelbuild/bazel/pull/13633 to replace `rbe_autoconfig` with `rbe_configs_gen`?

[2021-07-26 10:01] meteorcloudy commented on #13712
We'll have to cherry-pick this for all downstream projects that enables RBE, right? I think that's a bit too much work?

I looked into the source of rbe_configure, it seems that if I include the the rc name in the version lable, it might work. Let me try that first.

[2021-07-26 10:04] meisterT commented on #10134
cc @comius

[2021-07-26 10:19] coeuvre commented on #13712
Yes. We probably need to find an easier way for downstream projects to use the configurations generated by `rbe_configs_gen`.

[2021-07-26 10:31] meteorcloudy commented on #13712
The downstream is now greener when we have version "4.2.0rc1" embedded:
https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/2116#_

[2021-07-26 11:15] meteorcloudy commented on #13712
- Android Studio Plugin failed expected with "soft fail", so can be ignored.
- Bazel examples failed on version check because it requires the bazel version to be digit, it passed in the build without version embedded.
- rules_gwt failed because it doesn't work on ubuntu 18.04 after [dropping 16.04](https://github.com/bazelbuild/rules_gwt/commit/28d48b0277d047cc4be3346507cff12ad50db5c9).
- rules_no

[2021-07-26 11:55] mbinna opened #13740 "Constrain a target to specific constraint values"
### Description of the feature request:

This feature request is about a potential new attribute `constrain_to`. The concept is a generalization of [`testonly`](https://docs.bazel.build/versions/main/be/common-definitions.html#common.testonly). `constrain_to` constrains a target to one or more `constraint_value`s. Those constraints propagate virally through the dependency tree.

A good example to

[2021-07-26 13:59] katre commented on #13712
Thanks @meteorcloudy! Are there any changes I need to cherrypick into release-4.2.0-patches for these, or was this all pipeline fixes?

[2021-07-26 14:19] meteorcloudy commented on #13712
@katre Nope, there are only fixes from the CI scripts.

[2021-07-26 14:19] katre commented on #13712
Thanks. Closing this for now.

[2021-07-26 14:19] #13712 closed

[2021-07-26 14:20] katre commented on #13321
@coeuvre Can you confirm that this is fine and the needed cherrypicks are present?

[2021-07-26 14:29] #13726 closed

[2021-07-26 21:41] #12559 closed

[2021-07-27 00:48] cushon commented on #12754
This has been implemented as `java_common.compile(..., enable_annotation_processing = False)`

[2021-07-27 00:48] #12754 closed

[2021-07-27 01:57] coeuvre commented on #13321
Yes, the needed cherrypicks are included.

[2021-07-27 01:57] #13321 closed

[2021-07-27 03:50] coeuvre commented on #13621
For the given repro, the second build missed the cache because the `actionKey` is changed - adding `no-remote-cache` [changes](https://github.com/bazelbuild/bazel/blob/0f812eb5e561cc5415d0c9931675e58dc37a5850/src/main/java/com/google/devtools/build/lib/remote/RemoteExecutionService.java#L262)  filed `do_not_cache` of `Action` message from `false` to `true`.

However, we do expect the second build

[2021-07-27 09:01] dmivankov opened #13746 ""not included in runfiles" error on false targets clash"
### Description of the problem / feature request:

External repository files can clash with rule outputs and produce "main program File.... not included in runfiles" errors.
Doesn't seem to happen with rule-generated external targets.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

A/WORKSPACE: empty file
A/foo: empty file
A/bar/foo

[2021-07-27 12:27] sluongng opened #13747 "Feature Request: Support sparse-checkout to git_worker"
### Description of the problem / feature request:

Recently, git.git has been adding feature to enable sparse-checkout possible.
This help reducing the amount of git-fetch data to a selected subset of trees and blob inside the repository instead of having to download all trees and blobs.

https://git-scm.com/docs/git-sparse-checkout

### Feature requests: what underlying problem are you trying to

[2021-07-27 12:35] brentleyjones commented on #13621
Seems to me that `do_not_cache` shouldn't be part of the `actionKey`.

This is my main use, I'm not flipping the flag, I'm just setting it globally, and I noticed that those with `no-remote-cache` were causing the disk cache to not work.

[2021-07-27 12:36] konste opened #13748 "Option --starlark_cpu_profile is completely broken on Windows"
### Description of the problem / feature request:

[--starlark_cpu_profile](https://docs.bazel.build/versions/main/command-line-reference.html#flag--starlark_cpu_profile) command-line option crashes Bazel server on Windows.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

For absolutely any Bazel build on Windows adding `--starlark_c

[2021-07-27 12:43] konste commented on #13748
@meteorcloudy could you please take a peek as the Windows expert? It is trivial to repro and broken completely, so I hope it may be a small fix.

[2021-07-27 13:03] katre commented on #13558
As all release blockers have been addressed, I'll cut RC2 later today.

[2021-07-27 14:03] sethkoehler commented on #13321
Just to verify, I was clicking on the cherrypicks and the last one was a PR (#13339).  Unlike the other entries (e.g., https://github.com/bazelbuild/bazel/commit/4efeac9cb5f85325ed73f64e133a078c483cac01), I didn't see a label indicating this was included in 5.0.0-pre.20210708.4 (when I clicked on specific commits in https://github.com/bazelbuild/bazel/pull/13339/commits), I noticed there was a war

[2021-07-27 14:19] katre commented on #13321
@sethkoehler Because of the degree of divergence between 4.2.0 and 5.0.0-pre, the commits require changes to merge cleanly. This changes the commit id and causes git to report that it is only on the release branch. These are still cherrypicked commits from the master branch on bazelbuild/bazel.

Some commits are also fixes for specific release blockers and may not yet be in a released version of B

[2021-07-27 14:21] sethkoehler commented on #13321
Ok, glad to hear all is well, thank you for confirming those commits are indeed in the upcoming 5.0.0 release!

[2021-07-27 14:34] katre opened #13751 "Crash when using exec transition as incoming rule transition"
Reproduce:
[code]

Error:
[code]

(This is copied from an internal bug report)

[2021-07-27 14:41] fweikert opened #13753 "Status of Bazel 5.0.0-pre.20210720.2"
- Expected release date: 2021-07-27

Task list:

- [x] Pick release baseline: [a52b1320](https://github.com/bazelbuild/bazel/commit/a52b1320da06c85d5aaa1ece9eb46acabd09b33f) with cherrypick [eb956e8b](https://github.com/bazelbuild/bazel/commit/eb956e8b6a7d12fe2c75d67abfd8c950b4c9508e)
- [x] Create release candidate: https://releases.bazel.build/5.0.0/rolling/5.0.0-pre.20210720.2rc1/index.html
- [x

[2021-07-27 14:52] meteorcloudy commented on #13748
Thanks for the report! I'll look into it.
/cc @meisterT

[2021-07-27 15:05] katre commented on #13558
RC2 is created and available at https://releases.bazel.build/4.2.0/rc2/index.html

[2021-07-27 15:25] #13598 closed

[2021-07-27 16:47] #13753 closed

[2021-07-27 17:24] katre commented on #13558
Failures from https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/2118:

- Android Studio Plugin
  - Fails at HEAD
  - Missing input file
  - https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/2118#6f213797-e732-4e8a-8f00-8e494f762664

- Android Testing
  - Fails at HEAD
  - Requires Android build tools 30.0.0, 28.0.2 provided
  - https://buildkite.com/bazel/bazel-at-hea

[2021-07-27 17:32] keith commented on #11379
I think this issue, at least related to running in docker on M1 machines, still exists

[2021-07-27 18:02] nkoroste commented on #12466
Can you link to the GC leak fix change?

My findings above (https://github.com/bazelbuild/bazel/issues/12466#issuecomment-740915617) were made on a Linux machine so if the fix impacts only Mac there might still be an issue.

[2021-07-27 20:52] andrewkatson commented on #13748
I got a stack trace

[code]

[2021-07-27 22:17] David-Lam commented on #7093
Hi everyone! I have create a PR https://github.com/bazelbuild/bazel/pull/13756 that add wildcard to .bazelignore. Feel free to review it. Thanks!

[2021-07-27 23:39] mskonovalov opened #13758 "Turbine: error: missing required annotation argument: <clinit>"
### Description of the problem / feature request:

Have a java + spring target that builds successfully but fails during Intellij sync.
[code]

I was able to checkout `turbine` and reproduce the bahavior - it works on latest master of turbine.
It seems this has been fixed in `turbine` 5 month ago https://github.com/google/turbine/commit/617a8f61b47d31f710386331b4380ba3c9c93872 but bazel still has

[2021-07-28 00:29] ariccio opened #13759 "(minor) incorrect signedness fprintf params in WstringToCstring"
### Description of the problem / feature request:
In [WstringToCstring](https://github.com/bazelbuild/bazel/blob/09c621e4cf5b968f4c6cdf905ab142d5961f9ddc/src/main/cpp/util/strings.cc#L363), the error path nicely prints a diagnostic before `exit`ing. :

[code]
MSVC code analysis reports: `src\main\cpp\util\strings.cc(367) : warning C6340: Mismatch on sign: 'unsigned int' passed as _Param_(3) when s

[2021-07-28 02:18] aiuto commented on #13758
This seems like just updating the third_party dependency will fix it.

[2021-07-28 02:42] aiuto commented on #13730
@comius You might find this one interesting.

[2021-07-28 04:27] mskonovalov commented on #13758
I hope it should. What is the process around this?

[2021-07-28 06:12] coeuvre commented on #13621
That's defined by [REAPI](https://github.com/bazelbuild/remote-apis/blob/main/build/bazel/remote/execution/v2/remote_execution.proto#L491) used to tell remote server whether the action result should be cached. I understand that this field doesn't make sense in our case but I am not sure the correct way to handle this, considering we may combine disk cache with remote cache.

[2021-07-28 07:33] meteorcloudy commented on #13748
Looks like this isn't a bug, but a feature request since the cpu profiler is not yet implemented on Windows.
https://cs.opensource.google/bazel/bazel/+/master:src/main/java/net/starlark/java/eval/BUILD;l=95;bpv=0

[2021-07-28 07:35] meteorcloudy commented on #13748
/cc @brandjon

[2021-07-28 07:39] meisterT commented on #13748
I guess it still shouldn't crash hard

[2021-07-28 07:43] pjk25 opened #13761 "Bazel crash in com.google.devtools.build.lib.bazel.execlog.StableSort.stableSort"
### Description of the problem / feature request:

Bazel occassionally crashes with the following:

[code]

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Unfortunately I'm not yet aware of a minimal case. The crash occurred in CI but passed when re-run. Remote build execution via BuildBuddy.io is used.

### What operating system ar

[2021-07-28 07:45] meteorcloudy commented on #13748
IIUC, Andrew is looking into porting cpu_profiler_posix.cc to Windows. If that doesn't work, we'll make it fail gracefully.

[2021-07-28 07:45] pjk25 commented on #12510
#13761 seems to be another instance of this issue

[2021-07-28 08:20] larsrc-google commented on #12466
The fixes are commit 6bf44ba (don't GC all the time) and commit 94ac839 (GC only occasionally). But yeah, I don't know of any impact of this on Linux.

Are you still seeing these extra worker deaths? Do they show when passing `--worker_verbose`?

If you can patch in commit 786b418, you will get details on the workers in the profiles.

[2021-07-28 10:39] doniwinata0309 opened #13762 "Use git_repository failed the build"
### Description of the problem / feature request:

For example::

[code]

Running `bazel info` will failed the build, please find the stacktrace below.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

My friend not have this issue, seems only happen on my computer.
clone this repo:
https://github.com/grab/Grazel
Run `bazel info` will

[2021-07-28 12:57] manikandan-ravikumar commented on #13725
@meteorcloudy Thanks for the response. But the warning/error message is not specific or descriptive enough I can see the followings warnings in the GitHub action console,
1) _WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv_
I

[2021-07-28 14:32] meteorcloudy commented on #13725
This is the one I meant, it comes from the javac compiler.

You can probably fix this by removing this line:
https://github.com/tensorflow/tensorflow/blob/5dcfc51118817f27fad5246812d83e5dccdc5f72/tensorflow/java/build_defs.bzl#L15

[2021-07-28 14:36] manikandan-ravikumar commented on #13725
Thank you @meteorcloudy

[2021-07-28 14:47] konste commented on #13748
@andrewkatson could you please comment for me how you got that stack trace?

[2021-07-28 14:53] mattem opened #13764 "UrlRewriter logging is very noisy"
### Description of the problem / feature request:

When using `--experimental_downloader_config` to rewrite URLs, the rewritten URLs are [logged at INFO level](https://cs.opensource.google/bazel/bazel/+/ceb498fd6b9323a738f0ba628d12a23a161a0671:src/main/java/com/google/devtools/build/lib/bazel/repository/downloader/UrlRewriter.java;l=106;drc=7649f610c45190735fd7de433b15679b21b2d91b;bpv=0;bpt=1). Fo

[2021-07-28 16:52] tomrenn commented on #13149
I could not reproduce this locally on my machine, but our CI system failed on Bazel 4.2.0RC2 with

[code]

[2021-07-28 16:56] larsrc-google commented on #13149
Yeah, looks like it. I'm currently working on getting that fix in, but there's a lot of divergence.

[2021-07-28 17:14] ob opened #13766 "Sandbox doesn't work on macOS Big Sur when the sandbox directory is in a firm linked directory"
macOS Catalina (10.*) introduced a security feature where the [root filesystem is mounted read-only](https://support.apple.com/en-ca/HT210650), and a mechanism for creating directories or symlinks at boot time called [firmlinks](http://www.swiftforensics.com/2019/10/macos-1015-volumes-firmlink-magic.html). Since the root filesystem is read-only, a new volume mounted at `/System/Volumes/Data` is ov

[2021-07-28 17:37] #13751 closed

[2021-07-28 17:51] haifeng-jin commented on #13664
It is using `tf.test.TestCase`, which is a subclass of `googletest.TestCase`.

[2021-07-28 18:09] aiuto commented on #13758
Someone on the bazel team has to update things in //third_party.
It has the appropriate label, so the right people should pick it up in their triage.

[2021-07-28 18:34] andrewkatson commented on #13748
It was actually in ```jvm.out```!

[2021-07-28 18:37] konste commented on #13748
Weird! For me `jvm.out` was completely empty.

[2021-07-28 18:50] c-parsons commented on #8419
Can we just make the underlying dictionary items passed to `select()` readable and immutable, like [dict.items](https://docs.bazel.build/versions/main/skylark/lib/dict.html#items) ?

[code]

We don't expect selects to be excessively large, so I don't have efficiency concerns, and this allows macros to reconstruct selects as they see fit.

WDYT?

[2021-07-28 20:11] #13443 closed

[2021-07-28 20:15] ariccio opened #13767 "(minor) WriteFileToStderrOrDie warnings, possible incorrect error checking"
### Description of the problem / feature request:
It looks like when someone wrote [`WriteFileToStderrOrDie`](https://github.com/bazelbuild/bazel/blob/79c224a1da8bad8f2fc0a3d7104c63178fd93eb7/src/main/cpp/blaze.cc#L744), they assumed it used unix style C errors:
[code]
I believe so, because compiling blaze with higher warning levels produces a `src/main/cpp/blaze.cc(744): warning C4267: '=': conve

[2021-07-28 20:17] BillyAutrey commented on #6005
Probably related - I found that even using the `--test_strategy=exclusive` flag in your execution isn't respected.  All tests will run in parallel, even with a top level option to run in exclusive mode.

[2021-07-28 20:25] keith commented on #13762
Based on the last line here:

[code]

I think this is saying you don't have `git` installed? (or maybe not in your `$PATH`?)

[2021-07-29 01:14] ahumesky commented on #12780
I've submitted a couple changes that should address some of this problem.
You'll need a build of bazel that includes https://github.com/bazelbuild/bazel/commit/876d48defe325aa6fbe471a9e209c2a740585fd5

and android rules including https://github.com/bazelbuild/rules_android/commit/9b6935e013dccdfb98c4adc25ced77d0e9a9a09b

(Also, bazel at head enables validation actions by default, and there's a pro

[2021-07-29 01:33] arunkumar9t2 commented on #12780
Thanks @ahumesky will test and report back.

[2021-07-29 02:43] doniwinata0309 commented on #13762
I already have git installed and updated it to the latest version
MacBook-Pro:Grazel doni.winata$ git --version
git version 2.32.0

I also make sure the folder permission works and did able to run git  init manually on bazel target folder. Do you have other clue what may be wrong ? Thanks

[2021-07-29 07:25] coeuvre commented on #13621
The linked PR should fix this issue.

For the combined cache, it is currently considered as remote cache i.e. if `no-remote-cache` is set, both disk and remote cache are not touched for the action. I am not sure whether this is expected so I leave it unchanged. But I would think, in this case, the disk cache should be used and leave remote cache untouched.

[2021-07-29 08:18] thundergolfer commented on #12841
Same kind of issue in `pyarrow==3.0.0`. It includes a file with path: `pyarrow/tests/data/feather/v0.17.0.version=2-compression=lz4.feather`.

[2021-07-29 10:30] fweikert opened #13770 "Status of Bazel 5.0.0-pre.20210722.2"
- Expected release date: 2021-07-29

Task list:

- [x] Pick release baseline: [0d94a347](https://github.com/bazelbuild/bazel/commit/0d94a3471cd845a2c401be4b3c9059eaeb8dcda0) with cherrypick [0eef1141](https://github.com/bazelbuild/bazel/commit/0eef11411d09732266f79f46bfd91bbbf2db6c44)
- [x] Create release candidate: https://releases.bazel.build/5.0.0/rolling/5.0.0-pre.20210722.2rc1/index.html
- [x

[2021-07-29 13:05] lencioni commented on #8230
We have been working to speed up sandboxing for our TypeScript Bazel build, which was originally often timing out at a 90 minute limit and frequently running at ~60 minutes (currently running without caching or remote build execution). We had identified the primary culprit as sandboxing slowness, which we observed both on Mac OS (our laptops) and Linux (our CI machines).

We had previously only en

[2021-07-29 13:08] brentleyjones commented on #13621
The description of the tags say to use `no-cache` to exclude from both disk and remote cache, and that `no-remote-cache` only applies to the `remote` cache. This is a regression from that original behavior.

https://docs.bazel.build/versions/main/be/common-definitions.html#common.tags
https://github.com/bazelbuild/bazel/issues/7932#issuecomment-502789602
https://github.com/bazelbuild/bazel/issues/

[2021-07-29 13:11] brentleyjones commented on #13621
Wow, I guess I missed this part, which I feel is the main issue? I feel it's wrong:

[2021-07-29 13:21] EitoWayve80 commented on #11473
I also needed to use it to prevent build failures

[2021-07-29 14:20] #13770 closed

[2021-07-29 14:45] aiuto commented on #13746
Using short_path doesn't seem right.
If you want to write a file that will successfully point to an input Label, you probably need .path.

[2021-07-29 14:53] aiuto commented on #13761
Sending to team-RemoteExec only because this is happening in a remote exec situation.
But that might be just coincidence.

@anakanemison @agoulti   You both look like editors of this area of the code. Any thoughts?

[2021-07-29 15:20] pjk25 commented on #13761
Removing `--execution_log_binary_file=/tmp/exec.log` from the bazel invocation seems to avoid the issue, so I think there is a good chance this is the same as #12510

[2021-07-29 16:39] coeuvre commented on #13621
Thanks for the pointers!

Yes, for the combined cache, it seems reasonable that `no-remote-cache` only disables remote cache, the disk cache should still be enabled. Maybe I can reuse the `incompatible_remote_results_ignore_disk` flag to change this behavior.

[2021-07-29 16:45] katre commented on #13558
List of cherrypicks for the eventual RC3:
- #13768

[2021-07-29 16:51] dmivankov commented on #13746
short_path part is just for debugging purposes, can be safely removed from example

[2021-07-29 16:53] dmivankov commented on #13746
removed it now

[2021-07-29 19:06] c-parsons commented on #8419
Scratch my previous message. Let me clarify a more rigorous proposal:

**Some background:**

As a mechanism to workaround this issue, I'm proposing that macro writers and users use the following convention:

- Use a starlark `list<string or dict>` to signify a pre-constructed select.
- Read / make modifications to this value in macro code as you see fit
- Wrap in a select directly before passing t

[2021-07-29 21:20] devjgm opened #13771 "Documentation issue: Concepts and terminology"
Documentation URL: https://docs.bazel.build/versions/main/build-ref.html

This documentation says:

Which really sounds like subdirectories containing a WORKSPACE file will not be descended when building with `bazel build ...` from within the parent workspace. However, this appears to be untrue.  Given

[code]
[code]

Which *appears* to contradict the documentation.

[2021-07-30 00:18] alexeagle commented on #8230
@lencioni I'm so glad you found time to try this out, as I haven't yet.

Did you do any experiments yet with `experimental_reuse_sandbox_directories` but not enabling `exports_directories_only` ?

[2021-07-30 02:58] cushon commented on #13758
cc @comius

The turbine fix made it into java_tools v11.2 per https://github.com/bazelbuild/bazel/issues/13144#issuecomment-793523465, this will be fixed in Bazel 4.2

[2021-07-30 06:18] ashi009 opened #13774 "Bazel server became zombie after oom"
### Description of the problem / feature request:

While reviewing some recent bazel invocation failures, we find some zombie bazel server processes that appear experienced grpc related oom.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Build a large bazel target with remote cache enabled.

We don't have a reliable way to reproduc

[2021-07-30 13:36] lencioni commented on #8230
@alexeagle I ran out of time yesterday to do that, but I'll kick off some test builds now and report back when I can.

[2021-07-30 13:43] purkhusid commented on #8230
For those using LTS releases, will these flags be available in 4.2 or only in 5.0?

[2021-07-30 13:46] meisterT commented on #8230
@larsrc-google is working on worker related cherrypicks for 4.2 - not sure if that CL will be included

[2021-07-30 14:11] larsrc-google commented on #8230
I was not planning to cherry-pick `experimental_reuse_sandbox_directories` for 4.2, no. It's new and experimental. The `experimental_sandbox_async_tree_delete_idle_threads` option is years old.

[2021-07-30 15:55] chrismgrayftsinc commented on #6681
So I finally figured out why the behavior @martindow noticed above is happening (that is, no tests being run for toolchains other than java8).  The reason is the version of java in the `runfiles` directory is lower than the version of java that compiled the classes.  Running the test classes directly through `ConsoleLauncher` gives an error like `Caused by: java.lang.UnsupportedClassVersionError:

[2021-07-30 16:43] keith commented on #1215
FYI for folks who are interested in rolling their own here, here's an example  https://github.com/envoyproxy/envoy/pull/13788

[2021-07-30 16:44] lencioni commented on #8230
I've run the build 3 times now, with `experimental_reuse_sandbox_directories` and `experimental_sandbox_async_tree_delete_idle_threads` enabled, but `exports_directories_only` disabled. These builds clock in at 28m 14s, 30m 15s, and 28m 29s. So about 6 minutes slower.

[2021-07-30 16:48] Bencodes commented on #11497
@ahumesky We did another round of testing against the data bindings patches with the alpha branch of rules_android. We got further but hit a new failure case where custom styles that references Android resource attributes provided by 3rd party dependencies aren't being found during static linking.

Tested using `rules_jvm_external` and `bazel` HEAD.

[code]

`BUILD`
[code]

`res/values/styles.xml`

[2021-07-30 17:14] chrismgrayftsinc commented on #6681
For users of the 3.5.0 docker version, the following bazelrc works for me:

[code]

I put this in a file named `.bazel-ci.rc` and invoke the tests with `bazel --bazelrc=.bazel-ci.rc test --test_output=errors  //:foo-tests`

[2021-07-30 17:42] katre commented on #13558
@larsrc-google says there are a few more fixes for remote/dynamic workers, once those are in I think it'll be time to close this for cherrypicks and finalize the release.

Thanks everyone for working with the process!

[2021-07-30 22:50] JayBazuzi opened #13779 "Please add nojdk packages of Bazel for Windows"
### Description of the problem / feature request:

Currently Bazel produces `nojdk` packages of Bazel for Linux and Mac, but not for Windows. Please expand that to include Windows.

![image](https://user-images.githubusercontent.com/1259628/127718627-13fbce89-6a94-4c34-a3e5-8e7a3684e0f5.png)

### Feature requests: what underlying problem are you trying to solve with this feature?

Bazel 4.1.0 come

[2021-07-31 08:19] anandwana001 opened #13780 "ERROR: Generating JavaLite proto_library failed:"
### Description of the problem / feature request:
I am have been building by Bazel project with ease earlier, but after updating my mac to Big Sur version 11.1, I am facing issues in generating the proto files.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

### What operating system are you running Bazel on?
Big Sur version 11.1

#

[2021-07-31 15:48] InvisibleLeVen opened #13781 "bazel build invalid external libary on windows"
I try to build mediapipe on Windows system.It uses babel build system.When I installed the relevant dependencies and started to build, an error occurred during the link.

`avx512f_ukernels.lib(vrndz-avx512f-x16.obj) : error LNK2001: unresolved external symbol _cvtu32_mask16`
`....`

I thought it was a problem with the msvc compiler at first.But I wrote a deme test _cvtu32_mask16 and found that my

[2021-07-31 16:29] daveb68 opened #13782 "Documentation issue: attr"
Documentation URL: https://docs.bazel.build/versions/main/skylark/lib/attr.html

The documentation for the cfg parameter is incomplete and misleading to those who have not grok-ed all of Bazel's concepts yet.

It currently states:

If one does not navigate to the configuration link and read all of that documentation, it is unclear that you can provide your own transition.  This can be problematic

[2021-08-01 06:11] mhansen opened #13783 "Documentation issue: sandboxfs / osxfuse sysctl missing"
Documentation URL: https://docs.bazel.build/versions/main/sandboxing.html

I tried running the suggested command for osxfuse after restarting and installing osxfuse, and got this error:

[code]

If I list all the sysctls I don't see any for `osxfuse`.

I'm using macFUSE 4.1.2, the latest stable from https://osxfuse.github.io/.

[2021-08-01 10:46] mlen opened #13784 "Builds with the local toolchain fail when it is using OpenJDK 16"
### Description of the problem / feature request:

Builds with the local toolchain fail when it is using OpenJDK 16, because `UseParallelOldGC` option was deprecated in [JEP 366](http://openjdk.java.net/jeps/366) and then subsequently removed in https://hg.openjdk.java.net/jdk/jdk/rev/62a003539b0c.

It seems that this can be fixed by removing problematic option from [`default_java_toolchain.bzl`](

[2021-08-01 15:16] Zemnmez commented on #10363
Having this issue sometimes. It'd be great if it printed out the path for the file so I could use some other way to delete it.

[2021-08-02 10:14] illicitonion opened #13785 "Duplicate label detection doesn't allow commonality across disjoint selects"
Example of bug:
[code]

This should be valid, as the selects which add `test.sh` to `srcs` are disjoint, but Bazel is overly strict in its implementation: https://github.com/bazelbuild/bazel/blob/c785f0221c6d5f2e7ecf4aad9fcf28581679060b/src/main/java/com/google/devtools/build/lib/packages/AggregatingAttributeMapper.java#L184-L205

[2021-08-02 10:18] lfpino opened #13786 "Invalid remote execution TLS flags silently crash Bazel"
### Description of the problem / feature request:
Passing an invalid value to --tls_client_certificate and/or --tls_client_key silently crashes Bazel

$ cat BUILD
sh_binary(
  name = "foo_sh",
  srcs = ["foo.sh"],
)
$ touch WORKSPACE
$ bazel build :foo_sh --remote_executor=foo --tls_certificate=tlscert --tls_client_certificate=client --tls_client_key=tlskey
--Silently crashes--
$ bazel --client_de

[2021-08-02 10:47] grimreaper opened #13787 "allow genquery to be depended upon"
### Description of the problem / feature request:

It should be possible to depend on genquery output in another rule. Specifically a test should be possible to read the output of genquery.

### Feature requests: what underlying problem are you trying to solve with this feature?

In our monorepo we have several "code structure rules" which we'd like to enforce. To understand lets look at a fairly

[2021-08-02 11:46] katre commented on #13558
Barring new failures, I think it's time to close this release to cherrypicks. I'll create a new RC shortly.

[2021-08-02 13:09] katre commented on #13558
RC3 is created and available at https://releases.bazel.build/4.2.0/rc3/index.html

[2021-08-02 15:25] katre opened #13789 "4.2.0rc3 failure in ConcurrentTests"
The 4.2.0rc3 (#13558) build is showing downstream failures in bazel itself (so running the tests at head with 4.2.0rc3). This may just be a known issue due to divergence between the code in the LTS branch and the master branch, or may be a real failure.

Error log: https://storage.googleapis.com/bazel-untrusted-buildkite-artifacts/143780c4-1780-4dfc-849c-56414b5743c5/src/test/java/com/google/devto

[2021-08-02 15:25] katre commented on #13558
Downstream tests have finished: https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/2125

- Android Testing (all)
  - Android build tools version 30.0
  - Same as HEAD

- Bazel (Ubuntu 20.02 (OpenJDK 11))
  - //src/test/java/com/google/devtools/build/lib/concurrent:ConcurrentTests failure
    - https://storage.googleapis.com/bazel-untrusted-buildkite-artifacts/143780c4-1780-4dfc-849c-

[2021-08-02 16:41] benjaminp commented on #13786
#13724

[2021-08-02 16:45] benjaminp commented on #13787
Is something besides putting the `genquery` rule in the `data` attribute of a test needed? E.g.,
[code]

[2021-08-02 17:53] grimreaper commented on #13787
so I tried this and ran into issues. This may have been specific to my rules/environment though.  I'll close this and reopen if I actually found an issue

[2021-08-02 17:53] #13787 closed

[2021-08-02 18:20] haberman opened #13791 "Bazel installer script fails with Syntax error: redirection unexpected'"
### Description of the problem / feature request:

The Bazel installer fails with the following message:

[code]

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

`use_bazel.sh latest` in a Kokoro build.

### What operating system are you running Bazel on?

Ubuntu

I previously reported this issue in https://github.com/bazelbuild/baze

[2021-08-02 19:36] herrahmo commented on #8833
Hi everyone, I am a bit of a new programmer, I am trying to Install Bazel on my

Sorry for my ignorance, but how do install using this file?

[2021-08-03 03:23] ahumesky commented on #11497
Thanks for testing this out. I was able to repro the problem with the style resource, could you file an issue about this? I'll investigate from there.

[2021-08-03 03:43] Bencodes commented on #11497
@ahumesky moved the issue over to here https://github.com/bazelbuild/rules_android/issues/39

[2021-08-03 03:58] coeuvre commented on #13786
Duplicate of #13724.

[2021-08-03 03:58] #13786 closed

[2021-08-03 06:18] coeuvre commented on #11473
I think it's reasonable to print a warning message and continue the build in this case, just like CAS upload.

IIUC, `no-cache` by definition only prevents writing to remote cache within action execution. Uploading outputs of `no-cache` actions should be valid for BEP uploader.

However, I do understand there are cases where we don't want some outputs be uploaded. We probably need another way to d

[2021-08-03 08:46] meteorcloudy opened #13793 "Bzlmod: Implement strict repo deps"
Main issue: https://github.com/bazelbuild/bazel/issues/13316

The repository derived from a Bazel module should only be able to access other repositories generated from its direct dependencies.

Eg.

A/MODULE.bazel:
[code]
B/MODULE.bazel:
[code]
C/MODULE.bazel
[code]

Repository A won't be able to access any targets from C unless it also declares a direct dependency on C by adding `bazel_dep(name

[2021-08-03 08:53] meteorcloudy opened #13794 "Bzlmod: Support declaring a Bazel module as dev dependency"
Main issue: https://github.com/bazelbuild/bazel/issues/13316

The `bazel_dep` directive should supports declaring a dependency as dev dependency:
[code]
When B is declared as a dev dependency, it won't propagate downstream when other project depends on A.

[2021-08-03 09:26] arunkumar9t2 commented on #12780
I tested in our project and can confirm Bazel does not hang anymore.

[2021-08-03 11:21] fweikert opened #13795 "Status of Bazel 5.0.0-pre.20210728.1"
- Expected release date: 2021-08-03

Task list:

- [x] Pick release baseline: [d4dd2038](https://github.com/bazelbuild/bazel/commit/d4dd2038039ecbc63e2d3037855c31145b335ad4)
- [x] Create release candidate: https://releases.bazel.build/5.0.0/rolling/5.0.0-pre.20210728.1rc1/index.html
- [x] Post-submit: https://buildkite.com/bazel/bazel-bazel/builds/16983
- [x] Push the release: https://releases.baz

[2021-08-03 12:42] katre commented on #13623
Sorry for the delay in answering, I had trouble re-finding this issue. The `--host_crosstool_top` flag specifically sets the value of the `--crosstool_top` flag when building in host mode: ie when building tools that will be run as part of a build on the local host. Unfortunately, that has no meaning with remote builds: you could have multiple types of remote workers executing build actions.

The

[2021-08-03 13:16] brentleyjones commented on #11473
I think both of those would be good to have, and if I had to choose just one, it would be the new flag.

[2021-08-03 13:48] aiuto commented on #13780
This is really a question for https://github.com/protocolbuffers/protobuf or https://github.com/bazelbuild/rules_apple

[2021-08-03 13:50] aiuto commented on #13781
This is not a Bazel problem itself. You may have better luck finding an answer on StackOverflow.

[2021-08-03 14:54] #13795 closed

[2021-08-03 18:03] katre commented on #13789
Can't reproduce this, and it passed on a re-run (https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/2125#6c578221-9631-43e2-89c2-fc385c4600dc), so closing this issue.

[2021-08-03 18:03] #13789 closed

[2021-08-03 18:04] katre commented on #13558
No new release blockers with RC3.

I'll plan to release this Thursday if no new blockers are found.

[2021-08-03 18:22] allada opened #13796 "--legacy_external_runfiles = false does not work when running external tests"
### Description of the problem / feature request:
If you make a blank project with `--legacy_external_runfiles=false` set then try and run a test like `@some_external//:some_test` you will get a failure like:
[code]
This is because the CWD starts in a path like:
[code]

I have tested this on 3.3.0 and 4.1.0 and the problem persists in both.
### Workaround
There's a terrible workaround that can be

[2021-08-03 19:41] holaworlds commented on #12879
I am receiving simirlar error. My bazel version is : bazel 4.1.0

<img width="1426" alt="Screen Shot 2021-08-03 at 10 40 34 PM" src="https://user-images.githubusercontent.com/13123340/128076025-791e006b-93aa-4457-93f4-341dbbd5ae77.png">

[2021-08-03 19:54] katre commented on #12879
@holaworlds This is a similar error message but a different underlying cause. Please open a new issue with details on how to reproduce the error.

[2021-08-03 22:15] perezd opened #13797 "Bazel in Windows Server 2016 Docker container failing when interacting with mounted workspace path"
Error I'm seeing:
[code]

Here's a gist of the Dockerfile setup:
https://gist.github.com/perezd/1e812472666df2c9d42dd6eb5fa693d8

I'm running it like so:
[code]

The dockerfile forwards args to Bazel, so in that above command I'm simply attempting to print version strings. If I remove the volume mount, version info prints just fine.

Something is going wrong here:
https://github.com/bazelbuild/baz

[2021-08-03 23:40] ahumesky commented on #12780
Excellent, thank you for confirming!

[2021-08-03 23:40] #12780 closed

[2021-08-04 00:01] GMNGeoffrey opened #13798 "Linux Sandbox Log Spam"
### Description of the problem / feature request:

I was trying to debug something earlier and ran my build with `--verbose_failures --sandbox_debug`. Bazel spewed out tons of logs about what the sandbox was doing. I thought that was kind of annoying, since I just wanted the sandbox repro command, as described in https://blog.bazel.build/2016/03/18/sandbox-easier-debug.html, but perhaps WAI. The l

[2021-08-04 00:11] GMNGeoffrey commented on #13798
Perhaps a further hint. I just ran a build with `--config=rbe` and then a build without again and in the build without I got the log spam again

[2021-08-04 00:57] #8248 closed

[2021-08-04 01:10] coeuvre commented on #8248
This can be enabled by setting `--experimental_action_cache_store_output_metadata`.

[2021-08-04 09:26] comius commented on #12841
The patch would be welcome. I don't see any problems fixing zipper to support `=` in the filenames.

[2021-08-04 09:39] comius commented on #13730
I wonder if the particular example can be handled with additional `before_each` and `format_each` parameters? Combination of those parameters with `map_each` should already be general enough and prevent any unintended memory retention.

[2021-08-04 14:07] kohlerm opened #13799 "Parcel V2 sandbox issue"
### Description of the problem / feature request:

Bazel sandbox on Linux is causing problems with parcel V2 RC

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

I trying to run parcel V2 similiar to
the example for parcel V1 at
https://github.com/bazelbuild/rules_nodejs/tree/stable/examples/parcel
replacing
parcel.bzl

with
https://g

[2021-08-04 14:20] aiuto opened #13800 "args.add_joined(format_joined) needs an option to not quote the final string."
### Description of the problem / feature request:

I am trying to use ctx.actions.args.add_joined to efficiently write out a large JSON structure.
The output should look something like
[code]
The natural syntax for representing that would be
[code]

This almost works, but format_joined also wraps the entire value in single quotes.
So you get something like
[code]

### What's the output of `bazel i

[2021-08-04 14:22] aiuto commented on #13730
While we are talking about improving args.add_*, I would like to fix the behavior of `format_joined`. See #13800

[2021-08-04 16:24] jkrems commented on #13730
To clarify the proposal here, something like this?

[code]

Guess I simplified the example too much. In the real code, we're stripping path prefixes (conditionally) based on `ctx.attr.str`. So we wouldn't be able to generate a "short path" inside of `_map_arg` the way it would appear in the final result. But thanks for bringing up `format_each`! I think we have some cases where it might be suffici

[2021-08-04 18:58] benjaminRomano opened #13802 "Cannot set debuggable in AndroidManifest without changing compilation mode"
### Feature Request
To set `debuggable="false"` in `AndroidManifest.xml` requires changing `compilation-mode` which will invalidate the entire dep graph:
https://github.com/bazelbuild/bazel/issues/2575

This is problematic for large apps which would require fully invalidating and duplicating the dependency graph.

[2021-08-04 18:58] benjaminRomano commented on #13802
Fix here: https://github.com/bazelbuild/bazel/pull/13801

[2021-08-04 20:07] #7448 closed

[2021-08-04 22:26] andrewkatson commented on #13748
Still working on this! Should have something to test out soon.

[2021-08-04 23:26] GMNGeoffrey opened #13803 "Generated headers should work the same as checked-in headers (C++)"
### Description of the problem / feature request:

When you generate a C++ header it should behave exactly as if you had checked in the header as a source file. Currently, inclusion ordering gets totally messed up in strange and hard-to-debug ways.

### Feature requests: what underlying problem are you trying to solve with this feature?

When processing an `#include` directive, all major compilers

[2021-08-05 04:01] benjaminp commented on #13798
Some flags related to execution, such as `--sandbox_debug`, are not included in the remote or local cache keys for actions. So, if you end up an action run with `--sandbox_debug` in a cache, that's what Bazel will claim as the output until the cache entry dies or the action's key change.

[2021-08-05 07:47] coeuvre opened #13804 "Failed to find default application credential and get authentication error"
### Description of the problem:

When building with RBE, Bazel sometimes failed to detect the default application credentials with `--google_default_credentials` and results in following authentication error:

[code]

Workaround:
  1. Remove `~/.config/gcloud` and re-login.
  2. Manually specify the credential file with `--google_credentials`.

### Bugs: what's the simplest, easiest way to reprodu

[2021-08-05 07:54] #13621 closed

[2021-08-05 10:29] jablin commented on #852
Using the [build file](https://gist.github.com/bsilver8192/10527a862ce16bb7f79a) of @bsilver8192, I did some benchmarks with Bazel 4.1.0 on an eight * 2 (HT) cores CPU. TLDR: With XFS, it takes 24s instead of 10s (EXT4).

[code]

[code]

With processwrapper-sandbox instead of linux-sandbox, the timings are the same.

[code]

Should I open a new issue?

[2021-08-05 12:04] philwo commented on #852
Which distribution is that? Can you reproduce these numbers with a more modern kernel? (Not saying we shouldn't fix a performance issue on an older kernel, but it might just not be possible, because XFS improved a lot since then.)

[2021-08-05 12:20] obruns commented on #852
@philwo We are on RHEL7. The XFS filesystem is on a NVMe disk and is mounted with option nobarrier (which doesn't exist in newer kernels because it is now the default). We tried a v4.18.0 kernel (custom compiled; but it is the version that ships with RHEL8) and a recent v5.13.6 kernel. The observations with our project (not the benchmark) were the same: A lot of time is spent but core utilization

[2021-08-05 12:31] obruns commented on #852
All our XFS filesystems have the following info
[code]

The NVMe model is `SAMSUNG MZVLB1T0HALR-000H2`.

[2021-08-05 12:51] philwo commented on #852
@obruns I see, thank you for all the information! I'm using XFS on my personal machine myself and can try to repro and improve this when I'm back home in ~1 - 2 weeks.

In the meantime, there are two flags that you could try to see if they improve performance for you:
- `--experimental_sandbox_async_tree_delete_idle_threads=auto` is available in Bazel 4.x and probably even before that.
- `--experi

[2021-08-05 13:28] brentleyjones commented on #13621
Thanks @coeuvre!

[2021-08-05 14:44] UebelAndre opened #13805 "FR: Common definitions for native rules should apply to all rules"
### Description of the problem / feature request:

Currently, there are some [common test definitions](https://docs.bazel.build/versions/4.0.0/be/common-definitions.html#common-attributes-tests), namely `env`, which are only set for native rules (`cc_test`, `py_test`, `sh_test`). These definitions should be allowed to apply to all rules.

### Feature requests: what underlying problem are you tryin

[2021-08-05 14:45] UebelAndre commented on #13805
cc @hlopko

[2021-08-05 16:42] GMNGeoffrey commented on #13798
Hmm yeah I was beginning to suspect that this was cache poisoning. That seems bad. It's also not consistent with how other output flags like `--test_output` and `--subcommands` work. I guess those operate at a different level?

Just more generally, I didn't really want any of that sandbox debug logging in the first place. I just wanted the command it ran. I only ran with `--sandbox_debug` because

[2021-08-05 16:45] benjaminp commented on #13798
IIt is actually exactly the same as how those flags work, but `--sandbox_debug` causes extra output to be emitted by the action where as `--test_output` and `-s` only affect what Bazel prints to the console.

[2021-08-05 16:51] GMNGeoffrey commented on #13798
I meant how they work as perceived by the user. That is, if you remove the flag Bazel stops printing the thing.

Yeah this is what I meant by "a different level". It seems that `--sandbox_debug` is being treated like these other flags, but doesn't work the same way they do.

Also it's interesting because I remember previous complaints that if an action is cached Bazel won't replay the output (e.g.

[2021-08-05 18:06] katre commented on #13558
No new blockers, but I'm still getting the release notes into order, so release today may not happen.

[2021-08-06 09:09] HTQianqian opened #13809 "Allows running the javac compiler in a separate process."
### Description of the problem / feature request:

### Feature requests: what underlying problem are you trying to solve with this feature?

### What operating system are you running Bazel on?

### What's the output of `bazel info release`?

[2021-08-06 10:34] Zetten commented on #12964
I think this issue also affects the Spring Boot Configuration Processor.

I'm using a `java_plugin` with processor class `org.springframework.boot.configurationprocessor.ConfigurationMetadataAnnotationProcessor` (from`org.springframework.boot:spring-boot-configuration-processor:2.5.3`). The plugin correctly finds my `@ConfigurationProperties` and generates `META-INF/spring-configuration-metadata.j

[2021-08-06 12:57] fweikert opened #13810 "13af870 breaks rules_go"
https://github.com/bazelbuild/bazel/commit/13af870e073facd93113c91f1039238c846b1f7f enabled the cc_import rule, which broke https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/2129#52dc3904-bcbc-4b98-8dc3-eb0e80d562b0

[2021-08-06 13:16] fweikert opened #13811 "Downstream projects are broken by Bazel <-> rules_apple incompatibilities"
Several downstream projects are broken due to two different Bazel changes that are incompatible with older versions of rules_apple:

`target 'StdRedirect.dylib' not declared in package 'tools/objc'` caused by https://github.com/bazelbuild/bazel/commit/67586a2a02d94bd1dde004fce46abc7595c0cca2 (**June 8th**).
Impacted projects:

- Bazel Examples: https://buildkite.com/bazel/bazel-at-head-plus-downst

[2021-08-06 19:15] katre commented on #13558
Aiming for release early monday, release notes are now in final review.

[2021-08-07 08:25] markub3327 opened #13813 "Cannot build cpp-tutorial on Apple M1"
### Description of the problem / feature request:

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

### What operating system are you running Bazel on?

### What's the output of `bazel info release`?

### If `bazel info release` returns "development version" or "(@non-git)", tell us how you built Bazel.

### What's the output of `git

[2021-08-07 09:11] markub3327 commented on #13813
Before running `bazel build //main:hello-world` I tried `export BAZEL_USE_CPP_ONLY_TOOLCHAIN=1` and it's working. But I don't know is it a suitable solution.

[2021-08-07 10:39] chandlerc commented on #13803
FWIW, I've thought a lot more about this, and I'm not sure its really a good idea...

Finding generated files via file-relative `#include` search seems fundamentally broken with *any* build system that builds outside of the source tree. I know that LLVM does this (extensively), but from what I can tell it does so by having really extreme pollution of its header search paths and prefixing a vast nu

[2021-08-08 16:43] philwo opened #13816 "Fix failing tests after upgrading Windows image"
The following tests fail after I upgraded our Windows image on CI:

- [//src/test/shell/bazel:resource_compiler_toolchain_test](https://storage.googleapis.com/bazel-untrusted-buildkite-artifacts/a6ffbeec-a5ce-4d8a-91c6-c372437e7afa/src%5Ctest%5Cshell%5Cbazel%5Cresource_compiler_toolchain_test%5Cattempt_1.log)
- [//src/test/shell/integration:loading_phase_tests](https://storage.googleapis.com/bazel

[2021-08-08 16:44] philwo commented on #13816
@meteorcloudy If you have time, could you help me figure out how to fix them on Monday? 😊

[2021-08-08 17:14] Yannic opened #13817 "config.string with allow_multiple=True should use list for build_setting_default"
I'm trying to migrate a native flag (`--protocopt`) to a Starlark flag. For this, we need a flag that a) can be supplied multiple times (like with `allow_multiple=True` - `config.string_list` doesn't allow this) and b) has an empty default.

Today, it's impossible to get an empty list or a list with multiple elements as `ctx.build_setting_value` when using `config.string` with `allow_multiple=True

[2021-08-08 17:31] keith commented on #13813
Do you have Xcode installed fully? Or just the command line tools? If it's the latter this is fixed in 4.2.0 which should be released soon. You can try it with one of the latest release candidate builds to verify https://releases.bazel.build/4.2.0/rc3/index.html

I cannot repro this on my M1 machine with a full Xcode installation so I assume this is a duplicate of https://github.com/bazelbuild/baz

[2021-08-08 18:37] keith commented on #13811
Examples fixed here https://github.com/bazelbuild/examples/pull/217

Re-enabled here: https://github.com/bazelbuild/continuous-integration/pull/1199

[2021-08-08 18:58] keith commented on #13811
Tulsi fixed here: https://github.com/bazelbuild/tulsi/pull/268

Re-enabled here: https://github.com/bazelbuild/continuous-integration/pull/1200

[2021-08-08 19:18] keith commented on #13811
Here's an attempt at updating the rules in grpc, which could then be updated in flatbuffers https://github.com/grpc/grpc/pull/26941

[2021-08-08 22:57] vple commented on #12741
I also have this issue. I've tried various combinations of workarounds in this thread, but none of them have worked for me. Specifying a python toolchain (via my pyenv versions or via nix) seemed to get the closest, though I then started seeing some queue import issue.

I did find a different workaround. I don't quite follow how/why toolchains are related to this issue, but this approach currently