[2016-03-03 14:57] damienmg commented on #576
We do auto-detection just like we do for C++.

[2016-03-03 15:13] kchodorow opened #1004 "Update rust rules"
https://github.com/bazelbuild/bazel/blob/master/tools/build_rules/rust/rust.bzl refers to //tools, not @bazel_tools//tools.

[2016-03-03 15:37] #995 closed

[2016-03-03 15:37] #1002 closed

[2016-03-03 17:10] damienmg commented on #990
Doesn't the maven_jar creates  a //:file target that you can use? maven_jar wrap the jar in a java_import so yes it forces it.

[2016-03-03 17:13] perezd commented on #844
It did work! Thank you for this help!! I started a new thread to mobilize
the last remaining bit of help needed to make this work better:
https://groups.google.com/forum/#!topic/bazel-discuss/xp6eqktCTrg

On Wed, Mar 2, 2016 at 11:34 AM Ulf Adams <notifications@github.com> wrote:

[2016-03-03 17:19] kchodorow commented on #975
Okay, IIUC, we want Skylark to use a different dependency, depending on which repo is using the rule.
That seems reasonable and I don't know what the syntax would look like, but theoretically we could just modify load() to provide Skylark with the repo it's called from.

[2016-03-03 17:26] kchodorow commented on #950
Marking as P1, since that's how we prioritize flakes internally.

[2016-03-03 17:29] johnynek commented on #990
I don't see the file target. For example:

[code]

[2016-03-03 17:31] damienmg commented on #990
oh yeah it is not exported. Adding a filegroup would do the trick, no?

On Thu, Mar 3, 2016 at 9:29 AM P. Oscar Boykin <notifications@github.com>
wrote:

[2016-03-03 17:32] kchodorow commented on #950
Would bumping the shard count help?

[2016-03-03 17:36] kchodorow commented on #950
Never rains but it pours: http://ci.bazel.io/job/Bazel/JAVA_VERSION=1.7,PLATFORM_NAME=linux-x86_64/388/console.

[2016-03-03 17:41] claridge commented on #177
@damienmg, I hadn't, thanks!

A little while ago we started using a local_repository instead of a Make variable for this.

[2016-03-03 17:42] bsilver8192 commented on #975
I don't think it's load that wants to get modified. Providing a variable at load time doesn't help because the RuleClass (ie thing returned by the skylark `rule` function) is the same for usages from all repositories. Allowing the function implementing late bound attributes (ie when you give a function as the default value) to access REPOSITORY_NAME (or equivalent) seems like a reasonable way to g

[2016-03-03 17:48] johnynek commented on #990
I think so, yes.

[2016-03-03 18:04] laramiel commented on #997
[code]

Breaking it down:
[code]

Some of the symlinks setup links to the go compliler and root; ignoring those, the simplified command is:

[code]

[2016-03-03 18:11] janakdr opened #1005 "skyframe tests should not depend on java rules"
$ bazel query 'somepath(//src/test/java/com/google/devtools/build/skyframe:skyframe_base_test,//src/main/java/com/google/devtools/build/lib:java-rules)'
//src/test/java/com/google/devtools/build/skyframe:skyframe_base_test
//src/test/java/com/google/devtools/build/lib:testutil
//src/main/java/com/google/devtools/build/lib:bazel-rules
//src/main/java/com/google/devtools/build/lib:java-rules

Why do

[2016-03-03 18:15] laramiel commented on #997
So the basic problem appears to be that the external repositories are not made available under the original name, and there is no rewrite / vendoring which corrects for this.

[2016-03-03 18:44] kayasoze commented on #1000
Certainly for genfile sources, at least, absolute paths into the working tree are clearly visible by running `strings` or `symbols -fullSourcePath` on an OX clang debug binary.  It's possible there are multiple issues here.

[2016-03-03 19:42] ulfjack commented on #950
I'm OOO until Monday.

On Thu, Mar 3, 2016 at 6:36 PM, Kristina <notifications@github.com> wrote:

[2016-03-03 19:48] ulfjack commented on #1005
I don't know. Probably because we don't have a tool to automatically remove
unused deps? From a quick glance, that dependency looks unnecessary to me.

On Thu, Mar 3, 2016 at 7:12 PM, Janak Ramakrishnan <notifications@github.com

[2016-03-03 20:23] NingyuShi commented on #629
I'll try to test it and get back in a few days.

Thanks
Ningyu

On Thu, Mar 3, 2016 at 8:55 AM Damien Martin-Guillerez <
notifications@github.com> wrote:

--
Thanks
Ningyu

[2016-03-03 21:01] davidzchen commented on #970
Thanks for the explanations!

I think using `:` to distinguish between rules and files makes it more immediately clear whether a label referenced is a rule or file and would save time when reading BUILD files and understanding the dependencies between targets. There are cases where you could have input files that have no file extensions, in which case it would look like a rule unless you use the l

[2016-03-03 22:24] kchodorow opened #1007 "Update Skylark Java rules"
Similar to #1004, but for Java.

[2016-03-03 22:30] kchodorow commented on #1003
I'm unable to reproduce with the following:

[code]

Can you provide a minimal example that doesn't work and the full output with --verbose_failures?

[2016-03-03 22:35] ekuefler opened #1008 "Missing Error Prone dependency causes failures with some checks enabled"
If I try to build something that has a string equality error with `--javacopt="-Xep:StringEquality:ERROR"` turned on, I get an error containing the following:

[code]

Looks like Bazel is missing a transitive dep of Error Prone. (This was run on Bazel 0.1.4 just in case it's been added since then)

[2016-03-03 22:36] kchodorow commented on #975
I was thinking that you'd have something like:

[code]

So you'd actually get a different rule depending on what repo it was loaded in.

[2016-03-03 22:41] kchodorow commented on #1008
Still an issue at head.

[2016-03-03 22:52] jart commented on #1003
My project has multiple packages named `api`. So it seems multiple `libapi.jar` files are being copied into `WEB-INF/lib`.

I took a glance at the implementation of `appengine.bzl`. This problem could probably be solved by having a macro generate a java_binary() rule which can be used to generate a "deploy jar" which contains all the transitive dependencies. It would be much simpler and more relia

[2016-03-03 23:21] johnynek commented on #970
+1 to stronger checks. Would be a nice bazelrc option to require that.

[2016-03-03 23:54] bsilver8192 commented on #975
Usage looks reasonable, but I think that's much harder to implement.

[2016-03-04 01:07] laramiel commented on #997
Digging into the :remote case more.

The WORKSPACE file has this rule:

git_repository(
  name = "remote",
  remote = "https://github.com/laramiel/bazel-example-golang-remote.git",
  commit = "8f2e405",
)

This will cause the referenced github repository to be downloaded into the bazel external folder under the name.  Here, `bazel-bazel-example-golang/external/remote`.

As the build progresses--se

[2016-03-04 01:13] laramiel commented on #997
So, potential problems that I see here.

1. git_repository() / new_git_repository() will not work without rewriting the importmap.

Libraries declared via these mechanisms will likely have different go_prefix() values. I am not familiar enough with the issue to know how to access go_prefix() from a library object, but in order for this to work, the prefix value must be read from the library, compa

[2016-03-04 06:13] ulfjack commented on #970
Yes, I think it would be possible to have a stricter check.

On Fri, Mar 4, 2016 at 12:21 AM, P. Oscar Boykin <notifications@github.com>
wrote:

[2016-03-04 07:25] aehlig commented on #951
These patches have been pushed as aada027aa2e21881190500ad747b4b41ab14a33e and a49f02536ef62ddf6ef5a17b0f7c1a35aaf81098. I believe the issue is fixed now. Please let me know if the issue persists/reappears.

[2016-03-04 07:26] #951 closed

[2016-03-04 09:10] ohler commented on #291
I'm running into similar errors with a directory called `_build`.  Are directory names starting with `_` also problematic?  Is the complete list of reserved names documented somewhere?

[2016-03-04 12:03] rdipietro commented on #760
I get an error, but am entirely new to bazel, so please let me know if there's an obvious fix here:

[code]

[2016-03-04 12:15] damienmg commented on #760
Sorry I am fixing it. I will tell you as soon as this is fixed.

On Fri, Mar 4, 2016 at 4:04 AM Robert DiPietro <notifications@github.com>
wrote:

[2016-03-04 12:26] #739 closed

[2016-03-04 12:26] #1004 closed

[2016-03-04 12:46] damienmg opened #1010 "Spawn standard error doesn't seems to be reported when doing C++ compilation"
We have many case where the C++ compilation where failing without error message from the subcommand. I have a 100% repro case, just trying to clean it.

Here an example of full output:

[code]

[2016-03-04 13:13] damienmg opened #1011 "Stack trace when providing a wrong target to --crosstool_top"
[code]

[2016-03-04 13:30] damienmg commented on #1010
And the missing error is: `gcc: error: unrecognized command line option '-fcolor-diagnostics'`

Cannot come up with a smaller repro...

I have a theory though: the line got deleted. So it might be fixed by latest @aehlig changes

[2016-03-04 13:32] rdipietro commented on #760
@damienmg thanks. I'll test soon after you fix. If this works then it shouldn't be too hard to get TensorFlow to compile out of the box with a non-standard gcc setup and with older versions of libc. I'm including a list here of things they'll need to resolve for this to work. (All of this is working for me, and with GPU support. I'll open these as TensorFlow issues after this fix works.)

Setup fo

[2016-03-04 14:53] kchodorow commented on #291
Directories starting with _ should be fine, what's the error you're getting?

[2016-03-04 15:40] kchodorow commented on #1003
That seems reasonable, but I'm not sure why the [`test -L %s`](https://github.com/bazelbuild/bazel/blob/master/tools/build_rules/appengine/appengine.bzl#L76) wouldn't be realizing it was already there.

[2016-03-04 15:45] jart commented on #1003
`test -L` appears to be testing that the *directory* to which the file is being copied exists. So there's two bugs here. But this bug is actually a terrific feature. It's better that the deploy fail than accidentally forget to copy some of the jars, and then break prod :)

[2016-03-04 15:52] aehlig commented on #1010
Can you somehow share the big example, so that I can have a look
(maybe privately, if it contains confidential content)?

There is an easy way to verify this: just script(1) the invocation
of bazel and look at the typescript in a binary-aware text editor.
This is a generally good way of debugging curses applications.

That would be even better, if the problem was already fixed.

Thanks,
Klaus

--

[2016-03-04 15:55] damienmg commented on #1010
No confidential content. I am merging the fix that was triggering the error. Then I can share a repro but that implies spawning a docker container.

[2016-03-04 15:56] jart commented on #1003
[Tangential] Also while we're chatting, why the commons auth and common collections dependencies? | wasn't aware that those were necessary. I'm having a difficult time determining which App Engine sources link against commons collections.

In my App Engine deploys, I've only found that it's necessary to use two jars in my `WEB-INF/lib` folder:

1. My app's deploy jar (which doesn't include App Eng

[2016-03-04 15:59] damienmg commented on #1010
I cced you on the changes.

Reverting the first one and `./output/bazel test tools/cpp/test:test_cc_configure-ubuntu-15.04-fastbuild` was triggering the problem.

To test it independently:
[code]

will get you a shell where you can simple ./compile.sh

[2016-03-04 16:37] damienmg commented on #760
The fix is out :)

On Fri, Mar 4, 2016, 5:32 AM Robert DiPietro <notifications@github.com>
wrote:

[2016-03-04 17:12] rdipietro commented on #760
Thanks.

No luck yet...

[code]

[2016-03-04 17:21] damienmg commented on #760
Can you try putting str(p) instead of p at Line 78?

On Fri, Mar 4, 2016, 9:13 AM Robert DiPietro <notifications@github.com>
wrote:

[2016-03-04 17:26] damienmg opened #1012 "com.google.devtools.build.lib.concurrent.AbstractQueueVisitorTest.simpleCounter is flaky"
http://ci.bazel.io/job/Bazel/390/testReport/

suspect: https://github.com/bazelbuild/bazel/commit/d2bf690b5d69e25945e85e067a9a2a8c2b351d50

/cc @kchodorow fyi
/cc @ericfelly

[2016-03-04 17:27] rdipietro commented on #760
Made that mod on lines 78 and 79, now getting

[code]

[2016-03-04 17:35] hanwen commented on #997
The Go rules have no special provisions for working with remote repositories, so the support for that would have to be written.

Have you seen this thread, which deals with the same topic,

https://groups.google.com/forum/#!searchin/bazel-discuss/santiago/bazel-discuss/qeeQEQCQlo8/A3DYgQlwCgAJ

[2016-03-04 18:13] lberki opened #1013 "Dynamic/static library extension on Windows is all wrong"
We use .so , and Windows uses .dll . T

This is somewhat similar to the situation on OS X.

[2016-03-04 18:25] damienmg commented on #760
Can I spawn a similar environment than yours on docker?

On Fri, Mar 4, 2016 at 9:27 AM Robert DiPietro <notifications@github.com>
wrote:

[2016-03-04 18:47] rdipietro commented on #760
I haven't used docker much at all so am not sure if it's possible. I will say though that I don't have admin rights and docker isn't installed. If I can still help let me know.

[2016-03-04 19:08] damienmg commented on #760
It's just a CentOS with gcc and glibc installed in non standard location? (or is it on standard location?)

[2016-03-04 19:16] rdipietro commented on #760
I'm pretty sure glibc is in the standard location. gcc isn't. I can confirm
about glibc tomorrow. I'm in Germany right now which makes this Fri night :)
On Mar 4, 2016 8:08 PM, "Damien Martin-Guillerez" <notifications@github.com>
wrote:

[2016-03-04 19:22] laramiel commented on #997
I have updated the linked repositories so that they build, highlighting the workaround.

[2016-03-04 19:37] damienmg commented on #760
Hehe, no problem, I am usually in Germany too (just in MTV this week and
NYC next week).

On Fri, Mar 4, 2016 at 11:16 AM Robert DiPietro <notifications@github.com>
wrote:

[2016-03-04 20:57] martinwicke opened #1014 "Way to specify minimum bazel version requirement to WORKSPACE file"
It would be extremely nice to have a way to specify the minimum version of bazel that is required to build a given project.

If the required version is not met, it would produce an informative error message after a simple check, instead of exiting with obscure errors.

That would help up as lot to mitigate the flood of issues we get every time we update our bazel dependency.

[2016-03-04 21:20] ohler commented on #291
The error is very similar to the OP's.  First build works, second fails with "Source forest creation failed (File exists)":

[code]

If I then `bazel clean` and re-run `bazel test`, it works again – once.

Renaming `_build` to `_work` seemed to make no difference (although I didn't try reproducing that in a clean environment); renaming it to `0_build` makes things work as I expect.  I noticed that

[2016-03-04 23:07] shahms opened #1015 "no easy way to mimic new_local_repository with repository_rule"
Specifically missing is a way to iterate through directory contents, aside from doing `ctx.execute(["ls", ...])` which seems unportable at best.

[2016-03-05 00:54] jart opened #1016 "If system is swapping, bazel should slooow down"
My workstation has 32gb of ram and six cores. My project is pretty big. It runs closure compiler a lot. There's a ton of sharded java tests. If I run bazel test with a ... pattern that covers my entire project, bazel will bring down my workstation by consuming all the available ram and swap.

It would be nice if the bazel task scheduler was smart enough to know that it should smash the system a li

[2016-03-05 02:03] damienmg commented on #1010
(note it stills happen at head)

[2016-03-05 05:37] damienmg commented on #1015
exposing ctx.path("...").dir() should be enough

[2016-03-05 05:38] damienmg commented on #1014
:) We have been talking for this feature for a long time. Yes we should do it right now.

[2016-03-05 05:40] damienmg commented on #1016
`-j 4` is a simpler workaround

[2016-03-05 06:40] martinwicke commented on #1014
Thanks! :)

[2016-03-05 14:50] rdipietro commented on #760
Yes, glibc is in its standard location.

On Fri, Mar 4, 2016 at 8:38 PM, Damien Martin-Guillerez <
notifications@github.com> wrote:

[2016-03-05 14:51] damienmg commented on #760
Ok should be easy to setup a docker image with the same setup. Will try
tomorrow or on monday.

On Sat, Mar 5, 2016 at 6:50 AM Robert DiPietro <notifications@github.com>
wrote:

[2016-03-05 16:11] pmbethe09 opened #1017 "java_test "broken" with no guidance how to fix"
https://github.com/bazelbuild/bazel/commit/191d9804047fe2d19c6ca561b6f8de6ccbdc93fb

Apparently can use --legacy_bazel_java_test but there was no clear guidance how to fix rules of the form:
java_test(srcs = glob(["*Test.java"]), ...) with multiple Tests in one rule.

[2016-03-05 16:13] damienmg commented on #1017
What's your test suite class? You add a main_class before didn't you, just change this main_class for a test_class should works.

[2016-03-05 21:58] philwo opened #1018 "HttpDownloader should allow relative redirects"
According to the commit message of https://github.com/bazelbuild/bazel/commit/6e30521e0d230ba8138cb8bbe3bf3f4fb4fbfa60, HttpDownloader currently supports only absolute redirects. This was the correct behavior according to RFC 2616.

However, that one has been recently superseded by RFC 7231 (https://tools.ietf.org/html/rfc7231.html), which now allows relative redirects, recognizing the actual prac

[2016-03-05 22:20] jart commented on #975
@bsilver8192 Doesn't `@//foo` exist so you can reference the main workspace from an external workspace? If so, Go's bzl rules should probably be updated to use that convention.

It makes sense to me that, if a bzl rule is defined in `@A` then `Label("//foo")` should be the same as `Label("@A//foo")`.

The fact that it doesn't currently behave this way is actually creating problems for me. I'm work

[2016-03-05 22:35] shahms opened #1019 "custom crosstool doesn't work with sandboxing"
Specifically, the sandbox fails to mount the requisite crosstool directories if it resides outside of one of the default mounts.  This will bite us when OS X gets sandboxing as the default there is to use a custom wrapper which resides outside the default mounts.

[2016-03-05 22:38] bsilver8192 commented on #975
@jart: That does work (in theory; trying it right now will likely hit #940), but that's not what the Go rules want. The prefix needs to be set differently in each repository the rules are used from, not the one which declares the rules.

I agree how it works now is counterintuitive, but I think it is necessary to have this behavior somehow. Also, just changing what the obvious syntax means will br

[2016-03-05 23:47] jart commented on #975
I took a look at the Go rules sauce and I understand now what's going on with the `go_prefix()` rule. Yeah, the behavior is totally merited. Although it probably shouldn't be the default behavior. Perhaps that behavior could be defined as `Label("//:go_prefix", in_load_workspace=True)` or something.

Do you know if a workaround exists that would allow `Label()` to reference the workspace in which

[2016-03-06 00:58] bsilver8192 commented on #975
As a workaround, going through a `bind` (so you'd create one of those in `WORKSPACE` and then use `Label(//external:thing)`) should work. Not the greatest, but not all that bad.

[2016-03-06 01:11] jart commented on #975
Unfortunately `bind()` does not work. (Why does that feature even exist?) It still resolves against the calee workspace.

[2016-03-06 02:40] shahms commented on #975
(I suspect bsilver was suggesting you  "//external:thing" and require the enclosing repository bind that name appropriately).

Based on my experimentation[1](and a bit in the docs), it seems like the currently recommended practice is to pick a canonical name for your workspace and include:

workspace(name = "com_github_user_project")  # For example.

in the project WORKSPACE file.  This requires u

[2016-03-06 03:11] prattmic commented on #975
@shahms I [tried](https://github.com/bazelbuild/bazel/issues/975#issuecomment-190065598) what I believe you are suggesting, and it did not seem to work. It would seem that the `@name` syntax does not work to refer to the local workspace. (i.e., the rule couldn't be used within its original workspace).

[2016-03-06 07:58] chenkan1994 opened #1020 "no such attribute 'imports' in 'py_library' rule"
I was trying to compile a python library, but failed, and bazel said:
    no such attribute 'imports' in 'py_library' rule.
which is different from what has been described in http://bazel.io/docs/be/python.html#py_library.imports

Is there anyone who knows why?
Thanks!

[2016-03-06 08:17] davidzchen commented on #1020
@chenkan1994 Which version of Bazel are you using? The `imports` attribute was added in Bazel 0.2.

[2016-03-06 09:40] chenkan1994 commented on #1020
@davidzchen oops. I was using Bazel 0.1.5. Thank you!

[2016-03-06 09:40] chenkan1994 commented on #1020
@davidzchen I'll download Bazel 0.2 and have a try.

[2016-03-06 10:45] chenkan1994 commented on #1020
@davidzchen OK, it works well in Bazel 0.2, Thanks!

[2016-03-06 10:45] #1020 closed

[2016-03-06 16:49] lberki commented on #975
@Brian: I think the most reasonable approach we can do is to have a symbol
that's like REPOSITORY_NAME except that it evaluates to not the repository
the .bzl is loaded in, but the repository the .bzl file is *defined* in.
That shouldn't be too hard to implement and would be a reasonably clean
solution.

I agree that in an ideal world, default repository labels in .bzl files
would refer to the rep

[2016-03-06 16:54] damienmg commented on #975
@lberki agree, do you want to signup for it? :)

`__WORKSPACE_NAME__` ?

[2016-03-06 17:00] damienmg commented on #1019
/cc @philwo that's the bug I talked to you about yesterday.
/cc @hermione521 fyi

In http://goo.gl/fD4ZsY, I evoked the problem and having the crosstool configuration pass the cxx_include_directories and other pass in a list of system directories of the spawn action would make this works. Not sure how hard it is for the crosstool part but the part on the SpawnAction should be pretty straightforwar

[2016-03-06 17:05] lberki commented on #975
Of course. Put it at the end of my TODO list... :)

[2016-03-06 17:54] shahms commented on #1019
the cxx_include_directories are required as is the compiler itself (I encountered this problem trying to do a build on a Linux machine with a crosstool configured similarly to OS X, which uses a local wrapper).

Thinking about this a bit more, it may be complicated by the need to mount the wrapper's dependencies as well.

[2016-03-06 18:17] jart commented on #975
Oh here's a weird case with that solution. What if I define all my rules, one per bzl file. Then I have a single `defs.bzl` that loads all my rules, so the user of my workspace only has to worry about a single deps file, rather than the location of a whole bunch of them. In that case, the `RULE_REPOSITORY_NAME` solution won't work.

[2016-03-06 18:21] damienmg commented on #1017
Note to myself: fix the relnotes when doing the next bazel release

[2016-03-06 18:22] damienmg commented on #1017
Also the link to the ml announcement: https://groups.google.com/forum/#!topic/bazel-discuss/r5Qbn1c7eg4

[2016-03-06 18:42] lberki commented on #975
I was hoping we could make it so that RULE_REPOSITORY_NAME returns the name
of the file where the rule() function was invoked (not the .bzl file
mentioned in the BUILD file). Then this would work.

On Sun, Mar 6, 2016 at 10:17 AM, Justine Tunney <notifications@github.com>
wrote:

--
Lukács T. Berki | Software Engineer | lberki@google.com |

Google Germany GmbH | Maximillianstr. 11-15 | 80539 Münch

[2016-03-06 18:46] damienmg commented on #975
For error tracking, we keep the path of the file that contains the definition, we should be able to do the same thing with the label of the file which then includes the repository.

[2016-03-06 19:03] bsilver8192 commented on #1019
I think you can solve this problem without any Bazel changes by adding files to the appropriate places in `//tools/cpp:BUILD`. My wiki page about [Building with a custom toolchain](https://github.com/bazelbuild/bazel/wiki/Building-with-a-custom-toolchain) has come examples that should work. I've gotten Linux toolchains which are completely independent from the system ones working.

[2016-03-06 19:16] damienmg commented on #1019
Oh right we could definitely update the cc_configure rules to do it that way. Thanks Brian!

[2016-03-06 20:30] lberki commented on #975
Yep, shouldn't be too hard once Someone (cue the old tale about Somebody,
Everybody, Anybody and Nobody) decides to act.

On Sun, Mar 6, 2016 at 10:46 AM, Damien Martin-Guillerez <
notifications@github.com> wrote:

--
Lukács T. Berki | Software Engineer | lberki@google.com |

Google Germany GmbH | Maximillianstr. 11-15 | 80539 München | Germany
| Geschäftsführer: Matthew
Scott Sucherman, Paul Tere

[2016-03-07 06:11] jendap commented on #822
Ping. Can we do this please? We are going to bump the version of bazel in tensorflow again tomorrow. It will create a lot of issues, questions, confusion etc. if we do not have this.

[2016-03-07 06:17] jendap commented on #822
@vrv @martinwicke FYI

[2016-03-07 06:36] martinwicke commented on #822
Dupe of #1014 (actually, of course, it's the other way around, but #1014 is P1, so it should stay :) )

[2016-03-07 07:35] jendap commented on #822
You have already create another one? Ok, I'm closing this one.

[2016-03-07 07:35] #822 closed

[2016-03-07 14:28] damienmg commented on #760
Ok I have been able to reproduce it with a docker image, thanks!

[2016-03-07 14:57] rdipietro commented on #760
Ok great. Thanks. Please update if you end up fixing it.

On Mon, Mar 7, 2016 at 3:29 PM, Damien Martin-Guillerez <
notifications@github.com> wrote:

[2016-03-07 15:09] pmbethe09 commented on #1017
I never used a TestSuite or main_class before.   The previous behavior "just worked".

See attached mini example.
bazel test javatests/... --legacy_bazel_java_test
works just fine.  But without the legacy flag:

"Class not found: [tests]"

[Example.zip](https://github.com/bazelbuild/bazel/files/161532/Example.zip)

[2016-03-07 15:36] damienmg commented on #1017
The glob in the example resolve to only 1 file which is why the legacy behavior where finding the rule. The new behavior use the name of the rule to find the main class (compared to using the srcs if only one file is present like for java_binary). This is the behavior we use since the beginning at Google.

[2016-03-07 15:39] pmbethe09 commented on #1017
Add another class or 2 to blah and the result is still the same.
On Mar 7, 2016 10:37 AM, "Damien Martin-Guillerez" <notifications@github.com>
wrote:

[2016-03-07 16:25] damienmg commented on #760
Ok I have progressed up to the limit: I get C++ errors now, c++ cannot compile.

[2016-03-07 16:28] damienmg commented on #1010
This is coming from ./compile.sh. So we probably missing some arguments when we invoke bazel server.

[2016-03-07 16:46] rdipietro commented on #760
Hmm. Here are notes I made for myself, after which bazel compiles for me.

[code]

[2016-03-07 19:17] damienmg commented on #760
Oops my bad I was running the default gcc. I need to find an easy way to install gcc 4.8.3

[2016-03-07 19:19] damienmg commented on #760
found install instruction for 4.8.1: http://people.centos.org/tru/devtools-2/readme

[2016-03-07 19:42] damienmg opened #1022 "Non local skylark remote repositories aren't invalidated when .bzl file change."
If the rule stays the same, the serialization stays the same so it suppose the implementation is the same. We should probably add a hash of the function ast to the seriliazed proto in that case.

[2016-03-07 22:00] drgriffis commented on #934
I had in fact edited those; I ended up finding the issue in another location.  Somehow the protobuf part of the build isn't picking up the linker flags, specifically `-lm` (despite those being added and the right paths in `google/protobuf/tools/cpp/CROSSTOOL`).

What ended up fixing the issue was editing `google/protobuf/BUILD`, and changing
[code]
to also include the `-lrt`, `-lm` switches:
[code

[2016-03-07 22:08] shahms opened #1023 "$(location ..) expansion does not work in cc_library include or linkopts attrs"
Trying to reference the location of another rule from within a cc_library attributes fails to work.  I encountered this problem specifically attempting to reference an include directory in attempting to automatically configure local dependencies, but I was able to get it to recur for both files and directories, e.g.

[code]

=== BUILD ===

[code]

Runing the command:

[code]

Versus:

[code]

It w

[2016-03-07 22:11] damienmg commented on #934
Ok great!

[2016-03-07 22:11] #934 closed

[2016-03-08 01:43] damienmg commented on #1017
humm maybe we just take the first one, would be weird. We definitely don't create a test suite out of it.

[2016-03-08 01:44] damienmg commented on #1017
(PS: the glob has to resolve to multiple files)

[2016-03-08 02:51] pmbethe09 commented on #1017
I don't know *why* it worked, but I can tell you that it did and picked up all of the tests in the glob.
See attached updated example -- run it then cat bazel-out/local_darwin-fastbuild/testlogs/javatests/tests/test.log
(or change target to linux)

I see
"
JUnit version 4.12
.Bar
.Foo

Time: 0.004

OK (2 tests)
"

It appears that org.junit.runner.JUnitCore was added as the main_class when none was

[2016-03-08 02:51] pmbethe09 commented on #1017
and attachment
[Example.zip](https://github.com/bazelbuild/bazel/files/162480/Example.zip)

[2016-03-08 03:01] mightyguava commented on #552
I also need this while trying to migrate from `pants`, as it also uses BUILD files for the same purpose as `bazel` but with a different syntax...

[2016-03-08 03:19] damienmg commented on #1017
The test_class should be a test class. not the JUnitCore runner.

Oh yes the legacy behavior allow multiple test file in the srcs. Humm... not sure we should do anything there.

[2016-03-08 03:57] damienmg commented on #1010
Ulf said he saw it on some random action too.

Assigning to Klaus so he can work on it when back.

[2016-03-08 05:01] damienmg commented on #876
This was done by adding TensorFlow serving

[2016-03-08 05:01] #876 closed

[2016-03-08 06:33] fayeshine opened #1024 "error when building from source"
ERROR: /home/wenjian/pkgs/bazel/src/tools/android/java/com/google/devtools/build/android/BUILD:43:1: Java compilation in rule '//src/tools/android/java/com/google/devtools/build/android:android_builder_lib' failed: Worker process sent response with exit code: 1.
src/tools/android/java/com/google/devtools/build/android/XmlDataResource.java:18: error: package com.google.devtools.build.android.xml do

[2016-03-08 06:35] Vesnica commented on #1024
I have the same error

[2016-03-08 06:38] fayeshine commented on #1024
besides, I'm using openjdk8 u66

[2016-03-08 06:40] Vesnica commented on #1024
Oracle jdk 1.8.0_72 here

[2016-03-08 12:43] bozothegrey commented on #947
Hi, I had the same problem.
pacman gets by default gcc 4.9.2

- I tried to install 4.8.5 but I am not too familiar with pacman tool (I tried to get some info on archlinux pages and I found this https://aur.archlinux.org/packages/gcc48/ but  I am not sure which tar I need to target with pacman -U command)

- I installed mingw64 under msys2, gcc is seen from prompt but bazel confiogure script will s

[2016-03-08 13:00] damienmg commented on #1024
This is the same issue as in our CI. HEAD is broken

@davidzchen : I assigned you the bug to track. Maybe we should just rollback the causing change

[2016-03-08 18:04] damienmg commented on #1024
https://github.com/bazelbuild/bazel/commit/3e011b1698bab6aff18497b12396d64bd77ab87b should have fixed it.

[2016-03-08 18:04] #1024 closed

[2016-03-08 18:38] spierce7 commented on #89
@kchodorow So I'm assuming that pulling in transitive maven dependencies is something that still isn't working?

[2016-03-08 19:47] snazzman commented on #885
I've abandoned trying to get this to work. Closing ticket.

[2016-03-08 19:47] #885 closed

[2016-03-08 20:48] dfabulich opened #1025 "There's no way to pass directories between rules"
I have a binary that requires a significant number of generated data files generated from one source file.

As far as I can tell, Bazel has no way to express this. The architecture of Bazel forces us to enumerate our outputs during the Loading phase, but we won't have the list of outputs until we parse the source file, and we can't perform any parsing actions during the Loading phase.

Here are so

[2016-03-08 21:06] AustinSchuh commented on #1025
The current recommended best practice is 1).  This is how Java does things.  You may be able to use tar to do this faster.  2) is a valid way to do that.  Could you re-use out the logic to generate the file list in your code and use that to generate the BUILD file?

[2016-03-08 21:11] dfabulich commented on #1025
Is this a bug in Bazel that can be fixed? In particular, can you explain what's wrong with option 3 and how/whether dependency checking could be done soundly?

I've seen the documentation that says, "dependency checking of directories is unsound," but I don't get it. Verifying the integrity of a zip file containing a tree of files is just as sound as verifying the integrity of the files unextracte

[2016-03-08 21:19] AustinSchuh commented on #1025
You are correct about how 2 would have to work.  You could add some checking to verify that the number of outputs matches the expected number of outputs so that while people will have to re-run a script to generate the BUILD file, Bazel will check that you got all the outputs right.

One of the Bazel devs will have to weigh in to get you more clarity, but my understanding is that Bazel treats each

[2016-03-08 22:12] xynny opened #1026 "--spawn_strategy=remote doesn't seem to be recognized"
Hi,  I attempted to follow the readme here to set up Hazelcast:  https://github.com/bazelbuild/bazel/tree/master/src/main/java/com/google/devtools/build/lib/remote

I was able to get the Hazelcast server up and then I attempted to connect to it with a version of bazel built from HEAD:

ubuntu@ip-10-1-0-54:~/bazel$ bazel help
                                                 [bazel release head (@c5

[2016-03-08 23:32] marczych opened #1027 "XML test output missing for tests that timeout"
It appears to be the case that bazel doesn't generate a test XML file for tests that fail due to `TIMEOUT`. It would be really useful if it did generate this file so CI systems can detect the failure and report it as such. With the current behavior, a test can timeout but the CI system can't report which one caused the build to fail because the corresponding XML file is missing.

[2016-03-09 00:30] Vesnica commented on #1024
It's working now.

[2016-03-09 02:28] johnynek opened #1028 "default xml test output missing any timing information"
just has tests, failures and errors. Would be nice to include the timing, which is reported by bazel so obviously measured.

[2016-03-09 03:17] pmbethe09 commented on #1017
Easy enough to write a genrule to take my SRCS and generate
an org.junit.runners.Suite, but as I wrote, sad that this just worked
before, and now I have to add a layer of my own.

On Mon, Mar 7, 2016 at 10:19 PM, Damien Martin-Guillerez <
notifications@github.com> wrote:

[2016-03-09 11:27] ulfjack commented on #1025
We are already working on allowing actions to generate a set of output files which is subsequently treated as a unit. As Austin said, it's a significant change, and it will be a while before it's fully working and stable.

[2016-03-09 11:46] Avitella commented on #52
Hi! Is there any status update? Thanks

[2016-03-09 14:57] kchodorow commented on #89
Er, I attempted to make it clear that it does not.  Feel free to send a patch if you have any ideas for improving the phrasing.

[2016-03-09 15:02] kchodorow commented on #1003
Sigh, quite so.

I could of sworn I got class loader exceptions without them, but now I can't reproduce and I don't see anywhere they're used so I guess I can remove them!

[2016-03-09 15:09] damienmg commented on #760
Ok should work now :)

[2016-03-09 15:22] damienmg commented on #52
I think we are moving to making the rules provided by google/protobuf good one instead of shipping our legacy support. No ETA.

[2016-03-09 15:26] jart commented on #1003
Excellent. Because commons collections v3.2.1 had a remote exec exploit in it. I'm glad it was there, because when I noticed that, I realized that I needed to patch Bazel to remove it from third party. Then I realized that I needed to patch hundreds of other GitHub projects. go/rosehub

[2016-03-09 17:57] wolfgangmeyers commented on #12
I have something that might help. Not quite a general purpose solution, but I think it should be easy enough to adapt it to your needs. Basically it involves building _deploy jars that roll up all of the compile-time dependencies using bazel and then constructing eclipse files that reference those jar files. I may do some work to make this general-purpose and put it on github, but for now here is

[2016-03-09 18:09] bozothegrey commented on #947
I have installed an old msys2 from the repository with gcc 4.8.2.
[https://sourceforge.net/projects/msys2/files/Base/x86_64/msys2-x86_64-20140910.exe/download](url)

I still get an error message

$ ./compile.sh
INFO: You can skip this first step by providing a path to the bazel binary as se                                cond argument:
INFO:    ./compile.sh compile /path/to/bazel
🍃  Building Bazel

[2016-03-09 18:19] bricerebsamen commented on #825
`labels(copts,...)` also returns nothing.

[2016-03-09 18:31] lberki commented on #825
This is WAI, at least as far as the query results are concerned: the value of the `includes` attribute is a list of strings and not labels.

What do you want to use the list of `-I` directories for?

[2016-03-09 18:41] kayasoze opened #1029 "Support generating CLion project files (IDE integration)"
This support may be significantly easier than other IDEs, as the target is a CMakefile.  I have a sample script which works well, though it uses `bazel query` and not the new aspect API.

[2016-03-09 18:45] shahms commented on #975
Along with this, it would be nice to include the name on the repository_ctx for repository rules

[2016-03-09 18:46] damienmg commented on #975
What do you mean?

On Wed, Mar 9, 2016 at 1:45 PM Shahms King <notifications@github.com> wrote:

[2016-03-09 18:52] ulfjack commented on #1029
We are working on this, though we don't have any announcements right now. Sorry. :-( Don't let that stop you.

[2016-03-09 19:03] shahms commented on #975
When creating a repository via repository_rule(), there is no access to the name used to create it, e.g.

def _imp(ctx):
  # There is no access to the repo name from ctx
  # (i.e. the repository_rule equivalent of `ctx.label`)

dummy_repo = repository_rule(_impl, local=True)

def setup_dummy():
  dummy_repo(name = "foo")

[2016-03-09 19:20] damienmg commented on #975
Oh I see, can you create a separate bug?

On Wed, Mar 9, 2016 at 2:03 PM Shahms King <notifications@github.com> wrote:

[2016-03-09 19:27] shahms opened #1030 "make repository name available in repository_ctx"
Following up on #975 it would also be good to have the repository name available to repostory_rule implementations via the context parameter (akin to the "label" attribute on regular Skylark rules):

    def _imp(ctx):
      # There is no access to the repo name from ctx
      # (i.e. the repository_rule equivalent of ctx.label)

    dummy_repo = repository_rule(_impl, local=True)

    def setup_d

[2016-03-09 19:29] rdipietro commented on #760
Ahhh!

[code]

[2016-03-09 20:41] damienmg commented on #760
Erf. I have an idea: zlib-devel is not installed?

Can you try to comment https://github.com/bazelbuild/bazel/blob/master/scripts/bootstrap/buildenv.sh#L96 and re-run ./compile.sh and copy-paste the command in parenthesis to see the c++ error?

[2016-03-09 23:09] bricerebsamen commented on #825
`labels(srcs` returns the list of strings that make all the sources, so I thought `labels(includes` should do the same.

I want it to build my project config for my IDE (QtCreator).

[2016-03-09 23:24] damienmg commented on #999
Raising priority since it happens for some version of python 2

[2016-03-10 00:17] davidzchen commented on #1026
@philwo, @hhclam - Can you take a look?

[2016-03-10 00:43] lberki commented on #825
`bazel query` is not the best tool for these things, because it doesn't really have access to all the data IDEs need. A better mechanism is to use Aspects, using which you can traverse the dependency graph and peek at analysis-time information. I don't think we have documentation at the moment, but here is an aspect we use to generate IntelliJ projects:

https://github.com/bazelbuild/bazel/blob/ma

[2016-03-10 01:05] bricerebsamen commented on #825
for QtCreator, I need the list of files, the list of includes (`-I` options), and the list of defines (`-D` options). These are all in the BUILD files. I used bazel query to get the list of c++ source files (minus the generated files from protobuf, etc.). `bazel query` does not have that info?

I'll look into Aspects but from the example you gave me that looks bad.

[2016-03-10 01:14] lberki commented on #825
What's bad about the example?

BUILD files contain only some of this data. The CROSSTOOL file can also contain compiler options (including include directories and defines), which would not be reflected in the output of `blaze query`.

If you for some reason don't like aspects, here are a few alternatives:
* Use `extra_action` (http://bazel.io/docs/be/extra-actions.html) to find out the command lin

[2016-03-10 01:41] bricerebsamen commented on #825
By "bad" I mean that my prospects at getting this to work look bad since the aspects example is quite involved.

[2016-03-10 02:15] lberki commented on #825
Yeah, it's much more complex than `bazel query 'deps(...)' | whatever`. Sorry about that...

In the meantime, I'll close this bug since Bazel actually works as specified and there are at least four ways to get closer to your goal.

[2016-03-10 02:15] #825 closed

[2016-03-10 04:42] philwo commented on #1026
@xynny I wonder if there's a little bug in the code that only activates the remote strategy when its configuration (--hazelcast_node) has been provided.

Could you please try to do a normal build like this first (no --spawn_strategy and no target on the command-line, just like this):
bazel build --hazelcast_node=localhost:5701

And then run your full command-line again:
bazel build --hazelcast_nod

[2016-03-10 12:07] silinge commented on #922
Hi there, thanks for your great work. I m from China and I've tried a few times " $ bazel build -c opt tensorflow/tools/pip_package:build_pip_package " but it still got the same erorr < bzl:55:3: no such package '@six_archive//': Error downloading from https://pypi.python.org/packages/source/s/six/six-1.10.0.tar.gz#md5=34eed507548117b2ab523ab14b2f8b55 to /home/william/.cache/bazel/_bazel_william/3

[2016-03-10 13:34] rdipietro commented on #760
Sure. Here's the output:

[code]

[2016-03-10 14:16] damienmg commented on #760
And running
[code]

out of bazel returns what?

[2016-03-10 15:15] rdipietro commented on #760
Oh, sorry. Here's the output from that:

[code]

[2016-03-10 18:44] kayasoze commented on #810
This would really help our internal use-cases, where, for a sundry mix of reasons, HTTP can't be made secure and is unreliable, while SSH would be (obviously) more secure, and 10x faster to boot.

[2016-03-10 18:46] johnynek commented on #810
by the way, hopefully it can interact with ssh-agent to get they key passwords as well.

[2016-03-10 19:57] xynny commented on #1026
oh okay I rebuilt bazel master and then did the two steps and it no longer throws the  'remote' is an invalid value for spawn strategy error.  The previous comment was using the 0.2.0 release.  This is what happened with master:
ubuntu@ip-10-1-0-176:~/bazel$ sudo /home/ubuntu/bazel/output/bazel  build --hazelcast_node=localhost:5701
Extracting Bazel installation...
Sending SIGTERM to previous Baze

[2016-03-11 00:39] 72L opened #1032 "Can't build tensorflow_serving"
I'm following directions here:
https://tensorflow.github.io/serving/setup#prerequisites

Everything works great except for:
bazel build tensorflow_serving/...

I get the error:
ERROR: /home/ubuntu/.cache/bazel/_bazel_ubuntu/external/tf/google/protobuf/BUILD:520:1: no such package 'util/python': BUILD file not found on package path and referenced by '@tf//google/protobuf:internal/_api_implementatio

[2016-03-11 00:48] xynny commented on #1026
another datapoint.  I got this to work on a mac by just following the readme, but on my ubuntu machines the behavior is broken as described above.  It is probably because sandboxing is on by default on the linux machine.

[2016-03-11 14:17] damienmg commented on #1032
Why was this reported in the Bazel issue tracker (I think it should have gone in the tensorflow/serving one)?

As for that, it seems like you have missed the configuration step.

[2016-03-11 14:19] jart opened #1033 "Allow workspaces to reference themselves canonically"
This is a blocking issue for the Closure Rules.

If I say:

    workspace(name = "io_bazel_rules_closure")

Then I should be able to say within my workspace:

    deps = ["@io_bazel_rules_closure//foo/bar"]

Which makes the codebase more copy/pasteable. But most importantly, I need to be able to say:

    "_jschecker": attr.label(default=Label("@io_bazel_rules_closure//closure/compiler/jschecker")

[2016-03-11 14:23] damienmg commented on #1033
Hi Justine,

We decided this week to do be able to use the `Label()` function to refer to the repository containing the skylark extension. @kchodorow will work on that.

@kchodorow also work on a more principle ways to refer to external repository but that will take time.

[2016-03-11 14:51] jart commented on #1033
Is there an estimated timeline for this functionality becoming available in Bazel head?

[2016-03-11 16:34] damienmg commented on #760
Humm weird. `touch /tmp/empty.cc; /usr/bin/gcc -no-canonical-prefixes -c /tmp/empty.cc -o /dev/null` gives you which output?

[2016-03-11 18:44] bsilver8192 commented on #1033
For reference, this sounds like it came out of the (fairly extensive) discussion in #975.

[2016-03-11 18:54] brian-peloton opened #1034 "Allow querying for "all targets in all repositories""
The wildcard `//...` gets all of the rules in the main repository, but it doesn't get ones in other repositories. It would be useful to easily run all tests, including those in other repositories and be able to run queries over everything.

[2016-03-11 21:37] #1015 closed

[2016-03-11 22:16] ulfjack commented on #810
I think we should consider running the clone in a separate process, which
could be implemented in another language, and would make this much more
hackable.

On Thu, Mar 10, 2016 at 7:47 PM, P. Oscar Boykin <notifications@github.com>
wrote:

[2016-03-12 00:50] cgils opened #1035 "Cache management facilities"
Please consider adding some way of setting a maximum cache size. At the moment our project's build caches grow unbounded leading to us discarding them periodically.

A facility with which to display cache information would be nice as well. Something like the output of `ccache -s`, for example:

[code]

[2016-03-12 02:53] islamoc opened #1036 "Trying to build the Android Demo"
Hello I'm trying to build the Android Demo but I'm getting this error

ERROR: /home/islamoc/tensorflow/tensorflow/examples/android/BUILD:65:1: Processing resources failed: resources_processor failed: error executing command bazel-out/host/bin/external/bazel_tools/tools/android/resources_processor --buildToolsVersion 23.0.1 --aapt bazel-out/host/bin/external/androidsdk/aapt_binary --annotationJar .

[2016-03-12 14:14] pkern opened #1037 "pkg_deb(built_using)'s documentation is wrong"
The documentation says this about pkg_deb's built_using:

This is not what Built-Using is for in Debian. Please read §7.8 on [https://www.debian.org/doc/debian-policy/ch-relationships.html]:

Something like "Bazel" should certainly not be stored there, as it's not a package name. (Although I did not actually find the default in the code, maybe I'm blind.) "bazel (0.1.1)" as suggested in the overvi

[2016-03-12 23:56] damienmg opened #1038 "Built has stallen on ci.bazel.io"
See http://ci.bazel.io/job/Bazel/JAVA_VERSION=1.8,PLATFORM_NAME=ubuntu_15.10-x86_64/395/console

Assigning to myself until I get back to munich. This looks really bad.

[2016-03-12 23:59] damienmg opened #1039 "ci.bazel.io does not sent mails anymore"
Sendgrid block them because of non authorized origin.

[2016-03-13 11:02] rdipietro commented on #760
I'm confused – shouldn't we be avoiding the system's `gcc` anyway?

System gcc:

[code]

Custom gcc:

[code]

[2016-03-13 13:45] damienmg commented on #760
Yes indeed. Do you still have the two lines in your WORKSPACE file? Is your
custom gcc on the path?

On Sun, Mar 13, 2016, 12:02 PM Robert DiPietro <notifications@github.com>
wrote:

[2016-03-13 14:26] rdipietro commented on #760
Ah sorry, had cloned again and forgot to update WORKSPACE ...

New error:

[code]

And when I run the command in parentheses I get

[code]

Meanwhile `which ld` gives me `/cm/shared/apps/binutils/2.25/src/bin/ld`.

Then, just to try it out, I got rid of this new install of `binutils` (don't need admin for this as the cluster is using Slurm). Same error even though `which ld` now gives me `/usr/bin

[2016-03-13 14:41] damienmg commented on #760
Humm I guess it's because of the -B option. Let see if we remove it, running:

[code]

[2016-03-13 15:35] rdipietro commented on #760
No luck.. same error with that command

On Sun, Mar 13, 2016 at 3:42 PM, Damien Martin-Guillerez <
notifications@github.com> wrote:

[2016-03-13 16:07] damienmg commented on #760
Weird can you try removing the `exec env - \` line?

[2016-03-13 16:15] rdipietro commented on #760
[code]

[2016-03-13 16:19] damienmg commented on #760
Ok so the problem is the path. Also the ld in /usr/bin might not be good enough. I am a bit at lost on how proceed for next step.

[2016-03-13 16:23] rdipietro commented on #760
Hmm. So there's no way to adapt the gcc-finding script to include an ld-finding script?

[2016-03-13 16:27] damienmg commented on #760
The problem is we don't specify ld in that command line, we could probably adapt the option to specify where is ld but I am a bit at lost to know which option I should tune. It's definitely possible to make it work, I just don't know how.

[2016-03-13 16:33] rdipietro commented on #760
Ok. Just as a note, if I `exec env`, `/usr/bin` is included in `PATH`.

On Sun, Mar 13, 2016 at 5:27 PM, Damien Martin-Guillerez <
notifications@github.com> wrote:

[2016-03-13 16:38] damienmg commented on #760
Humm let's try to put `-B/usr/bin` then in the gcc command line (with the `exec env - \`)

[2016-03-13 16:56] rdipietro commented on #760
This led to the same error message about `rpath`. Also the same if I use `-B/cm/shared/apps/gcc/4.8.2/bin` instead with the other `binutils`.

[2016-03-14 05:02] myme5261314 commented on #587
@kchodorow
Have the proxy related issue been fixed in the HEAD?
I'm using the HEAD to build tensorflow with the command below:
[code]
But seems bazel doesn't use proxy. Since I could clone the `boringssl` repo locally through git with proxy.
[code]

[2016-03-14 10:04] damienmg commented on #1038
There is nothing we can do on it unless the problem happens again. Maybe just add a timeout on the job itself.

[2016-03-14 10:05] damienmg opened #1040 "Python wrapper does not include the workspace name in the module space"
See https://groups.google.com/d/msgid/bazel-discuss/c46f9e35-0539-4d00-a0dc-bfb4de4bfdfb%40googlegroups.com

[2016-03-14 10:07] damienmg commented on #975
After a offline discussion, we decided to set the workspace name correctly when using the Label function and adds a non-default option to that function for the legacy behavior (we know of only one weird use case).

[2016-03-14 14:04] #1030 closed

[2016-03-14 14:13] kchodorow commented on #587
Yes, the patch has been merged in.  The proxy code looks for either HTTP_PROXY or HTTPS_PROXY (not the lowercase version).  Although perhaps we should add support for the lowercase option.

[2016-03-14 14:40] damienmg opened #1041 "Adds repository_ctx.download and repository_ctx.extract function"
Parent issue: #893

The main idea is to add the following methods to [repository_ctx](https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/bazel/repository/skylark/SkylarkRepositoryContext.java#L63):

* [download](https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/bazel/repository/HttpDownloader.java#L75) that download

[2016-03-14 14:43] dslomov commented on #1037
@damienmg, please take a look

[2016-03-14 14:49] dslomov commented on #1036
@damienmg, could you take a quick look? Sounds like android SDK misconfiguration

[2016-03-14 14:54] dslomov commented on #1035
@cgils, are you talking about project "cache" (it is not really a cache, it is just your output directory) or stuff that gets into ~/.cache/bazel?

[2016-03-14 14:55] #1032 closed

[2016-03-14 14:55] damienmg commented on #1036
I guess it's missing the build_tools_version. What is the content of your WORKSPACE file?

[2016-03-14 14:56] dslomov commented on #1027
@damienmg ptal

[2016-03-14 14:59] damienmg commented on #1027
More context: the XML file is created by the test runners or by default by test-setup.sh. The test time out is done by the process wrapper which run that test runner. So it's not really clear if there is a good way to do it.

I think we could add an intercept in the test-setup.sh on interrupt but I don't know how reliable that would be. I guess trying (it's not hard) and running the bazel test sui

[2016-03-14 15:09] dslomov commented on #1023
@laurentlb could you take a look?

[2016-03-14 15:12] dslomov commented on #1023
Rather, @damienmg

[2016-03-14 15:15] dslomov commented on #997
@kchodorow any further action needed here?

[2016-03-14 15:17] dslomov commented on #973
@kchodorow could you take a look?

[2016-03-14 15:17] damienmg commented on #1023
Last change to add more locations was bb46c870ee238c15662d99ab8d6fa0c24197d32b

In short: adding that needs a modification of the Cc* rules implementation. Maybe somewhere in CcCommon

[2016-03-14 15:20] dslomov commented on #947
Your last error must be because bazel ./compile.sh script cleans the build directory on exit.
Have you tried invoking gcc with ``SET PATH=C:/tools/msys64/usr/bin``? Maybe it just cannot find `msys-2.0.dll` or some other dependency>

[2016-03-14 15:22] dslomov commented on #946
Change it to ``build --workspace_status_command=./workspace_status.sh`` (we do as execv does)

[2016-03-14 15:22] #946 closed

[2016-03-14 16:55] cgils commented on #1035
Stuff that gets put into ```~/.cache/bazel```.

[2016-03-14 17:08] ahumesky commented on #1036
The build_tools_version is a mandatory attribute (though I'm not sure if we
check for empty...), but from the error, bazel is looking for things here:
external/androidsdk/build-tools/23.0.1/aapt

On Mon, Mar 14, 2016 at 10:55 AM Damien Martin-Guillerez <
notifications@github.com> wrote:

[2016-03-14 17:09] ahumesky commented on #1036
So it looks like the build_tools_version is set to 23.0.1
Mennouchi, is build tools version 23.0.1 installed in your android sdk
through the android sdk manager?

On Mon, Mar 14, 2016 at 1:08 PM Alex Humesky <ahumesky@google.com> wrote:

[2016-03-14 17:40] kchodorow commented on #973
Yeah, I'll fix.

[2016-03-14 17:43] kchodorow commented on #1033
`Label("//foo")` referring to the skylark rule's repo should be available this week, barring unforeseen issues on the code review.

[2016-03-14 17:51] kchodorow commented on #997
I don't think so, @laramiel feel free to comment if you disagree.

[2016-03-14 17:51] #997 closed

[2016-03-14 18:01] ohler opened #1042 "Merely touching a BUILD file causes Bazel to do real work"
Merely touching a BUILD file (updating the mtime) causes Bazel to recompile some code, which should be unnecessary.

Further, I'm confused by Bazel's diagnostics in this case.  It's obvious that something is being rebuilt just based on the time the build takes; but Bazel seems to pretend it's not doing anything, in the sense that -s doesn't show the commands being run, and the "tasks" chart in the

[2016-03-14 19:48] laramiel commented on #997
I disagree, unless there is already a tracking bug for working with external golang repositories.

[2016-03-14 21:10] bsilver8192 commented on #1042
FWIW, with my code on my machines, the slowest part of doing this (touching a BUILD file and then re-building nothing) is generally single-threaded MD5-summing of the existing output files due to #835. The easiest way I've found to diagnose that is by hitting ctrl+\ while it's building and then seeing a bunch of threads all waiting on the same Digest-related lock.

[2016-03-14 21:39] schroederc commented on #539
Any possible progress to this in the near future?

[2016-03-14 21:42] damienmg commented on #539
it is kind of a hard work, is there a specific case that this is blocking?

[2016-03-14 21:48] schroederc commented on #539
Nothing currently blocked other than some code cleanups.

[2016-03-14 22:07] damienmg commented on #922
The error seems a bit different here, it is correctly reported. Do you have a proxy?

[2016-03-14 22:21] davidzchen commented on #810
Since Skylark remote repositories is coming along, how about if we move these rules out of Java and implement them in Skylark instead to invoke the Git binaries?

This approach will also make it easier for someone to add similar rules, such as `hg_repository`.

[2016-03-15 00:30] thiell commented on #760
@rdipietro: I guess you just need to **add** another linker_flag line. It did the trick for me.

For example, my ld is here:
[code]

So I am using:
[code]

[2016-03-15 00:55] damienmg commented on #760
Oh yeah seems sensible, can you try on the command line so I can adapt the auto-configuration script if that works?

[2016-03-15 01:32] silinge commented on #922
Thanks! @damienmg I just test in both way by the using hosts(which helps us get google in China) or not, it returns to the same error. every file could be downloaded except them above the comment.  I wonder if there is a method we can download the two file and use them as local source to finsh this build task.

[2016-03-15 01:40] damienmg commented on #922
I think bazel HEAD does contains support for proxy, pulling in @kchodorow who knows :)

[2016-03-15 07:10] forfish commented on #392
Hi all, I'm learning something about Tensorflow!But when I run this:bazel build -c opt tensorflow/tools/pip_package:build_pip_package.It got this error.What is the matter?3Q very much!
![error](https://cloud.githubusercontent.com/assets/15953856/13770161/13eea5d4-eac0-11e5-89e7-4109354a2374.jpg)

[2016-03-15 07:44] XperielIndigo commented on #1029
This would be amazing to have! In the mean time, @kayasoze would you mind sharing your script? That would be really helpful so we can stop maintaining a CMakeLists.txt to support CLion.

[2016-03-15 10:47] aehlig commented on #1010
Simple way to reproduce: randomly break a *.cc or *.h file that
bazel depends on, e.g., by adding a #error cpp(1) directive. Then,
interestingly enough, ./compile.sh will not report the error message
(but, of course, the fact that the build failed, which makes it hard
to debug in the bootstrap phase).

Interestingly enough, a `bazel build` will correctly report the error;
`bazel build --experiment

[2016-03-15 12:52] damienmg opened #1043 "Document skylark remote repositories"
Skylark remote repositories are mostly there so we should ship the documentation now.

[2016-03-15 12:56] damienmg commented on #893
There are now sub-bug for everything missing, closing this one:
- doc #1043
- pypi #699
- download #1041
- refetch #974

[2016-03-15 12:56] #893 closed

[2016-03-15 12:57] damienmg commented on #1039
So DMARC got enforced preventing mails from noreply@bazel.io. Working with the DNS team to resolve the issue.

This is blocking our release so P1.

[2016-03-15 15:47] kchodorow commented on #922
It does contain proxy support (and should have better error messages).  You will have to set the environment variable HTTP_PROXY (or HTTPS_PROXY).

[2016-03-15 16:20] damienmg commented on #1039
The DNS entry has been fixed, should be back in a few hours.

[2016-03-15 16:20] #1039 closed

[2016-03-15 16:31] pmbethe09 opened #1044 "Appengine.bzl has an outdated API using 1.9.23, latest is 1.9.32"
The following change will update to 1.9.32

[code]

[2016-03-15 18:17] kayasoze commented on #1029
I hate to say this, @XperielIndigo, but my employer does not allow internal source code to be open sourced.  I can say, however, that bazel query's XML output is your friend.  There are a few bugs in CLion which prevent building from the generated targets, but you can at least index them.

I've also found it useful to write a small script, callable from CLion, which uses bazel query to run all tes

[2016-03-15 18:25] kchodorow opened #1045 "Instructions unclear, docker got cloudbees exception"
I'm trying to follow the instructions at https://bazel.git.corp.google.com/continuous-integration/+/master/README.md for setting up local testing.

I've eventually arrived at the command line:

[code]

which produced the attached log.

[docker.txt](https://github.com/bazelbuild/bazel/files/174551/docker.txt)

[2016-03-15 18:31] kchodorow commented on #1045
Oh, just as a note: I've change JENKINS_HOST in jenkins/jenkins.bzl to localhost and have https://bazel-review.googlesource.com/#/c/3072/ applied locally.

[2016-03-15 18:51] damienmg commented on #1045
Well we should add an easy way to test everything, being able to launch a build and so on...

[2016-03-15 18:54] kchodorow commented on #1045
That would be great!

[2016-03-15 19:35] kchodorow commented on #392
What does your WORKSPACE file look like?

[2016-03-15 19:53] damienmg commented on #1038
Cannot reproduce

[2016-03-15 19:53] #1038 closed

[2016-03-15 20:19] kchodorow commented on #997
We are moving the go rules (and all of the other rules) into rule-specific repositories, so I've opened a new umbrella issue in rules_go about it.  Feel free to add any details there.

[2016-03-15 20:26] kchodorow commented on #1044
I've opened an issue in the appengine project to fix this, as we're working on moving all of Skylark rules out of the main repository.

[2016-03-15 20:26] #1044 closed

[2016-03-15 20:42] #1014 closed

[2016-03-15 21:01] davidzchen opened #1046 "Bazel Pantry: Catalog for Skylark rule sets"
Now that we have moved all the Skylark rule sets out of the main repository into separate repositories, it would be great to have a searchable catalog/index of Skylark rule sets, similar in flavor to [NPM](https://www.npmjs.com/), [Bower](http://bower.io/search/), [Atom](https://atom.io/packages), [Crates.io](https://crates.io/), [Maven Central](http://search.maven.org/), etc.

Each page would hav

[2016-03-15 21:44] wolfgangmeyers opened #1047 "bazel usage error"
If you try to run bazel with --javacopt "-target 1.7" and don't also specify --javacopt "-source 1.7" you get this error:

blaze javac: source release 8 requires target release 1.8
Usage: blaze javac <options> <source files>

Seems like the error should explain what to fix at a higher level, and have bazel instead of blaze.

[2016-03-15 22:26] nelhage commented on #810
I wanted this for an internal project, so I took a stab at implementing this using the Skylark repository rule support now in HEAD. It's early and lacks a bunch of features, but I'm successfully using it to clone private repos into a bazel workspace: https://github.com/nelhage/bazel_git_repositories

Comments or contributions welcome, and I'd be happy to turn this into a PR against Bazel if it'd b

[2016-03-16 01:26] silinge commented on #922
thanks @kchodorow  HTTP_PROXY maybe the hard part. :)

[2016-03-16 02:27] fayeshine opened #1048 "Use bazel to build tensorflow cause some problem"
https://github.com/tensorflow/tensorflow/issues/1413

[2016-03-16 02:37] kd8azz opened #1049 "Extend sandboxing so that JUnit tests can access GPU when run from Bazel"
Hello Bazel Team,

I have a JUnit test that seems to be unable to connect to the GPU from within a 'bazel test' command, but can in several other ways.  I'm really at quite a loss, so I've put together a minimal example to demonstrate it.

Some potentially relevant details:
OS: Ubuntu GNOME 15.10 64bit
Java: openjdk version "1.8.0_66-internal"
Bazel: head (@af69e7a) -- built on 2016-01-17
GPU: GeF

[2016-03-16 03:24] bsilver8192 commented on #1049
What happens when you disable the sandbox with `--spawn_strategy=standalone`?

[Bazel's sandboxing](http://bazel.io/blog/2015/09/11/sandboxing.html)  intentionally disables access to most of the system to make tests more hermetic, which sounds like it might interfere with getting to the GPU.

[2016-03-16 10:07] damienmg commented on #1048
/cc @kchodorow @davidzchen
This is a proxy issue on git which we don't support yet.

I believe @posco wanted to use skylark remote repository to do a git_repository using the git command.

[2016-03-16 10:43] damienmg commented on #1048
Related bug: #810

[2016-03-16 10:47] aehlig commented on #1010
The error is in the bootstrap process-wrapper. Basically, it does not
support '-' to mean stdout/stderr untouched. The following quick hack
gets the error message back relying on the fact that during bootstrap
we always use a StandaloneSpawnStrategy.

[code]

Will work on a proper fix.

--
Klaus Aehlig
Google Germany GmbH, Erika-Mann-Str. 33, 80636 Muenchen
Registergericht und -nummer: Hamburg, HR

[2016-03-16 11:10] manjunaths opened #1050 "[Feature request] Bazel should cache already downloaded repositories and dependencies"
I am trying to build tensorflow and I struggling with issues like setting proxy and such. I have to restart my build several times. Each time I execute a bazel build it goes and downloads all the dependencies again fresh. Is there a way to make it cache the downloaded repositories ? So that it doesn't redownload the already downloaded repos ?

[2016-03-16 11:57] islamoc commented on #1036
Hello After Updating the Android SDK I m getting this error

[code]

[2016-03-16 12:00] damienmg commented on #1036
Build with --verbose-failures?
Is the error consistent?

[2016-03-16 12:12] islamoc commented on #1036
with the --verbose-failures I get this

[code]

[2016-03-16 12:26] kd8azz commented on #1049
Excellent.  The JUnit test can contact the GPU when run with --spawn_strategy=standalone.

Is there an argument for the java_test( ) BUILD target, that will make it run this way?  I would like the ability to ```bazel test src/test/...```, and only a small handful of my tests will rely on the GPU.  Most should remain sandboxed.

[2016-03-16 13:03] aehlig commented on #1010
Currently under review: https://bazel-review.googlesource.com/#/c/3081/

--
Klaus Aehlig
Google Germany GmbH, Erika-Mann-Str. 33, 80636 Muenchen
Registergericht und -nummer: Hamburg, HRB 86891
Sitz der Gesellschaft: Hamburg
Geschaeftsfuehrer: Matthew Scott Sucherman, Paul Terence Manicle

[2016-03-16 13:47] wolfgangmeyers opened #1051 "Unable to use jar command on ubuntu"
I'm building a project on ubutnu 14.04 64 bit. I created a genrule target that uses the jar command:

tools = ["@local_jdk//:bin/jar"]

And I store the location in an environment variable in the cmd:

"JAR=$$(pwd)/$(location @local_jdk//:bin/jar)"

Then I try to use $$JAR later in the command, it fails with this error:

external/local_jdk/bin/jar: error while loading shared libraries: libjli.so: c

[2016-03-16 14:54] wolfgangmeyers commented on #1051
I found a solution. Need to add the following in the tools:

    tools = [
        "@local_jdk//:bin/jar",
        "@local_jdk//:jdk-lib",
        "@local_jdk//:jre-default",
    ],

[2016-03-16 15:02] wolfgangmeyers commented on #1051
Looks like jar is a filegroup:
https://github.com/bazelbuild/bazel/blob/master/src/main/tools/jdk.BUILD#L31

Would it be possible to make this a binary rule instead so that jdk-lib and jre-default are included as dependencies?

[2016-03-16 16:35] bsilver8192 commented on #1049
`tags = ['local']` should disable sandboxing for a specific test.

Also, do you know what exactly needs to be included in the sandbox to allow accessing the GPU? If it's something simple, I think it would be reasonable to have Bazel do it so you can leave the sandbox enabled.

[2016-03-16 17:15] kd8azz commented on #1049
To preface: I don't know; I'm just starting out with GPU programming.

What I do know is that the exception I'm getting indicates an [icd](https://www.khronos.org/registry/cl/extensions/khr/cl_khr_icd.txt) load failure.  So presumably there is a GPU driver of some sort, presumably related to the apt-get target ```nvidia-opencl-icd-352```.  But I have zero experience troubleshooting drivers, and la

[2016-03-16 17:17] kd8azz commented on #1049
Is there a way I can dump the sandboxing parameters, or otherwise do a diff between the sandbox environment and the non-sandboxed environment?

[2016-03-16 17:58] philwo opened #1052 "Bazel runs tests in a sandbox even with "local = 1""
In our documentation, we say that when you set the "local = 1" attribute on a test, the test will run without sandboxing. This is supposed to be equivalent to setting the "tags = ['local']" attribute on a test: http://bazel.io/docs/be/common-definitions.html#test.local

However, when I run this test, it actually executes in a sandbox, as seen in "ps axuf":
[code]

This test however runs without a

[2016-03-16 18:39] bsilver8192 commented on #1049
If you run Bazel with `--sandbox_debug`, it will print out all of the filesystem paths getting mounted for failing commands (like your test). If you have an idea about what package has the problematic files, try comparing the output of `dpkg -L nvidia-opencl-icd-352` to the paths Bazel is mounting (Bazel not getting `/usr/local` is a common issue; definitely look for that).

[2016-03-16 19:27] ahumesky commented on #1036
There should be an android_sdk_repository rule in the workspace file that points to the android sdk on your machine. Does that path + build-tools/23.0.1/aapt exist?

[2016-03-16 19:29] islamoc commented on #1036
yes it does exists and even when I check the directory that the error says it was not fount I can find it and I can find the aapt bin inside it

[2016-03-16 19:55] ahumesky commented on #1036
Hmm, well, I cloned tensorflow and bazel from head, build bazel, ran tensorflow's configure script, set the android_sdk_repository and android_ndk_repository rules to the appropriate paths, and did `bazel build tensorflow/examples/android:tensorflow_demo` and it seems to build...

Can you try running aapt directly? Do you have a 64 bit machine? As a wild guess, it might have to do with running a 3

[2016-03-16 20:44] islamoc commented on #1036
Fixed the 64bit problem and now I'm getting a new error

[code]

[2016-03-16 21:59] ahumesky commented on #1036
Guessing from the "killed" part of "arm-linux-androideabi-gcc: internal compiler error: Killed", it might be that your machine is running out of memory. How much ram does the machine have?

You might consider setting the --jobs flag to something lower (the default is 200),
or try --local_resources or --ram_utilization_factor
See http://bazel.io/docs/bazel-user-manual.html for details on these flag

[2016-03-16 22:01] islamoc commented on #1036
I have 3.5Gb of RAM Yes I just found that I will use just 2 jobs and get back to you thank you for the help

[2016-03-16 22:15] islamoc commented on #1036
@ahumesky thank you it worked

[2016-03-16 22:15] #1036 closed

[2016-03-16 22:20] ahumesky commented on #1036
Great, glad it's working for you now. --jobs 2 might be pretty slow, hopefully you can find a higher number that will still work for you

[2016-03-16 23:37] kd8azz commented on #1049
$ dpkg -L nvidia-opencl-icd-352
/etc
/etc/OpenCL
/etc/OpenCL/vendors

```$ cat <logfile> | grep OpenCL``` outputs nothing.

So it looks like ```/etc/OpenCL(/vendors)```.  Did I do that right?

[2016-03-16 23:40] kd8azz commented on #1049
To be clear,
[code]

So, the logfile does have debugging info in it.

[2016-03-16 23:53] kd8azz commented on #1049
And finally,
[code]

[2016-03-17 04:02] bsilver8192 commented on #1050
Is it actually failing to cache fully downloaded repositories, or is it stopping partway through when one fails and then restarting all of them the next time?

[2016-03-17 09:34] damienmg commented on #1045
Closing this one, use bazelbuild/continuous-integration#1 to follow-up

[2016-03-17 09:34] #1045 closed

[2016-03-17 10:19] #738 closed

[2016-03-17 10:19] #884 closed

[2016-03-17 10:56] damienmg opened #1053 "Provide repo with CROSSTOOL for cross-compiling for other platforms"
Must-have platform:
- Raspberry PI

Should-have:
- Old Linux platforms that do not support have Java 8
- NVIDIA Tegra

@dslomov: can you follow-up on that one? just make sure we do it by next quarter (TBD who is going to do it exactly).

[2016-03-17 12:45] damienmg commented on #760
(note: the bug that was preventing the error from being printed out should be fixed now so no need to run the action outside anymore \o/)

[2016-03-17 15:20] kchodorow commented on #1003
Okay, I've opened https://github.com/bazelbuild/rules_appengine/issues/4 to deal with the original issue and a [pull request](https://github.com/bazelbuild/rules_appengine/pull/3) to remove this dependency (I've asssigned it to dmarting, but feel free to lgtm if you're around).

[2016-03-17 15:20] #1003 closed

[2016-03-17 17:54] dfabulich opened #1054 "Access workspace status in a Starlark action"
https://groups.google.com/forum/#!topic/bazel-discuss/hqyMFjEpJgM

There's apparently no way to access volatile-status.txt in a Skylark action.

[2016-03-17 18:29] ulfjack opened #1055 "Unbundle mobile tools"
We're about to add another tool for Android builds to do sharded dex compilation, and that depends on having an Android SDK available. If we put it into @bazel_tools, then we'd implicitly require every user of Bazel to also have an Android SDK, whether they work with Android or not.

After talking to @ahumesky and others, it seems to me that the right solution is to unbundle the Android tools - al

[2016-03-17 18:29] ulfjack commented on #1055
@lberki @damienmg

[2016-03-17 20:25] damienmg commented on #1055
SGTM we used to have it.

We could take the opportunity to put that android tooling outside of bazel completely and people would just fetch it when declaring a android_sdk_repository

[2016-03-17 21:24] damienmg opened #1056 "March release"
Should be 0.2.1 (0.3 is almost there but we still needs some documentation for it).

We should cut the rc tomorrow, we have too many incompatibilities now.

/cc @kchodorow fyi

[2016-03-17 21:51] mrdomino opened #1057 "Incrementality on android targets with native tests"
I have a few android targets that have native unit tests. All of their dependencies seem to be getting rebuilt every time I change them, and my guess is that this is because bazel currently considers a cc_library built for android as the same target as a cc_library built natively. Some way around this would be useful.

[2016-03-17 22:08] ahumesky commented on #1057
Do you have some way for us to reproduce the problem you're seeing? Or some example?

[2016-03-18 08:56] lberki commented on #1055
LGTM. This is probably the sanest solution of them all.

[2016-03-18 12:54] #877 closed

[2016-03-18 12:55] dslomov commented on #1057
Not really actionable pending clarifications from @mrdomino

[2016-03-18 12:56] dslomov commented on #1054
@damienmg ptal

[2016-03-18 12:59] damienmg commented on #1054
Yes there is no nice way to do it, except use a stamped genrule that expose that file to the skylark rule.

[2016-03-18 13:10] dslomov commented on #1051
@damienmg : wdyt on @wolfgangmeyers suggestion?

[2016-03-18 13:11] dslomov commented on #1050
@kchodorow thoughts?

[2016-03-18 13:12] damienmg commented on #1051
I don't know how we can do that. Maybe using a sh_binary but we have another bug (sh_binary cannot take other than .sh and .bash).

Other than the technical problem this seems like a good idea.

[2016-03-18 13:13] dslomov commented on #1049
@philwo FYI

[2016-03-18 13:14] dslomov commented on #1042
@damienmg for further triage

[2016-03-18 13:38] philwo commented on #1049
/etc should be mounted by default - it's OK that you don't see /etc/OpenCL specifically mentioned in the log file, because it mounts the whole directory, so it should be included.

If you build Bazel from HEAD and run your test using "bazel test --sandbox_debug --verbose_failures", Bazel should print a command-line that includes the "namespace-sandbox" binary and some instructions.

If you then ru

[2016-03-18 14:21] kchodorow commented on #1048
Yeah, unfortunately the git download logic is different than that of the other rules.

[2016-03-18 15:15] mrdomino commented on #1057
Urf. I tried to get an example together and discovered that this wasn't the actual issue. Trying to figure out what's causing lots of third-party libraries to be rebuilt on ci.sh still.

[2016-03-18 15:15] #1057 closed

[2016-03-18 18:02] mikedanese opened #1058 "implement docker_pull rule"
I've seen hints that this is planned as future work but I'm not aware of an issue tracking it. Is anyone actively working on this? Is there anything blocking this?

[2016-03-18 19:28] hhclam commented on #1026
xynny: I think the reason that it complains about namespace-sandbox has nothing to do with remote spawn strategy. For a non-remotable task it just uses other spawn strategies such as linux sandbox or local. The issue seems to be that namespace sandbox doesn't work on your linux box.

There's an actual bug that 'remote' spawn strategy is not available if --hazelcast_node is not specified. We're wor

[2016-03-18 20:19] damienmg commented on #1058
Yes that is in plan (last step of http://goo.gl/OZV3o0).

It will comes after #699 which should come soon.

[2016-03-19 17:37] cnsgsz opened #1059 "linkopt for <cmath>"
in building a test for a library (the library has header files which includes <cmath> and uses std::log());

it could be resolved by adding linkopt = ["-lm"] to the build rule for the library, but is it the right way to resolve the issue? why could bazel not automatically add the linkopt?

[2016-03-20 04:03] raliste opened #1060 "no such package '@bazel_tools//': BUILD file not found on package path."
This happens for every `go_test` rule that I've tested.

[code]

[2016-03-20 04:08] raliste commented on #758
Please please please

[2016-03-20 05:19] mikedanese commented on #671
Is there a simple temporary workaround for this? I imagine I could use a genrule to find the runfiles directory and tar it but I'm wondering if there is a better way.

[2016-03-20 07:20] domesticmouse opened #1061 "Closure sample from bazel website fails to build"
I'm attempting to build the sample app from the [Closure docs on the Bazel website](http://bazel.io/docs/be/closure.html), however I am hitting the following error:

[code]

I've put my project up as a gist: https://gist.github.com/domesticmouse/f3016736399f6b951b6d

[2016-03-21 09:53] lberki opened #1062 ""Inconsistent filesystem operations" and sandboxing"
This error message just popped up while using a Bazel at Github HEAD:

[code]

I haven't looked into it very deeply, but my guess is that the sandbox leaves things around and then someone accesses them. although I don't immediately see who would read that directory aside from the sandbox...

[2016-03-21 09:54] lberki commented on #1062
@hermione521 @philwo

[2016-03-21 09:54] lberki commented on #1062
@kchodorow , any ideas where this operation might come from?

Note that in the general case, we can't be sure that the sandbox cleans up after itself, because we can `kill -9` everything at any time.

[2016-03-21 09:56] lberki opened #1063 "Sandbox returns "no such file or directory""
I ran `scripts/setup-intellij.sh` at `4b2745c5` and this is what popped up:

[code]

[2016-03-21 09:57] lberki commented on #1063
@hermione521

[2016-03-21 10:30] aehlig commented on #1010
The patch is now pushed as b2973419c9b018064bbc45f9fdf5c135ee304758. I believe the issue is fixed now.

[2016-03-21 10:30] #1010 closed

[2016-03-21 10:33] damienmg commented on #1061
Hi @domesticmouse,

Closure rules from the Bazel repositories are deprecated and will soon be moved, you can have a look at https://github.com/bazelbuild/rules_closure for the new rules.

I will close that bug, please file any problem you encounter with the new rules on the dedicated issue tracker. Thanks!

[2016-03-21 10:33] #1061 closed

[2016-03-21 10:37] damienmg commented on #1059
Yes this is the right way to do it.

Bazel cannot adds it automatically because not everybody use libmath...

[2016-03-21 10:37] #1059 closed

[2016-03-21 10:40] damienmg commented on #1060
How do you load the go rules?

[2016-03-21 10:59] hermione521 commented on #1063
can't repro

[2016-03-21 11:44] philwo commented on #1063
It fails when mounting something, which really looks like a bug in the sandbox, not the binary that was called or an issue with dependencies. We should try to reproduce this with --verbose_failures and --sandbox_debug. Maybe it's a bug in the recent work on sandboxing, because there were some changes to how it builds the list of files to mount.

Without a better error message though, we can't see

[2016-03-21 12:37] lberki opened #1064 "Source forest creation failed"
Bazel intermittently produces this error message:

[code]

[2016-03-21 12:38] damienmg commented on #1064
when doing what? (repro?)

[2016-03-21 12:39] lberki commented on #1064
The command that failed like this last time was `bazel build //src/test/shell/bazel/...` . I don't think it's specific to the command, though.

[2016-03-21 12:39] damienmg commented on #1064
`.#WORKSPACE` looks very suspicious, assigning to @kchodorow for investigation.

[2016-03-21 12:54] #1041 closed

[2016-03-21 13:17] #909 closed

[2016-03-21 13:17] #1017 closed

[2016-03-21 13:17] #936 closed

[2016-03-21 13:18] damienmg commented on #917
No answer -> closing. Please ping back if you have more question

[2016-03-21 13:18] #917 closed

[2016-03-21 13:49] damienmg commented on #671
mikedanese: use a skylark rules to iterates over a runfiles tree to place their somewhere.

I believe it is a good intermediate solution to dupe all the files.

[2016-03-21 14:24] jart opened #1065 "Enforce naming convention on maven_jar"
As you can see, the Closure Rules [repositories.bzl](https://github.com/bazelbuild/rules_closure/blob/master/closure/repositories.bzl) file is getting to be a nontrivial size. I'm imagining how the naming of these dependencies is going to play out in a large ecosystem of external repositories. For example:

[code]

Now let's imagine rules_closure and rules_scala both depend on Guice, but they name

[2016-03-21 15:00] pmbethe09 commented on #1017
If anyone else runs into this -- I created a junit_tests skylark rule which assumes the srcs are all Junit tests, and creates a native.java_test using a generated test_class.
(attached)
[junit.txt](https://github.com/bazelbuild/bazel/files/182485/junit.txt)

[2016-03-21 15:19] shahms commented on #1063
This is due to commit 5b1fce59a09fe58548661e5247db455035827830

[2016-03-21 15:20] shahms commented on #1063
If you run with --sandbox_debug you'll likely see that the failure is due to a path `/etc/nsscacheclient-candidate.<digits>`

[2016-03-21 16:23] philwo commented on #1063
@shahms You're right. Thanks! :) I'm sending a fix for this in the next hour.

[2016-03-21 17:30] hanwen opened #1066 "maven_jar has undocumented name restrictions."
apparently, you can't use dashes and/or dots in maven_jar names. This is not documented.

Can this be documented or fixed?

hanwen@nienhuys:~/vc/gitiles$ bazel build gitiles-servlet/...
ERROR: /home/hanwen/vc/gitiles/WORKSPACE:20:1: maven_jar rule //external:joda-time's name field must be a legal workspace name.
ERROR: /home/hanwen/vc/gitiles/WORKSPACE:62:1: maven_jar rule //external:servlet-api_3

[2016-03-21 18:39] kchodorow commented on #1064
That's generally what emacs names autosave files.  I'll look into it, but saving or removing the file should be a workaround.

[2016-03-21 18:46] kchodorow commented on #1062
I have no idea where it's getting /dev/fd/47 from, I'd assume that's a sandbox setup thing.  I'm probably not the best person to look into that...

[2016-03-21 18:46] #1063 closed

[2016-03-21 19:33] lberki commented on #1062
Aaaargh, I think I know. My guess is that the glob in the BUILD file in the root directory of the Bazel tree descends into the bazel-github directory.

[2016-03-21 19:36] lberki commented on #1064
Yep, that's an emacs autosave file. I didn't change the WORKSPACE file, this was a stale autosave. My best guess is a glitch in the source forest creation code.

[2016-03-21 22:01] coptic-bola opened #1067 "Add support and rules for Python AppEngine"
I am trying to a build a python backend and using bazel as my build system but it has no support for Python App Engine like it has for Java. Is there a way to extend the current rule or build a new one to support Python?

[2016-03-21 22:16] smparkes commented on #1066
This was mentioned in the release notes for 0.1.5: https://github.com/bazelbuild/bazel/releases/tag/0.1.5

I saw it in the release notes since it was a breaking change.

Not sure if the requirement ever got added anywhere. Moreover, things like http://bazel.io/docs/be/workspace.html#be-menu still use examples (@my-ssl) that are no longer valid.

[2016-03-22 00:28] bsilver8192 commented on #1062
Is it maybe an outdated convenience symlink? I've seen similar issues from that.

As far as the actual error, /dev/fd/47 is just whatever file descriptor number 47 is. That switching between a directory and a file (or whatever) is almost expected.

[2016-03-22 08:27] lberki commented on #1062
@bsilver8192 : Yep, the fact that `/dev/fd/47` is not consistent is expected. It's a tad surprising, though, that it's accessible from under the output base.

I thought it's due to the `glob(["**"])` stanza in `/BUILD`, but it explicitly excludes `bazel-*/**`, so it shouldn't match. That said, `bazel query //:all-targets` returns a lot of stuff under the `.git` directory, which is also excluded in

[2016-03-22 08:30] lberki commented on #1062
We apparently have a filegroup called `git` for whatever reason, which is an explanation for the `.git` files. Which means that the reason why we stat that file is still a mystery.

[2016-03-22 09:46] rdipietro commented on #760
Sorry for the delay. Deadline last week.

I cloned the latest bazel and added
[code]
to WORKSPACE. Same `ld`-not-found error:

[code]

So I added `-B/cm/shared/apps/binutils/2.25/src/bin` using the command line. New error is

[code]

Anything you'd like me to try?

[2016-03-22 12:34] mikefaille opened #1068 ".sh installer requirement : java 9 dont use rt.jar anymore"
I'm using Opensuse Tumbleweed fully updated (rolling update distro) with Java 9 as default jvm (configured using JAVA_HOME). Refer to http://openjdk.java.net/jeps/220 : Removed: rt.jar and tools.jar.

[code]

[2016-03-22 12:39] damienmg commented on #623
Oh sorry I realized I never give an answer to that last message.

So the GPU thing is probably a TensorFlow side issue. The warnings are, unfortunately, normal.

[2016-03-22 12:39] mikefaille commented on #1068
This error come from here : https://github.com/bazelbuild/bazel/blob/e5e3e9193a457ace9043bf70ff0253333c3435e5/src/main/cpp/blaze_startup_options.cc#L120

[2016-03-22 12:42] damienmg commented on #1068
Hello,

this is a known issue, see #428, unfortunately, we needs various change in our Java support to be able to run using a JRE 9. The java people at Google works on it but it will take some time.

In the time being, the compiler used by Bazel can actually handle Java 9 code but needs a JRE 8 to run.

Closing as duplucate of #428

[2016-03-22 12:42] #1068 closed

[2016-03-22 12:44] damienmg commented on #1067
Hi, we don't plan to do it soon (though it is not really hard). I'll try to find back the code I used for my personal project.

[2016-03-22 12:45] damienmg commented on #1065
That's sounds reasonable. Assigning to @kchodorow for triage / see how it can fit the general roadmap of naming conventions.

[2016-03-22 13:03] damienmg commented on #760
`-Wl,rpath,/home-4/rdipiet2@jhu.edu/install/cudnn-6.5-linux-x64-v2 -L/home-4/rdipiet2@jhu.edu/install/cudnn-6.5-linux-x64-v2`

This is the problematic option. This is weird. It complains about `/home-4/rdipiet2@jhu.edu/install/cudnn-6.5-linux-x64-v2` being a directory, which is what rpath argument should be. I'll think a bit longer about that.

[2016-03-22 13:04] damienmg opened #1069 "repository_ctx.download should support the executable argument"
So we can set file to executable.

[2016-03-22 14:16] coptic-bola commented on #1067
Sounds good. If you don't have time to clean up the code you used on previous projects, feel free to send it to me and I can make a PR after cleaning it up.

[2016-03-22 14:37] kchodorow commented on #1067
It would be good to add to https://github.com/bazelbuild/rules_appengine, if anyone does work on it.

[2016-03-22 14:40] kchodorow commented on #1069
Nit: so far, genrule and Skylark rules have an `executable` attribute, not a full mode.

[2016-03-22 14:44] damienmg commented on #1069
Oh yes sorry, so is true for `repository_ctx.template`

[2016-03-22 15:16] kchodorow commented on #1065
Unfortunately, external users actually want to have conflicting versions of some dependencies (e.g., build one part of the project with one version, another part with another version).  We don't want to have spurious warnings or people will ignore them.  You might want to take a look at https://groups.google.com/d/msg/bazel-discuss/Dc1bCD0JpDU/5LZmFHAXKwAJ, a design doc @hhclam has been working on

[2016-03-22 15:27] jart commented on #1065
The solution to that is very simple. Provide the user with two choices of names: `com_google_inject__guice` or `com_google_inject__guice__3_0`.

[2016-03-22 16:08] lberki opened #1070 "Bootstrap Bazel cannot compile itself on Windows"
`output/bazel build //src:bazel` returns:

[code]

The `CreateFile()` invocation is for one of the file handles used for memory mapping. I haven't investigated it more thoroughly, though.

[2016-03-22 16:08] lberki commented on #1070
Assigning to @dslomov  since I'll be OOO for a few days and he'll come back earlier.

[2016-03-22 16:13] damienmg commented on #1070
We should run the determinism tests, it will ensure that works (`./compile.sh compile,determinism`).

I will actually replace the Bazel job by only those for CI on other platforms (and run the test suite in a separate job).

[2016-03-22 16:16] lberki commented on #1070
We should run tests, except that no one has ever seriously tried to get any test to run on Windows :) (e.g. `LabelTest` works, `CcLibraryConfiguredTargetTest` doesn't, but is probably fixable by tweaking the test CROSSTOOL)

[2016-03-22 16:46] hhclam commented on #1065
While appending version to the package name allows multiple versions to be used in a repo. Bazel doesn't provide a mechanism for resolving diamond dependency. It might result in a bad usage pattern and lead to problems that user cannot resolve.

[2016-03-22 16:55] jart commented on #1065
So @hhclam is what you mean by resolving diamond, automatically turning this:

![diamond-inconsistent](https://cloud.githubusercontent.com/assets/49262/13959933/7fa008ce-f02c-11e5-86ed-2cd778e9d8d8.png)

Into this?

![diamond](https://cloud.githubusercontent.com/assets/49262/13959936/82575b62-f02c-11e5-8707-7066f9277a9c.png)

I would argue that this probably isn't something Bazel should automatica

[2016-03-22 17:08] hhclam commented on #1065
@jart: That's right. I agree that Bazel shouldn't handle this automatically. Instead I think Bazel team should provide tools and guidelines such that user doesn't run into this situation in the first place. That's the motivation of the design doc for generate_workspace.

I totally agree that being strict is better in general. It can go together with a well documented tools and best practices.

My

[2016-03-22 17:16] kayasoze commented on #374
This blocks our Bazel deployment as well.

[2016-03-22 17:20] RonnieAtOracle commented on #374
This is blocking us.  We have a templating system where we need to build our template files.  The filenames themselves contains template variables (e.g. ${ServiceName}.java ).   Both $, {, and } are not supported by Bazel in file names.

[2016-03-22 18:07] jart opened #1071 "Strict classpath checking / one version enforcement"
I was having lunch with @kchodorow and we came up with a really cool idea for guaranteeing that two classes with the same package + name will never appear on the same classpath.

The way it works, is you have `java_{library,binary,import}` export the set of all the class names that exist in the jar it produces. Then when two rules get linked together, have it fail if the intersection of those sets

[2016-03-22 18:19] jart commented on #1065
Penny for your thoughts on #1071 @hhclam.

I'm not sure if you're a Googler, but Bazel doesn't support tools for exclusion because Google's internal monolithic repository has a policy where only a single version of a third party dependency is allowed to exist at a given time. When third party dependencies are updated, every single project that uses that dependency will be updated, if necessary, in

[2016-03-22 18:30] hhclam commented on #1071
I like this a lot. We have this check for our internal build system and would love to see this feature in Bazel.

[2016-03-22 18:39] jart commented on #1065
Here's how I've been solving the problem so far. I maintain a large Bazel codebase that depends on 83 separate Maven jars. What I basically did was I wrote, by hand, 60 BUILD files under //third_party/java that define each jar with its transitive dependencies as runtime deps. For example:

[code]

Writing these files was a pain. But it was just brainless boilerplate that I was able to whip up in a

[2016-03-22 18:47] laramiel opened #1072 "bazel test ... fails"
At the workspace level one should be able to run `bazel test ...`

Repro: https://github.com/laramiel/bazel-golang-vendor-test.git

See also https://github.com/bazelbuild/rules_go/issues/8

[code]

Expected: tests in all subdirectories run.
Actual: bazel indicates a problem with bazel/baze_workspace/tools/build_rules/py_rules.bzl

[2016-03-22 18:49] kchodorow commented on #1072
It sounds like you've got either an old version of Bazel and/or an old .bazelrc laying around.  You can remove the `--package_path` lines from your .bazelrc (probably in your home directory or /usr/local/lib/bazel/etc).

[2016-03-22 18:55] laramiel commented on #1072
This was with a new build of bazel.
Removing ~/.bazelrc solved the problem.

[2016-03-22 18:55] #1072 closed

[2016-03-22 20:26] tfarina commented on #904
@hhclam fyi

[2016-03-22 20:45] jeandut commented on #623
Thanks @damienmg ! even late it is still good to know ! Thanks to your advices Tensorflow has now been running flawlessly on my computer for a few months !

[2016-03-22 21:41] damienmg commented on #623
Très heureux d'avoir pu aider :)

[2016-03-23 02:19] forfish commented on #392
I don't have any change about WORKSPACE! This is the original file:
# Uncomment and update the paths in these entries to build the Android demo.
#android_sdk_repository(
#    name = "androidsdk",
#    api_level = 23,
#    build_tools_version = "23.0.1",
#    # Replace with path to Android SDK on your system
#    path = "<PATH_TO_SDK>",
#)
#
#android_ndk_repository(
#    name="androidndk",
#    pat

[2016-03-23 02:24] Dominator008 commented on #907
I think this is being addressed by https://github.com/bazelbuild/rules_closure. @jart

[2016-03-23 03:48] thomaso-mirodin opened #1073 "Unable to use ed25519 ssh keys when pulling from remote repositores"
Hey! :D

I was debugging a weird issue today, it looks like bazel (or more likely Jsch) doesn't support cloning from git servers when using a ed25519 key.

[code]

I found a similar error on this issue: https://github.com/sheimi/SGit/issues/17. This issue seemed to suggest that it was failing due to Jsch so on a hunch I tried switching to an rsa key instead which fixed the issue.

But uh... I like

[2016-03-23 11:55] damienmg commented on #1073
/cc @davidzchen

[2016-03-23 12:18] damienmg commented on #1071
/cc @cushon @eaftan Do you think this check should be in JavaBuilder, we already have all the information (we pass the ijars and listing a content of a jar is easy)?

[2016-03-23 12:31] tfarina commented on #842
@dslomov would you be fine if we submit a patch to replace these "Blaze" references by
Constants.PRODUCT_NAME? Or will that cause too much disturbance/noise at this point?

[2016-03-23 12:38] damienmg commented on #842
@tfarina I think that's fine to do it. Unless @lfpino has objections (he's working on removing all usages of the Constants class and might have some guidance to do it to reduce his work load). We might have still instance of it in the client launcher.

[2016-03-23 12:46] lfpino commented on #842
Go ahead, those references to Constants.PRODUCT_NAME should be easy to remove later on.

[2016-03-23 13:07] tfarina commented on #842
I have made https://bazel-review.googlesource.com/#/c/3103/ for this.

I was not able to set @lfpino as a reviewer, it does not autocomplete there.

Please, feel free to review when you can.

Thanks,

[2016-03-23 13:41] kchodorow commented on #907
Does https://github.com/bazelbuild/rules_closure#closure_js_test cover what you're looking for?

[2016-03-23 15:49] ulfjack opened #1074 "Implement --watchfs for the Mac"
We had to disable --watchfs on the Mac, because the WatchService shipped with the JDK is statting all the files, which makes it a lot slower than our own statting implementation.

We could experiment with this:
https://github.com/gjoseph/BarbaryWatchService

[2016-03-23 15:49] ulfjack commented on #1074
According to my profiling, the lack of watchfs is responsible for ~60% of the null build time on bazel itself.

[2016-03-23 15:57] damienmg commented on #1067
Here is my custom workspace file:
[code]

appengine.BUILD:
[code]

And then my BUILD file add dependency to ["@google_appengine_sdk_python//:appengine"].

It's very custom and just works for compilation and tests. Making a full support shouldn't be hard though

[2016-03-23 16:55] damienmg commented on #1069
/cc @meteorcloudy

[2016-03-23 16:55] damienmg commented on #1041
/cc @meteorcloudy

[2016-03-23 16:56] damienmg commented on #699
/cc @meteorcloudy

[2016-03-23 16:57] damienmg commented on #1067
/cc @meteorcloudy

[2016-03-23 16:58] damienmg commented on #1040
/cc @meteorcloudy

[2016-03-23 17:33] cushon commented on #1071
We've had conversations about doing this, and @eaftan did some work on a prototype.

I think there are two main reasons it doesn't exist yet. The first is that it would require a significant cleanup before it could be enabled internally. It'd be nice to have as an option for Bazel, though.

The second is that it's expensive to enforce. A leaf target can have dozens of direct deps and thousands of

[2016-03-23 17:42] jart commented on #1071
It wouldn't be expensive if it's done incrementally.

For example, the way I implemented strict dependency checking for Closure Rules is I have each `closure_js_library` rule scan all its srcs for provided symbols, and then I write them to the implicit output file: *name*-provides.txt. Then any `closure_js_library` rule that depends on that rule, can quickly load that txt file containing the list

[2016-03-23 17:46] wolfgangmeyers commented on #1073
@thomaso-mirodin was this with a git_repository rule? I tried without success to get an rsa key to work with git_repository before finding in the docs that only http was supported - http://bazel.io/docs/be/workspace.html#git_repository

[2016-03-23 17:47] hhclam commented on #1071
By default Bazel generates an ijar target. If the ijar process also produces a list of symbols then it can save the javabuilder from doing scanning. Like @jart mentioned if a java target also produces an implicit output that lists symbols from all the transitive dependencies plus its own symbols then the computation can be done incrementally.

[2016-03-23 17:49] ahumesky commented on #1071
For java_library and java_binary, there is the java_compilation proto:
https://github.com/bazelbuild/bazel/blob/master/src/main/protobuf/java_compilation.proto
which JavaBuilder writes to a .jar_manifest_proto file next to the jar,
e.g.:
bazel-bin/src/main/java/com/google/devtools/build/lib/libcommon.jar_manifest_proto

That may have the information you want, it would need to be added to
java_impo

[2016-03-23 18:06] wolfgangmeyers opened #1075 "Build file from git_repository not found"
I've attached a zip file of a reproduction project with a readme that has the same content as below:

## Build file not found

Currently (as of 2b8ae5b58ae03a0e90a19cf966e0467e8c7dac59) there seems to be a problem with dependencies on projects that depend on external archives. Provided here is an example
project that can reproduce the problem.

### Summary

* Project A (this project) depends on pr

[2016-03-23 18:07] wolfgangmeyers commented on #1075
This resulted from investigation of https://github.com/bazelbuild/rules_closure/issues/9

[2016-03-23 18:13] kchodorow commented on #1075
This is kind of a duplicate of https://github.com/bazelbuild/bazel/issues/855.  Rules should generally be updated to use `build_file_content` instead of `build_file` as a workaround.

[2016-03-23 18:13] #1075 closed

[2016-03-23 18:17] cushon commented on #1071
Thanks, when I mentioned summaries I was also thinking about a summary of the transitive closure of each target. Processing one summary per direct dep is definitely better than scanning the transitive closure.

I'm not sure that the compilation proto buys us much, all that's needed is the list of class outputs for each target, so we could scan the sources like @jart describes or just list the entr

[2016-03-23 18:23] wolfgangmeyers opened #1076 "clean required after workaround to missing build file"
As a follow up to https://github.com/bazelbuild/bazel/issues/1075

In order to work around the problem, I can copy closure/library/closure_library.BUILD into my project. However this doesn't seem to take effect until `bazel clean` is run.

Steps to reproduce:
1. unzip the project code from https://github.com/bazelbuild/bazel/files/186571/missing_closure_library.zip
2. run `bazel build //:main`
3.

[2016-03-23 18:33] kchodorow commented on #1076
Good find, we're not invalidating the BUILD file symlink.

[2016-03-23 19:15] wolfgangmeyers commented on #810
+1

[2016-03-23 20:03] Dominator008 opened #1077 "Add GWT support: gwt_application, gwt_module and gwt_test rules"
Are these rules easy to open source? IIRC these gwt_module is essentially a wrapper around java_library.

[2016-03-23 20:44] #978 closed

[2016-03-23 21:07] thomaso-mirodin commented on #1073
Uhh, well we've been using ssh checkouts for a little while, so I think it might've snuck in without the documentation getting updated :S

[2016-03-23 21:09] wolfgangmeyers commented on #1073
Interesting. I found this today, which worked quite well for using git repositories over ssh - https://github.com/nelhage/bazel_git_repositories

[2016-03-23 21:12] nelhage opened #1078 "repository_ctx.download should create necessary directories"
Much like `repository_ctx.file` does. Right now I have a rule that does
[code]

But it doesn't work unless I reverse the order of the calls, because the second line implicitly creates the output directory, but the first doesn't, which seems unnecessarily confusing and fraught.

[2016-03-23 21:50] ahumesky commented on #392
It seem from the error "The first argument of load() is a path, not a label" that you're using an older version of bazel. Updating bazel might fix the issue.

[2016-03-23 22:20] johnynek commented on #860
to loop back around there were a few issues:

1. a .gitconfig that rewrote https to ssh auth
2. ssh is not supported see #810

this is a public repo so a work around without changing the .gitconfig is to use:
[code]
works around the rewrite issue.

[2016-03-23 23:55] kd8azz commented on #1049
Sorry for taking so long to reply.  My free time is a transient resource, and upgrading bazel was non-trivial, as several features had breaking changes.

To confirm, the test does work with "tags = ["local"]".

Unfortunately, I cannot get the namespace-sandbox command to come up.

[code]

[code]
Yields a large number of log lines of the form
[code]

[code]
Yields nothing.

Am I doing something wro

[2016-03-24 00:11] cnsgsz opened #1079 "default build/test options?"
is there some setting/config to enable c++14 for example? rather than doing the following:

[2016-03-24 00:30] dmaclach commented on #327
try adding --objc_generate_debug_symbols=true to your build options

[2016-03-24 00:44] Dominator008 commented on #907
@kchodorow I haven't tried it. Will `rules_closure` be merged to bazel itself?

[2016-03-24 00:47] davidzchen commented on #907
@Dominator008 We have moved the Skylark rule sets out of Bazel and into separate repositories. From now on the Closure rules will live in https://github.com/bazelbuild/rules_closure

[2016-03-24 00:51] Dominator008 commented on #907
@davidzchen Thanks. I just saw the deprecation notice.

[2016-03-24 01:02] forfish commented on #392
hello! ahumesky, My bazel is the latest for now !
information:
user01@user01-forfish:~$ bazel version
Build label: 0.2.0-homebrew
Build target: bazel-out/local_linux-fastbuild/bin/src/main/java/com/google/devtools/build/lib/bazel/BazelServer_deploy.jar
Build time: Fri Mar 18 03:03:04 2016 (1458270184)
Build timestamp: 1458270184
Build timestamp as int: 1458270184

[2016-03-24 02:14] Limdi commented on #1079
Bazel configuration file(bazelrc) could be usefull.

One of the first topics here:
http://bazel.io/docs/bazel-user-manual.html

Try to put `build --cxxopt "-std=c++14"` into a .bazelrc at the root of your workspace or somewhere else.

[2016-03-24 02:56] #1079 closed

[2016-03-24 08:24] philwo commented on #1049
@hermione521 Could you please check if we print the new error message including namespace-sandbox and the instructions on how to get a shell even when we use "bazel test --verbose_failures --sandbox_debug"?

[2016-03-24 08:39] damienmg commented on #1077
The internal rules are full of internal specific stuff and there is no short-term plan on writing GWT support. However, Skylark, Bazel extension mechanism, should make it pretty trivial to do, especially with aspects.

[2016-03-24 08:43] damienmg commented on #1075
I think we can replace build_file to use label now that the machinery is
there (we use it for repository_ctx.template)

On Wed, Mar 23, 2016 at 7:14 PM Kristina <notifications@github.com> wrote:

[2016-03-24 10:19] damienmg commented on #1078
/cc @meteorcloudy

[2016-03-24 10:36] 01ken opened #1080 "Building Bazel fails on Windows: package does not exist"
When I try to build bazel on Window7 machine, Building Bazel with Bazel fails as shown in the logs below.
Errors are "package ~ does not exist" and "cannot find symbol".

`$ ./compile.sh
INFO: You can skip this first step by providing a path to the bazel binary as second argument:
INFO:    ./compile.sh compile /path/to/bazel
🍃  Building Bazel from scratch......
🍃  Building Bazel with Bazel.
INFO:

[2016-03-24 10:40] damienmg commented on #1080
Can we have the error message in non japanese, or maybe @philwo can understand them?

[2016-03-24 10:42] damienmg commented on #1080
oops sorry saw there was the error message at the top. it looks like junit is not linked with sharding.
A small though: maybe we should deactivate workers build on windows for now?

Assigning to @dslomov for further assistance.

[2016-03-24 15:12] damienmg opened #1081 "Document best practices for Skylark remote repositories"
From code review (by @kchodorow):
Optional: have a section on best practices.  You mention that these rules are non-hermetic, but it might be good to go over:

1. They should require & verify checksums whenever possible.
2. What they cache/when the cache is invalidated/what the criteria is for them being re-run.
3. Anything else people should know?

[2016-03-24 17:10] tfarina opened #1082 "Document worker logs and reference them in error messages"
It does not seem to be documented at http://bazel.io/docs/output_directories.html, but it gets created into the workspace output directory like ~/.cache/bazel/_bazel_tfarina/6d70a61f5bd1a13d7afc1a908d972fe8/worker-logs/

[2016-03-24 17:13] damienmg commented on #1082
/cc @philwo

Overall the whole worker functionality needs to be documented.

[2016-03-24 17:18] girving opened #1083 "Bazel can't exclude directories"
According to https://groups.google.com/forum/#!topic/bazel-discuss/KBfaySoVEFs bazel has no way to exclude directories from the search for BUILD files.  In the case of TensorFlow, the instructions for setting up bazel for Python development call for creating a `_python_build` file at the top level with a bunch of symlinks to other directories: https://www.tensorflow.org/versions/r0.7/get_started/o

[2016-03-24 17:22] girving commented on #1083
Looks like protobuf has the same problem: once I remove `_python_build` I get

    bazel build ...
    INFO: Found 1066 targets...
    INFO: From Compiling google/protobuf/python/google/protobuf/internal/api_implementation.cc:
    google/protobuf/python/google/protobuf/internal/api_implementation.cc:31:10: fatal error: 'Python.h' file not found
    #include <Python.h>
             ^
    1 error ge

[2016-03-24 17:27] kchodorow commented on #1033
This is now committed (https://github.com/bazelbuild/bazel/commit/6f15335deac0c04cfae11623efbe745f11e177ff).  The options are:

* `Label("//foo")` refers to the Skylark file's repository.
* `Label("//foo", relative_to_caller_repository = True)` refers to the repository the BUILD file is that's using the Skylark rule.
* `Label("@//foo")` refers to the repository the build is happening from.

[2016-03-24 17:27] #1033 closed

[2016-03-24 17:28] kchodorow commented on #975
This should now be fixed, the related bugs are both fixed.

[2016-03-24 17:28] #975 closed

[2016-03-24 17:52] jart commented on #1033
Big :+1: to the way this turned out.

[2016-03-24 18:12] hhclam commented on #1083
See if this helps: https://github.com/bazelbuild/bazel/issues/829

2016-03-24 13:18 GMT-04:00 Geoffrey Irving <notifications@github.com>:

[2016-03-24 20:02] ekuefler commented on #906
This happened again after a month of quiet, no obvious changes that would lead to it.

Okay, crazy theory, maybe AUFS isn't involved. The hang is happening in our remote build system, where I invoke Bazel from a Java program. When I tried running the same query on the developer's local machine, I got a few errors. But my program isn't currently connecting to the error stream from the bazel process

[2016-03-24 20:35] #842 closed

[2016-03-24 20:35] #1043 closed

[2016-03-24 20:35] #1069 closed

[2016-03-24 20:35] #1078 closed

[2016-03-24 23:30] haxorz opened #1084 "SandboxModule#afterCommand swallows interrupts"
SandboxModule#afterCommand swallows interrupts and blocks. so if you get unlucky, bazel can hang after you interrupt it during e.g. a long-running sandboxed local test. example thread stack after i interrupted bazel:

"main" #1 prio=5 os_prio=0 tid=0x00007f9c08035000 nid=0x2810 waiting on condition [0x00007f9c10075000]
   java.lang.Thread.State: TIMED_WAITING (parking)
        at (C/C++) __pthread

[2016-03-25 00:04] davidzchen commented on #392
@forfish FYI I made a minor edit to your comment to format the WORKSPACE file contents you pasted as code so that it will be easier for us to look at.

[2016-03-25 00:05] davidzchen commented on #699
This is more of a matter of naming but would it be confusing to have workspace rules called `*_library` that appear to be regular build rules? Would it be better to name this rule `pypi_package` instead?

[2016-03-25 00:15] davidzchen commented on #1081
What about naming for workspace rules?

As mentioned in my comment in #699, should we discourage naming workspace rules `*_library` and `*_binary` to avoid confusion since those rules would have names similar to regular build rules?

For workspace rules that pull packages from various package managers (e.g. NPM, Bower, PyPI, Crates.io, DUB, etc.), I think it would be better to name those rules `*_

[2016-03-25 09:56] davidzchen opened #1086 "Disallow + operator for dicts in Skylark"
Currently, we define the `+` operator for concatenating dictionaries in Skylark. However, this is not valid in Python. This will be a problem when the Skylark docgen tool is available (see #712) since the tool will evaluate the Skylark code as Python.

Since Skylark is meant to be a subset of Python anyway, we should disallow `+` for dictionaries in Skylark and recommend an alternative.

[2016-03-25 14:41] girving commented on #1083
It doesn't seem to.  Both of these command still produce errors:

    (master) shimura:tensorflow% bazel build --deleted_packages=//_python_build ...
    ERROR: /Users/geoffreyi/tensorflow/_python_build/tensorflow/models/image/cifar10/BUILD:18:1: Target '//tensorflow/python:framework_test_lib' is not visible from target '//_python_build/tensorflow/models/image/cifar10:cifar10_input_test'. Check th

[2016-03-25 15:34] aj-michael opened #1087 "Missing docs pages / broken links"
I was reading through the Docs on http://bazel.io/docs/install.html and there are some broken links on the Skylark Rules section of the side menu.

These links return 404:

* Java AppEngine - http://bazel.io/docs/be/appengine.html
* C# - http://bazel.io/docs/be/dotnet.html
* D - http://bazel.io/docs/be/d.html
* Groovy - http://bazel.io/docs/be/groovy.html
* Go - http://bazel.io/docs/be/go.html
* S

[2016-03-25 16:10] kchodorow commented on #1087
Thanks for the report!  We recently moved all of these rules to their own repos (e.g., https://github.com/bazelbuild/rule_appengine), and I think we're still updating how their documentation is generated.

[2016-03-25 16:17] tfarina commented on #1056
Looks like Bazel 0.2.1-rc1 was made 4 days ago:
https://groups.google.com/d/msgid/bazel-discuss/265676298.299.1458593246235.JavaMail.jenkins%40jenkins-jenkins

[2016-03-25 16:56] shahms opened #1088 "bazel query //external:all and //external:* fails with exception"
Running the bazel query from the example on external repositories fails:

    $ bazel query 'kind(maven_jar, //external:*)'
    ..........
    java.lang.RuntimeException: Unrecoverable error while evaluating node 'TARGET_PATTERN://external:*' (requested by nodes )
            at com.google.devtools.build.skyframe.ParallelEvaluator$Evaluate.run(ParallelEvaluator.java:996)
            at com.google.

[2016-03-25 19:39] xiongchiamiov opened #1089 "Remove useless Open Graph tags (or make them better)"
These two [Open Graph](http://opengraphprotocol.org/) tags get added on every page of the documentation:

    <meta name="og:image" content="/images/bazel-og-image.png"/>
    <meta name="og:description" content="Correct, reproducible, fast builds for everyone"/>

These are supposed to be specific to the page; as it is, you just end up with the same generic embed every time you link to the docs in

[2016-03-25 19:43] hhclam commented on #1065
@jart Thanks for the ideas.

We are starting with a large legacy repository that we would like to migrate to use Bazel to build. Hence the situation of diamond dependency on maven jars (internally we have one single repo that contains all code similar to Google). You are right that the proposal is to keep using a script / tool to generate WORKSPACE and BUILD files, and teach the tool to generate s

[2016-03-25 20:07] jart commented on #1065
Why would you use `select()` expressions if multiple versions are being used? Why not just evict the old version? I think I commented on this in the design doc. I've never seen this strategy used at Google.

[2016-03-25 20:17] jart commented on #1065
Is there any chance you could make your particular use case more concrete? I'd like to understand better why it would need the select thing.

[2016-03-25 21:16] jart opened #1090 "Consistent runfile paths across repositories"
I've written a [shell script](https://github.com/bazelbuild/rules_closure/blob/8f690d8eabffaa806269d8bb31344d0a8d30a8bc/third_party/phantomjs/phantomjs.sh) for the Closure Rules that references runfiles specified in `data` as follows:

[code]

The problem is that, when my repository is included by another one, that line will fail unless it looks like the following:

[code]

What is the best strate

[2016-03-25 21:32] kchodorow commented on #1090
See https://github.com/bazelbuild/bazel/issues/848.

The main thing I'm working on now is fixing this, actually.  Basically we'll be moving all of the external repositories "down" a couple directories, so your runfiles tree will look like:

[code]

This way, regardless of whether the repo is local or remote, it will be in the same place WRT runfiles.

[2016-03-25 21:32] #1090 closed

[2016-03-25 22:06] kchodorow commented on #1088
Definitely shouldn't crash, thanks for the report.

[2016-03-25 22:10] #545 closed

[2016-03-25 22:35] trainman419 commented on #642
+1. I ran into this today and was not able to find any documentation about which licenses are available or what the license() command does.

[2016-03-25 23:39] hhclam commented on #1065
What does it mean by evict? Do you mean to eliminate the older version completely in all usage?

The concrete case is that some part of the company wants to use a newer version of guava say 19. And some part of the company is not yet ready to upgrade or is slower to change their code, say they still depend on version 18. Now we end up with two products (java_binary), one wants guava 19 and one wan

[2016-03-26 00:30] bashbeik commented on #754
Yes would be great to use with an IDE

[2016-03-26 00:54] jart commented on #1065
By evict, what I mean is if B depends on D-2.0.1 and C depends on D-2.0.2, then you get rid of D-2.0.1 and make both B and C depend on D-2.0.2.

Bazel already supports the use case you're describing. We already do this at Google. The solution we use it to simply have a different build rule for each version, then rewrite the package names so they don't conflict.

To give you an example, Objectify i

[2016-03-26 01:04] jart commented on #1065
Also consider that if we had used the select solution for objectify, it would have resulted in the corruption of data. If my understanding of the select() design is correct, it would have caused applications that were written with objectify v3 in mind, to suddenly start using v4. Then serialized objects would get written incorrectly, while some others would remain. Then you end up with a patchwork

[2016-03-26 01:17] jart commented on #1090
This is great news @kchodorow. Any estimate on when this will make it into HEAD?

[2016-03-26 04:39] dburnette commented on #12
As a former Googler (Eclipse/C++ user), I find it extremely painful using Bazel with a lack of Eclipse support :(. Even if the internal source control stuff can't/shouldn't be open sourced, dependency graph info and incremental build tools would be greatly appreciated!

[2016-03-27 05:32] hhclam commented on #1083
I'm using Bazel release 0.2 and --deleted_packages seems to work fine for
me.

$ mkdir test

$ cd test

$ touch WORKSAPCE BUILD

$ mkdir broken

$ echo "what" > broken/BUILD

$ bazel build ...

ERROR: /Users/alpha/Projects/test/broken/BUILD:1:1: name 'what' is not
defined.

ERROR: package contains errors: broken.

ERROR: no such package 'broken': Package 'broken' contains errors.

INFO: Elapsed ti

[2016-03-27 22:25] davidzchen commented on #754
+cc @dslomov

[2016-03-27 22:30] davidzchen commented on #642
Here is the documentation on `licenses`: http://bazel.io/docs/be/functions.html#licenses. I agree that the documentation should be fleshed out a bit more since it doesn't really mention which license-type strings are available.

[2016-03-28 07:28] ekuefler commented on #1077
I've written some GWT rules for my project that I could probably clean up and open-source if there's interest.

[2016-03-28 08:04] Dominator008 commented on #1077
@ekuefler That would be awesome. It will help if we have a `rules_gwt` repository containing the Skylark rules, like https://github.com/bazelbuild/rules_closure.

At the minumum they can be pretty simple, like this `gwt_module` definition for Buck: https://github.com/davido/bucklets/blob/master/gwt_module.bucklet.

[2016-03-28 13:38] kchodorow commented on #642
I added some documentation here: https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/packages/PackageFactory.java#L722-L741, which I incorrectly thought would be included in the generated docs.  We should move it somewhere else so it will show up in the documentation.

[2016-03-28 14:12] kchodorow opened #1091 "Deleting Java is throwing an exception on Windows"
See http://ci.bazel.io/job/Bazel/JAVA_VERSION=1.7,PLATFORM_NAME=windows-x86_64/414/console:

[code]

[2016-03-28 14:14] kchodorow commented on #1090
I'm working on it, but it's a huge change.  I'm guessing a couple of weeks.

[2016-03-28 15:06] gruberjuliannama commented on #642
bit inconsistent to  the documentation. it will show up in the documentation.?

[2016-03-28 18:20] jart opened #1092 "Better error message when implicit output overlaps with file"
A tester in https://github.com/bazelbuild/rules_closure/issues/24#issuecomment-201979549 got confused by a cyclic dependency error when there wasn't any visible cycle. The problem was that the implicit output target of a Skylark rule (hello.js) was the same as a file that already existed in the folder (hello.js).

It would have been nice if Bazel raised an error that the implicit output file alrea

[2016-03-28 18:59] hhclam commented on #1065
I think this approach works in some cases and not in cases when refactor / recompile is needed.

It is great to have a corporate policy to have one version for each third party dependency and a strict process for ingestion. Google can mostly afford to implement this policy in such a large scale. I'm afraid that this doesn't work well in our organization. We are a medium size company with ~500 engi

[2016-03-28 21:46] dfabulich opened #1093 "Bazel doesn't run any tests when your target is named test"
Consider this repository

https://github.com/dfabulich/target-named-test

There are two identical `java_test` targets here, one named `test` and one named `should_fail`.

[code]

`bazel test //:should_fail` correctly fails, but `bazel test //:test` runs no tests, and incorrectly passes.

[2016-03-28 21:48] dfabulich commented on #1093
I _also_ hit issue #354 and issue #393 on the way to reproducing this bug. Combined, these bugs made it extremely difficult to diagnose my actual problem. :-(

[2016-03-28 22:12] wolfgangmeyers commented on #12
Sounds like an eclipse plugin might be a better general solution.

[2016-03-28 22:27] jart commented on #1065
I understand that you're not Google and that you have a large legacy codebase. What I don't understand is engineering strategy that necessitate your use case. This makes it difficult for me to evaluate whether or not the feature you're proposing to merge into Bazel is going to be helpful to other users. We want to make the best recommendations possible.

For example, will your migrated codebase be

[2016-03-28 22:46] jiapei100 opened #1094 "How to install bazel from source after compling?"
Hi, all:

I successfully compile bazel-git, but how can I deploy bazel manually?
I'm NOT running an installer as described here http://bazel.io/docs/install.html
I would like to install bazel all manually? It looks there is NO such a manual?

Cheers
Pei

[2016-03-28 23:12] rohitsaboo commented on #12
As yet another ex-Googler on this thread, would love to see the Eclipse integration part open-sourced :) Also, if you have an idea how long this would take, it would be helpful to know.

[2016-03-29 00:16] eaftan commented on #1071
We totally agree this is a huge problem and are working on it internally.  See internal bug b/21271423.

One issue with extracting symbols directly from the source is that we need to allow cases where there are multiple *identical* copies of a class file on the classpath.  This happens legitimately when you have a target that globs *.java as well as another target that compiles a subset of the sou

[2016-03-29 00:57] glinscott opened #1095 "Setting default_grte_top to a non-label gives unhelpful error message"
In the crosstool, set `default_grte_top: "sysroot"`, and then build.  You will get the following error with no context `ERROR: Not a label.`, coming from `LibcTopConverter`.

It would be great to have more context for this error (Ex: `default_grte_top` is set to invalid value `sysroot`.  It must be a label)

[2016-03-29 00:57] petewarden commented on #1014
I'm trying to implement a function using this now, and I'm running into the problem that I don't know how to check for the existence of bazel_version in native. I want to do something like this:

[code]

But that fails. Without this, there's no way to tell if we're on an older version of Bazel and fail gracefully, which reduces its usefulness considerably. @damienmg do you have any suggestions abo

[2016-03-29 01:13] petewarden commented on #1014
Nevermind, Vijay beat me to it! The answer for reference is to do a `if 'bazel_version' in dir(native)` instead.

[2016-03-29 04:31] hhclam commented on #1065
I think the mapping of codebase to build files is quite orthogonal to the discussion regarding external dependencies.

We do plan to have a hybrid build approach, with minimal effort from the users / developers to switch over. The plan is to migrate the codebases one by one, replacing some external dependencies with maven_jar when it makes sense, resolving conflicts with select. We're hoping the m

[2016-03-29 09:16] ulfjack commented on #1074
I had a look at BarbaryWatchService, and it's probably not a good fit for us as-is. It contains a (complete?) copy of the watch service API, which we don't need as we can rely on Java 7 (no need to be backwards compatible with 6). It's also using JNA; we're already using normal JNI, and JNA itself also uses JNI (libffi, IIUC), so unless we actually converted some of our current JNI to JNA (which i

[2016-03-29 13:03] kchodorow commented on #1094
You copy the bazel binary to somewhere on your path (e.g., `cp bazel-bin/src/bazel /usr/bin`).

[2016-03-29 18:45] kchodorow commented on #642
Eventually... it needs to be moved to a different file.

[2016-03-29 22:46] trainman419 commented on #642
The existing documentation describes **what**, but not **why**.

From some digging, it appears that `licenses` somehow interacts with the `--check_licenses` command-line flag. Is there any documentation describing this flag? It would be good if the documentation for `licenses` linked to that documentation.

[2016-03-29 23:15] fechanti opened #1096 "progress is not shown for exclusive tests"
If a test is tagged as exclusive, then no progress are shown when the test is run, regardless of the value of --progress_report_interval

Impact:
We rely on bazel output to detect if a test is stuck or if it's making progress. This is becoming a significant issue for us as some tests are running for a long time (10 minutes) and bazel is printing no progress for them, making the continuous integrat

[2016-03-30 02:01] jiapei100 commented on #1094
Yup... You are right... Just copy and paste the executable "bazel" ... Thank you ....

[2016-03-30 02:01] #1094 closed

[2016-03-30 04:40] endobson opened #1097 "print doesn't work in outputs function"
I'm trying to debug a function that is computing the outputs for a rule. Putting a print in the implementation works, but does not work in the outputs.

My outputs function, the "here" never gets printed.

[code]

[2016-03-30 04:51] endobson opened #1098 "ctx.attr is poorly documented"
I'm trying to implement a function to compute the outputs of my rule. As input this gets `ctx.attr` but the format is poorly documented.

http://bazel.io/docs/skylark/lib/ctx.html#attr

In particular it seems that `_`prefixed attributes are converted to `$` prefixed names.

[2016-03-30 06:28] AustinSchuh commented on #1053
@bsilver8192
We've got compilers and crosstool files for the NI roboRIO used for FRC and the Jetson (running armhf debian jessie) which we can give you.

[2016-03-30 06:38] bsilver8192 commented on #1053
Indeed. I would be happy to get those included.

I'm using the Linaro arm-linux-gnueabihf toolchain set up to work on any Debian armhf system (which should handle Tegra boards, the BeagleBone Black, and newer Raspberry Pis).

They are also setup to nicely download the relevant compilers (for amd64 Debian Jessie at least). I think it makes a lot of sense to distribute compilers which do that, so an

[2016-03-30 07:46] damienmg commented on #1074
This sounds like a good project for the next person to join the team :)

[2016-03-30 08:51] hanwen opened #1099 "faq mentions //tools"
"Why do I need to have a tools/ directory in my package path?" - this is outdated, right?

[2016-03-30 09:24] damienmg commented on #1081
I think what you said make sense, sgtm

[2016-03-30 09:42] damienmg commented on #1053
For storage, as long as the licensing is ok, we can store the binary files on the bazel GCS bucket. We still needs to figure out how we going to ship the repositories themselves but I guess a repository like tools_cc_roborio or something like that would be acceptable.

[2016-03-30 10:16] hanwen commented on #53
here is a script that generates a library XML for external dependencies https://gist.github.com/hanwen/2df3b3f0964ee00f9062f4f1c112d4a9

[2016-03-30 11:59] meteorcloudy opened #1100 "bazel run command fails on Windows : process-wrapper not found in embedded tools"
When I tried to run an example cc_binary target with bazel run command, it failed like this:

[code]

But directly run `C:/tools/msys64/var/tmp/_bazel_pcloudy/0179298ce5ca273cde050e2854e34ba5/bazel/bazel-out/local_windows_msys64-fastbuild/bin/examples/cpp/hello-world.exe` succeed.

[2016-03-30 15:32] damienmg commented on #1056
Canary is good but jenkins is red at HEAD due to infrastructure problem, delaying the release.

[2016-03-30 15:49] damienmg opened #1101 "Windows jobs on CI fails"
Opening that bug to track @lberki progress on fixing it.

This is blocking #1056

[2016-03-30 15:51] damienmg opened #1102 "File systems tests all fails on the mac machine"
This is blocking #1056

Apparently an auto-update totally broke the machine a temporary hack solve the connection problem but now the test suite have several failures on the file system.

Creating this bug to track the issue.

[2016-03-30 15:58] shahms commented on #1081
I've written some rules for finding system libraries with pkg-config for Kythe.  At the moment, the tentative name is `pkg_config_module` but I'm not wedded to that.  `pkg_config_package` seemed a bit redundant, but reasonable.  I've also got some rules for mapping a local library using an environment variable, but have struggled to come up with a better name than `local_cc_library` .

[2016-03-30 15:59] damienmg commented on #1081
I think `*_package` for packaging rule and `*_config{ure}` for configuration rule is correct.

[2016-03-30 16:02] damienmg commented on #1102
Fresh update on my laptop with the same JDK and OSX version does not reproduce the error. Will retry tomorrow on the actual machine to debug.

[2016-03-30 16:44] aehlig commented on #1083
`--deleted_packages` might ignore packages names starting with `_`

[2016-03-30 19:59] mzhaom opened #1103 "BUILD_TIMESTAMP inside volatile-status.txt remains unchanged unless bazel shutdown runs"
Not sure whether it's by design.
But our binary puts BUILD_TIMESTAMP inside final binary, so it would nice to reflect the actual time the binary is linked.

[2016-03-30 21:20] davidzchen commented on #1098
De-duping with #945 since it is the same problem.

We would have to make some changes to how the documentation for the Skylark Library is generated.

[2016-03-30 21:20] #1098 closed

[2016-03-30 22:30] damienmg opened #1104 "Exception when generating gen_class"
[code]

/cc @dslomov @ahumesky

I can share the aspect implementation if you want but I believe it has nothing to do with it. it's a rewrite of the intellij_info.bzl to be simpler and output in json instead of proto.

[2016-03-30 23:37] kchodorow opened #1105 "Improve maven_jar 404 error message"
See http://stackoverflow.com/questions/36245923/failed-to-fetch-maven-dependency-javadoc-with-bazel.

Right now, we're stringifying the error message provided by aether, which isn't a very good explanation (https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/bazel/repository/MavenJarFunction.java#L220-L221).

[2016-03-31 00:03] sparkprime opened #1106 "Could not install on google ubuntu laptop"
[code]

I have java7-jdk via openjdk-7-jdk

[2016-03-31 00:05] sparkprime commented on #1106
@davidzchen

[2016-03-31 00:49] davidzchen commented on #1106
+cc @damienmg, @janakdr

[2016-03-31 02:46] ahumesky commented on #1104
The javadoc for extractGeneratedClasses() says:
Unzip all the class files that correspond to annotation processor-
generated sources into the temporary directory.

maybe that temp directory isn't getting cleared or something? (bazel-out/local_darwin-fastbuild/bin/src/main/java/com/google/devtools/build/lib/_javac/syntax/libsyntax-gen_temp)

[2016-03-31 07:20] #1099 closed

[2016-03-31 07:50] damienmg commented on #1106
Can you try with 0.2.1rc1? Available at https://storage.googleapis.com/bazel/0.2.1/rc1/index.html

[2016-03-31 08:27] damienmg commented on #1102
Problems seems to be that the service was running as root due to a bad install. reinstalled the service and now it is running under the correct user.

Waiting for #1101 mitigation to validate the fix.

[2016-03-31 08:44] lberki commented on #1101
Seems to be a borked msys2 installation. I wonder how that's possible given that the machine has been installed anew. I'll add `pacman -Syyu --noconfirm` to the instance init script and see what happens.

[2016-03-31 08:49] lberki commented on #1101
Well, that didn't work.

[2016-03-31 09:13] lberki commented on #1101
`pacman -S isl` fixed the immediate problem. Next one is a mysterious stack trace in the proto compiler, but I sort of hope that this is some sort of transient because Jenkins decided to start a build while I was reimaging the slave.

[2016-03-31 09:20] lberki commented on #1101
It's not a transient. Error message is:

[code]

Sigh.

[2016-03-31 09:21] damienmg commented on #1102
I also needed to delete the workspace because it was full of root owned files.

[2016-03-31 09:34] lberki commented on #1101
Turns out, `protoc-mingw.exe` dumps core when invoked even without arguments. Maybe something changed in msys2 that made these binaries incompatible?

[2016-03-31 09:48] lberki commented on #1101
Copying `protoc-windows-x86_64.exe` over as `protoc-mingw.exe` seems to work. @dslomov says that that other binary exists because it works for paths longer than 1024 characters, but I'd rather live with that limitation if it means one less binary in third_party (and that without reproduction instructions...)

[2016-03-31 09:48] damienmg commented on #1102
Latest build is blue on Darwin so closing.

[2016-03-31 09:48] #1102 closed

[2016-03-31 11:47] mqy opened #1107 "Type ctx has no function execute(list)"
With 0.2.0 and 0.2.1-rc1, on both Darwin and Linux, the following .bzl fails with error "Type ctx has no function execute(list)". Anybody help?

_def _impl(ctx):
        result = ctx.execute(["/bin/echo", "something"])
        print(result.stdout)

exec = rule(
        implementation=_impl,
)

[2016-03-31 11:49] damienmg commented on #1107
execute is not a `ctx` function but a `repository_ctx` function. Also not present in 0.2.0.

[2016-03-31 12:01] lberki commented on #1101
This is broken again:

http://ci.bazel.io/job/Bazel/JAVA_VERSION=1.7,PLATFORM_NAME=windows-x86_64/424/console

My guess is that it's 585c87b0fce06a452976ce0d0a3091b28ed01dbd .

[2016-03-31 12:03] jfarrell opened #1108 "pkg_rpm support"
As of version 0.2.0 there is no rpm support to create packages or use within other commands like docker_build.

[2016-03-31 12:05] #1107 closed

[2016-03-31 12:09] damienmg commented on #50
Both RHEL and RedHat should build fine from HEAD starting now

[2016-03-31 12:09] #50 closed

[2016-03-31 12:09] damienmg commented on #531
It has been rolled-out

[2016-03-31 12:09] #531 closed

[2016-03-31 12:09] #583 closed

[2016-03-31 12:09] #585 closed

[2016-03-31 12:10] damienmg commented on #629
It has been rolled-out at HEAD now, closing...

[2016-03-31 12:10] #629 closed

[2016-03-31 12:11] damienmg commented on #615
The mechanism is deactivated by default on FreeBSD but I think it shouldn't be too hard to activate it. I just cannot test it. @aehlig might (or might not) work on it.

[2016-03-31 12:11] damienmg commented on #760
Sorry I hadn't time to look back at it, but I will.

[2016-03-31 12:12] damienmg commented on #898
The problem is no longer on Bazel side, the TensorFlow build can be adapted to work with 0.2.1. Closing this issue.

[2016-03-31 12:12] #898 closed

[2016-03-31 13:23] damienmg commented on #1101
fix sent for review

[2016-03-31 13:31] damienmg commented on #731
Closing as unreproducible

[2016-03-31 13:31] #731 closed

[2016-03-31 14:05] #248 closed

[2016-03-31 14:05] #1101 closed

[2016-03-31 15:15] damienmg commented on #1056
Canary is good, Jenkins failures are because of incompatibilities from the rules or for tensorflow with developement binaries of Bazel, let push \o/

[2016-03-31 18:30] hhclam opened #1109 "ctx.runfiles.symlinks returns a set of not allowed Skylark values"
https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/analysis/Runfiles.java#L317
  @SkylarkCallable(name = "symlinks", doc = "Returns the set of symlinks", structField = true)
  public NestedSet<SymlinkEntry> getSymlinks() {
    return symlinks;
  }

In the above file ctx.runfiles().symlinks returns a set of SymlinkEntry but it is not an allowed Skylark value

[2016-03-31 20:32] tfarina opened #1110 "external directory is not documented"
Alongside "action_cache", "action_outs" there seems to be an "external" directory as well.

It contains a bazel_tools symbolic link and a local_jdk directory.

This is not mentioned at http://bazel.io/docs/output_directories.html though.

[2016-03-31 20:33] #855 closed

[2016-03-31 20:33] #999 closed

[2016-03-31 20:39] tfarina commented on #1100
@meteorcloudy could you make sure you have process-wrapper in the "install" equivalent directory for Windows?

For example, mine, on Linux is located at:
~/.cache/bazel/_bazel_tfarina/install/04eeb18597e2e9843fc4c6fe846b026d/_embedded_binaries/process-wrapper

Maybe it should be there in C:/tools/msys64/var/tmp/_bazel_pcloudy/install/sha1/_embedded_binaries/, but for some reason it wasn't extracte

[2016-04-01 04:34] perezd opened #1111 "http://bazel.io/docs/be/sass.html is 404ing"
Can we fix?

[2016-04-01 06:00] davidzchen commented on #1111
I'm working on a fix for this.

De-duping with #1087.

[2016-04-01 06:00] #1111 closed

[2016-04-01 08:59] damienmg opened #1112 "//src/test/java/com/google/devtools/build/lib:analysis_test is time out flaky"
From http://ci.bazel.io/job/Bazel/JAVA_VERSION=1.7,PLATFORM_NAME=ubuntu_15.10-x86_64/lastCompletedBuild/consoleFull

//src/test/java/com/google/devtools/build/lib:analysis_test       TIMEOUT in 301.2s

  /home/ci/.cache/bazel/_bazel_ci/d077f99d353e7dd07fec934cdfe31dbb/ubuntu_15.10-x86_64/bazel-out/local-fastbuild/testlogs/src/test/java/com/google/devtools/build/lib/analysis_test/test.log

[2016-04-01 11:10] damienmg commented on #760
Ok @hhclam found the issue, `-Wl,rpath,...` should be `-Wl,-rpath,...`. Tell me if that works? In which case I guess only adding the necessary -B flag should be needed to support your cluster from Bazel head :)

[2016-04-01 11:35] rdipietro commented on #760
Funny timing... my cluster account expired this morning for some unknown
reason (and with no notification). I think I'll be able to get back on at
some point, but am not sure exactly of when. Once this happens I'll try
this fix.

On Fri, Apr 1, 2016 at 1:10 PM, Damien Martin-Guillerez <
notifications@github.com> wrote:

[2016-04-01 11:41] damienmg commented on #760
(btw now cc_configure is loaded by default so no longer need to modify the WORKSPACE file)

[2016-04-01 12:21] #1112 closed

[2016-04-01 13:32] hhclam commented on #760
The new cc_configure is awsome. I'm now able to build Bazel with a crosstool chain like this:

LD_LIBRARY_PATH="/some/crosstool/lib:/some/more/lib" CPLUS_INCLUDE_PATH="/some/include/path" CC="/some/crosstool/bin/some-gcc" ./compile.sh

Much simpler than having to muck with CROSSTOOL.

[2016-04-01 16:50] chenkan1994 opened #1113 "docker_build does not support docker 1.10"
Hi all:

I am using bazel to build docker images with following code:

[code]

and it build successfully, but when I run
[code]

it prints:
[code]

Is there anybody knows why?

Thanks a lot!

[2016-04-01 16:52] damienmg commented on #1113
docker version?

[2016-04-01 16:52] damienmg commented on #1113
(it's failed on docker tag)

[2016-04-01 16:52] chenkan1994 commented on #1113
[code]

[2016-04-01 16:53] damienmg commented on #1113
1.10 is not supported :( I am actually surprised it did not failed earlier

[2016-04-01 16:54] chenkan1994 commented on #1113
ok.. then what's the latest version that is under support?

[2016-04-01 16:54] damienmg commented on #1113
1.9

[2016-04-01 16:55] chenkan1994 commented on #1113
Got it, thanks!

[2016-04-01 16:55] damienmg commented on #1113
(it's a bit complex but supported 1.10 requires some effort and I need to free some time to work on it.

[2016-04-01 17:17] damienmg commented on #1040
@meteorcloudy it is now blocking one build, can you take it?

[2016-04-01 17:20] meteorcloudy commented on #1040
No problem, would love to!

[2016-04-04 14:09] kchodorow commented on #1110
Hopefully this will actually be changing a bit soon, but leaving this open since it should be documented regardless.

[2016-04-04 14:10] #1087 closed

[2016-04-04 14:52] kchodorow opened #1114 "Sandbox debug gives error: "Inappropriate ioctl for device""
I'm trying to debug the [C# rules](https://github.com/bazelbuild/rules_dotnet), so I ran:

[code]

I copy-pasted the command, and got:

[code]

[2016-04-04 15:09] kchodorow commented on #1114
One thing I didn't realize when I filed this: it actually does successfully start the shell-in-a-sandbox, it just gives this error first.

[2016-04-04 16:50] stephenchu opened #1115 "rdeps ranks do not represent number of hops"
This may or may not be a bug, perhaps just missing proper documentation, but here is a simple observation where I think the issue lies.

Having a simple package structure of:
[code]

and having a DAG of "3 depends on 2 depends on 1":

[code]
[code]
[code]

When I run `bagel query rdeps(//..., //1:file) --output=maxrank` to find out what depends on 1 and show corresponding number of hops to get the

[2016-04-04 17:04] schroederc opened #1116 "external/local_jdk/bin/java: No such file or directory"
Commit 3f29d422 seems to break one of Kythe's custom Skylark rules.  The rule tries to run a Bazel-built Java executable but cannot find the `java` binary in its runfiles.  The error looks similiar to the snippet below.

Skylark rule impl: https://github.com/google/kythe/blob/1a8f55a12d6/tools/build_rules/kythe.bzl#L59
Test target: https://github.com/google/kythe/blob/1a8f55a12d6/kythe/javatests/c

[2016-04-04 18:06] pmbethe09 opened #1117 "Is there a way a new_git_repository BUILD can reference local skylark"
suppose you are pulling in a github repo R but want to use a locally written skylark rule in the build file.
See the example below -- the idea is, you are pulling in sources from the remote R repo, but you have a local .bzl rule that is very useful and you want to use it in the BUILD.remote file.
The current version results in an error
ERROR: /home/user/proj/WORKSPACE:20:1: error loading package '

[2016-04-04 18:12] shahms commented on #1117
You need to use a fully-qualified label in the `load()` statement:

load("@//util:useful.bzl", "useful")

[2016-04-04 18:30] pmbethe09 commented on #1117
Ah, the '@' symbol is what I couldn't figure out.  Thanks!

[2016-04-04 18:30] #1117 closed

[2016-04-04 18:44] kchodorow commented on #1115
I think this is WAI.  See http://bazel.io/docs/query.html#output-ranked, in particular: '"Root" nodes (those which have no incoming edges) are of rank 0, their successors are of rank 1, etc.'  //3:file is a root node, since no one depends on it.  0, 1, and 2 are indicating hops from the root node, not from your query node.

`--output=maxrank` picks the longest possible path through the tree.  Ther

[2016-04-04 20:23] stephenchu commented on #1115
Yea. It makes sense now. Given the same graph, the rank numbers don't change regardless of whether the graph comes from `deps(...)` or `rdeps(//..., ...)`, according to your definition of root nodes. Thank you for your explanation.

[2016-04-04 20:38] kchodorow commented on #1115
You're welcome!

[2016-04-04 20:38] #1115 closed

[2016-04-04 21:02] kchodorow commented on #1116
I'm not sure how this worked before, as it looks like it needs java as a runfile but kythe.bzl only declares javac and jar as attributes.  I'm working on reproducing.

[2016-04-04 21:05] schroederc commented on #1116
I believe the runfiles for the executable should contain the java binary and the runfiles should be included in the `tool_inputs` from the `resolve_command` method.

[2016-04-04 21:09] damienmg commented on #1116
The problem is the path in the runfiles. Are you switching between Bazel
version? I reproduced the bug by testing with bazel 0.2.1 then testing
again with bazel @HEAD

Doing a `bazel clean` remove that error. Howevevr now a I get a
java.lang.NoSuchFieldError:
RELEASE_9

On Mon, Apr 4, 2016 at 11:06 PM Cody Schroeder <notifications@github.com>
wrote:

[2016-04-04 22:59] schroederc commented on #1116
The last good version that I was using is `0.2.0-2016-03-30 (@787abf9)`.  After updating to HEAD, I found this breakage.

I can confirm that after doing a `bazel clean`, the `RELEASE_9` error starts.  Has there been a change to the bundled javac_tools.jar recently?

[2016-04-04 23:07] schroederc commented on #1116
Ah, looks like the `-Xbootclasspath/p:$$JAVA_RUNFILES/external/bazel_tools/third_party/java/jdk/langtools/javac.jar` argument now has the wrong path.  It's missing the `io_kythe` component before `external/bazel_tools`.

Should that be part of the `$JAVA_RUNFILES` variable?

[2016-04-05 00:06] bsilver8192 commented on #1088
Looks related to my massive "use labels in the main repository than the default one" change. However, I can't reproduce it with current master (e25642a2bcb68d553fe56b0c3d6262544b15a870). Have you tried that? If it still crashes, can you also try `bazel query 'kind(maven_jar, @//external:*)'`?

[2016-04-05 08:17] chenkan1994 commented on #1113
Hey! @damienmg

Is there any plan for fixing this problem? As my projects are now greatly depending on it...
So please update me if there is any progress, ok?

Thanks!

[2016-04-05 08:19] hermione521 commented on #1114
Yes, it sometimes happens. I have no clue. But since it works well, you can just ignore it for now. I'll take a look later.

[2016-04-05 08:23] damienmg commented on #1113
Unfortunately we have no fix plan. I do hope to do it by the end of the quarter but it requires diving into the new image format they introduced with 1.10

[2016-04-05 08:29] chenkan1994 commented on #1113
Got it. Seems can only try other methods, thank you any way!

[2016-04-05 08:39] damienmg commented on #1116
I don't see the Xbootclasspath in the command line and I can't find it in the source code.

[2016-04-05 08:47] damienmg commented on #1116
Oops missing the end: Where do you find it?

[2016-04-05 11:01] ulfjack opened #1118 "Support coverage"
We've gotten a number of requests to support coverage. Here's an email I wrote in response to one of those requests, which I'm reposting here as a feature request:

Ideally, we'd want blaze coverage to exist and work in Bazel, just as it does in Blaze. The code is mostly there, but not quite. The coverage command itself doesn't actually do a lot of work; it sets --collect_code_coverage and a defau

[2016-04-05 11:02] ulfjack commented on #1118
From the lcov docs, I'd have gone for lcov -a, not lcov --capture.

[2016-04-05 14:10] bsilver8192 commented on #1114
FWIW, I think the issue is the bash in the sandbox doesn't have a controlling terminal. I don't know why that is, but that's what the error seems to mean.

[2016-04-05 14:16] #1040 closed

[2016-04-05 14:16] #963 closed

[2016-04-05 14:58] kchodorow commented on #1097
That seems like an oversight.

[2016-04-05 15:23] kchodorow commented on #1093
Interestingly, the behavior in C++ is different (tests named "test" always fail without running), but also incorrect.  Weird.

[2016-04-05 15:40] schroederc commented on #1116
It's part of the `jvm_flags` of the Java executable: https://github.com/google/kythe/blob/master/kythe/java/com/google/devtools/kythe/extractors/java/standalone/BUILD#L17

[2016-04-05 15:45] shahms commented on #1088
This appears to be fixed in 0.2.1:

    $ bazel info release
    release 0.2.1-2016-03-31 (@950c1ab)
    $ bazel query 'kind(maven_jar, @//external:*)'
    //external:maven_guava
    $ bazel query 'kind(maven_jar, @//external:all)'
    //external:maven_guava
    $ bazel query 'kind(maven_jar, //external:all)'
    //external:maven_guava
    $ bazel query 'kind(maven_jar, //external:*)'
    //extern

[2016-04-05 19:55] zergtmn commented on #125
Is this somewhere on the roadmap? I want to use Bazel for a cross-platform project I'm working on but the lack of OS X rules is really a show-stopper.

[2016-04-05 20:08] damienmg commented on #125
I have no idea how far the people who work on that are. Maybe @dmaclach or @aragos knows.

[2016-04-05 20:24] shahms commented on #1116
It also fails if I change it to use "$(location //third_party/java/jdk/langtools:javac_jar)" rather than the hard-coded path as location fails to include the repository name prefix.

[2016-04-05 20:35] damienmg commented on #1116
oh I see, no the workspace name should not be part of the JAVA_RUNFILES
environment variable (think on how it works in google) so indeed that is
the problem. Adding the path should work with head.

We need to think of a way to fix that correctly (so it works with bazel
@HEAD and bazel @0.2.1) unless you don't care about supporting latest
release.

On Tue, Apr 5, 2016 at 5:40 PM Cody Schroeder <not

[2016-04-05 20:49] shahms commented on #1116
I wasn't necessarily advocating for it to be part of $JAVA_RUNFILES, but it would be nice to be able to easily form workspace/repository name agnostic paths to targets that worked reliably.  I'd say it works 95% of the time now, which is occasionally frustrating.

Ideally, we'd be able to support both @HEAD and the latest release, but as that doesn't seem feasible for the near future I would like

[2016-04-05 21:06] damienmg commented on #1116
I understand. Well the location way should work since a long time so for this case we should not have any problem. The correct way should be `$(location @bazel_tools//third_party/java/jdk/langtools:javac_jar)`. Tell me if that fix.

On ci.bazel.io we test for Bazel HEAD and latest release (but not earlier release, when we reach 1.0, we might start doing more). However that's another discussion, we

[2016-04-05 21:20] damienmg commented on #1116
what about `$(location
@bazel_tools//third_party/java/jdk/langtools:javac_jar)`?

On Tue, Apr 5, 2016 at 10:31 PM Shahms King <notifications@github.com>
wrote:

[2016-04-05 21:22] shahms commented on #1116
That, too, requires including the main workspace name before the path and after JAVA_RUNFILES and that only fixes the issue for the one script.

Given how many scripts we have which assume either an empty workspace or that the workspace name is omitted from the path, the only viable fix for now is to simply remove the name :-(

As a separate issue, we need to clean up how we're referencing the `ja

[2016-04-05 21:29] damienmg commented on #1116
`$(location @bazel_tools//third_party/java/jdk/langtools:javac_jar)` should definitely contains the workspace name, if not then it's a bazel bug.

We should also provide a way to build the runfiles path correctly I agree.

[2016-04-05 21:54] stephenchu opened #1121 "Inconsistent query help valid values for --output between long help and error message"
Error message:

[code]

Long:

[code]

Difference: `record` vs `build`

Bazel version:

[code]

[2016-04-05 22:01] kchodorow commented on #1121
Based on https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/query2/output/OutputFormatter.java#L63-L75, looks like it actually takes both.

[2016-04-05 22:04] andrewharp commented on #935
Hi, what was the workaround for this? I'm having the exact same issue, have openjdk 1.8.0 installed, but the installer wants to use 1.7.0_95, despite my having set JAVA_HOME otherwise.

[2016-04-05 22:09] kchodorow commented on #935
You can export the variable and then use `sudo -E`, see http://stackoverflow.com/a/8633575 for an example (and some other options).

[2016-04-05 22:12] andrewharp commented on #935
That did the trick, thanks!

[2016-04-05 22:58] shahms commented on #1116
I just double checked and it does not contain the correct path, e.g.
$ bazel info release
release 0.2.1-2016-03-31 (@950c1ab)

WORKSPACE: `workspace(name="io_kythe")`
kythe/java/com/google/devtools/kythe/extractors/java/standalone/BUILD:

    ....
    jvm_flags = [
        "-Xbootclasspath/p:$$JAVA_RUNFILES/$(location @bazel_tools//third_party/java/jdk/langtools:javac_jar)",
    ],
    ....

bazel

[2016-04-05 23:40] jinhoonbang opened #1122 "Having trouble compiling bazel from source locally on Redhat"
I am trying to compile bazel from source (in order to tryout tensorflow) on a cluster. I don't have root rights, so I'm trying to compile it locally. I've read from other issues that compiling bazel from source locally isn't supported so I modified the crossfile a bit. I cloned bazel from the master branch. I'm using Red Hat 6.7.

Some information about the system:

`$uname -a`
`Linux $CLUTERNAME

[2016-04-05 23:58] kchodorow commented on #1122
Can you try spelling out the full path to gcc (not using `~`)?  See the error:

[code]

[2016-04-06 00:15] jinhoonbang commented on #1122
@kchodorow This is the full path: /home/dkl524/jbang/gcc-4.8.5

I'm not sure if the following info would help but here it is!
`ls /tmp/bazel.b560SISc/out/bazel/external/bazel_tools/tools/cpp`
BUILD      cc_configure.bzl  CROSSTOOL.tpl      osx_cc_wrapper.sh.tpl
BUILD.tpl  CROSSTOOL         osx_cc_wrapper.sh  test

[2016-04-06 00:46] martinmaly opened #1123 "version_file is not reflected in build artifact the way version is (pkg_deb)"
pkg_deb's version_file is compelling because our build bot can generate it on the fly without modifying the BUILD file itself.

Unfortunately version specified in version_file attribute is not reflected in the generated .deb file name, unlike version.

We end up with file names such as

package__amd64.deb

(there are two consecutive underscores where version would be had we used version attribute)

[2016-04-06 08:32] damienmg opened #1124 "No way to determine runfiles tree including the workspace name"
See #1116 for context. we should expose that information as an env variable

[2016-04-06 08:33] damienmg commented on #1116
After thinking a bit it's logical the execroot should be inside the workspace name, Can you try to replace the jvm_flags with `"-Xbootclasspath/p:$$PWD/$(location @bazel_tools//third_party/java/jdk/langtools:javac_jar)"` instead?

[2016-04-06 12:37] #443 closed

[2016-04-06 13:18] #468 closed

[2016-04-06 13:21] #469 closed

[2016-04-06 13:34] kchodorow commented on #1124
I don't think we should, that will encourage bad rule creation.

The plan is to have the runfiles tree like:

[code]

So if you're running in main-repo, you can get another-file via ../another-repo/another-file.  If you're working on another-repo, you can _still_ get another-file via ../another-repo/another-file.

[2016-04-06 13:42] damienmg commented on #1124
Indeed, but right now the path is undecided, do you have a better idea for the transition?

[2016-04-06 13:43] kchodorow commented on #1124
Well, I'm hoping to get a cl out this week, so no.

[2016-04-06 13:46] damienmg commented on #1124
Ok let's close this one and just accept the breakage at HEAD for now

[2016-04-06 13:46] #1124 closed

[2016-04-06 13:47] kchodorow commented on #1122
I mean: use the full path in the CROSSTOOL file's tool path that you customized.  The CROSSTOOL isn't going to resolve `~`.

[2016-04-06 14:17] jinhoonbang commented on #1122
@kchodorow Replacing ~ with full path worked! However, it led me to anther error .

ERROR: /home/dkl524/jbang/bazel/src/main/cpp/util/BUILD:4:1: undeclared inclusion(s) in rule '//src/main/cpp/util:util':
this rule is missing dependency declarations for the following files included by 'src/main/cpp/util/port.cc':
  '/home/dkl524/jbang/gcc-4.8.5/lib/gcc/x86_64-unknown-linux-gnu/4.8.5/include/stddef

[2016-04-06 14:40] kchodorow commented on #1122
Generally this means that you have system includes in non-standard locations, so you'll need to add `/home/dkl524/jbang/gcc-4.8.5/` as a `cxx_builtin_include_directory` in your CROSSTOOL.

[2016-04-06 15:38] shahms commented on #1116
That also fails.

[2016-04-06 15:39] shahms commented on #1124
How will that work with runfiles found via `//external`?

[2016-04-06 15:43] damienmg commented on #1116
@kchodorow do you have anymore idea?

[2016-04-06 15:54] hanwen opened #1125 "maven_jar does not check format of sha1 attribute"
I made the following change to a WORKSPACE

 maven_jar(
   name = 'commons_lang',
-  artifact = 'org.apache.commons:commons-lang3:3.1',
+#  artifact = 'org.apache.commons:commons-lang3:3.1',
+  artifact = 'org.apache.commons:commons-lang3:3.0',
 #  sha1 = '905075e6c80f206bbe6cf1e809d2caa69f420c76',
 )

then bazel fetch:

 $ bazel fetch //...
ERROR: /home/hanwen/vc/gitiles/lib/BUILD:5:2: no such pa

[2016-04-06 15:55] hanwen commented on #1125
Ah, there is a "," in one of my checksums.

Could the SHA1 attribute be checked to be hex only?

[2016-04-06 15:59] kchodorow commented on #1125
That seems reasonable, yeah.

On Wed, Apr 6, 2016, 11:55 AM Han-Wen Nienhuys <notifications@github.com>
wrote:

[2016-04-06 16:17] shahms commented on #1124
And, more generally, for data dependencies specified via `$(location <target>)`?  At least based on #1116 and your discussion above, we'll have to hard code the repository when referencing those runfiles dependencies?

[2016-04-06 16:25] kchodorow commented on #1124
Do you mean targets that you've used `bind()` with?  Those will still be available under external/targetname.

This is a bit awkward at the moment.  $(location <target>) will be different than runfiles, and should return the _execution-root-relative_ path, which will still be exec-root/external/repo/path/to/target.  However, we're planning to make this match runfiles soon (so it will also be ../re

[2016-04-06 16:28] RonnieAtOracle commented on #1124
That's what we are doing now and it's not ideal.

[2016-04-06 17:07] kchodorow commented on #1124
Unfortunately, there isn't really a way to avoid that if you want your repo to have usable as runfiles by another repository.

[2016-04-06 17:43] shahms commented on #1124
That's a pretty huge portability problem for us.  We can't easily adjust all of the TEST_SRCDIR relative paths when importing into google3.  Based on the discussion in #1116 it seems like PWD should be $TEST_SRCDIR/{workspace_name} (which would be fine) but is, instead, just TEST_SRCDIR.

[2016-04-06 17:53] shahms commented on #1124
At least, if we want to actually specify a workspace name.

[2016-04-06 17:58] shahms commented on #1124
Sigh; actually while it is a hurdle, we're already doing some shenanigans to work around it.  Having to include the workspace name in those shouldn't be too additionally onerous.

[2016-04-06 18:00] kchodorow commented on #1124
I think the TEST_SRCDIR thing is actually a bug, it should be TEST_SRCDIR/{workspace_name}.

[2016-04-06 18:03] shahms opened #1126 "test PWD should be TEST_SRCDIR/{workspace_name}"
At the moment, the current working directory is just TEST_SRCDIR, but it should be TEST_SRCDIR/{workspace_name} (see #1124).

[2016-04-06 18:10] kchodorow commented on #1124
Actually, no, just checked it out and it and TEST_SRCDIR does not include the workspace name internally, so bazel shouldn't either.  Sorry :-/

[2016-04-06 18:11] kchodorow commented on #1126
After further inspection, this is WAI.

[2016-04-06 18:22] shahms commented on #1124
Assuming "google3" is the internal workspace name (which it appears to be), PWD is documented as being "TEST_SRCDIR/google3".  And my experiment shows that the documentation is correct.

[2016-04-06 18:23] shahms commented on #1126
Then this is inconsistent with internal blaze.

[2016-04-06 18:27] shahms commented on #1126
Upon further inspection, I'm not sure how our PWD may be getting confused in #1124 as a very simple test shows that you're correct.

$ cat testenv.sh
#!/bin/bash
echo "$PWD"
echo "$TEST_SRCDIR"
exit 1
$ bazel test //:testenv
$ bazel test --test_output=streamed //:testenv
WARNING: Streamed test output requested so all tests will be run locally, without sharding, one at a time.
INFO: Found 1 test ta

[2016-04-06 18:28] shahms commented on #1126
The bazel documentation should be updated, though :-)

[2016-04-06 18:28] shahms commented on #1124
Actually, sorry for the confusion, there appears to be something else going on as a quick test in #1126 demonstrates that this is consistent with internal blaze and I'm not sure how our PWD is getting changed.

[2016-04-06 18:52] jinhoonbang commented on #1122
@kchodorow Thanks. That helped me get passed the error, but of course a new one. This one, I really can't seem to figure it out.

ERROR: /home/dkl524/jbang/bazel/src/java_tools/buildjar/java/com/google/devtools/build/buildjar/BUILD:107:1: error executing shell command: 'set -e;rm -rf bazel-out/host/bin/src/java_tools/buildjar/java/com/google/devtools/build/buildjar/libbootstrap_invalid_command_lin

[2016-04-06 18:53] damienmg opened #1127 "java_binary seems to produce incorrect wrapper on Darwin at HEAD"
See http://ci.bazel.io/job/rules_closure/35/BAZEL_VERSION=HEAD,PLATFORM_NAME=darwin-x86_64/console

The target that fails is a java_binary

/cc @kchodorow I am not sure the problem is in the java rules or in the runfiless tree generation. From my understanding the external should be under io_bazel_rules_closure whereas it is not.

/cc @jart fyi

[2016-04-06 18:54] damienmg opened #1128 "Android sdk fails on ubuntu since the machine where reimaged"
Probably due to an incorrect version detection (tools are 24.0.0 now).

[2016-04-06 18:55] damienmg commented on #1056
Oops forgot to close this one :)

[2016-04-06 18:55] #1056 closed

[2016-04-06 18:57] damienmg commented on #1064
No repro. Sounds like a stale emacs autosave file. Closing

[2016-04-06 18:57] #1064 closed

[2016-04-06 19:17] kchodorow commented on #1126
Are you requesting more docs about it, or is the documentation incorrect somewhere?

[2016-04-06 19:21] shahms commented on #1126
The Test Encyclopedia is incorrect, both in the table and below:

PWD	$TEST_SRCDIR
The initial working directory shall be $TEST_SRCDIR.

[2016-04-06 19:34] kchodorow commented on #1126
Ah, quite.

[2016-04-06 20:09] shahms commented on #1116
Looking at the rule which defines the test, it does a (likely ill-advised) `cd` before invoking the dependency in question, which breaks using PWD.  Aside from that, the wrapper script does a bit of work to make sure JAVA_RUNFILES points at the correct location.  I suspect we'll have to include the workspace name in the path for now.

[2016-04-06 20:13] brian-peloton commented on #1033
This is a different issue that still doesn't seem to be fixed. This bug is about "@io_bazel_rules_closure//:something" working from the closure repository itself. It definitely does not work in a build_file attribute with current Bazel master.

Once this is fixed, bazelbuild/rules_closure#9 will be easy to fix.

[2016-04-06 21:25] kchodorow opened #1129 "Make shell scripts use more standard function syntax"
See http://stackoverflow.com/questions/36408629/error-installing-bazel-on-ubuntu.

[2016-04-07 00:16] davenso commented on #649
In what part of the CROSSTOOL file did you add the following code
[code]
Should existing linker_flag's be removed?

[2016-04-07 00:26] brian-peloton commented on #1033
On second thought, this doesn't actually block anything any more. Just using default-repository labels should work fine... However, it would be still nice if referring to the main repository by name worked for consistency.

[2016-04-07 10:49] damienmg opened #1130 "repository_ctx.execute runs in the workspace root"
So we might ends-up creating tar file in the workspace of the user, we should run in the output directory of the workspace rule.

[2016-04-07 11:05] damienmg commented on #1081
The blog post is the official documentation for now.

[2016-04-07 11:05] #1081 closed

[2016-04-07 13:32] damienmg commented on #1058
I have a prototype that's a few lines long but it relies on the docker daemon:
[code]

In the full version I would like to do it outside of docker.

[2016-04-07 14:26] kchodorow opened #1131 "generate_workspace is generating invalid shas"
It's including the rest of the .sha1 file it downloaded, not cutting it off after the sha.  See https://groups.google.com/d/msg/bazel-discuss/gu8RbSdD0xY/YvI3f9azAQAJ.

[2016-04-07 16:36] tfarina commented on #1131
So the problem is at https://github.com/bazelbuild/bazel/blob/master/src/tools/generate_workspace/src/main/java/com/google/devtools/build/workspace/maven/Resolver.java#L275?

[2016-04-07 17:10] kchodorow commented on #649
You can add them anywhere, it looks like `-lstdc++` is already there (https://github.com/tensorflow/tensorflow/blob/master/third_party/gpus/crosstool/CROSSTOOL#L53).  You shouldn't need to remove any flags unless they don't work for you.

[2016-04-07 18:07] kd8azz commented on #1049
Ping?

[2016-04-07 18:37] vladfi1 opened #1132 "Warning when installing .deb file on ubuntu 15.10"
The Ubuntu Software Center gives a warning when installing the .deb file for bazel:

[code]

Obviously not a huge deal, but it requires the user to hit "Ignore and Install" to proceed.

[2016-04-07 20:39] lberki commented on #953
@bsilver8192 : unfortunately, checking that the branches of the select have the same transitive info providers is not feasible, because the set of providers a configured target provides is not known until after analysis.

I was considering making it so that rules would have to define *all* the providers they intend to generate in their rule class definition (this would also make `#getAdvertisedPro

[2016-04-07 20:41] lberki commented on #953
@bsilver8192 : why do you think your `the_srcs()` "workaround" is a workaround? I think it's a perfectly acceptable solution. Do you think it's too verbose or hard to read?

@jmmv : What would `export()` provide that @bsilver8192 's trick doesn't?

[2016-04-07 22:21] damienmg commented on #1104
Ok updating to bazel head did fix the issue, closing.

[2016-04-07 22:54] damienmg opened #1133 "Random overhead with Bazel @HEAD on null build under OS X"
There seems to be a random overhead per Bazel invocation on my OS X laptop:
[code]

It usually happens at the end of the build. This make interactive build really slow.

It seems like we don't have this overhead on linux

[2016-04-08 07:41] lberki opened #1134 "Ctrl-C does not work in batch mode on Windows"
Bazel just seems to keep chugging along and ignores it.

[2016-04-08 07:43] lberki commented on #1134
For clarification, this is under msys2.

[2016-04-08 07:43] dslomov commented on #1134
Hmm, it works for me most of the time but sometimes it does not (I haven't tried for some time though)

[2016-04-08 07:51] lberki opened #1135 ""The filename or extension is too long" when compiling BoringSSL"
When trying to compile BoringSSL (`bazel --batch build //third_party/boringssl:crypto`), here is what comes up:

[code]

[2016-04-08 07:58] lberki commented on #1135
There doesn't seem to be any particularly long parameters, but it is quite a long command line (I eyeballed the failing command line at the longest .o file on the command line seems to be 130 chars). I'd guess using a params file would help, if ar supports that.

[2016-04-08 08:02] lberki commented on #1135
This also seems to be a problem with a gcc command line in the same build as adding `-k` to the command line shows:

[code]

For now, I'll try splitting up the crypto library if I can so that I can make progress.

[2016-04-08 08:07] hermione521 commented on #1049
Sorry for the late reply. I guess I've found the problem, will fix it soon.

[2016-04-08 08:23] lberki commented on #1135
Well, splitting crypto failed miserably because there are interdependencies between them that I'd rather not untangle. So params file time it is.

[2016-04-08 13:51] jmmv commented on #953
@lberki: If you are talking about the `the_srcs` solution... that "works" in this case for `srcs`, but it's not a general solution. Also, it's weird to have to do that by hand: semantically, having an `export` primitive that makes a node of the dependency graph show up elsewhere "untouched" seems easier to understand and explain, and also much easier for the user to get right.

Note that in my exa

[2016-04-08 14:49] #1052 closed

[2016-04-08 21:40] dfabulich opened #1136 "Can't invoke py_binary or java_binary from Skylark action"
Consider this repository https://github.com/dfabulich/cannot-find-runfiles

There's a simple python script in `build_tools/whatevah.py` that accepts one CLI argument and writes a file to that location.

[code]

It's declared as a simple `py_binary` in `build_tools/BUILD`.

[code]

There's a simple Skylark rule in `build_tools/example.bzl`; the `example` rule runs `whatevah` to generate a `%{name}.

[2016-04-08 21:40] dfabulich commented on #1136
[code]

[2016-04-08 21:43] dfabulich commented on #1136
Intriguingly, on Mac, where Bazel doesn't use a sandbox (as of 0.2.1), I can kinda workaround this issue by explicitly building `build_tools:whatevah`.

Which is to say, this succeeds:

[code]

But this fails:

[code]

On Ubuntu, where Bazel does use a sandbox, that workaround doesn't work; I even tried running it with `--spawn_strategy=standalone`, but the workaround still failed.

What am I miss

[2016-04-09 07:23] dinowernli commented on #308
+1

[2016-04-09 17:01] bsilver8192 commented on #953
@lberki: @jmmv pointed out another limitation I had forgotten about: the rule class will be different, which means many builtin rules won't accept these as dependencies. Also, if checking that all the possibilities have the same providers (and rule class etc) is hard, it also seems just fine to make that something for the user to deal with. Might be a bit confusing, but it shouldn't be too bad.

[2016-04-10 19:54] jinhoonbang commented on #1122
Does anyone know a solution to this? I've been having no luck at all.

[2016-04-11 09:07] seonho opened #1138 "How to set include path for JNI on Android project"
I want to use external library with JNI on Android

So, simply I add the following line on `examples/android/java/bazel/jni_dep.cc`.
[code]
Above file is located at `third_party/dlib/dlib/image_processing.h`

Then, I add `copts` as follows:

[code]

When I try to build this app, I got this error.

[code]

Did I make a mistake?

[2016-04-11 13:39] #1128 closed

[2016-04-11 14:38] damienmg commented on #1127
The problem was in the bazel cache. don't know how it happened should be fixed now.

[2016-04-11 14:38] #1127 closed

[2016-04-11 14:47] kchodorow commented on #1122
This means that the JVM running Bazel is running out of memory.  A couple things you could try:

* If your machine just doesn't have much memory, try run with `--jobs=8` (`bazel build --jobs=8 //foo:bar`) so that Bazel won't try to do as much at once.
* If your machine has enough memory, you can up the amount Bazel is allowed to use by setting JVM startup options, e.g., `--host_jvm_args=-Xmx15G --

[2016-04-11 14:55] dslomov commented on #1138
See http://bazel.io/docs/be/c-cpp.html#cc_library.srcs: you should either add a cc_library target for the library you depend upon or add the headers you need to srcs attribute of your library.

[2016-04-11 16:33] dslomov commented on #1132
@damienmg FYI

[2016-04-11 16:35] dslomov commented on #1123
dmarting@ please check the triage

[2016-04-11 16:35] damienmg commented on #1132
I don't have any good idea on a correct way to do it. Maybe we should set the current timestamp to today when building with --stamp option on deb package.

[2016-04-11 16:38] damienmg commented on #1123
Problem is the build artifact path is constructed as analysis time whereas the content of the file is just available for the execution phase. Therefore there is no way to fix that. I suggest renaming the file by your CI.

Closing as infeasible

[2016-04-11 16:38] #1123 closed

[2016-04-11 19:16] damienmg commented on #940
This was fixed by d7d6d62

[2016-04-11 19:16] #940 closed

[2016-04-11 19:17] damienmg commented on #800
@c-parsons friendly ping, is this still a problem?

[2016-04-11 19:20] damienmg commented on #1091
This is a CI error, totally unrelated to Bazel. The problem is deleting the workspace seems to put the workspace in a incoherent state. Closing for now, and will reopen on bazelbuild/continuous-integration if we ever see that again.

[2016-04-11 19:20] #1091 closed

[2016-04-11 20:11] c-parsons commented on #800
Indeed, it is.
Let me explain:
I believe the  .framework file is propagated via a provider (ObjcProvider, to be exact) to rules that depend on ios_framework, but you're right that it is not currently specified as an implicit output.

In other words, a ios_application target that depends on an ios_framework target should "do the right thing", but if you "bazel build" your ios_framework target, the

[2016-04-12 00:09] jinserk opened #1139 "cannot compile with ccache + gcc"
I have a system installed ccache and gcc, but latest bazel seems not to find the gcc path as follows:

[code]

when I purged ccache, it works well.

[2016-04-12 00:19] seonho commented on #1138
Thank you for answer!!

I fixed the include statement in `examples/android/java/bazel/jni_dep.cc` as

[code]
and also changed `BUILD` file as

[code]

Now I can compile it!!

[2016-04-12 09:34] damienmg commented on #1116
We want to baseline a new release candidate ASAP, this is the only block that I know of for it. We should not breakage Kythe with the next release.

[2016-04-12 09:50] damienmg commented on #1139
I don't think ccache should be used with bazel. You can export CC to compile using the good gcc (environment variables are striped for hermeticity when calling gcc).

[2016-04-12 09:52] vitamin commented on #660
i have the same problem.
my system is Linux 2.6.32.43-tlinux-1.0.14-default #1 SMP Wed Jul 29 18:34:45 CST 2015 x86_64 x86_64 x86_64 GNU/Linux

/usr/local/bin/bazel: /usr/lib64/libstdc++.so.6: version `GLIBCXX_3.4.14' not found (required by /usr/local/bin/bazel)
/usr/local/bin/bazel: /usr/lib64/libstdc++.so.6: version `GLIBCXX_3.4.15' not found (required by /usr/local/bin/bazel)
/usr/local/bin/baz

[2016-04-12 13:36] lberki opened #1140 "Aspects requiring providers can't propagate through `bind()`"
This is because `bind()` returns nothing as the set of advertised providers, so if an aspect requires a provider, it won't be propagated. However, the set of providers `bind()` actually has depends on the rule it's bound to and that can be anything., including providers that would trigger aspect propagation.

A disabled test case is available as `AspectTest#aspectCreationWorksThroughBind()`.

Note

[2016-04-12 13:39] lberki opened #1141 "Local action cache doesn't work on Windows"
In this sequence of commands:

`output/bazel --batch build //src:bazel`
`output/bazel --batch build //src:bazel`

The second command re-runs all actions again. This doesn't seem to be the case for @dslomov , but was consistently reproducible on my workstation, so there is definitely something going on.

[2016-04-12 14:48] damienmg commented on #1070
So according to today's meeting this one is solved?

[2016-04-12 14:50] damienmg commented on #1116
@shahms is it still an issue or do you have a workaround?

[2016-04-12 15:52] philbinj opened #1142 "Document that genrule has implicit dependencies to environment variables such as PATH which will cause it to rerun when those variables change."
Please see https://groups.google.com/forum/#!msg/bazel-discuss/amRCj3ZQqUI/r4ddp_CYAQAJ for details.

[2016-04-12 15:53] philbinj opened #1143 "Bazel is not picking up changes to PATH when running genrule targets while the server is running."
Bazel will only pickup PATH changes when the server has shutdown.

Please see https://groups.google.com/forum/#!msg/bazel-discuss/amRCj3ZQqUI/r4ddp_CYAQAJ for details.

[2016-04-12 15:54] philbinj opened #1144 "Feature request: enable a way to let genrule targets ignore environment variables such as PATH when computing dependencies"
Please see https://groups.google.com/forum/#!msg/bazel-discuss/amRCj3ZQqUI/r4ddp_CYAQAJ for details.

[2016-04-12 16:05] shahms commented on #1116
I have a worked around this by including the workspace name in the path.  While a more general workspace-agnostic runfiles path solution would be nice, I don't think it's a blocker.

[2016-04-12 22:33] jinhoonbang commented on #1122
Thanks! But I thought 'build' should only work when Bazel is compiled and I'm still having difficulty compiling bazel from source.
I cloned the newest version of Bazel, made necessary files on CROSSTOOL, ran ./compile.sh and got the following:

ERROR: No toolchain found for cpu 'piii'. Valid cpus are: [
  k8,
  armeabi-v7a,
].

The CROSSTOOL file from the fresh new clone had a default-toolchain wi

[2016-04-12 22:33] jinhoonbang commented on #1122
Also, please let me know what "more information" you need

[2016-04-13 07:24] ulfjack commented on #1144
That would go against our correctness requirements.

From my email, I think a more principled solution could look like this:
- add a PATH-lookup function to genrule (and Skylark action), maybe like this "$(path-location ls)"
- evaluate this at execution time, and record the dependency of the action on the PATH env variable at that point
- remove the PATH from the configuration, and from the defaul

[2016-04-13 08:32] lberki commented on #1070
(sigh)

Almost. The error I get if I don't set `--output_base` to something short is because there is an output file called
[code]

whose path is too long when under the default output base `C:/tools/msys64/var/tmp/_bazel_${USER}/${CHECKSUM}` .

Since that's an instance of the generic "What on Earth do we do with long file names?" problem, I'm  closing this bug.

[2016-04-13 08:32] #1070 closed

[2016-04-13 10:54] hermione521 commented on #1049
Hi @kd8azz, the commit above should give you instructions on sandbox failures. Please try with "bazel test --sandbox_debug --verbose_failures". There might be a lot of outputs.

[2016-04-13 12:55] damienmg commented on #1133
I just learned that this is working as intended. Timestamp are in seconds so the server wait to be sure we see any change that happens in the same second.

[2016-04-13 12:55] #1133 closed

[2016-04-13 12:55] damienmg commented on #1133
(note this can be fixed by a correct watchservice, we have a different bug for it).

[2016-04-13 17:14] fzakaria opened #1145 "git_repository doesn't pull down submodules"
I added GRPC to my `WORKSPACE`
[code]

However its failing to build it properly since it doesn't pull down the `third-party` submodules.

[code]

[2016-04-13 17:19] fzakaria commented on #1145
Looks like the offending line is here: https://github.com/bazelbuild/bazel/blob/0773430188885e075121ebf720c82bb05a39db21/src/main/java/com/google/devtools/build/lib/bazel/repository/GitCloner.java#L143

I'm actually a bit confused by the need to use submodules.
I guess it would re-introduce the diamond dependency problem ?
Do bazel repos just have to write themselves to be 'exportable' with `git_r

[2016-04-13 17:34] dflems commented on #125
Sorry to bump again, but can we get an update on this? Any accepted solutions? Workarounds?

[2016-04-13 18:02] aragos commented on #125
We are currently working on exposing a lot more of the objc compilation
logic to skylark so that in a few weeks/months it should be much easier to
write custom bundling logic (which is one of the main differences between
iOS and OS X). While I'm not sure whether we'll provide our own rule
targeting OS X that should make it fairly simple for you to write your own
while using existing compilation in

[2016-04-13 22:32] hhclam opened #1146 "Documentation is not clear for handling of native libraries in data attribute for java_library and java_binary"
A native library like cc_library in the data attribute of java_library will cause the dependent java_binary targets to put a flag like -Djava.library.path=where/to/find/native/lib in the generated wrapper script.

However putting it in data attribute in java_binary has no effect. This should be better documented. In general there should be better documentation for how java interacts with native co

[2016-04-14 00:20] davidzchen commented on #1145
Does adding `init_submodules = 1` work for you? http://bazel.io/docs/be/workspace.html#git_repository.init_submodules

The reason why we set `.setCloneSubmodules(false)` on that line is because setting it to true will actually recursively clone all submodules, which is undesirable for certain repositories, such as github.com/rust-lang/rust-installer, which recursively includes itself as a submodul

[2016-04-14 01:51] fzakaria commented on #1145
I see. I'll give that a shot.
I'm still trying to grasp external workspaces.
On one note I love that it makes it easier for myself to onboard onto the platform and/or vend BUILD files but I'm still struggling on how to do it without re-introducing diamond dependencies (unless I'm not thinking it through)

I could pull in another workspace that builds for instance with a specific version of guava i

[2016-04-14 02:58] dfabulich opened #1147 "sh_binary scripts can't find generated data when executed by Skylark action or genrule"
Consider this repository https://github.com/dfabulich/wheres-my-data

There's a `data.txt` file in the `build_tools` directory, and a simple build script in `build_tools.sh` that accepts one CLI argument and copies `data.txt` to the given location.

data.txt:

[code]

build_tools.sh:

[code]

It's declared as a `sh_binary` in `build_tools/BUILD`.

[code]

There's a simple Skylark rule in `build_to

[2016-04-14 03:02] dfabulich commented on #1147
You might notice that this bug bears similarity to #1136. I discovered it while trying to find a workaround for #1136. I'm nonetheless convinced that it's a different bug, because #1136 fails even on OS X after a `bazel clean`, whereas this bug #1147 never fails on OS X.

Furthermore, it's possible to workaround #1136 by replacing the Skylark rule with an equivalent `genrule`, like this:

[code]

[2016-04-14 04:39] dmaclach commented on #125
I don't want to make any guarantees either, but I am very interested in
having a Mac OS X rule available.

On Wed, Apr 13, 2016 at 11:02 AM, aragos <notifications@github.com> wrote:

[2016-04-14 07:06] davidzchen commented on #1145
@jart and @hhclam have been having some discussion about ways to mitigate the diamond dependency problem in #1065 and #1071. I don't think we have a resolution yet about how to recursively include dependencies of external repositories added in their WORKSPACE files though.

+ @damienmg, @lberki

[2016-04-14 07:46] lberki commented on #1145
@fzakaria : the original idea was that for the time being, people would declare what kind of external dependencies they need in the //external package in a human-readable format, and then top-level projects would craft their WORKSPACE files in such a way that all such dependencies are satisfied.

This is essentially manual dependency resolution, but until we come up with something principled, I th

[2016-04-14 07:51] damienmg opened #1148 "April release"
I'll try to create the candidate today, from the release candidate in Google:
mainline:  759bbfedbd8acd1324211d68b69e302478428e32
cherry-picks:
 - 1250fdac4c7769cfa200af8b4f9b061024356fea
 - ba8700ee63efe26c1a09d288129ced18a265ff89
 - Rollback of https://bazel-review.googlesource.com/#/c/3220/

[2016-04-14 09:45] damienmg commented on #1148
So a more recent candidate was cleaner: 5a2a275aab57acfe8e85ca915fc6f323a652b432. Waiting for the rollback of c/3220 to be here to push a candidate.

[2016-04-14 11:15] damienmg commented on #1104
This is happening again, even outside of Eclipse.

[2016-04-14 11:16] damienmg commented on #1104
Oh gosh I think I understand what is happening: it creating output in the outputbase that are not needed. On OSX it runs outside of any sandbox. Re-running it several time on OS X should be a correct repro.

[2016-04-14 11:18] damienmg commented on #1104
with `-s` I found the genclass invcation and running it outside fails.

[code]

[2016-04-14 11:24] damienmg commented on #1104
Of course the command line says where the exception comes from:
`--temp_dir bazel-out/local-fastbuild/bin/src/test/java/com/google/devtools/build/lib/_javac/analysis_test/analysis_test-gen_temp`

temp_dir should not be in the output root.

Assigning to @ahumesky for further triage.

[2016-04-14 11:38] damienmg commented on #1104
Ok sorry I spoke too fast, it might be correct to have `temp_dir` in the output root (maybe rename it in that case), but genclass should be able to overwrite files (maybe clean the dir before running)

[2016-04-14 11:56] damienmg commented on #1148
Ok I'll go with first proposal

[2016-04-14 11:59] damienmg commented on #1148
Btw rollback of c/3220 is 386f242788a3d0189e6882466105c57ec1149d20

[2016-04-14 14:19] fzakaria commented on #1145
Okay cool. Thanks for the links, informative reads + proposals.
Due to the current speed of development of Bazel and scope many of the existing OSS examples give a varying degree of examples to learn from which added to the confusion.

I'll go ahead and close this.

[2016-04-14 14:19] #1145 closed

[2016-04-14 16:41] adamhowardprice commented on #125
Just saw [this commit](https://github.com/bazelbuild/bazel/commit/8bc763ce9570faa98c4dd3db3c8d261b47cad279) got merged in yesterday, which looks like a step toward exposing ObjC rules to Skylark. Very encouraging. Some documentation or further comments about the plans for this w/r/t OS X builds would be super useful!

[2016-04-14 22:48] shahms commented on #1116
Not sure if this should be a separate bug or not, but in attempting to re-set the workspace name I discovered that on OS X runfiles does *not* include the workspace name, but on Linux it does.  For now, I can add both paths to the bootclasspath but that's a dirty hack.  I'm happy to file a separate bug for this, if so desired.

[2016-04-14 23:56] zaphar commented on #855
This still doesn't work for the csharp rules in the bazelbuild/rules_dotnet repsository. If I create a repository and reference the workspace using a local_repository rule in in the WORKSPACE file I get errors saying:

`/private/var/tmp/_bazel_jwall/a4f05aced329c5d1ca55a18062777a02/external/io_bazel_rules_dotnet/examples/example_test/BUILD:3:1: every rule of type csharp_nunit_test implicitly depen

[2016-04-15 00:06] zaphar commented on #855
Actually after looking at the closure issue it looks like the correct way is to do str(Label(...)) which is non-obvious but fixes the issue. Is this the intended behavior?

[2016-04-15 00:15] kayasoze commented on #473
This bug still exists, but in more restricted form.  It reproduces only when:

1. Sandboxing is disabled (or building on a non-sandbox-supported platform, like OS X)
2. Include files are inside a directory referenced with `includes`, e.g. `includes = ["."]`

Could you please reopen?

[2016-04-15 00:18] kayasoze commented on #420
Still an issue as of 0.2.1.

[2016-04-15 00:20] kayasoze commented on #473
Sadly, I cannot enable sandboxed builds because of https://github.com/bazelbuild/bazel/issues/420 (and because Mac OS X).

[2016-04-15 00:52] kayasoze commented on #473
Use of `cc_inc_library()` results in correct incremental compilation, and so is a resonable workaround for `includes = ["."]`; however, it will not result in the reporting of undeclared includes.

[2016-04-15 01:07] kd8azz commented on #1049
Thanks!

Looking around, it took me a little while to get my bearings.  I was expecting to find /etc/OpenCL/vendors/nvidia.icd missing, but in fact, it was there.

@philwo mentioned that I should check /dev.  In fact, there is a large difference.  The sandbox has `fd  null  random  urandom  zero`, whereas my machine has many more.  Notable: `nvidia0` and `nvidiactl`.  Others may be relevant as wel

[2016-04-15 03:30] bsilver8192 commented on #1049
With 0.2.1, you can use --sandbox_add_path. That should work on files in /dev just fine.

[2016-04-15 07:41] #1103 closed

[2016-04-15 08:07] hermione521 commented on #1049
I'm glad it works. The difference of /dev/ might be because of symlinks. You can try `--sandbox_add_path=/dev/nvidia0 --sandbox_add_path=nvidiactl`, but if there is symlink or device file, there might be some problems. If that happens, please try `ll` and copy it here. Thanks.

[2016-04-15 08:16] damienmg commented on #1104
It's blocking me so I'll fix it.

[2016-04-15 08:35] damienmg commented on #1122
We should rename that label.

[2016-04-15 10:55] damienmg commented on #1148
0.2.1rc1 is out expected release by next thursday

[2016-04-15 11:02] damienmg commented on #1074
Doc about FSEvents API: https://developer.apple.com/library/mac/documentation/Darwin/Conceptual/FSEvents_ProgGuide/UsingtheFSEventsFramework/UsingtheFSEventsFramework.html

[2016-04-15 18:01] kayasoze commented on #420
The issue here might be that, at least on Ubuntu, Bazel passes through the user's TMPDIR, which is not writable by anyone but the user; however, the sandboxed genrule runs as nobody.

[2016-04-15 18:25] jaelim commented on #947
I'm having a similar problem of not being able to build bazel.exe too, but different Java error
[code]

[2016-04-15 18:28] RonnieAtOracle commented on #308
+1

[2016-04-15 18:34] kayasoze commented on #308
+1

[2016-04-15 18:38] jaelim commented on #947
I installed the latest JDK: jdk-8u77-windows-x64.exe
What version should I downgrade this to, and how do I obtain this old version?

[2016-04-15 18:41] svendjo commented on #308
+1

[2016-04-15 19:49] dslomov commented on #947
@jaelim your jdk is fine. Your problem is that Bazel tries to execute ``C:\temp\bazel.US08rqwQ\out\bazel\bin\bash``. Set your BAZEL_SH as described in [Windows installation instructions](http://bazel.io/docs/windows.html) and you should be good to go:
[code]

[2016-04-15 20:31] bockmabe commented on #308
+1

[2016-04-15 21:15] oweingrod opened #1149 "Bazel unexpectedly ceases to function on Ubuntu 14.04"
Have been using bazel on Ubuntu 14.04 for a number of tasks. Unfortunately, it seems that Bazel keeps...deleting itself? Or something like that.

After installing with the <bazelversionhere>.sh script and successfully running a few build processes, I return to my terminal to find that `bazel build` returns `bash- command bazel not found`. What gives? Is bazel not correctly being copied into my PAT

[2016-04-15 21:22] kchodorow commented on #1149
What options are you running the installer with?  If you install it as root, it should be putting bazel at /usr/local/lib/bazel/bin/bazel and symlinking /usr/local/bin/bazel to that.  If you install it for your user, it's probably under ~/bin.  Can you track down where your binary is and check what the permissions are on it and run `file /path/to/your/bazel`?

[2016-04-15 21:44] jaelim commented on #947
@dslomov Hi, Thanks for reminding again. I did that step, but guess repeating is a magic solution, However, why is the process taking a long time. It's still running at this point:

[code]

[2016-04-15 21:47] jaelim commented on #947
@dslomov I can see that it's updating numbers..

[code]

[2016-04-15 22:24] jaelim commented on #947
@dslomov Should I stop the installation process?
[code]

[2016-04-15 22:36] helenaut opened #1150 "IncompatibleClassChangeError when using Guava 1.7"
Hello! I run into a IncompatibleClassChangeError when trying to run java_tests while using Guava 1.7. I think the bazel runner uses a different version which is why I'm getting the error.

This is the error:

```java.lang.IncompatibleClassChangeError: com.google.common.base.CharMatcher and com.google.common.base.CharMatcher$NegatedMatcher disagree on InnerClasses attribute```

I was able to fix it

[2016-04-15 22:50] jaelim commented on #947
[code]

[2016-04-15 23:12] shahms commented on #1088
Apparently spoke too soon, this does appear to be an issue with bazel release 0.2.1:

    $ bazel info release
    ......
    release 0.2.1
    $ PATTERNS=(

    $ for pattern in "${PATTERNS[@]}"; do bazel query "kind(maven_jar, $pattern)"; done
    ......
    //external:maven_guava
    //external:maven_guava
    java.lang.RuntimeException: Unrecoverable error while evaluating node 'TARGET_PATTERN

[2016-04-15 23:18] shahms opened #1151 "cc_library includes attribute shouldn't warn for external repositories"
We (Kythe) are currently using a repository_rule to configure some system dependencies. In order to reference these with "standard" system paths, this requires using the `includes` attribute. With 0.2.1 that works fine, but since commit f0a18846461d4b7ecc76c36a659ff1e37f93d7dc there is a warning (which is obnoxious) implying that this will break at some point (which would be more than obnoxious).

[2016-04-15 23:30] jaelim commented on #947
Okay, I stopped the thing, and tried again. But this time I got totally different errors:

[code]

[2016-04-16 00:07] bsilver8192 commented on #1088
Does it fail consistently with some version of your code, or is it sometimes failing and sometimes succeeding, possibly after a `bazel shutdown`?

[2016-04-16 03:02] kd8azz commented on #1049
`bazel test src/test/... --sandbox_debug --verbose_failures --sandbox_add_path=/dev/nvidia0 --sandbox_add_path=/dev/nvidiactl` does successfully add nvidia0 and nvidiactl to /dev/ in the sandbox, but the unit test still fails.  When I get some time, I'll dig around and try adding other things as well, to see if I can figure out what's missing.  Suggestions appreciated.

[2016-04-16 03:03] kd8azz commented on #1049
nvidia0 and nvidiactl are not symlinks on my system.

[2016-04-16 09:13] dslomov commented on #947
This in your log:
[code]
that your file system is in some weird state after ``rm`` crashed. No idea why - maybe delete the entire Bazel output (everything under ``/var/tmp/_bazel....``) and try again?

[2016-04-16 11:36] liumilan opened #1152 "Faile to install bazel in linux"
The error as below:
INFO: You can skip this first step by providing a path to the bazel binary as second argument:
INFO:    compile.sh compile /path/to/bazel
Building Bazel from scratch......
Building Bazel with Bazel.
WARNING: /search/david/bazel-master/src/main/native/BUILD:46:16: in includes attribute of cc_binary rule //src/main/native:libunix.so: '.' resolves to 'src/main/native' not in 'thir

[2016-04-17 14:48] jdoerrie commented on #760
I would like to thank everyone involved in this issue for their efforts. I am in a similar situation as @rdipietro, trying to compile bazel on a cluster with a custom gcc location but standard ld location (`/usr/bin/ld`). Simply adding `"-B/usr/bin",` after this line https://github.com/bazelbuild/bazel/blob/master/tools/cpp/cc_configure.bzl#L166 fixes my build errors, so your assumption is correct

[2016-04-17 22:33] yschimke opened #1153 "Maven checksum files breaking generate_workspace"
After running generate_workspace, I'm left with a broken build.

`ERROR: /Users/xxx/workspace/oksocial/BUILD:40:1: no such package '@commons_io_commons_io//jar': Downloaded file at /private/var/tmp/_bazel_xxx/3d64232f2bfe8a39646c9fe8cf2efeb6/external/commons_io_commons_io/commons-io/commons-io/2.4/commons-io-2.4.jar has SHA-1 of b1b6ea3b7e4aa4f492509a4952029cd8e48019ad, does not match expected SHA

[2016-04-17 22:34] yschimke commented on #1153
This possibly relates to https://github.com/bazelbuild/bazel/issues/1125

[2016-04-18 01:20] bsilver8192 opened #1154 "Commit 1df074af1dc6b32a4f5b704f3f31c552cb11c9a8 made pkgcache_test flaky"
ci.bazel.io has [a few failures](http://ci.bazel.io/job/Bazel/475/), and I am seeing it fail most of the time (failed 16 out of 20 times when I tried it). Stack trace is consistent:
[code]

@janakdr: Looks like the wrong exception gets thrown sometimes with that recent change of yours.

[2016-04-18 01:27] janakdr commented on #1154
See https://bazel-review.googlesource.com/#/c/3392/

On Sun, Apr 17, 2016 at 9:21 PM, bsilver8192 <notifications@github.com>
wrote:

[2016-04-18 07:51] damienmg commented on #1154
Assigning to @janakdr as he already sent a fix. This should have been triaged days ago...

[2016-04-18 07:51] damienmg commented on #1149
`which bazel`

`echo $PATH`

I suspect you are using different environment and your PATH change between the,

[2016-04-18 07:54] damienmg commented on #1150
Alas this is an intended behavior mostly. In Google, we just have one version of everything so we don't run into that problem...

I don't really have a good answer on how to fix that for now.