[2019-05-17 07:56] meteorcloudy commented on #7322
@dslomov Can you help triage this issue? TensorFlow was hit by similar problem recently.

[2019-05-17 08:00] hlopko commented on #8370
Multiple repos sound better to me - that way the rules will be decoupled
(e.g. repository rules for discovering system installed tools, or
toolchains for those rules, will be isolated, we won't have one big
toolchain to rule them all). Federation should solve the maintenance burden
from the user's perspective. And from the owner's perspective if John says
there isn't much shared logic, I believe h

[2019-05-17 08:37] laszlocsomor commented on #6622
Last blocker: https://github.com/bazelbuild/rules_foreign_cc/pull/263 -- just needs to get merged, then the project will be fixed. Then I can flip `--incompatible_windows_native_test_wrapper` at HEAD.

The "Bazel / Bazel@HEAD + Downstream" project on BuildKite uses Bazel from HEAD, so that will have both https://github.com/bazelbuild/bazel/issues/8203 and the flipped flag.

Bazel 0.27 will roll ou

[2019-05-17 08:45] hlopko commented on #7499
In case there will be another RC, I kindly ask for cherrypicking the fix for https://github.com/bazelbuild/bazel/issues/8330 in https://github.com/bazelbuild/bazel/commit/7dc78cdd04eedf2f4373b170053ba5fc2a990929. This is a bugfix, but not for a recent regression. Having this in 0.26 will allow us to flip toolchains/platforms for C++ rules (https://github.com/bazelbuild/bazel/issues/7260) in 0.27.

[2019-05-17 09:02] aehlig commented on #7499
No problem. I've only just created RC9 and have to wait for the new CI VM image to be rolled out before I can start the downstream tests; so it doesn't delay anything, to create RC10 right away.

[2019-05-17 09:25] aehlig commented on #7499
RC10 is available here https://releases.bazel.build/0.26.0/rc10/index.html but I'm still waiting on news from #8364.

[2019-05-17 09:49] hanwen commented on #8334
see https://gerrit-review.googlesource.com/c/plugins/admin-console/+/224802 for a fix.

[2019-05-17 09:57] #8327 closed

[2019-05-17 10:17] #8203 closed

[2019-05-17 10:23] laszlocsomor commented on #8202
Found the bug, will fix and retreat to my shame cube:
https://github.com/bazelbuild/bazel/blob/77b987524ad0988dd0d21cd5e9dcadb897bedd26/src/main/cpp/util/path_windows.cc#L466

(clue: `*result` may start with `..\`)

[2019-05-17 10:36] meteorcloudy opened #8372 "Bazel CI: Flipping --incompatible_list_based_execution_strategy_selection broke RBE build"
https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/977#_
The RBE related jobs are failing due to 37033338332c0bd3069ff7ac93d69432787a4aed

Remote execution: https://buildkite.com/bazel/culprit-finder/builds/154
Rules_nodejs (RBE): https://buildkite.com/bazel/culprit-finder/builds/156

/cc @ishikhman @buchgr Please help fixing the downstream projects.

[2019-05-17 10:39] meteorcloudy opened #8374 "Bazel CI: Buildfarm is failing on mac with Bazel@HEAD"
https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/977#264751ae-9b35-4172-b70b-ed39e9567647
[code]

Culprit: c6207b4751d5b190813cddb1f918a9adcd0022ae
https://buildkite.com/bazel/culprit-finder/builds/152#36870f4a-3561-478c-9345-aa0ee0509eb4

[2019-05-17 10:44] vbatts commented on #8143
@hoonkai ok, how did you do that? Could you provide more info before closing the issue

[2019-05-17 10:45] meteorcloudy opened #8375 "Bazel CI: Envoy is failing with Bazel@HEAD"
We recently added Envoy to our CI and detected a failure with Bazel@HEAD
https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/977#40d119a7-c588-419e-b576-dc630b19f428
[code]

A bisect shows it started to fail since 0ff6c09009a8bff7cc60026a680e63ebcc43b66b
https://buildkite.com/bazel/culprit-finder/builds/151#b23c4572-37c3-4d94-9980-aa8727e2aa4a

/cc @oquenchil Can you take a look, is t

[2019-05-17 11:04] davido commented on #8334
Thanks!

[2019-05-17 11:04] #8334 closed

[2019-05-17 11:20] hoonkai commented on #8143
@vbatts  In my case, I only needed `--Xmx1000M` for `javac`.

[2019-05-17 11:38] #8202 closed

[2019-05-17 11:54] laurentlb opened #8377 "Document configuration transitions"
Documentation of the `cfg` argument in `rule` is unclear (https://docs.bazel.build/versions/0.25.0/skylark/lib/globals.html#rule):

I don't think a user will be able to understand and use that.

Rules documentation doesn't mention it either (https://docs.bazel.build/versions/master/skylark/rules.html). The Example repository (https://github.com/bazelbuild/examples/tree/master/rules) also doesn't h

[2019-05-17 11:59] laszlocsomor commented on #6622
One more blocker: "Bazel integration testing" pipeline
https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/979#92dc6232-8e9a-4bd7-b992-57bb9322215b

[2019-05-17 12:09] meteorcloudy commented on #8374
E... The reason is https://github.com/bazelbuild/remote-apis has a directory named `build` under the root directory. On Windows and macos, where file path is case-insensitive, `repository_ctx.delete("BUILD")` will accidentally delete this directory.

[2019-05-17 12:15] davido commented on #8367
@laurentlb @hanwen Could you please have a look?

[2019-05-17 12:21] meteorcloudy commented on #8374
/cc @aehlig Do you know anything that could help us distinguish the file `BUILD` and the directory `build/`?

[2019-05-17 13:08] laurentlb opened #8380 "incompatible_restrict_string_escapes: Restrict string escapes"
When the flag `incompatible_restrict_escape_sequences` is set, Bazel will reject any string with an unknown escape sequence.

For example, the sequence `\w` doesn't exist. The old behavior was to interpret `"\w"` as if it was `\\w` (in other words, the string will contain a backslash and a w). This behavior is problematic because adding any new escape sequence to the language becomes a breaking ch

[2019-05-17 13:21] aehlig commented on #8374
You could test if `BUILD` is a file or a directory, and not remove it if it is a directory (as the old `rm -f BUILD` did).

Note that it is in general problematic to run projects written for case-sensitive file systems on file insensitive file systems. Not removing `BUILD` because `BUILD.bazel` takes priority only works by luck, as so far no one has a directory `build.bazel`.

[2019-05-17 13:32] hanwen commented on #8367
the load statement

  load(":events-log/external_plugin_deps.bzl", events_log = "external_plugin_deps")

is incorrect "events-log" holds a BUILD file, so this should be something like

    load("//plugins/events-log:external_plugin_deps.bzl" , ... )

however, the WORKSPACE under the plugin triggers a recursive workspace.

aehlig suggests to mount the subdir as a `local_repository`. This causes the

[2019-05-17 13:34] drigz commented on #7899
Thanks! I tried to make rules_docker compatible with both, could you have a look? It was a bit harder than I expected but it should unblock the Py3 migration for some users. https://github.com/bazelbuild/rules_docker/pull/843

[2019-05-17 14:15] aehlig commented on #7499
Run of [downstream projects](https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/980) looks good.

[2019-05-17 14:30] davido commented on #8367
Thanks.

[2019-05-17 14:30] #8367 closed

[2019-05-17 14:32] meteorcloudy commented on #8374
There is no way to test a path is a file or directory in `repository_ctx` API.
I don't think it works just by luck, `BUILD.bazel` is supposed to take priority than `BUILD`
https://github.com/bazelbuild/bazel/blob/69095be0988711b42dad047892cd20581e9e9e10/src/main/java/com/google/devtools/build/lib/skyframe/BazelSkyframeExecutorConstants.java#L48-L49

[2019-05-17 14:36] aehlig commented on #8374
The place were you're lucky is that so far only directories called `build` are used, not ones called `build.bazel`.

[2019-05-17 14:42] meteorcloudy commented on #8374
I see. But I don't think any Bazel users will have a such directory. If they do have such a directory, the project won't work on Windows and Mac anyway. And we should warn users not to do this.

[2019-05-17 15:15] ishikhman commented on #8372
thanks @meteorcloudy, I'll have a closer look on Monday.

**Notes for a fix**:
So far it seems that those builds were explicitly requesting `--spawn_strategy=remote` which was by default falling back to a local execution. With a flag flip in order to get the same behaviour we either do not need to specify `--spawn_strategy` at all or make it `--spawn_strategy=remote,local`

[2019-05-17 15:24] #8374 closed

[2019-05-17 15:31] benjaminp commented on #8371
Pass `-fdiagnostics-color=always` to GCC?

[2019-05-17 15:45] cafrank opened #8382 "Ubuntu 18 Arm64 (aarch64) bazel build."
### Feature requests: what underlying problem are you trying to solve with this feature?

Ubuntu 18 Arm64 (aarch64) bazel build.  0.19.0 was the last git build I could compile. TF 2.0 needs 0.24.0.  I've been through enough stackoverflowing, googling, git'ing in an effort to build tensorflow 2.0.  I am giving up.  Has anyone in the world achieved this?  If so, can I get a binary so that I can get

[2019-05-17 16:12] aherrmann opened #8383 "Download performace regression between Bazel 0.24.0 and Bazel 0.25.2"
### Description of the problem:

I've noticed a performance regression on cached builds (combined remote and disk cache) between Bazel 0.24.0 and Bazel 0.25.2.

A build of a fairly large target after `clean --expunge` on a fully populated remote cache and empty disk-cache takes 8m5.825s on 0.24.0 and 9m34.820s on Bazel 0.25.2. Note, that our version of 0.24.0 includes the [combined disk cache patc

[2019-05-17 16:20] jin commented on #8383
cc @meisterT @buchgr

[2019-05-17 16:28] asuffield opened #8384 "git_repository inserts invalid empty parameter when called with commit parameter"
@aehlig: Bug introduced by https://source.bazel.build/bazel/+/d79786d45be22b27f9dce9a03a5b0cb97daed414

When git_repository is called with a commit parameter and no shallow_since, the "shallow" variable ends up being empty string, which inserts an empty parameter onto the git command line. That fails.

[2019-05-17 16:29] aherrmann opened #8385 "minimal download breaks stable-status"
### Description of the problem:

The minimal download flags
[code]
on Bazel 0.25.2 seem to break the stable-status feature. I'm observing the following error

[code]

(Forcefully removing the file temporarily resolves the problem.)

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Checkout https://github.com/digital-asset/daml/pull/44

[2019-05-17 16:55] buchgr commented on #8354
generally results in lower peak performance, so it may be a net loss in
end-to-end build time.

In remote execution you'll never hit peak performance for java compilation.
I don't see how this statement is applicable here.

[2019-05-17 18:13] #8059 closed

[2019-05-17 18:24] #7404 closed

[2019-05-17 18:51] beasleyr-vmw commented on #8294
Just ran into this while evaluating Bazel 0.26.0 rc10.

For those interested in building the tools yourself against your own libc baseline, according to https://github.com/bazelbuild/java_tools/issues/6, the current java_tools release was cut from https://github.com/bazelbuild/bazel/commit/b0317496ce596a36eea8f95d3af650a74d6a29d5 . In https://github.com/bazelbuild/bazel/issues/6316#issuecomment-48

[2019-05-17 18:55] keith commented on #8375
Please let me know if this is something we should investigate on the envoy side!

[2019-05-17 19:16] benjaminp opened #8388 "confusing cc_library warning about linkstatic and the absence of object files"
If I write a `cc_library` containing only object files, Bazel emits a warning implying there are no object files:
[code]

[2019-05-17 19:45] laurentlb opened #8389 "Clarify the status of ctx.tokenize"
It's not documented, but it's still present.

cc @laszlocsomor

[2019-05-17 19:46] laurentlb opened #8390 "Clarify the status of ctx.expand"
It's not documented, but it's still present.

[2019-05-17 20:02] buchgr commented on #8364
that's generally not true ... sounds like we should patch the algorithm to no longer assume this. should be easy enough?

[2019-05-17 20:18] aiuto commented on #8370
Here is the issue as I see it.

- lots of C & C++ projects use tools like this
- we can either get build files into those projects OR create them
- pushing upstream is preferable, but we know that not every project will take the BUILD files, so sometimes we will have to create them. Let's assume these rules are in that class.
- someone will eventually (I hope soon) write a tutorial on how to conve

[2019-05-17 20:40] timpeut opened #8391 "incompatible_disable_native_android_rules"
As proposed and accepted in [Android Native to Starlark Migration](https://docs.google.com/document/d/175BlYH-Z_V_FFGAVP-JA5FowLATRjY_MtOrglxFnfcE/edit) we will be disabling all usage of the native Android build rules. Users should be using the [Starlark Android Rules](https://github.com/bazelbuild/rules_android).

**Migration**
1. Add the following to your `WORKSPACE`
[code]

2. Load all `android

[2019-05-17 20:56] laurentlb commented on #8305
Can you do the version check in the workspace file?

(or in https://github.com/protocolbuffers/protobuf/blob/master/protobuf_deps.bzl)

[2019-05-17 21:01] laurentlb opened #8392 "Document the deps function pattern for external repositories"
For the context, see https://github.com/bazelbuild/rules_jvm_external/issues/148#issuecomment-493591117

Many projects seem to follow the same pattern, but I didn't find any documentation for it. As part of it, describe the `_maybe()` technique (if we want to encourage it) or an alternative.

https://github.com/bazelbuild/rules_go/blob/master/go/private/repositories.bzl
https://github.com/protocol

[2019-05-17 22:06] keith commented on #7849
@lberki can you add migration notes for this? bazelisk's `--migrate` hits this and it appears that protobuf fails to build with this flag enabled with 0.25.2:

[code]

[2019-05-17 23:08] keith opened #8393 "--execution_log_binary_file negation"
Using bazel 0.26.0rc10 and `--execution_log_binary_file`, you cannot negate the argument with `--execution_log_binary_file=` as you could with `experimental_execution_log_file`. I'm not sure if it was intentional behavior before but previously passing:

[code]

Would not write an execution log file. This is useful for when you have a configuration that implies `experimental_execution_log_file`, bu

[2019-05-17 23:17] #8364 closed

[2019-05-17 23:20] keith commented on #8364
Here's a "raw" log from the command before bazel crashes: [foo.log](https://github.com/bazelbuild/bazel/files/3193361/foo.log)

[2019-05-17 23:59] keith commented on #7454
@laurentlb can you fix the labels here for bazelisk, with 0.25.2 this fails because the flag isn't recognized

[2019-05-18 03:26] haberman commented on #8305
That works for enforcing certain versions, but it doesn't help for the case of falling back to different code for older versions.

Is there a reason *not* to allow this in rules, or is it just an issue of finding the time to implement it?

How is somebody supposed to know that versions.bzl from bazel-skylib just doesn't work from rules?

[2019-05-18 09:05] rynz commented on #1920
Very excited for this feature, to link a single static lib built with `bazel` with `node-gyp` native addons.

[2019-05-18 12:30] Globegitter opened #8394 "Enable sandboxfs on a per-target basis"
### Description of the feature request:

It would be great to be able to configure the use of sandboxfs on a per-target basis rather than an all-in or nothing approach. I could see this being implemented either via tags/execution_requirements or by using a regex flag like `--runs_per_test` where one can specifiy which targets to build using sandboxf. But maybe there are further options.

### Featu

[2019-05-18 14:09] philwo opened #8395 "Bazel HEAD fails to build Bazel when using RBE"
Spotted in our downstream pipeline: https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/981#09ddae55-7302-4acc-90c9-444b67ef0743

ERROR: /workdir/bazel-downstream-projects/bazel/tools/osx/BUILD:17:1: Couldn't build file tools/osx/xcode-locator: Executing genrule //tools/osx:xcode-locator-genrule failed: No usable spawn strategy found for spawn with mnemonic Genrule. Are your --spawn_s

[2019-05-18 17:31] endobson opened #8396 "Error message doesn't include why argument is wrong"
### Description of the problem:

When reporting bad arguments for `DefaultInfo`, bazel doesn't actually include any information about the actual argument and why it was wrong.

[code]

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Clone https://github.com/endobson/examples/tree/bazel-default-info-error and then run
[code]

### What

[2019-05-18 18:27] jmmv commented on #8394
This is an interesting proposal. Actually, something similar crossed my mind a while ago: using sandboxfs for some actions only, but basing such decision on the number of inputs of the action.

The reason I didn't pursue that yet is because sandboxfs changes the semantics of sandboxing (from symlinks to real files) so switching back and forth could cause hard-to-diagnose build failures. This would

[2019-05-18 19:36] laurentlb commented on #7454
removed

[2019-05-18 20:16] #8340 closed

[2019-05-19 05:36] ittaiz commented on #6862
I’d love that, thanks!

[2019-05-19 17:33] crorvick opened #8398 "document that nested workspaces are supported"
### Description of the problem / feature request:

The documentation for `local_repository()` does not clearly state that nested workspaces are supported.

### Feature requests: what underlying problem are you trying to solve with this feature?

Document that nested workspaces are supported.

[2019-05-19 17:41] laurentlb commented on #8398
Some more context: https://groups.google.com/forum/#!msg/bazel-discuss/DXBjq-49pOs/hT2feMrhAwAJ

[2019-05-19 20:01] Globegitter commented on #8394
An automatic selection as well as cow files do indeed sound very interesting improvements for sandboxing. Manual selection of some sort seems like a good stepping stone towards that, especially if a cow file sandbox is still a bit away.

[2019-05-19 23:33] adzenith opened #8399 "Add --test_support flag to include a file in all test runs"
### Description of the problem / feature request:

It would be useful to have a `--test_support` flag analogous to the `--coverage_support` flag. If this flag existed, I would use it to add sanitizer suppression files (such as [for thread sanitizer](https://github.com/google/sanitizers/wiki/ThreadSanitizerSuppressions)) to my test runs.

### Feature requests: what underlying problem are you trying

[2019-05-20 05:46] luorixiangyang opened #8400 "Analysis of target '//tensorflow/contrib/tensor_forest:model_ops_test' failed; build aborted: for tensorflow/contrib/tensor_forest/libutils.so"
env:
OS: windows 10
bazel version: 0.24.1
tensorflow version:r1.14
python:3.6.4
CUDA:9.0
cuDNN: 7.1
--------------------------------
send under command in gitBash could complete successfully
bazel build --config=opt --config=cuda --define=no_tensorflow_py_deps=true //tensorflow/tools/pip_package:build_pip_package
---------------------------------------------
but send bazel test command encounter e

[2019-05-20 07:18] leocnsh commented on #8371
That works. I added these lines to my .bazelrc to make it default for each build/run:
`build --copt=-fdiagnostics-color=always
run --copt=-fdiagnostics-color=always`

[2019-05-20 08:53] meteorcloudy commented on #8375
@oquenchil Can you explain what [the change](0ff6c09) does and what could be possibly broken?

[2019-05-20 08:58] meteorcloudy commented on #8372
@ishikhman Thanks for the notes!
Maybe to be compatible with Bazel 0.25.2, we should use `--spawn_strategy=remote,local` instead of removing the flag?
FYI @philwo
https://github.com/bazelbuild/continuous-integration/blob/d00107eaef8712316a1521f810c90eeeaba382e6/buildkite/bazelci.py#L1168

[2019-05-20 09:05] aehlig commented on #7499
Commit dd9ac13f7e3b71bdf2eca717bc7681bdd12389a2 that was fixing #8364 looks sufficiently limited to be save to cherry-pick. So I'll create rc11 today and aim for a release on Wednesday.

[2019-05-20 09:41] the1derer commented on #6356
@cushon @laurentlb
I am trying to enable the Checker Framework for `java_*` rules but has run into the following problems. It would be helpful if you could provide some insight into the problem.

**TL; DR: I have run into cyclic dependency while enabling Checker Framework. Just see https://github.com/the1derer/bazel-with-checkerframework/tree/Alternate-3 in "Alternate-3" branch Readme**

Since Che

[2019-05-20 10:37] meteorcloudy opened #8402 "Windows: Bazel@HEAD no longer shows error message from C++ compiler"
Culprit: 33f7b7755db0ed5cad1b686b7616183927c72ab1
You can reproduce by building a C++ file that has some syntax error.

[2019-05-20 10:37] meteorcloudy commented on #8402
@ulfjack Please tell me if it's a easy fix, otherwise we should rollback first.

[2019-05-20 10:40] aehlig commented on #7499
RC11 available here https://releases.bazel.build/0.26.0/rc11/index.html

[2019-05-20 10:49] dslomov commented on #8400
Please file this in TensorFlow bug tracker.

[2019-05-20 10:49] #8400 closed

[2019-05-20 11:11] the1derer commented on #6356
cc / @mernst @smillst

[2019-05-20 11:11] ulfjack commented on #8402
I have a fix. I'm not sure if I have a regression test.

[2019-05-20 11:21] iirina opened #8404 "Open source the tests for java_toolchain."
Bazel doesn't have any java_toolchain tests.

[2019-05-20 11:51] aehlig commented on #7499
The run of the [downstream projects for RC11](https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/985) looks good. So please test carefully. If no further release blockers are reported till Wednesday (May 22, 2019), this will be the release.

[2019-05-20 12:11] excitoon commented on #5791
I've just encountered the same thing if `runfiles` are being read from a rule and you specify `data` attribute in `cc_import`, it is empty (0.23.2).

[2019-05-20 12:31] aehlig commented on #8305
I guess, if we allow `native.bazel_version` at all, we can as well allow it everywhere, as the [work around](https://github.com/haberman/upb/blob/bazel25/repository_defs.bzl) you use, the value is available anyway. However, before we encourage wider use of this value, we probably should ensure that development versions of bazel have a proper version number (e.g., alpha-Version of the release to co

[2019-05-20 12:43] laurentlb commented on #5816
Status update. Flag flip still blocked by:
- [android testing](https://github.com/googlesamples/android-testing/issues/239)
- [rules_foreign_cc](https://github.com/bazelbuild/rules_foreign_cc/issues/261)
- [rules_typescript](https://github.com/bazelbuild/rules_typescript/issues/443)
- [rules_webtesting](https://github.com/bazelbuild/rules_webtesting/issues/352)
- Gerrit (cc @davido)

[2019-05-20 12:52] laurentlb commented on #5818
Status update. Flag flip still blocked by:
- [android testing](https://github.com/googlesamples/android-testing/issues/239)
- [rules_webtesting](https://github.com/bazelbuild/rules_webtesting/issues/351)

[2019-05-20 13:05] iirina commented on #8238
In your A B C example, what is the directory structure? Are all 3 directories top level? Or B and C are under A?

[2019-05-20 13:29] iirina opened #8406 "Add a platform agnostic release for java_tools."
Create a way to release a java_tools version (in addition to the linux, darwin and winodws versions) without including pre-built ijar and singlejar.

[2019-05-20 13:31] laurentlb commented on #7849
This flag breaks a lot of downstream projects, migration notes are missing, and the error message is unclear. I'm going to remove the migration flag for now.

[2019-05-20 14:00] iirina commented on #8294
I opened #8406 to add a platform-independent java_tools release, which will fix this issue.

As a temp hack you can also try using `--define EXECUTOR=remote` when running bazel. This will trigger by default compiling ijar and singlejar instead of using the pre-built binaries. However, I'm not sure if there are any side effects.

[2019-05-20 14:10] aehlig commented on #5390
I believe this should be fixed with 3926e9a8d2b9ededf3a8cfac039bcaeeb7766e70. Please reopen, if the problem persists.

[2019-05-20 14:10] #5390 closed

[2019-05-20 14:10] #5144 closed

[2019-05-20 14:13] aehlig commented on #6879
Added the platform label because of the statement

[2019-05-20 14:27] or-shachar commented on #7499
I'm having a difficulty installing the RC11 on linux (from the packed installer available at https://releases.bazel.build/0.26.0/rc11/bazel-0.26.0rc11-installer-linux-x86_64.sh)
I get:
[code]
**Is it documented that I need to install some newer prerequisites?**

(I did not change the base image for a while now).

---

`$ cat /proc/version`
[code]

`$ cat /etc/os-release`
[code]

[2019-05-20 14:55] philwo opened #8407 "Bazel's macOS sandbox allows write access to entire output root."
### Description of the problem / feature request:

Bazel's macOS sandbox allows write access to `/private/var/tmp`.
Bazel's default output user root is `/private/var/tmp/_bazel_$username`.

This means that every action has full write access to Bazel's install base, output base, ...

On Linux, this is not an issue, because the default output user root is `$HOME/.cache/bazel/_bazel_$username`.

We c

[2019-05-20 15:07] iirina commented on #8313
@davidsantiago thank you for your feedback! I agree that documentation on Java toolchains is long due and should be prioritized.

[2019-05-20 15:26] gertvdijk commented on #7499
@or-shachar Yeah, it seems that the libstdc++ requirement has been lifted and it does not run on Debian oldstable anymore (probably also older CentOS affected?).
Moreover, the Debian package does not include the version requirement in the dependencies as well, so it installs, but fails at runtime. Very bad...

I believe the requirement on newer stdlibc++ is unexpected for users and a regression, b

[2019-05-20 15:40] jmillikin commented on #8370
Notes from the monday meeting:
* Putting these under `stripe/` wouldn't be good because these are not Stripe official projects, and we don't do the Google-style approach of hosting employee's personal projects under the corporate organization.
* If these are to be under `jmillikin/` indefinitely then I'm OK with that, but would want to rename the workspace names back to `jmillikin_` prefixes.
* Mo

[2019-05-20 16:03] #8375 closed

[2019-05-20 16:05] #7517 closed

[2019-05-20 16:18] natansil commented on #8238
B and C are under A

[2019-05-20 16:53] dhalperi commented on #7517
Thank you @iirina !

Is this still a recommended command to look at the code coverage output?

[code]

(Still getting a ton of crashes, but elsewhere.)

[2019-05-20 17:15] benjaminp opened #8409 "Add list.sort"
The mutating `list.sort` method is occasionally useful for efficiency reasons.

In particular, under `--incompatible_depset_is_not_iterable`, there doesn't seem to be any way to go from a nested set to a sorted collection with less than 2 copies. One must write `sorted(a_depset.to_list())`.

[2019-05-20 17:23] brandjon opened #8410 "Enable remote execution of Python rules from Windows host"
Forked from #7947, to track issues where the rules use host information (e.g. `OS.getCurrent()`) to decide what to do at execution time.

[2019-05-20 17:40] cushon commented on #7849
There was some discussion of this in cl/240945826, and my understanding was that this met the policy requirements for adding an `--incompatible_*` flag. Has the policy changed?

I think the plan is still to add migration notes and push forward on this migration soon.

cc @iirina @hlopko

[2019-05-20 19:01] dhalperi commented on #6005
Revisiting after #8362 has fixed other blockers. This is still a problem.

[2019-05-20 19:18] brandjon opened #8411 "Ensure Python tests run under Windows"
We [currently disable](https://github.com/bazelbuild/bazel/blob/bdc6c10b674757df38982e71752aab8eddab47a0/src/test/shell/bazel/BUILD#L724-L725) some Python tests under Windows because until recently our CI machines didn't have both Python 2 and Python 3 available. Now that that's resolved, we should enable them.

P1 because this blocks fixing #7947, which in turn is needed to enable toolchains on W

[2019-05-20 20:15] vbatts commented on #8143
@hoonkai sorry for my ignorance. Where did you provide that flag?
[code]

[2019-05-20 20:55] Globegitter opened #8413 "Creating runfiles tree failed without error message"
### Description of the problem:

Just seen this multiple times in CI:

[code]

And not getting any reasons as to why this failed apart from the fact that it terminated with signal 9. Running the same command locally works fine and I can not reproduce.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Not sure how it is possible to rep

[2019-05-20 21:48] keith commented on #7260
@laurentlb I think the migration-0.25 tag should be removed from this issue because of this issue that was cherry picked into 0.26 https://github.com/bazelbuild/bazel/issues/8330

[2019-05-21 00:01] keith opened #8414 "Build failure with --incompatible_use_python_toolchains"
### Description of the problem / feature request:

When using `--incompatible_use_python_toolchains` on macOS, the build fails because it can't find any pythons:

[code]

I believe that the issue here is that the calls to `which` in [this script](https://github.com/bazelbuild/bazel/blob/master/tools/python/pywrapper_template.txt) aren't receiving the `PATH` environment variable. I found 2 workarou

[2019-05-21 00:06] keith commented on #7899
I experienced an issue using this flag on macOS https://github.com/bazelbuild/bazel/issues/8414 that I submitted a fix for https://github.com/bazelbuild/bazel/pull/8415

[2019-05-21 02:53] cushon commented on #6356
cc @iirina for the question about Bazel `java_toolchain` definitions

[2019-05-21 03:21] shriramiyer commented on #3323
Does anyone have a working solution handy for using Qt with Bazel on MacOS? I'm using Qt version 5.12 (installed using brew), in case it matters.

[2019-05-21 05:25] the1derer commented on #6356
/cc @iirina

[2019-05-21 06:03] ArielleA commented on #8382
Hi,
Could you please explain a little more about your environment to help me identify the problem? I have built 0.25.2-dist on my machine without problem.
Please can you include the volume of memory and any errors you are receiving in the output?

[2019-05-21 06:15] davido commented on #5816
@laurentlb My impression was, that it is fixed in all out trasitive dependencies an in our own build tool chain. Can you point me to a log specific to this breakage?

[2019-05-21 06:15] Globegitter commented on #8413
It was most likely a memory issue, as adding `--jobs=2` resolved the issue. So possibly can be closed.

[2019-05-21 06:17] davido commented on #5818
@laurentb what about Bazel itself: pending (#7681 and #7775)? Shouldn't you mention this as well?

[2019-05-21 06:22] davido commented on #7499
@gertvdijk Good catch and it was good idea anyway to kill Debian Jessie on Gerrit Code Review's GerritForge CI and support for Java 7 and move entirely to Debian Stretch in: [1].

//CC @lucamilanesio.

* [1] https://gerrit-review.googlesource.com/c/gerrit-ci-scripts/+/207554

[2019-05-21 06:55] lucamilanesio commented on #7499
Indeed :-)

[2019-05-21 07:32] iirina commented on #7517
@dhalperi Yes, that's right. Can you please open new issues for the other crashes? Thanks!

[2019-05-21 07:50] #8402 closed

[2019-05-21 07:54] or-shachar commented on #7499
@gertvdijk - so I must upgrade my base image to stretch?

[2019-05-21 07:56] ulfjack commented on #8402
As far as I can tell, the breakage did not make it into 0.26 (May release), and the fix should be picked up  by 0.27.

[2019-05-21 08:03] gertvdijk commented on #7499
I was saying two things:

- It seems like a bug to me that Bazel suddenly requires a newer stdlibc++. I don't want to judge, but it's either a release blocker, **or** it should be communicated well that this new requirement is intentional, but then it's a Debian packaging bug.
- I think everyone still on Jesse **should** upgrade, unless you have a compelling reason to be using old software? Jessie

[2019-05-21 08:20] aehlig commented on #7499
Concerning the "Linux binaries", our [documentation](https://docs.bazel.build/versions/master/install.html) _never_ claimed they would work on debian, especially not on oldstable. It over-optimistically claims they would work on Ubuntu 14.04, 16.04, and 18.04, even though, in reality they're (still, that will change with the next release) built on Ubuntu 14.04 amd64 and as binaries never tested an

[2019-05-21 08:34] gertvdijk commented on #7499
Thanks for clarifying @aehlig, but this doesn't really explain why what/this has changed with 0.26. Wouldn't you agree that one may expect to find an entry in the release notes that a runtime dependency has changed for Bazel?

Also, I've got news for you, it doesn't work on Ubuntu 14.04 anymore as well:

[code]

[2019-05-21 09:13] hlopko commented on #8372
Friendly ping :) Our downstream pipeline is red because of this (https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/987). If you could file issues against those projects with more context that would be great. I can then disable these projects on downstream to get a happy green build while waiting for fixes.

Thank you so much!

[2019-05-21 09:22] laurentlb commented on #5816
@davido See https://buildkite.com/bazel/bazelisk-plus-incompatible-flags/builds/114#e39742ca-35a8-48d6-9ce9-68dfbfdce53e

[2019-05-21 09:25] meteorcloudy commented on #8372
Looks like we should fix the flag in [bazelci.py](https://github.com/bazelbuild/continuous-integration/blob/d00107eaef8712316a1521f810c90eeeaba382e6/buildkite/bazelci.py#L1168) instead of from downstream projects. I'll send a fix.

[2019-05-21 09:30] meteorcloudy commented on #8402
Yes, I can also confirm that. Thanks for the fix and test!

[2019-05-21 09:32] laurentlb commented on #5818
protobuf.bzl was updated separately (https://github.com/bazelbuild/bazel/commit/ad503849e78b98d762f03168de5a336904280150).

To identify breakages, I checked https://buildkite.com/bazel/bazelisk-plus-incompatible-flags/builds/114

[2019-05-21 09:39] aehlig commented on #7499
That is indeed a breakage, caused by an accidental change of our build infrastructure. @philwo already has a pending fix for this. Once this is in, I will build RC12 from the same sources as RC11 to get hopefully correct release binaries.

[2019-05-21 09:42] gertvdijk commented on #7499
Hey @philwo, thanks for the commit and info in there ([mail on bazel-discuss](https://groups.google.com/forum/#!searchin/bazel-discuss/ubuntu$2014.04%7Csort:date/bazel-discuss/dPomOEOPseA/Jp849gJvBwAJ))! Just wanted to say...

- Looks good and sane to me to drop Ubuntu 14.04! (I am in favour of moving forward, as long as it's communicated.)
- Your _proposal_ did not receive any follow-up.
- The ch

[2019-05-21 09:47] philwo commented on #7499
@gertvdijk Yes, the current flip to building on Ubuntu 18.04 was just an accident, due to copy & pasting the Docker configuration for our pipeline steps. Bazel 0.26 will be built on Ubuntu 14.04 and thus have the same support as releases before. :)

The mail thread didn't receive any negative feedback, so my plan was to just go ahead with it. I wasn't able to meet the original timeline and didn't

[2019-05-21 10:56] buchgr commented on #8383
@aherrmann thanks for the report! Are you only seeing this with the combined disk and remote cache?

[2019-05-21 11:01] buchgr commented on #8393
That's not an intended change (@agoulti). I think it should be possible to negate all our flags. WDYT @ishikhman?

[2019-05-21 11:36] aehlig commented on #7499
RC12 is available at https://releases.bazel.build/0.26.0/rc12/index.html

Note, code-wise this is the same as RC11, however, this time, the linux binaries should be built on Ubuntu 14.04 as it should be the case for this release.

[2019-05-21 11:38] ishikhman commented on #8393
I agree, we should keep the possibility to negate/disable all flags. It feels to me like a bug in a recent change that introduced a new set of flags.

[2019-05-21 11:51] ittaiz commented on #6955
Any news?

[2019-05-21 11:54] ittaiz commented on #7142
@aehlig any idea how difficult it would be to support `=`?

[2019-05-21 12:02] ishikhman commented on #8395
Should be fixed by https://github.com/bazelbuild/continuous-integration/pull/663, let's see.

[2019-05-21 12:20] buchgr commented on #8320
@ulfjack are you aware of this? has this been fixed in master?

[2019-05-21 12:37] philwo commented on #7674
@haxorz It seems like @sergiocampama encountered this in rules_apple again. I'm copying his internal bug report (b/133148805) here:

[2019-05-21 13:01] aehlig commented on #7499
The [downstream projects](https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/988) look good as well. Please test carefully. If no further release blockers will be reported till Thursday (May 23, 2019), this will be the release.

[2019-05-21 13:06] ishikhman commented on #8413
Closing for now, please feel free to re-open it in case you face this issue again! :)

[2019-05-21 13:06] #8413 closed

[2019-05-21 13:09] Globegitter opened #8419 "Can not manipulate select statement in macros"
### Description of the  feature request:

The rules_k8s have a rule `k8s_objects` which takes a list of labels (`k8s_object` targets) and creates multiple targets with these labels, with custom endings, that it knows have been created from the underlying `k8s_object`. So there is code like `[x + ".create" for x in objects]` If objects is now a `select` statement that fails with something like: sel

[2019-05-21 13:20] ulfjack commented on #8320
This is the first time I hear about this. 4a5e1b7 adds a separate implementation and should not result in any user-visible change. However, 895c43d enables the new implementation by default.

[2019-05-21 13:20] ulfjack commented on #8320
A stack trace would be useful.

[2019-05-21 13:21] ulfjack commented on #8320
It's odd that this only seems to happen on buildbarn. We don't have any other reports, AFAIK.

[2019-05-21 13:24] davido commented on #5816
Thanks. I see it now:

[code]

I filed: [1].

* [1] https://bugs.chromium.org/p/gerrit/issues/detail?id=10888

[2019-05-21 13:58] davido commented on #5818
Ah, right. I forgot that Bazel is using forked version of Protobuf.

[2019-05-21 13:58] iirina commented on #5821
This is what `neverlink` is supposed to do, and you can use it on any kind of java rule targets. Assuming the guava targets defined via java_import(name = 'guava19',...) and java_import(name = 'guava20',...), you can set  `neverlink = true` on guava19 and it won't end up on the runtime classpath. Can you think of disadvantages of always setting a java_import/java_library as neverlink in your proje

[2019-05-21 14:00] iirina commented on #5821
@ittaiz What's the status on the scala rules? Is there anything I can help with to migrate to the JavaInfo constructor?

[2019-05-21 14:06] ulfjack commented on #8320
I can't get buildbarn to work:
[code]

That's literally all the error message I get.

[2019-05-21 14:10] ulfjack commented on #8320
While I'm here: it's not a good idea to attempt a network connection in BlazeModule.beforeCommand.

[2019-05-21 14:17] ulfjack commented on #8320
[code]

[2019-05-21 14:18] buchgr opened #8421 "implement action output inlining for remote execution"
See https://github.com/bazelbuild/remote-apis/commit/948b9c7e3311ffef8f01b4ccb65a06875d65af20

[2019-05-21 14:20] ulfjack commented on #8320
That's with TLS *disabled*, AFAICT, using all TLS-disabling options I can find.

[2019-05-21 14:23] ulfjack commented on #8320
Ah, I got it. It was picking up options from my global bazelrc. However, it still doesn't work:
[code]

I had to upgrade to a newer version of the bazel_toolchains, as 0.25.2 didn't work with the old one.

[2019-05-21 14:30] ulfjack commented on #8320
I can reproduce with a shell test. Here's a partial stack trace:
[code]

[2019-05-21 14:31] sergiocampama commented on #7674
I wonder how many projects in BuildKite may be silently broken (rules_apple definitely is)

[2019-05-21 14:38] ulfjack commented on #8320
Ok, I found it. Sorry about that.

[2019-05-21 14:38] buchgr commented on #8320
The fix for this will need a patch release for 0.25 and 0.26

[2019-05-21 14:39] buchgr commented on #7498
The fix for this will require a patch release, as the bug effectively causes an an infinite loop for remote execution: https://github.com/bazelbuild/bazel/issues/8320

[2019-05-21 14:40] buchgr commented on #7499
The fix for this will require a new release candidate, as the bug effectively causes an an infinite loop for remote execution: https://github.com/bazelbuild/bazel/issues/8320

[2019-05-21 14:41] ulfjack commented on #8320
The problem is right here:
https://github.com/bazelbuild/bazel/commit/4a5e1b7868f7cf5316d8e7838944f5bf2ae308e0#diff-7a4f8f06ca574919bd90a2fae061a43bR402

[2019-05-21 14:57] laszlocsomor commented on #7190
IIUC this isn't an issue then, no?
Can we close it?

[2019-05-21 15:01] meteorcloudy commented on #7190
I think so

[2019-05-21 15:01] #7190 closed

[2019-05-21 15:08] laszlocsomor commented on #7720
I believe everything is working fine here.

The `bazel run` seems to have failed because `python.exe` was not on the path, not because of the backslashed paths. I see the same if I remove python from my PATH and ignore all bazelrc files.

Then @aimoehi ran python with an absolute path (`C:\bazel\Python3\python.exe`), but used the backslashed path -- that didn't work in MSYS because Bash thought th

[2019-05-21 15:08] #7720 closed

[2019-05-21 15:10] laszlocsomor commented on #7503
Progress!

- `native_binary` ([source](https://github.com/bazelbuild/bazel-skylib/blob/master/rules/native_binary.bzl), [documentation](https://github.com/bazelbuild/bazel-skylib/blob/master/docs/native_binary_doc.md#native_binary)): wraps a native binary in a `*_binary` rule, which you can `bazel run` or use in `genrule.tools`
- `native_test` ([source](https://github.com/bazelbuild/bazel-skylib/b

[2019-05-21 15:14] haxorz commented on #7674
i or someone else will fix this (, probably internally).

assigning to myself for tracking purposes.

[2019-05-21 15:20] #8346 closed

[2019-05-21 15:28] jin commented on #7046
We've launched an invite portal at https://slack.bazel.build/ :tada:

[2019-05-21 15:28] #7046 closed

[2019-05-21 15:31] brandjon commented on #8414
Very nice, thanks for the diagnosis!

I actually have been debugging this very issue in bazelbuild/continuous-integration#578. I have an in-flight PR to fix it that uses the `export PATH` approach because I didn't know about `command -v`. But not only is your way more direct, it also avoids contaminating the environment for the payload Python program: Bazel intentionally (I can only presume) unset

[2019-05-21 15:52] #8320 closed

[2019-05-21 15:55] dhalperi commented on #7517
@iirina - will open other issues, if they are in Bazel. May well be in other libraries not working with java11 now. Just making sure I'm on good footing. Thanks again!

[2019-05-21 18:07] soonho-tri opened #8422 "xcode-locator fails in macOS-10.12"
### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[code]

Error:
[code]

### What operating system are you running Bazel on?

macOS 10.12.6 (16G2016)

### What's the output of `bazel info release`?

[code]

### Any other information, logs, or outputs that you want to share?

Xcode version: 9.2 (9C40b)

[2019-05-21 18:24] keith commented on #8422
This should have been fixed by https://github.com/bazelbuild/bazel/commit/231270c67d5aa771462245531fa9b2ee7d3d0ae8, you're definitely on 0.25.2? It definitely appears to be in that tag https://github.com/bazelbuild/bazel/blob/0.25.2/tools/osx/xcode_locator.m#L181-L188

cc @sayrer

[2019-05-21 18:28] keith commented on #7499
If 0.26.0 is supposed to be the migration window for https://github.com/bazelbuild/bazel/issues/7899 (based on the current tags on that issue) I think something will have to be cherry picked to fix https://github.com/bazelbuild/bazel/issues/8414 (here's my pass at this https://github.com/bazelbuild/bazel/pull/8415) cc @brandjon

[2019-05-21 18:31] soonho-tri commented on #8422
FYI, I'm using `bazelbuild/tap/bazel: stable 0.25.2`.

[2019-05-21 18:37] keith commented on #8422
Can you try with the current 0.26.0 RC build? Found here https://releases.bazel.build/0.26.0/rc12/index.html

[2019-05-21 18:40] brandjon commented on #7499
Note that #8414 prevents the use of the default Python toolchain (which searches for a Python interpreter on `PATH`) on Mac. However, you can still define your own custom Python toolchain that knows the path to the Python 2 and Python 3 interpreters on your specific system.

[2019-05-21 18:43] keith commented on #8393
Note that I just discovered that this is broken with `--experimental_execution_log_file` as well, which causes issues for us even without changing to the new flag.

[2019-05-21 18:54] soonho-tri commented on #8422
I've tried it but it didn't work:

Error message:
[code]

Bazel version:
[code]

[2019-05-21 18:57] soonho-tri commented on #8422
FYI, `bazel-0.24.1` has no problem.

[2019-05-21 19:19] davido commented on #7347
Same issue here with 0.26.0rc12:

[code]

[2019-05-21 19:22] keith commented on #8414
Fixed by https://github.com/bazelbuild/bazel/commit/7f495315749478e75a3424726cc273a535b7c3b8 as well

[2019-05-21 19:23] davido commented on #7499
As reported in https://github.com/bazelbuild/bazel/issues/7347#issuecomment-494522677 this option --incompatible_disallow_struct_provider_syntax (that is part of --all_incompatible_changes) seems to report breakage in Bazel itself. Tested on RC12.

[2019-05-21 19:53] brandjon commented on #7947
Regarding priority: This issue prevents using many kinds of in-workspace Python runtimes on Windows, including interpreters provided by external repos (e.g. `@bazel_tools`) and interpreters that are generated artifacts as opposed to checked-in binaries. In particular, it blocks the addition of the autodetecting toolchain on Windows (#7844). However, it does not block the roll out of Python toolcha

[2019-05-21 20:06] brandjon commented on #8414
FYI I am doubting my understanding of PATH being unset a little bit. If PATH really is unset by Bazel when executing a `py_binary` as a tool, why does the stub script shebang `#!/usr/bin/env python` work? Yet if Bazel weren't unsetting PATH, what could be causing the user Python code to see that it's missing from the environment immediately after the exec from the pywrapper script?

[2019-05-21 20:06] joshrosen-stripe commented on #6955
Maybe we should submit a PR to more clearly show the effective diff? As it stands now, this discussion links to PRs against `bazelbuild/rules_scala` and in that PR it's a little tricky to see the actual net change. If we submitted a PR directly against `bazelbuild/bazel` then it might be easier to reason about exactly what's being proposed.

[2019-05-21 20:48] keith commented on #8414
@brandjon I think that works because it ends up falling back to the default `PATH` set by the shell, and that happens to work because it likely includes the system python install in `/usr/bin`

[2019-05-21 21:01] dkelmer commented on #7498
Created 0.25.3
`scripts/release/release.sh create 0.25.3 318aebb523b3c91275855e35f0a67814e0d2231f 0ff19c6d0adf3c0df94fff59ca3bd13cbcf99897`

[2019-05-21 21:14] keith commented on #8414
I think I've verified this with a simple script:

[code]

Where the script is:

[code]

Or with a python script:

[code]

The first print here has nothing, but the second makes it clear it's using the macOS system python, not the ones earlier in my real PATH

[2019-05-21 21:31] keith opened #8425 "`bazel run` of `py_binary` target uses client `PATH`"
### Description of the problem:

Currently when setting up a `py_runtime`, any script you have called for the `interpreter` isn't called with any `PATH`, and ends up defaulting to the shell's default `PATH`, which can lead to using the wrong binaries depending on your system's configuration.

This was discovered while debugging https://github.com/bazelbuild/bazel/issues/8414

In our case we exec b

[2019-05-21 21:44] keith commented on #8422
I've submitted https://github.com/bazelbuild/bazel/pull/8426 to fix this

[2019-05-21 21:50] brandjon commented on #7026
Not sure what the resolution is on this issue, but to weigh in from a Python perspective:

The launcher needs (or rather, [will need](https://github.com/bazelbuild/bazel/issues/7947#issuecomment-494533972) in a future redesign) to be able to locate the system's `python.exe` and/or `py.exe` binaries. This could be done by reading registry keys for the Python installation(s), accessing the `PATH` at

[2019-05-21 21:50] dkelmer commented on #8320
@ulfjack  The added test fails on buildkite and locally when cherrypicked into the 0.25 release: https://buildkite.com/bazel/bazel-bazel/builds/8388#b6c12c75-4480-4fe8-93c4-f5ec9a99e4b7

[2019-05-21 22:00] brandjon commented on #8425
#7026 might be relevant to this.

The stub script should be able to run on any reasonable modern system Python interpreter. If it can't we'd probably consider that a bug. Alternatively, we could add a feature to customize the shebang, but I'd like to avoid that for now if possible.

The problems with how the environment is setup for an in-workspace `py_runtime` may have to do with how the rule is

[2019-05-21 22:10] brandjon commented on #8414
I had been assuming it was the shell itself that detected when `PATH` was unset, and gave it a default value. But I suppose that can't be the case if the shebang has already been processed that point. My confusion was over the fact that the stub script is a Python script, not a bash script, but again that doesn't matter before the shebang is processed.

So I wonder what it is that's initializing t

[2019-05-21 22:11] #8414 closed

[2019-05-21 22:11] jin opened #8427 "Identify the best set of default configuration for Android app full local build performance"
Using https://github.com/jin/android-projects/tree/master/big_connected as a reference: 30 Java-only and 30 Android modules.

### No configuration

[code]

[code]

[profile.json.gz](https://github.com/bazelbuild/bazel/files/3204732/profile.json.gz)

### Optimal configuration

With https://github.com/bazelbuild/bazel/issues/8342 on HEAD:

[code]

[code]

Using the right set of flags, we can halve t

[2019-05-21 22:17] keith commented on #8393
I've submitted a fix for this https://github.com/bazelbuild/bazel/pull/8428

[2019-05-21 22:17] keith commented on #7499
I'm not sure this is an important enough issue but there was a regression related to being able to negate log path flags https://github.com/bazelbuild/bazel/issues/8393 that I have just submitted a fix for https://github.com/bazelbuild/bazel/pull/8428

[2019-05-21 23:31] timpeut commented on #8391
Flag has been added. Should be released in 0.27

https://github.com/bazelbuild/bazel/commit/6fe6e984c325f91a8c5d69cfef84d3ea4b06c8ef

[2019-05-21 23:33] timpeut commented on #8391
And the `native-android` fix has been added to buildifier

https://github.com/bazelbuild/buildtools/pull/638

[2019-05-22 00:41] cgruber commented on #7446
I take it that change didn't make it into 0.25.2? I can't seem to find that flag:

[code]

bazel version returns:
[code]

[2019-05-22 00:46] keith commented on #7446
It appears to be in the tag https://github.com/bazelbuild/bazel/blob/0.25.2/src/main/java/com/google/devtools/build/lib/runtime/BlazeServerStartupOptions.java#L487-L499 note that it is a startup option, not a build option

[2019-05-22 01:42] cgruber commented on #7446
Gah.  That's likely my mistake. Thanks!

[2019-05-22 05:11] davidsantiago commented on #8313
I believe the "wrong JDK" issue is a misdiagnosis of [an issue in the Kotlin rules](https://github.com/bazelbuild/rules_kotlin/issues). However, I think the documentation and possibly additional diagnostics discussed would still be very helpful.

[2019-05-22 07:04] fang2329 opened #8430 "Compilation is complete on ubuntu14.04,but it doesn't works as expected on ubuntu 12.04,so,how can I resolve it"
### Description of the problem / feature request:

### Feature requests: what underlying problem are you trying to solve with this feature?

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

### What operating system are you running Bazel on?

### What's the output of `bazel info release`?

### If `bazel info release` returns "developm

[2019-05-22 07:41] ulfjack commented on #8320
Sorry about that. The test relies on the directory being created in the test strategy, which is only true after fb04c5b732fb1d0942765a57a4c9cc945df28f97. You can either ignore the failure, disable the test in the release branch or cherrypick fb04c5b732fb1d0942765a57a4c9cc945df28f97 as well. It applies cleanly and also fixes the test failure, but I did not try running all the tests.

[2019-05-22 07:53] excitoon commented on #1250
This looks like discussion mentioned by @aehlig: https://bugs.openjdk.java.net/browse/JDK-8169565
Btw, I wonder, why do we constantly poll input streams even if we got 0 bytes of data? This looks suboptimal (InputStreamSink.java):
[code]
See also: https://docs.oracle.com/javase/8/docs/api/java/io/BufferedInputStream.html

[2019-05-22 07:55] excitoon commented on #1250
[code]

[2019-05-22 08:07] meteorcloudy commented on #8372
@ishikhman @buchgr Can you help fixing the Remote Execution job ?
https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/989#c020a9d7-2121-46d7-82c6-d073f341e24b

[2019-05-22 08:09] or-shachar commented on #7499
Just checked with rc12 and got the message:
[code]
Isn't exec_compatible_with in common attributes?

[2019-05-22 08:16] StephenWassell commented on #7817
Solved! --distdir was the answer. It only needed one package on Linux:
https://mirror.bazel.build/openjdk/azul-zulu10.2+3-jdk10.0.1/zulu10.2+3-jdk10.0.1-linux_x64-allmodules.tar.gz

[2019-05-22 08:16] #7817 closed

[2019-05-22 08:27] philwo opened #8432 "Bazel 0.25.2 hangs after running a few jobs"
### Description of the problem / feature request:

Observed here: https://buildkite.com/bazel/bazelisk-plus-incompatible-flags/builds/115#c9e1d6df-0d66-40a1-ba84-f829f85f1ed6

Bazel 0.25.2 was hanging after running a few `bazel test` builds with various incompatible flags.

I captured the `ps -axuf` and `jstack` of the container. The suspicious part is this:

[code]

Here's the full log:

[code]

[2019-05-22 08:56] ishikhman commented on #8372
@meteorcloudy sure, I'm on it

[2019-05-22 09:00] tsvisabo opened #8433 "Shouldn't pull archives when there is more than one defined with the same name"
### Description of the problem / feature request:
Multiple `http_archives` with the same _name_ attribute shouldn't be allowed on the same WORKSPACE, i assume it applies also to `new_http_archives` and `git_repository` too

### Feature requests: what underlying problem are you trying to solve with this feature?

Having unique archive names in the same WORKSPACE and avoid pulling remote archives on

[2019-05-22 09:06] guibou opened #8435 "Unprecise error message when toolchain info features configuration is wrong"
### Description of the problem / feature request:

When trying to convert my codebase from `CROSSTOOL` to the skylark toolchain definition, I used a string in the `features` field of `cc_common.create_cc_toolchain_config_info`, such as:

[code]

This leads to the following error message:

[code]

This can be improved, mostly because `SkylarkInfo` is too vague to help understand by what the string

[2019-05-22 09:15] laszlocsomor commented on #7947
Thanks for the summary!

IIUC we do so because the stub script itself is in Python, so the binary requires a system interpreter even in presence of a bundled interpreter. But isn't part of a bundled interpreter's goal to enable running without a system interpreter?

The analogous problem is running Bazel itself. The embedded JVM lets you run Bazel without a system JVM. Its launcher (the bazel clie

[2019-05-22 09:19] laszlocsomor opened #8436 "Python: py_binary output zip may be non-deterministic"
### Description of the problem / feature request:

Repro: https://github.com/laszlocsomor/projects/tree/master/bazel/python_zip_nondeterministic

When building a py_binary with `--build_python_zip`, the zip file's contents are not sorted, so it might be non-deterministic.

### What operating system are you running Bazel on?

Windows 10 , Linux

### What's the output of `bazel info release`?

relea

[2019-05-22 09:20] guibou opened #8437 "Toolchain tutorial need more examples"
### Description of the problem / feature request:

When reading the documentation for toolchain: https://docs.bazel.build/versions/0.25.0/cc-toolchain-config-reference.html I had issues finding the information I wanted.

The documentation can benefit to have more examples. Actually, I had to grep / read through the bazel source code, mostly reading file `tools/cpp/cc_toolchain_config.bzl` to find

[2019-05-22 09:21] buchgr commented on #7026
@brandjon

I am working on a design atm. The gist is that I propose to add environment variables to toolchains. Will set you as reviewer once published.

[2019-05-22 09:27] laszlocsomor commented on #8436
This is not just on Windows, I see it on Linux with `--build_python_zip`:

[code]

[2019-05-22 09:29] guibou opened #8438 "toolchain tool_paths should accept labels"
### Description of the problem / feature request:

toolchain confiuration `cc_common.create_cc_toolchain_config_info` attributes `tool_paths`/`path` should accept bazel labels.

### Feature requests: what underlying problem are you trying to solve with this feature?

The current status (in bazel 0.25) is that toolchain configuration info attributes for tool paths only accept local or absolute path

[2019-05-22 09:32] laszlocsomor commented on #8436
Repro (added to original message): https://github.com/laszlocsomor/projects/tree/master/bazel/python_zip_nondeterministic

[2019-05-22 09:33] laszlocsomor commented on #8436
/cc @brandjon

[2019-05-22 09:35] aehlig commented on #7499
Will cherry-pick 0ff19c6d0adf3c0df94fff59ca3bd13cbcf99897 for #8320. For the others who want "something" to be cherry-picked, please specify
- which commit precisely should be cherry picked, and
- what the justification is.

Note that, in general, migration windows can be moved, if the feature is not yet ready for migration.
Thanks.

[2019-05-22 09:36] ulfjack commented on #8432
It looks like this is the update thread:
[code]

[2019-05-22 10:36] ghost opened #8439 "`test_tag_filter` should imply `build_tag_filter` in `bazel test` command"
### Description of the problem / feature request:

Right now, the somewhat innocent looking command
[code]
builds far more than it needs to to run the specified test.

As far as I can tell, this is because bazel is interpreting the `test` command as
[code]
and since the first part of that ignores `--test_tag_filters`, the above innocent-looking command expands to
[code]

This is _very_ counter-int

[2019-05-22 10:43] vmax commented on #8277
We were able to resolve it by wrapping `singlejar` in a Java wrapper ([src](https://github.com/graknlabs/build-tools/blob/3fd3f7c48104f5d72ada6efe38ddc6ea7fc14d20/bazel/SingleJar.java)) and using custom `java_toolchain` ([src](https://github.com/graknlabs/build-tools/blob/3fd3f7c48104f5d72ada6efe38ddc6ea7fc14d20/bazel/BUILD#L38-L60))

[2019-05-22 11:01] or-shachar commented on #7499
@aehlig - did you notice my issue?

[2019-05-22 11:59] aehlig commented on #7499
Well, I've seen [your comment](https://github.com/bazelbuild/bazel/issues/7499#issuecomment-494699539). However, in which way is it actionable? I have no idea which code you're looking at, no idea how `scala_junit_test` is defined. Are you claiming this is a regression with respect to `0.25`, or with respect to an earlier rc?

[2019-05-22 11:59] ittaiz commented on #6245
@cushon should `JDK 11 host runtime support (--host_javabase)` be updated? The linked issue is closed

[2019-05-22 11:59] laurentlb commented on #7499
@or-shachar Can you file a separate issue? We can look at it.

[2019-05-22 12:00] aehlig commented on #7499
RC 13 is available at https://releases.bazel.build/0.26.0/rc13/index.html

[2019-05-22 12:01] ulfjack commented on #8432
+@aehlig

My best guess is that something swallowed an interrupt in some code that is called by the cli-update-thread. If that happens between the interrupt call from the stopUpdateThread method and returning from eventHandler.doRefresh in the cli-update-thread, then that can lead to a hang.

I recently looked at the grpc handling code, and I seem to remember that it didn't handle interrupts corre

[2019-05-22 12:06] iirina commented on #6245
This can be closed altogether.

[2019-05-22 12:06] #6245 closed

[2019-05-22 12:16] ittaiz commented on #6245
you mean everything is supported? are there docs for bazel and jdk11?

[2019-05-22 12:17] ittaiz commented on #6245
for example what is the toolchain I should use for jdk11

[2019-05-22 12:28] meteorcloudy commented on #7947
This is true when using python toolchain or `--python_top`. That's why #8840 can fix this problem.

[2019-05-22 12:30] meteorcloudy commented on #7947
With #8440, I can run all commands in https://github.com/pziggo/bazel_py_runtime_win_example, but got error like this
[code]
But it's caused by the python binary we are using, not a Bazel bug.

[2019-05-22 12:38] buchgr commented on #3383
That's been fixed a while ago when we added support for Capabilities

[2019-05-22 12:38] #3383 closed

[2019-05-22 12:39] buchgr commented on #2845
That's been fixed a while ago. When we find such a directory we do readdir() on it.

[2019-05-22 12:39] #2845 closed

[2019-05-22 12:42] buchgr commented on #7762
That's been fixed.

[2019-05-22 12:42] #7762 closed

[2019-05-22 12:43] buchgr commented on #7286
closing due to inactivity

[2019-05-22 12:43] #7286 closed

[2019-05-22 12:45] aehlig commented on #7499
Looking at the [downstream projects](https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/990),
- [Kythe](https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/990#2d811aa8-fc6d-4815-aea0-f98709514044) is broken by their version-number check; will ignore those kind of errors, and
- [upb](https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/990#d80aa7df-e452-4701-

[2019-05-22 12:54] aehlig commented on #7499
Actually, looking at the `upb` error again, it is still a broken version number check. Will ignore all those kind of errors during releases.

[2019-05-22 13:16] uri-canva commented on #6245
https://github.com/bazelbuild/bazel/blob/108bc5aaf46c4ec5e6dc0ac7c81c2f16d9ae2a21/tools/jdk/BUILD shows `remote_jdk10` and `remote_jdk11`, but no `toolchain_java10` or `toolchain_java11` from what I can tell.

[2019-05-22 13:31] beasleyr-vmw commented on #8313
Something like https://docs.bazel.build/versions/0.25.0/tutorial/cc-toolchain-config.html but for Java would be amazing. I could really use something like that now, because I'm trying out the toolchain resolution support in 0.26.0 with `--incompatible_use_toolchain_resolution_for_java_rules`. (FWIW, my use case is that I want to use both JDK7 and JDK8 simultaneously in a single build, so I can't j

[2019-05-22 13:42] jmmv commented on #8407
Yes, you are right. Unix sockets are a problem... but the good thing is that, since the conversion of the Blaze client to gRPC, we don't use one any more! We actually use a localhost-bound port! (Actually, that's not a good thing, but at least it wouldn't prevent us from moving the output base today.)

It'd be nice to move the output base and possibly even split it into multiple pieces (most of th

[2019-05-22 13:48] hlopko commented on #7026
@brandjon to educate myself more, is PATH needed in some action, or is it enough to read PATH from a repository rule doing autodetection of the python toolchain and all python actions then can use this potentially absolute path to python.exe without the need to look into PATH at the execution phase?

[2019-05-22 14:43] laurentlb commented on #8305
You can file a documentation bug against Skylib.

Before we add any feature, we need to go through a process and check the implications. I don't really want to encourage code that behaves differently based on the version number. You can use versions.bzl to tell users when they have an old version of Bazel.

Do you really have to support old versions of Bazel with a different code path?

[2019-05-22 14:47] jin commented on #8427
fyi @meisterT @joeleba

[2019-05-22 15:29] gmishkin commented on #6245
I don't think you're supposed to use the toolchains named in that style anyway if you want the new stuff, the one that's just called `toolchain` or `remote_toolchain` now points to the recent work: https://github.com/bazelbuild/bazel/commit/bad5a2beb9f8441d97b88d5c4323055e710f72e8#diff-b53d77ce419e665f48b6c7bca4965357

But I haven't checked whether the language level for Java 11 is usable yet, and

[2019-05-22 16:04] jmmv commented on #8230
Some tests I ran with this reproduction:

[code]

And corresponding observations:

1. Each action in this build has 11k files.
1. sandboxfs does seem to help (as expected based on the previous).
1. `--sandbox_debug` makes quite a bit of a difference. Deleting all the symlink trees is expensive, and this flag has the side-effect of not deleting them. But creating them is also quite expensive.
1. Th

[2019-05-22 16:15] EricBurnett commented on #8125
Changing the API to require a positively set field (so an empty proto isn't valid) is also https://github.com/bazelbuild/remote-apis/issues/6 . I don't think it can happen until V3, since it'd be a breaking change, but would be a long-term defense against this.

[2019-05-22 16:29] davido commented on #6245
Can someone clarify how the point 3 from the issue description is solved on Bazel@HEAD?

[2019-05-22 16:35] cushon commented on #6245
The Java 11 language level works for me at head:

[code]

[2019-05-22 16:35] #5723 closed

[2019-05-22 17:08] gmishkin commented on #6245
Thanks, is this the recommended way of setting the language level, or will the toolchain rule be updated to have a `release_version` argument?

Also assuming this works with remote_jdk11 as the host_javabase and not just when setting JAVA_HOME?

[2019-05-22 17:12] brandjon commented on #7499
To recap the issue with #8414: It makes migration for Python toolchains (#7899) more difficult on mac than it needs to be, but doesn't block migration entirely. It's fixed by 7f495315749478e75a3424726cc273a535b7c3b8, but the fix modifies the `PATH` environment relative to what Bazel sets up, and that's fixed in ddce7235ef29a0aba727c265eae865d15af4ed09.

So cherrypicking both commits (in that order

[2019-05-22 17:19] keith commented on #7499
I think if that flag is going to be flipped in 0.27.0 it needs to function in 0.26.0 so that mac users don't have to ship with an incompatible flag, or delay updating to 0.27.0 while they migrate.

[2019-05-22 17:28] brandjon commented on #7499
Escalating to @dslomov for @keith's concern on migration window timing. I don't want to push this flag flip past 0.27 because we're looking at a longer stability window starting at that release. Flipping the flag helps us fix #4815 (except on Windows, which still needs an autodetecting toolchain implementation), which has caused confusion around Python versions for a long time.

I think requiring

[2019-05-22 17:51] brandjon commented on #7026
Well the repo rule method saves a little overhead (extra process launch for bash or a C++ wrapper), but it only works for single-platform builds.

Regardless of what stage it's done at, logically the detection needs to be done on the same platform as the target runs on, and the detection needs access to the system PATH. Alternatively, we could require users to provide their own explicit toolchains

[2019-05-22 17:52] brandjon commented on #8436
I'll look at fixing this for 0.27.

[2019-05-22 18:53] c4urself opened #8443 "make_deb.py does not seem to be Python3-compatible"
### Description of the problem / feature request:

sys.argv is assumed to be bytes but is actually unicode in Python3

### Feature requests: what underlying problem are you trying to solve with this feature?

using make_deb.py with Python3 like I did before this commit: (https://github.com/bazelbuild/bazel/commit/70e3c339bea02f6e9273b13de11d078ca6c2752f#diff-687105bbda36ddcad584169fe214e7e1)

###

[2019-05-22 19:15] DrItanium opened #8444 "cstdlib shipped with gcc 6, 7, and 8 fail to find stdlib.h in standalone spawn strategy which causes build failures"
### Description of the problem / feature request:

It seems that due to a change made in cstdlib starting with gcc 6, the use of -isystem command line options causes the system include order to change and thus c++ code which uses cstdlib will fail to build if the spawn strategy does not use the sandbox.  See the bottom of the report for the full description of what is going on. The issue in questi

[2019-05-22 19:16] #8342 closed

[2019-05-22 19:34] trybka commented on #2537
I don't think a ton of folks debug cc_binary targets internally on a mac.

That being said, I'd believe that we need to add dsym generation for cc generally.

[2019-05-22 19:46] rmstar commented on #2537
FWIW I'm an internal user working on gRPC. It would be great if we could get a fix for this issue :smile:

[2019-05-22 20:33] #7513 closed

[2019-05-22 21:31] brandjon commented on #7947
I don't think this is something we need to prioritize, but it'd be nice to have in the future. With a bundled interpreter that requires the system interpreter for bootstrapping, you still get hermeticity once you're past the stub script phase.

Then by that logic we could embed a native Python interpreter (perhaps miniaturized) into each py_binary artifact. But at that point perhaps it'd be worth

[2019-05-22 21:33] #8022 closed

[2019-05-22 21:53] petemounce commented on #7498
I tried to create the 0.25.3 chocolatey package, but https://github.com/bazelbuild/bazel/releases/tag/0.25.3 does not exist yet?

[2019-05-22 21:57] laurentlb commented on #8409
I agree `list.sort` can be useful in a few cases.

In my experience, it's rare though. Converting a depset to a sorted list shouldn't be frequent (flattening a depset should be avoided when possible).

[2019-05-22 21:59] brandjon commented on #7947
[Apparently](https://stackoverflow.com/a/6501134) the `exit()` function doesn't exist if you invoke Python with `-S`. We should change our calls to `exit()` in the stub script to instead use `sys.exit()`. I'll make a quick fix for that.

[2019-05-23 06:50] Globegitter commented on #8230
@jmmv I have also seen improvements with the async delete and I reported the crash here: https://github.com/bazelbuild/bazel/issues/7527#issuecomment-491634909

[2019-05-23 07:19] ulfjack commented on #8432
I don't see any place below that code that doesn't handle interrupts correctly. I can patch the ExperimentalEventHandler to better handle that 'just in case', but I don't have any to confirm that it fixes the issue.

[2019-05-23 08:21] dslomov commented on #7499
@brandjon can you summarize why pushing the flag flip beyond 0.27 is detrimental? Basically all the new features should already be available, so people can already use them even if the old behavior still exists, or am I missing something?

[2019-05-23 08:27] aehlig commented on #7499
Thanks for the summary. Looking at the patches, they seem to be limited enough in scope to be safely cherry-picked.

[2019-05-23 08:40] laszlocsomor commented on #7947
Thanks for confirming. I just wanted to note that requiring an ambient Python interpreter might cause frustration. People were unhappy about Bazel requiring MSYS2 too.

Sounds reasonable.

Agreed. The Bazel client does the same.

Indeed. :)

Thanks. None of that sounds daunting. I implemented the [test wrapper in C++](https://github.com/bazelbuild/bazel/blob/6f38f345a1bd278a71170c5d80aba3928afdc6e

[2019-05-23 08:49] hlopko commented on #7849
Correct, we'll add migration instructions and start migrating soon. First we need to introduce Java constraint settings and values. @iirina is well on top of things.

[2019-05-23 09:22] laszlocsomor commented on #6937
/cc @laszlocsomor

[2019-05-23 09:25] aehlig commented on #6879
Actually, the bug is not OS X specific. I managed to reproduce on Linux as well, with current bazel at head.

Reproduction script.

[code]

[2019-05-23 09:26] ishikhman commented on #8430
Hi @fang2329,

short answer: if you build something on newer ubuntu version it will not work on the older one, and this is not something bazel specific.

If you need any specific advice, please provide some more details like the template suggests ;)

[2019-05-23 09:26] aehlig commented on #6879
Interestingly enough, it was necessary that the local repository is located inside the workspace. A parallel directory, included with `local_repository(name="ext", path="../local")` does not show this issue.

[2019-05-23 09:27] davidzchen opened #8445 "dyld: lazy symbol binding failed on Darwin for cc_test target"
### Description of the problem / feature request:

Running gunit unit test using `blaze test` on Darwin results in dyld lazy symbol finding error:

[code]

Setting `linkstatic = 1` on the `cc_test` target results in the following linker error:

[code]

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Reproduction case available here:

[2019-05-23 09:42] davidzchen commented on #8445
Actually, I thought I had isolated a base repro case for this, but it turns out not. I'll close it for now and reopen once I have that set up.

[2019-05-23 09:49] aehlig commented on #7499
[code]

RC 15 is available under https://releases.bazel.build/0.26.0/rc15/index.html

[2019-05-23 10:41] hlopko commented on #2537
We have fission (.dwo files), so maybe extending the support to .dsym won't be that hard? I'm saying this without actually investigating the details, beware :)

[2019-05-23 10:53] buchgr commented on #8125
I believe Bazel should be able to handle it client side independent of the API. To the best of my knowledge if the output is of type `Artifact` it's a declared and thus required output by Bazel.

[2019-05-23 11:04] ishikhman commented on #7932
@EricBurnett, @agoulti, @buchgr: Do we know a use case for a flag `--no-remote-cache`?

`no-remote` - no interactions with remote systems for this target
`no-remote-exec` - no remote executions for this target, but we still want to use remote cache for local actions (both read and write). For the cases when some actions are always executed locally.

`no-remote-cache` - would mean smth like: execut

[2019-05-23 11:25] aehlig commented on #7499
The [run of the downstream projects](https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/993) looks good (again `upb` is broken because of their version-number check).

[2019-05-23 11:27] aehlig commented on #7499
Please test RC15 carefully! If no blockers are reported here till Monday, May 27, 2019, morning Munich time, I will promote RC15 to release.

[2019-05-23 11:58] brandjon commented on #7499
Thanks for the cherry pick. To respond to Dmitry: Without the flag flip, the *default* behavior of Bazel will be that #4815 is still the reality for users out-of-the-box on all platforms. With the flag flip, that bug goes away on linux and mac (but not yet windows). #4815 leads to a pretty bad experience with how Bazel manages PY2 vs PY3, and it's not immediately obvious to new users why it would

[2019-05-23 11:59] dslomov commented on #7499
Thanks for the context @brandjon, cherry-pick lgtm.

[2019-05-23 12:06] phb commented on #6879
@aehlig In my case the local repository is not inside the workspace but a sibling directory to the workspace. My local_repository(..) references the directory with an absolute path in case that would make a difference.

[2019-05-23 12:23] fweikert commented on #6937
@jin - who should own this issue? You're the expert for versioned documentation :)

[2019-05-23 12:36] ensonic commented on #6136
Unfortunately the workaround in
https://github.com/bazelbuild/bazel/issues/6136#issuecomment-425710997
breaks the build on macos x.

[2019-05-23 12:38] aehlig commented on #6879
I still did not manage to reproduce the issue. Can you provide more information, or even a simple reproduction script?

I'm currently trying on a Mac Pro with bazel 0.25.2.

[2019-05-23 12:43] brandjon opened #8446 "Don't require a system-installed Python interpreter for bootstrapping"
Forked from discussion in #7947. On windows, we can have the native launcher take on the [responsibilities](https://github.com/bazelbuild/bazel/issues/7947#issuecomment-494981489) of the stub script, in particular extracting the runfiles. This means it can use any Python runtime to launch the user code, including a runtime in runfiles.

We should also consider creating a native launcher for non-Wi

[2019-05-23 12:44] brandjon commented on #7947
That all sounds good to me. I forked off #8446.

In the meantime, we should make the launcher better at detecting a system interpreter. We can track that in this bug.

[2019-05-23 12:46] laszlocsomor commented on #8446
/cc @laszlocsomor

[2019-05-23 12:46] jgavris commented on #6136
@ensonic what version of bazel are you using? We haven't seen it on 0.22 and later on macOS.

[2019-05-23 13:08] EricBurnett commented on #7932
Does no-cache have any local meaning? Docs seem to imply it only applies to
remote caches anyways, in which case I'd interpret no-cache and
no-remote-cache as synonymous.

Only reason I'd want to have both would be because of some semantic
difference - e.g. if no-cache prevents *local* caching that no-remote-cache
does not, and so no-remote-cache works better for incremental builds where
you want

[2019-05-23 13:13] tsiq-johan commented on #6879
I haven't been able to reproduce it outside of my main repository unfortunately. I tried your script and no luck there as well.

It's pretty easy for me to reproduce manually, so I could compile bazel from head and add in some instrumentation. Do you have any ideas of where to start looking?

[2019-05-23 13:13] phb commented on #6879
I haven't been able to reproduce it outside of my main repository unfortunately. I tried your script and no luck there as well.

It's pretty easy for me to reproduce manually, so I could compile bazel from head and add in some instrumentation. Do you have any ideas of where to start looking?

[2019-05-23 13:36] aehlig commented on #6879
`git_repository` is a [SkylarkRepository](https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/bazel/repository/skylark/SkylarkRepositoryFunction.java), so the interrupt happens somewhere in the `fetch` method there, actually in the line `Object retValue = function.call(...)`; so somewhere up the call stack, the `InterruptedException` must cause the removal.

[2019-05-23 13:45] phb commented on #6879
I believe the interrupt is essential for the issue, I have never seen it without an interrupt.

Here is a redacted log from when I just reproduced it. This was not using bazel head but 0.25.2.

[code]

So trying manually to switch back and forth, I've managed to reproduce it once in 25 minutes, so I can't say I still understand exactly what happens.

We do not use strip_prefix.

[2019-05-23 13:46] buchgr commented on #7932
no-cache has a local meaning in that it prevents Bazel from caching it locally. So I think we'll need no-cache and no-remote-cache

[2019-05-23 14:03] phb commented on #6879
Ok, did some more experimentation and I can reproduce it every time by just speeding up the whole thing
[code]

- If I skip the second run, no files deleted
- If I add a sleep between the stash pop and the run, no files deleted
- The files starts to be deleted pretty much first thing during the second run, depending on how quickly they get removed the build fails at different stages (as the depend

[2019-05-23 14:07] aiuto commented on #6937
If we can do any quick fix, that would be fine for now.
For Federation releases, I want to do versioned doc sets that include rules too, with links to bazel at the appropriate federation version. We will have to redo the docs pipeline at that time.
So then the question is if this EngProd, Product, or DevExp at that time.

[2019-05-23 14:09] brandjon commented on #7947
Let's discuss the merits of the approach of #8440 here. That PR makes it so if a runfiles path is passed to the launcher, it uses rlocation to resolve that to its absolute path. Since when a zip file is used the runfiles are manifest-based rather than directory-based, this doesn't suffer the chicken-and-egg problem of accessing an interpreter in a zip.

It does suffer the problem where if the buil

[2019-05-23 14:31] #8393 closed

[2019-05-23 14:36] brandjon commented on #7947
Although, one consequence of this design is that if you have no system Python interpreter, but your build has a checked-in interpreter, it'll work on your development machine since the actual not-in-runfiles interpreter file is available, and then fail on a user's machine. But we don't have a better option before #8446.

[2019-05-23 15:11] ishikhman commented on #7932
@EricBurnett @buchgr thanks!

[2019-05-23 15:19] jmmv commented on #7742
Thanks for the detailed reproduction steps. Was trivial to copy/paste them.

If you run the build with `--sandbox_debug`, you'll be able to navigate into the `external/git_repo` directory that is created. There you will see that `.git` exists... but all of its contents are symlinks to the original files. I think these symlinks are confusing Git though I haven't investigated further.

Running this

[2019-05-23 15:22] meteorcloudy commented on #7947
Indeed #8440 is just for making existing behavior that works on Linux also works on Windows.

Beyond this, it's not a Windows only problem. Ideally we should move all logic in `python_stub_template.txt` to the python native launcher. I considered to do so when implementing the native launcher, but at that time we are still making many changes to `python_stub_template.txt` and native launcher is on

[2019-05-23 16:20] aehlig commented on #6879
Bazel itself has no such queue used for external repositories; but it might be `git` itself. A `git clone` uses several processes and removes the directory to be cloned upon interruption. So it could be bazel not properly waiting for `git` to terminate, or be a missing `waitpid` in `git`, or bazel forcefully killing the `git` process waiting for its child it that takes too long, leaving an orphane

[2019-05-23 16:56] shahms commented on #7130
The Kythe failure https://buildkite.com/bazel/bazelisk-plus-incompatible-flags/builds/116#e51eb810-7764-4a5b-b59a-94e9cb7d7c87 is also related to fully-qualified toolchain_type resolution.

[2019-05-23 17:01] shahms commented on #7130
[code]
Versus:
[code]

[2019-05-23 17:16] brandjon commented on #544
See #7947 for some discussion about using an arbitrary system interpreter for the stub logic versus using the exact interpreter specified by the target. The gist of it is:

1. The stub logic should be runnable with any reasonable interpreter, so it shouldn't matter which one gets used.
2. The stub can't necessarily use an interpreter from the zipped runfiles (as opposed to a system interpreter), b

[2019-05-23 17:16] #544 closed

[2019-05-23 17:23] brandjon commented on #6744
I'm closing this as redundant with #4815 and #7375. When toolchains are enabled (`--incompatible_use_python_toolchains`, see #7899), the autodetecting toolchain (non-Windows platforms only) specifically checks that the `python` command it finds has the expected version. If there's a problem, you can either change your system installation of Python or define an explicit Python toolchain for your pl

[2019-05-23 17:23] #6744 closed

[2019-05-23 18:15] ehthayer opened #8447 "$-escape does not remove escape in ctx.expand_location"
### Description of the problem / feature request:

$-escape is not removed from the output of ctx.expand_location()

### Feature requests: what underlying problem are you trying to solve with this feature?

bazel_build/rules_docker uses ctx.expand_location() to process jvm_flags and args.  We'd like to include environment variable references in our java containers that are substituted by a utility

[2019-05-23 18:34] jin commented on #6937
bumping this up to p1. I'll take a look at it sometime next week.

[2019-05-23 18:38] ericfelly commented on #6670
Klaus, how should we move forward here? Is there a blaze event that BEP should be listening to to formulate the right BEP data?

[2019-05-23 19:21] dkelmer commented on #7498
@petemounce, that is correct. I'm pushing it now. There was an issue that has been resolved.

[2019-05-23 20:54] keith opened #8449 "Building multiple targets for iOS results in duplicate builds"
Currently if you have a BUILD file with multiple targets like this:

[code]

And you build them all at once with `bazel build --apple_platform_type=ios //:all` (you have to pass `apple_platform_type` here because otherwise `Foo` is built once for macOS, which is likely indicative of the core issue).

You end up with multiple different libraries in `bazel-out`:

[code]

AFAICT there's no way to for

[2019-05-23 21:40] brandjon commented on #7805
Aiming to do this in 0.27.

[2019-05-23 21:40] brandjon commented on #7806
I don't want to add anything to `ctx.fragments` for Python because I don't want to add more native rule logic. It should be possible to retrieve the current target's Python version if the rule is made to have an implicit dependency on `@bazel_tools//tools/python:python_version`. Then you can consume [the FeatureFlagInfo provider](https://github.com/bazelbuild/bazel/blob/b5d534d8d683e6869f64b74ee06

[2019-05-23 22:23] rgatti opened #8450 "pkg_tar does not rebuild when filegroup references directory"
### Description of the problem / feature request:

When `filegroup` references a directory instead of explicit files `pkg_tar` does not see changes.

[code]

### Feature requests: what underlying problem are you trying to solve with this feature?

I would expect successive builds to update files inside the tarball when source files change.

### Bugs: what's the simplest, easiest way to reproduce t

[2019-05-23 23:32] or-shachar opened #8451 "exec_compatible_with not working with 0.26.0 (rc15)"
### Description of the problem / feature request:

`exec_compatible_with` is in [bazel common definition](https://docs.bazel.build/versions/0.24.0/be/common-definitions.html#common-attributes),
working great with rules_scala's [`scala_junit_test`](https://github.com/bazelbuild/rules_scala/blob/master/scala/scala.bzl#L682)

It helps us define different execution env constraints.

### Bugs: what's t

[2019-05-23 23:36] or-shachar commented on #8451
@laurentlb @aehlig

[2019-05-23 23:39] laurentlb commented on #8451
Did it work with Bazel 0.25?

[2019-05-23 23:40] or-shachar commented on #8451
yes it did

[2019-05-23 23:48] laurentlb commented on #8451
Possibly related to https://github.com/bazelbuild/bazel/issues/8134 and https://github.com/bazelbuild/bazel/issues/8026

In particular, https://github.com/bazelbuild/bazel/commit/a0f88c076349f84cfc3aeae01bf4043affe9775d is touching the base rule classes.

[2019-05-24 08:20] katre commented on #8451
Yes, I clearly missed something in that commit. Investigating now.

[2019-05-24 08:30] jmmv commented on #7936
The sandboxfs requirement is the easy prerequisite for this. If we denied access to everything, we could then whitelist the targets of the symlinks. The only problem is if tools follow those symlinks and then try to do e.g. a `readdir`, and there are tools that do that...  but conceivably we could fix this same thing with cow files or file copies.

Just saying. I agree that a stricter sandbox woul

[2019-05-24 08:39] jmmv commented on #7880
You seem to claim above that you use workers. Is that right? Which ones? If you do, #614 is indeed relevant because, when you hit Ctrl+C, Bazel is currently unable to tell those workers to stop what they are doing.

[2019-05-24 08:43] katre commented on #8451
This is a regression, caused by a0f88c0. I have a workaround, and will send an actual fix shortly.

The workaround: add the flag `--incompatible_disallow_rule_execution_platform_constraints_allowed` to your build. I am in the process of making every target allow the `exec_compatible_with` attribute, and this flag will opt you into that behavior.

The fix will be to just change the default assumpti

[2019-05-24 08:43] jmmv commented on #7493
Well, the code referenced by this stacktrace has the following comment in `SkyframeActionExecutor.java`:

[code]

so your guess that a very long command output can be causing this is plausible.

[2019-05-24 08:54] katre commented on #8451
This is a release blocker for #7499.

[2019-05-24 09:16] luorixiangyang commented on #2771
How to fix it? Could y give a detail solution by codes modification?
Do y mean need to modify source of bazel?

[2019-05-24 09:39] aehlig commented on #6879
Can you check between the two bazel runs which processes exist? In particular, it would be helpful to know if we some `git` process still exists that bazel did not wait for.

[2019-05-24 09:53] meteorcloudy opened #8455 "Suppress stdout/stderr for succeeded actions"
The TensorFlow Build log is very large on all platforms.
23MB on Linux: https://buildkite.com/bazel/tensorflow/builds/2816#36ea866d-db0b-4f4d-bb4d-562606c7376f

Most of them are caused by warning messages from compiler, because the build usually runs with `--keep_going` option, the true error message of a failing action is buried in the build log, it's hard for developer to figure out what's going

[2019-05-24 10:15] #8451 closed

[2019-05-24 10:17] katre commented on #7499
Please cherrypick 35dd05a059fa7fddfdd888cfc69102994e3c04dc for #8451.

[2019-05-24 10:36] meteorcloudy commented on #8455
It would also be nice if we can suppress stdout/stderr by action type. For example, suppress all compiling/linking stdout/stderr.

[2019-05-24 10:40] natros opened #8457 "The source jar does not contains resources files"
### Description of the problem / feature request:

I have this layout and I want to generate a jar with the sources:

[code]

The BUILD.bazel is a simple:

[code]

Generates the jar
[code]

and the jar with the sources
[code]

The generated jar contains all files:

[code]

but the `libres-src.jar` is missing the resources:

[code]

### What operating system are you running Bazel on?

### What's th

[2019-05-24 10:45] philwo commented on #8455
Check out this flag: https://source.bazel.build/bazel/+/8bd7e4822ed96615ccac77cc40ca96eddc74c510:src/main/java/com/google/devtools/build/lib/buildtool/BuildRequestOptions.java;l=104

I think it does exactly what we want? :)

[2019-05-24 10:47] meteorcloudy opened #8458 "Sort test result by status"
Currently Bazel doesn't group the test result by their status.

For example, the failed tests are scattered among the passed tests. It's hard to figure out what tests are failing.
[code]

Instead we should sort the test results by status:
[code]

[2019-05-24 10:53] meteorcloudy commented on #8458
FYI @gunan @philwo

[2019-05-24 10:54] meteorcloudy commented on #8455
Testing the flag at https://buildkite.com/bazel/pcloudy-test/builds/48 ;)

[2019-05-24 10:59] meteorcloudy commented on #8455
Works like a charm to filter all output from succeeded actions!

[2019-05-24 11:18] aehlig commented on #7499
RC 16 available at https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/bazel/repository/skylark/SkylarkRepositoryFunction.java

[2019-05-24 12:04] hlopko commented on #7260
@nlopezgi In the error message I see `cc_toolchain_suite`, that shouldn't be used at all with `--incompatible_enable_cc_toolchain_resolution`, is it possible that you were building the `cc_toolchain_target` explicitly? The expected error message is:

Can you describe a repro case if there's still a bug?

I just uploaded https://github.com/bazelbuild/bazel/pull/8459, which AFAIK removes the need fo

[2019-05-24 12:10] buchgr opened #8460 "implement circuit breaking for remote caching"
After a series of failures to fetch a remote result the remote cache should stop trying for a while and then try to recover after some time. This is useful for people working under bad / unreliable network conditions or even without a network.

[2019-05-24 12:12] aehlig commented on #7499
The [run of the downstream projects](https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/998) looks good. All failures are just version checks (effectively saying, it is OK to not test those projects).

Please test RC16 carefully and report any problems here. If nothing else gets reported, I will promote RC16 to release on Tuesday (May 28, 2019) morning Munich time.

[2019-05-24 12:19] meteorcloudy commented on #8458
/cc @aehlig Do you have any idea on this?

[2019-05-24 13:20] werkt commented on #8460
I can resurrect this, perhaps with more specific requirements if it satisfies this

https://github.com/werkt/bazel/tree/remote-cooldown

[2019-05-24 13:44] eytankidron opened #8462 "pkg_tar does not support tags"
When running a build remotely, setting tags=["local"] in a pkg_tar rule appears to have no effect, causing the pkg_tar to still run remotely.

I suspect this is a more general problem of the pkg_tar rule (or rather the [pkg_tar macro](https://github.com/bazelbuild/bazel/blob/master/tools/build_defs/pkg/pkg.bzl#L265)) not passing the tags property downstream.

[2019-05-24 13:54] nlopezgi commented on #7260
Hi Marcel,
You can repro this error using as base [this GCB build script](https://github.com/bazelbuild/bazel-toolchains/blob/master/tests/rbe_repo/bazel_incompatible_0_25.yaml) which tests a very simple cc target (`//examples/remotebuildexecution/hello_world/cc:say_hello_test`, i.e., I am not building the `cc_toolchain_target`)
The GCB yaml file shows all the flags needed o repro. You will need t

[2019-05-24 14:05] or-shachar commented on #8451
Thanks!

[2019-05-24 14:12] mzeren-vmw commented on #8458
Or just s/PASSED/passed/ ?

[2019-05-24 16:07] benjaminp commented on #8450
Bazel infamously does not correctly invalidate source directories. c64421bc35214f0414e4f4226cc953e8c55fa0d2 fixed this but behind a flag.

[2019-05-24 16:46] gunan commented on #8458
To just add one more thing.
When we run with `-k`, sometimes we get "NO STATUS".
Having `PASSED` tests all first, then having anything else would be very helpful.

[2019-05-24 19:53] #5818 closed

[2019-05-24 21:10] jwnimmer-tri commented on #8443
This is hitting us as well.  I think this was fixed in #6818 and then regressed by #7370.

[2019-05-24 22:12] Monnoroch opened #8463 "Compiling a cc_library with multiple toolchains"
### Description of the problem / feature request:

Can I compile the same `cc_library` with multiple toolchains in the same `bazel test //...` run?

Here is a hypothetical example of my BUILD file:

[code]

Using my current knowledge of Bazel I need to create two separate, but almost identical `cc_library` targets with different toolchains, but this becomes a nightmare when I have libraries depend

[2019-05-24 22:28] Monnoroch opened #8464 "Compiling a cc_binary with multiple defined values"
### Description of the problem / feature request:

I have a `cc_library` with a compile-time variable. Many other libraries depend on it recursively. I also have a `cc_binary` that indirectly uses this library. I want to compile two (or more) versions of this binary with a different value for this variable. Hypothetical example:

`my_lib.h`:
[code]

`my_lib.cc`:
[code]

`BUILD.bazel`:
[code]

With

[2019-05-25 01:15] Monnoroch commented on #8458
Feels like too small a feature request to create an issue, but there also should be a test result output mode that doesn't show cached tests. There's one that shows all (summary) and failed only (terse), but nothing in between to show all non-cached tests (both passed and failed).

[2019-05-25 02:58] rgatti commented on #8450
Thank you for the commit reference. Seems like the documentation should be updated if the best practice is to always reference source files directly and the only workaround is a `host_jvm_args`.

[2019-05-25 08:05] luorixiangyang commented on #8400
Hi dslomov，
I am not very clearify why this is not bazel issue. I found the corresponding code of Bazel source will occur the error,  could y help me to check why cause the error. I test py_test and cc_test all ok. only test for tf_cc_test will cause the error. I update CUDA to 10.0 and cudnn to 7.5 , tensorflow to 2.0 still have this error when run  tf_cc_test by bazel test. I also build a issue

[2019-05-25 08:12] kkiningh commented on #8464
Not exactly what you're asking for, but this how I would do this.

[code]

Depending on your use case, a macro might make more sense.

[2019-05-25 10:08] Monnoroch commented on #8464
@kkiningh, yes this is what I meant. However I don't have one library, I have a large tree of about a hundred libraries depending on each other. And every one of them would have to have two versions for just one variable. And each of them would have to use dependencies with a correct suffux. Now what happens if I were to have ten variables? Then each library would have to have a thousand versions!

[2019-05-26 16:23] alexeagle commented on #1931
@meteorcloudy we still have `--watchfs` disabled for Angular, presumably this is hurting us for Mac/Linux rebuild performance. ( https://github.com/angular/angular/issues/29541 referenced above)

I'm now creating a .bazelrc file to share with all frontend projects. I would rather not copy this setting for everyone, but we do need things to work on Windows out of the box.

A shorter term solution w

[2019-05-26 16:52] praseodym commented on #8443
Same problem with release 0.25.3 even with the `BAZEL_PYTHON` environment variable is set to `/usr/bin/python2`.

[2019-05-26 21:34] perezd commented on #7158
So I'm seeing this as well if I do the following in my bazelrc:
[code]
Following along here: https://github.com/bazelbuild/bazel/issues/5723
I am trying to run my existing bazel project using host jdk11 (ubuntu)

[2019-05-26 23:18] phb commented on #6879
Your intuition is indeed correct, there are a few git processes still running when the second bazel invocation starts.

git clone https://... /private/var/tmp/_bazel_johanbjork/5bbfecb1113aee50602070b
/usr/local/Cellar/git/2.21.0/libexec/git-core/git-remote-https origin https://...
/usr/local/Cellar/git/2.21.0/libexec/git-core/git index-pack --stdin --fix-thin --keep=fetch-pack 6090 on
/usr/local/

[2019-05-27 01:41] i-mann commented on #8283
Hi, my team has also found this issue. Is there any plan to address this soon/before the August 1st cut off?

[2019-05-27 04:20] qzmfranklin opened #8465 "pkg_deb breaks (again) under python3"
### Description of the problem / feature request:

`pkg_deb` uses `make_deb.py`, which breaks under python3

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.
[code]

[code]

Then, `bazel build` *any* `pkg_deb` targets would yield something similar to the following:

[code]
### What operating system are you running Bazel on?

Ubuntu 18.

[2019-05-27 04:27] qzmfranklin commented on #8465
@brandjon

This issue is of the exact same nature with https://github.com/bazelbuild/bazel/issues/6818:

This might have sounded similar, but I am a little surprised that no tests under python3 existed for so long for `pkg_deb`. Would like to see it change.

[2019-05-27 04:58] qzmfranklin commented on #8465
The offending line was committed by [this commit](https://github.com/bazelbuild/bazel/commit/70e3c339bea02f6e9273b13de11d078ca6c2752f#diff-687105bbda36ddcad584169fe214e7e1).

[2019-05-27 05:05] qzmfranklin commented on #8465
Looked around a bit, a bit surprised to find that there is no tests for `make_deb.py`.

Adding tests for it should help prevent such regressions in future releases.

[2019-05-27 07:01] Globegitter opened #8466 "Lazy loading of external repositories in BUILD files"
### Description of the  feature request:
Given the following BUILD file at the root of my WORKSPACE:

[code]

When I run `bazel run //:gazelle` and I do not have the `com_github_bazelbuild_buildtools`, or the `build_bazel_rules_nodejs` or any other repository I load on my disk yet (which is defined e.g. as an `http_archive` in the `WORKSPACE` file) then it will download that repository even though

[2019-05-27 07:28] meteorcloudy commented on #1931
I think it makes sense to make `--watchfs` a non-op on Windows for now. But in the long term this could be a useful feature to improve Windows performance as well, since IO operation on Windows is much slower than Mac/Linux.

[2019-05-27 07:31] meteorcloudy commented on #8458
@dslomov Can you help triage this issue?

[2019-05-27 07:47] laszlocsomor commented on #1931
I agree with @meteorcloudy .

@alexeagle , I don't think we should support disabling a flag just on one platform. I see no problem with making it a no-op on Windows though.

[2019-05-27 07:49] meteorcloudy commented on #1931
Cool, I will send a change for this

[2019-05-27 09:48] aehlig commented on #6879
Looking, with that knowledge, again at [the `git_repository` code](https://github.com/bazelbuild/bazel/blob/62e3df71ca74d493a48351fa36760fa5bd889322/tools/build_defs/repo/git.bzl#L52) it's pretty obvious what is going on: we do not call `git` directly, instead the process we spawn is a `bash`. And the way we're invoking `git` from `bash`, a `SIGTERM` does not get forwarded.

A simple reproduction

[2019-05-27 09:49] aehlig commented on #6879
This problem is present on all Unix-like platforms, and not specific to macOS.

[2019-05-27 10:05] gertvdijk commented on #7499
I believe that link should have been https://releases.bazel.build/0.26.0/rc16/index.html :smile:

[2019-05-27 10:23] phb commented on #6879
Thank you for investigating, looking forward to a fix. Also easy to avoid now that I'm aware what's causing it.

[2019-05-27 10:28] aehlig commented on #7499
Oh yes, indeed. Thanks! Edited the comment.

[2019-05-27 10:55] #7751 closed

[2019-05-27 12:13] ittaiz commented on #6862
@buchgr can I get the cherry-pick? are you waiting for the release itself?

[2019-05-27 12:33] ulfjack commented on #6862
@buchgr is out of office this week.

[2019-05-27 16:03] #7802 closed

[2019-05-27 17:49] smukherj1 opened #8469 "Compilation of Bazel source using Bazel Head on RBE fails due to spawn strategy rejecting genrule"
### Description of the problem / feature request:
Related to #7480. We have tests that run builds using RBE to build Bazel source using Bazel head. These tests started failing since May 16 with the following error:
[code]

Our tests  run `bazel test` using `--spawn_strategy=remote` on the following targets
[code]

### Feature requests: what underlying problem are you trying to solve with this feat

[2019-05-27 17:50] smukherj1 commented on #8469
FYI @nlopezgi

[2019-05-27 20:01] EricBurnett opened #8470 "Document/link bazel upgrade process"
### Description of the problem / feature request:

The upgrade process for switching bazel versions should be well documented and easy to find.

### Feature requests: what underlying problem are you trying to solve with this feature?

Bazel users don't appear to know about (or at least, follow) bazel's best practices around version upgrades, and when I search for information as if I was in their s

[2019-05-27 20:01] EricBurnett commented on #8470
@dslomov

[2019-05-28 01:10] aiuto commented on #8465
We are going to address pkg rules when we get them out of bazel core
https://docs.google.com/document/d/1GAbAiW0nVbxGlwsdXhFIcn3owlZJkMJiXBt-ttA9z_k/edit#heading=h.5mcn15i0e1ch

[2019-05-28 03:50] qzmfranklin commented on #8465
@aiuto

Thanks for the info!

I am unblocked by making a copy of the `pkg_deb` rule from Bazel core.

Agree that the pkg rules should be separated from bazel core.

Happy for now.

[2019-05-28 05:25] AleksandarFilipov commented on #7135
@AriellA et al,
Please don't forget about arm32.

[2019-05-28 06:50] hlopko commented on #7260
Hi @nlopezgi, the problem with `BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN` was fixed by https://github.com/bazelbuild/bazel/pull/8459. Thanks for reporting!

To be explicit - I don't think we need to postpone flipping this flag because of `BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN` bug - users can still migrate incrementally in 0.26 (with `--incompatible_enable_cc_toolchain_resolution` disabled), and they will ge

[2019-05-28 06:54] davido commented on #8466
Gerrit Code Review project has exactly the same issue with go-lang dependency. It was added only to run Polymer UI for frontend developers. When a backend developer just building Java artifacts, then 100+ MB big go-lang image is downloaded, even though it's not needed to build plain Java. To reproduce run `bazel build :headless` in Gerrit [repository](https://gerrit.googlesource.com/gerrit).

[2019-05-28 07:47] meteorcloudy commented on #8455
I'm closing this issue because we can already use `--output_filter`.
FYI @gunan

[2019-05-28 07:47] #8455 closed

[2019-05-28 07:51] iirina opened #8472 "java coverage: enable coverage when deploy jars are executed from java processes"
Currently java coverage fails if a deploy jar is executed from a java or even if a deploy jar ends up on the runtime classpath. Bazel coverage should support these use cases.

[2019-05-28 08:31] aehlig commented on #7499
Will promote RC16 to release.

[2019-05-28 09:20] #8472 closed

[2019-05-28 09:46] aehlig commented on #7499
CC @vbatts @petemounce @excitoon

[2019-05-28 10:42] irengrig opened #8475 ""WORKSPACE file can not be a symlink" exception thrown: backward-incompatible bug"
Bazel 0.26,
if the WORKSPACE file is a symlink, an exception is thrown.
This is not intended change, it should be thrown only if managed directories are used in the project.

[2019-05-28 10:46] hlopko commented on #7499
And we have the first regression: https://github.com/bazelbuild/bazel/issues/8475. Fix is being implemented.

[2019-05-28 10:46] hlopko commented on #8475
Thanks for working on the fix! :)

[2019-05-28 10:48] aehlig commented on #7499
So we will have a patch release, once this is fixed.

[2019-05-28 12:32] iirina commented on #8355
We can add the `CoverageOutputGenerator` dependency only in coverage mode.

I'm not sure it means that. Bazel will try and download the host JDK because of the Java dependency, but the `sh_test` doesn't require an installed JDK  if it's not executing any java target.

[2019-05-28 12:39] #5825 closed

[2019-05-28 12:41] laurentlb commented on #7486
I think it was released in 0.26 (https://blog.bazel.build/2019/05/28/bazel-0.26.0.html).

[2019-05-28 12:42] #5710 closed

[2019-05-28 13:10] laszlocsomor commented on #7947
@brandjon , @meteorcloudy : does any of you plan to work on this?

[2019-05-28 13:16] hlopko commented on #7026
(Ftr anecdata and more C++ context, extra process launch per a C++ compile action on Windows slowed Tensorflow build down by 30%. C++ autodetection involves multiple command invocations and has a potential to involve many more in the future, so performing autodetection as part of every action is a show stopper).

Are we in agreement? I acknowledge how autodetection at execution can break in subtle

[2019-05-28 14:29] meteorcloudy commented on #7947
@brandjon has a change to enable more python toolchain integration tests on Windows, I will submit my fix for this issue afterwards.

Yet I have no plan to migrate the `python_stub_template.txt` to C++.

[2019-05-28 14:30] laszlocsomor commented on #7947
Thanks. I consider migrating it.
Can anyone help me prioritize it?

[2019-05-28 14:47] dhalperi opened #8479 "OS X toolchain broke CLI without XCode"
### Description of the problem / feature request:

If I build `bazel` from HEAD (57363813d3c72129c61c35a2b03c3033b62cb49d), then that version of bazel cannot compile bazel on OS X.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

See https://github.com/bazelbuild/bazel/issues/7397 for more info -- about once daily I pull and build ba

[2019-05-28 14:57] keith commented on #8479
Can you post the specific log for this failure? (I'm assuming it's not exactly the same as last time?)

[2019-05-28 14:59] dhalperi commented on #8479
Thanks @keith -- sorry, was too busy making sure I filled all the fields in and starting `git bisect` to .. fill all the fields in.

[code]

[2019-05-28 15:08] dhalperi commented on #8479
Perhaps unsurprisingly, `git bisect` blames b4c0fb0031ab5c9c2aaae5bca379628a1d58a6a5 cc: @hlopko

[2019-05-28 15:10] dhalperi commented on #8479
More possibly-useful info:

[code]

[2019-05-28 15:26] katre commented on #8438
This is not a configuration issue, it is part of cc toolchain definition.

[2019-05-28 15:27] katre commented on #8435
This is not a configurability issue, it is part of cc toolchain definition.

[2019-05-28 15:28] katre commented on #8437
This is not a configurability issue, it is part of cc toolchain definition.

[2019-05-28 16:45] gunan commented on #8455
Does `--output_filter` not apply to failing actions?
We would not want to lose their output.

[2019-05-28 16:53] hlopko commented on #8479
That's a great bug!!! Thanks for catching it. I'll fix it right tomorrow (it's eod in  MUC already).

[2019-05-28 17:03] OTLabs commented on #8299
Version 0.26.0 shows same errors.

Drone build log:
https://cloud.drone.io/alpinelinux/aports/5729/2/1

Errors:

[code]

[2019-05-28 17:30] brandjon commented on #7947
My pending fix blocked on a failing test over the long weekend, looking at it again today.

[2019-05-28 17:36] werkt commented on #7310
#8482 - a little later than I would have liked, but applied to master with test

[2019-05-28 17:41] brandjon commented on #7844
See [here](https://github.com/bazelbuild/bazel/issues/7026#issuecomment-494572350) for more discussion relating to detecting the interpreter at workspace evaluation time versus execution time. Looks like workspace time is preferred.

[2019-05-28 17:44] brandjon commented on #7026
Sounds good to me to use a python interpreter determined at workspace evaluation time.

Hypothetically, we could also do autodetection at execution time in addition to workspace evaluation time. The autodetecting toolchain would be given lower priority, so it would only be used when building for Windows but Windows is not the host platform. It also would be unused if an explicit toolchain for the

[2019-05-28 17:54] #8021 closed

[2019-05-28 18:05] jin commented on #8283
Bumping this up due to the hard requirement on apps depending on multi-arch splits over 32 and 64 bit native libs.

[2019-05-28 18:10] EricBurnett opened #8483 "Include error messages in incompatible change process"
### Description of the problem / feature request:

The [incompatible change process](https://bazel.build/breaking-changes-guide.html) is centered on github labels/issues for a proactive testing workflow. Good error messages are needed to complement this, to address anyone doing _reactive_ detection of bazel breakages (aka trying a new release and seeing what breaks; the most common pattern I see i

[2019-05-28 18:11] EricBurnett commented on #8483
@dslomov @aiuto

[2019-05-28 18:16] guibou commented on #8438
Note: It should also provide a way to reference directories (for include paths for example).

[2019-05-28 20:32] gregestren commented on #8419
I'm glad you found the workaround of just using a direct `dict`. I acknowledge its limited appeal, although I think you could also make the argument that it's a cleaner approach, since macro arguments are not rule arguments and `select()` is really only intended for rule arguments. That said, this is already getting conceptually more complicated than most users are prepared for, especially when it

[2019-05-28 20:35] gregestren commented on #8419
Also @serynth - we've talked about having a better list of worthwhile but not-currently-prioritized projects. The label I just created for this issue is a simple attempt to nudge that idea forward (although I'm sure we'll want to do more).

[2019-05-28 20:37] brandjon commented on #8419
I know I had a hole host of opinions last time select() in macros came up, and I've forgotten them all now. Off-hand, I'm inclined to favor an approach of "expose the structure of select" (opening it up to compatibility requirements, but how often would we break that?) and provide utilities in skylib to do abstract operations over them, like map and union.

[2019-05-28 20:40] gregestren commented on #8419
To be clear, I'm happy to support anyone who wants to try designing an answer to this (design review, code review, code help, etc.. Starting from @brandjon 's suggestions would be a good start.

[2019-05-28 20:56] laurentlb commented on #8483
Thanks, that's a good point. We can update our breaking-change process and add a note about error messages.

I cannot guarantee we can give good error messages for all of them. But we should be more careful about them and try to be more consistent. Maybe the author should always include an example error message in the commit description, to ensure it will get reviewed?

[2019-05-28 21:14] laurentlb commented on #8470
Thanks!
Note that release notes include a section about upgrading, but we could do better (or be more consistent), e.g. https://blog.bazel.build/2019/03/26/bazel-0.24.html

Bazelisk was just moved to bazelbuild organization. We can now advertise it more widely.

[2019-05-28 21:16] EricBurnett commented on #8483
Do you review the issues themselves, or just the commits? Putting it into the commits sounds fine to me if that's what ends up getting reviewed, I was just assuming that someone signs off on the incompatible changes themselves and so the issue would be the best place to review the "experience" of it.

[2019-05-28 21:26] laurentlb commented on #8483
We do systematic code reviews, but there's no process for reviewing GitHub issues. I think the best time for reviewing the error message is when the flag is implemented (most of the time, the code will include a `throw ...`.).

We're supposed to create [design docs](https://www.bazel.build/designs/index.html) for each significant change. At the moment, not all incompatible are associated with a de

[2019-05-28 21:26] EricBurnett commented on #8470
Huh, interesting - I didn't realize bazel releases ended up on the blog too, nor that it has different content than the releases page. (E.g. https://blog.bazel.build/2019/05/28/bazel-0.26.0.html vs https://github.com/bazelbuild/bazel/releases/tag/0.26.0).

I checked, and if I search _"bazel versions"_ or _"bazel releases"_ I only find the releases page; if I search for a release by name (_"bazel 0

[2019-05-28 21:56] laurentlb commented on #8470
I did it for Bazel 0.23: https://github.com/bazelbuild/bazel/releases/tag/0.23.0
I'll advise other release managers to do the same (generated release notes are quite bad and are often misleading).

[2019-05-28 22:23] robbertvanginkel opened #8485 "Expose --proto_compiler to Starlark rules"
### Description of the problem / feature request:

Expose value of [`--proto_compiler`](https://docs.bazel.build/versions/master/command-line-reference.html#flag--proto_compiler) to starlark.

### Feature requests: what underlying problem are you trying to solve with this feature?

I'm trying to use a different protoc binary other than `@com_google_protobuf//:protoc` through the `--proto_compiler`

[2019-05-28 23:25] dxj910804 opened #8486 "bazel build run sub package binary and generate a new sub package"
### Description of the problem / feature request:

Writing here to check if below feature is already supported by bazel or is there any plan to support.

Here's the layout:
//parent ==> import //parent/generated
//parent/gen
//parent/generated

the expected sequence is:
1  build //parent/gen module
2 run //parent/gen module to generate //parent/generated module. //parent module depends on files in

[2019-05-29 00:13] gregmagolan opened #8487 "Managed directories should rerun repository rule if directory is deleted or timestamp changes"
### Description of the problem / feature request:

rules_nodejs yarn_install & npm_install with managed directories can't handle deleted or manually regenerated node_modules folder. See https://github.com/bazelbuild/rules_nodejs/issues/802 for full description.

### Feature requests: what underlying problem are you trying to solve with this feature?

When using managed directories with yarn_instal

[2019-05-29 00:30] gregmagolan commented on #8487
/cc @irengrig @alexeagle

[2019-05-29 01:23] gregmagolan opened #8488 "Managed directories crash"
### Description of the problem / feature request:

Bazel crash observed that looks related to managed directories when building bazel-schematics integration test which uses managed directories in angular repo while working on PR https://github.com/angular/angular/pull/30627.

//cc @irengrig @alexeagle

### Feature requests: what underlying problem are you trying to solve with this feature?

Crash

[2019-05-29 01:29] gregmagolan commented on #8488
Possible solution to try suggested by @irengrig is to add `/integration/bazel-schematics/demo` to `/.bazelignore` so that the root bazel worker doesn't read into that directory during the test (which is a nested WORKSPACE). I added that to https://github.com/angular/angular/pull/30627 and running the test in a loop locally to try to induce the crash again.

[2019-05-29 01:36] sgong-pdftron commented on #5248
Any update on this issue? Or workaround?

[2019-05-29 03:14] aiuto opened #8489 "rpm, deb (maybe tar and zip) rules should be a new rule repo, not part of Bazel"
The rules for building distribution packages have no need to be part of Bazel. They should be owned by the people who most need them.

Proposal: https://docs.google.com/document/d/1GAbAiW0nVbxGlwsdXhFIcn3owlZJkMJiXBt-ttA9z_k/edit#

TL;DR:
- we will move the rules to a new repo
- bazel team will continue to review PRs for a while
- if you start making hight quality contributions we'll give you merg

[2019-05-29 05:49] gregmagolan opened #8491 "Managed directories has issue with node_modules/.bin folder on Windows"
### Description of the problem:

When running npm_install rule from rules_nodejs 0.30.0+, which relies on the new managed directories feature with Bazel 0.26.0, a truncated BUILD file read error (logs below) was observed on Windows in the `node_modules/.bin` folder. The error on buildkite: https://buildkite.com/bazel/rules-nodejs-nodejs/builds/2487#26e54aca-4f4b-4626-89a4-f4d68953e53f

Truncated B

[2019-05-29 05:51] gregmagolan commented on #8491
/cc @irengrig @alexeagle

[2019-05-29 06:41] dslomov commented on #8483
I do not think this general request is very actionable. We are doing a reasonable job at providing informative error messages for the changes where it is possible. Sometimes it is not easy to attribute a specific error to a specific incompatible change though - the changes might have ripple effects where it is difficult to distinguish whether the specific problem is caused by the new behavior on t

[2019-05-29 06:46] dslomov commented on #8470
I do not think we should _prescribe_ a specific upgrade process. Organizations differ in how their codebases are structured and in their workflows, and the hope is that organizations will design the processes that work for them based on a _policy_ that Bazel project has for rolling out incompatible changes. That said, it is useful to document `bazelisk --migrate` better and provide an _example_ up

[2019-05-29 07:41] laszlocsomor commented on #7387
Update: I don't plan to fix this bug. It will resolve itself with https://github.com/bazelbuild/bazel/issues/6622.

With Bazel 0.26.0 and `--incompatible_windows_native_test_wrapper`, I can `bazel run` a sh_test target.

[2019-05-29 10:49] hlopko commented on #8479
I can repro on a mac with Xcode uninstalled. I couldn't repro with just CLT selected, or with `BAZEL_USE_CPP_ONLY_TOOLCHAIN=1`.

[2019-05-29 11:06] philwo commented on #8455
@gunan Yes, here's an example:

Without output filter:

[code]

With output filter:

[code]

You can see that all errors are preserved and all warnings are hidden.

For the record, this was my repro:

BUILD:
[code]

[2019-05-29 11:58] c4urself commented on #5817
Truly don't understand this change, if the workaround is `a = depset(transitive=[a, b])` why not just make that the implementation for `.union()` or `+` behind the scenes instead of making people jump through hoops every few releases with these nonsensical changes. Python is the inspiration for Skylark and these changes are making everyone write/change more code for no reason (less Pythonic, more

[2019-05-29 12:14] laurentlb commented on #5817
Let me expand from my previous comment. Each call to `depset` has a cost. The goal is to make that cost more obvious for users. We did this change because the old behavior was the cause of lots of performance issues.

Old code (now forbidden):

[code]

Discouraged fix:

[code]

Much better fix:

[code]

For a Python user, the old code might look fine and many people were writing this kind of code.

[2019-05-29 12:25] c4urself commented on #5817
Hmm, that last example makes a lot more sense to me -- will update to that, thanks for the quick reply!

[2019-05-29 12:33] aehlig commented on #6670
I'm not sure what @ulfjack meant with with not focusing on new features, as the expectation is [within the realm of the current protocol](https://github.com/bazelbuild/bazel/issues/6670#issuecomment-456426587).

There isn't one; but the hard thing is not to add an event, whenever a fetch fails; that could be done write where [the error message is generated](https://github.com/bazelbuild/bazel/blob

[2019-05-29 12:48] hlopko commented on #8479
I believe I have a fix in https://github.com/bazelbuild/bazel/pull/8492, could you take a look to see if that fixes the issue for you too?

[2019-05-29 13:19] EricBurnett commented on #8483
I'm not sure why you think this is non-actionable? You have a [process](https://bazel.build/breaking-changes-guide.html); I'm suggesting this process include giving examples of error messages in issues.

Of the breaking changes for 0.27, exactly [1](https://github.com/bazelbuild/bazel/issues/7944) gives an example of an error message you might see, and it's a helpful inclusion. Others, like https:

[2019-05-29 13:26] dslomov commented on #8483
As I said, I do not think we can always give a generic guidance about what the error messages will look like, so I am reluctant to add this to a generic process.
The best course of action would be to request this on specific issues where the error messages are unclear or non-actionable.

[2019-05-29 13:28] #5985 closed

[2019-05-29 13:31] laurentlb commented on #8483
We can add a recommendation in the process: "In the commit description, include an example of the error message a user might get. When possible, include the name of the flag" (or GitHub url?)
This will ensure that the author pays attention to it and encourage the reviewer to double-check it.

[2019-05-29 13:31] iirina commented on #6190
Yes, we can expose the stub to Starlark. This will also be needed when migrating the Java rules to Starlark.

[2019-05-29 13:32] dslomov commented on #8483
This sgtm.

[2019-05-29 13:34] iirina commented on #7803
@timpeut Can you describe a bit more your use case? I'm interested in why removing the transitive fields is required. As a first thought this sounds like something that aspects could solve.

[2019-05-29 13:42] iirina commented on #7934
Please re-open with more error details.

[2019-05-29 13:42] #7934 closed

[2019-05-29 13:44] iirina commented on #7943
Hi @srikanthjoshi, sorry for the late reply! Do you still have this problem?

[2019-05-29 13:46] iirina commented on #7943
Does `bazel build tensorflow_serving/... --host_javabase=@local_jdk//:jdk` work for you?

[2019-05-29 13:53] dslomov commented on #8483
Well actually not in the commit description, but in the GitHub issue and migration recipe, right?

[2019-05-29 14:04] iirina commented on #8369
There are plans to migrate the Java rules to Starlark, but it will be a long journey across several quarters. Depending what you need, you can try to write a small Starlark rule that uses `java_common.compile` and use it only for the codependent jars.

[2019-05-29 14:13] lisaonduty opened #8494 "Expanded support for Aspect public attributes"
### Description of the problem / feature request:

We would want Aspect public attribute to be able to support label type and also to be used without pre-defined values.

Today the following are supported:
" Public aspect attributes are of type string and are called parameters. Parameters must have a values attribute specified on them. In this case we have a parameter called extension that is allo

[2019-05-29 14:47] #8355 closed

[2019-05-29 14:47] aehlig commented on #8384
Pending: https://bazel-review.googlesource.com/c/bazel/+/101350

[2019-05-29 14:49] ulfjack commented on #6670
@aehlig, at the time I wrote it, we were focusing on rolling out BEP to all Googlers and getting performance and stability up to par. We're basically there, so now is a good time to discuss this feature request.

[2019-05-29 14:53] irengrig commented on #7499
The fix for #8475 is submitted.

[2019-05-29 14:53] #8475 closed

[2019-05-29 15:19] MarkusTeufelberger commented on #8489
I'm more than happy to see these rules added in https://github.com/bazelbuild/rules_pkg (and I don't think a different repo should be created), if anyone is interested I can explain why that repo exists and what was the initial goal there.

[2019-05-29 15:24] keith opened #8496 "Clarify repository_cache documentation"
Currently in [the user guide](https://docs.bazel.build/versions/master/guide.html#repository-cache) there is this sentence:

This implies to me that if you don't pass `--repository_cache`, it is enabled at this default path. Based on this logic https://github.com/bazelbuild/bazel/blob/fa654b4878974e591d7e0bea3fa233c6b120395b/src/main/java/com/google/devtools/build/lib/bazel/BazelRepositoryModule.j

[2019-05-29 15:58] aiuto commented on #8489
rules_pkg is currently about fetching rpms rather than building them.  So the concerns are actually different. That said, I am also not against having one repo provide both rules for using and building. That would allow a small set of people to understand both sides of the process to own the work.

[2019-05-29 16:11] brandjon commented on #6443
Latest update is that `exec_tools` will be added to `genrule` until blockers for migrating `tools` to exec config can be worked out. For starlark rules there's already a `cfg="exec"` value for attribute definitions.

[2019-05-29 16:18] dhalperi commented on #8479
Works for me:

[code]

[2019-05-29 16:35] glukasiknuro commented on #4343
What would be needed to pass no_cache tag for cc_binary ?
It would help in cases when stamped binaries are used - right now binary is uploaded to remote cache after  each build. But it is not used, because stamp will never match.

[2019-05-29 16:37] laurentlb commented on #8470
Shall we move all the upgrade notes from the release announcement to a dedicated page?

The release announcement includes a link to that page and can focus on the more interesting changes. The upgrade page can then have more details. It gives the general recommendations. For each release, there's a section with the flags that flipped. Users would need to upgrade multiple versions will have everyth

[2019-05-29 16:43] hlopko commented on #8479
Thanks for checking!

[2019-05-29 16:56] Xjs opened #8497 "<name>_deploy.jar differs on Windows and Unix because of build-data.properties"
### Description of the problem / feature request:

`build-data.properties` contains different strings on Windows and Unix, and partially mixed up line endings on Windows.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

I have created and documented a test case on https://github.com/Xjs/bazel-java-test/blob/master/case1.md .

### Wha

[2019-05-29 17:00] Xjs opened #8499 "Binary differences with Host JDK 8 and 11"
### Description of the problem / feature request:

An internal project depending on https://developers.google.com/protocol-buffers/ produced different `main_deploy.jar` files depending on whether it was built on a machine with JDK 8 or JDK 11 installed on the host system.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

I have create

[2019-05-29 17:05] Xjs opened #8500 "git_repository rule: Inconsistency in handling of line endings"
### Description of the problem / feature request:
If a git repository is imported into the workspace with `git_repository` on Windows, in most cases git's `core.autocrlf` option is active, modifying the line endings of text files in the imported repository. This can lead to differences in build artefacts when building on Windows vs. Unixes, even if the workspace itself is exactly identical (due to

[2019-05-29 17:08] mdvorsky opened #8501 "py_test allows non-hermetic unspecified dependencies"
### Description of the problem / feature request:

py_test allows the source file to import an unspecified dependency

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[code]

### What operating system are you running Bazel on?

macOS Mojave 10.14.5

### What's the output of `bazel info release`?

release 0.25.3-homebrew

###  Have yo

[2019-05-29 17:21] Ragora commented on #7816
I would like https://github.com/bazelbuild/bazel/commit/84c5dc9ad7cc9c00572c7e175b09b3979c5052a8#diff-73cc3e84377e7c63ef4406039e060016 (or an equivalent thereof) to be in this release.

For my employer I started this fairly large migration to bazel seeing from documentation it did everything we needed, however, it seems pkg_deb does not have a templates parameter which we use quite heavily in our

[2019-05-29 17:27] laurentlb commented on #7816
It will definitely be included. Any change submitted in May will be included. Changes submitted in June are unlikely to part of 0.27.

Thanks for the feedback!

[2019-05-29 17:28] brandjon opened #8502 "--toolchain_resolution_debug output is hard to understand"
The output I see while debugging an integration test is:

[code]

I would expect that the indentation after `ToolchainResolution:` is significant -- that each line corresponds to work done for the most recent preceding line having less indentation. So why is "Considering toolchain @local_config_cc[...]" underneath "Looking for [...]python:toolchain_type"? If it determines all toolchain types befor

[2019-05-29 17:29] Ragora commented on #7816
Cool, was checking because I got confused about the 0.26 release still not having it, guess I just unlucky about the way times line up then. In the meantime I'll use a custom build, but at least it's not long to wait.

[2019-05-29 17:33] #8479 closed

[2019-05-29 17:39] laurentlb commented on #7816
# Status of Bazel 0.27

I plan to keep this message up to date during the release process and provide the important information.

- Target baseline: June 3rd (changes have to be submitted before the 3rd)
- Estimated release date: June 10th-20th
- [List of release blockers](https://github.com/bazelbuild/bazel/labels/Release%20blocker)

To report a release-blocking bug: file a bug, use the `Release

[2019-05-29 18:10] brown commented on #5821
I too would be happier with a API that does not involve directly modifying Java class paths, but I currently don't have any good ideas for implementing an exclude feature without the ability to manipulate class path lists.

Two Sigma has a large monorepo containing thousands of external Java libraries, most of which have been imported from Maven.  The Maven dependencies between packages are progra

[2019-05-29 18:43] jin commented on #8427
`--strategy=Desugar=worker` is now enabled by default for a flagless build.

https://github.com/bazelbuild/bazel/commit/6eda6b5e4d510f01db51b916fbc8abb95cbe52ef

[2019-05-29 18:54] cgruber commented on #7595
Pinging this again. Now that we have thousands of tests in our corpus, doing a per-package aggregate generated test suite (so as to run all junit test cases in one single test target) has shaved about 1/4 of our build time off, just by itself. Not having some way to avoid the extra tax of non-persistent worker invocation is a pretty big deal, when you don't have a build farm.

[2019-05-29 19:05] cgruber commented on #7595
To give it some meat, an example run on a commit from yesterday (doing full builds, not "affected test" query magic) did this:

|   | aggregate  | individual  |
|---|---|---|
| count  | 396  | 1826  |
| nocache  |  01:02:32 | 02:00:12 (timeout)  |
|  cache | 49:03  | 01:49:04  |

Now, times vary a lot, and we're working to reduce the deviation, but this is representative of build times, on these m

[2019-05-29 19:06] brandjon commented on #8501
Thanks for the report. This is #7091. In order to fix it we'd have to inject some `sys.path` manipulation logic into the initialization of the user Python process (not the stub script), or generate a dummy directory holding only a copy of the main file and nothing else, or both.

[2019-05-29 19:06] #8501 closed

[2019-05-29 19:46] ixdy commented on #8489
I strongly agree that the rules for building packages should be moved out of the core repo. Making improvements to these rules has been challenging, since they're linked to bazel releases; breaking changes are especially problematic.

I also agree that rules_pkg seems like the right place. I was surprised when I discovered rules_pkg had nothing to do with building packages.

[2019-05-29 20:01] brandjon opened #8503 "Fix a python data dep test case on Windows"
I'm enabling python_version_test.sh on windows and have to disable some test cases on that platform that aren't passing. Some are because of bash, but there's a runfiles lookup problem that I don't have time to diagnose now, so this bug can track that.

Failing test case: [`test_pybin_can_have_different_version_pybin_as_data_dep`](https://github.com/bazelbuild/bazel/blob/b2fac7457a673a13427861aabb

[2019-05-29 20:18] aiuto commented on #8489
I'll leave this to age for a week so the rest of the community can chime in.
Unless I am convinced otherwise, I will start committing PRs on June 5 to move the code out.
- The first round will just be to make it available.
- The second round is to stop taking PRs against the internal Bazel code
- The third is to move Bazel over to the new repo. The choices there belong to @philwo

FYI: @apt-itude

[2019-05-29 20:18] brandjon commented on #5818
Looks like this breaks `rules_python` but wasn't caught by tests. Filed bazelbuild/rules_python#191.

[2019-05-29 20:20] jin commented on #7595
Pinging @lberki, author of https://github.com/bazelbuild/bazel/commit/0c9f2d4c15b761e3f3b863658b6d5c65bde6db22 - do you have more context / background on why the experiment didn't work out?

[2019-05-29 20:26] brandjon commented on #8436
I'm not sure that this is an issue -- have you observed any actual non-determinism?

This zip action is created [here](https://github.com/bazelbuild/bazel/blob/b2fac7457a673a13427861aabb323a32b74e07ce/src/main/java/com/google/devtools/build/lib/bazel/rules/python/BazelPythonSemantics.java#L309). Notice that the zip arguments are added in the order of the top-level `__init__.py` first, then all oth

[2019-05-29 20:26] brandjon commented on #8436
(Downgrading pending a response but note that Laszlo's OOO until next week.)

[2019-05-29 20:40] brandjon commented on #5818
Disregard the above, user error on my part.

[2019-05-29 20:43] nlopezgi commented on #8489
+1 to have them in a separate repo. For remote execution, the pkg_rpm rule is currently problematic as it expects rpmbuild to be installed in the exec environment. These rules should ideally use toolchain rules to define their tool dependencies and to ideally be made compatible with remot exec. Doing this would be much easier if they are in their own repo.

[2019-05-29 20:50] aiuto commented on #8489
I welcome your expertise from rules_docker with this new repo.
If it is not incredibly easy to build a docker image from the targets
generated by pkg_deb and pkg_rpm we are doing something truly wrong.

On Wed, May 29, 2019 at 4:43 PM Nicolas Lopez <notifications@github.com>
wrote:

[2019-05-29 21:02] cgruber opened #8505 "--persistent_android_resource_processor logs a warning to stdout, causing failure"
### Description of the problem / feature request:

In at least one case, doing resource processing, the worker enabled by `--persistent_android_resource_processor` forwards a resource merge warning to stdout, causing inter-worker protocol to throw an exception.  It needs to take tool output and ensure it only writes logging output to stderr.

### Feature requests: what underlying problem are you t

[2019-05-29 21:06] brandjon commented on #7947
My fix finally went through, merging the fix to this issue now.

[2019-05-29 21:06] #8411 closed

[2019-05-29 21:21] davido opened #8506 "Gerrit failing with Bazel@HEAD"
On most recent Bazel version (b2fac7457a673a13427861aabb323a32b74e07ce) and Gerrit@HEAD (039faeaa58e70d8adc5e81c37c02253529efd52b) the build is failing:

[code]

The culprit seems to be this method in `js.bzl`:

[code]

To reproduce, clone recursively [Gerrit Code Review](https://gerrit.googlesource.com/gerrit) and run: `bazel-at-head build :release`.

All is fine on Bazel 0.26.0.

@laurentlb, @ph

[2019-05-29 21:40] #7947 closed

[2019-05-29 22:00] laurentlb commented on #8506
It looks like Gerrit build is failing: https://buildkite.com/bazel/gerrit/builds/2821#f1c9b046-3e7a-4277-acfb-a06ff95c8dfe

On the [Bazelisk pipeline](https://buildkite.com/bazel/bazelisk-plus-incompatible-flags/builds/124), there's no failure. I think this is because we test at the last green commit.

The error you see is caused by the flag [`incompatible_string_join_requires_strings`](https://gi

[2019-05-29 22:13] laurentlb opened #8507 "Improve error message for incompatible_string_join_requires_strings"
When the flag `--incompatible_string_join_requires_strings` is enabled, Baze checks that each element is a string (see https://github.com/bazelbuild/bazel/issues/7802).

However, the error message is just a type error. This can be confusing for users who are upgrading Bazel. The error message should at least include the name of the flag.

Since we're flipping the flag in Bazel 0.27, it would be gr

[2019-05-29 22:14] laurentlb commented on #8506
fyi, we're going to improve the error message: https://github.com/bazelbuild/bazel/issues/8507

[2019-05-29 22:16] davido commented on #8506
Thanks for the quick reply! It would be definitely helpful if the error message would reference the relevant flag.

[2019-05-29 22:16] #8506 closed

[2019-05-29 22:36] keith opened #8508 "Crash with `--experimental_remote_download_outputs=toplevel`"
### Description of the problem / feature request:

When using `--experimental_remote_download_outputs=toplevel`, and having a cache return a 500, bazel crashes. I would expect it to recover in this case and fall back to retrying the request, or worst case doing the build locally. Without this flag it does seem to be resilient to this.

[code]

### Bugs: what's the simplest, easiest way to reproduc

[2019-05-29 22:43] allevato opened #8509 "Latest green Bazel breaks rules_swift with access to File.owner field"
rules_swift's Buildkite pipeline is showing the repository broken on both Mac and Linux with the latest green Bazel.

Build results: https://buildkite.com/bazel/rules-swift-swift/builds/521#27d3f19d-06f8-4e28-b24a-6220378fd452

The error is produced by an access to `File.owner`, but the error message is just a string representation of the `File` object without any other information:

[code]

Diggi

[2019-05-29 22:50] allevato commented on #8509
For additional context, this is why that logic exists: https://github.com/bazelbuild/rules_swift/blob/master/swift/internal/utils.bzl#L150-L196

This is called when we declare `.o` files for each `.swift` file in a compile. We use the owner-relative path to the source file as the trailing part of a path relative to an `_objs` directory. In other words, the file `//foo/bar:baz/quux.swift` will prod

[2019-05-29 23:08] janakdr commented on #8509
Currently rolling back the change, sorry for the trouble.

On Wed, May 29, 2019, 6:51 PM Tony Allevato <notifications@github.com>
wrote:

[2019-05-29 23:09] allevato commented on #8509
Thank you! 🙂

[2019-05-29 23:41] jin commented on #8283
WIP fix: https://github.com/bazelbuild/bazel/pull/8510

[code]

[2019-05-30 01:59] jmmv commented on #8230
Thanks. I have a fix for that crash when enabling asynchronous deletions but I'm still having trouble with one test... plus in benchmarking the change, I'm consistently getting worse results in large builds. Need to look into that too.

Separately, I've been looking into the old claim that `sandbox-exec` is inherently slow. I don't think it is. Some microbenchmarks showed no slowdowns a long time

[2019-05-30 03:38] seank-com commented on #7135
I updated the ```Dockerfile``` above to use 0.26.0 and used the command you mentioned and got the following:

[code]

I didn't install zipper as @enmasse had suggested. I will try that next and see if it makes a difference.

[2019-05-30 04:32] seank-com commented on #7135
No luck, appears to be the same error even with zipper installed.

[code]

[2019-05-30 08:15] MarkusTeufelberger commented on #8489
I know, I wrote them. ;-)

My hopes were from the beginning that the existing ones get ported from bazel/bazel to bazel/pkg_rules eventually, but that requires some coordination effort, as you can see - so I only put in the fetching instead of copying over also the building rules initially.

It might be worth looking over the package building rules by the way to see if they could be improved (`pkg

[2019-05-30 08:45] hlopko commented on #8475
FYI, this issue also breaks tulsi (https://buildkite.com/bazel/tulsi-bazel-darwin/builds/161). CC @DavidGoldman. Patch release with the fix is being prepared.

[2019-05-30 09:31] c4urself commented on #8489
Agree, a recent break in make_deb.py has me wishing for a `git_repository` and commit to point to to keep things stable.

[2019-05-30 09:57] mboes opened #8515 "Allow Args values as an argument to Args.add_*"
### Description of the feature request:

The `Args` type has a family of `add_*` methods. It should be legal to pass not just files, depsets and lists but also other Args to these methods.

Example:

[code]

### Feature requests: what underlying problem are you trying to solve with this feature?

It is sometimes necessary to build an argument list in one place, feed it to one command, then post-pr

[2019-05-30 11:03] c4urself commented on #8443
Our entire project is Python3 so using `--python_path=/usr/bin/python2` is never going to work in our case. Why do we even try to achieve Python2 compatibility again? (https://pythonclock.org/)

[2019-05-30 11:19] mirsking opened #8516 "Is there any way to keep the assert working when build -c dbg?"
### Description of the problem / feature request:

Or any option to remove -DNDEBUG flag in the dbg build type?

### What operating system are you running Bazel on?

### What's the output of `bazel info release`?

###  Have you found anything relevant by searching the web?

[2019-05-30 12:48] davido opened #8517 "False positives reported with --incompatible_disallow_empty_glob flag"
On Bazel@HEAD (b2fac7457a673a13427861aabb323a32b74e07ce) I'm seeing false positive reported on Gerrit Code Review repository (stable-2.14 branch):

[code]

This flag is tracked [here](https://github.com/bazelbuild/bazel/issues/8195).

[2019-05-30 14:43] cushon commented on #8502
related: #7713

[2019-05-30 15:06] jin commented on #8507
I can take a stab at this.

[2019-05-30 15:36] jin commented on #5248
@sgong-pdftron did you run into this issue when using desugar with Bazel? Unfortunately we don't have the bandwidth to support desugar outside of Bazel.

[2019-05-30 16:04] mboes commented on #5356
This and #7989 are duplicates of each oher.

[2019-05-30 16:48] #8507 closed

[2019-05-30 17:09] #5356 closed

[2019-05-30 17:15] jin commented on #5876
Downprioritizing this as we'll be switching to the new Nitrogen-based test infrastructure.

[2019-05-30 18:00] vcase commented on #3154
I'm experiencing this issue on Ubuntu and Centos-7.  I don't see in on MacOS.

[2019-05-30 18:48] steeve opened #8520 "osx_archs uses arm for aarch64"
### Description of the problem / feature request:

`osx_archs.bzl` define `arm64` as `@bazel_tools//platforms:arm` rather than `@bazel_tools//platforms:aarch64`.

See https://github.com/bazelbuild/bazel/blob/bc6f7cb330bb531f062bb301f3703876051191f5/tools/osx/crosstool/osx_archs.bzl (`master` as of now):
[code]

### Any other information, logs, or outputs that you want to share?

Some background in

[2019-05-30 18:53] timpeut commented on #7803
This is no longer required.

[2019-05-30 18:53] #7803 closed

[2019-05-30 19:05] nlopezgi commented on #8489
@aiuto
Happy to help in any way I can, particularly wrt how to define a toolchain that will pull the tools needed for pkg_rpm so that it works with remote exec

as for rules_docker, iirc, we do support pkg_deb in rules_docker, pkg_rpm, I think, is not currently supported for rules_docker (but should not be hard to add, we just haven't had the request from users to do this yet).

[2019-05-30 19:14] laurentlb commented on #8517
Thanks for the report.

Can you do `print(glob(["src/main/java/**/*.java"]))` and confirm it contains files (with `--incompatible_disallow_empty_glob=false`)?

[2019-05-30 19:56] mariusgrigoriu commented on #5437
This is also happening on bazel 0.23.2 when working with go repositories. In my case, I hit ctrl-c while fetching an external repository on a slow network so I could restart after connecting to a fast network.

[code]

After connecting to a better network:
[code]

Immediately retrying the same command:
[code]

No changes on subsequent retries. Only a `bazel clean --expunge` got me unstuck.

[2019-05-30 20:29] alex-xnor commented on #8138
Another one in https://docs.bazel.build/versions/master/be/overview.html, under the "Functions" section

[2019-05-30 21:33] EricBurnett opened #8521 "FR: prune target list based on dirty files"
### Description of the problem / feature request:

Bazel should be able to take a list of "dirty" files as input, and prune the target list based on it.

### Feature requests: what underlying problem are you trying to solve with this feature?

In CI contexts bazel often ends up doing a lot of unnecessary/redundant work. For example, in CI a common pattern is to run

    bazel test //...

on a clea

[2019-05-30 22:33] #8283 closed

[2019-05-30 22:50] jin commented on #8283
The fix will be in 0.27.

[2019-05-30 22:52] keith commented on #8283
Thanks @jin!

[2019-05-30 23:15] keith opened #8523 "No matching toolchains with `experimental_repository_resolved_file`"
### Description of the problem / feature request:

When using the `experimental_repository_resolved_file` family of flags as recommended by [this post](https://blog.bazel.build/2018/09/28/first-class-resolved-file.html), when using rules_go you end up with this error upon building:

[code]

Note: this is an easy repro case with go, but I've also seen this with other toolchains:

[code]

### Bugs:

[2019-05-31 00:18] benjaminp opened #8525 "Prevent "Deleting stale sandbox base" from showing up when not necessary"
What's the reason for [printing](https://github.com/bazelbuild/bazel/blob/536a166270590a8dbc701718550383f3a07cc763/src/main/java/com/google/devtools/build/lib/sandbox/SandboxModule.java#L220) the `INFO: Deleting stale sandbox base /some/long/uuidy/path` message? I find it non-actionable and noisy.

[2019-05-31 00:36] AdamDorwart opened #8527 "Get output files from failed tests"
### Description of the problem / feature request:

Currently it seems difficult to collect output files from failed tests. In general just figuring out which tests failed without parsing stdout of the Bazel client seems difficult.

### Feature requests: what underlying problem are you trying to solve with this feature?

Maybe `aquery` is the right way to do this? Something like
[code]
to get all t

[2019-05-31 02:08] gholms commented on #8305
We update bazel infrequently enough that we occasionally miss migration periods but still have to support both the old and new versions for a while to give people time to update their code branches and local bazel installations.  Macros that let us call things in a manner appropriate for the version in use would simplify these migrations by reducing how frequently we have to patch the old version

[2019-05-31 03:14] keith commented on #8527
I hit this recently too, bazel CI is doing this with this logic https://github.com/bazelbuild/continuous-integration/blob/af35abfab14b30fd1e256a56a1c2794dccadbd08/buildkite/bazelci.py#L1434-L1455

We are now doing the same

cc @philwo

[2019-05-31 08:07] davido commented on #8517
I added `print` statement, but I cannot reproduce it any more, as I see reports in Bazel itself:

[code]

[2019-05-31 08:24] mboes commented on #8180
Additional motivation for this feature request: https://stackoverflow.com/questions/46256118/bazel-java-app-with-jni-dependency.

The question is about how to create a native app that calls the JVM via the JNI. This looks pretty much impossible in modern day Bazel, because when calling `JNI_CreateJavaVM()`, the JVM dynamically loads additional shared objects that it expects to find in locations re

[2019-05-31 09:13] oquenchil commented on #8463
You would have to call `bazel test` with different configuration flags, see https://docs.bazel.build/versions/master/tutorial/cc-toolchain-config.html.

You wouldn't need to replicate the targets but you would have to call `bazel test` twice.

[2019-05-31 09:34] oquenchil commented on #8464
Is this for different configurations? If it is then https://stackoverflow.com/questions/39278204/bazel-platform-specific-c-defines might be useful.

If not, then you can just have your build graph with one version of each target and build with different define values for the defines by passing the flag -copts=-DMY_VALUE

[2019-05-31 09:47] steeve commented on #7499
Submitting https://github.com/bazelbuild/bazel/pull/8522 for cherry-pick, which fixes https://github.com/bazelbuild/bazel/issues/8520.
This fixes rules_go on iOS and Android.

[2019-05-31 10:08] katre commented on #8520
Thanks for identifying and fixing this!

[2019-05-31 10:10] steeve commented on #8520
I've opened #8522 !

[2019-05-31 10:12] Monnoroch commented on #8464
@oquenchil can you please give me example to be 100% sure I understand your idea? And yes, this is for different configurations, but it has nothing to do with platforms. We just build a binary with three different subsets of features enabled.

[2019-05-31 10:18] Monnoroch commented on #8463
@oquenchil that is not possible, unfortunately. I have protocol buffers that need to be compiled with protoc (that I need to compile for Linux/Clang) into C sources that I need to then compile for ARM/RTOS with a different toolchain. So there's a build dependency graph that requires me building with two toolchains in the same `bazel` call. A global C++ toolchain flag will obviously not work for me

[2019-05-31 10:24] oquenchil commented on #8464
You would have to pass the configuration option to bazel like `bazel build -copts=-DMY_VALUE=1`. So if you have 100 different defines you would have to call bazel 100 times. But you don't have to repeat the targets.

[2019-05-31 10:31] Monnoroch commented on #8464
@oquenchil I see. Unfortunately, this pretty much guarantees long term CI issues when someone forgot to add another call when a new feature is introduced. But thanks!

Can this become a feature request for supporting build-time flags though? They are already kind of supported since you can set them in `defines`, but not really because this recursive scenario is impossible to implement nicely: eith

[2019-05-31 10:41] oquenchil commented on #8464
I think what you are requesting is something similar to this:
https://github.com/bazelbuild/bazel/issues/5076

What you are proposing with setting the defines in cc_binary does not work with the Bazel model. Dependencies are built and they don't know anything about dependents downstream. So propagating a value like this is not possible.

Since you mentioned that this is related to configurations,

[2019-05-31 10:55] oquenchil commented on #8388
We want to eventually deprecate allowing object files in cc_library. Does cc_import work for you in this case?

[2019-05-31 11:24] Monnoroch commented on #8464
Indeed, that case is pretty much exactly like my setup.

[2019-05-31 11:30] iirina commented on #8457
According to the [documentation](https://docs.bazel.build/versions/master/be/java.html) this is working as intended. Can you describe your use case and why it requires the resources in the source jar?

[2019-05-31 11:30] Monnoroch commented on #5076
I don't see any problems with compiling a library multiple times if it is needed. In fact, @maccarro has to complile it multiple times anyway and Bazel currently lacks an efficient way of configuring this setup: one has to copy-paste all library targets for each set of flags.

[2019-05-31 11:39] natros commented on #8457
I'm used to maven and when maven packs the sources includes all files in src/main/{java,resources}.

My use case is to deploy/share the sources to be included in another project that uses GWT and needs .java, .ui.xml and .gwt.xml files. The other project does not use bazel.

[2019-05-31 11:40] iirina commented on #8284
Thanks for the bug report! Bazel coverage using lcov is not supported anymore. What's surprising to me is that coverage with clang was previously working with the setup you described...
Code coverage for clang toolchains was never officially supported by Bazel. There is an open issue for adding support (#5881). Until #5881 is fixed I recommend using the `--experimental_use_llvm_covmap` flag and ge

[2019-05-31 11:41] iirina commented on #8284
I'll close this issue as a duplicate of #5881. Let me know if I can be of more help.

[2019-05-31 11:41] #8284 closed

[2019-05-31 11:43] iirina commented on #8457
Thanks for the explanations @natros!

[2019-05-31 11:44] iirina commented on #8268
If you are using `bazel fetch` or `bazel query` they will download all 3 releases since the commands are not configuration-aware.

[2019-05-31 11:50] iirina commented on #8006
cc: @cushon

[2019-05-31 12:01] davido commented on #8268
Well, in my case I just try to build Gerrit Code Review on Linux, and run: `bazel build :release` and seeing that Windows and Mac OS native javac tool archives are downloaded, that is unexpected.

[2019-05-31 12:03] oquenchil commented on #8463
I'm not sure your initial BUILD file example illustrates that. From that example it looks like you have a cc_test and a cc_binary, they don't depend on each other, so they could be built with different configurations. Could you write the exact BUILD file that you are trying to build and doesn't work?

Regarding your last message about protoc, protoc is not part of the C++ toolchain. It doesn't nee

[2019-05-31 12:40] scentini opened #8531 "incompatible_use_specific_tool_files: Use appropriate artifacts from cc_toolchain as inputs to C++ actions."
`cc_toolchain` has attributes corresponding to various toolchain components like `ar_files`, `compiler_files`, and `as_files`. Previously, Bazel used broad file groups like `all_files` as inputs for several classes of actions and ignored the more specific toolchain attributes. `--incompatible_use_specific_tool_files` brings these attributes into use.

Namely, under this flag:

- C and C++ compilat

[2019-05-31 12:48] scentini commented on #8531
@benjaminp Can you please update this issue with migration details?

[2019-05-31 14:27] mboes commented on #8389
Is this function to perform Bourne shell tokenization? It would be useful to have some function that allows Starlark rules that are consistent with the semantics of the C/C++ and Java rules when it comes to attributes for compiler flags. For example, `cc_binary` has `copts`, which has both make variable expansion and bourne shell tokenization. Make variable expansion we can do today in Starlark. B

[2019-05-31 14:32] aiuto commented on #8486
//parent/gen:gen is a *tool* used by your genrule. I think you want

genrule(
    name = "gen_model",
    tools= ["//parent/gen:gen"],
    outs = ["generated_model.go"],
    cmd = "$(location //parent/gen:gen)"
)

[2019-05-31 14:39] aiuto commented on #8516
There is not enough here to even answer. This does not sound like a Bazel question. It seems to be more suited to a general C++ list or answer board. Can you provide a code sample and what you mean by "keep the assert working"?

[2019-05-31 14:42] #8520 closed

[2019-05-31 14:43] katre commented on #7499
c3d2aa74ccd23dfb8a8173c2b3e2955f0c5892cb is submitted and fixes #8520.

[2019-05-31 14:44] aiuto commented on #8523
Given to both configurability (because toolchains) and ExternalDeps. I am not sure where the boundary is.

[2019-05-31 15:14] benjaminp commented on #8531
(I lack permissions to edit the actual issue, but here we go.)

`cc_toolchain` has  attributes corresponding to various toolchain components like `ar_files`, `compiler_files`, and `as_files`. Previously, Bazel used broad file groups like `all_files` as inputs for several classes of actions and ignored the more specific toolchain attributes. `--incompatible_use_specific_tool_files` brings these att

[2019-05-31 15:33] the7threvival commented on #6196
There has been an obvious request for various months, if not years now, for Bazel to allow build behind a proxy. Will anything be done about this? This is really frustrating.

[2019-05-31 15:44] #8384 closed

[2019-05-31 15:47] laurentlb commented on #8517
Thanks a lot for the report! I can reproduce the problem on Bazel source code itself.

Please ignore the flag `incompatible_disallow_empty_glob` in 0.27, we should fix it for 0.28.

[2019-05-31 17:01] brandjon opened #8536 "--incompatible_strict_action_env breaks autodetecting Python toolchain on Mac"
Enabling `--incompatible_strict_action_env` without providing an explicit `--action_env` causes `PATH` to default to `/bin:/usr/bin`.

https://github.com/bazelbuild/bazel/blob/e495e6b7afff5930e85a149f7809720b72199005/src/main/java/com/google/devtools/build/lib/bazel/rules/BazelRuleClassProvider.java#L169-L171

https://github.com/bazelbuild/bazel/blob/e495e6b7afff5930e85a149f7809720b72199005/src/ma

[2019-05-31 17:08] brandjon commented on #8536
Gerrit breakage tracked [here](https://bugs.chromium.org/p/gerrit/issues/detail?id=10953). Note that their bazelrc contains

[code]

I'm not sure why `/usr/local/bin` wouldn't be propagated through `PATH`. It should be in the default environment of the CI workers.

[2019-05-31 17:17] xpirad opened #8537 "Python Configuration Error bazel 0.26.0"
### Description of the problem / feature request:
Bazel says python.exe is not executable when it is.

![image](https://user-images.githubusercontent.com/24430064/58722499-282ba880-840a-11e9-95d5-e9e9a8ab44c8.png)

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Clone tensorflow with latest commit 50883f7ca9b98e30d303dad5d20b76e05a94

[2019-05-31 17:19] brandjon commented on #8536
rules_nodejs breakage tracked in bazelbuild/rules_nodejs#809.

[2019-05-31 17:32] brandjon opened #8538 "Remote execution pipeline fails with Python toolchains (flipped in 0.27)"
Breakage is evident in [bazelisk downstream](https://buildkite.com/bazel/bazelisk-plus-incompatible-flags/builds/126#b5a5564d-42d6-4f9c-b03c-9b942909a308/1379), with `bazel_external_repository_test` failing. Note that this test is [failing at head](https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1009#b10884c7-699b-4c3f-9c12-8a9280ed5b54) for an unrelated reason that masks the tool

[2019-05-31 17:36] brandjon commented on #7899
Aiming to flip at head imminently. Here's the latest [downstream presubmit at head with the flag flip](https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1008). As a control, here's a run at the [same commit without the flag flip](https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1009).

* Android testing is already failing with a different error, but it looks like thi

[2019-05-31 17:38] cushon commented on #8006
I considered it, but decided to use a graalvm native-image for turbine instead. That approach has shown good startup performance without the overhead of additional workers.

[2019-05-31 17:43] brandjon commented on #7816
I'm about to flip [`--incompatible_use_python_toolchains`](https://github.com/bazelbuild/bazel/issues/7899). This was introduced in 0.25, flipped at head for 0.26, and immediately rolled back when it broke downstream. So it's now had two months of migration window.

All known downstream breakages are summarized in [this comment](https://github.com/bazelbuild/bazel/issues/7899#issuecomment-49779735

[2019-05-31 17:49] jin commented on #6297
Addressed in https://github.com/bazelbuild/bazel/pull/8524

[2019-05-31 17:49] #6297 closed

[2019-05-31 17:54] Globegitter commented on #8521
We quite quickly had to switch away from the pure remote cache approach to something what you are suggesting here and our monorepo is far from the biggest one. I think it would help a lot of people. Some related discussions: https://github.com/bazelbuild/bazel/issues/7962 as well as https://groups.google.com/forum/m/#!msg/bazel-discuss/I9udqWIcEdI/iczVgWLOBQAJ

[2019-05-31 18:10] #7375 closed

[2019-05-31 18:10] #7899 closed

[2019-05-31 18:16] brandjon commented on #4815
I'm downgrading this to P2 because with #7899 closed, this problem only affects Windows (tracked in #7844).

[2019-05-31 18:23] benjaminp commented on #8006
I see. So maybe this issue is actually feature request to graal turbine in Bazel's java tools. :)

[2019-05-31 18:56] davido opened #8539 "Java runtime mismatch (JDK 11 instead of JDK 8) on Bazel@HEAD"
On most recent Bazel@HEAD (eb53de2098ce5496f1fd2d1e511f39ecda7c4f06), after building with Java 8, the final artifact doesn't run, because it is producing java version 55:

[code]

I am using Java 8:

[code]

To reproduce on [Gerrit Code Review](https://gerrit.googlesource.com/gerrit) run:

[code]

And then check java version:

[code]

[2019-05-31 19:06] #5826 closed

[2019-05-31 19:22] #7687 closed

[2019-05-31 19:26] #8312 closed

[2019-05-31 19:26] #8118 closed

[2019-05-31 19:27] #7974 closed

[2019-05-31 19:27] #7944 closed

[2019-05-31 19:28] #7793 closed

[2019-05-31 19:28] #7407 closed

[2019-05-31 19:29] laurentlb commented on #7362
This flag was not flipped in 0.27, targeting 1.0?

[2019-05-31 19:31] laurentlb commented on #6622
The flag was not flipped in 0.27, targeting 1.0?

[2019-05-31 19:51] davido commented on #8539
I narrowed the problem down to switching to alternative toolchain in bazelrc file, with all warnings enabled per default:

[code]

The error prone toolchain is defined here: https://gerrit.googlesource.com/gerrit/+/refs/heads/master/tools/BUILD#16.

@cushon @iirina

Any clue why target java version is swapped to 55 in this case?

[2019-05-31 20:31] davido commented on #8539
Update: I don't see this problem on Bazel 0.26.0. In case it's relevant how I'm building Bazel from HEAD:

[code]

[2019-05-31 21:10] laurentlb commented on #8494
cc @c-parsons

[2019-05-31 21:24] #8422 closed

[2019-05-31 22:20] gnossen commented on #3935
@dslomov
Ping. It seems this feature is in limbo between the gRPC, Protobuf, and Bazel teams. Any updates on the Bazel end? A conversation revolving around it is unfolding at https://github.com/grpc/grpc/pull/19183.

[2019-06-01 06:18] davido opened #8541 "Unrecoverable error while evaluating node '//lib/js:webcomponentsjs'"
I'm trying to adapt [Gerrit Code Review](https://gerrit.googlesource.com/gerrit) code to disallow rule implementation functions returning struct and comply with upcoming  '--incompatible_disallow_struct_provider_syntax' flag flip (that is tracked [here](https://github.com/bazelbuild/bazel/issues/7347)).

The diff against Gerrit@HEAD (17896064512bba58802db9d193d5cb7b080ab72a) is here: [1] (using on

[2019-06-01 09:32] philwo opened #8542 "Bazel's integration tests are influenced by $HOME/.bazelrc"
A couple of tests fail when a $HOME/.bazelrc file is present and should be fixed to not be influenced by this file:

**Fails when any $HOME/.bazelrc exists (even as an empty file):**

//src/test/cpp:rc_file_test:
- fails due to asserting the number of loaded rc files being a fixed number.

**Fails when $HOME/.bazelrc contains `build --nocache_test_results`:**

//src/test/shell/bazel:bazel_coverage

[2019-06-01 14:30] mboes commented on #8180
There are two workarounds in the end:

- Write a `genrule` that writes the result of calling `realpath` on the location of `libjvm.so` to get the real absolute system location of the library's directory. Then hope the linker supports response files and pass the file to the linker as a response file with `-rpath` prepended.
- Use `patchelf` or similar, or `install_name_tool` on macOS, to fix up the

[2019-06-01 22:07] dooman87 commented on #1583
I've got the similar problem on bazel 0.26. When rerunning Junit tests:

`
Testing started at 8:03 AM ...
bazel test --tool_tag=ijwb:IDEA:ultimate --curses=no --color=yes --progress_in_terminal_title=no --runs_per_test=1 --flaky_test_attempts=1 --build_event_binary_file=C:\Users\DPOKID~1.OFF\AppData\Local\Temp\intellij-bep-a937d346-6a97-4641-ad71-e9e4f46d38b6 --nobuild_event_binary_file_path_conve

[2019-06-02 01:15] kkiningh commented on #8531
With this flag enabled I get the following error on OSX 10.14.2 when I try to compile a cc_library.

[code]

Simple example [here](https://github.com/kkiningh/bazel_issue_tool_files).

[2019-06-02 08:09] davidzchen commented on #8445
I have created a reproduction case for this and have updated the issue description with the GitHub repo. It seems that it occurs when a `cc_proto_library` is linked since this `dyld` error does not occur at commit d87b66bfc9afe5879140a9b30e75be4f1de747ac.

Is this a known issue?

+cc hlopko

[2019-06-02 13:06] guibou opened #8543 "removing --override_repository does not correctly switch back to original repository"
### Description of the problem / feature request:

This is a *reproducibility* issue with bazel 0.26.

I'm using a repository fetched using `http_archive`, from `load("@bazel_tools//tools/build_defs/repo:http.bzl", "http_archive")`. Sometimes I'm overwriting it using `--override_repository=...` on the command line and it works perfectly. However, when I'm removing the flag, bazel does not come bac

[2019-06-02 16:07] kastiglione commented on #8543
I've hit this problem too, thanks for reporting @guibou.

[2019-06-02 18:27] Globegitter commented on #8521
Oh yeah in our ci we use the `query` result twice, once to know what to build/test and once to know what to deploy/run. So we take the result from the initial query and then filter for rules with the `deployable` tag. So it would be nice if the `--prune-file` argument can be used for `query` or if the list of targets can somehow else be retrieved after testing. Maybe with aquery and the `--skyfram

[2019-06-02 20:16] Globegitter commented on #7936
Yeah I suppose it is arguable if my feature request is about making rules behave differently within the sandbox. But what it is I really want is to have some way to universally error out as soon as possible when tools are misconfigured in a way that the access paths outside the sandbox, follow symlinks, or just just behave this way without any way to configure them. The reason for that is that I h

[2019-06-03 03:26] ittaiz commented on #6862
@buchgr hope you’re back in the office and all is well.
Any chance for that cherry pick? Really eager to test this feature on our CI

[2019-06-03 05:21] nornagon commented on #6348
What @hlopko said, but if you really like sed and just want to hack something up to get it working, plopping this in `emcc.sh` worked for me:

[code]

[2019-06-03 05:50] laszlocsomor commented on #6622
Looks like it.

[2019-06-03 06:26] benjaminp commented on #8388
`cc_import` isn't a direct replacement because it only takes libraries not object files. This bug report is reduced from some [Tensorflow code](https://github.com/tensorflow/tensorflow/blob/e1c98eeb8ff8a25d2ecdcf1961974d6c9c1e3df4/tensorflow/compiler/aot/tfcompile.bzl#L268-L299).

This warning predates `cc_import`, but I don't understand what its intent is.

[2019-06-03 06:42] laszlocsomor commented on #8436
I didn't observe non-determinism.
I still prefer sorting even if superfluous. Costs little, makes "unzip -l" output easier to read, and avoids relying on lucky circumstance.

[2019-06-03 07:59] laszlocsomor commented on #1583
@meteorcloudy FYI this sounds like https://github.com/bazelbuild/bazel/issues/5907,

[2019-06-03 08:07] meteorcloudy commented on #1583
This looks more likely using the delete function in Bazel's JNI library. The error message was thrown from [here](https://github.com/bazelbuild/bazel/blob/9835cb4135503768cdf1161746b95d7969ccb938/src/main/java/com/google/devtools/build/lib/buildtool/ExecutionTool.java#L458). I had a change to simplify and optimize `plantSymlinkForest`, but it broke something else and was rollbacked. I will follow

[2019-06-03 08:13] meteorcloudy opened #8545 "Windows: plantSymlinkForest sometimes fails with "Source forest creation failed""
Context: https://github.com/bazelbuild/bazel/issues/1583#issuecomment-497981051
The issue is probably caused by deleting `execroot/__main__/external/local_jdk` when some files under `local_jdk` are still in use.
The solution should be making a symlink from `execroot/__main__/external/local_jdk` to `external/local_jdk` directly, instead of linking every file under `local_jdk` (which is actually cop

[2019-06-03 08:13] meteorcloudy commented on #1583
Filed a new issue for this: https://github.com/bazelbuild/bazel/issues/8545

[2019-06-03 09:12] scentini opened #8546 "incompatible_disable_static_cc_toolchains: Remove @bazel_tools//tools/cpp:default-toolchain and friends"
**Flag:** --incompatible_disable_static_cc_toolchains
**Available since:** 0.28
**Will be flipped:** 1.0

Currently we have a [`@bazel_tools//tools/cpp:default-toolchain`](https://github.com/bazelbuild/bazel/blob/2b3c879a6507f17030fdf9fba2a1704cb09eb5f3/tools/cpp/BUILD#L87) `cc_toolchain_suite`, along with multiple `cc_toolchain` targets that Bazel doesn't use.

Users use it by specifying `--host_

[2019-06-03 09:20] aehlig commented on #7499
Creating rc1 for the patch release 0.26.1.

[code]

- Taking as baseline the release commit for 0.26.0, i.e. cb82ed84d44db0169a8fbf15f9cee434b77002bb
- cherry-picking d1c0d205945f5a765efb0a48593b1cd82699ce32 for #8475
- cherry-picking c3d2aa74ccd23dfb8a8173c2b3e2955f0c5892cb for #8520

It is available at https://releases.bazel.build/0.26.1/rc1/index.html
(Please don't get confused by the list of c

[2019-06-03 09:45] katre commented on #8523
This looks suspiciously similar to https://github.com/bazelbuild/bazel/issues/7773, but I don't know what the `--experimental_repository_resolved_file` option is trying to do.

I suspect @aehlig may need to investigate this.

[2019-06-03 11:10] aehlig commented on #7499
The [downstream projects](https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1013) look good (the "Bazel Integration testing" failure is due to changed RBE configurations).

So please test 0.26.1rc1. I plan to release it on Wednesday, June 5, 2019, in the morning, Munich time.

[2019-06-03 12:01] hlopko commented on #7362
Yes, this didn't make it into 0.27, we're postponing the flip until 1.0. Could you create the labels so I can update our flags?

[2019-06-03 12:07] buchgr commented on #8508
@keith there's no retries for the http protocol yet. I believe this error happens independent of --experimental_remote_download_outputs=toplevel no?

[2019-06-03 12:17] buchgr commented on #7254
@katre what's the status of this?

[2019-06-03 13:26] katre commented on #7254
@agoulti tested a few variations, and ended up stuck on the fact that what is needed is a config_setting that can detect host vs remote, even when host and remote are identical. No good solution to this yet.

[2019-06-03 13:46] brandjon commented on #8436
Easy enough to do but I'm putting out fires related to toolchains atm. I figure the sorting should also include the `__init__.py` and `__main__.py` files if we're doing it for readability's sake.

[2019-06-03 13:47] brandjon commented on #8436
I might be being pedantic, but I'll add that I don't think the fact that nested set order is deterministic is "lucky". :) We rely on an assumption of determinism-by-default all over bazel. If for whatever reason a non-determinism is present in the underlying nested set, it could be that sorting these files masks the problem.

[2019-06-03 14:30] brandjon opened #8547 "Improve mac Python 2 toolchain story"
Discussed this with @sergiocampama on Friday. He's traveling now so +cc @thomasvl to represent rules_apple.

Bazel 0.27 flips [`--incompatible_use_python_toolchains`](https://github.com/bazelbuild/bazel/issues/7899). The default Python toolchain is the autodetecting toolchain, which searches for a Python interpreter *of the appropriate version* (PY2 vs PY3) on `PATH`. Previously Bazel would defaul

[2019-06-03 15:06] keith commented on #8508
Regardless of retries what's the expected behavior in this case?

--
Keith Smiley

[2019-06-03 15:08] buchgr commented on #8508
@keith to fallback to local execution. it's a bug either way.

[2019-06-03 15:28] iirina commented on #8539
@davido Thanks for the bug report. I'll take a closer look later this week.

[2019-06-03 16:52] #5816 closed

[2019-06-03 17:03] laurentlb commented on #7816
Creating 0.27.0rc1 with:

[2019-06-03 17:35] sgong-pdftron commented on #5248
@jin this issue is resolved for me now with https://github.com/xamarin/xamarin-android/issues/1639#issuecomment-497381359. Thanks for following up! I am not using Bazel so might not be related to the original post.

[2019-06-03 18:00] #5248 closed

[2019-06-03 18:22] jin commented on #7816
0.26.0 is broken in IntelliJ when building java_plugin targets - https://github.com/bazelbuild/intellij/issues/845

Please cherry-pick https://github.com/bazelbuild/bazel/commit/b0403a7004976cb959a51500d7a162f37e9bfed1 (if it's after baseline)

[2019-06-03 18:24] jin commented on #7499
Please cherrypick https://github.com/bazelbuild/bazel/commit/b0403a7004976cb959a51500d7a162f37e9bfed1 for https://github.com/bazelbuild/intellij/issues/845. Fixes Bazel with IntelliJ when building annotation processor targets.

[2019-06-03 18:41] #8509 closed

[2019-06-03 19:07] LukeIreland1 opened #8548 "Bazel keeps using wrong GCC"
### Description of the problem / feature request:

I'm building Tensorflow 1.13.1 with Bazel 0.19.2, using armclang. Bazel needs GCC for some things anyway, but I can't make it use Arm GCC, it instead uses the default RHEL GCC.

### Feature requests: what underlying problem are you trying to solve with this feature?

I'm trying to build Tensorflow using Arm Clang and Arm GCC, on RHEL 7. I've succe

[2019-06-03 19:09] LukeIreland1 commented on #8548
[error.txt](https://github.com/bazelbuild/bazel/files/3249075/error.txt)

[2019-06-03 20:36] brandjon opened #8549 "Improve error message when host tools built for PY3 fail"
The default host config Python version is PY3, but many host tools are written for Python 2. With [`--incompatible_use_python_toolchains`](https://github.com/bazelbuild/bazel/issues/7899) being flipped, a common mode of failure is that these tools now fail for downstream users who do not know to set `--host_force_python=PY2`. This previously worked because we were ignoring the Python version and j

[2019-06-03 20:37] #7674 closed

[2019-06-03 20:37] brandjon commented on #7816
Created blockers #8547 and #8549 to track my effort to add better diagnostics for users whose Python targets fail due to toolchains.

[2019-06-03 20:39] philwo commented on #7816
Can we ensure that https://github.com/bazelbuild/bazel/commit/8c3b3fba3f68833bd97d3df2db9c48f0539efc3b gets into the release? It resolves a major issue with —keep_going that causes failing builds to hide the error and exit with code 0. This in turn causes Bazel’s CI to Mark pipelines as green, even though the projects are broken.

[2019-06-04 06:45] aehlig commented on #7499
Is this really a _regression_, i.e., something not working on 0.26.0 that _was_ working on 0.25.3? Also note that cherry-picks are supposed to be small, well-understood changes where we can be reasonably sure that they do not break anything else; a bump of an opaque archive usually does not qualify as such.

[2019-06-04 06:54] philwo commented on #7499
@aehlig Absolutely a regression, I can’t even build Bazel itself anymore with IntelliJ inside a Google and thought I’m doing something wrong... I'm getting the Genclass error that’s mentioned in the linked commit. This always worked before 0.26.0.

[2019-06-04 06:57] aehlig commented on #7499
This is the `diffstat(1)` between the contents of the old and the bumped linux archive.

[code]

This is more than a small, well-understood, change. Isn't there a way to just fix the regression without changing two binaries, 16 java archives, and the license?

[2019-06-04 06:59] aehlig commented on #7499
So how was that regression introduced into the code base. I doubt it was introduced by a downgrade of the java tools...

[2019-06-04 07:03] philwo commented on #7499
I don’t know, I’m just a user in this case who can no longer work until this is fixed.

[2019-06-04 07:06] aehlig commented on #7499
OK, then we'll bisect to find the offending commit and try to cherry-pick a revert of it (the revert needn't go on master, it can stay on a side branch); but such a big library change to fix forward is too large for a patch release, in my opinion.

[2019-06-04 08:24] iirina commented on #7499
While b0403a7 fixes bazelbuild/intellij#845, I'm not sure that was the culprit. The typo fixed by the new java_tools release was there from the first java_tools version, so downgrading the java_tools version will not work. @aehlig's proposal seems the right way forward.

[2019-06-04 08:45] philwo commented on #7499
I'm bisecting this now.

[2019-06-04 09:16] philwo commented on #7499
This commit is the culprit: 888716990fd1fe0cc3370e5a7e1d5ec2c75dec92

Verified by checking out 0.26.0 and doing a git revert. I can then no longer repro the issue.

[2019-06-04 09:23] aehlig commented on #7499
Thanks for the bisect. Now we're in trouble here, as the culprit is also a bump of an embedded library. Will have to have a look at both changes to make a call, what is less likely to break things. Any technical information about those two library changes would be greatly appreciated.

[2019-06-04 09:30] aehlig commented on #7499
Fortunately, the changes in the libraries hidden in the culript commit are comparatively small; 192 lines of `BUILD` file (and a `README` file). So, let's try cherry-picking the revert of the culprit.

[2019-06-04 10:59] lberki commented on #4665
Oh. Indeed.

[2019-06-04 10:59] #4665 closed

[2019-06-04 11:12] buchgr commented on #8527
@AdamDorwart this can be done with the BEP. See https://docs.bazel.build/versions/master/build-event-protocol.html and https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/buildeventstream/proto/build_event_stream.proto

[2019-06-04 11:12] buchgr commented on #8527
Please re-open if this doesn't answer your question.

[2019-06-04 11:12] #8527 closed

[2019-06-04 11:19] #8392 closed

[2019-06-04 12:11] iirina opened #8556 "Add integration tests for java annotation plugins."
Currently we don't test the `plugins` attribute on the java rules. Testing this feature would have caught https://github.com/bazelbuild/intellij/issues/845 at presubmit time and would have avoided a bazel patch release.

[2019-06-04 12:57] aehlig commented on #7499
@iirina created a patch-release for the java tools with only the minimal changes needed to fix https://github.com/bazelbuild/intellij/issues/845. Thank you! So we can get away with cherry-pick a much smaller change, 55e42052a22a60b68d88a89932b2a068311b1a95.

[2019-06-04 13:10] aehlig commented on #7499
[code]

(There will be no rc2, as I forgot to fetch the branches on first attempt and thus decided it's safer to drop the rc number.)

[2019-06-04 13:21] aehlig commented on #7499
#8556 tracks our efforts of avoiding such regressions in the future.

[2019-06-04 13:23] aehlig commented on #7499
0.26.1rc3 is available at https://releases.bazel.build/0.26.1/rc3/index.html

[2019-06-04 13:40] brandjon commented on #8538
Bumping priority since this affects RC's CI greenness.

[2019-06-04 13:41] ittaiz opened #8558 "Document the fact that aspects can use toolchains"
### Description of the problem / feature request:

I spent a lot of time to get toolchains to work with aspects since I didn't know/understand they work like rules with toolchains.
I read https://docs.bazel.build/versions/master/skylark/aspects.html and https://github.com/pcj/bazel_aspects and https://www.kchodorow.com/blog/2017/01/10/aspects-the-fan-fic-of-build-rules/ but none talk about toolcha

[2019-06-04 14:34] aehlig commented on #7499
The [downstream projects](https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1015) still look good, again with "Bazel Integration Testing" broken due to changed RBE configurations.

Please test carefully. I plan to release 0.26.1 on Thursday, Jun 6, 2019, early afternoon Munich time.

[2019-06-04 15:43] brandjon opened #8560 "Move toolchain autodetection to @rbe_autoconfig"
@buchgr informs me that it's possible to auto-detect runtimes on the remote platform at workspace evaluation time, by having a repo rule launch a docker container to replicate the remote environment. Assuming that this works for the target platform too and not just the execution platform, we could use this to replace the execution-time checking that we currently do in the autodetecting toolchain.

[2019-06-04 15:48] brandjon commented on #8538
From offline discussion: We determined this is almost certainly due to the fact that the image this test ran in had `python-six` installed but not `python3-six`.

[2019-06-04 16:19] nlopezgi commented on #8560
Hi @brandjon ,
While `rbe_autoconfig` is the recommended way to auto-detect runtimes for _existing_ complex configure like repo rules (e.g., `local_cc_configure`) my advice for cases in which rules like this do not yet exist, is to enable vendors to define the toolchains themselves by hand if this is not an overly complex task (which is not the case for a C toolchain currently).
The main reason fo

[2019-06-04 16:24] brandjon commented on #8560
I see. Thanks for the context Nicolas. In that case I'll defer this until there's a demonstrated need for it, or it's obsolete once we have remotely executed repo rules.

[2019-06-04 16:48] emusand commented on #7310
Thank you George!

[2019-06-04 18:34] laurentlb commented on #7816
Created 0.27rc2 with:

(this includes both b0403a7 and 8c3b3fb)

[2019-06-04 19:42] davido commented on #8539
@iirina I have bisected the problem. The offending commit is: bad5a2beb9f8441d97b88d5c4323055e710f72e8.

[2019-06-04 19:53] steeve commented on #6327
For the record, it's working for apple targets via `--apple_generate_dsym` flag. Perhaps `cc_binary` could consume it too ?

[2019-06-04 19:54] #8549 closed

[2019-06-04 20:04] #7498 closed

[2019-06-04 22:20] brandjon commented on #7816
Of the two release blockers I filed, one is fixed and the other has a pending CL. Both concern the ease of migrating to toolchains but do not affect CI.

The already submitted one is 123c68daed17b19927372e4df7f7a2256db6b80e and can be cherrypicked now. Will post when the other is submitted.

[2019-06-04 23:06] #8547 closed

[2019-06-04 23:07] gnossen commented on #3935
@dslomov @brandjon Friendly ping.

[2019-06-05 02:18] brandjon commented on #7816
And the other one is 052167e907373ac7ea43238c3049739f6e94a9d1.

[2019-06-05 02:30] brandjon commented on #3935
+@hlopko since I think there's plans about prioritizing proto support in general.

[2019-06-05 03:23] brandjon commented on #8536
Gerrit [sets](https://gerrit.googlesource.com/gerrit/+/refs/heads/master/.bazelrc) `--incompatible_strict_action_env` but also passes in `--action_env=PATH`, so you'd think they'd just get the client's PATH. Yet the error message indicates that the action is running with the default strict action env PATH of `/bin:/usr/bin`.

@buchgr, any idea why that would be?

[2019-06-05 03:25] OleksiyA commented on #7692
My OSX WindowsServer crashed couple times. I need to re-login, but all other processes were kept alive. Xcode would fail to build project afterwards.
My fix to run "bazel shutdown". After that all seems to work fine.

[2019-06-05 04:53] hlopko commented on #3935
Yes, I'm trying to get us a person to work on proto rules. No concrete results yet, only active effort :)

[2019-06-05 05:40] davido commented on #8536
IIRC Gerrit sets `--incompatible_strict_action_env` to make dick cache reliably work across different checkout directories (~/projects/gerrit, ~/projects/gerrit2, ...).

[2019-06-05 07:21] ittaiz commented on #6862
@buchgr hope I'm not harrasing you too much but we'd really like to try out the bes support.
Can we get the cherry-pick?
Also did it made it in to 0.27 rc?

[2019-06-05 07:42] meisterT commented on #7816
Laurent, this might require a cherry pick: #8539

[2019-06-05 08:24] buchgr commented on #8469
@smukherj1 in Bazel HEAD and starting with Bazel 0.27 you'll no longer need to set any `--spawn_strategy=` flags. Remove the flag and it should work again.

[2019-06-05 08:24] #8469 closed

[2019-06-05 09:46] mirsking commented on #8516
Sorry, but I have found a work around. I'll just close this. Thank you anyway.

[2019-06-05 09:46] #8516 closed

[2019-06-05 10:27] iirina commented on #8539
Thanks @davido. That's what I suspected as well. I'm trying to understand why bad5a2b caused this regression. By looking at how `//tools:error_prone_warnings_toolchain` is defined, the artifact should have been built for major version 53 with bazel 0.26.

I'm still looking into why the regression happened to come up with a proper fix.

If you are blocked by this you can add

[code]

to your toolch

[2019-06-05 10:41] davido commented on #8539
You mean major version 52, right? With 0.26 the produced byte code is correct and is major version 52.

[2019-06-05 10:55] iirina commented on #8539
I actually meant 54 because the javac version used by Bazel 0.26 comes from JDK 10.

The jar's major version with bazel@head comes from the javac version used (i.e. java 11 -> 55).
I can't figure out why the artifact major version with bazel 0.26 is 52. The javac version is 10 (54) and there are no `source_version` and `target_version` attributes specified on the `java_toolchain` in use.

[2019-06-05 13:15] leocnsh commented on #8371
@benjaminp thank you so much for your tip. By using the ```--copt``` flag to pass ```-fdiagnostics-color=always``` to GCC, I do get colored output, but unfortunately I also prevent bazel remote cache from working correctly: Since other developers might not be using the same copts,  the cache is always cold (from my system's view).

Do you have any ideas how to prevent this? Effectively, the ```-fd

[2019-06-05 13:18] buchgr commented on #8536
@brandjon Would it be possible for python to detect the PATH to the interpret as a repository_rule?

[2019-06-05 15:21] aiuto commented on #7445
Status update: The repo exists. https://github.com/bazelbuild/platforms
Work is underway by others to move Bazel over to it.

[2019-06-05 15:53] cushon commented on #8539
Oh, for some reason I though `default_java_toolchain` defaulted to `{source,target}_version = 8`.

The previous javac version had a non-standard modification to default to the Java 8 language level, which wasn't carried forward to 11. That explains the change.

[2019-06-05 16:05] iirina commented on #8539
Thanks @cushon for the explanation. The default `java_toolchain` used by Bazel uses `{source,target}_version = 8` but it's not hard-coded into `default_java_toolchain` itself. We can make it the default to keep backwards compatibility, although this is not really a bazel regression.

@davido does adding `{source,target}_version = 8` to the `//tools:error_prone_warnings_toolchain` work for gerrit?

[2019-06-05 16:56] aehlig commented on #8523
tl;dr: fixed upstream

The longer story is the following. The repository resolved file was once faithfully representing the semantics of the of the `WORKSPACE` file as a flat value. But then, the tool chains were introduced as a new concept but not added to the resolved file. It took me a while to realize that, and once I did, I fixed it in  384fc0bc2ae0ab084ff5a9e01bfdee17d123e017. That commit di

[2019-06-05 17:12] katre commented on #8523
Thank you! Is there a separate commit adding support for register_execution_platforms?

[2019-06-05 18:29] marcohu commented on #5092
Not quite. It only works if I split headers and sources. With the proper include it then finally compiles. Not sure if I had tried this last year. I'm currently using Bazel 0.26.

[code]

This limits the usage scenarios as the includes can't be dynamically determined from grammars (well it can but I don't see how I could feed back this information to the Skylark rule from my Java binary) and the u

[2019-06-05 19:23] nlopezgi commented on #8469
Hi @buchgr,
thanks for the clarifications.
https://github.com/bazelbuild/bazel-toolchains/pull/549 adds a test to validate this works as intended with 0.27.0rc1 (spoiler, it is).
also fyi @agoulti
Thanks!

[2019-06-05 20:04] brandjon commented on #8536
Yes, but we originally decided that wasn't necessary. Such a toolchain would only work for the host machine of course (notwithstanding running the repo rule in a docker image, etc.). Had I realized how much the action env could vary I might've chosen differently.

I don't think we need to add a new toolchain at this time though. Users can migrate by either fiddling with the action_env (meh) or bet

[2019-06-05 21:20] viettrungluu opened #8565 "bazel fetch seems to ignore configs, so can fail due to unused configs."
### Description of the problem / feature request:

bazel fetch seems to ignore configs, so can fail due to unused configs.

For example, gtest has in its (root) BUILD.bazel (https://github.com/google/googletest/blob/8EA412EE54E54CAC6E49EE3B7C209DA1/BUILD.bazel):
[code]

If you don't want absl, you don't set the config and you don't put it in your workspace. And everything (bazel build, bazel test)

[2019-06-05 21:29] ozio85 opened #8567 "Shared libraries hits filesystem limits on Linux"
### Description of the problem / feature request:
When creating shared object on linux, an internal shared library is created under:
Workspace_root/_solib_k8

When using cc_import, and the import is itself importing another .so, the path is appended to the first path with a "_Uimport___U" and just continues, creating a very long path. Even not using a cc_import it is possible to hit the maximum fi

[2019-06-06 00:06] benjaminp opened #8568 "crash defining a late-bound attribute"
[code]

[2019-06-06 05:53] davido commented on #7816
As pointed out in discussion in the above issue, https://github.com/bazelbuild/bazel/commit/bad5a2beb9f8441d97b88d5c4323055e710f72e8 introduced very serious regression (and is included in 0.27rc2):

[code]

As the consequence, after the upgrade from 0.26 to 0.27rc2 wrong byte code is generated, when building with default_java_toolchain. Even though, Java 8 is used, byte code with major version 55

[2019-06-06 07:08] oquenchil commented on #8111
We could accept this. Could you please send a PR?

[2019-06-06 07:09] #7670 closed

[2019-06-06 07:17] oquenchil commented on #4370
Sandwich is ready to be used. Closing this bug:
https://docs.bazel.build/versions/master/skylark/lib/CcInfo.html

[2019-06-06 07:17] #4370 closed

[2019-06-06 07:19] oquenchil commented on #4570
Sandwich is ready:
https://docs.bazel.build/versions/master/skylark/lib/cc_common.html#compile

[2019-06-06 07:19] #4570 closed

[2019-06-06 07:39] oquenchil commented on #5192
You can use the CcInfo provider for this:
https://docs.bazel.build/versions/master/skylark/lib/CcInfo.html

[2019-06-06 07:39] #5192 closed

[2019-06-06 07:44] oquenchil commented on #8129
What's the status on this?

[2019-06-06 07:47] oquenchil commented on #8303
Still need to remove patching action configs and features that are added last to the crosstool

[2019-06-06 07:53] aehlig commented on #8523
Is that another feature added to `WORKSAPCE` files? Then I guess I'll have to add that to the resolved file as well.

[2019-06-06 08:27] rahul-nitkkr opened #8570 "[BES/BEP] : BES doesn't report intermediate targets built as a part of building primary target"
### Description of the problem / feature request:

### Feature requests: what underlying problem are you trying to solve with this feature?

an example would be :
let's say the build has 3 targets

[code]

when run with bazel build //...  BES reports 3 targets configured
while running with bazel build //:baz, only 1 target is reported as configured/completed.

is there a way to get the underlying(

[2019-06-06 08:34] dslomov opened #8571 "Release 0.28 - July 2019 (stable)"
Target RC date - July 1st, 2019
This release will have no [breaking changes](https://docs.bazel.build/versions/master/backward-compatibility.html).

See the  [blog post](https://blog.bazel.build/2019/06/06/Bazel-Semantic-Versioning.html)  for some details

[2019-06-06 08:34] oquenchil commented on #8388
Fix is on the way. This was a bug in cc_library, for the warning we didn't look at precompiled files. Thank you Benjamin.

[2019-06-06 08:34] #8388 closed

[2019-06-06 08:35] dslomov opened #8572 "Release 0.29 - August 2019 (stable)"
Target RC date - August 1st, 2019.
This release will have no [breaking changes](https://docs.bazel.build/versions/master/backward-compatibility.html).

See the  [blog post](https://blog.bazel.build/2019/06/06/Bazel-Semantic-Versioning.html)  for some details

[2019-06-06 08:38] dslomov opened #8573 "Release 1.0 - September 2019"
Target RC date - September 3rd, 2019.
See the  [blog post](https://blog.bazel.build/2019/06/06/Bazel-Semantic-Versioning.html)  for some details

[2019-06-06 09:11] irengrig commented on #8491
Hi Greg, thank you for creating the issue.

I experimented with rules_nodejs on Windows VM and currently I see the errors from "bazel test //..." - please see the output in the end of this comment. (there are more errors, I cut only the beginning for the second failing tests)
I can not really understand it; it may be related. Strange that there is no no similar problem on CI.

My HEAD is at:
C:\Us

[2019-06-06 09:12] laszlocsomor opened #8574 "Remote execution pipeline fails"
### Description of the problem / feature request:

Remote execution pipeline fails:
https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1021#0e97657f-36db-482a-a385-eb492d1e2153

Example test log:
[code]

### What operating system are you running Bazel on?

Linux / JDK 11

### What's the output of `bazel info release`?

bazel @ efb3f1595ee897484c477168b8da42b67602e10e

[2019-06-06 09:15] macbutch commented on #8111
@oquenchil, there is a linked PR, I've just updated it to resolve a conflict.

[2019-06-06 10:08] aehlig commented on #8523
Pending for review: https://bazel-review.googlesource.com/c/bazel/+/102230

[2019-06-06 10:59] aehlig commented on #7499
Promoting 0.26.1rc3 to release...

[2019-06-06 11:24] aehlig commented on #7499
0.26.1 is available at https://releases.bazel.build/0.26.1/release/index.html

[2019-06-06 11:24] #7499 closed

[2019-06-06 11:36] hlopko commented on #3601
Another use case for this would be tools for various languages. E.g. rules_java use a tool called `singlejar` that is written in C++. This causes confusion in rules_java users: "Why do I need to have gcc installed when I'm only building Java??". We could rewrite the tool in Java, but then powerusers come and complain that the tool is too slow for them.

If we had support for optional toolchains, w

[2019-06-06 11:39] laurentlb commented on #8539
Let me know what needs to be cherrypicked for 0.27.

[2019-06-06 11:39] hlopko commented on #3790
As far as I know, C++ toolchain is no longer needed as implicit dependency of anything that Bazel builds.

There are still tools written in C++ that are used to build code in other languages (for example is protobuf compiler, which is written in C++ and is used to generate Java protos).

If you see that a C++ toolchain is required and you believe it shouldn't be, it's a bug. Please file a separate

[2019-06-06 11:39] #3790 closed

[2019-06-06 11:45] bazel-io commented on #8539
I'm importing the PR to be cherry picked now, I'll let you know.

[2019-06-06 11:47] hlopko commented on #4672
With crosstool in starlark this is trivially doable by using 'c-compile' action name.

[2019-06-06 11:47] #4672 closed

[2019-06-06 11:52] hlopko commented on #5359
I believe all work related to this issue is done. Docs can be found https://docs.bazel.build/versions/0.26.0/cc-toolchain-config-reference.html

[2019-06-06 11:52] #5359 closed

[2019-06-06 11:56] hlopko commented on #186
See the new revamped C++ toolchain configuration https://docs.bazel.build/versions/0.26.0/cc-toolchain-config-reference.html. This issue can be solved by writing a custom C++ toolchain, and providing a feature providing flags in question, and this feature can be enabled/disabled by individual targets. I'll close this issue now, feel free to complain if this is not enough. Thanks!

[2019-06-06 11:56] #186 closed

[2019-06-06 11:58] ashi009 commented on #5567
Another hack is to leverage remap_paths:

[code]

[2019-06-06 12:26] hlopko commented on #2381
The static crosstool will be removed by https://github.com/bazelbuild/bazel/issues/8546, so the confusion will be gone :)