[2022-08-23 16:12] fmeum commented on #15685
https://github.com/bazelbuild/bazel/pull/16008#issuecomment-1224267553 is a first report of a 5.3.0 regression my fix for #16003 introduced - the existing tests didn't cover local execution.

[2022-08-23 16:19] larsrc-google commented on #15513
My most likely explanation is that the `--patch-module` flag makes Javac try to read something that's not there because it's not properly declared and thus not included in the sandbox. But your repro doesn't include any actual jar file to patch in, so I'm not sure why that would fail.

[2022-08-23 16:54] erikkerber commented on #6401
Bump for this issue. This bit me pretty hard when I typo'd in a lowercase in one of my builds.

[2022-08-23 17:00] Wyverald commented on #16003
@bazel-io fork 5.3.1

[2022-08-23 17:01] bazel-io opened #16153 "[5.3.1] Bazel 5.3 fails to run external tests"
Forked from #16003

[2022-08-23 17:01] Wyverald commented on #16003
The fix introduced a regression (see https://github.com/bazelbuild/bazel/pull/16008#issuecomment-1224267553), which we will probably need a patch release for.

[2022-08-23 19:24] fmeum commented on #16153
At Bazel HEAD, https://github.com/bazelbuild/bazel/pull/16008#issuecomment-1224267553 could be fixed by adding yet another rpath entry using https://github.com/bazelbuild/bazel/pull/14600 which is going to be merged soon.

For 5.3.1, one option would be to cherry-pick https://github.com/bazelbuild/bazel/pull/14600 and that additional rpath entry.

Alternatively, we could revert both https://github

[2022-08-23 20:35] brentleyjones commented on #16085
Possibly a duplicate of https://github.com/bazelbuild/bazel/issues/12117.

[2022-08-23 22:34] uri-canva commented on #16147
Workaround I'm using in the meantime:
[code]

[2022-08-23 22:59] WizardStan opened #16157 "C++ remote fails on Windows if include path contains two "../""
### Description of the bug:

If the #include path contains two (or more) "../" anywhere in it (other than at the very start) the build will fail with an "undeclared inclusion(s)" failure when building remotely on Windows.
Eg:
`#include "test/test/../../test.h"`
`#include "test/../test/../test.h"`

It does not have to be a single direct include; a more complex situation occurs when one include cont

[2022-08-24 05:55] fmeum commented on #16147
Maybe `BUILD` can just be renamed to `BUILD.bazel`?

[2022-08-24 07:38] JR-Eagle commented on #10270
Thanks. It also worked for me

[2022-08-24 10:13] Wyverald opened #16159 "Release 6.0.0 - December 2022"
# Status of Bazel 6.0.0

-   Target baseline: 2022-10-24
-   Expected release date: 2022-12-19
-   [List of release blockers](https://github.com/bazelbuild/bazel/milestone/38)

To report a release-blocking bug, please add a comment with the text `@bazel-io flag` to the issue. A release manager will triage it and add it to the milestone.

Task list:

-   [x] Pick release baseline
-   [x] Create rel

[2022-08-24 12:33] oquenchil commented on #16153
I don't know to be honest. I'd prefer if we do it the cleaner way and revert whatever commits need to be reverted.

[2022-08-24 13:23] beasleyr-vmw commented on #16145
Would the Bazel team kindly reconsider the priority of this issue for the following reasons?
1. Bazel blogs and docs have hyped dynamic execution for a while, and tree artifacts aren't _that_ rare.
2. These corrupt tree artifacts pass validation and so are handed off in an indeterminate state to subsequent actions. We're lucky in that our builds failed when this occurred. Others might not be so lu

[2022-08-24 13:58] Wyverald commented on #16153
Unfortunately it's unlikely we can revert https://github.com/bazelbuild/bazel/commit/00805727b867d33fd922e63ca82b0d9825ad79fe since it's needed for Roboleaf and has been behavior for over a year now.

According to @oquenchil, @lberki is the best person to talk to about rpaths, but unfortunately he's still on leave for another two weeks.

So, as someone who knows absolutely squat about rpaths (and

[2022-08-24 15:32] fweikert opened #16160 "Status of Bazel 6.0.0-pre.20220818.1"
- Expected release date: 2022-08-24

Task list:

- [x] Pick release baseline: [62d1b0b2](https://github.com/bazelbuild/bazel/commit/62d1b0b2b6c9646855698b5d7f9515521bc37a45)
- [x] Create release candidate: https://releases.bazel.build/6.0.0/rolling/6.0.0-pre.20220818.1rc1/index.html
- [x] Post-submit: https://buildkite.com/bazel/bazel-bazel/builds?branch=release-6.0.0-pre.20220818.1rc1
- [x] Push

[2022-08-24 15:35] limdor commented on #16159
It would be nice if this would go it, I guess it got forgotten https://github.com/bazelbuild/bazel/pull/15960

[2022-08-24 16:35] brown opened #16161 "bazel build remote downloads fail to use proxy settings"
### Description of the bug:

I run "bazel build" with shell environment variables http_proxy and https_proxy set.  Bazel fails to use the proxy when downloading **some** remote repositories.

I run "bazel sync" and Bazel **does** use the proxy settings to download all remote repos that "bazel build" failed to download.

Here are some representative error messages from a failed "bazel build" run.

[2022-08-24 17:32] kshyanashree commented on #15685
Hi @dan-cohn-sabre! As we are working on it, we will keep you updated of any progress. Thanks!

[2022-08-24 19:46] alexeagle commented on #16159
FYI @fmeum has one more commit to finish with https://github.com/bazelbuild/bazel/issues/10298 and it's quite important to me and @ulfjack that we have symlinks working so that rules_js can support RBE. Will link the remaining PR when we have it.

[2022-08-24 20:35] #16160 closed

[2022-08-25 03:07] Silic0nS0ldier opened #16162 "Optimise repository rule generation with re-entrancy"
### Description of the feature request:

Instead of restarting repository rule fetching when a new dependency is discovered, pause execution and resume once it is available.

Subject to how this is achieved, it should provide;
* A major performance boost to many repository rule implementations
* More predictable performance
* More options for optimisation (using dependency references early is now

[2022-08-25 06:08] ssripadham opened #16164 "Cache hit errors while building envoy proxy in windows"
### Description of the bug:

Cache hits (race conditions) instead of downloading the corresponding file while building Envoy proxy

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

In the windows command shell

[code]
Configure, build and/or install the [Envoy dependencies]

**Configure Visual Studio 2019**
[Build Tools for Visual Studio 20

[2022-08-25 07:47] fmeum commented on #16162
I briefly started working on this once using [env.getState](https://cs.opensource.google/bazel/bazel/+/8fcac10b57135f115fd001afe226f1c65ce7b244:src/main/java/com/google/devtools/build/skyframe/SkyFunction.java;l=429).

It essentially comes down to adding some form of continuation support to the Starlark interpreter. Unfortunately, the "Starlark stack" is a mix of custom data structures and the act

[2022-08-25 10:09] Wyverald commented on #16162
As @fmeum noted, this is actually not very easy to achieve at all, not without changes to the Starlark interpreter that allows us to store (and restart from) a call stack and a program counter. Either that, or something like `yield` in Java would work, but that's not likely to be available until 2023.

[2022-08-25 11:04] biwiki commented on #11371
Thanks @cmcgee1024 , trick with `cat /dev/tty` works for me

[2022-08-25 13:14] aiuto commented on #5859
cc: @buildbreaker2021

[2022-08-25 13:22] meteorcloudy commented on #15856
Since this feature is implemented and cherry picked to 5.3.0, should we close this one?

[2022-08-25 13:32] tjgq commented on #15856
The proposal hasn't been fully implemented yet (e.g. we're missing support for repository fetching).

[2022-08-25 13:40] iHuahua commented on #12889
IMHO, bazel is an incomplete compilation system with too many issues left unresolved. Our project is a cross-platform project (planning to support Android, iOS, macOS, Windows, Linux), including 8000+ C++ files, a little dart, a little go. I also chose it after seeing the cross-platform in the introduction of bazel. After a year of use, I feel really disappointed, and now I am migrating to CMake.

[2022-08-25 17:34] UebelAndre commented on #16076
Is [`RunEnvironmentInfo`](https://bazel.build/rules/lib/RunEnvironmentInfo) available to starlark rules somehow?

[2022-08-25 18:22] fmeum commented on #16076
Yes, other than `testing.TestEnvironment`, it's a regular Starlark-accessible provider available in Bazel 5.3.0.

[2022-08-25 19:35] samuela commented on #15359
This bug also impacts the bazel build of jaxlib on x86_64-darwin with clang (https://github.com/NixOS/nixpkgs/pull/183051#issuecomment-1226635146).

[2022-08-25 20:15] crugwoben opened #16167 "`cc_binary` ignores `env` attribute"
### Description of the bug:

It looks like `cc_binary` doesn't take into account the `env` attribute in `6.0.0-pre.20220818.1`. It works correctly with `cc_test` rules, though (I believe [this](https://github.com/bazelbuild/bazel/blob/b671079e6cc3864cdbf6018474c9e417bc062453/src/main/starlark/builtins_bzl/common/cc/cc_test.bzl#L30) is the relevant code). It also works when setting `--experimental_

[2022-08-25 21:46] ssripadham commented on #16164
Also followed https://bazel.build/configure/windows (Build C++ with MSVC and verified that this worked) meaning the configuration was good.

[2022-08-25 22:39] uri-canva commented on #15359
Anyone have a small repro I can run through the debugger? Tensorflow is a bit big and I'm not very familiar with c++, so not sure I would be able to extract a small repro from it.

[2022-08-26 05:50] fmeum commented on #16167
@trybka Is `cc_binary` lacking the same handling you added for `cc_test`?

[2022-08-26 07:51] Warchant opened #16168 "compiler_param_file does not use custom flag prefix from "flag_groups""
### Description of the bug:

On Windows there is a need to enable "compiler_param_file" feature to solve 32k chars CreateProcessW limit.

If compiler does not support @ synax (`g++ @file.txt`) but requires custom flag, default feature implementation should be changed.

My version:

[code]

Feature is enabled, but I still see `@` prefix instead of `--cmd_file`:
[code]

### What's the simplest, easi

[2022-08-26 09:03] fmeum commented on #16168
@sgowroji Looks like the use of `@` rather than the feature expansion is hard-coded here: https://cs.opensource.google/bazel/bazel/+/b671079e6cc3864cdbf6018474c9e417bc062453:src/main/java/com/google/devtools/build/lib/rules/cpp/CompileCommandLine.java;l=96.
A reproducer would still be a useful base for an integration test added after this has been fixed.

[2022-08-26 10:05] joe-polin commented on #15727
Hey @rickeylev thanks for the thorough and well though out response. These are all great questions! I don't have answers for most of them (at least, not good ones). A few thoughts:

I believe that the `i` in `.pyi` stands for interface. The mypy [documentation](https://mypy.readthedocs.io/en/latest/installed_packages.html#making-pep-561-compatible-packages) mostly uses the words "stubs." Given tha

[2022-08-26 10:23] tjgq commented on #15639
I'm no longer convinced there's a bug in google-auth-library-oauth2-http. The test case I added in googleapis/google-auth-library-java#984 passes even without the fix (as the maintainer pointed out).

I'm fairly sure PR #16082 was the right fix all along. I've just managed to run a GitHub action successfully with WIF using a Bazel built at that PR.

[2022-08-26 11:36] Wyverald commented on #16147
This has been fixed (see updates in https://github.com/bazelbuild/bazel/pull/16163)

[2022-08-26 11:36] #16147 closed

[2022-08-26 11:57] comius commented on #13951
Hey, I think output paths are more concern of Configurability team? Or perhaps OSS? Please triage.

[2022-08-26 12:44] kylekurz commented on #15639
@tjgq does that mean my build of your branch was wrong? I definitely didn't get a successful WIF run using that, but I can try again if you'd like.

[2022-08-26 12:56] hemanthsridhar opened #16169 "No way to JUST generate an instrumented binary"
### Description of the feature request:

For example,
 In golang we have the ability to generate an instrumented binary without running any tests.
I don’t see any documentation on how to just generate an instrumented binary. So i am assuming that this feature isn’t available

### What underlying problem are you trying to solve with this feature?

The reason this will be helpful is that we can use

[2022-08-26 13:13] crugwoben commented on #16167
(@sgowroji I believe this issue is mislabeled. Should probably be "team-Rules-CPP`)

[2022-08-26 13:14] meteorcloudy commented on #16143
Is this one done as https://github.com/bazelbuild/bazel/commit/ae2e930a19f52f604031a4bddafea98efbe7803a landed?

[2022-08-26 13:17] Wyverald commented on #16143
The change to report the cycles is still pending.

[2022-08-26 13:31] kylekurz commented on #15639
I have a GHA runner I manage in GCP so I can have local cache for some runs, so I just built the binary (on that machine) and called it directly from there instead of using the bazelisk wrapper.

[2022-08-26 13:50] trybka commented on #16167
It appears that it is. Lemme see about adding it.

[2022-08-26 13:57] tjgq commented on #15639
Ok, so here's how I verified that it works for me:

- I checked out the https://github.com/tjgq/bazel/tree/auth branch and built a Bazel  with `bazel build //src:bazel` at commit a416cea.
- I copied the built `bazel` into a [minimal repository](https://github.com/tjgq/wif-repro) containing a GitHub action that I set up according to the instructions at https://github.com/bazelbuild/bazel/issues/142

[2022-08-26 14:24] brown commented on #16161
The team-ExternalDeps label may be better than team-Remote-Exec for this bug.

[2022-08-26 14:58] tjgq commented on #16145
I agree that this is likely the same issue as https://github.com/bazelbuild/bazel/pull/11340#issuecomment-629246895 ("internal" in that discussion means the Google-internal counterpart of remote build execution).

I've put together PR #16145 to implement the fix proposed by jmmv. (I'm cheating a bit by using a hash instead of a counter; it will probably have to change before submission.)

@beasley

[2022-08-26 17:16] srago opened #16171 "CredentialHelper change broke unix domain socket support"
We use a unix domain socket for our remote_executor and remote_cache endpoints, because we use a side-car proxy to handle SPIFFE mTLS negotiation.  This stopped working with the release of bazel 5.3.0.  With 5.3.0, bazel fails before issuing its first GetCapabilitiesRequest.  The error message was "ERROR: Failed to query remote execution capabilities: UNAUTHENTICATED: Failed computing credential m

[2022-08-26 17:24] fmeum commented on #16171
@bazel-io flag

[2022-08-26 17:56] a-pushkin commented on #7746
New year, new check for updates ;)
It would be great to be able to reference tools from external packages without wrapper scripts.

[2022-08-26 18:33] tjgq commented on #16171
Sorry about that. This corner of Bazel is poorly tested; I guess something like this was bound to happen.

Could you please share the full stack trace and the exact values of `--remote_executor` and `--remote_cache` you're using?

[2022-08-26 18:59] srago commented on #16171
Here's the command line and stack trace.  The line numbers might be off a bit -- I recompiled bazel from the head and added a couple printf statements.
[code]

[2022-08-26 19:19] tjgq commented on #16171
Thanks, this is helpful. It appears that `new URI("unix:///foo/bar).getHost() == null` and `new URI("unix:/foo/bar") == null`, but `new URI("unix://foo/bar") == "foo"`. I wonder if using one or two slashes after `unix:` instead of three is a valid workaround. Hopefully the gRPC library isn't too picky...

That being said, I totally agree that we shouldn't crash here! I think the right fix is to re

[2022-08-26 19:30] silvergasp commented on #7746
This has mostly been addressed in #10967.

I think there is a little bit more work to do before closing this;
- [ ] Improve the docs, around defining tool path/targets using the action_config/tool functionality added in #10967.
- [ ] Update the cc_toolchain tutorial to prefer using the new action_config based approach
- [ ] Potentially deprecate the tool_path field altogether in favour of the acti

[2022-08-26 19:35] silvergasp commented on #7746
An additional point would be that https://github.com/bazelbuild/rules_cc/pull/72 would probably need to be merged to match the main Bazel repository as well.

[2022-08-26 19:47] srago commented on #16171
Regardless of the number of slashes, it used to work with versions of bazel older than 5.3.  I've used it on 5.2.0, 5.1.0, 5.0.0, and 4.2.2 to name a few.  But I'll look into seeing how it behaves when we have only 1 slash and let you know what I find.

[2022-08-26 20:27] srago commented on #16171
Yep, regardless of the number of slashes, it fails at the same precondition check.  (I tried 1, 2, and 3.)  Also, for unix domain sockets, there is no host -- the entire remainder of the string is the pathname of the socket file, so getHost() probably should return null when the scheme is "unix:".

[2022-08-26 20:45] jfirebaugh opened #16174 "Undesired output behavior for cc_test srcs"
### Description of the bug:

This is a UX bug in Bazel's output for `bazel test <target>` when `<target>` is a `cc_test` with `srcs`.

Rather than printing an individual "Compiling foo.cpp" line for each file in `cc_test`s `srcs`, as it does for `cc_library` or `cc_binary`, bazel prints a combined "Testing //:test [2s, 4s]" line. This is misleading because it's not testing at that point, and undes

[2022-08-26 21:56] adam-azarchs opened #16175 "Files downloaded via --experimental_remote_download_regex are not executable."
### Description of the bug:

When building with `--remote_download_outputs={minimal,toplevel} --experimental_remote_download_regex=...`, files which are downloaded because of matching `--experimental_remote_download_regex` (but _not_ those picked up as top-level outputs, thankfully) do not have their executable bit set.

### What's the simplest, easiest way to reproduce this bug? Please provide a

[2022-08-26 22:39] lfpino commented on #16175
cc @lfpino @anfelbar

[2022-08-26 22:44] lfpino commented on #16175
@coeuvre you can assign me to this one if you want :)

[2022-08-26 23:09] kshyanashree commented on #16174
Hello @jfirebaugh, Could you please provide the complete steps to reproduce the above request like sample repo? Thanks!

[2022-08-26 23:42] kshyanashree commented on #16175
Hi @adam-azarchs, Could you please provide complete steps to reproduce the above issue with code repo. Thanks!

[2022-08-26 23:44] kalcutter commented on #7746
I am confused how to use this. My understanding is, now you can use `tool(tool = ...)` instead of `tool_path()`. I tried something like:
[code]
But when do this I get:
[code]

[2022-08-26 23:53] adam-azarchs commented on #16175
Unfortunately our affected repos are closed source.  If necessary I can try to cobble together a minimum reproducer, but I probably won't have time to do that that until later next week.

[2022-08-27 00:07] silvergasp commented on #7746
You need to use the tool constructor with an action_config.

I answered a StackOverflow question earlier today on this, if you are looking for an example.

https://stackoverflow.com/a/73505313/4955829

[2022-08-27 00:13] silvergasp commented on #7746
Personally I think the tool constructor could probably entirely replace the tool_path constructor. I think having both just gets confusing, with very little added value.

[2022-08-27 01:49] beasleyr-vmw commented on #16145
Thanks for putting this together so soon. This absolutely helps and solves the problem of .tmp files landing in my output directory. One thing missing is that the .tmp files are left behind under `_tmp/actions`, but afaict they're cleaned before the next execution.

Might be too late to be useful, but I finally put together a repro case: https://github.com/beasleyr-vmw/repro-bazelbuild-bazel-16145

[2022-08-27 09:59] #15639 closed

[2022-08-27 13:42] pswaminathan opened #16177 "Bazel tries to use dx instead of d8 if using default dex_shards with Android Build Tools >=31"
### Description of the bug:

Android build tools >=31 removed dx in favor of d8. However, when building an `android_binary`, Bazel still attempts to use `dx` if `dex_shards` is 1 (as the unset default or explicitly set to 1). Setting a non-standard `dex_shards` makes this go away, but Bazel shouldn't be trying to use `dx` regardless.

This behavior persists even if using flags to explicitly use d8

[2022-08-27 18:21] UebelAndre commented on #16076
I've tried to implement this feature but it seems to require quite a bit of plumbing and I think (as someone who has zero familiarity with the Bazel code base) would require hand holding or would need to defer to someone more familiar. It's easy enough to locate and update `RunEnvironmentInfoApi.java` but from there, how to get it into test actions (and I'd assume run invocations) goes into quite

[2022-08-27 18:23] fmeum commented on #16076
@UebelAndre I'll be busy next week, but feel free to ping me starting September 4 and I can give you some pointers and/or pair.

[2022-08-28 05:21] philsc commented on #15427
@joeleba , I pushed #16178 for your consideration.

[2022-08-28 06:05] philsc commented on #16099
@gregestren  (or maybe @katre , @googlewalt ?), if you could help me find the owner of the `objc_*` rules for their thoughts, I'd appreciate it.

I don't really know the `objc_*` rule set, so I don't have much to go on, but my naive understanding leads me to the following solutions:
1. Drop the self-transition for `objc_*` rules.
2. Make the `objc_*` rules use platforms natively and also drop the

[2022-08-28 08:29] limdor commented on #10056
@gregestren I think this ticket can be closed, tool_deps is working in C++ or at least not failing with Unrecognized option.

I came to this ticket when searching to try to understand how tool_deps and implicit_deps behave. I cannot say if notool_deps is excluding what it should but the option is recognized.

In case someone is interested, there the different outputs with the different combination

[2022-08-28 10:05] kcking commented on #15304
I ran into a similar issue in trying to build a native rust server that depends on rust compiled to wasm. I get the stack trace from above when `--incompatible_enable_cc_toolchain_resolution=1` is set. I was able to fix this issue by patching rules_rust's dummy cc toolchain to have the fields expected by bazel: https://github.com/kcking/rules_rust/commit/a20fd7cf8ae19dbb37a69107df9dc447e2d5e3c0

F

[2022-08-28 17:34] matthewjh commented on #4327
Is anyone working on a long term solution to this problem? Having this issue on MacOS with rules_webtesting.

That works, until you need to debug a browser test using `bazel run`, in which case runfiles try to build. Or is there some way to debug in a live browser using `bazel test`?

[2022-08-29 05:11] #8252 closed

[2022-08-29 06:28] hemanthbsridhar commented on #16169
@kshyanashree can someone please help us with this?

[2022-08-29 08:24] coeuvre commented on #16175
@lfpino Thanks! Please take a look! I'm happy to review the fix.

[2022-08-29 09:19] qianweihe opened #16179 "CXX target cache poisoning problem: undeclared inclusion(s)"
### Description of the bug:

Currently, Bazel's handling mechanism for CXX type target using remote_cache(or disk_cache) is:
- Phase 1: Execute. This phase usually generates `.d` and `.o` files.
- Phase 2: Upload cache.
- Phase 3: Check. The `.d` file will be checked during this phase.

There is a bug in these phases: even if the `Bazel Build` failed but the cache (AC & CAS) may still be uploaded

[2022-08-29 10:19] meteorcloudy opened #16180 "Bzlmod: implement yanked version support"
Basically, we need to implement "Solution 1" from this discussion: https://github.com/bazelbuild/bazel-central-registry/discussions/128

[2022-08-29 10:20] buildbreaker2021 commented on #5859
There is https://github.com/bazelbuild/bazel/blob/master/src/main/starlark/builtins_bzl/common/cc/cc_helper.bzl#L856-L868

Even though the name suggests it works for copts, it can be used for other make variable expansion as well. It is possible to provide it with additional variable definitions and also supports shell tokenization.

The method is incomplete, in a sense that some special variables

[2022-08-29 10:46] #14552 closed

[2022-08-29 11:03] aleksandergrzyb opened #16182 "add support for `arm64` architecture for watchOS devices (Xcode 14)"
### Description of the feature request:

Xcode 14 adds `arm64` architecture for watchOS devices:

<img width="364" alt="Screenshot 2022-08-29 at 12 33 42" src="https://user-images.githubusercontent.com/3186691/187184897-ab3ed0f8-5001-44ca-94d4-0ea46b251a93.png">

Currently Bazel [only supports `armv7k` and `arm64_32`](https://github.com/bazelbuild/bazel/blob/26509a7b6c684adcab34d00ef765f069f4c8ac1

[2022-08-29 11:28] Wyverald opened #16183 "Implement `bazel_compatibility` on the `module` directive"
See [section in the original design doc](https://docs.google.com/document/d/1moQfNcEIttsk6vYanNKIy3ZuK53hQUFq1b1r0rmsYVg/edit#heading=h.vxty4pj7bwk8).

Also a bit more background in https://github.com/bazelbuild/bazel-skylib/issues/384

[2022-08-29 11:56] Wyverald commented on #14632
After some implementation work and discussion, I don't think this is feasible.

The gist of the problem is that segmenting the file gives the impression that each file can function independently, but that's not actually true. For example, if two segments both declare a `bazel_dep` on the same module, we'd just error out since a module can't depend on the same module twice (without a multiple-versi

[2022-08-29 11:56] #14632 closed

[2022-08-29 11:59] Wyverald commented on #16171
@tjgq do you think this warrants a patch release?

[2022-08-29 12:14] tjgq opened #16185 "Reenable tests for gRPC UDS proxy"
https://cs.opensource.google/bazel/bazel/+/master:src/test/shell/bazel/remote/remote_execution_test.sh;l=161;drc=b303cd128d9f1d913749927f4a1cd942b10b1ae2
https://cs.opensource.google/bazel/bazel/+/master:src/test/shell/bazel/remote/remote_execution_test.sh;l=200;drc=b303cd128d9f1d913749927f4a1cd942b10b1ae2

They were disabled due to flakiness in 8e3c0df. As a consequence, we introduced an undetect

[2022-08-29 12:18] tjgq commented on #16171
@Wyverald It's a regression that affects existing users and there doesn't seem to be a workaround for it, so probably yes? (I don't know what's our patch release policy.)

@srago I'd like to go with #16184 as the fix. Could you please confirm that it works for you?

cc @Yannic - until #16185 is fixed, we should manually verify that a UDS proxy works when making changes to credential helpers.

[2022-08-29 12:25] maapteh opened #16187 "add `prebuild` option for our typescript setup like we have in npm eco system"
### Description of the feature request:

In our yarn workspace Typescript monorepo we have the option before building anything, to mangle some files. I would like to have the same feature in our bazel build file, or if not possible inside for example `js_library` (from `load("@build_bazel_rules_nodejs//:index.bzl", "js_library")`) to mangle our package.json before/after creating its package.

###

[2022-08-29 12:29] maapteh commented on #16115
@sgowroji if i will continue with Bazel, i will create complete monorepo sample to point to the problem. I've added a new issue which is an important one for us to understand if we really should have two different build platforms in our setup. Since we use Typescript features and all we are doing at the moment is adjusting our setup to Bazel instead of supporting our workflow. And this new issue b

[2022-08-29 12:33] Wyverald commented on #16171
@bazel-io fork 5.3.1

[2022-08-29 12:33] bazel-io opened #16188 "[5.3.1] CredentialHelper change broke unix domain socket support"
Forked from #16171

[2022-08-29 12:48] meisterT commented on #7595
(Sorry for the late response, I was on a longer vacation and am still working through my pile of email. )

The implementation was mostly unused and it was buggy (not always reloading changed jars correctly IIRC). The internal test that we had became flaky and we didn't have the bandwidth to properly fix the functionality, so we decided to delete the experiment.

It is always available in version c

[2022-08-29 12:48] Wyverald commented on #14570
Update: @SalmaSamy sent a draft PR (#16000). The repo name conflict issue makes it not worth it to create this built-in module extension (see https://github.com/bazelbuild/bazel/pull/16000#discussion_r957276786) IMO.

[2022-08-29 13:26] srago commented on #16171
Confirmed #16184 fixes the problem with Unix domain sockets.  Thanks for the quick response time!

[2022-08-29 13:54] oquenchil commented on #15304
This should be obsolete with the Starlark implementation of cc_library which will be released in 6.0.

[2022-08-29 13:54] #15304 closed

[2022-08-29 15:10] srdo-humio commented on #15845
@aranguyen The above is simplified to show the slightly odd behavior. Our actual use case for this was this:

When doing local development, we wanted `--test_output=errors` configured for our devs. When running on CI, we wanted `--test_output=all` instead. We attempted to do this by having the following lines in `.bazelrc` in the project root:

[code]

On CI, rather than adding `--config=ci` to ev

[2022-08-29 15:32] #16171 closed

[2022-08-29 17:44] ittaiz commented on #7595
Thanks for the additional feedback!
I've taken a turn away from bazel and towards "fast test" in IntelliJ but I'm not loving this direction.
I might take us this issue if the "fast test" direction falls through.
Thanks!

[2022-08-29 18:50] #15461 closed

[2022-08-29 19:34] dws opened #16190 "commit e9a4e93ed71 changed the meaning of the patches parameter to patch() in tools/build_defs/repo/utils.bzl"
### Description of the bug:

Prior to commit e9a4e93ed71, patch() in tools/build_defs/repo/utils.bzl processed its patches parameter as follows:
[code]
This idiom is consistent with how patch() processes patch_cmds and patch_cmds_win, and means that if a user has supplied patches or patch_cmds or patch_cmds_win explicitly, then patch() will not look at the attributes of the repository rule.

commi

[2022-08-29 19:37] dws commented on #16190
@meteorcloudy FYI

[2022-08-29 21:25] pswaminathan commented on #16177
@sgowroji whoops, I made the repository private by accident. I've made it public now so those links should work!

[2022-08-30 08:39] meteorcloudy commented on #16190
@dws If a repository rule already has the patches attribute, it'll be confusing for users that those patches are not applied, right? Can you provide a simple reproduce case that reflects your use case?

[2022-08-30 09:39] #15427 closed

[2022-08-30 09:57] meisterT commented on #16043
Consider trying `--experimental_stats_summary` which will show a line like this:
[code]

If you want to have the info programmatically, you can use the BEP, e.g. by adding the flag `--build_event_json_file=/tmp/bep.json` and then doing this:
[code]

[2022-08-30 12:21] tom-cnops commented on #16119
As far as I can see `show_progress_rate_limit` does indeed set a _minimum_ time. The docs could perhaps be formulated a bit better, but they also seem to suggest a minimum to me?

But this seems mostly orthogonal to the issue of the interval increasing if there is no cursor control:

- If `progress_report_interval` is longer than `show_progress_rate_limit`, the latter basically does nothing.
- If

[2022-08-30 15:50] chancila commented on #16043
I think one main issue we have is that it's impossible to get the ratio of cacheable actions / actual cache hits from the BEP...the only way as mentioned is by using the exec log.

it would be good to have the aggregate count of potentially cacheable actions in the BEP as well.

[2022-08-30 15:51] goldencz commented on #1920
My two cents:
I'm quite shocked that this function has been discussed for 6 years and there's still no official solution. I'm persuading my company to adopt Bazel, but I was challenged due to the lack of some basic functionalities, this issue is one of them.
Hope there will be a plan to address it.

[2022-08-30 15:54] 424778940z commented on #1920
no, god, please no....
use whatever above you could find, get bazel to produce a  single library, then use cmake or other reasonable build tools instead.

[2022-08-30 16:00] ted-xie commented on #15461
Worth noting the performance improvement here (copied from the commit message in 68f1f40):

The amount of CPU time reduction will be proportional to the number of classfiles in the library; for larger libraries, a single-class modification will have larger time savings with dex caching versus without. Overall, developers working on large apps should notice some nice performance gains on iterative

[2022-08-30 16:13] swarren12 opened #16191 "Incorrect JUnit parameterized testsuite name in `test.xml`"
### Description of the bug:

When running a parameterised JUnit test via Bazel, the output in `test.xml` incorrectly sets the parameters as the name of the testsuite, rather than the fully-qualified test class. For example:

[code]
vs
[code]

In the above snippet, it seems that the class name is included in the file, but it is as an empty `<testsuite>`. It seems as though the parameters are being

[2022-08-30 17:57] EwoutH commented on #12889
Thanks a lot for looking into this! Is there any update you can share at this moment?

[2022-08-30 18:06] aaliwei91 opened #16192 "zlib-1.2.11.tar.gz: GET returned 404 Not Found"
### Description of the bug:

ubuntu@DESKTOP-8EFQK2H:~/martin_test/arbor/experimental$ bazel build continuousData --define os=ubuntu
DEBUG: Rule 'com_google_protobuf' indicated that a canonical reproducible form can be obtained by modifying arguments commit = "09745575a923640154bcf307fba8aedff47f240a", shallow_since = "1558721209 -0700" and dropping ["tag"]
DEBUG: Rule 'bazel_skylib' indicated that

[2022-08-30 18:31] jfirebaugh opened #16193 "`bazel run --script_path=test` fails silently when target uses `shard_count`"
### Description of the bug:

When you run `bazel run --script_path=test <target>` and the target is a test target that uses `shard_count`, Bazel exits with status code 2 with no indication of why.

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Minimal example: https://github.com/jfirebaugh/bazel_cc_test_output/tree/script_path

### Which

[2022-08-30 18:44] nikhilkalige commented on #15738
@katre I had time to look into this again. In the mean time, I have also updated the bazel to `6.0.0-pre.20220720`.

I set breakpoints at all three locations you listed above and I am not hitting any of them :(

[2022-08-30 19:44] nikhilkalige commented on #15738
I found the issue. We have a wrapper for bazel as below
[code]
Example contents for *daystamp*
[code]

The `.daystamp` file was then used as dependency of almost all workspace rules. The contents of the stamp file change are only supposed to change only once a day.
But removing the `date` line from wrapper script seemed to fix the issue.  I would love to understand why that happens though.

Thanks

[2022-08-30 19:51] dws commented on #16190
I can describe the general idea pretty simply.  This custom repository rule has a number of additional attributes to permit specifying a variety of things that all need to be downloaded into a single repository. As a part of this, it has attributes `base_package_patch_cmds` and `base_package_patch_cmds_win` which need to be applied at a certain point in the processing.  The rule has TWO calls to `

[2022-08-30 20:57] DanAlbert commented on #12889
Hi there, I own the NDK. Let me know if there's anything we can do to help here, or how we can make this easier in the future. The changes we made that are causing the r21 -> r22+ jump to be harder than previous upgrades were designed to make _future_ upgrades easier. These changes landed in r19 and announced the upcoming removal of the legacy support (I'd have loved to just keep the legacy sysroo

[2022-08-30 21:31] aiuto commented on #14444
+1 to what @teeler's point.
The ideal case is that we can tell a source dep from a data dep, from a
tool dep based on properties of the attribute declaration itself.
And, it's not just those 3, we would eventually want nuances like "this
data is for running the artifact, but that data is user-replaceable
configuration files"

Until that day, simply knowing of something is a tool vs a dep that gets

[2022-08-30 21:37] kshyanashree commented on #16191
Hello @swarren12 , Could you please provide the complete steps to reproduce the above request like sample repo? Thanks!

[2022-08-30 22:20] tpudlik commented on #7091
This bug interacts particularly perniciously with `py_proto_library`, which uses Python imports not qualified with the repo name (which should not be allowed, https://github.com/bazelbuild/bazel/issues/7067). The result is that imports in proto generated code may become ambiguous and resolve to incorrect packages at runtime (see https://issuetracker.google.com/issues/241456982#comment8 for an exam

[2022-08-30 22:34] cpsauer commented on #12889
[Smiling] Thanks for being great @DanAlbert!

[2022-08-30 23:47] aaliwei91 commented on #16192
After a few hours, now I have solved it.

in ~/.cache/bazel/_bazel_ubuntu/eb9xxxxxxxxxxxxxx/external/com_google_protobuf/

there is a file protobuf_deps.bzl, and I can change the 1.2.11 to 1.2.12, as well as the sha256 field.
def protobuf_deps():
    """Loads common dependencies needed to compile the protobuf library."""

    if "zlib" not in native.existing_rules():
        http_archive(

[2022-08-30 23:48] #16192 closed

[2022-08-30 23:56] ahumesky commented on #12889
Thanks for the discussion everyone. As alluded to in the earlier updates, the current implementation of NDK integration in Bazel is through a "native" android_ndk_repository rule, which has grown a lot in complexity over the years. Here's a proposal, which I've summarized at the bottom:

We have a Starlark implementation of a cc toolchain definition for NDK r25 that's now used internally (i.e. use

[2022-08-31 00:32] aaron-michaux commented on #12707
@fmeum , can you describe what your simple fix is? Is there a way to simply tell bazel which compiler to use?

[2022-08-31 00:48] cpsauer commented on #12889
Sounds pretty great to me, @ahumesky! Fantastic in fact. Thanks for being willing to open up the internal one--and for all the great work you do.

[To answer the bullets in more detail: macOS support would be v important to my team. Supporting older NDKs wouldn't--and it doesn't look like anyone's tapped back on that since the original issue, so maybe that's a good thing to skip to save time. Diff

[2022-08-31 04:14] oakad commented on #12889
NDK on MacOS and support for older toolchains are absolutely imperative. In commercial app development:

1. The development is focused on iOS version whereupon Android version is essentially a "port". It may not be the nicest thing to say, but this is the current state of affairs in the mobile markets.
2. A requirement to support a particular, older type of Android "fleet" device comes very often.

[2022-08-31 04:26] cpsauer commented on #12889
@oakad, would you actually need older NDK revisions, like r24, or just backwards compatibility with older android OSs?

(An even better story around conditionally using new features while maintaining backwards compatibility seems likely in the next NDK! See links above.)

[2022-08-31 06:53] meisterT commented on #16043
In what cases is the distinction `remote`/`remote cache hit` as seen above not good enough?

[2022-08-31 07:40] adam-singer commented on #16043
In the use case of analyzing client performance. In our situations cache missing can take a heavy toll on infrastructure and user experience. Knowing how healthy or unhealthy our cache performance is from a clients point of view helps us understand if we have problems. We collect and monitor metrics from both bazel clients via BEP and remote cache servers. Also, if we had these metrics it would ha

[2022-08-31 08:13] katre commented on #15738
Yes, if you're invalidating your build everytime you invoke Bazel, this will happen.

Look into the [`--stamp` flag](https://bazel.build/docs/user-manual#stamp) and the [workspace status](https://bazel.build/docs/user-manual#workspace-status) feature for a more maintainable way to handle this.

[2022-08-31 08:13] #15738 closed

[2022-08-31 08:44] swarren12 commented on #16191
Added more detailed steps to reproduce

[2022-08-31 09:52] maapteh commented on #16115
At the moment our azure environment is broken, so i cant run in CI. But i think our CI truncates the message. Since i also get it when i try to patch it for example with a wrong patch during a simple yarn install stage. I can see exactly the first part of the message above, but locally with an Error applying

[code]

As soon as our CI is up again i can test this simple step.

[2022-08-31 10:28] coeuvre commented on #16151
Thanks for the repro!

The reason why there are still outputs being uploaded even you set `--modify_execution_info='.*=+no-remote'` is `modify_execution_info` [only applies to actions that support `execution_info`](https://bazel.build/reference/command-line-reference#flag--modify_execution_info).

In your repro, there are some actions created by the rule `macos_unit_test` e.g. `SymlinkAction` and

[2022-08-31 11:14] fmeum commented on #12707
@aaron-michaux If you just want to have Bazel use a particular compiler, add `--repo_env=CC=<path to your compilet>` to your `.bazelrc` and run `bazel sync --configure`.

The fix I was talking about above was for getting GCC recognized by Bazel as `gcc` rather than the generic `compiler`. Fixing that comes down to parsing the output of `--version`, but the backwards compatibility concerns are real

[2022-08-31 11:44] Wyverald opened #16196 "incompatible_unambiguous_label_stringification"
To fix https://github.com/bazelbuild/bazel/issues/15916, we'll be setting the flag `--incompatible_unambiguous_label_stringification` to `true` in Bazel 6.0. This means that labels in the main repo will have an `@` prepended to them when stringified, i.e. `str(Label("@//foo:bar"))` will be `"@//foo:bar"`, instead of `"//foo:bar"`.

Note that if `--enable_bzlmod` is specified, then the string will

[2022-08-31 11:44] Wyverald commented on #16196
cc @meteorcloudy

[2022-08-31 13:13] meteorcloudy commented on #16190
@dws Thanks for the clarification! Now I understand the use case, sorry for the breakage, do you time to compose a PR to fix this?

[2022-08-31 13:28] comius commented on #1920
Please see the comment https://github.com/bazelbuild/bazel/issues/1920#issuecomment-1209173091
There are instructions, how to fix this. My effort estimate is about 1 week, maybe more if you don't have previous experience with Bazel code.

Bazel team doesn't have resources to support every feature needed in open source. We share the pain with the community here. You're contributions are very welcom

[2022-08-31 16:29] Wyverald commented on #14570
Chatted with @shs96c ; we decided that writing a separate module extension every time works well enough that this shouldn't be needed.

[2022-08-31 16:29] #14570 closed

[2022-08-31 17:56] adam-singer commented on #16043
@chancila @meisterT we use BEP to extract runner counts, but it's not a very concrete set of information and you need to make assumptions on what the runner means in terms of its relation to caching. Execution logs provide concrete information about caching, the problem is on large targets the size of an execution log is huge, I've seen some of our executions logs in the size of GB (even when seri

[2022-08-31 18:17] DanAlbert commented on #12889
Unless you're talking about _extremelely_ old devices (close to a decade), r25 works just fine. r25 was actively tested against KitKat.

[2022-08-31 18:53] chancila commented on #16043
isn't `remote` the remote exec executor? isn't that orthogonal?

the example could be the build has 1000 total actions, 500 of which are not remote cacheable, and 500 which are...technically in this build if i get 500 remote cache hits I have 100% cache hit...this number is currently impossible to derive without the execution log. Currently we use the total number of actions / cache hits which giv

[2022-08-31 19:16] cameron-martin opened #16197 "Bzlmod dependencies are not visible in WORKSPACE file"
### Description of the bug:

Repositories loaded via bzlmod are not available in the WORKSPACE file for loading macros from. Although I believe the intention is for bzlmod to fully replace WORKSPACE macros, it is convenient to have a mixture during the transition phase.

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

An example is availab

[2022-08-31 19:37] bazel-io opened #16198 "[5.3.1] Do not crash on URIs without a host component."
Forked from #16184

[2022-08-31 23:16] haxorz commented on #16187
Sorry, I don't know anything about Typescript or `build_bazel_rules_nodejs`.

Right, but do you really need to use the same file? Is there some way you can tell Bazel (read: tell the Typescript rules or whatever) to use the output of your `transform` genrule? That'd be the way to achieve your goal, and would avoid the cycle because you'd have the output be a different label than the input.

If I'm

[2022-08-31 23:40] nvachhar commented on #6556
For my use case, the issue with `py_library.imports` is that code can appear as two different modules in python. In the example above, you could reference it as `py.foo` or `foo`. In python, this distinction is often important and undesirable.

[2022-08-31 23:53] ahumesky commented on #12889
Hi everyone, the rules_android_ndk repo has been created, and I've pushed the initial body of code:

https://github.com/bazelbuild/rules_android_ndk

See the readme there for instructions, and the example at
https://github.com/bazelbuild/rules_android_ndk/tree/main/examples/basic

[2022-09-01 01:23] jiawen commented on #12889
I agree completely. IMHO, The Android NDK goes to extreme lengths to preserve binary compatibility. @DanAlbert I've been very impressed with your work - especially the benthic depths to which you are willing to dive.

@oakad do you have a particularly old device in mind? Older than KitKat? Perhaps we need a clearer FAQ or table explaining how NDK releases, API levels, OSes, and devices are all rel

[2022-09-01 04:21] aiuto commented on #7444
Remove Google specific check that legacy licenses() declarations are in files under //third_party: https://github.com/bazelbuild/bazel/commit/0aa750b7252ef8c71e11ae2f6cf6849b6ff0e715

[2022-09-01 05:27] blindpirate commented on #16191
Fixed in https://github.com/bazelbuild/bazel/pull/16200

I'm surprised this issue has been there for many years unnoticed.

[2022-09-01 09:14] lockmatrix commented on #11187
Same here too, [eigen](https://gitlab.com/libeigen/eigen)

[2022-09-01 11:25] katre commented on #14444
Thanks for all the feedback on this. I see the points raised, but unfortunately we aren't going to be able to prioritize this in the near future. If someone else wants to pick it up, I would like to see a design proposal before a PR, in order to ensure that the feature is cleanly implemented and interacts properly with other features (such as selects).

[2022-09-01 11:51] katre commented on #13951
I don't know if there's a good way to fix this, but I'll ask @gregestren to investigate when he's back.

[2022-09-01 12:18] Wyverald commented on #16198
@kshyanashree you don't need to `@bazel-io fork 5.3.1` on both the issue and the PR. The issue is already forked at https://github.com/bazelbuild/bazel/issues/16188, so I'll go ahead and remove this one.

[2022-09-01 12:18] #16198 closed

[2022-09-01 12:19] Wyverald commented on #16188
Fixed in https://github.com/bazelbuild/bazel/pull/16199

[2022-09-01 12:19] #16188 closed

[2022-09-01 13:27] fmeum commented on #16153
I think that the current issue could be fixed along the lines of #14600 without introducing the breakage on commas. I can have a PR ready by Monday.

[2022-09-01 14:15] yannbolliger commented on #13221
In the simple cases you can simply replace this:
[code]

By
[code]

Importantly, you also have to remove the `java_library` rule or file that generates the `/src/main/resources` target.

[2022-09-01 14:36] fweikert opened #16201 "Status of Bazel 6.0.0-pre.20220823.1"
- Expected release date: 2022-09-01

Task list:

- [x] Pick release baseline: [ca95fecd](https://github.com/bazelbuild/bazel/commit/ca95fecde07a28736ea815ec64bcd639a234d79c)
- [x] Create release candidate: https://releases.bazel.build/6.0.0/rolling/6.0.0-pre.20220823.1rc1/index.html
- [x] Post-submit: https://buildkite.com/bazel/bazel-bazel/builds?branch=release-6.0.0-pre.20220823.1rc1
- [x] Push

[2022-09-01 15:50] pcjanzen commented on #16153
I don't think the case of running a test from an external repository from the command line is especially severe; however, the problem also affects local execution of cc_binary tools that are either dynamically linked, or that contain a reference to a shared library via cc_import.

See https://github.com/RobotLocomotion/drake/issues/17763 for a real-world example.

[2022-09-01 16:29] #16143 closed

[2022-09-01 17:36] jbms commented on #15639
Is this going to be included in a release soon?

[2022-09-01 18:16] trybka commented on #16167
I've got an internal change in review. Hopefully land that by early next week if not sooner.

[2022-09-01 18:50] hemanthsridhar commented on #16169
Hi, any updates on this request? It’s been a week. Will be helpful if this is looked into.

[2022-09-01 19:33] cpsauer commented on #11187
Just to confirm: In a recent version, right?
(If so, sounds like this bug is still alive and well in some form.)

[2022-09-01 20:19] sdtwigg commented on #15994
Re-affirming and restating https://github.com/bazelbuild/bazel/issues/15994#issuecomment-1201594481, it is currently by-design that transitions operation on the 'raw' values of the configuration before those implementations are run. Changing this is infeasible.

Philosophically, build_setting or build_flag is actually a (slightly special) rule and the implementation function of a build_setting is

[2022-09-01 21:06] maapteh commented on #16187
Hi @haxorz hopefully someone with more in depth knowledge of TypeScript in particular can help us out then. In npm the package.json is like the POM in Java. It defines for us what a package needs and where consumers can find their code. So yes we need the same file.

The question was with a :) sign, i was not serious. But since i tried all options i became little frustrated. So ignore that notific

[2022-09-01 21:13] haxorz commented on #16187
Ok. I'll remove the `team-Core` label and change this from a feature request into a support topic. Imo we should first understand your issue before we propose features to try to solve it.

I've asked around the team to see if anyone has more in depth knowledge of TypeScript.

[2022-09-01 21:15] maapteh commented on #16187
That would be helpful Nathan, thanks!

[2022-09-01 21:51] tpudlik commented on #7091
This bug was also reported as https://github.com/bazelbuild/rules_python/issues/382, and https://github.com/bazelbuild/bazel/commit/f99cebe096460c172287831194618daf82976baa fixed it for Python 3.11+ (but note that Python 3.11 is not released yet, it's [only coming in October](https://www.python.org/downloads/release/python-3110rc1/)).

[2022-09-01 22:21] codeman9 opened #16203 "Unable to find package for @rules_license//rules:license.bzl"
### Description of the bug:

Starting with commit: https://github.com/bazelbuild/bazel/commit/56d8134fd527510c18f07bd0dfb5bbe8723c68ba#diff-54646449081f58de68930e03663255fa5ff6e34e93743ef66db84b1f146b1639 , and with no other changes to our configuration, we started getting the following error:

[code]

Adding a dependency in our `WORKSPACE` file to `rules_license`, like so:

[code]

resolves the i

[2022-09-02 02:02] lockmatrix commented on #11187
oh, I use bazel 0.26.1 building tensorflow 1.15,
I thought this issue not being closed means the issue still exists.

It is fixed in https://github.com/bazelbuild/bazel/commit/c5ea38da063faea6d06e2d24836d3ad1569f4305, right?

[2022-09-02 02:13] cpsauer commented on #11187
Pretty sure, in that case.

@keith, sorry to bug, but any chance you have magic closing powers and could close this down?

[2022-09-02 02:35] keith commented on #11187
Nope sorry 😞

[2022-09-02 08:45] tjgq commented on #16187
@alexeagle This sounds like something you might be able to advise on?

[2022-09-02 08:56] #15286 closed

[2022-09-02 09:02] tjgq commented on #15639
It will definitely be included in 6.0, but I'm reluctant about backporting it to 5.3.1. There's a lot of complexity in the interaction between Bazel and the OAuth2 support libraries, and we could very easily introduce other bugs.

[2022-09-02 09:36] cartheur opened #16205 "bazel-5.3.0-installer-linux-x86_64.sh: 5: Syntax error: word unexpected"
### Description of the bug:

Starting with release 5.3.0, a syntax error has appeared in the installation script that causes containers where bazel is being installed to fail. When inspecting the file, it appears that there is binary code inside the shell script.

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

`curl -LlSsk https://github.

[2022-09-02 09:39] sitaktif opened #16206 "Allow filtering of expanded targets according to the available exec configuration (like `target_compatible_with` but for `exec`)"
### Description of the feature request:

The `target_compatible_with` attribute allows skipping targets (and targets that transitively depend on it) when using target pattern expansion (e.g. `//...`), which is great.

Now, it appears that `exec_compatible_with` does not work that way: it adds constraints, but still includes the target (and targets that transitively depend on it) during target patt

[2022-09-02 09:40] #11187 closed

[2022-09-02 10:02] Wyverald commented on #16197
This is not supported by design. You could write a module extension to call the macro you'd otherwise call.

What is your expected use case?

[2022-09-02 10:14] #16201 closed

[2022-09-02 10:15] cameron-martin commented on #16197
Thanks for clarifying that this is intentional.

My use case is to allow intermediate working states while transitioning a package to using bzlmod, where I can have some dependencies specified in MODULE.bzl, but others specified in the WORKSPACE file.

Specifically, this issue arose when attempting to [add support for bzlmod to rules_rust](https://github.com/bazelbuild/rules_rust/pull/1528). At le

[2022-09-02 10:36] cartheur commented on #16205
@sgowroji It is simply a curl command to download and install for linux x86_64. When running the shell script, even with just 'curl -fsSLk https://github.com/bazelbuild/bazel/releases/download/5.3.0/bazel-5.3.0-installer-linux-x86_64.sh' gives the error '.../bazel-5.3.0-installer-linux-x86_64.sh: 5: Syntax error: word unexpected'.

[2022-09-02 12:36] anthpi commented on #8014
Any update on this issue? We would like NOT to get any warning for user defined build settings when running bazel clean command.

[2022-09-02 15:52] #16167 closed

[2022-09-02 17:31] DavidANeil commented on #14868
See https://github.com/bazelbuild/bazel/issues/14292

[2022-09-02 20:28] celkas opened #16208 "No coverage data if testing code from external repositories"
### Description of the bug:

Using software and tests in the same repository is no problem, coverage data are produced.
Splitting the two makes problems. There is "no coverage data" produced anymore.
It seems that coverage data is generated, but not consumed, maybe because of some path issue/mismatch.
If I also instrument the tests, the test's coverage will be copied into the combined coverage fil

[2022-09-02 20:51] EricCousineau-TRI opened #16209 "`native.existing_rules()` may not always show fully qualified labels in `deps`?"
### Description of the bug:

I would assume `native.existing_rules()` would show the same level of content for a rule as expressed in a `BUILD.bazel` file, e.g. you should be able to infer the repository, package, and name that a label refers to.

For some reason, that doesn't seem to be case? (at least in internal codebase, and minimal reproduction example)

### What's the simplest, easiest way t

[2022-09-02 22:23] EricCousineau-TRI opened #16210 "Workspace, repository, and label terms are still confusing, esp. w.r.t. repostiory_name"
### Description of the feature request:

It is a bit confusing two grok the two differences:
- `Label.workspace_name` does not have `@` in its name. However, `native.repository_name()` does have `@` in its name. Is this nuance documented? (both are stated as "names")
- I see the components that form a Label. However, it's a bit hard to denote the difference between "just" a package name (w.r.t. th

[2022-09-03 04:33] hemanthsridhar commented on #16169
@sgowroji  would Be helpful if I can get an update on this?
Or even an answer would be fine.

[2022-09-03 05:21] wangligen1995 opened #16211 "--incompatible_no_support_tools_in_action_inputs=false"
### Description of the bug:

**this is my .bazelrc**
build --cxxopt="--std=c++17"
build --copt=-O2
build --incompatible_no_support_tools_in_action_inputs=false

but it is error :
  'build' options: --cxxopt=--std=c++17 --copt=-O2 --incompatible_no_support_tools_in_action_inputs=false
ERROR: --incompatible_no_support_tools_in_action_inputs=false :: Unrecognized option: --incompatible_no_support_too

[2022-09-03 05:25] keith commented on #16211
This flag has been removed, you need to remove it from your `.bazelrc`

[2022-09-03 05:37] wangligen1995 commented on #16211
But it is OK on my Linux system
<img width="851" alt="image" src="https://user-images.githubusercontent.com/45448722/188257442-a15202ee-aab9-405f-b7d4-b8e14760d705.png">

[2022-09-03 05:41] keith commented on #16211
You're on a very old bazel there. If you remove the config and run bazel version successfully I imagine you'll see a newer version from after the flag was removed. Either way you should try to update bazel in general since 1.x is long unsupported.

[2022-09-03 07:01] #16211 closed

[2022-09-03 09:05] phst commented on #15919
Hmm, but what about the cases where the platforms are the same (i.e. the default)? Wouldn't it be confusing to respect the override for only one platform?

I guess that would solve my specific problem (and would be the right thing in any case since the default directory is C:\MSYS64), but Bazel would still need a way to override the default in case the installation directory differs.

[2022-09-03 09:09] phst commented on #15919
If you intend to change the semantics of the BAZEL\_SH environment variable, please update https://bazel.build/install/windows?hl=en#bazel_does_not_find_bash_or_bashexe to document how to specify the location of Bash for both host and execution platforms.

[2022-09-03 09:51] sreenath-tm commented on #15194
I'm interested in contributing to this issue, so before I start working it, would you mind sparing your time explaining what the issue is about and pointing me to some resources to get started.

[2022-09-03 23:38] cpsauer commented on #7983
[Maybe we'll be able to land that fix into the new NDK toolchain, automagically fixing this NDK sticking point for Bazel users. See https://github.com/bazelbuild/rules_android_ndk/issues/5]

[2022-09-03 23:51] cpsauer commented on #12889
I've switched my team over to @ahumesky's new toolchain, and am very pleased to report that it's pretty sweet! The most painful things about the old NDK setup are fixed by default. And it's also working on macOS, for anyone else who was waiting for that.

For anyone else working through--and because Alex had mentioned feedback above--here're the thoughts and tweaks I had as I adopted. I think it's

[2022-09-03 23:54] cpsauer commented on #10837
These flags were in Google's internal NDK toolchain, newly released by @ahumesky as https://github.com/bazelbuild/rules_android_ndk, to replace the existing.

It makes me so happy to close this. I bet the change will save pain for almost everyone booting up on the NDK with Bazel!

[2022-09-03 23:54] #10837 closed

[2022-09-04 00:05] cpsauer commented on #13287
Update: The thin_lto feature is supported by the Google NDK toolchains, which Alex released as a replacement  for the old, built-in ones that had ben falling behind! https://github.com/bazelbuild/rules_android_ndk

I'm leaving this issue open because I really do want to propose that optimized builds ought to have (thin) link time optimization on by default.

@keith, I think the new toolchain shoul

[2022-09-04 12:30] sluongng commented on #15673
This issue is reproducible with latest commit in `copybara` project

[code]

Upgrading rules_java to latest release does not help.

Upgrading rules_cc could not be done, because Bazel would always use an older version of `rules_cc` in `/DEFAULT.WORKSPACE.SUFFIX`.

It's a bit weird that the toolchain resolution just outright rejecting everything
[code]

Sticking with 5.0.0 is a work around for now.

[2022-09-04 13:54] sluongng commented on #15673
It seems like on 5.0.0, `@local_config_cc//:cc-compiler-darwin_arm64` could be resolved while on 5.3.0, it could not.

So I think that should help narrow down the issues.

If anyone have any diagnostic commands that they want to run on M1, please let me know, I digged through the target declaration and the returned providers between 2 versions and there was nothing obvious.

[2022-09-04 17:17] fmeum commented on #16124
@comius Do you expect `java_binary` to be starlarkified in time for Bazel 6? That would simplify the changes to the Java rules.

[2022-09-04 17:50] pauldraper opened #16217 "repository_rule.local doesn't work"
### Description of the bug:

The `local` argument to `repository_rule` doesn't work.

According to documentation,

However, in actuality, operations are cached are not re-evaluated when `local = True`.

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

**workspace.bzl**

[code]

**BUILD.bazel**

[code]

**WORKSPACE.bazel**

[code]

Create th

[2022-09-04 17:50] pauldraper commented on #14200
I think this issue has confusing conversation and has been renamed poorly.

I've created #16217 which is hopefully more clear.

[2022-09-04 18:07] pauldraper commented on #12034
As described in Java doc, this is meant to only avoid interpreting BUILD files, and nothing else.

[code]

For example, if I want to treat a directory as plain files for Bazel integration testing.

Affecting the behavior of glob() appears to be undocumented and unintentional.

[2022-09-04 22:44] perezd opened #16218 "[Mirror] JDK17 and JDK18 for linux_aarch64"
### Please list the URLs of the archives you'd like to mirror:

https://cdn.azul.com/zulu/bin/zulu18.28.13-ca-jdk18.0.0-linux_aarch64.tar.gz
https://cdn.azul.com/zulu/bin/zulu17.32.13-ca-jdk17.0.2-linux_aarch64.tar.gz

[2022-09-04 22:44] perezd commented on #16218
This is to support https://github.com/bazelbuild/bazel/pull/16103

[2022-09-04 23:59] surenduhan commented on #2377
dial tcp aa:bb:cc:dd:443: connect: operation not permitted
bazel test fails on mac darwin-sandbox
But the same passes with --spawn_strategy=standalone

bazel versio = 5.2.0

[2022-09-05 07:40] oakad commented on #12889
We will try the new rules for android as soon as practicable, hopefully this week. However, I'm not opposed to closing this ticket - I can always make new ones in the new repo. :-D

[2022-09-05 08:54] #15008 closed

[2022-09-05 09:22] sluongng commented on #15959
@sgowroji hey thanks for the ping.

@haxorz It's very hard for our customer to setup Bazel JVM monitoring in their infrastructure so I could not share how the JVM memory increased overtime. I do realize that there are metrics that I could export from both memory_profile and buildMetrics events, but our customer does not have the capability to consume these metrics right now. Worth to note that mos

[2022-09-05 09:55] hanwen commented on #1858
this still generates an unfriendly message,

[code]

[2022-09-05 10:25] meteorcloudy commented on #15194
This is basically adding addtional APIs to [ctx.actions](https://bazel.build/rules/lib/actions#run_shell) so that it also supports `run_bat`, `run_ps`. This will allow users to write starlark rules that works on Windows without installing bash.

[2022-09-05 10:50] oakad opened #16220 "Targets placed under source code subdirectory named "external" fail to compile with "file not found" errors"
### Description of the bug:

Consider a source code tree which has one of its directories named "external":
[code]
It appears, that bazel (at least the version I'm using) can not correctly compile targets nested under top level "external" subdirectory.

I'm aware that bazel uses a subdirectory called "external" to store dependencies in the build tree, but this should not infringe on the ability of

[2022-09-05 11:14] Wyverald commented on #16217
This is working as intended. The documentation for `local` is indeed very confusing -- what does "every fetch" mean? In reality, local repo rules are additionally rerun at every Bazel server restart. "Additionally", as in, it's also rerun when any other trigger for normal repo rules are fired, such as the definition of the repo rule being changed, some label dependency of the rule being changed, e

[2022-09-05 11:20] oakad commented on #16220
https://github.com/oakad/bazel_issue_16220

Here.

This works:

This does not:

The subdirs are a copy of each other, up to 1 letter in the name.

[2022-09-05 11:20] #16145 closed

[2022-09-05 11:23] Wyverald commented on #16210
Thanks for filing this. I'll definitely take some time to tackle this for 6.0.0, together with https://github.com/bazelbuild/bazel/issues/15821

[2022-09-05 12:04] coeuvre commented on #12454
Fixed by https://github.com/bazelbuild/bazel/commit/bce7db055dd702e8a101f975f8585e0dfeb18a67.

[2022-09-05 12:04] #12454 closed

[2022-09-05 12:08] sluongng commented on #15673
After some back and forth trying to make Bazel 5.0.0..5.1.0 compile on Mac M1, I was able to run a bisect and found that this commit was the culprit:

[code]

Which is a cherry-pick commit of https://github.com/bazelbuild/bazel/pull/14844.

From the mentions of that PR, it seems like https://github.com/bazelbuild/bazel/issues/15175 resolved this issue by pinning https://github.com/bazelbuild/platf

[2022-09-05 19:02] aaronmondal commented on #4005
We just added highly experimental support for standard C++ modules in [rules_ll](https://github.com/eomii/rules_ll) (not the Clang variant with module maps). Considering how experimental C++ modules are currently in Clang/LLVM, things work quite well so far :sweat_smile:

Build files look like this:
[code]
Docs with examples and on how things work under the hood:
https://ll.eomii.org/guides/module

[2022-09-05 19:16] rnburn commented on #4005
@aaronmondal - with your rules is there any way for module libraries to depend on regular cc_library's? I see this in the [docs](https://ll.eomii.org/defs.html#ll_library-deps):

[2022-09-05 19:20] EricCousineau-TRI commented on #16210
Sweet, thanks!

If it helps at all, here was motivating application (or attempt haha):
EDIT: Usage https://github.com/EricCousineau-TRI/repro/tree/cf66d0d27ca9faad922d38f343bd693a43537483/drake_stuff/drake_downstream_pybind

[2022-09-05 19:21] EricCousineau-TRI commented on #16209
FWIW,  here is downstream motivating use case:
https://github.com/EricCousineau-TRI/repro/tree/cf66d0d27ca9faad922d38f343bd693a43537483/drake_stuff/drake_downstream_pybind

Since filing this issue, I did rejigger it to not rely on `existing_rules()` at all, so it has more "transitive analysis" powers.

That being said, properly working `existing_rules()` would be nice for prototyping!
(and/or mayb

[2022-09-05 19:48] aaronmondal commented on #4005
@rnburn We have some logic to reuse already-built cc_libraries from the llvm-project overlay, and at a glance I *think* putting a `cc_library` in the `llvm_project_deps` *may* work. There may be a need to specify custom include paths, but apart from that I don't think that this attribute is actually specific to LLVM targets.

Note that `ll_*` targets will use a different toolchain than the `cc_too

[2022-09-05 20:58] konste commented on #15994
I understand the reasoning. Speaking of a workaround adding unused private label typed attribute pointing to build_flag to any (?) rule looks like an easier workaround, although it requires extensive comment about why it is there.

To mitigate it for others I would simply add a sentence on [this](https://bazel.build/extending/config#defining-build-settings) page informing that build_setting implem

[2022-09-05 23:30] aaron-michaux opened #16222 "Impossible to apply --no-as-needed to libraries when linking"
### Description of the bug:

The `--no-as-needed` flag exists to force the linker to link in libraries (including shared libraries) even if the linker thinks the library is not needed. (No symbols are used.) This flag needs to appear before the linked library. Like:

[code]

However, adding "--no-as-needed" to the toolchain, or the linkopts of a cc_library, results in the flag always being shunted

[2022-09-06 01:01] tony-jinwoo-ahn commented on #15008
@meteorcloudy @jin
Was this issue resolved?
What is related Pull Request?

[2022-09-06 01:04] tony-jinwoo-ahn commented on #15008
https://github.com/bazelbuild/bazel/commit/495e8db26c0d8c349dcad0f1317a5ccadc9e1f81
Oh, it's related commit. Thank you!

[2022-09-06 01:35] allangdtl opened #16223 "Bazel Build on JAVA still ignores system cacert"
### Description of the bug:

I tried installing bazel build from source and it fails with:
`
PKIX path building failed: sun.security.provider.certpath.SunCertPathBuilderException: unable to find valid certification path to the requested target.`

We are using a self-signed certficate from our firewall and it is already installed on Ubuntu trusted store as well as it can be seen in java cacerts.
![

[2022-09-06 07:56] thefallentree commented on #6377
This is not a solution that uses "bazel query", but it's better

add a dump_repositories.bzl file somewhere in your workspace

[code]

and in your WORKSPACE, add following to the last line (must be last)

[code]
Then use this script to view all the dependencies you have,  with JQ!

[code]

[2022-09-06 08:34] loongson-zn commented on #2485
@AntonyM55   how to set "GRPC_JAVA_PLUGIN"？

[2022-09-06 09:38] meteorcloudy commented on #16197
From WORKSPACE, you can actually see the Bzlmod repos under their canonical repo name, for example
[code]

Maybe this is useful for testing purpose, but you certainly shouldn't depend on it.

Also see the [WORKSPACE.bzlmod](https://docs.google.com/document/d/1JtXIVnXyFZ4bmbiBCr5gsTH4-opZAFf5DMMb-54kES0/edit#heading=h.y054fjub9max) support here.

[2022-09-06 09:43] meteorcloudy opened #16225 "`bazel shutdown` crashes on Windows with Bazel built at HEAD"
### Description of the bug:

[code]

Same for `bazel clean --expunge`, which also shutdown the Bazel server at the end
[code]

This issue can only be reproduced with Bazel built with `-c opt`.

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[code]

### Which operating system are you running Bazel on?

Windows

### If `bazel info release`

[2022-09-06 15:58] aranguyen commented on #8622
The flag is now flipped but I'm reopening the issue for the actual flag removal before closing.

[2022-09-06 20:24] cameron-martin commented on #16197
Thanks, this is sufficient for my use case. I'll close this.

[2022-09-06 20:24] #16197 closed

[2022-09-06 20:58] keith commented on #13287
don't think so, although just passing `--copt=-flto=thin` does mostly work from my testing.

[2022-09-07 07:29] VinayDodamani opened #16228 "Empty code coverage report is generated when test files are referenced as external repository"
### Description of the bug:

an empty code coverage report is generated when the test files exist in an external respository that has its own WORKSPACE file. following is the structure of my code:

local_repository(
name = "sample",
path = "sample",
)

├── BUILD
├── MODULE.bazel
├── sample
│ |── BUILD
│ │   ├──sample_module
│ │   │  ├──test_sample_module.cpp
│ │   ├── BUILD
│ └── WORKSPACE
├── WOR

[2022-09-07 09:09] meteorcloudy opened #16229 "`//src/test/shell/bazel:bazel_cc_code_coverage_test` is failing in Bazel postsubmit"
Build: https://buildkite.com/bazel/bazel-bazel/builds/20593#018316e3-41c1-4899-b92d-4f2f8dd3f468
Test log: https://storage.googleapis.com/bazel-untrusted-buildkite-artifacts/01831621-521b-4076-8bbf-169cf72b957b/src/test/shell/bazel/bazel_cc_code_coverage_test/test_attempts/attempt_1.log
[code]

[2022-09-07 10:00] meteorcloudy commented on #16229
Turns out it's caused by the docker image update for `gcr.io/bazel-public/ubuntu2004-java11`, temporarily rollbacked the `latest` tag. Still investigating what has changed.

[2022-09-07 10:08] meteorcloudy commented on #16229
To reproduce
[code]

[2022-09-07 10:09] meteorcloudy commented on #16229
@c-mita @oquenchil Can you help debug why `a.gcda.gcov.json.gz` was not generated?

[2022-09-07 10:33] #16144 closed

[2022-09-07 11:22] bazel-io opened #16230 "[5.3.1] Add profiler task for calling a credential helper."
Forked from #16226

[2022-09-07 11:58] bozaro opened #16231 "Looks like `volatile-status.txt` content affects the caching key on shared cache"
### Description of the bug:

I want at the same time:
- upload new application only if application was actually changed;
- add stamping information to application.

As far as I understand, if only the `volatile-status.txt` file has changed between builds, then this should not cause the application to be rebuilt.

For me, changing this file is ignored only for two consecutive builds on the same wor

[2022-09-07 12:06] meteorcloudy commented on #16229
Since the test is broken with latest Ubuntu 20.04 LTS release (perhaps due to different `g++` or `gcov` version), we should fix the test. Therefore we'll disable the test for now to unblock docker container upgrade.

[2022-09-07 12:10] tjgq commented on #16231
This is a duplicate of https://github.com/bazelbuild/bazel/issues/10075, note in particular the discussion starting from https://github.com/bazelbuild/bazel/issues/10075#issuecomment-546872111.

[2022-09-07 12:10] meisterT commented on #8162
likely, let's try?

[2022-09-07 12:22] Wyverald commented on #16159
Given the number of release blockers present and the unresolved redness in the downstream pipeline, we'll tentatively push out the branch cut date by two weeks (to 2022-09-26).

[2022-09-07 13:55] bozaro commented on #16231
I saw #10075 issue, but did not pay due attention to it, since it was closed an eternity ago - in 2019.

It is especially frustrating that the local workspace and local disk caches have such different behavior.

I will think about how to solve the seemingly trivial task of saving a commit, from which you can build the executable file again. With current behaviour, I should completely find and remo

[2022-09-07 14:09] UebelAndre opened #16232 "Allow starlark rules to pass `--run_under` to executables"
### Description of the feature request:

I would like to be able to intercept the [--run_under](https://bazel.build/reference/command-line-reference#flag--run_under) flag in a starlark rule to be able to pass it as an environment variable or argument to a test or action to have better control over when it's used. In [rules_rust](https://github.com/bazelbuild/rules_rust), executables are the compil

[2022-09-07 14:37] dws commented on #13907
Would it make sense to adjust `json.encode()` to treat these immutable views as dicts?

I ask because I noticed that

    json.encode_indent(native.existing_rules().values())

no longer produced the same output when `--incompatible_existing_rules_immutable_view`
was enabled in Bazel 5.  Following the advice here I found that

    json.encode_indent([dict(repo.items()) for repo in native.existing_r

[2022-09-07 15:10] c-mita commented on #16229
Failures in 20.04 can be explained by this change in GCC: https://gcc.gnu.org/git/?p=gcc.git;a=commit;h=1f2bb38a85710f650d1ea87f0765cb50e19c3212

With this change, the filenames for output `gcda` files started being mangled (sometimes, but for the purposes of this test that seems to actually be "always"). This change was introduced in GCC 9.1.0
The documentation is here: https://gcc.gnu.org/online

[2022-09-07 15:39] c-mita commented on #16229
Removing the `-fprofile-dir` flag stops all of the name mangling on the gcda file, which is fortuitous, because Bazel does not pass this flag.

There is still some differences in behaviour as to exactly where the `main.gcda` file ends up, but it always seems to be created wherever the gcno file was created.

[2022-09-07 16:28] maapteh commented on #16187
@tjgq is Alex the only Bazel person with in depth Typescript/Yarn workspace knowledge?

[2022-09-07 16:32] Faqa opened #16234 "Ordering of `genquery` output does not match the output of `bazel query --order_output=full`"
### Description of the bug:

According to docs on the `genquery` rule [here](https://bazel.build/reference/be/general#genquery), output from the rule is supposed to match the order dictated by the flag value `--order_output=full`, and it doesn't seem to be.

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

https://github.com/Faqa/bazel_quer

[2022-09-07 17:24] kshyanashree commented on #15685
Hi @ananta-code ! As this issue is marked as P3, we don't have any resource to work on this. But please feel free to send PR. Thanks!

[2022-09-07 19:55] alexeagle commented on #16187
There are several people who can help with this, usually such issues are filed in a ruleset rather than in the bazelbuild/bazel repo though. Someone with permissions could transfer this issue to bazelbuild/rules_nodejs
Alternatively you can come ask in #javascript on slack.bazel.build where we do a bunch of user support.

This is not correct - we use `jq` on a package.json file in the source folde

[2022-09-07 20:41] #14937 closed

[2022-09-07 22:29] maapteh commented on #16187
I tried jq from Aspect, that one generates a filename prefixed with the name

[2022-09-08 02:06] KipHamiltons opened #16238 "Document `feature` API"
### Description of the feature request:

I was trying to compile a project with sanitizers enabled when I ran into an issue with a dependency. I figured that I'll disable the sanitizer for that dependency and move on. Based on [this SO thread](https://stackoverflow.com/questions/63588902/in-bazel-how-to-prevent-some-c-compiler-flags-from-passing-to-external-depend), it seemed like `feature` would

[2022-09-08 05:56] maapteh commented on #16187
So for people finding this thread. With the:

[code]

you will be able to overwrite a file its content by using the same name as the file.

[code]

But when using out to set the name that will throw an error `Error in _jq_rule: rule 'package' has file 'package.json' as both an input and an output"`. So just use the name as the file name. Credits to the given example :)

[2022-09-08 05:56] #16187 closed

[2022-09-08 08:43] skeptic-monkey commented on #14799
any chance this issue will get any attention ?
What would be the expected impact to keep the include_aspects=false on our project compare --include_aspects=true ?

[2022-09-08 09:13] joeleba commented on #14799
Hi.

I can't think of any drawback with setting `--include_aspects=false` if it fits your use case. We don't plan to remove that flag.

[2022-09-08 10:01] c-mita commented on #16229
A quick test with GCC 9.3.0 I think explains why this test passed before:
With the same test project as before
[code]
With 9.3.0, both the gcno and gcda file names are mangled, but the gcno file can be found by the test script because it's in the expected location and is still matched by the wildcard in the `ls` command used to find it, and the gcda file is found by the `collect_cc_coverage` scrip

[2022-09-08 12:56] skeptic-monkey commented on #14799
thanks, will proceed that way then.

[2022-09-08 13:04] meteorcloudy commented on #16225
With some debugging, I can confirm the segementation fault happens at https://cs.opensource.google/bazel/bazel/+/1381ac3e40829ac27ba154a0307f17927539ecf7:src/main/cpp/blaze.cc;l=2121

[2022-09-08 13:34] meteorcloudy commented on #16225
This bug doesn't happen with MSVC 2019

[2022-09-08 16:55] binji opened #16241 "Providing a compile-time dependency (e.g. plugin) to cc_binary"
### Description of the feature request:

There doesn't seem to be a way to provide a clang compiler plugin when building with cc_library or cc_binary. Using `deps` attempts to include the shared object as a link time dependency, and using `data` seems to include it as runtime dependency.

I noticed that for building java there is a `java_plugin` attribute, perhaps there should be something similar

[2022-09-08 17:48] Wyverald opened #16265 "rules_foreign_cc (examples) failing on macOS in downstream pipeline"
Example failure: https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/2615#01831adf-c5cd-4ec5-9802-aaa52dc2a45d

Culprit finder ([run link](https://buildkite.com/bazel/culprit-finder/builds/3520#01831cf6-6e27-45dd-b936-7db357443728)) points to this commit: https://github.com/bazelbuild/bazel/commit/cbb24d5ad6ef154e4c8118cdcba68cbb042463ed which doesn't really make sense. Might be a fla

[2022-09-08 17:48] Wyverald opened #16266 "rules_foreign_cc (examples) failing on macOS in downstream pipeline"
Example failure: https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/2615#01831adf-c5cd-4ec5-9802-aaa52dc2a45d

Culprit finder ([run link](https://buildkite.com/bazel/culprit-finder/builds/3520#01831cf6-6e27-45dd-b936-7db357443728)) points to this commit: https://github.com/bazelbuild/bazel/commit/cbb24d5ad6ef154e4c8118cdcba68cbb042463ed which doesn't really make sense. Might be a fla

[2022-09-08 20:17] oliviernotteghem opened #16242 "Enabling stripping via --experimental_output_paths = strip causes failure on simple java project using rules_jvm_external"
### Description of the bug:

Enabling experimental_output_paths=strip will causes stripped location to be used by java compilation workers, however it seems the non-stripped location is used somewhere else :

[code]

[code]

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Any project using rules_jvm_external should exhibit the issue.

Usin

[2022-09-08 20:17] oliviernotteghem commented on #16242
@gregestren : any idea what's going on?

[2022-09-08 20:40] bozaro commented on #16231
I tried to generate a caching key without `volatile-status.txt` digest (in this case `action key` != `sha256(action bytes)`). It's works perfectly on local `disk_cache`, but stuck on [bazel-buildfarm](https://github.com/bazelbuild/bazel-buildfarm).
Looks like `action key` must be `sha256(action bytes)`.

In this case looks like correct `volatile-status.txt` behaviour can't be implemented without p

[2022-09-09 01:19] ahumesky commented on #12889
Yeah let's close this one and consolidate ndk-related issues to rules_android_ndk, unless the issue is specifically with the native implementation of android_ndk_repository that can't be covered by the starlark implementation.

[2022-09-09 01:19] #12889 closed

[2022-09-09 05:55] siddharthab opened #16243 "cc_common Starlark examples don't work with layering_check feature"
### Description of the bug:

It looks like the common flow of using `cc_common.configure_features`, `cc_common.create_compile_variables` and `cc_common.get_memory_inefficient_command_line` does not work when `layering_check` feature is enabled for the package.

An indication that this is a known but undocumented issue is the line in the example in the rules_cc repo:
https://github.com/bazelbuild/r

[2022-09-09 09:49] oquenchil commented on #12707
No. I think it's fine. This would be a bug fix. Ideally the change would be checked in together with a script that runs buildozer (or some regex) over a project and fixes the places that need fixing. But if that's not possible then properly describing how it can break and what the instructions for fixing it are should be enough.

[2022-09-09 10:08] meteorcloudy commented on #16225
MSVC has been upgraded to 2019 on CI, so this issue no longer appears.

[2022-09-09 10:08] #16225 closed

[2022-09-09 10:52] kechak commented on #13190
Looks like a combination of `--experimental_repository_disable_download` and `--keep_going` is a workaround for this.

[2022-09-09 11:31] #16122 closed

[2022-09-09 11:42] #16229 closed

[2022-09-09 13:43] VinayDodamani commented on #16228
@celkas it does seem to a similar issue that i am experiencing

[2022-09-09 15:19] fweikert opened #16244 "Status of Bazel 6.0.0-pre.20220825.4"
- Expected release date: 2022-09-09

Task list:

- [x] Pick release baseline: [c92d0e1c](https://github.com/bazelbuild/bazel/commit/c92d0e1c0bfbc2573104ff09d8dec282e85cafa1) with cherrypick [e8980608](https://github.com/bazelbuild/bazel/commit/e898060863fa0579d45f67c2c998b6ef5289199b)
- [x] Create release candidate: https://releases.bazel.build/6.0.0/rolling/6.0.0-pre.20220825.4rc1/index.html
- [x

[2022-09-09 20:24] cpsauer commented on #12889
SGTM. Thanks again, @ahumesky!

[2022-09-10 02:36] adam-azarchs opened #16245 "rules/python: Option to generate .pyc files for py_library."
### Description of the feature request:

Add options on one or more of the `py_library` rule itself, the python toolchain configuration, or the bazel command line, to generate python bytecode files as part of the build.

In addition to the basic on/off option, it might be useful to include options to
1. Control the "optimization" level (for what that's worth)
2. Leave the source `.py` file out of

[2022-09-10 04:58] nvanfleet opened #16246 "git_repository strips git repo for patch_cmds"
### Description of the bug:

I have a git_repository that I have a patch_cmd that wants to look at the git repo, accessing some tags and the commit hash. However I get an error "fatal: No names found, cannot describe anything." I ended up going into the directory and it seems as if the checkout is there and all the files are except for the git repo, so I can't access the tags and commit hash.

###

[2022-09-10 12:14] Josar opened #16247 "Toolchain config Windows"
### Description of the bug:

I try to get MinGw to work on Windows.
I try to use the local installed MinGw and configure it as toolchain. This is only the first step to understand how an embedded toolchain could be set up. But i fail when triyng to follow this [tutorial](https://bazel.build/tutorials/ccp-toolchain-config?hl=en) and try to adapt it.

[code]

Trying to change the path to #Error 2

[

[2022-09-10 13:16] fmeum commented on #6293
@lberki I think this can be closed. Starlark rules can now add the required dependency in the following way without incurring any overhead for `bazel test`:

[code]

rules_go emits lcov that is then picked up by the merger tool.

[2022-09-10 20:04] UebelAndre commented on #16076
@fmeum sorry for the delay. Seems you've run into this issue too?

[2022-09-10 20:21] fmeum commented on #16076
Yes, resolving it is required to allow for generic transition wrappers around tests, which is something I'm interested in.

[2022-09-10 20:49] amilamanoj commented on #6681
Hi @comius, Do you have any updates on this?

[2022-09-10 21:02] shs96c commented on #6681
There is a JUnit5 runner that ships as part of https://github.com/bazel-contrib/rules_jvm

[2022-09-10 22:10] UebelAndre commented on #16076
So how should it be implemented? Do you have bandwidth to work on this?

[2022-09-11 03:50] rajhlinux commented on #10134
I'm getting this error on FreeBSD 13.1 to run "hello world" C++ example:

`ERROR: /usr/home/user/.cache/bazel/_bazel_user/dce2e5f5daa25516313b94e75e515765/external/com_google_protobuf/BUILD:515:10: While resolving toolchains for target @com_google_protobuf//:protoc: No matching toolchains found for types @bazel_tools//tools/cpp:toolchain_type. Maybe --incompatible_use_cc_configure_from_rules_cc ha

[2022-09-11 04:01] rajhlinux opened #16248 "No matching toolchains found for types @bazel_tools//tools/cpp:toolchain_type."
### Description of the bug:

[code]

Pastebin to the error: https://pastebin.com/Cu57nw0b

![screenshot](https://user-images.githubusercontent.com/61344181/189511709-6d7bcc28-4c0d-4810-ab38-e71e43bda768.jpg)

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

I followed the installation for c++:

`$ bazel build --copt -DMESA_EGL_NO_X11_HEADER

[2022-09-11 13:09] fmeum commented on #16076
I think I could work on it, but we should first figure out how we want the new `arguments` field on `RunEnvironmentInfo` (the replacement for the deprecated `testing.TestEnvironment`) to behave in combination with the magic `args` attribute available on all (including Starlark) rules. I would find the following procedure reasonable:

1. If a rule doesn't advertise `RunEnvironmentInfo` or doesn't s

[2022-09-11 14:27] thefallentree commented on #13190
no, that’s not the workaround.

On Fri, Sep 9, 2022 at 03:52 Zakhar Kanafalski ***@***.***>
wrote:

[2022-09-11 16:54] UebelAndre commented on #16076
re https://github.com/bazelbuild/bazel/issues/16076#issuecomment-1242961552

I think this sounds good. This provider though wouldn't have any impact on actions though, right? `RunEnvironmentInfo` would only affect `run` and `test` invocations. If one wanted arguments to be passed to an action, they would have to read them from `RunEnvironmentInfo` and explicitly add them to the action?

[2022-09-11 17:18] fmeum commented on #16076
Yes, this is only about `run` and `test`. Implicitly passing arguments or environment variables to actions seems intrusive, but of course rulesets would be free to use the fields provided by the provider to form their command-lines.

[2022-09-11 18:06] Nov0cx opened #16249 "using clang-cl doesn't set the current cpu"
### Description of the bug:

I'm using a platform for compiling with clang-cl and setting the cpu to x86_64 but llvm-lib.exe isn't called correctly.
[code]
!!! Compiling is working just linking is broken !!!

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

My Platform build file (located in 'bazel/Platforms'):
[code]

the important part fr

[2022-09-11 19:10] linzhp opened #16250 "[Mirror] URLs for rules_go v0.35.0"
### Please list the URLs of the archives you'd like to mirror:

https://github.com/bazelbuild/rules_go/releases/download/v0.35.0/rules_go-v0.35.0.zip
https://github.com/bazelbuild/bazel-skylib/releases/download/1.3.0/bazel-skylib-1.3.0.tar.gz
https://github.com/golang/tools/archive/refs/tags/v0.1.12.zip
https://github.com/golang/sys/archive/aba9fc2a8ff2c9439446386f616b860442f0cf9a.zip
https://gith

[2022-09-11 23:21] jeffwheeler commented on #10457
For anyone else that tries to run coverage on Mac, try putting this in your `~/.bazelrc` file:
[code]

Thanks to @ulfjack, it is possible to set the correct prefix size through this argument. It'd be nice to fix this bug in Bazel.

[2022-09-12 03:28] stabai commented on #10134
Unfortunately, it seems like there are a number of possible root causes for this error. The first thing I would try is to make sure common build tools are installed on your system (e.g. gcc, g++). Bazel doesn't come packaged with these and relies on them being present in the host environment.

[2022-09-12 07:27] henrypoon opened #16251 "unnecessary stubbings issues are swallowed when tests run with Mockito"
### Description of the bug:

The following two issues are found when I have unnecessary stubbing in tests with Mockito and JUnit.

1. unnecessary stubbings errors are swallowed and test passed when test_filter is being used, however, it failed as expected without test_filter
2. unnecessary stubbings errors are NOT reported in JUnit reports regardless of using test_filter or not. The JUnit report s

[2022-09-12 08:21] celkas commented on #15254
@luojc0517 how did You solve Your issue?

[2022-09-12 09:03] henrypoon commented on #16251
May I ask what errors are shown from your local? As in from the `test.log`

[2022-09-12 10:17] Wyverald commented on #16246
This is working as intended. `git_repository` does not promise to *clone* a repository; it simply checks out a specific commit, applies any patches if necessary, and makes it available as a repo.

[2022-09-12 10:17] #16246 closed

[2022-09-12 10:20] Wyverald commented on #16220
This is a long-standing known bug in Bazel which IIUC unfortunately does not have a short-term solution. The migration of AOSP onto Bazel encountered similar problems. @lberki could you comment on how AOSP dealt with this, and whether the solution is applicable to other Bazel users?

[2022-09-12 12:03] lberki commented on #16220
The good news is that we do have a solution: if you add the `--experimental_sibling_repository_layout` command line flag, external repositories will be under `../$REPO` instead of `external/$REPO` and things under the `external/` directory will be usable.

We are planning to flip the default value of that flag to true (see https://github.com/bazelbuild/bazel/issues/12821) but it's a _very_ incompa

[2022-09-12 13:18] fmeum commented on #16229
@meteorcloudy This issue also affects the pipeline for the release-5.3.1 branch, see https://github.com/bazelbuild/bazel/pull/16253.

[2022-09-12 14:05] meteorcloudy commented on #16229
@bazel-io fork 5.3.1

[2022-09-12 14:06] bazel-io opened #16255 "[5.3.1] `//src/test/shell/bazel:bazel_cc_code_coverage_test` is failing in Bazel postsubmit"
Forked from #16229

[2022-09-12 15:22] #15829 closed, assigned to Wyverald

[2022-09-12 17:04] nvanfleet commented on #16246
Okay wasn't sure if that was the intent or if there was a way to get around that. Thanks

[2022-09-12 20:41] keith commented on #16151
@coeuvre any other advice on solutions for this case? This is a hard blocker for us to fully use BEP services in generally since we have to force some tests locally, and don't want to spend many GB uploads for throw away data, but then that's tied to us uploading useful things like the full test logs etc

[2022-09-12 21:07] tetromino opened #16256 "`--incompatible_existing_rules_immutable_view` breaks json and proto encoding of `existing_rule/s` objects"
_Originally posted by @dws in https://github.com/bazelbuild/bazel/issues/13907#issuecomment-1239478273_

If `--incompatible_existing_rules_immutable_view` is set, `json.encode` (or `encode_indent`) will encode an immutable `native.existing_rule` or `existing_rules` object as an array of field names, instead of a dict (because our `DictLikeView` object is a `StarlarkIterable`).

`proto.encode_text`

[2022-09-12 21:08] tetromino commented on #13907
@dws - thanks, filed https://github.com/bazelbuild/bazel/issues/16256 as new issue. Very unfortunate that we overlooked this before the flag flip.

[2022-09-12 21:15] aranguyen commented on #10904
@psigen please check again if you could add comments on the doc directly now. Thanks!

[2022-09-12 21:25] beasleyr-vmw opened #16257 "[5.3.x] 'bazel info' reports 'unknown key(s)' when specifying '--no//flag'"
### Description of the bug:

Looks like this was already fixed by a Googler at f6cccae5b6f9c0ad0e7d0bf7bd31ea1263449316 and would be a trivial backport to 5.3.x.

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

(NOTE: It doesn't matter if WORKSPACE contains a repository rule for bazel_skylib.)

[code]

### Which operating system are you ru

[2022-09-12 21:37] tetromino commented on #16256
I think a solution would have the following shape:

* fix https://github.com/bazelbuild/bazel/issues/13829
* ... allowing us to have a non-throwing version of `get()` for `DictLikeView`, in turn allowing `DictLikeView` to extend `Map` (see https://github.com/bazelbuild/bazel/issues/13605#issuecomment-939146471 for why we want to extend `Map` and not go with a custom map-like creature)
* ... which

[2022-09-12 21:46] tetromino commented on #16256
@brandjon fyi

[2022-09-12 22:53] fmeum commented on #16257
@beasleyr-vmw If you would like to see this fix in 5.3.1, you could cherry-pick it onto the `release-5.3.1` branch and submit a PR.

[2022-09-13 01:30] henrypoon commented on #16251
**UPDATE**
Explicitly setting the strict rule worked as expected and can solve the issue temporarily.
[code]
However, I think it works differently as it's like validating the JUnit rule on a class/test level. Mockito runner should already enable strict mode by default according to their API https://www.javadoc.io/doc/org.mockito/mockito-core/latest/org/mockito/junit/MockitoJUnitRunner.html.

[2022-09-13 09:58] #16153 closed

[2022-09-13 10:32] Yannic opened #16263 "RemoteExecutionServiceTest is flaky"
### Description of the bug:

`RemoteExecutionServiceTest` is flaky.

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

https://storage.googleapis.com/bazel-untrusted-buildkite-artifacts/0183365a-5f6f-434e-bd5c-8134a7506960/src/test/java/com/google/devtools/build/lib/remote/remote/test_attempts/attempt_1.log

### Which operating system are yo

[2022-09-13 11:47] jgao54 opened #16264 "Remote Downloader: Does not honor --remote_local_fallback"
### Description of the bug:

We have `--experimental_remote_downloader` flag enabled with bazel-remote cache, however it does not honor `--remote_local_fallback`. When the remote cache shuts down unexpected,  the following error is observed:

[code]

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

1. start bazel-remote with `--experimental

[2022-09-13 14:00] meteorcloudy opened #16267 "rules_foreign_cc (examples) failing on macOS with Bazel@HEAD"
First reported at https://github.com/bazelbuild/bazel/issues/16265
https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/2615#01831adf-c5cd-4ec5-9802-aaa52dc2a45d
Log:
[code]

Culprit finder: https://buildkite.com/bazel/culprit-finder/builds/3570#01833508-0419-4ca3-a6c1-19f5b143383a
[code]

[2022-09-13 14:12] fmeum commented on #16267
Just a thought from the sideline: The rules_foreign_cc build/test suite appears to be running many parallel CMake builds at the time of the crash, which likely take way more RAM than Skyframe accounts for. Is it possible that this has always been close to OOM and this commit just happened to push it over the edge?

[2022-09-13 14:14] meteorcloudy commented on #16267
Possible, is there a way to limit the number of CMake builds running in parallel?
/cc worker expert @larsrc-google

[2022-09-13 14:18] wilwell commented on #16267
1) I also supposed that the problem appears only when we are close to the OOM, but I found it already for the second time, so maybe there is a problem with taking defendants of the process, which is strange.
2) We have a flag to limit the number of workers for each mnemonic, e.g. `--worker_max_instances=Javac=2`
3) I will guard collecting behind the flag and it should resolve the problem for now.

[2022-09-13 15:37] tomdegoede commented on #15838
I have validated PR #15825 and #15836 to work. They allow me to provide a custom wrapper script (.bat) for coverage to be implemented on windows. We are also looking for this support in our pipeline.

[2022-09-13 15:39] tomdegoede commented on #13292
Exposing the metadata fields in Starlark would be beneficial for custom coverage rules we are implementing as well.

[2022-09-13 16:41] gregestren commented on #8014
See the final comments at https://github.com/bazelbuild/bazel/issues/13473. I'd ask for any further clarification on that thread.

[2022-09-13 16:59] aryeh-looker commented on #3236
+1

[2022-09-13 18:20] mrkkrp opened #16269 "The thin_lto feature is not enabled for MacOS"
### Description of the bug:

In [`unix_cc_toolchain_config.bzl`](https://github.com/bazelbuild/bazel/blob/master/tools/cpp/unix_cc_toolchain_config.bzl#L1225-L1294) the `thin_lto` feature is in the config for Linux but not for MacOS. The result is that thin LTO cannot be used on MacOS with Bazel. AFAIU thin lto is supported on MacOS as well. Is this an oversight or there is a reason for exclusion

[2022-09-13 18:22] keith commented on #16269
I think this is just an oversight, FWIW as a short term workaround passing `--copt=-flto=thin` (and similar flags if you are building other languages) should "just work" (maybe you want `--linkopt=-flto=thin` as well)

[2022-09-13 18:34] keith commented on #16269
What failures do you see with that? Technically the linkopt might not matter since if the linker gets lto'd inputs it probably handles them regardless of the flags. I think if we were to add it to the crosstool we would have something that looked a bit more like https://github.com/bazelbuild/bazel/blob/fdcaaf4af3296bf544589810ad46b438bfe5e1fb/tools/cpp/unix_cc_toolchain_config.bzl?rgh-link-date=20

[2022-09-13 18:35] senchangniantic opened #16270 "data attributes are not propagated from objc_library to cc_library or cc_binary"
### Description of the bug:

When building a cc_binary with objc_library as dependency , the data in objc_library is not copied as runfile for the cc_binary.

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[Archive.zip](https://github.com/bazelbuild/bazel/files/9559876/Archive.zip)

### Which operating system are you running Bazel on?

ma

[2022-09-13 18:45] mobileink opened #16271 "v 5 cc_library, linkstatic=False fails to emit .so file"
### Description of the bug:

Under version 4.2.0, the following emits libalpha.a and libalpha.so

cc_library(
    name = "alpha",
    srcs = [
        "alpha.c",
    ],
    linkstatic = False,
)

Under version 5 and up, it only emits libalpha.a

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

In a fresh directory:

.bazelversion
[code]

BU

[2022-09-13 18:47] mobileink commented on #16271
For the record, I prefer the 4.2.0 way, emitting both files.

[2022-09-13 23:52] garymm commented on #13261
I fixed this by installing the Windows SDK from the visual studio installer.

[2022-09-14 01:29] aaron-michaux opened #16273 "External dependencies should have a `features = ["-please_disable_this_feature", ..."]` switch"
### Description of the feature request:

Some external dependencies are already "bazelified", such as grpc, which is a blessing and a curse. The problem is that your toolchain is going to pass down all the flags for all your enabled features, including things like "-D_FORTIFY_SOURCE", and "-Werror", and then your dependency will fail to build.

When supplying your own BUILD file for a non-bazelifi

[2022-09-14 01:45] ceyxiang commented on #15411
Hi @UlrichEckhardt, I encountered this issue when I was setting up a hermetic gcc toolchain. I managed to resolve it by,

1. adding both the wrapper script and gcov to a filegroup,
[code]
2. Adding that filegroup to the srcs of my gcc_all_files filegroup
[code]
3. Then in the cc_toolchain,  `all_files = ":gcc_all_files",`. So in your case
[code]

Hopefully this helps!

[2022-09-14 03:03] aranguyen commented on #12892
@guibou `bazelrc` does not have support for shell expansion. We unfortunately do not have plan to prioritize this any time soon. I'm marking this as duplicate of https://github.com/bazelbuild/bazel/issues/10904. Please feel free to share your thoughts in the doc mentioned in https://github.com/bazelbuild/bazel/issues/10904#issuecomment-1212144290

[2022-09-14 07:44] meteorcloudy commented on #16273
/cc @oquenchil

[2022-09-14 07:59] bhushan-helloFresh commented on #15452
I faced the same issue (using Mac M1)
Fixed by changing JDK to Azul (https://www.azul.com/downloads/?version=java-11-lts&os=macos&architecture=arm-64-bit&package=jdk).

[2022-09-14 08:17] tjgq commented on #16231
If you care about this, I think the next step would be to start a discussion with the [Remote Execution API working group](https://github.com/bazelbuild/remote-apis) to add protocol support for it.

[2022-09-14 08:33] meteorcloudy commented on #16273
This can be solved with a module extension when the community migrates to Bzlmod.

You can have a module extension (e.g. provided by rules_cc) to generate a repo for each C++ module, which contains a list of features that should be enabled/disabled. For example, for C++ module "foo":
In foo's MODULE.bazel file:
[code]
At the beginning of foo's BUILD files
[code]
Then the root module can use the sa

[2022-09-14 11:59] brentleyjones commented on #12892
https://github.com/bazelbuild/bazel/pull/15417 is an example of changing a flag to accept tildes. I think we can do that for this flag, and others, as well.

[2022-09-14 12:20] meteorcloudy commented on #8195
<img width="1153" alt="image" src="https://user-images.githubusercontent.com/4171702/190151600-a26eea86-81d8-4c67-8d1d-d25b1cd9fdf2.png">
https://buildkite.com/bazel/bazelisk-plus-incompatible-flags/builds/1253

This flag is breaking almost all downstream projects, I believe it's the same for the wider community. If no active plan on migrating the ecosystem, I'll remove "migration-ready" label for

[2022-09-14 12:22] meteorcloudy commented on #7977
<img width="1150" alt="image" src="https://user-images.githubusercontent.com/4171702/190152029-cb29e9f4-2d67-4dac-84e6-7a35a8a20b9e.png">

According to https://buildkite.com/bazel/bazelisk-plus-incompatible-flags/builds/1253

This flag is breaking almost all downstream projects, I believe it's the same for the wider community. Also this flag is marked at P4, if no active plan on migrating the ecos

[2022-09-14 12:29] ittaiz opened #16275 "Error message when using nohome_rc and nosystem_rc in wrong order are misleading"
### Description of the bug:

I ran the build of an OSS project (IJWB) and got a weird result.
I suspected it's my company's system rc so I wanted to disable it.
I tried running:
`bazel build --define=ij_product=intellij-2021.2 //ijwb:ijwb_bazel_zip --nohome_rc` and `bazel build --nohome_rc --define=ij_product=intellij-2021.2 //ijwb:ijwb_bazel_zip `
and got:
`ERROR: --nohome_rc :: Unrecognized opti

[2022-09-14 12:58] Wyverald opened #16276 "strict_test_suite"
This flag can be flipped pending downstream project migration. See https://github.com/bazelbuild/bazel/pull/15259

[2022-09-14 14:27] Lotte1990 commented on #10390
@sgowroji Step number 3 "Modify the toolchain" is a bit vague... Which options I can modify? How do I modify them? These are some crucial details... A bit more explanation would be nice.

[2022-09-14 14:33] aaron-michaux commented on #16273
The problem statement document (https://docs.google.com/document/d/1moQfNcEIttsk6vYanNKIy3ZuK53hQUFq1b1r0rmsYVg/edit#heading=h.xxnnwabymk1v) is interesting, and helps shed light on what I'm dealing with.

Is there _any_ solution -- hackish or otherwise -- that I can implement in bazel 4.2.1?

[2022-09-14 14:33] dom96 commented on #5741
I ran into this on macOS. After installing `java` via `brew install java`, then Java proper (using the .dmg from https://www.java.com/en/download/), it started to work.

[2022-09-14 15:12] Wyverald commented on #16276
Removing the labels above since they just cause the incompatible flag pipeline to barf, due to `--strict_test_suite` being a `bazel query`-only flag.

[2022-09-14 15:15] keith commented on #16276
Are there downstreams failing because of this potential flip?

[2022-09-14 15:51] meteorcloudy commented on #16273
Well, you can certainly patch your external dependencies, right?

[2022-09-14 15:57] aaron-michaux commented on #16273
Okay. I was hoping for something a little less "all-in".

[2022-09-14 15:58] meteorcloudy commented on #16273
@aaron-michaux 😅 Sorry, I cannot think of any better solution.

[2022-09-14 16:06] stevebarrau opened #16277 "cquery --output=files assume convenience symlinks are enabled"
### Description of the bug:

Bazel cquery `--output=files` assumes the convenience symlinks are enabled and outputs files with them. It does not take the `--experimental_convenience_symlinks=ignore` option into account.

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[code]

### Which operating system are you running Bazel on?

macOS 12.4

[2022-09-14 16:07] illicitonion commented on #16277
/cc @fmeum @gregestren

[2022-09-14 16:19] meteorcloudy commented on #16180
Changing to P1 since this is a release blcoker.

[2022-09-14 16:21] meteorcloudy commented on #15044
Changing to P1 since this is blocking the cut of Bazel 6.0 release.

[2022-09-14 16:22] meteorcloudy commented on #10298
Changing to P1 since this is blocking the cut of Bazel 6.0 release.
FYI @lberki @larsrc-google

[2022-09-14 16:47] keith commented on #11817
Ok I found another actual issue that this causes, that I believe relative `.d` paths would solve. On macOS in the case that the user downloads Xcode to one, potentially weird, location that is not included in https://github.com/bazelbuild/bazel/blob/fdcaaf4af3296bf544589810ad46b438bfe5e1fb/tools/cpp/osx_cc_configure.bzl#L41-L54

Then they build some C*, and then move Xcode to /Applications (where

[2022-09-14 16:50] fmeum commented on #16277
Valid issue, I didn't think of that flag when implementing the feature. I realistically won't be able to work on this soon, but would offer assistance to anyone interested in working on a fix.

[2022-09-14 16:52] fmeum commented on #15044
@gregestren I looked into this once and wasn't able to figure out whether and how `bazel query` can get it's hand on the `RepositoryMapping` of the main repository. If that were possible, the fix shouldn't be difficult.

[2022-09-14 17:13] meteorcloudy commented on #15150
@coeuvre Should we flip this flag now?
https://buildkite.com/bazel/bazelisk-plus-incompatible-flags/builds/1253 says it won't break any downstream projects (ignore the rules_nodejs ones)

[2022-09-14 17:15] meteorcloudy commented on #12933
I assume this flag is migration ready? Should we flip it before 6.0 cut?

[2022-09-14 17:17] meteorcloudy commented on #15131
@coeuvre Should we flip this flag for 6.0?

[2022-09-14 18:25] Wyverald commented on #15044
This is already being worked on by @andyrinne12 and is close to completion (in internal review).

[2022-09-14 18:26] Wyverald commented on #16276
No, downstream only tests `bazel test`-able targets. We have no way to know if people are using `bazel query` for stuff.

[2022-09-14 18:55] ccontavalli commented on #13823
Just hit the same problem in our CI/CD pipeline. The problem was yes, the lack of an init process / child reaper.

What happens:
1. `bazel shutdown` or any bazel command that requires killing/restarting the bazel daemon will `kill($serverPid)`
2. In a container, be it a k8 or plain docker, if `PID 1` is not a process that will `reap children` (eg, waitpid for any child that dies), the bazel daemon

[2022-09-14 20:21] gregestren commented on #12933
What was the risk calculation for flipping? I can't guarantee repos won't break. If that's okay, I support pushing this forward.

More specifically, if we're not worried about initial breakages, I'd flip both this and https://github.com/bazelbuild/bazel/issues/12932. If we want to be more careful I'd just flip https://github.com/bazelbuild/bazel/issues/12932. If we don't want any change of any bre

[2022-09-14 21:09] gregestren commented on #16099
@oquenchil - This thread is questioning the logic for `objc_library` to self-transition vs. declare Mac-compatibility and just be skipped when built for non-Apple environments. Can you shed light on the design concerns? Should `objc_library` built as a top-level target even on Mac environments? Where's the current GitHub code for it?

[2022-09-14 21:10] martis42 commented on #8195
@meteorcloudy
I believe migrating this flag is a chicken and egg problem. Enabling this does not really solve a problem for users. It merely establishes a sane default for globbing.
Imho donwstream projects will most likely not adapt until there is an incentive.

What I am going for is, imho we should flip this flag soon (maybe Bazel 6.0?). This might be the gentle push for downstream projects to

[2022-09-14 21:12] brentleyjones commented on #16277
I think the paths aren't based on convenience symlinks, but instead relative to `execution_root`

[2022-09-14 21:18] linzhp opened #16279 "[Mirror] Gazelle release v0.27.0"
### Please list the URLs of the archives you'd like to mirror:

https://github.com/bazelbuild/bazel-gazelle/releases/download/v0.27.0/bazel-gazelle-v0.27.0.tar.gz

[2022-09-14 21:29] fmeum commented on #16277
Yes, they are relative to the exec root. Even with convenience symlinks disabled, appending them to `$(bazel info execution_root)` should make them resolve. But of course providing absolute paths if the symlinks aren't created would be more user-friendly.

@gregestren What do you think, should `--output=files` always return exec paths for consistency or ensure that its output paths always resolve

[2022-09-15 04:30] tgeng opened #16280 "Report build error if target dependency chain contains conflicting constraints"
### Description of the feature request:

Consider the following

[code]

Target `bar` is ill-defined because there is no way for any platform to satisfy its constraints: `bar` needs `:type_b` while its dependency `foo` needs `:type_a`.

Building `foo` or `bar` specifically would fail as expected. But invoking `bazel build ...` would happily skip `bar` yet not reporting any errors. It would be nice

[2022-09-15 05:10] gmishkin commented on #16251
Please see https://github.com/bazelbuild/bazel/pull/15023

For the `--test_filter` issue, that's a Mockito thing, it's because of [this](https://github.com/mockito/mockito/blob/220494473031298300a4c47c247c8b778cc39164/src/main/java/org/mockito/internal/runners/StrictRunner.java#L44) but I haven't figured a good way to avoid it.

[2022-09-15 05:48] jmmarsss commented on #16251
Context: I work with @henrypoon
We did later find out that `MockitoJunitRunner` would not conduct a stub validation if the tests are filtered, in other words, because of how bazel chains all the tests together, hence running tests with `--test_filter` would not trigger that..

You can refer this to force test failing when running with `--test-filter`, if that is what you want...

[code]

Hopefully

[2022-09-15 08:54] #16267 closed

[2022-09-15 09:06] meteorcloudy commented on #8195
No, this doesn't really work. You can see in the link I posted, flipping this flag will break almost all the downstream projects. Many of them are common dependencies in the ecosystem instead of just leaf projects. If your dependency doesn't build with this flag, you will be forced to unflip the flag in your bazelrc file even if you have migrated your own code.

So the correct way is to file issue

[2022-09-15 09:14] meteorcloudy commented on #12933
We should do it in the reverse order to make sure downstream is green, otherwise we'll lose the ability to catch other breakages.

I recently updated our incompatible change process: https://bazel.build/contribute/breaking-changes#update-repos

With the incompatible flags pipeline, we can detect those breakages before flipping the flag, check [this doc](https://github.com/bazelbuild/continuous-int

[2022-09-15 10:37] #15916 closed

[2022-09-15 10:37] #16196 closed

[2022-09-15 11:30] fweikert commented on #16244
Post-submit is red, but due to a problem with the test, which got fixed after the baseline: https://github.com/bazelbuild/bazel/commit/659b622916442721a882c7bbb8b3ae6b4c27c653

[2022-09-15 11:41] Wyverald commented on #15821
Taking this off the milestone for now since it doesn't block branch cut. Will have to finish this before 6.0 launch though.

[2022-09-15 11:41] Wyverald commented on #16210
Taking this off the milestone for now since it doesn't block branch cut. Will have to finish this before 6.0 launch though.

[2022-09-15 11:54] coeuvre commented on #15131
As mentioned above:

[2022-09-15 11:55] meteorcloudy commented on #12933
<img width="702" alt="image" src="https://user-images.githubusercontent.com/4171702/190397125-83c61dba-0eba-4bc0-8c7b-f336aaacfcbc.png">

The result looks good. You can ignore the rules_nodejs failure. But except that,

--incompatible_config_setting_private_default_visibility didn't break any downstream project, so you can flip it.

--incompatible_enforce_config_setting_visibility is breaking Envo

[2022-09-15 11:57] coeuvre commented on #15150
I am not confident enough to flip this flag for 6.0, especially considering there are some edge cases this flag cannot solve (#16151). I might work in another direction to solve the problem which could allow us to remove this flag. I'm not clear ATM.

[2022-09-15 12:02] coeuvre commented on #15148
Yes, i will flip this now.

[2022-09-15 12:30] coeuvre commented on #16151
I understand the problem is to prevent (some) outputs of (some) local actions to be uploaded to BES. What I am missing are:
- Except for some test targets, are there other cases you want to avoid upload local outputs?
- Is the decision of whether upload output to BES or not made only based on the size? Are there other criteria?

I think the solution might be different depending on the answers to a

[2022-09-15 12:38] #16244 closed

[2022-09-15 13:38] fweikert opened #16284 "Status of Bazel 6.0.0-pre.20220909.2"
- Expected release date: 2022-09-15

Task list:

- [x] Pick release baseline: [d3bef49f](https://github.com/bazelbuild/bazel/commit/d3bef49f9182f6bcb6f609530970a7945ce51cbf)
- [x] Create release candidate: https://releases.bazel.build/6.0.0/rolling/6.0.0-pre.20220909.2rc1/index.html
- [ ] Post-submit: https://buildkite.com/bazel/bazel-bazel/builds?branch=release-6.0.0-pre.20220909.2rc1
- [x] Push

[2022-09-15 15:15] katre opened #16285 "incompatible_enable_android_toolchain_resolution"
We are migrating Android builds to use platforms and toolchain resolution to find the SDK and NDK. The work is progressing well but we need to execute more testing before we provide migration directions and flip this flag.

[2022-09-15 15:23] coeuvre commented on #16151
Do you mean something similar to `--nobuild_event_json_file_path_conversion` but for the BES?

[2022-09-15 15:27] brentleyjones commented on #16151
Sorta. That already exists as `--experimental_build_event_upload_strategy=local` right? My request is a little different. Paths can/should be converted for all blobs that are uploaded, but I don't want something uploaded simply because it's converting the path (which is what I believe is happening here in the BES uploader). Also, I want to keep the uploading of the timing profile and test logs.

[2022-09-15 15:33] Wyverald commented on #16220
We could flip after 6.0 of course; just need an owner to watch out for downstream breakages and coordinate fixes.

Just for my curiosity, wouldn't there still be some sort of conflict regarding the `//external` package? Like, you probably can't refer to anything right under `external`, since it would be "rerouted" to the "fake" external package containing repo rules instead.

[2022-09-15 15:43] lberki commented on #16220
Let's not flip it in 6.0; unresolved symlinks and bzlmod are large enough chunks of work and I personally can't take care of downstream breakages and I don't know of anyone who would be able to.

From memory, the package `//external` is still problematic due to the "fake" package, but packages _under_ it (e.g. `//external/foo` work. The example in the description of the bug mentioned directories u

[2022-09-15 15:58] fmeum commented on #16220
The first thing that breaks with `--experimental_sibling_repository_layout` is Stardoc, so I expect the downstream pipeline to be deeply red. If @tetromino's ongoing work ends up resolving that, that could be a good time to run a meaningful first pipeline.

[2022-09-15 16:35] #15548 closed

[2022-09-15 16:52] coeuvre commented on #16151
Okay, then it's essentially an uploader that:
  - only converted paths for blobs that are already uploaded.
  - also upload and convert paths for blobs that are in an allowlist.

Do you think using regex to match the path of outputs is a good enough allowlist mechanism?

@keith Does this solution work for you?

[2022-09-15 17:23] #16284 closed

[2022-09-15 17:29] dom96 opened #16286 "Bug in unix_cc_configure.bzl's _find_linker_path"
### Description of the bug:

The [`_find_linker_path`](https://github.com/bazelbuild/bazel/blame/master/tools/cpp/unix_cc_configure.bzl#L175) function attempts to find the linker path by compiling an empty C file with multiple linkers, then reading `clang`'s output to parse out the linker path. One of these is `lld` and is where the issue occurs.

The resulting error on macOS for the project I am

[2022-09-15 17:30] #16106 closed

[2022-09-15 17:31] keith commented on #16286
Fix is here https://github.com/bazelbuild/bazel/pull/15006, can you test with that branch?

[2022-09-15 17:31] keith commented on #16286
dup of https://github.com/bazelbuild/bazel/issues/16053

[2022-09-15 17:33] #16286 closed

[2022-09-15 20:10] gregestren commented on #12933
Great! What's my deadline for fixing Envoy and TensorFlow and flipping `--incompatible_enforce_config_setting_visibility`? That's the more important one to set first.

[2022-09-15 20:18] gregestren commented on #16277
It's not obvious to me the current behavior is bad, for the reasons @brentleyjones explains.

Just to sanity check, @stevebarrau  the output should still be valid even without convenience symlinks. `bazel-out/darwin-fastbuild/bin/examples/cpp/hello-world` doesn't rely on the convenience symlinks. `bazel-out` *is* a symlink, but a different kind.

Is there a specific scenario you're finding breakin

[2022-09-15 21:53] stevebarrau commented on #16277
My use case comes back to a few tickets I have seen around bazel TUI verbosity and stdout. I would like bazel to print to stdout where a binary is built.

I want to replace my current use of “bazel run —run_undo=echo //:foo” with a build followed by a cquery —output=files. The former provide an absolute path, the later provide a path apparently rooted in the execution_root.

I thought this was abo

[2022-09-15 22:00] tetromino commented on #16256
After looking at this a bit, `proto.encode_text` cannot reasonably support the output of `native.existing_rule()`: the encoder cannot produce any reasonable schema for a dict (or dict-like entity) whose values may be lists/tuples, as opposed to scalars. Which is a reasonable limitation, considering the proto format.

We do still want to fix json encoding, however.

[2022-09-15 22:53] GMNGeoffrey commented on #14022
I am encountering a similar issue. For concreteness, this is my build file: https://github.com/iree-org/iree/blob/main/runtime/src/iree/hal/drivers/BUILD. I want to enable Cuda by default on some platforms. If `build_setting_default` was configurable, this would be easy:

[code]

Can you elaborate on how this can be done otherwise? I see the general idea, but it looks like it would involve a senti

[2022-09-16 00:04] ahumesky commented on #16177
Hmm, I wasn't able to reproduce this:

[code]

@pswaminathan could you confirm that this still fails? or perhaps I missed something in the repro?

[2022-09-16 08:46] meteorcloudy commented on #12933
6.0 is currently scheduled to be cut on Sep 26, see https://github.com/bazelbuild/bazel/issues/16159

But there are still many release blockers, see https://github.com/bazelbuild/bazel/issues?q=is%3Aopen+is%3Aissue+milestone%3A%226.0.0+release+blockers%22, and it's likely the cut day will be postponed again.

We can add the milestone to both tracking issues, so we won't forget ;)

[2022-09-16 09:34] meteorcloudy commented on #16256
@comius Is this something you can look into? This is also blocking the 6.0 release.

[2022-09-16 09:52] tjgq commented on #10298
@gregmagolan Could you confirm whether remote execution support for actions that **produce** unresolved symlinks is a blocker for rules_nodejs? (This doesn't currently work in Bazel, even after @fmeum's changes; **consuming** unresolved symlinks remotely, on the other hand, does work.)

[2022-09-16 11:28] fmeum commented on #16124
@Wyverald Oops, I missed the use of `Closes ...` in the PR description - we should use `Work towards ...` instead. Could you reopen? For some I lack the permission to do so.

[2022-09-16 12:24] tjgq opened #16289 "Remote executor used in tests does not support dangling symlinks"
When attempting to remotely execute an action that produces a dangling symlink, the remote executor throws an exception here: https://cs.opensource.google/bazel/bazel/+/master:src/main/java/com/google/devtools/build/lib/remote/UploadManifest.java;l=194;drc=93029d8f1f01be440d8e06cce9585ad912f9169b

This must be fixed before integration tests for dangling symlinks can be added. This may be a blocker

[2022-09-16 12:25] tjgq opened #16290 "Unresolved symlink to absolute path in remote action outputs is not supported"
When a remote action produces an undeclared symlink (i.e., a ctx.actions.declare_symlink) pointing to an absolute path, an exception is thrown here: https://cs.opensource.google/bazel/bazel/+/master:src/main/java/com/google/devtools/build/lib/remote/RemoteExecutionService.java;l=745;drc=bce7db055dd702e8a101f975f8585e0dfeb18a67

We will also have to fix #16289 before adding a regression test for th

[2022-09-16 12:31] tjgq commented on #16290
While we're at it, we should also remove the limitation in https://cs.opensource.google/bazel/bazel/+/master:src/main/java/com/google/devtools/build/lib/remote/RemoteActionFileSystem.java;l=222;drc=79b5b5ddaa3919db48b9143e0afdd4d2cddfdb74 (which AIUI would only apply when a remotely produced declare_symlink is an input to a local action).

[2022-09-16 12:38] oquenchil commented on #16271
I thought this could be explained by rewriting cc_library to Starlark but as far as I can see the logic is the same. See [here](https://cs.opensource.google/bazel/bazel/+/master:src/main/starlark/builtins_bzl/common/cc/cc_library.bzl;drc=eb181661ff7e72781f46b7994a5e5c9bab45d5dd;l=239-260)  and [here](https://cs.opensource.google/bazel/bazel/+/master:src/main/java/com/google/devtools/build/lib/rule

[2022-09-16 12:41] oquenchil commented on #16099
@googlewalt would you know the answer to Greg's question?

[2022-09-16 12:50] lberki commented on #16290
I'm not too worried about `--experimental_remote_download_outputs=minimal` because it's experimental so it's fine for it to be slightly broken, but this indeed needs to be fixed.

I think what's more important than fixing the mock local executor is exercising this functionality with the real RBE so #16289 should not be a blocker for this. It would be nice, but I could live without it.

[2022-09-16 12:52] brentleyjones commented on #16290
While this feature is listed as experimental, I can speak for the community and say _many, many_ projects depend on it.

[2022-09-16 12:54] brentleyjones commented on #16290
Actually, it's not experimental anymore: https://bazel.build/reference/command-line-reference#flag--remote_download_outputs

[2022-09-16 12:57] lberki commented on #16290
@brentleyjones that's unfortunate, I didn't realize we promoted that flag to production, thanks for pointing it out

[2022-09-16 13:05] tjgq commented on #16289
The remote execution spec definitely supports actions that create a symlink, but it doesn't say whether the symlink must point to an existing file or directory or not (at least according to my reading). The relevant protocol fields are [`output_file_symlinks`](https://cs.opensource.google/bazel/bazel/+/master:third_party/remoteapis/build/bazel/remote/execution/v2/remote_execution.proto;l=998;drc=2

[2022-09-16 13:14] meisterT commented on #16289
cc @bazelbuild/remote-execution

[2022-09-16 13:35] coeuvre commented on #16151
Thanks for the clarifications! Now it's clear to me.

Here is solution: we introduce a new flag `--experimental_remote_build_event_upload_outputs` whose values can be `all | minimal` and defaults to `all`. When set to `minimal`, the uploader only converts path for blobs that are already uploaded to remote cache. It can upload blobs and convert their paths if it *thinks* they are important to consu

[2022-09-16 13:38] brentleyjones commented on #16151
Yeah, I think that is nice. Ideally, when it leaves experimental state, the default flips to `minimal`. I don't think `all` is expected, given my experience with lots of BES customers.

[2022-09-16 13:42] coeuvre commented on #16151
SGTM. we can try to make this into `6.0` and if everything works well we can remove `experimental_` prefix and flip to `minimal` in the next major release.

[2022-09-16 14:07] mobileink commented on #16271
On Fri, Sep 16, 2022 at 7:38 AM oquenchil ***@***.***> wrote:

Not sure what you mean.  I'm not using a custom toolchain, just whatever
bazel discovers on my Mac, which is just the xcode toolchain.

[2022-09-16 14:23] gregmagolan commented on #10298
Actions that output unresolved symlinks running in RBE are not needed. Only that RBE can handle unresolved symlink inputs.

[2022-09-16 14:24] tetromino commented on #16256
@meteorcloudy - I have a fix in review internally

[2022-09-16 14:45] meteorcloudy commented on #16041
Looks like it failed to load the zstd JNI library defined at https://cs.opensource.google/bazel/bazel/+/master:third_party/zstd-jni/zstd-jni.BUILD;l=2

Not sure if this is only a remote execution issue.

[2022-09-16 14:47] meteorcloudy commented on #16041
Zstd support was added https://github.com/bazelbuild/bazel/pull/14041
@coeuvre Did we verify if it works on Windows?

[2022-09-16 14:51] lberki commented on #16289
Oof. For some reason, I thought that the Google's version of remote execution does handle both input and output symlinks. Then there is no alternative than to implement it in our mock backend if we want to test the functionality and we should definitely do so.

[2022-09-16 14:55] pcjanzen commented on #16271
The default mac toolchain stopped supporting dynamic linking in 5.0: ec5553352

[2022-09-16 15:10] dgrunwald commented on #9466
I got `/pdbaltpath:%_PDB%` working in a toolchain file:
[code]

I still have some trouble fitting `/d1trimfile` into the toolchain file.

[2022-09-16 15:11] aiuto commented on #16257
Exactly what @fmeum said.  Please send a PR.

[2022-09-16 15:11] #16257 closed

[2022-09-16 15:36] coeuvre commented on #16041
No, I think we didn't verity it on Windows.

[2022-09-16 15:38] #16276 closed

[2022-09-16 15:43] aiuto commented on #13951
This is one of those things that just falls between the cracks. Not really Configurability or OSS.
I labeled it P3 on the grounds that it is not a common condition:
- most projects don't build `//...` while changing --output-base frequently
- you could just add bazel-* to .bazelignore

[2022-09-16 15:53] aiuto commented on #16280
It's not obvious that this is strictly an error or that the target should be skipped, or even if the outer target should build, but with one less dependency.
It made us think about the need for a configuration linter or analyzer that can show what would happen here.
I'm not turning that into a distinct feature request because I think we can do it with a cquery script.
I'm going to leave this as a

[2022-09-16 16:04] keith commented on #16271
I hadn't noticed this, but that commit looks pretty intentional about disabling this 🤔

[2022-09-16 16:14] mobileink commented on #16271
On Fri, Sep 16, 2022 at 9:55 AM pcjanzen ***@***.***> wrote:

What does that mean?  Pretty sure Apple did not stop supporting .so files
or dlopen.  cc_binary with linkshared=True seems to work.  I don't fully
understand the problem that change was supposed to fix, but it is a
breaking change. Anyway "stop supporting dynamic linking" and "make
cc_library stop emitting .so files" are different thing

[2022-09-16 17:55] philsc commented on #16003
Seeing a very similar problem when upgrading from 5.2.0 to 5.3.0:
[code]
But trying out 5.3.1rc2, it looks like that particular problem is resolved for us.

[2022-09-16 18:10] gregoryT5 commented on #16041
I can confirm that zstd is broken on windows and causes bazel 5.3.0 to crash.  We tried to migrate our packages and held off because of this

[2022-09-16 21:33] gregestren commented on #16242
I don't yet expect `--experimental_output_paths=strip` to be functional. We need to write some more code for it to even integrate with executors, and then it has to be vetted against different targets. Trying to follow up on that work but I'm not surprised at all at arbitrary crashes with this flag.

[2022-09-17 02:52] aiuto commented on #13951
Yes. It doesn't, but there are only 4 to add, so it's not that difficult to
enumerate them all

On Fri, Sep 16, 2022 at 2:03 PM Brentley Jones ***@***.***>
wrote:

[2022-09-17 12:11] phst commented on #14970
That doesn't seem to have any effect in my case. It looks like this variable is only used to modify compilation flags (https://github.com/bazelbuild/bazel/blob/34ce6a23f5a2be58bb59661dd5fc9ab586ea1703/tools/cpp/unix_cc_configure.bzl#L265), but it should then also affect how the coverage merger is invoked.

[2022-09-18 19:44] bozaro commented on #16231
https://groups.google.com/g/remote-execution-apis/c/Fg72Ewwmim0

[2022-09-18 22:15] brentleyjones commented on #13951
There are only 4 to add if you know the workspace name. One is based on the name of the directory the workspace is placed in, which can be different for each user.

[2022-09-19 02:35] aiuto commented on #13951
Then it would go in the .bazelrc for the workspace.

On Sun, Sep 18, 2022 at 6:16 PM Brentley Jones ***@***.***>
wrote:

[2022-09-19 07:35] meteorcloudy opened #16296 "TensorFlow is broken with Bazel@HEAD"
https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/2640#01835384-a5a8-4cef-839a-92041e93f6fb
[code]

Culprit finder: https://buildkite.com/bazel/culprit-finder/builds/3607#01834b10-64ec-4e64-812f-2357b4ccd39a
Bisect shows dadc49e437018f482640ed76fae5307daf9911a8 is the culprit

[2022-09-19 07:40] meteorcloudy commented on #16296
/cc @c-parsons @oquenchil Can you look into this? This is blocking 6.0 cut since it's breaking TensorFlow.

My guess is https://github.com/bazelbuild/bazel/commit/dadc49e437018f482640ed76fae5307daf9911a8 somehow caused the command line to be too long?

[2022-09-19 13:27] cameron-martin opened #16298 "Registering toolchains via :all does not work with aliases."
### Description of the bug:

Using the `:all` target with `register_toolchain` should register all the toolchains in the package. However, when the package contains aliases to toolchains this no longer works.

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

A minimal example can be found here: https://github.com/cameron-martin/bazel-regist

[2022-09-19 13:48] katre commented on #16298
Hmm, this makes sense, the code in [`RegisteredToolchainsFunction`](https://cs.opensource.google/bazel/bazel/+/master:src/main/java/com/google/devtools/build/lib/skyframe/RegisteredToolchainsFunction.java;drc=f106d5c1dc4d84e119537dda3d68bc2dd83e2077;l=109) is looking explicitly for `toolchain` rules, not aliases to toolchains.

The main reason for this is to reduce the number of targets being cons

[2022-09-19 14:12] aiuto commented on #15891
This may be fixed at head. We're looking into backporting the fix to 5.x

[2022-09-19 14:24] brandjon commented on #11261
Update: We've been working on a design and implementation, and are aiming to include this in 6.0 (to be cut in ~a week).

[2022-09-19 15:02] #16048 closed

[2022-09-19 15:03] katre commented on #16206
`target_compatible_with` and `exec_compatible_with` have similar names but actually do different things, which I agree is unfortunate.

It's a bit tricky to figure out how to change from "no toolchains found" errors to skipping targets, since the skipping logic is at a much earlier and higher level in the code. Also, given that toolchains can be optional, this may not be detected at all.

I'm goin

[2022-09-19 15:03] #16206 closed

[2022-09-19 15:51] c-parsons commented on #16296
It's unclear to me how dadc49e could be causing this failure, both by looking at the failure and looking at the surrounding builds.

1.  The commit in question changes cc_shared_library validation, and shouldn't practically change actions or command lines.
     The broken target is a genrule, and the underying error description (I think) is:

[code]

I'm unsure how this could be related...

2. It

[2022-09-19 16:06] comius opened #16301 "incompatible_remove_rule_name_parameter"
There are semantic problems with using `rule(name=..., ...)` instead of using `name = rule(...)` on the top-level, because there can be multiple rules with the same name exported from a single `bzl` file.

We decided to remove `name` parameter from the `rule` call.

Expected timeline:
- Flip the flag with Bazel release 6.0.0
- Remove the flag and implementation from Bazel@HEAD in Q4 2022.

[2022-09-19 17:07] UebelAndre commented on #16076
Any word from @comius on this? Do I understand correctly that progress is blocked on gaining consensus for the design?

[2022-09-19 17:07] meteorcloudy commented on #16296
Yes, that's why we didn't discover this earlier. TensorFlow started to use cc_shared_library recently. I believe it's newer commits in TensorFlow that are broken with this change.

[2022-09-19 17:12] meteorcloudy commented on #16296
A known good TF commit is ae909b0995845407a8fc77e16726a6314386544a

[2022-09-19 17:16] meteorcloudy commented on #16296
Bisecting on my gLinux machine with:
[code]

[2022-09-19 18:56] garymm commented on #13930
Is there a work-around available for this?

If not, can this be pack-ported to bazel 5?
https://github.com/bazelbuild/bazel/pull/13938

I'm still seeing this on bazel 5.3.1.

[2022-09-19 19:49] rickeylev opened #16303 "incompatible_build_transitive_python_runfiles"
To avoid performance issues with the upcoming Starlark implementation of the rules, the legacy behavior of `py_binary` targets that are only dependencies (not top-level requested targets) having their runfile symlinks materialized under `bazel-bin` is being disabled. This behavior has been undesirable since ~2017, but until now has been mostly harmless.

(More specifically, a performance issue (to

[2022-09-19 19:54] gregestren commented on #13866
FYI I prototyped some code last week for cquery to output aspects as first-class citizens (i.e. both configured targets and aspects appear as peers with clear labels identifying each). That's the "root cause" fix I mentioned above. As expected it's a pretty code-invasive change. So it's basically experimental code now. If I can get some more confidence in it I'll see if I can make it more accessib

[2022-09-19 20:28] c-parsons commented on #16296
Indeed, the second culprit finder still points to that commit.

Would be interested in the results of your bisect.
Sorry, it's been a bit of a day with unrelated issues. I can look into this more actively tomorrow.

[2022-09-19 21:08] pcjanzen commented on #16303
Will #14740 be merged as a prerequisite for this change? If not, won't it wildy exacerbate the problem in #11997?

[2022-09-19 22:10] gn-harness opened #16304 "Merge https://github.com/bazelbuild/bazel/commit/d0ee889fca77e36f2c76ac07de3048055b8428c9 to 4.x"
### Description of the feature request:

Is it possible to do a minor release for 4.X with https://github.com/bazelbuild/bazel/commit/d0ee889fca77e36f2c76ac07de3048055b8428c9

We are using 4.2.2 in production and starting to hit classpath limits. We started extending class path limits earlier, but now running into "too many arguments" issue.

This commit fixes the underlying issue of handling long

[2022-09-20 05:47] #12707 closed

[2022-09-20 06:18] fmeum commented on #16301
I am relying on a potentially less problematic version of this over at [rules_meta](https://github.com/fmeum/rules_meta/blob/64ef1ae48adecb50d3101a7e7dff6c5c489cdc43/meta/internal/forwarding.bzl#L30). There, I only need a way to declare and use a rule in a macro without having to return it from the macro and force the user to assign it to a global variable. @cpsauer who built something similar.

@

[2022-09-20 06:40] comius commented on #16301
Why do you need to set the name? The rule is returned and eventually exported on top level. Unless I'm missing something your wrapper should work without setting the name. And would even probably assign a better name.

We deem this too problematic to fix. The "identity" of all rules is not know anymore when bzl file is loaded. The pattern can be used to generate anonymous rules from a `for` loop.

[2022-09-20 06:43] rickeylev commented on #16303
Oh, thanks for pointing those out. Yes, that would exacerbate it. I'll have a look at #14740

[2022-09-20 08:31] fmeum commented on #16301
The rule is returned, but not eventually exported at the top level: It is only used in a macro calling the rule-generating function and what is ultimately returned to the top level is only the wrapper macro around the rule.

I can of course work around this by returning the actual rule as an additional return value and have users assign some name to it. This does make the API for this "flagless bu

[2022-09-20 08:42] meteorcloudy commented on #16301
Is it really realistic to flip before the 6.0 cut? Running a incompatible flag test here: https://buildkite.com/bazel/bazelisk-plus-incompatible-flags/builds/1267
I think it's going to break every single downstream project, including Bazel itself.

[2022-09-20 08:48] comius commented on #16301
It shouldn't break anything :)

[2022-09-20 09:00] meteorcloudy commented on #16301
OK, maybe there is some issue in the implementation? Check this one:
https://buildkite.com/bazel/bazelisk-plus-incompatible-flags/builds/1267#01835a0c-7d49-4ffd-94cd-c6e0a8ceb390
[code]

[2022-09-20 09:00] meteorcloudy commented on #16301
All failures I see so far are due to `/virtual_builtins_bzl/common/cc/cc_test.bzl`, but this one seem to be easy to fix?

[2022-09-20 09:20] meteorcloudy commented on #16301
Bumping to P1 since it's blocking 6.0 release

[2022-09-20 09:20] meteorcloudy commented on #12933
Bumping to P1 since it's blocking 6.0 release

[2022-09-20 09:20] meteorcloudy commented on #12932
Bumping to P1 since it's blocking 6.0 release

[2022-09-20 11:16] meteorcloudy commented on #16296
The bisect is taking longer than I expected, it was interrupted by unrelated build failures.

[2022-09-20 11:33] Wyverald commented on #16304
Since 5.x is the current LTS track, we only provide critical security/incompatibility issues with previous LTS tracks (4.x and older).

[2022-09-20 11:33] #16304 closed

[2022-09-20 12:20] meteorcloudy commented on #16141
If it's for C++ compiling, you can already setup your own C++ toolchain.

[2022-09-20 12:23] meteorcloudy commented on #16133
You can try `--compiler=mingw-gcc`, check this test case: https://cs.opensource.google/bazel/bazel/+/master:src/test/py/bazel/bazel_windows_cpp_test.py;l=953?q=%22--compiler%3Dmingw-gcc%22&ss=bazel

[2022-09-20 12:23] #16133 closed

[2022-09-20 12:26] meteorcloudy commented on #16119
Looks like the performance team has more expertise on this, so reassigning to team-Performance

[2022-09-20 12:29] meteorcloudy commented on #16066
You are running `bazel run` command, which runs the binary you just built and will return whatever exit code your binary returns. This is probably not a Bazel bug.

[2022-09-20 12:29] #16066 closed

[2022-09-20 12:30] Wyverald commented on #15867
Looks like a dupe of #3268 indeed.

[2022-09-20 12:30] #15867 closed

[2022-09-20 12:31] meteorcloudy commented on #15831
/cc @cushon

[2022-09-20 12:36] Wyverald commented on #16159
There are still many release blockers outstanding (most importantly #16124 and #10298), we're going to push the branch cut date by another two weeks (to 2022-10-10).

[2022-09-20 13:39] larsrc-google commented on #16119
"expertise" is such a strong word. :)

[2022-09-20 14:16] dom96 commented on #16053
So it seems I have found a workaround: installing Xcode. On a macOS without Xcode I kept getting this problem (even when compiling the sample C++ hello world bazel example), once I installed Xcode and launched it (this part is important to finish installation) the sample C++ hello world example compiles fine.

I guess bazel completely side-steps this function when Xcode is installed. Though the bu

[2022-09-20 14:16] meme commented on #16066
This works on Linux. Why don't the binaries get placed in their installation directory regardless? The console output indicates it does.

[2022-09-20 14:28] Wyverald commented on #16066
Please take this issue to Verible.

[2022-09-20 14:35] carlosgalvezp opened #16307 "Regression: RPATH incorrectly set for binaries built in external workspaces"
### Description of the bug:

Hi,

We have bumped Bazel from 5.1.1 to 5.3.0 and noticed it breaks setting `deps` on `cc_binary`s across workspaces.

For a `cc_binary` defined in external workspace `@foo`, that has a `dep` on a `cc_library`  `@bar//:baz` from the current workspace `@bar`, the RPATH looks like this:

[code]

This leads to the binary from `@foo` not being able to find the libraries it

[2022-09-20 14:39] cushon commented on #15831
[code]

This is https://openjdk.org/jeps/403

The workaround is to pass `--add-opens=java.base/java.nio=ALL-UNNAMED` as a server JVM flag. The bazel launcher already passes that flag, but only for embedded JDKs:

https://github.com/bazelbuild/bazel/blob/03ad0cd1203b7b54ec02ea3f5788d1d673a9d6d6/src/main/cpp/blaze.cc#L362-L367

[2022-09-20 14:50] tjgq commented on #16289
I've confirmed with folks who work on Google RBE that output symlinks are not currently implemented (specifically, symlinks that resolve successfully are reported as the regular files or directories that they resolve to, and dangling symlinks are omitted from the outputs entirely). So we do need to test against the mock backend.

[2022-09-20 15:14] Wyverald commented on #16307
@fmeum is this fixed in 5.3.1?

[2022-09-20 15:30] fmeum commented on #16307
@Wyverald Yes, I assume this is fixed in 5.3.1.

[2022-09-20 15:32] Wyverald commented on #16307
@carlosgalvezp please try again with 5.3.1 and reopen if the issue persists. Thanks!

[2022-09-20 15:32] #16307 closed

[2022-09-20 16:03] meteorcloudy commented on #16296
I can confirm I can reproduce this issue at https://github.com/tensorflow/tensorflow/commit/007f31c872c9c74f1298b7389d324e3947ede5ce with Bazel at dadc49e437018f482640ed76fae5307daf9911a8, but not at the parent commit of https://github.com/tensorflow/tensorflow/commit/007f31c872c9c74f1298b7389d324e3947ede5ce

[2022-09-20 16:19] illicitonion opened #16309 "Support cc_toolchain specifying runtime dynamic libraries"
### Description of the feature request:

When using a `cc_toolchain` which contains self-contained tools (e.g. `clang` + `lld` + `libstdc++`), and dynamically linking, produced binaries have a runtime dependency on some `libstdc++` being present on the machine.

Ideally, we would like our remote execution environment not to have a `libstdc++` present, and would like to specify our hermetically sup

[2022-09-20 16:24] carlosgalvezp commented on #16307
Thanks for the quick answer! Will check the next version.

[2022-09-20 17:27] c-parsons commented on #16296
I'm having issues getting even a clean build passing with tensorflow, either at HEAD or at https://github.com/tensorflow/tensorflow/commit/007f31c872c9c74f1298b7389d324e3947ede5ce (with bazel 5.3.1) :\

In both cases:

[code]

Error at https://github.com/tensorflow/tensorflow/commit/007f31c872c9c74f1298b7389d324e3947ede5ce:

[code]

Error at HEAD:

[code]

Tensorflow seems green at HEAD, so I'm no

[2022-09-20 17:36] meteorcloudy commented on #16296
Ah, I was also having this strange error. Temporary hack is to
[code]
Then comment out the `-Wall`, `-Werror` flags in the BUILD file.

I guess you'll have to run `pip3 install portpicker keras_applications keras_preprocessing future packaging dataclasses`

[2022-09-20 17:38] #10910 closed

[2022-09-20 18:00] gregestren opened #16310 "cquery: more precise results"
### Description of the feature request:

cquery only *implicitly* shows deps from aspects and toolchain resolution.

For example, assume //tt:parent depends on //tt:child and that dependency adds "my_aspect" which has an implicit dep on //tt:aspect_dep. Querying this produces:

[code]

This result includes `my_aspect`'s dep, but misleadingly makes it look like `//tt:parent`'s direct dep.

With the

[2022-09-20 18:05] gregestren commented on #16310
@katre FYI.

I also appreciate input from anyone else if this is interesting to you. Since I think the change is involved I don't think it's something we can just write up a PR for without having a clearer sense of the value offered.

[2022-09-20 18:21] cameron-martin commented on #16298
This makes sense. I think it is a blocker for rules_rust adopting bzlmod, since I don't think all the toolchains could easily be defined in one repository. I can take a look at implementing this, although I can't make any promises since I am not at all familiar with the codebase.

[2022-09-20 19:22] adam-azarchs commented on #15892
This was closed by #15895

[2022-09-20 19:22] #15892 closed

[2022-09-20 19:27] #10056 closed

[2022-09-20 19:52] haxorz commented on #15977
@shreyax Can you please triage?

[2022-09-20 21:13] c-parsons commented on #16296
Thanks a bunch! Have reproed the error successfully.

Still don't have any leads on the underlying failure -- it may take me a bit.

[2022-09-21 01:50] cpsauer commented on #16301
[Hopping in since tagged. Thanks @fmeum.]

I'd like to second that there's a valuable, fairly broad use case that'd be hampered by the removal of the ability to have "anonymous" rules.

#12873 has all the good details, including a short example, but basically this enabled clean, higher order functions wrapping rule creation. In that case, and with fmeum's rules_meta, they were enabling easy rule r

[2022-09-21 02:11] jordan-bonecutter opened #16314 "Builds running with systemd wipe out cache"
### Description of the bug:

I'm testing running a bazel build in a systemd service. This all runs fine and the build completes as it should. However, the build running as the systemd service seems to have a cache completely separate from the build when I run in a terminal. Not only is it separate but it also seems to wipe out the cache for builds outside of systemd. Vice-versa is the same, buildi

[2022-09-21 06:28] dpoluyanov opened #16315 "--zip_undeclared_test_outputs=false leads to remote-execution errors (at least for buildbarn)"
### Description of the bug:

we've bumped into an issue with --zip_undeclared_test_outputs=false and buildbarn remote execution, because buildbarn has strict separation between files, paths and directories passed to execution via remote execution [Command](https://github.com/bazelbuild/remote-apis/blob/main/build/bazel/remote/execution/v2/remote_execution.proto#L532),
Probably the problem in path

[2022-09-21 07:14] fmeum commented on #16301
The issue I believe @cpsauer intended to link to is https://github.com/bazelbuild/bazel/issues/14673.

[2022-09-21 07:29] holoyangpeng opened #16316 "Will v6.0 support the newest NDK(r25)?"
### Description of the feature request:

add the support to the newest NDK

### What underlying problem are you trying to solve with this feature?

We are trying to integrate the [Filament](https://github.com/google/filament) and failed because bazel only supports NDK r21 and filament uses r25.

### Which operating system are you running Bazel on?

_No response_

### What is the output of `bazel i

[2022-09-21 07:43] cpsauer commented on #16301
Yep. Derp. Not sure how I messed that one up, but thank you. Edited the above for clarity.

[2022-09-21 08:55] meteorcloudy commented on #16303
https://buildkite.com/bazel/bazelisk-plus-incompatible-flags runs nightly, please add "migration-ready" label when you want the pipeline to test this incompatible flag.

[2022-09-21 08:58] meteorcloudy commented on #8622
Actually flipped in https://github.com/bazelbuild/bazel/commit/f137e640303486b52e39b4d4edee088f895b6b00 after previous temporary rollback for fixing downstream.

[2022-09-21 08:58] #8622 closed

[2022-09-21 10:31] fmeum opened #16318 "Performance regression in `ctx.runfiles`"
### Description of the bug:

Since 04e8b638, specifically https://github.com/bazelbuild/bazel/commit/04e8b638023068b637eb159511e755eae2ec0717#diff-1ec6b14026b1888bf81a2f0a262fdb7232a54670b8d3cdaffb0bc99a61ab6e6cR973, `ctx.runfiles` flattens the depset passed as the `transitive_files` parameter. This can cause CPU and memory usage to become quadratic in the number of targets, depending on the parti

[2022-09-21 10:51] ybagarka1 commented on #16141
@meteorcloudy Yes, it is C++ compiling. Can you please share the links on how can I setup my own tool chain and how would it benefit me ?

[2022-09-21 11:18] meteorcloudy commented on #16318
/cc @hvadehra @comius
This is probably something we need to fix for 6.0.0, see https://github.com/bazelbuild/bazel/commit/04e8b638023068b637eb159511e755eae2ec0717#r84588112

[2022-09-21 11:21] fmeum commented on #16318
Is it really necessary to catch this at analysis time? If the execution time error could be handled gracefully, e.g. as an action failure rather than a server crash, changed to `ctx.runfiles` may not even be necessary.

[2022-09-21 11:40] meteorcloudy commented on #16183
Reopen since we have an additional feature to implement for optionally disabling this check

[2022-09-21 12:44] meteorcloudy opened #16319 "Bzlmod: Support `local_repository` in Bazel Registry's source.json file"
Currently the `source.json` (e.g. for [grpc](https://github.com/bazelbuild/bazel-central-registry/blob/main/modules/grpc/1.47.0/source.json)) file in a Bazel registry only accepts attributes that can be translated to a `http_archive` repository rule,  Bazel then delegates the fetching of the Bazel module to the `http_archive` rule.

But when users try to set up their own Bazel registry, they might

[2022-09-21 14:19] coeuvre commented on #16264
Now I look into this problem again, I agree with you and me in the past that we should have this configurable. I prefer to have the flag `--experimental_remote_downloader_http_fallback` to make it more explicit.

I will open #12528 and try to get it merged.

[2022-09-21 15:07] keith commented on #16316
Newer NDK support is being worked on over here outside of bazel core: https://github.com/bazelbuild/rules_android_ndk

We're using this new rule set successfully today, but please file any issues you find over there! The bazel folks would have to chime in on the actual plan but I would imagine this rule set will be the recommendation going forward

[2022-09-21 15:45] jordan-bonecutter commented on #16314
As mentioned this will be reproducible in any bazel repo with any build rule, so let's try `bazelbuild/bazel` itself.

1. Clone the repository with `git clone git@github.com:bazelbuild/bazel --depth=1`
2. `cd bazel`
3. Let's build a rule with `bazel build bootstrap-jars`
4. Build it again, ensure that it's fast this time
5. Now, create a systemd service file like so (call it builder.service):
[cod

[2022-09-21 15:56] meteorcloudy commented on #16041
https://github.com/bazelbuild/bazel/pull/16293 is merged, I assume this is fixed, so closing now, feel free to reopen if you still see the issue.

[2022-09-21 15:56] #16041 closed

[2022-09-21 17:15] kshyanashree commented on #15685
5.3.1 is now out!

[@vbatts](https://github.com/vbatts) [@petemounce](https://github.com/petemounce) [@excitoon](https://github.com/excitoon) Could you please update relevant package managers? Thanks!

[2022-09-21 18:45] hvadehra commented on #16318
Sorry, didn't mean to auto-close this

[2022-09-21 18:57] brandjon opened #16323 "incompatible_fix_package_group_reporoot_syntax"
**Description:** This flag changes the behavior of the string `"//..."` in `package_group`'s `packages` attribute. Previously, this was treated as including all packages, everywhere, in the `package_group`. With the flag enabled, it now means all packages in the default repo (i.e. the repo where the `package_group` lives).

**Migration:** Wherever the old behavior is desired, replace `"//..."` wit

[2022-09-21 18:58] brandjon commented on #16323
This flag doesn't actually exist at head yet, will submit the code shortly. Then we'll check the pipeline and confirm it's feasible to flip for 6.0.

[2022-09-21 19:08] brandjon opened #16324 "Delete flag incompatible_fix_package_group_syntax"
Tracking issue for the removal of `--incompatible_fix_package_group_syntax` after it's flipped.

Blocked on the actual flip (#16323). (I created the tracking issue early just to reference it in TODOs.)

[2022-09-21 19:13] #15126 closed

[2022-09-21 20:02] keith commented on #11867
I actually reproduced this today with 6.0.0-pre.20220630.1, I haven't tried to see if it's reliable, but in 1 terminal I did a `bazel clean --expunge`, and in a second terminal I ran a command that naturally waited on the clean to finish. When the clean finished I immediately got this error. To me that makes it sound like by the time bazel is waiting it's assuming the installation directory struct

[2022-09-21 20:13] googlewalt commented on #16099
I think we are all in agreement that having a transition in `objc_library` was a mistake.  My understanding was that it was put in so that when a linux user builds an `objc_library` target interactively, bazel would do something useful instead of failing.  The transition has caused issues from time to time and we would like to eventually get rid of it -- but it hasn't bubbled up to the top of the

[2022-09-21 20:50] #16263 closed

[2022-09-21 21:17] fmeum commented on #16298
I tried fixing this by using a `FilteringPolicy` allowing both `toolchain` and `alias` targets. However, this caused undesired side effects for the Java and C++ toolchains shipped with Bazel since they are located in the same package as some of the artifacts they reference, causing eager fetches of e.g. JDKs for all platforms. I would expect third-party rulesets to be affected by this as well.

@k

[2022-09-21 21:20] fmeum commented on #16318
@hvadehra The linked commit seems to resolve the regression, so closing this was fine.

[2022-09-21 21:20] #16318 closed

[2022-09-21 21:26] c-parsons opened #16326 "Bazel crash (no error) with env HOME=not/a/directory"
`HOME=not/a/directory bazel --output_user_root=bogus info` used to succeed in giving informative output.
However, as of a few weeks ago, this causes Bazel server to crash with **no error**.

[code]

While this seems like a convoluted test case, this is actually something which hit the effort to move Bazel into AOSP. (We were incorrectly specifying `HOME` environment, alongside other flags, and Baz

[2022-09-21 21:27] c-parsons commented on #16326
(Also re: reproducing this error, the `--output_user_root=bogus` is also important, because otherwise bazel crashes with a descriptive error. The error is only suppressed if both `HOME` and `--output_user_root` are specified)

[2022-09-21 23:25] keith opened #16327 "apple_common.link_multi_arch_binary avoid_deps doesn't avoid linkopts"
### Description of the bug:

When calling `apple_common.link_multi_arch_binary` and providing `avoid_deps`, the targets in `avoid_deps` are correctly not linked, but any `linkopts` they carry still get applied to the link.

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

With this project: [linkoptsrepro.zip](https://github.com/bazelbuild/

[2022-09-22 07:52] guw opened #16328 "macOS Ventura: UnsatisfiedLinkError void com.google.devtools.build.lib.skyframe.MacOSXFsEventsDiffAwareness.create"
### Description of the bug:

The following exception is thrown trying to build on macOS Ventura:
[code]

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Install macOS Ventura Beta/Preview

### Which operating system are you running Bazel on?

macOS Ventura

### What is the output of `bazel info release`?

release 5.1.0

### If `bazel info

[2022-09-22 09:12] meteorcloudy commented on #15044
I believe this is already fixed by https://github.com/bazelbuild/bazel/commit/e3e544587fec613fa01e54fb5248fed53c68ba57

[2022-09-22 09:12] #15044 closed

[2022-09-22 09:27] guw commented on #16328
@sgowroji Same problem with 5.3.1 (ARM nojdk version, JDK is Azul _aarch64_ version _OpenJDK 64-Bit Server VM Zulu11.56+20-SA_)

[code]

[2022-09-22 09:30] guw commented on #16328
This version seems to work: `bazel-5.3.1-darwin-x86_64`
So Intel emulation is a good workaround for now.

[2022-09-22 09:34] #16328 closed

[2022-09-22 12:18] Wyverald commented on #16326
Is this a P1? Can you specify a good HOME env var?

[2022-09-22 13:02] c-parsons commented on #16326
It should be P1 because this is a recent regression that results in a crash bug.

IIRC we have a Bazel policy that crash bugs are P1 by default, and this is a pretty difficult-to-diagnose server crash.

In terms of the effort to move Bazel into AOSP, we can indeed fix our HOME path, but that doesn't change the argument for making this P1.

[2022-09-22 14:31] Wyverald commented on #16326
Not that I don't believe you, but if you could link to the policy, that'd be great.

I was hoping this could be downgraded since it appears hard to trigger and we already have a crapton of P1 issues to fix before the 6.0 cut. Meanwhile, I'll keep this one in mind.

[2022-09-22 14:34] shahms commented on #16301
The status quo ante causes serious user confusion and frequent problems where rule authors *do not realize* that the name given to the left hand side of the rule assignment is part of that rule's *public API* no matter how many underscores they put in front of it or how many layers of macros they bury it in. This causes real problems when rule authors refactor their rules and think that the "publi

[2022-09-22 14:34] shahms commented on #16301
Please reconsider.

[2022-09-22 14:47] c-parsons commented on #16326
No, you're right to question me making an assertion about policy with "IIRC".
Frankly, I can't find the policy, so I'm not sure if I accidentally made it up. If so, my bad.

I still think we should make a case to have this be a P1, because a server crash *with no error info* is not something I think we want in our Bazel 6.0 release.  FYI @lberki

[2022-09-22 15:19] comius commented on #16301
The `rule.name` was never designed to support "anonymous rules" or to fix problems how rule classes are defined. I can see how it became useful, but I think those uses still look very 'workaroundish". There is also the problem that the name appears in queries and is used by the tools to recognize the rule - only the name part, not the 'bzl' file the rule is in.

I believe the problems you're stati

[2022-09-22 15:30] aranguyen opened #16330 "Remove --incompatible_use_platforms_repo_for_constraints"
### Description of the feature request:

The flag `--incompatible_use_platforms_repo_for_constraints` has been flipped https://github.com/bazelbuild/bazel/issues/8622. This issue tracks its complete removal.

### What underlying problem are you trying to solve with this feature?

_No response_

### Which operating system are you running Bazel on?

_No response_

### What is the output of `bazel in

[2022-09-22 15:38] bhushan-helloFresh commented on #13193
Hi All,
I am using Bazel 5.3.0 and the issue still persists. The coverage command is not failing but `_coverage_report.dat` file is always empty.
Any idea how to fix it?
@nstng @finn-ball

[2022-09-22 15:46] finn-ball commented on #13193
Can take a look if you have an example repo to share?

[2022-09-22 15:53] bhushan-helloFresh commented on #13193
Can't share the repo but its a monorepo written in Go and kotlin.

**bazel coverage --combined_report=lcov //`myapp`/`repo`:all**

`myapp` is the folder containing the repos and `repo` is the repo's name.

[2022-09-22 16:03] nstng commented on #13193
Hi @bhushan-helloFresh ,
we had some good results creating the coverage with the additional flags `--experimental_split_coverage_postprocessing --experimental_fetch_all_coverage_outputs --remote_download_outputs=all` for the c tests. But for e.g., python tests the behavior is again different.
In our scenario coverage was sometimes not generated - it might be that your problem is something else as

[2022-09-22 16:16] bhushan-helloFresh commented on #13193
@nstng
Did you add any coverage-related changes in your BUILD.bazel and/or WORKSPACE?

[2022-09-22 16:17] keith commented on #7260
It looks like this flag was flipped, but my comments above from 2019 are still the case, so this breaks all uses of the apple rules. It seems unfortunate to require all users to flip this flag off, although I get the desire to push this forward since it clearly hasn't been moving in the last few years. Is all downstream apple users disabling this flag the recommendation?

[2022-09-22 16:43] gregestren commented on #7260
Apple/Android builds failing was our rationale for not flipping this flag earlier.

@comius @lberki what's your current thinking on that?

[2022-09-22 17:29] aiuto opened #16331 "Produce an SBOM for Bazel"
### Description of the feature request:

Bazel binaries must eventually come with an SBOM. We should be building that as part of the build itself.

### What underlying problem are you trying to solve with this feature?

Compliance requirements.

### Which operating system are you running Bazel on?

_No response_

### What is the output of `bazel info release`?

_No response_

### If `bazel info re

[2022-09-22 18:20] Nov0cx commented on #16249
Any changes on this?

[2022-09-22 18:36] gregestren commented on #7260
See https://github.com/bazelbuild/bazel/issues/8716#issuecomment-507230303

[2022-09-22 19:53] BenHenning commented on #5876
Hi @jin just checking on this--given that it's been a bit more than 3 years, should this issue be reprioritized?

[2022-09-23 05:55] cpsauer commented on #16301
Totally. If anything, "workaroundish" is too kind of a word, and I totally get how name collisions could make reasoning about things hard.

Just figured I'd try to explain the need in case there was a relatively easy way to keep supporting those anonymous rules, while you were in there removing the parameter.

Cheers and thanks for all you do,
Chris

[2022-09-23 08:42] wondfor commented on #13193
what's the gcov versiion?

[2022-09-23 08:43] tjgq opened #16333 "Input prefetcher handles partial tree artifacts and nested artifacts incorrectly"
It's possible for artifacts to nest (i.e., to have a declare_file or declare_directory that descends from another declare_directory). If two nested inputs are presented to the input prefetcher, the common files will be downloaded twice and race against each other, potentially corrupting the input tree.

https://cs.opensource.google/bazel/bazel/+/master:src/main/java/com/google/devtools/build/lib/r

[2022-09-23 08:47] #15148 closed

[2022-09-23 09:20] #14436 closed

[2022-09-23 11:22] coeuvre opened #16334 "Remove flag `--incompatible_remote_results_ignore_disk`"
It has been flipped in 4c56431c271850f7536aae0a0719f811e3c35b5b. For more details, see #15148.

[2022-09-23 11:48] #16264 closed

[2022-09-23 15:12] lberki commented on #3236
@larsrc-google I think I just ran into this (I Cced you the internal bug)

[2022-09-23 15:22] #15653 closed

[2022-09-23 15:30] fmeum commented on #3236
@lberki @larsrc-google Happy to discuss possible solutions to this. I still think it's quite important to fix.

[2022-09-23 15:44] larsrc-google commented on #3236
Setting `--sandbox_tmpfs_path=/tmp` is the only recommendation I have. Doing that internally ran into one issue (TMPDIR set to a subdirectory of /tmp) that had us roll it back. I'm thinking of an "auto" value for `--sandbox_tmpfs_path` that would first look for TMPDIR and friends before using a default `/tmp`.

[2022-09-23 16:22] fmeum commented on #3236
The main problem I see with some version of a tmpfs being the default is that some tests can produce GBs of temporary file and would quickly exhaust the available RAM.

@larsrc-google What do you think of having the sandbox runner create a dedicated subdirectory of `TMPDIR` on the host and mounting that into the sandbox as `/tmp`? With this behavior, different sandboxes can no longer collide but t

[2022-09-23 18:26] larsrc-google commented on #3236
Sounds like a good approach.

[2022-09-23 18:38] lberki commented on #3236
Why do we have a PID namespace in the sandbox?

The reason why this bug exists is that actions have separate PID namespaces but a mostly shared file system, which strikes me as odd: we either try to isolate actions as fully as possible (but then how come they share `/tmp`?) or we only try to protect against mostly-accidental hermeticity violations (but then why the PID namespace?)

[2022-09-23 18:44] sfc-gh-apushkin commented on #4605
Also hit this problem. Redhat gcc is also built with `-enable-multilib` so `-no-canonical-headers` is ignored.

Tweaking with `-nostdinc++ -isystem ...` could be made to work but seems brittle. Building compiler from source seems like a substantial overkill.

Change to path comparison logic would be so much more ergonomic.

[2022-09-23 18:48] carlosgalvezp commented on #4605
For us, building compiler from source was the easiest way around this problem. As a bonus we could use GCC trunk instead of an older version. But yes, annoying.

[2022-09-23 19:41] umap341 commented on #1192
Hi,

Is there a way now to invoke py_binary through skylark rule?

Thanks,

[2022-09-23 20:18] gregestren commented on #14799
Re: better solution, see https://github.com/bazelbuild/bazel/issues/16310.  I'm going to try to do it but it'll certainly go through the rest of this year.

I agree that `--include_aspects=false` is likely safe for `rdeps` queries, and is probably a safe workaround for the time being.

[2022-09-23 21:28] c-parsons commented on #16296
This has been exceedingly hard to debug, both because Tensorflow's setup is very complicated, and that debug tools for tracking cc_shared_library dependencies could use some work.

I've made a little progress, and have a fix, but I'm not sure if it's the most principled solution.

Effectively, it seems that, with dadc49e, we collect static dependencies of cc_shared_library across any deps-like edg

[2022-09-24 03:04] philwo commented on #3236
@fmeum Sounds like a good idea!

@lberki Because using a PID namespace is the fastest and most reliable way available on Linux to reliably keep track of child processes even when they try to daemonize. When PID 1 exits, the kernel immediately, automatically and 100% reliably kills and cleans up all processes that were spawned inside the sandbox.

It also increases reproducibility and hermeticity b

[2022-09-24 07:30] rickeylev commented on #7091
I had an idea for another possible solution here. It's not pretty, but should contain edits to the stub template and work with earlier versions.

Basically, use a combination of compile(), exec() and sys.modules (maybe `__name__` and `__loader__`, too) to have some shim code that modifies sys.path, and then loads the originally intended main file, futzing with e.g. sys.modules to make sure the ori

[2022-09-24 09:18] cameron-martin commented on #16298
I'll have a go at putting the toolchain proxies into a single repository in rules_rust, since this would likely be preferable to introducing new concepts/API surface into Bazel.

[2022-09-24 11:21] fmeum commented on #16298
@cameron-martin Let me know if that should turn out to be infeasible.

@Wyverald Do you think we should still pursue this even if rules_rust can do without it?

[2022-09-24 11:44] Wyverald commented on #16298
i had a similar thought to Cameron's actually. The `toolchain` rules (not the `rust_toolchain` rules) are kind of already "pointer" rules. Maybe we can afford to have those in the hub repo instead? It's slightly clunky, but if it works, it does avoid the API surface increase (`toolchain_alias`) and the big churn migrating Java toolchains and the like.

[2022-09-24 11:51] fmeum commented on #16298
If this ends up encouraging putting `toolchain`s `lang_toolchain`s in separate repos, that is actually a desirable side effect as it names eager fetches less likely. Sounds good to me, hope it works out for rules_rust.

[2022-09-24 13:30] JSGette opened #16335 "Unable to use build_event_stream.proto as external dependency"
### Description of the bug:

Instead of putting [build_event_stream.proto](https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/buildeventstream/proto/build_event_stream.proto) directly into my project to implement build event service I want to consume all required proto files by putting [bazel](https://github.com/bazelbuild/bazel) as external dependency in W

[2022-09-26 04:23] sgowroji commented on #16335
Adding the similar bug https://github.com/bazelbuild/bazel/issues/15874. Not the dupe.

[2022-09-26 06:07] fmeum commented on #16076
In my experience, it's usually easier to gain consensus for a PR than on issue comments. Given that these questions probably don't warrant a design doc yet, I will look into turning my comment from above into code.

[2022-09-26 06:42] lberki commented on #3236
@philwo argh,  I did not think of that, thanks for the explanation. And now you have awakened in me a yearning for the process control API of Windows, which does solve this particular problem quite well; it's kinda weird on Linux that if you want to reliably kill all your descendants, you either have to put them also in a file system namespace or live with breaking the invariant that PIDs are uniq

[2022-09-26 06:54] fmeum commented on #3236
While the JVM crashes during compile actions stand out and are quite searchable, I spent hours debugging that and why my mocking libraries ended up being attached to *another sandboxed test*. That's why I sincerely hope that we can get something like https://github.com/bazelbuild/bazel/pull/16336 to become the default.

[2022-09-26 07:02] jin commented on #5876
I don't think the bazel team has any resources for this right now, @ahumesky please correct me. Also I don't have any updates or news for the n2-based infra since I made that comment :(

[2022-09-26 07:08] lberki commented on #3236
Yeah, in fact, I have to stop myself from campaigning for the flag flip to go into Bazel 6.0 :)

[2022-09-26 07:20] lberki commented on #16326
@c-parsons emotionally, I feel similarly, but I think a better policy is that a _new_ server crash with no error info should not be in Bazel 6.0; the distinction is important because the opposite would imply that we have to fix all such crashes before Bazel 6.0 can be released.

So I'll thereby add this bug to the hotlist of release blockers unless  @Wyverald has some really great arguments why th

[2022-09-26 07:31] fmeum commented on #8893
@lberki The Python runfiles libraries are in a weird state: Their usage instructions recommend to load them from `@rules_python`, but that repo isn't defined in a default WORKSPACE. If the current issue isn't expected to be resolved soon, https://github.com/bazelbuild/bazel/commit/e4ccba45376f74d24ce3506fb4057e1268f01a59 should probably be reverted.

[2022-09-26 08:24] meteorcloudy commented on #16296
@c-parsons Thanks!

/cc @oquenchil Do you have any insight of this issue? How the aspect should work for cc_shared_library?

/cc @learning-to-play, who is working on TF's cc_shared_library migration.

[2022-09-26 09:19] sgowroji commented on #16177
Hello @pswaminathan, Could you please check the above comment and reply. Thanks

[2022-09-26 10:43] lberki opened #16338 ""command interrupted while computing main repo mapping" without any indication of progress"
### Description of the bug:

When I build a Fuchsia example project, Bazel@HEAD hangs for a few minutes while Bazel 5.3.0 provides reasonable progress reporting.

`--profile` indicates that it's repository fetching that's happening during the hang.

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Following the instructions here while using

[2022-09-26 12:08] #16151 closed

[2022-09-26 12:17] oquenchil commented on #16296
Hi Chris,

I agree with you that if we add more attribute names in the check, it would be getting a bit out of hand. Even hard coding "_cc_toolchain" does not seem ideal when looking at it again, I can imagine someone's custom C++ rule in Starlark placing the toolchain in an attribute called "_toolchain".

From the change description and attached issues I can't really tell what prompted this chang

[2022-09-26 12:58] lberki commented on #10515
I have an extremely devious plan that might just work.

My understanding is that the reason why it's difficult to avoid fully restarting the fetching of an external repository is that we'd need to save the state of the whole Starlark thread including stack frames and the like and we cannot do that without hogging an OS thread.

But we can keep the OS thread around! Now that @haxorz has invented `S

[2022-09-26 13:03] Wyverald commented on #10515
My immediate reaction is that I'd rather hack up the Starlark interpreter and store the stackframes, than do this voodoo thread magic... But anyway, for practicality's sake, do we want this resolved for 6.0? If not, we can theorycraft all we like, and have ~a whole year to work it out.

[2022-09-26 13:04] lberki commented on #10515
6.0 should most definitely not be blocked on this. I wrote this down so that this idea that popped into my head does not vanish into nothingness.

[2022-09-26 13:08] cameron-martin commented on #14747
I'm confused. https://github.com/bazelbuild/bazel/issues/14685#issuecomment-1032433790 says that `repository_ctx.os.name` and `repository_ctx.os.arch` provide information about the host platform. However, this task is closed which implies there is a way of getting information about the execution platform. How do you do this?

[2022-09-26 13:12] fmeum commented on #14747
You can't - I think this issue's title was populated incorrectly when it was forked from #14685.

[2022-09-26 13:54] lberki opened #16339 "Crash in `bazel sync` after Ctrl-C"
### Description of the bug:

Bazel crashed when interrupted with Ctrl-C. The crash dump is as follows:

[code]

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

`bazel sync`, then Ctrl-C .

### Which operating system are you running Bazel on?

Linux

### What is the output of `bazel info release`?

development version

### If `bazel info re

[2022-09-26 14:57] oquenchil commented on #16296
Looking at this a bit more I can imagine why you sent the change in the first place. First just to document what the problem is, let me rephrase the problem that Chris found during debugging.

The cc_shared_library implementation decides what to link statically based on the structure of the build graph, it uses the aspect to figure out that structure. It tries to link statically every library in t

[2022-09-26 15:03] c-parsons commented on #16296
Thanks for the summary! You are indeed correct on my project's motivations.

Using required_providers of CcInfo sounds like a good idea, and a more principled solution. Let me give this a try on our project and i'll get back to you.

[2022-09-27 00:59] tgeng commented on #16280
Any hints on how I can detect this with a cquery script?

[2022-09-27 01:22] jfirebaugh commented on #11920
I'm encountering the same behavior as described by @tommyknows and @rmohr: `bazel run --remote_download_toplevel <target>` does not download all the runfile dependencies of the given target.

[2022-09-27 07:41] jin commented on #6046
This is still a problem with --test_output=streamed not surfacing gtest log colors.

cc @enh

[2022-09-27 08:44] bhushan-helloFresh commented on #13193
@wondfor

  Apple LLVM version 13.1.6 (clang-1316.0.21.2.5)
  Optimized build.
  Default target: arm64-apple-darwin21.5.0
  Host CPU: vortex

[2022-09-27 08:46] finn-ball commented on #13193
I don't have a macbook infront of me today but could you quickly see if you can reproduce the problem with this repo?
https://github.com/abseil/abseil-cpp

[2022-09-27 12:21] oquenchil commented on #16271
@trybka Do you have some background for this?

[2022-09-27 12:22] meteorcloudy commented on #16301
Closed by https://github.com/bazelbuild/bazel/commit/59e51fe625f485dc664928ae0ad93035808779f3

[2022-09-27 12:51] Wyverald commented on #16203
This is fixed in https://github.com/bazelbuild/bazel/commit/4ce63be94362c5c0e62785bead57da9885b556dd. Could you try with the latest rolling release and report back if it's still broken? Thanks!

[2022-09-27 12:51] #16203 closed

[2022-09-27 12:53] meteorcloudy commented on #16161
@brown Can you provide a minimal reproduce case?

[2022-09-27 12:53] Wyverald commented on #16097
As @pcjanzen noted, this is a dupe.

[2022-09-27 12:53] #16097 closed

[2022-09-27 12:57] meteorcloudy commented on #16007
This isn't a bug in Bazel, please file the issue to the corresponding rules or projects.

[2022-09-27 13:14] #15277 closed

[2022-09-27 13:15] meteorcloudy commented on #15277
Done in https://github.com/bazelbuild/bazel/pull/16195

[2022-09-27 16:17] trybka commented on #16271
The feature `"supports_dynamic_linker"` is poorly named, but it only controls whether `cc_library` emits this "nodeps" .so file.

There is a lot more detail in https://github.com/bazelbuild/bazel/issues/4341#issuecomment-758028203.

TL;DR these .so files do not work properly on Apple platforms. I believe if you want functional .so files you should use `cc_binary(..., linkshared=1)` or `cc_shared_l

[2022-09-27 21:20] limdor opened #16344 "[Mirror] https://github.com/protocolbuffers/upb/archive/e5f26018368b11aab672e8e8bb76513f3620c579.tar.gz"
### Please list the URLs of the archives you'd like to mirror:

https://github.com/protocolbuffers/upb/archive/e5f26018368b11aab672e8e8bb76513f3620c579.tar.gz

[2022-09-27 21:20] limdor commented on #16344
Needed for https://github.com/bazelbuild/bazel/pull/16343

[2022-09-27 23:28] c-parsons opened #16345 "cquery --output=starlark does not abide by semantics flags"
### Description of the bug:

I found this bug while fixing my project to support a recent flip of `--incompatible_unambiguous_label_stringification`, which is a significant change to Starlark semantics (briefly, stringifying any label in the main repository will return a string which begins the main repository prefix. That is, what was before `//foo:bar` is now `@//foo:bar`.)

My project is curren

[2022-09-28 07:04] sgowroji commented on #16344
Please find the Updated artifact.
https://mirror.bazel.build/github.com/protocolbuffers/upb/archive/e5f26018368b11aab672e8e8bb76513f3620c579.tar.gz

[2022-09-28 07:04] #16344 closed

[2022-09-28 08:53] meteorcloudy commented on #16296
I guess the reason is that the `CcInfo` approach didn't prevent some dependencies propagated via "srcs" and "hdrs" attributes because some targets in those attributes do have the `CcInfo` provider?

[2022-09-28 08:54] meteorcloudy commented on #16296
I think one unsolved mystery is why linking more dependencies will cause a crash.

[2022-09-28 09:20] larsrc-google commented on #16335
Seems very similar to bug #15874, so assigning to its team.

[2022-09-28 09:24] mikejack07 opened #16347 "Building a CMake project using Bazel"
I am trying to build a CMake project using Bazel. The folder structure looks like this:

BazelCmake

1. WORKSPACE.bazel

2. Source

3. Build

BazelCmake is the parent folder and Source subfolder contains the source files. I created the Build folder where i will be putting the build files. The Source folder looks like this:

Source

1. BUILD.bazel

2. CMakeLists.txt

3. tutorial.cpp

The contents o

[2022-09-28 09:28] sgowroji commented on #16347
Hello @mikejack07, Can you share a reproducible code to test and verify. Thanks!

[2022-09-28 09:36] mikejack07 commented on #16347
The above mentioned codes are all I have. I am trying out Bazel and trying to integrating Bazel to build Cmake project. To get my hands on how it works, I created this demo project as mentioned above. I have given all the codes above.

[2022-09-28 09:43] meteorcloudy commented on #16256
Bazel 6.0 cut is scheduled on Oct 10th, do you think we can fix this in time?

[2022-09-28 09:45] meteorcloudy commented on #16323
Bazel 6.0 is scheduled to be cut on Oct 10th, do we have enough time to implement and flip this?

[2022-09-28 10:21] sgowroji commented on #16347
@mikejack07, May be you should reach here https://github.com/bazelbuild/rules_foreign_cc for more help. Thanks!

[2022-09-28 10:52] limdor opened #16348 "[Mirror] https://github.com/protocolbuffers/upb/archive/a5477045acaa34586420942098f5fecd3570f577.tar.gz"
### Please list the URLs of the archives you'd like to mirror:

https://github.com/protocolbuffers/upb/archive/a5477045acaa34586420942098f5fecd3570f577.tar.gz

[2022-09-28 10:54] limdor commented on #16348
Sorry @sgowroji, I put the wrong link in https://github.com/bazelbuild/bazel/issues/16344, indeed I put the link of the artifact that was already in the bazel mirror.

[2022-09-28 10:58] sgowroji commented on #16348
Please find the updated mirror link https://mirror.bazel.build/github.com/protocolbuffers/upb/archive/a5477045acaa34586420942098f5fecd3570f577.tar.gz

[2022-09-28 10:58] #16348 closed

[2022-09-28 12:14] jheaff1 commented on #10923
@or-shachar I have the same issue, did you ever find a resolution to this?

[2022-09-28 13:04] fmeum commented on #10923
@or-shachar @jheaff1 Could you describe in more detail what you want to use the name declared in the `WORKSPACE` file for in a macro? Knowing more about the actual problem you are trying to solve would help me answer these questions.

[2022-09-28 13:26] Wyverald commented on #10923
You most likely want just "@" instead. With the recent fixes on repo mapping, "@workspace_name//:foo" is equivalent to "@//:foo".

(Unless you're doing exec path or runfiles shenanigans, in which case refer to @fmeum's comment.)

[2022-09-28 13:59] #16326 closed

[2022-09-28 14:01] katre commented on #16298
Sorry, I've been out with covid for several days.

Just allowing `alias` won't work, for the reasons you point out. That's unfortunate, but not unexpected. If `alias` could somehow also report what providers it can provide (in a sane way, this needs some serious thought) then we could potentially do something, but I'm not sure that Bazel's analysis phase is currently robust enough to handle that.

[2022-09-28 14:36] limdor commented on #8195
@bazel-io flag

[2022-09-28 14:38] c-parsons commented on #16296
Indeed, can we get any help from TF here to demystify their build?

I'm inclined to go with the hacky solution I outlined in https://github.com/bazelbuild/bazel/issues/16296#issuecomment-1256694591 for the time being. We can follow up with a more principled solution after we unblock the release. WDYT?

[2022-09-28 14:42] limdor commented on #8195
Ok, probably I have to retract and rephrase, now most of the work is done for the Bazel project itself, if we want to fix the downstream projects there is still quite a lot left.

[2022-09-28 14:58] oquenchil commented on #16296
It feels like we are missing a way to express this in Starlark. Chris how are your custom attribute names called? If we are going to hardcode hdrs and srcs, I'd prefer that we go back to the way it was before your change and include your attribute names in a list apart from "deps". Unless they don't sound very generic and are very custom to your project.

In any case, to unblock this it will defin

[2022-09-28 15:06] c-parsons commented on #16296
We use a number of custom Starlark rules in our graph (generally hidden away by macros). Attribute names include:

"root", "roots", "shared", "includes_deps", "system_libraries", "stub_target", "library_target", "root_target", "source_target"

I'm frankly not sure without further investigation whether we'd need to allowlist all of these attribute names -- it's possible we only need "root", "roots"

[2022-09-28 15:55] tetromino commented on #16256
I hope to submit the fix this week

[2022-09-28 18:50] jheaff1 commented on #10923
@fmeum I am trying to write a sh_binary target for the rules_foreign_cc repo that wraps around an executable binary with shared library dependencies.

I would like to use the `rlocation` bash function provided here:

https://github.com/bazelbuild/bazel/blob/a76cf2f4c3aa514dffa1ddc038c196103ae4583c/tools/bash/runfiles/runfiles.bash#L68

The `rlocation` bash function requires the workspace name, whi

[2022-09-28 22:18] Fogrunner commented on #14380
Try to build 'hello_world-load-dll-at-runtime' or 'hello_world-link-to-dll-via-lib' packages instead of 'hellolib'

It seems 'windows_dll_library' in 'windows_dll_library.bzl' is not for standalone rule.

If you want to export only dll file. Use cc_binary rule with linkshared  like below.

cc_binary(
    name = "hellolib",
    srcs = ["hello-library.cpp",  "hello-library.h"],
    # Define COMPILIN

[2022-09-29 02:30] haxorz commented on #16335
Indeed #15874 sounds similar, thanks @sgowroji for noting the connection!

@JSGette, why do you want to consume all the required proto files? Would instead consuming an appropriate `x_proto_library` target work for your purposes? If so, what's your `x`? If not, what are you doing and do you really need visibility of the `.proto` file targets themselves?

[2022-09-29 02:31] haxorz commented on #16335
@michaeledgar fyi

[2022-09-29 02:43] brentleyjones commented on #16335
I also need this to be visible. Mine is `swift_proto_library`. The proto itself doesn't need to be visible, but the `proto_library`s do, otherwise I have to copy over the files and do this: https://github.com/buildbuddy-io/rules_xcodeproj/blob/62316bcfcc5ed56a83cf0f4771d57cf16a8e222a/tools/bep_parser/bep/BUILD#L7-L43

[2022-09-29 04:53] sgowroji commented on #16107
I'll close the issue. If you still can reproduce it, please reopen.

[2022-09-29 04:53] #16107 closed

[2022-09-29 04:54] sgowroji commented on #1661
I'll close the issue. If you still can reproduce it, please reopen.

[2022-09-29 04:54] #1661 closed

[2022-09-29 06:38] chronicc commented on #13662
Hello, I currently experience this problem on bazel 5.2.0. This issue is open for nearly a year now. Using authentication for archive downloads seems like a commonly used concept to me. Is there another way of solving this? Otherwise i have the feeling this bug does not get the attention it deserves.

[2022-09-29 07:27] mikejack07 commented on #16347
Here is the link to the discussion for anyone facing the same problem:
https://github.com/bazelbuild/rules_foreign_cc/issues/969

[2022-09-29 07:27] #16347 closed

[2022-09-29 08:20] meteorcloudy commented on #8195
@limdor The flag wasn't tested in the pipeline because the "migration-ready" was removed. I added it again let's see https://github.com/bazelbuild/bazel/pull/15374 will fix the failures.

[2022-09-29 08:22] meteorcloudy commented on #8195
From https://buildkite.com/bazel/bazelisk-plus-incompatible-flags/builds/1253#01833aea-8848-4562-976c-916e87f33b6b, I can see at least TensorFlow is broken by this:
[code]

[2022-09-29 08:41] #16301 closed

[2022-09-29 09:22] oquenchil commented on #16296
So I was thinking about this yesterday some more and I think the right way and the way to do it from the very beginning is with the concept of [aspect hints](https://cs.opensource.google/bazel/bazel/+/master:src/test/java/com/google/devtools/build/lib/analysis/AspectTest.java;drc=876bf37e90f1026d7345f5a107da869ba41004e0;l=1351) introduced by @scentini and @hlopko.

I said "concept" because we don'

[2022-09-29 09:59] larsrc-google commented on #10298
I have resolved a major bug in my understanding of the symlink handling, and believe that with #15982 there are no more blockers in the way symlinks are handled _for sandboxes_.

[2022-09-29 11:50] Wyverald commented on #13662
The netrc attribute currently works well with an absolute path. Would that cover your use case? I agree that having it fail for a relative path is not ideal, but fixing it is also not super easy since there's currently no API in repository_ctx to resolve a path relative to the main repo.

We can't make the type of the attribute a label directly since that would make it impossible to supply an abso

[2022-09-29 12:40] exoson commented on #15712
https://github.com/bazelbuild/bazel/pull/16123 fixed this

[2022-09-29 12:40] #15712 closed

[2022-09-29 12:41] lberki commented on #3236
@larsrc-google doesn't your comment https://github.com/bazelbuild/bazel/issues/3236#issuecomment-1256536513 contradict https://github.com/bazelbuild/bazel/issues/3236#issuecomment-311065879 which says that mounting an empty directory at `/tmp` doesn't work?

(I don't know what exact mechanism causes this fix to not work if the output base is under `/tmp`, but I'd trust @philwo over myself here)

[2022-09-29 12:44] fmeum commented on #3236
We could do https://github.com/bazelbuild/bazel/issues/3236#issuecomment-311276029, but can also just gracefully disable hermetic tmp if the output base is under it.

[2022-09-29 12:54] exoson opened #16351 "test.xml missing when running flaky test"
### Description of the bug:

When running a flaky test with the `--flaky_test_attempts=10` and `--remote_download_minimal` flags with remote execution, bazel build execution will stop if the test fails with the following error message:
ERROR: /data/repos/test_repo/BUILD:9:8: Testing //:python_test failed: unexpected I/O exception: /home/ekattainen/.cache/bazel/_bazel_ekattainen/f465db4dd2df63e3309

[2022-09-29 13:23] #15452 closed

[2022-09-29 13:47] philwo commented on #3236
Haha, @lberki, you're right and that's the reason why I didn't just implement that :)

Putting a workspace or output base under `/tmp` really grinds my gears more than any sand from the sandbox could do. 😆 What happens is that by mounting a tmpfs or empty directory over `/tmp` prevents the symlinks from inside the sandbox from resolving to the files - because they'd point to files inside `/tmp/myw

[2022-09-29 14:02] #16183 closed

[2022-09-29 14:11] chronicc commented on #13662
@Wyverald Understandable. I'm currently using the netrc in the home directory of the user which forces every user of the repository to configure it by themselfes. This is a workable solution but not the best when I want to easen the usage of bazel in the company.

Would it be possible to provide a `netrc_label` attribute in addition to the `netrc` attribute? This way the current implementation sta

[2022-09-29 14:11] larsrc-google commented on #3236
Would it be possible to make the relevant PID in the namespace be either random or something given from the outside (e.g. action #)?

If not, I would say make it an error to use hermetic /tmp together with building from /tmp. Building from /tmp is uncommon and potentially problematic enough that making it conflict with hermetic /tmp avoids subtle weirdness and educates people.

[2022-09-29 15:04] jiawen commented on #13662
I authored the original PR that changed the current attr to a Label, but it had to be rolled back due to downstream breakages. I'm using a similar workaround (forcing all users to put credentials into their home directories) so haven't prioritized a proper fix.

@Wyverald if it's acceptable to you, I can try and find cycles to add a `netrc_label` attr, making it mutually exclusive with the current

[2022-09-29 15:05] tjgq opened #16353 "incompatible_remote_dangling_symlinks"
**Description**: This flag causes dangling symlinks found in the outputs of a locally executed action to be uploaded to a remote cache as such. The current behavior is for Bazel to throw an error in the presence of a dangling symlink.

**Rationale**: Output symlinks, including the dangling kind, are a feature of the Remote Execution API.

**Migration**: Flipping this flag might cause previously fa

[2022-09-29 15:06] coeuvre commented on #16351
Thanks for the report. I am able to reproduce this locally.

The fix is fairly easy though: we just need to override `renameTo` method in `RemoteActionFileSystem`. I will wait until #16283 is submitted because it makes lots of changes to `RemoteActionFileSystem`.

[2022-09-29 15:10] lberki commented on #3236
@philwo thanks, now I get it; for some reason I thought that the sandbox individually bind mounts the input files instead of symlinking.

I'd take special-casing Java in the sandbox code over Java randomly crashing in actions any day; that way, at least it's only us who gert to see the ugliness.

I was wondering if we could get away with a more-complicated-than-seems-necessary solution:
* We bind

[2022-09-29 16:24] limdor commented on #8195
Ok understood, I will take a look to the failures then. In general the fixes are quite trivial, at least to get the default behavior. The problem is getting reviews in timely manner.
The problem that I might be facing in downstream projects is that setting the allow_empty = True might not be well received and some projects might want to investigate why that is the case. However my rationale here i

[2022-09-29 16:34] tjgq commented on #16289
This was fixed by 5b46a48.

[2022-09-29 16:34] #16289 closed

[2022-09-29 16:51] meteorcloudy commented on #8195
Agree, however, there is no clear owner of this flag from the Bazel team right now, so it would be great if the community can help send those PRs. It will be useful to have a tracking list like https://github.com/bazelbuild/continuous-integration/issues/1404#issue-1341836598

[2022-09-29 19:48] brandjon commented on #16345
Marking release blocker since it sounds like an easy enough fix. Repeating what we discussed offline: You should be able to obtain the semantics using `PrecomputedValue.STARLARK_SEMANTICS.get(env)` on a skyframe `Environment` retrieved from the `SkyframeExecutor`, and store that inside the object at construction for later use in the other method. Would you mind implementing since you have the repr