[2020-11-13 15:40] david-siqi-liu opened #12471 "java.io.IOException: thread interrupted when building"
### Description of the problem / feature request:

Unable to build `mediapipe`. Same issue posted here:
https://github.com/google/mediapipe/issues/1275

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Build

### What operating system are you running Bazel on?

- macOS: Catalina v10.15.7
- xcode-select: v2373
- SDK: 29
- NDK: r18b

##

[2020-11-13 16:21] surak commented on #6834
This issue stops JAX from working on Centos7 when using easybuild - Bazel finds ld.gold from easybuild, tests it, realizes that the --push-state option is there, and then adds a `-B/usr/bin` to files, which will then look for the system installed ld.gold there.

[code]

[2020-11-13 17:00] aiuto commented on #12467
cc:  @gregestren @juliexxia   Some of this might be doable with execution groups.

[2020-11-13 17:06] ulfjack commented on #11782
Nope, no output in `jvm.out`.

[2020-11-13 17:21] ronstripe commented on #4680
Seems like it is still broken for native genrules too.

genrule(
    name = "SimpleTest",
    srcs = [],
    outs = ["host.txt"],
    cmd = "(hostname; date) > $(OUTS)",
    tags = ["no-cache"]
)

[2020-11-13 17:35] sventiffe commented on #12469
@mocowo Thank you for reaching out. Issues on GitHub are supposed to be used for bug reports and feature requests. For both we require some more detail than what you've provided so far. For support requests and discussions, please consider using one of the channels described at https://bazel.build/support.html

Please also note that we consider your language offensive. You seem to be unhappy with

[2020-11-13 17:35] #12469 closed

[2020-11-13 18:50] illicitonion opened #12473 "Ability to specify "default" and "available" platforms"
Suppose you have remote execution environments where some platforms are cheap to provide (say Linux), and others expensive (say Windows).

It would be nice to be able to say "Run all tests on the cheap platform if possible. Run any tests which can _only_ run on the expensive platform on the expensive platform. But if a test can run on either/both, run it only on the cheap one".

As an example, sup

[2020-11-13 19:22] alandonovan opened #12474 "starlark REPL: parse compound statements"
(Moved from https://github.com/bazelbuild/starlark/issues/110)

Currently the REPL reads until it sees a blank line, then parses those lines as a file. This means that you must hit return twice after an expression:

[code]

It also means it doesn't correctly parse unclosed expressions containing blank lines:

[code]

Instead, it should parse a compound statement form, like Python and the Go implem

[2020-11-13 19:35] juliexxia commented on #10799
Confirmed. It was unfortunately rolled back but I'll be trying to roll it forward next week.

[2020-11-13 19:37] juliexxia commented on #11250
There is some ongoing work, mostly getting rid of the --experimental_exec_group flag and migrating tags over to using exec groups. I plan to use this as a place to occasionally update on working progress. Is that a reasonable plan or should I be doing that elsewhere? Will also document in documentation but this is more update-y.

[2020-11-13 21:27] stepancheg opened #12476 "Starlark: per-thread descriptor cache for builtin types"
Follow-up to this PR: https://github.com/bazelbuild/bazel/pull/11759 (Cache descriptor resolution in getattr)

That PR did not work because caching would be inefficient when semantics change.

The alternative idea is to implement per-thread cache of descriptors for builtin-types. I assume that the most descriptor lookups in Starlark are list, dict, string operations (like `list.append` or `list(..

[2020-11-13 21:50] gregestren commented on #12412
I like the idea of 3. We already have an `IncompatiblePlatformProvider`, so rather than adding more hard-coded logic of what to do with that (that won't suit all needs), just let users do whatever they want with it in Starlark.

Aside from the incompatibility issue, do you you have any attachment to `filegroup` specifically? Would your own custom Starlark rule provide equivalent outputs, filesToBu

[2020-11-13 22:24] moroten commented on #12412
With 3, would it be possible for a rule to return `IncompatiblePlatformProvider`? That way, the incompatibility can be dynamically calculated depending on the inputs, not just stated using select cases in BUILD files.

[2020-11-13 22:59] sbosley opened #12477 "Bazel fails to recognize valid $JAVA_HOME on macOS Big Sur"
### Description of the problem / feature request:

Bazel fails to recognize valid $JAVA_HOME as a JDK on macOS Big Sur

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

After upgrading to macOS Big Sur, all invocations of bazel output the following and immediately exit:
[code]

### What operating system are you running Bazel on?

macO

[2020-11-13 22:59] sbosley opened #12502 "Bazel fails to recognize valid $JAVA_HOME on macOS Big Sur"
### Description of the problem / feature request:

Bazel fails to recognize valid $JAVA_HOME as a JDK on macOS Big Sur

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

After upgrading to macOS Big Sur, all invocations of bazel output the following and immediately exit:
[code]

### What operating system are you running Bazel on?

macO

[2020-11-13 23:16] konste commented on #12412
@gregestren in this particular case we use filegroup as a "funnel" to gather the targets we want for the given configuration and don't use any filegroup specific features, so it would not be a problem to replace it with the custom rule which does the filtering based on the srcs providers.

@moroten in our case "funnel" rules themselves are always compatible, so we would not need the ability to ret

[2020-11-14 00:00] stepancheg commented on #12457
There's inconsistency here:

[code]

doesn't work, but these three work:

[code]

while intuitively they look equivalent.

[2020-11-14 00:12] phoenix-meadowlark opened #12479 "Test targets run multiple times in one bazel test invocation with `-t-`"
### Description of the problem:

When running a large number of tests `bazel` appears to split the test targets into multiple waves. This can be seen in [these logs](https://source.cloud.google.com/results/invocations/efc57cf8-60f6-4485-a143-e1cce974bdc5/targets/iree%2Fgcp_ubuntu%2Fbazel%2Flinux%2Fx86-swiftshader%2Fintegrations%2Fpresubmit/log):

[code]

I'm not sure if this behavior is or isn't i

[2020-11-14 01:28] dwtj commented on #11082
I think that I also just ran into this bug with a `cc_binary` rule with `linkshared = True`.

I'm using

- macOS v11.0.1
- Bazel v3.7.0
- The latest `@rules_cc` commit, `b1c40e1`

[2020-11-14 01:35] konste commented on #11082
At some moment minor problems with the built-in rules like this one started to cause us so much pain that we reimplemented most cc rules in Starlark. For compilation we use [cc_common.compile](https://docs.bazel.build/versions/master/skylark/lib/cc_common.html#compile), but for linking we cannot use [cc_common.link](https://docs.bazel.build/versions/master/skylark/lib/cc_common.html#link) because

[2020-11-14 01:52] benjaminp commented on #12479
Is the wave behavior not a result of this xargs hack rather than Bazel? https://github.com/google/iree/blob/07b33a4c027540f578ee724ff18b918e25af8802/build_tools/bazel/build_core.sh#L78-L95

[2020-11-14 06:39] stepancheg opened #12481 "Starlark: object validity checks are performed inconsistently in public API"
* `StarlarkList.copyOf` and `Dict.copyOf` perform validity check
* `StarlarkList.addElement` does not perform validity check
* `Dict.putEntry` does not perform validity check
* `Tuple.copyOf` does not perform validity check

So, in some cases, users are protected from feeding invalid values into Starlark, while in others they aren't. Feeding an invalid object into a Starlark interpreter accidental

[2020-11-14 07:26] erenon opened #12482 "cc_* rules does not expand location make variables"
### Description of the problem / feature request:

The [documentation](https://docs.bazel.build/versions/master/be/c-cpp.html#cc_library.defines) says:

`defines`: List of defines to add to the compile line. Subject to "Make" variable substitution and Bourne shell tokenization.

It seems substitution of `$(location label)`, `$(execpath label)`, `$(rootpath label)` and their plural form does not wo

[2020-11-14 14:21] Yannic commented on #7514
I think this is implemented and can be closed?

[2020-11-14 14:32] tchernobog opened #12485 "Unable to build bazel on systems without /usr/bin/python"
# Description of the problem / feature request:

Several distributions have started removing python2 support as it is moving to EOL. This means there is no `/usr/bin/python` anymore, only `/usr/bin/python3`.

In this scenario, Bazel itself fails to build.

The same problem also happens with many other packages in projects other than bazel, making it a critical issue.
Examples include any project u

[2020-11-14 19:07] aiuto commented on #8986
rules_cc update bites another user.
https://github.com/greenhouse-org/bazel/commit/e673a9bd05b3d5a07eb11bc624c76d3de68ac811

[2020-11-15 00:54] luxe opened #12487 "Debugging grpc OUT_OF_RANGE (proto 2GB serialization limit?)"
bazel 3.1.0 is crashing with the following error:
`Caused by: io.grpc.StatusRuntimeException: OUT_OF_RANGE: size 2460924504 exceeds 2147483648`.

Here is the full stacktrace:

[code]

I think I'm hitting the 2GB limit on protobuf serialization for remote execution.  I didn't find any related issues that include this message.  Are there any flags I could use to find the offending files?

[2020-11-15 02:51] vnvo2409 opened #12488 "FP: build cache for external dependencies"
### Description of the problem / feature request:

`Bazel` invalidates build caches of external dependencies when updating the dependencies using `http_archive`

### Feature requests: what underlying problem are you trying to solve with this feature?

The whole build caches (`cc_*`) will be invalidates when we update the `sha256` of an external repo. I would like to ask if we could have an attribu

[2020-11-15 16:23] alandonovan commented on #12481
I'm sure we all agree that the ideal outcome is that checks are thorough and unconditional yet have negligible dynamic cost.  In recent commits, increased the checks' coverage of the public API (though more is still needed), and attempted to measure the CPU cost, of which I am always conscious, and was unable to detect any regression---even each check would appear to cost one last-level cache miss

[2020-11-15 20:52] BalestraPatrick commented on #11628
We are also blocked on being able to target arm64 and the iOS simulator. I also have a DTK but I'm unfamiliar with Bazel core, but happy to help in any way I can.

[2020-11-15 20:54] keith commented on #11628
AFAIUI currently we're blocked on the JDK not supporting Apple Silicon. Realistically after that I imagine the fact that homebrew doesn't support it either will make it difficult to build and test this.

[2020-11-15 21:02] BalestraPatrick commented on #11628
@keith Isn't the fact that Bazel doesn't support Apple Silicon a different problem? With my understanding, I assumed we should be able to still pass the right arguments to the compiler and build targeting arm64 and the iOS simulator even if Bazel isn't yet optimized with Apple Silicon.

[2020-11-15 21:06] keith commented on #11628
Sorry I thought you were hoping to do the build on the DTK as well. Yes we should be able to target the apple silicon simulator from x86_64 bazel runs. I don't think this will be an easy change based on a discussion at bazelcon (not sure if you were in the apple BoF). I think the problem is there isn't a way to differentiate simulator or device for the same architecture.

[2020-11-15 22:06] BalestraPatrick commented on #11628
Yeah, I was in the discussion so I'd love to know how big of a change this would be from some Google folks, since it could block Bazel adoption relatively soon for teams who want/need to support this new architecture.

[2020-11-16 05:09] coeuvre commented on #11782
output from server is stored at `$output_base/java.log`.

This stack trace shows that Bazel was stuck at remote execution calls (without `--experimental_remote_execution_keepalive`). This is different from the hangs reported by Keith and other users - stack traces showed that Bazel was stuck at remote cache calls. Both #12422 and #12426 are used to fix hangs at remote cache calls.

Hangs at remote

[2020-11-16 06:03] philsc commented on #12412
I have a proof-of-concept up here:
https://github.com/philsc/bazel/blob/IncompatiblePlatformProvider-in-starlark/src/test/shell/integration/target_compatible_with_test.sh#L193-L264

That patch lets you filter targets with `IncompatiblePlatformProvider`s in Starlark. It's a bit hacky, but I think it should work.
It does not let you construct `IncompatiblePlatformProvider` in Starlark yet.

[2020-11-16 08:57] fweikert commented on #12164
@oquenchil can you please have a look at the coverage failure?

[2020-11-16 10:29] larsrc-google commented on #12487
If you're up for building your own Bazel, you could catch the exception in
the first place that has the relevant information and throw a more
informative error.

You could also do an aquery and grep for actions that have very large
inputs.

-Lars

On Sun, 15 Nov 2020 at 01:54, Trevor Hickey <notifications@github.com>
wrote:

[2020-11-16 10:39] larsrc-google commented on #12401
@kevingessner #12364 is now closed, with that fix do you still get the above error if you run with the new scheduler?

[2020-11-16 10:55] pauldraper commented on #7572
I'm confused....why was this closed?

[2020-11-16 11:35] oquenchil commented on #12461
Closing bug as the last comment https://github.com/bazelbuild/bazel/pull/12443 indicates this isn't a problem anymore.

[2020-11-16 11:35] #12461 closed

[2020-11-16 11:40] oquenchil commented on #12462
This doesn't sound like a bug to me. If you are interested in migrating from Make to Bazel, see https://github.com/bazelbuild/rules_foreign_cc.

Anyway, I will leave the issue open and leave it to someone else to close this issue with WAI.

[2020-11-16 11:44] sventiffe commented on #5716
Adding a team label for better tracking and bumping down to P4 as per the last comment from @c-mita. If we do not even accept PRs in this area, should we leave it open as P4 or close it?

[2020-11-16 12:08] oquenchil commented on #12471
Can you provide the command?

I would say that this should just have been filed with mediapipe but it is true that Bazel shouldn't crash. To help with debugging please provide a  repository with example code and exactly the build command you are using.

[2020-11-16 12:47] oquenchil commented on #12487
Can you please provide the build command and the code you are trying to build?

[2020-11-16 12:48] sventiffe commented on #8622
Per offline discussion, this change will not make it into 4.0. Please update the issue if this assumption is incorrect.

[2020-11-16 12:56] ulfjack commented on #11782
Hmm, ok. The stacktrace is from stuck builds with `--experimental_remote_execution_keepalive`. I think this is a log file from one of those runs.

[java.log.txt](https://github.com/bazelbuild/bazel/files/5545520/java.log.txt)

[2020-11-16 13:39] larsrc-google commented on #10773
If your Android workers are written in Java, take a look at [WorkRequestHandler](https://github.com/bazelbuild/bazel/blob/a4251eab6988d6cf4f5e35681fbe2c1b0abe48ef/src/main/java/com/google/devtools/build/lib/worker/WorkRequestHandler.java), a generic class to handle the request/response and multithreading parts of multiplexing. Of course, the worker itself needs to be thread-safe, including not sha

[2020-11-16 14:17] coeuvre commented on #11782
Interesting. Remote execution with `--experimental_remote_execution_keepalive` should use `ExperimentalGrpcRemoteExecutor` but the stack traces showed that Bazel is stuck at `GrpcRemoteExecutor` which is [not created](https://cs.opensource.google/bazel/bazel/+/49217364a8b9d3a58757f5f777dc25a427066bfb:src/main/java/com/google/devtools/build/lib/remote/RemoteModule.java;l=523) when the flag is enabl

[2020-11-16 14:24] katre commented on #7572
@pauldraper What part of the history is unclear? This needs to be handled differently by the different toolchains for each rule, and so any issues need to be opened for specific rules.

I will point out that @comius is implementing a proposal for [using config_setting to influence toolchain resolution](https://docs.google.com/document/d/13yXhOQeMZQmlW3obyZ7fJP3sm3eVLbK3Nuk2LZjcZiU/edit), which may

[2020-11-16 14:48] kevingessner commented on #12401
@larsrc-google Yes, that patch does appear to fix dynamic exec with the new scheduler! I cherry-picked it onto 3.5.0 and my build worked. Do you expect that fix to be in 3.8?

Trying to repro this merkle tree problem with the new scheduler if I can.

[2020-11-16 15:53] gregestren commented on #12412
Another API variation could be to omit the `allow_incompatible_targets` parameter on `attr` and parameterize `IncompatiblePlatformProvider` with a boolean.

So any target with `IncompatiblePlatformProvider(value=True)` is considered incompatible, any with `IncompatiblePlatformProvider(value=False)` is considered compatible, and any without the provider considered compatible.

That would give Starl

[2020-11-16 16:01] pauldraper commented on #7572
@katre the part that is unclear is how rules should cooperate with toolchains to make this happen.

To use the original example,

[code]

It's not clear how nodejs_binary should implement that.

[2020-11-16 16:12] katre commented on #11993
Okay, I've debugged this further and I can see the problem, but not the solution.

Here's the data flow:
1.  `bazel cquery deps(main)` corresponds to a call to [`DepsFunction.eval`](https://cs.opensource.google/bazel/bazel/+/master:src/main/java/com/google/devtools/build/lib/query2/engine/DepsFunction.java;bpv=1;bpt=1;l=56?ss=bazel&q=DepsFunction&gsn=eval&gs=kythe%3A%2F%2Fgithub.com%2Fbazelbuild%2

[2020-11-16 16:44] katre commented on #7572
Here's a sketch of a possible solution. This would need some work to accomplish and I'm not aware of any existing examples to borrow from. It also assumes that @comius's work is complete and in Bazel.

1.  Define a new build setting for the Node version. I'll call it `@rules_nodejs//:node_version` here, but the actual location is up to you.
2.  Each nodejs toolchain then needs three targets: the a

[2020-11-16 16:47] keith commented on #10391
In a tiny project with an empty WORKSPACE and:

[code]

run:

[code]

Then in a bazel checkout run:

[code]

In this case no difference is produced. But using `-s` you can see these differ with the env var:

[code]

[code]

[2020-11-16 16:57] nacl commented on #11128
With 3.7, our experience with this is mostly the same as what's described in #9177, except Bazel no longer crashes, instead, nothing happens.

Interestingly, when I run these two commands (within the [example in #9177](https://github.com/ulysses4ever/bazel-user-settings-example/)), it seems like the prefixed and non-prefixed versions are being treated as separate, but still work :

[code]

Referen

[2020-11-16 16:57] luxe commented on #12487
for context, this occurred when upgrading cuda from 10.2 to 11 in which 11's libraries have become significantly larger. I'll see about making a minimal example if I can't get any further with aquery or patching bazel.

With aquery, I see the action inputs as a list of filenames.  Is the 2GB limit the entire serialized action that aquery prints? or is it also the content of these input files?  May

[2020-11-16 17:11] #11852 closed

[2020-11-16 17:11] #11855 closed

[2020-11-16 17:30] gregestren commented on #6526
@ulrfa sure!

The generic approach I outlined in https://github.com/bazelbuild/bazel/issues/6526#issuecomment-488103473 tries to balance a variety of needs, including the need that the paths the executor sees are identical to what appears in Bazel's final output tree. That makes actions that write manifests or debug symbol paths safe.

If we drop that requirement, that opens up a much simpler algo

[2020-11-16 17:50] keith commented on #11628
Looks like there's a zulu release for Apple Silicon https://www.azul.com/downloads/zulu-community/?os=macos&architecture=arm-64-bit&package=jdk

[2020-11-16 19:16] philsc commented on #12412
@gregestren , could you elaborate a little bit on how a Starlark rule accesses incompatible dependencies?
Right now the challenge is that your Starlark code won't even get executed when it depends on incompatible targets. We need a way to tell bazel to still execute the Starlark even if it depends on incompatible targets. I'm having trouble figuring out how adding a boolean parameter to `Incompati

[2020-11-16 19:18] konste commented on #12412
@philwo beat me to the punch. I have the same question.

[2020-11-16 20:37] ulfjack commented on #11782
Ok, new stack trace.

[bazel-hangs-stacks.txt](https://github.com/bazelbuild/bazel/files/5549296/bazel-hangs-stacks.txt)

[2020-11-16 20:46] ulfjack commented on #11782
And a matching log file.

[java.log.txt](https://github.com/bazelbuild/bazel/files/5549556/java.log.txt)

[2020-11-16 21:01] gregestren commented on #12412
@philsc you're right! I didn't think of that.

[2020-11-16 22:00] alanfalloon commented on #12467
@aiuto How do execution groups help in this case? IIUC execution groups allow you to configure different platforms and toolchains for actions within a rule, but I don't see how that helps me manage a shared resource.

[2020-11-16 22:22] wrowe commented on #12188
If there is a 3.7.1+, please consider that LLVM 11.0.0 breaks bazel clang-cl builds on windows due to malformed include and library paths, caused by an error parsing the output of the of the clang-cl -v command as of 11.0.0 (10.0.0 -v output does not exhibit this issue). These two PR's https://github.com/bazelbuild/bazel/commit/ea763e53fdf850b4290b09870adf42b254c73935 and https://github.com/bazelb

[2020-11-16 23:06] susinmotion commented on #12439
@googlewalt is this in your wheelhouse?

[2020-11-16 23:56] ckhamly commented on #11392
Did you guys figure it out the issue? I am having the same problem when I enable `--bes_backend` and `--remote_cache` options together. My BES server gets the following
[code]
while bazel gets this
[code]

[2020-11-17 00:09] grayed commented on #12327
No, librt is a POSIX extension.

[2020-11-17 00:43] kaladron opened #12496 "Documentation issue: Build Tutorial - C"
Documentation URL: https://docs.bazel.build/versions/3.7.0/tutorial/cpp.html

Please consider adding to the CPP tutorial how to quickly change the compiler and flags handed to the compiler.  This is a common enough operation (enabling/disabling warnings, specifying C++ revision, choosing Clang vs GCC) that it should be documented in the intro tutorial.  Ideally it should include how to make one-of

[2020-11-17 03:31] coeuvre commented on #11782
Can't find hints from `java.log`.

Since both `GrpcRemoteExecutor` and `ExperimentalGrpcRemoteExecutor` use blocking gRPC calls, we don't have the risks like we had for remote cache calls where a future never completes resulting in a hang (unless a bug inside gRPC). The new stack trace shows that Bazel is waiting for network data. What's the values of `--remote_timeout/--remote_retries` here? Is t

[2020-11-17 04:14] aiuto commented on #12467
They don't help with the timeout problems of license acquisition at all.  I was thinking about the other problem lumped into this issue - queuing for specific hardware.

They might work well for actions that require specific hardware to run. Let's say you have a pool of 20 build machines but only 4 have a specific attached processor, like a TPU. We could use execution groups to define a need for t

[2020-11-17 04:35] luxe commented on #12487
Thanks for your suggestion on using aquery.  aquery shows all the "action inputs" or "artifacts" (whatever you want to call them)... but those files might not actually exist and the file sizes cannot be known through that query output.

so I did a remote build for speed (let it crash on serialization), finish the build locally, run aquery, iterate all inputs (which exist from building), and size/s

[2020-11-17 04:54] jmillikin-stripe opened #12497 "Querying "//..." fails if a top-level target exists and any external dependency can't be fetched"
### Description of the problem / feature request:

If a workspace contains an external dependency that can't be fetched (upstream 404, shasum mismatch, whatever) then the presence of a build target in the top-level package will cause `bazel query` on `//...` to fail.

This happens regardless of whether the external dependency is in the transitive closure of the top-level target. As long as there i

[2020-11-17 09:33] Esben2 commented on #12462
@oquenchil : This bug has nothing to do with integrating Make. It is about integrationg Bazel into X, X being any build system or build server wanting to make Bazel build a file, and copy the file out of Bazel. In my case X is just Make. It isn't about Bazel calling Make at all.

The issue is that if in X, I make a "bazel build foo.txt" call and use, what I see as the official way to get the foo.t

[2020-11-17 09:35] joeleba commented on #12487
Aquery doesn't know about the content of any file. It basically just gives info about the action graph (i.e. the relationship between actions and artifacts). The 2GB limit is with protobuf (Reason: https://stackoverflow.com/a/34186672).

[2020-11-17 12:01] meisterT commented on #12375
I already have openjdk-8 installed, this doesn't help for me.

[2020-11-17 12:46] katre commented on #12188
@wrowe Is there an issue open for this? We can decide whether it's worth a point release.

[2020-11-17 13:00] cdump commented on #10190
@wesleyw72 have you found a solution/workaround for this?

[2020-11-17 14:33] Corezcy opened #12501 "fatal error: 'sys/inotify.h' file not found"
### Description of the problem / feature request:
when I run `bazel build //test:test`, sometimes I got the error info ,
[code]

So my problem is , **how to import `<sys/inotify.h>`**

### Feature requests: what underlying problem are you trying to solve with this feature?

import glfw library by bazel.First of all , I solve the problem `fatal error : X11/Xlib.h not found`.But this problem occurs

[2020-11-17 14:45] luxe commented on #12487
thanks, I guess we'll need to just fix our build artifacts.  Getting around this limitation doesn't seem as feasible.

[2020-11-17 14:45] #12487 closed

[2020-11-17 14:51] Corezcy commented on #12501
I update the bazel to the 3.7.0 ,  still have the same problems

[2020-11-17 15:44] janakdr commented on #12462
I agree this can be confusing in your specific example, but it is WAI. Bazel does not guarantee that your output tree after a incremental build is indistinguishable from that of a clean build. Instead, it guarantees that the files that you requested on this build are the same as if you had built them from a clean build.

Changing behavior would definitely cause lots of problems: if you did `bazel

[2020-11-17 15:44] #12462 closed

[2020-11-17 15:48] janakdr commented on #12479
Giving to @phoenix-meadowlark to answer @benjaminp 's question (thanks Benjamin!).

[2020-11-17 16:38] #12125 closed

[2020-11-17 16:56] wrowe commented on #12188
@katre asks;

https://github.com/bazelbuild/bazel/pull/12458 is the PR behind the request.
https://github.com/bazelbuild/rules_cc/pull/88 is the underlying defect, I hadn't opened an issue, per se.

If Bazel project prefers Issue -> PR workflows, we can certainly do that. Wasn't clear if this would be a bazel or rules_cc ticket.
I'm experimenting with a workaround of bumping only rules_cc within o

[2020-11-17 17:09] larsrc-google commented on #10091
Ulf, could you turn the above into a little design doc and attach it to a PR for this change?

[2020-11-17 17:11] larsrc-google commented on #12401
Yes, that fix should be in the upcoming 4.0.

[2020-11-17 17:40] ulrfa commented on #6526
Thanks @gregestren!

What subset of C++ actions do you mean? Does the subset include all actions compiling source code with debug symbol paths? Unfortunately we need to compile our C/C++ code with debug symbol paths.

Trimming is interesting! I guess that would also reduce build graph size and RAM requirement. I will have a look at your tool! But unfortunately, we have a deep build graph, with man

[2020-11-17 21:56] wrowe commented on #12188
I believe you might wish to do so. Whether using msvc cl.exe or llvm clang-cl.exe, when bazel heuristically detects llvm, it generates the corrupted LIB and INCLUDE environment strings, illustrated here;
https://github.com/envoyproxy/envoy/pull/13688#issuecomment-729231947

This renders bazel inoperable on any Windows PC with llvm 11.0.0 installed.

[2020-11-17 23:04] v3n commented on #11598
Is there a planned release for this fix?

[code]

This path is 261 characters, which is unfortunately 1 character longer than is allowed.

[2020-11-17 23:49] kylecordes commented on #12367
If anyone knows where the code is located that creates this, it would be helpful for those of us looking to create an as-similar-as-possible workaround.

[2020-11-17 23:49] susinmotion commented on #12502
Speaking of which, do you have the capability to transfer issues to bazelbuild/bazel too? That seems like a pretty good route if issues incorrectly get sent there.

The working heuristic is for Apple-related Starlark issues to go here, and Apple-related Java issues to stay in Bazel core. I did not follow this heuristic correctly!

[2020-11-17 23:52] keith commented on #12502
Looks like I can only transfer to the repos I have write access to

![image](https://user-images.githubusercontent.com/283886/99464411-eee04480-28ec-11eb-87dc-
a26a42d39fd2.png)

[2020-11-18 00:05] Esben2 commented on #12462
@janakdr What do you mean by WAI?

Since there is no API to get to the files in the output tree, the output tree is the state exposed to the user, and therefore it must be invariant to incremental builds. As suggested, a solution could be to supply an API, then I shouldn't care about the output tree.
But if Bazel want users to actually use the output tree (speed could be an argument), the output t

[2020-11-18 00:11] susinmotion commented on #12502
good to know, thanks for checking that out. So, if you encounter another misplaced issue, what you did is great--if you cc a Bazel team member we can transfer it accordingly!

[2020-11-18 02:33] jerrode commented on #8217
Hey @devjgm, sorry for delayed response:

No, at this time we do not support coverage.dat format. You can see our exhaustive list here.

https://docs.codecov.io/docs/supported-report-formats#exhaustive-acceptable-report-formats

I'd be interested in working with someone from the BazelBuild community to make it happen, though!

Jerrod

[2020-11-18 03:57] pauldraper opened #12504 "Add dependency pruning (unused_inputs_list) to tests"
### Description of the problem / feature request:

Allow tests to be dependency pruned, for better caching.

### Feature requests: what underlying problem are you trying to solve with this feature?

unused_input_list in ***actions*** addresses the problem of over-declared inputs. https://docs.bazel.build/versions/1.2.0/skylark/lib/actions.html#run

Tests have this same problem. Testing performance

[2020-11-18 04:02] pauldraper commented on #6103
Two workarounds:

1. Add the TTL to the worker process itself. That's clumsy and perhaps has race conditions.
2. Shorten the TTL of Bazel itself (`--max_idle_secs`).

EIther of these solves the problem of workers using a bunch of memory for hours.

[2020-11-18 04:10] pauldraper commented on #6103
An instance of the "worker uses too much memory" problem: #12466

[2020-11-18 04:44] philsc commented on #12412
@gregestren , would the next step here be to create a proposal?

[2020-11-18 08:17] lberki commented on #11157
`exec_tools` should consume` FilesToRunProvider`. Do you have evidence to the contrary?

[2020-11-18 10:21] oquenchil commented on #12164
The problem seems to be that the system headers are different and are causing a different coverage report to be generated. I simplified one test to stop using system libraries and this works, I will now do it for the rest of the failing tests.

[2020-11-18 11:23] wooseopkim commented on #10010
Nobody answered this for a year and finally I'm closing this due to inactivity

[2020-11-18 11:23] #10010 closed

[2020-11-18 11:55] philwo commented on #12367
The current Bazel docker image is built using github.com/bazelbuild/rules_docker + Bazel. The source code for the image is [here](https://github.com/GoogleCloudPlatform/container-definitions/blob/e7f54f6f94a806bfeca005a14a37034ba802a99c/ubuntu1604_bazel/BUILD#L53). The image is built using Google Cloud Build ([config](https://github.com/GoogleCloudPlatform/container-definitions/blob/e7f54f6f94a806

[2020-11-18 13:07] lberki commented on #6444
@brandjon , I suppose we should just close this since Python 2 support is almost deprecated?

[2020-11-18 13:08] lberki commented on #6443
I'll close this since Python 2 support (at least for the native rules) is going away soon.

[2020-11-18 13:08] #6443 closed

[2020-11-18 13:08] lberki commented on #6442
I'll close this since Python 2 support for the native Python rules is going away soon.

[2020-11-18 13:08] #6442 closed

[2020-11-18 13:34] Corezcy commented on #12501
I've figure out. Install `inotify-tools` and put it in project as a thord_party link to `/usr/local/include` .

[2020-11-18 13:35] #12501 closed

[2020-11-18 13:36] katre commented on #12188
Thanks, I'll try and cut a patch release today.

[2020-11-18 13:40] katre commented on #12188
Current cherrypick candidates:
-  8cec289ace6de2d54dfd78100ee2012d6028d8b1: fix for errorprone check
-  ea763e53fdf850b4290b09870adf42b254c73935: update rules_cc reference
-  e6751ed25615e0ce6e5ecee68dd6010b2de2225c: rules_cc supports clang llvm 11 on windows

There was a request for https://github.com/bazelbuild/bazel/issues/12327, but it hasn't yet been merged.

[2020-11-18 14:10] philwo commented on #11679
Closing, because this flag has been flipped.

[2020-11-18 14:10] #11679 closed

[2020-11-18 14:10] philwo commented on #11359
Closing, because this flag has been flipped.

[2020-11-18 14:10] #11359 closed

[2020-11-18 14:10] philwo commented on #10905
Closing, because this flag has been flipped.

[2020-11-18 14:10] #10905 closed

[2020-11-18 14:11] philwo commented on #10860
Closing, because this flag has been flipped.

[2020-11-18 14:11] #10860 closed

[2020-11-18 14:11] philwo commented on #10854
Closing, because this flag has been flipped.

[2020-11-18 14:11] #10854 closed

[2020-11-18 14:14] philwo commented on #8380
Closing, because this flag has been flipped in https://github.com/bazelbuild/bazel/commit/73402fa4aa5b9de46c9a4042b75e6fb332ad4a7f.

[2020-11-18 14:14] #8380 closed

[2020-11-18 14:17] katre commented on #12188
Creating RC1:
[code]

Both 8cec289 and e6751ed have conflicts which I merged.

[2020-11-18 14:55] katre commented on #12188
And my fix for conflict re-added a file, which caused srcs_test to fail, so now there is an RC2 with a commit to re-remove the file.

[2020-11-18 15:07] lberki commented on #12365
Good catch! I think this should be fixed, but I can't give you a timeline.

[2020-11-18 15:11] lberki commented on #12351
This is not possible by design; the working directory of every action is the execroot. As you said, `cd` is a workaround, which invalidates `$(location)`.

There are a number workarounds we use:

[code]

Or:

[code]

[2020-11-18 15:11] #12351 closed

[2020-11-18 15:14] lberki commented on #12198
I'm moving this to P4 because it's a good idea, but it's also very incompatible so we can't accept full requests (without further thought, anyway)

[2020-11-18 15:22] lberki commented on #11925
This is indeed a very reasonable request. Unfortunately, it's also challenging to implement in a way that's both generic enough to be useful and simple enough to be supported.

[2020-11-18 15:27] lberki commented on #11044
I originally thought this is specifically harmful, but then realized that this functionality is already available to Java rules (`AliasProvider.getDependencyLabel()`) and it's used somewhat widely so it's probably okay.

[2020-11-18 15:30] lberki commented on #10468
@comius , mind taking a look? (this was incorrectly classified as "team-Rules-Server")

[2020-11-18 15:34] gyias commented on #12198
Forgot to mention it on this thread, but 181bd1a142ddb06d819f52a9eead4c2cc735616d has added the behavior.

@lberki Isn't the change enough to close this issue? Or, are there any other concerns?

[2020-11-18 15:35] lberki commented on #6429
I agree with @regisd . I'd be reluctant to add knowledge about Git to Bazel because then the floodgates would open for adding knowledge about other source control systems, too.

[2020-11-18 15:35] #6429 closed

[2020-11-18 15:38] lberki commented on #8857
@aiuto , are you actively working on this? (otherwise I'll demote this to P3)

[2020-11-18 15:55] katre commented on #12188
Artifacts are deployed to https://releases.bazel.build/3.7.1/rc2/index.html
Downstream tests are at https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1771

[2020-11-18 16:30] janakdr commented on #12462
Determining whether some existing rule produces a given file for every file in the output tree would require Bazel to do significantly more work, even if it were restricted to when BUILD/bzl files changed. Perhaps the fundamental disconnect is that we definitely consider the situation I gave to be an "incremental build" that we optimize for. I'm sorry Bazel's constructs don't agree with yours in t

[2020-11-18 16:41] wrowe commented on #12188
@katre, I do appreciate the credit, but please note I only co-authored the underlying fix with Sunjay Bhatia (@sunjayBhatia), if you are going to credit the final point release.

I've run rc2 through the paces for the envoy windows msvc-cl and clang-cl builds with llvm 11.0.0 in place, and everything is looking good here (the project was previously anchored at bazel 3.6, so this is very good news!

[2020-11-18 17:03] katre commented on #12188
Downstream tests look good, but I am looking into the Envoy failures.

[2020-11-18 17:06] gregestren commented on #12412
Start up a doc at https://www.bazel.build/designs/index.html (maybe with @konste as co-author if interested?) Try to summarize the concerns expressed here and suggest what inspires you!

If this involves a change to the Starlark API, which it sounds like it will whatever the exact proposal, just note that's going to require its own review consideration. i.e. we need to clearly argue how this would

[2020-11-18 17:24] golvok commented on #3041
_Just to add another possible use-case, though I kinda agree that any breaks from the ideal of ideal of repoducibility should possibly be avoided._

While transitioning to bazel from Make, it is sometimes easier to have `local = 1` genrules with side-efffects that copy files into the source tree where the old Makefiles expect them. However, since these are side-effects (ie. not an output of the ru

[2020-11-18 17:29] gregestren commented on #11598
@tomlu's commit was https://github.com/bazelbuild/bazel/commit/8350681fc900e9ee22ba62db2c5fdeb1e239321a, from June 24. According to https://github.com/bazelbuild/bazel/compare/3.3.1...3.4.0 this should be in Bazel 3.40 or newer.

Which version of Bazel produced that? Do you consistently see that for all your outputs?

[2020-11-18 17:40] katre commented on #12188
Looks like they have the wrong checksum, so it's unrelated.

[2020-11-18 17:49] juliexxia commented on #11993
Thanks for this thorough investigation @katre.

I think this would have a lot of side effects outside of this issue (the ones you mentioned) and is probably a non-starter.

My intuition is that (3) is on the principle the right choice here. Though (2) maybe not actually turn up a huge problem today, it feels more like a bandaid that could lead to more issues down the road - and a tricky bandaid to

[2020-11-18 17:54] katre commented on #11993
https://github.com/bazelbuild/bazel/pull/12508 is the still-in-progress PR. It manages the main issues, but there's something wrong with the alias handling that's causing test failures. Also needs a lot of documentation and polish. Currently updates about 25 files, but that will change as I do some cleanup work and fix some APIs.

Since this seems like the right approach I'll keep pushing but it's

[2020-11-18 18:26] philwo commented on #12455
Bazel 4.0.0rc1 created and pushed via:

[code]

[2020-11-18 18:32] philwo commented on #12455
aaaaand it failed:

[code]

I've seen this recently when building / testing Bazel locally and I think it's just a dangling reference somewhere in our BUILD files that we didn't clean up. Investigating.

[2020-11-18 18:41] gregestren commented on #12412
Setting as P1 since @philsc is actively paying attention to this now. Please feel free to adjust priority any time if this is inaccurate.

[2020-11-18 18:44] #12448 closed

[2020-11-18 18:45] philwo commented on #12455
`git bisect` says, this is the külprit: 20febacc0c02545684d3429fc21f28cf7ed8f461

[2020-11-18 19:05] katre commented on #12473
Currently, [toolchain resolution](https://docs.bazel.build/versions/3.7.0/toolchains.html#toolchain-resolution) uses execution platforms in priority order: the priority is:
1. Platforms specified via `--extra_execution_platforms`, in order.
2. Platforms specified via `register_execution_platforms` in the WORKSPACE, in order.
    1. That's "order as encountered during WORKSPACE evaluation", which c

[2020-11-18 19:17] #12216 closed

[2020-11-18 19:27] mariusgrigoriu commented on #6136
I wonder if this can be closed. Haven't seen this in ages.

[2020-11-18 19:33] alanfalloon commented on #12467
I see. Thanks for the explanation. That solution assumes that the resources can be mapped to executors, which isn't true in our case. The resource reservation system is not exclusively for Bazel use, they are needed for other workflows outside of Bazel as well; it is an entirely separate system that we want to integrate in to Bazel.

However, we had briefly considered a solution using gRPC proxy i

[2020-11-18 19:36] philwo commented on #12455
[code]

[2020-11-18 19:38] mariusgrigoriu opened #12510 "Crash when using execution log and flaky_test_attempts if test fails"
### Description of the problem / feature request:

Bazel crashes when executing a failing test with both `flaky_test_attempts` > 1 and either execution log flags.

[code]

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

BUILD file:
[code]

test.sh:
[code]

[code]

### What operating system are you running Bazel on?

MacOS and Linux

[2020-11-18 19:59] benjaminp commented on #12510
This assumption is just wrong when there are test retries: https://github.com/bazelbuild/bazel/blob/1387748cc8f3ed4d1e7fadba1a0be8f1d2764f4b/src/main/java/com/google/devtools/build/lib/bazel/execlog/StableSort.java#L71-L72

[2020-11-18 20:04] philsc commented on #12412
Sounds good, thanks @gregestren!

[2020-11-18 20:15] larsrc-google commented on #12349
Can you show a bit more of what you're doing that's not working? A rule definition or a build log? I just ran across the timeout in connection with multiplex workers, and it certainly looks like timeouts are not treated right in either worker - the timeout is set on the process, but for workers the process lives forever, and nobody seems to call the methods that check the timeout under normal circ

[2020-11-18 20:30] gregestren commented on #12389
Hi @keith,

by "did not conflict", do you mean no instances of

``
  bazel-bin/mypkg/mypath
  bazel-out/applebin_ios-ios_x86_64-fastbuild-ST-7bf874b56ea0/bin/mypkg/mypath
``

?  i.e. if the different roots were merged there would be no overlap?

That's a fair request. The next step would be evaluating how hard that is to determine. I guess looking at which part of the code constructs the `bazel-bi

[2020-11-18 20:35] gregestren commented on #12389
* Symlink creation point:   https://github.com/bazelbuild/bazel/blob/7e8f86d60adc56159216c4fbb5b403ee8c5aec1c/src/main/java/com/google/devtools/build/lib/buildtool/ExecutionTool.java#L590
* Possible context for determining artifact paths: https://github.com/bazelbuild/bazel/blob/75216c74470090c6f720814dbee239ae4102290e/src/main/java/com/google/devtools/build/lib/analysis/AnalysisResult.java#L123 (

[2020-11-18 20:37] konste commented on #12412
I will gladly help with reviewing the document, testing the prototypes and anything I can technically handle.

[2020-11-18 21:11] v3n commented on #11598
This was produced by `3.0`. I've upgraded to `3.4` and confirmed that it fixes this issue.

Thanks for the help, I had assumed that it hadn't been merged publicly since there were no status updates on the issue!

[2020-11-18 21:17] gregestren commented on #11598
No worries. Agreed that in general you should expect to see a status update from the commit.

[2020-11-18 21:17] #11598 closed

[2020-11-18 21:42] mariusgrigoriu commented on #12510
I'm not familiar with the codebase. What is the impact if we allow the same output path to appear multiple times to represent that it was executed multiple times?

[2020-11-18 22:15] bdhess opened #12512 "remote_jdk11 is on an old JDK11 point release"
### Description of the problem / feature request:

Requesting that remote_jdk11 be updated to JDK 11.0.7 or later (currently hardcoded to 11.0.6 for most OSes in [jdk.WORKSPACE](https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/bazel/rules/java/jdk.WORKSPACE)

### Feature requests: what underlying problem are you trying to solve with this feature?

I am lo

[2020-11-18 22:20] philwo commented on #12455
Release builds succeeded on:
- [x] Linux x86_64
- [x] macOS x86_64
- [x] Windows x86_64
- [x] Linux arm64

Next step pushing to GCS.

[2020-11-18 22:31] philwo commented on #12455
Pushed and announcement for 4.0.0rc2 sent to bazel-discuss! 🎉

[2020-11-18 22:51] or-shachar commented on #11194
We (Wix) have the need for it as well. We also have ~ 50 big repositories that are interconnected and we want to implement smart cross repo trigger - eg: given a file was change in repo x, which targets in all other repos depends on it (rdeps) --> how many and which builds to trigger in the pre/post-submit.

We would like to persist the analysis cache into some kind of graph DB so we can run quick

[2020-11-19 02:58] keith commented on #11628
@philwo given the blocker around simulator vs device builds, do googlers have an opinion on the solution? I'm interested in working on this but want to submit something that you all will be happy with as well.

[2020-11-19 04:01] DavidANeil opened #12520 "Support unused_inputs_list on run_shell"
Currently only `run` supports this parameter, it seems mostly trivial to add support for this parameter on `run_shell` as well.

[2020-11-19 04:02] DavidANeil commented on #12520
I am willing to contribute this if it gets the go-ahead.

[2020-11-19 04:17] philsc commented on #12412
Cool, thanks! I started a doc here: https://docs.google.com/document/d/1c1wnev-8mBHdOGQuom9hdXhfuBPlT9O8wplY-HuvXZc/edit?usp=sharing

I haven't actually put in any useful information yet.

[2020-11-19 05:55] aiuto commented on #8857
It's a 5% project. It should be p3 or p4.
I expect pkg_deb will go in the next 3 months, but that is covered
elsewhere.

On Wed, Nov 18, 2020 at 10:38 AM lberki <notifications@github.com> wrote:

[2020-11-19 07:01] anchlovi commented on #11194
@or-shachar we already have this data - given a target you can query all the the targets to rebuilt. If needed this can be refined to extract only the repos

[2020-11-19 07:03] philwo commented on #11628
@keith I _think_ we'd be more than happy to take your design proposal / contribution on this 😊, but let's check whether there are any conflicts or opinions here - @dmaclach @susinmotion any concerns or opinions on this from your side?

The relevant context is how https://github.com/bazelbuild/rules_apple/issues/980 should be dealt with, if I understand correctly.

[2020-11-19 07:05] philwo commented on #11628
@keith FYI, @meteorcloudy and me are looking into getting Bazel to build with the Apple Silicon native JDK. Thanks for pointing out that Azul has a Zulu release for this!

[2020-11-19 08:08] meisterT commented on #12497
Interesting find. cc @zhengwei143 @Wyverald

[2020-11-19 08:28] drigz commented on #6136
Seems reasonable. I'll remove the workaround from our CI build and reopen if it recurs with a recent Bazel version.

[2020-11-19 08:28] #6136 closed

[2020-11-19 10:10] lberki commented on #8857
Okie. If it's actively worked on (even as 5%), I'll keep it at P2 and assigned to you.

[2020-11-19 10:29] philwo commented on #12188
FYI, another cherry-pick request for a [regression in Bazel 3.7.0](https://github.com/bazelbuild/bazel/issues/12364) via [bazel-discuss](https://groups.google.com/g/bazel-discuss/c/tV0-8DnlX8k/m/aBJDLG8RBgAJ) for https://github.com/bazelbuild/bazel/commit/02838a1b2aa2f6d03980536ab2ac6840c3c98e84.

[2020-11-19 10:53] comius commented on #10468
If no local JDK is found, Bazel will still point to @local_jdk and won't automatically switch to any of remote JDKs. The main reason for this is to keep the build systems stable upon Bazel releases. If we automatically select any of remote JDKs, we will eventually come to a Bazel release that will select a different remote JDK. The selection needs to be done by the user.
This is discussed in issue

[2020-11-19 12:02] extrowerk opened #12522 "Cannot bootstrap bazel on Haiku"
### Description of the problem / feature request:

Bootstrap fails on 64 bit Haiku with openjdk8.

### Feature requests: what underlying problem are you trying to solve with this feature?

To get bazel working on Haiku.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Try to bootstrap

### What operating system are you running Bazel

[2020-11-19 12:48] keith commented on #11628
Happy to hear you're working on the build! Once it's ready I'm definitely interested in trying it!

[2020-11-19 13:33] katre commented on #12188
Creating RC3:
[code]

[2020-11-19 13:46] extrowerk commented on #12522
Can i tell somehow to the bootstrap tool to not delete the build dirs in /tmp?

[2020-11-19 13:46] extrowerk commented on #12522
Can i tell somehow to the bootstrap tool to not delete the build dirs in /tmp?

[2020-11-19 15:10] susinmotion commented on #11628
Yes, please, that would be amazing! I think this is related to some work that @gregestren 's team is doing; looping him in.

[2020-11-19 15:18] oquenchil commented on #12169
If it's a generated file under bazel-out/ you cannot move it.

[2020-11-19 15:18] #12169 closed

[2020-11-19 15:25] katre commented on #12188
RC3 is available: https://releases.bazel.build/3.7.1/rc3/index.html

Downstream tests are running: https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1776

[2020-11-19 15:33] #11892 closed

[2020-11-19 15:34] pauldraper commented on #7514
Yep.

https://docs.bazel.build/versions/master/skylark/lib/actions.html#declare_symlink

https://docs.bazel.build/versions/master/skylark/lib/actions.html#symlink

[2020-11-19 15:36] #11859 closed

[2020-11-19 15:37] #11844 closed

[2020-11-19 15:39] oquenchil commented on #11727
This is fixed.

[2020-11-19 15:39] #11727 closed

[2020-11-19 15:42] mr-c commented on #11842
Hello @oquenchil , why was this closed? I don't think https://github.com/bazelbuild/bazel/pull/11905 was merged yet?

[2020-11-19 15:43] oquenchil commented on #11704
All of this has changed, we aren't going to flip that flag. More details on how all of it will play out will come in the future but I can close this issue now.

[2020-11-19 15:43] #11704 closed

[2020-11-19 15:43] oquenchil commented on #11689
Can you please ask on Stack Overflow?

[2020-11-19 15:43] #11689 closed

[2020-11-19 15:45] gregestren commented on #11628
@katre is there a relation to platforms or execution environments here?

[2020-11-19 15:45] oquenchil commented on #11842
Re-opening and marking as P4. @meteorcloudy if you ever restart that work please mark as P2.

[2020-11-19 15:48] #11677 closed

[2020-11-19 15:48] #11675 closed

[2020-11-19 15:49] katre commented on #11628
@gregestren There shouldn't be any need for changes to Bazel's platforms or toolchains machinery to support this. I'm happy to consult on using those facilities if needed.

[2020-11-19 15:51] #11622 closed

[2020-11-19 15:53] oquenchil commented on #11593
We don't have plans to work on this any time in the near future.

[2020-11-19 15:53] #11593 closed

[2020-11-19 15:55] oquenchil commented on #11577
Flag was flipped.

[2020-11-19 15:55] #11577 closed

[2020-11-19 15:57] oquenchil commented on #11560
Not sure what is going on but we don't have other reports of problems with Ubuntu 20.04.

[2020-11-19 16:01] #11059 closed

[2020-11-19 16:02] #10918 closed

[2020-11-19 16:11] TheButlah commented on #11560
Happy to provide any requested info!

[2020-11-19 16:26] gyias commented on #12361
The change was intentional; `strip_include_prefix` is not supposed to include the workspace root path.
https://docs.bazel.build/versions/master/be/c-cpp.html#cc_library.strip_include_prefix
"If it's a relative path, it's taken as a package-relative one. **If it's an absolute one, it's understood as a repository-relative path.**"

I'll check with the team how we'll handle this kind of external head

[2020-11-19 16:52] susinmotion commented on #12502
@oquenchil, the team-Apple label is deprecated. I'm going to return this issue to team-Rules-CPP, since issues pertaining to core Bazel cc rules + Mac belong in that component. Please feel free to move it elsewhere if that description doesn't apply.

[2020-11-19 16:57] susinmotion commented on #10776
I'm not quite sure if I've put this in the correct component, but moving it out of team-Apple since it doesn't quite belong there. Adding untriaged label so that it gets picked up by the Core team's triage process.

[2020-11-19 16:58] katre commented on #12188
Downstream tests are good except for bazelisk failures, which I am investigating.

[2020-11-19 17:08] katre commented on #12188
The bazelisk error seems to be a flake in the binary publishing pipeline, and unrelated to the release.

[2020-11-19 17:51] oquenchil commented on #10756
Fixed by chancila's patch.

[2020-11-19 17:51] #10756 closed

[2020-11-19 17:52] #10754 closed

[2020-11-19 17:55] #10740 closed

[2020-11-19 18:00] oquenchil commented on #10623
Closing without repro, please re-open if this bug still exists.

[2020-11-19 18:00] #10623 closed

[2020-11-19 18:01] oquenchil commented on #10590
It looks like those PRs should have fixed this. Closing.

[2020-11-19 18:02] #10586 closed

[2020-11-19 18:09] oquenchil commented on #12361
Closing as this is WAI it seems.

[2020-11-19 18:09] #12361 closed

[2020-11-19 18:13] Yannic commented on #10590
No they have not, it still doesn't work.

[2020-11-19 18:14] #10698 closed

[2020-11-19 18:15] #10303 closed

[2020-11-19 18:42] larsrc-google commented on #6103
@susinmotion Relevant to your resources work.

[2020-11-19 19:03] rnburn commented on #11593
@oquenchil - do you have a workaround for the use case I described?

[2020-11-19 19:06] oquenchil commented on #9447
This was partially rolled back for the native implementation of cc_import:
https://cs.opensource.google/bazel/bazel/+/55436a7e53380466d515836e61cdfee4a4a9dfb5

[2020-11-19 19:08] oquenchil commented on #9406
It looks like this was fixed.

[2020-11-19 19:09] katre commented on #12188
Downstream tests are now green.

I plan to finalize 3.7.1 on Tuesday if nothing else comes up.

[2020-11-19 19:10] oquenchil commented on #9357
This should have stopped crashing with: https://cs.opensource.google/bazel/bazel/+/a90c4084315a490c4fecc864d0b3435cc7b2bd64

[2020-11-19 19:10] #9357 closed

[2020-11-19 19:16] #9041 closed

[2020-11-19 19:18] oquenchil commented on #8913
Please re-open if this is still a problem.

[2020-11-19 19:18] #8913 closed

[2020-11-19 19:19] oquenchil commented on #8902
If the PR above didn't fix this issue, please re-open.

[2020-11-19 19:26] #8694 closed

[2020-11-19 19:27] oquenchil commented on #8672
If this is still an issue, please re-open.

[2020-11-19 19:27] #8672 closed

[2020-11-19 19:29] daveyc123 opened #12524 "Provide the ability to interrupt certain bazel commands"
### Description of the problem / feature request:

The bazel server has a single lock that ensures that multiple commands do not run concurrently. When a command is run it obtains the lock and holds on to the lock until it completes (see BlazeCommandDispatcher#exec). If a second command is run and the first command is running, the second command will wait until the first command completes and the

[2020-11-19 19:36] oquenchil commented on #8053
Closing as duplicate

[2020-11-19 19:36] #8053 closed

[2020-11-19 19:37] oquenchil commented on #7874
Really old Bazel version. Closing it.

[2020-11-19 19:37] #7874 closed

[2020-11-19 19:38] #7769 closed

[2020-11-19 19:38] brentleyjones commented on #8902
We can specify the `DEVELOPER_DIR` in a bazel wrapper now after #11719, but I'm not sure if @keith's original issue was fixed.

[2020-11-19 19:39] oquenchil commented on #7719
Please re-open if this is still an issue.

[2020-11-19 19:39] #7719 closed

[2020-11-19 19:41] oquenchil commented on #7643
We won't do this anymore.

[2020-11-19 19:41] #7643 closed

[2020-11-19 19:41] keith commented on #8902
Using DEVELOPER_DIR in a wrapper around bazel definitely works around the original issue, but it would be nice if it was solved for everyone without having to manually do that.

[2020-11-19 19:44] daveyc123 commented on #12524
This is my first foray into the bazel codebase. I'd like to contribute a PR for this issue, and have started to put some code together that can accomplish this by updating CommandManager#RunningCommand to have an "interruptible" flag. GrpcServerImpl#executeCommand would then ask the command manager to interrupt all interruptible commands when a new command is run. That part is fairly straight forw

[2020-11-19 19:46] #7360 closed

[2020-11-19 19:49] philwo commented on #11628
Pasting some notes here, so I don't forget:

If we just run Bazel with the Apple Silicon Zulu, loading the JNI libraries will not work, because they're x86_64.

So we have to use an x86_64 Bazel (with x86_64 Zulu) and cross-compile Bazel first, which "should" work via:

[code]

However, @meteorcloudy pointed out that this could lead Bazel to selecting the wrong sources for the mac build (as we use

[2020-11-19 20:03] michajlo commented on #12524
Off the top of my head, I think this could actually be a bit in the grpc request to the bazel server with the option handling happening purely on the client side, sort of like the `client_debug` and `local_startup_timeout_secs` options.

[2020-11-19 20:09] aaliddell commented on #7643
What changed? And does this impact other internal rules that were pending being forced external?

[2020-11-19 20:24] daveyc123 commented on #12524
@michajlo thanks for the quick reply. I'll have a look at implementing it similar to those options.

[2020-11-19 20:50] googlewalt commented on #12439
Sure.  I can take this.

[2020-11-19 21:50] chetgnegy commented on #11577
You mean the flag was inverted? Do I need to keep providing the flag? Please clarify.

[2020-11-19 21:51] susinmotion commented on #6103
I'm afraid I won't be picking up the worker resources work any time soon. Unassigning to give this task a chance to be picked up by the right folks.

[2020-11-19 22:10] GMNGeoffrey commented on #12479
Yes this is caused by xargs, not an issue with Bazel. Happy to know if you have alternatives to this hack :grin: It's required to get targets that are manual AFAIU. Otherwise we will likely extend the hack to be `xargs -n 1000000 -s 1000000 -x`

[2020-11-19 22:14] keith commented on #11628
I wonder if we should replace the `darwin` conditional with one that means any of the darwin architectures as opposed to splitting out all cases? for example https://github.com/envoyproxy/envoy/pull/6182/files

[2020-11-19 22:16] keith commented on #12389
exactly, in the example I showed above it fell back to the full paths, but there wouldn't be conflicts for `test.zip` so if it was symlinked at the top level it would be fine, and IMO significantly improve UX

[2020-11-19 22:58] martinxsliu commented on #12320
I have noticed something similar after upgrading to Bazel 3.7.0, maybe this is the issue @zhengwei143 mentions.

In my case it's the ordering of 2 package groups with `--order_output=deps` that is wrong. `@bazel_tools//tools/whitelists/function_transition_whitelist:function_transition_whitelist` depends on `@bazel_tools//tools/allowlists/function_transition_allowlist:function_transition_allowlist`

[2020-11-20 01:25] daveyc123 commented on #12524
@michajlo that was fairly straightforward. Thanks for the tips. I've posted a PR. Please let me know if this looks like an acceptable implementation and I can clean up any comments and add tests. Thanks!

[2020-11-20 01:41] ilanbiala opened #12527 "Package boundary crossing warning missing information"
### Description of the problem / feature request:
I'm getting a number of warnings of the form:
[code]

### What operating system are you running Bazel on?

Linux, Ubuntu 16.04.7 LTS.

### What's the output of `bazel info release`?

release 3.4.1

###  Have you found anything relevant by searching the web?

I haven't found anything that is closely related to this issue of "null" being mentioned in

[2020-11-20 06:26] jmillikin-stripe commented on #12417
This indicates a bug in the remote downloader, not in Bazel -- it should not be returning an OK response for resources that are not present in the remote cache.

[2020-11-20 08:10] comius commented on #12451
If you prevent one JDK selection, which JDK should be selected instead?

If you know absolute path to the preferred JDK, you can put `local_java_repository(name = 'local_jdk', java_home = '...')` into the workspace.

You can also use JDK from a remote repository for execution, by setting `build --javabase=//tools/jdk:remote_jdk11` in `.bazelrc`.

[2020-11-20 08:17] comius commented on #12276
I assume java_* rules compile from sources instead of srcjar to reduce critical path.
@cushon Can you confirm?

[2020-11-20 08:27] cpsauer commented on #10740
Hey @oquenchil, saw you closed this. Any chance you'd be willing to keep it open as a dependent of the issue you mentioned until the CC/objc interop stuff gets fixed?

Definitely still feels like a bug/oversight (rather than support), since cc_libraries can depend on objc (as they should). Seems like the same should hold, even if the objc is precompiled.

[2020-11-20 08:27] comius commented on #12263
What JDK are you using? toolchain_vanilla is designed to support any JDK, while toolchain_hostjdk8 is for JDK8 and won't work with later versions.

[2020-11-20 09:12] meteorcloudy commented on #11628
@keith Yes, that's what I did in https://github.com/meteorcloudy/bazel/commit/3139666084e4bed7979822d8f13b99fea8f5aa20 with skylib's config_setting_group

[2020-11-20 10:10] comius commented on #10594
What project were you building, what is the content of .bazelrc, in particular `--java_toolchain` option?
I would expect such error when using `*hostjdk8` over a JDK version > 8.

[2020-11-20 12:35] #7943 closed

[2020-11-20 13:22] comius commented on #10326
@cushon Can this be closed?

[2020-11-20 13:35] comius commented on #10186
This seems to be affecting quite an old version. If it still exists, please reopen.

[2020-11-20 13:35] #10186 closed

[2020-11-20 13:44] lberki commented on #12198
My understanding is that 181bd1a only applies when `--experimental_sibling_repository_layout` is in effect. One could make the case that the runfiles path should be the "external-less" one even if that flag is set to false. So let's keep this open.

[2020-11-20 13:48] comius commented on #10418
Closing because I don't see any references to staprun in current version of bazel.

[2020-11-20 13:48] #10418 closed

[2020-11-20 13:54] comius commented on #10489
It is built when requested explicitly: `bazel build //:libtest-src.jar`

[2020-11-20 13:54] #10489 closed

[2020-11-20 13:58] comius commented on #10514
We're not working on java9+ module support in the foreseeable future.

[2020-11-20 14:09] comius commented on #9082
We gave up on this flag... it is going to be removed.

[2020-11-20 14:09] #9082 closed

[2020-11-20 14:21] illicitonion commented on #12473
Oh wow, this has come on a long way since I last tried it! Yes, this is perfect - thanks!

[2020-11-20 14:24] comius commented on #6118
I propose we remove `--define=ABSOLUTE_JAVABASE` mechanism. "Define" flags or any other flags are impossible to process in repository rules, which can check the installation. Macros and rules cannot check the installation until the build phase. So to provide a better error message we'd need to have a second java_runtime implementation just to emit an error message.

Alternative is to use `local_ja

[2020-11-20 15:53] janakdr commented on #10776
@susinmotion can you say why this doesn't belong in team-Apple? The test looks to be doing a lot of local execution/Mac-specific stuff that -core has no expertise on.

[2020-11-20 15:55] michajlo commented on #12524
Approach looks good, once it's ready for review it'll likely just be terminology and style comments from me. Before we get too far - what do you think of changing the name of the feature to "preemptible" or something similar. The interruptible terminology is already largely claimed, and it's easy to mix the new bit up with "this command is allowed to be interrupted (aka cancelled)".

[2020-11-20 16:55] dws-uber commented on #7364
This would make it convenient for our bazel macros to set environment variables such as `OMP_NUM_THREADS` and `MKL_NUM_THREADS` on a per-test basis to reflect the per-test value of the `cpu:N` tag in the `tags` attribute of tests.

[2020-11-20 17:42] adzenith commented on #10655
Looks like this is fixed by https://github.com/bazelbuild/bazel/pull/12118.

[2020-11-20 17:44] davido commented on #10655
Thanks for noticing.

[2020-11-20 17:44] #10655 closed

[2020-11-20 17:45] illicitonion commented on #12473
Actually, @katre, I'm not seeing fall-back to the host platform for execution...

I'm running `bazel` on a Mac, with a connection to a Linux-only remote execution cluster. What I see is bazel trying to run both targets on the remote execution cluster, and fatally erroring when it tries to run the macOS and the remote execution system replies saying `FAILED_PRECONDITION: No workers exist for instan

[2020-11-20 18:05] illicitonion commented on #12473
Oh, actually, that case is https://github.com/bazelbuild/bazel/issues/11432 (which I've already filed an issue which got duped to that!)

Great seeing the progress on toolchains/platforms so far, and looking forward to that piece landing too!

[2020-11-20 18:05] #12473 closed

[2020-11-20 18:18] susinmotion commented on #10776
I tagged it as Core since fs events is used as part of the core Bazel functionality. This issue is indeed specific to Mac, but it should be considered like any other platform that is supported by Bazel. Imagine we had this issue on Windows or Linux. Would it belong in the core component? If not, then I've miscategorized it.

For some more context, the team-Apple component is (just now!) deprecated

[2020-11-20 18:20] AustinSchuh commented on #12451
We have the following in our `WORKSPACE` file.

[code]

Followed by the following in our `.bazelrc`:
[code]

The goal being to have Bazel start up with the embedded JDK, and then use the hermetic JDK from there.

I've got a local patch which replaces that function with `return "";` and everything works great, but that's obviously not upstream-able.

[2020-11-20 18:21] daveyc123 commented on #12524
Yes, I agree that preemptible is more clear. I'll fix that up and the other comments you made. Thanks for the feedback.

[2020-11-20 19:37] janakdr commented on #10776
After some offline discussion, moving this to team-Local-Exec, since Core, despite the name, has no domain knowledge here :/

[2020-11-20 21:24] #10326 closed

[2020-11-20 21:30] cushon commented on #12276
The `java_` rules support compiling sources in jars, but only if that jar exists statically, e.g. the following works:

[code]

As the bug notes, the rules also support a `.srcjar` output that packages up the sources, but it doesn't use that generated `.srcjar` as the input to compilation.

I'm not sure I follow this. The `.srcjar` Bazel creates has normalized timestamps. Bazel itself doesn't use

[2020-11-21 06:42] asuffield commented on #12276
Yes - making it so that creating .jar files using the jar tool would just work. Bazel creates exactly the right .srcjar file for this, but doesn't use it.

Exposing singlejar for people to use is a more complex solution, but would also work. Currently the only readily available tool is jar; to create deterministic genrules today we would have to write custom code.

[2020-11-21 07:25] comius commented on #8575
The problem is that all Test rules depend on `@bazel_tools//tools/test:coverage_report_generator`, whether coverage is enabled or not.

[2020-11-21 07:29] comius commented on #6575
I've seen the same thing in java_tools deployments.

[2020-11-21 07:46] comius commented on #12502
More data is needed, we can't reproduce the issue.

[2020-11-21 08:05] comius commented on #12451
If I understand correctly your configuration is already using embedded JDK for bazel and hermetic JDK from there, even if you don't patch the function.

The call to that function is made in `startup_options.cc:486`. If a patched version was executed it would result in `BAZEL_DIE` call.

Or is there another loophole?

[2020-11-21 08:09] comius commented on #12276
There is a `java_common.pack_sources` function that is already exposed and should do the trick.

[2020-11-21 08:16] comius commented on #12159
This sounds like a reasonable solution. Currently we are not focusing on coverage work, but we would be happy to accept PRs.

[2020-11-21 08:26] comius commented on #11870
@prashantsharma04 Can you provide the reproduction repo again? It is 404.

[2020-11-21 08:44] comius commented on #11861
The first time (and even times) it is run `bar` is compile actions has parameters:
[code]
and it works.

Second  time (and odd times) `bar` compile action has parameters:
[code]
and it fails.

[2020-11-21 08:50] comius commented on #11674
JacocoCoverage is attached to java_toolchains. It should be possible to upgrade the version by configuring the toolchain.

[2020-11-21 09:51] comius commented on #11130
Problem is that `java_runtime` reconstructs `java_home` attribute based on the current repo, here `src/main/java/com/google/devtools/build/lib/rules/java/JavaRuntime.java:52`. Defining it in one repo and pointing to another one does not work. `java_home` is used in bootclasspath.

Possible solution is to reconstruct `java_home` based on `srcs` attribute.

[2020-11-21 09:54] comius commented on #11861
possibly related to https://github.com/bazelbuild/bazel/issues/11992

[2020-11-21 10:24] #3011 closed

[2020-11-21 10:28] comius commented on #3427
This seems to be resolves with `java_package_configuration`.

[2020-11-21 10:28] #3427 closed

[2020-11-21 14:12] sbosley commented on #12502
Did a little bit more debugging this morning and found some more info that I think is pointing to the source of my problem:

* I uninstalled the homebrew version of bazel and reinstalled using the binary installer. That installation of bazel worked fine, so that narrowed it down to an issue with the homebrew version.
* After scratching my head about that for a while, I re-discovered something I ha

[2020-11-21 14:14] #12502 closed

[2020-11-21 14:29] #8317 closed

[2020-11-21 19:36] cushon commented on #12276
Is there a difference here between the `java_` rules compared to other rules that consume jar or zip archives? Any rule that consumes archives could set up a separate action to extract and re-create the archive with normalized timestamps to try to mitigating getting non-deterministic input, but that adds actions to the build, and is just working around the problem that another action produced the

[2020-11-21 19:54] comius commented on #10672
Unable to reproduce with given information on bazel 3.7.0. Dependency on that Protobuf would cause an exception like this, but newer versions of Protobuf don't seem to set javacopts.

There is a mechanism to set `javacopts` per package. See https://github.com/bazelbuild/bazel/issues/3427#issuecomment-367519584

[2020-11-21 20:24] pauldraper opened #12531 "Conflicting documentation advice on depset#to_list() in binary rule"
Bazel docs are at odds with themselves on recommended depset usage.

[2020-11-21 20:24] cushon commented on #11992
This reproduces with command-line javac, so whether or not this is a javac bug I don't think this is an issue with Bazel / `java_library`:

[code]

I filed https://bugs.openjdk.java.net/browse/JDK-8256826 against javac to get clarification on whether or not this is expected behaviour.

[2020-11-21 20:24] #11992 closed

[2020-11-21 20:29] chsigg opened #12532 "NPE when target_compatible_with element does not exist"
### Description of the problem:

I was playing with target_compatible_with (for general rules) and noticed that it hits a NPE when you specify a target that doesn't exist.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

cc_binary(
 name = "repro",
 target_compatible_with = [":does_not_exist"],
)
$ bazel build :repro

### What operat

[2020-11-21 20:32] cushon commented on #11861
When the build succeeds, it generates sources to a temp directory in the output tree: `bazel-bin/_javac/bar/libbar_sourcegenfiles/com/foo/ImmutableBar.java`, `bazel-out/k8-fastbuild/bin/_javac/bar/libbar_sourcegenfiles/com/foo/ImmutableBar.java`.

The `BUILD` file at the workspace root has a `java_library` with `srcs = glob(["**/*.java"])`, which is globbing all files in the workspace *including t

[2020-11-22 00:07] AustinSchuh commented on #12451
If the patched version is used, we follow the if statement on 461 with an embedded jdk.

[code]

So we follow 2), the embedded JDK, or die if 3) is taken.

If you look in `src/main/cpp/blaze.cc`, you'll see:

[code]

Essentially, we pass the default system javabase in to Bazel regardless of if there is an embedded JDK.

I'm pretty certain one of the bazel versions I was using was built without the

[2020-11-22 00:24] phoenix-meadowlark commented on #12479
Closing this. Unless there's an option to tell `bazel test` to run manual targets, changing the CI script invocation and using an alias for `xargs` seems like a reasonable solution.

[2020-11-22 00:24] #12479 closed

[2020-11-22 01:37] rcls opened #12533 "Bazel unexpectly disables compiler warnings"
### Description of the problem / feature request:

The attached C code should generate two compiler warnings (and does if compiled manually using gcc -Wall -Imylib).
Compiled with Bazel, one of the compiler warnings disappears.

### Feature requests: what underlying problem are you trying to solve with this feature?

Get compiler warnings correctly generated when building my code.

### Bugs: what'

[2020-11-22 09:47] yaojingguo opened #12534 "Documentation issue: Common C Build Use Cases"
Documentation URL: https://docs.bazel.build/versions/3.7.0/cpp-use-cases.html

As described by [C++ project with Bazel and GTest](https://stackoverflow.com/a/51847781/431698), googletest v1.10.x has a BUILD file. If `git_repository` is used, there is no need to create `gtest.BUILD`.

[2020-11-22 12:37] danieljanes commented on #11554
Is there a chance to get this fixed in time for Bazel 4.0 (#12455)? If not, is this something that will become part of a 4.0 LTS patch release or will it have to wait until 5.0?

[2020-11-22 22:31] mobileink opened #12535 "query/aquery do not handle [ ] in name attrib"
### Description of the problem / feature request:

I have rule names that use brackets, e.g. `ppx.exe[ppx_version][ppxlib.metaquot]`:

`$ bazel build //bzl/ppx:ppx.exe[ppx_version][ppxlib.metaquot]` - no problem

But:

[code]

[code]

### Feature requests: what underlying problem are you trying to solve with this feature?

 Use query/acquery etc. with names that work with build.

### Bugs: what's

[2020-11-23 01:31] david-siqi-liu commented on #12471
I figured out the issue - had to do with my XCode installation. All works now.

[2020-11-23 01:31] #12471 closed

[2020-11-23 03:33] yaojingguo opened #12536 "Documentation issue: Build Tutorial - Java"
Documentation URL: https://docs.bazel.build/versions/3.7.0/tutorial/java.html

There is no need to set JAVA_HOME since Bazel 3.7.0 uses its own JDK. I have verified it on macOS.

[2020-11-23 03:54] yaojingguo opened #12537 "Documentation issue: Installing Bazel on Ubuntu"
Documentation URL: https://docs.bazel.build/versions/3.7.0/install-ubuntu.html

There is no need to install OpenJDK since Bazel 3.7.0 uses its own JDK.

[2020-11-23 07:16] comius commented on #12451
I'd go for a startup command line option "--autodetect_server_javabase", type boolean with default value true.
When set to false "Bazel would be prevented to start with local JDK". Startup JDK autodetection would be skipped and Bazel would only work if either --server_javabase is set or this is a version of Bazel bundled with embedded JDK.

(Rationale: Ensure stable Bazel invocation on uncontrolle

[2020-11-23 07:21] comius commented on #11861
This is a rather unusual edge case, that should be covered, but I wouldn't say it is a priority.

Thanks @cushon for investigating!

[2020-11-23 09:59] lberki commented on #12451
A startup option is not a great idea in any case, because changing it incurs a server restart, but it doesn't need to be since there are plenty of places to prevent the discovered javabase from getting into the value of `DEFAULT_SYSTEM_JAVABASE` in the WORKSPACE file by a non-startup command line option.

Other than that, I don't have a very strong opinion; Ivo knows more about JVM/JRE selection s

[2020-11-23 10:02] lberki commented on #6118
Environment variables work pretty well for Bazel (not for Blaze, but the solutions in the two places don't need to be the same)

[2020-11-23 10:05] comius commented on #12451
In this case this isn't a problem. The issue is particularly about not running Bazel using local JDK.

[2020-11-23 10:41] oquenchil commented on #11577
The incompatible flag was set to true by default, no need to keep providing it.

[2020-11-23 14:08] fweikert commented on #12164
We're down to three failing targets, although one of them is still coverage related:

https://buildkite.com/bazel/bazel-bazel-github-presubmit/builds/7644

[2020-11-23 14:10] fweikert commented on #12164
@ahumesky can you please look into the two Android failures?

[2020-11-23 15:03] philwo commented on #12455
List of proposed cherry-picks for 4.0.0rc3:
- [ ] https://github.com/bazelbuild/bazel/pull/12529

[2020-11-23 15:42] mmikitka commented on #12417
Thank you @jmillikin-stripe . I submitted the following ticket against `buchgr/bazel-remote`: https://github.com/buchgr/bazel-remote/issues/377

[2020-11-23 16:20] meteorcloudy commented on #10062
I looked into this, Bazel really doesn't like repository rule touching anything outside of <output_base>/external/<repo name>, I will accept the fix in https://github.com/bazelbuild/bazel/issues/10062#issuecomment-543739554, which does the prefix stripping within the repo directory. When users use `strip_prefix` together with a patch file, the patch file should match the content under the strip_pr

[2020-11-23 16:32] c-mita commented on #7059
As mentioned above, I believe this is resolved. If there's still an issue, please reopen.

[2020-11-23 16:32] #7059 closed

[2020-11-23 16:47] c-mita commented on #6927
I believe this is resolved.

[2020-11-23 16:47] #6927 closed

[2020-11-23 17:21] #6368 closed

[2020-11-23 17:27] c-mita commented on #6330
Closing for now; if there's still a problem here then please reopen.

[2020-11-23 17:27] #6330 closed

[2020-11-23 17:36] c-mita commented on #6516
Changing team to reflect who's been doing the work.

[2020-11-23 17:44] katre commented on #6516
Downgrading priority to reflect the current level of activity.

[2020-11-23 17:46] c-mita commented on #5881
I believe this is resolved by 21b5eb62. We may need to watch out for the aforementioned clang coverage change however.

[2020-11-23 17:46] #5881 closed

[2020-11-23 17:47] #5882 closed

[2020-11-23 18:19] c-mita commented on #4780
Closing for now. If this is still a problem then please reopen.

[2020-11-23 18:19] #4780 closed

[2020-11-23 18:46] AustinSchuh commented on #12451
Thanks!  I'll put something together.

[2020-11-23 19:25] aiuto commented on #12403
cc: @mai93  It looks like you added this flag, can you take an initial look at it?

[2020-11-23 19:52] gregestren commented on #6526
Yes, I mean actions that rely on paths for resolving debug symbols vs. those that don't. Although it's not just that, it's also whatever *consumes* those paths (like `gdb`). If you're not actually debugging maybe this doesn't matter. But if you need debug symbol paths I guess that's not the case?

This isn't to say there aren't options. We could conceivably rewrite the symbol paths after the fast.

[2020-11-23 19:53] philsc commented on #12419
While not helpful for resolving this issue, I did mention this issue in the [Filtering incompatible targets in Starlark](https://docs.google.com/document/d/1c1wnev-8mBHdOGQuom9hdXhfuBPlT9O8wplY-HuvXZc/edit#bookmark=id.4mpaviaafo) proposal. My naive thought is that skipping targets with a missing toolchain can also be expressed via a Starlark-accessible provider. That becomes relevant in that propo

[2020-11-24 02:39] jimmysue commented on #12414
Have you solved the problem? And how?

[2020-11-24 05:33] AustinSchuh commented on #12451
PR sent!  That's the functionality I would like.  Happy to adjust as you see fit.

[2020-11-24 06:02] lgmcode commented on #12351
@lberki Thanks, I think I got your philosophy

[2020-11-24 07:11] Mathiasdm commented on #7470
The issue also occurs on CentOS 8 (and I assume on any Linux machine that uses linux-sandbox instead of processwrapper-sandbox), blocking our upgrade.

[2020-11-24 09:27] meteorcloudy commented on #12403
/cc @katre I noticed both actions tried to generate the output under bazel-out/**darwin-opt-exec-2B5CBBC6**, however they are actually for different configuration (host vs target). How does the `2B5CBBC6` get generated, does it take the action envs into consideration?

[2020-11-24 09:28] #11975 closed

[2020-11-24 10:39] lizan opened #12545 "`--run_under` doesn't work with script in external repository"
### Description of the problem / feature request:

We use --run_under with collect_coverage to get fuzz-coverage in Envoy:
https://github.com/envoyproxy/envoy/blob/master/.bazelrc#L149

This works perfectly with Bazel 3.6.0 but broken in Bazel 3.7.0

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Checkout https://github.com/envoypro

[2020-11-24 10:40] lizan commented on #12188
https://github.com/bazelbuild/bazel/issues/12545 is a regression that we are experiencing in Envoy and a blocker for us to upgrade to 3.7.x. cc @wrowe

[2020-11-24 11:51] jfietz commented on #10552
Another one here. Our product auto-generates some C++ headers and files, and we use extensions to differentiate between auto-generated and handwritten code and headers.

[2020-11-24 12:41] katre commented on #12188
@lizan I don't think #12545 can be fixed in time for a 3.7 release. I'll try to get it to the right people's attention and evaluate whether it's a release blocker and the fix can be cherrypicked into 4.0, however.

[2020-11-24 12:47] katre commented on #12403
Host config would always use "darwin-opt-host", if the output directory says "exec" then it's an exec transition. There are cases where distinct execution configurations use the same output path (the hex tag is just a hash of the execution platform).

Is there a reason why SymlinkTree actions aren't sharable?

[2020-11-24 12:50] meisterT commented on #12545
Do you have simple Bazel repro that doesn't involve running multiple shell scripts?

[2020-11-24 13:25] sventiffe commented on #12527
Can you share information how to reproduce the issue, please?

[2020-11-24 16:06] katre commented on #11993
Okay, I have a clean-looking fix, but it requires a decent bit of cleanup. I'll send out the stages for review over the next week or so (given the break for US holidays this week).

[2020-11-24 16:23] aiuto opened #12548 "search in online documentation should default to current release or head instead of "all""
Reproduction:

- open docs site
- search for test()
- https://docs.bazel.build/search.html?cx=009927877080525621790%3A2pxlpaexqpc&cof=FORID%3A10&ie=UTF-8&q=test%28%29#gsc.tab=0&gsc.q=test()&gsc.page=1

You get results in this order.
- Testing - Bazel 0.23.0
https://docs.bazel.build/versions/0.23.0/skylark/testing.html
- Testing - Bazel
https://docs.bazel.build/versions/master/skylark/testing.html

[2020-11-24 16:25] katre commented on #11628
See @comius's recent work on using constraint values instead of flags: 6d637f4165445a0d6644f6e6f8a61b3f1de208d8

[2020-11-24 17:33] katre commented on #12188
I'm going to finalize 3.7.1 today, but please make sure to ping the issue for 4.0 when #12545 is fixed.

[2020-11-24 17:55] limdor commented on #10949
I just came across this issue today. @lberki could we add the coverage label?
@caiyulun I saw that you created a PR some time ago, are you planning to continue it? I understand that the missing part are only tests right?

[2020-11-24 18:08] katre commented on #12188
Release 3.7.1 is ready for use: https://github.com/bazelbuild/bazel/releases/tag/3.7.1

@vbatts @petemounce @excitoon, can you update your packages?
@philwo, can you add the arm binaries?

Thanks everyone.

[2020-11-24 20:04] ilanbiala commented on #12527
I'm not sure of the exact way to reproduce, but I believe it has to do with having the following config setting in `.bazelrc`:
[code]
and including a `pkg_tar` in a Docker image built using https://github.com/bazelbuild/rules_docker.

[2020-11-24 21:02] lizan commented on #12545
@meisterT https://github.com/lizan/bazel-12545 is the minimal reproducer, it appears run_under is broken and not related to coverage at all.

[2020-11-24 21:36] meisterT commented on #12545
Thanks, that was super helpful!

https://github.com/bazelbuild/bazel/commit/301b96b223b0c0e0294435efcc30af00d4e77dc7 is the culprit CL.

cc @lberki @gyias

[2020-11-24 22:27] philsc opened #12553 "Incompatible Target Skipping breaks rules with custom providers"
### Description of the problem / feature request:

Consider the following Starlark rule:
[code]

If you instantiate it like this:
[code]

then building fails with:
[code]

This occurs because the incompatible target is assigned an `IncompatiblePlatformProvider` and not a `DummyProvider`.

The same thing happens when using Python targets:
[code]

A quick hack to fix this is:
[code]

### What operat

[2020-11-24 22:29] philsc commented on #12553
I'll try to figure out what a less hacky way of addressing this is.

/cc @gregestren , @AustinSchuh

[2020-11-24 22:46] friendly-pineapple commented on #12402
Aloha! Quick ping on this!

This is not a feature request or bug report, but we were wondering if someone could help answer the above concerns that we had.

Thanks!

[2020-11-25 03:42] coeuvre commented on #12402
The recommendation is based on simply reducing the size of on-disk cache.

You won't have cache corruption (if you do, that is a bug):
1. If you cleanup the cache during a build, the build will fallback to execute locally and upload the result if `--remote_upload_local_results` is enabled (which is enabled by default).
2. A upload will first be written to a temporary file and be renamed to the des

[2020-11-25 04:59] franciscocpg commented on #7095
Hi @Anduril-Xu
Were you able to configure your workspace to use prebuilt binaries? I have a go monorepo and haven't had success yet :disappointed:

[2020-11-25 07:26] coeuvre opened #12554 "Regenerate test.xml with generate-xml.sh when testing remotely with --remote_download_minimal"
### Description of the problem:

Normally, when running a test, Bazel expects the test to produce a `test.xml`. If it is not produced, Bazel will run a separate action using `generate-xml.sh` to generate that file.

When testing remotely with `--remote_download_minimal`, Bazel doesn't download the XML file, and then observes that it doesn't exist and so tries to regenerate it, regardless of whethe

[2020-11-25 08:52] coeuvre commented on #12554
The root cause is that, "minimal" mode only [inject metadata](https://cs.opensource.google/bazel/bazel/+/master:src/main/java/com/google/devtools/build/lib/remote/RemoteCache.java;l=604) of output which is an instance of `Artifact` into the filesystem. However, [`test.xml`](https://cs.opensource.google/bazel/bazel/+/master:src/main/java/com/google/devtools/build/lib/analysis/test/TestRunnerAction.

[2020-11-25 09:29] lberki commented on #10949
sure can!

[2020-11-25 10:21] meteorcloudy commented on #12403
Hmm, it sounds weird the --host_action_env flag will cause an exec transition.

[2020-11-25 10:34] #10062 closed

[2020-11-25 12:20] Bu11etmagnet commented on #3226
Nobody same uses unity builds during development (because those who do would have been driven insane by the build times caused by compiling every single source file), which means that includes leaking from one source to another is a strawman argument. The alleged bad practices enabled by unity build would break the daily dev builds.

Unfortunately, modules is not the solution, as long as the stand

[2020-11-25 13:41] storypku opened #12557 "Binary release build for large projects built with Bazel"
Hi team,
     I came from the [ApolloAuto/apollo](https://github.com/ApolloAuto/apollo.git) project and would like to provide binary releases for Apollo for our users.

However, after I did some google-fu, I found that there seems no bazel equavalent of `make install`, and the only relevant clue I found was: https://stackoverflow.com/questions/43549923/how-do-i-install-a-project-built-with-bazel

[2020-11-25 13:42] larsrc-google commented on #12401
Actually, it's already in 3.7.

[2020-11-25 13:42] #12401 closed

[2020-11-25 14:16] #3828 closed

[2020-11-25 14:50] #10127 closed

[2020-11-25 14:57] sudoforge commented on #7095
@franciscocpg Are you still experiencing this? Have you tried using `--incompatible_strict_action_env`?

[2020-11-25 15:08] oquenchil commented on #12164
Regarding the coverage test. This failure didn't show up in the previous presubmits from September. What I'm seeing is that the error about the missing file is because it used to be that the generated file's name was simply a.gcno (this is still the case for 18.04) and for 20.04 it's #root#.cache#bazel#_bazel_root#21f93afbcb870cc754d0ec6fe4084f56#sandbox#processwrapper-sandbox#2560#execroot#io_baz

[2020-11-25 15:19] philwo commented on #11421
@meteorcloudy Could you please have a look and advise what you think the blockers are for flipping this flag and removing it?

If you think we can enable it by default, I'd like to ask @mai93 to look into this. :)

[2020-11-25 15:22] philwo commented on #11036
I don't think this is a Bazel bug. Maybe it's an issue with Gazelle not supporting WORKSPACE.bazel in that version yet?

[2020-11-25 15:26] philwo commented on #11619
@konste @tomdegoede Was this fixed by https://github.com/bazelbuild/bazel/commit/0cdd71fe9782c7817fc1e0294285699fb4db8040 or is this still an issue?

[2020-11-25 15:53] konste commented on #11619
The fix should be in 3.7.0. right? I am going to test it today and get back to you. The issue was intermittent, so it would take a full day to make sure.

[2020-11-25 15:55] philwo commented on #11544
I think gflags is 100% gone now.

[2020-11-25 15:55] #11544 closed

[2020-11-25 15:58] dzintars commented on #11036
Mby this https://github.com/bazelbuild/bazel-gazelle/issues/678

[2020-11-25 15:58] philwo commented on #11927
Closing this on the assumption that it was fixed in https://github.com/bazelbuild/bazel/pull/12170 :)

[2020-11-25 15:58] #11927 closed

[2020-11-25 16:02] meteorcloudy commented on #11421
This flag has already been renamed to --enable_runfiles and documented at https://docs.bazel.build/versions/master/command-line-reference.html#flag--enable_runfiles

We cannot flip its default value because creating file symlink still requires admin right or turning on developer mode on Windows. This will just continue to be a feature of Bazel on Windows.

[2020-11-25 16:02] oquenchil commented on #12164
Ok, I know more now. The newer g++ version is causing this. Trying to find fix now.

[2020-11-25 16:02] konste commented on #11421
Do I understand it right that after flipping and removal of this flag runfiles on Windows are going to be controlled by the same flag `--enable_runfiles` as on other platforms? If so I support the move to flip and remove it.

[2020-11-25 16:04] meteorcloudy commented on #11421
`--experimental_enable_runfiles` is the [old name](https://cs.opensource.google/bazel/bazel/+/master:src/main/java/com/google/devtools/build/lib/analysis/config/CoreOptions.java;l=722?q=experimental_enable_runfiles&ss=bazel) of `--enable_runfiles`, I think we can just remove it.

[2020-11-25 16:10] wrowe commented on #12188
Was there something special to be done, a PR or whatnot, to tickle rbe-toolchains-robot to refresh https://github.com/bazelbuild/bazel-toolchains/releases/ post-3.7.1 release?

[2020-11-25 16:10] konste commented on #11421
Ah, that actually clears things up. The fact that Bazel still accepts `--experimental_enable_runfiles` confused me and was the reason to open this issue. Indeed it should be removed.

[2020-11-25 16:12] meteorcloudy commented on #12403
I would expect there to be only one SymlinkTree action for each binary, but here Bazel seems to generate two for different configurations. I have little knowledge about config transition, not sure how it's affected by the --host_action_env flag.

[2020-11-25 16:13] meteorcloudy commented on #11421
Great, I'll send a change to remove the old flag, thanks for reporting this issue!

[2020-11-25 16:15] philwo commented on #11036
@dzintars Thanks! Indeed that looks like the culprit. I'll close this issue.

[2020-11-25 16:15] #11036 closed

[2020-11-25 16:16] philwo commented on #11964
Thanks for following up here and describing your workaround!

[2020-11-25 16:16] #11964 closed

[2020-11-25 16:35] katre commented on #12188
@smukherj1, are you still involved with rbe-toolchains-robot? Do you know who is?

[2020-11-25 16:41] oquenchil commented on #12164
Charles and I found the problem over vc (it's related to this #11538). We hadn't tested gcc 9 for coverage on CI before that's why we didn't see it earlier.

The test is relying on the intermediate format to do the comparison with the expected contents. I will fix it by writing it in a way that it's compatible with whichever gcc version being used.

[2020-11-25 16:46] konste commented on #11619
This is confusing: description of [0cdd71f](https://github.com/bazelbuild/bazel/commit/0cdd71fe9782c7817fc1e0294285699fb4db8040) contains this paragraph in strikethrough font: ~~The downside of this approach is that the convenience symlinks must be at the root of the workspace. When using --symlink_prefix with a sub-directory (which is the case for in the linked issue) both issues would still occu

[2020-11-25 17:31] stefanbucur commented on #11128
I am experiencing the same behavior when it comes to using the flags in Bazel transitions.

For a WORKSPACE file defined as `workspace(name = "my_workspace")` and a build setting in my BUILD file as:

[code]

Then setting `--@my_workspace//:my_flag` and `--//:my_flag` end up changing distinct values. A Bazel transition on `//:my_flag` will not be affected when setting `@my_workspace//:my_flag`. I

[2020-11-25 17:50] vbatts commented on #12188
Fedora and Centos builds are kicked off
https://copr.fedorainfracloud.org/coprs/build/1792784

[2020-11-25 18:12] stefanbucur opened #12559 "NullPointerException when overriding copts and linkopts to None in transition"
### Description of the problem / feature request:

When overriding the `copts` and `linkopts` build configuration with `None` values in a transition, Bazel crashes with a NullPointerException.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[code]

### What operating system are you running Bazel on?

Debian-based Linux.

### What's

[2020-11-25 18:13] smukherj1 commented on #12188
@DaveGay is looking into publishing configs

[2020-11-25 18:17] katre commented on #12188
Thanks!

[2020-11-25 19:10] GabrielGhe commented on #7714
We also ended up parsing the progress messages to get this information, but it really should be in the `BuildMetrics` message.

Is there a plan for this ticket?

[2020-11-25 19:38] smukherj1 commented on #12188
Note that toolchain configs already exist for [Bazel 3.7.0](https://github.com/bazelbuild/bazel-toolchains/releases/tag/3.7.0) and in theory Bazel 3.7.1 should be compatible with configs generated for 3.7.0.

While we work to release 3.7.1 configs (ETA 1 day), @wrowe can you try using the 3.7.0 release of the toolchain configs repo with Bazel 3.7.1?

[2020-11-25 20:38] #11993 closed

[2020-11-25 20:41] konste commented on #11993
Super! Thanks @katre for a kind of unexpected ton of work! But as far as I understand this fix prevents much more serious problems in the future than the cosmetic issue I initially reported.
Which version of Bazel shall we expect to see the fix in?

[2020-11-25 20:50] katre commented on #11993
Bazel 4.1 would be the release to contain this. I'm not sure it's something we can cherrypick into 4.0, unfortunately.

[2020-11-25 20:55] #11841 closed

[2020-11-25 20:56] philwo commented on #11882
We can't repro this and Bazel 2.2.0 is an old version that we can't support. Please report back if you can repro this with the latest Bazel version.

[2020-11-25 20:56] #11882 closed

[2020-11-25 20:58] philwo commented on #11867
I haven't seen this on our CI in months, IIRC, so closing as obsolete.

Please report back if you still see this happen with the latest Bazel version.

[2020-11-25 21:04] philwo commented on #12183
Closing this, as we haven't heard back in a while. Please comment on this issue if you can provide strace or jstack output of the hanging process.

[2020-11-25 21:04] #12183 closed

[2020-11-25 21:06] philwo commented on #12331
I agree with Jin. The built-in Maven rules will be removed at some point and are not maintained, as the community has developed much better support for Maven in the meantime.

[2020-11-25 21:06] #12331 closed

[2020-11-25 21:08] philwo commented on #12314
@or-shachar On the one hand, I agree with you! I had some tests timeout due to failure modes where repeating them was just a waste of time.

On the other hand, we definitely have tests on Bazel's CI that timeout due to some transient issue and pass when you rerun them. So a "don't retry on timeout" seems also problematic. :/

[2020-11-25 21:14] philwo commented on #12253
@baranyildirim Which step fails - the compile.sh or the `bazel build` step after that?

[2020-11-25 21:16] philwo commented on #12488
Could you use `--disk_cache=/some/path` for that? It should fix the problem easily without requiring additional complexity in Bazel.

[2020-11-25 21:18] philwo commented on #12460
@kigero Sorry for that. I'll see that we revert this part or fix it in a way that works with non-glibcs.

[2020-11-25 21:19] philwo commented on #12444
@pauldraper Is the suggested fix to make http.bzl public?

[2020-11-25 21:21] philwo commented on #12433
@amitkayal Could you please check whether you are using 32-bit or 64-bit Windows and report back?

Here's an article that explains how to check it: https://support.microsoft.com/en-us/windows/32-bit-and-64-bit-windows-frequently-asked-questions-c6ca9541-8dce-4d48-0415-94a3faa2e13d

[2020-11-25 21:35] franciscocpg commented on #7095
Hi @sudoforge

I want to use prebuilt binaries and have asked about it here: https://github.com/bazelbuild/rules_go/issues/2684.

But I haven't tried `http_file` yet. Will give it a try.

[2020-11-25 22:20] wchargin opened #12561 "aquery ActionKey interprets --action_env inconsistently"
### Description of the problem / feature request:

The `ActionKey` output of `bazel aquery` incorporates `--action_env`
values that are given in explicit `KEY=VALUE` form, but not just as
`KEY`. This is inconsistent with the actual RBE cache.

Underlying problem: setting up a remote cache that’s populated on one
machine and read from another, and trying to align the cache keys. The
natural approac

[2020-11-26 03:16] coeuvre commented on #7714
I will look into this feature.

[2020-11-26 08:45] philwo opened #12565 "Print a warning when using an oldName of a flag"
### Description of the problem / feature request:

In https://github.com/bazelbuild/bazel/issues/11421 a user was confused by the fact that `--experimental_enable_runfiles` still exists (undocumented) when `--enable_runfiles` also exists. They thought that these are two different flags, the experimental one maybe being a newer or different implementation.

In fact, they're the same flag, but `--ex

[2020-11-26 08:50] philwo commented on #12565
In fact, the JavaDoc says that this should already work: "If the old name is used, a warning will be printed indicating that the old name is deprecated and the new name should be used." 😏

But it doesn't:

[code]

[2020-11-26 08:55] #11421 closed

[2020-11-26 09:04] burkpojken commented on #6526
Hi!
I work at the same project as ulrfa, I have also written this question in the forum https://groups.google.com/g/bazel-discuss/c/zVEc7gzbyu0/m/5UcZ8aXOBQAJ

I try here to describe our use case:

We build C/C++ applications for an embedded system with quite large build graphs with very many configurable options.
Examples of configurable options are:
* Select bazel targets based on HW configurati

[2020-11-26 09:16] #12557 closed

[2020-11-26 09:48] philwo commented on #12244
What's the state of this - now that the test is disabled, can we close this?

[2020-11-26 09:56] meteorcloudy commented on #12244
I think so.

[2020-11-26 09:57] #12244 closed

[2020-11-26 10:01] philwo commented on #11636
@ulfjack Hello :) How are things looking on this issue - would you have time to help with a fix?

I marked this P3 for now, meaning "we would happily take and review a fix for this".

[2020-11-26 10:04] philwo commented on #11517
Do I understand correctly that the behavior itself is fine, but just not working as documented, so updating the docs to match the behavior would be an OK fix?

[2020-11-26 10:10] philwo commented on #11362
Hey @ozio85, considering that the PR https://github.com/bazelbuild/bazel/pull/11364 was closed due to inactivity, is this still an open issue for you?

[2020-11-26 10:13] mehrdadn commented on #11517
I _think_ so. I'm not sure if I ran into any rough edges with this syntax, but I don't recall any at this point, especially none significant enough to warrant changing the string syntax. The most important thing I think is to document the syntax 100% accurately so that there's no ambiguity as to how any string would parse, or as to which syntaxes are supported.

[2020-11-26 10:17] philwo commented on #11237
@asuffield @meteorcloudy What's the state of this issue?

[2020-11-26 10:24] philwo commented on #11138
Test seems to be no longer flaky (given a random sampling of recent Buildkite jobs), so closing this. :)

[2020-11-26 10:24] #11138 closed

[2020-11-26 10:24] meteorcloudy commented on #11655
The recommended way to do this is defining all platform-specific deps in your WORKSPACE file
[code]

Then in your BUILD file, you can use `select` statement to depend on the one you need.
[code]

When you're running the build, non-necessary dependencies for your platform won't be downloaded.

[2020-11-26 10:26] agusti-t commented on #11146
Can you give an example of how the workaround would look like @ulfjack ? I'm having a similar, I'd almost say the same, issue trying to run a SpringBootTest with EmbeddedCassandra as described [here](https://github.com/jsevellec/cassandra-unit/wiki/Spring-for-Cassandra-unit).

[2020-11-26 10:29] philwo commented on #11136
Hi @arunjose696,

sorry for the late reply. Are you still seeing this issue? If yes, we would need some more information about your system and Bazel version so that we can try to reproduce it.

Thanks,
Philipp

[2020-11-26 10:34] philwo commented on #10941
Hey,

I'm not sure what the right path forward here is - even if we would use `wslpath` to transform the paths, would this actually work with `bash` running inside Linux and making assumption that the host OS is Linux, while the outer Bazel is on Windows?

Maybe we should just document that Bazel doesn't work with the WSL bash? 🤔

The workaround suggested seems fine to me.

[2020-11-26 10:38] philwo commented on #10668
We assume that this is fixed, but @mai93 will try to reproduce to make sure. :)

[2020-11-26 10:38] or-shachar commented on #12314
I agree... how can we leave the choice to the users?
Leave the existing behavior with the flags the same but give other flags that allows to separate behavior per more specific cases.

[2020-11-26 10:41] philwo commented on #10620
@mai93 maybe you want to look into this. :)

[2020-11-26 10:55] philwo commented on #10249
@oquenchil Just curious - why is this P4? It seems like this is basic C++ rules functionality that should work on Windows, so maybe we'd be happy to take a patch from someone? :)

[2020-11-26 11:05] ozio85 commented on #11362
Yeah it is an open issue, but it is not that major (therefore i did not prioritize it). However, manifest paths over 255 chars is not possible to read with the short API. You have to use the wchar api to be able to support and read files lobger than that

[2020-11-26 11:16] tomdegoede commented on #11619
@konste please refer to #12054. It implements a second solution (hence the strikethrough) that should also have resolved your issue.

[2020-11-26 13:17] comius commented on #12536
Not entirely true, if JAVA_HOME not set, Bazel uses `which` and it probably discovered JDK that's in path.

[2020-11-26 13:18] comius commented on #12537
Not entirely true, if JAVA_HOME not set, Bazel uses `which` and it probably discovered JDK that's in path.

[2020-11-26 13:22] ulrfa opened #12568 "Improve transition scalability by considering visibility of user-defined build setting"
[I'm creating a separate ticket too keep #6526 focused]

An optimal solution for efficient action caching and small graph size, in combination with transitions, [seems far away](https://github.com/bazelbuild/bazel/issues/6526#issuecomment-732389698). At least as a generic solution for all use cases.

But could transition scalability be improved for some use cases, by filtering out user-defined bui

[2020-11-26 13:26] ulrfa commented on #6526
Thank you for your answer @gregestren!

I just wrote a separate ticket about an idea. Maybe it could be one incremental step forward: #12568

[2020-11-26 14:08] sjoerdvisscher commented on #6038
Note that you should set `common --experimental_allow_tags_propagation` and not `build --experimental_allow_tags_propagation`, since that will cause refetching of external dependencies if you f.e. switch between `bazel query` and `bazel build`. (because of different values of STARLARK_SEMANTICS in the marker files)

[2020-11-26 14:33] sjoerdvisscher opened #12569 "Add a warning that STARLARK_SEMANTICS changed"
Bazel was pretty slow for us, seemingly randomly refetching external dependencies. After we finally found a way to reproduce this, we found that in the marker files of the refetched external dependencies the value of `STARLARK_SEMANTICS ` changed. It turns out that we had `build --experimental_allow_tags_propagation` in our `.bazelrc` file, which should have been `common --experimental_allow_tags_

[2020-11-26 15:07] jbms commented on #7364
I'd like to add my support for this feature as well.  I have run into a need for it numerous times.  Of course there are workarounds, like modifying the test code to accept the relevant parameter as a command-line argument, or creating a wrapper with genrule, but environment variables are an extremely common interface for specifying program and test behavior.  It isn't like environment variable ar

[2020-11-26 16:28] konste commented on #11619
Thank you @tomdegoede for response! I am happy to report that my testing shows this issue is indeed fixed and can be closed! Woohoo! Before we go I have a couple questions to understand the feature mechanics and implications.

Question 1: In the root workspace we have some folders not directly relevant to the build - some just don't have any BUILD files in there and some are explicitly excluded th

[2020-11-26 17:06] aiuto commented on #7364
I would be interested in knowing how far having parameterized tests as per https://github.com/bazelbuild/bazel/issues/11772 would work for people.  I very much want to add that feature as part of an effort to improve our integration tests.

[2020-11-26 17:48] konste commented on #7364
In many cases devs working on the build are separate from the devs working on the product code and tests and build devs don't have much say in how the tests are organized. Or there are just a ton of legacy tests nobody have time to rewrite. For those reasons it is important for the build system (with the help of build devs) to accommodate for existing test requirements which VERY often include set

[2020-11-26 18:49] konste opened #12573 "--experimental_windows_watchfs makes folders with subfolders undeletable"
### Description of the problem / feature request:

The flag `--experimental_windows_watchfs` on Windows blocks deletion of any workspace folder with subfolders and files in the subfolders.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

1. On Windows make sure Bazel server is not running. Shutdown it if necessary.
2. At the root of

[2020-11-26 19:07] oquenchil commented on #10249
I don't remember why I lowered the priority if I had to guess my thought process was meteorcloudy would work on it (since he's assigned) but not any time soon. I can unassign and make P3.

[2020-11-26 19:22] joeleba opened #12574 "java_tools 10.3 regressed bazel performance, before java_tools javac11 v10.4 improved it."
### Description of the problem / feature request:

Our bazel-bench pipeline runs nightly benchmarking of a sample of the bazel commits throughout the day, by using the bazel binaries built at those commits to build the Bazel project itself (`bazel build //src:bazel`). We've identified the following:

1. 5c92b11dc5e1decf1b2a30b72d9bdaaf6e3e4380 regressed wall time by ~48%.

[code]

![image](https:/

[2020-11-26 19:26] jbms commented on #11772
How does this compare to what can be done with the existing skylark macro ("def") facility?

[2020-11-26 19:33] jbms commented on #7364
I'm not clear on how the exactly the parameterized tests proposed in #11772 would work, but regardless I agree with @konste that such a facility would surely be largely orthogonal to the ability to set environment variables.

[2020-11-26 20:11] siggisim opened #12575 "Unexpected Exception 'Must not call uploadBlobs after shutdown.' when closing BEP transports, this is a bug."
### Description of the problem:

With a gRPC remote cache and BES backend enabled, Bazel intermittently fails to write build event file with the following error:
[code]

I've traced this down [FileTransport.java](https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/buildeventstream/transports/FileTransport.java#L159) and [BuildEventServiceUploader.java](https

[2020-11-26 20:18] siggisim commented on #12575
CC @michaeledgar who seems to know a thing or two about BES artifact uploading

[2020-11-26 20:44] comius commented on #12574
Do I understand correctly that wall time is completely restored?
If I get mathematics right: wall * 1.4823 * (1 - 0.3026) = wall * 1.034. So after v10.4 wall is 3.4% bigger?
Looking at absolute deltas in wall 173 - 117 = 184 - 128 = 56 they are exactly the same.
Set priority back to P1 if you disagree.

I have PR waiting to merge in java_tools v11.0: https://github.com/bazelbuild/bazel/pull/12552

[2020-11-26 20:48] tomdegoede commented on #12573
This is due to windows internals for watching the file system which locks parent directories of folders it's watching. I have very rarely encountered the issue (probably because deleting folders is not so common). It also seems to only occur in certain places. For example in the explorer I can delete the folder but from powershell I cant. I'm not planning to look into this further since we are not

[2020-11-26 20:51] konste commented on #12573
Understood. Let's keep the issue opened though to help other people who may try to use `--experimental_windows_watchfs` and encounter a similar problem.

[2020-11-27 02:31] Corezcy opened #12577 "Can I build C/C++ project in XCode using bazel ？"
### Description of the  feature request:

Can I build C/C++ project in XCode using bazel ? If possible , how to?

### What operating system are you running Bazel on?

Macos 10.14.6

### What's the output of `bazel info release`?

release 3.6.0-homebrew

[2020-11-27 02:54] pauldraper commented on #12444
@philwo either make the file public, or make it part of a public bzl_library. (IDK if Bazel has bzl_libraries....I'm guessing not.)

[2020-11-27 03:16] yaojingguo commented on #12537
On Ubuntu 18.04.5 LTS with Bazel 3.7.0. `JAVA_HOME` is not set and `java` is not in `PATH`.

[code]

But Bazel still works.

[2020-11-27 03:27] yaojingguo commented on #12536
I installed Bazel 3.7.0. And this is the content of `Bazel`:

[code]

It does not use `which` to find java for running.

[2020-11-27 06:23] aiuto commented on #11772
The goal is to build a binary once, then invoke it with different args. Current tests always need to create a binary, then run it with no args. In the basic form, it is like this.

[code]

a_test does not have its own executable, it only depends on things and has a run action. Current tests don't do a run, they only create the executable.
The way people work around this with macros today is to gen

[2020-11-27 06:45] jbms commented on #11772
Decoupling the command-line arguments (and ideally, environment variables), and data deps, from the test binary itself certainly makes sense.  I could imagine an alternative way to support that could be for bazel itself to deduplicate binaries where an identical binary would be built, so then this would be equivalent to just having multiple cc_test rules with the same srcs and deps but different a

[2020-11-27 07:24] lberki commented on #11772
Building a binary once and executing it multiple times is easily achievable by wrapping a `*_binary` rule in a `sh_test` and setting the `args` argument of the latter. Sure, there is a little shell script, but it is really that difficult to write

[code]

? If need be, the location can be filled in by a little Starlark rule.

[2020-11-27 08:21] meisterT commented on #12574
It would be great if the commits of the java_tools releases contain these changelogs, so it's easier to understand what went into them.

I think Ivo is correct, that the regression is completely fixed by the 10.4 release, because there's another regression in the 8fce67f..b1d1485 range that adds up:
![image](https://user-images.githubusercontent.com/418721/100426434-1f647300-3091-11eb-825b-17f4f17

[2020-11-27 08:22] joeleba commented on #12574
Let me know if you need help performing the benchmarks.

[2020-11-27 08:31] comius commented on #12574
Can you also run benchmark on https://github.com/bazelbuild/bazel/pull/12552? It has release 11.0. I don't have a workstation only cloudtop.

[2020-11-27 08:32] meteorcloudy commented on #10249
/cc @mai93, maybe Mai could take a look?

[2020-11-27 09:05] joeleba commented on #12574
Sure, gimme a moment.

[2020-11-27 12:21] mai93 commented on #10668
I tried it and I think it is fixed, I will close it.

[2020-11-27 12:21] #10668 closed

[2020-11-27 13:40] dzintars commented on #4301
Not sure is it important there, but i came across this error/warning when run `ibazel`:
[code]
So i am looking forward to resolve this "warning".

[2020-11-27 15:16] comius commented on #12574
Releasing java_tools at:

commit 4 **no regression** `febf4438cd cushon Restore GenClass's --temp_dir flag once more`

commit 5 **38% regression in wall** `5c8e584e88 steinman Move WorkRequestHandler from build jar to Worker package. This is part of the cleanup associated with enabling JSON workers.`

commit 8 **TODO** `a4251eab69 steinman Refactor WorkRequestHandler to be an interface, of which P

[2020-11-27 15:19] meisterT commented on #12455
Just to make you aware, #12574 is still under investigation but may make another cherry pick necessary.

[2020-11-27 15:26] #8406 closed

[2020-11-27 16:04] philwo opened #12578 "bazel_bootstrap_distfile_test failing in postsubmit on Windows"
The test `//src/test/shell/bazel:bazel_bootstrap_distfile_test` has started to fail in our postsubmit pipeline on Windows only.

Here's a list of broken jobs:
- https://buildkite.com/bazel/bazel-bazel/builds/14736#745cad19-516a-479b-8084-9154bf14c893
- https://buildkite.com/bazel/bazel-bazel/builds/14740#75c2bc28-cf58-4f5d-a152-a94ef3d5cde1
- https://buildkite.com/bazel/bazel-bazel/builds/14742#65

[2020-11-27 16:24] #12574 closed

[2020-11-27 16:26] comius commented on #12574
Raw data:
[code]

[2020-11-27 16:30] meisterT commented on #12574
aha, the first commit brought back the `System.gc` that @larsrc-google recently removed and the second commit removed it again

[2020-11-27 16:36] comius commented on #12574
we might want to consider automatic releasing or at least benchmarking the commits that go into java_tools... i almost have a script for that by now

[2020-11-27 16:50] joeleba commented on #12574
It's probably not too challenging to set up a bazel-bench pipeline to benchmark the java_tools commits. We can talk more next week if you're interested.

[2020-11-27 17:02] Flamefire opened #12579 "generate-xml.sh fails to execute"
### Description of the problem / feature request:

I'm running some test of TensorFlow using bazel but on our multi-core POWER9 system it fails with e.g.

`ERROR: /dev/shm/s3248973-EasyBuild/TensorFlow/2.4.0/fosscuda-2019b-Python-3.7.4/TensorFlow/tensorflow-r2.4/tensorflow/core/platform/BUILD:1142:11:  failed (Exit 1): generate-xml.sh failed: error executing command `

I.e. there is no good error

[2020-11-27 18:21] keith commented on #12577
Yes you can, see the C++ documentation for examples / usage

- https://docs.bazel.build/versions/master/tutorial/cpp.html
- https://docs.bazel.build/versions/master/be/c-cpp.html
- https://docs.bazel.build/versions/master/cpp-use-cases.html

[2020-11-28 05:20] philsc commented on #12413
@konste, I was just made aware of [BUILD file preludes](https://blog.bazel.build/2020/10/06/bazel-3-6.html#incompatible-changes) by @bsilver8192 . I haven't looked into it too much, but it seems possible to load wrapper macros in there that set a default `target_compatible_with`. I mention this as a possible work around until this issue gets fixed.

[2020-11-28 05:25] konste commented on #12413
Yes I am aware of this rather hidden feature, but hesitate to take a dependency on it as its future is dim - Bazel team still has not decided if they are going to document it or remove it.

[2020-11-28 05:49] philsc commented on #12553
Hmm. I discovered another bug while testing #12560. A `filegroup` that depends on an incompatible target is itself not incompatible.

[2020-11-28 10:52] asuffield commented on #11237
Still unsolved, and still a problem. I've not had time to go chase this cluster of problems yet, but we will need to solve it somehow.

[2020-11-28 12:09] limdor commented on #10949
@lberki I would like to fix this issue, taking the open PR that @caiyulun created. In the PR @caiyulun mentioned 4 months ago that was working on tests but I assume that something prevented to continue on the topic. However I have some question about the code base, would it be here, in the PR, or in bazel-dev the place to ask? For the moment I will put it here in case you can answer right a way an

[2020-11-28 13:34] baranyildirim commented on #12253
@philwo I think the `bazel build` step is failing. The full log is [here](https://github.com/Homebrew/linuxbrew-core/pull/21161/checks?check_run_id=1329741335).

[2020-11-28 15:01] philsc opened #12582 "Incompatible Target Skipping doesn't work for filegroup targets"
### Description of the problem / feature request:

Making a `filegroup` depend on an incompatible `cc_binary` doesn't cause it to be incompatible.

It appears that any target that doesn't use toolchain resolution is not checked for incompatibility.
https://github.com/bazelbuild/bazel/blob/0999cf12c6fafaa32519b47a0c5ed45d7b402da0/src/main/java/com/google/devtools/build/lib/analysis/constraints/Rule

[2020-11-28 15:02] philsc commented on #12553
Filed #12582 for this.

[2020-11-28 15:04] philsc commented on #12582
/cc @AustinSchuh @katre

[2020-11-28 19:18] janakdr commented on #5588
cc @alexjski

[2020-11-29 00:48] philsc commented on #12553
There may also be something similar going on with the checks for the extensions.
[code]

[2020-11-29 00:59] philsc commented on #12582
@katre, perhaps the following is reasonable?
[code]
I.e. don't bother checking `target_compatible_with` for rules that don't use toolchain resolution, but still check for incompatible dependencies.

[2020-11-29 01:14] konste commented on #10843
Is the feature released? In what Bazel version? I don't see it in 3.7.0.

[2020-11-29 04:09] kylecordes commented on #12331
Would it be reasonable to mark this deprecated somehow, as a step toward eventual removal?

[2020-11-29 04:50] jmillikin commented on #12200
(This is mostly a bikeshed comment, feel free to ignore if it would complicate the migration)

Would it be possible for the new name to be `trunk` rather than `main`? That's what the primary development branch was usually called before Git was released, and it's easier to grep for than `main` because it doesn't conflict with the C/C++ default entry point.

[2020-11-29 06:57] sreev commented on #5594
copying jdk tools.jar introduced bugs. refer to, https://github.com/bazelbuild/intellij/issues/2164

[2020-11-29 10:40] sitaktif commented on #12457
[code]

@stepancheg if you look at #114, you will notice that this is incorrect: unless it changed very recently, the `+` operator is only supported for selects that return lists, not for ones that return dicts.

[2020-11-29 18:01] jongerrish commented on #11486
@lberki - What do you suggest for rules that produce more than one compiler invocation?

Specifically, I'm working on improving jdeps support in [@rules_kotlin](https://github.com/bazelbuild/rules_kotlin).

Here we use `java_common.compile()` to compile Java source which returns a `JavaInfo` and build Kotlin source ourselves producing ABI and runtime jars as well as jdeps.

Since I understand a ru

[2020-11-30 01:39] aiuto commented on #12200
I'll see the bikeshed, and raise you.  trunk always disappointed me as
a name.
If we want to be precise about it, there are only branches. We simply are
designating one as more central/important than the others.
We reflect that in the way we do development. Forking a branch gives us
something that exists independently.
The trunk does not feed the branches, as in a real tree. We have to do
extraord

[2020-11-30 02:56] Corezcy commented on #12577
Currently , I use bazel in VSCode on MacOS , I want to change into XCode ,but find none tutorial. In the links you give me , I still dont know ··· ···

[2020-11-30 03:01] Corezcy commented on #12577
I give up, using VSCode  continually

[2020-11-30 03:01] #12577 closed

[2020-11-30 03:04] aiuto commented on #12527
Do you have anything self contained?

[2020-11-30 03:24] aiuto commented on #12561
I'm not sure if this is a bug or how-to request.

cc: @joeleba  It looks like you wrote that text, maybe you can clarify.

[2020-11-30 03:31] thii commented on #12577
If you're building macOS tools, take a look at [Tulsi](https://tulsi.bazel.build).

[2020-11-30 03:34] Corezcy commented on #12577
Thanks ! I saw it ,but it is used to build swift project .

[2020-11-30 04:15] thii commented on #12577
I don't think it's limited to Swift (but it is limited to Apple platforms)—whatever Apple targets you can build with Bazel, then it can generate an Xcode project that you can work with.

[2020-11-30 05:08] wchargin commented on #12561
From my perspective, it looks like at the very least a documentation
bug, since the documentation implies that `--action_env=PATH=$PATH`
means the same thing as `--action_env=PATH`, but those behave
differently under `aquery`.

It’s also a how-to request for the potential XY problem of “I want to
align these two systems to hit the same cache”. If there is a nice way
to do that, I think that it wou

[2020-11-30 06:24] whogodemo opened #12585 "ERROR: Analysis of target failed; build aborted: invalid registered execution platform '//:default_host_platform': no such target '//:default_host_platform': target 'default_host_platform' not declared in package"
### Description of the problem / feature request:
run this command to print hello world.
=> bazel run --define MEDIAPIPE_DISABLE_GPU=1 mediapipe/examples/desktop/hello_world:hello_world

then error occured.
error message
=>
ERROR: Analysis of target '//mediapipe/examples/desktop/hello_world:hello_world' failed; build aborted: invalid registered execution platform '//:default_host_platform': no suc

[2020-11-30 08:35] meteorcloudy commented on #12578
It looks like before #14743, the job succeeds after retrying, but not after that..
This is strange, it will take a look.

[2020-11-30 09:30] vnvo2409 commented on #12488
After futher investigation, I find that there is nothing to do with Bazel. Thank you !

[2020-11-30 09:30] #12488 closed

[2020-11-30 10:24] joeleba commented on #12561
even though the content of an input file changed.” It’s not clear to
me that this is the same issue, since that FAQ entry says that “Changes
to the […] environment […] should affect the key”.

This part of the aquery documentation was extracted from [ActionAnalysisMetadata](https://cs.opensource.google/bazel/bazel/+/master:src/main/java/com/google/devtools/build/lib/actions/ActionAnalysisMetadata.

[2020-11-30 11:48] comius commented on #12455
Java_tools 10.4 is already in baseline, so no cherry pick is necessary.

[2020-11-30 13:45] philwo commented on #11446
I don't think we'll do this, the complexity of doing migrations between java_tools releases like that isn't worth the gain.

[2020-11-30 13:45] #11446 closed

[2020-11-30 13:48] #11463 closed

[2020-11-30 13:49] philwo commented on #11439
The JDK that Bazel runs with is not able to download the URL https://mirror.bazel.build/openjdk/azul-zulu-9.0.7.1-jdk9.0.7/zulu9.0.7.1-jdk9.0.7-linux_x64-allmodules.tar.gz, because of this error: `PKIX path building failed: sun.security.provider.certpath.SunCertPathBuilderException: unable to find valid certification path to requested target and referenced by '@bazel_tools//tools/jdk:remote_jdk'`.

[2020-11-30 13:49] #11439 closed

[2020-11-30 13:51] philwo commented on #11407
Hi Shelton,

the error is here: `Exception in thread "main" java.lang.OutOfMemoryError: Java heap space`

You need to add more RAM to the machine and/or increase the Java heap of the invocation that fails (from the log it is not clear whether this is the `javac` invocation in compile.sh or something that Bazel runs).

Hope that helps.

[2020-11-30 13:51] #11407 closed

[2020-11-30 13:54] philwo commented on #11500
We should remove all mentions of Python 2 from our docs - it's end-of-life and we're not supporting or testing it anymore.

[2020-11-30 13:54] meteorcloudy commented on #12585
We are seeing the same failure in https://github.com/bazelbuild/bazel/issues/12578

[2020-11-30 13:55] philwo commented on #11808
What's the use-case for running a test with `bazel run`?

[2020-11-30 13:58] philwo commented on #11803
Thanks for the PR and glad that there was a workaround!

This still feels like a bug to me which we might want to fix, so I'll keep this open.

[2020-11-30 14:07] meteorcloudy commented on #12585
I couldn't reproduce the error following the instruction in this issue.

However, I was using Bazel 3.7.1 because the minimal required version is 3.4.0 at commit f15da632dec186f2c1d3c780f47086477e2286a9

Can you check if your WORKSPACE file was modified?

[2020-11-30 14:34] philwo commented on #11775
Hello, I'd like to better understand your use-case.

Bazel is a single binary that can just be executed, so an installer or Debian package isn't really necessary to install it - could you please explain why you'd prefer these instead of just downloading and running the binary? :)

[2020-11-30 14:47] benjaminp commented on #12527
You have see from the code how trigger this:

[2020-11-30 14:51] benjaminp commented on #12527
You can see from the code how to trigger this:
[code]
`RecursiveFilesystemTraversalFunction` is written for fileset semantics not experimental, apparently abandoned feature `TRACK_SOURCE_DIRECTORIES`.

[2020-11-30 15:52] mattsplats commented on #11775
I think the intent here is if there's a use case/need for this install script on x86, it should also be available for arm64.

Being able to build the binary for your distro also means you're not dependent on anything specific to the release binary (e.g. shared libraries).

[2020-11-30 15:58] janakdr commented on #12561
The lossiness happens in [ActionEnvironment#addTo](https://cs.opensource.google/bazel/bazel/+/master:src/main/java/com/google/devtools/build/lib/actions/ActionEnvironment.java;l=235;drc=a9b118bbe1d7c6c4be4524547dddc1fc21ba60ad). We just add the names of the "inherited" environment variables, not the values.

This is handled specially in [ActionCacheChecker](https://cs.opensource.google/bazel/bazel

[2020-11-30 16:32] #11259 closed

[2020-11-30 16:46] meteorcloudy commented on #12578
https://storage.googleapis.com/bazel-untrusted-buildkite-artifacts/5f2e15bb-e09e-4f65-ac7a-a4c6809fb9e4/src%5Ctest%5Cshell%5Cbazel%5Cbazel_bootstrap_distfile_test%5Cattempt_3.log

I printed out the content of ./BUILD, it was somehow overridden to https://github.com/bazelbuild/bazel/blob/master/tools/jdk/BUILD.java_tools. This is super weird, I suspect this is caused by running another test in para

[2020-11-30 17:52] philwo commented on #11775
@mattsplats I agree that if we provide it for one architecture, we should provide it for all applicable architectures. 👍

In order to understand whether it's a good use of our resources, I would like to understand the general usefulness of the installer script and Debian packages that we provide (also for x86_64). The installer script and Debian package do nothing special - they simply wrap the sa

[2020-11-30 17:58] mattsplats commented on #11775
Apologies, I assumed the install script compiled from source.

Removing the script and Debian package makes sense, as otherwise you'll need to maintain them for multiple arches. The only objection I've heard is that a package install could automatically update Bazel with your other dependencies (e.g. `apt upgrade`), but perhaps Bazelisk should be the recommended solution for this.

[2020-11-30 23:11] victornain commented on #12585
I have the exact same problem. But using Ubuntu 20.04 and Bazel 3.7.1.
https://github.com/google/mediapipe/issues/1336#issue-751006779

[2020-12-01 02:22] aiuto commented on #11772
Using shell is, to me, a serious problem to be avoided. Doing shell
portably across all OSes and getting args with spaces in them parsed
correctly is hard.

On Fri, Nov 27, 2020 at 2:25 AM lberki <notifications@github.com> wrote:

[2020-12-01 03:14] whogodemo commented on #12585
yes, I searched the error and found this solution. and I modified WORKSPACE file. sol: https://releases.bazel.build/bazel-toolchains.html
Is there any problem???

[2020-12-01 03:17] whogodemo commented on #12585
Haha I already saw that and modified WORKSPACE... But still same problem .....

[2020-12-01 04:48] benjaminp opened #12589 "query --output build prints None labels as null"
[code]

[2020-12-01 08:39] meteorcloudy commented on #12585
/cc @katre Can you take a look what's going on?

[2020-12-01 09:58] yancl opened #12591 "Multiple bazel servers of same pid run concurrently in the same workspace"
### Description of the problem / feature request:

When we run bazel commands of same repo & same path on the same box, we expect only one Bazel server can run, but if the pid of the bazel servers in ${outputBase}/server/server.pid.txt are of same, they can run simultaneously. This would generate unexpected artifacts that may be wrong .

Background:
We use Bazel to build&test on CI(multiple contai

[2020-12-01 11:57] arjantop-cai opened #12592 "No coverage files when running a build with --remote_download_minimal or --remote_download_toplevel"
### Description of the problem / feature request:

I am not sure if this is the desired behavior (especially for minimal) or a bug.

Running `bazel coverage` (with 100% cache hit rate) and `--remote_download_minimal` does not download coverage files. Configured `--coverage_report_generator` logs are visible in the output but it seems like the generator is not actually run.
As a result no output co

[2020-12-01 12:10] Flamefire opened #12593 "Build failure in custom environment due to protobuf"
This is for Bazel 3.7.1

Steps to reproduce the behavior:
1. Set up PATH and LD_LIBRARY_PATH & friends to use a custom compiler, e.g. installed to /opt/gcc8.3
2. Build Bazel
3. See failure after "Building Bazel with Bazel"

**What did you expect to see**

Build succeeds

**What did you see instead?**

[code]

Reason is simple: The environment variables are not passed through so this tries to use e

[2020-12-01 12:57] katre commented on #12585
I can't reproduce this, either. The target `//:default_host_platform` really isn't present in mediapipe, although we do have a target named that in Bazel proper.

Can either @whogodemo or @victornain run the following and give me the output?
[code]

This will help determine if there's a bazelrc option that's contributing to the issue.

[2020-12-01 13:52] whogodemo commented on #12585
This is the output. Thanks!!

Starting local Bazel server and connecting to it...

INFO: Options provided by the client:
  Inherited 'common' options: --isatty=1 --terminal_columns=80
INFO: Reading rc options for 'run' from /home/money/mediapipe/.bazelrc:
  Inherited 'common' options: --enable_platform_specific_config
DEBUG: /home/money/.cache/bazel/_bazel_money/f8fa67832b324a524cf2546304b89b98/ex

[2020-12-01 14:08] katre commented on #12585
Nothing obvious there.

I'm a bit confused: in https://github.com/bazelbuild/bazel/issues/12585#issuecomment-736189608 you mentioned that you changed WORKSPACE for bazel-toolchains, but that's not present in the stock mediapipe WORKSPACE. Can you push your changes to a fork I can look at to see the exact state of your repository?

[2020-12-01 16:05] juliexxia commented on #11128
@stefanbucur would you mind writing out a full command line/transition for the scenarios you describe here? From my own testing I believe settings --@my_workspace//:my_flag and //:my_flag from inside that workspace successfully resolve to a single flag.

[2020-12-01 16:20] thii commented on #11628
I've successfully built an arm Bazel with https://github.com/bazelbuild/bazel/pull/12594.

[2020-12-01 17:07] victornain commented on #12585
<pre>Starting local Bazel server and connecting to it...
<font color="#C4A000">DEBUG: </font>/home/victor/.cache/bazel/_bazel_victor/10816f194b7351c27a3090d179a5bc7b/external/bazel_toolchains/rules/rbe_repo/version_check.bzl:68:14:
Current running Bazel is ahead of bazel-toolchains repo. Please update your pin to bazel-toolchains repo in your WORKSPACE file.
<font color="#C4A000">DEBUG: </font>/ho

[2020-12-01 17:11] amitkatyal opened #12596 "Error when using bazel build in angular 8"
I'm trying to build angular project with bazel build & getting below error.

ERROR: /Users/ztna_userportal_applogo/gateway/ui/src/app/BUILD.bazel:37:10: Compiling Angular templates (ngc) //ui/src/app:app failed (Exit 1): ngc-wrapped.sh failed: error executing command

  (cd /private/var/tmp/_bazel_amit.katyal/c6d6c66a668f2db56ab82b64d688c088/execroot/ztna_gateway && \

  exec env - \

  bazel-out/

[2020-12-01 17:26] katre commented on #12585
Why is bazel-toolchains being used at all? Can you please share your WORKSPACE files?

[2020-12-01 17:41] warriorstar-orion opened #12597 "FR: Extraction of hermetic subtrees of a workspace / emplacement of same"
### Description of the problem / feature request:

I currently maintain a personal monorepo. When publishing code to the outside world, I want to create separate repos for different artifacts that be cloned, and `bazel build //...` run, without any extra steps.

Similarly, I would expect an inverse of this, where a pair of (source WORKSPACE, target) can be specified and the target in the source WO

[2020-12-01 19:09] helinwang commented on #4948
May I know if there is any update on this? If there any tips of how to contribute this would be helpful too.

[2020-12-01 20:10] moroten commented on #11128
@juliexxia @stefanbucur  I've modified https://github.com/bazelbuild/bazel/issues/10499 into the following:
[code]
Running Bazel 3.7.0 gives:
[code]

[2020-12-01 21:13] TheKaur commented on #4446
Any further update on this? This would be a pretty useful feature for us.

[2020-12-02 00:04] juliexxia commented on #11128
The general issue here seems to be that starlark options parsing and transitions aren't recognizing //:my_flag and @my_workspace//:my_flag as the same label.

This should be easy to fix during starlark options parsing - then in the command line you provided --@my_workspace//:my_flag=bar will simply overwrite --//:my_flag=foo and leave a configuration of //:my_flag=bar

Fixing this in transitions w

[2020-12-02 02:29] aiuto commented on #12596
This looks like an Angular usage question. You should try asking in a repository for their rules or an appropriate stack-overflow category.

[2020-12-02 03:20] amitkatyal commented on #12596
okay, thanks.

[2020-12-02 03:26] suzaku opened #12599 "FR: `http_archive` should support retrying `IOException` for the same URL"
### Description of the problem / feature request:

The problem I have is similar to #8974 but different.

In my case, I don't have fallback URLs, so I want to retry the same URL after a short period of time. Currently, I can list the same URL multiple times in `urls` to implement retry, but there's no way I can configure `bazel` to wait for several seconds before retrying.

### Feature requests: w

[2020-12-02 07:27] thii commented on #11628
I spoke too soon 😢 Although it's an arm binary, host tools were built for x86_64 so Bazel still invokes everything under Rosetta.

[2020-12-02 08:12] yancl commented on #12591
Thanks @aiuto, I think "team-Core" may be more accurate than "team-Remote-Exec" since we didn't use Remote Execution yet :)

[2020-12-02 08:44] whogodemo commented on #12585
This is my WORKSPACE file.. Thank you so much
[WORKSPACE.txt](https://github.com/bazelbuild/bazel/files/5627948/WORKSPACE.txt)

[2020-12-02 09:33] erenon opened #12602 "--experimental_ui_max_stdouterr_bytes show head of the error"
### Description of the problem / feature request:

By default `--experimental_ui_max_stdouterr_bytes=1048576` is in effect. If the output is bigger than that, the user gets back no output, forcing an another run, with the limit turned off, output piped to a file. This is inconvenient and slow: Instead, I'd like to see the beginning of the output (roughly up until the limit of stdouterr_bytes), to

[2020-12-02 09:39] carpenterjc commented on #4327
I have just run into this writing a sanity test for a windows installer using py_test and a data dependency on the install fileset. In my case the bazel root doesn't contain spaces, but the file set under test does courtesy of `Program Files`.

An example line:
[code]

I have tried `--experimental_inprocess_symlink_creation` when I look at the runfiles dictionary via
[code]
I can see the last entr

[2020-12-02 10:52] carpenterjc commented on #4327
Patching runfiles.py:179 with the following code works for me.
[code]
Same algorithm should work across many languages.

[2020-12-02 12:41] tdounnyy commented on #10478
Reporting same issue here

[2020-12-02 13:39] katre commented on #12585
That is the WORKSPACE from Bazel (http://github.com/bazelbuild/bazel/), not the WORKSPACE from mediapipe (https://github.com/google/mediapipe). It refers to targets and packages that only exist in Bazel, not in mediapipe, such as `//:default_host_platform`.

I'm not sure why you've copied Bazel's WORKSPACE into your mediapipe repo, but it won't work and can't work. Revert back to the default media

[2020-12-02 15:01] wrowe commented on #12455
@philwo Can this be added to the list of hard showstoppers? https://github.com/bazelbuild/bazel/issues/12545 is a regression that's been observed only since 3.7.0 release.

[2020-12-02 15:45] philwo commented on #12253
If you can figure out which environment variables `gcc-9` complains about, I think you could `--action_env=` flags here, similar to how it's done for PATH: https://github.com/bazelbuild/bazel/blob/master/compile.sh#L67

I haven't looked into how and to which extent we reset the environment for actions recently, unfortunately I can't offer much more help here :/

[2020-12-02 15:48] michajlo commented on #12591
Sharing an output base across what is essentially multiple hosts isn't really supported (bazel will emit warnings about the output base being on NFS).

What's happening in the same-pid situation in your demo is the bazel launcher sees that there's actually no process with the pid in `/proc/` so it (reasonably) assumes the server is gone and starts a new one. In the different pid situation, I'm pre

[2020-12-02 15:49] victornain commented on #12585
@katre by following the getting starting installation guide in https://mediapipe.dev/ I got the Bazel's WORKSPACE into the mediapipe repo, I didn't copy anything.

Still, I followed your advice about getting the original mediapipe WORKSPACE file in the repository. But now I'm getting the following error.

<pre><font color="#4E9A06">INFO: </font>SHA256 (https://github.com/bazelbuild/rules_foreign_c

[2020-12-02 15:52] octalthorpe opened #12604 "When running 'aquery'/'cquery' on a set of targets under an external using the '//...' target pattern, bazel will return an error."
### Description of the problem / feature request:

When running 'aquery' or 'cquery' on a set of targets under an external using the **//...*** target pattern, bazel will return an error.
[code]

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Using this script you can reproduce the issue.

[code]

### What operating system are you r

[2020-12-02 15:53] katre commented on #12585
I can't visit mediapipe.dev due to a certificate error, but if the directions they are providing are not accurate you'll need to submit an issue to them. Copying the entire WORKSPACE file from another repository is not a safe approach in general, and specifically with Bazel's own WORKSPACE file.

Since I can't visit mediapipe.dev, I can't follow the directions, but I was able to clone mediapipe fr

[2020-12-02 15:53] #12585 closed

[2020-12-02 15:57] jfancher opened #12605 "java_plugin header compilation failure"
### Description of the problem / feature request:

Two parts to this issue:

First, I ran into an exception during Java header compilation. Turbine does an unsafe cast [here](https://github.com/google/turbine/blob/3cdbf33bc600521b746d122e17e8d2f2c5e74491/java/com/google/turbine/processing/TurbineElements.java#L134), which caused an annotation processor to fail during header compilation. This seems

[2020-12-02 16:11] michajlo commented on #12602
Bazel should print the path of the file containing the dropped output, but that might not be in the version you're running.

We've resisted the partial output thing so far for performance and complexity reasons. Partial read cans be deceivingly expensive in certain implementations, and there are concerns about buffering too much output, especially in noisy builds. https://jmmv.dev/2020/09/bazel-ui

[2020-12-02 16:17] keith commented on #11628
Based on the comment on the other issue we might have to update some
selects?
--
--
Keith Smiley

[2020-12-02 17:19] philsc opened #12606 "Update Incompatible Target Skipping docs with @platforms//:incompatible constraint"
### Description of the problem / feature request:

The WORKSPACE entry for [@platforms](https://github.com/bazelbuild/platforms) points to a version that's over a year old. That means it doesn't have the `@platforms//:incompatible` constraint available.

I'd like to update the [Platforms docs](https://docs.bazel.build/versions/master/platforms.html) to use this new constraint instead of encouragin

[2020-12-02 17:26] c-mita commented on #10949
The internal `InstrumentationFilterTest` class derives `BuildViewTestCase`, which is similar to `AnalysisTestCase` for the purposes of this discussion.

Since we have internal tests, I would not worry too much about _where_ you implement your test case, since we don't need to pull in the test class itself and can instead, transfer the cases you write into the existing test class.

With a little bi

[2020-12-02 17:33] dhalperi commented on #12417
I've had no issues (for almost 3 weeks) along these lines after upgrading `buchgr/bazel-remote` past the version with concurrency fixes.

[2020-12-02 17:54] benjaminp commented on #12606
#11826

[2020-12-02 18:09] meteorcloudy commented on #12578
After hours of debugging.. I finally figured this out!

So the culprit is https://github.com/bazelbuild/bazel/commit/d10013de94a8d8aa19a85130c8c9ff0285852eda, where it introduced a genrule:
[code]

And this is what's happening in the postsubmit pipeline on CI:

- The CI runs `bazel test //src:all_windows_tests`
- Bazel plants the symlink tree for io_bazel at `C:/b/iwgf237n/execroot/io_bazel`. Beca

[2020-12-02 18:35] philwo commented on #12578
OMG, Yun! Thank you so much for all the debugging and figuring this out. 🤯 Of course, now that I read your explanation, it all makes sense. Just from looking at the `genrule`, it's very hard to see that this might cause these kind of problems, especially because it just happened to work and only affects non-sandboxed execution.

[2020-12-02 18:47] philwo commented on #12585
@victornain @whogodemo I checked the documentation of MediaPipe and I agree that it can lead to accidentally overwriting your MediaPipe source code with the Bazel code. I'll send the team a fix for the docs that will prevent this in the future!

[2020-12-02 19:06] juliexxia commented on #11128
@moroten to confirm re: the transition issue. There's nothing that you want to do but can't right? Using the non-workspace-prefixed version of //:my_flag in the transition works fine, just using @my_workspace//:my_flag doesn't do what's expected, is that correct?

[2020-12-02 19:20] limdor commented on #10949
Thanks for the hints @c-mita, I created a PR with the changes of the original PR, adding the missing include and adding some tests.
Just tell me if I got something wrong, last time I wrote Java code was more than 10 years ago :-)
https://github.com/bazelbuild/bazel/pull/12607

[2020-12-02 19:32] victornain commented on #12585
@philwo Thanks! In the meanwhile, what do you suggest we can do?

[2020-12-02 19:39] philwo commented on #12585
Assuming you're on Linux x86_64 (please let me know if you're on a different OS or architecture):

1. Install Bazel:

[code]

2. Install MediaPipe (Warning: this will delete any "mediapipe" folder in your home directory, in case you have one):

[code]

Now continue with step 3: "Install OpenCV and FFmpeg" of the MediaPipe installation guide: https://google.github.io/mediapipe/getting_started/insta

[2020-12-02 20:32] juliexxia commented on #11128
@katre is taking a look at the issues described in #10927

[2020-12-02 20:51] katre commented on #10927
Note to myself:

Here's the worrying code: https://cs.opensource.google/bazel/bazel/+/master:src/main/java/com/google/devtools/build/lib/skyframe/SingleToolchainResolutionFunction.java;drc=780199d619bbec2a7dd695773cc3018d4de6c1e7;l=138

The toolchainType Label from the actual toolchain target is directly compared to the toolchainType Label from the rule (either starlark's rule.toolchains parameter

[2020-12-02 21:03] josiahsrc opened #12608 "Bazel Language Server : Depend on the Bazel Starlark source code"
### Description of the problem / feature request:

Hello!

A few of my friends and I are working on developing a language server for bazel, built in java, for our university capstone project. We would like to use the java implementation of the starlark parser provided in this repo at the following location:

[code]

Our project is built using bazel, however we are unable to import these source fil

[2020-12-02 22:22] thii commented on #11628
The Java code that generates `HOST_CONSTRAINTS` returns `x86_64` for the current CPU, so I'm _guessing_ it's because of the embedded JDK.

[2020-12-02 22:53] det commented on #4005
Hello! I took a shot at implementing Clang Modules in a local bazel repo as this ticket said that everything for modules is already open-sourced. I believe I have implemented most of the crosstool features nearly correct (but maybe not?) and I am running into a couple issues:
1) I'm not sure how module maps for the C++ stdlib and sysroot should be handled:
   - You must provide a `crosstool.cppmap

[2020-12-02 23:29] keith commented on #11628
Can probably update that? https://github.com/bazelbuild/bazel/issues/11628#issuecomment-728222211

[2020-12-03 01:04] b4hand commented on #1394
So the actual way of how to run a repl for java was unclear to me, but eventually I was able to figure out how to run `jshell` by hand using the existing bazel support. I'm leaving this comment here for future people who search for "bazel repl" since that's what I was looking for the equivalent of pants support. Anyway, if you have a `java_binary` named `app`, you can use the following commands to

[2020-12-03 03:04] konste commented on #7364
Woohoo! Thank you!

[2020-12-03 03:10] dws-uber commented on #7364
Yay!

[2020-12-03 04:13] thii commented on #11628
It works!

There's no minimal arm64 JDK published yet so the output binary size is 200 MB. I wonder why minimizing JDK couldn't be done as part of the build.

[2020-12-03 05:53] erenon commented on #12602
That should be enough, thanks.

[2020-12-03 05:53] #12602 closed

[2020-12-03 07:05] coeuvre commented on #12203
Closing since it should be fixed by #12416. Feel free to reopen if it is still an issue.

[2020-12-03 07:05] #12203 closed

[2020-12-03 07:13] fmeum opened #12610 "Starlark build setting invoking go_context throws an exception"
### Description of the problem:

Bazel fails with `java.lang.IllegalStateException: method invocation returned null: toolchains()` when invoking `rules_go`'s `go_context` from a Starlark build setting rule.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

I have created a minimal example as [this gist](https://gist.github.com/fmeum/8

[2020-12-03 07:41] AustinSchuh commented on #12451
I'm realizing you might be waiting for me to make the tests pass, and I'm waiting for feedback to see if the approach looks reasonable before fixing the last tests.  Could I get a quick look?

[2020-12-03 07:44] hemisp opened #12611 "Build failure caused by name conflict between user defined repo name in local worksacpe and repo name in indirected depended repo name"
### Description of the problem / feature request:
When we wanna to declare dependency of both abseil-cpp and protobuf in WORKSPACE at the same time as below:

    if "com_google_protobuf" not in native.existing_rules():
        git_repository(
            name = "com_google_protobuf",
            remote = "git@code.faw.cn:third_party_repos/protobuf.git",
            tag = "v3.9.0",
        )
.....

[2020-12-03 07:59] comius commented on #12578
Thanks Yun for your effort. I didn't know I don't have a sandbox. Let me fix this issue properly, without putting some more perfume over a pig.

[2020-12-03 08:03] dmivankov opened #12612 "local_repository doesn't accept "-" in name"
### Description of the problem / feature request:

Setting name to "a-b" fails with

Error message is confusing, also other repository rules accept "-". Replacing "a-b" with "ab" makes repository work

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

WORKSPACE
[code]
then
[code]

### What operating system are you running Bazel on?

Ni

[2020-12-03 08:07] dmivankov commented on #12612
The issue seems to be that workspaces can't have "-" in name
[code]
also doesn't work.

[2020-12-03 08:08] dmivankov commented on #12612
"a_b" seems to work

[2020-12-03 08:18] yancl commented on #12591
@michajlo Thank you for pointing out the logic behind the server.pid exactly and I have confirmed that, very appreciate.

Yes, we didn't use NFS that is shared by multi host, we just run some bazel servers in each host and they share the same output path.

Yes, we plan to do the following to make CI(incremental build) fast&correct:
* each bazel server in container has its own namespace isolated `o

[2020-12-03 08:27] moroten commented on #11128
We have worked around by avoiding user flags and settings in the main workspace. Instead, we have `.bazelignored` directories defined as `local_repository` where we put them instead.

[2020-12-03 08:43] chsigg opened #12613 "flag_alias doesn't accept "-" in name"
### Description of the problem:

The new bazel command line option `--flag_alias` doesn't accept '-' in the alias name.

My hope is that this would be trivial to support.

### Bugs: what's the simplest, easiest way to reproduce this bug?

`bazel build --flag_alias=a-b=//:foo :all`

### What operating system are you running Bazel on?

Linux

### What's the output of `bazel info release`?

Using unr

[2020-12-03 08:54] dmivankov commented on #12612
https://github.com/bazelbuild/bazel/blob/a7e4a2b539aad8240672f19ac3c23b277f7915f8/src/main/java/com/google/devtools/build/lib/packages/WorkspaceGlobals.java#L52
https://github.com/bazelbuild/bazel/blob/50013ddb3d3010d0559a7ddbb611b9caf06f73b8/src/main/java/com/google/devtools/build/lib/cmdline/RepositoryName.java#L42
one of those may be wrong + lack of tests, some potential places to add tests
htt

[2020-12-03 08:59] meteorcloudy commented on #12578
Thanks you, glad I can help! 😉

[2020-12-03 09:02] chsigg opened #12614 "Accept config_settings in target_compatible_with"
### Description of the feature request:

bazel 4.0 adds a `target_compatible_with` common attribute that accepts a list `constraint_value`s. It would be great if it could also accept `config_setting`s.

### What underlying problem are you trying to solve with this feature?

I would like to mark a target to be compatible only if `:my_config_setting` is true, so that the target itself and all invers

[2020-12-03 09:03] dmivankov commented on #12612
Those two regexes are fine
[code]

[code]

[2020-12-03 09:07] dmivankov commented on #12612
Aha, fixed sometime after 3.3.1 where regex is
https://github.com/bazelbuild/bazel/blob/3.3.1/src/main/java/com/google/devtools/build/lib/packages/WorkspaceGlobals.java#L53

[2020-12-03 09:07] #12612 closed

[2020-12-03 12:28] jin commented on #12606
Closing as dupe of #11826.

[2020-12-03 12:28] #12606 closed

[2020-12-03 12:32] michajlo commented on #12591
I think the current behavior is expected and reasonable by virtue of the usage being pretty firmly in undefined behavior territory.

At a minimum documentation should be updated to include the caveats of this setup, if it isn't already. We could augment the pid-watcher functionality that caused the diff-pid case to bail, though that will only improve awareness, not safety, as it's unclear how much

[2020-12-03 12:33] fweikert commented on #12164
It works now: https://buildkite.com/bazel/bazel-bazel-github-presubmit/builds/7792

Pedro, thank you!

[2020-12-03 12:40] philwo commented on #12164
Looks like I might be able to fix this by just installing the `libncurses5` package in the container! I'll give it a try. :)

[2020-12-03 12:57] hevrard commented on #6298
We need a subset of this for AGI (https://github.com/google/agi), namely we just need to be able to add a custom `wrap.sh` into `<apk>/lib/<abi>/wrap.sh`.

[2020-12-03 14:17] gyias commented on #12545
a689d673abadf80f1efaf8ddaeee92d56fc2847b fixes this.

[2020-12-03 14:17] #12545 closed

[2020-12-03 15:05] juliexxia commented on #11128
That sounds reasonable to me. Out of curiosity, why did y'all chose that instead of keeping flags in the main workspace and always referring to them in transitions/bazelrc without the repo name attached? //:my_flag should infer @//:my_flag aka the main workspace. Did y'all try that and it didn't work or did you just avoid it due to the confusion described in this issue?

[2020-12-03 15:26] meisterT commented on #12455
#12545 is fixed by a689d673abadf80f1efaf8ddaeee92d56fc2847b

[2020-12-03 16:50] stefanbucur commented on #11128
In our case, the reason is that the transition and the build configuration flags are part of a library that is meant to be used in other projects: https://github.com/bazelbuild/rules_fuzzing

To simplify the specification of these flags on the command line, we encourage users to define their values as `--config`s in their own .bazelrc files, where they need to specify our workspace prefix (`@rules

[2020-12-03 16:51] shahms opened #12616 "ctx.expand_location() fails when resolving java_binary targets"
### Description of the problem / feature request:

When asked to expand a string containing "$(location //path/to/java:binary)" ctx.expand_location() complains that the rule produces two files: the executable script and the .jar file.  While technically true, it doesn't leave many good options for expanding the location of tool dependencies.

### Bugs: what's the simplest, easiest way to reproduce

[2020-12-03 16:51] philwo commented on #12444
I don't understand why `http.bzl` is not publicly visible. In `BUILD.repo` it is exported via this line:

https://github.com/bazelbuild/bazel/blob/35c27f3eb9a040d8f68280f34dd977d7fe894099/tools/build_defs/repo/BUILD.repo#L1

And the documentation says: "By default, file targets are visible only from the same package. To make a file accessible from another package, use exports_files. If the call to

[2020-12-03 16:54] philwo commented on #11628
I would love it, if we could do that. It would simplify our processes when updating a JDK so much. Unfortunately the last time we looked into it, `jlink` wasn't deterministic, so the build of Bazel would no longer be deterministic.

Looking at the upstream bug (I think it was https://bugs.openjdk.java.net/browse/JDK-8214230), it looks like that *may* have been fixed in newer JDKs! So we could try

[2020-12-03 16:57] pauldraper commented on #12444
Yeah, I would think so...IDK how the .repo mechanism works.

**WORKSPACE.bazel**

[code]

[code]

[code]

[2020-12-03 16:58] meisterT commented on #11628
Oh, wow. Having that fixed would indeed be nice. There's one more problem though that I see with running this as part of the build: it takes a whole lot of time to minimize. I don't want to add this into the critical path of our end-to-end tests, but also would like to test the real thing.

[2020-12-03 17:31] ahumesky commented on #11518
#8195 has been moved to 5.0, so we can look at this for next quarter

[2020-12-03 17:35] ahumesky commented on #11448
Updating this dependency is quite tricky, and the long term plan is to separate this code from Bazel all together, but that will take some time. https://github.com/bazelbuild/bazel/pull/10394 and https://github.com/bazelbuild/bazel/pull/11426 were unblocked by patching this dependency, so I'll close this

[2020-12-03 17:35] #11448 closed

[2020-12-03 18:30] ahumesky commented on #10527
Looks like this is solved by https://github.com/bazelbuild/bazel/pull/10911, please reopen if this is still an issue

[2020-12-03 18:30] #10527 closed

[2020-12-03 18:49] philsc commented on #12606
The intent of this ticket was to keep track of updating the docs, to which updating @platforms is a prerequisite.
That being said, I can submit a doc update PR without referencing a ticket.

[2020-12-03 19:33] ahumesky commented on #10461
Depending on a cc_library from an android_library should work, so maybe one workaround is to put an android_library between the cc_library and the kt_android_library. Other than that, this is more likely an issue for https://github.com/bazelbuild/rules_kotlin

[2020-12-03 19:33] #10461 closed

[2020-12-03 19:42] ahumesky commented on #10077
please feel free to send us a pull request for this, should be straight forward for us to merge it in

[2020-12-03 19:54] ahumesky commented on #8391
@cgruber we won't flip this flag until https://github.com/bazelbuild/bazel/issues/5354 is finished

[2020-12-03 19:56] ahumesky commented on #5354
Although we don't have a concrete timeline, this is being actively worked on this quarter and next. The soonest we can publish something that works in a minimal way is probably middle of Q1 2021.

[2020-12-03 20:57] alexeagle opened #12618 "Support --test_lang_filters for non-official _test rules"
For example, with a `go_test` target using rules_go, I'd hope to `--test_lang_filters=go` but get `WARNING: Unknown language 'go' in --test_lang_filters option` as documented

https://docs.bazel.build/versions/master/user-manual.html#flag--test_lang_filters

Of course as Bazel makes progress on moving rules to starlark I'd expect these "official" test rules to go away, so I hope there is a plan fo

[2020-12-03 21:18] ilanbiala commented on #12527
Not the particular case I had hit, but that above works. Is it possible to make it so that `null` is replaced with something more useful in this case?

[2020-12-03 21:25] alexeagle opened #12619 "java coverage crash on 4.0.0rc2"
running `bazel coverage //...` in a big multi-lang monorepo.
Bazel version `37a429ad12b4c9e6a62dbae4881a1ff03b81ab40` (4.0.0-rc2)
rules_java at `d43b0aa2d3b2173fcc54d3c194e89fa66cdc6e1a` (current HEAD)

let me know if I can provide anything else short of a minimal repro

[code]

[2020-12-03 21:28] alexeagle commented on #12619
From https://github.com/bazelbuild/bazel/blob/37a429ad12b4c9e6a62dbae4881a1ff03b81ab40/src/main/java/com/google/devtools/build/lib/rules/java/JavaCompilationHelper.java#L382
it looks like jacoco runner isn't in my Java toolchain. Seems like the conditional right above that line was meant to error out in this case, but fell through instead.

[2020-12-03 21:33] alexeagle commented on #12619
I see this was recently changed in https://github.com/bazelbuild/bazel/commit/29362026e2e3c1a2cdbbdd549176e8395426bdb4

[2020-12-03 21:44] katre commented on #11826
Assigning to @aiuto to handle a release.

[2020-12-03 21:51] philwo commented on #12164
With the new Ubuntu 20.04 Docker containers, all tests pass! 🎉

[2020-12-03 23:41] thii commented on #11628
If anyone wants to try it out, 013a24216b96c12484e1a38ddaf5c24a9cdff12f can build you a Bazel 4.0.0rc2 binary that targets Apple Silicon.

[code]

[2020-12-04 03:44] #12596 closed

[2020-12-04 03:45] jin commented on #12455
Jacoco crash reported in #12619 for rc2

[2020-12-04 03:46] jin commented on #12619
cc @comius

[2020-12-04 03:53] jin commented on #12537
It says it's optional, only needed if you want to build java targets.

"However, if you want to build Java code using Bazel, you have to install a JDK."

[2020-12-04 03:53] #12537 closed

[2020-12-04 06:57] sammi opened #12624 "bazel midl rule generated c++ header file and winmd file locates in different folder"
When I use bazel to generate c++ header source code and winmd file from midl file, I found MyType.winmd file is  in output folder, while MyType.h locates at same directory as source code MyType.idl. What I want is that my generated header file locates at the same folder as MyType.winmd file.

MyType.idl:
[code]

BUILD:
[code]

cmd.bzl:
[code]

midl.bat:
[code]

run command:
[code]
Generated MyType

[2020-12-04 07:03] sammi commented on #12624
If I adding generated header file in outputs, it make it worse, the MyType.h would not be generated.

BUILD:
[code]

midl(
    name = "MyType",
    idl = "MyType.idl",
    winmd = "MyType.winmd",
    header = "MyType.h",
)

cmd.bzl
[code]

it complains that cmd/MyType.h was not created.
C:\users\songy\_bazel_songy\ii27dtnu\execroot\com_github_sammi_tuware>"C:\Program Files (x86)\Windows Kits\10\bi

[2020-12-04 08:37] indragiek commented on #11628
For anyone who needs to use bazel to build an arm64 slice for running the iOS Simulator on Apple silicon, I posted a workaround here: https://github.com/bazelbuild/rules_apple/issues/980#issuecomment-738645357

[2020-12-04 08:39] meisterT commented on #12045
cc @Wyverald

I am surprised to see that this cyclic reference works. Xudong, do you know whether that's officially supported?

[2020-12-04 09:46] yancl commented on #12591
Thanks, I will leave this open for some time since it's tagged P4 now.

[2020-12-04 09:48] limdor commented on #12455
@philwo in the context of LTS, is it already know what will happen with the bug fixes that should go to the next 4.x release without having to wait for 5.0? I would like to request a cherry-pick for 4.x LTS, I do not think is needed for release 4.0 because has been broken for a long time.

[2020-12-04 10:38] #12619 closed

[2020-12-04 10:47] comius commented on #12605
cc @cushon

[2020-12-04 10:52] comius commented on #12616
Duplicate of https://github.com/bazelbuild/bazel/issues/10067

[2020-12-04 10:52] #12616 closed

[2020-12-04 10:55] comius commented on #12512
The repositories that are defined in jdk.WORKSPACE may be overwritten with custom ones in WORKSPACE files.

[2020-12-04 14:03] gergelyfabian commented on #11674
I tried to configure the java_toolchain in my project with a custom JacocoCoverage_jarjar_deploy.jar (built from a modified Bazel source, with Jacoco 0.8.6). Unfortunately it seems there is binary incompatibility between 0.8.6 and 0.8.3 (did not try with 0.8.5).

[2020-12-04 14:23] #12578 closed

[2020-12-04 16:31] gregestren commented on #10843
[3.71](https://github.com/bazelbuild/bazel/releases/tag/3.7.1)'s [baseline commit](https://github.com/bazelbuild/bazel/commit/a991db7c2f66a354666388d888dcef9b0d0f70c0) was on October 5 and [this commit](https://github.com/bazelbuild/bazel/commit/02cbcd2cf0ace5479e43228ffc7ceab6853d4cff) was October 19. So I suppose not.

It looks like [4.0](https://github.com/bazelbuild/bazel/issues/12455) will ha

[2020-12-04 16:46] aiuto commented on #11826
I did the release, https://github.com/bazelbuild/platforms/releases/tag/0.0.2
Now we have to update bazel

[2020-12-04 17:37] aiuto commented on #12403
@mai93 No one seems to know which team this really belongs to. Can you offer an assessment.

[2020-12-04 17:53] GMNGeoffrey opened #12630 "Every .bzl file must have a corresponding package, but X does not have one"
### Description of the problem / feature request:

Twice in the last two days when returning to rebuild a Bazel project, I've seen an error about it being unable to find the .bzl file for rules_cc rules. I think this has to do with the implicit loading of rules_cc by Bazel, as you'll notice that nowhere is that file mentioned in the repository (https://sourcegraph.com/search?q=repo:%5Egithub%5C.co

[2020-12-04 18:00] GMNGeoffrey opened #12631 "Can't find rules_cc bzl file, only fixable by expunge"
### Description of the problem / feature request:

Twice in the last two days when returning to rebuild a Bazel project, I've seen an error about it being unable to find the .bzl file for rules_cc rules. I think this has to do with the implicit loading of rules_cc by Bazel, as you'll notice that nowhere is that file mentioned in the repository (https://sourcegraph.com/search?q=repo:%5Egithub%5C.co

[2020-12-04 18:20] michaeledgar commented on #12575
I've successfully reproduced this issue using the steps provided. I'm looking into a fix now. Thanks for reporting this!

[2020-12-04 18:28] siggisim commented on #12575
Thanks @michaeledgar ! Really appreciate you taking the time to look into this. Let me know if I can help in any way.

If you have any thoughts on the ThreadPool shutdown stacktrace at the bottom (whether the fix for this might address that or not) I'd be super appreciative. Happy to open a second issue if not - working furiously on finding a reliable repro case for that one as we speak.

[2020-12-04 18:38] gregestren commented on #12589
Rationale for me changing the label: `team-Configurability` owns `cquery` issues while @meisterT via `team-Performance` owns `query` ones.

I realize there's overlap which sometimes muddles this. For example, both commands support `--output=build` and `select` is clearly `cquery-`-related. But I think this particular report could only happen through `query` (unless `None` appears outside of a `sel

[2020-12-04 18:41] gregestren commented on #12614
Interesting. What conditions are you interested in?

CC @AustinSchuh @philsc

[2020-12-04 18:42] gregestren commented on #12614
We've also had some interesting discussion on compatibility based on toolchain properties (like compiler type) from the advent of this feature. So maybe there's conceptual overlap?

[2020-12-04 18:44] katre commented on #12618
No one has worked on `--test_lang_filters` in quite some time. I'm going to assign this to the rules team so that @lberki can decide if this is functionality to keep or to deprecate.

In the meantime, you can work around this with `bazel query`:
[code]

Definitely clunkier, but it will get the job done, and you can add additional filtering to the query.

[2020-12-04 18:45] katre commented on #12582
Was this fixed by #12601 and 84fadcf81f81b2d7343ca4151a5639be7f2263ee?

[2020-12-04 18:46] katre commented on #12582
Closing for now, please re-open if there's something I've missed.

[2020-12-04 18:57] philsc commented on #12582
Yes, sorry. This is now fixed. Thanks!

[2020-12-04 18:57] #12582 closed

[2020-12-04 19:04] chsigg commented on #12614
I hope I understand your question correctly, that you are referring to the attributes of `config_setting`. I would probably only need config_settings that use the flag_values attribute.

[2020-12-04 19:12] AustinSchuh commented on #12614
@gregestren, This is in our original proposal, but was deferred until a second phase so we could get something working first.  It was how I've been thinking about implementing toolchain property based skipping.  So yea, sounds great!

[2020-12-04 20:49] cushon commented on #12605
Thanks for the report and the nice repro. I agree the cast seems like a straightforward bug.

(The turbine repo now accepts issues also, I think that was just an oversight.)

The mac/linux different here is because it's using different turbine implementations, see `turbine_direct_binary_deploy.jar` vs. `turbine_deploy.jar`. @comius do you know why that's happening here? I'd expect that behaviour t

[2020-12-04 21:18] josiahsrc commented on #12608
Update:

We've forked the repo and added a workaround to create a jar file from the starlark source files. These changes are available [here](https://github.com/BYU-Bazel/bazel/tree/dependable-packages).

This, however, doesn't fully fix the problem. We would like to depend on the up-to-date source files provided in this repo.

[2020-12-04 21:22] cushon commented on #12605
I submitted a fix: https://github.com/google/turbine/commit/b2a0c703a7c870f3f895fce1a00231085c1a9ae9

We'll need to update the version of turbine in `java_tools` for the fix to be visible in Bazel.

[2020-12-04 22:54] comius commented on #12605
Linux in the first output of `$ bazel aquery --cpu=darwin --config=jdk15 //:C1` is explained by not using `--host_cpu = darwin`, and in Bazel java runtime for JavaBuilder or Turbine is still determined by host transition.

The second query `$ bazel aquery  --config=jdk15 //:C1` is "explained", by there is a different version of java_toolchain_default.bzl packed into java_tools_linux 10.1 and java_

[2020-12-04 23:33] dmitrig01 commented on #12045
Cyclic reference between the two repositories you mean? interesting – I use it frequently. specifically, I have my main monorepo, but I have various http_archive dependencies for which I specify a build_file, which uses rules from my main repository, imported like this.

Is it not officially supported in general for all usage, or specifically within the scope of returning interesting/intelligent r

[2020-12-05 01:53] yaojingguo commented on #12537
@jin Thanks for pointing this out

[2020-12-05 02:00] philsc commented on #12614
Just so I understand properly. Is this functionally equivalent to creating a helper like this?
[code]
and then using it like so:
[code]
Pretty sure you can do the above today.

Again, so I'm clear exactly what we're talking about, you'd like to get rid of the need for a helper function like `config_compatible()` above?

[2020-12-05 04:47] JaredNeil commented on #7382
Looks like this was fixed in response to #12125. Not sure how I didn't find this when I was searching for issues before creating that one.

[2020-12-05 06:40] JaredNeil opened #12635 "BwtB deletes needed runfiles from output base"
### Description of the problem:

With `--remote_download_toplevel`, runfiles are not downloaded even if they are missing from the output base under certain circumstances.
If a target that is used as `data` in a `bazel test` is cached, it will be downloaded for the test, but then [deleted right afterward](https://github.com/bazelbuild/bazel/blob/9b9bda625bd39f8853c99261bb7924c815d00161/src/main/jav

[2020-12-05 07:55] gergelyfabian commented on #11674
I tried with 0.8.5, generating coverage data works, but I still see the old output (Scala lambdas - the for comprehension lines - are not covered).

Here is the example:

https://github.com/gergelyfabian/bazel-scala-example/tree/jacoco_coverage_fix

[2020-12-05 08:16] gergelyfabian commented on #11674
Now I know the reason is rules_scala is not using the jacocorunner from the Java toolchain, but it has the path to the runner hardcoded.

[2020-12-05 08:24] gergelyfabian commented on #11674
Customizable jacocorunner in rules_scala: https://github.com/gergelyfabian/rules_scala/tree/custom_jacocorunner

[2020-12-05 20:05] davido opened #12636 "No test coverage is produced when test and source located in different packages"
I'm seeing this behaviour on Bazel@HEAD (11d85c0e370755e24287af66362eb18c14310231)

`Bazel coverage` doesn't produce any coverage results if source and test rules located in different packages.

Consider these two reproducers:

### Same package, works as expected
https://github.com/davido/bazel_coverage_src_and_test_same_package

### Different packages, no coverage is produced
https://github.com/d

[2020-12-05 20:12] keith commented on #12636
Worth testing --instrumentation_filter, I believe that's inferred as the package of the test

[2020-12-06 02:29] dxq174510447 opened #12640 "bazel compile c++ error on mascos10.15.7"
### Description of the problem / feature request:

...
**SUBCOMMAND**: # //src:t1 [action 'Linking src/libt1.a', configuration: 958ce8893498ab442afa51cce4eb24304a4ecae705fca8ecb7b57fdab52f8011]
(cd /private/var/tmp/_bazel_dengxiaoqian/52cacb9c84a09b383e18d0ecdbf561f4/execroot/__main__ && \
  exec env - \
    APPLE_SDK_PLATFORM=MacOSX \
    APPLE_SDK_VERSION_OVERRIDE=11.0 \
    BAZEL_COMPILER=clang

[2020-12-06 09:08] xiedeacc opened #12641 "bazel coverage -s //... error for cpplint"
bazel test -s //... success while bazel coverage -s //... report an error, below was error log, I used cpplint in my project

notice I‘m use zsh insted bash

or how to ignore cpplint test, I have define --test_tag_filters in .bazelrc file

SUBCOMMAND: # //src:http_data_util_test_cpplint [action 'Testing //src:http_data_util_test_cpplint', configuration: 5c6cb178eea3eb4c64a77d784918faadbe81ba8b0640

[2020-12-06 10:25] chsigg commented on #12614
Ha! Thanks a lot for thinking of this Philipp.

Yes, `select`ing on the target_compatible_with would be a perfectly fine alternative. I don't mind the helper function.

In fact, that's what I used before I realized that you can (currently, and I hear it might go away) `select` on the `default_constraint_value`. But by the time I wrote this issue I had already forgotten :-(

I'm happy with Philipp'

[2020-12-06 14:42] #12641 closed

[2020-12-07 00:14] stefanbucur commented on #11128
It turns out that the configuration flag *does* get interpreted in the context of the top-level workspace, so a rules repository library defining a transition on a configuration flag must reference that flag using the repository name. This means that our own `.bazelrc` file must reference those flags using the full repository name (see for example bazelbuild/rules_fuzzing#91).

If this is intended

[2020-12-07 02:44] hemisp commented on #12611
@jin any progress on this issue?

[2020-12-07 06:24] philsc commented on #12412
@konste , could you please take a look at the doc when you get a chance? You should have full edit access.
I'd love to hear what you're thinking.

[2020-12-07 07:22] gergelyfabian commented on #11674
I managed to make this solution with java_toolchain work.

1. Check out https://github.com/gergelyfabian/jacoco/tree/0.8.3-scala-lambda-fix (has the Scala fixes backported to 0.8.3)
2. Build org.jacoco.core (mvn clean package)
3. **Modify the built jar file to replace org/jacoco/core/jacoco.properties in it with the version from Bazel's third_party/java/jacoco/org.jacoco.agent-0.8.3.jar**. (I gues

[2020-12-07 08:05] thii commented on #11628
This seems to break cross-compiling (as it was mentioned in the commit message). What's the proper way to cross-compile Bazel now? (I've tried to create a `platform` target and build with that but it failed to detect C++ toolchain.)

[2020-12-07 08:09] peter-db commented on #4867
Hey, just wanted to share the option I've gone with to invoke CLI tools build via Bazel:

[code]

[2020-12-07 08:46] comius commented on #12455
The crash was fix and may be cherry-picked.

[2020-12-07 08:50] comius commented on #12455
Another issue was discovered in Turbine, which affect Java 15 compilations (potentially also other versions) https://github.com/bazelbuild/bazel/issues/12605. The fix is more tricky, because we are already at java_tools 11.0, and I need to backport a fix to java_tools v10 and release v10.5. (and v11.1).

[2020-12-07 08:55] #11826 closed

[2020-12-07 09:11] #12376 closed

[2020-12-07 09:11] #12377 closed

[2020-12-07 10:16] fweikert commented on #12164
Thanks for installing the package! I'll send a PR to re-enable the tests.

[2020-12-07 10:16] #12164 closed

[2020-12-07 10:39] #12497 closed

[2020-12-07 12:27] comius commented on #12605
@jfancher would you mind adding a license to your reproduction repo? I would like to use the code for the regression test.

The failure happens on all JDK versions (not just 15).

[2020-12-07 13:28] Gormo commented on #12455
We've seen an issue on Windows on 4.0.0rc2
ERROR: C:/####/BUILD.bazel:7:8: Executing genrule @##//####:generate_ids failed: Exec failed due to IOException: Cannot delete path '/dev/null': ERROR: src/main/native/windows/file-jni.cc(156): nativeDeletePath(\\?\\dev\null): ERROR: src/main/native/windows/file.cc(624): DeletePath(\\?\\dev\null): expected an absolute Windows path

Seen both triggered fro

[2020-12-07 13:31] comius commented on #12455
v10.5 release is in 4e5d0fd, which should also be cherry-picked
optionally also cherrypick 9a3552c, that is turbine_deploy.jar, it doesn't affect bazel binaries, but it might help the posterity

[2020-12-07 13:33] comius commented on #12605
For blaze versions <= 4.0.0 the issues is fixed by java_tools release 10.5 https://github.com/bazelbuild/java_tools/releases/tag/javac11_v10.5

[2020-12-07 13:40] philwo commented on #12455
@Gormo Thanks for pointing that out. I checked with @meteorcloudy but it doesn't ring a bell.. we'll have to investigate further. If you find out anything, please let us know!

In the meantime I'll go ahead with 4.0.0rc3 so that the new cherry-picks get some exposure.

[2020-12-07 13:50] jmillikin commented on #12455
Would it be possible to cherry-pick https://github.com/bazelbuild/bazel/commit/8555789dd239a5ac229c1d9cee80b2a9f30b3bf7 into v4.0 ? If not, could it be queued up for the first v4.x patch release?

[2020-12-07 13:57] philwo commented on #12455
@jmillikin I'm currently not picky when it comes to cherry picks. 😏 Happy to add it.

[2020-12-07 14:02] jfancher commented on #12605
When you say it happens on all versions, do you mean at Bazel head? Or with that tools release? To clarify my original report -- on macOS, Bazel 3.7, and Java 11, my reproducer build passes (for me). I updated the `.bazelrc` to specify the exact Java 11 runtime/toolchain I tested with; I forgot to push that previously.

Anyway, my confusion aside, it sounds like you figured out what's going on --

[2020-12-07 14:06] thii opened #12671 "Swift host tools compiled with wrong cpu on Apple Silicon"
Host tools are being compiled for `x86_64` cpu when compiling a target that uses them on an arm Mac, with an arm Bazel.

[code]

[code]

[code]

It works fine if we build the tool directly with `--macos_cpus=arm64`.

Tools written in C/C++ work fine.

I'm using a custom build for darwin arm64 at https://github.com/thii/bazel/tree/4.0.0-darwin_arm64 (based on 4.0.0rc2), so there’s a possibility tha

[2020-12-07 14:06] meteorcloudy commented on #12455
@Gormo If you can provide a minimal repro case, I'm happy to help bisect and probably send a fix for this issue.

[2020-12-07 14:07] ulrfa commented on #12568
Thanks @gregestren!

Could the output directory calculation start from the leafs in the build graph? (that don’t have any dependencies)

And let the output directory hash of each action, be calculated based on the output directory hashes of its direct dependencies?

Like `hash ( all_options_except_from_non_visible_user_defined_build_settings + output_directory_hashes_of_all_direct_dependencies )`

[2020-12-07 14:25] Flamefire commented on #4137
I just ran into this again: The `generate-xml.sh` shell script contained in Bazel is also run via the process-wrapper but any stdout/stderr is supressed. Hence all I got was:
[code]

So only a very generic failure. After days of digging I modified the Bazel sources so I found that there are some log files with that executions stdout/stderr and that told me it is the process-wrapper again.

So take

[2020-12-07 14:27] Flamefire commented on #12579
Turns out that this is caused by the process-wrapper binary build with a different (LD_)LIBRARY_PATH than what it is executed in.

So either that binary shouldn't be build with the LIBRARY_PATH vars or (better): This action should get passed the local PATH and LD_LIBRARY_PATH, similar to most other actions. See also #4137

[2020-12-07 14:30] Flamefire opened #12649 "Missing stderr for failed test XML creation"
### Description of the problem / feature request:

I'm running some test of TensorFlow using bazel but on our multi-core POWER9 system it fails with e.g.

`ERROR: /dev/shm/s3248973-EasyBuild/TensorFlow/2.4.0/fosscuda-2019b-Python-3.7.4/TensorFlow/tensorflow-r2.4/tensorflow/core/platform/BUILD:1142:11:  failed (Exit 1): generate-xml.sh failed: error executing command `

I.e. there is no good error

[2020-12-07 15:41] comius commented on #12605
It worked for you because of double failure. java_tools release 10.1 incorrectly uses Turbine instead of TurbineDirect on some OS, JDK combinations.

With newer java_tools TurbineDirect is correctly used and fails for all JDK versions.

[2020-12-07 15:53] meteorcloudy commented on #12579
@Flamefire Thanks for figuring out the root cause! (and sorry for not recalling the issue..
Patching Bazel with https://github.com/bazelbuild/bazel/pull/12651 should fix the problem, but I'm not sure it will get merged since we're also trying to shrink the Bazel binary size as much as possible and it does the opposite.

In the meantime, passing --action_env=LD_LIBRARY_PATH to the build could also

[2020-12-07 16:32] Flamefire commented on #12579
I just tried that: Passing `--action_env=LD_LIBRARY_PATH` to `bazel test` does not work for the generate-xml which seems to use an entirely new and very minimal environment.

[2020-12-07 16:40] philwo commented on #12455
Building 4.0.0rc3 now:
[code]

[2020-12-07 16:52] zhengwei143 commented on #8900
We are re-thinking the changes that fixed this issue and are considering changing the documentation to match this behaviour instead.

But first we would like to check whether this would be a big issue with you (that it will continue to print the location of the source file within the BUILD file instead)?

[2020-12-07 16:53] alandonovan commented on #12322
This feature cannot be implemented as described, because the actual location of a generated file target is not known during package loading; it is a function of the configuration, computed during analysis. In other words, the best blaze query can do is a white lie:

[code]

[2020-12-07 17:09] meteorcloudy commented on #12579
How about --test_env=LD_LIBRARY_PATH?

[2020-12-07 17:12] meteorcloudy commented on #12579
If you build with "-s", can you see the correct `LD_LIBRARY_PATH` being set?

[2020-12-07 18:08] limdor commented on #12455
@philwo I see that a9419f38d5f29af31a6c8ebda09a6e0303a6ba54 did not made it in in the end. Any option to get it in case there is another rc?

[2020-12-07 18:12] keith commented on #10949
Does that PR fix this one? If so I can close this

[2020-12-07 18:23] limdor commented on #10949
Yes, and I would also recommend to close https://github.com/bazelbuild/bazel/pull/11690

[2020-12-07 18:24] philwo commented on #12455
@limdor Sorry :( This change wasn't mentioned here in this issue at all, thus I missed it in the end when compiling the list of cherry-picks. I'll do another rc4 with that cherry-pick now.

Everyone - for future cherry-picks, please add a comment on this issue, even if you told me just minutes ago somewhere else that it should get into 4.0. I can't keep track of all the things that are in flight i

[2020-12-07 18:24] #10949 closed

[2020-12-07 18:26] stefanbucur commented on #11128
Somewhat related to this discussion, I discovered another weird behavior. For label-typed flags (the `label_flag` rule), using the repo name prefix (`@my_workspace//:my_label_flag`) on the command line has no effect on the configuration, regardless of whether the flag is used with or without the prefix in the Starlark code.

In our case, we use a label flag to control a cc_library dependency in a

[2020-12-07 18:28] philwo commented on #12455
Building 4.0.0rc4 now:

[code]

[2020-12-07 20:27] gregestren commented on #12568
That's an interesting idea. Maybe?

It reads to me like basically doing "manual tagging"  in a more automated way. In other words,

    build_setting(
        name = "my_setting",
        visibility = ["//foo:__pkg__"]
    )

is similar to manually tagging every target not in `//foo` with `does_not_use = ["my_setting"]`. This wouldn't work for graph size (i.e. stripping `my_setting` from the confi

[2020-12-07 21:01] wchargin commented on #8900
It would certainly be inconvenient. This issue has 6 upvotes (not
including me), which puts it in the top 3.5% of open issues sorted by
vote count.

Finding the source file on disk is often useful, but I’ve never wanted
this to produce a location in a BUILD file (the bad behavior).
If I wanted that, I’d look at `same_pkg_direct_rdeps` or something.

[2020-12-07 21:02] #11381 closed

[2020-12-07 21:38] thii opened #12655 "Failed to detect cc toolchain when cross-compiling from darwin_x86_64 to darwin_arm64 with --platforms"
### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

- Add this new target to the root BUILD file.

[code]

- Build with:
[code]

### What operating system are you running Bazel on?

macOS 11.0.1 (Intel cpu)

### What's the output of `bazel info release`?

[code]
### If `bazel info release` returns "development version" or "(@non-git)", t

[2020-12-07 21:40] gregestren commented on #12413
To play devil's advocate, there's something to be said for leveraging tools that make otherwise large refactorings manageable. Hundreds of packages doesn't intrinsically have to be an obstacle to a maintainable approach with the `package()` function.

[Buildozer](https://github.com/bazelbuild/buildtools/tree/master/buildozer) is a great such tool (I don't know how well it handles `package()` speci

[2020-12-07 21:46] katre commented on #12655
There's a dummy cc toolchain that should have been picked up and been unused (since `--incompatible_cc_enable_toolchain_resolution` is not set).

Need to debug and figure out why.

[2020-12-07 21:48] gregestren commented on #12614
Closing as acknowledged.

To be clear, my preference is to try to limit built-in Bazel support to `constraint_value` and the mentioned to-be-implemented toolchain properties.

I like that a reasonable user-space approach was identified here, so you can get what you need without stretching Bazel's core API complexity.

[2020-12-07 21:48] #12614 closed

[2020-12-07 22:12] konste commented on #12413
Bulk edits are a viable solution for a real monorepo. In our case a substantial part of the code lives in individually owned Git repos and making a change to each of them requires a merge request and approval from the respective team by their respective rules. This makes any potential bulk update a nightmare.

[2020-12-07 22:39] philwo commented on #12455
Bazel 4.0.0rc4 postsubmit green: https://buildkite.com/bazel/bazel-bazel/builds/14846

Pushing the release candidate now.

[2020-12-07 23:48] wisechengyi commented on #7489
Hi @laszlocsomor,

Please kindly reopen the issue if you think the case is valid, and redirect if you are no longer active on bazel.

I'd like to raise this again on behalf of Twitter, multiple `--bazelrc` on CLI would be useful for me for various reasons:
1. Mostly importantly, we will have very long argument lists to pass to `bazel query`, so they have to be in a bazelrc file. From the info abov

[2020-12-08 01:43] konste commented on #12412
Thanks @philsc ! I will try to get to it soon.

[2020-12-08 05:55] fmeum commented on #12610
I can confirm that this is still reproducible with 4.0.0. rc2.

[2020-12-08 07:14] #6118 closed

[2020-12-08 07:48] laszlocsomor commented on #7489
@meisterT could you please re-route

[2020-12-08 08:21] Flamefire commented on #12579
I'm currently double checking but I doubt it will make a difference. I'm working with TensorFlow here and it has a line `test --test_env=LD_LIBRARY_PATH` in the  `.tf_configure.bazelrc` which I assume has the same effect. Output from that is in the OP, so no, not set.
TBH I find it very confusing how and when Bazel decides to set environment variables. I found at least 4 different settings: One wi

[2020-12-08 09:29] sgammon commented on #5426
@asiekkowa unfortunately, no, and now on bazel `3.7.0` it's still broken :(

[2020-12-08 09:29] dxq174510447 commented on #12640
change target ,will be ok
[code]

[2020-12-08 09:29] #12640 closed

[2020-12-08 09:30] gibfahn opened #12656 "Allow only downloading important outputs, e.g. with a --remote_download_important"
tl;dr could we add a `--remote_download_important` flag that only downloads "important outputs".

## Background

We maintain a Remote Execution cluster internally, and want to make it easy for users to get the benefits of remote execution without the pain-points.
When moving locally → remotely, all artifacts are now built on remote executors, and thus not not necessarily downloaded locally. Bazel

[2020-12-08 09:30] coeuvre commented on #10902
@ulfjack I am looking into separating download from execution. Any suggestions for the implementation details?

[2020-12-08 09:54] ulrfa opened #12657 "Avoid plaintext warning when .netrc doesn't contain uri of HTTP cache"
### Description of the problem / feature request:

We have a .netrc that **does not contain the uri of our HTTP cache**. The .netrc only contains credential for **other purposes**.

We use a HTTP cache without authentication. We are not using HTTPS for performance reasons.

We don't want the new warning printed by bazel: _"Username and password from .netrc is transmitted in plaintext. Please consi

[2020-12-08 10:10] ulrfa commented on #7489
Thanks for reopening @meisterT. This would be useful also for Ericsson, for the same reasons mentioned by @wisechengyi.

[2020-12-08 10:20] Flamefire commented on #12579
Tests finished, and as expected above no difference even with `--test_env` and `LD_LIBRARY_PATH` does not appear so the output from the OP is unchanged.

[2020-12-08 11:59] philwo commented on #7489
I'm in favor of supporting this and can't think of good reasons not to. 🤔

The concerns that Laszlo had earlier about backend systems (e.g. logging, monitoring, ...) assuming that --bazelrc is a singular option might be annoying if true, I agree with that. But as you all said, Bazel already supports multiple sources of bazelrcs already anyway, so the concept of having multiple files at least isn't

[2020-12-08 13:09] meteorcloudy commented on #12579
@Flamefire I think I know the problem, it's because Bazel hardcodes the environment variables for the xml generation action..
https://cs.opensource.google/bazel/bazel/+/master:src/main/java/com/google/devtools/build/lib/exec/StandaloneTestStrategy.java;l=409

Looks like this bug change only be fixed from Bazel code, I'll send [a patch](https://github.com/bazelbuild/bazel/pull/12659) for this.

[2020-12-08 13:10] meteorcloudy commented on #12579
You can apply this patch and build a customised Bazel as a workaround, I'll merge this change once it passes review.

[2020-12-08 13:15] Flamefire commented on #12579
Thanks. My current workaround is building Bazel with `export BAZEL_LINKOPTS=-static-libstdc++:-static-libgcc BAZEL_LINKLIBS=-l%:libstdc++.a:-lm` which also works. Should be the same as #12651

[2020-12-08 13:45] hillguo opened #12660 "bazel third-party CPP library relative path"
Depending on the third-party CPP library, some directory header files contain the relative path of.. /. / how to introduce bazel

[2020-12-08 13:48] hillguo commented on #12660
![image](https://user-images.githubusercontent.com/29300108/101491801-251a5c80-399f-11eb-83cf-b9d884f8e422.png)

[2020-12-08 14:08] alandonovan commented on #10727
This work is underway.

[2020-12-08 14:09] alandonovan commented on #9422
Chris, does the new Starlark-expression output formatter essentially fix this issue?

[2020-12-08 14:11] alandonovan commented on #8195
Status: still awaiting cleanup and flag flip.

[2020-12-08 14:12] alandonovan commented on #11000
Dup of Google-internal issue: b/122552411.

[2020-12-08 14:14] katre commented on #12655
Apparently the dummy toolchainwas successfully removed, which means there's nothing left to be resolved. Are you compiling on a Mac (with xcode tools)? We should be able to configure those to handle an arm64/darwin build.

[2020-12-08 14:18] alandonovan commented on #7977
Chris, could you update the status, and the priority if this is not active work? Thanks.

[2020-12-08 14:19] alandonovan commented on #11437
Status update: this work is underway.

[2020-12-08 14:20] meisterT commented on #7998
If you ended up on this issue you might be interested in https://www.youtube.com/watch?v=d7q1cVLuRhY&list=PLxNYxgaZ8RseRybXNbopHRv6-wGmFr04n&index=3

[2020-12-08 14:22] meisterT commented on #10679
Looks fixed.

[2020-12-08 14:22] #10679 closed

[2020-12-08 14:25] meisterT commented on #8230
While this is a pain point for users, there doesn't seem to be low hanging fruits and we don't have the bandwidth at the moment to work on this. Contributions welcome!

[2020-12-08 14:59] meisterT commented on #11163
cc @larsrc-google

[2020-12-08 15:11] larsrc-google commented on #12466
Downgrading to P2 for lack of response.

[2020-12-08 15:13] thii commented on #12655
I'm compiling on a Mac with the latest stable Xcode and command line tools. Is there anything I'm missing?

[2020-12-08 15:29] philwo commented on #12624
If I understand correctly the `MyType.h` and `MyType.winmd` files are both created by your `midl.cmd` tool, right? But the `.h` is generated next to the source file and the `.winmd` file is generated in the output dir?

In that case, you have to somehow convince the midl Tool that you're calling to generate the `.h` file not next to the source file but also in the output dir file (like the `.winmd

[2020-12-08 15:29] #12624 closed

[2020-12-08 15:34] katre commented on #12655
No, we need to update the mac autoconfig (in https://cs.opensource.google/bazel/bazel/+/master:tools/cpp/osx_cc_configure.bzl and https://cs.opensource.google/bazel/bazel/+/master:tools/osx/crosstool/BUILD.tpl) needs to also write a `cc_toolchain` and `toolchain` for macos/arm64. I'm kind of surprised that even without the constraint issue you flagged, the build succeeds because I don't see any le

[2020-12-08 15:37] philwo commented on #12611
Yes, this is currently working as intended and nothing we can do about.

We are addressing this in a redesign of the entire external dependency feature: https://docs.google.com/document/d/1moQfNcEIttsk6vYanNKIy3ZuK53hQUFq1b1r0rmsYVg/edit