[2017-02-10 07:45] damienmg commented on #2502
Tentatively fixed by mid year, no time for it currently, feel free to add this check to cc_configure (contribution welcome) :)

[2017-02-10 07:53] damienmg commented on #1525
I don't really know what to do next with that bug so giving the hot potato to Ulf :p

[2017-02-10 07:54] damienmg commented on #2501
Great! Thanks for telling us!

[2017-02-10 07:54] #2501 closed

[2017-02-10 07:58] jcarlostrillo commented on #760
I also was able to build Bazel 0.4.4 and Tensorflow v1.0.0-rc2 on CentOS 6.8.
I was using the gcc compiler in 4.8.2 version.

What about the GLIBC library? Well I was using  the GLIBC_2.14 version on my CentOS. How? I took the version included by NoMachine (more info here https://www.nomachine.com/download/download&id=5). Once installed, you can import that library in a session terminal (tmux) wit

[2017-02-10 11:28] laszlocsomor opened #2520 "Path handling: use `PathFragment.isAbsolute` instead of `path.startsWith("/")`"
Bazel often uses `path.startsWith("/")` to check of a path is absolute. This only works on Linux/Darwin and breaks on Windows. Fix these locations to use `PathFragment.isAbsolute` instead.

This has caused at least one known bug: when `JAVA_HOME` is set to an absolute Windows path, Bazel believes it isn't an absolute path. (Came up in https://github.com/bazelbuild/bazel/issues/2473).

[2017-02-10 12:19] ulfjack commented on #2490
So, assuming that Kristina is right and that these files should be treated as source files, I dug even deeper. The symptom is that ArtifactFactory doesn't return the correct Artifact. What's likely happening is that the PackageRootResolver is returning the wrong package root. PackageRootResolver is implemented by SkyframeExecutor.getArtifactRoots, which contains this code:

    PathFragment parent

[2017-02-10 12:19] lberki commented on #2483
I tried with the following setup and also with `b.cc` being a `cc_binary` and I'm changing `-DFOO=2` to a different integer:

a.cc:
[code]

b.cc:
[code]

BUILD:
[code]

and it seems to be working as expected. @meteorcloudy , can you try it on Windows?

We may have some issues with the action cache. @ulfjack also fixed an embarrassing bug in action caching recently which may by in play, although th

[2017-02-10 12:50] meteorcloudy commented on #2483
Tried the example given by @lberki on Windows, everything is working expected.
`b.cc` didn't get recompiled, only `b.exe` got re-linked which is expected.

[code]

[2017-02-10 14:27] ulfjack commented on #2483
The action cache issue also affects re-analysis, not just server restart. Note that it is only reproducible if you have header files in the cc_library. E.g.:

    cc_library(name = "foo", srcs = ["foo.cc", "foo.h", "bar.h"])

[2017-02-10 14:58] ulfjack commented on #2490
I accidentally tried to reproduce this with an old bazel binary - pre 4ec02263fa630e97ce9a749a02efe9cf64838690 - and couldn't reproduce, so this problem must have been introduced in the last ~25 days.

[2017-02-10 14:59] geralt32 commented on #2515
Haven't tried that yet. What worked was adding `use_default_shell_env=True,` to the protobuf.bzl file in the cache:
`ctx.action(
        inputs=inputs,
        outputs=ctx.outputs.outs,
        arguments=args + import_flags + [s.path for s in srcs],
        executable=ctx.executable.protoc,
        mnemonic="ProtoCompile",
        use_default_shell_env=True,
)`

together with some hardcoded paths

[2017-02-10 15:02] ulfjack commented on #2490
It fails at 54223b019817c329d7bff1c174d497ef3d64695a, at least, so somewhere between 16 and 25 days ago.

[2017-02-10 15:05] ulfjack commented on #2490
No, my bad. It works at 54223b0.

[2017-02-10 15:06] ulfjack commented on #2490
It fails at 840acb1, so that's where this bug got introduced. @lberki

[2017-02-10 15:08] ittaiz commented on #2490
@Ulf- binary search? ;)
On Fri, 10 Feb 2017 at 17:06 Ulf Adams <notifications@github.com> wrote:

[2017-02-10 15:24] kchodorow commented on #2515
Oh yeah, use_default_shell_env is probaby easier.  Let us know how it works out.

[2017-02-10 15:37] #2222 closed

[2017-02-10 15:37] #2088 closed

[2017-02-10 15:50] ulfjack commented on #2490
Meh. We have two Skyframe implementations of PackageRootResolver, and I was looking at the wrong one. The correct one is ActionExecutionFunction.PackageRootResolverWithEnvironment.

[2017-02-10 15:52] ulfjack commented on #2490
Well, this isn't working. I get the wrong source root back from the root resolution, except I don't know why. Here's the source root I get: /private/var/tmp/_bazel_ulfjack/fe875d5ca7c5e5732f6aae397d7cdf99/external/local_config_cc[source]

Here's the source root of the artifact that's written to the cache:
/private/var/tmp/_bazel_ulfjack/fe875d5ca7c5e5732f6aae397d7cdf99[source]

[2017-02-10 16:01] ulfjack commented on #2490
Ok, I have a fix, but I'm not sure this is correct. :-/

[2017-02-10 16:04] kchodorow commented on #2490
Please cc me on the fix, /private/var/tmp/_bazel_ulfjack/fe875d5ca7c5e5732f6aae397d7cdf99/external/local_config_cc will be the correct source root once the execroot change is in (just waiting on TF to merge https://github.com/tensorflow/tensorflow/pull/7165!).

[2017-02-10 16:13] ulfjack commented on #2490
I'd be more than happy for you to fix this, @kchodorow. :-P

[2017-02-10 16:15] lberki commented on #2483
Erm, my bad. I actually had some headers in the `cc_library`, but only when I couldn't reproduce it without them.

[2017-02-10 16:18] ulfjack commented on #2483
There's a good chance this is a dupe of #2490.

[2017-02-10 16:34] aj-michael commented on #2517
So I think that `java_plugin` not being able to depend on `android_library` is intentional. The only reason that this works internally is to support robolectric, which is its own special case.

[2017-02-10 16:39] aj-michael commented on #2517
I think that the ideal solution here is to expose android.jar to the java rules. This is a little hairy, because android.jar from the Android SDK doesn't really do much, all the methods throw RuntimeExceptions. Dagger's use case seems to only need some constants, which are present in android.jar.

The best _current_ solution is probably using a `java_library` that depends on `@androidsdk//:platfor

[2017-02-10 18:02] mzhaom commented on #2437
Even if a decision has been made and this issue is closed, I would still like to make my comment here, :)

I think such a change is to give a nice feature provided by bazel, which is the test and genrule used to have a same view of the source tree no matter whether it's run through bazel, or run manually through bazel-bin/foo/bar_test. Now with this change, to access a data file located in the sou

[2017-02-10 18:18] kchodorow commented on #2437
I'm working on getting #1262 in, whcih will make runfiles & execution root consistent (and chops off the external/repo prefix for srcs).  So, once that's in it should be even more "universal."

This has no effect on internal users.

[2017-02-10 18:30] kchodorow opened #2521 "Windows breakage on CI"
See http://ci.bazel.io/view/Bazel%20bootstrap%20and%20maintenance/job/Bazel/1264/JAVA_VERSION=1.8,PLATFORM_NAME=windows-x86_64/console.  https://github.com/bazelbuild/bazel/commit/5490757be5e527df82eee5094a0f59c86a5de766 looks suspicious, but I don't have any particularly good evidence that that's the culprit.

[2017-02-10 18:58] JakeWharton opened #2522 "Desugaring a method reference implicitly requires Java 7 APIs (Android API 19+)."
### Description of the problem / feature request / question:

When desugaring a method reference for Android, the lambda meta factory emits a call to `Objects.requireNonNull` before passing the captured instance to the generated class. This method was added in Java 7 which is Android API 19+ only.

I'm not sure what API level you're supporting with this feature, but all other emitted bytecode is c

[2017-02-10 20:12] vladlosev commented on #1178
Happens to me with bazel 0.4.4.

[2017-02-10 20:18] trainman419 commented on #1525
https://github.com/bazelbuild/bazel/issues/1525#issuecomment-273304683

[2017-02-10 20:29] kevin1e100 commented on #2522
You should be able to avoid this by including -XDallowBetterNullChecks=false into the javacopts, either using bazel's --javacopts command line flag or your android_library target's javacopts attribute.  could you give that a try please?  we'll look into a fix that's more turnkey.

[2017-02-10 20:55] aj-michael commented on #2522
Thanks for the detailed report!

Some more background, (as provided by @kevin1e100), the bazel android desugarer is not actually writing out Objects.requireNonNull, but javac9 is synthetically adding it (see https://bugs.openjdk.java.net/browse/JDK-8074306). Bazel bundles javac9 in https://github.com/bazelbuild/bazel/blob/master/third_party/java/jdk/langtools, which is being used with javacopts -s

[2017-02-10 21:20] JakeWharton commented on #2522
A quick try of that flag didn't seem to affect the output. And thanks for the info around the compiler. I should have known because [the error-prone issue][1] has been getting some activity of late as well.

 [1]: https://github.com/google/error-prone/issues/375

[2017-02-10 21:23] kchodorow commented on #2521
The error:

[code]

[2017-02-10 22:49] venantius opened #2523 "Buried logs // directory permissions issue with Lombok"
### Description of the problem / feature request / question:

I'm working on building a library that has a compile-time dependency on Lombok. I've been able to successfully get this working with some projects, but with others Lombok runs into issues when it tries to create and use dummy files. As part of this, it's supposed to dump a stacktrace (per the code [here](https://github.com/rzwitserloot/

[2017-02-10 22:51] aj-michael commented on #2522
The allowBetterNullChecks flag that @kevin1e100 mentioned is a fork that is not in Bazel's javac and is not in the javac we have at https://github.com/bazelbuild/bazel/blob/master/third_party/java/jdk/langtools.

One solution would be to have the desugaring tool remove this methods. @kevin1e100 do you think its worth patching Bazel's javac in the mean time to add that flag?

[2017-02-11 00:09] kevin1e100 commented on #2522
Err sorry about that.  I'll see how we can work around this, stay tuned

[2017-02-11 00:25] ahumesky commented on #2517
Yes I think a `java_import` around `@androidsdk//:platforms/android-25/android.jar` and depending on that would probably work. Your plugin code though would be compiled against the android 25 jar, which might not be the jar that's being used on the android rule that the plugin is being run on, since that's determined by `--android_sdk`.

One solution to this is to create `config_setting`s in the a

[2017-02-11 09:59] linrio commented on #2482
Ok. I'll try install the new version. Thanks!

[2017-02-11 16:40] naphatkrit opened #2524 "The Bazel server restarting causes a rebuild of CC rules"
### Description of the problem / feature request / question:

This is easily reproducible in the Bazel repo itself.
[code]
The second command will result in the CC rule being rebuilt, even though it didn't need to be. Note that I put the `sandboxed` strategy to prevent the remote cache from kicking in.

### Environment info
* Operating System:
Ubuntu 12.04, Kernel 4.4.0-57-generic

* Bazel version

[2017-02-12 08:42] llhe commented on #2036
@laszlocsomor How to identify it is caused by '//external:libssl'? I have the same problem when include grpc into tensorflow build. But I can figure out which one is the cause. Does bazel support verbose mode?

[2017-02-12 19:31] pcj commented on #2502
So this would be additional logic [here](https://github.com/bazelbuild/bazel/blob/f5bb3d248ff1dd9e5157551bbf5052c61a7643ce/tools/cpp/cc_configure.bzl#L221) to establish a separate boolean value than `supports_gold_linker = _is_gold_supported(repository_ctx, cc)`?

[2017-02-12 21:20] trainman419 opened #2525 "runs_per_test executes tests tagged exclusive in parallel"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:

I have a test that I've imported from an upstream project, which writes a file to an absolute path and then reads that file back through a separate API, to confirm that the API finds the file properly and r

[2017-02-13 07:06] cushon commented on #2523
+@philwo

The full error is shown if you disable workers with `bazel build --strategy=Javac=local ...`

[2017-02-13 07:36] jhseu opened #2526 "Building a shared library with shared library dependencies broken on macOS as of Bazel 0.4.4"
Currently the macOS GPU build of TensorFlow is broken on Bazel 0.4.4.

A simple test case that works on Bazel 0.4.3 but breaks on Bazel 0.4.4 on macOS:
[code]

BUILD file:
[code]

Empty WORKSPACE.

foo.cc:
[code]

`bazel build libfoo.so` works on Bazel 0.4.3 but doesn't work on Bazel 0.4.4. The link flag went from `-lz` to `-Wl,-force_load,-lz`which gives the error `ld: file not found: -lz`

[2017-02-13 08:39] ulfjack commented on #2490
@kchodorow how do you plan to switch the source root behavior? Is there a flag or something?

[2017-02-13 08:51] ulfjack commented on #2490
Is the plan to roll forward 82d43279f93d95e4c41b4bc598a3cc05ddd1ae1a? Unfortunately, I can't easily patch it in right now as it doesn't apply cleanly anymore.

[2017-02-13 08:52] damienmg commented on #2502
I am at my limit to understand what is going on there.

I would suggest adding a test to see if the linker support -start-lib and put it where you suggested. Send the change to @mhlopko (who should be back next week).

[2017-02-13 09:23] meteorcloudy commented on #2521
Looks like a mysterious flaky error of our ci slave, never happened on my local machine.
Back to normal after rerun.

[2017-02-13 09:31] meteorcloudy opened #2527 "CI failure: Windows is failing at HEAD"
http://ci.bazel.io/job/bazel-tests/555/BAZEL_VERSION=HEAD,PLATFORM_NAME=windows-x86_64/console
[code]

Java tests cannot find TestSuite on Windows.

Culprit: 48e7fe262aacd6602331435e22247ced260c87ec
In this change, the functionality (introduced in https://github.com/bazelbuild/bazel/commit/29e22949664b0c2a0a9cc8d48630f4712a89a067 for solving https://github.com/bazelbuild/bazel/issues/2242) of find

[2017-02-13 10:01] laszlocsomor commented on #2036
@llhe : Are you also seeing an uncaught exception or is it some other error?
I'd first try to comment out the "//external:libssl" dependency from grpc's BUILD file and see if the project builds normally (or fails with a nicer error message, as opposed to just throwing).
You can also build with the `--verbose_failures` flag, but that's only effective if the build does not throw.

It's always a bug

[2017-02-13 14:21] #2520 closed

[2017-02-13 15:36] venantius commented on #2523
Hmmm. I knew Bazel was using the Java9 compiler and was hoping I could get around this by specifying the source as 1.8 using `javacopts`, but that didn't seem to work. Is there a short term fix I can deploy that uses JDK8 for the compilation engine?

[2017-02-13 15:39] hanwen opened #2528 "genhtml can't find Java source files when generating a coverage report"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:

$ git clone --recursive https://gerrit.googlesource.com/gerrit

$ cd gerrit

$ bazel version
Build label: 0.4.4
Build target: bazel-out/local-fastbuild/bin/src/main/java/com/google/devtools/build/lib/bazel/

[2017-02-13 15:39] hanwen commented on #2528
@hermione521

[2017-02-13 15:41] hanwen commented on #2528
this is on ubuntu (google laptop version)

[2017-02-13 15:43] hanwen commented on #2528
on my workstation

$ bazel coverage --test_strategy=standalone --test_output=streamed //gerrit-common:auto_value_tests
WARNING: Streamed test output requested so all tests will be run locally, without sharding, one at a time.
INFO: Using default value for --instrumentation_filter: "//gerrit-common".
INFO: Override the above default with --instrumentation_filter
INFO: Found 1 test target...
JUnit4

[2017-02-13 15:46] hanwen commented on #2528
in the latter case, there is a coverage.dat file, but it is empty.  Do we need to tweak the test runner somehow to generate the coverage file?

[2017-02-13 15:51] kchodorow commented on #2490
Basically yes. The internal # is 143777249, if you want to check it out.

(Now just waiting on https://github.com/tensorflow/serving/pull/321...)

[2017-02-13 15:56] hanwen commented on #2528
(i'm sorry, these are really two bugs. I'm personally more interested in the latter problem.)

[2017-02-13 16:26] kush-c commented on #2527
Did the rollback fix the issue?
How should I test the issue on a windows machine while submitting the roll-forward, to make sure I don't break this test again?

[2017-02-13 20:05] kchodorow commented on #2490
...and I accidentally reverted the CL ($*%&$) so now it's 147374155.

[2017-02-13 23:56] Peaches491 opened #2530 "Can't suppress "Reading 'startup' options" print"
The following line of code prints directly to `stderr`, completely circumventing the standard logger levels.
Please replace this with the usual `BAZEL_LOG(INFO) << ` as used above in the same `Parse` function.

https://github.com/bazelbuild/bazel/blob/master/src/main/cpp/option_processor.cc#L163

[2017-02-14 01:43] ronshapiro commented on #2517
The issue is not that I want a `java_library` as the main code for my `java_plugin`, it's that I want to write a java_library which uses the Java code from an android_library as the basis for the actual analysis. The annotations for the annotation processor live in an Android library and should be packaged as such. We need to ship them as an .aar

[2017-02-14 01:59] cushon commented on #2522
I think we need this even with the javac patch; we're going to want it to work with stock JDK 9's eventually.

I'm on it.

[2017-02-14 03:32] llhe commented on #2036
@laszlocsomor Yes, I encountered this issue. I use the most recent grpc code, and it's caused by "protobuf" dependency. I identified this by actually modified the bazel source code to to print the info I needed.

Yes, bazel should have a fix to make a not null check here, I can provide this simple patch that I use.

[2017-02-14 10:19] riless opened #2532 "Can I run cmake inside bazel ?"
I'd like to run `cmake` to prepare the build files of `OpenCV` and then use them inside `cc_library`.

I've tried using `genrule` for that, but it does not allow to set `outs` to a folder (aka `opencv_build/`)

How can I do this ?

[2017-02-14 10:42] dslomov commented on #2077
Close in favor of #2480. Workaround in TF is implemented.

[2017-02-14 10:42] #2077 closed

[2017-02-14 10:49] dslomov commented on #1926
Suspected reason: -we are not in Kansas anymore- this is not a bash command, but a Windows process.
Will fix as part of clarifying genrules story.

[2017-02-14 10:58] damienmg commented on #1404
Closing this issue now there is a CI tests, there is still some progress to run more tests on CI but this should be addressed in a separate bug.

[2017-02-14 10:58] #1404 closed

[2017-02-14 11:02] #2527 closed

[2017-02-14 11:02] dslomov commented on #2527
Rollback fixed the issue.

[2017-02-14 11:02] dslomov commented on #2521
Closing this flake.

[2017-02-14 11:02] #2521 closed

[2017-02-14 11:09] dslomov commented on #2493
No there is no plugin. There is API for IDE integration: https://bazel.build/blog/2016/06/10/ide-support.html

[2017-02-14 11:09] #2493 closed

[2017-02-14 11:14] dslomov commented on #2454
Closing because not reproducible

[2017-02-14 11:14] #2454 closed

[2017-02-14 11:14] dslomov commented on #2449
@laszlocsomor ping

[2017-02-14 11:17] dslomov commented on #2434
@meteorcloudy ping

[2017-02-14 11:18] dslomov commented on #2432
@meteorcloudy this is fixed right?

[2017-02-14 11:19] dslomov commented on #2266
@thinlizzy did the suggestion work for you?

[2017-02-14 11:48] hermione521 commented on #2528
quick update: it's not supported now
https://github.com/bazelbuild/bazel/blob/67f0f4ba16e96e0d678d405197be2e39743fe150/src/main/java/com/google/devtools/build/lib/rules/java/JavaCompilationHelper.java#L291
I'll check how to make it happen.

[2017-02-14 12:22] hanwen commented on #2528
for now, I'd be satisfied if we could just skip the srcjar. They're only used for autovalue, so they shouldn't affect the coverage much.

[2017-02-14 12:23] laszlocsomor commented on #2101
@petemounce : Yes it is related, though not the same. https://github.com/bazelbuild/bazel/issues/2181 is the same issue as this one. Closing this in favor of that, since I've been submitting fixes referencing that bug.

[2017-02-14 12:23] #2101 closed

[2017-02-14 12:23] laszlocsomor commented on #1916
This is a feature request about aesthetics. P3 is accurate, maybe P4 would be fine too.

[2017-02-14 12:25] laszlocsomor commented on #2190
@petemounce : AIUI they aren't deprecating cmd, just making it non-default. So cmd will be around... *in ghastly voice* foreveeeeeeer.

[2017-02-14 12:26] laszlocsomor commented on #933
I think this bug will be fixed by fixing https://github.com/bazelbuild/bazel/issues/2181.
Closing it as a dupe.

[2017-02-14 12:26] #933 closed

[2017-02-14 12:46] meteorcloudy commented on #2432
Yes, fixed by https://github.com/bazelbuild/bazel/commit/7a95e42ff3b0ed87a936dce50934640a58d25976

[2017-02-14 12:46] #2432 closed

[2017-02-14 13:31] petemounce commented on #2190
Sure. Still don't use it. :p

[2017-02-14 13:53] thinlizzy commented on #2266
Sorry. That email got slipped through the cracks.
When I tried again with my current patched bazel version, I got some weird
errors with my failed mingw toolchain experiments.

Instead I tried again with a fresh distro of bazel. I got bazel 0.4.4 and I
tried to compile it again from scratch, but now I am getting 100 errors
like this:
C:\tools\msys64\tmp\bazel_u00M1qky\src\com\google\devtools\build

[2017-02-14 14:25] #1595 closed

[2017-02-14 14:25] #2473 closed

[2017-02-14 14:25] #278 closed

[2017-02-14 14:30] laszlocsomor commented on #2449
This should be fixed except you have to apply a patch to fix a bug in the bootstrapping scripts, see https://bazel.build/versions/master/docs/install.html#known-issues-when-compiling-from-source

[2017-02-14 14:30] #2449 closed

[2017-02-14 15:35] aj-michael commented on #2517
Oh I see, I misunderstood. I'm not sure how the Bazel team feels about java rules depending on android rules. The only reason this works internally is because the robolectric test rule is considered a java rule and all the java rules share a common list of allowed dep rules. I suspect if that were redesigned, that would no longer be the case.

IMO, the best way to do this is to explicitly referenc

[2017-02-14 15:53] #2440 closed

[2017-02-14 16:13] ittaiz commented on #2517
Sounds like you should take a look at #970
It's a work in progress and currently it's a rule by rule work but I guess
you have some pull on the priorities ;)

On Tue, Feb 14, 2017 at 5:35 PM Adam Michael <notifications@github.com>
wrote:

[2017-02-14 18:46] laszlocsomor commented on #2406
I hit this bug again today, again the `--output_user_root` workaround helped. We should fix this for the 0.5 milestone.

[2017-02-14 20:47] pspeter3 commented on #2512
Thanks @kchodorow for introducing! I think this would make CI builds substantially faster for our team.

[2017-02-14 22:03] philwo commented on #2512
@pspeter3 I think your idea is interesting. I'd be happy to do code review and/or give some guidance if you want to give implementing it a try.

The main problem currently is that Bazel has no good mechanism for consulting a cache prior to actually executing an action. @ulfjack and me are working on refactoring Bazel's execution pipeline to make it much easier to plug new mechanisms in. It might s

[2017-02-14 22:26] pspeter3 commented on #2512
@philwo thank you for the explanation!

[2017-02-15 00:17] ahumesky commented on #2517
I would say that right thing to do would be to put the annotations in their own `java_library` and have the annotation processor code and the android code depend on the common library, but aar's do not contain their transitive dependencies, so that doesn't help you here. As aj-michael said, and as you've implemented, the best way forward is to depend on the jar output of the android_library.

[2017-02-15 01:18] ronshapiro commented on #2517
That is all true, as well as the fact that the Annotations referenced android types (e.g. `Class<? extends Activity>`) so at some point it would have to have some connection to Android

[2017-02-15 05:54] yeputons commented on #1178
[Happened to me](http://stackoverflow.com/questions/42241527/docker-image-created-by-bazel-does-not-have-repository-tag-files-are-packed-wit) with Bazel 0.4.4 as well, [gist](https://gist.github.com/yeputons/c90a5d3d6f8b819aadecf68260b1c5bb)

[2017-02-15 09:15] abergmeier-dsfishlabs commented on #2532
This is a bit more complex problem. We kind of think about doing that, too.
@damienmg Can perhaps give an ETA when (extended) directory handling might be available!?

In general the easiest way is to, after running CMake, either:

- specify necessary built files in a custom rule
- put everything that was built into an archive (e.g. tar)

Next you may also need to pass all C/C++ flags into CMake. F

[2017-02-15 09:19] damienmg commented on #2532
I do not know about when this is going to be available for Skylark, /cc @aragos might know a bit more.

[2017-02-15 09:42] ulfjack commented on #1093
I can't reproduce this anymore. If there's no test_class attribute, I get this error from bazel:

    ERROR: /usr/local/google/home/ulfjack/Projects/experimental/BUILD:2:1: in java_test rule //:test: cannot determine test class

[2017-02-15 09:42] #1093 closed

[2017-02-15 09:45] ulfjack commented on #247
The tools used by the built-in rules are now bundled into Bazel, so --package_path should be unnecessary in the vast majority of use cases. I'm closing this. Let me know if there's still something to be done here.

[2017-02-15 09:45] #247 closed

[2017-02-15 09:49] ulfjack commented on #1655
@lberki, can you describe why we decided not to go with extra actions?

[2017-02-15 09:54] ulfjack commented on #1027
Maybe the test strategy should write an XML file if the test didn't write one? We send a SIGTERM signal on timeout, but there may be other reasons for sending SIGTERM, like Ctrl-C on the command-line, so the test may not be able to reliably distinguish between those.

[2017-02-15 09:59] damienmg commented on #1027
That's the approach we have right now but that codes live in test-setup.sh
and we might want to move that in the calling process instead. The code
that write the default XML file get killed by the time out.

On Wed, Feb 15, 2017 at 10:54 AM Ulf Adams <notifications@github.com> wrote:

[2017-02-15 10:27] lberki commented on #1655
My recollection is that because they wanted to have the exact command lines, which we don't provide for e.g. C++ and Java compile actions (we provide the extra action info in a more structured format). I don't remember, though, why the solution was not just to provide the command line (which Bazel knows).

[2017-02-15 11:03] riless commented on #2532
@abergmeier-dsfishlabs Thank you for your answer.

I'm actually getting around this limitation by creating myself some files that are required for building OpenCV using genrules.

[code]

I'm stucked in a step where I should run a python script (`modules/java/generator/gen_java.py`) that generates JNI exports in cpp file.

`$ python  modules/java/generator/gen_java.py ./modules/python/src2/hdr_par

[2017-02-15 11:31] ulfjack commented on #1027
Ah, yes. When I said 'test strategy' I actually literally meant the TestStrategy class in Bazel, which is the calling code.

[2017-02-15 13:20] abergmeier-dsfishlabs opened #2533 "jre/lib/charsets.jar missing"
### Description of the problem / feature request / question:

When I try to build a `objc_library` on macOS, I get a

    ERROR: missing input file '@local_jdk//:jre/lib/charsets.jar'

### Environment info
* Operating System: macOS 10.12.3
* Bazel version (output of `bazel info release`): 0.4.4

###  Have you found anything relevant by searching the web? (e.g. GitHub issues, email threads in the [

[2017-02-15 13:26] abergmeier-dsfishlabs commented on #2533
The missing file differs. Also complains `jre/lib/jsse.jar`.

[2017-02-15 13:39] ysagon opened #2534 "Error: expecting string instruction after `rep'"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:

I'm trying to compile Bazel dist 0.4.4 and I have the following error:

    ERROR: /home/sagon/easybuild/bazel/src/main/tools/BUILD:3:1: C++ compilation of rule '//src/main/tools:process-wrapper' failed: gc

[2017-02-15 14:50] #1022 closed

[2017-02-15 16:59] adamhowardprice commented on #162
@c-parsons I'm looking at PrenotCalculator right now and I don't see any test examples. Would it be possible to add an example?

[2017-02-15 19:20] #746 closed

[2017-02-15 20:30] mratsim commented on #1972
I manage to build bazel itself in a LXC container by deactivating the sandboxing altogether with:
--strategy=Genrule=standalone --spawn_strategy=standalone added to the bazel build line

[2017-02-15 22:51] vrv opened #2535 "Unrecoverable error while evaluating node 'REPOSITORY_DIRECTORY:@some_repo'"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:

Bazel occasionally fails with the following output:

[code]

I suspect this is due to some kind of timeout or lack of ability to contact some target -- if that's the case, I think we might be able to provid

[2017-02-16 01:21] y2kenny commented on #590
I just ran into this same issue (GLIBCXX_3.4.18 and .19 not found) on a ubuntu 12 system using apt-get install.

[2017-02-16 01:41] steven-johnson commented on #1248
Can someone update the status of this? AFAICT it's still broken; whether it's intended to be fixed for 0.5 or not is not clear.

[2017-02-16 02:36] thinlizzy commented on #2266
I've downloaded the 0.44 binary and now I am getting this:

John@terrorvision MSYS /d/diego/progs/c++
$ bazel build die-tk:die-tk-base --cpu=x64_windows_msvc
INFO: Found 1 target...
ERROR: D:/diego/progs/c++/die-tk/BUILD:3:1: C++ compilation of rule
'//die-tk:die-tk-base' failed: msvc_cl.bat failed: error executing command
external/local_config_cc/wrapper/bin/msvc_cl.bat -m64 /D__inline__=__inline

[2017-02-16 02:39] thinlizzy commented on #2266
Then I've changed BAZEL_PYTHON with export
BAZEL_PYTHON=/d/LING/Python27/python.exe but I got the same error

On Wed, Feb 15, 2017 at 9:36 PM, Diego <jose.diego@gmail.com> wrote:

--
https://github.com/thinlizzy/ <http://die-xml.googlecode.com/> - C++11 and
C++14 open source wrappers and libraries for various purposes (XML, image,
webserver... and even a MTG implementation)
http://baudejogos.net -

[2017-02-16 02:48] thinlizzy commented on #2266
more information that can aid in the debugging:

$ bazel build die-tk:die-tk-base --cpu=x64_windows_msvc  --verbose_failures
INFO: Found 1 target...
ERROR: D:/diego/progs/c++/die-tk/BUILD:3:1: C++ compilation of rule
'//die-tk:die-tk-base' failed: msvc_cl.bat failed: error executing command
  cd C:/tools/msys64/tmp/_bazel_John/yGhqzb7R/execroot/c++
  SET PATH=external/local_config_cc/wrapper/bin

[2017-02-16 05:58] jschenxiaoyu opened #2536 "generate_workspace does not work with spark artifact"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:
[code]

By the way, I have also tried other versions of spark and it also does not work.

### If possible, provide a minimal example to reproduce the problem:
bazel run //src/tools/generate_workspace -- --ar

[2017-02-16 07:12] damienmg commented on #1248
@kchodorow: do you have the bandwidth to do it?

[2017-02-16 07:29] biolee opened #2537 "CPP gdb lldb no debugging symbols found"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:

i build CPP with bazel on my mac, when i debug it
[code]
it came out:
[code]

### If possible, provide a minimal example to reproduce the problem:
[code]

### Environment info
* Operating System:
mac 10.12.

[2017-02-16 08:44] coroner4817 commented on #1745
Hi I still facing this not find support package issue. My bazel is 0.4.4

[code]

[2017-02-16 10:43] damienmg commented on #2495
Please use the distribution artifact and look at https://github.com/bazelbuild/bazel/wiki/FAQ#q2 on how to build on older CentOS. The distribution artifact are not made for old CentOS, we might build some in the future but right now we do not have the bandwidth to support older compiler

[2017-02-16 10:45] damienmg commented on #2495
Also I want to excuse ourselves for the late answer.

[2017-02-16 10:50] dslomov commented on #2534
This looks like a gcc bug, sorry. Maybe @damienmg or @aehlig might have some ideas, but I do not know what we can do. Is trying a different gcc+binutils combination an option for you?

[2017-02-16 10:52] dslomov commented on #2530
Patch welcome!

[2017-02-16 10:54] dslomov commented on #2525
@philwo, any quick ideas?

[2017-02-16 10:55] dslomov commented on #2524
@ulfjack, this is something you have been working on?

[2017-02-16 10:59] dslomov commented on #2515
@geralt32 were you able to solve this, either with `use_default_shell_env=True`, or by tweaking CROSSTOOL?

[2017-02-16 10:59] damienmg commented on #2534
Sounds like a C++ configuration issue. The CROSSTOOL generation might use a diferent binutils version than the bazel one. Have you set CC?

[2017-02-16 11:00] dslomov commented on #2512
@philwo could you triage this request? What is the right component / priority? Thanks!

[2017-02-16 11:02] biolee commented on #2537
I think this have some thing to do with the build path in sandbox, bazel build in sandbox which is not my src dir

[2017-02-16 11:46] dslomov commented on #2223
@ulfjack  is this still under investigation?

[2017-02-16 11:47] dslomov commented on #2024
@philwo is this still under investigation?

[2017-02-16 11:47] dslomov commented on #2019
@philwo  is this still under investigation?

[2017-02-16 11:50] ulfjack commented on #2524
Yes, this is a duplicate of #2490.

[2017-02-16 11:50] #2524 closed

[2017-02-16 11:55] philwo commented on #2525
Mhm... I agree with @trainman419 that exclusive tests should not run in parallel for multiple runs and it actually sounds like a bug.

[2017-02-16 11:56] philwo commented on #2024
It's probably easy to fix - just replace the UUID with something like mdktemp. We don't need the randomness, we just need a unique directory. That could indeed be made much shorter.

Will put it on my list of things to fix.

[2017-02-16 12:00] ulfjack commented on #2372
I'm afraid that the change caused Bazel to recompile on every re-analysis or server shutdown. I will need to disable the code for now as the fix is more complicated, and I need to wait for another change to land.

[2017-02-16 12:02] philwo commented on #2019
Sorry, this feature was lost when we switched to the new sandbox implementation.

The reasoning was that the new sandbox no longer removes parts of your usual filesystem, so if you enter it, it would look just like your normal system. OK, some parts are read-only, but software is usually good at telling you when it fails to write to some place.

I'll close this, but feel free to re-open if you fee

[2017-02-16 12:02] #2019 closed

[2017-02-16 12:02] ulfjack commented on #2372
Actually, let me close this one again - I'm working on the fix in #2490, so please follow that if you're interested.

[2017-02-16 12:02] #2372 closed

[2017-02-16 12:59] dslomov commented on #2426
Anything to fix after https://github.com/bazelbuild/bazel/commit/ae3ee253136fffe9767829694b45ec07e676b502?

[2017-02-16 13:05] dslomov commented on #2336
@kchodorow is this the right category for this request?

[2017-02-16 13:10] dslomov commented on #2261
@philwo @kchodorow what is the right category for this request? what is the priority?

[2017-02-16 13:10] #2526 closed

[2017-02-16 13:12] dslomov commented on #2223
@ulfjack is this the right category?

[2017-02-16 13:13] dslomov commented on #1593
@ulfjack is this the right category?

[2017-02-16 13:16] ulfjack commented on #1593
Let me put it under service APIs, which is marginally better.

[2017-02-16 13:32] Helcaraxan commented on #2414
This is kind-of the same as #2336

[2017-02-16 14:43] laszlocsomor opened #2538 "Windows, Java workers: worker sometimes gets stuck in a bad state"
### Description of the problem / feature request / question:

Sometimes the persistent Java worker gets into a bad state where I can't build. I haven't found a reliable way to trigger this, and it doesn't always happen, but once it does, no amount of retrying the build helps and I need to kill the running worker in Task Manager.

[code]

### Environment info
* Operating System: Windows 10, MSYS2 2

[2017-02-16 14:50] meteorcloudy commented on #1980
I tests this with `--host_cpu=x64_windows_msvc`, `linkopts` works as expected.

`examples/cpp/BUILD` content:
[code]

`examples/cpp/say_hello.bzl` content:
[code]

Running `bazel build examples/cpp:hello -s --host_cpu=x64_windows_msvc`:
[code]

`-Wl,user32.lib` is passed correctly to the linking action.

[2017-02-16 14:50] #1980 closed

[2017-02-16 14:57] meteorcloudy commented on #2426
No, this issue should be solved.

[2017-02-16 14:57] #2426 closed

[2017-02-16 15:00] werkt commented on #2490
We got around this issue of the on-disk-roundtrip-exclude-invalidation by adding a symlink to the external execroot in the workspace root.  We can post a diff if that's an acceptable workaround (my guess is not).

[2017-02-16 15:50] ola-rozenfeld commented on #2261
Hey Ivan! The general problem here is that a particular remote execution implementation will depend on a particular hashing function, and the function needs to be a startup flag, because it affects how digesting is done in the Bazel server. In other words, you cannot run one Bazel command with one digest function and another command with another function, unless you restart the server every time.

[2017-02-16 15:51] davido opened #2539 "java_test: make it work for multiple junit tests and non tests sources without Skylark wrapper and dependent library"
`java_test` rule doesn't work as I would expect it should. I would expect to write this and provide mixed Junit tests and utility (also not tests classes) to the `srcs` glob.

Buck version:

[code]

This doesn't work. Instead, I need this Skylark wrapper to generate JUnit Suites for me: [1]. Even then, it doesn't work because I must separate the utility library with non test sources from the JUnit

[2017-02-16 16:10] aj-michael commented on #1745
Hi @coroner4817 , can you please open a separate github issue containing the contents of your BUILD file and WORKSPACE file and that stack trace?

[2017-02-16 16:13] ulfjack commented on #2490
I'm still on it, even if it takes a bit longer. It looks like there's a third place in the code that's doing artifact discovery and that's also getting incorrect results. :-/

[2017-02-16 16:59] #1178 closed

[2017-02-16 18:14] steven-johnson commented on #2514
Didn't know about @mzhaom repo until now -- looks like a good starting point.

What would make this even cooler would be if new_http_archive() and friends could retrieve the BUILD files from a remote repo as well, e.g.

[code]

(Writing a wrapper around new_http_archive() to do this should be simple, of course, but having it built-in would make this workflow easier for people to rely on)

[2017-02-16 19:52] dslomov commented on #2538
what is the right category @laszlocsomor? This seems to be Windows only?

[2017-02-16 20:29] abergmeier commented on #2509
I think it would perhaps also be a good idea to set `-e` when calling Python.

[2017-02-16 21:26] natebosch opened #2540 "Add per-worker configuration for number of instances and lifespan"
We have global flags [`worker_quit_after_build`](https://github.com/bazelbuild/bazel/blob/bef19d10b1262e610569b4f604635eb0bea07e01/src/main/java/com/google/devtools/build/lib/worker/WorkerOptions.java#L66) and `worker_max_instances` for tuning behavior of workers. We should allow these per worker.

Ideally we should be able to set a default for each worker and allow them to be overridden by mnemon

[2017-02-16 21:58] gregestren commented on #2036
I'm not reproducing now because of an outdated zlib dependency. What's the current status of the repro?

[2017-02-16 22:27] davidzchen commented on #2397
SGTM. This would also make the setup for the site easier to understand, and would also simplify implementing versioned docs.

[2017-02-17 00:04] venantius opened #2541 "FileNotFoundException for absolute path that exists"
### Description of the problem / feature request / question:

Okay, I know, this sounds like one of those problems that rookies run into and it probably is, but hopefully we can indulge the exercise anyways.

Here's the situation: we have two Java tests for a server application that expect to be able to load a Dropwizard configuration file. They look up the location of this file using the system p

[2017-02-17 00:26] venantius commented on #2523
I'm okay with closing this ticket since @cushon answered my question, but I do think the docs as they currently are don't necessarily make it obvious how to access these logs, and my expectation was that there would just be a directory full of logs that I could go check out on the filesystem.

[2017-02-17 01:23] venantius commented on #2541
My problem is similar to the problem encountered here, but I'm curious as to how to specify this path as a JVM flag (i.e. `-Dk=v`) rather than make modifications to the upstream file-opening code in Dropwizard:

https://groups.google.com/forum/#!topic/bazel-discuss/VUC8kTEXDYo

It sounds from that conversation like I should be using `data` to make the given yml file available at runtime for the te

[2017-02-17 02:31] biolee commented on #2537
dSYM is generated,but is is empty, even when  add `--strip never`

[code]

[2017-02-17 06:57] laszlocsomor commented on #2538
I don't know. I'm only using Windows these days, so I haven't had the chance to see it elsewhere.

[2017-02-17 09:38] damienmg commented on #1670
The other case was fixed in https://github.com/bazelbuild/bazel/commit/448ee8124be341975633f67e35d699bbf57b963a

[2017-02-17 09:38] #1670 closed

[2017-02-17 12:01] abergmeier-dsfishlabs commented on #1876
Is there any reason not to add `host_cxxopt`?

[2017-02-17 12:31] geralt32 commented on #2515
@dslomov yes, I've tried to solve it with `use_default_shell_env=True` first and it worked. I've had to tweak a few things:

- replace the exec binary python with python3 in the tensorflow templates: crosstool_wrapper_driver_is_not_gcc.tpl, gen_git_source.py since our python3 installation  doesn't link python to python3 itself
- add include directories of our custom compiler to tensorflow's CROSST

[2017-02-17 12:50] steren opened #2542 "Clarify support for Ubuntu 16.04 LTS in documentation"
Reading the [documentation](https://bazel.build/versions/master/docs/install.html#ubuntu), the project seems to only officially support up to ubuntu 15.10 and 14.04. Ubuntu 16.04 is an LTS release. and has been released a year ago, we should make sure Bazel supports it and it's documented as such.

Please confirm me this is just a documentation issue. I will update it.

[2017-02-17 13:07] damienmg commented on #2542
What is the default JDK of Ubuntu 16.04? I believe we have issue with 16.10 that ship JDK 9 but not for 16.04. We could just add VMs for it to make it supported but we need to revise our testing strategy first.

As a temporary measure we should at least add a bootstrap test: like https://github.com/bazelbuild/bazel/tree/master/tools/cpp/test/Dockerfile.ubuntu-15.04

[2017-02-17 13:42] ysagon commented on #2534
I have tried like that:

    AS=$(which as) CCX=$(which g++) CC=$(which gcc) ./compile.sh
I have tried with another toolchain as well.

    AS=/opt/ebsofts/Compiler/GCCcore/5.4.0/binutils/2.26/bin/as
    CCX=/opt/ebsofts/Core/GCCcore/5.4.0/bin/g++
    CC=/opt/ebsofts/Core/GCCcore/5.4.0/bin/gcc
Same error.

[2017-02-17 13:53] dslomov commented on #2541
What is `GenTestRules`?
In general the issue you are seeing is that you try to refer to a file in your command that is not an input to your rule. This is a problem because Bazel cannot detect the change in that file, so it cannot rerun you test as it should if that file has changed. Bazel uses [sandboxing](https://bazel.build/designs/2016/06/02/sandboxing.html) of rule execution to prevent that: t

[2017-02-17 13:53] #2541 closed

[2017-02-17 13:57] steren commented on #2542
It seems that 16.04 comes with JDK 8.

Also, should we remove from the doc the instructions for 14.04 LTS? Now that we have a new LTS release, it's probably safe to stop documenting 14.04. WDTY?

And yes, we need to provide a solution for people on 16.10.

[2017-02-17 14:00] damienmg commented on #2510
Removing from Release blocker: this is not Bazel's fault.

[2017-02-17 14:33] tsuri commented on #1972
On my debian system I had to modify bazel as follow:
@@ -402,8 +404,9 @@ static void MakeFilesystemMostlyReadOnly() {
 static void MountProc() {
   // Mount a new proc on top of the old one, because the old one still refers to
   // our parent PID namespace.
-  if (mount("proc", "proc", "proc", MS_NODEV | MS_NOEXEC | MS_NOSUID, NULL) <
+  if (mount("proc", "proc", "proc", MS_REC | MS_BIND | MS_NOD

[2017-02-17 14:58] #2386 closed

[2017-02-17 15:35] kchodorow commented on #1248
Sorry, missed the update from @steven-johnson.  I'm taking a guess that `@halide//test/common:gpu_object_lifetime_tracker` isn't globally visible (correct me if I'm wrong). For the near future, the case you ran into is WAI: Bazel does not "dedup" //test and @halide//test, so it thinks that they're different repositories.  //test/generator:etc isn't publicly visible, so it cannot be used from a dif

[2017-02-17 15:48] kchodorow commented on #2532
You're almost there!  Although it looks like `outs = ["imgproc.cpp"]` should refer to the `$PWD`, outputs are actually under a separate directory tree.  So it should work if you change your genrule cmd to:

[code]

The last line copies imgproc.cpp to the output file location.

[2017-02-17 15:52] kchodorow commented on #2514
Yeah, I've been playing around with writing a repository rule that is basically:

[code]

So you could download a bunch of stuff and then configure/set it up.  Not sure exactly what the API should look like, yet, though.

[2017-02-17 15:57] abergmeier-dsfishlabs commented on #1876
No objections? Here we go: #2543

[2017-02-17 16:32] riless commented on #2532
Exactly what I needed. Thank you @kchodorow

I'm closing this issue as the original question about cmake was answered by @abergmeier-dsfishlabs as non supported yet by bazel.

[2017-02-17 16:32] #2532 closed

[2017-02-17 17:07] venantius commented on #2541
`GenTestRules` is an open-source Google macro for auto-generating `java_test` rules -- see [here](https://groups.google.com/forum/#!msg/bazel-discuss/MFYYkJk1tFs/xltlv4m_AQAJ) for context.

I don't know what you mean when you say "add a .yml file to your workspace" -- there isn't a workspace rule that I'm aware of for just adding a file. Would I use something like [filegroup](https://bazel.build/v

[2017-02-17 18:59] steven-johnson commented on #1248
Correct: it's restricted to @halide//test:__subpackages__

:-(  That's unfortunate. I hope it will be improved at some point.

[2017-02-17 19:12] mattmoor commented on #2235
@steren This looks like the same issue I just opened on the groovy repo: https://github.com/bazelbuild/rules_groovy/issues/8

[2017-02-17 20:09] steven-johnson commented on #2514
Contribute that rule to the repo as well.

[2017-02-17 20:35] ray-chu opened #2544 "fail building tensorflow. Error is error trying to exec 'cc1plus'"
I try to build tensorflow from the source code, as https://www.tensorflow.org/install/install_sources shows. But it fails at basel building like following.

commands: bazel build --config=opt --config=cuda --verbose_failures //tensorflow/tools/pip_package:build_pip_package
WARNING: Sandboxed execution is not supported on your system and thus hermeticity of actions cannot be guaranteed. See http://

[2017-02-17 21:00] laurentlb opened #2545 "How to access data runfiles from Python?"
### Description of the problem / feature request / question:

Accessing data dependencies from Python is not straight-forward, see related user questions:

* http://stackoverflow.com/questions/41553609/what-is-the-right-way-to-refer-bazel-data-files-in-python/42307073#42307073
* https://groups.google.com/forum/#!searchin/bazel-discuss/data$20runfiles%7Csort:relevance/bazel-discuss/nLrZEhV7Ul0/3bOg

[2017-02-17 21:52] venantius commented on #2541
Leaving a comment here for posterity to help out the next poor sap (or me, when I forget):

The final solution here looks something like the following:

[code]

So the key things are:
1. The filegroup (which uses `srcs`, not `data`)
2. The `data` arg on `GenTestRules`/`java_test`
3. The `$(location target)` in `jvm_flags`

If you don't have any of those, it doesn't work.

[2017-02-18 13:48] pedrokiefer commented on #1053
I've put together a crosstool for stm32 (https://github.com/pedrokiefer/rules_stm32), still needs some tweaks for building the HAL library provided by ST automatically, it works fine if you have them at your repository. Also need to add support for windows and mac, as ARM provide gcc packages for those OS. From bazel roadmap, I think I'll wait release 0.5 for adding windows support.

As for the HA

[2017-02-18 18:34] NiallC commented on #1662
I have the same question: Can I enable these optimizations if I installed using pip (and how)?

[2017-02-18 19:53] ulfjack commented on #2490
And that one got rolled back as well. I have a complete fix, but the change I committed depends on Kristina's change, which got rolled back. I think I can make it so it works both with and without Kristina's change... next week.

[2017-02-18 20:37] david-german-tri commented on #2537
We are experiencing this on [RobotLocomotion/drake](https://github.com/RobotLocomotion/drake) also, and are actively investigating workarounds.  If we find something, I'll update this thread, but any guidance from the Bazel team would be hugely appreciated!

[2017-02-18 22:09] jemdiggity opened #2547 "crosses boundary of subpackage 'external'"
If there is a dir named "external" in your workspace root, bazel complains with

`Label '//:external/foobar.h' crosses boundary of subpackage 'external' (perhaps you meant to put the colon here: '//external:foobar.h'?).`

Maybe it's silly to have a dir named "external", but I'm modifying a 3rd party SDK to work with bazel and they have a directory named external.

With a simple "hello world" test

[2017-02-18 22:55] rtsai opened #2548 "cfg="host" build picks up target --crosstool_top when cross-compiling"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:

The build host is Linux Ubuntu 16.04.2

We cross-compile to a target platform where -lsocket is required to link the application.

Our protobuf compiler plugin depends on a library that is also used on the

[2017-02-19 16:44] botev opened #2549 "Tensorflow building from source - PYTHONPATH not respected"
This is a repost of: https://github.com/tensorflow/tensorflow/issues/7668#issuecomment-280930018

So I'm trying to build tensorflow from source, main reason is that I do not have root access and the `GLIBC` version was incompatible with the binaries. Additionally, I can not install packages on the python3.

Steps so far:
1. Build `gcc-4.9.1` from source - SUCCESS
2. Build `bazel-0.4.4` from source

[2017-02-19 17:31] david-german-tri commented on #2537
Related: https://github.com/bazelbuild/bazel/issues/327.

I'm having some preliminary success running `dsymutil` from `osx_cc_wrapper.sh`.  With that technique, I can at least produce a usable `.dSYM` somewhere deep in the sandbox, then [manually symbolicate](https://lldb.llvm.org/symbolication.html).

[2017-02-19 22:57] frp opened #2550 "Bazel fails to compile itself from the directory that has non-ASCII characters in its name"
### Description of the problem / feature request / question:

I've unpacked bazel-0.4.4-dist.zip into /mnt/debhome/roman/roman/Завантаження/Розробка (Cyrillic characters in the path), and run ./compile.sh from there. Output:

[code]

Works fine when I run it from the location that only has ASCII characters in name.

### Environment info

* Operating System:

Fedora 25

* Bazel version (output of `

[2017-02-20 05:08] brunobowden opened #2551 "C++ Basics failed redirect, broken link to googlecode"
The **"C++ Basics"** and **"Build C++"** are two different pages in the docs. The **[C++ Basics](http://bazel.build/docs/cpp.html)** doc page has a broken link to googlecode for setting up Google Test. A similar fix was made for this to a different page, **[Build C++](https://bazel.build/versions/master/docs/tutorial/cpp.html)** tutorial, in #1688. Those changes should be copied from file site/ver

[2017-02-20 05:34] brunobowden commented on #2551
It appears that the most doc pages redirect to a version under `versions/master/docs/...` but not the pages listed below. Perhaps this pages were removed in the new version of the website? Maybe they still appear in the old location by some transient effect?

There appear to be two issues:
1) When a page is removed from the repo it should disappear from the http://bazel.build website entirely.
2)

[2017-02-20 06:15] ittaiz commented on #2424
@philwo is this under work?

[2017-02-20 06:19] johnynek commented on #2424
To me, sandboxing is like runtime checking of types. If you have a type safe program already, it is only a waste.

Assuming you have rules that do run correctly when sandboxed, what additional benefit do you get from actually running them that way? I mean, if the rule is already hermetic, sandboxing isn't going to make it more so. To me, sandboxing seems most useful to test that rules are working

[2017-02-20 06:21] ittaiz commented on #2424
interesting perspective. What does this mean for tests? Some tests touch the filesystem as well as bind to ports. Sandboxing should solve this while I'm not sure how the rules themselves can/should handle this?

[2017-02-20 06:24] johnynek commented on #2424
To be honest, I hadn't considered the application to running code, such as tests. I assumed binary and test targets can still see the file system as normal, but we don't launch binaries with bazel so I don't really know (we build deploy packages of compiled code).

[2017-02-20 06:26] ittaiz commented on #2424
I guess we'll have to wait for some feedback and see since I might have misinterpreted sandboxing to also apply to tests but I don't think so.
Don't you have tests for the code you're building? Or maybe they don't do any I/O so you've never thought about it?

[2017-02-20 09:37] philwo commented on #2424
This is under work, but considering that I have quite a number of things "under work", I'm not sure when exactly I can improve the current situation here. :) But it's definitely on my radar and I'd love to get this fixed as soon as possible.

The biggest problem on macOS is that we just don't have many mechanisms for sandboxing available and the existing ones (like sandbox-exec) are poorly documen

[2017-02-20 09:44] #2504 closed

[2017-02-20 10:36] iirina opened #2552 "CI Failure: Bazel is broken"
http://ci.bazel.io/view/Dashboard/job/Bazel/1290/JAVA_VERSION=1.7,PLATFORM_NAME=darwin-x86_64/console

[code]

Culprit: 9a05f3bc58f9845bf41f9f8031e97b09e5348855
cc: @colincross

[2017-02-20 11:34] #2552 closed

[2017-02-20 12:09] iirina opened #2554 "Jenkins falsely reports test failures when testing the test runner"
bazel-tests appear to fail on Jenkins due to testing the test runner:

http://ci.bazel.io/job/bazel-tests/BAZEL_VERSION=HEAD,PLATFORM_NAME=linux-x86_64/571/

[Some shell tests](https://github.com/bazelbuild/bazel/tree/master/src/java_tools/junitrunner/javatests/com/google/testing/junit/runner/junit4_testbridge_integration_tests.sh) verify that the test runner behaves appropriately  when a Junit te

[2017-02-20 12:21] iirina commented on #2550
This is a known issue under investigation.

@damienmg, @philwo do you know anything about the progress status on this?

[2017-02-20 12:25] damienmg commented on #2550
Encoding issue :) passing the potato to @philwo :)

[2017-02-20 12:28] damienmg commented on #2554
:) USA is down suggesting rollback.

The test is generating XML files that says the test is wrong: http://ci.bazel.io/job/bazel-tests/BAZEL_VERSION=HEAD,PLATFORM_NAME=linux-x86_64/ws/bazel-testlogs/src/java_tools/junitrunner/javatests/com/google/testing/junit/runner/junit4_testbridge_integration_test/test.xml

The shell test should make sure it does not overwrite its own log file...

[2017-02-20 12:28] philwo commented on #2550
@frp Thanks for your report! I would love to debug / fix this problem. I need some more information about this to make sure that the fix will work in your environment.

- Could you please send the output of "locale"?
- Do the paths with non-ASCII characters when printed by Bazel really show as "??????"? Or are they shown correctly and readable? (Just making sure that this is a Bazel issue and wasn

[2017-02-20 13:04] iirina commented on #2549
@meteorcloudy can you take a look at this? Have you encountered something similar before?

[2017-02-20 13:25] iirina commented on #2554
Sorry Kush, I rolled back.

[2017-02-20 14:15] iirina commented on #2544
Hi,
The error doesn't offer much context about why Bazel failed. It seems to be related to Tensorflow internals. Have you tried consulting the Tensorflow team about this beforehand?

[2017-02-20 14:58] steren commented on #2551
The faulty behavior was indeed also reported to me this morning.

As you said, the fact that https://bazel.build/docs/cpp.html was still available is due to a problem in the way we deploy the website. It should not exist. I deleted the file behind it in our GCS bucket and sent in https://github.com/bazelbuild/bazel/pull/2553 a redirect to the correct page.

[2017-02-20 15:20] philwo commented on #1019
Closing as obsolete - this should be long fixed by now.

[2017-02-20 15:20] #1019 closed

[2017-02-20 16:11] ray-chu commented on #2544
Not yet. I will post the problem in tensorflow issues to see what suggestions they can give. Please also keep this thread open. I will close it if I can find a solution from other places.

[2017-02-20 16:40] philwo commented on #1458
A fix for this is now (finally) in code review. Sorry that it took so long.

[2017-02-20 16:40] philwo commented on #2394
A fix for this is now (finally) in code review. Sorry that it took so long.

[2017-02-20 17:08] brunobowden commented on #2551
Thanks @steren. Please note the 9 other web pages listed in the previous comment that also appear to require deletion. I went through every link on the old website individually and these are the only ones that failed to redirect to something under `versions/master/docs/...`

[2017-02-20 17:57] steren opened #2555 "Site search is searching bazel.io"
Type "bazel" in the site Search.
All results are for bazel.io.

I guess Google Site Search has been configured on bazel.io, and not updated to bazel.build

@davidzchen or @damienmg would you know how to change this?
Our search widget seems to use an ID: https://github.com/bazelbuild/bazel/blob/master/site/search.html

[2017-02-20 18:05] steren opened #2556 "Website deploy mechanism should remove old files before pushing new site"
We encountered #2551 because our deployment script seems to not remove old files in Google Cloud Storage before deploying a new version of the website. This means that if we delete a file and do not replace it by a redirect, the old file will still be served publicly (and indexed by search engines!).

This makes our deployment neither reproducible nor correct :)

[2017-02-20 18:05] damienmg commented on #2555
Iirc Kristina set that up.

[2017-02-20 18:06] steren commented on #2551
@brunobowden indeed, your original report pointed to more broken redirect that I tried to fix in PR #2553.

I opened #2556 to work on a real fix, because today nothing prevents this to happen again.

[2017-02-20 19:11] ekuefler commented on #2235
Yeah, this is breaking the Groovy rules, it would be great if someone could prioritize checking into this

[2017-02-20 19:42] philwo commented on #2235
I'll investigate tomorrow. I know nothing about Groovy, but hope I can reproduce on my machine using the example provided (thanks for that!).

[2017-02-20 19:56] ekuefler commented on #2235
Thanks - pretty sure the problems are happening before anything Groovy-specific goes on, but I'm happy to look further if you can help narrow it a bit.

[2017-02-20 20:47] mwitkow opened #2557 "Feature request: external dependency caching using remote gRPC protocol"
### Description of the feature request:

As part of implementing a proof of concept of a distributed cache for Bazel builds (see [mwitkow/bazel-distcache](https://github.com/mwitkow/bazel-distcache)) it seems that the [remote_protocol.proto](https://github.com/bazelbuild/bazel/blob/master/src/main/protobuf/remote_protocol.proto) CASService is not used for caching `<output_dir>/external` content.

[2017-02-20 20:51] hhclam commented on #2353
I just ran into this issue. This has to do with Bazel still using an old version of grpc-java and you run ./compile.sh manually and the version of protoc-gen-grpc-java is newer than the one in Bazel.

You can either downgrade the version of protoc-gen-grpc-java to version 0.15. You can also install the Bazel binaries and use it.

The reason behind this failure is that Bazel requires gRPC to commun

[2017-02-20 21:45] werkt commented on #2490
With my workaround, and changing inputsKnown to not be dependent upon shouldScanIncludes (the negation thereof) and just always false for CppCompileAction, the original patch works fine for me.

[2017-02-20 21:51] frp commented on #2550
locale:

[code]

Bazel prints the paths as ???????, you can see that terminal displays the same characters in $PS1 just fine.

`ls`, just like all other tools, displays the paths correctly.

[2017-02-20 22:41] meteorcloudy commented on #2549
@botev If you look at [`crosstool_wrapper_driver_is_not_gcc`](https://github.com/tensorflow/tensorflow/blob/master/third_party/gpus/crosstool/clang/bin/crosstool_wrapper_driver_is_not_gcc.tpl) script in TensorFlow repo. At the very first line, there is a shebang `#!/usr/bin/env python`, indicating this script is using the python in your PATH, so I guess you'll have to make sure you have the right

[2017-02-21 05:06] jawsthegame commented on #2536
I am also seeing this problem.

[2017-02-21 07:04] meteorcloudy opened #2558 "//src/test/shell/bazel:bazel_windows_example_test#test_java_test fails on Windows"
[code]

The exact code producing this error is in [JavaIoFilesystem.java](https://github.com/bazelbuild/bazel/blob/e36a66cd6e35e5b4b276f2b6ce63e1c691bcb02c/src/main/java/com/google/devtools/build/lib/vfs/JavaIoFileSystem.java#L340), looks like a race condition to me, where Bazel trys to delete the parent directory before the child directories were deleted(but after calling delete function for the

[2017-02-21 07:04] meteorcloudy commented on #2178
`bazel_windows_example_test` was originally failing due to VC detection was flaky on Windows, especially in shell test. This is no longer a problem since #2430 #2440 was fixed.

Currently, it is still failing because of two reasons:

1. workspace in shell test is getting too long (>260 chars), this can be workaround by setting `TEST_TMPDIR` to a short tmp directory.
[code]

2. `bazel_windows_examp

[2017-02-21 07:12] hhclam commented on #2393
First of all there are known issues with running tests with the distributed cache.

The warnings shows that the remote execution is used. From the flags provided it shouldn't be enabled. What's in your .bazelrc?

[2017-02-21 08:00] iirina commented on #2409
This is happening again. What solution did you find? Does just re-running the tests help? Do I need to do some manual clean-up?

[2017-02-21 08:04] damienmg commented on #2409
Put the log here so there is more data to invistigate.

We had to kill all nc on the Darwin slave iirc

[2017-02-21 08:16] iirina commented on #2409
So this is not only happening for bazel-tests, but for other projects as well (e.g. protobuf, dash, rules-appengine)

This seems to be the most common error:

[code]

[code]

[code]

I will kill all nc on the Darwin slaves.

[2017-02-21 09:47] ittaiz commented on #2409
just another data point that it's also happening for rules_scala

On Tue, Feb 21, 2017 at 10:16 AM Irina Iancu <notifications@github.com>
wrote:

[2017-02-21 09:48] damienmg commented on #2409
we restarted the machine...

On Tue, Feb 21, 2017 at 10:47 AM Ittai Zeidman <notifications@github.com>
wrote:

[2017-02-21 09:58] damienmg commented on #2539
Reassigning to @kush-c who want to remove --legacy_bazel_java_test since this should be a blocker for the flag removal.

[2017-02-21 10:26] ittaiz opened #2559 "Testing local bazel doesn't work without android sdk"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:

I'm trying to follow the instructions on [compiling bazel](https://bazel.build/contributing.html#compiling-bazel) but it seems that without android sdk this doesn't work

### If possible, provide a minimal

[2017-02-21 10:51] laszlocsomor commented on #2551
Adding @davidzchen who knows best how our docs are deployed and how/why it's organized the way it is. As far as I'm concerned we intend(ed) to serve versioned docs (corresponding to each Bazel release), but never fully implemented the necessary pipeline changes.

[2017-02-21 10:54] steren commented on #2556
David, did you write our deployment scripts?

[2017-02-21 10:55] steren commented on #2551
PR #2553 should fix the problems described earlier. Let me assign #2556 to @davidzchen.

[2017-02-21 11:04] mwitkow commented on #2557
It's worth noting that we'd be willing to contribute time to implement it, but guidance would be much appreciated before we start :)

[2017-02-21 11:14] mwitkow opened #2560 "bug: --remote_cache causes test rules for C++ and Java fail even on first run"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem

As part of implementing a proof of concept of a distributed cache for Bazel builds (see [mwitkow/bazel-distcache](https://github.com/mwitkow/bazel-distcache)) it seems that the [remote_protocol.proto](https://github.com/bazelbuild/bazel

[2017-02-21 11:46] ittaiz opened #2561 "Bazel design documents links are broken"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:

When going to "Design documents" the links to "Environment" and "Sandboxing" are broken.
https://www.bazel.build/versions/master/docs/designs/

[2017-02-21 11:53] steren opened #2562 "Site search not returning expected results"
1. Open bazel.build
2. Search for "genrule"
Observed: No result
Expected: https://bazel.build/versions/master/docs/be/general.html to be returned as first result.

Would it be because our site is not correctly indexed? #2555?

[2017-02-21 11:56] damienmg opened #2563 "Progress event from HttpDownloader are not reported with --experimental_ui"
When using `--experimental_ui`, all download event does not appear in the output console (while appearing without the new ui). The event is posted from here: https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/bazel/repository/downloader/ProgressInputStream.java#L125

[2017-02-21 11:58] steren commented on #2561
Thanks for the report.
We have much more design docs in https://github.com/bazelbuild/bazel/tree/master/site/designs/_posts

And they are correctly listed in https://www.bazel.build/designs/

The problem here seems to be that the page https://www.bazel.build/versions/master/docs/designs/ should just not exist.

[2017-02-21 11:59] ittaiz commented on #2561
I got to it from the site search
On Tue, 21 Feb 2017 at 13:58 Steren <notifications@github.com> wrote:

[2017-02-21 12:04] ddwolf commented on #2393
@hhclam I haven't .bazelrc file, all the options are listed in the command line

[2017-02-21 12:07] steren commented on #2561
I suppose it is a consequence of #2556, and potentially #2555
I will clean up the page you found and add a redirect

[2017-02-21 12:07] ittaiz commented on #2561
Thanks!
On Tue, 21 Feb 2017 at 14:07 Steren <notifications@github.com> wrote:

[2017-02-21 12:13] iirina commented on #2559
When running the tests under //src/..., the tests for Android are also started. I'm not sure it would be a good idea to disable these tests by default, but rather improve our documentation on what basic tests to run, depending on whether the user is interested or not in Android.

[Here](https://github.com/bazelbuild/bazel/blob/master/WORKSPACE#L45) are the instructions for running the Android test

[2017-02-21 13:06] ittaiz commented on #2559
@iirina thanks!
Don't the android instructions mandate something additional? What is `/WORKSPACE.user`?
Additionally the main problem is that the current documentation says to run `//src/...` while it doesn't work

[2017-02-21 13:06] steren commented on #2561
I deleted https://www.bazel.build/versions/master/docs/designs/
It should be removed from the site search index. No need to put a redirect I believe.

[2017-02-21 13:06] #2561 closed

[2017-02-21 13:10] steren commented on #2562
The problem is quite serious. Search results for most of my tests are almost irrelevant. Google Search does a very good job. I really wonder if this is not a bazel.io / bazel.build problem (#2555)

[2017-02-21 13:19] damienmg commented on #2490
@ulfjack: will you have time to work on the fix, should we ask @mhlopko to take over?

[2017-02-21 13:26] mhlopko commented on #2275
Was this fixed in the meantime? Cannot reproduce :/

[2017-02-21 13:29] ulfjack commented on #2490
I've sent a fix for review to Kristina. Hopefully it'll be merged later today.

[2017-02-21 13:31] ittaiz commented on #2562
Also seeing the same...

On Tue, Feb 21, 2017 at 3:10 PM Steren <notifications@github.com> wrote:

[2017-02-21 13:44] iirina commented on #2559
`/WORKSPACE.user` is a file created by `scripts/workspace_user.sh` containing generated `android_ndk_repository` and `android_sdk_repository` rules. But yes you are right, you need to hame some environment variables set up (ANDROID_HOME, ANDROID_SDK, ANDROID_NDK) that also means you have to have Android set up.

I'm adding @aj-michael for Android support and @steren for the documentation part.

[2017-02-21 13:55] ittaiz commented on #2559
Exactly the android set up is the part I don't want to do.
Now, it might be totally valid to require it before making a contribution
but I'm not sure it's actually needed.
On Tue, 21 Feb 2017 at 15:44 Irina Iancu <notifications@github.com> wrote:

[2017-02-21 14:04] iirina opened #2564 "Tensorflow fails on Windows"
http://ci.bazel.io/view/Dashboard/job/TensorFlow/BAZEL_VERSION=HEAD,PLATFORM_NAME=windows-x86_64/683/console

[code]

seems like the problem is caused by case sensitive filenames.

[2017-02-21 14:06] steren commented on #2559
adding @michelleirvine owner of our documentation

[2017-02-21 14:14] ola-rozenfeld commented on #2560
Thank you for the report, I will look into it!

[2017-02-21 14:48] kchodorow commented on #2562
Yeah, the complete uselessness of search has been driving me nuts, too.  Let me take a look, I definitely didn't update it from bazel.io to bazel.build, so that's a place to start.

[2017-02-21 14:56] kchodorow commented on #2555
I updated it to search bazel.build.  Not sure how long it'll take to reindex.

[2017-02-21 14:56] #2555 closed

[2017-02-21 14:59] steren commented on #2555
great. since I guess this is based on Google search, it is already indexed.
Spoiler alert: after a few tests search looks much better now. Thanks!

[2017-02-21 15:00] steren commented on #2562
I get much better search results now that you fixed #2555.
Thanks!

[2017-02-21 15:00] #2562 closed

[2017-02-21 15:06] kchodorow commented on #2562
Seriously, already?  Great!  I expected this to be much harder.

[2017-02-21 15:27] buchgr opened #2566 "Make BuildEventTransport async"
The `BuildEventStreamer`'s subscriber methods are run on which ever thread calls them, most likely a bazel thread. Therefore, those methods should not be blocking for extended periods of time i.e. block for a network write.

We should thus ideally change the `BuildEventTransport` interface to support asynchronous transports i.e. we then can't report errors via an `IOException`, as errors might occ

[2017-02-21 15:34] buchgr opened #2567 "Concurrency issues in BuildEventStreamer."
The `BuildEventStreamer` does make use of synchronized blocks, but [some](https://github.com/bazelbuild/bazel/blob/758555219f84052b761178afabdc0117ef8b0de7/src/main/java/com/google/devtools/build/lib/runtime/BuildEventStreamer.java#L176) [fields](https://github.com/bazelbuild/bazel/blob/758555219f84052b761178afabdc0117ef8b0de7/src/main/java/com/google/devtools/build/lib/runtime/BuildEventStreamer.

[2017-02-21 15:47] aj-michael commented on #2559
There is some confusion here, the error that you got is not due to an Android _test_, it is due to building an Android _tool_:

    //src/tools/android/java/com/google/devtools/build/android/incrementaldeployment:incremental_split_stub_application

You want to use the `--build_tests_only` flag and everything should be ok. You can see the full list of flags for this step here:

https://github.com/b

[2017-02-21 16:45] hhclam commented on #2512
I would advise against implement a separate spawn strategy for caching purposes. A spawn strategy is heavy-weight approach like Philipp said. Computing a hash in spawn strategy just before execution is far from efficient. It will be better if the cache is consulted much earlier.

Bazel can talk to a Hazelcast memory cluster for caching. I intend to remove this path in favor of REST interface (See

[2017-02-21 16:45] ittaiz commented on #2559
Fair enough.
On Tue, 21 Feb 2017 at 17:47 Adam Michael <notifications@github.com> wrote:

[2017-02-21 16:50] hhclam commented on #2560
Maybe related to this: https://github.com/bazelbuild/bazel/issues/1413

[2017-02-21 17:12] kush-c commented on #2539
Actually I was just trying to clean up code, as it thought it was deprecated. Assigning this back to you @iirina since I didn't anticipate this blocker, and I may not be working on this anytime soon.

[2017-02-21 17:18] ola-rozenfeld commented on #2560
Oh, thank you, yes, this seems to be  a duplicate of #1413.

[2017-02-21 17:47] aj-michael commented on #2559
While we're on the topic though, I should mention that //src/test/shell/bazel/android:android_integration_test will run and silently skip all the tests and return a pass if an android sdk and android ndk are not installed. I've been doing some work to make the process of  setting up android_sdk_repository and android_ndk_repository be less of a burden in #2284, but it's not quite done yet.

At som

[2017-02-21 17:53] werkt commented on #2490
I was just looking at the test from the prune fix (`src/test/shell/integration/cpp_test.sh`), and realized that the test is relying on `Compiling a/a.cc` appearing in the output, which, unless I'm mistaken, is a timing artifact, and may not appear when the compile actually takes place  - it should probably be using `-s` and looking for something indicating the compile activity

[2017-02-21 18:03] kchodorow commented on #2547
I'm actually surprised you're getting this far.  We should have a clearer error message here, but you cannot have a directory named "external."  It simply will be ignored by Bazel, because the //external package is handled differently.

Could you put the project deeper?  E.g., //third_party/your_sdk/external should work fine.

This is another point in favor of getting rid of bind() (#1952), we wou

[2017-02-21 18:26] hhclam commented on #2261
I think in the long run Bazel should just use SHA1 hashing by default. md5 has security issues.

In the mean time you can put this in  your .bazelrc:
`startup --batch --host_jvm_args=-Dbazel.DigestFunction=SHA1`

[2017-02-21 18:33] hhclam opened #2568 "Remote spawn strategy should fallback a better spawn strategy"
### feature request:

--spawn_strategy=remote will fallback to running the action with standalone spawn strategy. It should fallback to a better strategy, like a sandbox strategy or a persistent worker strategy.

* Bazel version (output of `bazel info release`):

0.4.4

###  Have you found anything relevant by searching the web

https://github.com/bazelbuild/bazel/issues/1531

[2017-02-21 20:18] philwo commented on #2568
This will be fixed once @ulfjack's and mine refactoring of the SpawnStrategy architecture is done. The general idea is that Spawns will be executed not by a single strategy (as they're now), but instead via a configurable scheduler that will delegate to a configurable set of strategies. A remote cache strategy could then indicate something like a cache miss, which would prompt the scheduler to exe

[2017-02-21 20:19] hhclam commented on #2568
Is there a tracking issue for the work? That sounds great by the way.

[2017-02-21 20:26] kchodorow commented on #2261
(Removing myself, since this is related to remote execution.)

[2017-02-21 20:54] ianoc-stripe commented on #2568
This sounds great, any idea of a rough timeline for this?  weeks/months?

[2017-02-21 22:07] david-german-tri commented on #2537
Here's an outline of a workaround we've prototyped locally:

1. For every `cc_{library,binary,test}`, add a genrule like the following:

[code]

We have binary/library/test wrapper macros that simplify insertion of this genrule across the board.

2. Use `--spawn_strategy=standalone` to disable sandboxing, so that the DWARF-laden `.o` files will be visible to `dsymutil`.  (Also, of course, use `-c

[2017-02-22 00:12] pspeter3 commented on #2512
This sounds substantially easier and like I do not need to modify Bazel. When do you expect this work to land?

[2017-02-22 00:26] hhclam commented on #2512
The --rest_cache_url feature is already in Bazel 0.4.4. The documentation for using it and better support for nginx and apache will land soon.

You can try with Bazel 0.4.4 today:

`bazel --host_jvm_args=-Dbazel.DigestFunction=SHA1 build --spawn_strategy=remote --rest_cache_url=http://server-address:port/cache`

Change http://server-address:port/cache to a REST enpoint that supports GET, PUT and H

[2017-02-22 00:33] pspeter3 commented on #2512
Thanks @hhclam!

[2017-02-22 03:58] bogatyy opened #2569 "TensorFlow r0.12 crashes on Bazel 0.4.4"
Steps to reproduce:
[code]

Error message:

Is TF 0.12 no longer supported? Any suggestions to make it work?

[2017-02-22 04:12] ittaiz commented on #2559
I think it really depends on how easy you want to make it for accidental
contributors (who I assume usually don't touch android related code) vs
regular maintainers and are you willing to defer some of the feedback loop
to CI.
If you want to optimize for accidental contributors and are willing to
defer to CI why not fail these only when a flag is turned on and turn it on
by default on CI.
Regular

[2017-02-22 05:13] kush-c commented on #2554
damienmg@ I tried everything I could think of today, but not sure how I can stop these tests from generating the failure XML file. These tests did pass on Kokoro (and locally). What could Jenkins be doing differently than Kokoro?
Any hints would be super helpful.

[2017-02-22 08:09] ulfjack commented on #2568
I've been working on the underlying infrastructure since mid-December. Unfortunately, I think it'll be months rather than weeks for all the pieces to come together.

Here's my commit history; everything with TestStrategy in the commit notes is related to this bug:
https://github.com/bazelbuild/bazel/commits/master?author=ulfjack

[2017-02-22 08:32] iirina commented on #2539
Sorry, the bot misinterpreted the commit message. Reopening this.

[2017-02-22 09:05] damienmg commented on #2554
According to your run on CI the test does generate the boggus XML files: http://ci.bazel.io/job/Gerrit-bazel-tests/413/testReport/

The problem is not that there is failing test is that the test generate bogus XML files that overwrite the test log

[2017-02-22 09:30] philwo commented on #2568
Maybe I can get the Spawn scheduler done and in earlier - I have an internal prototype of the idea, which still lacks the configurability that I'd like to see. But I've been testing that proof of concept with a few colleagues to gather feedback and it seems to work fine. I've assigned this the Bazel 0.6 milestone and will work on it, once I fixed the more high priority bugs that are currently assi

[2017-02-22 10:03] ittaiz commented on #970
@iirina
I'm trying to understand how to create a provider in the Scala rules and I'm uncertain on how to create a provider.
The [providers] (https://bazel.build/designs/2016/08/04/extensibility-for-native-rules.html) design docs hints to:
[code]
But when I do something like it I get
[code]
Additionally I saw in [JavaSkylarkApiTest](https://github.com/bazelbuild/bazel/blob/fdeb747093ce46ec3397d240c

[2017-02-22 10:18] iirina commented on #970
First, sorry for the outdated documentation on our site. What you linked is a proposal document (also marked as not implemented) and is not what the API actually looks like. I will make time to update this accordingly.

Now. Yes, this is intended behavior. From Skylark you can only create a provider from a compilation action. Alternatively, you can retrieve a provider from native java rules, merge

[2017-02-22 10:20] iirina opened #2570 "Create Java sandwich documentation on bazel.build"
For now the only documentation available on bazel.build is a [proposal document](https://bazel.build/designs/2016/08/04/extensibility-for-native-rules.html) that is not reflecting the current API and usage.

[2017-02-22 10:23] ittaiz commented on #970
I'm trying to get a java_test target to depend on a scala_library target.
scala_library target needs to somehow expose a provider BUT it can't use
the compilation action since it uses its own compiler (and with persistent
workers but I don't know if that's related).
Any more info needed?
On Wed, 22 Feb 2017 at 12:18 Irina Iancu <notifications@github.com> wrote:

[2017-02-22 10:35] mhlopko commented on #2502
Hi @pcj, this is interesting. As gold is elf-only linker it shouldn't be used by your osx clang (unless you're cross compiling, please let me know if you do), and the autodetection in cc_configure.bzl should fail. Gold supports --start-lib --end-lib since 2010, so I hope we can assume that when gold is available, --start-lib --end-lib is available too. Of course if this assumption is wrong and you

[2017-02-22 10:42] mhlopko commented on #2275
Nevermind, just repro'd :)

[2017-02-22 11:04] ittaiz commented on #970
Runtime jar and compile time jars should be easy.
What do you mean by instrumentation metadata?
On Wed, 22 Feb 2017 at 12:47 Irina Iancu <notifications@github.com> wrote:

[2017-02-22 12:18] damienmg commented on #2418
pinging this bug because it happened again today

[2017-02-22 12:32] philwo commented on #904
@dabrahams The feature (remote caching, remote execution and a combination of both) is definitely coming and there's a lot of work related to it going on. We still need some time, though.

[2017-02-22 12:34] philwo commented on #1666
The feature is complete, integrated with our build process and in code review & pending final verification on Windows now.

[2017-02-22 12:39] damienmg commented on #1666
It would need to integrate with our release pipeline too, but I guess this is just another target to build

[2017-02-22 12:40] ulfjack commented on #2490
I thought I had a fix, but I was wrong. I've spent a couple more hours tracing the code and I think I've got it now. I'm running all of our tests again.

[2017-02-22 12:42] philwo commented on #1666
Yes, the current approach is that this is just another target that we can build (//src:bazel_with_jdk instead of //src:bazel). :)

[2017-02-22 14:34] aj-michael commented on #2500
Ok, as of cf9a2b662b2764fd3bddcb74d9a0ab70eb2f7f3d both of the action items I mentioned in my previous comment are complete.

[2017-02-22 14:34] #2500 closed

[2017-02-22 15:26] philwo commented on #2538
The 90s called, they want their general protection faults back:

[code]

Considering that ijar is crashing here, but ijar is not a worker, ... how is this related to workers?

[2017-02-22 15:29] damienmg commented on #374
Update: https://docs.google.com/document/d/1ducs753wqYoE6ibxYYwnVlX7RSw7YQiVRNiMz-hgYQE/ is the draft design doc. The quoting is subject to change but the rest should be pretty stable.

[2017-02-22 15:34] philwo commented on #2538
Dumping some notes, so that I don't forget:

[code]

One idea to "fix" this would be to force a GC run again after each unit of work in the JavaBuilder. This would also "solve" the recent memory leak / file handle leak issues reported by users, but comes at a performance cost.

The correct solution would be to find where those file handles are being leaked and close them correctly, e.g. by always

[2017-02-22 15:35] philwo commented on #2538
@cushon FYI.

[2017-02-22 16:05] werkt commented on #2490
I have put together a test case for some unnecessary recompilations that are taking place that fails under the #2372 patch, but succeeds when inputsKnown is decoupled from shouldScanIncludes in CppCompileAction, see this [diff](https://gist.github.com/werkt/cf53b5201a8b0be19e462b3566f1cdfd)

[2017-02-22 16:16] hanwen commented on #2528
ping? could you provide a time estimate and/or a workaround?

[2017-02-22 16:36] abergmeier-dsfishlabs commented on #1368
And how do I disable that for testing?

[2017-02-22 16:50] abergmeier-dsfishlabs opened #2571 "Document --spawn_strategy=standalone for test"
### Description of the problem / feature request / question:

`--spawn_strategy=standalone` actually disables sandboxing for tests. This is IMO not clear since the option  is documented under _BuildOptions_. Make it clear that it also applies for testing.

[2017-02-22 16:55] ittaiz commented on #970
@iirina,
Any estimations on complexity and time on your side?
@johnynek,
Wdyt? Should be pretty easy to supply runtime jars and compile time jars right?

[2017-02-22 17:36] iirina opened #2572 "Bazel-tests are not building on Windows / failing on some other platforms"
They seem to fail for different reasons on Darwin at HEAD-jdk7 for 2 consecutive builds:

First build:
`//src/tools/singlejar:zip64_test                                        TIMEOUT in 1 out of 2 in 324.3s`

Second build:
[code]

They also fail with timeouts on linux/ubuntu

Bazel-tests fail to build on Windows at HEAD and latest:
[code]

[code]

[2017-02-22 17:47] iirina commented on #970
Let me talk it over with my team and I will get back to you tomorrow with an answer (regarding both instrumentation and ETA)

[2017-02-22 17:48] ittaiz commented on #970
👍🏽 Thanks!
On Wed, 22 Feb 2017 at 19:47 Irina Iancu <notifications@github.com> wrote:

[2017-02-22 20:14] philwo commented on #1368
@abergmeier-dsfishlabs You can't disable the PID namespacing support in the sandbox, because we now rely on it to clean-up child processes. In comparison, the process-wrapper that is used when you completely disable sandboxing tries to clean-up children on SIGTERM by putting them in the same process group, then forwarding the SIGTERM to that group. However that's not nearly as reliable.

Is there

[2017-02-22 22:35] kush-c commented on #2554
It seems the integration test's own XML results were not overwritten, but bogus XML were created by these  failing tests which were being picked up by Jenkins indicating failure.

After removing the failing XML of the tests in change: https://bazel-review.googlesource.com/c/9039/, I found previously failing tests (http://ci.bazel.io/job/Gerrit-bazel-tests/413) to pass (http://ci.bazel.io/job/Gerri

[2017-02-22 22:36] kush-c commented on #2554
Since the immediate breakage was resolved the rollback, reducing priority.

[2017-02-22 23:09] googlestanke commented on #970
+Steren Giannini <steren@google.com> as FYI

On Wed, Feb 22, 2017 at 12:48 PM Ittai Zeidman <notifications@github.com>
wrote:

[2017-02-23 02:48] cushon commented on #2522
Support for `-XDallowBetterNullChecks=false` was added in 2e689c29d5fc8a747216563235e905b1b62d63b0.

[2017-02-23 03:13] is03wlei opened #2573 "no debugging symbols found on mac"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:
#ggdb main
GNU gdb (GDB) 7.9.1
Copyright (C) 2015 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>
This is free software: you are free to change an

[2017-02-23 04:32] ncullen93 commented on #739
I am getting this error.. Is there any way to get around this without root privledges?

[2017-02-23 06:09] ittaiz commented on #970
Just to make sure we're aligned these are our use cases:
1. Scala JUnit rule- rule/macro which calls scala_library to compile the code of the tests with scalac and then calls java_test to run the tests themselves.
2. Scala Java cyclic dependency- currently solved in the scala rules by calling scalac with all files and then manually calling javac. We'd like to replace it with a call from skylark to

[2017-02-23 06:12] johnynek commented on #970
I'm disappointed 3 is not really possible with the current design. I'm
actually confused as to what the use cases are that would currently be
supported. Is there a practical example in mind for what has currently been
implemented or is it purely an intermediate state on the way?
On Wed, Feb 22, 2017 at 20:09 Ittai Zeidman <notifications@github.com>
wrote:

[2017-02-23 06:24] benjaminp opened #2574 "do not leak PATH, LD_LIBRARY_PATH, and TMPDIR into the shell environment by default"
`BazelConfiguration.setupShellEnvironement` makes the default shell environment inherit the `PATH`, `LD_LIBRARY_PATH`, and `TMPDIR` environmental variables from the server environment (i.e., what they are at server startup time). I can see why this might be useful, but I don't think it should be the default behavior. I observed that this behavior was a source of indeterminism when building the sam

[2017-02-23 08:22] abergmeier-dsfishlabs commented on #1368
@philwo I had a Python native module, which was misbehaving (multithread deadlock) in tests. GDB complains about not working properly with PID namespacing. I wonder how you guys then debug broken C++ tests.

[2017-02-23 08:25] abergmeier-dsfishlabs commented on #1368
BTW: Using `--spawn_strategy=standalone` seems to have changed the PID namespace handling to a certain degree!?

[2017-02-23 08:31] fishy opened #2575 "Android APK was rejected by Google Play because it's debuggable"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:

I have an android_binary rule, and generated `app_unsigned.apk` file from the rule.

Then I signed it with my release key per instructions on https://github.com/bazelbuild/bazel/issues/1613, as:

[code]

Wh

[2017-02-23 08:32] mhlopko commented on #2490
cc @lberki

[2017-02-23 08:45] fishy commented on #2575
Adding `android:debuggable="false"` into the `application` section in `AndroidManifest.xml` can workaround this issue, but that means I have to maintain two `AndroidManifest.xml` files, one for debug and one for release, which is error-prone. Bazel should provide a mechanism to generate release APK.

[2017-02-23 10:30] philwo commented on #1368
@abergmeier-dsfishlabs Yes, PID namespacing is a feature provided by the sandbox strategy (more specifically, by linux-sandbox.cc - it only works on Linux, macOS doesn't seem to have something similar).

The way to disable PID namespacing is to disable sandboxing, which you did with --spawn_strategy=standalone. :) For debugging this seems like a good way.

[2017-02-23 11:34] #1390 closed

[2017-02-23 11:34] #2178 closed

[2017-02-23 11:44] laszlocsomor commented on #1586
We still see "bazel clean" failures sometimes, and it may be due to the persistent java workers holding on to open files, which is also the suspected culprit of https://github.com/bazelbuild/bazel/issues/2538.

[2017-02-23 11:50] iirina commented on #2572
I am not successful bisecting this. It fails for every commit it tries.  Also #2538 makes it even harder, as bazel cannot do the cleanup after executing the tests.

Besides the errors on Jenkins, I also get

[code]

which seems to also be related to #2538.

[2017-02-23 12:02] laszlocsomor opened #2576 "Windows, native: uncaught exception in java.util.Logging"
If you build Bazel with `--cpu=x64_windows_msvc` and run with `--batch --output_user_base=c:\tmp3`, you'll see an uncaught exception:
[code]

The problem is in [`startup_options.cc`](https://github.com/bazelbuild/bazel/blob/10390f2dac277baeaaff48fbfd663ce687ec92e1/src/main/cpp/startup_options.cc#L415-L416): we write `java.util.logging.FileHandler.pattern=c:\tmp3\l90hcebl/java.log` into the `javalo

[2017-02-23 12:03] laszlocsomor commented on #2576
@philwo : FYI

[2017-02-23 12:10] iirina commented on #2575
@ahumesky can you take a look please?

[2017-02-23 12:16] iirina commented on #2574
@gregestren can you take a look at this? Thanks.

[2017-02-23 12:26] iirina commented on #2573
What is the output of `bazel build --copt="-g" source:all`?

[2017-02-23 12:34] iirina commented on #2571
@philwo can you take a look at this?

[2017-02-23 12:37] iirina commented on #2569
TF currently can not be built with Bazel 0.4.4. This should be fixed in the next release. Can you please try with a previous release?

[2017-02-23 13:25] laszlocsomor commented on #2157
We can now build ijar but many functions say "isn't implemented for windows".

[2017-02-23 13:39] prestonvanloon opened #2577 "Bazel coverage failing: java.lang.NoClassDefFoundError: org/objectweb/asm/ClassVisitor"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:

[code]
### If possible, provide a minimal example to reproduce the problem:

Run bazel coverage on a passing java test.

### Environment info
* Operating System:
Ubuntu 14.04

* Bazel version (output of `ba

[2017-02-23 13:43] iirina commented on #2577
Can you copy/paste the command you run and describe your project?

[2017-02-23 13:44] hermione521 commented on #2528
Sorry, I'm focused on benchmark now. But I will do it before I leave! (which means next month)

[2017-02-23 13:56] ittaiz commented on #970
Any news?

[2017-02-23 14:02] prestonvanloon commented on #2577
I ran `bazel coverage --test_output=streamed path/to:testTarget`

I'm not sure how to describe the project.
It has several maven jar dependencies. It uses [rules_protobuf](https://github.com/pubref/rules_protobuf) to implement a gRPC server.

The test is mocking a few things and testing certain http calls would have happened.

[2017-02-23 14:04] iirina commented on #970
@ittaiz  So this should be done before the end of this quarter (end of march), probably earlier though. I think 2 could be done with the current implementation, calling `java_common.compile`. What are the outputs of `scalac`?

@johnynek Actually yes, we started migrating our native java rules to Skylark rules. Right now we are almost done implementing `java_lite_proto_library` in Skylark. This is

[2017-02-23 15:04] kchodorow commented on #739
1) Get the bazel installer for 0.4.4 (download here: https://github.com/bazelbuild/bazel/releases/tag/0.4.4). Don't use JDK 7.
2) If "bazel" is the only thing in ~/.cache, run `sudo rm -rf ~/.cache/bazel` (you probably need to run this as sudo because I'm guessing ~/.cache and/or ~/.cache/bazel are owned by root).  Double check this command before running, since it's sudo rm!  (If bazel isn't the

[2017-02-23 16:16] ittaiz commented on #1961
I'll just put it here :) https://arstechnica.com/security/2017/02/at-deaths-door-for-years-widely-used-sha1-function-is-now-dead/

[2017-02-23 16:18] ittaiz commented on #970
The outputs of scalac are .class files
#1 is what I must have. I'll see if I can tackle other things in the mean
time. If not I'll write my own JUnit test rule in skylark. Thanks!
On Thu, 23 Feb 2017 at 16:04 Irina Iancu <notifications@github.com> wrote:

[2017-02-23 16:25] aj-michael commented on #2569
The error you are getting is https://github.com/tensorflow/tensorflow/pull/6225 which was fixed in TensorFlow after r0.12.

So the answer is either:
* Use more recent TensorFlow: `git checkout r1.0`
* Apply the one-line change in https://github.com/tensorflow/tensorflow/pull/6225 to your tensorflow repository.

[2017-02-23 16:33] iirina commented on #2577
@hermione521 can you take a look at the error?

[2017-02-23 16:54] ahumesky commented on #2575
--compilation_mode=opt (or -copt for short) should set the debuggable flag to false, among other optimizations. We're revamping our android documentation and we'll be sure to mention this.

[2017-02-23 17:54] cgrushko opened #2578 "Bazel requires protobuf-java-3.x.y.jar to bootstrap"
This prevents us from including the https://github.com/google/protobuf/ repository as is in `//third_party/protobuf/`.

The aforementioned jar is included in the bootstrapping in [1].

Later today we'll be able to build the Java proto runtime from head:

    bazel build //third_party/protobuf:protobuf_java

so we can in principle get rid of the checked-in precompiled `protobuf-java-3.x.y.jar`

[1]

[2017-02-23 17:55] cgrushko commented on #2578
@damienmg that's the issue I referred to in the mail thread.

[2017-02-23 17:58] damienmg commented on #2578
Oh we should be able to work around that by building the jar with javac from compile.sh.

[2017-02-23 18:06] cgrushko commented on #2578
I tried for an hour and gave up :) realized Klaus probably knows much better how all of this works.

[2017-02-23 18:25] fishy commented on #2575
`--compilation_mode=opt` did the trick, but `-copt` doesn't work:

[code]

[code]

[2017-02-23 18:41] ahumesky commented on #2575
whoops, that's a typo, there should be a space between -c and opt ("-c opt") (i edited my comment above)

[2017-02-23 18:45] fishy commented on #2575
`-c opt` worked. Thanks!

[2017-02-23 19:07] ncullen93 commented on #739
thanks for the response! yeah I did that and I still get a permission denied error. I don't have root access, I think that's the point I'm trying to make :) Oh well.

[2017-02-23 19:12] kchodorow commented on #739
Oh... then how did you get ~/.cache/bazel not owned by you?

Regardless, this error message doesn't really matter. Bazel should already be installed in ~/.bazel/bin by the time you get this error message.

[2017-02-23 19:17] kevmoo commented on #2000
@hermione521 @dslomov Could ya'll look at this again?

Happy to provide a fresh setup, etc.

[2017-02-23 19:25] ncullen93 commented on #739
No clue.. I think I do own ~/.cache/bazel, which is the weird part. Ah yes you're right that it is installed in ~/.bazel/bin, but running bazel still gives me the same error.

[2017-02-23 19:33] kchodorow commented on #739
Create ~/.bazelrc that contains:

[code]

[2017-02-23 21:15] werkt commented on #2490
After testing further with a daemon shutdown between builds, it was only the inputsKnown initially false for compiles that kept recompilations from occurring after a build, for any cc_test *or* cc_binary compilation action.

[2017-02-23 21:51] ianoc-stripe commented on #487
What is the current best way to work around this issue these days? Not having much luck adding

`ctx.attr._scalac.data_runfiles.files` and `ctx.attr._scalac.data_runfiles.files` to the input to the ctx action.

Where

[code]
    ctx.action(
        inputs=ins + list(ctx.attr._scalac.data_runfiles.files) + list(ctx.attr._scalac.data_runfiles.files),
        outputs=outs,
        executable=ctx.exec

[2017-02-23 22:03] dfabulich opened #2579 "java_binary picks an non-configurable working directory"
Consider this git repository. https://github.com/dfabulich/java-binary-runfiles

It contains a blank `WORKSPACE` and an `x` subdirectory, containing a one-line "Hello world!" `data.txt` file and a `src/main/java` subdirectory containing `X.java`.

`X.java` looks in the current directory for `data.txt` and prints it to the console.

[code]

If I `cd` to the `x` subdirectory and `bazel run x`, it fa

[2017-02-24 00:28] hhclam commented on #487
How do you use remote workers? Are you sure you're not talking about remote cache? Just so you know remote workers is purely a prototype, not a feature intended as a feature for production use.
What's the command line you used?

[2017-02-24 01:01] r351574nc3 commented on #301
Is there a workaround for me? I am trying to build `golang.org/x/text`, but there's a `build` package there as well https://github.com/golang/text/tree/master/collate/build

[2017-02-24 01:10] r351574nc3 commented on #301
Looks like my problem is bazelbuild/rules_go#144

[2017-02-24 01:31] PiranjaF commented on #1970
I attempted both solutions suggest by @sfincke and @yselivonchyk, but without luck. Finally, I managed to change the cache location by running `TEST_TMPDIR=/tmp/bazel/ ./configure`, which solved the issue.

This global variable sets the overall cache directory as described here: https://bazel.build/versions/master/docs/output_directories.html.

[2017-02-24 01:33] xynny opened #2580 "IllegalStateException in CyclesReporter when you have a folder named "workspace""
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:

We have a folder called bazel/workspace with a .bzl file in it and when we try to load this .bzl file we would encounter an IllegalStateException when we do bazel build ...

When the folder is renamed to "v

[2017-02-24 02:35] ianoc-stripe commented on #487
I'm using remote workers via:
[code]

I modified the hard coded usage in the bazel worker from being hazelcast to looking for the rest url parameters. Other than that stock bazel 0.4.4

[2017-02-24 02:36] ianoc-stripe commented on #487
(And thanks for the FYI -- i know its not solid yet, but trying to get just a ball park sense of how well it would/wouldn't work for us and how it might behave. Side benefit is that hopefully it would sidestep the remote -> standalone fallback issue when just using the cache.)

[2017-02-24 02:42] hhclam commented on #487
I see. The remote worker is very much just a prototype. It shows interested parties how to implement a real remote worker, it itself is not a real reliable remote worker.

Also --rest_cache_url and --remote-worker are not meant to work together.

A user should use either one of the following:
1. --rest_cache_uril
2. --remote_cache
3. --remote_cache and --remote_worker

This needs some more documen

[2017-02-24 03:08] ianoc-stripe commented on #487
Interesting, all good info. Be very curious to see how this evolves/more documentation.  Remote cache vs rest_cache_uri currently give the same errors anyway. If i have time at some point i'll look closer at that prototype code see if something obviously wrong in there.

Thanks for the info!

[2017-02-24 05:26] ianoc-stripe commented on #487
@hhclam from
[code]

How reliable is the protocol/client side bazel stuff? if it was just the worker that was prototype is it worth anyone spending time trying to make things work there?

[2017-02-24 06:42] is03wlei commented on #2573
Previously, it reported as following:
WARNING: Stripping enabled, but '--copt=-g' (or --per_file_copt=...@-g) specified. Debug information will be generated and then stripped away. This is probably not what you want! Use '-c dbg' for debug mode, or use '--strip=never' to disable stripping.

Then I tried both "bazel build -c dbg source:all" and "bazel build --strip=never --copt="-g" source:all", bu

[2017-02-24 07:24] aj-michael commented on #1476
So tonight I tried to compile Bazel from the 0.4.4 distzip on 32 bit ubuntu 14.04. I encountered the same OOM, and @aehlig 's patch fixed<sup>[1]</sup> it. I was curious what the default heap sizes for javac were: so here they are on my 32bit and 64bit systems:

256MB on 32bit
[code]

4GB on 64bit
[code]

<sup>[1]</sup> It fixed the OOM and presented another problem that I am too tired to attempt

[2017-02-24 07:56] natemccoy commented on #1476
It seems related to the symlink 'cc1plus' not pointing to the g++ binary.

Try reinstalling g++ or fixing the symlink to point to the appropriate
binary for the CPP compiler.

On 24 Feb 2017 7:25 a.m., "Adam Michael" <notifications@github.com> wrote:

[2017-02-24 08:32] #2275 closed

[2017-02-24 08:32] #2576 closed

[2017-02-24 08:34] biolee commented on #2573
as https://github.com/bazelbuild/bazel/issues/2537

bazel do generate dSYM file but it ls empty, https://github.com/bazelbuild/bazel/issues/2537#issuecomment-281497449 hava a init sollution

and
bazel do not generate debug info for lldb for mac and linux

[2017-02-24 08:52] mhlopko commented on #2573
Just to be sure it is #2537, the correct command to build target with debugging symbols is `bazel build -c dbg source:all`, is it still broken for you?

[2017-02-24 08:53] iirina commented on #2573
@is03wlei  Can you please also paste the output of the other command you mentioned?

@mhlopko Can you take a look at this? Thanks!

[2017-02-24 09:10] jemdiggity commented on #994
Adding the optional sha256 field also causes the archive to re-download. It would be nice if bazel checked the cached archive first, before re-downloading it.
Thanks :-)

[2017-02-24 09:32] ulfjack commented on #2538
I'm not sure the file handles are leaked. It may be that they're intentionally kept open?

[2017-02-24 10:33] philwo commented on #2538
@ulfjack The problem is, even if it is "intentional" from a Javac perspective (e.g. for caching purposes or something), it is very undesirable from our perspective, because worker processes should not keep visible state between units of work. It is fine if they cache things and still return correct results, but if they keep file handles open, blocking the deletion of input artifacts, we have a pro

[2017-02-24 11:44] iirina commented on #2579
Hm it should be retrieved from `__main__` and not `__main__/x`, since that is the working directory, defined by where your WORKSPACE file is placed.

What did you mean by this? Can you elaborate? Isn't the data file always on the same path relative to the directory that contains the WORKSPACE file?

[2017-02-24 12:02] ittaiz commented on #970
Any news about the instrumentation metadata?
On Thu, 23 Feb 2017 at 18:17 ittai zeidman <ittaiz@gmail.com> wrote:

[2017-02-24 12:04] abergmeier-dsfishlabs opened #2581 "Printer should handle recursion-loops to prevent StackOverflowError"
### Description of the problem / feature request / question:

When having a recursive list with loops, `com.google.devtools.build.lib.syntax.Printer` should gracefully fail and not result in a `java.lang.StackOverflowError`.
With complex nesting, these errors may be very hard to figure out.

### If possible, provide a minimal example to reproduce the problem:

    l = []
    l.append(l)
    "\n".j

[2017-02-24 12:05] mhlopko commented on #1920
So I'm back :) We have no design ready for this (and other linking related requests), but I'll try to push this forward. We really have to polish our linking story. Sadly, I expect it will take a few weeks to fully implement considering my current load.

[2017-02-24 12:24] laszlocsomor opened #2582 "Commit 71c72c15 breaks Bazel on Windows"
### Description of the problem / feature request / question:
See review comment on https://github.com/bazelbuild/bazel/commit/71c72c1515eb92730c28bebf65c925eadbe7b5a9

Bazel built at or after 71c72c151 doesn't work on Windows.
[code]

### If possible, provide a minimal example to reproduce the problem:
Build bazel at 6b3b8d0ba073100bf9858fb65c2cc99dcd4d792e, it works on Windows.
Build it at 71c72c

[2017-02-24 12:39] #2569 closed

[2017-02-24 12:39] #2575 closed

[2017-02-24 13:22] damienmg opened #2583 "Glob patterns does not accept parentheses"
[code]

[2017-02-24 14:09] cgrushko opened #2584 "Upgrade //third_party/protobuf to version >=3.2.0"
The new version is required in order to remove `strict_proto_deps = 0` from Bazel's BUILD files.
The attribute is expected to be removed in a quarter, when an internal cleanup is complete.

I tried, but it broke freebsd. @iirina says -

[2017-02-24 14:19] ulfjack commented on #970
The instrumentation metadata is for coverage only. The specific data needed there depends on the coverage implementation, though we currently only have support for Jacoco. Not every coverage implementation may require instrumentation metadata; we do something for Jacoco, but I can't remember the exact details. You can ignore this if you don't support coverage for Scala.

[2017-02-24 14:34] damienmg opened #2585 "Bazel 0.4.5rc1 javac type inference regression"
Reported by Liam upstream as https://bugs.openjdk.java.net/browse/JDK-8175794

Assigning to Liam for follow-up and updating javac.

/cc @hermione521

[2017-02-24 14:39] hermione521 commented on #2577
srcjar is not supported in coverage now. But it's on my list! Sorry for the inconvenience.

[2017-02-24 14:59] prestonvanloon commented on #2577
So this is related to #2528 ?

[2017-02-24 15:15] #2490 closed

[2017-02-24 15:15] #2582 closed

[2017-02-24 15:36] ulfjack commented on #2490
We also need to add a regression test, maybe based on @werkt's patch.

[2017-02-24 15:47] werkt commented on #2490
Regression test based on shutdown to incur on disk roundtrip.

https://github.com/bazelbuild/bazel/pull/2586

I'm investigating the action reevalulation prevention that is occurring in the odd corner case with cc_test compilations + crosstool + interleaved query.  Will post another PR when I get there.

[2017-02-24 15:48] iirina commented on #2582
Thanks @laszlocsomor for signaling this and @mhlopko for fixing!

[2017-02-24 16:24] katre opened #2587 "serve-docs.sh broken by shell highlighting"
Commit fa65195662cde0ea9f7c8ff4d07874b0d53dd0be added a section with shell highlighting, but shell highlighting isn't supported by the version of jekyll we're using.

Error:
[code]

[2017-02-24 16:28] aj-michael commented on #2587
FWIW that commit just moved the shell highlighting. c1641b8f953120dc04ac562b1529e8b0d775da25 introduced it. (I was in the process of filing an issue about c1641b8f953120dc04ac562b1529e8b0d775da25 when I saw this issue)

[2017-02-24 16:29] katre commented on #2587
The downside of blame, thanks.

I've sent https://bazel-review.googlesource.com/c/9090/ to fix it by just removing the "shell".

[2017-02-24 17:26] salrashid123 opened #2588 "generate_workspace unable to to process pinned versions"
### Description of the problem / feature request / question:

Unable to generate a workspace with which includes a pinned dependency.

### If possible, provide a minimal example to reproduce the problem:

Attempt to generate a workspace with  io.grpc:grcp-all:1.1.2

[code]
yields
[code]

i suspect its because of version is pinned here:

[https://repo1.maven.org/maven2/io/grpc/grpc-all/1.1.2/grpc-a

[2017-02-24 18:39] dfabulich commented on #2579
I've provided a more complex example in the `complex` branch of the git repo. https://github.com/dfabulich/java-binary-runfiles/tree/complex

In the `complex` branch there are three targets, `x`, `y`, and `config`.

`config` is a `java_library` that exposes a static `Config#getConfig()` method.

[code]

`X.java` and `Y.java` are basically identical (but please imagine they did different work!)

[c

[2017-02-24 18:51] dfabulich commented on #2579
I renamed the ticket from "undesirable" to "non-configurable" (because I actually agree that the default working directory is correct).

Which is to say, what I think I want is some kind of parameter to `*_binary` targets that launches the binary in a specified subdirectory of the runfiles directory, instead of at the root of the runfiles directory.

Then I could update `x/BUILD` to say something

[2017-02-24 19:05] Anmolk22 opened #2589 "Java path is provided but doesnt work"
I have Java installed in my system which works fine
I am trying to build bazel
I have followed all the steps
Environment variables
JAVA_HOME="$(ls -d C:/Program\ Files/Java/jdk* | sort | tail -n 1)"
BAZEL_SH=c:/tools/msys64/usr/bin/bash.exe
Using Oracle Java jdk1.8.0_111
msys2
checked for msys2.0.dll and provides me with the path.
But when I try to run ./compile.sh
It gives me an error.
![error](h

[2017-02-24 19:19] cgrushko commented on #2584
This is blocked on https://github.com/google/protobuf/issues/2757, unless we're ok not build Bazel on FreeBSD.

[2017-02-24 19:39] #2589 closed

[2017-02-24 19:43] hhclam commented on #487
The protocol and client side in Bazel is being actively worked on by Ola from Google. I think it's relatively stable. The "demo" remote worker has been left in dust for a long time.

I'm interested in building a production quality remote worker, but I'm not working on this at the moment

[2017-02-24 22:07] aj-michael commented on #1476
Thanks @natemccoy , the issue was just that I did not have g++ installed (we should probably have a better warning for that). Otherwise, the 32bit Bazel binary seems to be working fine.

[2017-02-24 23:24] cushon opened #2591 "Disable 'InsecureCryptoUsage' Error Prone check"
Tracking bug for making the Error Prone `InsecureCryptoUsage` check a warning instead of an error.

[2017-02-24 23:25] cushon commented on #2585
I split the InsecureCryptoUsage part into #2591.

As discussed, the type inference regression doesn't seem very severe and may not be something we want to block on.

[2017-02-25 00:04] cushon commented on #2073
google/error-prone@0bb5a2944ce8f8d0eab1f69ae26a0c2bd9816acd should have fixed those symptoms. I'm still not sure what the root cause was, so please re-eopen if you see this again.

[2017-02-25 00:04] #2073 closed

[2017-02-25 18:33] Carmezim opened #2594 "ERROR: No toolchain found for cpu 'x64_windows'"
Windows 10 x64
Msys2 v20160205
Bazel 0.4.3
Visual C++ 2015

Getting this error after successfully configuring TensorFlow then building
[code]
Steps to reproduce:
- Compile Bazel or use a pre-built binary (both yielded same result)
- Clone TensorFlow repository
- Configure TensorFlow
- Build it with bazel

**UPDATE:** removing `--config=cuda` yields `AssertionError: Could not find python binary: py

[2017-02-25 19:08] johnynek commented on #1262
You mention `execroot`, but will this also change the path in `bazel-bin` or is that one and the same?

For instance, in 0.4.4, external repos are still in `external/some_repo_foo/` and the current repo is at the root of `bazel-bin`.

This actually creates a pain for thrift support across repos because thrift imports are (somewhat terribly) based on file paths. So, we need to know the relative pat

[2017-02-25 22:33] ray-chu commented on #2544
It seems the problem comes from tensorflow side.

[2017-02-25 22:33] #2544 closed

[2017-02-26 00:51] frp commented on #2508
+1, encountering the same problem.

[2017-02-26 03:12] coreych opened #2595 "Error: Build and run tests for Syntaxnet fail on Mac OS"
### Description of the problem / feature request / question:

Couldn't start the build. Unable to run tests.

ERROR: /private/var/tmp/_bazel_/67774bec931188b8c444c9885d9c15ed/external/org_tensorflow/tensorflow/workspace.bzl:3:6: file '@io_bazel_rules_closure//closure:defs.bzl' does not contain symbol 'filegroup_external'.
ERROR: /private/var/tmp/_bazel_/67774bec931188b8c444c9885d9c15ed/external/or

[2017-02-26 06:27] Carmezim commented on #2457
had this issue when building TensorFlow from source on Windows

[2017-02-26 10:51] or-shachar opened #2596 "documentation: build-ref rules outs is unclear and references non-existent figure"
As a Bazel noob reading the build-ref document, I can't understand the section about Rules (https://bazel.build/versions/master/docs/build-ref.html#rules), the paragraph about the `outs`:

Right after that there's a paragraph pointing to image that doesn't exist. Maybe with the image the paragraph bellow would have made more sense.
(I'm using mac OS X and Chrome 56)

I wish I can suggest a fix but

[2017-02-26 12:20] coroner4817 opened #2597 "Bazel android example still need add --spawn_strategy=standalone when build on mac"
### Environment info
* Operating System:
Mac OS X 10.12.2 (16C67)
* Bazel version (output of `bazel info release`):
0.4.4-homebrew

I basically try to build the [example android project](https://github.com/bazelbuild/bazel/tree/master/examples/android). However, if I follow the README, bazel will give me this error:

[code]

My WORKSPACE is:
[code]

My BUILD file is:
[code]

If I add the `--spawn_

[2017-02-26 13:57] or-shachar commented on #2596
Seems like [this commit](https://github.com/bazelbuild/bazel/commit/b7c00d8762d74fb54d0a6b0eb355abc6dc7a97c3) by   @kchodorow touched the figure area. I checked the previous svg code and got this image bellow.
![image](https://cloud.githubusercontent.com/assets/2962963/23340261/d03495cc-fc3b-11e6-8bf0-f2eb720a862c.png)

[2017-02-26 23:03] doug-ross commented on #1308
Thanks, that's awesome!

[2017-02-26 23:45] lukaszx0 commented on #52
@cgrushko you mentioned in an issue for grpc-java that there's a first class support for `java_proto_library` but I don't see docs for it. Is it just undocumented yet?

[2017-02-26 23:47] lukaszx0 commented on #52
Oh, they're under [java](https://bazel.build/versions/master/docs/be/java.html), and I was looking under [protocol buffer](https://bazel.build/versions/master/docs/be/protocol-buffer.html).

My bad. Please ignore me! Sorry for the noise.

[2017-02-27 01:24] cgrushko commented on #52
(didn't know it got undocumented; I thought that only happens at the next release)
I put together a demo repo in https://github.com/cgrushko/proto_library,
and I'm working on a blog post (or at least a Gist).

[2017-02-27 03:29] lukaszx0 commented on #52
@cgrushko nice, thanks!

[2017-02-27 04:56] tomazos opened #2598 "Unnecessary rebuild of .cc file when non-included header is modified?"
If I modify a header in a `cc_library`, Bazel seems to recompile all the .cc files in the `cc_library`, even the ones they do not include the modified header?

Consider the following source files and rule:

    $ cat test1.cc
    #include "test1.h"

    $ cat test2.cc
    // empty

    $ cat test1.h
    // empty

    $ cat BUILD
    cc_library(
        name = "foo",
        hdrs = ["test1.h"],

[2017-02-27 10:44] damienmg commented on #2585
After mail discussion, let's not block the release on it. We depend too much on upstream and there is a good enough workaround.

Let's add a RELNOTEs to the release though.

[2017-02-27 11:08] Anmolk22 commented on #1730
Hey @damienmg can you tell me how did you deal zipalign missing issue

[2017-02-27 11:21] gunan commented on #2594
@meteorcloudy any ideas?

[2017-02-27 11:59] hermione521 commented on #2596
@kchodorow I'm not sure how it works. Can you have a look? Thanks.

[2017-02-27 12:01] dslomov commented on #1140
Yes, and I am actively working in that area, but it is a P2, so might slip.

[2017-02-27 12:02] damienmg commented on #2472
As discussed in #2585, we should add a RELNOTES that points to #2585 about the regression on Java type inference.

[2017-02-27 12:13] hermione521 commented on #2580
It looks like a common trap on Mac: case-insensitive file system. I'll verify if something changed from 0.4.1.

[2017-02-27 12:45] petemounce commented on #2472
That ticket mentions a `0.4.5rc1` - please could I be pinged for RCs and releases (though I'm less likely to miss the latter) by automation? Or, perhaps if the announcements could go a to group where those are the only things that arrive there, in addition to the other lists it hits?

[2017-02-27 12:55] damienmg commented on #2472
bazel-discuss+release-candidate@googlegroups.com is the mail we are sending those announcement, would you need more?

Sorry for missing pinging you, the rc1 is at https://storage.googleapis.com/bazel/0.4.5/rc1/index.html

[2017-02-27 13:36] hermione521 commented on #2577
@prestonvanloon yes, it is.

[2017-02-27 14:25] ulfjack commented on #1525
I can reproduce with the repro.sh script, but not with @kchodorow's instructions.

[2017-02-27 14:28] ulfjack commented on #1525
Oh, I see. I did it wrong, I can reproduce.

[2017-02-27 14:51] steren opened #2600 "iOS: Packaging happens every time a build is triggered"
Packaging happens every time a build is triggered. In development phase, this is not needed. We should not wait for the packaging to be over to launch the simulator.

When you run `bazel build` for an ios_application, it seems like the executable should be the explicit output, and the IPA should not be packaged unless explicitly stated.

[2017-02-27 15:11] #2587 closed

[2017-02-27 15:23] hermione521 commented on #2588
@kchodorow can you have a look? Thanks.

[2017-02-27 15:45] ulfjack commented on #1525
Now I can't reproduce it anymore, neither way. I was trying to test a fix and I can't reproduce the problem. :-(

[2017-02-27 15:47] ulfjack commented on #1525
Ok, I can reproduce and I have a fix.

[2017-02-27 15:59] hermione521 commented on #2580
https://github.com/bazelbuild/bazel/commit/b4f461ecc183d9adc9482f4cad848687ed0227ee
This seems to be the problem.

[2017-02-27 17:21] hermione521 commented on #2595
If I didn't misunderstand, it looks like a problem in Tensorflow. So you failed to build tensorflow?

[2017-02-27 17:38] kchodorow commented on #1262
In the brave new world, everything will be a siblings.  So you'll have:

[code]

Does that work for your use case?

[2017-02-27 17:41] mhlopko commented on #2598
:)) Did you try with bazel at HEAD? There was a (quite bad and involved) bug, but it got fixed already. But thanks for noticing!

[2017-02-27 17:41] #2598 closed

[2017-02-27 18:01] ahumesky commented on #1730
Hi @Anmolk22 could you open a separate bug or a discussion at [bazel-discuss](https://groups.google.com/forum/#!forum/bazel-discuss) with the details of the issue you're seeing?

[2017-02-27 18:22] Anmolk22 commented on #1730
@ahumesky I found the cause after going through many issues the answer quiet simple I was trying to build tensorflow using bazel from bash on msys2 over windows which is not possible as if now.
If you know that's possible let me know.
Would up a discussion gladly. Thank you

[2017-02-27 18:23] petemounce commented on #2472
That group is pretty high-traffic, so I don't monitor it closely. Is it possible to get a different group just for RCs/releases? Or to be included in the set of emails that the release script pings?

[2017-02-27 18:29] petemounce commented on #2472
The rc is published at https://chocolatey.org/packages/bazel/0.4.5-rc1

[2017-02-27 18:40] aj-michael commented on #1730
I thought we already had a bug thread for "support Android on Windows" but I can't seem to find it now. We should certainly have one, because this seems to come up a lot.

In the last week this has been asked twice on StackOverflow:
http://stackoverflow.com/questions/42400235/i-have-problems-like-configuring-basel-on-windows
http://stackoverflow.com/questions/42387999/bazel-build-error-in-tensorfl

[2017-02-27 18:49] johnynek commented on #1262
Thanks for your reply @kchodorow. I'm not sure I totally follow the plan.

Right now, for instance, `bazel-bin` links into `execroot/some_repo_foo/local-fastbuild/bin`. In there, I can see `external/....`

After this change, will paths in external be gone, so we would see:
[code]
?

I'm not sure if that would actually matter for my question. I think as long as the path that objects think they are

[2017-02-27 18:59] kchodorow commented on #1262
Exactly, there will be a separate `repo/local-fastbuild/{bin,genfiles,testlogs,etc.}` output directory for each repository.  No external/ anywhere!

I'm not sure what you mean, can you clarify?

[2017-02-27 19:16] ittaiz commented on #970
@ulfjack I tried seeing what files I needed to copy to have the AllTests behavior and I'm pretty sure I need 10 files which seems like a lot of code duplication...
I think I can trim it down if I copy and change the implementation to be a lot less generic and powerful but I don't know if that is ok (both legal and etiquette).
I'd really wish there was an easier way to res-use code from within Baze

[2017-02-27 20:25] johnynek commented on #1262
a skylark rule that uses `.path` on a file I think gets the full path from the local-fastbuild? I'm not really sure what path is actually gets. But those paths matter to some rules (like the thrift rules we have since thrift does import by relative path, not by module/package name).

So, this is how we get into this boat now. The `.path` is different when you run as an external repo, and so this i

[2017-02-27 20:47] kchodorow commented on #1262
That's what this bug is trying to fix: make local & remote paths "look the same."

Technically, `.path` is the path to the file under the execution root, so it'll include the local-fastbuild segments for output files (but not source files).  So `File('//my:generated_file').path` should be bazel-out/local-fastbuild/genfiles/my/generated_file, whereas `File('//my:src_file').path` would just be my/sr

[2017-02-27 20:59] johnynek commented on #1262
Thanks for the clarification. I think solving this bug will be what we want for our use case then.

[2017-02-27 21:08] kamalmarhubi commented on #1408
Should this have been closed? I don't think the current skylark git repository rules handle shallow cloning yet?

[2017-02-27 22:02] aj-michael commented on #2597
Hmmm, you should not need it as of bazel 0.4.4. What is the output of `bazel version`?

[2017-02-27 23:37] damienmg opened #2601 "TF Android build are broken by 0.4.5rc1 on macOS"
Discussion with @yifeif who tested our RC with TF:
"upgraded android to the latest, it worked with bazel 0.4.2, but failed with 0.4.5rc1 https://ci.tensorflow.org/job/tensorflow-cl-android/17541/consoleFull"

Extract of the CI:
[code]

Other important point: they upgraded to NDK13, related?

/cc @aj-michael @ahumesky
/cc @hermione521 another release blocker.

[2017-02-28 00:14] tomazos commented on #2598
I thought I was using a build from head.  I'll try it again and get back to you.

[2017-02-28 01:49] coroner4817 commented on #2597
[code]

Is that because I use higher version NDK (r14-beta2)?

[2017-02-28 03:05] is03wlei commented on #2573
build -c dbg source:all
.................
INFO: Found 2 targets...
INFO: From Compiling xxx.cpp:

...bunch of warnings...

74 warnings generated.
INFO: Elapsed time: 17.249s, Critical Path: 6.37s

bazel build --strip=never --copt="-g" source:all
INFO: Found 2 targets...
INFO: From Compiling xx.cpp:

...bouch of warning...

21 warnings generated.
INFO: Elapsed time: 6.128s, Critical Path: 5.67s

[2017-02-28 04:20] hochhaus commented on #2597
I am seeing a similar issue on bazel 0.4.4 only using the SDK (no NDK). Please let me know if you need more details and I'll post a full reproducer.

[2017-02-28 05:02] endobson opened #2602 "Bazel build doesn't kill subprocesses when it is sent control-c"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:

Sometimes I write buggy programs which run out of control and take up huge amounts of resources (e.g. infinite loops). And sometimes these programs are bazel genrules. Upon discovering that the genrules are

[2017-02-28 05:04] aj-michael commented on #2601
When was the release cut? Support for NDK13 is pretty new, I added it in 3809e4cdf2b540ff617a7cc347b5dafe98c84dfb,

[2017-02-28 05:07] aj-michael commented on #2601
Nevermind, I see that 3809e4c is in 0.4.5rc1. This looks like a bug in our ndk13 crosstool. Sadly we don't have very good coverage of ndk builds. I'm taking a look.

[2017-02-28 05:16] aj-michael commented on #2597
Hmmm, I'll try to take a look tomorrow. For the sake of linking things together, the tracking issue for this bug was https://github.com/bazelbuild/bazel/issues/1928.

I noticed that you changed the target in the example from 25.0.0 to 25.2.0. Perhaps that is related? I will admit I have not tried any builds with the 25.2.0 app compat library, however I can't imagine any difference in its contents

[2017-02-28 05:22] hochhaus commented on #2597
@aj-michael Yes, I'm compiling the same target both on linux and mac. Linux works as expected. The error only occurs on the mac for me.

[2017-02-28 06:01] coroner4817 commented on #2597
@aj-michael Both of build failed for the same not exist error.

[2017-02-28 06:39] softprops commented on #632
I think I'm having a similar problem, not by a library I'm producing, but a library I'm consuming

Here, I'm running into an issue with spire's [Syntax](https://github.com/non/spire/blob/v0.9.0/macros/src/main/scala/spire/macros/Syntax.scala) companion.

At first I thought it was do to a conflicting version of machinist I had on my classplath but I've since resolved that back to 0.3.0 which should

[2017-02-28 06:44] johnynek commented on #632
Doug, how are you using this library? Did you see the comment about using `:file` target above?

Macros will not work when they are in java_library or scala_library.

Incidentally, this is one thing my dependency tool handles for you (in addition to locking all transitive versions and the shas of the jars).

[2017-02-28 06:53] crorvick opened #2603 "Cannot build HEAD, bisect ends at commit 6b6bdbffe"
I cannot build latest snapshot of Bazel using latest Gentoo build of Bazel.  Git bisect ends here, though the error message is different (there is no good commit after this, though).

Error message when building HEAD:
[code]
Details:
[code]
* Operating System: Gentoo
* Bazel version (output of `bazel info release`): release 0.4.3- (@non-git)
* If `bazel info release` returns "development version"

[2017-02-28 08:06] katre commented on #2580
I will investigate, but reverting commit b4f461e isn't an option at this point.

[2017-02-28 09:00] meteorcloudy commented on #2594
@Carmezim This is [the script](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/ci_build/windows/cpu/pip/build_tf_windows.sh#L49) we use to build TF on ci.tensorflow.org

Can you try run `./configure` again and then:
[code]

And for GPU build, you should add `--config=win-cuda`

[2017-02-28 09:13] mhlopko commented on #2598
Please do, in that case there might be a new bug. I tried with HEAD and it worked for my configuration.

[2017-02-28 09:42] laszlocsomor opened #2604 "Windows: cd should use short windows path"
### Description of the problem / feature request / question:

When building ~~genrules~~ normal SpawnActions, we first `cd` into the execroot. This path should use shortened paths on Windows in order not to exceed 260 chars.

E.g.
[code]

In this case, the error was NOT due to the `cd` using forward slashes or anything, I just happened to notice this problem while looking at this log.

[2017-02-28 09:50] katre opened #2605 "Debian package has binaries in the wrong directory"
Reported from 0.4.5rc1:

[code]

[2017-02-28 09:54] damienmg opened #2606 "Need a solution to replace Java -sourcepath in Bazel java support (use-case: Groovy stubs)"
This was reported while testing 0.4.5rc1 by a user that was not able to update to 0.4.4 due to the java bug.

[code]

[2017-02-28 10:27] hermione521 commented on #2603
Can you try latest bazel 0.4.4? I also get error for this commit on Ubuntu with bazel 0.4.3, but 0.4.4 works.

[2017-02-28 10:49] damienmg commented on #2606
Bisecting in progress.

[2017-02-28 10:51] damienmg commented on #2472
Change we need to make sure are in the release:
88b20ae90bdeb77bdfd1c764805bd8ad5d55f3d7
a28b54033227d930672ec7f2714de52e5e0a67eb

[2017-02-28 11:03] damienmg commented on #2606
Bisected to 3c5e55ff8e058b624ce26e803ff00434c70d4b91
/cc @cushon

[2017-02-28 11:26] damienmg commented on #2606
Working on a fix

[2017-02-28 11:35] #1458 closed

[2017-02-28 11:35] #2394 closed

[2017-02-28 11:35] #2605 closed

[2017-02-28 11:35] #2580 closed

[2017-02-28 12:32] hermione521 commented on #2472
Pushed 0.4.5-rc2, cherry-picked:
https://github.com/bazelbuild/bazel/commit/a28b54033227d930672ec7f2714de52e5e0a67eb
https://github.com/bazelbuild/bazel/commit/6d1d424b4c0da724e20e14235de8012f05c470f8

This change is already in:
https://github.com/bazelbuild/bazel/commit/88b20ae90bdeb77bdfd1c764805bd8ad5d55f3d7

[2017-02-28 12:52] aehlig commented on #2578
I don't think, compile.sh is the correct place to build it. A jar is,
fortunately, machine independent; so if we build it with `bazel build
//third_party/protobuf:protobuf_java`, the best way (definitely the
most easy way) to do it, is to just add it to the distribution artefact.
I'll have a closer look and try to make this work.

--
Klaus Aehlig
Google Germany GmbH, Erika-Mann-Str. 33, 80636 Muen

[2017-02-28 13:13] crorvick commented on #2603
That worked, thanks!

[2017-02-28 13:13] #2603 closed

[2017-02-28 13:59] aehlig commented on #2578
For the time being, this is blocked on having the full protobuf sources
under third_party. Then it will be an involved 3-step dance, as what we
actually want is to atomically
- remove the jar,
- change third_party/protobuf/3.x.y/BUILD to build the jar instead of importing it,
- change the generation of the distribution artefact to include the generatred jar, and
- change compile.sh to also search

[2017-02-28 14:08] softprops commented on #632
I'm using `java_library` atm. We manage our dependencies with ivy (by way of ant) for historical reasons then vendor and check them into our git repo. Is there a recommended approach if you already have the jar locally?

[2017-02-28 14:20] steren commented on #970
P1 to reflect the customer priority of this issue.

[2017-02-28 15:12] dslomov commented on #970
P1 and 0.5 release means this is close to release blocker for 0.5. Is that the accurate picture?

[2017-02-28 15:19] dslomov commented on #970
I also suggest to split out individual issues: provider construction, instrumentation metadata etc.
This feature request corresponds to phase 1 of https://bazel.build/designs/2016/08/04/extensibility-for-native-rules.html, whereas those extra requests are in phase 2)

[2017-02-28 15:22] ittaiz commented on #970
I agree we might be to split this issue to ensure focus but I'd appreciate having the issue focus on the problem being solved (scala_junit as an example) and not on the solution (provider construction).
I iterated in this comment what are the use-cases that I need to solve:
https://github.com/bazelbuild/bazel/issues/970#issuecomment-281903952

[2017-02-28 15:23] dslomov commented on #970
Well phase 2 of https://bazel.build/designs/2016/08/04/extensibility-for-native-rules.html directly talks about the Scala use case :)

[2017-02-28 15:25] ittaiz commented on #970
Yes but the first comment of *this* issue talks about scala. This was the motivation of this issue. The fact that the design tried to first solve proto-lite was a big surprise to @johnynek and me but that's ok. I think this ticket is about those use-cases.

[2017-02-28 15:30] softprops commented on #632
@ittaiz see @johnynek's [comment](https://github.com/bazelbuild/bazel/issues/632#issuecomment-282956829)

I'm looking for a way to work around the macro issue when I have a local jar.

[2017-02-28 15:32] ittaiz commented on #632
TBH I don't know

[2017-02-28 15:33] aehlig commented on #2485
Our documentation[1] explicitly tells to download a distribution artefact; nowhere
it says to run compile.sh on a random checkout or sources-only tar archive. Also,
the error message has been significantly extended in 967a0a338e05fca60b437c36a52b31eaf706bea8.

So I fail to see the need for more documentation.

[1] https://bazel.build/versions/master/docs/install.html#compiling-from-source

--
Klau

[2017-02-28 15:33] Carmezim commented on #2594
This is the entire log doing the above:
[code]

[2017-02-28 15:34] petemounce commented on #2472
Published 2nd RC to chocolatey.

[2017-02-28 15:36] damienmg commented on #2472
Thanks!

On Tue, Feb 28, 2017 at 4:34 PM Peter Mounce <notifications@github.com>
wrote:

[2017-02-28 15:37] abergmeier-dsfishlabs commented on #2604
😕 Why are 260 characters a problem if you go through the cygwin layer?

[2017-02-28 15:37] Carmezim commented on #2594
Entire log doing the above:
[code]

[2017-02-28 15:40] dslomov commented on #2406
@laszlocsomor on track fro 0.5?

[2017-02-28 15:41] dslomov commented on #1946
@meteorcloudy on track for 0.5

[2017-02-28 15:52] meteorcloudy commented on #1941
@dslomov Ping.

[2017-02-28 16:00] dslomov commented on #1877
This is a documentation issue. Let's close it and file a separate issue for functionality change

[2017-02-28 16:00] #1877 closed

[2017-02-28 16:15] dslomov commented on #970
Ok, fine. Splitting this into multiple issues according to https://bazel.build/designs/2016/08/04/extensibility-for-native-rules.html would be more accurate and would make everyone more informed about what gets shipped when and why.

[2017-02-28 16:30] laszlocsomor commented on #2604
Because this one isn't going through cygwin. I just realize this wasn't even a genrule, just a spawnaction, i.e. a native process we spawned with CreateProcess.

The main reason is, the current directory is always limited to MAX_PATH. Even though `SetCurrentDirectoryW`'s documentation claims you can pass long paths with the usual "\\\\?\\" prefix, in reality this doesn't work for me.

[2017-02-28 17:21] hermione521 opened #2607 "Windows build is broken"
http://ci.bazel.io/view/Bazel%20bootstrap%20and%20maintenance/job/Bazel/JAVA_VERSION=1.8,PLATFORM_NAME=windows-x86_64/1320/console

[2017-02-28 17:23] hermione521 commented on #2607
I didn't know this is flaky..

[2017-02-28 17:23] #2607 closed

[2017-02-28 17:23] meteorcloudy commented on #2607
Let's rerun it~

[2017-02-28 17:33] aj-michael commented on #2601
I've confirmed that their build still works* with NDK12.

\* They need to update the `build_tools_version` for `android_sdk_repository` in their `WORKSPACE` file to >= 24.0.3. Or, preferrably, just remove `build_tools_version` from their `WORKSPACE` since it has been optional since bazel 0.4.4.

[2017-02-28 17:37] abergmeier-dsfishlabs commented on #2604
If it is P2 anyway, why not change it to use PowerShell?

[2017-02-28 17:42] damienmg commented on #2601
Actually the change updated it to 25.0.1, added you in CC. Maybe they are doing something wrong on their CI about it. Since it is not breaking with NDK12, I think we can remove it from release blocker.

[2017-02-28 17:50] aj-michael commented on #2601
Ah, I did not see their change that updates the build tools version. I was basing my claim on my local testing based on the tensorflow github master branch.

[2017-02-28 17:52] johnynek commented on #632
`java_import` is the recommended bazel way for java jars that are local. But that is a java rule which forces the use of ijar by the time the scala rules can see it (currently, maybe a future change to the skylark interface of the java rules would change that).

@softprops to work around, you should use a filegroup:
[code]

[2017-02-28 17:58] ittaiz commented on #970
Sure thing. I'm not opposed.
My main objection was to the sentiment I, maybe mistakenly, heard in your
comment about the issue actually being solved and that the rest are
advanced features which will happen at some future time.
On Tue, 28 Feb 2017 at 18:15 Dmitry Lomov <notifications@github.com> wrote:

[2017-02-28 17:59] johnynek commented on #970
As far as phase 1 goes, maybe some homework we can do is this: for mixed java and scala targets, we actually wind up calling javac ourselves, which is not great. It would be cool if phase 1 at least allowed us to use the bazel standard javac invocation (and all options that would go along with that).

For scala and java, the trick is that you first run the scala compiler *including* the `.java` fi

[2017-02-28 18:18] cushon commented on #2606
Prefer:

[code]

[2017-02-28 18:28] aj-michael commented on #2601
As an update, I tried NDK11 and NDK12 with our clang crosstool, and both of those builds failed.

[2017-02-28 18:35] yifeif commented on #2601
I have not tried android builds with upgraded tool and sdk version, NDK12 and 0.4.5rc1 bazel yet. Trying it right now.

[2017-02-28 18:57] #2438 closed

[2017-02-28 22:09] cgrushko commented on #2359
I posted
https://bazel.build/blog/index.html#protocol-buffers-in-bazel

I also plan to update the docs in http://be.bazel.build .

[2017-02-28 22:10] cgrushko commented on #2292
This is now `@com_google_protobuf//:protoc` by default, with `--proto_compiler` overriding it.
It's not in Bazel 0.4.4 though, so you'll have to build from sources (or wait for 0.4.5).

[2017-02-28 22:10] #2292 closed

[2017-02-28 22:11] cgrushko commented on #2292
Ah, also see https://bazel.build/blog/index.html#protocol-buffers-in-bazel

[2017-02-28 22:12] cgrushko commented on #52
Blog post: https://bazel.build/blog/index.html#protocol-buffers-in-bazel

I'll close this issue because it seems to have grown to include too many things; if your issue hasn't been addressed, please open a new issue and CC me.

[2017-02-28 22:12] #52 closed

[2017-02-28 22:15] cgrushko commented on #1718
See https://bazel.build/blog/index.html#protocol-buffers-in-bazel .
I also plan to update the Build Encyclopedia (http://be.bazel.build).

JavaLite is currently blocked on https://github.com/google/protobuf/issues/2762, https://github.com/google/protobuf/pull/2761 and https://github.com/google/protobuf/issues/2434 (for javalite).

But, we can look into a workaround.

[2017-02-28 22:15] #1718 closed

[2017-02-28 22:48] aj-michael commented on #2597
Hmm, both https://github.com/bazelbuild/bazel/blob/0f119a4db515105217244e4db5d4fed9371ef1a4/src/main/java/com/google/devtools/build/lib/sandbox/DarwinSandboxedStrategy.java and https://github.com/bazelbuild/bazel/blob/0f119a4db515105217244e4db5d4fed9371ef1a4/src/main/java/com/google/devtools/build/lib/sandbox/LinuxSandboxedStrategy.java invoke https://github.com/bazelbuild/bazel/blob/0f119a4db5151

[2017-02-28 22:59] aj-michael commented on #2597
Ah, I think I see the problem. That DarwinSandboxedStrategy uses a HardlinkedExecRoot, while the LinuxSandboxedStrategy uses a SymlinkedExecRoot. Since you can't make hard links to directories... we may be out of luck here.

[2017-02-28 23:05] xynny opened #2608 "Cannot build bazel from source with bazel 0.3.1 due to 'forcibly_disable_header_compilation' @ ee61191 HEAD"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

I cloned latest commit  ee61191   and tried to build from src by doing bazel build //src:bazel.  I have bazel 0.3.1 on my mac and bazel 0.3.1 on my linux machine.  Both of them throw this error:

Linux behavior:

~/bazel$ bazel build //src:bazel
Extracting Bazel insta

[2017-02-28 23:11] softprops commented on #632
following up. @johnynek that worked wonders for me. In case anyone runs in the specific case of spire in the future, leaving another example here for reference

[code]

[2017-02-28 23:53] ejona86 commented on #52
For posterity, https://bazel.build/blog/2017/02/27/protocol-buffers.html is the permalink to the blog post.

[2017-03-01 00:28] xynny commented on #2608
It seems that I was running 0.3.1 on my mac machine from the wrong path so I updated the issue.  I think this might just be a documentation issue.  https://bazel.build/versions/master/docs/install.html#compiling-from-source needs to be updated to say that you should get the latest distribution of bazel, or at least a compatible one, and then run bazel build //src:bazel    .. Right now the instruct

[2017-03-01 00:34] #2523 closed

[2017-03-01 01:06] tylernisonoff opened #2609 "Error copying when using rest_cache_url"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:
the cache url seems to work fine if i have the majority of my project cached, but fails on a clean build.
[code]

### If possible, provide a minimal example to reproduce the problem:

### Environment info
*

[2017-03-01 01:23] znull opened #2610 "sandboxed rules broken on macos when output_base and workspace have differing case sensitivity"
* Operating System:

macOS Sierra 10.12.3 (16D32)

* Bazel version (output of `bazel info release`):
[code]

[code]

[2017-03-01 01:37] hochhaus commented on #2597
Icky. This is a show stopper for `android_binary()` to work well cross platform.

Is it possible to force bazel on darwin to use the `SymlinkedExecRoot` for `android_binary()` rules?

[2017-03-01 02:18] tylernisonoff commented on #2609
I fixed the issue on my side by explicitly special-casing the case with 0 input files in my skylark rule -- not sure if it should be expected to handle 0 inputs.

[2017-03-01 02:40] aj-michael commented on #2597
So I spoke a bit too soon. HardlinkedExecRoot does handle directory inputs, however the way it handles them is by hard linking each of the directory entries:

https://github.com/bazelbuild/bazel/blob/0f119a4db515105217244e4db5d4fed9371ef1a4/src/main/java/com/google/devtools/build/lib/sandbox/HardlinkedExecRoot.java#L151

Then, in the process of creating the hardlinks for the children, it creates t

[2017-03-01 02:50] aj-michael commented on #2597
Hmmm, one last thing I'm still confused by. We have a test for this:

https://github.com/bazelbuild/bazel/blob/0f119a4db515105217244e4db5d4fed9371ef1a4/src/test/shell/bazel/android/android_integration_test.sh#L198

@damienmg Does Bazel CI run on mac with sandboxing disabled?

[2017-03-01 06:57] damienmg commented on #2606
As discussed offline this is WAI and we have found workaround to the user issues

[2017-03-01 07:43] laszlocsomor commented on #2604
Why would we change to PowerShell?

[2017-03-01 07:55] #2485 closed

[2017-03-01 08:33] abergmeier-dsfishlabs commented on #2604
In PowerShell `\\?\` works.
And long term, `cmd` goes away, so switching must happen at some time.

[2017-03-01 09:00] laszlocsomor commented on #2604
Can you show an example? It doesn't work for me:

[code]

Also, here's a demo about `SetCurrentDirectoryW`'s limitations:

[code]

This prints:
[code]

Does it? Can you point me to the source? What I read was that they planned to make it non-default, not that it goes away.

[2017-03-01 09:16] abergmeier-dsfishlabs commented on #2604
PS C:\Windows\System32\WindowsPowerShell\v1.0> cd \\?\C:\Projects
    PS Microsoft.PowerShell.Core\FileSystem::\\?\C:\Projects>

Can you do `$PSVersionTable.PSVersion`?
For me this prints:

    Major  Minor  Build  Revision
    -----  -----  -----  --------
    5      1      14393  693

Could this be a registry switch!?

You might be right. Officially AFAIK there is no word from Microsoft for the

[2017-03-01 09:20] abergmeier-dsfishlabs commented on #2604
Oh, seems you are right - for me `cd \\?\C:` doesn't work either. Might be security!?

[2017-03-01 09:26] laszlocsomor commented on #2604
Yep, this looks like a registry and/or Windows version thing. I don't even have Anniversary Update.

[code]

I'd rather we didn't use any shell at all, if possible.

[2017-03-01 09:27] laszlocsomor commented on #2604
I think that is actually an invalid path -- you need a trailing `\`.

[2017-03-01 09:28] abergmeier-dsfishlabs commented on #2604
Nope, that doesn't work either for me.

[2017-03-01 09:33] abergmeier-dsfishlabs commented on #2604
I do agree. Also important IMO is that you do not need a compiler to execute actions.

The easiest way IMO to do that is to have a binary blob, at which you concat the necessary arguments to the end of file:

    | binary | arg1len | arg1string | arg2len | arg2string |

The "correct" way would probably be to put the arguments into the const section of the Windows executable.

[2017-03-01 09:40] laszlocsomor commented on #2604
I'm missing context, do you mean we need a compiler to execute actions today?

For normal actions (SpawnActions) we create a native process using `CreateProcess`, with the executable we want to run. For genrules (which I'm only mentioning because I originally filed the bug talking about genrules but later corrected it) we do the same, and the executable is the MSYS bash.exe.

Again, I'm missing co

[2017-03-01 09:45] abergmeier-dsfishlabs commented on #2604
No, I mean we should keep the current behavior (of not needing a compiler).
Just mentioned this because you would "normally" compile a native Windows executable (needing a compiler). I would however rather advocate for building the Windows executable out of precompiled binary blobs (if possible).

Or maybe there is a better option?

[2017-03-01 10:01] dslomov commented on #1176
This has actually been fixed a while ago, there is an error message instead of an assertion

[2017-03-01 10:01] #1176 closed

[2017-03-01 10:17] laszlocsomor commented on #2604
I think we're talking about different things. I reckon you talk about the fact that, AFAIK, we currently require a C++ compiler installed, even if you don't build any C++ code. I agree that is not OK and we want to change that in the future, but we're not there yet.

There's also the matter of Bazel calling out to the shell, typically when we use `SpawnAction.Builder.setShellCommand` [1]. We also

[2017-03-01 11:10] dslomov commented on #1140
The actual bug is already fixed (quite a while ago actually); there are some extra complications with required/advertised providers that I am fixing now, but this request can be closed.

[2017-03-01 11:10] #1140 closed

[2017-03-01 12:02] hermione521 commented on #2610
Sorry I can't reproduce it. Can you confirm it only happens for 0.4.5-rc2?

[2017-03-01 12:06] katre commented on #2610
input.txt should be listed under "srcs", not "tools", since it's acting as an input and not as something being executed. I suspect that's the cause of the error you're seeing, please try and let us know.

[2017-03-01 12:15] hermione521 commented on #2608
Well, Bazel is growing fast and we don't promise that current release always build early commit. But I will update the doc. Thanks.

[2017-03-01 12:21] #2608 closed

[2017-03-01 12:28] hermione521 commented on #2609
@philwo I guess you work on it?

[2017-03-01 13:20] abergmeier-dsfishlabs opened #2611 "Accept label_string_dict for includes"
### Description of the problem / feature request / question:

Once we have `label_string_dict` (or whatever it will be called), it would be great if the reach of include statements could be controlled by labelled dicts. Something like:

    includes = {
      "//visibility:public": "include/",
      "//visibility:private": "src/",
    },

where `public` gets derived by dependants.

[2017-03-01 13:52] ulfjack commented on #1593
I have some changes in flight to prepare for open sourcing the code we're using internally to handle runfiles.

[2017-03-01 13:54] abergmeier-dsfishlabs opened #2612 "Linux sandbox prevents action childs from writing files"
### Description of the problem / feature request / question:

When spawning child processes from within actions, these child processes do not have the same write rights the action process has.
E.g. when trying to write a file it works fine from the action process but fails in a child process.

### If possible, provide a minimal example to reproduce the problem:

    import multiprocess
    def _wr

[2017-03-01 13:55] ulfjack commented on #1413
I'm still working on this. More progress on the test strategies, and I'm preparing to open source some more of the code we're using internally. The code is incredibly subtle, and I've had to roll back several times because I overlooked some corner cases. I have a good idea of the model I'm shooting for, but it still requires significant refactoring work.

[2017-03-01 14:14] meteorcloudy opened #2613 "PathFragment comparison is case-sensitive on Windows (Causing failure of TensorFlow build with Bazel@HEAD)"
I noticed this error from TensorFlow job http://ci.bazel.io/job/TensorFlow/BAZEL_VERSION=HEAD,PLATFORM_NAME=windows-x86_64/676/console

[code]

I believe this error is triggered by 9b75b684655e31ca0f5cb5ed08697e936d4d5c7e, but the real problem is in [RootedPath.java](https://github.com/bazelbuild/bazel/blob/e08f11c37cfe349c8b687d97100bf4a3af21719a/src/main/java/com/google/devtools/build/lib/vfs/Ro

[2017-03-01 14:19] laszlocsomor commented on #2613
Yes, it seems like we don't ignore the path casing. Look:

[code]

I'll fix it.

[2017-03-01 14:23] meteorcloudy commented on #2613
Thanks!!

[2017-03-01 14:37] laszlocsomor commented on #2613
Do you have a simple repro case for this?

[2017-03-01 14:52] meteorcloudy commented on #2613
Hmm.. I don't a simple repo yet.. But the cause sounds right to me.

[2017-03-01 15:30] laszlocsomor commented on #2613
Never mind! I just wrote a simple test for it and can repro the same error. Working on a fix.

[2017-03-01 15:56] laszlocsomor commented on #2613
And yes, you were right from the start, it is because of the PathFragment comparison being case-sensitive. I got mislead by the fact that Path comparison (and Path.startsWith) on the other hand is aware of case-(in)sensitivity.

[2017-03-01 16:09] meteorcloudy commented on #2613
I see, but not sure how to fix it..  How can we know it's a Windows path?

[2017-03-01 16:16] laszlocsomor commented on #2613
We can convert the Path segments to lower-case in Path.toFragment if the filesystem is case-insensitive. I have a change for that, about to send it out.

[2017-03-01 16:40] abergmeier-dsfishlabs commented on #2612
There might be a similar problem with MacOS. Not sure yet.

[2017-03-01 16:41] laszlocsomor commented on #2613
https://bazel-review.googlesource.com/c/9124/

[2017-03-01 16:44] philwo commented on #2612
This is what I get when I try your program (had to make rename multiprocess to multiprocessing though) as a py_test with the latest released Bazel:

[code]

I think this is caused by multiprocessing not being able to create a semaphore. Maybe we have to mount tmpfs somewhere in the sandbox for that to work? Let me check...

[2017-03-01 16:48] philwo commented on #2612
Yeah, you'll have to mount a tmpfs on /dev/shm (or /run/shm, depending on your system):

[code]

I thought that we do this automatically by now, but it looks like I forgot to implement that. The flag will help you out though for now and you can safely put it into your ~/.bazelrc. :)

[2017-03-01 16:49] philwo commented on #2612
Closing this for now, as it's essentially a duplicate of the earlier https://github.com/bazelbuild/bazel/issues/2056 - I'll make sure that this is fixed asap.

[2017-03-01 16:49] #2612 closed

[2017-03-01 17:05] iirina commented on #970
@johnynek I think if you wrap the compiled scala in a jar and pass it as a dependency to`java_common.compile`, it should work.

[2017-03-01 17:14] dslomov commented on #970
@ittaiz right, the goal with Bazel sandwich (which is our affectionate name for https://bazel.build/designs/2016/08/04/extensibility-for-native-rules.html) is to enable scale use cases, and it will happen, but it is a lot of engineering, so we have to do it in stages. I apologize for any miscommunication.

[2017-03-01 17:19] iirina opened #2614 "Implement bazel Java sandwich"
bazel Java sandwich allows Skylark rules to depend on Java rules and the other way around. It allows the users to do Java compilation inside a Skylark rule.

[This](https://bazel.build/designs/2016/08/04/extensibility-for-native-rules.html) is a document that explains in more details the purpose of the sandwich, but it is only informative and does NOT contain the latest API and implementation deta

[2017-03-01 17:20] laszlocsomor commented on #2613
Imported.

[2017-03-01 18:21] znull commented on #2610
It was originally `srcs` but I switched it to `tools` in an effort to get things working. The original bug was with a `srcs` input.

[2017-03-01 18:23] znull commented on #2610
Also, I've discovered that this doesn't just affect genrules. The full set of flags I need to get my macos build working is: `--strategy=Genrule=standalone  --strategy=CppCompile=standalone --strategy=Generating=standalone --strategy=Turbine=standalone --strategy=WAR=standalone --s
trategy=TestRunner=standalone`

[2017-03-01 18:23] dfabulich opened #2615 "Clicking on release candidate shell scripts opens them in browser"
https://storage.googleapis.com/bazel/0.4.5/rc2/index.html

Click on one of the `.sh` links on that page.

Actual: The `.sh` script opens in the browser. It's a 164MB text file, so it kinda locks up a Chrome tab when that happens.

Expected: The script should download when you click on it.

### Environment info
* Operating System:
macOS 10.12.3, Google Chrome 56.0.2924.87

[2017-03-01 18:24] znull commented on #2610
@hermione521 I can confirm that bazel 0.4.4 worked fine. I haven't checked `0.4.5-rc1`.

[2017-03-01 18:26] dfabulich commented on #2615
[code]

Chrome wants to open `text/x-sh` scripts in the browser. Ideally these would be sent with  `Content-Type: application/octet-stream` so the browser would just download them normally.

Barring that, another approach would be to add a `download` attribute to the `<a>` tag for those scripts.

[2017-03-01 18:38] znull commented on #2610
I just tried this on a different mac and it doesn't repro there at all.

[2017-03-01 19:09] nuh-temp opened #2616 "Allow new_git_repository rule to take 'strip_prefix' parameter."
Currently only 'http_archive' and 'new_http_archive' rules supports 'strip_prefix' parameter which allows to restructure sources from given archive by cutting off a part of a path to avoid extra nesting and have all sources/libraries in a top-level folder.
For instance when there is a repository of following structure:
[code]
It would be great to have `__init__.py` and `lib1.py` in `workspace/exte

[2017-03-01 19:43] nuh-temp opened #2617 "Make a value of 'imports' property of py_library rule visible in Skylark"
In most cases that parameter indicates a path to library's sources and widely used along with `new_[git|local]_repository` rules in order to setup import path for external python libraries.
In some cases all such libraries should go through additional processing, like for example, if library is used with AppEngine you need to put it into a folder which is known to [AppEngine](https://cloud.google.

[2017-03-01 21:46] ilinam opened #2618 "Unrecoverable error when referencing external repository"
Hi there,

I've set up a local_repository in our WORKSPACE file, and would like to leverage bind to prevent having to change the BUILD files.

From the documentation, it seems I should be able to do something like the following:

bind(
    name = "grpc",
    actual = "@grpc//:grpc",
)

local_repository(
  name = "grpc",
  path = "third_party/google/grpc",
)

And the BUILD dependency should become:

[2017-03-01 21:59] kchodorow commented on #2618
You cannot use the same name twice (this should work if you call the local repository `grpc_repo` or something) but generally we advise not using bind() anyway.

This is bug, though, in that Bazel shouldn't throw an exception.

[2017-03-01 22:02] yaroslavvb opened #2619 ""bazel version" forces restart of server"
I added `--max_idle_secs=100000000` to my `~/.bazelrc` to make sure my bazel never needs to restart, but it still restarts sometimes, for instance when running `bazel version` after a couple of days:

[code]

(PS, I'm using 0.4.2 rather than latest because 0.4.4 is broken with https://github.com/bazelbuild/bazel/issues/2526 but fixed at head)

[2017-03-01 22:31] znull commented on #2610
I figured out what was going on here:
- the workspace is on a case-sensitive partition
- normally, I use a `~/.bazelrc` that contains `startup --output_user_root=/Volumes/dev/tmp/bazel` so that the `output_base` is also on the case-sensitive partition

however, the installer script renamed my `~/.bazelrc` to `~/.bazelrc.bak`, so the `output_base` reverted to `/tmp`, which is case-insensitive. In t

[2017-03-01 23:24] snehvyas opened #2620 "unknown option: --start-lib while building bazel src"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:
Hello, I wanted to contribute to bazel and was following the steps [here](https://bazel.build/contributing.html). When I tried to build bazel it throws the following error attached as a screenshot
![screensh

[2017-03-02 01:35] aj-michael commented on #2601
I found the root of the problem: the ndk clang crosstool is settings gcc-specific system include paths. This is a problem in for all previous NDKs, not just 13, but NDK13 changed the default to clang.

[2017-03-02 06:10] simonhorlick opened #2621 "Intermittent build failures"
### Description of the problem:

Occasionally (once per day, or so) I see the following exception thrown by Bazel when I run a build. Unfortunately I haven't been able to narrow down the cause, and re-running the build always completes successfully.

[code]

### If possible, provide a minimal example to reproduce the problem:

Not able to reliably reproduce.

### Environment info
* Operating Syste

[2017-03-02 08:49] katre commented on #2610
I don't have access to a Mac until next week, I can investigate this then if no one can look before Monday.

[2017-03-02 09:54] lberki commented on #970
@ittaiz this thread is long and after re-reading it multiple times, I still haven't been able to figure out what changes are needed to Bazel :( Could you share a little "Hello World" repository with us that demonstrates your desired end state and what it is that you guys can't do at the moment? It would go a long way towards making the situation clear.

My understanding is that it's these things:

[2017-03-02 10:48] IvyGongoogle opened #2622 "running the command 'sudo apt-get install oracle-java8-installer' shows error"
hello,my system is ubuntu14.04. I run the command 'sudo apt-get install oracle-java8-installer' following (https://bazel.build/versions/master/docs/install.html#using-bazel-custom-apt-repository-recommended). but it shows error:
[code]
how to solve this problem.?
Thank you in advance!

[2017-03-02 11:45] damienmg commented on #2606
Workaround doesn't work, needs to find a better one or move forward with the fix.

[2017-03-02 11:50] #2591 closed

[2017-03-02 13:33] #2506 closed

[2017-03-02 13:46] damienmg commented on #2472
More cherry-picks: 30490512eb0e48a3774cc4e4ef78680e77dd4e47 and more to come.

[2017-03-02 13:48] philwo commented on #1586
I think we have a fix this now (https://github.com/bazelbuild/bazel/commit/dc857b3f0785e15d48500a4f45cea804612ad3a0), but I haven't had the time to verify on Windows.

I've checked an idle JavaBuilder using http://file-leak-detector.kohsuke.org/ and couldn't see leaked file handles anymore after the fix, so let's hope that this helped.

[2017-03-02 13:48] ittaiz commented on #970
Exactly correct.
2 clarifications:
1. scala_test is actually scala_junit_test since scala_test already exists
and uses a different scala testing library
2. Use case #3 exists but with a hack where we call javac ourselves.
On Thu, 2 Mar 2017 at 11:54 lberki <notifications@github.com> wrote:

[2017-03-02 13:49] philwo commented on #2538
I think we have a fix for this now (https://github.com/bazelbuild/bazel/commit/dc857b3f0785e15d48500a4f45cea804612ad3a0), but I haven't had the time to verify on Windows.

I've checked an idle JavaBuilder using http://file-leak-detector.kohsuke.org/ and couldn't see leaked file handles anymore after the fix, so let's hope that this helped.

[2017-03-02 13:55] iirina commented on #970
@ittaiz  What is the difference between `scala_test` and `scala_junit_test`? Also, wouldn't it work to use a `java_import` rule to import the scala jar and have `scala_junit_test` depend on that?

[2017-03-02 14:24] jmmv commented on #2490
Is this fully fixed? I tried the repro in https://github.com/bazelbuild/bazel/issues/2490#issuecomment-278660955 with a head-built Bazel and still hit the problem. Should I file a separate bug for that issue?

[2017-03-02 17:16] ronshapiro commented on #1372
Here's the script we're using to execute the deploy to maven central, invoking the previously mentioned script to generate the poms and associate them with the built artifacts: https://github.com/google/dagger/blob/cdff29ba11c92921fc44b9c57dda30a19c016fd6/util/execute-deploy.sh

[2017-03-02 17:17] ronshapiro commented on #1372
The `generate_poms.py` script that I wrote relies on parsing the `WORKSPACE` file for `maven_jar` rules, but it doesn't have visibility to rules that are defined in skylark macros. Is there any way to get access to those via `bazel query`, or can that be added?

[2017-03-02 17:51] steren commented on #2513
Who has enough rights on the repo to do it? I don't but would gladly do it if rights granted.

[2017-03-02 19:20] philbinj commented on #1525
Is there a PR out for this fix? I keep bumping into this bug and it's causing a lot of grief!

Thanks!

[2017-03-02 19:50] tomlu commented on #2614
Is this going to be powerful enough? If I'm reading the proposal right this will work for custom rules that transpile to Java, but it won't work for (say) Scala and similar because they will need a custom compilation action.

To implement that, it seems you'd have to be able to construct a java provider manually by feeding it the resulting jars from any compilation action. Is that part of this, or

[2017-03-02 20:20] ittaiz commented on #2614
It's mentioned in phase 2 of the doc. The second example also explicitly
gives scala as an example.

On Thu, Mar 2, 2017 at 9:50 PM tomlu <notifications@github.com> wrote:

[2017-03-02 20:25] ittaiz commented on #970
@iirina it's a bit of an unfortunate naming issue. Like `java_test` actually means `java_junit_test` and it doesn't support TestNG then the current `scala_test` rule supports one scala testing library and not junit. I just wanted to be clear that the new rule will probably be called `scala_junit_rule`.
WRT `java_import` then I think the problem there is that we lose all of the knoweldge we have ab

[2017-03-02 21:41] shamanskyh opened #2624 "bazel test can't be called on ios_test rules"
I notice that when I call `bazel test` on an `ios_test` rule, Bazel tries to invoke the iOS test runner, but fails (documented as [https://github.com/bazelbuild/bazel/issues/1387]()). It looks like the stubbed out code relies on `ios-sim`, a deprecated third-party utility for managing the iOS simulator. I’ve tried a few things to update this but haven’t had much success. Here’s what I’ve tried so

[2017-03-02 23:26] ohler commented on #2303
I just tested this with bazel 0.4.2, and as far as I can tell, targets with `tags=["manual"]` are in fact excluded if I run `bazel build //path/to/package/...`.  This is true both for (customized versions of) go_library targets and go_test targets.  This seems like the desired and expected behavior.  Is the bug just about documenting it unambiguously, or are there cases where targets marked "manua

[2017-03-03 01:48] jemdiggity opened #2625 "How to setup WORKSPACE/CROSSTOOL for linux & darwin toolchains"
I'm trying to setup Bazel for cross-compiling with gcc-arm-none-eabi for developers using either Linux or Mac OS.

I followed the examples at https://github.com/bazelbuild/bazel/wiki/Building-with-a-custom-toolchain and setup a workspace that works with gcc-arm-none-eabi on Mac OS (https://github.com/jemdiggity/bazel_arm_none). I would like it to work on Linux as well.

The WORKSPACE has gcc-arm-n

[2017-03-03 07:56] treaster commented on #2176
I know I'm late to the discussion here. However, I just ran into this problem, so I thought I'd cast a vote in the event that it's not too late.

Personally, I'd prefer to see the default behavior be to preserve the directory structure below the BUILD file containing the filegroup rule, then allow options like `strip_prefix` or a hypothetical `flatten` to modify the paths from there. Following the

[2017-03-03 08:07] gunan commented on #2594
@Carmezim Did you set all the environment variables listed here:
https://bazel.build/versions/master/docs/windows.html#requirements

Namely, you will need to set the following environment variables for bazel to work correctly on your system.
[code]

[2017-03-03 08:44] adorokhine opened #2626 "Python protobuf rules missing in bazel"
Per https://github.com/bazelbuild/bazel/issues/52, the "protobuf support" tracking issue is being split apart.

This issue is for the missing py_proto_library rules in bazel.

[2017-03-03 08:46] adorokhine commented on #2626
@cgrushko you asked to be cc'd on bazel issues for lacking protobuf support; here is one.

[2017-03-03 08:51] damienmg commented on #2606
So more context for future reference:

The use case is groovy generate java stubs (interfaces) for groovy code to enable cyclic dependency between groovy code and java code. Those java stubs must be present at compile time but not in the final jar. As those stubs might be bogus, we also want to ignore them if they are not used (so java don't try to compile bogus stubs). -sourcepath + -implicit:non

[2017-03-03 09:11] meteorcloudy commented on #2472
Added https://github.com/bazelbuild/bazel/issues/2613 as a release blocker, because TensorFlow is failing with Bazel at HEAD due to this bug.
@laszlocsomor already has a fix here: https://bazel-review.googlesource.com/#/c/9126/

[2017-03-03 09:23] lberki commented on #970
We also need Groovy support and the requirements seems to be very similar (Groovy is a bit more flexible because Java stubs can be generated from Groovy but not from scala IIUC) so it would be nice if we provided tools that supported both. How about this plan for mixed rules:

1. We use `scalac -sourcepath` to compile Scala
2. We then use our Java compiler with the classpath set to the output of t

[2017-03-03 09:38] steren commented on #2624
@c-parsons maybe you can provide guidance here?

[2017-03-03 09:45] steren commented on #1387
Update: An `ios_test` skylark rule is planned for this quarter. @sergiocampama is working on it

[2017-03-03 09:57] ittaiz commented on #970
Regarding JUnit scala test that is definitely my intention.
I didn't understand the first part.
1) scalac knows to create java stubs so what we currently do is call scalac
with all sources and then call javac with the java sources and the output
of scalac.
I think that like noted here it's possible that the mixed target is already
supported with jaca_common.compile but that needs verification. The

[2017-03-03 10:08] lberki commented on #970
Oh, I see. I didn't realize that `scalac` can also create Java stubs (I don't really like using scalac in mixed mode because then you end up compiling some Java sources with the Java compiler embedded in Bazel and some others, the one that `scalac` has).

`java_common.compile()` has a `deps` attribute and its return value can be passed to`java_common.merge()`. Is this enough?

[2017-03-03 10:13] meteorcloudy commented on #2594
@Carmezim Can you show me the content of `tools/bazel.rc` after running `./configure` ?
Maybe it's because `--python3_path` is configured incorrectly.

[2017-03-03 10:20] ittaiz commented on #970
IINM Scala rules uses the compiler embedded in bazel
("@bazel_tools//tools/jdk:javac").
I think it's enough but we need to verify it in the code.
I'm busy re-implement JUnit support in scalac until this is resolved so I
can't verify it quickly.
On Fri, 3 Mar 2017 at 12:08 lberki <notifications@github.com> wrote:

[2017-03-03 10:40] #1260 closed

[2017-03-03 10:40] #1946 closed

[2017-03-03 10:40] #2157 closed

[2017-03-03 10:40] #2563 closed

[2017-03-03 10:40] #2597 closed

[2017-03-03 10:54] hermione521 commented on #2622
http://askubuntu.com/questions/563178/the-following-packages-have-unmet-dependencies

[2017-03-03 10:54] #2622 closed

[2017-03-03 10:56] hermione521 commented on #2621
Thank you for reporting.
Does it only happen with android project? And does it open happen with 0.4.5-rc2? Thanks.

[2017-03-03 11:15] simonhorlick commented on #2621
I'm not sure, the only project I've used recently has android targets. It's 0.4.5-rc2 (from source, using the commit above). I've seen it only twice during the whole day today, so it's quite hard to reproduce.

[2017-03-03 11:40] hermione521 commented on #2617
@lberki what do you think?

[2017-03-03 11:40] hermione521 commented on #2616
@kchodorow what do you think?

[2017-03-03 12:03] hermione521 commented on #2615
Hmm.. I checked it's generated from Markdown file and I don't see an easy way to do this.
@damienmg do you have an idea?

[2017-03-03 12:16] damienmg commented on #2615
I have manually updated the metadata on GCS for those shell script, we should do that from the release script.

[2017-03-03 12:33] meteorcloudy opened #2627 "Make MSVC CROSSTOOL default on Windows"
Now, Bazel can build with MSVC on Windows and will soon be msys free. It's time to make MSVC the default toolchain on Windows.

[2017-03-03 12:42] hermione521 commented on #2472
https://github.com/bazelbuild/bazel/commit/30490512eb0e48a3774cc4e4ef78680e77dd4e47
is cherry-picked

[2017-03-03 12:46] damienmg commented on #2472
0785cbb672357d950e0c045770c4567df9fbdc43 also needs cherry-pick. I have 2 in flight change to be cherry-picked and laszlo has one, maybe wait until those next change are pushed to emit a new canary?

[2017-03-03 13:13] tiantianwei opened #2628 "Such problems arise when building TENSORFLOW projects on WINDOWS7:"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:

_If asking a question or requesting a feature, also tell us about the underlying problem you're trying to solve._

Such problems arise when building TENSORFLOW projects on WINDOWS7:

C:\tools\msys64\usr\ten

[2017-03-03 13:19] hermione521 commented on #2620
Thanks for your (future) contribution! It looks like the same issue.
@mhlopko do you think there is a workaround?

[2017-03-03 13:20] hermione521 commented on #2620
Add a link #2502

[2017-03-03 13:23] hermione521 commented on #2628
@meteorcloudy can you help with this? thanks.

[2017-03-03 13:37] hermione521 commented on #2621
Then it will be hard to fix.. @ahumesky Add android person in case he knows.

[2017-03-03 13:42] hermione521 commented on #2619
I think according to the [doc](https://bazel.build/versions/master/docs/command-line-reference.html), you should set it to 0.

[2017-03-03 13:42] #2619 closed

[2017-03-03 13:45] pedrokiefer commented on #2625
I did it like this: https://github.com/pedrokiefer/rules_stm32/blob/master/stm32f4/rules.bzl#L101

[2017-03-03 13:52] kchodorow commented on #2616
Duplicate of #1332.

FWIW, new_git_repository (and git_repository) aren't that great to use: I'd recommend downloading the zip at the commit you want (most git repositories support that) and using new_http_archive.

Alternatively, you might be able to use a Skylark repository rule (https://bazel.build/versions/master/docs/skylark/repository_rules.html) to strip off the part you don't want.

[2017-03-03 13:52] #2616 closed

[2017-03-03 14:01] meteorcloudy commented on #2628
@tiantianwei Do you have Visual Studio installed on Windows?

[2017-03-03 14:03] ulfjack commented on #1525
Unfortunately, there's a problem, so I can't commit my change.

My change is to use ctime in addition to mtime to detect file changes. On Linux we have a high-precision ctime value which is not under control of the user, and which gets updated on every change to the file. Unfortunately, Bazel calls chmod on output files after action completion after it records the ctime, and the chmod call modifie

[2017-03-03 14:08] abergmeier-dsfishlabs commented on #1525
Not exactly a fix but what about touching the file first and if necessary doing a chmod after? It will probably break action if they do not expect files to be present.

[2017-03-03 14:13] laszlocsomor commented on #2406
Yes!

[2017-03-03 14:22] hermione521 commented on #2606
Is failures on darwin also related to this?
http://ci.bazel.io/job/bazel-tests/603/BAZEL_VERSION=HEAD-jdk7,PLATFORM_NAME=darwin-x86_64/

[2017-03-03 14:42] laszlocsomor commented on #2406
I have a change that fixes about 5 long path related bugs. Now I can build bazel with a long output_user_root. Yay!

[2017-03-03 14:43] laszlocsomor commented on #2181
I have a change that fixes about 5 long path related bugs. Now I can build bazel with a long output_user_root. I'll break it down and start sending out.

[2017-03-03 14:56] andrewmed opened #2629 "Simple case of java_binary does not work (main class is not determined)"
Hi

My setup:

[code]

I read docs again, any of these combinations in java_binary should work:

[code]

[code]

[code]

but none works for me:

[code]

Why? Source file is clearly there

[2017-03-03 15:04] hermione521 opened #2630 "bazel-tests broken on Darwin with JDK7"
CI link: http://ci.bazel.io/job/bazel-tests/603/BAZEL_VERSION=HEAD-jdk7,PLATFORM_NAME=darwin-x86_64/
And this [commit](https://github.com/bazelbuild/bazel/commit/0785cbb672357d950e0c045770c4567df9fbdc43) caused it.

[2017-03-03 15:13] tiantianwei commented on #2628
Yeah, it's Visual Studio14 @ meteorcloudy

[2017-03-03 15:14] tiantianwei commented on #2628
具体问题如下：
C:\tools\msys64\usr\tensorflow-master>bazel build //tensorflow/examples/android:
tensorflow_demo
Extracting Bazel installation...
..............................
ERROR: in target '//external:cc_toolchain': no such package '@local_config_cc//'
: Traceback (most recent call last):
File "C:/Users/Administrator/AppData/Local/Temp/_bazel_Administrator/SkY
7VH5k/external/bazel_tools/tools/cpp/cc_

[2017-03-03 15:16] tiantianwei commented on #2628
Specific questions are as follows:
C:\tools\msys64\usr\tensorflow-master>bazel build //tensorflow/examples/android:
Tensorflow_demo
Extracting Bazel installation...
..............................
ERROR: in'//external:cc_toolchain'target: no such package'@local_config_cc//'
Traceback (most recent call last):
File "C:/Users/Administrator/AppData/Local/Temp/_bazel_Administrator/SkY
7VH5k/external/baz

[2017-03-03 15:21] tiantianwei commented on #2628
I just want to know, "cc_toolchain" this package is specified in which file

[2017-03-03 16:03] dslomov commented on #2319
Ok, we discovered some safety issues trying to make it work. Might not happen for 0.5.

[2017-03-03 16:12] dfabulich commented on #2615
Markdown supports embedded HTML. Use an `<a>` tag instead of brackets.

[2017-03-03 16:17] damienmg commented on #2615
I don't see why markdown is concerned here, the only problem is the metadata of the artifact on GCS

[2017-03-03 16:33] Carmezim commented on #2594
@gunan Yes, they're set at `.bashrc`
[code]
@meteorcloudy
[code]

[2017-03-03 16:57] mhlopko commented on #2620
The workaround is to hardcode "false" in the cc_configure.bzl and rebuild :) What would be better instead is to investigate why cc_configure.bzl#_is_gold_supported returns true when it actually should return false. The logic is quite simple, it runs `clang -fuse-ld=gold -o /dev/null empty.cc` (empty.cc contains just `int main() {}`), and returns true when exit code is 0. Testing locally it returns

[2017-03-03 16:57] #2620 closed

[2017-03-03 16:58] mhlopko commented on #2502
To repeat what I wrote on the dup. issue:

Can you investigate why cc_configure.bzl#_is_gold_supported returns true when it actually should return false. The logic is quite simple, it runs `clang -fuse-ld=gold -o /dev/null empty.cc` (empty.cc contains just `int main() {}`), and returns true when exit code is 0. Testing locally it returns 1 for me. Can you try to run the command and see what happen

[2017-03-03 16:58] mhlopko commented on #2627
(y)

[2017-03-03 17:16] andrewmed opened #2631 "cant run java_test when deps on java_binary"
I get this:

[code]
strange, cc_binary is there on this list, but no java_binary...
With dep declared on java_library, java_test works

So cant I run tests on java_binary, why?

[code]

[2017-03-03 17:21] kchodorow commented on #2631
See my response on the list: https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/bazel-discuss/F5JfuYt3jt8/YZ5Nx5NRAAAJ.

[2017-03-03 17:28] pcj commented on #2502
Sorry I haven't had time to address your question @mhlopko.  I'll take a look at this again this weekend.

[2017-03-03 18:29] cushon commented on #2630
Are you sure 0785cbb672357d950e0c045770c4567df9fbdc43 is the culprit?

The interesting part of the failure is:

[code]

the change that introduced `SynchronizedDelegatingOutputFormatterCallback` has been rolled back: b869e584641521dc063f0589d7ce6a850ffc0b61

[2017-03-03 20:29] cgrushko commented on #2626
Thanks!
I can open-source our rules, but it'll take some effort.
Who wants to use it?

[2017-03-04 04:10] pcj commented on #2502
Yes, getting zero exit status:

[code]

Will edit comment as I get more info...

[2017-03-04 06:50] aj-michael commented on #2626
The Bazel Android tools would like to use it!

In particular, the tools that communicate with emulators that are in the process of being open-sourced need py_proto_library (but are currently planning on hacky workarounds instead).

[2017-03-04 06:56] aj-michael commented on #2628
@tiantianwei This does not address the error message that you are seeing, but Bazel does not yet support building Android targets on Windows. So you will not be able to build ` //tensorflow/examples/android:tensorflow_demo` on Windows 7.

[2017-03-04 08:06] tiantianwei commented on #2628
@aj-michae OK, I'll think of something else, and thank you very much for your answer

[2017-03-04 09:50] coreych commented on #2595
@hermione521 I couldn't build and run syntaxnet with given instructions https://github.com/tensorflow/models/tree/master/syntaxnet

tried removing this code from WORKSPACE:

name = "io_bazel_rules_closure",
strip_prefix = "rules_closure-0.4.1",
sha256 = "ba5e2e10cdc4027702f96e9bdc536c6595decafa94847d08ae28c6cb48225124",
url = "http://bazel-mirror.storage.googleapis.com/github.com/bazelbuild/rules_

[2017-03-04 23:08] ekuefler commented on #2235
Friendly ping :)

[2017-03-05 07:34] ittaiz commented on #2054
this (in combination with #1752) sounds valuable since it lowers the entry costs of an organization. People can check out and best practices are laid out in the shared bazelrc

[2017-03-05 12:10] or-shachar commented on #2505
If it helps, I noticed that in the article the command inside the parentheses starts with `cd`, but when running it with version 0.4.4 it doesn't have that part.
Parts of the command has relative path so you must `cd` before you run it.

This is how I found the correct `cd` - locate the directory with the `.sb` file. inside it - locate `exec-root/<workspace-name>`

BTW: it happens to me in mac os

[2017-03-05 18:46] ahumesky commented on #2621
we've made a number of changes to the android_sdk_repository rule recently, adam can you take a look?

[2017-03-05 21:08] aj-michael commented on #2621
I'll take a look this week, but I suspect the culprit is in either 06072c557290b97cb2d2e4fd255b647a9208cb5c or 9d88394848fa6742513d85fa5f892ae1702d015e.

@damienmg Can you confirm that adding the dep on the ANDROID_HOME environment variable did not cause this?

[2017-03-06 07:38] lberki commented on #970
`@bazel_tools//tool/jdk:javac` is not the `javac` embedded in Bazel, it's the Java compiler that comes with whatever JDK Bazel  is using (confusing, I know). How much of the JDK does `scalac` need and how does it interface with it? I was under the impression that it is a binary that reads Scala source and emits Java byte code without much involvement from the Java compiler itself.

[2017-03-06 08:21] johnynek commented on #970
The scala compiler (scalac) is written in scala and thus is just like any
scala or java code: usually packaged as a jar and run with the java virtual
machine.

It does not require the java compiler at all, since as you say, it compiles
scala code into .class files for the java virtual machine.

In order to have mixed mode scala and java projects with circular
dependencies between the java and scal

[2017-03-06 08:45] lberki commented on #970
I see. Then, to be consistent, how about using `java_common.compile()` for compiling the Java code? Then you'd be automatically consistent with what Bazel otherwise does. Confusingly, it does *not* use `@bazel_tools//tools/jdk:javac` by default, but a `javac` bundled in it (called `JavaBuilder`)

[2017-03-06 09:32] ulfjack commented on #1525
The best plan I have is to move the place where we call chmod closer to when the file is generated and before we record the file metadata.

[2017-03-06 09:38] damienmg commented on #2621
@aj-michael I can confirm it is not 9d88394 but 06072c5 is the likely culprit. More precisely look at https://bazel-review.googlesource.com/c/8137/ which fix similar issues in AndroidNdkRepository.

[2017-03-06 09:48] #2016 closed

[2017-03-06 09:48] #2250 closed

[2017-03-06 09:48] #2613 closed

[2017-03-06 09:55] steren commented on #2513
@damienmg you probably have enough rights for this.

I suggest the following topics:

* `bazel` (it seems to be a topic we use on everything Bazel related)
* `build-tool`
* `build`
* `test`
* `fast`
* `correct`

And maybe `continuous-integration` ?

[2017-03-06 09:58] damienmg commented on #2606
Now that -sourcepath is added back we need to think of the long term solution, reassigning the issue to Lukacs for proper triaging.

[2017-03-06 10:00] damienmg commented on #2472
So more cherry-picks: 934c1d5e1340bbae9bd7b61a9f3aa3029c7c2c1c 7b295d34f3a4f42c13aafc1cc8afba3cb4aa2985 0768f3e444a121c5c8e8e0bd0bb98772fab0e0e2

Unfortunately there is another regression that came in... So we will need more cherry-picks

[2017-03-06 10:04] damienmg commented on #2513
@steren: I set you admin to the repo (we restrict number of admins to avoid human errors we seen in the past). Feel free to ask admin on any repo you'd like.

[2017-03-06 10:05] damienmg commented on #2513
(people with enough right: Kristina, Helen I and now yourself :))

[2017-03-06 10:06] #2513 closed

[2017-03-06 10:09] dslomov commented on #2090
Well, I couldn't repro this, sorry. Does it still occur? Do you have a repro case?

[2017-03-06 10:19] dslomov commented on #1941
Sorry, just go to this issue. I bet your openssl is in msys's PATH but not in Windows' PATH variable.

@kchodorow, what would be the easiest way to reproduce this?

[2017-03-06 10:37] mhlopko commented on #2502
I assume your `ld` is not `gold`. `-fuse-ld=gold` finds gold using magic :) I'd take a look at `ld.gold` or `gold`.

You can have `gold` installed, but `clang` might not use it. That's why we detect `gold` through `clang`. That is also what bazel does, it invokes clang and lets clang delegate to the linker.

I'd like to keep gold enabled for macs, mainly so we *can* use `--start/--end-lib` :)

How

[2017-03-06 10:42] hermione521 commented on #2595
Sorry but I have no context about syntaxnet. Could you file a bug against tensorflow? Thanks.

[2017-03-06 10:42] #2595 closed

[2017-03-06 10:48] petemounce commented on #1941
[code]

[2017-03-06 12:05] meteorcloudy opened #2634 "Windows: protoc.exe built with MSVC cannot handle long path"
Related: #2627
Got following error when enable MSVC as the default toolchain on Windows.
[code]

I believe the reason is because proto compiler built with MSVC cannot handle long path. The workaround could be using MSYS to build proto.exe, we can still get a msys free bazel in this way, but cannot build bazel without MSYS unless we solve this.

Is it an issue of protobuf instead of Bazel?  //cc @d

[2017-03-06 12:07] laszlocsomor commented on #2634
How do I repro this?

[2017-03-06 12:21] meteorcloudy commented on #2634
Add `--cpu=x64_windows_msvc --host_cpu=x64_windows_msvc` when building Bazel, you'll then get an error like this:
`ERROR: missing input file '@local_jdk//:bin/jar'.`

It can be fixed by applying the following change. Then build a bazel with this change, use that bazel to run `bazel build src:bazel --cpu=x64_windows_msvc --host_cpu=x64_windows_msvc` again.

[code]

[2017-03-06 13:22] jbasila opened #2635 "Inconsistency between sandbox and standalone"
This link has the example of reproduction.
https://groups.google.com/forum/#!topic/bazel-discuss/dnRHeh_2XLk

In short, the example will compile when using sandboxing and will fail claiming that a head file was included but not declared. This is false and the problem has to do with 'include_prefix'. When the 'include_prefix' is not not set all will work, but once an 'include_prefix' is set that ma

[2017-03-06 13:27] lberki opened #2636 "Flip the value of `--experimental_python_import_all_repositories` to false and remove the flag"
Filing a bug here so that we don't forget to get rid of Yet Another Command Line Option.

[2017-03-06 13:40] afking commented on #671
Is there an example generating of accessing runfiles?

[2017-03-06 14:49] damienmg commented on #2472
So even more cherry-picks: fbad5f0 ed77952

[2017-03-06 15:03] aj-michael commented on #2621
@simonhorlick in the android_sdk_repository rule in your WORKSPACE file, are you setting the path attribute or not setting it (which should read from $ANDROID_HOME)?

[2017-03-06 15:29] damienmg commented on #2621
I wasn't able to repro on the android tutorial, would love to have a good repro.

[2017-03-06 15:41] hermione521 commented on #2630
Well that breakage goes away now. Only //src/tools/singlejar:output_jar_simple_test is failing.
Reassign to current sheriff for further investigation.

[2017-03-06 15:41] philwo commented on #2505
@natebosch: The feature that the sandbox drops you into a shell on failure was removed, because with the new Linux sandbox (and the macOS sandbox) allowing read access to the entire filesystem, it was deemed no longer necessary. The blog article that you linked to is out of date and should probably be removed or updated.

@or-shachar: That said we should definitely make sure that you can copy & pa

[2017-03-06 15:44] pcj commented on #2502
Sure:

[code]

`ld.gold` does not exist on my path.

Does it help?

[2017-03-06 15:49] hermione521 commented on #2472
The first 4 commits are cherry-picked. The other 2 commits will be in the next round.

[2017-03-06 16:00] aj-michael commented on #2621
I thought I would be able to find a missing null check in 06072c5, but I have not found one. It would be nice if skyframe reported which dependency was null instead of just the GroupedListHelper.

[2017-03-06 16:02] lberki commented on #2606
@iirina: What do you think about having a `sourcepath` argument to `java_common.compile()`?

[2017-03-06 16:20] damienmg commented on #2621
Humm how can we request the directoryListing if we do not have the actionenvvariable resolved?

[2017-03-06 16:21] damienmg commented on #2621
Ok I think I have the fix, that's stupid me did something incorrect.

[2017-03-06 16:22] damienmg commented on #2621
https://github.com/bazelbuild/bazel/blob/ed7795234ca7ccd2567007f2c502f853cd947e50/src/main/java/com/google/devtools/build/lib/bazel/rules/android/AndroidSdkRepositoryFunction.java#L85 does not check for the return value (see the correct code here: https://github.com/bazelbuild/bazel/blob/ed7795234ca7ccd2567007f2c502f853cd947e50/src/main/java/com/google/devtools/build/lib/bazel/repository/skylark/S

[2017-03-06 16:24] aj-michael commented on #2621
Ooooh, nice catch :+1: do you have any idea how to write a test for this? I still haven't been able to repro the error.

[2017-03-06 16:25] damienmg commented on #2621
I have 0 idea how to repro. But I once suggested to ulf that we write a fuzzer to try to set skykeys to null randomly to see if the function behave correctly in all the cases.

[2017-03-06 16:32] aj-michael commented on #2621
@serynth pointed me towards https://github.com/bazelbuild/bazel/blob/master/src/test/java/com/google/devtools/build/lib/analysis/BuildViewTest.java#L795 which seems to force the order of skyframe evaluation in the buildview analysis phase. Perhaps we could do something similar?

[2017-03-06 17:02] iirina commented on #2606
`java_common.compile` has a `javac_opts` argument, it should work to add `-sourcepath ...` there. I will try it out tomorrow.

[2017-03-06 17:54] jmmv commented on #1676
I'm currently looking into this. Could reproduce and might have found what the problem is.

[2017-03-06 19:29] natebosch commented on #2045
+1 on being able to tell OS in a skylark rule.

We might need to do things like choose between `.sh` and `.bat` depending on the OS. The native Java rules [need to do this](https://github.com/bazelbuild/bazel/commit/775dc683615d466b565a195abc30b09d90320eb7) so skylark rules should be able to as well.

[2017-03-06 19:55] katre commented on #2610
I'm not able to reproduce this, but I did need to change your BUILD file to work on my Mac.

Here's the updated BUILD file. Note that I had to change "perl -ne" to "perl -pe" (perl -n doesn't automatically print lines as they are matched):
[code]

Also, what are the permissions on your input.txt? "Operation not permitted" is a surprising error.

[2017-03-06 21:24] dslomov commented on #2217
We will be removing binary operators on depsets (formerly sets) because they do not work very well.
@brandjon @laurentlb

[2017-03-06 21:24] #2217 closed

[2017-03-06 21:34] coroner4817 opened #2638 "Android - Link TensorFlow with ndk-build prebuilt library"
### Environment info
* Operating System:
Mac OS X 10.12.2 (16C67)

* Bazel version (output of `bazel info release`):
Build label: 0.4.3-homebrew
Build target: bazel-out/local-opt/bin/src/main/java/com/google/devtools/build/lib/bazel/BazelServer_deploy.jar
Build time: Thu Dec 22 15:20:15 2016 (1482420015)
Build timestamp: 1482420015
Build timestamp as int: 1482420015

### Problem
I am working with

[2017-03-06 22:27] Carmezim commented on #2594
**UPDATE**:

The only difference this time is I tried running as administrator even though I am the administrator and inserting `--config=win-cuda` separately from `$BUILD_OPTS` but the latter I don't believe influences:
[code]

[2017-03-06 22:45] aj-michael commented on #2621
OK, I have a reliable repro case (this was obnoxious to track down)

[code]

This repro works whether or not there are system-images and support libraries in the SDK. I will now attempt to confirm that https://bazel-review.googlesource.com/c/9213/ fixes this issue.

[2017-03-06 22:51] aj-michael commented on #2621
I've confirmed that https://bazel-review.googlesource.com/c/9213 fixes my repro case :rocket: I spent some time trying to figure out how to do this in a unit test, but I think I'm going to give up and add this to android_integration_test.sh.

[2017-03-06 23:15] johnynek commented on #1118
Has any consideration been given to skylark rules + coverage?

It seems we need new skylark APIs to participate here.

[2017-03-06 23:32] mahmoodm2 opened #2639 "Building Bazel source code using installed Bazel"
Hi,

I failed building Bazel from source code using instructions mentioned in  https://bazel.build/contributing.html

I ran the  command
`bazel build //src:bazel`
 from the root directory of the Bazel source code cloned from the Git  using
`git clone https://bazel.googlesource.com/bazel `
 in
**bazel release 0.4.4 , Ubuntu 16.04,  openjdk version "9-internal" , gcc  5.4.0** environment.

It stuck

[2017-03-07 01:58] ddwolf opened #2640 "testing spring-cloud-config-server(netty enabled) jvm hanged"
### testing spring-cloud-config-server(netty enabled) jvm hanged

### the test class is like this:
[code]

### Environment info
* Operating System:
Ubuntu14.04

* Bazel version (output of `bazel info release`):
0.4.4

###  a person from irc has encountered similar problems like this.
![image](https://cloud.githubusercontent.com/assets/251396/23638269/833695fe-031b-11e7-9d8e-dc574482ed36.png)

###

[2017-03-07 03:34] roysaurav commented on #2317
Can you provide an example of the above situtation?

[2017-03-07 05:58] rutujasurve94 commented on #2571
I would like to take this bug up..

[2017-03-07 06:12] simonhorlick commented on #2621
@aj-michael: For your question earlier in the thread, I'm using the path attribute, but I'd love to switch to the environment variable. It makes it way easier to onboard new developers. I'm currently trying out your patch - thanks a lot!

[2017-03-07 07:13] rosun82 opened #2641 "Flush print() messages more quickly, in repo rules"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:

It seems that the message printed from print(...) in skylark rules are only available at the end of the build execution. This makes it extremely hard for debugging if the build rule takes a long time to fin

[2017-03-07 07:59] meteorcloudy commented on #2594
Looks like a different error now, I think you'll have to set
`export BAZEL_PYTHON="C:/Users/Adriano/AppData/Local/Programs/Python/Python35/python.exe"`