[2017-11-09 23:29] BenTheElder opened #4065 "tools/build_defs/pkg:pkg_rpm silently depends on rpmbuild"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:

The `pkg_rpm` seems to shell out to `rpmbuild` which is not entirely surprising, however I do not see this documented anywhere and the resulting errors are not obvious (see: https://github.com/kubernetes/te

[2017-11-10 00:29] jart commented on #4038
My understanding of the point @ronshapiro was making earlier, is that naming shouldn't reflect where a library comes *from* but rather should reflect what it *is*. A canonical mapping for Maven can never be canonical in Bazel, because Bazel can obtain those very same Maven artifacts from places other than Maven.

[2017-11-10 00:40] johnynek commented on #4038
I agree the name should be what it is, but my point is that a compiled jar is hard to be sure it is the same as some bazel target that someone else made that should represent the same thing built by maven (or sbt for instance).

So, I would argue that these two things (a jar built by maven vs a rule in a bazel repo) are sufficiently different that they should have different names.

[2017-11-10 00:53] BenTheElder commented on #4065
FYI @ixdy

[2017-11-10 01:14] nicolov opened #4066 "REST cache: uploads broken after change to streaming"
After, https://github.com/bazelbuild/bazel/commit/5de01e5ed348a0b9d9eea88502fcca4b8c4133ed, which enabled streaming uploads to the remote REST cache, ~10% of PUT requests are rejected by nginx with status code 400:

[code]

I've also tried [caddy](https://caddyserver.com/docs/http.webdav) and have the same unexpected EOF issues.

@benjaminp You mentioned that you were using your own custom backend

[2017-11-10 01:49] calpeyser commented on #4030
Yea, I see no reason not to do this.  @jmillikin-stripe, if you want to give it a go, I think you just modify CcCommon#configureFeatures to trigger a warning (by calling RuleContext#ruleWarning).

[2017-11-10 02:05] benjaminp commented on #4066
Is what you're building public? I just ran a clean build of `//src:bazel` using 9135b7bfc4245e16bd6599e22dce0ba077e0d10a with the REST cache backed by nginx and didn't see a single PUT error.

[2017-11-10 02:49] benjaminp commented on #3919
I suppose we can close this now?

[2017-11-10 02:51] jart commented on #4038
Assuming that's correct, would it not be better to have the label be `@maven:com.google.guava:guava:23.4-jre//:jar`, because `23.4-jre` is much difference from `19.0`?

My argument is that the differences between various Guavas don't matter. What matters is that each Bazel deployment chooses exactly one and only one of them. Otherwise evil classpath errors happen. If more than one label exists for

[2017-11-10 03:08] benjaminp commented on #4054
I think there should be a documented algorithm for resolving an executable's runfiles tree and reference implementations of that algorithm for all builtin Bazel rules. Finding an executable's runfiles turns out be a fairly complex process with correctness implications (e.g., #3919). There are [many different environments](https://github.com/bazelbuild/bazel/blob/9135b7bfc4245e16bd6599e22dce0ba077e

[2017-11-10 03:47] ittaiz commented on #4038
@jart who advocated having multiple instances of guava?
On Thu, 9 Nov 2017 at 18:51 Justine Tunney <notifications@github.com> wrote:

[2017-11-10 05:58] cgruber commented on #4038
I don't read @jart as accusing advocacy of multiple versions, but more noting that if we see dagger-from-maven as different (in label) from dagger-from-blaze, then there's no good reason not to also distinguish the N versions of dagger also.

This whole problem comes from bazel and maven having very different ways of slicing the problem up, bazel assuming one-version (or rather a view of the unive

[2017-11-10 06:15] cgruber commented on #4038
Further clarification... I think they deserve different names... as implementation details in the workspace.  But in the project's bazel-universe, they only need different labels if they can both be coherently referenced, which they can't, because they're substitutes.  Just like, in a maven pom, you can't simultaneously see com.google.dagger:dagger:2.11 and com.google.dagger:dagger:2.13, because t

[2017-11-10 06:36] cgruber commented on #4038
I should point out, that a fair chunk of the idea I had is achieved by the maven bazel config generator mentioned early in this thread, though I had in mind that it not be generated and checked in, but implemented in bazel natively or in skylark, with the various bits cached after first fetch.  But I think that a lot of the fiddling one might do with the configuration generated from such a tool wo

[2017-11-10 07:19] ittaiz commented on #3011
I think @johnynek has a jarjar rule which might be what you're looking for.
@damienmg where would you put such a rule? java_rules? Standalone repo?

[2017-11-10 08:44] System25 commented on #2420
Also interested in this feature. It would be great to have some documentation on how setup a computer to build a project with j2objc and GNUStep too.
Thank you very much!

[2017-11-10 08:46] barche commented on #4053
Aha, great to have a workaround for newer versions. I have exactly the same behavior and I also don't know how to get the error message from swig, it seems bazel prints only the command but not the output.

[2017-11-10 14:14] promiseofcake commented on #3011
@ittaiz that would be great! I tried playing with jarjar but it seemed to get caught up in the generated protobuf code. Is it already a Bazel rule, that would be wonderful.

[2017-11-10 15:27] damienmg commented on #3793
This is happening on all mac worker. I suspect it was trigger by the update to bazel 0.7

[2017-11-10 17:20] ittaiz commented on #3011
I don't have such a rule but like I mentioned I've heard others who have it.
Sounds like something we need in the ecosystem.
I've mentioned the two people I know who might be able to help
On Fri, 10 Nov 2017 at 6:14 Lucas Kacher <notifications@github.com> wrote:

[2017-11-10 17:27] ianthehat opened #4067 "Toolchains with deps in target mode"
At the moment all the deps of a toolchain are evaluated in host mode.
It would be nice if toolchains could "inject" deps on target (for instance, the library that goes along with the generated source file produced by the toolchain) but there is no way to achieve this at the moment that works for cross compilation.

[2017-11-10 17:39] thunderfyc opened #4068 "Support Android NDK 16 in Bazel"
At this moment, build with NDK 16 will cause fatal errors that "stdlib.h" "wchar.h", etc could not found,

[2017-11-10 17:43] johnynek commented on #3011
we use it in a few places. Works so far for us.

[2017-11-10 18:11] kevingessner opened #4069 "Feature request: Allow generated files to be used in repository rules"
### Description of the problem / feature request / question:

Repository rules can execute various actions, and are generally quite powerful for dealing with resources outside of Bazel and the workspace.  However, repository rules are restricted to only using source files from inside the workspace, and cannot use generated files from the workspace.  This is implemented via [`repository_ctx.path`](

[2017-11-10 18:24] ianthehat opened #4070 "Ability to propagate features with an aspect"
Originally posted in the newsgroup:
https://groups.google.com/d/msg/bazel-discuss/u5xS99WL1J4/hbA4VCNyBwAJ

I need to be able to propagate the features from an originating rule along with the aspect as it travels across all the dependancies.
At the moment the only information you can send from the originating rule is string attributes with value lists.
I need to be able to either calculate string

[2017-11-10 19:47] alexeagle commented on #2475
When this does land - please also add testing for cross-workspace paths. If I use `$(rootpath @other_wksp//:thing)` I would expect `external/other_wksp/thing` or so

[2017-11-10 21:16] damienmg commented on #4053
This looks like a TensorFlow issue to me. I'll close and feel free to suggest the patch to the tensorflow repository.

[2017-11-10 21:16] #4053 closed

[2017-11-10 21:32] damienmg commented on #4056
/cc @katre fyi

[2017-11-10 21:45] katre commented on #4056
Hmm, that's pretty odd. I'll investigate.

[2017-11-10 21:47] damienmg commented on #3793
I zipped the output base before and after a clean, it is on darwin 8 slave. And now I am doing a clean on all slaves.

[2017-11-10 21:48] boegel commented on #4053
@damienmg An issue was opened in the TensorFlow repo initially for this, see https://github.com/tensorflow/tensorflow/issues/14211, and it was deemed "not a bug" there. I'm not convinced either way though...

We're kind of blind here; it's not clear at all what the problem actually is, since other than `exit 1` there's no actual error message...
`swig` is being run via Bazel's `ctx.action`, which

[2017-11-10 21:54] damienmg commented on #4053
/cc @laurentlb for help related to Skylark

[2017-11-10 22:02] aj-michael commented on #3980
/cc @jin @ahumesky @dkelmer

Sorry about the delay on this, I'll try to sort this out early next week.

[2017-11-10 22:28] #4042 closed

[2017-11-10 23:22] katre commented on #4056
Sent https://bazel-review.googlesource.com/#/c/bazel/+/20530

[2017-11-11 00:05] kush-c commented on #3956
I wasn't able to reproduce it on my linux box after multiple runs of the loop for i in {1..10}; do bazel build src:bazel && bazel clean --expunge && bazel shutdown; done
If I can't reproduce on Monday as well, we'll probably have to consider a rollback again :(

[2017-11-11 00:30] BenTheElder commented on #3956
@kush-c we're fairly confident it's related to memory pressure since we only sometimes saw it in our CI but never locally with 0.7 (and the CI nodes are heavily loaded). My best guess is that it was triggered when the job landed on a node under extra memory pressure, though we did not see this with previous bazel versions as far as I know.

At a suggestion from @ixdy we tried flipping on `--batch`

[2017-11-11 01:16] damienmg commented on #4065
/cc @katre fyi

[2017-11-11 01:22] damienmg commented on #4067
@katre: I don't really understand, can you tal and triage?

[2017-11-11 01:24] damienmg commented on #4069
TL;DR: I think this is something we might do at some point but it is complex and other projects have priority over it.

[2017-11-11 02:21] katre commented on #4067
@ianthehat and I discussed this issue, I know what is required.

[2017-11-11 02:55] lberki commented on #3910
/cc @mhlopko

We can't set `$(CC)` to an absolute path if the C++ compiler is hermetic, i.e. considered a source file, because then the local path of either your workspace or execroot would leak into the action and thus cross-user caching would be impossible and the paths would not make sense when shipped to a remote machine for execution.

If needed, you can always do a `CC=$(realpath -f ${CC})`

[2017-11-11 02:55] #3910 closed

[2017-11-11 14:38] excavador commented on #3983
Any updates?

[2017-11-11 18:48] philsc opened #4071 "Provide command line option to enable network sandbox by default"
I am not exactly sure in what release of the official repo this happened, but for at least two internal bazel upgrades we've partially reverted c5af2f3f2d974f7d0d84cecab6c57444b3413b01.

We understand that this was done because of performance concerns, but we're finding too much value in the sandbox to give up. This is on Linux.

Would it be reasonable to provide a command line option that enables

[2017-11-12 02:59] ilovezfs commented on #3410
What is the status here? I'm not eager to use wrapper scripts on `bazel` in Homebrew but we will if we have to.

[2017-11-12 04:54] mobileink opened #4072 "android ndk builds use wrong headers"
### Description of the problem / feature request / question:

Android builds that build native code pull system headers from $NDK/platforms/... rather than $NDK/sysroot.

### If possible, provide a minimal example to reproduce the problem:

In a C11 source file:
#include <assert.h>
static_assert( 1 == 0, "static assert failed successfully - comment me out and recompile");

(While you're at it, add

[2017-11-12 10:16] davido commented on #3410
As mentioned in my previous comments: it will take years, for Java 9 to be supported in Bazel.

[2017-11-12 10:21] ilovezfs commented on #3410
In Homebrew, we're doing this:
[code]

[code]

It would be nice if this were something `bazel` could handle internally since I don't think it makes sense to force every downstream to use wrapper scripts just so it doesn't break on systems that have both Java 8 and Java 9 installed.

[2017-11-12 16:25] cheister commented on #3410
@davido Can you look at https://github.com/bazelbuild/bazel/pull/4045 it should solve some of @ilovezfs issue.

[2017-11-12 19:46] jmillikin commented on #3558
Not only do the docs not mention the required params, but the error message from Bazel is very confusing:

[code]

Bazel's "too many arguments" implies that _I'm_ providing too many arguments, when actually the error is _not enough_ arguments.

[2017-11-12 19:51] jmillikin opened #4074 "Accessing the CPP config fragment attribute `sysroot` crashes Bazel"
`cpp.sysroot` is documented at https://docs.bazel.build/versions/master/skylark/lib/cpp.html#sysroot as being a `string`, or `None` in some cases. But when I try to access it with `print("sysroot: ", ctx.fragments.cpp.sysroot)` it crashes Bazel:

[code]

[2017-11-12 20:05] Barro opened #4075 "Source forest creation failed error on symbolically linked hidden .#filename.c type of file names"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:

Bazel fails with following type of message when there are .c files that named like ".#filename.c" in the directory that are symbolic links (sometimes a second build attempt is needed):

[code]

These come u

[2017-11-12 22:40] Titaniumtown opened #4076 "can't install tensorflow"
I did "bazel build --config=opt --config=cuda //tensorflow/tools/pip_package:build_pip_package"
and this is what I got:

"ERROR: /home/simon/Downloads/tensorflow/tensorflow/contrib/rnn/BUILD:259:1: Illegal ambiguous match on configurable attribute "copts" in //tensorflow/contrib/rnn:gen_gru_ops_py_wrappers_cc:
@local_config_cuda//cuda:using_clang
@local_config_cuda//cuda:using_nvcc
Multiple matche

[2017-11-12 23:42] philsc commented on #1479
You're right. I do remember a few explaining that to me at the conference on Monday. Thank you very much for taking a look!

As a work around, Michael and one of the Johns (I can't remember last names) suggested the following workaround. This was for my use case of `select`ing on the CPU architecture:
[code]
where `name_transoformation` is a function that changes the input file name somehow.

A no

[2017-11-13 01:37] damienmg commented on #4076
Please report on https://github.com/tensorflow/tensorflow/issues/new. This is not a Bazel issue.

[2017-11-13 01:37] #4076 closed

[2017-11-13 01:39] damienmg commented on #4072
/cc @ahumesky

[2017-11-13 01:40] damienmg commented on #4074
/cc @dslomov: can you route to a proper owner?

[2017-11-13 01:49] jmillikin commented on #4075
Related: https://github.com/bazelbuild/bazel/issues/4060

[2017-11-13 03:25] zhangbo5891001 opened #4077 "How to change the default compiler for bazel when building tensorflow?"
Hi,
I build tensorflow successfully using the default installation of bazel. Now, I want to use my custom gcc/g++ compiler(for example: linaro gcc) compiler to build some tensorflow examples. But I got the following error:

gcc: error trying to exec 'cc1': execvp: No such file or directory

here is my steps:

1. export CC=/my/path/gcc
export CXX=/my/path/g++

2. bazel build tensorflow/examples/wav

[2017-11-13 03:32] zhangbo5891001 commented on #4077
This is a similar issue, but not solved.

https://groups.google.com/forum/#!topic/bazel-discuss/U4yMaZGPqe4

[2017-11-13 10:11] snnn opened #4078 "Misspelling in BazelCcStaticLibraryRule.java?"
[code]

BTW, what's the status of "Bazel C/C++ Transitive Libraries"?  I hope I can use this for building a static tensorflow library on windows.

[2017-11-13 14:39] lipingliulp opened #4079 "compile error: {exit, setenv, geteenv, unsetenv} not declared in this scope"
## Description of the problem:

I'm trying to compile bazel from the source on a cluster where I don't have root. I want to compile bazel then compile tensorflow with bazel. The error is posted below.

##  System info
#### System:

$uname -a
Linux m3n01 2.6.32-696.1.1.el6.x86_64 #1 SMP Tue Mar 21 12:19:18 EDT 2017 x86_64 x86_64 x86_64 GNU/Linux

#### Compiler:
gcc --version
gcc (GCC) 5.3.0
Copyrig

[2017-11-13 15:00] lipingliulp commented on #4079
I solve this problem by downgrade gcc to 4.9.2 ! Amazing!

[2017-11-13 15:00] #4079 closed

[2017-11-13 15:35] kush-c commented on #3956
That's very helpful @BenTheElder. So the issue was present with 0.7 but has just been worsened at HEAD? Commit [4869c4e](https://github.com/bazelbuild/bazel/commit/4869c4e17d5b1410070a1570f3244148d8f97b5d) certainly may be responsible, since it tries to kill the server when the system is low on memory, and perhaps we ran into a race condition when a `bazel clean` is issued when bazel is in the pro

[2017-11-13 15:42] ben-ng opened #4080 "Document the interaction of virtualenv with Python interpreter autodetection"
### Description of the problem / feature request / question:

If the bazel server is started when a python virtualenv is activated, actions are run in that virtualenv until the server restarts. `bazel clean` does not clear this state.

### If possible, provide a minimal example to reproduce the problem:

1. Create a python virtualenv
2. Create a python script that `import`s a dependency in that vi

[2017-11-13 15:42] ola-rozenfeld commented on #3913
From @ulfjack :

I've talked with Lukacs about this a while ago and the basic plan we came up with was to support (and enforce) this usage in a specific way. Unfortunately, I never got around to writing up the plan.

There are three parts to the plan:
- allow a trailing '/' character in labels; mark those as special artifacts (source tree artifact?)
- enforce consistency between trailing '/' chara

[2017-11-13 16:05] lucasharada opened #4081 "Build is completed without errors, but SO file is not generated"
I found this [tutorial](https://blog.mindorks.com/android-tensorflow-machine-learning-example-ff0e9b2654cc) and am trying to follow it to test TensorFlow. This way, I managed to build using
[code]
but it didn't generate any SO file in `bazel-bin/tensorflow/contrib/android/libtensorflow_inference.so`. Looking for a SO file in all generated folders, I found one in `bazel-out/arm-linux-androideabi-cl

[2017-11-13 16:23] EricBurnett opened #4082 "Bazel mis-interprets errors while executing tests remotely"
### Description of the problem / feature request / question:

When test execution fails for unexpected reasons, the error is re-thrown as a SpawnExecException: https://github.com/bazelbuild/bazel/blob/57a2ad72d954b6986fbc857d44694ffb516cdb1b/src/main/java/com/google/devtools/build/lib/remote/RemoteSpawnRunner.java#L223-L248

The test strategy catches this and translates it into a test failure:

ht

[2017-11-13 16:29] hhclam commented on #3913
I agree with this assessment. Data dependency on a directory (and not glob for individual files) is not supported by remote ex and will lead to other issues. Workaround is to do a glob.

[2017-11-13 17:57] aj-michael commented on #3980
Did some digging, the issue is when Bazel is parsing this stylable attribute:

https://android.googlesource.com/platform/frameworks/support/+/master/design/res/values/attrs.xml#282

Since it doesn't define a format, we assume it a reference instead of a definition. But Bazel can't find an actual definition for it (and neither can I...).

[2017-11-13 18:11] aj-michael commented on #3980
Oh, it's inherited from a styleable in appcompat-v7:

https://android.googlesource.com/platform/frameworks/support/+/master/v7/appcompat/res/values/attrs.xml#500

The problem is that maven_aar generates aar_import rules, but there are no deps between those aar_import rules.

This is an ugly manifestation of the fact that Bazel does not have a good solution for transitive maven dependencies.

I'll

[2017-11-13 18:35] dslomov commented on #3988
@meteorcloudy  could you take a quick look? this is a potential 0.8 blocker

[2017-11-13 20:27] j3parker opened #4083 "Windows: CreateProcess(): The parameter is incorrect (due to long argument list)"
### Description of the problem:

When the total length of the arguments + executable (+ null terminator etc.) exceeds 32,767 Bazel fails ungracefully with the error

[code]

It would be nice if this had a better error message, at least.

Generally this is pretty worrying because Bazel seems to like creating very large argument lists and this definitely something Bazel can just "fix" :) I've been a

[2017-11-13 20:48] aj-michael commented on #3980
so, this issue is a duplicate of https://github.com/bazelbuild/bazel/issues/2863.

https://bazel-review.googlesource.com/c/bazel/+/20771 will add a `deps` attribute to maven_aar that will fix this. However, it will require maintaining the graph of dependencies between the AARs, as opposed to the flat list in the deps of an android_library.

[2017-11-13 21:22] ittaiz commented on #4038
Before I go into the details I'll say a general +1, I think the direction is good.

Your suggestion sounds to me like incorporating 'bind' into the external repositories machinery which I like but I think others (like @jart) don't. It's similar to bind in the sense that I declare what I need and I allow wiggle room in *where* it comes from.

Not that I think that you’re disagreeing with me but it’

[2017-11-13 21:25] AustinSchuh opened #4084 "Unicode in external repo filenames causes uncaught exception"
[code]

[2017-11-13 21:41] Titaniumtown commented on #4076
thanks

[2017-11-13 21:52] mhlopko commented on #4028
Hi John, internal reviewer asked for tests, could you add some to src/test/shell/bazel/apple/bazel_objc_test.sh please?

[2017-11-13 22:35] jmillikin-stripe commented on #4028
Test added, to `cpp_darwin_integration_test.sh` -- this isn't Objective-C, it's just regular C++.

I'm some trouble running the test (with changes or at HEAD) because Bazel gets into an infinite loop and consumes all my disk. I'll keep trying.

[2017-11-13 22:58] jmillikin-stripe opened #4085 "Bazel integration tests loop forever writing log files on failure"
Discovered while testing https://github.com/bazelbuild/bazel/issues/4028 -- this might apply only to `cpp_darwin_integration_test.sh`, I didn't explore too deep.

Looking at `test_osx_cc_wrapper_rpaths_handling()` as an example:

[code]

It's intended to try building, with logs sent to a file, and fail if the build failed. Straightforward. However, in `testenv.sh`:

[code]

The extra layer of `fai

[2017-11-14 00:33] hhclam commented on #4041
Saw this problem too. Will look.

[2017-11-14 01:49] indrgun commented on #3507
What is external/bazel_tools/tools/cpp/gcc3?   Does it cause "/usr/include/libio.h:307:3: error: unknown type name 'size_t'"?

[2017-11-14 01:57] greggdonovan opened #4086 "Expose Skylint in @bazel_tools"
### Description of the problem / feature request / question:

We would like to run Skylint in CI without a source checkout of Bazel. Skylint's [README](https://github.com/bazelbuild/bazel/blob/master/site/docs/skylark/skylint.md#building-the-linter) does not provide a way to use it other than via a full source checkout of Bazel.

### If possible, provide a minimal example to reproduce the problem:

[2017-11-14 02:10] hhclam commented on #4041
I verified that master still this issue.

[2017-11-14 02:13] indrgun commented on #3507
I am getting this error with macro calling cc_binary:

/nobackup/ingunawa/bazel_output_user_root/437be82108db050e294afe7481920630/execroot/ios_xr/_bin/process-wrapper '--timeout=0' '--kill_delay=15' /router/bin/gcc.c4.7.0-p3.x86_64 -g0 -MD -MF bazel-out/host/bin/sysdb/_objs/bgen.cc_binary/sysdb/bgen/src/bgen_lex.d -iquote . -iquote bazel-out/host/genfiles -iquote external/bazel_tools -iquote bazel

[2017-11-14 02:16] j3parker commented on #4084
Duplicate of https://github.com/bazelbuild/bazel/issues/1653

[2017-11-14 03:05] zjh-nudger opened #4087 "compile fail on redhat5"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:
ERROR: /root/files/bazel-0.5.0-dist/third_party/grpc/BUILD:55:1: C++ compilation of rule '//third_party/grpc:grpc_unsecure' failed: gcc failed: error executing command
  (cd /tmp/bazel_CiYG5779/out/execroot/

[2017-11-14 07:45] benjaminp opened #4089 "experimental ui could handle blocked actions better"
Unlike the old UI, the experimental UI doesn't track whether a "running" action is actually executing or is just blocked waiting for resources. Since the experimental UI shows actions in descending order of "running" time, the UI may not indicate what's actually running if there are many older actions blocked on resource acquisition. (I often see C++ link actions piling up at the top of the UI bec

[2017-11-14 08:51] lberki opened #4090 "cr.bazel.build/19550 breaks a few Google-internal targets"
/cc @benjaminp

Assigning to Ulf because I'm on sheriff duty this week and as such, have limited capacity to do debugging; I'll roll the change back and let Ulf sort it out.

I'll also create an bug in our internal bugtracker with a bit more pointers; this is here to inform @benjaminp about the progress.

[2017-11-14 10:30] meteorcloudy commented on #3956
Hmm..  I doubt they are the same issue on Linux and Windows.
Because on Windows, I can always repro after 3~5 runs in 0.8.0rc, but not in 0.7.0. So it does look like a regression to me.
Can you try to use one of the CI windows slaves to repo?

[2017-11-14 10:41] meteorcloudy commented on #3772
We need to cherry-pick e28d3af92227cd60287d27d9efa7593ae3e0509f for fixing https://github.com/bazelbuild/bazel/issues/3927

[2017-11-14 10:42] meteorcloudy commented on #3772
Also https://github.com/bazelbuild/bazel/issues/3956 is still under investigation, https://github.com/bazelbuild/bazel/commit/4869c4e17d5b1410070a1570f3244148d8f97b5d might need to be rollbacked.

[2017-11-14 10:44] meteorcloudy commented on #3965
@davido I think the problem mentioned [here](https://github.com/bazelbuild/bazel/issues/3772#issuecomment-342007928) should be fixed from gerrit side.
After modifying the code, I was able to build gerrit on Windows with 0.8.0rc1, so I am closing this issue.

[2017-11-14 10:44] #3965 closed

[2017-11-14 10:45] meteorcloudy commented on #3927
Fixed by rollback

[2017-11-14 10:45] #3927 closed

[2017-11-14 13:46] laszlocsomor commented on #4035
@snnn : Can you reliably repro the failure the way you described? Also, what's in your ".bazelrc" file? (Because `--config opt` is only effective if you have entries like `build:opt` in your `.bazelrc`).

I failed to repro this issue like so:

[code]

[code]

For me, both builds succeed.

[2017-11-14 14:42] #3973 closed

[2017-11-14 14:54] #2870 closed

[2017-11-14 14:54] #1590 closed

[2017-11-14 14:55] laszlocsomor commented on #1590
Closing because actions now always have a temp directory.

[2017-11-14 14:55] laszlocsomor commented on #2349
Closing because actions now always have a temp directory.

[2017-11-14 14:55] #2349 closed

[2017-11-14 15:13] damienmg opened #4092 "native.repository_name() and ctx.workspace_name() are similar function but with different name"
To get the workspace name of the call site, we do `native.repository_name()` in a macro and `ctx.workspace_name()` in a rule. The latter is behaving differently in the main repository probably (returning the name, whereas the repository name can be empty).

This is a [confusing API](https://stackoverflow.com/questions/47068989/how-to-compute-the-bazel-workspace-name-in-a-macro) and it needs to be

[2017-11-14 16:44] benjaminp commented on #4090
I appreciate the transparency. Thank you! Let me know if I can do anything to help.

[2017-11-14 17:52] nicolov commented on #4066
I tested again and it seems to actually work fine, I don't what was up with my network configuration. Sorry for the trouble.

[2017-11-14 17:52] #4066 closed

[2017-11-14 18:23] #2863 closed

[2017-11-14 18:23] #3980 closed

[2017-11-14 18:55] dslomov commented on #3772
e28d3af is already in the release, no need to cherrypick

[2017-11-14 19:51] aj-michael commented on #3845
Sorry this took so long.

431b6436373c9feb5d03e488ff72f822bbe55b2d adds a deps attribute to the skylark maven_aar rule which allows users to wire up dependencies between their transitive deps.

I've also created an example bzl file that creates repositories and the dependencies for all artifacts on https://maven.google.com, which includes the support libraries:

https://github.com/aj-michael/gmave

[2017-11-14 20:32] schnaitterm opened #4093 "feature request: add a flag that tells bazel to include the current environment's variables"
I understand the concept of wanting to have a sandboxed environment for builds on many software in order to maintain reproducibility, etc... but the fact that there is no way to tell bazel to do otherwise is an incredible hassle, especially when, for instance, you are using to build software in an HPC environment (*cough* TensorFlow *cough*) where everything is managed using environment modules. t

[2017-11-15 02:37] snnn commented on #4035
Hi @laszlocsomor , It's strange.  I can 100% re-produce this problem on my local host. I don't have any .bazelrc.  How can I provide more information to you?

Thanks.

[2017-11-15 03:25] mhlopko commented on #3558
Still in the US meeting with people so pardon low service.
@jbasila you mention fields mentioned in documentation, what documentation do you mean? Is there any?

@jmillikin I'll take a look on the error message.

All in all, this API is going away very soon, O(weeks). That's the main reason it's not documented, we just don't want people to be using it :) It will be replaced by something else. but

[2017-11-15 04:22] jbasila commented on #3558
This is the documentation I used.
https://docs.bazel.build/versions/master/skylark/lib/cpp.html

[2017-11-15 08:15] AustinSchuh commented on #1054
Building off what @schroederc wrote, I'd really love to only stamp when --stamp=true is specified.  Which means that I need access to the --stamp flag in skylark.

[2017-11-15 10:18] meteorcloudy commented on #3772
Good to know, thanks!

[2017-11-15 12:09] aehlig commented on #4089
This is indeed true that the UI should better distinguish between actually running and blocked actions, at the very least in the startegy part of the status line (which is easy to achieve), probably also counting/grouping differently, which is a bit more work. I'll try to find time to do that as well, but that might take a bit longer.

[2017-11-15 12:10] laszlocsomor commented on #2241
I found out today that the Android rules in Bazel use a new feature of the C++ SingleJar that the Java SingleJar doesn't support. We'll need to reconsider the priority of this task. /cc @dslomov

[2017-11-15 12:29] philwo commented on #4071
Happy to add this. As always, please ping me regularly to ensure it stays on my list, until the feature is there. ;)

[2017-11-15 12:49] laszlocsomor opened #4096 "Windows, Java: non-fatal Java header compilation error while building Bazel"
### Description of the problem / feature request / question:

Java worker fails with "The filename or extension is too long." error, though this doesn't fail the whole build. The path is actually well below 259 characters, so the error message seems to be misguided.

[code]

### If possible, provide a minimal example to reproduce the problem:

[code]

### Environment info
* Operating System: Windo

[2017-11-15 13:44] aj-michael commented on #2241
Regarding the Android feature, we could add that to the java singlejar (and in fact I believe there is an internal pending CL to do so). However, that feature is only enabled internally for now for some reasons dealing with remote execution.

So I don’t think that should impact the priority of this work

[2017-11-15 14:50] xingao267 commented on #2241
Yea the feature is only enabled internally because it breaks remote execution. It won't be added to Bazel until recursive workspaces become supported.

[2017-11-15 14:59] aj-michael commented on #2385
Closing this because the android tools deduped their dependencies in e005adf491c8f86c38439c377b27e29336841057.

There's probably more work to be done, but ulf's comment is the better long-term plan.

[2017-11-15 14:59] #2385 closed

[2017-11-15 15:05] laszlocsomor commented on #4083
Thanks for reporting this error!
I started seeing the same error a few days ago when building Bazel itself. I'll investigate.

[2017-11-15 15:06] aj-michael commented on #2334
Closing this since the bug was just due to lack of sandboxing. The Bazel Android rules are known to not be hermetic without sandboxing due to limitations of tools that only accept directories as inputs. Without sandboxing, other things end up in the same directories and get consumed by tools that shouldn't have access to them.

[2017-11-15 15:06] #2334 closed

[2017-11-15 15:16] j3parker commented on #4083
I noticed it while trying to get my Windows build of Bazel to run too, I think during some code coverage stuff (I haven't looked too closely.)

[2017-11-15 15:30] katre commented on #4087
Looks like some of the epoll headers are missing/old on these systems. I'll do a little more investigation, but beware that the end result may be "we can't support this configuration".

[2017-11-15 15:35] katre commented on #4087
Looks like epoll_create1 was added to the kernel in version 2.6.27 (see the "Versions" section of https://linux.die.net/man/2/epoll_create1).

You are running 2.6.18.

If you cannot upgrade your kernel to a version that supports gRPC, I'm afraid we cannot provide support to you in getting it to build.

[2017-11-15 15:35] #4087 closed

[2017-11-15 16:23] aj-michael commented on #4081
Yea, those should both be symlinks to the same file. The bazel-bin symlink probably just failed to get created. If you rebuild, it should be cached and will try again to create the symlink.

[2017-11-15 16:23] #4081 closed

[2017-11-15 17:46] mhlopko commented on #4030
In the worst case we can hide this behind an option, but the behavior sounds useful.

[2017-11-15 18:04] mhlopko commented on #4085
Will be fixed by #4029

[2017-11-15 18:25] mhlopko commented on #3558
Oh I see, so the functions that didn't work accept arguments (undocumented, as you already discovered). This is where all those functions are defined: https://github.com/bazelbuild/bazel/blob/275ae45b1228bdd0f912c4fbd634b29ba4180383/src/main/java/com/google/devtools/build/lib/rules/cpp/CppConfiguration.java if you need something quick and dirty. But again, the API is going away. The first step wil

[2017-11-15 18:40] mhlopko commented on #3507
Uff too many questions to respond to without inline responses. I'll try.

I don't know what external/bazel_tools/tools/cpp/gcc3 is but without it google breaks. I didn't have time to investigate more.

I don't know if it causes unknown type name 'size_t'.

Bazel patches legacy crosstools by https://github.com/bazelbuild/bazel/blob/275ae45b1228bdd0f912c4fbd634b29ba4180383/src/main/java/com/google/d

[2017-11-15 18:49] meteorcloudy commented on #3772
Please cherry-pick 275ae45b1228bdd0f912c4fbd634b29ba4180383 to fix #3956

[2017-11-15 18:49] #3956 closed

[2017-11-15 19:24] dslomov commented on #3772
275ae45 fails to apply cleanly, and after I fix merge conflicts, `scripts/release.sh` fails to detect that it needs to create rc3 (it creates rc1 instead). I will not be able to investigate until Friday.

[2017-11-15 19:50] angersson opened #4097 "Make android tools scripts Python3-compatible for building android apps"
### Description of the problem / feature request / question:

Google's TFLite team has discovered that the TF Lite Android demo application cannot build via Bazel with Python 3, because the android tools Bazel uses aren't Python-3 compatible. The first breaking point looks like `third_party/gflags`, but past that there seem to be additional version incompatibilities.

### If possible, provide a mi

[2017-11-15 21:57] vrobertbaruch opened #4098 "Expose tools from toolchain in CROSSTOOL"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:

https://docs.bazel.build/versions/master/be/make-variables.html shows that these are exposed as Make variables:

CC
STRIP
AR
NM
OBJCOPY

However, objdump gives useful information that nm does not, so I want

[2017-11-15 22:45] nicolov commented on #4093
You can forward individual environment variables with `build --action_env=MYVAR` and `test --test_env=MYVAR`.

[2017-11-15 23:41] dajensen commented on #4068
I encountered this as well.  Didn't initially expect the NDK version to be the cause of those errors, and wasted time trying to hunt down what was wrong with my NDK path.  Turns out it was just fine, but I needed to use an older version.

[2017-11-15 23:56] mhlopko commented on #4046
I'd be surprised if this was broken in bazel. Linking of which target fails? Why do you have //main:hello-greet.h header twice? It should be owned only by one target, and other targets should depend on it via `deps`. That's not related though. You can run the build with `--subcommands` to see the generated commands. Then you can `cd` into the sandbox and see if the hello.so is in the sandbox, and

[2017-11-15 23:56] mhlopko commented on #4046
Also feel free to upgrade to bazel 0.7, a lot has changed since 0.5.4

[2017-11-15 23:58] mhlopko commented on #4010
That is indeed the right solution. I'll close this one, feel free to ask more questions though.

[2017-11-15 23:58] #4010 closed

[2017-11-16 00:30] schnaitterm commented on #4093
As I already said, that did not work and it is not always practical.

On Nov 15, 2017 5:46 PM, nicolov <notifications@github.com> wrote:

You can forward individual environment variables with build --action_env=MYVAR and test --test_env=MYVAR.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://na01.safelinks.protection.outlook.com/?ur

[2017-11-16 01:26] wjywbs opened #4099 "Extra warnings of "The lower priority option does not override the previous value"."
### Description of the problem / feature request / question:

Should bazel disable this kind of warnings? If there is "build -c dbg" in bazel.rc and run "bazel build -c opt", it will report this warning. Older bazel versions before 0.6 do not have this issue.

WARNING: The lower priority option '-c dbg' does not override the previous value '-c opt'.

### Environment info
* Operating System: linux

[2017-11-16 03:02] jmillikin commented on #3558
I'm making an attempt at `rules_haskell`. The Haskell compiler (GHC) works by generating assembly, then internally invoking `gcc` and `ld` to get object code and binaries. Telling it to stop after the assembly stage lets me use Bazel's compiler and linker options , which is better for hermeticity and consistency.

Currently I'm using the CPP fragment to discover the C++ toolchain, and `ctx.actions

[2017-11-16 03:50] achew22 opened #4100 "load('ing a file that doesn't exist in WORKSPACE should tell you what file it errored in"
### Description of the problem / feature request / question:

If you attempt to `load` a `.bzl` file in the `WORKSPACE` that doesn't exist you get the following error:

`ERROR: error loading package '': Extension file not found. Unable to load file '//path/to:import.bzl': file doesn't exist or isn't a file`

Since this is an error new users are likely to experience it might be worth prioritizing s

[2017-11-16 04:13] ayad81 commented on #4100
![screenshot_20170902-011700](https://user-images.githubusercontent.com/33680914/32873466-4e7c35fe-ca9d-11e7-9b79-0e01acd2f46f.png)
![screenshot_20170902-011733](https://user-images.githubusercontent.com/33680914/32873468-4f0967ee-ca9d-11e7-9d12-c88f33416e78.png)
![screenshot_20170902-011758](https://user-images.githubusercontent.com/33680914/32873469-4f9bc648-ca9d-11e7-9263-3541603b9a37.png)
![sc

[2017-11-16 05:22] cushon commented on #4099
I think this was fixed in 2553875c285dcca454ee830182d238296ce70aa2.

[2017-11-16 05:51] wjywbs commented on #4099
I will reopen if this warning persists in the next bazel release, thanks.

[2017-11-16 05:51] #4099 closed

[2017-11-16 06:01] davido commented on #3965
@meteorcloudy Thanks. The needed fix in gerrit was merged yetserday. Are we going to see new Gerrit CI on Windows platform in near future on Bazel CI Infra?

[2017-11-16 07:27] benjaminp commented on #4093
The C++ rules roll their own environment handling and thus have inconsistent behavior with `--action_env`. That's definitely a bug. #3320 is the meta issue for that.

If you've already managed to set the right env vars for CUDA once doesn't seem like it should be hard to copy that knowledge into the Bazel command line. At the very worst, you can have a Bazel wrapper that translates `env` into `--a

[2017-11-16 09:37] meteorcloudy commented on #3965
Great!
I just tested 0.8.0rc2 build :headless with gerrit@HEAD.
Got another compilation error:
[code]

As along as we fix these compilation errors, we can definitely set up the CI job for gerrit after 0.8.0 is released.

[2017-11-16 10:41] ahippler opened #4101 "repository_rule local=True not executed every time on mac"
### Description of the problem / feature request / question:

repository_rule with local=True is only executed on changes, not every time.
I use repository_ctx.execute() to validate local cached artefacts.
This should be done every time bazel starts to build.

### Environment info
* Operating System:
macOS 10.12.6

* Bazel version (output of `bazel info release`):
0.7.0-homebrew

[2017-11-16 15:39] davido commented on #3965
@cushon @eamonnmcmanus

Any clue what is going on here?

[2017-11-16 15:55] eamonnmcmanus commented on #3965
This message:
[code]
makes me think that there is something wrong with the way the Java compiler is configured. Every class should be convertible to Object. The message is basically saying that `that.project()` can't be passed to `Object.equals(Object)`.

What's in `external/bazel_tools/third_party/java/jdk/langtools/javac-9-dev-r4023-3.jar`?

Notice that the message is coming from the Java compil

[2017-11-16 16:11] davido commented on #3965
I suspect, that this commit could be somehow related: [1]. I think that before this refactring, Gerrit Build on the other platform worked. On the same compiler.

* [1] https://gerrit-review.googlesource.com/#/c/gerrit/+/140535

[2017-11-16 16:40] cvcal commented on #4099
Thanks for identifying the fix, @cushon ! Yes, 0.8 should include this change, apologies for the log spam!

[2017-11-16 17:21] ahippler opened #4102 "cc_test data is not copied to .runfiles on windows"
### Description of the problem / feature request / question:

I need test data for an cc_test. i added a filegroup to data of the test. the test is execute, the MANIFEST file is created with references to the test data. However the test data is not linked/copied in to the .runfiles directory. And I also tested the exact same cc_test on Mac and Linux, everything works as expected.

### If possible,

[2017-11-16 18:11] #1479 closed

[2017-11-16 20:19] aj-michael opened #4103 "Enable aapt2 by default"
It works internally and is now the default in gradle:

https://developer.android.com/studio/build/gradle-plugin-3-0-0.html

[2017-11-16 21:07] cauthu opened #4104 "some broken doc pages"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:

https://docs.bazel.build/versions/master/skylark/ is showing:
[code]

child pages, e.g., https://docs.bazel.build/versions/master/skylark/concepts.html, work fine.

UPDATE: others that are failing similarly

[2017-11-16 21:23] schnaitterm commented on #4093
@benjaminp  that's why it should be an optional flag, but not the default behaviour. and the mentioning of CUDA was only an example of software that implements such a feature. Wrapping `env` into `--action_env` arguments is messy and would be stupid to make necessary, when this is functionality the software should have to begin with.  If you are going to have a non-standard build system, it should

[2017-11-16 22:44] davido opened #4105 "Auto-value generated file compilation error: Misleading error message on missing transitive dependency"
It took me hours to track this down, why compilation of generated source by annotaion processor (the latest auto-value library) is failing with obscure error message. It seems that the root cause is missing transitive dependency.

To reproduce, clone this repro-repository: https://github.com/davido/bazel-annotation-processor-breakage and follow the README.md. The workaround is provided as well. I

[2017-11-16 22:47] davido commented on #3965
@eamonnmcmanus @meteorcloudy @cushon

I was able to track that down, reproduce and fix it. The root cause was a missing transitive dependency. I just wrote this issue: https://github.com/bazelbuild/bazel/issues/4105.

[2017-11-16 22:53] gregghz opened #4106 "Android support library now requires maven.google.com"
### Description of the problem / feature request / question:

In the [Android Rules documentation for support libraries](https://docs.bazel.build/versions/master/be/android.html#android_sdk_repository_support_libraries) it says to use `@androidsdk//com.android.support:appcompat-v7-25.0.0` in `deps`. This approach uses the local maven repo provided by the android sdk. However as of (I think) 26.0.0

[2017-11-16 22:58] davido commented on #3965
@meteorcloudy

Hopefuly fixed now with: [1].

* [1] https://gerrit-review.googlesource.com/#/c/gerrit/+/142490

[2017-11-16 22:58] gregghz commented on #4106
I should also mention that I have updated/installed the support libraries and this all does work with my sdk as-is with gradle and sbt.

[2017-11-17 01:01] sjain-stanford opened #4107 "Failed to build Bazel 0.7.0 from source on RHEL 6.8: "C++ compilation of rule ... failed""
I'm having trouble building Bazel 0.7.0 from source on my RHEL 6.8 desktop with gcc 4.4.7.

"C++ compilation of rule failed"

File: `bazel-0.7.0-dist.zip` downloaded from release page.

### System details
[code]

### Output
(without any modification to CROSSTOOL or WORKSPACE or other flags)
[code]

### Previously suggested hacks
Based on [this](https://github.com/bazelbuild/bazel/issues/760) threa

[2017-11-17 01:24] sjain-stanford commented on #4107
Is gcc 4.4.7 too old for Bazel? As per this StackOverflow [post](https://stackoverflow.com/questions/42982735/how-to-compile-bazel-on-centos-6-x) if I install a newer gcc and export `JAVA_HOME` and `CC` paths, it should work as it is. I can give it a try.

[2017-11-17 04:40] kamalmarhubi commented on #4047
I was just writing up a feature request for this and decide to search issues before posting. I was working towards a solution like the "don't do this" version above. I think the jankiness might be acceptable for me right now, so I'll give it a shot.

[2017-11-17 07:39] cushon commented on #4105
This appears to be caused by Error Prone:

[code]

[2017-11-17 07:55] davido commented on #4105
@cushon Thanks. Surprisingly, the original issue in gerrit wasn't exposed on sane platforms (Linux & Mac Os X), but was only reported on the other platfor. However, with this small reproducer, it now exposed on Linux as well.

Should I close this issue here and rather re-open a new one for EP?

[2017-11-17 08:10] mhlopko commented on #3558
That will directly be supported by C++ sandwich \o/. @jbasila what was your usecase?

[2017-11-17 09:12] snnn commented on #4035
Ok... I guess I find the reason.

In LocalSpawnRunner.java
[code]

You can't do this on Windows. DeleteFile is an async operation. You shouldn't recreate the directory shortly after deleting it.

[2017-11-17 09:15] snnn commented on #4035
This bug is introduced in cfccdf1f6e93125d894ff40e0ccecaf20cc20ef5

[2017-11-17 09:56] laszlocsomor commented on #4035
Wow, that's an impressive diagnosis! Thank you!
I still couldn't repro this issue, however your explanation seems plausible.

[2017-11-17 10:22] #3648 closed

[2017-11-17 10:27] meteorcloudy commented on #3965
Nice, I confirmed it works!

[2017-11-17 11:37] davido opened #4108 "Build outcome is inaccurate and differs on different platforms"
1. Try to build [gerrit code review](https://gerrit.googlesource.com/gerrit) from this commit (75fa62c694c987d1768017131533d7a9aa45b9da) on Linux:

[code]

it will succeed, where the `libdiff.jar-2.params` - file on Linux is here: http://paste.openstack.org/show/626680.

2. From the same gerrit commit, with the same Bazel version, I used 0.8.0-rc2, try to build the same rule on Windows:

[code]

w

[2017-11-17 12:35] dslomov commented on #3772
Got it, `scripts/release/release.sh` relies on local state

[2017-11-17 12:42] davyfeng opened #4109 "build tensorflow via bazel on windows-7 32 bit, no toolchain for x86, any idea on how to add it?"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:
I am trying to build tensorflow from source via bazel on Windows 7 32bit. As there is no bazel prebuilt binary for windows 7 32bit, I first build bazel for it from source, and successfully got it on windows7

[2017-11-17 12:44] dslomov commented on #3772
rc3: `scripts/release/release.sh create --force_rc=3 0.8.0 cff0dc9 8a49b15 275ae45`

[2017-11-17 12:59] dslomov commented on #3772
recreated rc3 with the same command since I botcher conflict resolution

[2017-11-17 13:12] ittaiz commented on #3022
@iirina according to this [blog post](https://blog.bazel.build/2015/07/01/Configuration-File.html) it sounds like one can currently circumvent this issue by having a `~/.bazelrc` file and a `my-proj/tools/bazel.rc` file where `~/.bazelrc` will inherit from the `tools/bazel.rc` one. Is that correct?
cc @damienmg

[2017-11-17 14:11] jin commented on #4106
Hey @gregghz, this is a known issue and we’re working on it. For now, @aj-michael has created a set of WORKSPACE rules for Google Maven here: https://github.com/aj-michael/gmaven_rules

[2017-11-17 14:13] jin commented on #4106
cc @aj-michael @dkelmer @ahumesky

[2017-11-17 14:24] dslomov commented on #3772
3rd time's the charm

[2017-11-17 14:48] meteorcloudy commented on #3772
Great, thanks! I don't see #3956 happen again in 0.8.0rc3.

[2017-11-17 15:19] pcj opened #4111 "Design question: Will --platforms build in a unique subdirectory of the build tree?"
In discussing cross-compile for rules_go (https://github.com/bazelbuild/rules_go/issues/1030#issuecomment-345254805), @ianthehat brought up the question of whether the penultimate manifestation of `--experimental_platforms` will build on a separate area of the build tree (like `--cpu`).

Is this known?

As an add-on question, do we have a timeline for platform transitions (and design doc that disc

[2017-11-17 15:26] pcj opened #4112 "BEP: ActionExecuted event never delivered"
In my experiments with the BEP via `--build_event_binary_file` (and friends), I've never seen an `ActionExecuted` event come through. Is that expected?  How to trigger one?  Seems like that's a pretty core one in order to visualize the execution graph.

Also, what sort of events should one expect during the loading phase?  Particularly regarding external dependency fetching, repository_ctx events?

[2017-11-17 15:29] katre commented on #4111
We are actually moving away from having cpu affect the output path directly. The issue is that the data that was previously in the output path was being read from the CROSSTOOL file, not directly from the cpu flag, and thus required every single target to depend on CROSSTOOL, regardless of whether it was doing cpp compilation or not.

We have a lot of open design questions around the proper handli

[2017-11-17 15:29] #4111 closed

[2017-11-17 15:32] abergmeier opened #4113 "Implement cc_toolchain_suite in Skylark"
### Description of the problem / feature request / question:

Currently the steps for a toolchain are `cc_configure` -> `CROSSTOOL` -> Java impl. This makes writing a custom toolchain (_clang_, _spir_, ...) cumbersome because you can only use the former, if it matches very much the implicit Java impl logic. So the only choice you have often is to write your own implementation from scratch (and hit

[2017-11-17 15:47] dslomov commented on #4035
This *is* a release blocker for 0.8.0

[2017-11-17 15:47] dslomov commented on #3772
Will need one more cherry-pick: fix for https://github.com/bazelbuild/bazel/issues/4035

[2017-11-17 19:47] IrynaWilson commented on #1118
@lberki you said Bazel supports code coverage for python? I am not able to get coverage for python files because coverage runs in legacy mode due to lcov merger not being provided in BazelPyTestRule. Or is there another way to generate and populate coverage.dat files for python?

[2017-11-17 19:55] katre commented on #4065
We could probably add a check on whether rpmbuild exists and give a better error if it doesn't.

[2017-11-17 20:31] duggelz commented on #3530
An alternative would be to add an explicit attribute to `py_binary`/`py_test` rules that changes the behavior for that single target, from the current behavior (generated "py_binary_target" is a shell script that invokes the "py_binary_target.runfiles/" tree on Linux), to the "--build_python_zip" behavior ("py_binary_target" is a zip file with '#!" line).

[2017-11-17 20:36] gregghz commented on #4106
@jin Thanks for the quick reply. @aj-michael's rules works great. I really appreciate this :+1:

[2017-11-17 21:00] aj-michael opened #4116 "Move android tools out of Bazel binary"
Put them in a separate git repository so that we're not wasting space on the hard drives of iOS developers.

Note that the native rules code will stay in the Bazel binary, they just wont work unless the tools are also set up.

[2017-11-17 21:15] sjain-stanford commented on #4107
No luck. I installed gcc 4.8.4 at a non-default location and just to be sure, I made the following modifications before building (although it seems newer Bazel versions don't require these mods). It is still failing to build with the same `C++ compilation of rule ... failed` error.

#### Exported the flags:
[code]

#### Added to `tools/cpp/CROSSTOOL`
[code]

#### Added to `WORKSPACE`
[code]

####

[2017-11-17 22:13] StephenAmar commented on #1410
@jart Thanks a lot for the config generator. It was very useful.

A tricky question for you though.
I'm having a lot of trouble using extra_build_file_content because I can't seem to be able to use non native rules there (like a rule to shade libraries, or scala specific rules).

Any ideas?

[2017-11-17 22:15] jart commented on #1410
I would advise against doing anything nontrivial in `extra_build_file_content`. You can probably do it in your main repo build files. Otherwise, you might be able to load() the appropriate skylark rules, possibly using "@//..." syntax to reference the main repo.

[2017-11-17 23:09] sjain-stanford commented on #4107
Bazel built from source successfully! Here is what I did:

This time I compiled without any `CROSSTOOL` modifications, relying on `cc_configure.bzl` to do the job (still had to export all flags and add load cc_configure to `WORKSPACE` as above). It went through the C++ compilation phase, but had another error about missing `GLIBCXX_3.4.18`.
[code]

I realized that the custom gcc-4.8.4 installation

[2017-11-17 23:09] #4107 closed

[2017-11-18 00:15] jfaust commented on #1653
This is causing problems for me with libvips, which has a filename with russian characters in it in the release.

[2017-11-18 00:19] sjain-stanford commented on #4107
Update: I just checked that the build for 0.7.0 doesn't depend on loading `cc_configure.bzl` in `WORKSPACE` . It is done automatically.

[2017-11-18 00:56] benjaminp opened #4117 "dict methods (but not subscripting) leak the underlying Java types"
Consider a little workspace with `example.bzl`:
[code]

and `BUILD`:
[code]

Running `bazel build //:ex` should print the same line twice, but instead, it earns you an error:
[code]

The problem is `IndexExpression` [coerces the result of subscripting into a skylark value](https://github.com/bazelbuild/bazel/blob/2af2bff08c2fab136ea0927242bd4f3fe05456bf/src/main/java/com/google/devtools/build/lib/

[2017-11-18 06:46] jbasila commented on #3558
The C++ sandwich is exactly what I need - I had to build a C++ library using Skylark but then I couldn't use it in other cc_library rules - I also use the cc_binary hack of libname.so with linkshared to create dynamic libraries the way I want them but then they cannot be used in the deps of other rules - again the sandwich should allow this.

[2017-11-18 06:50] jbasila commented on #3558
I need the CPP fragments for extracting compiler flags and such to be used in the Skylark rules such as the sysroot and compiler options

[2017-11-18 07:01] ttsugriy opened #4119 "Provide an option to write skylint warnings in a structured format."
When using Skylint with any automation, it's very useful to be able to parse every message for either visualization or storage purposes. In particular, we are using Skylint with arcanist tool to run all linters for our project and in order for it to be useful, we need to parse all message parts.

### Description of the feature request:

Unfortunately, messages that describe missing `Args` or other

[2017-11-18 16:31] AustinSchuh commented on #4017
Sorry, that ended up being a bug in our side.  We were zipping up the java files created by protobuf to create the srcjar.

      'zip --quiet ' + src_jar.path + ' $(find ' + proto_output + ' -name \'*.java\')',

Which really should have become

      'find ' + proto_output + ' -name \'*.java\' -exec touch -d @0 {} +',
      'zip -X --quiet ' + src_jar.path + ' $(find ' + proto_output + ' -name \'

[2017-11-18 16:31] #4017 closed

[2017-11-18 18:42] ttsugriy commented on #4119
for now I'm using
[code]
and iterate over matches like this:
[code]
so I have a temporary work-around but having a structured format would certainly be much more convenient :)

[2017-11-19 07:56] davido commented on #4108
//CC @cushon @damienmg

It seems that inaccuracy and bad buid outcome is caused by error prone. If I disable all checks on Windows by passing this bazel option: ` --javacopt=-XepDisableAllChecks`, the build succeeds:

[code]

[2017-11-19 08:33] hmemcpy opened #4120 "Test methods that contain non-regex safe characters should be escaped"
(I've encountered this when implementing support for bazelbuild/intellij#155)

If a test method contains one of the symbols `.^$*+?()[{\|`, if passed verbatim as a JUnit test, will fail regex validation (e.g. a test named "2+2 = 4", which is a valid method name in scala.)

Given a filter: `"--test-filter=MyTest#calculator should::prove 2+2 = 4"`, `RegExTestCaseFilter` will fail to match the junit

[2017-11-19 20:24] cushon commented on #4108
Do you have a minimal repro for the part of this that only happens on windows?

I don't have access to a windows machine right now, would you mind adding `javacopts = ["-verbose"]` to `//java/com/google/gerrit/server/diff:diff` and then sharing the log output for that action for both windows and linux?

[2017-11-19 20:50] davido commented on #4108
@cushon Sure, it took me quite some time to extract the minimal reproducer for this breakage. See: https://github.com/davido/bazel-annotation-processor-breakage.

I also filed this issue upstream: [2].

Sure.

* [1] https://github.com/google/error-prone/issues/827

[2017-11-19 21:50] davido commented on #4105
Duplicate of #4108.

[2017-11-19 21:50] #4105 closed

[2017-11-20 02:56] cushon commented on #4108
Thanks for taking the time to make the repro! I think there's a second bug here preventing `gwtorm:client` from being on the classpath for the windows build.

Can you share the contents of `bazel-bin/java/com/google/gerrit/reviewdb/libserver-hjar.jdeps` from the windows build? And do either of `--java_classpath=off` or `--nojava_header_compilation` make a difference?

[2017-11-20 03:28] zjh-nudger commented on #660
@kramasamy . I encounter the same problem(The utime utilities , such as 'UTIME_NOW' etc, are not found) on redhat5. Do you have some suggest for this problem. Thank you.

[2017-11-20 04:16] zmarcantel commented on #3931
I am seeing the same thing.

Ironically enough while making a minimal starting point for bazel + cpp.

can be found here: https://github.com/zmarcantel/bazel-bootstrap

# Bazel info

[code]

# Bazel test output

[code]

# Straight binary run

[code]

# Specifying a specific target does work

[code]

[2017-11-20 06:55] laszlocsomor commented on #4035
This commit broke some of our internal tests. I'll take a look and fix them soon (this morning or early afternoon).

[2017-11-20 07:17] davido commented on #4108
Here is the content of bazel-bin/java/com/google/gerrit/reviewdb/libserver-hjar.jdeps:
[code]

Indeed, passing ` --java_classpath=off` did fix it:

[code]

Passing `--nojava_header_compilation ` didn't fix it:
[code]

[2017-11-20 07:48] cushon commented on #4108
Can you attach `libserver-hjar.jdeps` to the bug? It's a binary proto.

[2017-11-20 07:53] davido commented on #4108
Done.

[libserver-hjar.zip](https://github.com/bazelbuild/bazel/files/1486835/libserver-hjar.zip)

[2017-11-20 08:14] mhlopko commented on #4078
FYI, transitive libraries have been deprioritized in favor of C++ sandwich. We will post an update for transtive libraries later in Q1/2018.

[2017-11-20 09:07] mhlopko commented on #3558
If we allowed you to create all the compilation and linking actions that cc_library does, and gave you an API to do so from Skylark, would that work for you too? In other words, instead of you taking the flags and creating actions yourselves, you would pass data to something like cc_common.compile/cc_common.link, and get some providers back, will that work?

[2017-11-20 09:52] laszlocsomor commented on #3985
Found the culprit: commit 394211b. /cc: @meteorcloudy

[2017-11-20 10:09] meteorcloudy commented on #3985
I am looking into it

[2017-11-20 10:38] meteorcloudy opened #4126 "cc_proto_library rule broken on Windows with Bazel@HEAD"
[code]

Culprit: 9cc954a8c1e1f5134c4b6701588cd226e9e52707

`win_def_file` attribute was not defined for proto_library while evaluating aspect..
@dslomov Do you have any quick idea about why this is happening?

The change for adding win_def_file is not included by 0.8.0, so the next release is not affected by this issue.

[2017-11-20 10:38] meteorcloudy commented on #3985
Found another bug from HEAD while debugging this..
https://github.com/bazelbuild/bazel/issues/4126

[2017-11-20 11:54] damienmg commented on #3022
Yes this is correct. however .bazelrc will take precedence over ~/.bazelrc (so if you have a .bazelrc in your workspace, it will ignore ~/.bazelrc). There is a long standing issue in fixing our .bazelrc order.

[2017-11-20 12:14] lberki commented on #1118
I think you misunderstood me. Above, I said on May 5 _"Python, definitely not."_ Sorry about that :(

[2017-11-20 12:29] #3761 closed

[2017-11-20 13:14] meteorcloudy opened #4127 "//src/test/java/com/google/devtools/build/lib/rules/cpp:cpp-rules-tests not running on Windows"
I just noticed cpp-rules-tests is not running on Windows for a while.
I believe we missed many Windows breakage due to this.

I believe this is due to our change for Windows tests configuration?
See https://github.com/bazelbuild/bazel/blob/275ae45b1228bdd0f912c4fbd634b29ba4180383/src/test/java/com/google/devtools/build/lib/BUILD#L1361

@laszlocsomor Any specific reason we are not running this test

[2017-11-20 13:18] meteorcloudy commented on #3985
After 394211b, we support building dynamic library from cc_library. But they are not built by default due to the linking problems.

However, in https://github.com/bazelbuild/bazel/blob/ddb25552f58cb5e822eafd145b5555f163a999e0/src/main/java/com/google/devtools/build/lib/rules/cpp/CcLibraryHelper.java#L251
when building cc_proto_library, we always add all linking outputs to filesToBuild, which cause

[2017-11-20 13:22] IrynaWilson commented on #1118
Ok, thanks for clarifying. I guess I will have to go with coverage.py for python.

[2017-11-20 13:23] meteorcloudy commented on #3772
We also have a cc_proto_library  regression in 0.7.0 on WIndows https://github.com/bazelbuild/bazel/issues/3985
Sent https://bazel-review.googlesource.com/#/c/bazel/+/21790/ to fix it.

[2017-11-20 13:27] dslomov commented on #3772
ok, waiting for both of those to land before cutting rc4

[2017-11-20 13:29] laszlocsomor commented on #4127
I remember checking that `//:all_windows_tests` contained the same tests as the query used to in [bazel-tests.json](https://github.com/bazelbuild/bazel/commit/088f6113007d1a341893d915a87b93a4aed9898e#diff-d7bce8cff891e2bd471e6d10db112ada).

Indeed, commit 3f2f480f0bcdd26d3efbe982836cf8f3597341dd moved `//bazel/src/test/java/com/google/devtools/build/lib:cpp-rules-tests` to `//src/test/java/com/goo

[2017-11-20 13:32] meteorcloudy commented on #4127
I see, thanks for looking into it.
Did we refer cpp-rules-tests explicitly?

[2017-11-20 13:37] laszlocsomor commented on #4127
We didn't. It was matched by the test_suite in its old package: https://github.com/bazelbuild/bazel/blob/d0bf589f2716b3d139c210930371a684c6e158eb/src/test/java/com/google/devtools/build/lib/BUILD#L1352

[2017-11-20 14:04] meteorcloudy commented on #4127
I see, explicitly refer every test is not feasible. But can test_suite also match tests under its subpackage?

[2017-11-20 14:08] meteorcloudy commented on #4127
Or we have to use `genquery` to check the tests lists match every time..

[2017-11-20 14:12] laszlocsomor commented on #4127
No, test_suite cannot match tests in subpackages.
I'm not aware of any better solution than using genquery and comparing its output to a golden file.

[2017-11-20 14:17] meteorcloudy commented on #4127
Or comparing its output to another genquery? Something like:
`//src/test/java/... //src/test/cpp/... //src/test/py/... --tag=-no_windows`

[2017-11-20 14:21] meteorcloudy commented on #4126
Found the cause, working on a fix now

[2017-11-20 14:24] laszlocsomor commented on #4127
Sure, if genquery supports "..." targets then let's do that.

[2017-11-20 14:27] meteorcloudy commented on #4127
Yes, it does.
[code]

[2017-11-20 14:28] damienmg commented on #4077
/cc @mhlopko

[2017-11-20 14:34] laszlocsomor commented on #4127
"bazel query" and "genquery" are slightly different:

(source: https://docs.bazel.build/versions/master/be/general.html#genquery)

And unfortunately in this case they are different.

Query:
[code]

Genquery:
[code]

[2017-11-20 14:49] laszlocsomor commented on #4109
Hi @davyfeng , unfortunately Bazel only supports 64-bit Windows 7 [1], and TF seems to do the same [2], so I'm afraid you're on your own. Furthermore TF (or at least TF Serving) requires Bazel 0.5.4 or higher [3].

Having said that, can you explain some details about what you tried so far? I think you'll have to write your own crosstool file.

[1] https://docs.bazel.build/versions/master/install-w

[2017-11-20 15:13] jmillikin commented on #3558
You're thinking something like rules_go's [toolchain object](https://github.com/bazelbuild/rules_go/blob/master/go/toolchains.rst#the-toolchain-object)? That would work, but you'd need to give the caller more control over copts/linkopts than we can get with native CC rules today.

For Haskell rules:
* I need to inspect cc_options to see if PIC mode is active before building the Haskell compiler's

[2017-11-20 15:33] aehlig commented on #4112
Yes.

Quoting the proto specification.

[code]

Just create an action that fails.

It was a deliberate decission to not report on every executed actions, only "important"
Ones; those are all failed actions (for sure), as well as currently (that might change)
also actions generated by top-level aspects (as the output of those are needed for
IDE use). Showing all actions would generate a far too lar

[2017-11-20 15:58] dslomov commented on #3772
One cherry-pick has landed (fix for #4035) https://github.com/bazelbuild/bazel/commit/d0bf589f2716b3d139c210930371a684c6e158eb
Waiting on a fix for #3985

[2017-11-20 16:09] dungeonmaster18 commented on #4104
hey @cauthu from where exactly you are trying to access these links. It's happening because someone has changed the name of those files and didn't corrected that. So if you can tell me which pages these links belong then I can fix these.

[2017-11-20 16:16] dungeonmaster18 commented on #3709
Hi, Can someone help me to get started with this issue. I am new here.

[2017-11-20 16:28] cauthu commented on #4104
ah ok

* https://docs.bazel.build/versions/master/skylark/ i got to this from google results for "bazel skylark," the first linked result "Extensions - Bazel"

* https://docs.bazel.build/versions/master/tutorial/workspace.html from https://docs.bazel.build/versions/master/bazel-overview.html#how-do-i-use-bazel, the second item "2. Set up a project workspace"

* https://docs.bazel.build/versions/ma

[2017-11-20 16:33] shahms commented on #4112
top-level "extra actions" are also present

[2017-11-20 16:37] katre opened #4128 "Remote execution should access the execution platform"
The RemoteSpawnRunner should be accessing the execution platform to get the remote execution properties proto. This is a tracking issue to centralize the work being done.

[2017-11-20 16:39] meteorcloudy commented on #3772
The fix for #3985 just laded, https://github.com/bazelbuild/bazel/commit/9738f35abddb7ef7a7ef314b5d2a52a3be1b830a

[2017-11-20 16:39] #3985 closed

[2017-11-20 16:40] meteorcloudy commented on #4127
;( Looks like the golden test list is the only way ...

[2017-11-20 16:53] ghemawat opened #4129 "Better docs for authors of new rules"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:

I find myself doing a lot of searches and cut and paste to figure out how to add new rules.  I suspect it would be helpful to a lot of people if there was some kind of a tutorial with examples for how to ad

[2017-11-20 16:56] anhcuong commented on #1456
Happened to me for `Bazel 0.7.0`

[2017-11-20 18:48] zuercher commented on #3838
I can submit a PR to fix this, modifying `rc/main/java/com/google/devtools/build/lib/rules/cpp/CppActionConfigs.java`.  However, it seems that I would also need to regenerate `tools/osx/crosstool/CROSSTOOL.tpl` which has a comment indicating it's generated by an internal Google tool.

Is it sufficient to patch CppActionConfigs.java and assume that regeneration of CROSSTOOL.tpl will happen as neede

[2017-11-20 18:54] #3792 closed

[2017-11-20 18:54] #3662 closed

[2017-11-20 19:03] tomlu commented on #3793
Here's another failure from the presubmit: https://ci.bazel.io/blue/organizations/jenkins/CR%2Fbazel-tests-remote/detail/bazel-tests-remote/194/pipeline/

[2017-11-20 19:05] Androbin commented on #3661
Not only does the CI server reference
[`https://ci.bazel.io/blue/organizations/jenkins/PR%2Fbazel-tests/activity`](https://ci.bazel.io/blue/organizations/jenkins/PR%2Fbazel-tests/activity)
which has only this single slash escaped but also
[`https://ci.bazel.io/blue/organizations/jenkins/PR/bazel-tests/activity`](https://ci.bazel.io/blue/organizations/jenkins/PR/bazel-tests/activity)
gives HTTP 404

[2017-11-20 19:27] akira-baruah commented on #3661
@Androbin I think that Jenkins constructs its URL as `https://{address}/blue/organizations/<org_name>/<pipeline_name>/activity` and in this case, the pipeline is named `PR/bazel-tests`. Since the `/` in the pipeline name isn't acting as a URL delimiter, it is properly escaped as part of the pipeline name field. Hope that makes sense!

[2017-11-20 19:30] jmillikin-stripe commented on #3838
Should be fixed by https://github.com/bazelbuild/bazel/pull/4029
See also: https://github.com/bazelbuild/bazel/issues/4028

[2017-11-20 19:46] akira-baruah commented on #3661
@damienmg should we close this issue?

[2017-11-20 19:49] hwright commented on #1118
@IrynaWilson Relevant mailing list thread for python coverage: https://groups.google.com/d/msg/bazel-discuss/LC97zBrMG84/a1ZjmUE7CAAJ

I'm planning on spending some effort over the next few weeks to try and integrate `coverage.py` with the python test runner.  It's probably going to be a very large yak shave which leaves me in a sad place, but at least I'll "fail while daring greatly."  (Caveat: i

[2017-11-20 20:04] tvolkert opened #4132 "Improper formatting on aspects.html"
https://docs.bazel.build/versions/master/skylark/aspects.html#advanced-example

![aspects](https://user-images.githubusercontent.com/15253456/33038876-eefb4f60-cdea-11e7-93c9-d8dc115cbe09.png)

[2017-11-20 20:06] IrynaWilson commented on #1118
@hwright that would be great. However, I was hoping to find a way to run `bazel coverage` on multiple different languages (ex. Java and Python) and then combine the results into single html report. Now, for Java bazel coverage generates coverage.dat files, and coverage.py generates .coverage files. I have to use `genhtml` for .dat and `coverage html` for .coverage files. In order to get what I nee

[2017-11-20 21:34] #4112 closed

[2017-11-20 21:38] aehlig commented on #3995
Since e974328478011a05b90a326b88987e1d62321d35 disabled the test, there is no ongoing breakage. As bazel-remote-tests are still experimental anyway, we can reduce the priority, as it is mainly a feature request to have this test being run on remote execution.

[2017-11-20 21:40] jonathandturner opened #4133 "ChaiScript is real"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:

In your page at https://docs.bazel.build/versions/master/skylark/deploying.html, you say "suppose we are writing new Skylark rules for the (make-believe) chaiscript language"

ChaiScript is a real language

[2017-11-20 21:51] vielmetti commented on #3572
It's been a few months since this issue was opened and commented on, and I find myself here planning to get `bazel` built for arm64 so that I can build `envoy`.

[2017-11-20 22:25] pconrad-sx opened #4135 "Implement interface shared objects to avoid re-linking"
### Description:
As discussed on [this thread](https://groups.google.com/d/msg/bazel-discuss/8Wt3l9zfksY/E0HJNnWECwAJ), any changes to sources or headers will trigger relinking of dynamically linked binaries. Bazel supports the concept of "interface shared objects", (*.ifso files), to separate the implementation from the interface, thus limiting the need to re-link for source-only changes. However

[2017-11-20 22:39] jin commented on #4133
Already in a PR: https://github.com/bazelbuild/bazel/pull/4125

[2017-11-20 22:42] yilei commented on #4001
Any word on this?

[2017-11-20 23:38] yliu120 opened #4137 "ENV not propagated to process-wrapper"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:
I have a problem using bazel to build the rules_scala on a custom platform. I am sure it is because the shell envs are not propagated correctly to a subprocess that is spawned by some actions of bazel. Pleas

[2017-11-20 23:39] cushon commented on #4108
`JavaBuilder` compares paths as strings when computing reduced class paths. The params file contain `/`-separated paths like `bazel-out/msvc_x64-fastbuild/bin/java/com/google/gwtorm/libclient-hjar.jar`, and the jdeps files contain `\`-separated paths like `bazel-out\msvc_x64-fastbuild\bin\java\com\google\gwtorm\libclient-hjar.jar`.

[2017-11-20 23:50] cushon commented on #4108
@meteorcloudy - I'm surprised Bazel is using `/`-separated paths for params files on Windows (see the paste in the original comment: http://paste.openstack.org/show/626690/). Is that expected behaviour?

[2017-11-21 00:08] jianglai opened #4138 "Dagger @BindsInstance annotation processing not working with arrays when building with Bazel"
### Description of the problem / feature request / question:
When I use Bazel to build a Java application with Dagger's [@BindsInstance](https://google.github.io/dagger/api/2.13/dagger/BindsInstance.html) annotatoins in it, the annotation processor throws an error if the annotated method's argument is an array (byte[] for example). This does not happen when building the same code with Maven, so I

[2017-11-21 01:53] akira-baruah commented on #4097
I think that #3855 should resolve this issue, but I'll test it to confirm.

[2017-11-21 03:15] zjh-nudger commented on #4087
Thank you very much. I update my kernel to 2.6.33. However the same error occured agin. I know from the page that "epoll_create1() was added to the kernel in version 2.6.27 and Library support is provided in glibc starting with version 2.9. That means that the function epoll_create1 can not be invoked on machine with lower glibc version(under 2.9). That is to say, I can not compile bazel on redhat

[2017-11-21 03:21] annemenini commented on #1920
Any update on the rule for building static libraries with Bazel? I would like to use tensorflow as a static library in my project (which is not built with Bazel) as it is the rule for all its dependencies.

[2017-11-21 03:24] zjh-nudger opened #4139 "Could I compile bazel from source on redhat5 successfully?"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:
Could I compile bazel on redhat5 successfully?
I have tried some method to compile bazel from source on redhat5(We deploy our applications on redhat5). However, I failed.
Many utilities , such as htole16, sa

[2017-11-21 05:02] snnn commented on #1920
Hi @annemenini
https://github.com/bazelbuild/bazel/issues/4078#issuecomment-345620850

[2017-11-21 06:15] girving commented on #4078
What's a C++ sandwich?

[2017-11-21 07:40] benjaminp commented on #4090
@ulfjack any news?

[2017-11-21 08:09] mhlopko commented on #4078
[This](https://blog.bazel.build/2017/03/07/java-sandwich.html), just for C++ :)

[2017-11-21 08:11] mhlopko commented on #1920
Let me repeat it here: transitive libraries have been deprioritized in favor of C++ sandwich. We will post an update for transtive libraries later in Q1/2018.

[2017-11-21 08:32] mhlopko commented on #3838
Importing the fix, pending internal review.

[2017-11-21 08:39] lberki commented on #4090
He is out sick, at least until Thursday :( (and I am busy with being the sheriff of the week)

[2017-11-21 08:46] mhlopko commented on #3558
That would be a next step, we will start with a higher level api that will encapsulate all action generation (so one call to `cc_common.compile` will register multiple actions depending on the state of almost all of the universe :).
PIC should be doable, linker options you're saying add in a specific order or also specific position? If latter, be prepared to do some crosstooling.

[2017-11-21 08:47] laszlocsomor commented on #4001
I can take a look.

[2017-11-21 09:11] meteorcloudy commented on #4108
Yes, for some reasons we still use `/` as seperator, I think it should work fine on Windows with Java.
https://github.com/bazelbuild/bazel/blob/755e176cc116ab8332e79c52c06441c64459af1e/src/main/java/com/google/devtools/build/lib/vfs/WindowsPathFragment.java#L53-L58

I wonder where does `\` come from?

FYI, @laszlocsomor

[2017-11-21 09:13] damienmg commented on #3661
Right I don't know why this issue was still open.

[2017-11-21 09:13] #3661 closed

[2017-11-21 09:44] meteorcloudy commented on #4001
I think the problem is we always escape `\` in this function:
https://github.com/bazelbuild/bazel/blob/a5833a8cde9d9d3398f64edae134370f06784cf6/src/tools/launcher/util/launcher_util.cc#L111-L142

But `GetEscapedArgument` is not only used in python launcher, but also the Java and Bash launcher. I remember at least in Bash launcher, we have to always escape `\` for passing identical arguments.

[2017-11-21 09:46] meteorcloudy commented on #4001
We need a similar test for Python and Java
https://github.com/bazelbuild/bazel/blob/a5833a8cde9d9d3398f64edae134370f06784cf6/src/test/py/bazel/launcher_test.py#L276-L316

[2017-11-21 09:50] laszlocsomor commented on #4001
@meteorcloudy , I think we always have to follow Command Prompt escaping rules, not Bash escaping, because we pass the escaped arguments to CreateProcess.

I have a pending change that fixes this.

[2017-11-21 09:54] mhlopko commented on #4077
This is more of a question for Stack Overflow, not an actual issue. Could you follow up on this question?
https://stackoverflow.com/questions/41356173/how-to-use-clang-instead-g-in-bazel
Thanks. I will close this issue now, let me know if you disagree :)

[2017-11-21 09:58] meteorcloudy commented on #4139
What exactly problems did you encounter?
@damienmg Do you know any known blocker on Rethat5?

[2017-11-21 09:59] meteorcloudy commented on #4138
@cushon Is this caused by some missing java arguments?

[2017-11-21 10:01] meteorcloudy commented on #4137
Do you mean this command?
[code]
Why does it require PATH and LD_LIBRARY_PATH env vars?

[2017-11-21 10:03] meteorcloudy commented on #4135
/cc @mhlopko

[2017-11-21 10:05] meteorcloudy commented on #4129
@laurentlb Any ideas on this?

[2017-11-21 10:13] meteorcloudy commented on #4001
Right, but when we launch the exact binary
Bash: `bash.exe -c "foo/bin.sh arg1 arg2"`
Python: `python.exe foo/bin.zip arg1 arg2`(an executable python zip file)
So we have to escape arguments for bash.exe but not python.exe

Let's see if your change will break `testShBinaryArgumentPassing` or not.

[2017-11-21 10:13] damienmg commented on #4139
Redhat 5 is pretty old, so might be useful to follow https://stackoverflow.com/questions/42982735/how-to-compile-bazel-on-centos-6-x

[2017-11-21 10:30] drigz commented on #3681
I've seen this a few times. I can sometimes (tried three times, occurred twice) reproduce by terminating a git repo clone with Ctrl+C, just after "Loading:" appears.

[code]

You can work around by editing the build file for that repo to trigger a re-fetch.

[2017-11-21 11:23] bimmlerd commented on #3699
Any update on this? 0.7 is out and still seems to have this bug.

[2017-11-21 12:11] #2240 closed

[2017-11-21 12:43] dslomov commented on #3772
rc4: ` scripts/release/release.sh create 0.8.0 cff0dc9 8a49b15 275ae45 d0bf589 9738f35`

[2017-11-21 12:44] meteorcloudy opened #4141 "Bazel CI: Tests timing out on Mac"
https://ci.bazel.io/blue/organizations/jenkins/bazel-tests/detail/bazel-tests/1204/pipeline/28
[code]

Should we update their test size to large? Or is this a problem of the Mac slaves?
@damienmg

[2017-11-21 13:15] laszlocsomor commented on #4001
You're right, my change did break `testShBinaryArgumentPassing`, among others.
I think we have to escape differently in the Bash and in the Java/Python launchers.

[2017-11-21 13:16] laszlocsomor commented on #4001
Ah, now I understand what you meant by this ;)

[2017-11-21 13:22] meteorcloudy commented on #4001
I agree :)

[2017-11-21 13:34] cushon commented on #4138
There was an internal thread about this, and @ronshapiro was investigating.

[2017-11-21 13:53] cushon commented on #4108
The `\` comes from JavaBuilder, which is writing out a `.jdeps` proto containing paths to some of the entries on the classpath. Those paths round-trip through `java.nio.file.Path`, which uses the platform default path separator when they get converted back to strings.

Out of curiosity, why is `/` still used on Windows?

[2017-11-21 13:53] meteorcloudy opened #4142 "Bazel CI: bazel-tests-remote broken"
https://ci.bazel.io/view/Dashboard/job/bazel-tests-remote/151/console
Many tests are failing with
`ERROR: Caught I/O exception: java.io.FileNotFoundException: /home/ci/.cache/bazel/_bazel_ci/8611dd7c3b25e5904a345d6a0e712ca1/execroot/io_bazel/bazel-out/linux_gnu_x86-fastbuild/testlogs/src/test/shell/integration/outputs_test/test.log (No such file or directory).`
[code]

[2017-11-21 13:55] meteorcloudy commented on #4142
@damienmg Have you seem this error before?
It failed at this change https://github.com/bazelbuild/bazel/commit/4d09a1de6a60c6f90cc88978151bcde83c8000d4, but I'm not sure it's related.

[2017-11-21 14:00] laszlocsomor commented on #4108
@meteorcloudy : FYI, I didn't add that TODO, @haxorz did.

[2017-11-21 14:00] #4132 closed

[2017-11-21 14:04] meteorcloudy commented on #4108
@cushon For example, you cannot use `\` in BUILD files or label.
But I agree we should switch to `\`, because it's also causing other problems. like https://github.com/bazelbuild/bazel/issues/3949

[2017-11-21 14:06] #4089 closed

[2017-11-21 14:36] katre commented on #4087
If your system does not support the minimum glibc and kernel versions, we cannot support it, I am sorry to say. If you are able to add shims that define the needed epoll_create1 API it might work, but we won't be able to help with any bugs that arise.

[2017-11-21 14:43] tomwilkie commented on #3867
Hi there; just to chime in - this issue is preventing us vendoring proto libraries which depend on other proto libraries in go projects - see bazelbuild/rules_go#900.  A good example is the go Kubernetes Client library.  Is there any chance someone might work on this any time soon, or should I take a stab?

[2017-11-21 14:43] ola-rozenfeld commented on #4142
Hmm, I thought I fixed this when I fixed https://github.com/bazelbuild/bazel/issues/3834, but I guess I didn't. These are duplicates.

[2017-11-21 15:14] jianglai commented on #4138
Yes, I was hoping that maybe some external user/contributor may have seen this issue before.

[2017-11-21 15:20] jmillikin commented on #3558
If your new API won't support fully specifying the options, can you keep the existing "c++ fragment" API around until it does? It would be very frustrating if existing rules written according to documented behavior stop working due to an internal refactoring.

For reference, here's the link step of rules_haskell. The order being constructed is: C main() stub, Haskell main, linker inputs (`-lfoo` e

[2017-11-21 15:24] ola-rozenfeld commented on #4142
Sorry, I just noticed this run was using Bazel 0.7.0, which does not include my fix. So this is, unfortunately, expected. Please use a later version of Bazel.

[2017-11-21 15:25] kamalmarhubi commented on #374
Just found this bug. @damienmg could you update the milestone on this with a current estimate? Thanks!

[2017-11-21 15:28] meteorcloudy commented on #4142
I see, it means it will be fixed with the next Bazel release.
Thanks!

[2017-11-21 15:57] aj-michael commented on #4097
Hey thanks for bringing this to our attention, ccing some people that can help
@jin @dkelmer @ahumesky

[2017-11-21 16:26] #3995 closed

[2017-11-21 16:56] mhlopko commented on #3558
The existing api is not correct, it doesn't work with feature configuration at all (so with the windows crosstool it returns empty lists everywhere), and its removal will not be because of some internal refactoring, but a cautious focused decision to remove it :) We'll share design docs, please make sure your use case is covered by the design.

Bazel will neither parse flags, nor will attach any s

[2017-11-21 17:15] yliu120 commented on #4137
Hi, I am sorry about the confusion. I have edited the original post to clarify your confusion. In fact, I would like to make two points:

1) The command I pointed out at last causes the error. Apparently this is because process-wrapper is a 'cc_binary' and compiled with a customized tool chain. All the libraries, like libstdc++ is in the ${LD_LIBRARY_PATH}. However when creating this action, the `

[2017-11-21 19:27] akira-baruah commented on #3661
I think the original PR message only said "addresses #3661" (which is not a [GitHub closing keyword](https://help.github.com/articles/closing-issues-using-keywords/)).

[2017-11-21 19:49] sgreenstein opened #4143 "Print invocation url to stdout after building with BES enabled"
### Description of the problem / feature request / question:

When I build with BES enabled, it would be very convenient to have a link to the uploaded invocation printed to the *end* of the stdout. e.g. the last line of the build logs should be https://source.cloud.google.com/results/invocation/c257a6e1-cad8-9d30-7808-ca5d65a12d53

### If possible, provide a minimal example to reproduce the probl

[2017-11-21 20:07] akira-baruah commented on #4097
I was able to reproduce @angersson's error and can confirm that #3855 resolves it.

However, some more errors were uncovered:
[code]
These errors can probably be resolved by updating modules in `tools/android` and `tools/build_defs` for compatibility with python3-style strings. Should be relatively simple, so I can probably make those changes soon.

[2017-11-21 20:42] laurentlb commented on #4129
I definitely agree that's a major issue. Please continue to give feedback, and point at specific issues, we'll address them.

Also, when you need help, please ask on stackoverflow. Over time, there will be a collection of examples and tips.

[2017-11-21 21:21] sgreenstein opened #4144 "NDEBUG not defined in default Windows CROSSTOOL with -c opt"
### Description of the problem / feature request / question:

- Build on Windows using the default CROSSTOOL with `--compilation_mode=opt`
- Expected: `NDEBUG` is defined (see #139)
- Actual: It is not defined.

### If possible, provide a minimal example to reproduce the problem:
Empty WORKSPACE file

BUILD
[code]

lib.cc
[code]

[code]

### Environment info
* Operating System: Windows 10

* Bazel

[2017-11-21 21:23] haxorz commented on #3822
i plan to get rid of this (hardcoded) behavior. i came across it today and didn't like it.

i imagine it's completely undesirable for external bazel users.

[2017-11-21 23:20] #3822 closed

[2017-11-22 00:46] zjh-nudger commented on #4139
@meteorcloudy https://groups.google.com/forum/#!topic/bazel-discuss/2B-W_jRehhc. I record the problem I encountered on the page. In brief, MS_REC, EPOLL_CLOEXEC, le16toh, UTIME_NOW,etc.. are not found.

[2017-11-22 00:48] zjh-nudger commented on #4139
@damienmg In other way, I can not compile on redhat5? As I know, many company deploy their applications on redhat5. So, would you support for redhat5?

[2017-11-22 00:50] zhangbo5891001 commented on #4077
ok.Thanks.
Now I used a tircky way to solve the problem(just replace the system gcc
with my gcc). The official way using CROSSTOOL is a little complex and I
didn't success.

On Tue, Nov 21, 2017 at 5:54 PM, Marcel Hlopko <notifications@github.com>
wrote:

[2017-11-22 02:16] Utsav2 opened #4145 "Provide functionality to not retry a test on certain conditions"
In certain conditions, we don't want a test to retry, even if `--flaky_test_attempts` is set. For example, we run go tests in race mode, and if a test fails due to a data race, we don't want the test to retry (and pass).

Ideally, we would like to mark the test failed, due to the data race.

This could be implemented via a magic exit code.

[2017-11-22 03:35] mmorearty commented on #3360
The best way I can think of to address this is to change `FileSystem.getDigest()` so that instead of returning just the digest (as a `byte[]`), it returns a small class that has two members: the digest, plus the ctime that the file had just before the digest was computed. This is unfortunate because it will ripple through a whole lot of code. I can't think of a better way to do it.

How are filesy

[2017-11-22 06:43] davido commented on #4108
@cushon @meteorcloudy @laszlocsomor

Do we understand what is going on here, and why the transitive class path is broken on Windows and why `gwtorm:client` is not passed to javac/error prone compilers?

[code]

[2017-11-22 08:40] damienmg commented on #4139
As said in the CentOS thread, your c++ toolchain is too old and you get around it by installing a newer one. I have no access to rhel 5 so I cannot say how to do it.

We don't have plan to support older c++ toolchain.

[2017-11-22 10:22] mishas opened #4146 "Since Bazel 0.5.0, it's impossible to build a python3 py_binary on one OS and run on another"
Since both the `--python_path` flag, and the `interpreter` label of the `python_runtime` targets only accept full paths, it makes it impossible to build and run programs on different systems when using python3.

By default, without setting the flag or the runtime targets, `python` (python2) is used, and the autogenerated "runner" file from `py_binary` targets searches the env of the system it's ru

[2017-11-22 10:43] laszlocsomor opened #4148 "Windows: build TensorFlow Lite with Bazel on Windows"
This is a tracking bug for building TF Lite on Windows with Bazel.

- [x] remove -Wno-implicit-fallthrough from `@tensorflow//third_party/flatbuffers/flatbuffers.BUILD`
- [x] remove single quotes from repro command's --cxxflags
- [ ] update README.md: use drive root as --output_user_root (long paths)
- [ ] update README.md: build with "-c opt" (long paths)
- [ ] edit WindowsJniLoader to load from

[2017-11-22 10:49] meteorcloudy opened #4149 "Resolve Windows long path issue during C++ compilation"
https://stackoverflow.com/questions/47412512/bazel-build-nccl-archive-nccl-could-not-resolve-label-ws2-32-lib
When I tried to help a user build tensorflow_serving on Windows, I encountered an error `Cannot open compiler generated file: '': Invalid argument`:
[code]

It turns out that the object file the compiler trying to write `C:/tmp/_bazel_pcloudy/dpitg86y/execroot/bazel-out/msvc_x64-py3-opt/bi

[2017-11-22 11:15] zjh-nudger commented on #4139
Got it. Thank you very much any way.

[2017-11-22 12:22] laszlocsomor commented on #4144
Confirmed that this is indeed broken on Windows with Bazel 0.7.0, but working on macOS.

[2017-11-22 12:30] laszlocsomor commented on #4149
I ran into the same limitation while working on #4148.

@ulfjack mentioned on 16/11/2017 on an internal mail thread that we are looking into shortening C++ output paths. Here, as well as with #4148, we are duplicating the package path in the output path. AFAICT this is only necessary when `cc_*.srcs` includes two files with the same basename.

I don't know Bazel's C++ compilation machinery enough

[2017-11-22 12:33] meteorcloudy commented on #4144
Right, I'll add it to CROSSTOOL definition

[2017-11-22 12:34] mhlopko commented on #4144
Thanks Yun!

[2017-11-22 13:02] meteorcloudy commented on #4137
@aehlig Can we propagate `PATH` and `LD_LIBRARY_PATH` for every action runs with process-wrapper?

[2017-11-22 13:16] #4144 closed

[2017-11-22 13:56] meteorcloudy commented on #4108
@davido Thanks for spending so much time debugging this! As you can see, this bug is hidden deeply and it didn't happen very often, that's why we missed it.
You are right, this should be a P1 bug for us. But since it doesn't happen frequently (so far this is the first time I've seen such error) and completely broke Bazel on Windows, I don't think we need to tell the community not to use Bazel on W

[2017-11-22 13:59] hanwen commented on #614
See this log; I pressed ^C after 1 second or so. But due to the large server-class.jar target, it takes another 15 seconds for bazel to exit.

I would really like for worker processes to be interrupted more forcefully when I press ^C.

hanwen@han-wen:~/vc/gerrit$ bazel test --test_filter=ConsistencyIT --test_env=GERRIT_NOTEDB=ON //javatests/com/google/gerrit/acceptance/api/group/...
INFO: Found 1

[2017-11-22 14:17] meteorcloudy commented on #4146
//cc @nlopezgi Can we make --python_path allow just "python3"?

Another approach I can think of is that in https://github.com/bazelbuild/bazel/blob/7585dcd677f650160917550cc29a9fb185f35cc3/src/main/java/com/google/devtools/build/lib/bazel/rules/python/python_stub_template.txt#L35-L37

We fallback to "python" or "python3" if %python_binary% doesn't exist.

[2017-11-22 14:18] meteorcloudy commented on #4145
@damienmg What do you think of this suggestion?

[2017-11-22 14:20] meteorcloudy commented on #4143
//cc @aehlig @buchgr

[2017-11-22 14:20] greggdonovan opened #4150 "--sandbox_add_mount_pair ignored on OSX"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:

I would like to use `--sandbox_add_mount_pair` to mount specific directories into the sandbox filesystem on both OSX and Linux, but [this support was only added on Linux](https://github.com/bazelbuild/bazel

[2017-11-22 14:22] meteorcloudy commented on #4150
//cc @xingao267 @philwo
Can we provide the same support for OS X?

[2017-11-22 14:22] damienmg commented on #4145
This seems like something that belongs to the test framework, i.e.:

[code]

You can do that by wrapping the test in a shell wrapper. The only advantages of doing that in Bazel would be to get a clean sandbox for every test and executing multiple test in // (flaky test does not do parallel testing, it is just to reduce noise from flaky tests, and should be used sparingly)...

/cc @ulfjack @davidst

[2017-11-22 14:41] laszlocsomor commented on #4149
paging Mr. @mhlopko : what problems do you think we have to solve to get to the state I mentioned in my previous comment?

[2017-11-22 14:47] meteorcloudy commented on #4149
Can we use a hash string under `_objs` instead of the full package path?
Something like `C:/tmp/_bazel_pcloudy/dpitg86y/execroot/bazel-out/msvc_x64-py3-opt/bin/external/org_tensorflow/tensorflow/core/profiler/internal/advisor/_objs/<short_and_unique_hash>/internal_checker_runner_dummy.o`

[2017-11-22 14:48] laszlocsomor commented on #4108
@cushon, @meteorcloudy : I'll look into changing the separator we use on Windows to `\` when creating `Path` objects.

[2017-11-22 14:53] laszlocsomor commented on #4149
We could as well include the object file's name in the hash, so it'd be ```c:/<output_root>/bazel-out/<configname>/bin/<cc_rule_package_path>/<cc_rule_name>/_objs/<hash_of_src_root_relative_path>.o```

[2017-11-22 14:57] damienmg commented on #374
Milestones are no longer relevant. Nobody's actually working on that at the moment AFAICT

[2017-11-22 14:59] dslomov commented on #4108
`/` is a supported path separator on Windows. Is the problem that ErrorProne does not accept such separators?
Can we normalize JavaBuilder to always output `/`?
.jdeps should be platform-independent, no need to introduce superficial differences.

[2017-11-22 15:11] mhlopko commented on #4149
Unfortunately I have no idea. I didn't even go that far to find out that we duplicate the path when there are multiple srcs with same basename. How sure are you this is the only case? I was also more interested in `_solib` contents, I'm not sure how much overlap there is.

In other words, I'm useless to you here :)

[2017-11-22 15:11] laszlocsomor commented on #4108
@dslomov :

AFAIK that's not universally the case. API functions like CreateFile{A,W} only support `/` in paths if you don't use the `\\?\` prefix.

[2017-11-22 15:14] laszlocsomor commented on #4149
I'm not sure it's the only case, or that it's even the reason we compute paths the way we do. It's just a I could think of.

I think you're wrong :P

[2017-11-22 15:22] #4126 closed

[2017-11-22 15:25] damienmg commented on #3772
We need to cherry-pick cl/176654245

[2017-11-22 15:36] yliu120 commented on #4137
A simple question: why are some rules wrapped with process-wrapper but some aren’t? Is this because of sandboxing? I don’t want to scan a bunch of codebase so just ask directly to you guys.

[2017-11-22 17:20] dslomov commented on #3772
кс5Ж `scripts/release/release.sh create --force_rc=5 0.8.0 cff0dc9 8a49b15 275ae45 d0bf589 9738f35 0d6ff47`

[2017-11-22 17:42] cushon commented on #4108
The problem is that `JavaBuilder` uses a heuristic to reduce the number of jars it reads at compile-time. It filters the classpath to only contain direct dependencies and the jars that were needed to compile those direct dependencies (as reported in the dependencies' `jdeps` files). Since the jar paths in the current compilation's params file don't match the paths in the `jdeps` files for its dire

[2017-11-22 17:43] cushon commented on #4108
@laszlocsomor @meteorcloudy do you have a sense of how long it will take to change the separator on Windows? (I'm wondering if we should be looking for a work-around.)

[2017-11-22 18:32] greggdonovan commented on #3568
How's the review going? We've been hitting this same issue. Any chance this makes it to Bazel 0.8.0 or 0.9.0?

[2017-11-22 18:38] AustinSchuh commented on #3568
@greggdonovan Likely too late for 0.8.0 since there's already a RC, but 0.9.0 seems possible.  https://bazel-review.googlesource.com/c/bazel/+/19750

[2017-11-22 21:14] nathantchan opened #4152 "java.lang.IllegalStateException: No such repository '@blah'"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:
Attempting to build a non-existent external target generates an unrecoverable error.

$ git clone https://github.com/bazelbuild/buildtools
$ cd buildtools
$ bazel build @blah//...
Unhandled exception thrown

[2017-11-22 21:41] mmorearty opened #4153 "Proposal: Overhaul command line args for choosing a spawn strategy"
This is a proposal for a pretty big change to the command line arguments that are used to choose a build strategy. Please consider it to be a design doc of sorts. It's a strawman; probably needs improvement. It's based on our experiences at Asana, and a number of complex scenarios we have run into.

## Introduction

There are currently a number of command line arguments that are used to choose whi

[2017-11-22 21:47] dslomov commented on #4108
Ah I see so the contents of it is between JavaBuilder and JavaBuilder :) (or other Java tools)
I think the right fix is for Java tools to be robust and accept multiple valid path representations referring to the same path (if jdeps and command line point to the same path, they should be accepted as the same, and on Windows `a/b/c.java' and `a\b\c.java` are the same paths.

[2017-11-22 21:49] dslomov commented on #4108
@dslomov :

"But they *do* support it" (cue Jack Sparrow meme :)). For relative paths (as is the case here) '/' and '\' are supported and equivalent.

[2017-11-22 22:03] aehlig commented on #3989
Options in later rc-files can override those in earlier ones; so a user-specified `action_env` setting `PATH` to a fixed good value will render the actions independent of the value of `PATH` in the environment of the bazel client.

[2017-11-22 22:04] aehlig commented on #3989
Unassigning myself as I don't want to be involved in yet another bikeshedding discussion about what default values should be. The fact that different users have different needs was the very reason that those values are put into user-configurable files.

[2017-11-22 22:16] aehlig opened #4154 "//src/test/shell/integration:progress_reporting_test depends on unsupported side channel"
The test case [`test_failed_actions_with_keep_going`]( https://github.com/bazelbuild/bazel/blob/7f72af113960386006598150e880a79b5f0bc2e1/src/test/shell/integration/progress_reporting_test.sh#L249) of `//src/test/shell/integration:progress_reporting_test` depends on actions being able to (directly) communicate over the file system and not only via declared their declared inputs/outputs. In other wo

[2017-11-22 23:17] akira-baruah commented on #4097
As promised, I've created a branch containing [python 3 compatibility updates](https://github.com/akira-baruah/bazel/commit/2d1715d23f93104b55c07d756e1ed1207c1a784e) to bazel tools.

@angersson @aj-michael @jin @dkelmer @ahumesky feel free to test the fix by running:
[code]
If it looks good to you, I'll make a PR. Please note that this branch depends on PR #3855, so we would probably want to have

[2017-11-23 01:07] cushon commented on #4108
Are there disadvantages to also using the platform-dependent name separator in Bazel?

[2017-11-23 01:52] djudd-stripe opened #4155 "Allow specifying http(s)_proxy per http_archive"
### Feature request:
We have an internal corporate HTTP egress proxy that disallows queries to internal resources, for security reasons. Requests to the internet from some of our servers are required to go through this proxy. Meanwhile, I have a Bazel workspace that depends on some artifacts hosted on internal servers, and some artifacts hosted externally. Whether or not I set HTTP_PROXY & HTTPS_P

[2017-11-23 02:37] sk- opened #4156 "[Documentation] maven_jar: add section explaining that transitive dependencies need to be dealt with manually"
Please add to the `maven_jar` documentation (https://docs.bazel.build/versions/master/be/workspace.html#maven_jar) that any transitive dependencies need to be deal with manually and that some tools exist to automatically populate the workspace and maybe wrapper rules.

For example:
When depending on Google Truth (http://google.github.io/truth/), you need to also depend on Guava, or otherwise you g

[2017-11-23 02:54] sk- opened #4157 "Provide a way to make //java/foo/bar implicitly visible to //javatests/foo/bar"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:
The documentation on https://docs.bazel.build/versions/master/be/common-definitions.html#common-attributes says that "Rules in javatests/foo/bar can always use rules in java/foo/bar" when the visibility is p

[2017-11-23 04:01] PoncinMatthieu commented on #3978
In case anyone else is trying to do something similar and is blocked by this, I would recommend having a look at querying the graph instead of using the cache.
With the following script showing how to check for code changed between your branch and master and run only required tests: https://github.com/bazelbuild/bazel/blob/master/scripts/ci/ci.sh

For more info, read this discussion: https://group

[2017-11-23 06:53] davido commented on #4108
+1. I would define this issue as release blocker and wait with releasing 0.8 until it is fixed.

[2017-11-23 06:54] davido commented on #3772
Should this release be blocked, untill #4108 is fixed?

[2017-11-23 07:09] ittaiz commented on #4108
@davido is it a regression from 0.7.0?

[2017-11-23 07:24] davido commented on #4108
I don't think it is a regression, but, given that bazel build outcome differs on diferent platform and given that a workaround for "\\", "/" comaprisson mismatch should be trivial, it should be fixed prior 0.8 is released.

[2017-11-23 07:25] damienmg commented on #3772
Not a regression so no.

On Thu, Nov 23, 2017, 7:55 AM David Ostrovsky <notifications@github.com>
wrote:

[2017-11-23 07:55] davido commented on #4108
| I'm wondering if we should be looking for a work-around.

@cushon As you suggested, the workaround is here: [1]. I tested it with my reproducer on both platform Linux and Windows. It works as execpted.

* [1] https://bazel-review.googlesource.com/#/c/bazel/+/22730

[2017-11-23 08:29] laszlocsomor commented on #4108
@davido, thanks for your patch!
I'm looking at changing the path separators for Windows. I expect it will break some tests I'm not yet aware of.

[2017-11-23 08:32] dslomov commented on #4108
Our release policy is clear: not a regression => no cherry-pick and no release blockage (https://bazel.build/support.html#releases)
Given that this survived at least one release, the problem is not that acute.

[2017-11-23 08:35] dslomov commented on #4108
The more uniform platform-independent commands are, the better (for remote execution, action cache, etc).
The present issue is in Java tools - Bazel gives valid (on Windows) command lines to Java tools, and Java tools do not handle them correctly- so let's fix it there.

[2017-11-23 09:01] meteorcloudy commented on #4152
There's a `No such repository '@BLAH'` error message thrown, so user should be able to tell the reason.
But, @damienmg Can we improve this?

[2017-11-23 09:04] damienmg commented on #4152
This is a dupe of #3638. Please continue the discussion there.

We should definitely fix that error but to be fair, it is pretty low priority at the moment.

[2017-11-23 09:04] #4152 closed

[2017-11-23 09:06] meteorcloudy commented on #4153
Wow, this looks like a very nice suggestion, thank you!
But I'm not the expert here, FYI, @philwo @buchgr

[2017-11-23 09:20] nictuku opened #4161 "Can't easily import googleapis into my WORKSPACE"
The [github.com/googleapis/googleapis][1] repository has several `.proto` files for Google APIs, including for example the Google Assistant one.

Unfortunately, though unsurprisingly, they are missing BUILD files so it's not possible to build them from Bazel by purely importing the remote repository.

I can vendor it as a stop-gap solution, no big deal, but this seems sub-optimal at scale.

1. Cou

[2017-11-23 09:27] meteorcloudy commented on #4157
I can confirm this is true, @damienmg is the documentation wrong?

[2017-11-23 09:36] meteorcloudy commented on #4161
I don't think we should provide BUILD files for other repository, I believe the first option is the correct way to go. As for `.proto` files, maybe you also need to import https://github.com/google/protobuf ?
@damienmg What do you think?

[2017-11-23 09:48] damienmg commented on #4161
We have https://github.com/bazelbuild/bazel-packages about making BUILD for other repository.

What I think we should have is BUILD files in googleapis. I don't know who to speak to get that though, maybe @ola-rozenfeld knows?

[2017-11-23 10:01] ulfjack commented on #4145
Why are you using --flaky_test_attempts?

It seems to be that the problem is that flaky_test_attempts configures two independent things at the same time. If you don't set it, then Bazel observes the flaky test tag, but if you do set it, Bazel ignores the flaky test tag, in addition to changing the number of runs to the given value.

[2017-11-23 10:06] ulfjack commented on #4145
In principle, I wouldn't mind splitting flaky_test_attempts into two orthogonal flags, but only if there's a strong use case for doing so.

[2017-11-23 10:46] damienmg commented on #4157
I believe it is. I don't know where that is coming from. I traced back the documentation change from a very old change that @lberki reviewed. I am pretty sure the documentation out of sync.

[2017-11-23 10:55] meteorcloudy commented on #4157
Then let's fix the documentation.

[2017-11-23 11:00] nictuku commented on #4161
FYI I am currently avoiding this problem by using the genproto repository that has pre-generated protos for Go:

https://godoc.org/github.com/google/go-genproto/googleapis/assistant/embedded/v1alpha1

This isn't ideal because it's better to use the same proto and grpc generation tools for the whole codebase. Also I'll later need this for other languages but this is a Go-specific workaround. Just s

[2017-11-23 13:16] sk- commented on #4157
Well, not 100% a documentation issue, because that's how it works internally at Google.

Is there any other way one could configure the project so that `java` packages are automatically visible in the corresponding `javatests` package, without having to manually add a default visibility for every package.

[2017-11-23 15:30] philwo commented on #4154
Definitely, this is a problem for remote execution and sandboxing.

[2017-11-23 15:41] philwo commented on #4153
Thanks a lot! I'll read and think through it in the next days. :)

[2017-11-23 18:21] ulfjack commented on #4153
There is another dimension which you didn't take into account. In particular, we allow action 'tags' to enable or disable specific features. For example, an action marked as 'nosandbox' can disable sandboxing for that action, and an action marked as 'worker' enables persistent workers for that action.

My plan was to have one flag to specify strategy order and fallback, and another flag to add or

[2017-11-23 21:31] yurivict commented on #3395
This blocks certain projects using Bazel from having FreeBSD ports.
On one hand, the projects bundle dependencies.
On the other hand, there is no way to patch those dependencies.

[2017-11-23 22:12] benjaminp commented on #4157
Google's Java source code layout leaks haphazardly all over Bazel semantics. (Among the ways are the default heuristic of `--instrumentation_filter` and the fact that any package under `javatests/...` is automatically `default_testonly = True`.) I expect the only reason the documented behavior doesn't hold here is that Blaze and Bazel do not share visibility validation code. Perhaps there should b

[2017-11-23 22:20] benjaminp commented on #4145
I don't think the issue is about overly broad `--flaky_test_attempts` semantics. The idea is that some test failures are so serious—the OP proposes Go race detector errors as an example—that retrying, whether induced by `--flaky_test_attempts` or the `flaky` tag, should simply not continue. So, it would be nice if the test runner could ask Bazel to not attempt further retries.

[2017-11-24 06:40] ittaiz commented on #4153
Two use-cases I'd like to add here are:
1. Trying to read from a remote cache and falling back to "local remote
executor" (LRE). This serves a few purposes. It enables network isolation
on OS X, more closely aligns one with remote execution and sidesteps
sandboxing issues which don't exist in remote execution.
2. Another use-case which is related to the above is the ability to decide
on remote exe

[2017-11-24 07:13] davido commented on #4108
OTOH, [The release policy is also claiming that](https://github.com/bazelbuild/bazel-website/blame/master/support.md#L73):

[code]

Given atht nothing causes more pain, frustration, and disappointment than unfulfilled expectations. As mentioned in the original report to this issue,

*Linux*
[code]

*Windows*
[code]

Needless to say, I was shocked to find out, that a simple `java_library` rule -- n

[2017-11-24 07:43] mmorearty commented on #4153
Ulf, you're right that I neglected to mention tags. As far as I know, the
currently available tags could be thought of as constraints on the set of
available strategies for that action (e.g. "workers are allowed" or
"sandboxing is not allowed"). I was picturing it working as follows: Let's
say the command line flags include "--sandbox" or something, meaning to use
sandboxing when possible, but a s

[2017-11-24 07:54] mmorearty commented on #4153
One more point about strategies, as food for thought:

I think that for those of you who are the actual developers on Bazel, it's
quite natural to think in terms of strategies. From the perspective of the
Bazel source code, strategies are an important abstraction — they define
what needs to happen in order to get the build artifacts. But from a user's
perspective, I could see a possible world wher

[2017-11-24 08:21] ittaiz commented on #4153
big +1

[2017-11-24 08:26] dslomov commented on #4108
David, I agree this is an important bug to fix, and we will fix it. I think it should block the next (0.9) release.
On the other hand, every software project has bugs, and whenever the user is hit by a bug, that bug is, for that user, the most important thing and the biggest fault of the project ("the sky is falling").

In this case, we just have no evidence that many users are hit by this specifi

[2017-11-24 09:59] ulfjack commented on #4153
Ha! I disagree that it's natural to think in terms of strategies. We've actually had a lot of problems in the past, and I've independently come to the conclusion that we'll need to redo the way this is currently done.

In general, I agree with the points you're making, but I wanted to point out that the proposal is incomplete, and there are a few additional use cases we need to cover.

[2017-11-24 12:53] drigz commented on #4022
@hhclam Does it work if you use realpath on [L74](https://github.com/bazelbuild/bazel/blob/9ee4073a0e6a2f92cd325e4441fc2b74b1fda299/src/main/java/com/google/devtools/build/lib/bazel/rules/python/python_stub_template.txt#L74) as well? I would have expected L74 to handle case 1 and L82 to handle case 2.

[2017-11-24 13:25] lberki commented on #4012
Can't reproduce at HEAD:
[code]

Yields:
[code]

[2017-11-24 14:23] hhclam commented on #4022
realpath doesn't work. There are a couple cases when the symlink belongs to a runfiles tree but not the real file. The correct solution is to follow the symlink step by step, similar to the java stub. I have an open review for this.

[2017-11-24 15:33] ola-rozenfeld commented on #4161
I would speak to hong@ or cbao@.

On Thu, Nov 23, 2017 at 6:00 AM, Yves Junqueira <notifications@github.com>
wrote:

[2017-11-25 05:54] nictuku commented on #4161
For Go projects at least, Gazelle has been implicitly creating BUILD files quite well. So I wonder if the same approach could be used in general.

[2017-11-25 17:48] davido opened #4165 "java_tools tests don't pass on Windows"
On bazel@HEAD:

[code]

Logs: http://paste.openstack.org/show/627381.

It seems, that `jvm_flags` doesn't have the desired effect on Windows, and `-Xbootclasspath/p:<path-to-java9>` option doesn't have effect and that the default javac from Java 8 is used.

[code]

The same test is passing on Linux without any issue.

[2017-11-25 17:51] davido commented on #2475
I'm seeing a similar failure when running Bazel `java_tools` tests on Windows: #4165.

[2017-11-25 17:56] davido commented on #4108
I was looking into adding a test, for the CL above, as was requested in review. It seems that a similar test already exist. So that I was curious, whether or not the test still works with the diff applied. Unfortunately, the `java_tools` don't work here. I wrote this issue: #4165.

[2017-11-26 21:07] mfarrugi commented on #1674
What are some use cases for a prelude? Is this a feature bazel is trying to get rid of?

I have seen adding load statements for language rules, but I would rather be able to put those rules into global scope in a WORKSPACE instead.

Is it free to have an unused load in a BUILD file?

[2017-11-26 22:08] mfarrugi opened #4167 "Standardized config_settings"
Platform `config_settings` are very common and often duplicated, like [this](https://github.com/google/brotli/blob/master/BUILD#L14).

It would be useful to provide these in a standardized or built-in way.

[2017-11-27 09:26] meteorcloudy commented on #4108
@davido There is a internal change under review from @cushon, which will fix this problem in a more principle way, maybe we can just wait for that one. :)

[2017-11-27 09:54] davido commented on #4108
@meteorcloudy @cushon

Thanks. I abandoned my CL.

[2017-11-27 11:27] 123AWS7 opened #4169 "Build Bazel on LXC ARM take very very long time"
Processor : Intel® Core™ i5-3320M CPU @ 2.60GHz × 4
Memory : 8 GiB
Main OS : 64-bit ubuntu xenial
----------------------------------------------------------------------

I am using LXC ARM7l Architecture ubuntu xenial and tried to build bazel onto it but it takes 50 hrs and still building at that moment !! I think that is very long time and it still printing some lines like those
![bp43n](https://

[2017-11-27 11:42] dslomov opened #4170 "External repository crash"
`Build label: 0.8.0rc5`

Repro case: ~~https://github.com/dslomov/workspace_runfiles/commit/fc2e39aa5a194e4cba68c7b4838215b49799b176~~
https://github.com/dslomov/workspace_runfiles/commit/20985c4b23cb4bd4e1b10ee70c30ef417aa0fcd7
[code]

[2017-11-27 12:25] laszlocsomor commented on #4165
Thanks for filing this issue. I could also repro it.

I agree the problem seems to be caused by the boot class path:
[code]

Bazel propagates the jvm flags to the java launcher (good), but the `$(location)` expansion yields the runfiles path (`third_party/java/jdk/langtools/javac-9-dev-r4023-3.jar`) which doesn't exist on Windows, because Bazel doesn't create runfiles on Windows.

`$(location)` sh

[2017-11-27 12:30] laszlocsomor opened #4171 "Windows: *_test rule $(location) expansion bad for data-deps [duplicate of #3881]"
### Description of the problem / feature request / question:

Some `*_test` rules support `$(location)` expansion for their prerequisites (`srcs`, `data`, maybe more).
For `data` dependencies, the expansion should yield the absolute path of the runfile, not the runfiles-root-relative path, because Bazel doesn't create a runfiles tree on Windows.

This breaks classpath flags in `java_test.jvm_flags

[2017-11-27 13:37] laszlocsomor commented on #4165
I added debugging info to `src/java_tools/buildjar/javatests/com/google/devtools/build/java/turbine/javac/JavacTurbineTest.java`:

[code]

and I commented out the rest of the tests in that class to make it faster.

The test output is:
[code]

Then I changed `src/java_tools/buildjar/javatests/com/google/devtools/build/java/turbine/javac/BUILD`:

[code]

Now the test output is:
[code]

Now the `java

[2017-11-27 13:55] davido commented on #4165
Great! This raises the question, why/how the CI is green then? Today we know, that java_tools are inherently broken on Windows: transitive class path construction equals /-separated paths with \ separated paths. And, ironcially, this unit test would probably catch this breakage, if it would run on Windows?

[2017-11-27 14:09] laszlocsomor opened #4172 "CI: bazel-watcher failing on macOS"
bazel-nightly's downstream project "bazel-watcher" is failing:

https://ci.bazel.io/job/Global/job/bazel-watcher/290/console

[code]

[2017-11-27 14:10] laszlocsomor opened #4173 "CI: rules_docker failing on macOS"
bazel-nightly's downstream project "rules_docker " is failing:

https://ci.bazel.io/job/Global/job/rules_docker/294/consoleFull

[code]

[2017-11-27 15:01] ittaiz commented on #4120
Hi,
@laszlocsomor I'm guessing you're the sheriff this week (hope I'm not wrong).
WDYT can we do with this issue?

[2017-11-27 15:16] laszlocsomor commented on #4120
Hi Ittai,

@philwo is the sheriff week.

@hmemcpy : could you please provide repro instructions? I'm not familiar with the Scala rules' syntax or with Scala in general, so figuring out how to write a test would take me longer than it would for you. Thanks!

[2017-11-27 15:30] hmemcpy commented on #4120
@laszlocsomor of course! Thanks for looking into this.

It's unrelated to Scala, directly, this is more of a JUnit "limitation".
In Scala (in particular, the specs2 framework), you can create test names using arbitrary strings, e.g. `"this is a valid test name (in specs2)"`.
If I pass this verbatim to the test filter, it will fail early in Bazel, because it (probably) considers the `(in specs2)` b

[2017-11-27 15:38] dslomov commented on #3772
rc5 promoted to release

[2017-11-27 15:38] #3772 closed

[2017-11-27 15:48] philwo commented on #3236
Fix is out: https://bazel-review.googlesource.com/c/bazel/+/23070

Does this look OK to you @ittaiz and @hhclam?

[2017-11-27 15:51] laszlocsomor commented on #4120
Thanks!

Bazel and the JUnit test runner are separate entities. I think Bazel itself is doing the right thing, because it forwards the test filter to the test runner (via an envvar) and it's up to the test runner how it interprets the filter:

[code]

@iirina : Since you work on Java rules (AFAIK), I'm asking you. Do you have any thoughts about what Bazel or the JUnit test runner should do here?

[2017-11-27 17:34] petemounce commented on #3772
https://chocolatey.org/packages/bazel/0.8.0 is live.

[2017-11-27 17:36] laurentlb commented on #1674
The prelude file is not very well supported. Inside Google, we rarely use it (we used it a few times to assist us during a migration). The prelude file doesn't play well with incremental builds: if you modify it (or any of its dependencies), every package will have to be reloaded.

To automatically removed unused load statements from you BUILD files, try buildozer (https://github.com/bazelbuild/bu

[2017-11-27 17:38] ittaiz commented on #4120
Thanks László for your help, sorry for the misidentification
On Mon, 27 Nov 2017 at 17:51 László Csomor <notifications@github.com> wrote:

[2017-11-27 18:07] iirina commented on #4120
It would be nice to do this in the test runner, but I don't see how it can know what to escape from the filter. If it escapes the whole filter, than it won't work for regex characters.

@hmemcpy Why would you need to unescape in rules_scala?

[2017-11-27 19:45] Androbin commented on #3296
@ulfjack Any updates on this since #2574 was closed in release 0.8.0?

[2017-11-27 19:52] katre commented on #4012
Weird, still happens for me if I remove the "--bazelrc" command, so it must be something in there. Guess I'll binary search and figure it out.

[2017-11-27 19:58] katre commented on #4012
Huh, it's --build_tag_filter that is the culprit:
[code]

[2017-11-27 20:16] nicolov commented on #2762
`--per_file_copt=external/reponame/.*\.cc@-myflag` seems to work for me.

[2017-11-27 20:30] dslomov commented on #3772
Homebrew PR: https://github.com/Homebrew/homebrew-core/pull/21106

[2017-11-27 20:34] KashMoneyMillionaire commented on #382
The above link no longer points to a valid page. Is there any more news out of this?

[2017-11-27 21:51] nathantchan commented on #1034
What's the status of this? Was it added to 0.7?

[2017-11-27 22:39] ajrepp commented on #382
@KashMoneyMillionaire I believe you're looking for https://github.com/bazelbuild/rules_dotnet?

[2017-11-28 01:43] cushon commented on #4108
The work-around was submitted as 0b2352de3101e87647d083f6089246079dda0f75.

[2017-11-28 02:30] angersson commented on #4097
I was able to replicate the fixes, but I'll need to fetch NDK 15 to fully test building the app in a clean environment due to #4068.

[2017-11-28 02:49] ddwolf commented on #3988
@dslomov @meteorcloudy any updates?

[2017-11-28 02:58] austingg commented on #3053
@aqeeliqbal you may have remove the file `.tf_configure_bazelrc`, just touch one. then run `./configure`

[2017-11-28 04:22] jonstewart opened #4174 "Broken link in tutorial for 'C++ use cases'"
The [C++ and Bazel](https://docs.bazel.build/versions/master/bazel-and-cpp.html) page has a bad link to https://docs.bazel.build/versions/master/tutorial/cpp-use-cases.html with text `C++ common use cases` under the `Working with Bazel` section.

This link should probably be to https://docs.bazel.build/versions/master/cpp-use-cases.html instead. The link to that page in the left-hand TOC sidebar r

[2017-11-28 06:55] davido opened #4176 "bazel clean: don't suggest to use --async, if it is not supported on current platform"
On Bazel@HEAD, on Windows:

[code]

Now trying to pass `--async`, as suggested:

[code]

[2017-11-28 06:59] davido commented on #4108
Works like a charm, thanks!

[2017-11-28 06:59] #4108 closed

[2017-11-28 07:48] davido commented on #2882
Any progress here? Particularly, it's not clear, how to define `implicit outputs` in Skylark rule?

[2017-11-28 07:49] benjaminp commented on #4090
I hope there are less illness and sheriff preoccupations this week?

[2017-11-28 08:02] laszlocsomor commented on #4120
@ittaiz : No worries, I don't think we publish anywhere who's sheriff on a given week. Thanks for trusting it was me! ;)

[2017-11-28 08:33] Capstan commented on #3772
Unfortunately, I think https://github.com/bazelbuild/bazel/issues/4173 is a regression.

[2017-11-28 08:37] ulfjack commented on #2574
It's still off by default.

[2017-11-28 08:53] laszlocsomor opened #4177 "`--nobuild_runfile_manifests` breaks running tests"
### Description of the problem / feature request / question:

The [`--nobuild_runfile_manifests`](https://docs.bazel.build/versions/master/user-manual.html#flag--build_runfile_manifests) flag breaks running tests.

### If possible, provide a minimal example to reproduce the problem:

[code]

### Environment info
* Operating System:
Ubuntu 14.04

* Bazel version (output of `bazel info release`):
0.

[2017-11-28 09:20] meteorcloudy commented on #3988
@ddwolf Sorry for the delay, I'll take a look immediately.

[2017-11-28 09:30] laszlocsomor opened #4178 "`--test_output=streamed` disables validation for subsequent `--test_strategy` flag"
### Description of the problem / feature request / question:

If I use `--test_output=streamed`, then pass `--test_strategy=X`, Bazel doesn't give a warning about the invalid strategy, nor does it indicate that it'll ignore the flag.

If I change `streamed` to `errors`, or remove the `--test_output` flag, then Bazel correctly errors out that `X` is not a valid strategy.

I guess the reason is `--t

[2017-11-28 09:38] meteorcloudy commented on #3988
@ddwolf I don't see this error with both Bazel 0.7.0 and 0.8.0, can you give more details about reproducing this bug? Or try our latest 0.8.0 release, see if it works for you.

[2017-11-28 10:13] lberki commented on #4090
Erm. Ulf said he's chewing through the copious amount of messages
accumulated in his inbox. Stay tuned!

On 28 November 2017 at 08:49, Benjamin Peterson <notifications@github.com>
wrote:

--
Lukács T. Berki | Software Engineer | lberki@google.com |

Google Germany GmbH | Erika-Mann-Str. 33  | 80636 München | Germany |
Geschäftsführer:
Paul Manicle, Halimah DeLaine Prado | Registergericht und -numm

[2017-11-28 10:52] meteorcloudy commented on #3950
@pmerwah Sorry for the delay, TensorFlow seems to fix this issue already, see https://github.com/tensorflow/tensorflow/pull/14745

[2017-11-28 11:49] ulfjack commented on #4041
I have a fix.

[2017-11-28 12:12] philwo opened #4181 "discard_analysis_cache_test seems flaky"
I had two "bazel-test" CI runs fail with that test now in the last hour, but a retry usually passed.

Here's one log: https://ci.bazel.io/blue/rest/organizations/jenkins/pipelines/bazel-tests/runs/1267/nodes/26/log/?start=0

@janakdr Could you have a look please or reassign to someone who knows more about that test?

[2017-11-28 12:24] hmemcpy commented on #4120
@iirina for specs2, I will have to extract the test name (just the name), to pass it to the specs2 runner. For this I need to split the final matched `Description` by the `::` string, in order to get the test name part.

However, now that I think about it, I can probably do this without unescaping, by operating on the `Description` object directly... I'll look into this!

However, the question rem

[2017-11-28 12:41] ulfjack commented on #4145
I suppose that would be possible. I think we'd like to see a design doc for such a proposal, since it's a significant change to the Bazel-Test-protocol.

[2017-11-28 13:12] #3919 closed

[2017-11-28 15:39] dslomov commented on #4170
Update: the correct commit is https://github.com/dslomov/workspace_runfiles/commit/20985c4b23cb4bd4e1b10ee70c30ef417aa0fcd7

[2017-11-28 15:51] aj-michael commented on #4068
@ahumesky @jin @dkelmer

[2017-11-28 16:10] laszlocsomor commented on #4108
Update:
- @cushon submitted a principled fix to JavaBuilder in 0b2352de3101e87647d083f6089246079dda0f75, which fixed this bug.
- I looked at changing the code to use '\' on Windows, but gave up because there are hundreds of call sites and I didn't want to go ahead and audit all, and also:
- @tomlu is working on a design proposal to tighten path semantics inside Bazel, and I'd rather he did the wor

[2017-11-28 16:21] tomlu commented on #4108
I have no active proposal to use backslashes for Windows. In fact, I am
saying we should *not* do that unless absolutely necessary. Forward slashes
are put into command lines in (guesstimate) ~10,000 places in the bazel
code base, it would be very difficult to find them all, fix them all, and
keep them fixed.

We would have to vet every command line constructed and make sure artifacts
are used dir

[2017-11-28 16:41] aj-michael commented on #4068
@dajensen , sorry to hear about your wasted time. Bazel should have emitted a warning that NDK 16 was unsupported. Perhaps we should make that warning an error.

[2017-11-28 16:45] laszlocsomor commented on #4165
I'm guessing we don't run the JavacTurbineTest on Windows, since it's not accessible from `//src:all_windows_tests`.

@cushon has a pending internal commit that fixes this test on Windows. I'm working on fixing the `$(location)` expansion for data-deps on Windows (#4171). When those are both in, I can enable JavacTurbineTest on Windows.

[2017-11-28 18:28] benjaminp commented on #4177
I think local testing is incompatible with `--nobuild_runfile_manifests` because you're denying the test action an input (the runfiles tree) it requires to work. Similarly with `bazel run`. (I suppose it would be technically possible for test the strategy to reify the runfiles tree from the associated `RunfilesSupplier`. But my supposition is that anyone using `--nobuild_runfile_manifests` is tryi

[2017-11-28 18:31] tiziano88 opened #4184 "Error depending on google.golang.org packages via `go_repository`"
### Description of the problem / feature request / question:

In a Go project, most of the dependencies are handled correctly by `go_repository`, but those from `google.golang.org` always fail to compile when depended upon.

### If possible, provide a minimal example to reproduce the problem:

WORKSPACE:

[code]

BUILD.bazel:

[code]

Then run

`bazel build :xxx`

Result:

[code]

### Environment

[2017-11-28 18:33] aselle commented on #4068
Any eta on when NDK 16 will be supported @aj-michael?

[2017-11-28 18:38] tiziano88 commented on #4184
Interestingly, using v. `0.7.1` of `rules_go` I get a different error message:

[code]

[2017-11-28 18:43] alexeagle opened #4185 "Cannot provide internal visibility to target that uses absolute label syntax"
I'd like to use an absolute label with my own workspace name, but then there is no way to get visibility on an internal target I reference:

[code]

Note, `visibility = ["//:__subpackages__"]` doesn't work for `subdir` either.

[2017-11-28 18:57] angersson commented on #4068
@dajensen For what it's worth, the warning isn't very helpful:

[code]

The warning text doesn't mean much to me, especially because the exact same message appeared with NDK 15 and the build still worked. "Defaulting to revision 14" seems to make Bazel pretend whatever NDK installed is r14, but it *looks* like the message says "I'll change *your* version to rev 14 for you to avoid this problem". I

[2017-11-28 19:03] akira-baruah commented on #4018
@spomorski I think you can close this issue since #4020 has been merged. The [docs](https://docs.bazel.build/versions/master/external.html#bazel-projects) have also been updated to reflect the fix.

[2017-11-28 19:09] #4018 closed

[2017-11-28 23:14] mattmoor commented on #4173
What's going on with this?

[2017-11-28 23:24] angersson commented on #4097
I verified build success with nvidia-docker, `gcr.io/tensorflow/tensorflow:latest-devel-gpu`, and this... awful script, run inside the container:

[code]

Sweet.

[2017-11-29 00:19] hzsweers opened #4186 "Does Bazel do something to make desugaring default/static interface methods not require clean builds?"
Forgive the broad question. I'm asking with regards to this commit from @cushon - https://github.com/bazelbuild/bazel/commit/611ea1cad400879c64af196032222defd47fb82b

Our understanding from talking with the D8 engineers that this forces builds to be clean every time (similar to retrolambda before it). Gradle can get by with this with incremental compilation, but for non-incremental systems like Ba

[2017-11-29 00:40] cushon commented on #4186
@kevin1e100

[2017-11-29 03:42] warriorZH commented on #3948
@ArigarasuthanRepo Hi, when i use bazel0.7.0 this errors still appear .
sys:
ubuntu 14.04
tf 1.4.0
bazel 0.7.0

bazel amd:
bazel build -c opt //tensorflow/contrib/android:libtensorflow_inference.so    --crosstool_top=//external:android/crosstool    --host_crosstool_top=@bazel_tools//tools/cpp:toolchain    --cpu=armeabi-v7a

error log:
INFO: Found 1 target...
ERROR: /home/mt-srcb/.cache/bazel/_baze

[2017-11-29 05:50] ambrusc opened #4189 "OSX: Changing file contents without changing its size doesn't trigger a rebuild of cc_binary"
### Description of the problem:
Changing file contents without changing the file size should probably trigger a rebuild, but it doesn't on my OSX machine. I can test on Linux and Windows tomorrow.

### To repro:
1 . download [osx_no_rebuild.zip](https://github.com/bazelbuild/bazel/files/1512649/osx_no_rebuild.zip) (or do this in any other workspace -- there is nothing special about this one)
2. Ru

[2017-11-29 08:23] laszlocsomor commented on #3948
@warriorZH : Could you rerun the build with `--verbose_failures`?

[2017-11-29 08:44] laszlocsomor commented on #4173
@mattmoor : Do you need more information? I was going to assign this bug to someone who maintains https://github.com/bazelbuild/rules_docker but I see you are one. :)

[2017-11-29 08:55] laszlocsomor commented on #4177
I agree this flag hardly makes sense when testing/running locally. I think a clear error message is the easiest and best solution here.

[2017-11-29 09:56] philwo commented on #614
Totally agree, @hanwen. The problem is that the current worker protocol has no mechanism to cancel a running action. We could kill the worker when the action is interrupted, but that means that they'll lose all cache and JIT and have to start again the next time.

I guess for canceling entire builds this might be a reasonable trade-off, but for canceling individual actions, for example when we run

[2017-11-29 10:07] #4133 closed

[2017-11-29 10:35] hanwen commented on #614
you don't really have to kill the worker, actually. It's enough if you don't wait for the worker result, but discard in a future.

It might be a good idea to rearchitect the worker protocol based on gRPC, so you can propagate cancellation to the workers. (I assume that gRPC supports cancellation). Couldn't you then interrupt the thread doing the compilation?

[2017-11-29 10:41] ulfjack commented on #614
We can send SIGTERM even today - what's wrong with that?

On Wed, Nov 29, 2017 at 11:35 AM, Han-Wen Nienhuys <notifications@github.com

[2017-11-29 10:48] philwo commented on #614
@hanwen That would work and be a good solution until we have the better protocol that supports cancellations. Rearchitecting the worker protocol is also on my list of todos. :)

@ulfjack Sending SIGTERM kills the worker, which discards its cache and JIT optimizations. This might be acceptable, but I wasn't sure when I initially implemented that.

[2017-11-29 10:50] ulfjack commented on #614
The worker can catch SIGTERM and abort the processing. SIGKILL can't be
caught.

On Wed, Nov 29, 2017 at 11:48 AM, Philipp Wollermann <
notifications@github.com> wrote:

[2017-11-29 11:38] #4041 closed

[2017-11-29 12:33] GoteroDeBragas opened #4190 "Wtf"
I would like to know specifically and in clear english words what the flip tjis is

[2017-11-29 13:08] djudd-stripe commented on #2946
I have attached a thread dump for what I suspect is the same issue (simultaneously #3645 since we are running in a Docker container and I believe that's why we are OOMing). At a glance it looks like maybe a deadlock.

[bazel-threads.dump.txt](https://github.com/bazelbuild/bazel/files/1513876/bazel-threads.dump.txt)

[2017-11-29 13:24] Capstan commented on #4173
I don't think this is rules_docker's fault. It was caused in-between commits to that repo, and coincided with the most recent release of bazel. If I go back to 0.7.0, it doesn't break the same way.

[2017-11-29 13:27] Capstan commented on #4173
This is also not MacOS-specific.

[2017-11-29 13:43] djudd-stripe commented on #3645
Underlying issues might be #3886 plus #2946?

[2017-11-29 15:24] philwo commented on #614
@ulfjack Yes, but this is not in the current contract with any existing workers, so sending SIGTERM *will* result in killing of the workers if implemented now. Some concerns:

- It's not clear if SIGTERM is the right signal for this purpose.
- We don't have signals on Windows.
- In certain languages / environments it's difficult to catch signals and install a signal handler. I could imagine this t

[2017-11-29 15:37] ulfjack commented on #614
In certain languages / environments it's difficult to implement a gRPC
server...

On Wed, Nov 29, 2017 at 4:24 PM, Philipp Wollermann <
notifications@github.com> wrote:

[2017-11-29 15:45] #4174 closed

[2017-11-29 16:02] philwo commented on #614
@ulfjack I didn’t say that the new protocol would use gRPC and we agreed not even one week ago that improvements to the persistent worker would be put on hold, as you want me to focus on more urgent work first.

Yet I have the impression that you’re playing devils advocate for some thing here and reuse phrases of my words for some reason. What’s your point?

[2017-11-29 16:04] philwo commented on #614
We already have a proposal in our internal issue tracker (AFAIR) for a backwards compatible change that even adds support for executing actions in parallel. I can send you two a link tomorrow.

[2017-11-29 16:28] kamalmarhubi commented on #3410
Can we separate out the issues of bazel compiling Java 9 source from bazel running under jvm 9? This seems to cover both, but it seems like it should be possible to run bazel with embedded jdk under jvm 9. I propose reopening #3789 to track the running under jvm 9 issue.

[2017-11-29 16:31] kamalmarhubi commented on #3789
As mentioned in https://github.com/bazelbuild/bazel/issues/3410#issuecomment-347915814, I think the issue of running bazel under jvm 9 should be broken out from the issue of compiling with jdk 9. This issue seems focused on running, so I suggest reopening it and perhaps making the title more specific.

[2017-11-29 16:35] ulfjack commented on #614
I'm not suggesting that we do any work on this in the near future, but it makes sense for us to agree on what a solution would look like, if someone else wants to contribute.

- I think using gRPC is a no-go.
- I think sending SIGTERM is a reasonable thing for us to do on Linux and MacOS - I realize it's a backwards-incompatible change in the protocol, so would need to be communicated to whoever i

[2017-11-29 16:39] monkeynova opened #4191 "Protobuf sample workspace file is missing required fields"
The documentation at https://blog.bazel.build/2017/02/27/protocol-buffers.html provides a sample WORKSPACE file to get started with the proto libraries. It includes a shortened form of the workspace found at https://github.com/cgrushko/proto_library/blob/master/WORKSPACE for brevity.

Unfortunately the inline documentation doesn't include the strip_prefix field which is required to get the build w

[2017-11-29 16:56] hanwen commented on #614
what about my original suggestion to let the worker continue, but ignore its results? (maybe not possible if you are writing the output files directly from the worker)

[2017-11-29 19:18] #3897 closed

[2017-11-29 19:23] robertkarl commented on #2722
Is this still a problem as of Bazel 0.7.0? I couldn't repro on Linux.

[code]

[2017-11-29 20:17] robfig commented on #4041
We ran into this when rolling out remote cache, and it's causing some havoc. Any chance of a 0.8.1 release in the near term including this fix, or should I build my own to hold us over to 0.8.0?

[2017-11-29 20:24] hhclam commented on #4041
If you feel brave you can cherry pick the following changes..
https://github.com/bazelbuild/bazel/commit/7967f3387e63723bb36b974f83a816265d404c38
https://github.com/bazelbuild/bazel/commit/72cbef729f69d167a48f010e28fb9717f25e74db
https://github.com/bazelbuild/bazel/commit/4d7f8f7846960ffc111cf1aef2a5efb094114442

[2017-11-29 21:03] j3parker commented on #4191
You could submit a PR to https://github.com/bazelbuild/bazel-blog/blob/master/_posts/2017-02-27-protocol-buffers.md

[2017-11-29 21:11] jbduncan commented on #4190
Bazel is, simply put, a build tool. In other words, it turns source code into software.

If you've ever heard of Make, Maven or Gradle, Bazel does the same thing as those tools.

The big difference between Bazel and other build tools is it can build software faster than other tools, because it uses clever techniques like caching, which allow it to avoid doing work whenever it can.

I hope this hel

[2017-11-29 21:27] kevin1e100 commented on #4186
Bazel has no such limitation; its support for default method differs from retrolambda and Android Studio 3.0 in this way.  Desugaring of default and static interface methods happens on a jar-by-jar basis.  On incremental rebuilds, Bazel only re-desugars Jars that need to be reprocessed.  Together with Bazel's incremental dexing feature, which is also enabled by default and makes it so that dx only

[2017-11-29 21:27] #4186 closed

[2017-11-29 21:35] robfig commented on #4041
Gulp, ok I'll give it a shot. Thank you

[2017-11-29 21:43] gregestren commented on #2722
The "dynamic configuration" upgrades Adam refers to - about not unconditionally calling the AndroidSplitTransition for non-Android builds - should be fully in effect as of 0.6.0 (i.e. once d63ee814e2493bc74b74842744a8471a0aeeb0ef went in).

So yeah, I'd expect this to be okay now, and I'm happy you got a clean result, Robert.

Steven - do you still see an issue here?

[2017-11-29 21:50] erain opened #4192 "`bazel test //src/test/shell/integration:process_wrapper_test` failed"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:
`bazel test //src/test/shell/integration:process_wrapper_test` failed.

### If possible, provide a minimal example to reproduce the problem:

[code]

### Environment info
* Operating System:
Debian

* Bazel

[2017-11-29 21:53] gregestren commented on #170
FYI code is already streaming into Bazel that basically makes this work, with caveats:

1. Not all query functions work (although `deps()`, importantly, does)
1. It's not quite the same interface as traditional query
1. Supporting `select()` means the queries take more time and memory (more analogous to a real build)

Also, I don't think XML output is yet supported, although it should be easy to a

[2017-11-29 22:02] rupertks commented on #4192
Thanks Yi Yu!

The failure could be related to the protoc version, specifically this line of the test seems to fail when using Bazel:

[code]

[2017-11-29 22:03] sgreenstein opened #4193 "Server not daemonized correctly on Windows"
### Description of the problem / feature request / question:

On Windows when running a bazel command that also starts the bazel server via certain means other than the command line, the command doesn't stop as it should. Examples include: running a build on a remote Windows box over cygwin ssh, Visual Studio invoking a build, and invoking a bazel command with python's `subprocess.check_output`.

[2017-11-29 22:07] rupertks commented on #4192
Yes, it seems to be that protoc is missing:

[code]

Is this the same error that you got?

[2017-11-29 22:13] rupertks commented on #4192
It is possible that protoc_compiler in https://github.com/bazelbuild/bazel/blob/master/src/test/shell/testenv.sh may not be correct

[2017-11-29 22:16] rupertks commented on #4192
@lfpino any ideas?

[2017-11-29 22:23] Capstan commented on #4173
Moreover I think this was one of the cherrypicks into 0.8, since I had put a travis build of a early testing release of 0.8-rc2 and it didn't have the same problem (https://github.com/bazelbuild/rules_docker/pull/214#issuecomment-343106692)

[2017-11-29 22:27] ahumesky commented on #4068
We can certainly update the warning text, your 2nd suggestion sounds good. We made this a warning instead of an error on the reasoning that future NDK versions would be backwards compatible with the crosstool, but that hasn't always worked out.

We've been focused on getting our android testing support working in bazel (robolectric testing, emulator testing), so we haven't had much time to work on

[2017-11-29 22:31] Capstan commented on #4173
https://travis-ci.org/bazelbuild/rules_docker/builds/299556420 is the run against the then-testing 0.8.0 release plus my changes that succeeded.

[2017-11-29 23:07] mattmoor commented on #4173
@laszlocsomor As @Capstan indicates, this is almost certainly a Bazel 0.8 bug.

If there is a workaround in `rules_docker`, I'm happy to apply it, but I don't even know where to begin parsing that monstrous stack trace.

@damienmg FYI

[2017-11-29 23:11] steven-johnson commented on #1248
Cycling back to this after many months: I'm assuming this isn't gonna be fixed anytime soon?

[2017-11-29 23:24] rupertks commented on #4192
Working on a fix now

[2017-11-30 00:33] ixdy opened #4194 "recursive glob([**]) incorrectly matches files in subpackages that are using BUILD.bazel files"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:

We have a glob intended to match all files and subdirectories of the current directory, something like
[code]

When subdirectories contain subpackages using a `BUILD` file, the glob does not match, as expec

[2017-11-30 00:37] katre commented on #4194
While working on #4056, I recently submitted 4117c867fe8e560f53bc1c7106af9c2889cc18f2, which fixes an error I had that looked suspiciously like this. That commit wasn't in the 0.8.0 release, could you please patch it in or test from HEAD and see if this issue is still happening?

[2017-11-30 00:46] ixdy commented on #4194
Sure, I can try bazel from HEAD to see if it's fixed.

I also created https://github.com/ixdy/bazel/tree/recursive-glob-BUILD.bazel-failure which demonstrates the failure if you try to `bazel build :bazel-srcs.tar`.

[2017-11-30 00:50] ixdy commented on #4194
yep, `bazel-bin/src/bazel build :bazel-srcs.tar` works, so I suspect this issue is already fixed.

[2017-11-30 00:57] djudd-stripe commented on #2946
Nevermind, I think that thread dump was a hang due to something else (calling Bazel from a script inside Bazel). Sorry!

[2017-11-30 01:01] plinnell opened #4195 "RPM for openSUSE / SUSE Enterprise Linux / Need for dependency listing."
* Operating System:  Linux

* Bazel version (output of `bazel info release`):
0.8.0

#2701 is related

I'm developing an rpm for openSUSE / SUSE which will be built on https://build.opensuse.org and hosted in a repo with a pretty permanent address on download.opensuse.org

Before getting it officially in the distro, we need to be able to build bazel without the bundled third party bits. To do so,

[2017-11-30 01:03] mattmoor commented on #4194
This PR is cursed. :(

[2017-11-30 01:12] steven-johnson commented on #1920
I don't understand how the "C++ sandwich" approach is in any way a substitute for being able to build real static libraries. This missing feature is a deal-breaker for my project in terms of adopting Bazel.

[2017-11-30 03:24] rupertks commented on #4192
Should be fixed now

[2017-11-30 04:02] monkeynova commented on #4191
Thanks for the link. Sent: https://github.com/bazelbuild/bazel-blog/pull/48

[2017-11-30 06:57] davido commented on #4173
@mattmoor As always, try to create a minimal reproducer fot this problem.

[2017-11-30 07:09] damienmg commented on #4173
@dslomov: Can you investigate and cherrypick a fix in 0.8.1? I saw the failure on the release candidate: https://ci.bazel.io/view/Bazel%20bootstrap%20and%20maintenance/job/bazel/job/release/328/Downstream_projects/

[2017-11-30 07:24] damienmg commented on #3773
So the nightly seems pretty broken right now: https://ci.bazel.io/view/Bazel%20bootstrap%20and%20maintenance/job/bazel/job/nightly/Downstream_projects/

- rules_docker is broken by 0.8.0 #4173
- rules_go has failing tests which is probably the cause for buildifier and bazel-watcher (#4172) failure
- Intellij is also broken

I guess we won't be able to get a clean release tomorrow. I won't be able

[2017-11-30 07:44] laszlocsomor commented on #4193
Awesome bug report, thank you!

@meteorcloudy : Is this something you could perhaps take a look at?

[2017-11-30 08:26] davido commented on #3772
Bazel 0.8.0 native package for Alpine Linux is here: https://github.com/davido/bazel-alpine-package/releases/tag/0.8.0.

[2017-11-30 08:27] meteorcloudy commented on #4193
Interesting, let me take a look at this.

[2017-11-30 08:32] philwo commented on #3773
What is a build cop? Is that something different than the sheriff?

[2017-11-30 09:11] damienmg commented on #3773
Sorry for the confusion. It is the same. I just tend to use build cop on
the issue tracker because I find the term is clearer that sheriff on what
the sheriff does.

On Thu, Nov 30, 2017, 9:32 AM Philipp Wollermann <notifications@github.com>
wrote:

[2017-11-30 09:12] meteorcloudy commented on #4193
I believe bazel client pass a pipe handle for stdout to bazel server, so python waits as long as the server holds the handle. This doesn't happend to stderr though, I am starting to look at the code for reasons.

[2017-11-30 09:26] dslomov commented on #3773
let's stabilize before Monday, I think that's doable - and let's cut on
Monday if we can

On Thu, 30 Nov 2017, 10:11 Damien Martin-Guillerez, <
notifications@github.com> wrote:

[2017-11-30 09:59] mhlopko commented on #1920
With C++ sandwich you (and we) will be able to quickly create new rules that can integrate with native C++ rules.
@ventrescadeatun

[2017-11-30 10:01] mhlopko commented on #1248
@dslomov @damienmg

[2017-11-30 10:03] Cwiiis commented on #1920
I'm with Steven in that I don't think this is at all a replacement for static library compilation; I hope this will still be addressed at some point.

[2017-11-30 10:05] mhlopko commented on #1920
It's not a replacement, it's a building block that will allow us to write cc_static_library rule mentioned in the https://docs.google.com/document/d/1d4SPgVX-OTCiEK_l24DNWiFlT14XS5ZxD7XhttFbvrI/edit in Skylark.

[2017-11-30 10:29] dslomov opened #4196 "Patch release 0.8.1"
Apparently #4173 is a regression in 0.8.0 (#3772).
This issue tracks the progress of 0.8.1 patch release to address it.

[2017-11-30 10:49] meteorcloudy commented on #4193
I found it's the same root cause for https://github.com/bazelbuild/bazel/issues/2182 and https://github.com/bazelbuild/bazel/issues/2248

I'll send a fix

[2017-11-30 11:54] hzsweers commented on #4186
Thanks Kevin! Really appreciate the details, will take this info to our build tools folks and the buck team

[2017-11-30 12:31] philwo commented on #3773
The bazel-tests failure in process_wrapper-test should be fixed in the next nightly thanks to https://github.com/bazelbuild/bazel/commit/89ec374424a585c4923df942c848c6a88ddd9db7

[2017-11-30 12:35] #2701 closed

[2017-11-30 12:47] marcohu opened #4197 "java_library: Support manifest manipulation"
I'm new to Bazel and I was quite surprised that (as of Bazel 0.8) manipulating the `MANIFEST.MF` does not seem to be supported out-of-the-box with the `java_library` rule.

With `java_binary`, we have [`deploy_manifest_lines`](https://www.bazel.io/versions/master/docs/be/java.html#java_binary.deploy_manifest_lines). A similar option should be available for `java_library` as well.

It's not a big d

[2017-11-30 12:49] #3967 closed

[2017-11-30 13:06] #4082 closed

[2017-11-30 14:11] improbablekeren commented on #3001
I checked out bazel official example on window `git clone https://github.com/bazelbuild/examples/` and got this issue when I built it:
`bazel build //...`

It's fixed with MSYS2_ARG_CONV_EXCL="//". Should this fix be a part of bazel build? my bazel version is 0.7.0

[2017-11-30 14:28] laszlocsomor commented on #3001
@improbablekeren : Try running Bazel from cmd.exe, not from MSYS Bash.

This is an issue outside of Bazel's control: MSYS converts Unix-path-looking arguments to Windows paths, and its heuristic thinks "//..." is a Unix path. The workaround you found should disable this heuristic for this path.

[2017-11-30 14:29] improbablekeren commented on #3001
got it. very helpful, thanks

[2017-11-30 14:55] EricBurnett commented on #4082
Thanks Jakob!

[2017-11-30 15:11] laszlocsomor commented on #4148
/cc: @meteorcloudy

[2017-11-30 16:00] dslomov commented on #4173
The problematic commit in Bazel is this 7c605cf6ea9755a06e5abb16a631faac8ebe2937, which is old but only got released in 0.8.0. I suspect something happened is rules_docker or their dependencies to trigger this. Assigning to @iirina for triage: can we make a fix that can be cherry-picked to 0.8.0?

[2017-11-30 16:01] rupertks commented on #4192
Hi erain,

The test passes for me using Bazel (in Linux and in OS X), so can you please provide some more information, especially your test.log file?

Thanks!

[2017-11-30 16:07] dslomov commented on #4173
the commit where this started to fail in rules_docker is https://github.com/bazelbuild/rules_docker/commit/2bfd21e83a8947a15398fe140e806ed5737aa032

[2017-11-30 16:08] dslomov commented on #4173
repro is:
[code]

[2017-11-30 16:09] mattmoor commented on #4173
(shameless plug) @iirina is the reviewer on [the Groovy version of this PR](https://github.com/bazelbuild/rules_docker/pull/233), which needs love too :)

[2017-11-30 16:20] rupertks commented on #4192
erain sent me a log, it looks like Bazel is crashing before the test actually starts. Investigating...

[2017-11-30 16:23] #4035 closed

[2017-11-30 16:26] mkilpatrick commented on #2964
Any update on this? We're using --experimental_external_repositories=true but the timeout seems to always take 30 seconds, regardless of --remote_local_fallback or setting a --remote_timeout. On 0.8.0. Though a local fallback does seem to be happening.

[2017-11-30 16:26] laszlocsomor commented on #3955
#3963 subsumes this

[2017-11-30 16:26] #3955 closed

[2017-11-30 16:29] laszlocsomor commented on #4171
duplicate of https://github.com/bazelbuild/bazel/issues/3881

[2017-11-30 16:50] erain commented on #4192
I can pass this test on my mac.

So it looks like now it is related to a specific glibc version my my workstation.

Closing the issue. And thanks a lot for the timely help and fix from @rupertks !

[2017-11-30 16:50] #4192 closed

[2017-11-30 16:51] laszlocsomor commented on #3699
ping @dslomov

[2017-11-30 16:57] laszlocsomor commented on #3025
I'm dropping priority due to lack of activity.
@Helcaraxan , @buchgr : has any of you seen this bug recently?

[2017-11-30 16:58] laszlocsomor commented on #2885
Lowering the prio because we don't support Cygwin because of #2810.

[2017-11-30 17:03] laszlocsomor commented on #2503
Closing this bug because 9 months later Bazel on Windows still doesn't create runfiles trees, and currently we don't plan to change that status quo.

We do plan to write language-specific libraries that help using runfiles. Until then, programs should read the contents of the runfiles manifest (its path is in the `RUNFILES_MANIFEST_FILE` envvar).

[2017-11-30 17:03] #2503 closed

[2017-11-30 17:05] laszlocsomor commented on #2406
related: #4149

[2017-11-30 17:05] laszlocsomor commented on #3821
related bug: #2443

[2017-11-30 17:26] laszlocsomor commented on #2248
Shot in the dark: this may have been caused by Bash waiting for all child processes of the subshell to exit. Since the Bazel server was not exiting, though daemonizing, the subshell was duly waiting for it. See https://github.com/bazelbuild/bazel/issues/3148.

[2017-11-30 17:32] laszlocsomor commented on #2218
Is there anything else to do with this bug? The native launcher is the default and working well.

[2017-11-30 17:34] laszlocsomor commented on #1842
Closing this issue, was fixed in https://github.com/bazelbuild/bazel/commit/4950111c591f5d7352c83898e35a5f18ff92a0cc.

[2017-11-30 17:34] #1842 closed

[2017-11-30 17:38] laszlocsomor commented on #1243
obsolete; Bazel sets unique TMP/TEMP variables for every action since 0.8.0

[2017-11-30 17:38] #1243 closed

[2017-11-30 17:40] laszlocsomor commented on #1212
Infeasible.

Non-elevated (not running as Administrator) processes cannot create symlinks, and we don't want to require elevation to run builds.

Bazel writes runfiles manifest files instead, that describe the mapping.

[2017-11-30 17:40] #1212 closed

[2017-11-30 20:04] philwo commented on #3773
Is there anything that I can do to help get this sorted out?

[2017-11-30 20:55] dslomov commented on #3773
See this update: https://github.com/bazelbuild/bazel/issues/4173#issuecomment-348232897
@iirina will investigate and we'll make a decision based on her fix.

[2017-11-30 21:10] j3parker commented on #4083
In 0.8.0 the error message now looks like:

[code]

[2017-11-30 21:15] djudd-stripe opened #4201 "Support --include_imports equivalent in proto_library"
### Description of the feature request:

We would find it useful to have an attribute on the native `proto_library` rule which causes it to behave like protoc when passed `--include_imports`, which would include all the transitive descriptor set contents in the output descriptor set. Supporting self-contained descriptor set outputs in this way would make it easier to write tooling that uses descri

[2017-11-30 21:19] mattmoor commented on #4173
Ugh, CI for `rules_docker` is just dead.  How do we avoid this in the future?  Are there Bazel CI legs that can be added to test against HEAD?

What's the timeline on a fix?  I'm guessing not the 0.9 RC since that cuts tomorrow... :(

[2017-11-30 21:52] dslomov commented on #4173
We will block cutting 0.9 RC on fixing this.

[2017-11-30 23:38] rahul-malik opened #4202 "Extensions > Linter documentation doesn't exist (HTTP 404)"
### Description of the problem / feature request / question:

If you go to the Bazel documentation and select "Linter", you get a Page not found error.

### If possible, provide a minimal example to reproduce the problem:

Go to https://docs.bazel.build/versions/master/skylark/lib/skylint.html

[2017-12-01 03:09] snnn opened #4203 "[Feature Request] Please document how to use a static analyzer with bazel"
We often need to run static analyze on our code, but most static analyze tools (e.g. clang scan-build, HP Fortify SCA) do not  have a document of how to use it with bazel.  For most users, it's not a easy to find a way to do that. (see #1622).

[2017-12-01 05:53] zz-pony commented on #3976
I can confirm this bug still exists in 0.8.0. Any plan to fix it in next release? Thanks.

[2017-12-01 06:14] indrgun commented on #4098
@vrobertbaruch

I also would like to know how to get READELF if it can be exposed as MAKE variable.
I am interested in the workaround.   Do you know how to get CROSSTOOL toolchain's tool_path information from skylark's ctx inside a rule?

[2017-12-01 06:40] damienmg commented on #4173
Ftr we should do a patch release. Also we do test with head and we have the
breakage on ci too.

On Thu, Nov 30, 2017, 10:52 PM Dmitry Lomov <notifications@github.com>
wrote:

[2017-12-01 07:17] achew22 opened #4205 "Aliases don't correctly destination targets that contain a /"
Aliases don't correctly destination targets that contain a /

### If possible, provide a minimal example to reproduce the problem:

[code]

[code]

### Environment info
* Operating System: Linux
* Bazel version (output of `bazel info release`): release 0.8.0

###  Have you found anything relevant by searching the web?
Nope

[2017-12-01 08:17] dslomov commented on #4173
https://github.com/bazelbuild/bazel/issues/4196 (see above) tracks a potential patch release.

[2017-12-01 08:20] #3816 closed

[2017-12-01 08:35] damienmg commented on #4173
Thanks!

On Fri, Dec 1, 2017 at 9:17 AM Dmitry Lomov <notifications@github.com>
wrote:

[2017-12-01 09:02] laszlocsomor commented on #4083
0.8.0 doesn't yet contain https://github.com/Androbin/bazel/commit/b110dfb5cca8961051426e669566cc3aeeac55ee .

We also need your PR (https://github.com/bazelbuild/bazel/pull/4088) with the Java-side changes, so the Java code won't even attempt to create a process if it knows the cmdline is too long.

I figured that one situation where Bazel produces this error is with Java header compilation. Baze

[2017-12-01 09:10] #2182 closed

[2017-12-01 09:10] #2248 closed

[2017-12-01 09:10] #4193 closed

[2017-12-01 09:33] meteorcloudy commented on #2218
54c5c5cf41bd47d11ea309f37697d83ae65fe9e7 should have closed this bug ;)

[2017-12-01 09:33] #2218 closed

[2017-12-01 10:12] iirina commented on #4173
Hi,

I'm working on a fix. I tried to reproduce the issue with my custom bazel but ran into another error:

[code]

Any thoughts how I can test that I fixed this with rules_docker?

[2017-12-01 10:40] Capstan commented on #4173
Hm. That looks like https://github.com/gflags/python-gflags/issues/9, but like gflags self-hosed. Given this is pulling from bazel_tools (i.e., the bazel you've built), perhaps there's another issue recently introduced? (e.g., https://github.com/bazelbuild/bazel/commit/8fd0f4a038ad49f77cc2ae0c1e789df7391be467)

[2017-12-01 10:41] Capstan commented on #4173
Or rather https://github.com/bazelbuild/bazel/commit/fb15f0f4e4885243d354a14997d09463594385bf#diff-3189aae2901c56b0748876200a1d7a3c

[2017-12-01 13:24] iirina commented on #4173
@Capstan thanks! I reverted fb15f0f4e4885243d354a14997d09463594385bf locally before I built bazel and I managed to build `rules_docker` succesfully! Fix will land anytime now.

[2017-12-01 13:34] Capstan commented on #4173
Is there something tracking the gflags weirdness yet? (is it known outside of the `rules_docker` issue?)

[2017-12-01 13:35] iirina commented on #4173
Not that I know of. I will open a new bug about it now.

[2017-12-01 13:39] iirina opened #4206 "rules_docker fails to build with bazel @ HEAD"
When I try to build `rules_docker` with `bazel` built @ HEAD, I get the following error:

[code]

It seems the issue is in `bazel,` introduced by fb15f0f4e4885243d354a14997d09463594385bf. If I revert this commit and rebuild `bazel`, I can build `rules_docker` successfully.

This was discovered in #4173.

cc: @akira-baruah, author of commit

[2017-12-01 13:53] #4173 closed

[2017-12-01 14:35] mattmoor opened #4207 "Support changing the working directory of repository_ctx.execute"
### Description of the feature request:

I want to be able to direct `repository_ctx.execute` to run in a particular directory.  I believe right now it executes under `external/` vs. `external/<repo_name>`, which is where it should be putting files.  So unless every tool we invoke supports changing directories, this is inadequate.

This can be worked around by trampolining through a script that ch

[2017-12-01 14:50] dslomov commented on #4196
0.8.1rc1: `scripts/release/release.sh create 0.8.1 cff0dc9 8a49b15 275ae45 d0bf589 9738f35 0d6ff47 49008a3`

49008a3 is the fix for #4173

[2017-12-01 14:58] mattmoor commented on #4173
thanks for getting this resolved!

[2017-12-01 15:07] jin commented on #4190
Closing this issue since @jbduncan has provided a good answer :+1:

[2017-12-01 15:07] #4190 closed

[2017-12-01 15:11] mattmoor commented on #4206
Hopefully this will either block 0.9?  @damienmg @dslomov

[2017-12-01 15:15] jin opened #4208 "//src/test/shell/bazel/android:{aar, android, android_sdk}_integration_test broken at HEAD"
Same error across all three tests:

[code]

[2017-12-01 15:15] dslomov commented on #4196
I had to patch 49008a3 to add missing imports, trying again.

[2017-12-01 15:16] jin commented on #4208
cc @ahumesky @dkelmer @aj-michael

[2017-12-01 15:17] jin commented on #4206
Also breaking some Android integration tests: #4208

[2017-12-01 15:52] aj-michael commented on #4208
hmmm I wonder how we did not catch this internally

taking a look now

[2017-12-01 15:56] aj-michael commented on #4208
my guess is 8fd0f4a038ad49f77cc2ae0c1e789df7391be467 ?

[2017-12-01 15:58] aj-michael commented on #4208
Is this broken on CI?

[2017-12-01 15:59] jin commented on #4208
It's fb15f0f.

[2017-12-01 15:59] aj-michael commented on #4208
Yes, CI is red.  And its not limited to just these tests.

https://ci.bazel.io/job/bazel-tests/1341/#showFailuresLink

.test_empty_tree_artifact_action_inputs_mount_empty_directories
.test_nonempty_aar_resources_tree_artifact
.test_empty_tree_artifact_action_inputs_mount_empty_directories
.test_nonempty_aar_resources_tree_artifact
.test_allow_custom_manifest_name
.test_allow_custom_manifest_name
.

[2017-12-01 16:00] aj-michael commented on #4208
The answer to how we did not catch this internally is that we don't automatically propagate external third_party changes internally.

[2017-12-01 16:02] aj-michael commented on #4208
Do we think this is just limited to tests?

[2017-12-01 16:08] aj-michael commented on #4208
It looks like in #3855, there is a series of commits. The tests pass on the PR as a whole, but we're currently merging the commits one-by-one. So hopefully this will resolve itself?

[2017-12-01 16:52] aj-michael commented on #3773
#4208 is breaking Android, and we don't have a fix yet.

[2017-12-01 18:29] zz-pony commented on #4041
Will this fix be included in the next release? If so, when will be the next release? Thanks!

[2017-12-01 18:44] robfig commented on #4041
FYI, here's the version I built.
https://github.com/yext/bazel/releases/tag/0.8.1

[2017-12-01 18:51] zz-pony commented on #4041
Cool. Let me try it out. Thanks again!

[2017-12-01 19:40] softprops opened #4209 "consider moving to preemptive auth for remove cache interactions"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:

The implementation of remote caches http blob store results in two requests for every logical single request when the remote_rest_cache value contains basic authentication credentials

[code]

This can be o

[2017-12-01 23:40] fbriggs opened #4211 "bazel 0.8.0 generates different set of dynamically linked library from previous version"
* Operating System: OS X 10.12.6
* Bazel version
0.5.4 vs 0.8.0 (or 0.7.0 vs 0.8.0)
* bazel info release
==>
release 0.8.0-homebrew

# Summary

I have a project where bazel is being used to compile an executable on OS X, which depends on several libraries include glfw, opencv, and others. For the sake of confidentiality, I have renamed that program 'some_program_compiled_with_bazel'. With previous

[2017-12-02 01:04] yiakwy commented on #3239
a bug

[2017-12-02 01:29] pspeter3 commented on #4209
In one of my projects, Bazel does not seem to be sending the second request with the authorization headers.

[2017-12-02 02:34] softprops commented on #4209
I discovered this issue with some server response code metrics I started recoding to set up cache server alerting. For every 401 I got  a 200 immediately after.

[2017-12-02 05:54] djudd-stripe commented on #3527
Maybe relatedly, it doesn't appear possible to return these providers from a custom rule. To specify that a rule accepts `proto_library` inputs, you can write `providers=["proto"]`, but Bazel does not accept "proto" as a valid return type from a rule implementation. If there's a way to make this work as-is, it would be useful to document it; if not, it would be a nice feature, to support plugging

[2017-12-02 06:23] cgrushko commented on #3527
@djudd-stripe for this to work, we need to expose ProtoSourceProvider [1] to Skylark. I haven't done something like this, but in general it means adding a function to a top-level Skylark module. It's straightforward but we never got around to doing this.

This will allow you to write a custom `proto_library` rule - what's your use case?

[1] - https://github.com/bazelbuild/bazel/blob/b3da717469e23

[2017-12-02 06:33] djudd-stripe commented on #3527
Thanks for the response!

We've written custom proto_library-equivalent rules to get features like those requested in https://github.com/bazelbuild/bazel/issues/4201 and https://github.com/bazelbuild/bazel/issues/3867

Another use case involves tooling for passing schema definitions between repos. Our implementation involves uploading proto descriptor sets to a shared blob store in a build step, a

[2017-12-02 06:36] djudd-stripe commented on #3527
I'd be happy to take on implementing this sometime in the next few weeks, but might need some support.

[2017-12-02 06:50] cgrushko commented on #4201
Our internal solution for this, so far, is a tiny Skylark rule which concatenates the individual descriptors (protobuf's wire format allows for that) and exposes a single file.

Then we wrap a `proto_library` rule in that Skylark rule and get a single file.

I can run the code through the open-sourcing process and publish it, but really it's no more than `cat ${list of files from proto.transitive_

[2017-12-02 06:52] cgrushko commented on #3527
@brandjon for help in exposing provider instantiation to Skylark.

[2017-12-02 06:54] djudd-stripe commented on #4201
I'm doing the same thing, but I couldn't figure out how to get the result to be treated like or usable in a native `proto_library`.

[2017-12-02 10:28] akira-baruah commented on #4206
Thanks for the heads up @iirina!

I was able to reproduce the bug and I'm testing a fix. I'll submit a PR once I confirm the fix locally.

[2017-12-02 11:15] akira-baruah commented on #4208
#3855 ultimately deprecates and removes gflags in favor of abseil's flags package, so it may take longer for that PR to be fully merged (for backwards compatibility concerns).

#4212 seems to fix this bug on my local machine, but please let me know if you continue to see any problems.

[2017-12-02 11:39] akira-baruah commented on #4206
@iirina @jin #4212 should resolve these breakages.

[2017-12-02 17:38] abergmeier opened #4213 "Docker tests enforce specific docker setup"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:

When trying to run `bazel test //src/test/...` the docker tests fail, since they are not allowed to access `~/.docker` nor execute `docker <anything>`. The default setup on Ubuntu is that the user does not

[2017-12-03 14:43] #3193 closed

[2017-12-03 14:49] hmemcpy commented on #4120
After discussing this further with @ittaiz, we decided the best course of action would be to escape it in the plugin, and handle it in rules_scala.
The plugin will always Pattern.quote the test name filters.

For now, this should probably be a Note in the rules_scala/specs2 documentation.

Thanks! Closing.

[2017-12-03 14:49] #4120 closed

[2017-12-03 20:45] ittaiz commented on #4120
Mainly since the other alternative we had in mind meant disabling the usage
of regex from the command line.
Maybe there is a place to add another parameter that says if the test
filter is a regex or not
On Sun, 3 Dec 2017 at 16:49 Igal Tabachnik <notifications@github.com> wrote:

[2017-12-03 21:09] thinlizzy opened #4215 "when bazel running a cc_binary in Windows, the C++ app can't find its data dependencies"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:

I have a cc_binary rule with a single .cpp file and one data dependency. I have no means to tell the application where to find the data.

### If possible, provide a minimal example to reproduce the problem:

[2017-12-04 01:24] mafanasyev-tri opened #4216 "occasionally, bazel hangs, pretending to compile file forever"
### Description of the problem / feature request / question:

We run bazel on AWS cloud as a part of CI builds. We have tried to enabled the sandbox with:
`--spawn_strategy=sandboxed --experimental_sandbox_base=/dev/shm`

and found that the build process times out occasionally (maybe 5-10% of the builds). The logs always show the same behavior: a single file (a new one every time) takes forever to

[2017-12-04 01:34] rnburn opened #4217 "CC Variable is ignored on OSX"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:

CC won't set the compiler on OSX, as it does on linux.

### If possible, provide a minimal example to reproduce the problem:

[code]
gives the error
[code]
showing that it's running clang and not the gcc co

[2017-12-04 05:24] th0br0 opened #4218 "Test cannot load other library target at runtime via dlopen"
### Description of the problem / feature request / question:

There is no easy way for a test to load another target at runtime using dynloading.
The only solution I have found so far is to add the library to `deps` and then reference via e.g. "`$CWD + /../_solib_local/libtests_Slibmylib.so`" but this is an ugly hack. There seems to exist no way to add the output of a `cc_library` target to the te

[2017-12-04 07:14] abergmeier commented on #4217
Did you validate that `CC='/usr/local/bin/g++-7' bazel build //:t` works?

[2017-12-04 07:22] rnburn commented on #4217
Doesn't make any difference. From this part of the output,
[code]
you can see it prints out `CC=/usr/local/bin/g++-7 `, so it's picking up the environmental variable; it's doing nothing with it.

[2017-12-04 07:32] abergmeier commented on #4217
So the good news is, from looking at the code, it seems like configure (in Skylark) is correct.
Your problem is probably coming from somewhere in Java. Maybe @mhlopko knows more details, when clang vs gcc is chosen on macOS.

[2017-12-04 08:59] buchgr commented on #3517
@lberki can tell you more about plans for python.

[2017-12-04 09:21] damienmg commented on #3773
So adding @iirina this week sheriff.

Status: candidate not possible, there was no nightly due to the disconnected mac slaves. The nightly is now running, I will update the status once it has run.

[2017-12-04 09:26] ulfjack commented on #4208
I still see some failures with the patch, but I suppose they're not the same root cause? In any case, I merged the patch from @akira-baruah, so hopefully this is fixed now.

[2017-12-04 09:48] laszlocsomor opened #4219 "Build Encyclopedia: document `genrule.stamp`"
Even though `genrule.stamp` is supported in Bazel, not just Blaze, it's not documented publicly.

[2017-12-04 09:49] laszlocsomor opened #4220 "User Manual: document `--workspace_status_command`"
The documentation is missing for this.

I offer my answer on https://stackoverflow.com/questions/47622645 as source material for this.

[2017-12-04 09:59] damienmg commented on #3773
So the nightly failed in bootstrapping on a python error on gflags...

[2017-12-04 10:02] damienmg commented on #3773
It happens only on Ubuntu 14.04, list of changes in the nightly:

- Properly enforce one version for android_robolectric_test targets by (commit: 3c5581d)
- Remove unused adb_jobs flag. (commit: bda9ada)
- Match upstream python-gflags-3.1.0 imports (fixes #3816) (commit: fb15f0f)
- Update python-gflags to version 3.1.1 (commit: 8fd0f4a)
- Windows: Don't leak any handles from Bazel client to Bazel

[2017-12-04 10:36] buchgr commented on #3360
What do you think about recomputing the action hash (incl. source file hashes, affected merkle tree paths) before uploading to the remote cache?

The code changes would be limited to the remote package. It's not clear to me that this would be noticeable in performance. Furthermore, the cost of hashing could be hidden by concurrently uploading output artifacts and only uploading the action hash if

[2017-12-04 10:49] dslomov commented on #4196
rc1 is created with a moral equivalent of `scripts/release/release.sh create 0.8.1 cff0dc9 8a49b15 275ae45 d0bf589 9738f35 0d6ff47 49008a3 f499ddc `

[2017-12-04 11:12] damienmg commented on #3773
So I got more time to investigate failures of the latest nightly that ran fully before the mac issues:

  - rules_go (and buildifier and buildtools) are failing likely due to 337f19cc54e77c45daa1d5f61bf0a8d3daf8268f: i'll probably rollback and rollforward with fixing rules_go.
  - intellij is broken due to ` --incompatible_disallow_set_constructor` disappearing coming from /cc @vladmos

The other

[2017-12-04 11:31] ulfjack commented on #4206
Patch is merged and live. I missed the "fixes" lines from the commit description, which is why this wasn't auto-closed.

[2017-12-04 11:31] #4206 closed

[2017-12-04 12:38] dbabkin opened #4221 "Fix return type for JavaInfo.getSourceJars()"
etSourceJars() returns SkylarkList<Artifact> now.

Should be NestedSet<Artifact> as was before in JavaSkylarkApiProvider and to be consistent with other methods which returns collection of Jar files.

Also consider some cleaning in scope of this task, as this method can be already used by someone.

[2017-12-04 13:23] mhlopko commented on #4217
Pasting the answer from https://stackoverflow.com/questions/47624689/how-to-set-c-compiler-on-os-x-with-bazel:

`CC` correctly works only when you use the C++-only toolchain. If you have Xcode installed, bazel will detect this and automatically pick a different toolchain, the one that supports both C++ and ObjC. This toolchain can only use Xcode-provided clang.

This is unfortunate and I propose t

[2017-12-04 13:49] dslomov commented on #4196
Pushed rc3, fixing some merges

[2017-12-04 13:55] siddharthab opened #4222 "clientEnv is cached for workspace status command"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:
The client environment passed to the BazelWorkspaceStatusModule is cached across runs.
https://github.com/bazelbuild/bazel/blob/d926bc40260549b997a6a5a1e82d9e7999dbb65e/src/main/java/com/google/devtools/buil

[2017-12-04 14:04] iirina commented on #4218
CC: @mhlopko

[2017-12-04 14:11] iirina commented on #4216
CC: @philwo could you take a look? Is it a sandbox bug?

[2017-12-04 14:13] iirina commented on #4217
I will close this as @mhlopko answered and provided 2 solutions.

[2017-12-04 14:13] #4217 closed

[2017-12-04 14:21] iirina commented on #4215
CC: @laszlocsomor Do you know why this doesn't work on Windows?

[2017-12-04 14:30] laszlocsomor commented on #4215
See https://groups.google.com/d/msg/bazel-discuss/Po8xN8dhWkI/sWPUYV9YBAAJ

[2017-12-04 14:30] #4215 closed

[2017-12-04 14:31] philwo commented on #4216
Hi @mafanasyev-tri,

could you please try running with `--spawn_strategy=linux-sandbox` instead of just `=sandboxed`? This will force Bazel to use the more advanced Linux sandbox which uses PID namespaces, etc. for added reliability.

Please report back if that a) works at all (or immediately errors with a message that Bazel cannot find the mentioned Spawn strategy) and b) if it still causes you t

[2017-12-04 14:38] iirina commented on #4211
How do you get the `some_program_compiled_with_bazel` binary? Is it a `cc_binary`? How do you specify the `glfw` dependency?

[2017-12-04 14:42] iirina commented on #4209
CC: @ulfjack

[2017-12-04 15:15] katre commented on #4194
Thanks for checking!

[2017-12-04 15:15] #4194 closed

[2017-12-04 15:24] jianglai commented on #3215
@mhlopko Has there been any progress on this front? This is also affecting Debian based distros, which has a much larger install base than just macOS. Running [this](/usr/local/google/home/jianglai/.cache/bazel/_bazel_jianglai/ad33e24b04732429442ef546daa88f07/bazel-sandbox/7366477988851648032/execroot/domain_registry/_tmp/75f39134e66273333c988fe3f1047940/gpgtest661830835710385500/.gnupg) test rule

[2017-12-04 15:25] iirina commented on #4205
I tried to reproduce but did not get the same error. When I run `bazel test :test` I get `ERROR: No test targets were found, yet testing was requested`, because `alias` is not a test rule. If I run `bazel run :test` everything works fine. Can you add more details about your setup?

[2017-12-04 15:28] iirina commented on #4202
cc: @laurentlb

[2017-12-04 15:35] iirina commented on #4197
How would you do this prior to Bazel 0.8?

`deploy_manifest_lines` lets you add lines to the manifest of the deploy jar generated by `java_binary`. `java_library` doesn't create any deploy jar.

Why did you need to manipulate the manifest file? Can you describe how would this help you? Thanks!

[2017-12-04 15:43] iirina commented on #4195
cc: @aehlig

[2017-12-04 16:02] philwo commented on #3215
@laszlocsomor is our designated expert on all things related to temporary directories. Reassigning.

[2017-12-04 16:11] laszlocsomor commented on #3215
Starting from Bazel 0.8.0, every action has:
- `TMPDIR` envvar on Linux/macOS
- `TEMP` and `TMP` envvars on Window.

They point to safe temp dirs that the action can use. Ironically, the reason I implemented that feature was exactly `Files.createTempFile`. :)

[2017-12-04 16:24] jianglai commented on #3215
@laszlocsomor Can you elaborate a bit on how to actually solve the issue? Looking at 0.8.0 release log, should I just add --sandbox_tmpfs_path=/tmp to bazel test? Or do I have to make some changes to the code as well?

[2017-12-04 16:55] aj-michael commented on #4208
Reopening because Android builds now produce an unacceptable level of console spam of RuntimeWarnings:

[code]

[2017-12-04 16:59] mafanasyev-tri commented on #4216
The `linux-sandbox` strategy works -- there are no immediate errors

Unfortunately, the bug still happens -- I run 10 build jobs, and one of them seems to be stuck already.
The zombie process appears as `[java] <defunct>`

[2017-12-04 17:05] philwo commented on #4216
That's really weird. Would you mind posting a process tree (something like "ps axuf" prints) with your Bazel server as the root? Feel free to remove any personal information. I'm just trying to figure out what that job could be...

It sure sounds like Bazel is waiting for this defunct process to exit and this is causing your hanging build, but when using the linux-sandbox, that "java" process woul

[2017-12-04 17:10] mafanasyev-tri commented on #4216
here is relevant `ps axuf` output:
[code]

also jstack on the bazel process does not work, I don't know enough about java to debug:
[code]

I will let you know about java sandbox disabling soon

[2017-12-04 17:24] meteorcloudy opened #4223 "genrule doesn't rebuild its dependencies completely"
### Description of the problem / feature request / question:

When a genrule depends on a py_library rule, and the py_library depends on a cc_binary (through data attribute), then the genrule doesn't rebuild when the cc_binary changes.

### If possible, provide a minimal example to reproduce the problem:
[code]

### Environment info
* Operating System:
All platforms

* Bazel version (output of `ba

[2017-12-04 17:29] laszlocsomor commented on #3215
@jianglai , I'm sorry, I made the same mistake as @mhlopko earlier, thinking the issue was about something else... Anyway, are you also trying to create a short temp dir? The shortest I can get on Linux with Bazel 0.8.0 is:

[code]

[2017-12-04 17:29] philwo commented on #3933
The name of the "usual" JVM used :) See https://en.wikipedia.org/wiki/HotSpot

Have you seen this issue again?

[2017-12-04 17:36] ola-rozenfeld commented on #3933
No, this hasn't happened again since. If it ever does, I'll try to copy the JVM logs. Let's close for now. Thank you!

[2017-12-04 17:36] #3933 closed

[2017-12-04 17:52] jianglai commented on #3215
@laszlocsomor yes we need the temp dir to be with in 108 chars.

We are using:

[code]

It uses `/usr/local/google/home/jianglai/.cache/bazel/_bazel_jianglai/ad33e24b04732429442ef546daa88f07/bazel-sandbox/7366477988851648032/execroot/domain_registry/_tmp/75f39134e66273333c988fe3f1047940/gpgtest661830835710385500/` as the tmp directory base, which is way too long.

Do you suggest us to change `null

[2017-12-04 18:13] fbriggs commented on #4211
@iirina - yes, it is a cc_binary

here is the contents of our glfw.BUILD file:

config_setting(
  name = "linux",
  values = { "cpu": "k8" },
)
config_setting(
  name = "osx",
  values = { "cpu": "darwin" },
)

[code]

[2017-12-04 18:13] mafanasyev-tri commented on #4216
Regarding previous failure:
(1) apparently "jstack" command worked at some point, it appeared in jenkins output once it timed out :
https://gist.github.com/mafanasyev-tri/b068bb27a684263bd5b66d6750054aeb
(2) I also used "gcore" to get coredump of the process. Here is the backtrace of each thread: https://gist.github.com/mafanasyev-tri/0a51760dd71e28a89126983410bc34ee

It is interesting that gdb ba

[2017-12-04 18:16] iirina commented on #4211
@fbriggs thanks!
cc: @lberki do you have any thoughts on this?

[2017-12-04 18:32] marcohu commented on #4197
I'm on 0.8. For now I'm simply using a `genrule` that manually updates the .jar file with the necessary manifest data. Instead of the `java_library` rule, I'm invoking it to create the final .jar.

    genrule(
        name = "CreateGenfilesLib",
        srcs = [":CreateLib", ":manifest"],
        outs = ["eclipse-genfiles.jar"],
        tools = ["@local_jdk//:jar"],
        cmd = "cp $(location :

[2017-12-04 18:42] janakdr commented on #3931
Hmm, the repro works for me on 0.8.0. Can you check to see if it's still failing for you?

[2017-12-04 18:47] sgreenstein commented on #3644
I recently hit this in bazel 0.8.0 on Windows. It works correctly on Linux:
[code]

[2017-12-04 18:52] mafanasyev-tri commented on #4216
Hm, I think I may have an idea. There was a kernel oops around the time the problematic file appeared, full text at https://gist.github.com/mafanasyev-tri/facfc80d9a36fccd1dc4121b13941fa6 . Summary:
[code]

Removing file from tmpfs sounds like something worker would do, so I think it is likely the oops happened as a part of bazel process. I am not sure how non-fatal kernel oops'es are handled, but

[2017-12-04 19:10] akira-baruah commented on #4208
@aj-michael Thanks for pointing out the warnings issue. See #4224 for a proper solution.

[2017-12-04 19:11] dlorenc commented on #4206
@ulfjack any idea how long this will take to get to ci.bazel.io? We're still seeing failures in rules_docker:

https://ci.bazel.io/blue/organizations/jenkins/PR%2Frules_docker/detail/rules_docker/293/pipeline

[2017-12-04 19:38] airmak opened #4225 "Failed to find underlying Bazel executable from bazel-real file"
When I tried to run the **bazel build** command on Git Bash, I encountered the error:

**Failed to find underlying Bazel executable at /usr/local/bin/bazel-real**

When I looked, there wasn't a folder at /usr/local/bin/ named "bazel-real," even though I have already downloaded Bazel from its binary.

[2017-12-04 19:49] #4225 closed

[2017-12-04 19:55] airmak opened #4226 "Error locating python.exe on PATH of msys2 shell"
Trying to compile bazel-0.8.0 from its source, I ran into the error **cannot locate python.exe; check your PATH.** when inputting the command $ ./compile.sh on the msys2 shell.

When I try to run the command **export PATH=/c/Python36:$PATH**, it's giving me an error that the export is not a valid identifier.
Furthermore, my version of Python (Python 3.6) is already in the System32 folder, which I

[2017-12-04 20:30] chaoren opened #4227 "Wrong name for bazel process"
Please provide the following information. The more we know about your system and use case, the more easily and likely we can help.

### Description of the problem / feature request / question:

Bazel process name is
[code]
instead of
[code]
This is probably because there's only one workspace with blaze, and we use the client name instead. This is wrong for bazel, however.

### If possible, provide

[2017-12-04 20:36] mmorearty opened #4228 "The same empty file written to the remote cache multiple times"
### Description of the problem / feature request / question:

I think that the same zero-byte file is written to the remote cache (content-addressable storage, CAS) twice each time a genrule is run.

I don't think this breaks any functionality; but it probably slows Bazel down a little.

### If possible, provide a minimal example to reproduce the problem:

Set up a remote cache, e.g. nginx. In thi

[2017-12-04 20:39] #4226 closed

[2017-12-04 20:42] airmak opened #4229 "Error locating GNU coreutils on MSYS2 shell"
Trying to run **./compile.sh** to compile Bazel from its source, I run into the following error:
**cannot locate GNU coreutils; check your PATH.
       (You may need to run 'export PATH=/bin:/usr/bin:$PATH)'**

Even when the suggested command is run, the following error pops up:
**-bash: export: `/bin:/usr/bin:': not a valid identifier**

[2017-12-04 20:49] #4028 closed

[2017-12-04 20:49] #4056 closed

[2017-12-04 20:49] #4202 closed

[2017-12-04 20:54] aj-michael opened #4230 "Add a tag for tests that only pass on Windows"
I noticed that //third_party/def_parser:def_parser_test only works on Windows. In fact, it does not build on mac or linux. We use the "no_windows" tag to mark tests that dont work on Windows. Perhaps we should have a corresponding tag to indicate tests that only work on Windows?

This is an issue for our internal CI system which uses bazel query to determine which tests to run on mac, but currentl

[2017-12-04 21:03] rnburn opened #4231 "Support selecting C++ Only toolchain."
### Description of the problem / feature request / question:

Setting bazel up to use GCC on OSX is currently a difficult task.

This follows on from [suggestion (1)](https://github.com/bazelbuild/bazel/issues/4217#issuecomment-348960808) in #4217 and proposes adding an option to select the C++ only toolchain so that you can easily specify the compiler with CC.

###  Have you found anything releva

[2017-12-04 21:07] fbriggs commented on #2055
bazel 0.8.0 introduced an issue which breaks dynamic linking of the GLFW library on os x:
https://github.com/bazelbuild/bazel/issues/4211#issuecomment-349053506

I was hoping that static linking GLFW would be a workaround for that, but based on the discussion above, it seems that static linking on os x doesn't work with bazel (I get the lazy linking behavior).

so basically now the situation is:
1

[2017-12-04 21:12] fbriggs commented on #4211
I was hoping to work around this by statically linking glfw, but the discussion in (https://github.com/bazelbuild/bazel/issues/2055) appears to suggest that static linking doesnt work on os x.. ugh. so basically bazel 0.8.0 cannot link glfw statically or dynamically

[2017-12-04 21:56] fbriggs commented on #4211
Here's a minimal test case where I only compile glfw (and none of the rest of our project). In this case, it is working fine on OS X and with bazel 0.8.0.
[glfw_minimal.zip](https://github.com/bazelbuild/bazel/files/1528929/glfw_minimal.zip)

So this seems to suggest the problem I am seeing is more complicated / quite possible I have not provided enough info to see what's going on in the notes abo

[2017-12-04 22:21] jin commented on #4208
Warning spam during build/test is fixed on my local machine, closing this issue. Thanks @akira-baruah for the quick fix!

[2017-12-04 22:21] #4208 closed

[2017-12-04 22:26] jin commented on #3773
#4208 is also fixed.

[2017-12-04 23:14] camillol commented on #2109
I would suggest reclassifying this from "feature request" to "bug".

[2017-12-05 00:36] siddharthab commented on #4222
cc @razvanm

[2017-12-05 00:37] akira-baruah commented on #4227
@chaoren if https://github.com/akira-baruah/bazel/commit/81d8d1270a0bff17c1bcfab6251c57783473d669  makes sense, please let me know and I'll make a pull request.

[2017-12-05 00:41] chaoren commented on #4227
I think it should first try to use the workspace name. If the workspace doesn't have a name, then use the workspace directory name.

I.e., if the `WORKSPACE` contains this
[code]
then it should be `bazel(foo)`.

[2017-12-05 01:21] akira-baruah commented on #4227
I could be wrong, but it seems that `WORKSPACE` is parsed by the server, so setting the server process name to the value of `workspace(name = "foo")` at start up might be a circular dependency. Any ideas?

[2017-12-05 03:54] fbriggs commented on #4211
after digging into this more, I have found that it doesn't reproduce in bazel 0.8.0 in a simplified test case consisting of an executable which depends only on GLFW. instead, it seems to be related to the list of dependencies for the cc_binary. In particular, the order of the list of deps for the cc_binary matters! if I move glfw to be first in the list of deps, then inspect the resulting executab

[2017-12-05 05:35] akira-baruah commented on #3951
@damienmg @dslomov The docs for `expand_template` appear to correctly reference `is_executable` now. Has this bug been resolved?

[2017-12-05 07:23] benjaminp commented on #4223
`lib_cc.so` doesn't end up being an input to the genrule because it's simply in `lib`'s runfiles, and `lib`, being non-executable, doesn't have a runfiles tree. So, the lack of rebuilding is correct. Using a `py_library` in the `srcs` of a genrule doesn't seem too useful. If you want to build Python extensions, the Python rules need to gain some native dep support.

[2017-12-05 07:57] laszlocsomor commented on #4230
We already have such tests, and what I usually do is using a `select` and running an empty test on non-Windows. This has the advantage that it does not require `tags`-based filtering (and that the tags are consistent across the code base), with the (in my opinion negligible) drawback that Bazel will complain that the test ran too fast for its size.

Example: https://github.com/bazelbuild/bazel/blo

[2017-12-05 08:19] ulfjack commented on #4223
I agree with @benjaminp's assessment.

[2017-12-05 08:37] hhclam commented on #3410
I have gotten a bazel build that works for both JDK8 and JDK9. I created the fork is here: https://github.com/hhclam/bazel/commits/java9. The fork has only one commit with very little code change: https://github.com/hhclam/bazel/commit/64212c8026df9fc6361d5af8414acc373e221955.

It's fair to say that it is tricky but Bazel is mostly capable to run in both JDKs. If you build bazel from source with a

[2017-12-05 09:13] #3573 closed

[2017-12-05 09:28] dslomov commented on #4013
Looks like the slowness is in bash, not in Bazel (we do not call anything from msys-2.0.dll)
The only action we can (and should) take is to allow you to write genrules that do not involve bash.

[2017-12-05 09:28] #4013 closed

[2017-12-05 09:32] laszlocsomor commented on #3215
Yes, please try that.

What scenario do you have mind?

If I understand the docs correctly, `createTempFile` guarantees that the file name it returns is unique:

(source: https://docs.oracle.com/javase/8/docs/api/java/io/File.html#createTempFile-java.lang.String-java.lang.String-java.io.File-)