[2019-01-13 10:26] unrstuart opened #7104 "gdb on MacOS from bazel builds can't execute binary."
### Description of the problem / feature request:

$subject

When I build something using bazel build -c dbg //path/to:binary, then try to run it using gdb bazel-bin/path/to/binary, as soon as I tell gdb to run, it exits with an unknown signals.

[code]

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

int main(int argc, char ** argv)

[2019-01-13 13:04] mboes opened #7105 "macOS: New C++ Starlark API provides no way to use compiler"
### Description of the problem

The new C++ Starlark API provides a `find_cpp_toolchain()` function, which returns a `cc_toolchain` struct, which embeds the path to the compiler, linker and other tools in the C++ toolchain. The problem is this: on macOS, `cc_toolchain.compiler_executable()` returns a relative path (rather than an absolute path everywhere else), but since this path is a string, the

[2019-01-13 13:39] mboes commented on #7105
It appears that all `File`s for all C++ tools are all in `ctx.files._cc_toolchain`. Is this documented anywhere? So far we've only managed to use the new Starlark API by copy/pasting various snippets helpfully provided in tickets by @hlopko, but we are still non the wiser.

[2019-01-13 17:51] isaachier opened #7106 "Is this comment accurate?"
The comment here seems incorrect. The rule deals with C++, not Java. How does this relate to Bazel compiling itself?

https://github.com/bazelbuild/bazel/blob/890dfa018882c08c3b54a5c70e9d479cf1392cfd/tools/build_rules/genproto.bzl#L15-L16

[2019-01-14 06:30] uri-canva opened #7108 "output safe bazelrc files"
### Description of the problem / feature request:

`bazelrc` files that only allow options that don't affect the output.

### Feature requests: what underlying problem are you trying to solve with this feature?

Our developers would like to customise some options in their `~/.bazelrc` files, especially relating to the terminal output, but we use `--nohome_rc` because we're worried people will intr

[2019-01-14 07:00] laszlocsomor commented on #4496
Thanks!

[2019-01-14 07:00] #4496 closed

[2019-01-14 08:39] basavaraj29 opened #7109 "bazel coverage support for Scala"
### Description of the problem / feature request:

Code Coverage support for Scala.

### Feature requests: what underlying problem are you trying to solve with this feature?

We need to track code coverage statistics for scala. We've seen that `bazel coverage` works for Java, but we are not able to find any pointers for tracking scala code coverage using bazel.

### What operating system are you r

[2019-01-14 08:48] meisterT commented on #7004
cc @iirina @hlopko

[2019-01-14 08:54] hlopko commented on #7105
Hi Mathieu,

I'm sorry you have trouble there. As you correctly noticed, there are 2 independent things that both have to happen for a compilation to succeed.

First is the correct command line, that is done by the Starlark API to the C++ toolchain (feature configuration, variables, action names, `get_memory_inefficient_command_line` are all parts of this api, `cc_toolchain.compiler_executable()`

[2019-01-14 09:03] ulfjack commented on #7052
I'm not sure what you're looking for, exactly. The TestResult message has a duration. For the summary on the command line, I think we're just computing min, max, avg, and stddev from the durations of the individual results. Someone recently noted that the time summary isn't all that useful for tests that have multiple shards, because different shards can have very different performance profiles. P

[2019-01-14 09:13] laszlocsomor commented on #7066
@jesen8 : you don't have the `JAVA_HOME` environment variable set. See the "On Windows" part here https://docs.bazel.build/versions/master/tutorial/java.html#install-the-jdk. After you've set this environment variable open a new Command Prompt and try the build again.

[2019-01-14 09:16] laszlocsomor commented on #7066
@iamtelo : Your PATH environment variable contains the "C:\Users\Telo Anderson\.dnx\bin;" entry. Apparently cython.exe doesn't like the space in that path. As workaround, please open the "Environment Variables" system setting, remove this entry from your PATH, launch a new Command Prompt, and try the build again.

[2019-01-14 09:16] #7066 closed

[2019-01-14 09:40] meteorcloudy opened #7110 "Bazel CI: ERROR: Error evaluating WORKSPACE file"
https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/745#a166edbe-0167-4472-9b96-d3d4e6237bd3
"bazel info" is broken at HEAD with the following error message:
[code]

Bisecting tells the culprit is: https://github.com/bazelbuild/bazel/commit/f0a9c167879edb0bd6425709db22058c0ef547cc

[2019-01-14 09:40] meteorcloudy commented on #7110
/cc @laurentlb @dslomov

[2019-01-14 09:41] meteorcloudy commented on #7110
I'm rolling back the change

[2019-01-14 09:47] oquenchil commented on #7036
I added migration instructions .

[2019-01-14 10:55] #6153 closed

[2019-01-14 10:58] #7106 closed

[2019-01-14 11:23] ulfjack commented on #7026
If I remember correctly, you get a completely empty environment without ```use_default_shell_env```, and the strict one with it.

[2019-01-14 12:05] mboes commented on #5223
The new `TemplateVariableInfo` stuff looks very promising, but how do I use it for the use case exposed in the original description of this ticket? To recap, what I want is the following:

[code]

To make this work, I would need `$(FOO)` to return the absolute path to the Foo compiler. How do I do this, e.g. if the Foo compiler is actually some `cc_binary` built with Bazel?

[2019-01-14 12:30] meteorcloudy opened #7113 "Bazel CI: name 'http_jar' is not defined"
f5b71229db6b8338c068a438fd15546088ec422b is causing some downstream projects to fail with
[code]

rules_k8: https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/746#8b8ef6ea-124d-4417-9482-ef461672483b

rules_kotlin: https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/746#1ceaa1e6-5ee0-4723-986b-a51834774b87

TensorFlow: https://buildkite.com/bazel/bazel-at-head-plus-downs

[2019-01-14 13:17] dkelmer commented on #7102
The offending PR was rolled back here: https://github.com/bazelbuild/bazel/commit/f44d947a858b29d833f55ebb7f9b49834378c871

[2019-01-14 13:17] #7102 closed

[2019-01-14 13:50] meteorcloudy commented on #7113
I have two questiones:

1. How could users notice f5b7122 is going to break them?
2. How could they test with the release version of Bazel when trying to fix it? (There is no incompatible flag guarding f5b7122 )

[2019-01-14 13:59] aehlig commented on #7113
Side remark: at least in the case of tensorflow, this "breakage" is purely an artifact of our test procedure. Tensorflow [dispatches on the version of `bazel`](https://github.com/tensorflow/tensorflow/blob/3ed46c325f70e2f1521b850b43d2b174101d9472/third_party/toolchains/preconfig/generate/archives.bzl#L7) and only uses a version of `bazel_toolchains` using the `native.http_file` if it believes that

[2019-01-14 14:09] meteorcloudy commented on #7113
@aehlig Thanks for the investigation, TensorFlow now has a minimal Bazel version requirement of 0.19, I will send a fix to remove the old toolchain.

[2019-01-14 15:26] #7113 closed, assigned to meteorcloudy

[2019-01-14 15:33] meteorcloudy opened #7115 "Bazel reports build success when it was not successful"
This bug was filed at https://github.com/bazelbuild/continuous-integration/issues/449, but it should be a Bazel bug

/cc @c-parsons @laurentlb

[2019-01-14 15:46] laurentlb commented on #7115
In the interpreter, we throw an exception for this. It is properly reported one level up: `package contains errors: e2e/output_runner`. But later, something swallows the error. I don't know what happens, I suspect it's related to `--keep_going`, so assigning to core team to investigate.

[2019-01-14 15:46] katre commented on #5223
To answer your question: you need to define a rule that can define the FOO Make variable, possibly like this:

[code]

Then you can do this:
[code]

You can change the implementation of foo_supplier to take a label and export the path, to take a list of labels and compute a path string somehow, etc etc.

However, if all you really want is to know where a cc_binary is, I recommend not using Templat

[2019-01-14 16:03] laurentlb commented on #7115
Repro:
[code]

If one package cannot be loaded, but all other tests pass, Bazel returns 0.

[2019-01-14 16:36] #7031 closed

[2019-01-14 18:17] keith commented on #7036
@oquenchil I think there's a depo for the new version of `system_include_directories`

[2019-01-14 18:18] andyscott opened #7116 "Lack of --[no]allow_undefined_configs option cuts into usability of --config options"
### Description of the problem / feature request:

Bazel 0.16.0 onwards has removed the ability to use "undefined" config options. This is extremely problematic for flagging config options for certain bazel commands (such as build/test) and not others (such as query), as I've been applying config options broadly for all bazel commands depending on the host environment.

First, consider the followi

[2019-01-14 18:52] andyscott commented on #7116
Minor update:

I believe, instead of:
[code]
you can just leave the right hand side empty:
[code]

But it's still a hack/trick/workaround 😄.

[2019-01-14 19:10] keith commented on #7036
It also looks like this legacy shim file isn't in the 0.22 RC https://github.com/bazelbuild/bazel/tree/release-0.22.0/tools/cpp is this something that's going to be released with this or not? Otherwise we can't migrate until 0.23

[2019-01-14 20:03] ericfelly commented on #7115
Nathan, can you take a look?

[2019-01-14 20:08] haxorz commented on #7115
is this really P1?

[2019-01-14 20:55] jin commented on #7115
@haxorz if it's not a P1 according to the [definitions](https://www.bazel.build/maintainers-guide.html#priority), please reassign as required. thanks!

[2019-01-14 20:59] dkelmer opened #7118 "Can't debug bazel"
### Description of the problem / feature request:
Debugging a bazel built from head causes the server to crash at start up

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

I synced to commit 070c5ba5b037c8334d2cc9a001b32019be64262e.
`bazel build src:bazel`
then
`$devbazel --host_jvm_debug build //some:target`

### What operating syst

[2019-01-14 21:09] keith commented on #6494
I believe that [this file](https://github.com/bazelbuild/bazel/blob/f0e4811e5c1d824c8bb8d3fb2058b41f7ea6af60/tools/cpp/legacy_cc_starlark_api_shim.bzl) should be included in 0.22 otherwise the migration window for the new CcInfo provider https://github.com/bazelbuild/bazel/issues/7036 doesn't really include 0.22. Also if you're using this API currently, you'll have to use `--noincompatible_disable

[2019-01-14 21:36] clintharrison opened #7119 "Test rules are unable to handle signals"
### Description of the problem / feature request:

Tests are currently unable to respond to signals unless `--experimental_split_xml_generation` is  used.
To ensure all `test.xml` logs are written, [`test-setup.sh`](https://github.com/bazelbuild/bazel/blob/master/tools/test/test-setup.sh) traps all signals to write this file with the contents of stdout, exit code, etc. This is similar to #6338 in

[2019-01-14 21:39] ejona86 commented on #1952
I filed [a StackOverflow question](https://stackoverflow.com/questions/54119248/how-to-upgrade-a-bazel-aware-librarys-maven-dependency) where bind() seems to be the only real solution. I've not seen any solution other than `bind()` which fixes transitive dependencies cross-repo for Maven artifacts.

Generating java_library()s in third_party simply doesn't work from within a library because there i

[2019-01-14 21:59] davido opened #7120 "Why Gerrit build with Bazel built with JDK11 and ran with VanillaJavaBuilder is much faster than vanilla Bazel version?"
I commented this experiment on this [PR](https://github.com/bazelbuild/continuous-integration/pull/333#issuecomment-454174507), but then decided to report it here.

Bazel@HEAD (94669e8cef15a7b8477c41b9785b415c9377df97) can be built with Java 11, so that something like this works:

[code]

Then to make use of it, I added this line to `~/.bazelrc`:

[code]

And then I tested to build gerrit with Baz

[2019-01-14 22:48] brandjon opened #7121 "Remove Python uses_shared_libraries provider field"
On the py provider, `uses_shared_libraries` is unused in Bazel and only used for a deprecated runtime within Google. There's likely no need to keep it in the codebase.

[2019-01-14 22:49] brandjon commented on #7010
Related issues: #7054 and #7121.

[2019-01-14 22:52] jin commented on #7082
@laszlocsomor could you add a [priority](https://www.bazel.build/maintainers-guide.html#priority) to this issue, please?

[2019-01-14 22:53] jin commented on #7020
@gregestren could you add a [priority](https://www.bazel.build/maintainers-guide.html#priority) to this issue, please?

[2019-01-14 22:54] jin commented on #6987
@joeleba could you add a [priority](https://www.bazel.build/maintainers-guide.html#priority) to this issue, please?

[2019-01-14 22:54] jin commented on #6986
@joeleba could you add a [priority](https://www.bazel.build/maintainers-guide.html#priority) to this issue, please?

[2019-01-14 22:55] jin commented on #6983
@scentini could you add a [priority](https://www.bazel.build/maintainers-guide.html#priority) to this issue, please?

[2019-01-14 22:55] jin commented on #6900
@scentini could you add a [priority](https://www.bazel.build/maintainers-guide.html#priority) to this issue, please?

[2019-01-14 22:55] jin commented on #6882
@gregestren could you add a [priority](https://www.bazel.build/maintainers-guide.html#priority) to this issue, please?

[2019-01-14 22:56] jin commented on #6804
@laurentlb could you add a [priority](https://www.bazel.build/maintainers-guide.html#priority) to this issue, please?

[2019-01-14 22:56] mboes commented on #7105
Thank you for the info. I remember struggling with whether to use `compiler_executable()` or `get_tool_for_action()`. Also whether to use `get_environment_variables()` or to not bother with it. In general, the examples you pasted in this and other tickets have been helpful. I found similar ones on StackOverflow. But would be easier to refer back to them if they are part of the documentation your a

[2019-01-14 22:56] jin commented on #5869
@philwo could you add a [priority](https://www.bazel.build/maintainers-guide.html#priority) to this issue, please?

[2019-01-14 22:58] c-parsons commented on #6804
I would assess P3. Feel free to change if you disagree.

[2019-01-14 23:00] jin commented on #6045
@katre could you add a [priority](https://www.bazel.build/maintainers-guide.html#priority) to this issue, please?

[2019-01-14 23:01] jin commented on #6052
@scentini could you add a [priority](https://www.bazel.build/maintainers-guide.html#priority) to this issue, please?

[2019-01-14 23:02] jin commented on #6080
@laurentlb @c-parsons could you add a [priority](https://www.bazel.build/maintainers-guide.html#priority) to this issue, please?

[2019-01-14 23:03] jin commented on #6088
could you add a [priority](https://www.bazel.build/maintainers-guide.html#priority) to this issue, please?

[2019-01-14 23:03] jin commented on #6102
could you add a [priority](https://www.bazel.build/maintainers-guide.html#priority) to this issue, please?

[2019-01-14 23:03] jin commented on #6113
@lberki could you add a [priority](https://www.bazel.build/maintainers-guide.html#priority) to this issue, please?

[2019-01-14 23:04] jin commented on #6217
@hlopko could you add a [priority](https://www.bazel.build/maintainers-guide.html#priority) to this issue, please?

[2019-01-14 23:06] jin commented on #6948
cc @fweikert

[2019-01-14 23:07] jin commented on #6230
@laurentlb could you add a [priority](https://www.bazel.build/maintainers-guide.html#priority) to this issue, please?

[2019-01-14 23:09] jin commented on #6252
@rupertks could you add a [priority](https://www.bazel.build/maintainers-guide.html#priority) to this issue, please?

[2019-01-14 23:11] jin commented on #6339
@laszlocsomor could you add a [priority](https://www.bazel.build/maintainers-guide.html#priority) to this issue, please?

[2019-01-14 23:11] jin commented on #6364
@gregestren could you add a [priority](https://www.bazel.build/maintainers-guide.html#priority) to this issue, please?

[2019-01-14 23:12] jin commented on #6391
@laurentlb could you add a [priority](https://www.bazel.build/maintainers-guide.html#priority) to this issue, please?

[2019-01-14 23:12] jin commented on #6516
@gregestren could you add a [priority](https://www.bazel.build/maintainers-guide.html#priority) to this issue, please?

[2019-01-14 23:12] jin commented on #6580
@lberki could you add a [priority](https://www.bazel.build/maintainers-guide.html#priority) to this issue, please?

[2019-01-14 23:12] jin commented on #6584
@scentini could you add a [priority](https://www.bazel.build/maintainers-guide.html#priority) to this issue, please?

[2019-01-14 23:13] jin commented on #6615
@scentini could you add a [priority](https://www.bazel.build/maintainers-guide.html#priority) to this issue, please?

[2019-01-14 23:13] jin commented on #6652
@lberki could you add a [priority](https://www.bazel.build/maintainers-guide.html#priority) to this issue, please?

[2019-01-14 23:13] jin commented on #6659
@aehlig could you add a [priority](https://www.bazel.build/maintainers-guide.html#priority) to this issue, please?

[2019-01-14 23:13] jin commented on #6680
@juliexxia could you add a [priority](https://www.bazel.build/maintainers-guide.html#priority) to this issue, please?

[2019-01-14 23:13] jin commented on #6696
@scentini could you add a [priority](https://www.bazel.build/maintainers-guide.html#priority) to this issue, please?

[2019-01-14 23:14] jin commented on #6697
@scentini could you add a [priority](https://www.bazel.build/maintainers-guide.html#priority) to this issue, please?

[2019-01-14 23:14] jin commented on #6785
@rupertks could you add a [priority](https://www.bazel.build/maintainers-guide.html#priority) to this issue, please?

[2019-01-14 23:14] jin commented on #6794
@scentini could you add a [priority](https://www.bazel.build/maintainers-guide.html#priority) to this issue, please?

[2019-01-14 23:58] dkelmer commented on #7099
The functionality to fix these issues is actually still gated behind a flag, `--experimental_remap_main_repo`. Passing the flag fixes the issue in Jay's repro example. @siddharthab, can you check if passing the flag helps in your repo? Thanks!

[2019-01-15 00:17] mboes opened #7122 "run_shell quoting broken on Windows"
### Description of the problem

Quoting of the command in `ctx.actions.run_shell()` does not work the same way on Windows and on Unix.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Consider the following `BUILD` file:

[code]

with `args_test.bzl`:

[code]

On Linux, we get "a b c" printed on the console, before Bazel complains th

[2019-01-15 00:20] mboes commented on #6391
This issue I just filed is superficially related: https://github.com/bazelbuild/bazel/issues/7122. But concerns differences in behaviour between Windows and Linux.

[2019-01-15 00:46] siddharthab commented on #7099
Verified that the flag works. Thanks everyone.

[2019-01-15 01:57] jmillikin commented on #7036
The docstring for `linking_context` in https://docs.bazel.build/versions/master/skylark/lib/CcInfo.html has a typo. It is `CcLinkingContext`, and should be `LinkingContext` to match https://docs.bazel.build/versions/master/skylark/lib/LinkingContext.html.

Alternatively, prefix the context types with `Cc` so the user doesn't have to what what _kind_ of compilation it's contexting.

[2019-01-15 02:02] SuperSaiyan30 opened #7123 "When I compile andorid so using bazel build and reference this so in a new project, the generated so will be linked to the absolute path."
### Description of the problem / feature request:

When I compile andorid so using bazel build and reference this so in a new project, the generated so will be linked to the absolute path.

### Feature requests: what underlying problem are you trying to solve with this feature?

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Recurri

[2019-01-15 02:04] dkelmer commented on #7099
Awesome, thanks for checking! I'm closing the issue.

[2019-01-15 02:04] #7099 closed

[2019-01-15 07:32] gdeest commented on #7122
Confirmed on Bazel 0.21.

[code]

[2019-01-15 07:41] talya commented on #5869
small update from our side - we have a poc of a new direction that seems to be promising - In a nutshell the solution is to start a “routing” container and have it implement a *docker network driver* and have the containers our tests start connect to that network.
We use the namespace of the bazel linux-sandbox process (as it appears in root pid namespace), and then the routing container knows to

[2019-01-15 08:13] lberki commented on #6958
My guess: the place where we collect native libraries:

https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/rules/java/NativeLibraryNestedSetBuilder.java#L59

does not handle the `JavaInfo` provider so it's not entirely surprising.

What are you using Java native library support for? TBH, we haven't given it a lot of attention (at least in Bazel) so I'd not

[2019-01-15 08:16] iirina opened #7124 "Use the new coverage collection method for Java"
There is a new coverage collection method for Java available for over a year. Currently it can be enabled by using `--experimental_java_coverage`. Make this method the default.

What the new method does differently:

- makes possible collecting coverage for Starlark JVM languages and jars imported with `java_import`
- only includes JVM files in the coverage report (dismisses data files, for exampl

[2019-01-15 09:11] oquenchil commented on #7036
Thank you very much @keith, I fixed the table. Regarding the shim, it's not really necessary, it's just there for your inspiration. The old API isn't completely correct.

The first method `get_compile_flags` doesn't return the compilation command line that the C++ toolchain API would (for example, on Windows using MSVC it will still use GCC style flags). Therefore, it's better to use the C++ toolc

[2019-01-15 09:15] #6982 closed

[2019-01-15 09:33] aehlig commented on #6494
Since 3976d5835a8427cff4c805814227bda1772335c4 was committed after the cut-off date, our policy is to delay the migration window rather than to cherry-pick. I.e., #7036 would have use 0.23 as migration window and cannot flip the flag before 0.24.

[2019-01-15 09:34] aehlig commented on #7036
Our policy is to not cherry-pick for features. So you will have to delay the migration.

[2019-01-15 09:47] Maxtoq opened #7125 "Error while "bazel clean": Cannot delete path... Permission denied"
I was building Tensorflow from source with Bazel and a file got blocked by my antivirus and the build failed.
I unblocked the file, deactivated my antivirus, tried again and got this error:

I did a bazel shutdown and then a bazel clean --expunge that failed with almost the same error log:

I'm on Bazel 0.18.0.

Is there anything I can do ?
Thanks.

[2019-01-15 10:08] meteorcloudy commented on #7115
If we don't fix this issue, Bazel users (including us) could miss potential failures in the build, I think it's a pretty serious issue (P1).

[2019-01-15 10:36] lberki commented on #5463
@benjaminp , that looks like the exact right thing to do. Since that is more general than this bug, I started a thread about it here:

https://groups.google.com/forum/#!topic/starlark/3Oot_a5ife0

[2019-01-15 10:50] meteorcloudy commented on #6245
FYI, I have to disable some tests for ubuntu1804_java11
[code]
https://buildkite.com/bazel/google-bazel-presubmit/builds/14214#d7b484bc-ed66-4bf0-aa53-6b148c255e03

[2019-01-15 11:34] #6985 closed

[2019-01-15 11:34] joeleba commented on #6985
aquery output:
- Contains the CppCompileActionTemplates (for pic and nopic), with information on the inputs & outputs tree artifacts.
- Does not contain the generated CppCompileActions, since those are only available in execution phase.

[2019-01-15 11:36] laurentlb commented on #7115
I had a quick look yesterday. This issue also affects Google (Blaze) and has been around for at least a year. I'm surprised it didn't come up before.

[2019-01-15 11:51] dslomov commented on #7036
Does this mean we need to delay the breaking change beyond 0.23 @oquenchil @hlopko ?

[2019-01-15 12:02] oquenchil commented on #7036
No need to postpone. As I commented in https://github.com/bazelbuild/bazel/issues/7036#issuecomment-454318679, people don't need to rely on the bzl file.

[2019-01-15 13:32] oquenchil commented on #7036
I deleted the file from Bazel. I created a gist instead that people can copy.

[2019-01-15 14:19] dslomov commented on #7078
It is a reasonable request, but unfortunately it is pretty hard to implement.

[2019-01-15 15:32] meteorcloudy commented on #7125
Can you check if nasm.exe is somehow still running in task manager?

[2019-01-15 16:06] mzeren-vmw commented on #7125
You might also use Process Explorer [1] to search for other processes that have an open handle to nasm.exe?
[1] https://docs.microsoft.com/en-us/sysinternals/downloads/process-explorer

[2019-01-15 16:37] Maxtoq commented on #7125
Good call, I couldn't find the related processes, but I simply restarted my PC and it did the job.
So the problem is solved.
Thanks.

[2019-01-15 16:37] #7125 closed

[2019-01-15 16:38] meteorcloudy commented on #7115
Thank you!

[2019-01-15 18:12] ittaiz opened #7129 "experimental_heuristic test sharding hasn't changed in almost 4 years"
Hi,
I'm considering using test sharding and saw `experimental_heuristic` option in the [command line reference] (https://docs.bazel.build/versions/master/command-line-reference.html#flag--test_sharding_strategy).
When I went to the [code](https://github.com/bazelbuild/bazel/commit/aded1c2dbd0e06e60ff768094ab9efcc9c680911#diff-9c332600ee30b11519fe7c1ada9bc9b7) it seems that in the first commit it w

[2019-01-15 19:10] feliwir commented on #563
Is there any chance something similar to `BuildConfig` will land in a new release?

[2019-01-15 19:14] gregestren commented on #7116
Point taken. Can you describe the impact more and why the noop approach you're applying now is insufficient?  Why is it important to be able to set flags to commands that don't support them?

[2019-01-15 20:10] dkelmer opened #7130 "incompatible_remap_main_repo: treat @main_repo//, @//, and // labels as equivalent."
All PRs related to this change have been submitted and the behavior will not continue to evolve so this feature should be promoted to non-experimental state

[2019-01-15 21:38] #6160 closed

[2019-01-15 21:45] dkelmer opened #7132 "Promote --experimental_enable_repo_mapping to not be experimental"
All PRs related to this change have been submitted and so the feature is stable. Making this flag non experimental is a no-op for users not currently using the feature because users still need to opt-in by using the `repo_mapping` attribute in repository rules. Users currently using the feature will be able to stop passing the flag.

This will happen in 2 stages:
1. Make the flag a no-op and emit

[2019-01-15 22:00] susinmotion commented on #3814
We're doing some testing to find a good cpu multiplier for the auto value of --jobs, and you can expect to see this changed soon. 

But, in the meantime, --jobs now takes HOST_CPUS*<float>, so you can specify resource-relative configurations.

[2019-01-15 23:24] c-nuro opened #7134 "Race condition when running multiple cc_test coverage in one command line"
### Description of the problem / feature request:

Race condition when running multiple cc_test coverage in one command line

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

run `bazel coverage //...` in a codebase with may cc_test.
There's a chance that some coverage report for executed lines are not reported as covered for some tes

[2019-01-16 02:34] seank-com opened #7135 "Bazel cannot build itself in arm64 docker container"
### Description of the problem / feature request:

Bazel builds successfully but the ```compile.sh``` proceeds to build Bazel with Bazel and that fails. This is likely a bug in qemu, but I don't know where to get enough detail out of Bazel to investigate it any further.

### Feature requests: what underlying problem are you trying to solve with this feature?

[code]

### Bugs: what's the simplest,

[2019-01-16 04:49] jmillikin commented on #7036
I'm trying out the CcInfo provider and got a Java stack trace from what seemed like a minimal "compile C source to object code" rule.

[code]

rule:
[code]

BUILD file:
[code]

[2019-01-16 04:54] jmillikin opened #7136 "java.lang.IllegalStateException from rule using new C++ toolchain + returning CcInfo"
Using the new C++ Starlark API (https://github.com/bazelbuild/bazel/issues/4570, https://github.com/bazelbuild/bazel/issues/7036), I get a large Java stack trace when trying to build a hello world -ish `cc_library` equivalent.

Version + environment: Bazel 0.22rc1 on macOS 10.12.6.

Stack trace:

[code]

rule (trimmed let me know if you want the whole thing):
[code]

BUILD file:
[code]

[2019-01-16 04:55] jmillikin commented on #6494
I'm seeing a Bazel crash from a java.lang.IllegalStateException when using the new C++ toolchains: https://github.com/bazelbuild/bazel/issues/7136

[2019-01-16 05:20] ittaiz commented on #7129
Thanks! Can you clarify a bit about what you mean by

?

[2019-01-16 07:37] PiotrSikora commented on #6926
It should also include the ability to easily switch between GNU libstdc++ and LLVM libc++.

Currently, this requires either:
- [changes to unix_cc_configure.bzl](https://github.com/bazelbuild/bazel/pull/7074/files),
- [custom cc_wrapper replacing -lstdc++ with -lc++](https://github.com/envoyproxy/envoy/pull/5563/files) for each invocation.

I think this problem falls into overall theme of this iss

[2019-01-16 07:43] htuch commented on #6926
Some earlier context on libc++ and Linux at https://github.com/bazelbuild/bazel/issues/4524

[2019-01-16 09:10] buchgr opened #7137 "remote: treat failed actions as a cache miss"
If a remote cache returns a failed action (exit code != 0) then Bazel should treat this as a cache miss and attempt to re-execute the action. See for details https://gitlab.com/BuildGrid/buildgrid/issues/151

[2019-01-16 09:20] philwo commented on #6995
Hi,

sorry! The upload of that file to GitHub didn't work in our automatic release process. I've manually uploaded it.

Cheers,
Philipp

[2019-01-16 09:20] #6995 closed

[2019-01-16 09:21] buchgr commented on #7085
IIRC the current behavior should be that connection failures are retried automatically by the gRPC library. Is that not the case? Is the idea behind a keepAliveTime to fail faster?

[2019-01-16 09:34] aehlig commented on #6494
Do I understand correctly that this just means that the new C++ toolchains are not ready yet (hence, we probably have to postpone the migration window). Or does anything break that works on `bazel 0.21`?

[2019-01-16 09:38] oquenchil commented on #7136
I see that you are passing a .o file. We want to eventually allow .o files to be passed to the linking API as well, but for now could you try to create a .a file with an action that calls the archiver?

[2019-01-16 09:47] PiotrSikora commented on #6882
@katre either in [`bind()` docs](https://docs.bazel.build/versions/master/be/workspace.html#bind) or somewhere in [`Configurable Build Attributes`](https://docs.bazel.build/versions/master/configurable-attributes.html), perhaps in the FAQ section as `"Using bind() with select()"`?

[2019-01-16 09:55] buchgr commented on #7034
@bwkimmel would you be able to quantify the headache this causes (e.g. what percantage of actions have stdout/stderr > 100KiB?).

In general it's a tricky one:
* We want remote execution to behave as similar to local execution as possible.
* We currently don't have a general mechanism to provide blobs from the CAS for download i.e. a bytestream URL is not something a user can just click on. So the

[2019-01-16 09:57] buchgr commented on #7041
Does this error completely disable the remote cache for the build/test invocation or is it isolated to a single action?

[2019-01-16 09:57] #6977 closed

[2019-01-16 09:58] buchgr commented on #6940
@bayareabear on which platform are you running?

[2019-01-16 10:07] buchgr commented on #6798
--test_output=streamed limits the parallelism to 1. I believe internally test_output=streamed disables remote execution, but I think it's reasonable to support it in Bazel because the host platform might not be compatible with the remote execution platform.

[2019-01-16 10:12] #7007 closed

[2019-01-16 10:13] buchgr commented on #6457
@alexandrvb please apologize the delay. The proper solution is to specify your own https://docs.bazel.build/versions/master/be/java.html#java_runtime and not use the system JDK. Essentially, you can specify a zip file containing a JDK and then have all your users use this.

[2019-01-16 10:13] buchgr commented on #6457
Please re-open this bug if it does not fix the issue.

[2019-01-16 10:13] #6457 closed

[2019-01-16 10:14] buchgr opened #7138 "write a blog post / documentation on how to use the remote cache with java rules."
Detail how to specify a java_runtime to make remote caching effective and safe for java rules. See https://github.com/bazelbuild/bazel/issues/6457

[2019-01-16 10:17] buchgr commented on #6394
@ulfjack what's the status of your work in this area? is there a tracking bug on github?

[2019-01-16 10:20] buchgr commented on #5811
Update: I agree that we should have this, but it's currently not on anyone's plans to implement it due to resource constraints.

[2019-01-16 10:23] buchgr commented on #4395
AFAIK this has been fixed in the meantime.

[2019-01-16 10:23] #4395 closed

[2019-01-16 10:30] buchgr commented on #1035
@jin do you have an idea to which component to assign this issue?

[2019-01-16 10:31] buchgr commented on #2574
This has been enabled in Bazel 0.22

[2019-01-16 10:31] #2574 closed

[2019-01-16 10:33] buchgr commented on #3561
this has been fixed in the meantime.

[2019-01-16 10:33] #3561 closed

[2019-01-16 10:34] buchgr commented on #3875
I believe this issue can be closed. @tomazos remote execution has made huge leaps in the past year and a half and should be ready for you to try as a replacement of distcc.

[2019-01-16 10:34] #3875 closed

[2019-01-16 10:41] buchgr commented on #5505
Closing this in favor of https://github.com/bazelbuild/bazel/issues/6862

[2019-01-16 10:41] #5505 closed

[2019-01-16 10:42] buchgr commented on #5632
It's been turned on in Bazel 0.22

[2019-01-16 10:42] #5632 closed

[2019-01-16 10:43] #5328 closed

[2019-01-16 10:44] buchgr commented on #5566
We mostly see it on macOS.

[2019-01-16 11:05] ulfjack commented on #6394
Parts of the prototype have been submitted, but I haven't even sent out some critical parts. Making it work also requires rewriting the RemoteSpawnRunner to be async and use ListenableFuture, for which I do not currently have plans. I am not aware of a tracking bug on GitHub apart from this one.

[2019-01-16 11:35] davido commented on #6649
The question is whether or not this would affect current Bazel users, that rely on disc cache, e.g.: [1]. If yes, we would need a migration path and migration window.

* [1] https://github.com/GerritCodeReview/gerrit/blob/master/.bazelrc#L2

[2019-01-16 11:59] philwo commented on #5869
@talya Sounds like a nice solution for your use case! :)

Is there anything we should add to Bazel or can I close this issue considering that you found a way?

At the moment, I'm not sure what the exact feature request is, because I've never used these named networks and communication between Docker containers using a shared network... if there's still something to do here, can you please try to e

[2019-01-16 12:01] buchgr commented on #7118
@meisterT did you check by how much the binary size would increase if we shipped the debug library? Building the `src:bazel-bin-dev` is a huge hit to my productivity.

[2019-01-16 12:33] or-shachar opened #7142 "bazel query fails for target that has '=' sign in their name"
### Description of the problem:

If I refer to a target with `=` sign in its name in bazel query
EG:
[code]
It fails. We need to either not allow this character or support it in bazel query

[2019-01-16 12:37] davido commented on #7120
@philwo answered this question here: [1].

* [1] https://github.com/bazelbuild/continuous-integration/pull/333#issuecomment-454754573

[2019-01-16 12:37] #7120 closed

[2019-01-16 12:37] ittaiz commented on #6670
@aehlig can you please post the expected output like we discuss?

[2019-01-16 12:39] liujiwei777 commented on #3875
Now, bazel can only use remote cache. I suggest combine distcc and remote cache, such can reduce the first time compile time.

[2019-01-16 12:40] buchgr commented on #3875
@liujiwei777 that's not correct. See e.g. https://github.com/EdSchouten/bazel-buildbarn

[2019-01-16 13:01] #6906 closed

[2019-01-16 13:03] ittaiz commented on #6126
@buchgr this can happen also using your solution of `bazel-remote`, right?

[2019-01-16 13:14] dkelmer commented on #7118
Just out of curiosity, why is building the dev version a hit to your
productivity? I thought the dev version builds faster. So I'm wondering if
there's something I'm missing that could make me more productive :)

On Wed, Jan 16, 2019, 7:28 AM Tobias Werth <notifications@github.com wrote:

[2019-01-16 13:39] laurentlb commented on #5636
I think so. I'll update the list after a new CI run.

[2019-01-16 13:56] dkelmer commented on #7130
This flag changes the evaluation of labels where within a repository called "foo", the labels:
`@foo//some/path:lib`
`//some/path:lib`
will be treated as the same label. Right now they are treated as two different labels.

This incompatible change is fixing a bug but it is possible that people are relying on the broken behavior in unexpected ways. Chances are no one will need to do anything, but i

[2019-01-16 14:11] jin commented on #1035
@buchgr team-Local-Exec sounds like a good fit.

[2019-01-16 14:38] jmillikin commented on #6494
My code is newly written for the v0.22 toolchains. I expect code written to the existing API would work properly.

[2019-01-16 14:40] jmillikin commented on #7036
I haven't tried it with the old API. This particular crash (incorrect and possibly glob()-supplied param crashing the entire Bazel process) seems like it's worth cherrypicking a fix for.

[2019-01-16 14:52] hlopko commented on #7036
To be honest I'm not clear on this corner of the cherry-pick policy. @aehlig, do we allow cherrypicking fixes for the new functionality introduced in the candidate?

[2019-01-16 14:55] sethkoehler commented on #6798
Yep, limit of parallelism to 1 makes sense.  However, just to note, I'm not seeing this option disable remote execution...I have an sh_test example that is definitely running remotely (via printout of username in that script...interestingly, hostname weirdly prints out something that doesn't match either my workstation nor the remote bot...it prints a 12-char hex string like "ccc5bcfcf3b3", and th

[2019-01-16 15:01] buchgr commented on #6798
Thanks so'll we need to implement this code path separately in Bazel :(.

[2019-01-16 15:06] laszlocsomor commented on #3889
Sorry, there isn't yet.

Here are some tips that will go into that doc:

## Actions

- Use `ctx.actions.run_shell` when you need to run Bash command(s).
- Use `ctx.actions.run` if you have to run a native binary or a xx_binary target. Don't use `ctx.actimons.run_shell` for that, and also don't run Bash commands in `ctx.actions.run`.
- You can use `ctx.resolve_command` (and soon [`ctx.resolve_tools

[2019-01-16 15:07] jmillikin commented on #7136
Thanks -- performing a static link fixed the failing input validation crash, and allowed the resulting `CcInfo` to be successfully depended on by a `cc_binary()`.

For those following along at home, here's the rules required to run `ar` to convert `.o` -> `.a`. I suspect some adjustments will be needed for toolchains with different file extensions, such as using `.obj` and `.lib` on Windows.

[cod

[2019-01-16 15:13] laszlocsomor commented on #3889
Some more:

## cmd.exe

- I often go to [Steve Jansen's Batch Scripting Tutorial](http://steve-jansen.github.io/guides/windows-batch-scripting/part-1-getting-started.html) when I need to write batch scripts. You may like it too.
- `cmd.exe` semantics are different from Bash, and often surprising. AFAIK there's no equivalent of Bash's `&&`. The equivalent of Bash's `||` operator in cmd.exe is `&`:

[2019-01-16 15:43] buchgr commented on #6394
That I'd be happy to take over :-)

[2019-01-16 15:51] laszlocsomor commented on #6351
More observation:
- When I add a new file to the external repo, Bazel *does* notice this, as proven by logging I added. Bazel creates a new `RegularDirectoryListingValue` SkyValue, however the downstream action is not re-executed.
- If I re-run the build once more without any change, Bazel creates yet another `RegularDirectoryListingValue` SkyValue, whose hashcode is different from that in the pre

[2019-01-16 15:52] katre commented on #7116
@juliexxia is this something you can investigate?

[2019-01-16 16:02] aehlig commented on #7036
Our policy is clear here: we only cherry-pick fixes for regressions with respect to previous releases. The new functionality wasn't working (because it wasn't present) in 0.21, so it being broken in 0.22 is not a reason for a cherry pick.

[2019-01-16 16:13] buchgr commented on #7118
@dkelmer the dev version introduces a genrule that builds the jdk and that action can't be cached, because building the jdk is not deterministic. So on every incremental build of Bazel we are rebuilding the dev version, which takes about 20 seconds on my machine.

[2019-01-16 16:19] ulfjack commented on #6394
Happy for you to start working on the RSR in parallel to me landing the Skyframe changes that are also required.

[2019-01-16 16:51] talya commented on #5869
Nothing needed from bazel, will close :)
Thank you.

[2019-01-16 16:51] #5869 closed

[2019-01-16 17:08] #6630 closed

[2019-01-16 17:18] bayareabear commented on #6940
I am building on Mac OS for iOS app

[2019-01-16 17:25] benjaminp commented on #6033
If #4343 was fixed (by, for example, merging #7011), you would be able to do this by passing `--modify_execution_info CppLink=+no-cache`.

[2019-01-16 18:09] Utsav2 commented on #6887
This was fixed by #6885

[2019-01-16 18:09] #6887 closed

[2019-01-16 18:58] tetromino commented on #5981
Fixed by 81b59f05cb0853d27055edf77e62b619ff0aa4ba.

[2019-01-16 18:58] #5981 closed

[2019-01-16 19:59] feliwir opened #7150 "Large binary size when building optimized Android NDK binaries"
### Description of the problem / feature request:

I am building an android app with native code, for which i use `cc_library` etc. When building with default `bazel build //app/...` the size of the native `.so` file is about 30MB. To reduce the binary size i passed `-c opt` to strip debug symbols and optimize the build, but the native library ended up being 271MB (yes, just the `.so` file). I hav

[2019-01-16 20:05] jin commented on #7150
@hlopko are there any known issues around `-c opt` in the context of this issue?

[2019-01-16 20:17] #6882 closed

[2019-01-16 21:10] matthewxperiel commented on #7150
We also see a similar size issue when build with `-c opt`.

[2019-01-16 21:15] ahumesky commented on #563
Something like this would likely not be part of a bazel release itself, but released separately as part of the tools_android repo: https://github.com/bazelbuild/tools_android

It will probably be very similar to what pfn@ shared above (or even simpler, such as a macro and a genrule as shared at the top of the issue).

[2019-01-16 21:56] agoulti commented on #7129
You can set "shard_count" in your BUILD file for each test rule that supports it.

See https://docs.bazel.build/versions/master/be/common-definitions.html#test.shard_count

Here is an example: https://source.bazel.build/bazel/+/master:src/test/shell/integration/BUILD;l=35?q=shard_count

The experimental_heuristic simply sets sharding for tests according to their size: https://source.bazel.build/ba

[2019-01-16 22:14] dkelmer commented on #6799
Broken projects:
- [ ] android testing: https://github.com/googlesamples/android-testing
- [ ] BUILD_file_generator: https://github.com/bazelbuild/BUILD_file_generator
- [ ] intellij/CLion plugin: https://github.com/bazelbuild/intellij
- [ ] migration tooling: https://github.com/bazelbuild/migration-tooling
- [ ] rules_appengine: https://github.com/bazelbuild/rules_appengine
- [ ] rules_docker: ht

[2019-01-16 23:30] ahumesky commented on #563
I took a few minute to look at what would be needed to generate a compatible BuildConfig file.

This appears to be the task that generates the BuildConfig:
https://android.googlesource.com/platform/tools/build/+/16c22b991956b6ad6ac4634b2b9aa88bea8eb335/gradle/src/main/groovy/com/android/build/gradle/tasks/GenerateBuildConfig.groovy

It looks like the default items are "DEBUG", "PACKAGE_NAME", "BUI

[2019-01-17 01:40] andyscott commented on #7116
The empty noop approach works as an okay solution, but it seems like more of an accidental combination of seemingly orthogonal features/behaviors.

I'd be great to formalize a solution, either through a new flag or documentation the interaction for empty noop options.

[2019-01-17 04:46] ittaiz commented on #7129
Thank you for this thorough answer!

[2019-01-17 04:46] #7129 closed

[2019-01-17 07:36] liujiwei777 commented on #3875
@buchgr Thank you!

[2019-01-17 08:09] lberki commented on #6494
@aehlig : can we add the following two flags to the "0.22 is the migration window for these flags" list?

[code]

[2019-01-17 08:18] lberki opened #7152 "incompatible_disable_legacy_proto_provider: Remove legacy `dep.proto.` access to the proto provider"
We are migrating off of legacy providers that are addressed by name to providers addressed: https://bazel.build/designs/skylark/declared-providers.html

This bug is for migrating the provider containing information about `.proto` files. The following changes are required in Starlark sources:

* Change the way the provider is accessed from `ctx.attr.dep.proto.` to `ctx.attr.dep[ProtoInfo]`
* Change

[2019-01-17 08:19] lberki commented on #6494
Tracking bug for `--incompatible_disable_legacy_proto_provider`: https://github.com/bazelbuild/bazel/issues/7152

[2019-01-17 08:24] lberki opened #7153 "incompatible_disable_proto_source_root: remove the attribute `proto_library.proto_source_root`"
The `proto_library.proto_source_root` attribute is going away in favor of the more flexible `proto_library.strip_import_prefix` and `proto_library.import_prefix`.

In order to migrate your BUILD files, replace `proto_source_root` with `strip_import_prefix`: since the only allowed value of that attribute is the package the rule is in, simply replace the name of the attribute and prepend `/` to its

[2019-01-17 08:56] aehlig commented on #6494
Thanks. Will add this to the release announcement.

[2019-01-17 09:09] #5463 closed

[2019-01-17 10:32] gdeest commented on #6230
I strongly support the original request. The current design of `run` and `run_shell` taking a _list_ of `string` / `Args` object instead of a single `Args` object feels to me like a workaround to this very issue, where the merging is performed internally by Bazel.

Allowing one to build `Args` from other `Args` would make for a much nicer and composable API. Forcing one to build arguments from the

[2019-01-17 12:24] #7043 closed, assigned to dkelmer

[2019-01-17 12:33] dslomov commented on #3120
This is a reasonable feature for maven interop - @dkelmer wdyt?

[2019-01-17 12:50] laurentlb commented on #7122
cc @laszlocsomor

[2019-01-17 13:14] laszlocsomor commented on #7122
My unconfirmed suspicion is a bug in the Windows process creation logic.

[2019-01-17 13:15] laszlocsomor commented on #7122
Reason for this suspicion is my recent discovery about the broken escaping of CreateProcess arguments, while I was debugging https://github.com/bazelbuild/bazel/issues/7072.

[2019-01-17 13:16] hlopko commented on #7136
We have a mechanism in the c++ toolchain how to configure the extension used, and setters are going to be exposed to Starlark for https://github.com/bazelbuild/bazel/issues/5380 in https://source.bazel.build/bazel/+/2dccff01ae0711fa6729fd149ed66845ec6b0f54:tools/cpp/cc_toolchain_config_lib.bzl;l=509. TIL getters are not exposed, and they should be. If you need this, please file a new issue, and we

[2019-01-17 13:33] laszlocsomor commented on #7122
@gdeest and @mboes , could it be that you are using MSYS1 or some custom MSYS version, instead of using MSYS2 64-bit? Do you see the same behavior if you install MSYS2 (https://www.msys2.org/) to `c:\tools\msys64`, set `BAZEL_SH=c:\tools\msys64\usr\bin\bash.exe`, run `bazel shutdown`, then try the build again?

[2019-01-17 13:36] gdeest commented on #7122
@laszlocsomor I am indeed using MSYS1 (because MSYS2 is not compatible with Docker, which is required for CI). AFAIK, @mboes is using MSYS2 64-bit.

[2019-01-17 14:47] philwo commented on #6495
@katre Would you mind to swap with me? I'm assigned to the 0.24 release in March, but I'm on vacation the whole month.

[2019-01-17 14:50] katre commented on #6495
Sure, I'm fine to make that change.

[2019-01-17 15:13] jin commented on #6297
NDK 19 has dropped: https://developer.android.com/ndk/downloads/#stable-downloads

[2019-01-17 15:57] jayconrod opened #7157 "proto_library: warning: directory does not exist"
### Description of the problem / feature request:

Building `proto_library` targets for Well Known Types in `@com_google_protobuf` emits warnings like the one below. The build succeeds, but it would be nice if the warning can be fixed or removed.

[code]

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[code]

[code]

### What operat

[2019-01-17 15:58] jayconrod commented on #7157
@lberki I wonder if this is related to recent source root changes?

[2019-01-17 16:18] asuffield opened #7158 "toolchain_hostjdk8 breaks in bazel 0.21: passing -Xbootclasspath/p to java9"
### Description of the problem / feature request:

--java_toolchain=@bazel_tools//tools/jdk:toolchain_hostjdk8 no longer works in bazel 0.21. The javac workers fail to start with:

---8<---8<--- Start of log ---8<---8<---
-Xbootclasspath/p is no longer a supported option.
ion.
---8<---8<--- End of log ---8<---8<---

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a

[2019-01-17 16:43] jin opened #7159 "Firebase Crashlytics support for Android apps"
Crashlytics for Android requires additional setup by the build system in order to work. For Gradle, this is done by the Crashlytics plugin: https://fabric.io/kits/android/crashlytics/install

On StackOverflow, we have users requesting for it Fabric support:

https://stackoverflow.com/questions/54144989/fabric-and-crashlytics-not-working-with-bazel-build
https://stackoverflow.com/questions/54237225

[2019-01-17 16:43] jin commented on #7159
cc @ahumesky

[2019-01-17 16:52] meteorcloudy opened #7160 "Bazel CI: Bazel watcher is broken by --incompatible_remote_symlinks"
Bazel watcher was enabled in downstream recently, but it is failing with
[code]
https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/755#74468f41-4af9-4c74-9758-61fae4eb21c0

Found 30536baa4a410d8c0a7adab5cd58cd8a2ac7e46c as the culprit by https://buildkite.com/bazel/culprit-finder/builds/73#d0aa485f-21f8-4db1-86b5-14cbfe4d166e

[2019-01-17 17:44] jin commented on #5818
The latest Protobuf tag (3.6.1.3) still uses `single_file = True`.

@acozzette could you create a new tag (3.6.1.4?) with https://github.com/protocolbuffers/protobuf/commit/d5f0dac497f833d06f92d246431f4f2f42509e04 please?

[2019-01-17 17:54] jin commented on #5825
[code]

3.6.1.2 / 3.6.1.3 also does not have @brandjon commit to fix this: https://github.com/protocolbuffers/protobuf/commit/7b28271a61a3da0a37f6fda399b0c4c86464e5b3#diff-14e64c3c0a0449ceb162062b8291fa19

@acozzette could you also please create 3.6.1.4 with this cherrypick?

[2019-01-17 18:37] buchgr commented on #4751
I have finally found the problem and solution to this bug.The issue is that we always create `Path` objects using `execRoot.getRelativePath(rootRelativePath)`. Now that mostly works except for external dependencies, because these aren't symlinked under the execroot but only below their artifact root, which happens to be the output base.

The solution is to create the path object for an `Artifact`

[2019-01-17 18:38] rysteboe opened #7161 "Trouble with nodejs_binary dependencies"
Opening up a second bug here since that's what @aiuto did for me on the last issue I reported.

https://github.com/bazelbuild/rules_nodejs/issues/500

There's a good chance this one is pure user error - would appreciate any help in resolving.

[2019-01-17 18:42] philwo commented on #4751
Wow! Thanks!! 😀

I’m curious: Why does it only sometimes fail though (and mostly on macOS)? Is there a race somewhere that lets this work most of the time even though the path is wrong?

[2019-01-17 18:50] alexeagle opened #7162 "Error about building outside workspace isn't helpful"
### Description of the problem / feature request:

If the user builds in the wrong directory, the error message is not that helpful.

To repro, I just make a new directory on Windows and run `bazel build`:

[code]

First, there's a bunch of spam here.
Next, we say "only supported from within a workspace", but this assumes the user has read some documentation. First-time users probably haven't.

No

[2019-01-17 18:54] alexeagle opened #7163 "Allow rule sets to contribute suggested fix for undefined starlark symbol"
If my BUILD file uses `ts_library` but didn't have a `load` statement, I get
[code]

First, the last line here is spam.
Second, it suggests `py_library` which is strange to me as a novice user: I don't have any Python and didn't configure Bazel to use python so why am I getting this?
Angular users will be put off by the idea that Python is the preferred language in Bazel.

Ideally we should allow

[2019-01-17 18:56] philwo commented on #7026
So, what do we do here - I think the current state is a regression for users and usability and it’s also unintuitive (users will not immediately know why their stuff is failing and will blame Bazel).

I would like to roll this back and let Bazel use the user’s PATH and LD_LIBRARY_PATH by default for local execution (conservatively also including them in the Action cache key, just as before), while

[2019-01-17 18:57] alexeagle opened #7164 "WORKSPACE reference to non-existent file has bad error message"
My WORKSPACE referenced `//:package.json` which I didn't create in my project. As a novice user, I just copy-pasted a chunk of `WORKSPACE` content (as many rulesets recommend in their README) but I didn't notice I was supposed to also create `package.json`

Error is:
[code]

The error doesn't mention WORKSPACE at all, or give a line number where the bad reference appears. If I had referenced this

[2019-01-17 19:03] alexeagle opened #7165 "Rule reference to target can't supply helpful error"
If a novice user uses rules_typescript, but didn't install the typescript dependency via npm, then they get this error:

[code]

Bazel knows that the ts_library rule has an attribute that refers to `@npm//typescript:typescript__typings`. It could print the docstring from that attribute, or allow the ts_library rule some other way to help the user fix the error.
Another way to fix this would be for

[2019-01-17 19:29] katre opened #7166 "Update logic for default remote execution properties"
As part of the work on #6849 (to improve host platform autodetection), the existing flag `--host_platform_remote_properties_override` will stop working. Because this is useful functionality, the flag will move to RemoteOptions, and be handled directly when building remote execution API requests.

The main semantic change is that the flag will now apply to any RE API request that does not contain p

[2019-01-17 20:02] emidln opened #7167 "//scripts/packages:without-jdk/bazel includes a jdk"
`//scripts/packages:rename-bazel-bin-without-jdk`, which produces `//scripts/packages:without-jdk/bazel` includes `//src:bazel`[0], which due to semi-recent changes, now *includes* a jdk. It should be changed to `//src:bazel_nojdk` to support generating a bazel.sh without an embedded JDK. This change seems to have been missed by 7c49bd9c73385db84e678469aa7e6a5bb801c28a

[0] As of c67dceca77a936469

[2019-01-17 20:07] jmmv commented on #6957
I think there are two separate cases here:

1. You request sandboxing; Bazel determines sandboxing is not possible on the current host; the action runs without a sandbox. This is the case you describe and I agree it would be good to not fail silently.

1. You request sandboxing; some action wants to run without sandboxing; Bazel runs the action without a sandbox. What should we do here? I can see

[2019-01-17 20:29] ittaiz commented on #7163
+1
On Thu, 17 Jan 2019 at 20:54 Alex Eagle <notifications@github.com> wrote:

[2019-01-17 21:38] jin commented on #7167
cc @meisterT

[2019-01-17 21:38] bayareabear opened #7169 "Neither Bazel or Bazel-Remote verifies the sha256 when GET files from server"
Step to reproduce:
Use https://github.com/bazelbuild/examples and build with Bazel-Remote cache. In the cache server modify one of the files in CAS folder and verify the sha256 indeed changed using "openssl dgst -sha256", then build again. You can notice when Bazel-Remote get the modified file, you can see it just returns 200 and the build succeeds.

Question is how it can ensure the correctness o

[2019-01-17 22:33] dkelmer commented on #3120
Since maven_jar is being deprecated I won't go down that route.

But Ittai, how do you envision this maven_import rule to interop with jvm_maven_import_external? Or are you saying you would write extra maven_import rules for the jars that you need to collect using your post-build tool?

[2019-01-17 23:21] uri-canva commented on #3360
What's the remaining issue with this flag? I'm considering running a cache locally on developer laptops instead of using the dir cache as discussed in https://github.com/bazelbuild/bazel/issues/5139.

[2019-01-18 00:30] #7115 closed

[2019-01-18 00:47] jin commented on #7159
[code]

These are the steps I took to get to the above crash while following the [official guide](https://firebase.google.com/docs/crashlytics/get-started?authuser=0#android):

1) Clone https://github.com/jaredsburrows/android-bazel-java-app-template
2) Set up a new Firebase project
3) Download google-services.json
4) Integrate google-services.json using [tools_android ](https://github.com/bazelbu

[2019-01-18 00:56] jin commented on #5150
I am not working on this currently.

[2019-01-18 00:59] jin commented on #6201
I'll assign myself to this because the problem space (plugin applifaction) is similar to what we did for Firebase, and doing now for Crashlytics in https://github.com/bazelbuild/bazel/issues/7159. It's possible that we can come up with generic solution here.

https://realm.io/docs/java/latest/

[2019-01-18 05:31] jmillikin opened #7170 "Please add C++ toolchain helpers for extensions of output files"
When compiling C++, different compiler implementations have different preferred file extensions. For example on UNIX object code is `.o` and on Windows it's `.obj`. The new sandwich-enabled C++ toolchain ([cc_common](https://docs.bazel.build/versions/master/skylark/lib/cc_common.html) + [CcInfo](https://docs.bazel.build/versions/master/skylark/lib/CcInfo.html)) supports configuring these file exte

[2019-01-18 05:32] jmillikin commented on #7136
OK, filed https://github.com/bazelbuild/bazel/issues/7170 for file extension accessors.

[2019-01-18 06:13] jmillikin opened #7171 "java.lang.IllegalStateException when referencing ToolchainInfo targets instead of ToolchainRuleInfo"
Bazel's toolchain registration involves two targets: a "toolchain info" that returns a `platform_common.ToolchainInfo` with arbitrary content, and a "toolchain" that registers the toolchain info with execution constraints.

If the user confuses these two (either when calling `native.register_toolchains()` or with the `--extra_toolchains` flag) then Bazel will crash during analysis.

example BUILD

[2019-01-18 06:18] ittaiz commented on #3120
My idea is that we have another macro:
java_maven_import_external that calls jvm_maven_import_external with two
additional attributes:
1. rule_name (already exists) and gives it java_maven_import
2. Adds the “artifact” as an additional attribute (because
jvm_import_external proxies those to the rule)
This is the small part since we have most of the infra in place.
The bigger part (which isn’t that

[2019-01-18 06:20] ittaiz commented on #7052
@willsc79 wdyt? Does the BEP contain the timing information?
On Mon, 14 Jan 2019 at 11:03 Ulf Adams <notifications@github.com> wrote:

[2019-01-18 06:45] laszlocsomor commented on #4751
Wow, that's quite impressive. How did you find this bug?

Also, it seems to be easy to do the wrong thing and hard to do the right thing, i.e. I would never guess that artifact.getRoot() then another getRoot() and finally getRelative() is the way to go. Do you have any suggestion about simplifying the API or somehow making it easy to create Artifacts the right way?

[2019-01-18 06:47] laszlocsomor commented on #7026
@philwo : I agree with you.

[2019-01-18 09:20] laszlocsomor opened #7173 "Windows: cannot delete file from test's temp directory"
### Description of the problem / feature request:

While repeatedly running tests, I somehow ended up with a stale file in the test's temp directory that Bazel was unable to delete.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

1. Build Bazel at 356ad221eaa9a81ae7ef0b967195b895e9e0d217
2. Create the following simple workspace:
  -

[2019-01-18 09:21] dslomov commented on #6494
Suggestion: let's not list the individual migration window incompatible flags in the release announcement, instead let's only publish a link to [issues with migration-0.22 label](https://github.com/bazelbuild/bazel/issues?utf8=%E2%9C%93&q=is%3Aissue+label%3Amigration-0.22)
We should still list all breaking changes that have actually occurred in 0.22 in the release annoucement.

WDYT?

[2019-01-18 09:37] aehlig commented on #6494
I think that, if by the time of the release announcement, we cannot tell the users which migrations could/should be done, we cannot reasonably except them to act in this migration window. So there is some value in committing to saying which migrations we believe are ready&mdash;and in this way ensure there is no surprise of a retroactively added label saying "you should have migrated during the la

[2019-01-18 09:42] liujiwei777 commented on #3561
root@52751d2608d1:/apollo# ./apollo.sh build
System check passed. Build continue ...
[WARNING] ESD CAN library supplied by ESD Electronics does not exist. If you nee                                                                                        d ESD CAN, please refer to third_party/can_card_library/esd_can/README.md.
[INFO] Start building, please wait ...
INFO: Reading 'startup' options f

[2019-01-18 09:58] buchgr commented on #7026
I discussed this offline with @philwo. We'll rollback the flag flip in Bazel 0.22 and come up with a longer term solution after the 0.22 release.

[2019-01-18 09:59] aehlig commented on #7032
The underlying mechanism of [invalidating external repositories](https://bazel.build/designs/2016/10/18/repository-invalidation.html) has not changed. So, basically, external repositories are not invalidated unless the definition changes. Now, in this particular case, the problem was that the deprecation error was only upon _use_ of the native rules, not upon their presence in a `WORKSPACE` file.

[2019-01-18 10:00] buchgr commented on #6494
We'll unfortunately need to rollback the `--incompatible_strict_action_env` flag flip from the 0.21 release (See https://github.com/bazelbuild/bazel/issues/7026). Also, we'll need to cherry-pick https://github.com/bazelbuild/bazel/pull/7174 which fixes a bug that introduces flakyness on our CI. I ll post the commits later today.

[2019-01-18 10:10] aehlig commented on #6873
There is documentation present for the Starlark `http_archive`, as a [docstring next to the definition](https://github.com/bazelbuild/bazel/blob/ce91f76e659cee6940d0f5e10c2bbd7e43be76d4/tools/build_defs/repo/http.bzl#L144). Unfortunately, the mechanism to put those documentation on the bazel documentation web page is not in place yet.

[2019-01-18 12:16] aleb commented on #7078
A possible workaround:
[code]

[2019-01-18 12:31] laurentlb commented on #6873
@aehlig Can you look at Skydoc and see if it works for you?

An alternative is to move the documentation manually to the website. It's not ideal, but since we have few files in `@bazel_tools`, it might be okay (to avoid adding complexity to the release process).

[2019-01-18 12:31] SimonBoorer commented on #3320
I'm still having this issue with protobuf when trying to bootstrap Bazel 0.21.0 using:

`export EXTRA_BAZEL_ARGS="--action_env=PATH --action_env=LD_LIBRARY_PATH"`

[code]

The only way I can get it to work is by setting --noincompatible_strict_action_env so that Bazel does not use a static PATH environment variable.

[2019-01-18 12:47] SimonBoorer commented on #6656
This change prevents bootstrapping 0.21.0 without network access unless you set host_javabase explicitly (e.g. --host_javabase=@local_jdk//:jdk). It would be good if this was documented in the compilation instructions, but also this seems contradictory to the stance taken with @desugar_jdk_libs in https://github.com/bazelbuild/bazel/issues/5202.

[2019-01-18 13:48] #7173 closed

[2019-01-18 14:40] dslomov commented on #6494
Of course, we will never _add_ migrations after release is published (only the release manager should add migration-X.Y labels, and never do so after the release is out). But we might _remove_ migrations where things didn't pan out (because the bugs are discovered or whatnot)

[2019-01-18 14:47] dslomov commented on #6494
I can haz justification? :)
Could you specify (briefly!), for the benefit of release manager, which commit fixes which issue (and, unless this is already discussed in the issue, why that issue is a blocker). Thanks!

[2019-01-18 14:53] aehlig commented on #6494
`scripts/release/release.sh create --force_rc=3 0.22.0 deb028e a3a5975 b8d0e1b 3759e38 4473bb1 9137fb9`

--
Klaus Aehlig
Google Germany GmbH, Erika-Mann-Str. 33, 80636 Muenchen
Registergericht und -nummer: Hamburg, HRB 86891
Sitz der Gesellschaft: Hamburg
Geschaeftsfuehrer: Paul Terence Manicle, Halimah DeLaine Prado

[2019-01-18 15:42] aehlig commented on #6494
rc3 available at https://releases.bazel.build/0.22.0/rc3/index.html

[2019-01-18 15:48] meisterT commented on #6656
Simon, thanks for reporting. We have a couple of options how to fix that:
a) document to set EXTRA_BAZEL_ARGS if you want to build without network
b) include the remote JDKs in the bazel dist archive
c) explicitly set --host_javabase to the local_jdk (so it can be overridden by the user, but defaults to it). We require a JDK to be installed anyway.

Any preferences from your side?
cc @aehlig who s

[2019-01-18 16:22] sergiocampama opened #7180 "Visibility not working with `@my_repository` references"
### Description of the problem / feature request:

Visibility is not properly processed when using the `@my_repository` syntax for referencing targets. I'd expect that I can reference targets with both `//` and `@my_repository` syntax but it seems the latter trips up visibility processing.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possib

[2019-01-18 17:16] buchgr opened #7182 "Make the RemoteSpawnRunner and RemoteSpawnCache async"
In order to support the upcoming fix for https://github.com/bazelbuild/bazel/issues/6394. This will allow us to fully utilize the parallelism offered by a remote execution system.

[2019-01-18 17:19] buchgr opened #7183 "remote: don't compute the action and command hash twice"
In the `RemoteSpawnRunner` we are currently serializing and computing the `Action` and `Command` hash twice for every request. Once when checking the action cache and once when synchronizing inputs. We should fix that.

[2019-01-18 17:21] keith commented on #7036
I think there's another issue here related to the migration window. It looks like `quote_includes` doesn't exist in 0.21, so for [some projects](https://github.com/bazelbuild/rules_swift/pull/129) we won't be able to migrate until after the release

[2019-01-18 17:54] clintharrison commented on #7180
I believe this is fixed by `--experimental_remap_main_repo` (soon to be #7130) and this issue itself is a duplicate of #3115?

[2019-01-18 18:22] katre commented on #7079
Debugging so far (by running tests in parallel and debugging linux vs windows:
The location of the bazel_tools repo is different in the Windows tests: on Linux it is (correctly) bazel_tools_workspace (set via /workspace/WORKSPACE). On windows, the default value from /DEFAULT.WORKSPACE (which is /usr/local/.../embedded_tools) is being used.

I can see that on Windows, the Package.Builder is seeing

[2019-01-18 18:25] jmmv commented on #7119
I agree that a test should be able to clean up after itself if it abruptly terminates, though there is no way to guarantee that your test will have a chance to do that from within itself.

(Imagine: if the test is stuck and Bazel sends a `SIGKILL` to it, the cleanup will not work. Mind you, that's why I added separate cleanup routines invoked by the runtime engine to [atf](https://github.com/jmmv/

[2019-01-18 18:36] ulfjack commented on #6651
[code]

This is in a normal command prompt, not bash.

If I set the flag, I get a bunch of inclusion missing errors:
[code]

I don't have a .bazelrc.

[2019-01-18 18:38] ulfjack commented on #6651
I see the same behavior when running in an msys shell.

[2019-01-18 18:48] jmmv commented on #7101
I believe this is https://github.com/bazelbuild/bazel/issues/7026? `--incompatible_strict_action_env` was just reverted to `false` today. Could you try doing that as well?

[2019-01-18 18:55] jmmv commented on #7084
I understand that you expected the action to run remotely but it fell back to local execution for some reason? If so, this is probably a bug for the remote execution team.

[2019-01-18 18:59] jmmv commented on #7052
It is unclear to me why this bug is tagged with `team-Local-Exec`. Is this really tied to local execution, or the same feature request would apply to remotely-executed actions? If so... this should be reclassified, but I have no idea what `team-*` label applies.

[2019-01-18 19:11] allevato commented on #6488
I'm currently seeing this when trying to build rules_swift with Bazel 0.21.0 on my local machine, but our Travis build is currently passing: https://travis-ci.org/bazelbuild/rules_swift

[2019-01-18 19:13] philwo commented on #6488
We also saw this yesterday on a freshly installed macOS Mojave machine (Bazel 0.21.0, Xcode 10.1 and Azul JDK 8 were installed, nothing else).

After a few rounds of „bazel clean —expunge“ it started working and hasn’t failed again so far.

I have no idea what that this. We’ve never seen it on CI. :/

[2019-01-18 19:21] ittaiz commented on #7119
Julio,
That commit says:
“At this time, this is only implemented for the StandaloneTestStrategy.”
Has this changed? Is it not relevant in non standalone strategies?
On Fri, 18 Jan 2019 at 20:25 Julio Merino <notifications@github.com> wrote:

[2019-01-18 19:24] jmmv commented on #7000
If you do not enable sandboxing, then the test runs from its original location and, as you can imagine, it can find other files. This is working as intended.

If you do enable sandboxing (the default in Bazel), then the test should fail as you expect.

Unfortunately... the current sandbox implementation is not strong enough. The way the current sandbox works is by creating a tree of symlinks that

[2019-01-18 19:24] #7000 closed

[2019-01-18 19:35] jmmv commented on #6812
This seems to be a crash caused while detecting a cycle in the build graph. Nothing to do with local execution.

[2019-01-18 19:47] #7166 closed

[2019-01-18 20:19] katre commented on #7079
Wow, that was painful.

Source of the issue: the test sets OS to LINUX for purposes of the test, but the in-memory-filesystem checks the current value of OS to decide about things like drive strings and whether or not the filesystem is case-insensitive. If this is wrong, on Windows, when BazelAnalysisMock tries to re-write the WORKSPACE, it can't read the old value and instead overwrites it.

I st

[2019-01-18 20:40] brandjon opened #7184 "Duplicate debug print statements get filtered from console output"
When multiple `print()` statements in an aspect have the same contents, only the first one has any effect and the rest are de-duplicated away.

[2019-01-18 20:42] sergiocampama commented on #7184
@aehlig

[2019-01-18 20:46] katre commented on #7079
Root cause: when the in-memory VFS wrote the file /workspace/WORKSPACE, the OS was Windows, so the written hash code was "WORKSPACE".toLowerCase().hashCode().
When it re-wrote the WORKSPACE, the OS was Linux, so the hash code was "WORKSPACE".hashCode().

This lead to the effective WORKSPACE file being replaced, instead of appended, and so the test value of "/bazel_tools_workspace" for @bazel_tools

[2019-01-18 20:51] brandjon commented on #7184
@sergiocampama thanks for the offline pointer -- this is almost certainly from --experimental_ui_deduplicate.

A while back we changed `print()` statements to emit "DEBUG" events, regardless of what file the print() appeared in. This was so that prints would no longer get filtered if they originated in a different package or in an aspect that propagated to a different package -- old behavior that

[2019-01-18 20:56] jin commented on #7161
cc @alexeagle

[2019-01-18 23:52] schroederc commented on #1025
Is there a fix for getting `declare_directory` to work remotely?  Or an issue to follow?

[2019-01-19 00:36] cushon opened #7186 "incompatible_use_toolchain_providers_in_java_common: pass JavaToolchainInfo and JavaRuntimeInfo providers to java_common APIs instead of configured targets"
The option `--incompatible_use_toolchain_providers_in_java_common` makes `java_toolchain` and `host_javabase` APIs in `java_common` accept the `java_common.JavaToolchainInfo` and `java_common.JavaRuntimeInfo` providers instead of configured targets.

This change is being made in preparation for migrating the Java to use Toolchain Resolution (#4592).

# Migration Notes

Update all `java_common` API

[2019-01-19 01:04] cushon commented on #6661
I can't reproduce the failure; `bazel build --incompatible_use_jdk10_as_host_javabase //src:bazel` works for me.

The interesting part of the log in https://github.com/bazelbuild/bazel/issues/6661#issuecomment-451147790 seems to be:

[code]

@meisterT any ideas? Is this an interaction between the changes to minify the embedded JDK and `--incompatible_use_jdk10_as_host_javabase`?

[2019-01-19 03:41] jmillikin-stripe opened #7187 "Please allow FilesToRunProvider to be constructed by Starlark"
### Feature requests: what underlying problem are you trying to solve with this feature?

Now that [`FilesToRunProvider`](https://docs.bazel.build/versions/master/skylark/lib/FilesToRunProvider.html) can be passed directly to `ctx.actions.run()` as an executable, I want to replace some of my `(executable, runfiles)` structs with the native provider. It looks like values of this type can only be re

[2019-01-19 05:05] ittaiz commented on #7186
Is this already available? Asking since I’m planning on moving rules_scala
to new java_common and JavaInfo APIs and would rather not have another
round later
On Sat, 19 Jan 2019 at 2:36 Liam Miller-Cushon <notifications@github.com>
wrote:

[2019-01-19 05:25] bayareabear opened #7188 "Artificial Intelligence For Remote Cache"
When remote cache is enabled, it would be good to add a field in AC entry to record how much CPU time it took to complete that AC and also a field for the total file size of it's output file. Then according to the network speed, it can calculate if it is faster to run the AC locally or just download the output from remote cache.
On the other hand, it can also set a threshhold wait time for each ac

[2019-01-19 05:48] cushon commented on #7186
It isn't available yet. Support for passing providers instead of targets will probably make it into 0.23, and support for passing targets will be removed some time that after.

[2019-01-19 06:59] rongjiecomputer commented on #5750
Not without editing the code manually. In Chromium, Chromium team had to patch some of their third party dependencies (like nasm) to stop using `__DATE__` and friends because of this MSVC bug.

[2019-01-19 15:35] buchgr commented on #7160
Fixed by #7174

[2019-01-19 15:43] buchgr commented on #6126
@ittaiz no, iirc this bug is isolated to the disk path code path.

[2019-01-19 15:49] #4751 closed

[2019-01-19 15:50] buchgr commented on #4228
This has been fixed a while ago. We de-duplicate uploads during a build for both the gRPC and HTTP protocol

[2019-01-19 15:50] #4228 closed

[2019-01-19 15:53] buchgr commented on #3360
@uri-canva on our CI we have as of last week seen actions being marked as modified even though no files have been modified on macOS. I did not have time to look into the issue yet. I am not aware of any problems on Linux.

[2019-01-19 15:55] buchgr commented on #3153
Fixed by #7168

[2019-01-19 15:55] #3153 closed

[2019-01-19 15:59] ob commented on #3360
@buchgr, do you mean with the flag or without? I am not enabling this flag and have seen the same behavior on macOS: Actions run locally when in fact o know for a fact they are fully cached.

I opened https://github.com/bazelbuild/bazel/issues/7084 to help with debugging.

[2019-01-19 16:30] #7160 closed

[2019-01-19 20:45] agoulti commented on #4891
The flag --experimental_execution_log_file allows to dump the relevant information about an action, including hashes of the inputs and the actual outputs.

https://docs.bazel.build/versions/master/remote-execution-caching-debug.html has documentation on how to use it to debug cache hits, but it can also be used to debug non-deterministic outputs.

I think this covers the use case for this bug, but

[2019-01-19 20:45] #4891 closed

[2019-01-19 21:07] philwo opened #7190 "Python launcher on Windows doesn't preserve working directory"
### Description of the problem / feature request:

The Python launcher that's used on Windows (but apparently not on other platforms) doesn't seem to preserve the current working directory. This might cause the tool to break (e.g. relative paths passed on the command line will no longer be valid and looking up files in the current working directory will also not work).

I think the launcher should

[2019-01-20 04:06] ob commented on #7084
Note that I'm not using remote execution, only remote caching. I expected the action to be downloaded from the cache since I knew it was fully cached (I've been debugging cache misses so this was a re-run of a build that had been fully cached).

I am guessing that the remote cache took too long to reply and the bazel client decided to run the action locally, but I don't know. Having some informati

[2019-01-20 06:16] davido opened #7191 "Gerrit fails with Bazel@HEAD (unrecognized option '--start-lib')"
Trying to build Gerrit@HEAD (01eaf7a715e57c7b5008357d27719ee5e570a77a) with Bazel@HEAD (919955c630afc298be536236e801b76165333ab8) is failing with:

[code]

And the content of `bazel-out/host/bin/external/com_google_protobuf/protoc-2.params` is here: [1].

gcc version here (on Linux) is:

[code]

It seems already happened in the past: https://github.com/bazelbuild/bazel/issues/2502, https://github.

[2019-01-21 06:34] hlopko commented on #7036
That's expected, the migration window for this flag is 0.22 (released hopefully this week) and it will be flipped in 0.23 (released late February) = 1 release. If you want, you can make your change forward compatible by using Skylib's [versions.bzl](https://github.com/bazelbuild/bazel-skylib/blob/master/lib/versions.bzl) (see https://github.com/bazelbuild/bazel/issues/7036#issuecomment-452370220).

[2019-01-21 07:09] uri-canva opened #7193 "`--output_user_root` affects `repository_ctx.execute`"
### Description of the problem / feature request:

`--output_user_root` affects `repository_ctx.execute` in an unexpected way, but I also cannot understand what the change is.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[code]

Debugged this as far as the command being executed in https://github.com/bazelbuild/rules_go/blob/0.15

[2019-01-21 07:55] laszlocsomor commented on #7079
Ugh.. Nice debugging @katre !

[2019-01-21 09:01] laszlocsomor commented on #6651
Thank you for the repro, but this problem looks different from the original. Did you mean to add the repro to this bug?

[2019-01-21 09:06] laszlocsomor commented on #6651
Tried reproing but everything works fine for me.

Do you see the same crash as in https://github.com/bazelbuild/bazel/issues/6651#issue-379560839?
Which Bazel version is it? Mine is 0.21.0.
Where is MSYS installed?

[2019-01-21 09:14] ulfjack commented on #6651
I saw the same crash as originally posted. I believe I was running 0.21 in my repro. The C++ error occurs when I add ```--host_jvm_args=-Dbazel.windows_unix_root=c:/tools/msys64``` as a startup flag. I don't know where msys is installed, but I suppose it's in c:/tools/msys64.

[2019-01-21 09:15] ulfjack commented on #6651
The original post was for 0.14, IIRC.

[2019-01-21 09:46] laszlocsomor commented on #6651
Please try running with `--client_debug` and paste the output here.

[2019-01-21 09:57] vmax opened #7194 "Rule attributes named "licenses" cause Bazel to crash"
### Description of the problem / feature request:

Rule with attribute named "licenses" and defined `default` value will cause `bazel` to crash, [log attached](https://github.com/bazelbuild/bazel/files/2778403/crash.log)

Having a rule which needs to take in `licenses` attribute with type `label_list`

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal examp

[2019-01-21 10:01] philwo commented on #7026
@Globegitter Yes, Bazel actions should be as hermetic as possible. Users can check in hermetic toolchains, rules can automatically fetch hermetic toolchains and use them or users can rely on the automatic configuration of toolchains via Starlark repositories that inspect the local environment and then construct a toolchain based on tools from the local system on the fly.

Whether PATH is set or no

[2019-01-21 10:04] ulfjack commented on #7119
Bazel only has a single test strategy, so the work applies to all Bazel users. The primary reason behind the flag is to solve a race condition with the generation of the test.xml files (see #4608).

Blaze currently has two test strategies, and I have been working over the past year or so on merging them into one as well as matching Bazel's implementation. The flag is technically a step in the othe

[2019-01-21 10:06] laszlocsomor commented on #7026
I'm afraid they aren't -- https://github.com/bazelbuild/bazel/issues/5265 is unassigned.

[2019-01-21 10:10] meteorcloudy opened #7195 "Bazel CI: rules_foreign_cc is broken on Windows"
https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/765#50422cac-b7e0-4d1c-a518-102b74f18738
[code]

/cc @oquenchil @irengrig

[2019-01-21 10:49] iirina opened #7196 "incompatible_use_remote_java_toolchain: use remote Java tools instead of the embedded deploy jars"
The option `--incompatible_use_remote_java_toolchain` will download the remote Java tools (archive of deploy jars) for the target configuration instead of using the corresponding embedded deploy jars. Enabling this flag only affects users of the Java rules.

# Migration Notes

There are no actions required from the users. No migration is needed.

[2019-01-21 10:49] iirina opened #7197 "incompatible_use_remote_host_java_toolchain: use remote Java tools instead of the embedded deploy jars"
The option `--incompatible_use_remote_host_java_toolchain` will download the remote Java tools (archive of deploy jars) for the host configuration instead of using the corresponding embedded deploy jars. Enabling this flag only affects users of the Java rules.

# Migration Notes

There are no actions required from the users. No migration is needed.

[2019-01-21 13:08] lberki commented on #7157
/cc @haberman

Probably, I suppose? We did reshuffle the way `protoc` is called a bit. I'm traveling this week and next, though, so I probably won't be able to look at it closely until I get back home.

@dbabkin , can you help out?

[2019-01-21 14:42] crorvick commented on #7057
bump

[2019-01-21 15:27] buchgr commented on #7169
@bayareabear which version of Bazel are you using? We do have code that is expected to verify that the digests match, but it's possible that it's broken.

[2019-01-21 15:37] buchgr commented on #4776
This information is available via --experimental_execution_log_file

[2019-01-21 15:37] #4776 closed

[2019-01-21 15:54] buchgr opened #7202 "remote: remove local fallback for remote execution"
The `--remote_local_fallback` flag falls back to local execution if there was some error (i.e. network) running the action remotely. This is inherently unsafe as the local and remote execution environment might not be identical.

[2019-01-21 16:04] buchgr opened #7203 "remote: support retries in http cache"
The basic infrastructure is already there, but it's not enabled at the moment.

[2019-01-21 16:05] buchgr opened #7204 "remote: remove --experimental_remote_retry_* flags"
Simplify to just `--remote_retries=NUM` with a `0` value disabling retries.

[2019-01-21 16:09] buchgr opened #7205 "remote: review and redo supported tags and flags"
There's currently a number of tags that can be applied to targets that influence the behavior of the remote cache / executor: `no-cache`, `no-remote`, `local`.

We need to clarify the semantics of each of them and discuss whether new tags are needed to implement currently unsupported use cases.

**Steps**:

- [x] **Flags**
   - [x] _Analysis phase:_
      - [x] review and document existing flags

[2019-01-21 16:18] zkself commented on #4834
@xzy256  @MikoyChinese   could you please how to change？
does it means to change line 69？

[2019-01-21 17:01] filipesilva opened #7206 "--watchfs ignores changes on volumes in Linux docker under a Windows host"
### Description of the problem / feature request:

`--watchfs` ignores changes on volumes in Linux docker under a Windows host

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

On a Windows machine with bazel 0.21, docker and git, follow these commands:

- `git clone https://github.com/filipesilva/bazel-windows-docker-volume`
- `cd ba

[2019-01-21 19:06] pcj commented on #6056
If this happens to me it's often temporally-related to running gazelle: `bazel run //:gazelle` (I don't know why, just leaving a breadcrumb in case someone is investigating this).

`bazel shutdown` always solves the problem.

[2019-01-21 21:20] petemounce commented on #6493
Belatedly, pushed to chocolatey.

[2019-01-21 21:30] aiuto commented on #7161
Jin:  Who is investigating? since there is no assignee?

[2019-01-21 23:17] bttk commented on #7055
It's not only macOS. I have a similar issue on Linux

* OS: Chrome OS Crostini on 11316.82.0 (Official Build) beta-channel eve
* Bazel: 0.21.0

## WORKSPACE

[code]

## Filesystem

[code]

## Log

[code]

[2019-01-21 23:53] jin commented on #7161
@aiuto my bad, mislabeled.

[2019-01-22 01:44] MikoyChinese commented on #4834
_check_bazel_version("Closure Rules", "0.4.5")
Yes, try to change this line, this is a check method, you can change 0.4.5 to 0.

[2019-01-22 03:41] jmillikin commented on #4881
I've taken a crack at this in https://github.com/bazelbuild/bazel/pull/7208

[2019-01-22 03:47] jmillikin commented on #3590
PR: https://github.com/bazelbuild/bazel/pull/7207

[2019-01-22 09:10] hcoona commented on #4544
After a quick glance on this thread, I think both 1 & 2 are fixed. However, may I ask your help figuring out how to strip the import prefix now? I'm on bazel 0.21.0.

[2019-01-22 10:41] buchgr commented on #5440
@nicolov I think we should at least print a warning that something timed out. It's important to not hide such information from users as this might hide problems. I have send out https://github.com/bazelbuild/bazel/pull/7209 on top of your change.

[2019-01-22 10:44] #4691 closed

[2019-01-22 10:51] hlopko commented on #7191
Hi all, thanks for reporting! It is expected that you see it only after you rebuild bazel and run with that. I'll definitely look into this today.

[2019-01-22 10:59] buchgr opened #7211 "remote/http: implement timeout for uploads"
using netty's `IdleStateHandler` in the same as we have for downloads thanks to @nicolov !

[2019-01-22 11:59] robinp commented on #5763
(Cross-posting from tf issue, with more details here)

FYI I saw a remedy in https://github.com/NixOS/nixpkgs/blob/57004738b168663bb4053c6737053e0039cc6259/pkgs/development/tools/build-managers/bazel/python-bin-path-test.nix which is to use `bazel --output_base=/something/other/path`.

The issue seems to be when $HOME is pointed inside the workspace. Bazel creates a symlink mirror of the WORKSPACE

[2019-01-22 12:01] buchgr commented on #4343
It's my understanding that #6033 is a massive step in the right direction but doesn't fix the problem entirely because many rules don't pass tags through to the actions.

[2019-01-22 12:04] buchgr commented on #6033
FYI: @agoulti

[2019-01-22 13:34] or-shachar opened #7212 "bazel-0.22.0 regression: remote execution lost support for symlink?"
### Description of the problem:
We tested bazel 0.22.0 rc3 (#6494 ) with our repo and noticed a regression:
one of our resources jar (`java_library` without `srcs`) has a symlink in its `resources` to another place int the repo.
Until now it all worked fine. But on bazel 0.22.0.rc3 we started to fail with:
[code]

The issue does not reproduce when building locally (without remote execution)

### B

[2019-01-22 13:37] NinjaTrappeur opened #7213 "Cannot stream Bazel build output"
### Description of the feature request:

We currently cannot stream a build rule output to the terminal. We could replicate the analogous test flag `--test_output=streamed` in the build execution phase.

In that case, this would probably mean we would have to run the build actions sequentially in order to prevent any race condition on the terminal output.

### Feature requests: what underlying pro

[2019-01-22 14:03] meisterT commented on #6661
That just must have been a weird state of the repository. The host javabase is completely unrelated to that error. I tried manually and it didn't fail, so I think we're fine.

[2019-01-22 14:25] dslomov commented on #7052
This is the issue that affects both local and remote execution.

[2019-01-22 14:32] irengrig commented on #7195
Resolved by a fix of C++ team. Closing.
//ccc @hlopko

[2019-01-22 14:32] #7195 closed

[2019-01-22 14:50] aehlig commented on #6670
Well, we expect fetching failures to follow the same pattern as other failures. That is, if fetching external repository `foo` fails, we expect an event reporting the failure. This should have an id that identifies the failed target, i.e., an `UnconfiguredLabelId` with label `//external:foo` and a payload `Aborted` (probably `reason` being `LOADING_FAILURE`, and description somewhat human readable

[2019-01-22 15:17] jayconrod commented on #7036
@hlopko FYI, I don't think the versions.bzl trick will work for all projects. In particular, I don't think it will work for rules_go without a breaking change in the WORKSPACE boilerplate.

The Starlark interpreter resolves symbols eagerly, so there can't be references to `CcInfo` in .bzl files that may be loaded by older versions of Bazel, even if those references are never evaluated. So as you s

[2019-01-22 15:26] laszlocsomor commented on #7057
This is great question!

I don't know for sure why Bazel does this. My theory is that following these symlinks lets Bazel track changes in them or in their target, and correctly rebuild rules that depend on the link (e.g. a genrule with `srcs=["a"]` where `a` is a symlink). I also suspect that this behavior may have historical reasons, like supporting a `latest` symlink in some tool's package that

[2019-01-22 15:45] irengrig commented on #7187
/cc @laszlocsomor

[2019-01-22 15:48] laszlocsomor commented on #7187
@irengrig : I'm confused, why should I know about this issue?

[2019-01-22 15:49] irengrig commented on #7187
Is that related to ctx.resolve_tools() ?

[2019-01-22 15:52] irengrig commented on #7194
Hi @vmax, thank you for reporting the issue!
My guess is that as a workaround you could rename "licenses" attribute into something, like "licenses_".

[2019-01-22 15:55] irengrig commented on #7194
Assigning to team-Starlark, because we should warn the user about such cases of names ovelapping.

[2019-01-22 15:55] laszlocsomor commented on #7187
I see, thanks! Yes, it is related, but I don't think it's relevant: `ctx.resolve_tools()` (see [design](https://github.com/bazelbuild/proposals/commit/47ce2ee136a804503532e3e1ca0779fd30507c96) and [PR](https://github.com/bazelbuild/bazel/pull/7139)) is about resolving the input files and input manifests of tools, while this PR is about creating a certain Provider.

[2019-01-22 16:06] ulfjack commented on #7057
Funny, I just discussed this with @buchgr. He was working on related problems, but I'm not sure what his current plan is.

[2019-01-22 16:07] ulfjack commented on #6786
We could allow implementing actions in Starlark, but they'd still be executed in the execution phase, not the analysis phase.

[2019-01-22 16:10] ulfjack commented on #4802
We do pass PATH from the client environment through to the workspace action. It seems like it should look up the path on the PATH, doesn't it?

[2019-01-22 16:19] vmax commented on #7194
@irengrig

Thank you, this is the solution I applied

[2019-01-22 16:22] EricCousineau-TRI commented on #5637
FTR, new link for doc is at:
https://github.com/bazelbuild/proposals/blob/master/designs/2018-06-18-name-resolution.md#lexical-binding-of-variables ([permalink via sha](https://github.com/bazelbuild/proposals/blob/47ce2ee136a804503532e3e1ca0779fd30507c96/designs/2018-06-18-name-resolution.md#lexical-binding-of-variables))

[2019-01-22 16:56] ypapanik commented on #5923
I can confirm the bug, and, this is really strange, it occurs if I am in a greek-named path. Everything runs smoothly if paths are in english. (bazel doesn't like non english speakers apparently :D )

[2019-01-22 17:00] or-shachar commented on #7212
@buchgr can we confirm it's a bug and not an intended change?
cc: @EladWeinson

[2019-01-22 17:00] irengrig commented on #7187
This provider is also about invoking the tool and pass the information about runfiles.
I am not sure how exactly it is different from this case, but it solves the same problem.

[2019-01-22 17:47] buchgr commented on #7212
@or-shachar thanks for reporting. It's a bug, I ll role that change back. You can use `--incompatible_remote_symlinks=false` to workaround this issue.

[2019-01-22 17:48] bayareabear commented on #7169
I am using the following version:
xzhang3$ bazel version
INFO: Invocation ID: 7e7aca66-bb36-4374-af0b-5954e1e267ad
Build label: 0.21.0
Is the check on every AC and CAS entry or just some of them? I just randomly modified one CAS entry?

[2019-01-22 17:55] brandjon commented on #7010
Will work on this next. For the purposes of this tracking bug, the contents of the provider are out-of-scope; we only care about accessing it as a modern provider instead of a legacy one.

[2019-01-22 17:56] jmillikin-stripe commented on #4983
This has been resolved, thanks! The current version of Bazel has much improved debugging compared to v0.11. If I encounter any especially tricky failures in the future, I'll open a separate bug.

[2019-01-22 17:56] #4983 closed

[2019-01-22 18:46] katre commented on #7171
Thanks for the report, I'll look into this today. It should definitely be a warning, not a hard crash.

[2019-01-22 18:48] #7191 closed

[2019-01-22 19:00] buchgr commented on #6494
Unfortunately #7212 is a regression. I am rolling back the root cause of it: https://github.com/bazelbuild/bazel/pull/7216

[2019-01-22 19:31] sgreenstein commented on #6395
I'm able to repro in 0.21.0

[2019-01-22 19:32] katre commented on #7171
The actual cycle is this:
- //tests:expansion_test
- needs a toolchain of type @io_bazel_rules_m4//m4:toolchain_type
- depends on all registered toolchains
- includes @io_bazel_rules_m4//m4/toolchains:v1.4.18
- depends on @io_bazel_rules_m4//m4/internal:deny_shell
- needs a toolchain of type @bazel_tools//tools/cpp:toolchain_type
- depends on all registered toolchains
- cycle

So, as you said, the

[2019-01-22 19:58] hlopko commented on #7036
Then there is an option of checking in https://github.com/bazelbuild/bazel-skylib/blob/master/lib/versions.bzl in rules_go (or the part that is used). Or I missed your point?

[2019-01-22 20:08] tybook commented on #4343
Do you mean #7011 here? Either way, this is great progress! Thanks all for the work!

[2019-01-22 20:22] katre commented on #7171
Reproduction:
[code]

Oddly, a simpler reproduction test case I tried to wrote did show an error message:
[code]

[2019-01-22 20:38] katre commented on #5291
Picking this back up: We can probably remove most of the host_ flags and convert them to attributes on cc_toolchain and related targets, which is arguably a better choice anyway (it puts configuration info into the build tree, rather than on the command line).

The major holdout is `--host_compilation_mode`, which I am investigating.

[2019-01-22 20:48] katre commented on #7171
Okay, managed to get a simpler reproduction, because this relies on their being two toolchains, one of which depends on the other, and the top-level one being mis-configured in register_toolchains.

Looking into implementing a cycle reporter to make the problem clear. I'm not sure there's any level of introspection in RegisteredToolchainsFunction that can catch this, due to the fact that the error

[2019-01-22 21:02] jayconrod commented on #7036
@hlopko We actually have versions.bzl checked in already, that's not the issue.

I started prototyping this a couple days ago. I wanted to have a compat.bzl file which would provide several constants and wrapper functions for different versions of Bazel. This would be loaded as `@io_bazel_rules_go_compat//:compat.bzl`. The `io_bazel_rules_go_compat` workspace would be declared in `go_rules_depende

[2019-01-22 21:32] #7071 closed

[2019-01-22 22:40] #6762 closed

[2019-01-22 22:49] laurentlb opened #7218 "Documentation for depset(transitive)"
From @dbabkin

1) go to https://bazel.build/
2) type depset in search box (upper left corner)
3) click first link.
4) see documentation without 'transitive'

It's only visible in the constructor documentation.

[2019-01-22 22:59] laurentlb commented on #7218
Here: https://docs.bazel.build/versions/master/skylark/lib/depset.html

To rephrase, the documentation is slightly confusing because it's split amont multiple pages:
 - https://docs.bazel.build/versions/master/skylark/lib/depset.html
 - https://docs.bazel.build/versions/master/skylark/lib/globals.html#depset
 - https://docs.bazel.build/versions/master/skylark/depsets.html

[2019-01-22 23:04] laurentlb commented on #5822
Only failure on the CI is rules_typescript.

[2019-01-22 23:09] cushon opened #7219 "incompatible_use_jdk11_as_host_javabase: makes JDK 11 the default --host_javabase for remote jdk"
The option `--incompatible_use_jdk11_as_host_javabase` makes JDK 11 the default [`--host_javabase`](https://docs.bazel.build/versions/master/user-manual.html#flag--host_javabase).

See also `--incompatible_use_jdk11_as_host_javabase` (#6661).

# Migration notes

If you set the flag, Bazel will use JDK 11 as the default [`--host_javabase`](https://docs.bazel.build/versions/master/user-manual.html#f

[2019-01-23 01:36] keith commented on #6144
https://github.com/bazelbuild/bazel/pull/7151 has landed on master which I think will fix this issue without having to pass `--host_cpu`, if someone could verify that'd be great!

[2019-01-23 02:17] hlopko commented on #7150
Can you try the build with `--nolegacy_whole_archive`?

[2019-01-23 07:36] davido commented on #7191
@hlopko Thanks for the quick fix, it works now!

[2019-01-23 10:32] jmhodges commented on #6710
The rules_webtesting ticket got closed without any feedback, but I’ll link it here in case it helps https://github.com/bazelbuild/rules_webtesting/issues/315#event-2089489370

[2019-01-23 10:57] joeleba opened #7220 "[aquery] Verify behavior with aspect-on-aspect"
### Description of the problem / feature request:

Verify that aquery output supports aspect-on-aspect. Add tests to document these behaviors.

[2019-01-23 10:59] aehlig commented on #6494
OK, so I'll wait till #7216 is committed and generate a new RC then, with that commit added as cherry-pick.

[2019-01-23 10:59] joeleba opened #7221 "[aquery] add --include_artifacts option"
### Description of the problem / feature request:

This option defaults to true. When disabled, bazel aquery will not include action inputs and outputs, making the output much shorter.

[2019-01-23 12:12] buchgr commented on #4343
Yep, `no-cache` generally works for tests but we need to invest some time to fix each action individually. For example, `no-cache` doesn't work for `cc_binary`. The following test will fail:

[code]

cc: @benjaminp

[2019-01-23 13:25] ghost opened #7223 "Make generated symlink names consistent with `workspace(name = ...)`"
### Description of the problem

`WORKSPACE` files have a nice option of using `workspace(name = "my_consistent_name")` so that the name of the workspace in `BUILD` files is consistent regardless of what the containing directory happens to be called.

For example even if the bazel workspace is in `my_inconsistent_dir/` you can still access rules with `@my_consistent_name//etc`.

However, bazel does

[2019-01-23 15:03] buchgr opened #7224 "use units in --remote_timeout="
--remote_timeout=INT currently expects seconds. this can be quite error prone as  https://github.com/bazelbuild/bazel/issues/5440 showed. We could instead implement parsing of time units i.e. `--remote_timeout=10s` or `--remote_timeout=1m`.

cc @nicolov

[2019-01-23 16:05] joeleba opened #7225 "[aquery] Add a label to TreeArtifact in text output"
### Description of the problem / feature request:

It is useful for the users to know if an output artifact of an action is a TreeArtifact. We already have this information in the proto output. It should be added to the text output as well.

[2019-01-23 16:07] joeleba commented on #7220
Resolved in ed99017be6c26047d843a7fef12094ae7f520836.

[2019-01-23 16:07] #7220 closed

[2019-01-23 17:04] aehlig commented on #6494
`scripts/release/release.sh create --force_rc=4 deb028e a3a5975 b8d0e1b 3759e38 4473bb1 9137fb9 12ab12e80ad1c9a3510aa4bbfdf3fddafc0bca00 6345c747d8cb1819e70c853becadbf8a989decf1`

--
Klaus Aehlig
Google Germany GmbH, Erika-Mann-Str. 33, 80636 Muenchen
Registergericht und -nummer: Hamburg, HRB 86891
Sitz der Gesellschaft: Hamburg
Geschaeftsfuehrer: Paul Terence Manicle, Halimah DeLaine Prado

[2019-01-23 17:29] aehlig commented on #6494
Sorry, that, of course, should read

`scripts/release/release.sh create --force_rc=4 0.22.0 deb028e a3a5975 b8d0e1b 3759e38 4473bb1 9137fb9 12ab12e 6345c74`

[2019-01-23 19:12] bayareabear commented on #5139
Is there any plan to roll out the "virtual remote filesystem" soon? I am interested to learn more about it and can help if needed. We are hitting network speed bottleneck.

[2019-01-23 19:35] buchgr opened #7228 "remote: improve error message if no message provided"
In the `RemoteSpawnCache` if an exception bubbles up and it has no message attached then we print the class name of the exception to stdout. We should instead print a stack trace of the exception in order to detect and fix these cases. All exceptions bubbling up to the `RemoteSpawnCache` should have user readable and understandable messages.

[2019-01-23 19:44] alexeagle opened #7229 "[aquery] fails with external repository"
Check out rules_nodejs at head and run with Bazel 0.21.0

[code]

[2019-01-23 19:55] buchgr opened #7230 "remote: provide meaningful error messages"
https://github.com/bazelbuild/bazel/pull/7009 removed `RetryException` and was a great step in the right direction. However, error messages still won't be as meaningful as they could be. In all places where we wrap a `StatusRuntimeException` in an IOException we should consider adding a user readable error message.

[2019-01-23 20:23] #5440 closed

[2019-01-23 21:39] #7171 closed

[2019-01-23 21:57] aehlig commented on #6494
RC4 is available at https://releases.bazel.build/0.22.0/rc4/index.html

[2019-01-23 22:16] matthewxperiel commented on #7150
Building with `--nolegacy_whole_archive` did not reduce the size of the binary

[2019-01-24 00:45] tybook commented on #4343
@buchgr Do you know off-hand if `no-cache` works with `genrule` and `java_binary`? Those are the two most important to the codebase I work on.

[2019-01-24 01:18] #5923 closed

[2019-01-24 08:44] laszlocsomor commented on #7187
Ah, you're right, in that light they are related.

[2019-01-24 09:05] buchgr commented on #4343
I believe it doesn't work for both - but there is only one way to find out :-)

[2019-01-24 09:36] buchgr opened #7232 "remote: don't upload failed action outputs"
For historical reasons we are currently uploading the outputs of failed actions. This was mostly so that `test.log` and `test.xml` of failed tests would be uploaded when BES was enabled. However, we have had local file uploads in BES for a while now and thus this (unexpected) feature is now obsolete.

[2019-01-24 09:37] buchgr commented on #7232
cc @benjaminp

[2019-01-24 11:04] aehlig commented on #6656
At the very least we can document that `--host_javabase` has to be set. This is my proposal to do so: https://bazel-review.googlesource.com/c/bazel/+/87850.

The good news is, that we're already testing (since f250784293167ee01dab778731573a36e7820499) that bazel can be bootstrapped offline, so [`//src/test/shell/bazel:bazel_bootstrap_distfile_test`](https://github.com/bazelbuild/bazel/blob/f250784

[2019-01-24 11:31] buchgr commented on #7118
#7154 didn't actually fix this issue. While it's possible to start the debugger and set breakpoints no stack frames are available.

[2019-01-24 11:37] buchgr commented on #7118
awww nevermind. I am stupid.

[2019-01-24 11:37] #7118 closed

[2019-01-24 12:33] meteorcloudy opened #7235 "Bazel CI: Bazel is broken in downstream"
https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/770#_

[code]

Bisecting at https://buildkite.com/bazel/culprit-finder/builds/80#b1f26cc2-040e-4e5d-aae6-daeb4a8e3848

[2019-01-24 12:42] aehlig commented on #7184
As of this moment, `--experimental_ui_deduplicate` is [disabled by default](https://github.com/bazelbuild/bazel/blob/b2cb640454206b9d3d3a04a9c093833d08933ea5/src/main/java/com/google/devtools/build/lib/runtime/BlazeCommandEventHandler.java#L253). It might be a feature that is not useful in all cases, but I fail to see where this is a bug.

[2019-01-24 12:55] buchgr commented on #7235
The reason for the breakage is that we rolled back a broken symlink support implementation for remote caching / execution. The android tests are known to not work with remote caching / execution.

[2019-01-24 12:55] buchgr commented on #5139
yep, please follow https://github.com/bazelbuild/bazel/issues/6862

[2019-01-24 12:57] meteorcloudy commented on #7235
Should we disable the test?

[2019-01-24 13:22] laszlocsomor commented on #4802
How do you know that the string contains the path of an executable vs. a Bash command?

[2019-01-24 13:56] meteorcloudy commented on #7235
The culprit is 12ab12e80ad1c9a3510aa4bbfdf3fddafc0bca00 as confirmed by [culprit finder](https://buildkite.com/bazel/culprit-finder/builds/80#b1f26cc2-040e-4e5d-aae6-daeb4a8e3848)

Since this one is cherry-picked into 0.22.0, I think we should disable the failing android test if it's known to not work. Or is there a tag or something to disable remote caching for it?

[2019-01-24 14:04] laszlocsomor commented on #7030
I managed to repro this: https://github.com/laszlocsomor/projects/tree/3290d2d9e2af9067466e38576e10b8263ac5660a/bazel/gh-7030-buildfarm-includecheck-fails

[2019-01-24 14:07] laszlocsomor commented on #7030
@meteorcloudy does this bug look familiar to you? Look at this first: https://github.com/laszlocsomor/projects/blob/aa29a64a7afc3b2e375cc7af2816a6ecf921b35d/bazel/gh-7030-buildfarm-includecheck-fails/README.md -- it shows the bug and a repro.

[2019-01-24 14:13] laszlocsomor commented on #7122
@gdeest : did you get a chance to try with MSYS2?

[2019-01-24 14:25] meteorcloudy commented on #7030
@laszlocsomor Thanks for the repo, I am looking into this! Could be a similar bug to https://github.com/bazelbuild/bazel/issues/6847

[2019-01-24 14:39] alexeagle opened #7237 "Build ran out of memory but error doesn't indicate this"
Tried to update rules_nodejs to stardoc. It depends on protobuf. I'm on a Pixelbook with whatever builtin linux container, I think it has less RAM (@gregmagolan reproduces in a VM as well). Error is

[code]

Increasing the amount of RAM in the VM fixes it. Not sure which layer is at fault, but the error message is very unhelpful.

[2019-01-24 14:42] brandjon commented on #7184
Proposal: Exempt DEBUG events from deduplication, but make DEBUG events not shown by default. That way you can't abuse print() for informational (non-debugging) purposes, and there's no need to rate-limit it.

[2019-01-24 14:43] alexeagle opened #7238 "Bazel query fails somewhere in protobuf, but error indicates my code is at fault"
Tried to update rules_nodejs to stardoc. Trying to find out why my target has a transitive dep on compiling protoc (which is failing for me).

Error is
[code]

The error uses a syntax "package external" which doesn't make sense.

[2019-01-24 15:02] brandjon commented on #7184
The bug is that

1) print() is ostensibly for debugging
2) when this feature is enabled, this use case is partially thwarted

The fact that the feature isn't (yet) enabled by default in Bazel mitigates the impact but doesn't change the fact that this contradiction exists. We need to either explicitly decide that print() is not just for debugging, or else exempt it from this filtering.

[2019-01-24 15:20] kgreenek opened #7241 "py_test not respecting virtualenv (using python2 instead of python3)"
### Description of the problem / feature request:

After upgrading from bazel 0.19 to 0.21, I am no longer able to run my python tests, which require python3.

We enforce python3 by using a virtual environment. However, even though the virtual env is activated, when I print out the python version, it is 2.7. When I print the python interpreter path, it is using `/usr/bin/python` instead of the pyt

[2019-01-24 15:26] meteorcloudy commented on #7030
I debugged on this a bit, it indeed is a similar issue with #6847.

The MSVC compiler always output the absolute path of the header files it detected, but of course a file under the remote worker's execution directory is not declared as dependency, so it failed at header check.

https://github.com/bazelbuild/bazel/commit/a1aa5c14782b38d8edf86953230f76ba2662378d provided a work around for this prob

[2019-01-24 15:46] kgreenek commented on #7241
As a workaround, I was able to get it to work by adding the following line to my project's `.bazelrc`:
[code]

And adding a py_runtime rule to the top-level BUILD.bazel file as follows:
[code]

Also note: this works because I have a script in my repository that initializes the virtualenv and creates a symlink to it at the top level of my workspace. I just add pyenv to our `.gitignore`. That way th

[2019-01-24 15:58] kgreenek commented on #7241
The above work-around worked for my simple example, but when I tried to use it for real tests that depend on pip-installed packages, it could not find them.

We currently pip-install external dependencies in the virtualenv. So the virtualenv is how we control the python version as well as external deps.

I tried setting the `files` attribute for my py_runtime as follows, with no success:
[code]

T

[2019-01-24 15:59] buchgr commented on #7030
@meteorcloudy no

[2019-01-24 16:16] werkt commented on #7030
Not explicitly. It would be capable of observing output paths and making a reasonable guess, but it would be predicated on knowing that a client is [a particular version of] bazel due to semantics. There is no explicit naming for an execution above the action, except in opaque IDs in metadata, which likely does not contain anything specific to a workspace or it's name.

[2019-01-24 16:16] jblanchet opened #7242 "cc_test does not accept .inl files in srcs argument"
### Description of the problem / feature request:

Trying to include .inl files in a cc_test's srcs argument produces the following error:

`ERROR: C:/users/jblanchet/_bazel_jblanchet/bssk6qfo/external/xxxxx/BUILD.bazel:21:12: in srcs attribute of cc_test rule @xxxxx//xxxxx_tests: source file '@xxxxx//:test/source/TestString.inl' is misplaced here (expected .cc, .cpp, .cxx, .c++, .C, .c, .h, .hh,

[2019-01-24 16:19] buchgr commented on #7030
please don't :-)

[2019-01-24 16:30] irengrig commented on #7241
/cc @brandjon

[2019-01-24 16:48] #6308 closed

[2019-01-24 17:19] #7169 closed

[2019-01-24 17:21] bayareabear commented on #6308
@dMokaMoka, Nginx does not produce any log regarding that. only the downstream uWSGI will produce an error like: upstream connection prematurely closed. You may check your real time QPS and see if the QPS is higher when compiling that file

[2019-01-24 17:47] ulfjack commented on #6651
[code]

[2019-01-24 17:47] bayareabear opened #7244 "Implement similar local disk cache structure as bazel-remote"
In bazel-remote commit:  https://github.com/buchgr/bazel-remote/commit/e9b9c8858f9f74bed41464231c79b168a5fdd020
Files are stored in subfolders named with the first two letters of the file. Bazel should do the same with local disk cache. This is convenient when turning on/off bazel-remote as local http proxy, bazel can consume the same local disk cache directly when bazel-remote is not used.

[2019-01-24 17:48] ulfjack commented on #6651
It works when I run it with the correct directory:
```bazel --host_jvm_args=-Dbazel.windows_unix_root=c:/msys64 test --compiler=msys-gcc //ryu/tests:d2s_test```

It's funny that the client detects the msys location correctly, but then still doesn't work.

[2019-01-24 17:53] ulfjack commented on #6651
It seems to work if I set ```BAZEL_SH```:
[code]

[2019-01-24 20:16] jmmv commented on #7206
Help me understand please as I have zero Docker knowledge so far. So the Bazel sources are on Windows, presumably on an NTFS drive, and they are being "exposed" into the Docker container? Do you know how this happens? Are they copied elsewhere?

[2019-01-24 20:16] jmmv commented on #7101
Yes! Thanks.

[2019-01-24 20:16] #7101 closed

[2019-01-24 20:18] jmmv commented on #7052
@dslomov Well then I'm not sure which `team-*` would best handle this. Maybe Performance? Or maybe we do need a separate category for BES/BEP issues? I think I favor the latter at this point.

[2019-01-24 20:23] jmmv commented on #6994
I think this would be very interesting to do, but how do you switch the subprocesses to run under the new "root"? And is that solution portable? chroot is restricted to root.

[2019-01-24 20:25] jmmv commented on #6953
Could you elaborate a bit more about what would help you here? Where/how would you specify that `--network` flag?

[2019-01-24 20:33] jmmv commented on #6011
The changes to the `bazelrc` file are not really feasible as they would imply significantly changing how it works and this file is already complex enough. It doesn't help that this file is purely parsed on the Bazel client side...

That said, what's the argument for putting these in the configuration file? If you want certain tests to have certain flags, shouldn't those be in their corresponding `

[2019-01-24 20:34] buchgr commented on #7244
that's a great idea! would you be interested in working on this?

[2019-01-24 20:40] jmmv commented on #4963
From my reading of the code, this is only an issue on Linux: we try to bind-mount these paths and their non-existence causes the failure. On macOS, we just use these paths to configure `sandbox-exec` and never try to access them so I think we don't fail there.

We should make the behavior consistent across platforms, document what this is in the flag description, and add a test.

[2019-01-24 20:42] jmmv commented on #1001
I don't think we should pollute the console output with this information, but adding some entries to the `java.log` would certainly be beneficial.

@susinmotion has been doing work on this area and I think we already have some statements in this area. Could you confirm please and maybe add some extra log messages?

[2019-01-24 20:54] jmmv commented on #2109
I doubt this is a product question. The fact that this mentions "install" files doesn't mean it's an installation issue. Also, given that #1035 is very related to this and that that bug is even more out of scope, I think it makes sense to reclassify this as `team-Local-Exec`.

[2019-01-24 21:08] philwo commented on #6994
@jmmv chroot and pivot_root would work, thanks to user namespaces (we actually had that in the code once, but I removed it, when it wasn't necessary anymore: https://source.bazel.build/bazel/+/4366b4886ee908164b2b063e144f0d5edebda14f:src/main/tools/linux-sandbox-pid1.cc;drc=e219a24a30960ab5c686dd09197b5e22626e1fe0;bpv=;bpt=0;l=364)

[2019-01-24 21:16] jmmv commented on #2000
Is this still relevant? I have a very hard time understanding what this is about with a subject line that is not objective and a first message that provides no further details. Please don't make me have to dig through bugs in other projects to *guess* what's happening. If you could summarize the problem, it'd be great.

[2019-01-24 21:17] kevmoo commented on #2000
I'd close this out. I've lost context w/ the original issue.

[2019-01-24 21:17] #2000 closed

[2019-01-24 21:21] jmmv commented on #4912
@ulfjack I see you did the original change referenced in this bug and this is assigned to you. Any thoughts on what the right behavior should be here?

[2019-01-24 21:32] jmmv commented on #6710
FTR, the referenced bug hints at a possible problem here: lack of nested sandboxing. Bazel is sandboxing the action and the action itself runs Chromium with its own sandboxing. Don't know if that's the issue, but if it is... then it's likely a change in Mojave, not Bazel, because I don't recall any recent changes to the darwin sandbox in Bazel that would explain this.

What happens if you run this

[2019-01-24 21:50] jmmv commented on #4277
Well well, from https://openjdk.java.net/jeps/8187041:

So this seems to be "working as intended". The sandbox sets `LC_*=POSIX` which, on Linux, is inherited by the JVM and thus selects US-ASCII, and on macOS is ignored and UTF-8 is used. The rationale seems to be historical compatibility.

I don't think we can fix this ourselves:

1.   If Java is really ignoring the environment variables on macO

[2019-01-24 21:50] jmmv commented on #4277
Given this, rerouting to the Java rules team. They are the ones to make the final call here.

[2019-01-24 22:01] jmmv commented on #2000
OK thanks. Please reopen if you hit this again and the details come back.

[2019-01-24 22:02] jmmv commented on #6994
Oh that's interesting. But obviously only applicable to Linux.

[2019-01-24 22:04] beala-stripe commented on #6955
I have also run into this issue in a `java_binary` rule while setting the `--javabase` and `--host_javabase` to a custom target (an Azul JDK8). Thankfully the workaround worked, but I wanted to bump the issue.

[2019-01-24 22:16] serynth commented on #6011
Hmmm... These are definitely important concerns! :) There are two concerns here, re-analysis and re-execution.

**As far as re-execution goes...** The regex solution should help with that, I believe? Since then you would get an action cache hit, even if the analysis cache is dropped.

**As far as re-analysis goes...** Once the regex solution exists, it's theoretically possible that a future versio

[2019-01-24 22:33] hlopko commented on #6976
I'm confused, shouldn't this be opened in the googleapis repo? That where the patch is called, IIUC, it's not imposed by bazel which and how patch should be called? Am I missing something?

[2019-01-24 22:46] hlopko commented on #7036
Oh, is it because you load `@rules_go//go:def.bzl` from both `WORKSPACE` and `BUILD` files? Yeah I didn't think about that. I'm curious (for rules_cc), was this a conscious decision? What were the reasons to not use 2 separate bzl files?

[2019-01-24 22:55] werkt commented on #7085
Realistically, yes, fail faster is the expected outcome of this, since I've seen connection states where (java-)grpc is ignorant of the connection loss induced by the load balancer. The keepalive will cause terminated connections in this state to yield the connection loss reaction by grpc.

[2019-01-24 23:12] jayconrod commented on #7036
@hlopko "It was like that when I got here." :)

Seriously though, rules_go used to be that all definitions could be in `//go:def.bzl`, and it was only ~300 lines of code. Eventually, we moved stuff into private directories, but `//go:def.bzl` was always the single thing that people could load to get public definitions.

When I pulled Gazelle out into its own repository, I added separate `//:deps.b

[2019-01-24 23:35] cushon commented on #6173
#6661 will make JDK 10 the default `--host_javabase`.

[2019-01-24 23:35] #6173 closed

[2019-01-25 02:10] DlisKeepOnGoing commented on #2485
So how can I solve the problem? "ERROR: Must specify GRPC_JAVA_PLUGIN if not bootstrapping from the distribution artifact"

[2019-01-25 03:00] benjaminp commented on #6994
We actually have a hacky, mostly undocumented implementation of feature that we use in production: https://github.com/benjaminp/bazel/commit/c5bca812736eff98fad6cffc4c0670c91d62812d See the help for `--sandbox_rootfs` for a idea of how to use it. We use `docker export` to make the rootfs.

[2019-01-25 03:04] benjaminp commented on #4343
It certainly works on `genrule`.

[2019-01-25 04:43] 01pooja opened #7246 "Unable to load //:abc/requirements.txt while generating par files using bazel"
### Description of the problem / feature request:

I am trying to generate par files for a target, but it is unable to load package from requirements.txt present in abc directory.

Here are the logs:
ERROR: error loading package '': Encountered error while reading extension file 'requirements.bzl': no such package '@abc_deps//': Traceback (most recent call last):
    File "/tmp/.cache/bazel/_bazel

[2019-01-25 08:44] jizhonghao opened #7247 "building with --remote_http_cache causes exceptions"
### Description of the problem / feature request:

I used bazel to build a c++ project. Without the --remote_http_cache option, the build's result is success. If I add the --remote_http_cache option, the build causes exceptions.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.
I add "build --remote_http_cache=http://myserver/cache" to

[2019-01-25 09:03] ulfjack commented on #4912
The problem is that we need to merge the environment set on the command-line with ```--action_env``` and ```--test_env``` with the environment specified by the Skylark rule in some way. Which of these sources should have precedence over the other is a critical question here. If we allow whatever, then rules will almost certainly end up inconsistent wrt. environment handling, which makes it a pain

[2019-01-25 09:04] ulfjack commented on #4912
Note also that default_shell_env is a misnomer. We probably need to _enforce_ that ```--action_env``` is taken into account during Skylark action creation, and not make it optional.

[2019-01-25 10:10] ity opened #7248 "Feature request: add a new make variable to genrule's `cmd`"
### Description of the problem / feature request:

Add new Make variable to `genrule`'s  `cmd` which always points to the output directory containing output from running `genrule`

### Feature requests: what underlying problem are you trying to solve with this feature?

Currently, when writing a genrule, the `cmd` attribute gets some values substituted into it (see https://docs.bazel.build/version

[2019-01-25 10:39] davispuh commented on #6151
Still happens with `0.21.0`

[code]

[2019-01-25 12:38] hlopko commented on #6385
Hi @dbabkin, did you have a chance to work on this?

[2019-01-25 12:41] hlopko commented on #6867
@aehlig this issue didn't have correct labels, I just added them, FYI.
@katre can you make sure this flag is mentioned in the release notes? Thanks!

[2019-01-25 12:42] hlopko commented on #6867
I also edited the issue description, the flag is not present in 0.21, only in 0.22. So the flag will be flipped in 0.23.

[2019-01-25 13:44] katre commented on #6867
Thanks, I'll take care of the release notes.

[2019-01-25 13:55] buchgr commented on #7247
@jizhonghao thanks for the report. would you be able to share a reproducer so I can better understand the error please?

[2019-01-25 14:18] buchgr opened #7253 "implement cancellation for downloads"
On a remote cache hit Bazel downloads all action outputs. If only one download fails it needs to re-run the whole action locally. In case of a single failed download the current implementation needs to wait for all downloads to finish, before deleting all files it just downloaded and falling back to local execution.

We should implement cancellation for downloads in order to fail fast.

[2019-01-25 14:45] aehlig commented on #6976
Bazel does support applying patches to external repositories and hence [calls `patch(1)`](https://github.com/bazelbuild/bazel/blob/0d708411be5eaad7ac43aebc1c20eccff288c507/tools/build_defs/repo/utils.bzl#L74). Currently, the [default for the arguments to `patch`](https://github.com/bazelbuild/bazel/blob/0d708411be5eaad7ac43aebc1c20eccff288c507/tools/build_defs/repo/http.bzl#L134) is `["-p0"]`. I t

[2019-01-25 14:56] buchgr opened #7254 "remove need for --define=executor=REMOTE in remote execution"
This is mainly used by Bazel to force compiling singlejar and ijar from source when running actions on a remote execution system that might not be compatible with the precompiled singlejar and ijar versions.

Make this obsolete by defining the right platform constraints.

[2019-01-25 14:59] buchgr commented on #5722
fixed in bazel 0.23

[2019-01-25 14:59] #5722 closed

[2019-01-25 15:01] katre commented on #6867
Added the link to the release notes for 0.22, let me know if more detail is needed.

[2019-01-25 15:01] buchgr commented on #2964
This has been fixed a while back.

[2019-01-25 15:01] #2964 closed

[2019-01-25 15:06] buchgr commented on #6394
Broke this out into https://github.com/bazelbuild/bazel/issues/7182.

[2019-01-25 15:11] davispuh commented on #2550
This is still present and `bazel` doesn't work at all when current working directory contains non-ASCII characters.

On ArchLinux with OpenJDK 10 and `LANG=lv_LV.UTF-8`

[code]

[2019-01-25 15:13] ulfjack commented on #6338
This is really odd. I have just seen the same problem in test-setup.sh. However, I did not have to follow the referenced blog post, but just adding a trap handler for SIGTERM seems to make it work correctly. Anyone working on this might want to try that first (I'm cc'ing this bug in the patch, so it should show up when it's submitted).

[2019-01-25 15:15] ulfjack commented on #7119
I'm afraid it looks like I have to break this behavior, because it breaks signal forwarding in other cases. No, I don't completely understand it myself, yet.

[2019-01-25 15:18] ulfjack commented on #4608
The good news is that I fixed most of the issues mentioned above, at least those that are critical for rolling this out.

However, I found yet another issue with signal handling, which apparently isn't working correctly.

[2019-01-25 15:58] davispuh opened #7255 "bazel doesn't work when $HOME path contains non-ASCII characters"
### Description of the problem / feature request:

bazel doesn't work when $HOME path contains non-ASCII characters

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[code]

### What operating system are you running Bazel on?

ArchLinux

### What's the output of `bazel version`?

[code]

### Any other information, logs, or outputs tha

[2019-01-25 16:56] buchgr opened #7259 "remote: update grpc and google auth library to latest"

[2019-01-25 17:08] katre opened #7260 "incompatible_enable_cc_toolchain_resolution: Turn on toolchain resolution for cc rules"
Flag: `--incompatible_enable_cc_toolchain_resolution`
Available since: 0.23
Will be flipped in: 7.0.0

### Description

C++ toolchain resolution is an improved mechanism that selects a proper C++ toolchain (compiler) based on a pair of target and execution platforms (think cross compilation from linux to mac). It’s an improvement over the old mechanism that sets the `--crosstool_top` flag. More in

[2019-01-25 17:17] katre commented on #7260
Note that this flag will supercede and replace the previous `--enabled_toolchain_types` flag, which was introduced before the incompatible change policy was formulated, and which was only ever used for the cc rules, anyway.

[2019-01-25 17:17] jvoung commented on #5859
Hi, any suggestions for the copts, jvm_flags, etc. question?

[2019-01-25 17:17] katre commented on #7260
People who are interested: @hlopko, @lberki, @nlopezgi.

[2019-01-25 17:35] dajmaki commented on #5594
In case someone else gets confused about how to refer to the java toolchain from genrules etc., please have a look here: https://stackoverflow.com/questions/53066974/how-can-i-use-the-jar-tool-with-bazel-v0-19

[2019-01-25 18:38] gregestren commented on #3639
@petemounce : @aiuto has been leading a license redesign. Not sure where the best current doc / tracking bug for that is.

[2019-01-25 18:44] cgruber commented on #3639
A feature request for that redesign would be to allow such checking in
generated workspaces.

For instance, I wrote a maven integration, which generates a workspace in
/external that reflects the full artifact space referenced that will be
pulled in from maven. Being able to turn on license enforcement, so that
(where possible to detect from maven metadata, or overridden where not) one
could avoid

[2019-01-25 19:14] brown commented on #5821
I use the deprecated create_provider API as follows:

new_providers.append(
            java_common.create_provider(
                use_ijar = False,
                compile_time_jars = provider.compile_jars,
                runtime_jars = provider.runtime_output_jars,
                transitive_compile_time_jars = compile_time_jars,
                transitive_runtime_jars = runtime_jars,

[2019-01-25 19:21] aiuto commented on #5859
@jvoung It sounds like your concern is best handled by having your rule look into the toolchain, find the flags and add them to the dict for expand_make_variables. Automatically allowing expansion to peer into any toolchain is fraught with problems.

That said, you still have the basic problem. We need a way to call expand on the $(var) syntax. Or, we have to make a breaking change that forces the

[2019-01-25 21:33] irengrig commented on #7255
probably related: #374

[2019-01-25 23:41] beasleyr-vmw commented on #1299
The missing timestamp field appears to break Maven's maven-antrun-plugin when extracting a gzipped tarball. (This is done in two steps: gunzip, then untar. What I observe is that the .tar.gz is never gunzipped. I'm *guessing* it's from the plugin's builtin up-to-date check which would compare the .gz's mtime to that of the target .tar. This is a problem for large orgs who're incrementally adopting

[2019-01-26 00:15] clintharrison commented on #7119
@ulfjack which behavior do you mean by "this behavior"? Is there an issue I can follow with the "other cases" detailed?

[2019-01-26 00:24] cgruber opened #7263 "struct(...).to_proto() throws an error on finding a None"
### Description of the problem / feature request:

calling to_proto() on a struct containing a None value results in an error.

### Feature requests: what underlying problem are you trying to solve with this feature?

Omit the field with None from the printing, or find a proto-text appropriate way to represent the None

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provi

[2019-01-26 01:19] irengrig commented on #7255
Have you tried -Dsun.jnu.encoding=UTF-8?

[2019-01-26 01:38] laurentlb commented on #4100
I think I fixed this a few months ago.

[2019-01-26 03:18] TheRealAyCe commented on #6488
I found this issue having the same error for something completely unrelated. For me it turned out that I was interrupting the thread that made the first HTTPS request while it loaded the SSL-related classes for the first time, resulting in not correctly loading those classes and throwing that weird exception. Maybe it helps?

[2019-01-26 07:05] solsjo commented on #2903
Related to this but for cc_binary, in some gcc versions, gcc requires the linkerflag -no-pie. Otherwise the target will position independent. Regardless if needsPic is set to false . Is this resolved by this issue aswell? Or should I add a new issue?

[2019-01-26 08:01] phoenixuprising commented on #5643
@jin or anyone else on the Android team, wanted to check in and see if there has been any progress made on this or if we should be expecting anything relatively soon. My team at Square is looking to adopt Bazel and it would be a huge selling point if Android Lint with Bazel had decent performance as it is currently unusable with Gradle on our project.

[2019-01-26 19:39] jmhodges commented on #6710
Ugh, I can't repro now. I'm now on macos mojave 10.4.2 and rules_webtesting updated some of its deps, too.

[2019-01-26 20:59] ittaiz commented on #5821
Can you say a bit more why you need to remove specific jars? Maybe it will
help think what you can do
On Fri, 25 Jan 2019 at 21:14 Robert Brown <notifications@github.com> wrote:

[2019-01-26 21:14] mboes commented on #7122
I am using MSYS2. Still seeing the bug there.

[2019-01-26 21:20] ittaiz commented on #7254
+1
On Fri, 25 Jan 2019 at 16:56 Jakob Buchgraber <notifications@github.com>
wrote:

[2019-01-26 22:02] mboes opened #7265 "Bazel should autoconfigure compiler from the PATH on Windows"
### Description of the feature request

When using `--compiler=*-gcc`, make Bazel pick the GCC compiler from the `PATH` during autoconfiguration.

### Feature requests: what underlying problem are you trying to solve with this feature?

Bazel CC compiler autoconfiguration assumes that GCC is a hard coded location relative to the Bash shell. When this does not match reality, autoconfiguration fails

[2019-01-27 19:03] brandjon opened #7266 "Depset type"
The content type of a depset should describe an upper bound on the types of all the values in that depset. In principle, you could compute this by starting with the Bottom type in the type lattice, and taking the lattice join with each new type added. So `depset([])` should have content type Bottom, `depset([123])` should have content type integer, and `depset([123, 'abc'])` should have content ty

[2019-01-27 22:32] brown commented on #5821
Java developers expect to be able to override the library dependencies of the libraries their code depends upon.  For instance, suppose my code depends on two libraries, lib1 and lib2.  The lib1 target has a dependency on guava22 and the lib2 target depends on guava25.  I want to use both in my application.

My Starlark code implements a rule called java_exclude_library that removes jars from the

[2019-01-28 05:05] brandjon commented on #7266
Turns out that testing the generic type of a depset shouldn't be quite as required as I thought, because somewhere along the line we started enforcing the generic type constraints of params in `@SkylarkCallable`s. Though I think the docstring for `Param#generic1` is out of date: "This is only used for documentation generation."

Testing the generic type is still handy for enforcing internal invari

[2019-01-28 06:34] jin commented on #5643
Unfortunately, there's currently nobody working on Lint integration with Bazel, as the main efforts are on publishing the Android Starlark rules and the refreshed rulesets to rules_android.

cc @ahumesky

[2019-01-28 08:38] lberki commented on #7248
`$@D` does indeed have awful semantics. Thinking out loud:

1. We do have `$GENDIR` and `$BINDIR`
2. The author of the rule knows both its label and whether it outputs to the genfiles or the bin directory
3. However, we don't have access to the repository to the genrule is in

So `$OUT_ROOT_DIR` is actually useful (contrary to what I said earlier in the code review). Let me take a look again.

[2019-01-28 10:02] #7225 closed

[2019-01-28 12:50] aehlig commented on #6494
As no more issues were reported, will promote rc4 to release.

[2019-01-28 13:47] aehlig commented on #6494
Released, see https://github.com/bazelbuild/bazel/releases/tag/0.22.0

[2019-01-28 13:47] #6494 closed

[2019-01-28 15:04] #6611 closed

[2019-01-28 16:16] brown commented on #5821
I added a comment to the issue explaining why I need a JavaInfo constructor
that allows control over classpath jars.

On Sat, Jan 26, 2019 at 3:59 PM Ittai Zeidman <notifications@github.com>
wrote:

[2019-01-28 17:17] jmmv opened #7273 "Sandboxing allows creating files in the directories of input files"
When sandboxing is enabled, an action is currently allowed to create new files in the directories that correspond to input files.

This is probably an accident of how symlink-based sandboxing works: the directories are created in the sandbox location and are never protected. But, for sandboxfs-based sandboxing, this requires extra code and incurs a significant runtime cost due to the need to creat

[2019-01-28 17:37] #4100 closed

[2019-01-28 18:00] Xjs opened #7274 "Using busybox-w32 as BAZEL_SH"
I tried using https://github.com/rmyorston/busybox-w32 as a replacement for bash as BAZEL_SH. After uncovering some problems with Windows line feed handling, which fortunately were really quickly addressed by busybox-w32 maintainers (cf. https://github.com/rmyorston/busybox-w32/issues/138) I thought it would work. However, I keep getting »Permission denied« errors when using `git_repository` in my

[2019-01-28 18:19] allevato opened #7275 "--experimental_remap_main_repo breaks providers somehow"
### Description of the problem / feature request:

When using the `--experimental_remap_main_repo` flag, some providers defined in repository are not able to be found in their targets. It would appear something about the remapping is messing up provider key lookup, or provider identity.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[2019-01-28 18:31] ulfjack commented on #7119
I have a pending change (https://bazel-review.googlesource.com/c/bazel/+/88094) that adds a trap to the test-setup.sh.

I am not sure which version of test-setup.sh you were testing with above (the original code has a trap, then I removed the trap in the case of ```experimental_split_xml_generation```, now I'm adding it back in), but in my testing adding the trap is necessary for the test subproce

[2019-01-28 18:31] ulfjack commented on #7119
It's also possible that there are differences in shell behavior based on platform. The behavior of trap that I saw seems to be completely undocumented.

[2019-01-28 19:13] ale5000-git commented on #7274
I don't really know exactly your problem but usually when a "deletion" command fails on Windows but works on Linux it is because on Linux you can delete an "in use" files while on Windows you cannot do it.

[2019-01-28 19:46] sethkoehler opened #7277 "Bazel duplicates the error message sent from remote execution"
### Description of the problem / feature request:

When an error occurs remotely, bazel prints the error twice, when it should just print the error once.  For example, running a remote build but specifying the incorrect docker container hash will give an error like this:

ERROR: .../BUILD:3:1:  failed (Exit 34). Note: Remote connection/protocol failed with: execution failed Call failed with not re

[2019-01-28 19:46] ulfjack commented on #6853
Can this be closed now?

[2019-01-28 19:47] philwo commented on #6853
I think so. In the unlikely case that it isn't, we will definitely observe it on CI and I can reopen this.

[2019-01-28 19:47] #6853 closed

[2019-01-28 20:18] ittaiz commented on #5821
👍🏽
I think maybe the discussion on the specific (and interesting) use case
should continue on a separate issue but I’ll leave that decision to @iirina
and @lberki
On Mon, 28 Jan 2019 at 18:16 Robert Brown <notifications@github.com> wrote:

[2019-01-28 22:22] htuch opened #7279 "bazel C++ coverage for Envoy crashes JVM"
With Bazel 0.22.0 and gcc 7.3.0, if you clone https://github.com/envoyproxy/envoy and run:

[code]

the following stack trace is emitted:

[code]

This seems to occur when running `hot_restart_test`, which isn't even a direct C++ unit test, but instead a shell script integration test wrapped around the Envoy binary, which is executed multiple times under the script. I'm guessing there might be som

[2019-01-28 22:23] htuch commented on #7279
CC @dslomov @iirina

[2019-01-28 23:01] petemounce commented on #6494
Pushed to chocolatey

[2019-01-28 23:48] ob commented on #7083
So looking a bit more into this bug, I think the problem is around [here](https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/analysis/LocationExpander.java#L367), where the code to expand locations creates the artifacts via a call to `CreateOutputArtifact()`. This has a side effect of adding the artifact to the list of tracked artifacts in the CachingAnalys

[2019-01-28 23:51] gregestren commented on #5574
**2018 EOY update:**

This feature is *partially done*.

* It's now possible to define custom transitions in Starlark that, for example, change the  `--cpu` for a rule's transitive dependencies.
* This currently requires `--experimental_starlark_config_transitions. But that flag should go away by the next release or two.
* This also requires documentation to explain the performance & memory conseq

[2019-01-28 23:53] gregestren commented on #5577
**2018 EOY update:**

This feature is *partially done*.

The flags have been created, but they haven't bene fully piped through all pieces of Bazel's code just yet. This will increase in priority over the first half of 2019.

[2019-01-28 23:57] gregestren commented on #5575
**2018 EOY update:**

This feature is *essentially done*.

* The pieces of https://github.com/bazelbuild/bazel/issues/5574 needed for multi-arch are done
* This requires `--experimental_starlark_config_transitions`, which is a temporary flag going away in the next release or two
* Proper documentation is TBD.
* This has serious performance / memory consequences, as described at https://github.com/

[2019-01-29 00:04] rmyorston commented on #7274
I think @ale5000-git is probably correct. I've had a look at git.bzl and suspect the directory that can't be removed is the current directory of the process.

MSYS2 is based on Cygwin. It uses clever tricks so the following works as it would on Unix and the directory really does get deleted:
[code]
busybox-w32 doesn't aspire to such feats and just reports 'Permission denied'. This is not something

[2019-01-29 04:49] c-parsons opened #7281 "Restrict Starlark to only interact with Starlark types"
Over the past year or so a number of bugs have arisen from Starlark functions/methods/struct fields returning natives types that are not proper Starlark types.
One concrete example: specifying a license attr (using `attr.license()`) on a rule and then, from the rule context, calling `ctx.attr.license`, gets you an object which is not exposed to Starlark.
Trying to print this object prints `<unknow

[2019-01-29 09:21] ale5000-git commented on #7274
In my scripts I put the deletion command of a folder after it is no longer used by the code and I use "cd" to switch to a different directory (not the one that must be deleted) before deleting it.

[2019-01-29 11:44] Xjs commented on #7274
Oh. Hang on. The working directory of the BAZEL_SH is `C:/tmp/_bazel_jannis.schnitzer/fji6e52k/external/com_github_Xjs_dummy_dependency`, and `cd C:/tmp/_bazel_jannis.schnitzer/fji6e52k/external` is already called in a sub-shell.

It's nice of Cygwin to do some tricks to make this work, but I think this should be fixed by Bazel as to not require this feature (deleting a directory while inside) any

[2019-01-29 11:48] Xjs commented on #7274
Related: https://github.com/bazelbuild/bazel/issues/6339

In a nutshell: @laszlocsomor said in the thread there, `git_repository` shouldn't depend on a shell at all. While it does, it should also not try to delete the current working directory.

[2019-01-29 11:59] rmyorston commented on #7274
Right, that's what I suspected. I don't know enough about Bazel to figure out how that comes about but it does explain the observed behaviour.

[2019-01-29 12:15] shmish111 opened #7286 "nginx example config incorrect"
### Description of the problem:

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

### What operating system are you running Bazel on?

### What's the output of `bazel info release`?

    release 0.21.0- (@non-git)

### If `bazel info release` returns "development version" or "(@non-git)", tell us how you built Bazel.

### What's the o

[2019-01-29 12:23] laszlocsomor commented on #7274
/cc @irengrig for git_repository, see https://github.com/bazelbuild/bazel/issues/7274#issuecomment-458511425

[2019-01-29 13:50] laszlocsomor commented on #6651
Thanks, I could repro with Bazel 0.22 by unsetting all envvars except for `JAVA_HOME`, `SYSTEMROOT`, and `SYSTEMDRIVE` and building after a `bazel clean --expunge`.

[2019-01-29 14:23] ittaiz commented on #6670
Thanks! @lfpino any update?

[2019-01-29 14:27] lfpino commented on #6670
Hi Ittai, no updates so far and unfortunately. I don't have much bandwidth this quarter so I don't expect any changes in this area at least until early Q2.

[2019-01-29 14:36] laszlocsomor commented on #6651
Culprit: the client detects Bash later then it creates the `--windows_unix_root` startup flag, which is host JVM flag.

[2019-01-29 14:43] ittaiz commented on #7093
@iirina @dslomov when can we expect this to be triaged?

[2019-01-29 14:48] philwo opened #7288 "bazel_java_test#test_java_test_timeout is flaky on CI"
See https://buildkite.com/bazel/google-bazel-presubmit/builds/14665#bfdc1352-3451-49da-9895-183f047362e5.

test_java_test_timeout FAILED: Expected regexp failures='2' not found .
/home/bazel/.cache/bazel/_bazel_bazel/ec321eb2cc2d0f8f91b676b6d4c66c29/sandbox/linux-sandbox/1056/execroot/io_bazel/bazel-out/k8-fastbuild/bin/src/test/shell/bazel/bazel_java_test.runfiles/io_bazel/src/test/shell/bazel/ba

[2019-01-29 15:36] libsamek opened #7290 "Bazel is slow on Docker Mac"
### Description of the problem / feature request:

Bazel build in Docker container on Mac is about 120% slower than the same build on a host machine (Mac).

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Bring up container with Bazel installed and do a bazel build.

### What operating system are you running Bazel on?

Bazel is runni

[2019-01-29 15:42] nmattia opened #7291 "test inconsistent No test targets were found, yet testing was requested"
### Description of the problem:

When package `package` has no test targets, `bazel test //package/...` sometimes succeeds, sometimes doesn't.

The former case:

[code]

The latter:

[code]

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

I've only seen the `ERROR: ...` case occur on the [rules_haskell] [CI], with this config:

[code

[2019-01-29 15:47] dapirian opened #7292 "--incompatible_dont_emit_static_libgcc doesn't work"
### Description of the problem / feature request:
Even with `--incompatible_dont_emit_static_libgcc`, bazel still emits `-static-libgcc`

### Feature requests: what underlying problem are you trying to solve with this feature?

I have a crosstool which uses Clang 7.0.1 & compiler-rt, not libgcc (`linker_flag: "-rtlib=compiler-rt"`). Bazel passes `'-static-libgcc` even though I'm not using libgcc,

[2019-01-29 16:03] beasleyr-vmw opened #7293 "pkg_tar's "./" prefix hinders Bazel migration"
### Description of the problem / feature request:

Files embedded in a tar created by `pkg_tar` include a mandatory "./" prefix. I would like to make this prefix optional.

### Feature requests: what underlying problem are you trying to solve with this feature?

This is an interoperability/migration problem. My request incurs tech debt to finance Bazel adoption.

I'm trying to migrate a constellat

[2019-01-29 17:00] filipesilva commented on #7206
Heya @jmmv. I don't know a lot about the Docker internals but will tell you whatever I can.

When using the `-v $(pwd -W):/src` flag on docker, I am saying "I want the contents of the current directory ( given by `$(pwd -W`) to be mounted under docker at `/src`".

I was calling this volume because it uses the `-v` flag, but it looks like the correct name is "bind mount": https://docs.docker.com/st

[2019-01-29 17:25] brown commented on #6958
We have Java libraries that dynamically load native C libraries and we use the sandwich API to modify the compile time and run time Java classpath in order to exclude unwanted dependencies.  For instance, a developer might want to exclude Guava version 22 from the classpath of an application when it depends on a collection of libraries that collectively depend on both Guava 22 and Guava 25.  More

[2019-01-29 17:43] johnynek commented on #6431
One question I have about this configurability is how it might relate to building with different versions of a compiler that may be slightly incompatible.

e.g. compiler v10 accepts mostly more than v9, but occasionally features are removed so v9 supports some code v10 does not.

In this world, using v10 may mean a different set of external dependencies selected and it may mean that some targets w

[2019-01-29 18:05] beasleyr-vmw commented on #7293
Currently checking to see if it'd be enough to expose `build_tar`'s `--root_directory` parameter to the `pkg_tar` rule.

[2019-01-29 18:14] ixdy commented on #7293
cc @damienmg @mattmoor who helped when I attempted to submit this the first time around

I never entirely understood what broke, but I think it was something with the docker rules (but wasn't picked up in any unit tests, only breakages of downstream users). There's better test coverage on the docker rules now, so it might also be interesting to see if this still causes breakages.

[2019-01-29 19:16] beasleyr-vmw commented on #7293
I think switching the default will end up breaking _someone_ downstream, so if maintainers agree that this is worth tackling, I imagine it can only be done by adding an option to `pkg_tar` and leaving it up to users to decide on a per-tar basis whether to use the prefix or not.

I ran a few experiments and added test cases to `build_test.sh`, and so far I'm convinced that it'd be enough to let `pk

[2019-01-29 19:23] Globegitter opened #7294 "bazel query exception"
### Description of the problem / feature request:

I was trying a query from this thread: https://github.com/bazelbuild/bazel/issues/1831#issuecomment-375760277, specifically `bazel query --universe_scope="//..." --order_output=no 'kind(rule, siblings(buildfiles(rbuildfiles(WORKSPACE))))'` and getting an exception when doing so. Not sure to be honest if this is a query that makes sense, but it sho

[2019-01-29 19:48] gregestren commented on #7294
Assigned to @juliexxia for diagnosis.

[2019-01-29 19:52] eduardojmc commented on #7052
@ulfjack
This issue seems to be high priority for some customers - we have good timing for individual test actions, but the timing for the entire target/configured target is inconsistent since this data is not reported in BEP. In this case, we don't even know how the data is computed in the CLI so it is understandable that it might differ a lot. Having imprecise/inconsistent data makes an UI drive

[2019-01-29 19:52] gregestren commented on #6516
See https://github.com/bazelbuild/bazel/issues/7260

[2019-01-29 19:56] gregestren commented on #7260
Will native transitions like https://github.com/bazelbuild/bazel/blob/4b00ab1b97e5711c2fd65eb8150923effac0dae7/src/main/java/com/google/devtools/build/lib/rules/android/AndroidRuleClasses.java#L252 also need attention?

[2019-01-29 20:02] katre commented on #6431
It sounds like jvm and js are different target platforms (building for a browser vs building for a jvm).

The different compiler versions is a little more tricky. Do users want to use both in the same build, or just pick one and stick with it? Can you give examples of the types of things users would need to change when changing from scala 2.12 to 2.13?

[2019-01-29 20:03] gregestren commented on #7194
Nicely detailed report, thank you.

This is definitely related to https://github.com/bazelbuild/bazel/issues/6420. The ultimate solution is to strip this out as anything special vs. any other attribute.

https://github.com/bazelbuild/bazel/issues/6420#issuecomment-436675362 mentions a timeline which prefers not doing this until a new licensing mechanism is in place.

But an active crash isn't inno

[2019-01-29 20:03] katre commented on #7260
Yes, @aragos and I have been discussing a plan. We will probably not be able to flip this flag until we have a solution, so I am removing the "Will be flipped in" tag.

[2019-01-29 20:30] katre commented on #6431
Sorry, I wasn't clear about what I was asking. I agree that there is definitely a usecase for this.

What I am curious about: what types of changes would a user be making to their scala_library targets when migrating from one version to the next?

[2019-01-29 20:33] johnynek commented on #6431
typically people have some files that have version specific implementations, but export a shim API that works on both versions. Then internal to those files they will call different APIs or use different syntax.

So, the user needs to select different srcs to compile (maybe different dependencies) based on the version of the compiler.

[2019-01-29 20:50] katre commented on #6431
I see, thanks for clarifying.

This feels like a case best handled with a new flag in starlark, to select between different compiler versions. Your toolchain can use the flag to decide which specific toolchain to use, and you can provide a config_setting that users can use to declare multiple sources (or dependencies, as needed) based on compiler version.

[2019-01-29 22:11] brandjon commented on #7010
Change of plan: The incompatible flag will actually *disallow* passing the legacy provider to native Python rules, not just make it ignored. Failing fast makes it easier to find rules that need migrating, and avoids subtle bugs due to falling back on default logic.

[2019-01-29 22:18] rnburn opened #7295 "--incompatible_package_name_is_a_function=false is unrecognized option"
### Description of the problem / feature request:

Bazel gives the error
[code]

That option was working for me until very recently.

### What operating system are you running Bazel on?

### What's the output of `bazel info release`?

[code]

[2019-01-29 22:44] vbatts opened #7296 "0.22.0 FTBFS: C++ compilation of rule '//src/tools/singlejar:output_jar'"
### Description of the problem / feature request:

Build of 0.22.0 on Fedora rawhide

`/builddir/build/BUILD/bazel-0.22.0/src/tools/singlejar/BUILD:390:1: C++ compilation of rule '//src/tools/singlejar:output_jar' failed (Exit 1): gcc failed: error executing command`

Found about 95% toward the end of https://copr-be.cloud.fedoraproject.org/results/vbatts/bazel/fedora-rawhide-x86_64/00851673-bazel

[2019-01-29 22:55] benjaminp opened #7297 "javac turbine needs to be updated"
Since d42a026e63872efb9f9f3879248ddf4431c65d20, I've been seeing failures like this:
[code]

[2019-01-29 23:43] brycecr commented on #2525
Just encountered something that seems quite similar to this bug in symptom, so a mention that this still seems to be an issue.

[2019-01-29 23:52] ulfjack commented on #6670
We're focusing on stability (not crashing) and performance at this time, rather than new features. We want to migrate Google to use it so that we can delete a bunch of legacy code (that isn't open source).

We'll need to think carefully about how to integrate repository setup into the protocol - there are still some discussions ongoing about changing the current model.

[2019-01-30 00:06] robbertvanginkel commented on #4057
Was this fixed with https://github.com/bazelbuild/bazel/issues/5981 / https://github.com/bazelbuild/bazel/commit/81b59f05cb0853d27055edf77e62b619ff0aa4ba ?

[2019-01-30 04:01] brandjon opened #7298 "incompatible_disallow_legacy_py_provider: Use PyInfo instead of "py" struct providers"
**Flag:** `--incompatible_disallow_legacy_py_provider`
**Available since:** 0.23
**Will be flipped in:** either 0.24 or 0.25, depending on migration progress
**Tracking issue:** #7010

## Motivation

Legacy struct providers have been deprecated for a long time, yet the native Python rules (`py_library`, `py_binary`, `py_test`) still use them internally and for sandwiching with Starlark-defined rul

[2019-01-30 05:52] cushon commented on #7297
Hmm, I thought I had updated it: 9259683c6b460629d1ca83759ce26fa76839558d

Are you building with any `--incompatible_` flags?

[2019-01-30 05:59] benjaminp commented on #7297
I think the problem is that there's also `third_party/java/java_tools/turbine_deploy.jar`.

[2019-01-30 06:06] thundergolfer commented on #1402
@s50600822 Did you build with the `_deploy.jar` suffix?

[2019-01-30 06:06] benjaminp commented on #7297
I hacked up an integration test to demonstrate the problem:
[code]

[2019-01-30 06:09] cushon commented on #7297
Thanks, I'd forgotten about #7196.

It's concerning that there apparently aren't any integration tests using `generates_api`.

@lberki are there plans for more automation around `third_party/java/java_tools/update_java_tools.sh`?

[2019-01-30 11:35] aehlig commented on #7032
Closing, as there is nothing we can do here any more.

[2019-01-30 11:35] #7032 closed

[2019-01-30 12:47] rjurney commented on #5274
This worked for me on Ubuntu 17.10, thanks @mryellow:

[code]

[2019-01-30 13:19] ghostplant opened #7300 "Creating runfiles tree `.../build_pip_package.runfiles` failed: Process exited with status 1"
I am building Tensorflow 1.12-rocm from source with bazel version 1.15.2.

The error log shows below which seems to be a bug from bazel:
[code]

I cannot even see any

[2019-01-30 13:57] lberki opened #7301 "Crash when BAZEL_LINKOPTS is set to an empty string"
Reproduction:

[code]

Result:
[code]

[2019-01-30 14:00] rongjiecomputer commented on #7296
From the build log:

[code]

It seems like the issue is caused by the version of GCC you are using rather than Bazel itself.

[2019-01-30 14:33] vbatts commented on #7296
Ah, so gcc 9.0.0-0.3.fc30

[2019-01-30 14:33] lisaonduty opened #7302 "--remote_http_cache build option crash"
### Description of the problem / feature request:

According to the answer of case: Support of [no] addition of --remote_http_cache build option #6719
It shall be possible to give the build option with an empty value.
But that will crash. The case was closed and it seems like the comment was never read.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal exa

[2019-01-30 14:52] katre commented on #7081
Changed the targetted flag-flip release, since this will require extensive testing and may need to wait for the projected migration plan for the cpu flag.

[2019-01-30 15:06] jmmv commented on #614
Reclassifying this as a bug and moving to the local execution team. My reading of the history is that this bug is actually tracking the inability to cancel jobs scheduled on workers, which results in Ctrl+C not being immediately honored.

[2019-01-30 16:57] ghostplant commented on #7300
How to trace which process exited with status 1?

[2019-01-30 17:33] AustinSchuh opened #7303 "blocks-network and allows-network are different for different spawn strategies"
Currently, remote execution uses platforms to manage whether tests have network access or not.  linux-sandbox uses tags.

This means that we need to define tags and platform requirements for all actions which have requirements different than the default.  That's error prone.  There should be one way to control requirements across multiple spawn strategies.

This is on Linux, but the OS shouldn't m

[2019-01-30 18:13] ulfjack opened #7304 "Bazel build crash with IllegalArgumentException"
This is bazel 0.22.0, on an otherwise clean machine.

[code]

[2019-01-30 18:14] ulfjack commented on #7304
This seems to be Debian 9.6 (it's a cloud vm, not my personal machine).

[2019-01-30 21:41] Reflexe opened #7305 "Error when WORKSPACE uses REPOSITORY_NAME"
### Description of the problem / feature request:
When trying to run an external repository that uses `REPOSITORY_NAME` or `PACKAGE_NAME` on a WORKSPACE file, it fails with `"builtin variable 'REPOSITORY_NAME' is referenced before assignment."`; however it does work with `native.repository_name()` which should be equivalent.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please

[2019-01-30 21:57] brandjon commented on #6443
This crosses over into Configurability team's domain and I understand they're prioritizing it, so until we understand more I'm marking this P2.

[2019-01-30 22:44] c-parsons opened #7306 "IllegalStateException from aspect/rule private attribute conflict"
repro:

[code]

With `bazel build --aspects=//package:aspect.bzl%MyAspect //package:yyy` you get a stack trace:
[code]

[2019-01-31 00:59] willwu1984 commented on #7247
@buchgr a repoducer: https://github.com/willwu1984/bazel_coverage_demo/tree/master
the coverage command is: `bazel coverage --build_tests_only --incompatible_remove_native_http_archive=false --test_lang_filters=-py --host_java_toolchain=@bazel_tools//tools/jdk:toolchain_hostjdk8 --instrument_test_targets --coverage_report_generator="@bazel_tools//tools/test/CoverageOutputGenerator/java/com/google/

[2019-01-31 02:52] brandjon opened #7307 "incompatible_allow_python_version_transitions: Python version is no longer "sticky""
**Flag:** `--incompatible_allow_python_version_transitions`
**Available since:** 0.23
**Will be flipped in:** either 0.24 or 0.25, depending on migration progress
**Tracking issue:** #6583
[Design doc](https://github.com/bazelbuild/rules_python/blob/master/proposals/2018-10-25-selecting-between-python-2-and-3.md)
**Corresponding syntactic change:** #7308

## Motivation

The Python mode behaved in

[2019-01-31 03:15] brandjon opened #7308 "incompatible_remove_old_python_version_api: Use `python_version` flag and attribute instead of `default_python_version` and `--force_python`"
**Flag:** `--incompatible_remove_old_python_version_api`
**Available since:** 0.23
**Will be flipped in:** either 0.24 or 0.25, depending on migration progress
**Tracking issue:** #6583
[Design doc](https://github.com/bazelbuild/rules_python/blob/master/proposals/2018-10-25-selecting-between-python-2-and-3.md)
**Corresponding semantic change:** #7307

## Motivation

With the semantic changes descr

[2019-01-31 04:17] ghostplant commented on #7300
A more detailed logs attached below if I uses bazel 0.19.2:
[code]

Can anyone take a look at what kind of problem for the error line above?
[code]

[2019-01-31 05:14] jmillikin commented on #4074
Closing as obsolete now that the C++ toolchain implementation has been overhauled.

[2019-01-31 05:14] #4074 closed

[2019-01-31 06:07] davido commented on #6494
Bazel 0.22.0 Alpine Linux package is [here](https://github.com/davido/bazel-alpine-package/releases/tag/0.22.0).

[2019-01-31 06:14] jmillikin commented on #3766
PR: https://github.com/bazelbuild/bazel/pull/7309

[2019-01-31 07:38] #7305 closed

[2019-01-31 10:25] emusand opened #7310 "Feature request: Add parameter cc_library(compile_only_deps)"
### Description of the problem / feature request:

Add a new parameter to rule `cc_library`: `compile_only_deps`. It should work as described in document [Bazel finer grained C++ dependency types](https://docs.google.com/document/d/1WW4iY3-74DVSX9wD3TiznrUIs7vybrxkj1U22JmWIrI/edit):

**Example**: Say that you have the following libraries:

[code]

The `compile_only_deps` in "b" is only used when c

[2019-01-31 11:04] shs96c opened #7311 "Multiple genrules should allow outputs with the same name"
### Description of the problem / feature request:

The given build file does not allow bazel to run as it complains about conflicting outputs.

[code]

While this is a pathological case, it's easy to reach this point accidentally by invoking macros. It seems like an unnecessary constraint.

### Feature requests: what underlying problem are you trying to solve with this feature?

It should be possi

[2019-01-31 11:10] shs96c opened #7312 "py_import is missing"
### Description of the problem / feature request:

When working with Java, it's possible to rely on third party jars using the `java_import` rule. The same should be possible for python. Following the same naming conventions as bazel already has, this might be called `py_import`.

The Python world uses eggs and wheels as the common formats for packaging dependencies, and both of these should be su

[2019-01-31 11:17] dslomov commented on #5825
@c-parsons when do you intend to flip the flag?

[2019-01-31 11:26] emusand opened #7313 "Make the sandboxed file system more strict"
### Description of the problem / feature request:

Make it possible to configure the sandbox to whitelist local directories. The sandbox will have read access to only these directories (and its execroot). No other local directories will be available.

Today it is possible to blacklist directories with option `--sandbox_block_path=<directory>`. This feature request adds the possibility to whitelist

[2019-01-31 11:40] dslomov commented on #5826
@c-parsons when do you intend to flip the flag?

[2019-01-31 11:43] dslomov commented on #5824
@cushon @c-parsons when do you intend to flip the flag? (what is the length of a [migration window](https://docs.bazel.build/versions/master/backward-compatibility.html#incompatible-changes-and-migration-recipes) - 1 release? more?)

[2019-01-31 11:43] dslomov commented on #5822
@c-parsons when do you intend to flip the flag?

[2019-01-31 12:50] #7301 closed

[2019-01-31 13:12] dslomov commented on #3766
What is the motivation for reading the file into Starlark rule?

[2019-01-31 13:15] dslomov commented on #7304
@lberki could you take a look/assign to someone who can take a look?

[2019-01-31 13:18] dslomov commented on #7302
Sorry about that, will reopen #6719.

[2019-01-31 13:18] #7302 closed

[2019-01-31 13:19] dslomov commented on #6719
Sounds like suggestion in https://github.com/bazelbuild/bazel/issues/6719#issuecomment-442005976 didn't work.

[2019-01-31 13:24] laurentlb commented on #5822
I've sent a PR to rules_typescript, still waiting for maintainers to merge it.
I think it will be too late for 0.23, so let's say 0.24.

[2019-01-31 13:34] dslomov commented on #7279
@lberki please take a look or assign someone to take a look - apparently java/com/google/devtools/coverageoutputgenerator/Main.jar is not bundled with bazel?

[2019-01-31 13:36] dslomov commented on #7275
@dkelmer ptal

[2019-01-31 13:39] dslomov commented on #7274
We should fix this as a part of general effort to not depend on bash for repository rules.

[2019-01-31 13:41] laszlocsomor commented on #7274
That effort (i.e. not depending on Bash) is tracked in https://github.com/bazelbuild/bazel/issues/4319.

[2019-01-31 13:41] dslomov commented on #1914
We do not have a very good design for fetching transitive dependencies atm.  See the [thread](https://groups.google.com/d/msg/bazel-dev/YGV4_pMIMmA/z3o_64ewAQAJ)

[2019-01-31 13:42] dslomov commented on #2310
generate-workspace is no longer supported.

[2019-01-31 13:42] #2310 closed

[2019-01-31 13:44] dslomov commented on #7180
@dkelmer could you validate that it all works now after repository remapping is shipped?

[2019-01-31 13:45] dslomov commented on #7223
I am not sure what you mean by "bazel workspace is in `my_inconsistent_dir/`"?
Can you give a provide repro that illustrates the problem?

[2019-01-31 13:46] dslomov commented on #7229
Passing to performance team since they are responsible for aquery.

[2019-01-31 13:46] dslomov commented on #7229
/cc @meisterT

[2019-01-31 13:57] meisterT commented on #7229
Some insights:
It also fails with Bazel 0.22.
Both `bazel query` and `bazel build --nobuild` work, but `bazel aquery` and `bazel cquery` do not.

cc @juliexxia

@joeleba can you please have a look?

[2019-01-31 14:01] dslomov commented on #7223
Ah I see, and where do you see this name used? Is that only the `bazel-<name>` symlink in the workspace root?

[2019-01-31 14:54] allevato commented on #7275
It looks like it may be fixed; I can't produce the same error when using the flag with rules_swift on 0.22, so I'll close this. Thanks!

[2019-01-31 14:54] #7275 closed

[2019-01-31 15:00] dslomov commented on #7274
Oh wow I missed that there is already a proposed fix (#7285) - very cool!

[2019-01-31 15:16] asuffield opened #7315 "cc autoconfiguration resolves symlinks in builtin include paths"
### Description of the problem / feature request:

When using c++ autoconfiguration, symlinks get fully resolved in include paths. When combined with remote builds, and machines that have differing symlinks in the compiler install path, the result is that the builtin_cxx_include_path entry in @local_config_cc//:CROSSTOOL and the paths in the .d files generated by the compiler will not match, and t

[2019-01-31 15:37] asuffield commented on #7315
Further discovery: there is an -fno-canonical-system-headers flag being added, which purports to be sufficient, but is demonstrably not adequate to prevent the symlink from being resolved. Only --no-canonical-prefixes achieves this.

This behaviour is not consistent between all builds of gcc - I have one compiler where it happens, and another where it does not. The compiler which shows the bug is

[2019-01-31 15:41] laurentlb commented on #6080
@dslomov - do you know a reason why it's not an error?

[2019-01-31 16:47] dkelmer commented on #7275
Thanks for confirming :)

[2019-01-31 16:51] nlopezgi commented on #6861
Hi Marcel,
Were running some tests with bazel 0.22.0 and noticed that  just running:

results in errors related to these changes.
i.e., it seems the default toolchain produced by local_config_cc is not compatible with using --all_incompatible_changes.
Is this expected? When can we have a local_config_cc that is compatible with the new flags (is that what https://github.com/bazelbuild/bazel/issues/

[2019-01-31 16:58] rnburn commented on #7295
Many projects (e.g. protobuf) haven't been updated to replace PACKAGE_NAME and REPOSITORY_NAME. How are we suppose to build them with that flag removed?

[2019-01-31 17:01] hlopko commented on #6861
Hi Nick,

We only migrated bazel's crosstools in 0.23, since the flag will be flipped in 0.24. Also, in general, don't use `--all_incompatible_changes` (we should totally remove that), only look into which flags are in the migration window and/or which flags will be flipped in the next release.

This flag doesn't have the `breaking change` label yet, we don't know if we will be able to submit the

[2019-01-31 17:19] hlopko commented on #6861
@dslomov , can you pls elaborate on why we removed the `migration-ready` label? People can already migrate their custom crosstools with bazel 0.22, and I don't expect many will be affected by bugs discovered so far. And I was hoping to get user feedback from 0.22.

[2019-01-31 17:52] dslomov commented on #6861
@hlopko no need to worry - your migrations are ongoing. Description of "migration-ready" label: *Incompatible changes that are ready for migration, but migration window hasn't yet started*

For this issue, migration has already started - they are marked with "migration-0.22" and "migration-0.23" labels, so I removed the label. See [Communicating Incompatible Changes]( https://docs.google.com/docum

[2019-01-31 17:54] dslomov commented on #6861
Also added "breaking-change-0.24" label to communicate your _intended_ breakage timeframe. Please update once you have more information.

[2019-01-31 18:01] nlopezgi commented on #6861
thanks for the clarifications Marcel!

[2019-01-31 18:02] cgruber commented on #3766
Getting metadata in that you can use to generate the repository more effectively.  In my case, for example, getting teh appropriate maven metadata (pom files) to ensure that we generate dependencies properly in the generated bazel targets.  Right now I'm using "cat" which doesn't work on windows.  I don't want to have to set up a per-platform toolchain just to read a file.

[2019-01-31 18:52] jmillikin commented on #3766
I've been read files in repository rules for two reasons:

1. Sometimes the choice of which artifacts to download is driven by a file from the main workspace. For example, Python or Node.JS projects save their download URLs to "lock files". The only way to access the content of a file from the main workspace is via the symlink hack described in the first post.

2. Some external dependencies requir

[2019-01-31 18:52] philwo commented on #7313
@benjaminp Could you share the link to your tweaked sandbox that can mount an image instead of the host `/` again? I remember that you posted it on an issue recently, but can't find it.

I wonder if that would already be enough to support this use case. We could spend some time to polish it and get it into Bazel mainline :)

[2019-01-31 18:55] gregestren commented on #7311
Thanks for the report, Simon. This is close to [some stuff](https://github.com/bazelbuild/bazel/issues/6526) I"m working on.

For many of Bazel's outputs I think we have options. But for something like the above example it isn't quite as simple. For example, what should

    genrule(
        name = "consumer",
        srcs = ["//mypackage:bar"],
        outs = ["gg2.out"],
        cmd = "cat $< >

[2019-01-31 18:56] meisterT commented on #7304
I guess this is the same as #6993 - is there a JDK installed on the machine? We definitely need to improve the error detection there and not crash bazel.

[2019-01-31 18:59] ulfjack commented on #7304
Yes, there is:
[code]

[2019-01-31 19:10] meisterT commented on #7304
Can you please try with `--java_toolchain=@bazel_tools//tools/jdk:toolchain_java8`?

[2019-01-31 19:17] benjaminp commented on #7313
https://github.com/bazelbuild/bazel/issues/6994#issuecomment-457438551 has the details.

[2019-01-31 20:39] ulfjack commented on #7304
Same exception.

[2019-01-31 22:15] theindexer opened #7319 "Feature Request: Allow empty tests after applying --test_filter (Java)"
### Description of the problem / feature request:

Add the option to ignore NoTestsRemainException after applying `--test_filter` (in Java)

### Feature requests: what underlying problem are you trying to solve with this feature?

As a Java dev, I haven't investigated how this behaves / underlying code for other supported languages.

When using `--test_filter`, the test will fail if there are no m

[2019-01-31 22:36] beasleyr-vmw commented on #7293
Cool. I settled on `prepend_dotslash` to make progress internally (bypassing any need to reconcile with `package_dir`), but I'm happy to go in either (or even another) direction and to produce a pull request (inc. docs and tests) to solve this upstream. Will wait for guidance from maintainers for now.

[2019-01-31 23:00] lberki commented on #7304
/cc @cushon (the earliest I can take a look is tomorrow -- it's very late here already and I'm somewhat exhausted from a day of conferencing)

[2019-01-31 23:45] lberki commented on #7304
Well, that's not good. I tried this on a `debian:stretch` image and I got a _different_ exception:

[code]

[2019-01-31 23:50] lberki commented on #7304
Uh. So turns out, the crash that happens is different when there is no java, _but_ the `WORKSPACE` is in `$HOME`. Putting `WORKSPACE` in a subdirectory reproduces the previous error.

[2019-02-01 00:01] lberki commented on #7304
@lfpino : can you take a look?

This appears to happen because `DumpPlatformClassPath` doesn't like when `@local_jdk` doesn't actually point to a JDK, for example, when there is no JDK installed locally.

One possible fix is that before `DumpPlatformClassPath` does anything substantial, it checks whether it actually has a JDK and if not, raises and error. After all, Bazel can't be expected to buil

[2019-02-01 02:50] scentini opened #7320 "incompatible_disable_crosstool_file: Disable loading data from CROSSTOOL files"
Flag: `--incompatible_disable_crosstool_file`
Available since: 0.23 (February 2019 release)
Will be flipped in: 0.24 (March 2019 release)

Motivation
 The motivation for this change is described here: [design doc](https://docs.google.com/document/d/1Nqf16jqDGWSrPp4VuRxh0iNnVBoAXsO0meDH69J9xoc)
#5380 tracks the effort of rewriting CROSSTOOL files in Starlark.

Migration
`cc_toolchain`s should have

[2019-02-01 05:30] jin commented on #7295
@rnburn Protobuf cherrypicked the PACKAGE_NAME fix in 3.6.1.2 and 3.6.1.3. They also just released [3.7.0rc1](https://github.com/protocolbuffers/protobuf/releases/tag/v3.7.0rc1). Could you please try that out?

[2019-02-01 05:34] jin commented on #6907
Updated plan to flip the flag in 0.24. We are delaying this by one release because of a pending bug fix in 0.23 for android_local_test targets to correctly recognize the aapt version selection.

[2019-02-01 09:13] #6651 closed

[2019-02-01 09:50] Xjs commented on #7274
@dslomov Seems not to work in all cases yet, though. I'll put some more work in.

[2019-02-01 10:20] dslomov commented on #6080
Sorry for not replying earlier!
It is not an error because it is not an error -by design :)
`aspect_required_providers` is a mechanism to restrict visibility of aspects into other aspects - it is perfectly ok for aspects to be not aware of other aspects. Our documentation in this area can certainly be improved, but here are some design documents that I have just made public (they are from the than

[2019-02-01 10:20] #6080 closed

[2019-02-01 11:07] lfpino commented on #7304
Investigating.

[2019-02-01 11:59] irengrig opened #7321 "http_archive decompressing: improve message when the prefix is wrong"
Typically, if I want to use a github project/library, I navigate to github page of that project and copy the url of the released contents, typically an archive.
At this moment, I am not aware of the prefix that is used inside the archive, it for sure is combined name and version, but it can use minuses (-) or underscores (_) or "v" symbol for the version.

It would be nice of the error about the w

[2019-02-01 14:00] Reflexe commented on #5827
Right now it just fails with the the ambiguous error "builtin variable 'PACKAGE_NAME' is referenced before assignment.". shouldn't it be a more descriptive error?

[2019-02-01 14:47] beasleyr-vmw commented on #5973
@lberki filed a duplicate as #7301 and resolved via 41f0657, so I think we can close this now.

[2019-02-01 15:46] ghost opened #7322 "Change `build_tag_filters` and `test_tag_filters` options to accumulate uses"
### Description of the feature request:

Change `--*_tag_filters` options to accumulate multiple uses, or provide some alternative mechanism for achieving the same thing.

Many of bazel's command line rules accumulate multiple uses. This is very useful for providing default configuration in a repository `.bazelrc` which users can then build upon or modify in their own `bazelrc` files and with comm

[2019-02-01 16:04] kamalmarhubi opened #7323 "Expose sha1 (and possibly other digests) on repository_ctx.download()"
### Description of the feature request:

Expose a `sha1` argument on `repository_ctx.download()` and `repository_ctx.download_and_extract()`. Consider more hashes, and perhaps a generic `digest` argument.

Possible examples:

[code]

or

[code]

### Feature requests: what underlying problem are you trying to solve with this feature?

At the moment, only a sha256 can be passed to `download()` and `

[2019-02-01 16:45] philwo commented on #7304
Tobi and me found the problem, a fix and a workaround. :)

The problem: When JAVA_HOME is set to point to a JRE 8 instead of a JDK, Bazel will happily try to use it, but then chaos unfolds in DumpPlatformClassPath:

1) This method tries to detect whether the target (= system) JDK is a) Java 8 or b) Java >=9: https://source.bazel.build/bazel/+/28841a6c4fe303e661041e479f78ed8197a82548:tools/jdk/Dump

[2019-02-01 16:56] philwo commented on #7304
I also sent feedback to the Cloud Shell team so that they are aware of this and can fix the JAVA_HOME in their container. The current situation will probably also cause other build tools like Maven to fail, so fixing this is a good idea anyway.

[2019-02-01 17:23] RNabel opened #7325 "cc_proto_library fails to build if proto_library dependency uses "strip_import_path" parameter"
### Description of the problem / feature request:

If a `cc_proto_library` depends on a `proto_library` which uses the `strip_import_prefix` parameter, compilation fails.

### Feature requests: what underlying problem are you trying to solve with this feature?

Compilation failure.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

1.

[2019-02-01 17:37] ulfjack commented on #7304
Yep, that works! Thanks!

[2019-02-01 18:55] jmmv opened #7327 "Remove "local execution delay" from dynamic spawn scheduler"
The dynamic spawn scheduler implements a "local execution delay", controlled via the `--experimental_local_execution_delay` flag, that we should remove.

This delay exists so that, in the case of a build that is fully cached remotely, we don't end up running any actions locally. The delay allows the scheduler to try to score a cache hit for every action and, assuming all cache hits succeed before

[2019-02-01 20:06] jmmv opened #7328 "Dynamic spawn scheduler prevents remote cache from being populated"
When a local action racing a remote action wins, the dynamic spawn scheduler cancels the remote action. As a result, we never populate the remote cache with the results of this cancelled action, and subsequent builds from the same or a different user cannot benefit from reuse.

An option here would be to make the dynamic spawn scheduler not cancel remote actions. This way they would eventually pop

[2019-02-01 21:16] tetromino commented on #7259
I need this for properly fixing #6400 (support for grpc.enable_http_proxy channel arg was added in gRPC 1.14).

[2019-02-01 21:18] tetromino commented on #6400
The correct fix for this is to use gRPC's grpc.enable_http_proxy channel argument. We should not be munging no_proxy/NO_PROXY env variables at all.

I have a commit ready internally which fixes it, but it's pending on updating the gRPC version bundled with Bazel (issue #7259). Stay tuned!

[2019-02-01 21:20] beasleyr-vmw opened #7330 "deploy jar silently clobbers jar resources having the same filename"
### Description of the problem / feature request:

When creating a deploy jar (`bazel build foo_deploy.jar`), if multiple constituent jars have resource files with identical names, only one appears in the deploy jar. This can catch users off guard, as their build succeeded but the bits will fail at runtime.

This is likely to happen when porting a project from Maven to Bazel, where the Maven deplo

[2019-02-01 22:17] beasleyr-vmw commented on #7330
It looks like passing `--no_duplicates` to singlejar will cause the build to terminate:

[code]

So how about --

1. tweaking DeployArchiveBuilder.java to pass `--no_duplicates` by default; and
2. if users complain, add and plumb through a `java_binary.deploy_ignore_duplicates` attr to allow users to restore the old behavior on a per-target basis?

[code]

[2019-02-01 23:38] ulfjack commented on #4608
It looks like there may still be an issue with remote execution.

[2019-02-02 06:40] Reflexe opened #7331 "very bad error when using the deprecated `PACKAGE_NAME` or `REPOSITORY_NAME`"
### Description of the problem / feature request:

Instead of a nice deprecation warning / error, I got this ambiguous error: `builtin variable 'REPOSITORY_NAME' is referenced before assignment.`.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Use `REPOSITORY_NAME` or `PACKAGE_NAME`. With master too.

### What operating system are

[2019-02-02 14:06] excavador commented on #4445
ping

[2019-02-02 14:12] excavador commented on #4545
Problem is not actual anymore, because native.git_repository replaced by load("@bazel_tools//tools/build_defs/repo:git.bzl", "git_repository") in bazel completely

[2019-02-02 14:12] #4545 closed

[2019-02-02 14:57] Meai1 commented on #4335
I think the idea here is that it would be nice to have a consistent syntax for finding targets or anything else. Why should the syntax be different for the build step and the query step when finding a build target is just a tiny subset that could be easily supported by the query syntax.

[2019-02-02 18:50] brandjon commented on #6583
At this point the feature is fully implemented (to be in 0.23), and this issue is now blocked on migration and flipping the incompatible change flags (#7307, #7308), then cleanup of the legacy code paths.

[2019-02-02 18:59] brandjon commented on #7010
At this point the feature is fully implemented (to be in 0.23), and this issue is now blocked on migration and flipping the incompatible change flag (#7298), then cleanup of the legacy code paths.

[2019-02-02 20:51] tmc commented on #6861
As I recall there is published material that encourages running with `--all_incompatible_changes` (bazelcon talk from Laurent IIRC). I've encoded this into a project template and am running into the same issue @nlopezgi refers to above (incompatible local_config_cc).

[2019-02-03 07:12] castler commented on #5785
@hlopko I tried to have a look at this again and there is a Pull-Request (https://github.com/bazelbuild/bazel/pull/7336) that would fix the issue described in the repro.

But I'm not sure if the solution might add side-effects I'm not aware of. But since the respective function should only be called for TreeArtifacts, I don't think there are.

[2019-02-03 07:12] #6656 closed

[2019-02-03 09:38] harobed commented on #2391
Some news about this issue?

[2019-02-03 15:34] edrumwri commented on #1035
+1

[2019-02-03 16:48] meisterT commented on #6799
cc @vladmos this is a classical example where buildifier could help with fixing the projects, because it's a mostly mechanical change

Danna: it would be great if we could prioritize this migration, because the maven rules are one of the two "users" of the java.desktop module which contributes to 1/3 of the embedded JDK size.

[2019-02-03 21:53] ixdy commented on #5575
multi-arch docker manifest lists are a strong use case for this. https://github.com/bazelbuild/rules_docker/issues/300

[2019-02-03 22:26] meisterT opened #7340 "Tensorflow is broken on our CI"
For example: https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/789#c2b2e112-acbe-44d5-8853-14188417bc45

Message:
[code]

We should either help Tensorflow to upgrade and/or remove them (temporarily?) from CI.

[2019-02-03 22:30] meisterT opened #7341 "Buildifier is broken at our CI"
For example: https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/789#e7e2597f-41b2-4bb0-bf5c-eddad2e40b0f

We should either remove them from our downstream projects (temporarily) and/or fix them.

[2019-02-03 23:11] #6592 closed

[2019-02-04 00:44] laurentlb commented on #7341
The buildkite link is green on https://github.com/bazelbuild/buildtools/
(https://buildkite.com/bazel/buildtools)

Is it a configuration problem? cc @meteorcloudy

[2019-02-04 02:06] sergiocampama commented on #7341
Speaking of which, when will the be a new release of buildifier for the new versions of Bazel?

[2019-02-04 06:39] hlopko commented on #6861
There was (and still is) a confusion re `--all_incompatible_changes`. It's an old option that has been superseded by the new process documented at https://docs.bazel.build/versions/master/backward-compatibility.html. I can see how it would be useful to have a option like `--all_incompatible_changes_that_will_be_flipped_in_next_release`, but that's not implemented yet.

One very important aspect of

[2019-02-04 07:18] benjaminp opened #7342 "Not having a system JDK can waste Bazel memory"
Let's set up a little workspace:
[code]
We can run `bazel fetch` with a system JDK installed and measure the retained heap size of the Bazel server:
[code]
If we repeat that exercise without a system JDK, the result is surprisingly different:
[code]
The problem here is the `@local_jdk` external workspace. When there's a system JDK, `@local_jdk` is a local repository rule pointing to the java home.

[2019-02-04 08:09] #5973 closed

[2019-02-04 09:22] hlopko commented on #6926
@PiotrSikora and @htuch - is passing `BAZEL_LINKOPTS="--stdlib=libc++:-lc++"` not enough to use libc++? I think it works, at least on linux.

[2019-02-04 10:43] meisterT commented on #1055
You can already move the tooling out while the rules are still native. @iirina is doing the same currently for the Java rules.

[2019-02-04 11:03] jkammerl commented on #6993
Installing the default-jdk on Debian 9 fixed the problem for me. However, the gen_java target/test from an earlier comment still fails.

[2019-02-04 12:19] scentini commented on #7296
Closing this as it seems to be unrelated to Bazel, please reopen if you disagree.

[2019-02-04 12:19] #7296 closed

[2019-02-04 12:31] hlopko commented on #7292
This is the place in the bazel code where the flag is added: https://source.bazel.build/bazel/+/24f573939e27bf4ca2bf9de3f28c93aec9a6f9f7:src/main/java/com/google/devtools/build/lib/rules/cpp/CppActionConfigs.java;l=752. I assume that your crosstool doesn't have `static_libgcc` feature present. You have 2 options:

1) add empty `static_libgcc` feature, so bazel doesn't add it
2) add feature named `

[2019-02-04 12:31] #7292 closed

[2019-02-04 13:39] jwillebrands opened #7343 "Building with Lombok fails on hjar"
### Description of the problem:

We ran into an issue with lombok during our migration from maven to bazel. I'm not quite sure whether it is an issue with lombok or with bazel, however, it compiles without issues when running from maven.
When compiling under bazel, we're running into an error with classes that use lombok's `@Builder`, in combination with a default value using `@Builder.Default` an

[2019-02-04 15:42] hlopko opened #7344 "12ab12e80ad1c9a3510aa4bbfdf3fddafc0bca00 breaks testing bazel with bazel"
Culprit finder found 12ab12e80ad1c9a3510aa4bbfdf3fddafc0bca00 as a cause of https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/770#50212246-b050-4b2b-8f0d-b9b2c4c224f3 (culprit finder run: https://buildkite.com/bazel/culprit-finder/builds/91#851af1f7-4cf2-4a17-8cf8-e69e74093b9a)

[2019-02-04 16:18] laszlocsomor commented on #6138
The fix should be in 0.22.

[2019-02-04 16:40] jmmv opened #7345 ""X actions, Y running" is misleading with the dynamic spawn scheduler"
[ At this point I'm not fully convinced my theory is correct so blaming the dynamic spawn scheduler might be wrong. ]

When using the dynamic spawn scheduler and e.g. `--jobs=100`, it's common to see Bazel reporting progress messages of the form `100 actions, 23 running` -- but when using a pure remote build, the messages typically look like `100 actions running`. Thus the question arises: "If the

[2019-02-04 17:26] shmish111 opened #7346 "Misleading error for target collisions"
### Description of the problem / feature request:

Overlapping targets in the same external repository cause a very confusing cyclic dependency error rather than a naming conflict error.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[code]

This will cause the error:
[code]

Notice that the source of the ascii arrow is empty

[cod

[2019-02-04 18:16] lberki commented on #4544
strip_import_prefix = <package name> is the same thing as proto_source_root
= <package name>.

Does this answer your question?

On Tue, Jan 22, 2019 at 10:10 AM Shuai Zhang <notifications@github.com>
wrote:

--
Lukács T. Berki | Software Engineer | lberki@google.com |

Google Germany GmbH | Erika-Mann-Str. 33  | 80636 München | Germany |
Geschäftsführer:
Paul Manicle, Halimah DeLaine Prado | Regis

[2019-02-04 19:15] #7306 closed

[2019-02-04 19:18] c-parsons opened #7347 "incompatible_disallow_struct_provider_syntax: disallow rule implementation functions returning struct"
**Flag: --incompatible_disallow_struct_provider_syntax**
Available since: 0.23 (February 2019 release)

**Motivation**
The motivation for this change is described in #6241

**Migration**
Rule implementation functions should return a collection of provider instances instead of a struct

[code]

One corner case to note is specifying files for coverage. This used
to be done with the hardcoded struct

[2019-02-04 19:42] aiuto commented on #7194
Lowering to P3 because there is an easy workaround AND our plan is to eliminate licenses() and replace with a rule set.

Quick note on that:
- We recognize that the current license support is very Google specific and insufficient for almost all practical uses (including Google's), so we are going to remove it.
- There is a Google internal effort to build a more powerful license enforcement system

[2019-02-04 19:57] dkelmer commented on #7180
`bazel build does_not_work --experimental_remap_main_repo` builds successfully with bazel 0.22. The flag will be called --incompatible_remap_main_repo in the next release and become the default in the release following that.

[2019-02-04 19:57] #7180 closed

[2019-02-04 19:58] brandjon commented on #6647
I should say, `--default_python_version` will also set the python version for host configuration, unless `--host_force_python` overrides it.

[2019-02-04 20:12] aiuto commented on #3639
Bazel has no business checking that itself. That should be handled by rules_licenses.
My mantra on this is "No Google specific policy w.r.t. license is baked into Bazel". Everything I am planning to build is just rules and (maybe) an external enforcement tool.

@cgruber I think what you want should be possible.
You would need someway to transform the maven license spec into a (new) license() rule.

[2019-02-04 20:51] dkelmer commented on #7180
Thanks for the simple repro case btw :)

[2019-02-04 20:53] Reflexe commented on #7321
Take a look at https://github.com/bazelbuild/bazel/pull/7333 please.

[2019-02-04 21:09] laurentlb opened #7348 "Remove objc_proto_library rule"
`objc_proto_library` is not usable in Bazel. The code is present because it may be used inside Google. We should remove the rule from Bazel and from its documentation (https://docs.bazel.build/versions/master/be/objective-c.html#objc_proto_library).

(tracking bug in Google: b/123888674)

[2019-02-04 21:09] #4608 closed

[2019-02-04 22:22] PiotrSikora commented on #6926
@hlopko you need to pass `-stdlib=libc++` to the compiler (hence [`BAZEL_CXXOPTS`](https://github.com/bazelbuild/bazel/pull/7074/files)), otherwise you'll include C++ headers from libstdc++ and not libc++.

[2019-02-04 22:58] ulfjack commented on #4608
It's in! It's amazing! (But don't celebrate yet, it could still be rolled back...)

[2019-02-05 09:19] #4698 closed

[2019-02-05 09:19] buchgr commented on #4844
This is a duplicate of #4889

[2019-02-05 09:19] #4844 closed

[2019-02-05 09:21] #4839 closed

[2019-02-05 09:21] buchgr commented on #4839
building a merkle tree should not be much more expensive than building a list if implemented correctly.

[2019-02-05 09:23] #4666 closed

[2019-02-05 09:50] lberki commented on #7348
/cc @sergiocampama @aragos @thomasvl @lberki

[2019-02-05 09:51] lberki commented on #7348
What about e.g. `apple_binary` -> `proto_library` dependencies?

Removing the rule itself is a trivial amount of work, but it appears that `apple_binary` and `apple_static_library` also use the aspect. Does this mean that those rules can't depend directly on `proto_library` rules?

[2019-02-05 09:57] buchgr commented on #4803
I believe this has been fixed. We are now shutting down channels in the success and error case.

[2019-02-05 09:57] #4803 closed

[2019-02-05 09:58] buchgr commented on #4685
Is this bug still an issue?cc @lberki  @iirina

[2019-02-05 10:03] buchgr commented on #3978
I wasn't aware that we had this flag. The general idea seems useful for remote caching / execution to check which actions are not cached remotely (and maybe why). fyi @agoulti

[2019-02-05 10:04] buchgr commented on #7344
duplicate of https://github.com/bazelbuild/bazel/issues/4663

[2019-02-05 10:04] #7344 closed