[2019-12-20 04:53] #7109 closed

[2019-12-20 08:43] philwo commented on #10465
Bazel does time-based, monthly releases. Bazel 1.0rc1 was cut in September, Bazel 1.1rc1 was cut in October, Bazel 1.2rc1 was cut in November and Bazel 2.0rc1 was cut in December. We don't count days between releases and artificially hold back a release to fulfil the three month window.

The fact that Bazel 1.0 was released later than expected due to bugs and some polish we wanted to do for this v

[2019-12-20 11:34] speedskater commented on #10059
We stumbled across the same error, when trying to distinguish our toolchains based on the execution platform.
In our particular case the mac os toolchain requires files, which are not compatible with the windows filesystem. Hence we wanted to use an alias to prevent loading of the mac and linux toolchains on windows.

@chronal-xnor did you find a workaround for this issue?

[2019-12-20 11:36] drigz commented on #10225
This flag causes a build error in an empty workspace with Bazel 2.0:

[code]

I've also seen this error referring to `@remote_coverage_tools//:all_lcov_merger_tools_deploy.jar`.

This causes our build to fail for reasons I don't fully understand. Do `@remote_coverage_tools` and `@bazel_tools` need to be fixed before we can try applying this flag to our repositories, or should we remove the depende

[2019-12-20 11:37] steeve commented on #10465
As a regular user, bazelisk is definitely the way to go. Pinning the version of your build tool is a very convenient thing that allows you to set your update schedule as you like.

[2019-12-20 16:50] #10439 closed

[2019-12-20 17:44] katre opened #10468 "Java targets depend on local jdk incorrectly"
On a system with no local JDK installed, Bazel should use the remote JDK downloaded as `@remotejdk11_linux//` (or windows, mac, etc) instead of trying to use `@local_jdk`. However, several local_jdk targets are still dependencies as shown by cquery:

[code]

Is there a flag with the wrong default value?

(Forked from #6341, which is now about creating a gencquery rule, but the core problem would s

[2019-12-20 17:44] katre commented on #6341
Okay, renaming this and forking just the local_sdk issue as #10468.

[2019-12-20 20:13] jin commented on #10057
Closing this issue for now - @heini, if you have any more queries, please don't hesitate to ping this issue and we'll reopen it.

[2019-12-20 20:13] #10057 closed

[2019-12-20 20:14] jin commented on #10093
Closing this issue for now. @bajacondor, if you have any more queries, please don't hesitate to ping this issue and we'll reopen it.

[2019-12-20 20:14] #10093 closed

[2019-12-20 20:18] jin commented on #10456
`bazel clean` does not clean external repositories and does not shut down the Bazel server.

`bazel clean --expunge` cleans *everything*, and shuts the server down. If your external repositories in the WORKSPACE have their sha256 specified, these are also cached in the location @meisterT mentioned.

[2019-12-20 20:18] #10456 closed

[2019-12-20 20:23] jin commented on #10459
@meteorcloudy @philwo

[2019-12-20 20:24] jin commented on #10460
fyi @fweikert

[2019-12-20 21:30] rupertks commented on #10374
Assigning to schumy@ for more info

[2019-12-20 21:44] rupertks commented on #10443
Thanks for creating this issue!

Since jmmv@ specifically asked for it to be created I am removing it from the untriaged label and giving it an initial P2 priority

[2019-12-20 23:52] #9434 closed

[2019-12-21 09:50] juanapp commented on #10374
This is the error I'm getting
`Linking of rule '//mediapipe/examples/ios/handtrackinggpu:HandTrackingGpuApp.__internal__.apple_binary' failed (Exit 1) wrapped_clang_pp failed: error executing command external/local_config_cc/wrapped_clang_pp '-stdlib=libc++' '-std=gnu++11' -arch arm64 -Xlinker -objc_abi_version -Xlinker 2 -fobjc-link-runtime -ObjC -framework CoreVideo -framework Metal -framework .

[2019-12-21 10:19] chiahsing opened #10470 "Bazel data dependencies broken for py_binary on Windows"
### Description of the problem / feature request:

Bazel doesn't include the data dependencies of a py_binary in runfiles on Windows. On the other hand, it still works for py_test.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

//experimental/BUILD
[code]

//experimental/test.py
[code]

//experimental/test_test.py
[code]

test.txt

[2019-12-21 14:44] Gaurav-Punjabi commented on #10410
So should I solve this issue here?

[2019-12-21 17:15] chiahsing commented on #10470
The following works:

[code]

But adding __main__/ prefix looks weird. I am not sure if this is the right way.

[2019-12-21 17:40] ozio85 commented on #10396
Sorry for the late reply.  Yes it is very likely that i have done something wrong, but I know what fixes the problem :)

So this is my host_platform:
[code]
And my target --platforms:
[code]

So now I expect my host tools to be compiled with GCC, (which they are), and my target compiled with ARM, which it TRIES.. but in the sandbox the GCC files are made avaliable... not the ARM files, so it simpl

[2019-12-21 19:01] katre commented on #10396
I am off for holidays until after January 2nd. If you can provide a sample
workspace with the WORKSPACE, BUILD, and compiler files, I can take a look
to see what is wrong, but with the data so far I am not sure what the
problem is. I can say that we put in a lot of work to make this case
correct, so that only remote dependencies that are actually needed will be
downloaded.

On Sat, Dec 21, 2019, 1

[2019-12-21 20:02] xjia1 opened #10472 "Bazel's use of -isystem gives incorrect search path on macOS"
### Description of the problem:

Bazel's use of -isystem gives incorrect search path on macOS, specifically 10.15.2 (19C57) which is the system I have right now.

The observed behavior is that /usr/local/include is incorrectly searched before the directories local to external dependencies.  If a dependency has two distinct versions both installed under /usr/local/include and specified in WORKSPACE

[2019-12-21 20:05] stfairy commented on #10472
FWIW this happened to be with previous bazel versions as well.

[2019-12-22 04:19] agostini01 commented on #10384
Sorry for the belated answer.

It was not. Tomorrow morning I will do the test declaring the header.
At that point I did not understand Bazel that well.

Currently, this is what is on my "third party" tools bazel build file.

[code]

[2019-12-22 04:48] kylecordes commented on #10309
I ran across this expand_location situation also. If I'm following things right, it returns a space separated; and if those resulting filenames have spaces, they will be quoted. So if I want the actual list of filenames to further process (rather than append directly to a command line), I need to find a parser for such a format, to get the individual filenames back.

This seems like a fragile path

[2019-12-22 05:30] wangshuaizs opened #10474 "how to compile tensorflow with a shared library?"
I am trying to compile tensorflow with a shared library. That is, tensorflow depends on the shared library. But I cannot compile tensorflow successfully with the following command
[code]

The error is as following:
[code]
I think the shared library's path should be passed into the command, but it shows that
[code]
Anybody knows how to compile?

Thanks.

[2019-12-22 11:59] V3RGANz opened #10475 "Getting started with Bazel Docker Container has wrong information about python3 version"
### Description of the problem / feature request:

[Bazel container starter guide](https://github.com/bazelbuild/bazel/blob/master/site/docs/bazel-container.md) has wrong information about python3 version

### Feature requests: what underlying problem are you trying to solve with this feature?

reproduce guide and replace output in https://github.com/bazelbuild/bazel/blob/master/site/docs/bazel-co

[2019-12-22 16:06] aaliddell opened #10476 "bazel.sh attempts to exec directory {WORKSPACE_DIR}/tools/bazel"
### Description of the problem / feature request:

Using Bazel installed via apt, since 2.0.0 it attempts to exec `{WORKSPACE}/tools/bazel` if it exists, even as directory. This path is commonly used as a directory for storing Bazel related tools and the path is not obviously documented as being special.

The error seen is:

[code]

The commit that introduced this was https://github.com/bazelbuild

[2019-12-22 17:08] xykivo opened #10478 "Android JNI example is out of date and not working on Android 10"
### Description of the problem / feature request:

The Android example at https://github.com/bazelbuild/bazel/tree/master/examples/android is out of date and not working on Android 10 (emulator).
I also tried to create my own code based on the example, and when debugging through visual studio I always get an UnsatisfiedLinkError - the JNI functions are missing from  libhello_world.so
 E.g. this is

[2019-12-23 01:50] psviderski opened #10479 "Error downloading Zulu JDK11 using Bazel mirror"
### Description of the problem / feature request:

`bazel build` occasionally fails to download Zulu OpenJDK 11 from the bazel mirror. This happens non-deterministically once every few dozens of builds complaining of the mismatched checksums (run on CI agents in AWS us-east-1):
[code]
Each failed build has a different checksum of a downloaded file. Is there something special with the endpoint http

[2019-12-23 02:58] qzmfranklin commented on #4286
I think [this](https://github.com/dropbox/dbx_build_tools/tree/master/build_tools/py) is what I wanted to achieve with Bazel + Python:

- Build the python interpreter and standard library from source.
- Make building cpython/cython libraries Bazel-idiomatic (no more pip-wheel stuff).
- Sandwich custom python rules and Bazel-native python rules.

[2019-12-23 02:59] qzmfranklin commented on #4286
Another use case for this is to enable building the fast cpp backend for grpc-python Bazel idiomatic. That is, without needing to resort various repository rules to create external repos such as `@local_python_config`.

[2019-12-23 05:15] colatkinson opened #10480 "emscripten_clang download URL in cc-toolchain-config tutorial no longer works"
### Description of the problem / feature request:

Apologies in advance if there's already an issue for this.

The URL in the [cc-toolchain-config tutorial](https://docs.bazel.build/versions/master/tutorial/cc-toolchain-config.html) for the `emscripten_clang` target (https://s3.amazonaws.com/mozilla-games/emscripten/packages/llvm/tag/linux_64bit/emscripten-llvm-e1.37.22.tar.gz) currently results i

[2019-12-23 11:03] aherrmann opened #10481 "java.nio.file.InvalidPathException: Trailing char < >"
### Description of the problem:

`repository_ctx.which` can fail with an exception on Windows if `PATH` contains invalid entries. In particular this seems to be triggered by a non-existent entry ending on white-space such as `C:\Program Files `.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Write a repository rule that calls `repo

[2019-12-23 16:44] heini opened #10483 "Building java-example always tries to download a JDK although there is one installed"
### Description of the problem / feature request:
While trying to get familiar with Bazel, I wanted to execute the `java-tutorial` example, which then tries to download a JDK, although there is one installed locally. The `cpp-tutorial` OTOH doesn't download a C++ toolchain in order to build the project. I don't want to have stuff from an un(known|trusted) source being installed on my system.

###

[2019-12-23 17:29] jin commented on #10483
This is WAI. It's expected that you don't need a JDK installed in order to build Java projects, because Bazel would and should download toolchains for you in a reproducible manner, regardless of system state.

[2019-12-23 17:29] #10483 closed

[2019-12-23 18:26] heini commented on #10483
So it's a bug then that it doesn't do it for the C++ tutorial?

[2019-12-23 18:32] jin commented on #10483
Not a bug -- auto-downloaded toolchain is just not implemented for C++ rules yet.

[2019-12-23 19:06] keith commented on #10397
@katre do you have any idea if this could be masking a download failure as @ob mentioned?

[2019-12-23 23:08] keith opened #10484 "proto_lang_toolchain and blacklisted_protos with ProtoInfo not propagated correctly"
### Description of the problem / feature request:

With protobuf's `proto_lang_toolchain`, after this change https://github.com/protocolbuffers/protobuf/commit/7b28278c7d4f4175e70aef2f89d304696eb85ae3 it seems the `blacklisted_protos` are no longer working correctly and removing that field has no effect on the build.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide

[2019-12-24 00:15] rnburn opened #10485 "Generating code coverage report fails"
#10071 # Description of the problem / feature request:

I'm trying to generate a code coverage report by running
[code]

but I get the error

[code]

I believe the --add-exports option was removed in later versions of java

### What operating system are you running Bazel on?

ubuntu 18.04

### What's the output of `bazel info release`?

(through bazelisk)

release 1.2.0

[2019-12-24 02:35] brianduff opened #10486 "Bazel seems to require a ~/.netrc file to exist"
### Description of the problem / feature request:

Building simple java projects fails with a FileNotFoundException about .netrc. It doesn't seem like this file existing should be required.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[code]

See error message:

[code]

### What operating system are you running Bazel on?

Darwin

[2019-12-24 02:44] brianduff commented on #10486
fwiw, it looks related to this:

https://github.com/bazelbuild/bazel/commit/c3d73f704f415248dc0f92d77e171cfd1fb1f327#diff-0a0d5a6b64e11b6bc5bab80ad3a90003R51

However, on my system, the return code is 1:

[code]

So I'm not sure why it's passing this check.

[2019-12-24 02:55] brianduff commented on #10486
Bleh, I had a funky version of test on my PATH :) Closing.

[2019-12-24 02:55] #10486 closed

[2019-12-24 09:55] c16a commented on #10401
This issue reproduces on a plain `bazel test //...` for a go project as well.

[2019-12-24 10:09] c16a commented on #6450
I still have this issue with Bazel 2.0.0

[2019-12-24 10:20] orgads commented on #9327
This still happens to me with bazel 1.2.0.

[2019-12-24 10:25] orgads commented on #9327
I had a cached version of http.bzl. I cleared the cache and it was solved.

[2019-12-24 16:55] endobson commented on #3015
Another point on this that I just ran into:

`DefaultInfo` has an `executable` parameter which is undocumented. https://github.com/bazelbuild/bazel/blob/1a6a5a1b4a85f61b9b335ba098a7d2e087c64649/src/main/java/com/google/devtools/build/lib/analysis/DefaultInfo.java#L63

This is referenced in other docs as the preferred way to use it:
https://docs.bazel.build/versions/master/skylark/rules.html#output

[2019-12-25 04:55] luxe commented on #6807
These flags exist today in 2.0
Is there more to be done here?

[2019-12-26 03:12] immars opened #10488 "py_binary failed when --crosstool_top is present"
### Description of the problem / feature request:

`py_binary` failed when `--crosstool_top` is present

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Hi,
I’m using `rules_pkg` in my c++ project to package compiled libraries in to .zip files.At the beginning everything worked as expected.

However when I added toolchain definition

[2019-12-26 08:10] thii commented on #10292
We got the same issue on macOS, but it seems to be a problem with git (tried with `git clone --shallow-since`).

[2019-12-26 08:14] mehrdadn commented on #10292
Yeah, seems like it. Though I'd say Bazel is still responsible for avoiding recommending `--shallow_since` unless/until this is fixed (a version check on git might make sense). Otherwise it's really confusing for the the user to be recommended a command that's broken.

[2019-12-26 11:46] amit-traiana opened #10489 "java_library will not output src.jar file"
### Description of the problem / feature request:
According to the official `java_library` [documentation](https://docs.bazel.build/versions/1.2.0/be/java.html#java_library), `java_library` should output both `libname.jar` and `libname-src.jar`, but for some reason `libname-src.jar` is not being created. I remember it used to create a src.jar, so I'm assuming something happened along the way somew

[2019-12-26 14:44] ChrisCummins commented on #4507
Any update on this? [pytest](http://doc.pytest.org/en/latest/usage.html#creating-junitxml-format-files) can also generate detailed xml reports, it would be nice to get bazel to read them.

[2019-12-26 15:04] jin commented on #10474
For TensorFlow issues, please open a new issue on the [TensorFlow repository](https://github.com/tensorflow/tensorflow).

[2019-12-26 15:04] #10474 closed

[2019-12-26 15:05] jin commented on #10479
FYI @iirina

[2019-12-26 15:06] jin commented on #10484
cc @cushon

[2019-12-26 16:14] jin commented on #10046
Will be fixed by https://bazel-review.googlesource.com/c/bazel/+/124069. Thanks @beasleyr-vmw

[2019-12-26 21:27] bazel-flag-bot opened #10490 "Flag --incompatible_disable_depset_items will break Bazel in a future Bazel release"
Incompatible flag --incompatible_disable_depset_items will be enabled by default in a future Bazel release [1], thus breaking Bazel.

The flag is documented here: https://github.com/bazelbuild/bazel/issues/9017

Please check the following CI builds for build and test results:

* <a href="https://buildkite.com/bazel/bazelisk-plus-incompatible-flags/builds/361#4928666c-0abf-4d7f-920c-1c642d18183b" t

[2019-12-26 21:28] bazel-flag-bot opened #10491 "Flag --incompatible_no_implicit_file_export will break Bazel in a future Bazel release"
Incompatible flag --incompatible_no_implicit_file_export will be enabled by default in a future Bazel release [1], thus breaking Bazel.

The flag is documented here: https://github.com/bazelbuild/bazel/issues/10225

Please check the following CI builds for build and test results:

* <a href="https://buildkite.com/bazel/bazelisk-plus-incompatible-flags/builds/361#cd107724-4f2b-4e55-b505-974b037ee15

[2019-12-26 21:41] fahhem commented on #137
Any update here @brandjon? I can update my PR again if we're okay allowing custom stubs on the `py_binary` rules itself. Otherwise, we will have to continue using a fork of bazel with the custom stub enabled.

If you want to pull the stub from the toolchain, then I'm happy to switch to that tactic if I have a chance of actually getting it merged in.

[2019-12-26 21:50] thomasvl commented on #10460
And https://github.com/bazelbuild/rules_swift/issues/368 got filed again for this.

[2019-12-26 22:08] AustinSchuh commented on #10225
@drigz , I'm seeing the exact same thing in the flatbuffers build in https://github.com/google/flatbuffers/issues/5686 .

[2019-12-27 09:35] TPolzer opened #10492 ""Configuring C++ toolchains" doesn't work for detecting system includes"
### Description of the problem / feature request:

I followed the "Configuring C++ toolchains" instructions at https://docs.bazel.build/versions/master/tutorial/cc-toolchain-config.html#configuring-c-toolchains

It compiles, but then complains about undeclared inclusions:

[code]

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Try t

[2019-12-27 15:14] Yannic commented on #10484
Suspecting a combination of https://github.com/bazelbuild/bazel/commit/a5ee2c4d979441e663cf53b2ace4daa05e5033d8 and https://github.com/bazelbuild/bazel/commit/46c95dcbe2889e515a2b44b9dec00d6c13f7e9fa (/cc @lberki).

Submitted #10493 to fix this for now.
Longer-term, we should make `ProtoInfo` mandatory for `blacklisted_protos`.

[2019-12-27 15:22] thomasvl commented on #10460
And https://github.com/bazelbuild/rules_swift/issues/369 got filed again today for this.

[2019-12-27 15:42] TPolzer commented on #10492
Debugged this a bit and I think this is related to #4605, passing no-canonical-prefixes seems to help (it fails in linking now).
The documentation could use an update here.

[2019-12-27 16:30] calebmer opened #10494 "Color in progress_message"
### Description of the problem / feature request:

As a rule author, `progress_message` in `ctx.actions.run()` is one of my primary interfaces with a user of my rule. Perhaps `progress_message` is the primary interface for users of Bazel in general who don’t spend much time changing build configuration.

Currently, it appears like I can only write plain text for `progress_message` which isn’t very

[2019-12-27 16:55] endobson commented on #7997
I just ran into this as well. https://docs.bazel.build/versions/master/multiplex-worker.html exists now, but isn't linked anywhere so isn't discoverable.

[2019-12-27 19:19] jverkoey commented on #10270
I'm still running into this locally. Is there anything I need to do to get the fix?

[2019-12-27 19:20] jverkoey commented on #10270
bazel version output:

[code]

[2019-12-27 19:24] jverkoey commented on #10270
[code]

[2019-12-27 19:58] jverkoey commented on #10270
I got past this error by adding the following to my WORKSPACE (copied from the rules_closure commit linked to above):

[code]

But now I get the following error:

[code]

Digging in...

[2019-12-27 20:12] jverkoey commented on #10270
I changed my test target to be a suite with the following configuration:

[code]

With the following output:

[code]

The iOS version that includes Swift builds and tests fine, as expected, while the other iOS versions all fail with the missing Swift error. I'll likely have to move this discussion over to https://github.com/bazelbuild/rules_apple

[2019-12-27 21:32] abhinavsingh commented on #8445
@oquenchil jFYI, I ran into similar problem with an abstract class.

Per recommendation, I should define a virtual destructor, but upon doing do I run into `dyld: lazy symbol binding failed: Symbol not found: __ZN12DllInterfaceD2Ev`.  If I complete the destructor implementation in virtual class or simply remove the destructor, it works, but then I have memory leaks, as derived class destructor is

[2019-12-27 21:35] abhinavsingh commented on #8445
For anyone running into this, see https://stackoverflow.com/a/24317259/414221

[2019-12-27 22:20] edbaunton commented on #4341
I've just run across this problem using grpc 1.25.0 on Mac. If you clone https://gitlab.com/BuildGrid/buildbox/buildbox-common/blob/edbaunton/bazel/WORKSPACE and run `bazel build //...` the problem can be reproduced:

[code]

[2019-12-28 15:51] ozio85 commented on #10396
Ok I have made a repro, note that the toolchais are NOT complete:
[repro.zip](https://github.com/bazelbuild/bazel/files/4007172/repro.zip)

But it is still enough to show the error, the point is that "arm_tool.sh" is missing in the sandbox, even though the correct toolchain was selected:

[code]

[2019-12-29 20:40] konste opened #10496 "Bazel sends build console output to stderr, rather than stdout."
### Description of the problem / feature request:

For some commands (clean, build) Bazel sends all console output to **stderr** instead of **stdout**.

### Bugs: what's the simplest, easiest way to reproduce this bug?

`bazel clean > stdout.txt 2> stderr.txt`
or
`bazel build my_target > stdout.txt 2> stderr.txt`
In both cases all the output goes into **stderr**!
When I tried `bazel info` or `baze

[2019-12-29 21:57] soonho-tri opened #10497 "Can't build bazelbuild/examples/cpp-tutorial/stage1 with clang-9"
### Description of the problem / feature request:

Fail to build bazelbuild/examples/cpp-tutorial/stage1 with clang-9.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

 - Ubuntu-18.04 (Bionic)
 - Install clang-9 by following the instructions at https://apt.llvm.org/. `clang-9 --version` gives `clang version 9.0.1-+20191211102125+c1a0

[2019-12-29 21:57] endobson opened #10498 "Unclear documentation on how workers treat tool inputs and non-tool inputs"
### Description of the problem / feature request:

With a custom worker, each action can reuse an existing worker process or start a new one. It seems that the current logic doesn't allow specifying what inputs are needed by the worker before it is able to accept requests and what is needed only for handling individual requests. Thus while if code that is used by the worker at startup is changed i

[2019-12-29 21:58] soonho-tri commented on #10497
Note that:

1) `clang++-9 main/hello-world.cc` runs without a problem. So I suspect that this is a bazel issue.
2) `clang-8` (`8.0.1-svn369350-1~exp1~20190820121219.79`) does not have this issue.

[2019-12-30 01:13] gnu-andrew commented on #6815
This seems to have been fixed by:

https://github.com/bazelbuild/bazel/commit/d72d306d0ee8c0844f4212dc966b4e0b0cefb6cf

Can this bug now be closed? We've just had a bug filed against java-11-openjdk (https://bugzilla.redhat.com/show_bug.cgi?id=1761048) with regards to this issue, when the problem actually seems to have been with Babel using the old API.

[2019-12-30 07:50] moroten opened #10499 "Broken repository name handling for build_settings and label_flag"
### Description of the problem:

When using a `label_flag` that is defined in the main repository, it must be referred to as `//:my_label_flag` on the command line and in transitions. Using `@my_repo//:my_label_flag` will not work but will also not render any error message.

If the same repository is used as an external, using by `@my_repo//:my_label_flag` is a must in the transitions as `//:my_la

[2019-12-30 08:18] moroten opened #10500 "label_flag transition crash after shutdown when using string"
### Description of the problem:

Bazel crashes when not using `Label()` for values in a transition of `label_flag`s. Should both be allowed or just one way?

Note that the crash depends on the Bazel server state. How is that even possible?

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[code]

Now run
[code]

### What operating sys

[2019-12-30 09:33] philwo commented on #6815
@gnu-andrew Yes, I'll send a PR to re-enable the bootstrap test with Java 11 that will close this issue if it passes presubmit and gets merged. Thanks for reminding us that this has been fixed!

[2019-12-30 10:32] Splaktar commented on #9304
I ran into this today on macOS 10.15.2. So it doesn't look like the requirements were relaxed in a way that this isn't a problem anymore. I hit it with my installed version and then tried to install 2.0.0, hoping that would solve the problem, but it ran into the same issue and blocked the install. Using curl did workaround the issue.

It would be great if https://docs.bazel.build/versions/master/i

[2019-12-30 10:58] laszlocsomor opened #10502 "`--noanalyze` documentation and effect don't match"
### Description of the problem / feature request:

The undocumented `--[no]analyze` flag does something different than its name and inline documentation suggest:

So Bazel shall complete the loading phase but not the analysis phase.
But actually it won't complete the loading phase, just resolve target patterns.

Since the flag is undocumented, I assume it isn't meant to be used... still, we should

[2019-12-30 11:21] dio opened #10503 "envoy build: @envoy_api//bazel:repositories.bzl can't be loaded on windows"
### Description of the problem / feature request:

`@envoy_api//bazel:repositories.bzl` in [envoy repository](https://github.com/envoyproxy/envoy/blob/2a9175a41ec8075af7f8429555825c8bc2dcdce2/bazel/api_repositories.bzl#L1) can't be loaded on windows. As shown in one of this build log https://dev.azure.com/cncf/4684fb3d-0389-4e0b-8251-221942316e06/_apis/build/builds/24886/logs/6. However, the same

[2019-12-30 15:35] thomasvl commented on #10460
Should this get a higher priority since it is one of the things causing lots of other projects to get issues opened against them for this issue?

fyi @fweikert

[2019-12-30 16:56] kastiglione commented on #6477
Note that the `cpu:n` feature works only for tests, not other actions. From Ulf's comment, I thought it was generally available, but it's not.

To do some local testing, I hacked in `cpu:n` support for Starlark actions, but in my initial testing of swift builds, the total build time was not better _for our build_ (which has many small modules). I'm not sure if I'll continue pursuing it. https://gi

[2019-12-30 16:57] kastiglione commented on #3688
@EricCousineau-TRI Last night I did some tests of our build with this patch that adds `cpu:n` support to Starlark actions: https://github.com/bazelbuild/bazel/compare/master...kastiglione:action-cpu-usage?expand=1

the build times weren't better, I don't know if I'll continue with it.

[2019-12-30 19:05] htuch commented on #10503
Fix available in https://github.com/envoyproxy/envoy/pull/9519

[2019-12-30 19:18] jin commented on #10503
Looks like an upstream issue.

[2019-12-30 19:18] #10503 closed

[2019-12-31 02:49] NeoZephyr opened #10504 "Label '@bazel_tools//tools/build_defs/docker:docker.bzl' is invalid because 'tools/build_defs/docker' is not a package"
### Description of the problem / feature request:

I run command `bazel run  //:gazelle`, and get ERROR message as following:
[code]

And this is my WORKSPACE file content:
[code]

bazel version info:
[code]

[2019-12-31 05:36] wolfd commented on #2420
I ran into this being an issue when I was trying to use GLFW to build a C++ application that can compile for macOS and Linux. It turns out that they swap out .c and .m files in their CMake build depending on the platform.

https://github.com/glfw/glfw/blob/781fbbadb0bccc749058177b1385c82da9ace880/src/CMakeLists.txt#L7-L25:
[code]

I got around this with a horrendous set of hacks related to the afo

[2019-12-31 07:58] ittaiz commented on #6417
Is this superseded by #8867 ?

[2019-12-31 08:01] ittaiz commented on #6190
@katre I think this relates to a discussion in the java BOF in BazelCon in case you were looking for existing issues

[2019-12-31 08:04] ittaiz commented on #4769
could this be causing cache misses on the creation of the **large** platformclasspath target?

[2019-12-31 08:08] ittaiz commented on #2539
@carl-mastrangelo thanks to mild pressure by @natansil we did some [initial work](https://github.com/wix-incubator/rules_jvm_test_discovery) to extract this mechanism from rules_scala.
It's ongoing very slowly but if you want to take a look at the branch and say if this will help you maybe it will add motivation to the effort

[2019-12-31 10:14] #10504 closed

[2019-12-31 10:18] ittaiz commented on #6752
Hi @iirina
I definitely dropped the ball here because it was unclear if/when we'll move to stamping jars but now it looks closer and still it doesn't work.
You can see this [commit](https://github.com/bazelbuild/rules_scala/commit/a76792b99bc4470819340051973007adb6f9e49a) in rules_scala which just adds stamping to scala_import and the [buildkite failure](https://buildkite.com/bazel/rules-scala-sca

[2019-12-31 19:30] kellycampbell opened #10505 "bazel.sh prefers .bazelversion over tools/bazel script in 2.0.0"
### Description of the problem / feature request:

Bazel 2.0.0's debian package caused our projects builds to break when the system apt upgrade installed the new version.

[code]

We use the tools/bazel special location to launch a bazelisk which is checked into the project and then it uses the .bazelversion file to determine which version to install and run.

I find this to be much easier to mana

[2020-01-01 11:57] dapirian opened #10506 "Patches fail to apply cleanly with Bazel 2.0.0"
### Description of the problem / feature request:

Every patch I have of `http_archive`s is failing to patch after attempting to upgrade to Bazel 2.0.0, despite not having changed the `http_archive` at all (either the url/sha256 or patch). Did the way bazel is applying patches change?

These patches were generated via `git diff master --no-prefix`

[2020-01-01 18:51] shs96c opened #10507 "`singlejar` should preserve Java 9+ features"
### Description of the problem / feature request:

In Java 9, there are two important tags added to the jar manifest that change how the module path (not the classpath) is handled. These are `Automatic-Module-Name` (to allow regular jars to define a module name without needing an associated `module-info`) and `Multi-Release` (to indicate that this is a Multi-Release jar)

At present `singlejar` do

[2020-01-02 07:10] uri-canva commented on #10131
cc @mboes, @danjuv

[2020-01-02 07:32] laszlocsomor commented on #6651
@sallybelly : what is your Bazel version? How did you run it?

[2020-01-02 07:39] laszlocsomor commented on #2420
AFAIK @calpeyser no longer works on Bazel, so I'll mark this as "untriaged".

[2020-01-02 08:03] irengrig commented on #10490
/cc @c-parsons

[2020-01-02 08:07] irengrig commented on #10491
/cc @aehlig

[2020-01-02 11:34] AA-OCK opened #10508 "bazel clean async fails if the temporary directory already exists"
### Description of the problem / feature request:

`bazel clean --async` fails if the temporary directory for cleaning inferred by `bazel` already exists.

[code]

### Feature requests: what underlying problem are you trying to solve with this feature?

`bazel clean --async` should not fail if the temporary directory already exists. Existence of temporary directory could be due to shared cache vol

[2020-01-02 12:55] #10046 closed

[2020-01-02 13:48] irengrig commented on #10506
Hi @dapirian, thank you for reporting the issue!
Could you please share the error message you get, and maybe the example of the patch?

/cc @meteorcloudy

[2020-01-02 13:52] irengrig commented on #10507
/cc @philwo

[2020-01-02 13:54] jtattermusch commented on #4341
@edbaunton  your problem might have been solved by https://github.com/grpc/grpc/pull/20510 (available in 1.26.0 release).

[2020-01-02 13:57] meteorcloudy commented on #10506
@dapirian Which version of Bazel were you using previously?

[2020-01-02 13:58] philwo commented on #10476
Sorry for the unintended breakage and thank you for catching and fixing it!

[2020-01-02 14:00] philwo commented on #10459
Ahh, good catch and sorry for the breakage. I will fix this and add a test case for it!

[2020-01-02 14:01] #6815 closed

[2020-01-02 14:41] asraa opened #10510 "Bazel dependency check for asan_blacklist.txt with clang-10"
### Description of the problem / feature request:

Envoy (and other bazel projects) are failing asan builds with clang-10 due to a dependency check. The exact error message:
[code]

Tracking issue on OSS-Fuzz : https://github.com/google/oss-fuzz/issues/3093

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Install clang-10 and build a

[2020-01-02 14:43] irengrig commented on #8488
Closing as not reproduced any more (as rules_nodejs are using another model of external repository with managed directories); and as I am not planning to work on this.

[2020-01-02 14:43] #8488 closed

[2020-01-02 15:01] philwo commented on #10507
FYI @cushon, @iirina

[2020-01-02 15:05] katre commented on #6190
Thanks!

[2020-01-02 15:06] katre commented on #10397
It's possible but I don't know how to check further. I'm going to re-assign the team and see if this can be better tracked.

[2020-01-02 15:06] katre commented on #10397
(Also, sorry for the delay on handling this due to the holidays!)

[2020-01-02 16:37] #10476 closed

[2020-01-02 16:52] rupertks commented on #10498
@jmmv

[2020-01-02 16:56] rupertks commented on #10472
Possibly relevant: https://groups.google.com/d/msg/bazel-discuss/V6ZsSsDwS9w/LMnBxiWaCgAJ

[2020-01-02 16:58] rupertks commented on #10374
Thanks for the repro! We will investigate

[2020-01-02 17:45] katre commented on #10396
Thank you for the reproduction case. It looks to me like both of your problems stem from the use of the single `filegroup` with the select. I see from the comments you have already noticed this.

# Problem 1: The arm_tool.sh file is not found.

It appears that the evaluation of the select inside the filegroup is selecting the "gcc" case, not the "arm" case. I plan to debug this further to see if t

[2020-01-02 18:02] katre commented on #9209
This is now implemented, see https://docs.bazel.build/versions/master/skylark/lib/ctx.html#target_platform_has_constraint (should be released with 2.1.0).

[2020-01-02 18:02] #9209 closed

[2020-01-02 18:07] katre commented on #10396
Okay, investigated the problem with filegroup and select further, this is caused by the lack of [toolchain transitions](https://github.com/bazelbuild/proposals/blob/master/designs/2019-02-12-toolchain-transitions.md): currently, toolchains are configured in the execution configuration, not the target, and so the select in the filegroup sees the platform as being `//Platforms/Host:linux_x86_64`, an

[2020-01-02 18:27] blackgnezdo opened #10512 "broken #regex anchor in The Bazel Query Reference"
### Description of the problem / feature request:

A few places in https://docs.bazel.build/versions/master/query.html link to #regex anchor which doesn't exist in the html file.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Search the page for "regular expression" and try to click. Observe it not having any effect (the bottom bar

[2020-01-02 18:41] chronal-xnor commented on #10059
@speedskater our current workaround, which I was trying to replace, is to pick a `--crosstool_top` at the command line depending on the platform. For ergonomics we do this with a `--config` value rather than directly specifying the command line flag, e.g.:

[code]

This allows us to use different toolchains for different build targets (and host platforms) but puts the burden of using the correct f

[2020-01-02 21:10] luxe commented on #4248
Is symlinking an option?
`ln -s /tmp/bazel ~/.cache/bazel`

[2020-01-02 21:27] jayconrod commented on #10225
Also seeing this in rules_go. The error message makes it sound like a problem within Bazel. I'm going to close the auto-filed bugs about this for now.

[2020-01-02 22:06] ozio85 commented on #10396
About problem 1b, ye ...  i used WSL to test .. so my bad :) still the problem is illustrated.

About problem 2: Well, i tried to extend the example to also catch this problem .. but i need a bit more time to reproduce this in a concise way.

I tried to add a third toolchain, which is not used, but it it not enough to trigger the any problems (i just need to set tags = ["manual"], to avoid the cc_

[2020-01-03 04:37] suman-ganta opened #10514 "java_binary rule is not generating java9 module compatible executable"
### Description of the problem / feature request:

When java_binary rule is used, the generated script is not compatible with java9 modules.

### Feature requests: what underlying problem are you trying to solve with this feature?

This is a bug, not a feature request. Feel free to change it to feature if my interpretation is incorrect.

### Bugs: what's the simplest, easiest way to reproduce this

[2020-01-03 04:53] freddie1129 commented on #5201
I know it might be too late. Just hope it can help the others in future.
I got this error when sync one project imported from Github. I am using Android Studio.  This is the first time I build by using bazel.  Following the hint of that error, I set up the environment variable ANDROID_HOME and validate it in both Linux terminal and the embedded terminal in Android Studio. The ANDROID_HOME did be s

[2020-01-03 08:23] gunan opened #10515 "Workspace dependency downloaded 4 times"
#10071 # Description of the problem / feature request:

When building tensorflow, looking at the json profile, looks like the LLVM dependency is downloaded and extracted 4 times.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Run the following commands:
[code]
unfortunately, there may be some dependencies to be installed here
then

[2020-01-03 08:25] gunan commented on #10515
here are the profiler outputs on linux and windows.

[linux_simplest_case.profile.gz](https://github.com/bazelbuild/bazel/files/4018492/linux_simplest_case.profile.gz)
[windows_build_more_targets.profile.gz](https://github.com/bazelbuild/bazel/files/4018493/windows_build_more_targets.profile.gz)

[2020-01-03 09:09] meteorcloudy commented on #9209
@katre Great news! Is there any example on how to use it?

[2020-01-03 09:22] laszlocsomor commented on #10515
Successfully repro'd on Linux, at https://github.com/tensorflow/tensorflow/commit/6c902370140cb4b5c9ae69f440e16e5ace55b828, with Bazel 1.2.1 and Python 3.7:

[code]

Using `--repository_cache` doesn't help.

[2020-01-03 09:27] gunan commented on #10515
I have just tried another thing.
Created a new repository, with only llvm workspace dependency.
Looks like this one only downloads llvm once:
https://github.com/gunan/bazel_test

[llvm.profile.gz](https://github.com/bazelbuild/bazel/files/4018635/llvm.profile.gz)

[2020-01-03 09:40] gunan commented on #10515
I think I got it!
in my repository, I added just one "build_file" attribute to my workspace rule.
However, if I instead set it using our "additional_build_files" attribute, I get multiple llvm extractions:
[llvm_vacuum.profile.gz](https://github.com/bazelbuild/bazel/files/4018650/llvm_vacuum.profile.gz)

Here is the implementation of it:
https://github.com/tensorflow/tensorflow/blob/master/third_p

[2020-01-03 09:50] laszlocsomor commented on #10515
Interesting! What does the new WORKSPACE file (with additional_build_files) look like?

[2020-01-03 12:20] laszlocsomor commented on #10515
@meteorcloudy found the root cause:

It is caused by converting a label to a path: when the FileValue referenced by a label is not already loaded in Skyframe, the whole SkylarkRepositoryFunction will get restarted. See https://github.com/bazelbuild/bazel/blob/6b5ea9d552de2480eef8b8b19b5719788e64a80f/src/main/java/com/google/devtools/build/lib/bazel/repository/skylark/SkylarkRepositoryContext.java#

[2020-01-03 13:07] meteorcloudy commented on #10515
The workaround is to manually enforce the label -> path converting before the extraction.
[code]

The correct fix would require changes in both TF and Bazel:

First, in `repo.bzl`, we should use [label_keyed_string_dict](https://docs.bazel.build/versions/master/skylark/lib/attr.html#label_keyed_string_dict) for `additional_build_files` (instead of [string_dict](https://docs.bazel.build/versions/ma

[2020-01-03 14:54] katre commented on #9209
See the proposal: https://github.com/bazelbuild/proposals/blob/master/designs/2019-11-11-target-platform-constraints.md#proposal-a-check-method-that-takes-a-constraint-value-label

Short version: you need an implicit dependency on the constraint value you want to check, use that to get the `ConstraintValueInfo` provider, and then call `ctx.target_platform_has_constraint` with that provider.

[2020-01-03 15:19] meteorcloudy commented on #9209
Nice, thanks!

[2020-01-03 15:20] meteorcloudy commented on #9209
/cc @alexeagle @gregmagolan

[2020-01-03 16:44] philwo opened #10518 "ctx.delete missing in utils.bzl?"
@aehlig I just read the code of our http_archive repository rule and came across this part:
https://github.com/bazelbuild/bazel/blob/master/tools/build_defs/repo/utils.bzl#L50-L57

I don't know the exact semantics of `ctx.file`, `ctx.delete` and `ctx.symlink` regarding how they treat the case of a file already existing, but it seems like we either need to add `ctx.delete("WORKSPACE")` to the `else

[2020-01-03 16:55] adam-azarchs commented on #4248
That would require having access to people's home directories.  For myself I have put a regular file in `~/.cache/bazel` to catch mistakes in my wrapper script.  The wrapper script to set `--output_user_root` is a functioning workaround for now, but it would be much cleaner if we could just set `--output_root` globally.

[2020-01-03 18:55] jin opened #10519 "Create a man page for Bazel"
We can start with a basic page, with a highly distilled section for `OPTIONS`.

[code]

http://www.linuxhowtos.org/System/creatingman.htm

[2020-01-03 19:00] katre commented on #10519
We may want a general page, and then a series of man pages for bazel-build, bazel-test, bazel-run, etc (similar to git's man pages).

[2020-01-03 19:09] jin commented on #10519
@katre I like that!

[2020-01-03 19:20] cgruber opened #10520 "Make Bazelisk the always-installed front end wrapper by which bazel is executed"
Bazelisk provides a stellar mechanism for managing bazel versions for a given repository setup. I recommend that:

   1. bazelisk be explicitly listed in the bazel installation instructions as a way of installing and managing bazel execution
   2. have a brew/apt/whatever packaging option for bazelisk to symlink `bazel` to point to baselisk (should be a bug on the bazelisk project)
   3. Rework th

[2020-01-03 19:22] #10512 closed

[2020-01-03 19:34] #10416 closed

[2020-01-03 19:42] laurentlb commented on #10416
Thanks for filing the issue.

I've re-enabled the feature. It should be part of Bazel 2.1.

[2020-01-04 00:06] shantanugoel commented on #3323
Just add `-F` (for the path where the frameworks are) and `-f` for the framework that you want to link to in linkopts. e.g.
[code]

[2020-01-04 05:45] JimHan75d8c5 opened #10521 "Illegal char "<" in Windows"
### Description of the problem :
Bazel tried to create a Directory with char "<" and ">" in the name, and failed:
[code]

### What operating system are you running Bazel on?

Windows 1909, version 10.0.18363.535

### What's the output of `bazel info release`?

release 2.0.0

[2020-01-04 16:46] speedskater commented on #10059
@chronal-xnor Thank you for your reply and your suggested solution.

We finally settled with a workaround using the commandline switch `--incompatible_enable_cc_toolchain_resolution` and the platform based toolchain resolution instead of defining the toolchain using `--crosstool_top`.

[2020-01-04 18:52] mukul-rathi commented on #6450
I also still have this issue when running `bazel coverage --combined_report=lcov //...`

### What operating system are you running Bazel on?
MacOS Mojave Version 10.14.6

### Output of bazel info release:
`release 2.0.0`

I'm on a C++ repo using GoogleTest.

### Output

[code]

[2020-01-04 21:49] ivucica commented on #4542
As this was the top search result when I was trying to find how to build in an icon into my executable, here are some cross references to issues/PRs:

- FR issue for building resource files: #8273
- PR for implementing this: #8907

[2020-01-04 21:59] ivucica commented on #8273
Is this meant to be in 2.0.0?

[code]

and

[code]

Looks like `~/_bazel_${USER}/install/*/embedded_tools/src/main` contains just `cpp`, `native` and `protobuf`. I understand this is meant to go into `rules_cc`, but until it goes there, can the rule be released anyway? As it is, it's not very useful.

[2020-01-05 05:16] c16a commented on #6450
@iirina seems like folks across languages are facing this issue. Any clue what the issue is?

`bazel test //...` fails for me.

[2020-01-06 04:55] Magsun commented on #5816
Hello to anyone who sees this issue report, I would be so happy if someone can help.
I met this unrecognized option error while I'm trying to convert local video to yt8m format features.
The command line is listed below:
bazel build -c opt \
--define MEDIAPIPE_DISABLE_GPU=1 --define no_aws_support=true \
mediapipe/examples/desktop/youtube8m:extract_yt8m_features

The whole info of this error is:
I

[2020-01-06 09:48] edias commented on #10270
Is this issue solved? I'm still getting `com_google_protobuf/BUILD:148:1: no such package '@zlib//': The repository '@zlib'`

[2020-01-06 10:25] wesleyw72 opened #10522 "alwayslink doesn't work for static archives (`.a`)"
### Description of the problem / feature request:

If I have a `cc_library` with a `.a` files in the `srcs` and `alwayslink` set to `True`, that static archive isn't linked into final binaries that depend on the `cc_library`.

There is a work around, by changing the extension of the `.a` file to `.lo` ("Always Link library"). But this seems counter intuitive.

### Bugs: what's the simplest, easies

[2020-01-06 12:30] jverkoey commented on #10270
Consider using the above ^ it resolves this error for me.

[2020-01-06 13:46] katre opened #10523 "Implement the toolchain transition"
Tracking issue for the implementation of [toolchain transitions](https://github.com/bazelbuild/proposals/blob/master/designs/2019-02-12-toolchain-transitions.md).

[2020-01-06 13:47] katre commented on #6889
Tracking issue for implementing toolchain transitions (finally): #10523.

[2020-01-06 13:47] katre commented on #10396
Tracking issue for implementing toolchain transitions: #10523.

[2020-01-06 13:59] gmendonca opened #10524 "Feature request: download external dependency from other protocols"
### Description of the problem / feature request:

I know `bazel` can use `gcs://` or `s3://` for caching, but it's common for some build tools to actually publish artifacts to GCS or S3, for example. S3 offers an http api for public buckets, however if using private buckets, or you have to relay on downloading artifacts from `s3://` directly for authentication or use signed URLs (see https://gith

[2020-01-06 14:32] jin commented on #10524
Dupe: https://github.com/bazelbuild/bazel/issues/10442

[2020-01-06 14:32] #10524 closed

[2020-01-06 14:40] gmendonca commented on #10442
Maybe we could make this broader and also support `s3://`

Related:
https://github.com/coursier/coursier/issues/1488
https://github.com/bazelbuild/rules_scala/issues/911

[2020-01-06 15:27] jin commented on #10442
Modified the FR to include `s3://`.

[2020-01-06 16:22] shs96c opened #10525 "Async download of build artifacts"
### Description of the problem / feature request:

When performing a remote build, the `--remote_download_minimal` flag is very useful for making things seem fast, but not so helpful if the local bazel daemon is restarted for some reason. It would be ideal if bazel build (and test) could download build outputs asynchronously. This would allow cases where local execution is desirable (eg. debugging

[2020-01-06 16:34] ash-srini opened #10526 "StackOverflowError while building module with bazel"
### Description of the problem / feature request:

One of the modules we are trying to build using bazel is erratically failing with StackOverflowError.

**Bazel version** : Build label: 1.0.1
**Java version:**
`java version "1.8.0_181"
Java(TM) SE Runtime Environment (build 1.8.0_181-b13)
Java HotSpot(TM) 64-Bit Server VM (build 25.181-b13, mixed mode)`

Following is configured in bazelrc for usi

[2020-01-06 17:11] susinmotion commented on #10472
Closing as a duplicate of https://github.com/bazelbuild/bazel/issues/8984, please reopen if necessary.

[2020-01-06 17:50] agostini01 commented on #10384
Simply adding the list of headers to `outs` makes the compilation error out with:

[code]

Which indicates that I cannot use the `$@` symbol anymore.
This symbol previously translated to:

[code]

I am not sure if this pre-appended path is always the same, or will change as I build more versions of the library.

When hardcoding the `@$` symbol and adding some of the (required) generated headers

[

[2020-01-06 18:07] cgruber opened #10527 "AndroidResourceLink worker spews errors to stdout, killing worker contract"
### Description of the problem / feature request:

AndroidResourceLink reports aapt2 errors to stdout, causing the build to crash, rather than to fail in an orderly way.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Use a project with a bad manifest (say, butterknife which has a package attribute of "butterknife" which aapt2 rejec

[2020-01-06 18:12] asuffield opened #10528 "Range queries should not be rejected when the server returns 200"
RetryingInputStream will retry a request with a Range header. If it does not get Content-Range in the response, it throws "Tried to reconnect at offset %,d but server didn't support it".

This is incorrect: it is legitimate for a server to respond to a Range query with the entire document, by returning a 200 response instead of a 206 (also the check is incorrect, as it's based on the Content-Range

[2020-01-06 18:14] cgruber commented on #10527
[code]

[2020-01-06 19:59] cushon commented on #10507
singlejar supports adding custom entries to the output manifest [1] (that's how [`java_binary.deploy_manifest_lines`](https://docs.bazel.build/versions/master/be/java.html#java_binary.deploy_manifest_lines) works, it just doesn't automatically preserve those entries from the inputs.

What semantics would you want if there are multiple inputs, which wouldn't necessarily all have the same manifests?

[2020-01-06 20:22] cgruber commented on #10527
What's weird, is that if I do `--strategy=AndroidResourceLink=standalone` (or sandboxed) it seems to have no effect in 2.0.0, but it does seem to work in 1.2.0.  Regression?

[2020-01-06 21:56] jayconrod opened #10529 "mingw and msys2 C++ toolchains not automatically registered on Windows"
### Description of the problem / feature request:

On a system with only `msys2` and `mingw` installed (not MSVC), when `--incompatible_enable_cc_toolchain_resolution` is enabled, toolchains should be automatically declared and registered for `msys2` and `mingw` and not for MSVC.

Currently, on such a system, several toolchains are declared, but only the toolchain for MSVC is registered automatica

[2020-01-06 21:57] jayconrod commented on #10529
cc @katre @hlopko

Related to #7260

[2020-01-06 22:08] ulfjack commented on #6450
The fix didn't make it into 2.0.0.

[2020-01-06 22:13] r-hang opened #10530 "Building a target with a Bazel aspect overwrites the Target command line printout"
### Description of the problem / feature request:

Building a target with a Bazel aspect overwrites the Target command line
printout. The Target printout previously contained information such as the
path to the generated build artifact.

For example:
[code]

Has a different command line output then
[code]

The path to the aspect build artifact is printed, but the original build artifact path is lo

[2020-01-06 22:46] SrodriguezO commented on #8840
Curious about this too.. it seems the two profile modes served different use cases. @meisterT is there a way of getting a simple summary using the new profiler?

[2020-01-07 00:53] ThomasCJY opened #10531 "Error during Re-linking dynamic delivery related xml tag"
Build apk caused error:
[code]
After fetching the manifest file I found the error section is:
[code]

However, in the original manifest, this section used for dynamic delivery is:
[code]

Notice that the </delivery> tag doesn't have dist: prefix after being processed by bazel.

[2020-01-07 01:39] popozy commented on #1304
Any updates?

[2020-01-07 03:04] ash2k commented on #8598
Is there a workaround?

[2020-01-07 04:38] c-parsons commented on #8598
@ash2k can you describe what you are trying to do, so that we might recommend a workaround?

[2020-01-07 05:21] ash2k commented on #8598
I have [a rule](https://github.com/atlassian/bazel-tools/tree/master/multirun) to run multiple executable targets using a single `bazel run` invocation. I have built [a separate program](https://github.com/atlassian/bazel-tools/pull/72) to actually invoke those binaries, which the rule uses to do what it does. I haven't tested the situation with a target coming from an external workspace just yet,

[2020-01-07 06:09] c16a commented on #6450
Any ETA of when this might be merged? Looks like this is a widespread issue for people?

[2020-01-07 08:53] ulfjack commented on #6450
It should work at HEAD, and I expect it to be in the next release, which is probably 2.1.0.

[2020-01-07 08:57] laszlocsomor commented on #8273
No, it's not meant to be in `@bazel_tools` in 2.0.0. The rule only exists in Bazel's source tree.

I understand that the rule isn't generally useful in its current state, but due to changed priorities I'm no longer planning to move it to `rules_cc`, sorry.

@ivucica , I recommend copying the rule to your source tree. It should work. If you (or someone else) wants to move it to `rules_cc` for every

[2020-01-07 10:42] laurentlb commented on #5816
The flag `incompatible_depset_is_not_iterable` has been removed (it was useful only for the transition) and shouldn't be used anymore.

Can you remove it? It looks like it comes from `/workspace/paddlevideo/mediapipe/.bazelrc`.

If the flag was really needed (i.e. you get errors related to depset iteration), you may have to fix the code before using Bazel 2.0. This should work with Bazel 1.2 thoug

[2020-01-07 14:11] lberki commented on #10428
/cc @irengrig

@meteorcloudy , that's not the intended behavior of `.bazelignore`; the idea is that it makes Bazel ignore that subdirectory from the source tree altogether. The above example by @meteorcloudy  is a good demonstration of this.

Note that when Bazel sees the label `//foo:ignored/b.txt`, it doesn't consult the file system to see whether the file is actually there; that will be figured

[2020-01-07 15:21] kellycampbell commented on #10505
cc: @philwo

[2020-01-07 15:22] axeluhlig opened #10532 "Print summary of fetching phase"
I’d like Bazel to print an one line summary at the end of the fetching phase, like this one

`Fetched 123 artifacts (456 MB) in 789 seconds`

Excessive fetching due to bad configuration can become a huge issue when using bazel at scale (long feedback times, network bottlenecks, etc.). Therefore tracking the number of artifacts, their total size and the time the fetching took is a very interesting

[2020-01-07 16:45] jin commented on #10505
cc @meteorcloudy

[2020-01-07 17:40] wesleyw72 opened #10533 "CLion Bazel 1.2.1 incompatiability macOS"
Also posted in the plugin repo [issues](https://github.com/bazelbuild/intellij/issues/1545) but also posting here as it is toolchain related and happened on a Bazel upgrade.

When using CLion with the default toolchain on macOS (10.14.6). The plugin fails when invoking `wrapped_clang`. Tested on CLion 2019.2.5, plugin version 2019.12.02.0.0. Bazel 0.29.1 works perfectly fine on this version of CLi

[2020-01-07 17:41] philwo commented on #10505
@kellycampbell Mhm... I see. I'll have to think about this a bit.

Would it be an OK solution to ask users to `apt-get install bazelisk` (which would provide `/usr/bin/bazel`, but it's actually Bazelisk) on your workstations instead of `apt-get install bazel`? Then you also wouldn't have to check-in Bazelisk as `tools/bazel`. Note that this doesn't yet work, we don't have a Debian package for Baze

[2020-01-07 17:47] csstaub opened #10534 "Rules in .bazelignore apply to external repositories"
# Description of the problem

Rules for ignoring files set in `.bazelignore` are applied to external repositories, and it's not clear if this is intentional. This can break external repositories inadvertently. See this bug report on rules_go for an example breakage: https://github.com/bazelbuild/rules_go/issues/2016. I've also attached a minimal example to reproduce an issue this can cause.

Intui

[2020-01-07 18:50] fenghaolw opened #10535 "Show debug information about multiplex worker vs regular persistent worker"
### Description of the problem / feature request:

Currently when we replace our persistent worker with [multiplex worker](https://docs.bazel.build/versions/master/multiplex-worker.html), it is unclear which one is being used. `--worker_verbose` shows "Create new ... worker (id #)", but does not display the debug information for multiplex worker.

### Feature requests: what underlying problem are

[2020-01-07 20:03] susinmotion opened #10536 "incompatible_remove_local_resources"
--local_resources will be deprecated in favor of --local_ram_resources and --local_cpu_resources.

--incompatible_remove_local_resources will become true by default, which will cause breakages if --local_resources is used. Please use --local_ram_resources and --local_cpu_resources instead of --local_resources.

Migration has been in progress since March 2019. --local_resources should be fully depr

[2020-01-07 23:26] jxramos commented on #258
I second @atomgalaxy's sentiment, the compilation database has basically become a fairly standardized third party tooling interchange format especially surrounding libclang based tools with all their semantic proper c++ parsing goodness.

A brief summary of built in options for some build tools, would be most excellent if bazel build held some analogous command line flag to trigger the rendering o

[2020-01-08 00:06] robbertvanginkel commented on #8609
I debugged the `Server terminated abruptly (error code: 1, error message: 'Received RST_STREAM with error code 8')` error message a bit further, looking at the server's logs I can see the following:
[code]

grpc/grpc-java's `DEFAULT_MAX_MESSAGE_SIZE` is [4 MiB](https://github.com/grpc/grpc-java/blob/19805233efc3a1866092426090434b726b7dc9d4/core/src/main/java/io/grpc/internal/GrpcUtil.java#L185-L18

[2020-01-08 00:13] Jdban commented on #10505
We ran into this too. We have a similar setup with `tools/bazel` calling `bazelisk`
It's kind of annoying right now that `bazel` is looking at the `.bazelversion` file at all.

It might be nice at some point if `bazel` had its own fully-supported method for specifying the version of bazel to use, maybe in the WORKSPACE file?

[2020-01-08 00:26] vaibhav-shah commented on #8208
👍

[2020-01-08 00:37] NathanHowell commented on #4341
@jtattermusch it's (still) failing for me with 1.26 as well as master:

[code]

[2020-01-08 04:17] ash2k commented on #8598
Ok, I guess I misunderstood this ticket. I have tested a scenario and it seem to work fine.

[2020-01-08 09:37] c16a commented on #10132
Hope 934c4fd4a4a96093a2cd0b08cf619bef04d0b582 is included in this change?

[2020-01-08 11:04] laurentlb commented on #10132
# Status of Bazel 2.1

- Target baseline: 2020-01-08
- Expected release date: January 15th-20th
- [List of release blockers](https://github.com/bazelbuild/bazel/labels/Release%20blocker)

To report a release-blocking bug, please file a bug using the `Release blocker` label, and cc me.

Task list:

- [ ] Update GitHub issues for incompatible changes
- [ ] Pick release baseline:
- [ ] Create release

[2020-01-08 11:05] laurentlb commented on #10132
All changes submitted before today should be included.
I'll update the previous status message later today.

[2020-01-08 13:04] lberki opened #10538 "Starlark semantics change does not invalidate external repositories"
In order to finally lay `--incompatible_do_not_split_linking_cmdline` to rest, we need to make some changes to `unix_cc_configure.bzl` which are not backward compatible. Therefore, we need to hide that behind a flag somehow.

One approach to do so is to expose Starlark incompatible flags to repository functions. However, when such a flag is changed, Starlark repositories are not invalidated and no

[2020-01-08 13:05] lberki commented on #10538
/cc @oquenchil

[2020-01-08 13:29] jtattermusch commented on #4341
Ok, the fix is actually in https://github.com/grpc/grpc/pull/13929 (which has been merged a long time ago).

For me, the build does pass (bazel 1.0.0 and clang Apple LLVM version 9.1.0)
`bazel build :all` -> `INFO: Build completed successfully, 1361 total actions`

Can you double check that your build actually defines GPR_PTHREAD_TLS  (and not GPR_GCC_TLS) as seen here: https://github.com/grpc/grp

[2020-01-08 14:52] shs96c commented on #10507
The semantics should be something like:

 * If any included jar sets `Multi-Release`, then the combined jar must have that set too (allowing the multi-release jar to continue to function as expected)
* If any jar contains an `Automatic-Module-Name`, this should be dropped, but a warning should be printed to the console (which can be suppressed)

The first of those is far more important than the se

[2020-01-08 15:04] aehlig commented on #10518
Looking at the documentation (and verifying these assertions in tests)
- `ctx.file` removes a pre-existing file,
- while `ctx.symlink` may (and actually does) assume that the target location is empty.

So, we can remove two occurrences of `ctx.delete`. I will prepare a corresponding change.

[2020-01-08 16:15] #10518 closed

[2020-01-08 16:33] NathanHowell commented on #4341
@jtattermusch yeah, that works but now this configuration option leaks into my project - i'm trying to use the grpc rules and not just build grpc. is there some way to embed this into the grpc workspace?

[2020-01-08 16:46] cstrahan commented on #9224
May I kindly request that the priority for this ticket be increased? Could someone from the development team propose a plan for resolving this, so others may also attempt to resolve this in the meantime?

Currently, this breaks the IntelliJ plugin for any sufficiently large code base, and the IntelliJ plugin is, to my knowledge, the only means of having a decent development environment for Bazel p

[2020-01-08 17:55] irengrig commented on #10521
Maybe related: #10096

[2020-01-08 18:19] jin commented on #9224
There are other areas in the Bazel codebase that uses parameter files, e.g. for Java compilation actions: https://source.bazel.build/bazel/+/master:src/main/java/com/google/devtools/build/lib/rules/java/JavaCompileActionBuilder.java;l=311;drc=2d67cc0c08e7e41826efb0113342fada0ff4c8bf

The high level work that needs to be done here is to hook up the rule(s) that uses the wrapper scripts for compilat

[2020-01-08 18:24] irengrig commented on #10533
/cc @jin not sure what our actions could be, though

[2020-01-08 18:29] irengrig commented on #10534
/cc @laurentlb

[2020-01-08 18:37] edbaunton commented on #4341
The `#define` is checked in a header, so presumably anyone who includes the header would also need to set the requisite define. I am not a bazel expert but for a gRPC user to be able to get this flag transparently, the gRPC rules might be able to leverage this new Skylark functionality [this](https://docs.bazel.build/versions/1.2.0/skylark/config.html).

Should this flag be enabled everywhere or o

[2020-01-08 19:27] jin commented on #10533
CLion on macOS is not supported by the IntelliJ team.

See https://ij.bazel.build/docs/bazel-support.html

[2020-01-08 20:07] susinmotion commented on #10535
@borkaehw @SrodriguezO

[2020-01-08 20:22] gregestren opened #10540 "Doc sanity check: does cquery output analysis.proto or analysis_v2.proto?"
### Description of the problem / feature request:

https://docs.bazel.build/versions/master/cquery.html#proto says:

    The definition of the protocol buffer can be found at
    src/main/protobuf/analysis.proto.

But I see there's also [analysis_v2.proto](https://github.com/bazelbuild/bazel/blob/master/src/main/protobuf/analysis_v2.proto)

Which one should the documentation reference?

[2020-01-08 21:00] jin opened #10541 "Documentation: create a Bazel glossary"
Feature request: create a glossary for abstractions used in the Bazel build system and ecosystem.

Work in progress: https://github.com/jin/bazel-glossary

[2020-01-08 21:08] gregestren commented on #10541
Super-useful!

Happy to help with (at least) configuration-related terms.

[2020-01-08 22:21] nkoroste opened #10543 "'tools:replace' not replacing in Android manifest when 'tools:ignore' is present"
### Description of the problem / feature request:
Found this obscure bug with Android manifest merging action when there are duplicate tag attributes in the app manifest and one of it's deps lib it will fail with the following error:
[code]
As you can see the exception suggests to add `tools:replace="android:allowBackup"` and `tools:replace="android:label"` however if one of the manifests already

[2020-01-08 23:10] bmzhao opened #10544 "Bazel Query in Bazel 1.2.1 errors out due to bazel-internal code"
### Description of the problem / feature request:
`bazel query deps` in bazel 1.2.1 on targets that use android trigger the following error:

This error is caused by this line: https://github.com/bazelbuild/bazel/blame/master/tools/android/BUILD.tools#L44

This also breaks Tensorflow's CI, since we run 'bazel query "deps((//tensorflow/...))"`, and its picking up this internal bazel dep that errors

[2020-01-09 08:21] chiehpower commented on #3948
Hi,
I also met this problem.

Before I git clone tensorflow from github, I already installed Tensorflow-gpu 1.14 version.
However, I want to install `summarize_graph` this tool.
Hence, I git clone tensorflow from github, then installing bazel.
Next, I directly use this command to install summarize_graph.
```bazel build tensorflow/tools/graph_transforms:summarize_graph```

Then I got this error bel

[2020-01-09 08:54] meteorcloudy commented on #10534
I can reproduce this bug with 2.0.0. And fortunately, this is probably the same cause as https://github.com/bazelbuild/bazel/issues/10234, which is already fixed at Bazel@HEAD by https://github.com/bazelbuild/bazel/commit/bf2c4d914757fff11dd2b38b420f7067340f6249.

I tested with Bazel-HEAD and it worked.
[code]

Basically, in https://github.com/bazelbuild/bazel/commit/bf2c4d914757fff11dd2b38b420f70

[2020-01-09 08:54] #10534 closed

[2020-01-09 09:10] meteorcloudy commented on #10544
Looks like this is introduced by https://github.com/bazelbuild/bazel/commit/8d866f3259957b5cdda5d29c57fd8bdc3df85d8f
/cc @gyias @jin

[2020-01-09 10:13] elbaro opened #10549 "bazel-bin in execution root"
### Description of the problem / feature request:

Add a symlink `bazel-bin` in the execution root.

### Feature requests: what underlying problem are you trying to solve with this

My .bazelrc contains a path depending on k8-xx to provide a shorter includes to generated files.
[code]
However bazel-bin does not exist. I have to manually provide
[code]
but this can pick up the wrong files. (can use

[2020-01-09 12:39] laurentlb commented on #10397
If someone finds a way to reproduce the issues, that would be useful.

[2020-01-09 12:56] laurentlb commented on #10292
@aehlig Do you know what causes it?

[2020-01-09 12:57] laurentlb commented on #10481
cc @laszlocsomor

[2020-01-09 13:01] meteorcloudy opened #10550 "Bazel CI: rules_jvm_external - Android instrumentation test example failing with Bazel@HEAD"
The failing test is [android_instrumentation_test](https://github.com/bazelbuild/rules_jvm_external/tree/master/examples/android_instrumentation_test)
https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1344#880a086d-4c4b-4d4c-8910-b34301ae1054
[code]

A bisect shows 9694d5d628bf3afbe2a9b79c883ee9caf1715730 as the culprit
/cc @jin

[2020-01-09 13:06] laurentlb commented on #10341
Sounds like the issue is now fixed.

[2020-01-09 13:06] #10341 closed

[2020-01-09 13:16] laszlocsomor commented on #10481
Thanks for the easy repro.
The bug is present in Bazel 2.1.0rc1 too.

[2020-01-09 13:32] meteorcloudy opened #10551 "Bazel CI: rules_jvm_external, //tests/integration:UnsafeSharedCacheTest is failing with Bazel@HEAD"
https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1344#447a34e2-beeb-4889-91f6-c5e4a56a4190
The test log:
[code]

I couldn't reproduce this on my local machine.
@jin, can you help investigating this issue?

[2020-01-09 13:39] meteorcloudy commented on #10550
Android Testing is failing with the same error in downstream
https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1344#3a970b50-95fc-4917-be5a-3cce5340e9d9

[2020-01-09 14:06] finn-ball commented on #164
+1 having a similar issue

[2020-01-09 14:21] laurentlb commented on #10147
@aehlig, can you take a look at the suggested fix?

[2020-01-09 14:25] finn-ball opened #10552 "Allow rules_cc to include headers with any file extension"
### Description of the problem / feature request:

Custom file extensions for rules_cc

### Feature requests: what underlying problem are you trying to solve with this feature?

Importing headers such as `foo.bar`

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

I have a cc file which has a non-standard include file extension:

[code

[2020-01-09 14:39] laurentlb commented on #10538
Is there any plan to move this file out of `@bazel_tools`? bzl files not shipped with Bazel don't need incompatible flags.

[2020-01-09 14:55] meisterT commented on #8840
Not yet, but I am working on it.

[2020-01-09 14:56] #10446 closed

[2020-01-09 14:56] #10447 closed

[2020-01-09 14:56] #10448 closed

[2020-01-09 14:56] #10449 closed

[2020-01-09 14:56] #10450 closed

[2020-01-09 14:56] #10451 closed

[2020-01-09 14:56] #10452 closed

[2020-01-09 14:56] #10453 closed

[2020-01-09 14:56] #10454 closed

[2020-01-09 14:57] meisterT commented on #8840
Work will be tracked in #10140

[2020-01-09 14:57] #8840 closed

[2020-01-09 15:01] meteorcloudy opened #10554 "Bazel CI: rules_nodejs failing in downstream"
https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1344#1691d1c8-522e-4710-baa9-2161041776b8/686-759

[code]

The e2e test is failing because inside the test, Bazel 2.0.0 is used and at the same time we pass `--test_env=USE_BAZEL_VERSION=<path_to_bazel_binary>`. The shell wrapper of 2.0.0 respects `USE_BAZEL_VERSION` but it doesn't accept this env var as path.

/cc @philwo

[2020-01-09 15:09] meisterT commented on #1569
I think we close this now, since we have `bazel --version` which doesn't start a server.

[2020-01-09 15:09] #1569 closed

[2020-01-09 15:10] oquenchil commented on #10538
Not any time soon.

[2020-01-09 16:15] jmmv commented on #10498
Could you provide some example with specific kinds of inputs you are talking about? After a quick look, I cannot understand the problem you are describing. Thanks.

[2020-01-09 16:20] jmmv commented on #2420
Despite this feature sounding like an "Apple request", I believe this is a request for the C rules and all of their machinery. Why? Because this request actually wants to strip out the Apple-related bits from ObjC compilation :) And because... well, we won't be able to get to this in `team-Apple`. Moving over there.

[2020-01-09 16:43] endobson commented on #10498
I linked the code that is for running the workers, https://github.com/endobson/minimal-racket/commit/3ad8f443f517b1ece4a1e7bbd1b8ee2b37b7919f. The worker executable reads some of the inputs before it starts accepting requests. These are the libraries it uses in its implementation, as the language runtime I'm using doesn't produce a single native executable. If these change then the worker should p

[2020-01-09 16:56] endobson commented on #10498
Maybe here is a better question: Some time when rerunning an action with a persistent worker the worker will need to be restarted due to the worker's code changing. Which inputs correspond to that versus just running the action on the existing persistent worker process?

[2020-01-09 17:01] jin commented on #4517
A year on, do we have consensus on this? Are we officially recommending projects to use `BUILD.bazel` over `BUILD`?

[2020-01-09 18:10] jmmv commented on #10498
Ah, I see what you mean now. So you are talking about the dependencies of the worker program itself. How do these change during the build though? I'm surprised that's possible.

[2020-01-09 18:26] jin commented on #10544
I can reproduce this. The current workaround is to use `--keep_going` with `query`, or use `cquery`.

[2020-01-09 18:29] endobson commented on #10498
They don't change during regular operation. But when first writing the worker program and debugging issues with it, such changes were very common.

[2020-01-09 18:41] jin commented on #10544
@gyias has a fix for this.

[2020-01-09 18:45] jmmv commented on #10498
Ah, I see!

But... it's pretty much impossible for Bazel to know what the dependencies of an arbitrary binary are, and having a way to manually specify them seems pretty error prone. We could monitor for changes to the binary itself (and we probably should if we don't already), but that doesn't help if dynamic libraries change for example.

Do you have a specific proposal other than the simplistic

[2020-01-09 18:46] jin commented on #10551
yes, I can look into this.

[2020-01-09 18:49] endobson commented on #10498
I want documentation telling me how this is supposed to work, and fairly big warnings on how this can cause inconsistent builds, mechanisms to detect it/avoid it.

For example would having all the dependencies as part of the runfiles of the target used as 'executable' have solved this? Thats doable for me, and seems like a fairly easy to explain rule.

[2020-01-09 19:04] keith commented on #9421
Seeing this one too. @buchgr any idea if this is network flakiness or another issue?

[2020-01-09 19:51] philwo commented on #10554
Thanks for the fix :)

Two questions:
- Why do they test with specific Bazel versions using their own mechanism, instead of using the mechanism that Bazel CI offers? (the `bazel: $version` thing in the YAML).
- Where does the shell wrapper come from? It's only installed when you install Bazel via `apt-get`, but that should never be the case on our CI, right?

[2020-01-09 19:55] jin commented on #10551
Fixed by https://github.com/bazelbuild/rules_jvm_external/commit/e799854e25ed687fda29f5fc43e2dd907eadc7c9

[2020-01-09 20:41] keith opened #10555 "grpc exception building with RBE remote cache and builds without the bytes"
We saw this build failure when using RBE as a remote cache and builds without the bytes:

[code]

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Unclear, it is flaky

### What operating system are you running Bazel on?

macOS

### What's the output of `bazel info release`?

release 2.0.0

[2020-01-09 20:46] ahumesky commented on #10287
as of bazel 1.2.0, d8 can be used by specifying the following command line options:

`--define=android_dexmerger_tool=d8_dexmerger --define=android_incremental_dexing_tool=d8_dexbuilder --nouse_workers_with_dexbuilder`

(these can be put in your bazelrc file so you don't have to put it on the command line)

[2020-01-09 20:52] ahumesky opened #10556 "Can't specify --min-api to d8"
Bazel uses `CompatDexBuilder` while we remove the remaining dex support code:

https://github.com/bazelbuild/bazel/blob/d1ff8c2d15454444094f94765d4b57ce0232bb51/tools/android/BUILD.tools#L42

and `CompatDexBuilder` appears to hardcode the min api level:

https://r8.googlesource.com/r8/+/41d2ea5adff39b579b297219310199fd566e778b/src/main/java/com/android/tools/r8/compatdexbuilder/CompatDexBuilder.ja

[2020-01-09 22:39] michaeledgar commented on #9413
Reopening this issue while the fix submitted as 0552bd7 is reworked to avoid producing overlarge NamedSetOfFiles messages. That fix has already been rolled back (d7d441b).

[2020-01-09 23:45] nikhilm opened #10557 "Put /usr/local/bin before /usr/bin in PATH for Python support"
### Description of the problem / feature request:

macOS Catalina's system python3 trips the toolchain version check for unknown reasons. It would be nice if the brew/python.org python3 is preferred by changing `/usr/local/bin` to be first in the default PATH for actions.

This is partly a feature request, but I mainly want to document the issue and the workaround for others.

I believe it wouldn'

[2020-01-09 23:49] keith commented on #10557
FWIW preferring homebrew's python is considerably more risky IMO because users could have significantly different versions depending on when they installed it and when they updated homebrew's forumlae. I've said on other issues that I don't think `/usr/local/bin` should be included at all because of this risk (and we exec bazel with `PATH=/usr/bin:/bin` to ensure this.

[2020-01-10 01:28] keith commented on #9421
FWIW after merging these flags we saw this so many times with RBE that we've had to revert.

[2020-01-10 02:03] ThomasCJY opened #10558 "Annotation Processor takes the wrong dependencies into --processorpath"
### Description of the problem
Annotation processing in bazel is done through [java_plugin](https://docs.bazel.build/versions/master/be/java.html#java_plugin). Currently, we can neither specifying dependencies for annotation processor as buck does ([link](https://stackoverflow.com/questions/32915721/documentation-for-annotation-processors-buck)) nor force dependency version as gradle does.

This w

[2020-01-10 03:12] HungryOrc commented on #10076
Hi Brandon, thanks a lot for your time! I've encountered an error of `AttributeError: 'module' object has no attribute 'get_world_size'` today, when I tried to run xgboost in my python script. I saw Greg's comment here: https://github.com/bazelbuild/rules_python/issues/122, where he mentioned `--incompatible_default_to_explicit_init_py`, and then I found this Github commit here.
I updated my bazel

[2020-01-10 03:43] alexeagle commented on #10554
@gregmagolan can probably answer

[2020-01-10 05:21] DarkDimius opened #10559 "Bazel v2.0 on Linux with --jobs=N runs 2*N actions concurrently if remote cache is enabled"
### Description of the problem / feature request:
Running `bazel test //... --jobs=X --remote_cache=grpc://127.0.0.1:9092` runs bazel with 2X actions concurrently.
[code]

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

`git clone git@github.com:DarkDimius/bazel-bug-repro.git`

[code]

and run `bazel test //test:* --jobs=10 --remote_

[2020-01-10 05:41] jin commented on #10551
Confirmed fixed in tonight's downstream run https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1345

[2020-01-10 05:41] #10551 closed

[2020-01-10 05:41] jin commented on #10550
Confirmed fixed in tonight's downstream run https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1345

[2020-01-10 05:41] #10550 closed

[2020-01-10 07:41] leosh64 commented on #1034
Is there any progress on this issue?

[2020-01-10 08:40] borkaehw commented on #10535
Sounds like a good suggestion. I will check if I have bandwidth in the following few weeks. Anyone is welcome to implement this as well. Thanks.

[2020-01-10 09:02] meteorcloudy commented on #10550
Thanks for the fix!

[2020-01-10 09:04] meteorcloudy commented on #10544
I guess we need to cherry pick it into 1.2.2 and 2.0.1? 2.1 is not cut yet, but should include the fix.
/cc @laurentlb @aehlig

[2020-01-10 09:19] ittaiz commented on #6752
@iirina do you think you'll be able to help here?

[2020-01-10 09:51] meteorcloudy commented on #10554
rules_nodejs has its own [bazel_integration_test.bzl](https://github.com/bazelbuild/rules_nodejs/blob/master/internal/bazel_integration_test/bazel_integration_test.bzl) implementation, where you can specify which Bazel version is [supported](https://github.com/bazelbuild/rules_nodejs/blob/f217519253e7468de82c2dfccdfedc7dac4f98be/index.bzl#L98).

rules_nodejs also uses the [bazel_integration_test](

[2020-01-10 10:47] jmillikin commented on #10559
As promised I did some testing, and I think this may be a UI bug with progress reporting rather than anything in the action spawner.

Notes:
* Setting the `--disk_cache` flag exhibits the same behavior.
* Setting `--ui_actions_shown=100` never goes above the `--jobs=` setting, even though the "actions running" message is consistently too high.
* Each line in the progress UI looks like `Testing //t

[2020-01-10 11:51] laurentlb commented on #10544
I can cherry-pick it in 2.1 (was cut yesterday).

1.2.1 was released in November. We usually don't do cherry-picks for older versions.

[2020-01-10 12:00] wesleyw72 commented on #2537
@hlopko I think the issue I was hitting is that the cache was being hit, so changing the `spawn_strategy` wasn't making a difference as no actions were being spawned and thus the object files with the debugging symbols were missing (in a previously cleaned up sandbox). If I do a clean and then build with `spawn_strategy=local` then it does seem to be working. Thanks!

[2020-01-10 12:22] meteorcloudy commented on #10550
/cc @laurentlb
We need to cherry-pick https://github.com/bazelbuild/bazel/commit/c94b1474b368dedf9f68f34fad90cc8664f2b0e0 for 2.1.0 to fix downstream.

[2020-01-10 12:22] purkhusid commented on #7962
@robbertvanginkel @linzhp @vitarb Could you elaborate on what part of the query output you use to calculate the hash for each target? I'm taking a look at doing something similar but I'm not so sure what parts of the proto output I should be interested in.

[2020-01-10 13:03] laurentlb opened #10560 "Bazel doesn't handle files that start with `bazel-`"
Files starting with `bazel-` seem to cause problems when they are in the top level package.

Example:
[code]

Workaround: moving the files in a subdirectory.

[2020-01-10 13:32] laurentlb commented on #10092
Load labels must be resolved before we even parse a BUILD file, so using `alias` (or anything else in a BUILD file) is not going to work.

[2020-01-10 14:11] oquenchil commented on #10538
Laurent this brings up a very good question though. When unix_cc_configure.bzl is in rules_cc which is a workspace rule, how do we introduce incompatible changes if we cannot create Starlark semantic flags from outside? Even if rules_cc is outside of Bazel I expect that due to its importance we will still be asked to follow the same policy, but how would we do this?

1) unix_cc_configure.bzl is in

[2020-01-10 14:15] laurentlb commented on #10538
Users will deal with incompatibilities when they want to update their dependency on rules_cc. In other words, updating Bazel will not break them; they can update their dependency independently. You shouldn't need a flag for this (just like we don't use flags in Skylib).

[2020-01-10 14:18] oquenchil commented on #10538
Alright, that makes sense, thank you. Can this still be fixed since right now unix_cc_configure.bzl is in Bazel?

I expect that we will always have internal workspace rules one way or another, not just those from external repos.

[2020-01-10 14:28] lberki commented on #10538
This is not unique to `unix_cc_configure.bzl`: AFAIU all Starlark repositories, well, execute Starlark code and as such, are vulnerable to incorrect caching on changes to Starlark semantics flags.

[2020-01-10 14:49] MarcusRiemer commented on #614
Now that Angular 9 is at the horizon (which seems to use Bazl under the hood), this issue also popped up for me. I started a build, immediately recognized that a dependency was out of date and attempted to stop via `CTRL + C` as it was possible before. This was the result:

[code]

The process did terminate once the Angular compiler did its thing and Bazel regained control, but I had to wait almos

[2020-01-10 15:15] nlopezgi opened #10561 "Bazel cc autoconfig does not support the default sanitizer blacklists in clang"
### Description of the problem / feature request:

With clang r407ac2eb5f136af5ddd213b8bcca176481ec5198 or above (see [here](https://github.com/GoogleCloudPlatform/layer-definitions/pull/674/files)) the compiler reports the blackilst file as an included file. However, Bazel cc autoconfig does not include this file in the builtin_include_directory_paths file. As a result of this, the following erro

[2020-01-10 15:24] arjantop commented on #6359
Any progress?

[2020-01-10 16:07] laurentlb commented on #10538
Yes, indeed. Flags that affect Starlark semantics may also affect the repository functions. So we have a correctness issue here.

@aehlig will take a look.

[2020-01-10 17:12] DavidGoldman commented on #5391
For anyone still seeing this issue:

* Please run `blaze clean --expunge && bazel build -s --verbose_failures` and include the entire failing action
* Please try running the failed action manually but adding the following to the env part of the command: `__WRAPPED_CLANG_LOG_ONLY=1`. This should make the command print out the resolved arguments to clang.

e.g.
[code]

[2020-01-10 18:18] gyias commented on #10544
The fix commit has been merged - 733ac0ff7ad1e13ab68ceb2fde694d7ab71b2366

[2020-01-10 18:54] jfroy commented on #4508
This is causing us problems for certain repos that have an external directory (many in the Vulkan ecosystem do: https://github.com/KhronosGroup/Vulkan-Tools, https://github.com/KhronosGroup/spirv-tools). Is there a path to fixing this?

[2020-01-10 19:33] cgruber commented on #6431
Can we get another roadmap refresh?

[2020-01-10 19:48] jin commented on #4508
@jfroy Yes, there is a path. @scentini has been looking at this recently and I'm helping out with it.

[2020-01-10 20:26] phst commented on #10560
The culprit is probably https://github.com/bazelbuild/bazel/blob/20b056ae8506e489933cf236b9401cddad90afac/src/main/java/com/google/devtools/build/lib/buildtool/SymlinkForest.java#L257-L258

[2020-01-10 23:04] gregestren commented on #6431
Yes. I understand the last refresh has been a while and I apologize for that.

Is there any theme you're most interested in?

[2020-01-10 23:16] gregestren commented on #10499
I'm a bit weak on repositories but I can at least triage.

[2020-01-10 23:44] benjaminp commented on #10561
This seems like it's the same as #10510.

[2020-01-11 00:50] keith opened #10564 "java.lang.IllegalStateException: call is closed"
We're intermittently seeing this crash:

[code]

On my machine the jvm.out log is empty.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Currently unclear

### What operating system are you running Bazel on?

macOS

### What's the output of `bazel info release`?

release 2.0.0

### Have you found anything relevant by searching the w

[2020-01-11 01:22] gregestren commented on #10500
I can easily reproduce this.

[2020-01-11 05:57] ittaiz commented on #1071
@katre this is the issue we were discussing in the java BOF BazelCon about duplicates in classpath of deployables.
@cushon do you think the binary code can be open sourced like Ulf suggested?

[2020-01-12 00:51] coded5282 opened #10565 "Bazel 'MSVC_ENVVARS' is referenced before assignment Windows 10"
When I run 'bazel build //examples/cpp:hello-world" as shown in the tutorial (https://docs.bazel.build/versions/master/windows.html#build-c) , I get this:

C:\Users\test\Downloads\bazel-master>bazel build //example/cpp:hello-world
ERROR: C:/users/test/downloads/bazel-master/src/main/res/winsdk_configure.bzl:39:1: file '@bazel_tools//tools/cpp:cc_configure.bzl' does not contain symbol 'MSVC_ENVVARS

[2020-01-12 01:44] #10565 closed

[2020-01-12 01:44] coded5282 commented on #10565
My bad, I was getting this error because I downloaded the wrong branch of bazel when running the example. I accidentally downloaded master instead of 0.24.1

[2020-01-12 05:33] johnynek commented on #1071
Note, you can check this very easily with:

https://github.com/classgraph/classgraph

A zero dependency java library that has duplicate class detection as one of the examples.

Seems like you could easily make an aspect that would check all java providers with that.

[2020-01-13 08:35] joeleba commented on #10540
Thanks for raising this. analysis_v2.proto isn't finalized yet. I'll update the documentation when we deprecate analysis.proto.

[2020-01-13 09:08] meteorcloudy commented on #10544
@laurentlb Please cherry-pick 733ac0f for 2.1

[2020-01-13 09:08] #10544 closed

[2020-01-13 09:13] meteorcloudy commented on #10544
@aehlig We probably also want to do a patch release for 2.0.
@bmzhao What do you think of migrating TF to 2.0.1 once we have the patch release?

[2020-01-13 10:37] aehlig commented on #10147
The suggested fix removes the feature of recording the hash in the resolved file unconditionally. This is a policy decision, not a technical decision, if we want to keep the feature. If we're concerned about speed we could restrict the computation of the hash to the cases where a resolved file is actually in use.

[2020-01-13 11:46] #10484 closed

[2020-01-13 12:58] mapleyuan commented on #10117
I have the same problem. Any update?

[2020-01-13 13:44] crorvick commented on #6700
@hlopko, I see you unassigned the issue but curious if any progress was made?  I haven't been able to upgrade Bazel for a while due to difficulties with getting away from my CROSSTOOLS file.

[2020-01-13 13:56] flokli opened #10568 "bazel throws unrecoverable errors in flaky network environments"
### Description of the problem / feature request:

We're using bazel with a remote test. On flaky network conditions, Bazel spits stacktraces and crashes, where it probably should just log a warning, and if it keeps failing, just try without the cache.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Unfortunately, I can't share the

[2020-01-13 14:32] #10538 closed

[2020-01-13 14:55] ittaiz commented on #7347
@c-parsons 2 points:
1. This [doc](https://docs.bazel.build/versions/master/skylark/rules.htm) says `The field instrumented_files is for code coverage instrumentation. It does not yet have a modern provider equivalent. If you need it, you cannot yet migrate away from legacy providers.`
2. I'm trying to migrate rules_scala and I saw that in the binary rules struct we had `instrumented_files` attrib

[2020-01-13 16:40] #10147 closed

[2020-01-13 17:08] aiuto commented on #10557
I agree with keith that using /usr/local/bin in any default is prone to problems.

It feels like the path to the python runtime that py_binary uses should be a property of the platform definition. Perhaps we need to define a distinct platform for Catalina OR for people who want to prefer homebrew.

[2020-01-13 17:08] aiuto commented on #10557
@brandjon might have a thought.

[2020-01-13 17:15] aiuto commented on #10564
Assigning this to Apple for now, since macOS is mentioned. If it does not ring a bell, feel free to un/re-assign

[2020-01-13 19:50] Artem-B opened #10572 "Bazel does not report details of the failed commands on windows."
### Description of the problem / feature request:
Bazel does not report details of the failed commands on windows.. When compilation fails, bazel does not print any info about the failed command. --verbose_failures does not help.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[code]

Output on Windows (no info about the failed comm

[2020-01-13 20:21] Artem-B opened #10573 "Bazel does not terminate subprocesses on ^C on windows"
### Description of the problem / feature request:
Bazel does not terminate subprocesses on ^C on windows.
When interrupted with ^C the already launched commands continue to run.
If subsequent execution of bazel needs to restart the server, it will silently hang until the old commands have finished.
If one of the old commands is manually killed, then *all* remaining commands appear to be killed/cle

[2020-01-13 20:49] ahumesky opened #10574 "add `label_kind` to `--output` for cquery"
`bazel cquery` with `--output label_kind` gives

    ERROR: Invalid output format 'label_kind'. Valid values are: label, transitions, proto, textproto, build

[2020-01-13 20:56] gregestren commented on #10574
Contributions welcome. I expect this'd be easy by simply adding a new entry here:

https://github.com/bazelbuild/bazel/blob/605eaccabe2fed0a1d188d77baa2206f6346becd/src/main/java/com/google/devtools/build/lib/query2/cquery/ConfiguredTargetQueryEnvironment.java#L207-L209

i.e. clone and modify this:

https://github.com/bazelbuild/bazel/blob/966dc2328a8565103e514f898673fd8eb037b9c0/src/main/java/com

[2020-01-13 21:05] ozio85 commented on #10396
Seems like the problem was that i had missed setting tags = ["manual"] on all filegroups and cc_toolchains, so with this change i have switched to using the separated filegroups. Still this issue is valid, but of lesser importance.

[2020-01-13 21:29] DnPlas opened #10575 "Bazel 0.29.1 linking error when calling allocator/deallocate"
### Description of the problem / feature request:

When building Tensorflow 2.1, the following linking error appears:

[code]

Seems like an incompatibility issue when building some third party components caused when looking for that symbol.

I'm on a Centos 7 docker container, with gcc 7.3 (from devtoolset-7), using bazelisk for installing Bazel version 0.29.1

### Feature requests: what underlyi

[2020-01-13 21:32] DnPlas commented on #10575
Note this error message appears when building different components. Here are some examples:

[code]

[code]

[2020-01-13 22:58] aiuto commented on #7444
@FWirtz @mzeren-vmw
I have a proposal for the planned work:
https://docs.google.com/document/d/1uwBuhAoBNrw8tmFs-NxlssI6VRolidGYdYqagLqHWt8

The status is:
- I've done enough prototyping to believe this plan is both sufficient and implementable.
- It is in internal review at Google
- Unless we find any truly unforeseen blockers, we are starting work shortly.

The doc is sort of dense but the hight

[2020-01-13 23:22] tetromino commented on #10564
IMHO this doesn't feel Apple-specific. Likely possibilities:

* we might be misusing grpc's ServerCall async api in some way in our `src/main/java/com/google/devtools/build/lib/server/GrpcServerImpl.java` (e.g. see https://groups.google.com/d/msg/grpc-io/sAkQeiGLWeI/JvgOxxJWDgAJ)
* there might be a bug in Bazel's bundled `third_party/grpc` (where we haven't updated the bundled precompiled jars for

[2020-01-13 23:25] keith commented on #10564
I don't, it's rare enough that I don't have any idea of a pattern, and I can't provide our codebase for debugging

[2020-01-14 00:05] gregestren commented on #10500
I have an incoming fix.

I had to dig around a bit to figure out what even makes sense (i.e. support the above example or fail with a cleaner error?).

I chose to support it based on the logic that all other [flag types](https://docs.bazel.build/versions/master/skylark/lib/config.html) are considered valid if they pass [Type.convert](https://github.com/bazelbuild/bazel/blob/d21a0d194b3e83ca585e466

[2020-01-14 00:40] benjaminp opened #10578 "a external workspace should occupy only one UI status line"
Today (post e8102278c3700e0842e46b46cb9d1f91aecb62fb), when fetching an external workspace, the UI may have lines like this:
[code]
These lines both pertain to the same external workspace, and in my opinion, they could be merged into something like this:
[code]

To implement this, the `UiStateTracker` may have to have a stack of states for each executing repository rule.

[2020-01-14 07:11] aehlig commented on #10578
Semantically, these are two different status lines. The first is the [user-settable](https://github.com/bazelbuild/proposals/blob/master/designs/2018-10-29-external-repositories-reporting.md) status (via `ctx.report_progress`); some users found it useful to see the status set by them for the whole time till they set a new status. The second is the bazel's report on "network activity"; originally t

[2020-01-14 09:00] meteorcloudy commented on #10572
I did a bisect on this, the culprit turned out to be 08d691f40bbe8c6ed28a5ba22798f0cbee595fa7
@buchgr
/cc @laszlocsomor

[2020-01-14 09:00] meteorcloudy commented on #10573
/cc @laszlocsomor

[2020-01-14 09:07] meteorcloudy commented on #10572
@laurentlb I think this is a serious bug that we need to cherry-pick a fix for the next release.

[2020-01-14 09:24] laszlocsomor commented on #10573
I can repro when running Bazel from MSYS, but not when running from cmd.exe
@Artem-B , are you running under MSYS, or under WSL?

[2020-01-14 10:05] meteorcloudy commented on #10572
It turned out this is not a Windows only issue, it happens on all platform with `--spawn_strategy=local`, (which is default on Windows).
I can reproduce the same bug on Linux.

[2020-01-14 11:01] roscrazy commented on #2694
Hi guys. It is 2020, I believe this is one of the main blockers for many teams to adopt Bazel
Do we have any updates?

[2020-01-14 11:10] dawzee opened #10580 "Calling create_linking_context with libraries_to_link as empty list raises NullPointerException"
### Description of the problem / feature request:

Calling cc_common.create_linking_context with an empty list for libraries_to_link causes a NullPointerException to be thrown during build. This was not the case prior to bazel 1.2.0.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

- Clone rules_cc repo
- Modify examples/my_c_archive

[2020-01-14 11:47] Yannic commented on #10132
Could we cherry-pick https://github.com/bazelbuild/bazel/commit/4162cc54ba0b128b616c0bd05b65bf9ad5e66f2e into Bazel 2.1? (Context: https://github.com/bazelbuild/bazel/issues/10484)

[2020-01-14 12:33] FWirtz commented on #7444
Very cool @aiuto, thanks for sharing the design doc. Just read all of it, really interesting.

Really interested in both example use-cases you're explaining as well. Generating the copyright information for shipping and ensuring only a specific subset of licenses is used is exactly what I'm interested in.

[2020-01-14 13:31] AlessandroPatti opened #10582 "Building for arm64_32 fails"
### Description of the problem / feature request:
Building a watch application for arm64_32 results in clang failing with
`clang: error: invalid arch name '-arch <architecture>'`

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.
Build any `watchos_application` target for arm64_32

### What operating system are you running Bazel on?
Mac

[2020-01-14 14:31] werkt commented on #10132
Requesting cherry-pick of 9a823d9dab82631ff4600eff38d597807e8d1221 into Bazel 2.1 (Context: #10566), addresses a NPE resulting in build failures.

[2020-01-14 14:39] aiuto commented on #10575
Have you tried asking for help in the TensorFlow community?  This is with an old version of Bazel and an older version of gcc. It is unlikely that anyone on the Bazel team can provide a quick answer.

[2020-01-14 15:17] aiuto commented on #7444
The rules (and aspects behind license gathering) will be able to bubble up the set of package copyrights and license texts to various consumer rules. Compliance people will care about an "is this OK to ship" consumer. Rules to  make  mobile app binaries will want to get to the license texts bundled into a resource.

[2020-01-14 15:48] #10500 closed

[2020-01-14 16:41] benjaminp commented on #7595
From 02f8da948bf3955304a4cef9399bd3907430bbc4, it seems this idea has made a comeback?

[2020-01-14 16:51] meisterT commented on #7595
Indeed, Irina is giving it another

[2020-01-14 16:59] benjaminp commented on #10578
I don't completely understand the semantic distinction. A single repository rule executes sequentially and thus can only be doing one thing at a time. The builtin HTTP repository rules don't set any interesting user status so display the uninformative "Fetch @some_rule` message for their entire execution. The downloading and extracting status also only says the name of the archive not the owning r

[2020-01-14 17:27] cgruber commented on #6431
The key things would be:

  1.  the pieces that impact building on one platform for a target platform, and having the cache hits match with the same artifact (assuming the actual same output) when built on a different host platform. (e.g., a pure java target built on both linux and a mac being equivalent from a caching perspective)

  2. This project's impact on native android builds (if any) as r

[2020-01-14 17:28] cgruber commented on #6431
`#1` is the biggest, though, because it means we cannot prime developer-accessible build caches from CI machines, even when the build machine should have no impact on the resulting artifacts.

[2020-01-14 18:29] StevenSYT commented on #8602
Thanks for the sharing, tfjs's toolchain is really helpful.

[2020-01-14 18:32] Artem-B commented on #10573
bazel is launched from an msys2 shell, though the shell itself is launched from a nested combination of msys2 bash scripts & .bat files executed by `cmd /c`.

Are you saying that if I do `cmd /c bazel build long`? I've just tried that and things appear to be worse. On `^C` cmd itself does terminate, but bazel continues to be running and so does the genrule loop it launched.

[2020-01-14 20:55] gregestren commented on #6431
Thanks, Christian.

Can you point to any good examples of #2? I think the trimming work we're up-prioritizing can speak to that. Importantly, the more specific use cases we can identify the more easily we can prioritize that work. We're trying to articulate priorities in terms of solving tangible user needs (like "make Android builds that set the NDK faster") vs. the abstract and hard-to-calibrate

[2020-01-14 21:23] graphicsMan commented on #6578
Is there any new status on first-class CUDA support?  Or even bzl rules that are well supported?  I found a github project that provides some rules (https://github.com/llvim/bazel_rule_cuda, allegedly code pulled from tensorflow), but I'm pretty wary considering one of the first things the landing page says is "use at risk", and the project hasn't been updated in 3 years.

[2020-01-14 21:44] DnPlas commented on #10575
Hi @aiuto, yes I've asked the TF community for help. I've also found out that using bazel 0.26.1 works for building TF under my configuration, I haven't found the root cause, though.

[2020-01-14 22:17] matthewvon commented on #3828
fyi:  seeing same problem in build of Facebook's rocksdb.  They moved everything to using "#pragma once" and both clang and msvc on Windows fail.

[2020-01-15 02:32] bmzhao commented on #10544
@meteorcloudy I'm currently working on getting TF building with bazel 2.0, as part of the the cc_shared_library work! I'm still looking into on a few build failures, but once that's landed, it should make it easy to integrate with the bazel 2.0.1 patch release.

[2020-01-15 06:08] ittaiz commented on #7347
Also, `java_toolchain_alias` at HEAD https://github.com/bazelbuild/bazel/blob/c35746d7f3708acb0d39f3082341de0ff09bd95f/tools/jdk/java_toolchain_alias.bzl#L81
Still uses a struct which makes it hard to test (like @davido pointed out a few times)

[2020-01-15 06:26] gregmagolan commented on #10554
Thanks for the fix @meteorcloudy . Closing this as its is fixed by https://github.com/bazelbuild/rules_nodejs/pull/1538.

I opened up https://github.com/bazelbuild/rules_nodejs/issues/1546 to follow up on the root cause.

[2020-01-15 07:44] laszlocsomor commented on #10573
I mean if you run `bazel build long` from an interactive cmd shell, then `^C` works as expected.

Thanks for the clarification, I'll investigate more.

[2020-01-15 09:35] meteorcloudy commented on #10544
Awesome, thanks!

[2020-01-15 09:38] zengyuxing007 opened #10586 "bazel rc not take effect?"
### Description of the problem / feature request:

using bazel version : 0.24.1

bazelrc defined:

`build --cxxopt -Wno-error=old-style-cast build --cxxopt -Wno-error=unused-private-field`

and using clang to compile ,but still reported a compile error,why ??

compile verbose failed information like this:

`foreign_cc/gperftools_build/include -isystem bazel-out/k8-dbg/genfiles/external/envoy/bazel

[2020-01-15 09:45] zengyuxing007 commented on #10586
if i define copts under BUILD file like these:
`copts = [
        "-Wno-error=unused-private-field"
    ],`
that will be compiled successful....

[2020-01-15 10:28] laszlocsomor commented on #10573
This seems to be an ancient MSYS2/MingW bug. Apparently they terminate programs on Ctrl+C instead of allowing them to handle the signal: https://stackoverflow.com/a/52657873/7778502

Open bugs from 2016 and 2003 (!):
- https://sourceforge.net/p/msys2/mailman/message/35533019
- https://sourceforge.net/p/mingw/mailman/message/15221148

This is why Ctrl+C will terminate the client and its children, b

[2020-01-15 10:35] laszlocsomor commented on #10573
Summary: we can't fix this bug.
I will update the [website](https://docs.bazel.build/versions/master/windows.html#running-bazel-msys2-shell-vs-command-prompt-vs-powershell) not to recommend running under MSYS and also link to this bug.

[2020-01-15 10:35] #10573 closed

[2020-01-15 10:41] laurentlb opened #10587 "Restrict propagation of an aspect to a dependency if it has a particular provider"
Copying the comments from a discussion:

We may want to expose it.

[2020-01-15 10:54] meteorcloudy opened #10588 "Bazel CI: Projects broken in downstream due to cc_proto_library"
https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1351

[code]

Culprit: https://github.com/bazelbuild/bazel/commit/4162cc54ba0b128b616c0bd05b65bf9ad5e66f2e

[2020-01-15 10:54] meteorcloudy commented on #10588
I'll rollback the culprit to get a green downstream.

[2020-01-15 11:03] meteorcloudy commented on #10588
/cc @buchgr

[2020-01-15 11:38] ulfjack commented on #4507
If you write it to the location indicated by the TEST_XML variable, Bazel should pick up the report automatically. Java is a bit special, because we use a test runner that ships with Bazel.

[2020-01-15 11:38] ulfjack commented on #4507
Note that Bazel will only read the file if it uses the maven XML format.

[2020-01-15 11:55] jattle commented on #9406
I also encountered this problem.

[2020-01-15 13:22] Yannic opened #10590 "cc_proto_library does not filter blacklisted protos inside the protobuf repo"
For Bazel `//:src/google/protobuf/any.proto` and `@com_google_protobuf//:src/google/protobuf/any.proto` are different files, which causes blacklisting of `.proto` sources to fail inside the protobuf repo.

https://github.com/protocolbuffers/protobuf/pull/7075#issuecomment-574649031

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[co

[2020-01-15 15:14] jtattermusch commented on #4341
@NathanHowell  I'm happy to accept patches (agreed that specifying the --copt in the .rc file might not be ideal).

[2020-01-15 15:18] jtattermusch commented on #4341
Looks like defining `--copt=-DGRPC_BAZEL_BUILD` in our bazel.rc file is not idea as the users don't inherit this setting (and they end up with wrong type of thread locals being used on mac).

[2020-01-15 15:29] #10572 closed

[2020-01-15 15:30] meteorcloudy commented on #10572
/cc @laurentlb Can you cherry-pick 7e4c9d5 into 2.1?

[2020-01-15 15:32] meteorcloudy commented on #10132
Please cherry-pick 7e4c9d5 to fix https://github.com/bazelbuild/bazel/issues/10572

[2020-01-15 15:36] crowhou opened #10594 "Build java rules failed with unsupported flag `-Xbootclasspath/p`"
### Description of the problem / feature request:

Use --sandbox_debug to see verbose messages from the sandbox
Error: Could not create the Java Virtual Machine.
Error: A fatal exception has occurred. Program will exit.
-Xbootclasspath/p is no longer a supported option.

### What operating system are you running Bazel on?

### What's the output of `bazel info release`?

### What's the output of `b

[2020-01-15 16:00] #8188 closed

[2020-01-15 18:36] mihaimaruseac opened #10595 "Maven Mirrors fail to download as of 15th of January"
### Description of the problem / feature request:

As of January 15, 2020, requests via HTTP to Maven fail with `GET returned 501 HTTPS Required`

This causes all bazel builds that transitively download from Maven repositories (i.e, all?) to fail.

For example, see a TF failure at https://source.cloud.google.com/results/invocations/b15d98de-a35a-4020-8fdf-3d3978f2c401 (search for `step 5`)

### Bu

[2020-01-15 19:16] andyscott commented on #4517
Seconded. Consensus would be great on this issue, as we're in the process of Bazelifying a lot more of Stripe's codebase and it's not clear which file name is most idiomatic.

Additionally, it would be great if Bazel's own codebase embraced the recommended naming convention.

[2020-01-15 19:24] tetromino commented on #10582
Setting -arch to "<architecture>" for watchos_arm64_32 certainly seems to be the wrong thing to do. Thank you for the PR, I'll ping some potential reviewers.

[2020-01-15 19:34] jin commented on #10595
This is an upstream change that we've been aware of for a while, and have already implemented several mechanisms from Bazel 1.0 onwards:

* rules_jvm_external lets you switch repositories easily, with support for multiple mirrors.
* The native maven_jar rule has been removed in 2.0. From 1.0, maven_jar disallows using plain HTTP urls without checksums, both for security reasons and to encourage us

[2020-01-15 20:18] mihaimaruseac commented on #10595
Should have opened this in `rules_closure` instead of in front-end of `bazel`.

As the dependency comes from `rules_closure`, I don't think the above mitigations work. In any case, https://github.com/bazelbuild/rules_closure/pull/455/files#diff-2e4ceb18bd69c42a94a1867209a48286R684-R685 (includes the mirroring setup) should fix this, as we have tested it with a patch locally.

[2020-01-15 20:20] jin commented on #10595
Sounds good, closing this for now.

[2020-01-15 20:20] #10595 closed

[2020-01-15 21:19] coreyjadams commented on #10437
I am also seeing this problem when installing tensorflow with spack.  I'm trying to install it on super computers at the Argonne Leadership Computing Facility, in preparation for our next system Aurora.

It will be very important to successfully install tensorflow with spack on our HPC systems - can you help us resolve this issue?

[2020-01-15 22:21] gmishkin opened #10598 "Binary targets on Windows use --run_under's runfiles manifest if the argument is a rule"
### Description of the problem / feature request:

On Windows only, when using `--run_under` with an argument that's a binary rule in the workspace (as opposed to some binary from PATH), the binary rule you're actually running with `bazel run` sees the run under rule's runfiles manifest and not its own.

Of course that manifest doesn't have much of anything in it and so rlocation of an actual data

[2020-01-16 09:35] laurentlb commented on #10572
It looks like the bug is present since July. We normally cherry-pick only recent regressions.

[2020-01-16 10:48] meteorcloudy commented on #10572
This bug makes our users much harder to debug on CI, but the fact that no one reported it until now may suggest it didn't affect too many users. Anyway, it's the release manager's decision. ;)

[2020-01-16 15:53] guibou commented on #8438
May I add to this issue that a lot of rule have `string` argument in place which may be `label`. For example, I'm currently limited by `http_archive` `patch_tool` attribute which is a `string` and not a `label`, meaning that I cannot build my local `patch` tool and depend on it.

[2020-01-16 16:02] katre commented on #8438
You should file that as a separate issue, so that it can be separately triaged and tracked.

[2020-01-16 16:42] ccate commented on #4069
It would be lovely to be able to repository_ctx.symlink(repository_ctx.attr.foo, 'foo') where repository_ctx.attr.foo was a pkg_tar target.

[2020-01-16 16:51] cgruber commented on #6431
So, to characterize `#2` a bit more, a simple example is - why do I need to even add the NDK when all I'm doing is including an .aar that has native code in the final binary? And then when I do, and I specify architectures, why are non-native operations (which contain only cross-platform dex/resources content) scaling slower for each architecture I configure (speaks to re-work). There are a lot of

[2020-01-16 17:23] jpan127 commented on #9047
This is great, I have been trying to get this to work but unfortunately the `.json` file always gets deleted.  I understand it is running in the sandbox but can anyone explain why the unexpected file gets deleted and the expected files are preserved?

Does anyone have a workaround?  We would like to enable this for our codebase.

[2020-01-16 17:30] jpan127 opened #10601 "Preserve unexpected generated files"
### Description of the problem / feature request:

I'm guessing this is a feature request: I would like a way to specify side effects from a rule `cc_library` for example.  If I run the compile command with specific options, additional files may be generated and bazel wipes these.

### Feature requests: what underlying problem are you trying to solve with this feature?

Preserve unexpected generat

[2020-01-16 18:41] ArekSredzki commented on #10601
This would be very useful!

[2020-01-16 18:49] jin opened #10602 "Hard crash with bazel cquery //external:all"
Repro with Bazel 2.0.0:

[code]

crashes with

[code]

[2020-01-16 19:23] gregestren commented on #10602
This is relevant: https://github.com/bazelbuild/bazel/blob/007315319a72d62ae2d6d0e3d8de6701e8d095a1/src/main/java/com/google/devtools/build/lib/packages/TargetUtils.java#L222-L225

I think that comment is already outdated (this already applies to non-test rules). But it still assumes rules have the `tags` attribute, which most do. This big shows not *all* do. :/

[2020-01-16 20:03] gregestren commented on #6431
That makes sense, thanks. I agree this invites consultation with android_rules. But they're probably going to want the trimming and inefficiency measurement tools we're working on here in configurability to help support their changes.

[2020-01-16 20:52] ittaiz commented on #5636
@laurentlb to verify- the fact that this issue is closed means new code can use `load` "regularly" and not have to worry about it being exported, right?

[2020-01-16 22:37] moroten opened #10603 "Build event uploader is leaking threads"
### Description of the problem:

When running my build over and over again, the Bazel server increases the thread count by 100-200 new threads. At about 3000 threads, my system collapses when there are no free resources to spawn new threads or processes.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Unfortunately, I don't have a m

[2020-01-16 23:24] jin commented on #4508
You can follow the work here: https://github.com/bazelbuild/bazel/pull/10604

[2020-01-17 00:02] cgruber commented on #8391
Wait, this didn't go in to 2.0?  At this point, this is blocking the rules_kotlin proceeding with fixing this same issue, triggering the following errors:

[code]

[2020-01-17 04:08] m-gupta commented on #10510
This is breaking Chrome OS fuzzer builds when building tensorflow (https://bugs.chromium.org/p/chromium/issues/detail?id=1042874)
Do we have a workaround in bazel?

[2020-01-17 04:23] m-gupta commented on #10510
Note any sanitizer blacklist, not just asan must be handled:
e.g. '/usr/lib64/clang/10.0.0/share/asan_blacklist.txt'
'/usr/lib64/clang/10.0.0/share/msan_blacklist.txt'
'/usr/lib64/clang/10.0.0/share/ubsan_blacklist.txt'

[2020-01-17 06:21] jmillikin-stripe opened #10606 "glob() is non-deterministic if a source file path starts with `@`"
### Description of the problem / feature request:

When globbing a directory containing source files or directories starting with `@`, the output of `glob()` is not deterministic.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[code]

[code]

### What operating system are you running Bazel on?

macOS and Linux

### What's the outpu

[2020-01-17 09:17] alicefr opened #10607 "Build bazel 2.0.0 on s390x"
hi,
I'm trying to build bazel 2.0.0 from source code (bootstrap method from the zip file) on s390x. However, I'm getting
[code]
Any idea how to fix that?
I also tried to `-Ithird_party/remoteapis  -Ithird_party/googleapis` to `scripts/bootstrap/compile.sh` as additional flag to protoc. After I'm getting other errors in compiling bazel. So not sure if this is the right way.
Other info, I set this e

[2020-01-17 09:49] laurentlb commented on #5636
Yes.
We close an issue about an incompatible flag when the change is enabled by default at head. So you can expect all Bazel releases after March 2019 to behave correctly in this regard.

[2020-01-17 09:51] #10607 closed

[2020-01-17 12:43] boseabhishek opened #10608 "sh_binary cannot be in the WORKSPACE file (used by //external:test-shell)"
#10257 # Description of the problem / feature request:
Hello, I am trying to run `sh_binary` which is in  .bzl file inside a directory called hello and it looks like:
`
def test_shell(name):
    native.sh_binary(
        name = name,
        srcs = ["script.sh"],
    )

`

What I am trying is referring it from another projects WORKSPACE like below:
`
git_repository(
    name = "hello-repo",
    br

[2020-01-17 13:27] flokli commented on #10568
@aiuto I don't understand the assignment. What's to be done for me here?

[2020-01-17 14:36] konste commented on #1931
We are trying to migrate big codebase to Bazel and, although we support all three platforms, primary Dev machines are Windows. Typical Dev workflow includes frequent incremental rebuilds after making very small changes. Attempt to take big external dependencies (think Boost and Qt) as sources makes this even more important. We expect that working --watchfs on Windows would improve Dev experience d

[2020-01-17 15:03] mausch commented on #10082
https://github.com/angular/angular/issues/33319

[2020-01-17 15:23] ittaiz commented on #8741
I know there were some thoughts on offering automatic migrations for certain flags any chance this flag has this? Alternatively is there a buildozer magic to add a load whenever there’s a usage?
Cc @laurentlb since I think I heard this thought from you

[2020-01-17 16:21] davido opened #10609 "java_proto_library without transitive dependency on protobuf-java"
For Gerrit Code Review project we should be able to produce plugins without transitive dependencies. The dependencies are included in Gerrit core's: `gerrit.war`.

One use case is to create protobuf library. The problem is, that when such artifact is used as dependency for `java_binary` transitive dependency `protobuf-java.jar` is pulled into the `java_binary_deploy.jar`. This is unnecessary, beca

[2020-01-17 16:30] RNabel commented on #535
The bazel version is exposed to repository rules through `native.bazel_version`, example usage: in [Skylib](https://github.com/bazelbuild/bazel-skylib/blob/master/lib/versions.bzl#L20). Related question: https://github.com/bazelbuild/bazel/issues/3138

[2020-01-17 17:35] #9413 closed

[2020-01-17 19:10] jupp0r commented on #7093
Is somebody working on this issue? If not, I'd like to start working on a patch.

[2020-01-17 21:38] davido opened #10612 "http_file rule doesn't support canonical_id and is error prone against partial updates (urls values amended, but the hash256 value missed to be amended)"
This is the follow up of: [1]. Gerrit Code Review project had an serious build corruption incident: [2].

Because of partial upgrade of `http_file()` rule, the final artifact was shipped with the file called: `caffeine-guava_2.8.1.jar`, however, the content was actually `caffeine-guava_2.8.0.jar`.

The most annoying fact about that build corruption incident is that it is almost went unnoticed, and

[2020-01-17 21:46] gregestren opened #10613 "Develop tool to measure efficiency impact of configuration transitions"
Tracking issue on [Bazel Configurability Roadmap](https://www.bazel.build/roadmaps/configuration.html])

As a precursor to optimizing multiplatform builds with trimming and better action caching, we need to understand how much inefficiency there currently is and where it comes from.

This issue covers a tool you can run over a project to describe this information as precisely as possible. Beside h

[2020-01-18 00:01] nkoroste commented on #10287
bazel version 1.2.1

I just tried your recommendation and it looks to me that it's still using `dexFileMerger`

[code]

 I'm trying to workaround some DexFileMerger related issues:
#9384
#9383

and so far the only thing that works is not using incremental dexing which impacts performance (via `--noincremental_dexing`).

[2020-01-18 02:06] gregestren commented on #10146
This should obey https://docs.bazel.build/versions/master/be/general.html#config_setting_notes:

I acknowledge this is hard to parse. Maybe there's an opportunity for simplification.

[2020-01-18 10:49] wesleyw72 commented on #7364
I have a use case need for this. I have a `cc_binary` which dynamic links against a shared object `Liba.so`. I’d like to test runtime polymorphism of two different implementations of the same shared library , so in a test I would like to specify a different `Liba.so` on the `LD_LIBRARY_PATH`. Having the `env` attribute would help a lot.

[2020-01-19 07:54] boseabhishek opened #10615 "repository_rule implementation does not print anything"
### Description of the problem / feature request:

### Feature requests: what underlying problem are you trying to solve with this feature?

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

### What operating system are you running Bazel on?

### What's the output of `bazel info release`?

### If `bazel info release` returns "developm

[2020-01-19 09:49] ittaiz opened #10616 "Why does ctx.actions.args.param_file_arg accept a constant argument"
### Description of the problem / feature request:

I'm now using `ctx.actions.args.param_file_arg` and U don't understand why we need to pass a constant argument (`"%s"`). If it's constant why not hide it from the user?

### What's the output of `bazel info release`?

2.0.0

###  Have you found anything relevant by searching the web?

https://docs.bazel.build/versions/master/skylark/lib/Args.html#

[2020-01-19 15:14] guibou opened #10617 "Many rule have string argument when they should be label"
### Description of the problem / feature request:

Many rules have `string` argument for things which, from my point of view, must be `label`.

For example, `http_archive` contains a `patch_tool` argument, which is a `string` and can be filled with the path to a `patch` binary. However, I'm building my `patch` binary using an external bazel repository, so I don't know beforehand the path for my `p

[2020-01-19 15:22] guibou commented on #8438
@katre done. Considering that I've opened this issue 6 months and that nobody seems interested to at least discuss it, I'm wondering if I may not be doing something totally wrong.

If we stay on the topic of setting `create_cc_toolchain_config_info` with path for the compiler, how do people write bazel toolchain using compilers which are them self provided by bazel?

Right now I'm cheating this wa

[2020-01-20 10:31] #10612 closed

[2020-01-20 10:47] wesleyw72 commented on #7364
@lberki is this still something you'd be opposed to merging?

[2020-01-20 12:11] RNabel opened #10618 "Unexpected IO Error (Not a directory) on macOS"
### Description of the problem / feature request:

Bazel server crashing with `IOException` when building a descriptor set with  `--remote_download_outputs=toplevel` et al. enabled.

### Feature requests: what underlying problem are you trying to solve with this feature?

`IOException` crash.

Stack trace:
[code]

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a m

[2020-01-20 13:07] ittaiz commented on #6752
@lberki @dslomov do you think someone will be able to work on it? Label collection instead of stamping is one of the older tech debts we have at rules_scala and it would be really nice to drop it (and get perf improvements along the way)

[2020-01-20 14:45] amanbora commented on #10574
Hi, I would like to work on this issue, since I'm new to bazel i might need some guidance in the future.

[2020-01-20 18:24] ittaiz commented on #7572
@katre shouldn’t this be closed then in favor of issues in the relevant rule sets?

[2020-01-20 18:25] Helcaraxan commented on #10356
We would like to kindly request this issue to be reopened as it does appears to have broken both Bazel and `bazelisk` at the same time in a **significant manner without acceptable workarounds** with the 2.0.0 release.

The requirements of CI and an organisation of 100+ engineers mean that the way in which we manage versions for `bazel` must be _fully automated across all three supported platforms_

[2020-01-20 19:13] philwo commented on #10356
Hi @Helcaraxan and others,

sorry for the trouble you and others are having with the new feature. I'll respond tomorrow to all of your questions. I designed the new feature to not break any existing users, but obviously this didn't work out. I reopened this issue - let's see that we can fix it together to also work for you and others who check in Bazelisk as `tools/bazel` into their repo.

[2020-01-20 19:25] Helcaraxan commented on #10356
Hello @philwo. Thank you very much for the quick reply. It is much appreciated. 👌

We'll be waiting for the answers and are happy to collaborate in finding the best way forward. We were genuinely surprised when we realised the conundrum we had just stumbled into with this change in the behaviour of `bazel`. 🙂

[2020-01-20 19:44] rivashin opened #10620 "Bazel creates non-compliant classpath jar"
Paths in the `Class-Path` attribute of `MANIFEST.MF` should be URL-encoded.
Currently, bazel only encodes spaces: https://github.com/bazelbuild/bazel/blob/912e822cd14710b2ebe8c7484c682d627f2906cb/src/tools/launcher/java_launcher.cc#L152

It should encode all other characters too, e.g. `%` - which is a valid character for a filename - should be replaced with `%25`. If path is not encoded correctly

[2020-01-20 22:19] pauldraper commented on #4517
As for Jan 20, 2020, the BUILD alliance is delivering an overwhelming victory against the BUILD.bazel coalition.

Much to the disappointment of the Bazel documentation writers, resistance is limited to a mere handful of web and Go projects. (Though it would seem not even [Bazel documentation](https://github.com/bazelbuild/bazel/tree/master/site) itself can resist the power of the great BUILD.)

Th

[2020-01-21 00:50] gregmagolan opened #10621 "`bazel run` before `bazel test` fails with `Could not chdir` on Windows"
### Description of the problem / feature request:

On Windows, if you run a test target with `bazel run` before you run that same test with `bazel test` (after a clean) then the test will fail with `Could not chdir` on Windows.

This was originally reported in #7387 and marked as resolved so it may have regressed as I'm seeing this in Bazel 2.0.0.

The culprit is that under Windows with runfiles n

[2020-01-21 05:56] jmillikin-stripe commented on #6359
https://github.com/bazelbuild/bazel/pull/10622 is a proposed implementation of the most recent proposal.

[2020-01-21 08:49] moroten commented on #10603
The bug is probably here:
`src/main/java/com/google/devtools/build/lib/remote/ByteStreamBuildEventArtifactUploader.java`
[code]
There is no shutdown call, so these threads will stay around forever.

After removing the `--bes_backend` and `--bes_results_url` flags solves the problem. Thread count is now stable.

Also, please add names to threads in this thread pool to simplify future investigations

[2020-01-21 10:08] emusand commented on #1623
We need support for nested selects.

Our products are written in C and run on our proprietary hardware, which is very resource constrained. To get good build and test performance, we want to build minimal unit test binaries that only contain a production .c file, a test .c file, and mocks of all used functions. We only want to use public .h files and defines from `cc_library` dependencies, to avoi

[2020-01-21 10:08] #10554 closed

[2020-01-21 10:15] meteorcloudy commented on #1931
@konste I'm sorry, --watchfs for Windows is no longer a priority currently. I don't have plan to work on this, but contribution is always welcome!

[2020-01-21 10:35] Helcaraxan commented on #10132
For those not following the GitHub issue in question but #10356, which was [re-opened yesterday](https://github.com/bazelbuild/bazel/issues/10356#issuecomment-576386798), might be considered a release-blocker for 2.1.0.

[2020-01-21 10:36] Helcaraxan commented on #10356
cc @laurentlb for the 2.1.0 release.

[2020-01-21 11:24] Acimaz commented on #8968
Did you manage to fix this @TemplateDestruction? I have a similar problem atm on macOS

[2020-01-21 12:19] ulfjack commented on #7364
I would like to have this feature for Google to remove some internal hacks in test execution, and I have a patch to implement it.

[2020-01-21 12:40] RNabel opened #10623 "Multiple aspects generating `CcInfo` generate clashing Middlemen actions"
### Description of the problem / feature request:

When defining two aspects which attach to the same target AND both generate and compile and link actions + return the `CcInfo` provider, the resulting Middlemen actions have conflicting file names and the build fails.

### Feature requests: what underlying problem are you trying to solve with this feature?

When expanding the cc actions for compil

[2020-01-21 12:45] ulfjack commented on #7364
https://bazel.googlesource.com/bazel/+/02d28a26c58d96b0f130d9669774f76a83375086

[2020-01-21 12:53] Meai opened #10624 "Bazel 2.0 does not build itself on clearlinux"
tested trunk as well, tested with a different --output_base as well, same result. Can you say what could be the cause?

[2020-01-21 12:55] ulfjack commented on #8578
If you want to set an environment variable for the tool you want to run with "bazel run", then you can just set that environment variable before calling Bazel, like so:
[code]

The --action_env command line flag is intended to pass environment variables to build actions (--test_env to pass to test actions). We don't consider the binary-to-run as a build action.

Only exception: if you bazel run a

[2020-01-21 12:55] #8578 closed

[2020-01-21 13:53] katre commented on #7572
@ittaiz You are correct, so I will close this now.

[2020-01-21 13:53] #7572 closed

[2020-01-21 13:55] katre commented on #8438
I'm sorry this got missed and wasn't handled. I actually don't know the details of how to specify cc toolchains, so I've re-marked this as "untriaged" to get the attention of the CPP rules team. Sorry this has been frustrating.

You might consider asking on bazel-discuss@ how other users have handled this problem.

[2020-01-21 14:05] #9328 closed

[2020-01-21 15:35] gregestren commented on #10574
Hi Aman,

Happy to hear!. Feel free to reach out to me at any point and I'll offer help as I can (here or gregce@bazel.build).

[2020-01-21 17:46] philwo commented on #10356
Thanks everyone for commenting and/or upvoting @Helcaraxan's post so that I can get a good feeling for the impact and urgency here and communicate this to my colleagues. This really helps prioritize this, so that we can hopefully find a good solution for all users quickly. :)

Before Bazel 2.0, users could install Bazel using a variety of ways:
1. They could download the Bazel binaries directly (e

[2020-01-21 18:12] smparkes commented on #8735
@iirina, with respect to

Transitions are only available on the rule level, correct? So this would require a new rule instead of a rule attribute?

[2020-01-21 19:43] ebrevdo opened #10626 "Unclear error in remote builds when authentication hasn't been properly set up"
### Description of the problem / feature request:

Bazel errors out with the opaque message

[code]

When performing a remote build, if I haven't set up authentication properly.  In particular, in my case I needed to run:

[code]

to set up a default application auth, before I was able to progress in my testing.
### What operating system are you running Bazel on?

linux
### What's the output of `b

[2020-01-21 21:17] uri-canva opened #10627 "`repository_ctx.which` can be used without declaring `PATH` in `environ`"
### Description of the problem / feature request:

It is very easy to use `repository_ctx.which` an a `repository_rule` without declaring the `PATH` environment variable as a dependency using `environ`. If the resulting path is written to the external repository, for example by generating a `BUILD` file, the external repository will refer to a stale path when the `PATH` environment variable is cha

[2020-01-21 22:29] nkoroste opened #10628 "Feature Request to have child's uses-permissions exported to top level manifest"
### Description of the problem / feature request:

Related: https://github.com/bazelbuild/bazel/issues/5411

Both Gradle and Buck have an option to merge all uses-permissions  manifest enteries from child libs to the top level final binary manifest. It would be nice if Bazel supported that as well.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example

[2020-01-21 23:22] gregestren commented on #1623
If all the macro is doing is emptying out `srcs`, does it matter whether the original `srcs` has a `select`? Can't the macro just ignore the original `srcs`?

[2020-01-21 23:58] xykivo opened #10629 "Add host test rules"
### Description of the problem / feature request:

Currently all test rules have to produce an executable and must use the target configuration.
However a certain set of tests can be run on the source code in the host configuration and not produce an executable.
Some examples
1. Lint test. E.g. run clang-tidy on the source code
2. Test that the build/host system has support for a given toolchain,

[2020-01-22 00:51] gyias commented on #10287
I don't think the commit(8d866f3259957b5cdda5d29c57fd8bdc3df85d8f) was included in 1.2.1. 2.0.0 doesn't have it either. I'll update here and close this issue once it's officially released.

[2020-01-22 03:20] keith commented on #10132
Any plans for when there will be another RC or the official 2.1.0 release?

[2020-01-22 06:08] linzhp opened #10630 "sha256 of http_archive is not checked"
### Description of the problem / feature request:

The `sha256` of `http_archive` is not checked on macOS sometimes

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

1. Checkout https://github.com/bazelbuild/bazel-gazelle/commit/92bc7b03d768a3581bd9bdd30d5e3635bbf854da
2. Run `bazel build //:gazelle`, verify it succeeds
3. Apply the f

[2020-01-22 07:14] davido commented on #10630
//CC @aehlig

This is a duplicate of: https://github.com/bazelbuild/bazel/issues/5144.

The repository cache is activated per default in recent Bazel version. If you do partially update: only URL was mutated but sha256 wasn't adapted, the artifact for the old sha256 is retrieved from the repository cache and delivered. The URL is ignored in this case.

The fix is to add canonical_id to the rule. I

[2020-01-22 10:36] meteorcloudy commented on #10356
What do you think we just do a `grep "\.bazelversion" tools/bazel`? It will even match a binary file that uses `.bazelversion` (tested with `bazelisk`, it works). If the shell wrapper found `tools/bazel` uses `.bazelversion`, then it skips checking `.bazelversion` itself.

[2020-01-22 10:58] davido commented on #10356
My bazel is | $REPO/.bazelversion? | $REPO/tools/bazel? | Resolution
-- | -- | -- | --
Shell-script | Yes | No | Fixed by Bazel 2.0

This broke one specific use case: too new Bazel version used, as documented in `.bazelversion`. Say it is 1.2.0 in `.bazelversion`, but Bazel 2.0.0 is used. Now it wouldn't work, unfortunately.

However, the projects may already implement bazel vesion check in `WORKS

[2020-01-22 11:16] amanbora commented on #10574
I have updated 'label' to 'label_kind' in [https://github.com/bazelbuild/bazel/blob/966dc2328a8565103e514f898673fd8eb037b9c0/src/main/java/com/google/devtools/build/lib/query2/cquery/LabelAndConfigurationOutputFormatterCallback.java](url),

and added a new entry in [https://github.com/bazelbuild/bazel/src/main/java/com/google/devtools/build/lib/query2/cquery/ConfiguredTargetQueryEnvironment.java](

[2020-01-22 11:21] Helcaraxan commented on #10356
Thank you for the detailed walkthrough @philwo and your thoughts on it. This is very useful to understand the context in which the various implementation choices were made. ❤️

Based on the information that you've shared we definitely understand the use-case that drove the feature forward, as well as the pain-point that it is trying to address.

---

Some general thoughts from our side:

This is e

[2020-01-22 11:59] RNabel opened #10633 "`.../test.cache_status (Permission denied)` crashes Bazel server"
### Description of the problem / feature request:

Attempts to read the `test.cache_status` file flakily results in a hard crash of the Bazel server with `Permission denied`.

### Feature requests: what underlying problem are you trying to solve with this feature?

The remote cache should not crash the Bazel server.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide

[2020-01-22 12:16] emusand commented on #1623
If all the macro is doing is emptying out srcs, does it matter whether the original srcs has a select? Can't the macro just ignore the original srcs?

The same macro is used both in production and unit test builds. In production builds, `srcs` should be used. In unit test builds, `srcs` should be an empty list. We set a `--define` in unit test builds, to distinguish between them.

However, there m

[2020-01-22 13:43] laszlocsomor commented on #10621
Thanks for the report.
I can repro locally, with a trivial cc_test.

foo/BUILD:
[code]

foo/x.cc:
[code]

[code]

Your root cause analysis seems correct.

[2020-01-22 15:09] gregestren commented on #10574
Great! I'll respond more on https://github.com/bazelbuild/bazel/pull/10632.

[2020-01-22 16:04] katre commented on #10396
I see. Yes, if you don't have the targets tagged as manual, and you are building "//...", they will be configured and dependencies downloaded. Should we provide more documentation of this?

[2020-01-22 16:15] linzhp commented on #10630
Thanks for explaining

[2020-01-22 16:15] #10630 closed

[2020-01-22 17:47] konste opened #10635 "Cosmetic problem: --disk_cache option causes appearance of the Invocation ID in the console output"
### Description of the problem / feature request:

When `--disk_cache` option is in effect the line like `INFO: Invocation ID: 450194a0-e23e-434d-a9e7-c847a503e4c2` appears as the first line of the console output. This is probably because of that option is in the remote module.

### Feature requests: what underlying problem are you trying to solve with this feature?

That line does not carry any u

[2020-01-22 17:54] ozio85 commented on #10396
If it is standard procedure to do this, i think one or two lines would not hurt.

Right now its more of a ”recommendation” or best practice that ”//...” should work to build. I think it should be a requirement, but then the tags might need an overhaul. (Currently the only option is to tag it manual, but some items are linked to a platform)

I am still missing some of the features the environment_g

[2020-01-22 18:03] laurentlb commented on #10132
I'll make another RC tomorrow.

[2020-01-22 19:30] sitaktif opened #10636 "Allow using netrc for grpc remote cache and remote executor endpoints"
### Feature request:

Bazel supports netrc for HTTP endpoints. This change is to suggest supporting netrc for GRPC ones.

Using netrc is a common way to configure auth for endpoints and is supported by most applications.

Bazel already supports netrc for HTTP endpoints and extending this to GRPC would allow using the same mechanism for grpc remote execution/caching instead of splitting a configura

[2020-01-22 20:56] gregestren commented on #6431
FYI: a draft 2020 roadmap is pending at https://github.com/bazelbuild/bazel-website/pull/215. I'm waiting for feedback from core devs before officially pushing it later this week.

Notably, for:

I can imagine a more limited but practically effective version of this we could target for as soon as March.

This would address "I'm using transitions and deps are building twice and slowing down the bui

[2020-01-22 21:15] zgagnon opened #10637 "Cyclic dependency in rules using run action on sh_binary"
### Description of the problem / feature request:

I've been creating a rule that needs to run a shell binary in order to operate. I create that shell binary, set it as an attr, and pass it to the implementation function, where I invoke it with `ctx.actions.run`. This is the resulting error:

[code]
### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example

[2020-01-22 21:21] #10637 closed

[2020-01-22 22:19] DnPlas commented on #10575
Hi @aiuto , seems like this issue is reproducible under different configurations. Take for instance this [comment](https://github.com/tensorflow/tensorflow/issues/35867#issuecomment-574879243), same behaviour on Centos 7, Bazel 1.2.1 and GCC 8.3.1.

[2020-01-23 01:24] jin commented on #10615
The repository rule does not get executed unless some target from your build depends on a target created by the repository rule. This is working as intended.

[2020-01-23 01:24] #10615 closed

[2020-01-23 01:25] jin commented on #10608
sh_binary is a regular rule, and thus can only be used from a BUILD file.

[2020-01-23 01:25] #10608 closed

[2020-01-23 10:11] moroten commented on #7477
Just noticed that `//command_line_option:output directory name` can be used in transitions and [platform mappings](https://docs.bazel.build/versions/master/platforms-intro.html#platform-mappings), but is hidden from the command line.

https://github.com/bazelbuild/bazel/blob/99f8a8f060d7b6aaa49125113ac085184fcec5a8/src/main/java/com/google/devtools/build/lib/analysis/config/CoreOptions.java#L239-L

[2020-01-23 10:53] meisterT commented on #7658
cc @laszlocsomor

[2020-01-23 11:02] laszlocsomor commented on #7658
This is what Bazel 2.0.0 prints:
[code]

Is that better? If not, what'd you change?

[2020-01-23 12:27] laszlocsomor commented on #10620
/cc @meteorcloudy

[2020-01-23 12:39] Yannic commented on #10588
@meteorcloudy is there anything left to do here?

[2020-01-23 12:42] Yannic commented on #10335
@irengrig This flag was added in https://github.com/bazelbuild/bazel/commit/613de1fbbff10de5d6f99f15882fb145a5007f7e. Can you add the labels to get this tested on the incompatible pipeline?

[2020-01-23 13:00] oquenchil commented on #6578
Bazel won't be providing first-class CUDA support for the time being. We will work on any blockers in Bazel that might prevent someone else from providing that kind of support though.

[2020-01-23 13:24] meteorcloudy commented on #10588
Nope, this can be closed.

[2020-01-23 13:24] #10588 closed

[2020-01-23 13:26] meteorcloudy commented on #10620
Thanks for reporting this, I will look into this

[2020-01-23 14:59] ulfjack commented on #8870
I'm closing this based on the assumption that either of the above changes has fixed the issue. Please let us know if not.

[2020-01-23 14:59] #8870 closed

[2020-01-23 15:12] ulfjack commented on #9406
@jattle, that code fragment isn't quite right. gcov can generate multiple .gcov outputs for an input.

[2020-01-23 15:41] philwo commented on #10356
Thanks for the input! I'll go with @Helcaraxan's plan and will make sure that the fixed wrapper (skip version check if `tools/bazel` exists) gets into Bazel 2.1.

[2020-01-23 15:53] laurentlb commented on #10132
I'm waiting for a resolution on https://github.com/bazelbuild/bazel/issues/10356.

Apart from that, I'll cherry-pick:
- 733ac0ff7ad1e13ab68ceb2fde694d7ab71b2366 (for #10544)
- c94b1474b368dedf9f68f34fad90cc8664f2b0e0 (for #10550)

Please tell me if I forgot another one. In some cases, I commented on the issue why I don't think a fix qualifies for a cherry-pick. Let me know if you feel strongly oth

[2020-01-23 16:23] tetromino commented on #10618
Sanity check: in your stack trace, are `<target>`, `<user>`, `<cpu>`, `<package>`, `<target name>`, and `<relative .proto path with stripped prefix>` all placeholders to hide internal code; the angle brackets etc. are not literally in the stack trace, right?

[2020-01-23 16:55] benjaminp commented on #7658
Given that it doesn't falsely claim output are different, the bug is fixed.

[2020-01-23 16:55] #7658 closed

[2020-01-23 18:08] katre opened #10641 "Document that cc_toolchains should set tags = "manual""
Follow-on from #10396: User-created targets of the `cc_toolchain` rule should set `tags = ["manual"]` in order to prevent toolchains from being built and configured needlessly when users attempt to invoke `bazel build //...`.

We should clarify the documentation to indicate this and make it a clear best practice.

[2020-01-23 18:09] katre commented on #10396
Okay, I've filed #10641 to track clarifying the docs. I'm going to close this now, feel free to file a new issue if you run into further confusing or poorly documented areas of toolchains or transitions.

[2020-01-23 18:09] #10396 closed

[2020-01-23 19:07] keith opened #10642 "_lcov_merger late-bound test attribute"
I went to add `_lcov_merger` as an attribute for iOS tests here https://github.com/bazelbuild/rules_apple/pull/691 and there was some discussion about making this tool a late-bound attribute so we wouldn't incur overhead for this tool always. It doesn't seem like there's an API that currently allows us to do this.

There was also some discussion of if the attribute makes sense to be on every test

[2020-01-23 21:17] zackify commented on #2694
I've tried everything to get databinding to work, its weird that `enable_data_binding` seems to only "work" on android_binary. But if you add it to android_library you get the error above from 2018 https://github.com/bazelbuild/bazel/issues/2694#issuecomment-437185740

why do the docs say this is supported when it doesnt work? Even went through and added all the databinding dependencies from maven

[2020-01-24 00:42] #10582 closed

[2020-01-24 04:48] ittaiz commented on #4517
Internally We (Wix) use only BUILD.bazel because of conflicts we had with
BUILD files and directories.

IMHO the stats below aren’t the real story because rulesets usually live in
a clean bazel only world where you won’t have interferences with other
stacks.

In real life and large codebase this interference is annoying. I’d actually
like to be able to turn off support for BUILD file via flag (pro

[2020-01-24 07:35] reginalluna commented on #2333
it works! thx mate

[2020-01-24 07:48] endobson commented on #6018
Poking on this again as I'm actually working on getting my system that would need this into place.

I've currently got something that implements the BuildEventService, finds all the failed actions, opens up the File correspond to there stderr (out off the remote CAS), processes all the stderr, and then writes a file down so that vim can jump directly to the errors.

Is stderr/stdout still the only

[2020-01-24 08:43] laszlocsomor opened #10644 "Bazel@HEAD can't build some projects on Bazel CI"
### Description of the problem / feature request:

Commit a948eb7255b8418f0bba1c819a58972066577d6f broke "Bazel Codelabs" on Bazel CI.

Log: https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1362#7804d324-576c-4e08-b5ba-d532cf8230bd

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Repro:
1. get https://github.com/bazel

[2020-01-24 08:57] laszlocsomor commented on #10644
Similar pipeline failures:
- rules_go [log](https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1362#26c58118-908c-4eb6-a545-2664d373cbb7)
- rules_k8s [log](https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1362#a3a69bd7-f377-4ca8-aae5-19f74cff2d8c)

[2020-01-24 10:23] laszlocsomor commented on #10621
I have a fix for this.

The bug affects Linux too when using `--enable_runfiles=no`.

[2020-01-24 12:29] RNabel commented on #10618
@tetromino Correct, those are placeholders only and there are no angled brackets in the stack trace.

[2020-01-24 14:37] jmmv opened #10650 "Colored output not working on flag errors"
This is something I've been observing for quite awhile already and still happens with Bazel 2.0.0.

Providing an invalid flag causes Bazel to abort the build as you might expect, but any coloring of the output doesn't work.

The simplest reproduction is to run `bazel build --config=foo` on Bazel's own source tree, which results in:

[code]

I'd expect the `INFO:` and `ERROR:` line prefixes to be c

[2020-01-24 17:18] benjaminp commented on #10650
Those errors come from the client, which isn't as smart as the server about console output.

[2020-01-24 18:53] jmmv commented on #10650
I don't think so. All of the messages pasted above come from the server, *including* `Config value foo is not defined in any .rc file`. See `BlazeOptionHandler.java`. And the failure for `--jobs` cannot come from the client because the client doesn't know about that flag at all.

Note that when the server prints the `Reading rc options for`... messages and similar during a successful build, those

[2020-01-24 19:29] benjaminp commented on #10650
Errr, right you are. The actual problem seems to be option parsing errors are always replayed onto unsophisticated `PrintingEventHandler` rather than setting up the fancy terminal (which requires having the options parsed).

[2020-01-24 19:31] j-bro commented on #10485
I'm seeing this same issue (though using bazel 1.1.0). No local JDK installed either, it seems to be using `remotejdk11_linux` as per the given error. For me this only occurs when running the `coverage` command.

[2020-01-24 19:59] pauldraper commented on #4517
I agree BUILD.bazel is better:

1. Better file-type detection for IDEs
2. Lower chance of conflict, especially on case insensitive file systems

(My prediction is that BUILD will also be most popular, but I'd like to be proven wrong.)

[2020-01-24 20:54] briandealwis opened #10652 "HOME is not set in tests"
### Description of the problem:

When running a test, bazel uses:
[code]

to run the test.  `test-setup.sh` does set `HOME` but does not export it:

https://github.com/bazelbuild/bazel/blob/5b956632c436492545a5be5b13765700b8a01b5f/tools/test/test-setup.sh#L66

And so the tests run without `HOME` set.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal exampl

[2020-01-24 21:20] konste opened #10653 "Change of --output_base causes subsequent builds to fail"
### Description of the problem / feature request:

Change in --output_base parameter causes the build to break with very obscure error messages.

### Feature requests: what underlying problem are you trying to solve with this feature?

When build is done using some IDEs (VSCode or IntelliJ) they tend to set their own --output_base, different from the one configured by the user for the command line

[2020-01-24 22:35] JayBazuzi opened #10654 "Debugger breakpoints do not respect file path rules by platform"
### Description of the problem / feature request:

Breakpoints don't account for file canonicalization across platforms.

For example, see https://github.com/bazelbuild/vscode-bazel/issues/167#issuecomment-578262179.

In [ThreadHandler.java#hasBreakpointMatchedAtLocation()](https://github.com/bazelbuild/bazel/blob/295274937ff7eef605c4dcebe1a8a50196ec7670/src/main/java/com/google/devtools/build/lib

[2020-01-24 22:49] ittaiz commented on #4517
Deprecate BUILD for bazel (obviously for blaze it’s not an option) and see
how it’s solved :)

On Fri, 24 Jan 2020 at 21:59 Paul Draper <notifications@github.com> wrote:

[2020-01-24 23:47] ajguerrer commented on #10485
I think this error is produced because `bazel coverage` requires building Java code (see the [installing Bazel](https://docs.bazel.build/versions/master/install-ubuntu.html#step-3-install-a-jdk-optional)).

[2020-01-25 00:30] jxramos commented on #1421
I hit this blocker too needing to run a parametrized pytest that executed upon all the cpp binary hits matching a certain naming convention. I found out I cannot run bazel query commands from within a bazel py_test because that test doesn't run in a bazel workspace. I tried a workaround with a genquery but the scope attribute could not be properly tamed I soon found out because in general...

http

[2020-01-25 00:30] jxramos commented on #1421
I hit this blocker too needing to run a parametrized pytest that executed upon all the cpp binary hits matching a certain naming convention. I found out I cannot run bazel query commands from within a bazel py_test because that test doesn't run in a bazel workspace. I tried a workaround with a genquery but the scope attribute could not be properly tamed I soon found out because in general...

http

[2020-01-25 02:25] gregestren commented on #6431
2020 published: https://www.bazel.build/roadmaps/configuration.html

[2020-01-25 02:35] kylecordes commented on #4517
Particularly when adding Bazel to existing projects, the BUILD.bazel name is often necessary to avoid conflicts with existing things named build - as others said, especially on case insensitive file systems. As more existing projects out there make the move, more people will encounter this friction.

[2020-01-25 10:23] Rairye commented on #9279
The hack worked for me. Thank you for posting it.

[2020-01-25 14:14] davido commented on #9979
This seems to work now on Bazel@HEAD (5b956632c436492545a5be5b13765700b8a01b5f):

[code]

[2020-01-25 14:14] #9979 closed

[2020-01-25 14:17] davido opened #10655 "Remote execution warning: Artifact 'external/remote_java_tools_linux/java_tools/src/tools/singlejar/zip_headers.h' is duplicated"
I'm seeing this warning when building Gerrit Code Review remotely on Bazel@HEAD (5b956632c436492545a5be5b13765700b8a01b5f):

[code]

[2020-01-25 17:36] ChrisCummins commented on #4507
I can't find any reference to this elsewhere, and on bazel 2.0.0 this variable doesn't appear to be set. Could you provide an example?

[2020-01-26 01:02] xykivo opened #10656 "Changing clang compiler version causes build failures"
### Description of the problem / feature request:

Trying to build a C++ target after updating the clang compiler causes Bazel build errors - missing header file dependencies on platform specific headers.
this rule is missing dependency declarations for the following files included by 'some/cpp/src/source_file.cc':
  '/usr/lib/clang/9.0.0/include/stddef.h'
  '/usr/lib/clang/9.0.0/include/__stddef_

[2020-01-26 10:14] kellycampbell commented on #10505
Closing since #10356 covers this.

[2020-01-26 10:14] #10505 closed

[2020-01-26 12:11] #9279 closed

[2020-01-26 16:52] philwo commented on #7260
@katre Hello :) Is this still happening? Seems like 2.x is no longer a migration window for this flag, is this expected?

I actually don't care (or know) so much about this flag itself, but I just noticed that we have a special case for this flag in the bazel_bootstrap_distfile_test, which causes the bootstrap to run twice: https://github.com/bazelbuild/bazel/blob/master/src/test/shell/bazel/bazel

[2020-01-26 17:56] philwo opened #10657 "Performance profile "cpu counters" ignores subprocesses?"
### Description of the problem / feature request:

The "cpu counters" measurement doesn't seem right. When I look at `htop` on a CI machine that is running a Bazel postsubmit, basically all cores are 100% all of the time. However, in the JSON performance profile, the "cpu counters" graph looks like this:

<img width="628" alt="Screenshot 2020-01-26 at 18 53 02" src="https://user-images.githubuserc

[2020-01-27 07:26] jin commented on #10652
Seems like a simple fix, and also surprised at `$HOME` isn't set but the Test Encyclopedia spec defines that it is.

[2020-01-27 07:31] jin commented on #10653
Reproduced:

[code]

[2020-01-27 07:36] jin commented on #10656
The C++ toolchain compiler is configured using a repository rule that looks at the system and generates a toolchain. `bazel sync --configure` forcefully re-runs the configure-like repository rules, so you don't need to clean and expunge. The repository rules currently do not automatically rerun even if the underlying files have changed (unlike regular rules).

[2020-01-27 08:02] elbaro opened #10659 "CC=clang bazel build not working"
### Description of the problem / feature request:

[code]

### Feature requests: what underlying problem are you trying to solve with this feature?

Using clang

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

1. Install gcc + clang with system package manager
2. Install miniconda + gcc + clang
3. activate conda env
4. `CC=clang CXX=

[2020-01-27 08:36] meisterT commented on #10657
The CPU counters indeed measure only Bazel's own CPU usage, intentionally so: this reflects the overhead that Bazel is adding to the build. We were also biased by the fact that we run most actions via remote execution at Google.

It's non-trivial to get "live data" back from the subprocesses that we spawned (having to make this work on multiple OSs doesn't help either). So one way to help you out

[2020-01-27 09:43] ulfjack commented on #4507
Sorry, I meant the XML_OUTPUT_FILE variable. You can see all variables if you run bazel test -s //my/test, which looks like this:
[code]

[2020-01-27 11:10] ulfjack opened #10660 "Python Coverage does not work"
I thought that there was an existing issue for this, but I can't find it.

I was able to successfully collect coverage for python code with a modified version of coverage.py:

1. Use a Bazel binary that include b01c85962d88661ec9f6c6704c47d8ce67ca4d2a
2. Check out the modified coverage.py from https://github.com/ulfjack/coveragepy (this is based on the patch at https://github.com/nedbat/coveragepy

[2020-01-27 11:12] ulfjack commented on #10660
In order for cross-language coverage to work in Bazel, all coverage data needs to be converted into a common format. The above workaround uses an upstream patch to coverage.py. As an alternative, we could also change LcovMerger to support coverage.py's output format.

Reference to upstream's issue: https://github.com/nedbat/coveragepy/issues/587

[2020-01-27 11:21] ulfjack commented on #137
I merged b01c85962d88661ec9f6c6704c47d8ce67ca4d2a, with which I was able to get coverage from python using a patched pycoverage. I filed https://github.com/bazelbuild/bazel/issues/10660 as a standalone issue about coverage, and also provided instructions for how to make it work with a Bazel binary containing said patch.

[2020-01-27 11:23] ulfjack commented on #9406
I think my patch makes it work with version 8, but the new json format in version 9 is a bummer.

[2020-01-27 12:07] ChrisCummins commented on #4507
Thanks @ulfjack! I had missed that it is referenced in the [test encyclopedia](https://docs.bazel.build/versions/master/test-encyclopedia.html#initial-conditions) but not fully explained.

For pytest uses, you can just add `--junitxml=$XML_OUTPUT_FILE` arg to get nice XML reporting 👍
See [here](https://github.com/ChrisCummins/phd/blob/02dffda32b7aa7414d3910ebe554f11f74b7948d/labm8/py/test.py#L231-

[2020-01-27 12:52] katre commented on #7260
I'll investigate.

[2020-01-27 14:22] laurentlb commented on #4517
I'm happy to review PRs for this.

[2020-01-27 14:30] briandealwis commented on #10652
I'll take a stab with a test too.

[2020-01-27 15:03] wezzoid opened #10662 "RAM usage"
It's annoying to have to slow a big build (ie tensorflow) right down with
`--jobs 1`
just for the odd job that is memory hungry, because Bazel isn't being smart about allocating work. Why can't the job scheduler just check the current RAM usage and only add a job if it's under the utilization limit? Then _if_ there's room it can add jobs until all cores are busy.

[2020-01-27 15:27] katre commented on #7260
So're in a tricky situation:

1. The Configurability team absolutely wants to flip this flag.
2. The Rules-C++ team member who was championing this is no longer on the team.
3. We didn't flip this for Bazel 1.0 because of the follow-on problems with Android and iOS rules.
4. No one is championing those either.

I'm working on a plan to get these addressed and flipped, but it won't be near-term. So

[2020-01-27 15:28] briandealwis commented on #10652
It turns out `LOGNAME` is also unset, and `SHLVL` is 1.

[2020-01-27 15:29] katre commented on #7260
As a note, we don't appear to be testing this with the migration test pipeline, is that intentional? See https://buildkite.com/bazel/bazelisk-plus-incompatible-flags/builds/393

[2020-01-27 16:14] j-bro commented on #10485
@ajguerrer thanks for the tip, I installed a JDK and the `bazel coverage` works now. Is it documented anywhere that this command requires building Java code? It's not clear to me which commands have this dependency and which don't.

[2020-01-27 16:28] katre commented on #9148
Tests were re-enabled in 761d16c29a117751ab0312d2ca64aefc0f503c78.

[2020-01-27 16:30] ittaiz commented on #4517
@laurentlb a PR for docs?
What do you think about being able to turn off support for BUILD?

[2020-01-27 16:44] gregestren commented on #7260
We're close to making this possible technically (i.e. all the supporting C++ work is done). The big challenge is 3) above: how to not inadvertently break depending projects that aren't in C++ and don't themselves understand platforms.

We have an [interim solution](https://docs.bazel.build/versions/master/platforms-intro.html#platform-mappings). But as John says we need someone to guide the proces

[2020-01-27 20:47] thomasvl commented on #9337
Any change this is going to get picked up/moved forward?

[2020-01-28 00:34] pramodk commented on #10437
Same issue here. Any suggestions for bazel developers please?

[2020-01-28 00:48] ajguerrer commented on #10485
@j-bro I only happen to be passing by while waiting for #9406

[2020-01-28 03:40] jiandingzhe opened #10668 "BAZEL_VS environment variable does not work"
### Description of the problem / feature request:

I'm using bazel 2.0.0 with VS Code bazel plugin. I have set `BAZEL_VS` env variable to `C:\Program Files (x86)\Microsoft Visual Studio\2017\BuildTools` globally. However, when I build a target in VS Code (clicking on *build target* from right-click menu in *BAZEL BUILD TARGETS* sidebar), it failed to probe compiler with following error logs:

[cod

[2020-01-28 08:56] #10621 closed

[2020-01-28 09:40] iirina commented on #8741
You can use buildifier right now to add load statements

[code]

or do you mean something that runs automatically when the flag is set?

[2020-01-28 09:46] iirina commented on #10384
Thanks for providing all the details. I'm forwarding this to the C++ team, maybe they have some ideas about what's going on.

[2020-01-28 10:02] iirina commented on #6417
Yup it looks like a duplicate. Let's keep #8867 for tracking and close this as dupe, although it's the other way around.

[2020-01-28 10:02] #6417 closed

[2020-01-28 10:55] aherrmann opened #10670 "rootpath produces leading ./ which causes rlocation to fail"
### Description of the problem:

Applying `$(execroot)` (or `$(location)`, or `$(rootpath)`) on a top-level source file, produces a path with a leading `./`. This leading `./` in turn causes bash `$(rlocation)` to fail to find the sourcefile.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Create the following project
[code]
Execute

[2020-01-28 11:31] nevion commented on #6578
@oquenchil  what about allowing the cl and cu files to be compiled in clang?  This seems to only need the file extensions to be recognized per https://github.com/bazelbuild/bazel/issues/6578#issuecomment-463944092

Does it make sense to not support the file extension in some way where clang has provided straightforward compilation?

[2020-01-28 11:45] ittaiz commented on #8741
Awesome! This is exactly what I meant 😁 thanks!
Any chance you know where I can find a list of the supported fixes?

[2020-01-28 11:53] iirina commented on #8741
Cool :smile:  There's [a list of all supported warnings](https://github.com/bazelbuild/buildtools/blob/master/WARNINGS.md).

[2020-01-28 13:17] lrahmani commented on #8108
@mancini0 I run into similar issue with Ubuntu 18.04 (offical docker image).
If you are still interested, it is a locale issue, and runing the following solved my issue

[code]
as apparently, bazel check these vars for encoding https://github.com/bazelbuild/bazel/commit/eae93f643ccfe19df24bb1dd837c45056a15c274#diff-720bb04a34f0bdcc76bd8f64a79e2f16R1431

[2020-01-28 14:37] gregmagolan commented on #10621
Thanks for the quick fix @laszlocsomor !

[2020-01-28 14:43] gregmagolan commented on #4327
Can the "Runfiles: support space in file paths" https://github.com/bazelbuild/bazel/pull/9351 PR be resurrected?

I ran into this again in rule_nodejs. Some npm packages contain files with spaces and these are excluded from runfiles as it is not currently supported by Bazel.

Angular team wants to use puppeteer to manage the chrome binary version for web testing and this npm package downloads and

[2020-01-28 14:52] #9148 closed

[2020-01-28 14:54] laszlocsomor commented on #10621
You're welcome! ETA for the fix is Bazel 2.1.0.

[2020-01-28 15:47] unoexperto opened #10672 "Unable to use "add-exports" option with java toolchain"
I'm on bazel 2.0.0 and I'm trying to adopt my Java project to Sun JDK 13.

I have following options in my `.bazelrc`

[code]

I also tried

[code]

On build I get following error

[code]

Why does it think I've set target 1.7 if I explicitly specified 11 ?

[2020-01-28 19:49] seanxwzhang commented on #10657
@meisterT just a quick additional follow-up, bazel seems to provide a `process-wrapper` that's able to track spawned process's resource usage by using linux's `wait4` system call (https://github.com/bazelbuild/bazel/blob/master/src/main/tools/process-tools.cc#L195). It also seems that the resource usage stats are dumped in a temporary directory https://github.com/bazelbuild/bazel/blob/master/src/m

[2020-01-28 21:15] j-bro commented on #10485
@ajguerrer thanks anyway, now I'm waiting on that issue as well.

[2020-01-28 21:26] segiddins commented on #6170
I'm running into this issue as well, where `file.is_directory` is still returning `true` for paths that definitely are directories

[2020-01-28 22:13] benjaminp commented on #10657
You have to pass `--experimental_collect_local_action_metrics`.

[2020-01-29 01:30] seanxwzhang commented on #10657
thanks @benjaminp, I did passed `--experimental_collect_local_action_metrics` and I still wasn't able to find the `stats.out` file (or even an temporary named `local-spawn-runner.` under my execroot, as suggested in https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/exec/local/LocalSpawnRunner.java#L189).

Perhaps I missed something?

[2020-01-29 02:41] googlewalt opened #10674 "Migrate ObjcProvider compile info to CcCompilationContext"
## Overview

This issue describes the plans to migrate compile info from `ObjcProvider` to `CcCompilationContext`.  It will focus on the main migration step, which moves the compilation info in `ObjcProvider` into an embedded `CcCompilationContext`.  Note this step is Starlark API compatible (except for one secondary feature).  The issue will also describe any expected changes in behavior and the

[2020-01-29 02:42] benjaminp commented on #10657
Yes, the local implementation leaves something to be desired in that it puts the stats proto in a temporary directory that's unconditionally deleted. At least with sandbox execution you can pass `--experimental_collect_local_action_metrics` and `--sandbox_debug` and poke around in the left-over sandboox root to get `stats.out`.

[2020-01-29 03:09] xykivo commented on #10656
Thanks - the solution above works, but I still think that updates to local tools should be automatically detected, and cause the same behavior as bazel sync --configure as part of the build.

[2020-01-29 04:45] tokudu commented on #5643
@artem-zinnatullin do you have any updates on your work. I'm curious if you could share your code.

[2020-01-29 06:11] seanxwzhang commented on #10657
OIC, yeah I saw it was deleted after execution. FWIW, I was trying to get the complete resource usage stats from executions since the local implementation [only includes a subset](https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/exec/local/LocalSpawnRunner.java#L433-L440) of what would be available from [getrusage](http://man7.org/linux/man-pages/man2/get

[2020-01-29 08:20] endobson commented on #10603
I'm seeing similar issues on macOS.

Example stack trace of crashing bazel:

[code]

[2020-01-29 09:15] blaizard commented on #3592
Changing $EXEC_ORIGIN with $ORIGIN doesn't seems to fix the issue on my setup (Ubuntu 18 & Bazel 2.0.0). The shared libraries needed at runtime are located under the *.runfiles/ directory which is also where tests are executed. The test binary under this directory tree is a symlink. So I believe it is supposed to work with $EXEC_ORIGIN on a machine where the dynamic linker supports it (note the di

[2020-01-29 09:41] marcohu opened #10676 "Missing Java branch coverage"
Java test coverage does not seem to include branch data by default (using `genhtml`) and I can't find any information on how to enable it.

Is this a missing feature? Or a bug? Or is there some other way to generate a html report that includes branch data?

These are the commands I use:

[code]
`genhtml` always shows "branches...: no data found" even if "lcov_branch_coverage = 1" is set in the lco

[2020-01-29 09:49] iirina commented on #8867
@ittaiz I'm trying to write a design doc for this API, can you give some more details for the use case of `scala_import` with no jars? I think we discussed this before but I don't remember very well. :)

[2020-01-29 10:30] ulfjack commented on #4685
As a workaround, you can do the following:
1. Clone https://github.com/ulfjack/bazel/tree/coverage-3
2. Build the coverage output generator
[code]
3. Unzip result into a new directory:
[code]
4. Use --override_repository with bazel coverage:
[code]

Alternatively, you can pull back the full coverage outputs and manually post-process them:
[code]

The downside of this second approach is that it als

[2020-01-29 10:33] ulfjack commented on #4685
It seems like it should be possible to move the coverage merging to a post-process using the coverage tree artifact as an intermediary.

[2020-01-29 11:40] ittaiz commented on #8867
Yeah, the use-case is for when you need to export a group of jars.
For example I want to create an indirect target that abstract other internal targets.

[2020-01-29 11:41] ittaiz commented on #6752
@iirina any chance you'll be able to take a look?

[2020-01-29 12:04] wesleyw72 commented on #8969
I'd quite like this feature. When cloning a high traffic repo from Github, not setting `--depth=1` and just using `--shalow_since` can mean that the clone time takes an increasingly long time if you're not chasing HEAD of the repo you depend on (as the commits since the `shallow_since` grow.

[2020-01-29 12:05] blaizard commented on #3592
As a workaround, you can actual use the following. Seems to works as Bazel run/test binaries from the root of the *.runfiles/ tree:
(notice the removal of $ORIGIN/$EXEC_ORIGIN)
[code]

[2020-01-29 12:38] iirina commented on #8867
Thanks! Do you know of any use case where the API needs to group a source jar as well, among the exports, deps, runtime deps? I can't think of any right now, and IMO it doesn't make sense to have a source jar without any output jars.

[2020-01-29 16:40] ittaiz commented on #8867
I agree. I can’t think of any.
Do you have a need for it internally?

On Wed, 29 Jan 2020 at 14:38 Irina Iancu <notifications@github.com> wrote:

[2020-01-29 16:52] iirina commented on #8867
No, I was just making sure this is not an use case.

I put everything together [in this doc](https://docs.google.com/document/d/11bS3JhIKAtaccQVhZDL_Sm_jCFTv_GFdqx3Pn-VAEEA/edit#heading=h.5mcn15i0e1ch). Implementation follows soon.

[2020-01-29 17:35] philwo opened #10679 "Disabled test: test_max_open_file_descriptors"
The test is mysteriously failing on CI since today. I cannot repro this locally. We'll have to investigate. I'll temporarily disable it to unblock presubmits:

[code]

https://storage.googleapis.com/bazel-untrusted-buildkite-artifacts/4646e584-971e-4437-a193-cf5b45aedcda/src/test/shell/integration/execution_phase_tests/attempt_1.log

FYI @jmmv

[2020-01-29 18:09] c-parsons commented on #10644
What's the status of this?

[2020-01-29 18:25] ittaiz commented on #10168
ping

[2020-01-29 18:26] ittaiz commented on #10168
dropped here https://docs.bazel.build/versions/1.2.0/skylark/lib/JavaInfo.html
appears last here https://docs.bazel.build/versions/1.1.0/skylark/lib/JavaInfo.html

[2020-01-29 18:28] ittaiz commented on #8867
LGTM, thanks!

[2020-01-29 18:48] tetromino commented on #10437
As far as I can tell, you are using a cc wrapper script ("crosstool_wrapper_driver_is_not_gcc") which comes with spack's modified variant of tensorflow.

Bazel seems to be invoking this wrapper script with the correct options.

The C++ compiler invoked by the wrapper is doing something very strange (reading eval.h from /home/sajid/packages/spack/opt/spack/linux-centos8-broadwell/gcc-7.3.0/python-3

[2020-01-29 19:28] tetromino commented on #10437
The /home/sajid/...include/python3.7m is in your SPACK_INCLUDE_DIRS env variable.

You need to figure out what the effect of SPACK_INCLUDE_DIRS is on the underlying gcc command line invoked by spack's gcc wrapper (which in turn is invoked by tensorflow's crosstool_wrapper_driver_is_not_gcc).

[2020-01-29 20:18] brandjon commented on #10076
I'm not familiar with xgboost, but the comment you linked indicates that enabling this flag solves that issue. Note that this flag is not currently enabled by default (and won't be until some unknown future major Bazel version bump), so you need to pass `--incompatible_default_to_explicit_init_py` on your bazel build command line (or equivalent bazelrc file).

[2020-01-29 20:36] pramodk commented on #10437
@adamjstewart : FYI, see above. As you know Spack internals better, considering above comment, if you have any suggestions for for me / @s-sajid-ali to try, let us know.

[2020-01-29 21:16] HungryOrc commented on #10076
Thanks a lot Jon!

On Wed, Jan 29, 2020 at 12:18 PM Jon Brandvein <notifications@github.com>
wrote:

[2020-01-29 21:16] HungryOrc commented on #10076
Thanks a lot Jon!

[2020-01-29 21:21] kastiglione opened #10680 "Persistence of execroot symlinks between build/run invocations"
### Description of the problem / feature request:

We have recently noticed that symlinks in the execroot get cleared and reestablished to only the symlinks that are required for a given build. For example, building an iOS app followed by `bazel run` of some tool will result in all the removal of most or all of symlinks used for building the app.

For iOS, some of these paths can be embedded in th

[2020-01-29 21:43] philwo commented on #10132
Just mentioning this here, so it doesn't get lost: This commit https://github.com/bazelbuild/bazel/commit/2a8cc7075f741721563efd9dc050ca3458cde30b is the cherry-pick for #10356.

[2020-01-29 22:05] laurentlb commented on #10132
Sorry for the delay, I have been busy with some emergencies.

I've just tried to create rc2 with:
`scripts/release/release.sh create --force_rc=2 2.1.0` 41ec5a28fb30a8d6c5c60194c4bb29528352cf78 733ac0ff7ad1e13ab68ceb2fde694d7ab71b2366 c94b1474b368dedf9f68f34fad90cc8664f2b0e0 2a8cc7075f741721563efd9dc050ca3458cde30b

But this is currently failing: https://github.com/bazelbuild/continuous-integratio

[2020-01-29 22:19] brandjon commented on #10557
Well, it's part of the Python toolchain definition, and the platform can be used to select appropriate toolchains based on constraints. The autodetecting toolchain is the toolchain of last resort. The preferred alternative is to define and register a toolchain pointing to the desired Python runtime.

[2020-01-29 23:02] alexeagle commented on #10228
@laurentlb I think that's not completely correct. If the filegroup produces no files that match the restriction, bazel does report an error.
Take `ts_library` for example, which is declared with
[code]

If I write a BUILD file
[code]

then I get an error
`test/BUILD:21:1: in srcs attribute of ts_library rule //test:bar: '//test:foo' does not produce any ts_library srcs files (expected .ts or .tsx)

[2020-01-29 23:23] marcohu commented on #10676
It seems that branch data is present in `_coverage_report.dat`, but `JacocoLCOVFormatter.java` uses `BA` lines and `genhtml` only supports `BRDA` lines for branch coverage.

Is this intentional? Would it not be more sensible to use `BRDA` instead? Seems like a simple change. Please let me know if a PR is welcome.

[2020-01-30 00:14] senpo commented on #10322
I found the removal of maven_jar also breaks https://github.com/bazelbuild/tools_android, which we use to build firebase android apps. Is the tools_android repo still maintained?

``
ERROR: /private/var/tmp/_bazel_senpo/8e8ab08dfe8b1ede4ab2e2dba795577f/external/tools_android/tools/googleservices/defs.bzl:36:3: Traceback (most recent call last):
	File "/Users/senpo/Sources/github/senpo/senpo-mono/w

[2020-01-30 00:23] senpo commented on #10322
Never mind. I found these changes that fix the issue. Cool.
https://github.com/bazelbuild/examples/commits/master/android/firebase-cloud-messaging/WORKSPACE

[2020-01-30 00:28] adamjstewart commented on #10437
@tetromino Yes, Spack is doing a few things differently. As you've surmised, Spack uses compiler wrappers (actually written in Bash) so that when you run `gcc` or whatever compiler you happen to use, it calls a wrapper script. This wrapper script automatically injects `-I`, `-L`, and `-Wl,-rpath` flags for dependencies. This compiler wrapper requires certain environment variables to be set, which

[2020-01-30 08:22] senpo commented on #8872
For some reasons, this also happens to my setup: bazel-2.0.0 on mac. Adding "--strategy=Desugar=sandboxed" does help fix the compile error.

[2020-01-30 09:32] aherrmann commented on #5136
@laszlocsomor @rongjiecomputer What's the status of this? Is the current progress documented somewhere?

[2020-01-30 09:55] laszlocsomor commented on #5136
@aherrmann : @rongjiecomputer implemented experimental sandbox support as part of Google Summer of Code 2019 (GSoC).

All about the project is in a public Google doc: https://docs.google.com/document/d/1dbF5cGYJouGF5zd0GDE-rbUvkKvH36DnNdtEvE4yV6w/edit

The Bazel team does not maintain this feature. We currently have no plans to work on it either.

[2020-01-30 11:12] vmax commented on #8277
We've addressed it by using a workaround on plugin level: bazelbuild/intellij#1206, bazelbuild/intellij#1207

[2020-01-30 11:12] #8277 closed

[2020-01-30 13:50] meteorcloudy opened #10681 "Bazel CI: patching BUILD and WORKSPACE file failed for some projects in downstream"
https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1368#e4a0e53e-4988-4669-857b-3d9fbad080c0

[code]

Culprit: a948eb7255b8418f0bba1c819a58972066577d6f

/cc @philwo

[2020-01-30 14:03] meteorcloudy commented on #10644
This is due to https://github.com/bazelbuild/bazel/issues/10681

[2020-01-30 14:03] meteorcloudy commented on #10681
Similar pipeline failures:

rules_go [log]
rules_k8s [log]

[2020-01-30 14:42] philwo commented on #10132
I fixed the release pipeline so the error bazelbuild/continuous-integration#929 should no longer happen. We build Bazel with Xcode 10.3 now. I verified that the resulting binary still works fine on macOS High Sierra, so we don't regress in that regard.

Please cherry-pick this commit to fix a potential security issue that I accidentally introduced (it would have been in rc2, so let's skip that one

[2020-01-30 15:04] Qinusty commented on #3791
This patch is extremely beneficial, any timeline towards getting this merged?

[2020-01-30 15:30] meteorcloudy commented on #10644
The fix for rules_go is at https://github.com/bazelbuild/rules_go/pull/2355, we need to update the rules_go version after that's merged.

[2020-01-30 15:33] laurentlb commented on #10132
Creating candidate with:

`scripts/release/release.sh create --force_rc=3 2.1.0` 41ec5a28fb30a8d6c5c60194c4bb29528352cf78 733ac0ff7ad1e13ab68ceb2fde694d7ab71b2366 c94b1474b368dedf9f68f34fad90cc8664f2b0e0 2a8cc7075f741721563efd9dc050ca3458cde30b bdf34d7fd9539411e93348ba25307f34362d9a42 d381c25bb7dd205c283f7ad91cac13190d2dfede

(bdf34d7fd9539411e93348ba25307f34362d9a42 was added to avoid a merge con

[2020-01-30 15:49] ddlees opened #10682 "Generating lcov combined report throws NullPointerException"
### Description of the problem / feature request:

When standing up a new Bazel project w/ a single (simple) Spring Boot "Hello World!" app w/ tests `bazel coverage --combined_report=lcov //...` fails with a `NullPointerException`. `bazel coverage //...` works as expected.

### Feature requests: what underlying problem are you trying to solve with this feature?

N/A

### Bugs: what's the simplest,

[2020-01-30 16:52] keith commented on #10682
I think this is a dup of https://github.com/bazelbuild/bazel/issues/6450

Can you try the 2.1.0 release candidate and see if that works for you?

[2020-01-30 16:53] laurentlb commented on #10679
Sounds like I should cherry-pick the disabling of the test for the new release
(https://buildkite.com/bazel/bazel-bazel/builds/11268)

[2020-01-30 20:13] laurentlb commented on #10132
Although there are still some issues in our testing infrastructure, the binaries can be tried here:
https://releases.bazel.build/2.1.0/rc4/index.html

[2020-01-30 20:29] RNabel commented on #6940
Can confirm same error on Bazel 2.0.0 on Windows, with following redacted trace:
[code]
`<target path>` is the same throughout the stack trace.
We set jobs to 100.

@buchgr should this be a separate ticket or could this be related? A similar Windows-specific ticket would be #10363.

[2020-01-30 20:43] shaoster opened #10686 "Declared aspect providers cannot intersect with base target providers"
### Description of the problem / feature request:

Declared aspect providers do not work when applied to targets that already return these providers.

(TL; DR. See repos below for exact error paths.)
1. If I return the base provider, I get the misleading "provided twice" exception.
2. If I return an empty provider, the "provides" check tells me I didn't return the expected provider.
3. If I don't

[2020-01-30 21:56] asraa commented on #10510
@dslomov Hey Dmitry, quick ping on this. It would really help us to unblock our fuzzer builds and view or coverage. Thank you!

[2020-01-30 22:17] gydeveloper commented on #10140
Wanted to check-in and see if there is any update on this? Thanks!

[2020-01-30 22:32] tetromino commented on #10437
@adamjstewart - I appreciate your effort with packaging Bazel for Spack, but I see a number of problems with what Spack is doing.

1. By injecting hidden state through env variables, Spack is breaking Bazel's core premise that builds with the same inputs and the same toolchain will have equivalent outputs that can be cached and reused. A user of Spack's Bazel, for example, must never attempt to us

[2020-01-30 22:37] adamjstewart commented on #10437
Maybe @tgamblin can comment on the above.

I would love to do this, however, I barely know how Bazel works and this seems like a lot of work compared to what we already do (and what kind of works). Also, TF is currently the only package in Spack that uses Bazel. If it were a more popular build system, I wouldn't mind investing more time into better Spack support, but right now we only care about g

[2020-01-30 22:41] aiuto commented on #708
Closing this.
- distribs serves no useful purpose
- The purpose we used it for in Google is better fulfilled with the work being done for #7444.
- we'll be ripping it out entirely in the next 2 or 3 of Bazel releases.

The design in https://docs.google.com/document/d/1uwBuhAoBNrw8tmFs-NxlssI6VRolidGYdYqagLqHWt8/edit#   does not explicitly mention distribs, but the fundamental alignment is that you

[2020-01-30 22:41] #708 closed

[2020-01-30 22:59] tetromino commented on #10437
I think the quickest small fix is injecting include paths using `-isystem` instead of `-I` when Spack's g++ wrapper is run from Bazel.

[2020-01-30 22:59] aiuto opened #10687 "incompatible_applicable_licenses: Add global attribute "applicable_licenses""
This flag enables a new attribute `applicable_licenses` to be globally available on any rule. It also enables a `package()`  level attribute `default_applicable_licenses`.

**Flag:** --incompatible_applicable_licenses

**Motivation**:  #7444 - we are pulling the existing `licenses` rule out of Bazel and creating a Starlark based rule set that adds more flexibility. Also see:
[License Checking in B

[2020-01-30 23:01] mmcloughlin commented on #3550
I could not find `@//` documented anywhere. Apologies if I missed it, but I think I looked in reasonable places.

Thankfully I was able to find someone at my company who could explain it to me. I think it would be great to add a sentence explaining what this does, since the difference between `//a/b/c` and `@//a/b/c` is subtle and in some cases very important.

Perhaps https://docs.bazel.build/ver

[2020-01-30 23:09] tgamblin commented on #10437
@tetromino: thanks for taking such an in-depth look at this. I haven't had a chance to dive into this yet (thanks goes to @adamjstewart for getting the TF package working in the first place), but I really do want to get TF working in Spack.

RE: @adamjstewart:

I do think we should take the time to look into the toolchains -- especially if that's the direction the Bazel developers want to support.

[2020-01-30 23:34] tetromino commented on #10437
Bazel tries to be fancy and uses `-iquote` and `-isystem` for various paths depending on circumstances; I assume that this doesn't play well with injected `-I` :)

[2020-01-31 07:15] davido commented on #10356
@philwo Thanks for adding the option to skip the check in the script wrapper.

Now, to test a minor Bazel upgrade, say 2.1.0rc4 from [1] in Gerrit workspace, where `.bazelversion` contains 2.0.0, I could add this `tool/bazel` to skip the check:

[code]

Now, after installing `bash bazel-2.1.0rc4-installer-linux-x86_64.sh --user` locally, I can actually test it, and the check is skipped:

[code]

O

[2020-01-31 08:48] philwo commented on #10356
Thanks for testing, @davido! :)

[2020-01-31 08:54] meisterT commented on #10140
See the most recent commit that is associated with it. Bazel (at HEAD) can now print a basic human readable summary from the JSON output.

[2020-01-31 10:26] AlessandroPatti opened #10689 "Cannot pass a netrc from current repo"
### Description of the problem / feature request:
Currently, it is not possible to use a file from the current repository as netrc file for http rules, unless the full path to the repo is known in advance.

### Proposed solution
Use `label` as type for the `netrc` attribute in `http_file` and `http_archive` rules. Current full paths will have to be exposed through `new_local_repository` workspace

[2020-01-31 13:38] ulfjack commented on #9382
What about 'deps(//main:hello-world) except lib/...'?

[2020-01-31 17:10] astraujums commented on #3796
Probably not the most common case, but when trying to build from Linux and Windows in the same workspace (Windows natively, Linux from Windows Subsystem for Linux) the bazel-out symlink gets in the way because Windows and Linux use different kind of links (ERROR: Cannot read link (name=C:\test\bazel-out): unknown link type). So it would be nice if it were possible to configure the name differently

[2020-01-31 18:23] #10606 closed

[2020-01-31 18:51] plaird commented on #4311
I found one repro case, but I doubt it is the case referenced above. Just adding this note in case it helps others. This is with Bazel 1.0.0. Set a relative JAVA_HOME:

$ echo $JAVA_HOME
tools/jdk/Darwin/openjdk_11.0.1_x64

$ bazel info
Starting local Bazel server and connecting to it...
Server crashed during startup. Now printing /xyz/server/jvm.out
java.lang.IllegalArgumentException
	at com.goog

[2020-01-31 20:42] #10574 closed

[2020-01-31 23:12] moroten opened #10690 "Crash for --compilation_mode in transition"
### Description of the problem

`//command_line_option:compilation_mode` exposes a Java class when used as input in a transition, not a string. It is possible to set it to a string as output, but not to read the input.

The same problem also applies for `//command_line_option:run_under` and possibly more.

I would prefer a quick fix for `compilation_mode` whereas `run_under` is not such a big prob

[2020-02-01 01:05] mleonhard commented on #10112
I'm also hitting this problem.  I'm trying to debug a `java_binary` compilation error.  I want to see the `javac` command path.  I searched through the list of [450 `bazel build` flags](https://docs.bazel.build/versions/2.0.0/command-line-reference.html#build) and found a few that should work:

[code]

But these are all lies.  Here's what I get:

[code]

I've now wasted about two hours on this one

[2020-02-01 01:19] mleonhard commented on #10112
Someone posted their bazel build logs in #8089 .  So the logs exist and some people know how to find them.

[2020-02-01 01:32] mleonhard commented on #10112
I'm running MacOS.  The webpage [Output Directory Layout](https://docs.bazel.build/versions/master/output_directories.html#bazel-internals-directory-layout) says:
[code]

On my own machine, `~/.cache/bazel` and `~/Library/Caches/bazel` do not exist.  I found no similar directories.  The `bazel-bin` symlink is pointing to `/private/var/tmp/_bazel_user/faca12526271612a2e4a3a0e2b083724/execroot/__mai

[2020-02-01 01:34] mleonhard commented on #8089
@guirish Would you please tell me where you found the log file?  Please reply in #10112.

[2020-02-01 03:50] mleonhard commented on #2539
How about also providing some guidance on testing in [Migrating from Maven to Bazel](https://docs.bazel.build/versions/master/migrate-maven.html)?  That is the first place everyone looks.

[2020-02-01 03:53] mleonhard commented on #2539
I would like to add that the suggestion to explicitly define tests in an `AllTests.java` file is super risky.  I would add a test, run it in my editor, and then forget to add it to `AllTests.java`.  Then the test will never get run again.  This is an error-prone software engineering process.

[2020-02-01 06:00] mleonhard commented on #2539
An easy workaround is to add this to all non-test classes:

[code]

[2020-02-01 18:04] davido commented on #8277
@vmax Can you re-open this issue? Alternatively, I can open a new issue for source path normalization in created "-src.jar" in `java_library` rule.

I am facing a similar problem, when trying to migrate existing project to Bazel an I think, that this should be fixed in Bazel.

Consider this directory structure (that I cannot change):

<workspace_root>/foo/org/example/app/Test.java

The build file

[2020-02-01 19:43] vmax commented on #8277
@davido I think you should open another one: you might have another reasons for wanting to have a correct source JAR and will then be able to convince Bazel team to look at them 🙂

[2020-02-01 21:04] davido opened #10692 "java_library: Support non standard java source roots (other than java, javatests, src and testsrc)"
It turns out, that if the Bazel package starts with non standard name (other than "src", "java", "javatests" and "testsrc") the content of created "libfoo-src.jar" artifact is misaligned and erroneously contains Bazel package prefix.

A similar problem was reported [here](https://github.com/bazelbuild/bazel/issues/8277), see this https://github.com/bazelbuild/bazel/issues/8277#issuecomment-5810543

[2020-02-01 23:40] Toxicable commented on #5885
@iirina I'm taking another look at this but I havn't been able to figure out how to get `COVERAGE_DIR` defined.
This is this PR im working in and im running the test `npx bazel coverage packages/jasmine/test:coverage_test` but the only env var that's defined is LCOV_MERGER becasue I set it with `coverage --test_env=LCOV_MERGER=/bin/true` https://github.com/bazelbuild/rules_nodejs/pull/1135

[2020-02-02 09:25] purkhusid commented on #7962
@ericfelly @meisterT @joeleba Any chance we could get the action sketches exposed? I tried figuring it out myself but it seems like this requires pretty deep knowledge of the Bazel codebase to wire up.

[2020-02-02 18:33] beasleyr-vmw commented on #8738
I'm going to take a crack at this this week.

Would appreciate some suggestions for and from potential reviewers to nail down a few details:
- Should the embedded tools export the .proto files under `@bazel_tools//src/main/protobuf` or `@bazel_tools//tools/protobuf`?
    - I'm leaning toward `//tools/protobuf`, because TTBOMK all public `@bazel_tools` packages are rooted under `//tools`. This woul

[2020-02-02 18:51] firstprayer commented on #10365
I run into similar issue when using new_local_repository. Any update on this?

[2020-02-02 19:25] firstprayer opened #10693 "[Bug] Infinite Symlink Expansion in external project (new_local_repository)"
### Description of the problem / feature request:

Encountering "Infinite symlink expansion" when integrating an external cmake project which has symlink.

[code]

I was expecting Bazel to be able to work around this symlink because cmake can handle it pretty well.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

1. The external proj

[2020-02-02 20:11] firstprayer commented on #5391
Still reproduce:

[code]

I was trying to run the command manually but I got the following error:
[code]

[2020-02-03 05:29] ittaiz commented on #6752
Hey,
My current direction (in a few weeks when I'll have a breath) is to duplicate the code that does jar stamping into rules_scala and move off of `java_common.stamp_jar`.
I'd really rather not do it but I'd like to move off of label collection and I can't do this until I can stamp external jars.

[2020-02-03 09:56] jmillikin-stripe commented on #10133
Scheduling note: if possible, I'd love to get https://github.com/bazelbuild/bazel/pull/10622 into this release -- it's been delayed a fairly long time on design reviews, and our internal builds are suffering for it.

[2020-02-03 13:28] buchgr commented on #3791
I unfortunately no longer work on Bazel and won't have the time to fix all the internal tests broken by this change.

[2020-02-03 13:55] buchgr commented on #2641
I also need this for debugging repository rules. @laurentlb does it sound reasonable to immediately flush print() statements?

[2020-02-03 14:04] laurentlb commented on #2641
The original bug was for Starlark rules, and it has been fixed a long time ago.

I wasn't aware there's still a problem for repository rules.

[2020-02-03 14:46] buchgr commented on #2641
In a repository_rule the print() statements are also only flushed once the rule finishes.

[2020-02-03 14:46] dslomov commented on #10536
Since when is `--incompatible_remove_local_resources` available? Which release it is in? This flag does not have any `migration-*` labels (please follow [Guide for rolling out breaking changes](https://www.bazel.build/breaking-changes-guide.html) for incompatible changes)

[2020-02-03 14:50] laurentlb commented on #10358
Can you add labels for this? (https://www.bazel.build/breaking-changes-guide.html)