[2018-01-25 11:46] lberki commented on #4502
Specifying it in the `WORKSPACE` file doesn't work; the rcfile is parsed from the launcher, which doesn't speak Skylark.

[2018-01-25 11:49] ulfjack commented on #3400
We're now triggering on ctime everywhere, which, in principle, detects mod changes. However, our action cache does not take mods into account for the action cache entry, which would be the next step here - it's not a conceptually complicated change, but it will increase memory consumption by a bit. We're also not tracking mods during remote execution or for the spawn cache.

[2018-01-25 11:50] ulfjack commented on #3106
I think we now always pass back the SpawnResult. Unfortunately, we pass back a list now. :-/

[2018-01-25 11:51] ulfjack commented on #3400
I think if we put the mods into FileContentsProxy, and then use them when we create the action cache entry, that would be straightforward and fix action caching.

[2018-01-25 12:49] aehlig commented on #2700
Manged to reproduce the issue; thanks a lot for the detailed
reproduction case!

The underlying issue seems to be the implicit restart in the
evaluation of skylark code; the HttpDownloader gets called several
times. As a workaround, while I'm working on a proper solution,
I can offer the use of `--experimental_repository_cache` which
will ensure that the second and third download is at least taken

[2018-01-25 13:17] philwo commented on #3196
@mmm444 Congrats for finding a security issue in the JDK and thank you for getting it fixed upstream!

[2018-01-25 14:37] drigz commented on #4502
Yes, specifically that `bazel/` is desirable name for projects that support other build systems. Also, `$WORKSPACE/bazel.rc` and `$WORKSPACE/.bazelrc` would be (even more) easily confused.

[2018-01-25 15:03] brendandouglas commented on #4515
I wasn't aware of that, thanks.

For now, I'd like to keep the integration testing code consistent internally and externally (which currently means no external integration tests running Bazel).

I'm not exactly fond of Bazel's integration testing code though, so at some point it may be worth upstreaming a different version which is exposed externally, and using that instead.

[2018-01-25 15:21] lberki commented on #4485
Out of curiosity, why was debugging complicated? `bazel build -s` gives you a command line you can use to exactly reproduce what the genrule does (which is mostly (cd execroot, run command)), then you can run the debug version of your binary in the exact same way.

[2018-01-25 16:13] cvcal commented on #4502
I actually was just talking to Luis and Klaus about this (context b/70843852 & b/36168162, for Bazel team members).
Bazel currently loads 3 master bazelrcs, or none, if --nomaster_bazelrc is passed. I find this horrible, there is no way for users to pick which of these files should be loaded, no way for one of these to be ignored while others kept. I'd rather we not add a 4th location from which w

[2018-01-25 16:19] andybw commented on #4516
Thanks for your reply,

As far as can I use a later JDK...

Unfortunately not. I am using the latest available to me. Is there any other workaround?

Andy

________________________________
From: Liam Miller-Cushon <notifications@github.com>
Sent: Wednesday, January 24, 2018 9:46 PM
To: bazelbuild/bazel
Cc: andybw; Author
Subject: Re: [bazelbuild/bazel] bazel-0.9.0-dist failing to build with jdk1.8

[2018-01-25 16:21] cvcal commented on #4502
The current workaround: If this is the best place for you to keep workspace-wide options, the rc file next to the bazel binary could import $WORKSPACE/bazel/bazel.rc.
I realize this isn't a solution, since what this request is to change the standard, but I thought I should mention that.

[2018-01-25 17:11] jmillikin-stripe commented on #4485
The command didn't crash when run outside of `bazel build`, even when invoked with the same parameters and in a sandbox-ish directory structure. The root cause turned out to be memory corruption in a multi-threaded library that was only exposed under certain local workstation load conditions.

[2018-01-25 17:21] drigz commented on #4502
Excellent points, Chloe. After collecting the info below, I have realized it's even more complicated than I thought. I've listed in decreasing precedence and only summarized the unix behaviour; some of the source links describe behaviour on other platforms. (any mistakes my own)

### maven ([source](https://maven.apache.org/settings.html))

* specified with `--settings`
* A user’s install: ${user.

[2018-01-25 17:52] werkt commented on #4483
This hit ubuntu 14.04 as well. The instructions for installing bazel which include the webupd8team reference to install the `oracle-java8-installer` will be subject to this and fail to successfully build jarfiles until this is fixed. 0.9.1 with 860af5be10b6bad68144d9d2d34173e86b40268c is probably justified to present a working release.

[2018-01-25 18:20] #2780 closed

[2018-01-25 18:51] cushon commented on #4483
It's fixed a head. I re-opened to make sure we included the fix in 0.10, which we have.

@iirina for the question about a patch release, but I think 0.10 is coming soon so that's probably sufficient.

Also - this is only an issue with the `-without-jdk` binaries, right? The built in jvm doesn't have this problem.

[2018-01-25 19:00] ittaiz commented on #4483
Don't know. But I can say we hit this in the "without" version.
On Thu, 25 Jan 2018 at 20:51 Liam Miller-Cushon <notifications@github.com>
wrote:

[2018-01-25 19:02] yuanzhedong commented on #1427
Hi @rsteiger, what do you mean by missing `extern "C" { }`? I've got similar error with your demo code. Thanks!

[2018-01-25 19:19] werkt commented on #4483
Based on the description of `-without-jdk` and the behavior of the ubuntu ppa bazel installer and it depending upon a jdk from another package provider, it would seem that this is `-without-jdk` (not sure if there is a deb release with the `built in jvm`)

[2018-01-25 20:55] gkossakowski commented on #4514
ahh, interesting. I was using only `--experimental_remote_spawn_cache` to see whether I can get "hermetic" action cache: https://groups.google.com/forum/#!topic/bazel-discuss/5M-QoZ4gPq8

[2018-01-25 21:36] edbaunton commented on #2177
On a host with limited resources; the number of threads can sometimes overwhelm the JVM. I suffered symptoms similar to those reported here. 
I believe the root cause of this is the hardcoding of the number of threads in the SkyframeExecution phase:
https://github.com/bazelbuild/bazel/blob/8cc5dcf34cf5156db78ccf5f936ca3c8b893c36f/src/main/java/com/google/devtools/build/lib/skyframe/SkyframeExecuto

[2018-01-25 22:49] htuch commented on #1920
This will also be useful for Envoy and other projects that want to use https://github.com/google/oss-fuzz

[2018-01-25 22:58] astratto opened #4523 "--workspace_status_command is executed only when in tools/bazel.rc"
### Description of the problem / feature request:

I'm not quite sure what I'm doing wrong, but it looks like `--workspace_status_command` is ignored from command line, but works only in `tools/bazel.rc`.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

I have a simple script in `tools/expose_stamping_attributes.sh` that exposes some

[2018-01-25 23:28] paladox commented on #4483
We are also hitting this @ gerrit when testing some changes to allows us to update ci. I found it failing on my mac.

with

java.lang.InternalError: Cannot find requested resource bundle for locale en_GB
	at com.sun.tools.javac.util.JavacMessages.getBundles(JavacMessages.java:128)
	at com.sun.tools.javac.util.JavacMessages.getLocalizedString(JavacMessages.java:147)
	at com.sun.tools.javac.util.Jav

[2018-01-26 04:22] htuch opened #4524 "libc++ support for Clang + Linux"
In the Envoy project, we would like to use a combination of our Bazel build and oss-fuzz (https://github.com/google/oss-fuzz), tracked at https://github.com/envoyproxy/envoy/issues/508.

oss-fuzz requires that we are able to build with a Clang toolchain in a Linux Docker container, and link against libc++ rather than libstdc++, see https://github.com/google/oss-fuzz/issues/1114.

I don't see direc

[2018-01-26 04:29] htuch opened #4525 "Add Envoy to Bazel CI"
Envoy (https://github.com/envoyproxy/envoy) is a significant Google contributed project that makes use exclusively of Bazel. We break frequently as Bazel releases roll out. I learnt from recent issues (https://github.com/bazelbuild/bazel/issues/4474) that TensorFlow is built under Bazel CI.

Would it be feasible to add Envoy to Bazel CI to avoid breakages when qualifying the next point release?

@

[2018-01-26 04:33] htuch commented on #3580
TBH, I've lost context on this one. We have a TODO for this workaround in https://github.com/envoyproxy/envoy/blob/c66c113776f8251a0b66d5dd32e671ba62b05624/ci/WORKSPACE#L6. We're transitioning ownership of Envoy's Bazel to @jmillikin-stripe, so I'll leave it for him to triage as appropriate.

[2018-01-26 07:48] aehlig commented on #2700
ada0c370c2a3ea484925bc4e7d927b015bc4ad92 makes `http_archive` work well with the current restart semantics: it makes sure, we reference everything we need later before calling out to the network the first time.

However, there is an ongoing design discussion about changing the current semantics to something that makes it easier to write correct repository rules. So I leave the issue open as a plac

[2018-01-26 08:04] davido commented on #4525
Wrong issue tracker? Bazel CI requests are handled [here](https://github.com/bazelbuild/continuous-integration).

[2018-01-26 08:53] lberki commented on #4485
Ouch. That's an unexpected circumstance.

[2018-01-26 09:00] iirina commented on #4483
The fix is cherry picked for bazel 0.10.0. It will be released next week.

[2018-01-26 09:29] #2138 closed

[2018-01-26 09:37] dheera opened #4526 "Bazel doesn't install"
### Description of the problem / feature request:

Bazel doesn't install. Trying to install using the provided instructions:

![2018-01-26 04-29-37](https://user-images.githubusercontent.com/1786477/35433739-7f768cee-0252-11e8-861e-df91c9c4aa48.png)

Results in fighting Java versions:

![2018-01-26 04-31-18](https://user-images.githubusercontent.com/1786477/35433749-8799c936-0252-11e8-80ee-67104dc

[2018-01-26 09:52] #4526 closed

[2018-01-26 10:36] excitoon opened #4527 "Special variable for `tools`"
### Description of feature request:

https://docs.bazel.build/versions/master/be/make-variables.html#predefined_variables
We have '<' and '@' special variables for input and output. Can you introduce similar functionality for tools (if it is a list of one tool)?

### Feature requests: what underlying problem are you trying to solve with this feature?

That will simplify writing and readability of

[2018-01-26 10:59] paladox commented on #4483
Hi, if I install Basel 0.10 rc on the Mac, will it update to the stable release from home brew next week when it’s released please?

[2018-01-26 12:07] dslomov commented on #3480
Sorry for very late reply!
You repo, github.com/kevinburke/rest, only contains go_repositories, not git_repositiories at this point, right?

[2018-01-26 13:30] iirina commented on #4525
CC: @philwo

[2018-01-26 13:39] #4484 closed

[2018-01-26 14:33] aehlig commented on #2656
suggested fix: https://bazel-review.googlesource.com/c/bazel/+/34352

--
Klaus Aehlig
Google Germany GmbH, Erika-Mann-Str. 33, 80636 Muenchen
Registergericht und -nummer: Hamburg, HRB 86891
Sitz der Gesellschaft: Hamburg
Geschaeftsfuehrer: Paul Terence Manicle, Halimah DeLaine Prado

[2018-01-26 15:06] cvcal commented on #4502
Thanks for the investigation! It's a complex world out there...
When you say Workspace in the context of Bazel, I assume you mean https://docs.bazel.build/versions/master/build-ref.html#workspace, but I'm unsure what it means in the context of gradle. I'll assume similar. The cargo solution seems excessive, and I dislike relying on the working directory for settings like this, so I’m ignoring that

[2018-01-26 15:08] cvcal commented on #4502
@aehlig, since we're talking about your design doc :smile:

[2018-01-26 15:10] htuch commented on #4525
Great, didn't realize this was self-service. Will track this in the Envoy issues at https://github.com/envoyproxy/envoy/issues/2461, closing this one out.

[2018-01-26 15:10] #4525 closed

[2018-01-26 15:48] iphydf opened #4528 "FR: Add option to make resource ids final in android_library"
### Description of the problem / feature request:

Make this controllable through a flag on android_library: https://github.com/bazelbuild/bazel/blob/master/src/tools/android/java/com/google/devtools/build/android/AndroidResourceProcessor.java#L427

### Feature requests: what underlying problem are you trying to solve with this feature?

If the values are not final, they can't be used in Java `swi

[2018-01-26 16:31] drigz commented on #4502
Yep. Having seen that we currently have `.bazelrc`, `bazel.rc` and `bazel.bazelrc`, I'd propose using `bazel/bazel.bazelrc` - although that is very many bazels, and this is very much bikeshedding. I'd be fine with `$WORKSPACE/.bazelrc` or `$WORKSPACE/bazel.rc`.

We have found it useful for using `--action_env` to set user-specific config (eg name of dev cluster) that you wouldn't want to affect th

[2018-01-26 16:32] iirina opened #4529 "Bazel 0.10.0rc6: bazel-tests fail on Ubuntu"
Error snippet:
[code]

Console log is [here](https://ci.bazel.build/view/Global%20Dashboard/job/Global/job/bazel-tests/464/consoleFull).

@philwo bisected and found the culprit to be bfc738dbbd03600bec78d7cc6e1de668372fd947 (the last cherry pick).

I added the last two cherry picks (bfc738dbbd03600bec78d7cc6e1de668372fd947 and 9d0d8119d4b4a18cd399fc5fd5a276830a9a6461) in order to fix #4303, which

[2018-01-26 16:48] iirina commented on #4529
@philwo identified a missing cherry pick that was related to those 2 I mentioned before: 6cc2ad8676d1ae0542b351a07a05ddbe5efac165. Seems like the tests are passing with the new cherry pick. I'll create a new RC and leave this open until I can confirm it's fixed in the CI.

[2018-01-26 16:51] iirina commented on #3958
New cherry pick 6cc2ad8676d1ae0542b351a07a05ddbe5efac165 (see #4529)

[2018-01-26 16:55] iirina commented on #3958
Created and pushed RC7
[code]

CI job is [1180](https://ci.bazel.build/view/Bazel%20bootstrap%20and%20maintenance/job/bazel/job/release/1180/)

[2018-01-26 16:58] iirina opened #4530 "CI: Release jobs fail because of convert_changelog.py"
Error snippet:
[code]

Console log is [here](https://ci.bazel.build/view/Bazel%20bootstrap%20and%20maintenance/job/bazel/job/release/1180/console).

From my experience with jobs started for release candidates: the first one for each RC always fails, and the replay always succeeds.

[2018-01-26 17:00] iirina commented on #3958
[Pipeline](https://ci.bazel.build/blue/organizations/jenkins/bazel%2Frelease/detail/release/1180/pipeline/22) failed again due to `convert_changelog.py`. I filed #4530.

[2018-01-26 17:32] philwo commented on #4530
I propose to just get rid of CHANGELOG.md ...

[2018-01-26 18:27] alexanderlobov commented on #4480
Can anybody recommend a workaround for this issue? I see several options:

1. Add `linkopts` to my `cc_binary`. In this case I should extract path to

[2018-01-26 18:43] eugene-bulkin commented on #1920
Is there any progress on `cc_static_library` availability?

[2018-01-26 19:11] cvcal commented on #4502
bazel.rc is the release candidate, it's a binary (or at least, it is internally, I'm pretty sure for Bazel too). I agree the naming's a mess :) but I think this particular thing isn't going to change.

For config files, I think the file extension should be enough, .bazelrc is as descriptive as bazel.bazelrc, but I think the full filename is only checked in the next-to-binary case, and that's large

[2018-01-26 19:23] cvcal commented on #4502
I think this is the list we're working from:

- user-specified: --bazelrc (making this not remove the user-home rc)
- per-user: $HOME/.bazelrc
- per-machine-type: bazel.bazelrc next to the binary (might be unnecessary?)
- per-workspace: $WORKSPACE/.bazelrc (maybe with a tools/ or bazel/ intermediate directory)
- global: /etc/bazel.bazelrc.

We could then have different trigger flags for these. imp

[2018-01-26 19:52] cvcal commented on #4502
@sergiocampama brings up the ordering problem, since more specific options should override competing options from a more general source. The three "master" rcs above, binary, workspace and global, don't have an obvious ranking. Maybe global < binary < workspace, but there are some cases where that wouldn't work.

[2018-01-26 20:10] sergiocampama commented on #4502
IMO the next-to-binary rc should be provided by the bazel team in the distinct packages for release, like homebrew (macOS), chocolatey (Windows) and apt-get (linux). Given that this is the set of options coming from the bazel developers, it should be the most general one.

/etc/bazel.bazelrc could be set by system admins for specific group of developers, so it could be regarded as a bit more speci

[2018-01-26 21:25] sergiocampama commented on #4502
You could also divide this into 2 groups, master (binary, /etc) and user (workspace, home), and have 2 flags to disable these --nomaster_bazelrc and --nouser_bazelrc. Or similar

[2018-01-27 01:12] jmhodges commented on #4303
Btw, it looks like 0.10rc7 does fix this! https://travis-ci.org/jmhodges/bazel_bugs/builds/333987091

[2018-01-27 01:12] pherl commented on #1952
I was pointed here when reviewing the PR https://github.com/google/protobuf/pull/4204

Looks like the repo based dependency will attach the dependency to a specific version and deploy that dependency edge together with the library. How do we solve the diamond dependency problem when two dependency edges on the same library don't agree on the versions?

For instance, both libfoo and libbar depend o

[2018-01-27 01:20] dmitry-xnor commented on #3283
Could be similar to the issue we are experiencing. In our case the culprit seems to be a recursive symlink that [Buildroot](https://buildroot.org/) uses to hook up `/usr` on the host. We use Buildroot to build custom toolchains for cross build to the various ARM boards.

Bazel does support recursive symlinks, but a symlink to `.` triggers a bug in Bazel. It tries to normalize the path, and ends up

[2018-01-27 01:26] jart commented on #1952
Note: I noticed not too long ago a use-case for bind(). gRPC uses it for this "unsecure" target that lets you hook in your own C++ authentication function. That's a good reason to use bind() IMHO although I feel like there's a better way Bazel could solve that particular problem.

Gentle remember that dependencies are exceedingly difficult, but the work is worth doing. Motivational reading: https:

[2018-01-27 01:31] alex-xnor commented on #3283
Well, in case it's useful, here's the workaround we have for our issue (which looks suspiciously similar to your issue but could potentially be something else):

* While Bazel mis-normalizes `.` to empty string, and also `dir/..` (if you're trying to be clever) to empty string, you can be even more clever: from a directory `dir`, Bazel will *not* normalize `../dir`. Hence, you can create a symlink

[2018-01-27 03:08] chenkan1994 commented on #4500
Hello @iirina , any update?

[2018-01-27 03:33] rongjiecomputer commented on #4496
@PatrickLang I had a lot issue in the past when Git was installed in `C:\Program Files\Git` due to the whitespace in the path name (long before Bazel was released). Many bash script in the real world assume no whitespace in the path name, you will easily get tripped by any POSIX projects.

I installed Git at `C:\Git` and have no issue since then. My advise is to always install POSIX tools at locat

[2018-01-27 08:02] ittaiz commented on #1952
@jart
I think the last link is somewhat irrelevant since most Bazel users I've
talked with use some kind of tool to generate the transitive closure and
given a large graph (as often happens on the jvm) it becomes extremely
difficult to know exactly what goes in. Best case people skim the list to
make sure no conflicts.
On Sat, 27 Jan 2018 at 3:26 Justine Tunney <notifications@github.com> wrote:

[2018-01-27 09:05] Jayoprell commented on #3018
Hi, @karthee320
I built bazel successfully!(my system is ubuntu16.04)
If you are facing the similar issues as mine, it maybe that you do not install JDK8 correctly.
Please follow the below link to build bazel.
[https://docs.bazel.build/versions/master/install-ubuntu.html](url)
Please install JDK8 follow the above link, do not install other JDK  on your system(e.g. download a new JDK pakage form of

[2018-01-27 09:06] Jayoprell commented on #3018
@jin I'm sorry. But I will.

[2018-01-27 09:08] Jayoprell opened #4532 "Building Bazel from source fails. Java maybe not be installed correctly"
I want to install tensorflow on Jetson TX2 and I follow the instructions [http://www.jetsonhacks.com/2017/09/14/build-tensorflow-on-nvidia-jetson-tx2-development-kit/](url) to install it. In the installing process, bazel need to be install first. For the begainning, I compile bazel 0.9.0 and it failed. The errors are as follows:
`ERROR: /home/nvidia/Desktop/bazel/bazel-0.9.0-dist/src/main/java/com

[2018-01-27 09:09] Jayoprell commented on #4532
Hi, @karthee320
I built bazel successfully!(my system is ubuntu16.04)
If you are facing the similar issues as mine, it maybe that you do not install JDK8 correctly.
Please follow the below link to build bazel.
https://docs.bazel.build/versions/master/install-ubuntu.html
Please install JDK8 follow the above link, do not install other JDK on your system(e.g. download a new JDK pakage form official w

[2018-01-27 11:03] dslomov opened #4533 "Do not (observably) reexecute any code in repository rules, ever"
Current behavior of repository rules, documented here: https://docs.bazel.build/versions/master/skylark/repository_rules.html#when-is-the-implementation-function-executed:

causes pretty bad unexpected behaviors, evidenced, for example, in this patch: https://github.com/bazelbuild/bazel/commit/ada0c370c2a3ea484925bc4e7d927b015bc4ad92

We must make sure that repository rule functions **never _obser

[2018-01-27 11:05] dslomov commented on #4533
#2700 is one bug caused by this.

[2018-01-27 11:06] dslomov commented on #2700
As ada0c37 fixes the immediate issue, closing this. #4533 tracks the larger issue (technically classified as feature request, as current behavior is actually docoemented and WAI, although I do view this as a design bug)

[2018-01-27 11:06] #2700 closed

[2018-01-27 23:47] cushon commented on #4532
This is a duplicate of #4483.

[2018-01-27 23:47] #4532 closed

[2018-01-28 09:12] philwo commented on #4303
@jmhodges Glad that it works now - looks like we cherry-picked the right fix! :)

[2018-01-28 19:12] jmhodges commented on #4303
Thanks so much!

[2018-01-29 07:33] aehlig commented on #4533
Another related feature request is partial redoing of a repository rule if only parts of the dependencies changes. The use case (#3395) is changing the patches/programmatic transformations to an `http_archive`; in this case, we need to obtain the differently patched external repository without downloading the (unchanged) archive again. (Currently, this can be mitigated with `--experimental_reposit

[2018-01-29 09:57] iirina commented on #3958
There are no more release blockers that I am aware of. If none surfaces today or tomorrow, Bazel 0.10.0 will be released on Wednesday.

[2018-01-29 10:30] hmemcpy commented on #3201
Hi @iirina, @chaoren,

I want to implement this using @kcooney's suggestion, supplying the `Skipped` element on tests that were actually ignored, assuming all others ran. For this to work on the IntelliJ side, a small change would be needed to remove the check for 'time'. (see referenced issues)

Do you think this is an acceptable solution?

[2018-01-29 11:50] iirina commented on #4497
The test is still failing with the invalid XML character error on the CI.

[2018-01-29 11:54] hmemcpy opened #4534 "Unable to build using 'bazel build //src:bazel' - errors about osx tools version"
When I try building bazel locally, I get the following error:
[code]

It was building previously, so I used `git bisect` to track down when stopped working: the culprit commit is db319f8eca064475d5092a756c75f2c3f6526b7e made by @c-parsons.

Is there anything I can do to fix?

[2018-01-29 12:00] edbaunton commented on #2177
Would I be better off taking this to bazel-dev rather than trying to revive this old issue?

[2018-01-29 12:55] hsyed opened #4535 "kotlin rules and android."
I'm working on new bazel rules for Kotlin and an extension to the intellij plugin. The android rules in 0.8.1 are not accepting jars built from the Kotlin rules. The `kotlin_library` rule return a `JavaInfo` provider, and I was expecting the android rules to just accept `JavaInfo`.

These rules might be upstreamed into the bazelbuild org soon (@davidstanke).  I don't do any android development mys

[2018-01-29 13:14] iirina commented on #4497
This may be related with use of color in the Jenkins report (see [example 1](https://github.com/juhovh/mocha-jenkins-reporter/issues/19) and there was another example but I lost the link :( )

[2018-01-29 13:29] #4530 closed

[2018-01-29 13:38] iirina commented on #4497
I think somehow an escape character (0x1b) is slipping into the test output xml when the test is failing. The fix should be in Bazel's XML writer (somewhere [here](https://github.com/bazelbuild/bazel/tree/c7696b47a4a12b1e56e41246770cbd44ad1c9c3e/src/java_tools/junitrunner/java/com/google/testing/junit/runner/model)).

[2018-01-29 14:14] meteorcloudy opened #4536 "CI: bazel_bootstrap_distfile_test failing on Windows due to long object file path"
https://ci.bazel.build/blue/organizations/jenkins/bazel-tests/detail/bazel-tests/1856/pipeline/31

[code]

The absolute object file path is `C:/temp/eabe42fa62db9997c05f08353752736f/bazel_oZlJBkQv/out/execroot/io_bazel
/bazel-out/host/bin/external/io_bazel/third_party/protobuf/3.4.0/_objs/protobuf_lite/external/io_bazel/third_party/protobuf/3.4.0/src/google/protobuf/stubs/atomicops_internals_x86_g

[2018-01-29 14:14] meteorcloudy commented on #4536
A proper solution for this is under discussion, let's find a workaround first.

[2018-01-29 14:25] laszlocsomor commented on #4497
The test that failed is a shell test, so I'm guessing the relevant code is this: https://github.com/bazelbuild/bazel/blob/f7f37be17506d41c7436807791611c31e216c45c/tools/test/test-setup.sh#L153

This is supposed to filter out escape characters. But it might be wrong. I don't know Perl, so I can't say for sure.

[2018-01-29 14:30] meteorcloudy commented on #4536
Culprit is https://github.com/bazelbuild/bazel/commit/a59e60e4fba191b8793254c38485f781f790a607

It makes the object file path longer by repeating "external/io_bazel/" twice.
//cc @dslomov @laszlocsomor

[2018-01-29 14:39] meteorcloudy commented on #4536
@laszlocsomor Can we use a shorter output base for the bootstrap test? `c:/temp/eabe42fa62db9997c05f08353752736f` seems a bit too long.

[2018-01-29 14:40] laszlocsomor commented on #4536
Yes, I was thinking the same.

[2018-01-29 14:55] meteorcloudy commented on #4535
/cc @aj-michael Any idea on this? Thanks!

[2018-01-29 14:58] meteorcloudy commented on #4534
Hi @hmemcpy, which bazel version are you using? I believe `configuration_field` is only supported from 0.9.0.
@c-parsons Correct me if I'm wrong.

[2018-01-29 14:59] meteorcloudy commented on #4529
This is fixed in rc7

[2018-01-29 14:59] #4529 closed

[2018-01-29 15:01] hmemcpy commented on #4534
Ooh, thanks for the heads up! I checked, I was indeed on 0.8.1, just upgraded to 0.9.0 via brew - I can build again! :)
Thanks a lot, closing!

[2018-01-29 15:01] #4534 closed

[2018-01-29 15:02] meteorcloudy commented on #4528
Hi, @aj-michael! Can you take a look?

[2018-01-29 15:09] meteorcloudy commented on #4524
Using a custom CROSSTOOL sounds like the right way to me, but //cc @mhlopko for more insight.

[2018-01-29 15:33] meteorcloudy commented on #4523
Hmm, it worked for me. Can you provide more details on how to reproduce this?

[2018-01-29 15:53] #2656 closed

[2018-01-29 15:58] aj-michael commented on #4535
Hi @hsyed. Regarding "I was expecting the android rules to just accept JavaInfo" - unfortunately that is not the case. I believe it should be the case, but noone has done the work to make it so.

As a workaround, you can just wrap your jar in one of the rules that Android does accept. In particular, you could create a java_library with no sources that exports your kotlin_library. And then depend o

[2018-01-29 16:08] aj-michael commented on #4528
Hi @iphydf - I don't think we will do this. There is a fundamental reason that they are intentionally not final. Say you have an android_binary, A, that depends on two android_libraries, B and C. Suppose that we generated final resource identifiers in B and C, and that each one of them has a resource that is assigned to "4". Since the java compiler is smart, it may inline "4" whereever it sees ref

[2018-01-29 16:20] iphydf commented on #4528
Ok, this makes sense. Thanks for clarifying.

[2018-01-29 16:20] #4528 closed

[2018-01-29 16:32] barlevalon opened #4537 "git_repository skylark rule regression in bazel 0.10.0rc7"
### Description of the problem / feature request:

git_repository pointing at a commit which is not the latest commit in the repo causes error because of `git clone --depth 1`. This is currently blocking us from upgrading to bazel 0.10.0.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Clone https://github.com/wix-playground/repoA
R

[2018-01-29 16:59] katre commented on #4537
When this happened previously (see #4405, #4358) the root cause was that the output base was itself inside a git repository, and this confused git as to where the root of the git repository was located. Could that be the issue you are seeing?

I had thought that 0ba8307ff46746864e357d0b7834b3c4247421d0 was in the 0.10.0rc7 branch, I'll go verify that now.

Can you please run the test `//src/test/s

[2018-01-29 17:05] katre commented on #4537
[code]

So yes, the fix for the previous issue is already in the 0.10.0 rc, so the problem you are seeing may be slightly different.

[2018-01-29 17:56] hsyed commented on #4535
@aj-michael that pattern would work as a work around for now -- `pubref/rules_kotlin` uses this pattern in a macro layer.

I don't think such a macro layer should be introduced in the new rules. If we added such macros they would need to be integration tested in the Kotlin rules repo and it will also make developing new features more complicated (--e.g., Kapt).

Until `JavaInfo` is recognised by t

[2018-01-29 19:29] astratto commented on #4523
This is weird... I've just tried with a pet project and it worked.

[code]

I'll try again tomorrow in the other project.
Is there a way to troubleshoot why it doesn't touch that file in the other one?

I guess I could try with `--explain ./bazel.log --verbose_explanations`?

[2018-01-29 19:31] cuadue opened #4538 "Predictable build sequence"
### Description of the problem / feature request:

Flag which permits a developer to build files in a predictable sequence. Specifically, if I change no files, and invoke the same build command twice, I would see the same file and its error messages.

### Feature requests: what underlying problem are you trying to solve with this feature?

Reduce mental context reorientation required to randomly s

[2018-01-29 19:46] barlevalon commented on #4537
My output base is _not_ itself inside a git repository and `//src/test/shell/bazel:skylark_git_repository_test` passes for me.

[2018-01-29 20:04] katre commented on #4537
So, testing the git commands manually, I see the same error:
[code]

If I remove the `--depth=1` flag from the `git clone` command, then the `git reset` works. It looks like this was added in 512b9b9b353bcabc436a87329fadd449c684c44b.

I'll take a look at a quick fix, and if that doesn't work I'll see if we can revert the commit entirely.

[2018-01-29 20:10] katre commented on #4537
@edbaunton Can you explain the purpose of the `--depth=1` flag? It looks like it's to limit the amount of history downloaded, but it's stopping git_repository from using any commit older than the first, so I plan to just remove it until we can find a better solution.

[2018-01-29 20:10] barlevalon commented on #4483
Is that verified? We seem to be hitting this with the jdk-bundled version as well.

[2018-01-29 20:32] katre commented on #4537
Sent https://bazel-review.googlesource.com/c/bazel/+/35091 to fix this.

[2018-01-29 20:39] paladox commented on #4483
bazel 0.10 rc6 fixes this for me.

[2018-01-29 20:45] edbaunton commented on #4537
It was to improve performance; the related issue was https://github.com/bazelbuild/bazel/issues/4359 since you download a lot of unneeded data which is especially painful for large repositories.

There was obviously not a test case to catch this, so will introduce a test case and then try and find a fix for the issue.

[2018-01-29 20:47] katre commented on #4537
Thanks, my patch just removes the depth flag, which obviously isn't great long term.

I tried to add a test, but it appears that depth is only used with actual network downloads. Even using file:// urls didn't take `--depth=1` into account.

[2018-01-29 21:51] edbaunton commented on #4537
The patch looks good.

[2018-01-30 05:36] benjaminp commented on #4538
I think `--jobs 1` will get you pretty close.

[2018-01-30 07:25] ryanphung commented on #4483
I'm hitting the same issue as well, on MacOS Sierra `10.21.6`, bazel `0.9.0-homebrew`, and different versions of JDK `jdk1.8.0_131.jdk`, `jdk1.8.0_152.jdk`, `jdk1.8.0_161.jdk`.

[2018-01-30 07:29] ittaiz commented on #4537
btw, important to say we really want @edbaunton's change since it can be a significant gain.
Just need to think how to do it.
I'd guess that if we can not fail when the  `git reset` fails but fallback to the `fetch` then the flow should work.
@katre re testing- have you considered starting a lean git server for the test?

[2018-01-30 08:06] ryanphung commented on #4483
Actually I realize that even though I have set `$JAVA_HOME` to the different versions of jdk, and `java -version` gives the correct version, `bazel info` still gives the wrong jdk version. Does anyone have any idea if there are some settings missing?

[code]

[code]

[2018-01-30 08:32] beeva-franciscoescribano commented on #4483
Test bazel shutdown and rebuild the project. It worked for me

[2018-01-30 08:40] ryanphung commented on #4483
Thanks, I tried `bazel shutdown` but it doesn't work and `bazel info java-home` still shows the wrong version of jdk.

[2018-01-30 08:43] YURIJTJ commented on #4483
where can i get old version of jdk?  I can't find it.

[2018-01-30 08:44] ryanphung commented on #4483
You can get old version of JDK8 from here: http://www.oracle.com/technetwork/java/javase/downloads/java-archive-javase8-2177648.html

[2018-01-30 09:25] iirina commented on #4537
Is there a workaround for this? The patch doesn't seem to be the solution here. I wanted to release tomorrow, but if another cherry pick is needed to fix this issue I would like to cherry pick it ASAP.

cc: @aehlig any ideas?

[2018-01-30 09:26] ryanphung commented on #4483
Alright, I managed to resolved it, here is what I did:

1. Uninstall `jdk1.8.0_161.jdk`
2. Install `jdk1.8.0_152.jdk`
3. Uninstall `bazel 0.9.0`
4. Reinstall `bazel 0.9.0`
5. It doesn't matter what `JAVA_HOME` is set to, it seems when bazel is installed it set `java-home` to the latest version of jdk.
6. Try to run `bazel info java-home`:

[code]

[2018-01-30 09:31] #4428 closed

[2018-01-30 09:31] #4453 closed

[2018-01-30 09:33] ittaiz commented on #4537
Why do you think the patch doesn't seem to be the solution?

[2018-01-30 09:38] iirina commented on #4537
Because the `--depth` flag fixes https://github.com/bazelbuild/bazel/issues/4359, which is something that people want in 0.10.0.

[2018-01-30 09:48] ittaiz commented on #4537
I know. What @katre did was effectively a revert of 4f51c0849305e9bfff2af4d80792fc69c02dfa08. I guess it's up to you if you'd rather delay the release or lose the feature.
As I said we're also interested in the feature so if we can get both I'd be a happy camper :)

[2018-01-30 10:42] mhlopko commented on #4290
Sorry, it's 2822 on tensorflow/models: https://github.com/tensorflow/models/issues/2822

[2018-01-30 10:47] mhlopko commented on #3558
Something like this? https://docs.google.com/document/d/1g91BWJITcYw_X-VxsDC0VgUn5E9g0kRBGoBSpoO41gA/edit

[2018-01-30 10:47] mhlopko commented on #4412
Can you try with bazel 0.10.0? cc_import was fully implemented only in 0.10.

[2018-01-30 10:56] edbaunton commented on #4537
I can't see any easy fix to get this feature back so not worth delaying the release IMO. Reading https://stackoverflow.com/questions/31278902/how-to-shallow-clone-a-specific-commit-with-depth-1 there is no way to get away with using a specific sha without cloning the entire repository (that isn't server-side dependent).

In this specific instance you can use the github interface to grab `https://g

[2018-01-30 11:59] mhlopko commented on #1534
It depends on how do you define "near" future :) We're focusing on skylarkifying C++ rules atm. I can imagine that cc_import (hopefully the sufficient place where this logic will reside) is fully rewritten in Skylark by mid-2018. Then the external contribution for this feature should not be too hard. If it's left at us, I cannot promise we'll get to it in 2018, there are more pressing features tha

[2018-01-30 12:34] alexanderlobov commented on #4412
I have tested `cc_import` from master branch on [this toy project](https://github.com/alexanderlobov/try-bazel/tree/master/cc-import).

It stopped to fail with `cc_import rule '//lib:lib' is misplaced here (expected cc_inc_library, cc_library, objc_library or cc_proto_library)` error. But it still has the same issue with wrong rpath as `cc_library` has: #4480.

[2018-01-30 12:53] laszlocsomor commented on #4536
Yun, do you have any update on this?

[2018-01-30 13:01] meteorcloudy commented on #4536
Not yet, how about we set `TMPDIR` to a shorter path in the shell test?

[2018-01-30 13:03] laszlocsomor commented on #4536
Do you want to do it or shall I?

[2018-01-30 13:09] aehlig commented on #4537
On Tue, Jan 30, 2018 at 10:56:34AM +0000, Ed Baunton wrote:

If we knew the commit date of the commit in question, a significant amount of traffic could be saved using `--shallow-since`, fetching only changes since the day of the commit. Maybe adding the commit date as an optional argument (used to shallow clone, if given) could be a good interim solution?

--
Klaus Aehlig
Google Germany GmbH, Eri

[2018-01-30 13:12] edbaunton commented on #4537
One other solution is to first attempt a `--depth 1` and if that fails fallback to a full clone and fetch. This would make you pay a price on doing a full clone of a failed low depth attempt.

[2018-01-30 13:16] meteorcloudy commented on #4536
It would be great if you can do it!

[2018-01-30 13:17] laszlocsomor commented on #4536
Sure!

[2018-01-30 13:22] steeve commented on #350
Is there any way to use the constraint system to match on Android or iOS target ? It seems matching on `@bazel_tools//platforms:` is insufficient.

[2018-01-30 13:22] laszlocsomor commented on #4501
This is fixed at current HEAD (https://github.com/bazelbuild/rules_nodejs/commit/230d39a391226f51c03448f91eb61370e2e58c42) with Bazel 0.9.0.

[2018-01-30 13:22] #4501 closed

[2018-01-30 13:22] mhlopko commented on #4463
I'd say this issue has very little to do with C++, it's more about how we layout execroot and repositories. C++ is only a victim with its include directories. Luckily @aehlig is going to save us all from this suffering :)

[2018-01-30 13:24] aehlig commented on #4537
If retrying on failure, we could also try deepen the shallow clone until it is deep enough to contain the commit we need...

--
Klaus Aehlig
Google Germany GmbH, Erika-Mann-Str. 33, 80636 Muenchen
Registergericht und -nummer: Hamburg, HRB 86891
Sitz der Gesellschaft: Hamburg
Geschaeftsfuehrer: Paul Terence Manicle, Halimah DeLaine Prado

[2018-01-30 13:54] edbaunton commented on #4537
I just did a very unscientific test of that approach to get to the first commit in the wix repo (about 10 commits from the tip):

[code]

which took approximately the same amount of time as cloning the entire repo alone (2 seconds). That is, repeatedly searching the history for the commit in question degenerates in performance as you have to go further back in time.

I guess we could have a heuris

[2018-01-30 14:09] iirina commented on #4537
Release update: since #4359 was not a regression issue but a feature request, it shouldn't have priority over a regression issue which blocks users to upgrade to bazel 0.10.0.

That said, I will merge and cherry pick the revert of `--depth` flag. After that, you are free to solve this another way.

[2018-01-30 14:15] katre commented on #4537
Sounds good to me.

On Tue, Jan 30, 2018 at 9:11 AM Ed Baunton <notifications@github.com> wrote:

[2018-01-30 14:37] excitoon opened #4542 "Windows RC/RES files in cc_binary() / cc_library()"
### Description of the problem / feature request:

Currently `cc_binary()`/`cc_library()` cannot consume RC/RES files. One need to have possibility to specify it in `srcs`/`deps` or separate attributes.

https://docs.bazel.build/versions/master/be/c-cpp.html#cc_binary_args
https://docs.bazel.build/versions/master/be/c-cpp.html#cc_library_args

[code]

I tried to compile RC into RES manually (using

[2018-01-30 14:40] iirina commented on #3735
Sorry Ittai for the lack of replies, I have been caught up in something else. There is no update on this. Work on `java_common` had to be deprioritized for a while. I'm back on it now.

I don't understand the problem. Dependencies of what? If the `neverlink` attribute will be available on `java_common.compile`, wouldn't that solve this issue?

Do you need this in bazel 0.11.0?

[2018-01-30 14:47] 0941011216 opened #4543 "Ta1026"
### Description of the problem / feature request:

### Feature requests: what underlying problem are you trying to solve with this feature?

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

### What operating system are you running Bazel on?

### What's the output of `bazel info release`?

### If `bazel info release` returns "developm

[2018-01-30 14:48] #4543 closed

[2018-01-30 14:48] dslomov opened #4544 "Allow to set source root for proto_library"
`proto_library` forces import path to start at workspace root. This means that, for example, the following setup (coming from a customer) is not supported:

given:
my-module
  src/main/proto/com/wix/
                        foo.proto
                        bar.proto
And given foo.proto needs to import bar.proto then currently in maven it imports "com/wix/bar.proto".
In Bazel it needs to import "m

[2018-01-30 14:48] dslomov commented on #4544
/cc @iirina @cgrushko @lberki

[2018-01-30 14:59] katre commented on #350
Currently, the ios (and android) rules don't work with the platforms system. We'll address this in the future when those rules move to using platforms and toolchains directly.

[2018-01-30 15:02] dbabkin commented on #3769
Hi,
Update from my side:
Recently added JavaRuleOutputJarsProvider, JavaExportsProvider , JavaSourceJarsProvider.
Added support for 'exports' parameter.
I think we are pretty finish with functionality except minor things:
1) Input parameter 'sources' is ignored at the moment.
2) merge function for JavaInfo doesn't merge all providers.

[2018-01-30 15:15] #4537 closed

[2018-01-30 15:18] iirina commented on #3958
New cherry pick 40c757f4ab90214f95935672532a495c4551490a for release blocker #4537.

[2018-01-30 15:49] iirina commented on #3958
Pushed RC8:
[code]
CI release job is [1228](https://ci.bazel.build/view/Bazel%20bootstrap%20and%20maintenance/job/bazel/job/release/1228/).

[2018-01-30 15:50] iirina commented on #4530
FYI the release job for RC8 didn't fail! \o/

[2018-01-30 15:53] sergiocampama commented on #350
Do you have any more information on how the Apple rules should interface with the platform rule?

[2018-01-30 15:54] meteorcloudy commented on #4536
Hmm,, it's still happening
https://ci.bazel.build/blue/organizations/jenkins/CR%2Fbazel-tests/detail/bazel-tests/814/pipeline/36

[2018-01-30 15:58] meteorcloudy commented on #4536
The output_base is created here when bootstrap:
https://github.com/bazelbuild/bazel/blob/ef381e54b124a7bb71dcb883fdc999f3bd37d4ed/scripts/bootstrap/buildenv.sh#L158-L169
Seems like TMPDIR is already set to `c:/temp/eabe42fa62db9997c05f08353752736f
`?
Is that possible?

[2018-01-30 15:58] steeve commented on #350
So right now there is no real way to define a toolchain (or constraint) that could be, say compatible with iOS?
I'm asking because we've been discussing it in https://github.com/bazelbuild/rules_go/issues/1264

[2018-01-30 16:08] katre commented on #350
@sergiocampama Take a look at the [toolchains documentation](https://docs.bazel.build/versions/master/toolchains.html), but the short way to add toolchain (and platform) support is to:

1. Define a new new `toolchain_type` target.
2. Define a new ios_toolchain rule (or re-use one that exists, if it exists) to also create a platform_common.ToolchainInfo provider with all platform-specific data that

[2018-01-30 16:08] steeve commented on #350
@katre looks good, but the issue i have is that iOS and Android targets are builting for multiple architectures (fat binaries or apk) via a single target (by propagating the arch change to deps, it seems).
Would there be a way to handle that?

[2018-01-30 16:10] katre commented on #350
Yes, part of the work will be handling fat binaries by using the correct config split transition.

[2018-01-30 16:13] sergiocampama commented on #350
how is the toolchain support different from the CROSSTOOL?

[2018-01-30 16:15] steeve commented on #350
Is there a way do that already?
To be clear, I'm trying to get rules_go to select the proper toolchain (which is constraint based) based on the current architecture building.
Basically rules_go builds a simple arch `.a` file, which will would get merged into a multi-arch fat binary via the ios_ rule.

Something like this:
[code]

[2018-01-30 16:15] katre commented on #350
Please take a look at the docs, including the original [design doc](https://docs.google.com/document/d/1-G-VPRLEj9VyfC6VrQBiR8To-dZjnBSQS66Y4nargGM/edit#heading=h.al54v2ddwqzv). The short version is that toolchains works for all rule types, not just CC rules, and has a better idea of what makes different platforms distinct from each other.

[2018-01-30 16:18] katre commented on #350
@steeve There's code to automatically convert from the `--cpu` flag to the auto-detected target platform (`@bazel_tools//platforms:target_platform`). This _should_ work properly with split transitions like this, but I've never tested it, so if you're seeing errors there's a bug somewhere.

I'd like to encourage you to file this as a separate issue and I'll put it on my backlog, but it's unlikely t

[2018-01-30 16:22] steeve commented on #350
@katre sure thing, thank you for the quick answers
However, it seems the `ios_*` cpus are defined by the CROSSTOOL, so I'm not sure it will work.
Also, `ios` and `arm64` are not considered OS or CPU at the moment (perhaps that would be the fastest route to take, however).

Can you point me to the code? I might take a look.

[2018-01-30 16:30] katre commented on #350
The auto-configuration for platforms happens here: https://source.bazel.build/bazel/+/master:src/main/java/com/google/devtools/build/lib/rules/platform/Platform.java;l=55

And is based on the set of cpus and oses available for autoconfig, set here: https://source.bazel.build/bazel/+/master:tools/platforms/platforms.BUILD;l=81?q=tools%2Fplatforms

[2018-01-30 16:49] edbaunton commented on #4359
Can someone with the requisite superpowers reopen this so that we don't lose track of the outstanding work discussed in #4537

[2018-01-30 17:12] barlevalon commented on #4537
With 0.10.0rc8 I get the following:
[code]

[2018-01-30 17:14] iirina commented on #4537
Yes, I didn't resolve a conflict well. Will fix that...

[2018-01-30 17:28] iirina commented on #3958
I did a bad merge and I had to re-do RC8. The same commands as before.

CI release job is [1234](https://ci.bazel.build/view/Bazel%20bootstrap%20and%20maintenance/job/bazel/job/release/1234/) (lucky number?).

[2018-01-30 17:32] excavador opened #4545 "git push origin may push to unintended remote URL after unsuccessful bazel's git fetch - very critical security issue"
### Description of the problem / feature request:

Very critical bug for users of close-source private repositories.

My case:
1. My private repository A/.git/config
[code]
2. A/WORKSPACE
[code]
3. bazel-gazelle
[code]
https://github.com/bazelbuild/bazel-gazelle/blob/7585a43dbca7efcb5647f8c9000cd68926daaa9a/deps.bzl#L18
4. During fetch according to network failure bazel failed to fetch bazel-skyli

[2018-01-30 17:33] excavador commented on #4545
As result, you ".git/config" has following form:

[code]
and push goes to BOTH repositories

[2018-01-30 17:55] iirina commented on #3958
RC8 available for testing https://releases.bazel.build/0.10.0/rc8/index.html

[2018-01-30 17:55] iirina commented on #4537
@barlevalon do you mind trying again with RC8? https://releases.bazel.build/0.10.0/rc8/index.html

[2018-01-30 18:45] ittaiz commented on #4537
Irina,
Did you override rc8 somehow? Because Alon said he tested with rc8
On Tue, 30 Jan 2018 at 19:55 Irina Iancu <notifications@github.com> wrote:

[2018-01-30 18:48] ittaiz commented on #4544
Thanks!
Option 2 would be really helpful for us though we can also live with option
1
On Tue, 30 Jan 2018 at 16:49 Dmitry Lomov <notifications@github.com> wrote:

[2018-01-30 18:49] ittaiz commented on #4537
Never mind. Saw the other thread.
On Tue, 30 Jan 2018 at 20:44 ittai zeidman <ittaiz@gmail.com> wrote:

[2018-01-30 18:52] iirina commented on #4537
Yes I did. There was no point in having a broken RC.

[2018-01-30 19:00] gregestren commented on #2036
I didn't. But as luck would have it this also popped up in #3676 and was fixed at head 2.5 weeks ago. So this should be in the next Bazel release.

[2018-01-30 19:02] gregestren commented on #2036
Duplicate of #3676

[2018-01-30 19:02] #2036 closed

[2018-01-30 19:03] ittaiz commented on #3735
What I meant is that if we change semantics on java provider from files (current) to dependencies (WIP) then I’ll have a big problem because I can’t do the manipulation I do today.
Does that make sense?
And yes, we will need it for 0.11.0

[2018-01-30 19:35] oscar-stripe commented on #4428
@iirina has this been fixed? Do you know which commit?

[2018-01-30 19:37] buchgr opened #4546 ".runfiles_manifest file is declared as test action input"
I found that test actions have `.runfiles_manifest` files declared as inputs. A `.runfiles_manifest` file contains paths of the form `~username/.cache/bazel/`. Thus, users with different names don't share cache hits for tests.

cc: @alexeagle @ola-rozenfeld @ulfjack @nlopezgi

[2018-01-30 19:41] ola-rozenfeld commented on #4546
Is this a new feature? Because I remember that our hello_world_test did hit
the cache on different users (I checked when debugging the leaking
environment variables issue).
Also: didn't you say that you got cache hits in the same docker container
after bazel clean? Why did the different container run make a difference?

On Tue, Jan 30, 2018 at 2:37 PM, Jakob Buchgraber <notifications@github.com>
w

[2018-01-30 19:44] ittaiz commented on #4359
I think it's a good idea to try and think of the use-cases (one dimension is how far is the commit from the tip)

[2018-01-30 19:49] buchgr commented on #4546
@ola-rozenfeld

I don't know if it's a new feature. I remember we had an issue a while back where runfiles would not get updated correctly after a source change. So maybe the fix for that introduced this (pure speculation) @ulfjack knows more.

Yes I got cache hits, because it was always the same user. The issue with different containers not sharing cache hits is a different one: https://github.co

[2018-01-30 19:52] buchgr commented on #1415
This has been fixed in the meantime.

[2018-01-30 19:52] #1415 closed

[2018-01-30 20:31] barlevalon commented on #4537
Looks good now. 👌

[2018-01-31 02:03] Arj47 opened #4547 "We are not the same and i want to delete my account and please delete all accounts conneting to my account"
### Description of the problem / feature request:

### Feature requests: what underlying problem are you trying to solve with this feature?

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

### What operating system are you running Bazel on?

### What's the output of `bazel info release`?

### If `bazel info release` returns "developm

[2018-01-31 08:16] aehlig commented on #4359
Reopend  by 40c757f4ab90214f95935672532a495c4551490a.

[2018-01-31 08:17] davido commented on #3410
@cushon

On bazel master (db65f80cc83d562c0f63c34ce9d9a58fad0e3b0c) Java 9 support seems to be broken again: [1].

[code]

I think it worked already, or should i pass in addition to Java 9 specific options: `-target 9` option in addition? I'm seeing this problem with both JGit: [2] and Protobuf[3] CLs.

* [1] http://paste.openstack.org/show/658102/
* [2] https://git.eclipse.org/r/#/c/113368
* [3]

[2018-01-31 08:36] hmemcpy commented on #3201
Ok, after further analyzing the situation, I think I misunderstood the initial intent. It seems, as @chaoren reported, that test.xml will contain all test cases, even those filtered out by `--test_filter` (happens in both java and scala/specs2 tests).
I've reconsidered, and I don't think that `skipped` is a good solution for this, because it changes the semantics - skipped should be used on tests

[2018-01-31 08:46] buchgr commented on #4546
Example entry:
[code]

[2018-01-31 10:01] iirina commented on #3958
RC8 looks good. I propose no more cherry picks, even if further regressions will be found. Bazel 0.11.0 RC1 will be cut tomorrow, so further regressions should be cherry picked for 0.11.0. This way Bazel 0.10.0 can be released before Bazel 0.11.0 RC1 is cut and avoid dealing with 2 releases at the same time.

[2018-01-31 10:06] meteorcloudy opened #4548 "CI: src/test/shell/bazel/srcs_test is broken"
https://ci.bazel.build/blue/organizations/jenkins/bazel-tests/detail/bazel-tests/1884/tests

Culprit: https://github.com/bazelbuild/bazel/commit/db65f80cc83d562c0f63c34ce9d9a58fad0e3b0c

@aoeui

I'm rolling back the change.

[2018-01-31 10:17] #4547 closed

[2018-01-31 10:18] meteorcloudy commented on #4545
/cc @dslomov

[2018-01-31 10:18] iirina commented on #3735
Can you give me an example of how you use the current `java_common.create_provider` for neverlink? I think it will be easier for me to explain on examples.

Noted. The `neverlink` attribute on `java_common.compile` will reach 0.11.0.

[2018-01-31 10:20] lberki commented on #4544
Adding multiple include roots is not a happy thing to do, since e.g. if you have the proto files

`q/x/y.proto`
`q/a/b.proto`

and the `proto_library` rule with the first proto adds an include root `a`, the second proto will be accessible as `a/b.proto` in addition to `q/a/b.proto`. Unfortunately, it appears that `protoc` doesn't allow more granular control than adding include roots, so I'd much r

[2018-01-31 11:12] excavador commented on #4545
Problem somewhere around https://github.com/bazelbuild/bazel/blob/ac0d354437c15003e79ec0fec168762cc9b676de/src/main/java/com/google/devtools/build/lib/bazel/repository/GitCloner.java#L190

Seems like it processing correctly incorrect commit of first dependency, but broken on incorrect commit of dependency of dependency (but I don't sure).

I tried to find the root of cause, but seems like it's som

[2018-01-31 12:07] hsyed opened #4549 "kotlin_rules and Ijars: Update the Ijar tooling to do the right thing."
I have been working on a new set of kotlin rules and they are currently being migrated to bazelbuild/rules_kotlin.

One goal with the design of the Kotlin JVM ruleset is to stay as close to the native java rules and infrastructure as possible. The automatic Ijars generation is  problematic as the java rules auto create ijars. Ijars generated for Kotlin work in a lot of cases, but inlined methods b

[2018-01-31 12:24] ittaiz commented on #4544
@lberki

it sounds to me you're suggesting the `1 and 2 ` version which actually sounds to me the worst option since you don't gain freedom but still have the receptiveness.
Are you trying to add an opt-in phase?
If so we can add a cmd-line flag or rule flag to turn on option 2's behavior.

[2018-01-31 12:44] hmemcpy commented on #3201
(last update, promise :))
I removed memoization from the creation of `JUnit4TestModelBuilderFactory` and its supplier, and this fixed the bug: the filtered out test name no longer appears:
[code]

The question is, how expensive is the test model creation, and can it be memoized only after applying the filters?

[2018-01-31 12:58] aehlig commented on #4545
I'll have a look. But please note that this issue is talking about a use
case that is *explicitly* not supported. Quoting
https://docs.bazel.build/versions/master/be/workspace.html#git_repository

  If you are using a private repository, prefer the Skylark git repository rules,

Also, the native git_repository rules are deprecated and will be removed eventually
anyway; so this issue might just res

[2018-01-31 13:12] excavador commented on #4545
@aehlig you missed the point.

I am using PUBIC git_repository INSIDE private git repository.
Usage of PUBLIC git_repository affects my private workspace's git repository

[2018-01-31 13:16] excavador commented on #4545
anyway; so this issue might just result in the deprecation being made faster.

@aehlig yeah, but a lot of rules (rules_go, gazelle, etcetera) still using native.git_repository for bazel-skylib, for instance

My case:
1. My private repository A
2. Inside workspace
[code]
3. Inside bazel-gazelle
[code]
https://github.com/bazelbuild/bazel-gazelle/blob/7585a43dbca7efcb5647f8c9000cd68926daaa9a/deps.bzl

[2018-01-31 13:19] excavador commented on #4545
@aehlig I hope, now is clear, what's happens. I am using bazel according to documentation, native.git_repository used only for public repositories, but according to some bazel bug network failure on git operations introduce url to public repo to .git/config of my private repo

[2018-01-31 13:26] excavador commented on #4545
Major pittfals for me - I am bazel contributor and have access to push to some repos

[2018-01-31 13:32] excitoon opened #4550 "Long file path names are not supported by MSVS"
### Description of the problem / feature request:

Unfortunately MSVS (specifically 2015) cannot handle paths longer that 260 symbols. This is well-known problem and it is not gonna be solved. Bazel on its hand does two things greatly increasing path names:
1) it works in temp folder which looks like: `C:\Users\Username\AppData\Local\Temp\_bazel_username\iwggwcit\execroot\__main__`;
2) it doubles

[2018-01-31 13:37] #4548 closed

[2018-01-31 13:37] excitoon opened #4551 "Skip UTF-8 BOM sequence when reading BUILD & .bzl files."
### Description of the problem / feature request:

Unfortunately bazel does not support UTF-8 BOM sequences in `BUILD` files.

Output of `bazel build ...`:
[code]

Please find an example in my repository:
https://github.com/excitoon/bazel-issues/tree/master/utf-8-bom-support

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

https://gi

[2018-01-31 14:04] meteorcloudy commented on #4550
This is a duplicate of https://github.com/bazelbuild/bazel/issues/4149, I'm working on it!

[2018-01-31 14:04] #4550 closed

[2018-01-31 14:25] excitoon commented on #4149
I've just encountered this issue by myself. I'd like to add that it can be solved in `cl` python wrapper substituting paths with shorter paths using symlinks.
Also I've created small repository to easily reproduce this issue:
https://github.com/excitoon/bazel-issues/tree/master/windows-long-file-paths-of-objects

[2018-01-31 14:31] laszlocsomor commented on #4149
@excitoon : Thanks for the repro case! We are actively looking for solutions, currently evaluating different approaches. This is one of our highest priority bugs.

[2018-01-31 14:32] laszlocsomor commented on #4149
Bumping to P1 because workarounds only get us so far, and it's only a matter of time before more people hit this bug. (Bazel itself started hitting it this week.)

[2018-01-31 14:36] shmilyhh opened #4552 "syntaxError in File "bazel-out/host/bin/src/create_embedded_tools""
### Description of the problem / feature request:

 executing command
  (cd /tmp/bazel_ywcCVYL0/out/execroot/io_bazel && \
  exec env - \
    PATH=/usa/haoxu/Library/Full-JDK-Linux-x64-jdk1.8.0_152/bin:/usa/haoxu/bin:/usa/haoxu/byobu/bin:/usa/haoxu/homebrew/bin:/usa/haoxu/bin:/u
sa/haoxu/byobu/bin:/usa/haoxu/homebrew/bin:/usr/lib64/qt-3.3/bin:/usr/local/bin:/bin:/usr/bin \
  /bin/bash -c 'source e

[2018-01-31 14:37] davido commented on #4149
Have you considered to consequently write response files and then calling `cl` with "@responsefile.rsp"?

[2018-01-31 14:41] laszlocsomor commented on #4149
Does that enable the compiler/linker to deal with long paths?

[2018-01-31 14:45] rongjiecomputer commented on #4149
Invocating Python is pretty slow, and the time will quickly adds up with 1000+ compilation units. Wrapper script is not an ideal solution IMO.

No.

In `C:/tmp/_bazel_pcloudy/dpitg86y/execroot/bazel-out/msvc_x64-py3-opt/bin/external/org_tensorflow/tensorflow/core/profiler/internal/advisor/_objs/internal_checker_runner_dummy/external/org_tensorflow/tensorflow/core/profiler/internal/advisor/internal

[2018-01-31 14:49] meteorcloudy commented on #4149
I agree, using a wrapper script is not a solution under discussion. We're focusing on how to short the object file path in Bazel.

[2018-01-31 14:50] excitoon commented on #4149
That's right, but Python wrapper is already being invoked for each unit on MSVS (it does some flags substitution and has other logic).

[2018-01-31 14:51] laszlocsomor commented on #4149
@excitoon : No, there's no Python wrapper for MSVC anymore. Bazel runs the compiler/linker directly.

[2018-01-31 14:51] meteorcloudy commented on #4149
No, the wrapper script has been removed since 0.5.3, see https://github.com/bazelbuild/bazel/commit/425f2496d65d1e190f633236575009e49e1252b3

[2018-01-31 14:54] laszlocsomor commented on #4149
@rongjiecomputer :

Yes, we made the same observation. @meteorcloudy is currently designing different ways to shorten the object file output paths.

Yes, CMake would probably just put the object file next to the source file, which is fine only as long as you don't compile the file with multiple compilers and/or different compiler options within the same build.

[2018-01-31 14:58] m1ke-van-dyke commented on #258
+1 for compilation database support
I hope this feature is coming soon.

[2018-01-31 14:59] rongjiecomputer commented on #4149
In that I just use `C:\tensorflow\build` for compiler/configuration 1 (said pure MSVC + Debug) and `C:\tensorflow\build2` for compiler/configuration 2 (said Clang on Windows + Release). This is a way that I think Bazel can't take anymore since by now a lot of people probably already depend on `bazel-*` folders instead of `build` folder from make/cmake time.

[2018-01-31 15:59] davido commented on #4149
Starting from Windows 10, version 1607, MAX_PATH limitations have been removed from common Win32 file and directory functions. However, you must opt-in to the new behavior.

A registry key allows you to enable or disable the new long path behavior. To enable long path behavior set the registry key at HKLM\SYSTEM\CurrentControlSet\Control\FileSystem LongPathsEnabled (Type: REG_DWORD).

See: https:/

[2018-01-31 16:02] laszlocsomor commented on #4149
@davido: Yes, this is great, but only available in Win10 + Anniversary Update and later. Win7 and 8 don't support this.

[2018-01-31 16:02] meteorcloudy commented on #4542
Currently we have no plan to work on compiling RC into RES in native C++ rule. But there is a workaround, you can compile through a genrule and them add the resource file(.res) as an object file(.o) in srcs.
We use this way to build bazel.exe with an icon, see https://github.com/bazelbuild/bazel/commit/3d21578895bc6d1fb153fec3cea9810396abf78e
/cc @laszlocsomor

[2018-01-31 16:03] meteorcloudy commented on #4549
@iirina Can you take a look at this?

[2018-01-31 16:04] davido commented on #4149
@laszlocsomor So, two options: recover python wrapper from ancient Basel version for older Os versions, while natively support long path starting from Win10 + Anniversary Update and later..

[2018-01-31 16:08] meteorcloudy commented on #4551
@philwo Did we have a discussion about this a long time ago?

[2018-01-31 16:12] meteorcloudy commented on #4552
@shmilyhh Can you tell me which python version are you using?

[2018-01-31 16:14] shmilyhh commented on #4552
@meteorcloudy Python 2.5.1

[2018-01-31 16:19] philwo commented on #4551
Well... if you ask *me*, then BUILD files should be parsed as UTF-8 by default, file names contain human readable text and we should support this and also https://www.python.org/dev/peps/pep-0263/.

Unfortunately BUILD files are parsed as latin1 and.. you know what, we could just still support this and ignore the BOM, it can't get much worse than the current situation anyway. Let's do this.

[2018-01-31 16:20] philwo commented on #4551
@dslomov @laurentlb Your opinion on this?

[2018-01-31 16:23] meteorcloudy commented on #4552
Can you upgrade it to 2.7 or higher?

[2018-01-31 16:26] shmilyhh commented on #4552
@meteorcloudy Thank you. I use the python 2.7. But I meet a new problem, it is same as #2808. Do you know how to change the size of the /tmp folder? Thanks.

[2018-01-31 16:33] meteorcloudy commented on #4552
Sorry, I'm not familiar with that...

[2018-01-31 16:34] iirina commented on #4549
Can you explain why the automatic ijar generation in the java rules is problematic? Is it because you are using `java_import` to import kotlin jars, in which case ijar will fail (sometimes)?

[2018-01-31 16:35] shmilyhh commented on #2808
@damienmg I meet the same problem, but I don't have the permission to change the size of the /tmp. Do you have other solution? Thanks.

[2018-01-31 16:36] shmilyhh commented on #4552
@meteorcloudy Thank you. I appreciate your help.

[2018-01-31 16:36] #4552 closed

[2018-01-31 16:46] shmilyhh opened #4553 "zip error: Output file write failure (write error on zip file)"
### Description of the problem / feature request:

### Feature requests: what underlying problem are you trying to solve with this feature?

[2018-01-31 16:54] excitoon commented on #4149
I guess, as C++ application, `cl.exe` is compiled with `MAX_PATH=260` inside anyway and therefore that registry key won't affect it.

[2018-01-31 17:06] laurentlb commented on #4551
Seems reasonable to skip those bytes.

[2018-01-31 17:16] hsyed commented on #4549
I misrepresented the sometimes part. Most Kotlin libraries that a JVM project would use as an external dependency will have DSLs that make heavy use of `inline`. So some intermediate `kotlin_` rule has to be used to:

* Add a KotlinInfo -- to enable rules in the workspace to ensure `full_compile_jars` are used when using the target as a dependency.
* Force selection of `full_compile_jars` by re-in

[2018-01-31 17:28] mjansche commented on #4538
``bazel build -k --jobs=1`` will build everything and tell you about all of the syntax errors. It doesn't strike me as reasonable to expect more. There is nothing in the build language that would indicate any kind of ordering of the smaller units of a ``cc_binary`` target. The only ordering you get is a topological ordering on the build graph, but whether ``bar.cc`` or ``baz.cc`` gets compiled fir

[2018-01-31 18:24] shmilyhh commented on #4553
I found what I want in #2738.

[2018-01-31 18:24] #4553 closed

[2018-01-31 19:09] #3735 closed

[2018-01-31 19:12] iirina commented on #3959
@katre can you make sure 223ed93582dbb730eb92c80cc6350dcec116ec0a will be included in the RC? I think if you cut from the nightly it should be..

[2018-01-31 19:19] thiell commented on #760
I agree with @blappm, hard-coding `-B/usr/bin` is wrong and break the build on older OS when `/usr/bin` shouldn't be used at all by gcc. Removing the two hardcoded lines from `tools/cpp/unix_cc_configure.bzl` does actually fix this particular issue...

[2018-01-31 19:21] shmilyhh commented on #2808
@damienmg I found the solution in #2738.

[2018-01-31 20:07] katre commented on #3959
I will. I plan to check tomorrow's nightly and cut then.

[2018-01-31 20:28] cushon commented on #3410
AFAIK the combination of `--add-modules` and `-source 8 -target 8` has never been accepted by javac.

Also, a stock javac 9 with `--release 8` doesn't allow access to `sun.misc.Unsafe`, that's not unique to the way Bazel is invoking javac:

[code]

[2018-01-31 20:31] ittaiz commented on #3735
Thanks!
If I understand this commit it does two things:
1. Allows creation of JavaInfo from java_common.compile with never link
attribute
2 Makes java_common.compile respect the neverlink attribute
Is that correct?
I now re read your previous question and understood where we had the
miscommunication.
I can’t use the neverlink flag today from skylark because the skylark API
is low level and talks a

[2018-01-31 20:41] cushon commented on #4549
Is there a reference for specifically how these ABI elements are represented in bytecode?

[2018-01-31 21:06] davido commented on #3410
Except that I don't specify "-source 8 -target 8" in any place. All I say in JGit is:

[code]

And javac complaining that: option --add-modules not allowed with target 1.8.
Can it be that Bazel now implicitly set `-source 8 -target 8`?

[2018-01-31 21:11] davido commented on #3410
OK, figure it out, I must specify `--release` in Bazel master:

[code]

[2018-01-31 21:29] mikelikespie commented on #3940
Seeing this too (with master and 0.9.0)

[2018-01-31 21:30] yuanbuckingham opened #4554 "install tensorflow on BeagleBone Black"
### Description of the problem / feature request:

and I can import tensorflow in Python 2.7.13. However, when  I want to test the simple 'Hello, tensorflow', I got the 'Bus error' and directly quit from python as follows:

root@beaglebone:/tmp# python
Python 2.7.13 (default, Nov 24 2017, 17:33:09)
[GCC 6.3.0 20170516] on linux2
Type "help", "copyright", "credits" or "license" for more information

[2018-01-31 21:42] hsyed commented on #4549
Just had a closer look.

For marker files there is a [`META-INF/<module name>.kotlin_module`](https://blog.jetbrains.com/kotlin/2015/06/improving-java-interop-top-level-functions-and-properties/). Might be more depending on the compilation modes / module types.

After some experimentation inlining metadata seems to be embedded in the [Metadata](https://github.com/JetBrains/kotlin/blob/master/core/

[2018-01-31 22:44] hsyed commented on #4549
Yes I think thats right, the compiler seems to generate bytecode mimicking a regular JDK8 higher order function, the lambda invocation instructions must be used as the placeholders, nice design.

It seems like a simple enough change, visit classes with Metadata annotations, discover public and protected inline methods and preclude them from bytecode dropping.

I could gather a list of the file pat

[2018-02-01 01:17] jin commented on #4554
This seems like a Tensorflow issue instead of a Bazel one, since it looks like you have managed to build and import TF successfully. Do you have information on why you think this is a Bazel issue?

[2018-02-01 02:11] aalexand commented on #4545
Maybe a better title for the issue would be "`git push origin` may push to unintended remote URL after unsuccessful bazel's git fetch", or something like that.

[2018-02-01 03:54] kcooney commented on #3201
@hmemcpy `TestSuiteModel` intentionally includes all tests, including the ones that were filtered (either via the command line or from the sharding process). Having details about all of the tests can be very useful. For example, for a sharded test run you can combine the results from all shards to give a consolidated view of the test results from all shards, even though each shard has the result f

[2018-02-01 05:18] jmillikin-stripe commented on #4544
See also https://github.com/bazelbuild/bazel/issues/3867, which suggests adding attributes similar to cc_library's `import_prefix` and `strip_import_prefix`.

A single attribute that sets the path to a fixed value would be simpler, but verbose+redundant when working with large numbers of protos under a common prefix.

[2018-02-01 05:23] jmillikin-stripe commented on #4533
Splitting repository rules into (fetch, modify_dir) steps would make it difficult to fetch different artifacts based on system state, as used when (for example) fetching different binary packages based on local os/arch/libc.

[2018-02-01 07:03] hmemcpy commented on #3201
Kevin, thanks for the detailed answer!

To be sure, I ran the FooBarTest example with Maven Surefire, using `mvn surefire:test -Dtest=com.example.FooBarTest#testBar`, and sure enough - there was only one `testcase` entry in the xml - so the maven xml contains only tests that were actually run. This suggests that the test.xml produced by Bazel can also do this, only include what actually ran.

Your

[2018-02-01 08:14] aehlig opened #4555 "Darwin: different encodings expected, even for intern vfs library"
Internally, our libraries, when executed on Darwin, expect two different encodings. Everything that goes through native code, i.e., everything where our `C` code calls `fopen(3)` expects bazel's internal standard of using the unicode carachters 0 to 255 to represent a sequence of octets as a Java String. Everything that goes through a standard java library (that then does the system call) expects

[2018-02-01 08:17] aehlig commented on #4555
Choosing category "misc/misc" as the closest proxy to "internal cleanup". Not tagging it MacOs specific, as most likely a similar issue is present on Windows.

[2018-02-01 08:43] kcooney commented on #3201
@hmemcpy sounds like you can update `AntXmlResultWriter` to not print out the `testcase` elements if the status is FILTERED. That will sometimes leave behind empty `testsuite` elements; not sure if you need to remove them from the output.

[2018-02-01 09:27] iirina commented on #3958
bazel 0.10.0 is now released.

@petemounce @ilovezfs Can you update Chocolatey and HomeBrew please?

[2018-02-01 09:50] lberki commented on #2805
Here's the plan: we are going to add a `linker_param_files` attribute to `cc_binary` which will tell Bazel to add options in it to the linker command line.

Then you can write a `genrule` that takes the commit hash out of the linkstamp information (`stable-status.txt`), writes `-Wl,--build-id=<commithash>` to a file, then add that to this new attribute on `cc_binary`.

LGTY?

[2018-02-01 09:56] laszlocsomor commented on #4542
Actually, we no longer use that genrule, we just link in a prebuilt object file.
Starting from Bazel 0.10.0 we can use the `cc_import` rule to import the file cleanly.
The reason I ditched the genrule was that we had no reliable way to find the resource compiler, and I didn't want the success of building Bazel depend on such an unimportant detail as whether we can build its icon.

[2018-02-01 10:30] ilovezfs commented on #3958
https://github.com/Homebrew/homebrew-core/pull/23560

[2018-02-01 10:34] ilovezfs commented on #3958
shipped.

[2018-02-01 10:47] mhlopko commented on #317
This is now implemented for tree artifacts (not only zip archives). Example on stack overflow: https://stackoverflow.com/questions/48417712/how-to-build-static-library-from-the-generated-source-files-using-bazel-build.

I'll close this issue now, please comment if I'm wrong for C++, or comment/create corresponding issues for other languages. Thanks!

[2018-02-01 10:47] #317 closed

[2018-02-01 10:48] meteorcloudy commented on #4542
Good news, I exported `find_vc_path` and `find_msvc_tool` skylark functions from Bazel, so people can use them to find VC tools and configure their tool in a repository rule, including the resource compiler.
See https://github.com/bazelbuild/bazel/commit/ff12a22fde96a28d6ad1279b60a421163e772aa6

`cc_import` currently doesn't support `.res` file in srcs, but I guess we can add it.

[2018-02-01 10:51] meteorcloudy commented on #4542
Sorry, just noticed rc.exe is under `C:\Program Files (x86)\Windows Kits\8.1\bin\x64`, so `find_msvc_tool` doesn't work..

[2018-02-01 10:59] excitoon opened #4556 "Linking against system libraries on Windows"
### Description of the problem / feature request:

As specified [here](https://github.com/bazelbuild/bazel/issues/1945#issuecomment-255723827) I tried to link my binary against system library using `linkopts = ["-Wl,advapi32.lib"]` but it looks like it does no longer work:
[code]

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Pleas

[2018-02-01 11:32] petemounce commented on #4049
Came across https://www.onitato.com/post/running-chocolatey-on-linux/, adding here for later reference.

[2018-02-01 11:44] petemounce commented on #4049
@damienmg please create a bazel-team account on chocolatey.org that I can then invite to become a package maintainer of bazel there?

[2018-02-01 11:48] lberki commented on #4544
(downgrading this to P2 for lack of data that would support this being P1)

[2018-02-01 11:49] excitoon commented on #4508
I've created reproduction repository of this or very similar bug for your convenience:
https://github.com/excitoon/bazel-issues/tree/master/external-top-level-directory

Right now if one run `bazel build ...` in `external` directory it produces the following error:
[code]

[2018-02-01 11:55] meteorcloudy commented on #4556
That's because we no long have the wrapper script to do the translation.
Try `linkopts = ["-DEFAULTLIB:advapi32.lib"]`

[2018-02-01 11:59] excitoon commented on #4060
I've made an example of failing build if a directory starts with dot for your convenience:
https://github.com/excitoon/bazel-issues/tree/master/top-level-directories-starting-with-dot

[code]

[2018-02-01 12:02] excitoon commented on #4556
Thank you very much.

[2018-02-01 12:02] #4556 closed

[2018-02-01 12:11] excavador commented on #4545
@aehlig @meteorcloudy hello, guys!
I am so sorry for my pure english.
Can you please provide some feedback?
1.  How clear problem has described now?
2. Can you reproduce this behavior?
3. Can you confirm the severity of this problem?
Thank you!

[2018-02-01 12:14] meteorcloudy opened #4557 "CI: external_integration_test is failing on Linux"
https://ci.bazel.build/blue/organizations/jenkins/bazel-tests/detail/bazel-tests/1887/pipeline
Culprit: https://github.com/bazelbuild/bazel/commit/7e6837cc1d1aa4259f5c27ba3606b277b5f6c3e9
@aehlig

[2018-02-01 12:30] oswcab commented on #4483
Does 0.10 solve this?

[2018-02-01 13:09] dslomov commented on #4545
Is it critical that the repo is private repo? (I cannot repro with public repos)

[2018-02-01 13:17] dslomov commented on #4545
I cannot repro witth a private repro either. The repo is https://bitbucket.org/dslomov/repro-4545, I can invite you to it to have a look.
[code]

[2018-02-01 13:17] excavador commented on #4545
@dslomov you have three reports:
1. First one (which affected) - it's private in my case, I think it's not important
2. Second one - public bazelbuild repo - which I define by ```load('@bazel_tools//tools/build_defs/repo:git.bzl', system_git_repository = 'git_repository')```
3. Third one - public bazelbuild repo - dependency of second.

During external repo fetch second one fetched, while it's dep

[2018-02-01 13:21] excavador commented on #4545
@dslomov other words - I do not have stable reproduction case.

First time we saw problem two weeks ago, I decided what developer misclicked something in IDEA.
Second time was few days ago on my eyes - developer updated our repo (first repo in my description), execute bazel build, bazel_skylib failed to fetch (dependency of bazel_gazelle) and after that first what I made - checked .git/config, it

[2018-02-01 13:21] excavador commented on #4545
@dslomov I highlight what repo is private, because this private repo can be published by accident to public.

[2018-02-01 13:24] htuch commented on #2805
@lberki LGTM,thanks. One question; what will happen to other linker params that are inserted by CROSSTOOLS or via the Bazel internally? I'm kind of worried we might still see the `--build_id=md5` injected prior to our linker options?

[2018-02-01 13:25] hmemcpy commented on #3201
@kcooney in that case, the fix seems trivial: add a check in `writeTestCases` to skip those whose status is `FILTERED`. I wonder if there's anything else I'm not considering here?

[2018-02-01 13:32] dslomov commented on #4545
well, that's obviously not great, but since we do not have a repro case, I do not really know what to do here :(

Long term solution is to deprecate and remove native.git_repository and jgit in general, we should prioritize that.
I took a look at jgit bug tracker, but I have not found anything relevant.

Any good suggestions on how to proceed? All I have is:
- if that repeats, try to idenify the r

[2018-02-01 13:34] excavador commented on #4545
@dslomov It's repeat, but is can not be reproduced repeatedly.

For repro you need some network failure on fetch third-dependency.
Seems like it reproduced in following cases:

1. You already have some external repo fetched
2. You updated version of this external repo
3. You run something which force to re-load this repo
4. You receive network failure on this fetch.

[2018-02-01 13:36] excavador commented on #4545
@dslomov other words - I'm 90% sure the problem on errors processing from jgit.
jgit raise some exception on network failure and bazel does not process it correctly - and add remote url to wrong git checkout

[2018-02-01 13:42] davido commented on #4483
@oswcab Yes. Check @paladox comment: "bazel 0.10 rc6 fixes this for me."

[2018-02-01 13:50] lberki commented on #2805
I was hoping that later `--build-id` options supersede former ones. Isn't that the case?

[2018-02-01 13:55] htuch commented on #4524
@jmillikin-stripe if we have https://github.com/bazelbuild/bazel/pull/4031 in the next release, it seems this won't allow us to drop the cc_configure.bzl fork still, since we need to be able to override this for OSS-Fuzz as described above. Thoughts?

[2018-02-01 13:56] htuch commented on #2805
Yeah, seems likely but needs verification. Ideally we have some Bazel test for this functionality that demonstrates this.

[2018-02-01 14:00] dslomov commented on #4545
One thing I do not understand is where the https://github.com/bazelbuild/bazel-skylib comes from.
If your WORKSPACE file does not mention it, bazel should not find it - we do not read WORKSPACEs from external repos.

[2018-02-01 14:04] yuanbuckingham commented on #4554
Sorry, putted in a wrong place.

[2018-02-01 14:04] #4554 closed

[2018-02-01 14:04] dslomov commented on #4545
Oh I see, it is because you are using a pseudo-recursive workspace trick, with loading a `def.bzl` file.
A workaround (not ideal): redefine the offending repos in your own WORKSPACE using non-native `git_repositiory`

[2018-02-01 14:05] excavador commented on #4545
@dslomov

[code]
https://github.com/bazelbuild/bazel-gazelle/blob/7585a43dbca7efcb5647f8c9000cd68926daaa9a/deps.bzl#L18

gazelle_dependencies() function

[2018-02-01 14:06] excavador commented on #4545
A workaround (not ideal): redefine the offending repos in your own WORKSPACE using non-native git_repositiory

Good workaround, thank you. But we can not override all repositories from all pseudo-recursive tricks...

[2018-02-01 14:12] ittaiz commented on #4544
I meant repetitive, sorry

[2018-02-01 14:14] excavador commented on #4545
So, I guess it's combination of update bazel-gazelle (which requires new, unknown in my bazel external repository checkout commit) and network failure of git clone.

Somewhere bazel make "git remote set-url" on this case, and if dependency checkout removed already, this update go to your workspace repository

[2018-02-01 14:26] MarkusTeufelberger commented on #2460
Happy birthday issue #2460!

I also ran into this issue with golang's `vendor` folders that I want to ignore completely when running `bazel test //...`

It would be great to be able to ignore a folder AND all its subfolders, because maintaining a list of ignored folders is a bit much...

That being said `--deleted_packages` is also not the most intuitive name for this functionality.

[2018-02-01 14:37] #4557 closed

[2018-02-01 14:38] jwnimmer-tri commented on #2460
As `katre` notes above, a work-around is to:
1. Commit an empty `thing/WORKSPACE` file.
2. Add to your `WORKSPACE` file a rule:
[code]
Then, commands on `//...` will skip `thing` and all of its sub-packages.

[2018-02-01 14:41] dslomov commented on #4545
I tried to repro this, also emulating network failures, but couldn't.
As @excavaodor points out in the privite mail, the problem is most likely here: https://github.com/bazelbuild/bazel/blob/ac0d354437c15003e79ec0fec168762cc9b676de/src/main/java/com/google/devtools/build/lib/bazel/repository/GitCloner.java#L189, which suggests jgit issue (all the cloning and `git remote set-url` equivalents happen

[2018-02-01 14:46] lberki commented on #4544
Adding back the P1 label after in person discussion with @dslomov ; I wasn't aware that this is a blocker for you.

[2018-02-01 14:50] ittaiz commented on #4544
Thanks!
On Thu, 1 Feb 2018 at 16:46 lberki <notifications@github.com> wrote:

[2018-02-01 14:54] mhlopko commented on #2805
Since 724706ba4836c3366fc85b40ed50ccf92f4c3882 bazel doesn't not emit --build-id=md5

[2018-02-01 15:06] kcooney commented on #3201
@hmemcpy if all test cases in a test class are filtered out should we emit a `<testsuite>` element for the test class?

[2018-02-01 15:08] hmemcpy commented on #3201
Good question... I think so, since we still would like to show it as an element in the UI (intellij), I think, it just won't have any test cases...

[2018-02-01 15:10] MarkusTeufelberger commented on #2460
[code]

`bazel build //thing/...` now has lots of lines like this:

`ERROR: /home/XXX/thing/BUILD.bazel:3:1: no such package 'thing/vendor/github.com/pkg/errors': Invalid package reference thing/vendor/github.com/pkg/errors crosses into repository @ignore_vendor: did you mean to use @ignore_vendor//github.com/pkg/errors instead? and referenced by '//thing:go_default_library'`

The `gazelle` tool u

[2018-02-01 15:15] buchgr opened #4558 "Bazel doesn't track system libraries."
Bazel currently does not track tools outside a workspace. This can be a problem if, for example, an action uses a compiler from `/usr/bin/`. Then, two users with different
compilers installed will wrongly share cache hits because the outputs are different but they have the same action hash.

[2018-02-01 15:26] excavador commented on #4545
@dslomov I made it already:
https://github.com/bazelbuild/bazel/pull/3823

The problem is following: I can not stable reproduce it, as result, I never can be sure helped it or not.
From other hands, when problem reproduced - I can not switch to own version of bazel and check for the reason...

[2018-02-01 15:29] dslomov commented on #4545
of course. What I was suggesting was that you distribute the modified version of Bazel in your team and observe if the problem occurs over time.

[2018-02-01 15:34] excavador commented on #4545
@dslomov got it, thank you.
On next reproduction I will contact you with request to debug assistant.

I read the document "Future of external repositories".
When we can wait to remove of "native.git_repository", how do you estimate?

[2018-02-01 17:24] #4483 closed

[2018-02-01 17:26] #4299 closed

[2018-02-01 17:28] sergiocampama commented on #3940
#4312 has more info on what's missing in the CROSSTOOL

[2018-02-01 17:49] #3994 closed

[2018-02-01 17:52] jmillikin-stripe commented on #4524
If we can use the C++ toolchain support to define a custom `envoy_cc_binary` rule, then we can use it to do all the flag editing we want without having to worry about the crosstool. It should also be easier to keep up-to-date as the Bazel API changes, since we'll be poking at far fewer internal surfaces.

[2018-02-01 18:07] excitoon opened #4560 "How would you recommend to describe DLL with some header files?"
### Description of the problem / feature request:

Hi.

As I can see, generating DLLs is implemented using `cc_binary()` rules:
https://github.com/bazelbuild/bazel/blob/master/examples/windows/dll/BUILD

Sometimes we ship these libraries along with some definitions in headers like custom types and signatures of functions. Unfortunately, `cc_binary()` does not allow to specify `hdrs` to cleanly con

[2018-02-01 18:11] katre commented on #3959
Taking 00d781ae78a8bd51d3c61b621d79f0bb095aff9e as the baseline (from last night's nightly run: https://ci.bazel.build/view/Dashboard/job/bazel/job/nightly/212/)

Next step is to build the RC, then start filing bugs on the test failures.

[2018-02-01 18:13] katre commented on #3959
Release note edits:
None.

[2018-02-01 18:17] katre commented on #3959
Release is pushed, waiting for https://ci.bazel.build/job/bazel/job/release/1282/ to finish

[2018-02-01 18:22] excitoon commented on #4542
I would like to mention that the pipeline is slightly different - first, we create RES from RC by `res.exe`, then OBJ from RES by `cvtres.exe` (which is located near the linker) and finally link OBJ to the binary.

Can you advise how to find path to SDK for selected toolchain in order to generate RES properly?

[2018-02-01 18:39] mmorearty commented on #3360
0.10.0 is out now. Just double-checking, I take it this issue is not fixed in 0.10.0, correct?

[2018-02-01 19:36] excitoon opened #4561 "Building Windows DLL without exports fails"
### Description of the problem / feature request:

In order to produce import library for a DLL bazel uses `/IMPLIB` flag of the linker and expect that it will force creating import library in the place specified:
https://msdn.microsoft.com/en-us/library/67wc07b9.aspx

Unfortunately, this flag is not managing the fact of creating or not creating import library but only sets the name for it. If DLL

[2018-02-01 19:39] katre opened #4562 "stub_finds_runfiles_test failing on nightly"
Error:
[code]

Failing in many different configurations, see here: https://ci.bazel.build/blue/organizations/jenkins/Global%2Fbazel-tests/detail/bazel-tests/482/tests

[2018-02-01 19:46] katre opened #4563 "//src/test/shell/bazel/android:android_instrumentation_test_integration_test failing on CI"
Test test appears to be failing due to errors in the manifest:
[code]

See details at: https://ci.bazel.build/blue/organizations/jenkins/Global%2Fbazel-tests/detail/bazel-tests/482/tests

[2018-02-01 19:57] jin commented on #4563
Looking

[2018-02-01 20:16] philwo commented on #4562
Umm.. why did you assign this to me? This test is horrible - doesn't redirect anything to $TEST_log and doesn't even encapsulate its code in a test_* function so that the test framework probably won't work at all. This is why we don't get any good log or stack trace from the test.

Can you find out who the original owner of this test is via the internal file history (public Git history only shows

[2018-02-01 20:17] katre commented on #4562
Sorry, I was looking for people with insight into runfiles. I'll reassign to myself and start investigating as you suggest.

[2018-02-01 20:20] jin commented on #4563
I can't reproduce this on macOS and Linux. Also, the test seems to be passing in the main pipeline: https://ci.bazel.build/blue/rest/organizations/jenkins/pipelines/Global/pipelines/bazel-tests/runs/482/nodes/30/steps/439/log/?start=0

[code]

[2018-02-01 20:21] thomasvl commented on #4544
Drive by -

Seems like this will ripple though every `[lang]_proto_library` implementation since the relative paths change, they will need to insure whatever the language has in the way of search paths also tracks this differences in how things are generated.

If protoc finds something via `q/a/b.proto` and `a/b.proto` doesn't it error because of the collision on the `package.type` name and those

[2018-02-01 20:26] philwo commented on #4562
Oh, OK! Sorry, I don't know much about runfiles :(

Pinging @laszlocsomor just in case he has any clue what this might be about.

[2018-02-01 20:30] petemounce commented on #3958
Shipped:

* https://chocolatey.org/packages/bazel/0.10.0-rc7
* https://chocolatey.org/packages/bazel/0.10.0-rc8
* https://chocolatey.org/packages/bazel/0.10.0

Also, a bit of progress with #4049 via #4559.

[2018-02-01 20:31] roblg opened #4564 "bazel 0.10.0 suppresses output of warnings that trigger failure with `-Werror` javacopt"
### Description of the problem

After upgrading to bazel 0.10.0, we had a project fail with `error: warnings found and -Werror specified`, with no other info (and no description of the warning). We do run with `-Werror`, so that part isn't surprising, but the lack of any actionable information was surprising.

It looks to be related to very recent changes around filtering messages based on diagnos

[2018-02-01 20:38] thomasvl commented on #4544
Right, but protoc makes sure all the types defined during a generation run are unique.  So if the same files is loaded via two paths, it will appear to be a collision on defining those types.

[2018-02-01 20:41] ola-rozenfeld opened #4565 "repeating any test with same invocation id gives NO STATUS"
To reproduce:

export BAZEL_INTERNAL_INVOCATION_ID=d6d3f134-70ae-4e25-a4ca-53fd35c5e63e
bazel test  hello-world_test
bazel test  hello-world_test

It doesn't matter whether the test passes or fails -- on the second run, Bazel returns:

//:hello-world_test                                                   NO STATUS
Executed 0 out of 1 test: 1 was skipped.

This is not a new bug, I see it as far bac

[2018-02-01 21:03] katre commented on #4562
I can reproduce this, but only by running the test with Bazel built from HEAD. So it's some kind of interaction in the test environment, I suspect.

First try at fixing will be to make this a real sh_test, I guess.

[2018-02-01 21:41] ittaiz commented on #4544
I might be missing something but why is that a big issue? People should use
one form or another (at least for the same file)
On Thu, 1 Feb 2018 at 22:38 Thomas Van Lenten <notifications@github.com>
wrote:

[2018-02-01 21:48] jin opened #4566 "native.bazel_version does not exist in the Homebrew distribution"
Is this working as intended? Homebrew compiles using `compile.sh` and sets its own version name, but somehow the `bazel_version` attribute is not set in the `native` module.

Location where the version name is generated in Homebrew: https://github.com/Homebrew/homebrew-core/blob/master/Formula/bazel.rb#L18

This is causing issues for version checks like in https://github.com/bazelbuild/bazel-skyli

[2018-02-01 21:55] katre opened #4567 "Tutorial is broken with rules_apple 0.2.0"
The ios tutorial on CI is broken due to incompatibility between Bazel at HEAD and rules_apple 0.2.0. Tracking in that repository as https://github.com/bazelbuild/examples/issues/54.

This is not a release blocker, but shows up as a failed test in CI.

[2018-02-01 22:10] katre commented on #4563
This is failing fairly consistently on CI. I can work with you to try and reproduce it there.

[2018-02-01 22:41] wltjr commented on #3410
Just passing by a unrelated search brought me here. You may find my [Java 9 Cheat Sheet](https://github.com/Obsidian-StudiosInc/java9-cheat-sheet) of interest. Also if you have any specific build issues I may be able to help. I am not familiar with bazelbuild, but I have some [800-1K packages](https://github.com/Obsidian-StudiosInc/os-xtoo/tree/master/dev-java) built from source under Java 9. Albe

[2018-02-01 22:45] jin commented on #4563
This seems to be the actual error:

[code]

[2018-02-01 22:47] cushon commented on #3410
For the Java EE stuff like `java.activation` and `java.xml.bind` we've been migrating to the explicit dependencies recommended in http://openjdk.java.net/jeps/320, since those modules are deprecated in 9 and will eventually be removed.

[2018-02-01 23:05] aj-michael commented on #4563
I logged into ubuntu_14.04-x86_64-4, cloned the git repo at head, added an Android SDK, ran this command line and it passed:

[code]

[2018-02-01 23:07] aj-michael commented on #4563
@katre are you sure that it is failing consistently? I only see this single failure, which seems to have been caused by the Bazel server dying. Since the sandbox was enabled, I cannot recover the JVM log file. And since we cannot reproduce, this seems like a flake.

[2018-02-01 23:54] aj-michael commented on #4563
Ok, I was able to reproduce on the CI. It is 2% flaky.

[code]

Unfortunately the jvm.out files were still deleted...

[2018-02-02 00:09] jin commented on #4563
@aj-michael thanks! looks like it's 0.5% and not 2%?

[2018-02-02 02:06] fjiaodb opened #4568 "How to find the target failed build from build event protocol?"
According to documents of Bazel's build event protocol (https://docs.bazel.build/versions/master/build-event-protocol.html), if we run a target using "bazel test", for the failed tests there will be a label field in the TestResult event which indicated the target failed. But we don't find an easy way to get the failed build target, when there's a build failure the error message can ended up in one

[2018-02-02 04:20] sergiocampama commented on #4567
Should the examples be updated to the HEAD version of rules_apple as well? both bazel and rules_apple are in constant evolution, paired together, so they should both be advanced in tandem.

[2018-02-02 04:33] sergiocampama commented on #4544
one the issues is that protobuf might not be expecting this use case, which means that even if proto_library supports it, the underlying proto compiler might not, so you won't be able to use it. another issue is that import statements may be used by certain lang generators, like c++ or objc, which means that some expectations are going to change, so they also need to be vetted before rolling a fea

[2018-02-02 04:43] davido commented on #4483
[Yes](https://github.com/bazelbuild/bazel/releases/tag/0.10.0).

[2018-02-02 04:53] ittaiz commented on #4544
This isn’t feasible because of the accounting that’s needed between all of
the workspaces.
We’re talking about many such locations so that’s not really an option.
Re protoc I already hacked together a change to rules_scala to have that
use-I to also pass in the files locations as if they were from the package
and it didn’t have a problem.
On Fri, 2 Feb 2018 at 6:33 Sergio Campamá <notifications@gi

[2018-02-02 07:35] ulfjack commented on #3360
That's right - the changes didn't make it into 0.10.0, and it's also disabled right now.

[2018-02-02 07:36] benjaminp commented on #4546
I'm curious what precisely you're observing and how you came to the conclusion the test action depends on the runfiles input manifest. On Unix without `--nobuild_runfile_links`, a `*.runfiles_manifest` file should only appear as the input to the symlink tree building action.

Note the input hash of a test action in the (local) action cache will contain the influence of absolute paths because it de

[2018-02-02 08:00] laszlocsomor commented on #4562
This is the source of the error:

https://github.com/bazelbuild/bazel/blob/b534e6be304f06a40c10ba7834625c5222bb9154/src/test/shell/integration/stub_finds_runfiles_test.sh#L100

The error message says "/io_bazel/src/bazel: No such file or directory", so the test cannot find `bazel`. That's strange given that `//src:bazel` is a data-dependency of it:

https://github.com/bazelbuild/bazel/blob/b534e6b

[2018-02-02 08:19] excitoon opened #4569 "Build statistics report"
### Description of the problem / feature request:

Hi.

How should I find out how many targets were built and how many targets failed/did not build (specifically, when using `-k` flag)?

Also, see https://github.com/bazelbuild/bazel/issues/2846.

###  Have you found anything relevant by searching the web?

Nothing.

[2018-02-02 08:20] lberki commented on #2815
What we'll do is to make it so that if you do `bazel run <test target>`, you'd get an actual interactive shell done by `exec()`ing the test from the client.

This will also obviate the need for the `blaze-run.sh` that does the same and that we haven't open sourced for reasons of shame. A long-standing bug to be solved!

[2018-02-02 08:22] lberki commented on #2815
/cc @laszlocsomor -- I'm not planning to implement this for Windows and replace it instead with an `"ERROR: not implemented"` message

[2018-02-02 08:30] laszlocsomor commented on #2815
Acknowledged, thanks for letting me know!

[2018-02-02 08:39] lberki commented on #2815
Note to self: make it possible to convey the current directory of the client somehow because that's what one would intuitively expect. This requirement is at odds with using `bazel run` to run tests because tests expect a specific pwd, so we'll have to come up with something smart.

[2018-02-02 08:54] mhlopko commented on #4412
Great, so I'll close this issue now and will take a look on #4480. Thanks!

[2018-02-02 08:54] #4412 closed

[2018-02-02 09:12] oquenchil opened #4570 "Implement C++ Starlark API"
### Description of the problem / feature request:
The API should expose to Skylark from Java the logic for the creation of compilation and linking actions.

### Feature requests: what underlying problem are you trying to solve with this feature?

The main problem to solve is inter-operability between different rules/languages that have dependencies on C++ code.

Design doc:https://docs.google.com/

[2018-02-02 09:47] mhlopko commented on #3558
There's `get_tool_for_action`, isn't that what you need? Also feel free to comment directly on the doc.

[2018-02-02 09:55] mhlopko opened #4571 "Implement Skylark API for C++ toolchain/feature configuration"
Current API only works for legacy CROSSTOOL fields such as `compiler_flag`, whereas C++ rules work on top of the "feature configuration" using `action_config` and `feature` messages. Implement a new API that will replace the existing one and that will work with feature configuration.

[2018-02-02 09:59] mhlopko commented on #1920
Nope :/ I don't expect any development in this area before #4570 is implemented.

[2018-02-02 10:08] mhlopko commented on #4383
@laszlocsomor Is this something your work on runfiles will make simple(r)? :)

[2018-02-02 10:12] mhlopko commented on #4342
What exactly are you requesting? :) What do you want to do with protos and Skylark?

[2018-02-02 10:14] laszlocsomor commented on #4383
@mhlopko : The runfiles library will make it very easy to _use_ runfiles, once they are available one way or another. _Packaging_ the runfiles is a separate issue; my work is unrelated to that.

[2018-02-02 10:17] mhlopko commented on #4383
Ok, thanks for the info!

[2018-02-02 11:37] mhlopko commented on #4374
Not really, just the code. The TLDR is that bazel executes that code before the build starts to configure the C++ toolchain.

[2018-02-02 12:22] dongzhuoyao commented on #4255
also confused by this sentence

[2018-02-02 13:55] dolphineye commented on #4312
We have the same issue in my organisation. We haven't found any workaround for now. The problem is not fixed with the latest 0.10.0-homebrew version. Any news? Thanks for your help :)

[2018-02-02 14:16] excitoon commented on #4561
The same error in tensorflow:
[code]

[2018-02-02 14:24] iphydf opened #4572 "Inclusion checking is broken in 0.10.0"
[code]

https://github.com/iphydf/toktok-stack/blob/build-yasm/third_party/BUILD.yasm
https://github.com/iphydf/toktok-stack/blob/build-yasm/WORKSPACE

[2018-02-02 14:43] katre commented on #4562
Yeah, looks like the "unset TEST_SRCDIR" might be the problem. I have a fix (basically just removes that), but I'm going to bisect this morning and figure out what change in Bazel actually causes this.

[2018-02-02 14:45] katre commented on #4567
The intent of the examples is to be a google base for people to copy for new projects, so we should demonstrate correct use of the latest release.

That said, rules_apple needs a new release to be compatible with Bazel 0.10.0, and then the examples should be updated as well.

[2018-02-02 14:48] katre commented on #4563
Thank you for taking a look.

Looking at the RC bazel-tests invocation, I see related failures in the following tests:
- node=linux-x86_64,python_version=2 / [node=linux-x86_64,python_version=2] Results / test_target_package_no_package_specified_build_failure
- node=linux-x86_64,python_version=2 / [node=linux-x86_64,python_version=2] Results / test_incorrect_target_package_build_failure

Is it jus

[2018-02-02 14:48] htuch commented on #2815
So, one comment on the `bazel run` approach. I think that this will get us most of the way there. Where it falls slightly short is it's not a full repeater environment for a `bazel test` execution, since the `cc_test` `args` are not supplied AFAIK to the `bazel run` invocation. So, I think ideally if we could use whatever mechanism is being built but still get a full fidelity test execution it wil

[2018-02-02 15:28] sxhmilyoyo opened #4573 "rule is missing dependency declarations for the following files included by 'tensorflow/core/lib/hash/crc32c_accelerate.cc'"
### Description of the problem / feature request:

rc32c_accelerate_internal':
this rule is missing dependency declarations for the following files included by 'tensorflow/core/lib/hash/crc32c_accelerate.cc':
  '/infolab/infolab5/haoxu/Library/anaconda/envs/anapy27/lib/gcc/x86_64-conda_cos6-linux-gnu/7.2.0/include/stddef.h'
  '/infolab/infolab5/haoxu/Library/anaconda/envs/anapy27/lib/gcc/x86_64-co

[2018-02-02 15:36] katre commented on #4562
Okay, here's the issue, in @laszlocsomor's change 8130287c0a921816ada6aa95eb968c1d8e6c1b0f, in tools/test/test-setup.sh, where it changes to using TEST_SRCDIR in the implementation of rlocation. Since this test unsets TEST_SRCDIR, that leaves the path to bazel as "/io_bazel/src/bazel".

[2018-02-02 15:41] thomasvl commented on #4544
Say you have:

[code]

Now you add something new:

[code]

The imports on baz can be short because they use this new feature.  `bar.proto` will be found as `bar.proto` for the direct import from `baz` and it will be found as `foo/bar/bar.proto` during the import of `foo.proto`.  So all of those types will appear to be defined twice (the package.name is what defines the type).  So generation would

[2018-02-02 15:42] katre commented on #4562
Going ahead and importing https://bazel-review.googlesource.com/c/bazel/+/35850 to fix this.

[2018-02-02 15:44] sergiocampama commented on #4544
Another option, could maven's config for protos be modified to accept repo-relative paths for proto imports? not really sure how that works either

[2018-02-02 15:46] laszlocsomor commented on #4562
Ouch. Thanks for figuring that out!

[2018-02-02 15:50] jin commented on #4563
There are two other tests in the file that tests for similar `assert_build_failure` cases too, but they passed. It seems like there is an underlying source, but it does not seem to me that it's due to the test and the code under test.

[2018-02-02 18:31] sergiocampama commented on #4567
I'm looking into that

[2018-02-02 19:29] lberki commented on #2815
Well, you are 50% right :) I agree that it's not a full fidelity execution and that was one of the disadvantages of the approach I'm taking, but it gets us there much earlier than the 100% solution and it has the advantage of finally fixing a few decada e-old (!) bugs in `bazel run`.

However, the difference is not the command line arguments. Those will be handled correctly. It's that if I navigat

[2018-02-02 22:11] jono-chan opened #4574 "Failing to source a generated file when custom rule runs."
### Description of the problem / feature request:
Attempting to build; encountering a problem when attempting to parse a file within a custom rule (.bzl file), and build fails as a result. The error states:
`Loading input failed: failed parsing source file frameworks/examples/helloworld/protos/helloworld.pb.go: open frameworks/examples/helloworld/protos/helloworld.pb.go: no such file or directory`

[2018-02-02 22:27] schroederc commented on #4255
The `_bazel` file just needs to be in one of the directories listed in your `fpath`.  The installation example shows how add a directory to your `fpath` and move the `_bazel` file into it, but if you already have a directory in your `fpath` that you prefer, you can move `_bazel` there instead.

It doesn't matter what the name of the directory is at all (`$HOME/.zsh/completion/` is just commonly us

[2018-02-02 23:22] robfig commented on #4398
I tried with bazel 0.10.0 and these errors still occur in the same way

[2018-02-02 23:37] buchgr opened #4575 "remote/performance: add gzip compression to HTTP remote cache"
The Apache client supported gzip, but the new Netty client doesn't.

cc: @jgavris

[2018-02-02 23:51] buchgr commented on #3360
@ulfjack with your equals method fix in, is there anything stopping us from enabling it again?

[2018-02-03 02:27] BenTheElder commented on #4558
Is there a workaround for this currently?
Can we just do something like `--action_env=COMPILER=<compiler version>`?

[2018-02-03 03:44] #4564 closed

[2018-02-03 10:23] jeness commented on #4353
Already set system path as above. But Bazel still stops working when run `bazel version` or `bazel`.

[2018-02-03 18:20] ocurr commented on #3861
Has there been any movement on this issue? I'm seeing the same problem on 0.9.0.

[2018-02-03 18:43] ittaiz commented on #4544
@thomasvl I think something got mixed up in the example.
You say

but nothing imports `baz.proto`, am I correct?

I'm not versed enough in protobuf to say if you're correct or not.
If you are then maybe this should be opt-in via a flag or indeed via repetition (we'll probably hide it in a macro)

[2018-02-03 19:08] thomasvl commented on #4544
Typo on my part, I meant the imports _in_ baz could be short if the proto_library rule there use this new support.

[2018-02-03 20:08] Androbin opened #4577 "[Feature] Special filegroup variant matching all files including subpackages"
### Description of the feature request:

Provide a special variant of `glob(["**/*"])` matching files in subpackages as well.

### What underlying problem are you trying to solve with this feature?

Getting rid of bloated `all_files` target hierarchies.
See tensorflow/tensorflow#15758 and tensorflow/tensorflow#16491 for reference.

###  Have you found anything relevant by searching the web?

The [

[2018-02-03 20:10] Androbin commented on #4577
@jart What exactly do you think are the tradeoffs here?

[2018-02-03 20:44] ittaiz commented on #4577
I don’t know why tensorflow needs this but I can say skylark rules could
also use this for easier e2es which need to import their own code into the
test workspace
On Sat, 3 Feb 2018 at 22:10 Robin Richtsfeld <notifications@github.com>
wrote:

[2018-02-03 20:52] Androbin commented on #4577
@ittaiz TensorFlow needs this mostly for sanity checks.
Plus, a `Makefile` build not fully determined in advance.

[2018-02-03 22:01] jgavris commented on #4575
Let's also add `Content-Type: 'application/octet-stream`. I noticed the newer objects in my GCS bucket do not have this set either.

https://cloud.google.com/storage/docs/transcoding

[2018-02-03 22:41] buchgr commented on #4558
@BenTheElder Yep exactly. It's not just compilers though it's any tools that your build uses from your system that you did not explicitly specify really.

[2018-02-03 22:51] neogia commented on #4566
I'm having the exact same issue. Is there a workaround in the meantime?

[2018-02-04 02:13] jin commented on #4566
@neogia The easiest workaround for now will be to install Bazel from https://github.com/bazelbuild/bazel/releases/tag/0.10.0

[2018-02-04 02:38] sharvil commented on #4383
Thanks for looking into this, @mhlopko and @lberki.

Does pkg_runfiles include the associated binary as well? If not, this feature request is for a slightly different behavior: to provide a packaging rule that produces a self-contained package of a binary and its runfiles.

[2018-02-04 04:53] jin commented on #4566
I've made a mistake debugging this - the version checking is working as intended. @neogia do you mind describing what your project set up is?

[2018-02-04 04:53] #4566 closed

[2018-02-04 09:29] dntwrd opened #4578 "Bazel on arm (banana pi m64)"
When installing the bazel on a banana-pi (os debian jessie), I had such a error. What to do?

`ERROR: /home/pi/tf/bazel-0.4.4/src/main/protobuf/BUILD:25:2: Java compilation in rule '//src/main/protobuf:extra_actions_base_java_proto' failed: Worker process sent response with exit code: 1.
java.lang.InternalError: Cannot find requested resource bundle for locale en_US
        at com.sun.tools.javac.

[2018-02-04 12:44] Androbin commented on #4577
Actually, this might as well just be a special value for `data` attributes.

[2018-02-04 14:01] edbaunton commented on #4558
Would the use of toolchains help with this?

[2018-02-04 18:42] dinowernli commented on #1372
+1 here, I am looking after a few bazel-piwered open source projects and having bazel generate the pom files (and perhaps even publish) would be very useful.

[2018-02-04 18:48] johnynek commented on #3769
@dbabkin Thanks a lot! It sounds like there are a lot more moving pieces now. Will the documentation be updated when this ships?

[2018-02-04 19:17] davido commented on #1372
Gerrit Code Review uses Bazel for publishing its artifacts to Maven Central. We have hand written pom.xml files, e.g.: [1], and we have [maven_package](https://github.com/GerritCodeReview/gerrit/blob/master/tools/maven/package.bzl#L27) rule, that uses [mvn.py](https://github.com/GerritCodeReview/gerrit/blob/master/tools/maven/mvn.py), that invokes `mvn`'s deploy_file/install_file behind the scenes

[2018-02-04 19:32] davido commented on #1372
FWIW, Buck has a dedicated [publish command](https://buckbuild.com/command/publish.html) to do the job. How does this work and know what Maven's coordinates and version to publish to? The oncept relies on `maven_coord` attribute of `java_library`. I don't fine the documentation, but it can be seen with this publish test fixture https://github.com/facebook/buck/blob/master/test/com/facebook/buck/cl

[2018-02-05 07:37] laszlocsomor commented on #4542
We are not aware of a reliable way to detect where `res.exe` resides. AFAIK it's part of the Windows SDK, not of VC or VS, and we haven't found a good way to detect where the SDK is installed.

[2018-02-05 07:43] laszlocsomor commented on #4542
I mean `rc.exe`, not `res.exe`. Or did you mean `res.exe`? I'm not aware of that tool, nor of `cvtres.exe`. How do you install those?

[2018-02-05 08:12] laszlocsomor commented on #4353
@jeness :  Is there more information, like an error code?

[2018-02-05 08:49] pranaypratyush opened #4580 "Version check fails for version 0.10.0"
### Description of the problem / feature request:

When checking for version requirements, Bazel doesn't qualify 0.10.0 as >= 0.4.5

[code]

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

`_check_bazel_version("Closure Rules", "0.4.5")`
 on Bazel version  0.10.0
### What operating system are you running Bazel on?

ubuntu 16.04

###

[2018-02-05 08:50] #4220 closed

[2018-02-05 08:50] davido commented on #4580
I see exactly the same breakage with rules_closure. The workaround is to upgrade rules_closure
to HEAD, as they removed this chek altogether.

[2018-02-05 09:07] mboes opened #4581 "Expose CC solib name mangling in Skylark"
### Description of the feature request

If a `cc_binary` depends on a dynamic library called `libfoo.so` produced by a `cc_library` target, one can notice that the binary _does not_ depend directly on `libfoo.so`, but instead of something like `libsome_Sname_Sbased_Son_Slabel_libfoo.so`. The reason for this is to avoid issues when two targets both build a `libfoo.so` and the binary depends on both

[2018-02-05 09:23] ulfjack commented on #3360
@buchgr not that I know of.

[2018-02-05 09:23] ulfjack commented on #3360
Maybe you can give it a try first?

[2018-02-05 09:35] ulfjack commented on #4558
Our naive proposal is to allow each toolchain to add a toolchain identifier into the cache key(s). The risk is that a bug (or a design flaw) in the toolchain might cause incorrect caching, but, on the other hand, it leaves the door open to toolchains that want to cache across platforms. E.g., a Java 7 compiler on Mac and Linux outputs essentially the same files, so caching those might be safe even

[2018-02-05 10:21] laszlocsomor commented on #4496
@rlguarino :

Try it -- in case it's a regression in newer Bazel versions, then that might help. But @rongjiecomputer 's advice also looks sound: try reinstalling Git under `c:\git` instead of `c:\program files\git`.

[2018-02-05 10:24] lberki commented on #4544
@thomasvl : yes, I'm worried about that situation, but it seems that it's also a problem with Maven's `protoSourceRoot`, so we at least wouldn't be any worse, would it?

 Ideally, `protoc` would disallow references by the "long" path if a short one exists., but absent that, what we could do in the long term is that instead of presenting the original source tree to protoc, we'd figure out which pro

[2018-02-05 12:37] steeve commented on #2988
Is there a hint so that we could fix it and perhaps submit a PR ?

[2018-02-05 12:48] c-parsons commented on #2988
We're not likely to get to this ourselves; we deemed this low priority internally.
If you'd like to go ahead and create a PR, you'll need to trace through ObjcLibrary.java and understand where the module name gets set; you can then hook through an attribute value to optionally change the default.

(I don't know off the top of my head what decides the default module name in terms of the end command

[2018-02-05 12:50] steeve commented on #2988
Makes total sense that's it's low priority.

That's exactly what I needed, we'll see how bad we want it and if so we'll submit a PR. Thanks!

[2018-02-05 13:35] thomasvl commented on #4544
The synlink tree would still have to use the real names, yes?  Because the proto files them selves will have `import` directives with the original authors directory structure.  Or are you talking about processing the files to rewrite those also?

Maven may have something like this now, but isn't that limited to to a single language then?  Doing this means all of the `[lang]_proto_library` rules wo

[2018-02-05 14:23] netdpb commented on #1372
+Ron Shapiro <ronshapiro@google.com>

On Sun, Feb 4, 2018 at 2:32 PM David Ostrovsky <notifications@github.com>
wrote:

[2018-02-05 14:47] 4ZM commented on #3760
I have the same problem trying to link with lto. `gcc-ar` doesn't call `ar`. But I don't understand the suggested workaround. What would the custom wrapper script for `ar` in the custom crosstool look like?

[2018-02-05 15:20] dslomov opened #4582 "Release - March 2018 - Target RC date: 2018-03-01 - name: 0.12.0"

[2018-02-05 15:21] dslomov opened #4583 "Release - March 2018 - Target RC date: 2018-04-02 - name: 0.13.0"

[2018-02-05 15:27] dslomov commented on #4582
@philwo lmk if you are unavailable on those dates

[2018-02-05 15:29] dslomov commented on #4583
@meteorcloudy lmk if you are not available on these dates

[2018-02-05 15:29] philwo commented on #4582
@dslomov Should work fine for me :)

[2018-02-05 15:38] laszlocsomor commented on #4149
Yes, @excitoon makes a good point.
We can't convince `cl.exe` to accept long paths, not even with a wrapper, nor with the registry key you mentioned.

[2018-02-05 16:08] katre commented on #4563
Wrong issue number on the patch.

[2018-02-05 16:08] katre commented on #4562
Fixed in ea2d4c475febdbd59ca0e0ba46adc7be759f84e0

[2018-02-05 16:16] robfig commented on #4398
Running with --experimental_java_coverage solves the NoClassDefFoundError but not the java.nio.file.DirectoryNotEmptyException. At least this means I can run tests with --jobs 1 and have them succeed. Wonderful.

[2018-02-05 16:19] robfig commented on #4398
(Looking at it again, I figured out that the NoClassDefFoundError was caused by the java_test depending on a java_binary target (accidentally) instead of java_library. It began working after correcting that.)

[2018-02-05 17:03] jmillikin-stripe commented on #4544
Each .proto file would only have one path, right? Whether the final implementation sets the import path explicitly or uses the add/strip attributes, the resulting target would have only a single path associated with it. There should be no confusion between short and long paths, nor any requirement for symlinks.

[2018-02-05 17:03] ittaiz opened #4584 "strict deps labels are incorrect when using non java_* rules"
### Description of the problem / feature request:

Strict deps labels are incorrect when using scala_import
I suspect the problem is in the java rules and not scala_import since java_rules seems to perform their own heuristics which breaks if a different "actor" is in play and scala_import here is accidental. I might be incorrect in my analysis but a few months ago when I debugged it this is what

[2018-02-05 17:03] ittaiz commented on #4584
cc @iirina @dbabkin

[2018-02-05 17:53] ola-rozenfeld opened #4585 "orphaned remote cached actions fallback broken"
When a remotely cached action result contains remotely missing file contents, the code is supposed to fallback to re-executing the action remotely. This is unit-tested as well. It is, however, still broken with gRPC remote cache, and the error bypasses the inadequate unit test.

[2018-02-05 19:38] rjogrady opened #4586 "RUNFILES_MANIFEST_FILE is set to a nonexistent path on Linux"
### Description of the problem / feature request:
RUNFILES_MANIFEST_FILE is set to a nonexistent place on Linux

### Feature requests: what underlying problem are you trying to solve with this feature?

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

const char* manifest_file_path = std::getenv("RUNFILES_MANIFEST_FILE");
FILE* f = fo

[2018-02-05 19:43] ronshapiro commented on #1372
I have more to write on this, but I think having that if `maven_jar`/`java_import_external` added a `tags = ["maven_coordinates=com.example.foo:foo-bar:version"]`, we could go a long way with a combination of `bazel query` and some skylark macros to generate the pom file.

[2018-02-05 20:59] ittaiz commented on #1372
maven_jar has this info.
You mean that dependencies dont have accessories this (as opposed to this
being exposed in an aspect for example)?
On Mon, 5 Feb 2018 at 21:43 Ron Shapiro <notifications@github.com> wrote:

[2018-02-05 21:52] benjaminp commented on #3760
Your custom wrapper script would read the param file and exec `gcc-ar` with the arguments directly.

[2018-02-05 21:55] ronshapiro commented on #1372
@ittaiz I believe that's only accessible if you use the `//external` package. Those won't show up in `bazel query deps(//foo:bar)` that depends on a `maven_jar` (unless I'm doing something wrong).

[2018-02-05 22:04] benjaminp opened #4588 "test-setup.sh fallback xml has wrong name with --run_under"
`test-setup.sh` infers the test name from its arguments but this can be wrong if `--run_under` is used:
[code]

[2018-02-06 06:54] ittaiz commented on #1372
I misread your comment, I now understand you suggested adding a property to the generated java_import rule.
I think one of the biggest issues I have with  java_import_external is that it's missing a level of abstraction (no `artifact` attribute, no support for maven_server`) and so also the attribute you're suggesting sounds a bit mismatched there.
I think we need a maven_import_external that shou

[2018-02-06 07:40] benjaminp commented on #4090
@ulfjack, how do you want to proceed?

[2018-02-06 07:58] ulfjack commented on #4090
:-( Sorry I dropped this. I think we'll submit the change as is.

[2018-02-06 13:18] ulfjack commented on #4090
Merged as ff179a3b3a97cd91037a2d3fb8a9792b1cc96d36.

[2018-02-06 13:18] #4090 closed

[2018-02-06 14:44] MarkusTeufelberger commented on #4434
This does not seem to be a problem on my machine (Ubuntu 16.04). I ran `ar -x mypackage.deb` and the files have 644 permissions...

[2018-02-06 15:01] MarkusTeufelberger opened #4590 "pkg_deb creates deb files with executable flag set"
### Description of the problem / feature request:

Deb files created by bazel are marked as executable. They shouldn't be.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[code]

The `foo.deb` file will have the executable bits set, with mode `0o555`

### What operating system are you running Bazel on?

Ubuntu 16.04 LTS

### What's

[2018-02-06 16:13] pmuetschard opened #4591 "The Android rules require python to be on the PATH"
### Description of the problem / feature request:

Part of the Android rules for bazel don't look for Python correctly and require it to be on the `PATH`.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Remove python from the `PATH`, but keep it in the standard place or set `BAZEL_PYTHON` to the location of python as instructed by t

[2018-02-06 16:15] katre opened #4592 "Convert Java rules to use Toolchain Resolution"
Toolchain resolution is available in native rules. Java rules should be updated to use toolchain resolution and platforms, rather than the existing javabase and java_toolchain options in [JavaOptions](https://source.bazel.build/bazel/+/5be4dd62ee5d7bf3730ab2099829dc7f87ef2e94:src/main/java/com/google/devtools/build/lib/rules/java/JavaOptions.java;l=43).

[2018-02-06 16:16] katre commented on #4592
Some work has been done already to convert JavaToolchainProvider and JavaRuntimeInfo into ToolchainInfo instances. Future work will be to centralize access to those objects, and then convert them to use toolchain resolution instead of the current late-bound-attributes for lookup.

[2018-02-06 16:16] lberki commented on #4592
to be clear: I thought you were working on this. In what areas do you require my help?

[2018-02-06 16:17] katre commented on #4592
Mostly I need help in terms of code and design reviews. This isn't scheduled and I'll only be tackling it on a best-effort basis.

[2018-02-06 16:26] lberki commented on #4592
Excellent, then we are on the same page. I'd love to see this happen, but I also can't commit more time than the occasional code/design review.

[2018-02-06 17:03] sergiocampama commented on #4312
This should be fixed at head, probably will take a while to get rolled out.

[2018-02-06 17:03] #4312 closed

[2018-02-06 17:03] sergiocampama commented on #3940
This should be fixed at head, probably will take a while to get rolled out to a release binary.

[2018-02-06 17:03] sergiocampama commented on #3372
This should be fixed at head, probably will take a while to get rolled out to a release binary.

[2018-02-06 17:28] ahumesky commented on #4591
Laszlo, could you take a look? None of us have a windows machine to verify this on.

[2018-02-06 17:34] laszlocsomor commented on #3959
@katre : Please replace the following in the release notes:

With this:

[2018-02-06 17:35] laszlocsomor commented on #4591
I'll take a look.

[2018-02-06 17:36] aj-michael commented on #4591
I believe this is working as intended. The Android rules require the Python rules. The python rules on Windows require that either --python_path is specified, or python.exe is on the PATH. That is documented here:

https://docs.bazel.build/versions/master/windows.html#build-python

The code that looks for this is in the native python launcher. @meteorcloudy may have more details.

https://source.b

[2018-02-06 17:37] ahumesky commented on #4591
Also, could you say what you mean with "the rest of bazel will find python"? The resource extractor is itself a py_binary, so if other py_binary rules work without having python on the path, then something seems strange.

[2018-02-06 17:39] aj-michael commented on #4502
Hardcoding /etc/bazel.bazelrc is unfortunate for testing reasons. We currently have no test coverage that it works, because any such test would require writing to /etc/bazel.bazelrc which is outside of the test sandbox. It would be nice if this location were configurable.

[2018-02-06 17:45] laszlocsomor commented on #3959
Actually, @katre , please remove [that entry I mentioned](https://github.com/bazelbuild/bazel/issues/3959#issuecomment-363501840) altogether. I discovered a bug about it, filing it now, will update this comment with the  bug number.

[2018-02-06 17:59] katre commented on #3959
How long will the fix be? I'd prefer to edit the release notes and get your fix cherrypicked along with the fix for #4562 in the next RC.

[2018-02-06 18:01] laszlocsomor commented on #3959
I can write the fix tomorrow and, if all goes well, get it submitted tomorrow or the day after.

[2018-02-06 18:03] pmuetschard commented on #4591
Looking at https://github.com/bazelbuild/bazel/search?q=BAZEL_PYTHON, apparently only `cc_configure` respects the `BAZEL_PYTHON` env variable as instructed by the install script. I suppose this is more of a feature request, then, to have the `py_*` rules respect that variable as well for consistency. Also, `cc_configure` should respect `--python_path`. Truly, everything that needs python should "f

[2018-02-06 18:05] katre commented on #3959
SGTM, thanks.

[2018-02-06 21:36] helenalt opened #4593 "Change in recommended installer for Bazel on MacOS"
Homebrew is no longer a recommended way to install Bazel on macOS.
Until that's changed, please remove the word "(recommended)" and place "(recommended)" next to "Use the binary installer in this doc https://docs.bazel.build/versions/master/install-os-x.html:

### What operating system are you running Bazel on?
MacOS

[2018-02-06 22:11] helenalt commented on #4593
Confirmed that Homebrew on ios works well, so this issue is obsolete

[2018-02-06 22:11] #4593 closed

[2018-02-06 22:23] EricCousineau-TRI opened #4594 "C++ shared libraries under `.runfiles` not linked with RPATH when built as an external, @repo//:target; affects Python libraries"
### Description of the problem / feature request:

I ran into RobotLocomotion/drake#7972, and dug into it. After stripping out our project-specific stuff and looking a bit deeper, it looks like Bazel uses different RPATH logic for linking a shared library depending on whether the (a) artifacts were built as a local target or an external target and (b) if the artifact is under `.runfiles` or not.

[2018-02-06 22:30] EricCousineau-TRI commented on #4594
Simplified reproduction steps:

[code]

[2018-02-07 01:44] sgreenstein opened #4595 "support disabling --remote_* flags on the command line."
### Description of the problem / feature request:

If a flag that defaults to null is passed in .bazelrc or bazel.rc, it is impossible to set it to null on the command line.

### Feature requests: what underlying problem are you trying to solve with this feature?

Enable remote caching by default, but be able to disable it on the command line. To do this I specify the remote caching flags in bazel

[2018-02-07 04:04] ittaiz commented on #4593
Why is it no longer the recommended way?
On Tue, 6 Feb 2018 at 23:36 helenalt <notifications@github.com> wrote:

[2018-02-07 10:22] iirina commented on #4398
Are there any more coverage errors you get now with `--experimental_java_coverage`?

[2018-02-07 11:52] iirina commented on #4584
@ittaiz Could you point me to your code where you collect the jars and labels for strict deps?

[2018-02-07 12:07] 4ZM commented on #3760
Still don't understand how this should work. The argument to the wrapper script I create doesn't receive a parameter file as far as I can tell. How can I access the parameter file?

[2018-02-07 12:23] auke- opened #4597 "Unable to use aspectj in java library"
### Description of the problem / feature request:

When a project uses aspectj (aspectjtools-1.8.13.jar) in a java_library ijar fails with the error 'Bad magic efbfbdef'

When the ijar utility is used separately the output is:
...
INFO: StripClass: org/aspectj/org/eclipse/jdt/internal/compiler/parser/UpdateParserFiles.class
Bad magic efbfbdef

It seems that the ijar utility isn't able to read the

[2018-02-07 12:29] robfig commented on #4398
Yes, the concurrency-related error still occurs as before when I run coverage on the ~25 test suite targets in our util directory. It does not occur with --jobs=1. Is that sufficient to diagnose?

[2018-02-07 12:51] laszlocsomor opened #4598 "java,runfiles: the runfiles library should not pick up TEST_SRCDIR"
### Description of the problem / feature request:

The new java runfiles library in `@bazel_tools//tools/runfiles`, coming out with Bazel 0.11.0, should not pick up `$TEST_SRCDIR` when neither `$RUNFILES_MANIFEST_FILE` nor `$RUNFILES_DIR` is defined. In case a test runs Bazel to build and run a mock `java_binary` that uses the new runfiles library, the binary  should not pick up the test's `$TEST_

[2018-02-07 13:27] laszlocsomor commented on #4598
Ironically this bug does not affect Bazel on Windows, because the native launcher we use for xx_binary rules sets `RUNFILES_MANIFEST_{FILE,PATH}` and `RUNFILES_DIR`.

[2018-02-07 14:09] ensonic opened #4599 "Doc error for transitive proto_libraries in https://blog.bazel.build/2017/02/27/protocol-buffers.html"
The article https://blog.bazel.build/2017/02/27/protocol-buffers.html says "Notice how the proto_library provide structure for both Java and C++ code generators, and how there's only one java_proto_library even though there multiple .proto files." but this action does not work.

If you then depend on e.g. a java_proto_library in a java_library, the build fails with
[code]

The only way I found to

[2018-02-07 14:58] laszlocsomor commented on #4591
There may be a deeper problem here: bazel on windows (also) appears to ignore `--python_path` if python is already on the `PATH`. I'm still investigating.

[2018-02-07 15:00] laszlocsomor commented on #3959
@katre : bugfix is out for review (https://bazel-review.googlesource.com/c/bazel/+/37190), we'll need a cherrypick.

[2018-02-07 15:59] Androbin commented on #4577
@yifeif Do you think this would work for TensorFlow?

[2018-02-07 16:05] laszlocsomor commented on #3959
#4598 is a blocker, will need a cherrypick.

[2018-02-07 16:57] s-pace opened #4600 "Enhance documentation search experience"
### Description of the problem / feature request:

Hi first of all thank you for your product, we saw it at FOSDEM 2018.

I couldn't help me providing [a nice search experience for you good documentation](https://community.algolia.com/docsearch/), see below.
![Demo DocSearch](https://cl.ly/pN7d/download/Screen%20Recording%202018-02-07%20at%2005.51%20PM.gif)

### Feature requests: what underlying p

[2018-02-07 17:25] DirtyF commented on #3543
Like many popular documentation websites, Bazel could benefit from [Algolia's docsearch](https://community.algolia.com/docsearch/).

[2018-02-07 17:39] jart commented on #4577
For cases when one wishes to glob across packages, Bazel might not be the right tool for the job. What we generally do is write a separate tool, like Copybara, or pylint, which we run independently of Bazel, in our `.travis.yml` or whatever. For example: https://github.com/tensorflow/tensorboard/blob/master/.travis.yml

[2018-02-07 17:46] #3543 closed

[2018-02-07 17:47] drigz commented on #3543
Looks like this issue has now been resolved.

[2018-02-07 18:37] ittaiz commented on #4584
This is for Scala import
https://github.com/bazelbuild/rules_scala/blob/master/scala/scala_import.bzl
Do you need also the “regular” Scala rules? There it’s a bit more complicated (though not very complicated)

[2018-02-07 18:40] jin commented on #4600
This looks really nice! @spomorski do you think we can integrate this?

[2018-02-07 18:52] mattmoor commented on #3519
With Bazel 0.10, if I `bazel run testdata:war_image` (rules_docker), it loads and starts a container `bazel/testdata:war_image`.

If I ctrl+C the Bazel invocation, the container is still running and I must kill it manually.

If I manually invoke the loaded container in the same way and ctrl+C the `docker run`, it terminates fine.

The only thing I can think of that's in between is `container/incre

[2018-02-07 18:57] spomorski commented on #4600
Let me look into this!

[2018-02-07 22:53] sgreenstein opened #4601 "--invocation_policy gets set to inappropriate values on Windows"
### Description of the problem / feature request:

Passing `--invocation_policy` on Windows results in the flag being set to random values

### Feature requests: what underlying problem are you trying to solve with this feature?

I'm trying to pass `--invocation_policy` as in this question: https://stackoverflow.com/questions/48652798/how-do-i-unset-flags-set-in-bazelrc/

### Bugs: what's the simp

[2018-02-07 23:37] Q-Lee opened #4602 "bazel leaks sockets into the source file system"
### Description of the problem / feature request:

bazel occasionally leaves sockets behind in the middle of source code. I've run into this problem in the kubernetes/kubernetes repo since at least bazel v0.6.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

This is intermittent, and I don't know the underlying reason. I'll see an er

[2018-02-08 00:10] vicb opened #4603 "VSCode/Brackets + Santa cause Xcode autoconfiguration to fail on macOS"
### Description of the problem / feature request:

I got an error when trying to build angular (I'm on the Angular team berchet@)

The error is:

[code]

Note: I had this working in the past few weeks (& using multiple times a day).

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

On a gMac:
1. clone the angular repo at https://githu

[2018-02-08 00:25] vicb commented on #4603
Just tried to update bazel to
[code]
I get the same exact error (after a `bazel clean`)

[2018-02-08 01:51] sergiocampama commented on #4603
I've seen this multiple times before, but haven't been able to reproduce consistently.

I believe there's some sort of global state that prevents xcode-locator-bin from being invoked within java. If you `cat /private/var/tmp/_bazel_berchet/136114fe9f12514cf56a27652da0b4c4/external/local_config_xcode/BUILD` you'll see the error.

Can you try this just to diagnose?

1. bazel clean --expunge
2. if 1

[2018-02-08 01:51] sergiocampama commented on #4603
fyi @c-parsons @jmmv

[2018-02-08 02:35] spinorx commented on #4466
Any update on this?

[2018-02-08 02:42] jmarantz commented on #2537
+1 -- I had the misfortune of introducing a problem that could be repro'd only on Mac and the question was whether to deal with this hack, or just use printfs.  I used printfs, but I next time I can just debug on mac.

[2018-02-08 04:05] bangjieliu commented on #2338
Hi, isthmus bug fixed? it looks Bazel is still not able to apply aspect to alias? (it won't crash though)

[2018-02-08 04:48] ronshapiro commented on #1372
I have a POC using Skylark to generate pom files assuming we can get the tags coming in. Is this something the Bazel team is open to? I'll try to clean up the POC and publish it out for review, and I'm happy to make the change to add the tags. It seems like valuable metadata even if we decide to go a different route for pom generation

[2018-02-08 05:28] vicb commented on #4603
@sergiocampama

true, I even did that in my initial report !

1. starting from a working state (after a reboot),
2. `bazel clean`
3. -> fails (~3s)
4. `bazel clean  --expunge`
5. -> fails (~25s)

It takes longer to fail which doesn't look like an improvement to me ;)

[2018-02-08 05:54] mmcloughlin commented on #4022
For what it's worth, I'd love to see a fix of this issue. I'm currently using a "horrific hack" to work around it... using a `genrule` to build a bash script to call the python stub. This way `sys.argv[0]` is correct.

[2018-02-08 09:10] s-pace commented on #4600
Feel free to ping me for the integration. You should only need to ass the related id attribute on your input and then integrate it within the snippet.

We do also provide analytics on the search.

[2018-02-08 10:35] iirina commented on #4398
Can you tell me more about your setup? How are your tests/libraries structured?

[2018-02-08 10:49] ipolyakovskiy opened #4605 "cxx_builtin_include_directory doesn't work with non-absolute path"
### Description of the problem / feature request:

I'm trying to use gcc cross-compiler as external dependency, when I'm specifying cxx_builtin_include_directory as ```external/cross_toolchain/...``` or ``` %package(@cross_toolchain//...)``` I'm getting error:
[code]
It works only if you specify absolute path to include directory.

### Bugs: what's the simplest, easiest way to reproduce this bug?

[2018-02-08 11:30] iirina commented on #4584
No, I get the idea. Thanks! Just to be sure, `JavaInfo(originating_label = ..., ...)` + `dep[JavaInfo].originating_label` would make this easier for you?

[2018-02-08 12:11] lilyandchih commented on #2040
Hi, I clone gerrit code and checked with version 2.14.5, When i build gerrit with bazel some error occurred. can you help me? here is the error log:
./bazel build devtools/gerrit:gerrit
ERROR: /Users/.../devtools/gerrit/lib/js/BUILD:25:1: no such package '@iron-form-element-behavior//': failed /usr/bin/python /Users/.../devtools/gerrit/tools/js/download_bower.py -b /usr/bin/python /Users/......./d

[2018-02-08 12:17] erickj commented on #1532
I see this same issue with compiling bazel-0.10.0 from source:

[code]
the WORKSPACE referenced is:

[code]

[2018-02-08 12:18] laszlocsomor commented on #2040
@lilyandchih : please open a new bug about this using https://github.com/bazelbuild/bazel/issues/new

[2018-02-08 12:24] lilyandchih opened #4606 "fail to build gerrit version 2.14.5 with bazel"
Hi, I clone gerrit code and checked with version 2.14.5, When i build gerrit with bazel some error occurred. can you help me? here is the error log:
./bazel build devtools/gerrit:gerrit
ERROR: /Users/.../devtools/gerrit/lib/js/BUILD:25:1: no such package '@iron-form-element-behavior//': failed /usr/bin/python /Users/.../devtools/gerrit/tools/js/download_bower.py -b /usr/bin/python /Users/......./d

[2018-02-08 13:05] robfig commented on #4398
I have about 30 test packages under util, with a representative illustration of one in
https://github.com/robfig/bazel_coverage_repro

and I'm running them like
[code]

here is a latest example of failure, where one failed to build, and the rest were skipped:

[code]

Based on this error:
- It was building src/com/corp/util/lock
- As part of that, it was deleting the bazel-out/darwin-fastbuild/cov

[2018-02-08 13:08] c-parsons commented on #4466
I believe this was fixed in https://github.com/bazelbuild/rules_apple/commit/e921a9f727e039c8b5087d4f98c5d09f189658cd

[2018-02-08 13:08] #4466 closed

[2018-02-08 13:19] sergiocampama commented on #4603
My bad, I missed that part of your report :)

Yeah, that seems to match my experience, after a reboot, everything works, but once you clean it gets messed up. I believe that `bazel clean` just removes the output directories, but `bazel clean --expunge` deletes all of the execution root stuff, which is why it takes longer to start.

For now the only workaround I know of is to reboot.

What I find m

[2018-02-08 13:20] iirina commented on #4398
Yes, it's totally plausible. I'll try to reproduce. Thanks for the info!

[2018-02-08 13:22] jarviscrypter opened #4607 "System Hang post running "bash apollo.sh build" or ./apollo.sh build_no_perception dbg"
### Description of the problem / feature request:

### Feature requests: what underlying problem are you trying to solve with this feature?

### What operating system are you running Bazel on?

###  Have you found anything relevant by searching the web?

The image in the below link is the point at which system hangs, is it normal and does it take hours of time or its a problem that needs to be add

[2018-02-08 13:39] davido commented on #4606
Just guessing: Pre-Requisites are not there: nodejs. Follow these steps:

https://github.com/GerritCodeReview/gerrit/blob/master/Documentation/dev-bazel.txt#L10

[2018-02-08 14:41] philwo commented on #4469
Bazel 0.10.0 unfortunately shipped with this cosmetic bug:

[code]

[2018-02-08 14:51] katre commented on #1532
Yes, this is something we're aware of and will move to fix before the warning about workspace names becomes an error.

Thanks!

[2018-02-08 15:03] iirina commented on #4398
I managed to get a couple of errors that seem related with the bazel java tests. Both commands are successful if used with `--jobs=1`.

`bazel coverage src/test/java/com/google/devtools/build/lib:java-rules-tests`

[code]

`bazel coverage --experimental_java_coverage src/test/java/com/google/devtools/build/lib:java-rules-tests`  :
[code]

[2018-02-08 15:07] laszlocsomor commented on #4598
Fixed by: https://github.com/bazelbuild/bazel/commit/d855d8133f4efb73ebd5e82c54a9afb4c7565d46

Pending change https://bazel-review.googlesource.com/c/bazel/+/37210 will add a test.

[2018-02-08 15:07] laszlocsomor commented on #3959
Please cherrypick https://github.com/bazelbuild/bazel/commit/d855d8133f4efb73ebd5e82c54a9afb4c7565d46 into RC2.

[2018-02-08 15:32] #2815 closed

[2018-02-08 15:46] jmmv commented on #4603
It'd be that sandboxing is blocking the execution of the `xcode-locator-bin`, which results in the obscure error written to the `BUILD` file. Could you maybe try your reproduction steps after sticking:

[code]

into `~/.blazerc` and see if you can trigger the problem?

Just a thought. The fact that an invalid `BUILD` file is generated at all and left behind is concerning.

[2018-02-08 15:56] ola-rozenfeld commented on #3959
We need to cherrypick https://github.com/bazelbuild/bazel/commit/56aeb04a064218b845ecc193d530c341c6ec854d, ideally into 0.10.1.

[2018-02-08 16:00] sergiocampama commented on #4603
I looked into that, but `repository_ctx.execute` does not use any strategy, it just runs the commands passed through JavaSubprocess, so not sure if a sandbox is used at all for repository execute actions

[2018-02-08 16:02] katre commented on #3959
@ola-rozenfeld I'll add that to the cherrypick list for 0.11.0rc2. For 0.10.1 you'll need to ping the release issue for 0.10.0, which is #4325 .

[2018-02-08 16:31] ola-rozenfeld opened #4608 "test stdout is sometimes missing"
There is a race condition in test-setup.sh which will cause the test output to occasionally be (partially or fully) missing, from either the test log or from the test.xml, or both.

Sample Tensorflow tests revealed the stdout missing from xml in as much as 40% of the cases, although usual incidence for small tests is ~1%. Internal issue: b/65977241.

[2018-02-08 16:43] ola-rozenfeld commented on #3958
Cherrypick candidate: https://github.com/bazelbuild/bazel/commit/56aeb04a064218b845ecc193d530c341c6ec854d

[2018-02-08 16:45] iirina commented on #3958
Thanks @ola-rozenfeld!

I'll create a patch release Monday (12 Dec).

[2018-02-08 16:48] benjaminp commented on #4605
It's usually quite important to pass` -no-canonical-prefixes` and `-fno-canonical-system-headers` to prevent GCC from "helpfully" normalizing system header paths into something Bazel doesn't know about.

[2018-02-08 16:52] ittaiz commented on #1372
Are you adding it to java_import?
If so,
Is that really the correct place? Since one can use java_import to import
any kind of files
On Thu, 8 Feb 2018 at 6:48 Ron Shapiro <notifications@github.com> wrote:

[2018-02-08 17:11] ittaiz commented on #4584
I think we have 3 issues here actually:
1. Collecting labels with the new API to pass to the compiler plugin-Yes
2. Java scala rules sandwich with respect to labels- No. The additional
needed feature for it is that the provider will keep and expose the
transitive labels since currently rules Scala just pass a custom dict which
java rules don’t.
3. Java_common.compile resolves transitive labels inc

[2018-02-08 17:30] ronshapiro commented on #1372
This is what I'm suggesting: https://github.com/ronshapiro/bazel/commit/e85c79aa400173e72d14706a995bf46eb617382c, i.e. propagate the `artifact` attribute to the generated `java_import.tags` attribute. `tags` already exists in the set of ["common definitions"](https://docs.bazel.build/versions/master/be/common-definitions.html) so this would be no change to `java_import` itself.

Regarding what you

[2018-02-08 17:40] vicb commented on #4603
@jmmv just tried didn't help

I started froma broken state:
- `bazel test ...` -> fails
- `bazel clean`
- `bazel test ...` -> fails
- `bazel celan --expunge`
- `bazel test ...` -> fails

[2018-02-08 18:34] katre commented on #3959
Current release blocking bugs for 0.11.0:
- #4585 - orphaned remote cached actions fallback broken
  - 56aeb04a064218b845ecc193d530c341c6ec854d
  - The issue is still open: @ola-rozenfeld are there more commits coming?
- #4608 - test stdout is sometimes missing
  - There is a fix in the works
- #4598 - runfiles library should not pick up TEST_SRCDIR
  - There appear to be several commits, but the

[2018-02-08 18:49] #4585 closed

[2018-02-08 18:51] ola-rozenfeld commented on #3959
Commit  56aeb04
<https://github.com/bazelbuild/bazel/commit/56aeb04a064218b845ecc193d530c341c6ec854d>
 fixed #4585 <https://github.com/bazelbuild/bazel/issues/4585>, not sure
why it didn't auto-close. Closing now.

On Thu, Feb 8, 2018 at 1:34 PM, katre <notifications@github.com> wrote:

[2018-02-08 20:32] alexeagle commented on #4603
interestingly, I did High Sierra upgrade on my personal Mac and didn't see this, so it could be something about our Managed Software Update version of XCode in Google's corp Mac setup

[2018-02-08 20:40] petemounce commented on #3959
Pushed
* https://chocolatey.org/packages/bazel/0.11.0-rc1
* https://chocolatey.org/packages/bazel/0.11.0-rc2

[2018-02-08 20:43] alexeagle commented on #4603
@vicb @jmmv your instructions said to put the options in `.blazerc` rather than `.bazelrc` so you may not have tested what you thought...

[2018-02-08 20:57] katre commented on #3959
Thanks @petemounce!

[2018-02-08 21:35] apobbati commented on #904
Is this issue still alive? Any work being done on it actively?

[2018-02-08 21:41] buchgr commented on #904
Yep. Please take a look at https://docs.bazel.build/versions/master/remote-caching.html

[2018-02-08 21:48] hhclam commented on #904
Nicely written!

[2018-02-08 21:49] jgavris commented on #904
I concur, very nice work. Also +1, Google Cloud Storage is relatively easy to setup, and saves you from the hassle of having to run a service of your own!

[2018-02-08 21:52] apobbati commented on #904
Awesome! Thanks for sharing

[2018-02-08 21:53] jmmv commented on #4603
@sergiocampama confirmed by code inspection that the `xcode-locator-bin` process is being executed directly via Java's subprocess facilities and that no sandboxing is involved... so that's not the case.

However, we have just discovered something that may be getting in the way. Think... antivirus software and Santa. No good explanation on what exactly is wrong yet though.

[2018-02-08 22:07] jianglai commented on #3215
Just want to make sure that I understand the fix. It seems that `--local_tmp_root` does not end up being implemented? With bazel 0.10.0, I just used `File.createTempFile("gpgtest", "", new File(System.getenv("TMPDIR")))`, and got a temp file under `/tmp/gpgtestXXXXXXXXXX`. Supposedly `/tmp` is the default if `TMPDIR` envvar is not set. Am I doing this correctly?

[2018-02-08 22:13] jmmv commented on #4603
Alright, so it could be that, or... something more crazy: VSCode.

It seems that VSCode holds an open file handle on the `xcode-locator-bin` file as soon as it's created, which could be blocking executions until whatever VSCode wants to do completes. This may or may not be a problem in itself, or it may be a problem only in combination with Santa.

However, @sergiocampama and myself have confirmed

[2018-02-08 22:26] alexeagle commented on #4603
Awesome debugging. To be fair, I had `build symlink_prefix=/` in our shared
bazel.rc for a while, but that made it harder to see outputs and follow
error messages, so we changed it to `symlink_prefix=dist/`. Everyone on the
team already has `dist` ignored in VScode. But for some reason (bug?) the
`bazel-out` folder is not governed by the `symlink_prefix` setting.

On Thu, Feb 8, 2018 at 2:14 PM Ju

[2018-02-08 22:29] jin opened #4611 "bazel-tests failing: src/test/shell/bazel/srcs_test"
https://ci.bazel.build/blue/organizations/jenkins/bazel-tests/detail/bazel-tests/1990/tests

log:

[code]

[2018-02-08 22:31] jin commented on #4611
assigning to @vladmos, current sheriff. The unstable tests are blocking Gerrit reviews from merging.

[2018-02-09 02:25] nicolasnoble commented on #4572
Blocking issue for the gRPC team - this happens if you specify `build --client_env=CC=clang` in the `tools/bazel.rc` file.

[2018-02-09 02:30] menny commented on #4603
I saw something very similar to that error, and I did have VSCode running at the time.
I also have `symlink_prefix` pointing to a sub-folder under the `WORKSPACE` root.

[2018-02-09 04:01] chetgnegy commented on #3352
Has there been any progress here? An ETA?

[2018-02-09 05:02] mrkkrp opened #4612 "Missing dependency declarations for the following files included by X"
### Description of the problem / feature request:

Bazel is virtually unusable because of the constant "missing dependency declarations for the following files included by X" messages. This not only gets in the way of our own development, I can't even compile some "official" rules such as `rules_sass`.

### Easiest way to reproduce

[code]

I know that it works for some people, but I get the follo

[2018-02-09 06:28] Qining commented on #3641
Same issue here when compiling gRPC with Bazel and NDK. Using `gnu-libstdcpp` and `stlport` results into `to_string is not a member of std`. Any workaround available?

[2018-02-09 06:42] mrkkrp commented on #4612
Curiously after some upgrading and reinstalling of gcc and glibc I get a different error:

[code]

Although when I compile other projects (non-Bazel related) `stddef.h` is found OK, it located at:

[code]

[2018-02-09 06:44] cushon commented on #4597
This is not a problem with `ijar`, it's a problem with `org/aspectj/org/eclipse/jdt/internal/compiler/parser/UpdateParserFiles.class`. class files are required to start with `0xcafebabe`, and it does not. `javap` can't read that file either:

[code]

There's a related bug report here: https://bugs.eclipse.org/bugs/show_bug.cgi?id=510978

[2018-02-09 06:57] jmhodges commented on #2176
I'm no longer seeing this behavior in container_image, at least in the cases I've looked at. I'm running 3caddbe7f75fde6afb2e2c63654b5bbeeeedf2ac of rules_docker.

(In fact, using my `data_path = "."` now does a weird thing by including an extra subdirectory naned something like `amd64_stripped` for Go binaries)

[2018-02-09 06:59] jmhodges commented on #2176
Oh, the `data_path = "."` is doing weird things with Go binaries but the `data_path` still needed on another container_image that that one built with a Go binary was using as its `base`.

So now we're in a really weird spot where you have to split up your `container_image` calls in order to get `data_path = "."` to do the workaround stuff without being too weird.

[2018-02-09 07:51] mrkkrp commented on #4612
Re-installed Nix, a bit different error message but the same problem:

[code]

[2018-02-09 08:02] laszlocsomor commented on #3215
Correct. Sorry for not communicating that more clearly.

Yes you are, and yes, it is how you said.

[2018-02-09 08:03] #4598 closed

[2018-02-09 08:07] laszlocsomor commented on #3959
No.

Cherry-pick this please.

Bummer. It should reference the bug. That *is* the bugfix.

No cherry-pick.

This is related, but I don't need you to cherry-pick it; it just adds tests for the bugfix.

No cherry-pick.

This is distantly related; it fixes the same bug in the Python runfiles library as d855d8133f4efb73ebd5e82c54a9afb4c7565d46 did in the Java runfiles library. However 0.11.0 does not

[2018-02-09 10:08] ulfjack commented on #4608
After a lot of offline discussion, we think that the principled fix is to split test execution and test.xml generation (only to be executed if the test did not generate a test.xml file). I have a patch for that, but unfortunately, it's causing problems elsewhere. I have a patch for that, except it's causing problems in yet another place.

As a short-term solution, we're going to put in a Linux-spe

[2018-02-09 12:13] ittaiz commented on #3215
Just to make sure- if I used to specify “-Djava.io.tmpdir=/tmp“ in many test rules then I don’t need to do it anymore?

[2018-02-09 12:20] laszlocsomor commented on #3215
@ittaiz : On Linux/macOS: no, you no longer need this flag:
https://github.com/bazelbuild/bazel/blob/a729b9b4c3d7844a7d44934bf3365f92633c0a60/src/main/java/com/google/devtools/build/lib/exec/local/PosixLocalEnvProvider.java#L49-L53
https://github.com/bazelbuild/bazel/blob/a729b9b4c3d7844a7d44934bf3365f92633c0a60/src/main/java/com/google/devtools/build/lib/exec/apple/XCodeLocalEnvProvider.java#L73-

[2018-02-09 12:29] ipolyakovskiy commented on #4605
@benjaminp thanks, fixed problem for me!

I'm not sure about closing original issue, it feels like a bug for me

[2018-02-09 12:41] ittaiz commented on #3215
Thanks!
On Fri, 9 Feb 2018 at 14:21 László Csomor <notifications@github.com> wrote:

[2018-02-09 13:59] katre commented on #3959
Thanks for clarifying!

[2018-02-09 14:11] katre commented on #3959
Creating RC2.

``
$ release.sh create 0.11.0 \
  00d781ae78a8bd51d3c61b621d79f0bb095aff9e \
  ea2d4c4 \
  d855d81 \
  56aeb04
[code]

[2018-02-09 14:13] laszlocsomor commented on #3959
Oh, now I fixed the bug, the section could've stayed! Could you please restore it? I believe you don't need to create a new RC for that.

[2018-02-09 15:59] alexeagle opened #4613 "--symlink_prefix doesn't affect the bazel-out symlink"
Followup from https://github.com/bazelbuild/bazel/issues/4603#issuecomment-364269706

I've always been surprised that setting symlink_prefix to a directory, eg.
`--symlink_prefix=dist/`

does the lovely thing of creating `dist/bin`, `dist/genfiles`, etc. and printing such paths in the build output, however it still always puts a `bazel-out` symlink in the workspace root.

Is this intended behavior

[2018-02-09 16:09] aj-michael commented on #4613
see also https://github.com/bazelbuild/bazel/issues/3796

[2018-02-09 16:15] alexeagle commented on #4613
Thanks @aj-michael looks like a dupe to me

[2018-02-09 16:15] #4613 closed

[2018-02-09 16:16] alexeagle commented on #3796
Note, this contributed to a nasty bug yesterday where VSCode ate all the filehandles and broke C++ compilation on santa-enabled google corp mac because XCode initialization fails after bazel clean, yuck...
https://github.com/bazelbuild/bazel/issues/4603#issuecomment-364269706

[2018-02-09 16:18] grey-eminence commented on #3993
I run into similar problem and [as mentioned here](https://github.com/tensorflow/tensorflow/issues/7497#issuecomment-299191128), changing from http(s)_proxy to HTTP(S)_PROXY helped.

[2018-02-09 16:29] vladmos commented on #4611
It seems like 33c419bb0952721f056f01a0374f9f2d238e98bd causes it, reverting it requires also reverting 3bdbbaf4e3f98ab722e4dffed15ef4deec1448b6.

[2018-02-09 16:46] aj-michael opened #4614 "java_library output depends on system timezone"
Repro using bazel 0.10.0 from homebrew on MacOS 10.13.3. I don't think this is specific to mac, nor do I think it's new in 0.10.0.

[code]

[2018-02-09 16:50] aj-michael commented on #4614
the difference comes from the timestamps of the zip file entries in the jar

[2018-02-09 16:55] benjaminp commented on #4611
Doesn't seem too hard to fix? https://cr.bazel.build/37950

[2018-02-09 17:08] aj-michael commented on #4611
@chengniansun FYI

[2018-02-09 17:17] vladmos commented on #4611
@benjaminp Thanks, I'll merge your fix instead of rolling back. But there's still one error (see my comment in the pull request).

[2018-02-09 17:20] benjaminp commented on #4611
I believe that's fixed in patchset 2.

[2018-02-09 17:21] davidstanke opened #4615 "Better error message for XCode locator problems"
### Description of the problem / feature request:
Various situations on macOS can cause problems when Bazel attempts to interoperate with XCode. See: #4603, and similar behavior if the XCode license has not been accepted. The user gets an error that's not often helpful: `Xcode version must be specified to use an Apple CROSSTOOL`. Please replace this with a message that will help users take action.

[2018-02-09 17:25] vladmos commented on #4611
Have you sent it? I don't see it on Gerrit.

[2018-02-09 17:30] benjaminp commented on #4611
Yes. I see it in the "patchset" selector menu, but it doesn't seem to have left a message for some reason.

[2018-02-09 17:42] vladmos commented on #4611
I see it now, thanks. Will merge soon.

[2018-02-09 18:33] buchgr commented on #3959
@katre please cherry-pick cf3f81aef7c32019d70cbce218a64a03276268f0 - this is a regression from 0.10.0. HTTP Basic Auth for Remote Caching used to work there and users are relying on it.

[2018-02-09 18:37] mafanasyev-tri opened #4616 "bazel 0.10.0 too aggressive with memory, causes OOM-killer to be invoked"
### Description of the problem / feature request:

We switched bazel from 0.9.0 to 0.10.0 and our workers started to fail with out-of-memory errors.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Unfortunately, I do not have a simple reproduction receipt. We just need to build our project (`bazel test //...`), which is about 10K ta

[2018-02-09 20:34] schlueter commented on #4332
[code]
Fixed this issue for me.

[2018-02-09 21:20] benjaminp opened #4617 "//third_party/ijar/test:IjarTests is broken"
[code]
@tomlu, it seems 8a56b164facce7844718a0c80554f6c11ba155f2 is missing some file?

[2018-02-09 21:24] tomlu commented on #4617
This has been rolled back and forwards with a fix already, has it not?

On Fri, Feb 9, 2018 at 4:21 PM, Benjamin Peterson <notifications@github.com>
wrote:

[2018-02-09 21:53] benjaminp commented on #4617
It looks like the problem is that IjarTests doesn't depend on the generated test jar file. https://cr.bazel.build/38054

[2018-02-09 21:55] helenalt commented on #422
This issue seems to have been fixed. Closing. Please re-open if there are still concerns.

[2018-02-09 21:55] #422 closed

[2018-02-09 21:56] helenalt commented on #557
@davidzchen is this still an issue or should it be closed?

[2018-02-09 21:57] davidstanke commented on #559
This is obsolete since website redesign.

[2018-02-09 21:57] #559 closed

[2018-02-09 22:00] helenalt commented on #651
@jayconrod  Please review if this is still an issue and close/comment.

[2018-02-09 22:01] davidstanke commented on #709
Closing as this appears to be obsolete. Please reopen if closed by mistake.

[2018-02-09 22:01] #709 closed

[2018-02-09 22:03] dkelmer opened #4618 "Add custom_package attribute to android_local_test"
A custom_package attribute is necessary if the BUILD file isn't nested under a java/ or javatests/ directory

[2018-02-09 22:05] davidstanke commented on #708
@gregestren Is `distribs()` still a valid attribute? If so, we are missing doc for it.

[2018-02-09 22:08] helenalt commented on #707
@spomorski  please review this text and see if it needs to be re-worded based on endobson@s  point

[2018-02-09 22:11] jayconrod commented on #651
Not a problem anymore. We only download the SDK that matches the host platform.

[2018-02-09 22:11] #651 closed

[2018-02-09 22:12] davidstanke commented on #710
Here's the doc page where features are mentioned: https://docs.bazel.build/versions/master/be/common-definitions.html

[2018-02-09 22:14] helenalt commented on #719
@davidzchen Has this been fixed? Please close/or comment on this issue.

[2018-02-09 22:20] helenalt commented on #836
Labeling for Skylark team to review

[2018-02-09 22:22] helenalt commented on #866
This is now fixed per updated doc

[2018-02-09 22:22] #866 closed

[2018-02-09 22:27] helenalt commented on #960
Is this still an issue. There seems to be a few other related items that have been resolved over time.

[2018-02-09 22:32] helenalt commented on #988
@gregestren Is this something that you would consider implementing or close this issue?

[2018-02-09 22:43] helenalt commented on #1121
Now the help message in this file lists neither build nor record:
src/main/java/com/google/devtools/build/lib/query2/output/QueryOptions.java

But the implementation seems to have support for both RECORD and BUILD
https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/query2/output/OutputFormatter.java#L63-L75

@juliexxia  Which is correct?

[2018-02-09 22:49] davidstanke commented on #1129
Current Bazel releases (verified with version 0.10) use standard function syntax.

[2018-02-09 22:49] #1129 closed

[2018-02-09 22:51] davidstanke commented on #1161
Assigning to @gregestren for review

[2018-02-09 22:53] helenalt commented on #1146
Assigning for @spomorski backlog to update/clarify documentation

[2018-02-09 22:54] davidstanke commented on #451
Closing this because brew has kept up-to-date with past several releases.

[2018-02-09 22:54] #451 closed

[2018-02-09 22:57] davidstanke commented on #1288
Assigning to @spomorski -- note that the example in the docs still omit required attributes.

[2018-02-09 22:59] davidstanke commented on #1367
Closing this as it appears to be obsolete. Please re-open if still an issue.

[2018-02-09 22:59] #1367 closed

[2018-02-09 23:00] helenalt commented on #199
@dmaclach The related issue is closed. Is this still a problem? Please close if obsolete. Tx.

[2018-02-09 23:28] benjaminp commented on #4617
It seems like it was applied, and then acdffead4761160fd016404811ca744507d16c96 undid it. :(

[2018-02-10 10:49] MarkusTeufelberger commented on #4590
According to https://groups.google.com/forum/#!topic/bazel-discuss/T7837ayq9cI this might be intentional? (https://github.com/bazelbuild/bazel/blob/e7541262293977598ad96d9eb7a83b439eedd634/src/main/java/com/google/devtools/build/lib/skyframe/ActionMetadataHandler.java#L600)

[2018-02-10 11:25] ittaiz commented on #451
Dave,
I saw Helen say in a recent issue that Brew is no longer the recommended
way for Mac OS so I think either issue should stick

On Sat, 10 Feb 2018 at 0:54 davidstanke <notifications@github.com> wrote:

[2018-02-10 23:27] cushon commented on #4614
It normalizes using a fixed timestamp

https://github.com/bazelbuild/bazel/blob/f13a7ef7c9eb7ce400ffbbaca0bdc7945172a332/src/java_tools/buildjar/java/com/google/devtools/build/buildjar/jarhelper/JarHelper.java#L41

and [`ZipEntry#setTime`](https://docs.oracle.com/javase/8/docs/api/java/util/zip/ZipEntry.html#setTime-long-) uses the default time zone to convert to a DOS timestamp when writing out t

[2018-02-11 05:56] #4618 closed

[2018-02-11 18:45] YanzheL commented on #3988
@asimshankar
Same error when compiling example from bazel website

Steps to reproduce:
[code]

Output:

[code]

### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux Ubuntu 16.04 aarch64
- **Bazel version (if compiling from source)**:
0.9.0 and 0.10.0 (both tried with clean installation)
- **GCC/Compiler version (if compiling from source)**:
gcc (Ubuntu/Linaro

[2018-02-11 21:35] vladmos commented on #4617
b4b9840912088d9d7e62ba006a2f7217e553be8a has rolled it forward again.

[2018-02-11 21:35] #4617 closed

[2018-02-11 21:37] vladmos commented on #4611
It's fixed now.

[2018-02-11 21:37] #4611 closed

[2018-02-11 22:29] cgrushko commented on #4599
@ensonic what's the Java file?

[2018-02-12 00:11] bcsgh commented on #4332
FWIW: this because Eigen is now available via a git mirror, I now have a viable workaround in my specific case.

https://github.com/bcsgh/stl-to-ps/commit/30d138f752831de4d3a3b20b6b15af8a6561cda1#diff-09498dbadf45966909850dc8a47ebb13

[2018-02-12 00:39] ronshapiro commented on #1372
@jart would you be open to a `tags` attribute to `java_import_external`? And we could define a repository rule for maven that would delegate to `java_import_external`, follow the recommended repository order, and add the maven artifact to the tags?

[2018-02-12 03:31] YanzheL commented on #3988
I tried a fresh installation of bazel 0.9.0 (and 0.10.0) on amd64 architecture, no error produced.
It should be a bazel bug on aarch64 architecture CPUs.
Can anyone have a look at this? Our production environment depend on this, so please fix it as soon as possible.

[2018-02-12 04:35] ittaiz commented on #3215
Btw,
From an unscientific check I did with a few tens of colleagues using Mac OS (and without the same provisioning mechanism) they all had TMPDIR defined.
Could it be that TMPDIR is defined by default in OS X?
If so, any chance for the cmd line flag that was mentioned? We have “/tmp” sprinkled in hundreds of BUILD files due to this issue

[2018-02-12 05:28] neilbalch opened #4619 "Bazel sandboxing not supported WSL"
### Description of the problem / feature request:

### Feature requests: what underlying problem are you trying to solve with this feature?

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

1. Install the Ubuntu WSL on Windows 10
2. Download and install bazel
3. Try to build in a project that uses the sandboxing feature

### What oper

[2018-02-12 07:24] etnu commented on #3641
gnu-libstdcpp for android doesn't implement many basic standard library features correctly. It's not even supported by android anymore as far as I know.

Consequently, it's very difficult to have shared libraries between android and other platforms until this bug is fixed, so my project is stuck using cmake just for android.

Is there a workaround that lets us use the default standard library?

[2018-02-12 08:09] vmax opened #4620 "sh_binary cannot depend on java_import"
### Description of the problem / feature request:

[code]

### Feature requests: what underlying problem are you trying to solve with this feature?

I'm trying to write shell script, which would utilize run a jar which is downloaded and exported by `new_http_archive` and `java_import` rules, specifically [google-java-format](https://github.com/google/google-java-format)

### Bugs: what's the simpl

[2018-02-12 08:15] auke- commented on #4597
Ah, I see. Since the bug report you refer to is more than a year old what would be a workaround?
- make ijar emit a warning instead of an error (what would be te consequence for Bazel?)
- remove the incorrect class file from the jar (would that be possible using a genrule?)
- ...?

Completely removing aspectj from our project isn't an option at this time.

[2018-02-12 08:31] laszlocsomor commented on #3215
Yes, it's possible that TMPDIR is defined by default, not only on OSX but on Linux.

Do you see any practical difference between adding a flag to everyone's `~/.bazelrc` (assuming Bazel supported the flag), and adding `export TMPDIR=/tmp` to everyone's `~/.bash_profile`? I believe they'd have the same desired effect, would amount to the same work on your side, but the latter would require no work

[2018-02-12 08:47] dbabkin commented on #3769
Hi Oscar,

I'll be back to you with the answer to your question in few days.

[2018-02-12 09:26] ittaiz commented on #3215
The difference is that we generate the bazelrc and check it in the projects
so people don’t need to do anything manually.
Having people need to change their bash profile will become tribal
knowledge.
On Mon, 12 Feb 2018 at 10:31 László Csomor <notifications@github.com> wrote:

[2018-02-12 10:42] iirina commented on #3958
Creating & pushing RC1 for patch release `bazel 0.10.1`:

[code]

CI job is lucky number [1450](https://ci.bazel.build/view/Bazel%20bootstrap%20and%20maintenance/job/bazel/job/release/1450/)

[2018-02-12 11:41] lberki commented on #4549
In my uninformed opinion, I think it's fine to special-case Kotlin stuff in ijar a little bit; the above "don't drop bytecode from methods that are marked as inline" counts as such in my book.

I don't understand the latter half of @hsyed 's comment, though -- how is this new proposed provider relevant to changes to ijar?

[2018-02-12 11:50] laszlocsomor commented on #3215
OK, I'll implement the flag then.

[2018-02-12 11:56] laszlocsomor opened #4621 "local actions, tmpdir: implement `--local_tmp_root` flag"
### Description of the problem / feature request:

Add a `--local_tmp_root` flag to Bazel that lets the user specify a temp directory for locally executed actions. This compliments the feature implemented for https://github.com/bazelbuild/bazel/issues/3215 where Bazel picks up the client environment's `TMPDIR` envvar.

### Feature requests: what underlying problem are you trying to solve with this

[2018-02-12 13:50] hsyed commented on #4549
@iberki I've removed the second part, it's not relevant to this issue at all.

[2018-02-12 14:05] butterl commented on #1512
I still get error will after

[2018-02-12 14:52] Globegitter commented on #3042
@davido just tried
`build --experimental_local_disk_cache_path=~/.gerritcodereview/bazel-cache/cas --experimental_local_disk_cache --experimental_strict_action_env` with bazel 0.10.0 and it seems the home directory is not resolved. Is home directory resolution now supposed to work, or is that still something coming?

[2018-02-12 15:21] ittaiz commented on #4621
Thanks!
On Mon, 12 Feb 2018 at 13:56 László Csomor <notifications@github.com> wrote:

[2018-02-12 15:27] aehlig commented on #3516
The actual crash is fixed in 157caed02ef354447f673c89c6a0e296bae5341c
and relative paths are interpreted relative to the WORKSPACE directory.
So the intended use case 'bazel build --experimental_repository_cache=my_cache'
works.

Alternatively, 88374614b62b17587453137814d264fdaf7bd70e and
220d650b3f47712a5b82748141f3381075c35c80 add an option --experimental_distdir
allowing to specify a list of re

[2018-02-12 15:49] katre commented on #3959
Creating RC2, adding cherrypicks cf3f81aef7c32019d70cbce218a64a03276268f0 and 28bd997c1c8793973f63dcae4c22bbae49e7d8b7.

[2018-02-12 15:54] katre commented on #3959
Command:
[code]

Note: Cherrypick of cf3f81a required manual fixes due to changes to recently-added remote caching doc.

Release note edits: none.

[2018-02-12 17:13] ittaiz commented on #3516
How does this play with a bazelrc file which is checked in to the project?
Unfortunately bazelrc files aren’t hierarchical so one has to use one or
the other and we’re using the checked in version to not have tribal
knowledge of what goes in
On Mon, 12 Feb 2018 at 17:27 Klaus Aehlig <notifications@github.com> wrote:

[2018-02-12 17:45] katre opened #4625 "test_interrupt_kills_child failing in 0.11.0rc3"
https://ci.bazel.build/blue/organizations/jenkins/Global%2Fbazel-tests/detail/bazel-tests/500/tests

Test is failing on the platforms:
- linux-x86_64,python_version=2
- linux-x86_64,python_version=3
- ubuntu_16.04-x86_64

Error:
[code]

[2018-02-12 17:46] katre opened #4626 "test_unicode_characters_tar failing in 0.11.0rc3"
https://ci.bazel.build/blue/organizations/jenkins/Global%2Fbazel-tests/detail/bazel-tests/500/tests

Test is failing on the platforms:
- linux-x86_64,python_version=2
- linux-x86_64,python_version=3
- ubuntu_16.04-x86_64

Error:
[code]

[2018-02-12 17:47] mafanasyev-tri commented on #4616
Tried with `--ram_utilization_factor 20` and `--ram_utilization_factor 10`, OOM's still happen.

[2018-02-12 17:47] katre opened #4627 "test_build_hello_world_with_remote_embedded_tool_targets failing in 0.11.0rc3"
https://ci.bazel.build/blue/organizations/jenkins/Global%2Fbazel-tests/detail/bazel-tests/500/tests

Test is failing on the platforms:
- darwin-x86_64

Error:
[code]

[2018-02-12 17:56] katre commented on #3959
After checking the output of tests, I've filed the following issues. Some of these probably are not release blockers, I will review further.

- https://github.com/bazelbuild/bazel/issues/4625
- https://github.com/bazelbuild/bazel/issues/4626
- https://github.com/bazelbuild/bazel/issues/4627
- https://github.com/bazelbuild/bazel-integration-testing/issues/17
- https://github.com/bazelbuild/rules_ru

[2018-02-12 17:56] katre commented on #4625
Blocking release https://github.com/bazelbuild/bazel/issues/3959

[2018-02-12 17:56] katre commented on #4626
Blocking release https://github.com/bazelbuild/bazel/issues/3959

[2018-02-12 17:56] katre commented on #4627
Blocking release https://github.com/bazelbuild/bazel/issues/3959

[2018-02-12 18:04] katre commented on #4627
Failure is repeatable, but the entire test must be run with the RC, as so:
[code]

[2018-02-12 18:11] katre commented on #4625
Failure is repeatable, but the entire test must be run with the RC, as so:
[code]

[2018-02-12 18:17] katre commented on #4625
Test passes with the above procedure if I revert 28bd997c1c8793973f63dcae4c22bbae49e7d8b7.

[2018-02-12 18:17] katre commented on #4625
Linking to #4608.

[2018-02-12 18:26] agoulti commented on #4625
Thanks for the repro, looking into this

[2018-02-12 18:32] cgrushko commented on #3885
FWIW, supporting WORKSPACE.bazel makes it slightly easier to export code to open-source.

[2018-02-12 19:09] vmrob commented on #4255
Oh, I see. So the documentation was written from the perspective of that file and was copy/pasted/generated into documentation here: https://docs.bazel.build/versions/master/install.html#zsh

It looks like there may be a need to reword it.

[2018-02-12 19:22] jin commented on #3885
+1, one less Copybara step.

[2018-02-12 19:50] davido commented on #3042
@Globegitter Unfortunately, home directory resolution (`~`) was undone in the latest versions of my patch. So you can only say:

[code]

Note, that's why we cannot add this line to Gerrit Code Review's own [tools/bazelr.c](https://github.com/GerritCodeReview/gerrit/blob/master/tools/bazel.rc) file, so that this will be enabled per default:

[code]

[2018-02-12 19:53] davido commented on #3516
@aehlig Yeah, there is also @3042, where a similar feature request, to provide relative class path for `--experimental_local_disk_cache_path` option is tracked, see my last comment.

[2018-02-12 20:04] davidstanke commented on #4549
Great -- sounds like we're well aligned on approach. @hsyed do you have the bandwidth to implement this? @cushon any concerns about the approach described?

[2018-02-12 20:33] davidstanke opened #4628 "BEP: Add a config option for results base URL (feature request)"
When streaming results to a BEP endpoint, we should notify the user as to where they can view those results. (Currently, the user has to manually construct the URL from the invocation ID reported in Bazel CLI and a base URL of the BEP server.)

**Please add a flag:** `--results_url_base`

...this will be used like: `bazel build //... --results_url_base=https://example.com/results/invocations/`

wh

[2018-02-12 20:35] davidstanke commented on #4628
We should expect that most users will want to specify this flag in a .bazelrc file

[2018-02-12 21:01] lberki commented on #4549
@hsyed  -- excellent, I was afraid for a second that my understanding is *that* hazy :)

[2018-02-12 22:11] BenTheElder commented on #4558
I forgot to follow up here: setting `--action_env` doesn't seem to be sufficient since not all actions consume this (?) I'm currently working around this by just making sure different caches are used for different toolchain versions.

[2018-02-12 22:20] buchgr commented on #4558
@BenTheElder It’s my understanding that this would be a bug in Bazel, correct
@ulfjack? Do you have a reproducer?

Something that works for sure with every action is `—experimental_remote_platform_override`. It takes as a value the text representation of the `Platform` message defined in the `remote_execution.proto`. It’s effectively just a key value pair.

[2018-02-12 22:30] aehlig opened #4629 "support reading multiple rc files"
Currently, the user-specific rc-file and the rc-file committed into the project are conflicting, in the sense that only one rc-file is used. Instead it would be desirable, that the effects of both are accumulated (as described in https://bazel.build/designs/2016/06/21/environment.html), see, e.g., the discussion in #3516.

[2018-02-12 22:31] BenTheElder commented on #4558
I don't have a great reproducer currently, in https://github.com/kubernetes/test-infra I modify the bazelrc to point at a local copy of bazel-remote-cache from within [a debian+bazel docker container](https://github.com/kubernetes/test-infra/tree/master/planter) and then I build again from another container after upgrading the GCC version to gcc-7.

When doing this I noticed stale headers from gcc

[2018-02-12 22:33] aehlig commented on #3516
Indeed, this is yet another independent issue. Filed #4629 to keep track of it.

[2018-02-12 22:33] aehlig commented on #3516
The actual issue is solved, and all other feature requests that came up in the discussion are tracked in separate issues. Closing.

[2018-02-12 22:33] #3516 closed

[2018-02-12 23:32] cushon commented on #4620
`sh_binary.deps` is for `sh_library` dependencies. You can use `sh_binary.data` to pull in other files (like `.jar` files). However using `java_binary` here is probably a better option:

[code]

[2018-02-13 02:11] jacobstr commented on #3857
Seeing this with a `.bazelrc` in `.../execroot/__main__/.bazelrc`. I'll try to provide some flavor because I can't repro this reliably.

The repo itself contains a `.bazelrc` that is a symlink to another file within the project. We're running bazel in a container with the entire workspace volume mounted through docker.

When bazel creates it's bazel-out, bazel-* symlinks, these only exist in the d

[2018-02-13 03:46] #4614 closed

[2018-02-13 04:17] izzyleung opened #4630 "Bazel failed to desugar AutoValue for Android App"
### Description of the problem:
The desugar tool failed to desugar AutoValue because it cannot find symbol `javax.lang.model.element.ExecutableElement`.

Output of running `bazel build :app` for the example at https://gist.github.com/izzyleung/a04dbd733151768b2d7218ddb5277d92:

[code]

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[2018-02-13 06:20] agoulti commented on #4625
I've rolled back the original change to get this green again. The problem is more subtle than I initially thought, so I don't have an ETA of when I'll get to the bottom of it.

If I understand this correctly, test-setup.sh does not affect anything in the "bazel run" behavior.
So, the object of the test ("SIGINT kills the underlying command in bazel run") shouldn't have been affected.

We are only

[2018-02-13 07:13] cushon commented on #4597
We don't want ijar to silently tolerate invalid class files. This error indicates something is wrong with the dependency, and the best solution is to fix the dependency.

If fixing aspectj isn't feasible, and deleting the class file is enough to get your build working, using a genrule as you suggested sounds like a fine work-around.

I don't think there's anything to do here on the Bazel side.

[2018-02-13 07:53] auke- commented on #4597
I understand the best solution is to fix the error upstream, but since that isn't likely to happen any time soon i'm looking for alternatives.

The genrule approach has some major downsides, like the fact that i'm not able to use the default maven_jar rule including authentication and the reference to the source jars.

The proposed solution doesn't silently ignore invalid class files, it emits a m

[2018-02-13 08:07] mhlopko commented on #4480
Hi Alexander,
thank you for the report, unfortunately I cannot use your contribution. We have a full osx crosstool that needs to be fixed, but since it is generated, and the generator is not open sourced, I have to do this change internally. Thank you! I started the internal review with the fix, so it should be out soon, hopefully.

[2018-02-13 08:33] laszlocsomor commented on #3959
I found another release blocker with the Java runfiles library. I'll file a bug as soon as I have a simple repro and fix.

[2018-02-13 08:35] alexanderlobov commented on #4480
Do you mean that the code I fixed is generated?

[2018-02-13 08:41] mhlopko commented on #4480
No no, that is hand written, but we also have to fix osx crosstool (because that one is not patched by CppActionConfigs stuff), and that crosstool is generated. In theory we could accept your contribution and add another cl, but I'd like to keep these 2 changes together.

[2018-02-13 09:43] ncouro commented on #3641
Same issue here, a few C++11 headers cannot be found when building using `toolchain-libcpp`.

I got it to build by manually changing the include paths in the build file from the `androidndk` repository.  I've put the new build rule there: https://github.com/ncouro/bazel_ndk in case it's useful to anyone.

I could try making the changes upstream with some guidance (I'm new to Android and Bazel).

[2018-02-13 09:53] ulfjack commented on #4558
See #3320. :-/

[2018-02-13 09:56] laszlocsomor commented on #3959
Never mind, the bug I found isn't release-critical.

For the record, the problem is that if Bazel builds a java_binary on Linux, and runfiles tree building is enabled, then the java_binary cannot run with just a runfiles manifest and without a runfiles tree. In other words, the Java launcher stub cannot use `$RUNFILES_MANIFEST_FILE` and `$RUNFILES_MANIFEST_ONLY` from the environment unless Bazel b

[2018-02-13 10:18] aehlig commented on #4626
On Mon, Feb 12, 2018 at 09:47:17AM -0800, katre wrote:

FYI, this test was rolled back in 109e4b4dc9e786e3a2d8d7cb245d18320dbe9216

--
Klaus Aehlig
Google Germany GmbH, Erika-Mann-Str. 33, 80636 Muenchen
Registergericht und -nummer: Hamburg, HRB 86891
Sitz der Gesellschaft: Hamburg
Geschaeftsfuehrer: Paul Terence Manicle, Halimah DeLaine Prado

[2018-02-13 11:58] astratto commented on #4311
I keep hitting this issue in a very similar scenario: Gitlab, Docker runner, caching enabled.

I've added `--client_debug` to my `bazel.rc` but the output is not very helpful:

[code]

Adding `--batch` mitigates the problem, but it's adding overhead I'd like to remove.

Any ideas?

[2018-02-13 12:13] buchgr commented on #4558
@BenTheElder ohh I apologize for the misinformation - it was my understanding that `--action_env` is supported by all actions. Please use the platform override then - I shall document it on our website.

Essentially, you can pass it the following protobuf:
[code]
This is passed through to the computation of the action key for remote caching.

[2018-02-13 14:21] ensonic commented on #4599
This is the core part (line 27 is the 2nd line below).
[code]
What I wonder is that usually in bazel you add direct dependencies for what you use. So for that doc I wonder why it would be different for a `<lang>_proto_library`.

[2018-02-13 14:27] ensonic opened #4631 "clarify the docs for proto_lang_toolchain"
It would be nice to improe the docs for
https://docs.bazel.build/versions/master/be/protocol-buffer.html#proto_lang_toolchain
and clarify that this won't magically give a new xyz_proto_library(), but only lets you configure the existing ones.

I wanted to run a proto compiler plugin and this can simply be done with a macro that uses 'proto_gen' from  com_google_protobuf//:protobuf.bzl. This could

[2018-02-13 14:46] spomorski commented on #3254
We now have these pages:

https://docs.bazel.build/versions/master/bazel-and-cpp.html

https://docs.bazel.build/versions/master/cpp-use-cases.html

Closing this issue.

[2018-02-13 14:46] #3254 closed

[2018-02-13 14:47] spomorski commented on #3276
"Get Started" button now links to here: https://docs.bazel.build/versions/master/getting-started.html

[2018-02-13 14:47] #3276 closed

[2018-02-13 14:48] hsyed commented on #4549
@davidstanke I haven't looked at C++ in a long time and I just opened the JVM bytecode spec last week. I think it would be best implemented by someone who has already worked on the tool.

There are two parts to this feature:

1) Retaining metadata files.
2) Discovery and retention of method bodies of inline functions.

1 is quite straight forward and I could implement this, but if someone else doe

[2018-02-13 14:53] hsyed commented on #4549
How would we test the changes ? I can add a test case to rules_kotlin that tests if the inlined methods are retained via a `java_import`.

[2018-02-13 14:56] lberki commented on #4549
That's one option. You could also add a pre-compiled Kotlin .jar somewhere under

`https://github.com/bazelbuild/bazel/tree/master/third_party/ijar/test`

and add a test that checks what happens to the class files. Or both. Both is probably the best.

[2018-02-13 15:03] aehlig commented on #4502
To avoid having too many issues discussing related things, I wanted to make you
all aware of #4629. Apparently, not in all cases, all rc-files are read. This causes
problems if on the one hand, the project has to specify project-specific flags,
on the other hands, the layout of the user's home directory has to be specified;
see, e.g., #3516 (in particular, https://github.com/bazelbuild/bazel/issue

[2018-02-13 15:17] cvcal commented on #4629
I agree, but this is part of the suggested fix in #4502, can we make that the canonical one? I can change the title to be more inclusive, but it already has the discussion on it, so I'd rather keep it active.

[2018-02-13 15:17] katre commented on #4626
Thanks. I will cherrypick that to the next RC.

[2018-02-13 15:19] katre commented on #4625
Rollback is 3904ac33a983fd8faebba1b52bcac5a3ff942029.

[2018-02-13 15:22] aehlig commented on #4629
Sure. Feel free to change the title of #4502 and close this issue as a duplicate.

--
Klaus Aehlig
Google Germany GmbH, Erika-Mann-Str. 33, 80636 Muenchen
Registergericht und -nummer: Hamburg, HRB 86891
Sitz der Gesellschaft: Hamburg
Geschaeftsfuehrer: Paul Terence Manicle, Halimah DeLaine Prado

[2018-02-13 15:23] #4629 closed

[2018-02-13 15:51] iirina commented on #4544
I started work on this issue. I have no ETA yet, perhaps tomorrow I will be able to give more details.

I decided for @lberki's suggestion:

which IMO is the least harmful.

[2018-02-13 16:25] lberki commented on #4311
Paging @buchgr @philwo  -- me and @scentini have seen crashes like this on our internal builds. Of course, a server crash at startup can caused by a lot of things, so these may or may not be related. But those are at least semi-reproducible within our environment.

[2018-02-13 16:53] davido commented on #3516
@ensonic this feature request is tracked in #2054.

[2018-02-13 17:00] hsyed commented on #4549
I've added some test cases, these cover the inlining change and retention of the metadata.

Now onto the test. I can add a function to `ijar_test.sh` this could:

1) Run the `ijar` tool on the jar.
2) Use the` jar` tool to verify the metadata file has been retained.
3) Try to compile a kotlin client file that references the inline functions.

@lberki why do you think ?

[2018-02-13 17:14] #4511 closed

[2018-02-13 17:21] lberki commented on #4549
I'd rather live without (3) because that would make the tests of ijar dependent on Kotlin. Other than that, awesome.

[2018-02-13 17:31] EricCousineau-TRI commented on #2317
It wasn't immediately obvious from this, #1681, or the closing commit what the easy solution is.
For me, it was something along the lines of:
[code]

[2018-02-13 17:35] glicht commented on #1456
For anyone interested I managed avoiding the jdk 9 install by using the following command:
[code]

Make sure to add the "-" after openjdk-9-jdk.

[2018-02-13 17:36] cushon commented on #4630
@kevin1e100 FYI

It looks like desugar is running on the full implementation of the `AutoValue` annotation processor, which probably isn't something that should be included in Android apps.

I don't think there's a separate autovalue artifact with just the annotations. Does setting [`java_library.neverlink`](https://docs.bazel.build/versions/master/be/java.html#java_library.neverlink) on the `:aut

[2018-02-13 17:41] hsyed commented on #4549
rules_kotlin will be a part of the CI runs soon. It should catch kotlinc's opinion on the processed ijar.

For 3 we could assert function bodies still exist using `javap -c` ?

[code]

asserting this fragment should be enough of a test:

[code]

[2018-02-13 17:42] lberki commented on #4549
Yep, checking the output of `javap -c` works; what I'd like to avoid is that the tests of ijar have a dependency on Kotlin. If you think that test is necessary, you can put it in `rules_kotlin`.

[2018-02-13 17:45] izzyleung commented on #4630
@cushon Haven't tried that yet. Will report later when I have the chance to do so.

Also, https://github.com/google/copybara/blob/master/third_party/BUILD#L49
Seems like CopyBara's author is not quite happy with the way AutoValue exposes its annotation either. 🤣

[2018-02-13 17:51] cushon commented on #4630
The maven artifact for auto uses `<scope>provided</scope>` to achieve something roughly equivalent to `neverlink`. I can't think of a reason to prefer a separate artifact. (The annotations aren't needed at runtime, so there's no reason to package them into apps either.)

[2018-02-13 17:51] cgrushko commented on #4599
Seems like a strict java deps violation?
The statement in the blog refers to the fact that you don't have to define JPLs all over the place to be able to build a top-level JPL. It doesn't say that if you use protos deep in the proto tree, you don't have to depend on them directly.

[2018-02-13 17:55] cushon commented on #4549
The information in metadata about which methods are inlined appears to be a serialized proto: https://github.com/JetBrains/kotlin/blob/ee50aec7342ab375a105bb318e6501135e859028/core/deserialization/src/descriptors.proto. @lberki are we OK with added a dependency on proto to ijar? I think there were some concerns about making the c++ singlejar depend on proto, but I'm not sure where that landed.

[2018-02-13 18:00] izzyleung commented on #4630
`neverlink` solves the problem, thanks for the information.

Close the issue for now.

[2018-02-13 18:00] #4630 closed

[2018-02-13 18:25] Steve-Munday commented on #4616
I have had this problem as well while trying to run Bazel in a docker container on Circle CI.

As was mentioned in another ticket I tried to limit local resources using `--local_resources=4096,4.0,1.0` which should have been plenty on a container that was limited to 8GB of RAM, however my build still fails with OOM.  I suspect that bazel may not be respecting these limits.

[code]

[2018-02-13 18:37] cushon commented on #4597
You can still use `maven_jar` - the files can be accessed using e.g. `@aspectjtools//jar:file` or skylark (see [`JavaInfo`](https://docs.bazel.build/versions/master/skylark/lib/JavaInfo.html)), and then repackaged for with the source jars using `java_import` or [`java_common.create_provider`](https://docs.bazel.build/versions/master/skylark/lib/java_common.html#create_provider).

The handling of u

[2018-02-13 18:58] Steve-Munday commented on #3886
I can still reproduce this issue with our large app on Circle CI using Bazel 0.10.0

I configured Circle to use their "large" container which includes 8GB of RAM, and set my bazel.rc file to use `--local_resources=4096,4.0,1.0` and it still dies intermittently.

[2018-02-13 19:53] ittaiz commented on #4544
@iirina did you see my comment?

I don't really understand why do it. Why not add a boolean flag? Or even a cmd-line boolean flag

[2018-02-13 19:54] hsyed commented on #4549
I've wired up the tests in the pr (#4632), the ijar step is currently just cp'ing so it can be merged in.

[2018-02-13 19:59] ronshapiro commented on #1372
Here's a PR that shows an approach to generating pom files in Skylark. It would greatly benefit from the previous few comments about having `maven_jar`/a maven-flavor of `java_import_external` automatically adding the `maven_coordinates=foo:bar:ver` flags.

https://github.com/google/dagger/pull/1068

[2018-02-13 21:22] jin commented on #3641
@ncouro that is excellent! I have a change in progress internally for r15 support, but let me externalize that into a PR - give me some time to go through your code and see if we can get our efforts to converge.

The main NDK 16 support thread is here: https://github.com/bazelbuild/bazel/issues/4068

[2018-02-13 22:28] steeve opened #4633 "Apple & Android rules do not propagate the current platform"
### Description of the problem / feature request:

When using the Apple and Android tools, it seems the only way to detect the current target is via `config_setting` + `cpu`.
In my case this is unfortunate because I'm trying to reliably detect the proper toolchain to use for `rules_go` and thus let the constraints system do its thing.

Going `config_setting` is cumbersome because there is no way t

[2018-02-13 22:44] steeve commented on #4633
Closing, we've alredy discussed it at #350, sorry for the noise.

[2018-02-13 23:04] saurabhaditya commented on #4309
I am also hitting into this issue. Is there any workaround to generate coverage?

[code]

[2018-02-13 23:35] gregestren commented on #708
This is legacy code we don't want to expose to Bazel. I'm not sure we even want licenses / --check_licenses exposed (note the other doesn't appear in the user manual).  Does anyone rely on this?

Also see #188.

[2018-02-13 23:44] gregestren commented on #1161
We could produce a lighter weight constraints HOWTO doc, absolutely. We intentionally haven't publicized this feature *too* much because there's a very real chance that platform/toolchain work will eclipse most constraint uses.

Since this issue is old, if anyone would still like such a doc for current work they're trying to do with constraints, let me know and I can whip something together.