[2022-06-01 00:45] felixf4xu opened #15601 "bazel Windows: Error: Unable to access jarfile C:\\SPB_Data\\_bazel_...\\A-server.jar"
### Description of the bug:

Hi,

I installed bazel v 4.2.2 on Windows by downloading the exe file. when I run `bazel version`, I have this error:

[code]

Please note the `???` in the path of `SPB_Data\\_bazel_User???\\` and I guess it's because of some unicode char in my Window user name.

I can't change my Windows user name, is there a way to change the default path setting so that bazel can wo

[2022-06-01 03:42] sgowroji commented on #15601
Hello @felixf4xu, Did you get a chance to go through the resolutions provided in the duplicate [issue](https://github.com/bazelbuild/bazel/issues/11649). Thanks!

[2022-06-01 04:47] sanju-naik commented on #15596
Hi @sgowroji,

We started seeing the above error when around 40 of our CI workers started using this single remote cache instance, it seems like maybe it's happening due to the load or when multiple workers are trying to access it at the same time?  As it worked fine when we tested it with only one CI worker for a week or so. Apart from this, we don't have any other steps as such.

Another thing t

[2022-06-01 06:00] sgowroji commented on #14106
Hello @guyco-redis,  Hope you are doing well!
     I wanted to check with you on the above issue whether if you are still able to reproduce or resolved, Can you please share the complete details. It will be closed very soon,  if no further activity occurs on this issue. Thank you.

[2022-06-01 06:46] sgowroji commented on #14683
Hello @kbatra3 , Hope you are doing well!
I wanted to check with you on the above issue whether if you are still able to reproduce or resolved, Can you please share the complete details. It will be closed very soon, if no further activity occurs on this issue. Thank you.

[2022-06-01 06:47] sgowroji commented on #14838
Hello @Danaozhong, Could you please reply on the above [comment](https://github.com/bazelbuild/bazel/issues/14838#issuecomment-1051411386).It will be closed very soon, if no further activity occurs on this issue. Thank you.

[2022-06-01 06:47] #15456 closed, assigned to nobody

[2022-06-01 06:48] sgowroji commented on #15456
Closing this issue as there is no significant  update  from long duration.

[2022-06-01 06:49] sgowroji commented on #15500
Closing this issue as there is no significant update from long duration. Please feel free to reopen if the above issue still exists. Thank you!

[2022-06-01 06:49] #15500 closed

[2022-06-01 07:31] Danaozhong commented on #14838
Yes, all Go projects failed. I never managed to identify what was the root cause. I reinstalled Windows and Bazel and it worked. From my point of view, you can close this problem report. Thank you!

[2022-06-01 08:38] carlosgalvezp commented on #3592
@ltekieli thanks, that's exactly what I was looking for! I did try the `dynamic_runtime_lib` bit, but I was missing to set `linkstatic=false`. Your `README` was very enlightening.

On a side note, I'm no longer sure this is the right way to go. If we depend on a third-party .so file that itself depends on `libstdc++` (fairly common), then we might have issues due to the linker picking symbols from

[2022-06-01 10:52] coeuvre commented on #12665
Yes, I am working on similar features for the internal remote executor. Most of changes that are necessary for this feature to work are already open sourced. but there are still some changes to be made for the remote module. I will continue this work after the work for the internal one is done.

[2022-06-01 17:41] jvolkman opened #15604 "Add `bazel init` to setup new workspaces"
### Description of the feature request:

Add a `bazel init` command that sets up a skeleton Bazel workspace for new projects. It could create `WORKSPACE`, `BUILD.bazel`, `.bazelrc` and maybe others, using a template that applies modern best practices.

The `init` command is popular in other tools. E.g.,
* `git init` - create a new git repo
* `npm init` - create a new npm package
* `poetry init` -

[2022-06-01 19:02] fweikert commented on #13533
Unfortunately the docs for older releases are read-only at this point since we deprecated docs.bazel.build. Documentation for future releases (starting with 6.0) will be available on https://bazel.build.

[2022-06-01 19:02] #13533 closed

[2022-06-01 19:29] fweikert commented on #14636
Closing this issue since https://docs.bazel.build has been deprecated in favor of https://bazel.build

[2022-06-01 19:36] fweikert commented on #13552
This has been fixed for the new site: https://bazel.build/rules/language

Unfortunately we cannot change the legacy site at docs.bazel.build any longer.

[2022-06-01 19:36] #13552 closed

[2022-06-01 19:38] fweikert commented on #14475
We've migrated to a new site at https://bazel.build that fixes several accessibility issues.

[2022-06-01 19:38] fweikert commented on #14476
We've migrated to a new site at https://bazel.build that fixes several accessibility issues.

[2022-06-01 19:38] #14476 closed

[2022-06-01 19:38] #14477 closed

[2022-06-01 19:38] fweikert commented on #14478
We've migrated to a new site at https://bazel.build that fixes several accessibility issues.

[2022-06-01 19:38] #14478 closed

[2022-06-01 19:38] fweikert commented on #14479
We've migrated to a new site at https://bazel.build that fixes several accessibility issues.

[2022-06-01 19:38] #14479 closed

[2022-06-01 19:38] fweikert commented on #14481
We've migrated to a new site at https://bazel.build that fixes several accessibility issues.

[2022-06-01 19:38] #14481 closed

[2022-06-01 19:38] fweikert commented on #14483
We've migrated to a new site at https://bazel.build that fixes several accessibility issues.

[2022-06-01 19:38] #14483 closed

[2022-06-01 19:39] fweikert commented on #14484
We've migrated to a new site at https://bazel.build that fixes several accessibility issues.

[2022-06-01 19:39] fweikert commented on #14485
We've migrated to a new site at https://bazel.build that fixes several accessibility issues.

[2022-06-01 19:39] #14485 closed

[2022-06-01 19:39] fweikert commented on #14486
We've migrated to a new site at https://bazel.build that fixes several accessibility issues.

[2022-06-01 19:39] fweikert commented on #14488
We've migrated to a new site at https://bazel.build that fixes several accessibility issues.

[2022-06-01 19:39] #14488 closed

[2022-06-01 19:39] fweikert commented on #14489
We've migrated to a new site at https://bazel.build that fixes several accessibility issues.

[2022-06-01 19:39] #14489 closed

[2022-06-01 19:39] fweikert commented on #14490
We've migrated to a new site at https://bazel.build that fixes several accessibility issues.

[2022-06-01 19:39] fweikert commented on #14491
We've migrated to a new site at https://bazel.build that fixes several accessibility issues.

[2022-06-01 19:39] #14491 closed

[2022-06-01 19:39] fweikert commented on #14492
We've migrated to a new site at https://bazel.build that fixes several accessibility issues.

[2022-06-01 19:39] fweikert commented on #14493
We've migrated to a new site at https://bazel.build that fixes several accessibility issues.

[2022-06-01 19:40] fweikert commented on #14494
We've migrated to a new site at https://bazel.build that fixes several accessibility issues.

[2022-06-01 19:40] #14494 closed

[2022-06-01 19:48] fweikert commented on #13518
I'm not sure what the exact issue is. Moreover, this is a legacy page that is no longer updated.

[2022-06-01 19:48] #13518 closed

[2022-06-01 20:50] #14775 closed

[2022-06-01 21:13] #14525 closed

[2022-06-02 01:23] jeraldsun commented on #15598
@arunkumar9t2 Got it. Thank you very much. I'll have a try.

[2022-06-02 03:55] takipsizad commented on #15547
tried and it fixes

[2022-06-02 13:20] alexeagle opened #15605 "json.decode is too strict; fails on duplicate keys"
### Description of the bug:

A couple of packages are published to npm with a JSON descriptor which is valid in every context it's used.

However `json.decode` fails on this part of the file:
[code]
More context here:
https://github.com/aspect-build/rules_js/issues/148

I agree with the library author that it's really a Bazel bug, which should follow the https://en.wikipedia.org/wiki/Robustness_pr

[2022-06-02 14:32] fweikert opened #15606 "Status of Bazel 6.0.0-pre.20220526.1"
- Expected release date: 2022-06-02

Task list:

- [x] Pick release baseline: [e6bb6fcf](https://github.com/bazelbuild/bazel/commit/e6bb6fcfcc9b571ef0bbdf039b5ae67954ade222)
- [x] Create release candidate: https://releases.bazel.build/6.0.0/rolling/6.0.0-pre.20220526.1rc1/index.html
- [x] Post-submit: https://buildkite.com/bazel/bazel-bazel/builds?branch=release-6.0.0-pre.20220526.1rc1
- [x] Push

[2022-06-02 16:14] lingithub1 opened #15607 "DONT_FOLLOW_SYMLINKS_WHEN_TRAVERSING_THIS_DIRECTORY_VIA_A_RECURSIVE_TARGET_PATTERN being ignored"
### Description of the bug:

The file DONT_FOLLOW_SYMLINKS_WHEN_TRAVERSING_THIS_DIRECTORY_VIA_A_RECURSIVE_TARGET_PATTERN keeps getting ignored _on specific hardware_.

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[code]
[code]

On a HP Z4 G4, I get the expected behavior:
[code]

When putting the source workspace on a RAM disk using tmpf

[2022-06-02 16:42] ishaangandhi commented on #15485
Yeah, there are bazelrc files in effect, but because its a race condition, perhaps its only happening sometimes? The test logs don't report anything out of the ordinary. The second coverage.dat file truly is missing. Could you perhaps run this in a loop with `--jobs 32`? Or maybe copy and paste the test target and source n times for a large value of n (99?) When I do that, I see about 1/3 of the c

[2022-06-02 16:43] ishaangandhi commented on #15485
Which version of gcov are you using?

[2022-06-02 20:02] luyiyang16 opened #15609 "Bazel coverage fails to return coverage results for src code with external in class path"
### Description of the bug:

`bazel coverage --instrumentation_filter="^//java/com/…/external/something[/:]"  javatests/com/…/external/something/...:all`

The above bazel command doesn't return coverage .dat file for me.

I suspect is because this line in the source code that filters out my class path: https://github.com/bazelbuild/bazel/blob/master/tools/test/collect_coverage.sh#L233

### What's

[2022-06-02 20:05] earlruby opened #15610 "The bazel-release.pub.gpg release key expired on May 24, 2022"
### Description of the bug:

The bazel-release.pub.gpg release key expired on May 24, 2022.

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Follow the Installing Bazel on Ubuntu https://bazel.build/install/ubuntu#install-on-ubuntu steps and watch the repo fail to update because the bazel-release.pub.gpg release key expired on May 24, 2022

[2022-06-02 20:18] ckolli5 commented on #15057
@UlasSAYGINIM Just a friendly reminder, could you please provide us with details requested in this [comment](https://github.com/bazelbuild/bazel/issues/15057#issuecomment-1075260280). Thanks!

[2022-06-02 20:18] dmivankov opened #15611 "docs: --nocache_test_results may actually not always be required for coverage"
### Description of the bug:

https://bazel.google.cn/docs/coverage?hl=en#remote-execution

While actually it seems that coverage information can be retrieved from remote cache (at least when test were run locally and only cached remotely?)

[code]
`baseline_coverage.dat` file is also present

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[2022-06-02 20:23] ckolli5 commented on #14838
@Danaozhong Closing this issue with reference to the above [comment](https://github.com/bazelbuild/bazel/issues/14838#issuecomment-1143219176). Thanks!

[2022-06-02 20:23] #14838 closed

[2022-06-02 20:26] dmivankov opened #15612 "inaccurate error message with --remote_download_outputs=toplevel"
### Description of the bug:

enabling just `--remote_download_outputs=toplevel` produces error message

which in reality should've been mentioning `--remote_download_minimal` or `--remote_download_outputs=anything_but_all`
https://github.com/bazelbuild/bazel/blob/4879106fabdf4af9395743941987d4297d232296/src/main/java/com/google/devtools/build/lib/bazel/rules/BazelRulesModule.java#L571

### What's

[2022-06-02 20:54] #15606 closed

[2022-06-02 21:01] dmivankov commented on #4685
For

it seems that `--build_runfile_links` needs to be passed to `bazel coverage`. For example when `build --remote_download_minimal` comes from bazelrc it is expanded to `--nobuild_runfile_links --remote_download_outputs=minimal --experimental_inmemory_jdeps_files --experimental_inmemory_dotd_files` and then is inherited by `bazel coverage`. Using `coverage --build_runfile_links` returns default

[2022-06-02 21:53] ckolli5 commented on #12961
Hey @kigero, with reference to above [comment](https://github.com/bazelbuild/bazel/issues/12961#issuecomment-802311024), can we close this issue?

[2022-06-02 21:56] ckolli5 commented on #10672
Hey @unoexperto, can you please confirm if the mechanism provided in this [comment](https://github.com/bazelbuild/bazel/issues/10672#issuecomment-731628455) solved your issue? Thanks!

[2022-06-02 22:44] UlasSAYGINIM commented on #15057
@ckolli5  thank. it was virtual machine. i moved files and i couldnt look which one. i will provide information soon.
thank you for kind reminder.

[2022-06-02 22:46] unoexperto commented on #10672
@comius Unfortunately I'm unable to confirm. I'm no longer at that company and ever since reject offers from companies that use Bazel.

[2022-06-02 23:09] keith commented on #14776
Oof thanks, I missed that, given that it has been not documented, but still required in some cases, for 4 years, I wonder if we should just remove that now?

[2022-06-02 23:14] UlasSAYGINIM commented on #15057
[code]

[2022-06-02 23:22] UlasSAYGINIM commented on #15057
[code]

[2022-06-03 00:33] aaronmondal commented on #14659
We [just switched](https://github.com/eomii/rules_ll) to `bzlmod` and encountered this.

While this bug breaks several attributes in `http_archive`, it should be possible to work around most of those. For instance, `build_file` is broken, but `build_file_content` should work. Same for `patches` and `patch_cmds`.

[2022-06-03 05:44] supreetpr-kore commented on #5261
getting similar issue.

[code]

[2022-06-03 05:45] supreetpr-kore opened #15614 "Ubuntu 20.04 PPA key expired"
getting similar issue.

[code]

_Originally posted by @supreetpr-kore in https://github.com/bazelbuild/bazel/issues/5261#issuecomment-1145605827_

[2022-06-03 08:29] deepy opened #15616 "platformclasspath_classes folder not writable since 6.0.0-pre.20220517.1"
### Description of the bug:

Starting in `6.0.0-pre.20220517.1` the `platformclasspath_classes` is no longer writable which prevents `DumpPlatformClassPath.class` from being deleted.
This is causing our tests to fail when trying to cleanup or work with the directory.

[code]
[code]

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Build `ex

[2022-06-03 10:56] fmeum commented on #15616
This changed with https://github.com/bazelbuild/bazel/commit/ae523f82d39daf01cf31e40733de0c6345f0935c. Before that commit, the output of the action that compiles `DumpPlatformClassPath` was a non-writable class file, now it is a non-writable directory containing a class file. The same would apply to any other directory output produced by a Bazel rule. While probably working as intended from the pe

[2022-06-03 12:12] fmeum opened #15617 "[Mirror] rules_go 0.32.0"
### Please list the URLs of the archives you'd like to mirror:

https://github.com/bazelbuild/rules_go/releases/download/v0.32.0/rules_go-v0.32.0.zip

[2022-06-03 12:29] dmivankov commented on #8439
Another interesting related note is how `//...` doesn't include `manual` targets but `$(bazel query //...)` does and `--test_tag_filters=-manual` isn't enough to prevent building `manual` targets.

[2022-06-03 12:35] deepy commented on #15616
The problem there is that when we add changing permissions into the mix we can't rely on automatic cleanup by other tools any longer and with multiple operating systems in the mix this becomes even less fun to deal with.
And if we delete it too eagerly it's going to impact test execution times :disappointed:

[2022-06-03 13:35] neel-desh commented on #3231
Hello, I would love to pick it up, but i would need some help with the issue, would love if someone could fill in the description

[2022-06-03 14:21] ckolli5 commented on #15612
Hey @dmivankov, could you please provide us with the steps to reproduce this issue? Thanks!

[2022-06-03 15:14] #12961 closed

[2022-06-03 15:16] dmivankov commented on #15612
Should be as simple as running
[code]
but may depend on whether project has C/C++ or Java targets defined, can try to make a self-contained repro scenario later

[2022-06-03 15:36] jtchilders opened #15619 "When 'gcc' is a symlink to a wrapper (Cray-Programming Environment)"
I am compiling Tensorflow from source in an HPC environment installed by Cray/HPE. The compute nodes are specified here [Polaris](https://www.alcf.anl.gov/polaris), but consists of AMD CPUs and 4 NVidia A100s.

I'm running into the issue that Cray uses a wrapper for `gcc` in the form of symlinks whose target appends compiler flags for include directories and libraries.

As an example, Cray uses `c

[2022-06-03 17:09] ckolli5 commented on #15611
Hey @dmivankov, could you please provide us with the steps to reproduce the issue? Thanks!

[2022-06-03 18:12] shahms opened #15620 "bazel run inserts ANSI escape sequences to stdout when piped to process but not file"
### Description of the bug:

When using `bazel run` to run a command, if bazel's output is redirected to a file it faithfully reproduces the output from that command.  If piped to another process, an ANSI escape sequence (`ESC % G`) is written to the pipe first, presumably to switch the terminal into UTF-8 mode.  This happens regardless of the setting of `--curses` and `--color`.

### What's the s

[2022-06-03 21:59] burdiyan commented on #8766
It seems to me that unless there's an easy way to hook into the platform autodetection, the whole idea of platforms, constrains, and toolchains becomes very hard to use, and inevitably not flag-less.

[2022-06-03 22:35] #14797 closed

[2022-06-03 23:38] aaronmondal commented on #15604
+1 for default `--incompatible_strict_action_env`. This can cause evil confusing behaviour with path overrides.

But do we really need a command for bazel workspace initialization? Anything more than
[code]
would mean opinionating defaults.

I think language-specific setups should be handled by their respective rule repos. Otherwise bazel will depend on external rulesets.

[2022-06-04 00:06] SanjayVas commented on #1146
This is how it's supposed to work according to the documentation for java_binary/java_test, but it doesn't as per #3079.

[2022-06-04 00:56] konste commented on #15094
Third repro: [jstack3.txt](https://github.com/bazelbuild/bazel/files/8836491/jstack3.txt)

[2022-06-04 01:48] cpsauer commented on #13577
Some outside tools that might be easily wrap able in bazel:
https://github.com/mhekkel/mrc
https://github.com/markusfisch/cpprc

[2022-06-04 12:09] creydr commented on #15614
Had the same issue this morning. Needed to add the new key as described in https://github.com/bazelbuild/bazel/issues/11470#issuecomment-633205152

[code]

[2022-06-04 16:26] bpcreech commented on #15033
https://github.com/bazelbuild/bazel/pull/15032 closed this

[2022-06-04 16:26] #15033 closed

[2022-06-04 18:44] lubosz commented on #15531
I am also getting this when building tensorflow on ArchLinux, using Java 18 (java-18-openjdk).

[code]

It does not happen with Java 11. Workaround is:
[code]

Could work with other versions between 11 and 18, did not try all.

[2022-06-05 09:23] fmeum commented on #15616
Have you tried `bazel clean --expunge --output_base=my_test`? This is Bazel-specific, but should work on all OSes.

[2022-06-05 14:09] kiinoo commented on #10294
got the same problem when running `_go_download_sdk`, the download process did not even started..

[2022-06-05 18:04] lbcjbb commented on #10075
We are also facing this issue, which impact the efficiency of our continuous delivery and load and fill, unnecessarily, our remote cache. I have just spent a little time to find the origin of the problem, and if it can help, here a minimal example to reproduce the behaviour.

# Example

`WORKSPACE`
[code]

`BUILD.bazel`
[code]

`myrule.bzl`
[code]

A simple rule which copy the file `volatile-statu

[2022-06-06 02:31] wondfor commented on #158
did you solved this problem？I have the same trouble.

[2022-06-06 02:32] wondfor opened #15621 "> I tried native_test --test_arg=--gtest_output=xml with bazel test, but no luck:"
it doesn't work in general this way, no output seems to be there....

_Originally posted by @Huzuri in https://github.com/bazelbuild/bazel/issues/158#issuecomment-801031619_

[2022-06-06 03:13] bjackr commented on #15010
We also encountered this issue, although rebuilding would fail with or without changes. Is this still slated to make it into 5.2?

[2022-06-06 03:39] sgowroji commented on #15621
Hello @wondfor, Could you please provide your complete use case with respect to the above query. Thanks!

[2022-06-06 03:51] wondfor commented on #15621
Description of the bug:
when I used the command: bazel test //test/protocols/nfs/common:llt_test_nfsCommon_bzl -s --test_arg="--gtest_output=xml:./DTCenter.xml"
I can not get the file "DTCenter.xml" .
What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.
my BUILD.bazel
load("@bazel_skylib//rules:native_binary.bzl", "native_test")

native_test(
    na

[2022-06-06 03:59] sgowroji commented on #15609
Hello @luyiyang16, Is there any way we can reproduce this at our end. Thanks!

[2022-06-06 04:03] luyiyang16 commented on #15609
No longer needed

[2022-06-06 04:03] #15609 closed

[2022-06-06 04:36] sgowroji commented on #15617
Hello @fmeum,  Could you please confirm the above mirror request is same as this https://github.com/bazelbuild/bazel/issues/15480#

[2022-06-06 06:34] supreetpr-kore commented on #15614
Tried this, but getting the same issue. Not resolved.

Thanks

[2022-06-06 06:49] veera20 opened #15622 "Bazel crashes due to internal error(Could not build bazel)"
### Description of the bug:

~/vee# ls
AUTHORS       CODEOWNERS	  ISSUE_TEMPLATE.md  WORKSPACE		   combine_distfiles_to_tar.sh	distdir_deps.bzl  site
BUILD	      CODE_OF_CONDUCT.md  LICENSE	     WORKSPACE.bzlmod	   compile.sh			examples	  src
CHANGELOG.md  CONTRIBUTING.md	  README.md	     bazel-5.1.1-dist.zip  derived			platforms	  third_party
CODEBASE.md   CONTRIBUTORS	  SECURITY.md	     combine_

[2022-06-06 06:59] sgowroji commented on #15614
Duplicate https://github.com/bazelbuild/bazel/issues/15558

[2022-06-06 07:07] sgowroji commented on #15622
Hello @veera20, Do you have any specific steps to reproduce the above exception.

[2022-06-06 07:08] supreetpr-kore commented on #15558
@mashayev
I tried your approach, but I am still stuck with key error,

[code]

[2022-06-06 07:32] fmeum commented on #15617
@sgowroji It's not the same, even though it is for the same version. We need https://github.com/bazelbuild/rules_go/releases/download/v0.32.0/rules_go-v0.32.0.zip to be mirrored in addition to https://mirror.bazel.build/github.com/bazelbuild/rules_go/archive/refs/tags/v0.32.0.zip, which is already available. See https://github.com/bazelbuild/rules_go/issues/3170 for rationale.

[2022-06-06 07:48] veera20 commented on #15622
I am trying to replica the steps provided in Build Bazel from scratch (bootstrapping) document(https://bazel.build/install/compile-source) ,from https://github.com/bazelbuild/bazel/releases from this link downloaded bazel-5.1.1-dist.zip file and i am using openjdk19 version ,running (env EXTRA_BAZEL_ARGS="--tool_java_runtime_version=local_jdk" bash ./compile.sh ) i am facing above bug

[2022-06-06 11:44] sgowroji commented on #15617
Please find the mirror artifacts
https://mirror.bazel.build/github.com/bazelbuild/rules_go/releases/download/v0.32.0/rules_go-v0.32.0.zip

[2022-06-06 11:48] #15617 closed

[2022-06-06 12:02] onelxj opened #15623 "while compiling cc_library from DefaultInfo bazel ignores bazelrc"
### Description of the bug:

I have a rule that returns DefaultInfo(depset(...)) - folder that consists of c++ sources and headers, then I'm trying to compile it with

[code]

The sources require c++17, in bazelrc I have
[code]
but whenever I try to run - it uses C++11 instead of 17
if uncomment `copts`, that includes '-std=c++17' - it works

### What's the simplest, easiest way to reproduce this

[2022-06-06 12:16] onelxj commented on #15623
Fixed via adding `build --action_env=BAZEL_CXXOPTS="-std=c++17"` to bazelrc

Thanks =)

[2022-06-06 12:40] fmeum commented on #15623
`--repo_env` should work better as it doesn't pollute the environment of every action.
Also, please keep in mind that what counts for the `deps` of a `cc_library` is what's in the `CcInfo` of your custom rule, not in `DefaultInfo`. If all you do is generate files, you may want to reference the custom rule from `srcs`, not `deps`.

[2022-06-06 14:04] xcxclin opened #15624 "Support link deps in different ways"
### Description of the feature request:

when I define deps in my BUILD file, the dependencies are linked either static or dynamic way, is it possible to link some of them in static and others in shared way?

### What underlying problem are you trying to solve with this feature?

my code structure is somehow like

-src
  - a
    -BUILD
    -a.cc
  - b
    -BUILD
    -b.cc
  - c
    -BUILD
    -c.c

[2022-06-06 16:17] UebelAndre opened #15625 "Add `rules_rust` to recommended rules"
### Description of the feature request:

I think [rules_rust](https://github.com/bazelbuild/rules_rust) fits the criteria [here](https://github.com/bazelbuild/bazel-website/blob/master/recommended-rules.md) for becoming a recommended set of rules (https://bazel.build/rules#recommended-rules). I'm filing this issue per the guidance there as well.

[2022-06-06 16:18] UebelAndre commented on #15625
cc @hlopko, the current Googler admin for `rule_rust`.

[2022-06-06 17:23] stabai commented on #4301
I feel like the documentation [here](https://bazel.build/rules#embedded-rules) (which is the best documentation I've found) should have more detailed explanation, and should also be included on every page that talks about built-in rules, like the [BUILD encyclopedia](https://bazel.build/reference/be/overview).

Based on discussion here, it seems that this list is only expected to shrink in the fut

[2022-06-06 17:37] fmeum opened #15626 "[Mirror] rules_go 0.33.0"
### Please list the URLs of the archives you'd like to mirror:

https://github.com/bazelbuild/rules_go/releases/download/v0.33.0/rules_go-v0.33.0.zip
https://github.com/golang/sys/archive/bc2c85ada10aa9b6aa9607e9ac9ad0761b95cf1d.zip
https://github.com/golang/xerrors/archive/f3a8303e98df87cf4205e70f82c1c3c19f345f91.zip
https://github.com/protocolbuffers/protobuf-go/archive/refs/tags/v1.28.0.zip
htt

[2022-06-06 17:44] gregestren commented on #15555
@sgowroji I don't believe this is `team-Configurability`'s area of expertise.

It looks like it's related to how Bazel sets the default CPU on Macs with ARM processors. I'm not sure which group is best equipped to diagnose that. Perhaps `team-OSS`? Could you inquire more to check?

[2022-06-06 21:08] gregestren commented on #8739
Hi all.

We've done some review on https://github.com/bazelbuild/bazel/pull/15552.

I support it and am happy to advocate for making it canonical. But I'd really like your input on what exact formatting is best (I believe the author, @fmeum is also open-minded on formatting):

**Current output**:

[code]

 - **pro:** super-simple and intuitive
 - **pro:** supports output groups (so you can configu

[2022-06-06 23:05] yliu98 opened #15627 "instrumentation_filter doesn't control what files to be instrumented"
### Description of the bug:

When code coverage is enabled using --collect_code_coverage=True, no matter if a file matches the instrumentation_filter it will always be compiled with instrumentation flags turned on. isCodeCoverageEnabled in CcCimpilationHelper should be used to guard it in CcCommon.

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if pos

[2022-06-06 23:06] kurt-google commented on #8739
My two cents, the "deeper" output means users will probably end up using awk or otherwise which is annoying to unpleasant depending on the reader and the "structured" output will result in unreadable jq rules on magic arrays of values that will potentially cause issues if/when the output changes in the future. So I would prefer either simple list of output or "super-structured" with useful keys re

[2022-06-07 03:06] wangzy0327 opened #15628 "How to I build my project like using CPLUS_INCLUDE_PATH and LD_LIBRARY_PATH env in bazel tool?"
### Description of the bug:

I have a local library project, I want to depends it in my another project.
how to use it in bazel to build?

I only just build it in cmake.But I am new for bazel.Can you help me ?

this is CMakeLists.txt

`project(oneDNN-example)

set(DPCPP_HOME "/home/wzy/sycl_workspace")
set(LLVM_HOME "${DPCPP_HOME}/build-cuda-debug")
set(DNN_HOME "${DPCPP_HOME}/oneDNN-cuda-debug")

[2022-06-07 04:28] xushaoxiao opened #15629 "Bazel build for rules_docker#java_image fails with "No matching toolchains found for types @bazel_tools//tools/cpp:toolchain_type. Maybe --incompatible_use_cc_configure_from_rules_cc has been flipped and there is no default C++ toolchain added in the WORKSPACE file""
### Description of the bug:

While resolving toolchains for target //cover:cover_app_image.binary: No matching toolchains found for types @bazel_tools//tools/cpp:toolchain_type. Maybe --incompatible_use_cc_configure_from_rules_cc has been flipped and there is no default C++ toolchain added in the WORKSPACE file? See https://github.com/bazelbuild/bazel/issues/10134 for details and migration instruc

[2022-06-07 04:49] sgowroji commented on #15626
Please find the below artifacts
1. https://mirror.bazel.build/github.com/bazelbuild/rules_go/releases/download/v0.33.0/rules_go-v0.33.0.zip
2. https://mirror.bazel.build/github.com/golang/sys/archive/bc2c85ada10aa9b6aa9607e9ac9ad0761b95cf1d.zip
3. https://mirror.bazel.build/github.com/golang/xerrors/archive/f3a8303e98df87cf4205e70f82c1c3c19f345f91.zip
4. https://mirror.bazel.build/github.com/proto

[2022-06-07 05:01] wangzy0327 opened #15630 "how to build my project with local repository?"
### Description of the bug:

this is my bazel BUILD:

`# test/BUILD
local_repository (
    name = "google_test",
    path = "/home/wzy/software/googletest"
)

cc_test(
    name = "hello_test",
    srcs = ["hello_test.cc"],
    copts = ["-Igoogle_test/include"],
    deps = [
        "@gtest//:main",
    ],
    linkopts = ["-gtest_main"]
)
`

hello_test.cc code is
`#include <gtest/gtest.h>

// Demon

[2022-06-07 06:15] #15626 closed

[2022-06-07 06:21] sgowroji commented on #15629
Hello @xushaoxiao, Did you try the workarounds mentioned in added [issue](https://github.com/bazelbuild/bazel/issues/10134#issuecomment-1079880746). If still you are not resolved can you provide more details.

[2022-06-07 06:36] wangzy0327 commented on #15630
this is the gcc version and gcc environment. Its seems normally
![image](https://user-images.githubusercontent.com/22990858/172312079-8079f6a6-7dfe-4d36-8d62-a6a46eac35a5.png)

[2022-06-07 09:12] onelxj commented on #15623
@fmeum Could you please explain, why defaul bazel:linux --cxxopt='-std=c++17' is not valid for this build? Other srcs in the repo that copliling also with cc_library work fine

[2022-06-07 09:14] fmeum commented on #15623
@onelxj Do you have a complete example reproducing the issue you could share? In a local example I tried `--cxxopt` did apply to generated files with e.g. `.cpp` extensions.

[2022-06-07 11:37] daohu527 opened #15632 ""strict transitive dependency mode" not work ?"
### Description of the bug:

Suppose there is the following dependency a->b->c, **a contains the header file of c, but does not use anything**, then a's build file depends on b, but not on c. Then this forms an **implicit dependency,** and bazel will not report a error!

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

_No response_

### Wh

[2022-06-07 12:03] coeuvre commented on #15010
The fix is included in 5.2, closing.

[2022-06-07 12:09] googleson78 opened #15633 "--incompatible_strict_action_env doesn't seem to work"
### Description of the bug:

Using `--[no]incompatible_strict_action_env` still propagates my local path when trying to run a RBE.

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

With the following setup:
[code]

Running
[code]
results in a failure, because
* my local path doesn't contain `/usr/bin`
* my local path is getting propagated
*

[2022-06-07 12:32] googleson78 commented on #15633
Actually, nixpkgs applies [a patch](https://github.com/NixOS/nixpkgs/blob/nixos-unstable/pkgs/development/tools/build-managers/bazel/bazel_5/actions_path.patch) to bazel to handle cases when `PATH` isn't defined.

So I guess the interaction here might be that the flag is unsetting `PATH` and the applied patch is breaking this. I need to investigate further, so I'm closing for now.

[2022-06-07 12:32] #15633 closed

[2022-06-07 13:28] mashayev commented on #15558
I just run it again and it works. Try to run it from a ubuntu container and see if it works:

`docker run -it --rm ubuntu:latest /bin/bash`
[code]

[2022-06-07 14:49] sgowroji commented on #15632
Hello @daohu527, Can you provide more details to reproduce the above problem. Thanks!

[2022-06-07 15:33] emidln-imc commented on #15605
What is the most useful and still rational behavior here? You could plausibly argue four approaches:

1. keep the value of the first key seen
2. keep the value of the last key seen
3. merge the values of duplicates if the value is an object
4. error

[2022-06-07 16:50] keith commented on #14669
Something like this seems necessary to be able to use custom transitions for common cases. A very common case I see with transitions is just trying to do something like this trivial example from the docs https://docs.bazel.build/versions/4.0.0/skylark/config.html#incoming-edge-transitions, which you cannot actually do for many cases unless you manually enumerate all possible providers that you wan

[2022-06-07 17:27] ckolli5 commented on #15210
5.2 is now out!

[@vbatts](https://github.com/vbatts) [@petemounce](https://github.com/petemounce) [@excitoon](https://github.com/excitoon) Could you please update relevant package managers? Thanks!

[2022-06-07 17:48] fmeum commented on #14669
Maybe the right API for this would be based on [this proposal by @comius](https://docs.google.com/document/d/1uuX1Gz6Kvivp-oOqGja342VrVO534PLF0m_zFtFIBcc/edit#bookmark=id.5ou8nndlopk6): Turn a `Target` into something mutable, mutate it and return it from a rule instead of a list of providers.

There is one other point that is very tricky when forwarding providers: The requirement that an executabl

[2022-06-07 19:15] aiuto commented on #12081
I am closing this out as done enough, based on the status update from 2021-01-21.  We can move the few individual JDKS we need as we encounter them, but it is likely we can just leapfrog to bzlmod based deps.

[2022-06-07 19:15] #12081 closed

[2022-06-07 23:35] bhack commented on #14848
I got the same error in Tensorflow in these days:
https://github.com/tensorflow/tensorflow/commit/0f9af911152880e36b2bfa8435e3746b9e329660

It's really very sneaky

[2022-06-08 02:17] bazaglia commented on #14278
Unfortunately, even though Bazel 5.2 updates the Google Auth library, something seems broken and the following Bazel command:

[code]

Fails with:

[code]

[2022-06-08 02:32] daohu527 commented on #15632
I modified https://github.com/bazelbuild/examples/tree/main/cpp-tutorial/stage3 as an example.

as you see `hello-world.cc` contain `lib/hello-time.h` but no use it. and then `hello-world` deps on `hello-greet`, which deps on `//lib:hello-time`. **In other words `hello-world` implicit deps on `//lib:hello-time`**, but bazel will success, which violates the strict transitive dependency mode.

## cp

[2022-06-08 04:09] sgowroji commented on #15586
As there is no significant update on this issue from long time, We are closing this issue now. Please feel free to reopen if you are still looking resolution for the above query. Thanks!

[2022-06-08 04:09] #15586 closed

[2022-06-08 04:12] sgowroji commented on #15531
Hello @bulvara and @lubosz, Could you please confirm this as possible duplicate of https://github.com/bazelbuild/bazel/issues/14548

[2022-06-08 04:15] sgowroji commented on #14850
As there is no significant update on this issue for long time, We are closing this issue now. Please feel free to reopen if you are still looking resolution for the above query. Thanks!

[2022-06-08 04:15] #14850 closed

[2022-06-08 04:16] sgowroji commented on #14846
As there is no significant update on this issue from long time, We are closing this issue now. Please feel free to reopen if you are still looking resolution for the above query. Thanks!

[2022-06-08 04:16] #14846 closed

[2022-06-08 04:17] #14683 closed

[2022-06-08 04:21] sgowroji commented on #14674
Hello Vishrant, Hope you are doing well!
I wanted to check with you on the above [comment](https://github.com/bazelbuild/bazel/issues/14674#issuecomment-1026307509), Could you please confirm on the same with complete details. It will be closed very soon, if no further activity occurs on this issue. Thank you.

[2022-06-08 04:21] #14619 closed

[2022-06-08 04:23] sgowroji commented on #14496
As there is no significant update on this issue for long time, We are closing this issue now. Please feel free to reopen if you are still looking resolution for the above query. Thanks!

[2022-06-08 04:23] #14496 closed

[2022-06-08 04:23] #14106 closed

[2022-06-08 04:24] sgowroji commented on #13589
As there is no significant update on this issue for long time, We are closing this issue now. Please feel free to reopen if you are still looking resolution for the above query. Thanks!

[2022-06-08 04:24] #13517 closed

[2022-06-08 04:25] #13589 closed

[2022-06-08 04:25] sgowroji commented on #12029
As there is no significant update on this issue for long time, We are closing this issue now. Please feel free to reopen if you are still looking resolution for the above query. Thanks!

[2022-06-08 04:25] #12029 closed

[2022-06-08 06:20] 0xtyls opened #15636 "Conflict documents about --strategy_regexp"
### Description of the bug:

In user manual (https://docs.bazel.build/versions/main/user-manual.html#flag--strategy_regexp), it says "The last regex_filter that matches the description is used". In command line reference(https://docs.bazel.build/versions/main/command-line-reference.html#flag--strategy_regexp), it says "The first regex_filter that matches the description is used."  Which one is rig

[2022-06-08 06:49] fmeum commented on #15632
Strict deps checking for C++ on that level of granularity requires passing the flag `--features=layering_check` as it may not work with all compilers. Does that give you the expected failure?

[2022-06-08 08:00] bazaglia opened #15639 "Bazel 5.2 Google Cloud's Workload identity federation auth seems broken"
### Description of the bug:

Bazel 5.2 updated to the Google Auth library, which supports Workload identity federation, useful for keyless authentication from pipelines. This can be verified in https://github.com/bazelbuild/bazel/pull/15383. However, when providing the credentials file through the `google_credentials` flag:

[code]

Bazel just throws an error:

[code]

### What's the simplest, eas

[2022-06-08 09:29] fmeum commented on #14526
This goes even further: If a module extension specifies incorrect attributes for a repository rule, an error is printed but the build doesn't fail.

[2022-06-08 10:07] daohu527 commented on #15632
yes, it thrown out an error like below.
[code]

Then my question is, since bazel lets users use `strict transitive dependency` in best practice, why doesn't it check by default?

[2022-06-08 11:15] ali-dfinity commented on #15558
fwiw we ended up migrating over to [Bazelisk](https://github.com/bazelbuild/bazelisk), which works quite well.

[2022-06-08 12:57] veera20 commented on #15622
@sgowroji and also i am using openjdk19 to build bazel

[2022-06-08 14:44] cjohnstoniv opened #15641 "Maven Install Rule Dependency Resolution Of Many Defined Artifacts Leads To CLI Overload On Windows"
### Description of the bug:

We have a WORKSPACE file that defines the maven_install rule and has upwards of 400+ dependencies listed in the rule directly. This works just fine on Mac/Linux machines however on Windows we are hit with a too big of a CLI error.

The error seems to point at Coursier and the execution of it passing each and every artifact that is in Maven install definition into Cours

[2022-06-08 15:11] bazaglia commented on #15639
@coeuvre I see you made the cherry-pick adding the related PR to Bazel 5.2 in the first place. Maybe you have a clue about what is wrong?

[2022-06-08 16:55] shs96c commented on #8739
For reference, the [equivalent command in Buck](https://buck.build/command/targets.html) is `buck targets --show-output` and it follows the "deeper output" format. The spaces are only going to be a problem if we allow spaces in labels, and I'm not sure that's going to happen.

[2022-06-08 19:30] Yannic commented on #15013
I wrote a design doc for this: https://github.com/bazelbuild/proposals/blob/main/designs/2022-06-07-bazel-credential-helpers.md PTAL

[2022-06-08 20:35] adam-azarchs commented on #15013
I think there's some tweaks that can make it work, but I'm not sure it makes sense to have a single "jack of all trades" `--credential_helper`, for a few reasons:

1. The way we'd want to go about obtaining credentials for downloading repository artifacts from https might be quite different from how we'd do so for RBE/BES, so merging them into a single tool might not make sense.  It might be best

[2022-06-08 20:48] adam-azarchs commented on #15013
I would also probably drop the part about non-absolute paths `foo` being converted to `foo-bazel-credential-helper`.  I would allow (root) workspace-relative paths, and also searching in `PATH`, but I wouldn't arbitrarily append a suffix onto what the user passed in.  Verbosity for that command line shouldn't be a big deal, as I'd expect that in almost every case the user would be configuring it i

[2022-06-08 23:27] chenhao94 opened #15642 "Broken Auto Genreated CC Toolchain when Using ccache/clang"
### Description of the bug:

cc toolchain is not correctly generated when using ccache with clang, while ccache with gcc works.

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[code]

### Which operating system are you running Bazel on?

Ubuntu 20.04

### What is the output of `bazel info release`?

release 5.1.0. I also tried other 5.x a

[2022-06-08 23:28] gregestren opened #15643 "Documentation: upgrade rule() code samples from deprecate outputs attribute"
### Description of the bug:

Code samples from  https://bazel.build/rules/rules#using_the_validations_output_group include

[code]

but according to https://bazel.build/rules/lib/globals#rule, `output` is deprecated and is disabled with `---incompatible_no_rule_outputs_param`.

Also for `This parameter has been deprecated. Migrate rules to use OutputGroupInfo or attr.output instead.`, let's link t

[2022-06-08 23:46] gregestren commented on #8739
`cquery`'s natural output is:

[code]

which outputs a `<target> <configuration>` pair. That's what the `c` in `cquery` means.

There's also:

[code]

and other output formats that quickly get more dense.

So the most `cquery`-consistent output seems like:

[code]

Also, different configs of the same target can produce different outputs. So the label alone isn't sufficient to key the output.

So h

[2022-06-09 03:35] achew22 opened #15644 "Unable to add new maintainer to go-maintainers GitHub team"
### Description of the bug:

Members of the `bazelbuild/go-maintainers` team are unable to add new maintainers.

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

1. Go to https://github.com/orgs/bazelbuild/teams/go-maintainers/members as a member of the go-maintainers team
2. Click "Add a member"
3. Type in the name of the maintainer you wo

[2022-06-09 04:19] sgowroji commented on #15641
Hello @cjohnstoniv, Could you please follow up duplicate issue https://github.com/bazelbuild/bazel/issues/14256 for further updates.

[2022-06-09 04:19] #15641 closed

[2022-06-09 05:30] guw commented on #15013
In an enterprise environment it should never be a rule author deciding if something is put behind a protected URL or not. It needs to be at the discretion of the enterprise users/customers deciding whether to protect URLs or not. That's why I'm a big supporter for a central solution in Bazel without any opt-in/opt-out from rules.

I was thinking of the credential helpers to be more globally scoped

[2022-06-09 07:05] adam-azarchs commented on #15013
To be more clear, my assumption would be that rules would pass that parameter in from an attribute, e.g.
[code]
So not the rule author's decision, but the decision of whomever is selecting the URL from which to download, which is the appropriate place to be making such a decision.  My note about making it a parameter to `repository_ctx.download` is simply because that would have to be how it was i

[2022-06-09 09:15] UlrichEckhardt commented on #12042
After fighting with `gcov` for a while, I'd recommend that you pass the object files (*.o or *.obj) to `gcov`. If you do that, it finds the other files (sources, *.gcno and *.gcda) as well. This is an issue in `gcov` though, I would say.

[2022-06-09 09:46] UlrichEckhardt opened #15646 "GCC gcov files are missing from action outputs"
### Description of the bug:

I want to process coverage information from a C++ target in a custom rule. For that, I need the generated *.gcno files from compilation and *.gcda files from running the binary. This proves to be difficult, because Bazel seems to be blissfully unaware of them throughout.

Of course, having them as output of the actions isn't all, it's also that they are required to be

[2022-06-09 10:31] tuananh commented on #15629
that one works for go_image, what about `java_image`?

[2022-06-09 12:35] fitzner commented on #11001
With Bazel 5.0.0 Bzlmod has been introduced. It would be great if Bazel could retrieve the internal dependencies via Bzlmod instead of the WORKSPACE approach. Could be bound to the flag https://docs.bazel.build/versions/main/command-line-reference.html#flag--experimental_enable_bzlmod

[2022-06-09 12:40] UlrichEckhardt commented on #12099
I think this and #15646 are different views on the same underlying problem.

[2022-06-09 12:48] avielas commented on #15646
you can use the --collect_code_coverage flag with Bazel build/run to generate the GCNO files under bazel-out directory.
see here:
https://docs.bazel.build/versions/main/command-line-reference.html#flag--collect_code_coverage

[2022-06-09 12:56] lukaciko commented on #15010
For anyone else that might be searching for it, the cherry picked fix for 5.2 is in 4d900ceea12919ad62012830a95e51f9ec1a48bb.

[2022-06-09 14:46] fitzner opened #15647 "C/C++ coverage with hermetic llvm/clang toolchain configuration issue"
### Description of the bug:

When Bazel will be used with a hermetic llvm/clang toolchain there are some issues to configure the tools needed for C/C++ coverage runs. It seems that the coverage environment get their tool path information via `String llvmCov = toolchain.getToolPathStringOrNull(Tool.LLVM_COV);` This use a deprecated mechanism to configure the tool paths [4]  without a support of ref

[2022-06-09 15:38] ericsong opened #15649 "Duplicate paths in PYTHONPATH when calling py_binary targets"
### Description of the bug:

Duplicate paths in PYTHONPATH can exist when executing the output of a py_binary target if there are duplicate paths between the existing PYTHONPATH and the additional PYTHONPATH generated by the py_binary wrapper. This is easiest to reproduce by calling a py_binary target as a subprocess while running another py_binary program.

A really long PYTHONPATH can cause issu

[2022-06-09 17:26] jkaye2012 commented on #10055
Another option for anyone else having this issue is to use [java_export](https://github.com/bazelbuild/rules_jvm_external#publishing-to-external-repositories) to generate jars and then rely upon the sources as `runtime_deps`. Something akin to this is working well for us:

[code]

A nice bonus of this is that downstream `java_library` rules can rely directly on the `java_proto_export` target as a

[2022-06-09 18:08] ashyralyyev opened #15650 "Java header compilation fails to resolve generated class"
### Description of the bug:

Header compilation fails when a generated source file uses another generated class from within the same `java_library` but a different package.

Example:
`Foo` has `@Value.Immutable` annotation. It generates `ImmutableFoo`. Similarly, `Bar` has `@Value.Immutable` annotation. It generates `ImmutableBar`. `ImmutableFoo` uses `ImmutableBar`.

When `Foo.java` and `Bar.java

[2022-06-09 20:02] liuliu commented on #5391
@lightyang given that is the root cause, any suggestions to workaround this (if we know what we are doing) with the default toolchain?

[2022-06-09 20:35] saingsocheat opened #15651 "Release X.Y - $MONTH $YEAR"
# Status of Bazel X.Y

-   Target baseline: [date]
-   Expected release date: [date]
-   [List of release blockers](link-to-milestone)

To report a release-blocking bug, please add a comment with the text `@bazel-io flag` to the issue. A release manager will triage it and add it to the milestone.

To cherry-pick a mainline commit into X.Y, simply send a PR against the `release-X.Y.0` branch.

Task

[2022-06-09 21:21] ckolli5 commented on #9027
Hey @irengrig, could you please address the above [comment](https://github.com/bazelbuild/bazel/issues/9027#issuecomment-616626933)? Thanks!

[2022-06-09 21:57] #15651 closed

[2022-06-09 22:04] michael-etzkorn opened #15652 "socks5h proxy incompatible with bazel"
### Description of the bug:

Set socks5h proxy up.
Get 'unexpected end of file' even though a server request isn't dropped from the remote.

If I define the socks proxy through https_proxy or http_proxy environment variables, I get this:
[code]

Other build servers like sbt and running `git clone` work with no issue.

### What's the simplest, easiest way to reproduce this bug? Please provide a min

[2022-06-09 22:37] keith commented on #14654
Still seeing this, removing `--experimental_remote_cache_compression` works around it

[2022-06-10 01:12] konste opened #15653 "string flag with allow_multiple=True represented as string or list depending on the number of times it was used"
### Description of the bug:

[code]
When such flag is used in transition corresponding setting is string if the flag was used once or it is list if the flag was used more than once.

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

I provided compact repro here: https://github.com/Bazel-snippets/string_flag
Command to run: `bazel build test

[2022-06-10 02:04] brentleyjones commented on #15653
Is https://github.com/bazelbuild/bazel/issues/13817 related?

[2022-06-10 02:45] michael-etzkorn commented on #15652
What I'm gathering is there's simply no socks5 proxy support. wget suffers a similar issue. Tools like `curl`, `sbt` ,and `git` work which suggests to me some limitation with how the requests are made. `$JAVA_OPTS` seems to be ignored even with the socks server specified.

[2022-06-10 02:48] konste commented on #15653
@brentleyjones thank you for connecting this issue with https://github.com/bazelbuild/bazel/issues/13817
It is definitely in the same area, but the bugs are actually different.
https://github.com/bazelbuild/bazel/issues/13817 is about the limitation that flags with allow_multiple=True cannot be defaulted to empty list.
This bug is different - it is specific to transitions and it shows that the val

[2022-06-10 04:16] jin commented on #8681
Aspect (the company) built this: https://docs.aspect.build

@alexeagle

[2022-06-10 04:16] #8681 closed

[2022-06-10 06:27] sgowroji commented on #15601
As there is no significant update on this issue for more than 7 days, We are closing this issue now. Please feel free to reopen if you are still looking resolution for the above query. Thanks!

[2022-06-10 06:27] #15601 closed

[2022-06-10 06:30] comius commented on #15629
cc @gravypod have there been changes in rules_docker? Could you investigate?

I'm not aware of any changes in Bazel that would have caused this.

[2022-06-10 06:31] sgowroji commented on #15607
Hello @lingithub1, Did you get a chance to check the above [comment](https://github.com/bazelbuild/bazel/issues/15607#issuecomment-1147651610). Could you please respond to it. Thanks!

[2022-06-10 06:34] sgowroji commented on #11870
Hello  @prashantsharma04 & @wyattanderson, Checking on the above threads whether you are still able to reproduce and looking resolution for it.  Thanks!

[2022-06-10 06:38] sgowroji commented on #14058
Hello @xytan0056, Wanted to check wether you are still looking resolution for the above FR and you can also go through the workaround mentioned in the above comment. Please feel free to reopen, if you have any further queries on the same. Thanks!

[2022-06-10 06:38] #14058 closed

[2022-06-10 06:43] sgowroji commented on #14856
Hello @neal-codaio, Could you please respond to the above [comments](https://github.com/bazelbuild/bazel/issues/14856#issuecomment-1051414977) and provide the necessary information required to triage this issue. We will be closing this issue after 7 days if there is no significant update on it. Thanks!

[2022-06-10 06:58] fa93hws opened #15654 "Query will not show error when circular dependencies is found"
### Description of the bug:

When there is circular dependencies, `bazel build` will fail. However, `bazel query` seems to be fine with circular dependencies. Is that expected behavior? I think if a target can not be built, it's probably better to throw error as soon as possible.

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Have some s

[2022-06-10 07:26] larsrc-google commented on #15519
I've been looking at the fallback situation for a bit internally, where there are some extra legacy flags. `--remote_local_fallback` has the very reasonable use case of handling certain remote failures. Getting rid of `--remote_local_fallback_strategy` would be good. As for what should be the fallback strategy, I think it should just go on to the next strategy in its list of possible strategies -

[2022-06-10 07:49] ulrfa commented on #15519
Thanks for working on this @larsrc-google! I think your solution is good!

My only concern is the number of messages printed in terminal. Are you planning reporting each individual action? I'm afraid that is too verbose when remote system is down and all actions fallback. Or is it just me misunderstanding the example?

[2022-06-10 08:51] fmeum commented on #15653
@konste Is it possible that this only happens when the build setting is *not* set to a non-default value on the command-line? I prepared https://github.com/bazelbuild/bazel/pull/15655, could you give it a try? With your reproducer, I now always get a list in the transition.

[2022-06-10 09:24] meteorcloudy commented on #15582
This is no longer a problem after rerunning the pipeline to reupload the artifacts.

[2022-06-10 09:24] #15582 closed

[2022-06-10 11:20] larsrc-google commented on #15519
No, those were just for illustration. In practice, they should go in the log only.

[2022-06-10 12:10] sgowroji commented on #15654
Hello @fa93hws, Could you please provide reproducing steps for the above issue. Thanks!

[2022-06-10 13:22] fweikert opened #15656 "Status of Bazel 6.0.0-pre.20220601.1"
- Expected release date: 2022-06-10

Task list:

- [x] Pick release baseline: [93f6e51a](https://github.com/bazelbuild/bazel/commit/93f6e51a8756021f6e6a027d4520415385fe9293)
- [x] Create release candidate: https://releases.bazel.build/6.0.0/rolling/6.0.0-pre.20220601.1rc1/index.html
- [x] Post-submit: https://buildkite.com/bazel/bazel-bazel/builds?branch=release-6.0.0-pre.20220601.1rc1
- [x] Push

[2022-06-10 14:03] ckolli5 commented on #4769
Hey @gkossakowski, could you please confirm if this issue is still existing? Thanks!

[2022-06-10 14:48] benjaminp commented on #15654
#12204

[2022-06-10 15:00] gkossakowski commented on #4769
Sadly, I no longer work with Bazel so can't weight in.

[2022-06-10 15:37] Wyverald opened #15657 "The workspace name specified in WORKSPACE is not part of the main repo mapping in Bzlmod"
[code]

To ease migration, both should work.

[2022-06-10 15:38] #15656 closed

[2022-06-10 15:42] Wyverald commented on #15657
To be clear, the `@old//:dep` label also "works" in the sense that this build won't immediately fail, but only due to hack where we implicitly insert a `local_repository(name = "old", path = ".")` clause into the WORKSPACE file ([code](https://cs.opensource.google/bazel/bazel/+/master:src/main/java/com/google/devtools/build/lib/packages/WorkspaceGlobals.java;l=88-100;drc=3c07a3416ebd784d00c75b4038

[2022-06-10 17:27] konste commented on #15653
@fmeum I did some testing and found that the issue reproduces for `multistring_flag` when
1. flag definition is given a single string value and not set on the command line or
2. flag definition is given a single string value and it is set from the command line to exactly the same single value
In other cases I also get the list.

[2022-06-10 17:30] fmeum commented on #15653
That matches what I fixed, thanks for confirming.

[2022-06-10 17:31] Wyverald opened #15658 "`package()` attributes don't go through repo mapping"
[code]

The labels above don't go through the repo mapping applicable to the current package. We should fix that.

[2022-06-10 17:34] konste commented on #15653
A couple more observations:
1. When `multistring_flag` is set on the command line to nothing - I get empty list, Good!
2. When `multistring_flag` has the default set to empty string - I get empty string in transition. Bad.

[2022-06-10 17:40] konste commented on #15653
Another something I don't understand at all:
1. Run the repro `bazel build test` to get Bazel server running
2. Edit the code to change both flags defaults
3. Run the repro again.

Observation - output from the rule implementation function shows new default values, BUT the output from transition implementation function shows the old values! And those values never change until I shutdown Bazel serv

[2022-06-10 17:48] fmeum commented on #15653
That sounds pretty bad and wouldn't be covered by my fix.

@gregestren Could there be some issue with transition caching related to the default value being encoded as `null` and not its actual value?

[2022-06-10 19:47] keith commented on #15010
We're still seeing this with bazel @ HEAD 100% of the time when using toplevel downloads, the error for the files is slightly different:

[code]

[2022-06-10 20:31] Yannic commented on #15013
Adjusted the proposal to allow workspace-relative credential helpers and specifying which domains to apply a helper to. PTAL (https://github.com/bazelbuild/proposals/pull/264).

While I agree that re-using the protocol of an existing credential helper like `git credential fill` or docker would be nice, I don't think these protocols are sufficiently flexible. At least these two are primarily focuse

[2022-06-10 21:23] gregestren commented on #15653
Will have to check, thanks for the correctness observation...

[2022-06-10 23:25] AustinSchuh commented on #12821
@jin , what's the correct course of action here?  I can send a revert out.  We missed 5.2.

[2022-06-11 02:15] adam-azarchs opened #15659 "Allow starlark rules to filter File sets using `glob`."
### Description of the feature request:

Give starlark rule implementations the ability to filter a `depset` or `list` of `File` objects using [glob](https://bazel.build/reference/be/functions#glob).  This should match based on the `short_path` of the file, and expose both `include` and `exclude` pattern sets.

### What underlying problem are you trying to solve with this feature?

There are vario

[2022-06-11 03:23] acecilia commented on #15656
Hey @fweikert 👋 I tried to find information online about when Bazel 6 release is planned, but could not find much. Would you mind pointing me  in the right direction? 🙏 Thanks!

[2022-06-11 09:26] sluongng commented on #15029
May I formally request that changes to runfiles library to go through the proposal process in https://github.com/bazelbuild/proposals? It might help tremendously for future references looking back as well as lay a good foundation for future documentation effort. (there is no doc for runfiles lib today)

[2022-06-11 14:59] fmeum commented on #15029
I have thought more about robust ways to implement repo mapping aware runfile lookups in Java and arrived at a code generation approach borrowing ideas from [rules_runfiles](https://github.com/fmeum/rules_runfiles). Approaches based on `StackWalker` potentially wouldn't work after e.g. ProGuard ran. On the other hand, Go's `runtime.Caller` should always work.

With the prototype at https://github.

[2022-06-11 19:50] chenchenji commented on #11870
@sgowroji
this error still happens to me, my local_jdk is jdk8 too.
this is my bazelrc configuration about java toolchain:

[code]

[2022-06-12 00:28] weegreenblobbie commented on #13282
No, the comment doesn't actually explain what happens.  Building from scratch, I'd expect object files get produced from compiling c++ code for example, these get composed into an executable.

Now if I make another edit, I'd expect the same thing to happen when I build again, the compiler is invoked creating object files, these get composed into an executable.

What happens if I hit CTRL+Z to undo

[2022-06-12 00:39] oconnor663 opened #15660 "fishy strategy for order-independent hashing"
### Description of the bug:

With apologies, this isn't a bug that I can reproduce in practice. It's just a concern I have reading the code. The code in question is [MetadataDigestUtils.java](https://github.com/bazelbuild/bazel/blob/f0e63c4c934dfd9e85d2e55ede7c5bc0409946c7/src/main/java/com/google/devtools/build/lib/actions/cache/MetadataDigestUtils.java#L49-L60):

[code]

(Similarly, the `fromMet

[2022-06-12 20:56] psigen opened #15662 "`rlocation` returns different results for a target and an alias of that target."
### Description of the bug:

Define a simple `sh_binary` called `\\:foo1`, and create
an alias target `\\:foo2` that refers to `\\:foo1`.

Then create another `sh_binary` called `\\:bar` that depends on
the foo1 and foo2 target and resolves them using `$(rlocation ...)`.

The desired behavior would be for `rlocation` calls on both targets
to resolve to the same path, since they represent the same

[2022-06-13 04:41] EdSchouten commented on #10799
This can be closed, right? You can nowadays use `exec_properties = {"test.foo": "bar"}` to set properties on the `test` exec group.

[2022-06-13 05:33] takipsizad commented on #15547
Hello
Root cause was me having Turkish as display language

On Mon, May 23, 2022, 07:15 GowrojiSunil ***@***.***> wrote:

[2022-06-13 08:26] coeuvre commented on #15010
Please share grpc log as well as stack trace of above error.

[2022-06-13 08:32] comius commented on #15650
cc @chushon

[2022-06-13 09:41] hisener commented on #15650
cc @cushon (There is a typo above 🙂)

[2022-06-13 09:57] comius commented on #15650
ups, thanks!

[2022-06-13 13:12] Wyverald commented on #15210
@ckolli5 could you update the release page to point to the release notes blog post? (see last item in the checklist at the top of this page) Then this issue can be closed.

[2022-06-13 14:27] haxorz commented on #15654
@[benjaminp](https://github.com/benjaminp) is correct this is a dupe of https://github.com/bazelbuild/bazel/issues/12204.

Unfortunately, both folks I tagged in that issue no longer work on Bazel. I'll find another assignee.

[2022-06-13 14:39] #15657 closed

[2022-06-13 14:46] haxorz commented on #12204
Performance team, in the time since internal issue 122472781 was filed in Jan 2019:
* Julie left the team.
* This GitHub issue was filed.
* Performance team co-owned `query`.
* Alan left the team.

So I wanted to bring this to your attention. When 122472781 was filed I recommended updating the documentation. Does that sound good to you?

[2022-06-13 15:16] #15210 closed

[2022-06-13 15:33] ckolli5 commented on #4769
@gkossakowski - Thanks for the reply.

[2022-06-13 15:33] #4769 closed

[2022-06-13 16:04] cushon commented on #15650
This is an issue with the immutables annotation processor, which special-cases javac and ecj and relies on internal APIs: https://cs.github.com/immutables/immutables/blob/888232ddc7d2ab7c76d289be2da02cc551fdded5/generator/src/org/immutables/generator/SourceExtraction.java#L382

[2022-06-13 16:12] Bencodes commented on #15010
Can also confirm that we are still seeing this 100 percent of the time using `6.0.0-pre.20220526.1`. The error looks like this for us:

[code]

[2022-06-13 16:29] c-parsons opened #15667 "Several downstream projects broken by repository rule changes"
### Description of the bug:

https://github.com/bazelbuild/bazel/commit/3c07a3416ebd784d00c75b40388217bab4e743e2 seems to have broken a number of downstream projects. https://buildkite.com/bazel/bazel-auto-sheriff-face-with-cowboy-hat/builds/938

Example failure log:
[code]

Identified broken projects:

Protobuf
rules_go
rules_kotlin
rules_rust
rules_scala

### What's the simplest, easiest way to

[2022-06-13 16:36] c-parsons commented on #15667
Looks like https://github.com/bazelbuild/bazel/pull/15666 is a fixforward

[2022-06-13 17:27] atdt commented on #13619
#13620 contained a fix (in commit 1c51320). Someone needs to merge it, assuming it still applies cleanly.

[2022-06-13 18:48] EdbertChan opened #15668 "Feature Flag To Set Dexing Resource Consumption"
### Description of the feature request:

Bazel underestimates dexing resource consumption for large apps.

When Bazel runs its actions, it estimates what resources are used for each action. In the case of dexing, it [assumes](https://github.com/bazelbuild/bazel/blob/7de4fab0d8b507f3790533e1ae18e94dca916d04/src/main/java/com/google/devtools/build/lib/rules/android/AndroidCommon.java#L100) that a de

[2022-06-13 21:22] nstng commented on #13193
Hi, trying my luck here before opening a new issue:
We still see this behavior with Bazel 5.2.0 in CI on remote caches on `cc_test`s. `bazel-out/_coverage/_coverage_report.dat` is created when all tests are green. We have a couple of tests marked as `flaky = True`. Observation is that the coverage file is not created if one of these tests shows it's flaky behavior, i.e. fails in at least one run.

[2022-06-14 05:57] jayachathu opened #15671 "Generate bom files in bazel build"
### Description of the feature request:

We use bazel as our build tool and we need to generate bom file for the project to analyze dependencies of our java project. Is there anyy way that bazel can generate bom files?

### What underlying problem are you trying to solve with this feature?
We want to generate bom files with our bazel build.

_No response_

### Which operating system are you runnin

[2022-06-14 06:06] sgowroji commented on #15671
Hello @jayachathu, Could you please provide more information specific to the above use-case. Thanks!

[2022-06-14 06:48] hlopko commented on #11734
Could I kindly ask for status update? It seems bzlmod is moving forward, was this issue maybe already fixed?

[2022-06-14 09:00] deepy commented on #15616
We've worked around this, thank you for the explanation, all the information, and the workaround suggestions!

[2022-06-14 09:00] #15616 closed

[2022-06-14 11:54] joca-bt opened #15673 "Unable to detect cpp toolchain in 5.1.0 on macOS M1"
### Description of the bug:

After upgrading from Bazel 5.0.0 to 5.1.0 (or 5.2.0), Bazel is not able to detect the cpp toolchain. This is on a macOS Monterey on M1 trying to compile a `java_library`. Works fine on x86 or Linux machines.

`--toolchain_resolution_debug=@bazel_tools//tools/cpp:toolchain_type` on 5.0.0
[code]

`--toolchain_resolution_debug=@bazel_tools//tools/cpp:toolchain_type` on 5.

[2022-06-14 15:21] sgowroji commented on #15673
Duplicate of https://github.com/bazelbuild/bazel/issues/10134

[2022-06-15 00:40] #15654 closed

[2022-06-15 04:13] dhmemi opened #15677 "Some python libraries do not support extended-length path."
### Description of the bug:

Bazel modified the python packages path into [extended-length path](https://docs.microsoft.com/en-us/windows/win32/fileio/maximum-file-path-limitation?tabs=cmd) to support paths bigger than 256 characters in this PR: https://github.com/bazelbuild/bazel/pull/2496 . But there are many python libraries that don't support extended-length path，include some python built-in p

[2022-06-15 04:28] keith commented on #15673
This is not a duplicate of the linked issue. That issue might be about this in general but if you're not doing anything funky something else broke this. Likely the issue in your case if you're using java_library you likely need to update rules_java. If you aren't depending on that directly in your WORKSPACE you might be getting it transitively and need to pin a newer version explicitly.

[2022-06-15 07:32] joca-bt commented on #15673
Hi @keith do you mean importing https://github.com/bazelbuild/rules_java directly? I though java rules (https://bazel.build/reference/be/java) where a part of core Bazel.

[2022-06-15 09:57] tjgq opened #15678 "Action input symlink into directory doesn't work with --remote_download_minimal"
### Description of the bug:

Actions whose inputs contain a symlink into a directory (tree artifact) fail to build remotely with `--remote_download_minimal`.

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Minimal repro at https://github.com/tjgq/bazel-symlink-into-dir.

Some notes:

* Doesn't repro without `--remote_download_minimal`.
*

[2022-06-15 10:52] exoson commented on #15336
https://github.com/bazelbuild/bazel/pull/15557 Fixed this. Closing

[2022-06-15 10:52] #15336 closed

[2022-06-15 11:59] lberki opened #15679 "Starlark flags in a activated by `--config` cannot be overridden on the command line"
### Description of the bug:

When I put a Starlark flag in a `--config` stanza in a .bazelrc file and activate that stanza using `--config`,  Starlark flags in it cannot be overridden from the command line. This works with hard-coded command line options.

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

bazelrc:
[code]

f/BUILD:
[code]

f/

[2022-06-15 12:11] Wyverald commented on #15667
hmm, the fixforward and part of the original offending CL were rolled back yesterday (https://github.com/bazelbuild/bazel/commit/4ccc21f2f089971e5f4032397764a4be3549c40a). That fixed some of the breakages but more still remain.

The rules_kotlin breakage is intentional and should be fixed by https://github.com/bazelbuild/rules_kotlin/pull/772, though that PR causes yet more failing tests...

rules

[2022-06-15 12:33] tjgq opened #15681 "Sandboxing is ineffective against dangling symlink action inputs"
### Description of the bug:

Per internal discussion, the intended semantics of a symlink input is that the action should only have access to the symlink itself, not the file/directory it points to (unless explicitly included as an input). However, sandboxing is unable to prevent such an action from accessing the target of the symlink.

Note that dangling symlinks are an intentionally supported fe

[2022-06-15 13:00] Smile-Autra opened #15682 "Remote-cache not work in 5.2.0"
### Description of the bug:

When upgrade to the latest version of bazel. Bazel remote seems not to work. Bazel can only put but can not get. When use bazel 5.1.1 bazel remote works again. More strange, bazel 5.2.0 can use the cache of 5.1.1. It seems that the artifact put by bazel 5.2 has problem.

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if pos

[2022-06-15 14:11] tjgq commented on #15681
After a discussion with @lberki, it sounds like this is actually the semantics we expect for `ctx.actions.symlink` with a `File` as the symlink target, so I'm no longer sure this is a bug.

[2022-06-15 15:19] fweikert opened #15683 "Status of Bazel 6.0.0-pre.20220608.2"
- Expected release date: 2022-06-15

Task list:

- [x] Pick release baseline: [4f5e325e](https://github.com/bazelbuild/bazel/commit/4f5e325e337957ebea139dc52a00027acbbb572f) with cherrypick [442155f1](https://github.com/bazelbuild/bazel/commit/442155f19f2c2764839327c8be3d3ab70edf1910)
- [x] Create release candidate: https://releases.bazel.build/6.0.0/rolling/6.0.0-pre.20220608.2rc1/index.html
- [x

[2022-06-15 16:53] rickeylev opened #15684 "Remove Python 2 support from Python rules"
### Description of the feature request:

With Python 2 having been deprecated 2+ years ago, I think it's time to drop support for it in the Python rules.

The *main* motivator here is to make re-implementing the rules in Starlark easier: there's a lot of tests and special code that just deals with Python 2: srcs_version compatibility checking, propagation of that, an aspect to identify mismatches,

[2022-06-15 17:13] keith commented on #15673
You should check if some other library your depending on already pulls it in. IIRC you need to be newer than this commit https://github.com/bazelbuild/rules_java/commit/338c4184064f77d3d6ca8eae2bc5a605f8ea0da4 for this case. You can check what version you have with:

[code]

[2022-06-15 17:29] #15683 closed

[2022-06-15 18:16] ckolli5 opened #15685 "Release 5.3 - August 2022"
# Status of Bazel 5.3

-   Expected release date: 08/22/2022
-   [List of release blockers](https://github.com/bazelbuild/bazel/milestone/39)

To report a release-blocking bug, please add a comment with the text `@bazel-io flag` to the issue. A release manager will triage it and add it to the milestone.

To cherry-pick a mainline commit into 5.3, simply send a PR against the `release-5.3.0` branch

[2022-06-15 21:29] ishaangandhi commented on #15485
I apologize if this isn't a very useful or actionable bug report. Is there something else I could provide besides a bazelrc that might help
I should also note I am running bazel on a slow NFS mount, which might make it easier for this bug to show up?

[2022-06-15 21:45] obruns commented on #15607
@haxorz, @sgowroji sorry for being unresponsive.
@lingithub1 is on vacation. I'll follow up on @haxorz's questions in the upcoming days.

[2022-06-16 02:48] daixiang0 opened #15687 "`bazel test` fail but `bazel run` pass"
### Description of the bug:

Bazel test output:
[code]

bazel run output:
[code]

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[code]

### Which operating system are you running Bazel on?

ubuntu

### What is the output of `bazel info release`?

release 6.0.0-pre.20220421.3

### If `bazel info release` returns `development version` or `

[2022-06-16 04:39] psigen commented on #15662
I realize now that this is even more tricky -- at the root of the issue is that `rlocation` does not actually know what to point to.

So the solution here might involve having a way for the bash runfiles to resolve the default execution target of `bazel run` for an alias.  I am not sure if this would require a new macro like `elocation`

[2022-06-16 05:07] sgowroji commented on #15687
Hello @daixiang0, Could you please elaborate your use case w.r.t the above query.  And Did you get a chance to check the error logs from test.log file and troubleshoot it?

[2022-06-16 05:22] daixiang0 commented on #15687
Actually the test log is same as `bazel run`, no helpful info.

This bazel target is one target for CI.

[2022-06-16 05:38] sgowroji commented on #14674
Hello @vishrantgupta, We are closing this issue as there is no significant response from you from last 7 days. Thanks!

[2022-06-16 05:38] #14674 closed

[2022-06-16 06:09] #10672 closed

[2022-06-16 06:13] sgowroji commented on #11870
@chenchenji Thank you for the reply. Can you provide complete steps to reproduce the above issue.

[2022-06-16 06:16] sgowroji commented on #12964
We are closing this issue w.r.t the above [comment](https://github.com/bazelbuild/bazel/issues/14095#issuecomment-978200548) And thank you for sharing your [workaround](https://github.com/bazelbuild/bazel/issues/12964#issuecomment-1036635296). This will be useful to the community who are looking for similar enhancement.

[2022-06-16 06:16] #12964 closed

[2022-06-16 06:28] daixiang0 commented on #15687
@sgowroji I think it is an enhancement since all log without error, which make users confused and do not know how to fix it.

[2022-06-16 06:40] bdleitner commented on #12964
Please reconsider.  Needing a separate `java_plugin` declaration for library that needs processing as opposed to being able to use `exported_java_plugin` on the build target for the annotation makes things unwieldy _at best_.  As noted, it's an "ugly" workaround.

[2022-06-16 07:10] daixiang0 commented on #15687
It uses `cc_library()`.

Since all tests pass, it may be related to how `bazel test` works, I am not the expert and do not know how to dig.

[2022-06-16 09:52] wudisheng commented on #15679
This seems a long-lived bug in Bazel, I personally suffer from it too.

See https://github.com/bazelbuild/bazel/issues/13231.

[2022-06-16 10:02] joca-bt commented on #15673
For 5.0.0:

[code]

For 5.2.0 is the same but with `/DEFAULT.WORKSPACE.SUFFIX:429:6`.

I've tried pinning the latest release.

[code]

[code]

`> bazel query //external:rules_java --output=build`

[code]

[2022-06-16 16:19] WildOrangutan opened #15689 "Question: Does bazel use gradle?"
I just came across bazel. I'm wondering, does bazel make use of gradle to build the project? I'm thinking about Android projects.

[2022-06-16 16:22] keith commented on #15689
No, bazel is its own build system that directly calls the underlying tools for the given ecosystem. It supports Android out of the box though, here is a good place to start: https://bazel.build/tutorials/android-app

[2022-06-16 16:31] WildOrangutan commented on #15689
That's nice to hear. I'm desperately looking for gradle alternatives. Thanks!

[2022-06-16 17:38] cushon commented on #12964
There's some related history in internal issue b/198685781.

One of the options discussed is to do with with a separate attribute on library rules that would make files available to annotation processing, e.g. `java_library.plugin_data`.

[2022-06-16 18:01] thefallentree commented on #13190
Ping? We are running into this issue as well, and this makes resolving a list of target affected by list of files very painful

[2022-06-16 19:17] #15689 closed

[2022-06-16 20:01] sualehasif commented on #15673
Our team is running into exactly the same problem. The resolution is failing. You can look at our setup in:

https://github.com/anysphere/client

We fixed our bazel version back to 5.0.0 because the tool chain resolution is absolutely panicking on 5.1.0 and 5.2.0 for reasons unknown to us. Can the team please fix this breaking change

[2022-06-16 20:58] ted-xie commented on #15432
FYI, I have not been able to repro this bug locally yet. Based on my bazel 5.0.0 installation, I also had to add `--nouse_workers_with_dexbuilder` to the build flags, otherwise dexbuilder would complain about unsupported persistent worker mode.

I wrote a code generator to emit an arbitrary number of class methods in a test project, and when I increase the number to well above the 64k limit (66000

[2022-06-16 21:02] keith commented on #15673
You have quite a few rule sets in there that could be messing with things, I would recommend updating them first to see if that resolves your issues

[2022-06-17 02:07] daixiang0 commented on #15687
Here is a hidden bug:
[code]

`bazel test` will check this exitCode, if not 0, will print failure even all test codes pass.

**`bazel test` should print this exitCode to make users why tests fail.**

[2022-06-17 08:26] huatangzhi opened #15690 "how to get invoted in bazel development"

[2022-06-17 09:45] meisterT commented on #13190
Both SkyQuery with `--universe_scope=universe` and `rdeps(universe, x)` first collect **all** transitive deps of universe and with that the external deps.

Assigning to @meteorcloudy to assess the priority of coming up with a solution here.

[2022-06-17 11:03] gccunha1 commented on #5192
Can someone provide a simple example on how to do this? I've been looking at the documentation and only found this example: https://github.com/bazelbuild/rules_cc/blob/main/examples/my_c_archive/my_c_archive.bzl

For me it's a bit hard to follow as I haven't really been using bazel at its full capacity

[2022-06-17 15:17] bazel-io opened #15691 "[5.3.0] Make ManifestMergerAction worker compatible"
Forked from #14427

[2022-06-17 15:18] bazel-io opened #15692 "[5.3.0] Fix fail message construction in cc_shared_library"
Forked from #14697

[2022-06-17 15:18] bazel-io opened #15693 "[5.3.0] Define cc-compiler-darwin in Xcode toolchain"
Forked from #14796

[2022-06-17 15:18] bazel-io opened #15694 "[5.3.0] Let Starlark executable rules specify their environment"
Forked from #15232

[2022-06-17 15:18] bazel-io opened #15695 "[5.3.0] Fix alwayslink in objc_import"
Forked from #15313

[2022-06-17 15:18] bazel-io opened #15696 "[5.3.0] Unify URL/URLs parameter code across http_archive, http_file, http_jar"
Forked from #15408

[2022-06-17 15:18] bazel-io opened #15697 "[5.3.0] Chunker: Always seek on the uncompressed stream."
Forked from #15669

[2022-06-17 16:59] yeswalrus commented on #4446
Ping, any word on updating cc_proto_library with this support?

[2022-06-17 18:18] yeswalrus commented on #5924
Ping, This would be extremely helpful. I'm running into the same issue with bazel 5.1.1.

[2022-06-17 18:19] thefallentree commented on #13190
I can try hacking bazel during the weekend, If someone could give me some guidance on where to start, it would be great!

[2022-06-20 08:49] UlrichEckhardt commented on #15364
Thanks for the offer, but I think I'll pass. Doing this properly with according tests would take way more time than I would like to invest here.

[2022-06-20 09:21] lingithub1 commented on #15607
Hello @haxorz , @sgowroji !

The idea of this test _is not_ concurrency issues between section "setup workspace" and section "execute". Far from that. You can even do "sync" or "reboot" after setting up the workspace and before running the build command.

The idea is: I want to check whether `DONT_FOLLOW_SYMLINKS_WHEN_TRAVERSING_THIS_DIRECTORY_VIA_A_RECURSIVE_TARGET_PATTERN` really works. So what

[2022-06-20 09:28] lingithub1 commented on #15607
@sgowroji , I am quite sure there _is_ a bug. Otherwise, why does Bazel just ignore `DONT_FOLLOW_SYMLINKS_WHEN_TRAVERSING_THIS_DIRECTORY_VIA_A_RECURSIVE_TARGET_PATTERN`?

[2022-06-20 16:58] pauldraper commented on #15558
IIRC Bazelisk has correctness or performance issues with auto-completion.

[2022-06-21 08:59] oquenchil commented on #4446
No plans in the immediate future.

[2022-06-21 11:01] jesseschalken commented on #3054
This is a huge pain. `--repository_cache` is valid for 20 different commands? So I have to list it 20 times in `.bazelrc`?

[2022-06-21 12:02] #15463 closed

[2022-06-21 12:19] meteorcloudy commented on #15610
@ckolli5 This is a duplicated issue https://github.com/bazelbuild/bazel/issues/15614

[2022-06-21 12:19] #15610 closed

[2022-06-21 12:25] Wyverald commented on #15621
I think this is WAI. The working directory of the test binary when you use `bazel run` is that deep directory in bazel-out, not your CWD.

[2022-06-21 12:25] #15621 closed

[2022-06-21 12:26] exoson opened #15712 "Test output artifacts aren't all referenced in BEP when using --remote_download_minimal"
### Description of the bug:

When generating TestResult in https://github.com/bazelbuild/bazel/blob/cbf8159ba6190ab447ad54df63cb4db25763d755/src/main/java/com/google/devtools/build/lib/analysis/test/TestAttempt.java#L232 all the test output files won't be listed if --remote_download_minimal is used. This is due to checking only for existence of the additional outputs on the disk here: https://gith

[2022-06-21 12:30] meteorcloudy commented on #15628
This is not a Bazel bug, it's better to ask on StackOverflow or send an email to bazel-discuss@googlegroup.com

[2022-06-21 12:30] #15628 closed

[2022-06-21 13:31] kjlubick commented on #15206
I am still observing the missing error messages in 5.2.0

[2022-06-21 13:33] jesseschalken commented on #3054
My Bash isn't great but here is a version of @pauldraper 's script that handles inheritance of options between commands.

`bazel-option-commands.bash`

[code]

[code]

[code]

[2022-06-21 13:51] learning-to-play opened #15713 "[5.3] Cherry pick cc_shared_library commits"
### Description of the bug:

Can you cherry pick the commits that fix bugs or add features to cc_shared_library including:
- Adding regular library in interface_library group of cc_shared_library
- Remove unnecessary files from the runfiles of cc_shared_library

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

_No response_

### Which opera

[2022-06-21 14:21] friendly-pineapple commented on #13190
This behavior renders `rdeps` unusable in any repository that has a sufficient amount of external dependencies. Since `rdeps` is commonly used to understand how to granularly test the components of a repository in response to a change list, this prevents great difficulties.

[2022-06-21 14:28] meteorcloudy commented on #13190
@meisterT I think this is a really nice to have P2 feature request, but maybe you can assess how much work is needed to make it work?

[2022-06-21 16:11] earlruby commented on #15558
As of 2022-06-21 `pgpdump` still shows that the current key expired on Tue May 24 05:55:59 PDT 2022. Please update the `bazel-archive-keyring.gpg` file or the [documentation](https://bazel.build/install/ubuntu#install-on-ubuntu).

[code]

[2022-06-21 16:28] Wyverald commented on #13190
@haxorz points out that the definition of `--universe_scope` states that it will load all transitive packages ([documentation](https://bazel.build/reference/query#specifying_a_universe_scope)):

With that in mind, the behavior you observed is actually working as intended. This matches what @meisterT said above (https://github.com/bazelbuild/bazel/issues/13190#issuecomment-1158701551).

It's not ve

[2022-06-21 16:29] meteorcloudy commented on #13190
Thanks! @Wyverald

If this is the need, maybe https://github.com/Tinder/bazel-diff could be helpful?

[2022-06-21 17:21] haxorz commented on #15607
I was responding to your "This looks like ... a Bazel concurrency/timing bug when traversing the filesystem tree" and I asked "Why do you suspect this?" and I tried to come up with one possible issue in the realm of timing.

Sounds like you don't actually suspect a Bazel ***concurrency/timing*** bug.

I think the best path forward here is to distinguish between a Bazel bug and an XFS bug. Can you

[2022-06-21 19:18] thefallentree commented on #13190
Thanks for the pointer,  it looks like bazel-diff is doing forward dependencies queries, then does the intersect it self,  instead of rdeps queries.  see https://github.com/Tinder/bazel-diff/blob/06a75b83fa2cb05c52b9b93a8fa679cc2585ae7c/cli/src/main/kotlin/com/bazel_diff/bazel/BazelClient.kt#L41

I guess yes it could work, why don't we simply offer a similar solution in bazel itself? as least to m

[2022-06-21 20:05] adam-azarchs opened #15715 "--remote_download_outputs=toplevel results in output files being deleted"
### Description of the bug:

Running `bazel test --nobuild_runfile_links --build_tests_only --remote_download_outputs=toplevel` deletes previously-downloaded files from the output directory.

Removing any of the three flags seems to make the problem go away, however at a very significant performance cost (adding several minutes to a build that's otherwise just a few seconds) during development.  D

[2022-06-21 20:35] cmcgee1024 opened #15716 "NullPointerException from aquery with aspects and protobuf output"
### Description of the bug:

When running an aquery on a target that was previously built with an aspect ("—aspects" command-line) and the same daemon process the following NullPointerException (NPE) occurs.

[code]

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

This bug is difficult to reproduce since it is intermittent and happens with

[2022-06-21 20:36] cmcgee1024 commented on #15716
After further investigation here are some observations.

ActionGraphProtoOutputFormatterCallback.processOutput() is calling accessor.getAspectValues(configuredTarget) but not checking whether the values are null, which causes the NPE around line 104. A similar class ActionGraphTextOutputFormatterCallback has a simple null check in its processOutput() that guards against this. There should probably

[2022-06-21 22:15] brenden opened #15717 "Add cquery support for --order_output flag"
### Description of the feature request:

Right now the ordering of the results from cquery cannot be controlled by `--order_output` (as they can be for query). It would be nice if this flag were supported on cquery as well.

### What underlying problem are you trying to solve with this feature?

I am using the output of `bazel query` in a CI system to identify which tests need to be run before mer

[2022-06-21 23:16] uri-canva commented on #13190
@Wyverald This issue reproduces even when not using `--universe_scope`.

[2022-06-21 23:38] uri-canva commented on #13190
Yes, exactly.

[2022-06-21 23:46] haxorz commented on #13190
Okay, then the mechanical answer to the

in the original post is:

The semantics of the query expression `rdeps(E1, E2)` is to first evaluate `E1` to `S1` and `E2` to `S2`, then compute the forward transitive closure of `S1` as `C`, then to do a graph traversal over the reverse edges in `C` starting from the nodes in `S2`. The "first evaluate `E1` to `S1`... then compute the forward transitive clo

[2022-06-22 00:26] uri-canva commented on #13190
Ah yes, I understand, so what I'm looking for is a function that doesn't exist, which looks for reverse dependencies in `S1` rather than `C`.

Thanks for clarifying!

[2022-06-22 01:15] chancila commented on #15682
people are reporting this is causing the issue

https://bazelbuild.slack.com/archives/CA31HN1T3/p1655638147979559?thread_ts=1655544708.176529&cid=CA31HN1T3

https://github.com/bazelbuild/bazel/commit/4d900ceea12919ad62012830a95e51f9ec1a48bb

[2022-06-22 02:39] bazel-io opened #15721 "[5.3.0] Print remote execution message when the action times out"
Forked from #15710

[2022-06-22 03:16] fa93hws opened #15722 "target pattern file with nothing but an EOL cause build failure"
### Description of the bug:

When target pattern is empty, `bazel build` is happy but when target pattern contains nothing but an EOL, it's not.

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[code]
exit code is 0

But
[code]
it shows error

WARNING: Target pattern parsing failed.
ERROR: The package part of '' should not end in a slash
I

[2022-06-22 03:50] cnsgsz commented on #6845
Is the [doc](https://bazel.build/rules/lib/repo/http) missing `repo_mapping`?

[2022-06-22 04:27] fa93hws commented on #15722
My point is that it may be better not to give an error.
I think it can be more user friendly if it can trim empty lines?

[2022-06-22 05:40] jxramos commented on #944
Is this `stamp` attribute still available? It's not showing up in the documentation https://bazel.build/reference/be/general#genrule

[2022-06-22 06:04] lingithub1 commented on #15607
[code]

[2022-06-22 07:52] redsun82 opened #15723 "Add command line completion files to github releases"
### Description of the feature request:

I think it would make sense to provide a public link from where one can download pre-built bash and zsh completion files for a given Bazel release.

### What underlying problem are you trying to solve with this feature?

The [instrcutions to set up completion](https://docs.bazel.build/versions/main/completion.html) leave only two possibilities:
* having baz

[2022-06-22 09:41] meteorcloudy commented on #15558
@[earlruby](https://github.com/earlruby) I believe the `Tue May 24 05:55:59 PDT 2022` is the creation time not the expire time? I verified `https://bazel.build/bazel-release.pub.gpg` now does host the updated key.

[2022-06-22 12:26] brentleyjones commented on #15682
@coeuvre

[2022-06-22 12:33] coeuvre commented on #15682
What's error message looks like? Does it also the case for HEAD?

[2022-06-22 13:49] bazel-io opened #15725 "[5.3.0] Preserve --experimental_allow_unresolved_symlinks in exec cfg"
Forked from #15702

[2022-06-22 13:51] ckolli5 commented on #15692
Closed https://github.com/bazelbuild/bazel/pull/15708

[2022-06-22 13:51] #15692 closed

[2022-06-22 13:51] #15693 closed, assigned to nobody

[2022-06-22 13:52] ckolli5 commented on #15695
Closed https://github.com/bazelbuild/bazel/pull/15718

[2022-06-22 13:52] #15695 closed

[2022-06-22 13:53] dmivankov opened #15726 "bazel query //external:all is broken, but //external:* still works"
### Description of the bug:

With bazel 4.2.2 it was possible to list all external dependencies with `bazel query //external:all` but it is broken in 5.1.1.
Such query makes it possible to query all http_file/http_archive used in a workspace.

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

WORKSPACE: empty file
[code]

### Which operating

[2022-06-22 14:16] joe-polin opened #15727 "Allow .pyi (python interface) files to be sources for py_library/binary"
### Description of the feature request:

We sometimes use `.pyi` files to define type hints/interfaces for tools such as mypy ([docs](https://mypy.readthedocs.io/en/stable/stubs.html)). In particular, I'm using [mypy-proto](https://github.com/nipunn1313/mypy-protobuf) to generate mypy-friendly files for type checking.

The expected use for mypy is to have `foo.py` and `foo.pyi` in the same folder,

[2022-06-22 14:31] Wyverald opened #15728 "For transitions on label build settings, the value doesn't go through repo mapping"
See https://github.com/Wyverald/bazel-label-transition-test

Basically, when defining a transition:

[code]

[2022-06-22 14:31] Wyverald commented on #15728
cc @katre

[2022-06-22 14:40] katre commented on #15728
Thanks! How critical is this for your work? I see you've set this as a P2 already, is that accurate?

[2022-06-22 14:42] katre commented on #15728
SGTM, let me know if I can assist.

[2022-06-22 15:59] michajlo commented on #15722
I believe this is WAI. A completely empty target-pattern file is equivalent to `bazel build --nobuild`, while a target-pattern file with a single blank line is equivalent to `bazel build --nobuild ""`. In the former case we're explicitly requesting to build nothing, in the latter case we're explicitly requesting building "", which is an invalid target name.

[2022-06-22 16:00] #15722 closed

[2022-06-22 16:39] gregestren commented on #14669
@cpsauer: is it fair to say this issue is about transition wrappers? And that an API to get a target's providers is just one possible way to support that? If so, could we rephrase the issue for the general problem so we don't get caught up on the challenges of a particular solution?

@keith naive question, but how does that fit with the incoming edge transition docs? Isn't this more an issue with

[2022-06-22 17:42] rickeylev commented on #14444
Another case that select()'ing on the tool config would make easier: A feature we're looking to add to the Python rules is having a flag that specifies what debugger to include into the deps of a binary. For tools, this extra dependency isn't necessary (and can contribute to causing circular dependencies). If we could do select(tool_config: [], default: //foo:bar), that would largely solve the pro

[2022-06-22 18:08] brandjon commented on #11261
Update: We're actively implementing a simplified prototype, but the real design is not finalized.

[2022-06-22 20:47] obruns commented on #15607
We identified XFS V4 being the problem. The Z620 and Z640 machines are in use for so long that their XFS filesystems had been created with version 4. I did not try to identify an actual bug report so I cannot pinpoint this to something in particular.

From our point-of-view this is good enough to have this issue closed. Not a Bazel problem.

That was the TL;DR. The remainder is just for posterity:

[2022-06-22 21:21] haxorz commented on #15607
I [forked Bazel](https://github.com/haxorz/bazel) and made a [`issue-15607` branch](https://github.com/haxorz/bazel/tree/issue-15607). I pushed [a commit](https://github.com/haxorz/bazel/compare/issue-15607...haxorz:master) to that branch that adds some verbose debugging to Bazel. If you clone from that branch and follow [what I did in this gist](https://gist.github.com/haxorz/441378212c26f5294dd0

[2022-06-22 21:24] Yannic commented on #15013
I don't think that's feasible or desirable. There are companies that require that all dependencies are downloaded from an internal mirror, and that requires authentication. Requiring auth to be opt-in per-target seems very much counter-productive for that use case (not that it's easy to achieve today, but we shouldn't make it harder).

[2022-06-22 21:51] brenden commented on #15717
Thanks for the fast reply! I'll take a swing at implementing this then.

[2022-06-22 22:19] gregestren commented on #15717
If the change looks simple feel free to just put up a PR. If more complicated I suggest reviewing what you find here so we can do some design analysis before going too deeply down one route.

[2022-06-23 02:59] haxorz commented on #15687
What about

[code]

?

(from https://bazel.build/reference/test-encyclopedia#role-test-runner)

[2022-06-23 03:02] haxorz commented on #15687
I'm going to close this since the behavior is WAI and documented. Feel free to send a PR to improve the docs if you wish!

[2022-06-23 03:32] xhebox opened #15729 "g++ fpermissive compilation error for strdupa on musl when buiding from source"
### Description of the bug:

g++ will report errors as follows:

[code]

I've sent patches to musl, ref [this](https://www.openwall.com/lists/musl/2022/06/22/1). Despite whether musl will accept the patch, I agreed with the author of musl that using strdupa is probably not a good idea. And we have other replacement.

### What's the simplest, easiest way to reproduce this bug? Please provide a mini

[2022-06-23 03:42] xhebox commented on #15729
Edited, it really needs nothing more than normal building process. You could try this on alpine linux. I am on my own custom linux distro with musl libc.

[2022-06-23 04:09] #15687 closed

[2022-06-23 06:04] thefallentree commented on #12861
the rdeps questions are discussed here https://github.com/bazelbuild/bazel/issues/13190 , the answer right now is that we needs a new flag to disable fetching external repos when running rdeps query

[2022-06-23 06:31] daixiang0 commented on #13473
@aranguyen still see the same issue:
[code]

[2022-06-23 07:27] meisterT commented on #10515
This behavior is back:
![image](https://user-images.githubusercontent.com/418721/175240118-0f3e9f35-fee0-47de-ae12-7c42c9707deb.png)

Can we do something more principled so that we don't repeat the work here on Skyframe restarts? cc @haxorz

[2022-06-23 07:32] cpsauer commented on #14669
@gregestren: Definitely; thanks for bring us back up the "goal backtrace." Better to solve the need the right way rather than having us get too focused on the way I'd initially tried to hack a solution together.

Before I edit, I'm wondering if we shouldn't root things one level higher up still, and descend from there. The real goal motivating this (and #14673) is enabling "flagless builds" where

[2022-06-23 07:44] cpsauer commented on #14669
To take a quick shot at some of the other items:

At the risk of putting words in @keith's mouth, I think a natural mental model for users is that they're configuring the target node itself, and maybe that's what's motivating the incoming edge terminology. To explain more, I expect the first thought most people will have when they want flagless builds will be: "I want this target correctly configu

[2022-06-23 07:47] cpsauer commented on #14669
That said, part of me does wonder if configuring targets is fundamental enough that it should (also?) be part of bazel directly at some point. To copy in a condensed version of https://github.com/bazelbuild/bazel/issues/14673#issuecomment-1029702109 (the discussion in which is so related that I don't want the cross-ref to get lost)

[2022-06-23 07:53] keith commented on #15671
@aiuto I know you're interested in this in general, is there a tracking issue we can link here?

[2022-06-23 08:30] meteorcloudy commented on #10515
The most recent change to fix this one is: https://github.com/tensorflow/tensorflow/commit/8ba6136a4e56a8275c8bea3bab6eb79043c611f5

[2022-06-23 08:32] meteorcloudy commented on #10515
My suspect is that the regression comes from: https://github.com/tensorflow/tensorflow/commit/2d34c7e9356b038fdb70fe417309b3ea2b258bf0#diff-b04a6573f1e0d5f36e3d499b124bf500b03c3887ef54f41f29d6ae454324cfb7

[2022-06-23 08:38] meteorcloudy commented on #10515
@joker-eph Can you please fix this? Basically, to avoid re-extracting the archive, you'll have to resolve all labels before the `ctx.download_and_extract` function. See the description in https://github.com/tensorflow/tensorflow/commit/8ba6136a4e56a8275c8bea3bab6eb79043c611f5

[2022-06-23 10:47] guw commented on #15013
@Yannic Bazel has built in support for downloader rewriter config. Should there be a word in the spec that this is supported and the credential helper applies to the rewritten (final) URL target?

[2022-06-23 11:34] jesseschalken opened #15730 "Docs for --test_summary=testcase is undocumented"
### Description of the bug:

The docs for `--test_summary` [here](https://docs.bazel.build/versions/main/command-line-reference.html) are:

Specifies the desired format ot the test summary. Valid values are 'short' to print information only about tests executed, 'terse', to print information only about unsuccessful tests that were run, 'detailed' to print detailed information about failed test cas

[2022-06-23 12:54] coeuvre commented on #15010
I haven't had time to look into the log yet but https://github.com/bazelbuild/bazel/commit/ffc560d77329b8e84f45eed48266009799f7fa07 might be related.

[2022-06-23 14:20] tsteenbe commented on #14778
@heliocastro I would rather see [purl](https://github.com/package-url/purl-spec) than cpeid being support here. PURLs can be generated and have been adopted by various open source communities for example [OSV](https://osv.dev/) used purl in its [schema](https://ossf.github.io/osv-schema/) to uniquely identify packages and their known security vulnerabilities.

[2022-06-23 14:39] uhthomas commented on #15130
'.deb' files usually contain additional archives which makes actually extracting information from `.deb` archives with `http_archive` awkward. The repository will end up with `debian_binary`, `control.tar` and `data.tar` files where `data.tar` needs to be extracted _again_ in another repository rule, or BUILD rule if you're feeling adventurous. Is there any way for the `data.tar` to be extracted a

[2022-06-23 14:42] aranguyen commented on #13473
@daixiang0 it is by the current design that the command `info` does not support Starlark options, hence you see the WARNING. The commit I mentioned in https://github.com/bazelbuild/bazel/issues/13473#issuecomment-1088014392 fixed the bug mentioned here https://github.com/bazelbuild/bazel/issues/13473#issuecomment-1085936076 where Bazel warns for `--//:custom_flag=false`, but errs `for --no//:custo

[2022-06-23 14:50] haxorz commented on #10515
@meteorcloudy and the rest of `team-ExternalDeps`: Check out `SkyFunction.Environment#getState`. Can that be used to solve this problem in a principled manner? It was added recently (2022Q1), so it didn't exist back when this issue was first filed.

[2022-06-23 16:00] ckolli5 commented on #15696
Closed https://github.com/bazelbuild/bazel/pull/15719

[2022-06-23 16:00] #15696 closed

[2022-06-23 19:03] jonathan-enf opened #15731 "Warn if test duration approaches timeout"
### Description of the feature request:

We have a `--test_verbose_timeout_warnings` that warns if a test's execution time is too small for the specified timeout.  But what would be more useful to me would be a warning if a test's execution time is within some configurable percentage (2%) of the maximum timeout.  This warning would emit something to the tune of "WARNING: this test nearly timed out

[2022-06-23 19:48] gregestren commented on #14669
Lots to digest here.

At the risk of being redundant, the only thing stopping flagless builds as a core concept is concerns about performance implications and the ability to measure/understand those implications. For power users this is probably already manageable. I'm more concerned with "regular" folks just wanting to build their project who don't understand the possibly deep implications of att

[2022-06-23 19:50] gregestren commented on #14669
As for the issue title, I don't know. "Flagless builds" could work, but how actionable is that scope for a bug? Is unblocking you and all here a choice between a full on flagless API vs. nothing?

[2022-06-24 00:42] gregestren commented on #15653
I shrunk the example a bit to reproduce the incrementality bug: https://gist.github.com/gregestren/f9e83396f3543acf3ad1e6a6e156d8f8

Diagnosing the root cause next. Definitely worth prioritizing. I'll probably fork to a new issue on diagnosis.

[2022-06-24 01:10] gregestren opened #15732 "Incremental incorrectness on transitions + build setting defaults"
### Description of the bug:

When a configuration transition depends on a user-defined flag, the transition doesn't update when the flag's default value updates.

This produces incorrect output for incremental builds (build a target, change the flag default, build the target again).

Workarounds:

 - Force re-analysis by arbitrarily changing some other flag at the command line
- bazel shutdown to

[2022-06-24 01:14] gregestren commented on #15732
I think this is the culprit:

https://github.com/bazelbuild/bazel/blob/c7c3fa1e97ad73ec95c310af2ffb692069a565eb/src/main/java/com/google/devtools/build/lib/analysis/config/ConfigurationResolver.java#L105-L115

Transition cache keys include a) the transition logic, b) the attributes of the target the transition is attached to, and c) the input flag values. I believe the problem is input flag defaul

[2022-06-24 01:15] gregestren commented on #15732
Alternatively: the input flag doesn't appear in `fromOptions` at all because it was never set on the command line.

[2022-06-24 02:43] mistic commented on #15682
I also confirm this is a problem. We didn't notice at the beginning of the upgrade as we were using the previously populated remote cache but after a couple of days we were having mostly cache misses and less and less cache hits. The problem happens both when using the buildbuddy grpc cache or a simple GCS Bucket. Reverting to 5.1.1 makes everything working again.

[2022-06-24 04:02] arianabeballin opened #15733 "Release X.Y - $MONTH $YEAR"
# Status of Bazel X.Y

-   Target baseline: [date]
-   Expected release date: [date]
-   [List of release blockers](link-to-milestone)

To report a release-blocking bug, please add a comment with the text `@bazel-io flag` to the issue. A release manager will triage it and add it to the milestone.

To cherry-pick a mainline commit into X.Y, simply send a PR against the `release-X.Y.0` branch.

Task

[2022-06-24 04:33] cpsauer commented on #14669
Thanks for being so consistently spectacularly great and thoughtful, Greg.

Right there with you on basically all fronts. Yay!

Syncing up on a couple remaining things:
1) Definitely agree that we shouldn't make this full on flagless build support or nothing. Regardless of the path to flagless builds, it seems like we're all on board all that [the API fmeum linked](https://docs.google.com/document

[2022-06-24 04:40] #15733 closed, assigned to nobody

[2022-06-24 08:20] meteorcloudy commented on #15130
@uhthomas I think it's possible to write a custom starlark repository rule to keep extracting the *.tar files with the [repository_ctx.extract](https://bazel.build/rules/lib/repository_ctx#extract) API. Doing this in http_archive is probably not ideal, because how do you decide when to extract further?

[2022-06-24 12:19] UlrichEckhardt commented on #15677
Interesting, I just stumbled across [this issue](https://github.com/pallets/jinja/issues/1675) in the context of Gcovr or, rather the Jinja2 template renderer it uses.

[2022-06-24 13:02] UlrichEckhardt commented on #5511
Stumbled over the same issue. As alternative to (nonportable) shell code and (big & hairy) C++ compilers, there's also Python:
[code]
Put this wrapper into a `py_binary` and then you can use it in an action. Just use `[ctx.executable._the_wrapper, "--output", out_file.path, "--"]` as args, followed by the argv of the program you want to wrap. Note the `"--"`, which serves as a separator between th

[2022-06-24 16:01] digit-google commented on #15468
Just to update this topic a little, my investigation shows that we will need a custom toolchain as well as transitions to achieve our goal (which essentially mandates that some libraries will be built twice in certain build invocations, once with -fPIC, and once with -fPIE).

I confirm that this is not a bug in Bazel, I was confused by terminology. The current design of cc_binary and cc_library si

[2022-06-24 16:01] #15468 closed

[2022-06-24 16:40] phst opened #15735 "Behavior change on Windows with Starlark-based cc_library"
### Description of the bug:

When using µpb, Bazel 6 will occasionally try to build Windows DLLs without exporting all symbols, causing any DLL or binary that references these DLLs to fail. This doesn't happen with the Java implementation of `cc_library` in Bazel 5. See https://groups.google.com/g/bazel-discuss/c/eL9xwmtV3Ik for full details.

### What's the simplest, easiest way to reproduce this

[2022-06-24 17:19] fmeum commented on #15735
This looks similar to https://github.com/bazelbuild/bazel/issues/15317, but that particular issue only manifested itself with `--experimental_enable_bzlmod`.

[2022-06-24 21:01] gregestren commented on #15732
Also:

https://github.com/bazelbuild/bazel/blob/c7c3fa1e97ad73ec95c310af2ffb692069a565eb/src/main/java/com/google/devtools/build/lib/analysis/config/ConfigurationResolver.java#L471-L472

where the transition loads its input flags and their defaults.

Currently, this executes only *after* a cache miss. So, as you say, we somehow need to integrate it into the cache checking logic.

Note that if we j

[2022-06-24 22:31] sdtwigg commented on #15732
I think I disagree on 471-472 executing only under a cache miss. It looks like this executes unconditionally.

applyTransitionWithSkyframe is called first, unconditionally, via various callers (resolveGenericTransition and collectTransitionKeys).
In the case of a Starlark transition, it then populates buildSettingsPackages and then finally calls applyStarlarkTransition.

In applyStarlarkTransition

[2022-06-24 22:43] gregestren commented on #15732
Oh you're right! All the better!

[2022-06-24 23:54] nikhilkalige opened #15738 "bazel config fails with no configuration found error"
### Description of the bug:

I have a constraint named `mach`, that I use in a select statement. A simplified pseudo code is below
[code]
`create_image` does a transition on the platform internally.

It works for most of the images, but for some image it fails to build with the an error
[code]
But when I try `bazel config 22f6aa7`, it errors out with
[code]

I also tried
[code]

 Link to the slack

[2022-06-25 00:13] dmsol98 opened #15739 "Using Bazel to build jaxlib on Windows: cannot complete build through proxy server"
### Description of the bug:

**PC**
HP Elitebook 840 G5
Windows 10

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

_No response_

### Which operating system are you running Bazel on?

_No response_

### What is the output of `bazel info release`?

[code]

[2022-06-25 00:14] dmsol98 commented on #15739
Mistakenly created

[2022-06-25 00:14] #15739 closed

[2022-06-25 01:06] dmsol98 opened #15740 "Using Bazel to build jaxlib on Windows: cannot complete build through proxy server"
### Description of the bug:

**System Info**
- Windows 10
- Python 3.9.12
- Bazel 5.1.1

I am building JAX from source on Windows but I cannot complete the build due to an SSL certificate issue. My environment variables are set up to work with my proxy, and I've configured various other programs to work with it as well. I need help configuring Bazel to work with my proxy.

When I attempt to build

[2022-06-25 09:27] wingdi opened #15741 "[5.2.0] When build tag have dbg, works well, but when have no dbg, it have problems."
[code]

[code]
The second command compare with the first one , it added -c dbg, and  --build_event_binary_file  difference.

This is my project code:
[code]
If i use the first command , i can sampling data from brdfLUTMap, if i use the second command, can't sampling data from brdfLUTMap.  it's very wired , because other textures have no problem using both two command.

[2022-06-25 09:44] fmeum commented on #15732
Please ignore if you already know this: Skyframe recently got the capability to maintain state through restarts. So unless the restarts would happen within the execution of a Starlark function, they should be much less costly than in the past.

[2022-06-25 14:36] BalestraPatrick commented on #14113
@keith What's GA? I can reproduce this by doing the following:
1. `bazelisk clean --expunge`
2. `bazelisk shutdown`
3. `rm -rf` our disk and repo caches.
4. The first build will fail with this error.

[2022-06-25 19:09] jesseschalken commented on #15730
@sgowroji Thanks. How is "detailed information" different from "test case resolution"?

[2022-06-25 19:20] Bencodes commented on #15010
@coeuvre https://github.com/bazelbuild/bazel/commit/ffc560d77329b8e84f45eed48266009799f7fa07 seems to have fixed the issue for us.

[2022-06-25 20:12] Bencodes opened #15742 "CompatDx cannot fit requested classes in a single dex file"
### Description of the bug:

After updating to rolling release `6.0.0-pre.20220526.1`, `CompatDx` produces a massive amount of warnings and eventually fails with the following error:

[code]

We are also seeing a ton of `Expected stack map table for method with non-linear control flow` warnings for just about every single class file:
[code]

### What's the simplest, easiest way to reproduce this b

[2022-06-25 20:14] Bencodes commented on #15742
cc: @ted-xie There may still be issues with this PR https://github.com/bazelbuild/bazel/commit/ae247145b897d0f41cdf2b317f5c7b856845e303#diff-ac45a531edff6b8e6694f669184fc3625c869c84710142175e2caae08e159a9dR301-R308.

Happy to test against our codebase if you have any suggestions.

[2022-06-26 00:09] brentleyjones commented on #15010
Can we get that cherry-picked into 5.3?

[2022-06-26 10:46] fmeum commented on #14224
@lberki @brandjon I'm currently working on resolving the cluster of issues around symlinks. Would you support adding a new basic operation to Bazel's file system abstraction that allows creating unnormalized symlinks (taking a `String` rather than a `PathFragment`)? Without this, I don't see a way to achieve the correct behavior

[2022-06-26 15:16] kaushik-revefi commented on #10134
Hi @systemlogic,

where you able to solve this issue? I am seeing similar issue with M1.

[2022-06-26 17:56] achew22 commented on #15644
@sventiffe and @aiuto (sorry to ping you, but I know you helped out with this switchover), is there any update on this?

[2022-06-26 21:59] linzhp opened #15744 "[Mirror] Gazelle 0.26.0"
### Please list the URLs of the archives you'd like to mirror:

Please mirror https://github.com/bazelbuild/bazel-gazelle/releases/download/v0.26.0/bazel-gazelle-v0.26.0.tar.gz

We intentionally don't want to mirror the `refs/tags/` url because it has a prefix `bazel-gazelle-v0.26.0` in the file structure, requiring to `strip_prefix` in `http_archive`.

@fmeum FYI

[2022-06-27 04:29] davido commented on #4685
When using `--experimental_split_coverage_postprocessing` option, I'm seeing this crash (Bazel 5.0 and Bazel@HEAD):

[code]

[2022-06-27 05:34] nikhilkalige commented on #15738
I am not sure how I can generate a minimal error case for this. Is there something else I can run when this occurs to generate more data

[2022-06-27 05:50] adam-azarchs commented on #4685
That should go away if you set `--remote_download_outputs=all`.

[2022-06-27 06:19] davido commented on #4685
I tried it, and I'm getting the same error on Bazel@HEAD. I'm running it against [Gerrit](https://gerrit.googlesource.com/gerrit/) project:

[code]

[2022-06-27 07:29] meteorcloudy commented on #15735
I think https://github.com/bazelbuild/bazel/issues/15317 is a different issue, this one doesn't have Bzlmod enabled. @sgowroji  Therefore, this is not an external deps issue.

[2022-06-27 09:04] coeuvre commented on #15010
Cool! Thanks for confirming.

Main and 5.2 branch drifted too far apart, I am afraid we could introduce other bugs if we adapt this change on top of 5.2. But I can give it a try later.

[2022-06-27 09:14] Wyverald commented on #15644
According to my read of https://docs.github.com/en/organizations/organizing-members-into-teams/adding-organization-members-to-a-team, the person needs to be a member of the bazelbuild organization first -- otherwise, you need admin access to add them to the org, and then to invite them to the team. I'm happy to assist with this if you email me the person's GitHub username.

[2022-06-27 09:49] llv22 commented on #14530
@timsutton I forked https://github.com/llv22/bazel-macOS-10.13.6/releases/tag/5.2.1 and create incremental link for legacy macOS 10.13.6. Basically it merges object files, .o, .a, .lo to intermediate object files, so that the ultimate output file will only rely on the reduced object files to avoid arguments overflow, esp. for tensorflow building system.  core code in https://github.com/llv22/bazel

[2022-06-27 09:53] llv22 opened #15746 "About incremental linking for object files on legacy macOS system to avoid "argument too long" dump"
### Description of the feature request:

https://github.com/bazelbuild/bazel/issues/14530

### What underlying problem are you trying to solve with this feature?

1. params file doesn't support by the legacy libtool
2. too many object files during linking phase can easily lead to "arguments too long" issue on legacy system

### Which operating system are you running Bazel on?

macOS 10.13.6, Xcode

[2022-06-27 10:42] lberki commented on #14224
@fmeum I think there isn't another way to fix this bug,  think so please go ahead (unless @haxorz objects but I don't think he will)

My guess is that this comes from the time when `PathFragment` wasn't forcibly normalized and thus it worked at that time, and we didn't test this case so it got accidentally broken at some point in time.

I'd much rather you replace `FileSystem.createSymbolicLink(Pa

[2022-06-27 11:06] lberki commented on #14224
Yeah, strictly speaking, that's an alternative, but that one has a larger blast radius than a change localized to `FileSystem`.

The normalization was forcibly added in a729b9b4c3d with the reasoning that it would help RAM use. I don't know more history. @meisterT maybe you remember something I don't?

There is also 775d3a9066cd674f158652ca3c6abf2ed6cd5549 which replaced `PathFragment` with `Strin

[2022-06-27 11:17] oquenchil commented on #15713
Yes, I can confirm!

[2022-06-27 11:59] wingdi commented on #15741
@sgowroji  Very thanks for your reply. It's nice to meet you at this project.

First i bind FBO with Texture , and render data to this Texture:
[code]
Then sampling data from this Texture:
[code]
When build with dbg , it works well,  but if build without dbg,  sampling data from brdfLUTMap is zero.
Using bazel-v5.0.0 and bazel-v5.2.0 have same problem.

[2022-06-27 14:13] bjs3118 opened #15748 "Understanding bazel's cc_library"
Hi, I am new to bazel so please bare with me.

I am using bazel within the [TensorFlow repository](https://github.com/tensorflow/tensorflow) and am trying to build the cc_library [runtime_conv2d](https://github.com/tensorflow/tensorflow/blob/7d4062289f1f0ff8ae60181b3024b08b26874582/tensorflow/compiler/xla/service/cpu/BUILD#L730).

I am able to build the .so library, however when I try to compile t

[2022-06-27 14:22] ted-xie commented on #15742
I'll try to repro this. It looks like the easiest path to repro would be generating an artifical case with >2^16 classes and >2^16 fields.

[2022-06-27 14:41] learning-to-play commented on #15713
It seems cc_shared_library is using the actual library rather than the interface library to link on Windows. Is this something that needs to be fixed on the Bazel size? If so, can you cherry pick that one, too?

[2022-06-27 15:27] bazel-io opened #15749 "[5.3.0] junitrunner: Report suppressed and ignored tests as skipped."
Forked from #13717

[2022-06-27 15:33] #15593 closed

[2022-06-27 15:43] coeuvre commented on #15682
I am not able to reproduce this locally. Do you know which actions are not uploading artifacts?

[2022-06-27 17:41] mistic commented on #15682
@coeuvre it actually happens in rules from `rules_nodejs` we are using like `TsProject` https://github.com/bazelbuild/rules_nodejs/blob/stable/packages/typescript/index.bzl#L109

[2022-06-27 19:18] Bencodes opened #15751 "CompatDx producting excessive "stack map table" warnings"
### Description of the bug:

After updating to rolling release 6.0.0-pre.20220526.1, CompatDx produces a massive amount of "stack map table" warnings.

[code]

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[code]

### Which operating system are you running Bazel on?

Mac OS

### What is the output of `bazel info release`?

6.0.0-pre.2022

[2022-06-27 19:19] Bencodes commented on #15751
This was originally reported [here](https://github.com/bazelbuild/bazel/issues/15742) but has been broken out into a new issue specifically reporting the warnings.

[2022-06-27 20:51] espeer-enfabrica opened #15753 "NullPointerException using rustfmt_aspect with custom verilog_lint_test rule"
### Description of the bug:

We see the following splat:

FATAL: bazel crashed due to an internal error. Printing stack trace:
java.lang.RuntimeException: Unrecoverable error while evaluating node '[]#@rules_rust//rust/private:rustfmt.bzl%rustfmt_aspect BuildConfigurationValue.Key[614a8816f292c11cb4ef63601cc72f3c9ff3ca3f749cc82148f834a38f437e65] ConfiguredTargetKey{label=//hw/projects/mlm/dv/csr/m

[2022-06-27 21:29] yeswalrus commented on #13300
Strong upvote here. For things like FlatBuffers (or I think even protobuf) that generate one file per table/struct, this is a big issue. The best options I can think of ATM are to write a custom rule and declare the output as a directory using `ctx.actions.declare_directory`, write a linter rule enforcing 1 struct per file with a matching name (which many devs are opposed to when there are several

[2022-06-27 22:33] ckolli5 commented on #15725
Closed https://github.com/bazelbuild/bazel/pull/15737

[2022-06-27 22:33] #15725 closed

[2022-06-27 23:29] ahumesky commented on #15742
As a workaround, you can try adding `--experimental_use_dex_splitter_for_incremental_dexing` which should avoid the codepaths that are failing here. We've had that enabled internally for several years already, so we might just default it to be enabled and simplify the code.

[2022-06-27 23:47] Bencodes commented on #15742
I'll give this a try internally and report back.

[2022-06-28 00:07] Bencodes commented on #15742
Still seeing the same error with `experimental_use_dex_splitter_for_incremental_dexing` enabled. We don't have incremental dexing enabled internally, so maybe that's why.

[2022-06-28 00:16] ahumesky commented on #15742
ah, yeah that only applies to incremental dexing, which is enabled by default

[2022-06-28 00:18] Bencodes commented on #15742
It still fails with this configuration. Are you using something different internally (flipping `incremental_dexing` to false also fails)?

[code]

[2022-06-28 00:50] ahumesky commented on #15742
hmmm it seems to work for my (admitedly simple) test app:

[code]

`java/com/app/BUILD`:
[code]

`java/com/app/AndroidManifest.xml`:
[code]

`java/com/app/MainActivity.java`:
[code]

And then Lib1.java and Lib2.java were something like:

[code]
and then similar for Lib2.java

[2022-06-28 01:01] Bencodes commented on #15742
I see the difference. For debug builds that aren't meant to be distributed to the play store, we pass `dex_shards`. Commenting this out and only using `multidex = "native"` works fine with the above bazelrc.

The other case that fails is our release builds where we do not provide `dex_shards`, but we do provide proguard specs. Passing either of these two values will fail.

[2022-06-28 01:04] ahumesky commented on #15742
Are you setting `dex_shards` for use with mobile-install? From a build perspective, incremental dexing obviates dex_shards. I still need to add a proguard spec to verify that that case works with d8+multidex

[2022-06-28 01:11] Bencodes commented on #15742
Yes we are as per the [mobile install docs](https://docs.bazel.build/versions/main/mobile-install.html#summary) which might be outdated at this point.

I may have misspoken about `dex_shards` breaking builds, but passing `proguard_specs` definitely does when using the above [bazelrc](https://github.com/bazelbuild/bazel/issues/15742#issuecomment-1168069324).

[2022-06-28 01:55] ahumesky commented on #15742
I can repro the failure with proguard with this config:
[code]

[2022-06-28 02:06] ahumesky commented on #15742
Try adding these flags:
[code]

[2022-06-28 02:53] Bencodes commented on #15742
New crash now for release builds using the above flags in combination with the above [bazelrc](https://github.com/bazelbuild/bazel/issues/15742#issuecomment-1168069324).

[code]

[2022-06-28 06:20] cpsauer commented on #14669
Excited indeed! And really appreciative of you all + pumped where this is headed.

Definitely hear you on the careful approach--so I should probably get out of the way and let @fmeum discuss what things would maximally unblock him.

[Some last notes, though, since I can't help myself: I think it'll be really useful also to have this on other nodes that are actually libraries for distribution. I'd

[2022-06-28 09:23] joe-polin commented on #15727
What do you all think? Wondering if we can make this happen, or I need to take a much hackier approach (that I'm sure others will need to do as well)

[2022-06-28 11:07] aiuto commented on #15644
TL;DR;  +1 to what Yun said.

The idea was that they could self-maintain.
https://github.com/orgs/bazelbuild/teams/go-maintainers/members
shows Allan as a maintainer, so I don't understand why he can not add the
person.
Maybe it is just that the new person must be in bazelbuild first. We have
lots of non-googlers in ***@***.***

So, it should just be a question of adding them to bazelbuild first,

[2022-06-28 12:23] meteorcloudy commented on #15723
@redsun82 If you download https://github.com/bazelbuild/bazel/releases/download/6.0.0-pre.20220601.1/bazel-6.0.0-pre.20220601.1-installer-linux-x86_64.sh and install Bazel with this sh script, the bash completion file will be installed.

[2022-06-28 12:23] #15723 closed

[2022-06-28 14:03] guillaumep commented on #7692
Happened to me also, I used the `bazel shutdown` command instead to resolve the issue.

[2022-06-28 14:07] aherrmann opened #15755 "java.lang.IllegalStateException on missing "inputs" from "ctx.resolve_tools" with remote cache"
### Description of the bug:

Bazel crashes with the following error message:
[code]

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

* Check out [this repository](https://github.com/aherrmann/bazel-repro-resolve-ctx-inputs-crash)
* Run `bazel build //:crash`
* Observe the crash

The crash can be avoided by uncommenting the `#inputs = ...`

[2022-06-28 14:12] wilwell commented on #13217
Thank you a lot for this notices! I will change a logic in this code to remove the old incorrect code.

[2022-06-28 14:44] bazel-io opened #15756 "[5.3.0] Fix and test for null value bug when using --repo_env"
Forked from #15618

[2022-06-28 15:19] chandarrengoog opened #15757 "Documentation issue: Configurations"
The link referenced by the documentation below is broken. ("End to end example")

Documentation URL: https://docs.bazel.build/versions/main/skylark/config.html#:~:text=Attaching%20transitions-,End%20to%20end%20example,-Transitions%20can%20be

[2022-06-28 15:20] ahumesky commented on #15742
That looks like an error from dx, as opposed to d8. Are you running dx with that build?
Also looks like a problem with java 8 and desugaring ("invoking a default interface"), do you have desugaring off? (e.g., targeting a recent devices?)

[2022-06-28 15:24] #15757 closed, assigned to nobody

[2022-06-28 16:02] ckolli5 commented on #15749
Closing this issue since this change already exists. Thanks!

[2022-06-28 17:26] uhthomas opened #15758 "Subresource Integrity should accept multiple checksums"
### Description of the bug:

According to the Subresource Integrity (SRI) W3C document, SRIs should allow for multiple checksums to be defined in one string; separated by whitespace. The implementation must then prioritise the list of checksums and select the checksum with the strongest hash function.

- https://www.w3.org/TR/SRI/#agility

- https://www.w3.org/TR/SRI/#priority

### What's the simp

[2022-06-28 17:33] uhthomas opened #15759 "Allow repository rules to perform integrity checks"
### Description of the feature request:

Repository rules should be able to perform integrity checks or calculate the integrity of files.

Something like:

[code]

Alternatively, there could be just one `ctx.integrity` function which will both calculate and verify depending on whether the `integrity` attribute is given?

### What underlying problem are you trying to solve with this feature?

There

[2022-06-28 19:16] espeer-enfabrica commented on #15753
Not sure I understand the question. The issue occurs in combination with rules_rust and this custom rule of ours. The rustfmt aspect works as expected for rust and cpp build targets. Or, are you asking that I log a rules_rust issue?

[2022-06-29 00:45] dhbaird opened #15760 "How to get to jmods/ directory which is missing in $(JAVABASE) (missing in bazel-4.2.2, bazel-5.2.0, etc..)"
### Description of the feature request:

Would like the following rule to actually print the module, or advice on what I should be doing instead:
[code]

Thanks.

### What underlying problem are you trying to solve with this feature?

I am trying to pass to the jmods to `proguard -libraryjars` so that I can implement a workaround for DexBuilder stack overflow issues partly described here:
- https:

[2022-06-29 00:59] nickbreen opened #15761 "python error local_java_repository failure message when java_home path does not exist"
### Description of the bug:

When defining a local_java_repository and the java_home path does not exist, the construction of the error message results in a python error.

The bug is in `tools/jdk/local_java_repository.bzl` lines 125:126

Notice that the `%` operator is operating on the wrong string (and has precedence over the string concatenation `+` operator).

The following patch corrects the

[2022-06-29 01:08] nikhilkalige commented on #15738
I had `common --watchfs` in my bazelrc and removing that seems to have fixed the problem for me.
So, what is the right way to add `watchfs` into the bazelrc?

[2022-06-29 01:11] nikhilkalige commented on #15738
I am seeing more weird behavior. It only works for the first time i run `bazel config 22f6aa7` and after that I keep getting the same error as above.

[2022-06-29 03:22] orreksu commented on #446
There is also specific rule for Scaladoc.
https://github.com/bazelbuild/rules_scala/blob/master/docs/scala_doc.md

[2022-06-29 08:05] qchenzi opened #15762 "[5.0.0/5.2.0] external_include_paths no work for emitting warnings for external sources"
###  external_include_paths no work for emitting warnings for external sources

I added the following to my project's `.bazelrc` file,
`build --features=external_include_paths`

I hope that will emit warnings for external deps, but it is not helping me, it is still giving me errors.

<img width="1275" alt="企业微信截图_5967e582-a368-483f-b325-28d046587805" src="https://user-images.githubusercontent.com/

[2022-06-29 09:38] qchenzi commented on #15762
@sgowroji Thanks for your reply, I added `com_github_jupp0r_prometheus_cpp` as the external deps by using `http_archive`.
Besides, I added `build --features=external_include_paths` to my project's .bazelrc file as following:
<img width="1152" alt="企业微信截图_d66907af-6b26-45d5-b1d5-67c49829c265" src="https://user-images.githubusercontent.com/21999330/176404443-053e9f34-a105-4c2d-ab5c-1ea220b39abc.png"

[2022-06-29 09:48] nickbreen commented on #15761
This is indeed a duplicate of that PR. Apologies for the noise.

I can see that the change is present on [master](https://github.com/bazelbuild/bazel/tree/master), but it is not present on the [release-5.1.1](https://github.com/bazelbuild/bazel/tree/release-5.1.1), [release-5.2.0](https://github.com/bazelbuild/bazel/tree/release-5.2.0), [release-5.3.0](https://github.com/bazelbuild/bazel/tree/rele

[2022-06-29 12:11] Wyverald commented on #15729
@bazel-io flag

[2022-06-29 13:28] thesayyn commented on #4965
Ideally the case should not end up being a conflict. I'd expect bazel to either put `ctx.actions.symlink artifact` into runfiles.symlinks dict or handle the case above.

I understand why bazel behaves the way it does right now but it should be improved.

I see three things that could be done here to improve this weird edge case;

- Do not print an `ERROR` if a symlink points to same path eventuall

[2022-06-29 14:40] alanfalloon commented on #5511
@UlrichEckhardt that is fine and effective Python, but I think in this case Python has a number of issues:
-  Far more systems ship with a Bourne compatible shell than a Python interpreter so carefully written shell code ([shellcheck](https://www.shellcheck.net) can help here) will be a more portable option.
- Startup times for Python are really bad, especially in Bazel. Even on a good day, Python

[2022-06-29 16:05] ckolli5 commented on #15729
@bazel-io fork 5.3.0

[2022-06-29 16:06] bazel-io opened #15764 "[5.3.0] g++ fpermissive compilation error for strdupa on musl when buiding from source"
Forked from #15729

[2022-06-29 16:06] bazel-io opened #15765 "[5.3.0] Fix string formatting when java_home path is missing."
Forked from #14686

[2022-06-29 17:12] fmeum commented on #14224
@meteorcloudy While working on @lberki's recommendation to make `FileSystem.createSymbolicLink` take target as a `String` rather than a `PathFragment`, I stumbled upon https://github.com/bazelbuild/bazel/commit/6c07525462062d491816a66a94c3db3b2dbc8f98 as well as the file/directory type check. Do you see any problems with the following approach that would allow for non-normalized symlink targets?

[2022-06-29 20:23] jonathan-enf commented on #5511
Another advantage of the integral redirect would be that a build action that fails could then automatically dump the redirected log to the console, similar to the behavior of --test_output=errors.  This can all be accomplished by wrapper scripts, but getting it right efficiently and consistently should make this a first-class bazel feature.

[2022-06-29 20:50] ahumesky commented on #15742
Seems this is the reason:
https://cs.opensource.google/bazel/bazel/+/master:tools/android/BUILD.tools;l=75-78;drc=e0f4f159a4ab60af10df3de81932da43061a2ac0

from this codepath:
https://cs.opensource.google/bazel/bazel/+/master:src/main/java/com/google/devtools/build/lib/rules/android/AndroidBinary.java;l=1475-1487;drc=7de4fab0d8b507f3790533e1ae18e94dca916d04

https://cs.opensource.google/bazel/baze

[2022-06-29 21:14] TimoPtr commented on #11060
@cheister any update on your suggestion? I see that in BazelProtoCommon protoInfo is annotated with StarlarkMethod but I didn't find any way to use it in starlark

[2022-06-29 21:39] dhbaird commented on #8615
Using local JDK seems to work. But I need remote JDK to work, and to get any version between up to 13 working (a restriction per proguard 6.2.2), which leads me to this issue. Any practical info that could help me? I'm already building bazel from source in order to work around another issue (https://github.com/bazelbuild/bazel/issues/13989), so I can edit anything needed to do so. I'm working off

[2022-06-29 22:08] konste opened #15770 "Compilation of tree artifact produces the output in the wrong folder"
### Description of the bug:

1. cc_library rule which takes two sources - single file and a tree artifact;
2. tree artifact is produced by the rule `create_tree_artifact` which also applies some transition;
3. observe that the object file for the single file is produced in the output folder corresponding to the primary configuration;
4. observe that the object file for the tree artifact is produce

[2022-06-29 22:20] nkoroste commented on #13989
What version of Bazel did this fix end up landing in?

[2022-06-29 22:33] ahumesky commented on #13989
Right, because of the rollbacks and rollback of rollbacks it's a bit unclear, the final commit is https://github.com/bazelbuild/bazel/commit/ae247145b897d0f41cdf2b317f5c7b856845e303
and as of right now that's in the recent rolling releases:

[6.0.0-pre.20220608.2](https://github.com/bazelbuild/bazel/releases/tag/6.0.0-pre.20220608.2)
[6.0.0-pre.20220601.1](https://github.com/bazelbuild/bazel/relea

[2022-06-30 01:03] ahumesky commented on #15742
Actually I followed the wrong set of selects internally, it's not `CompatDx` but `com.google.devtools.build.android.r8.CompatDexBuilder`. There's already a `java_binary` in the tools BUILD file for that, so all that's needed is

[code]

So looks like we should update the tools BUILD file as above, and set the above mentioned flags:
- `--experimental_use_dex_splitter_for_incremental_dexing`
- `--ex

[2022-06-30 01:29] EdbertChan commented on #15668
@radvani13

We are finding that Bazel severely underestimates the size of actions, especially at scale. By default, [Bazel assumes actions ](https://cs.opensource.google/bazel/bazel/+/master:src/main/java/com/google/devtools/build/lib/actions/AbstractAction.java;l=82?q=250&ss=bazel%2Fbazel&start=11) will consume 250MB by default. Even [Dexing itself is assumed to](https://cs.opensource.google/baze

[2022-06-30 04:59] ankit-agarwal1999 opened #15771 "[CC Rules] Expose Default Info in CC Import"
### Description of the feature request:

cc import currently does not output a default info provider, when it can clearly provide a runfiles for static and dynamic libraries that non cc_info targets can use. We can also take advantage of the solib directory that these so files get placed into. This can help a lot with shipping since all of our so dependencies will be in a single solib directory.

[2022-06-30 11:21] imhjh opened #15775 "Failed to build Bazel 5.2.0 on MIPS64el"
### Description of the bug:

The build failed on MIPS64el, base on Debian 10. Java.lang.OutOfMemoryError.

I tried to build bazel from scratch (bootstrapping) and run the compilation script:
env EXTRA_BAZEL_ARGS="--tool_java_runtime_version=local_jdk" BAZEL_JAVAC_OPTS="-J-Xmx1024m -J-Xms200m" bash ./compile.sh

It's succeed in Building Bazel from scratch but failed in the next step.

### What's th

[2022-06-30 12:06] kkpattern commented on #15073
We also encounter this problem. Unfortunately this causes us to not be able to compile Android on windows. Which is a major block for our project. Is there a rough estimate of when this will be fixed? Or is there any way we can workaround this? Thanks.

[2022-06-30 12:42] fmeum commented on #14224
While working on a PR for this, I noticed https://cs.opensource.google/bazel/bazel/+/5d75c08d9542d35d90047369059cad2e03c6a1d4:src/main/java/com/google/devtools/build/lib/windows/WindowsFileOperations.java;l=229, which is an error raised when trying to create a symlink to a directory. https://cs.opensource.google/bazel/bazel/+/cffd417a4c4ec4d082f815f57a771ad1010972dd does not contain any explanatio

[2022-06-30 13:59] radvani13 commented on #15668
Thank you so much for the detailed explaination. Let me ask internally and get back

[2022-06-30 15:13] bazel-io opened #15777 "[5.3.0] Optionally enable LLVM profile continuous mode"
Forked from #15166

[2022-06-30 15:36] loeffel-io opened #15779 "Bazel fails silent"
### Description of the bug:

Bazel fails silent (docker image: gcr.io/bazel-public/bazel:5.2.0)

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

_No response_

### Which operating system are you running Bazel on?

gcr.io/bazel-public/bazel:5.2.0

### What is the output of `bazel info release`?

-

### If `bazel info release` returns `devel

[2022-06-30 16:06] lberki commented on #15454
After some discussion with @lfpino we came to the conclusion that there are two missing pieces before we can stabilize this:

1. Support on Bazel's RE interface (this is known to not work)
2. Support in various sandboxes (code suggests that this works, but I don't know off the top of my head if it does or it is tested)

I specifically don't want to add any requirement concerning Windows because sy

[2022-06-30 16:21] fmeum commented on #15454
I have RBE support implemented [on a branch](https://github.com/fmeum/bazel/commits/unresolved-symlinks-rbe), which I can submit for review after https://github.com/bazelbuild/bazel/pull/15700 and https://github.com/bazelbuild/bazel/pull/15773. Specifically, the tests I added in https://github.com/bazelbuild/bazel/pull/15700 seems to indicate that everything works pretty well on Windows (except po

[2022-06-30 21:11] sualehasif commented on #12852
This is blocking us too. Is there any meaningful progress here?

[2022-06-30 23:11] devesh-bedrock commented on #4301
Does anyone know where I can find details on @bazel_tools//platforms:target_platform and @bazel_tools//platforms:host_platform?

+1 to improving to documentation on everything inside @bazel_tools.

[2022-07-01 00:23] cpsauer commented on #12852
(Sadly not that I know of.) But I'm curious what you're building on top of aquery/extra_actions, @sualehasif!

[2022-07-01 01:00] nikhilkalige commented on #15738
I updated bazel to `5.1.1`, deleted my `.bazelrc` file, and ran the following
[code]

I cannot share the source code though :(

[2022-07-01 07:43] loeffel-io commented on #15779
All good, thanks!

Would just like to get some information that the google authentication failed - took me some time to figure out and could infect some other people - the problem was a empty gsa file path

[2022-07-01 07:43] #15779 closed

[2022-07-01 09:56] lukaciko commented on #11948
We still see this issue with Bazel 5.1.1. The issue goes away when not using a persistent worker. I can give more info if needed.

[2022-07-01 11:47] #15729 closed

[2022-07-01 15:04] digit-google opened #15786 "Add new_local_repository() argument to generate MODULE.bazel file as well."
### Description of the feature request:

BlzMod will soon allow native.local_repository() and native.new_local_repository() to be called from module extension implementation functions (see issue 15412).

This feature request is to add new optional arguments to new_local_repository() to generate MODULE.bazel files, in addition to BUILD.bazel and WORKSPACE.bazel ones.

e.g. `module_file` and `module

[2022-07-01 21:48] george-enf opened #15789 "Build (after clean) with disk cache is missing empty subdirectories"
### Description of the bug:

I build a rule with disk cache enabled. I've added a 5 second delay in `rule1.sh` to prove that it is executing:

[code]

The rule generates 2 directory trees. The `empty_dir` is completely empty. And the `tree` has an empty subdirectory.

[code]

I do:
[code]

Then, I rebuild. `rule1.sh` is not re-executed.
[code]

The empty subdirectory `empty_subdir` is missing:

[c

[2022-07-01 22:23] lfpino commented on #15454
@fmeum I've only started looking at this recently, I'd definitely love to meet and chat about this.

[2022-07-02 00:08] adam-azarchs commented on #15359
The issue seems to be that while the `.cppmap` files _are_ actually included in the dependencies of the compile action (as seen via `aquery`), something else in there is upset about it.  Compiling with `--incompatible_force_strict_header_check_from_starlark=false` works.  I think what's going on here is that the strict check is not recognizing those files as being headers.

[2022-07-02 02:29] silver2row opened #15790 "Getting Bazel for ARM64?"
### Description of the feature request:

Hello...

I would like a feature done for the build of Bazel for Arm64 arch.

Seth

### What underlying problem are you trying to solve with this feature?

Hello,

I am trying to solve the issue of not having ARM NN on my SBCs.

Seth

### Which operating system are you running Bazel on?

Trying w/ Debian ARM 64

### What is the output of `bazel info release

[2022-07-02 02:52] imhjh commented on #15775
Thank you！

[2022-07-02 02:52] #15775 closed

[2022-07-02 03:33] silver2row commented on #15790
https://github.com/bazelbuild/bazel/releases/download/5.2.0/bazel-5.2.0-linux-arm64 is not a .sh script...

This is the issue, I think.

Seth

[2022-07-02 04:12] pqn commented on #15673
We're also having an issue with 5.0.0, not sure if it's related.
[code]

[2022-07-02 05:40] silver2row commented on #15790
Oh!

[2022-07-02 05:40] #15790 closed

[2022-07-02 06:15] aryeh-looker opened #15791 "Improve Errors for Transitive Rules"
### Description of the feature request:

improve errors in transitive rules

what we get:
[code]

what might be more ideal:
[code]

or something similar

### What underlying problem are you trying to solve with this feature?

Understanding the dependency graph when an error in a rule happens

### Which operating system are you running Bazel on?

glinux

### What is the output of `bazel info releas

[2022-07-02 06:15] aryeh-looker commented on #15791
Repro is to clone https://github.com/GoogleCloudPlatform/cloud-spanner-emulator and attempt to build with bazel 5.2.0

[2022-07-02 06:53] aryeh-looker commented on #10707
+1

[2022-07-02 07:31] fmeum commented on #15789
@coeuvre Resolving this would probably require generalizing what I did in https://github.com/bazelbuild/bazel/pull/15276 to apply to all empty (leaf) directories, not just the top-level one.

What do you think of the approach to add a new artifact type representing an empty directory? I think that this could even clean up some of the existing logic introduced for https://github.com/bazelbuild/baze

[2022-07-02 07:50] aryeh-looker commented on #10707
Another clever workaround (needs some tweaking to meet your use-case, but I think you get the idea). It could be as simple as merely documenting this use-case instead of making a code change.

[code]

[2022-07-02 14:50] ckolli5 commented on #15694
Closed https://github.com/bazelbuild/bazel/pull/15766

[2022-07-02 14:50] #15694 closed

[2022-07-02 14:54] ckolli5 commented on #15713
Closed https://github.com/bazelbuild/bazel/pull/15754

[2022-07-02 14:54] #15713 closed

[2022-07-02 14:54] ckolli5 commented on #15721
Closed https://github.com/bazelbuild/bazel/pull/15772

[2022-07-02 14:54] #15721 closed

[2022-07-02 14:55] ckolli5 commented on #15764
Closed https://github.com/bazelbuild/bazel/pull/15787

[2022-07-02 14:55] #15764 closed

[2022-07-02 14:56] ckolli5 commented on #15765
Closed https://github.com/bazelbuild/bazel/pull/15769

[2022-07-02 14:56] #15765 closed

[2022-07-02 14:56] ckolli5 commented on #15777
Closed https://github.com/bazelbuild/bazel/pull/15782

[2022-07-02 14:56] #15777 closed

[2022-07-02 19:00] aryeh-looker commented on #10707
Even simpler actually:

[code]

[2022-07-02 20:06] beasleyr-vmw commented on #13221
One problem here is that this assumes that the Bazel user has bought into the Google/Blaze deployment model. My org ported a small constellation of Java projects from Maven to Bazel, but for compatibility reasons we retained our Maven artifact structure (i.e. we're not using `java_binary`'s deploy jars). Where we can, we use `resources` and `resource_strip_prefix` to inject resources into jars, bu

[2022-07-03 02:15] createyourpersonalaccount commented on #12124
On Fedora 36 I get

    ccache: error: Failed to create temporary file for /run/user/1000/ccache-tmp/tmp.cpp_stdout.6cAvv5: Read-only file system

whether I use the sandbox option or not, installed from npm or binary.

[2022-07-03 02:17] aryeh-looker commented on #10707
Oh no -- I'm seeing my comment is not so related. Carry on.

[2022-07-03 19:59] konste opened #15797 "Incorrect error from cquery when configuration flag has the default value"
### Description of the bug:

cquery produces incorrect error `transition inputs [@//:flavor] do not correspond to valid settings` when the flag is not set on the command line or set to the default value.

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Minimal repro provided here: https://github.com/Bazel-snippets/cquery_transition_error

[2022-07-03 22:22] ywrt commented on #10653
For those coming from the future: You'll also get this sort of error if the workspace name in your WORKSPACE file differs from the enclosing directory name.

e.g. if you have foo/WORKSPACE and that file contains 'workspace(name="bar")' you will get weird and confusing errors.

[2022-07-04 06:54] fmeum commented on #11954
@brandjon Is it possible that `repository_rule` is a further difference that is not caught by https://github.com/bazelbuild/bazel/blob/968422dd6e6735b6066ccbe862b6bc6ab38ce4d6/src/test/java/com/google/devtools/build/lib/packages/BazelStarlarkEnvironmentTest.java#L59?

[2022-07-04 07:27] #13687 closed

[2022-07-04 08:42] fmeum commented on #15412
@Wyverald If it helps, I could starlarkify `local_repository` and `new_local_repository`. Now that `repository_ctx.workspace_root` is available, making fully-featured replacements should be possible.

Assuming that using `bind` in module extensions is a bad idea, this would cover all native rules. Maybe making native repo rules work in module extension wouldn't even be necessary anymore?

[2022-07-04 09:55] bazel-io opened #15801 "[5.3.0] Fix behavior of `print()` in module extensions"
Forked from #15795

[2022-07-04 09:55] bazel-io opened #15802 "[5.3.0] Fail the build on repository rule errors in a module extension"
Forked from #15796

[2022-07-04 09:57] fmeum commented on #14224
Thanks for the information, I got with that approach then.

@meteorcloudy Do you know whether symlinks on Windows can use forward slash paths? If not, then I should probably translate the path style in `WindowsFileSystem.{create,read}SymbolicLink` or it will be very difficult to make `declare_symlink` work cross-platform.

[2022-07-04 10:30] pierventre commented on #13221
I ended up rewriting part of our toolchain and fixing the `resources` path using an external component (OSGIWrapper). FYI https://gerrit.onosproject.org/c/onos/+/25471

[2022-07-04 12:34] Wyverald commented on #15786
Actually, after thinking about this a bit, this doesn't really make sense -- by the time we can call `new_local_repository` (i.e. in module extension evaluation), all MODULE.bazel files have already been processed. In other words, `new_local_repository` cannot be used to create a _module_, only a _repo_, so this feature request doesn't really solve anything.

The only possible usage I can think of

[2022-07-04 13:05] meteorcloudy commented on #14224
@fmeum I think the [CreateSymbolicLink](https://docs.microsoft.com/en-us/windows/win32/api/winbase/nf-winbase-createsymboliclinka) API itself doesn't support forward slash paths. But we do translate the paths first before passing to the JNI functions. See https://cs.opensource.google/bazel/bazel/+/master:src/main/java/com/google/devtools/build/lib/windows/WindowsFileOperations.java;l=225

[2022-07-04 13:35] kkpattern commented on #11817
This actually makes us unable to use remote cache when building Android app. The c++ toolchain used to build Android app has cxx_builtin_include_directories point to directory in an external workspace(androidndk). Those builtin include files will have abosulte path in dotd files. When we hit remote cache, the build will failed with message:

[code]

Since devs usually have different bazel executio

[2022-07-04 14:03] carlosgalvezp commented on #15017
It has been discussed the perspective of "Bazel as a tool to build a binary that one will later on execute". I'd like to bring the perspective of "linting" (e.g. formatting, static code analysis). Typically this is implemented in terms of "**aspects**". The main [documentation of aspects ](https://docs.bazel.build/versions/main/skylark/aspects.html) has a nice picture showing how indeed the "runti

[2022-07-04 14:49] arunkumar9t2 opened #15804 "Feature Request: Update Android databinding jars to 7.0+"
### Description of the feature request:

Bazel's current dependency on databinding is quite old and can be updated to latest databinding version which is backwards compatible with existing code and does not require migrations.

Secondly due to the way databinding libraries are imported currently it is not possible to update databinding libraries without updating Bazel and android_tools.

### What

[2022-07-04 15:40] konste commented on #15797
This is weird! I cloned [my repository](https://github.com/Bazel-snippets/cquery_transition_error), run `bazel cquery somepath(transistor,dummy) --transitions=lite --//:flavor=opt` and it reproduced the error just fine! Definitely no syntax errors.
[command.log](https://github.com/bazelbuild/bazel/files/9040717/command.log)

@sgowroji what is the full error you are seeing? I wonder what line it co

[2022-07-04 17:21] UebelAndre commented on #15546
@comius @rickeylev friendly ping. Is there a tracking issue for the port to starlark?

[2022-07-04 17:35] digit-google commented on #15017
As far as I understand, Bazel needs to process the full build graph for your project to ensure it can always provide correct and reproducible builds. So having any type of dependency (data or otherwise) properly defined and available is necessary even if they are never used during a `bazel build` operation.

So I would say it is expected and part of Bazel's design, i.e. the price to pay for correc

[2022-07-04 17:41] digit-google commented on #15786
Ah, I see what you mean by "all MODULE.bazel files have already been processed".

In the current WORKSPACE-based scheme, it is possible to use http_archive() to download a tarball and add a missing WORKSPACE to the extracted content. It is also possible to use new_local_repository() to do the same with a the pre-extracted content.

It looks like a registry can provide the missing MODULE.bazel file

[2022-07-04 17:44] carlosgalvezp commented on #15017
Why make the distinction between "data" and "deps" then? If all dependencies are fully needed for any given action (build, run, test) then I don't see what benefit "data" provides. It seems counterintuitive to me since Bazel is *also* about build/test/download avoidance.

A build can be fully reproducible and correct without its runtime dependencies, or?

[2022-07-04 17:49] digit-google commented on #15017
The distinction is that "data" dependencies are needed for `bazel run` and `bazel test`, but not for `bazel build`.

However, all three operations require constructing the full build dependency graph (during the load phase) to ensure 100% correctness of their results.

[2022-07-04 18:55] achew22 commented on #15644
Where would one go to find this documentation?

[2022-07-04 21:19] rickeylev commented on #15546
Sorry, didn't see this.

No, I don't think there's a GitHub issue tracking it, yet. I'd create one
now but am on vacation for a bit. Feel free to create one and assign it to
me, though.

Could you tell more about the problem you're trying to solve, and features
you want? Internally, we have 3-5+ cases that could be described as "create
a drop in replacement for py library", but each has some small

[2022-07-04 21:57] nickbreen commented on #15682
We reverted back to 5.1.1 due to this, however we do not use `rules_nodejs` (mainly `java_library` and `genrule`).

We noticed because the bazel-remote logs were **all** GET 404.

[2022-07-05 02:50] Smile-Autra commented on #15682
Same error.

[2022-07-05 05:45] kkpattern commented on #11817
After some experiments we found that it's caused by ndk clang on Windows "incorrectly" write absolute path for headers in gcc toolchain. The header files from clang are written with relative paths. On MacOS, the headers from gcc toolchain also are relative paths. But on Windows they're absolute paths. We don't know if this is a bug of ndk clang. We can fix this by adding `-isystem  external/androi

[2022-07-05 08:12] fmeum commented on #15682
@nickbreen Are you using directory inputs/outputs? `rules_nodejs` does and 5.2 includes https://github.com/bazelbuild/bazel/commit/26f878325e915e0905626a0e4c8bbacffd72f875, but if you are facing the same issues without relying on TreeArtifacts, then that commit is less likely to be the culprit.

[2022-07-05 09:02] bazel-io opened #15808 "[5.3.0] Add is_root struct field to bazel_module"
Forked from #15792

[2022-07-05 09:31] kotlaja commented on #15196
I'm starting to work on this task. If anyone is doing it in parallel with me, please let me know so we don't do double work.

PS. Thanks @fmeum, I'll check your code.

[2022-07-05 09:51] Wyverald commented on #15017
Let me phrase it this way -- if you want something to be available at runtime but don't want it to be part of the build graph at all, then why introduce it using Bazel? You can use whatever library to download and materialize stuff at runtime. Why use a part of Bazel, a _build_ tool which happens to be able to fetch resources for _building_, for this use case?

[2022-07-05 10:05] carlosgalvezp commented on #15017
Well, Bazel is not _just_ a build tool. Bazel has commands "run" and "test", right? As a user, I expect Bazel to have custom implementations for "run" and "test" that are different / more appropriate / more optimized than for "build", in particular when it comes to handling runtime data dependencies.

Besides, as I said above, cc_library exposes the specific "data" argument, and the docs state tha

[2022-07-05 11:15] Wyverald commented on #15786
Yes, but both of those actions don't actually do anything (i.e. are non-features, are poorly thought through, shouldn't have been there at all). Inserting a WORKSPACE file also does nothing because Bazel simply doesn't read any WORKSPACE other than the one in the main repo. So Bzlmod doesn't actually remove any functionality here.

You can use module extensions to generate a repo from reading what

[2022-07-05 11:47] #14526 closed

[2022-07-05 12:15] fmeum commented on #14224
@meteorcloudy Thanks for pointing me to that function, that was the missing piece.

Unfortunately, I don't think that the current `ctx.actions.symlink(target_path=...)` API can work on Windows. According to the [`CreateSymbolicLink` docs](https://docs.microsoft.com/en-us/windows/win32/api/winbase/nf-winbase-createsymboliclinkw) and as verified by my tests, the type of the eventual target of a syml

[2022-07-05 12:22] meteorcloudy commented on #15740
@dmsol98 Is it possible to construct a minimal reproduce case for this issue?

[2022-07-05 12:30] daohu527 opened #15810 "can cc_proto_library support dynamic link"
### Description of the feature request:

I need cc_proto_library dynamic link, but it doesn't support link_static = False.

### What underlying problem are you trying to solve with this feature?

I build a binary with link_static = True, it deps on a cc_proto_library. Finally it will static link the cc_proto_library, but I need to dynamic link. I know there is a link_static = False for cc_library,

[2022-07-05 13:09] bazel-io opened #15811 "[5.3.0] Add is_root struct field to bazel_module"
Forked from #15792

[2022-07-05 13:10] bazel-io opened #15812 "[5.3.0] Add util for finding credential helper to use"
Forked from #15707

[2022-07-05 13:10] bazel-io opened #15813 "[5.3.0] Replace uses of `cfg = "host"` with `cfg = "exec"`"
Forked from #15785

[2022-07-05 13:23] #15658 closed

[2022-07-05 14:53] meteorcloudy commented on #14437
Fixed by https://github.com/bazelbuild/bazel/commit/ac219103d8798965b775db548d7b9214ecd78f73

[2022-07-05 14:53] #14437 closed

[2022-07-05 15:44] UebelAndre commented on #15546
I think the case that would be most impactful to me is being able to take my [cc_binary](https://docs.bazel.build/versions/main/be/c-cpp.html#cc_binary)-like rule and update it to provide an interface to python targets I have without needing to make a tree of macros as some of the attributes are hard to manage when [select](https://docs.bazel.build/versions/main/be/functions.html#select) is used f

[2022-07-05 16:39] dmsol98 commented on #15740
@meteorcloudy In the original post, I explained how to reproduce this issue. To summarize the steps, I followed the instructions for building JAX from source (Windows CPU only) posted [here](https://jax.readthedocs.io/en/latest/developer.html#additional-notes-for-building-jaxlib-from-source-on-windows) and installed Bazelisk by following [these](https://bazel.build/install/bazelisk) instructions.

[2022-07-05 16:46] Bencodes commented on #15742
@ahumesky I confirmed that the above alias select does in fact work for our release builds. Happy to open up a PR for this if needed.

[2022-07-05 16:50] achew22 commented on #15644
Could we use this issue to track adding documentation on this point @aiuto or would you like me to file an additional issue?

[2022-07-05 17:04] Wyverald commented on #15740
It would be very helpful to have a _minimal_ reproduction case. Although you did provide reproduction steps (and thanks for that!), building the entirety of JAX is rather complicated and it's very hard for us to pinpoint where the problem is.

[2022-07-05 17:27] pqn commented on #15673
The resolution for my issue was to upgrade to a more recent version of `rules_cc`, which was indirectly included via [`tensorflow/runtime`](https://github.com/tensorflow/runtime). I didn't confirm but suspect it might have to do with https://github.com/bazelbuild/rules_cc/commit/58f8e026c00a8a20767e3dc669f46ba23bc93bdb

[2022-07-05 19:28] fmeum commented on #14224
We could if we wanted to create a resolvable symlink, but in this particular case we might very well want to create a symlink pointing to `../../node-fetch` without that path even existing yet.

I actually think that we should just commit to the following restriction: On Windows, `ctx.actions.symlink(target_path=...)` will always create a directory symlink. This is because:

1. It doesn't require

[2022-07-06 00:02] keith commented on #14113
sorry github actions. if you can reproduce that consistently maybe you can see if it's a timeout or something else?

[2022-07-06 00:13] dzbarsky commented on #15727
I would prefer the python rules take a separate attribute called `stub_srcs` for pyi files. That would let mypy and other tools consume those without polluting other users of the sources attribute. But otherwise, +1 for this feature request!

[2022-07-06 00:43] nickbreen commented on #15682
We have various rules using TreeArtifacts (`ctx.actions.declare_directory`) and rules that produce a directory output using `ctx.outputs` and genrules doing the same.

[2022-07-06 01:26] abhillman opened #15817 "Add Documentation to Rules Emitted by `bazel info build-language`"
### Description of the feature request:

Add documentation to the result of `bazel info build-language`

### What underlying problem are you trying to solve with this feature?

`bazel info build-language` is relied upon by the IntelliJ plugin (i.e. see https://github.com/bazelbuild/intellij/blob/master/base/src/com/google/idea/blaze/base/lang/buildfile/sync/BuildLangSyncPlugin.java#L125 -- this ru

[2022-07-06 01:31] abhillman commented on #15817
I would be interested in adding support for this. One of things that is confusing here is that the current class that is responsible for gathering this information is `BuildLanguageInfoItem`, which is marked as deprecated 2 years ago.

https://github.com/bazelbuild/bazel/blob/33f7648fbaa875f73416be47f0b3c10ed93f30d6/src/main/java/com/google/devtools/build/lib/runtime/commands/info/BuildLanguageInf

[2022-07-06 01:32] abhillman commented on #15817
Related issues from the bazel intellij plugin repo

https://github.com/bazelbuild/intellij/issues/3730
https://github.com/bazelbuild/intellij/issues/3702

[2022-07-06 01:55] abhillman commented on #15817
Sketch of the design:
* update `RuleClass` and `RuleClass.Builder` to allow for specification and fetching of documentation (e.g. `builder.setDocumentation(String doc)`, `getDocumenation` method on `RuleClass`)
* update `RuleDefinition` to have an overridable `getDocumentation` method that returns null by default
* refactor `RuleClass` `documented` attribute into a method `isDocumented` that check

[2022-07-06 01:58] abhillman commented on #15817
cc/ @ckolli5 -- hoping you might be able to weigh in

[2022-07-06 04:56] adam-singer commented on #15682
We have also noticed this similar bug where caching seems to have broken on 5.2.0. When I was tracing the request logs something seemed odd in terms of the action cache `GET` missing and content addressable `PUT`. I could be missing a detail here, maybe this will help narrow down to what other folks might be seeing.

Before doing a build there is a miss on the action cache `GET 404       127.0.0.1

[2022-07-06 09:00] fmeum opened #15820 "Improve structure of output of failed commands"
### Description of the feature request:

Currently, when an action fails during the build, the output of the failed command is mixed with Bazel status information:
[code]

The order and structure of the log output can certainly be improved. I would personally find this much cleaner if it read more like this:

[code]

Since `--sandbox_debug` seems to effectively imply `--verbose_failures`, this cou

[2022-07-06 09:35] meteorcloudy commented on #14224
I did some experiments with `mklink`
[code]

It looks like it actually works if a directory symlink or junction pointing to a file. So I guess yes, I agree with "On Windows, ctx.actions.symlink(target_path=...) will always create a directory symlink if the target doesn't exist". But maybe we keep the current behaviour of creating a junction since it doesn't require admin right?

[2022-07-06 09:38] fmeum commented on #14224
@meteorcloudy Thanks for the experiment, that's really helpful.

Can a junction point to a relative path though? I thought that wasn't possible, but could you maybe give it a try (I don't have access to a Windows machine).

Admin access should no longer be required if we use `SYMBOLIC_LINK_FLAG_ALLOW_UNPRIVILEGED_CREATE`, at least using developer mode.

[2022-07-06 09:43] meteorcloudy commented on #14224
Oh, yeah, junction can only take absolute path, see https://superuser.com/questions/343074/directory-junction-vs-directory-symbolic-link

Correct, but IIRC turning on developer mode requires admin right 😅.

Anyway, I'm fine with creating directory symlink if `--windows_enable_symlinks` is on. But if that flag is off, we have to fallback to create junction I guess? (which means `ctx.actions.symlink

[2022-07-06 10:17] joe-polin commented on #15727
I could be onboard with that! I believe we'll still need them to end up in the same folder for mypy to pick them up.

[2022-07-06 10:28] Wyverald opened #15821 "Rewrite documentation on Labels"
Label resolution has been a source of confusion for ages. With recent fixes around repo mapping and the new canonical label syntax, we should really spend some time rewriting the documentation to be clearer (this includes the Label type, the Label constructor, and various methods on Label).

See also https://github.com/bazelbuild/bazel/issues/14503, https://github.com/bazelbuild/bazel/pull/14609,

[2022-07-06 10:49] carlosgalvezp commented on #15017
Yes, correct!

Disclaimer: I don't know anything of the internals of Bazel so the following might be very silly / impossible to implement :)

My general understanding of Bazel is that it first creates an action graph of all the actions needed to build a target. Once the graph is created, it checks what actions are cached and which ones need to run. Finally, all results are put together into a fina

[2022-07-06 21:01] #15691 closed

[2022-07-06 21:02] ckolli5 commented on #15811
Closed https://github.com/bazelbuild/bazel/pull/15815

[2022-07-06 21:02] #15812 closed

[2022-07-06 21:39] Bencodes opened #15827 "Test coverage support for android_local_test targets"
### Description of the feature request:

Test coverage support for `android_local_test` targets

### What underlying problem are you trying to solve with this feature?

The current [implementation](https://github.com/bazelbuild/bazel/blob/08b16f27af9063f105de4e1c07ff0596c3b80876/src/main/java/com/google/devtools/build/lib/bazel/rules/android/BazelAndroidLocalTest.java#L79) for `android_local_test`

[2022-07-07 04:23] jayvdb commented on #14113
I encountered a similar error when running the https://github.com/angular/angular/ test suite, using bazel 4.2.1_1 & 5.2.0 from brew on macos 12.4 (21F79).  bazel does inform me that the project requires bazel 5.0.0, but it doesnt seem that should cause this error.

[code]

[2022-07-07 07:52] koniarik commented on #6044
Hi o/

is there any update on the abillity to build target A with toolchain A' and target B with toolchain B'?

[2022-07-07 08:00] Irvenae commented on #7386
+1 for resolving this.

We had a major issue with this and after a long search found a hack
https://github.com/dillon-giacoppo/rules_python_external/issues/38

[2022-07-07 08:03] fmeum commented on #6044
@koniarik You can realize this by wrapping A and B with transitions on `--platforms` if you include a distinguishing `constraint_setting` in your toolchains. Applying transitions requires some boilerplate though. [platform_transition_filegroup](https://github.com/aspect-build/bazel-lib/blob/main/docs/transitions.md#platform_transition_filegroup) and [rules_meta](https://github.com/fmeum/rules_meta

[2022-07-07 10:08] oquenchil commented on #15624
You can use: https://cs.opensource.google/bazel/bazel/+/master:src/main/starlark/builtins_bzl/common/cc/experimental_cc_shared_library.bzl

[2022-07-07 10:08] #15624 closed

[2022-07-07 12:15] Wyverald opened #15829 "Replace `module.{execution_platforms,toolchains}_to_register` with `register_{execution_platforms,toolchains}`"
Currently a MODULE.bazel file might look like this:

[code]

The `toolchains_to_register` values way precede the definition of the used repo (`toolchain_repo`). If we had a `register_toolchains` API, we could request to register the toolchain after the `use_repo` call instead, which is easier to read and maintain.

This change should have absolutely no impact on the behavior of toolchain/execution

[2022-07-07 12:56] meteorcloudy opened #15830 "Bzlmod: set a default value for version attribute of bazel_dep"
We should allow the following usage (version isn't required, when override is used):
[code]

Currently, we have to write `bazel_dep(name = "A", version = "")`, see https://github.com/bazelbuild/examples/blob/5a8696429e36090a75eb6fee4ef4e91a3413ef13/bzlmod/02-override_bazel_module/MODULE.bazel#L33

[2022-07-07 13:21] brentleyjones commented on #14654
This will be fixed in Bazel 5.3 😍.

[2022-07-07 13:39] dmivankov opened #15831 "Bazel 5.1.1 with openjdk17 server"
### Description of the bug:

If using openjdk17 as bazel server runtime some actions may fail
[code]

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Haven't minimized this yet, also not yet tested with newer bazel releases

### Which operating system are you running Bazel on?

NixOS

### What is the output of `bazel info release`?

releas

[2022-07-07 13:50] bazel-io opened #15832 "[5.3.0] RemoteExecutionService: fix outputs not being uploaded"
Forked from #15823

[2022-07-07 15:29] rsalvador opened #15834 "An --explain-like option that shows which inputs and outputs changed."
### Description of the feature request:

The --explain option no longer shows which inputs changed. Analyzing the execution logs is possible to extract that information but it is an involved process. The request is to have a new option that provides the changed inputs so that information is easily available to all bazel users.

This pull request adds a new experimental option implementing this fea

[2022-07-07 15:33] #15682 closed

[2022-07-07 17:46] futt-bucker opened #15835 "bazel coverage fails on windows because test_wrapper cannot find "collect_coverage.sh""
### Description of the bug:

`bazel coverage //cpp/test:mytest`

[code]

My .bazelrc **does not** contain
[code]

Note how test_wrapper resolved path to `collect_coverage.sh` as to a data file under RUNFILES_DIR. The bug is that on Windows this file does not exist, because runfiles are not enabled.

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if pos

[2022-07-07 17:59] erikmchut opened #15837 "Android Mobile Install chooses platform name instead of correct abi for native_lib when --incompatible_enable_android_toolchain_resolution is set"
When `--incompatible_enable_android_toolchain_resolution` is set, bazel uses the `--android_platforms=xxx` flag to chose target architecture. The `bazel mobile-install` method is currently using this platform name as the ABI name and then failing to install libraries when this name doesn't match an Android ABI [armeabi-v7a, arm64-v8a, x86, x86_64].

## Example
[code]

Running the following command

[2022-07-07 18:04] fmeum commented on #15835
The logic in https://github.com/bazelbuild/bazel/blob/d35f923b098e4dc9c90b1ab66b413c216bdee638/tools/test/windows/tw.cc#L438
seems to be causing the chdir to `RUNFILES_DIR`. But it's intended not to run with coverage, see
https://github.com/bazelbuild/bazel/blob/d35f923b098e4dc9c90b1ab66b413c216bdee638/tools/test/windows/tw.cc#L468
I don't have access to a Windows machine, but have you been able t

[2022-07-07 18:15] futt-bucker opened #15838 "Use cross-platform C++ code for testing tools in @bazel_tools"
### Description of the feature request:

There are testing/test coverage tools which are written either in bash or OS-specific C++ (such as tw.exe that uses winapi calls).

This FR is a proposal to refactor these tools to use cross-platform C++ code instead. For example, filesystem OS calls can be replaced with C++17 <filesystem> code (or boost/filesystem).

List of tools-candidates to be rewritte

[2022-07-07 18:33] radvani13 commented on #12889
@tndhagedorn  this is Radhika and I am the PM at Bazel. i'd love to understand your urgency for NDK support.

[2022-07-07 19:31] ted-xie commented on #15751
From some quick internet sleuthing, it looks like these warning can be produced when the ClassWriter instance doesn't have ClassWriter.COMPUTE_FRAMES set. I see a bunch of references to ClassWriter and associated flags (COMPUTE_FRAMES, COMPUTE_MAXS) in the desugarer code but none for the dexer somehow. Needs more investigation. @Bencodes did you see this warning pop up with the legacy dexer?

[2022-07-07 19:34] Bencodes commented on #15751
@ted-xie not that i'm aware of but we haven't used the `dx`, nor does it actually work in our codebase. We hit errors like these https://github.com/bazelbuild/bazel/issues/15742#issuecomment-1168157842

[2022-07-07 20:08] ted-xie commented on #15751
Thanks, Ben. I tried to git-diff those two tags in the r8 repo and there was way too much to look at; I'll try to come up with some automation to make this easier.

[2022-07-07 20:17] ted-xie commented on #15741
Hi @wingdi,

It doesn't seem to me like this is an issue with the Android rules or Android build process in general; it reads more like a build configuration issue.

Have you tried running your test with `--subcommands` to see what Bazel is doing differently between your two builds? I usually do something like `bazel build //my:target --subcommands 2>&1 | tee log.log` so I can pipe the stdout + st

[2022-07-07 20:50] dpeter99 commented on #14380
if you run:
``bazel build <Your thing>.dll``
you can find the dll under bazel-bin

[2022-07-07 22:17] lfpino commented on #15817
I don't recall making InfoItem deprecated, also as @meisterT signals, this is for native rules only. Not sure if I can be of much help here. I refactored InfoItem to be able to inject the product name so that "Bazel" would be printed in the right places but I don't recall anything related to build-language.

[2022-07-08 01:29] cpsauer commented on #12889
Hey Radhika! I'd just  caught up on the [Bazel community update video](https://www.youtube.com/watch?v=gYrZDl7K9JM) where you introduced yourself. Great to run into you on GitHub!

[I'm not tndhagedorn, but I'm guessing offhand that he's referring to the new language features (and libraries that use them) unlocked by newer versions of clang. Newer NDKs would get C++20 support, for example, in addi

[2022-07-08 02:55] bytearth opened #15839 "disable remote_execution when met an error from discover_inputs"
### Description of the feature request:

I think it should disable remote_execution when something wrong with the discover_inputs function.
Due to the error, inputs of the special Action may be inexactly, and if we do not disable remote_execution，the Action will be sent to the build cluster by RemoteExecutionService，then we may get a mistake，which will interrupt the whole build job.

### What unde

[2022-07-08 09:06] rudaoshi opened #15841 "cxxopt -idirafter seems not working"
### Description of the bug:

I'm compiling a linux native package in macos, and I add

[code]
to .bazelrc

However, when I run bazel, it still cannot find the header in that folder.

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

_No response_

### Which operating system are you running Bazel on?

macOS 12.4

### What is the output of `ba

[2022-07-08 09:09] freedomtan commented on #12889
@radvani13 for your reference, I wanted to try if I can use ARM's new [SVE2](https://developer.arm.com/documentation/102340/0001/Introducing-SVE2) in recently cores to accelerate TensorFlow Lite, which I was a contributor. SVE2 related intrinsics are not supported by clang in older NDKs. As you know, the main build system for TensorFlow is bazel. That's why I hacked to have a somewhat functional N

[2022-07-08 10:13] Wyverald commented on #15829
Now we just need to migrate all existing modules in BCR: see https://github.com/bazelbuild/bazel-central-registry/issues/127

[2022-07-08 10:16] hlopko commented on #15753
While it is true that the error originates in `rules_rust` and there is very likely something to be fixed on `rules_rust` side, I think Bazel should not crash with any user input. So IMHO this issue should be triaged and investigated by the Bazel team as well.

[2022-07-08 11:35] bazel-io opened #15843 "[5.3.0] [credentialhelper] Add types to communicate with the subprocess"
Forked from #15803

[2022-07-08 11:56] srdo-humio opened #15845 "--config in .bazelrc doesn't appear to follow build to test inheritance"
### Description of the bug:

We are using a config flag (`--config=ci`) to override some defaults from the workspace-level .bazelrc on CI. We set this on CI in the home `~/.bazelrc` as `build --config=ci`.

We are seeing Bazel pick defaults instead of overrides when the command being run is `bazel test`. It works as expected with `bazel build`. Switching the command in `~/.bazelrc` to `test` also

[2022-07-08 11:58] futt-bucker commented on #15835
@fmeum I found that this func does not work properly for coverage:
https://github.com/bazelbuild/bazel/pull/15836/files#diff-0724a58c375abd86828d80bc7dd2982dcc6b73eeddda123561f7e6fee0dcf715R1131

It uses `runfiles->Rlocation` which can return non-existing path. The issue I observe is related to this code path.

https://github.com/bazelbuild/bazel/pull/15836

[2022-07-08 12:08] fmeum commented on #15835
`runfiles->Rlocation` is the correct way to access runfiles. It can return non-existing paths, but only if something else is wrong: If there is no `RUNFILES_DIR` variable because runfiles aren't enabled on Windows, then `runfiles->Rlocation` should use the runfiles manifest instead, which is available.

[2022-07-08 15:30] JaimeLotero commented on #12998
Sorry to revive this old issue but I can't find this information anywhere else. I'm getting this exact problem in one huge Java repository; I noticed this patch made it into Bazel 5, but unfortunately I'm using version 4.2.2 and upgrading is not an option for now. How did you test this in-place? Is there any way I can configure Bazel to forcefully introduce this patch to Jacoco?

[2022-07-08 16:04] futt-bucker commented on #15835
@fmeum if file does not exist under RUNFILES_DIR, and manifest file exist, should `runfiles->Rlocation` return path to `$(bazel info output_base)/external/bazel_tools/test/collect_coverage.sh` or resulting path is expected to be under RUNFILES_DIR?

[2022-07-08 16:45] jgavris commented on #12889
In general, being on or close to the LLVM release cycle would be ideal to be able to use all the latest features and tools. In addition, having native arm toolchain binaries for building on Apple Silicon to avoid the rosetta 2 performance overhead would increase build performance for those of us who build on it.

[2022-07-08 17:00] beasleyr-vmw commented on #12998
@JaimeLotero We build java_tools from source.

1. Determine which java_tools release corresponds to your Bazel version. It looks like Bazel 4.2.2 uses [java_tools 10.6](https://github.com/bazelbuild/java_tools/releases/tag/javac11_v10.6). (See [jdk.WORKSPACE](https://github.com/bazelbuild/bazel/blob/15371720ae0c40ffc97b74c871d1b38851ef6410/src/main/java/com/google/devtools/build/lib/bazel/rules/ja

[2022-07-08 17:30] Reflejo commented on #12889
Additionally, new NDKs use `lld` by default and newer ndks also support optimizations like relocation packs to reduce size. From Envoy Mobile we'd really appreciate to be able to bump the NDK

[2022-07-08 18:12] radvani13 commented on #12889
all - thank you for the inputs. Will post when i have more information on this

[2022-07-08 19:32] ahumesky commented on #15742
Thanks for confirming, I have a change out that should be submitted early next week.

[2022-07-08 21:27] fmeum commented on #15835
The former, it should return the oath relative to the exec root, which is what's contained in the runfiles manifest.

[2022-07-09 03:27] xiedeacc opened #15847 "select need be able to recognise exec_compatible_with and target_compatible_with"
### Description of the feature request:

my project import rules_proto and grpc, when I cross compile for arm, rules_proto will choose a wrong platform protoc, host platform protoc expected but arm platform protoc choosed, but I think it's not rules_proto's bug, for:

my platforms value pass to bazel was
[code]
toolchain defined by myself:
[code]
rules_proto use select to decide use which platform

[2022-07-09 03:32] xiedeacc commented on #15847
https://github.com/bazelbuild/rules_proto/issues/126

[2022-07-09 09:42] NightShadeI opened #15848 "Support archive libraries (.a) in cc_import interface_library argument"
### Description of the feature request:

Currently when trying to include a .dll file in a windows environment, we need to specify an interface library for that dll which we do the the cc_import rule.

The supported types for this are .ifso, .tbd, .lib, .so or .dylib

We should support archive libraries (.a). These are used for linking to a DLL by GCC (I believe)

### What underlying problem are y

[2022-07-09 10:18] damingerdai commented on #14592
but i also meet this issue with bazel 5.0
https://github.com/damingerdai/jobs/runs/7263067500?check_suite_focus=true

[2022-07-09 22:29] jiawen commented on #12889
Sorry to chime in late here - I've been on vacation.

Disclaimer: I'm a Xoogler and used Blaze heavily with the Android NDK.

The others on the thread gave excellent technical reasons for better NDK support: newer toolchains that fix important bugs and smoothes over sharp edges on new platforms like Apple Silicon.

For my current day job, I've been slowly encouraging my team to embrace a monorepo

[2022-07-10 00:52] konste commented on #15770
@oquenchil I think it is at least P2, rather than P3 and let me try to explain why by showing the consequences of this bug.
In my repro example the rule which generates C++ sources produces the same output for any target platform or flavor, so it uses inbound transition "any" to be run only once. In contrary cc_library rule which does the compilation produces object files which are different for d

[2022-07-10 01:01] konste commented on #14023
Legacy transition behavior looks like a bug to me. It doesn't make sense.

@sdtwigg I am so glad you put the effort to figure it out and rework it to make it much more sensible.

My team moved our huge project from Bazel 5.2 to pre-release of Bazel 6 solely because of this major improvement.

BTW don't know if it is intended or not, but diff_against_baseline mode seems to be the default in the cur

[2022-07-10 11:00] ittaiz commented on #7595
This isn't progressing anywhere, right?
Taking a look at the local feedback loop when working on bazel and I have a hunch these costs are significant

[2022-07-10 16:14] yuzhixing opened #15849 "Documentation issue: Installing Bazel on Windows"
Documentation URL: https://docs.bazel.build/versions/main/install-windows.html

does it support vs2022？
cl.ext report 'Wno-unused-parameter' error.

[2022-07-10 23:43] WilliamVenner commented on #15094
Same issue on 5.1.1

[2022-07-11 02:28] UebelAndre opened #15850 "Expand template outputs being reported as `source file`"
### Description of the bug:

I'm not 100% confident this issue is specific to [ctx.actions.expand_template](https://docs.bazel.build/versions/main/skylark/lib/actions.html#expand_template) but in certain circumstances, files generated in rules are incorrectly reported as "source file" in queries. They should instead be reported as "generated file" if the file is the output of an action.

### What'

[2022-07-11 05:11] ittaiz commented on #10091
What's the status of this?
The design doc was merged a year ago. Did Ulf's patch make it in somehow?

[2022-07-11 06:35] yuzhixing commented on #15849
bazel running
![image](https://user-images.githubusercontent.com/5988034/178202266-6635ed00-b521-4c28-a79d-f9962b71535e.png)

system environment variable
![image](https://user-images.githubusercontent.com/5988034/178202742-9a5db4cc-650b-4173-8e70-f6678acd4c2b.png)

bazel version
bazel-6.0.0-pre.20220608.2-windows-x86_64.exe

os info：
设备名称	LAPTOP-TMHMK7AP
处理器	Intel(R) Core(TM) i7-10510U CPU @ 1.80G

[2022-07-11 07:03] hlopko commented on #15625
+1 @Wyverald

I think the criteria are a bit outdated (I think "No change in Bazel may break a recommended rule (with the default set of flags). If it happens, the change should be fixed or rolled back." is not followed anymore), so I don't know what the purpose of recommended rules is besides the increased visibility for Bazel newcomers.

In any case I think `rules_rust` do meet the criteria and

[2022-07-11 07:08] meisterT commented on #10091
Not yet, but we started looking into this again just last week. We have to play around with the patch to see if it needs any change.

cc @sadaf-matinkhoo @larsrc-google

[2022-07-11 07:46] ysfaran opened #15851 "Outdated JDK version (< 1.0.4): NullPointerException in FlowAnalyzer.visitApply"
### Description of the bug:

There is a [known issue using OpenJDK with version `11.0.2`](https://stackoverflow.com/a/54776592/6489012) that should've been fixed in version `11.0.4` when using `ParameterizedTypeReference<>`. Although this issue is long fixed and running `bazel info` on `5.2.0` displays following lines (JDK version > 1.0.4):

[code]

`bazel build` returns the same error as in the S

[2022-07-11 08:30] henrypoon commented on #7319
@theindexer any alternatives you found after? I am having a similar here and don't want to fail the test when there are no tests found.

[2022-07-11 10:17] Wyverald commented on #15625
@philomathing Could we make a decision on where to host this "recommended rules" thing before 6.0? Would be nice to somewhat officially say "people, please go and look at the rules-SIG recommended list from now on".

[2022-07-11 10:50] fmeum commented on #15829
@bazel-io flag

[2022-07-11 12:55] ysfaran commented on #15851
I also tried to setup my own toolchain (see branch `toolchain`), by adding following to the root `BUILD`:

[code]
and this to `WORKSPACE`:

[code]

Still ending up in this error:

[code]

Not sure what I can do else anymore.

[2022-07-11 13:43] fweikert opened #15853 "Status of Bazel 6.0.0-pre.20220630.1"
- Expected release date: 2022-07-11

Task list:

- [x] Pick release baseline: [fbf92779](https://github.com/bazelbuild/bazel/commit/fbf9277975ceb7be5255fd5cf449e22706d25d3f)
- [x] Create release candidate: https://releases.bazel.build/6.0.0/rolling/6.0.0-pre.20220630.1rc1/index.html
- [x] Post-submit: https://buildkite.com/bazel/bazel-bazel/builds?branch=release-6.0.0-pre.20220630.1rc1
- [x] Push

[2022-07-11 14:35] cyyber opened #15855 "[GO] bazel build fails but go build works fine"
### Description of the bug:

[code]
The above command gives following error

[code]

However, the project builds itself without any issue if I use go build. The following works perfectly fine.

[code]

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[code]

### Which operating system are you running Bazel on?

Ubuntu 21.10

### What is the

[2022-07-11 14:59] Wyverald commented on #15855
The error message says "no such package '@com_github_libp2p_go_libp2p_core//github.com/libp2p/go-libp2p-core/crypto/pb'"; so you should check /home/cyyber/.cache/bazel/_bazel_cyyber/3a49417b1dd1f87823292d1011bf771b/external/com_github_libp2p_go_libp2p_core/**github.com/libp2p/go-libp2p-core**/crypto/pb/ for a BUILD file.

Anyway, this is most likely an issue with a wrong configuration of Gazelle,

[2022-07-11 14:59] #15855 closed

[2022-07-11 15:16] tjgq opened #15856 "Implement the credential helpers proposal"
### Description of the feature request:

Tracking issue for implementing https://github.com/bazelbuild/proposals/blob/main/designs/2022-06-07-bazel-credential-helpers.md.

### What underlying problem are you trying to solve with this feature?

N/A

### Which operating system are you running Bazel on?

N/A

### What is the output of `bazel info release`?

N/A

### If `bazel info release` returns `d

[2022-07-11 15:21] cyyber commented on #15855
Already checked the above and mentioned the same under the question "Any other information, logs, or outputs that you want to share?"

[2022-07-11 15:40] Wyverald commented on #15856
@bazel-io flag

[2022-07-11 15:53] #15853 closed

[2022-07-11 16:26] bazel-io opened #15857 "[5.3.0] Add factory for creating paths relative to well-known roots"
Forked from #15805

[2022-07-11 16:28] ckolli5 commented on #15829
@bazel-io fork 5.3.0

[2022-07-11 16:28] bazel-io opened #15858 "[5.3.0] Replace `module.{execution_platforms,toolchains}_to_register` with `register_{execution_platforms,toolchains}`"
Forked from #15829

[2022-07-11 16:29] ckolli5 commented on #15856
@bazel-io fork 5.3.0

[2022-07-11 16:29] bazel-io opened #15859 "[5.3.0] Implement the credential helpers proposal"
Forked from #15856

[2022-07-11 23:57] EdbertChan commented on #15668
@radvani13 any news?

[2022-07-12 09:59] meteorcloudy opened #15862 "Don't allow ~ in repo_name"
### Description of the feature request:

Implement the TODO at
https://github.com/bazelbuild/bazel/blob/caddaf1898c5e2c0a2d737cbd5eadbb9bbdffc23/src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileGlobals.java#L256-L258

Especially, we should not allow `~` to appear in repo name since it'll be used as the separator between module name, module version, extension name, and repo name.

[2022-07-12 12:20] meteorcloudy commented on #15847
@sgowroji This issue belongs to the configurability team

[2022-07-12 12:21] meteorcloudy commented on #15507
@aiuto Are you actively working on this, should this be P1?

[2022-07-12 14:52] aiuto commented on #15201
This is not a P1 unless other people really need a 5.x backport. I'll change it.
For everyone else, we can wait for the fix in rules_pkg  0.8.x and then update bazel.
That should be easy in the 6.x release timeframe.

[2022-07-12 15:44] #15728 closed

[2022-07-12 15:45] aiuto commented on #15507
I am actively working on this. It is absolutely a P1.

[2022-07-12 19:06] shirchen commented on #14522
I guess then maybe this bug can be reframed as better UX for client instead of a crash?

[2022-07-12 19:56] tndhagedorn commented on #12889
Hi @radvani13, thanks for the reply.

NDK r21 is the last NDK supported by Bazel.  This means we are forced to use versions of clang, libc++, etc. from that NDK, which are almost three years old by now.

There are still parts of C++17 I cannot use (in 2022), simply because I can not build my code using a newer NDK.

I would hope the Bazel team wants to fix this given that r23c is the last supporte

[2022-07-12 20:53] pauldraper opened #15864 "JSON worker protocol doesn't match docs"
### Description of the bug:

https://docs.bazel.build/versions/5.2.0/creating-workers.html

The docs have the JSON worker protocol as

[code]

But in reality, the protocol uses camel case, not snake case fields https://github.com/bazelbuild/bazel/blob/22f63d3981bfcbf20367252385aff24ff288199b/src/main/java/com/google/devtools/build/lib/worker/JsonWorkerProtocol.java

Most significantly, it should b

[2022-07-13 06:37] ananta-code commented on #12009
i am using  -Wconditional-uninitialized flag and then i am getting some errrors from the library.

external/com_google_protobuf/src/google/protobuf/arena.cc:398:12: error: variable 'arena' may be uninitialized when used here [-Werror,-Wconditional-uninitialized]
    return arena->AllocateAlignedWithCleanup(n, alloc_policy_.get());
           ^~~~~
external/com_google_protobuf/src/google/protobuf/a

[2022-07-13 06:38] ananta-code opened #15865 "i am using -Wconditional-uninitialized flag and then i am getting some errrors from the library."
i am using  -Wconditional-uninitialized flag and then i am getting some errrors from the library.

external/com_google_protobuf/src/google/protobuf/arena.cc:398:12: error: variable 'arena' may be uninitialized when used here [-Werror,-Wconditional-uninitialized]
    return arena->AllocateAlignedWithCleanup(n, alloc_policy_.get());
           ^~~~~
external/com_google_protobuf/src/google/protobuf/a

[2022-07-13 06:55] wisechengyi commented on #15685
Hello :wave: general question on release cadence - https://github.com/bazelbuild/bazel/issues/15682 is a bug in 5.2.0. Should it be picked into a 5.2.x patch release, or is 5.3.0 is the patch release? Just wanted to make sure whichever release it lands only contains the bug fixes, and no new development.

[2022-07-13 06:59] ananta-code commented on #12009
i am using -Wconditional-uninitialized flag and then i am getting some errrors from the library.

external/com_google_protobuf/src/google/protobuf/arena.cc:398:12: error: variable 'arena' may be uninitialized when used here [-Werror,-Wconditional-uninitialized]
return arena->AllocateAlignedWithCleanup(n, alloc_policy_.get());
^~~~~
external/com_google_protobuf/src/google/protobuf/arena.cc:395:21:

[2022-07-13 11:21] ananta-code commented on #15865
@sgowroji I have a bazel build and i am using clang compiler aruguments to build c++ app.
the bazel rc content is like this:

build --stamp
build --workspace_status_command bazel/get_workspace_status
build --features=external_include_paths
build --repo_env=BAZEL_CXXOPTS="-std=c++17:-Werror:-Wextra:-Wnon-virtual-dtor:-Woverloaded-virtual:-Wno-sign-compare:-Wunreachable-code:-Wno-unused-parameter:-W

[2022-07-13 12:46] #15667 closed

[2022-07-13 12:59] sventiffe commented on #15625
Is this depending on a 6.0 release? You could setup the external page and link to it from https://bazel.build/rules#recommended-rules later.

Can the external page be mirrored so that we can change the link in case the page goes down for any reason?

[2022-07-13 13:11] ananta-code commented on #15685
Hello - there is a ticket https://github.com/bazelbuild/bazel/issues/15762 .Are you also planning to pick it for the next patch release