[2016-05-24 15:38] ulfjack commented on #835
I think we should add a short-term workaround, e.g., read an environment variable BAZEL_MULTITHREADED_DIGEST, and use that to either disable the lock or turn it into a semaphore. This isn't a good long-term fix, but at least it would reduce the pain a bit.

[2016-05-24 15:51] philwo commented on #835
I'll send a CL tomorrow that implements a workaround for this.

[2016-05-24 16:10] johnynek commented on #970
That sounds great.

On Tuesday, May 24, 2016, Ulf Adams <notifications@github.com> wrote:

--
P. Oscar Boykin, Ph.D. | http://twitter.com/posco | http://pobox.com/~boykin

[2016-05-24 16:40] dfabulich commented on #1305
This is not the behavior I would expect; I argue that it's incorrect. When adding a dependency to `data`, all of its `.files` should be provided to the `sh_binary`.

1) "runfiles" is intended for rules with executable outputs who themselves require runfiles to execute. When generating a pure data file, it makes no sense to declare the data file twice, once as output, and then again as its own runf

[2016-05-24 16:46] c-parsons commented on #1279
One reason this doesn't work appropriately is that it doesn't support target various common platform types (such as as ios). We should consider either extending cc_configure or providing some sort of common crosstool

[2016-05-24 16:56] ahumesky commented on #1305
You could alternatively depend on the output file itself, which should also
work:

sh_binary(
name='sh-binary-dependent',
srcs=['sh-binary-dependent.sh'],
data=['//skylark-built:skylark-built.txt'],
)

On Tue, May 24, 2016 at 12:40 PM dfabulich <notifications@github.com> wrote:

[2016-05-24 17:51] bsilver8192 commented on #835
@AustinSchuh was talking about the IO setting of --local_resources. Seems like using that instead of an environment variable might be a bit nicer to use.

[2016-05-24 18:29] Independent-Scientist commented on #935
The thread might be closed already but for those struggling with the problem, if you $ "strace bazel", you will see from where the program is actually fetching the java binary, like: "access("/usr/lib64/jvm/java/bin/java", X_OK) = 0" in my case. After that it was easy to correct the problem on my system.
Thanks

[2016-05-24 18:54] jinhoonbang commented on #1275
@damienmg This is the output I get after adding set -x and running compile.sh

+ set -o errexit
++ dirname ./compile.sh
+ cd .
+ : no
+ source scripts/bootstrap/buildenv.sh
++ set -o errexit
++++ dirname scripts/bootstrap/buildenv.sh
+++ cd scripts/bootstrap
+++ pwd
++ DIR=/home/dkl524/jbang/bazel/scripts/bootstrap
++++ dirname /home/dkl524/jbang/bazel/scripts/bootstrap
+++ dirname /home/dkl524/jb

[2016-05-24 20:51] AlexTalks commented on #1279
@c-parsons agreed, I'm not sure what default configurations would make sense but the generated CROSSTOOL in `bazel-bazel/tools/cpp/` (along with the associated BUILD file) provided a good starting point.

[2016-05-24 20:57] JaidenChiang opened #1308 "bazel compilejava.lang.OutOfMemoryErro"
Hello everybody,i have a problem need your help,I'm very appreciate that you can help me to fix it.
Details:
......
The system is out of resources.
Consult the following stack trace for details.
java.lang.OutOfMemoryError: Java heap space
        at com.sun.tools.javac.util.ArrayUtils.ensureCapacity(ArrayUtils.java:60)
        at com.sun.tools.javac.util.SharedNameTable.fromUtf(SharedNameTable.jav

[2016-05-24 21:22] JaidenChiang commented on #1308
I find the way to fix this problem:
    vim scripts/bootstrap/compile.sh
find the  "_run "${JAVAC}" -classpath "${classpath}" -sourcepath "${sourcepath}"_" and add
 -J-Xms256m -J-Xmx384m
as
" _run "${JAVAC}" -J-Xms256m -J-Xmx384m -classpath "${classpath}" -sourcepath "${sourcepath}"_"
and it works well.

[2016-05-25 01:22] #1308 closed

[2016-05-25 02:52] JaidenChiang opened #1309 "//:third_party/objective_c/Cronet/cronet_c_for_grpc.h' crosses boundary of subpackage"
When I use the bazel to compile the grpc,it shows the follow errors:

_#/home/jaiden/Workstation/bazel/output/bazel build //:grpc --ignore_unsupported_sandboxing.
ERROR: /home/jaiden/Workstation/grpc/BUILD:1517:10: Label '//:third_party/objective_c/Cronet/cronet_c_for_grpc.h' crosses boundary of subpackage 'third_party/objective_c' (perhaps you meant to put the colon here: '//third_party/objective

[2016-05-25 04:13] ElfinFairy commented on #1301
i have installed zlib before run，
locate zlib at path:
/home/admin/bazel/bazel_source/bazel-0.2.2b/third_party/zlib
/usr/local/zlib

[2016-05-25 07:52] ulfjack commented on #835
Yes, a flag would be nicer, but unfortunately the lock is very deep in the
bowels of Bazel in a way that makes it hard to pass a flag there. Otherwise
we could try to auto-detect whether it's an ssd or not.

On Tue, May 24, 2016 at 8:14 PM, bsilver8192 <notifications@github.com>
wrote:

[2016-05-25 08:43] hermione521 commented on #1309
Hi, it looks more like a grpc problem?

[2016-05-25 10:55] guymers commented on #1113
The Open Container Initiative has begun creating an image specification (https://github.com/opencontainers/image-spec) which is starting from the Docker 1.10 format. The new format seems to add more separation between layers and images with the image configuration file able to reference multiple layer tarballs.

Taking the above into account, when updating to the new format should a new rule calle

[2016-05-25 11:17] damienmg commented on #1113
I think sticking with docker_build seems reasonable. Maybe we should just introduce a format attribute to it.

[2016-05-25 12:59] philwo commented on #374
I totally agree that this is important, should be done, I want this myself, however I don't have the time to work on it in the coming months, thus I have to unassign it.

[2016-05-25 15:15] kchodorow opened #1310 "Update roadmap"
Gotten a couple of user requests about this.

[2016-05-25 15:22] kayasoze commented on #1162
Personally, I'd consider this a P1 or higher, as it turns Bazel's tagline into: "~~Correct~~, ~~reproducible~~, fast builds for everyone.", (or, alternatively, ~~fast~~, as incremental builds cannot be used) and this unsafety isn't documented.  However, I don't know how prevalent `includes` usage is.  In our builds, it's used extensively, not only for third-party builds, but to prevent extremely l

[2016-05-25 17:20] schroederc opened #1311 "Standard cross-platform shell tools"
It's currently difficult to create cross-platform Skylark rules (or `sh_test`s).  Even creating symlinks between different Unix systems can be error-prone due to having different supported flags in `ln`.

Perhaps Bazel can help by providing a more standardized set of tools in each spawn action's environment.

[2016-05-25 21:23] ulfjack commented on #1162
Excessive use of includes can significantly increase compile times. I tested both gcc and clang, and they both require quadratic time in the number of includes in a single compile invocation, though the constant factor is fairly low (that part of the compiler is highly optimized).

That doesn't solve this problem, of course.

[2016-05-25 22:20] katzdm opened #1312 "Bazel fails recognizing current workspace name when building remote repositories"
If a workspace "SomeLib" includes a git_repository-rule, referencing an external repository which itself remotely references "@SomeLib//"-targets, Bazel will fail to find "SomeLib" during building of build-targets in the external repository, giving a "no such package" error. Bazel should recognize that the "SomeLib"-repository referenced in the external repository is the same as the current worksp

[2016-05-25 22:34] kamalmarhubi opened #1313 "Make sandboxing unsupported message more helpful"
The message printed right now (bazel 0.2.3) points the user to the docs, but could potentially suggest distro-specific fixes. Eg, suggesting `sudo sysctl kernel.unprivileged_userns_clone=1` on systems with `/proc/sys/kernel/unprivileged_userns_clone`, or adding `user_namespace.enable=1` to kernel boot params on RHEL 7 / Centos 7.

See also mailing list discussion: https://groups.google.com/d/topic

[2016-05-26 04:58] davidzchen commented on #1209
This turned out to be a problem in the protobuf Bazel build setup. google/protobuf#1586 has been merged to fix this problem. Once tensorflow/tensorflow#1289 is merged to bump TensorFlow's dependency to the protobuf version that contains the fix, this problem will be fixed on the TensorFlow side as well.

[2016-05-26 04:58] #1209 closed

[2016-05-26 05:34] yasushi-saito commented on #1215
Is the clang modules support already present in blaze, or is it just planned? I see some support for Objective C in the source code, but not for C or C++

[2016-05-26 15:23] kchodorow commented on #1312
Duplicate of #1248.

[2016-05-26 15:31] #1312 closed

[2016-05-26 17:09] kchodorow opened #1314 "NPE if a Skylark repository rule is built via //external:target"
Repro:

WORKSPACE file:

[code]

crash.bzl:

[code]

Run `bazel build //external:reg` and it crashes with:

[code]

[2016-05-27 00:19] AustinSchuh commented on #852
I was having a bunch of trouble with EXT4 (bazel builds were causing the machine to be unusable), so I switched back to XFS.  Performance is now on par with EXT4, so yay, and my machine is much more responsive at the same time.  Thanks Brian and Phil!  I'll keep monitoring things, but XFS seems to be up to par with EXT4.

[2016-05-27 02:25] llchan opened #1315 "Incorrect Traceback-like Message in GitCloner.java"
The changes in 717edaf5d399d2ffaf7b960ff3faa0606020b307 are a step in the right direction to provide a traceback-like message to git clone problems.  However, the message that gets appended at each level is always the original message, so you get stuff like this (newlines added for clarity):
[code]

In the exception hander [here](https://github.com/bazelbuild/bazel/blob/2fba42e27ec517a8819236d15e4

[2016-05-27 08:38] hermione521 commented on #1313
Thanks for your suggestion. I think I can do it, but may not be very soon.

[2016-05-27 08:46] #1281 closed

[2016-05-27 08:46] #1298 closed

[2016-05-27 09:05] hermione521 commented on #1315
Not familiar with this :(
Maybe @kchodorow can help?

[2016-05-27 09:06] damienmg commented on #1275
It's failing when calling javac -version

What does `which javac` gives you? What does `javac -version` gives you and `/home/dkl524/jbang/jdk1.8.0_91/bin/javac -version`?

[2016-05-27 09:08] damienmg commented on #1279
If you encounter problem when trying to build OS X app, can you expand on that bug on the exact problems. We should be able to extends the C++ configuration to just work.

[2016-05-27 09:10] damienmg commented on #1310
we will update it when announcing release 0.3 next week :)

[2016-05-27 09:14] hermione521 commented on #1304
I took a look at the code and I guess the problem is that we print everything (excluding the segmentation fault) and exit but do nothing about this [numericExitCode](https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/runtime/BlazeCommandDispatcher.java#L481).
Not sure how to fix it, but will do it in the future.

[2016-05-27 09:26] damienmg commented on #1315
Also @davidzchen

[2016-05-27 11:50] hermione521 opened #1316 "Breakages on Windows and Android tests"
commit:
https://github.com/bazelbuild/bazel/commit/bd69849378112c3b05bc218e57cdafca82860710

breakages:
http://ci.bazel.io/job/bazel-tests/22/
http://ci.bazel.io/view/Bazel%20bootstrap%20and%20maintenance/job/Bazel/567/

[2016-05-27 15:01] llchan commented on #1315
Added a [link](https://github.com/bazelbuild/bazel/blob/2fba42e27ec517a8819236d15e45a42bfd5c1823/src/main/java/com/google/devtools/build/lib/bazel/repository/GitCloner.java#L177-L187) to the relevant code in the original post.

It should be fairly self-explanatory what it's trying to do, loop through the exception stack and concatenate the messages.  It's just concatenating the original message N

[2016-05-27 17:07] damienmg commented on #1235
This is a duplicate of #1172

[2016-05-27 17:07] #1235 closed

[2016-05-27 18:20] menny commented on #1316
This is also broken on Mac OSX

[2016-05-28 01:39] davidzchen commented on #1315
@llchan Thanks, you're right about the fix. It should be `throwable.getMessage()` in this case.

I have sent a fix internally for review.

[2016-05-28 02:09] lf94 opened #1317 "This rule is missing dependency declarations for the following files"
Hello,

I'm trying to compile TensorFlow on FreeBSD. So far things have been going OK. Someone has made a  Bazel 0.2.2b port that works, but I am getting errors that have been discussed before on this issue tracker.

Apologies if this has already been fixed, but I have tried everything out there besides latest Bazel. There are no search results that indicate this is a solved problem.

Things I hav

[2016-05-28 06:27] yurivict opened #1318 "Fails to build on i386 (FreeBSD 10.3): portable_sysctlbyname signature mismatch"
[code]

[2016-05-28 07:21] zonr commented on #492
I have the same problem when I added `linker_flag: "-Wl,--no-undefined"` to my CROSSTOOL and then trying to build a `cc_library` alone. I'm quite surprised that `cc_library` doesn't link its `deps`. Removing that flag can workaround this issue (like we did in #67 (efd5d31) before).

IMHO, linking with the dependent libraries (specified in `deps`) for `cc_library` target would be a desired behavior

[2016-05-28 12:46] rokstrnisa opened #1319 "Protobuf fails to compile on x64_windows_msvc"
Environment: Bazel 0.2.3, Windows 10, Visual Studio Community 2015 (14.0.25123.00) Update 2.

After disabling the warnings flags in `COPTS` and adding `nocopts="/WX"` to `//:protobuf_lite`, I tried to build the target:

    Rok@Void MINGW64 /c/protobuf-3.0.0-beta-3
    $ /home/Rok/bazel/output/bazel.exe build --cpu='x64_windows_msvc' //:protobuf_lite -s
    ...

    cd C:/tools/msys64/var/tmp/Baze

[2016-05-29 02:14] bsilver8192 commented on #1317
`tools/cpp/CROSSTOOL` isn't actually getting sued; the one generated from `tools/cpp/CROSSTOOL.tpl` by `tools/cpp/cc_configure.bzl` is being used instead. Try adding your paths there.

@damienmg might be able to help on actually solving the problem.

[2016-05-29 02:26] bsilver8192 commented on #1305
@laurentlb: I'm pretty sure `outputs` doesn't make its way into the files provider (ie `FilesToRunProvider`). Reading the code, it looks like those are considered implicit outputs, which the documentation doesn't make clear at all.

@dfabulich: You want something like this at the end of your Skylark implementation function:
[code]
That will actually set the files provider, which is how a rule gets

[2016-05-29 22:20] traviskaufman opened #1320 "pre-build shell completion scripts for easier use"
It's kind of suboptimal that in order to get completion users have to download a 50+M git repo and then build completion scripts from source just to be able to use them. It would be cool to just be able to download the pre-build bash/zsh scripts from the docs site

[2016-05-30 11:28] damienmg commented on #1316
@dslomov is fixing the windows breakage, coming from a known issue with runfiles tree on Windows. Reinstalling the slave will get pass it. So android is the remaining issue.

[2016-05-30 11:29] damienmg commented on #1320
It's shipped as part of the installers (both on deb files and on shell script). Also installed as part of the homebrew recipe. Each script is linked to a release. I don't see what else to do.

[2016-05-30 11:32] damienmg commented on #1174
The actual solution is a bit longer. Won't be done by 0.3

[2016-05-30 11:33] damienmg commented on #47
We did the effort needed for 0.3, serving over SSL is now under way (we needs some approvals for SSL certificates from Google and then it should be there).

It can take another 2-3 weeks to get completed. Won't be ready for 0.3

[2016-05-30 11:34] damienmg commented on #1074
GCD has a big blocker: fd usage, we cannot depends on it. Using the FSEvents prototype instead.

[2016-05-30 11:36] damienmg commented on #512
This script is not maintained and going to be deleted. Closing for now.

[2016-05-30 11:36] #512 closed

[2016-05-30 11:58] hanwen opened #1321 "--test_summary=broken"
I see that Bazel now creates XML test logs, but the test_summary flag seems broken:

$ git show HEAD
commit 4ab4f05a8cbbaa4b7d938d1d305961fe95a5416c
Author: Googler <noreply@google.com>
Date:   Fri May 27 23:47:15 2016 +0000

    Roll forward commit 8375185ee11d573562f98de14bed79a77fcfd728.
    Consider /src/ in the path when locating the java root directory.

    --
    MOS_MIGRATED_REVID=1234698

[2016-05-30 13:56] hanwen commented on #1321
looks like the XML is parsed correctly. So why isn't it displaying?

$ strings bazel-testlogs/src/test/java/com/google/devtools/common/options/options_test/test.cache_status |tail
.com.google.devtools.common.options.OptionsTest
boolean0
.com.google.devtools.common.options.OptionsTest
boolean1

[2016-05-30 15:26] dslomov commented on #1321
@damienmg could you take a look?

[2016-05-30 15:33] dslomov commented on #1319
Windows support is very experimental at this point... /cc @meteorcloudy

[2016-05-30 15:36] dslomov commented on #1318
@aehlig could you help triage this?

[2016-05-30 15:37] damienmg commented on #1321
The JUnit Runner is outputting ant XML output format. We should support that format on all our runner instead of the internal XML format.

The TestStrategy is expected the other XML format, therefore not parsing it correctly.

[2016-05-30 15:42] hanwen commented on #1321
the XML is not the problem. It's parsed fine,

gqui from bazel-testlogs/src/test/java/com/google/devtools/common/options/options_test/test.cache_status  proto blaze.TestResultData

yields:

{       # (blaze.TestResultData) size=12.7K
  cachable   : true
  test_passed: true
  status     : PASSED   # integer=1 (enum blaze.BlazeTestStatus)
  test_times : [ 1871 ]
  passed_log : "/usr/local/google/hom

[2016-05-30 15:45] dslomov commented on #1305
Setting 'files' provider should work. Closing this unless anyone sees any more work to do.

[2016-05-30 15:45] #1305 closed

[2016-05-30 15:49] dslomov commented on #1301
It is tensorflow configuration scrip that fails here. Could you file this at https://github.com/tensorflow/tensorflow?

[2016-05-30 15:49] #1301 closed

[2016-05-30 17:29] traviskaufman commented on #1320
Hmm the only place I could find in the docs that talk about bash completion are in the docs: http://www.bazel.io/docs/install.html

I'm not sure if that only pertains to the JDK7 installation but it wasn't totally clear from reading through the docs that bash completion was part of the installers. Perhaps a docs update to add in that info would be helpful?

[2016-05-30 19:27] chemelnucfin opened #1322 "error building bazel and tensorflow with ccache"
Current System: Fedora 23

I had tensorflow building a couple of weeks ago, but once I upgraded to the latest commits, I get these errors (more info after logs):

**Bazel**
**./compile.sh**
ERROR: /projects/bazel/src/main/tools/BUILD:26:1: Linking of rule '//src/main/tools:build-runfiles' failed: gcc failed: error executing command
  (cd /tmp/bazel.RygeKR2a/out/bazel && \
  exec env - \
  /usr/lib

[2016-05-30 21:29] endobson opened #1323 "IllegalStateException when printing cycle of actions"
[code]

[2016-05-31 02:14] ekuefler commented on #906
I started draining the error stream to the terminal a couple months ago and haven't seen any problems since. So I do still suspect stderr is involved in some way, but I have no idea how to repro. I'll update if I find one.

[2016-05-31 07:28] meteorcloudy commented on #1319
Can you try to build bazel from HEAD?
This "missing dependency declarations" error should already be fixed at [352f7e7](https://github.com/bazelbuild/bazel/commit/352f7e7b5f3adae4128a6041bdfe1324c433ce28).

Since `C:/Program Files (x86)/Windows Kits/8.1/include` has already been filtered in [CROSSTOOL](https://github.com/bazelbuild/bazel/blob/master/tools/cpp/CROSSTOOL#L568) file, there should be

[2016-05-31 08:36] dslomov commented on #1316
Windows is fixed. @kchodorow. do you know what's up with android tests? (Tutorial is also broken)

[2016-05-31 10:55] damienmg commented on #1321
Oh yes you are right.

I can reproduce, but I have no idea what is going wrong. Did that ever worked on Bazel?

[2016-05-31 11:01] philwo commented on #957
FYI, as part of a project that will make sandboxing easier to use, we'll change the behavior of Bazel to not strip PATH from the environment by default. I'll update this bug when this is done.

[2016-05-31 11:49] hanwen commented on #1321
maybe PEBKAC.  I think it should only print the failing cases. Let me investigate.

[2016-05-31 13:02] FokkeDijkstra commented on #760
When using an newer GCC on CentOS 6.7 (e.g. GCC 4.9.3) a newer version of binutils is also required. The fix of adding` "-B/usr/bin" `to the list of gcc options does not work in that case.
I assume the right fix would be to add the correct path of the linker that is actually used.

It could be done by having something like:

` "-B" + str(repository_ctx.path(_which(repository_ctx,"ld","/usr/bin")).

[2016-05-31 13:04] kchodorow commented on #1318
https://github.com/bazelbuild/bazel/commit/0c19d6223d73f23558a279d91db49fe09e6f36b4

[2016-05-31 13:25] kchodorow commented on #1316
I think Android is hardcoding a runfiles path as x.runfiles/wsname/external/androidsdk, which bd69849 turned off (it's now x.runfiles/androidsdk).  Looking...

[2016-05-31 13:26] damienmg commented on #1316
Note that the location replacement does not work correctly either

On Tue, May 31, 2016, 3:25 PM Kristina <notifications@github.com> wrote:

[2016-05-31 13:35] kchodorow commented on #1316
What do you mean?

[2016-05-31 13:54] damienmg commented on #1321
Indeed, I tested it with the internal version and it outputs only the failed one. Closing as WAI

[2016-05-31 13:56] hanwen commented on #1321
not quite closed completely.  Looks like there's no test. I'll cook one up.

[2016-05-31 13:56] damienmg commented on #1316
See
http://ci.bazel.io/job/bazel-docker-tests/BAZEL_VERSION=HEAD,PLATFORM_NAME=docker/4/console

On Tue, May 31, 2016 at 3:35 PM Kristina <notifications@github.com> wrote:

[2016-05-31 14:15] kchodorow commented on #1259
Closing due to lack of response, feel free to comment if you need anything else.

[2016-05-31 14:15] #1259 closed

[2016-05-31 14:30] damienmg commented on #1217
Sorry it felt off my radar. I don't have ready to use example so I'll recategorize that as a documentation issue.

[2016-05-31 14:32] damienmg commented on #1317
Can you give me the output of `echo | gcc -E -xc++ - -v`?

Also what is the content of the `bazel-tensorflow/external/local_config_cc/CROSSTOOL` file?

[2016-05-31 14:39] lf94 commented on #1317
I wanted to mention that after some quick investigation, the port overwrites my changes to the CROSSTOOL file. I will try modifying tools/cpp/cc_configure.bzl and report back.

In the mean time, Clang 3.8 with Bazel works perfectly and I can compile TensorFlow (although there is still an issue I'm having but that's off-topic).

[code]

[code]

[2016-05-31 14:40] kchodorow commented on #1316
It actually does, but the tests are assuming that runfiles tree path == exec root path, which is no longer true.  You can't use $location to get the runfiles tree path.

[2016-05-31 14:54] damienmg commented on #1316
Which means that pattern is no longer valid:
https://github.com/bazelbuild/bazel/blob/master/tools/cpp/test/BUILD#L74 Which should be, shouldn't it?

Other skylark rules are failing because the path they are getting is an execroot dependent path.
How far are we from getting the deep_execroot turn on by default? Maybe we should stay in the intermediary state until we can get the deep execroot turne

[2016-05-31 14:58] damienmg commented on #1317
On FreeBSD it copies tools/cpp/CROSSTOOL.

Ok so here the instruction:
add to [tools/cpp/CROSSTOOL](https://github.com/bazelbuild/bazel/blob/master/tools/cpp/CROSSTOOL#L324):
[code]

Recompile Bazel and use that new binary in tensorflow (but do `bazel clean --expunge` in tensorflow first).

Assigning to @aehlig for further reference for his effort to make Bazel works on FreeBSD.

[2016-05-31 15:09] kchodorow commented on #1316
No, it shouldn't.  (Or at least I don't think it should be.)

deep execroot is on by default (and has been for several weeks), but that doesn't mean the exec root paths have been rearranged yet (that's the hard part).  That change will hopefully go out for code review this week.

[2016-05-31 15:15] damienmg commented on #1316
On Tue, May 31, 2016 at 5:09 PM Kristina <notifications@github.com> wrote:

Then what should be used in that example? We can certainly hard code the
path to it but is that correct?

Oh nice :) then the $(location ) pattern will be correct for both runfiles
tree and execroot :)

Anyway, the problem arise in skylark rules (this is why there is so many
test failures there). We need to have an interme

[2016-05-31 15:18] kchodorow commented on #1316
Based on the last doc on Windows runfiles I saw, I think that runfiles should probably eventually be referred to via some API, but in the meantime hardcoding it seems reasonable.

People can run with --legacy_external_runfiles if they need that path while rules are updated (which is in the release notes).

[2016-05-31 18:08] #1204 closed

[2016-05-31 18:08] #1315 closed

[2016-05-31 18:08] #1316 closed

[2016-05-31 19:13] kchodorow opened #1326 "//src/test/shell/bazel:bazel_apple_test fails"
See http://ci.bazel.io/job/bazel-tests/BAZEL_VERSION=HEAD,PLATFORM_NAME=darwin-x86_64/25/console.

[2016-05-31 22:37] rokstrnisa commented on #1319
Cannot get Bazel to build from HEAD (9aafb15589fc0267f4705effa10c251c64cf398b) in a clean repository.

Sometimes it hangs like this:

    Rok@Void MINGW64 ~/bazel
    $ ./compile.sh
    INFO: You can skip this first step by providing a path to the bazel binary as second argument:
    INFO:    ./compile.sh compile /path/to/bazel
    Building Bazel from scratch...
    1 [main] bash 8988 C:\tools\msy

[2016-06-01 08:08] meteorcloudy commented on #1319
Can you try to build Bazel using MSYS instead of MINGW64?
Never seen this error before, I guess it could be the reason.
http://www.bazel.io/docs/windows.html

[2016-06-01 13:19] jameslarus opened #1328 "C:/tools/msys64 is not properly expanded [Bazel 0.2.3 on Windows]"
In /tools/cpp/CROSSTOOL for local_windows_msys64, the directory path

   cxx_builtin_include_directory: "C:/tools/msys64/"

is not properly expanded and causes numerous errors of the form:

this rule is missing dependency declarations for the following files included by 'src/main/tools/process-tools.c':
  '/c/tools/msys64/usr/lib/gcc/x86_64-pc-msys/5.3.0/include/stddef.h'
  '/c/tools/msys64/usr/li

[2016-06-01 14:31] philwo commented on #835
I found a way to do this relatively cleanly via a flag and will send my change for code-review to Ulf.

[2016-06-01 15:41] hanwen commented on #1321
looks like the content of the XML is a bit fubar still (is this the JUnit thing you were alluding to earlier?)

The XML doesn't mention testFail, so something is broken. Are the examples properly wired up with the new-fangled JUnit runner?

$ bazel test --test_summary=detailed examples/java-native/src/test/java/com/example/myproject:fail
..
/examples/java-native/src/test/java/com/example/myproject

[2016-06-01 19:01] pmbethe09 commented on #1233
Happened again -- but this time opened as:
https://github.com/bazelbuild/rules_appengine/issues/15

[2016-06-01 22:54] rokstrnisa commented on #1319
I used MINGW in msys2, because I originally hit [this issue](https://www.bountysource.com/issues/29333469-failed-to-fork-child-process-no-such-file-or-directory). Reinstalling msys2 seems to have fixed the problem.

I can confirm that protobuf compiles fine using `x64_windows_msvc` within MSYS using Bazel 9aafb15. Thanks!

[2016-06-01 22:54] #1319 closed

[2016-06-02 07:43] meteorcloudy commented on #1319
\o/

[2016-06-02 08:02] damienmg commented on #1321
[code]

On my machine the XML is correct. Which version of Bazel are you using?

[2016-06-02 08:52] dslomov opened #1329 "bazel_apple_test is broken"
http://ci.bazel.io/job/bazel-tests/BAZEL_VERSION=HEAD,PLATFORM_NAME=darwin-x86_64/29/console

[2016-06-02 09:19] damienmg commented on #1252
That's fixed.

[2016-06-02 09:19] #1252 closed

[2016-06-02 09:31] hanwen commented on #1321
the XML is syntactically correct, but inside google, you the testcase would be called

  com.example.myproject.Fail

and there would be an entry for the failing test method (testFail in this case)

[2016-06-02 09:36] damienmg commented on #1321
right that should be like you said. let me look at the code.

[2016-06-02 09:53] damienmg commented on #1321
The issue is that the test is wrong:

[code]

[2016-06-02 11:30] abergmeier commented on #1286
@janakdr I am not sure why you chose to pass "Isystem" instead of "I" like e.g. CMake. Could you perhaps elaborate what the design decisions were?

[2016-06-02 11:34] r4nt commented on #1286
@abergmeier - that is a historical incident based on the specific layout of the codebase we have :( I believe @lberki is hopefully going to resolve the madness.

[2016-06-02 11:37] lberki commented on #1286
We are in the process of figuring out how include directories should work. Currently it's pretty much what we need at Google internally, which is why odd error message exists. If we can't come up with reasonable way to specify include directories correctly, I'll just remove these warnings from Bazel.

[2016-06-02 11:44] #1329 closed

[2016-06-02 12:30] jart opened #1330 "sigaction(sig, &sa, NULL): Invalid argument"
I noticed a build flake where this happened:

[code]

https://travis-ci.org/bazelbuild/rules_closure/builds/134718996
https://github.com/bazelbuild/bazel/blob/4b5992929d5e59d76db132a77a7d7ecc786aef90/src/main/tools/process-tools.c#L87

The sigaction man page is illuminating:

Maybe Travis sent one of those signals and then process-wrapper.c or namespace-sandbox.c tried to call `UnHandle` to instat

[2016-06-02 12:37] jart commented on #1330
It [keeps happening](https://travis-ci.org/bazelbuild/rules_closure/builds/134727307) :(

Two things to take into consideration:

1. I just enabled Bazel workers on my project a few hours ago.
2. My Travis CI is a heavily constrained 256MB VM where Bazel runs with `--local_resources=1000,1,1.0`.
3. This error happens at the fifteen minute mark, which is right when you'd expect the entire thing to

[2016-06-02 12:57] abergmeier opened #1331 "Workspace name warning when using local_repository"
In my `WORKSPACE` I use the following:

    local_repository(
	name = "brotli",
	path = "3rdparty/brotli",
    )

The location `3rdparty/brotli` is mostly due to legacy reasons.
In `3rdparty/brotli` I do not have a `WORKSPACE`.

When executing `bazel build` it warns:

    Workspace name in /home/andreas/.cache/bazel/_bazel_andreas/e95e268031a1536aa07d29382953e9de/external/brotli/WORKSPACE (@__main

[2016-06-02 14:09] kchodorow commented on #1331
You can say:

[code]

[2016-06-02 15:28] abergmeier commented on #1331
That does erase the warnings. A little annoying that I have to explicitly tell it to use the `BUILD` file. Thanks.

[2016-06-02 15:28] #1331 closed

[2016-06-02 15:42] #1074 closed

[2016-06-02 19:23] kchodorow opened #1332 "new_git_repository doesn't have a strip_prefix option"

[2016-06-02 19:24] kchodorow opened #1333 "new_git_repository's doc is wrong"
https://www.bazel.io/docs/be/workspace.html#new_git_repository has the source files under src/, but then refers to them as though they were in the top-level directory in BUILD.ssl.

[2016-06-02 20:26] wiktortomczak commented on #671
I was wondering if there's any update on including the runfiles tree? Is it possible to package a py_binary into a docker container? It's not clear to me how to use the docker_build rule for this purpose, per Kamal's first message. Thanks.

[2016-06-02 21:07] jart commented on #1330
Update: When I turned off workers in my Travis CI config, this problem went away.

[2016-06-03 06:18] kadrach commented on #587
Ending with a similar error on my end:

[code]
Proxy is set system wide (/etc/environment), tensorflow r0.8 and bazel HEAD(#c728a63).

[2016-06-03 08:20] #12 closed

[2016-06-03 09:14] dslomov opened #1334 "Release 0.3.0"

[2016-06-03 13:04] dslomov commented on #1330
@philwo @hermione521 I added "sandboxing" because  we do not have "workers". Could you take a look? Seems blocking for workers on CI.

[2016-06-03 13:06] dslomov commented on #1309
Closing, > 7days "Under investigation"

[2016-06-03 13:06] #1309 closed

[2016-06-03 13:47] philwo commented on #1330
@jart I think your idea is good - we don't check the signal that we try to "UnHandle", so if it is SIGSTOP or SIGKILL, this would throw the error.

I have no clue why it only happens with workers enabled, but let's see what output we get when that is fixed. :) I'll send a patch today.

[2016-06-03 14:37] wolfgangmeyers commented on #12
Awesome!

[2016-06-03 14:58] justinsb opened #1335 "Feature request: support file deletion on docker_build"
Could we / should we add the ability to delete files from a docker layer as part of docker_build?

The primary use case I am thinking of is that we install a deb package, but then we remove e.g. the man pages or the locale files, so as to keep the image size small.

[2016-06-03 21:03] colinmarc opened #1336 "0.2.3 doesn't run on ubuntu 12.04"
After installing on a fairly clean system with `bazel-0.2.3-installer-linux-x86_64.sh`:

[code]

[2016-06-04 02:10] pmbethe09 opened #1337 "new_http_repository redownloads url if build_file_content changes"
working on bazelbuild/rules_appengine changes to the contents of new_http_repository.build_file_content would result in a redownload every time.  Which is annoying when the url is an unchanged 200MB.

[2016-06-05 12:44] MaeThird opened #1338 "Error: unexpected EOF from Bazel server"
==> tensorflow : r0.9 bazel : 0.2.3 gcc:6.1.1 python: 3.5
When i try to compile tensorflow from source on my archlinux(kernel : 4.5.4-1) ,errror occured. Something like " Linking tensorflow/cc/ops/data_flow_ops_gen_cc [for host]
Error: nexpected EOF from Bazel server."

And when i tried again ,i got the same error :
tensorflow/core/kernels/reduce_join_op.cc:108:31: warning: comparison between sign

[2016-06-06 08:04] meteorcloudy commented on #1338
Hi, Damein. Can you take a look at this? /cc @damienmg

[2016-06-06 08:11] damienmg commented on #1338
Can you give me the output of:

[code]
?

[2016-06-06 08:31] meteorcloudy commented on #1336
Hi, Damien. Can you take a look at this error. I can reproduce this error in docker, but have no idea how to solve it. /cc @damienmg

[2016-06-06 08:34] damienmg commented on #1336
We do not support 12.04 with the installer, please compile from source.

[2016-06-06 09:38] meteorcloudy opened #1339 "bazel-test is broken"
http://ci.bazel.io/job/bazel-tests/BAZEL_VERSION=latest,PLATFORM_NAME=linux-x86_64/34/console

Due to commit [9668b82c3b2547054acbd7151f3c74e16c888675](https://github.com/bazelbuild/bazel/commit/9668b82c3b2547054acbd7151f3c74e16c888675)

[2016-06-06 15:29] colinmarc commented on #1336
Compilation doesn't work on 12.04, either:

[code]

[2016-06-06 15:33] damienmg commented on #1336
Which version of gcc is this? I think we are not supporting old gcc either...

Sorry for that :(

[2016-06-06 15:38] colinmarc commented on #1336
I have the system installed gcc: `gcc version 4.6.3 (Ubuntu/Linaro 4.6.3-1ubuntu5)`.

@ianoc determined that the following patch gets it to build:

[code]

[2016-06-06 15:39] damienmg commented on #1336
So you get it to work?

[2016-06-06 15:40] colinmarc commented on #1336
Well, yes, but it'd be nice to be running an official version =)

[2016-06-06 15:43] damienmg commented on #1336
I know I'll see if we can get a version of this patch merged.

/cc @lberki because he touched that code last: according to the style guide, we are allowed to use virtual instead of override, do you see any blocker in doing so?

[2016-06-06 16:42] #835 closed

[2016-06-06 16:42] #1130 closed

[2016-06-06 16:42] #1172 closed

[2016-06-06 16:42] #1242 closed

[2016-06-06 17:56] meteorcloudy commented on #1339
Fixed by rollback. 8240b748391d85d68b5ddc502d30f3a2391ba343

[2016-06-06 17:56] #1339 closed

[2016-06-06 21:34] Crayder opened #1340 "32 bit build..."
My laptop is 32 bit and all of the releases are 64 bit.

So basically I'm requesting a 32 bit .deb build.

[2016-06-06 22:44] schristley opened #1341 "compiling from source gives java.lang.OutOfMemoryError: unable to create new native thread"
Compiling from git source and I'm not able to get past this java error.

[code]

I managed to get past the first OutOfMemoryError with this change:

[code]

But now it cannot build Bazel with Bazel, I saw another mention of this error so tried restricting the number of jobs with this change, but it had no effect.  Any ideas?

[code]

[code]

[2016-06-07 06:27] lberki commented on #1336
No, it's fine. In theory, we are not bound by the style guide anyway :)

[2016-06-07 07:47] meteorcloudy commented on #1341
/cc @damienmg  Please take a look

[2016-06-07 07:53] meteorcloudy commented on #1340
Can you try to compile Bazel from source?
[code]
This will create a bazel binary in bazel-bin/src/bazel.
http://www.bazel.io/docs/install.html#h2

[2016-06-07 07:58] hkwi opened #1342 "Locale dependent buildjar code"
hasRecognizedError in (bazel/src/java_tools/buildjar/java/com/google/devtools/build/buildjar/ReducedClasspathJavaLibraryBuilder.java ) parses command line output messages, which varies by system language setting. So build failed on my computer with Japanese locale. I could successfully built the binary from scratch when I changed the system language to English on Windows 10, which requires log off

[2016-06-07 08:24] philwo commented on #835
Could you please check if this flag helps and report back? :)

[2016-06-07 08:25] philwo commented on #1210
Could you please check if this flag helps and report back? :) The MD5 lock is bypassed with the flag set - I agree that using a Semaphore would be even better. I can have a look at this if you think this is going into the right direction.

[2016-06-07 08:40] meteorcloudy commented on #1342
/cc @damienmg How can we fix this properly?

[2016-06-07 08:59] damienmg commented on #1342
/cc @eaftan @cushon maintain buildjar so they might know

[2016-06-07 09:10] meteorcloudy commented on #1341
Can you add following to your ~/.bazelrc file, then try to build Bazel with Bazel again:
[code]
`bazel help startup_options` might give you more information.

[2016-06-07 09:50] meteorcloudy opened #1343 "bazel_app_test is broken on darwin"
http://ci.bazel.io/job/bazel-tests/BAZEL_VERSION=HEAD-jdk7,PLATFORM_NAME=darwin-x86_64/34/console

Possibly caused by 6d07acbfb9a45e58d9f2dcc95758cb9add1ad2b5 or 696a4a7e8bb96a3a1955730130f8da2a755a5356
@dmishe Please take a look. :)

[2016-06-07 11:36] ulfjack commented on #492
Use a cc_binary (right now, we may introduce more / better rules to do that) to link dependencies.

For larger code bases, linking the transitive closure at every cc_library would be prohibitively expensive (I haven't actually collected data on this, but I'm very confident). cc_library isn't intended as a top-level rule for external consumption - it's not a 'library' in the same sense as, say, ope

[2016-06-07 12:15] ittaiz commented on #970
any news about this? I just stumbled on another use-case- I want to use the java_test rule from scala since my testing library (specs2) integrates with JUnit and that's how we work with it today.
If we had this then it's simply a matter of combining the two

[2016-06-07 12:23] cgrushko commented on #970
I'm currently refactoring bazel/src/main/java/com/google/devtools/build/lib/rules/java/JavaLibraryHelper.java to make it easier to expose.
@ulfjack, IIUC, actually allowing java_library --> Skylark java to interop is slightly tangent to this?

[2016-06-07 12:33] abergmeier opened #1344 "Sets cannot be "subtracted""
Since I wanted to get all subdirectories of a certain directory I tried the obvious:

[code]

Sadly it seems as if the minus operator is not implemented for `set`s :(

[2016-06-07 12:39] ittaiz opened #1345 "Documentation- java_test use_testrunner mistake"
Hi,
I think the documentation of the java_test use_testrunner property is mistaken.
It talks about `com.google.testing.junit.runner.GoogleTestRunner` while I think that was superseded by `BazelTestRunner` which is also mentioned which adds to the confusion.
I think the first mention should also change to `BazelTestRunner`.
Hope I'm not talking gibberish.

[2016-06-07 12:41] #1336 closed

[2016-06-07 12:43] meteorcloudy commented on #1341
And can you tell us which architecture you are running on?

[2016-06-07 13:01] abergmeier opened #1346 "native.glob does not work with @//"
When globbing the following leads to an error message about empty segments:

[code]

Problems seems to be that it splits by `/` and then checks the result that no empty segment is present.

[2016-06-07 13:09] meteorcloudy commented on #1345
The default value of `use_testrunner` is 1 and default behavior is to use `BazelTestRunner`, if a user needs to use this property, he would set `use_testrunner = 0` to use `GoogleTestRunner`.

Maybe we should make it more clear. ;)

[2016-06-07 13:28] abergmeier commented on #1344
Problem is that I assume it is implemented in `SkylarkNestedSet` but couldn't figure out yet, where the operators are implemented (according to docs `|` should be present).

[2016-06-07 13:30] meteorcloudy commented on #1346
Sorry, we don't support this. The argument of glob is not a list of label, it has to be a list of path.

[2016-06-07 13:37] abergmeier commented on #1346
Fair enough. Should I write a patch that then errors when you try to call glob with a string starting with `@` or `//`?

[2016-06-07 13:38] meteorcloudy commented on #1346
That would be nice~ :)

[2016-06-07 13:44] pmbethe09 opened #1347 "compiler warning about mismatched new[]/delete"
src/main/native/fsevents.cc:88:3: warning: 'delete' applied to a pointer that was allocated with 'new[]'; did you mean 'delete[]'? [-Wmismatched-new-delete]
  delete pathsArray;
  ^
        []
src/main/native/fsevents.cc:78:29: note: allocated with 'new[]' here
  CFStringRef *pathsArray = new CFStringRef[length];

[2016-06-07 14:01] meteorcloudy commented on #1345
Sorry, what I said above was totally wrong. The GoogleTestRunner doesn't exist in Bazel code. Setting `use_testrunner = 0` will just run the test java binary without any test runner. We should definitely update the document!

[2016-06-07 14:05] ittaiz commented on #1345
PR?
On יום ג׳, 7 ביוני 2016 at 17:01 Yun Peng <notifications@github.com> wrote:

[2016-06-07 14:33] schristley commented on #1341
x86_64 architecture

I added `-Xmx512m` but it gave the same error, java.lang.OutOfMemoryError: unable to create new native thread

[2016-06-07 14:34] meteorcloudy commented on #1345
Yeah, that would be nice. :)

[2016-06-07 14:55] michajlo commented on #1341
Your ulimit settings may be restricting the number of threads (ulimit -a)? Adjusting thread stack size may also be of interest (-Xss).

[2016-06-07 15:05] schristley commented on #1341
It is not a large limit at 150. I saw a mention of this on another bazel forum and thus why I put the `--jobs=50` as that seemed to work for them.

[code]

I added `-Xss2m` to scripts/bootstrap/compile.sh but no change.

[2016-06-07 15:25] dmishe commented on #1343
Looks like we forgot to set the iOS SDK, will fix shortly.

[2016-06-07 15:26] abergmeier commented on #1344
@meteorcloudy Will give this a shot.

[2016-06-07 15:41] michajlo commented on #1341
Can you up the user processes to something like 1024 and see how it goes?

[2016-06-07 16:49] schristley commented on #1341
I'm not able to increase the limit, however I tried running the compile on a compute node (versus the login node) and it has a much higher limit at 8192. This did the trick and got past the java error, however I'm getting a new error now which is similar to what reported in #1251

[code]

`uname -m` returns `x86_64` so not sure why it's thinking `piii`

[2016-06-07 17:27] schristley commented on #1341
my bad, I was using 32 vs 64-bit java, installing 64-bit java got me past that last error, onto the next!

[2016-06-07 18:48] abergmeier opened #1351 "glob cannot search for directories only"
While there is a flag to search for files only, there is none for searching for directories only.

[2016-06-07 22:47] schristley commented on #1341
In my environment, I'm using a gcc that isn't at the default /usr/bin/gcc location. I've seen numerous issues about this but haven't found the right answer. The compile error is

[code]

The issue is simple, the cc1plus program is not able to run because it cannot find one of its shared llibraries. This works normally because LD_LIBRARY_PATH is set, but in this command that bazel run, it is doing

[2016-06-08 01:50] jvmvik commented on #754
+1

[2016-06-08 04:35] Crayder commented on #1340
I know how to compile... It just wouldn't.

[2016-06-08 07:49] ekuefler opened #1352 "SLF4J spam in Bazel output"
I sometimes see spam from SLF4J that I believe is unintentional. This seems to happen most often when bazel is being run for the first time:

[code]

[2016-06-08 07:55] sachinpro opened #1353 "Using bazel to cross-compile tensorflow for other targets."
I compiled the tensorflow source using https://github.com/tensorflow/tensorflow/tree/master/tensorflow/examples/label_image example for C++ on Ubuntu 14.04. Now I want to learn how to cross-compile for some other target architecture. I started with ARM. I installed the arm-linux-gnueabi-gcc tools and edited the bazel/tools/cpp/CROSSTOOL.tpl file  and its android toolchain for the armeabi-v7a cpu,

[2016-06-08 08:22] meteorcloudy commented on #1347
@damienmg I think we can fix this warning.

[2016-06-08 08:52] #1343 closed

[2016-06-08 08:52] #1347 closed

[2016-06-08 08:53] philwo commented on #1330
Patch sent for code review.

[2016-06-08 09:08] meteorcloudy commented on #1353
Here is the wiki page about how to use a custom toolchain, and the example might be very close to what you need. :)
https://github.com/bazelbuild/bazel/wiki/Building-with-a-custom-toolchain

[2016-06-08 09:14] sachinpro commented on #1353
Thanks. I will try this . :)

[2016-06-08 09:49] meteorcloudy commented on #1341
I think you can add a linker_flag into CROSSTOOL, `linker_flag: "-L<searchdir>"`
Then run compile.sh to build Bazel again.

[2016-06-08 11:21] abergmeier commented on #1344
@meteorcloudy Are you in irc?
Is it ok to use `HashSet` in Bazel code?
For _difference_, should `immutableItems` be wrapped or is it ok to merge the `NestedSet`? I think I am asking whether the `order` needs to be preserved.

[2016-06-08 11:52] meteorcloudy commented on #1340
Can you show me the error you got when running ./compile.sh?

[2016-06-08 11:57] #1113 closed

[2016-06-08 11:57] #1345 closed

[2016-06-08 11:58] meteorcloudy commented on #1344
Sorry for the late reply. I am not quite familiar with this. //cc @laurentlb  Can you help us?

[2016-06-08 12:52] jpieper-tri opened #1355 "Cannot switch back and forth between an external with new_local_repository and new_http_repository"
I've run into a problem where bazel seems to get confused when switching between an external configured using "new_local_repository" and "new_http_repository".

Brief context:  I'm developing on Ubuntu trusty, and am using some system installed packages in a C++ application.

In my particular instance, I started with boost configured as a new_local_repository to use the system installed boost.  At

[2016-06-08 15:59] meteorcloudy commented on #1355
//cc @kchodorow Can you help us?

[2016-06-08 16:00] meteorcloudy commented on #1355
By the way, how about running `bazel clean` before the build?

[2016-06-08 16:02] michajlo commented on #1352
I _think_ upgrading to slf4j 1.7.15 will get rid of the SLFJ: lines- http://www.slf4j.org/codes.html#substituteLogger.

[2016-06-08 16:06] jpieper-tri commented on #1355
`bazel clean` does not help, but removing my entire ~/.cache/bazel directory does.

[2016-06-08 16:07] kchodorow commented on #1352
I think Bazel is actually missing a dependency on log4j.

[2016-06-08 16:08] kchodorow commented on #1355
`bazel clean --expunge` should work (basically a rm -r on the cache directory) but yeah, sounds like a bug.  I'll look into it.

[2016-06-08 17:37] helenaut commented on #1203
Hello! Was Guice removed from the test runner in 0.3.0?

[2016-06-08 18:17] Crayder commented on #1340
No, I won't have my laptop back for a few days (probably at least a week, maybe two). I don't recall what they were either.

[2016-06-08 18:19] zonr commented on #492
I agree with you that linking takes more time and more memory for more dependencies. This becomes a serious problem when dealing with large code bases. That's why incremental linking is included in many people's most-wanted feature list.

Thanks for reiterating the semantic and design of `cc_library`. IIRC, `cc_library` is used to produce an _intermediate result_ for a collection of files that sha

[2016-06-08 18:21] ekuefler commented on #1113
Any chance of this making 0.3.0 or will it not go out until 0.3.1?

[2016-06-08 19:18] schroederc commented on #1210
Thanks for the progress!  :+1:

Full build w/o flag: `INFO: Elapsed time: 322.923s, Critical Path: 239.11s`
Null build w/o flag: `INFO: Elapsed time: 2.013s, Critical Path: 1.33s`

Full build w/ flag: `INFO: Elapsed time: 327.246s, Critical Path: 265.28s`
Null build w/ flag: `INFO: Elapsed time: 0.885s, Critical Path: 0.20s`

Looks like what I saw with my first change.  Builds with lots of changes

[2016-06-08 19:24] jdc2172 commented on #31
just wondering if this is still planned, or if it's been shelved for a later release - I really like bazel, but ide support is quite important for me

[2016-06-08 19:28] damienmg commented on #31
It is still planned for the end of the week (the interface  exists and is
in the 0.3.0rc1).

On Wed, Jun 8, 2016, 9:24 PM Jack Crawford <notifications@github.com> wrote:

[2016-06-08 22:40] mnemonija commented on #1175
You need to have two lines in the copts, both for the googletest and googletest/includes.
Then I think you can remove includes.
`
copts = ["-Ivendor/gtest/googletest_d225acc/googletest",
"-Ivendor/gtest/googletest_d225acc/googletest/include"],
`

[2016-06-09 03:04] kheuton commented on #898
@zhang-jian or   @damienmg  how did you fix the error from your first post? I can't quite figure out what was meant by the link opt. I know I need to edit CROSSTOOL, but I'm not sure how

[2016-06-09 04:18] dfabulich opened #1356 "`$(location)` returns incorrect path in `java_test` `jvm_flags`"
Consider this repository. https://github.com/dfabulich/aspectj-test

It has two similar test targets in its `BUILD` file, which are dependent on `maven_jar`s defined in the `WORKSPACE`.

[code]

The tests are identical, except that one of them depends on `aspectjweaver`, a jar that is meant to be configured via JVM flags as a `javaagent`.

If you run `bazel test :apptest` the test runs and passes,

[2016-06-09 04:23] dfabulich commented on #1356
If you `bash -x bazel-bin/apptest_weaver` you can see the command it's trying to run:

[code]

Here it is again, with backslashes and newlines after every colon (so you can actually read it):

[code]

`java_test` is attempting to use `external/org_aspectj_aspectjweaver/jar/aspectjweaver-1.8.1.jar` as the `$(location @org_aspectj_aspectjweaver//jar)` but it's no longer there. (Note that the path to

[2016-06-09 04:24] dfabulich commented on #1356
I speculated that this bug may have to do with Make variable substitution generally, but that's apparently not so, because this genrule works fine:

[code]

[2016-06-09 04:26] dfabulich commented on #1356
[code]

[2016-06-09 05:41] sachinpro commented on #1353
The link you gave me helped to a great extent. I have setup everything exactly according to the tutorial, I am just confused about the heirarchy of the tree . My current directory structure for the tools folder is :
./tools
|-- arm_compiler
|   |-- CROSSTOOL
|   |-- linaro_linux_gcc
|   |   |-- clang_bin
|   |   |   `-- clang
|   |   |-- BUILD
|   |   |-- arm-linux-gnueabihf-strip
|   |   |-- arm-

[2016-06-09 06:10] sachinpro commented on #1353
Where should I put my linaro_linux_gcc_4.9_repo folder? I think the problem is with the location of this folder only.

[2016-06-09 07:22] MaeThird commented on #1338
Occupied by work during the past 3 days ,Sorry.
This is most likely to occur with "Out of memory". So I compiled it with "bazel build -c opt --jobs 20 ...",and everything is OK .

[2016-06-09 09:21] damienmg commented on #1113
Probably not going to be in 0.3.0, We have to recut a canary so we can include it in 0.3.0.

I hope that by 0.3.1 docker rules will be out of bazel.

[2016-06-09 09:36] damienmg commented on #898
@kheuton which version of Bazel are you using? Can you file a separate bug with the reproduction step (bazel version, gcc version, system and output of the build)

[2016-06-09 09:38] damienmg commented on #1338
\o/

Great to hear that --jobs did the work :)

[2016-06-09 09:38] #1338 closed

[2016-06-09 11:16] dslomov commented on #31
For the impatient, take a look at https://github.com/bazelbuild/e4b and http://tulsi.bazel.io/

[2016-06-09 11:27] #1356 closed

[2016-06-09 12:14] dslomov commented on #1334
/scripts/release/release.sh create 0.3.0 a9301fac1ab3e0b99aa86fd89dff31fd890641c3 ff30a7319fc495c1f2d4c58b233e7bd7690da27f

[2016-06-09 12:32] fgeorgatos commented on #760
fyi. EasyBuild tool resolves much of the automation needs across binutils+GCC deliveries and does the task consistently; it relies upon environment-modules, in case you care about that part.

[2016-06-09 12:49] sachinpro commented on #1353
I removed the error I mentioned above and after making a few changes in my WORKSPACE and CROSSTOOL file, I am getting the following error:

ERROR: The toolchain rule '//tools/arm_compiler:cc-compiler-local' does not exist.

Please help me with this.

[2016-06-09 12:50] meteorcloudy commented on #1353
The error is actually as the error messages said `linaro_linux_gcc_4.9_repo` is not a valid workspace name, `linaro_linux_gcc_repo` works for me. We should update the wiki page, sorry for that.

But using `new_http_archive` still seems to be a little bit trouble, because there is no usable url for downloading.
However, you can decompress gcc-linaro-4.9-2015.05-x86_64_arm-linux-gnueabihf.tar.gz int

[2016-06-09 12:51] meteorcloudy commented on #1353
OK.. Can you show me your CROSSTOOL file?

[2016-06-09 12:56] sachinpro commented on #1353
I also removed the error using linaro_linux_gcc_repo instead. CROSSTOOL file is attached.
[CROSSTOOL.txt](https://github.com/bazelbuild/bazel/files/306914/CROSSTOOL.txt)

[2016-06-09 13:00] sachinpro commented on #1353
I added the k8 toolchain because it was giving an error "cpu k8 is not supported" . And I am currently using my git repository to download the binaries by adding this in my WORKSPACE file:

new_git_repository(
  name = "linaro_linux_gcc_repo",
  build_file = "compilers/linaro_linux_gcc_4.9.BUILD",
  remote = "https://github.com/sachinpro/sachinpro.github.io.git",
  #tag = "",
  commit="4e1c212901b

[2016-06-09 13:02] meteorcloudy commented on #1353
And what is the command line giving this error?

[2016-06-09 13:14] sachinpro commented on #1353
sachin@sachin-pc:~/Downloads/tensorflow$ bazel build --crosstool_top=//tools/arm_compiler:toolchain --verbose_failures --sandbox_debug --cpu=armeabi-v7a   tensorflow/examples/label_image/...
ERROR: No toolchain found for cpu 'k8'. Valid cpus are: [
  armeabi-v7a,
].
INFO: Elapsed time: 1.240s

This is the error if I get when follow the original tutorial without adding the k8 toolchain. You are ask

[2016-06-09 13:23] meteorcloudy commented on #1353
So after you add the k8 toolchain, the same command gave this error ?
ERROR: The toolchain rule '//tools/arm_compiler:cc-compiler-local' does not exist.

[2016-06-09 13:30] sachinpro commented on #1353
Yes, exactly. And the example you gave me,its output is perhaps not generated by the arm toolchain because it is running fine on my intel cpu.

[2016-06-09 13:39] meteorcloudy commented on #1353
Oh, yeah, I was just trying to show how `new_local_repository` works.

And how about the BUILD file, I think you should also modify it.
Maybe it's missing this:
[code]

[2016-06-09 13:46] sachinpro commented on #1353
Here is my current WORKSPACE file .
[WORKSPACE.txt](https://github.com/bazelbuild/bazel/files/306974/WORKSPACE.txt)

[2016-06-09 13:50] meteorcloudy commented on #1353
I mean the BUILD file next to the CROSSTOOL.
Like this one: https://github.com/bazelbuild/bazel/wiki/Building-with-a-custom-toolchain#writing-the-build-file

Did you accidentally close this issue?

[2016-06-09 13:50] sachinpro commented on #1353
Which BUILD file are you talking about? I have BUILD files present in ./tools/arm_compiler , ./tools/arm_compiler/linaro_linux_gcc   and another for my label_image example.

[2016-06-09 13:51] meteorcloudy commented on #1353
Should be tools/arm_compiler/BUILD

[2016-06-09 13:55] sachinpro commented on #1353
Sorry for closing, it was by mistake. I just added the cc_toolchain() you told me to and now there is a new error:

sachin@sachin-pc:~/Downloads/tensorflow$ bazel build --crosstool_top=//tools/arm_compiler:toolchain --verbose_failures --sandbox_debug --cpu=armeabi-v7a tensorflow/examples/label_image/...
ERROR: /home/sachin/.cache/bazel/_bazel_sachin/dc84bb70b01d0f4a792c48d02549c4f8/external/bazel_

[2016-06-09 13:57] meteorcloudy commented on #1353
Add `package(default_visibility = ["//visibility:public"])` to the same BUILD file

[2016-06-09 14:00] sachinpro commented on #1353
Now i get the following error:

ERROR: /home/sachin/Downloads/tensorflow/tensorflow/cc/BUILD:28:1: //tensorflow/cc:cc_ops: missing input file '//tools/arm_compiler/linaro_linux_gcc:clang_bin/as'.
ERROR: /home/sachin/Downloads/tensorflow/tensorflow/cc/BUILD:28:1 1 input file(s) do not exist.

[2016-06-09 14:35] schristley commented on #1341
Nope, that solves the wrong problem, `-L<searchdir>` tells the linker where to look for library files, the issue is library the linker program itself needs just so it can be executed, i.e. `ldd cc1plus` has a line
[code]

What is needed is for LD_LIBRARY_PATH to be set properly when gcc is run, specifically the exec line above needs to look like this.

[code]

Can you tell me what code produces th

[2016-06-09 15:27] kskp opened #1357 "Install Bazel on CentOS 6.7 for Syntaxnet"
Hi All,

I have tried lot of resources to install Bazel and Build Syntaxnet on my machine with the following configuration:
OS:
[sree@ds1 ~]$ cat /proc/version
Linux version 2.6.32-504.el6.x86_64 (mockbuild@c6b9.bsys.dev.centos.org) (gcc version 4.4.7 20120313 (Red Hat 4.4.7-11) (GCC) ) #1 SMP Wed Oct 15 04:27:16 UTC 2014

Python:
[sree@ds1 ~]$ python
Python 2.7.11 |Anaconda 4.0.0 (64-bit)| (defau

[2016-06-09 15:28] meteorcloudy commented on #1341
Oh, I see. I think it's here
https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/standalone/StandaloneSpawnStrategy.java#L166

[2016-06-09 16:48] meteorcloudy commented on #1357
Please refer to http://www.bazel.io/docs/install.html
You can try to install Bazel with installer or compile Bazel from source. :)

[2016-06-09 16:54] kskp commented on #1357
@meteorcloudy Thanks for the reply. I get the following errors when I run ./compile.sh:

[sree@ds1 bazel]$ ./compile.sh
INFO: You can skip this first step by providing a path to the bazel binary as second argument:
INFO:    ./compile.sh compile /path/to/bazel
🍃  Building Bazel from scratch
JAVA_HOME (/opt/jdk1.8.0_9) is not a path to a working JDK.

[sree@ds1 bazel]$ whereis java
java: /usr/bin/ja

[2016-06-09 17:03] kheuton opened #1358 "Version `GLIBCXX_3.4.18' not found when compiling tensorflow example"
Hi all,

I'm trying to install bazel and tensorflow with cuda support in my home directory on a network drive of a research cluster. I am building them using tools from a conda virtual environment, so almost nothing I have is in a default location.

Bazel version: 0.2.3 tag from the master branch
Gcc version: gcc version 4.8.5 (GCC)

When building the first tensorflow example, I get this error:

/

[2016-06-09 17:11] meteorcloudy commented on #1357
Please set `JAVA_HOME=/opt/jdk1.8.0_91` instead of ` /opt/jdk1.8.0_9`

[2016-06-09 17:23] ch3njust1n commented on #587
Has this been fixed yet or is there a workaround?

[2016-06-09 17:32] meteorcloudy commented on #1358
[code]
This two commands basically replace the location of gcc with the real location on your machine in the CROSSTOOL file.
Then you can rebuild Bazel again.

//cc @damienmg Is it the right solution?

[2016-06-09 17:33] meteorcloudy commented on #1353
Follow the error message, check if tools/arm_compiler/linaro_linux_gcc/clang_bin/as exists?

[2016-06-09 17:33] damienmg commented on #587
This should be fixed at HEAD but not yet in the release, you can try the release candidate at https://storage.googleapis.com/bazel/0.3.0/rc2/index.html

[2016-06-09 17:36] kskp commented on #1357
Oops, that was a typo. I have the following error now:

ERROR: /home/sree/bazel/src/main/cpp/util/BUILD:4:1: C++ compilation of rule '//src/main/cpp/util:util' failed: gcc failed: error executing command
  (cd /tmp/bazel.0iZWhHCy/out/bazel && \
  exec env - \
    PATH=JAVA_HOME/bin:/home/sree/anaconda2/bin:/home/sree/bazel:/opt/jdk1.8.0_91/bin:/opt/jdk1.8.0_91/jre/bin:/usr/lib64/qt-3.3/bin:/usr/lo

[2016-06-09 17:39] damienmg commented on #1358
No this is not.

The problem is with the protocompiler that TensorFlow drag in. I am taking a guess here: protoc is compiled with `--config cuda` so with nvcc and it is not executable on the host machine.

Pulling in @davidzchen who did modifications to the protobuf build for TensorFlow.

[2016-06-09 17:45] meteorcloudy commented on #1357
Is there any more specific error message? I don't know why this command failed, looks good to me.

[2016-06-09 17:46] kskp commented on #1357
This is the entire log:

[sree@ds1 bazel]$ ./compile.sh
INFO: You can skip this first step by providing a path to the bazel binary as second argument:
INFO:    ./compile.sh compile /path/to/bazel
🍃  Building Bazel from scratch......
🍃  Building Bazel with Bazel.
.WARNING: /tmp/bazel.0iZWhHCy/out/external/bazel_tools/WORKSPACE:1: Workspace name in /tmp/bazel.0iZWhHCy/out/external/bazel_tools/WORKSP

[2016-06-09 17:59] ch3njust1n commented on #587
When I run the command:
'bazel test syntaxnet/... util/utf8/...'
I get the following issues still:
'''
models/syntaxnet/syntaxnet/BUILD:74:1: no such package '@re2//': Error cloning repository: https://github.com/google/re2.git: cannot open git-upload-pack caused by https://github.com/google/re2.git: cannot open git-upload-pack caused by https://github.com/google/re2.git: cannot open git-upload-pa

[2016-06-09 18:11] meteorcloudy commented on #1357
Can you try to execute these command manually? And see what happens.
[code]

[2016-06-09 18:26] kchodorow opened #1359 "Experimental UI: bazel test --java_debug prints port on wrong line"
It prints:

[code]

The lines should be the other way around, so it's obvious that the test is not running.

[2016-06-09 18:30] kskp commented on #1357
Sorry for the delay. Here is the output:

src/main/cpp/util/file.cc: In function ‘std::string blaze_util::Which(const std::string&)’:
src/main/cpp/util/file.cc:84: error: expected initializer before ‘:’ token
src/main/cpp/util/file.cc:100: error: expected primary-expression at end of input
src/main/cpp/util/file.cc:100: error: expected ‘;’ at end of input
src/main/cpp/util/file.cc:100: error: expe

[2016-06-09 19:19] kchodorow commented on #1357
What version of gcc are you using?  It looks like it doesn't recognize for-each loops.

[2016-06-09 19:48] meteorcloudy commented on #1357
I still have no idea why there is syntax error.
But this error
[code]
is probably caused by my commit 828a9e2f167db8c4debca6e00ee37dd030849c2f, and I tried to fix it at cc993c26047f8d459711ed211338570ce7c1576c. Looks like something is still missing. I'll fix it tomorrow!

[2016-06-09 21:36] kayasoze opened #1360 "__main__ confuses $(location), $TEST_SRCDIR"
I have a test which depends on a data file; as of the latest version of Bazel, it no longer works.

[code]

The test attempts to open the data file relative to `$TEST_SRCDIR`, but fails, because the file is now located under the `__main__` directory of my target.  It would seem to me that either `$(location)` or `$TEST_SRCDIR` should contain the `__main__` prefix, as the test itself should not nee

[2016-06-09 21:50] kayasoze commented on #1360
Ah, I see that `$TEST_WORKSPACE` is available for this purpose.  Closing.

[2016-06-09 21:50] #1360 closed

[2016-06-09 21:51] kayasoze opened #1361 "--watchfs malfunctions on an NFS mount"
It would appear that `--watchfs` should be automatically disabled when the source tree is mounted over NFS, as it does not operate correctly.

[2016-06-09 22:04] changyun79 commented on #1353
I am new to bazel too but trying to do the same thing so just want to give you some head up that tensor flow is using protocol buffer 3.0.0 beta2 which you may need to cross compile first.
It can be done by pretty much following this with some minor updates:
https://github.com/eurotech/edc-examples/wiki/Cross-compiling-protobuf-for-ARM-architecture

I am going to be on tensor flow this weekend.

[2016-06-10 06:03] endobson opened #1362 "watchfs makes race conditions for builds much more likely."
OS: OSX
I started using watchfs, and was able to observe issues in watch fs that I was not able to replicate without it.

The race condition is that I will save a file using my editor and then immediately trigger a build. In particular, I do not wait for my editor to acknowledge the save, I just switch over and start the build. (:wq<return><ctrl-T><ctrl-T><ctrl-P><return>, write out the vim buffer

[2016-06-10 06:08] sachinpro commented on #1353
There is just a 'clang' file,  in clang_bin, but no tools/arm_compiler/linaro_linux_gcc/clang_bin/as or ld exists. Can you please tell me how to create those symlinks as mentioned in https://github.com/bazelbuild/bazel/wiki/Building-with-a-custom-toolchain#writing-the-wrapper-scripts ? Where should the point to?

[2016-06-10 07:58] abergmeier opened #1363 "Expose urldecode in native"
Wondering whether it would be possible to expose `urldecode` for Skylark. Reason is that you cannot use symbolic links when using P4 and thus we encode the link information in the path. Now in Bazel we would like to have a chance to decode that info again.
Or if someone has a better approach I am all ears :+1:

[2016-06-10 08:13] damienmg commented on #1362
Yes this is expected. Maybe the FsEvents version is too slow and we will have to remove it.
/cc @ulfjack fyi

[2016-06-10 08:18] meteorcloudy commented on #1353
You should create a wrapper script at `tools/arm_compiler/linaro_linux_gcc/arm-linux-gnueabihf-as` for as. Should be similar to this:
[code]
And create a symlink `tools/arm_compiler/linaro_linux_gcc/clang_bin/as` pointing to the wrapper script.

[2016-06-10 08:29] dslomov commented on #1334
./scripts/release/release.sh create 0.3.0 a9301fac1ab3e0b99aa86fd89dff31fd890641c3 ff30a7319fc495c1f2d4c58b233e7bd7690da27f aeee3b8e4cccc95fa7932fe45abbc6279bfb72d0

[2016-06-10 08:41] sachinpro commented on #1353
Done that. Now error again:

ERROR: missing input file '//tools/arm_compiler:empty'.
ERROR: /home/sachin/Downloads/tensorflow/tensorflow/cc/BUILD:28:1: //tensorflow/cc:ops/training_ops_gen_cc: missing input file '//tools/arm_compiler:empty'.
ERROR: /home/sachin/Downloads/tensorflow/tensorflow/cc/BUILD:28:1 1 input file(s) do not exist.
INFO: Elapsed time: 70.388s, Critical Path: 5.72s

[2016-06-10 09:07] meteorcloudy commented on #1353
I think you can just create the missing file, it might doesn't do anything, but it's required by Bazel.

[2016-06-10 09:19] aehlig commented on #1359
I'm not quite sure, what your expectation is.

The output is consistent with the general layout that, if --test_output=streamed
is given, the test output flows into the scroll-back buffer and the
progress bar stays below at the bottom of the terminal. Also note that,
technically, the test is running from bazel's point of view in the sense
that the test action has started but not completed yet (tha

[2016-06-10 09:24] sachinpro commented on #1353
Thanks , next ERROR :
config.status: executing depfiles commands
config.status: executing libtool commands
/home/sachin/.cache/bazel/_bazel_sachin/dc84bb70b01d0f4a792c48d02549c4f8/execroot/tensorflow/external/jpeg_archive/jpeg-9a /home/sachin/.cache/bazel/_bazel_sachin/dc84bb70b01d0f4a792c48d02549c4f8/execroot/tensorflow
/home/sachin/.cache/bazel/_bazel_sachin/dc84bb70b01d0f4a792c48d02549c4f8/exec

[2016-06-10 09:27] meteorcloudy commented on #1353
Did you give execute permission to clang?
Try `chmod +x tools/arm_compiler/linaro_linux_gcc/clang_bin/clang` ?

[2016-06-10 09:36] sachinpro commented on #1353
Oh yeah, sorry about that. I should have done that. But error again:
ERROR: /home/sachin/.cache/bazel/_bazel_sachin/dc84bb70b01d0f4a792c48d02549c4f8/external/png_archive/BUILD:33:1: C++ compilation of rule '@png_archive//:png' failed: clang failed: error executing command
  (cd /home/sachin/.cache/bazel/_bazel_x0234443/dc84bb70b01d0f4a792c48d02549c4f8/execroot/tensorflow && \
  exec env - \
    PA

[2016-06-10 09:50] sachinpro commented on #1353
zlib.h is present in /home/sachin/bazel/third_party/zlib .And  /home/sachin/bazel/ is the location where my bazel is installed.

[2016-06-10 10:02] sachinpro commented on #1353
I tried to rebuild and this time , a different error came:

external/highwayhash/highwayhash/state_helpers.h:36:3: error: use of undeclared identifier 'static_assert'; did you mean 'static_cast'?
  static_assert((kPacketSize & (kPacketSize - 1)) == 0, "Size must be 2^i.");
  ^
In file included from external/highwayhash/highwayhash/sip_hash.cc:15:
external/highwayhash/highwayhash/sip_hash.h:31:15:

[2016-06-10 11:19] damienmg commented on #1270
Ok my test passed so I guess this might be an temporary infrastructure issue.

[2016-06-10 12:30] damienmg commented on #1270
This time it is going through \o/ I had to create a new token for bazel-ci.

[2016-06-10 12:30] #1270 closed

[2016-06-10 12:31] damienmg commented on #1334
And the release went through \o/

[2016-06-10 12:31] #1334 closed

[2016-06-10 12:38] #31 closed

[2016-06-10 12:38] #1310 closed

[2016-06-10 12:40] philwo opened #1364 "Sandbox is accidentally mounting everything as read-write"
So, this is a bit embarrassing and mysterious at the same time:
- Embarrassing: Our sandbox accidentally mounts everything as read-write, because Linux handily ignores MS_RDONLY when you also specify MS_BIND and we don't have tests for this.
- Mysterious: Why did nobody ever notice this?

[code]

This means, that a sandboxed action can a) influence the host environment and b) modify the source-cod

[2016-06-10 12:44] philwo commented on #1364
FYI @bsilver8192 @AustinSchuh - please take care when relying on sandboxing until this is fixed.

[2016-06-10 13:30] damienmg opened #1365 "Get rid of _bin / embedded_tools"
The embedded tools is mounted in the execroot under a _bin directory for legacy reason. We should move every binary out of the _bin directory into the @bazel_tools repository and remove this folder.

[2016-06-10 13:30] hermione521 opened #1366 "support for py_library to link to a cc_library"
Mentioned by Fred:

In bazel, it is not possible for a py_library to link to a cc_library.

The workaround is to create a dynamically linked .so file and load that in the py_library. (I'm not sure what happens in Windows.)

[2016-06-10 13:31] damienmg commented on #1365
Internal ref: b/28963443

[2016-06-10 13:32] damienmg commented on #1080
Inactive bug, closing. Windows support is still experimental sorry for that,

[2016-06-10 13:32] #1080 closed

[2016-06-10 13:34] damienmg opened #1367 "Java root directory requirements (to be under 'java' or 'javatests' or 'test') should be removed"
This requirements is not really needed, we have other way to find it (look for the package line in the file for generating the template, ...).

Internal ref: b/23756405

[2016-06-10 13:38] hermione521 opened #1368 "Consider using PID namespaces for the sandbox"
Mentioned by Lukács:

It seems that they would make the cleanup much simpler and more complete, because if you kill -9 the internal init from the outside, all processes in the namespace are automatically killed. It also becomes the parent of orphaned processes within the sandbox, which is also useful:

http://man7.org/linux/man-pages/man7/pid_namespaces.7.html
https://lwn.net/Articles/532748/

[2016-06-10 13:40] damienmg opened #1369 "Standardized pkg_* and docker_* rules"
We should
  1. Uniformize pkg_deb pkg_tar, docker_build with Google's pkg_* rules
  2. move those rules to their own repositories.

Internal ref: b/24797990

[2016-06-10 13:48] hermione521 opened #1370 "libstdc++ depends on libm"
Mentioned by Douglas:

I'm getting link errors when trying to build a static C++ binary using bazel.  I've created a minimal test case at ...  It's a simple hello world that happens to pull in the part of libstdc++ that depends on libm.  Compiling shared works (since the .so includes the reference to libm), compiling static breaks:

$ bazel run :test-shared
INFO: Found 1 target...
Target //:test-s

[2016-06-10 13:56] hermione521 opened #1371 "Publish BlazeQueryHowTo"
BlazeQueryHowTo is an internal wiki page.

Mentioned by Laurent:

We should open-source this document as it contains useful tips

[2016-06-10 14:34] kskp commented on #1357
@kchodorow  Hi, my GCC version is 4.8.4. I originally had 4.4.7 but I tried upgrading it to 4.8 uisng a tutorial given in: http://superuser.com/questions/381160/how-to-install-gcc-4-7-x-4-8-x-on-centos.

FYI:
[sree@ds1 ~]$ gcc -v
Using built-in specs.
COLLECT_GCC=gcc
COLLECT_LTO_WRAPPER=/opt/rh/devtoolset-2/root/usr/libexec/gcc/x86_64-redhat-linux/4.8.2/lto-wrapper
Target: x86_64-redhat-linux
Conf

[2016-06-10 14:35] bsilver8192 commented on #1364
Thanks for the heads-up.

I think part of the reason I never noticed this before is because when I accidentally try overwriting rule inputs, they're often outputs of other rules which are read-only anyways so it still fails. Still a pretty exciting bug though...

[2016-06-10 15:02] kchodorow commented on #1357
No, that gcc should be recent enough to support auto!  Just to make sure, can you try running `/usr/bin/gcc -v` (in case the gcc on your path is the old one?).

[2016-06-10 15:05] kskp commented on #1357
Looks like you are right. This does shows the old version:
gcc version 4.4.7 20120313 (Red Hat 4.4.7-17) (GCC)

How and where do I change the path?

[2016-06-10 15:12] kchodorow commented on #1357
Theoretically you can just replace it with the one you want: http://askubuntu.com/questions/269257/how-to-activate-gcc-4-7-version.  (But rm-ing gcc always makes me nervous, so if I were you, I'd just move it to /usr/bin/gcc.bak or something.)

[2016-06-10 15:45] kskp commented on #1357
I created a link sudo ln -s /opt/centos/devtoolset-1.1/root/usr/bin/ /usr/bin/gcc to point it to the newer gcc. Now when I run ./compile.sh, i get the following:

**ERROR: /home/sree/bazel/src/main/cpp/util/BUILD:4:1: C++ compilation of rule '//src/main/cpp/util:util' failed: gcc failed: error executing command**
  (cd /tmp/bazel.KJ4HjgOD/out/bazel && \
  exec env - \
    PATH=/home/sree/anaconda2

[2016-06-10 15:46] damienmg opened #1372 "Design a publish / deploy story"
We should be able to provide easy way to deploy / publish artifacts. That include publish to artifactory / maven central, push to GCR or GCS, Android Play Store and so on...

We should also think of release process.

The order of priority:
- Artifactory / Maven central is requested by several people including the Gerrit team and Twitter heron (https://github.com/twitter/heron/issues/893)
- GCR / G

[2016-06-10 15:46] damienmg commented on #1372
Internal ref: b/25764843

[2016-06-10 17:00] kchodorow commented on #1357
You can't use a symlink, just copy the file.  Bazel creates a sandbox for each build action, so /usr/bin/gcc is in the sandbox but  /opt/centos/devtoolset-2/root/usr/bin/gcc isn't.  So the symlink points to a non-existent location during the build.

[2016-06-10 17:11] kskp commented on #1357
Sorry for my ignorance, but could you be more clear? DO you want me to move the /opt/centos/devtoolset-2/root/usr/bin/gcc to /usr/bin/?? and move usr/bin/gcc to somewhere else??

[2016-06-10 17:34] dfabulich opened #1373 "Formatting error on http://www.bazel.io/roadmap.html"
http://www.bazel.io/roadmap.html has a formatting error on its table.

![image](https://cloud.githubusercontent.com/assets/96150/15973178/d4c6082c-2ef6-11e6-9716-a10c87aaa92a.png)

[2016-06-10 17:41] damienmg commented on #1373
Known issue fix already on his way :)

On Fri, Jun 10, 2016, 7:34 PM dfabulich <notifications@github.com> wrote:

[2016-06-10 17:46] damienmg commented on #1373
The fix is 0c083ecd8e38d9d5430e1d0882dabdaaa3e6e66b. ci.bazel.io is rebuilding everything so we should wait until the website is pushed.

[2016-06-10 17:46] #1373 closed

[2016-06-10 18:51] kheuton commented on #1358
Thanks meteorcloudy, I have done that and it did indeed fix certain bugs I encountered, but not this one.

[2016-06-10 20:39] aehlig opened #1374 "Additional "repository-private" visibility"
It was requested that an additional visibility value be added to simplify having
a target visible to all packages in the same repository but not cross repository
boundaries. An example could be a library shared between the packages in
that repository.

@aragos and @lberki already expressed opinions wrt this proposal; moving the
discussion to the appropriate bug tracker.

[2016-06-10 22:13] kchodorow commented on #1357
Yeah, do something like:

[code]

[2016-06-11 10:32] kskp commented on #1357
Thanks. Now for some reason, my gcc version has changed to 4.7.2. Will that still work or do I have to upgrade again?

And ./compile.sh gives:
INFO: You can skip this first step by providing a path to the bazel binary as second argument:
INFO:    ./compile.sh compile /path/to/bazel
🍃  Building Bazel from scratch......
🍃  Building Bazel with Bazel.
INFO: Found 1 target...
ERROR: /home/sree/bazel/sr

[2016-06-11 16:23] dhbaird commented on #1232
It may be okay to close this issue because I found an adequate (and satisfactory) workaround. The workaround for `label_dict`, is `zip(string_names, files)` along with a constraint check of `len(string_names) == len(files)`. E.g.,

[code]

Similarly, `label_list_dict` could be worked around by also using `filegroup`:

[code]

[2016-06-11 18:32] roblg opened #1375 "Documentation: --aspects vs. --aspect"
The [documentation](http://www.bazel.io/docs/skylark/aspects.html) and [blog post](http://www.bazel.io/blog/2016/06/10/ide-support.html) for aspects both use the `--aspect` flag, but bazel appears to be expecting `--aspects` (plural):

[code]

(edit: added bazel version to avoid confusion)

[2016-06-13 07:48] lberki commented on #1374
Tl;DR: like.

[2016-06-13 09:18] meteorcloudy opened #1376 "Cache external artifacts across workspaces"
For example, if I have two unrelated workspaces that both use app engine, they'll both download and unzip the appengine sdk, which seems wasteful. It would be nice if these could be shared.

(Although for appengine, we could alternatively implement an appengine_sdk_repository rule like the android rules)

Internal ref: b/27201943

[2016-06-13 09:21] meteorcloudy opened #1377 "com.google.devtools.build.lib.InterruptibleTest is flaky"
See http://ci.bazel.io/job/Bazel/170/JAVA_VERSION=1.8,PLATFORM_NAME=linux-x86_64/console:

FAIL: //src/test/java:shell_test (see /home/ci/.cache/bazel/_bazel_ci/5f3cd5a16c8c04003810da50910b348c/linux-x86_64/bazel-out/local_linux-fastbuild/testlogs/src/test/java/shell_test/test.log)
____From Testing //src/test/java:shell_test:
==================== Test output for //src/test/java:shell_test:
JUnit v

[2016-06-13 09:21] meteorcloudy commented on #1377
Internal ref: b/24935529

[2016-06-13 09:23] meteorcloudy commented on #1377
OK, we already deleted it. :)

[2016-06-13 09:23] #1377 closed

[2016-06-13 09:25] damienmg commented on #1376
Duplicate of https://github.com/bazelbuild/bazel/issues/1266

[2016-06-13 09:25] #1376 closed

[2016-06-13 09:27] meteorcloudy opened #1378 "unittest.bash fails in __log_to_test_report() with "Can't find string terminator "}" anywhere before EOF at -e line 1.""
It happens at line 431 on a call to perl. It is probably because the input has {} in it.

Replacing the perl -e with echo gives:

[code]

[2016-06-13 09:28] meteorcloudy commented on #1378
Internal ref: b/21289642

[2016-06-13 09:33] meteorcloudy opened #1379 "bash_completion_test fails with "set -eu" enabled"
Commit 713a78c88ae900b3cab08460a4b1428bf19a680c enables better error checking for failures in tests caused by "set -eu" being enabled. It uncovered an issue in bash_completion_test, which fails with the following errors when errexit is enabled.

I have added a workaround that temporarily disabled errexit for the problematic part of the test, but we should remove it as soon as possible, as it looks

[2016-06-13 09:33] meteorcloudy commented on #1379
Internal ref: b/26176432

[2016-06-13 09:35] meteorcloudy opened #1380 "Support local maven_server"
Bazel support specifying remote maven server. Yet, one cannot point to a local maven repo (by default under ~/.m2/repository) to fetch jars there. One use case here is to use bazel partially in one project, which has some dependency projects that use maven.

Internal ref: b/26058097

[2016-06-13 09:56] meteorcloudy opened #1381 "bazel run //some/java/path:file_deploy.jar fails with wrong message"
[code]

Interanl ref: b/21263003

[2016-06-13 09:58] meteorcloudy opened #1382 "site documentation should have a build stamp"
Hanwen was trying to troubleshoot why changes aren't appearing on bazel.io , and it would help tremendously if bazel.io would show the git commit or piper CL from which it is generated.

internal ref: b/24457716

[2016-06-13 11:20] #1330 closed

[2016-06-13 11:20] #1375 closed

[2016-06-13 11:41] hermione521 commented on #1363
No idea.. @laurentlb Can you help with this? Thanks.

[2016-06-13 12:04] machomachopadre opened #1383 "How do I specify the number of CPU cores bazel uses?"
I am building syntaxnet(tensorflow fork) with bazel. It's working very slowly and keeps hanging up.

The last time I had this problem(with caffe) someone tolad me to change the number of cores I was using by adding -j4. In bazel this command did not work. Any custom command for bazel like this?

CPU Specs: 3.8ghz clock, Quadcore

CPU Model: AMD 4800(or something along those lines).

Thanks!!

[2016-06-13 13:05] hermione521 commented on #1383
Hi,

Please check `--local_resources` [here](http://www.bazel.io/docs/bazel-user-manual.html)
eg. `bazel build --local_resources=10000,3,100`

[2016-06-13 13:33] hermione521 opened #1384 "external_integration_test failed"
Breakage: http://ci.bazel.io/job/bazel-tests/BAZEL_VERSION=HEAD,PLATFORM_NAME=linux-x86_64/57/
Commit: https://github.com/bazelbuild/bazel/commit/1219345c4c2dff6c59dc7619d158ecfb08c434f6

[2016-06-13 13:38] machomachopadre commented on #1383
thanks it worked

[2016-06-13 13:38] #1383 closed

[2016-06-13 13:57] ulfjack opened #1385 "open source print_action command"
This would allow YouCompleteMe (ycm) integration, among other things.

[2016-06-13 14:12] kchodorow commented on #1359
I'd like it to be more obvious when Bazel is waiting for me to start up the debugger. I kept on checking back to see if it was ready yet and not noticing.

With the non-experimental UI, it looks like:

[code]

Which isn't the most gorgeous status message in the world, but at least it's hard to miss.

[2016-06-13 14:13] #1357 closed

[2016-06-13 14:17] kchodorow commented on #1384
Working on it.

[2016-06-13 14:19] kchodorow commented on #1357
Did you intend to close this?

[2016-06-13 14:29] kchodorow commented on #1357
Great, glad it worked out!

[2016-06-13 14:52] lberki opened #1386 "Add default environment rules for Android"
Probably using some form of `compatible_with` / `restricted_to`.

[2016-06-13 15:00] kchodorow opened #1387 "Simple test runner for ios_test"
The existing test runner used in google3 for ios_test is very heavyweight and not (yet) open sourced. We would like to have a lightweight and simple test runner which we can open source. This bug tracks that effort.

Requirements:
- match existing test runner API so we can use the same rule with both test runners (we may be able to use a different execution template which means the API are the scr

[2016-06-13 15:32] fgeorgatos opened #1388 "Question as regards dependency on fresher glibc"
Hello @damienmg,

Per #760 and much other tribal gossip, rhel6's glibc 2.12* does not appear to cut it much for bazel [1];
however, I am inclined to ask why, ie. which is the strictly technical cause for this.
Is it just a matter of setting up the build environment correctly or, what?

[1] N.B. You're not alone; I have seen at least Clang/3.4 and friends complain in similar ways, I'll spare you th

[2016-06-13 16:10] damienmg commented on #1388
It is just setting the build environment correctly. We test rhel6 and this should work pretty well now. Tell me if you have repro cases (especially with a docker container we can set-up for test).

[2016-06-13 18:29] kchodorow opened #1389 "Migrate dependency on error prone to use git_repository"
Internal ref: b/22298755

[2016-06-13 21:59] kchodorow opened #1390 "Document how repository_ctx is invalidated."
This might be working as intended, but it's a bit weird.  Repository rules can access the environment, but are not invalidated by changes in the environment.  For example, I created a repository rule that printed out the contents of the environment variable ABC:

[code]

tester.bzl:

[code]

WORKSPACE:

[code]

(empty BUILD file).

[2016-06-13 22:40] serynth opened #1391 "Support Jack compilation for Bazel"
Although Jack is technically supported, it's not part of the `android_sdk_repository` rule yet. And it can't be for a little while; in order to support Bazel's current integration with Jack, the version of Jack must support both the new workflow for Jack (supported in Brest, present in 23.0.1+) and the `--tolerant` flag (not yet released AFAIK). Since the latter is not supported yet, this feature

[2016-06-13 23:22] ekuefler opened #1392 "`bazel run` probably fails on long classpaths"
This report is based off reading source code rather than something I've actually repro'd, so apologies if I'm missing something.

Linux tends to limit the max length of a command line to around 128k. This can be a problem for Bazel java compilation since it requires jars for every transitive dep to be specified in the classpath. The java run script [attempts to mitigate this](https://github.com/ba

[2016-06-14 02:00] yaroslavvb opened #1393 "Bazel's 2to3 fails with no messages"
I'm trying to debug failure [here](http://ci.tensorflow.org/job/tensorflow-pull-requests-cpu-python3/728/consoleFull).

It seems bazel fails at 2to3 on [this file](https://github.com/yaroslavvb/tensorflow/blob/hood/tensorflow/contrib/immediate/python/immediate/extra_tests/math_ops_test.py) and also on [this one](https://github.com/yaroslavvb/tensorflow/blob/hood/tensorflow/contrib/immediate/python

[2016-06-14 04:13] johnynek opened #1394 "a way at start a repl"
many programming languages have repls. One thing pants supports is starting a repl with a given target's dependencies on the path.

There is demand for this even in java:
https://www.pgrs.net/2015/09/14/java-repl-with-jshell-and-bazel/

in the scala rules, we circumvent the lack of a `bazel repl` command by have a two step: we do `bazel build` to build a script, then manually run the script. We ca

[2016-06-14 05:01] ittaiz opened #1395 "Can Java Plugin srcs attribute be optional?"
You can close this issue if you think this is an edge case but I was just reading once more through the java rules documentation where I saw the `srcs` attribute documentation.
It says the attribute is optional and is usually required unless you use the `main_class` or `runtime_deps` attributes.
Problem is that java_plugin has neither of these attributes.
I know the attribute, and so the documenta

[2016-06-14 07:00] aehlig opened #1396 "Remove hard-coded path of /bin/bash"
While `bash(1)` is available for most Unix-like systems, assuming it to be installed under `/bin` is not a portable assumption. This causes problems under FreeBSD and, reportedly, also under NixOS.

It would help users of systems with bash installed at a different place if they could specify where the bash is installed to. Part of this already addressed with the introduction of the `BAZEL_SH` envi

[2016-06-14 07:34] aehlig opened #1397 "Separate out Bazel's ``tools`` directory"
It can be desirable to unbundle Bazel from its `tools` directory and maybe even split the latter into language-specific repositories. Some care has to be taken to ensure compatibility between the Bazel version and the version of the tools. Proposed versions include
- making Bazel verify correct version of the tools or event downloading the correct version istelf, and
- keeping backwards compatibil

[2016-06-14 08:01] damienmg commented on #1395
It is optional, if you specify deps and the processor_class

[2016-06-14 08:05] ittaiz commented on #1395
got you.
Then I think there are three options-
1. Add a reference to processor_class in the general attribute documentation
2. Duplicate the documentation since it's a bit misleading (also the java_library one talks about main_class)
3. Ignore it as an edge case in understanding

[2016-06-14 08:16] #1384 closed

[2016-06-14 08:19] hermione521 commented on #1391
Added labels, feel free to change.

[2016-06-14 08:28] aehlig opened #1398 "Tests with external dependencies"
Minimal example

[code]

Then  `bazel test @other//:true` successfully runs the test. However, `bazel test //external:othertest` first reports

[code]

But then fails stating

[code]

cc @damienmg and @kchodorow

[2016-06-14 08:36] hermione521 commented on #1394
Added labels, feel free to change.

[2016-06-14 08:52] damienmg commented on #1394
I don't think this is a good idea.

@johnynek: Can you describe a bit more the precise use case you have in head?

[2016-06-14 09:01] #1182 closed

[2016-06-14 09:24] damienmg commented on #1393
2to3 is currently a dummy wrapper script. We should connect to python 2 to 3 transpiler. /cc @lberki

[2016-06-14 09:31] damienmg commented on #1390
This is working as intended. Recategorizing as documentation.

FWIW, here the reason:

We could put a dependency to the environment but that would trigger rebuild on each environment change this is incorrect. We could add environment dependency on only the requested environment but that would skip the case where the requested environment variable name is contructed depending on the environment.

A

[2016-06-14 11:10] sachinpro commented on #1353
Hey @meteorcloudy , can you please help me with the errors mentioned in previous comments or could you please add someone else who might help me with this??

[2016-06-14 11:21] lberki commented on #1397
This sounds like a reasonable idea, although keep in mind that we'd then need to synchronize between Bazel releases and this repository somehow.

[2016-06-14 11:39] abergmeier opened #1399 "Extending loading phase file introspective"
We currently try to prototype using Bazel on Windows.
On *nix we mainly use `glob` (on symlinks) in Macros to express dependencies. Porting this to Windows we face some serious problems:

- In loading phase we cannot read files
- Symlinks require special permission combinations that we cannot satisfy.
- Perforce does not support symlinks natively on Windows. They produce a file containing the path

[2016-06-14 11:55] philwo commented on #1330
@jart Could you please try if workers are fine now on your Travis CI? If they still fail, it would be very interesting to get the error output (which I expect to be different after the change :)).

[2016-06-14 11:57] ulfjack opened #1400 "--experimental_multi_cpu broken?"
I haven't confirmed this, but we got a report that --experimental_multi_cpu crashes with an exception when passed two values:

java.lang.RuntimeException: Unrecoverable error while evaluating node 'CONFIGURATION_COLLECTION:com.google.devtools.build.lib.skyframe.ConfigurationCollectionValue$ConfigurationCollectionKey@23aa6a57' (requested by nodes )
        at com.google.devtools.build.skyframe.Para

[2016-06-14 12:31] hermione521 commented on #1399
@meteorcloudy Can you help with this? Thanks.

[2016-06-14 12:31] jart commented on #1330
I can only do that if you cut a release.

[2016-06-14 12:34] abergmeier commented on #1399
@damienmg Mentioned whether we could perhaps use `filegroup` instead. We are currently giving that a shot.

[2016-06-14 12:35] damienmg commented on #1330
Can't you install from a ci.bazel.io artifact?
http://ci.bazel.io/job/Bazel/JAVA_VERSION=1.8,PLATFORM_NAME=linux-x86_64/lastSuccessfulBuild/artifact/output/ci/bazel--installer.sh

On Tue, Jun 14, 2016 at 2:31 PM Justine Tunney <notifications@github.com>
wrote:

[2016-06-14 12:45] meteorcloudy commented on #1353
For the zlib one, try `sudo apt-get install zlib1g-dev`
And the second one, maybe you should add following to CROSSTOOL
[code]

[2016-06-14 13:26] dmansfield opened #1401 "Loading failed message with no other information available"
Command:

[code]

Messages:
[code]
I have modified the WORKSPACE to add a local repository, and one of the BUILD files to include a dependency from this repository.  This is all detailed on a stack overflow question:

http://stackoverflow.com/questions/37799563/how-do-i-register-custom-op-actually-from-syntaxnet-with-tensorflow-serving

When I start introducing intentional typos, or removing expec

[2016-06-14 13:27] iahmad-khan commented on #876
can someone please suggest how to add tensorflow as an external repo to an existing software repo

[2016-06-14 13:29] kchodorow commented on #876
See https://github.com/tensorflow/serving/blob/master/WORKSPACE.

[2016-06-14 13:36] kchodorow commented on #1398
This sounds like a related case to #460, I bet bind (and alias, probably) don't expose "this is a test" to the buildtool.

[2016-06-14 13:58] kchodorow commented on #1401
What version of Bazel are you using?

[2016-06-14 14:02] dmansfield commented on #1401
Sorry, had it copied but never pasted in:

[code]

[2016-06-14 15:07] damienmg commented on #59
FWIW I discovered we have an extensive documentation internally, we should maybe make it publicly available.

[2016-06-14 15:08] damienmg commented on #89
@kchodorow: Can this one be closed now?

[2016-06-14 15:14] damienmg commented on #145
I am closing this one as we now have XML output for every test and query. There is no more feature that should be needed on bazel side.

[2016-06-14 15:14] #145 closed

[2016-06-14 15:23] kchodorow commented on #89
Yeah, I think at this point people can add this themselves with skylark repositories and/or generate it with generate_workspace.

[2016-06-14 15:23] #89 closed

[2016-06-14 15:24] damienmg commented on #247
Downgrading to P4 as there is an acceptable workaround. Contributions welcomed :)

[2016-06-14 15:34] jart commented on #1330
It seems ok so far.

[2016-06-14 15:49] #1326 closed

[2016-06-14 15:50] laurentlb commented on #1363
You mean a function like this: https://docs.oracle.com/javase/7/docs/api/java/net/URLDecoder.html?
Can you write yourself it using str.replace?

[2016-06-14 15:56] #666 closed

[2016-06-14 15:58] abergmeier commented on #1363
@laurentlb Mostly although handling UTF is a bigger task. Perhaps it would be better to have a general way of handling URLs exposed?

[2016-06-14 16:03] laurentlb commented on #1363
Handling URLs seems a bit unrelated to the job of a build system. I'd prefer keep the API small when possible.
Any change you can delegate this task to an external tool?

[2016-06-14 16:04] abergmeier commented on #1363
Yes, we are already looking into that.

[2016-06-14 16:04] #1363 closed

[2016-06-14 16:32] smparkes commented on #1394
I manually do this at this point:

bazel build //repl:repl_deploy.jar && scala -cp
bazel-bin/repl/repl_deploy.jar

I feel like Java folks don't miss a REPL much because they've never had
one. I hear one comes with Java 9 but I don't know much about it.

On Tue, Jun 14, 2016 at 1:52 AM, Damien Martin-Guillerez <
notifications@github.com> wrote:

[2016-06-14 16:50] kchodorow commented on #1401
Can you try with 0.3.0?  I think there were a couple of cases where this could happen that were fixed (although I'm unable to reproduce it myself).

[2016-06-14 16:52] spearce opened #1402 "java_library() needs provided_deps attribute"
As discussed in https://gerrit-review.googlesource.com/77946 the java_library() rule needs to support a "provided_deps" or "compile_deps" attribute that does not include the provided libraries into the transitive dependency closure when the rule is used in another rule. E.g.:

[code]

When building `app`, it includes `//third_party:foo`, but not `//third_party:ssl`. However `lib` is able to see `/

[2016-06-14 17:08] kchodorow commented on #476
This is now documented.

[2016-06-14 17:08] #476 closed

[2016-06-14 17:10] #1273 closed

[2016-06-14 17:17] a1k0n opened #1403 "pkg_tar documentation inconsistent"
http://www.bazel.io/docs/be/pkg.html#pkg_tar

The documentation lists the arguments as `pkg_tar(name, extension, *data_path*, *directory*, files, mode, modes, deps, symlinks)` but the documentation below it shows `strip_prefix` and `package_dir`, which is confusing. Which one is it?

[2016-06-14 17:19] damienmg commented on #953
isn't alias() sufficient? /cc @lberki @jmmv

[2016-06-14 17:20] johnynek commented on #1394
@damienmg I think this is pretty standard for any build tool whose language has a repl:

Clojure: `lein repl`: https://github.com/technomancy/leiningen#basic-usage
scala: `sbt console`: http://www.scala-sbt.org/0.13/docs/Hello.html
haskell: `stack ghci`: http://docs.haskellstack.org/en/stable/GUIDE/#ghci-the-repl

pants, which is similar to bazel, also has a `pants repl`: http://www.pantsbuild.org

[2016-06-14 17:26] dmansfield commented on #1401
It failed with:

[code]
Perhaps this is the real reason it was failing? Is there a mismatch between some remaining "@tf" reference where it should be "@org_tensorflow" or something? I'm really a bazel newb

I'm trying a clean rebuild of syntaxnet now with 0.3.0 then I'll head back into serving and see if it builds after that.  Not sure if clean is necessary after bazel version upgrade (killing the

[2016-06-14 17:41] smparkes commented on #1394
On Tue, Jun 14, 2016 at 10:20 AM, P. Oscar Boykin <notifications@github.com>
wrote:

I hope we don't have to wait until after java 9 convinces java programmers

FWIW, I and several people I know have been using the scala repl to work
with pure java for quite some time. Have to learn some scala but it's
better than nothing (and scala has a more repl-friendly syntax ...)

[2016-06-14 18:02] damienmg commented on #937
I fixed this one last week.

[2016-06-14 18:02] #937 closed

[2016-06-14 18:05] damienmg commented on #661
This should be fixed.

[2016-06-14 18:05] #661 closed

[2016-06-14 18:06] damienmg opened #1404 "FreeBSD port"
Main tracking bug for the FreeBSD work by @aehlig .

[2016-06-14 18:23] kayasoze commented on #1286
If the existing behavior of `includes` could be made safe for incremental rebuilds, that would be ideal.  Our users build many third-party libraries, but each in their own repo, so moving them all to `third_party` would be problematic.

[2016-06-14 18:25] damienmg commented on #1283
Is this still hapening?

[2016-06-14 18:26] damienmg commented on #1321
This was fixed.

[2016-06-14 18:26] #1321 closed

[2016-06-14 18:36] damienmg commented on #1275
No answer since 18 days, closing.

[2016-06-14 18:36] #1275 closed

[2016-06-14 18:40] damienmg commented on #552
@katre @jhfield: Too many people reassigning this bug at the same time? :)

[2016-06-14 18:40] katre commented on #552
I'm looking into it, I promise! :)

[2016-06-14 18:41] kchodorow commented on #1283
Yes, I've got an improvement that should "fix" it (doesn't actually fix it but makes it less likely) coming next push.

[2016-06-14 18:51] kchodorow commented on #1380
This can now be done in a skylark repository rule.

[2016-06-14 18:51] #1380 closed

[2016-06-14 18:57] #1207 closed

[2016-06-14 18:59] kchodorow commented on #1116
This should work in 0.3.0.

[2016-06-14 18:59] #1116 closed

[2016-06-14 19:02] kchodorow commented on #1073
bazel_git_repositories is a good workaround for this, so bumping down the priority.

[2016-06-14 19:04] kchodorow commented on #408
Closure rules have now been moved to https://github.com/bazelbuild/rule_closure, please open an issue there if this is still a problem.

[2016-06-14 19:04] #408 closed

[2016-06-14 19:06] kchodorow commented on #530
This should work now (been fixed for a while, actually).

[2016-06-14 19:06] #530 closed

[2016-06-14 19:31] kchodorow commented on #717
This is set up correctly in 0.3.0.

[2016-06-14 19:31] #717 closed

[2016-06-14 19:49] dmansfield commented on #1401
I've moved past this by:

1)  ensuring all submodule "tensorflow" instances are updated to master (by removing all submodules and using symlinks to a single copy instead)

2) patching syntaxnet to no longer expect tensorflow to provide a protobuf submodule, e.g change '@tf//google/protobuf:protobuf' to '@protobuf//:protobuf' in a bunch of places

3) patching syntaxnet to use "@org_tensorflow" inst

[2016-06-14 19:59] kchodorow commented on #1284
This actually works for me (I have an empty boost.BUILD file and I'm building @boost_remote//:all).  What target are you building/what does your BUILD file look like?

[2016-06-14 20:09] yaroslavvb commented on #1393
The work-around is to use six to make it cross-compatible, and mark target with srcs_version = "PY2AND3"

[2016-06-14 20:23] kchodorow commented on #625
On the plus side, it doesn't fail as hideously anymore:

[code]

On the downside, it's still not a great error message and this is from the guts of jgit (which just calls java.io.File.mkdir, which doesn't expose _why_ a mkdir failed).  I don't think there's anything more we can really do here.

[2016-06-14 20:23] #625 closed

[2016-06-14 20:25] kchodorow commented on #810
I think bazel_git_repositories is the way to go.

[2016-06-14 20:25] #810 closed

[2016-06-14 20:29] kchodorow commented on #833
This is working for me now.

[2016-06-14 20:29] #833 closed

[2016-06-14 21:12] kchodorow commented on #1355
Duplicate of #977.

[2016-06-14 21:12] #1355 closed

[2016-06-14 21:17] ekuefler opened #1405 "FR: Allow "Note" output from javac to be suppressed"
When Bazel builds a Java target, it very frequently ends up printing lines like this:

[code]

For a moderately large build, these lines can end up repeated hundreds of times, creating lots of terminal scrolling and noise in the output. It would be nice if there were some way to suppress javac's Note output.

This is really a javac issue rather than a Bazel issue, since javac provides [no good way

[2016-06-14 21:21] kchodorow commented on #1266
Updated the title to better reflect the feature request.  I think this would be pretty useful to have for testing, too.

[2016-06-14 21:50] johnynek commented on #810
@kchodorow @damienmg I work with @nelhage who started bazel_git_repositories. I think he would be open to moving it to bazelbuild. I can reach out.

[2016-06-14 21:54] bsilver8192 commented on #953
I think alias solves all the problems that have been mentioned here. When I saw that being added, I thought it might've been prompted by this bug.

[2016-06-14 22:06] dmansfield commented on #1401
FYI, I'm closing this issue because in 0.3.0 a reasonable error is printed.

[2016-06-14 22:06] #1401 closed

[2016-06-14 22:52] joshburkart opened #1406 "Python 3 support?"
Here's my BUILD file:
[code]
Unfortunately, when I execute `bazel test basis_test`, I get
[code]
Is there an easy workaround? I have Python 3 installed and all. Thanks!

[2016-06-15 00:00] pmbethe09 opened #1407 "maven_jar should allow a testonly attribute"
The easiest example is:

maven_jar(
    name = "junit_repo",
    artifact = "junit:junit:4.12",
    testonly = 1, # would be nice to add this
    sha1 = "2973d150c0dc1fefe998f834810d68f278ea58ec",
)

[2016-06-15 00:50] davidzchen opened #1408 "Use Skylark for git_repository rules"
There are many benefits for replacing the native `git_repository` rules that use jgit with Skylark rules that invoke the native Git binaries:

* Better support for cloning over SSH and from behind proxies
* Support for shallow git clones (which jgit does not support)

@nelhage has already written a set of Git repository rules in Skylark: https://github.com/nelhage/bazel_git_repositories. Perhaps i

[2016-06-15 00:51] davidzchen commented on #1246
Awesome! Since there are lots of issues opened for various features or bugs that would be covered by using bazel_git_repositories rather than the native rules, let's de-dup them against #1408.

[2016-06-15 00:51] #1246 closed

[2016-06-15 00:58] davidzchen commented on #810
Thanks, @johnynek! That would be awesome.

Here's the tracking bug for replacing the native Git rules with bazel_git_repositories: #1408.

[2016-06-15 01:00] davidzchen commented on #860
This is a pretty old bug. These issues that @johnynek mentioned should be mitigated by #1408.

[2016-06-15 01:00] #860 closed

[2016-06-15 01:05] davidzchen commented on #1289
This will also be good to have for #1408, especially for getting the `git_repository` integration tests to work.

[2016-06-15 01:07] davidzchen commented on #1408
Continuing the discussion from #810, @johnynek will be reaching out to @nelhage to discuss moving the Skylark `git_repository` rules into Bazel.

The Skylark rules work well as drop-in replacements for the native rules, but we will need #1289 in order to get the [integration test](https://github.com/bazelbuild/bazel/blob/master/src/test/shell/bazel/git_repository_test.sh) to pass since the tests c

[2016-06-15 01:10] nelhage commented on #1408
Hey folks,

I'd be happy to help get those rules upstream, if there's interest. We're
relying on them quite heavily already internally, and would love to have
them upstream.

I'm on vacation until this Thursday, but happy to spend time on this after
I'm back.

On Tue, Jun 14, 2016, 21:07 David Z. Chen <notifications@github.com> wrote:

[2016-06-15 01:35] davidzchen commented on #1378
FYI, @meteorcloudy, I've edited the issue description slightly (surrounded the output with <code>```</code> to format it as code).

[2016-06-15 01:37] davidzchen commented on #1380
Do we have a Skylark repository rule that does this? If not, should we keep this bug open or open a new bug for the feature request?

[2016-06-15 01:42] davidzchen commented on #1394
I imagine this could also be useful for trying out [`bazel query`](http://www.bazel.io/docs/query.html) commands.

[2016-06-15 01:48] davidzchen commented on #1382
We should have this and versioned documentation. I will work on this once I am done with what I currently have on my plate.

[2016-06-15 04:38] sachinpro commented on #1353
I already tried both of the above. But the "'zlib.h' file not found" error still persists..

[2016-06-15 05:23] thomaso-mirodin commented on #1073
#1408 would also fix this issue :D

[2016-06-15 06:37] aehlig commented on #1404
Related/blocked on #1396

[2016-06-15 06:42] aehlig commented on #1404
Patches so far in that direction include 2571982bbfdda44b176628e3354527970cb61407, 6dbcc2da5144ad819ef8d219977b4c2fd85852c0, b692917a73e73d05a65979992f87ad93445dee97, and f16397f33108116119e28952660370fc2e9d67a3.

[2016-06-15 06:47] ulfjack commented on #1286
I'm working to re-enable the checks for -isystem, but that requires an
internal cleanup, which will take days or maybe weeks. I'm not sure if the
clang behavioral differences are also present in upstream clang. If not,
then re-enabling the checks should be sufficient for Bazel, and we could
remove the warning entirely.

On Tue, Jun 14, 2016 at 8:23 PM, kayasoze <notifications@github.com> wrote:

[2016-06-15 06:59] ulfjack commented on #1366
Duplicate of #701.

[2016-06-15 06:59] #1366 closed

[2016-06-15 07:01] ulfjack commented on #701
Recategorizing this as a feature request to support Python-C++ interop. I marked the other report that asked for that as a dupe.

[2016-06-15 07:04] ulfjack commented on #1019
We're changing the sandbox to avoid this issue. I.e., the default sandbox configuration will allow access to all absolute paths but not to undeclared input files from the workspace. We're also planning to support a stricter sandbox configuration that allows no absolute paths, but mounts a given fs image into the root of the sandbox.

[2016-06-15 07:05] ulfjack commented on #1019
I'm not sure if the changes will land this week, otherwise they'll be in the release after the next (I expect).

[2016-06-15 07:08] ulfjack commented on #1286
Assigning to myself for re-enabling the deps checks.

[2016-06-15 07:10] ulfjack commented on #1276
I'm not sure we'll get to this soon, but I'd be happy to review a pull request.

[2016-06-15 07:12] aehlig opened #1409 "Remove bootstrapping dependency on shipped protoc binaries"
Currently, to bootstrapping bazel depends on using the `protoc` binaries shipped with the sources. This is not the most portable approach (a binary would have to be shipped for every new platform; bootstrapping on FreeBSD currently requires using the Linux ABI) and also not ideal from an open-source or security point of view (binaries as "source" files).

Possisble approaches to improve this situa

[2016-06-15 07:12] ulfjack commented on #1162
I'm working to re-enable the checks for -isystem, but that requires an internal cleanup, which will take days or maybe weeks.

[2016-06-15 07:12] ulfjack commented on #1286
Also see #1162.

[2016-06-15 07:19] ulfjack commented on #1023
Linkopts doesn't support $(location), but it does automatically expand things that look like labels. The documentation isn't good, and the semantics are a bit unusual, but I think everything should work.

[2016-06-15 07:20] ulfjack commented on #1023
What's left here to do? We can update the documentation, and we could also support $(location) in linkopts (and maybe remove the 'heuristic' expansion of everything that looks like a label?). I don't think we should change how includes works.

[2016-06-15 07:28] ulfjack commented on #507
We'll need help from someone who better understands C++ linking on OSX to fix this. I'm out of my depth here.

[2016-06-15 07:40] aehlig commented on #1318
I believe @hermione521's patch 0c19d6223d73f23558a279d91db49fe09e6f36b4 resolved the issue. Feel free to reopen, if the problem persists.

[2016-06-15 07:40] #1318 closed

[2016-06-15 07:43] ulfjack commented on #492
We tried incremental linking, and it was a small performance win, but not significant enough to warrant the complexity.

We don't actually build .a files on Linux, where we instead pass the original .o files to the final link (or at least, we have code to do that, and I think it's enabled by default). This is faster than building intermediate .a files and uses less disk space.

In the given exampl

[2016-06-15 07:44] ulfjack commented on #507
Also see #492.

[2016-06-15 07:46] ulfjack commented on #317
Parts of the infrastructure are checked in, but it requires rule changes for each rule that wants to support it.

[2016-06-15 07:47] ulfjack commented on #317
Unassigning myself to clarify that I'm not working on this right now.

[2016-06-15 07:49] ulfjack commented on #191
We have made some progress. We're moving all the built-in rules to explicit *_toolchain rules, which should subsequently allow us to avoid loading those eagerly. That in turn should make it easier to avoid even having a toolchain rule if you don't have any rules that need it.

[2016-06-15 07:56] ulfjack commented on #209
I can still reproduce this. I suppose moving more of the hard-coded flags into the crosstool may fix this?

[2016-06-15 07:59] ulfjack commented on #186
We're moving all flags to the CROSSTOOL file and use features to enable / disable sets of flags. That should eventually allow disabling linking of libstdc++ or other things by disabling the corresponding features.

[2016-06-15 08:01] klimek commented on #1286
On Wed, Jun 15, 2016 at 8:47 AM Ulf Adams <notifications@github.com> wrote:

They are, otherwise you couldn't switch on any warnings in a C++ projects
(due to textual includes).

[2016-06-15 08:03] ulfjack commented on #120
We don't currently plan to support a shorter syntax than select(). I'm not sure this is common enough to warrant special support from Bazel.

[2016-06-15 08:03] #120 closed

[2016-06-15 08:04] sachinpro commented on #1353
UPDATE: Using cxx_flag: "-std=c++11"  removes the corresponding error , but I still cannot find a way to rectify the "'zlib.h' file not found" error.

[2016-06-15 08:05] ulfjack commented on #178
Do we have any idea what's going wrong here? ISTR something odd with short paths, but no details.

[2016-06-15 08:06] ulfjack commented on #1279
I'm not sure there are any open action items here. If you have any specific issues, feel free to file separate bug reports / feature requests.

[2016-06-15 08:43] #1283 closed

[2016-06-15 09:05] meteorcloudy commented on #1353
I found this bug from TensorFlow's repository. https://github.com/tensorflow/tensorflow/issues/2536
Can you try the solution mentioned there?

[2016-06-15 09:09] hermione521 commented on #1403
Hi,
The variables `strip_prefix` and `package_dir` are also available in the rule. I will add them to the document. Thank you for pointing out :)

[2016-06-15 09:20] hermione521 commented on #1406
Sorry, we don't have Python 3 support yet. @lberki do we have any workaround?

[2016-06-15 10:43] lberki commented on #1406
Does adding `--force_python=PY3` to the command line of Bazel work?

[2016-06-15 12:01] damienmg commented on #1394
I just realized that you would like a repl at the command level not at the language level. Am I wrong? You want something like:
[code]

Is it correct? In which case this should be easy to do as an outside script, with the bazel server not having to restart it should be straightforward.

[2016-06-15 12:04] damienmg commented on #1266
This is planned for our CI support (where we want to replace non deterministic workspace operation by well-known vendored repositories).

[2016-06-15 12:40] philwo commented on #1368
This is work-in-progress and I should have a CL that implements it ready tomorrow.

[2016-06-15 13:30] philwo commented on #1322
The key here is: "ccache: error: Could not find compiler "gcc" in PATH".
gcc is in /usr/lib64/ccache, which is on @chemelnucfin's PATH.

However, Bazel resets the PATH to a hard-coded list that is wrong for your system (it does not include /usr/lib64/ccache).

@damienmg Should Bazel detect this automatically via C++ toolchain autoconfiguration? Or do we have a different mechanism for how this shou

[2016-06-15 13:34] philwo commented on #1200
@nicolasnoble Could you please run this with --sandbox_debug and post the full output here? This would help me a lot figuring out exactly where the issue in Bazel is.

[2016-06-15 13:37] philwo commented on #1147
I'm curious about this - the working directory of executables should be the same, no matter if you use the sandbox or not.

[2016-06-15 13:47] kchodorow opened #1410 "Create a skylark repository rule for maven artifacts"
Some FRs that have come up in the past:
- Support dependency management.
- Download src and doc jars.
- Allow cloning from local repositories.
- Transitive deps?

[2016-06-15 13:47] kchodorow commented on #1380
Created #1410.

[2016-06-15 13:50] kchodorow commented on #1390
Could repository rules have a field for environment settings they consume?  E.g.,

[code]

Then:

[code]

[2016-06-15 13:58] kchodorow commented on #1410
* Support sha256 as well as sha1 (#991).
* Support testonly (#1407), should come for free.

[2016-06-15 14:01] kchodorow commented on #1173
I think this is now more understandable, it prints:

[code]

[2016-06-15 14:01] #1173 closed

[2016-06-15 14:08] kchodorow commented on #1194
Sorry about the lack of followup!  I get a 404 for the link.  Rerunning Bazel should be about the same penalty as automatically retrying, though.

[2016-06-15 14:12] kchodorow commented on #551
I actually can't reproduce this now, is this still happening for you?

[2016-06-15 14:15] kchodorow commented on #991
I'm going to close this in favor of the umbrella bug (#1410) for reimplementing the whole thing in Skylark (with sha256 support).

[2016-06-15 14:15] #991 closed

[2016-06-15 14:16] kchodorow commented on #1407
Closing this in favor of #1410, reimplementing the maven_jar rule in Skylark (which should give us testonly "for free").

[2016-06-15 14:16] #1407 closed

[2016-06-15 14:18] kchodorow commented on #1247
Is this still happening?  I get:

[code]

which seems reasonable.

[2016-06-15 15:41] shahms commented on #1023
I think `includes` is fine how it is (everything in there is a label anyway).  The issue with the heuristic expansion in linkopts (potentially surprising behavior aside) is that things like `-L<relative path>` don't look like labels (the heuristic skips components which start with '-', IIRC).  I think consistently supporting $(location) and removing the heuristic would be the least surprising beha

[2016-06-15 15:54] shahms commented on #1390
FWIW, I would really like this.  I suspect it would reduce the number of times I have to run `bazel shutdown` and/or `bazel expunge`.

[2016-06-15 17:03] nitnelave commented on #1194
Damn, I don't have the log anymore, I cleaned up my repository and deleted that one, sorry :/ Let's try it with this log: https://hub.docker.com/r/nitnelave/tensorflow-dependencies/builds/bq7h8kq7a7udamnsrtsyks8/

The problem with retrying is that I don't know (automatically) if Bazel failed because of that or if something didn't compile. I can't have a look and retry, because I use it in a docker

[2016-06-15 17:52] c-parsons commented on #800
ios_framework, and framework generation in bazel is currently fairly broken. We're aware of the issues and plan on addressing them at high priority. We'll likely introduce new native rule(s) to address frameworks appropriately, including for framework distribution.

[2016-06-15 18:00] c-parsons commented on #553
This looks like [Tulsi](https://github.com/bazelbuild/tulsi) solves this.

[2016-06-15 18:00] #553 closed

[2016-06-15 18:06] c-parsons commented on #461
This bug is pretty stale, and we have new versions of xcode supported nowadays.
If this resurfaces with new xcode versions, feel free to file new issues.

Our policy is no more specific than we address new GA versions of Xcode ASAP (we don't have a specific timed SLO)
Beta xcode versions we don't spend too much time addressing, except in preparation for them to GA.

[2016-06-15 18:06] #461 closed

[2016-06-15 18:36] c-parsons commented on #366
Consider separating out objc_library targets into srcs of different types, if their copts need to differ? These can be later recombined as a single objc_library which depends on both...

Per-language per-target copts strikes me as scaling poorly.

[2016-06-15 18:36] #366 closed

[2016-06-15 18:37] dmishe commented on #875
This is definitely a problem on multiple levels and I am afraid I don't have a good fix for this at the moment.

Native swift support is going away in favor of the swift_library rule, and with that you can't have Objective-C and Swift code inside of the same target. Instead you compose binaries out of objc_/swift_ libraries. That works well for ios_application, but may not work for ios_framework.

[2016-06-15 18:37] c-parsons commented on #368
Consider separating out objc_library targets into srcs of different types, if their copts need to differ? These can be later recombined as a single objc_library which depends on both...

Per-language per-target copts strikes me as scaling poorly.

Feel free to reopen and explain if this doesn't work for you.

[2016-06-15 18:37] #368 closed

[2016-06-15 18:41] dmishe commented on #875
@Ubehebe what is your intended use case here, do you want to publish this framework or simply package it in your app?

[2016-06-15 18:48] c-parsons commented on #1279
I believe this was mislabeled, based on conversations which spawned this issue.
The request was for a crosstool on OSX host for targeting iOS. The crosstool generated on OSX bazel doesn't generate any ios toolchains, nor make it clear how to create such targets.

One thing to note is that such toolchains must follow implicit naming structure currently. e.g. if you want ot target iOS i386 architect

[2016-06-15 18:51] c-parsons commented on #257
You should be able to use [apple_binary](http://www.bazel.io/docs/be/objective-c.html#apple_binary) now, with appropriate flags and crosstool, provided you want to build targeting ios.

This is related to https://github.com/bazelbuild/bazel/issues/1279, as getting a crosstool targeting iOS is a bit of a pain without a working example.

You should be able to specify

bazel build  //package:my_targe

[2016-06-15 18:51] #257 closed

[2016-06-15 18:54] c-parsons commented on #244
Likely best handled by [Tulsi](https://github.com/bazelbuild/tulsi), now.

[2016-06-15 18:54] #244 closed

[2016-06-15 19:09] c-parsons commented on #222
We're in the process of deprecating and eliminating our xcode project generation functionality in Bazel, leaving it to [Tulsi](https://github.com/bazelbuild/tulsi) to manage project settings.
Please try to use Tulsi, and if the issue persists, file there.

[2016-06-15 19:09] #222 closed

[2016-06-15 19:12] c-parsons commented on #870
Kristina, is this still an issue? I know you've been doing some work on @bazel_tools... (and hey, you're the original reporter) :)
Feel free to reassign back to me if you need me to investigate

[2016-06-15 19:12] damienmg commented on #1390
@shahms: yes that's incorrect to have to expunge right now. We are invalidating incorrectly on some case and we are not supporting manual invalidation which is the topic of #974. The idea is to be able to say "I want to reconfigure repository `@foo`"

@kchodorow: this is not really feasible: what about environment key that are computed by the workspace, how do you express them? Also the environmen

[2016-06-15 19:19] c-parsons commented on #549
At this point we explicitly require you specify a label to a .mobileprovision file with the provisioning_profile attribute, and it's documented as such.

I don't see much value in alternatives -- implicit auto-detected dependencies are a thing we generally want to avoid.

[2016-06-15 19:19] #549 closed

[2016-06-15 19:20] c-parsons commented on #313
I belieeve this issue is obsolete and was never closed.

[2016-06-15 19:20] #313 closed

[2016-06-15 19:21] #255 closed

[2016-06-15 19:47] kchodorow commented on #1050
Feel free to comment if this is still an issue (fully downloaded repositories should be cached).

[2016-06-15 19:47] #1050 closed

[2016-06-15 19:48] kchodorow commented on #1048
This probably isn't going to be fixed with the native rules, but should work when #1408 is implemented.

[2016-06-15 19:48] #1048 closed

[2016-06-15 19:49] kchodorow commented on #943
I'd like to get rid of nc usages.

[2016-06-15 19:51] kchodorow commented on #802
Going to close this in favor of #1408.

[2016-06-15 19:51] #802 closed

[2016-06-15 19:51] kchodorow commented on #908
Please comment if you'd like to continue debugging this.

[2016-06-15 19:51] #908 closed

[2016-06-15 19:54] kchodorow commented on #870
Looks to me like they are now referred to via external repository, so it should work?

[2016-06-15 19:54] #870 closed

[2016-06-15 21:37] bsilver8192 commented on #1406
I've been having success with `default_python_version = "PY3",` on each rule too (in addition to `srcs_version`).

I think `--force_python=PY3 --host_force_python=PY3` should work without needing to set two attributes on each rule, but I haven't actually gotten around to trying it.

[2016-06-15 21:53] bsilver8192 opened #1411 "don't actually build .a files on Linux, instead pass the original .o files to the final link"
In #492, @ulfjack mentioned that "We don't actually build .a files on Linux, where we instead pass the original .o files to the final link (or at least, we have code to do that, and I think it's enabled by default). This is faster than building intermediate .a files and uses less disk space." That sounds nice, but doesn't seem to actually work:

[code]

BUILD:

[code]

[2016-06-15 23:28] dfabulich opened #1412 "Distributed caching: hazelcast_node argument does nothing"
Consider this repository. https://github.com/dfabulich/hazelcast-test

It has two targets, one artificially slow target, and another target that depends on it.

[code]

`tools/bazel.rc` instructs it to use a hazelcast node for distributed artifact caching, following the instructions here: https://raw.githubusercontent.com/bazelbuild/bazel/79adf59e2973754c8c0415fcab45cd58c7c34697/src/main/java/com/

[2016-06-15 23:30] dfabulich commented on #1412
This makes me pretty suspicious, setting a junk value for `hazelcast_node` returns no error, presumably because it's not even trying to use it.

[code]

[2016-06-15 23:45] durandj commented on #551
Nope! Commit 9848461 seems to have addressed this on my system. Thanks :)
On Jun 15, 2016 9:12 AM, "Kristina" <notifications@github.com> wrote:

[2016-06-16 00:43] anupcshan commented on #1412
I think `--genrule_strategy=remote` is needed to remote-execute/cache genrule actions.

[2016-06-16 01:22] polycoder commented on #873
👍 on the need for a fix for this globbing issue, or a resource merger that can handle merging conflicts more like gradle.

[2016-06-16 02:33] johnynek commented on #1394
yeah, I would like `bazel repl //foo:bar` ideally.

The reason why `bazel run //foo:bar` won't work is that repls use stdin, which for some reason bazel closes immediately (it is mentioned in the docs, so I guess this is intended). Can you say why `bazel run` closes stdin immediately? If it did not, I think it would work. I can also think of lots of cases where I would like to send stdin to a prog

[2016-06-16 03:19] dfabulich opened #1413 "Tests all fail with distributed caching enabled"
Consider this repository. https://github.com/dfabulich/hazelcast-junit-test

It has two targets, `app` and `apptest`.

[code]

The test is a trivial test that always passes.

[code]

[code]

If you run `bazel test :apptest`, the test succeeds.

Now run it with distributed caching enabled, following the instructions here: https://raw.githubusercontent.com/bazelbuild/bazel/79adf59e2973754c8c0415fcab

[2016-06-16 03:23] hhclam commented on #1412
Like Anup said genrule by default does not use remote spawn strategy.

2016-06-15 20:43 GMT-04:00 Anup Chenthamarakshan <notifications@github.com>:

[2016-06-16 03:32] hhclam commented on #1413
Thanks for the report. I'll look into this.

[2016-06-16 04:19] dfabulich opened #1414 "Distributed caching: hazelcast_node argument prints WARNING, does nothing"
Consider this repository. https://github.com/dfabulich/hazelcast-test

It has two targets, one artificially slow target, and another target that depends on it.

[code]

`tools/bazel.rc` instructs it to use a hazelcast node for distributed artifact caching, following the instructions here, adding `--genrule_strategy=remote` per the instructions on issue #1412: https://raw.githubusercontent.com/baze

[2016-06-16 04:20] dfabulich commented on #1412
Didn't help; filed #1414

[2016-06-16 04:20] #1412 closed

[2016-06-16 04:30] dfabulich commented on #1414
There's something weird happening here. It was working on my machine, or at least, better than this, for a few minutes. But then, I dunno, something happened, and now it always fails.

I can't even repro #1413 which I filed earlier because this bug #1414 blocks it.

[2016-06-16 04:33] dfabulich commented on #1414
Yeah, I've got two supposedly identical EC2 machines, and it works on one of them, fails on the other.

[2016-06-16 05:01] joshburkart commented on #1406
Thanks for the responses! Working great now. Just needed to set `srcs_version = "PY3"` on everything, and `default_python_version = "PY3"` only on tests and binaries.

[2016-06-16 05:01] #1406 closed

[2016-06-16 05:29] dfabulich opened #1415 "Distributed caching: build fails when build inputs include directories"
Consider this repository https://github.com/dfabulich/hazelcast-input-dir

In its `WORKSPACE`, it declares a `new_http_archive` whose output includes directories:

[code]

Its `BUILD` file includes a simple `genrule` that depends on those files.

[code]

Finally, its `tools/bazel.rc` uses a local hazelcast node.

[code]

When you `bazel clean && bazel build :x` the build fails:

[code]

Whereas if

[2016-06-16 05:39] dfabulich commented on #1415
@hhclam

[2016-06-16 06:25] ulfjack commented on #1023
That sounds about right.

[2016-06-16 07:27] ulfjack commented on #1411
The CROSSTOOL file needs to declare that it supports that mode by setting
supports_start_end_lib = true. Maybe the cc_configure rule doesn't do that
by default? Maybe it depends on the compiler version?

On Wed, Jun 15, 2016 at 11:53 PM, bsilver8192 <notifications@github.com>
wrote:

[2016-06-16 08:12] sachinpro commented on #1353
Thanks,I tried the solution but still cannot resolve the 'zlib.h' problem. But, I have successfully built for ARM by removing all dependencies related to png image format. I had to do some more changes in source code because apparently some parts of code have problems with compilation using clang but not gcc .

[2016-06-16 08:47] bsilver8192 commented on #1411
That would be the problem. Those appear to be a gold-only flags, and cc_configure.bzl doesn't attempt to auto-detect using gold. If I add `linker_flag: "-fuse-ld=gold"` (necessary on my Debian Jessie system to use gold) and change to `supports_start_end_lib: true`, then it works.

Would it make sense to have cc_configure.bzl try -fuse-ld=gold and set stuff appropriately if it works? Or maybe someh

[2016-06-16 08:55] hermione521 commented on #1413
Also cc @philwo

[2016-06-16 08:56] hermione521 commented on #1414
Also cc @philwo

[2016-06-16 08:57] hermione521 commented on #1415
Also cc @philwo

[2016-06-16 09:51] ulfjack commented on #1402
One problem with that is that the entire transitive closure of your binary has to do that consistently. If there is any library that has a normal deps on that, it will be linked in after all.

With neverlink, it's easier to have consistency, because the annotation is on the rule, not the edge.

Both proposals (neverlink and compile_deps) break down if you sometimes want to link a library and somet

[2016-06-16 09:56] ulfjack commented on #1381
Bazel marks all output files as executable and leaves it to the underlying OS to give an error message. On Linux, you can configure the kernel with custom 'launchers' for files that are marked as executable; maybe that's actually setup on your machine, but uses an older version of Java? (Ubuntu default is still 6, IIRC.)

[2016-06-16 09:56] ulfjack commented on #1381
Damien posted a different error message as well for MacOS:
INFO: Running command line: bazel-bin/java/test/test_deploy.jar
/private/var/tmp/_bazel_dmarting/ed5d94f1f29da4ca2fc9866ec50b91ad/google3/bazel-out/local_darwin-dbg/bin/java/test/test_deploy.jar: line 1: PK: command not found
/private/var/tmp/_bazel_dmarting/ed5d94f1f29da4ca2fc9866ec50b91ad/google3/bazel-out/local_darwin-dbg/bin/java/test/

[2016-06-16 09:58] ulfjack commented on #1381
It looks like MacOS is trying to execute the .jar file as a shell script, which will obviously not work.

In either case, I'm not sure there are any useful action items we could take to improve the situation. We could not mark output files as executable, but that's also problematic - on linux, jar files _may_ be executable (or maybe not). File a bug against Apple?

[2016-06-16 09:58] ulfjack commented on #1381
I'm closing this because I don't see anything we could do here. Feel free to reopen if you have a proposal of how Bazel could handle this better.

[2016-06-16 10:00] ulfjack commented on #1352
I don't think that this is a Java rules issue.

[2016-06-16 10:02] ulfjack commented on #1342
We could disable the reduced classpath. Or you could do that as a workaround.

I think this is the right flag:
--experimental_java_classpath=off

[2016-06-16 10:05] ulfjack commented on #1203
The checked-in code at head uses dagger, not guice any more, but I'm not sure if that made it into 0.3.0.

[2016-06-16 10:07] ulfjack commented on #1203
Uhm, unfortunately, I just looked through the BUILD files and there's still a guice dependency. Probably someone forgot to remove that. :-(

[2016-06-16 10:48] ulfjack commented on #1203
I'll send a fix.

[2016-06-16 11:47] damienmg commented on #1381
We should refuse to execute the deploy jar and print a useful error message to the user.

[2016-06-16 11:48] ulfjack commented on #728
Unassigning @dslomov; I don't think you're currently working on this... is there a windows tag we should add here?

[2016-06-16 11:50] ulfjack commented on #540
I think this is a bug, and this needs to be fixed before 1.0 (preferably sooner)...

[2016-06-16 11:50] #486 closed

[2016-06-16 11:50] ulfjack commented on #453
We have a test_class attribute now. Is there anything left to do here?

[2016-06-16 11:51] damienmg commented on #728
Yes if it is more a port to Windows issue we should change the category to
the windows one.

On Thu, Jun 16, 2016, 1:48 PM Ulf Adams <notifications@github.com> wrote:

[2016-06-16 11:51] ulfjack commented on #97
ISTR that we did something, didn't we?

[2016-06-16 11:53] damienmg commented on #453
I still need to remove the legacy java test flag but this issue is indeed fixed

[2016-06-16 11:53] #453 closed

[2016-06-16 11:54] ulfjack commented on #1381
I don't think we should refuse to do so. You can setup (at least) Linux such that this works.

[2016-06-16 11:54] ulfjack commented on #1381
I also don't think we should hard-code executable file extensions in Bazel, except if the underlying OS guarantees that it will never execute anything other than that.

[2016-06-16 12:07] damienmg commented on #1394
Sorry I am not following, what kind of expression you would like the repl loop to evaluate?

[2016-06-16 13:14] smparkes commented on #1394
I think we're conflating a bazel repl verb with a language repl verb.

It seems like Damien is thinking of a bazel repl were you can specify bazel
verb/targets in a bazel loop.

Oscar's use case, which pants has, is a language repl verb. It's not a repl
for bazel commands/targets, it invokes a target-dependent repl for that
target. This is common in scala but also makes sense for ruby and python
(

[2016-06-16 15:21] martianmartin commented on #754
+1

[2016-06-16 15:46] #551 closed

[2016-06-16 16:12] meteorcloudy opened #1416 "Remove dependency of unix library on Windows"
We need to refactor the code so that `//src/main/java/com/google/devtools/build/lib:unix` will not be used on Windows.

[2016-06-16 16:23] spearce commented on #1402
For reference https://github.com/facebook/buck/issues/63 is the Buck feature request.

This is actually a very important feature for some Java "applications". Stepping back from a lot of the discussion around Gerrit, look at a Java servlet "application". When writing a servlet to be deployed in a servlet container my sources *must* compile against the servlet spec JAR, but *must not* include the s

[2016-06-16 17:00] cushon commented on #1342
Yep, `--experimental_java_classpath=off` should work around it.

It would be nice to avoid hard-coding a locale. We might be able to have the reduced classpath compilation emit structured diagnostics, and then do the locale-dependent formatting after checking if fallback was needed.

[2016-06-16 20:13] kchodorow commented on #1194
Hmm, I see what you mean, but this is a little weird.  I'm hesitant to "just retry [some number of times]," since there's no way for Bazel to know how many times to retry or if something is a retriable failure.  Perhaps Bazel should give a different exit code for download errors.

Also, for Git in particular, unfortunately we can't do much about picking up where we left off on downloads as we're u

[2016-06-16 20:37] nitnelave commented on #1194
I don't know what's the state of the repository after failing to clone, but perhaps going into the directory and running `git pull` might fix the issue. I think Bazel cleans up after failing to clone, so it would have to be before that step.

Maybe add a `retry-on-git-fail` option, with a number, or something like that? To at least give the possibility of retrying.

[2016-06-16 20:40] kchodorow commented on #1194
Nope: http://stackoverflow.com/questions/14738219/how-to-resume-a-git-pull-clone-after-a-hung-up-unexpectedly.  Also, as mentioned, we don't use git, we use jgit (but same problem).

[2016-06-16 20:46] nitnelave commented on #1194
So what's your take on the `retry-on-git-fail` option?

[2016-06-17 00:06] akuseru opened #1418 "no such attribute 'platform_type' in 'apple_binary' rule"
As it is currently part of the documentation I assume that this is an error.

[code]

[code]

[2016-06-17 08:22] ulfjack commented on #970
@dslomov is working on a more complete proposal. Dmitry, would you mind giving more details on that?

[2016-06-17 09:31] #977 closed

[2016-06-17 09:32] hermione521 commented on #1418
Hi, could you also paste your BUILD file here? Thanks!

[2016-06-17 09:34] vitamin opened #1420 "error when ./compile.sh: /usr/lib64/libstdc++.so.6: version GLIBCXX_3.4.20' not found"
If I just use command ./compile.sh

./compile.sh
INFO: You can skip this first step by providing a path to the bazel binary as second argument:
INFO:    ./compile.sh compile /path/to/bazel

.WARNING: /tmp/bazel.80BD16BI/out/external/bazel_tools/WORKSPACE:1: Workspace name in /tmp/bazel.80BD16BI/out/external/bazel_tools/WORKSPACE (@io_bazel) does not match the name given in the repository's definit

[2016-06-17 11:34] ulfjack commented on #1402
java_binary does not generate a single flattened JAR by default, only if you request the _deploy.jar implicit output. However, it doesn't generate a WEB-INF/lib layout, but I have seen Skylark rules that do.

For the gerrit plugin use case, (something like) neverlink seems like a better solution. You're suggesting to write something like this:

    java_library(name = "my_plugin", srcs = ["Foo.jav

[2016-06-17 12:01] abergmeier opened #1421 "Allow for glob of packages"
Currently you cannot `glob` for packages. Now we could use this quite a bit so we can execute certain rules for all certain packages in a repo of a certain type (named specially).

[2016-06-17 12:17] hermione521 commented on #1420
@damienmg can you help with this?

[2016-06-17 12:24] hermione521 commented on #1392
Guess it's a bug. But will label as P4 because I failed to repro. (Got Java "too many constants" JVM error before this "bug")

[2016-06-17 13:09] hermione521 opened #1422 "bazel-test broken on ci"
breakage: http://ci.bazel.io/job/bazel-tests/71/
commit: https://github.com/bazelbuild/bazel/commit/bdfd58a8ca2ed5735d6aaa5b238fb0f689515724

[2016-06-17 13:16] kchodorow commented on #1422
Even broke the [Windows build](http://ci.bazel.io/view/Bazel%20bootstrap%20and%20maintenance/job/Bazel/JAVA_VERSION=1.8,PLATFORM_NAME=windows-x86_64/609/console)! Rollback in progress.

[2016-06-17 13:18] kchodorow commented on #1262
Rolling back due to #1422.

[2016-06-17 13:21] hermione521 commented on #1421
Is [this](http://www.bazel.io/docs/be/general.html#test_suite) what you are looking for?

[2016-06-17 13:24] kchodorow commented on #1421
Or possibly http://www.bazel.io/docs/be/general.html#genquery.

[2016-06-17 13:42] kchodorow commented on #1262
Some breakages:

* Android integration test: http://ci.bazel.io/job/bazel-tests/BAZEL_VERSION=HEAD,PLATFORM_NAME=linux-x86_64/71/console
* Go unhappy w/ buildifier: http://ci.bazel.io/job/buildifier/BAZEL_VERSION=HEAD,PLATFORM_NAME=linux-x86_64/9/console
* Windows: http://ci.bazel.io/view/Bazel%20bootstrap%20and%20maintenance/job/Bazel/JAVA_VERSION=1.7,PLATFORM_NAME=windows-x86_64/609/console
* ht

[2016-06-17 13:47] abergmeier commented on #1421
@hermione521 Not really sure what you mean.

[2016-06-17 13:52] hermione521 commented on #1421
Oops... Sorry I misread your question. It's only for test.

[2016-06-17 13:59] meteorcloudy commented on #1141
This is fixed at eb2f5ea16e66a07fc6217d79564e8602b11bd75a

[2016-06-17 13:59] #1141 closed

[2016-06-17 14:04] abergmeier commented on #1421
@kchodorow Is it me or is there no way of querying packages by pattern? At least I tried `genquery` but all I get is none. That being said - using `:all` does not complain when being used - contrary to documentation.

[2016-06-17 14:07] kchodorow opened #1423 "All headers in the docs should have anchor links next to them"
Almost every day I want to link someone to a specific section of the user manual, skylark cookbook, etc.  It would be super handy to just have anchor link icons next to each heading.

[2016-06-17 14:22] kchodorow commented on #1421
You might be looking for `buildfiles(expr)` (and `opts = ["--output=package"]`).  If not, can you give an example?

[2016-06-17 14:38] abergmeier commented on #1421
I would like to find all packages with suffix `.foo.bar` in the name (e.g. `mygreatname.foo.bar`)
Tried stuff like:

    result = genquery(
      expression = "*.intmat.dir",
      opts = ["--output=package"],
      scope = [],
    )

and all I get is result as `None`.

[2016-06-17 14:46] kchodorow commented on #1421
That isn't the format of any of that... try starting with `bazel query 'filter(.foo.bar, //...)'`, you might need to have a top-level target mess around with that until it's giving you what you want, then translate to genquery.  Take a look at http://www.bazel.io/docs/query.html.

[2016-06-17 15:04] ahumesky commented on #873
We've made significant progress on the new merger, but we're still working on a small number of corner cases before we turn it on. Should be on the order of weeks though before we can make this available.

[2016-06-17 15:22] kchodorow opened #1424 "Bazel should give more context for errors generated in .bzl files"
If you create a rule that could cross a package boundary, like this:

[code]

And then someone makes it do so:

[code]

The error message is unclear:

[code]

This is a contrived example to be as obvious as possible, but still as far as the user knows they've never created a label //:bar/baz (they just passed in a string).  In the actual user case this came from, it was even less obvious because t

[2016-06-17 15:34] ahumesky commented on #1421
Do you mean that you have something like this:
[code]
and you want to have a `glob` in `project/BUILD` that can find `project/foo/a` and `project/bar/b`, but it doesn't work because glob doesn't go past package boundaries? The usual solution to this is to put `filegroup` rules in `project/foo/BUILD` and `project/bar/BUILD` and then reference those file groups in `project/BUILD`.

Or do you mean th

[2016-06-17 15:42] spearce commented on #1402
So if we write:

  java_library(name="gerrit-api", neverlink=1, deps=["//third-party:servlet-api", ":other-lib"])

and servlet-api and other-lib have neverlink=0, a "my_plugin" does not include gerrit-api, but does include servlet-api and other-lib?

I do see the value in neverlink for this plugin-api case. Its certainly easier for the my_plugin author.

[2016-06-17 16:08] abergmeier commented on #1421
I have something like this:

    project
    ├── BUILD
    ├── mynice.intmat.dir
    │   ├── a
    │   └── BUILD
    └── myother.intmat.dir
        ├── a
        └── BUILD

And I want to execute a certain rule from `project/BUILD` for every `*.intmat.dir`.
Reason is that people can keep adding these directories without any other housekeeping.
As you said, the limitations in `genquery` are sadly pr

[2016-06-17 18:26] shahms commented on #1023
Apparently this also doesn't work in `copts` for which it would be desirable for the same reasons as `linkopts`

[2016-06-17 18:55] kchodorow opened #1425 "select() doesn't resolve labels to the correct repository"
See http://stackoverflow.com/questions/37884031/how-to-write-a-bazel-select-macro-that-works-inside-or-outside-of-defining-works: `select({"//foo" : ...})` resolves //foo relative to whatever repository loads the macro, not the repository the macro is defined in.

[2016-06-17 20:10] ahumesky commented on #1421
Do you mean that you want a rule in `project/BUILD` to automatically depend on rules in every subpackage? I'm not sure that there is a way to do that automatically.

One thing you could do is not have build files in the subdirectories, and do everything from `project/BUILD`. That way, that BUILD file can glob over those directories. I'm not sure if that is practical for you though.

[2016-06-17 20:19] dmansfield commented on #1425
[bazel-issue-1425.zip](https://github.com/bazelbuild/bazel/files/321214/bazel-issue-1425.zip)

Attached zip is my "test case" for the bug.  It will only work in bt/child or in bt/base (but not in both) depending on how you define the macro in bt/base/main/macros.bzl.

I tested in 0.2.2b and 0.3.0

[2016-06-17 20:25] shahms commented on #181
With the recent changes to the directory layout, $(GENDIR) no longer works, leaving no way of specifying a correct '-I' parameter.  The only documented Make variables are BINDIR and GENDIR, neither of which point anywhere.

TBH, that was a bit of a hack in the first place to work around proper $(location) support for `copts`.

[2016-06-17 21:37] akuseru commented on #1418
Hi thanks!

https://github.com/akuseru/BazelTest

[2016-06-17 22:17] kchodorow opened #1426 "download_and_extract needs kwargs"
Right now it has 5 positional arguments with unreadable documentation and a couple of undocumented variants.  It is impressively difficult to use.

[2016-06-18 00:06] Cescante commented on #1239
Why is the commit rolled back? I'm getting this issue on ubuntu 16.04 for all bazel versions starting 0.2.2, and
`error: comparison between signed and unsigned integer expressions [-Werror=sign-compare]`
for bazel 0.2.1 and before, which may or may not be related to the "D_FORCE_INLINES" issue with compiling tensorflow for Xerus.

[2016-06-18 03:40] saudet commented on #1322
With the following, it works on my Fedora 23:
[code]

[2016-06-18 19:22] endobson commented on #1247
Yes I can still reproduce at head. The issue is that your test did `@garbage//:all` instead of `@garbage//...`. With the first I get the good error message, with the second I still get the bad one.

[code]

[2016-06-18 23:31] rsteiger opened #1427 "Error linking c/c++ code"
I'm getting an error linking c and c++ code on my mac.

I put together this sample:
https://gist.github.com/anonymous/51c2c087bdc3d586177db35e664ec6c8

While there are no errors building, when the binary is run the following error message is printed:

ld: lazy symbol binding failed: Symbol not found: __Z4testv
  Referenced from: /Users/steigerwald/Downloads/51c2c087bdc3d586177db35e664ec6c8-9c442ae

[2016-06-19 02:50] rsteiger commented on #1427
User error, was missing:

extern "C" { }

Perhaps a warning or linker error would have been useful. Marking this as closed.

[2016-06-19 02:50] #1427 closed

[2016-06-19 14:37] jvmvik opened #1428 "Document / Example how to use external android dependency like: Appcompat-v7"
The Android documentation does not explain how to deals with external android dependency like: Appcompat-v7.
http://www.bazel.io/docs/tutorial/android-app.html

The example should also illustrate such common task.

[2016-06-19 17:04] chemelnucfin commented on #1322
Worked great.  Now let me see how to get it working in tensorflow.....
Thanks!

On Fri, Jun 17, 2016, 8:40 PM Samuel Audet <notifications@github.com> wrote:

[2016-06-20 06:37] ulfjack commented on #181
Why can't you use includes?

[2016-06-20 09:05] damienmg commented on #1420
@lberki: this is failing building using GRPC

[2016-06-20 10:45] damienmg commented on #1426
I was already working on it :)

Yes it is definitely terrible and I wanted to have it support kwargs at first but skylark construct does not support it yet (so working on supporting it).

[2016-06-20 10:51] philwo commented on #1420
For one, this is also yet another classic example where we shouldn't reset the PATH to a hard-coded list but instead take it from the environment. :|

The first build fails because somehow gcc is generating a cpp_plugin binary that can't run on your system due to incompatible libcxx versions (maybe it compiles using a different one than what is used to run the binary?):

[code]

[2016-06-20 10:57] philwo commented on #1420
Oh, well, yes: If you need a special LD_LIBRARY_PATH for that gcc in the second build, it won't work, because we remove that environment variable during the build.

Could you please tell me whether /some/crosstool/bin/some-gcc actually exists?

[2016-06-20 11:03] damienmg commented on #1322
Sorry yes we need to get the actual C++ compiler not the ccache.

[2016-06-20 11:10] philwo opened #1429 "Version our public documentation with Bazel releases"
Users are confused when we document something that is in Bazel HEAD, but not yet available in the latest released Bazel. See https://github.com/bazelbuild/bazel/issues/1418 for an example.

We should probably version our public documentation together with Bazel releases and allow people to switch between doc versions.

As an example for what I personally like in that regard, check https://docs.dja

[2016-06-20 11:11] philwo commented on #1418
Hi @akuseru,

the "platform_type" attribute was added very recently (in https://github.com/bazelbuild/bazel/commit/f6a45fda097fcdae4704915c530403a90e9d6745), so it is not yet available in a released Bazel version. Sorry - we should probably version our docs together with the releases! I filed a feature request for this here: https://github.com/bazelbuild/bazel/issues/1429

If you want to develop f

[2016-06-20 11:11] philwo commented on #1418
I'm closing this issue - feel free to reopen if there's anything else you'd like to know!

[2016-06-20 11:11] #1418 closed

[2016-06-20 11:16] philwo commented on #1415
I think this is "working as intended" - Bazel is not designed to handle directories as input artifacts and much of the code assumes that artifacts are files that can be read, checksummed, transferred, ...

I agree it would be cool if we could support directories as first-class objects, though. The general workaround is to use the contents of the directories as individual files - does that work for

[2016-06-20 11:18] vitamin commented on #1420
thx you two。
I fix this error by the following commands:
[code]

[2016-06-20 11:21] philwo commented on #1414
This warning means that remote caching does not work: "Cannot instantiate remote action cache. Running locally."

I'm not sure how this can happen. What's the value of your --hazelcast_node flag? Are you sure that the machine that prints this error can connect to the host that is specified in there? (Maybe EC2's firewall or firewall on the host running the Hazelcache node is in the way, or maybe t

[2016-06-20 11:23] damienmg commented on #1429
Duplicate of #1382

[2016-06-20 11:23] #1429 closed

[2016-06-20 11:23] philwo commented on #1411
Topic area is C++ auto configuration, so assignee is Damien. :)

[2016-06-20 11:25] damienmg commented on #1420
@vitamin what about the /some/crosstool?

Is your LD_LIBRARY_PATH correctly set? If yes then it means we did not detected it correctly.

[2016-06-20 12:55] philwo commented on #1358
@kheuton I'm curious, do you have LD_LIBRARY_PATH set in the environment where you run Bazel?

[2016-06-20 13:00] philwo commented on #1341
@schristley We recently came across a number of failing builds due to LD_LIBRARY_PATH being set in the environment and Bazel removing it.

Arguably, LD_LIBRARY_PATH is considered a "debug flag" by e.g. The Linux Documentation Project (http://tldp.org/HOWTO/Program-Library-HOWTO/shared-libraries.html) and shouldn't be used during normal operation, but that ship has sailed - there are way too many e

[2016-06-20 13:25] damienmg commented on #1352
Right this is a packaging issue.

[2016-06-20 13:27] damienmg commented on #1394
Ok I still have a hard time seeing what kind of action is needed from bazel. Is it just a run with attaching stdin from the terminal?

[2016-06-20 14:49] mgyucht commented on #1054
+1! I would love to be able to do this as well.

[2016-06-20 15:18] shahms commented on #181
Because I don't want to transitively infect all of the targets which depend on this one.  Specifically, in this case it's a BUILD file for an external dependency (gflags) configured via CMake.  Among other artifacts, CMake spits out `include/gflags/config.h` which is a "private" header (listed in the BUILD `srcs`) alongside the public headers.  Clients should include those headers as `<gflags/head

[2016-06-20 18:31] kchodorow commented on #447
After consideration, this WAI.

[2016-06-20 18:31] #447 closed

[2016-06-20 19:14] davidzchen commented on #1086
Also see bazelbuild/skydoc#10

[2016-06-20 23:41] dfabulich commented on #1413
I experimented a bit with this in the debugger.

There's an exception being thrown in `RemoteSpawnStrategy` at line 165, when it attempts to add the output files to the `remoteActionCache`.

`java.io.FileNotFoundException: /private/var/tmp/_bazel_dfabulich/bc91e687c045d0f8011faa3e2c77b2b4/execroot/hazelcast-junit-test/bazel-out/local-fastbuild/testlogs/apptest/test.cache_status (No such file or di

[2016-06-20 23:58] dfabulich commented on #1415
No, I can't do that, because of issue #374, under which there are restrictions on the characters that are allowed in file names. For example, this fails:

[code]

[code]

The only workaround is to use `exclude_directories=0` to include the directories.

http://www.bazel.io/docs/build-ref.html

[2016-06-21 00:18] ahumesky commented on #1415
As a workaround, you could replace the glob with something like this:

`srcs = [f for f in glob(["*.java"]) if "&" not in f]`

[2016-06-21 05:11] claridge opened #1430 "copts aren't passed to linkstamp libraries"
copts appear to be ignored when compiling a linkstamped library. Below is an example script that tries to compile one with -Werror, which should fail the build because there's an unused variable. But the build succeeds, and it's easy to inspect that -Werror is unset.

The situation I ran into this, where it's less convenient, is that we're setting -pedantic-errors in CROSSTOOL (from which flags do

[2016-06-21 06:33] kheuton commented on #1358
Thanks for asking @philwo, I do have `LD_LIBRARY_PATH` set, and the first directory is the `lib` directory of the virtual environment I want to use. The error message is referencing  `/usr/lib64/libstdc++.so.6`, but if my `LD_LIBRARY_PATH` was being used, it should find `libstdc++.so.6` in my virtual environment before it checks  `/usr/lib64`

[2016-06-21 06:35] cushon commented on #1008
07caf827030ec275ad9845f942c14d8ed5fdd4e1 wasn't a complete fix, I missed this: http://mvnrepository.com/artifact/org.checkerframework/javacutil/1.8.10

[2016-06-21 06:42] cushon commented on #1405
Internally we modified javac to stop emitting those deferred notes for unchecked, deprecation, and sunapi. A cleaner option would be to use the javac API (instead of calling its main method) so we can get structured diagnostics back, and filter out the notes. That would also help with #1342.

[2016-06-21 09:48] abergmeier opened #1431 "validateDirectPrerequisiteFileTypes fails for empty filegroup in label_list"
I have a filegroup `foo` which is actually an empty list (just so every package exposes this filegroup).
Now if I use `foo` for an attribute

[code]

analysis complains that `foo` never produces a `.blub` file.
The error seems to be produced from https://github.com/bazelbuild/bazel/blob/0e17046797f6cfed21755f2eed7c52c0a340d40c/src/main/java/com/google/devtools/build/lib/analysis/RuleContext.java#L

[2016-06-21 10:03] #1333 closed

[2016-06-21 10:03] #642 closed

[2016-06-21 10:03] #1110 closed

[2016-06-21 10:03] #1152 closed

[2016-06-21 10:03] #1314 closed

[2016-06-21 10:03] #1341 closed

[2016-06-21 10:03] #1420 closed

[2016-06-21 10:05] YongCHN opened #1432 "tensorflow building issue on ubuntu 14.04: missing input file '@grpc//:src/core/lib/support/tmpfile.h'."
Has anyone encountered similar issue?

ERROR: missing input file '@grpc//:src/core/lib/support/tmpfile.h'.
ERROR: /home/yong/workarea/gitlab/tensorflow/tensorflow/contrib/metrics/BUILD:31:1: Creating runfiles tree bazel-out/host/bin/tensorflow/contrib/metrics/gen_set_ops_py_wrappers_cc.runfiles [for host] failed: build-runfiles failed: error executing command /home/yong/.cache/bazel/_bazel_yong/1f

[2016-06-21 10:52] abergmeier opened #1433 "Rename non_empty"
Aside from possible double negative, it is not totally clear what the Parameter `non_empty` (e.g. in `attr.label_list`) does from the name alone. IMO renaming it to `allow_empty` would make meaning and values clearer.

[2016-06-21 12:05] meisterT opened #1434 "build time/timestamp unset on debug builds"
Repro:
[code]

[2016-06-21 13:08] a1k0n commented on #1403
The documentation for `strip_prefix` still refers to `data_path` -- are data_path and directory still arguments of pkg_tar? It looks to me like they were renamed to strip_prefix and package_dir, respectively.

[2016-06-21 13:58] damienmg commented on #1434
This is working as intended, we do not stamp by default in Bazel. You must use `--stamp` option to stamp your build.

[2016-06-21 14:04] meisterT commented on #1434
Oh, indeed. I was confused because the compile.sh script does set the timestamp (using --stamp probably).

[2016-06-21 14:04] #1434 closed

[2016-06-21 14:50] #527 closed

[2016-06-21 14:50] #1423 closed

[2016-06-21 14:57] philwo commented on #1432
```Process terminated by signal 15``` sounds like one of the tools crashed.

Could you run the build again using --verbose_failures, which should print the full command-line of the failed command? Maybe running that command yourself in a terminal prints more helpful errors?

Feel free to also paste the output of the build using --verbose_failures here.

[2016-06-21 15:00] philwo commented on #1431
I think you're right regarding the wrong check - would you like to send us a patch? I could code review it and get it merged quickly. :)

[2016-06-21 15:00] philwo commented on #1431
Assigning to Ulf just to make sure I'm not missing something here.

[2016-06-21 15:04] philwo commented on #1364
I had to rollback the fix, because Ubuntu 15.10 seems to have an additional security check in the kernel that disallows loading shared libraries from mountpoints that have noexec set.

I'll need to come up with a better way to detect when to use noexec and when not.

[2016-06-21 15:10] laurentlb commented on #1433
Good idea! We'll discuss it in our next design meeting. Thanks!

[2016-06-21 15:42] katre commented on #1105
Currently, the error message is the following:

ERROR: no such package '@jdoc//jar': Failed to fetch Maven dependency: Could not find artifact javadoc:javadoc:jar:1.3 in jdoc (https://repo1.maven.org/maven2/).

Looks like Maven updated the message for the ArtifactResolutionException. Given the formatting of Maven artifacts, I'm not sure we can actually improve on this much, so I'd like to close th

[2016-06-21 17:00] dslomov commented on #1306
This happens when the file is cloned with Windows line endings.

[2016-06-21 17:19] thinlizzy commented on #1306
but I changed the configuration to clone the repo preserving the unix line endings and the error is still the same

[2016-06-21 17:20] thinlizzy commented on #1306
here: https://github.com/bazelbuild/bazel/issues/1300#issuecomment-220794672

[2016-06-21 17:42] ulfjack commented on #1431
I think it's reasonable to have it accept an empty list rather than error on an empty list.

[2016-06-21 17:42] ulfjack commented on #1431
Wrong button. Sorry.

[2016-06-21 17:44] ahumesky commented on #1428
Yes, this is all unfortunately under-documented, which we're working on.
The short answer is that you can depend on appcompat v7 with `@android-sdk//:appcompat_v7`
"Android Support Library" must be downloaded in the SDK manager for the dependency to work.

The the rules created for the SDK are available at
https://github.com/bazelbuild/bazel/blob/master/tools/android/android_sdk_repository_templat

[2016-06-21 22:21] kheuton commented on #1358
I'm not sure if I can re-open the issue, but the latest commit doesn't appear to fix the problem. I am still seeing the same errors:
[code]

[2016-06-21 22:24] madmik3 commented on #492
If you have multiple dependent shared libs is there a way to maintain those dependencies?  It seems like I would need to list all needed shared libs for any rule.  for example look at test. Is there a work around for this?

[code]

[2016-06-22 02:21] #1432 closed

[2016-06-22 02:56] YongCHN opened #1435 "tensorflow building issue on ubuntu 14.04 : C++ compilation of rule '//tensorflow/core/kernels:slice_op' failed"
I built the latest tensorflow code with bazel 0.2.3 but still encountered the problem here. as the output shows:

`
ERROR: /home/yong/workarea/gitlab/tensorflow/tensorflow/core/kernels/BUILD:333:1: C++ compilation of rule '//tensorflow/core/kernels:slice_op' failed: gcc failed: error executing command
  (cd /home/yong/.cache/bazel/_bazel_yong/1fca9a2a43129bbfd1d77a89027ab9c0/tensorflow && \
  exec

[2016-06-22 05:57] damienmg commented on #1358
Protobuf rules should set use_default_shell_env for invoking the protobuf compiler

[2016-06-22 06:04] philwo commented on #1358
@kheuton Yes, definitely reopen bugs if they're not actually fixed by commits :) Damien is right - your build is proceeding a bit more than before now, but now stumbles upon the protobuf rules, which do not set use_default_shell_env, so they're not picking up the LD_LIBRARY_PATH that seems to be necessary on your system.

I'll see what I can do about that. We're also working on a real fix for this

[2016-06-22 07:42] ulfjack commented on #1413
Blaze has a completely different implementation of TestStrategy, which doesn't go through SpawnStrategy, but instead talks to the remote execution system through another internal API (which is only used for this purpose). It manually overrides the set of output files, which implicitly removes test.cache_status (which is written by Blaze / Bazel after the test process finishes). I.e., test.cache_st

[2016-06-22 07:45] ulfjack commented on #1413
Ideally, we'd remove the test.cache_status files. I seem to remember discussing that with Han-wen back when he wrote the StandaloneTestStrategy. I think the proposal was to represent that in Skyframe / add a bit to the local action cache, but Skyframe wasn't fully rolled out at that time, so we would've had to add a workaround for the non-Skyframe code path.

[2016-06-22 07:46] damienmg commented on #1413
We need to fix that in the next quarter.

[2016-06-22 08:30] hermione521 commented on #1403
Sorry for the inconvenience. Working on it.

[2016-06-22 09:19] lberki commented on #1306
D'oh! I completely forgot about this bug for a month :( It's a simple issue in parser. Now I have a fix which should land tomorrow the latest.

[2016-06-22 10:50] #1371 closed

[2016-06-22 10:50] #706 closed

[2016-06-22 10:50] #1403 closed

[2016-06-22 11:25] damienmg commented on #1402
Ok. We discussed offline and that sounds reasonable to cover that use case. Repriotized accordingly. Hopefully we will get manpower to do it earlier.

[2016-06-22 13:37] philwo commented on #1435
Uh... "internal compiler error" doesn't sound good :)

Could you please try to run the exact command as printed by Bazel, including the braces and "exec env -"? This is important, because the behavior of gcc might depend on environment variables set.

Try to copy & paste this as-is to your terminal:
```(cd /home/yong/.cache/bazel/_bazel_yong/1fca9a2a43129bbfd1d77a89027ab9c0/tensorflow && \ exec en

[2016-06-22 14:32] #1422 closed

[2016-06-22 17:25] johnynek commented on #1394
@damienmg yes, it would be great for run to at least have an option to attach stdin.

That would be enough. I think with that, rules could make implicit targets that have repls so bazel does not need to know about it.

[2016-06-22 18:10] johnynek commented on #1394
sorry, @damienmg, to try to be clearer: I don't want a repl to give bazel commands (as you suggested). I want bazel to start a repl for a target (so start a java repl with some target's classpath, or a scala repl, etc....)

[2016-06-22 18:33] RocketDonkey opened #1436 "--experimental_ui does not respect --show_timestamps"
When running a command, passing the `--experimental_ui` option causes `--show_timestamps` to be ignored. This appears to be because [`ExperimentalEventHandler.handle`](https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/runtime/ExperimentalEventHandler.java#L108) does not check for the `showTimestamp` property.

[2016-06-22 20:24] gunan opened #1437 "Use SIGKILL when timing out a test, if SIGTERM fails to terminate the test."
We have a test, where it looks like one of the libraries we are including captures the SIGTERM signal, and prevents the test from exiting.
The test is small sized, but it never exits when we run it with "bazel test"

It would be nice if bazel can try SIGTERM, wait 10(or 2sec, I dont know) seconds, and if the process have not exited send SIGKILL.

Would this be an easy feature to add?

[2016-06-22 21:11] ioctl0 opened #1438 "py_rules.bzl no longer exported into @bazel_tools"
It appears the only .bzl file in tools/build_rules that's accessible is test_rules.bzl

[2016-06-22 22:37] a1k0n commented on #1403
LGTM, thanks

[2016-06-23 00:35] michaelsafyan opened #1439 "Combine "maven_jar" and "java_import". Allow maven to work outside of WORKSPACE."
Right now, one can import maven artifacts via `maven_jar`. However, it only works within the `WORKSPACE` file. This is problematic for organization, especially if many such jars are listed. For example, if I want these artifacts to be organized in a third-party directory structure, like:

[code]

... the restriction on listing these all in `WORKSPACE` becomes problematic. On top of that, it seems

[2016-06-23 00:44] michaelsafyan opened #1440 "License is inconsistent with visibility, other properties. Needs simplification/better opensource support."
For consistency, package-level `license()` should be replaced with `default_license` in the `package()` declaration (to mimic the `default_visibility` and `default_testonly` declarations).

On top of this, I think the value of `license` should be a target, not a simple string so that you can more properly specify the license (including the text). That is, it should be possible to define something

[2016-06-23 00:46] michaelsafyan commented on #188
+1000. I think it is also reasonable in the opensource version to have --check_licenses default to false.

[2016-06-23 11:11] #1089 closed

[2016-06-23 11:11] #1306 closed

[2016-06-23 12:01] abergmeier opened #1441 "Enable spaces in exports_files"
We put a binary Python archive in an external repo.

For that repository we had the `BUILD` file:

    all_files = glob(["**"])

    exports_files(srcs=all_files)

which is making Bazel complain about a target having a space (setuptools has a file with spaces in basename). Which I understand as a limitation for targets, but it is not always an option to remove paths with spaces from thirdparty lib

[2016-06-23 12:45] abergmeier opened #1442 "remote string in label_list default leads to RuntimeException"
When I add  the following line in external repo `foo`

    "_python_runfiles": attr.label_list(default=["@python//:whatever"]),

Bazel excepts:

    Unhandled exception thrown during build; message: Unrecoverable error while evaluating node 'SKYLARK_IMPORTS_LOOKUP:com.google.devtools.build.lib.skyframe.SkylarkImportLookupValue$SkylarkImportLookupKey@b926050d' (requested by nodes 'PACKAGE:@foo//')

[2016-06-23 14:19] uvaidya commented on #1353
Hi Sachinpro,
can you please help in letting me know , how to remove all dependencies related to png image format. I did all that is discussed above adn finally landed on 'zlib.h' problem. Tried to remove dependencies by removing png.BUILD call from workspace, but still some errors kept on coming up.
Please let me know what all need to be removed / or to be commented so that i can also build arm b

[2016-06-23 19:16] dmansfield commented on #429
Is this syntax supposed to work in a WORKSPACE file or only in BUILD files? (I'm having difficulty with it working in a WORKSPACE file with 0.3.0)

[2016-06-23 19:18] dmansfield commented on #429
Nevermind. I was missing something obvious. Works fine.

[2016-06-24 01:32] yugui opened #1443 "Top-level test rules execute wrong binaries"
The test driver `//tools/test/test-setup.sh` executes commands on `$PATH` instead of the actual test targets when the target test rule is defined in the top level package in the main workspace.
# How to reproduce
1. Put the following `BULID` file and `true.sh` into a top level package in a main workspace.
   - `BUILD`:

[code]
   - `true.sh`:

[code]
2. run the test

[code]
# Expected result

The

[2016-06-24 01:39] yugui commented on #1093
@kchodorow
I guess the behavior of C++ is this bug, #1443.

[2016-06-24 01:45] yugui commented on #1093
Confirmed.

Put the following files into the top level package of a main repository.
* `success.cc`:

[code]
* `BUILD`:

[code]

Then, `bazel test :test` fails but `bazel test :test --test_arg "1 = 1"` succeeds because I am running `/bin/test` instead of `bazel-bin/test`.

[2016-06-24 04:36] thinlizzy commented on #1306
Now the build is quickly and strangely failing with this error:
[code]
but the file seems to be there:
[code]

[2016-06-24 04:47] thinlizzy opened #1444 "Do not require users on Windows to set TMPDIR before compile.sh"
lberki has pushed a fix for https://github.com/bazelbuild/bazel/issues/1306 but now I am getting a different error, which shows up quicker than all other errors I was having:

[code]
but the file seems to be there:
[code]

[2016-06-24 06:41] philwo commented on #1437
This is definitely a useful feature and I wonder why we don't already do this (or maybe we try, but this is currently broken). I'll have a look next week!

[2016-06-24 06:42] philwo commented on #1438
@lberki Could you have a look at this for triaging? I'm not sure where this bug report fits best.

[2016-06-24 06:44] philwo commented on #1440
This is a very nice idea. Thanks :)

[2016-06-24 06:46] philwo commented on #1441
The fact that not all filenames are valid label identifiers is unfortunately a long-standing issue with Bazel. I totally agree with you here, that this should just work. Unfortunately a lot of code currently relies on the fact that labels contain no special characters or whitespace - it will take a while to sort this all out. We hope to fix this soon, though!

[2016-06-24 06:48] philwo commented on #1443
Thanks for the thorough description and investigation! This sounds like a pretty bad bug to me.

[2016-06-24 06:49] philwo commented on #1444
@lberki @dslomov FYI

[2016-06-24 08:01] dslomov commented on #1444
Per http://www.bazel.io/docs/windows.html, set TMPDIR to smth like `c:/temp`.
That should fix it, but we should also update our scripts so that it is not neccessary

[2016-06-24 08:13] #945 closed

[2016-06-24 08:15] lberki commented on #1438
I'm inclined to close this as Working As Intended, since Bazel has native Python rules, which work better than the Skylark rules in this file. What do @ioctl0 , what do you need this file for?

[2016-06-24 08:32] sachinpro commented on #1353
Deleting png.BUILD will not do. I don't know the most efficient way to do this but here's what I did:
1)Check all the BUILD files for any dependency  and remove it by commenting the corresponding statements.
2) Edit summary_image_op.cc and your label_image/main.cc to do the same. Just comment the  headers related to png and the parts of code which are trying to read through png files.

Note: You m

[2016-06-24 08:49] lberki opened #1445 "Workspace detection does not work on Windows"
When the two following conditions hold:
* Bazel is not run from a directory that has a WORKSPACE file in an ancestor directory
* The Bazel binary is copied from its location in the Bazel output tree to another location (I used `/tmp`)

Things don't work:

[code]

[2016-06-24 08:58] ulfjack commented on #1445
You said it seemed likely related to --batch.

[2016-06-24 09:00] lberki commented on #1445
But then I realized that it comes in non-batch mode, but then I realized that if you are not in a workspace, we always do batch mode :)

My best guess is that this is related to the argument escaping we do for `CreateProcess()`.

[2016-06-24 09:05] lberki commented on #1445
This is the offending part of the command line:

`"--client_env=VSSDK140Install=C:\Program Files (x86)\Microsoft Visual Studio 14.0\VSSDK\" --client_env=PROCESSOR_LEVEL=6 "--client_env=ProgramFiles(x86)=C:\Program Files (x86)" --client_env=ChocolateyInstall=C:\ProgramData\chocolatey`

, in particular, the `ProgramFiles(x86)=C:\Program Files (x86)"` part. I wonder, though how come this is  a proble

[2016-06-24 09:06] lberki commented on #1445
Oooh, I see -- when `--batch` is explicitly passed, we don't pass `--client_env` on the command line for whatever reason. And that's where the quoting breaks.

[2016-06-24 09:11] lberki commented on #1445
...and the issue is that `CreateCommandLine` is broken when an environment variable ends with a backslash *and* contains spaces: then quotes are added around it, but the backslash itself is not quoted, thus the argument will end with `\"`, which quotes the final quote that should end the argument.

[2016-06-24 10:14] uvaidya commented on #1353
thanks Sachinpro ,
I will carry out procedure you have mentioned and will let you know status after that .

Yes, i did exactly what you did . Your code will definitely help me .
What i want is to run arm binary on android device with arm processor, so aim was to build this label image binary for arm and then run it on device .

[2016-06-24 12:38] #1445 closed

[2016-06-24 13:40] kchodorow commented on #1441
Possibly a dup of #167.

[2016-06-24 13:41] abergmeier opened #1446 "py_library enforces Python 2 for some reason"
We are not interested in anything lower than Python 3 so we set all our `srcs_version` to `PY3` fpr `py_`\* rules. Still when Analyzing, Bazel complains:

[code]

The error message is quite unhelpful because it does not explain why it "needs" to be converted nor which thing is `not yet implemented`.

[2016-06-24 13:48] abergmeier commented on #1446
Workaround seems to be `--force_python=PY3` and `--host_force_python=PY3` in command line.

[2016-06-24 14:16] abergmeier opened #1447 "Accept a Target as a value of "executable" argument to ctx.action"
When trying to execute a `py_binary` on my Ubuntu 16.04

[code]

I get the following output:

[code]

[2016-06-24 20:59] AustinSchuh commented on #835
Ok, I finally found some time to test...

bazel build --stamp=no //...
-> 21:58.19

bazel build --stamp=no --experimental_multi_threaded_digest //...
-> 21:37.60

So, improvement!  I was watching top most of the time, and it looks like the sandboxes are holding things back now.  (I would see around 2-4 jobs actually doing work, and 10+ sandboxes starting up)

[2016-06-24 22:40] thinlizzy commented on #1444
I just did a git pull and ..
`Build successful! Binary is here: /c/bazel/output/bazel.exe`

thanks :+1:

[2016-06-25 08:16] dslomov commented on #1444
Fixed with 19fd76f4376fab4f11e11099aeaf34d36e1d44df.

[2016-06-25 08:16] #1444 closed

[2016-06-25 08:17] dslomov commented on #1444
@thinlizzy Happy to hear that!

[2016-06-27 07:52] uvaidya commented on #1353
Hi Sachinpro ,
I tried removing png dependencies, but error kept on popping up . Mentioning here details :
1) here is the structure of tools directory :-
[structure_uvaidya.txt](https://github.com/bazelbuild/bazel/files/334293/structure_uvaidya.txt)
2) made 2 directories in root of tensor flow directory :-
a) compilers :- (i have taken this from the wiki link mentioned by meteorcloudy) , attaching

[2016-06-27 08:57] uvaidya commented on #1353
got the same error , now for png,h _("./tensorflow/core/platform/png.h:26:2: error: Define the appropriate PLATFORM_<foo> macro for this platform
#error Define the appropriate PLATFORM_<foo> macro for this platform
 ^")_ .
This error  also pointed to platform not getting defined .

on another run of build command didn't saw this error (didn't made any change in code base though)

Next error which

[2016-06-27 09:46] damienmg commented on #1053
@bsilver8192 Can we start sharing those?

[2016-06-27 09:48] dslomov opened #1448 "All shell tests are failing with latest"
Starting here: http://ci.bazel.io/job/bazel-tests/73/
Culprit is https://github.com/bazelbuild/bazel/commit/a148b4c25a7e343eac6a9a972f482711f8bef944

[2016-06-27 11:10] damienmg commented on #1443
Why was I assigned to that bug?

[2016-06-27 11:11] damienmg commented on #1394
Ok I think this  is a legit use case but we probably won't work on it which mean contribution welcomed :)

[2016-06-27 11:14] damienmg commented on #1388
No answer, closing, please ping again if you think this should be reopened.

[2016-06-27 11:32] philwo commented on #1443
@damienmg Why not? :) Someone should look into this and I remember that you worked on our shell test framework in the past. Do you have a better person to assign this to?

[2016-06-27 11:33] dslomov commented on #1447
Is builders/texture.py executable? What file is pybin.files[0]?
Try replacing `executable = list(pybin.files)[0],` with `executable = pybin.files_to_run.executable`

[2016-06-27 11:36] dslomov commented on #1446
Need more helpful error message here

[2016-06-27 11:41] damienmg commented on #1443
This is loosely connected to our test framework, we have another related bug somewhere about not having ./ prefix on top level target in location expansion.

All tests target that are in the top-level package will not work.

[2016-06-27 11:42] #1448 closed

[2016-06-27 12:23] abergmeier commented on #1447
The `Permission denied` was an oversight by me. Referenced the `texture.py` in the label instead of the `pybin`.

Now using `pybin.files_to_run.executable` it fails with:

    namespace-sandbox failed: error executing command
      (cd /home/andreas/.cache/bazel/_bazel_andreas/4684e913feed063717ca6ee035b0e608/execroot/fusion && \
      exec env - \
      /home/andreas/.cache/bazel/_bazel_andreas/4

[2016-06-27 12:34] dslomov commented on #1447
FYI @philwo @hermione521

[2016-06-27 12:45] abergmeier commented on #1447
Interesting that I had the `.runfiles` error only once. On my second run, it works!? Is there maybe some dependency not expressed correctly?

[2016-06-27 12:58] ulfjack commented on #1203
This should be fixed at head, and in the next release.

[2016-06-27 12:58] #1203 closed

[2016-06-27 13:09] philwo commented on #1447
Could you try this?

[code]

This should automatically do the right thing and include the files of pybin and setup its runfiles for the action. :)

[2016-06-27 13:12] abergmeier commented on #1447
This gives me:

    expected file or PathFragment for executable but got RuleConfiguredTarget instead.

[2016-06-27 13:33] sachinpro commented on #1353
Use this https://github.com/sachinpro/sachinpro.github.io.git

[2016-06-27 17:47] uvaidya commented on #1353
Thanks Sachinpro will use link you provided , then will update the status .

[2016-06-28 00:00] fgeorgatos commented on #1388
sry, I haven't tested it yet (but a user reported to me some success, so
something must be working).
I will come back to this once I have confirmed it in first-person mode.

On 27 June 2016 at 12:14, Damien Martin-Guillerez <notifications@github.com>
wrote:

--
echo "sysadmin know better bash than english"|sed s/min/mins/ \
  | sed 's/better bash/bash better/' # signal detected in a CERN forum

[2016-06-28 08:30] damienmg commented on #1388
Ok reopening then.

[2016-06-28 10:59] uvaidya commented on #1353
Hi Sachinpro,
I tried with your code , got the following error :
_"dl-audio@powerbox:~/TF_01/sachinpro.github.io$ bazel build --crosstool_top=//tools/arm_compiler:toolchain --verbose_failures --sandbox_debug --cpu=armeabi-v7a tensorflow/examples/label_image/...
WARNING: /home/dl-audio/.cache/bazel/_bazel_dl-audio/e1cbd95e2c3289a79fe4b6e4c2b8efab/external/protobuf/WORKSPACE:1: Workspace name in /ho

[2016-06-28 11:20] uvaidya commented on #1353
For error mentioned above , do we need to have a change like
`filegroup(
  name = 'clang-as',
  srcs = [
    'clang_bin/as',
    ':as',
  ],
)`
In tools/arm_compiler/linaro_linux_gcc/BUILD ?

[2016-06-28 11:20] dslomov commented on #1447
Ok, I think @philwo's version should just work (it does not right now, but it should)

[2016-06-28 11:21] dslomov commented on #1447
(Changed the title accordingly)

[2016-06-28 11:27] sachinpro commented on #1353
What command are you using for compilation? Did you copy your arm toolchain to ./compilers ??

[2016-06-28 11:35] damienmg opened #1449 "Have a --keep_test_tmpdir to keep the tmpdir of tests and delete it by default."
@philwo has cleaned the whole output trees but we should fix the underlying problem.

[2016-06-28 11:37] uvaidya commented on #1353
I copied gcc-linaro-4.9-2015.05-x86_64_arm-linux-gnueabihf , which was mentioned in https://github.com/bazelbuild/bazel/wiki/Building-with-a-custom-toolchain in compilers .

command used is :
 _bazel build --crosstool_top=//tools/arm_compiler:toolchain --verbose_failures --sandbox_debug --cpu=armeabi-v7a tensorflow/examples/label_image/..._

[2016-06-28 11:41] sachinpro commented on #1353
Make the symlinks /tools/arm_compiler/linaro_linux_gcc/clang_bin/as and /tools/arm_compiler/linaro_linux_gcc/clang_bin/ld point to /tools/arm_compiler/linaro_linux_gcc/clang_bin/arm-linux-gnueabihf-as and /tools/arm_compiler/linaro_linux_gcc/clang_bin/arm-linux-gnueabihf-ld respectively .
I forgot to keep this in mind.

[2016-06-28 11:43] uvaidya commented on #1353
Sure will do this, and let you know
Thanks

[2016-06-28 11:52] uvaidya commented on #1353
did this :
_ln -s tools/arm_compiler/linaro_linux_gcc/clang_bin/as tools/arm_compiler/linaro_linux_gcc/clang_bin/arm-linux-gnueabihf-as_
 _ln -s tools/arm_compiler/linaro_linux_gcc/clang_bin/ld tools/arm_compiler/linaro_linux_gcc/clang_bin/arm-linux-gnueabihf-ld_

But got same error ...

[2016-06-28 12:05] uvaidya commented on #1353
Hi Sachin
made mistake in above command , basically the wrapper scripts in arm_compiler should be pointed to by a symlink inside clang-bin right ? Also to create symlink in another folder , we need to give full path of file .
After doing above atleast above mentioned error is not seen. :-) .
Thanks for pointing it out .

[2016-06-28 12:09] damienmg commented on #1441
Definitely dup of #167

[2016-06-28 12:09] #1441 closed

[2016-06-28 12:10] sachinpro commented on #1353
Yes , you need to give full path. Are there any more errors?

[2016-06-28 12:15] damienmg commented on #1125
@kchodorow: don't you have fixed that already?

[2016-06-28 12:27] uvaidya commented on #1353
Build is going on , will let you know once its finished .

[2016-06-28 12:44] uvaidya commented on #1353
Compilation got completed successfully .Thanks Sachin.
one more thing,
Now this binary should run on arm based android device, right ?

I pushed it to android device under system/bin
did chmod +x also , but when gave label_image as an argument for execution of file it returned error:
"No such file or directory" .
Have you executed this binary on arm based android device ?

Thanks

[2016-06-28 12:47] sachinpro commented on #1353
I have not yet executed this binary on an arm device. I am working on it . Will let you know when I have done that.

[2016-06-28 12:49] uvaidya commented on #1353
ok , Please let me know .
Thanks

[2016-06-28 13:00] dslomov commented on #1421
Sounds like no action is needed.

[2016-06-28 13:00] #1421 closed

[2016-06-28 13:50] abergmeier commented on #1421
@dslomov Correct. Thanks for maintaining that :)

[2016-06-28 14:33] #1438 closed

[2016-06-28 14:34] dslomov commented on #1415
@philwo, any more information we need here?

[2016-06-28 14:35] dslomov commented on #1414
@dfabulich any updates on this? Closing for now, but reply if you have more information.

[2016-06-28 14:35] #1414 closed

[2016-06-28 14:40] dslomov commented on #1411
@damienmg Any more information that is needed here?

[2016-06-28 14:46] kchodorow commented on #1125
Just need to submit it, got sidetracked by the doc fixit.

[2016-06-28 18:48] philwo commented on #1415
@dslomov No, this is a known issue, we know it's important and what needs to be done, but AFAIK unfortunately no one is actively working on this, because everyone is busy with other stuff :(

[2016-06-28 18:58] hhclam commented on #1415
philwo: Do you mean it's a known issue with directories or label syntax?

Is there a tracking issue for better directories support?

[2016-06-28 19:21] philwo commented on #1415
@hhclam Sorry, I meant it's a known issue that the label syntax is too strict.

In a way, it's also a known issue that our support for directories in general is bad - I wouldn't be surprised if sandboxing breaks, remote caching breaks (because how Bazel has no digest for directories), remote execution breaks (because how would you transfer a directory in the protocol?), ...

I remember @schroederc

[2016-06-28 19:27] hhclam commented on #1415
So it sounds like despite the issue with label syntax validation, directories should be better supported with remote caching and execution. This is a valid bug that I should fix.

[2016-06-29 08:57] #1436 closed

[2016-06-29 10:35] k6project opened #1450 "Name 'struct' is not defined"
I have a custom rule that takes a single string parameter (a JSON string).
The rule is defined as follows:

my_rule = rule (
...
attrs = { "json_string": attr.string() }
...
)

In the BUILD file  I try to invoke:

my_rule( name="...", json_string = struct(...<struct definition here>...).to_json )

When I run bazel build, i get the following:

name 'struct' is not defined

Can this be a bug, or am

[2016-06-29 13:12] dslomov commented on #1399
Reading first line of a file during a loading phase is infeasible, sorry.

[2016-06-29 13:12] #1399 closed

[2016-06-29 13:14] dslomov commented on #1135
Anything actionable here still?

[2016-06-29 13:14] #1135 closed

[2016-06-29 13:14] dslomov commented on #1328
I believe this is fixed at HEAD

[2016-06-29 13:14] #1328 closed

[2016-06-29 13:19] dslomov opened #1451 "Make sure java_binary can run in runfiles-less mode"
On Windows, we do not have runfiles tree per se.
Blocks #1212.

[2016-06-29 13:19] dslomov opened #1452 "Investigate and fix Pyhton rules on Windows in runfiles-less mode"
Blocks #1212

[2016-06-29 13:21] dslomov opened #1453 "Early-adopters distribution for Windows (with chocolatey package)"
A binary package that early adopters can use to quickly install Bazel on Windows

[2016-06-29 13:24] dslomov opened #1454 "Auto-detect and configure hard-coded paths on Windows"
1. Location of Visual Studio for MSVC compatibility scripts
1. Location of python
1. Location of msys bintools and msys-2.0.dll

Needed for #1453.

[2016-06-29 13:26] dslomov opened #1455 "Implement process control on Windows"

[2016-06-29 13:26] dslomov commented on #1189
Blocking #1455

[2016-06-29 13:28] dslomov commented on #1134
Blocks #1455

[2016-06-29 13:30] dslomov commented on #971
Blocking #1453

[2016-06-29 13:49] abergmeier commented on #1399
@dslomov Sorry for not updating this. We actually found ways to work around that.

[2016-06-29 18:55] davidzchen commented on #1450
AFAIU, Skylark functions, such as `struct()`, are only available in .bzl files and not BUILD files (@laurentlb, correct me if I'm wrong). What kind of JSON string are you trying to pass to your rule? Would it be sufficient to use the `string_dict` type for this attribute? If not, what is the motivation for passing the JSON string from inside the BUILD file rather than keeping the JSON in a file an

[2016-06-29 22:02] davidzchen commented on #1439
FWIW, `java_import` looks for a JAR file that is within the workspace. A hypothetical `local_jar` rule that searches for JARs outside the workspace would still be a repository rule since it is non-hermetic and would, under the current convention, be restricted to the WORKSPACE file.

In order to combine `maven_jar` with `java_import`, we would need to decide whether we should allow non-hermetic re

[2016-06-30 03:22] jgarvin opened #1456 "Installation broken on Ubuntu 16.04"
I followed the installation instructions to add the repository using **jdk1.8**. During the update step there is a warning complaining about i386 packages, even though I'm running 64-bit. I continued but this obviously should be fixed.

The install step results in **jdk1.9** being installed automatically for some reason (is the dependency for the bazel declared wrong?), leading to this known error

[2016-06-30 07:13] k6project commented on #1450
Well, some of our initial requirements included passing a certain small set of JSON data to build rule as a string, but i guess we can accomplish that in some other way. Anyways, thanks for the clarification.

[2016-06-30 07:13] #1450 closed

[2016-06-30 11:13] uvaidya commented on #1353
Hi SachinPro ,

I checked the binary created with cross compilation when performed with arm toolchain .
the details of file goes as follows :-
_ **ELF 32-bit LSB shared object, ARM, version 1 (SYSV), dynamically linked (uses shared libs), for GNU/Linux 2.6.16, BuildID[md5/uuid]=0xf2fe70777ae59604b558c8c774fb5148, not stripped**_

details of default binary, which we build with bazel build //project

[2016-06-30 11:27] sachinpro commented on #1353
Read this http://askubuntu.com/questions/690631/executables-vs-shared-objects . As such, there is no difference between them.

[2016-06-30 13:21] michaelsafyan commented on #1439
At the very least, allow non-hermetic rules under "third_party" (or some
whitelist of directories specified on the command line), please. Without
that, WORKSPACE files can become unacceptably large and disorganized.

On Wed, Jun 29, 2016, 18:02 David Z. Chen <notifications@github.com> wrote:

[2016-06-30 14:08] kchodorow commented on #1439
You can use `load()` statements from WORKSPACE files, to keep them shorter and more readable.

[2016-06-30 15:21] meteorcloudy commented on #1456
Bazel's deb package declares 'java8-sdk' as a dependency, but accroding to http://packages.ubuntu.com/xenial/java8-sdk openjdk-9-jdk is also providing this virtual package on Ubuntu 16.04. However, that's not the case on Ubuntu 15.10, to adapt this change we will find a way to exclude openjdk-9-jdk soon.

But fortunately, there is still a simple workaround for your case.
Which is to completely rem

[2016-06-30 18:47] dfabulich commented on #1414
I've struggled to reproduce this, but I have found something odd that I think may help me to reproduce it.

When the hazelcast server is down entirely, I can reproduce the problem with the Bazel 0.3.0 deb install on Ubuntu Vivid, but not when I build the 0.3.0 tag locally.

With the official Bazel 0.3.0 deb install on Ubuntu Vivid:
[code]
When I run `bazel build :y` with https://github.com/dfabuli

[2016-06-30 19:09] dfabulich opened #1457 "Bazel not compatible with Hazelcast 3.6"
The Hazelcast 3.5 client isn't compatible with the Hazelcast 3.6 server.

https://github.com/hazelcast/hazelcast/issues/8457

Apparently Hazelcast 3.5 includes a prototype build of a "new" client protocol which is finalized in Hazelcast 3.6.

Bazel is using Hazelcast 3.5.4, and should upgrade to the new thing.

[2016-06-30 19:11] dfabulich commented on #1457
This is not the first time Hazelcast has broken backwards compatibility in minor version updates. Here's a thread about a breakage in 3.2.

As far as I'm aware, the Hazelcast team has made no commitment to ensuring backwards compatibility in minor updates in the future, so upgrading to the `java-client-new` Hazelcast 3.6 client does not guarantee that the client will work in Hazelcast 3.7.

[2016-06-30 19:13] hhclam commented on #1457
dfabulich: you're right. The direction is that we'll move the bazel <-> distributed cache server protocol to be based on gRPC and not based on the native protocol of the key value store used.

[2016-06-30 20:42] ioctl0 opened #1458 "Sandboxing replaces some empty files with char device 1, 3 (/dev/null)."
When setting up the sandbox, bazel mounts /dev/null in place of at least some empty files, producing character device nodes instead of regular files. This can cause subtle problems in code that explicitly checks the S_IFREG bit.

In particular, this causes mysterious failures when loading python3 namespace modules due to importlib performing isfile() checks on `__init__.py` files.

[2016-06-30 23:25] ronxperiel opened #1460 "Bazel sandboxed python multiprocessing file not found error"
When trying to bazel build a python script that uses mutex locks on /dev/shm, it fails if the number of cores is greater than 1 (we desire greater than 1). To fix this we need to specify a bazel flag  '--spawn_strategy=standalone' , which we do not desire.

we give this command to the ctx.action
cmd += "echo \"import _multiprocessing as ms \nfh = ms.SemLock(1,1,1) \nfh.label\" > p.py;"
cmd += "pyt

[2016-06-30 23:32] pgr0ss opened #1461 "generate_workspace generates incorrect sha1 on some maven jars"
Most maven jars work just fine, but I've run into a few that generate an incorrect WORKSPACE. For example:

[code]
[code]

As you can see, it somehow put a path into the `sha1` field. I'm running latest master:

[code]

[2016-07-01 02:20] yugui opened #1462 "File#short_path in Skylark is not resolvable from its root"
The behavior of `short_path` method of `File` type in Skylark has changed in Bazel 0.3.0.
Although it looks to be related to the runfiles structure change, I doubt if this change of `short_path` was intentional because the new behavior looks to be different from its documentation.

`short_path` of a File in an external repository used to [return a relative path from `$(SRCDIR)`](https://github.com

[2016-07-01 02:26] tomzx opened #1463 "bazel fails if workspace is not on C:"
Hi,

I'm trying to build master (a18add1613574a15c81f60bde847c5d7b2bedcb5) following the instruction provided and I'm getting the error below. The path to my java jdk is correct and the folder does indeed exist. Furthermore, I can see that the first part of the compile script calls `javac` from that directory without any issue.

I'm willing to try and debug this out if someone is willing to provid

[2016-07-01 04:34] noctarius commented on #1457
This is what it was in the past. The new client protocol was created to ensure exactly that. The plan was that starting with the dev preview in 3.5 this is true, however we found some flaw in the protocol that had to be fixed and broke backwards compatibility. Starting with 3.6 the protocol can evolve in both directions forwards and backwards.

I wasn't aware of this project to use Hazelcast but s

[2016-07-01 09:06] abergmeier opened #1464 "download_and_extract failing"
I changed a call to `new_http_archive` to now use a custom `repository_rule`. Inside the rule I try to use `download_and_extract` to fetch an archive:

    ctx.download_and_extract(
      "http://server/linux.tar.xz",
      ".",
    )

Which fails with:

    ERROR: /BUILD:20:1: no such package '@foo//': java.io.IOException: Error downloading from http://server/linux.tar.xz to /.../external/foo/@fo

[2016-07-01 09:12] damienmg commented on #1464
Yes this is a known issue but #623 is unrelated.

ctx.file("empty") before it should fix. I believed I fixed this bug at HEAD.

[2016-07-01 09:14] damienmg commented on #1464
Yes this was fixed (see #1172), the fix is b0119d7

[2016-07-01 09:14] #1464 closed

[2016-07-01 09:21] abergmeier commented on #1464
Indeed. Dumb me was running a stock 0.3 instead of our internal version (with b0119d7 in). Thanks.

[2016-07-01 09:28] abergmeier opened #1465 "repository_ctx label attributes not properly bound"
This might not be a bug.
Implementing repository_rule like so:

[code]

and in `WORKSPACE`:

[code]

Leads to it not searching `BUILD.spec` in the root but in external.
Changing to:

[code]

works though.

Intended?

[2016-07-01 09:35] abergmeier commented on #1465
Find it strange that `third_party/BUILD.spec` works in the build-in repo-rules.

[2016-07-01 10:04] glorey commented on #1358
@philwo what's the work-around, i am stuck here

[2016-07-01 11:33] ihsandemir commented on #1457
@dfabulich  We also released our Open Binary Client Protocol as of version 3.6 here: http://hazelcast.org/documentation/

The protocol is guaranteed to be backward compatible for minor versions starting at 3.6, hence you should be OK with 3.6 and forward. The new client in 3.5 was as @noctarius mentioned was a dev-preview version, and it was finalized at 3.6.

[2016-07-01 11:49] damienmg opened #1466 "/tmp/bazel.XXXXXXX is not always removed after ./compile.sh"
We have a 100 of them in ci.bazel.io.

[2016-07-01 11:50] damienmg commented on #1466
"not always" might be a euphemism

[2016-07-01 13:35] abergmeier opened #1467 "objc_library not passing along cc deps"
We have the following setup.

    cc_library(
      name = "base",
      hdrs = [ "include/base.h" ],
      includes = [ "include" ],
    )
    objc_library(
      name = "objc",
      srcs = [ "my.mm"],
      deps = [ ":base" ],
    )

Now if a cc_library `foo` depends on `objc`, it can not access `base.h`.

For that to work I have to add:

    cc_library(
      name = "objc_cc",
      deps = [ "