[2016-07-01 15:05] damienmg opened #1468 "bazel doesn't support sh_binary with pl file."
More specifically, using a pl file as a tool from a skylark rule will not work because of src/main/java/com/google/devtools/build/lib/util/CommandBuilder.java#L49

We should allow more runner.
Internal ref: b/29485606

[2016-07-01 15:21] dfabulich commented on #1457
@noctarius @ihsandemir if you can weigh in on https://groups.google.com/forum/#!msg/hazelcast/KPdH-4cVzyw/KEyJnqQqBQAJ and/or https://groups.google.com/forum/#!topic/bazel-discuss/sWjUalkGIwg that would be a huge help.

[2016-07-01 23:40] pgr0ss commented on #1461
Upon further investigation, it seems like there are different formats to the sha1 file in maven:

[code]

Would you be open to a pull request that splits on whitespace and returns the first entry here? https://github.com/bazelbuild/bazel/blob/7d265e07e7a1e37f04d53342710e4f21d9ee8083/src/tools/generate_workspace/src/main/java/com/google/devtools/build/workspace/maven/Resolver.java#L275-L276

[2016-07-03 08:36] davidzchen commented on #1236
This was fixed by 7453175.

[2016-07-03 08:36] #1236 closed

[2016-07-03 08:36] davidzchen commented on #711
This is already done.

[2016-07-03 08:36] #711 closed

[2016-07-03 10:45] ulfjack opened #1469 "Rust + cc_configure == crash"
I get a Bazel crash if I add both cc_configure and Rust setup to my WORKSPACE file:
[code]

[code]

[2016-07-03 10:55] ulfjack commented on #928
Since MSVC works, can we close this now?

[2016-07-03 11:11] ulfjack commented on #1469
It looks like switching from ImmutableMap.Builder to LinkedHashMap works. See:
https://github.com/ulfjack/bazel/commits/fix-workspace-factory

[2016-07-04 06:01] bsilver8192 commented on #1460
What distribution (I'm assuming Linux) is this? Where is the `_multiprocessing.x86_64-linux-gnu.so` (or similar, basically `_multiprocessing.*.so`) file on your system? On my Debian Jessie system, `dpkg -S _multiprocessing.*.so` gets me `/usr/lib/python2.7/lib-dynload/_multiprocessing.x86_64-linux-gnu.so`. If you find where that is on your system and pass the containing directory to [--sandbox_add

[2016-07-04 07:20] #1466 closed

[2016-07-04 07:22] lberki commented on #928
I'd rather not, since I consider the current implementation a hack. But maybe it's good enough?

[2016-07-04 07:35] ulfjack commented on #928
Then either update the bug to say that how we should improve it, or file a new one?

[2016-07-04 09:00] philwo commented on #1460
/dev/shm is not available in the current sandbox - could you try to --sandbox_add_path=/dev/shm and see if that makes it work? We should probably mount a fresh tmpfs there instead.

[2016-07-04 09:11] aehlig commented on #1461
Yes, thanks! Feel free to send a pull request for this issue.

--
Klaus Aehlig
Google Germany GmbH, Erika-Mann-Str. 33, 80636 Muenchen
Registergericht und -nummer: Hamburg, HRB 86891
Sitz der Gesellschaft: Hamburg
Geschaeftsfuehrer: Matthew Scott Sucherman, Paul Terence Manicle

[2016-07-04 09:44] davidzchen opened #1470 "No param docs available for Skylark methods that are SkylarkCallables"
Currently, there are no param docs available for Skylark methods that are Java methods (as opposed to Skylark builtins). This is because, unlike `SkylarkSignature`, the `SkylarkCallable` annotation does not supporting documenting individual params.

[2016-07-04 09:49] damienmg commented on #1470
I was working on fixing that along with adding description of parameters to enable kwargs for skylark remote repository. I have a CL almost ready for it but I had to put it on hold for other higher priorities items.

[2016-07-04 09:52] davidzchen commented on #1470
Awesome!

[2016-07-04 12:01] abergmeier opened #1471 "Name clash in repository_ctx"
According to `attr.label`:

When trying to use this with `repository_ctx` it does not work since `repository_ctx.file` already is a function.

[2016-07-04 12:38] damienmg commented on #1465
Ok this is WAI if mylabel is of type string.

The string get then converted directly to a path, not converting to a label in between. Declaring it as a label should works (although third_party/BUILD.spec would be converted to //external:third_party/BUILD.spec in the context of the workspace).

[2016-07-04 12:41] abergmeier commented on #1465
Here is the missing rule:

    def _impl(ctx):
      ctx.symlink(ctx.attr.mylabel, "BUILD")

    my_repo_rule = repository_rule(
      implementation = _impl,
      local = False,
      attrs = {
        "mylabel": attr.label(allow_files = True, mandatory = True)
      }
    )

[2016-07-04 12:45] damienmg commented on #1465
Ok this is definitely a bug then :)

[2016-07-04 13:04] damienmg commented on #1471
We should somehow fix the documentation yes.

[2016-07-04 14:03] #1456 closed

[2016-07-04 14:29] abergmeier opened #1472 "PATH override in repository_ctx.execute leads to key error"
When I have the following:

    env = dict()
    env["PATH"] = "foo"

    repository_ctx.execute([
        "sh",
      ],
      600,
      env
    )

I get an error:

    Multiple entries with the same key: PATH=foo and PATH=systemstuff

Is overriding possible at all?

[2016-07-04 15:21] aehlig commented on #1472
Just a side remark: For environment variables, especially the PATH one,
we're eventually moving to a new design, see
http://www.bazel.io/docs/designs/2016/06/21/environment.html so the
current state of affairs is a bit in flux anyway.

--
Klaus Aehlig
Google Germany GmbH, Erika-Mann-Str. 33, 80636 Muenchen
Registergericht und -nummer: Hamburg, HRB 86891
Sitz der Gesellschaft: Hamburg
Geschaeftsfue

[2016-07-04 15:41] abergmeier commented on #1472
Sounds interesting. Any ETA?
As a side side remark: We need `PATH` not only in the rule_ctx but also in repository_ctx.
And maybe I missed it but will externals use the root (WORKSPACE) rc, too?

[2016-07-04 16:04] ikttan commented on #935
I solved mine using "sudo update-alternatives --config javac" and set it to the right option.  (Note: it is for javac not java).

[2016-07-04 20:22] aehlig commented on #1462
I can confirm that this is a difference between the documentation and the implementation. Assigning to @kchodorow to determine whether the bug is in the implementation or documentation.

[2016-07-04 20:26] aehlig commented on #1463
Assigning to @dslomov who has more knowledge about Windows.

CC @kchodorow

[2016-07-04 20:34] aehlig commented on #1472
Our current plan is to implement it by end of September, but don't hold your breath; it might well slip a month or two.

The design as it currently is will use the current rc-file mechanism. That is, rc-files are read
at bazel invocation (so, before any workspace file is read) and apply to any action that this bazel invocation carries out.

[2016-07-04 20:43] ulfjack commented on #1469
I think this is just the duplicate cc_configure call, and doesn't have anything to do with rust.

[2016-07-04 20:44] aehlig commented on #1472
Just to clarify: would a well-document current, or future status as per the design work for you? If not, could you give an example of a use case that would not work?

CC @philwo

[2016-07-04 20:55] aehlig commented on #1467
This is working as intended, as `base.h` would only be an indirect dependency of
that new library. See the [header inclusion checking](http://www.bazel.io/docs/be/c-cpp.html#hdrs) section of the [cc_library_rule](http://www.bazel.io/docs/be/c-cpp.html#cc_library).

[2016-07-04 20:55] #1467 closed

[2016-07-05 07:25] abergmeier commented on #1472
So with regards to the initial issue - I think the problem lies directly in `ImmutableMap.Builder`. Working around that "limitation" would be relatively easy in `SkylarkRepositoryContext`.
With @damienmg bragging ;) that he will make `SkylarkRepositoryContext` shinier and better soonish I wonder whether I should fix this.
(Currently) I could sit this one out for a month if necessary.

[2016-07-05 07:27] noctarius commented on #1457
I asked engineering to look into it, unfortunately there is a lot going for 3.7 release at the moment but it will cool down over the next days. We're looking into this, I'll keep you posted!

[2016-07-05 07:29] abergmeier commented on #1472
@aehlig With our current requirement - yes this should work (we only need paths to inside Bazel).
That being said it seems to me that stuff like appending to variables is not possible with this approach, right?
So the infamous `LD_LIBRARY_PATH=myjunk:$LD_LIBRARY_PATH` can not be mapped with rcs?

[2016-07-05 09:00] aehlig commented on #1472
Good to hear. So we proceed with the current plan.

Yes, not directly. But no one prevents you from doing a
[code]
next to the `WORKSPACE` immediately after checking out the repository in question.

[2016-07-05 09:02] aehlig commented on #1472
Assigning a low priority to the documentation issue, as it probably makes more sense to spend effort into implementing the new design than documenting the old status quo.

[2016-07-05 09:04] damienmg commented on #1472
This has nothing to do with sandboxing and this was fixed at head IIRC.

[2016-07-05 09:04] damienmg commented on #1472
/cc @kchodorow isn't that the bug you fixed recently?

[2016-07-05 09:23] sushantMoon commented on #885
It worked for me by setting  --jobs 10 and --ram_utilization_factor 50.
Basically i am trying to build the tensorflow python pip package from source, so the command now becomes,

bazel build --jobs 10 --ram_utilization_factor 25 -c opt //tensorflow/tools/pip_package:build_pip_package

I think this is happening cause of the poor specs of the machine.

[2016-07-05 09:57] abergmeier commented on #1280
I am a little confused here. I do have a `cc_library`, which depends on a `objc_library` and "seems" to work. And I am at an earlier revision.
Or am I misunderstanding!?

[2016-07-05 10:28] #921 closed

[2016-07-05 11:00] dzhwinter opened #1474 "[install error] install failed on RedHat"
(gcc version 4.4.4 20100726 (Red Hat 4.4.4-13) (GCC) )
java version "1.8.0_45"
Java(TM) SE Runtime Environment (build 1.8.0_45-b14)
Java HotSpot(TM) 64-Bit Server VM (build 25.45-b02, mixed mode)
it complains about the G_LIBC Version `GLIBC_2.14' not found , but my ldd command responce me this.which is the libc6 version of system.

[code]

I had followed the install guideline, but install failed a

[2016-07-05 13:23] abergmeier opened #1475 "Handle native python modules"
Currently when trying to build native python modules it seems to be a one way street.

One can create the native module quite easily via:

[code]

but when trying to set it as a dependency it of course is missing the `py` provider:

[code]

Sadly I also cannot add the `cc_library` as `srcs` of a `py_library`.
Now my question is how would one express the dependency?
For `py_test` to work properly y

[2016-07-05 13:24] natemccoy opened #1476 "32-bit Build on Debian 8 Jessie Fails, Output folder empty"
I reviewed a few open issues such as #1340 and #850 which are related to 32-bit builds but cannot compile from source.

I followed the instructions on the installation page but nothing seems to be built, the return code from the compile script is non-zero which seems odd to me.

    $ git clone https://github.com/bazelbuild/bazel.git
    Cloning into 'bazel'...
    remote: Counting objects: 104943

[2016-07-05 14:12] abergmeier commented on #1475
This might be related depended on https://github.com/bazelbuild/bazel/issues/146

[2016-07-05 14:19] aehlig commented on #1476
From the output it is clear that the initial java compilation somehow failed; so the whole bootstrap process got aborted with non-zero exit value. Your build did not even get to the "Building Bazel with Bazel" step. Everything happening till there is an invocation of the protoc compiler, javac for getting your bootstrap bazel, and  a bunch of archive invocations.

If you set the environemnt variab

[2016-07-05 14:20] aehlig commented on #1476
Can you please run `env VERBOSE=yes ./compile.sh` and report about your findings?

[2016-07-05 16:04] natemccoy commented on #1476
Hi @aehlig , so I tried what you told me and I will try and truncate the output for brevity.

It gives a `OutOfMemoryError` exception in the `master` branch, but if I run a build from another branch I don't get this error (which can be seen below).

I cloned the master branch again, to make sure the process was repeatable:

    $ git clone https://github.com/bazelbuild/bazel.git
    $ cd bazel/

[2016-07-05 16:17] dfabulich commented on #1457
Enes Akar replied to my post on the Hazelcast list, asking if we could reproduce this issue with Hazelcast 3.6. https://groups.google.com/forum/#!msg/hazelcast/KPdH-4cVzyw/KEyJnqQqBQAJ

That would, of course, require upgrading to Hazelcast 3.6. I'll start on that tomorrow (unless someone else can get to it before me).

[2016-07-05 19:50] noctarius commented on #1457
If you have any question ping me on twitter or here. I'm on-site a customer but I'll try to keep an eye on messages from you :)

[2016-07-05 20:27] ittaiz commented on #1395
@damienmg wdyt? I can do whatever change you think is best.
If you're good with either I'll just pick one and send a PR

[2016-07-05 21:28] syed-ahmed commented on #1264
Hi,
I ran into a similar error on a Jetson TX1 board. It says "ERROR: No toolchain found for cpu 'unknown'". I will try rebuilding with this change by @wtfuzz. Do I still need to do this step: protobuf 3.0.0-beta-2 was compiled with --enable-shared=no, and static protoc copied into ~/bazel/third-party/protobuf/protoc-linux-arm32.exe? is bazel build limited to arm32 only?

[2016-07-05 22:33] ioctl0 commented on #1475
I've gotten this to work by building the extension as a cc_binary shared object (linkstatic = 1, linkshared = 1), and adding it in the 'data' section of py_library rules that depend on it.

[2016-07-06 07:23] abergmeier commented on #1475
How does using `cc_binary` differ from `cc_library`?
The data dependency does work but does not provide the `import` paths AFAIK.

[2016-07-06 09:14] aehlig commented on #1476
Hi,

It is not unplausible, that the amount of memory needed for the initial compilation of bazel
from scratch has increased since the the 0.1.0 release. I'm not sure what the defaults are on
your system, but a quick experimentation hints that you need about 512m of heap space for the initial
compilation, which is still addressable on a 32 bit system. So you can try the following diff
to tell your

[2016-07-06 09:31] dzhwinter commented on #1474
Can  I ask another question, which release can avoid such a bug to build tensorflow successfully?
Thanks.

[2016-07-06 10:02] abergmeier opened #1477 "Bazel linking wrong crtbegin variant."
It currently seems like you cannot use `linkopts=['-static']` for shared libraries.
I have the following define:

[code]

Finally `ld` complains:

[code]

which is of course a valid complaint, since a shared library should be produced. So it should link against `crtbeginS.o`.

Since I do not see any argument in the commandline which would enforce `crtbeginT.o` it probably is necessary to replace i

[2016-07-06 10:02] dslomov commented on #1474
What does
[code]
say?

What is your LD_LIBRARY_PATH? What is your PATH? What does ``which gcc`` say on your system?

It looks like the settings you have during the bazel execution are incompatible with the environment bazel used while building itself.

[2016-07-06 11:26] dzhwinter commented on #1474
my environment is:
[code]
it return me this string as response
[code]

[2016-07-06 11:30] lberki opened #1478 "Output of failing actions is not shown on Console on Windows"
Repro is easy: write a genrule that fails but writes something to stdout before, build it, observe the lack of the message on the console.

I suspected my Windows JNI changes, but this is even the case with `--host_jvm_args=-Dio.bazel.EnableJni=0`, so I don't think it's that. @meteorcloudy suspects
https://github.com/bazelbuild/bazel/commit/1e37a5375f918376c132fa537e25695f673f41b8

Maybe an intera

[2016-07-06 11:31] lberki commented on #1478
I'll take a look, at least as far as to figure out what the root cause is.

[2016-07-06 11:34] meteorcloudy commented on #1478
@dslomov is also taking a look

[2016-07-06 11:36] lberki commented on #1478
Great (I'm currently in a pit I dug myself into on a very different front)

[2016-07-06 13:16] ioctl0 commented on #1475
AFAIK, the exact output of `cc_library` shouldn't be relied on -- it could produce shared objects, a static library, or both, and the naming scheme isn't exactly pretty. It also may not be linked against third party libraries in your linkopts? Not sure about that.

Have you tried making a wrapper py_library wrapper in the same package? Something like this:

    py_library(name = 'foo', data=[':foo

[2016-07-06 13:30] abergmeier commented on #1475
The problem arises as soon as you no longer have `foo.so` but `@ext//some/completely/other:path.so`. Getting that into imports I haven't figured out yet.

[2016-07-06 13:32] k6project opened #1479 "select() in rule attribute used in output causes exception"
Hello,

I have a custom rule set up as follows:

the_rule = rule(
    implementation = _the_rule_impl,
    attrs = {
        "json_prms": attr.label(allow_files = True, mandatory = True, single_file = True),
        "file_name": attr.string(mandatory = True),
    },
    outputs = {
        "out": "%{file_name}",
    }
)

Now, when invoking:

the_rule(
    name = "run_my_rule",
    .....
    file_n

[2016-07-06 13:33] ioctl0 commented on #1475
Sure -- that's why I suggested using the wrapper `py_library`. You can put `imports` on that, and the data dependency (the `.so`) should get pulled in transitively.

[2016-07-06 14:27] #1280 closed

[2016-07-06 14:44] kchodorow commented on #1472
Which bug?

[2016-07-06 14:59] dmitris commented on #587
I've been having the same or similar issue until I commented out in my .gitconfig:
[code]

[2016-07-06 15:06] kchodorow commented on #1462
Well, the goal is to have .path _also_ return ../com_github_golang_glog. bdfd58a8ca2ed5735d6aaa5b238fb0f689515724 did this (which was rolled back, but I'm hoping to send a code review to roll it forward today). So, it's kind of going to go in the other direction: path is going to be updated to match short_path.

For now, can the go rule just use path, if they aren't trying to reference runfiles?

[2016-07-06 15:47] meteorcloudy opened #1480 "Building example cc_binary on Windows with MSVC crosstool is failing"
I tried to reset to commit 74dcfee2daa23934178579b2e5987178c51c73e2, and the build failed like this with a CMD window poping out and disappearing:
[code]

But it succeeded at the parent commit c4aeb0424f5882c7f3b6497a1e4c21c285d6fd0a

[2016-07-06 17:39] jart opened #1482 "Bazel needlessly downloads un-select()'d external deps"
Assume I have the following:

[code]

Bazel will download `@clang_macosx` even if I'm Linux, and vice versa. This forces Linux users to pay the price of an additional 139MB download + disk space that they don't need.

It would be nice if Bazel was smart enough to not take into consideration references to external dependencies, within `select()` clauses that aren't selected.

[2016-07-06 19:48] kchodorow commented on #1482
Unfortunately, the WORKSPACE file is evaluated before `select` can be used.  As a workaround, you could change it to @clang and then create a repository_rule that downloaded the right clang based on what uname returns.

[2016-07-06 19:55] abergmeier commented on #1482
@jart is creating a `clang_repository = repository_rule(` not an option for you? That's at least the way we usually handle this.
In `WORKSPACE` you would then only have a `clang_repository( name = "clang" )`.

[2016-07-06 20:01] davidzchen commented on #1408
Hi @nelhage, we are definitely still interested in replacing the Java `git_repository` rules with your `bazel_git_repository` rules. Can you start a Gerritt review for getting the rules merged into Bazel? I think `tools/build_defs/repo` would be a good place to import the rules.

To get the Git integration tests to pass with the new rules, we would need #1289, but we can import the rules first and

[2016-07-06 20:56] jart commented on #1482
I can employ that workaround. Thank you.

[2016-07-06 20:56] #1482 closed

[2016-07-06 21:50] nelhage commented on #1408
@davidzchen I've opened https://bazel-review.googlesource.com/#/c/3982/ with an import of the current version from `bazel_git_repository`. I haven't imported any tests yet.

[2016-07-06 21:59] davidzchen commented on #1408
Awesome, thanks!

[2016-07-06 23:00] dfabulich opened #1483 "BazelShutdownLoggerModule deactivates all Bazel logs"
The first thing [`BazelMain.java`](https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/bazel/BazelMain.java#L42) does on startup is to shutdown all JDK logs.

[`BazelShutdownLoggerModule.java`](https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/bazel/BazelShutdownLoggerModule.java)

[code]

The comment says, "Shutdown

[2016-07-07 02:02] jgarvin commented on #1456
the purge command worked for me thanks :)

[2016-07-07 07:34] yolanda93 opened #1484 "error adding Bazel distribution URI as a package source"
curl https://storage.googleapis.com/bazel-apt/doc/apt-key.pub.gpg | sudo apt-key add -
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0curl: (77) error setting certificate verify locations:
  CAfile: /etc/pki/tls

[2016-07-07 08:42] #1134 closed

[2016-07-07 09:23] abergmeier commented on #1482
@kchodorow Curious whether you would see using `repository_rule` as a workaround or whether this would be the intended approach.

[2016-07-07 09:48] jart commented on #1482
It's hard to say. I think the select solution is already ugly. I do however wish it did the right thing. I'm not sure how I'm going to use `uname` in the correct manner yet. It's probably going to be a lot more code for me to write the custom repo rule. But I don't care as long as it saves the user a gigantic download.

[2016-07-07 10:10] aehlig commented on #1484
As the error message "curl: (77) error setting certificate [...]" indicates, the problem is in your set up of curl. Please check your curl configuration, in particular the part specifying the trusted CAs. Also note, that you do not have to use curl; you can use any browser you trust to download the public key from the mentioned URL.

[2016-07-07 10:10] #1484 closed

[2016-07-07 11:20] #1461 closed

[2016-07-07 11:20] #1480 closed

[2016-07-07 13:52] kchodorow commented on #1482
I see it as a workaround, but probably a long-term one.  I think we do need to "fix" select (or something like it) to be usable from the WORKSPACE file. Maybe as we make it easier to define a "platform" this will  work itself out.

[2016-07-07 14:01] jart commented on #1482
Having select() work from a workspace file would be awesome.

On Thu, Jul 7, 2016 at 9:52 AM, Kristina <notifications@github.com> wrote:

[2016-07-07 14:36] kchodorow opened #1485 "Have some concept of platform that can be used from WORKSPACE and BUILD files"
This has come up several times, but it is confusing to people that select doesn't work from the WORKSPACE file (nor in certain contexts).  It would be nice to have something select-ish that let people switch behavior based on platform.

[2016-07-07 14:37] kchodorow commented on #1482
This has come up before, I filed #1485 as a general FR.

[2016-07-07 16:40] ulfjack commented on #1483
Yeah, it's weird. In the beginning, we had a bug that bazel was spewing log output to stderr when passing --batch as a startup option, i.e., in 'batch mode'. The module creation predates the AddJvmArguments - maybe someone forgot to remove the module when fixing the startup arguments?

If everything works without the module now, then we should probably drop it.

[2016-07-07 16:54] dfabulich commented on #1483
Did a batch build with the module removed and stderr looks fine. https://bazel-review.googlesource.com/3990

[2016-07-07 19:07] djrenren commented on #914
We ran into this as well at https://github.com/google/kythe and solved it by creating platform specific rules  and selecting which rule to run. This had the annoying side-effect of creating rules that don't work on different platforms. Would love to just have a `SHARED_LIB_EXT` constant or something.

[2016-07-07 19:13] jmmv commented on #914
Note that just parameterizing the extension is not sufficient to fix the build of shared libraries properly, so `SHARED_LIB_EXT` would be a hack.

For example, Unix `so` libraries follow the pattern `lib<name>.so.<major>` whereas Darwin's `dylib` libraries follow the pattern `lib<name>.<major>.dylib` (and various other combinations including major and minor versions). I.e. The version number goes

[2016-07-07 21:27] abergmeier opened #1486 "--null option for query"
In order for other programs to be able to easier process the Bazel query output it would be great if Bazel had an option to replace the line break with `\0`. E.g. for grep it is `--null`.

[2016-07-07 21:28] marczych commented on #1413
I'm having the same issue. Is there any workaround other than not using distributed caching when running tests?

[2016-07-08 01:30] yugui commented on #1462
@kchodorow

I've added a short-term workaround in rules_go.  But IIUC, your change makes this workaround also broken because it still depends on that `.path` gives a path to the file in `execRoot` as described in the document.
Although it might be still possible to use `ctx.expand_location`.

What is the recommended way to get paths to files in execRoot when I build command line arguments in Skyla

[2016-07-08 08:48] ulfjack commented on #1483
Did you try both with --batch and without? We may not have full test
coverage on github for that (sorry).

On Thu, Jul 7, 2016 at 6:54 PM, dfabulich <notifications@github.com> wrote:

[2016-07-08 09:22] dzhwinter commented on #1474
Any suggestions?  I will use bazel to build tensorflow, Is there any release may be work?
Thanks.

[2016-07-08 09:38] dslomov commented on #1474
When Bazel builds itself, it uses gcc from /usr/bin/gcc, which is apparently a different gcc from what you have in `/opt/compiler`.  I think you can try to set `CC=/opt/compiler/gcc-4.8.2` before you compile Bazel.

[2016-07-08 09:39] abergmeier opened #1487 "Enable adding custom fragments"
While `ctx.fragments.[fragment name]` is nice it currently seems like we cannot use it for custom tools.
It would be great if it would be able to add custom fragments either with the .rc mechanism or from a `repository_rule`.
Would imaging that `ctx.fragments[<repo_name>//<fragment name>]` would be a good way of accessing them.

[2016-07-08 09:53] dslomov commented on #1487
Yes, agreed. This is something we plan to have at some point, but it is not
around the corner.

Dmitry

On Fri, Jul 8, 2016 at 11:39 AM, Andreas Bergmeier <notifications@github.com

--
Google Germany GmbH
*Erika-Mann-Straße 33, 80636 München, Germany*

[2016-07-08 11:38] ulfjack commented on #1413
Not that I know of, unfortunately. Philipp is having similar problems with sandboxing, and may cover this use case as well.

[2016-07-08 12:06] lberki opened #1488 "Support MSVC natively"
Instead of using Python wrapper scripts by now.

Ideally, we'd able to build a `cc_*` rule and get a DLL/LIB/EXE out of it.

[2016-07-08 12:07] lberki commented on #928
https://github.com/bazelbuild/bazel/issues/1488

[2016-07-08 12:07] #928 closed

[2016-07-08 13:48] kchodorow commented on #1462
.path should still work, it'll just be a different path than it is now.

[2016-07-08 13:55] yugui commented on #1462
@kchodorow Ah, I understand.  I should have read the commit message of bdfd58a8ca2ed5735d6aaa5b238fb0f689515724.

[2016-07-08 14:15] dfabulich commented on #1483
Yes, it looked fine both ways.

[2016-07-08 15:08] ulfjack commented on #1483
I earlier tried to run it against our internal tests, but didn't manage to
import the change. I'll have to do it manually. I'll get back to you on
Monday; it's getting late here (feel free to ping me if I don't).

On Fri, Jul 8, 2016 at 4:15 PM, dfabulich <notifications@github.com> wrote:

[2016-07-08 15:17] werkt opened #1490 "files/runfiles (or any other 'reserved' name provider) mandatory provider never resolves"
Specifying that a provider named one of a list of undocumented reserved names (at least "files", "runfiles",  be mandatory always fails to resolve:

mandatory_provider_rule.bzl:

[code]

BUILD:

[code]

Obviously runfiles, files, instrumented_files, and some other overloaded reserved-name provider are being treated differently here.  Using a value of a type that is anything other than each keyword

[2016-07-08 18:19] michaelsafyan opened #1491 "Feature request: self-downloading/installing wrapper script"
It would be great if there were a wrapper script (let's call it "bazelw") that downloads a specific version (which could be the latest version) of bazel, and executes the given command with the downloaded copy of bazel. I'm thinking of something similar to the gradle wrapper ("gradlew"):

[code]

This would make it more palatable to use Bazel in opensource projects, as it would reduce the number o

[2016-07-08 18:53] pspeter3 opened #1492 "Bazel on Alpine Linux"
I've been thinking about developing with Bazel inside of docker containers so that way I can have sandboxing on Mac. Is it possible to use Bazel with Alpine Linux or is Ubuntu required?

[2016-07-08 20:00] abergmeier commented on #1472
Interesting, my example does not even work with 0.3.0 yet.
Anyway, with latest master it works. Do not know who fixed it but thanks :+1:

[2016-07-08 20:39] abergmeier opened #1493 "scripts/setup-intellij.sh not working"
With latest successful test build, IntelliJ setup does not work.
Perhaps it would be good to add it to the test.

[2016-07-08 20:51] abergmeier commented on #1491
Is this not more a thing you would like to do with docker?

[2016-07-08 21:59] janakdr commented on #1493
Looks like this is because of Windows:
[code]

I've mailed out a [fix](https://bazel-review.googlesource.com/#/c/4020). Adding a test would be a good idea, but my understanding is that this script may not be needed for much longer, if we can add first-class IntelliJ support to Bazel, just as we've recently done with Eclipse.

[2016-07-09 05:04] jart opened #1494 "Bazel slow and flaky at HEAD on Travis CI"
Something mysterious happened about 25 days ago with Bazel HEAD. It caused Closure Rules' Travis CI tests to go from taking 15 minutes to 45 minutes.

<img width="423" alt="screen shot 2016-07-09 at 12 57 56 am" src="https://cloud.githubusercontent.com/assets/49262/16706181/58870172-4570-11e6-9de0-c3fe5627ad73.png">

Travis builds at HEAD are also very frequently failing, because Travis is kill 9'

[2016-07-09 05:07] jart commented on #1494
It's also worth mentioning that Closure Rules enabled testing Bazel at HEAD exactly 25 days ago. So whatever happened, must have happened somewhere between 0.3.0 and 25 days ago. (See my [.travis.yml](https://github.com/bazelbuild/rules_closure/blob/master/.travis.yml) file for reference.)

[2016-07-09 21:13] abergmeier commented on #1486
Giving this a shot. Any preferences?

[2016-07-10 17:33] michaelsafyan commented on #1491
Docker is ideal for remote builds (like a continuous integration machine), but it is a very heavy-weight solution for ordinary developers. It's also not compatible with all environments (e.g. for developers working on Cloud 9 or other hosted environments that are, themselves, running in Docker and, therefore, incapable of running Docker). So I think there is still a reason to desire something like

[2016-07-10 19:23] abergmeier opened #1495 "Insufficient error checking in GenQuery"
When comparing `GenQuery` with `QueryCommand` there is a huge discrepancy between what the latter validates and the former misses. Perhaps would make sense to merge more code of these 2 so they can employ singular error checking.

[2016-07-10 19:33] XingxingZhang commented on #359
@bsilver8192

<< This looks like the same issue discussed at https://groups.google.com/forum/#!msg/bazel-discuss/f8oHMtKzZfE/SYKSJvwWX-cJ. https://bazel-review.googlesource.com/#/c/1690/ is one fix and deleting -fPIE from tools/cpp/CROSSTOOL is another.

Where is -fPIE? I didn't find it in tools/cpp/CROSSTOOL

[2016-07-10 20:42] bsilver8192 commented on #359
It's not there any more. 4e7ed50345f3a3037549f7c41f852b5d9db4a08d removed it completely.

[2016-07-11 00:32] gbkedar commented on #1358
Confirming that https://github.com/bazelbuild/bazel/commit/c9bc051f32b0d153110863e983749420200d000c  does not fix this issue.

The problem seems to be the bazel file `tensorflow/tensorflow/core/BUILD`

Other parts of tensorflow invoke the right env command. For example:
[code]
After the change adds the LD_LIBRARY_PATH with:
[code]

However, with protobuf neither the PATH nor LD_LIBRARY_PATH are pa

[2016-07-11 06:56] sirinath opened #1497 "Bazel on Windows"
Can you support windows as it is not possible to build projects using bazel on windows.

[2016-07-11 08:46] abergmeier opened #1498 "repository_ctx.symlink produces invalid workspace absolute symlinks"
When I try to `symlink` e.g. the directory `@//mydir` into `foo` like this:

    repository_ctx.symlink("@//mydir", "foo")

It produces a symlink to ...`/external/myrepo/@/mydir`. Same behavior for `__main__`.
A similar behavior gets evident if you try to use `repository_ctx.path("@//mydir")`.

Sadly this is a major show stopper for us :(

[2016-07-11 08:49] abergmeier commented on #1498
@damienmg Would it make sense to fix this behavior now, since your rework seems to be at least 2 weeks away?

[2016-07-11 09:10] XingxingZhang commented on #359
@bsilver8192  thanks

[2016-07-11 09:45] damienmg commented on #1494
I am not seeing > 15min build. Each 45min build is 3 runs of Bazel. That's a travis issue.

[2016-07-11 09:51] damienmg commented on #1472
25a98e16731a2a0cbb59449a6e7d395bd204d04c
I was the one fixing it actually :)

[2016-07-11 09:51] #1472 closed

[2016-07-11 09:54] abergmeier opened #1499 "Severe performance degradation for filesystem operations"
When I execute

[code]

it takes more than a minute to finish.

Executing the same command in a terminal takes:

[code]

I imagine there is some sandboxing behavior that is problematic. Any ideas?

[2016-07-11 10:04] kchodorow commented on #1494
It looks like
https://github.com/bazelbuild/rules_closure/commit/401aa58cf446d2e242973d5ff88f6274ed5db234
changes the .travis.yml to run three different builds, instead of just
one.  It looks like the elapsed time is still just 15 minutes:

​Source: https://travis-ci.org/bazelbuild/rules_closure/builds/137545464

On Sat, Jul 9, 2016 at 1:07 AM, Justine Tunney <notifications@github.com>
wrote:

[2016-07-11 10:12] damienmg commented on #1494
Closing this issue since it is not from Bazel

[2016-07-11 10:12] #1494 closed

[2016-07-11 10:15] kchodorow commented on #1498
You need to use `Label("@//mydir")` if you want it to be interpreted as a label.

[2016-07-11 10:16] abergmeier commented on #1499
_strace_ for in Bazel:

_trying to figure out how to get -c working for Bazel_

_strace_ for in terminal:

    % time     seconds  usecs/call     calls    errors syscall
    ------ ----------- ----------- --------- --------- ----------------
     46.67    0.000651           0     94741           stat
     19.78    0.000276           0     94740           lstat
     16.92    0.000236           0

[2016-07-11 10:19] kchodorow commented on #1497
See https://github.com/bazelbuild/bazel/labels/category%3A%20multi-platform%20%3E%20windows.  If you have a particular problem building on Windows, please file a specific bug about that.

[2016-07-11 10:19] #1497 closed

[2016-07-11 10:20] damienmg commented on #1499
Can you try to do a loop to measure the mean exec time of ls? Bazel taking a long time is not suprising but the exec should be pretty fast.

[2016-07-11 10:52] jart commented on #1494
I'm sorry, I explained this incorrectly. The build itself takes like 10 minutes. What's happening is it appears to be using a lot more memory at head. So Travis ends up kill 9'ing one of the processes.

<img width="343" alt="screen shot 2016-07-11 at 6 51 30 am" src="https://cloud.githubusercontent.com/assets/49262/16728378/f0f0bf9c-4733-11e6-84dc-69e101a13502.png">

Did something change in the wa

[2016-07-11 11:19] abergmeier commented on #1499
`ls -R src` time in Bazel:
    real 0.60
    user 0.30
    sys 0.29

`ls -Risah src` time in terminal:
    real 1.44
    user 0.59
    sys 0.29

Looks pretty fine to me.

Do not really get what you are trying to say. I can look at `iotop` and see that `cp` runs way longer than in terminal - although not the whole Bazel waiting time.

[2016-07-11 11:51] abergmeier commented on #1498
AFAIK you cannot refer to directories as labels.

When trying `Label("@//mydir")`it is complaining:

    no such package '@mydir//': Unable to load package for //mydir:mydir: not found.

When trying `Label("@//:mydir")` it is complaining:

    no such package '@mydir//': Not a file: /myproject/mydir

[2016-07-11 11:53] kchodorow commented on #1498
You have to expose mydir as a target, e.g., add to your BUILD file (in the directory mydir is in):

[code]

[2016-07-11 12:28] abergmeier-dsfishlabs commented on #1498
Have tried this now in https://github.com/abergmeier-dsfishlabs/examples. Either I am doing something wrong or it does not work. If you want try building with `bazel build @foo//...`

[2016-07-11 12:51] kchodorow opened #1500 "Windows cpp tests are failing"
See http://ci.bazel.io/view/Bazel%20bootstrap%20and%20maintenance/job/Bazel/JAVA_VERSION=1.7,PLATFORM_NAME=windows-x86_64/656/console:

[code]

[2016-07-11 13:11] kchodorow commented on #1498
Well, you had `export_files` (not `exports_files`), but I realized that's not going to work anyway, because you can't use a directory as a target.  However, you can use __workspace_dir__ in the WORKSPACE file to refer to your source directory, so you could do:

[code]

[2016-07-11 13:19] kchodorow commented on #1493
Fixed by ca8db60193b93968902a5c25f3786a8d0e71268c.

[2016-07-11 13:19] #1493 closed

[2016-07-11 13:22] abergmeier-dsfishlabs commented on #1499
Times of `cp -R` in Bazel are BTW:

    real 16.26
    user  0.12
    sys   1.04

[2016-07-11 13:25] kchodorow commented on #1490
@katre, could you take a look?

[2016-07-11 13:31] kchodorow opened #1501 "bazel_rules_test is timing out"
Consistently!

E.g., http://ci.bazel.io/job/bazel-tests/BAZEL_VERSION=HEAD,PLATFORM_NAME=ubuntu_15.10-x86_64/108/console

[2016-07-11 13:37] abergmeier-dsfishlabs commented on #1498
That works great. Thanks a mill.

[2016-07-11 13:38] kchodorow commented on #1498
Great, np!

[2016-07-11 13:38] #1498 closed

[2016-07-11 13:39] katre commented on #1105
Closing following previous comment.

[2016-07-11 13:40] #1105 closed

[2016-07-11 13:41] katre commented on #1490
Will investigate.

[2016-07-11 13:41] kchodorow commented on #1492
I don't think anyone's tried it, but we'd love to hear how it goes.

[2016-07-11 13:47] abergmeier-dsfishlabs commented on #1493
Thanks @janakdr, you saved me from the clutches of Eclipse :)

[2016-07-11 13:57] kchodorow commented on #1501
J'accuse! Looks like https://github.com/bazelbuild/bazel/commit/a3381b6ac136a0cab3ba86020c739fe16b42cee9.

[2016-07-11 14:16] kchodorow opened #1502 "Rust rule tests are broken on Darwin"
First breakage is http://ci.bazel.io/job/rules_rust/172/BAZEL_VERSION=HEAD,PLATFORM_NAME=darwin-x86_64/console

[code]

Looks like an external or CC config issue.

[2016-07-11 14:58] janakdr commented on #1495
Can you give an example?

On Sun, Jul 10, 2016 at 3:23 PM, Andreas Bergmeier <notifications@github.com

[2016-07-11 20:36] helenaut commented on #247
I am not sure %workspace% works for things outside of imports? I am trying to use it like:

`test --run_under=%workspace%/path/to/bash/file.sh`

[2016-07-12 02:39] dfabulich commented on #1483
@ulfjack ping!

[2016-07-12 03:02] dfabulich opened #1503 "Homebrew Bazel doesn't run tools/bazel"
The Bazel install scripts and `.deb` files install a wrapper script that searches for `tools/bazel`, falling back to running `../lib/bazel-real`.

The Bazel homebrew script doesn't work that way; homebrew's `bazel` is the binary executable.

This is because the Bazel homebrew script runs `./compile.sh`, the output of which is the Bazel binary, not the Bazel script.

[2016-07-12 04:10] dfabulich commented on #1503
Filed https://github.com/Homebrew/homebrew-core/pull/2921 to address this

[2016-07-12 04:14] dfabulich opened #1504 "Bazel generates files in /tmp"
https://github.com/Homebrew/homebrew-core/pull/1887#issuecomment-225380825

Even when setting `TEST_TMPDIR`, Bazel generates files in `/var/tmp/_bazel_$USERNAME`.

[2016-07-12 04:15] dfabulich opened #1505 "Homebrew 0.3.0 PR is stuck"
https://github.com/Homebrew/homebrew-core/pull/1887

That PR has been open for a month now. They seem to be complaining about issue #1504.

[2016-07-12 05:49] pspeter3 commented on #1492
So I tried running it with this Dockerfile and get the below error. My best guess is that `unzip` does not work with the self extracting archive.

[code]

[code]

[2016-07-12 05:52] ittaiz opened #1506 "Experimental UI test count"
Hi,
IIUC the final message of the experimental_ui when running tests counts the number of test classes and not the number of test cases.
I think that's somewhat misleading since I'm usually most interested in the number of test cases I have and not test classes. Those are only a container for my cases which are the important part.

[2016-07-12 05:58] ittaiz opened #1507 "Misleading error message when glob expands to empty list of files"
I moved a test target from the root of my project to a sub package and forgot to update the glob expression of my sources (was `glob(["src/test/java/com/example/*.java"])` and should have been changed to `glob(["*.java"])` after the move).

When I ran the build I got an error message which IMHO is somewhat misleading.
The error message says that `deps` is not allowed without `srcs` and suggests to

[2016-07-12 06:02] ittaiz commented on #498
@kchodorow is this closely related to using repositories from settings.xml?
I tried to use generate_workspace but couldn't because I couldn't get it to use the organizational artifactory defined in my ~/.m2/settings.xml
I ended up hacking the `MavenConnector` and changed the `MAVEN_CENTRAL` url to point to our artifactory.

[2016-07-12 08:46] kchodorow commented on #247
Unfortunately, %workspace% is specially interpreted by --package_path, other options don't know how understand it.

[2016-07-12 09:01] damienmg commented on #1504
This is fixed by 276a8cd19d4cde6245ed3323cee695e7834a0b9d and 276a8cd19d4cde6245ed3323cee695e7834a0b9d

[2016-07-12 09:01] #1504 closed

[2016-07-12 09:03] kchodorow commented on #1507
Good idea.

[2016-07-12 09:09] ittaiz commented on #1507
If you want a PR I'd be happy to give it a try given a pointer to the relevant place.
In any case this isn't in a hurry for me.

[2016-07-12 09:12] kchodorow commented on #1507
Thanks! Should just be adding another `isExplicitlySpecified` to https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/rules/java/JavaCommon.java#L567.

[2016-07-12 09:21] ittaiz commented on #1507
So you're talking about changing the implementation and not the error message, right?
replace
`&& ruleContext.attributes().get("srcs", BuildType.LABEL_LIST).isEmpty()`
with
`&& !ruleContext.getRule().isAttributeValueExplicitlySpecified("srcs")`?

[2016-07-12 09:23] damienmg commented on #1505
Unstuck :)

[2016-07-12 09:23] #1505 closed

[2016-07-12 09:23] kchodorow commented on #1507
I think you'd need to add the `&& !ruleContext.getRule().isAttributeValueExplicitlySpecified("srcs")` clause, you still need the `isEmpty()` check.  I haven't tested it or anything, though.

[2016-07-12 09:23] Phhere opened #1508 "Compile Warning -Wreturn-type"
I tried to compile bazel from master@ca8db60193b93968902a5c25f3786a8d0e71268c and got a gcc warning about return type.

`INFO: From Compiling src/main/cpp/blaze_util_posix.cc:
src/main/cpp/blaze_util_posix.cc: In function 'std::__cxx11::string blaze::RunProgram(const string&, const std::vector<std::__cxx11::basic_string<char> >&)':
src/main/cpp/blaze_util_posix.cc:199:1: warning: control reaches e

[2016-07-12 09:24] ittaiz commented on #1507
ok, will handle it from here.
Thanks!

[2016-07-12 09:26] kchodorow commented on #1508
Yeah, we should fix those.  Control literally cannot reach the end of that function, so it's not actually an problem, but we should supress the warning or just add a dummy return.

[2016-07-12 09:59] abergmeier-dsfishlabs commented on #1499
I think the main culprit is probably related to file system caches.

It seems when Bazel is starting processing it is doing something that is poison to the file system cache (and effectively invalides `src` cache).
The reason for the numbers to get so high is that both `src` and `dst` are on a HDD and thus happy spinning is in order. Since `src` contains 100.000 inodes, this then takes a "while" a

[2016-07-12 10:01] damienmg commented on #1499
I will be out for a week but I'll try to understand what's going on when I am back.

[2016-07-12 10:13] simonhorlick opened #1509 "Pushing docker images to GCR fails with 0.3.0"
If I build a docker image normally using 0.3.0 and push to the Google Container Repository I get the following error:

`gcr manifest invalid: "Failed to parse v1 compatibility"`

Not sure if this is a bazel issue, or GCR.

[2016-07-12 11:28] kchodorow commented on #1509
@mattmoor, could you take a look?

[2016-07-12 11:41] gbkedar commented on #1358
@kheuton You can add env=ctx.configuration.default_shell_env to the ctx.action call in bazel-tensorflow/external/protobuf/protobuf.bzl to get past the problem.

[2016-07-12 13:32] kchodorow commented on #498
Yeah, basically it should use all of the local (settings.xml) configuration options.

[2016-07-12 13:35] kchodorow commented on #1500
Now they're failing differently: http://ci.bazel.io/view/Bazel%20bootstrap%20and%20maintenance/job/Bazel/663/JAVA_VERSION=1.7,PLATFORM_NAME=windows-x86_64/console

Looks like maybe an environment problem?

[2016-07-12 15:54] dfabulich commented on #1504
… and a3381b6ac136a0cab3ba86020c739fe16b42cee9

[2016-07-12 16:55] evmar opened #1510 "Document attr.label_list"
If you search the bazel docs for e.g. `allow_files`, you only find mention of it in example code with no description of what it means.

[2016-07-12 18:12] helenaut commented on #247
Thanks Kristina.

[2016-07-12 19:16] aehlig commented on #1506
For a lot of users, the number of test classes is important, so we definitely should keep that information. Nevertheless, I can understand why it would be desirable to add the number of test cases as well; this, however, is not that easy, as the notion of a test case is not that well-defined or easily available as that of of a test (in Bazel's notion, i.e., a test class).

[2016-07-12 19:27] dmaclach opened #1511 "bazel on darwin should warn when compiling on network drive"
This is a bug for the  TODO here: https://github.com/bazelbuild/bazel/blob/master/src/main/cpp/blaze_util_darwin.cc#L41

[2016-07-12 19:30] dmaclach commented on #1511
Please assign to me...

[2016-07-12 19:32] abergmeier commented on #1508
Is `qdie` not marked with `noreturn`?

[2016-07-12 19:50] ittaiz commented on #1506
Fair enough, I was probably too hasty in calling it misleading. Any chance you can elaborate a bit on the use-cases where the number of test classes is important? Just never enountered it.
Btw, when you run a test via TC which uses the (same?) XML format it does have a count of test cases so it sounds like the info exists, right?

[2016-07-12 20:13] sabujp opened #1512 "apt-get update : W: Failed to fetch http://storage.googleapis.com/bazel-apt/dists/stable/InRelease Unable to find expected entry 'jdk1.8/binary-i386/Packages' in Release file (Wrong sources.list entry or malformed file)"
After following the instructions for installing the apt repo :

1. Add Bazel distribution URI as a package source (one time setup)

$ echo "deb http://storage.googleapis.com/bazel-apt stable jdk1.8" | sudo tee /etc/apt/sources.list.d/bazel.list
$ curl https://storage.googleapis.com/bazel-apt/doc/apt-key.pub.gpg | sudo apt-key add -

2. Update and install Bazel

$ sudo apt-get update && sudo apt-ge

[2016-07-12 20:29] ahumesky opened #1513 "support gabi++ and libstdc++ stl in ndk"
gabi++ and libstdc++ are missing from the ndk crosstools
https://developer.android.com/ndk/guides/cpp-support.html

[2016-07-12 21:23] PiotrSikora commented on #1286
Could we increase the priority on this? Also, if there is a plan to re-enable checks and remove this requirement, could we get rid of this warning sooner rather than later? Thanks!

[2016-07-12 22:18] dmaclach opened #1514 "bazel on darwin should mark output_base and output_user_root to not be backed up by Time Machine"
currently output_base and output_user_root are by default going to be backed up by Time Machine, and this is not good. The fact that they are writing into var/tmp by default is saving most users right now (var/tmp is not backed up) but anybody who specifies their own options is going to get hit by this.

Please assign to me.

[2016-07-13 01:15] simonhorlick commented on #1509
Apologies, I've just tried this with the latest commit on master and I don't see the error any more.

[2016-07-13 01:15] #1509 closed

[2016-07-13 02:04] c-- commented on #1512
Just ran into the same problem, it looks like there's no 32 bit release. The workaround is to change the first command to:

    echo "deb [arch=amd64] http://storage.googleapis.com/bazel-apt stable jdk1.8" | sudo tee /etc/apt/sources.list.d/bazel.list

[2016-07-13 02:49] PiotrSikora commented on #1248
I would very much like to see this implemented...

I'm working on a modular project, with each 3rd-party module in its own workspace (i.e. `@project`, `@moduleA`, `@moduleB`, etc.). All modules need to depend on `@project//:core`, but when they are imported as external repositories, I cannot build `@project//:main` (which depends on `@moduleA` and `@moduleB`), because `@project`'s workspace cannot

[2016-07-13 09:50] kchodorow opened #1515 "git_repository .sh is losing +x permission"
See https://github.com/bazelbuild/rules_closure/issues/113. Seems like something related to environment, I can't reproduce locally (and neither can @gramic).

[2016-07-13 11:01] kchodorow commented on #1510
Quick definition: you can provide files (instead of just targets) for that attribute.  Useful for, say, a srcs field (whereas you might want all deps to be non-files).

[2016-07-13 11:03] ulfjack commented on #1483
I didn't forget it. I tried to run the tests on Monday, but they were broken for unrelated reasons. Then again yesterday, but I had to leave before it was done. Now I got the results, and it's looking good.

Unfortunately, I didn't manage to import the change. I'll need to manually fix it up and then get it submitted.

[2016-07-13 11:07] kchodorow commented on #1248
Yeah, self-referencing local repo is the recommended workaround for now.

Just some notes about implementing this: there are two changes needed for this.

1. At the moment, execution root put the local workspace under `$(basename workspace-dir)`, not the workspace name. I have a change in progress to fix this.
2. Then update labels in the "main" repository to be workspace-aware.

[2016-07-13 11:13] abergmeier-dsfishlabs opened #1516 "private mandatory defaulted labels do not work with repository rule"
If I do the following in ca8db60193b93968902a5c25f3786a8d0e71268c:

    my_repository = repository_rule(
        implementation = _impl,
        local = True,
        attrs = {
            "_script": attr.label(default = Label("@//foo:bar"), mandatory = True)
        }
    )

Bazel complains:

    //external:myrepo: missing value for mandatory attribute '$script' in 'my_repository' rule.

This the

[2016-07-13 11:27] kchodorow commented on #1514
Actually, @dslomov pointed out that if you're providing the directory, it's a bit weird to have Bazel change it's semantics for you.

[2016-07-13 11:30] abergmeier-dsfishlabs commented on #1447
@dslomov I think a similar problem is in `repository_ctx.execute`. Should I file a separate issue for that?

[2016-07-13 12:07] yugui opened #1517 "docker_build fails to tag the image"
I tried to build and import a docker image with `docker_build` rule, but it failed

# How to reproduce
Put the following `BUILD` file into a package `//docker` in a workspace.

[code]

Run
[code]

# Actual result
`bazel run` failed.

[code]
The image was imported but no tag was added.

# Expected result
The image `0cddaad6dc4d` is tagged as `bazel/docker:base` and the `bazel run` succeeds.

# Envi

[2016-07-13 12:08] #1517 closed

[2016-07-13 12:08] yugui commented on #1517
Closed because I noticed that I was running Bazel 0.3.0 instead of HEAD.

[2016-07-13 12:20] kchodorow opened #1518 "Standalone test strategy isn't deleting temp dir"
Discovered by @philwo. A side effect of this is that our CI machines keep running out of space.

[2016-07-13 13:10] kchodorow commented on #1515
99% sure this is jGit issue.  I recommend working around it by downloading the rules_closure .zip (or whatever) as a http_archive:

[code]

[2016-07-13 18:10] PiotrSikora commented on #1248
Hey Kristina, thanks for the notes... Hopefully workspace-aware labels in the "main" repository are only needed in the meantime, before this is properly fixed?

[2016-07-14 00:21] gregestren commented on #1167
I'm doing some work that's going to expose this. As a first step each attribute's individual documentation will be marked "nonconfigurable" if it doesn't work with select. As an eventual followup I'll produce a single-page list of incompatible attributes

Of course, environment_group isn't going to appear in the former since it's undocumented. :) It's also, to be honest, "different", since it's a

[2016-07-14 00:55] gregestren commented on #350
Work is ensuing over this summer to define a stronger notion of "platform" that I think should cover practical nuances.

[2016-07-14 03:04] pgr0ss commented on #1153
I think this is https://github.com/bazelbuild/bazel/issues/1461, which is fixed.

[2016-07-14 03:10] pgr0ss opened #1520 "Add config to generate_workspace to specify output paths"
What do people think of adding flags to `generate_workspace` to configure where it writes the `WORKSPACE` and `BUILD` files? Something like:

[code]

This would let me skip the step of copying over the generated files from a randomly named tmp directory.

If there is interest, I might take a stab at implementing it.

[2016-07-14 08:49] smu-ggl opened #1521 "bash completion fails if user has a "grep" alias that produces unexpected output formatting"
Example:
alias grep="grep -P"

This could be avoided by using absolute paths for grep (and possibly other commands) or by protecting the relevant parts of the completion with "shopt -u expand_aliases" while executing the expansions.

I haven't done too much research yet, but this probably mostly affects
bazel-complete-template.bash lines [229](https://github.com/bazelbuild/bazel/blob/master/script

[2016-07-14 08:52] kchodorow commented on #1520
That sounds good to me.

[2016-07-14 08:57] kchodorow commented on #1248
Right now labels either include a workspace name (e.g., when you say `deps = ["@foo//bar"]`), they use the _default workspace_, i.e., whatever workspace they happen to be in (e.g., `//bar` resolves to `@foo//bar` in `@foo`, but `@baz//bar` if it were in `@baz`), or the _main workspace_, which means they don't know their workspace name but are referring to the workspace where the build is happening

[2016-07-14 09:18] hanwen commented on #446
I was asked about javadoc for Bazel support in Gerrit. The current Buck functionality looks like this

  https://gerrit.googlesource.com/gerrit/+/master/tools/java_doc.defs#32

Genrule supports $(classpath) which expands to the classpath of the java_library.

I was thinking along two lines:

1. Use a configuration fragment to get at the classpath; problem: the Java fragment doesn't expose this.

2

[2016-07-14 09:21] hanwen commented on #446
never mind, PEBKAC.

I shouldn't be looking for a configuration fragment, but for a skylark API provider.

http://www.bazel.io/docs/skylark/lib/JavaSkylarkApiProvider.html#transitive_deps

[2016-07-14 09:22] hanwen opened #1522 "Periods missing in skylark API docs"
see http://www.bazel.io/docs/skylark/lib/JavaSkylarkApiProvider.html#transitive_deps

"Returns information about annotation processing for this Java target May return None."

"May return None" is added automatically, but the '.' is missing.

[2016-07-14 10:14] abergmeier-dsfishlabs opened #1523 "Skylark operator list * int missing"
Currently it is not supported to write `[foo] * 5`.
Message is:

[code]

[2016-07-14 10:36] gramic commented on #1515
After replacing git_repository with your suggestion it works correctly every time.

[2016-07-14 11:13] #1512 closed

[2016-07-14 11:18] kchodorow commented on #1515
Cool, glad to hear it.

[2016-07-14 16:05] dfabulich commented on #1483
My PR merged; this is now fixed.

[2016-07-14 16:05] #1483 closed

[2016-07-14 16:05] dfabulich commented on #1457
My PR merged; this is now fixed.

[2016-07-14 16:05] #1457 closed

[2016-07-14 18:01] katre commented on #1522
The problem is actually more general. We are very inconsistent in the doc strings about ending with a period or no punctuation. I am writing a change to add the final period if one is not present. I've just scanned the usages of @SkylarkConfiguration(doc="non-empty string"), and I didn't find any cases that weren't either:
a) Already ends with a period, or
b) Ends with no punctuation, so a period

[2016-07-14 19:58] #1153 closed

[2016-07-14 23:02] chpatton013 opened #1525 "Error with external dependencies: some change are not seen"
[code]

My project has an external dependency on a tar.gz hosted in s3 (`new_http_archive`). This dependency has several different build targets that I depend on in one of my packages (runtime dependency, so using the `data` attribute). I wanted to unify those targets into a single `filegroup` so that I could depend on them easily in multiple places. In the build file for my external dependency I

[2016-07-14 23:54] kqyang commented on #52
Any status update on this?

[2016-07-15 05:52] yugui commented on #1058
* Why do we need to wait for #699? Does it mean you are trying to implement the repository rule with [docker-py](https://pypi.python.org/pypi/docker-py)?
* How can I help you to make it happen?

[2016-07-15 08:23] meteorcloudy opened #1526 "Batch mode doesn't work on Windows"
Even `bazel --batch version` just dies with outputing nothing.

[2016-07-15 08:23] meteorcloudy commented on #1526
Also /cc @dslomov

[2016-07-15 12:47] dslomov opened #1527 "Make job control work on Windows again"
Using job objects causes ACCESS_DENIED when trying to run bazel from bazel's own tests.
I have disabled it, but that probably means that Ctrl+C does not work correctly anymore

[2016-07-15 13:33] #1526 closed

[2016-07-16 02:14] PiotrSikora commented on #186
Related: it would be great if Bazel could link C (not C++) software without `-lstdc++`.

It can already differentiate between C and C++, because `cxx_flag` isn't added when compiling C sources, so hopefully this should be easier to implement than generic flag filtering.

[2016-07-18 07:19] jk1510karti commented on #1275
Hi @damienmg , I am also getting same error, while running ./compile.sh,

#which javac
/usr/bin/javac

#javac -version
javac 1.8.0_91

Could you help me on this.? Pl let me know if you need any further information. Thanks in Advance.!

[2016-07-18 07:44] abergmeier-dsfishlabs commented on #1475
@ioctl0 That does not seem to work for me. @aehlig Is there some way to debug, which and how imports are used? Are imports transitive at all for Python?

[2016-07-18 11:32] abergmeier-dsfishlabs commented on #680
Wow, got bitten by that today (trying to compile `freeimage`). Luckily the `textual_hdrs` workaround is working. Really deferring until 1.0?

[2016-07-18 12:43] philwo commented on #1364
Fix (as part of "Sandbox 2.0") sent for code-review: https://bazel-review.googlesource.com/#/c/4053/

[2016-07-18 12:53] kchodorow commented on #1275
What does it give you if you add `set -x` and run compile.sh?

[2016-07-18 13:04] jk1510karti commented on #1275
++ for f in '$PROTO_FILES'
++ run third_party/protobuf/protoc-linux-x86_64.exe -Isrc/main/protobuf/ --java_out=/tmp/bazel_CXdLVtf3/src --plugin=protoc-gen-grpc=third_party/grpc/protoc-gen-grpc-java-0.14.1-linux-x86_64.exe --grpc_out=/tmp/bazel_CXdLVtf3/src src/main/protobuf/remote_protocol.proto
++ '[' no = yes ']'
++ echo third_party/protobuf/protoc-linux-x86_64.exe -Isrc/main/protobuf/ --java_ou

[2016-07-18 13:05] jk1510karti commented on #1275
I have also tried with bazel .2.2b and got the below error.

cd /opt/bazel-0.2.2b/
[root@localhost bazel-0.2.2b]# ./compile.sh
INFO: You can skip this first step by providing a path to the bazel binary as second argument:
INFO:    ./compile.sh compile /path/to/bazel
🍃  Building Bazel from scratch......
🍃  Building Bazel with Bazel.
INFO: Found 1 target...
ERROR: /opt/bazel-0.2.2b/src/main/cpp/BUIL

[2016-07-18 13:38] katre commented on #1275
Looks like you don't have cc1plus, the c++ backend compiler for gcc, installed. What environment are you building on, and can you try re-installing GCC with all of the C++ extensions included?

[2016-07-18 13:47] jk1510karti commented on #1275
Hi, The package already installed it seems

[root@localhost Desktop]# yum install gcc gcc-c++
Loaded plugins: fastestmirror, refresh-packagekit, security
Setting up Install Process
Loading mirror speeds from cached hostfile
 * base: centos.excellmedia.net
 * extras: centos-hcm.viettelidc.com.vn
 * updates: centos-hn.viettelidc.com.vn
Package gcc-4.4.7-17.el6.x86_64 already installed and latest ver

[2016-07-18 13:48] jk1510karti commented on #1275
I have tried yum groupinstall 'Development Tools' , After that below error occured.

[root@localhost bazel-0.2.2b]# ./compile.sh
INFO: You can skip this first step by providing a path to the bazel binary as second argument:
INFO:    ./compile.sh compile /path/to/bazel
🍃  Building Bazel from scratch......
🍃  Building Bazel with Bazel.
INFO: Found 1 target...
INFO: From Compiling src/main/tools/buil

[2016-07-18 14:32] katre commented on #1275
This seems to be a related issue: https://github.com/tensorflow/tensorflow/issues/82

Is there a chance you also have multiple installations of GCC, and the crosstool file is pointing to the wrong one?

[2016-07-18 15:22] katre commented on #1490
Looks like the issue is in https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/rules/SkylarkRuleConfiguredTargetBuilder.java#L234

It's setting runfiles but ignoring the actual value from the rule impl return struct.

[2016-07-18 16:48] dfabulich opened #1531 "Sandbox not used with distributed artifact caching"
https://groups.google.com/forum/#!topic/bazel-discuss/GINp6C6tZ4I

[2016-07-18 18:10] #1125 closed

[2016-07-18 18:26] gunan commented on #1437
Ping!
Any updates here?
I mistyped the signals above, bazel seems to send SIGINT, and some tests seem to ignore that.
I see a lot of SIGINT ignoring in python tests that swig a lot of c++ code.

[2016-07-18 21:10] dfabulich commented on #1503
@damienmg What's the status of this bug? I made [a PR to fix it for 0.3.0](https://github.com/Homebrew/homebrew-core/pull/2921), but when you said [you'd make your own PR](https://github.com/Homebrew/homebrew-core/pull/1887#issuecomment-231984036), my PR was closed in favor of your forthcoming PR.

Am I right in thinking that your PR will require somebody to do a Bazel release, in order to release

[2016-07-18 21:46] ioctl0 commented on #1475
Are you building libboost_filesystem as a bazel target, or including it in your build as a binary in your source tree? If the former, you could put it in '''deps''', in which case bazel will autmatically statically link it into your .so, so long as you specified '''linkstatic'''. If the latter, you can probably remove it from '''srcs'''.

[2016-07-18 21:50] dmaclach commented on #1514
Xcode by default marks its output directories as not being backed up. All of this data can be regenerated so it doesn't make sense to be backing up gigs of build files IMHO

[2016-07-18 21:50] dmaclach commented on #1511
Fixed.

[2016-07-18 21:50] #1511 closed

[2016-07-18 22:41] jiapei100 opened #1532 "build bazel warnings: protobuf issue..."
Hi, all:

I'm using Ubuntu 16.04, which comes with the default protobuf 2.6.1 from repository. However, I also installed protobuf 3.0.0b3 manually, which is needed by tensorflow. I'm now building bazel manually as well, in order to further build tensorflow, but now got the following warning messages:

WARNING: .../bazel/bazel/src/main/native/BUILD:52:16: in includes attribute of cc_binary rule //s

[2016-07-19 05:40] jk1510karti commented on #1275
Hi,

I belive i've one GCC installed

[root@localhost bazel-0.2.2b]# which gcc
/usr/bin/gcc
[root@localhost bazel-0.2.2b]#
[root@localhost bazel-0.2.2b]#
[root@localhost bazel-0.2.2b]# gcc -v
Using built-in specs.
Target: x86_64-redhat-linux
Configured with: ../configure --prefix=/usr --mandir=/usr/share/man --infodir=/usr/share/info --with-bugurl=http://bugzilla.redhat.com/bugzilla --enable-boots

[2016-07-19 05:42] jk1510karti commented on #1275
[root@localhost Desktop]# rpm -qa gcc
gcc-4.4.7-17.el6.x86_64

[2016-07-19 07:59] abergmeier-dsfishlabs commented on #1475
@ioctl0 You mean `deps` of `:filesystem`? If I do that it complains about only accepting `.ld, .lds or .ldscript`.

[2016-07-19 10:51] jk1510karti commented on #1357
Hi @kchodorow, I am also getting same error in CentOS 6.7 with gcc 4.4.7, Could you please update me how did you fix the issue. ?

I have 4.4.7 alone,

[2016-07-19 13:21] philwo commented on #1437
Hi @gunan,

this should already work - the TestStandaloneStrategy sets a timeout, which is then passed to process-wrapper in StandaloneSpawnStrategy, or to linux-sandbox in LinuxSandboxRunner (depending on your system and flags, one of these will be used to actually run the test process).

The process-wrapper is called in a way that it kills the test with SIGTERM after the timeout, waits 5 seconds

[2016-07-19 14:55] meteorcloudy opened #1533 "Make rlocation function works with wildcard [duplicate of #4334]"
For example, `junit_jar=$(rlocation io_bazel/third_party/junit/junit-*.jar)` should return the right result.

[2016-07-19 14:57] abergmeier-dsfishlabs opened #1534 "Cannot link to library whose basename is not the same as its soname"
When I have the following `library` as a dep of `foo`:

[code]

Bazel writes the following ELF header in `foo.so`:

[code]

Sadly there is no file `libfreeimageplus.so.3` anywhere. The correct `libfreeimageplus-3.17.0.so` is available in the `execroot`, though.
Does anyone have an idea how to prevent Bazel from changing the filename?

[2016-07-19 15:06] kchodorow commented on #1534
Probably a dup on #407.  https://github.com/bazelbuild/bazel/blob/master/tools/cpp/osx_cc_wrapper.sh is doing the wrong thing.

[2016-07-19 15:08] abergmeier-dsfishlabs commented on #1534
Am on Linux - is https://github.com/bazelbuild/bazel/blob/master/tools/cpp/osx_cc_wrapper.sh used there, too?

[2016-07-19 15:09] kchodorow commented on #1534
Oh, no! Disregard my comment.

[2016-07-19 15:10] katre commented on #1532
Can you let me know what you're trying to build and what command you're invoking? I don't see any references to protobuf in those errors and so I'm not sure why you think that is the cause.

[2016-07-19 15:27] abergmeier-dsfishlabs commented on #1534
I have no problem with Bazel using sonames but then it also needs to check whether these are available as runfiles.

[2016-07-19 16:35] abergmeier-dsfishlabs opened #1535 "How to satisfy providers"
I have the following `.bzl` code:

    def _symlink_impl(ctx):
      runfiles = ctx.runfiles(
      symlinks = {ctx.file.src.path: ctx.file.tgt},
    )

    for l in ctx.attr.deps:
      runfiles += l

    return struct(
      runfiles = runfiles,
    )

    symlink_runfile = rule(
      implementation = _symlink_impl,
      attrs = {
        "src": attr.label(allow_single_file = True, mandatory =

[2016-07-19 17:28] ioctl0 commented on #1475
I think that kind of config is going to cause all kinds of trouble -- you might do better if you can include a static library built with -fPIC?

[2016-07-19 19:04] abergmeier commented on #1475
@ioctl0 It does. And `boost_filesystem` is easy to statically link. We do however have the same situation for `freeimage` and including that is really non-trivial. Currently no way around it sadly.

[2016-07-19 19:13] aj-michael opened #1536 "Android integration tests do not run without "SDK Readme.txt""
When I run `bazel test src/test/shell/bazel/android:android_integration_test`, I see in `bazel-testlogs/src/test/shell/bazel/android/android_integration_test/test.log` that Bazel is "Not running Android tests due to lack of an Android SDK". I do in fact have an Android SDK installed and configured in `WORKSPACE`.

[code]

However, my SDK does not contain `SDK Readme.txt`, which the test expects it

[2016-07-19 19:56] kchodorow opened #1537 "maven_test is failing on CI"
See http://ci.bazel.io/job/bazel-tests/BAZEL_VERSION=HEAD,PLATFORM_NAME=linux-x86_64/128/console.  It times out locally, too, so I'm guessing the SHA-1 checking is wrong.

[2016-07-19 20:12] katre commented on #1537
git bisect fingered commit c760f133604877e7b6d8ac3f2bcb9b13b0983f4e: Check maven_jar sha1s for validity (https://github.com/bazelbuild/bazel/commit/c760f133604877e7b6d8ac3f2bcb9b13b0983f4e).

[2016-07-19 20:17] katre commented on #1537
And reverting that commit causes the tests to begin passing again.

[2016-07-19 20:37] evmar commented on #1510
I found it here: http://www.bazel.io/docs/skylark/lib/attr.html#label_list .  Lesson learned: the search box in the docs does not do anything useful.

[2016-07-19 20:37] #1510 closed

[2016-07-20 00:05] gunan commented on #1437
We usually see this problem in our jenkins instance for tensorflow.
I will work to see if I can reproduce the problem locally and let you know.

[2016-07-20 08:40] meteorcloudy opened #1538 "//src/test/java/com/google/devtools/build/lib:windows-tests is failing on Windows"
testExecutableNotFound and testReadingAndWritingAfterTermination fails with:
[code]

And even it succeed, the test hangs.

[2016-07-20 08:54] abergmeier-dsfishlabs commented on #125
We hit that today. So is `objc*` an option for OSX by now or not?

[2016-07-20 12:59] abergmeier-dsfishlabs commented on #1535
Seems to be dup of https://github.com/bazelbuild/bazel/issues/1535. Real nasty stuff!

[2016-07-20 13:01] abergmeier-dsfishlabs commented on #1490
Can you please remove the runfile example from the cookbook!

[2016-07-20 13:13] abergmeier-dsfishlabs commented on #1535
This is especially bad because there is no way of working around it, since `runfiles` are not allowed to be stored in `struct`.

[2016-07-20 13:26] werkt commented on #1490
I want to make sure that this is not treated as being limited to runfiles - any of the reserved words in that if chain will fail to satisfy provider requirements.

[2016-07-20 14:16] adrianludwin opened #1539 ""Getting bash completion" instructions are unclear"
The instructions for installing bash completion [say](http://www.bazel.io/docs/install.html):

However, if I've just installed Bazel via the installer (or, I believe, through apt-get) it's far from clear to me what workspace I'm supposed to use. Can we clarify these instructions?

[2016-07-20 14:23] abergmeier-dsfishlabs commented on #1534
So for now you HAVE to use

    srcs = [
      "libfreeimageplus.so.3,
    ]

for it to work.
@kchodorow Can anyone comment on what the logic behind the soname handling in Bazel is?

[2016-07-20 14:23] adrianludwin opened #1540 "Easy to mistakenly install bazel without specifying "--user""
When installing Bazel for the first time, I made the fairly obvious mistake of omitting the "--user" flag. The error I got back suggested I should use "sudo," which I did. Since I don't seem to be the only person to make this mistake (cf the title of #962), perhaps if the installer is about to error out due to insufficient permissions, it would be better to say something like:

`If you are just in

[2016-07-20 14:42] adrianludwin opened #1541 "Can't type "bazel help" while a build is in progress in the same workspace"
This is easy to work around (just chdir out of the workspace) but it would be nice if "bazel help" would work from within a workspace even if the build is in progress.

[2016-07-20 15:02] #1537 closed

[2016-07-20 15:02] #1538 closed

[2016-07-20 15:30] lecterquadpartisan opened #1542 "cannot install tensorflow from source"
Hi, trying to build tensorflow from source. Getting the error message below -

"/home/lec/Downloads/tensorflow/tensorflow/tools/proto_text/BUILD:31:1: Linking of rule '//tensorflow/tools/proto_text:gen_proto_text_functions' failed: crosstool_wrapper_driver_is_not_gcc failed: error executing command third_party/gpus/crosstool/clang/bin/crosstool_wrapper_driver_is_not_gcc -o bazel-out/host/bin/tenso

[2016-07-20 16:25] katre commented on #1540
The error I get does not mention sudo, it says:

[code]

and then prints the usage string.

What version of the installer are you using?

[2016-07-20 16:33] katre commented on #1542
Can you please clarify:

1. What source repository you are using
2. What bazel version you are using
3. What compiler you have installed
4. What bazel command-line you are calling to get this error

[2016-07-20 16:53] adrianludwin commented on #1540
My mistake, I simply interpreted the lack of permissions as "I need to use sudo." I then avoided looking a few lines down to see the help text that referenced "--user".

Again, it's a bit of an embarrassing mistake, I only filed the issue because I found someone else who made the same mistake. So I'm just suggesting a slight change to the message.

[2016-07-20 17:47] brian-peloton opened #1543 "Test for supported sandboxing falsely fails when client is killed during startup"
The test for determining if sandboxing is supported sometimes fails when it shouldn't if the client is killed at just the wrong time. I've seen the usual `WARNING: Sandboxed execution is not supported on your system [...] turn off this warning via --ignore_unsupported_sandboxing.` message from multiple machines which do support sandboxing. The message is printed with every build command until the

[2016-07-20 18:13] calpeyser commented on #125
We're currently doing a larger refactoring of the objc rules' backend to use a crosstool (like https://github.com/bazelbuild/bazel/blob/master/tools/cpp/CROSSTOOL) to encode differences between platforms.  Once that work is complete, building for OSX should be a simple matter of writing an appropriate toolchain in the crosstool.

That work targets end of year.  Since OSX support will be easy once

[2016-07-20 19:55] #1540 closed

[2016-07-21 00:52] lecterquadpartisan commented on #1542
Environment info

Bazel 0.3.0

Operating System: Ubuntu 16.04
Installed version of CUDA and cuDNN: CUDA 8.0, cuDNN 5

Compiler : gcc 4.9

Ran this step :
bazel build -c opt --config=cuda //tensorflow/tools/pip_package:build_pip_package

[2016-07-21 00:56] lecterquadpartisan commented on #1542
Repository used :
git clone https://github.com/tensorflow/tensorflow

[2016-07-21 04:11] skgumma commented on #1208
Is the procedure changed for version Release 0.3.0 ? I tried the above options but always failing. My mpc libraries are not in standard location. Bazel never able to recognize that location.

[2016-07-21 04:19] 333caowei commented on #1208
@skgumma Did you try to use  ./contrib/download_prerequisitesto download and compile gmp, mpfr, mvc automatically?

[2016-07-21 05:01] skgumma commented on #1208
@333caowei no. We have gcc already installed in the system and I wanted to use them. Thanks for the prompt response.

[2016-07-21 08:38] skgumma commented on #1208
Hi,

Below is the log of the compilation and i'm not able to find out how to resolve it.

INFO: You can skip this first step by providing a path to the bazel binary as second argument:
INFO:    ./compile.sh compile /path/to/bazel
🍃  Building Bazel from scratch......
🍃  Building Bazel with Bazel.
.Unrecognized option: --verbose

Building output/bazel
[root@nscc01 bazel-0.3.0]# export EXTRA_BAZEL_AR

[2016-07-21 11:13] damienmg commented on #1509
I bet this issue is due to GCR not handling v1 image anymore and we have a commit to support v2 format at HEAD.

[2016-07-21 11:29] damienmg commented on #1058
@yugui it does not needs to wait, it's just less a priority than #699.

To make it happens, I am waiting for some code to get OSS then this can be written without requiring docker.

[2016-07-21 13:07] yugui commented on #1058
Thank you for your reply.  I understand.
I'm happy to help if there's something I can do for the rule.

[2016-07-21 13:11] damienmg opened #1544 "http://www.bazel.io/hard_to_write_rules.html should probably not be in the main contribute! menu"
IMO it should be on the menu below or next to the skylark documentation on how to write rules.

[2016-07-21 13:12] damienmg opened #1545 "Clicking on the design docs menu make the menu goes from "Contribute!" to "Documentation""
Click on "Design docs" from http://www.bazel.io/contributing.html (the page http://www.bazel.io/docs/designs/index.html has the wrong menu)

[2016-07-21 14:53] kchodorow opened #1546 "http_archive gives misleading warning if there is no WORKSPACE file"
Found by @mikelalcon:

[code]

Gives you:

[code]

Where the repo contains:

[code]

It should print that io_bazel/WORKSPACE does not exist.

[2016-07-21 20:43] aj-michael commented on #1536
Fixed in 8770c4ead68956aebfdbb9af2d4a6440ce2a3021. Instead of checking for `SDK Readme.txt`, we now check for `tools/android`.

[2016-07-21 20:43] #1536 closed

[2016-07-22 01:18] lilac opened #1547 "android_library aar target does not include jni so files"
Bazel version: 0.2.3
1. Add an android_library rule
2. Make the rule depends on a cc_library, which wraps a cc_binary that outputs a so file.
3. Build the aar target, but the aar does not include the dependent so files.

If I change the `android_library` to `android_binary`, then the generated apk contains the so file without any problem.

[2016-07-22 09:21] philwo opened #1548 "Bazel release 0.3.1"
Baseline will be 792a9d62bd71db530cb207eb6a71e1489a1cac4c
Cherrypick 25e5995fc418a6430c822f71ac0e0418dfc1f34a

[2016-07-22 09:33] philwo commented on #1548
Need to cherrypick 2479405822a955d009ad5f4e170391a75f5e33c5 in addition to fix error during build of the Tutorial project:

ERROR: /home/ci/.cache/bazel/_bazel_ci/9948222a427565e013de111c59f29931/external/io_bazel_rules_appengine/appengine/BUILD:2:1: no such package '@javax_servlet_api//jar': Invalid SHA-1 for maven_jar javax_servlet_api: '' and referenced by '@io_bazel_rules_appengine//appengine:

[2016-07-22 09:34] philwo commented on #1548
Pushed new release candidate:

[code]

[2016-07-22 10:09] wujun opened #1549 "no such package '@protobuf//' when installed syntax from source"
my envrinoment: ubuntu==15.10, bazel==0.2.2b, protobuf==0.3.0.0b2 and I've confirmed that the network is no problem. while I run bazel test syntaxnet/... util/utf8/...  I got the following error every time.

ERROR: package contains errors: syntaxnet.
ERROR: no such package '@protobuf//': Error cloning repository: https://github.com/google/protobuf: cannot open git-upload-pack caused by https://git

[2016-07-22 16:30] ahumesky commented on #1547
This is because, currently, the aar output of android_library contains the output of only that target, not the transitive closure:
http://www.bazel.io/docs/be/android.html#android_library_implicit_outputs
Additionally, if you had an android_library A depend on an android_library B, the aar of A will not contain anything from B. We'd like to make it possible to output the transitive closure for the

[2016-07-22 18:49] jart opened #1550 "load() doesn't work inside function"
If a WORKSPACE file calls a function containing `native.load()` then the imported symbol will not be available to the function namespace in subsequent statements.

### Further explanation

Bazel projects oftentimes specify a `foo_repositories()` function so dependent repositories can easily schlep in transitive dependencies. (Here's the [convention](https://github.com/bazelbuild/rules_closure/blob

[2016-07-22 19:19] AmandaCameron commented on #1492
I did some digging into this today, specifically to see why bazel can't build under alpine, and I believe it's failing in the protoc step, because the grpc protoc plugin isn't statically compiled, so it's failing to find a shared object it needs.

However I can't be sure, because it just dies instantly after printing "Building bazel from scratch."

[2016-07-22 19:22] kchodorow commented on #1492
You can add set -x to compile.sh and it'll print each line as it executes.

[2016-07-22 19:27] AmandaCameron commented on #1492
Yup, added that to compile.sh and can confirm it'e dying in the protoc step. Full log can be uploaded if wanted.

[2016-07-22 20:39] ulfjack commented on #680
My intent for setting it to the 1.0 milestone was for this issue to block a 1.0 release, not to indicate that it'll only be fixed in 1.0. That said, nobody is working on this right now. I'm not even sure what the right solution is.

[2016-07-22 21:27] pspeter3 commented on #1492
Is there a way to ensure the shared object is in the Alpine container?

[2016-07-22 22:29] lingz commented on #429
@dmansfield what was the obvious thing you were missing? I can get it on WORKSPACE but not BUILD.

[2016-07-22 22:33] lingz opened #1551 "No such package error, BUILD not found when doing load"
When I try to do `load("@org_tensorflow//tensorflow:tensorflow.bzl", "tf_copts")`, it gives me the following error:

[code]

But I am able to do this without problems:
`load("@org_tensorflow//tensorflow:workspace.bzl", "tf_workspace")`

Running bazel 0.3.0, my workspace looks like below:

[code]

[2016-07-23 03:31] ulfjack commented on #186
My previous comment describes how that would work. It wouldn't be automatic, but you could enable (or disable) it per cc_binary. We could make it automatic if there's no C++ code in the transitive closure, but that's more work.

[2016-07-23 09:24] XericZephyr opened #1552 "Compatibility Issue of lower-version `sed`."
When I tried to build the bazel from some redhat based seLinux system, I encountered the following error

[code]

FYI, sed version

[code]

[2016-07-24 11:22] lingz commented on #1425
Seems that this one is related to report #1551 I submitted.

[2016-07-24 22:55] kheuton commented on #1358
Thanks @gbkedar, however, now I end up with:
`gcc: error trying to exec 'as': execvp: No such file or directory`

Running `which gcc` on the command line results in:
`~/.conda/envs/tensor/bin/gcc`
and `which as`:
`/usr/bin/as`

[2016-07-25 01:37] davidzchen commented on #1382
De-duping with #579

[2016-07-25 01:37] #1382 closed

[2016-07-25 08:41] damienmg opened #1554 "bazel-docker-tests are broken on ci.bazel.io"
From http://ci.bazel.io/job/bazel-docker-tests/BAZEL_VERSION=HEAD,PLATFORM_NAME=docker/103/console:
[code]

[2016-07-25 08:54] damienmg commented on #1554
repro: $ bazel build --nobuild //tools/cpp/test:test_cc_configure-ubuntu-15.10-dbg

[2016-07-25 09:00] damienmg opened #1555 "//src/tools/singlejar:* tests are timing out on darwin"
See
http://ci.bazel.io/job/bazel-tests/138/BAZEL_VERSION=HEAD-jdk7,PLATFORM_NAME=darwin-x86_64/console

Needs to ping sasha mundak.

[2016-07-25 09:16] damienmg opened #1556 "rules_rust are broken on Darwin with Bazel HEAD"
See http://ci.bazel.io/job/rules_rust/202/BAZEL_VERSION=HEAD,PLATFORM_NAME=darwin-x86_64/console

It is broken since http://ci.bazel.io/job/Bazel/685/

Ok assigning several people:
  - philwo@ for the inflight release, this is probably a release blocker.
  - kchodorow@ for help because it seems like related to remote repository.
  - davidzchen@ for help on rules_rust
  - and myself because sheriff

[2016-07-25 09:31] philwo commented on #1556
Investigating now.

[2016-07-25 09:31] damienmg commented on #1449
Reassigning to @philwo who has been doing work on it recently.

[2016-07-25 09:37] philwo commented on #1449
I think this is "fixed" for the moment, because @lberki committed this interim solution: https://github.com/bazelbuild/bazel/commit/9cf8209e7f59354430f63a5999b80c55285a593e

Following up on this, we should make a decision whether this is working as intended (and we should fix it on the CI side, for example by deleting the _tmp directory after each run), or whether StandaloneTestStrategy should del

[2016-07-25 09:45] damienmg commented on #1449
my stake on that is to have the --keep_test_tmpdir :)

[2016-07-25 09:49] lberki commented on #1449
Sounds like a plan. @philwo had aired that already and there weren't any objections.

[2016-07-25 09:53] lberki commented on #1449
...also note that this issue stems from another, more subtle one, namely, that the name of the temp directory is a function of the number of tests run before in the same build:

https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/rules/test/TestStrategy.java#L300

Regardless of whether we go with `--keep_test_tmpdir` or not, it would be nice to fix this litt

[2016-07-25 11:42] #1554 closed

[2016-07-25 11:55] damienmg commented on #1556
I repro'd it but weirdly even at 609e876996361fba2341a6f5f4ebfdc794849871

[2016-07-25 12:02] damienmg commented on #1556
It does work with 0.3.0 so let's try to do some jump back

[2016-07-25 12:08] damienmg opened #1557 "//src/test/java/com/google/devtools/build/android/ideinfo:PackageParserTest is failing on windows"
http://ci.bazel.io/job/Bazel/JAVA_VERSION=1.8,PLATFORM_NAME=windows-x86_64/697/consoleFull

[code]

[2016-07-25 12:11] damienmg opened #1558 "rules_go fails with bazel @HEAD on ci.bazel.io"
See http://ci.bazel.io/job/rules_go/227/

According to the error this seems to be a C++ compilation issue.

Assigning to myself for investigation

[2016-07-25 12:12] damienmg commented on #1556
This is fixed at HEAD. Woohoo. Now let me bisect for the must-be cherry-pick

[2016-07-25 12:25] damienmg commented on #1556
Humm still happens for me at HEAD... weird.

[2016-07-25 12:32] damienmg commented on #1556
Ok there is something weird in the execroot layout creation.

The local_config_cc does not appears in the execroot even though it is in the external folders of the output base.

@kchodorow : any idea?

[2016-07-25 12:37] damienmg opened #1559 "//src/test/shell/bazel:execroot_test is time out flaky on ci.bazel.io"
[code]
http://ci.bazel.io/job/bazel-tests/BAZEL_VERSION=HEAD,PLATFORM_NAME=darwin-x86_64/139/console

[2016-07-25 12:48] damienmg commented on #1556
Ok I have diagnose the issue:
rules_rust use C++ compilation but have no way to declare a depdency on the c++ compiler (feature not yet existing in skylark). It seems like the external repository link is not created in the execroot until an action that declares the dependency is analyzed.

@kchodorow : I leave this bug assigned to you, we need to fix it ASAP IMO.

@davidzchen: fetch //... is actua

[2016-07-25 12:48] damienmg commented on #1556
(leaving @philwo  assigned for cherry-picking the fix in the release)

[2016-07-25 12:53] damienmg opened #1560 "//src/test/shell/integration:experimental_ui_test is timeout flaky"
http://ci.bazel.io/job/bazel-tests/BAZEL_VERSION=latest,PLATFORM_NAME=darwin-x86_64/139/console

[2016-07-25 12:55] damienmg opened #1561 "//src/test/shell/bazel:bazel_apple_test is timeout flaky"
see http://ci.bazel.io/job/bazel-tests/BAZEL_VERSION=latest-jdk7,PLATFORM_NAME=darwin-x86_64/139/console

[2016-07-25 12:57] damienmg commented on #1560
[code]

From what I can tell this could be a genuine failure. Klaus is OOO this week I need to find someone to investigate.

[2016-07-25 13:02] damienmg opened #1562 "TensorFlow job is failing on ci.bazel.io at HEAD"
A bug on bazel side, see http://ci.bazel.io/job/TensorFlow/335/

[2016-07-25 13:05] damienmg commented on #1562
Seems like the same error as https://github.com/bazelbuild/bazel/issues/1558

[2016-07-25 13:14] damienmg commented on #1558
Good news: easy to reproduce, no need for cleaning :)

[2016-07-25 13:23] damienmg commented on #1558
bisect tells b669406789dd452161875d407d0ce6a3502de5f6 is the culprit

[2016-07-25 13:24] damienmg commented on #1548
25e5995fc418a6430c822f71ac0e0418dfc1f34a needs to be cherry-picked

[2016-07-25 13:27] damienmg commented on #1558
Confirming reverting fix, let's try tensorflow now

[2016-07-25 13:42] damienmg commented on #1562
Confirmed that b669406 is the culprit, rollback is the sentence.

[2016-07-25 13:51] damienmg commented on #1551
What does the build file you are doing the load from looks like?

[2016-07-25 13:54] damienmg commented on #1550
This is WAI. Bazel needs to knows the dependencies before analysis. This could be lifted a little but with a lot of engineering. Unless we have a strong use case for it, it is not going to be implemented.

Closing but feel free to argue :)

[2016-07-25 13:54] #1550 closed

[2016-07-25 13:55] damienmg commented on #1549
The bazel version is rather old, can you try to update to 0.3?

[2016-07-25 13:56] kchodorow opened #1563 "https://bazel.io isn't loading"
https://twitter.com/ittaiz/status/757281651726614528

[2016-07-25 13:58] damienmg commented on #1542
Hi can you run with --verbose_failures?

Also is there a reason to file a bug to bazel instead of TensorFlow?

[2016-07-25 14:00] damienmg commented on #1535
/cc @dslomov to investigate / answer

[2016-07-25 14:02] lingz commented on #1551
Very minimal, just one cc_binary. Sure clarifying it's in a different workspace though, and I'm referring to it remotely as a local repository.

[code]

[2016-07-25 14:18] damienmg commented on #1563
dupe of https://github.com/bazelbuild/bazel/issues/47

[2016-07-25 14:18] #1563 closed

[2016-07-25 14:19] damienmg commented on #1534
/cc @ulfjack or @lberki might have more insight to answer the question

[2016-07-25 14:20] damienmg commented on #1532
No answer so closing, feel free to ping if you still have issues.

[2016-07-25 14:20] #1532 closed

[2016-07-25 14:22] damienmg commented on #1525
0.2.1 is rather old release, can you update? We fixed a lot of invalidation issues since then.

Closing for now, feel free to ping if you have more issues.

[2016-07-25 14:23] damienmg commented on #1551
What is the WORKSPACE file of the workspace of the build file then? This workspace file needs to declare the tensorflow repository too.

[2016-07-25 14:28] #1557 closed

[2016-07-25 14:28] #1558 closed

[2016-07-25 14:28] #1559 closed

[2016-07-25 14:28] #1561 closed

[2016-07-25 14:28] #1562 closed

[2016-07-25 14:30] damienmg commented on #1502
Dup of #1556

This is an execroot issue.

[2016-07-25 14:30] #1502 closed

[2016-07-25 14:54] kchodorow commented on #1563
I thought this was working for a while.

[2016-07-25 15:03] damienmg commented on #1556
latest push is broken again.

[2016-07-25 15:03] damienmg commented on #1563
Not yet :(

On Mon, Jul 25, 2016 at 4:55 PM Kristina <notifications@github.com> wrote:

[2016-07-25 15:10] damienmg opened #1564 "Installation instruction on windows does not specify which component to install for MSVC"
The default installation of MS Visual Studio Community Edition does not contains the necessary files, the safest path is to select "everything"

[2016-07-25 15:20] damienmg opened #1565 "//src/test/shell/bazel:bazel_worker_test is flaky on ci.bazel.io"
http://ci.bazel.io/job/bazel-tests/BAZEL_VERSION=latest-jdk7,PLATFORM_NAME=darwin-x86_64/140/console

Log:
[code]

Assigning to @philwo because worker.

[2016-07-25 15:20] damienmg commented on #1565
Looks like a race condition.

[2016-07-25 15:30] dslomov commented on #1535
(sorry for late reply) This is not happy indeed, but why is it critical fro you to restrict to "runfiles"?
(I am working on some rationalization/restructuring of default providers, will publish some design documents soon_

[2016-07-25 17:56] gbkedar commented on #1358
@kheuton in third_party/gpus/crosstool/clang/bin/crosstool_wrapper_driver_is_not_gcc
change the line
PREFIX_DIR = os.path.dirname(GCC_HOST_COMPILER_PATH)
to
PREFIX_DIR = os.path.dirname("Path to AS")

[2016-07-25 19:12] kchodorow commented on #1556
Really? Opening a pull request that says "fixes whatever" actually marks the bug as fixed?  Seems like GitHub should wait until the fix is actually merged in...

[2016-07-25 19:15] mzhaom opened #1566 "dependency in java_binary runtime_deps can't be used as arg of $(location ...)"
This works:

[code]

But changing the "deps" to "runtime_deps" doesn't work:

[code]

Error message:

[code]

[2016-07-25 20:58] #1556 closed

[2016-07-26 01:07] ulfjack commented on #1475
Some notes, since I happened to look at this bug report:
- don't use cc_library, use cc_binary; we want to change cc_library in a way that will otherwise break you (i.e., remove the implicit .a and .so outputs)
- if you want to use a precompiled file, no need to use an intermediate cc_library, just add it to data of py_library directly
- if you have multiple dependencies on the same cc_library, yo

[2016-07-26 01:08] ulfjack opened #1567 "Bazel does not create top level __init__.py in runfiles"
This is related to the runfiles changes in Bazel 0.2.3.

Given a workspace named "workspace", with a package "foo" containing a BUILD file like so:

== foo/BUILD ==
[code]

The file `bazel-bin/foo/bar.runfiles/workspace/__init__.py` should be created in order for python imports like
[code]
to work.

The workaround is to add something like this to every python target:
[code]

[2016-07-26 01:11] ulfjack commented on #1446
I don't think py_library enforces anything. :-)

The srcs_version attribute is mainly intended to support migration from python 2 to python 3. The error message is confusing because Bazel thinks you want it to auto-convert the code from python 3 down to python 2, which is the default output.

I think you could just remove all the srcs_version, and it should work just fine.

[2016-07-26 01:39] PiotrSikora opened #1568 "Provide "rules_perl" repository with Skylark rules for Perl"
Please add  `rules_perl` Skylark repository, maintained by the Bazel team, that provides `perl_binary`, `perl_library` and `perl_test`.

See [this post](https://groups.google.com/forum/#!msg/bazel-discuss/q4ZQFkPYsPw/9OVzu_UUGAAJ) for previous discussion.

Feel free to reach out internally for existing `perl.bzl`, which could be used for this.

[2016-07-26 03:35] dfabulich opened #1569 "`bazel version` launches a server; is slow"
When running `bazel version` in a directory with a `WORKSPACE` file, it launches a server before spitting out the version number.

`bazel version` takes 1.2s if the server isn't running yet or if you launch in `--batch` mode; it still takes 100ms if the server is running.

We wanted to query `bazel version` in `tools/bazel`. Adding `bazel version` to `tools/bazel` makes our Bazel startup slower.

[2016-07-26 04:15] dfabulich opened #1570 "Can't disable error-prone in Bazel 0.3.1rc2"
Consider the repository here. https://github.com/dfabulich/disable-errorprone

It has a blank `WORKSPACE` and a single `App.java` file, which compiles in `javac` but fails under [Error Prone](https://github.com/google/error-prone).

[code]

[code]

When I `bazel build :x` in Bazel 0.3.0, the build succeeds.

In Bazel 0.3.1rc2, the build fails, `blaze javac: invalid flag: -extra_checks:off`. If I c

[2016-07-26 04:17] dfabulich commented on #1570
Note also that the URL the build message provides, [http://errorprone.info/bugpattern/ArrayToStringConcatenation](http://errorprone.info/bugpattern/ArrayToStringConcatenation) is 404. (But I get the idea.)

Note that I'm compiling legacy code here that I can't afford to update to fix Error Prone's issues.

[2016-07-26 05:57] cushon commented on #1570
That happened in d861a005d27d0e95070d0807d8da5f6b6fdb9d2e. The `-extra_checks` flag was put in when Error Prone was first integrated with Bazel, in case we needed a way to turn it off in a hurry. You can still use e.g. `-Xep:ArrayToStringConcatenation:OFF` to suppress errors. It'd be easy enough to add `-extra_checks` back if it's useful, though.

Just curious, were they any particular errors you

[2016-07-26 06:19] dfabulich commented on #1570
`-extra_checks:off` is critical to me. Error Prone uses dozens of checks by default and disabling them one at a time is not reasonable.

I have no complaints about the diagnostic itself (I agree that it's almost never a good idea to concatenate an array with a string) but I have no idea how long it would take me to fix all the random stuff Error Prone turns up, weeks probably, and I can't justify

[2016-07-26 07:34] abergmeier-dsfishlabs commented on #1535
@dslomov This is mostly a dup of #1490. And the real issue is that you cannot store objects of type `runfiles` in Skylark `struct`. So you have no way of working around that. I in the meantime changed code to not need that anymore so is not a blocker for me currently.

[2016-07-26 07:47] abergmeier-dsfishlabs commented on #1475
Already slowly converting. Maybe this should be made more clear in the docs.

The argument against that for me is that I have multiple targets (`py_*` as well as `cc_*`), that depend on the precompiled file. And it seems cleaner to link against `cc_*` in that case!?

We are aware ;)

`native_deps` would be nice.

[2016-07-26 08:01] damienmg commented on #1556
Great no cherry-pick needed :)

[2016-07-26 08:13] damienmg commented on #1570
I would say we revert that change for the release. @cushon Was the removal of this flag just because it is unused in Google?

[2016-07-26 08:13] damienmg commented on #1570
/cc @philwo for the release

[2016-07-26 08:16] damienmg commented on #1568
We are not going to maintain a rules_perl. However we can endorse a maintained rule set like we did for scala or groovy. If you wish to maintain such a rule set, just create a repository and point it to us then we can make it a bazelbuild repository.

[2016-07-26 08:20] damienmg commented on #1569
Yes that's really sad but it's due to the java code which actually read the information and return it to the user.

/cc @ulfjack for finer triage, I am unsure we want to change that in the long term.

[2016-07-26 08:22] lberki commented on #1534
Regrettably, I can't provide a good solution at the moment other than "we need to make it possible to link with libraries whose basename is not their soname".

Internally, we hardly ever use precompiled libraries, so this hasn't been an important issue for us, but we of course can't live with that in bazel.

[2016-07-26 08:34] k6project opened #1571 "OSX enviroment PATH gets truncated"
Hi,

I have py_binary rule with PY3 set as default_python_version. When the build runs, it fails to locate python3:

Traceback (most recent call last):
  File "bazel-out/local-py3-fastbuild/bin/testws/test-builder", line 122, in <module>
    Main()
  File "bazel-out/local-py3-fastbuild/bin/testws/test-builder", line 107, in Main
    raise AssertionError('Could not find python binary: ' + PYTHON_BI

[2016-07-26 08:38] damienmg commented on #1571
The python binary is mostly hard coded IIRC, you need to set --python3_path in the command line.

[2016-07-26 08:39] damienmg commented on #1571
Also it seems like the python rules does not pass around the default shell environment.

[2016-07-26 08:47] dslomov commented on #1486
What is the motivation for adding this? Why line breaks are not good enough? (I do not think Bazel supports line breaks in file names very well anyway)

[2016-07-26 09:47] abergmeier-dsfishlabs commented on #1486
If you e.g. want to

1. write the output of query to a file
2. mmap that file
3. use the path strings found in that file directly (without having to copy or modify memory)

it is way easier/faster to do this when the separate paths are already `\0` terminated.
A lot of BSD + GNU utils have options to null terminate output.

Implementation wise I implemented it "inline", without an additional indir

[2016-07-26 10:35] damienmg commented on #1560
Another instance: http://ci.bazel.io/job/bazel-tests/BAZEL_VERSION=HEAD,PLATFORM_NAME=linux-x86_64/141/console

[2016-07-26 11:51] damienmg opened #1572 "//src/test/shell/bazel/android:android_integration_test is time out flaky"
See http://ci.bazel.io/job/bazel-tests/BAZEL_VERSION=latest-jdk7,PLATFORM_NAME=darwin-x86_64/142/console

Assigning to @ahumesky for triage.

[2016-07-26 12:52] philwo commented on #1548
New release blocker found by @dfabulich, waiting for a fix possibly by @cushon: https://github.com/bazelbuild/bazel/issues/1570

[2016-07-26 14:00] philwo commented on #1565
It looks like the Bazel server quit between the two invocations "bazel build :hello_world_2" and "bazel build :hello_world_3", but I don't know why and what we should do in this case. :(

The test depends on the Bazel server not randomly quitting or restarting between two "bazel build"s while the test runs. Is this a reasonable assumption?

[2016-07-26 14:11] lilac commented on #1547
@ahumesky Thanks for the explanation. Is there any workarounds for it at the moment?

[2016-07-26 15:30] ulfjack commented on #1569
I don't have much to add. I'd certainly like to fix it. It's also odd that it's taking 100ms for a running server - it ought to be faster than that.

[2016-07-26 19:08] ahumesky commented on #1547
You might be able to get pretty far by wrapping the android_library in an android_binary rule, then using the _deploy.jar implicit output of android_binary to get the classes.jar, and extracting the native libs and resources and assets from the apk, and putting that together in a genrule or a skylark rule. The tricky part is getting R.txt and the AndroidManifest, because those are not implicit out

[2016-07-26 20:33] paladine commented on #564
This issue should be raised in priority given that the new Google Play Services ships exclusively in AAR format. It no longer ships in a buildable form. Therefore you can't really build an Android application with bazel that utilizes Play Services.

What we really need is support for external AAR files, like new_local_repository where you can define all the aar Google Play Service files, and have

[2016-07-26 23:48] pgr0ss opened #1573 "generate_workspace should/could choose highest maven version number"
If `generate_workspace` is run with artifacts that depend on a common artifact, it will choose the version from whichever it encounters first. Alternately, it would be better (I think) if it instead chose the highest version. For example:

[code]

Generates:

[code]

But if we reverse the artifacts:

[code]

Now we get:

[code]

Choosing the highest would also ensure the output is the same regardl

[2016-07-27 07:39] abergmeier-dsfishlabs commented on #544
Can we for the time being perhaps at least change the behavior, so if you have:

    --force_python=PY3

or

    --host_force_python=PY3

that it then uses `/usr/bin/python3`.
I do not know whether (the proper) `/usr/bin/env python3` can work with Sandboxing enabled.

[2016-07-27 08:08] abergmeier-dsfishlabs opened #1574 "Sandboxing seems to prevent Pillow from loading"
When I try to load Python Pillow I get the following trace:

    Fatal Python error: Aborted

    Thread 0x00007fc0c8f75700 (most recent call first):
      File "/usr/lib/python3/dist-packages/PIL/Image.py", line 37 in <module>
      File "<frozen importlib._bootstrap>", line 222 in _call_with_frames_removed
      File "<frozen importlib._bootstrap_external>", line 662 in exec_module
      File "<

[2016-07-27 09:31] damienmg commented on #564
@ahumesky This is definitely a P1 now, is this beeing working on?

[2016-07-27 09:49] abergmeier-dsfishlabs commented on #1574
Nevermind, was a memory corruption in another native module.

[2016-07-27 09:49] #1574 closed

[2016-07-27 10:44] damienmg commented on #1560
Reassigning to Klaus. As discussed offline this seems like a genuine failure but on an experimental feature so we are marking the test as manual now and it should be reactivated once this bug is resolved.

[2016-07-27 10:50] damienmg commented on #1573
/cc @kchodorow for further triage.

[2016-07-27 11:18] seoanezonjic opened #1575 "sed version problems when is used in gnu linux"
Compiling bazel from source I get this error:
`Building Bazel from scratch......sed: opción inválida -- E`

I have found this link related with this issue:
http://blog.dmitryleskov.com/small-hacks/mysterious-gnu-sed-option-e/

You can do something to detect which option use in each platform?

[2016-07-27 11:23] k6project opened #1576 "OSX CC wrapper issues (RPATH, dynamic libraries)"
I have encountered a number of issues while building:
1. Multiple RPATH entries: when buildind cc_library and linking it against several pre-built third-party libraries (each library is provided as a cc_library rule with lib binary in "srcs" attribute), multiple "-Wl,-rpath" options are generated, but the CC wrapper for OSX seems to consider only one
2. CC wrapper seems not to look for .dylib file

[2016-07-27 11:23] damienmg commented on #1575
Can you specify on which platform exactly you are getting that?

[2016-07-27 11:26] damienmg commented on #1576
2. is a duplicate of #407

1. is a known issue but weird enough I cannot find a bug for it.

3. is new to me.

[2016-07-27 11:29] damienmg opened #1577 "Bazel job on ci.bazel.io: bootstrapping fails on darwin"
See http://ci.bazel.io/job/Bazel/JAVA_VERSION=1.8,PLATFORM_NAME=darwin-x86_64/701/console

This is because we build //scripts/packages/... that now needs dpkg-* to build the source package.

Assigning to @meteorcloudy

[2016-07-27 11:34] philwo commented on #1565
Talked to @lberki about this and the probable cause for this seems to be a too low idle timeout for the Bazel server used in tests in combination with an overloaded machine running the tests. This causes the time between the two "bazel build" commands to be longer than the idle timeout, causing the server to exit.

Proposed fix: Increase idle timeout (why is that even set so low?) and faster machi

[2016-07-27 11:37] seoanezonjic commented on #1575
Here results of
uname:
`Linux  3.0.13-0.27-default #1 SMP Wed Feb 15 13:33:49 UTC 2012 (d73692b) x86_64 x86_64 x86_64 GNU/Linux`
SO distro:
`LSB_VERSION="core-2.0-noarch:core-3.2-noarch:core-4.0-noarch:core-2.0-x86_64:core-3.2-x86_64:core-4.0-x86_64"
SUSE Linux Enterprise Server 11 (x86_64)
VERSION = 11
PATCHLEVEL = 2`

When I changed the -E flafs to -r the compilation process has continued but no

[2016-07-27 11:39] damienmg commented on #1565
I think the idle time is set low on integration test to avoid having a lot of background server still running.

Increase idle timeout sounds good and faster machines is already the case, this flake happens because the darwin 2 slave was down so it got scheduled on the slow darwin 1 slave.

The idea was alway to replace the darwin 1 with a bigger machine but we wanted to wait for new mac pro to arr

[2016-07-27 11:42] seoanezonjic commented on #1575
Sorry, I have not seen this sed related issue: Compatibility Issue of lower-version `sed`. #1552
But I  addressed the problem in my first message and now I don't know how to fix the last compilation error.

[2016-07-27 11:44] damienmg commented on #1575
FWIW, SLES 11 is too old so we are probably not going to add native support for it.

Anyway, we can always fix your specific issues.

For the last issue, you can replace "linux-sandbox.cc" by "dummy-sandbox.cc" at https://github.com/bazelbuild/bazel/blob/master/src/main/tools/BUILD#L38

[2016-07-27 12:31] seoanezonjic commented on #1575
Thank you, it worked perfectly so I'll use it to build tensorflow.

[2016-07-27 12:40] damienmg commented on #1575
You're welcome :)

[2016-07-27 12:40] #1575 closed

[2016-07-27 13:00] #1577 closed

[2016-07-27 14:03] kchodorow commented on #1573
Seems reasonable to me.

[2016-07-27 14:35] aj-michael opened #1578 "Sample Android app loads popup error"
`//examples/android/java/bazel:hello_world` displays an error message on the screen when run on Sdk 24.

![example_warning](https://cloud.githubusercontent.com/assets/7756476/17179014/a4565782-53e5-11e6-9914-243dfae76ef6.png)

logcat shows a warning:

[code]

[2016-07-27 14:38] aj-michael commented on #1578
On SDK23, the logcat warning is present, but no popup is displayed.

[2016-07-27 14:55] damienmg commented on #1565
We are replacing darwin 1 with a bigger machine shutting it down in between because it times out too many tests. Do you still needs to add a bigger idle timeout?

[2016-07-27 14:57] philwo commented on #1565
Let's see if it is still flaky - if yes, I can have a look whether we can increase the idle timeout and maybe also explicitly shutdown bazel instances used in tests, so that they don't accumulate. If not, maybe we're fine for now :)

[2016-07-27 14:59] damienmg commented on #1565
SGTM let's close this one and re-open if another flake appear.

[2016-07-27 15:05] #1516 closed

[2016-07-27 15:07] #1570 closed

[2016-07-27 15:13] philwo commented on #1548
Pushing new release candidate with two additional cherry-picks: https://github.com/bazelbuild/bazel/commit/3cf21261bf756c937551c7d852dbca5c954fc44f https://github.com/bazelbuild/bazel/commit/5a9c6b47aefd2d0f3bc63c4922f58cb898cf11a3

Manually adding to release notes:
[code]

Command log:
[code]

[2016-07-27 15:15] abergmeier-dsfishlabs commented on #1446
@ulfjack Removing the `srcs_version` I get:

    Converting to Python 3: foo.py failed

with it calling `bazel-out/host/bin/external/bazel_tools/tools/python/2to3`, which is pretty useless since `foo.py` is a python3 script already.

[2016-07-27 17:22] ahumesky commented on #564
Was there some announcement somewhere about Google Play Services no longer updating google-play-services.jar (<sdk>/extras/google/google_play_services/libproject/google-play-services_lib/libs/google-play-services.jar)?

Importing AARs is blocked on the unpredictable action outputs work, which is being worked on, but it's not in a stable state right now. We could possibly come up with a workaround

[2016-07-27 17:50] ulfjack commented on #1446
I'm not sure I follow - can you give me more details on how to reproduce the issue?

[2016-07-27 19:52] davidzchen commented on #1550
Do we have a way to make this less cumbersome yet? Skydoc has a similar problem since it depends on `rules_saas`, and currently, users would have to copy and paste a rather significant chunk of workspace rules:

[code]

[2016-07-28 04:17] skgumma commented on #714
I'm having the same issue. My environment:
Cent OS 6.6
bazel version
Build label: 0.3.0- (@non-git)
Build target: bazel-out/local-fastbuild/bin/src/main/java/com/google/devtools/build/lib/bazel/BazelServer_deploy.jar
Build time: Tue Jul 26 02:34:53 2016 (1469500493)
Build timestamp: 1469500493
Build timestamp as int: 1469500493
GCC: 4.9.3 installaed in custom location.

Compilation error message:

[2016-07-28 06:43] abergmeier-dsfishlabs commented on #1446
@ulfjack I would really love to have a complete description how the different python conversion/flags/attributes are used and in which combination they should produce which output.
Is there anyone at Google who could describe what the logic behind all that is?

[2016-07-28 08:46] damienmg commented on #714
which version of Bazel exactly? It somewhere after 0.3.0 but there is not a git hash to identify.

I would say it because you need to modify the third_party/gpus/crosstool/CROSSTOOL file to add /app/gcc/4.9.3/lib/gcc/x86_64-unknown-linux-gnu/4.9.3/include in the list of cxx_include_directories

[2016-07-28 08:46] damienmg commented on #1572
@ahumesky ping?

[2016-07-28 08:48] damienmg commented on #1578
/cc @ahumesky for further triage

[2016-07-28 08:49] damienmg commented on #1578
(or @aj-michael please self-assign if you are working on it).

[2016-07-28 12:04] lingz commented on #1551
Yep I have a WORKSPACE file declaring the Tensorflow repo. Curiously, the load requesting `tf_workspace` here works without problems:

[code]

[2016-07-28 12:04] lingz commented on #1551
And referring to `@tensorflow` in the context of dependencies works without a problem.

[2016-07-28 13:21] damienmg opened #1579 "//src/test/shell/bazel:bazel_apple_test#test_fat_binary_no_srcs is failing"
See http://ci.bazel.io/job/bazel-tests/BAZEL_VERSION=HEAD,PLATFORM_NAME=darwin-x86_64/lastCompletedBuild/testReport/(root)/(empty)/test_fat_binary_no_srcs/

[2016-07-28 13:28] damienmg commented on #1579
repro: bazel test //src/test/shell/bazel:bazel_apple_test --test_arg test_fat_binary_srcs

[2016-07-28 13:34] damienmg commented on #1551
Ok I am lost, is the structure like that:
[code]
And you try to `bazel build //lib/myapp/...` from `<dir>`?

[2016-07-28 13:57] abergmeier-dsfishlabs opened #1580 "Python 3 support"
I would like for this issue to collect all issues concerning Python 3.

As far as I know there are multiple problems:
1. The supported values for `srcs_version` are `PY2, PY3, PY2AND3, PY2ONLY, PY3ONLY`.
   - `PY3` is documented wrong. It actually handles similar to `PY2`, which is fine.
   - `PY3ONLY` is not even documented, although it mostly is what a lot of Python 3 users want.
2. By default B

[2016-07-28 13:57] lingz commented on #1551
yep you got it exactly right.

[2016-07-28 13:59] damienmg commented on #1579
Bisect found b5540c85ec as the culprit, rolling-back.

[2016-07-28 13:59] abergmeier-dsfishlabs commented on #1580
Hope I collected all input from #1406, #544 and #1446

[2016-07-28 14:06] damienmg commented on #1551
I was able to repro.

[2016-07-28 14:07] damienmg commented on #1551
Seems like tf_opts() macro is at fault

[2016-07-28 14:09] lingz commented on #1551
You mean `tf_copts`? What about it is incompatible, it seems pretty small / straightforward macro to me.

[2016-07-28 14:09] damienmg commented on #1551
[code]

Pinging @kchodorow and @lberki to get more help, I cannot understand what is happening there.

[2016-07-28 14:29] ahumesky commented on #1572
Sorry, I haven't had time to look at this

[2016-07-28 14:33] kchodorow commented on #1551
`tf_copts` is returning

[code]

This is put into your cc_binary rule wholesale, so it's trying to find `//tensorflow:whatever` in _your_ workspace, not tensorflow's.

I'm not sure why bazel query doesn't show the copts.

[2016-07-28 15:15] kchodorow commented on #1551
One workaround is you could make a tensorflow/BUILD file and copy https://github.com/tensorflow/tensorflow/blob/master/tensorflow/BUILD#L15-L36 into it.

[2016-07-28 15:24] lingz commented on #1551
So my understanding is that config_setting does not cross WORKSPACE
boundaries and this is by design right? So if I want to support the same
workspaces I should just recreate all the same configs.

Also I have a question about the placement of these BUILD files with the
config_setting rule. Where can I place them such that they are globally
registered? Will a config_rule in a BUILD file in the sam

[2016-07-28 15:35] kchodorow commented on #1551
You could use the workspace name prefix (e.g., @org_tensorflow//tensorflow:android) and it would work fine.  There is no "global" registry, every repository has its own namespace.  You have to refer to things by their namespace.  I think it's kind of a mistake for tensorflow to expose this to users without a workspace name, but they might not have had an option (Skylark does not support very much

[2016-07-28 16:24] aj-michael commented on #1578
I did self assign. The fix is in Gerrit for review. :smile:

[2016-07-28 18:27] kavehv commented on #1035
+1

[2016-07-28 20:09] davidzchen commented on #1545
I have a fix for this.

[2016-07-28 20:17] rupflz opened #1581 "bazel 0.3.0: Unhandled exception thrown during build of Tensorflow 0.9"
Ubuntu 14.04, bazel 0.3.0, tensorflow 0.9
Proxy is required in this setup but is known to work. In fact, bazel 0.2.2b successfully builds TF 0.8 on this same system. Recently, both bazel 0.3.0 and TF 0.9 were installed, which is where the issue is seen.

Attempt to build TF: bazel.0.3.0 build -c opt //tensorflow/tools/pip_package:build_pip_package
Result:
INFO: Elapsed time: 1.926s
java.lang.Runti

[2016-07-28 20:28] rupflz commented on #1581
Nevermind. Issue traced back to environment after bazel install. Closing.

[2016-07-28 20:28] #1581 closed

[2016-07-28 20:30] kchodorow commented on #1581
Bazel's downloading logic uses [this regex](https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/bazel/repository/downloader/ProxyHelper.java#L78) to decide if a proxy is a valid URL.  It obviously should be handling exceptional cases better, but can you try setting HTTP_PROXY (and/or HTTPS_PROXY) environment variable to something of the form http://host:port

[2016-07-29 02:12] skgumma commented on #714
Thanks @damienmg
I have these lines in my CROSSTOOL file  and still I see the compilation failing.

# grep cxx tensorflow/third_party/gpus/crosstool/CROSSTOOL
  cxx_flag: "-std=c++11"
  cxx_builtin_include_directory: "/app/gcc/4.9.3"
  cxx_builtin_include_directory: "/app/gcc/4.9.3/include"
  cxx_builtin_include_directory: "/app/gcc/4.9.3/lib/gcc/x86_64-unknown-linux-gnu/4.9.3/include"
  cxx_built

[2016-07-29 08:28] philwo commented on #1548
- Create new release candidate, because we have one last tweak to the release notes.
- Add to release notes:
[code]
- Remove mentioning of "java_proto_library" from release notes.
- Release without push.

[code]

Done! :)

[2016-07-29 08:28] #1548 closed

[2016-07-29 09:22] damienmg commented on #714
What does `realpath /app/gcc/4.9.3/lib/gcc/x86_64-unknown-linux-gnu/4.9.3/include/stdarg.h` says?

[2016-07-29 09:36] damienmg commented on #1551
Ok so this is not a problem on our side.

There is the issue of query not understanding select but that's a different issue.
The underlying problem is that label for condition should include the repository name, using Label() around them should fix the issue on the TF side. /cc @martinwicke.

[2016-07-29 09:36] damienmg commented on #1551
I am closing this bug since the issue is not on the Bazel side.

[2016-07-29 09:36] #1551 closed

[2016-07-29 09:40] damienmg commented on #1411
Sorry lost track with my personnal issues, it is indeed something that we should do, triaged.

[2016-07-29 09:41] damienmg commented on #1284
No answer so closing.

[2016-07-29 09:41] #1284 closed

[2016-07-29 09:43] damienmg commented on #1358
Closing as the problem should be fixed on protobuf and tensorflow.

[2016-07-29 09:43] #1358 closed

[2016-07-29 09:45] damienmg commented on #1476
No answer so closing, please ping if you still needs help.

[2016-07-29 09:45] #1476 closed

[2016-07-29 09:52] natemccoy commented on #1476
Sorry guys, i sold the 32-Bit system without being able to test it in further detail. I am assuming this should fix the problem as it was related to java and memory consumption. Thanks for your help.

[2016-07-29 09:55] damienmg commented on #1476
No problem. Thanks for the update!

On Fri, Jul 29, 2016 at 11:52 AM natemccoy <notifications@github.com> wrote:

[2016-07-29 10:42] #1544 closed

[2016-07-29 10:42] #1545 closed

[2016-07-29 10:42] #1579 closed

[2016-07-29 12:06] skgumma commented on #714
I see the file there

# ls /app/gcc/4.9.3/lib/gcc/x86_64-unknown-linux-gnu/4.9.3/include/stda*
/app/gcc/4.9.3/lib/gcc/x86_64-unknown-linux-gnu/4.9.3/include/stdalign.h
/app/gcc/4.9.3/lib/gcc/x86_64-unknown-linux-gnu/4.9.3/include/stdarg.h
/app/gcc/4.9.3/lib/gcc/x86_64-unknown-linux-gnu/4.9.3/include/stdatomic.h

[2016-07-29 12:08] damienmg commented on #714
I wanted to know if they are symlinks on the path, that might be the issue

[2016-07-29 12:11] skgumma commented on #714
No there's no symlinks, it's my direct path.

[2016-07-29 12:12] damienmg commented on #714
Can you provide the whole CROSSTOOL file?

Can you also confirm you are building with --config cuda?

[2016-07-29 12:13] damienmg opened #1582 "//src/test/shell/bazel/android:android_integration_test is failing on ci.bazel.io under darwin"
Extract from http://ci.bazel.io/job/bazel-tests/BAZEL_VERSION=HEAD,PLATFORM_NAME=darwin-x86_64/155/console:

[code]

[2016-07-29 12:14] damienmg commented on #1582
*readelf* is obviously not available on darwin

[2016-07-29 12:14] damienmg commented on #1582
likely culprit is e65876a28965c72f7a48a16be3390ba7c5c97a6f

[2016-07-29 13:16] rokstrnisa commented on #291
I see this error on Windows. I think Bazel doesn't handle capitalised letters in directories very well, and having some inconsistencies in referencing a directory within BUILD files can lead to this.

    ERROR: Source forest creation failed: Command failed cmd.exe /c mklink /J "C:\tools\msys64\var\tmp\Bazel\$KNt4ZiP\execroot\<dir>" "C:\tools\msys64\home\rok\<dir>".

[2016-07-29 13:20] damienmg commented on #291
Can you open a separate bug?

[2016-07-29 13:32] rokstrnisa opened #1583 "Source forest creation fails with inconsistently-capitalised path references"
I think Bazel doesn't handle capitalised letters in directories very well, and having some inconsistencies in referencing a directory within BUILD files can lead to this.

[code]

Note that the above `<dir>` will have the same capitalisation in both cases, which makes this problem even more difficult to debug.

[2016-07-29 13:33] rokstrnisa commented on #291
https://github.com/bazelbuild/bazel/issues/1583

[2016-07-29 13:37] damienmg commented on #1582
What the hell, this change has no export number???

[2016-07-29 13:39] damienmg commented on #1582
Confirmed that it should be rolled-back. /cc @aj-michael

[2016-07-29 13:44] damienmg commented on #1583
/cc @dslomov for further triage.

[2016-07-29 13:53] #1582 closed

[2016-07-29 13:55] #1462 closed

[2016-07-29 14:20] rokstrnisa opened #1584 "native.genrule's tools reference ignores --cpu='x64_windows_msvc'"
When using `bazel build --cpu='x64_windows_msvc'` on Windows, any rule using `native.cc_library` still uses `C:/tools/msys64/usr/bin/gcc`.

[2016-07-29 15:10] rokstrnisa opened #1585 "3.1.0 compiles, but fails to copy the executable"
In the snippet below, `/home/rok/bazel/output/bazel` version is `3.0.0`.

    $ ./compile.sh compile /home/rok/bazel/output/bazel
    ...
    Target //src:bazel.exe up-to-date:
      C:/tools/msys64/var/tmp/Bazel/-kBpKhQY/execroot/bazel/bazel-out/local_windows_msys64-fastbuild/bin/src/bazel.exe
    INFO: Elapsed time: 94.226s, Critical Path: 92.09s
    cp: cannot stat ‘bazel-bin/src/bazel.exe’: No

[2016-07-29 15:13] damienmg commented on #1585
I am betting it is because it fails to create the convenience symlinks. /cc @dslomov @meteorcloudy

[2016-07-29 15:14] damienmg commented on #1584
/cc @meteorcloudy for investigation

[2016-07-29 15:18] rokstrnisa opened #1586 "`bazel clean --expunge` often fails on Windows"
[code]

`command.log` contains no information about the `bazel clean --expunge` failure, only output of the previous build commands.

[2016-07-29 15:35] rokstrnisa opened #1587 "Even with BAZEL_PYTHON set, cc_configure.bzl shows a warning"
$ which python
    /c/Python27/python
    $ echo $BAZEL_PYTHON
    /c/Python27/python
    $ bazel version
    Build label: 0.3.1-2016-07-29 (@1f49b6b)
    ...
    $ bazel build --cpu='x64_windows_msvc'
    WARNING: C:/tools/msys64/var/tmp/Bazel/$KNt4ZiP/external/bazel_tools/tools/cpp/cc_configure.bzl:57:3:
    Auto-Configuration Warning: 'BAZEL_PYTHON' is not set, start finding python in PATH.

[2016-07-29 15:48] damienmg commented on #1587
/cc @meteorcloudy

[2016-07-29 15:48] meteorcloudy commented on #1584
Can you give more detail about how did you use `native.cc_libray` and which target you tried to build?
I tried to write a simple macro using native.cc_libray and it worked.

[2016-07-29 17:35] kheuton commented on #1358
Thanks @damienmg, so you're saying there is no fix in bazel? Where should I move the issue, to both protobuf and tensorflow? Or is it just a protobuf thing?

[2016-07-29 19:56] jmugan commented on #587
Yeah, I think my problem is related. I get
[code]

[2016-07-30 06:29] skgumma commented on #714
I'm using the below command to compile:

bazel build -c opt --config=cuda //tensorflow/tools/pip_package:build_pip_package --verbose_failures

Attaching the CROSSTOOL file. (Renamed as .txt just to ensure I can upload the file)
[CROSSTOOL.txt](https://github.com/bazelbuild/bazel/files/391745/CROSSTOOL.txt)

[2016-07-31 21:44] robfig commented on #52
What is the current guidance for generating Java from proto files?

[2016-07-31 23:30] phact commented on #587
@jmugan I'm having the same problem, did you figure out a solution?

[2016-08-01 00:05] bsilver8192 commented on #587
@jmugan and @phact: I think that's a different error. I've seen similar messages on Debian due to https://bugs.launchpad.net/ubuntu/+source/ca-certificates-java/+bug/1396760, which requires running `sudo /var/lib/dpkg/info/ca-certificates-java.postinst configure` to work around.

If that doesn't fix your problem, one of you should open a new bug.

[2016-08-01 01:05] pcj commented on #52
@robfig I just released https://github.com/pubref/rules_protobuf/tree/0.1.1 for my own use but hopefully it's useful for you.

[2016-08-01 04:42] jmugan commented on #587
@bsilver8192 Thanks for the suggestion, but that didn't fix it. I still get the exact same error.

[2016-08-01 08:04] meteorcloudy commented on #1587
Try `bazel clean` and then run build to configure it again?
And currently, cc_configure.bzl only accept Windows style path as BAZEL_PATH, so please set it to `BAZEL_PATH=C:/Python27/python.exe`

[2016-08-01 08:08] #1578 closed

[2016-08-01 09:22] rokstrnisa opened #1589 "Protobuf fails to build with Bazel 0.3.1"
With the following in `WORKSPACE`:

    http_archive(
      name = "protobuf",
      url = "https://github.com/google/protobuf/archive/v3.0.0-beta-2.zip",
      sha256 = "f7df9a584e2f09c93e8397c905f9c0d85a0cc698c179a134983ba5146419ad5c",
      strip_prefix = "protobuf-3.0.0-beta-2",
    )

`bazel build --cpu='x64_windows_msvc' --verbose_failures @protobuf//:protobuf` succeeds with Bazel 0.3.0, but

[2016-08-01 09:33] rokstrnisa opened #1590 "TMP: gtest doesn't work without `--test_env TMP=/tmp` on Windows"
Running `bazel test --cpu='x64_windows_msvc' --verbose_failures` with gtest given the following error

[code]

However, adding `--test_env TMP=/tmp` to the command fixes the problem.

Context: Bazel 0.3.0.

[2016-08-01 11:06] rokstrnisa commented on #1584
I did some digging, and realised it's not actually `native.cc_library`; it's a reference to a tool in `native.genrule`. Apologies for confusion. Details below.

In a `BUILD`:

    load("//tools/build_rules:genschema.bzl", "schema_cc_library")

    schema_cc_library(
      name = "schema_cc",
      ...
    )

In `genschema.bzl`:

    def schema_cc_library(name, ...):
      ...
      native.genrule(

[2016-08-01 11:28] rokstrnisa commented on #1587
After `bazel clean`, I haven't seen this. Closing issue; will re-open if I see it again.

[2016-08-01 11:28] #1587 closed

[2016-08-01 12:02] meteorcloudy opened #1591 "android_integration_test is failing on ci.bazel.io"
[code]

@aj-michael It's probably caused by 49dfc29a40764ae48f2343007f88f3a4938498f1, please take a look. :)

http://ci.bazel.io/job/bazel-tests/BAZEL_VERSION=HEAD,PLATFORM_NAME=darwin-x86_64/160/console

[2016-08-01 14:15] xuanchien commented on #587
I am also getting the same issue as @jmugan on my Mac OSX.

[2016-08-01 14:36] sunil3590 commented on #587
@jmugan @xuanchien I faced the same issue on ElCapitan. To solve it, I did the following (hack)
1.  `cd some_safe_folder`
2. `wget https://archive.openswitch.net/gmock-1.7.0.zip`
3. `python -m SimpleHTTPServer 8000`
4. Change line 79 from `url = "https://archive.openswitch.net/gmock-1.7.0.zip"` to `url = "http://localhost:8000/gmock-1.7.0.zip"`
Basically what you're doing is, downloading the requi

[2016-08-01 16:01] jmugan commented on #587
@sunil3590 That did it! Thanks! I tried the switch to http, and that didn't work. I had to run the `SimpleHTTPServer` like you suggested. I got another error about `undefined reference to symbol ceil@@GLIBC_2.2.5` but I'm sure that's another issue in another place. Thanks!

[2016-08-01 16:41] meteorcloudy commented on #1591
If it can't be fixed in short time, can we rollback this change first?

[2016-08-01 17:18] ahumesky commented on #1591
It's probably a difference between readelf on linux vs mac

[2016-08-01 17:22] damienmg commented on #1591
Side-comment: the policy says that the sheriff has all authority for
rolling back and is encouraged to do so if the culprit is identified if the
fix cannot be submitted in the hours.

Another side-comment: this could have been tested pre submit by setting
verified to 1 on the change ;-)

On Mon, Aug 1, 2016, 7:18 PM Alex Humesky <notifications@github.com> wrote:

[2016-08-01 18:56] jcanizales commented on #52
@pcj I love your graphical explanation of that repo :D

[2016-08-01 21:26] kchodorow opened #1592 "References to a local repository subdirectory should only be allowed through @repo syntax"
That is, if you have:

[code]

and foo/WORKSPACE contains `local_repository(name = "bar", path = "bar")`, then foo/BUILD should not be able to depend on `//bar:whatever`.  Similarly, `bazel build //...` should not include targets in `@bar`.

[2016-08-01 21:26] dfabulich opened #1593 "remote strategy doesn't incorporate runfiles as inputs"
Consider this repository https://github.com/dfabulich/remote-cache-key-runfiles

The repository has an empty `WORKSPACE` and a trivial `sh_binary`, `cp.sh`, designed to copy its runfile (called `runfile`) to a parameterized destination.

[code]

The `runfile` is just a text file containing the number `0`.

The `BUILD` file declares `cp.sh` as a `sh_binary` with the `runfile` in its `data`, and dec

[2016-08-01 21:55] dfabulich commented on #1593
Inspecting in a debugger, the runfiles are attached to the action as a "middleman" artifact. `RemoteSpawnStrategy` dutifully calls `ActionInputHelper.expandArtifacts` to expand the runfiles, but the `actionExecutionContext`'s `ArtifactExpanderImpl` has an empty `expandedInputs` map; thus the middleman's inputs are not expanded and are omitted from the cache key.

This, in turn, is happening becaus

[2016-08-01 22:00] dfabulich commented on #1593
Looks like there was an incriminating `TODO` in 0.3.1

https://github.com/bazelbuild/bazel/blob/740b7689ae6d6c5fa7f867f30d7c390473587027/src/main/java/com/google/devtools/build/lib/skyframe/ActionExecutionFunction.java#L578

[code]

That `TODO` was eliminated but apparently not addressed in https://github.com/bazelbuild/bazel/commit/ad77f9722e5adb5c997859ea4a0f0f66e7f583bb because this test fails

[2016-08-01 22:39] dfabulich commented on #1413
I tried just removing the line to `results.add(cacheStatus);` in `TestActionBuilder`, but that caused tests to be marked "skipped" with `NO STATUS`.

So instead I tried updating `ConcurrentMapActionCache` to ignore missing files. That nearly worked, because `RemoteSpawnStrategy` already refuses to cache outputs when the action fails, but I ran into issue #1593, which means that runfiles aren't bei

[2016-08-01 23:27] dfabulich commented on #1593
Wait a minute. We're just computing a hash; we don't need to expand the middlemen. We can use their original value. I'll pull together a PR

[2016-08-01 23:30] dfabulich commented on #1593
https://bazel-review.googlesource.com/4230

[2016-08-01 23:41] dfabulich commented on #1413
Figured out a fix for #1593, so here's a PR for #1413 (ignore missing output files) https://bazel-review.googlesource.com/4231

[2016-08-02 00:37] xuanchien commented on #587
Thanks @sunil3590, that does the trick

[2016-08-02 01:29] kimjunh opened #1594 "Bazel test for syntaxnet fails inside Docker: cannot download gmock"
I'm building syntaxnet from inside a docker. It was building fine up until last week, but starting getting this error:

ERROR: /opt/tensorflow/models/syntaxnet/tensorflow/tensorflow/workspace.bzl:84:3: no such package '@gmock_archive//': Error downloading from https://archive.openswitch.net/gmock-1.7.0.zip to /root/.cache/bazel/_bazel_root/5b21cea144c0077ae150bf0330ff61a0/external/gmock_archive: s

[2016-08-02 03:05] smparkes commented on #990
@johnynek: how are you depending on this?

[2016-08-02 07:41] meteorcloudy commented on #1593
//cc @dslomov Can you review this change?

[2016-08-02 07:44] meteorcloudy commented on #1594
//cc @kchodorow Can you take a look? :)

[2016-08-02 07:48] meteorcloudy commented on #1591
I don't think we should disable android_integration_test on mac, I'll rollback this change.

[2016-08-02 08:18] damienmg opened #1595 "Have a way to invalidate skylark repositories when some environment variable change"
Following the discussion at https://groups.google.com/d/msg/bazel-dev/_teGikxiNv0/WMsidFbcBAAJ, it can be useful to invalidate the skylark repositories when some environment variables change. Since it is a thing only the skylark repositories developer knows we should give a way for him to declare it when writing a skylark repositories rule.

[2016-08-02 09:54] dslomov commented on #1584
Try using `bazel build --host-cpu='x64_windows_msvc' --cpu='x64_windows_msvc'` (tools are built with host CPU)

[2016-08-02 10:46] rokstrnisa commented on #1584
Yes, that works, with the underscore, i.e. `bazel build --host_cpu='x64_windows_msvc' --cpu='x64_windows_msvc'`. Thanks!

I guess something should still be done about this, however, so I'm not closing the issue.

[2016-08-02 10:51] dslomov commented on #1584
This will be "fixed" when we switch our default cc toolchain on Windows to x64_windows_msvc. Currently our default toolchain is the msys one, so everything here is working as expected.

[2016-08-02 10:51] #1584 closed

[2016-08-02 10:55] dslomov commented on #1590
There is nothing to investigate, we should figure out how to provide a sensible TMP location to rlues

[2016-08-02 10:56] dslomov commented on #1589
Can it be the '$' in the temp directory name?

[2016-08-02 10:58] dslomov commented on #1585
Where does `bazel-bin` point to? (it should be a junction) If you delete it, does the build succeed?

[2016-08-02 10:59] dslomov commented on #1583
What is actual the value of <dir> in your case?

[2016-08-02 11:15] dfr opened #1596 "cc_inc_library doesn't work for external repositories"
I'm trying to use cc_inc_library to structure include files for a utility project. This works just fine within the project itself but fails when I try to use the utility project as an external dependency in some other workspace. The attached archive shows the problem:

$ unzip bazel-test.zip
$ cd bazel-test/sub
$ bazel build //a
... building in the nested workspace works fine ...
$ cd ..
$ bazel b

[2016-08-02 11:17] #1560 closed

[2016-08-02 11:30] rokstrnisa commented on #1585
Before making changes, `bazel-bin` pointed to `/tmp/bazel.kOJU1LOP/out/execroot/bazel/bazel-out/local_windows_msys64-fastbuild/bin`.

Deleting `bazel-bin` and re-running the build (with 0.3.0 and of 0.3.0, since it was failing the same way with re-build of 0.3.0) worked, with some warnings:

    WARNING: failed to create one or more convenience symlinks for prefix 'bazel-':
      cannot create sym

[2016-08-02 13:11] rokstrnisa commented on #1583
I don't know exactly what `<tmp>` was, but I do know it didn't include any special letters, e.g. `foo/bar`.

[2016-08-02 18:16] meteorcloudy commented on #1591
Fixed by rollback cd7329ac63fd08ba8f914c138117128eb28a5891

[2016-08-02 18:16] #1591 closed

[2016-08-02 22:00] pcj opened #1598 "py_library, py_binary srcs attribute should be able to accept *.zip"
Similar to how the `java_library` rule can accept a `*.srcjar`, I would expect python rules to accept zip files that contain *.py files.  Either it's not supported or I'm doing something wrong.

Would be particularly useful in in concert with source generation tools e.g. protoc.

[2016-08-03 05:55] is03wlei opened #1599 "How to generate java code from proto without using protoc"
Now I use the following commands to build my project:
#!/bin/sh

protoc ./proto/coord.proto --java_out=../../../
bazel build location

Is it possible to let bazel generate proto code automatically?

[2016-08-03 07:58] #1323 closed

[2016-08-03 08:05] meteorcloudy commented on #1599
Should be something like this:
[code]

[2016-08-03 08:08] kimjunh commented on #1594
Hi, any updates on this?

[2016-08-03 08:37] meteorcloudy commented on #1596
//cc @kchodorow Looks like a bug, can you take look?

[2016-08-03 08:59] meteorcloudy commented on #1594
Can you upgrade bazel to the latest version? I tried with bazel 0.3.1, and it works.

[2016-08-03 09:18] meteorcloudy commented on #1596
I figured the reason is because when referencing it as an external repository, `cc_inc_library` creates the headers under `bazel-out/local-fastbuild/include/external/sub/a/_/hdrs/external/sub/a` which should be `bazel-out/local-fastbuild/include/external/sub/a/_/hdrs/a`

[2016-08-03 09:21] ahyangyi opened #1600 "Changing --legacy_whole_archive does not trigger recompilation in Bazel 0.3.0"
The flag changes the linking behavior, and could cause bloated libraries when set or libraries with too few symbols when unset. Therefore, when one change the setting, recompilation is probably desired.

The flag value should probably be included in computeKey() in src/main/java/com/google/devtools/build/lib/rules/cpp/CppLinkAction.java, so a change in the flag causes a change in the key.

[2016-08-03 09:40] ahyangyi commented on #1600
I think adding the following one liner to computeKey() should fix this:

f.addBoolean(getCppConfiguration().legacyWholeArchive());

[2016-08-03 16:09] aj-michael commented on #1591
`readelf` is not present on mac.

[2016-08-03 18:49] kimjunh commented on #1594
I did some searching around and I'm actually getting the same error as the one here:
https://github.com/bazelbuild/bazel/issues/587
where jmugan reported:
[code]
Has there been any fix for this? I cannot use the proposed solution of manually downloading this file and serving it locally since I'm running everything from a docker

[2016-08-03 18:51] kimjunh commented on #587
Has there been a solution for this?
I'm getting the same error as @jmugan but I cannot use the proposed solution of downloading it manually and serving it locally since I'm running an isolated build from a docker

[2016-08-03 19:19] ekuefler opened #1601 "ijar zipper creates directories with wrong permission on OSX"
This issue looks very similar to #630, in a slightly different context.

I'm using ijar zipper to extract a war that contains entries for files, but not for the directories containing those files. This works on my Linux machine whether running in sandbox or standalone. It fails on a coworker's Macbook. When passing "xv" to the zipper to get verbose output, we see output like this on OSX:

[code]

[2016-08-03 20:08] kimjunh commented on #1594
Also tried the latest version but it doesn't work..

[2016-08-03 20:14] kimjunh commented on #587
Also @sunil3590 can you specify what file you changed when you say change line 79?

[2016-08-03 20:21] sunil3590 commented on #587
@kimjunh line 79 of `models/syntaxnet/tensorflow/tensorflow/workspace.bzl`

[2016-08-04 01:09] skgumma commented on #714
@damienmg Appreciate if you can help me install. I got struck here and it's very important for me to install tensorflow. Thanks.

[2016-08-04 05:00] ahyangyi commented on #1600
I'm not sure if putting this into configurability is justified: I'm concerned about _correctness_, and correctness issues triggered by changing configurations should still be seen as correctness issues.

[2016-08-04 07:45] meteorcloudy commented on #1601
//cc @damienmg Should we change the permission?

[2016-08-04 08:43] damienmg commented on #1601
This is definitely a weird bug. We do set the +x flag on all directory we create, it's probably missing somewhere.

[2016-08-04 09:22] damienmg commented on #714
@skgumma: Are you on OS X?

Can you try replacing your cxx_* lines with only:
[code]

[2016-08-04 10:27] sammoes commented on #934
@drgriffis what did you do to get the GPU build? I'm trying to build syntaxnet but get the same error you got:

git clone --recursive https://github.com/tensorflow/models.git
cd models/syntaxnet/tensorflow
./configure
cd ..
bazel test syntaxnet/... util/utf8/...

gives
ERROR: /home/tf/.cache/bazel/_bazel_sam/5cd71b2b91989f3dd022ee2c43ab916c/external/org_tensorflow/tensorflow/tools/proto_text/BUILD

[2016-08-04 11:30] meteorcloudy opened #1602 "Bazel Determinsim Test is failing on ci.bazel.io"
http://ci.bazel.io/view/Bazel%20bootstrap%20and%20maintenance/job/Bazel/729/

[2016-08-04 11:32] damienmg commented on #1602
Diagnostic: the slaves does not have IPv6 loopback and the bind simply fails. The server dies with "bind failed".

[2016-08-04 11:33] damienmg commented on #1602
(note: for those kind of breakage, once the culprit is identified, rollback first, fix forward after)

[2016-08-04 11:34] damienmg commented on #1602
Culprit: deee73f24883df51a65248c9409f51531739c498 (confirmed by ssh on the machine and  `./compile.sh && ./ouput/bazel`).

[2016-08-04 12:29] #1602 closed

[2016-08-04 12:40] meteorcloudy opened #1603 "Bazel is failing on ci with JDK7"
http://ci.bazel.io/view/Bazel%20bootstrap%20and%20maintenance/job/Bazel/JAVA_VERSION=1.7,PLATFORM_NAME=ubuntu_15.10-x86_64/733/console
culprit should be 8c8857d21cd9a69d9c24155a7f36d4c74c27ce56

[2016-08-04 14:47] cushon commented on #1008
I think @damienmg fixed this with f6c24decc9cea46bfba41efb07f11b1ce7415cd0.

[2016-08-04 17:07] #1603 closed

[2016-08-04 20:31] ahumesky commented on #817
This is now available

[2016-08-04 20:31] #817 closed

[2016-08-04 20:35] ahumesky commented on #799
This is available with android_binary.manifest_merger:
http://www.bazel.io/docs/be/android.html#android_binary.manifest_merger

[2016-08-04 20:35] #799 closed

[2016-08-04 21:57] jasonchoimtt opened #1604 "pkg_tar does not respect strip_prefix when output is in workspace root"
Repro:

[code]

I believe the particular line is here:

https://github.com/bazelbuild/bazel/blob/master/tools/build_defs/pkg/path.bzl#L51

[code]

which fails to account for the fact that `_short_path_dirname` may return `""`. As a result, the returned `data_path` incorrectly includes a `/`.

[2016-08-05 01:44] bshi opened #1605 "Installer: apt jdk1.7 repository has no packages."
The instructions for installing with JDK 1.7 and apt appear to be broken?

This was working for 3.0, tried to upgrade to 3.1 today...

[code]

More details:

[code]

[2016-08-05 08:03] ahyangyi opened #1606 "An empty external/ directory causes java.lang.NullPointerException"
Creating an external/ directory under the workspace is a stupid thing. However, due to the lack of useful debug information, I spent like 10 minutes before discovered it was caused by my stupidness. Maybe we could use some better diagnostics.

[2016-08-05 08:09] meteorcloudy commented on #1605
Thanks for noticing us! Already fixed it, please try again.
If it works, feel free to close this issue. :)

[2016-08-05 08:16] #1599 closed

[2016-08-05 08:48] damienmg commented on #454
Closing this bug as we now have a native IDE support for IntelliJ. This script will go away.

[2016-08-05 08:48] #454 closed

[2016-08-05 10:44] damienmg commented on #47
https://bazel.io is now live :)

[2016-08-05 10:44] #47 closed

[2016-08-06 03:47] bshi commented on #1605
Thanks for the quick turnaround.

[2016-08-06 03:47] #1605 closed

[2016-08-06 10:37] ky-xt opened #1607 "TensorFlow Build issue with Bazel"
WARNING: /home/ky-xt/tensorflow/util/python/BUILD:11:16: in includes attribute of cc_library rule //util/python:python_headers: 'python_include' resolves to 'util/python/python_include' not in 'third_party'. This will be an error in the future.
ERROR: /home/ky-xt/tensorflow/tensorflow/core/platform/default/build_config/BUILD:56:1: no such package '@gif_archive//': Error downloading from http://ufp

[2016-08-06 21:52] BrianEdmonds commented on #564
I needed this for personal use, so here's your hack, which I whipped up this morning. How I've run it:

$ cd <WORKSPACE>/android
$ mkdir com.android.support
$ cd com.android.support
$ <PATH/TO>/m2repo2build.sh

Then depend on something like //android/com.android.support:appcompat-v7. Lather, rinse, repeat for other m2repository packages (eg. com.google.firebase, com.google.android.gms, etc). You'l

[2016-08-07 04:25] zhexuany commented on #1604
@jasonchoimtt  I could not reproduce the bug. The version I used is 0.3.1. It build project you provided correctly.

[2016-08-07 04:33] jasonchoimtt commented on #1604
Sorry, I should have elaborated more. I expect the tarball to contain:

[code]

since I `strip_prefix` `a/b`.

But instead it produces a tarball with (I'm on 0.3.0):

[code]

Can you reproduce this? If not, I can test on 0.3.1 later to verify.

[2016-08-07 04:38] zhexuany commented on #1604
The output I have is
[code]

[2016-08-07 04:52] jasonchoimtt commented on #1604
That shows the problem I am reporting. If I am not mistaken, the intended behavior of `strip_prefix = "a/b"` is that it should remove `a/b` and so put `c.sh` at the root of the tarball. But as shown above this does not happen.

Am I right or did I misinterpret the documentation?

[2016-08-07 04:55] zhexuany commented on #1604
You are absolutely right. I read too fast and missed some key info. If you provide `strip_prefix`, it should behave like you expecting. But `Bazel` did not.

[2016-08-07 05:09] slamphear opened #1608 "Bazel commands hang in "Bash on Ubuntu on Windows""
Bazel can be installed Windows 10's new "Bash on Ubuntu on Windows" shell, and no errors or issues are reported during the installation process. However, when attempting to use any Bazel commands (for example, "bazel help"), the shell just hangs. I have posted details and screenshots about what I'm seeing in [this](https://github.com/Microsoft/BashOnWindows/issues/620) issue that was posted over i

[2016-08-07 05:26] zhexuany commented on #1604
@jasonchoimtt  I just fixed it. I am preparing pull request now. Hopefully, my changes can be merged into mater in near future. :)

[2016-08-07 05:36] jasonchoimtt commented on #1604
Thank you! Feel free to close this issue when you are done. :)

[2016-08-07 06:22] zhexuany commented on #1596
@meteorcloudy Could you assign this to me? I am pretty interested in fixing this bug.

[2016-08-07 14:36] alltom commented on #1017
It seems like the documentation still needs to be updated. http://www.bazel.io/docs/be/java.html#java_test_examples has an example that just globs `*.java`, and from what I understand in this thread (and trying it on my own), that no longer works.

[2016-08-07 15:24] slamphear commented on #1608
It looks like this has something to with Java, since the "java -version" command was hanging for me as well. I decided to switch to openjdk-7 and the Java 7-friendly version of Bazel, and now I'm hanging at "Extracting Bazel installation...". My updated strace output can be found [here](https://gist.github.com/slamphear/0c3cc222a260ab1698c9c43197562d38).

[2016-08-07 16:46] Lunarsong commented on #1463
I'm seeing the same error here when trying to build 89484da .

[2016-08-07 16:55] zhexuany commented on #1596
@meteorcloudy  I think the problem is in `CcIncLibrary.java`. The link is the following `bazel/src/main/java/com/google/devtools/build/lib/rules/cpp/CcIncLibrary.java`.

[2016-08-08 03:37] BrianEdmonds commented on #564
Turns out it needed some hacking to work on MacOS, and I wasn't dealing with implementation jars, and was getting the custom_packages wrong, but that is now accounted for. Again definitely still a hack, and no guarantees it'll do anything useful for anyone else.

[m2repo2build.zip](https://github.com/bazelbuild/bazel/files/405963/m2repo2build.zip)

[2016-08-08 04:27] hochhaus opened #1609 "bazel run <docker_target> fails with "dial unix /var/run/docker.sock: permission denied. Are you trying to connect to a TLS-enabled daemon without TLS?""
Per the [using docker](https://github.com/bazelbuild/bazel/tree/master/tools/build_defs/docker#using) bazel documentation, I should be able to run `bazel run <docker_target>` to update the changed docker layers from my `docker_build()` target. However, doing so results in the following error:

[code]

This is very likely because `/var/run/docker.sock` is [not mounted](https://groups.google.com/for

[2016-08-08 06:20] jeshjesh opened #1610 "bazel rules for protobuf"
`proto_library(
           name = "foo_proto",
           srcs = ["foo.proto"],
   )

   java_proto_library(
           name = "foo_proto_lib",
           deps = [":foo_proto"],
   )
`
bazel build returns ERROR : name 'java_proto_library' is not defined.

[2016-08-08 07:58] ghost opened #1611 "Debian repo is using deprecated SHA1 signatures"
On Debian testing, apt-get reports that the Bazel repo is using weak signature algorithms:

[code]

Debian docs: https://wiki.debian.org/Teams/Apt/Sha1Removal

[2016-08-08 08:02] meteorcloudy commented on #1596
@zhexuany Thank you so much! I'll review your change, but it seems I can only assign the issue to members from Bazel team. Sorry for that~

[2016-08-08 08:34] SalzzZ commented on #354
I'm trying to use JUnit5's TestRunner, and set
`main_class = "org.junit.platform.console.ConsoleLauncher"`
but it fails as the class need argument (particularly [-a](http://junit.org/junit5/docs/current/user-guide/#running-tests-console-launcher) to run all tests). How to define arguments to be passed to java_test / java_binary?

[2016-08-08 09:05] ulfjack commented on #354
Like so?

java_test(
  name = "mytests',
  main_class = "org.junit.platform.console.ConsoleLauncher",
  args = ["-a"],
)

On Mon, Aug 8, 2016 at 10:34 AM, SalzzZ <notifications@github.com> wrote:

[2016-08-08 09:35] hermione521 commented on #1610
Hi, sorry I can't reproduce with this. Could you provide more information? Eg. your bazel version and your project. Thanks!

[2016-08-08 09:43] hermione521 commented on #1609
Hi, it seems your problem is the same with the one in [that thread](https://groups.google.com/forum/m/#!msg/bazel-discuss/9lFLLJ02Ibs/ZPtHDffTCAAJ). Can you try the suggested fix there? Or you can also try with "--sandbox_add_path=/var/run/docker.sock"?

[2016-08-08 09:47] hermione521 commented on #1608
I'm not sure if we support this.. @dslomov what do you think?

[2016-08-08 09:59] hermione521 commented on #1542
No response for 2 weeks, so close. Feel free to reopen when come back.

[2016-08-08 09:59] #1542 closed

[2016-08-08 10:00] hermione521 commented on #1549
No response for 2 weeks, so close. Feel free to reopen when come back.

[2016-08-08 10:00] #1549 closed

[2016-08-08 10:01] dslomov commented on #1608
We have not been working to support Bazel Linux-on-Windows. Our efforts so far concentrate on native Windows port. If there is enough interest, we can reconsider, and of course patches are welcome.

[2016-08-08 10:55] ahyangyi opened #1612 "tools/build_rules/prelude_bazel cannot load Skylark rules from the same workspace"
I could put my Skylark rules in a separate repo and give it a name, say, foo_workspace, then I can load it for every BUILD file by add the following line in tools/build_rules/prelude_bazel:

load("@foo_workspace//:bar.bzl", "baz")

However, if I move bar.bzl to the main code workspace, I cannot load it from prelude_bazel:

load("//:bar.bzl", "baz")
does not work. Bazel will complain
"Unable to loa

[2016-08-08 11:02] ahyangyi commented on #1612
Oops, "@//:bar.bzl" works. Kind of unexpected, but it's working regardless. I guess I can close this issue then.

[2016-08-08 11:02] #1612 closed

[2016-08-08 11:12] hermione521 commented on #1607
Hi, it looks more like a network problem rather than bazel problem. Do you have any problem downloading that file manually?

[2016-08-08 13:56] zhexuany commented on #1604
@hermione521 Could you close this issue, I do not have the access to close it.

[2016-08-08 14:00] zhexuany commented on #1596
@meteorcloudy I see. That is not a problem but how could I contribute code without doing duplicated work? In addition, I went through `test` directory. I could not find any test case for `cc_inc_library`.  Could you give me some guideline for writing this?

[2016-08-08 15:10] cardshuffle opened #1613 "Building signed APK for release for Android app?"
Recently I've been working on a simple app based on [TensorFlow's Android demo](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/examples/android), which depends on Bazel for building/running. However, I've gotten stuck on building an APK for release in the Play Store. The [tutorial](http://www.bazel.io/docs/tutorial/android-app.html) in the docs for building an Android app doesn't

[2016-08-08 15:14] meteorcloudy commented on #1596
Adding test to your change would be great! Please consider this one https://github.com/bazelbuild/bazel/blob/master/src/test/shell/bazel/cc_inc_library_test.sh

[2016-08-08 15:18] hochhaus commented on #1609
@hermione521 Thanks. Yes, `--sandbox_add_path=/var/run/docker.sock` in my `~/.bazelrc` file resolves the issue. Could [the documentation](https://github.com/bazelbuild/bazel/tree/master/tools/build_defs/docker#using) be updated to include this workaround if it the commands mentioned in the docs are not expected to work by default?

[2016-08-08 15:51] philwo opened #1614 "IntelliJ sync fails when sandboxing is enabled"
I've just tried creating an IntelliJ project (using our new plug-in from http://ij.bazel.io/) for Bazel itself and the initial sync fails with the following error:

[code]

Here's just the error formatted for easier reading:
[code]

If I disable sandboxing, it works fine.

Steps how to reproduce:
- Install IntelliJ IDEA CE 2016.2.
- Install "IntelliJ with Bazel" plug-in.
- Create a new Bazel proje

[2016-08-08 15:52] hermione521 commented on #1613
@ahumesky can you help with this? Thanks.

[2016-08-08 16:22] zhexuany commented on #1596
@meteorcloudy  I plan to finish it tonight. Thanks for the guide.

[2016-08-08 18:32] kchodorow opened #1615 "ObjC rules are no longer appearing in the sidebar"
http://www.bazel.io/docs/be/objective-c.html is still available, but doesn't appear under Build Encyclopedia -> Rules.

[2016-08-08 19:52] hochhaus opened #1616 ""bazel run <docker_target>" fails to tag the image"
After working around https://github.com/bazelbuild/bazel/issues/1609 with `--sandbox_add_path=/var/run/docker.sock` I am seeing an error tagging the docker image. It appears that bazel thinks the image id is `ad890a78c35054564f924dfadbf46dd40891fef51a4f599cebf12c865644e95d` however docker instead uses the image id `6374cbe2f1c6`.

[code]

Note above that manually applying the tag with `docker tag`

[2016-08-09 03:31] zhexuany commented on #1596
I am having trouble for running `test`. Even I specify the location of `TEST_SRCDIR`, it still prompt me `io_bazel` is not found. I went through the source code and found there are a lot of place using this. Could I directly change `io_bazel` to `bagel` since all `testing.sh` does is looking for `unittest.bask`.

[2016-08-09 03:53] zhexuany commented on #1596
Especially, when I try to run `test-setup.sh` from bazel's root. My terminal promote as follow:
[code]
But project root name is `bazel'. I wish you could give me some guide about how to use bash test suite framework.

[2016-08-09 05:43] alephman opened #1617 "Compiling errors on ARM64 board"
Hi,
I want to port bazel to my arm64 board( debian jessie + arm64 + aarch64 gcc 4.9), but got an error when I tried to compile it:
1)
java -version
Picked up JAVA_TOOL_OPTIONS: -Dgnu.io.rxtx.SerialPorts=/dev/tty96B0
openjdk version "1.8.0_91"
OpenJDK Runtime Environment (build 1.8.0_91-8u91-b14-1~bpo8+1-b14)
OpenJDK 64-Bit Server VM (build 25.91-b14, mixed mode)

git clone https://github.com/googl

[2016-08-09 06:09] jeshjesh commented on #1610
My bazel version is 0.3.0. I want to generate java code from proto. But it seems 'java_proto_library' cannot work.

[2016-08-09 06:19] ahyangyi opened #1618 "Crosstool_tops have to support k8 even if there's no build target needing a host compiler -- intended?"
Steps to reproduce:
- Create a crosstool top that does not have support for k8.
- Try to build with that crosstool top from a k8 workstation (which is basically every workstation), and setting some other value for --cpu=.
- Failure

I understand that having a working host compiler is a nice thing to have and in the long run is almost mandatory in any large project. However, won't it be nicer if I

[2016-08-09 08:15] meteorcloudy commented on #1596
You should use `bazel test //src/test/shell/bazel:cc_inc_library_test` to run the test. `io_bazel` is the workspace name defined in WORKSPACE file, the `io_bazel` directory will be created by Bazel under runfiles directory when it's building the target.

[2016-08-09 08:35] #1604 closed

[2016-08-09 08:44] hermione521 commented on #1609
Actually we have a new implementation of sandbox which fix this problem. The OS X version is already in HEAD (if not reverted soon), the Linux version is also on the way. So I don't think it's necessary to update the doc now. But I will come back when the new sandbox is submitted.

[2016-08-09 09:33] hermione521 commented on #1617
Not sure if we support this.. @damienmg can you look at this?

[2016-08-09 09:39] hermione521 commented on #1616
@damienmg can you look at this?

[2016-08-09 09:45] hermione521 commented on #1614
Trying to figure out how to use this plugin correctly.

[2016-08-09 10:40] ahyangyi opened #1619 "Is there any way to exclude certain targets from "all" under certain conditions?"
Is there any way to exclude certain targets from "all" under certain conditions?
By conditions I mean the `config_setting`s that could be used in select(). For example, most of my code could be cross-platform but a certain library would be `x86_64`-only. Is there a recommended way to mark that `x86_64`-only library so that I can `bazel build //...:all --cpu=armv7a` without worrying about that one

[2016-08-09 12:25] hermione521 commented on #1619
@lberki if I understand correctly, we don't have such a feature?

[2016-08-09 13:16] lberki commented on #1619
No, we don't. The parsing of `:all` happens before Bazel know what CPU things are compiled for, so it's not possible to do this.

What may work is to create a target in place of `:all` that you always build and has a select, e.g.:

[code]

This, of course, requires an explicit list of targets, which is not optimal.

[2016-08-09 13:16] #1619 closed

[2016-08-09 14:05] hochhaus commented on #1609
Thanks for the extra context. This makes sense. I'll look forward to the new sandbox on linux.

[2016-08-09 15:43] abergmeier-dsfishlabs opened #1620 "Document flagfile behavior"
1. @philwo Already gave a rough outline in (https://groups.google.com/forum/#!msg/bazel-discuss/oAEnuhYOPm8/ol7hf4KWJgAJ). Not sure yet whether it encompasses everything (still seeing errors trying to use workers) but anyway, this really should be documented.
2. Would it be possible to automatically generate the py bindings for `worker_protocol`?
3. And probably document that it is not:

[code]

[2016-08-09 16:11] abergmeier-dsfishlabs opened #1621 "Persistent worker failing in analyze"
I changed a working action to be used with workers (as mentioned by @philwo):

    arguments = [src.path] + ["--output", output.path] + arguments
    worker_args = ctx.new_file( "\n".join(arguments) ) # Added args file

    ctx.action(
      outputs = [output],
      inputs = [src]
        + _itertools_chain(jsons)
        + [builder, worker_args], # Added worker_args
      executable = builder,

[2016-08-09 18:41] zhexuany commented on #1596
That is really nice. I should be able to finish writing test file for my changes tonight. Thanks for the guide. :)

[2016-08-09 20:28] abergmeier commented on #1620
And recently there is `supports-workers`!?

[2016-08-10 00:26] moof2k opened #1622 "Bazel incompatible with clang scan-build static analysis"
I would like to use bazel with clang's static analysis tool, scan-build, but it appears scan-build doesn't pick up bazel's build execution steps.

If I preface `bazel build` with `scan-build` it doesn't detect any compilation:

[code]

I can force every compilation step to run scan-build by modifying CROSSTOOL as follows, but this isn't ideal as it creates a scan-build report for every file:

[cod

[2016-08-10 03:22] ahyangyi commented on #1619
Um, then here's another question: is there any plan to support nested selects?

As far as I understand it, allowing selects to nest does not naturally produce O(n^2) behavior, nor will cause any inefficiency, as long as the selects are properly used. So it does not naturally contradict with any Bazel philosophy. Allowing selects to nest would make my helper functions transparent.

[2016-08-10 03:29] ahyangyi opened #1623 "Feature request: allow nested selects."
Currently, if one writes a helper function that wraps a `select()`, he must clearly document where he used that `select`. For example:
[code]

where one can use `foo("bar", ["bar_arm.cc"], ["bar_x86.cc"])`, but cannot use
[code]
, since `select()` cannot nest.

Thus, in this feature request, I propose allowing nested selects. Since selects work on user inputs, in almost all practical situations, e

[2016-08-10 03:30] ahyangyi commented on #1619
Sorry. I just noticed I cannot re-open this issue. And my last question has strayed too far from the main topic.

Therefore, I opened another at https://github.com/bazelbuild/bazel/issues/1623 .

[2016-08-10 07:03] #1607 closed

[2016-08-10 07:48] abergmeier-dsfishlabs commented on #1620
And probably document that it is not:

    execution_requirements = {"supports-workers": 1},

but:

    execution_requirements = {"supports-workers": "1"},

[2016-08-10 07:53] hermione521 commented on #1622
@lberki do you have any idea?

[2016-08-10 07:59] hermione521 commented on #1623
@lberki following from last issue

[2016-08-10 08:05] abergmeier-dsfishlabs commented on #1621
Forget it. I am an idiot and mistook `new_file` for `file_action`.

[2016-08-10 08:05] #1621 closed

[2016-08-10 08:11] lberki commented on #1622
I don't think you can work around this without telling Bazel about scan-build. Quoting its web page:

_"scan-build has little or no knowledge about how you build your code. It works by overriding the CC and CXX environment variables to (hopefully) change your build to use a "fake" compiler instead of the one that would normally build your project"_

Bazel does use the CC environment variable to lo

[2016-08-10 08:12] lberki commented on #1623
I don't think there is a philosophical objection against this, it just needs to be implemented.

[2016-08-10 10:33] alephman commented on #1617
@hermione521 @damienmg  any way to debug this issue?

[2016-08-10 11:04] meteorcloudy commented on #1596
You are welcome :)

[2016-08-10 11:13] ahyangyi opened #1624 "How to: declare that a custom rule depends on the current C++ toolchain?"
What I was trying to do is exactly what the title says.

I'm creating a vendor-specific rule as a replacement for cc_binary.

With `fragments = ["cc"]` on, I could get enough information about the toolchain used; with the information from the (undocumented) `CcSkylarkApiProvider`, I could also get enough information about the dependent `cc_library`'s.

Now there seems to be only one problem: I can

[2016-08-10 12:54] ulfjack commented on #1446
We've done some work to support a migration from Python 2 to Python 3, and as part of that, the rules can convert both 2to3 and 3to2 (IIRC) if you have appropriate tools. However, I'm not sure why Blaze thinks that those conversions should be triggered. Unfortunately, that code is ~3-4 years old, and nobody working on Bazel right now has the necessary context.

[2016-08-10 13:12] abergmeier-dsfishlabs commented on #1446
@ulfjack I think the implementation is flawed. See 2. in #1580. AFAIU it cannot work correctly this way.
The rest of this "weirdness" then stems from doucmentation issue (1.).

[2016-08-10 13:13] hermione521 opened #1625 "sandbox on Mac breaks python project"
ci breakage:
http://ci.bazel.io/job/protobuf/BAZEL_VERSION=HEAD,PLATFORM_NAME=darwin-x86_64/332/
http://ci.bazel.io/job/skydoc/BAZEL_VERSION=HEAD,PLATFORM_NAME=darwin-x86_64/205/

This is because when we look for python_path [here](https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/bazel/rules/python/stub_template.txt#L62), we follow symlinks. However in sa

[2016-08-10 13:17] ulfjack commented on #1446
If by flawed you mean "it doesn't work for all use cases", then I agree.

Where should we start fixing the python rules? What's the biggest pain point?

[2016-08-10 13:25] abergmeier-dsfishlabs commented on #1446
- Before anything else I think there should be unit tests, which test all the different python combinations
- I think the workaround currently could be to introduce a flag for disabling the up/downgrading of python files completely (given that nobody seems to be sure how and when it works) at all or alternatively fix the code that it handles correctly.
- Then of course fix documentation.
- Fix ref

[2016-08-10 13:56] #1625 closed

[2016-08-10 16:48] kchodorow opened #1626 "Contributing page references intellij script, not plugin"
http://bazel.io/contributing.html#creating-an-intellij-project

[2016-08-10 16:58] moof2k commented on #1622
My goal is to get clang static analysis running regularly against our codebase. scan-build (and the associated scan-view) are handy because they give you a full report on precisely how clang static analysis discovered a problem.

If I didn't care about understanding how clang found a problem--only that there was a problem--then I can accomplish that by passing the ``--analyze`` option to clang. Th

[2016-08-10 17:09] kchodorow commented on #1606
Can you provide steps to reproduce? Just doing a `mkdir external` and building various targets isn't causing an NPE for me.

[2016-08-10 17:15] dmishe commented on #1387
There has been a few talks about fixing the open source test runner, and this issue seems related.

In short, since the current OSS runner is not functioning, it would be nice to have it fixed. Current issues are:

- The paths to xctest and the app bundles seem to mixed.
- It uses iossim, a really old util for managing simulators, it should be replaced with xcodebuild runs.

Even better, restrict

[2016-08-10 18:03] xiongchiamiov opened #1627 "Revampt CLI API"
Sometime prior to 1.0, it would be nice if someone went through all of the CLI API and refactored it to the best they can imagine completely separated from what we currently have.  Right now there are a bunch of oddities, and once 1.0 happens I imagine you'll be even less willing to break the API that everyone's using.

For instance, if you want to override a default that's been specified in a baz

[2016-08-10 19:07] ahumesky commented on #1613
Bazel will produce 3 apks (assuming the `android_binary` rule is named "app"):
`app.apk`: This is signed with the debug key and zipaligned
`app_unsigned.apk`: An unsigned (and not zipaligned) apk
`app_signed.apk`: Signed with the debug key, but not zipaligned

You'll want to sign app_unsigned.apk with your release keys:
https://developer.android.com/studio/publish/app-signing.html#signing-manually

[2016-08-10 19:08] #1613 closed

[2016-08-10 22:51] yaroslavvb opened #1628 "Bazel should get rid of stale _cache"
My `bazel build` just ran out of disk space, and it turned out that there was 75GB under `~/.cache/bazel`

I've been using bazel 0.2.3 and 0.3 for the last couple of months building TensorFlow on Ubuntu 16.04

[2016-08-11 03:40] SalzzZ commented on #354
thanks @ulfjack , how about adding classpath?
I used jvm_flags, but the classpath got overriden
can I do something like:
jvm_flags {
 "-classpath = /new/classpath:$(OLD_CLASSPATH)"
}

[2016-08-11 07:43] abergmeier-dsfishlabs opened #1630 "Persistent worker not receiving data"
I have a persistent worker written in Python/C++, which reads data via:

[code]

(C++ is a native module loaded from Python).
I read that `CodedInputStream` blocks in the constructor until it gets any data (`Refresh` which in turn calls `Next`).

Now, when using this code as a worker it block infinitely.
When I pipe data with `echo` it works fine.

I traced that the Java part does and returns from

[2016-08-11 08:01] ahyangyi commented on #818
Occasionally, one wants to insert `["-Wl,--start-group", some_label, some_other_label, "-Wl,--end-group"]` if some existing code has screwed up interdependencies. I wonder if this is the reason why labels are supported (but broken) in `linkopts`.

It could be argued that one should use a `genrule` or something to merge the static libraries and then include the resultant thing in `srcs`. But this s

[2016-08-11 08:40] ahyangyi commented on #1606
I can reproduce it with the following steps:
`
$ mkdir empty_project
$ cd empty_project
$ touch WORKSPACE
$ bazel build //...:all
ERROR: no targets found beneath ''.  // This is a reasonable error message
$ mkdir external
$ bazel build //...:all
*Bazel now throws NPE*
`

Possibly related: `bazel build //external:all` always throws NPE

[2016-08-11 08:43] hermione521 commented on #1630
@philwo do you have any idea?

[2016-08-11 08:52] hermione521 commented on #1627
@ulfjack maybe you want to answer this?

[2016-08-11 09:03] hermione521 commented on #1624
@lberki do you have any idea?

[2016-08-11 09:35] ulfjack commented on #1627
1. In the 7 years I've worked on Bazel, this is the first time I hear this complaint. I agree that dashes seem slightly better, though I don't buy the RSI argument - if the amount of typing is a problem, there are other approaches to solve that. At this point in time, I'm not sure it's worth the effort to change it.

2. For a long time (years ago), I wondered why the flag is called nothin_archives

[2016-08-11 11:09] abergmeier-dsfishlabs commented on #1630
It does work if after `flush` I `close` the OutputStream.

[2016-08-11 11:19] lberki commented on #1622
For (1), you can try the `--compile_only` command line option.

For (2), the usual solution is to write your own CROSSTOOL file where the "compiler" Bazel calls is a script that calls the actual compiler twice.

[2016-08-11 12:51] ahyangyi commented on #1606
(FYI, the above steps triggers the bug for both Bazel 0.3.0 and Bazel 0.3.1)

[2016-08-11 13:38] abergmeier-dsfishlabs commented on #1630
@hermione521 Calling `close` is not a solution just a hack which then breaks the persistant process. Please reopen :smiling_imp:

[2016-08-11 15:42] abergmeier-dsfishlabs commented on #1630
It might be the `py_binary` in between...

[2016-08-11 17:57] jleyba opened #1634 "tools/jdk/TestRunner_deploy.jar pollutes the classpath for java_test targets"
tools/jdk/TestRunner_deploy.jar includes guava 19.0, which creates conflicts for any workspaces that attempt to use a different version of guava (i.e. 20.0-SNAPSHOT).

I've put together a sample project that can reproduce the problem with bazel 0.3.1:

https://github.com/jleyba/bazel-classpath

[2016-08-12 00:49] AlvinChen13 opened #1636 "Bazel fail to connect to the server"
Hi all,

I just try to build tensorflow by bazel, but I get the following error, anyone can help on it?
Thanks!

alvin@hal-dev:~/tensorflow-r0.9$ bazel build -c opt --config=cuda //tensorflow/cc:tutorials_example_trainer
Found stale PID file (pid=29629). Server probably died abruptly, continuing...
.
unexpected pipe read status: Connection refused
Server presumed dead. Now printing '/home/alvin/.c

[2016-08-12 01:35] znull opened #1637 "linux sandbox fails on Centos 7 with "UID 65534 not found in passwd file""
69fa69983b26c1059c99c7709162fbe778fe690f moved the [call to SetupDirectories](https://github.com/bazelbuild/bazel/blob/master/src/main/tools/linux-sandbox.c#L798) to come after [user namespaces](http://man7.org/linux/man-pages/man7/user_namespaces.7.html) are configured. On systems where `/etc/passwd` maps user `nobody` to uid 65534 this still works, but on systems like Centos 7 where `nobody` is

[2016-08-12 01:37] znull commented on #1637
pushed possible fix for review at https://bazel-review.googlesource.com/5410. I've confirmed this fixes sandboxing on affected systems.

[2016-08-12 06:40] ahyangyi commented on #1624
I'd like to point out that I'm virtually unable to customize anything related to the C++ compilation process due to this.

In a distant future when you migrate the `src/main/java/com/google/devtools/build/lib/rules/cpp/` code into skylark maybe things will be more hackable for me, but that's not happening very soon I'm afraid.

[2016-08-12 07:20] AlvinChen13 opened #1638 "Fail to build bazel from source"
Hi all,

Since I got error while run bazel which is installed by binary, then I try to build it from source, but I get the following errors. It seem some issue for java? Anyone can help on it? Appreciated!

/share/bazel-master$ ./compile.sh
INFO: You can skip this first step by providing a path to the bazel binary as second argument:
INFO:    ./compile.sh compile /path/to/bazel
🍃  Building Bazel f

[2016-08-12 08:42] abergmeier-dsfishlabs commented on #1630
What does work though is to read `sys.stdin.read(2)` from `stub_template`.

[2016-08-12 08:59] philwo commented on #1630
@abergmeier-dsfishlabs I will look into this further when I'm back from vacation on next Tuesday, but just as an FYI: Bazel workers use the "delimited stream" format for protobufs, e.g. https://developers.google.com/protocol-buffers/docs/reference/java/com/google/protobuf/MessageLite#writeDelimitedTo(java.io.OutputStream). Trying to read / write using the undelimited functions won't work.

Unfortu

[2016-08-12 09:09] hermione521 commented on #1637
Thank you for your PR. A new sandbox implementation is on the way, so I'm not sure if @philwo want to review this.

[2016-08-12 09:12] abergmeier-dsfishlabs commented on #1630
@philwo Can you perhaps get in touch with the protobuf devs and make them solve this "delimited stream" mess. They defined the protocol de facto but we cannot easily use if from anything other than Java.

[2016-08-12 09:18] ahyangyi commented on #1638
Looks like you are using a very different JRE (that does not support SHA-1) from everyone else.  What's your JRE version?

[2016-08-12 09:18] hermione521 commented on #1634
I think @iirina is working on this.

[2016-08-12 09:29] hermione521 commented on #1636
The same to your another issue. Your JRE version?

[2016-08-12 09:35] hermione521 commented on #1583
friendly ping @dslomov

[2016-08-12 09:40] hermione521 commented on #1594
friendly ping @kchodorow

[2016-08-12 10:12] abergmeier-dsfishlabs commented on #1630
Reading through code of `CodedInputStream`, the problem seems that it want to read the buffer of istream (8k by default). When I do `google::protobuf::io::IstreamInputStream istream(&std::cin, 1);` it starts to work (horrible performance incoming).

[2016-08-12 13:06] abergmeier-dsfishlabs opened #1639 "More versatile worker_max_instances"
Should it be the plan to keep `worker_max_instances` (not sure whether it is the best configuration method) we would need for it to be more versatile.
We'd have the following requirements:
1. We have certain third-party libraries, which open threads. For this we want to limit instance count to _CPU_CORES_/2 for a certain mmenomic.
2. At any time we do not want the total number of workers to exceed

[2016-08-12 13:12] ahyangyi opened #1640 "Add extra mount directories for sandbox, project wise"
Here is something I'm trying to do today: run a test of a C++ library that uses CUDA. `bazel run` succeeds, while `bazel test` fails. A closer examination reveals that this is due to the sandbox not mounting devices `/dev/nvidia*`.

For now I simply hacked the Bazel source code to add these extra paths for the sandbox to mount. However, is there a configurable setting somewhere that allows me to d

[2016-08-12 13:55] abergmeier-dsfishlabs commented on #1630
I do get Exception `com.google.protobuf.InvalidProtocolBufferException: Protocol message tag had invalid wire type.` every once in a while.
Using the Protobuf lib is really no fun.

[2016-08-12 14:07] kchodorow commented on #1594
jGit does some weird stuff with SSL.  We now have git rules in Skylark that use the system git, so if you can run `git clone <whatever>` on that image then those rules should work.  Unfortunately, they are not yet part of a release.  You could either try using Bazel from head or add the following line before your `git_repository` call in WORKSPACE:

[code]

Or put https://github.com/bazelbuild/baz

[2016-08-12 14:13] kchodorow commented on #1638
Is it possible the export situation described [in this thread](https://bugs.eclipse.org/bugs/show_bug.cgi?id=23760) applies? Could you try adding the security.provider line?

[2016-08-12 14:16] kchodorow commented on #1636
Duplicate of #1638.

[2016-08-12 14:16] #1636 closed

[2016-08-12 14:22] philwo commented on #1630
Which data format would you prefer instead of protobufs? I'm open to adding support for others, just had no good reason so far.

[2016-08-12 14:28] abergmeier-dsfishlabs commented on #1630
I am ok with protobuf but:
- not with its documentation. `IstreamInputStream`, `CodedInputStream` does so much under the hood that is documented nowhere.
- The specific wire format that you chose is only implemented for Java.
- Using stdin and out might be a fine thing for *nix but I fear will pose some problems (encodings, consoles) on Windows.

How about allowing REST or GRPC?

[2016-08-12 14:51] lberki commented on #1624
I don't think that is doable right know :( Our C++ rules don't integrate with Skylark very well (which is a worse state to be in if they didn't integrate with Skylark at all). It's on our agenda to improve them, but they are quite complicated, so I can't give you a deadline.

[2016-08-12 16:47] znull commented on #1637
I should mention that this isn't strictly a Centos issue - it's more that you can globally break sandboxing on any linux machine by doing `echo 5555 > /proc/sys/kernel/overflowuid` (or any value that isn't the `nobody` uid)

[2016-08-12 16:59] objmagic commented on #1299
Is there any follow-up on this issue? For https://github.com/twitter/heron/issues/101, we currently suppress warnings emitted by `tar`. It would be good if we can change the timestamp.

[2016-08-12 17:48] gunan commented on #1437
We seem to just run into this again with bazel 0.3.1
http://ci.tensorflow.org/job/tensorflow-cl-cpu-python3/6116/consoleFull

//tensorflow/core:framework_rendezvous_test                             TIMEOUT in 3605.0s
//tensorflow/contrib/layers:optimizers_test                              FAILED in 5.0s

Is it possible the issue shows up when running bazel inside a docker container?

[2016-08-12 19:03] pcj commented on #29
Although this issue is closed, I would add that using a custom CROSSTOOL is no longer necessary for travis.  Instead, select the "trusty beta" image in the `.travis.yml` file:

[code]

As this has gcc4.8, zip, and jdk8, no longer need to specify oraclejdk8 or addons.  That's it!

https://github.com/pubref/rules_protobuf/blob/master/.travis.yml

[2016-08-12 19:03] #1100 closed

[2016-08-12 19:04] dslomov commented on #1451
This is fixed, but only works under msys, right @meteorcloudy

[2016-08-12 19:05] #1452 closed

[2016-08-12 19:05] dslomov commented on #1527
This is fixed, right @lberki ?

[2016-08-12 19:06] dslomov commented on #1189
This is fixed, right @lberki ?

[2016-08-12 19:06] dslomov commented on #1533
Is this still blocking 0.4?

[2016-08-12 19:07] dslomov commented on #1454
@meteorcloudy what is left here?

[2016-08-12 23:11] davidzchen commented on #1615
I just returned from vacation. I'll take a look at this now.

[2016-08-13 09:44] davidzchen commented on #1615
Actually, I found that bringing up a local instance of the site (using both the internal and external `serve-docs` script) at HEAD still has the Objective-C rules link on the sidebar. I'm not sure why the last site push removed the link. Can we try doing another push to see whether the objc rules are restored? If not, I'll investigate further.

[2016-08-13 19:23] pkonovalov-softheme commented on #1608
+1 The same issue.

[2016-08-14 03:45] davidzchen commented on #1550
I can move the `git_repository` for sass into `skydoc_repositories`, but then it is still not possible to `load()` and call `sass_repositories()` from within the `skydoc_repositories` macro:

[code]

[2016-08-14 03:58] davidzchen commented on #1640
AFAIU, TensorFlow builds without sandboxing: https://github.com/tensorflow/tensorflow/blob/master/tools/bazel.rc.template

+ @martinwicke to confirm.

[2016-08-14 07:25] martinwicke commented on #1640
We have it generally disabled because disabling it generates fewer support
requests than enabling it.
On Sat, Aug 13, 2016 at 20:58 David Z. Chen <notifications@github.com>
wrote:

[2016-08-14 11:51] ahyangyi commented on #1640
Yeah, that makes sense for Tensorflow, which runs in diverse environments. I guess for the closer environment I'm looking at, hacking the sandbox source code to mount /dev/nvidia* is a sensible solution.

[2016-08-15 00:37] gustavla opened #1642 "Incorrect -isystem usage for non-system paths"
This a subtle but critical bug that showed up as a compilation error in Tensorflow (https://github.com/tensorflow/tensorflow/issues/3743). It can be summarized as follows: bazel reports that certain files were not declared when they clearly were. Long story short, non-system paths are being added to `gcc -M` as `-isystem` and not `-I`, which results in fatal errors in certain situations.

### The

[2016-08-15 01:38] AlvinChen13 commented on #1638
@kchodorow My security.provider is as following:

hal-dev:~$ sudo vi /usr/java/jdk1.8.0_101/jre/lib/security/java.security

 66 # List of providers and their preference orders (see above):
 67 #
 68 security.provider.1=sun.security.provider.Sun
 69 security.provider.2=sun.security.rsa.SunRsaSign
 70 security.provider.3=sun.security.ec.SunEC
 71 security.provider.4=com.sun.net.ssl.internal.ssl.Prov

[2016-08-15 01:38] bsilver8192 commented on #1642
I've seen this behavior before, and adding `compiler_flag: "-fno-canonical-system-headers"` to the CROSSTOOL fixed it. @lberki did this for Bazel's builtin CROSSTOOL in 763f1397155fc7c12e1f1071a1bc942f91b867c4, but it looks like it hasn't made it to cc_configure.bzl which I think should add that if the compiler supports it.

This whole "choose the shortest of a few different ways of manipulating t

[2016-08-15 01:50] bsilver8192 commented on #1642
On second thought, that takes less time to write than to type that comment. Review sent out as [Ia05788243d0128ea4921f12c437ef6cebd83a4ff](https://bazel-review.googlesource.com/#/q/Ia05788243d0128ea4921f12c437ef6cebd83a4ff).

@gustavla: it looks like you don't have a Gerrit account, so I'll ask here: can you take a look at that change?

[2016-08-15 01:51] bsilver8192 commented on #1640
Would `build --sandbox_add_path=/dev/nvidiafoo` lines in tools/bazel.rc work?

[2016-08-15 02:08] bsilver8192 commented on #1624
I've just been including an attribute like this as an input to all my actions (the label needs to be changed to match the value of `--crosstool_top` you're using):
[code]

It definitely includes more files than necessary (all linker, compiler etc files for all toolchains), and is definitely brittle wrt specifying other `--crosstool_top`s, but it works OK for me. Could you live with those limitatio

[2016-08-15 02:13] bsilver8192 commented on #1617
I *think* that flag does nothing on modern amd64 JVMs anyways, so it's safe to just remove it. Try a version after 7f60883548753a8c290ad484cf26605a61edaaea (or you could cherry-pick that if you want to stick with the old version).

A quick grep reveals another instance in src/main/java/com/google/devtools/build/lib/rules/java/DeployArchiveBuilder.java  you might need to remove too.

[2016-08-15 02:23] bsilver8192 commented on #1580
Some updates on 6: 3bed4af4f27bbd22b5531454095f0eda30bfac9f changed to exec instead of a whole separate process, but 679e911e948e6965afe1c23bb20ac4efdd65bac4 added a (not default yet) code path which brings it back.

[2016-08-15 03:27] gustavla commented on #1642
I still get a build error after this change. The paths are still absolute in the `.d` file, so I don't think the compiler flag was added. I confirmed though that gcc gives me relative paths if I add`-fno-canonical-system-headers`.

[2016-08-15 03:34] ahyangyi commented on #1640
@bsilver8192  Thanks, that works. That's exactly what I'm looking for.

[2016-08-15 03:34] #1640 closed

[2016-08-15 03:39] ahyangyi commented on #1624
Yeah, that's what I plan to do. It would make regular development easy, but the testing of new toolchains hard. Since the latter involves only one person (that is, me), it won't be a huge problem hopefully.

Thanks a lot!

[2016-08-15 03:40] ahyangyi commented on #1624
Not sure if you want to close this issue or keep it as a remainder/tracking issue that we are still waiting for something better. I'll keep it open for now.

[2016-08-15 05:54] gustavla commented on #1642
What looks to be happening is that `-fno-canonical-system-headers` is indeed part of the subprocess call. However, the call runs a Python script in Tensorflow (`third_party/gpus/crosstool/clang/bin/crosstool_wrapper_driver_is_not_gcc`) that generates the actual call from its argument list. However, it does not acknowledge and propagate `-fno-canonical-system-headers` when doing this.

This puts th

[2016-08-15 05:54] #1642 closed

[2016-08-15 06:06] bsilver8192 commented on #1642
Thanks for the update. Looks to me like tensorflow is using a hard-coded CROSSTOOL which already has the flag, but somebody's going to hit this sooner or later with cc_configure so my change adding it there is still a good idea.

[2016-08-15 06:08] gustavla commented on #1642
Sounds reasonable.

[2016-08-15 06:49] bsilver8192 commented on #1637
Basically, #481 came back, except with a nicer error message... Sounds like time for a test, which I just uploaded as [Ib785c874cdb9192920f9935b696bfd6c9c0e5f4f](https://bazel-review.googlesource.com/#/q/Ib785c874cdb9192920f9935b696bfd6c9c0e5f4f).

[2016-08-15 07:10] AlvinChen13 commented on #1638
@ahyangyi @kchodorow Is that possible the issue of my java env? I just write a very simple java app, but it runs failed. It likes this:

  1 import java.security.MessageDigest;
  2
  3 public class Sha {
  4             public static void main(String[] args) throws Exception {
  5                         MessageDigest md = MessageDigest.getInstance("SHA");
  6                             }
  7 }

[2016-08-15 07:59] davidzchen opened #1644 "http://bazel.io should redirect to https://bazel.io"
https://bazel.io is now live, but http://bazel.io does not redirect to the https site.

[2016-08-15 08:11] AlvinChen13 commented on #1638
Solve the issue by re-install the JDK instead of deb

[2016-08-15 08:11] #1638 closed

[2016-08-15 09:01] bsilver8192 commented on #1492
I have no experience with Alpine Linux or Docker, but I thought this looked interesting and got it working.

I think using the installer built for a different libc is pretty hopeless, but I did get building from scratch working with just a few tweaks.

I assume you tried to compile an older Bazel version before 168031d21624741411ac238373cbd8544b8948df, because I didn't see any issues with protoc s

[2016-08-15 10:48] abergmeier-dsfishlabs opened #1646 "Worker configuration does not work standalone"
Once you change the Action to "worker format" it no longer works in standalone mode.
IMO if standalone encounters the "worker format" it should extract arguments same as with workers.

While I could built in worker format in my executable I think it would be better if it would just work:tm:.
CC @philwo

[2016-08-15 11:32] ahyangyi opened #1647 "Changing a config_setting does not trigger rebuilding/cache invalidation."
Steps to reproduce:

- Start at a project with some `config_setting`s and some targets that depends on `config_setting`s by using `select`s.
- Build everything with `bazel build //...:all`.
- Change one of the `config_setting`s.
- Build everything again.

In my situation, the truth value of the `config_setting` was `false` before I changed it, and was `true` after that. This changes how my targets

[2016-08-15 11:34] ahyangyi commented on #1647
Oops. I checked it again and it was actually `false` both before and after my change. So Bazel is acting correctly. Closing this issue.

[2016-08-15 11:34] #1647 closed

[2016-08-15 15:27] kchodorow commented on #1299
No, it shouldn't be too hard if someone wanted to add it, but it hasn't been a priority.  Interest noted, though.

[2016-08-15 15:34] kchodorow opened #1648 "--nobuild_runfile_links doesn't work for Java rules"
For C++, it works, but for Java:

[code]

BUILD file:

[code]

[2016-08-15 18:30] pames opened #1649 "Cannot use third_party directory"
file: third_party/yaml-0.1.5/BUILD
[code]

But it fails to build:

[code]

Seems like the first error causes a failure due to the attribute being unknown.  Removing the attribute still does not fix the 2nd ERROR, though, causing the build to still fail.  Renaming without the license attribute allows a successful build:

[code]

[2016-08-15 18:50] ahumesky commented on #1649
The attribute is plural:
http://bazel.io/docs/be/common-definitions.html#common.licenses

You can also declare a license for the entire build file with licenses():
http://bazel.io/docs/be/functions.html#licenses

e.g.:
https://github.com/bazelbuild/bazel/blob/master/third_party/zlib/BUILD#L1

[2016-08-15 18:55] nathantchan opened #1650 "Better Error for Build Generates Bash Command That Exceeds Max Argument Length"
I had a build command that generated a bash command that was too long. However, the error reported by bazel was not very helpful:

[code]

We were eventually able to deduce it was an arg list too long error by executing the following command and using bash to run the dump:

[code]

[2016-08-15 19:58] pames commented on #1649
Thanks for the quick reply, looks like an error on my part.  I'll re-open if this turns out not to fix.

[2016-08-15 19:58] #1649 closed

[2016-08-15 23:32] pcj opened #1651 "bazel run docker_build fails on osx"
Running a [docker_build rule](http://bazel.io/docs/be/docker.html#using) should install the docker image like `docker load -i bazel-genfiles/.../image.tar`.

Running this rule generates an executable bash script.  The script template from https://github.com/bazelbuild/bazel/blob/master/tools/build_defs/docker/incremental_load.sh.tpl#L27-L28 assumes the presence of gnu sed.  BSD sed (osx) does not

[2016-08-15 23:45] dcower commented on #947
I'm running into this as well on Windows 10 with MSYS2 (64-bit) + GCC 4.9.2. I believe the issue here is with literals using scientific notation. E.g., the following test case fails:

    int main() {
      return 1e9;
    }

with the following error:

[code]

... but just replacing the literals in Bazel isn't enough; the ones pulled in via `limits` (e.g., `__FLT_MAX__`) are also causing issues. I

[2016-08-16 01:24] skgumma commented on #714
@damienmg I'm using CentOS 6.6. Well I got some help from my colleague who managed to compile bazel. The issue for us is each script is calling env python so every time my default environment is loaded instead of compile environment.
He  replaced the default python with his own wrapper which does sets the environment variables and calls python which was installed in non system default location.

f

[2016-08-16 04:49] nelhage opened #1653 "`new_http_archive` can't handle archives containing unicode-encoded filenames"
I'm attempting to add `libgit2` to a project as a bazel external, like so:

[code]

Unfortunately, `bazel build @com_github_libgit2//...` fails with

[code]

The problem seems to be proximally caused by the fact that `bazel` forces itself into a latin-1 locale: https://github.com/bazelbuild/bazel/blob/936c2c2c815b64525bc6d3c6ac8f049655589370/src/main/cpp/blaze.cc#L1718-L1724 — `UnixPath.encode` wi

[2016-08-16 07:27] lberki commented on #1527
Yep, forgot to close.

[2016-08-16 07:27] #1527 closed

[2016-08-16 07:27] lberki commented on #1189
Yep, forgot to close.

[2016-08-16 07:27] #1189 closed

[2016-08-16 09:57] ahyangyi commented on #818
@kchodorow I don't think this is a sandbox bug actually. If one replace that "@gperftools//:tcmalloc" to "external/gperftools/libtcmalloc.a" one should actually be able to build it. So the problem seems to be the labels being replaced with wrong paths, instead of sandbox problem.

Also notice that @mikedanese included the same thing in `deps`, so the needed files should actually be accessible in t

[2016-08-16 10:44] ahyangyi commented on #1624
It seems @bsilver8192's solution does not work for me.

[code]

Maybe related: the toolchain I am using is a `cc_toolchain_suite`, as opposed to a `filegroup`.

[2016-08-16 10:54] ahyangyi commented on #1624
Um... changing it to a filegroup does _not_ help.  :(

[2016-08-16 11:00] ulfjack opened #1654 "Recent test runner changes broke some tests"
See the TODOs in junit/runner/model/TestSuiteModel.java.

[2016-08-16 11:01] ulfjack commented on #1634
Let's consider this a dupe of #1150.

[2016-08-16 11:01] #1634 closed

[2016-08-16 12:06] abergmeier-dsfishlabs opened #1655 "Enable run_under for builds"
To test actions it would be great if we could have `run_under` also work for `build`. Currently tracing a buggy action is quite problematic.

[2016-08-16 13:59] ulfjack commented on #354
Why do you need to override the classpath? Can't you just add the library to deps?

[2016-08-16 17:07] kchodorow commented on #1592
John, could you take a look at this? It's the same part of the code that your BUILD file naming changes touched.

[2016-08-16 17:18] katre commented on #1592
Sure, I'll investigate.

[2016-08-16 17:29] danmane commented on #1408
When this is merged, will there be any action required by TensorFlow maintainers to have TensorFlow use the native binaries? Or will it just be a seamless replacement?

[2016-08-16 17:31] kchodorow commented on #1408
Code will continue to use the native rules automatically.  If you'd like to try the Skylark ones, you can add:

[code]

to your WORKSPACE file.

[2016-08-16 21:17] philwo commented on #1654
Not sure about the details of this issue, but "recent change broke some tests" sounds like P0 and either rollback or immediate fix if trivial?

[2016-08-16 21:29] philwo commented on #1646
With "change the action to worker format", do you mean adding the @flagfile parameter as the last argument? If not, please explain.

If yes, we can't do this - argument lists routinely become too long (see https://github.com/bazelbuild/bazel/issues/1650 for a report), so the trick is to write them to a file and then reference that file via @flagfile in the command-line args. The tool is responsibl

[2016-08-16 21:59] katre commented on #1592
I've written a shell test that catches this error, and debugged through the PackageFunction, PackageLookupFunction, and LocalRepositoryFunction code that is involved. I'm not sure we have enough data to catch this currently.

Currently, we have a mapping of "repository name"->"repository directory" which is used to load the package. In order to catch this case, we'd need the reverse mapping, and w

[2016-08-17 07:15] abergmeier-dsfishlabs commented on #1646
I am strongly against having multiple code paths that handle arguments differently just based on strategy.
So removing the @ expansion yes pretty please with mustard and honey :+1:

True but quite frankly I can wait until 1.0 for that. Currently Bazel is not for the faint of heart anyways.

Would be better if some guys would frequent IRC since@damienmg and @kchodorow not holding the flag anymore.

[2016-08-17 09:13] ahyangyi opened #1656 "Feature request: Add pic_libs in CC Skylark Provider"
Currently, `CcSkylarkApiProvider.java` only provides the following API:

[code]

It's adequate if one wants to build an executable (that is, emulate a `cc_binary` without supporting `linkshared = 1`). However, if building shared libraries is also to be supported, this would be inadequate.

It could be solved either by adding a new API, or adding a `bool` parameter to the existing one.

**Since the

[2016-08-17 11:08] ulfjack commented on #1654
Ah, my bad. The code was changed such that the tests are ok but we need to investigate if there's more to do.

See Commit 20703c2667539202ca8fcbe93ebd9a5450c7e6ab.

[2016-08-17 13:41] gclouding opened #1658 "How to use bazel to build a MPI program?"
Now, suppose we have a simple MPI program, namely, hello_world.c, and below is its source code:
"
# include <mpi.h>
# include <stdio.h>

int main(int argc, char*\* argv) {
    MPI_Init(NULL, NULL);
    int world_size;
    MPI_Comm_size(MPI_COMM_WORLD, &world_size);
    int world_rank;
    MPI_Comm_rank(MPI_COMM_WORLD, &world_rank);
    char processor_name[MPI_MAX_PROCESSOR_NAME];
    int name_len;

[2016-08-17 14:24] petemounce commented on #947
I'm getting a similar thing when using `0.3.1` to compile the C++ examples on Windows 10. The shell output is below. It looks like when I run `compile.sh` the junction points are created fine, but then for subsequent `bazel` invocations it cannot remove them.

I have set up msys2 so that its shell opens with run-as administrator. I'm using msys 20160719, latest as of earlier today.

[code]

[2016-08-17 14:36] kchodorow commented on #1592
Keeping repository directory->repo name mapping seems like the most reasonable solution to me: we can generate it when the WORKSPACE file is parsed and I don't think it would be too many more skyframe nodes. One other thought is that ContainingPackageLookupFunction.java already does something sort of similar, perhaps we could hook in there without too much of a performance penalty?

One part of th

[2016-08-17 14:42] laszlocsomor commented on #947
Hey folks, thanks for reporting more occurrences and sorry about the silence on this bug. I can look at it tomorrow.

[2016-08-17 14:51] katre commented on #1592
Makes sense, I'll keep looking.

[2016-08-17 15:28] petemounce commented on #1463
I am able to compile bazel tags 0.3.0 and 0.3.1 on Windows 10, but I get the same error when trying to compile (with either version) my in-house project.

Sample output:
[code]