[2018-06-28 13:46] buchgr opened #5491 "add a default max connection limit for remote caching"
https://buildkite.com/bazel/rules-go-golang/builds/410

rules_go has been running out of file handles because it tried to download too many files concurrently. That's because of a recent change in Bazel remote caching that downloads all files concurrently without a limit by default. There is the `--remote_max_connections` flag. We should have a default limit, like 1000.

[2018-06-28 14:12] mhlopko commented on #5464
May I have a stupid question? What is this UnionFileSystem and where do we use it?

[2018-06-28 14:28] laszlocsomor commented on #3678
Sorry, no updates.
I tried building GAPID again today with Bazel 0.14.1, ran into some problems that I had to fix (e.g. badly configured PATH, wrong Android SDK installed) and that took up my time. I'll try looking again next Monday.

[2018-06-28 15:17] benjaminp commented on #5464
33700d64d665f1d708cedf0e6ca660d758392fb1 implies it's used in some tests, which much not be open source.

[2018-06-28 15:19] gvacaliuc commented on #5464
As far as I can tell the class isn't used anywhere in the Bazel codebase other than its [tests](https://github.com/bazelbuild/bazel/blob/master/src/test/java/com/google/devtools/build/lib/vfs/UnionFileSystemTest.java).  It's a FileSystem implementation that allows various path prefixes to point to different FileSystems, e.g. `/tmp/foo/bar -> UnixFileSystem`, `/tmp/foo/foo -> CustomFileSystemImpl,

[2018-06-28 15:20] gregestren commented on #5472
Hi Chris,

All the original links should be in the new roadmap, although maybe they're not as easy to see. For example:

Normal look:
![link1](https://user-images.githubusercontent.com/5130366/42043588-cdfbab66-7ac4-11e8-84a5-b1db311f86fb.png)

Hover mouse pointer:
![link3](https://user-images.githubusercontent.com/5130366/42043600-d5f3ed9c-7ac4-11e8-9a37-f0451400587d.png)

Can you verify there ar

[2018-06-28 15:28] mhlopko commented on #5464
Well then we'll remove it, it's just a burden. I'll close this issue now. Sorry for the trouble.

[2018-06-28 15:28] #5464 closed

[2018-06-28 15:47] benjaminp opened #5492 "target pattern parsing errors are too wordy"
[code]
1. One `ERROR` line is probably enough. We would probably be okay without the `WARNING`, too.
2. Not all error messages are improved by concatenating them into a chain with colons.

[2018-06-28 15:48] mhlopko commented on #5391
The correct command is `clang -E -xc++ - -v` (one extra -). Could you try that please?

[2018-06-28 15:57] benjaminp commented on #5464
It's not used in any Blaze tests?

[2018-06-28 15:58] mhlopko commented on #5464
Only in one, and I'm investigating whether the test actually needs onionfs at all.

[2018-06-28 16:01] mhlopko commented on #5092
hmmm maybe just precisely placed `includes` attribute or `include_prefix` is what's needed :)

[2018-06-28 16:36] grwlf commented on #4077
Same issue here. may be not really true, but it looks like bazel detects the compiler at the time of it is built and then uses it as the only compiler available.

[2018-06-28 16:38] #4432 closed

[2018-06-28 16:53] cushon commented on #5466
We have some logic to pass additional javac flags to all proto compilations.

I'm not necessarily recommending this approach for c++, but it might be an option.

https://github.com/bazelbuild/bazel/blob/178e6cc5dd31a8b9748f9263eea6bcba5f2c7f31/tools/jdk/default_java_toolchain.bzl#L47

https://github.com/bazelbuild/bazel/blob/1d49184b071b281c83939416d7eead671729c8b5/src/main/java/com/google/devtool

[2018-06-28 17:30] clusc commented on #5437
It seems to happen randomly for a lot of java libraries, and we did verified the external resources exist.

[2018-06-28 18:21] nlopezgi opened #5493 "Bazel head can no longer be compiled with any version of bazel other than 0.15.0"
### Description of the problem / feature request:
Starting with https://github.com/bazelbuild/bazel/commit/1d3b6c144634b18b918c438ca042a16af8c901ff it is no longer possible to build bazel head with any version of bazel other than 0.15.0

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Install older version of bazel:
wget --no-verbose

[2018-06-28 19:33] mhlopko commented on #4446
@RNabel I'd advise you not to spend too much time on that, since https://github.com/bazelbuild/bazel/issues/4570 is being actively worked on and that will allow you to do exactly what you want - create the exactly same actions as C++ rules would.

[2018-06-28 19:41] mhlopko commented on #4077
Bazel detects the compiler on the first build, plus it reevalutes on change of many env variables, most relevant is `CC`. You can force reevaluation (e.g. when you upgrade gcc binary) by running `bazel clean --expunge`, or with newer bazels using `bazel sync`.

For both of you setting `CC` doesn't work? Can you elaborate?

I'm only talking about toolchain detection bundled with Bazel. If you have

[2018-06-28 21:04] grwlf commented on #4077
I've re-checked the CC option and it worked. Sorry for the noise :(

[2018-06-28 23:23] yuikns commented on #5468
I am on `OSX-10.13.5 (with clang-902.0.39.2)`, but still get a broken.

[2018-06-28 23:43] #5307 closed

[2018-06-28 23:45] BenTheElder commented on #5047
we're seeing this again with 0.15.0 :(

Test run [a](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/test-infra/8491/pull-test-infra-lint/3479/) and [b](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/test-infra/8491/pull-test-infra-bazel/17482/) both hit an error like:

Per the logs these tests ran in the image `gcr.io/k8s-testimages/kubekins-e2e:

[2018-06-29 00:51] BenTheElder commented on #5047
I've personally hit this 3x today, I think we will downgrade to 0.14.0 in the short term..

[2018-06-29 03:58] jin commented on #5472
Thanks for the ping @gregce @mhlopko!

Yep, I have a proposal to create a repository to index links to published proposals. That should improve discoverability of the docs. I will make that document public in a bit and update here.

[2018-06-29 04:42] hsyed commented on #5483
I've fixed it. @buchgr would it be possible to get the CI system to run the tests with 1.8 and 1.9 as the host_javabase  ?  It would be ok if it ran on just one platform.

[2018-06-29 07:05] mboes opened #5494 "Expose as_executable in ctx.host_fragments.cpp"
### Description of the feature request:

`ctx.host_fragments.cpp` already contains fields such as `compiler_executable`, `nm_executable` etc pointing to the locations of said executable detected by Bazel. We propose to add `ctx.host_fragments.cpp.as_executable` to that set for the assembler.

### Feature requests: what underlying problem are you trying to solve with this feature?

Older versions o

[2018-06-29 08:13] RNabel commented on #4446
@mhlopko Nice, thanks for the heads up. Is there a rough timeline?

[2018-06-29 08:18] mhlopko commented on #4446
The [roadmap](https://docs.google.com/document/d/1K3Dq1JDDWjGtvTyFcIwy_-Crm7ZuD9FzSxjDawDhJRA/edit) says it will be done in July, which will be a challenge but it's possible. So it will be in released Bazel in August or in September. If all goes well.

[2018-06-29 08:23] liberatix-samir opened #5495 "Bug in MSVC crosstool, missing action_config."
### Description of the problem / feature request:
I am using https://github.com/nelhage/rules_boost in a bazel project, everything is working fine except when I try to use boost/iostream. The problem occurs on windows 10, and not on linux. boost/iostream depends on zlib. The error I get when trying to build is the fallowing:
[code]

### Feature requests: what underlying problem are you trying to s

[2018-06-29 09:03] buchgr commented on #5047
@BenTheElder sorry about that :(. I don't understand what's happening there yet. Can you try running with `--remote_max_connections=200`. I think this will avoid the failures in the first place.

I will try to reproduce the error.

[2018-06-29 09:04] buchgr commented on #5047
cc: @laurentlb might need a patch release once we understand what's going on there :(.

[2018-06-29 10:54] dslomov commented on #5493
@nlopezgi does this cause any issues? I am closing this, but let us know if you have a strong reason for continuing support of building with 0.14.

[2018-06-29 10:54] #5493 closed

[2018-06-29 11:08] stevenyslin commented on #2700
Dear @aehlig , @dslomov ,

Does bazel have released bazel-0.15.0-without-jdk-installer-linux-x86_64.sh ?
Thank you for your help.

[2018-06-29 11:14] mhlopko commented on #5485
ouch

[2018-06-29 11:30] mhlopko commented on #5495
We need to add `preprocess-assemble` to the msvc crosstool...

[2018-06-29 12:18] mhlopko commented on #5494
New [C++ toolchain Skylark API](https://docs.google.com/document/d/1g91BWJITcYw_X-VxsDC0VgUn5E9g0kRBGoBSpoO41gA/edit) is already submitted at HEAD, so it will be available in the next release. Then you can get path to ar by:

    load("@bazel_tools//tools/cpp:toolchain_utils.bzl", "find_cpp_toolchain")
    load("@bazel_tools//tools/build_defs/cc:action_names.bzl", "CPP_LINK_STATIC_LIBRARY_ACTION_N

[2018-06-29 12:19] mhlopko commented on #5494
https://github.com/bazelbuild/bazel/issues/4571 is the tracking bug. Therefore I'll close this issue. Thanks!

[2018-06-29 12:19] #5494 closed

[2018-06-29 13:17] nlopezgi commented on #5493
Thanks for the clarification. I don't have a strong reason to need continuing support for building with 0.14.

[2018-06-29 15:17] jirkadanek opened #5497 "Can't find jni.h if target not declared at the root of workspace"
### Description of the problem:

I am having a problem I first saw described at https://stackoverflow.com/questions/49824574/cant-find-jni-h-if-target-not-declared-at-the-root-of-workspace.

If I want to build a cc_library which depends on `jni.h`, I either have to put the target in a BUILD file in the directory of the top level project WORKSPACE, or use workaround from the SO question.

### Bugs:

[2018-06-29 16:48] luxe commented on #4077
Okay, CC is good enough for me too.  Its not as hermetic, but CROSSTOOL was too hard to configure.

[2018-06-29 17:04] cushon commented on #5483
@dslomov and @mhlopko thanks for reviewing bazelbuild/rules_closure#276, can you merge the PR?

[2018-06-29 18:03] hsyed commented on #4549
The design of abi jar could produce the ABI jar and full jar in parallel or I guess in stages.

I have not yet used the worker protocol for  multiple actions to the kotlin builder. Would it be possible to return the two artifacts as they become available ?

[2018-06-29 18:07] BenTheElder commented on #5047
Hey thanks for the response!

Sure, I'll set up a test job with 0.15.0 and this flag and see if we can still repro. Am I correct that this flag is not available before 0.15?

Also FWIW we're not in a huge rush to upgrade to any 0.15 features for Kubernetes I think and we staged the rollout to just some smaller repo(s) not the main one so we're fine for the moment after rollback. We'll of course wa

[2018-06-29 18:09] monamimani commented on #5485
Thanks I renamed the new_http_archive name to glmext and it works.
Thanks alot!

[2018-06-29 18:12] cushon commented on #4549
No, workers don't have any special support for that. The interface jar would need to be generated by a separate action to be able to start downstream actions as soon as it was generated and without waiting for the full jar.

[2018-06-29 18:20] buchgr commented on #5047
Hey Ben,

so in 0.15.0 we made a change for all action outputs to be downloaded in parallel. There is no concurrency limit applied by default, but I figured the number of action outputs would probably be somewhat reasonable and thus there would be a natural limit. I found after the 0.15.0 release (after my vacation) that rules_go to have actions with very high number of outputs and that we would t

[2018-06-29 18:33] BenTheElder commented on #5047
Got it, thanks! I'll start testing this after our team standup (~nowish).

[2018-06-29 19:52] yichuan1118 commented on #5391
Running this command does return the correctly search paths, but it seems this command does not return, I need to `ctrl-c` out of it.

[code]

[2018-06-29 21:16] jerrymarino commented on #1922
I've got a potentially similar issue: several thousands of object files that are compiled into `.a`s for later linking. Mainly, I'm using `objc_library` and `ios_application` rules.

Under the current design of Bazel, it downloads all of the `.o`s from the cache, even if we just need the resultant `.a`.

I'm wondering if:
- The FUSE solution that @ulfjack mentioned is relevant here ( since we can

[2018-06-29 22:56] hectim commented on #5468
Same thing happened to me, brew didn't have the versions I wanted to try so I removed it and installed from source like described here.
https://github.com/google/protobuf/issues/4841

Downgrading to bazel 0.14.1 fixed it

[2018-06-30 11:13] systemlogic commented on #498
@kchodorow any solution so far on using any protected maven repository thru settings.xml

[2018-06-30 21:48] linengmiaoo opened #5502 "build bazel - cp: cannot stat ‘output/bazel’: No such file or directory"
Hello

I am trying to compile the ar bazel 0.5.2-**dist** from source but get the following error when running the compile script:

[code]

Could somebody tell how to solve this issue? The actual compilation fails, but I don't see why I am getting this error.

[2018-06-30 22:07] jirkadanek opened #5503 "Better document support for `javac -h` native header file generation in java_library rule"
### Description of the problem / feature request:

To the best of my knowledge, native header generation is not mentioned in bazel documentation anywhere. IMO it is important feature for JNI and should be explained.

edit: Actually, one page: https://docs.bazel.build/versions/master/skylark/lib/java_output_jars.html#native_headers

I found it by searching in bazel souces for "generated native head

[2018-07-01 01:11] BenTheElder commented on #5047
I've not been able to reproduce with `--remote_max_connections=200` enabled for bazel 0.15 based jobs, with the flag accidentally disabled in initial setup I did see this again though. I'm going to keep kicking off some more runs but I'm pretty confident that this does fix things for us.

This sounds somewhat familiar with `rules_go` any thoughts @jayconrod ?

[2018-07-01 01:45] BenTheElder commented on #4888
For Kubernetes being able to ignore `_output` from the other (bash/make/docker based) builds would fix needing to `make clean` before bazel building. Bazel currently chokes on an infinite symlink expansion in `_output` even though we don't use anything in `_output` for the Bazel build.

I think a lot of projects supporting Bazel and another build system could use some functionality like ignoring d

[2018-07-01 02:00] BenTheElder commented on #5047
Hmmm perhaps not... [spotted one failure](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/46662/pull-kubernetes-bazel-build-canary/93/) now.

[code]

As far as I can tell this run should have had bazel 0.15 with `--remote_max_connections=200` in the same bazelrc as the other caching flags.

[pod-log.txt](https://github.com/bazelbuild/bazel/files/2152323/pod-log.txt)

[2018-07-01 04:30] rongjiecomputer opened #5504 "CROSSTOOL: "with_feature" bug in "tool" of "action_config""
### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Copy a full `CROSSTOOL` and change the following `action_config`.

[code]

Try to use this `CROSSTOOL` to build one binary (run with `-s` to see which tool get selected). Run `bazel clean` after each run.

1. `bazel build :binary -s`
   - Expected: second tool get selected.
   - Result:

[2018-07-01 05:19] ittaiz commented on #5206
Hi,
Any news?
On Tue, 19 Jun 2018 at 16:46 Talya Gendler <notifications@github.com> wrote:

[2018-07-01 17:48] chaitanyabandiapps commented on #587
Hi everyone, I tried all the options above to try my problem get going, but I'm unable to make it work. I'm using windows 10 on an Azure Deep Learning DSVM, probably the latest build. I'm trying to build the summarize_graph tool using tensorflow's bazel commands.

`bazel build graph_transforms:summarize_graph`

I'm getting the following error :
 **tensorflow/core/platform/default/build_config/BUIL

[2018-07-02 01:46] werkt opened #5505 "Provide OutputService and InjectionListener implementation"
### Description of the problem / feature request:

Implement the output service consistent with the execution strategy module, and re-release the ActionFileSystem to satisfy its requirements.

### Feature requests: what underlying problem are you trying to solve with this feature?

The integration of OutputService, an ActionFileSystem (now redacted), and InjectionListeners are non-public, with the

[2018-07-02 01:48] werkt commented on #5505
A perfectly acceptable first step here would be to follow through on comments in code, compelling skyframe to only interact with OutputService and its created FileSystem for all operations.

[2018-07-02 05:35] mrkkrp opened #5506 "The symlink to exec root seems to be named incorrectly"
### Description of the problem / feature request:

According to this documentation: https://docs.bazel.build/versions/master/output_directories.html, the symlink to exec root should be named `bazel-<workspace-name>`, but in practice it's named `bazel-<containing-dir-name>`, which may be different.

For example, if I have a `WORKSPACE` file with this:

[code]

contained in directory named `bar`, th

[2018-07-02 06:41] rongjiecomputer commented on #2241
@laszlocsomor I currently have some patches locally that allows `singlejar.exe` to *build*, I cannot verify if it works at all yet since I don't know what it does, so I will be trying to port the tests too after I upstreamed some patches.

Porting the tests seems more challenging than porting singlejar itself. The tests are sprinkled with some bash commands inside C++ code (like running [`unzip`](

[2018-07-02 07:18] #5485 closed

[2018-07-02 07:39] laszlocsomor commented on #2241
Thanks!

Yes, there's a better option:
- wrap `unzip` in a `sh_binary`:
[code]

    unzip.sh:
[code]

- make that `sh_binary` a data-dependency of the C++ test
- use [the C++ runfiles library](https://github.com/bazelbuild/bazel/blob/417260d2d3d5f8d264473c19f0c7c798f71adffe/tools/cpp/runfiles/runfiles.h#L17) to look up this sh_binary's path at runtime, run that instead of naked unzip, hoping "unzi

[2018-07-02 08:05] buchgr commented on #5458
FYI https://docs.google.com/document/d/1Igmv-2GfXkoVFWTXvBYPeniQom8nLAwzqzridDlBIS4

[2018-07-02 08:08] rongjiecomputer commented on #2241
Thanks for solution about C++ runfiles library!

I was thinking about testing `singlejar.exe` directly. But then again, I don't normally code in Java, so this question does not matter anymore.

[2018-07-02 08:12] laszlocsomor commented on #2241
You're welcome! Keep in mind that this isn't a perfect solution, it just encapsulates the problem.
`sh_binary` is non-hermetic in that it assumes that `unzip` is on the PATH, but we are at least aware of (https://github.com/bazelbuild/bazel/issues/5265) it and with this encapsulation you can make progress on porting the test.

[2018-07-02 09:54] meteorcloudy commented on #5495
@liberatix-samir I have a change to add action config for `preprocess-assemble`. But I also found [the assemble file](https://github.com/nelhage/rules_boost/blob/master/BUILD.zlib#L11) belongs to zlib just doesn't compile on Windows.

I think the solution could be updating [the BUILD file for zlib](https://github.com/nelhage/rules_boost/blob/master/BUILD.zlib#L11) to exclude that assemble file.
Se

[2018-07-02 11:05] mhlopko commented on #4077
I'll close this issue now, I think it's well covered with other issues that are not TF specific. Especially #5186. Thanks!

[2018-07-02 11:05] #4077 closed

[2018-07-02 11:26] #5495 closed, assigned to meteorcloudy

[2018-07-02 12:53] jbduncan commented on #5458
Cool, thanks for sharing this design document @buchgr! :+1:

[2018-07-02 14:19] rishacha commented on #5332
Can I take this up?

[2018-07-02 14:43] jayconrod commented on #5047
@BenTheElder We have a rule that builds the Go standard library for the target platform and mode. It's  used as an input for most other actions. It's a directory output, but I guess that's expressed as individual files over the wire.

I'm planning to change the implementation of that rule to split the standard library into pieces that can be used as separate inputs (tools, archives, sources, heade

[2018-07-02 15:23] jin commented on #5332
@rishacha please do!

[2018-07-02 16:51] #5491 closed

[2018-07-02 17:59] mirandaconrado commented on #1922
@ulfjack I like the idea of the FUSE. Looking through Bazel's code, I don't think it currently support it, right? If I provide a FUSE that gives lazy download and could expose hashes (not sure how yet), how would we go about adding support for it in Bazel?

I'm really interested in this as the downloads have been a little bit painful for us and it would also solve the same problem with repositorie

[2018-07-02 21:13] jdanekrh commented on #5503
This is how I am using it now. I had to write skylark rule to access the `-native-header.jar`, I did not figure out how to get to it from BUILD, using a `genrule` to extract it.

extension.bzl:

    def _impl(ctx):
    # https://github.com/bazelbuild/rules_scala/pull/286/files
    ctx.actions.run(
        inputs = [ctx.executable._zipper, ctx.attr.lib.java.outputs.native_headers],
        outputs

[2018-07-02 21:30] c-parsons commented on #5058
Made first RC at https://github.com/bazelbuild/bazel/tree/release-0.16.0

[2018-07-02 22:45] buchgr commented on #5206
@philwo is back tomorrow. He should be able to sort this out quickly.

[2018-07-03 01:01] c-nuro opened #5507 "Build stamp from BUILD_SCM_REVISION for cc_binary is not updated even if the binary is changed"
### Description of the problem / feature request:

Build stamp for cpp is not updated even if the binary is recompiled

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[code]

Then change main.cc to `printf("Changed %s\n", build_scm_revision)`, push a commit
[code]

Expecting new compiled binary has build_scm_revision `0eca28585c2428

[2018-07-03 03:59] benjaminp commented on #5507
Did you try to 0.15? Link stamps were definitely broken a few months ago, but I think that's all been fixed now.

[2018-07-03 06:09] petemounce commented on #5058
Published to chocolatey.

[2018-07-03 07:34] c-nuro commented on #5507
Thanks, updating version works for me.

BTW, is it possible to force restamp the binary if the head commit changes, even if all dependency is unchanged?
AFIK go rule is using STABLE_BUILD_SCM_REVISION instead of BUILD_SCM_REVISION which can force restamp, can cc_binary configured in this way as well?

[2018-07-03 08:36] aehlig commented on #5058
Did we change something to the release process? I couldn't find the distribution archive at the expected https://storage.googleapis.com/bazel/0.16.0/rc1/bazel-0.16.0rc1-dist.zip nor anywhere else.

[2018-07-03 08:45] laszlocsomor commented on #4473
@meteorcloudy : Is there any work remaining?

[2018-07-03 08:45] Globegitter commented on #5058
@c-parsons any deb packages or sh installers with that release?

[2018-07-03 08:53] laszlocsomor commented on #5254
**Update(2018-07-03):**
- `BAZEL_VC` or `BAZEL_VS` still needs to be defined (at least on my GCP Windows VM -- maybe I'm not admin?). An installer could do this so the user doesn't have to.
- Cryptic error messages when a genrule/sh_* uses `zip`, Bazel uses Git Bash, but MSYS is first on the PATH. (Related bug: https://github.com/bazelbuild/bazel/issues/5265)
- Bazel client is slow to extract the

[2018-07-03 09:12] laszlocsomor commented on #4930
Current status (at https://github.com/bazelbuild/bazel/tree/20637b7870a09a35b716f69a6d8ce5b4c5fe3722):
- `bazel query "tests(//src/test/shell/...)" | wc -l` --> 113
- `bazel query "tests(//src/test/shell/...)-tests(//src/test/shell:all_windows_tests)" | wc -l` --> 105

Currently only 7% of //src/test/shell/... runs on Windows.

[2018-07-03 09:13] laszlocsomor commented on #4292
Current status (at https://github.com/bazelbuild/bazel/commit/20637b7870a09a35b716f69a6d8ce5b4c5fe3722):
- `bazel query "tests(//src/...)" | wc -l` --> 410
- `bazel query "tests(//src/...)-tests(//src:all_windows_tests)" | wc -l` --> 259

Currently only 63% of all tests under //src/... run on Windows.

[2018-07-03 09:20] meteorcloudy commented on #5254
If users don't define BAZEL_VC and BAZEL_VS, Bazel will detect VC installation on the machine, if not found a fake crosstool will be generated. So I guess they are not mandatory, are they?

[2018-07-03 09:28] laszlocsomor commented on #4473
directory with non-ascii character

Do you mean it's a limitation of the Python interpreter?

[2018-07-03 09:38] laszlocsomor commented on #5315
Can we close this bug?

[2018-07-03 09:39] laszlocsomor commented on #5365
Obsolete. TF pipeline has been fixed a long time ago; last time it passed was at run 841.

[2018-07-03 09:39] #5365 closed

[2018-07-03 09:49] meteorcloudy commented on #5254
Just tested on the VM with 0.15.0. If I build a `sh_binary`, it worked without setting `BAZEL_VC` or `BAZEL_VS`. If I build a cc_binary, it threw an error asking me to install VC. This is working as expected.
But in both case it gives some warning about setting `BAZEL_VC`, I guess that what we should improve?
[code]

[2018-07-03 09:51] laszlocsomor commented on #1954
@meteorcloudy : Is this fixed together with https://github.com/bazelbuild/bazel/issues/3418?

[2018-07-03 09:55] meteorcloudy commented on #1954
Yes!

[2018-07-03 09:55] #1954 closed

[2018-07-03 09:56] laszlocsomor commented on #5254
Thanks for looking into this!

For me too. That is WAI.

For me too, and this is my primary concern. Isn't the cc_toolchain supposed to discover where VC is installed?

That's an annoyance because it spams the output and the yellow-colored DEBUG messages look like warnings, but this is only my secondary concern.

[2018-07-03 10:49] meteorcloudy commented on #5254
Hmm, I see VS 2017 is installed on the VM, but the registry info is somehow missing. Normally, bazel should be able to detect that through registry by
`reg query HKEY_LOCAL_MACHINE\SOFTWARE\Wow6432Node\Microsoft\VisualStudio\SxS`
It worked on my workstation for VS 2017.

[2018-07-03 11:21] buchgr commented on #5058
Artifacts have been generated. There was a small delay due to CI issues, sorry about that. https://storage.googleapis.com/bazel/0.16.0/rc1/index.html

[2018-07-03 11:21] buchgr commented on #5058
@c-parsons please cherry-pick https://github.com/bazelbuild/bazel/commit/4c9a0c82d308d5df5c524e2a26644022ff525f3e

[2018-07-03 11:22] buchgr commented on #5315
Yep!

[2018-07-03 11:22] #5315 closed

[2018-07-03 12:06] laszlocsomor commented on #5254
Could you update cc_configure to fall back on checking the default installation path if the registry key is missing?

[2018-07-03 12:17] meteorcloudy commented on #5254
That's good idea!

[2018-07-03 12:29] laszlocsomor opened #5508 "Windows: Bash-less test execution"
### Description of the problem / feature request:

Design and implement a way to run tests without requiring [`tools/test/test-setup.sh`](https://github.com/bazelbuild/bazel/blob/master/tools/test/test-setup.sh).

Current functionality includes:
- setting up environment variables, including making execution-root-relative paths absolute
- handling signals by post-processing the test's output and tr

[2018-07-03 12:57] philwo commented on #5346
This looks like the spurious "Permission denied" error that we have seen on our Mac CI.

@vihanb Can you reproduce this, or did it only happen once?

[2018-07-03 13:53] laszlocsomor commented on #4460
Done -- Bazel 0.15.0 contains the runfiles library for Python, Bash, C++, and Java, and they all support `rlocation()`. None of them supports `rfind()` yet (see #4334).

[2018-07-03 13:53] #4460 closed

[2018-07-03 14:11] laszlocsomor commented on #4691
Related bug: #5508.

[2018-07-03 14:30] mhlopko commented on #5483
Already closed. Can I close this issue?

[2018-07-03 14:39] mhlopko commented on #5346
Welcome back @philwo  :)

[2018-07-03 14:49] jerrymarino commented on #1922
It might be possible to tweak `SkyFrameExecutor` to skip redundant downloads: https://github.com/bazelbuild/bazel/issues/5505 . It seems like this is what `ActionFileSystem` did / does.

I'm super interested in this as well. For some workloads I'm testing against, _mean_ incremental build times with remote caching are longer than default caching even with great hardware / network.

[2018-07-03 15:19] hsyed commented on #5483
@mhlopko Waiting on a reply from @buchgr on testing with a 1.8 and 1.9 host javabase. I can see myself eventually regressing the kotlin rules.

[2018-07-03 17:47] buchgr commented on #5483
So the embedded JDK is 1.9 and the installed JDK is 1.8 on the CI machines. So you should be able to configure this yourself in the .yml file?

[2018-07-03 17:47] c-parsons commented on #5058
rc2 has been cherrypicked with 4c9a0c8

[2018-07-03 18:33] #5335 closed

[2018-07-03 18:55] BenTheElder commented on #5047
I've added more debugging since you couldn't actually tell for certain if that flag was enabled from the logs, doing some more testing.

[2018-07-03 20:36] buchgr commented on #5047
FYI: The error seems to be happening at this line: https://source.bazel.build/bazel/+/master:src/main/java/com/google/devtools/build/lib/remote/AbstractRemoteActionCache.java;l=239?q=AbstractRemoteAction

The remote caching protocol expects a file but gets a directory.

[2018-07-03 20:47] BenTheElder commented on #5047
@buchgr @jayconrod sounds like a rules_go issue? Per the logs this appears to happen while trying to download `GoStdlib`

[2018-07-03 21:13] jayconrod commented on #5047
@buchgr  `GoStdLib` produces two directory outputs. Those directories can be pretty large and may contain a mix of files and subdirectories. That should be okay, right? I haven't heard of any limitations on the contents of directory outputs.

@BenTheElder `GoStdLib` is a particularly heavy directory output. It wouldn't surprise me if it triggered a bug in the interaction between directory outputs

[2018-07-04 00:56] cjhopman commented on #5472
Aha, thank you. I'm just unable to understand how to use links I guess.

I've more carefully looked over the new roadmap and I think it does have all the links.

[2018-07-04 02:34] lfpino commented on #5497
Assigning to @mhlopko for triage.

[2018-07-04 02:40] lfpino commented on #5502
Hi @linengmiaoo, any reason why you're trying to use 0.5.2 specifically? It's a pretty old version and it seems from the error that the OS you're trying to build it for has problems? I'd suggest to use https://github.com/bazelbuild/bazel/issues/new to provide more information about your issue so we can handle this.

[2018-07-04 02:41] lfpino commented on #5503
Assigning to @lberki for triage.

[2018-07-04 02:42] lfpino commented on #5504
Assigning to @mhlopko for triage.

[2018-07-04 02:49] lfpino commented on #5505
Assigning to @janakdr for triage.

[2018-07-04 02:52] lfpino commented on #5507
Assigning to @mhlopko for triage.

[2018-07-04 07:17] mhlopko commented on #5507
Hi, glad it's solved :) I'll close this issue now.

Re BUILD_SCM_REVISION, isn't it enough to emit STABLE_BUILD_SCM_REVISTION from the workspace_status_command?

[2018-07-04 07:17] #5507 closed

[2018-07-04 07:22] mhlopko commented on #5504
Nice catch. The bug will be somewhere here: https://source.bazel.build/bazel/+/6b8c7ca48e9e48a9906c031346dc4a924b7ef559:src/main/java/com/google/devtools/build/lib/rules/cpp/CcToolchainFeatures.java;l=988

Want to give it a try?

[2018-07-04 07:35] linengmiaoo commented on #5502
@lfpino  I am trying to install tensorflow on a bit of an exotic device: Nvidia Jetson TK1. There are not so many sources online describing online how to install it on that particular device. I ended up following [this tutorial for the Nvida Jetson TX2](https://github.com/jetsonhacks/installTensorFlowTX2). As you know, when installing open source software you very often face issues where there is

[2018-07-04 07:37] mhlopko commented on #5497
The principled fix would be to change header targets in https://source.bazel.build/bazel/+/6b8c7ca48e9e48a9906c031346dc4a924b7ef559:src/main/tools/jdk.BUILD into `cc_import`s. For that we would need to add `incldues` attribute to `cc_import`. And we don't want to do it before https://github.com/bazelbuild/bazel/issues/4570 is fixed and cc_import is migrated to Skylark.

In the meantime, the workar

[2018-07-04 08:05] philwo commented on #5206
Hi,

unfortunately this is nothing that Bazel can fix. It's an issue in macOS's sandbox implementation.

As you have found out, the only valid values for the "allow/deny network" settings are "*" and "localhost". We are already setting this to "localhost". The fact that macOS's sandbox then still forbids binding to "localhost" is a bug in the sandbox, not in Bazel.

However, as we hit the same iss

[2018-07-04 08:05] #5206 closed

[2018-07-04 09:04] mjduijn commented on #2049
The native rules seem to be working but have the packaging, classifier, version order mixed up.
The following code snippet works

    native.maven_jar(
        name = "com_salesforce_servicelibs_reactor_grpc",
        artifact = "com.salesforce.servicelibs:reactor-grpc:jar:jdk8:0.8.2",
        repository = "http://central.maven.org/maven2/",
    )

Artifact should thus be of the form: `groupId:art

[2018-07-04 09:19] rongjiecomputer commented on #5504
@mhlopko I spent a few hours following the logic with source.bazel.build's cross referencing, the logic is all correct. It was only when I read the following test that made me realize what I did wrong.

https://source.bazel.build/bazel/+/b9166943e5dc23f7ce8ef2dce3cb98e5ce26e50b:src/test/java/com/google/devtools/build/lib/rules/cpp/CcToolchainFeaturesTest.java;l=1440

Root cause: I forgot to declar

[2018-07-04 09:19] #5504 closed

[2018-07-04 09:24] mhlopko commented on #5504
Awesome :) Glad it got solved :)

Crosstools always outgrow their parents :)

[2018-07-04 10:31] ash2k opened #5511 "Provide a way to redirect stdout/stderr into a file"
### Description of the problem / feature request:

It is common for programs in unix world to output the result of an invocation to stdout. The current way to capture that output is to either use `ctx.actions.run_shell()` or a wrapping shell script to redirect it to a file. This requires spawning an extra process and hence adds some overhead. Perhaps it makes sense to provide a way for `ctx.action

[2018-07-04 11:31] philwo commented on #5336
@mattklein123 @ittaiz If `docker info` hangs, this sounds more like a Docker issue.

I checked the code and I don't think it ever waits for stdin. The "info" command makes a single API request to the Docker daemon, decodes the result and prints it (https://github.com/moby/moby/blob/master/client/info.go).

Common reasons for hanging commands that do network requests are a wrongly configured hostna

[2018-07-04 11:46] laszlocsomor opened #5512 "Bazel server: ensure file streams are closed"
### Description of the problem / feature request:

The Bazel server (the Java code) sometimes opens streams without closing them, relying on the garbage collector to finalize the InputStream and close the file. This leads to Bazel holding on to files and (on Windows) being unable to delete them later.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal examp

[2018-07-04 11:55] laszlocsomor opened #5513 "Bazel server: race condition in JavaIoFileSystem.delete()"
### Description of the problem / feature request:

There's a race condition in: https://github.com/bazelbuild/bazel/blob/a320e4460f35767da7fc8eb824ce1f4b304b5e0f/src/main/java/com/google/devtools/build/lib/vfs/JavaIoFileSystem.java#L353

If the directory is deleted or replaced by a file between the `file.isDirectory()` check and the `file.list()` call, then `file.list()` returns null and throws an

[2018-07-04 14:53] lfpino commented on #5483
Hi @cushon Bazel sheriff here, I'm still seeing failures for all the projects @mhlopko mentioned in the first comment: https://buildkite.com/bazel/bazel-with-downstream-projects-bazel/builds/330

Example: https://buildkite.com/bazel/bazel-with-downstream-projects-bazel/builds/330#cf73d6ae-6ba4-4cc6-b54a-64890ec0c115

When should we expect this to be fixed?

[2018-07-04 15:03] lfpino opened #5514 "TensorFlow job in Bazel CI is red but only in Ubuntu 14.04"
The full log is in: https://buildkite.com/bazel/bazel-with-downstream-projects-bazel/builds/330#f4d9112b-3525-45b1-a2c7-09bc95905c6d

Assigning to @meteorcloudy for diagnose and triage.

[2018-07-04 16:15] lfpino commented on #5511
Assigning to @dslomov for triage.

[2018-07-04 16:48] mattklein123 commented on #5336
`docker info` runs just fine on my machine. It was something with how Bazel was calling it through Java. That's all I can offer you.

[2018-07-04 17:11] buchgr commented on #3517
friendly ping @lberki :)

[2018-07-04 17:52] lfpino commented on #5502
I see, then IIUC you should be using bazel 0.10.0 since the tutorial runs https://github.com/jetsonhacks/installTensorFlowTX2/blob/master/scripts/installBazel.sh, shouldn't you?

I think they forgot to update the version number in their homepage.

Can you try to run the steps manually and see what fails?

Alternatively, the relevant part of the error message above is:
[code]
which suggests a gcc c

[2018-07-04 17:52] #5502 closed

[2018-07-04 17:53] lfpino commented on #5502
Also, you can ask these sort of questions in Stack Overflow, you'll probably get a more useful answer :-).

[2018-07-04 18:12] cushon commented on #5483
@lfpino the rules_closure, rules_scala, and rules_kotlin results from that run are now green except on macs, where they're all failing with `reference repository '/usr/local/var/bazelbuild' is not a local repository`. There are a bunch of other mac failures with the same error, I don't think that's related to my change.

There are a couple of failures in projects downtream of rules_scala (BUILD_fi

[2018-07-04 19:40] cushon commented on #5483
I opened bazelbuild/BUILD_file_generator#37 for BUILD_file_generator.

[2018-07-04 19:45] cushon commented on #5483
And bazelbuild/rules_docker#444 for rules_docker.

[2018-07-04 20:56] kageiit commented on #5255
Sidenote, Okbuck is migrating to skylark for all generated build file definitions in buck - https://github.com/uber/okbuck/issues/598

okbuck is going to use custom rules i.e disallow native rules in the generated BUCK files. It could be a lot easier potentially to tweak the loads for the `.bzl` files that define these rules and make them use the bazel native rules instead. This would make inter-o

[2018-07-04 20:58] jin commented on #5255
@kageiit thanks for the update! The Bazel Android rules are not implemented in bzl yet, but it'll be interesting to see if Bazel will be able to use these new `.bzl` files.

[2018-07-04 21:28] bansalvinayak opened #5516 "Unable to 'bazel run' a java_binary with a specified JAVA_HOME"
### Description of the problem / feature request:

Unable to 'bazel run' a java_binary with a specified JAVA_HOME

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

 bazel run --host_javabase=:jdk8 --javabase=:jdk8 :hello_world

results in
LAUNCHER ERROR: Rlocation failed on C:/openjdk/bin/java.exe, path doesn't exist in MANIFEST file

[2018-07-04 21:29] bansalvinayak commented on #5516
@laszlocsomor @meteorcloudy

[2018-07-04 22:37] bansalvinayak commented on #5516
Oh, i should add this setup needed an empty WORKSPACE file as well.

[2018-07-05 00:21] steeve commented on #4633
hi @katre, i'm seeing quite a bit of activity on the platforms and was wondering if the split configurations now properly propagate to the `@target_platform` now that `aarch64`, `ios` and `android` are declared there?

[2018-07-05 07:13] meteorcloudy commented on #5516
@bansalvinayak Thanks for reporting! You're right about the bug, I'll fix it soon!

[2018-07-05 07:38] buchgr commented on #5058
@c-parsons please cherry-pick d3228b61f633cdc5b3f740b641a0836f1bd79abd

[2018-07-05 08:05] #5468 closed

[2018-07-05 08:07] mhlopko commented on #5468
@laurentlb FYI: this is now fixed.

[2018-07-05 08:15] #5469 closed

[2018-07-05 08:34] oferb commented on #5468
@mhlopko In which version of Bazel is it fixed?

[2018-07-05 09:04] mhlopko commented on #5468
@oferb only at HEAD. That's why I pinged Laurent, to consider a patch release. But since we're cutting 0.16 soon, maybe it's not needed.

@buchgr (release manager for 0.16) Can you make sure the fix makes it into 0.16?

[2018-07-05 09:21] buchgr commented on #5468
@c-parsons is the release manager for 0.16.0. I suggest you ping the usual release issue.

[2018-07-05 10:39] hsyed commented on #2241
Trying to add windows support to the Kotlin rules ... An executable is not being selected below, instead the deploy jar is primed. What do I need to do ?

single jar is configured as follows:
[code]

It's used in a rule like this :

[code]

I get

[code]

[2018-07-05 12:33] thincal opened #5518 "How to create a tar package with some existed resource files"
Hi,

I am trying to use the `pkg_tar` to achieve this goal, but it seems that the BUILD file is needed for the file specified in the `srcs`.

So is there any simple way to do this very simple thing ?

Thanks,
Song

[2018-07-05 12:40] thincal commented on #5518
From https://docs.bazel.build/versions/master/be/pkg.html#pkg_tar

[code]

Why I can't add some files existed in the directory ? If yes, what's the correct way ?

Thanks very much.

[2018-07-05 13:47] ulfjack opened #5521 "Bazel does not work with Java 10"
Java 9 is already EOL, and Oracle does not provide Java 9 downloads on its public page anymore.

On a OS X machine, Bazel bootstrap fails with:
[code]

[2018-07-05 14:09] thincal commented on #5518
it seems that only the files under the directory of this ` BUILD` file is allowed to added into `srcs`, outside files would be treated as the build target.

[2018-07-05 14:18] laszlocsomor commented on #2241
Looking at `@bazel_tools//tools/jdk:singlejar` on Windows reveals that the filegroup selects a deploy jar:

[code]

On Linux the target is an executable file:
[code]

The explanation is in [`//tools/jdk:BUILD`](https://github.com/bazelbuild/bazel/blob/55d0c1c649d3117f59e3d5d7b79de12d6b090381/tools/jdk/BUILD#L103-L108) -- on Windows, Bazel uses the Java implementation of SingleJar (because of https

[2018-07-05 14:37] laszlocsomor commented on #3678
FYI, https://github.com/bazelbuild/bazel/pull/5520 will make file deletion more robust and be able to delete readonly files (together with a follow-up PR that makes use of the new code).

Those, in combination with some recent commits that make Bazel eagerly close files (https://github.com/bazelbuild/bazel/commit/59f17d6e0550bf63a0b6ef182e2d63474e058ede, https://github.com/bazelbuild/bazel/commit/

[2018-07-05 16:01] mhlopko commented on #5058
Pretty please cherry pick https://github.com/bazelbuild/bazel/commit/8ff87c164f48dbabe3b20becd00dde90c50d46f5 (fix for https://github.com/bazelbuild/bazel/issues/5468)

[2018-07-05 17:37] cushon commented on #5521
Bootstrapping with `./compile.sh` doesn't work with JDK 9 either. The only place a JDK newer than 8 is used currently is as the embedded and default host JDK.

And if you want a JDK 9 for testing you can still download one: http://www.oracle.com/technetwork/java/javase/downloads/java-archive-javase9-3934878.html.

[2018-07-05 18:40] lfpino commented on #5514
Friendly ping @meteorcloudy, I also saw this today: https://buildkite.com/bazel/bazel-with-downstream-projects-bazel/builds/332#ab7730f1-3a14-4351-ae65-1b99b4625e74

[2018-07-05 19:00] aptbosox opened #5522 "The `pkg_rpm` rule does not generate an RPM with the version and release in the file name if the `version_file` or `release_file` args are used"
### Description of the problem:
This `BUILD` file:
[code]
Generates:
[code]

But this `BUILD` file:
[code]
Only generates:
[code]

The resulting RPMs have the correct metadata, so the version file is being used correctly, but the rule is choosing not to generate a file that includes the version.

### Operating System

CentOS 7.3

### Output of `bazel info release`

[code]

### How I installed Baze

[2018-07-05 19:10] jmillikin-stripe commented on #5468
@hectim @mhlopko I don't think this is fixed, the above PR merely changed which linker flag is incorrectly allowed:

[code]

Note that the `cc -Wl,-z,relro,-z,now` generates an error about `-z` only, not mentioning the rest of the flag string.

[2018-07-05 20:05] hsyed commented on #4586
FYI I added this (adapted it from java test class in the repo) just to pick up a local jar that Is colocated with the Kotlin compiler.

https://github.com/bazelbuild/rules_kotlin/blob/windows/kotlin/builder/src/io/bazel/kotlin/builder/utils/BazelUtils.kt

Had to add [this bit of trickery](https://github.com/bazelbuild/rules_kotlin/blob/6e76e73b5b2016adc581a4ce5a9328cef502dfe4/kotlin/builder/src/io

[2018-07-05 20:36] hsyed opened #5523 "java_stub_template.txt as used in `kotlin_rules` does not work on windows."
I shouldn't have tackled the windows issue at this point I thought it would a quick job. Anyhow the embedded classpath variable has not been resolved off the correct `RUNPATH`.

[Here is how the rules expand the template](https://github.com/bazelbuild/rules_kotlin/blob/740b962803b0a128832c4970587cc8d26dc80546/kotlin/internal/utils.bzl#L178-L203)

I copied and adapted the underlying code from the s

[2018-07-05 21:24] bergsieker opened #5524 "Invocation ID should be printed when running with --remote_cache or --remote_executor"
### Description of the problem / feature request:

When running with --bes_backend, the invocation ID is printed to the console. It should also be printed when either --remote_cache or --remote_executor is specified.

### Feature requests: what underlying problem are you trying to solve with this feature?

The invocation ID is passed to the server via RequestMetadata when making RPCs. Depending on

[2018-07-05 22:00] petroseskinder commented on #5469
thanks

[2018-07-06 06:51] dslomov commented on #5057
0.15.0 is done, closing this.

[2018-07-06 06:51] #5057 closed

[2018-07-06 07:31] ittaiz commented on #5468
Any thoughts? Given that downgrading brew is not a fun task this is
becoming somewhat of a sore thumb
On Thu, 5 Jul 2018 at 22:11 jmillikin-stripe <notifications@github.com>
wrote:

[2018-07-06 07:32] meteorcloudy commented on #5514
Thanks, I'll take a look today!

[2018-07-06 08:23] itonydong commented on #2333
I also meet this problem,
and I run the "touch WORKSPACE" command , the problem was resolved.

[2018-07-06 09:15] #5516 closed

[2018-07-06 10:08] #5246 closed

[2018-07-06 11:13] aehlig commented on #5058
Can we please also cherry-pick 10219659f58622d99034288cf9f491865f818218 and ab1f269017171223932e0da9bb539e8a17dd99ed as these commits fix the build on FreeBSD? Thanks.

--
Klaus Aehlig
Google Germany GmbH, Erika-Mann-Str. 33, 80636 Muenchen
Registergericht und -nummer: Hamburg, HRB 86891
Sitz der Gesellschaft: Hamburg
Geschaeftsfuehrer: Paul Terence Manicle, Halimah DeLaine Prado

[2018-07-06 11:52] laurentlb commented on #1394
Now that `bazel run` has been updated and can access stdin, do you still need a new Bazel feature to implement this?

[2018-07-06 12:19] johnynek commented on #1394
@laurentlb I think the new bazel run is enough.

[2018-07-06 12:19] #1394 closed

[2018-07-06 13:39] meteorcloudy commented on #5514
Found a useful error message:
[code]

[2018-07-06 13:50] meteorcloudy commented on #5514
Filed an issue to TF: https://github.com/tensorflow/tensorflow/issues/20592

[2018-07-06 15:18] ocombe opened #5529 "Bazel APT is missing "unzip" as a dependency"
### Description of the problem / feature request:

The instructions on https://docs.bazel.build/versions/master/install-ubuntu.html specify a list of dependencies to install if you install bazel using the binary installer, but no dependencies when you install with the APT repository.
I've found out that this APT package doesn't have `unzip` as a dependency. I installed bazel on windows WSL (ubuntu

[2018-07-06 15:18] dahlstrom-g commented on #1035
+1

[2018-07-06 18:42] cushon commented on #5483
I think all known issues are now fixed. @lfpino can you confirm?

[2018-07-06 19:09] lfpino commented on #5483
They're green now https://buildkite.com/bazel/bazel-with-downstream-projects-bazel/builds/334. Thanks @cushon !

[2018-07-06 19:31] #5483 closed

[2018-07-06 20:42] jmillikin-stripe opened #5531 "`bazel build //src:bazel` fails at HEAD because genrules look for make variables in `srcs` filenames"
### Description of the problem / feature request:

Bazel at head can't be built on my machine because `//src/main/java/com/google/devtools/build/lib:merge_licenses` is a genrule that consumes source files containing dollar signs in their filenames.

This behavior of genrule is not obvious, appears to be undocumented, and makes it very difficult to safely use `genrule` when the `srcs` attribute is

[2018-07-06 20:43] jmillikin-stripe commented on #5468
Bazel at head (with your second commit) works on my machine.

[2018-07-06 21:06] jmillikin-stripe opened #5532 "Bazel built at HEAD can't build Bazel (java.lang.NoClassDefFoundError: javax/annotation/CheckReturnValue)"
### Description of the problem / feature request:

A Bazel binary built at current HEAD (3ac44db0427b7db46b6c39f7dbfab7b5f31f8c37) can't successfully `bazel build //src:bazel`, due to an unhandled exception from error-prone. I'm able to succesfully build Bazel using the 0.15.0 branch.

Since it's complaining about an unknown class, I wonder if `buildjar` is missing a dependency.

[code]

### What

[2018-07-06 21:48] lfpino commented on #5506
Assigning to @lberki for triage.

[2018-07-06 21:51] lfpino commented on #5518
Assigning to @aehlig for triage.

[2018-07-06 21:57] lfpino commented on #5522
Assigning to @katre for triage.

[2018-07-06 21:58] lfpino commented on #5523
Assigning to @iirina for triage.

[2018-07-06 22:00] lfpino commented on #5529
Assigning to @laszlocsomor for triage.

[2018-07-06 22:04] lfpino commented on #5531
Assigning to @lberki for triage.

[2018-07-06 22:06] lfpino commented on #5532
@cushon can you please take a look?

[2018-07-06 22:15] alexeagle opened #5533 "non-existent //tools/defaults:BUILD appears in bazel query buildfiles"
[code]

In the Angular repo:
[code]
but there is no such file.

Even in a empty repository, I can surprisingly
[code]
so it seems there is something special about this path. This seems relevant: https://github.com/bazelbuild/bazel/blob/90e2b4b5e745fe2de9ca82bc8163c198e5be8ca9/src/main/java/com/google/devtools/build/lib/analysis/config/DefaultsPackage.java#L48
but I'm surprised that the synthetic f

[2018-07-06 22:50] jmillikin-stripe commented on #4691
Instead of Powershell, would it be practical to rewrite the wrapper in Java? As noted earlier that adds no additional dependencies, and it solves the problem for remote execution as well.

[2018-07-07 01:37] cushon commented on #5532
I can reproduce this on my mac, and I confirmed that it was introduced by 4c9a0c82d308d5df5c524e2a26644022ff525f3e.

[2018-07-07 01:42] cushon commented on #5532
Also, I can't repro on linux. Is the reduced mac JDK supposed to be different than the linux one?

[2018-07-07 01:55] ttsugriy opened #5534 "Skylint crashes on augmented assignments to IndexExpression."
### Description of the problem / feature request:

[code]

### Feature requests: what underlying problem are you trying to solve with this feature?

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[2018-07-07 02:59] dahlstrom-g commented on #4254
Incidentally maybe you can find it this way:
[code]

[2018-07-08 01:43] sonicviz commented on #3803
I'm getting the same error. Is there a solution to this?

[2018-07-08 13:45] ugoren opened #5541 "Virtual include folder not cleaned after BUILD file change, leading to failure"
### Description of the problem / feature request:

A binary depends on two libraries, both export the same header. The header is included from the first, and the code compiles.
If I delete if from the first, I'd expect it to be included from the second, leading to successful compilation. But the header is not deleted from the first library's virtual include folder, and is included from there. This

[2018-07-08 18:42] ttsugriy opened #5542 "struct.to_json does not allow dicts."
### Description of the problem / feature request:

[code]
is encountered.

### Feature requests: what underlying problem are you trying to solve with this feature?

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[code]
and observe:
[code]

[2018-07-09 03:11] xlrong opened #5544 "ERROR: D:/tensorflow-master/tensorflow/core/platform/default/build_config/BUILD: 153:1:no such package '@png_archive//"
### Description of the problem / feature request:
When I try to use bazel to build: bazel build tensorflow/python/tools:freeze_graph in windows

My bazel version was: bazel-0.15.0-windows-x86_64.exe
I got below error:

ERROR: D:/tensorflow-master/tensorflow/core/platform/default/build_config/BUILD:
153:1: no such package '@png_archive//': Traceback (most recent call last):
        File "D:/tensorf

[2018-07-09 05:08] nglevin opened #5545 "wrapped_clang needs debug_prefix_map_pwd_is_dot for debug-prefix-map support on Mac/iOS"
### Description of the problem / feature request:

Bazel needs the debug_prefix_map_pwd_is_dot feature to be in its wrapped_clang, just as it is for internal purposes, for --fdebug-prefix-map to work as intended and provide portable debug information for Mac builds.

The flag is used by Tulsi here; https://github.com/bazelbuild/tulsi/blob/65ad66f77f9377db47be6894efab7f60292f0fcd/src/TulsiGenerator

[2018-07-09 05:17] ittaiz commented on #2765
@philwo any thoughts?

[2018-07-09 05:18] jin commented on #5544
Hi @xlrong, it looks like you're asking a question about Tensorflow's build. Please ask the question on StackOverflow [0] or the Tensorflow repository instead [1].

[0]: https://stackoverflow.com/questions/tagged/bazel
[1]: https://github.com/tensorflow/tensorflow/issues

[2018-07-09 05:18] #5544 closed

[2018-07-09 05:44] jin opened #5546 "Bazel postsubmit is broken at HEAD"
https://buildkite.com/bazel/bazel-bazel/builds/3284

//src/test/shell/integration:process_wrapper_test is failing on macOS

[code]

[2018-07-09 05:44] jin commented on #5546
cc @laurentlb @lberki

[2018-07-09 05:46] jin commented on #5546
Mailed a rollback to @lberki

[2018-07-09 07:33] laszlocsomor commented on #5529
@aehlig I suppose is more of domain expert than me

[2018-07-09 07:33] Globegitter commented on #1083
Some progress on this, with a `local_repository` setup in the main WORKSPACE file this can be worked around so that now I can now run `bazel build //...` which excludes the experimental folder and run `bazel build @experimental//...`. But it is a bit cumbersome, as macros shared between the two repos now need `@//` in front and packages within the experimental folder need to start with `//path/..`

[2018-07-09 07:55] #5513 closed

[2018-07-09 08:22] lberki commented on #5531
The fact that source files with dollar signs in their names have this effect is unfortunate, but where does the the file you mention come from? `third_party/java/jopt-simple` does not have a subdirectory called `target` at HEAD and the last change to that directory was in 2017 December.

[2018-07-09 08:29] aehlig commented on #5518
I'm not sure, how the documentation can be improved to be easier to understand (besides the obvious https://bazel-review.googlesource.com/c/bazel/+/64731). Please reopen with suggestions.

[2018-07-09 08:29] #5518 closed

[2018-07-09 09:15] aehlig commented on #5438
Note that with `--repository_cache` now enabled by default, files with specified hash are no longer refetched from the network. So, while more flexibility with respect to caching might be desirable, and re-unpacking might not be ideal, that issue is low priority.

[2018-07-09 09:46] lberki commented on #2765
That's one tough question. We should definitely not make *all* execution strategies part of the action key because that would make some interesting use cases (e.g. do full build remotely to benefit from increased parallelism, then incremental builds locally to benefit from shorter round-trip times on the critical path)  impossible.

On balance, I'd rather we don't add the knob of "are these two ex

[2018-07-09 11:17] buchgr commented on #5532
I am taking a look. I built the JDK containing all modules listed ./full-jdk/bin/java --list-modules on all platforms. The class `javax.annotation.CheckReturnValue` does not appear to be part of the JDK. Also, everything seems to be working on CI. Is it possible that we don't test with embedded JDK?

[2018-07-09 11:33] ittaiz commented on #2765
I see (and agree).
On the other hand I think that maybe defining some strategies as “less
safe” might be the wise choice. Or allowing users to decide which
strategies are “less safe”.
We hit this a lot with tests which pass without sandboxing but fail in
sandboxing
On Mon, 9 Jul 2018 at 12:46 lberki <notifications@github.com> wrote:

[2018-07-09 11:50] laszlocsomor commented on #5433
Though I could not repro the issue, I hope https://github.com/bazelbuild/bazel/commit/c2b70f1e28b8fbc002efbac16d555f941c7d59a3 fixes it.

If you see it again, please reopen.

[2018-07-09 12:12] mrkkrp commented on #5506
Well, we allow our users to build REPLs which are shell scripts. These shell scripts are run with `--direct_run` from root of workspace and they need to know locations of various things that were built (shared libraries, etc.). So how to infer where to find those things?

[2018-07-09 12:51] #5529 closed

[2018-07-09 13:43] buchgr commented on #5532
The class seems to be part of the jsr305 third party dependency and it also exists in there.

[2018-07-09 13:46] buchgr commented on #5058
Release blocker: https://github.com/bazelbuild/bazel/issues/5532

[2018-07-09 13:57] hsyed commented on #4798
Could have a simple `maven_jar` implementation that doesn't use  the repository cache for source jars. The change of behaviour has really affected us. The kotlin rules are no longer compatible with 0.11.   We have a lot of external deps too many to maintain by hand or use `java_import_external`. Our repo uses `bazel-deps` which is gradually getting support for source jars but updating to it is a s

[2018-07-09 14:17] katre commented on #4633
Sadly, this is still not working properly. There's a lot of moving pieces, and the Apple/iOS rules sit on the top of the stack. The good news is that the C++ rules are mostly moved over to use toolchain resolution, which means next we can tackle the objc rules (and this should be simpler), and then the Apple/iOS rules themselves.

[2018-07-09 14:24] katre commented on #5522
I'll need to review, but I don't think this is actually possible. The pkg_rpm rule does not have access to file contents during the analysis phase, when the rule implementation is executed. Because of this, it cannot declare an output whose name is based on the contents of the file.

Do we need better documentation of this limitation in the pkg_rpm docs?

[2018-07-09 14:41] jin commented on #5546
Seems to have resolved.

[2018-07-09 14:41] #5546 closed

[2018-07-09 15:45] robinp commented on #3320
I noticed that when compiling protobuf, the env vars specified by `--action_env` are missing. In my case, I need special ENV for gcc to pick up locations of some libs (here zlib).

Failure message:
[code]

Dependency chain:
[code]
Is there a way to circumvent this?

[2018-07-09 15:55] edwardmjm opened #5552 "Request repository level option "strip_include_prefix" option in cc_library and cc_binary."
### Description of the problem / feature request:

Request repository level option "strip_include_prefix" option in cc_library and cc_binary.

### Feature requests: what underlying problem are you trying to solve with this feature?

I have a codebase with the following files:
`cpp/featureA/A.hpp`
`cpp/featureA/A.cpp`
`cpp/featureA/BUILD`
`cpp/featureB/B.hpp`
`cpp/featureB/B.cpp`
`cpp/featureB/BUIL

[2018-07-09 16:03] aptbosox commented on #5522
Gotcha, that makes sense. Better documentation for the rule would certainly help since it currently conveys the `version` and `version_file` attributes as essentially being equivalent. Thanks for looking into it.

[2018-07-09 16:05] katre commented on #5522
I'll take a look at the docs and see what can be done.

[2018-07-09 16:34] jmillikin-stripe commented on #5531
Hmm, that's a good question. I'd assumed those were coming from one of the Java build rules (I'm not very familiar with Java), but it looks like they're actually present on the filesystem.

If I delete them then `git status` doesn't change, and if I leave things alone for a while they come back (!!). These files must be coming from something local to my machine (maybe VS Code?).

Sorry for the noi

[2018-07-09 16:36] cgoy-nvidia commented on #5438
Hey @aehlig,
Thanks for the response.  Which version is `--repository_cache` enabled by default?  Looking at the docs for this configuration does not give me a hint as to which version this has been flipped on.
Cheers,
Chris

[2018-07-09 16:56] lberki commented on #5531
Sigh. I wish I could say that it's a new thing, but it's a known issue without a resolution in sight :( So I'll close this as WAI.

[2018-07-09 16:56] #5531 closed

[2018-07-09 17:34] mmorearty commented on #4757
We (Asana) have open-sourced our Bazel S3 cache which has this background-upload behavior: https://github.com/Asana/bazels3cache

[2018-07-09 17:42] cushon commented on #4549
This is supported with [JavaInfo.compile_jars](https://docs.bazel.build/versions/master/skylark/lib/JavaInfo.html#compile_jars). Note that `java_common.create_provider` is deprecated.

[2018-07-09 17:49] cushon commented on #5532
The tests build `//src:bazel` with a previous release (e.g. `0.15.0-homebrew`), and then run the tests against the output of `//src:bazel` without overriding `--host_javabase`, so it's using the embedded JDK. Apparently there aren't any tests that build Bazel at head with itself, though.

[2018-07-09 17:51] buchgr commented on #5532
@cushon we have a bazel determinism test that *for reasons* has been disabled on macOS. I ll enable it again on our postsubmit pipeline once my fix is in.

[2018-07-09 18:21] #5532 closed

[2018-07-09 18:52] kerrick-lyft commented on #2927
I'm hitting this issue trying to use an external Buildroot repository. Is it possible to fix Bazel so that it can handle self-referencing symlinks (e.g. foo/bar/baz points to foo)?

[2018-07-09 19:35] talya commented on #5206
Thanks, the comment in the referenced code is quite detailed:)

[2018-07-09 21:14] jin commented on #5472
@cjhopman We just launched an index for the documents: https://github.com/bazelbuild/proposals

[2018-07-09 21:14] #5472 closed

[2018-07-09 21:49] c-parsons commented on #5058
rc3 has been cherrypicked with: d3228b61f633cdc5b3f740b641a0836f1bd79abd, 8ff87c164f48dbabe3b20becd00dde90c50d46f5, c4622ac9205d2f1b42dac8c598e83113d39e7f11, 10219659f58622d99034288cf9f491865f818218, ab1f269017171223932e0da9bb539e8a17dd99ed, 68e92b45a37f2142c768a56eb7ecfa484b8b22df

[2018-07-09 21:51] BenTheElder commented on #5047
Yeah, still seeing this with `--remote_max_connections=200` on 0.15

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/46662/pull-kubernetes-bazel-test-canary/221/

Pod logs including the bazelrc settings auto-configured for caching: [bazel-test-canary-podlog.txt](https://github.com/bazelbuild/bazel/files/2178116/baze-test-canary-podlog.txt)

[2018-07-09 21:56] danielcompton opened #5557 "xcode-locator chooses Xcode on cloned drive over boot drive"
### Description of the problem

I think there are two compounding issues here:

1. xcode-locator chooses an Xcode on my cloned backup drive (`Macintosh SSD`) over my primary boot drive (`MacintoshNVME`).
2. Additionally, it does so without quoting the spaces in the drive name, so the clang build fails.

<pre>
bazel clean; and bazel build ratelimit --verbose_failures --sandbox_debug
...
  (cd /priv

[2018-07-09 23:55] jin commented on #5150
Now available in buildtools 28.0.1

[2018-07-10 02:22] alexeagle commented on #4460
FYI, on my Windows machine the `grep` and `cut` dependencies in the runfiles.bash initializer block don't work. In cmd.exe and cmder.exe I get a version mismatch on a cygwin1.dll, in PowerShell grep and cut aren't found.
Does this feature require new installation instructions on Windows?

[2018-07-10 02:31] UnaPlugin commented on #186
There are some **LD_FLAGS** automatically added in the final compiling. Just like ```-lm``` or ```-lz```. I'm now hitting a problem of the flag ```-lpthread```. From somewhere, I see people say it should be written as ```-pthread```, not ```-lpthread```.
Do you know which file defines the ```LD_FLAGS``` in final gcc compiling of bazel?

[2018-07-10 07:29] laszlocsomor commented on #4460
Thanks for reporting that! How do you run the binary -- directly from bazel-bin, using "bazel run", or as part of another rule (e.g. genrule)?

[2018-07-10 07:52] drigz commented on #4395
@buchgr This was with 0.12.0. We've since upgraded our CI job to 0.15.0; I'll comment here if we see it again.

[2018-07-10 09:34] dbabkin commented on #5533
Hello,

Do not see any bugs there.
This is intended behavior.

[2018-07-10 09:34] #5533 closed

[2018-07-10 09:51] laszlocsomor commented on #4460
Meanwhile I ran into the same problem. @meteorcloudy knows how to fix it -- we just need to use `bash -l` in the sh_binary's launcher.

[2018-07-10 09:59] steeve commented on #5031
hey @mhlopko did you get a chance to look into it? thanks!

[2018-07-10 11:17] mhlopko commented on #5468
Thanks so much!

[2018-07-10 11:29] mhlopko commented on #5031
I'm soorry, not yet. I hope July will be better.

[2018-07-10 11:35] lberki commented on #5506
`--direct_run` (which is the default and only option now) runs your binaries in their runfiles directory and if they need something, they should declare a data dependency on them, and then the needed files will be in the runfiles directory.

The cwd where you ran Bazel and the workspace root are available as `$BUILD_WORKING_DIRECTORY` and `$BUILD_WORKSPACE_DIRECTORY`, respectively.

[2018-07-10 12:11] mhlopko commented on #1035
@buchgr

[2018-07-10 14:47] sergiocampama opened #5565 "Upload test logs (txt and xml) as part of BES"
### Description of the problem / feature request:

Currently the BES stream (i.e. `--bes_backend`) uploads build event information. For tests in particular, it will send the status of the test, how long it took to run, and `file://` references to the test logs (txt and xml).

It would be great if bazel could somehow upload the contents of those files and provide an identifier instead of the `file:

[2018-07-10 15:01] #5522 closed

[2018-07-10 16:00] mrkkrp commented on #5506
That's useful information, thanks! Perhaps we indeed can refactor that code now that we have `--direct_run`.

[2018-07-10 18:01] ittaiz commented on #2765
Two usecases:
1. I run a test and it fails, I suspect it's related to sandboxing so I run it as standalone and it indeed passes. I now try to re-run it in sandbox to try and better triage the error but now it passes.

2. I run a build of a library which fails, I suspect maybe I have an undeclared dependency (@aehlig mentioned compiler?), I run it as standalone and it indeed passes. I now try to re

[2018-07-10 19:06] talya commented on #2765
usecase 1 is indeed what brought us to this thread in the first-place.

@philwo - re "we assume that all execution strategies yield the same results" - imo in the case of sandbox vs standalone strategies this does not always hold.

@ittaiz  - A flag which will not write to the local cache for this specific run could be nice, but it could also be easy to forget to add it. and if you ARE paying atte

[2018-07-10 19:48] buchgr commented on #5047
Ben,

can you point me to instructions for reproducing this? That is, which project to checkout and which targets to run. I ll try to understand what's happening tomorrow.

[2018-07-10 20:08] buchgr commented on #5565
Hey Sergio, absolutely and I have a change in flight (cl/203799354, https://bazel-review.googlesource.com/c/bazel/+/64990) for this.

[2018-07-10 20:17] buchgr opened #5566 "--experimental_guard_against_concurrent_changes is fragile."
On Buildkite we are always seeing warnings like the below:

[code]

[2018-07-11 00:36] thomasyoung opened #5567 "For files from external repo, pkg_tar is creating archive containing paths starting with `./../`"
### Description of the problem / feature request:
With following BUILD file:
[code]

The content of generated archive looks like:
[code]
De-compressing such archive would produce error like:
[code]

### Feature requests: what underlying problem are you trying to solve with this feature?

Make it possible to de-compressing archive generated from pkg_tar properly.

### Bugs: what's the simplest, eas

[2018-07-11 03:44] dapirian commented on #1491
This is _still_ really important, 2 years later. There needs to be a standard way to version bazel itself, like this proposes.

[2018-07-11 04:43] ittaiz opened #5568 "[FR] Repository cache / Http Downloader should support symlinks to content and not solely copying them"
### Description of the problem / feature request:

Repository cache / Http Downloader should support symlinks to content and not solely copying them

### Feature requests: what underlying problem are you trying to solve with this feature?

I'm trying to minimize the disk space external dependencies take when you have many bazel projects with a lot of common dependencies.

Currently repository_cach

[2018-07-11 06:28] Globegitter opened #5570 "Automatic args passing on bazel run causes issues with rules_docker"
### Description of the problem / feature request:

rules_docker has an `args` parameter on most rules to allow setting the args of the binary run in the container on its entrypoint. This works all fine when building the container and running it manually e.g. via `docker run`. But when the container is run via `bazel run` the arguments are passed in twice, as bazel automatically passes down any aru

[2018-07-11 10:28] ash2k commented on #5355
I'd like to extend this feature request to also include the `executable` parameter. It is supported by `label` attribute type but not by `label_keyed_string_dict` and `label_list`. They all support `providers` and `cfg` but `executable` is missing.

I tried to use [`FilesToRunProvider`](https://docs.bazel.build/versions/master/skylark/lib/FilesToRunProvider.html) in the `providers` parameter (thin

[2018-07-11 12:34] #5534 closed

[2018-07-11 12:58] ittaiz commented on #5468
any idea when 0.16.0 will be released? We have users constantly hitting this so maybe a patch release would help

[2018-07-11 13:04] laszlocsomor commented on #4691
@jmillikin-stripe : Which problem of remote execution do you mean, and how does using Java solve it? If we used Java, Bazel would need a JDK on the remote machine.

[2018-07-11 14:03] johnynek commented on #5468
+1 we’d love a patch release. 0.16 is great but there is not guarantee I won’t also have as yet undiscovered issues.

Seems this is exactly what patch releases are for.

[2018-07-11 14:04] buchgr commented on #5468
cc @laurentlb

[2018-07-11 14:04] dslomov commented on #5468
+1 to patch release

[2018-07-11 14:42] ianoc-stripe opened #5572 "distinct host configuration doesn't work for Java targets anymore"
### Description of the problem / feature request:

Since the 0.16.0rc's it looks like the distinct_host_configuration=false flag is broken

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Enable the flag and no java targets will compile

### What operating system are you running Bazel on?

Both os x and linux fail

### What's the out

[2018-07-11 14:46] iirina commented on #5426
@cushon I'm a bit puzzled by what happens here, do you have any idea what is causing this error?

[2018-07-11 14:55] ianoc-stripe commented on #5572
On this PR there are even errors in the task before i enabled this flag, so there seems to be wider issues here with the JDK change

[2018-07-11 15:34] iirina commented on #5331
To add more context: `sh_test` currently doesn't have coverage support but it can be easily added. In order for it to work you would need to declare the binary as a dependency of the test, either as `srcs`, `deps` or `data`. The binary should also be the output of a Java rule.

[2018-07-11 16:22] jmillikin-stripe commented on #4691
The remote execution protocol doesn't copy binaries Bazel executes unless they're registered with Bazel as a tool. Since `perl` is being executed with a simple `$PATH` lookup, Bazel won't copy it to the worker and the command would fail with `perl: not found`.

If the wrapper was written as a `java_binary` or `cc_binary` and built on demand, Bazel would properly copy it to the remote worker. I ass

[2018-07-11 16:28] dhalperi commented on #5331
@iirina The links to the actual code are in the initial issue message and bazel-discuss thread. To re-summarize, and provide links to current implementation:

There's a `java_binary` called `allinone_main`, which has a `java_library` called `allinone` as a runtime dependency [link to BUILD](https://github.com/batfish/batfish/blob/a9e38b61aa3bc9d0064ae0f8031a0d06e55b4e6b/projects/allinone/BUILD#L5-

[2018-07-11 16:30] dhalperi commented on #5331
The current output of `bazel coverage --jobs=1 //...`:

[code]

[2018-07-11 18:33] deadmoose commented on #5452
This got back burnered for a bit since I didn't have the cycles to run from head to try `jvm_maven_import_external`, but since 0.15 shipped with it, I gave it a whirl yesterday.

First impressions are great; it was nice & speedy and no longer brought my computer to its knees.

Only concern now is skimming things, it doesn't look like there's anything in there for handling authentication to private

[2018-07-11 19:40] #5217 closed

[2018-07-11 19:52] buchgr commented on #5521
or from Azul :-) https://www.azul.com/downloads/zulu/zulu-mac/

[2018-07-11 20:15] tnarg opened #5573 "Changes in workspace_status output do not invalidate cached artifacts which take ctx.version_file as input"
### Description of the problem / feature request:

Changes to the output of `workspace_status_command` do not invalidate cached outputs which specify `ctx.version_file` as an input.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

To illustrate the issue I've created a small demonstration git repository, [test_volatile_status](https:

[2018-07-11 20:19] buchgr commented on #5488
I have a change pending to update the docs.

[2018-07-11 20:34] gregestren opened #5574 "Skylark support for custom configuration transitions"
Part of the [Skylark build configuration](https://docs.google.com/document/d/1vc8v-kXjvgZOdQdnxPTaV0rrLxtP2XwnD2tAZlYJOqw/edit#heading=h.pn8nbhno42p5) project.

This is a tracking issue for the ability of Skylark writers to trigger *configuration transitions*, which essentially means having a dependency use different flags than its parent. One common example is building a dep with a different `--c

[2018-07-11 20:42] gregestren opened #5575 "Skylark support for multi-arch ("fat") binaries"
Part of the [Skylark build configuration](https://docs.google.com/document/d/1vc8v-kXjvgZOdQdnxPTaV0rrLxtP2XwnD2tAZlYJOqw/edit#heading=h.pn8nbhno42p5) project.

This is a tracking issue for the ability of Skylark writers to design [fat binaries](https://en.wikipedia.org/wiki/Fat_binary), such as fat Android APKs.

This will eventually replace ad hoc flags like [`--fat_apk_cpu`](https://docs.bazel.

[2018-07-11 20:46] gregestren opened #5577 "Skylark support for custom build flags"
Part of the [Skylark build configuration](https://docs.google.com/document/d/1vc8v-kXjvgZOdQdnxPTaV0rrLxtP2XwnD2tAZlYJOqw/edit#heading=h.pn8nbhno42p5) project.

This is a tracking issue for the ability of Skylark writers to define custom command line flags to configure build properties.

For example:

    $ bazel build //my:binary --some_feature_specific_to_my_app=fancy_mode

This complements the

[2018-07-11 20:49] #5488 closed

[2018-07-11 20:55] gregestren opened #5578 "Configuration doesn't block native -> Skylark rules migration"
Part of the [Skylark build configuration](https://docs.google.com/document/d/1vc8v-kXjvgZOdQdnxPTaV0rrLxtP2XwnD2tAZlYJOqw/edit#heading=h.pn8nbhno42p5) project.

This is a tracking issue supporting the effort to re-implement all native Bazel rules (i.e. rules defined directly in the Bazel binary) in Skylark. This issue is considered closed when configuration no longer blocks that effort. That speci

[2018-07-11 21:06] jin commented on #5575
/sub

[2018-07-11 21:28] gregestren opened #5579 "Support fast incremental reruns on --test_timeout, etc. changes"
Normally, changing any command line flag invalidates the build graph, meaning Bazel's analysis phase has to rebuild the graph from scratch.

There's good reason for this. But it's silly when changing flags like `--test_timeout`, `--test_filter`, etc. Those flags are known to *only* affect tests. So while the tests themselves may need to be re-analyzed, none of their transitive dependencies (which

[2018-07-12 00:48] alexeagle commented on #4460
Would you like a separate issue to track that? Or maybe re-open this one?

On Wed, Jul 11, 2018 at 5:28 AM Yun Peng <notifications@github.com> wrote:

[2018-07-12 03:15] g-easy opened #5580 "Unable to select on "llvm" compiler"
### Description of the problem / feature request:

Unable to use `select()` to get different outcomes for gcc vs clang.

### Feature requests: what underlying problem are you trying to solve with this feature?

I'd like to compile with `-Werror=thread-safety` when the compiler is clang (gcc doesn't recognize this flag)

More generally, I'd like to know when the compiler is clang so I can `select()

[2018-07-12 03:18] pcj opened #5581 "NPE while parsing sass_binary rule"
Attempting to use a `sass_binary()` rule, observing this error with 0.14.1, 0.15.0:

Minimal repo example (for me) is the presence of any `sass_binary` rule in a BUILD file where the rule is missing the mandatory argument `src`:

[code]

[code]

I tried to trace it back manually to see where the "rule" attribute map could be null, didn't think it could be.  Maybe it's something about sass_binary i

[2018-07-12 03:43] g-easy commented on #5580
cc @mhlopko

[2018-07-12 09:13] laszlocsomor commented on #4691
True, `perl` is an undeclared dependency. There's a bug for that (https://github.com/bazelbuild/bazel/issues/5265) but I'm currently not working. Since nobody else updated the bug, I guess nobody is working on it at the moment.

Indeed a `*_binary` rule is advantageous because Bazel recompiles it from source, but it also requires a (cross)compiler for the execution platform.

As for C++, @ulfjack

[2018-07-12 09:16] laszlocsomor commented on #4691
I [earlier wrote](https://github.com/bazelbuild/bazel/issues/4691#issuecomment-402171436) that https://github.com/bazelbuild/bazel/issues/5508 was a _related_ bug, but I now think it subsumes _this_ bug. Maybe we should merge the two. @jmillikin-stripe , @ahippler , what do you think?

[2018-07-12 09:29] iirina commented on #5331
Thank you for the additional information, it was very helpful! I have a fix in progress, should be out soon.

[2018-07-12 12:50] hsyed opened #5583 "`@bazel_tools//tools/build_defs/repo:http.bzl` debug messages."
Passing in a `build_file_contents` causes a debug message from `http_archive` (line 48).  This is used in the Kotlin rules. Is this line still meant to be in there ?

[2018-07-12 12:56] dkelmer commented on #5583
What is the debug message you're seeing?

[2018-07-12 13:54] edbaunton commented on #5583
It would be useful to report which version of bazel you're using but the debug messages you refer to should be fixed in https://github.com/bazelbuild/bazel/commit/eed98a66405ff70c69d435a9419c3dc4ae7c184a

[2018-07-12 15:31] hsyed commented on #5583
Aah yes. I'm on 0.14.1 at the moment. Thanks !

[2018-07-12 15:31] #5583 closed

[2018-07-12 16:16] jin opened #5584 "Inconsistent behavior with variables in query"
### Description of the problem / feature request:

When using `bazel query` with variables, I'm getting a seemingly inconsistent behavior.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

[code]

I expected the free variable `$desugar_label` in the `attr(..)` call to be replaced with `//tools/android:desugar.sh`, therefore getting th

[2018-07-12 16:22] jin commented on #5584
Ah, if we have the following syntax:

```let var = expr1 in expr2```

Does `query` replace all occurrences of `$var` in `expr2` with `expr1` without first eagerly evaluating `expr1`?

[2018-07-12 16:30] alexeagle commented on #5153
As an experiment, we tried including the full set of node_modules in Angular's build, rather than hand-pruning it as we do today.

`bazel query 'deps(:node_modules)' | wc -l`   goes from 4504 to 45377
The build time on CI increases build/test time from ~22m to ~80m

We probably need some help to isolate where the time is being spent.

[2018-07-12 16:46] ianoc commented on #5058
https://github.com/bazelbuild/bazel/issues/5572 is likely i think a release blocker too

[2018-07-12 17:46] EricBurnett commented on #5153
Alex, are you saying that the full set of dependencies in your build is 45k files, or that every single action is taking all 45k files as input? If for every action a symlink or hardlink tree of 45k inputs is being generated I would fully expect that to push out your build time: that's not a fast enough operation at that scale. An optimized C++ binary would presumably do better, but just as a roug

[2018-07-12 18:12] edwardmjm commented on #5552
Can be implemented by add `-Icpp` and `-I$(GENDIR)cpp` to all `cc_library` and `cc_binary`. So it is unnecessary. Close this issue.

[2018-07-12 18:12] #5552 closed

[2018-07-12 18:19] alexeagle commented on #5153
This is an intentional design tradeoff in rules_nodejs. In the current nodejs ecosystem, every invocation of `node` has access to all of the dependencies. Under Bazel, we could tend to the Bazel idiom, requiring every target to declare dependencies on individual nodejs packages that it expects to require, but this would make Bazel usage more onerous. We instead took the "meet users where they are"

[2018-07-12 18:43] deadmoose commented on #5153
For those of us following along from the outside world, resolve the go link, please.

[2018-07-12 19:02] alexeagle commented on #5153
The doc is google-internal but I summarized it on https://github.com/pubref/rules_node/issues/19

[2018-07-12 20:30] jin opened #5585 "Support NDK r18"
Expected release date: [September 2018](https://github.com/android-ndk/ndk/wiki#ndk-r18)

Beta 1 should be out later this month.

Roadmap: https://android.googlesource.com/platform/ndk/+/master/docs/Roadmap.md

Expected changes to Bazel:

- Remove support for non-`libc++` STLs

- Remove support for GCC

[2018-07-12 20:57] dkelmer commented on #3493
Duplicate of #3115

[2018-07-12 20:57] #3493 closed

[2018-07-12 21:55] ixdy commented on #4888
The `--deleted_packages` flag doesn't work for kubernetes' use case currently.

As @BenTheElder notes, our make-based build system creates an infinite symlink to ensure it has a valid gopath, `_output/local/go/src/k8s.io/kubernetes -> [workspace root]`.

`bazel build -- //... -//vendor/...` complains about this symlink chain, and `--deleted_packages` doesn't seem to help here, as it fails on the i

[2018-07-13 00:08] brian-peloton commented on #5400
Any progress on this?

[2018-07-13 02:06] jmillikin-stripe commented on #4691
Maybe I'm misunderstanding how modern Java works, but can't you just compile a standalone `.jar` file that depends on only the standard library? The one-line Perl expression doesn't seem like something that would need a full CLASSPATH wrapper script to deal with. I know several of the java_binary targets I've used for helpers don't have any sort of special wrappers around them, just `java -jar pat

[2018-07-13 02:34] chpatton013 commented on #808
Any update on this? There are an enormous number of python packages in the wild that use relative imports. It would be really nice to be able to use those packages without making source code modifications.

[2018-07-13 04:54] wking opened #5588 "Support other output modes than 0555"
### Description of the problem / feature request:

When building tarballs with [`pkg_tar`][1], the *output* tarball has a 0555 mode.  But tarballs are generally not going to be executable.  I think the default mode should be 0666 or, if you want to be very conservative 0444.  In both those cases, it would be nice to respect the user's umask, as long as it did not interfere with reproducible builds

[2018-07-13 05:03] perezd commented on #3701
Any update here? How does one produce proto genfiles that can use the proto provider?

[2018-07-13 06:22] benjaminp opened #5589 "add an option to disable the idle GC"
If a Bazel server is idle for 10 seconds after finishing a command, it will invoke `System.gc()`. On HotSpot, `System.gc()` triggers an aggressive full GC. In practice, I see `System.gc()` in a Bazel server with a 2GB heap fully consume 4 cores for several seconds. This behavior is problematic for workflows that involve building a binary and then immediately running it; if the binary itself is res

[2018-07-13 06:53] laszlocsomor commented on #4691
I agree, replacing that single Perl call shouldn't be hard with Java. The whole time I was thinking about replacing the entire test-setup.sh with a Java program.

[2018-07-13 06:56] dslomov commented on #5589
@meisterT for triage since this is perf related. I do agree that "every 10 seconds full gc" is not awesome.

[2018-07-13 08:11] laszlocsomor commented on #5433
Unfortunately this is still not fixed. An internal team still reports similar errors from their CI.

[2018-07-13 08:42] lberki commented on #5584
This is WAI, although the documentation could probably use some beefing up.

The reason is that the second argument of `attr` is not a label, but just a string, and `let` only knows how to assign set of targets to a variable. Thus (I haven't looked closely) you are either comparing a set of targets to a string or the variables just doesn't get substituted at all.

[2018-07-13 08:42] #5584 closed

[2018-07-13 11:57] laszlocsomor commented on #4691
@nlopezgi @ola-rozenfeld Could you confirm that a JRE is always available on remote execution machines, and if so, under which path would [`test-setup.sh`](https://github.com/bazelbuild/bazel/blob/master/tools/test/test-setup.sh) find it?

[2018-07-13 13:54] laurentlb opened #5591 "Release - June 2018 - name: 0.15.1"
Path release on top of release 0.15.0 (https://github.com/bazelbuild/bazel/issues/5057)

[2018-07-13 13:55] laurentlb commented on #5468
See https://github.com/bazelbuild/bazel/issues/5591

[2018-07-13 13:56] laurentlb commented on #5591
Need to cherry-pick 8ff87c164f48dbabe3b20becd00dde90c50d46f5 (to fix https://github.com/bazelbuild/bazel/issues/5468)

Anything else?

[2018-07-13 14:03] ittaiz commented on #5591
Weren’t they two commits to fix 5468?
On Fri, 13 Jul 2018 at 16:56 Laurent Le Brun <notifications@github.com>
wrote:

[2018-07-13 14:20] petroseskinder opened #5592 "Stale documentation for "--show_package_location""
At least as early as Bazel 0.14.0, this flag has been deprecated. When I attempt to execute

[code]
Bazel outputs
[code]
The docs do not indicate that 1) the flag is being deprecated, and 2) what the replacement is for identifying a package location.

Here are specific portions of doc, I have seen this
* [Options that affect how packages are located](https://docs.bazel.build/versions/master/user-m

[2018-07-13 14:32] mhlopko commented on #5591
Yes pleease, https://github.com/bazelbuild/bazel/commit/539cdca24c65e6b93503ffdce940bbb0ee236232 and https://github.com/bazelbuild/bazel/commit/c25f7c83fc3c327df3a2e6a305fdb7ba19788737 for #5468

[2018-07-13 14:34] mhlopko commented on #5591
Sorry those are from the 0.16 release branch.

https://github.com/bazelbuild/bazel/commit/8ff87c164f48dbabe3b20becd00dde90c50d46f5 and
https://github.com/bazelbuild/bazel/commit/c4622ac9205d2f1b42dac8c598e83113d39e7f11 from the master branch.

[2018-07-13 15:58] buchgr commented on #5591
please cherry-pick d3228b61f633cdc5b3f740b641a0836f1bd79abd

[2018-07-13 16:05] buchgr commented on #5589
I think we should delete this code. I have yet to see a benchmark showing that the application logic choosing to do a GC results in better performance than the JVM triggering the GC itself.

[2018-07-13 16:46] laurentlb commented on #5591
Cherry-picked the 3 commits mentioned above.
https://releases.bazel.build/0.15.1/rc1/index.html

[2018-07-13 17:14] iabraham commented on #5591
Any timeline on when the patch to fix #5468 will make it to Homebrew?

[2018-07-13 17:50] jin commented on #5584
Thanks for the explanation!

[2018-07-13 17:52] jin commented on #5584
Looks like I was under the impression that `$desugar_label` would be evaluated by query before calling `attr` with it, but that's not the case and it's just inlining the value `tools/android/desugar.sh`.

[2018-07-13 18:18] inakaaay opened #5593 "The target you are compiling requires Visual C++ build tools. Bazel couldn't find a valid Visual C++ build tools installation on your machine."
### Description of the problem / feature request:

`bazel run -c opt tensorflow/contrib/lite/toco:toco -- --savedmodel_directory=/saved_model/saved_model -- output_file=/saved_model/maonani.tflite` i get an error saying that

`INFO: Analysed target //tensorflow/contrib/lite/toco:toco (0 packages loaded).`
`INFO: Found 1 target...`
`ERROR: C:/users/lenovo-pc/_bazel_lenovo-pc/buizwhxs/external/proto

[2018-07-13 19:15] brian-peloton opened #5594 "Only use JAVA_HOME/@local_jdk as the default --javabase"
### Description of the problem / feature request:

Since 849df36c5ad31ebe8791c4228321c38c6d0ae56c, bazel will always pick up a JDK from `which javac` or $JAVA_HOME in preference to an embedded one for `@local_jdk//`. I want to always use the embedded one instead. A startup option to do this would be fine.

### Feature requests: what underlying problem are you trying to solve with this feature?

I

[2018-07-14 01:20] orioli commented on #3020
same issue here when running on 800MB ram

[2018-07-14 02:14] petroseskinder commented on #4888
Hey,
@dslomov I have another use case that might inform how to design a solution.

At my company, we have configured our package path to be
[code]
This configuration supports a workflow where users perform sparse-checkouts of our large monorepo, while still being able to `bazel build` code that has not been locally checked out. Packages that are not locally-checked out, are served via a read-only

[2018-07-14 03:18] caot commented on #760
@jxy while building tensorflow-gpu from source, it worked for me to change `tensorflow-1.7.0/third_party/gpus/crosstool/CROSSTOOL_nvcc.tpl` as the follows:

![crosstool_nvcc](https://user-images.githubusercontent.com/5083030/42720295-b2c5e1f6-86f2-11e8-8d8e-0729a328c2f9.jpg)

[2018-07-14 05:42] DGAR1212 opened #5595 "intellij_info_impl.bzl error: cc_common not defined. Did you mean java_common?"
I just updated my bazel plugin and have been having this issue since. Any way to get around this?

[2018-07-14 14:19] mboes commented on #2574
Will it become the default after 0.16.0? I too am pretty keen on this. :)

[2018-07-14 18:33] ola-rozenfeld opened #5596 "importing protos across reporitories"
According to https://github.com/bazelbuild/rules_go/issues/877#issuecomment-337254707 there isn't currently a way to import protos across repositories. This means we will have to copy the entire https://github.com/bazelbuild/remote-apis/ into Bazel's third party instead of just depending on the released version. This is not ideal -- especially because the path bazel/third_party/bazelbuild will rai

[2018-07-14 19:16] ittaiz commented on #5596
What's the problem in importing protos accross repositories? We do it without a problem

[2018-07-14 19:22] ola-rozenfeld commented on #5596
Oh! Maybe it was fixed? How do you do that? Suppose I have this proto https://github.com/bazelbuild/remote-apis/blob/master/build/bazel/remote/execution/v2/remote_execution.proto, and I define dependency in my WORKSPACE on the repo, e.g:

    http_archive(
      name = "remoteapis",
      urls = [
        "https://mirror.bazel.build/github.com/bazelbuild/remote-apis/archive/4ac001182e50d404fa790fb

[2018-07-14 19:31] AustinSchuh commented on #5402
Any update?  We are now starting to hit this more reliably.

[2018-07-14 19:47] ittaiz commented on #5596
Our proto usage is heavily influenced by our maven origins.
All of our protos are under src/main/proto/some/folder/some.proto
Then under src/main/proto we have a BUILD.bazel with proto_library which
have “proto_source_root = native.package_name()”
Then in the depending proto file they just import some/folder/some.proto

Does that help?
On Sat, 14 Jul 2018 at 22:23 Ola Rozenfeld <notifications@gith

[2018-07-15 15:53] owenyoung75 commented on #4107
Thank you so much @sjain-stanford !! I've looked through hundreds of suggestions and finally this solved my problem!!

[2018-07-15 22:50] ola-rozenfeld commented on #5596
Thank you very much for your help! Yes, turns out it does work, I just had a very silly mistake (wrong dependency). Sorry for wasting your time!

[2018-07-15 22:50] #5596 closed

[2018-07-16 01:36] rongjiecomputer commented on #5593
What is the installation location of your Visual Studio Build Tools 2017?

Are you running Bazel in Visual Studio Build Tools Dev command prompt? Try running Bazel in plain Windows command prompt instead. Do not run `vcvarsall.bat` before running Bazel for the first time in a workspace.

Try setting `BAZEL_VC` env var to `<Build Tools>/VC/` and run Bazel again if Bazel still can't detect Visual St

[2018-07-16 02:41] ittaiz commented on #5596
👍🏽
On Mon, 16 Jul 2018 at 1:50 Ola Rozenfeld <notifications@github.com> wrote:

[2018-07-16 04:44] meteorcloudy commented on #5593
Normally, Bazel should be able to detect your installation from registry info. But as pointed out by @rongjiecomputer , you can also set `BAZEL_VC` to your VC installation directory, and make please make sure tools such as `cl.exe`, `link.exe`, `lib.exe` do exist under that directory. Sometimes VC tools are not installed by default during VS installation.

[2018-07-16 05:20] ittaiz commented on #4359
is there still point in this issue given git itself doesn't support full shallow clones?

[2018-07-16 05:33] ittaiz commented on #2926
@cushon I really think that some **blatant** documentation is needed about this

[2018-07-16 05:41] ittaiz commented on #3185
@philwo any thoughts?

[2018-07-16 06:05] hmemcpy commented on #3011
Yes! Turns out that in our particular case, a combination of using SingleJar (via the deployable.jar implicit target) + applying jar_jar solves our needs pretty well!
The only thing that's missing is the ability to exclude things from the final deployable. I've just opened an issue, requesting an additional parameter be added to `scala_library` to support that (https://github.com/bazelbuild/rules_

[2018-07-16 06:50] ittaiz commented on #5086
@aehlig any thoughts given your recent work?

[2018-07-16 07:21] ulfjack commented on #4691
There's no guarantee that a JRE is available on all remote machines.

[2018-07-16 07:42] aehlig commented on #4359
Well, that's why we went the `shallow_since` path as truely shallow clones are usually not supported by git servers. And in theory, it would still be desirable&mdash;but you're right, given that git doesn't support it, there's not much bazel can do.

[2018-07-16 07:42] #4359 closed

[2018-07-16 07:49] inakaaay commented on #5593
thank you for your responses! it has solve my problem however i have different issues regarding the conversion

[2018-07-16 08:01] aehlig commented on #5086
I don't think my recent work influences this feature request.

My general thoughts are that, on the one hand, it is a good idea to allow other cache keys. But the main concern is correctness. For the simple hash of a file, bazel can easily verify itself that the cache hit is correct, so all is fine. For the API proposed in that feature request, however, arbitrary repository rules can add arbitrary

[2018-07-16 08:01] ulfjack commented on #5402
More stack traces of deadlocks would help.

[2018-07-16 08:02] buchgr commented on #5402
I am currently looking into this.

[2018-07-16 08:03] ulfjack commented on #4691
No, not that I'm aware of. IIUC, Buildfarm ships with an empty docker image by default, and our internal implementation is also bring-your-own-docker image. No guarantees on what's in there, and I don't see why a C++-only project (for example) would add a JRE to their remote execution docker images.

[2018-07-16 08:15] aehlig commented on #5116
As mentioned in #5086,  one possible way forward might be telling the Skylark `git_repository` rule (e.g., via an environment variable) about the location of a git repository on the local machine that might be used as a cache. But still, I'm not sure what the best option is.

[2018-07-16 08:20] ulfjack commented on #5521
Yes, I found a JDK 9 eventually. There's a longer story here. I found two bugs in OpenJDK as part of working on a personal project, and wanted to report them upstream. The instructions for filing a bug are to reproduce with the latest OpenJDK, for which I installed Jdk 10. Unfortunately, that then in turn broke my Bazel builds, which I only discovered after rewriting a significant part of my perso

[2018-07-16 08:22] ulfjack commented on #5521
(Anyway, I decided to downgrade to Jdk 8 for the time being. There's nothing compelling in Jdk 9 or 10 that I need for my personal project.)

[2018-07-16 08:48] buchgr opened #5599 "Illegal reflective access by com.google.protobuf.UnsafeUtil"
After having upgraded Bazel's protobuf to 3.6.0 and Bazel's JDK to 9, we are seeing these warnings wen building protobufs. It's an annoying cosmetic issue.

[code]

Any thoughts @cushon @rongjiecomputer? Can we possibly prevent them from being printed? The corresponding protobuf issue: https://github.com/google/protobuf/issues/3781

[2018-07-16 08:50] rongjiecomputer commented on #5599
My local workaround is adding `build --jvmopt=--add-opens=java.base/java.nio=ALL-UNNAMED` to `.bazelrc`.

[2018-07-16 09:52] ittaiz commented on #5591
@laurentlb @buchgr any info on this making it to Homebrew?

[2018-07-16 09:57] laurentlb commented on #5591
I expect to release 0.15.1 later today.
Homebrew can be updated after that.

[2018-07-16 10:09] ittaiz commented on #5591
Oh, I thought it was released already. Thanks!
🤞

[2018-07-16 10:48] aehlig commented on #5568
The code [raises the concern](https://github.com/bazelbuild/bazel/blob/e14a7d4f156c28244a491c65083273f57734cdbe/src/main/java/com/google/devtools/build/lib/bazel/repository/cache/RepositoryCache.java#L108) that symlinks might badly interact with cache cleanup, which is indeed correct. Adding a hard link might be an option.

[2018-07-16 11:05] RNabel commented on #5593
You can set environment variables permanently on Windows (just google "Set Environment Variable Windows").

Please note, however, that bazel starts up a bazel server which is killed either due to inactivity or when calling `bazel shutdown`. If you change your environment variables _after_ starting your bazel server you may have to kill it using `bazel shutdown` and re-run your `bazel build` comman

[2018-07-16 11:08] ulfjack commented on #1922
@mirandaconrado the way it works internally is that we implement the OutputService interface, and tell the local FUSE daemon about the outputs of each action after executing it remotely. I.e., we tell it "put a file with this remote address in this location". We'd need to come up with a protocol for doing so. We'd also need to hook it up with remote execution, but it shouldn't be difficult (famous

[2018-07-16 11:09] ulfjack commented on #5492
Yeah, I also noticed that. Very annoying.

The colons are due to exception chaining inside Bazel, I think.

[2018-07-16 14:42] vbatts commented on #5591
https://copr.fedorainfracloud.org/coprs/vbatts/bazel/build/777798/ submitted

On 7/16/18 10:29 AM, Laurent Le Brun wrote:

[2018-07-16 15:19] jmillikin-stripe commented on #4691
The default buildfarm image is based on `gcr.io/distroless/java`, which does include a JRE. Notably it _doesn't_ include `/bin/bash` so it can't execute genrules. We (Stripe) use a different base image that includes Bash and Coreutils, and I expect all users of fully-remote builds will have similar custom images.

[2018-07-16 16:01] ilovezfs commented on #5591
0.15.1 shipped in Homebrew: https://github.com/Homebrew/homebrew-core/pull/30120

[2018-07-16 16:07] drigz opened #5601 "Broken link in Providers docs: "Rules page""
### Description of the problem:

https://docs.bazel.build/versions/master/skylark/lib/skylark-provider.html has a broken link to `https://docs.bazel.build/versions/master/skylark/rules.$DOC_EXT#providers` in the first line.

PS. apologies if this is the wrong repo for the bug; I noticed that SkylarkModuleCategory.java has the "This section lists providers" text, so I figured the bug is in that fil

[2018-07-16 16:17] mhlopko opened #5602 "Expose ctx.fragments.(copts|cxxopts|conlyopts|linkopts)"
Add methods that expose flags passed by --copt (and --cxxopt, --conlyopt) and --linkopt options to CppConfiguration's Skylark API.

This will be useful because:
* That's how C++ rules in Skylark will get to those options.
* Other rules that pretend to be C++, or care about C++ flags (e.g. haskell) can get them.

Since these methods will only return values passed from the Bazel command line, they d

[2018-07-16 18:43] dkelmer commented on #3115
This issue should now be fixed at head. Please reopen the bug if it doesn't address your use case. Note that referencing @<workspace_name> from the command line will still be treated as a separate repository.

[2018-07-16 19:02] zrlk opened #5603 "any_proto linked multiple times with -c opt"
It appears that the generated code (and in particular, the initialization code) for any_proto is being linked into our executables multiple times. These then fail to start:

[code]

This *only* happens when we compile with `-c opt`. `-c dbg` and the default configuration all work.

I don't know if this is our problem, a Bazel problem, or a protobuf problem. Our issue, with more details: https://gi

[2018-07-16 19:06] ittaiz commented on #3115
Thanks!
I'll try to verify in the next two days locally.
If I have in my repo (`some_repo`) a target `//foo:bar` and a bzl which is
exposed to other repos and so depends on `@some_repo//foo:bar` and one last
target which uses this bzl.
Today I'll build `//foo:bar` and `@some_repo//foo:bar` right? This was
fixed

On Mon, Jul 16, 2018 at 9:50 PM Danna Kelmer <notifications@github.com>
wrote:

[2018-07-16 19:38] dkelmer opened #5604 "Label.relative does not respect repository mapping"
If a label is created in a BUILD file using Label.relative(), the created label won't respect repository mappings coming from the main repository if this repository is being referenced as an external repository.

Label can get the repository map from Environment, but Environment has to be cleaned up first to stop depending on Label to get rid of the circular dependency.
https://source.bazel.build/

[2018-07-16 20:58] petemounce commented on #5591
chocolatey 0.15.1 is also pushed.

[2018-07-16 21:44] benjaminp commented on #2337
I think this is completely fixed now? Actual execution of the target now happens in the client and doesn't hold the server lock.

[2018-07-16 21:45] schroederc commented on #5591
Running `bazel-0.15.1-linux-x86_64` gives me this error:

[code]

`bazel-0.15.1-linux-x86_64` seems to now require either `JAVA_HOME` set or `javac` on the system's `PATH` where as `bazel-0.15.0-linux-x86_64` did not.  I'm assuming previous versions simply used the embedded JDK and now Bazel does not, but the release notes do not specify any such change.

[2018-07-16 21:52] benjaminp opened #5606 ""Build completed successfully" line printed twice by run command"
[code]
(Nothing special about `@bazel_tools//tools/cpp:build_interface_so` except that it's trivial and universally available.)

[2018-07-16 21:59] jin commented on #5545
cc @sergiocampama

[2018-07-16 22:00] jin commented on #5557
cc @jmmv

[2018-07-16 22:02] jin commented on #5570
cc @lberki

[2018-07-16 22:05] jin commented on #5572
looks like a configurability issue, cc @gregestren any ideas?

[2018-07-16 22:06] jin commented on #5567
cc @aehlig

[2018-07-16 22:08] jin commented on #5595
Please open this issue on https://github.com/bazelbuild/intellij, thanks!

[2018-07-16 22:08] #5595 closed

[2018-07-16 22:38] gregestren commented on #5572
I can reproduce this. Will try to diagnose cause tomorrow.

Thanks for the report.

[2018-07-16 23:08] c-parsons opened #5607 "bazel_rules_test broken at HEAD"
### Description of the problem / feature request:

Bazel with downstream projects: "Bazel Remote Execution" is broken at HEAD.
Example run:
https://buildkite.com/bazel/bazel-with-downstream-projects-bazel/builds/341#b1274694-06b0-4b16-8ff9-d967073f0efe

Relevant snip:

** test_genrule_default_env ****************************************************
/b/s/w/ir/run/bazel-out/k8-fastbuild/bin/src/test

[2018-07-17 00:29] HI-MarkPrice commented on #5208
One glaring issue on the 'Installing Bazel on Windows' page is that it says you don't need to download a separate JDK 8 install. It also refers to versions on the release page that don't have the JDK integrated -- no such files exist:

```Note: Bazel includes an embedded JDK so you don't need to install one separately. If you want to download Bazel without an embedded JDK, look for bazel-<version>

[2018-07-17 07:03] #2337 closed

[2018-07-17 07:37] ulfjack commented on #4691
Right. I expect that requiring bash is fine for Linux and MacOS images. I would prefer not to require any higher-level language (like Java or Python, or even C/C++) given that there will be projects who don't want that as an additional dependency for their images. I expect that PowerShell is fine for Windows as the minimal requirement. The downside is that we end up having to maintain two implemen

[2018-07-17 08:42] laszlocsomor commented on #5607
Taking a look.

[2018-07-17 09:46] buchgr commented on #5591
@schroederc thanks for making us aware. in fact this binary was created without an embedded jdk. that's a bug. I am looking into it.

[2018-07-17 10:53] ittaiz commented on #5591
Jakob,
Do you know if this is on OS X as well?

On Tue, Jul 17, 2018 at 12:46 PM Jakob Buchgraber <notifications@github.com>
wrote:

[2018-07-17 10:54] ittaiz commented on #3115
I checked on a small repo and it's solved! Will hopefully verify on our bigger repo soon :)

[2018-07-17 11:24] buchgr commented on #5591
@ittaiz yep!

We are currently releasing 0.15.2. Same cherry-picks, but built with the embedded jdk.

[2018-07-17 11:35] laszlocsomor commented on #5607
`$TMPDIR` should always be set, see https://github.com/bazelbuild/bazel/blob/ae43043f6c42add7bd0535b66edb344bbc6e9001/src/main/java/com/google/devtools/build/lib/exec/local/PosixLocalEnvProvider.java#L55

However, it seems to be unset here. Let me take a look as to why.

[2018-07-17 11:47] buchgr commented on #3684
I think it makes sense to contribute the protobuf to https://github.com/bazelbuild/remote-apis, which contains also the remote execution API.

[2018-07-17 11:54] laszlocsomor commented on #5607
Ah, because we're talking about remote execution, not local ones. I don't know how the remote executor sets up envvars, so let me add code that allows an empty `TMPDIR`.

[2018-07-17 12:15] ulfjack commented on #4608
Change is here: https://bazel-review.googlesource.com/c/bazel/+/66174

With the recent-ish refactorings (before my ~one month of leave), it's possible that this might just work now. I'm running the tests right now.

[2018-07-17 12:55] laurentlb commented on #5591
I've released 0.15.2: https://github.com/bazelbuild/bazel/releases/tag/0.15.2
It is what 0.15.1 should have been (same set of cherrypicks; without the jdk issue).

Sorry for the issue.

cc @ilovezfs @vbatts @petemounce

[2018-07-17 13:24] vbatts commented on #5591
fedora/centos build kicked off https://copr.fedorainfracloud.org/coprs/vbatts/bazel/build/778179/

On 7/17/18 8:56 AM, Laurent Le Brun wrote:

[2018-07-17 13:39] ilovezfs commented on #5591
0.15.2 shipped in Homebrew https://github.com/Homebrew/homebrew-core/pull/30184

[2018-07-17 13:58] laszlocsomor commented on #5208
Thanks!

Yes, the page is outdated. There's no JDK-less version anymore. All Windows versions (e.g. https://github.com/bazelbuild/bazel/releases/download/0.15.2/bazel-0.15.2-windows-x86_64.exe) contain an embedded JDK, that's indeed only there to run Bazel itself.

I'll fix these docs tomorrow, or you're welcome to send a PR and assign me as a reviewer if you want to fix it yourself.

[2018-07-17 14:47] buchgr commented on #5402
I think we have enough information to know what's happening.

T1 | T2
--- | ---
sends a build event (lock1) | Writes stderr (lock2) ...
Writes a "Slow Read:" warning (lock2) | ... and realizes that the stderr buffer is full, thus flushes and sends a build event (lock1).

We can fix this particular case, but I need some more thinking on how to ensure that some other case doesn't trigger a deadlock

[2018-07-17 15:33] #5402 closed

[2018-07-17 16:55] jmillikin-stripe commented on #4691
We have Java in our remote build images because https://github.com/bazelbuild/bazel-buildfarm is implemented in Java, and needs the JRE to run its `_deploy.jar` binaries.

[2018-07-17 16:59] ahedberg commented on #5591
Hi folks - Chocolatey on Windows is suggesting 0.15.1 as the newest version, and Abseil started seeing the following error on its internal CI when it was used:

bazel clean
Extracting Bazel installation...
ERROR: Couldn't find java at 'C:\Program Files\/bin/java.exe'.

We're pinning to 0.15.0 in the meantime. Sounds like 0.15.2 might fix this, but thought I'd mention it in case someone has contact

[2018-07-17 20:09] petemounce commented on #5591
I've just pushed 0.15.2 to chocolatey.

[2018-07-17 20:48] ittaiz commented on #5154
Alex,
I’ve been talking to various FED people about build tools and I keep
hearing that people don’t want to continue to use npm/yarn as they don’t
have confidence in them.
Are you sure this is the right direction?
On Tue, 17 Jul 2018 at 20:26 Alex Eagle <notifications@github.com> wrote:

[2018-07-17 21:04] dslomov commented on #5154
Who are these people and what do they want to use?
The ecosystem for npm/yarn is large and mature at this point - it behooves Bazel to support them
Of course, we do what to support other package managers as well.

[2018-07-17 21:14] jin commented on #5154
@ittaiz is it related to the integrity of the package managers from the various security incidents? Or the developer experience of npm?

[2018-07-17 21:24] zrlk commented on #5603
Fixed by updating to protobuf 3.6.0. Further details in https://github.com/google/kythe/commit/27addcb0b06688d3b080486d57cab0459e9f0f06

[2018-07-17 21:24] #5603 closed

[2018-07-17 21:32] buchgr commented on #5402
So in 59f9159 I have just removed the lock on `BuildEventServiceTransport.sendBuildEvent`. That hasn't fix the bug, because the bug had already been fixed as a side effect of ce9aafc as we moved the serialization of the build event protos from the `sendBuildEvent` method to the uploader thread.

[2018-07-17 21:50] alexeagle commented on #5154
@ittaiz I think vendoring all the dependencies into the repository with some security review when importing changes is the sane and safe thing to do, and is already supported here. As @dslomov says, we are just paving the primary path that supports the common existing use case to meet developers where they are.

[2018-07-17 22:40] gregestren commented on #5572
When I repro with a trivial //java/com/domain/testapp:foo, my error is:

    Exception in thread "main" java.lang.UnsupportedClassVersionError:
    javax/lang/model/element/TypeElement has been compiled by a more recent version of
    Java Runtime (class file version 53.0), this version of the Java Runtime only recognizes
    the class file versions up to 52.0

TypeElement comes from:

    $ jar t

[2018-07-17 22:42] gregestren commented on #5572
As a side note, do you actually need `--distinct_host_configuration=false`? That's an obscure setting that often doesn't actually do much good.

[2018-07-18 00:28] davidstanke opened #5613 "Docs for shell completion scripts are missing"
On the [Ubuntu installation page](https://docs.bazel.build/versions/master/install-ubuntu.html), there are links to completion scripts, but those links simply direct to the parent installation page.

[2018-07-18 00:38] zanes2016 opened #5614 "FAQ Pex Support Link Broken"
On the [FAQ: What About Python site](https://bazel.build/faq.html#what-about-python), the link for pex support is broken (404 error) for https://github.com/bazelbuild/bazel/blob/master/tools/build_rules/py_rules.bzl.

Does anyone know what the link should be?

[2018-07-18 02:04] #4742 closed

[2018-07-18 02:23] zhangkom opened #5615 "Error: Unknown startup option: '--user'."
./bazel-0.13.0-darwin-x86_64 --user

Error: Unknown startup option: '--user'.
  For more info, run 'bazel help startup_options'.

[2018-07-18 02:43] jin commented on #5615
The `--user` flag is for the installer (`bazel-0.15.2-installer-darwin-x86_64.sh`), not the Bazel binary itself (`bazel-0.15.2-darwin-x86_64`). You can use the binary directly, or move it to a folder on your `$PATH` and rename it to `bazel`.

[2018-07-18 02:43] #5615 closed

[2018-07-18 07:06] mhlopko commented on #5580
This is a simple change in [cc_configure](https://source.bazel.build/bazel/+/6b5205b000fe391faf12f84ed4f2e9ea38ae81ff:tools/cpp/cc_configure.bzl), do you want to give it a try? What needs to be done is run `cc -v`, parse the output, and decide if the compiler is clang, gcc, ... or unknown. And place that string into compiler field in the crosstool.

[2018-07-18 07:07] mhlopko commented on #5580
Cc @scentini

[2018-07-18 07:12] #5568 closed

[2018-07-18 08:06] #5607 closed

[2018-07-18 08:14] rongjiecomputer opened #5616 "Separate "runtime" from "compiler" constraint_setting"
### Description of the problem / feature request:

https://github.com/bazelbuild/bazel/blob/master/tools/cpp/BUILD#L25-L48 does not reflect reality.

`msvc`, `mingw` and `msys` are set to be `constraint_value` of `cc_compiler`, but they are not compilers (at least for the last two).

Mingw and Msys are runtime libraries that can run on Windows, but not compatible with each other or MSVC runtime. B

[2018-07-18 09:48] laszlocsomor commented on #5512
I think this is all fixed now.

[2018-07-18 09:48] #5512 closed

[2018-07-18 11:04] ittaiz commented on #5568
Thanks!
On Wed, 18 Jul 2018 at 10:12 bazel.build machine account <
notifications@github.com> wrote:

[2018-07-18 13:22] laszlocsomor commented on #5508
https://github.com/laszlocsomor/proposals/commit/332fa532c42551eba36c76b671db9a7b76adee29

I'll embed this doc in the eventual design doc.

[2018-07-18 14:32] philwo commented on #5400
Sorry for the delay. Took longer than expected after my parental leave to get back up to speed. I'll fix this first thing tomorrow morning. :(

[2018-07-18 15:23] aehlig commented on #5588
The output of `pkg_tar` is an artefact as any other artefact generated by bazel hence gets the same permissions. So, while it is questionable that outputs always have permissions `0555`, this has nothing to do with `pkg_tar`. The most simple way to demonstrate that generic `bazel` behavior is a `BUILD` file with the following contents.

[code]

Even then, `bazel build :hello` will generate a file

[2018-07-18 19:03] laurentlb commented on #5471
ping @tomlu

[2018-07-18 19:17] tomlu commented on #5471
The version of bazel used to build bazel is too old if it doesn't have 'tools'. I think I added tools one bazel version before I added the incompatible flag that forced the change to pkg_tar.

[2018-07-18 21:08] jin opened #5629 "Support testing across Android SDK and NDK versions in a single environment"
The repository rules are implemented in a way that we can only test with *one* SDK and NDK version at any time. This affects the way our tests are written, and significantly reduces test coverage for older SDK/NDK versions if we rewrite them to test against the latest version.

It'll be great to have a way to either extend Bazel's internal capability to switch between Android SDK and NDK versions,

[2018-07-18 23:42] Globegitter opened #5630 "Difficulties accessing a file within an action created by an action from another rule"
### Description of the problem / feature request:

I am writing a js rule that bundles es modules by parsing the files import statements. It is very common to use relative imports from within a module, which works fine if the file trying to be imported is a source file, but it does not work if it is a file that has been created by another rule.

Digging deeper, the problem seems to be that the fil

[2018-07-19 00:12] nevion commented on #5471
thought I had updated bazel prior to attempting the build but building 15.2 against 15.2 worked

[2018-07-19 00:12] #5471 closed

[2018-07-19 06:15] ittaiz commented on #4432
@brendandouglas can you please explain why the IDE needs jdeps? from @cushon's explanation I understand why the rules need them (turbine? JavaBuilder?) but I don't understand why the IDE needs it in addition to what JavaInfo has.
Main reason I ask is because we (rules_scala) currently don't generate jdeps and want to understand what IDE functionality we're missing.
Thanks!

[2018-07-19 06:17] ittaiz commented on #4746
@dslomov any thoughts? I'm not sure this suggestion is the way to go but I think the need to be able depend on some of the java parts (jdeps read/write for example) is a standing issue

[2018-07-19 06:43] zz-pony opened #5632 "Bazel remote cache cannot be shared between users?"
### Description of the problem / feature request:
I created a very simple cc_binary and published it here: https://github.com/zz-pony/bazel-test. Then I compiled this code on my computer multiple times, and the result looked really weird:
1) Compile under my account, for the first time,
[code]
There was no cache hit, which was as expected.

2) Clean results and compile under my account, for the se

[2018-07-19 07:01] zz-pony commented on #5632
This problem did not exist in bazel `release 0.13.1`. I downgraded my bazel version to `0.13.1`, cleaned my remote cache. Then reran the above steps. Outputs were like this:

1) Compile under my account for the first time,
[code]

2) Clean and compile under my account for the second time,
[code]

3) Clean and compile under a different account for the first time,
[code]

Nginx log:
[code]

[2018-07-19 07:23] hmemcpy commented on #1402
I'd like to add another few use-cases where we need to be able to exclude specific targets from the final deployable jar. For example, we have a situation where we need to use our library with different runtimes, e.g. Hadoop. Some of those environments need to have a specific Jackson binary, others don't. This is why the neverlink solution doesn't work for us, as we need to have it excluded *somet

[2018-07-19 07:47] mmorearty opened #5633 "Skylark http_file does not preserve downloaded file's extension"
### Description of the problem / feature request:

The title above may be a bit imprecise. Let me explain. If use the soon-to-be-deprecated `native.http_file` to download, say, a `.c` file, then I will be able to pass that file to rules that require C files, such as `cc_binary`.

But if I use the newer `http_file` that I load from `@bazel_tools//tools/build_defs/repo:http.bzl` (as described [here]

[2018-07-19 07:47] mmorearty commented on #5633
cc @aehlig

[2018-07-19 08:03] georgi-d opened #5634 "Stop unconditionally adding -B/usr/bin flag to C/C++ toolchains"
The addition of this flag was done as a fix to Issue #760

The problem with this is that it completely breaks any custom toolchain setup because it forces use of tools such as `ld`, `as`, `ar` and others from /usr/bin. And since this is added so early in the process it is not possible override it in the build files.

I see that the original problem in #760 was that `process-wrapper` and `build-run

[2018-07-19 09:13] aehlig commented on #5633
I see the desire so simply build against an http_file, but you should
realize that the behaviour of the native rule is fully broken. E.g.,
consider the following situation.

[code]

Moreover, preserving "the" extension of the downloaded file is not a
well-defined notion anyway. We allow several alternative URLs to obtain
the octets from. Do we take the name of the first URL, or the URL where
we ma

[2018-07-19 09:36] mmorearty commented on #5633
Thanks @aehlig . I'm unclear on what problem is being demonstrated in your first example — certainly I can see that the BUILD file that's being loaded via http_file is invalid, so Bazel reports errors, but I'm not quite sure on what aspect of this means the native rule is fully broken. But that's okay :)

As for the extension, yes, I had the same thought myself, that since http_file can have multi

[2018-07-19 10:02] davido commented on #5633
I pointed out exactly the same problem we are facing gerrit code review in mailing list: [1].

Quoting here:

[code]

We ended up to copy downloaded file to rename it to the right file name (with ".js" sufix, as required by Closure compiler) after downloading.

[1] https://groups.google.com/d/topic/bazel-discuss/dO2MHQLwJF0/discussion
[2] https://github.com/bazelbuild/bazel/blob/master/tools/build

[2018-07-19 10:21] aehlig commented on #5633
The example demonstrates that, if I download a file from a URL that happens to
end in a reserved name (`WORKSPACE`, `BUILD`, `BUILD.bazel`) the respective
file in the external repository gets overridden. And that is plain wrong.
No matter which URL I download a file, the BUILD file in the external
http_file repository should be the one generated by the rule and provide
me with the //file:file targ

[2018-07-19 11:03] aehlig commented on #5633
Actually, it is the other way round: die downloaded file gets overwritten
by the generated file. But that's equally wrong, as the downloaded file
then no longer is in the external repository at all. And all that by only
changing the order of the mirrors...

--
Klaus Aehlig
Google Germany GmbH, Erika-Mann-Str. 33, 80636 Muenchen
Registergericht und -nummer: Hamburg, HRB 86891
Sitz der Gesellschaft:

[2018-07-19 11:59] laurentlb opened #5635 "Technical plan for improvements in testing facilities"
We'd like to improve the testing story for macros and rules.

Assigning to @c-parsons to propose a plan

[2018-07-19 12:06] laurentlb opened #5636 "incompatible_no_transitive_loads: Forbid macros loaded transitively"
When a bzl file contains a load, e.g.
`load("//some:file.bzl", "fct")`
it implicitly exports `fct`.

This is problematic for many reasons:
- Exports should be explicit
- Other languages don't do that
- Removing a load can break other files
- So it means we can't have a tool to safely remove unused loads

Unfortunately, this is a breaking change.

There are two ways to fix it.

1. Update the load s

[2018-07-19 12:29] #1210 closed

[2018-07-19 12:29] #1449 closed

[2018-07-19 12:33] philwo commented on #1639
We made some improvements here (https://github.com/bazelbuild/bazel/commit/0c12603bedd4a270094137269b910a8587d3f93c#diff-0e04d0b60b52d9ae0a29b39a8b8e824a).

[2018-07-19 12:33] #1639 closed

[2018-07-19 12:33] laurentlb opened #5637 "incompatible_static_name_resolution: Implement Name resolution proposal"
https://github.com/bazelbuild/proposals/blob/master/designs/2018-06-18-name-resolution.md

[2018-07-19 12:34] #1713 closed

[2018-07-19 12:34] #1737 closed

[2018-07-19 12:37] philwo commented on #2024
This was fixed some months ago by replacing the UUID with a counter.

[2018-07-19 12:37] #2024 closed

[2018-07-19 12:38] philwo commented on #2235
Closing, because I'm pretty sure this was fixed a long time ago.

[2018-07-19 12:38] #2235 closed

[2018-07-19 12:39] #2371 closed

[2018-07-19 12:39] laurentlb opened #5638 "Implement fast symbol lookup in the interpreter"
We talked about speeding up the interpreter by avoiding hash maps for variable lookup. We should be able to assign statically an integer to each variable.

Unfortunately, we can't do this safely right now because of a bug in the interpreter (https://github.com/bazelbuild/bazel/issues/5637). In some cases, the name resolution is not static. Once the bug is fixed, that should be feasible.

cc @ttsug

[2018-07-19 12:39] philwo commented on #2486
Unassigning, because I'm not working in this area.

[2018-07-19 12:40] #2489 closed

[2018-07-19 12:40] #2505 closed

[2018-07-19 12:40] philwo commented on #2540
This was fixed in https://github.com/bazelbuild/bazel/commit/0c12603bedd4a270094137269b910a8587d3f93c.

[2018-07-19 12:40] #2540 closed

[2018-07-19 12:41] philwo commented on #2669
Closing, because supporting this is just not feasible on macOS.

[2018-07-19 12:41] #2669 closed

[2018-07-19 12:42] #2686 closed

[2018-07-19 12:42] #2688 closed

[2018-07-19 12:42] #2855 closed

[2018-07-19 12:46] mhlopko commented on #807
cc @oquenchil

[2018-07-19 12:46] mhlopko commented on #716
CC @oquenchil

[2018-07-19 12:51] philwo commented on #2951
I'm closing this, as I'm not sure we can do anything to improve the situation at the moment.

For future readers: sandboxfs is a possible alternative that builds sandboxes in-memory via FUSE instead of creating symlinks. Also, moving the sandboxes to a tmpfs via `--experimental_sandbox_base` would help in this case, as we have discussed above.

[2018-07-19 12:51] #2951 closed

[2018-07-19 12:52] #2961 closed

[2018-07-19 12:53] #2985 closed

[2018-07-19 12:53] philwo commented on #3019
If this is still happening, please re-open this bug.

[2018-07-19 12:53] #3019 closed

[2018-07-19 12:56] #3128 closed

[2018-07-19 12:56] philwo commented on #3180
Closing, please re-open if it's still happening.

[2018-07-19 12:56] #3180 closed

[2018-07-19 12:59] philwo commented on #3185
@ittaiz Sounds like a nice feature. Not sure if it's actually possible to implement this (some OS have an API like this: https://www.freebsd.org/cgi/man.cgi?query=setproctitle&sektion=3 - I guess there might be something similar for Linux and Windows, too.

I'd be happy to review a patch for this. I won't get to it myself in the next time.

[2018-07-19 13:15] laurentlb commented on #5078
cc @c-parsons

[2018-07-19 13:38] danieldanciu commented on #2486
I think somebody should take a look at this. It's a bit embarrassing that Bazel basically doesn't work with ipv6 addresses, and for us, that means either enable ipv4 in our network or use another build system.

[2018-07-19 14:14] philwo commented on #2486
@danieldanciu Can you give me some more details about your environment? Have you seen this on macOS only, or also on other platforms? Are you running an IPv6-only network with DNS64 and NAT64?

@buchgr Any idea how we could fix / workaround this? Last time I investigated this, it looked like an OpenJDK bug only on macOS, related to OpenJDK picking the wrong interface (awdl0) for IPv6 communication

[2018-07-19 14:15] #3207 closed

[2018-07-19 14:22] philwo commented on #3269
I think this was fixed in macOS High Sierra final version - we haven't seen any issues with APFS or High Sierra since then.

[2018-07-19 14:22] #3269 closed

[2018-07-19 14:23] #3321 closed

[2018-07-19 14:29] philwo commented on #3788
Unassigning - sorry, I can't be of help fixing this. It's not really a sandboxing issue (in the sense of: we could change Bazel's sandbox somehow to make this work). I think pyenv might be just fundamentally incompatible with our sandboxing - but that said, I don't know anything about pyenv. I think someone with more experience in Python should look into this.

[2018-07-19 14:29] philwo commented on #3791
Reassigning to @buchgr, because remote execution.

[2018-07-19 14:37] philwo commented on #3961
@mhlopko Any idea? The sandboxing code doesn't have any language specific knowledge - it simply includes all input files. Could it be that some are missing?

[2018-07-19 14:38] #4169 closed

[2018-07-19 14:38] #4189 closed

[2018-07-19 14:38] philwo commented on #4320
Please re-open if this is still a problem.

[2018-07-19 14:38] #4320 closed

[2018-07-19 14:40] philwo commented on #4386
@buchgr I guess the code might have changed a lot in the meantime and thus this might be fixed - could you have a quick look?

[2018-07-19 14:40] #4459 closed

[2018-07-19 14:43] inakaaay commented on #5593
thank you!

[2018-07-19 14:43] #5593 closed

[2018-07-19 14:47] philwo commented on #4505
Closing as infeasible.

[2018-07-19 14:47] #4505 closed

[2018-07-19 14:48] philwo commented on #4578
Sorry - your JDK is missing required files. Bazel can't do anything about this.

[2018-07-19 14:49] #4578 closed

[2018-07-19 14:53] philwo commented on #4607
@jarviscrypter Sorry for the late response and that I can't be of much help!

I think this might be an issue with your hardware. Your system surely looks strong enough to run the build successfully. Maybe something is overheating?

[2018-07-19 14:53] #4607 closed

[2018-07-19 14:55] philwo commented on #4616
@mafanasyev-tri Is this still an issue with recent Bazel versions?

[2018-07-19 14:56] philwo commented on #4619
I'll close this, as I won't have any time to look into it in the next months. If someone wants to contribute patches that improve support for WSL, I'd be happy to review them, though.

[2018-07-19 14:56] #4619 closed

[2018-07-19 14:56] solomatov commented on #4505
@philwo What do you think about using IPC to signal that all workers in specified workspace should shut down? I think, it's absolutely possible.

[2018-07-19 14:57] philwo commented on #4648
I'll close this, as it's not something Bazel can workaround. Sorry!

[2018-07-19 14:57] #4648 closed

[2018-07-19 15:07] philwo commented on #5176
No clue. Maybe your JDK is broken somehow? That error message looks like some strange internal error :|

We also committed some Java 9 compatibility fixes to Bazel in the last two months. Is it working now, perhaps?

[2018-07-19 15:08] philwo commented on #5180
Looks like you ran out of memory. Can you give some details about your environment? Did this run on physical hardware or in a VM or in a container? How much RAM and how many CPU cores do you have?

[2018-07-19 15:13] philwo commented on #4505
@solomatov I agree that it should be possible. We'd need some kind of discovery mechanism so that Bazel servers are aware of other running Bazel servers and then a communication mechanism so that they can signal each other. This might also be interesting to better constrain overall resource usage in case someone is running multiple Bazel builds on the same machine. However, it would also add a lot

[2018-07-19 15:13] derekmauro opened #5640 "Bazel + MSVC C++ = missing dependency declarations [culprit #5136]"
### Description of the problem / feature request:

We are getting a spurious `this rule is missing dependency declarations for the following files included by ...` when using MSVC to build on Windows. I say it is spurious because the same command works correctly on Linux and OSX, and I've verified the BUILD rule is correct.

### Bugs: what's the simplest, easiest way to reproduce this bug? Please

[2018-07-19 15:20] sergiocampama commented on #5565
Wow, nice! I'll test this out when I get some time. Thanks!

[2018-07-19 15:21] solomatov commented on #4505
@philwo That's what I usually do as a workaround. But I am concerned about breaking caches or other persistent data structures by bazel.

[2018-07-19 15:53] buchgr commented on #5565
It's been implemented for the grpc protocol. still need to implement an uploader for the http caching protocol.

[2018-07-19 15:57] danieldanciu commented on #2486
Sure. The platform is indeed a Mac, and the problem is that java.net.Socket is basically not working with ipv6 addresses on a Mac, as described here:
 http://stackoverflow.com/questions/29103828/cant-connect-to-ipv6-only-host-from-java

There is no workaround on the new macs (with a touch bar).

The fix on the Bazel side would be to use java.nio.SocketChannel instead of java.net.Socket whenever ma

[2018-07-19 16:02] philwo commented on #2486
Thank you for the detailed description and pointers! I’ll make sure that this gets fixed.

[2018-07-19 16:13] laszlocsomor commented on #4691
I thought about this more. Bazel requires at least Windows 7 / Server 2008 R2 as the host platform, so we could require that as a minimum execution platform too.

Compiled C++ binaries are portable but across Windows versions (at least within the same architecture), though linking against MSVCRTxx.DLL requires the right DLLs to be installed on the execution machine.

AFAIK Windows Server versions

[2018-07-19 16:18] laszlocsomor commented on #4691
I'm old and living under an old rock. Apparently J# is no longer a thing. (https://en.wikipedia.org/wiki/J_Sharp)

[2018-07-19 16:23] buchgr commented on #2486
The HttpDownloader seems to use HttpURLConnection which most likely uses java.net.Socket under the hood. I don't think that one can just pass in his own socket.

what are you refering to?

[2018-07-19 16:30] laurentlb commented on #3797
@aehlig If you think your elisp code will be useful to other users, please contribute it to https://github.com/bazelbuild/emacs-bazel-mode

[2018-07-19 16:46] danieldanciu commented on #2486
Typo, I meant "grpc library". But you're likely right that the socket is opened via HttpURLConnection. Unfortunately, the socket factory only allows creating java.net.Sockets, so you guys may need to write your own HttpUrlConnection that uses socketchannel. Although I am pretty sure someone at Google already wrote this. :)

[2018-07-19 16:49] sergiocampama commented on #5565
What's the interface for getting them? Were there changes in the protos?

[2018-07-19 17:01] buchgr commented on #5565
you need to specify `--remote_cache=` and that expects a bytestream service (https://github.com/googleapis/googleapis/blob/master/google/bytestream/bytestream.proto).

[2018-07-19 17:06] buchgr commented on #4386
Yep now getting

[code]

[2018-07-19 17:06] #4386 closed

[2018-07-19 17:40] steeve commented on #5047
We are still seeing this as well with Bazel 0.15.2 and a max connections at 64.
[code]

We're using the following options:
[code]

We are also using https://github.com/buchgr/bazel-remote as the remote cache (GCS is too slow :()

[2018-07-19 17:40] buchgr commented on #5632
Can you try building with `--experimental_strict_action_env`?

[2018-07-19 17:43] buchgr commented on #5047
Maybe I ll be able to repro it by also using as the backend https://github.com/buchgr/bazel-remote

[2018-07-19 17:51] zz-pony commented on #5632
Now it works! Thanks for your quick reply.

I believe `--experimental_strict_action_env` should be turned on by default for backward compatibility purpose.

[2018-07-19 18:26] zz-pony commented on #5632
I found when running bazel build on a more complex project, cache hit rate is still low.

How could I debug bazel cache fingerprints from larger targets are identical across users? Any command to output the relationship between targets and fingerprints?

[2018-07-19 19:09] aj-michael commented on #5629
What do you mean by SDK version? The android_sdk_repository rule already supports multiple API levels to compile against. It seems to me that the problem is not in the repository rule, but in the —android_sdk flag that forces a single API level for the whole build.

[2018-07-19 19:44] mafanasyev-tri commented on #4616
We are using a workaround now:  `--experimental_local_memory_estimate` option, introduced in https://github.com/bazelbuild/bazel/pull/4938 and merged into master.

AFAIK, the default scheduler is still too aggressive, but now that we can use local memory estimator, we are good.

[2018-07-19 20:14] c-parsons opened #5642 "Buildkite CI breakage:"
A number of bazel downstream dependencies are broken in recent CI runs.

The breakages have some error message in common, for example:

https://buildkite.com/bazel/bazel-with-downstream-projects-bazel/builds/349#a31ac896-3769-483e-9876-81c55ddbe4ba

[code]

could be that cxx_builtin_include_directory part of the generated CROSSTOOL files are not generated correctly on these workers?

[2018-07-19 20:17] buchgr commented on #5632
We want to turn it on eventually, but can't right now because of backwards compatibility concerns.

when running a build twice from the same environment or when switching between users?

that's currently a bit difficult to debug, as we don't have good tools (yet). Here's the code that builds the action https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/remo

[2018-07-19 20:35] mpassell commented on #2460
Neither of the workarounds mentioned by @jwnimmer-tri or @phedoreanu seem to help in my repo - bazel still scans and scans `node_modules` until it runs out of memory. Any other suggestions?

[2018-07-19 20:35] nbutko commented on #3269
Thanks for closing the thread here, I can confirm that we have not seen this issue on any final release version of high sierra.

[2018-07-19 20:44] dkelmer commented on #4678
This was fixed by https://github.com/bazelbuild/bazel/commit/3149beb6543c50f381f91f9645f2a4da43d20c0c

[2018-07-19 20:44] #4678 closed

[2018-07-19 20:45] dkelmer commented on #4678
Duplicate of https://github.com/bazelbuild/bazel/issues/3115

[2018-07-19 22:44] cwoodwar6 opened #5643 "Feature Request: Android Lint Tool Integration"
### Description of the feature request:

Support for the [Android Lint](https://developer.android.com/studio/write/lint) tool. This could be accomplished as a separate rule to perform the analysis on an `android_library`, `android_binary`, etc.

### What underlying problem are you trying to solve with this feature?

Android projects built with Bazel would benefit from running the Android Lint tool

[2018-07-19 22:47] cwoodwar6 commented on #2204
I'm willing to say this is no longer relevant. It has been a long time since I've tried Bazel and much has changed. Closing for now due to inactivity, will re-open if it ever comes up again.

[2018-07-19 22:47] #2204 closed

[2018-07-20 03:14] zaycev opened #5644 "Do not hardcode path to LCOV tool"
Hi!

Is there a reason why the path to LCOV is hardcoded here?:
https://github.com/bazelbuild/bazel/blob/4af3da48f848c1666635deab7a50072fb3d9a8f4/tools/test/collect_coverage.sh#L143

This makes it impossible to use Bazel coverage command when lcov is installed into a diffirent location. In `0.15.2`, Bazel will generate empty dat files.

Thanks!

[2018-07-20 04:28] ittaiz commented on #5636
+1 on this change. Current behavior is surprising.
On Thu, 19 Jul 2018 at 15:06 Laurent Le Brun <notifications@github.com>
wrote:

[2018-07-20 05:06] mirandaconrado commented on #1922
Interesting, I'll take a deeper look on that interface. Thanks for the pointer!

[2018-07-20 05:37] mirandaconrado commented on #1922
@ulfjack, if you don't mind me asking, could you also give some details on how you handle the file download themselves without the remote execution part? More specifically, I'm curious about repositories. We have a pretty big 3rd party library (>10GB) that we update daily and we make it available as a repository in bazel. Currently people have to download it even if they don't use bc it's required

[2018-07-20 06:43] ulfjack commented on #1922
@mirandaconrado That's right. I was just asked a similar question this week. :-)

Unfortunately, I don't know. Bazel will need any BUILD files required to build the repositories, but if there was something to track intermediate artifacts, it could probably also be used to track non-BUILD files. What that would look like, though, I have no idea - internally, we have *everything* checked into a sing

[2018-07-20 09:19] ittaiz commented on #4432
I think there’s something I’m missing.
Is the optimization only about “filtering out those that are derived from
the project sources” or is it something else which I’m missing?
Does jdeps contain additional information about the transitive dependencies
that allows more optimization?

Thank you for taking the time to answer!
On Thu, 19 Jul 2018 at 14:25 brendandouglas <notifications@github.com>
wro

[2018-07-20 09:23] ittaiz commented on #1402
I think in addition to the style issue (non bazelish) then there are two
major challenges with using the solutions @hmemcpy describes:
1. People usually filter out jars which exist in the runtime and not
classes/packages. Choosing the available approach means people need to
“translate” between the paradigms.
2. If someone upgrades a dependency and the dependency changes or adds
packages then those

[2018-07-20 09:40] ittaiz commented on #5154
My main point is that the FED Bazel community is young and small and it seems that already there is a divide on this matter. I don’t mind Bazel supporting this but my concern is more about fragmentation since the FED I’ve talked with (from Wix and other companies) complain about both of these tools (determinism, speed, experience in general) and would like to have Bazel manage everything.

I think

[2018-07-20 10:13] rongjiecomputer commented on #5640
I can reproduce the issue with Bazel from master branch and VS 2017 15.7 and Clang on Windows (master).

@derekmauro I have some idea, but I will need your help to verify it. Can you do the following on Linux machine with GCC/Clang?

1. Run `bazel test --define absl=1 //absl/base:throw_delegate_test`
2. Modify `throw_delegate_test.cc`.
3. Run `bazel test --define absl=1 //absl/base:throw_delegate_

[2018-07-20 11:01] ittaiz commented on #1402
It may be enough. I couldn’t find it in Bazel.
Can I give it a list of labels and then the contents of the related jars
are filtered from the deploy jar?
If so that’s exactly what we want and we’ll be happy to use it.
On Fri, 20 Jul 2018 at 13:19 Ulf Adams <notifications@github.com> wrote:

[2018-07-20 13:08] brendandouglas commented on #4432
Filtering out jars from project sources is separate.

Without jdeps we're forced to include the entire transitive closure of deps to guarantee that source files will completely resolve. With jdeps we can greatly limit what gets added to the project libraries (only jars needed to resolve sources will be added).

[2018-07-20 13:13] ulfjack commented on #5505
There's also #1922.

[2018-07-20 13:14] ulfjack commented on #5505
If you have an implementation of this, how about sharing it? We may have two or three parties interested in implementing changes to avoid downloading intermediate files.

[2018-07-20 13:14] ulfjack commented on #3718
Close this given the recent refactorings?

[2018-07-20 13:22] ulfjack commented on #3320
@robinp Which version of bazel are you on? You need a bazel binary that includes the changes I made in May.

[2018-07-20 13:43] werkt commented on #5505
https://github.com/werkt/bazel/tree/remote-action-file-system

My implementation is awkward for integration, doesn't properly scope out
all of the OutputService behaviors, and does not cause artifacts to be
downloaded yet for critical/local execution, but it does manage to execute
for fully remote executions without downloading anything

On Fri, Jul 20, 2018 at 9:14 AM, Ulf Adams <notifications@gi

[2018-07-20 14:11] derekmauro commented on #5640
Output from step 3:
[code]

[2018-07-20 14:29] mirandaconrado commented on #1922
Yeah, I'm familiar with the legend of Google's monorepo =) In our case, we have a library that people co-develop and it's in a separate repo, so we use a select to either get the nightly or the local, but people using the local have to download anyway.

It seems like remote build actually simplify things in this case. You ask for a remote build, the server checks if it's already built and send bac

[2018-07-20 14:43] ittaiz commented on #1402
I was unclear. Does the attribute receive a list of labels?
Assuming it is any idea what’s the diff for it to be in bazel open source?
On Fri, 20 Jul 2018 at 14:15 Ulf Adams <notifications@github.com> wrote:

[2018-07-20 14:53] ulfjack commented on #1402
See here:
https://github.com/ulfjack/bazel/commit/146e52c28a71d49d56a5f1d832b6c16b6d9dcec1

I haven't tried this (not even to compile), but my earlier code digging says it should just work.

[2018-07-20 15:10] rongjiecomputer commented on #5640
Thanks for the console output. It disprove my guess that the include flags `-I` might be different for GCC/Clang and MSVC. Bazel always add include path `.` before `external/com_google_absl` regardless of compilers.

From what I can see in Bazel's java code, Bazel handles MSVC's `/showIncludes` output and GCC/Clang's `-MD` ouput in different code path (see [0]), but the validation seems to be done

[2018-07-20 17:09] schroederc commented on #5642
I've seen something similar (Clang instead of GCC) while building the [Kythe](https://github.com/google/kythe) project after switching on the ` --experimental_strict_action_env` flag, but only when a `--remote_http_cache` is used (even when the cache is empty) inside our Docker-based builder environment:

[code]

[2018-07-20 17:10] mhlopko commented on #5642
Sorry I missed the notification, I'll take a look first thing on Monday.

[2018-07-20 17:15] schroederc commented on #5642
Another note.  I've seen this happen with Bazel 0.15.2 but have had no problems with Bazel 0.14.0.

[2018-07-20 17:55] xingao267 commented on #5633
Experiencing the similar issue here. I use the output of http_file rule in a pkg_tar rule, which enforces the input to be one of https://github.com/bazelbuild/bazel/blob/master/tools/build_defs/pkg/pkg.bzl#L19. With the skylark http_file rule, I will need to rename it first. I agree with adding an option to `http_file` specifying the downloaded file name.

[2018-07-20 18:22] ThomasColthurst commented on #701
+1 for exporting the internal model.  My project is considering switching from bazel to Makefiles solely to avoid the ODR violations we are currently seeing when using bazel + clif + protobufs.

[2018-07-20 18:58] jin commented on #4103
aapt2 will be fully functional in the next release (0.17.0), and we can schedule to enable it by default for 0.18.0.

[2018-07-20 19:05] nlopezgi commented on #5633
It seems to me that allowing the user to specify the name of the downloaded file would solve all the issues and would not be hard to implement (as long as the list of forbidden names is well known). Is this something that could be considered for implementing soon (as in, before the old rules are deprecated)? Considering the number of files that we currently obtain in this way (and for which there

[2018-07-20 20:12] robinp commented on #3320
@ulfjack

Bazel version:
[code]
I execute `bazel build -s kythe/cxx/extractor/... --action_env NIX_CFLAGS_COMPILE`.

For example, a good subcommand:
[code]

A failing subcommand:
[code]
I can observe that the failing subcommand doesn't have the `NIX_CFLAGS_COMPILE` propagated as I requested. The failure (zlib not found) matches this observation.

Thanks!

[2018-07-21 03:27] jin opened #5648 "0.16.0's analyze-profile --html output is exceedingly large"
### Description of the problem / feature request:

In 0.16.0rc1, the HTML profile generated from `bazel analyze-profile --html` is exceedingly large, containing timestamp `<div>` elements like the following:

[code]

A HTML profile on `//examples/cpp:hello-world` is 48MB and has 420511 lines:

[code]

For comparison, the same profile generated from 0.15.2 is 279 lines:

[code]

### Bugs: what's th

[2018-07-21 03:36] jin commented on #5592
@ericfelly what's the status of this flag?

[2018-07-21 04:02] jin commented on #5648
Bisected to 15b8c259db111012b4642287172cb4d1d82151f3

[2018-07-21 18:08] ittaiz commented on #3115
@dkelmer any chance you know if I can cherry pick this commit onto 0.15.2? Not asking git wise but rather if it's part of a chain of changes.
We've tried using HEAD and are seeing very weird errors (probably unrelated to this change)

[2018-07-21 18:17] mmorearty commented on #5437
We hit this error more and more often. It seems like someone on our team hits it every day. We have had no luck getting a repro scenario.

Some data points:

* Both Mac and Linux.
* Turning off our remote cache does not help.
* We are currently on Bazel 0.15.1 and are still hitting this.
* Our giant spike in occurrences happened when we upgraded from Bazel 0.12.0 to 0.15.0. (Yes I realize that's a

[2018-07-21 18:46] dkelmer commented on #3115
Another option is to try and use the current RC if that one is stable enough for your purposes and cherry pick just the last commit. The RC definitely contains all necessary previous commits.

[2018-07-21 22:18] mmorearty commented on #5437
This seems just like https://github.com/bazelbuild/bazel/issues/5103 ... and yet I am still hitting this with Bazel 0.15.1

[2018-07-22 02:20] jin commented on #5058
https://github.com/bazelbuild/bazel/issues/5648 may be a release blocker due to a bug with `analyze-profile --html`

[2018-07-22 10:43] mrkkrp opened #5654 "Add a way to deprecate attributes of rules"
### Description of the problem / feature request:

Sometimes it is desirable to be able to deprecate certain attributes of a rule, currently there is no way to do that.

### Feature requests: what underlying problem are you trying to solve with this feature?

I want to deprecate an attribute.

###  Have you found anything relevant by searching the web?

No.

### Any other information, logs, or out

[2018-07-22 11:39] natansil commented on #3115
Hey @dkelmer I've tried building a bazel version, where I've started from 0.15.2 and cherry-picked c349585 and 3149beb
I'm getting the following error:
[code]

I've created a branch in my fork with these changes:
https://github.com/natansil/bazel/tree/special_version

Why am I getting this error? Do I need another commit?
CC: @ittaiz

[2018-07-22 11:45] Pmcneice commented on #2694
It looks like there has been various commits in relation to this issue since the last comment - just wondering how close we are to having databinding support up and running?

[2018-07-22 14:48] natansil commented on #3115
please note the same error happened when working from `0.16 rc3` sa well
@dkelmer @ittaiz

[2018-07-22 16:35] jin commented on #2694
@ahumesky

[2018-07-23 07:10] ulfjack commented on #5648
Fixed in f45c22407e6b00fcba706eb62141cb9036bd38d7. @lberki

[2018-07-23 07:10] #5648 closed

[2018-07-23 07:14] ulfjack commented on #5572
The referenced change 849df36 is already in 0.15, so either there's already a regression in 0.15, or that's not the one.

[2018-07-23 08:40] iirina commented on #5644
Hi Vladimir,

There is no specific reason for the hardcoded path other than easy implementation. Coverage support is not in a good shape and it's something we are working on improving this quarter - not hardcoding the lcov path is one of the things on our agenda.

[2018-07-23 09:01] ulfjack commented on #4608
Progress: a6255612e4892729d3758775c76085b26b9bc584 removes one of the metadata caches, which should allow the split to move forward now.

[2018-07-23 12:49] buchgr commented on #5058
Please cherry-pick 3842bd39e10612c7eef36c6048407e81bcd0a8fb

[2018-07-23 14:01] #5331 closed

[2018-07-23 15:19] laurentlb commented on #5581
Repro:

sass.bzl
[code]

BUILD
[code]

`bazel build --nobuild :foo`

[2018-07-23 16:50] cushon commented on #5599
@buchgr the toolchain includes JVM flags that are supposed to quiet those warnings, but I guess they aren't working:

https://github.com/bazelbuild/bazel/blob/6c8166e2ff915f8a903365c9ec223068ae453751/tools/jdk/default_java_toolchain.bzl#L42

[2018-07-23 17:00] cushon commented on #5599
Ah, we also want `--add-opens=java.base/java.lang=ALL-UNNAMED`.

[2018-07-23 17:03] cushon commented on #5426
When `JavaBuilder` loads plugins it uses a non-standard classloader that prevents classes from `JavaBuilder` 'leaking' on to the plugin classpath:

https://github.com/bazelbuild/bazel/blob/6c8166e2ff915f8a903365c9ec223068ae453751/src/java_tools/buildjar/java/com/google/devtools/build/buildjar/javac/BlazeJavacMain.java#L236

Maybe those are interfering with jacoco?

It seems suspicious that the plu

[2018-07-23 17:48] cushon commented on #5572
This is the outcome of the default RHS --host_javabase being JDK 9, and the default --javabase being JDK 8.

Using a JDK 8 RHS --host_javabase should work around it, but that configuration won't be supported indefinitely.

Using a JDK 9 --javabase would also resolve this, but that isn't supported yet.

[2018-07-23 17:52] cushon commented on #5594
To confirm, is the request to support using the embedded JDK as the `--javabase`?

If the goal is to have `--javabase` versioned with your respository, have you considered versioning a separate JDK?

[2018-07-23 18:16] ianoc-stripe commented on #5572
distinct_host_configuration i've used a few times with mixed success, we mostly have pure jvm repos, and some usage of scripts or other oddities has caused us to sometimes to build for both host and target which is a waste. So this was good to just enforce we don't do it twice. That said i don't need this option -- but if its broken we probably need to flag it as a breaking change/going away?

The

[2018-07-23 18:19] cushon commented on #5572
I agree this is unfortunate. I think maybe Bazel team has some ideas about a more focused solution to this, but I'm not sure what the current status is.

[2018-07-23 18:56] brian-peloton commented on #5594
Not quite. What I'm really looking for is a way to completely eliminate uses of any JDKs found via `which javac` or `$JAVA_HOME` or any other form of looking around on the system. Experimenting with `--javabase=@embedded_jdk//:jdk --host_javabase=@embedded_jdk//:jdk` just now, builds still fail on a machine with a weird (broken?) JDK exposed via `which javac` because that JDK is missing jar files

[2018-07-23 18:57] dhalperi commented on #5331
Just pulled HEAD, indeed this works! Thanks!

Now all I'm missing is a way to aggregate all the coverage data :p. But you already have a plan for that, too, I believe.

[2018-07-23 19:15] cushon commented on #5594
To try to recap, there are three JDKs:
1) the JDK used to run Bazel itself. This is the `startup --host_javabase` (i.e. the LHS host_javabase)
2) the JDK used to run host tools that run during the build, e.g. javac. This is the `build --host_javabase` (i.e. the RHS host_javabase)
3) the JDK that the build is targeting, that is used to run any `java_binary` and `java_tests` that a build produces. T

[2018-07-23 20:04] dkelmer commented on #3115
I can't seem to reproduce the error (on linux, about to try on a mac). But the error you're seeing is unrelated to the cherry-picked changes/not an indication of other missing commits. What version of released bazel are you using to build your branch? Bazels cut past the 0.15 cut can only be built with bazel 0.15+ (issue for reference: https://github.com/bazelbuild/bazel/issues/5493). Another thin

[2018-07-23 22:38] ahumesky commented on #2694
We're working to upgrade databinding in bazel to the latest version to support androidx / jetpack, as well as make depending on databinding easier. We've also found some bugs with databinding + android_instrumentation_test. We hope to have these issues sorted out in the next couple of weeks.

[2018-07-23 23:19] mmorearty commented on #5437
In the case of the one user who I know was still getting this after a `bazel clean --expunge`, it turns out the cause of the error was something else for him. On his machine, `JAVA_HOME` was not set; when he set it and did the build again, it succeeded.

A for the rest of my users who have hit this, it's possible that this problem went away for them after `bazel clean --expunge`. So in other words

[2018-07-24 01:02] grooverdan opened #5657 "feature request: ppc64le package of bazel in bazel-apt respository"
### Description of the feature request:

Please add a ppc64le package for bazel to the following apt repository
'deb http://storage.googleapis.com/bazel-apt stable jdk1.8'

### Feature requests: what underlying problem are you trying to solve with this feature?

The ability to consume bazel on POWER8/9 hardware in a CI environment.

### Bugs: what's the simplest, easiest way to reproduce this bug?

[2018-07-24 06:33] mhlopko commented on #3315
I believe this is fixed. Please complain if I'm wrong.

[2018-07-24 06:33] #3315 closed

[2018-07-24 06:36] mhlopko commented on #5410
Protobuf is green now. Closing.

[2018-07-24 06:36] #5410 closed

[2018-07-24 06:38] mhlopko commented on #5642
Looking now.

[2018-07-24 07:12] mhlopko commented on #5642
In case of TF build, the problem seems to be that the toolchain is configured for gcc-7 (extrapolating from the include path, e.g. `/usr/lib/gcc/x86_64-linux-gnu/7/include/stddef.h` contains 7, which suggests gcc-7). But I only see gcc-5 installed on the worker.

Coincidentally, we have now ubuntu-18 workers, that have gcc-7 installed.

Probably remote cache doesn't like our nonhermetic toolchain.

[2018-07-24 07:49] iirina commented on #5331
You can use
[code]
 with Bazel @ HEAD and it should generate an aggregated report under
[code]

[2018-07-24 08:11] iirina commented on #5128
Can someone verify if this is still happening with the latest Bazel release?

[2018-07-24 08:56] #5599 closed

[2018-07-24 09:51] ulfjack commented on #1922
We use the hash of an output file to compute the hash for a subsequent step that uses that output file as input.

[2018-07-24 09:53] iirina commented on #5426
IMO they should not be instrumented, but `java_plugin` has almost the same implementation as `java_library`. It looks like they are instrumented and I was wondering how we got away with it until now. My  guess is the plugins are usually filtered away since they are in different packages. @robfig are you using `--instrumentation_filter`? You can also use this flag to exclude targets. Maybe the filt

[2018-07-24 09:56] aehlig opened #5660 "Support verification of external repositories"
For external repositories that are supposed to fetch sources (like `git_repository`, `http_archive`) we expect the generated directory for the external repository to be reproducible. While we generally trust the rule authors to achieve this, there is no way of verification (similarly, we trust build rules to declare all dependencies, but still use sandboxing to detect missing declarations).

With

[2018-07-24 11:10] iirina commented on #4544
e8956648d1c94a3a51e1aba5d229d1f27bdf8e35 should fix the strict deps issue.

[2018-07-24 11:10] #4544 closed

[2018-07-24 11:13] iirina commented on #4384
Please reopen if this still happens.

[2018-07-24 11:13] #4384 closed

[2018-07-24 11:14] iirina commented on #4297
Please reopen if you still consider this is needed.

[2018-07-24 11:14] #4297 closed

[2018-07-24 11:16] iirina commented on #3204
@robfig please reopen if this is still happening.

[2018-07-24 11:16] #3204 closed

[2018-07-24 11:16] iirina commented on #3247
Closing as duplicate.

[2018-07-24 11:16] #3247 closed

[2018-07-24 12:53] buchgr commented on #5047
I still can't repro, but I could verify that the go stdlib output is in fact a huge directory(22KiB metadata) by running this command inside the `ac` folder of the remote cache:

[code]

[2018-07-24 13:41] alexeagle commented on #5154
I don't think we can force everyone to vendor their dependencies, but it
would be a great blog article to explain how we do it at Google with
examples for external users to follow.

On Fri, Jul 20, 2018 at 2:40 AM Ittai Zeidman <notifications@github.com>
wrote:

[2018-07-24 14:41] aehlig commented on #5404
Is there a way to reproduce the error using only bazel proper, or, at least, can you provide more information on the `//:gazelle` target in your main repository that you rely on? Thanks.

[2018-07-24 14:46] jayconrod commented on #5128
This is still happening in 0.15.2, but I can't reproduce anymore in 0.16.0-rc3. Thanks for fixing it!

[2018-07-24 14:48] iirina commented on #5128
Thanks for checking!

[2018-07-24 14:48] #5128 closed

[2018-07-24 14:59] ulfjack commented on #1402
Are you referencing a java_binary in deploy_env?

[2018-07-24 15:15] hmemcpy commented on #1402
Oh wow, my bad!
Yes, it works with `java_binary` targets!
I'll report back whether it suits our needs. Thanks!

[2018-07-24 15:40] buchgr commented on #5058
#5047 is a blocker. I ll have a fix by tomorrow.

[2018-07-24 15:44] #5592 closed

[2018-07-24 15:46] buchgr commented on #5047
Ok that took a while, but I believe I understand the error now.

So effectively we asynchronously trigger concurrent downloads for all output files, which gives us a list of futures and we then at the end we wait for all downloads to finish. If one download fails, we immediately trigger a routine to delete all output files (which fails), so that we can continue with local execution instead.

Howev

[2018-07-24 15:55] lupino3 opened #5663 "Support neverlink attribute in maven_jar"
### Description of the problem / feature request:

Add support to the neverlink attribute in the maven_jar rule.

### Feature requests: what underlying problem are you trying to solve with this feature?

I have a Java dependency (JavaHelp) which in a specific scenario I'd like to be available at compile time but not include in the final fat JAR (<project>_deploy.jar).

My understanding is that mav

[2018-07-24 16:22] BenTheElder commented on #5047
Thanks @buchgr!

[2018-07-24 16:42] dhalperi commented on #2528
After recent work, this command will generate a beautiful combined coverage
[code]

But if suffers from all the issues here. `genhtml` will, when ignoring errors, produce a useful file (though it flattens the java package hierarchy for some reason?).

`genhtml -o coverage bazel-out/_coverage/_coverage_report.dat --no-source`
and
`genhtml --ignore-errors source -o coverage bazel-out/_coverage/_cove

[2018-07-24 16:55] katre commented on #5223
Work on this is happening, I have a plan to allow toolchains to expose a [TemplateVariableInfo](https://docs.bazel.build/versions/master/skylark/lib/platform_common.html#TemplateVariableInfo) provider, and have that get picked up and exposed in the rule context for variable expansion. Expect some work in a few weeks (there are other changes blocking the way, first).

[2018-07-24 18:02] nlopezgi commented on #4691
sorry for the late reply @laszlocsomor
JRE is not always available on remote machines. For rules that need to use it, we recommend they do via toolchain rules - not via PATH or via a hardcoded path (https://docs.bazel.build/versions/master/remote-execution-rules.html#invoking-build-tools-through-toolchain-rules).

My 2c on the wider conversation:
- for SingleJar and iJar in remote execution, we ha

[2018-07-24 19:02] c-parsons commented on #5058
If I understand correctly, looks like #5572 was present in 0.15.0 so it's a non-blocker.

I am waiting on #5047 to be resolved before creating rc4.
For additional cherry-picks so far for rc4 we have:
f45c224    3842bd3

[2018-07-24 19:04] buchgr commented on #5058
@c-parsons working late on a fix :-)

[2018-07-24 19:21] ianoc-stripe commented on #5058
#5572 wasn't present in 0.15.{0,1, 2} since thats what we run internally with distinct host configuration enabled. Though from the state there it looks like this isn't easily fixable, and has a somewhat workaround. So we might just want to note that in the release notes?

[2018-07-24 19:33] mboes commented on #5223
Excellent news. Thanks!

[2018-07-24 21:20] natansil commented on #3115
@dkelmer, I've managed to successfuly build another version in a linux docker container on top of 0.16 rc3.
https://github.com/natansil/bazel/tree/0.16-mapping-self-repo

tomorrow I'll check it more extensively. hope it should be ok...
thank you for your help!

[2018-07-24 21:35] dkelmer commented on #5663
Perhaps I'm misunderstanding your issue but it seems like setting neverlink on the java_import rule that represents JavaHelp is exactly what you want to do. That will make the JavaHelp dependency available to your target that's depending on it at compile time but won't include it in the final deploy jar of your target. Could you clarify why you can't set neverlink?

[2018-07-24 21:39] dkelmer commented on #5654
One way to do this is to set the default value of the attribute to None and then in the rule implementation check if the attribute is set to anything other than None and print a warning to the user

[2018-07-25 03:06] mrkkrp commented on #5654
That what we already do.

[2018-07-25 04:58] fdchiu commented on #3426
I had this problem when I built the whole tensor flow from source. I found that in my case I had another workspace under tensor flow subdirectories (I might accidentally built from this sub dir before). Once I deleted it the problem went away.

[2018-07-25 06:50] laszlocsomor commented on #4691
@nlopezgi : thanks for the info!

FYI, meanwhile I finished the draft of my design doc on Bash-less (and Perl-less) test execution on Windows, see https://github.com/bazelbuild/proposals/pull/16. In that doc I argue for using a precompiled Windows binary, because Bazel only runs on x86_64 Windows and AFAIK remote execution also only runs x86_64 Windows, so binaries are portable.

Are you suggestin

[2018-07-25 07:18] davido commented on #5663
There are currently number of native ways in Bazel to consume external dependencies:

* Native `maven_jar`: neverlink attribute is missing
* Skylark `maven_jar`, the one you linked in the description: neverlink attribute is missing
* `java_import_external`: neverlink attribute is provided

See this thread for more background: [1].

Needless to say, that it is trivial to write YAMJ (Yet Another Mav

[2018-07-25 09:44] gergnz commented on #5404
I'm not an experienced bazel user, but the project that I was trying to build was: https://github.com/lucperkins/colossus.

Hopefully that helps.

[2018-07-25 12:42] #5443 closed

[2018-07-25 12:42] ulfjack commented on #1402
Yes, that's right, unless you pass through a non-Java rule, like so:
[code]

In this case, original.jar ends up on the classpath, even though it is in the transitive closure of the deploy_env.

[2018-07-25 12:43] #5047 closed

[2018-07-25 12:44] buchgr commented on #5047
This issue has been fixed in master (I hope :D). It will be cherry-picked into the next release candidate for 0.16.0. Would be great if you could give it a spin!

[2018-07-25 12:45] buchgr commented on #5058
please cherry-pick ` bca1912` which fixed #5047

[2018-07-25 12:45] steeve commented on #5047
Will do! I'll monitor the rcs
On Wed 25 Jul 2018 at 14:45, Jakob Buchgraber <notifications@github.com>
wrote:

--
twitter.com/steeve
github.com/steeve
linkd.in/smorin

[2018-07-25 12:46] buchgr commented on #5047
It will be release candidate 3. should be out later today.

[2018-07-25 13:39] lupino3 commented on #5663
@dkelmer setting neverlink is what I'd like to do. But my understanding is that the `java_import` rule created by `maven_jar`is not accessible. Is there a way I can set `neverlink` on the generated rule?

@davido I'd like to avoid writing new rules. I'll try out `java_import_external` and see if I can make it work. Thanks!

[2018-07-25 13:53] nlopezgi commented on #4691
I think the decision to use pre-compiled binary incurs in some technical debt that someone might end up having to pay down the line (e.g., whenever we decide to allow something else other than x86_64 Windows), but I understand there might not be other feasible solutions.

wrt using C++, we do have a restriction of currently needing C++ compiler for any builds that require use of java rules. I'm no

[2018-07-25 14:05] laszlocsomor commented on #4691
Thanks.

Re: technical debt: I hear you, but your point sounds rather speculative, so I'd not worry about non-x64 Windows platforms for the foreseeable future (say 1 year).

Re: compiler: since you don't want to require it for tests, which I also agree with, I think C++ is *not* the right language for the test wrapper on Linux. (It still seems like the right choice on Windows.)

But then I don't k

[2018-07-25 14:51] alexeagle opened #5669 "protoc doesn't compile on Windows"
[code]
Bazel 0.15.0

Repro:
Clone https://github.com/alexeagle/rules_typescript/tree/ts_auto_deps
Run `bazel build ts_auto_deps`

[2018-07-25 15:44] laszlocsomor commented on #4691
@nlopezgi , another question: do you know how Bazel cancels a remotely running test action in case the user presses Ctrl+C? Does Bazel dispatch this to the remote service or does it just close the connection?

[2018-07-25 15:46] Globegitter commented on #2303
Yeah it is interesting, it does seem to work for some rules but not for others. It does work for example for `py_image` but not for `par_binary` or `py_library`. Would be great if that would work consistently for all targets.

[2018-07-25 16:00] nlopezgi commented on #4691
re: compiler: I did not state I did not want to require it for tests, just that I was not sure its the right choice and don't want to be the one to make it w/o at least conferring with some other folks (I'll get back to you once I've confirmed). imo, if some tool is to be required for all tests, i'd rather it is the c++ compiler (instead of perl or python), but not sure what the trade-offs (effort

[2018-07-25 20:37] BenTheElder commented on #5047
Thank you! We'll start testing once the RC is out :smile:

[2018-07-25 20:49] aehlig commented on #4888
If we want the ignored directories to be mentioned in the WORKSPACE, at least we have a hack to work around it by adding

[code]

to the `WORKSPACE`. Still not a proper solution, but maybe something we can live with for the time being.

[2018-07-25 21:00] #5542 closed

[2018-07-25 21:21] ixdy commented on #4888
@aehlig that doesn't work for kubernetes' needs, at least:

[code]

[2018-07-25 21:35] dkelmer commented on #5630
In order to access the location of generated files you need to use $(location label) https://docs.bazel.build/versions/master/be/make-variables.html#location

[2018-07-25 21:47] dkelmer commented on #5614
I don't see a What About Python section in the linked page. Could you try another link?

[2018-07-25 21:48] c-parsons commented on #5058
rc4 is out.
new cherrypicks since rc3:
f45c224 3842bd3 bca1912
Announcement incoming.

[2018-07-25 21:56] zanes2016 commented on #5614
It looks like that section has been removed since I first posted this

[2018-07-25 21:56] #5614 closed

[2018-07-25 22:45] petemounce commented on #5058
rc4 is on chocolatey

[2018-07-25 23:35] yinanfang commented on #5437
@mmorearty we upgraded bazel to 0.14.1. In the first week, we still keep getting that errors very often. We have to keep cleaning the cache to make it work. However, it has been working fine for the last 2 weeks for some reasons.

[2018-07-26 03:33] ashi009 commented on #5573
volatile status won't trigger a rebuild, only stable ones will.

Please prefix your status with `STALE_` and try again.

https://docs.bazel.build/versions/master/user-manual.html#flag--workspace_status_command

[2018-07-26 03:58] tnarg commented on #5573
If volatile status isn’t a valid input, it seems like it should be rejected. As it stands it can lead to confusing results like a binary with an embedded git sha1 the doesn’t actually match that of the ref it was built from. The current behavior seems very brittle.

[2018-07-26 04:04] tnarg commented on #5573
If I prefix the keys with STABLE_ can I access them from ctx.info_file?

[2018-07-26 04:13] ashi009 commented on #5573
The behavior is well documented. I don't see a problem with the current design.

More over, the existence of volatile status provides an interface for bazel actions to access non-critical workspace status.

[2018-07-26 06:59] aehlig commented on #5660
Current state is that a hash of the output directory is included in the resolved file since 49212c43c1aef61319d69760ca79151636988b68. Following and freezing dependencies still works as described in the blog post on [bazel sync and resolved files](https://blog.bazel.build/2018/07/09/bazel-sync-and-resolved-file.html) and the resolved file also contains an additional entry `output_directory_hash` in

[2018-07-26 07:12] aehlig commented on #4888
Ah, good point. Thanks.

I'll try and see if I can find a way to change bazel to have the ability to really ignore subdirectories. I'm not sure, how feasible it is, though.

[2018-07-26 09:51] laszlocsomor commented on #4691
I was too optimistic with the "clever sed program". The task is to UTF-8-decode an octet-stream, test decoded characters if they fall into any of some disjoint ranges and replace them with "?", then UTF-8-encode the result again.

I'm not aware of an efficient way to do this without encoding and decoding.

[2018-07-26 10:09] ulfjack commented on #4691
You don't need to decode and re-encode - you can simply test on the utf-8 representation using seds regexp support.

[2018-07-26 10:18] laszlocsomor commented on #4691
How? Does `sed` support matching UTF-8 strings?

[2018-07-26 11:47] ulfjack commented on #4691
After a lot of trial and error, I've come up with a sed script that - I think - does what we want:
[code]

[2018-07-26 11:50] ulfjack commented on #4691
First, add a single white space character (' ') to the end of each line. Second, replace all (possibly empty) sequences of legal characters followed by a character with the sequence of legal characters followed by a question mark character ('?'). Third, remove the trailing question mark character ('?') from each line.

[2018-07-26 12:30] laszlocsomor commented on #4691
Sorry that's wrong. I meant, you need to cover the U+80 .. U+7FF range, which covers the entire 2-octet range and part of the 3-octet range.

[2018-07-26 12:31] laszlocsomor commented on #4691
Sorry, I got confused, gimme a minute to correct this.

[2018-07-26 12:33] laszlocsomor commented on #4691
This is wrong. I meant to say: you need to cover the U+80..U+7FF (two UTF-8 octets) and U+800..U+D7FF (three UTF-8 octets) ranges. The 2-octet domain is covered correctly (`[\xc0-\xdf][\x80-\xbf]`), but I think the 3-octet-matching regex is wrong in your solution.

[2018-07-26 12:42] ulfjack commented on #4691
Ok, how about this:
[code]

[2018-07-26 12:45] ulfjack commented on #4691
Wait, there's still one range missing. Gah!

[2018-07-26 12:47] laszlocsomor commented on #4691
Ah I see where I was wrong, you are right to match 0800-CFFF and match D000-D7FF separately.

[2018-07-26 12:52] dkelmer commented on #3115
Just to follow up, I wasn't able to reproduce the error on a mac either, but I'm glad you got it working on linux :)

[2018-07-26 13:00] ulfjack commented on #4691
Another try:
[code]

[2018-07-26 13:15] aehlig commented on #4888
Interestingly enough, bazel kind-of has support to ingore certain directories. E.g., we
could support a file `.bazelignore` by simply adding

[code]

However, that only mostly ignores the directories mentioned in the .bazelignore file.
Symlink loops are still not allowed in the "ignored" directories.

--
Klaus Aehlig
Google Germany GmbH, Erika-Mann-Str. 33, 80636 Muenchen
Registergericht und -numm

[2018-07-26 13:19] ulfjack commented on #4691
Ok, I wrote a small Java program to double-check the pattern, and it returned the expected ranges:
[code]

[2018-07-26 13:20] laszlocsomor commented on #4691
I'm glad we are free now.

[2018-07-26 13:41] ulfjack commented on #4691
Ok, I have a patch which conflicts with my other changes to test-setup.sh. Both are a bit risky, and we need to pick one to be merged first.

[2018-07-26 13:42] laszlocsomor commented on #4691
If you have changes lined up, merge those first.
This bug has been open for a long time, it's OK to wait another day.

[2018-07-26 15:30] cushon commented on #5594
@philwo @buchgr FYI

There's some discussion happening about making it possible to configure host JDKs using remote repositories or similar, and it would probably be possible to use the same approach for target JDKs. So if you want the ability to version the host and target JDKs and avoid implicitly depending on the local JDK that'd be another way to approach it.

This original feature request (of

[2018-07-26 16:33] #5573 closed

[2018-07-26 17:23] ittaiz commented on #5594
@cushon
Are there tickets for these discussions (depending on an external versioned
jdk for host/target)?
On Thu, 26 Jul 2018 at 17:30 Liam Miller-Cushon <notifications@github.com>
wrote:

[2018-07-26 19:06] werkt commented on #3599
`bazel info release` suffices for this, recommend it be closed.

[2018-07-26 19:29] sri123098 commented on #4225
Could you please let me know how you have fixed this?

[2018-07-26 19:36] jbduncan commented on #3599
@werkt Sure, but it doesn't solve the problem that it's non-intuitive to people who are so used to the GNU convention of -v and --version, which in my experience is by far the most common way of allowing people to query version information in other command-line tools.

So I vote to keep this open until https://github.com/bazelbuild/bazel/pull/3671 is closed.

[2018-07-26 20:26] dkelmer opened #5676 "Tensorflow and Tensorflow serving failing in downstream projects"
Tensorflow https://buildkite.com/bazel/bazel-with-downstream-projects-bazel/builds/360#d9a1592b-8663-4e19-a738-50e4351cece9
and Tensorflow Serving https://buildkite.com/bazel/bazel-with-downstream-projects-bazel/builds/360#5e9ae03f-f6ec-4ddf-82f2-3495d1846825

are failing with errors like "Couldn't build file external/protobuf_archive/_objs/protoc_lib/java_message_field.o: undeclared inclusion(s)

[2018-07-26 20:29] dkelmer opened #5677 "Tensorflow downstream failing on windows"
Link to last night's run: https://buildkite.com/bazel/bazel-with-downstream-projects-bazel/builds/360#bedc24a2-98b8-4449-bfae-d66786fbc815

ERROR: Unrecognized option: --experimental_shortened_obj_file_path=true

[2018-07-26 20:41] hsyed opened #5678 "Android rules should accept JavaInfo providers."
I am prototyping with android support in the Kotlin rules. The Android rules  require jars to be `java_import`'ed. I don't see a work around to this as it applies transitively to all deps.

[2018-07-26 20:45] ahumesky commented on #5678
This commit should enable the android rules to depend on rules which have the javainfo provider:
https://github.com/bazelbuild/bazel/commit/c68645fda6198a46ac510c832c9b374ae3f20680

Which version of bazel are you working with?

[2018-07-26 20:57] hsyed commented on #5678
Version and error:

[code]

sandwich structure I am prototyping with:

[code]

[2018-07-26 21:22] dkelmer opened #5680 "Bazel remote execution failing on CI with downstream projects"
https://buildkite.com/bazel/bazel-with-downstream-projects-bazel/builds/360#a3057134-c425-477f-916e-81315e462a59

With error: Couldn't build file external/com_google_protobuf/_objs/protoc_lib/java_generator.o: C++ compilation of rule '@com_google_protobuf//:protoc_lib' failed (Exit 1)
--
  | <The executable does not exist or a dependent library is missing>
  | <Check for missing .so/.dll in the .i

[2018-07-26 21:31] dkelmer opened #5681 "bazel toolchains failing with downstream dependencies"
https://buildkite.com/bazel/bazel-with-downstream-projects-bazel/builds/360#be21b444-b113-4495-805a-ad3c5a770c08

Error: 'DefaultInfo' object has no attribute 'runfiles'

[2018-07-26 21:39] c-parsons commented on #5681
I believe https://github.com/bazelbuild/bazel-toolchains/pull/138 will solve this.

[2018-07-26 22:23] dkelmer opened #5682 "rules_go failing in downstream projects"
The rules_go pipeline is failing with bazel at head.

Buildkite run: https://buildkite.com/bazel/bazel-with-downstream-projects-bazel/builds/360#c239be72-20fc-4c59-ad7a-e5b852efc108

ERROR: /var/lib/buildkite-agent/builds/buildkite-worker-ubuntu1404-java8-x775-1/bazel-downstream-projects/rules_go/proto/wkt/BUILD.bazel:3:1: in compilers attribute of go_proto_library rule //proto/wkt:descriptor_go_p

[2018-07-26 22:26] dkelmer opened #5683 "rules_apple failing with downstream projects"
rules_apple are failing with bazel at head: https://buildkite.com/bazel/bazel-with-downstream-projects-bazel/builds/360#c1ba3035-bbe4-4335-a513-36ac4d25ab86

ERROR: /Users/buildkite/builds/buildkite-imacpro-3-1/bazel-downstream-projects/rules_apple/test/testdata/binaries/BUILD:12:1: Couldn't build file test/testdata/binaries/empty_staticlib-fl.a: Linking of rule '//test/testdata/binaries:empty_sta

[2018-07-26 23:01] ahumesky commented on #5678
I believe the problem here is that the android incremental dexing aspect is not traversing the kotlin rules.

Try adding `provides = [JavaInfo]` to the skylark rule definitions.

You may also need to add an attribute called `runtime` to any kotlin toolchain rules so that the aspect will dex the jars from the runtime. Something like:

    def _kotlin_toolchain_impl(ctx):
      toolchain = dict(

[2018-07-27 13:30] castler opened #5686 "Usage of TreeArtifacts with cc_library produces non-deterministic output"
### Description of the problem / feature request:

When using `TreeArtifacts` with `cc_library` the output of the library is non-deterministic because order of object files in the resulting library can change even if same source tree is involved.

Presumably the order relies on (unsorted) listing as returned by the underlying filesystem.

In case of tree artifacts, it's likely OK to not care about

[2018-07-27 14:23] waffel opened #5689 "cannot use bazel with protected nexus maven repository to fetch dependencies"
### Description of the problem / feature request:

When using bazel in a coperated and restriced environment to build maven like projects, the transfer of external dependencies fails.

I started with a simple project from the bazel universum itself: https://docs.bazel.build/versions/master/generate-workspace.html

git clone https://github.com/bazelbuild/migration-tooling.git

When invoking the baz

[2018-07-27 14:29] bweston92 commented on #5447
I've just used your arguments in order to setup mine and it works fine, is the service account linked to the JSON key have correct permissions for the bucket?

[2018-07-27 15:22] Globegitter commented on #5630
But that does not work in the case of a js bundler. The bundler reads the entry point source file it gets passed in, then just sees stuff like `import bla from `component/mygeneratedcomponent`; or similar. It does not know anything about bazel and does not get passed in anything explicitly from bazel. I know in other cases this is done by overriding how the import works but this bundler does not h

[2018-07-27 16:06] hsyed commented on #5678
@ahumesky I've created a [scratch branch](https://github.com/bazelbuild/rules_kotlin/tree/hs_android) Could you please have a look.

//example/android contains a `android.bazelproject`.

The last commit in the branch adds changes to the rules. I added the changes you suggested, the `provides =[JavaInfo]` got me further along. But I am back in the same spot again it seems:

[code]

The stdlib deps

[2018-07-27 16:23] hsyed opened #5691 "Integration testing kotlin android aspect without a local SDK installation or AS."
I don't do any android development but I am working on support for android. I need to be able to integration test the Android aspect without having to setup a local SDK or having to install AS -- the tests should be runnable on the CI servers as well.

I won't be able to commit to Android support unless I can easily verify it.

I think the  android SDK  should be evolved into a toolchain and non-l

[2018-07-27 17:43] jayconrod commented on #5682
@dkelmer I looked into this a bit. I think it's related to the fix for #3115 (thanks for working on it by the way, and sorry I didn't have time to verify it earlier). I think we're getting an error because we're expecting the `GoProtoCompiler` provider from `@io_bazel_rules_go`, but we're getting the provider from `@` (they should be the same).

I was able to reproduce this with 5194dfd8bafd27dfc2

[2018-07-27 18:17] edbaunton commented on #5660
This all looks reasonable to me.

1. Is the plan to always produce `WORKSPACE.resolved` or only when `--experimental_repository_resolved_file` is specified?

1. Do you think it would be effective to leverage etags as an optimisation to the http rules to prevent excessive redownloading of unchanged content during `bazel sync`? Do we trust the web server enough?

1. I was wondering whether it would

[2018-07-27 18:21] dkelmer commented on #5682
Thanks so much for the repro case, the issue is with the load statement in the def.bzl file. If you leave everything as is (or even mess around with the other labels to have/not have @example_repo) but just change the load in def.bzl to be:
load("//proto:compiler.bzl", "GoProtoCompiler")
then the build succeeds. I'm not sure why that's the case yet, but I'm investigating.

[2018-07-27 18:26] #5676 closed, assigned to hlopko

[2018-07-27 18:34] dkelmer commented on #5681
bazelbuild/bazel-toolchains#138 has been merged, closing for now but will note to follow up to make sure failures in nightly go away

[2018-07-27 18:34] #5681 closed

[2018-07-27 18:58] jin commented on #5691
These are super great ideas :+1:, and thanks for your contributions! Breaking it down into individual feature requests:

1) Bazel can automatically download the Android SDK, call `sdkmanager` and download required components like `build-tools`, `platform-tools` and `android.jar`.

[There is a project that replaces `android_sdk_repository` with a downloader version](https://github.com/quittle/bazel

[2018-07-27 19:14] agoulti opened #5695 "Platform resolution broken for local docker"
### Description of the problem / feature request:

https://github.com/bazelbuild/bazel/commit/ddebc72255212c808db21d146078b3b3f5897038 breaks local docker platform resolution

### Bugs: what's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Here is an example run:
bazel clean && bazel run --experimental_remote_platform_override='properties:{ name:"co

[2018-07-27 21:14] #5695 closed

[2018-07-27 22:59] alexeagle opened #5697 "Error reporting: help users understand they are missing a transitive WORKSPACE dep"
In rules_typescript and rules_nodejs we are increasingly picking up transitive dependencies on more workspaces. This makes the upgrade path very confusing for our users.

For example, today I got this report:
[code]

The last line talks about cycles detected, which is extra scary, and it suggests maybe an ordering problem. It doesn't say anything about the most common case which is that you just d

[2018-07-28 01:24] startcode opened #5700 "how to use user-defined xxx_library in cc_library?"
### Description of the problem / feature request:

Hi, I am trying to create a 'cuda_library', which is like 'cc_library', so that I can use it to compile some cuda code in my project. It is like the following:

[code]
My definition of 'cuda_library' is like
[code]
Now I made it work. it can successfully generate `libcuda_util.so`, however, my other `cc_library` modules cannot depend on it. The er

[2018-07-28 11:59] robfig commented on #5426
Yep, we can avoid running coverage on the plugin as a workaround. Thanks

[2018-07-30 04:17] rongjiecomputer commented on #5700
Just put `:cuda_util` in `srcs` of a `cc_library` instead of `deps`.

[2018-07-30 15:51] c-parsons opened #5709 "Skylark should validate that only one instance of a provider is being returned by the rule"
I received some complaints from a user that there's some very confusing behavior surrounding returned providers from a Skylark rule implementation.
Namely, if a rule implementation returns multiple providers of the same type, i.e.

[code]

that the last such provider is the only one propagated, and each other provider is silently dropped.

This reportedly led to about a day of lost work for this u

[2018-07-30 15:51] jin commented on #5680
/sub

[2018-07-30 15:51] jin commented on #5682
/sub

[2018-07-30 15:51] jin commented on #5683
/sub

[2018-07-30 15:52] jin commented on #5677
/sub

[2018-07-30 15:57] indrgun commented on #4248
We are setting the output_user_root in .bazelrc local in the root workspace.
startup --output_user_root <other-directory-path-other-than-home>

However, in $HOME/.cache/bazel is still created and occasionally, it is filing up the quota for a person home directory causing bazel build to fail.

Is there a way to specify different .cache other than the home directory?

[2018-07-30 15:59] jin commented on #5642
/sub

[2018-07-30 16:01] mhlopko commented on #5680
I'm sorry I didn't have time to look into this one today. Will take a look tomorrow.

[2018-07-30 16:02] mhlopko commented on #5642
I'm sorry I didn't have time to look into this one today (still recovering from the training last week). Will take a look tomorrow.

[2018-07-30 16:03] c-parsons opened #5710 "incompatible_disable_objc_provider_resources"
`ObjcProvider` resource fields are deprecated and will be removed. We don't expect any OSS clients from using these fields since most of their uses came from rules_apple, and have been migrated for some time now.

If you are using the following ObjcProvider fields directly, please reply on this bug for instructions on how to migrate to an acceptable approach:

* `ASSET_CATALOG`
* `BUNDLE_FILE`
* `

[2018-07-30 17:50] dapirian commented on #5239
Update - this only happens if I give `so`s to static_runtime_libs. It accepts `.a`s, but "runtime libs" implies libs that should be present in runtime, so super confusing. As far as I can tell there's no way to make a `linkstatic = 1` cc_binary to dynamic link the standard library, which is a problem.

[2018-07-30 18:51] statik commented on #1402
I'm excited to find this issue, this is exactly what I need in order to use bazel to build jars that are plugins for a keycloak.org authentication server.

[2018-07-30 20:58] robfig commented on #1118
Very much looking forward to this. Will this new set of work include collecting baseline coverage?

https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/runtime/commands/CoverageCommand.java#L61

[2018-07-30 21:28] dkelmer commented on #3115
Apologies, this is still not working for load statements in bzl files. Working on a fix now. You can look at the issue referenced above for a repro case.

[2018-07-30 22:43] jin commented on #5689
@dslomov is generate_workspace still the recommended solution for transitive deps? If not, should we clarify it on the docs?

[2018-07-30 23:16] brian-peloton commented on #5594
Even if I set --javabase and --host_javabase, builds still don't work on a machine where `which javac` finds a broken JDK. Is there some other flag that also needs to be set to completely avoid the system-installed JDK from affecting builds?

[2018-07-30 23:35] jin commented on #1689
@lberki do you mind verifying this? is the documentation wrong?

[2018-07-30 23:44] jin commented on #5700
Hi, please ask questions (non-bugs or feature requests) on the [bazel-discuss mailing list](https://groups.google.com/forum/#!forum/bazel-discuss), or on [StackOverflow](https://stackoverflow.com/questions/tagged/bazel). Thanks!

[2018-07-30 23:44] #5700 closed

[2018-07-30 23:46] brian-peloton commented on #5594
Specifically, with this WORKSPACE:
[code]
And this BUILD:
[code]

This works (I'm doing this on a machine with a working JDK found via `which javac`):
[code]
But this fails:
[code]

[2018-07-31 00:09] roblg opened #5711 "Sporadic build failures after upgrading to 0.15.2: "java.util.concurrent.RejectedExecutionException: event executor terminated""
### Description of the problem:

After upgrading from bazel-0.13.x to bazel 0.15.2, we're getting sporadic build failures where the build appears to get all the way to the end successfully, and then fails. I don't know if this is specific to bazel 0.15.2, but it appears to at least occur more frequently now than it used to.

It seems relevant that we're using the http-based action cache (SimpleBlo

[2018-07-31 01:01] jin commented on #5711
Assigning this to @buchgr, since it looks related to remote caching.

[2018-07-31 02:54] jin commented on #5683
@sergiocampama ping, PTAL and rollback if needed.

[2018-07-31 02:58] jin opened #5712 "Gerrit failing on Downstream (Ubuntu 14.04)"
[code]

from https://storage.googleapis.com/bazel-buildkite-artifacts/f809d4b7-3c69-4878-926d-953da0c11236/resources/com/google/gerrit/server/commit-msg_test/attempt_1.log

https://buildkite.com/bazel/bazel-with-downstream-projects-bazel/builds/364#f809d4b7-3c69-4878-926d-953da0c11236

@davido

[2018-07-31 03:01] jin opened #5713 "//src/test/java/com/google/devtools/build/lib:remote-tests timing out on Buildkite Remote Tests"
[code]

https://buildkite.com/bazel/bazel-with-downstream-projects-bazel/builds/364#6c5daea5-5550-4190-b73a-a0a53c56a8f2

[2018-07-31 03:13] kevinashaw opened #5714 "Unable to upgrade bazel to 0.15"
### Description of the problem / feature request:
Problem:
I'm trying to install `bazel` but even though it completes successfully: "Bazel is now installed!"  The actual version of bazel is unchanged.

### Feature requests: what underlying problem are you trying to solve with this feature?

How do I correct this so that I can upgrade Bazel

### Bugs: what's the simplest, easiest way to reproduce t

[2018-07-31 03:14] jin commented on #2839
This seems to be fixed.

[2018-07-31 03:14] #2839 closed

[2018-07-31 03:15] jin commented on #2889
Closing this as issue is stale. @karanaggarwal1994 please reopen the issue if you have an reproducible example for us to investigate. Thanks.

[2018-07-31 03:15] #2889 closed

[2018-07-31 03:16] jin commented on #2628
Closing as issue is stale. @tiantianwei please reopen if you are still running into the error. Thanks.

[2018-07-31 03:16] #2628 closed

[2018-07-31 03:18] jin commented on #3301
This seems to be fixed. Closing.

[2018-07-31 03:18] #3301 closed

[2018-07-31 03:24] jin commented on #5151
cc @sergiocampama, is XcTestAppProvider supposed to be documented?

[2018-07-31 03:25] cushon commented on #5594
Are you setting the `--host_javabase` build flag, or startup flag, or both?

[2018-07-31 03:30] #5407 closed

[2018-07-31 03:33] jin commented on #3061
Closing this issue as it is stale. @pedrokiefer please reopen the issue if you're able to reproduce with the latest Bazel versions. Thanks.

[2018-07-31 03:33] #3061 closed

[2018-07-31 03:36] jin commented on #5714
What does `which bazel` return you? There may be another Bazel installation that is selected before your shell reaches `/home/ubuntu/bin` in the $PATH.

[2018-07-31 05:06] kevinashaw commented on #5714
Here is the result of `which bazel`:
`/home/ubuntu/anaconda3/envs/tensorflow_p36/bin/bazel`

[2018-07-31 05:12] jin commented on #5714
Yep, that installation of Bazel is probably the old `0.8.1`. You may want to investigate your `$PATH` variable (`echo $PATH`) and make sure that `/home/ubuntu/bin` comes before `/home/ubuntu/anaconda3/envs/tensorflow_p36/bin/`. I don't know how/what anaconda3 does, so bear in mind that this will switch the used `bazel` to the one in `/home/ubuntu/bin`.

[2018-07-31 06:51] waffel commented on #5689
I do not know if this has in general todo with "generate_workspace". This was only one example project where the fetch of maven artifacts from nexus does not work.

For me it is a general issue how to include external maven dependencies with a protected repository management system (like nexus or artifactory).

For this is also not a feature request. It is a bug in the current version that this do

[2018-07-31 07:13] davido commented on #5712
@hanwen Any insights here? You asked the same question on dev mailing list recently: [1].

[1] https://groups.google.com/d/topic/repo-discuss/WFIsKw7YPpw/discussion

[2018-07-31 07:33] mhlopko commented on #2670
CC @oquenchil
Tracking bug is https://github.com/bazelbuild/bazel/issues/4570. Bazel@HEAD accepts `--experimental_enable_cc_skylark_api` that will enable the current WIP version of the API. It's only for experimenting at this point, we break it daily, and we will not support users using it yet. But feedback is more than welcome

[2018-07-31 07:34] mhlopko commented on #4570
Bazel@HEAD now accepts `--experimental_enable_cc_skylark_api` that will enable the current WIP version of the API. It's only for experimenting at this point, we break it daily, and we will not support users using it yet. But feedback is more than welcome.

[2018-07-31 07:39] buchgr commented on #5713
Not sure how to debug since we are not getting logs on timeout from the remote execution system :D

[2018-07-31 07:48] buchgr opened #5715 "BEP event ID of type PatternExpandedId could be large"
In the BEP, the `PatternExpandedId` event contains a child event for every expanded target being built. We have seen large builds (10,000s of targets) to cause the event size (protobuf message size) to get larger than 50MiB. We need to find a way to keep protobuf messages small, as this can be a huge burden for consumers.

[2018-07-31 07:51] mhlopko commented on #5634
Thanks for the report. I don't plan to work on this until https://github.com/bazelbuild/bazel/issues/5187 is done. And I can see an universe in which we won't need so many env vars to tweak C++ toolchain. But nothing concrete yet. If this is urgent, let me know, and I will help the PR.

[2018-07-31 07:53] mhlopko commented on #2537
I consider it as P2, and I interpret P2 as likely being fixed in the mid term. I just didn't have time to look into it yet (in the last year apparently :).

[2018-07-31 08:01] hanwen commented on #5712
see comment on https://gerrit-review.googlesource.com/c/gerrit/+/189250

You need to install git 2.2 or newer onto the base image that runs the CI.